[2019-05-28 19:33] jmarantz commented on #7073
Capture it where? A new Envoy filter can be written to capture a response body and write it somewhere; not sure if there's a built-in one that does that.

[2019-05-28 19:34] jmarantz commented on #7035
I think the coverage looks great now for stats. Only thing missing is ThreadLocalStore::nullGauge() -- will keep this open and finish that off when I get a sec.

[2019-05-28 20:55] jmarantz commented on #7080
@fredlas RE "should never change" violates murphy's law, section 1, paragraph 1 :)

@mattklein123 I definitely like your first suggestion -- I'll just go back to using 2 flag bits to represent it. I think maybe I don't really need to do your second one though. I was worried about the admin /stats endpoint showing a value we'd discard, but we could just skip stats in this transient state, even if t

[2019-05-28 21:01] fengli79 commented on #6632
I feel this is more like getting gzip filter support chunked transfer encoding. grpc web filter may write back response multiple time, in case of response streaming. In that case, gzip filter should go ahead to compress the content without the content length, and later on, envoy may chunk them back.

[2019-05-28 21:05] fredlas commented on #7080
That's what full restarts are for; please reread what I wrote.

[2019-05-28 21:08] jmarantz commented on #7080
Yup -- I read that. That latter issue of someone borking the ImportMode when creating a gauge, and in a later revision fixing it, not thinking this would be a hot-restart version-bump.

Also: I figured out the way gauges are captured, via MetricSnaphotImpl in server.cc. Will be very easy to filter out the not-yet initialized stats that were pulled in from the hot-restart protobuf.

[2019-05-29 00:56] animeshsingh commented on #4724
@githubYasser do we have any updates on it? Can we capture request/response from envoy?

[2019-05-29 01:45] Strainy commented on #7084
We're running the official envoy Docker image: `envoyproxy/envoy@sha256:2f61a649cfbcd5ead787f0eed69ad819b035ceebff4f6e064a313f34f71f9696`

Here's the server info:
[code]

In terms of the envoy.yaml, we're using the DataDog extension for tracing and stats. We also have a Lua script in the http.filter chain that performs a JSON decode of a header added by our auth system and appends some of that inf

[2019-05-29 01:59] mattklein123 commented on #7080
@jmarantz @fredlas I definitely think we need to guard against someone changing the import type without understanding the implications.

@jmarantz I'm not sure whether it's easier to withhold the stats at push/pull time that came in from the parent or just not add them at all. It's probably a wash so I'm fine either way.

Overall this plan SGTM.

[2019-05-29 02:00] mattklein123 commented on #7085
cc @zuercher

[2019-05-29 02:01] mattklein123 commented on #7086
This would need to be exposed from the Lua wrappers. It's not available today.

[2019-05-29 02:11] keith commented on #6995
@hlopko let me know if I can help with any of these!

[2019-05-29 02:12] mattklein123 commented on #7073
You can use tap support: https://www.envoyproxy.io/docs/envoy/latest/operations/traffic_tapping

[2019-05-29 02:13] jmarantz commented on #7084
I have 3 guesses: Lua, envoy binary size, and docker allocation.

My first thought is that Lua is using its own memory management infrastructure which bypasses tcmalloc -- the system used by default in Envoy on many platforms. Lua may be allocating a significant chunk of memory for its own garbage-collected world.

But really I have no data on which to make this claim.  Maybe @dio knows more about

[2019-05-29 02:21] #7089 closed

[2019-05-29 03:10] pyrl247 commented on #7085
It happened when I used thrift simpleserver,the request rpc blocked after I restart thrift client.

[2019-05-29 03:27] #7020 closed

[2019-05-29 06:16] mittalvikas commented on #6270
I am also stuck at this point, any suggestions?

[2019-05-29 06:18] mittalvikas commented on #5011
any update on this issue?

[2019-05-29 06:26] Satvindar commented on #7082
I took the latest code today and facing same error. Hence reopening this issue.
Further Details:
Ubuntu 16.04 LTS
clang version 8.0.0
Bazel  version 0.25.0
go version go1.12.5 linux/amd64

Let me know if you need further details.

[2019-05-29 06:30] Satvindar commented on #7082
I am not able to re-open this issue .

[2019-05-29 07:58] hlopko commented on #6995
Both https://github.com/envoyproxy/envoy/issues/6968 and https://github.com/envoyproxy/envoy/pull/6866 could use somebody with Envoy domain knowledge to push them forward :)

https://github.com/envoyproxy/envoy/pull/7058 seems unblocked and will be submitted hopefully soon.

[2019-05-29 11:02] jmarantz commented on #7082
Can you attach the complete output of your bazel command?

[2019-05-29 11:12] Satvindar commented on #7082
ERROR: /home/i309801/Desktop/envoy/source/extensions/filters/network/kafka/BUILD:92:1: C++ compilation of rule '//source/extensions/filters/network/kafka:serialization_lib' failed (Exit 1) envoy_cc_wrapper failed: error executing command /home/i309801/.cache/bazel/_bazel_i309801/b6d0838a6096d725b6cb04aa30aa8841/external/local_config_cc/extra_tools/envoy_cc_wrapper -U_FORTIFY_SOURCE -fstack-protect

[2019-05-29 13:04] jmarantz commented on #7082
Thanks. I am wondering if this is specific to the Kafka extension or if you can't compile anything on your machine.

Can you try
[code]
and if that works?

[2019-05-29 14:05] pjunodsc opened #7096 "Endianness issue with encoding IPv6 addresses as uint128_t variables"
The line https://github.com/envoyproxy/envoy/blob/a3cb9ad136a8eacbfae12d52f45d6baf4a73fabf/source/common/network/address_impl.cc#L262
is supposed to convert an IPv6 address expressed as an array of 16 bytes in network byte order (aka big-endian) from a POSIX-compliant `struct in6_addr` object in a `uint128_t` variable. Unfortunately, it does so without taking into account endianness issues.

Netwo

[2019-05-29 14:09] cmluciano commented on #6602
@htuch @jmarantz Would you consider this a blocker before implementing [nginx style rewrite rules via rds.RedirectAction](https://github.com/envoyproxy/envoy/issues/2092) ?

The final comment on a PR addressing 2092 was closed with the author suggesting that [a prefix trie should probably be preferred over std::regex](https://github.com/envoyproxy/envoy/pull/4403#issuecomment-478042972) .

[2019-05-29 14:11] mattklein123 commented on #6602
@cmluciano no, I think that feature can be independently added.

[2019-05-29 14:34] TBoshoven commented on #6897
Unfortunately, after updating the service to gRPC 1.21.1, things still fail in the same way.
Tested using the latest Envoy dev Docker container.

[2019-05-29 15:15] jmarantz commented on #7096
@pjunodsc nice catch; are you volunteering to fix?

[2019-05-29 17:25] #6668 closed

[2019-05-29 19:25] #6569 closed

[2019-05-30 00:27] bplotnick commented on #7082
As another data point, I get this while running `tools/bazel-test-docker.sh //test/integration:hotrestart_test` on master

[2019-05-30 07:35] Satvindar commented on #7082
@jmarantz  it worked !!  Now all 168 tests passed.
But Bazel build still fails with same error as mentioned previously.  Anything else we can do?

[2019-05-30 07:37] Satvindar commented on #7082
@bplotnick i tried the command you shared, build failed for me.

[2019-05-30 07:44] dio commented on #7082
Sorry, did you try to clean it up and rebuild? like `bazel clean --expunge`

[2019-05-30 07:47] dio commented on #7086
So basically you want to let Lua script to modify (by calling setOperation) the operation name here. @Dudesons do you think you're up to help us to implement this? 🙂

[2019-05-30 08:23] Satvindar commented on #7082
@dio  now i got different error:

/home/i309801/Desktop/envoy/source/extensions/clusters/redis/BUILD:11:1: C++ compilation of rule '                                                               //source/extensions/clusters/redis:redis_cluster' failed (Exit 1) envoy_cc_wrapper failed: error executin                                                               g command /home/i309801/.cache/bazel/

[2019-05-30 08:27] Dudesons commented on #7086
@dio Yes, it's that.
I'm interresting to try to implement that I'll keep you in touch

[2019-05-30 08:58] dio commented on #7086
@Dudesons, sure. Please let me know if you need any help. And you if you haven't, you can always jump our slack and ask questions there. Good luck!

[2019-05-30 09:24] pyrl247 commented on #7085
I think I may know way this happen.The second thrift request dispatch to different worker thread by libevent,so when thread switches ,the ready_conns_ is empty, so it need create new connection with server,and the server is simple server which can not accept new connection.

[2019-05-30 14:34] fttyX opened #7107 "Multiple RDS resources"
Is it possible to have multiple RDS resources?

I tried to feed envoy with 2 RDS resources (with different names) and got: "REST config update rejected: Unexpected RDS resource length: 2" error.

Checked source code and found this:
https://github.com/envoyproxy/envoy/blob/73c46c9aba2c032f8fccb32e1b2c0c7a1df25a8d/source/common/router/rds_impl.cc#L163

Any reason for that?

In my configuration I nee

[2019-05-30 16:30] jmarantz opened #7109 "stats: simplify data structures"
There are a few opportunities for both code simplification and moderate memory reduction due to @fredlas removal of shared-memory stats. Off the top of my head:
 * We don't need the Gauge and Counter to share any underlying data structure so fields used by only one of them can be elided in the other. They were previously shared to make it easier to do uniform block allocation in a fixed sized shar

[2019-05-30 17:05] #6681 closed

[2019-05-30 17:15] mattklein123 commented on #7109
Big +1, these are the kinds of simplifications I was hoping for with shared memory gone.

[2019-05-30 17:22] #6902 closed

[2019-05-30 18:46] jmarantz commented on #7109
Of course I don't want to start down any of these till https://github.com/envoyproxy/envoy/pull/7083 is in :)

[2019-05-30 18:52] incfly opened #7111 "Add DynamicSecretConfig information in `config_dump` endpoint"
*Title*: *Better Secrets Config Dump for SDS*

*Description*

We lack debugging information about secrets (specifically key/cert) that is fetched by SDS.

What we have today
- :<admin_port>/config_dump prints out the listener/cluster/etc, where SDS configuration is inlined.
- :<admin_port>/certs prints out all the certificates from the `ContextManager`.

What we want
- Something similar to [`admin

[2019-05-30 18:52] incfly commented on #7111
/cc @PiotrSikora @JimmyCYJ

[2019-05-30 19:32] fredlas commented on #7109
Great, sounds like the stats directory will be much easier to read on the other side of this work!

[2019-05-30 19:56] derekargueta commented on #6739
@mohammadMahdavi can you clarify what you mean by "rename existing header"? Are you talking about a scenario where you have a request with header `A: foobar` and want to rename it to `B: foobar`? If so, I don't think there's a configuration option for this, you can accomplish it with a simple filter or Lua snippet.

[2019-05-30 21:05] #6686 closed

[2019-05-30 21:06] alertedsnake commented on #6897
I can add some more detail to what @TBoshoven said - I've spent much of the day working with combinations here, and with the same server code, if I swap grpc 1.19.0 for 1.20.0, it breaks in the way he describes.

I did some packet capturing with Wireshark, and in the 1.20 case, the 19th packet is a `[FIN, ACK]` packet rather than application data, and then everything further is different.  I'm not

[2019-05-30 22:49] PiotrSikora opened #7116 "Add regression test for Lua panicking"
*Description*:
Add regression test for Lua panicking (Fixed in #6994).

*Repro steps*:
Start Envoy:
[code]
Send a few requests and wait for refused connections:
[code]
[code]

*Config*:
[code]
[code]

*Logs and Call Stack*:
[code]

[2019-05-30 22:52] PiotrSikora commented on #7116
cc @lizan

[2019-05-30 23:58] mattklein123 commented on #1606
To all watchers, I have a plan to implement this and will start soon. This will be a combination of an HTTP filter and a customer cluster/LB pair.

My question is what should this be called? There is no clearly good name that I can think of that will make it clear what the filter and cluster/LB do. Some options:

1) http_proxy
2) outbound_http_proxy
3) generic_http_proxy
4) ?

Please LMK if any of

[2019-05-31 02:03] dio commented on #7082
@Satvindar seems like you can try to use clang and clang++ from llvm-8 to compile it. As you have mentioned that you have it in your machine (assumed it is installed at `/usr/lib/llvm-8`).

[code]

[2019-05-31 02:47] skydoctor commented on #1606
FWIW similar feature in nginx is usually referred as forward_proxy although the word "forward" is not mentioned in the configuration required to achieve this:

https://umbrella.cisco.com/blog/2015/11/03/lets-talk-about-proxies-pt-2-nginx-as-a-forward-http-proxy/
https://ef.gy/using-nginx-as-a-proxy-server

[2019-05-31 04:39] Strainy commented on #7084
Is it possible to monitor Lua memory allocation? I can only see `server.memory_allocated` and `server.memory_heap_size` reported from the `/stats` endpoint 🤔

Docker itself might allocate some memory, but I'm really looking at the envoy process memory specifically.

We recently changed our AWS instance type, and as such the host (not the container) has significantly more memory available. Would th

[2019-05-31 08:19] Satvindar commented on #7082
@dio  Thnaks a lot .  Build is successful now.
But integration tests are failing when i run below command for http-filter-example:
  bazel test //http-filter-example:http_filter_integration_test

ERROR: /home/i309801/Desktop/envoy-filter-example/http-filter-example/BUILD:47:1: C++ compilation of rule '//http-filter-example:http_filter_integration_test_lib_internal_only' failed (Exit 1) envoy_cc_wr

[2019-05-31 12:38] klarose commented on #1606
I second 'forward proxy'. [Wikipedia](https://en.wikipedia.org/wiki/Proxy_server#Types_of_proxy_servers) calls it that as well to distinguish it from reverse proxies.

[2019-05-31 13:35] lizan commented on #1606
+1 'forward proxy'.

btw do we really need a new set of an HTTP filter and a customer cluster/LB pair? The really only missing part is resolving DNS for current `original_dst` IIRC.

[2019-05-31 13:46] lizan commented on #6897
@alertedsnake @TBoshoven TLS enabled where? between client and envoy, or between envoy and upstream gRPC server, or both?
Can you post, or email me if you don't want to disclose, a full config with a trace (not debug) log?

[2019-05-31 13:55] alertedsnake commented on #6897
@lizan sorry, I should have mentioned that.  TLS enabled between envoy and the upstream gRPC service.  It uses authentication, so it only listens with TLS.  If we have the gRPC service listen without TLS, everything works fine.

I'm using @TBoshoven 's envoy config, and I don't know anything about envoy here at all, so I'm not sure how to provide you the logs you're looking for.

[2019-05-31 13:57] mattklein123 commented on #1606
The reason I don't think "forward proxy" by itself is a great name is that Envoy can already be used as a forward proxy, just a statically configured one. Perhaps "http_forward_proxy" ?

@lizan re: original_dst, the issue there is we do not have any async mechanisms around `chooseHost`. So the options there would be to a) make `chooseHost()` async, which is a very non-trivial change or b) Actually

[2019-05-31 14:03] lizan opened #7120 "Make protodoc.bzl compatible with Bazel 0.26+"
*Description*:
Remove `--incompatible_depset_union=false` from `docs/build.sh` added in #6866.

*Relevant Links*:
See recommends in https://docs.bazel.build/versions/master/skylark/depsets.html

[2019-05-31 14:03] skydoctor commented on #1606
Hmm. Perhaps "dynamic_forward_proxy" or "generic_forward_proxy" since the distinguishing feature here is that the destination cluster is not pre-configured.

[2019-05-31 14:05] sumukhs commented on #6748
I have started working on a DNS filter based on the UDP listener added in #6912 . @mattklein123 - Do you think it might be useful to have this extension in envoy based on the interest here?

Here is a V1 proto I have for now - [dnsproto](https://github.com/sumukhs/envoy-dnsfilter/blob/master/dns.proto ). I will be happy to share the design doc if needed.

I read the requirements about needing a sp

[2019-05-31 14:07] mattklein123 commented on #1606
I like "dynamic_forward_proxy" +1 to that.

[2019-05-31 14:09] mattklein123 commented on #6748
cc @lizan @PiotrSikora who had mentioned that Istio might want a DNS filter. ^ Sure let's discuss on the community call.

[2019-05-31 14:11] lizan commented on #1606
I see, thanks for the explanation. I didn't take at deeper look on this. Just a random thought, will "a) make `chooseHost()` async" be a more generic solution? i.e. in the future some cluster/lb extension will need it anyway, rather than requiring those extension, like the generic proxy here, to be a combination of filter + cluster?

[2019-05-31 14:16] mattklein123 commented on #1606
Yeah, I've had the same thoughts here. I do agree that figuring out how to (optionally) make `choostHost()` async would be a good capability to have, but it will be an extremely complicated change, and I'm not sure it's worth doing unless we know for sure that we need this in multiple places. WDYT?

[2019-05-31 14:38] TBoshoven commented on #6897
The logs I provided in my initial report are still valid.

Here's my cleaned-up config with a bunch of stuff that I poked at in a comment:
[code]
The uncommented part of this worked with gRPC 1.19 and not 1.20.

[2019-05-31 15:44] mattklein123 commented on #7111
+1 this sounds great.

[2019-05-31 16:04] bobby-stripe commented on #7061
maybe to give a little more context here, it looks like:

0. Nginx doesn't enforce HTTP header values are RFC compliant
1. Envoy's H1 protocol implementation doesn't validate HTTP headers are RFC compliant
2. client-side/downstream nghttp2 doesn't validate HTTP headers are RFC compliant (see discussion on https://github.com/nghttp2/nghttp2/issues/641 )
3. server-side/upstream nghttp2 calls `nghttp

[2019-05-31 16:39] yangminzhu commented on #6751
Closing for now, we just promoted the RBAC API from v2alpha to v2 so probably we will keep it stable for some time, will investigate options for improvement later.

[2019-05-31 16:39] #6751 closed

[2019-05-31 16:56] dcarney-stripe commented on #7061
@bobby-stripe Thanks for the additional context, and for digging up that `nghttp2` issue (which didn't seem to get any attention since it was created in 2016).

As some "supporting evidence" for the type of fix that you proposed, we can look at how Go handles this: Go uses the [httpguts.ValidHeaderFieldValue](https://godoc.org/golang.org/x/net/http/httpguts#ValidHeaderFieldValue) function (which s

[2019-05-31 17:28] jplevyak opened #7123 "HTTP/1.0 responses without Connection: keep-alive should be closed."
**Issue Template**

*Title*: HTTP/1.0 responses without Connection: keep-alive should be closed.

*Description*:
The HTTP/1.0 specification says that connections carry a single request and then are closed unless the response includes "Connection: keep-alive".

[optional *Relevant Links*:]
https://tools.ietf.org/html/rfc1945
https://en.wikipedia.org/wiki/HTTP_persistent_connection

**Bug Template**

[2019-05-31 17:29] klarose commented on #1606
I've been playing around with a hackish solution to this myself. The general design is:

1. Original Dst cluster
2. Use an external service (via the ext_authz header) to resolve the requested host to an IP

I had a few problems with it:
1. The connection pooling of the original_dst cluster didn't seem ideal, since the resolved IP may change with each request.
2. One thing I couldn't get working wa

[2019-05-31 18:54] pitiwari commented on #7017
@mattklein123 here is the design document. Please provide the feedback and we will make changes accordingly

https://docs.google.com/document/d/1u_HOy96rp6WL4Y6mVqWmiO1NXySM4uvVTVXsRK9B2FY/edit?usp=sharing

[2019-05-31 19:56] Frodox commented on #6098
Bump

[2019-05-31 20:20] mattklein123 commented on #1606
@klarose I have a complete plan for a non-hacky solution, so will move forward with that. Connection pooling should work properly since each DNS target will have its on logical host, similar to how logical DNS works.

CONNECT support is orthogonal as you point you, and similar to web socket. With that said, the new filter I am going to write I think can easily support CONNECT and just be the termi

[2019-05-31 20:24] klarose commented on #1606
@mattklein123 Awesome, thanks. I didn't meant to propose my hack as an alternative. More that it might validate some of the assumptions (async dns resolution), and point out some drawbacks I found with it.

Do you have the plan documented anywhere? I'm not sure how much time I'll have over the next month (about to start sprinting hard towards something), but I wouldn't mind staying in the loop/hel

[2019-05-31 20:28] mattklein123 commented on #1606
Only in my head right now. I can write it down if you want, or I can just go ahead and implement the basic version with a bunch of TODOs (host cleanup via TTL, max DNS, etc.) and then maybe you can help out with some of the follow ups? WDYT?

[2019-05-31 20:54] #7080 closed

[2019-05-31 21:18] mattklein123 opened #7128 "Rethink ALL_CLUSTER_STATS"
We have been dumping a bunch of things in ALL_CLUSTER_STATS that are specific certain aspects of Envoy configuration and/or extensions. Given that these stats are the largest users of memory, and there is cognitive load for having stats that are not used, we should consider breaking this apart and allowing code/extensions to create sub-scopes in the cluster for specific things.

For example:

[cod

[2019-05-31 21:20] #4457 closed

[2019-05-31 21:22] jmarantz commented on #7128
sgtm generally. is the general idea that a given configuration wakes up well-understood subsets of these stats, and we only need to create the ones that we know we need?

[2019-05-31 21:25] htuch commented on #6592
@yanavlasov do you reckon we will be able to externalize your work on this?

[2019-05-31 21:29] #6968 closed

[2019-05-31 21:30] mattklein123 commented on #7128
Yup exactly.

[2019-05-31 21:36] howardjohn opened #7130 "Filesystem subscription assert failure, inotify_fd_ negative"
**Issue Template**

*Title*: Filesystem subscription assert failure, inotify_fd_ negative

*Description*:
Create a large config using filesystem based XDS, seems to crash every time with `assert failure: inotify_fd_ >= 0`

Running `envoyproxy/envoy-dev:829b905ca0fdc85233c3969247e53a62a52ac627` on Kubernetes

I have 226 different eds files and 14 different rds files

*Config*:

[code]
I can provide

[2019-05-31 22:08] Stono commented on #1979
This is exactly what I've just spent weeks debugging in istio haha.
https://github.com/istio/istio/issues/13848#issuecomment-497874246

[2019-05-31 23:27] yanavlasov commented on #6592
Yes, I think so. Let's discuss on Monday.

[2019-06-01 00:06] howardjohn commented on #7130
This was fixed by setting `sysctl -w user.max_inotify_watches=524288`, so feel free to close this unless there is interest in improving the error message, as it isn't immediately obvious what the issue is

[2019-06-01 00:08] kaisen commented on #6959
@ramaraochavali unfortunately `/config_dump` will only show a port value of 0 instead of the actual port that Envoy listens on.

[2019-06-01 00:45] derekargueta commented on #1569
Side note, I tried doing something similar with our internal runtime container (include tools so we can do on-the-fly checking and CI-checking), but because the tools use the `envoy_cc_test` targets, which have some degree of [dynamic linking](https://github.com/envoyproxy/envoy/blob/master/bazel/envoy_test.bzl#L63)(?) I get an error like:
`libatomic.so.1: cannot open shared object file: No such f

[2019-06-01 02:02] mattklein123 commented on #7130
I would probably just make the RELEASE_ASSERT error message describe which sysctl might need tweaking. Marking help wanted but PRs appreciated.

[2019-06-01 02:05] mattklein123 commented on #5225
I just looked at this in the context of https://github.com/envoyproxy/envoy/issues/1606 and found my old comment as it is indeed relevant. I will fix this, it's not hard.

[2019-06-01 02:10] mattklein123 commented on #1606
In thinking about this a bit more, I think CONNECT support is going to require being implemented directly in the HCM since it needs to upgrade to TCP much like web socket does. Given this, it's possible that the dynamic forward proxy DNS caching system may need to be used by the HCM also if we don't somehow allow a filter to effectively upgrade to raw TCP. My feeling is to cross this bridge when w

[2019-06-01 03:30] ramaraochavali commented on #6959
Ok. Thank you. I did not notice that. So should we enhance /config_dump to
add the port?

On Sat, 1 Jun 2019, 05:39 Kaisen Chen, <notifications@github.com> wrote:

[2019-06-01 04:31] stevenzzzz opened #7132 "add common typo detection in CI"
**Issue Template**

*Title*: Add common typos detection in CI

*Description*:

We should consider add a better linter or some common typo detection in our CI.

[optional *Relevant Links*:]

[2019-06-01 06:25] dio commented on #7082
@Satvindar Ah, that's true. Since this https://github.com/envoyproxy/envoy/pull/6564 is merged we no longer have that `c_str()` for `HeaderString`.

[code]

Do you think you can help us to submit a fix for that? It is in this line: https://github.com/envoyproxy/envoy-filter-example/blob/master/http-filter-example/http_filter_integration_test.cc#L39

And seems like this is not related to your first

[2019-06-01 06:25] #7082 closed

[2019-06-01 06:30] giorgiozoppi commented on #6588
@htuch I will dig into the chromum library.

[2019-06-02 12:30] zplinuxlover opened #7133 "build envoy on macOS failed"
I build envoy on macos, the environment is
the macos is Mojave
the clang is
Apple LLVM version 10.0.1 (clang-1001.0.46.4)
Target: x86_64-apple-darwin18.5.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin
   I follow the step of the document ,but i got the error message

bazel build //source/exe:envoy-static --action_env=PATH=

[2019-06-02 16:11] indrayam commented on #7133
I followed the steps documented here: https://github.com/envoyproxy/envoy/tree/master/bazel. And yes, I too have **not** been able to compile Envoy on my Mac (MacOS: 10.14.5) or Ubuntu (16.04). FYI, I am using bazel 0.26 on both OS.

**Error on my Mac:**
![envoy-compile-error-3](https://user-images.githubusercontent.com/6824/58763904-037d2100-852f-11e9-9587-f915b6a9acb3.png)

**Error on my Ubuntu:

[2019-06-02 20:58] lizan commented on #7133
You'll need to checkout the source code from git, the build process depending on git version info and they are failing on that. Also for 1.10.0 you'll need bazel 0.22, which is baked into the docker image for building v1.10.0 so docker build should be fine.

[2019-06-02 23:28] crazyxy opened #7135 "Opportunistic encryption for downstream envoy"
I was wondering if would there be interest in adding opportunistic encryption to envoy?

**Description**:
When downstream envoy tries to connect to upstream hosts, the downstream envoy is able to select the connection to be encrypted (TLS) or not (plain text) according to existence the `tls_context`. If one of the load balance endpoints doesn't support TLS connection, it will return 503 when picki

[2019-06-03 00:06] #6685 closed

[2019-06-03 07:51] rajatsharma94 opened #7136 "grpc keepalive/h2 ping support for upstream"
gPRC currently uses h2 pings to check the channel health status. As per the gRPC docs, this needs to be enabled on both gRPC server and the client. The default for GRPC_ARG_KEEPALIVE_PERMIT_WITHOUT_CALLS is false, which means if the client tries to send h2 pings, server will reset the connection.

#2086 mentions that envoy will revert back to any downstream h2 pings, which seems like a sensible fl

[2019-06-03 08:10] dio commented on #7136
Hi @rajatsharma94, are you using [Google](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/grpc_service.proto#core-grpcservice-googlegrpc) or [Envoy](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/grpc_service.proto#envoy-api-msg-core-grpcservice-envoygrpc) gRPC?

[2019-06-03 08:40] rajatsharma94 commented on #7136
@dio I'm using envoy_grpc for the upstream clusters.

[2019-06-03 09:46] derekargueta commented on #6362
Started a bookkeeping spreadsheet and besides `translateCluster` (and dependents) I'm finding that we're basically blocked on deleting the `deprecated_v1` option (related #7129). Until then, we can't remove all the filter JSON translations (including HttpConnectionManager)

https://docs.google.com/spreadsheets/d/1fv7bYnkhQUYtHKJy7MgcL-vW6ZiQGpAcTjnwd5NqG7M/edit?usp=sharing

[2019-06-03 11:30] pyrl247 opened #7138 "thrift method return void will increase response_error"
When thrift method return void ,the metirc response_error will increase .As I debug the envoy,the method ConnectionManager::ResponseDecoder::fieldBegin won't be called ,I think there is something worng with it.

[2019-06-03 14:14] gnz00 commented on #6972
FWIW I am also seeing a 403 Forbidden response when sending a Websocket upgrade request, e.g. `Upgrade: websocket` over H/1.1 with the same configuration. I haven't dug into it any further though.

[2019-06-03 15:24] indrayam commented on #7133
Yup, thanks for that tip. That said, I was able to get around it by using the [hack](https://github.com/envoyproxy/envoy/issues/2181#issuecomment-378290320) documented in Step 1

Ugh. Sure wish this was clearly called out in this [document](https://github.com/envoyproxy/envoy/tree/master/bazel#building-envoy-with-bazel)

I was *finally* able to make things work on my end. I have documented it all

[2019-06-03 16:10] lizan commented on #7138
@zuercher

[2019-06-03 16:51] alyssawilk commented on #1606
Yeah, I'd envisioned CONNECT going over the same upgrade path, and maybe eventually allowing filter chain overrides (I think some day we'll want per-route filter chains for other reasons and they could be used for this as well) for folks who want to not apply L7 filters to them.

[2019-06-03 17:51] kaisen commented on #6959
@ramaraochavali Adding the bound port to /config_dump would work as well. I don't really have a preference either way. Both would solve my issue of determining the actual bound port for a listener.

[2019-06-03 18:26] wu-bin commented on #6588
@htuch : Per @vasilvv, QUICHE only uses googleurl in some client utility class, not in the core code, so although we'd like to port googleurl into QUICHE, we can't really give a specific timeframe for that to happen.

[2019-06-03 18:27] Satvindar commented on #7082
@dio  Yes, I modified the code and its working.
I will create a PR for this change and will add you as a reviewer.
Thanks :)

[2019-06-03 19:34] ivitjuk commented on #5215
I spoke with @lavignes and the plan is that I take over this issue. After going through the thread I think following would be a way to go:

- a separate PR with only libcurl added as a new dependency (extracted from #5387)
- a set of new PRs based on #5546 but with reduced scope and based on libcurl

If that makes sense, I'll move forward with the implementation.

[2019-06-03 19:37] dio commented on #5215
@ivitjuk very much appreciated. Yes, please.

[2019-06-03 19:37] lizan commented on #5215
Sounds good to me, thanks!

[2019-06-03 20:02] #6896 closed

[2019-06-03 20:16] canselcik opened #7144 "What's the best way to send additional side-requests in an ActiveHealthCheckSession?"
Hi,

I am trying to healthcheck a service behind Envoy that requires more than one request to be made from Envoy.

Basically:

1- send request to origin
2- get response, use that response to send another request to the same origin
3- assert something about that response and based on that mark the origin active or not

And I am wondering what would be the best way to do (2).

I could re-use
[code]

[2019-06-03 20:17] canselcik commented on #7144
@mattklein123 feel free to mark it as a "question". Any pointers are appreciated. :)

[2019-06-03 20:57] derekargueta commented on #6362
@mattklein123 we can, I'd just be concerned about a code coverage regression again.

[2019-06-03 21:05] mattklein123 commented on #6362
@derekargueta IMO we should move forward. If we have to exclude the translation code from coverage we can.

[2019-06-03 22:13] crazyxy commented on #7135
From istio perspective, upstream Envoy supports three connection mode: `Plain Text (PT)`, `Permissive (Perm)` and `Strict`. Envoy implements these three modes using filter chain and tls context.

|Mode|Implementation|
|---|---|
|Plain Text|1 filter chain without `tls_context` |
|Permissive|2 filter chains. One filter chain has `tls_context` and another one doesn't|
|Strict|1 filter chain with `tls

[2019-06-03 22:15] mattklein123 commented on #7135
I wonder if this could be implemented somehow via a retry plugin? cc @snowp

[2019-06-03 22:17] mattklein123 commented on #7144
@canselcik I would potentially take a look at integration tests if you want some inspiration. Fundamentally, yes, you need to make multiple streams/requests against the upstream server.

[2019-06-03 22:25] mattklein123 commented on #7061
Thanks for all the detailed context and report.

The reason for this is that when nghttp2 detects the violation, it will reset the stream. Right now downstream Envoy will always end up translating that reset into a 503. It's possible that we could look at the reset type and translate to a 400 but I'm not sure it's worth it.

Overall, I agree that we should unify the H1 and H2 validation flows, so

[2019-06-03 22:42] snowp commented on #7135
If information was present on the endpoint/Host (as metadata or maybe just implicit in the port number) it would be easy to write a host predicate for it. That said, the predicate doesn't come into play on the initial request nor does it guarantee that it will find a host that matches the predicate if one exists, so there are some gotchas

[2019-06-03 23:28] duderino commented on #7135
btw @crazyxy is volunteering to write this

[2019-06-03 23:51] #6727 closed

[2019-06-04 00:32] derekargueta commented on #6362
@mattklein123 SGTM. In that case we can start divvying up the following
 - [ ] `translateAccessLog` (@derekargueta)
 - [ ] `translateAccessLogFilter` (@derekargueta)
 - [ ] `translateClientSslAuthFilter` (@derekargueta)
 - [ ] `translateFaultFilter`
 - [ ] `translateGrpcJsonTranscoder`
 - [ ] `translateHttpConnectionManager`
 - [ ] `translateRouter`
 - [ ] `translateSquashConfig`
 - [ ] `translate

[2019-06-04 01:30] xring opened #7148 "Lua filter can not get x-b3-* tracing headers"
*Lua filter can not get x-b3-* tracing headers*

*Description*:
Assume we have a http filter with Lua:
[code]
And with config for access log format:
[code]
Then try to access some resources curl https://foo.bar.com/book/booklist, and got log in Envoy:
[code]
As per access log, istio-ingressgateway has traceid 3753f153a3a4cc7153f1f82ac4187202 and spanid 53f1f82ac4187202, but I can not get these two

[2019-06-04 02:22] lizan commented on #7148
Yeah it has same cause from #6520, i.e. consequence from #5561.

I think the right way to fixing this is provide Lua API for active span instead of having Lua depends on those headers, which is similar to the suggestion in #6520.

[2019-06-04 02:28] htuch opened #7149 "HTTP/1.1, chunked encoding and trailers"
We've had a number of internal questions about how Envoy handles trailers with chunked encoded HTTP/1.1 when transcoding back and forth between HTTP/2. I.e. how do HTTP/2 trailers get represented. Looking at the HTTP/1.1 codec implementation, it doesn't seem like it does anything useful with the trailers in `StreamEncoderImpl::encodeTrailers`.

I'm thinking I'm missing something here, since I thou

[2019-06-04 03:19] wlhee commented on #7149
Thanks @htuch
Another corner case is HTTP/2 can send "trailers-only" (used by gRPC error message), how does envoy convert the trailers to HTTP/1.1?

[2019-06-04 03:23] gnz00 commented on #6972
As it turns out, adding an upgrade_config entry for “websocket” caused websockets to work as intended. However, adding an upgrade_config entry for “h2c” still results in a 403 Forbidden.

[2019-06-04 03:39] arjunsanal opened #7151 "How to force Envoy free up unused memory?"
**Issue Template**

*Title*: *How to force Envoy free up unused memory?*

*Description*:

I am using the official docker image envoyproxy/envoy-alpine:v1.10.0.

[optional *Relevant Links*:]

https://www.envoyproxy.io/docs/envoy/latest/api-v2/admin/v2alpha/memory.proto.html

[2019-06-04 04:30] lizan commented on #7149
@wlhee "trailers-only" is actually "headers-only" in term of HTTP/2, so that one can be transcoded to a normal HTTP/1.1 response without body.

[2019-06-04 04:33] lizan commented on #7149
@htuch AFAIK, `encodeTrailers` for HTTP/1.1 codec is not implemented just because no real world client handles that correctly, and emitting trailers with HTTP/1.1 chunked encoding might cause unexpected behavior. Also the gRPC-JSON transcoder expect that behavior of HTTP/1.1 codec.

[2019-06-04 04:38] wlhee commented on #7149
I see, this matches my observation. We want to transfer gRPC error message, which is a Trailers-only h2 response, over an intermediate HTTP/1.1 response. We can work around it for gRPC error message only.

[2019-06-04 04:42] wlhee commented on #7149
Is HTTP/1.1 codec used for h2->h1 transferring or h1->h1 transferring?
My observation shows h2->h1, trailers are actually encoded.
However, for h1->h1 via chunked encoding, trailers are dropped.

[2019-06-04 04:42] lizan commented on #7151
@arjunsanal the link you're referring for tcmalloc is outdated. See https://gperftools.github.io/gperftools/tcmalloc.html, try set `TCMALLOC_RELEASE_RATE` env to a higher value?

Envoy doesn't provide an explicit API to call `ReleaseFreeMemory`, adding an admin endpoint seems reasonable, PR is welcome.

[2019-06-04 05:23] gnz00 commented on #6972
@mattklein123 Looking at the code `autoCreateCodec` returns a Http/1.1 connection which at some point returns a 403. Seems like there 2 possible solutions to this and #1502,

1. We could modify `autoCreateCodec` to choose H2 if Http2ProtocolOptions is defined and `Upgrade: h2c` and `Connection: upgrade` are both present. We would need to prepend an h2c upgrade filter on the response chain that ens

[2019-06-04 14:16] rgs1 opened #7154 "seeing crash starting after syncing with 8d1ad35aa"
We synced up with master yesterday (8d1ad35aa) and about an hour ago we saw this crash:

[code]

I'll dive in to get more info and/or a repro, from a quick look I can't spot any obvious recent PR that would have triggered this.

[2019-06-04 14:30] rgs1 commented on #7154
actually, this started happening with 1065ee418ef8a13f0c98613e45d6a6ceed0405c6. Here's another one:

[code]

cc: @snowp

[2019-06-04 14:32] rgs1 commented on #7154
And another one, similar but different:

[code]

[2019-06-04 14:35] pjunodsc commented on #7096
Coming back. After having thought more carefully about this issue, it appears that `envoy` follows the same semantic that the structure `struct in_addr` for IPv4: when fetching the field `sin_addr.s_addr`, you receive the address in network order (aka big endian). Then, it's the responsibility of the application to convert it to host endianness, typically using `ntohl()`.

My bad. It's a non-issue

[2019-06-04 14:35] #7096 closed

[2019-06-04 14:37] rgs1 commented on #7154
Actually, it started happening after cab4ce6920f365e8e106cde6b14bd9db0865858b. So I wonder if 9dcc85683e1e67c616df35760bd1c68858e4c359 could trigger this.

cc: @htuch

[2019-06-04 15:15] mattklein123 commented on #7154
@rgs1 do you have access to a core dump?

[2019-06-04 15:23] rgs1 commented on #7154
@mattklein123 hmm apparently they are not being generated. I'll fix that and get one. Crashes are happening every few hours, so should be able to get one soonish.

[2019-06-04 15:30] mattklein123 commented on #7149
This is correct. It would not be hard to implement HTTP/1.1 trailers, but I've never seen a real-world case in which this would be useful.

re: H2 <-> H1 bridging, check out the filters defined here https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/grpc#grpc-bridging. They are implemented to help do bridging for gRPC to H1.

[2019-06-04 15:32] mattklein123 commented on #6972
@gnz00 H1 -> H2 upgrade is tracked here: https://github.com/envoyproxy/envoy/issues/1502. I think the correct implementation is a new connection pool type that implements it.

re: 403, I don't think that has anything to do with Envoy. I think your upstream server is returning 403 somehow.

[2019-06-04 15:39] gnz00 commented on #6972
@mattklein123
I think you're right, just did some testing and I believe that it's hitting the H1 path and the server is rejecting the H1 connection. Seems like H1 codec implementation properly ignores the Upgrade request. I'm trying to come up with a configuration that generically works for all services in service discovery without knowing what the underlying protocols supported by each service ar

[2019-06-04 15:42] rgs1 commented on #7154
Correction: the core dumps were lost when the container went away. I'll fix that and report back later.

[2019-06-04 15:44] mattklein123 commented on #6972
In Envoy, downstream and upstream are disjoint. https://github.com/envoyproxy/envoy/issues/1502 tracks upstream upgrade. I think you are asking for downstream upgrade, which yes, is different. I would open a different clean issue to track that and we can discuss implementation if you want.

[2019-06-04 15:45] gnz00 commented on #6972
@mattklein123 Awesome, thanks for your time. I'll open up a new one and tag you there.

[2019-06-04 15:45] #6972 closed

[2019-06-04 15:53] wlhee commented on #7149
Do you mean "it would not be hard to implement converting HTTP/2 trailers to HTTP/1.1 trailers"?

This would be useful in our use case as we have another proxy in front of envoy:
client -> HTTP/2 -> proxy -> HTTP/1.1 -> envoy -> HTTP/2 -> server

We need tell the proxy response trailers to help it reconstruct the HTTP/2 response to the client.

[2019-06-04 15:53] htuch commented on #7149
@mattklein123 @lizan the specific use case that is interesting here to us is a multi-hop transcode:

HTTP/2 <-> Proxy A <-> HTTP/1.1 <-> Proxy B <-> HTTP/2

Assume that proxy B is Envoy but proxy A is just a normal standards compliant H2 <-> H1 transcoding proxy with support for trailers, and you want to transcode H2 to H1 for the purpose of tunneling (those details are not material I think). I th

[2019-06-04 15:57] mattklein123 commented on #7149
Correct, it would not be difficult. It just needs to be implemented in the codec to correctly deal with the chunked trailer.

[2019-06-04 15:58] mattklein123 commented on #7135
@crazyxy @duderino I would take a look at the retry plugins and see how we can fit this concept into that. It will likely require some changes per @snowp but this feels like the right place to build this type of functionality.

[2019-06-04 16:05] wlhee commented on #7149
Something I don't quite understand:
when I enabled the debug log in envoy and sent a gRPC request via the data path mentioned above, I saw the following logs:
2019-05-29 22:25:15.819][60332][debug][http] [third_party/envoy/src/source/common/http/conn_manager_impl.cc:1329] [C0][S3357797201862188036] encoding headers\
 via codec (end_stream=false):
':status', '200'
'content-type', 'application/grpc'

[2019-06-04 16:22] lizan commented on #7149
@wlhee it is the downstream codec (after HCM log) eating the trailers, so you still see them in HCM log.

[2019-06-04 16:28] wlhee commented on #7149
I see. But the weird thing is, when my upstream HTTP/1.1 server sends trailers, I did NOT see them in the HCM log:
[2019-06-04 09:26:46.282][257872][debug][router] [third_party/envoy/src/source/common/router/router.cc:893] [C6][S12922332826246243808] upstream headers complete: end_stream=false
[2019-06-04 09:26:46.282][257872][debug][http] [third_party/envoy/src/source/common/http/conn_manager_imp

[2019-06-04 16:35] lizan commented on #7149
@wlhee that because the upstream HTTP/1.1 codec ate them, so they are not even hitting HCM.

[2019-06-04 16:53] mattklein123 commented on #7017
@pitiwari at a high level this makes sense to me, but the use of a magic "no_op" header feels a bit magic and hacky to me. Any thoughts on a different approach for that part? Either making the header configurable somehow, not using a header and somehow relying on other state for not picking a no-op header again, etc.

Also, what type of stats are you going to increment? How will that work exactly?

[2019-06-04 17:17] wlhee commented on #7149
I see, to confirm my understanding:

1. upstream HTTP/2 trailers -> HCM log -> HTTP/1.1 codec eats the trailers -> downstream HTTP/1.1 client doesn't see trailers
2. upstream HTTP/1.1 trailers -> HTTP/1.1 codec eats the trailers -> no HTCM log -> downstream HTTP/1.1 client doesn't see trailers

[2019-06-04 17:19] lizan commented on #7149
@wlhee That's right.

[2019-06-04 17:27] jplevyak opened #7158 "Add HTTP/1.1 tests to test/common/http/htt1/conn_pool_test.cc"
**Issue Template**

*Title*: Add HTTP/1.1 tests to test/common/http/htt1/conn_pool_test.cc

*Description*:
Currently the tests in  test/common/http/htt1/conn_pool_test.cc are for HTTP/1.0 because the protocol_ variable is not set because the parser_ is not run.  We should have tests which cover HTTP/1.1 as well.

[2019-06-04 17:52] gnz00 opened #7161 "Support downstream h2c upgrade in the H2 codec implementation"
*Description*
There is currently a gap in support for H2 connections without ALPN. Envoy currently supports prior knowledge H2 connections, however, does not support the h2c upgrade header which is the default implementation of some clients when TLS is not provided and prior knowledge is not explicitly specified.

*Relevant Links*
[RFC-7540: h2c upgrade](https://httpwg.org/specs/rfc7540.html#disco

[2019-06-04 17:52] lizan opened #7162 "Audit absl::flat_hash_map usage"
*Description*:
https://github.com/envoyproxy/envoy/pull/7146#issuecomment-498506399

We should audit all flat_hash_map usage and see if this could occur in other places, this is not easy to catch in our CI tests. Not sure whether absl provides a good way to test things like this.

[2019-06-04 18:03] mattklein123 opened #7164 "fault injection: add per-connection HTTP rate limiting"
As a follow up to slow network simulation, we should allow the rate limit to be shared by all streams that are currently active on an HTTP/2 connection. This can be accomplished by having a per-connection object that is shared by all streams that they attach to when created.

[2019-06-04 18:09] gnz00 commented on #7161
Looks like it might be as simple as invoking (nghttp2_session_upgrade2)[https://nghttp2.org/documentation/nghttp2_session_upgrade2.html#c.nghttp2_session_upgrade2] at the connection creation here: https://github.com/envoyproxy/envoy/blob/master/source/common/http/http2/codec_impl.cc#L895

[2019-06-04 21:48] rgs1 commented on #7154
Apparently, backtrace_lib is inhibiting the core dumps.. So trying with `--define=signal_trace=disabled`.

[2019-06-04 21:53] PiotrSikora commented on #7135
Please don't. This is terrible, terrible feature and a huge attack vector (TLS connections can be downgraded to plaintext by killing TCP connection during TLS handshake by active adversary).

[2019-06-04 22:38] danzh2010 opened #7170 "timer: enableTimer with microsecond granularity"
QuicAlarm supports alarm at various granularities. For the integration, QuicAlarm will be backed by Event::Timer. But Event::TimerImpl::enableTimer() takes milliseconds and then converts to microseconds before scheduling the underlying timer. If a QuicAlarm is scheduled at microsecond, casting it to millisecond while passing it to Event::Timer::enableTimer() will cause the alarm to be scheduled se

[2019-06-04 22:49] #6453 closed

[2019-06-04 22:57] crazyxy commented on #7135
The downstream envoy can config the mode to be `Strict` to enforce the TLS connections when connecting to untrusted hosts. If the remote hosts are some known hosts inside the mesh, the downstream may enable `Permissive` mode.

[2019-06-04 23:40] mirek-stripe opened #7171 "unhealthy_threshold not respected with active health check"
*Description*:

We have an envoy cluster with an active HTTP health check and `unhealthy_threshold = 3`. We noticed that when the healthcheck endpoint returns 404, the host is _immediately_ marked unhealthy, ignoring `unhealthy_threshold`. This can be easily reproduced with any status code other than 200.

The docs for `unhealthy_threshold` say:

This implies that 404 from an active health check s

[2019-06-05 00:10] StrongMonkey opened #7173 "Filter stats from stats/prometheus"
**Issue Template**

*Title*: ability to filter stats from stats/prometheus

*Description*:
For `/stats`, there is a way to query(filter) stats based on regexp(adding ?filter). So I am wondering if there are similar expressions for `stats/prometheus`? I have a use case which I want to query stats from `/stats/prometheus` outside of envoy and would like to expect some query paramters  that can be ap

[2019-06-05 01:47] msukalski opened #7174 "redis: triggering cluster topology rediscovery upon receiving redirection errors"
*Title*:

redis: triggering cluster topology rediscovery upon receiving redirection errors

*Description*:

The new Redis cluster support discovers the cluster's topology upon startup and periodically at a refresh interval that is configurable. This issue outlines a design proposal to trigger an immediate topology rediscovery upon receiving moved/ask redirection errors from upstream servers, provi

[2019-06-05 01:49] msukalski commented on #7174
@HenryYYang , @FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg , and @mattklein123 -- here is my summary of what I'm proposing as a replacement for PR #7126. Please let me know what you think. I'll start putting something together, assuming that I'll need to change direction based on your feedback.

[2019-06-05 01:57] xring commented on #7148
Close as duplicated with #6520

[2019-06-05 01:57] #7148 closed

[2019-06-05 02:45] mattklein123 commented on #7174
Thanks @msukalski. This is on the right track but needs a few changes.

You can use atomics here. I don't think you need any locks.

It's not acceptable to add any core code for this feature that is specific to this feature. If you want to add generic facilities that plugins can use, that's fine, although I don't think that's necessary in this case. The way I would implement this is the following:

[2019-06-05 02:57] mattklein123 commented on #7173
It looks like the filter regex is not passed to the prometheus handler. This should be a very simple change if someone would like to do a beginner PR.

https://github.com/envoyproxy/envoy/blob/c167c65b8b93a3bcd92ba24c50c6f175b053f06e/source/server/http/admin.cc#L726

[2019-06-05 03:33] hzxuzhonghu commented on #3998
Is Dubbo Support complete now ?

[2019-06-05 03:46] mattklein123 commented on #6872
@alyssawilk @AndresGuedez I looked at a core dump and I think I know what is going on here.

Basically, in the HCM when we call `ConnectionManagerImpl::resetAllStreams()`, we reset the HCM level streams, but I'm pretty sure the h2 codec still knows about them, as we haven't killed them at that level. Then, when we go below low watermark, we end up calling `onUnderlyingConnectionBelowWriteBufferLow

[2019-06-05 06:04] StrongMonkey commented on #7173
@mattklein123 thanks for the quick response! I ll put a pr

[2019-06-05 09:38] chintan-mishra commented on #7066
Evidently, SNI works when it has been set in the nameserver settings and **no changes are required in Envoy's config**. However, TLS for TCP is still bugging me. I will update this if I make further discoveries.

[2019-06-05 13:26] rgs1 commented on #7154
Ok, I finally got a core dump [0]. Trying to figure out if the involved connection is used for HC.

[0] even with bactrace_lib disabled, I couldn't get a a core dump until i configured the kernel to pipe tit to a script instead of writing it directly to disc... ¯\_(ツ)_/¯.

[2019-06-05 14:18] rgs1 commented on #7154
Ok, so here's a possibly more faithful stack trace via GDB:

[code]

The connection in the stack trace apparently isn't for HC:

[code]

[2019-06-05 14:56] radykal-com commented on #5697
Hi,

I'm just trying to configure envoy proxy in all our php-fpm servers to proxy a RedisCluster with 3 masters and 3 replicas. I'm unable to make it work, I can connect to envoy but all commands return MOVED, like it is unable to map the keyspace and send the commands to the correct node.

After reviewing all the documentation regarding Redis I cannot figure out how to configure it for the RedisC

[2019-06-05 16:08] mattklein123 commented on #7154
Per offline chat, that boolean is for downstream connections. This could still be an upstream HC connection.

[2019-06-05 16:17] msukalski commented on #7174
Thanks @mattklein123 for the detailed information and guidance!

[2019-06-05 16:33] danzh2010 opened #7177 "quiche: add support for QuicClock::ApproximateNow"
QuicClock::ApproximateNow() provides a cheaper way to get current time than calling std::steady_clock::now(). It returns a slightly lagged timestamp which is usually within acceptable range. But currently EnvoyQuicClock implements it in the same way as Now() which does call std::steady_clock::now().

A typically implementation is to store a timestamp in each event loop and return that timestamp fo

[2019-06-05 16:53] mattklein123 opened #7178 "build: consistent debug symbols/copts in public images for external deps"
We set various options in envoy_build_system.bzl, and we should audit to figure out which options should potentially be instead set as part of bazelrc copts for different profiles. The main one that comes to mind is consistent use of `-ggdb3` for envoy and all deps. There may be others.

cc @lizan @keith @jmillikin-stripe

[2019-06-05 16:57] mattklein123 opened #7179 "Crash in access logging of TLS info"
[code]

Still taking a look at this but I think the transport socket/connection is potentially getting destructed before the stream deferred deletion. cc @lizan @PiotrSikora

[2019-06-05 17:05] keith commented on #7178
Another thing we noticed when working on NDK support that is related to this is that the top level cc_binary gets some linkopts like `-lm` that are also required even if you're not using the binary target. I'm not sure how those should be handled but ideally they would be pushed down to the targets that actually need them.

[2019-06-05 17:32] alyssawilk commented on #6872
Yeah, if the lifetime of the HCM's stream_ list and the H2 codec's active_streams_ list can get that out of sync, I think we have a real problem.

I think the safest solution is probably the PR I reverted before, where we nix the callbacks.

I think the better solution is to fix the lifetime issue.  I'd lean towards a removeCallbacks in call in ConnectionManagerImpl::doDeferredStreamDestroy.  WDYT

[2019-06-05 17:44] mattklein123 commented on #7154
I looked through the diffs in this time period and they all look pretty benign other than https://github.com/envoyproxy/envoy/commit/4d4748ea243e0ab0538bcb0894a64bb0da617b55, but maybe I missed something. I think you have all the HC regressions and fixes, so I'm suspicious that is the issue. We may need to look at the core dump in detail and/or bisect.

[2019-06-05 17:46] mattklein123 commented on #6872
Yeah, agreed.

It's not really a fix, but something else I think we should consider is whether in the error path we want to actually flush and delay close. IMO we should just attempt to flush and then do an immediate close. WDYT?

[2019-06-05 17:51] alyssawilk commented on #6872
You mean specifically the error path of resetAllStreams?  I think it was _an_ error path (sendLocalReply 4xx which resulted in turning into 500s) which motivated the deferred destroy.  But really if we have a lifetime issue.  Doing it on resetAllStreams might be viable for this case but I'd be a bit worried there'd be some other dangling reference bug.

[2019-06-05 17:55] mattklein123 commented on #6872
Sorry I think we should absolutely fix the lifetime issues.

But orthogonaly I was wondering if we should also switch:

https://github.com/envoyproxy/envoy/blob/c61661a8144c95fd428973280907c515699c6437/source/common/http/conn_manager_impl.cc#L286

To `FlushWrite` and not actually do the delay since it is the error path and we might be trying to close the connection for bad behavior.

[2019-06-05 18:30] htuch commented on #7178
As long as you push this to `.bazelrc`, `rules_foreign_cc` should be smart enough to pick up on it and propagate it out to the external deps.

[2019-06-05 18:34] rgs1 commented on #7154
ok, doing a bisection -- lets see if happenes before 77d8e59943f41de6cc76d4d61cc32085ad125c21.

[2019-06-05 18:34] rgs1 commented on #7154
[i picked that commit as a starting point, since it was our second to last sync with upstream]

[2019-06-05 18:53] mattklein123 commented on #7171
Briefly looking at the code, yeah it looks like any HTTP failure is treated as an immediate failure (though the HTTP codes are configurable). I think this would take a code/config change to allow HTTP failures to count towards the unhealthy threshold.

[2019-06-05 18:54] stevenzzzz opened #7184 "lambda captures destruction order not determined."
*Title*: lambda captures destruction order not determined in http ConnectionManagerImpl factory callback.

*Description*:

Per https://en.cppreference.com/w/cpp/language/lambda the order of captures construction(so destruction as well) is not determined. This may cause issue during destruction of the "filter_config" object.

*Repro steps*:

but a easy to fix is to fix the order by capturing them i

[2019-06-05 18:56] mattklein123 commented on #7161
Implementing this on the downstream side is definitely possible but not trivial. Roughly I think the flow would look like:
1) Use auto codec, which would detect HTTP/1.1 for an h2c upgrade
2) Look for h2c upgrade in HTTP/1.1 headers.
3) Recreate codec as an h2 codec, probably passing in some type of upgrade factory which includes teh upgrade settings.
4) Go from there.

This will definitely requir

[2019-06-05 19:48] mattklein123 commented on #7179
I'm not seeing any way the transport socket can be deleted before the streams, so not sure what is going on here. I will get things compiled with symbols so can get a better trace of what is going on.

[2019-06-05 20:07] gnz00 commented on #7161
@mattklein123 I think enhancing the H2 codec to handle the upgrade should be preferred, as even if someone opts to use `codec_type`: `HTTP2` this currently throws an exception. It would also avoid having to recreate the codec. However, I believe you chose this approach because it is not possible to detect the H1 headers during the codec creation?

[2019-06-05 20:12] mattklein123 commented on #7161
Correct. The h2 codec does not understand how to parse h1.

[2019-06-05 20:16] #7120 closed

[2019-06-05 20:24] rgs1 commented on #7154
Ok, the search space has been reduced a bit. It should be somewhere between these changes:

https://github.com/envoyproxy/envoy/compare/77d8e59943f41de6cc76d4d61cc32085ad125c21...8d1ad35aa724962f64f7535531e408c9a93d364c

[2019-06-05 20:26] gnz00 commented on #7161
Ideally, we would want to solve this for both auto and http2 `codec_type` configurations. It isn’t clear to me if the solution you outlined solves this for both. As it is part of the H2 spec, should the H2 codec have limited support for the H1 headers?

[2019-06-05 20:28] stevenzzzz commented on #7184
I will fix it.

[2019-06-05 20:38] giorgiozoppi commented on #6588
Options:
1. rewrite a tiny self container url normalization  using RFC 3986
2. use googleurl.
I would like to help in porting whatever urlnormalization library to quiche.

[2019-06-05 20:41] lizan commented on #7184
Hmm, for that particular one the rest are singletons so I think it is fine? Did you spot any crash?

[2019-06-05 20:53] sgammon commented on #6846
hey @lizan, i just wanted to humbly check in on this. is there any resolution?

[2019-06-05 20:56] stevenzzzz commented on #7184
not a big problem. It's not crashing bug for now as long as the dependent objects are not used during destruction, but it'd be better if we follow the specification.

[2019-06-05 21:39] mattklein123 commented on #7161
It could, but I think it would complicate things quite a bit. Both approaches are valid, but given that AUTO would still have to support upgrade via the h1 codec, I think it's better to support at the HCM layer, and I would just say that AUTO is required for h2c. Or we could have a different type AUTO_H2_H2C_ONLY or something like that.

[2019-06-05 22:21] danzh2010 commented on #6588
I just into a usage of url normalization in quiche core code actually: https://cs.chromium.org/chromium/src/net/third_party/quiche/src/quic/core/crypto/quic_crypto_server_config.cc?rcl=68d15a821c88b0e85c345d1393643a25322ce608&l=858
and
https://cs.chromium.org/chromium/src/net/third_party/quiche/src/quic/core/crypto/quic_crypto_client_config.cc?rcl=68d15a821c88b0e85c345d1393643a25322ce608&l=452

Th

[2019-06-05 22:29] gnz00 commented on #7161
In the approach I was referring to, I imagined that AUTO would also detect the headers and send to the H2 path. As far as implementation details in the H2 codec, I am wondering if we might just be able to use `nghttp2_session_upgrade2` as a replacement for `nghttp2_submit_settings` and then swallow any errors. This could be behind some kind of configuration if it has any added overhead (although l

[2019-06-05 22:41] htuch commented on #6588
The danger here is that it's easy to make mistakes in a homegrown library with significant security implications. What I would like to see if we go down this path is:
1. Homegrown library does basically the same things as Chromium URL; we don't reinvent how normalization works, and a code review would be easy to see the correspondence between the two. It should however be a subset; we want to shri

[2019-06-05 22:54] giorgiozoppi commented on #6588
@htuch  @yanavlasov @asraa. We could proceed with the same set of tests and add further tests , rippoff the things we need from chromium url, create a small test library and the game is over. If it is small it should be not difficult to mantain.

[2019-06-05 23:04] #5851 closed

[2019-06-05 23:23] JimmyCYJ commented on #7111
Per discussion with @PiotrSikora we will file a separate issue for /certs to add annotations or something similar to make it clear the type of each cert (static, inline, SDS). Perhaps it would be nice if we can add SDS resource name into the annotation, so that we can associate /certs with /config_dump while debugging SDS related issues.

[2019-06-05 23:37] incfly commented on #4757
/cc @incfly

This might help https://github.com/envoyproxy/envoy/issues/7111 since we need to strip the private key in `config_dump` for dynamic secretes fetched via SDS.

[2019-06-05 23:39] lvht commented on #5697
@radykal-com please enable the `enable_redirection` flag.

![image](https://user-images.githubusercontent.com/2030591/58997211-201aa100-882e-11e9-8a1b-2eee2ceadc40.png)

[2019-06-06 00:02] mirek-stripe commented on #7171
thanks for looking! Right.. If this is the intended behavior, should the docs be fixed to reflect that?

It seems that the code change to count HTTP failures towards `unhealthy_threshold` would be fairly straightforward - but it would be changing user-facing behavior. What would be the preferred way to make this work? Change the behavior so that it works as documented (only 503 would cause immedia

[2019-06-06 00:20] mattklein123 commented on #7171
I would start by fixing the docs if you don't mind. Then in terms of getting the behavior you want, we could either add a new threshold, or potentially have a boolean variable that specifies whether HTTP failures apply to the threshold or just cause an immediate failure?

[2019-06-06 00:50] lizan commented on #7009
#7050

[2019-06-06 00:50] #7009 closed

[2019-06-06 01:23] derekargueta commented on #4159
I've been eyeing `-Wsign-conversion` but there are a _lot_ of cases of comparing signed and unsigned values. Would this flag be of interest to add to the set of warnings/errors?

[2019-06-06 02:33] mattklein123 commented on #7161
I think "upgrade" (web socket, CONNECT, etc.) is orthogonal to downstream h2c. I think the approach that I laid out is the way to go, otherwise you are going to have to bake an HTTP/1.1 codec into the HTTP/2 codec, and I have no idea how that would work for AUTO anyway.

[2019-06-06 03:08] htuch commented on #4757
I'm starting to think that approaching this problem structurally, by having proto annotations and a protoc plugin capable of generating scrubbing/sanitization code is the way to go, at least for config_dump purposes.

[2019-06-06 03:16] mattklein123 commented on #4757
FYI this annotation approach will be very useful for tap scrubbing also once tap supports proto reflection. Big +1 from me.

[2019-06-06 06:47] developersPHP commented on #2847
mark

[2019-06-06 06:50] lizan commented on #6846
@sgammon Sorry for the late response. I couldn't debug further without your real proto. If you were able to POST-ing to the same endpoint, it means the mapping is not loaded. With Endpoints Service Proxy, are you defining the HTTP mapping via annotation? The mapping defined in service config won't affect Envoy.

[2019-06-06 06:55] comron opened #7186 "Envoy Buffering TCP connection"
**Issue Template**

*Buffering TCP Connection*: *Envoy seems to be buffering the initial response from an upstream SMTP*

*Description*:
I'm using envoy in an Istio deployment. I've noticed when I deploy the envoy sidecar to a postfix SMTP server I get strange behavior. Namely the initial MOTD/Banner/220 response from the postfix server is not presented to the client until a message is sent from t

[2019-06-06 06:56] xxm404 opened #7187 "How to restart envoy at docker container?"
**How to restart envoy at docker container?**

*Description*:

[2019-06-06 07:59] lizan commented on #7186
This is expected behavior when you have mTLS in permissive mode. Istio proxy is trying to see first bytes to see whether the connection is TLS. Make your mTLS strict or disable it would solve the issue.

[2019-06-06 09:09] comron commented on #7186
That makes perfect sense, thanks for clearing that up. It works as expected with mTLS turned off via policy.

[2019-06-06 10:03] radykal-com commented on #5697
Thanks you so much!

[2019-06-06 11:13] rgs1 commented on #7154
So we are now running master as of yesterday minus 4d4748ea243e0ab0538bcb and we haven't seen any crashes in ~10 hours [before that, it crashed every < 1 hour consistently].

cc: @mpuncel

[2019-06-06 11:42] arjunsanal commented on #7151
Thanks. This helps.

[2019-06-06 11:42] #7151 closed

[2019-06-06 14:16] alyssawilk commented on #7161
Yeah, if you're looking for a sanity check, Matt's spot on with the capabilities of the h2 codec, and how we'd want to handle upgrades (parsing as H1, detaching from the H1 codec and switching to the H2).  It's a bunch of non-trivial work.  I don't think getting nghttp2 to handle http/1 is plausible, and I think any sort of peek-and-decide-on-codec logic is going to to be too hacky.

[2019-06-06 16:21] mattklein123 commented on #7154
Per offline convo sounds like @mpuncel might have thoughts on what is going on. The general problem is we are not resetting an upstream stream in some case that we should be.

IMO if we can't find a fix in the next few hours we should revert but will defer to @rgs1 and @mpuncel to sort it out. Thank you.

[2019-06-06 16:46] mpuncel commented on #7154
I think I know what the issue is, just writing a regression test to confirm the issue. In the router in `onResponseTimeout()` I accidentally made a change so that the upstream request is not reset if we've already seen headers. That means if we get any more data or headers from upstream the decoder will be null. The fix will be to unconditionally reset each remaining upstream request whether or no

[2019-06-06 17:15] andrewtikhonov commented on #7025
Any thoughts ?

[2019-06-06 17:27] louiscryan commented on #7135
@PiotrSikora we would expect this feature to be used in a transitional state while migrating from plaintext to strict.

Without perfect knowledge about upstreams the enablement of TLS on the client side risks breaking traffic which is a less than idea outcome during rollout. The expected organization flow is

1. Enable permissive server-side for everything that you control (0% of traffic is TLS)
2

[2019-06-06 17:40] PiotrSikora commented on #7135
@louiscryan could we use 2 active health-checks (one with TLS, one without TLS) to collect the client-side telemetry, which would then allow us to make an informed decision to change the configuration to TLS? This would prevent the downgrade attacks.

[2019-06-06 17:45] lizan commented on #7186
Closing as answered, feel free to re-open or raise a new one if you have more question.

[2019-06-06 17:45] #7186 closed

[2019-06-06 18:12] mattklein123 commented on #6872
Per offline convo with @alyssawilk I will take a look at fixing this.

[2019-06-06 18:13] mirek-stripe commented on #7171
That's obviously not the resolution I was hoping for but yeah, sounds good :)

Since `expected_statuses` are configurable for HttpHealthCheck, how about adding a similar field like `retryable_statuses`? Failures with these codes would be counted towards `unhealthy_threshold`, the rest would cause immediate failure as it does right now (or the other way, add something like `immediate_fail_statuses`

[2019-06-06 18:18] sgammon commented on #6846
@lizan in this case it's a GET, which is mapped via a `google.api.http` annotation, like so:
[code]

i understand that Envoy hasn't previously understood these mappings, but i thought the new `auto_mapping` parameter turned it on (I have `auto_mapping` and `match_incoming_request_route` set to `true` for `v1.11.0`)?

[2019-06-06 18:19] phylake commented on #5368
bump

[2019-06-06 18:46] mattklein123 opened #7193 "crash in HCM/H2 due to stream mismatch"
[code]

Saw this crash at Lyft. I think this is another case of a mismatch between HCM stream state and codec stream state. I will look into this in relation to https://github.com/envoyproxy/envoy/issues/6872. cc @alyssawilk

[2019-06-06 19:23] mattklein123 commented on #7193
I think the issue here is:
1) Call `ConnectionManagerImpl::ActiveStreamFilterBase::resetStream()`
2) local_complete_ is true since we set that at the beginning of filter iteration, but data is held inside a filter.
3) As such, we don't reset the stream, but remove it.
4) Remote reset, crash.

I will fix. It's a similar fix to #6872 where we need to remove stream callbacks.

[2019-06-06 19:39] yanavlasov commented on #6588
After looking at chromuim URL I think this reasonable approach rather than trying to depend on googleurl.

[2019-06-06 20:28] mattklein123 commented on #7171
@mirek-stripe yup that SGTM.

[2019-06-06 20:52] lizan opened #7195 "allow fallback to default filter chain when listener filters timeout"
*Description*:
Currently the timeout for listener filters behaves:

There should be a configurable option allow this to fallback to a default filter chain (the filter chain with empty filter chain match) when they timeout.

[2019-06-06 20:52] lizan commented on #7195
cc @rshriram @louiscryan

[2019-06-06 20:56] pitiwari commented on #7017
@mattklein123 . I wanted to clarify that we were planning to use the header which is provided in no-op route by the user, it can be any header but for each no-op route header should be different. We will add that header to request headers which will help us in avoiding to pick the same no-route again.

I spent some time to figure out the non header approach. Since currently route match is done by

[2019-06-06 21:03] philwo opened #7196 "stats_integration_test failing on Bazel CI"
Seems like Envoy is red on Bazel CI since Monday:

Last green build: https://buildkite.com/bazel/envoy/builds/318
First red build: https://buildkite.com/bazel/envoy/builds/319

The stats_integration_test is failing, here's a log: https://storage.googleapis.com/bazel-untrusted-buildkite-artifacts/c6b3f0ac-027d-4295-87e8-1a75bd7510b2/test/integration/stats_integration_test/attempt_1.log

Could you p

[2019-06-06 21:40] htuch commented on #4159
@derekargueta curious what the rationale in prioritizing this flag is. No objections at my end, just wondering if there are other warnings that might be higher signal.

[2019-06-06 21:50] crazyxy commented on #7135
@snowp Even though the upstream envoy (or other services without using) don't enable TLS connection, we still want connect to the endpoint. If we use retry plugin, e.g. `retry_host_predicates`, I can imagine that it will avoid the connection to the endpoint without TLS configuration.

[2019-06-06 22:25] htuch commented on #7196
@lizan FYI

[2019-06-06 23:18] lizan commented on #7196
I think we should run `MemoryLargeClusterSizeWithStats` selectively and only check exact number in CI since it is environment dependent. @cmluciano do you have time to work on it?

[2019-06-07 00:16] crazyxy commented on #7135
@mattklein123 I took a look at the retry plugin.It seems that in order to support opportunistic encryption, the retry plugin should be able to create the plain text connection after the first connection failed. We may use a flag to specify transport_socket in retry plugin to differentiate TLS from others.

There is another problem with retry plugin. It is part of HTTP connection management and onl

[2019-06-07 00:55] incfly commented on #7111
@mattklein123 Could you assign this to me and @JimmyCYJ ? We've sync-ed with @PiotrSikora about this and plan to work on it as part of improving SDS debug-ability in general.

[2019-06-07 02:42] louiscryan commented on #7135
@PiotrSikora I'm not a fan of using telemetry to achieve this effect. It creates an external dependency and one we can't rely on consistently.

What health checks would we use? If none has been specified by a user then all we could do is have 'can negotiate TLS/mTLS' as the check. Such a check would not save any resources compared to the try-tls-and-fallback approach listed above.

[2019-06-07 02:51] cmluciano commented on #7196
@lizan yes I can work on this. Do you think guarding this test with a flag that we only trigger in the envoy ci would suffice?

[2019-06-07 03:32] jmarantz commented on #7196
Is the issue that we are running with one C++ std library in CI and a different one in development?

Can we just always run with the same C++ std library in dev and CI?

[2019-06-07 03:37] jmarantz commented on #7196
Alternatively we can pick one libstdc++ implementation and only run the expected-memory tests when using that one. But it would be easier to work with if we were able to reproduce CI failures when testing locally, so just changing the bazel default to whatever we use in CI seems like the best plan.

[2019-06-07 03:37] mattklein123 commented on #7135
tcp_proxy supports retries, so perhaps we could add retry plugins there also? I'm guessing it wouldn't be very difficult.

[2019-06-07 03:40] #7154 closed

[2019-06-07 05:16] #6755 closed

[2019-06-07 05:18] arun17sep2018 commented on #2655
what is final solution for this problem, i wanted to use resolver_name ,please give me working example..
Thanks in advance :)

[2019-06-07 05:21] lizan commented on #7196
@jmarantz one in our CI is different one in bazel CI.

We don't know which exact STL class is causing the change between versions so it would be hard to detect. If you're running our build docker image you always get same.

[2019-06-07 06:16] #6754 closed

[2019-06-07 08:26] laszlocsomor opened #7201 "Envoy breaks on Bazel CI with Bazel@HEAD"
The Envoy pipeline on Bazel CI breaks with Bazel at HEAD.

CI log: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1026#e8a068f5-8491-4981-a7ba-5d9951d87b97
Source tree: https://github.com/envoyproxy/envoy/commit/79bdfaf0e4a9769d824bc60994f1030994fb6e7f
Bazel version: built at https://github.com/bazelbuild/bazel/commit/12c7942f45185e15ac26c383644b5d63a3c25269

Looks like the culpr

[2019-06-07 09:01] #6740 closed

[2019-06-07 10:01] #6738 closed

[2019-06-07 10:15] artbegolli commented on #2605
Will be happy to pick this up.

[2019-06-07 12:01] jmarantz commented on #7196
I was thinking that there must be some build config change to switch STL versions, which we could then augment with something that adds a -DSTL_LIB_XXXX type compile-flag, which we could then use to switch off the tests.  But I don't see that in https://github.com/envoyproxy/envoy/pull/6866

I noticed that when I run stats_integration_test locally now, it fails, but it works in CI.  This is not a

[2019-06-07 12:54] sriduth opened #7203 "extenstion / feature request - omit canary hosts during retry of a failed request"
*Title*: *Retry predicate that can omit canary hosts*

*Description*:

In a canary deployment, failures in the canary subset can be retried on other non canary hosts that are part of the cluster.

[2019-06-07 13:25] jmarantz commented on #7196
I have a heuristic that tells me which mode we're in by measuring the tcmalloc stats after allocating some strings. The difference is subtler than I thought, but we can use it to turn off the test. But I think we probably would be better off getting our dev builds and Bazel CI to use the same libraries as we use in CI. @lizan how hard do you think that would be?

[2019-06-07 13:35] nesobe123 opened #7204 "handling a response that exceed 1mb"
Title : handling a response that exceed 1mb

Description: I am using envoy proxy + grpc service written on spring boot. When I add a couple of messages and want to get list of them by http call I am getting next error.

content-type →application/grpc
grpc-status →2
grpc-message →Internal Server Error
content-length →0

sum of all messages exceed 1mb. Looks like it is default value for rq / rs.
How

[2019-06-07 14:02] laurentlb commented on #7201
This is supposed to be fixed at head (since https://github.com/envoyproxy/envoy/pull/7168).
The reason why you saw the error is because we test on the last green build, which is getting old (https://github.com/envoyproxy/envoy/issues/7196).

[2019-06-07 14:15] bartebor commented on #6486
I have finally found some time to tackle this.

It seems that it is not possible to achieve described scenario with custom filter. The problem is that route filter contains whole process of selecting vhost and forwarding request to upstream and must be the last filter on http connection manager's filter list.

Any :authority/host header modification done with custom filter executing before route f

[2019-06-07 14:44] htuch commented on #5405
Closing out in favor of #6271

[2019-06-07 14:44] #5405 closed

[2019-06-07 14:49] jmarantz commented on #7196
From limited testing with my heuristic I think there's some other difference between what we are doing in CI and what's happening on our local machines, beyond libc++.

We may need more approximate metrics for tracking memory consumption if we can't get our dev and test environments to behave consistently.

[2019-06-07 14:52] artbegolli commented on #2606
Looks like there's a PR already, can this be closed?

[2019-06-07 14:53] artbegolli commented on #6457
shotgun

[2019-06-07 15:10] htuch commented on #6271
It looks like we have general buy-in on the proposal, so the following calendar is what I think I can commit to:

Before end of Q2:
- [ ] TDS (https://github.com/envoyproxy/envoy/issues/6708)
- [ ] Unknown field support for dynamic config, stats tracking, etc. (https://github.com/envoyproxy/envoy/issues/6818 and https://github.com/envoyproxy/envoy/issues/6651).
- [ ] Add presubmit check forcing si

[2019-06-07 16:05] cmluciano commented on #7196
At the inception of this test I also found the memory to fluctuate between a few of my dev machines which caused me to go with approximate value rather than the hard EQ.

@jmarantz Is the value you hit locally greater or less than what we get in CircleCI?

[2019-06-07 16:47] cmluciano commented on #7196
The [latest BuildKite master build](https://buildkite.com/bazel/envoy/builds/410#06bec4e3-be18-402e-861e-5742350cf05d)  yields `m_per_cluster == 49449` and I get the same value when I run the test locally.

I'm trying to diff the .bazelrc files b/t the various CI systems now.

[2019-06-07 18:08] lizan commented on #7196
Anything outside of our build docker image is inconsistent, IMO we can do either (or both):
- bake a config/environment into the build image and do exact eq if that exists.
- do a approximate value comparison

The libraries that bazel is not managing are: libc, libm, libgcc, pthread and libstdc++ (or libc++), so all of those libraries can affect this number.

[2019-06-07 19:01] cmluciano commented on #7196
Looks like @jmarantz has a WIP with #7208

[2019-06-07 19:10] jmarantz commented on #7196
Yup, I have gotten it to work with default build, and am now verifying it with `//test/... --config libc++ a`

[2019-06-07 19:14] philwo commented on #7196
Thank you everyone for getting at this so quickly! :))

By the way, would you like to get Bazel CI status checks for your PRs, too? That way you could immediately see if it something fixes a breakage (or if something breaks it). I should be able to just turn it on in our settings, but wanted to check with you first.

[2019-06-07 19:16] jmarantz commented on #7196
I still don't know, btw, whether this will work with Bazel CI, or what the difference is between the two CIs and our dev environment. It had seemed all consistent until roughly this week.

RE Bazel CI status checks: can you clarify what that means? What would that do beyond our own integrated CI?

[2019-06-07 19:41] philwo commented on #7196
Bazel CI is a service that the Bazel team provides for free to Bazel and its ecosystem. We provide a user-friendly UI to view test results (thanks to the great folks at [Buildkite](https://buildkite.com/)) and high-performance machines for Linux/Docker, Windows (both currently on 32-core GCE VMs) and macOS (18-core iMac Pros). It comes with RBE support for remote builds and caching, too. It's also

[2019-06-07 19:51] keith commented on #7196
@mattklein123 who I was discussing this with before I went on vacation.

[2019-06-07 19:58] mattklein123 commented on #7196
cc @lizan who is in charge of making our CI better. ^

[2019-06-07 20:08] rzachariah commented on #6050
We're attempting to incrementally adopt Envoy. Some of our services are deployed with Envoy sidecars, but most are not. Prior to using Envoy, we were already using x-request-id headers to track activity across our microservice architecture.

We're noticing that Envoy is sanitizing a client generated x-request-id that looks like

xxxxxxxx-xxxx-4xxx-xxxx-xxxxxxxxxxxx

and mutating it to

xxxxxxxx-xx

[2019-06-07 21:53] lizan commented on #7204
Try adjusting the `per_connection_buffer_limit_bytes` in your cluster.
See https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cds.proto

[2019-06-07 21:54] #6478 closed

[2019-06-07 21:57] lizan commented on #7187
@mattklein123 I think you previously mentioned container based hot restart is possible?

[2019-06-07 23:01] #6758 closed

[2019-06-08 00:19] dio opened #7213 "To add LocalInfoFormatter and LocalInfoHeaderFormatter"
To add `LocalInfoFormatter` and `LocalInfoHeaderFormatter`.

*Description*:
Currently seems like there is no way to log information holds by `LocalInfo` while the information is sometimes useful and also to utilize that information as values in e.g. `response_headers_to_add`, `request_headers_to_add`.

Probably adding `LocalInfoHeaderFormatter` and `LocalInfoFormatter` in header formatter and acce

[2019-06-08 06:01] #6734 closed

[2019-06-08 06:03] #7196 closed

[2019-06-08 13:08] jmarantz opened #7215 "Stats matching doesn't seem to play well with LDS (in test?)"
[ RUN      ] IpVersions/StatsMatcherIntegrationTest.IncludeExact/IPv4
[2019-06-08 13:07:33.310][14][critical][assert] [test/integration/integration.cc:424] assert failure: 0. Details: Timed out waiting for listeners.
[2019-06-08 13:07:33.310][14][critical][backtrace] [bazel-out/k8-fastbuild/bin/source/server/_virtual_includes/backtrace_lib/server/backtrace.h:81] Caught Aborted, suspect faulting ad

[2019-06-08 16:22] jmarantz opened #7216 "memory: test against exact value in CI, approximate at other times."
Until ~June 6, 2019, our memory-delta measurements were byte-accurate, and we could crisply use EXPECT_EQ to track memory bloat in tests.

However around that time, there were divergences whose sources are not completely known. One of these is use of libstdc++ which inlines short strings (length <= 22 bytes) into std::string, however that was not the only source of entropy. Other sources are not k

[2019-06-08 19:50] #6457 closed

[2019-06-08 20:17] #6772 closed

[2019-06-08 20:35] mattklein123 commented on #7216
Big +1. Let's just have a compile flag that makes it a hard EQ in only our CI. That way we don't break Bazel CI, dev builds, etc.

[2019-06-08 21:54] crazyxy commented on #7135
Can we make the change in lower level, e.g., when the client fails to `doHandshake`, it falls back to plain text connection? It this case, we don't need to make the change separately for HTTP and TCP?

[2019-06-08 22:05] mattklein123 commented on #7135
The only way this seems possible is if you build a new transport socket that does this somehow. That might be an OK solution.

[2019-06-08 22:17] #6780 closed

[2019-06-08 22:32] crazyxy commented on #7135
Thanks! @mattklein123 I will try to build a new transport socket to implement the feature.
BTW, I tried to use retry plugin to implement the feature but it seems to have lots of work. The concept conflicts with existing retry plugin(previous_host) and we also need to hide the plain text re-connection from user.

[2019-06-09 00:17] #3877 closed

[2019-06-09 00:55] duderino commented on #7135
@louiscryan @PiotrSikora could the default be strict mode for both downstream and upstream sidecars?   I think Louis is saying exactly this, but I just want to be really clear so that the person who actually implements in Istio this doesn't enable permissive or opportunistic mode by default out of some well-meaning desire to make this more convenient for users.

Our docs can also send the message

[2019-06-09 01:17] #2811 closed

[2019-06-09 02:17] #6769 closed

[2019-06-09 03:17] #6774 closed

[2019-06-09 06:32] conqerAtapple opened #7217 "Terminate upstream connection after every request/stream"
**Issue Template**

*Title*: Feature request - Terminate upstream connection after every request/stream

*Description*:
Currently envoy keeps the connection open to upstream cluster. But we want to disable it. Already tried `max_requests_per_connection:1` and `max_concurrent_streams: 1`. We want the upstream connection to close after every request.
One use case is: Upstream instance has multi-proc

[2019-06-09 07:47] containscafeine opened #7218 "Unable to drain endpoints before removal"
*Title*: Unable to drain endpoints before removal

*Description*:
I'm trying to implement endpoint connection draining (and not draining envoy itself) with sticky sessions configured.

At t=0, there are 5 endpoints configured in my envoy cluster with cookie based sticky sessions configured.
At t=10, I wish to drain 1 out of the 5 endpoints I have i.e. I do not want any new connections to be routed

[2019-06-09 14:13] conqerAtapple commented on #7217
@mattklein123

[2019-06-09 23:45] #4235 closed

[2019-06-10 02:40] mattklein123 commented on #7217
@conqerAtapple assuming you are talking about HTTP the settings you specify should work. Will need more config details, etc. to understand what is going on.

[2019-06-10 02:43] mattklein123 commented on #7218
I think I understand what you are after, but I'm not sure how it can be implemented cleanly. How would Envoy know that a session is OK to keep sending to an endpoint? Do you expect this to be somehow encoded in the cookie?

[2019-06-10 02:44] mattklein123 commented on #7187
At a high level, in order to use hot restart the containers need to be able to talk to each other over unix domain sockets. This means they likely have to use host networking.

[2019-06-10 04:57] aclowkey commented on #6353
What would be the easiest way to reload configuration similar to what  "nginx -s reload" does?
I read about hot restart but it didn't find any usage guide..

[2019-06-10 05:01] dio commented on #6353
@aclowkey do you think file based xDS config will help? e.g. https://medium.com/grensesnittet/file-based-dynamic-configuration-of-routes-in-envoy-proxy-6234dae968d2

Or you want to reload the bootstrap config as well?

[2019-06-10 05:06] aclowkey commented on #6353
I need to reload the clusters and route_config parts.
Looks like both can be configured as dynamic resources.
Thank you @dio

[2019-06-10 05:10] ramaraochavali opened #7219 "downstream_pre_cx_timeout stat is incorrectly incremented"
While debugging a `no healthy upstream` issue, I figured out that  `downstream_pre_cx_timeout` is incorrectly incremented. We send a request to upstream and it fails with `no healthy upstream` error. The following stats are incremented correctly

`listener.0.0.0.0_8443.http.0.0.0.0_8443.downstream_rq_5xx: 103
listener.0.0.0.0_8443.http.0.0.0.0_8443.downstream_rq_completed: 108`

However after 15s

[2019-06-10 08:32] containscafeine commented on #7218
@mattklein123 thanks for the prompt reply ;)

I think the best I can explain this is the way is quoting how Nginx drains sticky sessions (more at https://www.nginx.com/blog/nginx-plus-backend-upgrades-individual-servers#server-api-persistence)

So, from what I understand, Envoy could do this 2 ways -
1. Allow the application to specify the drain time - during which no new connections are sent but

[2019-06-10 08:39] nesobe123 commented on #7204
many thanks for so quick help. Now it works normally. Faced with another issue & going to inspect envoy references for timeout settings =)

[2019-06-10 09:43] clyang82 opened #7221 "FIPS 140-2 for ppc64le"
I saw the document about [FIPS 140-2](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/ssl#fips-140-2)

@PiotrSikora Does BoringSSL with fips enabled support in ppc64le?

[2019-06-10 09:49] aclowkey commented on #6353
@dio It's actually not enough.
I want to have dynamic clusters, i.e. add services dynamically each with their own cluster.
The docs say that the cluster proto is for one upstream cluster, this means I need to generate dynamic list for the `cluster` resources. So either I'm missing something or it's not possible.

I generated the following template for my services
[code]
Combined with the EDC confi

[2019-06-10 12:59] alyssawilk commented on #6874
Yay, @mattklein123 caught one of these.  Logging says:

[ RUN      ] IpVersions/LoadStatsIntegrationTest.LocalityWeighted/IPv4
Waiting for load stats stream.
Waiting for load stats request.
Done waiting.
Starting response.
Updating assignments.
Sending traffic.
Waiting for load stats request 2.

[2019-06-10 13:26] conqerAtapple commented on #7217
@mattklien123 no the request is for gRPC proxying. Since h2 connections are persistent to upstream, it effects upstreams who are load balanced by single-socket multi-processs architecture. How do we opt out of the upstream persistent connection? Essentially a connection pool size of 0.

[2019-06-10 14:06] containscafeine commented on #7218
I just tried separating the draining endpoints and healthy endpoints into 2 different clusters, and then pointed the route to both of them via `weighted_clusters` (draining cluster with weight 0, and healthy cluster with weight 100), but no luck. Sticky sessions do not persist -
[code]

[2019-06-10 16:22] #5974 closed

[2019-06-10 16:57] snowp commented on #7203
This should be easy to do with a host predicate that just checks for `!host->canary()`, possibly with an accompanying retry priority plugin if this needs to be done across priorities as well.

[2019-06-10 17:55] mattklein123 commented on #6271
@htuch +1 looks great to me. Thanks for driving.

[2019-06-10 18:03] mattklein123 commented on #7219
I doubt these two events are related, but definitely take a look at the code and let us know if you see any timer bugs.

[2019-06-10 18:08] mattklein123 commented on #7215
@alyssawilk is it possible this has to do with the LDS changes?

[2019-06-10 18:08] mattklein123 commented on #7221
cc @davidben

[2019-06-10 18:09] mattklein123 commented on #7201
I think this is fixed?

[2019-06-10 18:13] hjkatz commented on #4447
To help those in the future, the `use_remote_address` setting and `x-forwarded-for` headers can also impact this. Only trusted sources will have their headers read, and therefore (in our case) when running localhost envoy as a local proxy we want our config to `use_remote_address: true` to trust the most immediate source (localhost) and all of its headers.

[2019-06-10 18:29] sriduth commented on #7203
If this would be a useful addition, I'd like to try to implement this.

[2019-06-10 18:44] alyssawilk commented on #7215
Possible, or possible there's some listener failure.  One could try out the test flake instructions and set use_lds_ to false if it's the problems or I can take a look later this week.

[2019-06-10 19:24] PiotrSikora commented on #7221
@clyang82 per the [Security Policy for BoringCrypto module](https://csrc.nist.gov/CSRC/media/projects/cryptographic-module-validation-program/documents/security-policies/140sp3318.pdf), BoringSSL FIPS is supported on ppc64le only on POWER9 (cc @agl to confirm), but currently there is no support for it in Envoy.

[2019-06-10 19:30] agl commented on #7221
That's correct: we currently maintain validation on x86-64 and POWER9. (An older version was validated on POWER8 too.)

[2019-06-10 20:34] mattklein123 commented on #7217
The settings you identify should work, effectively max requests per connection.

[2019-06-10 20:37] mattklein123 commented on #7218
I'm sorry I don't fully understand what you are after. Session stickiness is supported effectively via hashing of an incoming request cookie. How can Envoy understand whether to continue to route existing sessions without some state in the cookie itself?

Do you mean that you want users with existing cookies to keep routing, but no new cookies to be issued that target that upstream?

[2019-06-10 22:53] htuch commented on #7216
Yeah, sounds good. If we could set this on exactly one CI job even better. Even more awesome would be if we could compute the replacement diff in the test and emit this :) Then people can copy+paste the log entry and new value to the test.

[2019-06-10 22:54] jmarantz commented on #7216
Which test should it be in? I haven't figured out exactly what is a canonical functional test in CI. release?

[2019-06-10 22:56] htuch commented on #7216
Yep, `release`, since that is as close to prod as we can get.

[2019-06-10 23:34] conqerAtapple commented on #7217
@mattklein123 We already tried that configuration(max_requests_per_connection). What we see is that -
- Without envoy (grpc client -> grpc server) requests have increasing streamid. This is because grpc client increases streamId on the same connection.
- With envoy in between as gRPC proxy, envoy does not terminate the connection to the gRPC server after the request. Our observation is that envoy

[2019-06-10 23:39] mattklein123 commented on #7217
No, I don't think so. I would take a look at the http/2 connection pool code.

[2019-06-10 23:43] conqerAtapple commented on #7217
The connection is definitely not closed after each request. We do see new connections (with old connections still open). The "time" factor is something we are still investigating. Your insight will save a lot of time on our end. Thanks!

[2019-06-10 23:46] mattklein123 opened #7227 "Issue with no import stats during hot restart merge"
I was running a smoke test using a debug build and hit this call stack/assert:

[code]

The stat in question is this one:
https://github.com/envoyproxy/envoy/blob/ffeb1c3467e77129bf8339f7867aa6ffcb0d591e/include/envoy/upstream/upstream.h#L586

The issue is that for stats that are being set using `set()` vs. standard increment/decrement, there is no guarantee that the count is going to be stable to

[2019-06-10 23:47] mattklein123 commented on #7227
@jmarantz I almost wonder if "never import" needs to be sent via the proto so we can avoid actually doing this math in that case? WDYT?

[2019-06-10 23:57] mattklein123 commented on #2456
I think this is done!

[2019-06-10 23:57] #2456 closed

[2019-06-10 23:58] mattklein123 commented on #3998
This is done. Let's track new feature request/issues with new issues.

[2019-06-10 23:58] #3998 closed

[2019-06-11 00:00] mattklein123 commented on #7123
This is fixed.

[2019-06-11 00:00] #7123 closed

[2019-06-11 00:05] #6135 closed

[2019-06-11 00:31] jyotima opened #7228 "Connection reset without sending close header"
*Title*: *Connection reset without sending close header*

*Description*:
In a normal scenario, envoy sends the connection close header to H1 clients to gracefully shutdown the connection and retry.Due to a race condition somewhere in envoy, when the client tries at the exact time of idle and drain timeout, envoy stops accepting new connections completely and does not send the connection close head

[2019-06-11 01:21] clyang82 commented on #7221
Thanks @PiotrSikora  and @agl  How hard to support it in Envoy?
Just change it to `"@bazel_tools//platforms:ppc",`?
https://github.com/envoyproxy/envoy/blob/f7aa9710cd1e2d11dec3ec75b8f6d6b41dc53919/bazel/BUILD#L156

Can you share some experience how to test to ensure envoy supports fips? I think just verify version is not enough. Thanks again.

[2019-06-11 02:14] derekargueta commented on #7187
I implemented this a bit over a year ago - we do hot restarts across containers. The 2 container requirements I recall are 1) host networking (as Matt mentioned) and shared IPC for shared memory.

A few more things to consider
1) Both containers have to be running during the draining period, so the container names need to be different
2) If you have a container restart policy, it needs to not rest

[2019-06-11 02:19] zqzzq opened #7229 "Build envoy binary failed"
*Description*:
I cloned the envoy project to the local by
[code]
But when I built it, something went wrong :
[code]
is there something I need to set?

[2019-06-11 03:27] ramaraochavali commented on #7219
@mattklein123 I have not looked at the code yet, but I think it may be a timer issue. As soon as the request fails, I see `no heathy upstream` response and `http.0.0.0.0_8443.downstream_rq_5xx` and `http.0.0.0.0_8443.downstream_rq_completed` are incremented immediately. This makes me think that  filter chain is complete and after 15s `downstream_pre_cx_timeout` is incremented.

[2019-06-11 06:36] derekargueta commented on #7229
A couple of guesses:
1) Are you sure the `run_envoy_docker.sh` is running correctly, taking the second command as an argument?
2) Can you double check the `.git` folder is still there?

When I try `./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.dev'` I get something that looks like:
[code]

If I run just `./ci/do_ci.sh bazel.dev` without the `run_envoy_docker.sh` script, then I get something pretty

[2019-06-11 06:47] bartebor commented on #6557
@derekargueta I think you are right. I have never encountered a crash using official image. Custom release builds work fine too. Only my development builds ocasionally fail. We can probably close this issue, although I do not feel comfortable with fastbuild creating differently behaving/broken executables.

[2019-06-11 06:52] zqzzq commented on #7229
@derekargueta I just cloned it and didn't change anything. And I can find .git folder by
[code]
Is it because this folder is hidden?

[2019-06-11 07:06] derekargueta commented on #7229
No that should be fine.

Can you double check my comment about `run_envoy_docker.sh`? I'd think you should also see some Docker output for pulling the image, I'm wondering why that is not showing.

[2019-06-11 07:08] containscafeine commented on #7218
@mattklein123 Yep, exactly :+1:

I want to drain an endpoint/upstream and I want to give it 1 hour to drain. In that one hour, I want already existing sticky sessions to keep routing to that very upstream, but I don't want any newer sticky sessions to be issued to that upstream.

[2019-06-11 07:25] zqzzq commented on #7229
This is the script content, I am sorry, I don't understand the script very well.

[code]

[2019-06-11 13:08] yiyouguisu commented on #3361
@snawaz How do handel it?

[2019-06-11 14:51] #7193 closed

[2019-06-11 14:51] #6872 closed

[2019-06-11 14:53] mattklein123 commented on #6557
I know what the issue is. I will fix this. (It is actually harmless but it should be fixed so the assert doesn't fire.)

[2019-06-11 15:02] mattklein123 commented on #7228
I think this is WAI. There is a chance that you try to make the connection when Envoy is already in the process of closing the connection. This is an inherent race condition with HTTP/1. See https://github.com/envoyproxy/envoy/pull/7159 and other linked issues for similar discussion.

[2019-06-11 15:12] mattklein123 commented on #6472
@alyssawilk just for tracking what is left here? Script updates?

[2019-06-11 15:59] mattklein123 commented on #7218
OK I think I understand what you are after. Right now the cookie hashing policies just effectively store a hash value in the cookie and are meant for use with a consistent hashing load balancer. When a host is failed, the rest of the hosts will rehash. There is no actual state stored in the cookie itself.

I think we could support something like this but it would take a bunch of thinking on how to

[2019-06-11 16:04] mattklein123 commented on #7149
Closing as answered.

[2019-06-11 16:04] #7149 closed

[2019-06-11 16:17] a-sharma11 commented on #6050
+1
We have the same problem making it impossible to adopt envoy incrementally. It breaks all our existing tracing capabilities.

[2019-06-11 17:53] jyotima commented on #7228
@mattklein123 Thanks for the guidance. The next natural question is that urllib3 python library is not able to transparently handle this. Is it always recommended for H1 clients to retry on  `RemoteDisconnected` failures to mitigate this issue?
I would implement RemoteDisconnected as an expected exception in our python and go clients if that were the case.

If not, what is the most efficient and k

[2019-06-11 18:15] mattklein123 commented on #7228
It depends on your application, but in general I would not try to handle this race condition. Let it fail and let the caller retry.

[2019-06-11 18:37] htuch commented on #7170
I think this partly is a function of `libevent` and its coarse grained timers. I know @mergeconflict was looking into the depths of timer granularity not that long ago..

[2019-06-11 18:40] mergeconflict commented on #7170
I didn't investigate in any significant detail, but I'm happy to review PRs for this.

[2019-06-11 18:40] htuch commented on #7107
@fttyX what do you mean by multiple RDS resources here? Each listener can only take a single RDS subscription.

[2019-06-11 20:40] mattklein123 opened #7238 "remove well_known_names.h files"
These files are present for historical reasons and do not serve any real purpose. All extension code should be completely contained within the extension and that includes the name of the extension. We should remove all of these files.

[2019-06-11 21:15] moderation commented on #7238
Do the files below remain with everything under `source/extensions/*/well_known_name.h` removed?
[code]

[2019-06-11 21:19] mattklein123 commented on #7238
@moderation sorry yeah I think those should stay.

[2019-06-11 21:29] emise opened #7240 "Dynamodb Filters for all table operations"
*Description*:
It seems like the existing dynamodb filters do not support operations like `TransactWriteItems` (https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_TransactWriteItems.html).

What is needed to get support of all existing DynamoDB table operations? If not all, then just

`TransactGetItems`
`TransactWriteItems`

[2019-06-11 21:43] #5225 closed

[2019-06-11 21:51] hallie commented on #7240
Would this mostly just be adding `TransactGetItems` and `TransactWriteItems` to the [RequestParser::BATCH_OPERATIONS](https://github.com/envoyproxy/envoy/blob/3a596a4b0f8a8c3e60ff6240508a1d7395a9bacd/source/extensions/filters/http/dynamo/dynamo_request_parser.cc#L54) vector?

[2019-06-11 21:53] mattklein123 commented on #7240
Correct it should be fairly straightforward to add parsing for new/different APIs using the existing code as a guide.

[2019-06-11 22:20] PiotrSikora commented on #7221
@clyang82 you'd need to extend [`boringssl_fips.genrule_cmd`](https://github.com/envoyproxy/envoy/blob/f7aa9710cd1e2d11dec3ec75b8f6d6b41dc53919/bazel/external/boringssl_fips.genrule_cmd) to support building on ppc64le, ideally restricted to POWER9.

While this shouldn't be hard, there are no official prebuilt binaries for LLVM 6.0.1 and Ninja for ppc64le, which means that they would need to be bui

[2019-06-12 01:26] silentdai opened #7241 "FooPtr should be unique_ptr"
*Description*:
inspired by #7237 We have those anti convention XXXPtr  that are actually shared_ptr. See https://github.com/envoyproxy/envoy/blob/master/STYLE.md#deviations-from-google-c-style-guidelines

[code]

add to #7053

[2019-06-12 01:50] clyang82 commented on #7221
Thanks for your guidance. Can you also share how to verify or test it? Do you have automation cases for it?

[2019-06-12 03:11] #6903 closed

[2019-06-12 03:44] #6959 closed

[2019-06-12 09:27] ec opened #7247 "with_request_body configuration for ExtAuthZ doesnt work with PUT requests"
*Description*:
Good day!) We are using v1.10.0 and we upgraded from v1.9.0 exactly because of the feature.
For some reasons we need to have request body on our custom AuthZ (for implementing audit logic)

With the following configuration it works fine for query params and for request params for POST requests. But PUT remains empty
[code]

Expected behaviour: having request params on authz level fo

[2019-06-12 11:39] fttyX commented on #7107
@htuch is it possible to subscribe each listener to different RDS resource? To have different routes/domains for http and https listeners, for example.

[2019-06-12 12:25] holgero commented on #6601
Would adding a custom request header help here? Something like:
[code]
It would be at least a bit less complex than the XFCC header, but maybe the complete subject is still too much.

[2019-06-12 12:35] ipuustin commented on #1106
This can probably be done nicely with the BoringSSL Private Key Methods once https://github.com/envoyproxy/envoy/pull/6326 lands. Looks like https://github.com/tpm2-software/tpm2-tools will be the right lib for a reference implementation. I'll try to get myself a TPM module next...

[2019-06-12 13:10] alyssawilk commented on #6472
script updates and extending the runtime_features structures I think.  I plan on picking it up this or next week now we have a use case :-)

[2019-06-12 15:39] skydoctor commented on #7061
To diagnose problems like these, is there any way to figure out exactly which header is malformed as per the RFC? The only log we get is "invalid frame: Invalid HTTP header field was received on stream"

[2019-06-12 16:31] mattklein123 commented on #7061
This failures comes from within nghttp2 and IIRC there is no easy way to get the failure details, other than turning on extra trace logging. It might be worth looking at the code though.

[2019-06-12 16:32] dcarney commented on #7061
@skydoctor In this case, the problem isn't with a _particular_ HTTP header, it's with _any_ HTTP header whose value contains characters that are invalid, per the [relevant RFC](http://tools.ietf.org/html/rfc7230#section-3.2).

In my repro for this issue, you can see that I [manually create a header with such contents, in `request.txt](https://github.com/dcarney/envoy-repro/blob/e19b4b450728a91c2cd

[2019-06-12 16:33] mattklein123 commented on #7247
cc @gsagula @dio

[2019-06-12 16:38] #6815 closed

[2019-06-12 17:32] jplevyak opened #7248 "Add instrumentation for unexpected upstream closes."
**Issue Template**

*Title*: Add instrumentation for unexpected upstream closes.

*Description*:
HTTP/1.1 has an inherent race where the upstream server can close the connection at any time and an in-flight request can fail.  This is especially problematic for POST requests which may not be idempotent.  We should instrument these closes to determine what additional steps Envoy can take to mitigate

[2019-06-12 17:32] jplevyak commented on #7228
https://github.com/envoyproxy/envoy/issues/7248

[2019-06-12 17:38] #6811 closed

[2019-06-12 18:19] skydoctor commented on #7061
Thanks @dcarney, it would be great to validate the header for sure. In general, if a request is received from a client we don't control, it becomes harder to find which specific header had illegal characters.

@mattklein123: There seems to be a way to get nghttp2 to print out the name of the header in the form of : `Invalid HTTP header field was received: frame type: 1, stream: 13, name: [upgrade]

[2019-06-12 19:18] mattklein123 commented on #7227
The issue is larger than this. I think the issue is as follows:

https://github.com/envoyproxy/envoy/blob/db853fd237151b97fed7a0967918892816372dd1/source/common/stats/stat_merger.cc#L20

^ does not actually find across scopes, which means that it won't find a stat created by another scope, but when it goes to create the stat, it will get the shared stat data from the heap allocator, and then will

[2019-06-12 19:38] #6582 closed

[2019-06-12 20:31] ananda1066 commented on #6205
I'm fairly new to the system and looking into this - what would be the best place to check for zero values for counters/gauges? I've looked into the Thread Local Store but this seems too permanent for this specific situation. Any help is appreciated!

[2019-06-12 20:38] #6814 closed

[2019-06-12 20:44] jmarantz commented on #7227
fix in progress.

[2019-06-12 21:05] achasveachas opened #7250 "Trouble building envoy using bazel"
**Issue Template**

*Title*: *Trouble building envoy using bazel*

*Description*:
We are trying to build the master branch of envoy using Bazel version 0.22.0 but we seem to have gotten ourselves into a bad state.

We decided to start fresh, we downloaded a fresh Bazel executable and tried following the [documentation](https://github.com/envoyproxy/envoy/blob/master/bazel/README.md) on building en

[2019-06-12 21:26] moderation commented on #7250
@achasveachas You should try with the current version of Bazel which is 0.26.1 - https://github.com/bazelbuild/bazel/releases/tag/0.26.1. I presume you are on Linux? After getting the latest Bazel you might want to clean up with `bazel clean --expunge` and try again.

[2019-06-12 21:37] achasveachas commented on #7250
Yes, we tried 0.26.1 but ran into the same issues with that version as well (and 0.24.0).

We saw a few people mentioning that 0.26 seemed to still have some bugs which is why we rolled back to 22 which we knew wokerd for us until recently.

[2019-06-12 21:42] rgs1 opened #7252 "envoy stuck initializing cluster after we updated to 6ea29c7"
Since we synced with 6ea29c7, we are seeing that Envoy never finishes initializing clusters that depend on SDS. E.g.:

[code]

but something like:

[code]

never happens. The TLS context for the `foo` cluster looks like this:

[code]

cc: @fishcakez

[2019-06-12 21:56] mattklein123 commented on #7252
cc @htuch @fredlas

[2019-06-12 21:57] mattklein123 commented on #6205
This would be an option in the statsd sink: https://github.com/envoyproxy/envoy/blob/master/source/extensions/stat_sinks/statsd/config.cc

[2019-06-12 22:01] mattklein123 commented on #7248
There are already stats around this. See the "destroyed with active rq" family of stats.

[2019-06-12 22:08] htuch commented on #7107
Yes, but as it works today, I think each listener will open up its own independent RDS request for REST. You should reply back to Envoy with the requested resources in your management server.

[2019-06-12 22:21] rgs1 commented on #7252
Err, sorry for the confusion but #7200 is actually newer. I'll look around a bit more.

[2019-06-12 22:22] #6050 closed

[2019-06-12 22:24] rgs1 commented on #7252
Hmm a bit suspicious about #6525 now, given that we use gRPC to talk to our SDS sidecar.

[2019-06-12 22:37] snowp opened #7253 "Delay ADS stream until XDS cluster warming"
Currently the ADS stream is started immediately after static load completes:

https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/cluster_manager_impl.cc#L283

When used with STRICT_DNS, this means that the gRPC stream keeps attempting to connect until DNS resolves, which can exacerbate startup delays due to DNS issues: the stream will continuously attempt to connect, building u

[2019-06-12 23:13] moderation commented on #7250
- Linux?
- Build command? Is it `bazel build //source/exe:envoy-static.stripped` or something similar?
- `/home/pivotal/workspace/vmfiles/vmshare/` - Are you building on a remote file system?
I'm building on Linux (Red Hat 7), Ubuntu 18.04 with no issues and have been for a while. Will need more detail in order to help.

[2019-06-13 00:34] pitiwari commented on #7017
@mattklein123 did you got chance to look at the updated design

[2019-06-13 03:03] htuch commented on #7253
@snowp I think you could potentially take advantage of https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/cluster_manager_impl.cc#L208. Shouldn't be too hard I think.

[2019-06-13 06:24] gaocegege commented on #2784
Hi is there any progress here?

[2019-06-13 08:06] 0521ak47 commented on #179
i use https but ratelimit not work

[2019-06-13 09:39] 0521ak47 opened #7257 "envoy http ratelimit is work,but https ratelimit not work"
static_resources:
listeners:

address:
socket_address:
address: 0.0.0.0
port_value: 443
filter_chains:

filters:

name: envoy.http_connection_manager
typed_config:
"@type": type.googleapis.com/envoy.config.filter.network.http_connection_manager.v2.HttpConnectionManager
codec_type: auto
stat_prefix: ingress_https
access_log:
- name: envoy.file_access_log
config:
path: "/var/log/access.log"
route_co

[2019-06-13 09:53] rojkov commented on #4445
I'm experimenting with decompression filters and here's [my branch](https://github.com/rojkov/envoy/tree/decompress).

It supports the use case from the issue description and can participate in applying a different compression on an already compressed stream (like "decompress gzip" -> "compress with brotli") when stacked together with another compression filter (e.g. [brotli](https://github.com/ro

[2019-06-13 10:46] ipuustin commented on #1106
After some more investigation it seems that we might as well do a generic PKCS#11 private key method provider. This would give us the most flexibility regarding the actual backend (just load the SO/DLL implementing the PKCS#11 API) and also be pretty cross-platform. We can also use something like SoftHSM for testing.

[2019-06-13 11:41] banks opened #7258 "Consider relaxing /dev config file restrictions for /dev/fd/*"
#3165 added additional file path sanity checking to avoid legitimate bad cases found during fuzz testing.

Unfortunately it breaks one valid case we have.

For background: Consul Connect need to configure Envoy's bootstrap to point it to the local Consul agent as an xDS endpoint. In order to enforce our security model where an agent is shared between different services/pods, the bootstrap therefor

[2019-06-13 13:42] achasveachas commented on #7250
- We're on Linux 18.04 as well.
- The command we're using is just `bazel build //source/...`, but ran into the same issues when trying to build `bazel build //source/exe:envoy-static`
- The directory is also mounted into a Windows VM (which is why it's under our `vmshare` directory, but we're running the build on the Linux host.

We were able to run everything just fine until recently, it's just t

[2019-06-13 14:14] achasveachas commented on #7250
Never mind!

We realized the issue might be because we're using the mounted file. We cloned a fresh copy into a local directory and now the build is running without a problem.

Thanks for your help!

[2019-06-13 14:14] #7250 closed

[2019-06-13 14:35] htuch commented on #7258
@banks I'm open to relaxing to `/dev/fd/*`, but I'm also curious if you could pursue a different architecture for your use case, similar to some of the Envoy configurations we have at Google. Essentially, you replace the `main.cc` with your own custom version and then call into `Envoy::MainCommonBase` with the bootstrap passed in-memory. This doesn't work with every Envoy deployment scenario (e.g.

[2019-06-13 14:39] htuch commented on #5739
@fredlas I've tagged this help wanted. We probably want to nail this down in the context of the v3 API bump for the discovery services and incremental support (I've listed it in https://github.com/envoyproxy/envoy/issues/6271). If you have bandwidth, you're welcome to it, otherwise folks working on API topics should pick this up.

[2019-06-13 14:40] htuch commented on #5739
CC @envoyproxy/api-shepherds @envoyproxy/udpa-wg

[2019-06-13 14:44] #6830 closed

[2019-06-13 15:03] fredlas commented on #5739
Yeah, probably I shouldn't get involved; I really need to be getting on to my new project!

I think this should be pretty simple: the current code is already concatenating errors per resource into a single string, so instead just feed them into the map option mentioned in the original post. Need to decide what to do with the existing singular error field (maybe it could remain the concatenated str

[2019-06-13 15:37] rgs1 commented on #7252
Hmm, taking a closer look this morning it seems to be between these changes:

https://github.com/envoyproxy/envoy/compare/9d47062517cf9d728d0c09246ebdcb1111449c6a...6ea29c7475652e1ff9bb035dfb9a5bad7de1f4c3

Bisecting now.

[2019-06-13 15:44] mattklein123 commented on #7252
I would potentially suspect https://github.com/envoyproxy/envoy/commit/1e34a2e29cdb33cb9e9d089c775caad0e3b5e2ba

[2019-06-13 15:45] rgs1 commented on #7252
@mattklein123 literally just reverted it and trying that :-)

[2019-06-13 15:45] rgs1 commented on #7252
stay tuned.

[2019-06-13 16:10] mattklein123 commented on #7017
Sorry for the delay. I added some comments to the doc. Let's continue discussion there.

[2019-06-13 16:15] banks commented on #7258
Thanks @htuch.

We certainly would prefer to keep compatibility with official Envoy binaries for now.

I've actually built a work around that uses named pipes and a detached child process which is less clean but seems to work (https://github.com/hashicorp/consul/pull/5964). While this is probably OK for us pragmatically, it's much less nice as you end up with zombie child process around etc.

An a

[2019-06-13 16:22] htuch commented on #7258
Yeah, I think we could relax `/dev/fd/*`. The idea in the original restriction was to block users (and fuzzers) from things that were clearly bogus, but `/dev/fd/` (and for that matter, things like `/proc/self/cwd`) have legitimate use cases.

[2019-06-13 16:26] rgs1 commented on #7252
Alas, 1e34a2e wasn't the problem. Still stuck at:

[code]

[2019-06-13 16:38] rgs1 commented on #7252
Hmm what's going on here:

[code]

[2019-06-13 16:57] rgs1 commented on #7252
Ok, definitely related to our `tls_context`. I remove it, it starts without a problem. So might be something in our setup and not an upstream thing.

[2019-06-13 17:13] cjhubert opened #7262 "Sending health checks of tcp service to http port"
# Description

- Envoy Version = `v1.10.0`
- Control plane: `go-control-plane@62fa968cea8132a2f462d25904a9522be1a005a4`

I have a service that has both a tcp port and http port exposed. I want traffic
to go to the tcp port, but health checks for the tcp service to go to the http port,
but have so far been unable to figure that out. As far as I can tell, the
configuration for the service shows that

[2019-06-13 18:11] snowp commented on #7262
Have you tried setting the health check config on the endpoint to point to the http port?

https://github.com/envoyproxy/data-plane-api/blob/master/envoy/api/v2/endpoint/endpoint.proto#L54

[2019-06-13 18:46] cjhubert commented on #7262
That's what I was completely missing. With that, I don't even need the extra cluster if it's solely for health checks, as the tcp cluster can have an http health check with a different health check config port. Thanks!

[2019-06-13 18:46] #7262 closed

[2019-06-13 18:47] jyotimahapatra commented on #7228
@mattklein123 Thanks for the help. I will close the issue now. We implemented retry at the client side.

[2019-06-13 18:50] #7228 closed

[2019-06-13 18:56] jyotima opened #7264 "Support Runtime values in router check tool"
*Title*: Router check tool does not support runtime values

*Description*:

We use a lot of routes based on runtime configs and will help catch issues better and earlier if runtime was supported.

[2019-06-13 19:58] renana commented on #6424
Same here. It would be good to provide more information on the solution.

[2019-06-13 20:43] rgs1 commented on #7252
So the issue gets triggered by running two instances of our sds sidecar [unclear why this is bad in itself, but reverting fixes it].

I leaving this open, since there might be room for improving how Envoy handles a misbehaving sds cluster/instance.

[2019-06-13 22:05] curiouserrandy opened #7266 "BufferFragmentImpl destructor not called by GoogleGrpcUtils, which may result in memory leak"
*Title*: BufferFragmentImpl destructor not called by GoogleGrpcUtils, which may result in memory leak

*Description*:
In GoogleGrpcUtils::makeBufferInstance, a "placement new" is used to allocate several instances of Buffer::BufferFragmentImpl into a previously allocated memory block that contains all of those objects.  The BufferFragmentImpl's use a releasor function to indicate when they are don

[2019-06-13 22:23] curiouserrandy commented on #7266
Sorry, backtrace actually provided:

E0613 22:14:15.579488    7941 heap-profile-table.cc:489] RAW: Leak of 48 bytes in 6 objects allocated from:
        @ 0x558bb5a3b7ea third_party/crosstool/v18/stable/toolchain/bin/../lib/gcc/x86_64-grtev4-linux-gnu/4.9.x-google/../../../../x86_64-grtev4-linux-gnu/include/c++/4.9.x-google/functional:1879 std::__g::_Funct\
ion_base::_Base_manager<>::_M_clone()

[2019-06-13 22:32] mattklein123 commented on #7266
cc @jplevyak

[2019-06-13 22:44] #6812 closed

[2019-06-13 23:27] silentdai commented on #6904
This might happen if the listener is "added" but not at "replaced". If there is no draining listener at this port, it's nice to have the listen() before it's ready to server. The benefit is that the incoming connection are queued instead of rejected.

Maybe we should give the listeners in this state a new name instead of "active".

[2019-06-14 00:04] #7227 closed

[2019-06-14 00:09] rvm-segfault commented on #6424
So to build this locally on my mac I need to increase the memory available to my docker container. By default docker seems to be limited to 2Gb of memory. To be able to compile the release binary and run the tests I had to bump it all the way up to 10GB.

https://stackoverflow.com/questions/44533319/how-to-assign-more-memory-to-docker-container****

[2019-06-14 01:03] curiouserrandy opened #7268 "No way to modify Envoy::TestUtility::DefaultTimeout"
*Title*: No way to modify Envoy::TestUtility::DefaultTimeout

*Description*:
BaseIntegrationTest:: createGeneratedApiTestServer creates the envoy server and waits for a listener to be created, and times out if the listener is not created in Envoy::TestUtility::DefaultTimeout (== 10s).  If the test is being run in a context in which setup may take substantially longer (either a heavily loaded machi

[2019-06-14 01:07] pitiwari commented on #7017
@mattklein123 i had replied to your comments, please have a look.

[2019-06-14 02:27] splix opened #7272 "Pass gRPC metadata to ext_authz"
*Title*: *Pass gRPC metadata to ext_authz*

*Description*:
With current `ext_authz` filter implementation an external `grpc_service` receives only subset of request information, such as IPs and TLS details. It would be really helpful to have ability to access gRPC metadata headers as well.

Our current authorization schema is based on metadata fields added to grpc calls. Metadata is checked on ser

[2019-06-14 04:10] #5130 closed

[2019-06-14 07:45] sibendu opened #7275 "front-proxy example configuration works for sample python service, but not with simple service written using Java Spring Boot"
**Issue Template**

*Title*: front-proxy example configuration works for sample python service, but not with simple service written using Java Spring Boot

*Description*:
I am trying Envoy as a front-proxy to a simple API built using Java Spring Boot. But it returns HTTP status 503: upstream connect error or disconnect/reset before headers. reset reason: connection termination
Same configuration w

[2019-06-14 08:55] ec commented on #7247
Still waiting for any feedback)
Just UP, as issue already go deep

cc @gsagula  @dio  @mattklein123

[2019-06-14 08:56] dio commented on #7247
@ec sorry missing this. I'll try to check on v1.10.0, since I couldn't reproduce it on master.

[2019-06-14 09:29] ec commented on #7247
@dio thanks a lot. Looking forward )
If any additional info required from my side - i can get it fast

[2019-06-14 09:46] nezdolik commented on #6730
@mattklein123 would like to give it a try

[2019-06-14 10:16] Stoakes opened #7276 "Ring Hash consistent traffic splitting between multiple upstreams"
Hello,

I'm trying to consistently split traffic between multiple upstreams to do some canary release. However, I can't get ring hash based on header working with weighted_cluster: for a given header value, queries are not always routed to the same cluster. Istio and Ambassador have this feature, so I guess it's possible with Envoy standalone.

I've been looking through code and doc for a while bu

[2019-06-14 11:29] holgero commented on #6601
I will try to solve this with a lua filter (to read the value of the XFCC header and set x-remote-user from the parsed values in the subject) for now. Do you think that might make sense? Or is something else already under way?

[2019-06-14 11:49] dio commented on #7247
@ec Sorry, I couldn't reproduce your issue 😢. This is my repro repo: https://github.com/dio/issue-7247

As you can see, by running the compose file, I can inspect the body of PUT requests from the "ext auth service".

[2019-06-14 11:56] ec commented on #7247
Thank you @dio I will go and check again. 2 times.
And with your repo as well

Will come back to update situation.
Thanks

[2019-06-14 13:59] RocIngersol555 opened #7278 "How to apply new filters?"
**Issue Template**

How do I apply new filters?

Description:
I was wanting to look at the the OIDC provider [here](https://github.com/wso2-cellery/mesh-security/tree/master/components/envoy-oidc-filter ) for use with Envoy in a sidecar for external auth.. Q: How do I install the new filter? Download and recompile? or is there some other way that I'm missing? Thx!

[2019-06-14 14:50] rgs1 commented on #7252
Turns out, the problem was our sds service was returning incorrect secrets to Envoy, which Envoy would ignore and request again. Envoy would then block setting up clusters/listeners until it got a secret response it expected. Since this never happened, Envoy would block forever...

Sorry for the false alarm.

[2019-06-14 14:50] #7252 closed

[2019-06-14 15:22] mattklein123 commented on #7276
Consistent hashing works only within a cluster today, not across weighted clusters. This would be a different feature request.

[2019-06-14 15:23] mattklein123 commented on #6730
@nezdolik sounds great. I think for this it would be good to put together a short design doc before coding. Do you want to take a stab at that and we can discuss?

[2019-06-14 15:51] banks commented on #7258
PR added. Please let me know if there is something I missed or if there are other concerns around this. That seems to fix the issue for us.

[2019-06-14 16:15] mattklein123 commented on #1193
Re-titling this "L4 consistent hashing QUIC proxy" to differentiate from the L7 support being worked on right now. This feature is required for a production QUIC deployment behind UDP load balancers that don't understand QUIC. I will work on a design doc for this in the next 1-2 months and share.

[2019-06-14 16:16] mattklein123 commented on #492
Unless someone gets to this first I will finish this out in service of https://github.com/envoyproxy/envoy/issues/1193.

[2019-06-14 16:40] pitiwari commented on #7017
@mattklein123 Thanks for providing your input. I had replied to your new comments, please have a look.

[2019-06-14 18:00] cstrahan commented on #5536
In the scenario where latency is due to 1:1 RPC hogging CPU time, and assuming that the RPC server is on the same machine, this might be worth considering: instead of using protobuf/gRPC, use a zero-copy, (de)serialization-free message format (like [Cap'n Proto](https://capnproto.org/)) and pass messages via file descriptor over Unix domain socket (the memory for the message(s) would be allocated

[2019-06-14 18:57] mattklein123 opened #7284 "docs: add filter chain page to arch overview"
https://github.com/envoyproxy/envoy/tree/master/docs/root/intro/arch_overview/listeners

[2019-06-14 18:58] mattklein123 opened #7285 "docs: add RBAC and JWT to security arch overview"
https://github.com/envoyproxy/envoy/tree/master/docs/root/intro/arch_overview

[2019-06-14 20:24] tjholwik opened #7288 "istio envoy dont fallback to http1.1"
**Issue Template**
we are using istio 1.1.7 which is using envoy under the hood and we have some external tools which is using `http 1.1` and **not** http2, we have tried to change this config via the following which doesn't help, please advice .

see istio tread
https://github.com/istio/istio/issues/14708

[code]

*Title*: *One line description*

*Description*:

describe the desired behavior, wha

[2019-06-14 20:56] tjholwik commented on #7288
@mattklein123 - IMO this is a bug and not question :)

[2019-06-14 21:01] mattklein123 commented on #7288
The Envoy project has no knowledge of Istio config. I would bring it up with them. If you have Envoy config that we can look at happy to do so, otherwise I don't have enough information to determine if this is a bug or not.

[2019-06-14 21:15] pitiwari commented on #7017
@mattklein123 I was able to find a way to keep index without being persistent, please check out my reply in the doc

[2019-06-14 22:06] nezdolik commented on #6730
@mattklein123 sounds good to me. Need few days to get familiar with relevant part of codebase. Will get back with design doc afterwards.

[2019-06-14 22:16] lizan commented on #7285
cc @yangminzhu @qiwzhang

[2019-06-15 00:01] yangminzhu commented on #7285
Thanks, I created a PR for rbac: https://github.com/envoyproxy/envoy/pull/7289

I think @qiwzhang should have better knowledge on the JWT filter.

[2019-06-15 09:17] #7004 closed

[2019-06-15 10:21] lizan commented on #7266
Per https://github.com/envoyproxy/envoy/blob/master/source/common/grpc/google_grpc_utils.cc#L67 I think the BufferFragmentImpl is only freed and its destructor is not called. Thus the destructor of std::function<> in BufferFragmentImpl is not called but just freed. Yeah it depends on the impl detail of std::function<>. I'm working on a fix.

[2019-06-15 14:36] #6867 closed

[2019-06-15 17:09] atrifan opened #7291 "feature: http and network filter that load and run dynamic filters (.so files)"
**Issue Template**

*Title*: *Write a http & network filter that are capable of running dynamic filters - .so files*

*Description*:

We can contribute this feature back to envoy if it's relevant for you guys. We would like this to be a part of envoy since we don't want to build our custom envoy.

Do you think it's worth it? Do you see any performance impact or other potential issues?

Thanks.

[2019-06-16 15:59] #6887 closed

[2019-06-17 08:51] TBoshoven commented on #6897
@lizan This is still an issue. Is there anything else we can provide to help identify and resolve the problem?

[2019-06-17 10:36] TBoshoven commented on #6897
This is very useful. I was not aware of the `trace` verbosity level.
Here's what I believe is the relevant part of the log. If needed, I can give you the full one as well.

[code]
The line that struck me as odd is `[connection] [source/extensions/transport_sockets/tls/ssl_socket.cc:234] [C1] ssl write returns: 412`
According to [this](https://www.ibm.com/support/knowledgecenter/en/SSLTBW_2.1.0/com

[2019-06-17 12:46] jmarantz commented on #7109
#7295 is an incremental step toward simplification, mostly collapsing 2 Allocator data structures, removing some templatization.

Next step is to split HeapStatData into Counter and Gauge variants, as Gauge will likely need to add a mutex to resolve a race between value-updating and import-mode resolution. But Gauge doesn't need pending_increment, so I think that can be a wash in size, and would b

[2019-06-17 14:39] skydoctor commented on #7061
@mattklein123, @alyssawilk: Do you see a way to incorporate the more detailed log from nghttp2?

[2019-06-17 14:56] alyssawilk commented on #7061
Unfortunately I'm not sure there's a way to get nghttp2 to print that error, other than turning up all nghttp2 logs, which gets pretty spammy.  It looks like the detailed string gets passed up to session_call_error_callback, but the envoy codec callback only gets NGHTTP2_ERR_HTTP_HEADER

Would it have helped if the upstream Envoy had extra debug info, i.e. where it logs
"invalid frame: Invalid HTT

[2019-06-17 15:09] alyssawilk commented on #7218
I'm not terribly familiar with Envoy upstream selection.    I also kind of see how this would work for H2, where you can check connection lifetime vs drain time if we move a bunch of APIs around but I'm less convinced it works well for HTTP/1 given that you may have a preexisting pipeline connection and then prefetch more, and have inconsistent state?

I think rather than base this on connection l

[2019-06-17 15:25] dcarney commented on #7061
@mattklein123 @alyssawilk I actually have a working PR that I was going to submit that fixes this issue following the rough approach that [@bobby-stripe suggested a few weeks ago](https://github.com/envoyproxy/envoy/issues/7061#issuecomment-497766084).

My PR makes the HTTP connection manager validate that the headers are RFC-compliant (delegating to `nghttp2_check_header_value` for the actual val

[2019-06-17 15:52] alyssawilk opened #7300 "Improve Envoy crash logging"
While core dumps are often better for in-depth debugging we've found that a high percentage of bugs can be debugged a bit more quickly with a combination of stack trace and information about the stream which caused the crash.

To start with I'd love to replicate what we have for L7 debugging in-house, where we track and dump active session.   Essentially each active stream in each worker thread re

[2019-06-17 16:25] mattklein123 commented on #7291
I think this is a duplicate of https://github.com/envoyproxy/envoy/issues/2053. Can we track there? At a high level I would like to see this land and I don't think it would be that difficult. The main thing will be to figure out what ABI guarantees we make, if any, and what symbols get exported from the main binary.

[2019-06-17 16:42] mattklein123 commented on #7061
@dcarney thanks. I think this fix is reasonable, but I would be concerned about changing end-user behavior, which makes me think we should probably do opt-in for this, but I could be convinced otherwise. WDYT @alyssawilk?

[2019-06-17 16:44] mattklein123 commented on #7300
@alyssawilk at a high level this sounds interesting and useful to me. My only concern would potentially be around perf but I think we can make it light weight enough or potentially make it opt-in with a null implementation or something like that.

Also, I think we should sync up with @htuch before you start doing significant coding. I have been discussing with him some ways we might due per-tenant

[2019-06-17 17:19] roboll commented on #6601
(@nyodas and I work together)

For our use case we'd need only one field from the subject. having the whole subject can't work. (We don't control the behavior of the downstream app so can't change it.)

[2019-06-17 17:28] brectanus-sigsci commented on #5209
@htuch Any further discussion/thoughts on getting started on this? Anything I can help out with in the immediate?

[2019-06-17 18:25] alyssawilk commented on #7061
Definitely opt-in please.  I'm less sure if it needs to be a permanent config option or can we do it with runtime flags.  We could always runtime-guard it with the plans of deprecating the old code path, but if anyone complains replace the runtime guard with a permanent config option?

I'm also curious if orthogonally we should tweak our upgrade detection.  Right now on the H2 path we only remove

[2019-06-17 18:27] alyssawilk commented on #7300
I think the base implementation is setting and clearing a pointer on alarm entry, so should be fine from a perf perspective.  I agree once we have scoped "entering a session" objects we can also use them for attribution and that'd be more perf heavy.  I'll start on sessing logging utils and printable APIs which shouldn't overlap, and try to save the scoped entry points for when htuch@ is back onli

[2019-06-17 18:33] skydoctor commented on #7061
Thanks @alyssawilk. The place I see this error is an edge gateway and the incorrect header is received from an outside client. Hence the struggle is to convey to the client which exact header of theirs was at fault. We turned up the logging level to trace but still could only get the following:

`[2019-06-17 13:35:07.086][32][debug][main] [external/envoy/source/server/connection_handler_impl.cc:25

[2019-06-17 20:26] alvioshki commented on #7007
I am also interested in such a functionality +1

[2019-06-18 00:37] bplotnick opened #7308 "mysql: Graceful draining for MySQL listeners"
*Description*:
It would be nice to have the MySQL filter participate in the graceful drain by waiting until between queries to close[0] the connection. I think this would look something like what we do for mongo and redis - try to close connections on query/transaction boundaries.

ProxySQL does [something](https://github.com/sysown/proxysql/wiki/MySQL-Server-Configuration#gracefully-disabling-a-b

[2019-06-18 00:59] InfoHunter opened #7309 "Compilation stalls when building Envoy in a container"
*Title*: Build progress stalls in the *envoyproxy/envoy-build-ubuntu* container.

*Description*:

I checked out the latest master and followed the instructions in `ci` directory - `./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.dev` - to build envoy from source inside the ubuntu container. My host OS is a macOS 10.14.5 with docker desktop installed.

After triggering the above command the container

[2019-06-18 01:05] mattalberts commented on #6899
interestingly, if I launch envoy with a crippled sds configuration (no resources defined) to get the fd watch setup and then update the file with resources, the certs load without throwing a `pure virtual method called` error. But if I start with the resources defined as below, I reproduce the issue

file used to init envoy
[code]

file update after init
[code]

output of `/certs`
[code]

[2019-06-18 02:57] tatsuhiro-t commented on #7061
nghttp2 has https://nghttp2.org/documentation/nghttp2_session_callbacks_set_error_callback2.html#c.nghttp2_session_callbacks_set_error_callback2 which provides verbose error message.
Check for liberr == NGHTTP2_ERR_HTTP_HEADER you'll get the message.  But after invoking the callback, libnghttp2 will reset stream so it is not usable to return HTTP status code.

[2019-06-18 04:23] PiotrSikora opened #7311 "Add DataSource.http_uri for fetching blobs from remote HTTP endpoints."
Currently, [`DataSource`](https://github.com/envoyproxy/envoy/blob/6a6e43a94201e9059de61fd6e94fda984615b54c/api/envoy/api/v2/core/base.proto#L175) blobs (e.g. TLS certificates) can be either inlined in the configuration or point to a file on the local filesystem.

Existing source types work fine for the small and/or easy to distribute blobs, but once we start including bigger blobs (e.g. WASM exte

[2019-06-18 08:25] davecheney commented on #4540
@silentdai would you be able to post a brief status update on this issue for followers. Thanks. Dave

[2019-06-18 11:22] fttyX commented on #7107
Thanks!

[2019-06-18 11:22] #7107 closed

[2019-06-18 11:50] prdoyle commented on #2852
What's next now that #4950 is merged?

[2019-06-18 12:11] a-sharma11 commented on #6050
Thank you @htuch for closing this. Is this available to use with latest?

[2019-06-18 14:11] jeid64 opened #7312 "TLS docs do not mention that the subject alt name is not verified by default"
*Title*: TLS docs do not mention that the subject alt name is not verified by default

*Description*:
https://www.envoyproxy.io/docs/envoy/v1.8.0/intro/arch_overview/ssl#enabling-certificate-verification
The documentation is a little confusing and leads people to believe that if they only enable trusted_ca, they'll actually be verifying the alternative name on the cert.

See:
"/etc/ssl/certs/ca-ce

[2019-06-18 14:31] snowp opened #7313 "Allow referencing other headers in add_*_headers"
Currently a number of variable substitutions are supported for add_request_headers/add_response_headers. It would be useful to be able to able to reference other headers, e.g. using the REQ/RESP syntax used with access logging.

As not all combinations would be valid (e.g. referencing response headers in `add_request_headers`), some additional config validation would be necessary.

[2019-06-18 15:06] snowp commented on #7309
I suspect your docker VM doesn't have enough memory, causing compilation to grind to a halt. Maybe try increasing the resources given to the VM?

[2019-06-18 15:48] #6911 closed

[2019-06-18 15:55] #7216 closed

[2019-06-18 16:24] jmarantz opened #7314 "buffer: Switch from the libevent impl of Envoy::Buffer to Brian Pane's implementation"
The codebase has two alternate implementations of Envoy::Buffer. The legacy one is derived from libevent's buffer implementation, and has a ton of mileage on it, but also numerous known fuzzing issues.

A new one was created by @brian-pane which is off by default. There has been some fuzzing work done on it and it looks clean.

We should use this issue to collect experiences canarying the new buff

[2019-06-18 17:08] silentdai commented on #4540
#7152 #7246 are the preparation. Not a real fdcs thing but share the motivation that decouple the filterchain and listener flow.
I have several draft PRs on benchmark and FCDS proto. Blocked by #7246
I also have draft design doc supposed to publish by the end of this week.

[2019-06-18 17:11] mattklein123 commented on #7312
Agreed we can/should do better here. Doc PRs appreciated to add warnings, links, etc.

[2019-06-18 17:36] alyssawilk commented on #7061
Oh, that's fantastic, I'd missed that API, thanks.
I wonder if we could canonicalize this and send the information as optional proxy-status details?  Alternately if nghttp2_check_header_value works for getting verbose details I'd be happy to see how that looks as well.
https://datatracker.ietf.org/doc/html/draft-nottingham-proxy-status
@PiotrSikora

[2019-06-18 18:04] xyu-stripe commented on #6482
@mattklein123 I'd like to work on this if it's not already being worked on.

Based on your comment, would the following sound like a reasonable approach?

1. Introduce a `strict_check_headers` config field to `envoy.router` configuration to enumerate headers that would be subject to strict validation. This is opt-in. Example config:
[code]
2. If a request contains a header listed in the config tha

[2019-06-18 18:55] derekargueta commented on #7314
I'm interested in canarying the new implementation at Pinterest

[2019-06-18 18:59] jmarantz commented on #7314
CC @htuch @asraa for any more detail available on fuzzing of the new buffers.

[2019-06-18 19:01] tmshort commented on #3404
BoringSSL does not support post-handshake authentication for TLSv1.3; last I knew. Although using PHA would require changes in how Envoy handles certificate authentication.

[2019-06-18 19:01] mattklein123 commented on #7314
I will give this a smoke test at Lyft in the next few days.

[2019-06-18 19:05] davidben commented on #3404
Note TLS-level post-handshake authentication is incompatible with both HTTP/2 and QUIC. It's a weird HTTP/1.1-only hack.

[2019-06-18 19:09] tmshort commented on #3404
URL for building [Envoy with BoringSSL FIPS](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/ssl.html#fips-140-2) has changed.

[2019-06-18 19:11] tmshort commented on #3404
@davidben Regardless, neither stack offers TLSv1.3 + FIPS, yet.

[2019-06-18 20:02] siepkes opened #7316 "Error in listener callback in listener_impl.cc always leading to panic"
I ran into an interesting issue with Envoy crashing on SmartOS (Solaris). Sometimes Envoy would die with a panic when trying to accept a connection on a listener because `listener_impl.cc` -> `void ListenerImpl::errorCallback(evconnlistener*, void*)` always panics on any error. However the "error" was actually `EAGAIN`, not something worth panicking on I think.

I "fixed" (more of a workaround) th

[2019-06-18 20:19] moderation commented on #7314
I've been running the new buffer implementation in my home network and at work for a couple of weeks. The testing is pretty low volume and low complexity. No Lua, no hot restart etc. But we have tested http, h2, grpc, tcp, rate limiting, external auth etc. at work. No issues thus far.

[2019-06-18 20:54] mattklein123 commented on #7316
This sounds reasonable, though I would be curious to understand under what conditions EAGAIN can actually be returned. My understanding is this should be handled by the underlying event platform. If it looks like it actually can happen on Linux/BSD we should definitely look into fixing and adding a test.

[2019-06-18 20:55] mattklein123 commented on #6482
@xyu-stripe yup sounds great to me.

[2019-06-18 21:06] siepkes commented on #7316
Great! I'll see if I can do some digging on this next week (I'm on the move the rest of the week) to figure out what can trigger EAGAIN and what makes sense when dealing with it.

[2019-06-18 22:37] mattklein123 commented on #7179
I get a better stack trace of this with ggdb3 and this is actually heap corruption I think due to some of the other issues I have fixed. I'm going to close this for now and will reopen if there are more bugs.

[2019-06-18 23:16] #6708 closed

[2019-06-18 23:38] mattklein123 commented on #1606
Initial PR out. Tracking additional work items here to call this issue done for v1:

- [ ] Configurable DNS cache circuit breakers and maximums
- [ ] Stats
- [ ] `<IP>:<port>` host names
- [ ] Show host name in admin output
- [ ] Dynamic per-host TLS, at least for SNI and verifying subject alt name

@lizan @alyssawilk and others lmk if I'm missing anything.

[2019-06-19 05:48] #6845 closed

[2019-06-19 06:29] sibendu commented on #7275
Hi All,
I am quite stuck on this; and seemingly it must be something simple in config I am missing. Any clue/pointer please?  Thanks a lot in advance.
Regards.
sibendu

[2019-06-19 06:40] deoxyszc opened #7319 "Is it possible to use an NFS mounted file as dynamic configuration?"
I'm using evoy v1.10.0
![image](https://user-images.githubusercontent.com/45086445/59741884-db1b5380-929e-11e9-90bf-c3549492c4b5.png)

I wrote an xds configuration file below:
[code]
The path `/envoy/` is a mounted NFS path.

When I modify the `.yaml` files on the NFS client, which envoy is running on, envoy will reload the configuration correctly; but if the files are modified on the NFS server,

[2019-06-19 07:56] Yikun opened #7320 "Enable the OpenLab CI in Envoy"
The OpenLab CI configuration has been approved in https://github.com/envoyproxy/envoy/pull/6981 [1], there is only one step to enable the OpenLab CI in envoy project.

Here is the link to install the OpenLab APP [2]:
https://github.com/apps/theopenlab-ci

Note that the OpenLab CI github APP only require basic permissions to update check status and commit test result log URL in PR comments, you can

[2019-06-19 13:24] sharma-sudhakar commented on #5828
Can I set the "x-envoy-force-trace" header in lua script (in envoy_on_request) in the envoy edge-proxy and expect the "x-request-id" header in the response handle in the lua script (in envoy_on_response callback) ? I tried but getting nil "x-request-id" in the response handle.

[2019-06-19 13:35] ipuustin opened #7322 "Docker container fix_format fails due to missing flake8 tool."
*Description*:

Locally running `fix_format` in Docker container fails. I think the failing tool is the the last check to be run so the issue doesn't affect running the other formatting tools.

*Repro steps*:
[code]

[2019-06-19 14:37] InfoHunter commented on #7309
Yes, you are right. After I increased the memory from 2GB to 8GB, the problem was gone. Thanks for the help!

[2019-06-19 14:37] #7309 closed

[2019-06-19 14:53] atrifan commented on #2053
I would think that you could have a generic http filter and network filter in which you specify what .so file to load and there you would call a predefined method - proxying the call to the dynamic .so file - passing as parameters - callback functions to be invoked for logging, setting meta variables or some other process in which you would do the logic in your dynamic .so file but logging and oth

[2019-06-19 15:42] seguidor777 commented on #5930
Hello I have the same question, I am looking for examples of network rate limit

[2019-06-19 16:29] mattklein123 commented on #7320
Hi @Yikun, optimally we would not need to setup an app for this. Can we potentially just setup a webhook?

[2019-06-19 16:31] #6907 closed

[2019-06-19 16:32] mattklein123 commented on #2053
My preference is to actually support it more directly in the code at each extension point. Meaning, today we statically register all extension points and then search for them at load time by name. I think what we need to do is actually allow extensions to optionally be specified by an .so/.dll, and then just load that.

[2019-06-19 16:53] asraa commented on #7314
The  buffer_fuzz_test uses the new buffer implementation, and there haven't been any issues reported so far. If there's some interesting cases or things to explore, I can add them in as corpus entries and/or extend the fuzz test.

[2019-06-19 17:21] mpuncel opened #7324 "Crash on nghttp2 callback attempt"
**Issue Template**

*Title*: Crash on nghttp2 callback attempt

*Description*:
We've seen some crashes on Envoy version db853fd237151b97fed7a0967918892816372dd1.

Decoded stack trace:

[code]

Unfortunately I don't have a good way of getting core dumps.

[2019-06-19 17:26] snowp commented on #7324
@mattklein123 Could this possibly be related to #7212 ?

[2019-06-19 17:28] mattklein123 commented on #7324
I doubt it, just based on the call stack which appears to be related to upstream streams. Did this start in a particular commit range? Can you provide the range?

[2019-06-19 17:30] mpuncel commented on #7324
We didn't have any issues with dcd7f4c57912a4d1045bdda490a5ca920845ae9d, although that's 2 months old so doesn't narrow it down much unfortunately

[2019-06-19 18:36] #6874 closed

[2019-06-19 19:38] ngrigoriev commented on #6739
Personally I think that it should be achieved by adding a header with the value of another header and removing the specific header(s).
I have a case for it too. My API Gateway (based on Ambassador) will receive the Authorization header and process it. I do not want my backend APIs to be aware of the actual bearer token, I will provide them the required values in separate headers. Yet, for some cas

[2019-06-19 19:59] auni53 opened #7325 "Evaluate accesslog filters in Envoy rather than accesslog implementations"
(Cleanup proposal.)

Currently, access log filters are manually evaluated in each implementation. Filters are instantiated and passed to the AccessLog::Instance, and then each AccessLog::Instance's `log()` implementation has logic of `if (filter_ && filter_.evaluate(...)) then log()`. Instead, I propose we move that logic up to some sort of public `bool evaluate_filter(...)` function in the Access

[2019-06-19 20:10] mattklein123 commented on #7179
This is still broken on relatively recent master. There is some heap corruption here, I think somehow related to the fault filter. I will poke around and see if I can figure out what is going on.

[2019-06-19 20:10] auni53 opened #7326 "Add static registration of AccessLog::Filter implementations"
(This is a feature request.)

Currently there's no way to custom define your own custom AccessLog::Filters! Would be nice to have.

[This PR on static registration for AccessLog::instance](https://github.com/envoyproxy/envoy/pull/1609/files) should be a helpful reference.

cc: @ambuc @eziskind @AndresGuedez

[2019-06-19 20:23] mattklein123 commented on #7179
I spotted an issue in the fault filter, will fix that.

[2019-06-19 20:33] mattklein123 commented on #7325
+1 would love to see this happen, agreed the current situation is a lot of copied code.

[2019-06-19 20:34] mattklein123 commented on #7326
+1

[2019-06-19 20:39] codyaray commented on #6334
Any more thought on this? Would be interested in it

[2019-06-19 21:06] jyotimahapatra commented on #7264
#730

[2019-06-19 21:11] jyotimahapatra commented on #7264
@hennna I observed this enhancement also mentioned in issue #730 . I could use any ideas you already have  around this.

[2019-06-19 21:59] duderino commented on #7311
Both @silentdai and @crazyxy said they could take this.   Post Thunderdome, one of them will claim it here.  But if someone else wants to grab it I doubt they'd object

[2019-06-20 00:00] mattklein123 opened #7331 "docs: add FAQ on why BoringSSL"
Let's have an explicit FAQ on why we are using BoringSSL, the support we get from the BoringSSL team, etc.

[2019-06-20 00:02] mattklein123 commented on #7331
@lizan @PiotrSikora are either of you willing to take a stab at this?

cc @davidben @agl

[2019-06-20 02:18] Yikun commented on #7320
Hi, @mattklein123 , much thanks for your reply. The answer is **Yes** [1], but it's not a recommend way.

AFAIK, the Github app is a **simple way** to set a series webhooks and permisions configurations. I guess your mainly concern is the repo security?

Actually, the Openlab APP only requires minimize permissions, and all requested permission would be listed when you install the app, looks like:

[2019-06-20 03:28] mattklein123 commented on #7320
@Yikun it does require write access to status, PRs, etc. Can we just start with a web hook for now and if it becomes problematic we can revisit? If you let me know what webhook to install I can do that.

[2019-06-20 04:15] venilnoronha opened #7332 "Lua Filter Test Flake"
It seems that the Lua filter test is flaky. I saw a few PR failures (ci/circleci: tsan) with the following log.

[code]

[2019-06-20 06:19] arun17sep2018 opened #7333 "Unknown address resolver: udm.svc.cluster.local"
Title:
Unknown address resolver: udm.svc.cluster.local

Description:-
When envoy sending DNS query to consul agent to resolve hostname.
envoy appends <namespace>.svc.cluster.local.
When pods are located in different namespaces with envoy proxy as sidecar. hostname validation resolution fails, because of <namespace>.svc.cluster.local.
Below solution i tried to work with multi-namespace case.

Cofig

[2019-06-20 06:40] Yikun commented on #7320
@mattklein123 I have to sorry to say currently the Openlab only support the Github app way to enable the CI. As I mentioned before, the webhooks way will bring some maintenance problem in the Openlab. Could the team consider to use Github APP? : )

[2019-06-20 10:14] arun17sep2018 commented on #7333
i got the answer, we can give hostname with domain name (i.e umserver-service-zts1.service.dc1.test.svc.cluster.local). envoy will not add any other information in hostname. but i want to understand how resolver_name field works.

[2019-06-20 10:25] lizan commented on #7320
@mattklein123 IIUC the r/w access to commit statuses and pull requests means it will update the status of a commit (like Azure Pipeline does for its check), and comment on PRs. It won't be able to commit code etc so I guess it is fine, unless we have other solution for CI that support ARM.

[2019-06-20 13:17] jmarantz opened #7336 "stats: doc memory-consumption tests and how to fix"
Context (from slack):

x [7:24 PM]
*Question:* Would someone be able to point me in the right direction for debugging the following `MemoryLargeClusterSizeWithStats` test failure? I can’t seem to reproduce this locally, and it is the only test failing in the `ci: release`, which blocks the PR from review: https://github.com/envoyproxy/envoy/pull/7323

The specific test failure output:
[code]

[2019-06-20 14:45] auni53 commented on #7325
Do you like my proposed design? Or is there a cleaner way to automatically call that evaluate_filter() automatically on Instance::log() calls.

As well, as far as I'm aware this change will have no performance benefits, but make the code better. Correct assessment?

[2019-06-20 15:16] digressionary opened #7338 "ext_authz not passing content-type in POST request"
**Issue Template**

*Title*: *ext_authz not passing content-type in POST request*

*Description*:

[code]

I have sent the request through this echo service; https://github.com/jmalloc/echo-server
to see what request comes through Ambassador.

My ecosystem:
  node: 10.16.0
  express: 4.17.1
  body-parser: 1.19.0
  concat-stream: 2.0.0
  Docker: 19.03
  Kubernetes: 1.14.1
  Ambassador API Gateway:

[2019-06-20 15:45] #6695 closed

[2019-06-20 16:05] mattklein123 commented on #7320
@lizan I have no idea what OpenLab CI is (sorry @Yikun) so that is where the pushback is coming from. @lizan if you vouch for it no objection from me to add the app.

[2019-06-20 16:10] mattklein123 commented on #7338
cc @gsagula @dio

[2019-06-20 16:33] kflynn commented on #7218
After kicking this around at Datawire for a bit, we think that it would work to add a way to mark a given upstream as "blacklisted for new hashes only":

- if a request comes in with a valid (non-expired) cookie directing it to the blacklisted upstream, fine, go ahead and route.
- if a request comes in with no cookie, or with an invalid or expired cookie, never allow the hash to select any blackli

[2019-06-20 17:05] rene-m-hernandez commented on #7275
The `serviceab` Cluster definition has `http2_protocol_options: {}`. Did you configure your Java server to handle Http/2?

[2019-06-20 17:21] crazyxy commented on #7311
I'll take this one.

[2019-06-20 18:07] auni53 commented on #7325
Ah, revised question. This log() function offered by the AccessLog seems to be available to all filters. I had considered making this change slyly such that custom implementations of an AccessLog don't have to change anything, but on the other hand if I change the log() call that the HCM makes, should I worry about other consumers' filter implementations relying on calling an accesslog log()?

[2019-06-20 19:06] bcelenza opened #7341 "Question: Filter chain not matching on expected criteria"
**Bug Template**

*Title*:  Expected filter chain match is not made

*Description*:

Consider the following listener configuration:

[code]

The clusters in this example are both simple original destination clusters (and could conceivably be the same cluster).

If I send an HTTP request to `https://somewhere.foo.com:443`, the request succeeds as expected. However if I send an HTTP request to `http

[2019-06-20 19:23] mpuncel commented on #7324
We're pretty sure that commit 4dafba65baaf9769723f895761268eed31af629b (May 29) is good as well, which narrows things down a bit more. 2 weeks of commits to examine

[2019-06-20 19:38] mattklein123 commented on #7324
@mpuncel can you provide a range? I can take a look.

[2019-06-20 20:17] keith opened #7342 "Remove dependency on python 2"
Currently some scripts in the repo are only compatible with python 2. Since that is being EOL'd we should modernize them to support python 3.

More context: https://github.com/envoyproxy/envoy/pull/7337

[2019-06-20 20:45] #6930 closed

[2019-06-20 21:34] phylake commented on #5368
I think I found the answer. Please confirm.

Envoy does buffer on retries but only up to the [`per_connection_buffer_limit_bytes `](https://www.envoyproxy.io/docs/envoy/v1.10.0/api-v2/api/v2/cds.proto#envoy-api-field-cluster-per-connection-buffer-limit-bytes), at which point it [abandons the retry logic](https://github.com/envoyproxy/envoy/blob/v1.10.0/source/common/router/router.cc#L419)

[2019-06-20 21:53] moderation commented on #7342
Also see https://github.com/envoyproxy/envoy/issues/4552

[2019-06-20 21:59] #7203 closed

[2019-06-20 22:42] mattrobenolt commented on #5808
This would be _really_ useful to have. Or some implementation of being able to configure user/group and mode on the unix sockets. Similar to how haproxy would do it, etc.

There have also been multiple tickets for this so I didn't want to open another, but it's a shame that these are being auto closed for being stale. :( So I'm adding a louder +1 here mostly in hopes of this getting re-opened.

@a

[2019-06-20 23:22] yanavlasov opened #7346 "Make Envoy::Grpc::AsyncClient mock friendly"
After recent revamp of gRPC interfaces it became difficult to mock gRPC clients that use Envoy::Grpc::AsyncClient template. The problem is that interface is not virtual and now requires dependency injection to mock client objects.
Proposal is to make Envoy::Grpc::AsyncClint interface virtual, as there does not seem to be any downside to it.

[2019-06-20 23:28] snowp commented on #7324
Using 4dafba6..db853fd as the range:

[code]

[2019-06-20 23:40] mattklein123 commented on #5808
Reopening and marking help wanted.

[2019-06-20 23:42] mattklein123 commented on #7346
@yanavlasov can you expand on the difficulty and what you are proposing? Here is an example of mocking:

https://github.com/envoyproxy/envoy/blob/2e03ef24060d479fb825d2d0257a1961f502f08d/test/extensions/filters/common/ratelimit/ratelimit_impl_test.cc#L67

I agree it used to be a bit simpler but it's not too bad now so trying to understand the proposal better. Thank you.

[2019-06-20 23:45] mattklein123 commented on #7324
https://github.com/envoyproxy/envoy/compare/4dafba65baaf9769723f895761268eed31af629b...db853fd237151b97fed7a0967918892816372dd1

[2019-06-21 00:03] mattklein123 commented on #7341
I would need to go look at the code in more detail. @PiotrSikora @silentdai do you have a quick assessment of whether this is a bug or WAI?

[2019-06-21 00:04] mattklein123 commented on #7325
@auni53 I think it's probably fine to change the log interface if it makes it better. I would have to sit down and look at all the code in detail to page it back in to have a real opinion, but my general feeling is that there are a bunch of ways you can de-dup the code and I don't feel too strongly about any one method. Feel free to put up a PR and we can discuss if you like one way over the other

[2019-06-21 00:23] yanavlasov commented on #7346
The Grpc::AsyncClient does not have sendRaw method. This has recently changed. Here is the new class.
https://github.com/envoyproxy/envoy/blob/3c42cf460a2710bbe4dc43e72afc456f72411f04/source/common/grpc/typed_async_client.h#L94

[2019-06-21 00:40] PiotrSikora commented on #7341
This is working as intended - the decision tree first matches on :443, which eliminates all filter chains without :443 match specified from further considerations.

If you add `destination_port: 443` to the second filter chain, then you'll get the behavior you're expecting.

[2019-06-21 01:08] mattrobenolt commented on #5808
Thanks @mattklein123. <3

[2019-06-21 01:21] bcelenza commented on #7341
Thanks for the clarification.

Is there any reason why the decision tree cannot back out of the initial match on port if the remaining criteria does not match? Or perhaps there's a reason for this approach that I'm just not seeing?

As written, the documentation quoted above is at least a bit confusing to me in that, in this case, it's not matching ALL criteria in the filter chain match, even thou

[2019-06-21 01:38] #6943 closed

[2019-06-21 03:02] seguidor777 opened #7351 "Envoy proxy not processing responses properly from rate limiting service"
*Envoy proxy not processing responses properly from rate limiting service*

*Environment*:
* Linux latitude 4.19.0-kali5-amd64 # 1 SMP Debian 4.19.37-1kali1 (2019-05-09) x86_64 GNU/Linux
* Intel(R) Core(TM) i7-3687U CPU @ 2.10GHz
* Envoy v1.10.0 running in a Docker container with the grpc-web filter
* Latest rate limiting service implementation from http://github.com/lyft/ratelimit

*Repro steps*:

[2019-06-21 03:18] geraldstanje opened #7352 "test"
test

[2019-06-21 03:18] #7352 closed

[2019-06-21 03:19] Arnold1 opened #7353 "question about http reverse proxy usecase"
Hi,

i have a question is envoy able to mirror the traffic for the following usecase?
For each incoming request, it clones the request into 2 requests, forwards them to 2 servers.
The results from server A are returned as usual, but the results from server B (qa_server) are ignored.

teeproxy handles GET, POST, and all other http methods.

cc: https://github.com/chrislusf/teeproxy

is thats alread

[2019-06-21 03:43] incfly commented on #7195
Mind providing more context on use case why listener filter can time out? One thing I've experienced, not sure if it's scoped in this FR,  is the `tls_inspector` can sometimes get stuck if the tls handshake is initiated in from server side, for that very reason, the Istio `PERMISSIVE` mode does not work for [MySQL](https://istio.io/faq/security/#mysql-with-mtls).

[2019-06-21 05:34] mattklein123 commented on #7353
Yes, see https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto.html#route-routeaction-requestmirrorpolicy

[2019-06-21 06:47] Yikun commented on #7320
@mattklein123 Never mind, I guess it was my misleading explanation that led to your misunderstanding. If the team still have some discussion need to be continued, you could feel free to comment, I'd like to do the deep explanation. : )

And looks like the periodic `envoy-build-arm64` [1] are still going on fine, so please go ahead and enable this [2] when appropriate.

[1] http://status.openlabtes

[2019-06-21 13:46] achasveachas commented on #129
**Status Update:** We are still working on this slowly but surely.

Work on our end slowed down for a few weeks while Envoy kept moving ahead, but now we're back at it. Once we get our [changes](https://github.com/greenhouse-org/envoy/tree/windows-linux-build) up-to-date with master the PRs should start coming in again.

The next PR will probably be to provide a Windows implementation of the `IoHa

[2019-06-21 13:48] pluqueTheLuxe commented on #129
Thanks for the update feedback. It's very appreciated

[2019-06-21 13:52] jmarantz commented on #129
Very nice. Getting something up in CI would be great, even if it's not ready for production, because I keep reviewing code that I feel needs to at least be tested on Windows, but it's hard to push back on the PR without being able to point to a CI failure.

[2019-06-21 13:58] sibendu commented on #7275
Hi, many thanks for looking into it. yes the service works with Http2. I had some issues with networking setup in my environment. Now I am able to make it work. I am closing the issue.
Thank you.

[2019-06-21 13:58] #7275 closed

[2019-06-21 14:02] mhoran commented on #129
Agreed. We do have CI [here](https://garden-windows.ci.cf-app.com/teams/main/pipelines/envoy/), however it's currently paused since the branch we were building was so out of date. Once the branch is back up to date we'll re-enable the CI and can watch that for failures.

It should be easier for others to run the build on Windows and integrate into CI if the Bazel issue is indeed fixed. @mattklein1

[2019-06-21 14:14] rshriram commented on #7195
thats what @lizan is talking about.. For mysql,, the filter will wait for data from client forever.. Instead, it should timeout and fallback to some default filter chain.

[2019-06-21 17:23] mattklein123 commented on #129
Now that we are using Azure pipelines getting an NT CI job running should be trivial. Please sync up with @lizan

[2019-06-21 17:24] mattklein123 commented on #7320
I will just defer to @lizan to approve. If he says it is OK I will enable the app. :)

[2019-06-21 17:30] incfly commented on #7195
Sounds great, this can benefit Istio directly.

If Envoy folks also think this generic useful feature, I'm interested in helping on this one (very closed to wrap a PR for another FR, https://github.com/envoyproxy/envoy/issues/7111).

[2019-06-21 17:44] lizan commented on #7320
The app seems safe in term of GH permission given that it is also used in some projects in kubernetes org (https://github.com/kubernetes/cloud-provider-openstack), though I'm concerned about it's noisy comments after seeing PRs in that repo. @Yikun can you elaborate more on what the app will do based on the current configuration?

Also the current job doesn't run any tests but just produce binary,

[2019-06-21 18:33] mattklein123 commented on #7324
I looked through and yeah the only thing that is suspicious is probably https://github.com/envoyproxy/envoy/pull/7212. It's hard for me to see how that commit can make things worse, but, I did mark regression risk as high. :) Can you potentially bisect around that commit?

[2019-06-21 18:52] wrowe opened #7357 "Windows VS 2017 compiler complains about constexpr construct"
Commit b41ba592 introduces the following construct;

[code]

which results in the following error compiling with on cl.exe 19.16.27031.0;

[code]

The following dirt stupid hack results in clean compilation. I'll profess my ignorance, and ask if there is a better workaround?

[code]

[2019-06-21 20:36] snowp opened #7358 "Propagate downstream timeout to upstream through multiple Envoys"
When running Envoy on both egress and ingress, the client will provide a timeout header to the egress Envoy, which will propagate the expected upstream timeout in `x-envoy-expected-rq-timeout-ms`. The upstream Envoy will not read this header, so it will resolve a new timeout value that is set as the expected timeout for the upstream service. This means that the deadline expected by the egress Envo

[2019-06-21 21:33] mattklein123 commented on #7358
Yeah agreed I think either would solve. I don't have a super strong opinion on which one.

This does bring up the general topic of deadline propagation which we haven't really tackled yet in a holistic way. I've thought at some point we may also want to stick the deadline in trace context baggage since this would also propagate through app calls, though that is a larger problem than you are trying

[2019-06-21 21:37] mattklein123 commented on #7341
The implementation today is a giant set of nested hash tables. I think it would be possible to implement backup and restart but it would need some thinking.

It would be great to get a PR in to clarify the documentation, at least until we decide if we want to allow alternate behavior.

I think that's right. @PiotrSikora is there a way to express the config intent here with the current implementati

[2019-06-21 21:45] mattklein123 commented on #7218
Conceptually it would work, but I think the implementation will be complex, as then we need a per-host draining concept (which I guess we have today but I would need to refresh the details). Worse, and this is where I would really have to think it through, I'm not convinced this works well at all if the upstream hosts are stable and things rehash. Are we assuming upstream stability? Even if we ass

[2019-06-21 21:57] PiotrSikora commented on #6899
cc @asraa

[2019-06-21 22:15] PiotrSikora commented on #4540
One more thing to consider as part of this work is decoupling of filter chains from the filter chain matchers. This would not only help with the future on-demand work, but it would also allow multiple filter chain matchers to match to a single filter chain, instead of having separate instances of filter chains for each matcher, since those can be exact copies in some cases.

[2019-06-21 22:19] rgs1 commented on #4540
fwiw, for our use case it would be great to allow multiple matchers to refer to the same chain and avoid the extra copies.

[2019-06-21 23:55] junr03 commented on #6205
@ananda1066 put up a PR to address this issue but won't have time to finish testing and going through the code review process. If someone wants to take up this issue feel free to look at this PR https://github.com/envoyproxy/envoy/pull/7343 as a jumping point.

[2019-06-22 00:00] moderation opened #7363 "tracers: Upgrade to lightstep-tracer-cpp 0.12.0"
*tracer*: *Upgrade to lightstep-tracer-cpp 0.12.0*

*Description*:
Envoy currently uses lightstep-tracer-cpp 0.8.0. 0.12.0 was released on November 25 - [release notes](https://github.com/lightstep/lightstep-tracer-cpp/releases/tag/v0.12.0). Build structure of the project have changed and it is not possible to only bump the version download in `bazel/repository_locations.bzl` /cc @tedsuo @objectis

[2019-06-22 01:27] crazyxy commented on #7311
I am working on this issue and stuck somewhere. After adding `HttpUri` as a data source, we need to support async data fetch. I tried to change current code from current data source to the new data source but came across several problems.

I don't know how can we ensure that data is fetched before listener starts working. I know we can use `init manager`, `init target` and `init watcher` to coordi

[2019-06-22 03:14] lizan commented on #7311
Adding HttpUri to existing `DataSource` structure might be too widespread than it has to be. e.g. there is no point to extend TLS key/cert data source to be an HttpUri given SDS exists, and the first cluster has no way to initialize such fetches.

Adding another type (`RemoteDataSource`? beat me on a better name) might make more sense, and then we will need a set of utility classes for that with c

[2019-06-22 05:15] silentdai commented on #7311
Another way to think about it. We could add a AsyncDataSource which has one of  `RemoteDataSource` and existing `DataSource`.

[2019-06-22 05:44] lizan commented on #7311
Ah sorry for the confusion I meant "RemoteDataSource" being oneof (HttpUri, DataSource), so yes we need a better name.

[2019-06-22 05:52] silentdai commented on #7341
The decision tree mode has a strong advantage:
1. 10000 simple filter chain build per second at main thread, and
2.  amortize 250ns spend at worker thread during the data plane request. Could be worse because my benchmark working set is small and cases are the easiest.

Extending the backup search may not increase the nested hash tables much but the upper limit of finding a filter chain could expl

[2019-06-22 05:57] silentdai commented on #7341
@bcelenza
How about this config:
[code]

[2019-06-22 08:36] siepkes commented on #7316
I did some digging in to the lower levels and it seems (from what I understand so far) that some backends implementations of libevent will never return `EAGAIN` and will handle it themselves. However some backends simply return `EAGAIN` as an error if it occurs.

I've asked on the libevent maillinglist what the contract is (should I as a developer handle it or is it a bug in the backend implementa

[2019-06-22 09:18] sp13-hub opened #7367 "Add `dns_failure_refresh_rate` similar to `Cluster.dns_refresh_rate`"
*Title*: *Should there be  `dns_failure_refresh_rate` similar to `Cluster.dns_refresh_rate` ?*

*Description*:

[optional *Relevant Links*:]

[2019-06-22 14:45] Yikun commented on #7320
@lizan Sure. The OpenLab app will only trigger the `envoy-build-arm64` job in every PR(every update), and will give a result to show the build is passed or failed, just like the demo [1] shown. The job will be also triggered when user type the `recheck` or reopen the PR. And the OpenLab is also using in some other CNCF project like cloud-provider-openstack [2], containerd [3], you can also take a

[2019-06-22 15:09] crazyxy commented on #7311
Can we rename current `DataSource` to `LocalDataSource` and add a new `RemoteDataSource` which contains `HttpUri` and `sha256`. Have another `DataSource` which has `oneof` `RemoteDataSource` and `LocalDataSource`.

[2019-06-22 15:15] crazyxy commented on #7311
Can we rename current `DataSource` to `LocalDataSource` and add a new `RemoteDataSource` which contains `HttpUri` and `sha256`? Have another `DataSource` which has `oneof` `RemoteDataSource` and `LocalDataSource`.

I am not sure about the risk of renaming.

[2019-06-22 17:38] mattklein123 commented on #7311
I would not bother with renaming for this. IMO we can just use `RemoteDataSource` or `AsyncDataSource` or something like that.

[2019-06-22 17:40] mattklein123 commented on #7341
My personal feeling on this is that we shouldn't implement backup, but if we really need to we should make the precedence order configurable which is already a TODO in the code.

[2019-06-22 21:39] gsagula commented on #7338
@dio I think I know what is going on here. I will catch up with some work
tomorrow so I can take a look at this issue too.
--
Gabriel Linden Sagula

[2019-06-22 23:10] yurivict opened #7370 "Buld fails on FreeBSD: please do not assume that it always builds from the git repository, tarballs should be ok too"
[code]

[2019-06-23 03:10] dio commented on #7338
@gsagula OK. Not sure what corresponding Ambassador version of Envoy here. But from my quick check [here](https://blog.getambassador.io/ambassador-0-72-ddaca31c75f8), seems like it is 1.10 that doesn't have: `allowed_request_headers:` and `allowed_authorization_headers:` or is it translated directly to:

[code]
?

[code]

I did a repro using above config, and dump the headers from the "dump" servi

[2019-06-23 11:39] jmarantz opened #7373 "grpc: tsan race condition failure observed in CI during hot-restart test"
The test actually passed -- I discovered this when looking at the logs for a different flake, but the message was concerning:

[code]

[2019-06-23 11:42] jmarantz opened #7374 "CI: lua_filter_test failed in CI under tsan, but issue was not visible in logs"
test log can be round here:

https://circleci.com/gh/envoyproxy/envoy/239072?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-06-23 13:20] jmarantz commented on #4196
/wait

[2019-06-23 14:04] #6835 closed

[2019-06-23 20:04] #6961 closed

[2019-06-23 20:42] mattklein123 commented on #7370
This is a duplicate of https://github.com/envoyproxy/envoy/issues/2181, let's track there.

[2019-06-23 20:42] #7370 closed

[2019-06-23 20:50] yurivict commented on #2181
Could you just remove git command invocation in the build?
git is a tool to manage sources and for collaboration, it is not to be called from inside of the build.

All version information should be provided from outside through command arguments.

[2019-06-23 21:26] esmet commented on #7148
@lizan I ran into this recently and decided to experiment with a patch to lua_filter to inject the current span's context headers into `request_headers` before calling lua functions.

It seems to work fine, but I think you're saying it'd be better if we exposed a whole new API eg: `handle:spanInfo()` vs exposing it as `handle:headers():get("x-b3-trace-id")`. Is that right? If so, do you have a pre

[2019-06-23 21:45] gsagula commented on #7338
@digressionary I'm also having a hard time trying to reproduce the issue. Here is my config:
[code]

curl -X POST -d "{ \"test\": 123 }" -H "Content-Type: application/json" -H "requested-status:200" http://localhost:61880/post
[code]

@dio It should translate it to the correct Envoy config:
[code]
will give Envoy something like this:
[code]

[2019-06-24 11:42] philwo opened #7379 "Envoy broken on Bazel CI: "No module named httplib""
**Issue Template**

*Title*: Envoy is currently broken on Bazel's CI.

*Description*:

`//test/integration/hotrestart_test` fails with this error:

[code]

Failing build: https://buildkite.com/bazel/envoy/builds/814#624cf49e-ade8-44a9-967e-a79a77cebe8f
Full log: https://storage.googleapis.com/bazel-untrusted-buildkite-artifacts/624cf49e-ade8-44a9-967e-a79a77cebe8f/test/integration/hotrestart_test/

[2019-06-24 11:43] philwo commented on #7379
FYI @meteorcloudy - current Bazel Green Team sheriff.

[2019-06-24 12:03] meteorcloudy commented on #7379
I think https://github.com/bazelbuild/bazel/issues/8626#issuecomment-504052013 is related.

[2019-06-24 12:50] mattklein123 commented on #7379
cc @lizan @keith

[2019-06-24 14:08] RocIngersol555 opened #7380 "ext-auth and redirect"
Hey Folks,

I’m trying to use the ext_authz filter. The behaviour I’m seeing – requests get routed to my ext-auth cluster, get auth’d but then return 403.

If I disable the ext-auth filter on my auth route I can ‘see’ my auth payload.

I guess my question is – how do I control what header values mean a request is auth’d or denied?

Thx!

[2019-06-24 14:29] digressionary commented on #7338
I realize I made a mistake in my example.
This is the list of headers I originally whitelisted:
allowed_request_headers:
- requested-status

However, later through testing, I found that this worked:
allowed_request_headers:
- requested-status
- content-type

In older versions of Ambassador, this was the default behaviour.  Maybe documentation clarification?  Also, there's no mention in the documen

[2019-06-24 14:29] #7338 closed

[2019-06-24 15:11] phylake opened #7381 "configurable default circuit breaking config"
*configurable default circuit breaking config*

*Description*:
Contour allows circuit breaking fields such as max connections to be configured via annotations. If unset then the Envoy defaults are used. These defaults are much too low, and were one of the callouts at EnvoyCon with regard to sensible defaults in Envoy.

Providing a way to increase these for all IngressRoutes would be ideal. As oper

[2019-06-24 15:13] mattklein123 commented on #7381
I think this is a Contour issue. Please file an issue there to allow the defaults to be changed.

[2019-06-24 15:13] phylake commented on #7381
Whoops I was on the wrong tab. Sorry about that!

[2019-06-24 15:13] #7381 closed

[2019-06-24 15:43] phylake commented on #5368
@mattklein123 is that ☝️ right?

[2019-06-24 16:20] keith commented on #7379
I've submitted a fix for this https://github.com/envoyproxy/envoy/pull/7382, I assumed all the failures were host tools and would be fixed by https://github.com/envoyproxy/envoy/pull/7337 but this one appears to not be. We also have some issues tracking moving these off python2 https://github.com/envoyproxy/envoy/issues/7342

[2019-06-24 16:26] keith commented on #4552
This has come up again with some bazel updates, more context https://github.com/envoyproxy/envoy/pull/7337

[2019-06-24 16:26] keith commented on #7342
Closing for that now

[2019-06-24 16:26] #7342 closed

[2019-06-24 16:41] bcelenza commented on #7341
I agree that implementing backup probably isn't the best thing, as we would need to essentially specify it as an alternate matching approach for backwards compatibility.

@silentdai Your approach does help. Thanks.

[2019-06-24 16:43] andrewtikhonov commented on #7060
Implemented it using two Lua filters and one JWT filter in between. First Lua filter saves header values to metadata before authentication. The JWT does the verification. Then the second Lua filter checks the response code and if it's "401" - rewrites the code to "307" and adds a "location" header with a value constructed from previously captured headers. This is a bit weird that I had to add this

[2019-06-24 18:04] keith commented on #7379
I _think_ I was able to easily update this script to python3 instead https://github.com/envoyproxy/envoy/pull/7386

[2019-06-24 19:32] cclauss opened #7389 "Upgrading yapf breaks our build"
**Issue Template**

*Title*: *Upgrading __yapf__ in __tools/requirements.txt__ breaks the build.*

*Description*:

Most projects are moving quickly to [__python/black__](https://github.com/python/black) but we can stick with yapf if we want.  However, we have [__yapf==0.25.0__ hardcoded in __tools/requirements.txt__](https://github.com/envoyproxy/envoy/blob/master/tools/requirements.txt#L2) and wh

[2019-06-24 19:37] htuch commented on #5209
@brectanus-sigsci we've not had any bandwidth to tackle this one. I think if you want to work on this we'd be happy to help do design and code review. I think a brief design doc would be a good start if you are up for that.

[2019-06-24 19:39] htuch commented on #7300
Chatting with @yanavlasov today, he had the idea that GDB scripts to crawl the core would provide both the information of interesting ^^ and also provide a form of documentation on "how Envoy works", i.e. the key relationship between data structures. I think what @alyssawilk is working on is generally interesting, but just thought I'd point out the potential confluence between these.

[2019-06-24 19:42] mattklein123 commented on #7300
Envoy specific GDB scripts would be amazing!

[2019-06-24 19:44] TBoshoven commented on #6897
I ended up switching to [grpcwebproxy](https://github.com/improbable-eng/grpc-web/tree/master/go/grpcwebproxy). It successfully connects to the backend services.

[2019-06-24 20:04] alyssawilk commented on #7300
+1 - if we could "auto" generate debug info from crashes that'd be awesome.  Bonus points for flags to redact obvious PII.

[2019-06-24 21:42] htuch commented on #6050
@a-sharma11 this should be available on master @ HEAD.

[2019-06-24 21:51] a-sharma11 commented on #6050
thank you @htuch ! Any documentation on how to use it? If i can follow the pr correctly seems like a new setting is added.

[2019-06-24 21:58] htuch commented on #6050
See https://github.com/envoyproxy/envoy/blob/0243ded4b29be7c7d95316ca99eae2e3c517e1a4/api/envoy/config/filter/network/http_connection_manager/v2/http_connection_manager.proto#L290.

[2019-06-24 22:04] #7346 closed

[2019-06-24 22:07] htuch commented on #6651
Still in progress on a low priority thread.

[2019-06-24 22:08] htuch commented on #7311
+1 on having a distinct `RemoteDataSource` and skipping the rename. I think in the v3+ APIs we can clean this up a bit and add a `oneof`.

[2019-06-24 22:44] PiotrSikora commented on #7341
Yes and no.

Matching on `0.0.0.0/0` is the default behavior, and it's implied when no `prefix_ranges` is configured, which means that it shouldn't matter whether it's specified in your configuration or not, since both filter chains should be matching on `0.0.0.0/0`.

Having said that, it seems that we have a bug, and that's not happening right now.

I believe it's broken because we create subtree

[2019-06-24 22:59] htuch commented on #7389
@cclauss we have no strong emotional attachment to `yapf`, if you want to switch to something else without too much churn, you're welcome to switch.

[2019-06-24 23:03] htuch commented on #7380
@RocIngersol555 can you share your ext_auhz filter? That would probably make things a little easier to grok.

[2019-06-24 23:05] #7266 closed

[2019-06-25 07:59] brandjon commented on #7379
[This](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1049#cda4d35e-f4ea-40cc-9cc7-cbd25b261d06/44) buildkite run from a few days ago appears to be picking up envoy sources at commit [54e22406c38987d5b0401f18b614501bc184f41f](https://github.com/envoyproxy/envoy/commit/54e22406c38987d5b0401f18b614501bc184f41f), which is dated 10 days ago. Any idea why the downstream pipeline isn't

[2019-06-25 08:35] meteorcloudy commented on #7379
Because Envoy has been red since Bazel is upgraded to 0.27.0.
https://buildkite.com/bazel/envoy/builds?page=17

We don't update the last green commit for a project if it's already red with the latest release.

[2019-06-25 09:01] brandjon commented on #7379
Thanks, looks like the `ModuleNotFoundError: No module named 'httplib'` error case is still live in the most recent build.

[2019-06-25 09:07] meteorcloudy commented on #7379
If envoy needs `httplib` to be installed, they can add the pip install command in the bazel ci config script. Like TensorFlow does: https://github.com/bazelbuild/continuous-integration/blob/master/buildkite/pipelines/tensorflow-postsubmit.yml#L34
[code]

[2019-06-25 10:23] ramaraochavali commented on #7358
+1. It would be very useful.  Inserting `x-envoy-rq-timeout-ms` on the ingress side may be good idea. That might require users to set `use_remote_address` to ensure that it is not sanitized?

[2019-06-25 11:00] mthebridge opened #7396 "Cannot pass remote downstream port to upstream"
I would like to be able to pass the original downstream remote IP + port to my service when using Envoy as an ingress HTTP proxy.  At the moment, I can get hold of the remote IP, either reading it from the `x-envoy-external-address` header, or adding my own custom HTTP header using the `%DOWNSTREAM_REMOTE_ADDRESS_WITHOUT_PORT%` specifier - but as far as I can tell there is no way to add an HTTP he

[2019-06-25 14:10] jmarantz commented on #7374
I got another lua tsan test failure but was able to get slightly more bits out of the log this time:
[code]

[2019-06-25 15:18] skydoctor commented on #7061
Perhaps this could be used for printing the name of the header in the trace log printout as well?

[2019-06-25 15:56] jcampbell05 commented on #1451
We have written a very small test proxy to implement this situation (http://github.com/aiwip/super-proxy) however we think it would be much better to use a well tested and used L7 proxy.

What is the best way to implement this ?

[2019-06-25 15:59] mattklein123 commented on #1451
The plan for implementing this is going to be:
1) Finish the ongoing dynamic forward proxy support
2) Implement CONNECT in the forward proxy filter using upgrade semantics, similar to websocket.

[2019-06-25 16:18] #6921 closed

[2019-06-25 16:30] wrowe commented on #7357
Could this ticket be related? I note we are taking  _repository_impl("com_google_absl") not github.com/abseil/ and the two implementations might be out of sync.

https://github.com/abseil/abseil-cpp/issues/63#issuecomment-352490310

[2019-06-25 16:34] htuch commented on #7396
Are you after the source or destination port here? E.g. if a client X connects to Envoy Y on port 80 from some local ephemeral port 21345, which one do you want?

[2019-06-25 16:37] bcelenza commented on #6748
App Mesh also has a pretty big interest in this. I'd be happy to join and participate as needed.

[2019-06-25 16:51] mthebridge commented on #7396
Hi there - yes, I'm after the source port.  So in your example, I'd like Envoy to forward on somehow the 21345 value.  (I believe that the `X-Forwarded-port` header would contain the destination port).

[2019-06-25 17:46] mattklein123 commented on #6748
If there are multiple users it would be great to get this upstreamed. @bcelenza I will connect you and @sumukhs over email.

[2019-06-25 17:48] silentdai commented on #7341
Sounds the correct cause. I will fix once #7246 is merged.

Absolutely. Will do

[2019-06-25 17:49] silentdai commented on #7341
@PiotrSikora could you assign this issue to me for me to track?

[2019-06-25 18:29] gargnupur commented on #6532
Exploring if TCP over HTTP/2 metadata frames can be used to implement this...

We would need both these issues fixed for that afaik:
1) https://github.com/envoyproxy/envoy/issues/1630
2) https://github.com/envoyproxy/envoy/issues/2394

[2019-06-25 20:44] mk23 opened #7397 "Finish implementation of TLS Session Ticket keys delivery via SDS"
Currently TLS Session Tickets can only be configured as `DataSource` which limits them to inline string/bytes or individual files.  This type of setup requires a restart of envoy to rotate the keys.  The API already has a provision to pull them from SDS, albeit currently stubbed out.  Further, trying to configure SDS for tickets throws an explicit "SDS not supported" error.

Please consider fully

[2019-06-25 20:50] silentdai commented on #7311
@crazyxy and I had the discussion that to integrate the `asyncRead` api, a dispatcher is needed. Also a callback is need to continue the routines that need a content referenced by `RemoteDataSource`. `Init::Manager` should work.

One of the WebAssembly use case is acting as network filter while the web assembly filter would use the result of that data source.

I am going to expose the InitManager

[2019-06-25 22:47] keith commented on #2739
FYI I'm updating gcovr to 3.4 in this PR https://github.com/envoyproxy/envoy/pull/7391 (4.1 is out but it would require quite a few more changes) but I didn't revisit this comment, so that's something we could do after merging

[2019-06-25 23:10] keith commented on #7379
This should be fixed by https://github.com/envoyproxy/envoy/pull/7391

[2019-06-26 02:29] kuaikuai opened #7398 "Feature Request: In lua http filter add ability to respond in envoy_on_reponse()"
This feature is helpful for providing a custom response in the event of an upstream failure.
[code]

[2019-06-26 02:30] PiotrSikora commented on #7135
For the record, we (Istio) are abandoning work on this feature due to the security issues raised earlier in this thread. Unless somebody insists on adding this feature to Envoy (and has a very good reason for it), I think that we can close this issue.

[2019-06-26 06:20] yzq789 opened #7400 "How can I compile the external_auth.proto and develope my own gRPC external auth service?"
Hi, I am trying to develop an external auth service here, and I need to decide whether a request should be allowed or not by the token in the request body.  So I have to use a gRPC auth service because Content-length will be set to 0 with a http auth service: https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/ext_authz/v2/ext_authz.proto#envoy-api-msg-config-filter-http-ext-auth

[2019-06-26 06:56] dio commented on #7400
https://github.com/envoyproxy/protoc-gen-validate/blob/master/validate/validate.proto

https://github.com/googleapis/googleapis/blob/master/google/rpc/status.proto

[2019-06-26 14:21] phylake opened #7401 "xDS protocol: multiple Discovery request/response clarification"
*Title*: *xDS protocol: multiple Discovery request/response clarification*

The [xDS protocol docs](https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol) state

Before that ☝️ is the following:

If the management server chooses to "process multiple DiscoveryRequests at a version until a new version is ready" it will also "cause Envoy and the management server to spin and have a severe

[2019-06-26 14:34] htuch commented on #7401
Every `DiscoveryResponse` will cause Envoy to do work, so, yeah, if you keep sending these, it will spin. Envoy won't send more than one `DiscoveryRequest` for every `DiscoveryResponse` (at least in state-of-the-world xDS, it will be somewhat different in incremental xDS in the future). PRs to improve wording are welcome.

[2019-06-26 14:56] shwetaap opened #7402 "Envoy Proxy Issue"
**Envoy Proxy Issue**

*Envoy Proxy Issue*

*Description*:

[root@kaas-adm-idev-rtp-master-0 ~]# kubectl get pods -n envoylayer
NAME                                READY   STATUS    RESTARTS   AGE
envoy-deployment-68b9474d48-dskrs   1/1     Running   0          22h
envoy-deployment-68b9474d48-jqdmz   1/1     Running   0          22h
envoy-deployment-68b9474d48-l9ml5   1/1     Running   0

[2019-06-26 15:07] phylake commented on #7401
Thanks @htuch. Happy to open a PR for wording since you took the time to answer. While I have your attention would you mind answering #5368? I've been bumping it for awhile now

[2019-06-26 15:07] #7401 closed

[2019-06-26 15:37] mattklein123 commented on #7135
Agreed, let's close. Thanks @PiotrSikora for following up here.

[2019-06-26 15:37] #7135 closed

[2019-06-26 18:00] shwetaap commented on #7402
It works once i remove the 'http2_protocol_options: {}' option. When i tried to send curl with the options --http1.1 or --http2. Neither worked. So not sure why removing the 'http2_protocol_options: {}' from the config worked.

[2019-06-26 18:15] conqerAtapple opened #7403 "Http2: Need connection policy for maximum streams per upstream connection"
**Issue Template**

*Title*: *Http2: Need connection policy to allow and control multiple upstream connections. *

*Description*:

This is related to https://github.com/envoyproxy/envoy/issues/7217.

Current default  upstream connection scheme doesnt allow you to set a maximum number of streams allowed per connection. This causes upstream load balancing issues as some connections could carry more

[2019-06-26 19:08] jmarantz commented on #579
not really making progress on this.

[2019-06-26 19:22] mattklein123 commented on #7403
@conqerAtapple I think what you are asking for is to allow the HTTP/2 connection pool to use more than 1 connection, and also to limit the maximum requests per connection, right? If so, this is something that we have talked about off and on for a long time (cc @alyssawilk @PiotrSikora).

My feeling is to add this capability to the HTTP/2 connection pool code that exists today. We can have a config

[2019-06-26 19:27] alyssawilk commented on #7403
Yeah, I'd definitely love to see the H2 connection pool handle multiple upstream connections, it's been long on our wish list as well.

cc @antoniovicente as interested in this feature as well.

[2019-06-26 20:01] keith commented on #7379
Envoy CI is now on 0.27.0, so I'm hoping we're good on the next bazel CI run now

[2019-06-26 20:19] conqerAtapple commented on #7403
@mattklein123 @alyssawilk Although I have the general idea of how this needs to be done, I will need some pointers initially on where to look etc in the code.
IMO, the general flow should be:
- Have a list of `Active` connections ( in `active` list)
- When a `Active` connection exceeds the configured policy's max allowed streams, create a new `Active` connection. Move the overflow `Active` connect

[2019-06-26 20:41] virtru-tdewitt opened #7404 "Enabling ext_authz and setting max_request_body enables buffering globally, even where exluded"
*Title*: Enabling ext_authz and setting `max_request_body` enables buffering globally, even where exluded

*Description*:
Using `max_request_bytes` with the `envoy.ext_authz` filter enables buffering.  Even where the filter is explicitly disabled, buffering is enabled and `max_request_body` appears to be respected.

*Relevant Links*:

This seems like it could be related:
* https://github.com/envoy