[2022-05-16 18:52] panchn-n commented on #21289
Also tried setting the `http_header_name` in the `original_dst_lb_config` with the same end result.

[2022-05-16 19:52] #21313 closed

[2022-05-16 20:19] timmotw commented on #21252
My `envoy` instance is reverse proxied behind `nginx` at `https://$host/api/v3` and the `state` parameter takes the following value:

`&state%3Dhttp%253A%252F%252F127.0.0.1%253A8085` => `&state=http://127.0.0.1:8085`

I believe that a good solution would be able to have the ability to define a static or dynamic value for the `state` parameter:

1. **static**:      `state: "https://localhost/api/v3

[2022-05-16 20:41] birenroy commented on #21187
Since this issue was filed, it looks like the HTTP/2 tests have started passing. I'll go ahead and add the targets to CI.

[2022-05-16 20:46] birenroy commented on #21187
Confirmed that these tests were fixed with upstream QUICHE changes.

[2022-05-16 20:57] kyessenov commented on #21289
My understanding was that the "ORIGINAL_DST" cluster operates at L4 so it'll use downstream L4 local address as destination. It might be missing the bits needs to consume header override from HCM to set the destination.

[2022-05-16 21:14] panchn-n commented on #21289
As per the [documentation](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/service_discovery#arch-overview-service-discovery-types-original-destination) around original destination cluster, it says `Envoy can also pickup the original destination from a HTTP header`

[2022-05-16 21:46] kyessenov commented on #19474
Re-opening because there's a similar report so this deserves further debugging.

[2022-05-17 00:43] daixiang0 commented on #21298
I guess something changes, please check release note.

[2022-05-17 02:01] wbpcode commented on #21303
IMO, the cors filter will not block any request. It just is used to handle the cors pre-check requests. And the cors pre-check requests should with method of "OPTIONS".

Check https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS for more info.

[2022-05-17 04:16] htuch commented on #21292
I like the idea of a config provider extension point that Matt suggests. It's just a generic extension point that will have an API to act as an xDS provider. Then @jamesmulcahy can implement this exec as an extension.

[2022-05-17 06:34] truehhart commented on #21303
Thank you @wbpcode for the URL.

I've studied the Mozilla's documentation on CORS and does seem that I'm trying to use CORS for something it isn't supposed to be used for.

For future reference (if anyone has the same question):

As such - while CORS is there to guide the client accessing the resource, it does not specifically block any requests. i.e. (from what it seems) - it requires the client

[2022-05-17 07:42] wbpcode commented on #21303
Sorry, there is no such feature for now.

`curl` still can be used to test the cors. You can send a fake "preflight" request with curl. And the envoy will return a `200 OK` response with `access-control-*` headers.

[2022-05-17 08:02] github-actions[bot] opened #21328 "Newer release available `com_github_grpc_grpc`: v1.46.2 (current: a3ae8e0)"
Package Name: com_github_grpc_grpc@a3ae8e00a2
Current Version: a3ae8e0@2021-06-07
Available Version: v1.46.2@2022-05-16
Upstream releases: https://github.com/grpc/grpc/releases

[2022-05-17 08:02] #21262 closed

[2022-05-17 09:09] truehhart commented on #21303
Thank you for your help on this matter @wbpcode!

I'll be resolving this one

[2022-05-17 09:09] #21303 closed

[2022-05-17 10:17] NomadXD opened #21329 "Multiple `regex_rewrite` or `prefix_rewrite` operations for the same route"
*Title*: *Multiple `regex_rewrite` or `prefix_rewrite` operations for the same route*

*Description*:
Is there a way to have multiple `regex_rewrite` or `prefix_rewrite` for the same route ? For example if I'm having separate production and sandbox APIs for the same API, then I need to perform two different rewrites depending on whether the production API or sandbox API is invoked.

At the moment

[2022-05-17 10:44] ankatare commented on #19069
@matiasrege i am stuck to repro in latest code  .see https://github.com/envoyproxy/envoy/issues/21298

trying hard to push some update

[2022-05-17 10:53] ankatare commented on #21298
@daixiang0 i did not find anything in release notes as well.. Thanks for effort.

@mattklein123 could you please provide some pointers here !!!

[2022-05-17 11:47] phlax commented on #20211
as an update - the changelog checker is now moved upstream (here https://github.com/envoyproxy/pytooling/blob/main/envoy.code.check/envoy/code/check/abstract/changelog.py) which was the ~blocker to me addressing this.

the upstream code should land in envoy ci shortly.

i have opened a pytooling ticket (https://github.com/envoyproxy/pytooling/issues/495) and will address for the next release of th

[2022-05-17 12:55] mukundv18 opened #21334 "OAuth2 filter for Azure AD?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Can OAuth2 filter be used for authenticating on Azure AD?*

*Description*:

Trying to achieve Envoy to authenticate and authorize the users before talking to Redis.

[2022-05-17 14:58] #16008 closed

[2022-05-17 14:58] #18438 closed

[2022-05-17 14:58] #18447 closed

[2022-05-17 14:58] #19506 closed

[2022-05-17 14:58] #19508 closed

[2022-05-17 15:16] panchn-n commented on #21289
Excellent point @alyssawilk! I do see your point and am able to connect using the 2 step process you mentioned above.

Really appreciate your insight.

[2022-05-17 15:43] Joeostr commented on #21290
Hi @mattklein123, below is an example of code (not the actual code), and description of what we face

**Description**
https://github.com/iluxa/envoy-filter-example/blob/main/TEST.md

**Code Example**
https://github.com/iluxa/envoy-filter-example/blob/main/forward-proxy.yaml
https://github.com/iluxa/envoy-filter-example/blob/main/http-filter-example/http_filter.cc
https://github.com/iluxa/envoy-fil

[2022-05-17 15:55] #20957 closed

[2022-05-17 16:17] stevenzzzz commented on #21272
for "strip_any_host_port", I actually lack some context first place why we would strip port from host at listener level. As a proxy, I'd hope it to be as transparent as possible. but Envoy mutates the very import ":host" header with little customer intervention.

I am adding a new "ignore_port_in_host_matching" option at route-table level, which doesn't mutate the host header.

OTOH, strip_any_hos

[2022-05-17 17:50] egerkke commented on #21294
Sorry again for grabbing your precious time. I tried to trigger connection loss to see the outcome in Envoy access log:
 - started continuous HTTPv1 GET traffic
 - applied iptables rule to disable source IP
 - the loss (that client is not sending anything) is visible in the tcpdump
 - Envoy tries to close the connection with TCP FIN, ACK after 60 seconds of inactivity
 - then retries to finish the

[2022-05-17 18:04] Joeostr commented on #21290
`If you need to make side calls you can use the built in AsyncClient functionality.`

@mattklein123 , can you please point me to the documentation describing the AsyncClient functionality?

[2022-05-17 18:40] panchn-n commented on #21289
Just for anyone else looking to use curl, I was able to use `--proxy-header` flag to pass on the `x-envoy-original-dst-host`. So my command looks like `curl -x <gateway_ip>:<gateway_port> --proxy-header "x-envoy-original-dst-host: <host_ip>:<host_port>" https://www.google.com -v`. Envoy was able to read the header info as it was no longer _encapsulated_.

[2022-05-17 19:44] mattklein123 commented on #21290
https://github.com/envoyproxy/envoy/blob/main/envoy/http/async_client.h

You can search the code for uses. There are many.

[2022-05-17 20:15] #20731 closed

[2022-05-17 21:28] ravenblackx opened #21345 "RUNTIME_GUARD(envoy_reloadable_features_allow_concurrency_for_alpn_pool);"
Yesterday's [change](https://github.com/envoyproxy/envoy/commit/6122195d8f64ac54157412e6aa48f2450c1d6b3c#diff-564059d71ff5c0acfb543ba9d9d652bcd7b716e741dcc45c6b8e4d60ff5428c0) to `RUNTIME_GUARD(envoy_reloadable_features_allow_concurrency_for_alpn_pool);` (from `FALSE_RUNTIME_GUARD`) causes our end-to-end tests to crash, hitting the `ENVOY_BUG` [here](https://github.com/envoyproxy/envoy/blob/471eb7

[2022-05-18 00:23] nitgoy opened #21346 "Pre-initialize upstream connection pools"
*Title*: *Is there a way to pre-initialize the upstream connection pools?*

*Description*:

https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto#envoy-v3-api-msg-config-cluster-v3-cluster-preconnectpolicy

[2022-05-18 01:40] thangnn4688 commented on #20776
@soulxu i have tried Envoy 1.23.0-dev and see the below logs:
*****
[2022-05-18 08:35:39.537][83165][debug][filter] [source/extensions/filters/listener/original_src/original_src.cc:23] Got a new connection in the original_src filter for address 172.24.206.84:50052. Marking with 0
[2022-05-18 08:35:39.537][83165][debug][filter] [source/common/tcp_proxy/tcp_proxy.cc:197] [C0] new tcp proxy session
[

[2022-05-18 02:10] LaurenLiu123 opened #21349 "Docker build fail for branch release/v1.17"
*docker build fail for branch release/v1.17*

*Description*:
image used: envoyproxy/envoy-build-ubuntu:11efa5680d987fff33fde4af3cc5ece105015d04

➜  envoy git:(release/v1.17) ✗

[code]

[2022-05-18 04:09] renuka-fernando commented on #21107
We got the same issue again, but this time we did not observed the log "Connection is closed by peer during connecting." this time, seems there is no relation with it.

This time we have sent the scond xds update after 10 hours we sent the first one. The frozen envoy proxy has logged `[source/common/upstream/cds_api_helper.cc:30] cds: add * cluster(s), remove * cluster(s)` only once and the health

[2022-05-18 06:15] sefaphlvn opened #21350 "Prepared Clusters"
Hi all,

Do unused clusters cause a problem?
I want to keep a prepared cluster for APM(skywalking). I want to use cluster if APM is enabled.

[2022-05-18 06:34] rafan commented on #21235
@ggreenway any thoughts on how `require_client_certificate` in downstream tls context worked in resumed TLS session? From cURL output, it still resumes session successfully without (re-)handshake.

[2022-05-18 08:03] github-actions[bot] opened #21351 "Newer release available `opentelemetry_proto`: v0.18.0 (current: v0.11.0)"
Package Name: opentelemetry_proto@0.11.0
Current Version: v0.11.0@2021-10-07
Available Version: v0.18.0@2022-05-17
Upstream releases: https://github.com/open-telemetry/opentelemetry-proto/releases

[2022-05-18 08:03] #21190 closed

[2022-05-18 08:19] Neil-Boyle commented on #20915
same issue

May be, problem raised from  **cannot find envoyproxy:tracing image in docker hub**?

ref: https://hub.docker.com/search?q=%20envoyproxy%3Atracing

[2022-05-18 08:34] phlax commented on #20915
yep, same issue - altho dockerhub is not really relevant as the images are expected to be built rather than pulled

ill try and have a look at this today and see if i can figure why it works in some situations and not others

[2022-05-18 08:53] #19474 closed

[2022-05-18 09:05] Neil-Boyle commented on #20915
thx, docker-compose file ref: https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/skywalking_tracing

[2022-05-18 12:53] NirmalP29 opened #21352 "Envoy requests are failing when Redis replica fails"
Envoy set/set requests are failing when any redis replica goes down with error **_upstream failure_**
Retries are successful for the same.
Can anyone help me solve this issue?

I tried with python and redis-benchmark tool. Both were completing successfully when any replica fails in between while executing requests directly using redis endpoint but both were failing in between when any replica fail

[2022-05-18 13:04] phlax opened #21353 "`distroless` containers are (ignorably) failing trivy scan (again)"
The `distroless` container that we use (https://console.cloud.google.com/gcr/images/distroless/global/base-debian11@sha256:764b74b1789b4ec9044e6f20bb938d077fe8c7bcf9e4d3767eebb440c5d76f11/details) is failing trivy-scan again with openssl issues:

https://github.com/envoyproxy/envoy/runs/6489352329?check_suite_focus=true

as we statically compile and dont use openssl directly this should be a non-i

[2022-05-18 13:16] alyssawilk commented on #21345
can you tell me a bit more about your tests?  are they doing alpn pool without tls somehow?

[2022-05-18 13:54] urkishan opened #21355 "Does Envoy support https envoy.ext_authz"
I am trying to use DNS in the `ext_authz` but it is not working. Does the envoy support HTTPS for the external authentication?

This is the configuration I've done.

[code]

[code]

This is the logs I get when I request for the API :

[code]

If there any way to resolve this issue.

[2022-05-18 15:02] snowp commented on #21312
This seems like a bug to me, though not sure how a zero payload is special. I'll try to take a look

[2022-05-18 15:05] snowp commented on #21334
The OAuth2 filter today is a HTTP filter so I don't think this would work for Redis since Redis is not a HTTP protocol

I'm not sure how the OAuth2 filter would work for a network filter, maybe @rgs1 has thoughts? In any case this would have to be a new filter

[2022-05-18 15:06] snowp commented on #21346
@alyssawilk do you know if we have a good mechanism here? I vaguely recall that we have some prefetching in place but not sure about the specifics

[2022-05-18 15:08] snowp commented on #21349
@keith

Is there possibly a mismatch between the docker image you're using and the version used by 1.17?

[2022-05-18 15:09] snowp commented on #21350
In general having extra clusters should be fine, there might be minimal memory overhead being introduced but if its completely unused this should be minimal. Even if you enable active health checking it should be operating in a low overhead mode until used

[2022-05-18 15:11] snowp commented on #21352
@mattklein123 any idea who might be able to help with this? I'm not sure if we have someone well versed in the Reddit filters around

[2022-05-18 15:13] snowp commented on #21355
It should be supported, it looks like your cluster configuration is not pointing to a real server so the calls to the ext_authz server is failing and causing the requests to be rejected

[2022-05-18 15:25] urkishan commented on #21355
I've changed the actual domain with the fake one, and the request never get redirected to the authz server.

[2022-05-18 15:28] phlax commented on #21349
`11efa5680d987fff33fde4af3cc5ece105015d04` is the correct build image for 1.17 i think

[2022-05-18 15:37] mattklein123 commented on #21352
Seems like you need health checking of some type?

[2022-05-18 15:55] urkishan commented on #21355
I am using two envoy proxy :

First envoy receives the API call from the user and with use of external authz it calls to the server and that server is also a envoy proxy server and it supposed to server the external authz application only.

But it is trowing an error that the cluster for the API endpoint not found.

here is the logs :
[code]

Is there any way to handle this situation.

For example

[2022-05-18 16:13] #20658 closed

[2022-05-18 17:34] jmarantz commented on #8771
xref https://github.com/envoyproxy/envoy/issues/14610

[2022-05-18 18:07] ggreenway commented on #21235
I haven't tested this, but my assumption is that a session would never get established if `require_client_certificate` is set and an invalid cert is presented, thus there would be nothing to resume.

[2022-05-18 20:13] moderation commented on #21355
Envoy `1.10.0` is very old and should be considered deprecated. As per https://www.envoyproxy.io/docs, the current stable versions are `1.19.4`, `1.20.3`, `1.21.2` and `1.22.0`

[2022-05-18 20:44] panchn-n opened #21363 "Initiate HTTPConnect using Envoy"
Hi All,

Based on reading the HTTP Upgrade [documentation](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/upgrades#http-upgrades) I see that Envoy can proxy the Connect requests which works perfectly. But I would like to know if there is a support for initiating the HTTP Connect from with Envoy as well.

My use case is to initiate HTTP Connect from Istio sidecar to a destinat

[2022-05-18 21:19] nitgoy commented on #21346
@alyssawilk can you consider adding such an option to either the preconnect policy or via a separate config?

[2022-05-18 22:54] lambdai commented on #21363
No.
As far as I know, only tcp proxy can establish a CONNECT and the payload of CONNECT is the bytes from downstream TCP connection.

Currently I set the backend of http to a loopback-ish address, and Envoy sets a listener with the tcp proxy described above

[2022-05-18 23:02] lambdai opened #21365 "FR: downstream http1 protocol setting in HCM to add "connection close" upon upstream connect failure"
It aligns with the abstractation that envoy acts as an *inbound* proxy

A*inbound* proxy is a server sidecar-ish proxy that does not applying LB because there is only one upstream endpoint, e.g. an original_dst cluster

[2022-05-19 00:02] #20686 closed

[2022-05-19 00:02] #20730 closed

[2022-05-19 02:42] jojimt opened #21367 "Question: Cross compile for ARM"
I am running into https://github.com/envoyproxy/envoy/issues/15235 and would like rebuild with tcmalloc=gperftools for arm64 as recommended in the issue. However, I am unable to find instructions for building the binary for arm and then rolling it into a docker image. Any pointers/help on this?

[2022-05-19 04:04] yankunsam opened #21368 "x-envoy-overloaded not in header"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

when we use gRPC and circuit breaker occur, stream was reset  by Envoy, but we can't get the header(x-envoy-overloaded  ) in

[2022-05-19 05:27] urkishan commented on #21355
@moderation @snowp by updating the envoy the above problems will be solved?

[2022-05-19 05:30] lambdai commented on #21258
This use case might be a strong reason to support dynamic metric, perhaps with TTL.

Not only the risk of explosion. The cost of creating new metric is not trivial.

[2022-05-19 05:50] ankatare commented on #20964
@wbpcode can we connect today on slack ? thanks

[2022-05-19 06:19] lambdai commented on #21154
I don't have any idea why id and cluster is needed..

[2022-05-19 07:27] daixiang0 commented on #21368
Could you provide a config to reproduce? also enable trace log may help position problems.

[2022-05-19 07:44] LaurenLiu123 commented on #21349
I have this issue on macbook m1. I change to a x86 machine seems fine.

[2022-05-19 08:11] yankunsam commented on #21368
grpc-client.go
`/*
 *
 * Copyright 2015 gRPC authors.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is di

[2022-05-19 09:12] phlax commented on #21367
hi @jojimt not sure about cross compiling envoy itself - in CI we use an ARM machine to build the binary and then use buildx to cross-compile just the containers

there is an arm build container here https://hub.docker.com/r/envoyproxy/envoy-build-ubuntu/tags so using the build container the steps would be pretty similar - eg

[code]

as the binary is builting statically it should be possible to d

[2022-05-19 09:23] phlax commented on #21355
updating to a supported version means we have more resources to support configuration issues, and should a bug be found we are more likely to address

[2022-05-19 11:02] ankatare commented on #21298
can we change the label as traige/bug

[2022-05-19 11:14] phlax commented on #21298
@ankatare couple of questions:

- can you post the version of Envoy you are using (hash if its a HEAD version)
- per the title is this only an issue when adding the `-l debug` flag ?

[2022-05-19 12:21] urkishan commented on #21355
@phlax I've update the envoy but still getting this issue :

[code]

[2022-05-19 12:29] phlax commented on #20211
I have begun working on an implementation of this on the basis of matching sets of:

- configured guards grepped from `source/common/runtime/runtime_features.cc`
- changelog matches for `r"``envoy.reloadable.[a-z_.]+``"`

From my initial r&d the following guards dont have a mention

[code]

and there are 26 that are both set in and mentioned in changelogs:

[code]

[2022-05-19 12:42] phlax commented on #20211
also - if we only care about `reloadable` flags im guessing we can ignore

[code]

[2022-05-19 13:26] alyssawilk commented on #20211
wohoo!  there have been _so_ many good docs changes lately, thank you @phlax !

I'd suggest just exempting all legacy guards but as folks add new ones we'll require docs, and we can remove exclusion checks as we remove legacy flags
we should require restart features to be commented, but not FALSE flags since their behavior isn't on.

I think when we cross check we should be looking for the readabl

[2022-05-19 13:32] alyssawilk commented on #21346
@nitgoy I'm booked up with work for my day job so I think you'd have to find someone else to pick this up.

@lambdai I think we could do a first pass config-validating that it wasn't set up for those corner cases.   A more ambitious implementation would involve allowing prefetching and applying those things (writing proxy protocol, applying socket options) once the connection was matched.

[2022-05-19 15:07] phlax commented on #20211
yep i normalized before matching - possibly imperfectly - ill check further

[2022-05-19 15:16] RyanTheOptimist opened #21377 "QUIC Extensions should be moved out of alpha"
Now that QUIC is in GA, the various QUIC extensions should probably be moved out of alpha. For example, see https://github.com/envoyproxy/envoy/blob/main/source/extensions/extensions_metadata.yaml#L541

[2022-05-19 16:09] sergiitk commented on #20750
Found the problem, see #21369. Until it's merged, there's an easy workaround, create `user.bazelrc` with the following:

[code]

Make sure the first path with `python3`binary points to python3.10. You can verify this with a target like so:

[code]

[2022-05-19 16:24] mattklein123 commented on #20536
Yes if you are really set on getting the kernel level packets you will need to proceed down the path that we already discussed, but as I said, this path does not work in any sensible way for HTTP/2 and HTTP/3, so I don't think this is something that we will accept upstream. If you want to propose changes to handle metadata propagation between downstream and upstream so that you can write custom ex

[2022-05-19 17:47] howardjohn commented on #20378
We did some investigation of the RFCs and I believe this is not the expected protocol to use in this case (or, at least how we want to use CONNECT).

There are a few relevant RFCs here:
* https://datatracker.ietf.org/doc/html/rfc844 defines a variant of CONNECT, "Extended CONNECT". This is meant for websockets, and the RFC specifically calls out that this is a protocol to be used directly by WS cl

[2022-05-19 18:58] noahgoldman commented on #19727
With #20142 being merged, I think we're all set to close this out.

[2022-05-19 18:58] #19727 closed

[2022-05-19 19:09] alyssawilk commented on #20378
cc @wrowe @DavidSchinazi for thoughts

[2022-05-19 19:17] alyssawilk commented on #20378
Also was the first link supposed to be https://datatracker.ietf.org/doc/html/rfc8441 ?

[2022-05-19 19:20] DavidSchinazi commented on #20378
Setting `:protocol=bytestream` is incorrect here. If we proxy TCP, then we're using regular CONNECT and not Extended CONNECT. Extended CONNECT exists to support cases that are explicitly not TCP proxying such as WebSocket, see the full list of defined protocols [here](https://www.iana.org/assignments/http-upgrade-tokens/http-upgrade-tokens.xhtml). The "bytestream" protocol was written up by Apple

[2022-05-19 19:57] alyssawilk opened #21386 "oghttp2 doesn't handle classic connect requests"
:method CONNECT
:authority host:80

appears to bounce

Semi-blocking https://github.com/envoyproxy/envoy/issues/20378

[2022-05-19 20:01] #20633 closed

[2022-05-19 20:01] #20642 closed

[2022-05-19 20:01] #20659 closed

[2022-05-19 20:01] #20793 closed

[2022-05-19 20:03] alyssawilk commented on #21386
also if you want a terrible repro patch, you can take https://github.com/envoyproxy/envoy/compare/main...alyssawilk:extended?expand=1 and comment out the force-override to nghttp2

[2022-05-19 20:18] ggreenway commented on #11996
Coverage is at 97.6%. Closing.

[2022-05-19 20:18] #11996 closed

[2022-05-19 20:47] lizan commented on #918
#21348

[2022-05-19 20:47] #918 closed

[2022-05-19 20:57] ravenblackx commented on #21345
Discussed with Alyssa in Slack a bit, short version is that we have a custom tls config (I think `validation_context_sds_secret_config` having an `api_config_source` with `api_type: GRPC` was surmised to be the likely cause, or near it.)

[2022-05-20 00:45] lambdai commented on #20776
When you use original_src, the expectation is that Envoy use IP_TRANSPARENT to pretend the packet is from the downstream remote ip.

It means the upstream endpoint  172.24.206.56 will reply to the 172.24.206.84(the client), not to 172.24.206.86(envoy ip).

1. Have you set the routingtable/iptable at node 172.24.206.56 reply to nic of 172.24.206.86? (targeting to handle the SYN/ACK 172.24.206.56 ->

[2022-05-20 01:32] mukundv18 opened #21389 "Envoy Proxy as Redis Proxy, how to authenticate?"
*Title*: *The password passed via Redis Client has to be passed as Bearer token to external authorisation service OPA. Is it possible? If yes, how?*

*Description*:
We are using Envoy Proxy as Proxy for Redis. All the communication to Redis is via Envoy proxy.
When using 'redis-cli', we send the password with '-a' option. Is it possible send this as Bearer token to OPA (used for external authorisa

[2022-05-20 01:33] mukundv18 commented on #21334
Thank you @snowp !

[2022-05-20 02:15] thangnn4688 commented on #20776
@lambdai thanks for your help. I check route table in 172.24.206.86 - 172.24.206.56 and they look like seem OK as below:
*****
root@86# ip route show
default via 172.24.206.1 dev ens160 proto static
172.17.0.0/16 dev docker0 proto kernel scope link src 172.17.0.1 linkdown
172.24.206.0/24 dev ens160 proto kernel scope link src 172.24.206.86
172.24.206.56 via 172.24.206.86 dev ens160
172.24.206.70 v

[2022-05-20 04:12] lambdai commented on #20776
@thangnn4688
I could be wrong but IMHO it seems neither route table is complete. However, normally the specialize routing rules are stored in tables other than table 0. And you may want to dump the rules by `ip route show table all`.

The point is it's you that set up the routing table. Envoy original_src listener filter should be configured to align with your routing.

Checkout this example
https

[2022-05-20 04:32] jojimt commented on #21367
Thanks @phlax. I was able to do that on an Arm machine and successfully build the docker image with the change.

[2022-05-20 04:32] #21367 closed

[2022-05-20 05:51] 13567436138 opened #21390 "Function: proxy_on_context_create failed: Uncaught RuntimeError: unreachable Proxy-Wasm plugin in-VM backtrace"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
Function: proxy_on_context_create failed: Uncaught RuntimeError: unreachable Proxy-Wasm plugin in-VM backtrace
*Description*:
2022-05-19T07:12

[2022-05-20 05:52] 13567436138 commented on #21390
is this the problem of func OnPluginStart,I tested a example without OnPluginStart func ,it's ok???

[2022-05-20 08:01] #20685 closed

[2022-05-20 09:50] onemanbucket opened #21393 "Incorrect behaviour when rotating SDS managed TLS certs using ADS + java control plane library"
*Description*:
We're working on switching to dynamic listeners and PKI managed certificates in our envoy layer. Our setup is

* Dynamic listener (using tls inspector) matching hostname and using a SDS managed cert by reference
* Listeners and SDS sent using ADS
* Control plane creates a new ADS snapshot with a new listener config refering to a new sds secret
* Envoy accepts the new listener config

[2022-05-20 09:56] yingjianjian commented on #17601
Hello, has Dubbo trace supported it? I'm looking forward to it @wbpcode

[2022-05-20 10:06] eoregua commented on #21239
Hi,

Here are the debug logs:

[code]
Thanks in advance for the support!

[2022-05-20 10:37] phlax opened #21394 "Bazel/python commands failing on `debian:testing` -based systems"
### description

with the current dependencies trying to run some bazel/python commands (eg building docs) fails on `debian:testing` based systems

it works fine for both `stable`  and `unstable` (ironically `testing` is often the most unstable)

not sure exactly what the issue is, but bumping some of the dependencies seems to fix

(~unrelatedly this flags something i have noticed with dependabot

[2022-05-20 10:37] phlax commented on #21394
cc @RyanTheOptimist

[2022-05-20 10:45] phlax commented on #21394
cc @ggreenway not sure if this relates in any way to mac host build issues we were looking at or whether that was already fixed by #21369

[2022-05-20 11:02] NirmalP29 commented on #21352
[code]
I added the health checks. Now, the set requests are still failing for a fraction of a second with **_upstream failure_** error when any redis replica fails which were earlier failing for 8-10s.
Did I miss any config cause the redis endpoint works seamlessly for this scenario.
How to add envoy retries for redis? Will that solve this issue since all the requests are successful with 1 retry f

[2022-05-20 11:05] wbpcode commented on #17601
sorry, it's not supported for now.

[2022-05-20 12:06] MdSahil-oss commented on #21306
@snowp I would like to work on this issue

[2022-05-20 13:09] stevenzzzz commented on #19858
/nostalebot

[2022-05-20 13:10] stevenzzzz commented on #19858
@jmarantz Josh could you please nostalebot this issue.
I think it's more flexible and we should give it a shot.

[2022-05-20 14:41] mattklein123 commented on #21352
Retries are not supported today. I'm not sure of outlier detection is supported or not but that would be one thing to look at.

I think in general you have to deal with failures and this behavior seems OK to me.

[2022-05-20 14:49] mpuncel commented on #21393
In our setup, we use ADS (java-control-plane) for listeners but a separate xDS server for SDS. we have seen rotation work just fine in this setup without changing the secret name, the SDS server returns new material for the same secret name when it needs to be rotated. Is there a reason that you want to tie secret changes to listener changes?

[2022-05-20 14:49] mattklein123 commented on #21239
It looks like an uncaught exception but it's hard to understand what is going on here. If you can reproduce this can you run it under a debugger and see exactly where the exception is being thrown?

[2022-05-20 15:25] urkishan commented on #21355
@phlax sure let me check with the TLS settings.

[2022-05-20 15:30] #21263 closed

[2022-05-20 15:32] onemanbucket commented on #21393
I think the primary motivation for this is that we want to minimize change, as we're moving from a mostly static config to dynamic. We're using SotW updates over ADS for all other configuration, and feel that it's simple and easy to reason about (= safe).

That's a very good point! So basically using `tls_certificates` instead of `tls_certificate_sds_secret_configs` in the common_tls_context? Look

[2022-05-20 16:24] #21394 closed

[2022-05-20 16:33] eoregua commented on #21239
Yes, I found a way to reproduce the issue systematically, so if you share a new binary for debugging I can run it.

[2022-05-20 16:36] mpuncel commented on #21393
exactly!

[2022-05-20 17:12] egerkke commented on #21294
Hi @lambdai ,

Thanks for the information. I asked many questions in one ticket, let me know separate them as:
- Q1. downstream connection loss
- Q2. TCP RST from downstream client

In case of Q1, I'm attaching now a pcap file.
[downstream_client_loss.pcap.tar.gz](https://github.com/envoyproxy/envoy/files/8742262/downstream_client_loss.pcap.tar.gz)
Here the downstream client is 100.109.96.1 and En

[2022-05-20 17:41] Joeostr commented on #21290
@mattklein123, we tried the below to resolve the issue (split proxying into two stages), but it doesn't seem to work when using Envoy as a transparent proxy. If you don't mind, can you give me a quick example of how we can use Async with [this ](https://github.com/iluxa/envoy-filter-example/blob/1627904274a0a3f52db934429c55936ac0bc25c7/http-filter-example/http_filter.cc) example code?

We aren't u

[2022-05-20 18:51] mattklein123 commented on #21239
You don't need a new binary, just use the existing binary with symbols.

[2022-05-20 18:56] MatthewRBruce commented on #21352
@NirmalP29 I was recently having similar issues and I think you may have the same mis-configuration as I did.  You need to set the `lb_policy` for the cluster to `CLUSTER_PROVIDED`:

[code]

Without that it appears that even though you're using the redis cluster extension the lb_type still defaults to ROUND_ROBIN: https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto#e

[2022-05-21 02:00] #21390 closed

[2022-05-21 02:09] DeltaLaboratory commented on #96
No support has been added even after six years?

[2022-05-21 04:32] lambdai commented on #21294
No. http conn manager generates access log for each *http request*. Http access log does not provide L4 info if the L4 event does not cause a request failure. If the RST/connection loss occurs and lead to partial req/response, you should see a transport layer failure reason. E.g. DC, LR... See https://www.envoyproxy.io/docs/envoy/latest/configuration/observability/access_log/usage

It would be goo

[2022-05-21 08:03] github-actions[bot] opened #21400 "Newer release available `com_github_grpc_grpc`: v1.46.3 (current: a3ae8e0)"
Package Name: com_github_grpc_grpc@a3ae8e00a2
Current Version: a3ae8e0@2021-06-07
Available Version: v1.46.3@2022-05-20
Upstream releases: https://github.com/grpc/grpc/releases

[2022-05-21 08:03] #21328 closed

[2022-05-21 08:03] github-actions[bot] opened #21401 "Newer release available `com_github_wasmtime`: v0.37.0 (current: v0.35.2)"
Package Name: com_github_wasmtime@0.35.2
Current Version: v0.35.2@2022-03-31
Available Version: v0.37.0@2022-05-20
Upstream releases: https://github.com/bytecodealliance/wasmtime/releases

[2022-05-21 08:03] #20917 closed

[2022-05-21 20:15] #16103 closed

[2022-05-22 00:03] #20817 closed

[2022-05-22 00:06] suniltheta commented on #20272
no stale

[2022-05-22 09:04] norbjd commented on #20859
Hello @wbpcode, thanks for working on this! Does #21102 solves this issue and enable the usage of Lua modules **by default**? I cannot test since there is no release yet with this PR :smile:

[2022-05-22 12:01] #20628 closed

[2022-05-22 12:57] wbpcode commented on #20859
@norbjd yep. May be you can test it with a dev image?

[2022-05-22 13:00] wbpcode commented on #20964
Sorry for the late reply. You can send messages to me on slack anytime.

[2022-05-22 13:04] norbjd commented on #20859
@wbpcode Sadly I can't find a `dev` tag on Docker Hub (I've also searched for `edge`, `main` or `latest` but couldn't find). Are `dev` images pushed to another registry?

[2022-05-22 13:10] wbpcode commented on #20859
@norbjd check here https://hub.docker.com/r/envoyproxy/envoy-dev/

[2022-05-22 14:07] norbjd commented on #20859
@wbpcode Thanks, it works!

For reference, I tried with the following `Dockerfile`, with the `envoy-dev` image based on the commit linked to the PR #21102 (6abcebc93f3d0616ba38ad9c5fec97dfc9c32645). It works too with the last commit at the time of writing (c4ecdd07585d43fb2bbe145b60417ba412941ec8).

[code]

I have no longer the error `module 'posix' not found`, and the Lua script in my question pr

[2022-05-22 14:07] #20859 closed

[2022-05-23 02:37] htuch commented on #21365
What's the current behavior @lambdai? Does a more general behavior where we reflect upstream status to downstream make sense in some of these narrower cases (maybe also dynamic forward?). CC @alyssawilk @yanavlasov for guidance.

[2022-05-23 02:46] htuch commented on #21368
The fact you're not seeing any Envoy headers seems to indicate that either there is a bug in how gRPC response headers are being retrieved or that Istio is configuring something like `suppress_envoy_headers` I think. Can you provide the Envoy config, the Istio config is less useful, thanks.

[2022-05-23 02:49] htuch commented on #21389
@yanavlasov you've been looking at this filter recently, any thoughts? @weisisea as CODEOWNER.

[2022-05-23 02:52] htuch commented on #21393
Is java-control-plane actually rejecting? The code seems to indicating it's skipping the response.

[2022-05-23 04:08] yankunsam commented on #21368
@htuch Here is the configure file from istioctl

[2022-05-23 04:10] #20772 closed

[2022-05-23 04:16] yankunsam commented on #21368
[istioctrl-envoy-config.pdf](https://github.com/envoyproxy/envoy/files/8751410/istioctrl-envoy-config.pdf)
@htuch  Here is the configure file from istioctl

[2022-05-23 07:10] NirmalP29 commented on #21352
Thanks @MatthewRBruce & @mattklein123.
@MatthewRBruce after adding the `lb_policy` it is working as expected. No failed set requests when replica fails.

[2022-05-23 07:44] thangnn4688 commented on #20776
@lambdai i tried your URL to configure Iptables as its guide, but still can not make "envoy.filters.listener.original_src" to work proberly.
Could you share me a simple example of iptables configuration that can make "envoy.filters.listener.original_src" to work proberly?

[2022-05-23 08:53] zhangbo1882 commented on #20536
Do you mean that copy metadata from downstream to upstream ?  I think this kind of change should also change the envoy framework code instead of the filter extension.

[2022-05-23 09:23] onemanbucket commented on #21393
Even if `oldlistener` is the only resource that has a reference to `oldsecret`?

[2022-05-23 11:21] techpavan opened #21403 "URL Rewriting inside the response body"
Was attempting to see if a reverse proxy configuration with Envoy can ensure URL rewriting inside the response body.

Use case in question would be that a website exists inside a corp network but needs to be exposed to internet via a reverse proxy. If the website hardcodes links to other resources, the browser accessing from internet will not be able to fetch the content that is located internally

[2022-05-23 11:25] phlax commented on #20211
just putting the final touches to this - but here is output (fail in intentional):

[code]

[2022-05-23 12:51] #18715 closed, assigned to danzh2010

[2022-05-23 13:56] alyssawilk commented on #21365
Generally Envoy preserves the downstream connection as it can be reused for subsequent requests.  The HCM will send connection close (which is http/1.1. specific) if the connection can not be reused - client specified connection close, connection is "corrupt" (not fully drained, failed upgrade etc.).   I think sending close on the narrow case of not fetching upstream connection and downstream HTTP

[2022-05-23 14:08] eoregua commented on #21239
[log_crash.zip](https://github.com/envoyproxy/envoy/files/8755216/log_crash.zip)

[2022-05-23 17:40] fuhry opened #21409 "[discuss] Improving default TLS validation behavior for upstream connections"
*Title*:
Decide whether to improve the default peer validation behavior in the `tls` transport_socket extension, at least for UpstreamTlsContext.

*Description*:
It is known and documented that Envoy's `tls` transport socket extension [does not verify the peer at all by default](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/transport_sockets/tls/v3/common.proto#:~:text=If%20not%20s

[2022-05-23 17:43] ravenblackx opened #21410 "New, non-idempotent DNS-related 503 behavior"
In an envoy version from mid-December, a request for a URL whose DNS isn't present would still go to the filters and thereby present a 403 error in one of our tests.

In an envoy version from head, the same request pre-empts the filters and sends a 503 localReply.

[code]

Doing the exact same request a moment later *does not* inject the same 503, resulting in extra surprising non-idempotent behav

[2022-05-23 17:50] htuch commented on #21403
This would need to be an HTTP extension that does something like mod_proxy_html. I'm not aware of any work here yet, so leaving this open as a tracking ticket.

[2022-05-23 17:52] mattklein123 commented on #20536
What I mean is that we are not going to accept the full solution upstream because as I already explained it will not work for HTTP/2 and HTTP/3. You will need to maintain private extensions that work for your HTTP/1 use case.

We are happy to accept a small number of core changes to make your extensions work, if you can define what those required changes are. I think this should be related to movi

[2022-05-23 17:54] htuch commented on #21368
This PDF doesn't load from me, can you provide plain text?

[2022-05-23 17:55] htuch commented on #21393
Across a fleet of Envoys you will have different Envoys at different points in the LDS switchover. xDS is eventually consistent - you can't assume anything about one resource when modifying another, either at the node level or across a set of nodes.

[2022-05-23 18:49] ggreenway commented on #21409
There's several things to track here.

Things we should do immediately:
- [ ] Prominently document that if `trusted_ca` isn't set, no verification will be performed. Will need to clarify that this matters for downstream mTLS and upstream TLS, but not for downstream non-mutual TLS.

Things that make obvious sense to add:
- [ ] Option to validate upstream SANs based on the connection's SNI value. My

[2022-05-23 19:03] Joeostr commented on #21290
@mattklein123, the Async examples are HTTP based (RestfulAPI), which doesn't cover our use case. We compile our code together with Envoy, and just call code functions.

We also tried to split the proxying into two stages. The first stage splits streams into connections, and the second stage performs the actual filtering. This is strangely not working when running Envoy as a transparent (bridged) p

[2022-05-23 19:16] #21233 closed

[2022-05-23 19:19] mattklein123 commented on #21290
As I already explained, you cannot block ever. If your custom code blocks, you are going to have to run it on a different thread and synchronize the dataplane threads with that thread.

[2022-05-23 20:01] #20704 closed

[2022-05-23 21:34] fiibbb opened #21416 "Wildcard request are sent with zero-length ResourceNamesSubscribe"
*Description*:
The XDS [doc](https://www.envoyproxy.io/docs/envoy/v1.22.0/api-docs/xds_protocol) describes wildcard requests as the following:
[code]

Historically, wildcard requests are documented as special name "" (empty string).

In practice, when Envoy is configured to [boot with LDS and CDS enabled](https://www.envoyproxy.io/docs/envoy/v1.22.0/api-v3/config/bootstrap/v3/bootstrap.proto#confi

[2022-05-24 00:59] gbrail commented on #21205
Thanks for bringing this up. It's going to force a rethink of how ext_proc handles trailers, unfortunately.

The decompressor filter, for some reason, is calling "addEncodedTrailers" on the encoder callbacks, which causes Envoy to add an empty set of trailers to the response if there are no trailers present.

Now, I see code in the decompressor filter to count the number of bytes in the trailers,

[2022-05-24 01:44] yankunsam commented on #21368
istioctrl-envoy-config.txt

[2022-05-24 01:46] yankunsam commented on #21368
[istioctrl-envoy-config.txt](https://github.com/envoyproxy/envoy/files/8758965/istioctrl-envoy-config.txt)
@htuch  sorry for the file format.

[2022-05-24 03:10] htuch commented on #21393
Yes, but existing Envoys will go through a period in which some of the fleet has the old listener and some of it has the new one.

[2022-05-24 03:28] htuch commented on #21416
@adisuissa @markdroth I think it might make sense to update delta behavior here under runtime guard, WDYT?

[2022-05-24 03:29] htuch commented on #21410
@alyssawilk

[2022-05-24 06:28] bjk-reddit commented on #20201
Still needs to be done.

[2022-05-24 07:21] onemanbucket commented on #21393
Is there a scenario where the envoys with the old listener would request the old secret (or old listener for that matter) from the control plane?

[2022-05-24 11:11] urkishan commented on #21355
@phlax can I use envoy for the external authentication only?

[2022-05-24 13:25] erplsf commented on #14001
there are people that still need this - for example we have a flow where we return 5xx codes but they are intended to be handled specially by some applications.

[2022-05-24 13:48] adisuissa commented on #21416
Thanks for bringing this up.
I think it is already runtime guarded in Envoy by `envoy.restart_features.explicit_wildcard_resource`. Can you please double check if this flag is set to true in your environment?

[2022-05-24 14:26] #21200 closed

[2022-05-24 14:49] birenroy commented on #21386
Okay, support for "classic" CONNECT is in upstream QUICHE now:
  https://github.com/google/quiche/commit/4e85f2ae9800295c076ff231984ab12befc1435a

[2022-05-24 15:23] ggreenway commented on #20201
Related: this would test detects issues like this one. https://github.com/envoyproxy/envoy/pull/21397

[2022-05-24 16:12] alyssawilk commented on #21386
still getting "Violation in HTTP messaging rule"
Are you sure this patch addresses the fact that CONNECT requests don't need to have path and scheme?

[2022-05-24 16:24] wbpcode commented on #21261
Hi, I am trying to land this.

**Before the first PR, I want to get some inputs from community. Does this make sense for the community?**

(My ultimate goal is per-route or per-vh http filter chain. After complete this work, we can configure same filter repeatedly with different config. And then by #20867, we can enable an array of filters based on route config. For example, for route A, an ext_au

[2022-05-24 18:05] alyssawilk commented on #21410
hmmm, I'm really baffled why one request would get blocked and the other would go through - AFIK all should be blocked at the DFP.

so I think the change in question was https://github.com/envoyproxy/envoy/pull/19588 where there was a bug in the implementation where we could have null pointer resolutions passed around.

Generally the goal of DFP was to resolve DNS and fail if it wasn't resolved.

[2022-05-24 18:11] UlasSAYGINIM commented on #20229
@lizan  dont you support macos?
because same problem happened on macos.
you can check here, if you solve for macos and it will be solved for freesd also.
that means if you are supporting macos, you are also supporting FreeBSD :) prove me , i am wrong :)

https://github.com/bazelbuild/bazel/issues/14891#issuecomment-1133783912

[2022-05-24 19:02] birenroy commented on #21386
Alright, please try the latest commit:
  https://github.com/google/quiche/commit/0eae705e30cb1999753523cd4809e049e1a62572

[2022-05-24 20:02] ravenblackx commented on #21410
We don't especially need that option. I've already modified the test to not be broken by this, and the 503 does seem to make more sense, I don't even understand what the filter can legitimately do when it passes the request through without having correctly resolved an upstream. The issue is more about the inconsistency between cached NXDOMAIN and fresh NXDOMAIN behavior - I'd expect either always

[2022-05-24 20:03] howardjohn opened #21425 "Partial EDS update indefinitely blocks Envoy initialization"
*Title*: Early LDS push indefinitely blocks Envoy initialization

*Description*:
We are seeing a case where Envoy initialization is permanently blocked.

I have a reproducer below, as well as logs from repro.

My understanding of the flow of events that trigger it:

* Push CDS [a,b] @ v0
* Get EDS request for [a,b]
* Send EDS response with just [a]
* Push CDS [a,b] @ v1
* Push EDS response for [b]

[2022-05-24 20:28] howardjohn commented on #21425
I think I reproduce the more 'real world' case as well; I struggled in the initial example since it requires SDS to be in play as well (to block initialization from completing):

Sequence now is like:

* Send CDS [a,b] @ v1, depends on EDS and SDS
* Send EDS for [a,b]
* No SDS yet, so still initializing
* Send CDS [a,b] @ v2
* Send EDS for [a] only (no b)
* Stuck forever waiting for `b` to warm

[2022-05-24 20:47] howardjohn commented on #21425
I think I know why this is happening... basically relates to https://github.com/envoyproxy/envoy/issues/13009. Basically, we only send a subset of EDS as an optimization. For example, if `Service foo` changes, we push ALL clusters (SotW, we have no choice) but only the EDS for clusters for `Service foo`. This usually works, since we only update the cluster's for `Service foo` and thus have an EDS

[2022-05-24 20:53] kyessenov commented on #21425
It does sound plausible that by not responding to `b` for EDS, cluster `b` is effectively never comes out of warming and halts the initialization. Maybe sending an empty cluster for `b` is sufficient?

[2022-05-24 20:56] ameily commented on #19751
With the recent move to oghttp2, we'll be closing our existing PR and opening a new one that targets oghttp2. Similar to H1, header validations for H2 will be disabled when the UHV compile time flag is enabled. We plan on using the new `validate_http_headers` exposed by the `external_quiche_http2::adapter::OgHttp2Adapter::Options` class, most likely within the [`Http2Options`](https://github.com/e

[2022-05-24 21:58] lambdai commented on #21425
@howardjohn There is conflict description between your two comments.

In https://github.com/envoyproxy/envoy/issues/21425#issuecomment-1136399720 the warming one is `b` and `b` in EDS was sent to Envoy. It seems a bug in Envoy.

However, https://github.com/envoyproxy/envoy/issues/21425#issuecomment-1136415465 seems to be a pure control plane issue, right?

[2022-05-24 22:01] howardjohn commented on #21425
In https://github.com/envoyproxy/envoy/issues/21425#issuecomment-1136399720

* Send CDS [a,b] @ v1, depends on EDS and SDS
* **Warming**: a and b
* Send EDS for [a,b]
* **Warming**: a and b still, but only due to SDS. No pending EDS updates
* No SDS yet, so still initializing
* Send CDS [a,b] @ v2
* **Warming**: a and b still; pending SDS and EDS update
* Send EDS for [a] only (no b)
* **Warming**

[2022-05-24 22:13] nezdolik commented on #18351
Looks like there is yet no implementation for tracking the timestamp of first passing HC per host in a cluster.
(If we want the host to enter slow start once during its lifetime upon passing first HC)
Two approaches I could think of:
1) extend `ActiveHealthCheckSession` with an optional timestamp of first passing HC and store/make this information available in corresponding host.
Feels like a righ

[2022-05-24 22:31] lambdai commented on #21294
It's easy to implement, but the functionality is too thin (tracking connection_id and close reason) to create a dedicated network filter...
@mattklein123 WDTY?

[2022-05-25 00:32] soulxu opened #21427 "listener ecds: reject the connection directly instead of using a fake listener filter"
see the discussion here https://github.com/envoyproxy/envoy/pull/21133#discussion_r867488644

current implementation is using a `MissingConfigTcpListenerFilter` to reject the connection https://github.com/envoyproxy/envoy/pull/21133/files/9f2b442e8c90cf1e426917ed4de8d3f303eff90f#diff-998fda72180293e9c2eaf07d3ead906aba6998220cbcd9f10f63bc283f5c6119R41

but it seems overcomplex, we should be able to

[2022-05-25 00:32] soulxu commented on #21427
/assign @soulxu

[2022-05-25 01:54] StarryVae commented on #21152
#21310 this pr has fixed it.

[2022-05-25 02:27] htuch commented on #21427
@kyessenov @adisuissa should this just be fixed in https://github.com/envoyproxy/envoy/pull/21133 or does it make sense to fix after merge?

[2022-05-25 02:36] htuch commented on #21393
Sure - imagine the old listener is warming on the old secret when you do the rotation, for example. In control planes with multiple xDS servers you also have the situation potentially where some have the new secret but no the new listener etc. It's advisable to be defensive against this when building robust xDS control planes. That said, maybe there are specifics of your setup that allow for this.

[2022-05-25 02:40] #20211 closed

[2022-05-25 02:50] htuch commented on #21368
Not sure - I think at this point I'd try to use curl in verbose/debug mode to see what is going on at wire level and look at the Envoy `-l debug` logs.

[2022-05-25 03:09] yankunsam commented on #21368
[envoy-log.txt](https://github.com/envoyproxy/envoy/files/8767601/envoy-log.txt)
@htuch  here is the envoy log in trace level

[2022-05-25 03:19] seizethedave opened #21429 "Sub-millisecond request latency metrics"
*Title*: Sub-millisecond request latency metrics

*Description*:
My upstream service has a typical response time of 1-2ms, so having all of the request latency statistics (like `upstream_rq_time`) truncated to nearest whole millisecond is not ideal. It would be great if I could have these reported in microseconds/etc.

Thanks!

[2022-05-25 04:05] adisuissa commented on #21427
I would suggest decoupling it from #21133 for a couple of reasons:
1. This is similar to how HttpFilter works (see [`MissingConfigFilter`](https://github.com/envoyproxy/envoy/blob/cf840b8c4822a692184e3df471df89e4973e72fb/source/extensions/filters/network/http_connection_manager/config.cc#L87)).
2. Early return in [`buildFilterChain`](https://github.com/envoyproxy/envoy/pull/21133/files/9f2b442e8c9

[2022-05-25 04:08] #20773 closed

[2022-05-25 04:08] #20861 closed

[2022-05-25 05:58] soulxu commented on #21427
I'm a little prefer to fix in #21133 in the beginning, but I agree with what @adisuissa suggested here, and happy to help on this.

[2022-05-25 07:37] vehre-x41 opened #21432 "OSS fuzz issue 43725 & 43729: Wasm-filter does not initialize"
*Title: OSS fuzz issue 43725 & 43729: Wasm-filter does not initialize*

*Description:*
In both issues 43725 and 43729 filter_fuzz_test tries to configure a wasm-http-filter. In both issues [tls_slot_->get()](https://github.com/envoyproxy/envoy/blob/a477786206a5087fdca82d5af9ce3f852dfdc9a3/source/extensions/filters/http/wasm/wasm_filter.h#L31) triggers an assert, because the tls_slot_ is not initia

[2022-05-25 07:37] vehre-x41 commented on #21432
CC @adisuissa @KBaichoo @pradeepcrao @htuch

[2022-05-25 07:45] onemanbucket commented on #21393
Thank you for engaging, and apologies if I'm misunderstanding how this is supposed to work :smile:

I can see how this would be an issue when not using SotW, but not with it?

Alright, let's get back to the questions, that were about what the correct behaviour should be in a secret rotation scenario using ADS/SotW updates.

You said `I think to prevent races, you will need in general to have your

[2022-05-25 08:03] github-actions[bot] opened #21433 "Newer release available `org_llvm_llvm`: llvmorg-14.0.4 (current: llvmorg-12.0.1)"
Package Name: org_llvm_llvm@12.0.1
Current Version: llvmorg-12.0.1@2021-07-09
Available Version: llvmorg-14.0.4@2022-05-25
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-05-25 08:03] #21085 closed

[2022-05-25 08:03] github-actions[bot] opened #21434 "Newer release available `org_llvm_releases_compiler_rt`: llvmorg-14.0.4 (current: llvmorg-14.0.0)"
Package Name: org_llvm_releases_compiler_rt@14.0.0
Current Version: llvmorg-14.0.0@2022-03-23
Available Version: llvmorg-14.0.4@2022-05-25
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-05-25 08:03] #21086 closed

[2022-05-25 08:03] github-actions[bot] opened #21435 "Newer release available `rules_rust`: 0.5.0 (current: 0.3.1)"
Package Name: rules_rust@0.3.1
Current Version: 0.3.1@2022-04-26
Available Version: 0.5.0@2022-05-24
Upstream releases: https://github.com/bazelbuild/rules_rust/releases

[2022-05-25 09:29] kfaseela commented on #21294
This aligns to the requirement in the comment here as well? https://github.com/envoyproxy/envoy/issues/19604#issuecomment-1040502819

[2022-05-25 10:05] vorishirne commented on #20425
@LuyaoZhong is this feature still under development

[2022-05-25 10:18] cetanu commented on #96
I created a proof of concept that solves this problem without code changes to Envoy:

An ACME server receives domain names, creates a HTTP01 challenge, passes the challenge to an XDS control-plane.
The control-plane passes the routes to envoy over RDS. Envoy then serves the challenge on port 80.
The ACME server checks that the route has propagated, and then posts to lets-encrypt for validation.
Le

[2022-05-25 11:08] LuyaoZhong commented on #20425
@vorishirne Yes, see the issue [TLS bumping](https://github.com/envoyproxy/envoy/issues/18928) .

[2022-05-25 12:15] phlax commented on #96
amazing! thanks @cetanu

can i suggest a way we can publish this recipe...

lets add a sandbox that has all the parts required and uses the ACME test server (i think there is a container for it already)

i would be really happy to help with this if i can, or to implement the sandbox if im clear about what parts are needed

[2022-05-25 12:17] phlax commented on #96
(for ref see https://github.com/envoyproxy/envoy/tree/main/examples for existing sandboxes)

[2022-05-25 15:14] mattklein123 commented on #21410
I agree we should make the behavior consistent either way and it would be good to understand the root cause.

[2022-05-25 15:18] mattklein123 commented on #21239
Sorry I don't immediately know what is going on. The problem with the trace is that you don't see where the exception was thrown from, so you might need to attach a debugger or get a core dump.

[2022-05-25 15:26] pradeepcrao opened #21441 "Custom Responses based on upstream reply"
*Title*: *Provide the ability to customise upstream responses*

*Description*:
The ability to customise responses from the upstream (particularly errors) allows Envoy to provide customised web pages to the user which is particularly useful in multi-tenant environments where the default page might be perceived as jarring to the end user. Some functionality does currently exist using [LocalReplyConf

[2022-05-25 15:26] pradeepcrao commented on #21441
/assign @pradeepcrao

[2022-05-25 15:30] markdroth commented on #21261
This looks like a duplicate of #12274.  Can we close this and track the changes there?

Note that there is already some discussion in the other issue about how to handle backward compatibility.

[2022-05-25 15:31] wbpcode commented on #21261
cc @markdroth you are right.

[2022-05-25 15:31] #21261 closed

[2022-05-25 15:42] wbpcode commented on #12274
cc @markdroth Does the gRPC introduced new API for the semantic?

[2022-05-25 15:45] markdroth commented on #12274
No, gRPC has no new API for this.  The `typed_per_filter_config` key is always the custom name from the `HttpFilter.name` field in the HCM's list of filters.

I suspect the easiest path for backward compatibility here will be to first try to find a custom name match and then fall back to using the old canonical names.

[2022-05-25 16:01] #20870 closed

[2022-05-25 16:05] kyessenov commented on #20894
Outbound makes sense if you think about the connection to the backend. Gateway must start a trace and half-open a span on the gateway. Inbound makes sense if you expect the incoming connection to have a trace already. In reality, we should really add a GATEWAY traffic direction with the right logic to handle both cases at the same time.

[2022-05-25 17:11] markdroth commented on #12274
The default compatibility approach is essentially the same thing that was done in https://github.com/envoyproxy/envoy/pull/9618 to change the meaning of the existing filter name field in the HCM config.  If it worked for that, I'm not sure why it wouldn't work here as well.

I really don't think it makes sense to require gRPC to support a new field when we already have the desired functionality he

[2022-05-25 17:22] mattklein123 commented on #12274
As long as we don't break existing users I'm OK with a fallback approach. If we are going to break existing users we will have to add some type of new config. There are too many people that would be effected by a breaking change here.

[2022-05-25 17:39] markdroth commented on #12274
Yeah, agreed.  I don't think this should be a breaking change.

Unless I'm missing something, the only case in which this would be a breaking change is if there is a conflict where someone is using one of the canonical names as the custom name for a *different* filter impl (e.g., using "envoy.filters.http.ext_authz" as the name for a fault injection filter instead of an ext_authz filter), which se

[2022-05-25 17:59] PiotrSikora commented on #21432
Does it try to load invalid Wasm module from remote endpoint? If that's the case, then this might be fixed in #20843.

[2022-05-25 21:41] lambdai opened #21447 "`manager_` could be a dangling reference when Envoy shuts down"
Thank @JuniorHsu for reporting a crash.

`manager_` could be a dangling reference when Envoy shuts down

_Originally posted by @lambdai in https://github.com/envoyproxy/envoy/pull/19971#discussion_r882135365_

[2022-05-25 21:41] lambdai commented on #21447
/assign lambdai

[2022-05-25 21:51] stevenzzzz commented on #21272
this can be closed now.

[2022-05-25 21:51] #21272 closed

[2022-05-25 22:48] lambdai commented on #21365
To rephrase: it's nice to have some publish some signal to the downstream, either via metadata, error details, etc. It should not citizen because only it is consumed in http1.1. Correct? @alyssawilk

[2022-05-25 22:56] lambdai commented on #21365
Am I understanding you correctly?
1. HCM is the only executor to add "connection: close" on http1.1
2. HCM should expose the api for a http filter to notify a "connection: close" is desired
3. The rule to produce the notification should live in http filter, not in core HCM config.

[2022-05-25 22:59] kyessenov commented on #21365
To provide more background - this is coming from a use case where the client to Envoy treats HTTP connection closure as something more than request failure (which have its meaning in HTTP) - it tries to re-resolve DNS in client SDK. So while if you think of HTTP correctness either way is fine, for the higher SDK-level behavior they expect one certain HTTP way.

[2022-05-26 00:18] wbpcode commented on #12274
It works. Explicit configuration just my personal preference.

I hope the behavior can be controlled by the users and provides some extendibility here.

Any way, we can make the fallback a default behavior to reduce work of grpc.

[2022-05-26 00:20] soulxu commented on #21427
Yes, that is what I'm thinking

[2022-05-26 03:03] htuch commented on #21429
Seems reasonable to introduce some sub-millisecond precision. CC @jmarantz @mattklein123

[2022-05-26 03:08] htuch commented on #21441
https://github.com/envoyproxy/envoy/pull/11007 for `LocalReplyConfig` introduction reference. CC @mattklein123 @qiwzhang

[2022-05-26 03:20] htuch commented on #21368
Looks like Envoy is producing these headers. I'm guessing this is some gRPC library issue with error responses and trailers? Not sure.
[code]

[2022-05-26 04:11] htuch commented on #21393
If you are doing this over ADS, there are very specific situations in which you can achieve dropping the oldsecret during the rotation, but it requires the following:
* You need to know that clients have LDS ACKed _and_ the corresponding SDS fetch was also received and ACKed by the client.
* You need to avoid responding to any new client LDS fetches during a period in which you switch to both the

[2022-05-26 05:58] yankunsam commented on #21368
In the above code, gRPC client can get the header that configured by gRPC server by gRPC-go. But not for Envoy. And Envoy reset the steam by gRPC server only set the Unavailable Code in Response Body.

[2022-05-26 08:03] github-actions[bot] opened #21452 "Newer release available `com_google_protobuf`: v21.0 (current: v3.19.4)"
Package Name: com_google_protobuf@3.19.4
Current Version: v3.19.4@2022-01-28
Available Version: v21.0@2022-05-26
Upstream releases: https://github.com/protocolbuffers/protobuf/releases

[2022-05-26 08:03] #20938 closed

[2022-05-26 09:13] mrnonz opened #21454 "Envoy %GRPC_STATUS_NUMBER% got String instead of Number"
Hi, I have use Envoy with custom logging with `%GRPC_STATUS_NUMBER%` but I got String instead of Number

*Config*
[code]

*Result*
[code]

[2022-05-26 10:33] Jacobien1 opened #21455 "SSL Error connecting to a redis cluster 'Elasticache'"
I'm trying to connect to my Redis cluster 'Elasticache' through the envoy. when I do it through the TCP filter, it works fine, but the connection pool doesn't work. on the other hand, I've tested the Redis filter and it works perfectly on my local with the connection pool, but when I try to implement it on AWS it doesn't work 'I'm using Redis-py as a client ' and it gives me the following error:
[

[2022-05-26 12:01] #20063 closed

[2022-05-26 12:01] #20866 closed

[2022-05-26 13:24] alyssawilk commented on #21365
@lambdai Yep, that sums up my opinion (though I'm not fixed on it so you're welcome to debate or ask Matt/Snow for a second opinion)

[2022-05-26 13:26] alyssawilk commented on #21410
Agreed.  Thanks for the report - I'll look into it when I have a few given it sounds like it's not blocking update for Dropbox :-)

[2022-05-26 15:49] slahirucd7 commented on #20956
@wbpcode @daixiang0
Is there any update regarding above ?

[2022-05-26 15:58] egerkke commented on #21294
Hi Lady and Gents,

Please help me to phrase properly.

Indicating TCP connection level issues of downstream client when:
 - connection was established earlier
 - there is no active http request
 - something happens on client side with the connection
   - loss of connectivity with client
   - RST is sent from client

With error log information:
 - TCP connection ID
 - and Connection closure reason

[2022-05-26 16:11] egerkke commented on #20650
Hi Lady,

I see you delivered your solution:
Author: alyssawilk <alyssar@chromium.org>
Date:   Mon May 16 15:56:02 2022 -0400

    http2: using cached settings for multiplexing limits across the board (#21275)

    This turns up settings caching for HTTP/2 and ALPN upstreams, with each cluster caching the multiplexed streams for endpoints, and using those as the default for subsequent connections.

[2022-05-26 17:12] jmarantz commented on #20485
Matt -- I haven't looked to deeply yet but do we need to use mocks for the dependencies or is the needed behavior available in the validation server implementation?

[2022-05-26 17:37] alyssawilk commented on #20650
Yep!  Should make the next Envoy release (unless it causes problems of course)

[2022-05-26 18:34] mattklein123 commented on #21294
I'm pretty sure the listener log will cover your case. Can you please look and let us know what is missing?

[2022-05-26 18:35] mattklein123 commented on #20485
@jmarantz I have no idea what would be required. As I said above, I have no objection, but someone will need to do the analysis and the work.

[2022-05-26 18:39] mattklein123 commented on #21429
I think this is a fine request. The only thing I would point out is depending on how it is expressed, there might be some issues with the default Prometheus histogram buckets that need sorting through. cc @ggreenway

[2022-05-26 19:16] ggreenway commented on #21429
I think the default buckets will end up being fine, and the buckets are defined as doubles so fractional values can be configured.

The trickier part is that many of our time-based metrics are defined with a base-unit of milliseconds, and the histogram datatype is an integer, so there's no way with the current stats to record a value of less than 1 millisecond. So we'd need to replace those metric

[2022-05-26 19:18] mattklein123 commented on #21429
Could we just cheat and store microseconds instead of millis and then convert or just have a different metric?

[2022-05-26 19:21] ggreenway commented on #21429
Yes, I think so. I wrote some code to do scaled Percent in histograms. We could add something similar for this. See:
[code]

[2022-05-26 19:22] BrendanGraham14 opened #21461 "Support rate_limited_as_resource_exhausted for local rate limit events"
*Description*:
- a client service needs to know more details in order to pick the right retry policy, or not retry the call at all.
- a service owner needs to know more details about why a gRPC call failed.

By default, http error 429s are translated to gRPC status `UNAVAILABLE` which can make it difficult to distinguish real downtime from rate limiting events.

Essentially, the same use cases as

[2022-05-26 19:43] eoregua commented on #21239
Issue reproduced running the envoy process in a debugger!

Please do your best to narrow down this issue that is systematically reproduced in the scenario already described in the previous comment, thanks a lot!

[code]

[2022-05-26 22:05] mattklein123 commented on #21239
I already told you I can't tell what is going on from the stack trace. So either provide a repro that I can run, or you will need to debug further. You can tell gdb to break when an exception is thrown via something like `catch throw` or someone along those lines.

[2022-05-27 00:12] daixiang0 commented on #21454
Could you share which version of Envoy you use?

[2022-05-27 00:36] gauravojha commented on #18789
@cpakulski  wanted to check if there are any plans to support the above? this would be amazingly helpful feature..

" I think that the API should be extended to define status codes considered as errors, so one can specify exact codes which will cause a node to be considered an outlier."

this will be really helpful, for cases like lets say we want to eject for all 5xx except 502 for some reason or

[2022-05-27 02:50] mrnonz commented on #21454
@daixiang0 I use this version

`envoy  version: 4ce93dc3ace00ae9108b179d0afaceac13f4602a/1.17.4/Modified/RELEASE/BoringSSL`

I think this my misunderstand; I think if this command operator not set will be error instead of return the main string. I will try to upgrade envoy to >= `1.22.0` since command operator ``%GRPC_STATUS_NUMBER%`` added.

Thank you

[2022-05-27 04:03] daixiang0 commented on #21454
Sure, you are welcome, hope it helps you.

[2022-05-27 04:46] htuch commented on #21461
Makes sense @rgs1 @wbpcode @mattklein123

[2022-05-27 04:55] htuch commented on #21455
This listener is not configured for TLS, so if the client is expecting that, it will produce the message you describe.

[2022-05-27 04:57] htuch commented on #21455
@msukalski @HenryYYang @weisisea are CODEOWNERS and can help with any followups here.

[2022-05-27 05:10] BrendanGraham14 commented on #21461
I'm happy to try and take this on

[2022-05-27 05:20] Judy-Sophos opened #21464 "Envoy 1.23.0-dev Didn't find a registered implementation for 'envoy.filters.http.router' with type URL: ''"
*Title*: *Envoy 1.23.0-dev   Didn't find a registered implementation for 'envoy.filters.http.router' with type URL: ''*

*Description*:
I am investigating Envoy external processing filter by following the setup in https://github.com/salrashid123/envoy_ext_proc. My envoy version is:

cd7ea77aef1476ba70a6487ad4e80ada0c8c6ddc/1.23.0-dev/Clean/RELEASE/BoringSSL

When I run the following command to val

[2022-05-27 05:31] style95 opened #21465 "Can't adjust the descriptor_key for the rate limiting based on remote_address"
*Description*:
I configured the global rate limit on Istio/Envoy using Envoyfilter.

My rate limit configuration for the ratelimit service looks like this.

configmap
[code]

And my envoyfilter looks like this.

[code]

When I send a request, the envoy sends a ratelimit request to the ratelimit service, but it looks for a different descriptor key.

The ratelimit service uses `mydomain.com.remote_a

[2022-05-27 06:00] daixiang0 opened #21467 "CI always fail when add new extension"
*Title*: *CI always fail when add new extension *

*Description*:
#21126 delete tools/extensions/extensions_check.py, but CI image does not update, it makes CI always fail, e.g. https://dev.azure.com/cncf/envoy/_build/results?buildId=109375&view=logs&j=c5dd2866-6ab3-5f3c-3a44-4cef0ec909b5&t=a9eb66d6-8944-5769-b3f7-476949dadcb8&l=61

[2022-05-27 06:00] daixiang0 commented on #21467
/assign

[2022-05-27 06:59] egerkke commented on #21294
Hi Matt,
I attached above my [tcpdump](https://github.com/envoyproxy/envoy/files/8742262/downstream_client_loss.pcap.tar.gz) that I created when simulated the use case of disappeared client. This use did not create any log entry.

[2022-05-27 07:11] PiotrSikora commented on #20378
The regular CONNECT method cannot be used for proxying TCP over HTTP/2, since it requires server to open a TCP connection to the destination, and not to layer it on top of HTTP/2.

This is missing quite a bit of context.

[RFC8441](https://datatracker.ietf.org/doc/html/rfc8441) supports only WebSockets because that was the use case that needed immediate solution at the time. Before it was finalize

[2022-05-27 07:51] vehre-x41 commented on #21432
Well, I don't think so. One of the configurations is:
[code]
where the `typed_config` expands to:
[code]
Note, that this is fuzzer input, i.e., the fuzzer not necessary construct a config that makes sense.

[2022-05-27 07:55] eoregua commented on #21239
[code]

[2022-05-27 08:16] Jacobien1 commented on #21455
Redis works with TCP traffic, and as I saw online this listener is used for Redis databases, and I've tried it on my local Redis database and it worked but it shows this error for Elasticache 'Redis on AWS'

[2022-05-27 10:13] phlax commented on #21467
@daixiang0 i dont believe that this is related to the build image - i think you need to merge main

[2022-05-27 10:18] phlax commented on #21467
closing this as i think this was a misdiagnosis of the problem - please reopen if you believe there is actually still a problem and we can investigate

[2022-05-27 10:18] #21467 closed

[2022-05-27 10:24] daixiang0 commented on #21467
Thanks for help!

[2022-05-27 11:41] phlax commented on #21464
Seems like the example you are following is not up to date with current configuration

Where you currently have:

[code]

You need:

[code]

[2022-05-27 12:01] #20900 closed

[2022-05-27 14:35] cpakulski commented on #18789
@gauravojha I still plan to work on this. Your example with excepting 502 is a very good point. Please keep an eye on this issue and I should land a PR within few weeks.

[2022-05-27 14:40] mattklein123 commented on #21294
Sorry I don't have the time right now to look through the TCP dump. Feel free to share screen shots of wireshark output of annotated sections.

What is the full config you are using. Have you turned on listener access logs as I suggested?

[2022-05-27 14:43] #21122 closed

[2022-05-27 14:51] mattklein123 commented on #21239
It seems there is some case in which the inotify event fires:

https://github.com/envoyproxy/envoy/blob/bcb19c47625d96d440c1093e2ad3445a21858fd8/source/common/config/watched_directory.cc#L10

Before the callback is set:

https://github.com/envoyproxy/envoy/blob/bcb19c47625d96d440c1093e2ad3445a21858fd8/source/common/config/watched_directory.h#L18

I'm not sure if we just need a guard around calling

[2022-05-27 15:47] PiotrSikora commented on #20378
Yes, regular CONNECT is well supported, but it requires server to establish a TCP connection to the destination, i.e.

[code]

whereas we want to proxy TCP over HTTP/2 across multiple hops, i.e.

[code]

That is, regular CONNECT is terminating HTTP/2, whereas extended CONNECT is not.

It is meant to be interoperable, but the `bytestream` standardization got lost in the process and it should be rev

[2022-05-27 15:50] #21353 closed

[2022-05-27 15:57] Jacobien1 commented on #21455
any solution please???

[2022-05-27 16:01] kyessenov commented on #20378
@DavidSchinazi ^ Piotr has a valid point for a HTTP2 tunneling proxy. Regular connect implies termination so we can't chain them without violating RFC.

[2022-05-27 16:04] howardjohn commented on #20378
Thanks, I think I finally get why the `bytestream` stuff was added, I didn't fully understand until now.

That being said, it still seems like regular CONNECT is useful.

First, isn't this case perfectly valid for Envoy: `[ client ] --- TCP over HTTP/2 --> [ proxy ] --- TCP --> [ backend ]`

Second, what we want is TCP over HTTP/2 across multiple hops, but not _all_ hops. It seems like the concern

[2022-05-27 16:08] kyessenov commented on #20378
What is important is that any non-istio proxy can understand the protocol in question. So regular connect is fine at the edges of the mesh for termination, but within the mesh, if the expectation is to expect another hop. Any other proxy would behave correctly at the edge, but would not do the right thing within the mesh, like Piotr described.

[2022-05-27 16:16] howardjohn commented on #20378
At any hop we can make any decision, so I don't think we always know the next hop is HTTP/2 or raw TCP.

Also I don't even agree the spec says the next hop cannot be `TCP over HTTP/2`:

   payload of any DATA frames sent by the client is transmitted by the
   proxy to the TCP server; data received from the TCP server is
   assembled into DATA frames by the proxy

All it says is the payload must be

[2022-05-27 16:33] PiotrSikora commented on #20378
It's pretty clear what the intent here is, though.

So the plan is to move away from the extended CONNECT with `:protocol=bytestream` (because it's not standardized and hence not interoperable) to a regular CONNECT for which we plan to violate RFC (so it won't be interoperable at all)?

[2022-05-27 16:36] howardjohn commented on #20378
I am not sure I am following how regular CONNECT can be not interoperable? I can definitely see arguments that it doesn't follow the RFC - but the issue here is we are doing HTTP2 on downstream _and_ upstream.

From a downstream client perspective, they send the CONNECT and their TCP payload eventually makes it to where they requests; whether the intermediate steps are regular CONNECT or extended

[2022-05-27 16:36] PiotrSikora commented on #21432
Yeah, that matches my description (remote fetch):
[code]
it should be addressed by https://github.com/envoyproxy/envoy/pull/20843.

[2022-05-27 16:40] PiotrSikora commented on #20378
So why exactly do you want to replace extended CONNECT with `:protocol=bytestream` in those intermediate steps with something that's even less standardized (or purely wrong from RFC point of view)?

[2022-05-27 16:46] howardjohn commented on #20378
A few reasons...

1. I don't agree with your interpretation of the RFC; IMO its perfectly legal to do what we are expecting.
2. If its *not*, it seems a much more straightforward path forward would be to amend the spec to change the wording to allow this, rather than invent a new protocol which would need support propagated everywhere. AFAIK there is no technical concerns with using standard CONNE

[2022-05-27 16:52] Judy-Sophos commented on #21464
@phlax thanks for your kindly help! It works after I add typed_config to the server.yaml.

[2022-05-27 17:02] PiotrSikora commented on #20378
It's not. Can you point me to a single widely used software that does something else than raw TCP for regular CONNECT?

I can guarantee you that it would not be easier, and considering that the core HTTP RFCs just went through a multi-year rewrite, I don't see amending regular CONNECT as a valid option. Also, adding `bytestream` to the extended CONNECT method would be pretty trivial as far as writ

[2022-05-27 17:38] yanjunxiang-google opened #21484 "Missing integration tests for listener filter matcher functionality"
*Title*: Missing integration tests for listener filter matcher functionality

*Description*:
It looks to me there is no integration tests to verify listener filter matcher functionality.  i.e, if there is configuration in ListenerFilterChainMatchPredicate filter_disabled in listener filter:

https://github.com/envoyproxy/envoy/blob/2382e041ef1b63aff5de767f0af570b7dfb00e8c/api/envoy/config/listener

[2022-05-27 17:45] htuch opened #21485 "Re-enable Wasm C++ tests"
Fix NPM issue and re-enable tests disabled in https://github.com/envoyproxy/envoy/pull/21483

Example failures we were seeing https://dev.azure.com/cncf/envoy/_build/results?buildId=109222&view=logs&j=8c169225-0ae8-53bd-947f-07cb81846cb5&t=6b0ace90-28b2-51d9-2951-b1fd35e67dec

[2022-05-27 17:59] howardjohn commented on #20378
I am perfectly fine with supporting both with some flag.

Say we have C -> P1 -> P2 -> P3 -> P4 -> S. At each hop, proxy can chose to send CONNECT or raw TCP. Our Envoy hops would send CONNECT in most cases, but non-envoy hops are not required to if they refuse to send CONNECT requests in response to downstream CONNECT requests. Each proxy is 100% independent - they can recieve TCP or CONNECT and

[2022-05-27 18:11] PiotrSikora commented on #20378
How exactly is invalid usage of regular CONNECT better than proper usage of the extended CONNECT with not-standardized `:protocol=bytestream` for "your protocol" if you want to be interoperable?

[2022-05-27 18:27] PiotrSikora commented on #21485
[code]
The linked issue isn't related to failed NPM downloads (which result in missing JavaScript import).

I'm not sure what's the source of this, but I saw it previously with Emscripten v3.1.8 (which is why we didn't update to it yet), but never with v3.1.7. Also, this should be persistent not flaky.

[2022-05-27 19:32] howardjohn commented on #20378
Yep, I think so. Probably best to let @DavidSchinazi weigh in - I think we have both expressed our opinions here.

[code]

HaProxy config. I then have another proxy on 127.0.0.1:15008 (Go)

[code]

So HAProxy is accepting a CONNECT request and sending a CONNECT request in response; this is what we want Envoy to do.

[2022-05-27 20:08] kyessenov commented on #21484
There's this https://github.com/envoyproxy/envoy/blob/main/test/extensions/filters/listener/tls_inspector/tls_inspector_integration_test.cc#L40.

[2022-05-27 21:34] kyessenov commented on #21465
I'm not very familiar with the RLS server implementation. Envoy uses a fixed key literally called `remote_address` for this action. Maybe it's the issue with the mis-matched rate limit domain? It's not virtual host.

[2022-05-27 21:49] htuch commented on #21485
https://github.com/envoyproxy/envoy/pull/21487 address this hopefully.

[2022-05-27 21:49] #21485 closed

[2022-05-27 21:59] #21464 closed

[2022-05-27 22:06] bmonnahan opened #21490 "GrpcJsonTranscoder returns 200 with an empty body when the gRPC message is too deep"
*Title*: GrpcJsonTranscoder returns 200 with an empty body when the gRPC message is too deep

*Description*:

Actual: We have response messages with a recursive structure which can lead to deep objects.  Above 64 levels the json transcoder doesn't successfully convert the message to json. Instead it returns an empty body with a 200 HTTP status. Nothing shows up in the logs even with trace logging

[2022-05-27 22:08] htuch commented on #21239
The only [place](https://github.com/envoyproxy/envoy/blob/bbfcc667bb387aadbdfed892c47fbb978a4cd152/source/common/secret/sds_api.cc#L98) we call `setSecret()` is in `sds_api.cc` which [leads](https://github.com/envoyproxy/envoy/blob/bbfcc667bb387aadbdfed892c47fbb978a4cd152/source/common/secret/sds_api.cc#L109) to `setCallback()` in the same function / call stack.

[2022-05-27 22:23] jeanpz opened #21491 "Envoy routing issue with REACTjs"
I'm currently tring to implement envoy to be a gateway to route traffic inside my cluster and I'm running into a problem when making the redirect using a frontend application using ReactJs, getting a 404 on the static files.
It seems that the static files are missing the "path" portion of the url that im filtering through envoy, is there any config I'm missing here?
This is the envoy config:

[cod

[2022-05-28 01:30] yanjunxiang-google commented on #21484
Cool, thanks for the info. Let me close this issue.

[2022-05-28 01:30] #21484 closed

[2022-05-28 01:43] JakeCooper opened #21492 "Slow Envoy init due to secret initialization"
Our Envoy cluster currently holds about 2000 secrets. On startup, it will begin initializing these secrets but won't serve traffic until all of them have been loaded.

On first start, it takes about 20-30 minutes to load them all.

We're currently using the [Golang Control Plane](https://github.com/envoyproxy/go-control-plane) Snapshot API.

I'm wondering if there's a faster way to load these secr

[2022-05-28 03:41] JakeCooper commented on #10793
Hello from almost a year ago. As we've scaled, we've gone from dozens of custom domains to over 2k, which makes the loading of the secrets a bit of a bottleneck (See: https://github.com/envoyproxy/envoy/issues/21492)

I suppose people are working on the stream aggregation. Just wanting to comment here to track this again.

[2022-05-28 04:02] #20420 closed

[2022-05-28 04:56] daixiang0 commented on #20362
Still available.

[2022-05-28 08:03] github-actions[bot] opened #21495 "Newer release available `com_google_protobuf`: v21.1 (current: v3.19.4)"
Package Name: com_google_protobuf@3.19.4
Current Version: v3.19.4@2022-01-28
Available Version: v21.1@2022-05-27
Upstream releases: https://github.com/protocolbuffers/protobuf/releases

[2022-05-28 08:03] #21452 closed

[2022-05-28 10:27] dio commented on #21491
@jeanpz, if I'm not mistaken, you're trying to access the path with `/foo/` prefix. But, seems like you're doing `prefix_rewrite` to remove it?

[code]

[2022-05-28 11:38] jeanpz commented on #21491
Hey @dio, yeah so i thought that was the case as well initially, but I have tried removing that, and even changing to rewrite to /foo/ instead but no luck. Have also tried just commenting it out, same behavior.

[2022-05-29 00:03] #20319 closed

[2022-05-30 01:08] style95 commented on #21465
@kyessenov Thank you for the answer.
We are supposed to specify the domain in the configmap for reatelimit service configuration.

[code]

If you mentioned about the EnvoyFilter, could you let me know where to put such configurations?

[2022-05-30 06:02] durd07 opened #21497 "contrib: std::exception can't be catched correctly with libc++"
*Title*: *contrib: std::exception can't be catched correctly with libc++*

*Description*:
When compile envoy-contrib with clang and libc++ with following command:
[code]
which actually build like with this command:
[code]
or even in official envoy-contrib image `envoyproxy/envoy-contrib:v1.22.0`

The following code doesn't work, if `some_code_with_throw` throw some error, it can't be catched by `c

[2022-05-30 07:39] iglin opened #21500 "X-Forwarded-Proto header is set without X-Forwarded-Port"
*X-Forwarded-Proto header is set without X-Forwarded-Port*: *Envoy sets X-Forwarded-Proto HTTP header, but does not set X-Forwarded-Port and X-Fowarded-Host*

*Description*:

1. Disable setting HTTP header X-Forwarded-Proto;
2. Enable setting all the X-Forwarded headers IN CASE DOWNSTREAM DID NOT SET IT YET - cause usually these headers should be set on load balancer side before the requests gets

[2022-05-30 08:04] thangnn4688 commented on #20776
@lambdai could you help me to create a basic configuration for Iptables to support extension "envoy.filters.listener.original_src" ?
I had tried to do it many times but still not ok.

[2022-05-30 13:04] odidev opened #21503 "Provide an envoy binary package based on RPM and Ubuntu instances for ARM64 architecture"
I am trying to install envoy on the arm64 platform using [this](https://www.envoyproxy.io/docs/envoy/latest/start/install#install-envoy-on-ubuntu-linux) document, but it is failing. On using the command ``` sudo apt install -y getenvoy-envoy``` it displays the error ```E: Unable to locate package getenvoy-envoy```.  It looks like the envoy binary is not available for the arm64 platform. It will be

[2022-05-30 13:13] phlax commented on #21503
hi @odidev this has been an outstanding issue for a while (there are few related existing tickets)

we recenty made some progress here and now have debs (with the static Envoy binary)  built/tested in CI - for both x86_64  and arm64

the next steps are adding rpm support and hooking up the website to start publishing the builds

[2022-05-30 14:18] vehre-x41 commented on #21432
I have tested with df49d91459e0ed550f9815b4d85c2420b5ddde6e but it still crashes. The config used is the one from [this](https://github.com/envoyproxy/envoy/issues/21432#issuecomment-1139370260) comment.

Therefore no, it is not addressed by #20843.

[2022-05-30 16:01] #20945 closed

[2022-05-31 01:54] htuch commented on #21490
@qiwzhang @lizan

[2022-05-31 02:01] htuch commented on #21492
While fetching secrets over ADS will have some overhead, it should take orders of magnitude lower than 20-30 minutes. It might help to see what is going on over the wire during these transactions - maybe debug/trace level logs would be the next step. CC @adisuissa @kyessenov

[2022-05-31 02:02] #20901 closed

[2022-05-31 02:56] adisuissa commented on #21492
@JakeCooper Do you happen to have log traces and/or flame graphs?

[2022-05-31 05:41] Samhom opened #21508 "The redis_proxy filter that envoy has implemented does not support read requests routing in redis M/S clusters mode！"
*Title*: *The redis_proxy filter that envoy has implemented does not support redis M/S clusters！*

*Description*:

[2022-05-31 08:03] github-actions[bot] opened #21509 "Newer release available `com_github_aignas_rules_shellcheck`: v0.1.1 (current: v0.1.0)"
Package Name: com_github_aignas_rules_shellcheck@0.1.0
Current Version: v0.1.0@2022-05-29
Available Version: v0.1.1@2022-05-30
Upstream releases: https://github.com/aignas/rules_shellcheck/releases

[2022-05-31 08:03] github-actions[bot] opened #21510 "Newer release available `com_github_bufbuild_buf`: v1.5.0 (current: v1.4.0)"
Package Name: com_github_bufbuild_buf@1.4.0
Current Version: v1.4.0@2022-04-21
Available Version: v1.5.0@2022-05-30
Upstream releases: https://github.com/bufbuild/buf/releases

[2022-05-31 08:03] github-actions[bot] opened #21511 "Newer release available `com_github_gperftools_gperftools`: gperftools-2.10 (current: gperftools-2.9.1)"
Package Name: com_github_gperftools_gperftools@2.9.1
Current Version: gperftools-2.9.1@2021-03-03
Available Version: gperftools-2.10@2022-05-31
Upstream releases: https://github.com/gperftools/gperftools/releases

[2022-05-31 09:19] quserinn opened #21512 "Support customizing upstream http health check method"
I know Envoy use GET method for upstream http health check, but is there any way to change http method for upstrem http health check like HEAD or POST?
HAProxy support these feature : https://cbonte.github.io/haproxy-dconv/2.0/configuration.html#4.2-option%20httpchk

It would be nice if [config.core.v3.HealthCheck.HttpHealthCheck](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/h

[2022-05-31 10:53] style95 commented on #21465
closing as this was because of misconfiguration.
The domain is already considered.

[2022-05-31 12:01] #20936 closed

[2022-05-31 12:33] zengyuxing007 opened #21513 "Local RateLimit: Support customizing response body when request be limited"
*Title*: *Support customizing response body when request be limited*

*Description*:

In some scenarios at the gateway, the corresponding  local ratelimit filter is expected to have the ability to customize the response body, for example

[code]

Expect to add fields：

[code]

[optional *Relevant Links*:]

[2022-05-31 13:31] mwangtarget commented on #20378
any workaround to apply?

the websocket Request Envoy send to a golang upstream http server always be rejected now with below:

"2022/05/31 21:18:40 http2: invalid pseudo headers: invalid pseudo-header ":protocol""

[2022-05-31 14:30] #21265 closed

[2022-05-31 14:31] paul-r-gall commented on #16680
Filtering by name regex completed, closing this issue.

[2022-05-31 14:31] #16680 closed

[2022-05-31 15:15] eoregua commented on #21239
Hi,

Any update?

I suppose that there is some check ongoing from your side, right?

[2022-05-31 15:20] DavidSchinazi commented on #20378
Sorry for the delay, I was on vacation last week. My apologies, but @PiotrSikora your understanding of CONNECT is incorrect. Here is the relevant text from [the latest spec](https://datatracker.ietf.org/doc/html/draft-ietf-httpbis-semantics-19#section-9.3.6):

The only correct and standardized way to tunnel TCP in HTTP is regular CONNECT. The is no Extended CONNECT `:protocol` that is defined for

[2022-05-31 15:24] costinm commented on #20378
Or from a different perspective: "extended CONNECT" extends the normal
CONNECT, which is intended for proxying HTTPS/TCP
with extra functionality, like WS or UDP. It is not deprecating or
replacing the original CONNECT, just extends it.

On Tue, May 31, 2022 at 8:21 AM David Schinazi ***@***.***>
wrote:

[2022-05-31 16:29] egerkke commented on #21294
Hi Matt,

The wireshark output screen shot:
![wireshark](https://user-images.githubusercontent.com/96073071/171225769-68dfd64e-454c-4c7d-99ad-c21f16676b0a.jpg)

And this is the access log configuration I used:

Earlier I haven't noticed there is '%CONNECTION_TERMINATION_DETAILS%' operator as well, now I added this as well and reproduced the use case. It did not create any access log entry.

BR.
Ge

[2022-05-31 17:00] kyessenov commented on #21492
This sounds a lot like https://github.com/envoyproxy/envoy/pull/19971.

[2022-05-31 17:31] #21187 closed

[2022-05-31 19:53] howardjohn opened #21518 "sds: support pausing xDS requests"
*Title*: sds: support pausing xDS requests

*Description*:
We currently have serious performance issues observed when configuring a large number of TLS certificates. In one example I am using for reproducing, we have 2000 filter chains each with a transport socket with a unique SDS resource (see reproducer config below). This takes Envoy about 4 minutes to startup, as it will send 2000 SDS request

[2022-05-31 20:22] synologic opened #21519 "ext_authz with http_service - x-forwarded-for incorrect ?"
Hi all,

I have a simple api gw setup aith an ext_authz filter set on toip of the router filter, that uses a http_service as backend.

It seems that by default, x-forwarded-for header received by the authorization http service is the IP of the machine running envoy and not the actual client ip address.

Am i missing something here ? How can I get the real ip of the caller ?

Thanks

[2022-05-31 21:27] howardjohn opened #21520 "`total_listeners_warming` stats set to 0 when listeners are still warming"
*Title*: `total_listeners_warming` stats set to 0 when listeners are still warming

*Description*:
We saw a case where incomplete RDS response leads to listeners warming. However, the `total_listeners_warming` shows 0 still.

Configs attached below

[server_info.txt](https://github.com/envoyproxy/envoy/files/8809530/server_info.txt)
[stats.txt](https://github.com/envoyproxy/envoy/files/8809531/sta

[2022-05-31 21:35] bmonnahan commented on #21490
In case it helps. If you take the output of testRead and feed it back in to testWrite:
* Case < 100: succeeds
* Case of exactly 100: HTTP status 400 & body: "Message too deep. Max recursion depth reached for key 'left_tree'%"  In this case calling via gRPC succeeds.
* Case > 100:  HTTP status 200 and body: {"message":"{}"} In this case calling via gRPC results in INTERNAL.

[2022-06-01 02:19] mattklein123 commented on #21492
Hmm @howardjohn also just opened https://github.com/envoyproxy/envoy/issues/21518 which seems also related.

[2022-06-01 02:56] zhangbo1882 commented on #20536
Thanks @mattklein123. I will try to submit a PR for moving metadata from dowstream to upstream.

[2022-06-01 05:25] jamesmulcahy opened #21522 "envoy reports protocol error each time it handles an upstream goaway frame"
*Description*:

We've been investigating some unusual issues in production, and in course of the investigation observed that the upstream_protocol_error metric is unusually high.  Having dug into this, it appears that envoy is recording a protocol_error each time it gracefull handles an H2 goaway from an upstream, which isn't what I'd expect.

Note, we're running commit ec7ef59ef36ccb5e2a9b20493ae

[2022-06-01 05:40] zhangbo1882 opened #21523 "bazel build failure"
I rebase the latest code and the build will fail. Actually it can succeed before the rebase. Should I upgrade the bazel version ?

bazel build   //source/exe:envoy-static --config=docker-clang
INFO: Analyzed target //source/exe:envoy-static (0 packages loaded, 0 targets configured).
INFO: Found 1 target...
ERROR: Docker sandboxing is disabled, because ProcessUtils.getuid/getgid threw an Unsatisfie

[2022-06-01 05:50] jamesmulcahy commented on #21522
![image](https://user-images.githubusercontent.com/1479642/171336477-865f28c2-8b78-46f4-9bf7-b9f1f3a324d4.png)

The shape of local protocol errors broadly matches the shape of the remote idle timeouts -- but the magnitude is very different.  I'm now wondering if this is a race condition; is the local envoy trying to send a new request just as it's handling the GOAWAY, I wonder.

[2022-06-01 08:03] github-actions[bot] opened #21526 "Newer release available `com_googlesource_code_re2`: 2022-06-01 (current: 2022-04-01)"
Package Name: com_googlesource_code_re2@2022-04-01
Current Version: 2022-04-01@2022-03-31
Available Version: 2022-06-01@2022-05-31
Upstream releases: https://github.com/google/re2/releases

[2022-06-01 13:00] odidev commented on #21503
Sounds good. Can you please provide some possible dates when you are going to release the arm64 binary?

[2022-06-01 13:12] phlax commented on #21503
at this point, not sure about exact dates

at this point Envoy CI is building and testing the binaries so I guess before we start publishing these officially it would be good to start testing them

i can add a PR that adds the first part of the publishing pipeline in the next few days - once that is in place it should be possible to download the debs and test them with `dpkg -i`

in terms of rpms

[2022-06-01 13:17] ipuustin opened #21531 "Add Intel® QuickAssist Technology (Intel® QAT) support as contrib extensions"
*Title*:

Add Intel® QuickAssist Technology (Intel® QAT) support as contrib extensions

*Description*:

Next generation Intel® QAT support with Intel® Xeon® Scalable processors will feature an Intel® QAT cryptography and compression acceleration engine. In order to use it, two new Envoy contrib extensions are proposed:

1.	QATzip compression extension. This extension uses QATzip library (https://g

[2022-06-01 14:25] egerkke commented on #21294
Hi Matt,

Annotated TCP dump:
[downstream_client_loss_annotated.pcapng.tar.gz](https://github.com/envoyproxy/envoy/files/8815023/downstream_client_loss_annotated.pcapng.tar.gz)

Full Envoy config:
[envoy_config.tar.gz](https://github.com/envoyproxy/envoy/files/8815026/envoy_config.tar.gz)

And we are using HTTP connection manager access log.

[2022-06-01 14:57] KBaichoo commented on #21508
cc redis cluster owners: @weisisea @HenryYYang

[2022-06-01 15:15] KBaichoo commented on #21518
cc @adisuissa @kyessenov

[2022-06-01 15:59] xu1zhou commented on #20915
Encountered same error, I found that the `flask_service` is build from  `flask_service:python-3.10-slim-bullseye`, And I can't find it on dockerhub, is that's the reason? @daixiang0

[2022-06-01 16:01] #20969 closed

[2022-06-01 16:03] mattklein123 commented on #21294
I already explained that you need to use the listener access log if you want to see a log at the connection level for every connection. Please use that.

[2022-06-01 16:23] xu1zhou commented on #20915
Sorry, I recheck the problem and found it may due to a feature named "buildkit"  which is enabled by default for some version of docker engine, you can find more detail [here](https://github.com/docker/compose/issues/8449), and you can use `export DOCKER_BUILDKIT=0` to close buildkit.

[2022-06-01 17:37] petedmarsh opened #21535 "Allow filtering of headers sent in CheckRequest to gRPC ext authz"
*Title*: Allow filtering of headers sent in CheckRequest to gRPC ext authz

*Description*:

The HTTP ext authz allows for the filtering of headers from the request sent to the ext authz service (`allowed_headers`: https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/ext_authz/v3/ext_authz.proto#extensions-filters-http-ext-authz-v3-authorizationrequest), but the gRPC version d

[2022-06-01 18:18] kyessenov commented on #21239
Can you describe what you do to the files (k8s secrets I assume)? There's probably some race somewhere, which is exaggerated by excessive watching mentioned in https://github.com/envoyproxy/envoy/issues/21518.

[2022-06-01 18:31] KBaichoo commented on #21500
Hi,

For H1 envoy will use x-forwarded-proto to the upstream see https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/headers#scheme

Perhaps
https://github.com/envoyproxy/envoy/issues/3732#issuecomment-1046834623 might be a solution for your scenario as well? / the rest of the issue is very relevant to your situation (will mark as duplicate, though happy to open again if i

[2022-06-01 18:31] #21500 closed

[2022-06-01 18:48] synologic commented on #21519
Yes i did:

[code]

Tested with version 1.21.2, in the auth service i get the following headers:

[code]

where 172.16.44.100 is the envoy server's IP address

[2022-06-01 20:01] #20897 closed

[2022-06-01 20:01] #20898 closed

[2022-06-01 20:04] hochuenw-dd commented on #20836
https://github.com/istio/istio/pull/24712 looks like the same issue may apply to Istio's passthrough proxy. Cc @howardjohn, @lambdai.
since the passthrough proxy in istio uses `Cluster_USE_DOWNSTREAM_PROTOCOL`, it will try to use HTTP2 to talk to the server even when the client doesn't speak HTTP2.

[2022-06-01 20:07] howardjohn commented on #20836
So your are sending HTTP2 and HTTP1.1 on the same connection...? Any RFC link that says that is legal - seems like its not.

[2022-06-01 20:08] howardjohn commented on #20378
This is specifically about non-websocket CONNECT usage. For websockets, Envoy is correct - `:protocol` must be used for HTTP2 WS. Go doesn't support this, so you should use HTTP1.

[2022-06-01 20:24] howardjohn commented on #20836
The fact it works without Envoy and fails without Envoy does not mean Envoy is wrong. You are using Envoy "HTTP" features but you are not sending RFC-compliant HTTP (as far as I understand it). If you want to use almost-HTTP-but-not-quite you would need to use tcp_proxy, not HTTP.

[2022-06-01 21:03] rodrigomideac commented on #20915
I was facing this error when running `docker compose build --pull` at `front-proxy` example:

[code]

In my case, `export DOCKER_BUILDKIT=0` proposed solution didn't work, but running first `docker compose build` and then  `docker compose up -d` solved the issue for me.

[2022-06-01 23:58] daixiang0 commented on #20915
[code]
Since you specify `--pull`, docker-compose will always attempt to pull, that is why you can not build.

[2022-06-02 00:02] #20920 closed

[2022-06-02 00:03] phlax commented on #20915
the point is this - it should only pull for images that can be pulled, and build for _the image that should be built_

clearly this is an issue, so will prioritize

as it "works" in CI i havent made this a prio so far (apologies) - maybe following the docs _never_ works and only the way its done in CI does - or perhaps something else - will check further...

[2022-06-02 01:32] zhangbo1882 commented on #21523
[Wed Jun 01 18:32:01][#6# ] (metadata)$bazel --version
bazel 6.0.0-pre.20220421.3

Actually， I have already installed bazelisk.

[2022-06-02 01:41] wbpcode commented on #16506
active

[2022-06-02 02:52] wanlill opened #21538 "Make HappyEyeballsConnectionImpl more general to accommodate broader use cases"
*Description*:

According to the comment: `HappyEyeballsConnectionImpl` transparently attempts connections to multiple different IP addresses, and uses the first connection that succeeds. After a connection is established, all methods simply delegate to the underlying connection.

I would like to see whether we want to make it more generic: instead of limiting the multiple connections to different

[2022-06-02 04:25] jasonmccallister opened #21541 "AWS request signing filter virtual host-specific config"
*Title*: *AWS request signing filter virtual host-specific config*

*Description*:

I have Envoy deployed with a single TLS listener that is using virtual hosts. I need to tell each virtual host to use the `typed_per_filter_config` to apply the `envoy.filters.http.aws_request_signing` filter. However, when I apply the filter on the virtual host level, the following error is displayed:

[code]

Is

[2022-06-02 05:26] eoregua commented on #21239
Hi,

I don't believe that the scenario is due to excessive watching of directory from SDS in Envoy.

As said in one comment above  the issue is reproduced systematically at deployment time.

What happens at deployment in my faulty scenario is that few of these secrets to be monitored are still not created.

So basically envoy added watch for directory for 8 k8s secrets, but for 2 of them File syst

[2022-06-02 07:05] mwangtarget commented on #20378
Thanks Howard! very clear now.

[2022-06-02 07:23] rohrit opened #21543 "Envoy forward proxy authentication with NTLM"
*Title*: *Envoy forward proxy authentication with NTLM*

*Description*:
This is a question as to whether someone has tried proxy authentication with NTLM as described at https://docs.microsoft.com/en-us/openspecs/office_protocols/ms-grvhenc/b9e676e7-e787-4020-9840-7cfe7c76044a

Nginx has support in its plus offering and through OSS (https://github.com/gabihodoroaga/nginx-ntlm-module#:~:text=The%20

[2022-06-02 07:32] trustin commented on #20836
Armeria is capable of sending cleartext HTTP/2 requests in two ways and both are actually well defined in HTTP/2 RFC:

- If the client already knows the server supports HTTP/2, it can start sending the connection preface immediately. See [3.4. Starting HTTP/2 with prior knowledge](https://datatracker.ietf.org/doc/html/rfc7540#section-3.4).
- If the client doesn't know whether the server supports H

[2022-06-02 09:35] egerkke commented on #21294
OK, thanks, I try it out. Till now I believed the listener access log is also to be configured via the HTTP connection manager operators.

[2022-06-02 10:41] cobb-tx opened #21545 "path hava blank cause 400 DPE http1.codec_error"
*Title*: *path hava blank  cause  400 DPE http1.codec_error*

*Description*:

[code]

*Repro steps*:

[code]

[code]

[2022-06-02 12:01] #20884 closed, assigned to nobody

[2022-06-02 13:08] RyanTheOptimist opened #21547 "TSAN error in h1_capture_persistent_fuzz_test"
Recently two different unrelated PRs have had TSAN failure because of h1_capture_persistent_fuzz_test

https://dev.azure.com/cncf/envoy/_build/results?buildId=109663&view=logs&jobId=d1f76054-8f79-554b-6f4a-11d6a63b8e00&j=d1f76054-8f79-554b-6f4a-11d6a63b8e00&t=266e17e3-d213-54b5-deef-0dcee01da137

https://dev.azure.com/cncf/envoy/_build/results?buildId=109648&view=logs&j=d1f76054-8f79-554b-6f4a-11d

[2022-06-02 13:20] jtway commented on #11599
So not sure if this belongs as soon thing to mention here, or if it should be a separate issue/feature request.

I know having latency information would be very valuable, including endpoint specific information to know if a particular endpoint in a cluster's performance is degrading. That being said, I feel like some combination of TTFB in addition to histograms for request time and size (or at le

[2022-06-02 13:35] ameily commented on #19752
This has been merged.

[2022-06-02 13:35] #19752 closed

[2022-06-02 13:48] ameily opened #21548 "uhv: oghttp2: disable header validations based on compile flag"
*Title*: uhv: oghttp2: disable header validations based on compile flag

*Description*:
oghttp2 is being adopted in Envoy and has recently add a method of disabling header validations through a configuration setting. Using a compile time `ifdef`, disable H2 header validation within the parsing library when building UHV. This will be very similar to H1. We plan on using the new `validate_http_heade

[2022-06-02 13:48] ameily commented on #21548
CC @alessandrogario

[2022-06-02 13:53] jmarantz commented on #20382
+1 to disabling flaky tests.

[2022-06-02 14:29] jeffsawatzky commented on #21151
@lizan / @qiwzhang any update on this? I'd attempt to fix it myself however I haven't touched C++ is many many years...and I'm scared of the `malloc`/`free`. :)

[2022-06-02 17:05] t0rr3sp3dr0 opened #21553 "CORS Access-Control-Allow-Private-Network"
*Title*: CORS Access-Control-Allow-Private-Network

*Description*:

Add a new `allow_private_network` option to `config.route.v3.CorsPolicy` that will make Envoy respond requests with the header `Access-Control-Allow-Private-Network: true` when the header `Access-Control-Request-Private-Network: true` is present on OPTIONS requests.

*Relevant Links*:

[2022-06-02 18:21] hochuenw-dd commented on #20836
Really appreciate all details here @trustin ! Yes, this behavior in Armeria is also my understanding.
Technically speaking, I'm not sure if this behavior is HTTP RFC-compliant (mentioned by @howardjohn). Because when the client sends the first HTTP/2 connection preface, it doesn't have the prior knowledge of what protocol the server can speak. It checks the response of that first http/2 preface to

[2022-06-02 18:50] lizan commented on #21151
@qiwzhang it isn't that deep, we can urldecode before passing to protobuf?

[2022-06-02 18:59] qiwzhang commented on #21151
If query parameter is `path?search[field]=value`,  the binding field name is `search[field]`,  you could not do url_decode for this string since it has not `%5B`,  not understand how url_decode will help?

I think the issue is: when proto_writer is looking for field for `search[field]`,  it could not find it. The proto descriptor or type_info only has name `search_field` (proto original name), or

[2022-06-02 19:19] qiwzhang commented on #21151
I guess `path?search[field]=value` did not work.

My theory is `[` and `]` are special character in JSON too.  When you specify it in proto annotation `[json_name="search[field]"]`, proto-c may not like it,  did not generate specified json_name.

I checked proto_writer.cc code it is using json_name from `Field` which is generated from proto-c

FindField called [here](https://github.com/protocolbuf

[2022-06-02 19:32] lizan commented on #21151
@qiwzhang those are unrelated, protoc can compile them, json keys are in `""` so they work normally. We just need UrlUnescape [here](https://github.com/grpc-ecosystem/grpc-httpjson-transcoding/blob/master/src/include/grpc_transcoding/path_matcher.h#L370-L388) for keys as well, not only value.

[2022-06-02 20:20] jeffsawatzky commented on #21151
@qiwzhang to answer your question:
When we do
`string search_field = 1 [json_name = "search[field]"];`
then we either get an error or `search_field` is not set depending on what we set `ignore_unknown_query_parameters` to.

This happens for both
`http://localhost/v1/list?search%5Bfield%5D=fieldvalue`
and
`http://localhost/v1/list?search[field]=fieldvalue`

In both cases it seems like it is trying

[2022-06-02 20:22] jeffsawatzky commented on #21151
And as I mentioned in a previous comment, grpc-gateway seems to be urldecoding the parameter name before passing it to protobuf.

[2022-06-02 20:23] KBaichoo commented on #21520
cc @kyessenov @adisuissa

[2022-06-02 21:04] qiwzhang commented on #21151
Reply to @lizan comment on url_unescape query parameter key name.  it will NOT work as it will be no-op.

I think the issue is in `proto-c` compiler,  it will not generate specified `json_name` in the proto descriptor  for annotation `[json_name = "search[field]"]`

Let me see if I can verify this.

[2022-06-02 21:15] qiwzhang commented on #21151
hmm,  I was wrong, here is what I generated for   `[json_name = "search[field]"]`

[code]

[2022-06-02 22:38] qiwzhang commented on #21151
I just created this test.  It passed.  It works

[2022-06-02 23:05] Jacobien1 opened #21564 "Envoy proxy (Error) MOVED on an Elasticache Cluster mode on"
We have an Elasticache that we're using and now we're trying to use envoy to have some pool of connections to the cluster but, there is an issue when using Redis-CLI or Redis-py which is the famous error: (Error) MOVED. I've tried muñltiple changes but nothing seems to be working. sometimes it works well but other times it shows that error. any help with the issue, please.

[code]

[2022-06-03 00:12] KBaichoo commented on #21519
what is the IP address of the remote client that directly talks to the Envoy?

From https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/headers#x-forwarded-for

would lead me to think you fall into the second case where the source IP of the immediate downstream node's connection to Envoy is used.

[2022-06-03 01:14] KBaichoo commented on #21522
Thanks for the detailed report! Very helpful to understand the situation.

I think from what you've described so far the Protocol error we can narrow down on the exact stat given for your graph which should be called from the trace. https://github.com/envoyproxy/envoy/blob/82934d6086596ed1ccace6e919ee1a8e90841dc7/source/common/http/codec_client.cc#L157

For the GOAWAY frame being trigger, I think

[2022-06-03 01:15] KBaichoo commented on #21522
cc @RyanTheOptimist

[2022-06-03 04:31] pravarag commented on #20476
Hi @kyessenov , wanted to check if this is still being worked upon or I can give it a first try as a beginner to the project :)

[2022-06-03 07:18] LuyaoZhong commented on #18928
_A brief summary based on investigation of SDS and Certificate Provider._

Mimicking certs is essentially getting cert resources during runtime. This requires on-demand update mechanism. Envoy acts as an resource initiator upon data plane request.

**SDS**
On-demand mechanism depends on incremental xDS. Current SDS in Envoy does not support on-demand update though incremental xDS protocol is ready

[2022-06-03 08:08] trustin commented on #20836
Sounds correct to me. It's an interesting interaction, though. Perhaps `USE_DOWNSTREAM_PROTOCOL` isn't the best option for the given setup? I don't understand why Envoy should be configured to use the same protocol with the downstream when it talks to the upstream.

[2022-06-03 08:16] synologic commented on #21519
The flow is like this:

[code]

Envoy is acting as edge proxy and there's nothing else between the client and Envoy.

In the request which is eventually sent to the backend, I can see just fine the client's IP address in the X-Forwarded-For, however in the authorization request it is not. I am thinking this may be because of the fact the filter is actually considering the http connection manager a

[2022-06-03 11:02] maheshkurund commented on #21103
@eoregua Have you tried adding `--define tcmalloc=gperftools` option in bazel command? I had similar issue, but got resolved after adding this option.

[2022-06-03 11:07] aqua777 commented on #21092
@TomasKohout thanks for suggestion, I will need to consul this with my team.

We are currently working on building one of the more recent versions of Envoy with memory profiling enabled.

[2022-06-03 11:53] iglin commented on #21500
@KBaichoo hi!

Yes, I've seen both the doc and the suggestion with adding header via request_headers_to_add.

Solution with request_headers_to_add in envoy configuration will not solve the problem: envoy might override header set by downstream with incorrect value as I mentioned in the issue description.

[2022-06-03 13:42] eoregua commented on #21239
envoy 1.21.1

[2022-06-03 16:36] jamesmulcahy commented on #21522
Hi @KBaichoo -- thanks for the response, I appreciate you taking the time.

Great question, apologies for not including that detail up front.  That "Idle Timeouts" state is `proxyd.http.downstream_cx_idle_timeout`, so not necessarily overload triggered.  In fact, I'm fairly certainly they weren't overload triggered; as we weren't overloaded at this time.

Yeah, that was my sense too -- but I'm not

[2022-06-03 18:25] #20836 closed

[2022-06-03 18:49] eoregua commented on #21103
@maheshkurund yes but seems that I got the same error:
[code]

[2022-06-03 21:27] eoregua commented on #21103
@maheshkurund Following your suggestion the build now is working. Thanks a lot!

[2022-06-04 00:59] drorke opened #21575 "Improve outbound connection balancing to balance across virtual listeners"
Title: Improve outbound connection balancing to balance across virtual listeners

Description:
We have a usecase with a set of hosts where each host maintains a single pair of long lived TCP connections (one inbound and one outbound) to each other host.  All traffic between any pair of hosts is multiplexed over this single pair of connections.  We're seeing problems with outbound connections from

[2022-06-04 03:27] barnhill commented on #21068
Any ideas on moving this forward?

[2022-06-04 12:01] #20246 closed

[2022-06-04 13:39] KBaichoo commented on #21543
cc @wrowe

[2022-06-04 14:01] KBaichoo commented on #21545
I'm fairly sure the spec says spaces should be percent-encoded as you did in the second example. See: https://www.rfc-editor.org/rfc/rfc3986#section-2.1 as such I think this is WAI

[2022-06-04 14:05] KBaichoo commented on #21548
cc @birenroy @yanavlasov

[2022-06-04 14:06] KBaichoo commented on #21553
cc @daixiang0 @wbpcode

[2022-06-04 14:08] KBaichoo commented on #21564
cc @weisisea

[2022-06-04 14:19] KBaichoo commented on #21068
Hi, @barnhill I don't have bandwidth to work on this, but hopefully the pointers above should be enough for someone who wants this to implement it. Happy to review any such implementations.

[2022-06-04 20:01] #21019 closed

[2022-06-04 20:05] jasonmccallister commented on #21541
So it sounds like it was just not a feature required at that time and there is no technical limitation. Happy to put together a PR but I would need a nudge in the right direction with some examples as I mostly write Go and PHP.

[2022-06-05 04:02] ramaraochavali commented on #21564
For redis cluster, you need to use lb_policy as `CLUSTER_PROVIDED` and cluster_type as `envoy.clusters.redis`.

Sample config

[code]

[2022-06-05 15:58] aqua777 commented on #21092
@mattklein123 Hi Matt,
We have custom-built Envoy v1.21.2 with enabled `tcmalloc=gperftools`.
Do you have any specific requirements / procedure on how the heap profile should be taken?

[2022-06-05 16:01] #21044 closed

[2022-06-05 16:01] #21089 closed

[2022-06-05 20:56] htuch commented on #21239
I see the issue. The `loadFiles()` is throwing an exception after `setSecret()` but before the following `setCallback()`. In the case of  a watched directory, I think the callback for future updates should be set before `loadFiles()`, immediately after `setSecret()`. This will allow files to be missing initially but then updated later on. I think those are the semantics we want here. That said, I

[2022-06-06 00:12] daixiang0 commented on #21553
I will take a look.

[2022-06-06 00:37] mukundv18 opened #21580 "Sample config for Redis ACL support with multiple usernames"
*Title*: *Need a sample envoy config for Redis supporting multiple usernames with Redis ACL*

*Description*:

If there are multiple usernames and passwords, then how to configure that in envoy config file? Also, is there a way to use the 'authPassword' itself as the 'downstream_authpassword' ? As of now, we have two separate lines for these config parameters.

https://github.com/envoyproxy/envoy/i

[2022-06-06 02:48] martinezlucas98 opened #21582 "How do I enable io_uring on Envoy?"
*Title*: *How do I enable io_uring on Envoy?*

*Description*:
I'm having some problems while trying to use io_uring with envoy...
Is io_uring being used by default on Linux systems?
Or do i need to tell Envoy explicitly that I want io_uring to be used? If that's the case then how is it done (by a cmd line flag or a configuration in the YAML config)?

I've seen this config on #17922
[code]
But `IoU

[2022-06-06 03:01] martinezlucas98 commented on #21582
This is my yaml config file, in case I'm doing it wrong:
[code]

[2022-06-06 03:09] daixiang0 commented on #21582
It is not built as default I think, please try `bazel build //source/exe/envoy_main_common_with_core_extensions_lib` refer to https://github.com/envoyproxy/envoy/blob/acbde44b695f7ba957e108a75ff77c8213b2ea95/source/exe/BUILD#L96-L138

[2022-06-06 03:30] martinezlucas98 commented on #21582
Thanks @daixiang0 , so by removing `bootstrap_extensions` from my config yaml and building envoy with `bazel build //source/exe:envoy_main_common_with_core_extensions_lib` envoy will be using io_uring?
Or despite that, because it is not yet fully integrated it wont be using it?

[2022-06-06 03:52] tuhao1020 opened #21583 "Child span ends later than parent span"
Description:
otel-client and otel-server are java apps and injected with sidecar.

`otel-client.ran` and `otel-server.ran` are generated by sidecar,
`otel-client` and `otel-server` are generated by opentelemetry

opentelemetry spans end later than parent span that generated by sidecar.
<img width="2133" alt="Pasted Graphic 1" src="https://user-images.githubusercontent.com/26807520/172088936-080542

[2022-06-06 04:15] joseret opened #21584 "Stateful Session Affinity not working - does not route to same backend"
Stateful Session Affinity not working - does not route to same backend

I am testing with curl.  I am getting the set-cookie in the reponse and setting it in curl.

curl -vvv -s     http://34.82.220.204/testcallseq --headet.ecom1.joecloudy.com"  --header 'Cookie: joseret="MTAuNTAuNjcuMjY6ODA4MA=="'

It bounces around on the 3 replicas.  Test app returns pod name.

[2022-06-06 04:17] joseret commented on #21584
apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: stateful-session
  namespace: sess1-a-ns
spec:
  # workloadSelector:
  #   labels:
  #     app: sess1-a
  configPatches:
  - applyTo: HTTP_FILTER
    match:
      context: SIDECAR_INBOUND
      listener:
        portNumber: 8080
        filterChain:
          filter:
            name: "envoy.filters.network.http_connectio

[2022-06-06 08:06] iglin opened #21586 "X-Forwarded-Proto header is set without X-Forwarded-Port"
*X-Forwarded-Proto header is set without X-Forwarded-Port*: *Envoy sets X-Forwarded-Proto HTTP header, but does not set X-Forwarded-Port and X-Fowarded-Host*

This is a new copy of issue https://github.com/envoyproxy/envoy/issues/21500, since it was closed without any solution and I have no rights to reopen it.

*Description*:

1. Disable setting HTTP header X-Forwarded-Proto;
2. Enable setting al

[2022-06-06 08:26] darkstone-delivery commented on #20738
Cat - Kate
Because she has many eyes
![obraz](https://user-images.githubusercontent.com/50255902/172124405-8f6244e2-d4b1-4d03-9070-e699dc9a1ba5.png)

[2022-06-06 08:57] Jacobien1 opened #21587 "Unexpected response to cluster slot command 'Redis Elatsicache Cluster'"
Hello,
I've had configurated envoy as my proxy for the Elsaticache 'Redis' cluster mode on. but once I launch the proxy I get Unexpected response to cluster slot command

my envoy configurations:
[code]
Error Message:

'''
Unexpected response to cluster slot command: [[0, 16383, ["AWS_elasticache_node1", 6379, "d88ee8e81c6cca4f7d24220f52b6d0f9ede54f1e"], ["AWS_elasticache_node2", 6379, "170a0f46ef

[2022-06-06 11:51] phlax opened #21588 "Use a `protoc` (pre-compiled) toolchain"
### Description

Currently our `protoc` stack compiles from `@com_google_protobuf//:protoc`

This takes quite a bit of time, and has quite a lot of deps that it pulls in.

In my testing it appears as though it recompiles for different rules - but that may be to do with my test setup/changes, not sure

Either way it would be good to use a pre-compiled toolchain, as this would speed up builds across

[2022-06-06 11:52] phlax commented on #21588
cc @htuch

[2022-06-06 11:52] phlax commented on #21588
cc @keith

[2022-06-06 12:01] #20595 closed

[2022-06-06 12:07] vkarunx commented on #12074
The Envoy configuration pasted below registers a HTTP listener on port 51051 that proxies to `helloworld.Greeter` service in the cluster `grpc1` on port 50051 and `bookstore.Bookstore` service in the cluster `grpc2` on port 50052 by using the gRPC route as the match prefix.

This ensures clean segregation of responsibilities and isolation since the client will not need to inject custom HTTP header

[2022-06-06 13:22] phlax commented on #20915
so when i follow the steps in the docs for the `cache` sandbox i see the following:

[code]

this is expected - as the warning states one of the images - `flask_service` cannot be pulled it must  be built

if others are seeing this turn into an error im guessing it must be related to the docker or more liikely docker-compose version

please post versions if you are seeing error when _following the

[2022-06-06 14:32] phlax commented on #21588
Investigating this further - it seems that `rules_proto` does use a prebuilt binary but we arent loading their deps so we dont use it

ill PR with what appears to fix in my testing

[2022-06-06 14:59] stevenzzzz opened #21590 "add compatibility path-parameter"
*Title*: *One line description*

*Description*:

would be used.

[optional *Relevant Links*:]

[2022-06-06 15:10] stevenzzzz commented on #21590
@yanavlasov @alyssawilk

[2022-06-06 15:21] stevenzzzz commented on #21590
/assign @stevenzzzz

[2022-06-06 15:26] mattklein123 commented on #21092
Take a look at the instructions here: https://gperftools.github.io/gperftools/heapprofile.html

You should be able to generate graph view plots of heap usage over time which should tell us what is going on. Thank you!

[2022-06-06 15:32] phlax commented on #21588
i couldnt quite get this to work - we use the protobuf repo for more than just `protoc` and we patch it

if i try to install rules_proto deps then it also switches the protobuf lib and breaks the patching

im guessing we could do what they do and pull in the lib/binary separately ourselves

[2022-06-06 15:54] yanavlasov commented on #21590
@mattklein123 @alyssawilk @snowp for more comments

[2022-06-06 15:58] jakubdyszkiewicz commented on #15380
I worked with @lukidzi to reproduce it with the environment that I initially created (more or less). Since the issue is more than 1yo I'm closing it. My guess is that it was either fixed with the current version of Envoy or my environment was faulty.

[2022-06-06 15:58] #15380 closed

[2022-06-06 15:59] yanavlasov commented on #21587
@weisisea  @mattklein123 for any insight

[2022-06-06 16:25] mattklein123 commented on #21518
cc @htuch also.

I think we should land this since I'm pretty sure this is the root cause of https://github.com/envoyproxy/envoy/issues/21492 also?

[2022-06-06 17:02] joseret commented on #21584
Here is the istio-proxy logs
[sess1.log](https://github.com/envoyproxy/envoy/files/8846177/sess1.log)

[2022-06-06 17:08] weisisea commented on #21587
I wonder whether it's because the response of cluster slot command contains the hostname "AWS_elasticache_node1", instead of IP address, e.g., "192.168.0.1". If this is the reason, https://github.com/envoyproxy/envoy/pull/19541 seems to already fix it. Are you running the latest version of Envoy? If not, maybe try building the latest version of Envoy containing the fix and see whether it resolves

[2022-06-06 17:20] adisuissa commented on #21518
Might also be related to: #10793

I think the fix proposed by @howardjohn (delay sending the SDS requests until the clusters/listeners are fully parsed) makes sense to me. I'll open a PR for this and we can discuss the fix there.

[2022-06-06 17:30] kyessenov commented on #21543
Note this clause:

Proxying NTLM implies some solution to https://github.com/envoyproxy/envoy/issues/19458

[2022-06-06 17:34] kyessenov commented on #20476
You can certainly help by creating protos for extensions in `test/integration/filters`, or finding places in tests with `envoy.reloadable_features.no_extension_lookup_by_name` override and removing the override. The dynamic message might or might not work, I was just throwing an idea out.

[2022-06-06 17:58] Jacobien1 commented on #21587
I have tried to run it on multiple versions but it doesn't seem to work, I'm using docker images, envoyproxy/envoy:v1.21-latest, sounds like you've said envoy is expecting a response of cluster slot command to be an IP address but it contains the hostname "AWS_elasticache_node1" instead.

[2022-06-06 18:03] yanavlasov commented on #21586
Yes, Envoy adds this header unconditionally [here](https://github.com/envoyproxy/envoy/blob/dbfdab2f6d7613d174b42460e7fbbfb3f814bace/source/common/http/conn_manager_utility.cc#L179) and it is later used in the [router filter](https://github.com/envoyproxy/envoy/blob/dbfdab2f6d7613d174b42460e7fbbfb3f814bace/source/common/router/router.cc#L87)

It is possible to make it so that the original scheme i

[2022-06-06 18:19] weisisea commented on #21587
It seems that v1.21 doesn't have the change from https://github.com/envoyproxy/envoy/pull/19541:
https://github.com/envoyproxy/envoy/blob/release/v1.21/source/extensions/clusters/redis/redis_cluster.cc

But v1.22 has the change:
https://github.com/envoyproxy/envoy/blob/release/v1.22/source/extensions/clusters/redis/redis_cluster.cc

Could you please try envoyproxy/envoy:v1.22-latest?

[2022-06-06 18:23] alyssawilk commented on #21586
Yan: it's used in the router if the scheme isn't set, and the scheme should (now) be unconditionally set  early on in the process (https://github.com/envoyproxy/envoy/blob/dbfdab2f6d7613d174b42460e7fbbfb3f814bace/source/common/http/conn_manager_utility.cc#L192)

It's both reasonable and should be fairly simple to add a config knob to conditionally add XFP nowadays, it's largely a matter of someone

[2022-06-06 18:35] yanavlasov commented on #21587
You can also try any of the `-dev` docker imaged for the latest build. https://www.envoyproxy.io/docs/envoy/latest/start/install#start-install-docker

[2022-06-06 18:42] yanavlasov commented on #21583
@itamarkam @AlexanderEllis for any suggestions

[2022-06-06 20:08] alyssawilk commented on #21410
yeah on further thought the whole point of that PR was not pushing null results, and an upstream regression test shows it works as I expect.  I think I'd need more data to be able to repro this.

[2022-06-06 20:09] ggreenway opened #21595 "Tag extraction rules missing for many stats"
There are many stats for which default tag extraction rules should be written. The following list was generated from #21397.

For each match below, rules should be added to `source/common/config/well_known_names.cc`, and the TODO should be deleted.

The list was generated with `grep -R -A 3 "TODO(ggreenway): add tag extraction rules." test/*`.

- [ ] test/extensions/filters/udp/dns_filter/dns_filt

[2022-06-06 20:50] ravenblackx commented on #21410
Hm. More specifically, our test was an end to end test (spins up an actual envoy instance and uses actual traffic, rather than the integration test env), and had another filter behind the DFP that would localReply a 403.

The requests as shown in the log were simple command-line curl requests through that proxy for https://[randomkeyboardsmash].com/, then reproducing the exact same request.

Can y

[2022-06-06 20:57] ravenblackx commented on #21410
Looks like you might avoid the same behavior in the integration test environment because of [key_value_store_ potentially not being set](https://github.com/envoyproxy/envoy/blob/217f7ff9df5e056ad3dc3e398e158b5b13ede93f/source/extensions/common/dynamic_forward_proxy/dns_cache_impl.cc#L484), for example?

[2022-06-06 21:32] #21497 closed

[2022-06-06 22:06] Jacobien1 commented on #21587
it perfectly worked with version 1.22-latest thank you for the support.

[2022-06-06 22:34] belyalov commented on #19618
@lizan is it something that relatively easy to fix?
I so - I can help here  if you point me to some places :)

[2022-06-06 23:01] dvu714 opened #21598 "Envoy proxy to use second corporate proxy for any host requested by client"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: Envoy proxy to use second corporate proxy for any hostl requested by client

*Description*:
Is there a way we can setup an envoy proxy to use a secondary corporate p

[2022-06-07 00:37] daixiang0 commented on #21595
cross with https://github.com/envoyproxy/envoy/issues/20934, seems we can generate stats in a similar way?

[2022-06-07 01:45] zhangbo1882 commented on #20536
@mattklein123 , could you help have a look at the PR #21524, thanks.

[2022-06-07 01:56] dvu714 commented on #21598
I'm trying to allow clients make a request to a host destination, i.e. https://www.google.com through an envoy proxy.  The envoy proxy would then use another proxy located at say http://corp.proxy.net.  This would be for both http_proxy and https_proxy.

1. Client makes a request: curl --proxy http://envoy.proxy.net:1000 https://www.google.com
2. Envoy proxy uses another proxy at http://corp.proxy

[2022-06-07 03:43] htuch commented on #21518
For sure, if we're not pausing here we're doing all the horrible things that led to us adding EDS pausing originally.

[2022-06-07 04:35] rohrit commented on #21543
I have updated the link to the MS doc with the relevant one in the original description

[2022-06-07 04:43] moderation commented on #20378
RFC 7540 obseleted by [9113](https://datatracker.ietf.org/doc/html/rfc9113). CONNECT now covered in Section 8.5 https://datatracker.ietf.org/doc/html/rfc9113#section-8.5

[2022-06-07 05:16] rohrit commented on #21543
Please see https://web.archive.org/web/20200724074947/https://www.innovation.ch/personal/ronald/ntlm.html as well.

[2022-06-07 07:54] eoregua commented on #21239
@htuch thanks for detailed info. So, I'm assuming that now is ongoing a careful analysis on the possible fix, as you said. When you have, you can also a share a BB with me if you want a preliminary feedback on the fix.

[2022-06-07 08:07] github-actions[bot] opened #21601 "Newer release available `aspect_bazel_lib`: v1.0.0 (current: v0.12.0)"
Package Name: aspect_bazel_lib@0.12.0
Current Version: v0.12.0@2022-05-26
Available Version: v1.0.0@2022-06-06
Upstream releases: https://github.com/aspect-build/bazel-lib/releases

[2022-06-07 08:07] #18342 closed

[2022-06-07 08:07] github-actions[bot] opened #21602 "Newer release available `io_bazel_rules_go`: v0.33.0 (current: v0.32.0)"
Package Name: io_bazel_rules_go@0.32.0
Current Version: v0.32.0@2022-05-11
Available Version: v0.33.0@2022-06-06
Upstream releases: https://github.com/bazelbuild/rules_go/releases

[2022-06-07 09:52] LuyaoZhong commented on #18928
@mattklein123 @lambdai @markdroth @soulxu ping

[2022-06-07 10:24] Kumassy commented on #20894
Thanks for the reply.

Ah, I guess `Outbound` does not mean ingress traffic.

That makes sense when I think about creating span.

[2022-06-07 10:24] #20894 closed

[2022-06-07 12:55] dasch opened #21605 "Add the route name to trace data"
*Title*: Add the route name to trace data

*Description*:

I would like to group and filter traces by route name, since that will be a key dimension for us; right now there's no good way of doing it. The route name is available in the access logs, but we sample those heavily and mostly rely on traces, which integrate much better with the rest of our observability data.

[2022-06-07 14:14] egerkke commented on #21294
Hi Matt,

Sorry, for just replying now. I configured listener access log with the following settings:

Also attached the whole configuration. [base_envoy_config_with_listener_accesslogs.txt.tar.gz](https://github.com/envoyproxy/envoy/files/8853900/base_envoy_config_with_listener_accesslogs.txt.tar.gz)

With this configuration when the TCP connection is closed normally y client, it appears in the a

[2022-06-07 15:12] moonlightysh commented on #21177
This is nice catch.

[2022-06-07 15:18] mattklein123 commented on #21294
I'm not sure this is possible. I don't think the kernel differentiates between these 2 types of closes, or at least not without special linux specific syscalls. If you want to investigate and open an issue specific to that feature request that is fine. Thank you!

[2022-06-07 16:33] #21587 closed

[2022-06-07 16:41] kyessenov commented on #20378
@moderation RFC9113 still refers to "TCP streams", so it doesn't clarify things. The draft RFC that David mentioned is an updated _HTTP semantics_ which is decoupled from the underlying transport. I think the concern is that this new HTTP semantics may not be universally supported, but same can be said about Extended CONNECT.

[2022-06-07 17:56] lambdai commented on #21520
[code]

I remember that is a minor bug during server starts.

[2022-06-07 18:12] alyssawilk commented on #20378
https://github.com/envoyproxy/envoy/pull/21613 thanks!

[2022-06-07 20:46] stevenzzzz opened #21615 "router: performance improvement around route matching: remove per-route cost of repeative work on request path/headers."
*Title*: performance improvement around route matching

*Description*:
Seems like some low hanging fruits for route matching performance improvement:

// In bool RouteEntryImplBase::matchRoute:

[code]

In PathMatcher::match(const absl::string_view path) there is a per-route cost of stripping the query/fragment from path:
I think there might be an issue for this already? We found this with a bench

[2022-06-08 02:16] ThalesC opened #21617 "Can't use example configuration on UDP Proxy documentation"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: Can't use example configuration on UDP Proxy documentation

*Description*:
If I copy and paste the example configuration on [UDP proxy](https://www.envoyproxy.io/doc

[2022-06-08 02:28] htuch commented on #21239
I don't have cycles to work on a fix here, but the above analysis should be a good start for whoever takes this up.

[2022-06-08 02:49] zhxie opened #21618 "proposal: add regex engine factory and config option"
*Title*: Add regex engine factory and config option

*Description*:

Nowadays, we use RE2 as the only regex engine in Envoy. In scenario with a large number of regex matcher like a gateway, users may face high CPU usage and performance bottleneck.

We can make regex engine extensible, to introduce a bootstrap config option to configure regex engine and its option like `SocketInterface`. We can ben

[2022-06-08 05:52] daixiang0 commented on #21615
I think `matchRoute` is for HeaderMatcher and QueryParameterMatcher, not PathMatcher, they match different fields. The path may include query params but no header.

Could you share the benchmark result here?

[2022-06-08 06:04] daixiang0 commented on #21605
Please check https://www.envoyproxy.io/docs/envoy/latest/api-v3/type/tracing/v3/custom_tag.proto and related docs. I think if you specify the route name as a custom tag, it will be added since route name is stored in `stream_info`:
https://github.com/envoyproxy/envoy/blob/fa0899c7f06194fc1d0eac150dc931f5b2b1071e/source/common/tracing/http_tracer_impl.cc#L215-L222

[2022-06-08 08:03] github-actions[bot] opened #21621 "Newer release available `com_google_cel_cpp`: v0.8.0 (current: 1adb613)"
Package Name: com_google_cel_cpp@1adb61321c
Current Version: 1adb613@2022-06-02
Available Version: v0.8.0@2022-06-08
Upstream releases: https://github.com/google/cel-cpp/releases

[2022-06-08 08:03] github-actions[bot] opened #21622 "Newer release available `skywalking_data_collect_protocol`: v9.1.0 (current: v8.9.1)"
Package Name: skywalking_data_collect_protocol@8.9.1
Current Version: v8.9.1@2021-12-11
Available Version: v9.1.0@2022-06-08
Upstream releases: https://github.com/apache/skywalking-data-collect-protocol/releases

[2022-06-08 08:03] #20709 closed

[2022-06-08 08:06] Dgotlieb opened #21623 "Is there a way to override upstream max_X parameters ?"
Hi,

I'm trying to increase the below parameters from 1024 to a higher number.
https://github.com/envoyproxy/envoy/blob/ad7328f407b1016302adebb46305649f60fb6801/source/common/upstream/upstream_impl.cc#L1425-L1427

The way I'm doing it today is modifying the values and rebuilding the docker image.
I wonder if I can simply override this parameters passing arguments to the container or merging my ver

[2022-06-08 08:22] egerkke commented on #21294
OK, thanks for the support, I raise a feature request.
BR.
Gergo

[2022-06-08 09:12] Neil-Boyle opened #21624 "Is grpc global ratelimit support for xds *dynamic_resources* ?"
*Title*: *Is grpc global ratelimit support for  xds *dynamic_resources*  ?*

*Description*:
listener.filter_chains.filters.http_connection_manager.RouteSpecifier defined as three kind   impl in xds go-controller-plane

type HttpConnectionManager_Rds struct {
	// The connection manager’s route table will be dynamically loaded via the RDS API.
	Rds *Rds `protobuf:"bytes,3,opt,name=rds,proto3,oneof"`

[2022-06-08 11:07] ramaraochavali commented on #17056
Closing this as we have implemented this in Istio using active connections.

[2022-06-08 11:07] #17056 closed

[2022-06-08 11:39] itamarkam commented on #21583
I'm afraid I'm no expert in Tracing so not much to contribute here.

[2022-06-08 12:01] #21060 closed

[2022-06-08 12:14] aqua777 commented on #21092
We ran some tests using custom-built Envoy v1.21.2 with `--define tcmalloc=gperftools`. We also installed `pprof` binary into the same container as Envoy. We can see the heap profile files being generated however when we try to run `pprof` we get don't get too many details, for ex.:
[code]
Are we missing some steps with our setup?

[2022-06-08 12:24] odidev commented on #21503
It’s good to know that you have already made some progress. It would be nice if PR was available. I will try to contribute from my side.

[2022-06-08 12:57] stevenzzzz commented on #21615
you are right they match different fields, but I am not sure why that's relevant in this bug.

The path_matcher actually only matches on <path>, not including query parameters or fragments.

The benchmark we did was internal, basically, caching the result of removeQueryAndFragment would end up with a performance improvement of nearly 5x difference.

@AdiJohn could probably provide more details on

[2022-06-08 14:20] yanavlasov commented on #21624
RDS provides `config.route.v3.RouteConfiguration` which includes both virtual host config and route config where rate limit overrides can be specified.

[2022-06-08 14:22] yanavlasov commented on #21623
You can override these values in the circuit breaker configuration: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/circuit_breaking#arch-overview-circuit-break

[2022-06-08 14:28] yanavlasov commented on #21598
The difference between http and https is the destination port. You need to configure two clusters in Envoy with host corp.proxy.net and port 80 and 443 for http and https traffic.

[2022-06-08 14:29] yanavlasov commented on #21586
Sounds good. Adding `help wanted`

[2022-06-08 14:40] mattklein123 commented on #21092
Are you using an Envoy with debug symbols? How did you compile it?

[2022-06-08 14:40] dvu714 commented on #21598
I think this is the issue we are having.  We need both http and https to use corp.proxy.net, port 80.
Is this achievable with the envoy proxy?

Currently we have clients connected to the corp proxy with the settings below.
https_proxy=http://corp.proxy.net
http_proxy=http://corp.proxy.net

We are looking to put an envoy proxy in front of the corp proxy.

[2022-06-08 14:50] hobbytp commented on #15283
sha-rath, I recommend keeping it, because the TCP part is still not fixed. And still some discussions don't have results until now.

[2022-06-08 15:34] aqua777 commented on #21092
We needed Envoy to use FIPS-enabled SSL so we've updated `./ci/do_ci.sh` and added:
[code]
and then we ran
[code]
and then we made a Docker image using `./ci/Dockerfile-envoy-alpine`.

[2022-06-08 15:38] #20382 closed

[2022-06-08 15:39] mattklein123 commented on #21092
That should have symbols. I don't know off the top of my head unfortunately. You will need to debug.

[2022-06-08 15:55] aqua777 commented on #21092
`./ci/Dockerfile-envoy-alpine` has these lines:
[code]
Can this cause the final image to contain stripped binary? If "yes" how can we change it?

[2022-06-08 16:28] jwilner opened #21625 "Edge Proxy Latency SLI"
*Title*: *Edge Proxy Latency SLI*

*Description*:
I'm hoping to define p50, p95, etc latency SLIs for an Envoy edge proxy, where latency is defined as the processing time within Envoy. In my head, this would be `downstream_time - sum(upstream_time...)` reported as a histogram (across all upstreams).

Granted, no such statistic exists, but is there a reasonable way to approximate it with the curren

[2022-06-08 18:05] krajshiva opened #21630 "Add boteng and tyxia to setec for fuzzing work in setec"
*Title*: *Add boteng and tyxia @ google.com to setec for collaborating on X41 fuzzing engagement*

*Description*: Google has been working with security analyst @ X41 in setec repository to triage, fix and improve fuzzing posture. This is request to add boteng and tyxia to setec repo for contributing in  review process.

[2022-06-08 18:37] rahulanand16nov opened #21631 "Question: Can we use foreign function `expr_evalute` to check Envoy config?"
I was looking into tests and came across the following:
https://github.com/envoyproxy/envoy/blob/f8f8628f4ec7cb2dcec92f094ffd4715dcc31dab/test/extensions/filters/http/wasm/test_data/test_cpp.cc#L181-L186

I am not sure what it's exactly doing? Is it just marshaling the string literal into the protobuf? Is it checking if a cluster named `test` exists? Can I do something similar from a wasm module?

[2022-06-08 18:47] kyessenov commented on #21631
It's sending a CEL expression, which is an xDS proto literal, and then checking that evaluating it returns protobuf bytes. Yes, this is part of Wasm ABI.

[2022-06-08 20:01] #21091 closed

[2022-06-08 20:03] #20378 closed

[2022-06-08 20:16] rahulanand16nov commented on #21631
Can you give me an example of a use case?

If I am understanding it correctly, if I send the same expression as above, it will just send back protobuf bytes and it has nothing related to the state of Envoy's configuration? Can I use it to check if a particular cluster entry is present or not?

[2022-06-08 21:28] kyessenov commented on #21631
Yes, this has absolutely nothing to do with configuration validation. It's just testing that we can evaluate on protos from Wasm. The use case is customizing access logs and telemetry, with fields derived from some protos (like dynamic metadata).

[2022-06-09 01:44] tuhao1020 commented on #21583
@daixiang0 Could you provide some suggestions?

[2022-06-09 02:28] Neil-Boyle commented on #21624
in envoy v3 api, config.route.v3.RouteConfiguration is defined by HttpConnectionManager_RouteConfig, I can't find it in HttpConnectionManager_Rds.- =

[2022-06-09 02:29] Neil-Boyle commented on #21624
in envoy v3 api, config.route.v3.RouteConfiguration is defined by HttpConnectionManager_RouteConfig, I can't find it in HttpConnectionManager_Rds.- =

[2022-06-09 02:53] AlexanderEllis commented on #21583
Happy to take a look!

First things first, I don't believe there's a strict timing dependency for the spans for each service, since the spans are generated independently with only some shared context used at the start (trace id, etc). So from the sidecar's perspective, it doesn't know about the child span's timing (IIRC) — it just starts a span, then closes it when it's done with the request. Beca

[2022-06-09 03:31] stan-irl commented on #21313
@devonochmand what was the issue? I'm hitting something really similar to this

[2022-06-09 03:53] stan-irl commented on #17892
@stamak how did you fix the last error? I have something really similar

[2022-06-09 04:33] tuhao1020 commented on #21583
I built two demo services (otel-client and otel-server) in java, used opentelemetry-java-instrumentation to automate the tracing data collection, and then deployed them to the service mesh and make request through a gateway.

If I understand correctly, for senders, OpenTelemetry will end span after the data is written, for receivers, some instruments may end the span after receiving the response s

[2022-06-09 06:11] jlb6740 opened #21634 "[Question] - Build wasm runtime with specific flags/features"
I would like to build wasmtime with specific flags (for example for perf support). Where would I make modifications to manipulate how  wasmtime is built?

[2022-06-09 06:31] #21545 closed

[2022-06-09 07:25] shuxnhs opened #21636 "[Question] get namespace and pod info in accesslog"
can i append the information of pod and namespace in access log

[2022-06-09 07:30] Dgotlieb commented on #21623
@yanavlasov thanks for your reply
How can it be done on the container?
I'm not sure if it's important, but I'm using nomad with [`service connect`](https://www.nomadproject.io/docs/job-specification/connect) and could not find how to override it.

Will appreciate a guidance if possible.
Thanks!

[2022-06-09 09:11] ruifelixpereira commented on #20936
@wbpcode is there anything I can help?

[2022-06-09 09:15] pxpnetworks commented on #21636
I think it is possible using the Access Log command operator %ENVIRONMENT(X):Z%

Example:

node_name: %ENVIRONMENT(NODE_NAME)%

and on the k8s deployment define the Env Vars like this:
[code]

[2022-06-09 09:21] egerkke opened #21637 "Indication of connection loss on downstream TCP and HTTP requests"
*Title*: *Indication of connection loss on downstream TCP and HTTP requests*

*Description*:
Hi Ladies and Gents,

This ticket is the continuation of [21294](https://github.com/envoyproxy/envoy/issues/21294) that ended with proposal on requesting solution for the described issue as feature.

The request is to:

Indicate TCP connection level issues of downstream client when:
 - connection was estab

[2022-06-09 09:26] Neil-Boyle commented on #21624
resolved  tks~

[2022-06-09 09:26] #21624 closed

[2022-06-09 10:21] Hexta opened #21639 "Configurable filter of trusted proxies to handle x-forwarded-for header"
*Title*: *Configurable list of trusted proxies to handle x-forwarded-for header*

*Description*:
It'd be helpful for improving security to handle `x-forwarded-for` header from the trusted proxies only if they are specified to filter out forged XFF header from malicious clients.
And add a configuration parameter to specify such trusted proxies. List of CIDR, for example.
In a similar way as `set_re

[2022-06-09 11:51] shuxnhs commented on #21636
thanks for your answers but i got ` Not supported field in StreamInfo: ENVIRONMENT(XXX)` on the access log

[2022-06-09 12:06] phlax commented on #21588
one of the things ive noticed is that protoc can rebuilt when you dont want it - not sure why

i use byobu for development - if i switch between consoles and run `./docs/build.sh` it rebuilds protoc every time

[2022-06-09 13:07] soulxu opened #21640 "Upstream part of smarter way to pick endpoints for dual-stack IPv4/v6 support"
As @mattklein123 said at https://github.com/envoyproxy/envoy/issues/16123#issuecomment-825250584 the issue https://github.com/envoyproxy/envoy/issues/16123 can be separated into two parts: upstream and downstream.

The downstream part is about `Support multiple addresses in the listener` https://github.com/envoyproxy/envoy/issues/11184, and it is under review.

So it is time to look at the upstrea

[2022-06-09 13:37] yanavlasov commented on #21639
Sounds like a good feature. @mattklein123  @alyssawilk  for any other comments

[2022-06-09 16:31] jlb6740 commented on #21634
@yanavlasov thanks!
@kyessenov @PiotrSikora .. Any pointers here. Searching around the codebase and not being nearly familiar enough with how Bazel works it is not clear to me what steps it takes to build a very specific wasmtime (in contrast to say wamr for example where it looks like I could make modifications in bazel/foreign_cc/Build to change that build). Any pointers would be appreciated.

[2022-06-09 17:29] stevenzzzz opened #21644 "control plane fail-static backup: XDS fallback to low dependency config store when control plane is down"
*Title*:  control plane fail-static backup: XDS fallback to low dependency config store when control plane is down

*Description*:
In outages like grpc lib error, or network issue, control plane global outages, we'd hope the proxy server to still work with existing config, but the config would go away if the running Envoy starts, in which case the dataplane is cascadingly down due to control plane

[2022-06-09 20:41] davinci26 commented on #20201
Hey @ggreenway ,

Giving this a bit more thought today and I think the main problem that we need to solve is how we allow ourselves to make such changes and I am thinking the following options: 

1. Extend `message StatsConfig` with an additional property called `google.protobuf.BoolValue use_extended_tags` and then create another set of well_known_names (implementation TBD to avoid copy-pasta).
2

[2022-06-09 20:51] phlax opened #21647 "Gzip example is failing in CI"
...not sure why

[2022-06-09 21:46] mattklein123 commented on #21644
This issue has been brought up again and again over the years. In general I'm strongly against building in caching to Envoy, as I think it's working around more fundamental design issues wrt to control plane resilience. Obviously new instances cannot get any config.

With that said, I think building fallback config sources is the way to solve this with the potential for FS fallback (as long as we

[2022-06-09 21:54] ggreenway commented on #20201
I've thought about this some.

On the one hand, I think you could pretty easily talk me into just changing/fixing these. And if someone needs to revert, all the configuration necessary is already present, although it would be a hassle to figure out exactly what one should set it to, via [`stats_tag`](https://github.com/envoyproxy/envoy/blob/469f7bbd5951a29dfc24a3a05ca01459b835da2c/api/envoy/config

[2022-06-09 21:54] ggreenway commented on #20201
cc @jmarantz about the above

[2022-06-09 22:21] davinci26 commented on #20201
I thought https://github.com/envoyproxy/envoy/issues/11767 was limiting us to backwards compatibility. I have no horse in this race, because we are ok with being broken here.

Second implementation makes sense to me.

[2022-06-10 01:00] daixiang0 commented on #21647
Is there a log link for it? I can help take a look.

[2022-06-10 01:01] daixiang0 commented on #21647
Test at local, it works.

[2022-06-10 01:30] helight opened #21650 "release note for v1.22.1/version_history/current is 404"
<img width="1079" alt="image" src="https://user-images.githubusercontent.com/433500/172972100-19f65458-19d5-4790-b51b-4b66796e3971.png">

[2022-06-10 01:35] kyessenov commented on #21631
We use this capability in istio/proxy in this extension https://github.com/istio/proxy/blob/master/extensions/stats/config.proto.

There are sample expressions here https://github.com/istio/proxy/blob/master/testdata/stats/client_config_customized.yaml.tmpl#L20.

This essentially allows creating prometheus stats based on values from the request or configuration resources handling the request.

[2022-06-10 01:42] mattklein123 commented on #21650
Sorry we are having trouble building v22 images. cc @phlax who will look tomorrow.

[2022-06-10 04:04] htuch commented on #21644
Yeah, I think the plan here would be to allow Envoy to read from a static config source with filesystem like semantics, but it would never write. It would essentially be a static read-only source to be used while other config sources are not functioning. The actual caching and updating of this would take place completely outside of Envoy. We also wouldn't build in specific filesystems, this would

[2022-06-10 04:28] dhawani opened #21652 "Envoy Distroless Image for v1.22.1 isn't released"
Distroless image for version v1.22.1 isn't released.

The last tag for v1.22-latest is two months old.
https://hub.docker.com/r/envoyproxy/envoy-distroless/tags

[2022-06-10 05:10] phlax commented on #21652
yep we are aware thanks for reporting

[2022-06-10 05:12] phlax commented on #21647
https://dev.azure.com/cncf/envoy/_build?definitionId=11&_a=summary

[2022-06-10 05:52] jlb6740 commented on #21634
Thanks @daixiang0 . I saw this file and at first thought this was the place, but I could not see what were obvious build steps here and I also didn't see any means for modifying the Wasmtime build flags through this file. I see now from @PiotrSikora comment that I needed to consider that the build parameters (cargo file) were outside of this project, but that that project in question was indeed li

[2022-06-10 06:32] florin-szilagyi commented on #14663
@cgetzen @mattklein123 is this going anywhere? I'm eagerly waiting for a feature like this
I see the google doc up for review

[2022-06-10 06:38] shuxnhs commented on #21636
oh，my envoy version is 1.18.3.

[2022-06-10 09:04] phlax commented on #21647
this issue was introduced with the forwardport of the 1.22.1 patch stack

i have opened a PR to revert the gzip example to unbreak CI, but im concerned that this is flagging an actual real problem, ill test locally

[2022-06-10 09:08] #21151 closed

[2022-06-10 09:15] phlax commented on #21647
testing locally and this appears to pass - not sure why that is different to CI

im guesing the issue is related to https://github.com/envoyproxy/envoy/commit/d4c39e635603e2f23e1e08ddecf5a5fb5a706338

[2022-06-10 09:59] phlax commented on #21647
ive added a PR to improve CI debugging so we can see what is happening #21658

[2022-06-10 11:02] guicassolato commented on #20563
+1 to @dio's [explanation](https://github.com/envoyproxy/envoy/issues/20563#issuecomment-1085919209), excellent to understand how passing the peer certificate as an attribute of the request to ext-authz works.

I wonder whether there is a way to _avoid_ validating the client certificate in the downstream TLS context, and still get the peer certificate passed to the external authorization service.

[2022-06-10 11:48] chriseizus opened #21660 "Envoy filter is getting nil value for jwt token decode"
I'm using Envoy Filter in Istio 1.14.0
I'm trying to decode the jwt token in lua script

Here is my code for Envoy Filter
`
apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
name: jwt-rule
namespace: lab
spec:
configPatches:

applyTo: HTTP_FILTER
match:
context: SIDECAR_INBOUND
listener:
filterChain:
filter:
name: "envoy.filters.network.http_connection_manager"
subFilter:
name:

[2022-06-10 11:58] phlax commented on #21647
cc @giantcroc this is the failing error:

[code]

[2022-06-10 13:57] aqua777 commented on #21092
FYI, we now verified that we can collect heap profiles with our custom Envoy v1.21.2
We are going to run it in our environment for few days and collect heap profiles. We'll post the results shortly.

[2022-06-10 14:58] mpuncel commented on #10373
This is a very exciting feature! It looks like work on it has paused?

I also wanted to ask 2 design questions (which should be relevant even if this work isn't picked up again until later).

1) Should this also support DNS discovery at the locality level as an alternative to xDS? DNS is only cluster-wide right now, so you can't take advantage of locality weights or priorities and use DNS discover

[2022-06-10 15:01] tpetkov-VMW opened #21663 "FilterState LifeSpan::Connection lifetime lasts longer than the downstream connection"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *FilterState LifeSpan::Connection lifetime lasts longer than the downstream connection*

*Description*:

Internally, we are keeping dynamically created upstream clus

[2022-06-10 15:51] #21660 closed

[2022-06-10 15:52] chriseizus commented on #21660
configuration error, ignore

[2022-06-10 16:01] #21141 closed

[2022-06-10 16:03] kyessenov commented on #21663
Hi,

I should start by saying that the fact that the downstream lifespan filter state would be deleted on connection close was not a documented behavior. The invariant is that the filter state is present as long as the connection, but can outlast the connection, for a variety of reasons. If you want a precise lifetime, I suggest subscribing to the filter callbacks (e.g. `onLog` and `onDestroy`) an

[2022-06-10 22:54] weisisea opened #21667 "Proposals on OOM prevention for Envoy Redis filter"
[Envoy Redis filter](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/other_protocols/redis) is an Envoy filter that can process Redis commands from clients, find the right Redis server in Redis cluster, and send the client requests to that Redis server. In certain cases, Envoy Redis filter could consume large amounts of memory, leading to risk of getting OOM-killed.

We have been l

[2022-06-10 22:58] weisisea commented on #21667
@mattklein123 @HenryYYang @msukalski

[2022-06-11 00:58] cgetzen commented on #14663
Woa! It looks like LB Policy extensions have been added https://github.com/envoyproxy/envoy/pull/17400

I'm not sure what it would take to convert the existing work (https://github.com/envoyproxy/envoy/pull/15375) into an extension.

I am not actively working on this. I think your options are to:
- build envoy off that old, but functional, branch.
- re-work that code into an LB policy extension (o

[2022-06-11 13:14] nicolasmanic opened #21668 "Question: Rewrite complex path"
*Title*: *Rewrite complex path*

*Description*:

In my case, one `regex_rewrite` cannot meet my needs since the rewriting part will require some, is it possible to chain multiple rewrites or use a 3rd party system to decide about the new path?

[2022-06-11 15:07] highwayliu commented on #16219
Is there any progress here, I met the same error too

[2022-06-11 21:06] scrocquesel commented on #19612
I have similar needs but envoy is also doing TLS upstream to the final service. Which means the downstream request has no sni information.
You can look at this example https://github.com/scrocquesel/envoy_examples/tree/main/tls_origination_via_tls_l2_proxy.

The downside is that a listener and a cluster must be replicated for each destination.

[2022-06-12 12:01] #20842 closed

[2022-06-12 15:07] tommie opened #21670 "ext_authz to be able to set x-envoy-force-trace"
*Title*: *ext_authz to be able to set x-envoy-force-trace*

*Description*:

*Relevant Links*:

[2022-06-12 21:25] #21259 closed

[2022-06-13 00:02] #21161 closed

[2022-06-13 00:16] daixiang0 commented on #21668
/cc @zhxie

[2022-06-13 00:19] daixiang0 commented on #21636
That is reasonable to me, please try a newer version.

[2022-06-13 04:01] giantcroc commented on #21647
Hi, I also think it is dued to [d4c39e6](https://github.com/envoyproxy/envoy/commit/d4c39e635603e2f23e1e08ddecf5a5fb5a706338), and `decompressed-size: 1138688`  is approximately the size of file.gz * `MaxInflateRatio` , and the result is 1129000.

[2022-06-13 06:22] zhxie commented on #21668
I think it is difficult to complete with existing extensions. Maybe Lua or WASM helps.

[2022-06-13 06:38] 13567436138 opened #21672 "how to share data between inbound wasm and outbound wasm？"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
how to share data between inbound wasm and outbound wasm？

*Description*:

I recieved a request header in inbound wasm and I want to set the s

[2022-06-13 07:41] daixiang0 commented on #21575
Yes, it should be. But now I do not find a good way to add member variables to ActiveTcpListener in a flexible way.

[2022-06-13 07:55] nicolasmanic commented on #21668
Hi @zhxie what do you mean by "difficult to complete with existing extensions"? I have been looking at how to rewrite paths using Lua, but it's not clear to me from the docs even if it is possible.

Here is an example:
Original Path: `https://myservice.org/application/p1-p2-....pN`
I would like to rewrite to something like: `https://myservice.org/application/p1/p2/....pN`

Since the number of pX i

[2022-06-13 08:05] zhxie commented on #21668
Yes. I meant we could not chain `regex_rewrite` exactly.

BTW, if you want to replace some patterns with other strings like in your example, `-` to `/`, it is easy to achieve by `regex_rewrite`. `regex_rewrite` can replace all matched strings to substitutions at once. But if you want replace some random hash to another random hash, I do not think it can be done with `regex_rewrite` currently.

[2022-06-13 08:43] nicolasmanic commented on #21668
About replacing a path with something random can it be done with external processing filters?

[2022-06-13 09:01] ppadevski commented on #21663
Usually the downstream and upstream connections are decoupled as upstream connections are pooled.

What is the point of LifeSpan::Connection if a random pooled upstream connection can extend an Object lifetime? I am mostly concerned about the new behaviour being ... nondeterministic.

In terms of design, wouldn't it be better if either LifeSpan::Connection behaved as before or a new enum value Lif

[2022-06-13 09:15] zhxie commented on #21668
I am not sure if it could be done with other filters. From the doc, I think it can be done with external processing.

[2022-06-13 10:28] nicolasmanic commented on #21668
Thanks I will give it a shot and report back

[2022-06-13 10:28] ramaraochavali opened #21673 "Make fault abort message configurable"
Currently fault filter when abort is configured aborts requests but also sends a message "fault filter abort" to the client.  Is it possible to customize this message (we want no message to be returned) either via fault filter api or via run time flag?

[2022-06-13 10:42] eoregua opened #21674 "envoy 1.22.2 build failed: reloc-info.cc failed: (Exit 1): clang failed"
Hi,

The build of envoy 1.22.2 is failing:
[code]
DockerFile used for the build:
[code]

Any change required for the build with envoy 1.22.2?
The build was working using the same dockerfile with envoy 1.22.0.

[2022-06-13 10:49] SuperQ commented on #20201
@davinci26 As I [said above](https://github.com/envoyproxy/envoy/issues/20201#issuecomment-1058223815), backwards compatibility is easy to handle in PromQL. So there's no reason to worry too much about causing too many breaking changes.

Also, Prometheus users are likely (This is what I have to do) to already be running metric relabeling rules in their Prometheus to fix the metric namecardinality

[2022-06-13 12:53] alyssawilk commented on #21639
I think rather than have this simply be a filter you'd want an extension to the original_ip_detection plug-in to sanitize the header before we use it for calculating the original IP.

[2022-06-13 14:44] eoregua commented on #21674
I was able to build with envoy 1.22.0 for the moment as WA disabling the build of wasm:
[code]

@alyssawilk
I see that you pushed the following fix for a similar issue:
https://github.com/envoyproxy/envoy/pull/19514

But I'm not able to find the below script in envoy 1.22.2 source code and try a similar patch:

bazel/external/wee8.genrule_cmd

If possible, could you please help me to identify the

[2022-06-13 14:52] 13567436138 opened #21675 "consistent hash not work"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
consistent hash not work
*Description*:

![1655131738(1)](https://user-images.githubusercontent.com/31508490/173381179-021a8541-5597-4efd-befd

[2022-06-13 19:01] PiotrSikora commented on #21674
Since you're building with clang, you might want to add `--config=clang` or `--config=libc++` to the bazel build args.

[2022-06-13 19:34] jbilliau-rcd commented on #14981
We are receiving this as well, 3 requests out of 24,000+ had a 503 UC error, not sure why. Pods are all healthy, have been up for days, resources all low....anyone figure this out?

[2022-06-13 19:41] paul-r-gall opened #21684 "Increased functionality for request mirroring"
Increased functionality for Request Mirroring in Envoy.

**Description**:
Currently, it is impossible for mirrored requests to have any custom filter chain code applied to them. For example, suppose that some request is by default routed to cluster `generic_cluster` and shadowed to cluster `debug_cluster`. If the filter chain does any kind of custom business logic that is dependent on cluster name

[2022-06-13 19:43] paul-r-gall commented on #21684
@alyssawilk @mattklein123 @yanavlasov, @AndresGuedez for discussion.

[2022-06-13 19:46] alyssawilk commented on #21663
So agree with https://github.com/envoyproxy/envoy/issues/21663#issuecomment-1152515007  the lifetime was not guaranteed  I think if we changed things in a way that broke downstream usage we'll try to come up with a workaround. :-)

I could imagine either marking state objects which need to be shared, or possibly having a configurable option to revert to the old behavior (so not pool common charact

[2022-06-13 20:04] jeffsawatzky commented on #21151
@qiwzhang thanks for all of your work on this! Looking forward to the release.

[2022-06-13 20:20] yanavlasov commented on #21623
It should be part of the cluster configuration.

[2022-06-13 20:21] ggreenway commented on #21663
I have a non-public filter that is keep certain connection-level metrics that was implemented with Connection lifetime filter state, that depends on it being destructed. It may not have been a documented behavior, but it was at least implicit. I'd personally consider this a bug/regression, although a minor one.

[2022-06-13 20:24] ggreenway commented on #21663
If you're curious of my exact use-case: I needed a quick-and-dirty way to measure how many requests per connection, as a histogram, happened on each downstream connection. So I had a Connection scoped filter state in an http filter, incremented the count for each request, and committed the histogram value in the destructor. There are other ways to do this; my use case isn't that important (I just

[2022-06-13 20:35] kyessenov commented on #21663
WDYT about adding extra metadata to the filter state to indicate that the object should be shared with the upstream stream info and participate in the hashing decisions? That way we can basically merge parts of #19435 with less config. This also expands to the use case of #21524 but for the filter state.

[2022-06-13 20:58] #21427 closed

[2022-06-13 21:53] ggreenway commented on #20201
Thanks for reminding me about #11767. But nothing was ever finalized there.

In this case, as @SuperQ said, the existing format of the metrics is extremely difficult to work with because of this. While this does rename the metrics, it's more of a bugfix than migrating metrics. I'd be ok with just fixing it, but I'm open to other opinions.

[2022-06-13 22:10] davinci26 commented on #20201
Cool, will push a PR then.

The main reason I wanted to establish a pattern here is that I have more changes in mind similar to this. For example:

1. envoy_cluster_membership
[code]
->

[code]

2. Your PR https://github.com/envoyproxy/envoy/pull/17686
3. I believe redis filter is also not populating tags properly IIRC

Do we need a separate issue per case or would all be considered bugfixes? simi

[2022-06-13 22:20] vandyvilla opened #21685 "Per upstream host stats"
*Title*: Is there any way to expose per-host upstream stats

*Description*:
In our deployment, we care a lot about long tail stats, including P99 latency, bad/slow hosts causing frequent timeouts, etc. Currently it seems we only have aggregate upstream stats. I am wondering is there a way to expose per-host upstream stats, which could help us quickly pinpoint the bad/slow hosts.

More specifically

[2022-06-13 22:29] ggreenway commented on #20201
A bunch are tracked here: #21595

As for other changes, like the cluster_membership, I think we should evaluate those on a case-by-case basis. The ones that are more of a preference than a bug, can be changed locally via the `stats_config` in the bootstrap config if we don't want to globally change them.

For any changes we do make, it's important to make sure they go into the release notes so peo

[2022-06-13 23:24] kg-mpg commented on #21639
hello, I'm looking for low-hanging fruits to step into envoy by contributing, is this one of them? happy to give it a go

[2022-06-14 01:59] davinci26 commented on #21595
I will take a stab at as many as I can, will start with `redis_proxy`

[2022-06-14 02:52] daixiang0 commented on #21575
@drorke in my local test, if I run Envoy with 3 workers and 8 listeners using exact balance, each listener has 3 worker stats:
[code]
But in your log, it shows only one for each listerner, not sure it is related to different Envoy versions or configurations.

Also, I find your solution is socket level but the exact balance is connection level, I think https://github.com/envoyproxy/envoy/pull/20268

[2022-06-14 03:26] wbpcode commented on #21685
cc @jmarantz

[2022-06-14 03:56] wbpcode commented on #21670
Typically, it is hard to change the tracing decision in the http filter chain. Although we can set the sampling status to `true` in the ext_authz, the actually effects are depend implementations of tracers.
For example, the skywalking will return `NullSpan` directly if the initial sampling status is `false`. Then no filters can make this `NullSpan` a valid tracing record.

[2022-06-14 03:57] wbpcode commented on #21670
cc @ggreenway @esmet

[2022-06-14 04:00] wbpcode commented on #21672
cc @PiotrSikora

[2022-06-14 04:05] wbpcode commented on #21673
May be the local reply can helps? According the disscustion in the #9178, may be we needn't dedicated configuration for fault filter.

https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/local_reply

[2022-06-14 04:15] wbpcode commented on #21675
Could you provide some more explanation to `consistent hash not work`?

FWIW, weighted clusters and consistent hash load balancing are independent functions. The request matched this route will select a cluster first base on the weight and then select a host base on the hash ring.

[2022-06-14 04:26] wbpcode commented on #21684
May be custom cluster filter (upstream network filter) or custom `GenericConnPool` can helps 🤔

[2022-06-14 04:55] jmarantz commented on #21685
The host stats are kept by default and are visible in admin /clusters. AFAIK there is no way to stream those out to the stats sinks; you can only see snapshots on admin.

[2022-06-14 04:57] jmarantz commented on #21685
I suspect the main reason they were originally designed to be kept separate from stats is that there can be an extremely number of backend hosts in some configurations so the cardinality would stress several aspects of the stats system (memory, cpu overhead). They way they are held in the host system is much lower overhead than other stats.

[2022-06-14 06:42] tommie commented on #21670
Thanks for taking a look.

Yes, my use-case is letting Envoy trigger tracing in a next-hop gRPC service. The Envoy config is simple enough that I don't need tracing in Envoy itself. It's doing authn and gRPC-Web translation.

I've worked around this problem by letting the ext_authz service export a "/userconfig" and am now setting `X-Client-Trace-Id` in the XHRs based on that. (I had to show the t

[2022-06-14 08:09] DebugIsNotAnOption opened #21690 "Is there any way to get stats per each sessions? If not, I need your opinion that expose session stats."
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: Is there any way to get stats per each sessions? If not, I need your opinion that expose session stats.

*Description*:
Hello Everyone.
Thank you for your contributi

[2022-06-14 08:17] lambdai commented on #21640
My 2 cents:

* downstream metadata
Now that this v4/v6 selection is across protocols on top of TCP, it might worth encode metadata or filter state in listener.

* upstream bind
Upstream bind need to be extended to provide multiple bind address for sure. In terms of consuming the new addresses, IMHO it is natual to bind v4 address if the v4 upstream address.

[2022-06-14 10:02] jjj19950710 opened #21691 "Replace compiler, compilation failed"
How can I get more information？Now I don't know what statement has an error.
[code]

[2022-06-14 11:18] phlax commented on #20915
`docker compose` will not work i think

you need to use `docker-compose`

[2022-06-14 12:24] surki commented on #21178
FYI I just started looking into this, I will send a draft version for feedback soon

[2022-06-14 12:47] alyssawilk commented on #21684
I think I agree with all of the above except maybe (2) where my intuition says in an ideal world where we have upstream filters, we'd do one pass through downstream logic, and then each request would traverse its own set of upstream filters.

[2022-06-14 12:50] acumino opened #21692 "ARM64 Alpine Images"
*Title*: Images build and published through this repository are only amd64 compatible. We should enable a multi-arch docker build to also offer arm64 images.

*Description*:

would be used.
[optional *Relevant Links*:]

[2022-06-14 12:51] acumino commented on #21692
/close

[2022-06-14 12:51] #21692 closed

[2022-06-14 12:53] bryanwux commented on #20915
@dhjack
[code]

works for me

[2022-06-14 13:40] AndresGuedez commented on #21684
Agreed, although we can achieve similar behavior by allowing a subset of filters to be configured for the mirror filter chain.

[2022-06-14 14:29] RyanTheOptimist commented on #21691
@phlax do you have any idea why this is happening?

[2022-06-14 14:30] RyanTheOptimist commented on #21690
@jmarantz do you have any thoughts here?

[2022-06-14 14:31] phlax commented on #21691
not familiar with the errors - but for getting more info about build errors generally:

- `--verbose_failures`
- `--sandbox_debug`

[2022-06-14 14:34] RyanTheOptimist commented on #21618
@yanavlasov do you have thoughts on this?

[2022-06-14 14:43] RyanTheOptimist commented on #21617
Looks like this was added in #18791
@[zhxie](https://github.com/zhxie) can you take a look?

[2022-06-14 14:45] phlax commented on #21617
@ThalesC make sure the image you are using matches the docs you are following - ie use release docs for release versions, and `latest` with envoy-dev:latest

[2022-06-14 14:47] phlax commented on #21617
https://hub.docker.com/r/envoyproxy/envoy-dev/tags <-- "latest"

== https://www.envoyproxy.io/docs/envoy/latest/

[2022-06-14 15:07] jmarantz commented on #21690
I don't know that much about the data structure support for sessions in Envoy. But if you want to add a new group of stats that will be replicated for each cluster, then it needs to be made optional via API.

Rule of thumb:
 * assume 100 bytes per counter/gauge, more for histograms
 * assume there will be up to 100k clusters in some installations
 * so if you add (say) 100 new stats for each clust

[2022-06-14 15:18] ThalesC commented on #21617
@RyanTheOptimist Yup, it seems to be what I'm looking for!

@phlax I can't try the other image version right now but I'll take a look today. Anyway, the version seems to be the issue here, I'll comment after the test.

[2022-06-14 15:27] howardjohn commented on #21640
Not sure how much this is "entire driven by Istio" vs "Istio also had a use case", but IIUC we actually hadn't concluded on whether the correct approach was to ensure v4 downstream goes to v4 upstream or if they are decoupled.

[2022-06-14 15:34] hbgongen opened #21693 "x-forwarded-for is not real ip with ipv6 access way."
Now My x-Forwarded-for is get from %DOWNSTREAM_REMOTE_ADDRESS%
test env :
machine_a 10.187.9.2
machine_b 10.187.9.3(240e:766:855:25f::3:1052)
machine_c 10.187.9.4
envoy run in docker

machine_a(curl request at this machine)---->machine_b(envoy) -----> machine_c(upstrem)

machine_b network card eth0 has both ipv4 address and ipv6 address.now i want to use envoy to lead ipv6's request to ipv4's upst

[2022-06-14 16:10] soulxu commented on #21640
Thanks for the feedback! At least I think I shouldn't move this forward before istio has a conclusion here.

@jacob-delgado @zhlsunshine probably needs you guys' help to move the discussion on the istio side.

[2022-06-14 16:23] bencebeky commented on #21245
no stalebot

[2022-06-14 16:35] vandyvilla commented on #21685
Thanks Joshua. Our upstream is Redis Cluster with no more than 200 master nodes. Would that cause a cardinality problem? If not, is it possible to export those host stats from admin to stats sinks, any pointers on how to achieve this?

Thanks!

[2022-06-14 17:17] mattklein123 commented on #21522
Yeah this seems like an accounting bug to me for a normal shutdown case. cc @alyssawilk

[2022-06-14 17:18] mattklein123 commented on #21590
Sure sounds reasonable to me.

[2022-06-14 17:22] mattklein123 commented on #18928
I don't have an opinion given the data. I'm not exactly sure what "certificate provider" means in this context and what the API would look like. SDS in general still seems like a better option to me if we can sort out the missing pieces. The lack of on-demand in Istio should not factor into how it's implemented in Envoy.

[2022-06-14 17:23] mattklein123 commented on #21520
Do you have a repro for this? It's hard to say what is going on here.

[2022-06-14 17:29] jmarantz commented on #21685
You would definitely need that to be under API, runtime, or flag-flip control; it would blow out memory for large existing deployments if enabled by default.

if you can find a memory neutral way to conditionalize the stats block in each host to point to real stats that would be ideal. Then you could run Envoy in "export_host_stats" mode but for your use-case it would not be too expensive.

I don'

[2022-06-14 17:31] alyssawilk commented on #21410
but there is a key value store.  added a test without it and still no dice :-(

[2022-06-14 17:47] adisuissa commented on #21644
cc @abeyad

[2022-06-14 17:57] howardjohn commented on #21520
I was able to simply not send all the requested routes (just did something like `routes = routes[:1]` in our control plane). I can get a more minimal repro in a bit.

Note this is with Istio config so we have the bind_to_port=false listeners

[2022-06-14 18:14] ggreenway commented on #18928
Continuing discussion from #1984:

I believe that a custom Handshaker can provide the server certificate if it's `HandshakerFactory` sets `provides_certificates = true` in `capabilities()`, and then sets `SSL_CTX_set_select_certificate_cb()` in the handshaker where the selection logic can happen. A custom handshaker is configured via `config.core.v3.TypedExtensionConfig custom_handshaker = 13;` in

[2022-06-14 22:09] keremgocen commented on #21639
if there's a consensus on the proposed solution I'm happy to take a look

[2022-06-15 00:55] ThalesC commented on #21617
That was it, I was using the wrong version, with `envoyproxy/envoy-dev` the code works!
Thank you guys!

[2022-06-15 01:48] jjj19950710 commented on #21691
I used --verbose_failures --sandbox_debug,but no more detailed error information.
[code]
and I used --explain "log.txt" --verbose_explanations to build,the log is:
[code]
Why this happened? or is there a detailed log file?

[2022-06-15 02:03] jmarantz commented on #21685
I looked at this again and I think I have a better idea. I think it might not be too hard to have the stats sinks simply iterate through the cluster/hosts hierarchy to enumerate those stats to stats sinks and the /admin endpoint. But I would still only do this if a flag was set.

For the admin /stats endpoint you could enable this by query-param, e.g. `/stats?hosts` though I'm not sure if that's a

[2022-06-15 02:19] jmarantz commented on #21685
Here are some code pointers if you want to try this:
 * envoy/stats/primitive_stats.h - definition of the very low-cost stats held in each host
 * envoy/upstream/host_description.h - ALL_HOST_STATS defines the stats held in each host
 * Upstream::HostDescription::stats().counters() returns a vector of name/value pairs for each counter. Note that the name is not elaborated -- it's just the leaf nam

[2022-06-15 02:35] StarryVae opened #21705 "Envoy start problem in example with docker-compose"
*Title*: *Envoy start problem in example with docker-compose*

*Description*:

When trying examples with docker-compose locally, Envoy starts with some problems.

![image](https://user-images.githubusercontent.com/23182024/173724341-fe5f7ddb-03e0-48b7-bb57-8ab024290129.png)

![image](https://user-images.githubusercontent.com/23182024/173724373-108b5b6c-00a4-4142-a60b-08b0356ee3f7.png)

[2022-06-15 02:46] hbgongen commented on #21693
this problem has solved.thanks

[2022-06-15 02:47] #21693 closed

[2022-06-15 03:14] rohrit commented on #21543
Just to confirm, it looks like this would not work till https://github.com/envoyproxy/envoy/issues/19458 gets fixed.

[2022-06-15 03:55] kyessenov commented on #21543
@rohrit Yes, we need a way to support something like #19458. I think the consensus is that it should be _doable_ in dedicated filters, but not necessarily supported out of the box.

[2022-06-15 04:12] #21084 closed

[2022-06-15 05:00] ramaraochavali commented on #21673
I see . That makes sense.

[2022-06-15 05:00] #21673 closed

[2022-06-15 08:26] thangnn4688 commented on #20776
@lambdai in my lab, downstream server and upstream server are in the same subnet (vlan). I read some documents about TPROXY with method Direct Server Return, thay said that downstream server and upstream server should not be in the same subnet.
I use tcpdump to capture packet flow in downstream server, envoy server and upstream server when downstream send tcp packet to upstream, then i see the ses

[2022-06-15 11:49] mzdeb opened #21712 "Handling ephemeral port exhaustion when using UDP protocol"
*Title*: *Handling ephemeral port exhaustion when using UDP protocol*

*Description*:
Hi! I'm using envoy to load balance UDP traffic for service similar to DNS (1 packet with query, 1 packet with response). Everything works fine until traffic burst causes ephemeral port exhaustion and no new UDP sockets can be created. I'm able to delay the problem with `idle_timeout` setting for [UdpProxyConfig]

[2022-06-15 13:00] wrowe commented on #21543
Not envoy.filters.http.ext_authz - that already works for HTTP auth. NTLM isn't HTTP, it changes an HTTP connection to be stateful. HTTP is not stateful across requests, it would need to be a connection level filter as described in the associated issues

[2022-06-15 13:01] wrowe commented on #21543
See also https://github.com/envoyproxy/envoy/issues/12370

[2022-06-15 13:59] RyanTheOptimist commented on #21617
Great! Glad it's working.

[2022-06-15 13:59] #21617 closed

[2022-06-15 15:21] howardjohn opened #21718 "Efficient access logging configuration"
*Title*: Efficient access logging configurationrt

*Description*:
Currently, access logging configuration has a massive impact on our XDS configuration size. Because we customize the format, we must repeat this format for many many times. This adds up a lot.

On a fairly small cluster I end up with 400 access log configs. The LDS is 700kb. Disabling access logs drops it down to 200kb.

Example con

[2022-06-15 15:57] RyanTheOptimist commented on #21712
@mattklein123 @michalmaka looks like you're both quite familiar with the UdpProxy filter so perhaps you have thoughts here.

[2022-06-15 15:57] RyanTheOptimist commented on #21705
Screen shots are a bit challenging to read here (no cut-paste). Can you attach the text, and please call out the particular problems that you're seeing so we can route the issue to the right people.

[2022-06-15 16:00] ggreenway commented on #18928
I was just giving an example of how to accomplish the task you were asking about in the comments of a very old PR.

I agree that it could make sense to have multiple certs in a single TLS context and have more logic to select them. But I think that's a separate feature from what this issue is tracking. Feel free to open an issue for it to discuss.

[2022-06-15 16:09] mattklein123 commented on #18928
Using the certificate provider API for this to make a new extension seems fine. Beyond that you will need to work out the details which as @ggreenway says may involve a separate set of work items to make it easier to allow a handshake extension to select from multiple certs, through a provider, etc. I would recommend creating a document and outlining a very specific set of work items that we can a

[2022-06-15 16:11] mattklein123 commented on #21712
Sorry I don't know the details of this and how Envoy could effect it. If there are kernel/socket options we could be applying here feel free to propose them.

Yes it's possible and is a partial duplicate of https://github.com/envoyproxy/envoy/issues/15590

[2022-06-15 16:14] mattklein123 commented on #21685
Per @jmarantz the reason this is not done by default is similar to the reason we don't output per-route stats by default. Stats are expensive and can easily blow out your backend TSDB without careful control.

I think it's fine to have optional output of per host stats, either globally or per cluster, but this cannot be enabled by default.

[2022-06-15 16:24] mattklein123 commented on #21690
What is a "session" in this context? Can you illustrate some example stats that you would like to see?

[2022-06-15 17:32] #21386 closed

[2022-06-15 17:35] alyssawilk commented on #21363
I think https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/upgrades should cover the TCP parts of your question.
For the rest I think you want to start with sni dynamic forward proxy

[2022-06-15 18:04] birenroy commented on #21548
The QUICHE work is done, and my understanding was that @yanavlasov  would handle or delegate the task of hooking up the compile time flag.

[2022-06-15 19:17] mzdeb commented on #21712
@mattklein123 usually when UDP socket is created for outgoing connection it should be created in following way:
[code]
these are so called connected UDP sockets (when creating socket we define the remote ip and port).

Envoy is doing it like this:
[code]
and this one is unconnected UDP socket. The remote IP and port is known very late - when sending data. More details on this topic [here](https://

[2022-06-15 19:41] mzdeb commented on #21712
Well, I tried to investigate the envoy code, however my knowledge of c++ is too miserable. :( If the same udp socket is not reused for sending to multiple destinations then it should be safe.

[2022-06-15 19:57] mattklein123 commented on #21712
https://github.com/envoyproxy/envoy/blob/a098234d78b5d48dd1a63adc3120929222837155/source/extensions/filters/udp/udp_proxy/udp_proxy_filter.h#L373-L377

That calls into code that does the bind. It could probably be swapped to connect instead.

[2022-06-15 20:01] #21090 closed

[2022-06-15 20:43] #20201 closed

[2022-06-15 20:52] adisuissa opened #21726 "File-System-Buffer multiple threads access the same resource"
_This is a tsan flaky bug in the File-System-Buffer filter, and was cleared with Envoy security team before posted here_

*Title*: File-System-Buffer multiple threads access the same resource

*Description*:
Our filter fuzzer detected a concurrency-related flaky issue with "envoy.filters.http.file_system_buffer".
From an initial look, it seems that 2 threads are trying to update a shared `cancel_i

[2022-06-15 21:02] adisuissa commented on #21726
cc @vehre-x41 who did the investigation here

cc @ravenblackx as code-owner of the filter

[2022-06-15 21:25] dvu714 commented on #21598
I just want to follow up on this question.

Is it possible to forward all requests (http and https) to a secondary corp proxy using http?

[2022-06-15 21:29] ravenblackx commented on #21410
*Without* key value store is what I was expecting to pass the test already - if it's not set then you get the same behavior on the first and second pass, a dns lookup that fails (503). When there *is* a key value store, the first pass does a dns lookup that fails (503), and the second pass pulls NXDOMAIN (maybe?) from the key value store which doesn't appear to then have a path to the same 503 fai

[2022-06-15 22:44] jacob-delgado commented on #21640
Envoy should allow a way for users to pick what's best for their project. There are other projects besides Istio that may need this capability and each should choose a way that fits their needs. I'm not sure if that's possible or if I just increased the scope by a lot, however.

[2022-06-16 00:02] #21193 closed

[2022-06-16 00:02] #21197 closed

[2022-06-16 01:09] zhlsunshine commented on #21640
In my opinion, it will make sense if the solution can help to reduce the consume and improve performance of Envoy for Istio dual stack support.

[2022-06-16 02:57] RyanTheOptimist commented on #21705
Meaning there is a problem with DNS in the environment that your Envoy is running in but that Envoy itself is working correctly? (If so, should we close this issue?)

[2022-06-16 03:34] StarryVae commented on #21705
i tried to run examples with docker-compose, for example [https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/local_ratelimit.html](url), but envoy startups slow due to the dns resolution for example service, i don't know if it is reasonable.

[2022-06-16 04:09] #21201 closed

[2022-06-16 06:55] highwayliu opened #21731 "Why envoy return with Stream max duration time reached"
I use envoy as gRPC proxy. And i found some times envoy return Stream max duration time reached
<img width="1107" alt="image" src="https://user-images.githubusercontent.com/39515014/174010256-b021d87f-bcf8-4d1b-a84a-44cfcc69a4fb.png">
Also I use wireshark to debug the process
<img width="1309" alt="企业微信截图_2dd23b48-8522-48f5-871c-8a137320aabf" src="https://user-images.githubusercontent.com/39515014

[2022-06-16 07:45] quserinn commented on #21512
I'm working on this

[2022-06-16 08:49] SpecialYang opened #21734 "How can I configure local rate limit for per remote ip address?"
In the local rate limit filter, the token bucket is shared across all workers. I found that the option `local_rate_limit_per_downstream_connection` can set rate limit scope to per connection. But now, we expect that scope can be per remote ip.
We can generate remote ip descriptor via [RateLimit Action RemoteAddress](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_component

[2022-06-16 09:51] kzorfy opened #21736 "SNI based routing with modified SNI name"
*Title*: *SNI based routing without TLS termination*

*Use Case*:
When user makes a HTTPS request for DNS name [dd-server_name.kzorfy.com](http://dd-server_name.kzorfy.com/), I need to extract the DNS name from SNI and use to to construct the upstream DNS name [wd-server_name.kzorfy.com](http://wd-server_name.kzorfy.com/). The `server_name` in the DNS name is dynamic in nature and can have differe

[2022-06-16 10:51] LuyaoZhong opened #21739 "SNI-based cert selection in TLS transport socket"
*Title*: *SNI-based cert selection in TLS transport socket*

*Description*:

cc @ggreenway @mattklein123

[2022-06-16 11:08] LuyaoZhong commented on #18928
@mattklein123 @ggreenway

Thanks for your comments. I add a "Proposed Changes" section in [bumping doc](https://docs.google.com/document/d/1B6TaqkwjlUqIOYTLqcprwtsQsg8TXitLQQnvXg2WIbU/edit#).

As for cert selection, let's go to [here](https://github.com/envoyproxy/envoy/issues/21739) to discuss details.

[2022-06-16 11:17] LuyaoZhong commented on #21739
As you know,

[code]
If we get certificates via one of these three provider, we need to modify existing cert selection logic to support different SNI.
If anyone use custom handshaker to provide certificates, then SSL_CTX_set_select_certificate_cb() should be set inside custom handshaker.

So I propose to modify current cert selection logic directly, or we introduce some flag to indicate we need do

[2022-06-16 14:36] mattklein123 commented on #21739
I would definitely want to hear from @ggreenway here, but I think this comes up often enough that having an in-tree handshake provider that can do cert selection would I think be useful. I'm not sure if this would be implemented as a cert provider or something else.

[2022-06-16 15:02] adisuissa commented on #21726
Attaching the entire stack-trace for context: [file_system_buffer_tsan_issue.log](https://github.com/envoyproxy/envoy/files/8919990/file_system_buffer_tsan_issue.log)

I see 2 threads that are conflicting, the main-thread that executes the `FileSystemBufferFilter::encodeData` and a thread that was created by the `AsyncFileManagerThreadPool` that executes `resolveActions()`.

Does this setting make

[2022-06-16 15:25] mattklein123 commented on #21739
Yeah I don't know the right answer here without digging in myself. There will need to be either a new extension point or significant code sharing. I'm not sure the right solution, it will need to be investigated.

[2022-06-16 15:30] Hexta commented on #21639
I agree from my side with @alyssawilk.

[2022-06-16 16:10] soulxu commented on #18928
I think both SDS (I don't think on-demand SDS should be an issue) and certificate provider work for you. As my understanding, it is always fine with an extension for the non-core use-case, and certificate provider seems already have other usecase.

The certificate provider you defined https://github.com/envoyproxy/envoy/pull/19582/files#diff-57c305aa5cc3e7196c5c808a13ff7819ab9dd089cabffda303d885df