[2021-02-17 21:18] alyssawilk commented on #14908
This is set when the stream is terminated due to a downstream FIN.   If you're encountering a situation where that detail is set and a wireshark trace shows downstream isn't sending the FIN we'd be happy to look into it, but by default we'd assume it's client-caused at which point there's not much we can do to diagnose what's going on :-)

[2021-02-17 22:03] junr03 commented on #15070
Have you added the fixed heap resource monitor extension to your extensions build file? https://github.com/envoyproxy/envoy/tree/main/bazel#enabling-and-disabling-extensions

[2021-02-17 22:18] #9963 closed

[2021-02-17 22:20] howardjohn opened #15083 "Missing transport_api_version in rate limiting leads to crash"
*Title*: Old envoyproxy/ratelimit leads to crash
*Description*:
Forwarding an issue from our repo: https://github.com/istio/istio/issues/30900

Basically, it sounds like when missing `transport_api_version` in the rate limiting config, we get a crash

Expected behavior is some more graceful failure, probably a NACK

*Repro steps*:
See https://github.com/istio/istio/issues/30900. I did not reproduc

[2021-02-17 22:27] mattklein123 commented on #15083
cc @htuch @adisuissa this is the same issue that keeps getting reported over in the ratelimit repo, so it seems like something is broken?

[2021-02-17 22:30] mattklein123 commented on #14363
@jtway thanks that doc looks like a good overview. Please ping me when it's more fleshed out and I can help with the review! Excited to see this issue finally fixed.

[2021-02-17 22:31] #14845 closed

[2021-02-17 22:40] mattklein123 commented on #15045
cc @envoyproxy/redis-dev

[2021-02-17 22:42] mattklein123 commented on #15057
We don't support anything like this today, though I suppose it could be relatively easily implemented with an HTTP upstream plugin that just returns a redirect? cc @alyssawilk

[2021-02-17 22:47] bgc8214 opened #15084 "Problems with Discovery Response in lds"
I'm setting up a lot of xds, using an envoy for the first time.
I think eds and cds are pretty good, but I want to ask you a question because lds is not working well.
<pre>
<code>
dynamic_resources:
  lds_config:
    resource_api_version: V3
    api_config_source:
      api_type: REST
      refresh_delay: 15s
      transport_api_version: V3
      cluster_names: [ config-server ]

static_resources:

[2021-02-17 22:50] lambdai commented on #15072
Stack frames: please ignore the dispatcher behavior.
[code]

[2021-02-17 22:53] lambdai commented on #15072
This is the lucky sequence that deferred deleted happens before dispatcher shutdown. See `google_async_client_impl.cc:390] Deferred delete` is immediately followed by`GoogleAsyncStreamImpl destruct`
[code]

[2021-02-17 23:25] kuroneko25 opened #15085 "The stat init_fetch_timeout does not correctly increment when the timeout is reached"
*Description*:
When `init_fetch_timeout` is reached (default of 15s) envoy gives up the xDS init process and proceeds to the next phase in initialization but does not increment the `init_fetch_timeout` counter.

*Repro steps*:
Define a xDS cluster that points to localhost:some_port
[code]

Run `nc -l 50000` and start envoy. You will see envoy connecting to the port and sending xDS requests. After

[2021-02-17 23:53] antoniovicente commented on #15072
I'll see if I can take a look at the info above soon after your changes in https://github.com/envoyproxy/envoy/pull/14954 are merged in.

Based on your mention of deferred delete vs other operations, I think that it may be helpful to make changes similar to https://github.com/envoyproxy/envoy/pull/14293 to make these races more likely as we attempt to fix the underlying issues.

Sequencing shutdow

[2021-02-18 00:37] KU348-code commented on #15070
I did not perform a build of the Envoy from source myself. Instead, the following 3 commands mentioned in [Envoy documentation](https://www.envoyproxy.io/docs/envoy/latest/start/install#install-envoy-on-centos-linuxto) to install Envoy in CentOS was used.

sudo yum install yum-utils
sudo yum-config-manager --add-repo https://getenvoy.io/linux/centos/tetrate-getenvoy.repo
sudo yum install getenvoy-

[2021-02-18 01:11] antoniovicente opened #15092 "EXPECT_ENVOY_BUG testing in debug mode uses EXPECT_DEBUG_DEATH, leads to flakiness in test coverage reports"
EXPECT_ENVOY_BUG provides a good decent way to provide test coverage for ENVOY_BUG but there is some room for improvement. Use of EXPECT_DEBUG_DEATH prevents us from properly verifying that the code following the ENVOY_BUG will not crash even in debug mode.  Also, test coverage reports which are generated from a debug build end up being flaky due to the fork used in the implementation of the death

[2021-02-18 01:48] dankegel commented on #4384
Hit this myself just now, thanks!

[2021-02-18 01:51] htuch commented on #12951
@moderation is this now done? Can we close? Thanks.

[2021-02-18 02:32] htuch commented on #10411
SGTM

[2021-02-18 02:35] htuch commented on #15083
@howardjohn does this reproduce on `main`? I was previously unable to repro with the example from the ratelimit repo.

[2021-02-18 02:54] howardjohn commented on #15083
I am not too familiar with this, just copied over from the Istio repo, but I did try their config on main and it didn't crash. I wasn't sure if this was because it's fixed or because it requires a request or something - I didn't set up the full rate limit service.

[2021-02-18 03:59] moderation commented on #5155
llhttp 4.0.0 is out - https://github.com/nodejs/llhttp/releases/tag/release%2Fv4.0.0

[2021-02-18 04:11] npuichigo commented on #14953
@alyssawilk thx, I'll try to add per_connection_buffer_limit_size in listener, while currently I only set it in clusters.

By the way, here's the trace log before.
[code]

[2021-02-18 05:35] moderation commented on #12951
@htuch yes we can close. Thanks

[2021-02-18 05:41] lambdai commented on #15071
This config looks good.
grep GET at log file is vague. Is there any metric, graph or access log that can drill down to "gateway - 192.168.241.194" and "gateway - 192.168.249.65" ?

[2021-02-18 06:03] lambdai commented on #15070
Looks like it is not the fault of getenvoy.
[code]

Not an expert but I think fixed_heap promote from v2 to v3 since #14907

[2021-02-18 06:15] lambdai commented on #15084
I use your posted listener config. It's legit.

I doubt if you encoded the DiscoveryResponse from the wrong source. See https://github.com/envoyproxy/envoy/blob/0ba9e045147af4b6a265d6d09b0eabb896b6426f/test/integration/listener_lds_integration_test.cc#L152-L162

From high level,
1. the above json should be transformed into a `envoy::config::listener::v3::Listener` typed `listener`
2. response.add_

[2021-02-18 06:19] debbyku commented on #15071
grep GET is to return the access log like this

[2021-02-18T06:16:33.248Z] "GET /rt0/v1/api/racingtouch/ping HTTP/1.1" 200 - "-" 0 18 1 1 "192.168.177.192" "Mozilla/5.0 (pc-x86_64-linux-gnu) Siege/4.0.7" "82bf70f0-7b2c-9b69-aae0-94e3e963c989" "istio-ingressgateway.istio-system" "127.0.0.1:8000" inbound|8000|| 127.0.0.1:53962 192.168.53.7:8000 192.168.177.192:0 outbound_.8000_._.test-svc.default.sv

[2021-02-18 06:27] debbyku commented on #15071
The stats in the endpoints do not count correctly.  The rq_total should be much larger than it and I rarely find the access log for 15443 in the istio ingressgateway.

[2021-02-18 06:43] lambdai commented on #15057
Aha, I misinterpreted the requirement. I thought you are asking for LVS on HTTP + DSR.

Looks like envoy acts as a dynamic content server. The future http upstream may cover this as Matt mentioned.

It's also possible to intercept the upstream request by a new cluster upstream extension. When your self-defined `HttpConnPool` is touched, a backend host is already selected by lb defined in cluster.

[2021-02-18 07:46] lambdai commented on #15071
The request in istio-gateway is loadbalanced per `tcp connection` since you use sni_cluster with tcp_proxy filter at istio-ingressgateway. This config doesn't guarantee http request is balanced.

At an extreme case, if your siege client use only 1 tcp connection during the your load test, you will see only 1 endpoint handle all the http request. You are right at the beginning: SNI cluster + tcp_pr

[2021-02-18 09:03] mk46 commented on #15070
Currently, we didn't have `envoy.extensions.resource_monitors.fixed_heap.v3.FixedHeapConfig` such type.
Try this one  `envoy.config.resource_monitor.fixed_heap.v2alpha.FixedHeapConfig` .

[2021-02-18 09:21] NomadXD opened #15095 "[Question] Thread safe way to use grpc bidi stream with envoy grpc async client inside a http filter."
*Title*: *Thread safe way to use grpc bidi stream with envoy grpc async client inside a http filter.*

*Description*:

I have written a http filter for web socket connections that is capturing websocket frames and publishing metadata related to these frames through a **grpc bidi stream with envoy grpc client**. According to the filter logic, there may be a possible race condition that will occur o

[2021-02-18 09:46] phlax commented on #15081
/assign phlax

[2021-02-18 10:11] mk46 commented on #15079
It seems that the service container doesn't start or not running. Could you please check `docker-compose ps`?

[2021-02-18 10:24] phlax commented on #15080
eek!

i can have a look at what is happening with this var as it is passed through

[2021-02-18 11:29] phlax commented on #15080
after experimenting with this a little, it seems like the problem comes from which way round the `'` and `"` are used

@dankegel

if above is correct, the following should work:

[code]

can you confirm ?

if so, im wondering if we need to highlight the point somewhere

[2021-02-18 12:13] phlax commented on #13167
part 1 of this is resolved in #14721

the second part:

im wondering if we need to do something further in terms of sample config

i guess one extreme would be for somehow *every* extension to programatically provide a sample config that can be embedded in the extension category docs - so pretty much all extensions are shown in some form on the extension category page.

i think this risks creating

[2021-02-18 13:05] snowp commented on #15095
The threading here depends on where you're allocating the gRPC client, if it's done as part of the filter then it should end up on the same thread as the filter, so the null check should be sufficient. If you are trying to put it on another thread (e.g. the main thread) then you'd probably be posting the sends to the relevant dispatcher, which means that you'd also be okay with just a null check s

[2021-02-18 13:28] svagner opened #15099 "Keeping more than 2 processes on hot-restart"
*Title*: *Keeping more than 2 processes on hot-restart*

*Description*:
Currently, once we're doing hot restart we are keeping only 2 processes - parent (that will follow `parent_shutdown_time`) and child (that will accept() connection and do current work). It's happening on `shutdownAdmin` method here - https://github.com/envoyproxy/envoy/blob/7e2099ae585ba70997d59a8dfe6246b9728c1b24/source/serve

[2021-02-18 13:32] debbyku commented on #15071
Hi @lambdai,  thanks for your advice.
As the request is from siege -> clusterA isto-ingressgateway -> clusterB istio-ingressgateway(15443) -> service, in clusterA istio-ingressgateway, we set the max-request-per-connection to 10 in order to max. the no. of connections to clusterB 15443, it seems the load balancing performance is much better.  For 4xxxx requests, the difference of number of request

[2021-02-18 13:56] Radha13 commented on #2695
We (Slack) have a similar need and happy to work on the implementation.

We would want to add another argument `ip_tag_path` which  should be oneof (either `ip_list` or `ip_tag_path`) in v4 and programmatically mutually exclusive in v3.

For our specific needs, we want to be able to update the file out-of-band, so it's important to watch for changes. Instead of a DataSource (which only supports st

[2021-02-18 14:03] asraa commented on #15092
I had no idea this would happen! EXPECT_DEBUG_DEATH I agree is messy.

In debug mode we would crash at ENVOY_BUG though, so you can't really verify the code after won't crash in debug mode. If you wanted to test behavior after ENVOY_BUG in opt mode you would need to do something like
`EXPECT_ENVOY_BUG({triggerEnvoyBug(); somePostOperation();}, "envoy_bug: log message");`
which would verify that `s

[2021-02-18 14:05] ericfrancis commented on #14363
@mattklein123 do you have an example of what you are looking for?

[2021-02-18 14:20] snowp commented on #14363
Briefly scanning over the doc I would love to see
- what creates the formatter? where exactly is it stored?
- how will extensions be able to access the formatter?

[2021-02-18 14:30] asraa commented on #15092
I just realized that this was in the context of coverage numbers.

How about we leverage `build:coverage --define=ENVOY_CONFIG_COVERAGE=1` to make ENVOY_BUGs non-fatal in coverage mode (and match that with EXPECT_ENVOY_BUG implementation)?

[2021-02-18 14:50] jtway commented on #14363
@snowp Will look to add those details to the document. That being said, I was hoping for some thoughts from the maintainers here, as there seems to be some preference. Initially I was thinking StreamInfo, but @mattklein123 seems to be discouraging that.

[2021-02-18 14:56] alyssawilk commented on #15092
SGTM!

[2021-02-18 15:10] snowp commented on #14363
The first alternative that comes to mind would be to store it on the HCM ActiveStream (one for upstream and one for downstream) and then expose HTTP filter callbacks that allows reading the downstream formatter or setting the upstream formatter. This would allow the HCM to initialize this formatter when desired and expose it to the router filter which would pass it to the upstream codec, and allow

[2021-02-18 15:15] jtway commented on #14363
Thanks @snowp, completely forgot I have been thinking ActiveStream at one point as well. I will think through this a bit more and update the document.

[2021-02-18 16:25] ahedberg commented on #15012
/assign ahedberg

[2021-02-18 17:36] caoyukun0430 opened #15106 "Add x-envoy-overloaded header to overload conditions(envoy stops accepting requests)"
*Title*: *Add x-envoy-overloaded header to overload conditions(envoy max heap size reaches and stops accepting requests)*

*Description*:
When we configure circuit breaking on upstream services and trigger it by sending lots of traffic at the same time. We received responses for the dropped requests with the header x-envoy-overloaded: true.
< HTTP/1.1 503 Service Unavailable
< content-length: 81
<

[2021-02-18 17:39] junr03 commented on #15106
seems like a fair use of the header.

@eziskind any opinions on this?

[2021-02-18 17:41] junr03 commented on #15099
Sorry, I think I am a little lost on your suggestion. What is the need of keeping more than two (draining, and active) processes alive?

[2021-02-18 17:45] junr03 commented on #15085
Are you seeing `config: initial fetch timed out for` on the processes logs?

[2021-02-18 17:46] #12951 closed

[2021-02-18 17:59] eziskind commented on #15106
Sounds fine to me. I'm just wondering if it would be useful to use a different header so that the client can distinguish between envoy itself being overloaded vs circuit-breaking kicking in to protect the upstream. Is that distinction useful? @akonradi @htuch

[2021-02-18 18:04] akonradi commented on #15106
I don't have an opinion on this, but looping in @antoniovicente

[2021-02-18 18:09] svagner commented on #15099
So currently even if we have long `drain_time ` and `parent_shutdown_time` and if we do more than 1 hot restarts within `drain_time` - the parent will be killed even if it's still draining connections. That's happening because of the limitation that we have only 2 processes in time.

[2021-02-18 18:29] davinci26 commented on #15042
Looking into it, assigning it to me

[2021-02-18 18:51] esmet opened #15107 "Upstream max connection duration should be configurable."
We currently support max connection duration for downstream connections, but not yet for upstream connections. Allowing upstream connections to have a max duration provides users a guarantee that after a certain amount of time, connections will be cycled. This allows for service discovery through Kubernetes Service IPs, for example, to work more reliably.

[2021-02-18 18:59] svagner commented on #15099
Generally what I'd like to see:

[code]

restart_epoch=3, in that case, was terminated because it finished draining of connections

[2021-02-18 19:22] dmitri-d commented on #14918
It's not just duplicate names though -- I took a quick look, there are a few exceptions that can be thrown during `ConfigImpl` instantiation, all due to invalid configuration (`RouteMatcher` ctor throws exceptions on multiple wildcard domains and duplicate domain names. `VirtualHostImpl` ctor also can throw an exception, as do both `HeaderParser::configure` calls. I'd need to duplicate the validat

[2021-02-18 19:45] alyssawilk commented on #15061
"so canceling pending stream" happens when the downstream side of the connection disconnects while the upstream connection is being established.  Doesn't mean the new pool is not at fault, but I'm wondering what the stats/logs say about the connection?
Also it occurs to me super belatedly, are you using the tcp proxy session or the mysql code?

[2021-02-18 20:06] phlax commented on #13167
@mattklein123 @htuch ^^

[2021-02-18 20:45] rgs1 commented on #15061
In Envoy tcp proxy, not using the mysql filter is that what you are asking... The upstream is mysql directly over the loopback...

[2021-02-18 22:17] howardjohn commented on #14976
FWIW, when we enabled this option in our SotW implementation our control plane CPU dropped in half. Given delta will likely have more XDS requests, this will probably be more important. So great to see this will be supported :+1:

[2021-02-18 22:48] antoniovicente commented on #15106
Adding such a header in more places seems fine.  But it would be good to have a config field to suppress generation of that header in all cases.  I don't like the concept of openly advertising when a proxy is in overload or otherwise broadcasting when a potential attack on the proxy is working.

[2021-02-18 22:52] #15092 closed

[2021-02-18 23:30] antoniovicente commented on #15107
cc @snowp @alyssawilk

Seems like a reasonable feature request.

I see you have an early draft. Do you plan to provide a fix for this issue?

[2021-02-18 23:46] antoniovicente commented on #15072
Further changes that we may want to consider:
- Discourage calls to deleteInDispatcherThread from the dispatcher thread if possible to avoid the possibility of call chaining
- set "shutdown_called_ = true" as soon as we enter the Dispatcher shutdown method
- Disallow chaining of deferred deletions
- Disallow deleteInDispatcherThread from scheduling deferred deletions
- Disallow the scheduling of d

[2021-02-18 23:50] #15081 closed

[2021-02-19 00:26] lambdai opened #15111 "Dispatcher shutdown, summary and TODO"
On working on the PR to destroy cluster on master thread. The most efforts were to address the envoy shutdown. And the core problem is how to coordinate the dispatcher and other objects that are relying on the dispatcher to delete.

A shutdown method is introduced in dispatcher, and no more operations should be scheduled by dispatcher.

Ideally, the dispatcher should clean up the pending deferred

[2021-02-19 00:26] lambdai commented on #15111
CC @antoniovicente

[2021-02-19 00:44] mattklein123 commented on #2695
@Radha13 yup this would be great!

[2021-02-19 00:46] mattklein123 commented on #14363
Yes I would roughly suggest what @snowp outlines above. What I'm asking for is a more fully fleshed out implementation proposal. What the doc contains now is mostly a summary of my comments in this issue. If it turns out that doing what @snowp outlines above is difficult for some reason, I'm not 100% opposed to attaching a custom formatter to stream info somehow, but it wouldn't be my first choice

[2021-02-19 00:48] mattklein123 commented on #15099
FWIW, what you propose is how I implemented hot restart in "proto Envoy" (Twitter edge proxy). I did not repeat this in Envoy as in general we rarely made use of the multi-generation support since deploys are not very frequent, and I didn't think the complexity was worth it. I'm still generally of that mindset.

[2021-02-19 00:54] mattklein123 commented on #13167
In a perfect world, yes, I think we should require sample configs for all extensions, and given we can type_check doc examples, we would require that all examples use the type checked doc plugin so it never gets out of date. In an interim world, I wonder if we could start with a snipet that just shows the type_url/@type and an empty config stanza with some '...' or something. I'm not sure what is

[2021-02-19 00:59] lambdai commented on #15099
CC @mandarjog

[2021-02-19 01:10] lambdai commented on #15099
Hotrestart is the source of complexity. I want to CC guys in my ex-team to list some bleeding SEVs wrt hotrestart.

I could imagine the immediate follow up could be
query the last N hotrestarting instance
revert hotrestart
gracefully kill one instance in the hotrestart chain
etc

[2021-02-19 01:31] mtttcgcg commented on #14141
This is more important for us now that Envoy 1.14's xDS v2 API is deprecated. 1.14 was the last version we were able to run without encountering this issue.

[2021-02-19 02:18] davinci26 commented on #14829
Feel free to tag me for any windows specific (test or otherwise) issues

[2021-02-19 02:48] KU348-code commented on #15070
Yes. Using envoy.config.resource_monitor.fixed_heap.v2alpha.FixedHeapConfig works. Thanks.

However, all the sample configuration files found in the following link which contains overload_manager seems to use envoy.extensions.resource_monitors.fixed_heap.v3.FixedHeapConfig instead. That's odd.

https://www.envoyproxy.io/docs/envoy/v1.17.0/

[2021-02-19 02:59] htuch commented on #13167
Why not use the additional extension metadata YAML in https://github.com/envoyproxy/envoy/issues/14470? We could mandate all new extensions populate a field in the YAML that provides an Any configuration. Tooling can type check this in CI and render it to docs as suggested by @phlax. We could backfill existing extensions over time (create a beginner task in issues). WDYT?

[2021-02-19 03:01] htuch commented on #15106
+1 I also agree it should be a distinct header, since the circuit breaker is upstream overload and we're talking about Envoy itself here as per @eziskind.

[2021-02-19 03:07] htuch commented on #14918
I see, makes sense to ensure we can handle this gracefully in VHDS then.

[2021-02-19 03:22] yangminzhu commented on #15062
I was actually thinking the opposite, the use case of routing based on the jwt token that cannot be faked by client side: the routing part checks the token and makes the decision without even validating the token as it relies on the later jwt_authn filter for the validation. Later the jwt_authn filter also bypassed the validation for some reasons (e.g. path is excluded from validation). That's why

[2021-02-19 03:24] caitong93 commented on #15099
Agreed. As a user I have had some problems with hot restart. For example, when you have n Envoy process running at the same time, the total memory usage would be n times that of one Envoy process. If the parent is killed by OOM during the hot restart, the the child would possibly block on the `recvmsg` call. Hot restart in Envoy is not **lightweight**,  so I just avoid frequent hot restart.

[2021-02-19 03:48] htuch commented on #15012
@ahedberg understanding the problem a bit better now (the use case is to be able to pass the header mutations on the response path to an external service at request time for later use), I think maybe just providing some way to recover these header actions would be reasonable. It's only a really valid thing when you have full knowledge that there will be no further route modifications later in the

[2021-02-19 03:51] defool commented on #8167
Any update for this feature?

[2021-02-19 04:16] mattklein123 commented on #13167
Yeah as long as it is type checked and required, any mechanism is fine with me. This will be amazing!

[2021-02-19 04:51] mandarjog commented on #15062
normally we keep routing, authentication and authorization separate. The client and route is free to request anything they want. Jwt validation filter should be inserted if we want that resource to be protected, and jwt to be validated.

I see your point from an API / user experience standpoint, but XDS api need not be user friendly. we will surely tie it together in the Istio API.

we can leave i

[2021-02-19 05:04] mk46 commented on #15070
`envoy.extensions.resource_monitors.fixed_heap.v3.FixedHeapConfig` is working on `main`..  5c801b2 is not containing any `v3 FixedHeapConfig` and behaviour is as expected.

[2021-02-19 06:59] #13955 closed

[2021-02-19 07:18] KU348-code commented on #15070
I see. Understand now. Thanks mk46.

[2021-02-19 07:18] #15070 closed

[2021-02-19 07:58] nobodyiam opened #15113 "Does Envoy intend to evolve to an application runtime?"
Envoy is a great service proxy and is now the default data plane for many service mesh products, which works well to solve many companys' service connectivity challenges.

Yet, in real world cases, a typical company may face much more challenges in areas like cache, database, message queue, configuration management, etc. Which means we still need to maintain a set of heavy weight SDKs along with t

[2021-02-19 08:35] ramaraochavali commented on #15085
Looks like this is a regression introduced some where. Fixed in https://github.com/envoyproxy/envoy/pull/15114

[2021-02-19 09:39] #14795 closed

[2021-02-19 10:10] svagner commented on #15099
I agree that probably it is not a problem for every envoy user. But if we're talking about wide installation in the big environment where we have separate teams who are working with envoy using any automation configuration system, the hot restart is becoming unpredictable.

About memory: probably it's a problem for embedded devices but even on big traffic envoy consumes ~ 200Mb for a single proces

[2021-02-19 10:31] jeratora opened #15116 "Upstream HTTP/1 server through authenticated (SQUID) proxy"
*Description*:
Is it possible to configure Envoy so that an incoming request is forwarded to an upstream server through an corporate proxy requiring authentication ? (credentials being set in Envoy).

The pipeline would look like this : client --> sidecar Envoy (TLS origination + proxy credentials) --> Corporate Squid Proxy --> upstream server (REST)

I was thinking about using CONNECT but I'm not

[2021-02-19 12:25] Shikugawa commented on #15023
@wbpcode @dio @lizan I think that we can provide dynamic configuration into

- ignore_suffix ... It ignores to trace if path matched here. We can use this feature without declaring explicitly here.
- sample_n_per_3_secs ... Sample N segments per 3 secs.

These are currently supported on Java agent. I don't think first one doesn't have to have because we can use same feature with current Envoy conf

[2021-02-19 12:40] NomadXD commented on #15095
@snowp I'm creating a **gRPC async client for each of the filter objects** that get created. So I think just doing a nullptr check will do the job. But since you mentioned about dispatching to main thread, I'm a little bit concerned about my implementation. So basically , according to my implementation **a gRPC bidi stream will be created for each of the filter objects that gets created.** Since t

[2021-02-19 13:22] wu-sheng commented on #15023
@Shikugawa Could you share how Envoy would do this?

[2021-02-19 14:17] rojkov commented on #12138
I've played a bit more with CDS and EDS: loaded 10000 clusters with EDS load assignments. For Envoy compiled with `-c opt` it took about 15 secs. In case of `-c dbg` - about 150 secs. So, compilation options can be very impactful.

But anyway it seems in the process of a CDS update there are three phases:
1. stats generation (~80 of 150 sec),
2. preparing to send gRPC discovery requests for EDS (~

[2021-02-19 14:29] jmarantz commented on #12138
Thanks for collecting these graphs. I assume from the numbers above that these were collected with. "-c dbg", right? Are you reluctant to collect them with "-c opt" because the names in the flame-graphs are less helpful, or you need line info somewhere?

One thing I use sometimes is "OptDebug": `--compilation_mode=opt --cxxopt=-g --cxxopt=-ggdb3`. That might be worth a shot.

[2021-02-19 14:33] adwski commented on #10575
Is this usable? How it can be configured?

[2021-02-19 15:07] Shikugawa commented on #15023
@wu-sheng Route config has tracing property and invoked by matched route. https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#config-route-v3-route

[2021-02-19 15:08] serhatcetinkaya opened #15118 "Is it possible to route requests by hashing an HTTP parameter ?"
*Description*:

Let's say I have 3 upstream hosts behind envoy (number of hosts is static and almost never changes) and I want to route traffic on them based on the value of some HTTP parameter. What I want to do is take HTTP parameter `p`'s value, calculate its modulus (p % 3 = k) and route the client to `k-th` upsteam server. For example:

http://example.com/api?param=123 -> since 123 % 3 = 0, t

[2021-02-19 15:14] sschepens commented on #8167
Maybe https://github.com/envoyproxy/envoy/pull/14875 will fix this.

[2021-02-19 15:19] wu-sheng commented on #15023
If your meaning is about routine settings, some with tracing opened, others are not. Then native configurations are really meaningful.
Changing the routing rules due to ignore rules, which are purely tracing's internal issues, is making the Envoy configurations very complex, and lack of maintainability

[2021-02-19 15:42] rojkov commented on #12138
Oh, thank you!  That's helpful. I used "-c dbg" to get more meaningful function names indeed. With the OptDebug options the call stacks are less deep, but still meaningful:

![tag-extraction-c-opt](https://user-images.githubusercontent.com/33377/108525608-f131b080-72d8-11eb-998f-84cf173ad137.png)

[2021-02-19 16:46] mattklein123 commented on #15113
This is something I have thought about and would be interested in discussing. I think with WASM this becomes tractable in some pretty interesting ways. Can you reach out to me and we can discuss further (contact info on my website if you can't otherwise find it)?

[2021-02-19 16:50] mattklein123 commented on #15099
There aren't any explicit architecture concerns. It's certainly possible to implement. The question is should we? In general most sophisticated Envoy users invest in xDS, which allows reconfiguration dynamically without performing hot restart. So hot restarts are really only used for binary restarts, and then typically in non-container scheduler worlds. I personally don't think it's worth it to im

[2021-02-19 17:07] akonradi commented on #9809
Right now Envoy has three different modes: `serve`, `validate`, and `initonly`. I think it makes sense for `validate` to be able to pass in a limited environment, but the question is "how limited?". Should `validate` assume access to the rest of the file system? It already precludes opening network connections, but should that also include not talking to the file system (beyond loading the config)

[2021-02-19 17:39] esmet commented on #15107
I do, yes. The draft is intended to fix this issue but I was hoping for some early feedback on the approach while I worked on other things, before pulling it out of draft.

[2021-02-19 17:45] Razdeep commented on #15076
@jmarantz I would like to work on this issue.

[2021-02-19 18:39] mattklein123 commented on #9809
@akonradi I think the main reason it works today is because people do have issues with local certs not being present / able to load, and some find value in this type of validation (for example validate before hot restart). I think a 4th mode, or a modified version of validate (validate options) would be worthwhile.

[2021-02-19 18:42] davinci26 commented on #15042
Closed with #15108

[2021-02-19 18:42] #15042 closed

[2021-02-19 18:42] zihuaweng opened #15119 "Got `GLIBC_2.18' not found error when using envoyproxy/envoy-build-centos"
I need to create an envoy image based on centos7 so I use envoyproxy/envoy-build-centos to build envoy. I used the same command for ubuntu `./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.dev'` but change the image to centos.

image:
envoyproxy/envoy-build-centos:edbec0b7a298045bc4f3adbb2c04a3a2d257ccf5
source:
envoy 1.17 release branch

It failed when building wee8 using gn
[code]
The envoyproxy/en

[2021-02-19 21:44] phlax commented on #14141
@mtttcgcg there is a fix i think in #15115

ill follow up with an update to docs once that has landed

[2021-02-19 21:44] htuch commented on #12138
There's some pretty strange stuff in the pprof heap profile. E.g. `Node` `MergeFrom` is allocating 2GB? What's going on there? :-D

[2021-02-19 21:47] junr03 commented on #15118
afaik there is no automatic calculation for what you propose. But you can combine [query param matching](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-msg-config-route-v3-queryparametermatcher) with clusters to enable that.

cc @snowp who might have more elegant suggestions.

[2021-02-19 21:48] junr03 commented on #15119
cc @lizan

[2021-02-19 22:14] tigerlily-he commented on #15026
Yes, what we're looking for is on-demand CDS. From my understanding, "on-demand CDS" means that CDS only starts looking for a cluster when there is a request for that cluster.

One of our use case is delegation table. We would like to be able to specify a path (e.g. /foo/bar) on a request. That request will go to one set of endpoints when a process is running in a production setting and another se

[2021-02-19 22:47] akonradi commented on #9809
In that case, I'd like to propose changing Mode to the following four levels of fidelity:
- `load`: load the configuration from disk and make sure it is syntactically valid
- `validate`: load the configuration and all required resources from disk, but don't open any network connections
- `initonly`: load the configuration and all required resources from disk, do everything except serve traffic
- `

[2021-02-19 23:30] adisuissa commented on #15026
Locality-Endpoint Discovery Service (LEDS, #10373) is a sub-EDS API to fetch the endpoints of a locality.

[2021-02-20 00:18] lambdai commented on #15026
IMHO what you describe is more like a namespace(or context maybe?) in CDS cc @htuch

[2021-02-20 00:23] lambdai commented on #15026
Since you erase EDS from title, I am creating new lazy load EDS to track the progress.

[2021-02-20 00:46] lambdai opened #15120 "lazy loadable EDS cluster"
Background:

The control plane may don't have adequate information to predict what cluster Envoy needs. The currently known approach is to including all possible clusters in the CDS response and all these cluster names will be send to EDS server.
The EDS server will keep envoy updated with the latest endpoints in those clusters.

#Problems:
1. EDS response on the wire is large. Partial will be res

[2021-02-20 01:32] wbpcode commented on #15023
I agree with @wu-sheng. For first feature, It would be better to use Envoy's SkyWalking native config. While a similar effect can be simulated using the configuration in the route, it introduces additional complexity.

[2021-02-20 01:40] wbpcode commented on #15023
For  the second one, I also tend to use the native configuration of SkyWalking to achieve it. This is not a general configuration of tracer, so at least for the time being, we have no need to abstract it to a higher level. A higher level configuration means a deeper intrusion into Envoy.

[2021-02-20 02:00] zihuaweng commented on #15119
Found a solution to bypass the glibc version issue and it works for red hat Linux 7 images.
[code]

[2021-02-20 05:49] lambdai commented on #12138
Maybe the image is rendering "alloc_space" (+X bytes for malloc(x), +0 for free()). @rojkov can you confirm?

[2021-02-20 08:47] soulxu opened #15123 "sni_cluster: case-insensitive comparing with sni and cluster name"
*Title*: *sni_cluster: case-insensitive comparing with sni and cluster name*

*Description*:
This is separated from the issue #6199 and PR discussion https://github.com/envoyproxy/envoy/pull/14793#issuecomment-774572561

When using sni_cluster filter, the sni_cluster will choose the cluster based on SNI value. From the RFC definition https://tools.ietf.org/html/rfc6066#page-6 the hostname is case-

[2021-02-20 10:33] sudeeptoroy opened #15124 "Add optional "resource" indicator parameter along with other params for the OAuth2 Authorization request workflow"
*Title*: *Add optional "resource" indicator parameter along with other params for the OAuth2 Authorization request workflow*

*Description*:

Example:
An example of an authorization request where the client tells the authorization server that it wants an access token for use at "https://api.example.com/app/" is shown below

(extra line breaks and indentation are for display purposes only).

GET /a

[2021-02-20 20:51] mattklein123 commented on #9809
+1 that would be great.

[2021-02-20 21:29] moderation commented on #15124
/cc Oauth [codeowners](https://github.com/envoyproxy/envoy/blob/main/CODEOWNERS#L158-L159) @rgs1 @derekargueta @snowp

[2021-02-21 09:45] lambdai opened #15126 "tech debt: connection handler implementation"
ConnectionHandlerImpl maintains the active listeners per worker thread.

Envoy has two categories of listener, tcp series and udp series. From the view of worker, both categories share the same interface: start, stop ...

It's a different story from the perspective of a listener.
Currently,
1. udp listener [put udp related function into ConnectionHandler interface. ](https://github.com/envoyproxy/

[2021-02-22 02:24] #15119 closed

[2021-02-22 05:58] mathetake opened #15129 "wasm: route matching for http filter"
It might be useful if Envoy allows users to specify when to call the Wasm callbacks, just like jwt filter. This would reduce the cost of calling back and forth between Envoy and Wasm VMs when users want to apply custom logics on the specific paths. cc @PiotrSikora @lizan

[2021-02-22 06:50] wbpcode commented on #14391
/no-state

[2021-02-22 06:51] kunalekawde opened #15130 "Updating outgoing IP Header"
*Title*: *Updating outgoing IP Header*

*Description*:
Looking for option to update IP header (DSCP which is part of IP_TOS socket options). Any idea?

[optional *Relevant Links*:]
https://groups.google.com/g/envoy-dev/c/ZkqIp8heYQo

[2021-02-22 06:51] wbpcode commented on #14391
/reopen

[2021-02-22 06:58] wbpcode opened #15131 "dubbo: more complete dubbo protocol support"
Title: more complete dubbo protocol support such as group/headers match

Description:

The current dubbo proxy only provides the ability to route based on interface and method. Although it does expose an API for group/headers matching, it does not implement it.

**There was a same issue before. But it was closed because of timeout. It seems that I cannot reopen it, so I simply re-created a new one

[2021-02-22 06:59] wbpcode commented on #15131
I will try get this done.

[2021-02-22 07:16] zyfjeff commented on #15131
🎉, Welcome to contribute

[2021-02-22 07:22] wbpcode commented on #15131
/assign wbpcode

[2021-02-22 07:43] jespersoderlund opened #15132 "Variable substitution in rewrite rules"
*Title*: Variable substitution in rewrite rules

*Description*:
Today it's possible to use regexp to match parts of the incoming path and re-write using these matches.

There are also situations where you want to include other parts of the request into the re-write rule, e.g. the value of a header or a metadata that has been picked-up.

A concrete example, is when proxying to a backend service whi

[2021-02-22 08:30] rojkov commented on #12138
No, that's "inuse".

This is how the profiler log looked like:
[code]

[2021-02-22 13:26] soulxu commented on #15043
hi, I submitted a PR to improve this, https://github.com/envoyproxy/envoy/pull/15135

[2021-02-22 15:39] justin-mp commented on #7763
RFC 6570 is great for creating URIs, but seems mum on actual matching patterns.  What would be the plan for turning URI Templates into matchers?

I ask because we're in need of a more flexible route-matching, but are trying to avoid exposing the complexity (both in user-friendliness and in runtime speed) of regexes.  We're thinking of building something based on "glob" operators:

 For non-URL pat

[2021-02-22 15:59] htuch commented on #7763
[http.proto](https://github.com/googleapis/googleapis/blob/f829b1334cce86aa3738f3c0698d814b56664445/google/api/http.proto#L208) with `?` added SGTM as the API here.

@mattklein123 @lizan @markdroth  @envoyproxy/api-shepherds WDYT?

[2021-02-22 16:22] tigerlily-he commented on #15026
Sure. It's clearer to spell out the design of lazy loadable EDS cluster in a separate issue. I am interested in the design doc when you have it ready. @lambdai

[2021-02-22 16:24] adisuissa commented on #10373
Here's [LEDS design doc](https://docs.google.com/document/d/1aZ9ddX99BOWxmfiWZevSB5kzLAfH2TS8qQDcCBHcfSE/edit?usp=sharing).
PTAL, comments are welcome.

[2021-02-22 19:16] ahaw commented on #15079
Ive mixed two configurations, and the expecting service was not listening

[2021-02-22 19:16] #15079 closed

[2021-02-22 20:07] lambdai opened #15140 "Has anyone encountered bazel build failure these days?"
The `bazel build //test/...` fails consistently when I provide concurrency=48. I double checked it's not OOM issue. I added huge swap, the swap spacer is not even used at the dying moment.

The phenomenon is that bazel stuck at a certain phase and the entire machine is not responding.

The top command shows that lots of clang processes are in D state. But I incline to believe clang is not the caus

[2021-02-22 20:08] lambdai commented on #15140
@lizan Have you ever encountered this? Is there any no-brain parameter I should blindly try?

[2021-02-22 20:42] sunjayBhatia opened #15142 "Lua filter: Expose streamInfo::requestedServerName()"
*Description*:
The Lua filter currently allows access to the "stream info" on a request which exposes a few helpful pieces of information ([docs here](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/lua_filter#config-http-filters-lua-stream-info-wrapper)) including the request protocol, downstream address, etc. Another useful piece of information in the stream info API

[2021-02-22 20:42] sunjayBhatia commented on #15142
Happy to put up a PR for this myself, but figured an issue would be better first

[2021-02-22 21:05] sunjayBhatia commented on #10871
un-assigning myself as its unlikely I will get to this soon

[2021-02-22 21:37] esmet commented on #14622
Let's un-stale this since I have an open PR for the HTTP implementation side

[2021-02-22 21:44] PiotrSikora commented on #15129
This is not unique to Wasm, see: https://github.com/envoyproxy/envoy/issues/11690.

[2021-02-22 21:50] esmet commented on #14622
@kev1n11 would be good to hear if this addresses your use case

[2021-02-22 22:03] lambdai commented on #15140
example running log
ci/run_envoy_docker.sh 'ci/do_ci.sh bazel.coverage'

[code]

[2021-02-23 00:29] mattklein123 commented on #7763
I talked to @htuch about this offline and in general I'm in favor. I don't feel very strongly about the language so I would go with whatever the simplest thing is that satisfies the known use cases. In terms of Envoy implementation/API details, I think the easiest thing to do is going to be to implement a new regex engine here: https://github.com/envoyproxy/envoy/blob/b23ee3b438050228b7c7b0097d182

[2021-02-23 00:38] lambdai commented on #15140
Reverted to 01/31/2021. Seems to help a little bit but not yet successful

[2021-02-23 02:55] htuch commented on #15123
I assume (2) would be a field on `Cluster`?

I'm planning for the `xdstp://` work to re-plumb cluster lookup, so that all cluster lookup occur via `ClusterHandle`, instead of a string. The `ClusterHandle` will be a place where name normalization can take place. For the case of DNS, I think it would be marginally cleaner to have `dns://bar.example.com` as name here, since this would allow the `Clus

[2021-02-23 03:12] rajpratyush commented on #14865
@MCCoyAle I would like to take up this issue. Although I am beginner but with a little guidance and support, I believe I can rectify this issue.

[2021-02-23 03:13] rajpratyush commented on #14605
@sunjayBhatia  I would like to take up this issue. Although I am beginner but with a little guidance, I believe I can rectify this issue.

[2021-02-23 05:02] lambdai opened #15145 "feature request: better build @com_googlesource_chromium_v8:build"
This target is internal spawn lots of tasks within. However, this target is considered as a single-core task from the view of bazel scheduler.

Generally speaking, when you run `bazel build //source/exe:envoy` with N cores, N tasks will be scheduled and at most N clang is running. However, if the running task contains @com_googlesource_chromium_v8:build, ~2N clang is running, and the peak ram usag

[2021-02-23 07:03] caitong93 opened #15146 "listener: performance degradation when exact balance used with original dst"
*Title*: *listener:performance degradation when exact balance used with original dst*

*Description*:

We use Envoy as a sidecar, all out bound traffic is first redirected to 127.0.0.1:15001(Envoy) by iptables, then forwarded to different listeners by original dst. When `exact balance` is enabled(on all listeners), we found the connection balance being worse. Tested with 32 downstream connections,

[2021-02-23 07:41] PiotrSikora commented on #15145
The official Bazel support has been requested from the V8 team (https://bugs.chromium.org/p/v8/issues/detail?id=11234), and I don't think we can do too much until that's ready, since Envoy doesn't want to maintain custom `BUILD` files.

To address the issue at hand, perhaps we could provide an upper bound to limit the number of CPUs that `ninja` can spawn when building V8? Note that this will slow

[2021-02-23 07:59] lambdai commented on #15146
IMHO the rebalance should be applied to the second listener. In most of the cases, the first listener doesn't own any connection

[2021-02-23 08:13] caitong93 commented on #15146
Correct me if i am wrong. It seems rebalance can only happen at the first listener, see [comments here](https://github.com/envoyproxy/envoy/blob/v1.17.0/source/server/connection_handler_impl.cc#L370). If `exact_balance` is only enabled for the second listener, I guess it won't work.

[2021-02-23 08:16] Gsantomaggio opened #15148 "wasm: Add support for Dynamic Metadata"
*Description*:
Currently in WASM is not possible to set [Dynamic Metadata](https://www.envoyproxy.io/docs/envoy/latest/configuration/advanced/well_known_dynamic_metadata).
_This metadata emitted by a filter can be consumed by other filters and useful features can be built by stacking such filters  For example, a logging filter can consume dynamic metadata from an RBAC filter_

One of the use cases

[2021-02-23 09:29] bhuvanl opened #15150 "Support PFADD and PFCOUNT in Redis - envoy"
*Title*: *Support Redis commands PFADD and PFCOUNT in envoy*

*Description*:

[optional *Relevant Links*:]

Are there any reason/blockers for enabling these additional commands  ?

[2021-02-23 11:23] wangfakang opened #15152 "A proposal of high-performance L7 network GoLang extension for Envoy."
Background
=======
Envoy is an excellent Sidecar in the field of Service Mesh. The use of modern C++ guarantees its high performance, but also increases the difficulty for developers. Although Envoy also supports Lua and WASM to enhance its scalability, there are some shortcomings in some scenarios (as shown in the table below); With the growth of GoLang's cloud native language ecology and popular

[2021-02-23 12:33] wbpcode commented on #14765
wip

[2021-02-23 12:33] wbpcode commented on #14765
/no-stale

[2021-02-23 15:36] snowp commented on #15152
This essentially boils down to providing some stable C API for filter management, correct?

I think in the past we've been trying to avoid having to provide a C API for Envoy due to the heavy use of C++ features like polymorphism (which becomes non-trivial to map to C) and wanting to avoid yet another set of APIs to maintain, which would slow down our ability to iterate on the existing C++ APIs.

[2021-02-23 15:54] sunjayBhatia commented on #14605
Basically the intent of this was to add a a section similar to https://www.envoyproxy.io/docs/envoy/latest/start/install#install-envoy-using-docker specific to Windows. Windows container images can only be pulled from Docker hub at the moment so you can omit the "Get Envoy" tab. I think in addition to that adjusting some of the prose at the top of the page and this table https://www.envoyproxy.io/

[2021-02-23 16:12] snowp commented on #15142
Sure, I see no problem with exposing this information.

[2021-02-23 17:00] lambdai commented on #15146
@caitong93  It won't work under the current code.

This is a reasonable scenario that to apply to the second listener.  @mattklein123 I can change if you agree.

[2021-02-23 17:08] lambdai commented on #15145
Thank you for the confirmation and for sharing the update at chromium! I don't think Envoy should invest too much.

[2021-02-23 17:30] jamesbattersby commented on #14866
I believe that I am having the same issue. I have a UDP proxy and updating the cluster definition most times causes a crash.  I see this in the logs:

[code]

The output does vary, sometimes I get more backtrace.  I see that this is already being looked at.  If it's useful I can try and pull together the minimum required to trigger the issue.

[2021-02-23 17:37] wangfakang commented on #15152
No, in this scenario C++ calls GoLang, not GoLang calls C++/C, so there is no need to implement the C API in Envoy. BTW Http GoLang filter is a common extension filter of Envoy Http, and will not modify filter management.,it's similar to the way that Envoy supports Lua extension (https://github.com/envoyproxy/envoy/tree/main/source/extensions/filters/http/lua).

Cilium L4 filter is a good extensio

[2021-02-23 17:40] ankatare commented on #12043
@htuch just thinking if following test case is simulates the behavior.

https://github.com/envoyproxy/envoy/blob/77d7cecb7e68cb41b2f5f7c2aa7f4294c88089ce/test/integration/cds_integration_test.cc#L178

[2021-02-23 17:41] ankatare commented on #12043
please let me know your view

[2021-02-23 18:08] kindermoumoute opened #15156 "http direct response: grpc-status is overwritten when content-type is grpc"
*Title*: *grpc-status is overwritten when content-type is grpc*

*Description*: when `grpc-status` header is returned through `response_headers_to_add` envoy will overwrite this header in some cases (see below).

*Repro steps*: bug was introduced on envoy 1.16.0 and it was reproduced on 1.16.2 and 1.17.0.

[code]

**Expected**: returned `grpc-status` should be 3 (see config below).
**Actual**: ret

[2021-02-23 18:09] sagarkal commented on #14869
@moderation Bump #2

[2021-02-23 18:09] sagarkal commented on #14869
@moderation Bumping up again

[2021-02-23 18:19] mattklein123 commented on #15146
Yeah I agree we probably need to specially handle this case where for forwarded connections we do the rebalance at that point and not initially.

[2021-02-23 18:25] mattklein123 commented on #15152
In general I'm in favor of doing this as I think it would unlock a huge amount of extensibility within the existing cloud native ecosystem. A few high level comments:
- Cross referencing https://github.com/envoyproxy/envoy/issues/15113 which talks about using Envoy as an application platform (cc @nobodyiam). There is a lot of related concepts here, but in particular I really like the idea of allow

[2021-02-23 18:37] kindermoumoute commented on #15156
It might be introducted with https://github.com/envoyproxy/envoy/pull/12866

[2021-02-23 20:06] mattklein123 commented on #14866
I just tried to repro this on current main branch and I can't repro. @bartebor can you check current main branch with your repro instructions to check me and see if I'm maybe doing something wrong? Thank you.

[2021-02-23 20:15] mattklein123 commented on #14866
I just tried the repro instructions on 1.17.0 and I also can't repro so I'm probably doing something wrong?

[2021-02-23 20:17] snowp commented on #15152
The existing C++ filter API is heavily callback driven, so if we want to expose the full power of C++ filters we'd need to provide a way for the filter to interact with these callbacks, which would require a way to interact with this API through C.

If the scope of this is much smaller and more in line with what the Cilium L4 filter does, then the complexity of this is greatly reduced.

I guess my

[2021-02-23 20:37] bartebor commented on #14866
Hmm, I just tried above instructions (with just copying into terminal) and envoy (docker image, envoy-debug:1.17.0) crashed on the first try:
[code]
@mattklein123 we need to make sure that:
1. envoy connects to crash management server and creates listener `cluster-1`:
[code]
2. when calling `/triggerChange` endpoint, management server emits a confirmation:
[code]
and envoy reloads cluster `cluster

[2021-02-23 21:14] mattklein123 commented on #14866
OK thanks I thought it was an instant crash with single repro. I can repro if I do the update over and over again. I will take a look.

[2021-02-23 21:41] alyssawilk commented on #14890
OK, this is in, but default off behind the guard "envoy.reloadable_features.dont_add_content_length_for_bodiless_requests"

Would someone encountering this problem be willing to canary and make sure it works well for you?

[2021-02-23 21:42] lizan commented on #15152
+1 In general this looks great. We've been thinking of using the WASM ABI as the stable C API, so that might hold here as well. We already have Null (native) WASM extension (which is not in WASM sandboxed but statically linked), so the CGO interface could be just based on that as well.

cc @mathetake working on WASM and Go WASM SDK as well.

[2021-02-23 21:46] akonradi commented on #2636
/assign @akonradi

[2021-02-23 22:01] chradcliffe commented on #14890
I can take a look at this tomorrow. We have a reliable test case for this.

[2021-02-23 22:13] erir910 commented on #15152
Can I ask a stupid question? why not just introduce a gRPC API with an interface similar to https://github.com/proxy-wasm/proxy-wasm-rust-sdk/blob/master/examples/http_headers.rs? . I undestand that gRPC may imply huge latency penalty but when using Envoy as sidecar, the communication is usually done over localhost. Also I am not sure how this would work for wasm or golang or whatever for any case

[2021-02-23 22:13] lambdai commented on #14598
I haven't looked into the detail. You guess seems reasonable. I can give it a try.

The general rule to apply the config: the latest legit config win. I think v48 is legit. So v48 is the latest thus the eventual state in Envoy should be v48.

CC @tbarrella Do you want to take a look?

[2021-02-23 22:25] lambdai commented on #14866
Is `UDP` in the title the red herring? Is TCP cluster impacted as well?

@mattklein123 I am not sure if https://github.com/envoyproxy/envoy/pull/14954 fixes it... I remember the fix was initially aiming to address the callback data race in #13209

[2021-02-23 22:26] mattklein123 commented on #14866
I don't know if it's a red herring or not. Is still repros on current main branch. I'm debugging now and will report back.

[2021-02-23 22:29] jasonstitt opened #15159 "Escape percent sign in log/custom response format"
*Title*: *Escape percent sign in log/custom response format*

*Description*:

The "access log" format uses %s for format strings, such as `%RESPONSE_CODE%`, but I don't see any way to escape a literal percent sign. Couldn't find one documented, and tried both `\%` and `%%` and neither worked.

Use case: This isn't just a log format, it's also used for custom responses (by `type.googleapis.com/envo

[2021-02-23 23:29] mathetake commented on #15152
+1 in general, but we will definitely face tons of issues in GC and any other Go's language level runtime (e.g. When to run GC if an extension allocates inside Go?).

Would love to see the design doc so that we could discuss this down to the implementation detail.

[2021-02-23 23:36] mattklein123 commented on #14866
The problem is https://github.com/envoyproxy/envoy/blob/f155eaac66fc23cd3e1a7bf5c4ec2309d308dbb1/source/extensions/filters/udp/udp_proxy/udp_proxy_filter.cc#L78

Is no longer valid when the cluster is updated due to the order of the update callbacks when a cluster is updated. It's possible that redis proxy also has this problem but I'm not sure yet. I will work on fixing this. I think the best thi

[2021-02-24 00:05] lambdai commented on #14866
Maybe the ~ClusterInfo wrapping this line should be executed on worker thread either

[2021-02-24 00:09] lambdai commented on #14866
I take it back.

[2021-02-24 00:21] lambdai commented on #15120
Design doc: https://docs.google.com/document/d/1-QgiqOCq8EcQO1cO22dRFKpuUglQp_pKZVXFCPmMSJQ/edit?usp=sharing

[2021-02-24 00:28] #6199 closed

[2021-02-24 00:31] louiscryan commented on #7763
One other consideration of Justins example above is that the matcher emits an attribute/metadata by tagging match segments. This is useful for rewrites on forward and has uses in other policy contexts. Same would be true for regex groups.

@htuch

[2021-02-24 01:11] arkodg commented on #14454
happy to pick this up @lizan

[2021-02-24 01:20] htuch commented on #7763
Yep, I think this is a pretty powerful approach. @louiscryan can we confirm that from the Istio-side that `http.proto` would be a good choice?

[2021-02-24 01:30] htuch commented on #6580
Marking help wanted, I think we should at least cleanup the atoull.

[2021-02-24 01:51] yangminzhu commented on #15148
I think this will be very useful, it allows to decouple the logic and the WASM module could be simpler and focus on the metadata generation. And then use the dedicated RBAC filter for enforcement that is very flexible in access control API.

[2021-02-24 01:56] mandarjog commented on #15152
@htuch how does this compare with grpc-remote filters proposal ?

[2021-02-24 02:16] #15085 closed

[2021-02-24 02:21] htuch commented on #15152
@mandarjog the `ext_proc` work now has landed API, which is at https://github.com/envoyproxy/envoy/tree/main/api/envoy/extensions/filters/http/ext_proc/v3alpha and implementation is happening. @gbrail is the best contact here.

IMHO, if we wanted to go out-of-process, something like `ext_proc` is desirable. If we want to stay in process, I think this CGO API is interesting for Go, but it would beh

[2021-02-24 02:26] wbpcode opened #15163 "http call always failed (no healthy upstream) if target cluster has lb subset config"
*Title*: http call always failed (no healthy upstream) if target cluster has lb subset config

*Description*:

When I try to send http request with `cluster->httpAsyncClient().send(...)`, if target cluster has lb subset config, then the requests always failed with a No Healthy Upstream error.
The reason is the metadataMatchCriteria() of route entry of async http client always return null.

https:/

[2021-02-24 02:41] wbpcode commented on #15163
Maybe we can extend RequestOption so that it can be used to pass metadataMatchCriteria. When users use async http client to send requests, they can configure metadataMatchCriteria according to their needs.  🤔

[2021-02-24 02:44] antoniovicente opened #15164 "test: io_socket_handle_impl_integration_test.cc contains non-hermetic tests that depend on external network connectivity"
The style guidelines in https://github.com/envoyproxy/envoy/blob/main/STYLE.md call for tests being hermetic and no non-local network access.

The test in https://github.com/envoyproxy/envoy/blob/main/test/common/network/io_socket_handle_impl_integration_test.cc depends on external network connectivity to a hard-coded external IP address and fails in environments that correctly restrict external n

[2021-02-24 02:52] davinci26 commented on #15164
We discussed in the PR with the reviewers and this is why I marked the test as `tags = ["requires-network"]`  (see [here](https://github.com/envoyproxy/envoy/blob/5e9806c1912866c6acf599fdd3370019eaaf99a9/test/common/network/BUILD#L436))

Is this not good enough?

[2021-02-24 02:59] Xunzhuo opened #15165 "docs: localization plan for docs (arch and API)"
*Title*: *support Chinese Docs*

*Description*:

[optional *Relevant Links*:]

[2021-02-24 03:01] antoniovicente commented on #15164
Thanks for pointing to that PR review comment.  It may have been helpful to add a comment that refers to it to the test's source code.  I didn't know about `tags = ["requires-network"]`, it seems that this test is the only one tagged in that way.

I filed the bug due to getting a report of this test failing in a dev's environment while reviewing a PR.  See https://github.com/envoyproxy/envoy/pull/

[2021-02-24 03:11] antoniovicente commented on #15159
Yeah, seems like we should add %% -> % as a substitution option to substitution_formatter.cc

[2021-02-24 03:23] davinci26 commented on #15164
Yeah makes sense, I will add some comments on the source code of the test to leave trails on the discussion to make it clearer for the next person.

We chose it over the `manual` tag, because manual libraries are not getting compiled on CI and they end up being stale code. This allows devs to have a clear way to execute this feature on their dev box otherwise the code is not getting covered at all

[2021-02-24 06:18] caleblloyd commented on #10942
I am successfully using this - it is currently letting through both encrypted client sessions opened with `sslmode=require` and unencrypted client sessions opened with `sslmode=disable`.  Unfortunately this is the nature of STARTTLS

Is there any way to set a network filter to enforce TLS and drop connections that don't send the initial `SSLRequest` packet?

Or would the Postgres filter need anoth

[2021-02-24 06:32] ahachete commented on #10942
That's great news @caleblloyd that is wokrking well for you. Your question is quite relevant.

Normally, this is enforced at PostgreSQL level by `pg_hba.conf`. On this case, however, it can't be done as the upstream connection is (always) unencrypted, so PostgreSQL isn't aware of this.

One option would be to implement at Envoy level some directive, as you say. To make it more general, it could be

[2021-02-24 07:39] caleblloyd commented on #10942
@ahachete thanks for your work on this, and thanks for the quick response!

I'd like to continue the discussion in the appropriate issues- is there already an issue open for requiring SSL and/or the HBA?

[2021-02-24 10:14] terorie commented on #14542
Please remove the stale label. Envoy is still incompatible with GitHub's OAuth 2.0 provider.

[2021-02-24 10:27] caoyukun0430 opened #15168 "Add overload/overflow header(information) to responses triggered by cluster max-retries reached"
*Title*: *Add x-envoy-overloaded header OR upstream_rq_retry_overflow related header/body to responses triggered by Cluster maxretries reached*

*Description*:
Currently, when **Cluster maximum pending requests** or **Cluster maximum requests** is configured by circuit breaker, and we have requests beyond the threshold. We will get the **local response(reply)** from Envoy containing the *x-envoy-o

[2021-02-24 11:47] gengleilei opened #15169 "Is there a way to get the original value of host before rewrite ?"
I need to print the original value of the host in the access log, and currently use the AUTHORITY field to extract the host value. If host is rewritten, the rewritten value is extracted from the AUTHORITY field, Is there a way to get the original value of host before rewrite ?

[2021-02-24 12:14] wangfakang commented on #15152
I think it is not necessary for GoLang extension to expose full the API of C++ filter's callback. In addition, the callback of Envoy C++ filter don't necessary to be called API through C, we can design a call description between C++ and GoLang filter; For example, if set `C.struct_GolangResponse.direct_response = 1` and Golang passes the description to Envoy via the API, and then Envoy GoLang exte

[2021-02-24 12:18] wbpcode commented on #15169
Set original host value to filter state or dynamic metadata before host is rewritten. Access log can print value in filter state or dynamic metadata. In general, a simple C++ filter can easily achieve this.

[2021-02-24 12:22] wbpcode commented on #15169
or simple lua script also can do this.
https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/lua_filter#dynamicmetadata

[2021-02-24 12:26] Gsantomaggio commented on #15148
Thank you for the feedback @yangminzhu.
I am trying to understand how to add the feature, sorry but I am far to be an expert here.
I am looking for some suggestions, as far as I have understood I have to change [`setProperty`](https://github.com/envoyproxy/envoy/blob/main/source/extensions/common/wasm/context.cc#L1123) by adding `stream_info->setDynamicMetadata(`

What I am missing is the conditio

[2021-02-24 12:32] soulxu commented on #15123
Yes

Sorry, I didn't get what `ClusterHandle` is, is it something you are working on, or will be introduced in the future?

The only downside of `dns://` way in my mind is If you put the `dns://bar.example.com` to an old version envoy which doesn't know about `dns://`, the envoy accepts that value and comparing `dns://` part. The explicit config option will get the check naturally, the old version

[2021-02-24 12:59] wangfakang commented on #15152
It's a good question. On the one hand, it is a performance issue(it is necessary to cross-process communication), @htuch also commented above on this point(`ext_proc` vs CGO). On the other hand, by the wasm way it can not re-use the existing golang sdk, need to transform the network IO.

[2021-02-24 13:32] Shikugawa opened #15170 "Fallback when GrpcService parse failed to create gRPC call on wasm"
It will be troublesome not to allow just identifying gRPC target host name as `grpcCall` argument. Specifically, we should provide fallback mechanism if `GrpcService` parse failed from bytes stream.

https://github.com/envoyproxy/envoy/blob/c8fb3a56b4e8e282b0da80e2b19a347969d9cb2f/source/extensions/common/wasm/context.cc#L981-L984

We will get into some trouble without this feature when we introdu

[2021-02-24 13:41] erir910 commented on #15152
@wangfakang yes, it looks like the `ext_proc` HTTP filter is exactly what I asking for. btw, the latency over localhost (assuming that the envoy instance is running as a sidecar container within the same pod as the listening gRPC server for instance) is extremely low on modern linux, I guess it's within a few tens of microseconds RTT (just ping your own localhost for example) so the latency is not

[2021-02-24 13:44] Shikugawa commented on #15170
cc @mathetake @PiotrSikora

[2021-02-24 13:45] wangfakang commented on #15152
It's a good idea, I will look at this spec: https://github.com/proxy-wasm/spec/blob/cc53262df056036427476b272fb8f2438aa7975f/abi-versions/vNEXT/README.md. Thanks you!

[2021-02-24 13:58] wangfakang commented on #15152
It's very cooool.

Ok.

Thanks your reply. We'll put a long form design doc on this topics, then we could discuss the design details.

[2021-02-24 14:38] ahachete commented on #10942
There's no specific issue created yet. I just raised this question on Envoy's Slack #envoy-postgres channel, to understand first if this should be related to Envoy's RBAC module, or rather a separate functionality of the current Postgres filter. Once this is discussed, I will open an issue with the approach to implement this.

[2021-02-24 16:01] rojkov commented on #14367
IIUC this was discussed in https://github.com/envoyproxy/envoy/issues/8301 and https://github.com/envoyproxy/envoy/pull/8231#discussion_r324191998.

What would be the per-resource version here? A new field for UUID in e.g. `envoy.config.cluster.v3.Cluster`?

As an alternative @mattklein123 mentioned a message differencer. I guess this is about Protobuf's [MessageDifferencer](https://developers.goo

[2021-02-24 17:24] mattklein123 commented on #15165
This is something I would really like to see happen, but realistically it's going to require a significant capital investment in localization tooling, professional tech writing, translation services, etc. I'm going to mark this help wanted and will discuss with @caniszczyk and team to see what we can do here over the next year or two.

cc @phlax just as an FYI

[2021-02-24 17:31] zuercher commented on #15163
Some mechanism for passing the required metadata would be necessary for this to work.

[2021-02-24 18:19] phlax commented on #15165
i would love to see the docs localizable!

there are a few things we need to do to get to that point - to my mind the first is to make the content more localizable - ie get rid of "walls of text" and replace with pithy easy-to-translate statements - we have made quite a bit of progress on this i think

once that is done the next issue is to get the translation machinery in place - dumping strings

[2021-02-24 18:43] mattklein123 commented on #15165
@phlax do you have any idea as to whether Sphinx supports localization well? I see https://www.sphinx-doc.org/en/1.5/intl.html but not sure how well that works versus other solutions.

[2021-02-24 18:45] phlax commented on #15165
not sure about well - but there is support - i would need to look again to figure out any specific issues with our codebase

[2021-02-24 18:46] davinci26 opened #15174 "Default value for profile_path should resolve to APPDATA on Windows"
[code]
See `bootstrap.proto`

It should be placed on `%LOCALAPPDATA%\envoy`

[2021-02-24 18:49] lambdai commented on #15165
This is the doc diff in the last year.

$ git diff --stat `git rev-list -n 1 --before="2020/02/23" main`...HEAD docs/*rst |tail -1
 360 files changed, 14440 insertions(+), 4183 deletions(-)

The incremental change is not huge.

[2021-02-24 18:51] phlax commented on #15165
@lambdai  that doesnt include the generated content in the docs tho - ie api strings etc

[2021-02-24 18:54] lambdai commented on #15165
True...

[2021-02-24 19:11] jsanford-toast opened #15177 "Sustained 503 + NR in xDS"
*Title*: Sustained 503 + NR in xDS

*Description*:
We’ve implemented envoy as a sidecar proxy to some of our microservices. Our AggregatedDiscoveryService uses the incremental xDS protocol (DeltaDiscoveryRequest/Response). We have ran into an issue lately where it seems that clusters disappear from our envoy sidecars. We see access logs show a 503 status code and NR response flag, like so `POST /a

[2021-02-24 19:45] chradcliffe commented on #14890
Looks good to me! All the plumbing appears to be in place and with the runtime flag enable there's no C-L:0 field emitted for the site that we were having trouble with. Thanks!

[2021-02-24 19:57] lambdai opened #15178 "feature request: query cluster intialization status"
We can now query the active cluster and warm cluster to know what clusters are able to use.
It's adequate to explain why a request is "NR 503", but it's still hard to troubleshooting why a cluster stays warming up.

We can expose the per cluster init::manager to cluster manager and query init manager's unready target.

The followings are need to be resolved.
1. The cluster ready details query shou

[2021-02-24 22:14] lambdai opened #15180 "another envoy shut down issue: assert numSymbols() == 0"
The signal-unsafe can be ignored for now. I paste for keep the context self-contained.

The broken assertion is probably '#18'.

My guess is that this is wasm specific issue.

[code]

[code]

[2021-02-24 22:50] arkodg commented on #14454
can't seem to reproduce the flakiness
here's what I did
[code]

[2021-02-24 22:56] Xunzhuo commented on #15165
Sure, and if there is anything I can do, I can contribute as a Chinese Developer😊

[2021-02-24 22:58] lizan commented on #14454
The flakiness is from downloading the source from GH:
https://github.com/envoyproxy/envoy/blob/release/v1.17/ci/Dockerfile-envoy#L8

it may not reproducible easily in your local env though.

[2021-02-24 23:28] markdroth opened #15182 "hash policy should look at all values of a header"
The current hash policy code only looks at the first value of a given header.  The code even has a TODO about this:

https://github.com/envoyproxy/envoy/blob/76286f6152666c73d9379f21f43152bd03b00f78/source/common/http/hash_policy.cc#L42

For consistency with the changes that were recently made in routing to always look at multiple values of a given header, I think we should do the same thing here.

[2021-02-24 23:48] kindermoumoute commented on #15156
Looks like the direct response code fallback to this part of the code: https://github.com/envoyproxy/envoy/blob/d1a28c45b73de991ade829e55558cf36791058b7/source/common/http/utility.cc#L546-L568

Right now the only way to set a grpc status in a direct response is to rely on this [httpToGrpcStatus](https://github.com/envoyproxy/envoy/blob/1d1b708c7bf6efa02c41d9ce22cbf1e4a1aeec2c/source/common/grpc/st

[2021-02-24 23:50] tbarrella commented on #14598
Looking somewhat briefly at the code, it looks like what @howardjohn said about the order of events fits. With these events, because v48 is ACKed before v47 finishes initializing, the control plane would think that Envoy is on v48, leaving it stuck at v47. And the code you linked to is where it looks like the fix could go, something like

[code]
I don't yet have the details of how to do this...

[2021-02-25 00:28] lambdai commented on #14598
Good catch! It might be as easy as erase it from existing_warming_cluster. But there might be corner cases

[2021-02-25 02:18] gengleilei commented on #15169
Thank you very much for your reply. Does the above method need to modify the Envoy code? Are there fields in the existing HTTP header that can be extracted directly.

[2021-02-25 02:19] nitgoy opened #15185 "Expose filter chain name to metrics"
Now that we have support for [filter chain names](https://github.com/envoyproxy/envoy/pull/14983), it'd be really useful to expose them in the metrics. Ideally, all the metrics emitted by filters inside a filter chain should have that filter chain's name added as a label.

[2021-02-25 02:57] htuch commented on #15123
I think from a rollout perspective you would still use the existing cluster names with SNI cluster and then rollout duplicate clusters with the new name to switch to this scheme. That's kind of a harsh requirement vs. flipping a flag on the new config, so maybe we should go with (2).

`ClusterHandle` was something I was planning to add, but don't let that hold you up.

[2021-02-25 03:03] htuch commented on #14367
We would wrap all resources in the SotW `repeated google.potobuf.Any resouces` with a `Resource` message. This would provide a per-resource version. This has been discussed elsewhere, such as in per-resource TTLs for SotW. CC @markdroth @envoyproxy/api-shepherds

[2021-02-25 03:16] htuch commented on #15182
Yeah, this seems a bug to me, we should hash on the full header as per @mattklein123

[2021-02-25 03:46] wbpcode commented on #15169
If you use C++ filter do this, you may need develop a new simple C++ http filter. If you use Lua script do this, then you don't need to write any C++ code.
Currently in envoy, for each request Headers, it is an object shared by each module. After rewriting, the original data cannot be retrieved. You can only use some methods to save the required original data before rewriting.

[2021-02-25 05:49] nobodyiam commented on #15152
This looks quite promising!
It will greatly improve Envoy's extensibility and make things like `Envoy to evolve into an application runtime` possible. Looking forward to the detailed design!

[2021-02-25 06:12] roycyz opened #15187 "Can shadow mirroring be used in Dubbo mode"
Just like the title. Is it support this model.

[2021-02-25 08:13] phlax opened #15188 "Add UDP proxy sandbox example"
*Description*:

It would be great if we had a sandbox example of proxying UDP

[2021-02-25 09:13] carolove commented on #15152
great! it will provide an alternative to involve envoy filters

[2021-02-25 13:10] phlax opened #15191 "Remove duplicated links to extensions/categories"
### Description

Now that we have automated linking between categories/extensions we need to remove the duplicated hard-coded existing links

[2021-02-25 14:18] RameshKandukuriB opened #15192 "How to expose envoy outside the localhost"
Configured envoy as edge gateway using standalone exe, I can route and access the the https endpoints using localhost:PortNumber. I need to expose my localhost outside on the network so that other users on my domain access the endpoints. What configuration should I use to expose envoy-gateway on my localhost to the domain network?

[2021-02-25 16:45] antoniovicente commented on #2943
It would be good to get this fixed soon.

[2021-02-25 16:58] rojkov commented on #12138
New findings:

1. when Envoy restarts it triggers this [code path](https://github.com/envoyproxy/envoy/blob/76286f6152666c73d9379f21f43152bd03b00f78/source/common/upstream/cluster_manager_impl.cc#L78) upon CDS initialization
[code]
Here `secondary_init_clusters_` is `std::list`. In case Envoy loads 10k clusters this `secondary_init_clusters_.remove_if()` line takes 4 sec, in case of 30k it takes a

[2021-02-25 18:27] L3o-pold commented on #14866
I think we have the same issue with TCP redis.

[code]

[2021-02-25 18:41] Starblade42 commented on #12138
That’s excellent work! It would be awesome if a data structure change could bring down the operational time by a lot.

[2021-02-25 19:02] mk46 commented on #15191
Hi @phlax,  I would like to take it. Could you please point any example? Thanks!

[2021-02-25 19:11] tgraf commented on #15152
We are happy to participate and we are happy to upstream our work assuming we get some help.

[2021-02-25 19:14] stevenzzzz commented on #10373
cc @stevenzzzz

[2021-02-25 19:14] mattklein123 commented on #15076
Fixed by https://github.com/envoyproxy/envoy/pull/15133

[2021-02-25 19:24] jmarantz commented on #15076
This is a great improvement but I don't think it's ideal.

I think "--help" should give you both skip_expensive_benchmarks *and* the google benchmark options. Otherwise they are hard to discover. The checked in fix makes all the options work (yay!) but only shows help for skip_expensive_benchmarks.

IMO the best solution (as described above) is to use the absl command-line flags for everything, th

[2021-02-25 19:34] stfp opened #15193 "grpc status details are percent-encoded when mapped to json"
*Title*: grpc status details are percent-encoded when mapped to json

*Description*:
When using envoy's grpc-json transcoding with `convert_grpc_status: true` and a nodejs upstream, envoy does not decode "percent encoded" responses, eg. we send responses like `{"code":5,"message":"No%20such%20resource","details":[]}` instead of `{"code":5,"message":"No such resource","details":[]}`

This one-liner

[2021-02-25 19:53] phlax commented on #15191
hi @mk46 - cool!

there are a couple of parts to this and there are quite a few places that need updating i think

also, there are a couple of different situations we need to think about.

it might make sense to address this incrementally

a good example to get started is here:

https://storage.googleapis.com/envoy-pr/48325a4/docs/api-v3/config/accesslog/v3/accesslog.proto.html#config-accesslog-v3

[2021-02-25 20:13] markdroth commented on #14367
I would really like to see us move away from depending on the system version for ACK/NACK semantics, since IMHO that makes the protocol semantics incredibly hard to understand and reason about.  Ideally, we would do this by migrating everyone to the incremental protocol variants and finally deprecating SotW.  But if we don't think that's feasible any time soon (which would not be surprising), the

[2021-02-25 20:18] akonradi commented on #14798
@antoniovicente what kind of follow-ups?

[2021-02-25 20:36] jrajahalme commented on #15152
The CGO API (https://github.com/cilium/proxy/blob/master/cilium/proxylib.h) used by Cilium Go extensions for Envoy is already completely Cilium-independent and while it's currently operated by the Cilium network filter it should be trivial to create a stand-alone Envoy network filter for it. It defines C++ types for Go strings and slices that allow passing configuration and connection data to Go e

[2021-02-25 20:43] jrajahalme commented on #15152
Right, mapping HeaderMaps to a structure that Go can read will involve re-creation of an array (or slice) of Go slice headers, while the header names and values themselves do not need to be copied.

The header you referred above is the one generated by CGO and contains C prototypes for the API functions implemented in Go. The supporting code with C++ definitions for the Go slices and strings as we

[2021-02-26 00:10] tbarrella commented on #14598
Looking into this more, `warming_clusters_.erase(existing_warming_cluster)` would cause `ClusterManagerImpl::onClusterInit` to use v48, but after `Cluster::initialize()` had been called on v47. It seems like this would be fine if `initialize()` didn't have any side effects, i.e. if it only affected v47 itself. But it seems safest to instead revise the above to
[code]
In other words, always proceed

[2021-02-26 00:55] jcetkov opened #15201 "duplicate stats entry"
*Title*: duplicate stats entry

*Description*:
Duplicate histogram entry created in `/stats` and `/stats/prometheus` endpoint with restarted counting, leading to given histogram/bucket counters no long showing correctly/updating in prometheus.
[code]
this was observed in envoy `envoy  version: 2c3361dce1d39448805fe6db75ec8e1bac4b89fa/1.15.4-dev/Clean/RELEASE/BoringSSL` running as istio ingress gat

[2021-02-26 01:04] jcetkov commented on #15201
the respective `/stats/prometheus` has the same duplication
[code]
with only the later in each case being updated over time

[2021-02-26 01:20] mattklein123 commented on #11532
For everyone watching this issue I'm going to fix this, but I'm trying to sort through some details. First, the request ID header mangling is behind this guard AFAICT: https://github.com/envoyproxy/envoy/blob/ea39e3cba652bcc4b11bb0d5c62b017e584d2e5a/source/common/http/conn_manager_utility.cc#L261-L263

So AFAICT no mangling will occur unless the user configures the `tracing` field in the HTTP conn

[2021-02-26 02:30] yanavlasov commented on #15192
I doubt anyone can answer this question. It depends on you network configuration and not on Envoy. You may need to do nothing or a lot depending on your situation.

[2021-02-26 03:04] sunnoy opened #15206 "route_config.virtual_hosts.domains can't route the Fully-Qualified Domain Names"
*Title*: *route_config.virtual_hosts.domains can't route the Fully-Qualified Domain Names*

*Description*:

would be used.

the domains is
[code]

req is :
the host is `www.baidu.com.`

[code]

i get the access log :
[code]

[optional *Relevant Links*:]

[2021-02-26 03:44] #15192 closed

[2021-02-26 06:12] masbaehr opened #15207 "[Question] Problems switching from 1.16 to 1.17 - v2 to v3 static configuration"
Hi, after several attempts of trying i gave up and cant figure out how to make this configuration work with latest envoy version 1.17.
Could you please help?

Note: Working with 1.16 (though some warning about v2), but not working with 1.17

I understand that i have to switch to

extensions.filters.network.http_connection_manager.v3.HttpConnectionManager

But this does not seem the only change nec

[2021-02-26 06:49] phlax commented on #15207
@masbaehr

can you try:

[code]

[2021-02-26 07:08] masbaehr commented on #15207
Thanks the transport_socket part makes it work again, probably it did not recognize tls_context

👍

May I also ask if i have to change anything for the JWT config? Tried to add this and the service does not start up anymore.

This is the correct documentation?
https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/jwt_authn/v3/config.proto

         http_filters:
          - na

[2021-02-26 07:13] phlax commented on #15207
im not certain - i havent any experience with that filter

if you check the envoy startup logs it should point you to problems in the config

for example - your original config had the following error

[code]

[2021-02-26 07:36] p53 commented on #15045
update?

[2021-02-26 08:46] phlax commented on #14141
@ToniCipriani @mtttcgcg if you can confirm that this issue was resolved in #15115 ill add a note in docs and we can close this ticket i think

[2021-02-26 09:23] Brunomachadob commented on #11532
Hey @mattklein123, thanks for help on this.

Yes, we are using `tracing`, I have this old issue about the same problem, but I closed in favour of this one, you can check a simplified version of our use case there: https://github.com/envoyproxy/envoy/issues/13774

What we were considering was to have something along the lines of your option `2`, we were just initially thinking if this option should

[2021-02-26 09:49] sfudeus commented on #11532
Hi @mattklein123, thanks for working on this one.

What you describe would solve our problem with the current things.
We are using x-request-id completely unrelated to tracing and we rely on it being unchanged (since we are relaying it back in the response chain and expect no change to happen).
Orthogonally, we'd like to use tracing, but using b3-headers for that.

[2021-02-26 14:01] asraa commented on #6589
For observability, if we split this path we may want to default log the original path (that contains the most information, normalized paths can be recovered from the original). We should add formatters like `%UPSTREAM_PATH%` or `%NORMALIZED_PATH%` in case users want a way to view the upstream or internal normalization for matching.

[2021-02-26 14:14] ToniCipriani commented on #14141
Looks good. Deployed envoyproxy/envoy-alpine-dev, container did not complain and I can see logs. Did a few basic tests and seems to work fine.

Thanks.

[2021-02-26 14:41] Keramblock opened #15211 "Questions: what does it mean to get 507 code from envoy?"
*Title*: *Questions: what does it mean to get 507 code from envoy?*

*Description*:
Hi, I just get response code: 507 with response text: "exceeded request buffer limit while retrying upstream". And I just cant understand what happend, because the only trace of that error I can find is link to the place where error was raised in source code:
https://github.com/envoyproxy/envoy/blob/main/source/com

[2021-02-26 15:01] htuch commented on #6589
Yes, I think original path should be default as anyone doing audit logging will want to see that.

[2021-02-26 15:40] costimuraru commented on #11050
@nezdolik the RFC looks great, man. Is there anything that prevents us from implementing it?

[2021-02-26 17:00] #14866 closed

[2021-02-26 17:16] mattklein123 commented on #11532
Yes, this is my plan. I'm going to allow configuration to be passed to the built in UUID request ID extension. Initially I will just add configuration to disable trace status packing, but eventually we could also allow the header name itself to be configured. I think this will satisfy all of the problems that are being reported here.

[2021-02-26 17:30] bianpengyuan commented on #15201
cc @jmarantz Anything suspicious? Seems like the histogram stats was corrupted. Is there anything that needs to be collected to troubleshoot this?

[2021-02-26 17:58] FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg commented on #15045
I have not touched the codebase  in close to 8 months. @jamesbibby implemented Redis 6 support per https://github.com/envoyproxy/envoy/pull/11408, perhaps he knows?

[2021-02-26 18:22] jmarantz commented on #15201
Yeah this was fixed shortly after 1.15.* was released. It was merged on August 10, 2020 here: https://github.com/envoyproxy/envoy/pull/12275 and 1.15.0 was released on Jul 7, 2020. So Envoy 1.15.4 does not include the fix for the duplicate histogram issue. 1.16+ does.

[2021-02-26 18:22] #15201 closed

[2021-02-26 18:23] jmarantz commented on #15201
See also #3098

[2021-02-26 19:05] jcetkov commented on #15201
thank you! looks like I need better googling skills, didn't manage to find the old issue

[2021-02-26 19:27] ToniCipriani commented on #14141
Also, will this be part of the next 1.17 release?

[2021-02-26 19:29] davinci26 commented on #15047
see related https://github.com/bazelbuild/buildtools/issues/914

[2021-02-26 19:54] euroelessar commented on #14710
Hi @qiwzhang,

From usage point of view, we have a use case where individual grpc endpoints _can_ serve hundreds of individual paths using the same logic. The caveat is that this endpoint needs to know some additional metadata derived from the path segments.
One of potential solutions is to pass original url to the server and replicate all the parsing/matching flow but that's arguable too much of

[2021-02-26 21:17] stevenzzzz opened #15216 "[extensions: kill_filter]: should not save the per-route-entry config in filter config member"
*Title*: kill_request filter should not save the per-filter_config from route-entry in its member variable

*Description*:
This is a vulnerability issue: kill_request filter should not save the config pushed from XDS (route entry).

`
  // Route-level configuration overrides filter-level configuration.
  if (decoder_callbacks_->route() && decoder_callbacks_->route()->routeEntry()) {
    const std:

[2021-02-26 21:17] stevenzzzz commented on #15216
cc @htuch @xiaobinxbw

[2021-02-26 21:20] stevenzzzz commented on #15216
cc @ahedberg

[2021-02-26 21:50] mandarjog opened #15217 "Stats Assert during shutdown"
`[2021-02-26 21:40:03.581][237396][critical][assert] [external/envoy/source/common/stats/symbol_table_impl.cc:194] assert failure: numSymbols() == 0.`

This happens with istio-proxy master which uses 54c74450e82a3767a677ebe5406e88f0d045fb4b Envoy sha.
I am testing some Wasm filters that are unrelated to Stats. The crash happens when I do Ctrl-C to stop Envoy.

[code]

Full log
[code]

/cc @jmarant

[2021-02-26 21:56] bianpengyuan commented on #15217
Dup of https://github.com/envoyproxy/envoy/issues/15180

[2021-02-26 22:01] lambdai opened #15218 "Converge the buffer parameter and op, or not"
Userspace Io Handle is following the IoSocketHandle pattern right now.
1. Respect the watermark.
2. Reserve and read. The reserve is an op that computing the upper limit of a move.

This io handle is not used anywhere until a specialized listener and connection factory is landed.

Create this issue to explore after

1. How to improve the reserve-and-read? Do we want to use the exact value in socke

[2021-02-26 22:01] lambdai commented on #15218
CC @ggreenway @antoniovicente

[2021-02-26 22:32] antoniovicente commented on #15218
Motivating comment thread: https://github.com/envoyproxy/envoy/pull/14917#discussion_r583844596

I think this relates to buffer move limits, amount of data that the filter pipeline can move in one go and connection write limits.  I agree that we want a consistent framework for these things.

[2021-02-26 22:35] lambdai commented on #15180
@jmarantz It might be a joint effort of wasm and sym table on shutdown sequence

[2021-02-26 22:44] akonradi commented on #2636
I've started working on this and run into a few snags. It looks like the existing config validation tool wasn't checking the Envoy runtime layers, so when attempting to load them now in `validate` mode, it complains about not being able to watch symlinks. I'm not quite clear on what the semantics of the config check tool are. Should it check that all requisite files and directories are present? Or

[2021-02-26 22:49] jmarantz commented on #15180
This is surely a shutdown order problem. Something is destructing in a different order when an exception is caught.

[2021-02-26 23:20] PiotrSikora commented on #15170
The next iteration of the ABI uses cluster name instead of gRPC service proto definition, so it might be fine to add such fallback now, since it's purely additive and optional feature.

I'm a little worried about the mismatch between Envoy and SDKs, though. I think we need to bump ABI to v0.2.2.

See previous discussion: https://github.com/envoyproxy/envoy-wasm/issues/594.

[2021-02-26 23:41] guillaumemaka opened #15219 "discussion(ext-authz): external_auth.proto dependencies consolidation"
*Title*: External auth server proto consolidation

*Description*:

Hi the envoy community, I want to implement the gRPC external authorizatin server in NodeJS and I want to generate Typescript Definition for the api exposed by [external_auth.proto](https://github.com/envoyproxy/envoy/blob/main/api/envoy/service/auth/v3/external_auth.proto).

Is there a way to consolidate in one place all the proto

[2021-02-27 01:14] lambdai commented on #15207
The time out value in yaml should be
[code]

[2021-02-27 12:04] dio commented on #15219
I think this is a good idea. Will do some digging.

[2021-02-27 12:08] dio commented on #15020
Sorry I missed this. So we need to still do escaping, right?

[2021-02-27 15:50] jmarantz commented on #15180
2 questions to help me try to repro:

1. Does the same thing happen if you send an admin /quitquitquit rather than hit ^C
2. Does WASM or v8 else try to handle SIGINT directly? Note that Envoy already has a SIGINT handler.

[2021-02-27 15:51] jmarantz commented on #15180
@mandarjog

[2021-02-27 15:52] jmarantz commented on #15217
closing; will follow up in #15180

[2021-02-27 15:52] #15217 closed

[2021-02-27 18:48] mattklein123 commented on #2636
Thanks @akonradi for looking into this. Does the existing config check tool actually try to load TLS secrets from the filesystem? If so I think I would also expect it to actually check for the symlinks, so IMO that is a bug?

I agree that we shouldn't special case TLS secrets. Either it loads from the FS or it doesn't.

[2021-02-27 18:49] mattklein123 commented on #15178
I agree this would be very useful. I would propose some kind of `/init_status` endpoint which gives details on the init process?

[2021-02-27 18:53] phlax commented on #15188
/assign phlax

[2021-02-27 18:54] mattklein123 commented on #15211
cc @alyssawilk

[2021-02-27 18:56] mattklein123 commented on #15206
Envoy can definitely route on FQDN, so there must be more to this story. Can you provide more debug logs from Envoy?

[2021-02-27 22:14] dio commented on #15020
I have submitted a PR to add a new "%j" formatter to do JSON string escaping for the log message.

[2021-02-27 22:40] jmarantz commented on #15180
3rd general question:

@mandarjog @lambdai can you explain the lifetime of the various wasm contexts?

Specifically, what's going wrong here, is that there is an interleaved construction of stats vs the symbol table, when it needs to be strictly nested:
 * create symbol table
   * create symbols using the symbol table, e.g. holding them in StatNamePool objects or StatNameManagedStorage
     * oper

[2021-02-27 23:36] #14873 closed

[2021-02-28 04:04] lambdai commented on #15180
Sorry I have a very limited context of wasm. I create the issue mainly for the wider visibility.

[2021-02-28 04:30] mandarjog commented on #15180
@PiotrSikora @kyessenov @bianpengyuan cc

[2021-02-28 06:58] PiotrSikora commented on #15180
@mandarjog does the same thing happen with Istio 1.8 or 1.9 (Envoy 1.16 or 1.17) or only on master? I recall we were hitting this assert long time ago, but I'm pretty sure that it was fixed, so it looks like regression...

What's the `.wasm` module that you're loading? I don't hit this assert locally using today's Envoy.

[2021-02-28 07:38] GabrielGhe opened #15228 "[Question] Envoy as a remote bazel cache"
*Using Envoy as a remote cache for bazel*

Please forgive my ignorance, I'm still learning about Envoy. I'm trying to see if it would be possible to use Envoy as a remote cache implementation for bazel. There are currently [3 cache recommendations](https://docs.bazel.build/versions/master/remote-caching.html#setting-up-a-server-as-the-caches-backend) in bazel's docs, one of which is [nginx](https:

[2021-02-28 13:15] Gsantomaggio commented on #15148
this [comment](https://github.com/proxy-wasm/proxy-wasm-rust-sdk/issues/52#issuecomment-723203179) by @kyessenov can be relevant

[2021-02-28 15:37] htuch commented on #15216
I don't think it's a vulnerability in that any production proxy should never have this filter linked in.

In terms of a functional issue, I think when I was reviewing this, I had assumed we were saving to filter per-instance state. Is this not the case?

[2021-02-28 16:30] stevenzzzz commented on #15216
for the mt tenancy case, I don't think this is fair: this is saying we are
saving per-route(per tenancy) config to a per-instance state, which I think
is not desired.

OTOH, I think the per-route config overriding should happen before it
computes the header or the probability as well, instead of saving
the config and let the kill triggered later by some other unintentional
testing request?

On Sun

[2021-02-28 18:38] mannuiitd opened #15230 "How can I write custom filter and plug with HTTP filters or connection Manager?"
*Title*: *pluggable custom filters*

*Description*:

[optional *Relevant Links*:]

[2021-02-28 19:08] jewertow commented on #14823
I recently had no time to implement it. I will submit a PR this week.

[2021-02-28 22:34] cortex93 commented on #11308
Would you mind sharing your configuration ?

[2021-03-01 00:00] cetanu commented on #6156
I kinda want to revisit this one again.

Is there some way, in recent versions, to set metadata at the route level and have this accessible by the access logger?

[2021-03-01 05:35] Shikugawa commented on #15170
@PiotrSikora

"cluster" is envoy specific notion. So I think that we should allow to accept hostname in ABI spec. After that we support to accept cluster name in envoy implementation.

[2021-03-01 05:44] itayd opened #15232 "Automated link to code from documentation"
*Title*: Use https://github.com/cluttercode/clutter to link to code from documentation

*Description*:
Currently linking to documentation requires either linking to a line at a certain sha or a line on main, which is susceptible to becoming stale since location of code changes with other changes.

Suggested solution is to use clutter to automate this process. A suggested PR is: https://github.com/

[2021-03-01 05:45] itayd commented on #15232
cc @htuch @phlax

[2021-03-01 07:25] PiotrSikora commented on #15170
Agreed, but we're in Envoy-specific issue, so I referred to it like that. It's actually called "upstream_name" in the spec.

When you say hostname, do you mean FQDN and port?

Note that we already allow cluster/upstram name in HTTP callouts, so adding the same to gRPC callouts is reasonable... Doing anything else might be too much for small ABI bump.

[2021-03-01 07:33] xxx0624 opened #15235 "Was prebuilt envoy with v1.17 able to run on CPU of x86_64 arch?"
*Title*: *Tried to run the pre-built envoy(v1.17) on Ubuntu(18.04 LTS Bionic Beaver) server which uses CPU of x86_64 arch but failed with errors about tcmalloc lib*

*Description*:

[code]

root@manager1: uname -a
Linux manager1 4.19.127-nn5-server #nn5 SMP PREEMPT Mon Oct 5 03:22:35 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
root@manager1: cat /etc/os-release
NAME="Ubuntu"
VERSION="18.04.4 LTS (Bion

[2021-03-01 07:34] Shikugawa commented on #15170
SGTM. For now, let's proceed with specifying upstream cluster name.

[2021-03-01 07:48] ramaraochavali commented on #6589
@PiotrSikora @htuch It seems the normalize_path does not completely percent decode the path. For example the path `/jetty-status%2f../jetty-status` normalizes to `/jetty-status%2f../jetty-status`  where as we expecting it to normalize to `/jetty-status` - Is this expected?  This path `/jetty-status/../jetty-status` normalizes correctly to `/jetty-status`. If this is as expected, what do we need to

[2021-03-01 09:02] rojkov commented on #15235
What's the output of `free`? It might be that v1.17 wants to allocate a bit more memory than v1.15 upon start.

[2021-03-01 09:05] rojkov commented on #15230
Have you checked this example https://github.com/envoyproxy/envoy-filter-example?

[2021-03-01 12:39] phlax commented on #14141
@Shikugawa would we be able to backport #15115 and/or include in current release ?

[2021-03-01 13:04] Shikugawa commented on #14141
@phlax It makes sense. Affected versions are 1.15, 1.16 and 1.17, right?

[2021-03-01 13:10] phlax commented on #14141
great, thanks

yep - just checked the `v1.15-latest` image and that has the problem entrypoint

[2021-03-01 14:12] mathetake opened #15239 "coverage flakiness on source/server"
The coverage on source/server recently has been flaky between 94.4 and 95.1 on unrelated PRs, for example https://github.com/envoyproxy/envoy/pull/15210 and https://github.com/envoyproxy/envoy/pull/15117.

What I have observed:
- This is somehow deterministic, i.e. on some commits, retesting would not work to go green.
- The root cause sits in `source/server/connection_handler_impl.cc`
    - by di

[2021-03-01 15:11] alyssawilk commented on #15211
Envoy has bounds on how much it'll buffer for retries, which are enforced a bit more strictly than how much Envoy will buffer for original requests.
If Envoy is waiting on a retry (which often have back-off to not overwhelm the upstream) and more data arrives than the configured limit (see https://www.envoyproxy.io/docs/envoy/latest/faq/configuration/flow_control on flow control limits) it will gi

[2021-03-01 15:14] alyssawilk commented on #11308
Can you share config for

"client -HTTP-> envoy -CONNECT-over-HTTP/1.1-then-HTTPS-> upstream proxy"

that wasn't doing TLS?  You'd need to configure TLS on the uptream cluster*, I wouldn't expect 443 on tunneling config to be helpful.

*https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/ssl

[2021-03-01 15:36] rgs1 opened #15242 "supporting core dumps when Envoy has more capabilities"
When Envoy is running inside a container where `CAP_NET_BIND_SERVICE` isn't available but the Envoy binary itself has this capability (e.g.: via `setcap 'cap_net_bind_service=+ep' envoy`), core dumps won't happen unless Envoy was launched via a process with the same capabilities [0].

Forcing deployments to use a helper with bind capabilities to launch Envoy isn't great, because the helper would h

[2021-03-01 16:15] josheinhorn commented on #7763
@qiwzhang @nareddyt @TAOXUY can you guys take a look at this? I know you previously had an efficient trie-based implementation of this URI template pattern matching in a custom Envoy filter. This would at least be good prior art, if not the basis of this new implementation.

[2021-03-01 16:16] rgs1 commented on #15242
Ok, just had a chat with @martinezjavier about capabilities and prctl, the solution is much simpler than having to re exec: `prctl(PR_SET_DUMPABLE, 1);` does it.

I'll prepare a draft PR and we can discuss if this has to be behind a command line flag or something.

[2021-03-01 16:31] alyssawilk commented on #15239
cc @asraa @antoniovicente  did we think this had something to do with ENVOY_BUG?

[2021-03-01 17:20] asraa commented on #15239
Hmmm that was fixed by https://github.com/envoyproxy/envoy/pull/15104/files, ENVOY_BUGs act as they do in opt mode while running coverage (non-fatal). If I peek at coverage reports, I maybe would have seen a decrement of line number counts after an ENVOY_BUG I know was tested, but I don't see that anymore. (Then again, I don't necessarily trust line numbers on coverage reports)

Was this the same

[2021-03-01 17:22] alyssawilk commented on #15239
Ah curses, the ENVOY_BUG issue came up at the last envoy call as a potential cause of the coverage flakiness.  If it's not that (given it's fixed) we'll have to do some digging  :-(

[2021-03-01 17:23] davinci26 commented on #15164
Follow up after the PR with the comments is merged is to use `getLocalAddress` and make the test pass on CI. See https://github.com/envoyproxy/envoy/pull/15212#discussion_r583839576

[2021-03-01 17:24] karanadep commented on #15148
Between Filter State and Dynamic metadata,  Any comments on state locking, consistency, concurrency ?

[2021-03-01 17:25] alyssawilk commented on #15239
Also @mathetake thanks so much for not just the quick fix but finding the flaky area.
@ggreenway would you have cycles to take a look and add some deterministic testing for that area?

[2021-03-01 17:25] efimki opened #15246 "Add RouteEntry API to calculate URL rewrite as per getPathRewrite / finalizePathHeader"
*Title*: *Add RouteEntry API to calculate URL rewrite as per getPathRewrite / finalizePathHeader*

*Description*:

We have a filter that uses request path to calculate some values.
Unfortunately it currently does NOT have access to the results of url rewrite that is done in the router.
We would like to add a method `std::string RouteEntry::GetPathAfterRewrite()` that would return the same result a

[2021-03-01 17:26] mattklein123 commented on #15242
I don't know much about this stuff, but these seems reasonable to me. I think there was another issue at some point about dropping privileges after starting which seems somewhat related but I can't find that issue right now.

[2021-03-01 17:26] efimki commented on #15246
@alyssawilk @htuch @stevenzzzz @ahedberg

[2021-03-01 17:28] rgs1 commented on #15242
Ah yes, I think uid --> euid mismatches means the dumpability bit will be unset as well. This should work for that case too.

[2021-03-01 17:36] alyssawilk commented on #15228
cc @toddmgreer

[2021-03-01 17:38] alyssawilk commented on #15246
As discussed in-house I think that'd be a viable workaround but ccing @snowp and @mattklein123 for non-google takes

[2021-03-01 17:42] nareddyt commented on #7763
It would be ideal to have first-class support for URI templates in Envoy. For the time being, our product [ESPv2](https://github.com/GoogleCloudPlatform/esp-v2) converts URI templates into regex route matchers when configuring the router.

#13320 added performance benchmarks for Envoy's router with regex routes that emulate common [OpenAPI path templates](https://swagger.io/docs/specification/path

[2021-03-01 17:55] mattklein123 commented on #15246
This sounds reasonable to me. The caveat being that the answer that is returned may be inaccurate if things change between when the API is called and when the router actually runs.

[2021-03-01 17:55] lambdai commented on #15239
I am not fully sure ENVOY_BUG is the root cause. One of the KP of conn handler is that there are too many internal classes. It is hard to write the test case to cover these lines.

This is my attempt toward deterministic https://github.com/envoyproxy/envoy/pull/15127

[2021-03-01 18:02] efimki commented on #15246
Awesome, thanks for confirming!
Maybe it should be named `std::string RouteEntry::GetCurrentUrlPathAfterRewrite()` to make it clear(er) that it could change.

[2021-03-01 18:25] snowp commented on #15246
I don't think the returned value from a given RouteEntry instance would change, rather the route entry itself might change if the route cache is cleared at some point. Given that I don't think it makes sense to include this as part of the new function, but we should make sure this interaction is documented for routes in general.

+1 on this being a reasonable addition

[2021-03-01 18:27] xxx0624 commented on #15235
Hi @rojkov here it it:
[code]
BTW is there any minimum memory requirement for v1.17 or v.1.16? And if the server doesn't have so much resource for that, is there any work around to make it working? Any related docs will be appreciated as well! Thanks.

[2021-03-01 18:57] #14765 closed

[2021-03-01 19:04] mattklein123 commented on #15246
I might be mistaken but I think even the value could change? Imagine path being changed but the path still matches the same route?

[2021-03-01 19:09] #14997 closed

[2021-03-01 19:09] danzh2010 commented on #15034
The issue is that quic transport socket factory missed a secrete updated callback. Will fix it soon.

[2021-03-01 19:15] snowp commented on #15246
Oh that's true, and it could also change if the path changes without a route cache clear, since the input to the path rewrite operation would change. So yeah making the name reflect the current evaluation of path rewriting makes sense to me.

[2021-03-01 20:07] #14842 closed

[2021-03-01 22:02] mattklein123 commented on #11532
I posted https://github.com/envoyproxy/envoy/pull/15248 which should fix this if anyone wants to take a look while it winds its way through code review.

[2021-03-01 23:26] htuch commented on #15216
I'm confused; filter per-instance state is per-request. Are we saving to filter per-instance or factory here?

[2021-03-02 00:05] #13307 closed

[2021-03-02 00:06] #14026 closed

[2021-03-02 00:06] #14074 closed

[2021-03-02 00:06] #14153 closed

[2021-03-02 00:06] #14161 closed

[2021-03-02 00:06] #14180 closed

[2021-03-02 00:06] #14230 closed

[2021-03-02 00:06] #14412 closed

[2021-03-02 00:06] #14489 closed

[2021-03-02 00:06] #14492 closed

[2021-03-02 00:06] #14626 closed

[2021-03-02 00:06] #14632 closed

[2021-03-02 00:07] #14697 closed

[2021-03-02 00:07] #14698 closed

[2021-03-02 00:07] #14726 closed

[2021-03-02 00:07] #14766 closed

[2021-03-02 00:38] yanavlasov commented on #12138
You can use the `--ignore-unknown-dynamic-fields` command line flag to disable detection of deprecated fields in the config. This will remove the cost of `VersionUtil::scrubHiddenEnvoyDeprecated`.
It also looks like your control plane uses v2 API. If so converting to v3 should eliminate `VersionConverter::...` costs.

[2021-03-02 01:12] chaoqin-li1123 commented on #14320
The next PR will change the error propagation of existing envoy code. For codes executed on worker thread, replace try catch with other error propagation mechanism. When all the try catch in existing code has be removed or replaced with try with main thread assertion, we can add format checking to disallow raw try.

[2021-03-02 02:37] qiwzhang commented on #7763
Per my understanding of mattklein123 idea of new engine_type inside RegexMatcher,  it is NOT using regex.  This new type can be implemented by grpc [path_matcher](https://github.com/grpc-ecosystem/grpc-httpjson-transcoding/blob/master/src/include/grpc_transcoding/path_matcher.h) which supports full URL template syntax.  This change is very isolated, will not impact other code.  I think its a good

[2021-03-02 02:44] htuch commented on #7763
Implementation wise I'm good with either internal safe_regex translation or the gRPC-JSON transcoder library if we can persuade ourselves it is robust here. @qiwzhang points is correct, Matt is suggesting we use the pluggable "regex" API message, not that this is actually a regex.

@qiwzhang what is you take on fuzzing and code quality/review for the path matcher?

Either way we go, we have code t

[2021-03-02 02:49] htuch commented on #15232
I think this is strictly a win from the PoV of docs being able to precisely references code locations, which comes up a fair bit (e.g. Life of a Request).

[2021-03-02 02:56] htuch commented on #15246
I think it's a "viable workaround". This is not that dissimilar to https://github.com/envoyproxy/envoy/issues/15012. In both cases, we would be in a better place for these kinds of things if the router simply did less. I.e. if both path rewrites and headers to add/remove etc. were configurable filters that could be placed at explicit points in the filter chain, with the existing config expressed a

[2021-03-02 03:06] #14918 closed

[2021-03-02 03:44] qiwzhang commented on #7763
Yes, the name `RegexMatch` is confusing after adding `google_url_template`.   Maybe can rename it.

path_matcher code quality should be ok.  It already has fuzz tests for its http_template code,  we can add fuzz tests for path_matcher code too.

[2021-03-02 04:03] #14565 closed

[2021-03-02 04:03] #14578 closed

[2021-03-02 04:03] #14579 closed

[2021-03-02 04:03] #14602 closed

[2021-03-02 04:03] #14606 closed

[2021-03-02 04:16] qiwzhang commented on #7763
[path_matcher](https://github.com/grpc-ecosystem/grpc-httpjson-transcoding/blob/master/src/include/grpc_transcoding/path_matcher.h) trie-based implementation may have potential of achieve O(1) speed with n RouteMatch entries.

If m of RouteMatch entries use the new `google_url_template`,  they can build into one patch_match tree.  There will be one tree lookup with O(log(n)) speed for all m route

[2021-03-02 05:02] xxx0624 commented on #15235
Hi one more quick question, does it support to build an envoy without tcmalloc? (switching to use the malloc instead) Cuz seems like the tcmalloc doesn't works on my server.

[2021-03-02 05:22] qiwzhang commented on #7763
Another idea is:  I think Url Template will be used only for RouteMatch.  Insteading adding it as new engine_type for RegexMatch, we can add `http_template` to RouteMatch [path_specifier](https://github.com/envoyproxy/envoy/blob/main/api/envoy/config/route/v3/route_components.proto#L425-L460).

HttpTemplate usually supports both `http_method` and `path` as url_template

[code]

[2021-03-02 07:04] rojkov commented on #15235
Hm.. memory situation seems to be ok.

The older releases were built with gperftools' allocator. You can build against it by adding `--define tcmalloc=gperftools` to your `bazel build` command.

But I wonder what your CPU model is. Google's tcmalloc uses assembly for restartable sequences.

[2021-03-02 07:05] qiwzhang commented on #7763
[path_matcher](https://github.com/grpc-ecosystem/grpc-httpjson-transcoding/blob/master/src/include/grpc_transcoding/path_matcher.h) trie-based implementation may have potential of achieve O(1) speed with n RouteMatch entries.

If n of RouteMatch entries use the new url_template, they can build into one patch_match tree. There will be one tree lookup for all n route entries.

For example, if we hav

[2021-03-02 07:16] xxx0624 commented on #15235
Thanks will give it a try.

model name      : Intel(R) Xeon(R) Gold 6138 CPU @ 2.00GHz

[2021-03-02 08:34] martin-sucha opened #15254 "Documentation for v1.17.1 missing"
Release notes / documentation (https://www.envoyproxy.io/docs/envoy/v1.17.1/intro/version_history) linked from the 1.17.1 release (https://github.com/envoyproxy/envoy/releases/tag/v1.17.1) returns 404 instead of the content of the docs.

[2021-03-02 08:54] derekargueta opened #15255 "Substition Formatter won't accept %DOWNSTREAM_PEER_FINGERPRINT_256% or %DOWNSTREAM_PEER_FINGERPRINT_1%"
*Title*: Substition Formatter won't accept %DOWNSTREAM_PEER_FINGERPRINT_256% or %DOWNSTREAM_PEER_FINGERPRINT_1%

*Description*:
Envoy rejects valid commands because the regular expression that it uses to parse the command out doesn't recognize that commands can have integers in them.

*Repro steps*:
Use the following access_log config:
[code]
And envoy will reject it despite being a valid command

[2021-03-02 09:14] rojkov commented on #15235
I thought you're running inside QEMU or something.

I've found Intel(R) Xeon(R) Gold 6138F CPU @ 2.00GHz in our lab. It's exactly the same model as yours plus an Omni-Path chip integrated in the same package. At least the docker release build works nicely
[code]

Everything should work, it's not a hw compatibility issue.

[2021-03-02 09:25] derekargueta commented on #14801
bump

[2021-03-02 09:48] WeavingGao opened #15257 "configurate the "adaptive concurrency filter" for a specific cluster"
I have 3 clusters and only one need to be limited. How to configurate the adaptive concurrency filter for that cluster?

[2021-03-02 13:03] liavyona opened #15260 "Working with client certificate Lua and EnvoyFilter in Istio environment"
*Title*: *Working with Lua and EnvoyFilter in Istio environment*

*Description*:
I'm trying to add the client certificate URL encoded as an header to my service using `EnvoyFilter`.
[code]
And when I try to address to my service I get that a peer certificate wasn't presented.
The client request works in nginx which I pass the certificate using the following configuration:
`proxy_set_header X-SSL-C

[2021-03-02 13:25] #14890 closed

[2021-03-02 13:27] stevenzzzz commented on #15216
ah, my bad. For some reason I kept tripping over the fact that a filter instance is created per-request, thinking that's it's per-connection.

it's not saving to the per-instance factory here.
I also noticed that the filter only allows per-request probability overriding, but not the whole killSetting overriding, but I am not curious to ask why tho.

sorry for the confusion, let me close this issue

[2021-03-02 13:27] #15216 closed

[2021-03-02 14:20] akonradi commented on #2636
The existing config check tool does not, AFAICT, attempt to load TLS secrets from the file system, otherwise it would fail on some of the example configs. I've realized that what I attempted in #15158 for `//test/config_test` has already been done more cleanly in `//test/server/config_validation:server_test`, except that it has a TODO about not being able to validate all example configs since they

[2021-03-02 14:46] #15142 closed

[2021-03-02 14:49] alyssawilk commented on #15257
cc @tonya11en

[2021-03-02 15:20] grzegorz-mirek commented on #11308
@alyssawilk, sorry - I don't have this config anymore. I don't remember exactly, but perhaps the issue was that specifying TLS on the upstream cluster caused CONNECT to the proxy to be encrypted (which my proxy does not support). My goal was to have plaintext HTTP/1.1 CONNECT to the proxy and the TLS in the tunnel to the end server. I achieved that with the loop back to local Envoy as described ab

[2021-03-02 15:24] Shikugawa commented on #15254
I've already noticed this issue since v1.17.1 triggered CI failed with missing master branch. I will fix this tomorrow.

[2021-03-02 15:30] alyssawilk commented on #11308
Ahh, I think (offhand) Envoy today will forward encrypted tcp over a plaintext CONNECT, or encrypt both the payload and the CONNECT request, but won't take in plaintext tcp data, encrypt, send CONNECT in the clear and ciphertext payload in a single pass.

You could accomplish that with the loopback hack, doing tcp proxy adding TLS to a loopback address, taking that now encrypted payload and sendin

[2021-03-02 15:51] josheinhorn commented on #7763
I'm a big fan of tries for URL matching and there's no doubt it is faster than iterating a list of regex's, but FWIW, I'm pretty sure this is not O(1), it's O(height of tree) isn't it? I believe in the worst case it is basically O(n) e.g.

[code]
[code]

The trie is still a bit better than the worst case of iterating a list of regex's which would be O(n*m), where m is the avg complexity of evaluat

[2021-03-02 17:03] xxx0624 commented on #15235
OK thanks @rojkov. I've build an envoy with `tcmalloc=gperfools` manually and it's working.

[2021-03-02 17:05] mattklein123 commented on #2636
OK yup that sounds great then.

[2021-03-02 17:07] #14141 closed

[2021-03-02 17:31] #14560 closed

[2021-03-02 17:40] qiwzhang commented on #7763
Yes, you are correct.  @josheinhorn.  It is O(h), h = height of the tree, which is the maximum number of path segments from all url_templates.

[2021-03-02 17:52] #14309 closed

[2021-03-02 18:42] lambdai commented on #15178
We have `/init_dump`. Is it the `/init_status` you are referring to?

[2021-03-02 18:45] mattklein123 commented on #15178
Sure if we have an existing endpoint we can use it.

[2021-03-02 18:54] lambdai commented on #15178
Rephrased my proposal:
Attach each async initialization to a named target.
Independently expose the per warming cluster init::manager to the existing `init_dump`

[2021-03-02 19:14] lambdai opened #15264 "enforce pragma once in header file"
I find my newly added header file not following the style guide `Header guards should use #pragma once.`

Looks like this is not unique
[code]

I will blindly add the pragma directive to make the future include no-brain.

Do we need a rule formatter to check/fix after the above change?

[2021-03-02 19:18] #15043 closed

[2021-03-02 19:47] mattklein123 commented on #15152
Thanks @jrajahalme for all the detail. I met with @nobodyiam yesterday and we discussed this effort. I think these are the next steps:
1) @nobodyiam and @wangfakang to meet with @jrajahalme to figure out a division of labor and a path to writing up a community proposal for upstreaming this functionality.
2) I agree with @htuch and others that have said that we should take a strong look at the WASM

[2021-03-02 20:39] cortex93 commented on #11308
@grzegorz-mirek

Yes, that would be kind

[2021-03-02 20:48] alyssawilk commented on #15264
yeah, looks like it's mostly but not all test code.  It'd definitely be worth adding to the fix format script IMO.

[2021-03-02 21:52] markdroth commented on #7763
FWIW, I would really prefer *not* to encode this in xDS as a type of regex, since it's really not -- it's a completely different template-based matching syntax, so calling it a regex is very confusing.  Instead, I think we should make this another type inside of `StringMatcher`.

[2021-03-02 22:01] #15020 closed

[2021-03-02 22:05] lizan commented on #7763
+1 to not to encode this in xDS as a type of regex.

Also I think this is not as simple as adding new matcher type. The HTTP URI template path matcher need all matching rules to build the trie, so it doesn't work well with current first-match-wins rule. Perhaps we need the tree based route matcher first? cc @snowp

[2021-03-02 22:17] qiwzhang commented on #7763
Hi @lizan ,  here is my idea of grouping multiple url_template matches into a path_matcher _tree;  not all route entries need to use url_template,  the route order need to be preserved too.  so only group the adjacent url_template route entries into a tree.

For example
[code]

We will group match2 and match3 into a tree, and match5 into another tree.

[2021-03-02 22:18] mattklein123 commented on #7763
My suggestion to put it in the regex message was for API simplicity. I don't feel that strongly about it. If it's easy to put it elsewhere we can do that.

My suggestion would be to not intertwine with FIFO vs. O(1). Can't we add this with implicit FIFO support first and then deal with the sub-linear support when we add full sub-linear tree matching for main route selection?

[2021-03-02 22:59] mdhume commented on #10953
@mattklein123 We are seeing a similar issue. We are running with an older version of Envoy (v1.13.4) in containers through Istio.
We see that both the parent and child processes continue to run, but the admin interface (on port 15000) becomes unreachable and times out.

[code]

The parent process is still bound to the listening ports e.g.
[code]

Additionally we see these sockets for the parent an

[2021-03-02 23:38] mattklein123 commented on #10953
I would start by upgrading to the most recent version.

[2021-03-02 23:40] htuch commented on #7763
Yes, sub-linear should be deferred to when we take the generalized matchers from @snowp and bring them to RouteConfiguration IMHO.

[2021-03-02 23:41] lizan commented on #7763
@qiwzhang In that case you can't build the URI matcher in the same trie? It is not ideal works though.

[2021-03-03 00:06] qiwzhang commented on #7763
OK, for now, I will just implement one path_matcher tree per one url_template, not to combine multiple ones into one tree.

[2021-03-03 00:08] davinci26 commented on #13596
I am looking into this and I have the following approaches in mind:

1. Expand the `DataSource` in `base.proto` to take a `known_location` specifier which would be `windows_certificate_store`. The value of this property would be a string indicating the store.

The downside of this approach is that this proto is consumed by various source where the the certificate store does not make much sense.

2

[2021-03-03 01:03] ahachete opened #15270 "Postgres filter: implement (equivalent) Postgres HBA in Envoy"
**Postgres filter: implement (equivalent) Postgres HBA in Envoy**: enabling offloading Postgres' HBA (Host-Based Authentication) to Envoy, leveraging Envoy's Postgres filter.

Postgres uses a mechanism to accept or reject connections called HBA ("Host-Based Authentication"), that is controlled by configuration file `pg_hba.conf`. This file can be reloaded anytime to update the configuration, and s

[2021-03-03 03:05] spacewander commented on #15152
As @wangfakang mentioned, the `GoLang Extension` has `less memory copies` than WASM extension. If we build the Go extension based on the WASM C ABI, will there be more copies as there are more layers?

It seems the Go extension achieve better performance than WASM via less communication between Envoy and the extension. How will we balance this if we need to put some part into WASM and (maybe) call

[2021-03-03 03:12] WeavingGao opened #15271 "Does envoy provide cluster-specific configurations for filters?"
*Title*: *cluster-specific configurations for filters*

*Description*:

Is there any plan to support it?

[2021-03-03 04:02] phlax commented on #14787
@rrichardson this should be resolved in #15115 can you confirm

[2021-03-03 04:07] htuch commented on #15152
On performance, two things stand out to me:
1. We should target where Wasm ABI will be in the future, not where it is today. I believe there are plans for _some_ zero copy optimizations, @PiotrSikora can offer more detail.
2. We should focus on the areas where performance actually matters on real workloads, rather than microbenchmarks. So, I think we can drive some of these considerations empirica

[2021-03-03 04:59] phlax commented on #15191
@mk46 did you make any progress ?

i need to address this bug quite quickly so perhaps i should get started on it ?

(apologies for hassling)

[2021-03-03 05:58] wbpcode commented on #9656
Has there been any progress on this work? 🤔

[2021-03-03 06:51] #14614 closed

[2021-03-03 07:45] lambdai commented on #15260
Can you confirm the client (which is nginx I assume?) is using mtls?

proxy_set_header seems set the client cert in HTTP request, but `dsc:urlEncodedPemEncodedPeerCertificateChain` returns you the info from the ssl session. This function doesn't read http header provided by nginx

[2021-03-03 07:54] lambdai commented on #15211
@alyssawilk  A random thought: is it possible to switch to something like `StopIterationAndWatermark` when waiting on retry?

[2021-03-03 08:03] pwoelfle commented on #14856
I got the same issue with TinyGo 0.16.0 where heap didn't grow automatically. This was fixed with https://github.com/tinygo-org/tinygo/pull/1567

Since TinyGo 0.17.0 is not yet released you have to build TinyGo from the dev branch on your own.

[2021-03-03 08:08] mathetake commented on #14856
@pwoelfle nice, thanks for the pointer :+1:

[2021-03-03 08:15] liavyona commented on #15260
Thank you @lambdai
The client is not a nginx but a Go library.
The server used nginx as its proxy previously and now we changed it to envoy by integrating with Istio.
The SSL session is the same as the client sends a request with its certificate. With nginx we used `$ssl_client_escaped_cert` embedded variable to pass the client certificate to the actual server (from the nginx) as an header.
We wan

[2021-03-03 09:04] LuyaoZhong commented on #14553
Sorry for long-time no updates due to some personal emergent work. @mattklein123 @ggreenway Do we have a template for design doc?

[2021-03-03 11:21] mathetake commented on #14856
OK, I confirmed this is fixed in the upstream TinyGo and the next release will be published in a few weeks. So we can close this. (In  any case, this should belong to TinyGo or proxy-wasm-go-sdk repositories).

[2021-03-03 11:37] jgunvalson commented on #14856
Thanks for taking a look. I'll close this issue then and wait for the next release of tinygo

[2021-03-03 11:37] #14856 closed

[2021-03-03 11:45] vsharathis opened #15279 "Legacy protocol support in Envoy - Diameter Radius etc"
In the 4g and 5g collaboration, the legacy protocol support is missed in the envoy, as per the envoy document
envoy supports following protocols :

[code]
but when in the actual telco vendors have both legacy and envoy supported protocols (till now), if envoy can identify the legacy protocols, (Diameter, radius) vendors can use envoy as a load balancer for both legacies and supported protocols.

[2021-03-03 14:09] alyssawilk commented on #15270
cc @cpakulski @dio

[2021-03-03 14:12] alyssawilk commented on #15271
Some of the filter have per route config but I don't know of any plans to add per cluster config.  I think it'd be a reasonable feature to add though.

[2021-03-03 14:15] alyssawilk commented on #15279
I don't think there would be objection to adding legacy protocols, but per https://github.com/envoyproxy/envoy/blob/main/EXTENSION_POLICY.md to land it upstream you'd have to find someone willing to code it up (and support it) and a maintainer to co-own.

[2021-03-03 14:22] mathetake commented on #14878
cc @PiotrSikora for visibility

[2021-03-03 15:00] wood-push-melon opened #15280 "Latency increases due to the envoy http connection manager's delayed_close_timeout"
*Title*: *Latency increases due to the envoy http connection manager's delayed_close_timeout*

*Description*:

We recently enabled Istio for our Nginx server deployed in our Kubernetes cluster and found that some of the upstream services' latency increased by 1s observed from the Nginx side. To be clear, the client traffic flow and the infrastructure can be described as follows:

client -----> AWS

[2021-03-03 15:01] alyssawilk commented on #15211
We might be able to do better with flow control limits, but fundamentally Envoy has always had limits on how much it'll buffer for retries.

Imagine you're processing a really large POST.  If the upstream disconnects early on during the POST, Envoy will retry.  If it then gets more and more data, it will eventually stop buffering POST data, and if the upstream disconnects late in the POST, Envoy r

[2021-03-03 15:02] wood-push-melon commented on #15280
However, some of the upstream services are not affected. The envoy proxy debug log shows that:

[code]

As you can see, it showed that the write buffer flushed and the remote (Nginx) sent the FIN to initiate the connection close.

I am confused by this inconsistent behavior from the envoy proxy after enabling Istio. And not sure what causes such behavior. Any help or guide is appreciated.

[2021-03-03 15:05] rrichardson commented on #14787
I'll take a look today or tomorrow. Thanks.

On Tue, Mar 2, 2021 at 8:02 PM phlax <notifications@github.com> wrote:

[2021-03-03 16:07] cretz commented on #14748
Bump. Right now our control plane duplicates every vhost domain with an appended dot to get around this. I suspect we'd opt in to this with a `strip_trailing_host_dot` akin to what `strip_matching_host_port` already does to preserve existing behavior. Thoughts? I may be able to send in PR if that approach is acceptable.

[2021-03-03 16:17] grzegorz-mirek commented on #11308
@cortex93, this should work: https://gist.github.com/grzegorz-mirek/c028a24ec2b32dfa47b1fdb904ed3baa

[2021-03-03 16:37] sha-rath opened #15283 "Load balance long-lived connections upon auto scale-out or scale-in of Envoy"
Consider a scenario where there is auto scale-out of Envoy. In such a situation, I would actually like to drain few connections from an old instance and transfer that load to the newly scaled-out instance. Currently, I cannot find a way to drain a certain amount of connections an Envoy instance handles.

Would it be possible to have some sort of configuration where we could set the percentage of c

[2021-03-03 17:01] davinci26 commented on #13596
@envoyproxy/windows-dev @mattklein123 I am in favor of implementation (2) but I would like to get a high level consensus before I move into the implementation.

[2021-03-03 17:01] corydolphin commented on #14417
Hey @mattklein123 Wanted to check in and understand what the process usually looks like for new Envoy feature development. Has there ever been a sponsorship model used successfully? We'd be interested in contributing, but do not necessarily have Envoy expertise, so if there are Envoy developers who are lacking funding and interested, there may be an opportunity to collaborate.

Thanks again,
Cory

[2021-03-03 17:48] baojr opened #15285 "Dynamic HTTP tunnel"
*Title*: *Dynamic HTTP tunnel*

*Description*:
I'm working on migrating a deployment of [squid proxy](http://www.squid-cache.org/) that we use as a forward proxy. In addition to HTTP requests on ports 80 and 443, we also need to support tunneling arbitrary TCP connections, such as SSH on port 22. The dynamic forward proxy setup [described in the docs](https://www.envoyproxy.io/docs/envoy/latest/in

[2021-03-03 17:52] mattklein123 commented on #14553
We don't have a fixed template right now. I would just type up something in whatever format you want and we can go from there. I would just cover standard design doc stuff (problem statement, goals, non-goals, high level design, etc.)

[2021-03-03 17:55] mattklein123 commented on #13596
From a quick glance (2) seems reasonable but perhaps you could put up a draft API review only and we can discuss with a bit more context?

[2021-03-03 17:57] mattklein123 commented on #14417
We don't have anything formal here, but I can probably find someone for you to contract with. Can you reach out to me over email (available on my website) to discuss details?

[2021-03-03 18:11] mattklein123 commented on #14748
Yeah that makes sense to me.

[2021-03-03 18:30] efimki commented on #15246
I've drafted https://github.com/envoyproxy/envoy/pull/15286 and would appreciate any input.
I'm also not sure where is a good place to add the tests for new API.

[2021-03-03 18:35] alyssawilk commented on #15246
test/common/router/config_impl_test.cc has tests for rewritePathHeader which you could extend?

[2021-03-03 18:39] puilp0502 opened #15287 "Globally limiting maximum concurrent h/2 requests per endpoint"
*Title*: *Globally limiting maximum concurrent h/2 requests per endpoint*

*Description*:
Hi,

I’m trying to limit the concurrent streams forwarded to the upstream endpoints, such that each endpoint sees at most N requests at any given time. (Upstream is a cluster of python grpc servers.)

Since `http2_protocol_option` supports manually specifying `max_concurrent_streams`, I tried combining the op

[2021-03-03 18:46] #15254 closed

[2021-03-03 18:50] #15255 closed

[2021-03-03 19:04] lambdai commented on #15264
An quick fix is added formatted is not ready.

Also the exceptions are listed below for track

1. chromium url
[code]
2. test/config/integration/certs
[code]
3. test/extensions/transport_sockets/tls/test_data/
[code]

[2021-03-03 19:35] lambdai commented on #15287
You may mislead by the max_concurrent_streams. It's not protecting the endpoint. It's protecting the connection to that endpoint. IIRC max_concurrent_streams is max_concurrent_streams **per upstream connection** and that endpoint can have multiple connections from this Envoy.

Could you look into circuit  breaker?
There are `max_connections` and `max_requests`. yet no concrete setting for per endp

[2021-03-03 19:38] lambdai commented on #15283
+1 for admin interface. Listener or network filter probably don't know how many connections should goaway. However, I feel it reasonable to expose it as a one time action and let some external tools to trigger the rebalance

[2021-03-03 19:40] tonya11en commented on #15257
You should be able to add it to the filter chain config parameter as part of the cluster proto like any other filter. The docs don't recommend doing this unless the cluster is representing a server local to the host. Adaptive concurrency doesn't work if you're using it on the egress in a sidecar configuration, since it needs to have full control over the number of active requests allowed through t

[2021-03-03 19:41] alyssawilk commented on #15280
It's expected that if an error occurs for HTTP/1.1 that Envoy will do delayed close.  This is to avoid a race condition where if a client were sending a POST, it would get a TCP reset before it parsed the L7 error and not handle the error response.

It should be flushing the body immediately with a connection close header - if you can provide wireshark dumps showing the data was not sent we can lo

[2021-03-03 19:55] alyssawilk commented on #15285
Sorry, I haven't played with this configuration myself but have you tried just using the dyanmic forward proxy?  It only works with HTTP insofar as it expects to be created by an HTTP session but the way Envoy's connect support works is it masquerades as HTTP up to the point it's serialized out to the wire so while I haven't tried it I would (possibly optimistically =P) expect it to work.

[2021-03-03 20:03] #14807 closed

[2021-03-03 20:21] asraa opened #15290 "Unify URL parsing with GoogleURL"
Two concerns:
* llhttp (http-parser replacement) does not have a URL parser: https://github.com/nodejs/llhttp/issues/7. Derek brought up this concern in that issue.
* The fewer different URL parsing stuff we have, the better.

Envoy uses [http_parser_url]( https://github.com/envoyproxy/envoy/blob/80c0abdc9b4491fa1c35bc20577bb638147cff09/source/common/http/utility.cc#L256) to split the URL into pie

[2021-03-03 21:13] baojr commented on #15285
I gave it another shot just now and seem to have gotten it working. I ended up needing to add a route with a `connect_matcher` pointing to the dynamic forward proxy cluster to make it work both with and without using `HTTP CONNECT`. It seems that curl will always send a `CONNECT` request if the provided URL is not port 80, which is what my problem was before, since the [config example here](https:

[2021-03-03 21:13] #15285 closed

[2021-03-03 21:54] hania-elayoubi opened #15293 "Add support for x-ratelimit-* headers in local rate limiting"
*Title*: *Add support for x-ratelimit-\* headers in local rate limiting*

*Description*:

[2021-03-03 22:22] mattklein123 commented on #15152
I agree with @htuch points above. Basically, we should at minimum investigate whether we can use the WASM ABI or not and document why not. That can be part of our design review. Thank you!

[2021-03-03 22:24] mattklein123 commented on #15283
See https://www.envoyproxy.io/docs/envoy/latest/operations/admin#post--drain_listeners. I think it would be reasonable to allow this API to take parameters that effect the drain speed. I think we originally discussed it when it was added. cc @auni53

[2021-03-03 22:25] mattklein123 commented on #15293
Yeah I think we can add this. Marking help wanted.

[2021-03-03 23:08] yihuazhang opened #15296 "TSI socket does not obey read limits or write buffer high-watermarks"
The current TSI socket implementation has the following problems:

1. It uses a default max frame size - 1MB defined in gRPC [ALTS TSI implementations](https://github.com/grpc/grpc/blob/master/src/core/tsi/alts/handshaker/alts_tsi_handshaker.h#L44 ). It is considered too large and also inconsistent with SSL socket, which is 16KB.
2. TsiSocket doRead() does not obey read limits by doing an unbounde

[2021-03-03 23:09] yihuazhang commented on #15296
F.Y.I. @htuch, @jiangtaoli2016, @antoniovicente

[2021-03-03 23:50] antoniovicente commented on #15296
ALTS / TSI is for the most part only used by Google.  I assume your team will drive the fixes to this component.

[2021-03-04 02:35] WeavingGao commented on #15257
Is it possible to make a per route config/controller for adaptive concurrency filter like what local rate limit filter does?

[2021-03-04 03:15] LuyaoZhong commented on #14553
@mattklein123 Hi, I draft a minimal design doc, welcome to review.
[Design Doc](https://docs.google.com/document/d/1erXjs7v8PYGD5hQu2HNkqKxoA91omqLtcOmr6p_kEXs/edit?usp=sharing)

[2021-03-04 03:30] wood-push-melon commented on #15280
@alyssawilk Thank you. This is the Wireshark dumps that captured the abnormal traffic between downstream (Nginx), envoy, and one upstream service:

![abnormal](https://user-images.githubusercontent.com/22652019/109905929-8a4dc780-7cda-11eb-80a5-2aac62dd6e0c.png)

As you can see from packet 17, the envoy initiated the closing sequence with 1s latency. And from the debug log, I did not see the `writ

[2021-03-04 03:35] tonya11en commented on #15257
It's possible to implement, but you'd need to keep the system stationary. What I mean by that is you couldn't just have a separate concurrency limit for all the different routes, because they all use the same underlying resources and the control loop wouldn't work. The local rate limit filter is using token buckets and there's no control loop per-se, so it's able to just have different token bucke

[2021-03-04 03:46] htuch commented on #15296
While Google is the developer of ALTS, it's actually used by many GCP users, so anyone running Envoy on GCP probably has some interest in this bug resolution.

[2021-03-04 03:48] puilp0502 commented on #15287
@lambdai Thank you for the answer!

Although not satisfactory, limiting the maximum connections via `max_connections` combined with `--max-concurrency 1` option seems to do the trick:
[code]

[2021-03-04 05:31] qiwzhang opened #15304 "Add grpc_httpjson_transcoder external dependency to core"
This is for https://github.com/envoyproxy/envoy/pull/15299 to address https://github.com/envoyproxy/envoy/issues/7763

*Title*: Add grpc_httpjson_transcoder external dependency to core

*Description*:
[grpc_httpjson_transcoding](https://github.com/grpc-ecosystem/grpc-httpjson-transcoding) external dependency is already used by http filter extension  [grpc_transcoder](https://github.com/envoyproxy/

[2021-03-04 05:32] qiwzhang commented on #15304
@envoyproxy/dependency-shepherds @envoyproxy/security-team

[2021-03-04 06:11] lambdai commented on #15287
max_connection = 1 means you can only create 1 connection even you have 10 endpoints in that cluster.

It's probably not what you need if the cluster has more than 1 endpoint. Good for test though.

[2021-03-04 06:27] WeavingGao commented on #15257
Thank you for your reply. It really helps.

[2021-03-04 06:30] WeavingGao commented on #15271
Got it. I'll try to implement it. Thanks a lot.

[2021-03-04 06:37] PiotrSikora commented on #14878
While the crash might be unique to Wasm, the root cause itself (using `ORIGINAL_DST` cluster for Envoy initiated calls), is a more generic problem and other extensions are effectively broken by it as well (e.g. Lua, `ext_authz`, `ext_proc`), and perhaps there should be a more generic solution for this in Envoy core.

Also, what's interesting is that `AsyncClient` executes the happy path here and c

[2021-03-04 06:56] style95 opened #15305 "TCP port conflict"
*Title*: *TCP port is conflict while sending traffic to multiple destinations*

*Description*:
I am new to Envoy, so if this is a too-naive question, please bear with me.

When my service is trying to send some packets to endpoints 1 and 2, it seems sometimes the TCP port is in conflict.

For example, when my service is trying to send some packets like below:

* `10.10.10.10:54321` -> `10.10.10.11

[2021-03-04 07:12] mk46 commented on #15191
Would mind taking a look at linked PR

Please take a look on linked PR. Thanks!

[2021-03-04 07:18] derekargueta commented on #14736
@alyssawilk can we get this issue re-opened?

[2021-03-04 08:37] Green7 opened #15309 "GRPC: problem with connections when GRPC server is unavailable"
How do I set a timeout for the situation when Envoy is unable to connect to the GRPC server?

Now I have idle_timeout set to 0 because I don't want to close the GRPC streams if there is no data transferred.
But it looks like idle_timeout is also used when a connection to the server cannot be established.

So: if idle_timeout is 0, GRPC server is unavailable and I make a request, I will never get a

[2021-03-04 10:05] pezzak commented on #10393
+1 faced with the same issue
@mattklein123 could you label this 'help wanted'?

[2021-03-04 11:36] dio commented on #15304
@qiwzhang do you accept external contributions for enabling CI in that repo? :).

[2021-03-04 12:08] #14488 closed

[2021-03-04 12:18] phlax opened #15313 "Split format checks in CI"
### Description

its very helpful having the format jobs at the beginning and aborting ci if they fail

however, there are an increasing number of format jobs so this is taking quite a long time

in addition to this some of the format jobs dont provide any kind of fix if they fail - which means it takes longer rerunning the same (passing) jobs with no diff at the end of it, and incorrect messaging

[2021-03-04 13:39] wangfakang commented on #15152
Thanks @mattklein123 and @htuch  for the good suggestions and @jrajahalme for the L4 extension details of Cilium, next we will do some study on it.
1. On the CGO API selection, we will investigate in detail proxy-wasm API, if it's ok, we are also happy to follow or build WASM API together.
2. Next steps we will write a detailed design doc on this proposal, including why not wasm or how to reuse wa

[2021-03-04 14:32] alyssawilk commented on #15305
do you need to hard-code the port for talking to loopback?
Generally if you're trying to TCP proxy from a listener on 10.10.10.10 to an "upstream" at 127.0.01.1:15001 you simply wouldn't specify a port for the upstream connection, and Envoy will auto-select an unused ephemeral port, allowing for many connections.

[2021-03-04 14:38] alyssawilk commented on #15309
Generally the TCP connect_timeout (https://www.envoyproxy.io/docs/envoy/latest/faq/configuration/timeouts) handles the issue where a server is not reachable.  Even with stream level timeouts off, if Envoy can't connect it should send an error back downstream.

[2021-03-04 16:09] #14821 closed

[2021-03-04 16:21] hazelnutsgz commented on #14718
I did the measurements (using memtier_benchmark) on SO_REUSEPORT for envoy 1.6.2. What I observed is that enabling reuseport can distribute the traffic on envoy workers more even. For performance consideration, enabling reuseport can guarantee the stable throughout&latency, while disabling it would result in performance fluactuation.

[2021-03-04 16:29] antoniovicente commented on #14718
SO_REUSEPORT should be the default on platforms that support it.  Would be good to also explore alternatives in cases where it isn't supported.

Good to hear confirmation that enabling SO_REUSEPORT helps with spreading of accepted connections, as expected.

[2021-03-04 16:50] ggreenway commented on #14553
I think it would be good to discuss if/how this would be applicable to TLS 1.3, and how this compares to session tickets (ie when would you use a session cache instead of session tickets).

[2021-03-04 18:06] qiwzhang commented on #15304
Yes @dio

[2021-03-04 18:26] #14909 closed

[2021-03-04 18:48] lambdai commented on #15305
That is the limitation of NAT. I don't see what Envoy could do here.

There are proposal to use more local ip (127.0.0.X for free) or more port (15001, 15002...) *in istio*

[2021-03-04 18:51] lambdai commented on #15305
@style95 Could you update description? s/10.10.10.10:8080/10.10.10.10:54321/  It's much clear since 54321 is an obvious ephemeral port randomly picked up by client :)

[2021-03-04 18:53] lambdai commented on #15305
I can speak for @style95 Port 15001 is the redirected port that Envoy is listening. 15001 is not the port bind by Envoy to connect to the remote <ip:8080>

[2021-03-04 18:54] alyssawilk commented on #15280
wow, this is super weird.   Any chance you can hop on Envoy slack for some back and forth?  I'm around for a few hours today else could pick it up Monday

[2021-03-04 18:56] alyssawilk commented on #15309
Hm, if the backend/upstream is unavailable that should work.  Can you drop your whole config in, and I can try to reproduce?

[2021-03-04 19:23] mattklein123 commented on #10393
Can you provide more debug logs from envoy and stats? Is panic routing still happening for some reason?

[2021-03-04 19:23] lambdai commented on #15211
1 round trip to propagate the per h2 stream window size (plus the OS socket buffer sitting between) could cause the retry buffer go beyond the buffer limit.

Thank you for the explanation of this complex problem!

[2021-03-04 19:24] mattklein123 commented on #14878
@PiotrSikora have you debugged to see why it's crashing? Obviously it shouldn't crash so I agree we should debug and fix that and have it fail in some sane way?

[2021-03-04 19:28] qiwzhang commented on #15304
Hi @nareddyt  could you help to add CI test for grpc_httpjson_transcoding repo?

[2021-03-04 19:35] PiotrSikora commented on #14878
@mattklein123 yes, see linker PR: https://github.com/envoyproxy/envoy/pull/15311.

[2021-03-04 19:49] nareddyt commented on #15304
I still do not have admin access to the repo. I will try again.

[2021-03-04 19:51] adisuissa opened #15320 "VHDS refactor failed update state revert"
*Title*: VHDS refactor failed update state revert

*Description*:
#15110 fixed the handling of rejected VHDS configs.
@antoniovicente suggested ([comment](https://github.com/envoyproxy/envoy/pull/15110#discussion_r587733145)) to make this code more maintainable, by creating the new structures, validating them, and if they are valid move that data and set as the new config.

[2021-03-04 20:44] mattklein123 commented on #14872
Reopening due to the revert https://github.com/envoyproxy/envoy/pull/15317

[2021-03-04 21:04] Green7 commented on #15309
@alyssawilk Of course. The whole config:
[code]

[2021-03-04 21:14] alyssawilk commented on #15309
yeah, so if I set that up and
telnet 127.0.0.1 8080

POST / HTTP/1.1
Host: www.google.com
content-type: application/grpc

I get an immediate response

HTTP/1.1 200 OK
content-type: application/grpc
grpc-status: 14
grpc-message: upstream connect error or disconnect/reset before headers. reset reason: connection failure
date: Thu, 04 Mar 2021 21:13:42 GMT
server: envoy
content-length: 0

I changed t

[2021-03-04 21:25] charlesxu2000 commented on #10393
I think this is from another person.
After I changed my configure with the panic percentage, it works as expected.

[2021-03-04 21:33] #13188 closed

[2021-03-04 22:01] #15246 closed

[2021-03-04 22:58] antoniovicente commented on #9953
Tests for core extension (TLS) depending on non-core extension with new cert verifier functionality -> broken build if you only want the transport_sockets TLS extension.

https://github.com/envoyproxy/envoy/pull/14884

[2021-03-05 00:07] #14813 closed

[2021-03-05 00:21] style95 commented on #15305
@lambdai Thanks. I updated the description accordingly.

@alyssawilk It's exactly what @lambdai described.
`15001` is the listening port of Envoy.
The client randomly selects the source ports to connect to the destinations and they are in conflict.

So if we use Envoy, it would happen anyway?
I am curious if all users of Envoy are really facing the same issue.

Even if we use multiple IPs(`127.0.0

[2021-03-05 01:56] nitgoy opened #15325 "Connection limit filter"
*Title*: *Add support for limiting absolute number of connections*

*Description*:

[2021-03-05 03:14] htuch commented on #14878
@PiotrSikora sure, can you file a bug for the ORIGINAL_DST use in other places that isn't handled gracefully?

[2021-03-05 03:59] yanavlasov commented on #15264
The `source/common/chromium_url` should go away soon. I'm not quite certain when deprecation period has started for the code that uses it.

[2021-03-05 04:20] #14598 closed

[2021-03-05 04:30] mattklein123 opened #15327 "udp: make max packet size configurable"

[2021-03-05 05:10] #11532 closed

[2021-03-05 05:46] pezzak commented on #10393
Oh, i missed it in the documentation. I also changed panic percentage and it works as expected.
@charlesxu2000 thanks for the comment!

[2021-03-05 05:58] moderation commented on #15304
Full results from OSSF Scorecard is:
[code]
Descriptions of categories at https://github.com/ossf/scorecard#checks. In addition to CI, doing code scanning with CodeQL might be another quick win. Some of the dependencies inhttps://github.com/grpc-ecosystem/grpc-httpjson-transcoding/blob/master/repositories.bzl are themselves old - protobuf 3.10.1 as an example.

[2021-03-05 06:03] nareddyt commented on #15304
@qiwzhang I was planning on updating the dep for protobuf tomorrow. I can handle CI setup as well once I have permissions.

I don't have background on the other items. @moderation which ones are hard blockers?

[2021-03-05 06:06] moderation commented on #15304
@nareddyt CI and Security Policy are both `MUST` for core deps - https://github.com/envoyproxy/envoy/blob/main/DEPENDENCY_POLICY.md#new-external-dependencies

[2021-03-05 07:14] GabrielGhe commented on #15228
Related https://github.com/envoyproxy/envoy/issues/13295

[2021-03-05 08:03] #14826 closed

[2021-03-05 08:12] GabrielGhe commented on #15228
Related https://github.com/envoyproxy/envoy/issues/378

[2021-03-05 09:06] wood-push-melon commented on #15280
@alyssawilk Thanks. Sorry for the late response. We are in different time zones. I will hop on Slack and leave you messages.

[2021-03-05 09:08] Brunomachadob commented on #11532
Hi @mattklein123, just to confirm based on the newly created doc: https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/request_id/uuid/v3/uuid.proto#envoy-v3-api-msg-extensions-request-id-uuid-v3-uuidrequestidconfig

So I would be able to just use:
[code]

And I will still get 100% sampling (but without header mutation) because of the `random_sampling` property (which is 100% by default)?

[2021-03-05 09:31] ankatare opened #15330 "Version History Path Mismatch"
*Title*: *Mismatch of version_history page for v1.17.1 from Home page of Envoyproxy wrt github path*

*Description*:

Is there any change in doc root/ structure ?

[optional *Relevant Links*:]

[2021-03-05 11:48] rojkov commented on #12138
I was curious why an update with 10k EDS clusters turns into >100M traffic from Envoy to the server and sniffed it with Wireshark. So, every EDS discovery request for a cluster includes a copy of `Node` and that adds up ~11k: 10k * 11k ~= 110M.

![wireshark-cds](https://user-images.githubusercontent.com/33377/110109033-99ee0e80-7db5-11eb-929a-ba0f90552be2.png)

AFAIU the Node message is needed to

[2021-03-05 11:55] htuch commented on #12138
@rojkov this is already supported for SotW (but not delta) xDS, see https://github.com/envoyproxy/envoy/blob/07c4c17be61c77d87d2c108b0775f2e606a7ae12/api/envoy/config/core/v3/config_source.proto#L107.

I'm thinking this is something else we would prefer default true (but need to do a deprecation dance to move to `BoolValue`).

@adisuissa this might be another potential cause of buffer bloat in the

[2021-03-05 12:02] phlax opened #15332 "Add a sphinx plugin to allow linking from demo configurations to api sections"
### description

learning envoy configuration can be quite a steep learning curve and its not always easy to navigate the docs to find the relevant spec

im thinking it might be helpful if the config examples in the docs provided a click through to the relevant api section - perhaps if you hover over the line a link appears at the end, for example

depending on how fine grained the links were, i t

[2021-03-05 12:03] phlax commented on #15332
cc @mattklein123 @htuch

[2021-03-05 12:12] phlax commented on #15332
cc @dmitri-d

[2021-03-05 14:01] alyssawilk commented on #15325
Are you looking for something like overload.global_downstream_max_connections?

https://www.envoyproxy.io/docs/envoy/latest/configuration/operations/overload_manager/overload_manager

[2021-03-05 14:03] alyssawilk commented on #15325
cc @phlax this took me a while to dig up even though I knew it existed.

Maybe we should have links from the https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/other_features/global_rate_limiting#arch-overview-global-rate-limit since it does limit connections

[2021-03-05 14:19] Green7 commented on #15309
@alyssawilk you're right.
The envoy seems to be working properly.
But I use grpcweb javascript/ts client and it doesn't work. It seems that on the javascript side, the request handling ends when envoy closes its socket.
Here is part of envoy log with idle_timeout set to 20s and connect_timeout set to 1.25 s:
Request:
[code]
Answer:
[code]
But js client finished handling the request after 14:04
[co

[2021-03-05 14:35] Green7 commented on #15309
One more thing.
I checked and:
- if the grpc request is handled correctly, envoy closes the stream (end_stream=true):

[code]
So shouldn't it be the same in a situation of error?

[2021-03-05 15:24] nitgoy commented on #15325
AFAIK, the downstream_max_connections can be applied at listener level. I'm looking for something that can be customized per filter chain and/or support descriptors like the rate limit filters do.

[2021-03-05 15:46] LuyaoZhong commented on #14553
@ggreenway @mattklein123 I add a background section to answer the questions from you.[design doc](https://docs.google.com/document/d/1erXjs7v8PYGD5hQu2HNkqKxoA91omqLtcOmr6p_kEXs/edit?usp=sharing)
Besides, I would like consult you where I should start my PoC. I figure out how to add a config API. But for gRPC service, I add my protobuf file but it doesn't generate C++ headers after I build envoy. A

[2021-03-05 17:29] mattklein123 commented on #11532
@Brunomachadob yes that's correct. Let me know if it doesn't work for you.

[2021-03-05 17:29] mattklein123 commented on #15332
Big +1 I think this would be amazing.

[2021-03-05 17:32] #15191 closed

[2021-03-05 17:33] mattklein123 commented on #15325
I think this is a reasonable request. Do you want to throw together a short design doc for discussion?

[2021-03-05 17:57] Brunomachadob commented on #11532
Yes, this is will work for me.
Thanks for the help!

[2021-03-05 18:04] #15193 closed

[2021-03-05 18:12] cortex93 commented on #11308
Made a fork with UDS and upstream proxy authentication support :
https://gist.github.com/cortex93/6d7cd9738b077d0447ab891cbacd0d5e

[2021-03-05 18:21] cortex93 commented on #15116
@jeratora you will find a sample at https://github.com/envoyproxy/envoy/issues/11308#issuecomment-791592585

[2021-03-05 18:45] dmitri-d commented on #15332
@phlax: if we look at bootrstrap as an example, would you generate just one link pointing to https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/bootstrap/v3/bootstrap.proto, or also generate links for individual fields in addition to that? The latter is obviously more work, but should be doable.

[2021-03-05 18:48] phlax commented on #15332
yep, the latter is defo preferable, and yep i think it would require more refs to point to etc and add some complexity

[2021-03-05 19:50] dmitri-d commented on #15332
/assign dmitri-d

[2021-03-05 20:00] davinci26 commented on #129
Hello all,

We would like to declare 1.17+ a Beta release for Envoy on Windows. Since the Alpha release, we have made major advancements in Windows platform support.

Features in 1.17:

* Synthetic edge events, which makes our asynchronous I/O model way more efficient. https://github.com/envoyproxy/envoy/issues/13189
* Support for stop signals (`Ctrl+C`/`Ctrl+Break`). https://github.com/envoyproxy

[2021-03-05 20:40] snowp opened #15336 "Support TTL removals for ECDS"
Currently the ECDS subscription logic ignores xDS removals. In order to support TTL removals, we need to honor removals and revert back to the null state for the specific resource.

[2021-03-05 22:28] rrichardson commented on #14787
@phlax - Using the latest envoyproxy/envoy-dev image,  I have verified that the non-root podman execution works correctly.
My invocation looked like:

[code]

Running as a non-privileged user (that owns the /var/envoy directory,  it was able to run, write to stdout/stderr and load the config.

[2021-03-05 23:01] jhance commented on #14710
@qiwzhang Here is draft PR: https://github.com/envoyproxy/envoy/pull/15338

[2021-03-05 23:55] kyessenov commented on #14934
Agree with @htuch. I think we can possibly solve this by immediately applying warmed subscription in the provider. The interesting case is mis-matched config provider: what if filter config provider type_urls disallows the one from the subscription? I think in this case, we should warm because there is a possibility that the new config (different by necessity) may unblock the listener.

[2021-03-06 00:06] #14831 closed

[2021-03-06 00:14] #15242 closed

[2021-03-06 00:42] Shikugawa commented on #15330
@ankatare We can see v1.17.1 link on https://www.envoyproxy.io/docs. Would you mind describing this problem for more detail?

<img width="1219" alt="Screen Shot 2021-03-06 at 9 40 05" src="https://user-images.githubusercontent.com/17607122/110188686-f3127c80-7e5f-11eb-9ca3-214c06d7ea56.png">

[2021-03-06 00:53] mattklein123 commented on #15330
This was just fixed by @moderation

[2021-03-06 00:53] #15330 closed

[2021-03-06 01:45] lambdai commented on #14934
Is it possible to store the shared latest config in the subscription?
Thus providers with different type_urls can choose to use the latest config independently.

When a new config arrives, always update the latest config. Meanwhile, iterate over the providers to give each provider a chance to adopt.

[2021-03-06 02:51] kyessenov commented on #14934
@lambdai Yeah, although I think it's better to avoid storing protobuf and just carry the factory callback.

[2021-03-06 02:59] phlax commented on #14787
brilliant - shall we close this ticket ?

[2021-03-06 04:03] #14530 closed

[2021-03-06 05:36] #14787 closed

[2021-03-06 07:07] NomadXD opened #15343 "[Question] Send a local response without closing the connection"
*Title*: *Send a local response without closing the connection*

*Description*:
I have written a custom http filter for web socket connections to rate limit based on the number of frames sent through a connection. The filter basically publishes metadata needed for rate limiting and analytics through a gRPC bidi stream. I have a requirement to send a local reply from the filter when the connection

[2021-03-06 16:04] #14835 closed

[2021-03-06 16:04] #14836 closed

[2021-03-06 16:30] sotirisk opened #15345 "Question: file upload support of envoy.filters.http.grpc_json_transcoder"
i have concluded with a simple POC i did, that envoy.filters.http.grpc_json_transcoder extension does not support file uploads. I am talking about files like images or tar files . For example support for
curl -F "data=@/home/transcodingEnvoy/dummytarfile" http://127.0.0.1:5000/savebulk/

I would be grateful if you could confirm this to me

[2021-03-06 17:30] onthegit opened #15346 "Question: Routing based on subdomain"
Hello,
for the project I am working on, I need to route the HTTP traffic based on the subdomain. What I need to do is point the wildcard dns:
*.static.example.com
 to envoy proxy and route to static upstream IP based on the subdomain:

subdomain.static.example.com -> route all HTTP traffic ONLY to 192.168.0.20
subdomain2.static.example.com -> route all HTTP traffic ONLY to 192.168.0.50

This can b

[2021-03-06 23:32] aSapien opened #15348 "filter_chain_match does not apply to dynamic_forward_proxy HTTP targets"
**Title**:
Prefix ranges for destination CIDR do not match

**Description**:
When using a filter chain match for destination using `prefix_ranges` (for example) `192.168.0.0/16` the filter chain is not found and the connection is closed.

*Repro steps*:
Start a standard envoy docker container with the command and config (provided below). Once running, try to perform a request and match on the filt

[2021-03-07 04:03] #14322 closed

[2021-03-07 09:01] phlax opened #15351 "Use jinja for protodoc"
### description

the complexity of protodoc seems to have outgrown the python templating pattern used

this is resulting in a lot of `\n` and `{indent}` fu and making it increasingly difficult to work with

one possible solution to this problem is to use python only to create structured variables that a proper templating/markup lang like jinja can consume

[2021-03-07 09:02] phlax commented on #15351
cc @htuch

[2021-03-07 10:40] WeavingGao opened #15354 "cluster-level config for network/http filters"
*Title*: Sending cluster-level config for filters by CDS or RTDS?

*Description*:

Our data-plane is deployed as an egress sidecar and we need to migrate some features from our SDK, such as degradation. We're planning to implement them in some filters, including the Redis filter and our own http filters.  Some features are cluster-level but Envoy doesn't have a per-cluster config for filters. We p

[2021-03-07 10:57] dio commented on #15354
cc. @snowp

[2021-03-07 11:04] dio commented on #15348
cc. @lambdai

[2021-03-07 11:06] dio commented on #15343
cc. @alyssawilk @snowp

[2021-03-07 14:15] ankatare commented on #15330
@mattklein123 thanks for clarifying it

[2021-03-07 16:19] stevenzzzz opened #15355 "[delta-xds] add nonce to all requests sent to management server"
*Description*: right now in Delta XDS, only ACK request has a nonce attatched to them, we need to attach the most recent nonce to all delta XDS requests.

*Repro steps*:
enable DeltaXDS connection with CDS/EDS or SRDS&&RDS, new sub-resource (out of cycle) XDS requests created by "master" XDS types will not have a nonce attached to the requests.

[2021-03-07 16:29] stevenzzzz commented on #15355
cc @htuch

[2021-03-07 16:29] stevenzzzz commented on #15355
cc htuch@

[2021-03-07 16:30] stevenzzzz commented on #15355
/cc @htuch

[2021-03-07 20:21] lambdai commented on #15348
i suspect the l4 original address is what localhost is resolved to. The 192.168 ip in the curl is not particiing the L4 address match. I can give it a try and update later today

[2021-03-07 21:33] zihuaweng opened #15356 "Failed to build //test/extensions/quic_listeners/quiche/* tests"
Hi team, I have been working on building a release version of envoy 1.17.0 with --define=boringssl=fips and running all the tests using a oracle linux 7 docker image. After solving many other issues, I have the last type of errors to fix which are related to the extension quiche. I am not sure which direction to go, could you please help me with these errors?

[code]

The full log is here
https://

[2021-03-07 22:05] aSapien commented on #15348
@lambdai thanks! I was able to confirm your suspicion by doing the following:

1. Change the `filter_chain_match` to:
[code]
2. Exec in the Envoy container and install `curl`:
[code]
3. Test with curl:
[code]

---

Can you advise how to filter the destination IP CIDRs when the Envoy cluster acts as a `dynamic_forward_proxy` ?

---

[2021-03-07 22:33] aSapien commented on #15348
To add more context, I would like to add what is my final goal:

I want Envoy to forward HTTP requests that are resolved to a private subnet destination IP via one dynamic forward cluster, and all the requests that resolve to public IP subnets via another.

[2021-03-08 00:08] lambdai commented on #15348
@aSapien Thank you for the update!
Filter chain matching procedure happens immediately after envoy receives the tcp connection. I wouldn't expect to extend the functionality to parse the http request.

I don't see the solution that you can combine multiple httpfilter/cluster/router to reach your goal. Other smarter people can add.

I probably choose to
1) Use 2+ routes to select the target cluster

[2021-03-08 00:11] aSapien commented on #15348
One more thing I just tried is using the `domains` list to match on the `virtual_hosts` configuration, instead of the `filter_chain_match`.

I was able to match the destination IP on the `domains` with a wildcard list using the `http_connection_manager` configuration below and running

[code]

However, since `domains` wildcards cannot really describe or enforce target CIDR filters, this configurat

[2021-03-08 00:28] aSapien commented on #15348
@lambdai thank you for the suggestions! I'm optimistic again :)

...
consume the destination ip and map to route recognisable token

Can you please point me to any docs that would describe the process of implementing a new filter and how I can consume the destination IP from it?

Is it possible to configure the target IP "filter" from within the `cluster` configuration?

[2021-03-08 00:40] lambdai commented on #15348
I don't have the quick answer. You probably need to forge the existing https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/http/dynamic_forward_proxy/proxy_filter.cc

[2021-03-08 00:43] lambdai commented on #15348
The upstream network filter within cluster: https://github.com/envoyproxy/envoy/blob/main/api/envoy/config/cluster/v3/cluster.proto#L963

[2021-03-08 01:29] aSapien commented on #15348
@lambdai I was thinking about this idea:

Create 2 listeners:

1. `Listener1` that directs *all* the traffic to the `dynamic_forward_proxy` cluster.
2. `Listener2` that has the `filter_chain_match` configured to match on specific IP CIDRs as in my example.

Then configure the `dynamic_forward_proxy` `cluster` use `Listener2` as the only available upstream.

Will the `dynamic_forward_proxy`  resolv

[2021-03-08 03:28] jtou100 opened #15357 "./ci/do_ci.sh: line 120: bazel: command not found"
My steps:
export ENVOY_DOCKER_BUILD_DIR=/data/envoy/envoy-docker-build
export IMAGE_NAME=envoyproxy/envoy-build-centos
export IMAGE_ID=d9b1f1cbb24b2cecca768feaa9fa3c6e6660a948-amd64

and execute command:
./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.release.server_only'

![image](https://user-images.githubusercontent.com/5299177/110270414-b3cf6180-8000-11eb-900e-cf43349d00d2.png)

There is no baze

[2021-03-08 03:41] htuch commented on #15351
@phlax seems totally reasonable.

[2021-03-08 03:42] #14958 closed

[2021-03-08 03:49] htuch commented on #15355
I don't think we need a nonce for out-of-cycle requests, see https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol#incremental-xds:

[2021-03-08 05:00] mattklein123 commented on #15354
The main problem with this from a design standpoint is that filters can change the target cluster as they run, so the only thing that marginally makes sense would be to provide the configuration for whatever cluster is in the route cache at the time the filter is first invoked. This would be non-trivial to implement and also I think be fairly confusing in certain cases, so I'm not sure we want thi

[2021-03-08 05:18] mattklein123 commented on #9445
We upgraded a while ago so this must be fixed.

[2021-03-08 05:18] #9445 closed

[2021-03-08 05:20] mattklein123 commented on #10198
v2 is going away soon so just closing this.

[2021-03-08 05:20] #10198 closed

[2021-03-08 05:24] mattklein123 commented on #12286
This is done.

[2021-03-08 05:24] #12286 closed

[2021-03-08 05:26] mattklein123 commented on #12652
This is done.

[2021-03-08 05:26] #12652 closed

[2021-03-08 05:31] mattklein123 commented on #14971
I think we fixed the su-exec issue. Let's track other problems in fresh issues.

[2021-03-08 05:38] phlax commented on #14971
i think the issue highlighted here is the common failure - i havent seen the su-exec issue too often - and i see this one regularly

essentially i think we need more memory in the docker build container - but maybe wrong

[2021-03-08 05:40] phlax commented on #14971
i guess if the problem goes away now we can ignore

[2021-03-08 06:52] mk46 commented on #15327
@mattklein123  Hi, I would like to work on this.  I think  `max_packet_size` should be  in `UdpProxyConfig`?

[2021-03-08 07:55] dio commented on #15356
cc. @lizan

[2021-03-08 07:56] mathetake opened #15361 "Add documentation about Wasm extension internals"
Given that Wasm extension mechanism seems more complex than standard built-in extensions, it is useful provide the dedicated documentation about Wasm extension internals for end-users and Envoy core developers.

This would include, for example,
- How Envoy is integrated with [Proxy-Wasm C++ Host](https://github.com/proxy-wasm/proxy-wasm-cpp-host)
- How runtimes interact with Envoy
- The Threading

[2021-03-08 07:58] dio commented on #15361
cc. @phlax

[2021-03-08 07:59] dio commented on #15345
cc. @qiwzhang @nareddyt

[2021-03-08 07:59] WeavingGao commented on #15354
Sending per-cluster info in LDS or ECDS won't solve the problem since other filters can change the target cluster as they run. Further more, we have to duplicate the same per-cluster config for every filter.

[2021-03-08 08:02] dio commented on #15290
I think @yanavlasov has a relevant plan for this, I'll try to propose something, but it will be good to hear from Yan first :).

[2021-03-08 08:24] bkgs commented on #15152
Hi, we have a humble prototype for this which we made publicly available [here](https://github.com/myteksi/ego-demo), given the interest the topic has received. There are some very specific challenges with this (laid out in the README.md), but overall, we're quite happy with how far we have got...

[2021-03-08 13:29] asraa opened #15362 "[test] Remove use of temporary files in test environment"
*Remove real temporary files in test environment*

*Description*:
Using real filesystems when running blaze test and creating temporary paths is non-hermetic. I've also seen a number of flakes in end to end fuzzers that extend `BaseIntegrationTest` and are failing on `illegalPath`, likely because of a space of other issue accessing the file. Ideally, running test binaries should not create files.

[2021-03-08 13:36] #15124 closed

[2021-03-08 13:48] asraa commented on #14190
Fixed by https://github.com/envoyproxy/envoy/pull/14575
https://github.com/envoyproxy/envoy/pull/14800

[2021-03-08 13:48] #14190 closed

[2021-03-08 13:51] alyssawilk commented on #15343
I think I need a bit more information about what you're trying to do here.

If you're proxying websocket, you're forwarding headers and streaming body upstrema, then proxying headers and streaming websocket data from upstream.

sendLocalReply sends headers and body and end stream downstream.  There's not much point keeping the connection open once you've sent end stream as the upstream can't send

[2021-03-08 13:59] stevenzzzz commented on #15355
didn't see that.
it's a little bit confusing as earlier in the doc, it also says

https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol#basic-protocol-overview

Let me close this issue if that's by design.

[2021-03-08 14:00] phlax commented on #14971
@mattklein123 afaict the problem remains:

https://dev.azure.com/cncf/envoy/_build/results?buildId=68549&view=logs&j=2229703b-209a-5c70-43aa-3eacf674f12a&t=06218374-b1ef-5f45-4455-5a78d6d63b65&l=361

i dont think that su-exec was ~ever the issue - i think it was the mem issue pointed to here

at very least the flake remains and i think this ticket should still be active

[2021-03-08 14:10] alyssawilk commented on #14971
Looks like it's failing to install ca-certificates, presumably the same network flakes that caused su-exec work to fail.

Probably a stupid question but why can't we have these things preloaded on the image?

[2021-03-08 14:15] #14648 closed

[2021-03-08 14:17] phlax commented on #14971
i might be wrong but i think this is the symptom not the cause

either way - the build stage is no longer required so im not sure why its doing this at all - ill PR...

[2021-03-08 14:20] alyssawilk commented on #15309
I suspect that Envoy is sending end stream for web-grpc.  You're sending header logs for both and for actual grpc, it's a header only response where for web-groc I'd expect the end stream to come with the body data.

I can't confirm bugs in the js stack as I'm not familiar with it, but if the client side code is buggy and depends on the connection close, you can always configure the delay close ti

[2021-03-08 14:24] sidd4u commented on #15327
@mattklein123 Hi, I would like to work on this request. I have been working on C++ for 8 years. I need to start contributing to open source for my own development. Could you please give me the opportunity to work on this.

[2021-03-08 14:27] #15355 closed

[2021-03-08 14:48] mk46 commented on #13504
Hi @moderation, Warning is emitted from below line https://github.com/envoyproxy/envoy/blob/51db7996bdd3328c42c2925817a166d0c5ebde73/source/common/http/header_map_impl.h#L198
should we change the log level from `warn` to `debug` or `info`?
https://github.com/envoyproxy/envoy/blob/51db7996bdd3328c42c2925817a166d0c5ebde73/source/common/runtime/runtime_features.cc#L30

[2021-03-08 14:49] alyssawilk commented on #15305
You are creating two different connections and you're saying the kernel is assigning them to the same ephemeral port? I'm confused about how that could happen so I think I'm still misunderstanding the problem.

I've definitely seen port exhaustion being a problem but AFIK that would result in Envoy failing to create a connection upstream entirely, not using one port for 2 connections.

[2021-03-08 16:07] hania-elayoubi opened #15364 "Question: Rule of thumb for healthy number of local rate limit configurations"
*Title*: *Question: Rule of thumb for healthy number of local rate limit configurations*

*Description*:

[*Relevant Links*:]

[2021-03-08 16:09] monelgordillo opened #15365 "Does Envoy have basic HTTP authentication?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
Does Envoy have basic HTTP authentication?  Maybe similar to NGINX's authentication: https://docs.nginx.com/nginx/admin-guide/security-control

[2021-03-08 16:23] alyssawilk commented on #15362
related, https://github.com/envoyproxy/envoy/issues/11121

[2021-03-08 17:11] shashankram commented on #11120
Hey @howardjohn , I recollect you mentioning envoy not fetching SDS secrets dynamically for clusters that reference their transport socket to an SDS config source sometimes. I have seen this issue as well. Was this fixed or root caused, because it seems like this was addressed in Istio by providing the transport socket certs within the cluster config itself.

[2021-03-08 17:29] mattklein123 commented on #14971
OK sorry yes let's keep it opening if it's still failing. @phlax you have quite a bit of understanding of all of this now. Can you take a look as well and do whatever PRs you think are necessary? Thank you.

[2021-03-08 17:29] mattklein123 commented on #15327
@mk46 @sidd4u I have a half finished PR for this so it would be best to pick a different issue, thank you.

[2021-03-08 17:44] mattklein123 commented on #15361
In general WASM docs are at 0% right now. It's a known issue that we need a massive push on docs.

[2021-03-08 17:49] lambdai commented on #15348
This generally works but there is a critical missing piece.
The filter chain match is always attached to a listener(in your example listener2) which listens on some L4 address "*:80", or "<ip>:443".

To complete the last piece, you can
1. Use iptables to redirect traffic to a port. Istio use this machenism, and redirect traffic to localport 15001. Thus you can use the listener "*:15001" and the fi

[2021-03-08 17:50] mattklein123 commented on #15354
Can you describe in more detail the problem you are actually trying to solve? That might help.

[2021-03-08 18:33] nezdolik commented on #11050
@costimuraru there is an in progress PR: https://github.com/envoyproxy/envoy/pull/13176, "slow start" is slowly moving forward.

[2021-03-08 18:42] howardjohn commented on #13504
Also `warning envoy runtime   Unable to use runtime singleton for feature envoy.reloadable_features.header_map_correctly_coalesce_cookies`

[2021-03-08 19:06] davinci26 opened #15367 "Cross platform bazel tags for documentation"
*Description*:

Add a bazel tag on extensions that are not supported on Windows (due to platform limitations) and then generate a note tag on the docs indicating that the feature is not supported.

*Relevant Links*:

See discussing at https://github.com/envoyproxy/envoy/pull/15298#pullrequestreview-606584419

[2021-03-08 19:06] davinci26 commented on #15367
cc @phlax @envoyproxy/windows-dev @mattklein123

[2021-03-08 19:18] phlax commented on #15367
iiuc the idea was to add an annotation in the api protos - something like

[code]

which i guess could also work for archs etc (not sure if needed)

if that is what @mattklein123 was suggesting then the place to start is 'tools/api_proto_plugin/annotations.py`

[2021-03-08 19:19] moderation commented on #13504
I've only just noticed these in my logs. Must be relatively new.

`Unable to use runtime singleton for feature envoy.reloadable_features.header_map_correctly_coalesce_cookies`

My runtime config is `envoy.http.headermap.lazy_map_min_size: 3` and this config generates **4** entries in the logs

[code]

[2021-03-08 19:45] adisuissa commented on #13504
The warnings occur during bootstrapping because some header maps are initialized before the runtime loader is present.
For the `envoy.http.headermap.lazy_map_min_size` field, we can fix it by setting the default value [here](https://github.com/envoyproxy/envoy/blob/30db42ca2cc3675ac14239763659a91407f052c1/source/common/http/header_map_impl.h#L199) to 3.
Not sure about `envoy.reloadable_features.he

[2021-03-08 20:16] adisuissa commented on #13504
I realized that what I've said was wrong, setting the default value won't change the warning message.
I'll try to lower the level during initialization, and I think it should solve the problem.

[2021-03-08 20:36] #14791 closed

[2021-03-08 21:02] mattklein123 commented on #15367
My preference would be to actually do this as a Bazel/BUILD option to envoy_cc_extension like security posture, etc.? Then it can get automatically picked up along with those attributes at the bazel query level?

[2021-03-08 21:23] NomadXD commented on #15343
@alyssawilk Yeah, keeping the connection open after sendLocalReply() doesn't make any sense that way. So how do I send some websocket payload downstream ? By calling encodeData() from a filter ? If it's doable with my current knowledge about envoy (implemented some http filters with grpc async client), would like to give it a try. Thanks

[2021-03-08 22:29] lambdai opened #15372 "add listener message validation based on semantic"
We have tcp listener, udp listener, api listener in the same [Listener message ](https://github.com/envoyproxy/envoy/blob/main/api/envoy/config/listener/v3/listener.proto#L39),
and I am adding another internal listener.

These listeners have their own feature set. e.g. connection_balance_config should not be used by udp listener, filter_chains should only be used by tcp listener (and quic ?), not

[2021-03-08 22:51] mattklein123 commented on #15372
Really the entire listener API is broken and in a perfect world needs to get redone, into essentially:
1) Common fields for all listener types
2) oneof of each actual listener type

If you want to start working towards this that would be great. cc @envoyproxy/api-shepherds

[2021-03-09 00:40] cgetzen commented on #14663
Hello @htuch, I have created a new PR (https://github.com/envoyproxy/envoy/pull/15375). Could we add the "no stalebot" to the issue?

[2021-03-09 01:01] antoniovicente commented on #14971
CI for https://github.com/envoyproxy/envoy/pull/15297 shows a breakage upgrading libzstd1:

2021-03-09T00:30:56.8838753Z #8 25.70 The following packages will be upgraded:
2021-03-09T00:30:57.0337701Z #8 25.70   libzstd1
2021-03-09T00:30:57.3012219Z #8 26.12 1 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.
2021-03-09T00:30:57.3013565Z #8 26.12 Need to get 161 kB of archives.
2021-03-0

[2021-03-09 01:10] mattklein123 commented on #13504
Note we merged https://github.com/envoyproxy/envoy/pull/15366 to silence the warnings, but we need a better fix here. It needs some thinking but some combination of switching to ENVOY_BUG + some type of allow list for specific cases which are not easy to fix and are benign in actual use. cc @antoniovicente

[2021-03-09 01:11] mattklein123 commented on #15152
Thanks @bkgs! Great to have another data point and more help to drive us to a good solution for all.

[2021-03-09 01:55] WeavingGao commented on #15354
We have some policies implemented in the SDK which are very different from Envoy, such as circuit breaker. We're going to port these policies into Envoy via filters, both network filters and http filters, and the configuration of these policies is basically cluster-level. So we need to sent the per-cluster configuration in xDS but don't know which way is right.

[2021-03-09 02:42] htuch commented on #15372
+1, this is one of those places that being able to make a more substantial refactor at proto level would be great, but I think we have to live with what we can in the constraints of v3.

[2021-03-09 03:04] phlax opened #15377 "Clarify configuration validation tests and tools"
### description

there is more than one path to validation of envoy config:

- starting daemon in "validate" mode
- (python) protobuf validation

what these type of validation actually do, how best to validate, and what each tool validates is an ongoing source of confusion.

at very least we need to improve docs around dev/ci, and perhaps also clarify in main docs for end users

[2021-03-09 03:20] phlax commented on #15377
quoting @htuch https://github.com/envoyproxy/envoy/pull/15284#discussion_r589909255 :

ill investigate this further

[2021-03-09 03:46] ikingye opened #15378 "Could Lua Filter use Mysql?"
I want to use Lua script get data from Mysql in Lua Filter.
Could envoy support that? And how to?

[2021-03-09 03:53] phlax commented on #15377
picking up the above point, and without looking further into how validation mode works or is triggered in ci

based on the evidence/performance of the server i think we can conclude that at very least this codepath is not doing the *same* validation as the python protobuf validator

afaict the server allows some configs (ie "single item lists") that are just not matching the spec. In this respect

[2021-03-09 03:55] phlax commented on #15377
the other question im wondering is whether we want the python validation to be a little less strict - eg allowing upper/lower case for enum options

[2021-03-09 03:56] phlax commented on #15377
related #2636 and #15292

[2021-03-09 04:39] lambdai commented on #15372
I am adding more data point (or tech debt :smile: ) to this issue is #15376

That being said a validator is a low-hanging fruit under api v3. And the validator might have value in v4 if the proto annotation doesn't provide completeness.

[2021-03-09 05:26] style95 commented on #15305
@alyssawilk
My service is trying to create two different connections with different source IP/port and destination IP/port.
But because of NAT nature, packets are path through Envoy and at this point, destination IP/port are changed to the Envoy's one. At this point, the two destinations becomes one Envoy and it makes a tcp port conflict.

In the example below, if there is no envoy in between my s

[2021-03-09 06:15] PiotrSikora commented on #15152
Currently, Envoy ships with 3 different ways to extend its capabilities and/or add business logic:
- Lua,
- Proxy-Wasm (AssemblyScript, C++, Go (TinyGo), Rust, with more programming languages added in the future),
- `ext_proc` (offload to an external process using gRPC).

which offer similiar capabilities, but have very different deployment and isolation models, so there are valid reasons for all

[2021-03-09 06:24] mandarjog commented on #15152
a major advantage of go solution without sandbox (or any solution without sandbox, including just dlopen) is that it can use Unmodified libraries and that part is common with ext_proc. The part where ext_proc extauthz differs is that the server side cannot be configured by xds. Many times you *do not want* to configure the server side, but sometimes you do and that is not an option.

I think these

[2021-03-09 07:39] Shikugawa commented on #14260
@mattklein123 This feature can be required in a special situation. Could we reopen this?

[2021-03-09 09:28] ngtuna opened #15379 "[Feature request] Support Finagle/ThriftMux"
**Title**: Thrift filter doesn't seem to work with Finagle ThriftMux.

**Description**:

I'm expecting Envoy Thrift_proxy v3 can work fine with Finagle application where client and server are talking over ThriftMux.

My setup is super simple: client <---> envoy thrift filter <----> server (SSL/TLS disabled)

Currently I got invalid binary protocol version 0x7f00 != 0x8001, detailed error as below:

[2021-03-09 09:49] ngtuna commented on #7667
@happydenn How did you end up with this error ?

I am having different issue but still with Thrift/Finagle. My client and server are both ThriftMux/Finagle, and envoy thrift filter is setting up as same as yours. And envoy stucks at thrift decoding with below error:

[code]

[2021-03-09 10:42] dio commented on #15378
I think it is not supported for now. Lua is HTTP filter only for now.

[2021-03-09 12:08] ikingye commented on #15378
Can I extend luasql in envoy?

[2021-03-09 12:08] #14027 closed

[2021-03-09 13:12] WeavingGao commented on #15354
I read the code carefully and I had an idea, we can migrate the conn_pools from the old ClusterEntry's host to newly created ClusterEntry's host if their addresses are the same, but not just drain all conn pools then create new ones. Is that reasonable, or are there any bad cases if we did so?

[2021-03-09 13:27] Zsolt-LazarZsolt commented on #7583
Hello Everyone.

Is there any development in this issue? Any workaround that helps keep the path without the query?
Would it be supported with json type logging too?

[2021-03-09 13:43] alyssawilk commented on #15343
yeah, this is where you have to be a bit careful.  Sending data before upstream has sent response headers is going to cause problems.  If you make sure you delay until your filter has seen response headers, you should be able to addEncodedData/injectEncodedDataToFilterChain to add payload.  I'd suggest reading up on the differences between the two and integration testing to make sure you're happy

[2021-03-09 13:50] bkgs commented on #15152
@PiotrSikora Besides the points mentioned by @mandarjog, maximum reusability of existing Go code did matter to us. We tried TinyGo, and it's simply not an alternative. I would also think the risk of crashing plugins exists in C++ as well, let's just assume filter creators know what they are doing although they are not C++ wizards...

[2021-03-09 14:25] jakubdyszkiewicz opened #15380 "XDS over Google gRPC does not try to resolve DNS on connection close"
*Title*: *XDS over Google gRPC does not try to resolve DNS on connection reset*

*Description*:
When Envoy connects via XDS using Google gRPC (not Envoy gRPC) it seems that DNS name is only resolved once.
Let's say I've got 2 instances of the control plane behind a DNS name. Envoy connects to instance 1., then this instance is down, the result is that Envoy cannot reconnect to the second instance.

[2021-03-09 15:45] #15031 closed

[2021-03-09 15:50] miki1029 commented on #3011
@mattklein123
I am having the same problem. My application responds with the `Connection: close` header in the preStop section, disconnects all connections through keep-alive timeout, and performs graceful shutdown, but when envoy proxy is injected, the connection between envoy proxy and client is not disconnected. And when there was an additional request, it gave me a 503 error.
This issue was op

[2021-03-09 17:33] NomadXD commented on #15343
@alyssawilk yeah probably my filter sees the response headers first because for websocket connections,  response headers are sent at the connection initialization time with 101 upgrade accepted. And I'm talking about a some point later in time that some websocket frames have already sent through envoy and when the throttle limit (5000 frames per minute) is reached, sending a websocket payload sayi

[2021-03-09 17:35] aSapien commented on #15348
@lambdai thanks for explaining. I see now that there's quite the missing piece there.

Wow, I was reading through [this blog post](https://jimmysong.io/en/blog/sidecar-injection-iptables-and-traffic-routing/) assuming it might help me understand, but I'm not very experienced with `iptables` and this solution is too-advanced-for-production in my use-case. However, it looks very interesting and I wi

[2021-03-09 17:56] #15012 closed

[2021-03-09 18:15] mattklein123 commented on #15377
cc @akonradi also related to the work you are doing

[2021-03-09 18:17] mattklein123 commented on #15372
IMO we don't need to wait until v4 (since at this point v4 is in the too far in the future / never category in my brain). We can start by adding a oneof for the new listener type and then we can reorganize via deprecations with the minor version proposal and get there over a few years. I will comment on the other PR.

[2021-03-09 19:06] zihuaweng commented on #15356
I found QUICHE can't build against FIPS BoringSSL and would be skipped by adding tag filters referring to #7433
[code]
But are there any performance differences if we diable QUICHE in envoy?

[2021-03-09 20:26] dmitri-d commented on #15377
I think it'd be better long-term if we moved to stricter validation across the board: if only to make the docs and examples less confusing. If we decide to keep the less strict validation, then the differences between protobuf enum naming, single item list encoding, etc, should be documented.

[2021-03-09 20:28] akonradi commented on #15377
My knee-jerk answer is "yes", but @phlax you make a good point that we don't want to break a bunch of existing configs. We could do something similar to the existing flow for deprecating fields, where we log, then allow with an override, then disallow. Another option would be to declare this a breaking change with the switch to v4 configs.

[2021-03-09 21:12] lambdai commented on #15348
+1. It can be done by adding functionality in dynamic_forward_proxy cluster, or by chaining the `dynamic_forward_proxy` and the `internal listener` I am proposing in https://github.com/envoyproxy/envoy/pull/15376

Both require a few changes in dynamic_forward_proxy. It's up to you whether you want to create a dedicated issue or CC more people in this one.

[2021-03-10 00:06] #14850 closed

[2021-03-10 00:38] PiotrSikora commented on #15152
Could you elaborate on what exactly didn't work for you, so that we can improve it in the future? Is your issue primarly with the Proxy-Wasm sandbox (i.e. lack of wide-open access to the host environment and the outside world) or with the limitations of the TinyGo runtime?

Also, is there a reason why `ext_proc` is not a viable solution and why you need those extensions to run in-process?

Basical

[2021-03-10 00:52] cetanu commented on #7583
I ended up separating this with my logging agent

[2021-03-10 01:07] wlhee commented on #13925
It would be helpful to close the gap to surface the gRPC timeout status.

[2021-03-10 01:37] lwpyr opened #15389 "Ability to check the cluster health in the filter"
*Title*: Ability to check the cluster health in the filter

*Description*:
When the upstream cluster is down, we want to have a way to check it in the filter and do something against it, for example, re-route the request.
If there is a way to check the cluster health in the filter? or if it is possible we can add the ability?

[2021-03-10 02:11] WeavingGao commented on #15354
It’s doable but not practical in my opinion, as my colleague who are working on control-plane may be confused to scatter per-cluster config in various filters. It seems more feasible to me to do a per-cluster-config since Envoy already has a per-route-config for filters.

[2021-03-10 03:06] miki1029 commented on #3011
(self answer)
https://www.envoyproxy.io/docs/envoy/latest/operations/admin#post--healthcheck-fail
I called this API from preStop and confirmed `connection: close`. With this API I was able to solve the problem.

[2021-03-10 04:03] #13147 closed

[2021-03-10 05:00] phlax commented on #14454
@lizan @arkodg i think this ticket should be closed now - su-exec is no longer built in the docker recipe

[2021-03-10 05:49] mathetake opened #15392 "tls: SAN matching support in SPIFFE certificate validator"
This is a follow up on the first PR https://github.com/envoyproxy/envoy/pull/14884

Right now, we only verify incoming SVIDs against the given trust bundles, but never use the existing `match_subject_alt_names` in the validation context. This must be supported in order to provide authz functionality in the SPIFFE validator.

The point I would like to discuss before I start implementation is that "

[2021-03-10 06:07] yanickxia commented on #6297
@MarcinFalkowski  today , try to rebuild cmake, will be hang at bazel `query`

[code]

wait 1 hour, but not end...

[2021-03-10 06:48] Zsolt-LazarZsolt commented on #7583
Hi @cetanu

Could you elaborate on that solution?

[2021-03-10 06:51] ikingye commented on #15378
How Can I import luasql.mysql in Envoy Lua Filter?

[code]

[2021-03-10 07:02] cetanu commented on #7583
Sure.

1. Our envoy proxy lives on an EC2 server
2. The main listener has an access log filter, which emits a JSON formatted log
3. There is another process (the log agent) on the machine which reads this log message (either via syslog, or from a file)
4. The process performs transformation to the fields

For example, we have a field `uri` which is `%REQ(X-ENVOY-ORIGINAL-PATH?:PATH):256%`.
The log

[2021-03-10 07:51] Zsolt-LazarZsolt commented on #7583
Hi @cetanu
Thank you very much for your answer.

[2021-03-10 08:50] sunnoy commented on #15206
debug logs

[code]

[2021-03-10 10:01] style95 commented on #15305
I am curious this configuration could alleviate the situation.

(BoolValue) Whether the listener should be set as a transparent socket. When this flag is set to true, connections can be redirected to the listener using an iptables TPROXY target, in which case the original source and destination addresses and ports are preserved on accepted connections. This flag should be used in combination with

[2021-03-10 12:03] #14756 closed

[2021-03-10 12:19] mk46 opened #15400 "api_listener types should be v3.HttpConnectionManager"
https://github.com/envoyproxy/envoy/blob/db7c2b25442844e2bd080e657be93975817f8424/api/envoy/config/listener/v3/api_listener.proto#L25
I think, currently supported type for api_listener is v3.HttpConnectionManager.

[2021-03-10 12:46] alishir opened #15402 "No downstream connection or no original_dst when using TPROXY and envoy.listener.original_dst"
*Title*: *Configuring transparent TCP proxy*

*Description*:

*Envoy Config*:
[code]

*Python snippet for testing tproxy:*
[code]