[2021-04-26 12:09] asraa commented on #16143
try present_match: false?

[2021-04-26 12:14] asraa commented on #16152
@yangminzhu

[2021-04-26 12:33] adisuissa commented on #16063
I think it is described in the [xds protocol](https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol#incremental-xds) and in the proto description of the field:
https://github.com/envoyproxy/envoy/blob/7cd615c262dc1b871812209e37c15a49daea5173/api/envoy/service/discovery/v3/discovery.proto#L182-L190

[2021-04-26 12:34] phlax commented on #16170
@oleksiyp can you PR ?

[2021-04-26 13:04] phlax commented on #15744
this is now resolved i think

[2021-04-26 13:04] #15744 closed

[2021-04-26 13:24] phlax commented on #16032
@Xunzhuo is this resolved ?

afaict all of the tetrate/bintray links are not working - at least the ones linked from Envoy install docs - i think we should keep it open until this can be successfully installed

[2021-04-26 13:43] alyssawilk commented on #16004
Sorry about that - was out last week.  I'll send out a PR today!

[2021-04-26 14:08] alyssawilk commented on #15953
Yeah, I think with alt-svc we should add documentation for what versions are supported, and make sure that we can enable/disable versions.

@DavidSchinazi do we have a hand-wavy time frame for when we think we'll do H3 by default?  I'm hoping by the time QUIC leaves alpha we'll have H3 on by default and not have to worry about the 1 year SLO on deprecation, but it'd be good to think about that ear

[2021-04-26 14:11] alyssawilk commented on #16123
We don't have docs yet, but it's part of the work @RyanTheOptimist and I are doing on general failover for upstream: right now we're focused on HTTP/3 failing over to TCP, but happy-eyeballs IPv6/IPv4 handling is likely coming next.

[2021-04-26 14:39] htuch commented on #16152
This doesn't make sense; protobuf doesn't have any guaranteed ordering of a protobuf map. How can the policies be examined in order?

I think the logic described is supposed to be order agnostic, but this part of the documentation doesn't make sense to me.

[2021-04-26 14:47] yanavlasov commented on #16165
I'm confused about your use of a static cluster. I do not think it was designed to have its members changed. Perhaps you can explain more what you are trying to accomplish.
In any case i think what you are describing is the intended behavior of cluster update.

[2021-04-26 14:49] oleksiyp commented on #16170
Will try to prepare it soon. I would do it right away if would be sure that this is just one place and build is okay.

[2021-04-26 14:58] phlax commented on #16170
i think the priority is  `ci/Dockerfile-envoy-alpine`

the ones in examples are less of a priority i think - and mostly use `latest` of whatever alpine-derived image they are based on

[2021-04-26 15:09] #16016 closed

[2021-04-26 15:12] sschepens commented on #16152
I think this is actually not true, i have seen protobuf implementations and they do retain order, java uses a LinkedHashMap to do that. Protocol-wise i think maps are just repeated key-value pairs, so it could theoretically maintain order.

[2021-04-26 15:13] yanavlasov commented on #16160
Hmm, [RFC2616](https://www.ietf.org/rfc/rfc2616) section 2.2 defines `token` as `any CHAR except CTLs or separators` and parenthesis listed as one of the separators. later 4.2 defines header field name as a token. According tho this the http parser is correct in rejecting requests with parenthesis in header names.
It is odd that this draft tries to use parenthesis.
In any case I do not think this

[2021-04-26 15:17] alyssawilk commented on #16007
yeah, the script uses git blame.  If we really care about ordering we should enforce it via script :-/

[2021-04-26 15:23] yanavlasov commented on #16157
Hmm, your code change snippet does not match the issue description. From the description it looks like you want per host [circuit breaker](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/circuit_breaking) but your code changes preconnect behavior. Can you describe a bit more what you are trying to accomplish, please?

[2021-04-26 15:43] alyssawilk commented on #16139
cc @jmarantz

[2021-04-26 15:48] jmarantz commented on #16139
Agreed -- I think we should stream out stats output from admin rather than buffering all of it. This would be a good project for someone that was comfortable with HTTP and C++ but doesn't need to have excessively deep knowledge of Envoy.

I have looked at this deeply in the past and could advise, but don't have time to tackle myself.

[2021-04-26 16:01] shamsimam opened #16174 "Simpler listener configuration for multiple domains with TLS support"
*Title*: Simpler listener configuration for multiple domains with TLS support

[Cross-post from envoy-users group](https://groups.google.com/g/envoy-users/c/NFHBKuLFehE) where there was little response.

*Description*:
**tl;dr** What is the simplest way to provide a mapping of domains to certificates and avoid generating repeated (one that can easily be templated by the domain+cert combination) fi

[2021-04-26 16:04] moderation commented on #16170
Fixing this would fix this aged issue - https://github.com/envoyproxy/envoy/issues/14869

I think the bigger question is should we be using an Alpine base at all? Alpine is a musl based OS. Envoy must have glibc. So in order to make Envoy work on a musl base we use `frolvlad/alpine-glibc` which adds back in all the glibc stuff. Does we trust `frolvlad` and who are they?

I think a better approach

[2021-04-26 16:08] oleksiyp commented on #16170
Distroless indeed would be great, especially the Istio case proves it is battletested.

[2021-04-26 16:08] phlax commented on #16170
+1 - altho that is going to involve updating docs/docker/ci/etc so is a much bigger task - i think we also need to publicise/warn if we change it

could we fix the sec issues with this one first

[2021-04-26 16:17] phlax commented on #16170
related https://github.com/envoyproxy/envoy/pull/15312

[2021-04-26 16:23] oleksiyp commented on #16170
@phlax I don't want to block you if you ready to update it. I am very new to envoy codebase and will need to set up build tools. (and planning to do this evening). But maybe it is just as simple as a one-line change. So feel free to not depend on me.

[2021-04-26 16:25] phlax commented on #16170
im not sure tbh - i was just checking the upstream repo (https://hub.docker.com/r/frolvlad/alpine-glibc/tags?page=1&ordering=last_updated&name=glibc-2.31) and not sure if there is a one line fix

[2021-04-26 16:26] phlax commented on #16170
i guess in part it deps on whether we are tied to glibc 2.31 - not sure how the other images there are in terms of the issues you raised

[2021-04-26 16:58] lambdai commented on #16113
@dmsqls Thanks for the analysis.
Will be fixed by https://github.com/envoyproxy/envoy/pull/15842

Before the fix, only the balance depends on the connections owned by the virtualoutbound listener. The number of connections is usually 0 there.
With my fix and the envoy filer crd, the connection will be balanced as your expectation

[2021-04-26 17:03] stlava commented on #14417
I just wanted to check in and see if anyone is actively working on this or has thought about the general design. @ronakts and I would love to collaborate if there is ongoing work, otherwise, we're going to ramp up on this area of the code base and propose a design and work on an implementation.

[2021-04-26 17:26] lambdai commented on #16123
What are the critical features if we need mixed ipv4 and ipv6 endpoints in `Cluster` ?

I can remember an ip bind. We don't want to bind an ipv4 address if the remote ip is ipv6.

I proposed automatic bind in the past https://github.com/envoyproxy/envoy/issues/9811 . It should be a minor change. I guess there was no motivation but now it's the time to implement

[2021-04-26 17:45] lizan commented on #16032
https://status.bintray.com/incidents/x1dvhtdqkcnx

[2021-04-26 17:45] #16032 closed

[2021-04-26 18:18] #16004 closed

[2021-04-26 18:21] alyssawilk commented on #16123
I would think that Envoy would do the right thing with 2 hosts in a cluster, one of which was IPv4 and the other Ipv6.  We're more focused on dynamic forward proxy, where some endpoints may have v4 and v6 resolution, and on the open internet, ipv6 may not work on some networks.

[2021-04-26 18:22] #16014 closed

[2021-04-26 18:25] lambdai opened #16179 "use_original_dst with original_dst listener filter"
The `use_original_dst` is a field in listener config.

The long lasting behavior in Envoy code is to
1. add an `original_dst_listener_filter` at the last
2. look up the best destination listener in bind_to_port=false listener candiates.

There are more approaches to recover the original_dst address: including proxy protocol and another self-defined recovery method.
We should strip the responsibili

[2021-04-26 18:41] lambdai commented on #16130
Are you suggesting the document of `transparent` should not refer to `original_dst` listener filter?

[2021-04-26 18:58] htuch commented on #12949
Sure, if you can take this on it'd be great @daixiang0

[2021-04-26 19:08] tomastigera commented on #16130
This is a prototype I tested in my usecase. It gets the original destination after DNAT that occurs between TPROXY and envoy and works well also in the regular case of a simple redirection.

https://github.com/tomastigera/envoy/commit/7ccdc1b10ce48f701a414e9195c04382ca58752f

[2021-04-26 19:08] phlax opened #16181 "Remove custom intersphinx module from `docs/_ext`"
In order to workaround https://github.com/sphinx-doc/sphinx/issues/2068 a custom intersphinx module was added to `docs/_ext`

There is an open PR to fix this upstream here https://github.com/sphinx-doc/sphinx/pull/8981, which is currently scheduled to land as part of sphinx==4.1

Once upstream is fixed we will want to remove the custom intersphinx

We may also need to update the module when we upg

[2021-04-26 19:15] tomastigera commented on #16130
No, I was saying that the original_dst may not get the right address in all cases with TPROXY.

Regarding the documentation of `transparent`, I think the wording is fine. I'd stress that it MUST be set if TPROXY is used.

[2021-04-26 20:53] davinci26 commented on #16130
if you end up doing this work, please tag me on the PR because there might be complications with Windows since we don't support the `IP_TRANSPARENT` option.

Note regarding the current implementation is that if you want to `#ifdef` the code you might want to do it with `#ifdef IP_TRANSPARENT` because `SOL_IP` is defined on Windows but `IP_TRANSPARENT` is not.

[2021-04-26 22:18] DavidSchinazi commented on #15953
I suspect we'll switch the default from `h3-29` to `h3,h3-29` in Q3 or Q4 this year?

[2021-04-26 22:32] tbarrella commented on #15472
Thank you everyone for commenting on the doc. At this point, I'm not sure if we've made much progress:

- Does code for this extension still not belong here?
- Finishing upstream filters would be a great way to support what's needed, but when we talked about this earlier it was suggested that particularly experienced Envoy developers should work on it. This makes it sound like I shouldn't work on

[2021-04-26 22:36] oleksiyp commented on #16170
I checked alpine release changelog:

[code]

The last one released 12 days ago and upstream is released 2 months ago.

@frol is the maintainer/packager of upstream packages. Hi Vlad, is it possible to build alpine 3.12.7  with glibc 2.31 ?

[2021-04-26 23:32] frol commented on #16170
@oleksiyp I triggered the automated builds on Docker Hub. The images should be ready in a while

[2021-04-26 23:47] htuch commented on #16063
Sure, clarifying would be useful.

[2021-04-26 23:49] htuch commented on #16152
Definitely true, see https://developers.google.com/protocol-buffers/docs/reference/cpp/google.protobuf.map#Map

[2021-04-26 23:54] #16021 closed

[2021-04-27 00:03] #15365 closed

[2021-04-27 01:11] dmsqls commented on #16113
Thank you. It works as expected. 👍

[2021-04-27 01:11] #16113 closed

[2021-04-27 01:13] yangminzhu commented on #16152
yeah, I think the doc needs to be fixed and updated for a more accurate description.

If you really want to support ordering, probably you could first sort the keys (policy name) and then evaluate them one-by-one in the map. This avoids API changes and should be no-op for existing users of RBAC filter because there is no guarantee to the order of the evaluation (the doc is wrong).

[2021-04-27 01:28] sschepens commented on #16152
There is actually an implicit ordering because we use a `std::map` which orders by key. We could probably take advantage of this to order the policies, but should probably be documented or tested because it could change in the future.

[2021-04-27 01:37] Xunzhuo commented on #16136
Thanks @asraa

[2021-04-27 01:40] Alan-buaa commented on #4543
I have resolved this issue, not envoy's issue. It is the DNS resolution performance problem of the k8s's cluster

[2021-04-27 01:41] yangminzhu commented on #16152
oh, I see what you mean, yes `std::map` is ordered and it is used internally by the RBAC filter (https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/common/rbac/engine_impl.h#L49), but this is not the order of the protobuf.map which could cause confusions if the user expects the order to be the one in the config API. I think we need a doc update anyway to at least match the cur

[2021-04-27 01:57] daixiang0 commented on #12949
@htuch I see your PR closed while not merged, why? It is so good I think.

[2021-04-27 02:09] L1ghtman2k opened #16185 "External Edge proxy resets grpc-web server-to-client streams."
**Title: External Edge proxy resets the connection**

*Description*:
I am running a following setup: Internet ----> Edge Envoy proxy(L1) ----> Istio Ingress gateway (L2) ----> App (with envoy sidecar)

The app utilizes grpc-web (server-to-client long-lived streams). The only two things I want L1 to do is:

- Route traffic based on the host header
- TLS termination

It does both of the above perfec

[2021-04-27 02:23] shaftofchina commented on #16165
In fact, I may find my situation described at the official docs.

[2021-04-27 02:28] shaftofchina commented on #16165
I may find my problem described at the official docs.For some reason, we use CDS without EDS by specifying fully static clusters.
![image](https://user-images.githubusercontent.com/26037176/116175325-a9009580-a742-11eb-9dde-bb1d1729933d.png)

[2021-04-27 02:33] WeavingGao opened #16188 "Access Log Command Operator: REQUEST_TX_DURATION"
Envoy already has four access log command operators of duration, i.e., DURATION, REQUEST_DURATION, RESPONSE_DURATION, RESPONSE_TX_DURATION, but it seems impossible to calculate the duration from the start time to the last byte of the request sent to the upstream with these commands.

The duration might be named REQUEST_TX_DURATION which could be used to observe Envoy's own delay in the downstream

[2021-04-27 03:10] arikachen commented on #16157
@yanavlasov thanks for you reply.  Yes, per host circuit breaker is more flexible and complex, it will support our requirement.  In my case, we want limit per host connections by cluster level config, all host has the same limit.

[2021-04-27 03:40] yanavlasov commented on #16157
If all hosts have the same limit, why not then set the cluster circuit breaker limit to number_of_hosts * max_connections_per_host ? This may work if the number_of_hosts stays the same. If loadbalancing works correctly you should have the same number of connection per host.

[2021-04-27 04:10] 13567436138 opened #16189 "I test csrf with in istio using the example in envoy examples of csrf but every choice is success"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

[code]

[code]

[code]

![image](https://user-images.githubusercontent.com/31508490/116184289-0d772100-a752-11eb-9842-c2ee05f

[2021-04-27 06:18] oleksiyp commented on #16170
Thanks @frol !

Seems no changes required from the source code perspective. The tag was changed. I downloaded recent image and checked if `/etc/alpine-release` = 3.12.7
This is of course against best practices as the tag might have changed at the last moment before release and not tested at all.

@phlax do you know when the next release is planned?

[2021-04-27 06:18] arikachen commented on #16157
It could easily burst connections to number_of_hosts * max_connections_per_host when enable session sticky.

[2021-04-27 06:25] phlax commented on #16170
not sure - but i think its a 3 month cycle

if you create a PR with the newer alpine image you will be able to test the created docker image

[2021-04-27 06:28] oleksiyp commented on #16170
But not clear what to change because `ci/Dockerfile-envoy-alpine` is relying upon a mutable tag that is already changed to the most recent version.

[2021-04-27 06:44] phlax commented on #16170
ah k - i see

you  could use the `envoy-alpine-dev` image from https://hub.docker.com/r/envoyproxy/envoy-alpine-dev/tags?page=1&ordering=last_updated

i dont think that has updated since the base image changed yet

the other way is to test out of a more recent azure build (that hasnt failed) for example here https://dev.azure.com/cncf/envoy/_build/results?buildId=73446&view=artifacts&pathAsName=fa

[2021-04-27 07:38] daixiang0 commented on #15934
Upstream fix as sphinx-doc/sphinx#8070
PR as #16186

[2021-04-27 07:44] daixiang0 commented on #16139
I want to do this, please share more details, thanks @jmarantz

[2021-04-27 12:55] jmarantz commented on #16139
The main challenge here is that it's probably simplest to make all the admin handlers stream.

The admin system defines a handler API in ./include/envoy/server/admin.h
[code]

I think we should define a new class Chunker to manage the chunking process and replace `Buffer::Instance&` in that handler prototype with a `Chunker&`, and to allow handlers to report an error code to the chunker rather tha

[2021-04-27 13:25] #16136 closed

[2021-04-27 14:32] mattklein123 commented on #15472
I left a comment in the doc but I will leave it here also:

My suggestion is the following:
- in the near term I would put this extension in the istio proxy repo. If it actually becomes the last thing remaining in that repo blocking its deletion we can discuss again.
- in the meantime fund finishing upstream http filters. @lambdai could definitely do this after internal listeners. If not @lambdai,

[2021-04-27 14:42] edudley commented on #8443
+1 to this.

In my situation, Chrome is establishing an http2 connection with envoy and re-using this connection until either envoy is killed or the user restarts their browser. Being able to set `max_requests_per_connection` on a listener would enable envoy to force Chrome to establish a new connection.

[2021-04-27 14:48] adisuissa commented on #16063
I've updated the docs in the PR(#16153).

[2021-04-27 15:30] ggreenway commented on #16139
Also note that some of the constraints of the prometheus format require collecting all the metrics to sort them. But I think peak memory use could be reduced by quite a bit by streaming out the textual format of the stats; that doesn't need to be collected as it is now. See comments near https://github.com/envoyproxy/envoy/blob/ca4ca983195f337a840618b45b9b33cda82c1224/source/server/admin/prometheu

[2021-04-27 15:42] jmarantz commented on #16139
Agreed. And keeping all the stats of a given type in a vector of pointers is not free, but it's a fraction of the cost of all the serialized strings and values held in memory to be emitted all at once.

[2021-04-27 16:38] alyssawilk commented on #15061
Aha!  That debug log is _super_ useful.
What it tells me is that there was a bug updating connecting stream capacity.
Here, there's no connecting clients, no ready clients, but connecting capacity is unexpectedly 20 (there's debug ASSERTS for that, but they weren't caught in test)

ConnPoolImplBase 0x56c5bf2a8990, ready_clients_.size(): 0, busy_clients_.size(): 0, connecting_clients_.size(): 0, co

[2021-04-27 16:43] yanavlasov commented on #16157
Ok, adding @alyssawilk for any more comments in this area

[2021-04-27 16:46] yanavlasov commented on #16165
Ah, this use case. I think people who use CDS typically use EDS as well. Given this I think there will be little interest in making this use work as you'd like it. If you can code it, feel free to submit a PR.

[2021-04-27 16:49] rgs1 commented on #15061
This is great, thanks so much for the detailed explanation and the fix! We are switching the new tcp pool back on in our deployments, hopefully after that we can turn it on here in upstream too. Thanks!

[2021-04-27 16:56] yanavlasov opened #16196 "gcc build is failing for test targets that depend on //source/exe:envoy_common_lib"
The //source/exe:envoy_common_lib target builds all extensions and as a result creates a huge list of virtual include paths to each extension directory (which by themselves are also long).
In this case gcc fails to spawn its frontend:

`gcc: fatal error: cannot execute ‘/usr/lib/gcc/x86_64-linux-gnu/9/cc1plus’: execv: Argument list too long`

As a short term solution the three test targets have be

[2021-04-27 16:58] yanavlasov commented on #16196
The short term bandaid was applied in PRs #16193 and #16187

[2021-04-27 16:59] mk46 commented on #16050
@htuch  I would like to work on this.

[2021-04-27 17:09] yanavlasov commented on #16188
Feel free to submit a PR with this change.

[2021-04-27 17:10] yanavlasov commented on #16189
Did you try running the CRCF example without Istio? Just trying to determine if this is a problem with the example or your Istio config.

[2021-04-27 17:20] yanavlasov commented on #16185
I do not see anything interesting in the attached log. It looks like Envoy proxying data normally. Are you sure these connection resets are caused by Envoy? You may want to collect TCP dump as well, to see if it gives any clues.

[2021-04-27 17:23] phlax commented on #16189
the example is tested - im pretty sure it works ok - i can check further

[2021-04-27 17:30] yanavlasov commented on #16174
@alyssawilk @htuch @mattklein123 for any comments.

[2021-04-27 17:47] alyssawilk commented on #16157
Happy to help.  @arikachen could you give a concise explanation of what you're hoping for here?

[2021-04-27 18:23] danzh2010 opened #16198 "quiche: QUIC stream is slower in transferring large amount of data"
Invest why QUIC large flow control tests are slower than TCP, especially under TSAN which currently uses adjustUpstreamTimeoutForTsan() and TSAN_TIMEOUT_FACTOR to prevent various of request/response timeout.

[2021-04-27 18:28] rgs1 commented on #15061
You mean #15792

[2021-04-27 18:45] alyssawilk commented on #16056
For Envoy set up, I think the example configs are the way to go. :-)
For Istio-specific set up I don't think we can help you though @lambdai  may have pointers.

[2021-04-27 19:00] markguan-stripe opened #16199 "Outbound listeners draining Mongo connections when we fail healthchecks from the admin endpoint"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*:  Outbound listeners draining Mongo connections when we fail healthchecks from the admin endpoint

*Description*:

We are using the admin endpoint, `POST /healthcheck

[2021-04-27 19:18] L1ghtman2k commented on #16185
The TCP from L1 to L2 just has a continuous TCP stream(any ideas, on how I could get more insight into what is going on in there?)
![image](https://user-images.githubusercontent.com/35672535/116298861-fabd1600-a76a-11eb-8650-252a366227a4.png)

The Connection from the client to L1 is encrypted, after some data there are retransmissions:
![image](https://user-images.githubusercontent.com/35672535/11

[2021-04-27 21:23] junpengl commented on #16026
@htuch It would be nice for us if dynamic forward support dns_resolver specification? Based on the doc it seems like it doesn't support it.
Our use case is that we override the DNS resolver in a K8s pod for some addresses but we would like the sidecar Envoy running in the same Pod to use a different DNS resolver for those addresses and forward the requests.

[2021-04-27 21:53] antoniovicente commented on #14597
I don't think there's a way to accomplish this without having an user visible rehash event.

[2021-04-27 23:19] cyran-ryan opened #16200 ""jwt_authn" Filter Should Include a Valid www-authenticate Header"
*Title*: `jwt_authn` Filter Should Include `www-authenticate` Header in 401 (Unauthorized) Responses

*Description*:

When the `jwt_authn` filter denies access, the 401 response does not include a
proper www-authenticate header. It should return a header following
[RFC 7235 section 3.1](https://tools.ietf.org/html/rfc7235#section-3.1). Clients many times expect
this header and will misbehave if it

[2021-04-27 23:44] lambdai commented on #16130
do you agree with my proposal? https://github.com/envoyproxy/envoy/issues/16179
I am tortured by always adding duplicated original_dst , and you wants a different implementation of original_dst
And we both don't like extra syscalls.

We should have an option to define the exact original_dst we want.

[2021-04-27 23:59] lambdai commented on #16056
@rtttech For now you have to use EnvoyFilter CR.
https://istio.io/latest/docs/reference/config/networking/envoy-filter/

[2021-04-28 00:14] htuch commented on #16050
@mk46 sure, assigned!

[2021-04-28 00:29] yanavlasov commented on #16185
What happens after retransmissions? Do you see reset from L1? So far it looks like the issue is between L1 and client.

[2021-04-28 02:03] wbpcode commented on #16157
@alyssawilk

Now the circuit breaker supports the limit of the maximum number of connections at cluster granularity.

But for each host, there is no separate limit on the number of connections. Although a reasonable load balancing algorithm can be configured to ensure that the maximum number of connections per host is roughly the same (The maximum number of connections in the cluster circuit break

[2021-04-28 04:25] L1ghtman2k commented on #16185
The way server-to-client stream works in our environment is it sends updates every 20 seconds,

Those are the only packets that were captured between the client, and L1 at the time of reset. On the client-side chrome reports net::ERR_CONNECTION_RESET after the 3rd retransmission packet (attached are the timestamps for Client and L1).
![image](https://user-images.githubusercontent.com/35672535/1163

[2021-04-28 05:01] cocotyty commented on #16139
https://prometheus.io/docs/instrumenting/writing_clientlibs/#exposition
![image](https://user-images.githubusercontent.com/2241753/116348920-809b9880-a821-11eb-9f29-9ce965e0f519.png)

I think we don't need sort them .

[2021-04-28 06:41] twghu commented on #14980
@emike922 Should the default state return 503 or 500?  While it could be argued the service is unavailable (ie it's broke) is a fair assessment and maybe a 503 error would make better sense from a security perspective but it seems to contradict the 500 error.

[2021-04-28 06:48] 13567436138 opened #16204 "how to modify envoy timezone ,for ingressgateway"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

[root@master01 ~]# kubectl cp /usr/share/zoneinfo/Asia/Shanghai istio-ingressgateway-d46c4ff9b-6qh4k:/etc/localtime -n istio-

[2021-04-28 06:53] 13567436138 commented on #16204
su root,anybody know the password of root

[2021-04-28 07:05] emike922 commented on #14980
@twghu I think we should aim to emulate the Wasm filter, which does a similar thing based on its `fail_open` setting:
https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/wasm/v3/wasm.proto#extensions-wasm-v3-pluginconfig

[2021-04-28 08:31] twghu commented on #14980
@emike922 ack, good call.

[2021-04-28 08:52] phlax commented on #15589
im wondering if one of the protobuf linters would pick this up (and perhaps improve proto formatting in general)

im also seeing that the problem is in part because of the guidance here - https://github.com/envoyproxy/envoy/blob/main/api/STYLE.md#adding-an-extension-configuration-to-the-api

cc @htuch

[2021-04-28 08:57] phlax opened #16205 "Docs build in post-submit fails fairly frequently due to racing updates"
### description

if there are 2 or more update to main in relatively quick succession the docs build can fail as during the period between checking out the existing docs from https://github.com/envoyproxy/envoyproxy.github.io and finishing the docs build the HEAD commit hash can have changed and the second or subsequent commits to that repo are rejected

probably the solution is to merge or rebase

[2021-04-28 12:01] #15279 closed

[2021-04-28 12:01] #15348 closed

[2021-04-28 13:03] alyssawilk commented on #15472
Definitely something we can do, but I think we're multiple quarters out from locking down launch blocking feature work and it's only a nice to have for us.  Has this been down-prioritized by Lyft and @snowp such that it's unlikely to get done this year if Google doesn't pick it up?

[2021-04-28 13:48] jmarantz commented on #5505
I think this is mostly done now. The chunking idea is captured better in https://github.com/envoyproxy/envoy/issues/16139 , so closing this.

[2021-04-28 13:48] #5505 closed

[2021-04-28 14:26] yanavlasov commented on #16200
@qiwzhang @lizan for comments.

[2021-04-28 14:36] yanavlasov commented on #16185
Hmm, I'm out of suggestions. You will need to diagnose the reason for network connection breaking down between Envoy and client. So far it does not look an Envoy problem.

[2021-04-28 14:53] #16050 closed

[2021-04-28 15:25] hazelnutsgz opened #16213 "Uneven Distribution when multiple workers listening on Unix Domain Socket"
# Code
When the listen fd is a Unix Domain Socket, or a TCP socket without RE_USEPORT (which means multiple epoll instance are waiting on the same listening fd), The logic of ```accept``` will cause unevenness of workload distribution among workers.
[code]
The "while accepting" logic will trigger starvation for some workers while other workers reach 100% CPU utilization. This is observed by my ben

[2021-04-28 15:26] htuch commented on #12949
@daixiang0 it was closed basically because of https://github.com/envoyproxy/envoy/pull/13275#issuecomment-699146438, CC @itayd.

[2021-04-28 16:02] CondormanFr commented on #12970
It is very strange that this functionality is not yet include in envoy. As explain by initial submitter, google has switch to check  the SameSite parameter since more tha an year and if you have not this , application can not work properly.
Is it possible to add the missing properties (SameSite first) with cookies in Envoy ?

[2021-04-28 16:03] #14622 closed

[2021-04-28 16:33] shaftofchina commented on #16165
Glad to do so. Actually, I am working on it now.

[2021-04-28 16:43] qiwzhang commented on #16200
Yes, this is a missing feature that jwt_authn can add.

But URI is tricky to get since it could be modified by any filters.   I would propose

For request rejected by jwt_authn, add following response header,
[code]

[2021-04-28 16:45] qiwzhang commented on #16200
Please assign it to me

[2021-04-28 17:06] danzh2010 opened #16214 "Test failure: VeryLargeRequestHeadersRejected/IPv4_HttpDownstream_HttpUpstream"
This test failed windows CI in one of my PR.

[ RUN      ] Protocols/DownstreamProtocolIntegrationTest.VeryLargeRequestHeadersRejected/IPv4_HttpDownstream_HttpUpstream
test/integration/http_integration.cc(1201): error: Value of: response->complete()
  Actual: false
Expected: true
Stack trace:
  00007FF6D0D16170: (unknown)
  00007FF6D0CF8E95: (unknown)
  00007FF6D0CF8D43: (unknown)
  00007FF6D0CFA8

[2021-04-28 17:08] L1ghtman2k commented on #16185
I did not consider that there might be other networking issues, but I did forget to mention that the connection to L2 was accessed thru VPN, which put me on a local logical network as an L2 device, and L1 was accessed publically, which made the TCP connection for the client to L2 run thru our edge firewall directly.

After testing the client connection to L2 from VPN, the issue seemed to go away,

[2021-04-28 17:19] tomastigera commented on #16130
I do not quite follow, I might not have enough knowledge, but it seems like `use_original_dst` just add the `original_dst` automatically.

I do not want to have a different implementation, I merely want the `original_dst` to use the right method of obtaining the original destination based on the environment it lives in. That is, if traffic is steered towards envoy using the iptables REDIRECT, use

[2021-04-28 17:28] #16018 closed

[2021-04-28 17:35] alyssawilk commented on #16214
cc @envoyproxy/windows-dev

[2021-04-28 17:35] tomastigera commented on #16179
I am not sure the order of filters is the main issue in https://github.com/envoyproxy/envoy/issues/16130 if that is what is proposed here.

[2021-04-28 17:47] bhatiakartik10 opened #16215 "Increase in upstream_cx_active due to setting max_connection_duration config"
*Title*: *Observed increase in `upstream_cx_active` after setting `max_connection_duration` to 120 seconds*

*Description*:
We recently deployed a new configuration by setting `max_connection_duration` to 120 seconds,  to limit long-lived downstream connections. However during deployment there was a significant increase in `envoy_cluster_upstream_cx_active` statistic as it went from around 1400 to

[2021-04-28 17:48] cyran-ryan commented on #16200
Note that the `realm=` parameter of the `www-authenticate` value is required by the RFC. I have a draft that pulls the URI of the request in the same way the HTTP tracing filter does. I can put that up if you'd like.

[2021-04-28 18:15] AshRing opened #16217 "Raising buffer limit size in EnvoyFilter"
*Title*: Raising EnvoyFilter buffer limit size

*Description*:
I have been encountering an issue with a deployment of OPA-Istio in the Envoy sidecar where it is returning 413 for requests larger than 1mb. I am aware that this is the default buffer size limit and I can't for the life of me figure out how to raise this. We have large requests with assets that come through the Envoy sidecar so I need

[2021-04-28 18:17] ggreenway commented on #16139
Agreed; I'm fine with not sorting if it reduces resources used.

[2021-04-28 18:20] jmarantz commented on #16139
We can also have option `?sort` for those that want it and are willing to wait for it and consume more memory.

[2021-04-28 18:39] #16063 closed

[2021-04-28 18:51] lambdai commented on #16179
original_dst filter is always added to the last is my pain.

I agree with you that we should add extra configuration to the existing (TPROXY style restore address)

To fulfill #16130 you can set `do_not_add_original_dst_listener_filter` and use the new original_dst_fitler config as you want.

[2021-04-28 19:03] lambdai commented on #16217
The EnvoyFilter looks legit. You can dump the config to compare the listener config before and after the EnvoyFilter.
I guess you want to start with
1. You can also set per_connection_buffer_limit_bytes to 1MB, restoring the Envoy's behavior to see if 413 is back.

Also
1. What is the error detail other than 503?
2. What component set 503?

[2021-04-28 19:28] #16002 closed

[2021-04-28 20:48] AshRing commented on #16217
Can you tell me how to dump the config?

[2021-04-28 22:04] ntgsx92 commented on #16026
This seems like a duplicate of https://github.com/envoyproxy/envoy/issues/15657

I have a working branch locally that adds `dns_resolvers` to the [DnsCacheConfig](https://github.com/envoyproxy/envoy/blob/d86bd1140a53a32d7d5558af5be4ed778eaae179/api/envoy/extensions/common/dynamic_forward_proxy/v3/dns_cache.proto#L31) which DynamicForwardProxy filter uses to fetch DNS results.

This should allow us

[2021-04-28 22:05] CondormanFr commented on #12970
Does this code works with Istio 1.8.4 ? I didn't success to make it working ...

[2021-04-28 22:17] RenjieTang commented on #9435
/assign @RenjieTang

[2021-04-28 22:18] RenjieTang commented on #10102
/assign @RenjieTang

[2021-04-28 22:52] heatonmatthew commented on #14587
We've just come across this change ([#15321](https://github.com/envoyproxy/envoy/pull/15321)) breaking our current implementation of gRPC upstreams.  Our downstream connection is encrypted, but our upstream is currently unencrypted.

The upstream service is C# NET.Core 3.x which validates that the `:scheme` tag matches the actual incoming connection.  Since the `:scheme` header is now set to `http

[2021-04-28 23:04] rostams-lyft commented on #12340
Is this still a work-in-progress?

[2021-04-28 23:06] cpakulski commented on #12340
@rostams-lyft Yes, I am still working on it.

[2021-04-29 00:08] tomastigera commented on #16179
I am still not sure I follow here - how would that help me? This is the envoy config I use in my case/tests:

[code]

[2021-04-29 00:27] htuch commented on #16174
You could add support potentially for `> 1` TLS certificate of a given type in `CommonTlsContext` `tls_certificates`, but would need to deal with the challenges around overlapping SANs etc. That would still have the problem of having to update large listeners at scale.

I think FCDS would solve the scaling problem here if we implemented it https://github.com/envoyproxy/envoy/issues/4540, but I don

[2021-04-29 00:46] htuch commented on #15589
It should be lintable by something that understands proto descriptors. I think we do something like this in the tooling to add/remove imports, but it would be better to rely on standard tooling if possible; updating the STYLE.md would help.

[2021-04-29 00:55] #15146 closed

[2021-04-29 00:56] derekargueta commented on #11346
Would this be configured at the Route level?

[2021-04-29 00:58] htuch commented on #16026
Agreed, thanks @ntgsx92, closing this as a dupe of #15657.

[2021-04-29 00:58] #16026 closed

[2021-04-29 01:00] derekargueta commented on #7521
I have interest in reviving @ambuc's PR - this can lead to surprising behavior when using `request_headers_to_add` with a variable, e.g.
[code]
I would expect `x-foobar` to be zero'd out if `x-bizbaz` is not present, but since we ignore empty headers `x-foobar` can be overridden by any incoming request if `x-bizbaz` is not set, e.g.
[code]

[2021-04-29 01:33] WeavingGao commented on #16188
@yanavlasov I submit a PR

[2021-04-29 01:37] L1ghtman2k commented on #16185
Resolved

[2021-04-29 01:37] #16185 closed

[2021-04-29 04:42] parkedwards opened #16219 "Envoy resets http2 stream after downstream response has started"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: Upstream stream reset during gRPC forwarding, causing client failures

*Description*:

We're currently in the process of migrating our sidecars from Envoy 1.10 -> 1.

[2021-04-29 05:30] dilyevsky commented on #9023
@mattklein123 maybe naive question but can tcpProxy's upstream connection selection (`initializeUpstreamConnection`) be initiated lazily on first `onData` instead of `onNewConnection`? That way RBAC and other preceding filters can send StopIteration from onNewConnection and do required processed within onConnectionEvent or even onData.

[2021-04-29 05:48] akhilgoel09 opened #16222 "Getting errors from envoy proxy with istio 1.9.1 version on GRPC web service"
Hi Guys,

I am using istio 1.9.1 and getting the below errors from my web service:

istio-grpc-error logs:

[2021-04-28T23:17:13.094Z] "POST /int.expre.subscriptions.v1.SubscriptionService/GetSubscriptionsForAccount HTTP/2" 415 UR upstream_reset_after_response_started{remote_reset} - "-" 60 0 5 4 "172.20.49.218" "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, lik

[2021-04-29 07:27] cocotyty commented on #16139
Agreed 👍

[2021-04-29 07:51] mattygyk opened #16224 "web socket keep alive no longer working version upgraded from v17 to v18"
Hi

we are running envoy proxy in front of a janus WebRTC server using websockets

Using envoy version envoy :
version: d6a4496e712d7a2335b26e2f76210d5904002c26/1.17.1/clean-getenvoy-bb8060d-envoy/RELEASE/BoringSSL works fine and this works and I we can see two way keep alive going over the websocket.

When we update the envoy proxy to version to:
envoy  version: d362e791eb9e4efa8d87f6d878740e72dc

[2021-04-29 08:01] #15071 closed

[2021-04-29 08:09] rtttech commented on #16056
Istio does not support upgrade_configs currently. Is it possible to set this parameter in envoy-filter?

[2021-04-29 08:09] sha-rath opened #16227 "Include an additional header and problem details in the message body of the response for overload scenarios"
*Title*: *: Include an additional header and problem details in the message body of the response for overload scenarios*

*Description*:
We know that _x-envoy-overloaded_ header is set on the downstream response if a request is dropped either due to maintenance mode or upstream circuit breaking.

We have a specific requirement where an additional header and a JSON content (ProblemDetails) has to b

[2021-04-29 08:20] daixiang0 commented on #16139
/assign

[2021-04-29 12:24] #15771 closed

[2021-04-29 13:16] alyssawilk commented on #14587
Thanks for the heads up!

Thankfully you can obviously flip the runtime flag back to address your problem, while you sort out what workaround makes more sense, but I don't think this warrants delay of deprecating this runtime guard.  If neither of the suggestions below works for you, please do loop back through.

Fundamentally, Envoy forwarding the scheme of the original URI is the correct thing t

[2021-04-29 13:19] alyssawilk commented on #11346
No strong opinions.   I think the existing port stripping option is probably the easiest for most folks as it both fixes the local route matching problem and protects upstream from hitting the same class of issues.
Do you folks have an interest in preserving the original port but matching sans port, or was the stripping not on your radar?  Maybe we could something similar to https://github.com/env

[2021-04-29 13:43] alyssawilk commented on #7521
No objections, though I don't think we had any of the spec experts weigh in: @PiotrSikora @DavidSchinazi
If we do revive, we should runtime guard though.

[2021-04-29 14:04] mpuncel commented on #15977
Confirming this issue still exists, apologies for not re-opening that other issue. The issue with the reverted commit was that there was a deadlock where health checks might never start even after secrets are loaded, which I believe is fixed in the final 2 commits of https://github.com/envoyproxy/envoy/pull/13650. What remains is writing an integration test that would have caught the initial deadl

[2021-04-29 14:37] lukos opened #16233 "Help setting up https for XDS cluster"
*Cannot make CDS over https work*: *upstream connect error or disconnect/reset before headers*

*Description*:
I am trying to setup Envoy as an edge proxy with control-plane data coming from a custom web service written in .Net. The web service is callable from a test client and logs the request as http2 over TLS so I know this is working correctly. However, when I try and point Envoy at this web

[2021-04-29 14:46] alyssawilk commented on #13115
Ok, I'm going to note lack of support in the docs PR, so removing this from the Alpha list.

[2021-04-29 14:49] alyssawilk opened #16234 "regression test QUIC crash caused by the import"
See discussion on #16100 (h/t @moderation for discovery)

[2021-04-29 15:57] yanavlasov commented on #16233
You are likely to have better luck by asking this in the `envoy-users` slack channel.
I think in this case you will also need to add tls config for the transport socket. Otherwise Envoy will try to connect to your server without TLS.

[2021-04-29 16:02] #15482 closed

[2021-04-29 16:03] yanavlasov commented on #16224
@alyssawilk might know if something has changed in this area

[2021-04-29 16:06] alyssawilk commented on #16224
could be related to https://github.com/envoyproxy/envoy/issues/16129 ?

[2021-04-29 16:09] yanavlasov commented on #16222
@fengli79 @lizan may be able to help with the grpc-web filter

[2021-04-29 16:14] yanavlasov commented on #16219
From the logs it looks like reset was initiated by the ALB. Do you have any diagnostics from the ALB?
Also you may get better luck asking this the envoy-users slack channel.

[2021-04-29 16:19] lukos commented on #16233
OK, I will ask there. Thanks.

[2021-04-29 16:19] #16233 closed

[2021-04-29 16:19] DavidSchinazi commented on #7521
Empty HTTP header field values are allowed as per [Section 3.2 of RFC 7230](https://datatracker.ietf.org/doc/html/rfc7230#section-3.2).

[2021-04-29 16:20] DavidSchinazi commented on #16234
Thanks for filing. I'll take care of this.

[2021-04-29 16:22] #9435 closed

[2021-04-29 16:24] alyssawilk commented on #16234
Awesome, thanks!

[2021-04-29 16:25] alyssawilk commented on #7521
Sweet. feel free to revive/runtime-guard/release-note and send it my way :-)

[2021-04-29 16:28] yanavlasov commented on #16215
The `upstream_cx_active` gauge tracks open connections, it can go and down as connections are opened and closed. The `upstream_cx_total` counter tracks total number of connection that were made to the cluster, it includes both currently open connections and connections that were closed.
Why you are seeing what you are seeing in your graphs is up to you to figure out based on how your software plot

[2021-04-29 16:42] phlax commented on #15710
awaiting final fix in #15786

[2021-04-29 16:59] parkedwards commented on #16219
hey @yanavlasov - I've posted this question in the slack channel as well, thanks for that.

I passed a packet capture log (PCAP) to Amazon support after reproducing, I'm waiting to hear back from them.  However, I'm wondering if there are any general Envoy-related guidance on managing this type of upstream behavior

[2021-04-29 17:14] PiotrSikora commented on #7521
They are unfortunately allowed, and I believe that the only reason why is that the empty `Accept-Encoding` header has a special meaning. From [RFC7231, sec. 5.3.4](https://tools.ietf.org/html/rfc7231#section-5.3.4):
[code]

[2021-04-29 18:11] v1b1 commented on #15991
Hi @dio any insight? I upgraded to v1.18.2 but no luck.

[2021-04-29 19:16] dragonbone81 opened #16240 "gRPC proto file generation question"
Hi all, I'm trying to use the ext_proc filter which requires to use grpc proto files. I know there are proto files defined in envoy, but I was wondering how to use them to generate the generated code. Do we just copy the files and generate it ourselves (this seems strange). Do we use https://github.com/envoyproxy/go-control-plane that already has the generated files (saw this suggested elsewhere).

[2021-04-29 20:17] KBaichoo opened #16241 "Crash support: Restore crash context on filter's posted callback"
Crash support: Restore crash context on filter's posted callback

*Description*:

There exists a variety of filters that stop iteration to make an asynchronous call that on completion calls back the filter. Lets call these *cb_filters*. The issue is that the context used for crash dumping gets lost. Hence if we crashed in this callstack, we’d be missing the crash dumps that we’d usually get.

Prop

[2021-04-29 20:21] KBaichoo commented on #16241
/assign @KBaichoo

[2021-04-29 20:37] derekargueta commented on #7521
A possible alternative solution to my concern could be adding something like a `protected` boolean attribute to `HeaderValueOption`such that if one tries to set it to an empty value, it still gets stripped but cannot be set by the downstream request either. It'd be a reduced blast radius, but a bit clunky in the API imo.

I don't know what kind of headaches empty header values can cause 😄 (but run

[2021-04-29 20:47] DavidSchinazi commented on #16234
I'm able to reproduce the crash at 58a13570f3f4dea9bad8b8fa5e1221d7ed5056de (from 2021-04-23) but not at 82e33f6ee0607698f6ed357cf2ec2375949c76b9 (from today 2021-04-29). @moderation could you please try again on tip of tree with your setup to confirm whether this is fixed?

[2021-04-29 20:59] akhilgoel09 commented on #16222
sure, it will be a great help if you can.

[2021-04-29 22:36] tbarrella commented on #15472
Thank you, that sounds reasonable to me too. One note is that to make TCP requests work, it looks like upstream filters would need to be configurable for TCP proxy requests over H2 CONNECT as well...

[2021-04-29 22:53] heatonmatthew commented on #14587
Thanks alyssiawilk.  I understand that this is a complicated issue with lots of different considerations. There are some aspects here that I have some questions about.

Firstly, it seems from reading the conversation that this change was implemented to enable the internal routing configuration within Envoy to consistently detect that the downstream connection was encrypted/unencrypted.  Primarily

[2021-04-29 23:52] moderation commented on #16234
I can't reproduce now either. I did try this morning after https://github.com/envoyproxy/envoy/pull/15912 but before https://github.com/envoyproxy/envoy/pull/16151 and was able to crash. But now everything looks good! Thanks

[2021-04-30 00:01] #15522 closed

[2021-04-30 00:01] #15572 closed

[2021-04-30 00:01] #15618 closed

[2021-04-30 03:32] twghu commented on #14980
Added [commit](https://github.com/twghu/envoy/commit/618fb59b0d85e980e0806ecab6b597da89e90718) checking configuration option, maybe for now a runtime [guard](https://github.com/envoyproxy/envoy/blob/main/CONTRIBUTING.md#runtime-guarding) may be sufficient?

[2021-04-30 03:36] malza321 commented on #16026
thanks mite!!

when can I try that?

I'm really looking forward to it!!

I'm using envoy for reverse proxy, nginx for forward proxy. It,s so awkward.. I want to use envoy only!

[2021-04-30 06:54] phlax opened #16246 "Cache filters need some reference documentation"
### description

There is currently a sandbox and some minimal api documentation for the cache filters/extensions

The api docs are currently wrong (they are showing the wrong relationship between these and `envoy.filters.http`)

What is desperately needed is some reference documentation that explains how these fit together and potentially could be extended

[2021-04-30 07:22] durd07 opened #16247 "[Feature] SIP protocol support in envoy"
*Title*: *SIP protocol support in envoy*

*Description*:
## Background
SIP protocol is widely used in communications industry like VoLTE or 5G Core. More and more operators are willing to deploy their product on Cloud Native Service Mesh environment. But SIP protocol has many different routing mechanism and other specific features like transaction affinity, registration affinity, weighted load bal

[2021-04-30 07:36] durd07 commented on #16247
@nearbyfly

[2021-04-30 08:34] nonefaken commented on #16126
survivors? cc: @williamsfu99 @rgs1 @derekargueta @asraa

[2021-04-30 10:08] derekargueta commented on #11346
oh wow I wasn't aware of `strip_matching_host_port` and `strip_any_host_port`, looks like these solve my problem. Should this ticket be closed?

[2021-04-30 10:20] mattygyk opened #16250 "bazel build config_load_check_tool failure"
Hi I am installing config_load_check_tool using bazel on ubuntu 16

Command:
bazel build //test/tools/config_load_check:config_load_check_tool  --sandbox_debug

Error.

Target //test/tools/config_load_check:config_load_check_tool failed to build
Use --verbose_failures to see the command lines of failed build steps.
ERROR: /root/.cache/bazel/_bazel_root/024c378c6e455b9118e04c1795b58121/external/env

[2021-04-30 13:19] pmichna opened #16251 "What is the simplest way to compile external_auth.proto to Ruby?"
I'm trying to implement a Ruby gRPC server for [the external_auth.proto interface](https://github.com/envoyproxy/envoy/blob/main/api/envoy/service/auth/v3/external_auth.proto) (similar to [this example written in Go](https://github.com/envoyproxy/envoy/blob/main/examples/ext_authz/auth/grpc-service/pkg/auth/v3/auth.go)). What's the simplest way to compile the provided .proto file to Ruby templates

[2021-04-30 13:33] yanavlasov commented on #16250
You may want to ask on envoy-dev slack channel about this problem.

[2021-04-30 13:38] yanavlasov commented on #16240
You may ask in envoy-dev slack channel.

[2021-04-30 13:49] #15558 closed

[2021-04-30 13:59] phlax opened #16252 "Enforce verification of signed commits"
### description

currently we dont have any enforcement of signed commits - iirc this is doable on PRs, but i think its a repo setting (rather than CI)

related github info here https://docs.github.com/en/github/authenticating-to-github/about-commit-signature-verification

[2021-04-30 14:00] phlax commented on #16252
cc @lizan @mattklein123 @htuch

[2021-04-30 14:01] mattygyk commented on #16250
Thanks for the advice.

[2021-04-30 14:09] Gurpartap commented on #7693
Handling a "Refresh Token" request (with expired bearer jwt access token) would be one use-case.

[code]

[code]

[2021-04-30 14:13] DavidSchinazi commented on #16234
Thanks! Let's keep this issue open to track the addition of a regression test, but it looks like we resolved the crash.

[2021-04-30 14:19] phlax commented on #16252
to clarify - this is **not** DCO - its verify the signature key with github - ie not just signing but verifying the signing key

[2021-04-30 14:19] pmichna commented on #15219
@dio Just bumping the thread to make it open.

[2021-04-30 15:31] Shikugawa opened #16254 "protobuf deserialize failure with non UTF-8 message on tracing span"
*Description*:
Protobuf deserialize failure will be occurred with non UTF-8 character on gRPC message on tracing span. This problem won't be a problem except for SkyWalking tracer because they don't use gRPC as transport. For more detail, this problem will occur here.

https://github.com/envoyproxy/envoy/blob/main/source/common/tracing/http_tracer_impl.cc#L159-L188

*Repro steps*:
1. Run skywalkin

[2021-04-30 15:32] ggreenway commented on #16110
Instead of creating a new transport socket, could this be implemented as a new handshaker on the tls transport socket? If it's a completely new transport socket, it'll have to duplicate a lot from tls.

[2021-04-30 15:56] shamsimam commented on #16174
Thanks for the responses.

That is cirrect.

That is correct, we do not want to combine multiple SANs into the same certificate.

Are there any existing issues around this that I can follow to track progress along these lines?

[2021-04-30 16:02] #15598 closed

[2021-04-30 16:08] lukos commented on #15727
imagesservice has http2 options defined in it. Does your service support http2?

Also, you are pointing the clusters to 127.0.0.1, which is the host IP address. You should be pointing them to the internal docker ip addresses of these services (you can use the docker compose service name) and you will need to specify the container ports, not the mapped ports.

[2021-04-30 16:17] Shikugawa commented on #16254
In addition, we found that the value of `http.method` span tag has trailing malformed character. This is why we faced UTF-8 deserialize failure.

[code]

[2021-04-30 16:21] lukos opened #16255 "Cannot call https/tls upstream for grpc - wrong scheme header"
*Wrong scheme header sent to upstream grpc service*

*Description*:
I understand that when using grpc, tls over http2 is preferred for performance reasons. I have setup an upstream grpc service for cluster discovery and this works with http2 and tls when called from a test client.

However, when it gets called from envoy, the grpc web service logs

`The request :scheme header 'http' does not match

[2021-04-30 17:02] ggreenway commented on #16174
You can see an example in the tests: https://github.com/envoyproxy/envoy/blob/63307f55889d35ce98a34afe7a9aaaf0277304d3/test/extensions/transport_sockets/tls/handshaker_test.cc#L179

[2021-04-30 17:03] shamsimam commented on #16174
Thank you!

[2021-04-30 18:40] stevenzzzz opened #16257 "[xds:EDS/SRDS/LDS] do not process the resources if the protobuf is the same as last version"
*Title*: No need to instantiate from protobufs if the config is the same as last version for LDS/SRDS/EDS

*Description*:
  In CDS/RDS, Envoy will skip the resource if the protobuf is the same as last version.
  We should do the same for SRDS/LDS/EDS (if not yet), to save CPU and other unnecessary cost (draining etc..).

[2021-04-30 18:41] stevenzzzz commented on #16257
/cc @htuch @yanavlasov @jmarantz

[2021-04-30 18:41] stevenzzzz commented on #16257
CC @AndresGuedez @antoniovicente

[2021-04-30 19:08] stevenzzzz commented on #16257
we can skip validation as well if the lds/rds impl keeps last version's protobuf, if the protobuf is the same.

[2021-04-30 19:13] antoniovicente commented on #16257
@yanavlasov @htuch

[2021-04-30 20:02] lambdai opened #16258 "virtual listener should not assign listen socket"
`Hard-coded ports cause issues in CI when multiple configurations run on the same machine. See other integration tests for examples of how to do this.`

_Originally posted by @ggreenway in https://github.com/envoyproxy/envoy/pull/15842#discussion_r621562832_

Envoy listener does not listen at the address if the listener doesn't bind to port. However, Envoy call SocketInterfaceImpl::socket() which

[2021-04-30 21:34] lambdai commented on #16258
I realize the bind_to_port=false listener owns an iohandle. It doesn't make sense. Those listener does not need an libevent event to drive the listener. No io operation(accept, bind) is needed.

We should create a no-op IoHandle, or allow those listeners containing no ioHandle if bind_to_port is false.

WDTY? @htuch  @mattklein123

[2021-04-30 22:05] lambdai commented on #16179
Do you use other listeners setting to bind_to_port?

Normally there is 1+ listener setting use_original_dst and 1+ listener setting bind_to_port = false. I see neither in your config. My proposal on `use_original_dst` change applies to that scenario.
https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/listener/v3/listener.proto.html?highlight=use_original_dst

For your configuration, we shou

[2021-04-30 22:16] lambdai commented on #16258
#16259 is a PoC
It add ASSERT to verify that iohandle is not used by bind_to_port_ = false listener

[2021-04-30 23:42] lambdai commented on #16258
The only failing test is QuicListener
 QuicListener and TcpListener might have a different expectation on bind_to_port.
It should be easy to fix although I don't know the exact fix yet.

The rest of the test is parsing

[2021-05-01 01:11] jamesmulcahy commented on #10030
The codebase still contains a `KNOWN_ISSUE_ASSERT` that points here, but Matt's comment above suggests this is fixed.  Any points on how to reconcile these two?

[code]

It's manifesting as:

[code]

Is there an actual known issue still, or is this an unrelated/new bug, and that KNOWN_ISSUE_ASSERT should be updated to not point at this issue?

[2021-05-01 05:10] vengadanathan-s commented on #16098
Ya, that should solve the problem. Any idea when the fix for this would be picked up ?

[2021-05-01 07:06] anupkrish24 commented on #6632
@kim-nguyenkhn @wenbozhu @fengli79 @stanley-cheung  Is there an update on this? Would be great to support this so grpc-web responses can be compressed.

[2021-05-01 08:01] #15643 closed

[2021-05-01 09:05] qinggniq commented on #16255
cc @alyssawilk. might relate to https://github.com/envoyproxy/envoy/pull/15321

[2021-05-01 10:07] littlegreyzhang commented on #16096
I will do it.

[2021-05-01 10:10] sefaphlvn opened #16262 "Clear /cluster counters"
*Title*: *Clear "/cluster" counters*

*Description*:

[2021-05-01 16:29] malza321 commented on #1291
thanks!!

but how to control log file size?
It's still increasing..

[2021-05-01 16:38] malza321 commented on #1291
thanks!!

but how to control log file size?
It's still increasing..

[2021-05-01 16:41] phlax commented on #1291
@malza321 afaiaa Envoy doesnt provide any logrotation itself - see #5678

How you do it depends on your setup - eg whether it is containerized and/or how Envoy is started and run (eg systemd) and how you want to capture the logs

The standard linux/unix tool is logrotate - i dont have any experience of using it with Envoy specifically - but noticed #13962 that you might want to look at

[2021-05-01 16:48] malza321 opened #16265 "How to control accees log file sizs on access_log config?"
Hi! I'm struggling to find out how to set up log file size or make new log file everyday on envoy.

filter_chains:
    - filters:
      - name: envoy.filters.network.http_connection_manager
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
          access_log:
          - name: envoy.access_loggers.file

[2021-05-01 18:05] aguinet opened #16266 "Extension: add dynamic metadata"
*Title*: Simple extension to add dynamic metadata

*Description*:
This extension simply allows to add user-defined dynamic metadata. This is intended to be used with matchers, so that the "result" of a matching process can imply specific metadata.

I have implemented a Proof-of-Concept of this here: https://github.com/curiefense/envoy/commit/6fdd5c0bc6a6fcdf7fb121a3ec6112e376dea813

Here is a usag

[2021-05-01 18:10] oleksiyp commented on #16170
Great we have newer version of alpine, but this doesn't guarantee that when next time release going to happen scanner do not find something else. I think best would be to have distroless based Envoy not instead alpine, but together with alpine. @phlax does this sound good? Should I create new Issue for that?

[2021-05-01 18:15] moderation commented on #16170
+1 for distroless base

[2021-05-01 18:17] phlax commented on #16170
yep! absolutely agreed that this is the best first step

we can deprecate alpine once we have that in place i think

you might want to co-ordinate with @omriz and use bazel as in https://github.com/envoyproxy/envoy/pull/15312

figuring out the mulltiarch without buildx is kinda the problem that way - maybe dont let that be a blocker and lets just get a recipe working first

[2021-05-01 21:16] malza321 commented on #1291
I don't have any cloud infra and will not have. I just use envoy binary file and config file only. and no permission on system file as well.

[2021-05-02 03:08] charlesxu2000 opened #16267 "Envoy process stuck at initialization stage"
*Title*: *Envoy process stuck at initialization stage*

*Description*:

By using `strace` tool attached to envoy process, it looks like looping at get entroy. Here is the strace output:
[code]

With the Envoy trace on, it seems it stuck at https://github.com/envoyproxy/envoy/blob/release/v1.13/source/server/configuration_impl.cc#L75

Envoy version: b67c14052c49890a7e3afe614d50979c346c024b/1.13.1/C

[2021-05-02 09:07] Gurpartap commented on #7411
based on https://github.com/envoyproxy/envoy/pull/10110, this works:

[code]

[code]

[2021-05-02 10:39] phlax commented on #15800
this is still flakey afaict

[2021-05-02 13:10] su225 commented on #15622
Fixed formatting

[2021-05-02 14:41] htuch commented on #16252
I think we need to think about dev experience here if we want to make this mandatory. Specifically, we need to make sure that our dev documentation and get-going-on-your-first-pr setup scripts make this fairly transparent. I agree with the value of signed commits, but we can't just tell folks to go learn GPG without providing a TL;DR.

[2021-05-02 16:12] malza321 commented on #15657
I'm really looking forward to it!

[2021-05-02 17:59] brodmerkle opened #16270 "envoy.features.fail_on_any_deprecated_feature Runtime Key Doesn't Prevent Envoy Startup"
While upgrading to Envoy 1.18.2 I tried to use the new envoy.features.fail_on_any_deprecated_feature runtime key to prevent Envoy from starting up at all if one or more deprecated fields are found to be in use. However, even after adding this runtime key, Envoy continued to start up even when logging deprecation warnings - in my case due to having an access_log_path defined under admin, which is n

[2021-05-02 20:29] htuch commented on #16110
@ambuc can probably weigh in here as he is familiar with both our existing uses of the TLS transport socket handshaker extension and S2A requirements. My understanding is that S2A actually doesn't delegate to BoringSSL session management in the same way that the existing TLS socket does and instead uses the TSI layer (more similar to ALTS).

[2021-05-02 20:38] htuch commented on #16257
I think this is most reasonable to do in delta xDS, where the config version is per-resource and included inline with the resource proto. We probably want to make this runtime controlled; there are probably deployments out there that don't treat version and resource name as cache identifiers (which is something we're working to solve explicitly with `xdstp://` naming).

[2021-05-02 20:42] htuch commented on #16258
Seems reasonable not to have any listener socket or I/O handles on the virtual listeners.

[2021-05-02 20:45] #16105 closed

[2021-05-03 03:10] mattklein123 commented on #16255
See further discussion here: https://github.com/envoyproxy/envoy/issues/14587#issuecomment-828832216. Definitely related.

[2021-05-03 03:12] mattklein123 commented on #14587
@alyssawilk unfortunately ^ is what I thought might happen IMO we can't break people with this change even if what they are doing is "wrong." Should we have this behavior be configurable?

[2021-05-03 03:23] mattklein123 commented on #9023
Unfortunately not, as this will break server send first protocols (yes they exist, e.g., MySQL). This is the way the code used to work way back in the day before we figured out the MySQL, etc. issue. The only possible fix here is to change how onNewConncetion() works to wait until after the TLS handshake completes.

[2021-05-03 03:35] mattklein123 commented on #16270
My suspicion is that unfortunately there is an init order issue and the deprecated field in question is actually parsed prior to runtime being initialized. This prevents the failure. This feature probably should have been a CLI option or we need to do some type of double pass over the bootstrap to look for deprecated fields and whether we need to fail to start. cc @htuch @alyssawilk who might have

[2021-05-03 07:18] #16170 closed

[2021-05-03 07:56] phlax opened #16275 "Deprecate Envoy Alpine Docker images"
### description

Once #16268 lands we will have a distroless Docker image and we can think about deprecating the Alpine image, which doesnt automatically get kept up to date in terms of sec issues  #14869 #16170

Currently the alpine image is used for some backend services in sandbox examples, although there is no reason for that - they dont use the Envoy binary etc

We will also need to announce

[2021-05-03 08:24] phlax commented on #16275
cc @oleksiyp

[2021-05-03 08:39] phlax commented on #16252
agreed - re documenting

re having to know gpg - as we enforce dco i thought that we would already have required gpg - altho checking now im not so sure - it seems you can sign a commit with just text

[2021-05-03 10:05] lukos commented on #16255
There are a couple of differences between the complaint in the linked message and this bug

1) this problem is internal with the dynamic calls to xds, there is not downstream request at this point to match.
2) I am trying to use https internally, not switching https to http internally so I am already doing what the other poster suggested.

at minimum it should be configurable but I guess it could

[2021-05-03 13:25] alyssawilk commented on #15472
SG, I think that'd have some pretty substantial value add, as it'd allow
folks to have HTTP filters for CONNECT requests, which would be a big win.

On Thu, Apr 29, 2021 at 6:36 PM Taylor Barrella ***@***.***>
wrote:

[2021-05-03 13:59] yanavlasov opened #16278 "quic: flaky //test/integration:quic_http_integration_test"
tsan/asan flavors of the //test/integration:quic_http_integration_test flake with about 10% chance. It looks like TCP listener of the fake upstream server is shutting down while test is still in progress. Multiple tests are affected.

[2021-05-03 14:02] yanavlasov commented on #16219
Retries

[2021-05-03 14:03] alyssawilk commented on #11346
Sure, I guess we can close for now and reopen if folks want to match without altering the host header :-)

[2021-05-03 14:03] #11346 closed

[2021-05-03 14:15] alyssawilk commented on #16157
Gotcha.  Yeah that seems a reasonable request and I don't think there's any current bounds today, and especially not cross-thread.

cc @RyanTheOptimist who was interest in global per-host limits too.

[2021-05-03 14:56] phlax opened #16282 "Document addition of distroless Docker image"
Now that we have a distroless image (at least when dockerhub issue is resolved) we should document its exitence to encourage testing

In particular i think we want to:

- add note in version history
- add to table of available docker images
- add in getting started > install > docker (in a separate tab - Envoy (distroless))

[2021-05-03 14:57] phlax commented on #16282
cc @oleksiyp

[2021-05-03 15:36] rohrit commented on #15438
there is probably an issue here but it was not confirm hence closing.

[2021-05-03 15:36] #15438 closed

[2021-05-03 15:56] alyssawilk opened #16283 "flake in IpVersions/Http2MetadataIntegrationTest.ProxyMultipleMetadataReachSizeLimit/IPv4_Http2Downstream_Http2Upstream"
Seen on OSX CI
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/74198/logs/244

2021-05-03T14:58:11.8849250Z [ RUN      ] IpVersions/Http2MetadataIntegrationTest.ProxyMultipleMetadataReachSizeLimit/IPv4_Http2Downstream_Http2Upstream
2021-05-03T14:58:11.8951570Z libc++abi.dylib: Pure virtual function called!
2021-05-03T14:58:11.9055690Z [2021-05-03 14:57:32.002][43

[2021-05-03 16:15] parkedwards commented on #16219
thanks @yanavlasov - based on what I provided in terms of the logs, do you have a reco on which of these error states I should retry on?

https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/router_filter#x-envoy-retry-grpc-on

[2021-05-03 16:25] samrabelachew opened #16286 "Deprecate stat collection from grpc bridge filter"
*Title*: *Deprecate stat collection code from grpc bridge filter*

*Description*:
Since the grpc stats filter exists, stat collection from the bridge filter is not necessary. We should begin the process of officially deprecating feature by first wrapping behavior around with a runtime configuration.

[*Relevant Links*:]
Documentation on filter shows that stat collection should be deprecated in fav

[2021-05-03 19:22] ggreenway commented on #16265
For log size management, I recommend logrotate (https://linux.die.net/man/8/logrotate)

[2021-05-03 19:25] ggreenway commented on #16265
For the time formatting, does the documentation for `START_TIME` on https://www.envoyproxy.io/docs/envoy/latest/configuration/observability/access_log/usage#config-access-log-format-strings answer your question?

[2021-05-03 19:30] ggreenway commented on #16252
Yep, DCO is just text in the commit message. No cryptography involved.

[2021-05-03 19:33] ggreenway commented on #16252
Given our squash-merge workflow, do the signed commits even make it into the history? I think they might just be part of the PR history.

[2021-05-03 19:34] alyssawilk opened #16291 "add H3 support for CONNECT / upgrades"
Lets us enable
DownstreamProtocolIntegrationTest, FaultyFilterWithConnect
DownstreamProtocolIntegrationTest, ConnectStreamRejection
and as much of tcp_tunneling_integration_test.cc and websocket_integration_test.cc

[2021-05-03 19:42] phlax commented on #16252
well - for users that dont use gpg to push and have their public gpg key uploaded to github it shows `unverified` next to their username on commits

iirc you can enforce that PRs must have this (not 100% reading the docs, and not sure what our current setting is)

[2021-05-03 19:46] alyssawilk commented on #15845
Actually @DavidSchinazi since you were looking for things to pick up, could you take on logging BPF success/failure to make it clear if it's working or not?

[2021-05-03 20:01] #9811 closed

[2021-05-03 20:03] alyssawilk commented on #15845
I'm adding some of the above comments to my docs PR, and just tagging moderation as co-author.  I think with that and a log message we can close this one off.

[2021-05-03 20:22] RenjieTang commented on #10102
I did some research and found the following histograms currently logged in Quiche: QuicConnection::FlushPackets() status, rate of stream frame coalescing, QPACK compression ratio, connection close error codes, tls latency, and number of packets per write.

Most of the histograms above are about internal quiche implementation. The only thing Envoy users might care is connection close error.
So inst

[2021-05-03 20:29] alyssawilk commented on #14587
so @mattklein123 I agree we need to support incorrect behavior, but I don't think we need another knob.
If folks are sending cleartext requests and want https scheme, I think using the existing scheme_redirect to change their actual http to https is the workaround I'd advise.

Given we have that knob already, I was hoping @heatonmatthew would check it out, and then if it works it can be the canoni

[2021-05-03 20:37] DavidSchinazi commented on #15845
Adding a log message when that function fails sounds good. @RenjieTang could you take this on please?

[2021-05-03 20:37] DavidSchinazi commented on #15845
/assign @RenjieTang

[2021-05-03 21:25] heatonmatthew commented on #16255
This is a different scenario to my comment [#14587 (comment)](https://github.com/envoyproxy/envoy/issues/14587#issuecomment-828832216).  However, it's possible that the root cause is the same, namely that the `:scheme` header being used for outgoing calls from Envoy is now being set to the header from downstream (rather than matching the outgoing/upstream connection encryption level).

My theory i

[2021-05-03 21:37] heatonmatthew commented on #14587
Thanks all.  @alyssawilk, unfortunately, I'm using Envoy as an embedded component within the Gloo Edge product. I will liaise with them on how I might set the flag to test this out.

However, after thinking on this over the weekend, the Service Mesh use case still seems problematic and likely to cause additional issues to be logged.  It might be worth seeking some input from the Istio project abou

[2021-05-03 22:35] malza321 commented on #16265
thanks!

but I don't have root permission in my company...

[2021-05-03 22:39] malza321 commented on #16265
I want to change utc time to my localtime. and I tried %z and it show +00:00 in the end of time text.

I want +09:00 in the end of time text or want to chanege $H to $(H+9). is that possible?

[2021-05-03 23:33] AshRing commented on #16217
@lambdai setting the buffer limit to 1MB causes the 413 to come back. I would still like to know how I can raise this to be higher than 1MB.

[2021-05-03 23:45] RenjieTang commented on #15845
When the BPF socket option is added, it will be applied in ActiveQuicListener constructor at https://github.com/envoyproxy/envoy/blob/main/source/common/quic/active_quic_listener.cc#L57, which calls down to SocketOptionImpl::setOption(), where a syscall return value is checked and warning logged.

So it looks like we are doing the correct logging? I'm confused on why these logs didn't show up in t

[2021-05-04 00:08] ntgsx92 commented on #15657
pull request added

[2021-05-04 00:22] qas opened #16297 "Envoy documentation SEO links partially broken"
It seems a lot of Envoy documentation links in search engine results and GitHub comments are yielding 404 pages i.e. when searching for "envoy socket_address" in Google.

[Example](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/address.proto)
[Slack discussion thread](https://envoyproxy.slack.com/archives/C78M4KW76/p1620084145400400)

[2021-05-04 00:28] htuch commented on #16270
Yeah, I think this assessment is correct. We need to have already parsed the entire bootstrap and validated prior to the availability of bootstrap based runtime fields.

[2021-05-04 00:58] ntgsx92 commented on #125
@kylebevans Hey Kyle, we're currently looking at using Envoy for internal routing which requires adding SRV record support in Envoy. I'm wondering how far have you gone in terms of implementation? I'm also happy to work with you to get a working PR started.

[2021-05-04 04:01] #15713 closed

[2021-05-04 06:34] phlax commented on #16297
This isnt an easy fix.

We have a redirect extension for sphinx docs which could redirect either to:

- the v3 equivalent
- the v2 page in an older version of the docs

whichever way we go we will need at least a mapping of  all of the v2 proto pages -> current page or old doc page

we can get a list of the v2 pages from the `objects.inv` in old docs but that wont give us any mapping by itself

th

[2021-05-04 10:35] phlax opened #16302 "Prevent repokitteh from alerting/assigning code shepherds for `draft` PRs"
### description

currently repokitteh alerts shepherds (eg api, dependency etc) when certain code changes

it would be helpful if this did not happen on PRs that are marked as `draft`

if this is implemented repokitteh will need to watch for when a PR ceases to be draft (this is what happens i think already in requesting reviews from codeowners - not sure how that works)

apart from the benefit of

[2021-05-04 10:35] phlax commented on #16302
cc @itayd

[2021-05-04 12:01] #15402 closed

[2021-05-04 13:03] alyssawilk commented on #14587
cc @lambdai @lizan @tbarrella

[2021-05-04 13:35] maennchen commented on #6767
We now use this Lua Snippet:

[code]

[2021-05-04 13:49] dekim commented on #6767
@maennchen Awesome! Any idea on how to implement it with Istio?

[2021-05-04 13:50] feature-id commented on #6767
Does it work in Safari for you? (we found out that Safari completely ignores 421 code and does not retry that request)

[2021-05-04 14:07] maennchen commented on #6767
@dekim Sure:

[code]

@feature-id I haven't tested Safari.

[2021-05-04 14:15] alyssawilk commented on #15845
So running as non-root
 bazel-bin/source/exe/envoy-static --config-path configs/envoyproxy_io_proxy_http3_downstream.template.yaml -l warn

there's no warning becasue BPFwon't install with concurrency =1, so fine I can update docs and add an info log about that.

I'm still not seeing warnings or errors when I run with c=2 and I'm not running as root. I wonder if this is the casue of https://github

[2021-05-04 14:49] htuch commented on #16297
This seems complicated. Can we just redirect to the top-level v3 API page?

[2021-05-04 15:01] danzh2010 commented on #15988
/assign @danzh2010

[2021-05-04 15:12] phlax commented on #16297
my feeling is that its worth the complexity - being able to view the old/new configurations is realy helpful when trying to upgrade config or interpret legacy examples etc - it really is the missing piece - so i think the benefits are pretty big

just from a redirect perspective that is kinda unhelpful that you are reading some old github etc and click the link and it *doesnt* take you to the righ

[2021-05-04 15:16] dekim commented on #6767
@maennchen Awesome! Let's see if can somebody test it on Safari.

That would be awesome!

[2021-05-04 16:16] howardjohn commented on #15838
I verified this is fixed now

[2021-05-04 16:16] #15838 closed

[2021-05-04 16:29] lambdai commented on #16217
@AshRing  Great! So the EnvoyFilter works as expected.

It's not obvious to me where the 503 is originated. The ext-authz filter? The authz server? The backend?

It's always nice to have the access log that prints the abbreviation of error details besides 503. E.g. NR/NC https://github.com/envoyproxy/envoy/blob/main/source/common/stream_info/utility.h#L21-L46

If you are lucky the code utilizes a

[2021-05-04 16:38] ggreenway commented on #16110
The title said `mTLS`. Was that just referring to mutual-auth, but not over TLS? If the underlying protocol is TLS, it may make sense to re-use some or all of the TLS transport socket. If it's not TLS, then a new transport socket is the way to go.

[2021-05-04 16:49] ambuc commented on #16110
my two cents: without a public design doc / `ABOUT.md` page on the https://github.com/google/s2a-core repo, it will be difficult for Envoy maintainers to help figure out whether this integration should happen at the custom handshaker level, the socket level, etc. Let's first try and publish some specific details of the data model and control flow for S2A. Hopefully afterwards, the Envoy interface

[2021-05-04 16:52] tavishvaidya commented on #16110
The underlying protocol is TLS. However, S2A provides its own record
protocol and frame protector implementation (similar to ALTS).

As James mentioned, will create an ABOUT.md page at
https://github.com/google/s2a-core to provide some more details.

On Tue, May 4, 2021 at 9:49 AM James Adam Buckland ***@***.***>
wrote:

[2021-05-04 16:56] abaptiste commented on #12508
Sorry for the delay in getting back to this issue.

That said, using the config above, and others, I'm not able to reproduce an OOM using the DNS Filter.

I am currently testing a `v1.16.0-dev` build with heap profiling enabled and I see this output consistently from pprof:

[code]
The v1.19.0-dev output is very similar.

In my tests, the top entry is always `ares_init_options` which Envoy calls w

[2021-05-04 17:01] antoniovicente commented on #16110
It would be good to use the handshaker interface as the main integration point.
https://github.com/envoyproxy/envoy/blob/main/include/envoy/ssl/handshaker.h

Does S2A use standard SSL records after the handshake is complete?

[2021-05-04 17:03] antoniovicente commented on #16110
If the protocol and code structure is similar to ALTS, perhaps it makes sense to integrate with the alts / tsi_socket extension?

[2021-05-04 18:11] RenjieTang commented on #15845
By running bazel-bin/source/exe/envoy-static --config-path configs/envoyproxy_io_proxy_http3_downstream.template.yaml -l warn --concurrency 2
I verified that setsocketop(SOL_SOCKET/SO_ATTACH_REUSEPORT_CBPF) is called and it returns no error.

[2021-05-04 18:50] snowp commented on #16266
SGTM, happy to sponsor this. High level this sounds right, we can flesh out the details in PR reviews

For your first point I think you could achieve this nesting by having the API specify the Struct to set instead of a specific Value? That way you get more flexibility in setting multiple values, and solve the hierarchy issue. This raises some questions around wanting to have multiple filters set

[2021-05-04 19:08] alyssawilk commented on #15845
yeah, I think BPF works at least on our workstations without special permissions, so I'm going to update the docs PR to remove the "requires root" and just say "it tries, and may require root and will log warnings if it fails" and call it a day.

[2021-05-04 19:08] #15845 closed

[2021-05-04 19:11] alyssawilk commented on #12930
Outstanding tests are solid.  I'm going to remove this from the alpha list as AFIK there are no remaining blocking test bugs.

[2021-05-04 19:14] hamdiallam opened #16308 "SOCKS proxy support"
*Title*: *SOCKS proxy support*

*Description*:
Are there plans (or a desire) to support SOCKS proxy with envoy? I wasn't able to find anything on the topic

[2021-05-04 19:18] tonya11en commented on #11816
I was looking at this over the weekend and it's not as trivial as I first thought to rip this out of the AWS filters. To use the HTTP async client, we need a target cluster instead of just an IP like we have now with libcurl. This means that the cluster configs for users of the filters are going to need to include a target cluster for the metadata fetches similar to what the [jwt authn filter does

[2021-05-04 20:29] alyssawilk opened #16309 "Happy eyeballs support for Dynamic Forward Proxy (and possibly others)"
For this, we need to have
- multiple IP addresses per host (right now we roll down to 1 DNS result)
- "async" DNS resolution (be able to return v4 and v6 results independantly)
- grid style failover logic (possibly pluggable, if we want more than "try first v6, fail over over to v6)

[2021-05-04 20:32] alyssawilk commented on #16123
FWIW filed https://github.com/envoyproxy/envoy/issues/16309 for the bits I mentioned above

[2021-05-04 20:33] alyssawilk opened #16310 "Make sure retries work well for mobile"
The mobile stack (+DFP and ideally Envoy in general) needs to retry requests that were failed for non-fatal reasons (HTTP GOAWAY, QUIC 0-RTT rejection, etc.)

[2021-05-04 20:36] alyssawilk opened #16311 "QUIC Connection Migration"
We support QUIC upstream, but there's currently not support for migration.  I think this would have to be done in upstream Envoy even if it's likely only going to be used for mobile.

[2021-05-04 20:38] alyssawilk opened #16312 "H2 prioritization"
https://tools.ietf.org/html/draft-ietf-httpbis-priority-03 is in progress, we're going to want it for better performance especially on mobile networks

[2021-05-04 20:40] alyssawilk opened #16313 "upstream h2 liveiness check"
Optionally, for stale connections, wait for an H2 ping response before sending a request on a connection which may be stale to save both bandwidth and avoid failed non-idempotent requests

[2021-05-04 20:41] alyssawilk opened #16314 "DNS improvements"
HTTPS resource record (will improve QUIC usage)
Serve stale DNS results (improves performance and reliability)
DoT/DoH

[2021-05-04 20:44] alyssawilk opened #16315 "(upstream) certificate compression"
allow bundling compressed certs with Envoy (esp for mobile)

[2021-05-04 20:47] alyssawilk opened #16316 "client side preconnect"
We have server side preconnect knobs, for scaling connections based on traffic but not client side knobs where you likely want to just fetch N (6/8) HTTP/1.1 connections if H2 doesn't work.  It'd be good to have for H1 only endpoints.

[2021-05-04 20:48] alyssawilk opened #16317 "connection pooling for both HTTP/2 and HTTP/3"
When two origins share a TLS certificate and DNS records, we can reuse existing connections to the first origin.  This would have to be configurable but has huge latency gains.

[2021-05-04 21:19] luboszk opened #16318 "HTTP/1.1 CONNECT with Envoy 1.17 and Istio 1.9.0"
*Title*: *HTTP/1.1 CONNECT configuration with Istio*

*Description*:

*Repro steps*:

  -x USiyQvWcT7wcpy8gvFb1GVmz:2b48a642-615a-4b3c-8db5-e02a88147174@tntsfeqzp4a.sandbox.verygoodproxy.com:8080 \
  -H "Content-type: application/json" \
  -d '{"account_number": "tok_sandbox_w8CBfH8vyYL2xWSmMWe3Ds"}'

*Config*:
[code]

*Issue*:

I'm looking for help with debugging why not having that `addresses` s

[2021-05-04 22:02] qiwzhang opened #16319 "jwt_authn: RemoteJwks to support RetryPolicy config"
*Description*:
Add envoy.config.core.v3.core.[RetryPolicy](https://github.com/envoyproxy/envoy/blob/a12869fa9e9add4301a700978d5489e6a0cc0526/api/envoy/config/core/v3/base.proto#L352)

Into [RemoteJwks](https://github.com/envoyproxy/envoy/blob/a12869fa9e9add4301a700978d5489e6a0cc0526/api/envoy/extensions/filters/http/jwt_authn/v3/config.proto#L217)  to support retry

From PR: https://github.com/env

[2021-05-04 22:15] DavidSchinazi commented on #16309
(Notifying @RyanTheOptimist since we'll be collaborating on parts of this.)

[2021-05-04 22:29] jpeach commented on #6767
Last time I tested Safari (2020) it didn't support retrying on 421 responses. There have been new releases since then, but the bug I filed wasn't resolved so I doubt it is fixed (or ever will be now).

[2021-05-04 22:49] danzh2010 commented on #15988
It's not a config issue, but the BPF filter doesn't support CID long than 8 bytes across multiple worker threads.

[2021-05-04 23:55] #14947 closed

[2021-05-05 00:41] #15978 closed

[2021-05-05 00:43] htuch commented on #16110
I think interacting both ALTA and S2A interact with the TSI layer for transport security encapsulation, but I'd defer to @tavishvaidya on how similar the implementations are likely to look. If they are close it's worth doing this, if there is more different than in common than separate extensions might work better.

[2021-05-05 01:58] htuch commented on #11816
Is there a way to use dynamic forward clusters to avoid having to change the API surface?

[2021-05-05 02:42] qiwzhang opened #16321 "docs building issue: when running ci/run_envoy_docker.sh 'ci/do_ci.sh docs'"
*Title*: docs building issue:  when running ci/run_envoy_docker.sh 'ci/do_ci.sh docs'

*Description*:
ci/run_envoy_docker.sh 'ci/do_ci.sh docs'

It failed with error

Collecting setuptools (from sphinx==3.5.4->-r /source/docs/requirements.txt (line 164))
In --require-hashes mode, all requirements must have their versions pinned with ==. These do not:
    setuptools from https://files.pythonhosted.

[2021-05-05 03:21] debbyku opened #16322 "envoy access log clarification"
We are using istio-1.8.3 and which is using envoy 1.16.3-dev.  From envoy access log, we would like to clarify what is  UPSTREAM_LOCAL_ADDRESS, DOWNSTREAM_REMOTE_ADDRESS & DOWNSTREAM_LOCAL_ADDRESS.

**access log definition**
[%START_TIME%] "%REQ(:METHOD)% %REQ(X-ENVOY-ORIGINAL-PATH?:PATH)% %PROTOCOL%\" %RESPONSE_CODE% %RESPONSE_FLAGS% %RESPONSE_CODE_DETAILS% %CONNECTION_TERMINATION_DETAILS% \"%UPS

[2021-05-05 03:27] sumitaneja opened #16323 "Is LUA filter httpCall() non Blocking IO for sync requests."
As per doc https://www.envoyproxy.io/docs/envoy/v1.16.0/configuration/http/http_filters/lua_filter

httpCall API on requst_handle/response_handle has 2 flavors sync and async.
With Sync flavor will this be non blocking IO or blocking??

Use case-
Above Doc mentions "Do not perform blocking operations from scripts. It is critical for performance that Envoy APIs are used for all IO."

Now httpCall w

[2021-05-05 04:21] yu-sun-77 opened #16324 "Support http_service for ratelimit filter"
*Title*: *ratelimit filter missing http_service support (has grpc_service)*

*Description*:
From the [Envoy doc](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/rate_limit_filter#), it shows Rate Limit is under "HTTP filers". However, seems currently only grpc_service is the only supported protocol to write an external rate limit service. https://www.envoyproxy.io/docs/

[2021-05-05 04:38] #16254 closed

[2021-05-05 04:39] moderation commented on #15988
Great you found the issue. I've tested with all permutations of sudo, setcap etc. and can't get concurrency > 1 to work.

[2021-05-05 05:52] oleksiyp commented on #16275
Will take this one, but not sure I understand scope of "some backend services". Can you be more specific what to convert? All examples or some specific set?

[2021-05-05 05:53] oleksiyp commented on #16282
Is "version history" some specific page? Kind of changelog? Please point me there

[2021-05-05 05:54] phlax commented on #16275
yep - try:

[code]

these are almost all flask services so dont need to use envoy-alpine-dev at all

[2021-05-05 05:58] phlax commented on #16275
hmm checking `start_service.sh`in these im not sure - checking further...

[2021-05-05 06:01] phlax commented on #16282
https://github.com/envoyproxy/envoy/blob/main/docs/root/version_history/current.rst

[2021-05-05 06:15] CoderPoet commented on #9958
Is there any progress on this issue?

[2021-05-05 06:22] phlax commented on #16275
@oleksiyp see  #16325 for an example of what  i think is needed in terms of examples' use of `envoy:alpine-dev` and removal

[2021-05-05 06:24] phlax commented on #16275
if you want to test an individual example locally best way is (eg with cache example)

[code]

[2021-05-05 10:06] phlax opened #16328 "Move protodoc to `envoy_py_binary` and use a single jinja template to render"
### description

protodoc will benefit quite a lot from moving to the newer `envoy_py_binary` format and moving tests to pytest

what would also greatly simplify the code is using the existing visitor pattern to collect up a py dictionary of the page structure and injecting that to a single template, rather than lots of snippets and `\n` workarounds

[2021-05-05 10:07] phlax commented on #16328
cc @htuch

[2021-05-05 10:13] phlax opened #16329 "Use tabs for API info on docs pages"
### description

atm there are various appendages to API info - security status, canonical name, config, extension info

we are also going to add canonical uri, examples, formerly known as info, lifecycle status, and richer extension info

atm it uses `.. notes`, and `.. tips` and in some places `warnings` in others - this is making for a bit of an angry fruit salad

i think we need to shift this

[2021-05-05 10:14] phlax commented on #16329
cc @htuch @mattklein123

[2021-05-05 10:15] phlax commented on #16329
related #16328 #15384 #15344 #16303

[2021-05-05 12:32] PranayVJain opened #16332 "Pass empty message as query parameter"
I have a request message in our proto file with definition similar to below
[code]
The request message looks like this:
[code]
Now, while calling the http endpoint using format as text works perfectly well
[code]
But this doesn't work
[code]
I suspect it is because the PDF message is empty.
Do we need to pass the empty message in some other way?

[2021-05-05 12:52] alyssawilk commented on #16255
The lack of downstream scheme is inferred as HTTP because the listener is not TLS.  The whole point of the https scheme is to communicate that encryption is being used, and to verify the privacy and integrity of the data in transit.  If you're sending in the clear to Envoy, it's not private and if Envoy has to infer scheme (which it does for H2) I believe http is correct.  So I think this is the s

[2021-05-05 13:19] lukos commented on #16255
This breaks the principle of "Least surprise". If I setup a connection to use TLS, I would expect it to send the correct scheme header. Worst-case, I need to add a config item to tell it that my connection is https (but really should be inferred from TLS configuration).

Adding a rewrite filter is a horrible workaround to a non-obvious bug.

How it behaves with an downstream listener is a totally

[2021-05-05 13:34] alyssawilk commented on #16255
I agree that if you set up a TLS connection the scheme for connections originating over that connection should be https.  I thought the case here was traffic coming in over the insecure listeners.  Is is pure gRPC discovery requests originating at Envoy going out over the secure upstream?  If so I agree that should be fixed.

[2021-05-05 15:18] #16234 closed

[2021-05-05 15:27] alyssawilk opened #16335 "flakes in IpVersions/Http2IntegrationTest.LargeFlowControlOnAndGiantBodyWithContentLength/IPv6_Http3Downstream_HttpUpstream"
Failing a few times a day on main tsan generally with !response complete, once with tsan error (maybe a red herring caused by timeout)
Seems fine on the other builds so maybe we just bump the H3 tsan timeout higher until we address that slow test bug?

https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/74378/logs/203
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-825

[2021-05-05 16:00] alyssawilk commented on #16318
cc @lambdai

[2021-05-05 17:51] aqua777 commented on #16084
Can anyone comment whether what I described above is the expected behavior or am I missing some configuration settings?
I'll be happy to provide more details and/or answer any question if needed.

[2021-05-05 18:37] davinci26 commented on #13190
@wrowe I think we can close this one now. We have done work to add the information needed to the docs. We can do it now on as-needed basis.

[2021-05-05 18:53] aguinet commented on #16266
I tried merging two struct objects with Protobuf's `Struct::mergeFrom` function, but it seems too aggressive for what we want to do.

In our case, the example is for instance two matchers that would create unique tags. One way to describe this would something like this:

[code]

In this case, `MergeFrom` would just replace the full content of `tags` with the new subobject. For instance, if the two

[2021-05-05 19:02] #15907 closed

[2021-05-05 20:01] #15207 closed

[2021-05-05 20:50] blained3 commented on #5940
@arun-vasudev Has the patch been released?

[2021-05-05 21:11] alyssawilk opened #16345 "RedirectConnectionIsBalancedOnDestinationListener flaked on windows"
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/74573/logs/164

2021-05-05T20:01:41.5198889Z test/integration/listener_lds_integration_test.cc(555): error: Value of: fake_upstreams_[0]->waitForRawConnection(connections.back().upstream_conn_)
2021-05-05T20:01:41.5199626Z   Actual: false (Timed out waiting for raw connection)
2021-05-05T20:01:41.5200115Z Expected:

[2021-05-05 21:36] skk2142 commented on #4740
Yes when I use envoy buffer, websocket breaks. However, if we put the buffer filter after router, wouldn't it be completely ignored because anything after the router filter in the request path does not have any effect?

[2021-05-05 22:57] parkedwards commented on #16219
also, FWIW - i do have this retry_on policy set on the route configuration

[code]

....that said, I don't see the `x-envoy-retry-on` OR `x-envoy-retry-grpc-on` headers in the debug logs.....I only seem to get something like this:

[code]

[2021-05-05 23:14] lambdai commented on #16345
Thanks. How could it be flaky...  I wouldn't be surprised if the test cases in ipv6 only env

@davinci26 Any clue?

[2021-05-05 23:25] tbarrella opened #16350 "Align logic for reverting a warming cluster and reverting a warming listener"
*Title*: Align logic for reverting a warming cluster and reverting a warming listener

*Description*:
#15269 fixed blocking a revert of a warming cluster by always accepting a new cluster when it's different from the existing warming cluster. This turns out to be a different approach from #12645 which instead removes the warming listener.

It seems they could both use the same logic for this situa

[2021-05-05 23:49] bwitt opened #16351 "Metric for requests with request hedging enabled"
*Title*: *Metric for request hedging*

*Description*:
Looking at the source
https://github.com/envoyproxy/envoy/blob/3e9b84809fbe78d0dd2c3c2e960aa2519505d251/source/common/router/router.cc#L240-L259
there doesn't appear to be a metric being emitted when request hedging is enabled.  I'd like to have one there so I can tell how many requests it's been enabled for.

[2021-05-05 23:53] alyssawilk commented on #4740
you can't use the buffer filter for websockets :-)

If you have a route with mixed websocket and non-websocket traffic, you can specify a filter chain without the buffer filter in the upgrade_configs, so normal traffic is buffered and websocket is not.

[2021-05-05 23:55] alyssawilk commented on #16345
often there's a race, or something needs a larger timeout?  there's some instructions for trying to repro in  test/integration/README.md - you might be able to repro locally on non-windows if you run with clang-tsan and --runs_per_test=high_number

[2021-05-06 00:28] heatonmatthew commented on #14587
I've confirmed that using the `envoy.reloadable_features.preserve_downstream_scheme` resolves the issue I've encountered.

[2021-05-06 00:34] htuch commented on #16328
Sure, these are all good directions to take `protodoc`; the tools has likely reached the point that Jinja templates would be a reasonable improvement.

[2021-05-06 00:35] htuch commented on #16329
Yes, but security and other key warnings must still appear clearly at the top; we can't bury these into tabs because they are unsightly. They are callouts for a reason :)

[2021-05-06 02:22] #16188 closed

[2021-05-06 02:49] phlax commented on #16329
yep. i will defo follow the principle of no buried warnings

[2021-05-06 04:01] #15698 closed

[2021-05-06 06:37] cocotyty commented on #16139
@daixiang0  thank you for your works

[2021-05-06 06:41] VajiraPrabuddhaka commented on #15787
@mattklein123 could you please point out a binary with symbols, so that I can use it??

I previously tried with [this](https://hub.docker.com/r/envoyproxy/envoy-debug/tags/?page=1&ordering=last_updated) and it gave me the same results.

[2021-05-06 07:34] daixiang0 commented on #7238
Now find those files, which one should stay:
[code]

[2021-05-06 08:01] daixiang0 commented on #16246
Could you share more details like layout plan?

[2021-05-06 08:07] phlax commented on #16246
not sure exactly what you mean by layout plan

have a look under `docs/root/configuration/` at some of the existing reference documentation

atm regarding the `cache`filter and cache extension (there is only one right now) there is a sandbox example (`examples/cache`), the protos and source - we need something that explains how it works i think

[2021-05-06 08:08] daixiang0 commented on #16282
Could I add to table of available docker images if no one pick it?

[2021-05-06 08:16] phlax commented on #16282
go for it - it will be a partial fix for this

[2021-05-06 12:56] gramidt commented on #9958
Hi @CoderPoet -

I'm not aware of any progress here. Is this an immediate priority for you/your team?

[2021-05-06 13:13] 13567436138 opened #16362 "how is csrf filter work,where is the token"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

how is csrf filter work,where is the token optional *Relevant Links*:]

[2021-05-06 14:30] alyssawilk opened #16365 "StartTlsIntegrationTestSuite/StartTlsIntegrationTest.SwitchToTlsFromClient/0 flakes on coverage"
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/74596/logs/245
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/74598/logs/241

I have no idea why this started flaking but @cpakulski could you take a look?

[2021-05-06 14:51] cpakulski commented on #16365
@alyssawilk I am looking at it.

[2021-05-06 15:49] danzh2010 commented on #16335
I can't reproduce the failure on my local machine. I do see >10s event loop in my local TSAN tests with giant request/response. Maybe in the CI it is even worse. And CI seems to have very small UDP receive buffer (capped by 416kB) which may drop packets in the kernel stack.
I'll re-enabling these tests after https://github.com/envoyproxy/envoy/pull/16180 gets checked in to see if they are still fl

[2021-05-06 16:40] yanavlasov commented on #16267
It is hard to tell what is the problem with the information provided. The best approach is to collect a core dump and get a stack trace of where Envoy has stopped.

[2021-05-06 16:48] wrowe commented on #13272
This ask is not specific to area/windows (Sunjay you might want to modify the title to reflect this.)

[2021-05-06 16:50] yanavlasov commented on #16255
Marked it as area/xDS, but in fact it affects all http and gRPC clients for calls to services in control or data plane.

[2021-05-06 16:51] sunjayBhatia commented on #13272
I think `ENVOY_DOCKER_OPTIONS` is already usable on linux unless something has changed?

[2021-05-06 16:54] yanavlasov commented on #16219
I think you should add `reset` in your retry policy, since this is the error you are getting.

[2021-05-06 17:08] lambdai commented on #16345
@alyssawilk Can we disable it for now? The integration test infra for listener redirect is weak given the improper listener behavior described https://github.com/envoyproxy/envoy/issues/16258

[2021-05-06 17:09] davinci26 commented on #16345
I can share traces from windows if it helps. I collected them yesterday

[2021-05-06 17:13] #14891 closed

[2021-05-06 17:35] antoniovicente commented on #16214
This test seems very flaky, could someone look into it?

[2021-05-06 17:35] davinci26 commented on #16214
I will take a look at it today

[2021-05-06 17:37] antoniovicente commented on #16365
Also failing on Window CI, not just coverage.
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/74729/logs/170

[2021-05-06 17:42] lizan commented on #16365
@bryce-anderson

[2021-05-06 17:43] lizan commented on #16365
I think this is caused by https://github.com/envoyproxy/envoy/pull/15443

[2021-05-06 17:50] wrowe commented on #13272
It is, you are asking that it can be overridden by any developer (or ci pipeline) in any environment, no?

[2021-05-06 17:52] cpakulski commented on #16365
If it is a blocker, please revert the PR until we correct it.

[2021-05-06 17:58] dmitri-d commented on #16350
I don't have a strong opinion re: which implementation is preferable; FWIW I think https://github.com/envoyproxy/envoy/pull/15269 is a bit less subtle.

[2021-05-06 18:02] parkedwards commented on #16219
thanks @yanavlasov - i'm adding both `internal,reset` to the policy to account for this, and will report back

additionally, i saw the `host_selection_retry_max_attempts` in the docs; this is supposed to limit retrying on the same host if it is bad.  but in the case of my example (single upstream is an AWS ALB), does this do what I think it does? or is it a noop

[code]

[2021-05-06 18:07] #15988 closed

[2021-05-06 18:22] antoniovicente commented on #16217
I think the 503 is coming from this part of the config.  Is the ext-authz service reachable?
[code]

Setting an unlimited per_connection_buffer_limit_bytes has fair-sharing and security implications, proceed with caution.

[2021-05-06 18:25] sunjayBhatia commented on #13272
right, this issue is an ask to see if we can get the Azure Pipelines setup to not pass linux specific options on the Windows jobs for the `ENVOY_DOCKER_OPTIONS` variable in the pipeline

[2021-05-06 19:30] ntgsx92 commented on #125
@mattklein123 It seems like part of the current implementation is to add a new cluster for resolving SRV DNS query. We're currently trying to use Dynamic Forward Proxy filter and would love to use SRV query as well for resolving upstream addresses. It doesn't seem like this issue will fully address this feature request as DFP filter uses its own custom cluster instead.

Does it make sense to creat

[2021-05-06 20:51] xjtian commented on #6297
@stlava did you get anywhere with this? I had the same problem and gave up. It seems like bazel will eat an unlimited amount of memory.

[2021-05-06 21:27] stlava commented on #6297
No, I wasn't able to get it working. I ended up just using VSCode with the docker container method and it works reasonably well albeit a resource hog even after the first build. I'm not convinced that the native dbg build on osx actually produces gdb symbols, at least I was never able to get it to do so.

[2021-05-06 22:34] #16286 closed

[2021-05-06 22:46] heatonmatthew commented on #14587
I had a quick play yesterday with route-based scheme rewrites and didn't succeed but I will put some more effort into it and get back to you.

I've been reading through the attached issues and have some questions that I'd like to ask.  Is this the appropriate forum for me to do so?  They are regarding:

- The interpretation of clause 8.1.2.3 of [rfc7540](https://tools.ietf.org/html/rfc7540#section

[2021-05-07 00:01] #15750 closed

[2021-05-07 00:55] ntgsx92 opened #16374 "dynamic_forward_proxy: Support SRV query lookup in DNS cache used by the custom cluster."
*Title*: *Support SRV query lookup in DNS cache used by the custom cluster in DFP filter.*

*Description*:

[optional *Relevant Links*:]

[2021-05-07 01:01] hobbytp commented on #16204
You cannot su root in istio ingress-gateway which is using not-root now. currently changing timezone in istio/envoy is also not supported. so
1. you could update the istio-ingress gateway to use root privilege (default is not root), and then try again.
2. Or changing the timezone in your own image.

[2021-05-07 01:39] mattklein123 commented on #125
In https://github.com/envoyproxy/envoy/issues/125#issuecomment-753748255 I suggest a 2 part change. Part 1 is adding SRV support to the resolver. This part could be configured/used from the DFP code.

[2021-05-07 02:40] #16345 closed

[2021-05-07 05:41] dandlake opened #16375 "For http filters, when is body callbacks(for either request or response) are called?"
Hi,

I have a question on how body callbacks are called for http filters, for either request or response. If the body is big and takes time to receive in envoy, how much body will be buffered, and when will the body callbacks(like onResponseBody) be invoked? How can I find the details on these behavior?

Thanks in advance.

[2021-05-07 07:39] Sooryaa-A commented on #16374
we too have a use case with DNS  srv query support for dynamic fwd proxy filter.

Have observed that even if url is having http , if port is not mentioned in URL, envoy is using default secure port "443"  instead fo default http port 80

![image](https://user-images.githubusercontent.com/50395444/117415028-78381180-af35-11eb-8192-4c318b5b470d.png)

[2021-05-07 07:57] dpwrussell commented on #15830
This is still an issue and should not be closed.

[2021-05-07 11:42] Sooryaa-A commented on #15441
Any update on this. It seen in 1.16.1 envoy version that, though ur is http , the default port getting sed is 443 some times.

[2021-05-07 12:28] #12923 closed

[2021-05-07 12:42] alyssawilk commented on #14587
No argument needed! I should have been more clear that the 6 month thing is more of a default bound on how long we have to find that workaround and make sure it's solid - it is extensible but I'm sure we'll find a way to make sure your deployment works without flipping that guard back.   I'm not clear today what that will look like, to both fix your use case and ensure we don't have a giant securi

[2021-05-07 14:12] vdvarlamov opened #16381 "Administration endpoint not available"
https://blog.envoyproxy.io/envoy-proxy-on-windows-containers-193dffa13050
I looked at the example and wanted to repeat it, but I ran into the following problem:
I run container:` docker run --publish 3000:8000 --publish 3001:10000 --detach --name bb1 test:service1`
Checking endpoints from the host:
[code]
but:
[code]
At the same time, everything is available from the container.
In envoy-service-co

[2021-05-07 15:06] ynsta commented on #16081
Thanks, for the second item I'll look at what are the limitations and compare with current apache or nginx, modsecurity modules.

[2021-05-07 16:09] byustephen commented on #3771
We had a similar issue with our cluster. After redeploying services, and deleting pods like cilium, envoy, contour, kube-proxy, one of our DevOps engineers did a rolling rebuild of the cluster and resolved the issue.

`kops rolling-update cluster --force --yes`

This was a mind boggling issue, where we had intermittent slowness, 503's, queued requests, and more. But after the rolling update we wer

[2021-05-07 17:06] cmayer-indeed opened #16384 "grpc_bridge_service tag is invalid if the service name contains a '.' character"
### Problem
This is an issue if the gRPC service name is a fully-qualified Protobuf service name (i.e. includes the package name).

https://github.com/envoyproxy/envoy/blob/a12869fa9e9add4301a700978d5489e6a0cc0526/source/common/config/well_known_names.cc#L98

For example if the service name is `indeed.jobservice.JobService` and method name `getJob`, the raw stat name for the `success` metric would

[2021-05-07 17:33] parkedwards commented on #16219
@yanavlasov interestingly - even with the retries above (specifically `internal,reset`), and reproducing this error, I'm seeing this prometheus stat suspiciously at `0`:

[code]

[2021-05-07 18:27] wrowe commented on #11657
@sunjayBhatia Would you go ahead and check status on this?

[2021-05-07 18:36] wrowe commented on #14607
This should now be satisfied.

[2021-05-07 18:36] #14607 closed

[2021-05-07 18:37] davinci26 commented on #13190
This should now be closed with the existing documentation work.

[2021-05-07 18:37] #13190 closed

[2021-05-07 18:46] wrowe commented on #15411
At this time, the CNCF isn't in a position to "certify" binary results; the releases the CNCF produces are source code which are compiled by any number of parties.

The "Envoy Project" binaries will not be signed for the time being; if you pick up the binary result from a partner of the project, those binaries may be signed by the corresponding organization.

[2021-05-07 18:50] jmarantz commented on #16129
@yanjunxiang-google is going to explore this; not ready to assign it yet.

[2021-05-07 20:53] davinci26 commented on #16214
Hey folks,

An update here. I think there is a race condition that is causing this flake but I am not quite sure how to fix it.

<details>
  <summary>From the logs</summary>

[code]
</details>

It looks like to me that there is a race condition between downstream reading and upstream disconnecting.

Also another observation is that the headers size are `2MB` and the limit is `1MB`. It seems like t

[2021-05-07 21:49] htuch commented on #16350
+1 on unifying the logic. I'm good with #15269; I think getting buy-in from @mattklein123 on the LDS change is next step, since I think he did this work.

[2021-05-08 04:01] #15788 closed

[2021-05-08 07:22] wbpcode opened #16391 "support multiple health checkers per cluster"
*Title*: *support multiple health checkers per cluster*

*Description*:
This is a very old issue. I happened to be doing some related work recently, so I am trying to see if I can close this issue. Here is some simple design.

[optional *Relevant Links*:]

[2021-05-08 07:54] WeavingGao opened #16392 "Admission Control: QPS threshold"
*Title*: *A threshold of queries per second that triggers throttling strategy*

*Description*:

In fact, in a low QPS scenario, admission control is unnecessary. We can add a QPS threshold configuration and only when the QPS exceeds this threshold, the filter will calculate the failure rate and perform subsequent actions.

cc @tonya11en @mattklein123

[2021-05-08 08:01] #15239 closed

[2021-05-08 08:01] #15724 closed

[2021-05-08 08:37] tonya11en commented on #16392
This makes perfect sense and is totally necessary. Other implementations of this mechanism I've seen in the wild at scale have this minimum RPS threshold.

This would be super easy to implement. We already track the number of request at 1 second granularity, so we can just have a simple conditional that checks the most recent second for some minimum number of requests before rejecting. It should b

[2021-05-08 08:45] tonya11en commented on #16392
While we're at it, some other low-hanging-fruit here would be to also add a maximum throttling percentage and default to some sane value like 80%.

[2021-05-08 08:45] panscake opened #16393 "Fault injection of redis filter: support per-cluster or per-endpoint fault injection"
The fault choosing in the current redis fault injection depends on the redis commands. However, per-cluster or per-endpoint fault injection is meaningful, which is not supported yet.

[2021-05-08 09:13] baoervsdier opened #16395 "envoy code status 413"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

The version of istio we installed is 1.7.4. One of the services returned a status code of 413. I understand that it should be

[2021-05-08 09:15] WeavingGao commented on #16392
I'll submit a PR.

[2021-05-08 09:17] wbpcode commented on #16391
**API**: The Health Checkers for the Upstream Cluster currently provided by the community is an array that can accept multiple Health Checkers, so the API can be reused directly without redesign. In the initial design, if any Health Checker fails, the Host is marked as unhealthy. Multiple Health Checkers work independently of each other and are identified with a unique ID.

**Record**: An addition

[2021-05-08 09:40] du2016 opened #16396 "how to support more ssl ciphers"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*:  add support ciphers to envoy

*Description*:

i want to use envoy to replace the aws alb,but envoy not support this ciphers

[code]

i have add this ciphers blow ht

[2021-05-08 09:58] baoervsdier commented on #16395
But after canceling the injection, there will be no more problems with 413

[2021-05-08 10:04] wbpcode commented on #16323
Sync flavor of httpCall only blocks Lua coroutine but will not blocks envoy. So it would be non blocking IO although you use sync httpcall in lua script.

[2021-05-08 10:19] littlegreyzhang commented on #16096
I need help for pass the linux_x64 gcc check.

[2021-05-08 10:24] phlax commented on #16205
following up on this there seems to be problems with the website/docs even when the job doesnt fail in postsubmit

for example right now envoy HEAD is at 85a8570cd0530402de21c48c6688dddb187775d5 and afaict this has been "deployed" https://github.com/envoyproxy/envoyproxy.github.io/commit/92a2c20e493466a359fa4f8353d132bf5761c2f5 but the docs are currently stuck on version 1.19.0-dev-3b9610 (https:/

[2021-05-08 11:06] wbpcode commented on #16395
I mean the upstream of the envoy who produce these log. The upstream may be another sidecar envoy.

[2021-05-08 15:38] WeavingGao opened #16397 "Runtime protos: add UInt32"
Add a helper class for runtime-derived uint32 (`RuntimeUInt32`) which is similar to runtime-derived double. See details in file `source/common/runtime/runtime_protos.h`

[2021-05-08 20:31] petedmarsh opened #16399 "The remote_address rate limit action does not apply with `use_remote_address: true` and no `x-forwarded-for` header in the request"
*Title*: *The remote_address rate limit action does not apply with `use_remote_address: true` and no `x-forwarded-for` header  in the request*

*Description*:

If Envoy is configured as a proxy with rate limiting using the `remote_address` action and both:

[code]

Then the `remote_action` action will not match a request which does not include a `x-forwarded-for` header, i.e.:

[code]

but a reque

[2021-05-09 07:39] spockz commented on #15839
I think I have managed most of this locally. However, @mattklein123, could you please elaborate on the 3rd bullet? It doesn't make much sense to many.

Also, I'm wondering what the best way would be to add an integration test for this. Spin up an http server that returns the SNI value from the handshake and check in the test whether the value is what was expected?

[2021-05-09 17:40] ngtuna commented on #14981
@aqua777 So did you finally manage to figure out the root cause ? I am getting quite similar issue today. It seems like @alyssawilk explained; but I don't know how to fix it. Any hint ? Thanks!

[code]

[2021-05-09 18:53] darox opened #16401 "Zipkin Endpoint tracing not working with Jaeger / ok with Zipkin"
Zipkin Endpoint tracing not working with Jaeger / ok with Zipkin

I have configured my Envoy  setup (v1.18.2 ) with tracing:
[code]

It works fine with Zipkin as endpoint, but not with the Zipkin compatible Endpoint in Jaeger. It seems Envoy isn't exporting any traces to Jaeger.

I have tested with latest https://hub.docker.com/r/jaegertracing/all-in-one and https://hub.docker.com/r/openzipkin/zip

[2021-05-09 19:01] ngtuna commented on #14981
This line makes me very confused

[code]

[2021-05-10 00:01] #16015 closed

[2021-05-10 00:56] xpahos commented on #6297
Script uses 21GB of RAM. I generated a file but indexing is no so good.

[CMakeLists.txt](https://github.com/envoyproxy/envoy/files/6448768/CMakeLists.txt)

[2021-05-10 01:13] nearbyfly commented on #16247
SIP is also raw text based protocol and widely used for multiple media communication. It sounds like reasonable proposal.

[2021-05-10 02:02] mathetake opened #16403 "wasm: Add VM failure counter"
might be useful if we have a counter of failed VMs (i.e. the number of the currently trapped VMs).

Relevant to #16112 #14947

cc @PiotrSikora

[2021-05-10 03:17] sujeshkumar commented on #16138
any update on this ? facing the same issue in 1.18.2

[2021-05-10 07:41] twghu commented on #4709
Fixed [OSS-Fuzz#22106](https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=22106) with https://github.com/envoyproxy/envoy/pull/16405

[2021-05-10 08:48] baoervsdier commented on #16395
This should not be the problem. I just canceled the injection of a single application. I did not cancel all of the injections. After this application was injected, there was a problem with 413. After the injection was canceled, the problem disappeared. Other applications have been using envoy proxy. Only this one application has problem.

[2021-05-10 09:16] qls152 opened #16407 "Optimize token bucket？"
**Optimize token bucket**

*Description*:

I use token bucket in envoy to limit current，However, I found that the token bucket current limiting error in envoy is large. For example, if the threshold is defined as 3000, it can only reach about 2500。Therefore, I have carried out preliminary optimization here, mainly for

tokens = (((uint64_ t)fill_ rate_ * us_ past + last_token_) / 1000000) + token_

[2021-05-10 09:22] LuyaoZhong commented on #14553
Hi, @ggreenway @mattklein123 , I'd like to start with a PoC first and polish my design doc at the same time. I have almost done the API part. And currently I get stuck at generating pb.h files from my proto file(I need to implement  a envoy built-in grpc client based on current design), is there any tool in envoy to help that?

[2021-05-10 12:52] twghu commented on #4709
Added fix for [OSS-Fuzz#30088](https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=30088&q=label%3AReproducible%20envoy&can=2) with [#16405](https://github.com/envoyproxy/envoy/pull/16405)

[2021-05-10 14:11] durd07 commented on #16247
https://github.com/envoyproxy/envoy/pull/16416

[2021-05-10 16:11] diabg commented on #10171
any update about that?

[2021-05-10 16:30] parkedwards commented on #16219
Hey @yanavlasov - I conducted additional set of simulated runs, this time on a hosted instance (during my original issue, I was testing + logging from local).  Please see the updates + two questions below

## Update

Ran another suite of simulated traffic on a hosted instance, and seeing some interesting results

1. `1:1` relationship between the `RST_STREAM code 0` error (700 total errors during

[2021-05-10 16:55] gbrail commented on #16098
Support for clearing the route cache was added in https://github.com/envoyproxy/envoy/pull/16288, which has been merged to main. Can you try it out and see if it fixes this issue?

[2021-05-10 16:58] gbrail commented on #16240
This is one of the consequences of Envoy's extensive use of protobufs -- you can't just compile a .proto or two and get stubs that work -- everything depends on something else.

If you are building in Go, then go-control-plane is indeed the right place to go -- people and tools in the Envoy community keep that up to date.

[2021-05-10 17:05] qiwzhang opened #16422 "doc test in presubmit tests is flaky"
This presubmit test doc [test](https://dev.azure.com/cncf/envoy/_build/results?buildId=75162&view=logs&j=91e633a5-4907-5da1-5862-92a79fe2387a&t=f29e24e7-a093-5724-80bd-d79975d268cb) failed.

But looked its output [log](https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/75162/logs/33),
I could not figure out what was wrong.

I run into this a couple times,  If I made

[2021-05-10 17:09] phlax commented on #16422
hi @qiwzhang rebase to main - i think it should fix the problem

[2021-05-10 17:19] qiwzhang commented on #16422
I just rebased my pr to main last night.  Do you have any new changes since then?

[2021-05-10 17:23] AshRing commented on #16217
I removed those lines and it is returning 403. I am not sure why my limits in my config are not being respected. I am trying to upload a 5mb size asset and it can not get past envoy into the authorization service (OPA). I may just put this to rest and take the filter off of this specific pod so my users can upload assets.

[2021-05-10 17:33] phlax commented on #16422
commented here for resolution https://github.com/envoyproxy/envoy/pull/16298#discussion_r629540760

[2021-05-10 17:43] antoniovicente commented on #16375
The filter decode body callbacks are called as chunks of the body are parsed by the codec and pushed through the filter pipeline.  There is a separate body callback call for each body chunk.  end_stream is set if the current chunk is the last body chunk associated with the request or response.  Most of the buffering happens in output buffers, after the bytes have been processed by the filter pipel

[2021-05-10 18:37] antoniovicente commented on #16332
cc @snowp @zuercher who may know more about gRPC uses of the HTTP GET method and HTTP->gRPC transcoding.

After a quick search I'm not used to finding documentation on how to encode gRPC arguments in URL query parameters.  I'm used to gRPC using the POST method and encoding the request proto in the HTTP message body.

[2021-05-10 19:08] phlax commented on #16422
closing this as the issue seems to be resolved

[2021-05-10 19:08] #16422 closed

[2021-05-10 19:21] davinci26 commented on #15800
Assigning to myself to fix

[2021-05-10 19:23] antoniovicente commented on #16401
cc @fabolive  @dio

[2021-05-10 19:33] antoniovicente commented on #16399
@rgs1 @esmet @mattklein123

[2021-05-10 19:52] rgs1 commented on #16399
I think @kyessenov or @esmet might know.

[2021-05-10 20:01] antoniovicente commented on #16241
cc @alyssawilk @junr03

Thanks for improving crash handlers by also dumping request information when filters are resumed via commonContinue().

[2021-05-10 20:11] antoniovicente commented on #16395
There's nothing in the envoy config that would obviously result in a 413.  Setting per_connection_buffer_limit_bytes to a small value or keeping the 1MB default should not result in a 413 when proxying requests or responses larger than the configured value.

It may be helpful to get the rest of the headers in the 413 reply.  My guess is that this error is coming from the upstream, it is not intern

[2021-05-10 20:39] antoniovicente commented on #16374
cc @mattklein123 @alyssawilk

An option to use DNS SRV when doing dynamic forward proxy seems useful.  We may also want an option to fallback to regular DNS records if the SRV lookup fails.

[2021-05-10 20:51] rgs1 commented on #3006
@cpakulski could this be implemented as an extension (e.g.: via #14512)?

[2021-05-10 21:04] dragonbone81 commented on #16240
@gbrail Thanks for the verification on using go-control-plane!

[2021-05-10 21:04] #16240 closed

[2021-05-10 22:20] antoniovicente commented on #16267
cc @ggreenway

would be good to get more information including what is trying to get entropy but not finding enough, maybe SSL libraries?

[2021-05-10 22:24] antoniovicente commented on #16351
cc @snowp

[2021-05-10 22:42] DavidSchinazi commented on #16374
@alyssawilk this issue is about [SRV records](https://datatracker.ietf.org/doc/html/rfc2782) which only allow you to convey the port number for HTTP or HTTPS. It's a neat feature but not high priority in my mind. The new record that I've been eyeing is the [HTTPS record](https://datatracker.ietf.org/doc/html/draft-ietf-dnsop-svcb-https) which also conveys HTTP/3 support and TLS client hello encryp

[2021-05-10 22:44] cpakulski commented on #3006
I will try to implement it as extension.

[2021-05-10 22:46] ggreenway commented on #16267
I'd never seen that ioctl before and didn't notice that it was crypto related. It looks like you're in this fips-only boringssl code:

https://boringssl.googlesource.com/boringssl/+/1eb7769e1189f90e41b81118d903090dbbe98ea6/crypto/fipsmodule/rand/urandom.c#280

[code]

[2021-05-10 23:12] jpeach commented on #16001
May be related to https://github.com/bazelbuild/bazel/issues/8685

[2021-05-11 00:18] jfrabaute opened #16425 "slow stats endpoint and blocking /ready endpoint when hitting /stats endpoint"
I might probably report 2 distinct problems:

1/ `/stats?format={json|prometheus}` slowness
2/ `/ready` endpoint blocked by `/stats` endpoint when running at the same time.

Maybe I should create 2 issues, but starting with this one to have feedback from the envoy team.

So, we have some envoy instances with a lot of mappings/big config (between 5000 and 10000).
In order to reproduce it, I did cre

[2021-05-11 01:42] htuch commented on #16110
@tavishvaidya can you quantify how similar the code will be? The ALTS code took some effort to get certain features right, e.g. buffer management in TSI. Ideally we don't hit the same issue with S2A. If we can say that they are the same modulo some config, then best to make them the same extension. If there are going to be substantial differences, to the point at which TSI is just an implementatio

[2021-05-11 01:56] daixiang0 commented on #16403
I would like to take this if possible.

[2021-05-11 03:26] Sooryaa-A opened #16426 "Load balancing for multiple IPs of a FQDN in dynmic fwding proxy"
*Title*: Supporting load balancing for mulitple IPs of a FQDN in dynamic fwd proxy, Similar to strict DNS

*Description*:
Currently dynamic fwd proxy , dns resolution works similar to LOGICAL DNS, where the very first IP resolved from IP list of an FQDN is getting cached and used for communication.
In a load run case, its like though there are many end points available for a single FQDN, only the

[2021-05-11 05:50] antoniovicente commented on #16319
@qiwzhang can you provide more direct links to the requested enhancement?  Consider adding a link to this issue from a code comment in that PR.

[2021-05-11 06:10] phlax commented on #16205
this is a typical failure in netlify

[code]

[2021-05-11 06:27] vdvarlamov commented on #16381
- `envoy.exe  version: version: a5020ce885592e8e3a5d9bb644554a30c0f79a18/1.19.0-dev/Modified/RELEASE/BoringSSL`
- Microsoft Windows Server 2019 Standard 10.0.17763 N/A Build 17763
- envoy-service-config.yaml:

[code]

[2021-05-11 07:08] tavishvaidya commented on #16110
The S2A will have its own frame protector implementation and TSI just happens to be an implementation detail. Also, since the S2A is for mTLS handshake offload and ATLS is not for mTLS, coupling them together under a single extension might make it harder to introduce changes to one without affecting the other in the future. Thus, it would be wise to have a separate S2A extension and not combine it

[2021-05-11 08:14] arikachen opened #16428 "Get empty tls session id with %DOWNSTREAM_TLS_SESSION_ID%"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: Get empty tls session id with %DOWNSTREAM_TLS_SESSION_ID%

*Description*:
I'm trying to add tls session id to http headers, but get nothing. Does i miss some config?

[2021-05-11 08:16] vdvarlamov commented on #16381
I seem to have found the problem. It is related to configuring the firewall. It is necessary to allow access to the port not only of the host, but also of the container itself (3000 + 8000, 3001 + 10000). The redirection mechanism goes through the firewall.

[2021-05-11 09:00] qls152 commented on #16407
I submit a PR:#16429
Please Take time out of CR！

[2021-05-11 09:02] feature-id commented on #6767
Unfortunately, this isn't an option if you have over 9000 domains. :)

[2021-05-11 09:10] #16189 closed

[2021-05-11 09:44] nandu-vinodan opened #16431 "Composite filter header matching issue in envoy-v1.18.2"
*Title*: *Composite filter header matching issue in envoy-v1.18.2*

*Description*:
The sample envoy [configuration](https://www.envoyproxy.io/docs/envoy/v1.18.2/configuration/http/http_filters/composite_filter#config-http-filters-composite) provided in the `compose filter`  docs does not work as expected.

__Expected behavior:__
If the header `x-fault-category` is equal to the string huge fault, a

[2021-05-11 11:46] LuyaoZhong commented on #14553
Thanks.

[2021-05-11 12:44] Shikugawa opened #16432 "wasm: enable Rust gRPC tests"
https://github.com/envoyproxy/envoy/blob/main/test/extensions/filters/http/wasm/wasm_filter_test.cc#L880

It is time to reimburse these tech debts by introducing the current version of Rust SDK, with gRPC callout/stream host features.

[2021-05-11 15:28] bdecoste opened #16433 "TCP health check failure misreporting endpoint as healthy with reuse_connection: true"
Title: TCP health check failure misreporting endpoint as healthy with reuse_connection: true

Description:
I have a tcp service that only responds to a new connection. Any subsequent request data sent over the same connection will fail. I have a tcp healthcheck w/**reuse_connection=false** and envoy behaves correctly and as expected. However, if I have **reuse_connection=true** then the initial HC

[2021-05-11 17:12] parkedwards commented on #16219
@yanavlasov
I ran a `tcpdump` and ran the pcap through Wireshark to find some interesting patterns related to the above.  This tcpdump captured packets to/from the port that Envoy is listening on (where the client calls to for Envoy to forward)  Hoping it rings some bells.

Source Port = grpc client (container A)
Destination Port = Envoy (container B)

interestingly, after analyzing a TCP packet c

[2021-05-11 17:16] hamdiallam opened #16435 "Instrument host selection"
Host Selection Metric: It would be nice to have a metric to understand when the load balancer is picking failed hosts

This is when configuring `host_selection_max_attempt`. Reference https://www.envoyproxy.io/docs/envoy/latest/faq/load_balancing/transient_failures

[2021-05-11 19:06] antoniovicente commented on #16432
cc @PiotrSikora

@Shikugawa Is this something you could take on?

[2021-05-11 19:13] antoniovicente commented on #16425
cc @htuch

IIRC the main thread is used for admin handlers like /stats and /ready, and also config processing from XDS.  If any of those are slow, the rest will be delayed.

[2021-05-11 19:24] snowp commented on #16425
I've seen people recommend against hitting an admin endpoint as a readiness check for this reason (I think from @howardjohn ?). The fact that it might be delayed due to xDS responses make it a poor choice for periodic health checks.

[2021-05-11 19:25] antoniovicente commented on #16425
It would be good to ensure that config updates can proceed even if admin requests are consuming significant CPU.
Also, it would be good to allow multiple admin requests to make progress in parallel with each other and in parallel with config; a large config reload shouldn't block /stats scrapes and vice versa.

[2021-05-11 19:27] antoniovicente commented on #16428
cc @dio

[2021-05-11 19:37] jmarantz commented on #16425
See also https://github.com/envoyproxy/envoy/issues/16139#issuecomment-827584282

I think if we streamed out large HTTP responses from admin, it would take less cpu/memory and, depending on how we managed events, might not block other admin requests from running during the streaming process.

[2021-05-11 19:41] snowp commented on #16435
Upon the first attempt, if a connect failure is hit a retry would be attempted. This retry would make use of the previous_hosts predicate to try to exclude the attempted host: host selection is attempted up to 5 times to find a different host. Whenever it finds a different host or the attempts are exhausted, it has now selected the host to retry against. In this case if you exhaust the host select

[2021-05-11 19:50] hamdiallam commented on #16435
Ahh gotcha, this makes sense. Thanks for the explanation. I was able to verify this with a simple unit test checking `upstream_cx_connect_failure` equaling 2 (1 retry).

Your help was much appreciated!

[2021-05-11 19:50] jfrabaute commented on #16425
Thanks for the feedback.

Regarding health check, the `/ready` endpoint should not be used (We should put ambassador guys in the loop here probably because this is what they use, and they seem to expect `/ready` to be fast. Adding @kflynn at least).
So, what is the recommended health check endpoint for envoy? Using one of the endpoints exposed (so worker thread, not admin thread)?

Regarding the `

[2021-05-11 20:08] #16435 closed

[2021-05-11 21:09] antoniovicente commented on #16433
cc @alyssawilk @snowp @zuercher

Thoughts?

[2021-05-11 22:08] samrabelachew commented on #14872
/assign

[2021-05-11 23:08] htuch commented on #15235
@rojkov we've seen a few more recent reports here on Arm64.

[2021-05-12 00:25] antoniovicente commented on #16196
https://github.com/envoyproxy/envoy/pull/15814#issuecomment-838477925

//test/exe:version_out_test is just a bash test that depends on //source/exe:envoy-static, so it seems that we're really close to not being able to build envoy-static under gcc.

[2021-05-12 00:26] jfrabaute commented on #16425
Yes, we're hitting the scrape problem as well when config is reloaded (So that's a 3rd problem :disappointed:  ).
So when a config is reloading, the 3 endpoints for readiness/liveness/stats are slow and they time out and things start to go bad. We did increase the timeout, but it's not really a good solution.

Are there any workaround/options here with the current admin thread design (especially f

[2021-05-12 00:34] antoniovicente commented on #16425
I don't think there is a work around.  I think it is fairly difficult problem to solve since certain data structures are only safe to access from the main thread, hence the restrictions on config reload and admin handlers running on the main thread.

[2021-05-12 00:43] jmarantz commented on #16425
I guess there are two approaches:

1. try to do some of the admin work on worker threads
2. keep using the main thread, but stream data out asynchronously rather than buffering all of it.

A lot of the work that's being done now may not be needed by all users, such as sorting the stats output. If we we do sort, we don't need to buffer the serialized form which is happening now, we can just buffer

[2021-05-12 00:51] antoniovicente commented on #16425
Doing stats operations that take 6 seconds on workers is not acceptable either.  Ideally we'ld do very little in the main thread, just the things that need to go through it due to the need for ordering.  admin requests should be served by a thread pool.  Config processing should happen on its own set of threads.

[2021-05-12 01:16] daixiang0 commented on #16139
Hi, @jmarantz I am working on it, would create a PR soon.

[2021-05-12 01:22] qiwzhang opened #16438 "test envoy-presubmit (check linux_x64 gcc) failed with "execv: Argument list too long""
The log is [here](https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/75359/logs/147).

It is from [pr](https://github.com/envoyproxy/envoy/pull/16298#issuecomment-839360973)

[2021-05-12 01:23] daixiang0 opened #16439 "Required field not comment in docs"
*Title*:  Required field not comment in docs

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

I find if no connection_timeout set, cluster config would raise an error.
In https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto#, it does not comment `REQUIRED`.

Some [discuss](https://envoyproxy.slack.com/archives/C78

[2021-05-12 01:44] antoniovicente commented on #16196
This work around is no longer enough after just 2 weeks, see https://github.com/envoyproxy/envoy/issues/16438

`bazel build //source/exe:envoy_main_entry_lib` fails under gcc.

[2021-05-12 01:45] antoniovicente commented on #16438
Known issue, see https://github.com/envoyproxy/envoy/issues/16196

[2021-05-12 01:56] antoniovicente commented on #16196
When building :envoy_main_entry_lib virtual includes account for 1178 out of 1529 arguments, and 112kb out of 122kb in the gcc command line.  Does anyone know of options to reduce virtual include use and/or reduce the verbosity of the include expressions?

[2021-05-12 02:20] htuch commented on #7107
@calegari-adriano this seems unrelated, maybe a new issue? I don't see a priori how the choice of codec would affect RDS loading, they are independent in implementation.

[2021-05-12 02:21] htuch commented on #16110
I'm good with there being two extensions based on these details. @ggreenway @ambuc @antoniovicente?

[2021-05-12 02:24] moderation commented on #16110
From a dependency maintainer point of view it will be helpful to know if this is an internal Google only thing similar to ALTS (which started internal GOOG only but expanded a little into GCP usage with Envoy), or whether the plan is for broad usage by the community.

[2021-05-12 02:35] htuch commented on #16425
I think for stats it should be relatively plausible to push this to a distinct thread; given we already have stats sinks that gather this data, can't we have a pseudo-sink that dumps to some shared memory buffer for a consumer thread that can handle these requests?

[2021-05-12 02:47] du2016 commented on #16396
@antoniovicente i have resolve this problem,it's because boringssl not support these ciphers( boringssl remove these ciphers at 2018),i have fork boringssl add these ciphers back, then build myself ,works ok. thanks

[2021-05-12 02:47] #16396 closed

[2021-05-12 04:01] antoniovicente commented on #16396
Great.  It wasn't obvious to me which of those ciphers boringssl didn't support, I'm glad you were able to track it down.

[2021-05-12 04:06] jmarantz commented on #16425
Yeah you can collect the stats in vectors of shared_ptrs on the main thread and then stream them out from another. But I think we should stream them out in chunks regardless rather than buffering up all the text before sending a response. That will solve a memory burst problem per #16139 .

Once we are streaming, we can make it async and see whether we actually need to add a new thread.

[2021-05-12 06:14] #16381 closed

[2021-05-12 06:56] #16204 closed

[2021-05-12 07:07] 13567436138 opened #16450 "envoy config with gzip，browser without content-encoding ： gizp"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
envoy config with gzip，browser without content-encoding ： gizp
*Description*:

the bug, for example: Envoy should not crash, the expected valu

[2021-05-12 07:55] tsaarni commented on #16196
I have the same "Argument list too long" failure to build `//test/exe:pie_test` in #15711. It seems very similar to `//test/exe:version_out_test`. Hoping for solution as well.

[2021-05-12 08:24] brennerm commented on #15235
Seeing the same error when running on arm64 with 1.17 and 1.18 Docker images.
[code]
1.16 images work fine.

[2021-05-12 08:33] rojkov commented on #16450
Wildcards in `content_types` are not supported. You need to specify the types explicitly.

[2021-05-12 08:53] 13567436138 commented on #16450
good

[2021-05-12 08:53] #16450 closed

[2021-05-12 09:16] mk46 commented on #16439
I am taking a look at this.

[2021-05-12 09:41] mk46 commented on #16439
@phlax  Would you mind to take a look on linked PR?  Thanks!.

[2021-05-12 10:08] calegari-adriano commented on #7107
Yes, new issue.

Not only code, but HTTP3 (UDP) listener in specific, with HTTP2 (TCP) there is no issue.
[code]

[2021-05-12 11:10] calegari-adriano commented on #7107
Yes, that it is a new issue, I think. It is better to create a new one.

In that issue, I used the: https://www.getenvoy.io/
getenvoy standard:1.18.2/linux-glibc

I think: I did a wrong configuration or envoy has a issue or the getenvoy envoy build has a issue.

Not codec only, but HTTP3 (UDP) listener in specific, with HTTP2 (TCP) there is no issue.

In the example below, the http-udp listener on

[2021-05-12 11:33] phlax opened #16456 "Remove `--bootstrap-version` command line option"
### description

once v2 has been fully removed the bootstrap-version no longer makes any sense (see https://www.envoyproxy.io/docs/envoy/latest/operations/cli#cmdoption-bootstrap-version)

apart from removing the cli option and related docs i think we also need to ensure that the logic for loading as v2 and upgrading is also removed

there is (also) some stuff in `api/envoy/config/core/v3/config_

[2021-05-12 11:34] phlax commented on #16456
cc @htuch

[2021-05-12 11:45] PKizzle commented on #15235
Same issue on a RaspberryPi 4 with 8GB RAM. Starting with the 17.x.x docker images (tcmalloc enabled) they do no longer start.
[code]
[code]
[code]

[2021-05-12 14:39] yanavlasov opened #16460 "doc: document effects of URL path normalization on Envoy path matching"
Envoy's documentation does not currently explain how Envoy's as well as back end server URL path normalization affect correctness of URL path matching. This in turn affects security invariants of authorization policies of RBAC or jwt_authn extensions.

Deliverables:
* a doc page explaining how URL path normalizations may affect correctness of matching.
* links to the doc above from existing doc se

[2021-05-12 14:45] yanavlasov opened #16461 "Extend post path normalization actions to other normalization transformations"
Presently only decoding %2F allows rejecting or redirecting of requests. This needs to be extended to other operations.

Extends Issue #6589

Action item for CVE-2021-29492

[2021-05-12 15:00] rojkov commented on #15235
The problem seems to stem from the fact that tcmalloc tries to allocate 1073741824 bytes (1G) of contiguous memory. It does so by getting hints from the kernel with calling `mmap(NULL, kPageSize,...)` in a loop where kPageSize is 256k. Apparently the kernel running on ARM fails to give a correct hint for such a big chunk of memory even if there is one.

You might want to try to build Envoy with de

[2021-05-12 15:14] rojkov commented on #15235
If somebody can give me access to an arm64 machine I'll try it myself. Or please wait until I get a working rpi4 setup.

[2021-05-12 15:19] abaptiste commented on #12508
Can we close this issue or is there further action needed?

@mattklein123 @rshriram @howardjohn

[2021-05-12 15:44] alyssawilk commented on #14829
Closing as this is functionally done, though there's bells and whistles yet

[2021-05-12 16:35] zuercher commented on #16138
The error is the code failing to find `operator[]` in a protobuf map when our code uses `absl:string_view` as a key:

[code]

The specific map is here https://github.com/cncf/xds/blob/main/xds/core/v3/context_params.proto#L20. Seems like this would fail on master as well. Possibly related to the absl defaulting to the STL version of string_view, which we already learned doesn't have exactly the sa

[2021-05-12 16:42] zuercher commented on #15379
ThriftMux isn't supported. In Thrift parlance it represents both a protocol (e.g. marshaling/unmarshaling of Thrift messages into a wire format) and a transport (providing flow control and stream semantics for those message). Envoy supports neither and Mux is different enough from the existing supported transports that I think it would require an entirely separate network filter.

[2021-05-12 17:06] zuercher commented on #16332
If I understand this correctly, you've configured your gRPC server to respond to HTTP requests a la https://cloud.google.com/endpoints/docs/grpc/transcoding.

This is a plain http request and I can't think of any special gRPC processing in Envoy that this would trigger. I expect if you send your `GET /bookstore/v1/books/upload-url?format.pdf=` request directly to the upstream host (bypassing Envoy

[2021-05-12 17:25] ngtuna commented on #15379
Yeah I had conversation with @zuercher few days after opening the ticket. Sorry for not closing this. Good for now!

[2021-05-12 17:25] #15379 closed

[2021-05-12 18:35] jtway commented on #16425
@snowp @jmarantz By the way, this is part of what https://github.com/envoyproxy/envoy/pull/15876 is addressing, to a small degree. One of the larger issues, for us at least, was once there is a large number of VirtualHosts (> 80K), even a single VirtualHost add/delete via VHDS was causing delay of /stats, /ready, etc. This, to a large degree, seems to stem from the way RouteMatcher and VirtualHost

[2021-05-12 18:46] jfrabaute commented on #16425
No idea. We're using ambassador, which is taking care of managing the envoy config and lifecycle. I don't think ambassador is using VHDS, but I'm not sure. I'll ask the ambassador team.

Regarding the problem, it looks like the `/ready` vs `/stat` problem is only one small part of the blocking problem.
The config reload seems to even be a bigger problem as it's blocking both `/ready` and `/stats`

[2021-05-12 18:47] jfrabaute commented on #16425
Answer: Ambassador does not use VHDS

[2021-05-12 18:49] jtway commented on #16425
Okay, good to know its not limited to VHDS. I'd be curious to see a flamegraph, but I'm just a fly on the wall here.

[2021-05-12 18:51] jmarantz commented on #16425
I am not aware of such a plan to allow `/ready` to run concurrently with config reload, but it seems like this should be possible to do also; maybe. more difficult than stats though.

[2021-05-12 18:51] desimone opened #16469 "doc: default cipher suite docs are misleading for server and client context"
*Title*: default cipher suite docs are misleading for server and client context

*Description*:

 The [default tls client config](https://github.com/envoyproxy/envoy/pull/13850) has changed since v1.16 to be distinct from the default server config.

From

https://github.com/envoyproxy/envoy/blob/bf5d0eb44b781ac26ff1513700bcb114b7cf4300/source/extensions/transport_sockets/tls/context_config_impl.cc

[2021-05-12 18:58] jfrabaute commented on #16425
Could those 2 `'/ready` and `/stats` endpoint run in a secondary http server (listening on a different port)?
`/ready` can return stale information, or just read an atomic value.
For stats, it's probably already possible they can be read in //, if value is stale, it's not a big deal, next scraping will get the update.
This way, they are moved from the admin thread/server and can live their own lif

[2021-05-12 19:04] jmarantz commented on #16425
All that can be done! Just a matter of someone doing it.

To simplify, is the goal just to make /ready fast always, and you'd be willing to have that on a different port and its own (very cheap) thread?

That project is nice because it doesn't have to touch the complexity of stats and config-update. But it would involve plumbing through the declaration of a new port in the API. Other @envoyproxy/m

[2021-05-12 19:10] snowp commented on #16425
Another strategy might be to expose whatever relevant information you want out of /ready via a HTTP filter, allowing users to set up a filter chain on a distinct port that can handle this. That wouldn't require any core API changes

This somewhat begs the question of what information /ready is using to declare readiness: much of it I expect is just dependent on the server starting, so anything han

[2021-05-12 20:12] kylebevans commented on #125
Hi everybody,

I'm making slow, but steady progress, and thanks for being patient.  Part of this is synthesizing a cluster load assignment from SRV that I'm hoping will make it easier for other clusters to use, but it looks like DFP doesn't use a CLA.  Like Matt said though, the resolver will support SRV lookups.  I'm also working with the c-ares team to support getting the TTL from a SRV lookup,

[2021-05-12 20:15] parkedwards commented on #16219
@yanavlasov update:

enabling http2 debug logs + reproducing the issue in a hosted instance is showing a `1:1` relationship between the error and these logs:

[code]

any clue as to what this is telling us?

[2021-05-12 20:20] yanavlasov commented on #16196
We are actively working on resolution. I expect a workaround by tomorrow.

[2021-05-12 20:24] justincely opened #16471 "bootstrap fields for user_agent overwritten internally"
*Title*: `user_agent_name` and `user_agent_version` are overwritten if supplied via bootstrap configs.

*Description*:
The [documentation](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/base.proto#envoy-v3-api-msg-config-core-v3-node) for the bootstrap config indicates that these fields should be free-form strings.  I would expect to be able to override them if I chose, but they

[2021-05-12 20:29] howardjohn commented on #12508
We no longer use this feature so unfortunately cannot verify if its fixed or not

[2021-05-12 20:58] jfrabaute commented on #16425
@jmarantz:

Yeah.... Totally see what you mean here.

That's the small goal for me, but that might just be a narrow view of a problem which is larger, hence created the issue to get an idea of a possible larger picture.
If it's most of it, or, at least for now and in the near/mid term, most of the people would benefit from having this change for `/ready` and `/stats` only, that could be a first st

[2021-05-12 21:09] charlesxu2000 commented on #16267
It is FIPS enabled Envoy, we run on ESXi. It is most likely due to the low available entropy number.

[2021-05-12 21:58] #13904 closed

[2021-05-12 21:58] tavishvaidya commented on #16110
We are evaluating this and determining the value it could provide to the community in the long term.

[2021-05-12 23:02] moderation commented on #16425
I need to check if we are experiencing delays on stats scrapes but I suspect we are. We have a similar scenario but using Contour for ingress on Kubernetes as opposed to Ambassador. This is a multi-tenant cluster and can end up hosting a lot of routes, clusters, etc.

This has me thinking about some old @mattklein123 tweets about push vs. pull - https://twitter.com/mattklein123/status/132855900963

[2021-05-12 23:24] antoniovicente commented on #16471
cc @stevenzzzz @yanavlasov

stevenzzzz mentioned this to me earlier today.  It would be ideal to have Envoy preserve the provided node config fields or proto.  The current behavior should be the default, but it should be possible to override it.

stevenzzzz/justincely: Would either of you be interested in making the relevant change?

[2021-05-12 23:31] antoniovicente commented on #16469
@PiotrSikora @ggreenway @phlax

You're right, the client cipher list changed due to https://github.com/envoyproxy/envoy/pull/13850

We'ld be happy to accept PRs to update the docs so they are more correct and clear.

[2021-05-12 23:36] antoniovicente commented on #16461
@yanavlasov I assume you're helping define what the extended normalization transformation options will look like.

[2021-05-12 23:53] antoniovicente commented on #16471
@htuch

[2021-05-13 00:24] antoniovicente commented on #16196
Post submits are hitting the build error: https://dev.azure.com/cncf/envoy/_build/results?buildId=75509&view=results

[2021-05-13 00:38] antoniovicente commented on #16214
So the response is getting truncated?  I have seen this happen for HTTP2 when flow control blocked, but I guess it can also happen for HTTP/1 if the loopback socket blocks on write.  I have a prototype change in progress which may help, but I don't know how long it will be until I'm confident enough about it to send it out for review.

[2021-05-13 00:48] justincely commented on #16471
I'd love to tackle it if you don't mind a first time contributor taking this one.  I've been wanting a way to contribute and this issue seems fairly well suited to a beginner

[2021-05-13 01:15] antoniovicente commented on #16471
Please allow some time for @htuch to comment on this issue.  Apparently there is a metadata field in the Node proto that may be better suited to carry information about the xds client.  It may be worth documenting that these fields can't be set currently and possibly consider rejecting bootstrap config if they are set.

[2021-05-13 02:18] htuch commented on #16456
Yeah, we should probably do this at some point, let's have the dust settle first. https://github.com/envoyproxy/envoy/pull/16274 stopped users doing anything dangerous here, so I think maybe clean this one up after next release.

[2021-05-13 02:32] htuch commented on #16471
My thinking here is that it doesn't hurt to allow this to be overiddable, but if you override, you are almost definitely doing something very hacky that can best be done via other mechanisms.

One of the roles of user agent name/version is to allow control planes to do be able to do per-client xDS fixups in the event of needing to deal with buggy behavior on a particular client. This should never

[2021-05-13 02:35] htuch commented on #16425
One thing to add to this already long and involved discussion is that we directionally want to head towards admin port not being special in any particular way vs. regular listeners. This has a ton of advantages around security and consistency. This might matter if we start adding new ports (which I don't think should be preferred; it's not great to fix an implementation issue with an API one).

[2021-05-13 02:59] 13567436138 opened #16472 "rbac has no effect"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

apply the following config:
[code]
connect to mysql.create table t1 in test database,then insert a record.and update the reco

[2021-05-13 03:23] alex-lx opened #16473 "Questions: How to debug/test a lua plugin without deploying it to envoy?"
We're planning to develop a lua plugin for our istio service mesh's gateway, and we think it might be low effective to debug it by deploying it to a running envoy. so how  to debug/test a lua plugin without deploying it to envoy?

Thanks

[2021-05-13 04:04] #15514 closed

[2021-05-13 06:06] ankatare opened #16475 "Not able to start Envoy with demo configuration in latest code."
*Title*: Getting error while launching envoy with demo configuration *invalid value Invalid type URL, unknown type: envoy.extensions.access_loggers.stream.v3*

*Description*: Trying from below url
https://www.envoyproxy.io/docs/envoy/latest/start/quick-start/run-envoy#run-envoy-with-the-demo-configuration

**Error details:**
Unable to parse JSON as proto (INVALID_ARGUMENT:(access_log[0].typed_conf

[2021-05-13 06:33] phlax commented on #16475
hi @ankatare this suggests a mismatch between the version of envoy that you are using and the docs you are following

could you either ensure you are using envoy built on latest code or check the docs for the envoy version you are using

[2021-05-13 07:05] ankatare commented on #16475
@phlax tahnks for quick response. code was on 17.1. on latest 1.18.2 it is fine.

[2021-05-13 07:06] ankatare commented on #16475
May be we can close this...

[2021-05-13 07:07] phlax commented on #16475
yep - i think so - not sure how we can flag this better - one idea i had is using `versionadded` directives (see #15763 ) but not sure how easy or whether it will resolve this

[2021-05-13 07:29] ankatare commented on #16475
@phlax one more way is to use `--mode validate `with each configuration before to start envoy :) . WDYT ?

[2021-05-13 07:29] ankatare commented on #16475
yes... it is good idea

[2021-05-13 13:03] htuch commented on #16110
If there is no further objection, I'm willing to sponsor this extension and let's move on. If there is further discussion to be had, happy to have it, but I'd like to keep this moving. S2A is not Google internal, it will be exposed to end users operating on GCP effectievly, we have precedent from ALTS to the AWS extensions for Cloud provider specific extension, so I think this passes the sniff tes

[2021-05-13 13:20] JCzz opened #16482 "Envoy on Apple silicon m1"
*Title*: *Envoy on Apple silicon m1*
Hi

I am trying to get Knative with Istio(or any other Ingress controller based on Envoy) running on a Mac mini with the Apple Silicon m1 chip. And I am told that Istio is not working do to Envoy not supporting Apple m1 chip.

*Description*:
A working setup on Kubernetes running Istio(Envoy)

[2021-05-13 14:33] akonradi commented on #16227
This would be trivial with a custom HTTP filter. In the overload manager config you'd declare an action with a custom name with appropriate triggers connected to it, then add the header iff overloaded. If it is useful, this could even be added to upstream Envoy. I imagine a config with two fields: "header name" and "overload action to watch".

[2021-05-13 14:43] justincely commented on #16471
I agree that the reason is to allow the control plane to do special handling, but I was thinking more in terms of handling config to different groups of clients.  E.g. if the control plane wants to send valid config to a few versions of connected envoy clients, it needs to read the version info and the agent name.  Now the reason the agent_name was coming in for my scenario is for custom compilati

[2021-05-13 15:28] ggreenway commented on #16110
SGTM

[2021-05-13 16:05] #15852 closed

[2021-05-13 17:50] rgs1 commented on #13737
This is somewhat related, so commenting here but happy to move to a new issue if that makes more sense.

So, we got bitten by another part of the filter contract that could use some extra protection. From https://github.com/envoyproxy/envoy/blame/main/source/docs/flow_control.md:

[code]

Would it make sense to make `addEncodedData()` return false or something if a 413 response
has been emitted so

[2021-05-13 18:32] ggreenway commented on #10387
@htuch or @howardjohn, is this resolved already, either by #13721, or by #10163?

[2021-05-13 18:34] howardjohn commented on #10387
I think those are basically file-based SDS? which has the issues listed here:

if I understand right.

For concrete use case, this would prevent simply mounting kubernetes Secrets created by tools like cert-manager

[2021-05-13 18:46] ggreenway commented on #10387
File-based SDS can point to another two files for the cert and key. So yes an SDS file needs to be created, but it could be a static file, and result in watches on the cert and key files. At least that's my read of what's been implemented.

[2021-05-13 20:04] yanavlasov commented on #16196
Testing new gcc toolchain config.

[2021-05-13 20:21] justincely commented on #16471
I quickly spiked out the change to let `user_agent_name` be set from the bootstrap config.  It'll take a little bit more to get the versions done, since they're slightly more than simple strings.  But i'll wait for the final decision before doing anything more.

[2021-05-13 20:41] Pepo-BG commented on #15727
Hi @lukos,
Thanks for your response!
Yes, my service supports http2.

When I tried to change the cluster settings to:
`clusters:
  - name: imagesservice
    connect_timeout: 2.25s
    type: STRICT_DNS
    lb_policy: ROUND_ROBIN
    http2_protocol_options: {}
    load_assignment:
      cluster_name: imagesservice
      endpoints:
      - lb_endpoints:
        - endpoint:
            address:

[2021-05-13 20:43] antoniovicente commented on #16471
I don't know how well the example below may apply to your use case, but I'm wondering about the preferred standard way to communicate the following information.

Let's say I'm distributing an Envoy as part of a system like Istio and I want to communicate that the xds client is Envoy with version X and it happens to be the build coming from Istio at version Y.

It makes sense for user agent to be "

[2021-05-13 21:43] dragonbone81 commented on #15963
Fixed by that linked PR

[2021-05-13 21:43] #15963 closed

[2021-05-13 23:28] anandkumarpatel commented on #14910
We are having this same issue when using istio (https://github.com/istio/istio/issues/32516). We are migrating to use istio with envoy sidecars frontend be an AWS ELB. We see that connections from ELB -> envoy stay open even when our application is sending `Connection: Close`. `max_connection_duration` works but does not seem to be the best option. Our applications are smart enough to know when th

[2021-05-13 23:41] antoniovicente commented on #16472
This report looks like a clone of https://github.com/istio/istio/issues/32446

It would be helpful to have someone from Istio do the debugging on this one.

[2021-05-13 23:56] antoniovicente commented on #16482
cc @ggreenway who may know more about any toolchain issues preventing build for m1's

[2021-05-13 23:59] antoniovicente commented on #16473
cc @dio

It's possible that running against a real Envoy would be the most effective way to debug/test, but dio may know of alternate toolchains that would be useful during development of lua plugins.

[2021-05-14 01:51] antoniovicente opened #16493 "QuicHttpIntegrationTest fails about 20% of the time under clang-tsan due to FakeUpstream object lifetime problems"
$ bazel test --config=remote --config=clang-tsan --runs_per_test=10 //test/integration:quic_http_integration_test
//test/integration:quic_http_integration_test                            FAILED in 12 out of 60 in 118.7s

There are several different failures modes, but they boil down to the fake upstream running callbacks in the dispatcher that refer to objects that are already deleted or possibly

[2021-05-14 01:52] antoniovicente commented on #16493
cc @alyssawilk

[2021-05-14 02:05] alex-lx commented on #16473
My question may not so clear, but yes, what we are looking for is a dev tool. Thanks for clarify that.

[2021-05-14 02:28] daixiang0 commented on #7238
@mattklein123 @yanavlasov some known_names files still exist, need to fix?

[2021-05-14 03:07] yanavlasov commented on #16196
The issue is quite a bit more complicated than originally thought. Note that the failure occurs when gcc invokes cc1plus. Not then bazel invokes gcc. execve limits the total size of arguments and environment to 1/4 of stack limit (in my tests it was 8Mb, so at least 2Mb of args and env should work). However any single string such as single parameter or environment variable is limited 10 128Kb. The

[2021-05-14 03:23] phlax commented on #16196
im reasonably confident it would since from my reading of  it - that was why the `@argfile` syntax was introduced

for discussion (of using this approach in the context of `make`) see - https://stackoverflow.com/a/64202310

[2021-05-14 04:46] phlax commented on #16196
hmmm. perhaps you are right - its hard to tell - here is the gcc upstream bug (from the posted nix link) https://gcc.gnu.org/bugzilla/show_bug.cgi?id=86030

[2021-05-14 05:08] phlax commented on #16196
what seems to have been a fix in gcc9 here - https://gcc.gnu.org/git/?p=gcc.git&a=commit;h=e7208389c8381feaf8c7c60d975b06c446978006

and related discussion https://github.com/bazelbuild/bazel/issues/12191

[2021-05-14 05:50] phlax commented on #15934
@daixiang0 it would be good to know whether this bug is now fixed by upgrade to sphinx 4

[2021-05-14 06:23] daixiang0 commented on #15934
I update the pr and I test in latest doc website with "ip tag", it works.

[2021-05-14 06:44] phlax commented on #15934
great, thanks @daixiang0

[2021-05-14 06:44] #15934 closed

[2021-05-14 08:36] JCzz commented on #16482
Istio / arm is not supported
https://github.com/istio/istio/issues/32751#issuecomment-837235830

Envoy not supporting arm?
https://github.com/istio/istio/issues/29596
https://github.com/istio/istio/issues/21094

[2021-05-14 11:01] vaccarium commented on #14863
Hi! I'm currently writing a Graphite tag-aware Graphite stat sink (as suggested by @mattklein123 above), and we'd love to get this extension accepted into the upstream Envoy repo. Would that be feasible?

[2021-05-14 11:15] PranshuSrivastava commented on #11318
Hey, @alyssawilk  I would like to take this issue.

[2021-05-14 11:34] grzegorz-mirek opened #16501 "Dynamic Forward Proxy fails to validate self-signed certificate"
*Description*:

Dynamic Forward Proxy should validate self-signed certificate when CA bundle with the certificate is provided. However, it fails with the following error:

[code]

On the server side (yet another Envoy with https endpoint), there is a corresponding log entry:

[code]

The same certificate is validated successfully with non Dynamic Forward Proxy cluster. Also, it works with cURL (wh

[2021-05-14 11:58] PiotrSikora commented on #15860
Fixed in #15914.

[2021-05-14 11:58] #15860 closed

[2021-05-14 12:20] htuch commented on #10387
@ggreenway correct, and since #13721 I think we in a position to say this works in a sensible way that is compatible with things like k8s rotations.

[2021-05-14 12:20] #16475 closed

[2021-05-14 12:22] ankatare commented on #16475
Closing this incidence as running good in latest code.

[2021-05-14 12:24] htuch commented on #16471
Right. I think there is significant value in having standardized user agent name/version in general to support independent contorl planes that need to sometimes condition on specific cases, e.g. Envoy version bug at 1.17.2 or something.

The anti-pattern I think is getting into the situation where user agent name is a string with special parsing semantics (i.e. what happens in browser user agents)

[2021-05-14 13:06] arikachen commented on #16428
using TLS1_2, it is ok.
[code]

[2021-05-14 13:06] #16428 closed

[2021-05-14 15:29] #16126 closed

[2021-05-14 15:34] ggreenway commented on #16482
It's on my TODO list to investigate building envoy for m1, but I don't know when I'll get to it. If someone else wants to take it up, go for it.

[2021-05-14 15:36] ggreenway commented on #10387
Should we close this? The only other thing that may be nice-to-have is to have a flag to automatically setup the file-watching without needing an SDS file to set it up, eg have a bool in the settings that when true, envoy acts like it read in a filesystem-based SDS response that points to the paths for the cert/key and watches them for changes. But that doesn't add any new functionality; it just m

[2021-05-14 16:31] howardjohn commented on #15750
I think this is still a useful feature even if its not a high priority

[2021-05-14 16:37] howardjohn opened #16503 "ORIGINAL_DST for upstream IP only, with custom port"
*Title*: ORIGINAL_DST for upstream IP only, with custom port

*Description*:
It would be great to allow an ORIGINAL_DST cluster that only takes the original IP address, not the port. Example use cases:
* In a mesh, I have a cluster for google.com. I want ORIGINAL_DST, not STRICT_DNS, because doing DNS lookup 2x (client and envoy) can add some overhead. However, I want the client to send requests t

[2021-05-14 17:57] antoniovicente commented on #16501
cc @ggreenway @alyssawilk

[2021-05-14 18:04] justincely opened #16504 "build: `check_format.py` crashes if executables don't exist"
*Title*: `check_format.py` crashes when the needed tools don't exist

*Description*:
`paths.py` can return NoneTypes if none of the required env vars are there or the binary is there.  This leads to the script just crashing as the `FormatChecker` methods just pass this down to some stdlib functions which aren't expecting them.

[code]

*Repro steps*:
1. Start on a system without `buildozer` or `bu

[2021-05-14 18:54] #16365 closed

[2021-05-14 20:28] antoniovicente commented on #16482
One of the challenges is availability of VMs with m1 silicon or physical hardware to test on.

[2021-05-14 20:43] ggreenway commented on #16482
I've heard that we could get a single m1 instance for the OSS project from https://www.macstadium.com/opensource. It might be enough to setup a periodic build off of main to post-facto check for breakages. Also on my TODO list to look into.

[2021-05-14 20:49] euroelessar opened #16506 "pprof: Use Google's tcmalloc heap profiling capabilities"
*Description*:
If envoy is built with Google's tcmalloc (default setup for linux-amd64 platform) there is no heap profiling support anymore.

It is possible however to implement `/debug/pprof/heap` admin endpoint using tcmalloc's profiling API.

*Relevant Links*:
tcmalloc API: https://github.com/google/tcmalloc/blob/21eabdde8d9c4ce21e4785d7a7af71a6eaec2d1c/tcmalloc/malloc_extension.h#L403

[2021-05-14 20:56] cpakulski commented on #16365
@antoniovicente Thanks for reviewing and merging!

[2021-05-14 21:22] jfrabaute commented on #16425
One question: I'm looking at http filters, and it looks like a health check http filter already exist:
https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/health_check_filter
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/health_checking#arch-overview-health-checking-filter

Would that http filter solve the problem if used on a specific listener fo

[2021-05-14 22:16] htuch commented on #10387
Yeah, we could definitely do something like that if it's a major pain point. As long as we don't build two FS watch mechanisms I'm all good.

[2021-05-14 22:41] yu-sun-77 opened #16507 "Support dynamic host rewrite"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Description*:

We would like to use Envoy to do a dynamic host rewrite and route the request to different endpoint,  What we want is:
1. fetch part of request endpoint as en

[2021-05-15 00:02] #15228 closed

[2021-05-15 00:12] antoniovicente commented on #16507
cc @htuch @yanavlasov

I don't think there's a native way to do this, but seems like an useful enhancement.

[2021-05-15 00:36] tavishvaidya commented on #16110
Thank you all for the discussion. Here is the [ABOUT.md](https://github.com/google/s2a-core/blob/main/ABOUT.md) that provides a bit more insight into how S2A will be used.

[2021-05-15 01:26] antoniovicente commented on #16506
@adisuissa @yanavlasov

This would be a great improvement.  Side question: do similar challenges exist with CPU profiling or is this an issue with heap profiles only?

[2021-05-15 01:39] euroelessar commented on #16506
Unfortunately, tcmalloc itself operates on memory only.

[2021-05-15 07:57] PiotrSikora commented on #11996
Re-assigning to @ggreenway, since I'm no longer code owner of TLS inspector.

[2021-05-15 12:03] PKizzle commented on #15235
@rojkov You could also try to cross compile it using the docker images and upload the resulting envoy executable for testing. I tried to cross compile it with my Mac but so far I have not been successful (compilation starts but fails). For the cross compilation to start I adjusted the `ci/run_envoy_docker.sh` script by adding `--platform linux/arm64` and `-e TCMALLOC_SMALL_BUT_SLOW` to the docker

[2021-05-15 16:05] #15871 closed

[2021-05-15 17:06] ankatare opened #16511 "cache_front-envoy_1 container exiting"
*Title*: *cache_front-envoy_1 container exiting while strating with cache_services*

*Description*: Issue occured in latest code. see below logs
url followed : https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/cache#step-1-start-all-of-our-containers

/new_folder/envoy/examples/cache$ docker-compose up -d
Starting cache_service2_1    ... done
Starting cache_front-envoy_1 ... done
Startin

[2021-05-15 17:33] phlax commented on #16511
i suspect this is the same problem as #16475 - ie a mismatch between the docs and the container you have locally installed

if you are using the latest examples can you make sure you have the latest version of the containers used

[2021-05-15 20:09] thuongnn opened #16512 "Using (RBAC) Network Filter with TCP is not working"
*Title*: *I want to use RBAC network filter with TCP network to deny source IP from client request*

*Description*:

Below is my envoy config:
[code]

[2021-05-15 21:42] moderation commented on #14863
I'm interested in this too. I've been unable to use `stats_tags` to generate tags like those documented below.

My conclusion is that `tags` as defined by Envoy are called:

- `MetricName` by AWS Cloudwatch - https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-Agent-custom-metrics-statsd.html
- `metric.name` by statsd_exporter - https://github.com/prometheus/statsd_exporter#t

[2021-05-16 00:03] #15889 closed

[2021-05-16 03:00] malza321 commented on #10990
Is there any way??

I just want to use like that on dynamic forward proxy.

To test, curl -x http://envoy ip:port http://target_ip:port
I don't even need dns query.

But envoy always return "No healthy Upstream"

[2021-05-16 03:03] malza321 commented on #10990
Is there any way??

I just want to use like that on dynamic forward proxy.

To test, curl -x http://envoy ip:port http://target_ip:port
I don't even need dns query.

But envoy always return "No healthy Upstream"

[2021-05-16 06:06] malza321 opened #16513 "is it possible to use dynamic forward proxy without dns?"
Hi!

I just want to use like that on dynamic forward proxy. bacause there is no cloud native infra system. some service should be called by ip:port only.

is there any way??

To test, curl -x http://envoy ip:port http://target_ip:port
I don't even need dns query.

But envoy always return "No healthy Upstream"

configure example will be great help thanks!!

[2021-05-16 11:40] ankatare commented on #16511
Hi @phlax as per doc  https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/setup#install-docker

minumum required version is 19.03 and in my setup it is... 20.10.5 ( see below )
please suggest.

necuser@dldt-project_005:~/new_folder/envoy/examples/cache$ docker version
Client: Docker Engine - Community
 Version:           20.10.5
 API version:       1.41
 Go version:        go1.13.15
 Git c

[2021-05-16 11:42] phlax commented on #16511
not the docker version - the envoy version - ie assuming you are working out of the current `main` `HEAD` envoy repo - make sure that the docker image/s you are using (eg `envoyproxy/envoy-dev`) is the correct one - either by pulling it or removing it before trying to run the example

[2021-05-16 11:43] phlax commented on #16511
im assuming you skipped the step:

[code]

[2021-05-16 11:46] ankatare commented on #16511
@phlax I used all steps as mentioned in https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/cache#step-1-start-all-of-our-containers. Moreover i cloned from latest main branch and to install Envoy used https://www.envoyproxy.io/docs/envoy/latest/start/install#install-envoy-on-ubuntu-linux
see below
necuser@dldt-project_005:~/new_folder/envoy/examples/cache$ envoy --version

envoy  version:

[2021-05-16 11:49] phlax commented on #16511
on the basis that it works correctly in CI - im thinking that there must be an issue with your setup - i can test further locally if necessary

can you do the following (after first ensuring that you are on envoy `main` and `main` is up-to-date

[code]

after running the example you should see a `0` returned

[2021-05-16 11:54] ankatare commented on #16511
@phlax Ok. Let me double check all above.  Thanks a lot for all your time and Help !!!

[2021-05-16 12:16] ankatare commented on #16511
@phlax after running all above steps and verification (latest main etc) i run ./verify.sh and out is as below

necuser@dldt-project_005:~/new_folder/envoy/examples/cache$ echo "$?"
7

[2021-05-16 12:20] phlax commented on #16511
im struggling to understand how that could not work - i just ran it locally (on my debian machine) and it works correctly - ci tests it on a ubuntu machine - but as it runs in docker im not sure any of that matters much

on my machine this is what i see:

[code]

what do you see for those commands ?

[2021-05-16 12:23] phlax commented on #16511
also...

before running `./verify.sh` can you make sure that the composition is not running - ie

[code]

[2021-05-16 12:28] ankatare commented on #16511
necuser@dldt-project_005:~/new_folder/envoy/examples/cache$ git log -n1
commit 07c4c17be61c77d87d2c108b0775f2e606a7ae12 (HEAD -> new_test, test, remove_v2_support, main)
....

necuser@dldt-project_005:~/new_folder/envoy/examples/cache$ docker images | grep envoy-dev
envoyproxy/envoy-dev                 latest                                     1da342f7b72e   41 hours ago    135MB

[2021-05-16 12:29] ankatare commented on #16511
After compose down.. same result

necuser@dldt-project_005:~/new_folder/envoy/examples/cache$ echo "$?"
7

[2021-05-16 12:32] phlax commented on #16511
`main` is not the same as envoy `HEAD` - ie

[code]

depending on your setup (assuming you have the envoy repo `remote` set to `upstream` can you do something like

[code]

and then try running the `verify.sh` script again

[2021-05-16 12:38] phlax opened #16515 "Removal of `access_log_path` is likely to break users' config"
As can be seen in bugs relating to example configs mismatching with the current `envoy-dev` docker image (eg #16511 #16475 ) users are likely to experience broken  configurations when upgrading

I think the `access_log_path` should not have been removed without deprecation

This would probably not have prevented the issues posted above (not sure - it might have prevented them failing - perhaps it

[2021-05-16 12:38] phlax commented on #16515
cc @davinci26 @ankatare

[2021-05-16 12:45] ankatare commented on #16511
@phlax   this time it works 👍  ..... It was just with the issue with rebasing with main or something else ?

[code]

[2021-05-16 12:46] phlax commented on #16511
as explained it was a mismatch between the config you had in your local checkout and the config expected by the current docker image - see #16515 for underlying cause

[2021-05-16 12:50] phlax commented on #16511
@ankatare are you happy to close this ticket - while i fear others might hit this issue (if they have old checkouts of the repo) the actual problem is #16515

[2021-05-16 12:58] ankatare commented on #16511
@phlax sure and thanks a lot for all your support on this investigation

[2021-05-16 12:58] #16511 closed

[2021-05-16 12:58] phlax commented on #16515
see also #15761

[2021-05-16 14:49] tjegan opened #16516 "Segmentation fault on CentOS 8 LXD Container"
*Description*:

Installed envoy through yum repository, tried with versions 1.16, 1.17 and 1.18.
However, it works fine with version 1.15.

*Repro steps*:

1. Add https://getenvoy.io/linux/rhel/tetrate-getenvoy.repo yum repository.
2. Install envoy - yum install getenvoy-envoy
3. Execute envoy command (envoy --version)

*Config*:

Kernel: 4.18.0-240.22.1.el8_3.x86_64
Envoy Version:  1.18.3.p0.g98c

[2021-05-16 16:04] #15873 closed

[2021-05-16 16:04] #15898 closed

[2021-05-16 18:11] htuch commented on #16507
I think building on dynamic forward proxy here makes sense; you essentially rewrite the host in some HTTP filter and rely on dynamic forward for the rest.

[2021-05-16 20:01] #15893 closed

[2021-05-16 22:22] tonya11en commented on #11816
It looks like we're still going to need to have additional configuration, but it's for the DNS cache to use and dynamic forward proxy cluster config.

The frustrating part here is that these filters are reading full URIs out of env variables and feeding them into curl. Otherwise, we'd have been able to just update the cluster manager with static cluster configs and just use the HTTP async client l

[2021-05-17 00:01] wrowe commented on #11816
Its because http[s]_proxy vars are a very well accepted convention, and it make the stock envoy config more mutable. That doesn't make it ideal, but you raised the question why, andbI think we can and should revisit the earlier design decisions

[2021-05-17 00:54] durd07 opened #16518 "Question: How to extract text between square brackets with RegexMatcher"
*Title*: *How to extract text between square brackets with RegexMatcher*

*Description*:

ERROR: ./source/extensions/filters/network/sip_proxy/decoder.cc:580: Don't use std::regex in code that handles untrusted input. Use RegexMatcher

following is my code:

[code]

So does anyone know how to achieve the same effect with RegexMatcher, extract text between square brackets? I want to get the substri

[2021-05-17 07:42] rojkov commented on #16518
RegexMatcher has no support for submatching. I think you can start with using [Re2](https://github.com/google/re2/blob/master/re2/re2.h) instead of std::regex. There are examples in Envoy's code base.

[2021-05-17 09:23] rojkov commented on #16506
`perf` provides the same CPU profiling capabilities as gperftools without any code instrumentalisation. And if used together with `FlameGraph.pl` it can give a detailed picture for every thread (I couldn't find how to make pprof show different threads). Heap profiling is the main challenge.

[2021-05-17 12:54] #16504 closed

[2021-05-17 13:49] alyssawilk commented on #16433
Not sure but I do wonder if it's the same with the new pool?  We're flipping over to that, and I'm wondering if it reproduces with envoy.reloadable_features.new_tcp_connection_pool=true?

[2021-05-17 14:38] alyssawilk commented on #13737
yeah, I think changing the return value makes sense there

[2021-05-17 14:39] moderation commented on #14863
I've found an interesting way to achieve the addition of tags using [vector.dev](https://vector.dev/). I take dash separated prefix values and move them to tags.

Envoy `stats_sink` ---> Vector statsd source ---> Vector transform ---> Vector statsd sink (could be aws_cloudwatch and / or statsd for Graphite)

[code]
This turns `pi-service-sync-envoy.http.sidecar_ingress.downstream_cx_http2_active`

[2021-05-17 15:01] vaccarium opened #16523 "Support sending stats with Graphite-formatted tags"
*Title*: *Support sending stats with Graphite-formatted tags*

*Description*:
I'm currently working on a Graphite tag-aware stat sink, and we'd love to get this extension accepted into the upstream Envoy repo. This is a follow-up to issue #14863 but smaller in scope (#14863 originally proposed a more flexible sink, while what I'm proposing here would be limited to Graphite tags).

*Relevant Links*

[2021-05-17 15:02] vaccarium commented on #16523
cc @moderation, as you commented on this in #14863

[2021-05-17 15:48] ggreenway commented on #16110
Thanks for posting that. It looks to me like this is roughly equivalent (functionality-wise, but maybe with different purpose) to cloudflare's keyless TLS. Is that correct? Could this be used for server TLS handshakes also, or is it limited to the client in mTLS?

[2021-05-17 16:08] nicole-chen-fivestars opened #16527 "How to Observe if a Request is a Retry"
Envoy access logs have response_flags like `URX` that tells a request was rejected because the upstream retry limit (HTTP) or maximum connect attempts (TCP) was reached.

Is there a way to observe if a request was retried? Say a request reaches connect_timeout on first try, but succeeds on the second try, afaict I only see a log for the second try but it doesn't tell me it's a second try.

[2021-05-17 16:14] wozz opened #16528 "jwt_authn: breaking change in payload encoding"
*Title*: jwt_authn: breaking change in payload encoding

*Description*:
The encoding format for the JWT Payload header in the jwt_authn filter was changed in https://github.com/envoyproxy/envoy/pull/14779. This is a breaking change in golang due to the way the base64 package works: https://golang.org/pkg/encoding/base64/#pkg-variables

*Repro steps*:
see test changes here: https://github.com/envoy

[2021-05-17 16:18] tavishvaidya commented on #16110
This can be used for both server and client TLS handshakes as well.

[2021-05-17 16:21] justincely commented on #16471
Cool, so we're good to allow setting the following via bootstrap config?
- `user_agent_name`
- `user_agent_version`
- `user_agent_build_version`

Just making crystal clear.  If so, I'd be happy to take on this issue

[2021-05-17 16:21] davinci26 commented on #16515
What do you have in mind for deprecation? How would you do it alternatively?

Currently it is marked as `deprecated` in the proto

https://github.com/envoyproxy/envoy/blob/50024c1ff774029d67c6e27e5893c5d1400065a3/api/envoy/config/bootstrap/v3/bootstrap.proto#L314

[2021-05-17 16:23] phlax commented on #16515
not sure how deprecation works tbh - i know that i have dealt with config in the past that emits warnings rather than failing - not sure how that is expressed in the code

[2021-05-17 17:54] basvanbeek opened #16530 "Allow trace instrumentation to sample requests decoupled from x-request-id"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Description*:
Envoy couples its sampling logic to the `x-request-id` header which it expects to be a valid UUID. In case of a pre-existing `x-request-id` which is of a diffe

[2021-05-17 19:06] antoniovicente commented on #16493
@htuch

Seems like tests are hitting the following error.  Would be good to understand the source of it and if we should consider some adjustments to retransmit logic in cases where the proxy appears overloaded in order to mitigate.  Can we gather some info on number of retransmits?

Server: Closing connection: 728740b16f0e6ea2, with error: QUIC_TOO_MANY_RTOS (85), and details:  Network blackhole

[2021-05-17 21:37] danzh2010 commented on #16493
I couldn't reproduce these in local machine, though I didn't setup RBE.
Following test didn't time out:
$ bazel test test/integration:quic_http_integration_test --test_filter="*DownstreamReadDisabledOnGiantPost*" --config=clang-tsan --runs_per_test=100

Might be there are some RBE UDP socket setup difference.

Will disable these tests for now.

[2021-05-17 22:08] antoniovicente commented on #16335
I think I saw this flake last week.  Anything we can do to mitigate it until we have a better fix?

[2021-05-17 22:17] danzh2010 commented on #16335
These have already been disabled in #16341

[2021-05-17 22:30] antoniovicente commented on #16493
The timeouts seem to be due to the client QUIC stream being already reset when we call waitForEndStream.  I don't understand how this could be happening.

[2021-05-17 23:44] #15800 closed

[2021-05-18 02:00] howardjohn opened #16536 "transport_socket_matches doesn't update properly when endpoint metadata updates"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: transport_socket_matches doesn't update properly when endpoint metadata updates

*Description*:
When an endpoint metadata is updated, the transport_socket_matches do

[2021-05-18 02:55] htuch commented on #16471
I'm not going to oppose adding this, but I think it's important we document clearly if overrides are allowed that they are probably never the right thing. Use if you fully understand your environment. If interoperating with things like Google's Traffic Director, it would be a mistake to use this.

[2021-05-18 03:03] incfly commented on #16536
Yes. It's a known issue. Haven't taken a look of the host/connection pool/socket object lifecycle within envoy. Not sure how much it takes to change this.

[2021-05-18 04:47] jpeach commented on #16001
The build requires a program named `python`. Using `update-alternatives` to point `/usr/bin/python` to `python3` works until the thrift test, which explicitly check for python 2. IIUC most of the rest of the build and tooling wants python 3 (though it doesn't ever invoke anything with `/usr/bin/python3`).

I would be happy to work on improving this if there's a committer with Bazel expertise who c

[2021-05-18 04:58] durd07 commented on #16518
Hi @rojkov,

thanks for your answer, it works now.
here is my solution:

[code]

[2021-05-18 04:59] #16518 closed

[2021-05-18 06:31] phlax commented on #16001
there is a specific dependency on python3.8 in one of the tools - so the build image has python3.8 installed and set as the default interpreter - and the general advice is to use 3.8 or above

regarding the python2 requirement - i would hope we can update that to use a more recent version

regarding this ticket i think the best way would be to use a `py_runtime` bazel rule (https://docs.bazel.buil

[2021-05-18 07:47] LuyaoZhong commented on #14553
@ggreenway I'm a little confusing about the Envoy built-in grpc client,  e.g. ratelimit and ext_proc, they all implemented a async client, it seems that the request and response are seperated, but for tls external session, I need get the response immediatly after I send out the request since I need that session to do the quick handshake, am I supposed to implement a sync client? Do you have any su

[2021-05-18 09:06] Wyverald opened #16542 "Envoy is failing on Bazel CI"
https://buildkite.com/bazel/envoy/builds/1550#aee9a8a9-d127-466b-9dff-3e6b21bda840

The logs are extremely long but the error seems to originate from this:
[code]

More info can be found by following the link above and Ctrl+F'ing the excerpt above.

[2021-05-18 12:29] wbpcode commented on #3732
May be request_headers_to_add and  %DOWNSTREAM_LOCAL_PORT% can cover this ?

[2021-05-18 13:43] #13986 closed

[2021-05-18 15:07] ggreenway commented on #14553
For it to work properly, you must be able to treat it as async. If you try to make it sync, an envoy worker will be blocked waiting on the response, and performance will be unacceptable.

[2021-05-18 16:01] #16241 closed

[2021-05-18 17:09] boringuy commented on #16071
pull request submitted but need approval as this is my first PR: https://github.com/envoyproxy/envoy/pull/16545

[2021-05-18 17:15] yanavlasov opened #16546 "Automatically sync main and release branches on setec"
Presently it is a manual process that can only be done by repo admin. It adds latency to path development if branches need to be synchronized.

Action item for CVE-2021-29492

[2021-05-18 18:28] parkedwards commented on #16219
@yanavlasov is there a better place I can post this to get active discussion on the above?

[2021-05-18 18:38] antoniovicente commented on #16546
@envoyproxy/security-team

The fix lead ought to have repo admin on setec and should be able to do the necessary syncs.  We do need better documentation about how to manage patches in that repo as part of the security release process.

[2021-05-18 18:45] antoniovicente commented on #16542
What compiler and tools/library versions are used by the bazel CI?

It seems like the intent was to use the 2 iterator vector constructor, but it seems to me that this code should at the very least look something like:

`EXPECT_THAT(std::vector<uint8_t>(dst, dst + sizeof(src)),`

[2021-05-18 18:45] antoniovicente commented on #16542
cc @rialg @jmarantz

[2021-05-18 19:00] yanavlasov opened #16548 "Ensure that CI for release branches is green when new version is started"
Otherwise this is done during backporting of security patches which is more time sensitive.

Action item for CVE-2021-29492

[2021-05-18 19:13] jmarantz commented on #16384
The above suggestion should work, but will produce tags with "." in them, which can't currently happen. I don't know if that matters for any stats sinks.

Another option would be to mutate the service names when constructing the tags, swapping "." for "_".

I don't have a strong preference; just wanted to throw that out as another option.

[2021-05-18 19:25] rialg commented on #16542
With the following environment :

* ENVOY_BUILD_IMAGE=envoyproxy/envoy-build-ubuntu:e33c93e6d79804bf95ff80426d10bdcc9096c785
* bazel 3.7.2

Tests succeeded

[code]

Nonetheless, if required, I can submit a PR with the following patch:
[code]

[2021-05-18 19:29] jmarantz commented on #16542
@rialg sounds good to me. I assume @Wyverald is using some combination of processor and compiler revision where it can't figure out the right vector type, though it looks derivable to me :)

[2021-05-18 20:48] antoniovicente commented on #16542
Great to hear.  Feel free to send me a PR with the diff above.

[2021-05-18 22:10] ajsalow opened #16551 "Double proxy, how to maintain destination port?"
*Title*: *Double proxy, how to maintain destination port?*

*Description*:
I have one envoy proxy running as a sidecar in a pod. I've used mangled the iptables (`iptables --table nat --append OUTPUT --prot tcp -m owner ! --uid-owner 101 -j DNAT --to-destination 127.0.0.1:10000`) so all output goes to the sidecar proxy.

The enovy proxy running as a sidecar then forwards all traffic to another envo

[2021-05-18 22:33] danzh2010 commented on #16493
I was able to reproduce the flakiness using RBE, and verified that https://github.com/envoyproxy/envoy/pull/16180 fixes the flaky tests.

[2021-05-18 23:45] #15770 closed

[2021-05-18 23:51] parkedwards commented on #11369
Since we haven't been able to create a self-container docker-compose repro, anyone know if the quoted change by @tatsuhiro-t in nghttp2 has been folded into an Envoy release?

[2021-05-19 00:03] clundquist-stripe commented on #11369
Tan's example in the initial post worked for me when I reproduced it. I may have done a few trivial changes around envoy versioning and golang versioning.

HTTP2 Server - https://gist.github.com/tan-stripe/4ea1e8f3dfbb3af6210f655dc2883647
envoy.yaml - https://gist.github.com/tan-stripe/8965f551d7ffe68cdb4c4d738d143a63
Dockerfile - https://gist.github.com/tan-stripe/d6bfb04c5ad8c044442b0aefa07d898b

[2021-05-19 00:13] antoniovicente commented on #11369
It would be good to know if this still happens.  I know of one case where Envoy can send RST_STREAM for a stream where it hasn't sent HEADERS but I think it can only happen before this change: https://github.com/envoyproxy/envoy/pull/14820

[2021-05-19 00:28] ozkar99 opened #16554 "Envoy ignores "common_http_protocol_options" set on Cluster for ALS."
ALS not respecting "commmon_http_protocol_options"

Seems like the cluster options set for access log service are getting ignored by envoyproxy.

I have set up a `max_stream_time` of 5 seconds to test, fired up Wireshark, and see no `RST_STREAM` frame being sent at all.

relevant config snippets:

cluster definition:
[code]

Not sure if this is a bug or a feature request.

[2021-05-19 01:26] yanavlasov commented on #16196
Not so great news. We have modified bazel to use parameter files with gcc instead of command line arguments, but unfortunately gcc invokes cc1plus the same way anyway. So it pulls all command line arguments from the file and creates the COLLECT_GCC_OPTIONS variable for cc1plus.

Trying to see if any gcc wizards may have any suggestions.