[2020-04-21 04:46] snowp commented on #10823
I think delegating to an inner cluster would work fine. It would be limited to one locality/priority since we're sourcing all the endpoints from a single DNS name so there'd be no clear way to specify the LB hierarchy, if that's sufficient then this shouldn't be too hard (famous last words).

[2020-04-21 04:49] snowp commented on #10823
Possibly the most glaring issue is stats: we ran into this with the aggregate cluster where people were expecting to see stats for the aggregation (e.g. number of hosts = sum of hosts in all the clusters). We should take some care to make sure that we're handling this in an intuitive way if we end up with some kind of delegation to another cluster.

[2020-04-21 06:29] wrowe opened #10871 "Replace pipe() with os_sys_calls_impl::socketpair(AF_UNIX,...) in buffer tests"
I think as all of these tests are buffer tests and not network tests, having them all use socket pair seems fine to me so let's just do that?

_Originally posted by @mattklein123 in https://github.com/envoyproxy/envoy/pull/10822_

The underlying issue is that Unix can only use an AF_UNIX socketpair, while the current os_sys_calls_impl socketpair on Windows implements only AF_INET or AF_INET6.

In

[2020-04-21 06:39] maxliu007 commented on #10826
Then what changes can bring `max_connection_pools ` into play?
What if it is configured to use gRPC instead of HTTP/1.0, how will that behave? Still only one pool?

[2020-04-21 06:49] ankatare commented on #10843
@htuch  thanks for adding me in member list. as you suggested  let me go through #10644 . I will get back for any doubts.

[2020-04-21 08:44] andrzejwaw commented on #10806
@mattklein123 I noticed the problem on *upstream_cx_active* and *lb_subsets gauges* from */stats/prometheus*. But probably it affects all accumulate gauges.

Gauge *upstream_cx_active* should report open connections for upstream also after hot-restart, it does not. After hot-restart it holds values from parent (even if parent died). Should drop values after parent shutdown.
Gauge *lb_subsets* - sh

[2020-04-21 11:23] aviramha opened #10873 "Envoy segfault using Redis Proxy"
I encounter a determinstic crash in my workload each time the app tries to connect to it (for Redis)
Using this image as sidecar for the app:
envoyproxy/envoy-alpine:v1.13.1

Log:
[code]
Example configuration:
[code]

[2020-04-21 12:52] alyssawilk commented on #10868
+1, I think we just wanted to make sure nothing drastic happened during HEAD rollouts

[2020-04-21 14:18] suvl opened #10874 "Cannot use TLS with TCP Proxy"
*Title*: *Unable to create a TLS listener with TCP Proxy alone*

*Description*:
I'm trying to create a TLS termination proxy for RSyslog but I'm being unable to make envoy perform the TLS part of the proxying.

Here's my config:
[code]

Envoy is being launched as a container in a pod and it is now proxying from the 6514 port to the 514 port where there's another container listening. Connections do

[2020-04-21 14:44] htuch opened #10875 "Guarantee and optimize v3 internally until close to v4alpha"
Given that v4 might be further out than the API clock dictates today (https://github.com/envoyproxy/envoy/issues/10852), it might be beneficial to work with v3 inside of Envoy rather than bump to v4alpha. This would allow us to skip `VersionConverter::upgrade` for v3 protos in `onConfigUpdate()`, eliminating a source of non-trivial overhead that exists today.

This issue will track discussion arou

[2020-04-21 14:45] htuch commented on #10875
CC @jmarantz

[2020-04-21 14:53] antoniovicente commented on #10875
A performance regression as v3 becomes discouraged in favor of v4 may pose a risky problem in the future.  If we make v3 fast, it has to remain fast until the code is fully deleted.

[2020-04-21 14:57] htuch commented on #10875
If that becomes a requirement, we may not want to make v3 fast :) Envoy will only ever operate on a single version internally in the interest of code sanity, so structurally it needs to spend some effort converting versions. We may be able to optimize this conversion further, but that needs further investigation work.

[2020-04-21 15:04] antoniovicente commented on #10875
We need to quantify what the performance hit is.  We will have control planes that will max out the proxies ability to consume config.  Getting a big dip in performance around the time of version upgrades will quickly become a problem.

Until we have a better story, I recommend against optimizing the current version.

[2020-04-21 15:13] htuch commented on #10875
Part of the problem here is we have the branch management policy of considering master to be release candidate / production ready. This means that if we make a change to v4alpha/v4 on master, then this is immediately visible to a class of users. In other situations, the point releases would act as the stable anchor points. I'm not sure if there is anything actionable here, but I believe this is ho

[2020-04-21 15:16] htuch commented on #10836
FAQ and proto doc updates at https://github.com/envoyproxy/envoy/pull/10876.

@galbacarys I don't think delta xDS is widely used yet, once go-control-plane has support here we will have a lot of control planes with this support.

[2020-04-21 15:22] sunjayBhatia opened #10877 "Windows: executables built with dbg and fastbuild compilation modes crash on startup with failed absl assertion"
*Description*:
Building envoy-static.exe and many (I don't believe it is all, but have not narrowed it down yet) test executables on Windows with fastbuild or debug compilatin modes causes a crash on startup due to a failed assertion:

[code]

*Repro steps*:
Build `//source/exe/envoy-static` or tests with `-c dbg` or `-c fastbuild` on Windows

[2020-04-21 15:23] sunjayBhatia commented on #10877
Currently in CI etc. we are only building `opt` mode builds

[2020-04-21 15:24] #10865 closed

[2020-04-21 15:49] markdroth commented on #10852
I'm also in favor of not imposing the overhead of a major version bump without compelling justification.  It's become clear that this change is extremely expensive.

I agree with @dfawley that in principle, we should never need to bump the major version number to add new features, because new features can instead be triggered by client capabilities.  So it seems like the only reason we would ever

[2020-04-21 16:18] vbuciuc commented on #4613
see the example here:

https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/lua_filter#set

it stores headers in dynamic metadata in the request handler which are then available in the response handler

[2020-04-21 16:19] markdroth commented on #10852
I'm also in favor of not imposing the overhead of a major version bump without compelling justification.  It's become clear that this change is extremely expensive.

I agree with @dfawley that in principle, we should never need to bump the major version number to add new features, because new features can instead be triggered by client capabilities.  So it seems like the only reason we would ever

[2020-04-21 16:24] daganibhanu commented on #10824
Apparently there are no "release versions" of boring ssl, any project that uses boringssl is supposed to consume a commit of boring ssl and ship boring ssl along with that project's code. so as mentioned [https://github.com/envoyproxy/envoy/blob/v1.10.0/bazel/repository_locations.bzl] in link `fips-20180730` must be the tag/version.

[2020-04-21 16:24] #10824 closed

[2020-04-21 16:25] markdroth commented on #10852
I'm also in favor of not imposing the overhead of a major version bump without compelling justification.  It's become clear that this change is extremely expensive.

I agree with @dfawley that in principle, we should never need to bump the major version number to add new features, because new features can instead be triggered by client capabilities.  So it seems like the only reason we would ever

[2020-04-21 16:28] ggreenway commented on #10868
The other concern was the additional circuit breaker enforcement, and whether that would break someone's config, and it was easier to disable a runtime feature than to fix the config (in the short term).

But we haven't heard any concerns/complaints in this area since the release came out, so I'm ok deleting it now.

[2020-04-21 16:35] wrowe commented on #10871
cc @sunjayBhatia

[2020-04-21 16:39] mattklein123 commented on #10806
@andrzejwaw thanks, I think we know what the issue is. Hopefully @jmarantz can work on a fix.

[2020-04-21 16:40] mattklein123 commented on #10852
Agreed, though I think at this point we should agree as a community to push through with v2 -> v3 since we don't know what we don't know until we do it once, and arguably the longer we wait to try this the more painful it will get.

+1 this is my thinking as well.

[2020-04-21 16:48] markdroth commented on #10852
I'm not convinced that it actually makes sense to go through with the v2 -> v3 migration right now.  I agree that we would learn something from the exercise, but until we actually need to bump the version for some reason, it seems like this is an awful lot of work just to gain theoretical knowledge.  It seems better to wait until we actually need to make the change, because then it will be much ea

[2020-04-21 16:56] mattklein123 commented on #10852
If this is an opinion held by many I think we need to urgently discuss this as a lot of plans would need to change and be communicated.

[2020-04-21 17:00] mabukhovsky commented on #10756
@lizan I would appreciate your help as this issue is a blocker for a team. Thanks!

[2020-04-21 17:02] mattklein123 commented on #10852
(Also note that if we abandon the v3 force upgrade we need to actually go back and backfill recent API changes that have been v3 only, so again this needs urgent attention if there is going to be a change here in the PR)

[2020-04-21 17:03] mk46 commented on #10726
Hi @moderation, I have made some  changes and now content looks like

![image](https://user-images.githubusercontent.com/52198964/79891866-3b2ed900-841f-11ea-8e86-2678381f77b1.png)

Long words are breaking. @lucperkins @moderation May I push PR for that?

[2020-04-21 17:05] asraa opened #10878 "[HTTP] High level design: Remove exceptions in codecs"
This is a tracking issue and design overview for removing exceptions:

**Title**: *Remove exceptions in Envoy's HTTP/1 and HTTP/2 codecs*

**Objective**:
Remove exceptions in the presence of untrusted traffic, specifically on codec errors in the data plane with careful attention to codec callbacks and resumption points to ensure the control flow is preserved. This moderate risk change that will in

[2020-04-21 17:12] inf-rno commented on #10859
after looking at this a bit longer it looks like this is already possible because `request_mirror_policy` is actually an [array of policies](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/redis_proxy/v2/redis_proxy.proto#config-filter-network-redis-proxy-v2-redisproxy-prefixroutes-route), so we are already able to do this! I'm not sure if we want to rename this property t

[2020-04-21 17:16] lucperkins commented on #10726
@mk46 Nice! I think that's the way to go.

[2020-04-21 17:22] wrowe commented on #10871
Note: Microsoft is aware of the issue and the issues it raises for implementing socketpair()

https://github.com/microsoft/WSL/issues/4240

[2020-04-21 17:35] moderation commented on #10726
LGTM

[2020-04-21 18:50] alyssawilk commented on #10764
SG.  This is mildly complicated by the fact the access loggers didn't have stats, and I'm not sure if I can get away with only adding stats for the gRPC access logger. We'll see how the review goes :-P

[2020-04-21 18:56] antoniovicente commented on #10875
The problem is that the control planes need to be able to handle version negotiation and provide the efficient version of the config for both the current and next version.  Bundling the release of v4 with v3 becoming inefficient does not allow time for migration.  If we were to make it a compile option to make v3 or v4 efficient, things would likely be fine since it would buy proxy users the time

[2020-04-21 18:57] htuch commented on #10852
@markdroth are you talking about for gRPC or Envoy? I think it wold be a major disruption to back out from v3 now in Envoy, since:
1. The ecosystem is in the process of moving to v3.
2. Envoy has internally migrated to v3, any v2 config needs to be converted first to v3.
3. We risk losing credibility when stating plans around APIs.
4. We abandon the v3 migration, process and tooling put in place f

[2020-04-21 19:12] markdroth commented on #10852
I agree that there are a lot of implications here and that we need to resolve this quickly, and I'm not dead-set against continuing the migration to v3.  We'll have some offline discussions and try to come to consensus on this.

[2020-04-21 19:32] FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg commented on #10859
Yes, that's correct you can mirror to multiple clusters at once.

[2020-04-21 19:39] ggreenway commented on #10855
cc @PiotrSikora @davidben

[2020-04-21 19:56] #10859 closed

[2020-04-21 21:30] dmitri-d opened #10887 "Another Quiche build failure under gcc"
This time when building tests in master:

[code]

This is under gcc version 9.3.1

[2020-04-21 21:31] bvandewalle opened #10888 "TLS HealthCheck for non-TLS endpoints"
We are using Envoy as a Layer 4 load balancer (based on SNI). Envoy doesn't terminate TLS.
However, we would like to perform HealthChecks over TLS, and there seems to be no way to enable healthChecks over TLS.

I would have expected that enabling the `tls_option` under the `health_checks` config would result in a TLS enabled healthcheck as described here:

https://www.envoyproxy.io/docs/envoy/late

[2020-04-21 21:39] #10825 closed

[2020-04-21 23:12] beriberikix commented on #1861
Try as I might, I can't get it build on a Pi 4. I've tried Raspbian and Ubuntu, different versions and I think I hit a OOM issue at some point. Perhaps there's a way to strip out stuff, or free up just a little more RAM?

[2020-04-21 23:12] snowp commented on #10888
Seems like a dupe of https://github.com/envoyproxy/envoy/issues/10575 which is currently being worked on, does that seem right to you?

[2020-04-21 23:47] mpuncel opened #10891 "Consider standardizing on more detailed commit messages"
As an end user who is not involved day-to-day in Envoy development, I only occasionally need to look at Envoy source code or commit history. Detailed commit messages can help people like me get context on the rapid changes occurring between updates more quickly.

As an example, I was looking into the details of how the max_connections circuit breaker is implemented. In particular, I wanted to know

[2020-04-22 00:14] htuch commented on #10875
It's incredibly challenging to make this a compile time option, since we have xDS types everywhere in the code base, many thousands of references, each with the version in their type name. It's not as simple as a `sed` or C preprocessor replacement of v3/v4, as types move package between versions potentially. I'm open to any detailed design proposal for this that addresses this, it's an option but

[2020-04-22 00:24] #10209 closed

[2020-04-22 00:48] euroelessar commented on #10870
Please assign this ticket to me.

[2020-04-22 00:54] bvandewalle commented on #10888
definitely a dupe of that one. My quick search didn't find anything. Thanks for finding it, will close this one.

[2020-04-22 00:54] #10888 closed

[2020-04-22 01:02] bvandewalle commented on #10575
Definitely interested in this feature as well. Thanks for working on it.

[2020-04-22 01:06] moderation commented on #1861
@beriberikix as per https://github.com/envoyproxy/envoy/issues/1861#issuecomment-606021305 did you try restricting to 3 cores with `--jobs 3`. I also outline compiling out all the extensions I don't use.

[2020-04-22 01:48] beriberikix commented on #1861
@moderation I didn't - I was using the CI scripts since the only prerequisite is Docker. Any more detailed tutorial or walkthrough you recommend?

[2020-04-22 01:57] stevesloka commented on #1861
I've got a build running now. I'm just using the docker scripts to build. I'm happy to blog on this to share the info that I'm using. I just edited the scripts to pas he `--jobs` arg like @moderation suggested which is super helpful, otherwise, my Pi4 locks up after some time.

[2020-04-22 02:02] lizan commented on #10756
@mabukhovsky Here's what I meant:

[code]

Basically it set two route:
- one matches if `X-Host-Port` ends with `:443` and send it to `dynamic_forward_proxy_cluster_tls`
- another one matches everything else and send it to `dynamic_forward_proxy_cluster`.

Is this what you meant?

[2020-04-22 02:06] moderation commented on #1861
If you are building on the RPI4, Docker isn't required. I think it makes building Envoy _harder_. See last night's fun thread at https://twitter.com/moderat10n/status/1252445788162060290. I can only attribute the aversion to using Linux and compiling stuff from source to the use of MacOS.

[2020-04-22 06:18] stevef1uk commented on #1861
I have already stopped the k3s.agent and not much else running. I am building on an external hard drive as my SSD card is only 16Mb.

Last time I tried something this complicated and long winded it was to port Go & docker to Rasbian back in 2014, which I succeeded in doing. I gave up using 'C' in the early 2000s and these days I I have been spoilt in how easy it is to cross compile code written in

[2020-04-22 07:33] Charana123 commented on #10671
A few questions
- In the case the upstream connection cannot be established, is an *encoding* http filter called to encode the error response *after* all retries have failed ?
- In the case the HTTP connection manager is set to mirror traffic for other upstream clusters. Can we detect a failed request to these mirrored clusters and buffer/re-send traffic to them as well ?

[2020-04-22 07:58] wangfakang commented on #10813
@rgs1 @mattklein123

I am also investigating  UDPA of the `limit-rate` related rules recently. Here are some fields I added [commit](https://github.com/wangfakang/envoy/commit/5deb1a2a82c637c9c06ab8de3434533cd5716824) on the basis of @rgs1 [PR](https://github.com/envoyproxy/envoy/pull/10820/files).

As follows：

[code]

In addition, I think the `limite-key` field in the limit rules should designed

[2020-04-22 11:09] aviramha commented on #10873
Hi,
The issue seems to be fixed upon changing to 14.1 image.
I tried running debug dev image of 13.1 but the backtrace wasn't more elaborated..

[2020-04-22 12:01] SpecialYang commented on #10478
On mac, the App Xcode is required to be installed. If you already have Xcode. Run the following commands.
[code]
The above method works for me.

[2020-04-22 16:01] #10814 closed

[2020-04-22 16:02] #10807 closed

[2020-04-22 16:07] mattklein123 commented on #10891
Thanks for raising this @mpuncel. I agree we can do better here in terms of making sure PR descriptions are correct and then copying the description into the final commit message before merge. I will discuss with the maintainers and do a process update PR. cc @envoyproxy/maintainers

[2020-04-22 16:21] mattklein123 commented on #10873
OK thanks for the follow up. If fixed on master we won't investigate further.

[2020-04-22 16:21] #10873 closed

[2020-04-22 16:40] ggreenway commented on #10891
+1. As a starting point, what if we copy whatever is in the release notes into the commit message?

[2020-04-22 16:41] danielhochman opened #10897 "admin: circuit breaker thresholds not in `/clusters` JSON"
The plaintext version of `/clusters` includes the runtime interpolated value for circuit breakers, see [AdminImpl::addCircuitSettings](https://github.com/envoyproxy/envoy/blob/25ccc5f2442300bc31a4975ddff3d572fbc37519/source/server/http/admin.cc#L336-L347).

In practice:
[code]

The JSON version does not, see [admin/v4alpha/clusters.proto](https://github.com/envoyproxy/envoy/blob/master/api/envoy/a

[2020-04-22 16:41] #10706 closed

[2020-04-22 16:43] #10836 closed

[2020-04-22 16:46] alyssawilk commented on #10891
Ideally (to minimize maintainer scut work) change the template so folks creating PRs usually do that, and we can cover it when it's missed.

[2020-04-22 16:48] shashankram opened #10899 "Does Envoy support per filter chain draining?"
My understanding has been that if a Listener with multiple filter chains is configured and a filter chain within the listener is updated, connections belonging to other filter chains but the same listener are also drained. Is this still the case?

Looking at a few PRs, I see that there has been some effort to support per filter chain draining:
https://github.com/envoyproxy/envoy/pull/9205
https://

[2020-04-22 16:57] ggreenway commented on #10891
The default commit message on Squash is a combination of all the commits being squashed; none of the default text is taken from the PR description. But at least if the desired text is in the PR description, we can scroll up,, copy/paste it into the box, and not have to dig through the changes to get the text.

[2020-04-22 17:00] mattklein123 commented on #10897
+1 I would consider this a bug. @tonya11en do you mind fixing this?

[2020-04-22 17:03] mattklein123 commented on #10899
This is almost complete and should work transparently once https://github.com/envoyproxy/envoy/pull/10662 lands (albeit in an alpha state). cc @lambdai

[2020-04-22 17:05] mattklein123 commented on #10891
Yeah this is my thinking. I don't think there is any great automated way of doing this unless we build the actual merge action into RK which I suppose is possible (cc @itayd). Until then I think it can be a manual process in which the maintainer needs to 1) Make sure the PR author has a correct/description, and then 2) copy that into the final commit message before merge.

[2020-04-22 17:08] asraa commented on #10891
My descriptions can sometimes be verbose and explanatory. Can change the template to include a "Brief Description: *This would go in commit message*" as well as a "Detailed Description: *Additional details*"?

Also, can we incorporate PR titles somewhere? Since the commit message just contains the author's commit messaged, maintainers could maybe format the commit messages as:

PR title
[newline]

[2020-04-22 17:09] snowp commented on #10891
In the past I've often copied the PR description into the final message when it made sense, though a lot of the time the PR has diverged somewhat from the original description, or the original description is appropriate for a commit message (it might be something akin to "I gave this a go, let me know what you think!").

I think one thing that is missing is making sure that people understand how m

[2020-04-22 17:10] mattklein123 commented on #2861
Given that we landed initial support in https://github.com/envoyproxy/envoy/pull/10642 I think it makes sense to close this and we should open individual issues for discrete future features. Awesome work everyone! cc @cpakulski

[2020-04-22 17:10] #2861 closed

[2020-04-22 17:14] mattklein123 commented on #10891
+1 this makes sense. If you want to update the template please go for it.

Agreed, I think we should write this down in https://github.com/envoyproxy/envoy/blob/master/CONTRIBUTING.md#submitting-a-pr and then the maintainers will need to make sure that the PR description, etc. is accurate before merge.

[2020-04-22 17:25] snowp commented on #10891
I think it's okay to have a lot of detail included in a commit message if appropriate, but yeah if there is additional information included in the issue description that doesn't make sense in the commit message there should be an easy way to indicate that.

[2020-04-22 17:35] rgs1 opened #10901 "Crash regression from #10362"
We synced with master yesterday and are now getting a crash on startup (after a hot restart).

Here's the stack trace (not super useful):

[code]

I am suspecting either https://github.com/envoyproxy/envoy/pull/10362 or https://github.com/envoyproxy/envoy/pull/10842.

The full list of changes that we picked up:

Remove hardcoded type urls Part.2 https://github.com/envoyproxy/envoy/pull/10848
upstr

[2020-04-22 17:44] rgs1 commented on #10901
Maybe #10362 :

[code]

cc: @yanavlasov

[2020-04-22 17:45] mattklein123 commented on #10901
@rgs1 if possible can you get a proper stack trace with debug symbols?

[2020-04-22 17:50] niraj2587 opened #10902 "Failing to hot restart envoy using hot-restarted.py"
I am trying to setup envoy proxy for our use-case and it seems to be failing every time i try to hot restart the service..

I am not running multiple envoy instances.. There is only one docker container with Envoy running on it..

Exception
| [2020-04-22 17:02:05.595][28][debug][init] [source/common/init/watcher_impl.cc:27] init manager Server destroyed
| unable to bind domain socket with id=0 (se

[2020-04-22 18:48] rgs1 commented on #10901
Reverting #10362 indeed made it go away. Hmm. I might not have time to debug more of this today, so a better stack trace might need to wait unless someone else can get a repro of this first (if not I'll follow-up later/tomorrow).

[2020-04-22 18:50] mattklein123 commented on #10901
OK we should probably revert #10362 in the meantime. cc @yanavlasov

[2020-04-22 19:26] alyssawilk opened #10905 "Common header-fail fuzzing"
We've hit issues where filters assume host (where there isn't always one on the early response path) and have concerns about impending pathless support with Connect.  It'd be awesome if our fuzz corpus included both checks of those two common gotchas as well as a presubmit that 1) new filters have fuzzers and 2) the initial corpus includes NoHost and NoPath checks

[2020-04-22 20:16] niraj2587 commented on #10902
i have tried using the base-id option at startup as well but that doesnt seem to help.. I must be missing something trivial but not able to figure it out.

[2020-04-22 20:20] #10781 closed

[2020-04-22 20:24] #10868 closed

[2020-04-22 20:28] #10726 closed

[2020-04-22 20:30] davidben commented on #10855
(Also @agl )

The P-256 restriction is to avoid misconfigurations, reduce DoS risks, and keep the ecosystem healthy. The leaf certificate key is used to perform an signature on every TLS connection. That means that both performance and side-channel resistance are important. Performance problems translate to DoS risks for the server, and side-channel problems translate to loss of private key. (Clou

[2020-04-22 20:40] niraj2587 commented on #10902
@mattklein123 would appreciate if you can have a look at this..

[2020-04-22 20:53] aleliaert opened #10907 "Question: Permissive mode for jwt_authn http filter?"
*Question*:
Need to add auth to a service that is widely used within organization.  Am planning on standing up Envoy as a reverse proxy with jwt_authn.  Have low confidence that jwt_authn config or client requests/JWTs will be correct at first.

As such, would like add auth in "permissive" mode where auth check is performed, but upon auth failing:
- Message written to access log about auth failure

[2020-04-22 21:27] shashankram commented on #10899
Thanks @mattklein123. To clarify, per filter chain draining would work without needing Filter Discovery Service - using a listener with multiple filter chains would transparently drain connections per filter chain?

[2020-04-22 23:16] #10891 closed

[2020-04-22 23:16] qiwzhang commented on #10907
You can try to combine jwt_authn with rbac filters.  rbac filter allows you to specify shadow [rules](https://github.com/envoyproxy/envoy/blob/master/api/envoy/extensions/filters/http/rbac/v3/rbac.proto#L32) which only evaluate but not enforce.

For access log info, you need to find out how to log filter metadata,  jwt layload can be written into filerMetadata [here](https://github.com/envoyproxy/

[2020-04-22 23:25] mattklein123 commented on #10887
cc @danzh2010

@dmitri-d can we get whatever version of gcc is showing all of these issues doing the gcc build in CI? cc @lizan

[2020-04-22 23:25] mattklein123 commented on #10902
I would assume your container needs shared memory permissions.

[2020-04-22 23:32] #10513 closed

[2020-04-23 00:13] niraj2587 commented on #10902
@mattklein123 i have mounted the dev volume in my docker file for envoy.. is there more to it??

 volumes:
      - ./envoy/:/etc/
      - /dev:/dev

[2020-04-23 03:16] Future2100 commented on #10846
The idle timeouts don't work for me, because the connections are long connection so I must break the connection by force.

[2020-04-23 03:17] #9431 closed

[2020-04-23 03:33] AKBarcenas commented on #10171
This is still an issue. I am currently looking into the possible approaches for implementing the proposed changes.

[2020-04-23 04:13] fttyX opened #10912 "merge_slashes option moves trailing slash from path to end of the the query string"
Hi.

Trying to remove duplicated slashes from URL, so enabled _merge_slashes_ option in http_connection_manager config. Duplicated slashes become single now, but now I'm getting trailing slash moved from the end of the URL path to the end of the query string, which is very unexpected.

For example:
http://example.com//test/?somequery_string becomes http://example.com/test?somequery_string/

Howeve

[2020-04-23 07:42] aviramha commented on #10873
@mattklein123 I tried to search the changelog for a relevant change, but couldn't find any. Do you have any idea what change might have fixed it? (Just out of curiosity)

[2020-04-23 08:56] yiyouguisu opened #10913 "Envoy 1.12 update Lds will not send a request to get the route defined in the scope, nor report an error, the request will report no_route 404"
![image](https://user-images.githubusercontent.com/11996269/80079652-279c8300-8583-11ea-8685-1d768f563b03.png)

ScopeRoute Config：
![image](https://user-images.githubusercontent.com/11996269/80079746-43a02480-8583-11ea-8621-b61f4949af79.png)

RouteConfig：
![image](https://user-images.githubusercontent.com/11996269/80079800-561a5e00-8583-11ea-80e3-60c812b713af.png)

RawRouteConfig：
`
[{
		"name": "

[2020-04-23 11:24] chrisfw opened #10914 "Is there a timeline for the Dynamic Forward Proxy feature to transition out of Alpha status?"
Is there a timeline for the **Dynamic Forward Proxy** feature to transition out of Alpha status?

Description:
Use case would be for envoy to replace a current solution that requires httpd+mod_security as well as squid to provide both forward and reverse proxy functionality for http and https.

https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/http_proxy
https://github.com/envoy

[2020-04-23 14:29] rgs1 commented on #10901
Is the plan still to revert this? I might have time to look into this again later today, but in parallel we'd like to still stay close to master (without carrying a revert patch) so reverting would be nice.

[2020-04-23 14:37] yordis commented on #10105
.

[2020-04-23 14:57] mabukhovsky commented on #10756
Hi @lizan , thank you for providing the config, I'm grateful for your time and efforts. I'm facing the following issue:
[code]
This is a [known issue](https://github.com/envoyproxy/envoy/issues/10160#issuecomment-591432025) I was asking about some time ago.

@mattklein123 mentioned that @alyssawilk is working on adding CONNECT support to upstreams, I see it is not merged yet: https://github.com/en

[2020-04-23 15:06] snowp opened #10916 "Static registration of runtime flags"
Currently runtime flags are checked by passing an arbitrary strings to the runtime snapshot in code, which makes discovering runtime values hard, usually relying on documentation that might not be easily discoverable (or non-existent).

If we provided a static registration mechanism for runtime flags, we could provide a CLI option that would dump all runtime flags, making it easy to search through

[2020-04-23 15:20] sunjayBhatia opened #10917 "Reduce resource consumption of test compilation by simplifying mock library inclusions"
*Description*:
Many tests/test libraries over-include especially mock libraries which causes increased memory usage, disk usage, and compilation time. This is especially a problem on Windows with `cl.exe` but we have also observed significant resource usage that can be reduced by as much as half on Linux with `clang`.

Attached to this issue is a file showing the peak working set memory usage of `

[2020-04-23 15:20] sunjayBhatia commented on #10917
cc @wrowe

[2020-04-23 15:21] sunjayBhatia commented on #10917
cc @mattklein123 @lizan as you have been working on improving build performance in CI etc.

[2020-04-23 16:09] kprakasam commented on #7918
Initial design doc https://docs.google.com/document/d/1z3DfT_u36EWjDQt_giEg2IjX-JChXpjKvYbdruUPnBs/edit?usp=sharing

[2020-04-23 16:09] lizan commented on #10756
@mabukhovsky the downstream client have to connect to Envoy in plaintext. so if you do
`curl --header "X-Host-Port: www.yahoo.com" http://127.0.0.1:10000` Envoy connects to www.yahoo.com in plaintext.
`curl --header "X-Host-Port: www.yahoo.com:443" http://127.0.0.1:10000` then Envoy connects to www.yahoo.com in TLS.

[2020-04-23 16:28] mabukhovsky commented on #1451
Hi @alyssawilk, I've see you've pushed several PRs to add CONNECT support. Could you help me to understand - with the current state of master branch, will I be able to resolve [my issue](https://github.com/envoyproxy/envoy/issues/10160#issuecomment-591432025)?
[code]

[2020-04-23 17:11] mattklein123 commented on #10916
Thanks for filing this @snowp. I thought we already had an issue on this but I can't find it. This is something we have discussed for a long time and I would love to get this done. cc @htuch also as we discussed this as a potential intern project for this summer.

[2020-04-23 17:13] mattklein123 commented on #10917
See https://github.com/envoyproxy/envoy/issues/8770. cc also @htuch as we have noted understanding and improving compile performance as a possible intern project for this summer. I would love to make progress on this.

[2020-04-23 17:19] mattklein123 commented on #10912
Thanks for the detailed report. Sounds like a bug. cc @alyssawilk

[2020-04-23 17:21] mattklein123 commented on #10914
In the v3 API this filter/cluster has been moved out of alpha.

[2020-04-23 17:21] mattklein123 commented on #10901
@rgs1 can you file the revert PR? If not I can do it later.

[2020-04-23 17:26] moderation commented on #10756
I've been testing and struggling with the dynamic forward proxy and the new SNI dynamic forward proxy over the last couple of days. The examples in the documentation don't work out of the gate. For those interested a v3 API version of @lizan's example above is below:

[code]

[2020-04-23 17:30] dmitri-d commented on #10887
@mattklein123: We are already on gcc 9.x (pls. see https://github.com/envoyproxy/envoy-build-tools/blob/master/build_container/build_container_centos.sh#L10). Quiche build issues under gcc is what's stopping us from running gcc CI builds (the PR is here: https://github.com/envoyproxy/envoy/pull/10236)

[2020-04-23 17:43] rgs1 commented on #10901
Yup -- coming up.

[2020-04-23 17:45] rgs1 commented on #10901
@mattklein123 revert here: #10919.

[2020-04-23 17:46] ankatare commented on #10843
@htuch i read #10644  and found that changes were made in docs/root directory from V2 API ref to V3 API wherever applicable . from the problem statement for this issue do i need to make similar changes (in json and ymal) inside directory structure ../test/ , please correct if i am wrong.
This has to be done in current development branch ?

[2020-04-23 18:08] wrowe commented on #8770
I don't believe we retain any advantage of precompiled headers follow Google style. Because the first include file is often the .h file of the corresponding source, the headers and order of inclusion vary between most every generated object. Other sources don't include that by reference until much later in the include list.

[2020-04-23 18:11] #10343 closed

[2020-04-23 18:14] htuch commented on #10916
Yeah, this looks closer to the stats model. There's also the long term dream/vision of converging runtime and xDS, with runtime acting as an xDS overlay layer that can be delivered on filesystem, RTDS, bootstrap and elsewhere.

[2020-04-23 18:45] chrisfw commented on #10914
That is great, thank you Matt!

[2020-04-23 18:45] #10914 closed

[2020-04-23 18:52] htuch commented on #10917
I think this is also related to getting https://include-what-you-use.org/ working for Envoy. Last time I looked it needed a custom toolchain but I think this has changed.

[2020-04-23 19:17] danzh2010 commented on #10422
/assign @danzh2010

[2020-04-23 20:35] oblazek opened #10921 "SO_REUSEPORT crash in envoy 1.13.1"
Description:

Repro steps:

Logs:

Apr 22 10:59:53 lb-l7-5.ko tt-envoy[22257]: [2020-04-22 10:59:53.830][22259][warning][config] [source/common/config/grpc_subscription_impl.cc:87] gRPC config for type.googleapis.com/envoy.api.v2.Listener rejected: Error adding/updating listener(s) k8s2_ko__labrador_stable__service_freshness_svc__n__one: route: unknown cluster 'k8s2_ko__labrador_stable__service_fr

[2020-04-23 21:04] sunjayBhatia commented on #8770
Here is a branch with some WIP to show how much improvement (at least on Windows) we get from breaking down one of the largest mock libraries (`//test/mocks/server:server_mocks`): https://github.com/greenhouse-org/envoy/tree/break-up-test-server-mocks

We only attempted to break down that one mock library and in cases where tests do not need most of the mocks included in that large library, there

[2020-04-24 00:17] htuch opened #10923 "100-continue crash when resuming decodeData() pipeline"
When an upstream sends a 100-continue header, which is handled by HCM, this causes `has_continue_header_` to be set for the shared stream state, 100-continue encode to be performed to the downstream and `continue_headers_continued_` to be set for the encoder stream filter state. When a previously paused decode filter chain is resumed, there is some common logic (shared by encode/decode active stre

[2020-04-24 01:03] yanavlasov commented on #10901
@rgs1 stack trace would be very helpful or some pointers on how to reproduce this.

[2020-04-24 01:47] mk46 commented on #10173
@dio I would like to take up this issue.

[2020-04-24 02:43] CalbeeMing0530 opened #10924 "Consult about rbac filter"
What fields do the RBAC filters currently support for headers? According to the official documentation, I saw that ": method" and ": path" are supported. Is there a filtering mechanism for the payload field in the headers? If so, how to write rules in Envoy's startup configuration file? Looking forward to your reply

[2020-04-24 06:42] lolin9 opened #10925 "gRPC config for type.googleapis.com/envoy.api.v2.Listener rejected: Error adding/updating listener(s) X: Didn't find a registered implementation for name: 'envoy.filters.udp_listener.udp_proxy'"
Is the udp filter included and working by default in the official docker images? I tried v1.13, v1.4 and even the dev version but I still find that error in the logs while envoy trying very repetitively to get correct config
[code]
I am using the `envoyproxy/go-control-plane` to control the envoy instance but the config according to `/config_dump` is basically equal to what is in https://www.envoy

[2020-04-24 07:54] lxnch opened #10926 "Envoy /stats/prometheus?filter not working with prometheus due to url percent encoding."
When a prometheus job is configured to scrape envoy using `filter` query arg, it sends the requests with the params url percent encoded:

[code]

`upstream%7Cdownstream` doesn't get urldecoded properly and no metrics are returned.

`upstream|downstream` works fine, but prometheus can't be configured to not url percent encode the params from its scrape requests.

I'm willing to work on this if it's

[2020-04-24 08:09] lxnch opened #10927 "Envoy /stats/prometheus?filter works only with statsd metrics"
[code]

I was expecting `envoy_runtime_load_error` to be used when filtering metrics on the prometheus stats endpoint, but filtering on it returns nothing. Only statsd `runtime.load_error` works.

This forces a weird mapping on the monitoring side. We have to maintain a map of statsd:prometheus metric names or re-implement the reverse transformation on the monitoring side.

I'm willing to work on

[2020-04-24 11:48] mk46 commented on #10635
@ggreenway @bartebor I would like to take up this issue but need help from both of you.

[2020-04-24 12:35] jmarantz commented on #5505
WDYT of also trying to move away from buffering the entire admin output in memory, and instead streaming it out via transfer-encoding:chunked ?

[2020-04-24 13:39] james-mathiesen commented on #10855
We have existing Java applications that expect P-384 client certificates and we hit this trying to  make HTTPS calls through envoy (as configured by istio).  We have RSA leaf certs available and are testing with those but the root and intermediates will still be P-384.

[2020-04-24 15:35] Shikugawa opened #10932 "build: something wrong on azp"
It seems that we caught the same error like this on azp.

https://dev.azure.com/cncf/envoy/_build/results?buildId=38099&view=logs&j=8d802004-fbbb-5f17-b73e-f23de0c1dec8&t=477dbeb3-a0ba-5e4f-084c-db3104610ede&l=442

[2020-04-24 15:48] efimki commented on #10736
@htuch do you have a pointer where would this need to be added?

[2020-04-24 16:14] sunjayBhatia commented on #129
4/24/2020 Update:

Merged PRs:
- https://github.com/envoyproxy/envoy/pull/10293 - CI builds envoy-static.exe on Windows for each PR/commit
- https://github.com/envoyproxy/envoy/pull/10469
- https://github.com/envoyproxy/envoy/pull/10542 - All except 4 extensions are now compiled into Envoy on Windows, windows/.bazelrc merged into .bazelrc
- https://github.com/envoyproxy/envoy/pull/10560
- https://

[2020-04-24 18:13] kyessenov opened #10936 "proposal: interval reporting for network access loggers"
Network access loggers can be attached to listeners and tcp_proxies. They report once the connection is closed. This is a problem for long-running, stalled, and slow connections, since there is no telemetry until it's over, which complicates debugging of connection handling issues.

This proposal is to add an option, e.g. `interval_duration: 10s`, to invoke the access loggers `log()` function repe

[2020-04-24 18:14] kyessenov commented on #10936
cc @jplevyak for thoughts how that would interact with Wasm shim.

[2020-04-24 18:16] mattklein123 commented on #10936
+1 I like this idea. The other thing I would love you to implement as part of this change is an option to log both at the beginning and end of the connection. So a variant of what you are proposing. Can you take a look at that also?

[2020-04-24 18:19] kyessenov commented on #10936
Yeah, that shouldn't be too hard to report on connection open in the connection handler.

[2020-04-24 18:40] mabukhovsky commented on #10756
@lizan Thank you so much, finally my configuration works as intended! Truly appreciate your help :)

[2020-04-24 18:40] #10756 closed

[2020-04-24 19:40] rgs1 commented on #10901
For others following along:

[code]

That's from a clean start, not a hot-restart.

[2020-04-24 19:51] mattklein123 commented on #10932
Fixed by https://github.com/envoyproxy/envoy/pull/10938

[2020-04-24 19:51] #10932 closed

[2020-04-24 20:53] yanavlasov commented on #10901
I was able to recreate it. The conditions are:
1.  RTDS initialized via gRPC
1.  The cluster used for RTDS needs to have health checks enabled
1.  No healthy upstream hosts

This leads to some invariant of the new split initialization of the cluster manager violated. It is firing an ASSERT in cluster manager in debug builds. In release builds it continues and later crashes with the stack that @rgs

[2020-04-24 21:43] #10912 closed

[2020-04-24 22:36] ahachete opened #10942 "Postgres filter: implement Postgres SSL termination and monitoring"
## Previous work

This issue elaborates on the general design of a Postgres filter proposed in #9107.

## Background

Encrypting the communications with the database is a hard requirement in many environments. And while cryptography is currently very fast on modern hardware, it still imposes some penalty where it is executed. Particularly, establishing SSL connections is expensive.

RDBMs like Pos

[2020-04-24 22:38] htuch opened #10943 "v2 -> v3 API postmortem"
We will write a postmortem on the v2 to v3 migration process for Envoy, control planes and other clients such as gRPC. Please record any pertinent information in this ticket as you go with your migration efforts and we can summarize in a document later on.

[2020-04-24 22:57] lizan opened #10944 "build: upgrade base image to ubuntu 18.04"
We have discussed this a while ago and as a part of #5325. We are 1 year from end of standard support so I think we should start upgrade.

WDYT? @envoyproxy/maintainers

[2020-04-24 22:58] sunjayBhatia commented on #129
PR that tags failing tests so we can get more community visibility: https://github.com/envoyproxy/envoy/pull/10940

[2020-04-24 23:07] #10073 closed

[2020-04-24 23:14] mattklein123 commented on #10944
+1 sgtm, especially since 20.04 just dropped.

[2020-04-24 23:28] renana opened #10945 "Remove 'latest' tag from envoyproxy docker hub images"
Description:
Some envoyproxy images in docker hub contains the tag 'latest' which confuses users and per issue #10738 shouldn't be there.

For example, the one I was using to build our custom filter: https://hub.docker.com/r/envoyproxy/envoy-build-ubuntu/tags?page=1&name=latest

[2020-04-24 23:53] #10923 closed

[2020-04-24 23:59] lizan commented on #10945
Yeah that makes sense. will do.

[2020-04-25 00:00] lizan commented on #10945
Done

[2020-04-25 00:00] #10945 closed

[2020-04-25 12:38] eightnoteight commented on #7599
ended up using the statsd exporter to customise the buckets, but later that has very little to none benefit with customising the buckets. still figuring out on proper use-case for customising the buckets, what was your exact use-case to have that extra 15 & 20 ms buckets ?

[2020-04-25 13:46] #10444 closed

[2020-04-25 14:46] #9987 closed

[2020-04-25 15:46] #10394 closed

[2020-04-25 16:46] #10399 closed

[2020-04-25 17:01] snowp opened #10946 "Mock stat objects should reuse logic for combining stat name and tags into a full stat name"
The mock stat objects allow setting `name`, `tag_extracted_name` and `tags` independently, while real stats will have a `name` that is is a function of the given name and the provided tags. This discrepancy makes it hard to verify behavior that relies on this invariant.

[2020-04-25 18:46] #10401 closed

[2020-04-25 18:50] jmarantz commented on #10516
This issue is resolved with #10735

[2020-04-25 18:50] #10516 closed

[2020-04-25 20:58] ankatare opened #10950 "Jinja2 version should be 2.11.1"
It looks jinja2 version in requirements.txt  files at some places are old ( i.e. 2.10.3 ) .
Latest stable available is 2.11.1.

Please suggest if need to change it.

[2020-04-25 21:46] #10386 closed

[2020-04-25 22:46] #10393 closed

[2020-04-25 22:50] cmiller-sq opened #10951 "examples/ uses new-style filter names in images that don't support them"
[code]

[2020-04-25 23:05] cmiller-sq opened #10952 "examples/jaeger-tracing and examples/zipkin-tracing protobuf Bootstrap has unknown fields"
[code]

[2020-04-25 23:18] cmiller-sq commented on #10952
Same for "jaeger-native-tracing" example.

[code]

[2020-04-25 23:46] #10413 closed

[2020-04-26 00:03] cmiller-sq commented on #10951
Using `find examples -type f -name docker-compose.yaml -exec echo \; -exec echo \; -exec echo found {} and starting it \; -execdir docker-compose up --quiet-pull --build --abort-on-container-exit \;`
and `docker kill $(docker ps -q )`

# examples/front-envoy

[code]

# examples/redis

ok!

# examples/jaeger-tracing

[code]
See #10952

# examples/lua

[code]

# examples/load-reporting-service

ok!

[2020-04-26 00:46] #10415 closed

[2020-04-26 12:56] mygityf opened #10953 "Hot restart second process block forever error."
The second process will be block forever at recvmsg();
when primary process call sendmsg() failed with return code -1 in function sendHotRestartMessage() which send kStat to child process.

Here are the block function.
std::unique_ptr<HotRestartMessage> HotRestartingChild::getParentStats() {
...
  std::unique_ptr<HotRestartMessage> wrapped_reply = receiveHotRestartMessage(Blocking::Yes);
...
}

I

[2020-04-26 19:21] #10436 closed

[2020-04-26 22:21] #10462 closed

[2020-04-27 01:03] moderation commented on #10950
Jinja should be 2.11.2 - https://github.com/pallets/jinja/releases/tag/2.11.2

I tried updating this in this failed PR but the Kafka extension breaks and I couldn't work it out - https://github.com/envoyproxy/envoy/pull/10594. You can see my PR for the places where the Jinja code needs to be updated. Happy for someone else to have a try

[2020-04-27 01:07] ankatare commented on #10950
@moderation yeah, 2.11.2 released couple of week back. Moreover many other s/w also need to have a look in requirements.txt.

[2020-04-27 01:14] htuch commented on #10843
@ankatare yep, that's the goal.

[2020-04-27 02:18] htuch commented on #10736
Grep around for ` stats_.version_.set(HashUtil::xxHash64(`, those are the sites that we currently take a hash of the version and place it in a stat.

[2020-04-27 04:07] lolin9 commented on #10944
Why not to 20.04?

[2020-04-27 06:36] LeonSebastianCoimbra opened #10955 "Web socket disconnection after 100 seconds"
*Description:*

*Configuration*

	admin:
	  access_log_path: /tmp/admin_access.log
	  address:
		socket_address:
		  address: 0.0.0.0
		  port_value: 9901

	static_resources:
	  listeners:
		- address:
			socket_address:
			  address: 0.0.0.0
			  port_value: 443
		  filter_chains:
			- filters:
			  - name: main_routing
				typed_config:
				  "@type": type.googleapis.com/envoy.config.filter.netw

[2020-04-27 07:33] mk46 commented on #10951
Hi @cmiller-sq, It seems that docker images are outdated. Are you trying to run docker-compose with master branch?

[2020-04-27 10:16] lolin9 commented on #10925
My bad. I forgot to set the listener's `address.socket_address.protocol` to `UDP`.

[2020-04-27 10:16] #10925 closed

[2020-04-27 11:55] Charana123 commented on #10671
@mattklein123, A few concerns by priority
- Our usecase requires the HTTP request is replicated to multiple hosts. I see that the http filter supports fire-and-forget mirror clusters but not synch req/resp [broadcasting](https://github.com/envoyproxy/envoy/issues/10804). Is there a way for our HTTP filter to detect failed FAF requests to mirrors and buffer/re-send traffic to these as well ? If not

[2020-04-27 12:23] featureed opened #10956 "Headers values/variables in path"
Hi.

Is it possible to use request headers' values or envoy internal variables (like in access log) in redirect action?

For example, like this:
[code]

Found few issues here about the same problem, but all of them were unanswered.

In nginx this can be easily done using $host or $http_host variables. Is there some workaround for that in envoy?

[2020-04-27 12:39] alyssawilk commented on #1451
Hey @mabukhovsky
So I'm unfamiliar with the internals of what curl is doing here.  Just going based on the logs, if it's using a CONNECT, I'd imagine that if you properly configured Envoy after #10623 lands it might help your issue.  I'll land some sample configs in follow-up PRs but you can crib off the intergration tests right now for how to enable connect support (as it's off by default) as wel

[2020-04-27 13:22] htuch commented on #9742
I'm going to close this one out, since v2 is deprecated.

[2020-04-27 13:22] #9742 closed

[2020-04-27 13:29] mk46 commented on #10952
@cmiller-sq I have tested Jaeger-tracing and Zipkin-tracing. it's working for me. Here,  you need to remove all previous pulled images regarding envoy.

[2020-04-27 13:42] ankatare commented on #8097
@lizan  i would like to take this.
cc @htuch

[2020-04-27 14:56] niraj2587 commented on #10902
@mattklein123 would appreciate for any pointers here... I tried to mount other writtable directories on /dev/shm as well but that also didn't help...

[2020-04-27 15:49] niraj2587 commented on #10902
![image](https://user-images.githubusercontent.com/4684510/80392405-f2828000-8863-11ea-8803-8985d53b1ad6.png)

[2020-04-27 16:26] royantman commented on #10942
Would be nice if this can be used to make workloads behind envoy talk to an ssl forced postgres RDS so client code doesn't care about TLS. Currently it is impossible because of the "SSL request" and expected "S".

[2020-04-27 17:23] mattklein123 commented on #10671
@Charana123 sorry this is going to require some code splunking to understand Envoy and develop a solution I would start by studying the router filter, async client, etc.

[2020-04-27 17:30] mattklein123 commented on #10736
Note that we can't change the old stats since not all backends support text readout, but we can add a new stat for this.

[2020-04-27 17:54] mattklein123 commented on #10953
Honestly not exactly sure what is going on here. Can you try to provide a bit more debugging detail? cc @jmarantz

[2020-04-27 18:47] junr03 opened #10966 "event emission: implement generic event reporting gRPC client"
#10407 added proto definitions for a generic event reporting service. This issue tracks implementation details.

1. Using a bidi stream where Envoy updates the emission stream based on responses from the sink gRPC service allows for in-band flexibility. Both for:
  -  The types of events that Envoy emits, e.g, filter to only health check events.
  -  The _shape_ of the events emitted, e.g, configu

[2020-04-27 18:48] shashankram opened #10967 "Clarifications on upstream_rq_time and downstream_rq_time"
Hi, I am trying to understand better what `upstream_rq_time` and `downstream_rq_time` exactly measure. I referred to the documentation but it wasn't clear to me. For ex. consider  `request: service A -> Envoy A -> Envoy B -> Service B; response: Service B -> Envoy B -> Envoy A -> Service A`, what do `upstream_rq_time` and `downstream_rq_time` mean here? How is the total RTT calculated?

[2020-04-27 18:48] junr03 opened #10968 "observability: allow "event sink" services to update configuration in-band"
In #10889 @htuch suggested allowing in-band config updates for the metrics service stats sink. This is a pretty powerful idea. This issue details some of the complexities of implementing this, and the tradeoffs involved.

1. The current service definition is not bi-di streaming. It is only streaming on the request side. So we can't support in-band config updates for the life of the stream. Althoug

[2020-04-27 18:48] junr03 commented on #10966
cc @baranov1ch

[2020-04-27 18:59] #10105 closed

[2020-04-27 19:14] zuercher commented on #10955
That log implies the upstream closed it's connection first, but you'd have to show the start of the connection as well to be more certain.

[2020-04-27 19:15] zuercher commented on #10956
This is not currently possible.

[2020-04-27 19:18] jyotima commented on #10943
My perspective on migration to v3:
1. Since envoy will call different handlers for [v2](https://github.com/envoyproxy/envoy/blob/master/source/common/config/type_to_endpoint.cc#L41) vs [v3](https://github.com/envoyproxy/envoy/blob/master/source/common/config/type_to_endpoint.cc#L42), the control plane has to make sure it handles both handlers.
Since we use the canonical go-control-plane, the auto

[2020-04-27 19:20] jyotimahapatra commented on #10943
My perspective on migration to v3:

Since envoy will call different handlers for v2 vs v3, the control plane has to make sure it handles both handlers.
Since we use the canonical go-control-plane, the auto generated proto code enables services/methods for v2 & v3. However, the separate services have to be registered with the grpc server.
This is additional work for operators of control planes.
sin

[2020-04-27 19:27] zuercher commented on #10967
Envoy A's downstream_rq_time measures the time elapsed from when Envoy A starts handling Service A's request until the entire response has sent to Service A.

Envoy A's upstream_rq_time measures the time elapsed from the point where Service A's entire request has been received by the HTTP router filter until the entire upstream response from Envoy B has been received.

The same is true for Envoy B

[2020-04-27 19:33] zuercher commented on #10926
I'm not sure we have URL decoding anywhere, but it's definitely not happening in the handler from prom stats.

[2020-04-27 19:35] zuercher commented on #10927
@jmarantz seems like a bug, yes?

[2020-04-27 19:38] zuercher commented on #10913
Have you tried this with a more recent version of Envoy?

[2020-04-27 19:59] LeonSebastianCoimbra commented on #10955
Hi zuercher, thanks for the fast reply.

Here are the starting logs:

	envoy.main_proxy.debug_1  | [2020-04-27 19:55:13.154][6][debug][main] [source/server/server.cc:177] flushing stats
	envoy.main_proxy.debug_1  | [2020-04-27 19:55:13.186][6][debug][upstream] [source/common/upstream/upstream_impl.cc:275] transport socket match, socket default selected for host with address 172.26.0.17:80
	envoy.m

[2020-04-27 20:09] LeonSebastianCoimbra commented on #10955
Hi Zuercher, thanks for the fast reply.

SignalR (the client that create a websocket connection with a service behind envoy) works as follow:
- it does a first call to an handler called "negotiate" (it is a simple http request, so it does not last)
- it create a websocket with a second call after the negotiation ended (in this case the entry is "evt/events"

From the client to Envoy the traffic is

[2020-04-27 20:19] #10323 closed

[2020-04-27 20:46] FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg opened #10970 "Proposal/Idea: Decouple upstream and downstream metrics"
I have been thinking about a problem I’ve been trying to solve with respect to Redis upstream command stats, and I think there might be an opportunity for a more general solution to decouple stats for downstreams and upstreams.

The Redis-specific problem is that per-command stats were downstream specific and did not reflect traffic mirrored to multiple upstreams ie 1 downstream N upstreams. The m

[2020-04-27 20:58] lizan commented on #10944
20.04 is too new, we don't have enough prebuilt tooling for them (e.g. LLVM), and it also implies the binary we put into the image can't run in an older versions.

[2020-04-27 21:18] markdroth commented on #10943
One thought that has come up is that bumping the major version number for both the transport protocol and every individual resource type all in lock-step is probably a lot more heavy-weight than is really necessary.  Ideally, we should be able to track and change the versions of the transport protocol and every resource type independently, and decide when to bump the version number of each piece o

[2020-04-27 21:47] antoniovicente commented on #10877
Looks like an https://github.com/abseil/abseil-cpp issue.

[2020-04-27 21:57] antoniovicente commented on #10877
I'm told it is fixed upstream.  We need to update to latest abseil.

Relevant change:
https://github.com/abseil/abseil-cpp/commit/62f05b1f57ad660e9c09e02ce7d591dcc4d0ca08#diff-d39294eb126ec74b09a131e2ef19918d

[2020-04-27 23:28] mattklein123 commented on #10968
One thought exercise would be whether this actually matters. I'm guessing for most/all config changes probably not. Meaning, the configuration updates could likely be eventually consistent. If that is the case it makes the problem a lot simpler.

[2020-04-27 23:32] mattklein123 commented on #10970
@FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg from the description above it's not completely clear to me where you are trying to share data and what data you are trying to share. We already have quite a few mechanisms that can be used to share data within Envoy. Can you potentially more briefly describe what you want to share between filters, how long it should live, etc? cc @jmarantz also. Thank you.

[2020-04-27 23:47] zuercher commented on #10955
C12 is the inbound websocket request and eventually we see

[code]

which is the client closing the connection.

One thing that was fixed recently is #10811, which removes the `Connection-Length: 0` in the 101 response that Envoy is sending. I know from prior experience that some versions of the Microsoft runtime stack have trouble with that header. You might try with a version of Envoy after that

[2020-04-27 23:59] FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg commented on #10864
The command stats should be per command on the upstream. Just for suresies I wrote a little test script to do a few hmsets and added some printfs to the stats code timers, and it definitely is recording hmset time individually.

Some questions for you:

- In your envoy configuration, do you have `latency_in_micros` set to `True`?
- If you run an `hmset` against one of your Redii, what kind of late

[2020-04-28 00:30] shashankram commented on #10967
Thanks for clarifying!

[2020-04-28 01:07] moderation commented on #10944
Clang 10 prebuilt LLVM binaries for 18.04 are available. But no Clang 9.0.1 for either 18.04, 19.x or 20.04. https://releases.llvm.org/download.html. I asked on Twitter how these get updated but no response

[2020-04-28 01:08] snowp commented on #10823
Giving this some more thought (as it might be something that we have a use case for): one potentially very powerful way of doing this would be to facilitate the `forward_proxy` to create arbitrary clusters based on the requested DNS names. I can imagine configuration that looks something like this:

[code]

which when specified would make the the `forward_proxy` mechanism change from resolving a s

[2020-04-28 02:22] stevesloka commented on #1861
Here's how I did my build which works! I may have missed some steps however in the process, so I can update accordingly. Thanks for the tips @moderation! =)

https://stevesloka.com/compile-envoy-on-raspberry-pi4/

[2020-04-28 02:46] fttyX commented on #10956
Can this be done with Lua? Like capturing all requests with domain names above and change their domain name and path? Or path modification is not possible at that stage?

[2020-04-28 04:02] mattklein123 commented on #10823
This would work, yes, and I think could be pretty clean. There is no upstream ready made filter for doing this, but the plumbing has been built with regard to thread local cluster add/remove callbacks, etc. It would need to work in a very similar way where it goes to the main thread, pauses, then comes back, etc.

[2020-04-28 04:04] mattklein123 commented on #10956
Yes it should be possible to do this using Lua.

[2020-04-28 04:17] snowp opened #10972 "Clarify StreamInfo::route API"
Currently `StreamInfo::route` overloads two concepts: looking up the route and re-resolving the route. We should consider splitting this into

[code]

to distinguish between a lookup and an intentional re-resolution of the route. `route()` would still have to resolve the route in case it hasn't been resolved, but at the very least this simplifies

[code]

into
[code]

and the semantics of the two

[2020-04-28 05:15] ramaraochavali commented on #10823
FWIW, we have attempted this some time back on creating dynamic clusters on the request path. https://github.com/envoyproxy/envoy/pull/3479 - @mattklein123 had some very good design inputs there

[2020-04-28 06:08] LeonSebastianCoimbra commented on #10955
Hi Zuercher, thanks again for your help.

I used the latest dev build of envoy from dockerhub (generate a couple of hours ago) and it seems to work!!

Your intuition seems to be correct.

This, however, makes me think that there are not many microsoft clients that use websocket and envoy, otherwise it would have been corrected a long time ago.

You solved the problem just looking at the logs i pos

[2020-04-28 06:08] #10955 closed

[2020-04-28 07:01] jpeach commented on #6767
I can think of 3 alternatives:

1. What if you could specify the HTTP response code for an RBAC filter DENY? Then the management server that configured the HCM can add an RBAC policy for the server names that it allows on that HCM and generate 421 on DENY.

2. The management server could program the SNI server name check in the Lua filter, generating a 421 when it didn't match.

3. Add a dedicated

[2020-04-28 09:20] ankatare opened #10973 "Question: Replacement for "hosts" in V2."
The  hosts field seems deprecated in V2 API. i refereed below docs
for V2:
https://www.envoyproxy.io/docs/envoy/v1.14.1/api-v2/api/v2/cluster.proto#envoy-api-msg-cluster
for V3:
https://www.envoyproxy.io/docs/envoy/v1.14.1/api-v3/config/cluster/v3/cluster.proto#envoy-v3-api-msg-config-cluster-v3-cluster
so in any json/yaml for V2 or in older version what would be the new replacement for hosts in V

[2020-04-28 10:20] ankatare commented on #10950
@zuercher Hi, i would like to take this.

[2020-04-28 10:34] ahachete commented on #10942
Hi @royantman So if I understand it correctly, the use case you are suggesting is a client -> Envoy unencrypted connection and then a Envoy -> upstream Postgres encrypted connection? This scenario would certainly not supported by this proposed design. But I'd like to understand better the use case, as:
*  Normally the Envoy->Postgres connection is equally or more trusted than the client -> Envoy,

[2020-04-28 14:22] sunjayBhatia commented on #10877
thanks @antoniovicente good call and good find 👍 we can test out bumping abseil and ensure it fixes the issue

[2020-04-28 14:26] alyssawilk commented on #1451
At this point, CONNECT support (both proxying the CONNECT request, or terminating CONNECT (stripping the CONNECT headers and sending raw TCP upstream) are implemented and are ready for testing.  I would suggest not using it production until #10974 lands.

Docs exist (but are hidden) and sample config coming soon (currently you can crib from the integration tests).

In the next few weeks we should

[2020-04-28 14:57] cstrahan commented on #8297
I forget the specifics of systemd's/journald's architecture, but I suspect that your process's `/dev/stdout` is a link to some socket under `/proc/self/fd`, and Linux doesn't support [`open(2)`](http://man7.org/linux/man-pages/man2/open.2.html)ing that link.

If you were to do this in your systemd unit:

[code]

I would bet you would see something like:

[code]

To work around this limitation, you

[2020-04-28 15:23] htuch commented on #10968
Yeah, either eventually consistent or in the common case, they only actually happen on the first message from the server.

[2020-04-28 15:44] #10575 closed

[2020-04-28 16:00] cmiller-sq commented on #10952
Well, I can' reproduce it now. Sorry for noise.

[2020-04-28 16:01] #10952 closed

[2020-04-28 16:01] snowp opened #10976 "Uncaught exception when using filebased xDS and file doesn't exist"
When the SDS config points to a file that doesn't exist, an uncaught exception is thrown resulting in `std::terminate`:

[code]

Seen on https://github.com/envoyproxy/envoy/commit/8951b3f7b26cbdf21c734d4372555188a42aad65

[2020-04-28 16:54] zuercher commented on #10955
Unfortunately, there aren't really any docs discussion debugging using Envoy logs. In general you can use the `[Cn]` markings to track events related to a downstream connection and then find the related `[Cm]` for the upstream connection. Remote close means the non-Envoy side closed the connection. Local close means it was Envoy. Neither of those is necessarily a problem, but if you aren't expecti

[2020-04-28 17:30] zuercher commented on #10973
`hosts` was deprecated in favor of `load_assignment` (https://www.envoyproxy.io/docs/envoy/v1.14.1/api-v2/api/v2/cluster.proto#envoy-api-field-cluster-load-assignment).

[2020-04-28 17:41] cstrahan commented on #9987
Could this be reopened, perhaps with some sort of no-stale flag?

[2020-04-28 18:00] ankatare commented on #10973
@zuercher thanks

[2020-04-28 18:07] snowp opened #10979 "Improve SDS file watching docs"
The comments in sds_api.cc imply that we're watching the directory to allow for atomic updates of the cert/key (https://github.com/envoyproxy/envoy/blob/master/source/common/secret/sds_api.cc#L66-L67), but from testing this by referencing certs in `/secrets/current/cert.crt` and repointing the `current` symlink to another directory, no file watches are triggered.

I'm not sure if this is a bug, in

[2020-04-28 18:08] ankatare opened #10980 "Question: What is static_clusters in API."
Hi All,

I wanted to know about static_clusters field in yaml/json fragment. i could not found any details in docs etc.
see below code as a reference.

https://github.com/envoyproxy/envoy/blob/master/test/common/upstream/cluster_manager_impl_test.cc#L935

Thanks

[2020-04-28 18:19] lpan commented on #10972
@mattklein123 @snowp Can I take on this task? Seems like a good first issue :slightly_smiling_face: Thanks!

[2020-04-28 18:48] jyotima commented on #10980
Here's some information about static clusters: https://github.com/envoyproxy/envoy/blob/master/api/envoy/admin/v3/config_dump.proto#L191

Any clusters defined in bootstrap config is part of `static_clusters` .
Any clusters configured via control plane will be a dynamic cluster https://github.com/envoyproxy/envoy/blob/master/api/envoy/admin/v3/config_dump.proto#L168

[2020-04-28 19:01] tsaarni commented on #10979
The current behaviour is intentional.  The basis is how Kubernetes secret volume mounts and atomic secret updates happen:

Assume we have a secret with two files `file1` and `file2` and that the secret volume is mounted at `/secret-mountpoint/`.

The initial state of the directory, files and symlinks are set up by Kubernetes like this:

[code]

The directory `..timestamp-1` contains the initial ve

[2020-04-28 19:17] snowp commented on #10979
So are we actually watching for any move *within* the directory, not moves to the directory or the secret itself? We're watching the parent directory for changes to files within the directory and then re-reading the secrets when that happens?

It feels a bit non-intuitive (and under-documented). I wonder if it would make sense to add a config option to the SDS resource that indicates what kind of

[2020-04-28 19:18] mattklein123 commented on #10979
At minimum let's please start by getting the behavior well documented. After that we can pursue additional config/changes if needed?

[2020-04-28 19:23] snowp commented on #10979
Yeah that sounds like a good first step, I imagine most people would be able to work with the current behavior with proper documentation.

[2020-04-28 19:28] tsaarni commented on #10979
We are watching all moves in/to/from that directory.

In your example, the watched directory would be `/secrets/current/`, but since `current` was a symlink instead of a directory, inotify will follow that and watch the target directory instead.  I believe there was no moves in that old directory anymore?

Currently the documentation says *Envoy will only watch the file path for moves*.
Isn't this

[2020-04-28 19:31] snowp commented on #10979
I don't think the current documentation is wrong per se, but rather incomplete and makes it hard for an operator to understand what is required for performing atomic updates to certs. It would be great if we had an example (outside of unit tests) that explained the setup necessary.

Not all use cases use Kuberentes, so ideally we document the way it works with some detail so that operators using o

[2020-04-28 19:33] mattklein123 commented on #10979
See here for the docs we have on the runtime config swap: https://www.envoyproxy.io/docs/envoy/latest/configuration/operations/runtime#updating-runtime-values-via-symbolic-link-swap. It would be great to have good docs/examples of this in either the operations guide or the config docs somewhere.

[2020-04-28 20:11] banks commented on #1310
I see that health moved out of `api/v2` into it's own `service/health/v3` for v3. Is that actually usable now? I tried to run a v3 service and bootstrap Envoy with:

[code]

but I see in logs it's failing with `unknown service envoy.service.discovery.v2.HealthDiscoveryService` still.

I don't think I see differences from v2 yet just wondering what the "right" way to work with HDS is now v2 is supp

[2020-04-28 20:13] lizan commented on #10944
We haven't upgraded to 9.0.1, 9.0.0 has pre-built binaries for 18.04 and 16.04. My guess is the prebuilt binaries are only released to platforms have critical bug in the previous minor version. (e.g. on arm64 clang 9.0.0 can't build Envoy).

[2020-04-28 20:41] banks commented on #10776
I've been trying to grok v2 -> v3 and what I should do as a control plane author to migrate. I'm still confused as it seems v3 is preferred but even if I configure Envoy 1.14 with `transport_api_version: V3`, that only seems to switch the Request/Response to use the v3 types while the actual resource TypeURLs requested (when using ADS) are still v2 URLs. If I attempt to deliver V3 types then I see

[2020-04-28 21:11] tsaarni commented on #10979
Example method for certificate rotation specifically is of course good to have in the docs. I wonder should we also replace the runtime config swap method link in `ConfigSource` [documentation](https://www.envoyproxy.io/docs/envoy/v1.14.1/api-v3/config/core/v3/config_source.proto.html#config-core-v3-configsource) and point to a new  method instead?  Symlink swap method was there in the doc even be

[2020-04-28 21:16] mattklein123 commented on #10979
The swap method documented definitely works for file based runtime, but I'm not sure if it works for config sources or not. It would be good to clean this up and perhaps have a docs section in operations (https://www.envoyproxy.io/docs/envoy/latest/operations/operations) around file swapping and the various use cases, and then link there as needed?

[2020-04-28 21:23] sp-manuel-jurado opened #10986 "Question: envoy timeout exception configuration allowed?"
Hello, is it possible to overwrite the headers of the envoy [route timeout](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route_components.proto#envoy-api-field-route-routeaction-timeout) exception so that the grpc_http1_reverse_bridge can understand them?

When a route timeout happens, we receive this exception:
[code]

When they are exceptions handled by our upstream (http1.1 a

[2020-04-28 22:52] #10973 closed

[2020-04-28 23:13] mattklein123 opened #10988 "http codecs: considering forking"
This is a tracking issue to discuss whether we want to fork llhttp (once https://github.com/envoyproxy/envoy/issues/5155 is complete) and nghttp2 into the Envoy project. The goal of the fork would be to:
1. Very tightly audit and control what codec commits we bring in. Given the codecs themselves see very little change, it would probably not be a big deal to have Envoy maintainers and the security

[2020-04-28 23:15] mattklein123 commented on #10988
cc @danzh2010 we also need to have a good procedure for Quiche/HTTP3 to make sure all relevant feature flags are exposed and documented as Envoy feature flags once HTTP3 is considered production ready.

[2020-04-29 00:00] htuch commented on #1310
@banks yeah, I think you're seeing the effect of https://github.com/envoyproxy/envoy/issues/10609

[2020-04-29 00:38] htuch commented on #10776
@banks have you set the `resource_api_version` as well?

[2020-04-29 02:05] yiyouguisu commented on #10913
@zuercher I tried version 1.13 and the same result

[2020-04-29 02:40] ankatare commented on #10980
@jyotima thanks . how is that different from cluster defined under bootstrap config under "static_resources" https://www.envoyproxy.io/docs/envoy/v1.14.1/api-v3/config/cluster/v3/cluster.proto#envoy-v3-api-msg-config-cluster-v3-cluster

both are same ? moreover could you please help me by giving similar structure definition for static_clusters.

[2020-04-29 05:27] ankatare commented on #10950
@moderation have you try with 2.11.1 version of jinja2  ?
my suggestion is to try with 2.11.1 as 2.11.2 is just release so we can wait.

[2020-04-29 05:55] LeonSebastianCoimbra commented on #10955
Thanks again, i owe you.

[2020-04-29 06:11] freak82 opened #10990 "Can I run envoyproxy as transparent forward proxy?"
Hi there,

We have transparent HTTP forward proxy which runs on standard Linux. However, we are trying to find more performant alternatives.

We would like to test/benchmark the envoyproxy when running as transparent forward proxy. We would like to test the simplest possible configuration to see the raw performance without any additional features turned ON.

So, here are my questions:
1. Is it pos

[2020-04-29 06:14] ankatare commented on #10980
@jyotima i got details now.
https://www.envoyproxy.io/docs/envoy/v1.14.1/api-v3/admin/v3/config_dump.proto#envoy-v3-api-msg-admin-v3-clustersconfigdump-staticcluster

Thanks for guidance.

[2020-04-29 06:14] #10980 closed

[2020-04-29 06:14] ankatare commented on #10980
Closing it as got details

[2020-04-29 10:48] twghu commented on #6589
Implementation:

Requirements:
1. All existing behavior will be preserved.
2. Normalization should occur by default ( following previous comment htuch 22/1 ).
3. Code changes will be restricted to the upstream connection only with no changes to routing code to eliminate introduction of new security/function bugs.

Changes:
1.  Add a configuration option to HttpConnectionManager _normalize_path_for

[2020-04-29 12:07] zengyuxing007 opened #10991 "cluster filter optimization"
At present, envoy supports custom filters under cluster semantics,

[code]

 but the upstream messages obtained by each cluster filter are raw original messages;

Like "http + json <=> envoy <=> grpc server" or
"Http <=> envoy <=> amqp server"
 These series of requirements depends on the parsed message from the downstream http_connection_manager, and it is necessary to construct an upstream reques

[2020-04-29 12:44] alyssawilk commented on #10988
Thankfully QUICHE should have functional changes flag guarded per internal policy.  I think for QUICHE it boils down to integrating the quic flags into Envoy runtime (which we've got on our list) as well as making sure any which guard "behavioral changes" (whatever we come up with in https://github.com/envoyproxy/envoy/pull/10983) stick around for 3-6 months where now I think they may only last fo

[2020-04-29 12:52] alyssawilk commented on #10988
http parser should be pretty easy - if nothing else they've been averaging 1-2 commits a year so the overhead will be minimal.  I think http/2 may end up more onerous as it's a faster moving code base and not much easier to read. I wonder if we want to start out with something a bit lighter, and have build options where one can easily pull the old or the new dependency so folks could try things ou

[2020-04-29 12:57] banks commented on #10776
🤦 thanks @htuch, I was indeed holding it wrong. I looked around for some other config for resources and/or examples but somehow missed that.

Just in case anyone else hits this you need to set this under the [ConfigSource](https://www.envoyproxy.io/docs/envoy/v1.14.0/api-v3/config/core/v3/config_source.proto#config-core-v3-configsource) (i.e. `lds_config|cds_config` in bootstrap) while the transpo

[2020-04-29 13:35] banks commented on #1310
I'm also struggling to get HDS to work at all in 1.14.1. I can file a bug separately if that helps but not sure if it's expected to be working per this open issue state.

Whenever I send HealthChecks for a cluster (I've tried both with static clusters and clusters delivered via xDS) Envoy crashes:

[code]

One interesting thing is that the initial message is repeated - I've checked and as far as I

[2020-04-29 13:48] seflerZ commented on #10776
@htuch I'm a bit confused. According to this doc. The v3 objects may be transferred over the v2 transport protocol. So why do we need to support mixed response? I think we just need to do cast directly.

[2020-04-29 15:28] banks commented on #1310
I realised that I was missing actually specifying the actual Endpoints as I wrongly assumed from docs it was going to get that from the cluster spec.

Even with that I still see the same crash. Also interesting is that the protobuf dump of the thing I sent uses different field names than the actual v2 HDS proto definition:

[code]

`load_assignment` where the actual [hds.proto calls that `locality

[2020-04-29 15:36] mhite opened #10996 "Ordered list of inline Lua code blocks"
Is it possible to attach an order list of inline Lua code blocks into a listener HTTP filter configuration?

For example, I have one block of code that checks for a header of `X-Forwarded-Proto: http` and issues a redirect to https if discovered. I would want this particular Lua code block to run first and attach as its own Envoy configuration entity. For example:

[code]

Similarly, there are occ

[2020-04-29 16:31] zuercher commented on #10913
Can you share your listener config? Scoped route configurations are not obtained via RDS. They used SRDS, which is configured in the Listener's scoped_routes field.

[2020-04-29 16:52] mhite commented on #10996
This appears to (I think?) touch on the multiple filter idea of the same type:
 https://github.com/envoyproxy/envoy/issues/9358

[2020-04-29 17:47] mattklein123 commented on #10988
One thing to keep in mind about nghttp2 is we only care about `lib/` which doesn't see very many commits: https://github.com/nghttp2/nghttp2/commits/master/lib

[2020-04-29 17:48] mattklein123 commented on #10988
Yes we can try this. We probably would need to do this anyway for the http_parser -> llhttp transition.

[2020-04-29 18:22] jmarantz commented on #10308
Assigning to @nezdolik for now, possibly to be re-assigned later.

[2020-04-29 19:01] zuercher commented on #10996
I don't have time to check at the moment, but the way it might be possible (from the Envoy perspective) is configure multiple LUA filters with distinct names using `typed_config` (with an `@type` field) to identify themselves as LUA filters. Assuming that works at the Envoy level, there's a separate question of whether a config with that shape can be rendered by Istio.

[2020-04-29 19:05] zuercher commented on #10991
I believe this is a duplicate of #10455.

[2020-04-29 19:05] #10991 closed

[2020-04-29 20:14] mk46 commented on #10951
@cmiller-sq, In my opinion, it's not a bug because of older docker image present in localhost stop pulling the updated image from docker hub. you need to remove it and then proceed further.

[2020-04-29 20:24] snowp commented on #10996
It's perfectly possible to list the same filter multiple times, Envoy doesn't really care - I've personally ran Envoy with 4-5 lua filters back to back.

The requirement around distinct names just comes into play if you want to do things like provide different per_filter_config to different filters where you might want to provide different per filter configuration to the different filters.

[2020-04-29 21:17] twisted-sres commented on #10308
Hi, I would love to work on this. @nezdolik can you please tell me how to get started. Thanks :-)

[2020-04-29 21:33] #10270 closed

[2020-04-29 21:35] efimki opened #11000 "Reflect DiscoveryResponse.control_plane as a TextReadout stats"
Similarly to #10736 we should add a TextReadout stat that will reflect "The control plane instance that sent the response".

[2020-04-29 22:24] mhite commented on #10996
@snowp - Gotcha! I had originally tried using a `typed_config` but the version of Istio we are currently running (1.4.6) was rejecting it:

[code]
I suspect a `typed_config` for Lua becomes available in 1.5, because I see it directly referenced in the 1.5 documentation:

https://istio.io/docs/reference/config/networking/envoy-filter/

(Just search for `"type.googleapis.com/envoy.config.filter.http

[2020-04-30 00:03] euroelessar opened #11004 "Least requests LB is not fair at edge cases"
Least requests LB does independent random pick at every iteration without preserving any knowledge about previous attempts. This leads to unexpected behavior in a few edge cases.

1. In case of low number of backends envoy has increasingly higher chance of picking the same host twice instead of two different ones, which leads to higher chance (as high as 50% in case of 2 backends) to send next req

[2020-04-30 00:18] mattklein123 commented on #11004
cc @tonya11en @gkleiman who have been looking at related things.

[2020-04-30 00:26] antoniovicente commented on #10988
I assume we can runtime guard creation of H1 codec based on http_parser or llhttp.  I assume we should expect some behavior changes as the parser is replaced.

[2020-04-30 00:28] euroelessar commented on #11004
One of the approaches I have in mind right now is something like this:
1. Maintain list of all hosts per source
2. At each `unweightedHostPick` call:
2.1. Let `size` be number of hosts.
2.2. Per each iteration:
2.2.1. Pick random host in `[0, size)` interval
2.2.2. Swap picked host with one at `size-1`
2.2.3. Decrement size by 1

This _should_ give us new host at each iteration while maintaining o

[2020-04-30 00:55] snowp commented on #11004
cc @jmarantz as well who was looking into the LR load balancer recently

[2020-04-30 01:01] jmarantz commented on #11004
I noticed the same thing when looking at the implementation. I like your approach; I think that'd help a lot.

[2020-04-30 02:04] yiyouguisu commented on #10913
@zuercher `{
	"name": "listener-9999",
	"address": {
		"socket_address": {
			"address": "0.0.0.0",
			"port_value": 9999
		}
	},
	"filter_chains": [{
		"filters": [{
			"name": "envoy.http_connection_manager",
			"config": {
				"codec_type": "auto",
				"http_filters": [{
					"name": "envoy.router",
					"config": {}
				}],
				"stat_prefix": "ingress_http",

				"scoped_routes": {
					"name"

[2020-04-30 06:01] aviramha commented on #10864
Thanks for your reply @FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg .

- No.
- 0.5-3ms
- Pretty big
- Redis Labs (managed)

If the timings are correct, my next lead would be that our pipelines are big hence slowing operation of each connection.. is my reading of the stats correct tho? P0(710,470) means 710ms and 470ms?

[2020-04-30 06:43] #10402 closed

[2020-04-30 07:43] #10487 closed

[2020-04-30 08:46] rebrendov commented on #10525
Hi,
I'm having a similar issue. Except i try to configure RBAC filter `envoy.filters.network.rbac` for a cluster and get `Didn't find a registered implementation for name: 'envoy.filters.network.rbac'`.

@zuercher please, correct me if i'm wrong - does this mean that there needs to be a separate upstream filter with similar functionality to `network.rbac` but exclusively for upstream?

[2020-04-30 11:49] saagar241290 commented on #8644
@mosespx i am facing the same issue. Did you got any solution or workaround?

[2020-04-30 11:59] saagar241290 opened #11011 "Redis through Envoy giving latency"
We are moving from single redis to cluster redis. For data migration, we are trying to introduce Envoy so that application connects to Envoy, which will replicate the data across single and cluster nodes.

While testing it, latency is observed while passing traffic through envoy. But when passed it to direct single redis, no latency found.

Config :
[code]
### Benchmarking result :

**redis-benchm

[2020-04-30 12:01] nezdolik commented on #10308
@sresthas this issue has been submitted as proposal for cncf mentorship project: https://github.com/cncf/mentoring/blob/master/communitybridge/2020/q2/project_ideas.md#enrich-envoy-stats-with-header-size-histogram.
How about this issue, is very similar: https://github.com/envoyproxy/envoy/issues/3621

[2020-04-30 12:20] htuch commented on #6589
This seems like a good design to me. @PiotrSikora @mattklein123 thoughts?

You'll need to be careful about dumping `OriginalPathForUpstream` on the wire by accident, or reaching upstream code with it not set (e.g. from an sync client).

[2020-04-30 12:23] htuch commented on #10776
@banks I will turn this into a FAQ entry, as I agree it's a bit confusing.

@seflerZ this issue isn't about having v3 resource over v2 transport, but instead allowing a server to return a v2 resource when a v3 resource is requested (which could be over either a v2 or v3 transport).

[2020-04-30 12:27] htuch commented on #1310
@banks can you share the stack trace? FWIW, we do have an HDS integration test that demonstrates some subset of this working, see https://github.com/envoyproxy/envoy/blob/master/test/integration/hds_integration_test.cc.

[2020-04-30 12:51] banks commented on #1310
@htuch Thanks for your help!

I've not managed to get any more stack trace info than is in the first comment above. Note it's collapsed by default and needs to be expanded. If that's what you mean then great but otherwise I've not managed to get further decoding it.

If it would help I can try and re-run same config on a linux VM and see if I can get a more useful trace? I didn't want to spend too

[2020-04-30 12:53] andrewtikhonov opened #11012 "Question: Envoy configured to use V3 connects to /v2/discovery:clusters"
Envoy 1.14.1 is configured to use transport_api_version: V3 for REST xDS. However it still sends requests to "/v2/discovery:routes" and "/v2/discovery:clusters". Am I missing something obvious here ?

Config:
[code]

Log:

Routes:
[code]
Clusters:
[code]

[2020-04-30 12:57] banks commented on #1310
@htuch that integration test was perfect - I got it to work withotu a crash just by adding `unhealthy_threshold: 2, healthy_threshold: 2` to the Health Check definition.

Those are documented as required to be fair which I'd missed. I'm not sure if an uncaught exception is still considered a bug for bad config though? Hopefully it will be easy to recreate now anyway - I can file a separate issue i

[2020-04-30 13:26] htuch commented on #1310
Yeah, this is probably a bug in HDS handling of PGV validation. I think filing a separate issue makes sense (please tag me), the fix is likely only a few lines of code (plus tests..).

[2020-04-30 13:58] banks commented on #1310
@htuch I went to file a new issue on Gh but the notice about not reporting any crash publicly put me off a bit... It's already public here but should I still report this via the security list instead?

[2020-04-30 13:59] htuch commented on #1310
@banks it's fine, since this is a control plane induced crash, which is outside the threat model as far as embargoes goes today. Thanks for checking though.

[2020-04-30 14:21] banks opened #11014 "HDS: Incorrect HealthCheck from xDS config causes std:terminate"
**Note:** I saw the notice about crash bugs being disclosed via security list first however this issue was already discussed publicly in #1310 and @htuch requested this to filed as a separate issue and confirmed that since it's a control-plane induced crash it's outside the threat model.

---

*Description*:

When a control plan being used for HDS sends a `HealthCheck` with missing required fields

[2020-04-30 15:12] Dhiraj240 commented on #10308
@nezdolik I would like to work on it during the mentorship. Can you assign me a similar issue?

Also, may I know the common chat channel to discuss more?

[2020-04-30 15:47] mosespx commented on #8644
@saagar241290 no, I didn't use this solution because of this issue.
please share here if you find something interesting

[2020-04-30 15:55] mattklein123 commented on #10988
s/can/must. :)

[2020-04-30 16:16] zuercher commented on #10525
It looks UpstreamNetworkFilters implement the same interface as a regular network filter, but have a separate registration. Someone would have to evaluate whether the RBAC filter operates correctly in the upstream context and, if so, add a registration for it.

@kyessenov could you confirm that?

[2020-04-30 16:30] mattklein123 commented on #11012
cc @htuch @Shikugawa

[2020-04-30 16:51] antoniovicente commented on #10988
Of course.  I just hadn't considered supporting both parsers for some time, seems necessary when making such a big change.

[2020-04-30 16:57] FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg commented on #10864
The unit is microseconds. See https://github.com/jmarantz/envoy/blob/1221cce68ae973fcdea38f27e6f017e492214e28/source/extensions/filters/network/common/redis/redis_command_stats.cc#L36.

Re the output of the admin interface, per Envoy documentation*:

*https://www.envoyproxy.io/docs/envoy/latest/operations/admin

[2020-04-30 16:57] snowp opened #11015 "Clarify what network filters can be used as upstream filters"
The docs for upstream filters imply that all network filters work: https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/filter.proto#envoy-v3-api-msg-config-cluster-v3-filter

In reality, the network filter needs to be registered specifically as an upstream network filter: a `NamedUpstreamNetworkFilterConfigFactory` needs to be registered vs a `NamedNetworkFilterConfigFactory`.

Th

[2020-04-30 17:13] #10736 closed

[2020-04-30 17:19] antoniovicente commented on #9087
Some of the parts of the secure profile clearly need to be done at compile time, but it may make sense to have some of them be controlled by startup config.  One example includes the allowed security_policy level for extensions and internal components instantiated by the rest of the config, with escape hatches that allow whitelisting specific extensions that are needed by the proxy anyway despite

[2020-04-30 18:51] mabukhovsky opened #11018 "HTTP dynamic forward proxy is alpha and not production ready."
Hi guys,

https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/http_proxy
[code]

Do you have any timeline in mind for making dynamic forward proxy **production ready**?

[2020-04-30 19:42] cmiller-sq commented on #10951
I didn't do anything special to get old images. I'm willing to think I'm doing something wrong, though. Closing for now.

[2020-04-30 19:42] #10951 closed

[2020-04-30 20:26] shashankram opened #11020 "ads: envoy is sending DiscoveryRequest without TypeUrl set"
Hi, I am using envoy with ADS. Occasionally I see `DiscoveryRequest.TypeUrl` (https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/discovery.proto) being empty. I also see requests coming in with the `TypeUrl` correctly set to one of `Listener, Cluster, RouteConfiguration, Secret`.

The `DiscoveryRequest` is pertaining to `response_nonce` in such cases.
Is it expected for the `TypeUrl` in the

[2020-04-30 20:47] ggreenway opened #11021 "RetryPriority plugin not supported for Aggregate cluster type"
The Aggregate cluster type does not support `retry_priority` configuration.

From `source/extensions/clusters/aggregate/lb_context.h`:

[code]

[2020-04-30 20:48] ggreenway commented on #11021
Discussion: https://envoyproxy.slack.com/archives/C78HA81DH/p1588267171282000

[2020-04-30 21:20] mattklein123 commented on #6589
Sorry I'm having a hard time wrapping my head around ^ without seeing it in context with the existing config. Can you potentially do a config/docs only PR and we can discuss the proposal there?

[2020-04-30 21:27] shashankram commented on #11020
Looks like the `DiscoveryRequest` when the `TypeUrl` is empty is pertaining to `response_nonce`:
[code]

[2020-04-30 22:04] tharun208 commented on #11000
I like to work on this

[2020-05-01 00:38] htuch opened #11024 "Resource management for Google gRPC library"
We need to make some improvements to the treatment of resource management in the use of Google gRPC. Specifically:

* On the send-side, in google_async_client_impl.h, we need the equivalent of #10882, but working with the queued write buffers (which are in a dequeue, not a watermarked buffer).

* On the receive side, we need to configure buffer limits, see https://github.com/grpc/grpc/blob/a9a0739

[2020-05-01 00:39] htuch commented on #11024
CC @alyssawilk @mattklein123 @antoniovicente @markdroth

#10764 will resolve the send-side, but not receive-side.

[2020-05-01 01:06] htuch commented on #11012
I think this is definitely not the correct behavior Envoy side, but curious what happens if you set `resource_api_version` to v3 as well?

[2020-05-01 01:09] htuch commented on #9087
Adding another @antoniovicente suggestion for posterity: we can annotate proto fields that are potentially dangerous and need to be configured for safe operation at edge or in untrusted environments. This will allow easier machine checking of configuration for safety, and in the secure profile mode we can verify these are set appropriately.

[2020-05-01 01:27] Barborica-Alexandru commented on #10817
I'm running bazelisk and when compiling envoy it downloads bazel-3.0.0. But it's not bazel, i tried multiple versions going back to 2.2.0, none of them work in LXC anymore.
Full log (not much to see it instantly crashes):
[code]

[2020-05-01 01:50] #10817 closed

[2020-05-01 06:25] billyzs opened #11025 "Support Redis 5 stream commands"
Redis 5 added a new stream data type[1] and commands[2] to operate on one or multiple of them. Currently they are missing from envoy. I'm wondering if it's possible to support at least
1.  [xrange](https://redis.io/commands/xrange)
2. [xrevrange](https://redis.io/commands/xrevrange)
3. [xlen](https://redis.io/commands/xlen)

and maybe [xread](https://redis.io/commands/xread). xread is slightly dif

[2020-05-01 08:23] ankatare opened #11027 "Documentation Improvement. ( clarity, typos and redirections glitch )"
Hi,

I refereed below link for v2 and compared the same with V3 and found there is a change in name of field  "drain_connections_on_host_removal" to "ignore_health_on_host_removal"
api/v2:
https://www.envoyproxy.io/docs/envoy/v1.14.1/api-v2/api/v2/cluster.proto#drain_connection_onhost_removal
api/v3/
https://www.envoyproxy.io/docs/envoy/v1.14.1/api-v3/config/cluster/v3/cluster.proto#envoy-v3-api-m

[2020-05-01 10:02] andrewtikhonov commented on #11012
Thanks. `resource_api_version` enabled it.

[code]

[2020-05-01 10:20] #11012 closed

[2020-05-01 13:55] chradcliffe opened #11030 "Support preserving the `date` header in HTTP responses"
Envoy unconditionally sets the Date header in an HTTP response regardless of whether the upstream host included a Date header in its response. The [relevant RFC](https://tools.ietf.org/html/rfc2616#section-14.18) recommends that:

The current behaviour seems perfectly compliant to me, but for one of my use cases I'd like to be able to preserve the upstream response date header. I was thinking this

[2020-05-01 16:25] rgs1 commented on #8167
We actually have an internal filter that does something like that... More info here:

https://medium.com/pinterest-engineering/simplifying-web-deploys-19244fe13737

If there's interest, we could chat a bit more and I might be able to get some cycles to upstream our filter.

[2020-05-01 16:33] niraj2587 commented on #10902
turns out i was able to resolve the issue by using restart-epoch parameter in the startup script..

/usr/local/bin/envoy -c /etc/envoy.yaml --restart-epoch $RESTART_EPOCH

[2020-05-01 16:34] #10902 closed

[2020-05-01 17:09] mattklein123 commented on #11025
cc @envoyproxy/redis-dev

[2020-05-01 17:12] vadimeisenbergibm commented on #8167
@rgs1 Thanks, I switched to work on another domain, but maybe other folks who are interested in this feature, could proceed with this issue.

[2020-05-01 17:13] mattklein123 commented on #11030
Yes this seems fine to have be configurable. cc @alyssawilk

[2020-05-01 18:03] rgs1 opened #11032 "subset lb: remove empty subsets"
In our setup, we churn through a lot of subsets during a single day (that is, subsets get created, become active and after a few hours become empty forever). Because empty subsets are never removed from the `subsets_` unordered map, we end up leaking memory and iterating over subsets takes longer each time:

https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/subset_lb.cc#L403

[2020-05-01 19:37] #10592 closed

[2020-05-01 19:37] vivekgurikar opened #11033 "Tracing custom tags not being added to mirrored request"
@kyessenov When adding custom tags in tracing, the mirrored request does not receive the same custom tags.
Below is my config:
`tracing:
  http:
    name: envoy.tracers.datadog
    config:
      collector_cluster: test-tracing
      service_name: test-tracing

static_resources:
  listeners:
    - name: test_listener
      address:
        socket_address: { address: 0.0.0.0, port_value: 80 }

[2020-05-01 21:24] #10852 closed

[2020-05-01 21:29] markdroth commented on #8416
Here's my off-the-cuff thought here, just to get discussion going:

It's not entirely clear to me that it makes sense to bump the minor version whenever the protos change.  WIth that approach, the minor version number will be constantly incrementing to the point where it will basically be meaningless, because no one will remember which feature corresponds to which version.  I think client features

[2020-05-01 21:30] mattklein123 commented on #8416
@markdroth I'm going to do a straw proposal in a doc and will send it around next week for discussion. Agree on your general sentiment above.

[2020-05-01 21:36] markdroth commented on #8416
@mattklein123 Sounds good -- I'll look forward to seeing it.

[2020-05-01 22:16] ramsrib commented on #6897
I have similar issue, `alpn_protocols: h2` didn't help either.

[2020-05-01 23:49] gagata opened #11038 "Teach transcoding filter to be aware of per vhost / per route settings"
Currently `envoy.filters.http.grpc_json_transcoder` is only applied on the 'global' level, meaning that it's not possible / easy to setup envoy's  configuration for the following scenarios:
- having two routes for two different domains configured with the same path value (assuming they use transcoding), example: say you have domain1.com/foo and domain2.com/foo and want requests to each of them be

[2020-05-02 00:21] nigriMSFT commented on #10871
For reference, libevent has a Windows AF_UNIX socketpair implementation: evutil_win_socketpair_afunix, https://github.com/libevent/libevent/blob/master/evutil.c

Not saying its great, but its an example.

[2020-05-02 05:33] alienvspredator opened #11039 "Invalid Access-Control-Allow-Origin header with custom URI scheme"
Description:

The origin is in the custom scheme "package: //". When I make an xhr request, I get the following error:

[code]

This is due to an invalid Access-Control-Allow-Origin header value.

My envoy config for processing preflight requests looks like this:

[code]

Envoy log:

[code]

[2020-05-02 06:32] alienvspredator commented on #11039
Sory, I've tested this with curl and access-control-allow-origin is correct. It looks like CEF issue.

[2020-05-02 06:32] #11039 closed

[2020-05-02 06:55] #10468 closed

[2020-05-02 07:55] #10421 closed

[2020-05-02 08:55] #10498 closed

[2020-05-02 09:55] #10485 closed

[2020-05-02 13:40] Dhiraj240 commented on #10308
@nezdolik  Any updates, I have been waiting on how to get started and discuss with you.

[2020-05-02 18:55] #10530 closed

[2020-05-02 22:55] #10537 closed

[2020-05-03 07:27] aviramha commented on #10864
Ah! So it's microseconds in that case. I think it needs to be better documented, as it explicitly says that it's milliseconds (atleast rest of statistics) unless you set it to microseconds.

[2020-05-03 21:44] #10660 closed

[2020-05-04 01:19] mpuncel commented on #11011
I noticed something similar as we rolled out an application using Envoy for redis sharding (but first we tried with just a single redis node).

Looking at a `perf` flamegraph, I don't see anything completely egregious, but one thing that jumps out at me is creating stats in `Envoy::Extensions::NetworkFilters::Common::Redis::RedisCommandStats::createAggregateTimer` which is about 17% of CPU time un

[2020-05-04 01:21] htuch commented on #10356
Since v3 is now the canonical API, this no longer applies.

[2020-05-04 01:21] #10356 closed

[2020-05-04 07:12] nezdolik commented on #10308
Hi @Dhiraj240 not sure i understand, here is schedule: https://github.com/cncf/mentoring/tree/master/communitybridge/2020/q2 and you need to apply as mentee.

[2020-05-04 07:45] mk46 commented on #10950
Hi @moderation, I have updated jinja2 to 2.11.2 and also updated dependencies gitdb to 4.0.4 and smmap to 3.0.2.
I run `./docs/build.sh` and getting error like

`Traceback (most recent call last):
  File "./docs/generate_extension_db.py", line 55, in <module>
    extension_db[extension] = GetExtensionMetadata(target)
  File "./docs/generate_extension_db.py", line 40, in GetExtensionMetadata
    st

[2020-05-04 07:54] Dhiraj240 commented on #10308
@nezdolik For selection, is contribution necessary in envoy?

[2020-05-04 09:54] nezdolik commented on #10308
@Dhiraj240 is not required, for more questions you could reach out on slack not to spam issue thread.

[2020-05-04 12:06] derekargueta commented on #5155
Started re-investigating this. @indutny one issue that came up is that the llhttp release artifact is that it's not built with `strict` mode enabled, and this option cannot be enabled from the C API since it is a variable in producing the C code. Are there plans to publish release builds with strict mode enabled, or be able to set strict mode through the C-API perhaps using `-D` like http-parser?

[2020-05-04 13:53] longkai opened #11042 "Support 404 NotFound with gRPC-JSON transcoder when an unknown url comes in"
Currently, if.an unknown or mistyped HTTP request url comes in envoy, it will return something like below(will not delivery to upstream gRPC services):

[code]

It is a client error. Often in HTTP services, returning a 404 is rational.

It would be great envoy provides this feature.

[2020-05-04 15:31] htuch opened #11044 "Proxy protocol listener uses exceptions on the data plane"
As part of our effort to remove data plane exceptions (@asraa @yanavlasov), we probably should fix the explicit usage of exceptions in this extension.

[2020-05-04 15:51] htuch commented on #11044
See https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/listener/proxy_protocol/proxy_protocol.cc for source

[2020-05-04 16:43] indutny commented on #5155
There is a bit of optimizing that has to be done on llhttp's code before compiling it down to C. I don't think that it'd be possible to introduce the configuration defines the same way as they are in http-parser. Runtime checks would likely affect performance so I'd avoid this too.

There are two things that could be done, however:

* Bundling two separate builds and switching between them in a bu

[2020-05-04 17:02] indutny commented on #5155
See: https://github.com/nodejs/llhttp/pull/58

[2020-05-04 18:54] mattklein123 commented on #11011
cc @jmarantz ^

[2020-05-04 19:14] qiwzhang commented on #11042
It makes sense.  It is a legitimate request. Just to be careful, some people will add grpc_transcoder filter for both grpc and http backends.  So this feature should be guarded by a filter config as:

No_match_url_action:
*  skip_transcoding_and_forward;   //current behaviors
*  reject_with_404;

[2020-05-04 19:24] Sh4d1 commented on #5914
@mattklein123 @lizan any news on this? Or a choice of decision to implement?

[2020-05-04 20:04] #9735 closed

[2020-05-04 20:05] #10274 closed

[2020-05-04 21:22] toddwest opened #11049 "Support for gRPC retries based on trailers"
I have an application that uses gRPC for bidirectional client <-> server communication which passes through envoy. I spent some time trying to set up a configuration where I made use of `x-envoy-retry-grpc-on` with a value of `deadline-exceeded`, however this does not appear to work as far as I can tell.

I found this previous issue that looked like a similar problem but I wasn't able to find anyt

[2020-05-04 21:39] costimuraru opened #11050 "Progressive traffic increase for new Pods (slow start mode)"
*Title*: Support for progressive traffic increase for new Pods (slow start mode)

*Description*:
TL;DR; It would be useful to have a slow start mode that allows us to add new pods without overwhelming them with a flood of requests. Similar to this from AWS: https://aws.amazon.com/about-aws/whats-new/2018/05/application-load-balancer-announces-slow-start-support/

We have a JVM-based web app behind

[2020-05-04 22:03] mattklein123 commented on #11050
This is something that I have wanted to add for quite some time. I think the easiest implementation would be to keep track of host addition and ramp time, and if this option is enabled, scale the host picks for RR and LR by some amount during the warm up period. cc @snowp @tonya11en

[2020-05-04 22:04] mattklein123 commented on #11049
I think with the work that @ggreenway just did we are now able to retry streaming requests in certain cases, so I think we could probably handle this now if we want, though it would require a bit of work to look at the trailers to determine whether to retry or not. cc @snowp also.

[2020-05-04 23:25] junr03 opened #11052 "signal handling: refactor some names for clarity"
While working on https://github.com/lyft/envoy-mobile/issue/831 @mattklein123 suggested disabling signal handling. I originally thought he meant the signal handling envoy has for fatal signals using `SignalActions`, which didn't make much sense in the context we were working in. While I should have understood he meant signal handling for termination, it didn't help that we have several places to "

[2020-05-05 02:06] auni53 opened #11059 "[Feature Request] Envoy::Event::Timer::createAlarmer()"
It would be great if there was a standard feature for creating a recurring timer, alarmer, whatever you want to call it. This is currently hackable by re-arming the timer in the TimerCb, [e.g. in DrainManager](https://github.com/envoyproxy/envoy/blob/master/source/server/drain_manager_impl.cc#L49), which is difficult to read and requires the timer to be visible to its own callback.

[2020-05-05 04:54] arctdav commented on #11044
I'm interested

[2020-05-05 06:04] boostchicken commented on #11033
This is beyond just custom tags.  It does not set most of the tags the envoy sets on regular spans.  It only sets operation.  Things like zone, peer information, request size, the url requested are not present.  I believe it is missing all the tags applied during finalizeUpstreamSpan

https://github.com/envoyproxy/envoy/blob/c13bf322cd56835d125f9ff005ecf2b9976cd9ad/source/common/tracing/http_trace

[2020-05-05 06:10] boostchicken commented on #11033
Also in the Async writer finalizeDownstreamSpan is never called either.  I think this is the culprit.  That's where all the juicy tags are sets.

https://github.com/envoyproxy/envoy/blob/c13bf322cd56835d125f9ff005ecf2b9976cd9ad/source/common/tracing/http_tracer_impl.cc#L154

From the Pull request

https://github.com/kyessenov/envoy/blob/b318e414df72ea2b39411b4332dda9339e68d97d/source/common/http/a

[2020-05-05 09:57] freesnowCL opened #11063 "RBAC settings question"
I wanted to set up the RBAC filter but somehow it doesn't work:

[code]

I expected only requests with header `test: 111` can access the service with prefix `/demo.grpc.api.v1.Demo/`, but it turns out all requests can still access the service

Could you let me know where I got it wrong?

[2020-05-05 12:39] asraa commented on #11044
Thanks @arctdav! Please tag me on a PR, would love to see.

We are using `absl::Status`, but other filters use their own state class like https://github.com/envoyproxy/envoy/blob/78eaac391b519a69900ebcdccea668f690593e9a/source/extensions/filters/listener/tls_inspector/tls_inspector.h#L39

[2020-05-05 14:11] alyssawilk commented on #11059
Bonus points for a base class where the alarm unregisters on destruction - I'm always surprised it has to be done manually

[2020-05-05 14:21] htuch commented on #8199
This may have been fixed by https://github.com/libevent/libevent/issues/984.

[2020-05-05 14:35] cpakulski commented on #6107
@mattklein123 I have developed a prototype for generic body matching. As configuration it takes a list of text strings or hex strings. In order to get a match all listed strings must be found in the body. The code is on my branch: https://github.com/cpakulski/envoy/tree/issue/6107.

There are few issues I would like to discuss:
- `onBody` method (https://github.com/cpakulski/envoy/blob/issue/6107/

[2020-05-05 14:51] cpakulski opened #11065 "postgres: create dynamic metadata"
Create dynamic metadata when parsing Postgres messages (similar to mySQL). The metadata will indicate an operation (create, delete, insert, etc) and resource on which the operation will be performed.

The metadata may be used by RBAC or routing of queries to specific instances of Postgres based on operation type.

Ref: https://www.envoyproxy.io/docs/envoy/latest/configuration/advanced/well_known_d

[2020-05-05 14:52] cpakulski commented on #11065
Please assign it to me.

[2020-05-05 15:50] jmarantz commented on #11011
@mpuncel can you attach your flame-graph? I'd love to take a quick look.

We can easily cache the StatName for createAggregateTimer, as the two names being joined are known at construction time. The commandTimer not so much.

I'll write a small PR for createAggregateTImer.

[2020-05-05 16:02] ahachete commented on #11065
This would be very helpful.

What kind of metadata do you plan to expose, do you have an initial design for it? Happy to provide feedback if that could help :)

[2020-05-05 16:07] cpakulski commented on #11065
As the first step I was thinking about producing the same metadata as mySQL: https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/network_filters/mysql_proxy_filter#config-network-filters-mysql-proxy-dynamic-metadata.

[2020-05-05 16:17] ahachete commented on #11065
I checked that, and left me with some doubts. For example:
* `<table.db>`. What if the operation references more than one table, like in a JOIN query, subselect or CTE? Maybe should be an array?
* `[]` (_A list of strings representing the operations executed on the resource. Operations can be one of insert/update/select/drop/delete/create/alter/show_). We should determine which operations apply to

[2020-05-05 16:38] bcelenza opened #11068 "Broken documentation links"
I've observed a number of broken links in Envoy documentation that previously worked (now showing a 404). Examples:

* https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/websocket (referenced from a google search of "envoy proxy web socket")
* https://www.envoyproxy.io/docs/envoy/latest/configuration/observability/access_log (referenced from other documentation on the internet)

[2020-05-05 16:47] mattklein123 commented on #9953
I think @yanavlasov is working on this. Also discussing fixing https://github.com/envoyproxy/envoy/issues/6736 as well.

[2020-05-05 16:52] mattklein123 commented on #11068
We don't have any policy on this currently, and no good way to enforce/check changes/add redirects given how docs get built with sphinx. Would appreciate help on this if there is interest. Will mark help wanted.

[2020-05-05 17:02] mattklein123 commented on #11059
+1 to the general feature request.

Note that it actually does unregister on destruction, however many places call disable explicitly because it is easier to mock test. (The underlying issue has to do with nice mocks not being able to ignore destroy mock calls in destructors, so without this pattern it would be a giant pain in the common case.) Would appreciate any ways to make this batter and/or

[2020-05-05 17:25] jmarantz opened #11069 "stats: name lookups occur on every new http1 connection may cause contention"
It appears that the h1 codec instantiates new stats every time it's instantiated:
[code]

and those may induce symbol-table contention. It'd be good to pre-symbolize those at startup.

[2020-05-05 17:59] cpakulski commented on #11065
Yes, that was the idea - to start with SQL parser available in Envoy and extend it when required.

[] (A list of strings representing the operations executed on the resource. Operations can be one of insert/update/select/drop/delete/create/alter/show). We should determine which operations apply to Postgres. Actually, as we found with the monitoring statistics, there might be combined operations (f

[2020-05-05 19:32] ahachete commented on #11065
Yes, perfect. Feel free to create and share a document, we can work there.

[2020-05-05 19:40] jmarantz commented on #11069
looks like this also occurs for http2, and there are actually some common stat names.

[2020-05-05 19:44] jmarantz commented on #11011
We can actually build up StatNames for a few of these joins, as there are a finite number of commands. But the assumption always has been that joining stat-names (which is basically like appending bytes) and then doing the lookup in thread_local_store, is fast enough to do lots of times in the course of a request, as long as it's not taking any locks in the hot path, which it shouldn't be.

[2020-05-05 20:29] stevenzzzz opened #11071 "separate ConnectionPool from Cluster definition"
sometimes we deploy multiple services among a set of endpoints, we define a set of clusters on these machines, each has a pool connecting to the same set of endpoints.

Separating ConnectionPool from Cluster has many advantages:
 * The same set of backends may be used to serve multiple services, they can share the same connections, better performance, less RAM footprint, less pool warming.
 * diff

[2020-05-05 20:30] stevenzzzz commented on #11071
/cc @antoniovicente

[2020-05-05 20:52] FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg commented on #10970
Sorry for the delay!

### Use Case:

The specific case I'm thinking of is sharing a `RedisCommandStats` (Redis-specific upstream stats) object between various filters.

Imagine we have two Redis listeners, A and B, and two Redis clusters, 1 and 2, where:
- A points to 1
- A mirrors 100% of traffic to 2
- B points to 2

A and B have their own upstream stats objects, and have to pass these down in c

[2020-05-05 21:08] FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg commented on #10864
I've put up a PR to correct the docs: https://github.com/envoyproxy/envoy/pull/11073

I will fix this once I finish with some of my other work. Thanks for bringing to my attention!

[2020-05-05 21:50] antoniovicente commented on #11071
An explicit goal would be to be able to share connections across clusters that share a ConnectionPool.  Different LB algorithms may not be required.  In fact, keeping a single copy of the LB data structures would reduce memory usage in cases you have large numbers of clusters that share a ConnectionPool.

[2020-05-05 23:08] mattklein123 commented on #10970
cc @jmarantz to advise on the above. IMO we should try really hard to not generically add new things to the cluster as it's already such a big and memory intensive thing.

Could you have a Redis stats singleton manager object that handles this type of sharing?

[2020-05-05 23:12] mike1808 opened #11076 "Envoy Tracing for Zipkin and Jaeger is not working for 1.13.1"
Hi. I'm trying to test requests tracing feature for Envoy. I followed the [Jaeger tracing docs for 1.13.1](https://www.envoyproxy.io/docs/envoy/v1.13.1/start/sandboxes/jaeger_tracing) and put an appropriate tag for Docker images in the sandbox to use 1.13.1. And after starting all containers and sending few requests Jaeger UI doesn't show anything. I also tried to use jaeger-query API:

[code]

An

[2020-05-05 23:30] antoniovicente commented on #8448
I think the benchmark does not tweak the chunk size input to ZlibCompressorImpl, but changing that doesn't seem to make a difference.

Some possible things to look at:
- performance when ZlibCompressorImpl::compress is called on a single buffer with multiple slices in it.
- Consider annotating benchmarks with the compressed size produced, and the compression_level, strategy and mem_level used for

[2020-05-05 23:30] mattklein123 commented on #11071
See also https://github.com/envoyproxy/envoy/issues/8702. Depending on how this is implemented it would be nice to also have a configuration/implementation in which we handle upstream connections in a true thread pool that is also shared between workers. This would also allow users to trade-off some additional CPU/contention for lower connection counts and memory usage in certain deployments. Let'

[2020-05-05 23:39] antoniovicente commented on #10318
Can we figure out a way to runtime guard operations done by PGV?  Or have a way to instantiate the validator in 2 different ways, so we can select weak or strict based on a runtime guard?

Possibly related: https://github.com/envoyproxy/envoy/pull/11058

[2020-05-06 00:02] FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg commented on #10970
Adding a general stats manger singleton for Redis was @jmarantz suggestion- after discussing a bit with Henry I figured I'd ask about the more general upstream case.

[2020-05-06 00:03] mattklein123 commented on #10970
I think it's not completely clear to me what the general case here is. If we can clarify that happy to discuss further.

[2020-05-06 00:18] jpeach opened #11078 "Deprecated extension documentation link is broken"
The deprecation warning emitted when a deprecated feature is used contains a documentation link that is 404.

[code]

The link `https://www.envoyproxy.io/docs/envoy/latest/intro/deprecated` returns 404

[code]

[2020-05-06 00:40] rgs1 commented on #8448
Yup -- what I am seeing in my experiments is mostly slices of 16kb, given that we have this hard-coded:

https://github.com/envoyproxy/envoy/blob/master/source/common/network/raw_buffer_socket.cc#L21

I played with making 32kb reads... no difference.

I also chatted with @jmarantz about this, and he suggested using cachegrind on the benchmark to see if we are being heavily penalized by cache misse

[2020-05-06 02:26] arctdav commented on #11044
Thanks, I will. I am a true beginner and need a bit of time to refresh my memory of C++ again.

[2020-05-06 03:04] arctdav commented on #11044
@htuch, by fix the explicit usage of exceptions in this extension, do I change `throw EnvoyException("failed to read proxy protocol");` into something? Like "try catch"? Sorry C++ isn't my strong suit.

[2020-05-06 03:34] antoniovicente commented on #10877
Did it work?  We should bump up abseil version on the main repo.

[2020-05-06 03:38] sunjayBhatia commented on #10877
Yes it did, however we ran into some issues with linking other foreign cc dependencies (luajit and moonjit) when using dbg mode. We are locally testing a PR to disable them for the time being as they are only used in extensions so we can have a change set that enables dbg builds in one shot

[2020-05-06 03:41] saagar241290 commented on #8644
@mosespx I tried by increasing number of connections of redis pool to 100 and it gave me a better performance. Earlier there was only a single connection.

[2020-05-06 06:28] mrSeoDavid commented on #11044
Hi, I would love to help fixing this problem as well. @htuch I would appreciate if you could be more specific on what you mean by fixing "the explicit usage of exceptions." Do you want us to use another way of catching on error other than exceptions? Thank you!

Hi @arctdav I believe you use try-catch when you are testing the exceptions on the driver file.

[2020-05-06 06:45] gagata commented on #11038
we need it at work, so I'm happy to send a patch for it - feel free to assign to me if there's no other concerns

[2020-05-06 07:05] ramaraochavali opened #11079 "Make Http Status configurable for ext auth service when enabled for gRPC services"
when ext auth gRPC service returns` Permission Denied(7)`, Envoy returns `Http Status : 200, gRPC Status: 7` to client if the client is gRPC service and `Http Status - 403` to client if the client is Http Service. Technically this is correct but it causes some confusion for gRPC services.

In this case, since the actual gRPC service has not started processing the request yet(ext authz rejected bef

[2020-05-06 07:07] ramaraochavali commented on #11079
@mosdev FYI. For the OPA issue we are seeing. What do you think?

[2020-05-06 07:46] mk46 commented on #11068
Hi @mattklein123,  Actual redirection for both links should be
- https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/upgrades
- https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/observability/access_logging

In readthedocs UI, there is an option for "redirect" in the admin section.

[2020-05-06 08:12] rohitagg2020 opened #11080 "Heathcheck and Outlier detection Behavior During Upstream Cluster Rolling Update in Kubernetes/ZDM for upstream cluster Rolling Update"
**SetUp:**
I have a k8s cluster in which I am using envoyproxy as ingress. I have two running instances of the upstream cluster.
I have configured both health check and outlier detection as part of the cluster configuration.
This the cluster configuration:
{
   "name":"cluster1",
   "type":"STRICT_DNS",
   "connect_timeout":"5s",
   "health_checks":[
      {
         "timeout":"1s",
         "inte

[2020-05-06 10:55] Jingzhao123 opened #11081 "Temporarily disable tcmalloc for "TIMEOUT" test cases on arm64."
On arm64 platform, there are some test cases "TIMEOUT" in latest version (commit id: f0ebefc2a36746dbf12301 ). After a few investigation, I found that it is related with gperftools/tcmalloc unwinding trace functions.
Could we temporarily disable tcmalloc when building test or disable those "TIMEOUT" cases on Arm64 platform ?

**Detail informations:**
On x86 platform, the unwind backtrace is implem

[2020-05-06 11:59] PiotrSikora commented on #8448
It looks that `GzipFilter` is creating `ZlibCompressorImpl` using the default constructor with 4KB chunk size. Might be source of the issue:
https://github.com/envoyproxy/envoy/blob/master/source/common/compressor/zlib_compressor_impl.cc#L14

[2020-05-06 12:36] asraa commented on #11044
Hey @mrSeoDavid @arctdav I might be able to offer a suggestion on where to start!

The exceptions are caught in a try/catch block in `Filter::onRead()` here https://github.com/envoyproxy/envoy/blob/f0ebefc2a36746dbf12301d3c258e2f1b66cfe82/source/extensions/filters/listener/proxy_protocol/proxy_protocol.cc#L44

You could instead have `onReadWorker()` return a status (which you could define yourself

[2020-05-06 13:48] alyssawilk commented on #11078
Whoops, I think that's due to the generally awesome docs refactor in #10730

We could point folks to https://www.envoyproxy.io/docs/envoy/latest/version_history/version_history instead, but making them wander through pages doesn't seem as useful.  Per Matt's point over in #11058 I wonder if we can leverage the annotations to print out something field-specific and useful, or just point them at API

[2020-05-06 14:24] cstrahan opened #11082 "proposal: securing admin endpoint"
# A proposal to secure the admin endpoint

I was chatting with @mattklein123 a couple weeks ago about securing the admin endpoint, under the assumption that we'd want some way to allow users to specify arbitrary filters (e.g. RBAC).

I would like to propose that we allow specifying a `Listener` config in the `Admin` message, and deprecate the `Admin` fields that can be taken directly from the `Lis

[2020-05-06 15:19] htuch commented on #11082
This dupes https://github.com/envoyproxy/envoy/issues/2763, can you continue the discussion there? Suggest copy+paste ^^. Thanks.

[2020-05-06 15:19] #11082 closed

[2020-05-06 15:22] htuch commented on #10809
This was fixed in https://github.com/envoyproxy/envoy/pull/10697

[2020-05-06 15:22] #10809 closed

[2020-05-06 15:30] htuch opened #11085 "Manifest based documentaton extensions"
As per https://github.com/envoyproxy/envoy/pull/11058#discussion_r420461592, it would be ideal to be able to augment API field documentation with things such as:
* Proxy specific implementation status (i.e. whether a feature is implemented in Envoy yet, whether it's alpha or stable)
* OOB data such as example secure configurations (which may also be proxy specific).

The solution is to have a prox

[2020-05-06 15:42] htuch commented on #10318
How general do we need to make this? If it's just for the headers, I think we can have Envoy do some reflection based weakening/strengthening of the constraints on config ingest, and use the internal runtime guards for this. If we foresee a general need for this, then, sure, let's design this into PGV, but that's a reasonable project and we should file something at https://github.com/envoyproxy/pr

[2020-05-06 15:53] htuch commented on #11078
In this specific case, this is just the new vs. old names for extensions, so we can provide a fixed anchor.

It should be fairly easy to autogenerate a link back to the field specific docs in general though, from browser copy+paste, this is what the href looks like: `https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/health_check.proto#envoy-v3-api-field-config-core-v3-healthcheck-t

[2020-05-06 15:55] asraa commented on #10318
If i understand the intent of #11058 correctly, the annotations appear only as documentation, and not as actual validation, so I don't think that we have any need beyond headers. If so, field traversal with reflection is probably the way to go.

I can tackle after exception removal/when there's some spare cycles

[2020-05-06 16:01] mattklein123 commented on #11038
@gagata go for it!

[2020-05-06 16:02] mattklein123 commented on #11068
Tooling PRs appreciated to help us do better here. Thank you!

[2020-05-06 16:14] ggreenway commented on #11078
Ideally, we'd have a released version not point at `latest`, but at it's version of the docs, so any future movement of pages won't invalidate those links.

Field-specific doc-links would be great, but I don't know if it's worth the effort or not.

[2020-05-06 16:20] mattklein123 commented on #11078
Yeah this would probably be the "simplest." I wonder if it could be done with a short generated header/cc file that is based on the VERSION file?

[2020-05-06 16:39] mabukhovsky commented on #11018
@mattklein123 Hi Matt, could you clarify your vision for Dynamic Forward Proxy please.

[2020-05-06 16:54] mattklein123 opened #11088 "docs: filter chain / smart LDS update documentation"
We should better document a few concepts:
1) Filter chains. There is some doc here: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/listeners/listeners, but it probably needs to be beefed up a bit to talk about independent draining, etc. Please review the docs in this section and see if anything needs updating.
2) LDS filter chain only updates. Probably here: https://www.envoyproxy

[2020-05-06 16:55] mattklein123 commented on #11088
@lambdai if you could take care of this at some point that would be great. Thank you!

[2020-05-06 17:35] #10552 closed

[2020-05-06 18:11] juanjoDiaz opened #11089 "Apply filter per-route"
Hi guys,

I've been recently building a system that users gRPC-web and HTTP as communication protocols.

Something like:
[code]

I always found weird that the `envoy.filters.http.grpc_web` is applied to both virtual hosts and to all the routes in them and I should just rely on the `envoy.filters.http.grpc_web` to skip non-gRPC-web routes so they fallback to plain HTTP.

Now I'm implementing some f

[2020-05-06 18:33] aminjam opened #11091 "Identifying stable release for a minor version"
### Summary

As downstream consumers of envoy binary, we would like to find a process to discover and bump the envoy binary when a new version of a given minor has been released.

### Facts

I see that in #10800 the community has stopped publishing `latest` tag for envoy docker image and I found the following [Stable release of Envoy doc](https://docs.google.com/document/d/1dFYR1b_n6Qz0caZmMqm008C

[2020-05-06 18:35] arctdav commented on #11044
@mrSeoDavid please go ahead to handle this issue.

[2020-05-06 18:54] kapilsharma432001 commented on #11044
@htuch I wanna work on this issue. Please assign this to me and since i am new contributor so please guide me through this.

[2020-05-06 20:17] mattklein123 commented on #11091
Yes this occurred to me also to have a per-stable-version "latest" tag that users can track if they wish. Marking help wanted for someone to look into script updates. cc @lizan

[2020-05-06 20:55] mrSeoDavid commented on #11044
@asraa Thank you so much for your help! I understood everything, I'll get on the work.

[2020-05-06 20:56] alyssawilk commented on #1630
As said over on 1451 Envoy connect support is ready to play with.
I've got a couple of PRs in flight improving docs and cleaning up internal code flow, but feel free to start playing around with it!

[2020-05-06 21:25] mrSeoDavid commented on #11044
@asraa Quick question, for the onReadWorker() method, I was able to make it return a state instead of the throwing exceptions.

 However, for all the other methods who are throwing exceptions as well, do I need just need to change these throwing exceptions as just returning the state? I don't think this will work for the methods that are already assigned to return other types like "lenV2Address" m

[2020-05-06 22:35] #9133 closed

[2020-05-06 22:44] dio commented on #11076
@mike1808 I think you need to add a `tracing` entry as in this commit: https://github.com/envoyproxy/envoy/commit/7ab9307a678e27b50df06c20108dee3911b947ac

The relevant part:

[code]

Yes, this is needed also for `envoyproxy/envoy:v1.13.1` image.

[2020-05-06 22:59] mattklein123 commented on #8416
Short straw proposal here: https://docs.google.com/document/d/1afQ9wthJxofwOMCAle8qF-ckEfNWUuWtxbmdhxji0sI/edit# cc @envoyproxy/api-shepherds @alyssawilk

[2020-05-06 23:46] htuch commented on #11078
We already have this constant that we use for the build version string.

[2020-05-07 00:39] jpeach commented on #11078
Independently of how this link will be managed in the future, shipping envoy versions are emitting this message today. Is it possible to add a redirect to support people who are currently seeing this message?

[2020-05-07 01:13] gongcon opened #11093 "high CPU usage in version 1.12 and above"
We have a service using envoy as side car. It's currently on 1.11.0 and CPU is below 1% without requests other than health checks. Once we upgrade it to 1.12 or even the latest 1.14, the CPU immediately goes up to 20% without requests.

Is there any known issue about this? Don't see any special thing in debug level logs. How can we troubleshoot it? By the way, healthchecks are HTTP/1.0 requests.

[2020-05-07 02:07] ilib0x00000000 commented on #9050
Can you show GRPC code?  I want to learn how to use GRPC server config xds.

[2020-05-07 05:20] jpeach commented on #11078
xref #8465

[2020-05-07 10:35] mk46 opened #11095 "fixed_duration_ms is not working in Fault Injection."
I follow https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/fault_injection
and run ` bash enable_delay_fault_injection.sh`
Observing response from backend service but not getting any delay.

[2020-05-07 11:07] guangbaowan opened #11096 "reject all listeners"
hi, as we use envoy as k8s internal grpc proxy. when we set some invalid listeners, then all the rules are rejected.. why we design like this ?  here is some err info.
[code]

[2020-05-07 11:14] rulex123 commented on #9846
@mattklein123 I would like to help out with this. I guess your suggested approach still applies, so I will start by: adding a `bool stream_error_on_invalid_http_messaging` config option to the HCM, adding a warning if this new config isn't set, and deprecating the old option. LMK if you think differently.

Also, the original issue meant to track the deprecation of the current option in favour of t

[2020-05-07 14:18] asraa commented on #11044
Right, I see. We encountered this as well from exception removal proof of concepts, and ended up using `absl::StatusOr<size_t>` that either returns an error status or a `size_t` if there is no error. I don't know if this is the best case for this scenario. Here are some general options: maybe you return `absl::optional<int>` with an int if success, nullopt if failed; or return `-1` for an error; o

[2020-05-07 14:31] cstrahan commented on #2763
# A proposal to secure the admin endpoint

I was chatting with @mattklein123 a couple weeks ago about securing the admin endpoint, under the assumption that we'd want some way to allow users to specify arbitrary filters (e.g. RBAC).

I would like to propose that we allow specifying a `Listener` config in the `Admin` message, and deprecate the `Admin` fields that can be taken directly from the `Lis

[2020-05-07 15:30] alyssawilk commented on #9846
I think the other issue, is that to have the option in the HCM, we need to have the options work in the HTTP/1 and HTTP/3 codecs the way it does for HTTP/2.  Make sense?

[2020-05-07 15:53] mattklein123 commented on #11078
Doc PRs appreciated.

[2020-05-07 15:54] sp-manuel-jurado opened #11099 "http2_protocol_options.stream_error_on_invalid_http_messaging with reverse bridge"
Hi,

I'm configuring envoy (v1.12.2) as level two proxy (sidecar) within reverse bridge filter enabled only, and using an ingress controller envoy based as level one proxy.

I've read [this article](https://www.envoyproxy.io/docs/envoy/latest/configuration/best_practices/level_two) and I checked using http2_protocol_options.stream_error_on_invalid_http_messaging=true, but I continue getting this e

[2020-05-07 15:54] mattklein123 commented on #11093
Please provide some perf flame graphs, optimally from both the old and new version and we can take a look. Thank you!

[2020-05-07 16:06] sunjayBhatia commented on #10619
We're testing out our generated toolchain config and toolchain image and with a few tweaks are so far successfully building Envoy with RBE, forthcoming PRs to upstream our work coming soon

[2020-05-07 16:42] gongcon commented on #11093
Thanks @mattklein123 for the response. Before getting into flame graphs, can you explain these in log? It takes exactly 1 second for a HTTP/1.0 request to finish. HTTP/1.1 and HTTP/2 are good.

[code]

[2020-05-07 17:26] htuch commented on #10776
@banks this is actually already in the FAQ at http://localhost:3142/faq/api/envoy_v3.html, so no need for another entry.

[2020-05-07 17:31] alyssawilk commented on #11099
FWIW what stream_error_on_invalid_http_messaging controls is if there's an HTTP/2 level issue if the stream is closed or if the full connection is closed.  It shouldn't change the validation which is being performed, or look at the gRPC layer at all, it just controls how thoroughly HTTP/2 non-compliant traffic is rejected.

[2020-05-07 17:42] alyssawilk commented on #11089
Looking at the gRPC web filter, the first thing it does is check to make sure the request is actually a gRPC web request.  If not, it should basically be a no-op, early-returning the Continue codes and not buffering.  Are you sure those 413s aren't for large gRPC-web requests?

[2020-05-07 17:57] gongcon commented on #11093
Captured 3-minute flame graph for the new envoy. Doesn't look like it gives any valuable info.

![envoy-fg](https://user-images.githubusercontent.com/7774447/81328320-8d900c80-9051-11ea-9277-7629c962c1d8.jpg)

[2020-05-07 18:07] mattklein123 commented on #11093
You need debug symbols for the flame graph to be useful.

[2020-05-07 18:34] gongcon commented on #11093
I did. Here's my command `sudo perf record -F 99 -p 6361 -g -- sleep 180`

[2020-05-07 18:40] mattklein123 commented on #2763
Yes I think this SGTM. Thank you for working on this! cc @envoyproxy/security-team

[2020-05-07 19:15] sp-manuel-jurado commented on #11099
Hi @alyssawilk ,
thanks for the quick reply.

This is a correct grpc-response (with grpc error) returned by the L2 proxy.
You can see the header "grpc-status-details":
[code]

This L2 proxy doesn't have any cluster/upstream that understand grpc (only http1.1), so this response is transformed by the http filter grpc-http1-reverse-bridge.

Guessing that grpc is a protocol over http2 and reading:
[co

[2020-05-07 20:22] antoniovicente commented on #8448
What PR fixed the "worse compression ratio" issue?

[2020-05-07 20:26] antoniovicente commented on #10318
We may want #11058 to extend to validation eventually(requiring some fields be set, or using different defaults), that's why I mention it.

[2020-05-07 20:26] rgs1 commented on #8448
this one: https://github.com/envoyproxy/envoy/pull/10676

[2020-05-07 20:35] sunjayBhatia commented on #10619
We've started a Draft PR here to demonstrate a working RBE build on Windows workers: https://github.com/envoyproxy/envoy/pull/11107 this should get turned into a full PR once we have upstreamed all our changes to the bazel-toolchains and envoy-build-tools dependencies

[2020-05-07 21:30] mrSeoDavid commented on #11044
@asraa thank you so much for your detailed suggestions and explanation. This is what I have done so far: for all of the methods that had void return type in the first place, I've created an enum class in the .h file and made these methods return enum values that represent a failure.

For the methods that were originally designated to return boolean, I've followed your suggestion and changed the ex

[2020-05-07 21:38] jmarantz opened #11109 "test: refactoring opportunities for FakeUpstream and health_checker_impl_test.cc"
In the process of https://github.com/envoyproxy/envoy/pull/11098 I found there were large amounts of repeated code constructing FakeUpstream and in the health-checker test code.

IMO this boilerplate should be factored out into helper methods, greatly reducing code duplication and making future refactors much easier. For example, in test/common/upstream/health_checker_impl_test.cc there are tons o

[2020-05-07 22:17] toddmgreer opened #11110 "Automatic overwrite of date header can break downstream caches"
Envoy overwrites the date header in responses in a way that can trick downstream caches into incorrectly serving expired responses or not serving fresh responses.

Background:
[RFC7231§7.1.1.2](https://httpwg.org/specs/rfc7231#header.date) Defines the date header as the date and time message origination--meaning when it was produced by the origin. HTTP caches depend on this date to determine wheth

[2020-05-07 22:31] mattklein123 commented on #11110
Thanks for opening this detailed report! cc @alyssawilk

[2020-05-07 22:50] #10554 closed

[2020-05-07 23:23] gongcon commented on #11093
Finally got the flame graphs. See longer epoll_wait in the new version.
[envoy_flame_grpah.zip](https://github.com/envoyproxy/envoy/files/4596234/envoy_flame_grpah.zip)

[2020-05-07 23:59] mattklein123 commented on #9846
Yup sounds good.

Done thanks.

Right. See also https://github.com/envoyproxy/envoy/issues/10646. cc @yanavlasov @antoniovicente

[2020-05-08 03:24] #11030 closed

[2020-05-08 05:59] twghu commented on #6589
Hey Matt See https://github.com/envoyproxy/envoy/pull/11111

[2020-05-08 07:38] geoleonsh commented on #7991
I have solved this problem and I will submit a pull request

[2020-05-08 09:13] #11081 closed

[2020-05-08 10:58] mk46 commented on #11109
Hi @jmarantz, I would like to take up this issue.

[2020-05-08 12:34] jmarantz commented on #11109
Great! I'd suggest you tackle those 3 subtasks in 3 different PRs. The two single-file ones will be easier, then you could tackle the createFakeUpstream() helper and changing all the uses as a third one.

Thank you!

[2020-05-08 12:35] alyssawilk commented on #11110
@htuch the proposed mittigation is basically the new "override date" header should default the other way.
given it landed yestrerday how would we feel about really quickly changing the default and runtime guarding the behavioral change?  or revert-and-reland since I'm functionally out today and maybe Monday isn't soon enough?

[2020-05-08 12:35] alyssawilk commented on #11110
(would ask that someone else revert, and will guard and reland, since home schooling time begins soon :-/ )

[2020-05-08 12:41] sunjayBhatia commented on #10619
This build log demonstrates a working build in CI that builds all sources and compiles tests not tagged with `skip_on_windows`: https://dev.azure.com/cncf/envoy/_build/results?buildId=39115&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=168f295b-0553-5364-35f7-923225ecd8b3

[2020-05-08 12:46] htuch commented on #11110
I assume we're talking about https://github.com/envoyproxy/envoy/pull/11077? If it's OK with the other @envoyproxy/api-shepherds and @chradcliffe I think we can do a rollback.

While the API should be stable long term, I think we can reserve the right for rollback of things within a short window. @chradcliffe would you be OK with resubmitting the PR with https://github.com/envoyproxy/envoy/issues/

[2020-05-08 13:10] chradcliffe commented on #11110
I don't mind resubmitting with the default switched and a runtime guard.

[2020-05-08 13:50] asraa commented on #11044
Envoy has log message macros. You can use format strings in them too. https://github.com/envoyproxy/envoy/blob/10c755e9d9b8acd7cf1702a4f49dbcbdf0696198/source/extensions/filters/listener/proxy_protocol/proxy_protocol.cc#L30

Yes

Yes you will need to propagate the error back through the methods that call them. I think `readProxyHeader` calls them. So you'll need to return early if `readProxyHeader

[2020-05-08 16:42] sp-manuel-jurado commented on #11099
This is the level 2 envoy configuration in case it was useful:

[code]

[2020-05-08 16:50] ggreenway commented on #11078
I'll fix this soon. My mess, mine to cleanup :)

[2020-05-08 17:16] sp-manuel-jurado commented on #11099
I add, probably, a related issue (about a year ago) in case it can give us any clue:
- https://github.com/envoyproxy/envoy/issues/6471

[2020-05-08 17:56] #886 closed

[2020-05-08 18:09] mattklein123 commented on #11110
Yes perfect lets do it. I can do the revert.

[2020-05-08 19:40] Vineet-Sharma29 commented on #11000
@tharun208 are still working on it? If not, I would like to work on it.

[2020-05-08 20:39] howardjohn opened #11119 "bootstrap config transparently switches between v2 and v3 leading to unexpected rejected configs"
Certain changes to a bootstrap file seem to trigger Envoy to process other parts of the bootstrap differently (v2 vs v3).

Starting with this config file:
[envoy-sds.yaml.txt](https://github.com/envoyproxy/envoy/files/4601472/envoy-sds.yaml.txt)

Validation passes

Adding a bit of config:

[code]

Causes an unrelated part of the config to fail:
[code]

Full broken config file:
[envoy-sds-lds.yaml.

[2020-05-08 20:41] howardjohn commented on #11119
Just adding

[code]

is fine so must be something in ConfigSource triggering it here. I have seen this before though, so it is not specific to this field as far as I know

[2020-05-08 20:51] taion809 commented on #2778
@mtalbot thanks, this can probably be closed then.

[2020-05-08 21:11] howardjohn opened #11120 "sds: cluster not warming while certificates are being fetched; immediately marked active"
When creating clusters that reference SDS certificates, the warming behavior does not seem correct. My expectation is that until the secret is sent, the cluster will be marked as "warming" until the initial_fetch_timeout, and block the rest of initialization from occuring.

What I am actually seeing is initialization *is* blocked, but there is nothing indicating the clusters are warming.

Using th

[2020-05-08 21:14] jmarantz opened #11121 "add memory filesystem for making tests faster, more hermetic, and more robust"
Currently real files are used for file i/o during tests. An alternative I've used in the past is to have an in-memory representation of a file-system: https://github.com/apache/incubator-pagespeed-mod/blob/master/pagespeed/kernel/base/mem_file_system.h

This has these advantages:
 * completely hermetic, with a clean slate between tests
 * very fast (no I/O), speeding up the running of massive numb

[2020-05-08 21:15] jmarantz commented on #11121
@alyssawilk FYI

[2020-05-08 21:32] mattklein123 commented on #11121
cc @junr03. This would help a ton with Envoy Mobile as we would be able to run more existing tests. I think there is an open issue on this in that repo.

[2020-05-08 23:41] tharun208 commented on #11000
@Vineet-Sharma29, feel free to revive it

[2020-05-09 00:12] lolin9 opened #11124 "Question: How to enable dual-stack for the listener address?"
When I apply `0.0.0.0` to  the listener's address`SocketAddress` it works only on IPv4 and if `::` is used then only IPv6 works. How to enable both in the same listener?

[2020-05-09 00:27] #11078 closed

[2020-05-09 01:50] mpuncel commented on #11011
Here's the flamegraph. Github made me put it in a zip

[envoy-flamegraph.svg.zip](https://github.com/envoyproxy/envoy/files/4602449/envoy-flamegraph.svg.zip)

[2020-05-09 06:34] #10607 closed

[2020-05-09 18:34] #10602 closed

[2020-05-10 12:02] #10465 closed

[2020-05-10 13:26] jmarantz commented on #11011
Thanks for the flame-graph; I was having a hard time understanding the overall impact of the stat creation. It's hard to even find it on the flame-graph.

Is there another perf view that made this jump out at you? Maybe a flat profile or top-down profile? I just want to make sure we are optimizing the right thing.

[2020-05-10 20:45] gituserjava opened #11129 "Envoy filter logging"
We successfully configured envoy.ext_authz, however we are unable to see logs of incoming and outgoing requests through this filter. How do I log incoming requests (entry and exit) of a particular filter with envoy? We have a traceId which will be coming from request header and we would like to see that in Envoy logs. Do we need to write a custom logic to acheive this? If there is any example, ple

[2020-05-10 21:59] junr03 opened #11130 "memory safety: audit use of static variables"
We should audit the use of static variables in the codebase to prevent static initialization/deinitialization order problems internally, and for [dependent projects](https://github.com/lyft/envoy-mobile/issues/688#issuecomment-625954485).

The codebase already defines a construct on first use [macro](https://github.com/envoyproxy/envoy/blob/1210df904254d8144cd7c35106df091aceb5375a/source/common/co

[2020-05-10 22:04] mattklein123 commented on #11130
There is a clang-tidy rule that can check this. We tried it but then turned it off for some reason. @lizan knows the history here.

[2020-05-10 22:06] mattklein123 commented on #11124
Unfortunately the only way to do this today is to duplicate the entire listener. This is something that I would like to consider changing (allowing a listener to listen on multiple sockets) as this has come up a few times. cc @lambdai for any thoughts on this.

[2020-05-10 23:28] JimmyCYJ commented on #11120
/cc @JimmyCYJ

[2020-05-10 23:53] jmarantz commented on #11130
/sub

[2020-05-11 00:53] lizan commented on #11130
There is a check in clang-tidy: https://clang.llvm.org/extra/clang-tidy/checks/fuchsia-statically-constructed-objects.html
We added and reverted in https://github.com/envoyproxy/envoy/pull/5733

The problem was tests are registered via static registration mechanism which will be flagged by clang-tidy.

If we wrap those macro, i.e. `ENVOY_TEST_F`, `ENVOY_TEST_P`, then we can add NOLINT in the macro

[2020-05-11 02:03] mattklein123 opened #11131 "crash regression during upstream retry"
I have seen the following crash twice at Lyft:
[code]

I believe this was introduced in the following diff: https://github.com/envoyproxy/envoy/compare/59b7e037a8702e1b5da477f1ec5f98138d8723cf...3750bc9342a5c5f35a44a1c4d91195265e6e53cc

Most likely candidate is https://github.com/envoyproxy/envoy/commit/37e9a52318ac4f6806298aa5b7d7339853f6e9b7. cc @ggreenway

Possibly also https://github.com/envoy

[2020-05-11 02:05] mattklein123 commented on #11130
This has caused enough problems lately that I think we should turn this check on and deal with the macros. @lizan wdyt?

[2020-05-11 02:12] mattklein123 commented on #11119
I'm pretty sure this is a parsing error and the issue is the config has been upgraded to v3 before the error happens. I will defer to @htuch though.

[2020-05-11 02:32] howardjohn commented on #11119
After playing with this a bit more I realized:

[code]

is not actually valid config in either version. So it seems like (without any understanding of the code) an error in the config causes upgrade to v3, which then gets a different error maybe?

[2020-05-11 03:18] ramaraochavali commented on #11129
There is no generic mechanism, but have added logging ext authz request/responses in trace mode recently https://github.com/envoyproxy/envoy/pull/11041 - does it help?

[2020-05-11 03:27] Goend opened #11134 "ssl error"
[2020-05-11 03:18:28.558][6][debug][misc] [external/envoy/source/extensions/transport_sockets/tls/context_impl.cc:239] SSL error: 150995054:PEM routines:OPENSSL_internal:110
envoy version:1.13.0-dev
I don't know why it happened，but it did happen when I restart envoy

[2020-05-11 04:09] mattklein123 commented on #10901
Fixed

[2020-05-11 04:09] #10901 closed

[2020-05-11 04:10] mattklein123 commented on #11069
Was doing some issue cleaning and this is a dup of https://github.com/envoyproxy/envoy/issues/8324 FYI.

[2020-05-11 05:26] euroelessar opened #11136 "grpc json transcoder: Support `response_body` for JSON"
Follow up for #10892.

Support `response_body` for non-`HttpBody` field.

[2020-05-11 08:14] juanjoDiaz commented on #11089
Yup. 100% sure it's for the file upload.

I don't expect the `router` or `cors` filters to be buffering the request. So gRPC is the only thing left.
Any suggestions on how to further troubleshoot the issue?

[2020-05-11 11:53] svet-b commented on #9662
This is not strictly speaking the same issue, but it's in line with the direction of the current discussion, so I figured I'd comment rather than opening a new issue: while the example currently at https://www.envoyproxy.io/learn/ssl works with Envoy 1.14.1, the logs are peppered with deprecation warnings, as I guess the config in the tutorial is showing its age. I had a go at updating the example

[2020-05-11 11:56] lolin9 commented on #11124
Thanks for the response @mattklein123. I think you could introduce a new field `addresses` in `Listener`. This field is an array of `core.v3.Address` and can override the `address` field only if it is populated. Of course this is just a quick fix at the API level, but I am not sure whether the internals of the listener implementation can make it possible or this will require a huge amount of work.

[2020-05-11 13:24] longkai commented on #11042
Thanks for the advice.

With wireshark, I found envoy did forward the not found request to the upstream but it won't logged in the interceptor.

I am interested implementing this feature but I am not familiar with C++, so it may takes sometime.

[2020-05-11 13:41] p53 opened #11141 "Add dynamic metadata kafka"
Title: Add dynamic metadata
Description:

    i would like to use RBAC filter or ext_authz to authorize kafka actions

[2020-05-11 13:50] jmarantz commented on #11069
@danzh2010

[2020-05-11 13:52] jmarantz commented on #8324
@danzh2010

[2020-05-11 14:25] alyssawilk commented on #11131
Given the crash is in removeFromList my guess is there's some circumstance that we're trying to remove from the list twice.

Maybe there's some case where we're failing to reset the upstream stream,
Looking at where we call removeFromList, I think perhaps we're failing to reset the upstream stream when we get a retry on the request path, so are still subscribed for callbacks, and if the stream is

[2020-05-11 14:38] #10588 closed

[2020-05-11 14:41] htuch commented on #11119
Yeah, Envoy does this transparent upgrade by default, see https://www.envoyproxy.io/docs/envoy/latest/operations/cli#cmdoption-bootstrap-version for how to set this explicitly.

Does this resolve the issue?

[2020-05-11 14:57] alyssawilk commented on #11131
Got a fix out - it was exactly that.  As an aside, at some point we should probably add process for recently introduced bugs - I don't think we need to go through the whole setec dance if something was recent as it would result in issues staying in the code base longer, but at least it might be worth sending out a warning "if you built between ###hash and ###hash, please be advised" for bugs or ma

[2020-05-11 15:02] howardjohn commented on #11119
Yeah the flag is useful. The UX here isn't great because I am randomly presented with a new error that was previously valid because I made a mistake in the config. However if we did something like displaying the v2 and v3 errors, then for v3 config users they would always see v2 errors probably, so it wouldn't make too much sense I think. Seems like the flag is the only way to get the user intent

[2020-05-11 15:02] #11119 closed

[2020-05-11 16:33] FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg commented on #10970
The general case is where downstreams in different filters point to the same upstream. However, if that's not really that common, it's not a big deal.

[2020-05-11 16:33] #10970 closed

[2020-05-11 16:53] mpuncel commented on #11011
I don't read flame graphs very often so I could totally be zeroing in on the wrong thing. I clicked into the `Envoy::Extensions::NetworkFilters::Common::Redis::DecoderImpl::decode` span and was just noticed that RedisCommandStats::histogram() seemed non-neglible. It's probably a very small win, so not worth investing a lot of effort.

[2020-05-11 16:54] mpuncel commented on #11011
![Screen Shot 2020-05-11 at 12 53 46 PM](https://user-images.githubusercontent.com/1444855/81588482-943abe80-9386-11ea-927f-0f24045c717f.png)

[2020-05-11 17:11] jmarantz commented on #11011
I think the svg you sent is not the same as the one above; is that possible? In any case, if you hover over the call to `RedisCommandStats::histogram()` in your SVG, it should tell you the overall percentage of the run, which will help give more perspective of the potential upside. Thank you!

[2020-05-11 17:11] htuch commented on #11131
@alyssawilk see https://github.com/envoyproxy/envoy/security/policy#released-versions-and-master-branch for the policy around recently introduced bugs. Ideally we follow that or update it; is 5 days too short?

[2020-05-11 17:25] gongcon commented on #11093
Confirmed that it's caused by HTTP/1.0 heath check requests. Can it be fixed?

[2020-05-11 17:27] alyssawilk commented on #11131
Ah yeah, policy LGTM, but will take the discussion of application to slack

[2020-05-11 18:08] mike1808 commented on #11076
@dio thanks! It will be nice to add that to the examples.

[2020-05-11 18:14] gituserjava commented on #11129
@ramaraochavali , does it log request headers also? which version of envoy do we have it?

[2020-05-11 18:46] junr03 commented on #11134
cc @PiotrSikora

[2020-05-11 19:37] junr03 commented on #11121
This would be awesome! I have https://github.com/lyft/envoy-mobile/issues/124

[2020-05-11 19:44] #11032 closed

[2020-05-11 19:53] alyssawilk commented on #11099
Hmmm.
Well I'm unable to repro exactly - you went and made this awesome clean reproducible docker set up case and I went and stripped it down so I wasn't running anything I didn't grok (alas, security).  I snagged your go and just had it auto-return error, and ran your configs locally sans docker
../bazel-bin/source/exe/envoy-static --config-path  ./envoy_l1.yaml -l trace
../bazel-bin/source/exe/e

[2020-05-11 20:08] lambdai commented on #11124
I haven't dig into it. I thought it was libevent cannot bind to both v6 and v4 at the same time. I was wrong: by default :: is bind to both 0.0.0.0 and :: in libevent

I not sure what is blocking envoy from bind to both

[2020-05-11 20:40] mpuncel commented on #11011
I double checked that it's the same .svg, that image is just drilled in on what I understand to be the request handling part of the filter.

Hovering over `RedisCommandStats::histogram()` shows .59%, the entire of `Envoy::Extensions::NetworkFilters::Common::Redis::DecoderImpl::decode` is 3.63%. This Envoy instance is also handling other non-redis traffic which is why I was analyzing the stats time

[2020-05-11 20:56] pmahoney opened #11150 "In cluster of type STRICT_DNS, requests being routed to unhealthy hosts"
*Title*: *In cluster of type STRICT_DNS, requests being routed to unhealthy hosts*

*Description*:

I have this envoy config, running docker image `docker.io/envoyproxy/envoy-alpine:v1.14.1`

[code]

The `upstream` DNS name resolves to 100 individual IPs running a simple HTTP service. This service is a simulation of a another system, but simpler: 95 of these are configured to always respond with `

[2020-05-11 20:57] jmarantz commented on #11011
OK I found now the region of the svg you pasted from. Thanks! I had to learn how to navigate my way around an svg a little better in Chrome.

So there are some things to tweak here but will be pretty incremental, and the maximum overall throughput improvement will be pretty small overall I think, right?

Anyway I can cache a couple of things which may help a bit, but I don't think it's going to me

[2020-05-11 20:59] mpuncel commented on #11011
Yeah totally understood this stuff is all incremental, I just figured I'd share the flamegraph since I had it. This is also not a high priority on my end, the latency is still plenty good enough for us and the automatic sharding is awesome

[2020-05-11 21:26] lizan commented on #11130
sounds reasonable.

[2020-05-11 22:13] #10944 closed

[2020-05-11 23:42] #11131 closed

[2020-05-11 23:58] #10741 closed

[2020-05-12 02:05] dio commented on #11150
@snowp would you be able to look at this? Thank you!

[2020-05-12 02:07] dio commented on #11129
@gituserjava could you share relevant part of your config? Are you using HTTP or gRPC?

[2020-05-12 02:09] dio commented on #10692
Let me check this one.

[2020-05-12 02:11] dio commented on #11141
@p53 do you want to implement it? Will wait for your PR 🙂

cc. @adamkotwasinski

[2020-05-12 02:13] dio commented on #11120
@Shikugawa would you be able to help on investigating this?

[2020-05-12 02:18] dio commented on #6284
@ltagliamonte seems like this is already fixed, at least in the latest envoy. Please let me know if it is not true and feel free to re-open this.

[2020-05-12 02:18] #6284 closed

[2020-05-12 02:49] lambdai commented on #11124
I tried to understand where is the source of truth of that IPV6_V6ONLY sockopt is injected and i realize we could clear it...
[code]
[code]

Try below snippet of listener config
[code]

[2020-05-12 03:09] gituserjava commented on #11129
@dio , I am using gRPC. My configuration is basic as shown below. I also configured config.yaml with `decision_logs` for `console `set to `true`. I am looking for logging not just for `ext_authz` but all filters in general that are used in envoy so that i can trace the request with the incoming traceId in request.

[code]

[2020-05-12 03:16] lambdai commented on #11124
tl;dr
set ipv4_compat in listener address
https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/address.proto#core-socketaddress

[2020-05-12 03:46] antoniovicente commented on #579
Would it make sense to start by checking in a Doxygen config and instructions on how to generate docs locally?

[2020-05-12 05:27] Jingru opened #11156 "Support multiple headers with the same name in ext_authz filter"
Envoy ext_authz filter will overwrite previous value if the new value has the same header key.

However, in kubernetes authenticating proxy: https://kubernetes.io/docs/reference/access-authn-authz/authentication/#authenticating-proxy, I have to add multiple headers with the same --requestheader-group-headers name if this user belongs to multiple groups cause groups concatenated by comma won't be s

[2020-05-12 06:13] p53 commented on #11141
i would like to, but i don't have any experience with C++

[2020-05-12 11:26] apocello2008 opened #11159 "INVALID_ARGUMENT:compressor_library: Cannot find field"
Command:

Config:
[code]

Log:
[code]

[2020-05-12 13:20] rojkov commented on #11159
Thank you! I see there's a mistake in the doc. Could you please replace `type.googleapis.com/envoy.extensions.filters.http.compressor.gzip.v3.Gzip` with `type.googleapis.com/envoy.extensions.compression.gzip.compressor.v3.Gzip` in the `@type` field of `compressor_library`?

[2020-05-12 13:28] apocello2008 commented on #11159
Thanks for response guys! But replacing string not help =(
[code]

[2020-05-12 13:41] rojkov commented on #11159
Hm.. that's odd. There's one more typo, but my Envoy can find `compressor_library` successfully with this gate.json (I updated the value of `compression_level`):
[code]

[2020-05-12 14:05] apocello2008 commented on #11159
With this config i have same error:

[code]

[2020-05-12 14:09] rojkov commented on #11159
I see. The compressor filter hasn't been released yet. It's expected in v1.15.0.

[2020-05-12 14:12] apocello2008 commented on #11159
Wow! Thanks for information! Where i can find 1.15v binaries for ubuntu-server?

[2020-05-12 14:21] rojkov commented on #11159
Honestly I don't know since v1.15.0 doesn't exist yet. I build binaries from sources always.

[2020-05-12 14:34] rojkov commented on #11159
Though the [gzip-filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/gzip_filter) can still be used in v1.14.1.

[2020-05-12 14:52] dio commented on #11159
@apocello2008 you can get it from https://hub.docker.com/r/envoyproxy/envoy-dev/tags

e.g. this one: docker pull envoyproxy/envoy-dev:e171cf957df1fd58e1877cee847232d52a6a8a3a

You can always extract `/usr/local/bin/envoy` inside that image and run it on ubuntu-server.

[2020-05-12 15:05] sp-manuel-jurado commented on #11099
Hi @alyssawilk,

here the traces: https://gist.github.com/sp-manuel-jurado/5b0bc9cbf630685cf46d05a1a1411ef0

- For envoy_l1 I've enabled `-l trace`
- For envoy_l2 I've enabled `-l trace --base-id 3`
- https://github.com/sp-manuel-jurado/envoyproxy-envoy-issues-11099/commit/332d5a2750f693168bb16b400ec76a62d348cf9a

I checked using `envoy-alpine-debug-dev:bcc3050f7385a3f67c1b62b8779c44c7cece6b10` ht

[2020-05-12 16:16] snowp commented on #11150
You're probably hitting panic mode: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/panic_threshold

[2020-05-12 16:35] mattklein123 commented on #9662
Unfortunately the learn materials on the website are unmaintained and we don't have any ability currently to run config checks on that material like we do on the primary docs site.

I think we either have to find an owner of this material or we need to delete it. cc @envoyproxy/maintainers

[2020-05-12 16:46] mattklein123 commented on #11093
@gongcon there isn't enough info to fix the bug. Can you investigate more and/or please provide a flame graph that shows Envoy symbols? You need to use a binary with symbols.

cc @alyssawilk

[2020-05-12 16:58] mattklein123 commented on #11124
Oh nice find, thanks @lambdai. @lolin9 is it still worth tracking allowing a listener to bind to multiple addresses/sockets or is this good enough for your use?

[2020-05-12 16:58] #10764 closed

[2020-05-12 17:17] alyssawilk commented on #11099
OK, I think I see the problem.

I'm seeing the router receiving headers with content-length: 5 but end_stream=true
then your L1 resets due to messaging violation (my guess due to that content length not matching end stream) which is a reasonable thing.

It looks like on the response path due to the withheld frames, the content length is adjusted to accommodate the frames, but because it's a header

[2020-05-12 17:22] rkbalgi opened #11164 "docs: Consistent definition of overprovisioning_factor"
There is a bit of inconsistency in how default overprovisioning_factor is used in the docs.

In here - https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/overprovisioning
__until the percentage of available hosts multiplied by the overprovisioning factor drops below 100. The default value is 1.4__

And here .. https://www.envoyproxy.io/docs/envoy/latest/api-v3/

[2020-05-12 17:32] mabukhovsky commented on #10914
@mattklein123 Thank you for confirmation. Does it mean it is in Beta? Or it has been tested and is suitable for production?

[2020-05-12 17:34] alyssawilk commented on #11093
Also curious, can you try running from HEAD and seeing it reproduces?  We just fixed a bug with HTTP/1.0 with regards to connection: close - I could imagine if one side was not closing a non-keep-alive HTTP/1.0 connection correctly that the delay-close time could result in that 1s delay you describe.

[2020-05-12 17:35] alyssawilk commented on #11093
(Would still love to see the flame graphs either way though - the high CPU implies something is spinning while in that state which is surprising and likely buggy)

[2020-05-12 17:47] snowp commented on #11099
I think that fix should do it, the code just blindly assumed that there would be a payload in the response. Another way of doing it would be to have the content-length adjustment do nothing if the upstream content-length is 0.

[2020-05-12 17:49] laltralt opened #11165 "glibc issue with latest envoy image"
envoy: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.27' not found (required by traffic-director/envoy)"

[2020-05-12 17:51] laltralt commented on #11165
@lizan

[2020-05-12 17:57] moderation commented on #9662
My $0.02 is that it's going to be a huge amount of work to update this content for the current API and releases. It will then be a huge amount of work to continue to update the content going forward. In the likely event that there won't be someone willing to take this on I'm in favor of deleting.

[2020-05-12 18:21] pmahoney commented on #11150
@snowp That's it, thank you very much.

Adding
[code]
to my cluster config makes envoy route to the 5 healthy hosts "fast" and skip the 95 unhealthy.

I suppose this is a slightly strange use case. For what it's worth, I'm experimenting with ways to load balance a service that can only process a single request concurrently.

[2020-05-12 18:23] #11150 closed

[2020-05-12 18:40] alyssawilk commented on #11099
Cool, will have a fix out shortly.
In the meantime @sp-manuel-jurado I think  you may be able to work around this bug by simply not sending the zero content length header (if your go server allows it) since we only adjust the content length if the header is present.

[2020-05-12 19:25] #11021 closed

[2020-05-12 19:46] ggreenway opened #11167 "Consider abbreviated security release process for issues found on master (not yet in any release)"
Envoy has a security release process. However, it doesn't fit well for issues found on master, and not yet in any release.

We should consider creating an abbreviated process for notifying interested parties, and releasing the fix in a shorter window of time.

Some discussion on the issue: https://github.com/envoyproxy/envoy/pull/11148#discussion_r423221002

[2020-05-12 20:40] dr0pdb commented on #11000
@efimki Hi, I am a student trying to work on this.

Where should this stat go?
 https://github.com/envoyproxy/envoy/blob/master/include/envoy/config/grpc_mux.h#L16

or

https://github.com/envoyproxy/envoy/blob/master/include/envoy/config/subscription.h#L100

or somewhere else?

[2020-05-12 21:29] lizan commented on #11165
@laltralt Which image are you running? This is expected behavior and documented in latest [version history](https://www.envoyproxy.io/docs/envoy/latest/version_history/current):

[2020-05-12 21:36] efimki commented on #11000
I was thinking that it should go to ALL_SUBSCRIPTION_STATS, next to `version_text`.

[2020-05-12 21:42] mattklein123 commented on #9662
I agree that we should just delete it. I will wait for others to chime in and then just do it next week if no one comments.

[2020-05-12 22:11] laltralt commented on #11165
I am using envoyproxy/envoy-dev:latest, so looks this is a hard requirement to have glibc >= 2.27 moving forward?

[2020-05-12 22:20] jmarantz commented on #9662
deletion sgtm

On Tue, May 12, 2020 at 5:42 PM Matt Klein <notifications@github.com> wrote:

[2020-05-12 22:22] #10877 closed

[2020-05-12 23:08] mrturkmen06 commented on #10514
It does not have any problem regarding to version v1.12.0. I am noting it down here, if any of you would like to have quick solution, until the bug fixed.

[2020-05-13 05:34] lizan commented on #11165
Are you running the image directly or copying the binary out of the image? The image itself runs fine with `docker run`.

[2020-05-13 05:37] lizan commented on #11165
[code]

[2020-05-13 05:54] jsalgado78 commented on #10990
I've very interested in envoy as a forward http proxy, like nginx proxy_pass, with set/add http headers capabilities. Is it possible ?

[2020-05-13 06:24] #10652 closed

[2020-05-13 10:04] nbeny opened #11174 "no healthy upstream on EDS cluster"
hi, I search a lot on every issue you have. And I don't success to solve my error 'no healthy upstream' in my browser with a dynamic configuration.

here is my configuration : (the address use can be curl and are expose as needed by docker)

# envoy.yaml
[code]
lds.yaml
[code]
rds_https.yaml
[code]
cds.yaml
[code]

eds.yaml
[code]

my logs on listeners https:
[code]

my logs on request:

[code]

m

[2020-05-13 10:33] dio commented on #11174
@nbeny I think `lb_endpoints` is an array.

An example here:
https://github.com/envoyproxy/envoy/blob/c5c1e5bb6570f81f30dd48d8b379392c84e81fe0/examples/front-proxy/front-envoy.yaml#L41-L42

[2020-05-13 11:07] nbeny commented on #11174
@dio I test this solution, but it doesn't solve the problem.
It is an array but if you have only one field you can not use array (my logs config file don't show me any error about it).
Thanks for the answer !

[2020-05-13 11:15] dio commented on #11174
Hum, weird. I tested in my local it does work removing the following error logs:

[code]

[2020-05-13 11:40] Shikugawa commented on #11120
@dio Yes, I'll investigate about this problem.

[2020-05-13 11:40] nbeny commented on #11174
exact, It was a bad alignement. I can see it in the logs config now:
[code]
but it give me an error what I'm doing wrong for get an error on this ? I'm sorry for it...

[2020-05-13 11:41] sp-manuel-jurado commented on #11099
Thx @alyssawilk for finding the bug.
Related to workaround, unfortunately, go server, as the standard way, (It seems) even if you delete content-length: 0 header it injects it automatically (in case there is no content).
Also, I did the workaround in PHP. It allows to delete de content-length header. There is no longer: "connection termination" but grpc-message header seems that It isn't propagate

[2020-05-13 12:30] #1630 closed

[2020-05-13 12:52] alyssawilk commented on #11099
Ok, that's just whacky.  The only place I see removeGrpcMessage in the code base is the grpc_json_transcoder which you're not using.
We set it in 4 places - where we send a local reply (this is clearly a proxied response given the powered by PHP), the bridge and transcoder filters (not using) and in the reverse bridge filter iff the content type is bad, but then it'd be present not reomved.  Are y

[2020-05-13 13:05] dio commented on #11174
@nbeny, could you try this?

[code]

[2020-05-13 13:36] nbeny commented on #11174
yes of course, I got this log:

[code]

line 18 because I got comments:

[code]
this is signaled by vs code yaml too on reactjs-client

[2020-05-13 13:55] moderation commented on #10990
There is Dynamic Forward Proxy and SNI dynamic forward proxy capability

Dynamic forward proxy

- https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/http_proxy
- https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/dynamic_forward_proxy_filter
- https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/dynamic_forward_proxy/v3/dynamic_forwa

[2020-05-13 14:24] #10638 closed

[2020-05-13 15:35] sp-manuel-jurado commented on #11099
Hi @alyssawilk,

yes upstream in http1.1 is returning grpc-message header within "Invalid argument type".

Here the new traces (traces_02.log), only for rpc call to proxy level 1 (and removing `'Content-Length' => 0` header in upstream):
- https://gist.github.com/sp-manuel-jurado/daae663d057523c3342359851c57d515
(for security reasons I changed the rpc call info in the traces by rpc.TestService/Tes

[2020-05-13 15:47] htuch commented on #9662
@mattklein123 deletion unless CNCF will fund development. I think this is the kind of thing that needs a dedicated tech writer to do well ( that's how we got these in the first place, Turbine Labs made some really nice contribution there), it's hard to see how to crowd source updating and maintaining these.

[2020-05-13 16:06] mattklein123 commented on #9662
cc @caniszczyk ^ for FYI. I think we would be happy to have a tech writer maintain these docs but from a project maintainer perspective we can't do it. Will delete next week in the interim.

[2020-05-13 16:15] suvl commented on #10874
@mattklein123 is this a question? it's more kinda bug, envoy shoulnd't do TCP+TLS without the need for anything else?

[2020-05-13 16:39] nbeny commented on #11174
I found the solution, I having to slit my eds.yaml file by 3.
eds_go.yaml, eds_node.yaml and eds_front.yaml

Thanks a lot @dio ! I will close on this

[2020-05-13 16:39] #11174 closed

[2020-05-13 17:01] lucperkins commented on #9662
@mattklein123 If you’d like to request resources for this, I’d recommend submitting a help desk ticket.

[2020-05-13 17:04] mattklein123 commented on #9662
This is a large request for a long term tech writer. These docs will need to be continuously updated. Whenever I have made such a request in the past it has gone nowhere useful. If you believe that will be different I will file the request but I would rather not waste time if there is a very low chance of it happening.

[2020-05-13 17:07] ggreenway commented on #9662
I looked through some of those docs today, and there's some good theory content that is still accurate.

Instead of deleting, could we put a banner at the top of each page saying that the docs aren't maintained and that specific config snippets are probably outdated, but the high-level ideas may still be useful?

[2020-05-13 17:10] gongcon commented on #11093
Doesn't the one I posted earlier not including good flame graphs? What/Where is the binary with symbols?

I saw an HTTP/1.0 bug fix in 1.14.0 release note. That's why I tried it on. Isn't it the one you mentioned?
[code]

[2020-05-13 17:28] mattklein123 commented on #9662
We could do this. One option would be to delete the configs and leave the concepts. My fear is that it's a pretty bad look for the project to have a banner like this that says the docs are out of date and we know it.

[2020-05-13 17:45] alyssawilk commented on #11093
Unfortunately the fix I'm talking about is in 1.15-dev (head) though if it
helps your case I'll tag it for backporting

* http: fixed several bugs with applying correct connection close behavior
across the http connection manager, health checker, and connecti
on pool. This behavior may be temporarily reverted by setting runtime
feature `envoy.reloadable_features.fix_connection_close` to false.

On

[2020-05-13 17:47] ggreenway commented on #9662
Yeah, that's a good point. Probably not a good idea.

[2020-05-13 18:02] apocello2008 commented on #11159
Thanks! After compile from this repo all good.

[2020-05-13 18:02] #11159 closed

[2020-05-13 18:05] gongcon commented on #11093
How to set the switch of `envoy.reloadable_features.fix_connection_close`? I would like to try it out in dev and let you know.

[2020-05-13 18:44] howardjohn commented on #11120
I suspect this causes other issues as well. We are seeing that if we do not include sds config in the XDS connection, we eventually have SDS permanently broken - clusters that reference sds secrets will be stuck warming forever.

We have 2 secrets throughout all config, the client cert and the root cert. If we add the cert to the xds cluster (enforcing SDS starts before XDS) then we never see the

[2020-05-13 20:25] erikbos commented on #6614
Does anybody have any pointers to blogs / papers about about considerations for multi region or global load balancing algorithms? (Useful for input into a designing a system which would leverage functionality like ORCA)

[2020-05-13 21:39] lolin9 commented on #11124
@mattklein123 and @lambdai thank you both, that certainly solves it. I actually tried it before opening this issue but when I used `netstat` to check whether the ipv4 socket is open I saw nothing. I hope you still consider having multiple addresses per listener since the `0.0.0.0` is a special case here. Duplicating the entire listener especially when having complex configuration with lots of HTTP

[2020-05-13 21:39] #11124 closed

[2020-05-13 22:26] mattklein123 opened #11184 "Support multiple addresses per listener"
Via https://github.com/envoyproxy/envoy/issues/11124. This would avoid mass listener duplication in cases where a listener config needs to be bound to multiple addresses.

[2020-05-13 22:26] mattklein123 commented on #11124
Agreed on multiple listeners. I opened https://github.com/envoyproxy/envoy/issues/11184 to track.

[2020-05-13 22:31] laltralt commented on #11165
I am extract envoh binary from docker image and run it. I can close the issue if it is hard required to have ubuntu 18.04 comes with glibc 2.27.

[2020-05-13 22:48] LisaLudique opened #11185 "max_program_size deprecated but still enforced by client"
Relevant Slack thread: https://envoyproxy.slack.com/archives/C78HA81DH/p1589406573415000

`max_program_size` from [RegexMatcher.GoogleRE2](https://www.envoyproxy.io/docs/envoy/latest/api-v3/type/matcher/v3/regex.proto#envoy-v3-api-field-type-matcher-v3-regexmatcher-googlere2-max-program-size) was deprecated in https://github.com/envoyproxy/envoy/pull/10971 in favor of having the control plane enfo

[2020-05-13 22:52] mattklein123 commented on #11185
cc @htuch @jmarantz @markdroth

Agreed, this is the simple fix and we should just do it. However, I still think this information has value Envoy side and I wonder if we should warn about it? But that could be done as a separate follow up. Potentially with a max program size driven from runtime or something? Curious of the thoughts of others here.

[2020-05-13 23:28] lizan commented on #11165
@laltralt yeah the binary in official image is supposed to run under its image environment (i.e. requires glibc 2.27), if you want to run on older platforms you can build yourself: see https://www.envoyproxy.io/docs/envoy/latest/install/building#requirements or use pre-built binaries provided in [getenvoy.io](https://getenvoy.io).

[2020-05-14 00:37] laltralt commented on #11165
@lizan, thanks for the information. Much appreciated! Will close this issue.

[2020-05-14 00:37] #11165 closed

[2020-05-14 04:35] ramaraochavali commented on #11185
Can we potentially add a histogram stat indicating the `regex_program_size` and log at debug/trace level the regex and program size - so that no additional config needed, but we get information needed?

[2020-05-14 08:27] weixiao-huang opened #11190 "Support SPDY"
In [envoy's documentation](https://www.envoyproxy.io/docs/envoy/latest/intro/what_is_envoy), it shows that it does not support SPDY. However, we usually want to use it in kubernetes' projects.
In `kubectl exec` command, it widely uses SPDY to connect with kube-apiserver. So is there some plan to support SPDY?

[2020-05-14 09:38] ThePlenkov opened #11191 "Improve response message when certificate is expired"
Hi! I'm  familiar with the product only as a user.

Recently we had an issue where all the responses from one of services returned 503 with response
[code]

Finally we found the root problem which was related to expired certificate. Do you know is it possible to implement this check on the proxy side and return this clear explanation as response.

That could help a lot and save much time on invest

[2020-05-14 10:47] vishmalviya opened #11192 "Thread Local Storage | Got Stucked"
**Overview of our task :**

We are trying to build few native filters  using c++ inside Envoy for which, we want to share some data fetched from external source to all the filters .In order to implement these filters we had wrote a simple header filter for local testing that will ensure when any client hit our service envoy will take care that using the filters we had implemented what are things t

[2020-05-14 13:49] Shikugawa commented on #11120
@howardjohn Got it. I think that `cluster_warming` and also `initial_fetch_timeout` is broken. It never counts `cluster_warming` and `initial_fetch_timeout`. Your problem would be caused by requesting an inactive SDS cluster. So we have two problems related to this issue. Is this right?

[2020-05-14 13:54] alyssawilk commented on #11093
For the flame graphs, becuse it's a static image and most of the function names are truncared we can't really tell what's going in.

Building from head, Envoy should have the fixed behavior by default.
If you want to verify that was the fix you can set that boolean false using regular runtime mechanisms (bootstrap config, RTDS etc.) to restore prior behavior.

[2020-05-14 14:13] moderation commented on #11190
HTTP/3 is the successor to SPDY and is still in the draft phase - https://tools.ietf.org/html/draft-ietf-quic-http. Work is being done in Envoy to support HTTP/3 but this is not yet enabled in the builds. I expect that once HTTP/3 is finalized support in Envoy will happen at some point.

[2020-05-14 14:21] alyssawilk commented on #11099
Ok, in this case looking here:
https://gist.github.com/sp-manuel-jurado/daae663d057523c3342359851c57d515#file-traces_02-log-L678

We're sending the full request headers, but it's not a header-only response.
I think in this case we hit the thing @snow and I discussed where we end up serializing an empty gRPC response (fine) and then synthesize trailers.  The trailers only capture the grpc-status fr

[2020-05-14 15:01] chradcliffe commented on #1451
I've been experimenting with the terminating CONNECT support on master and noticed some unexpected behaviour. The 200 response from Envoy does not get sent until actual TCP data is sent from the upstream. I thought it was an issue with my test setup, but then I decided to actually read the docs and found the following in the [section on HTTP upgrades](https://www.envoyproxy.io/docs/envoy/latest/in

[2020-05-14 15:27] sp-manuel-jurado commented on #11099
Related to `grpc-status-details` headers:
If a delete `Content-Type:0` and `grpc-status-details` (workaround) from http1.1 upstream (PHP)... same behavior occurs, nothing seems to change.

upstream http1.1 response (curl):
[code]

envoy L2 response (grpcurl):
[code]

envoy L1 response (grpcurl):
[code]

Once fix https://github.com/envoyproxy/envoy/pull/11166 is merged I can check again.

[2020-05-14 15:28] mattklein123 commented on #11190
SPDY is the precursor to HTTP/2 and is no longer supported, we won't implement it in Envoy. See https://github.com/kubernetes/kubernetes/issues/7452.

[2020-05-14 15:32] mattklein123 commented on #11185
Yeah I think we should do something like this, either with optional warnings, stats, etc. I think we should land Lisa's fix though since the current behavior is not correct, but let's discuss in the PR.

[2020-05-14 15:42] alyssawilk commented on #1451
Oh interesting, so in this case you need the payload data to be sent from the client, in order to trigger the server to send a response which causes the 200 headers?
Yeah, I can fix that.  Woo alpha testers!  :-)

[2020-05-14 15:44] mattklein123 commented on #11191
In general we can do a lot better here, and I think this will be possibly once we land https://github.com/envoyproxy/envoy/pull/11007. cc @qiwzhang

[2020-05-14 16:02] chradcliffe commented on #1451
So I think ideally the 200 response should be triggered by the upstream TCP handshake completion. The clients will typically wait on the response before sending any tunnelled payload.

[2020-05-14 16:29] gongcon commented on #11093
Not the jpg image, it's the [zip file](https://github.com/envoyproxy/envoy/files/4596234/envoy_flame_grpah.zip) -- github doesn't allow uploading svg files.

[2020-05-14 16:29] mattklein123 commented on #9662
Before we delete I'm going to see if I can get someone to sponsor this content. I will report back.

[2020-05-14 17:44] jhump commented on #11099
I'm not entirely sure I understand the issue. But do note that `grpcurl` just uses the Go gRPC runtime library for all of the connection and protocol handling. The latest release is using gRPC Go 1.28, but I am actually prep'ing a release to update that to latest (1.29).

[2020-05-14 17:49] alyssawilk commented on #11093
Ah sorry, the svg file is still  just telling me [envoy][envoy][envoy] for
non-kernel calls.

On Thu, May 14, 2020 at 12:29 PM Richard Gong <notifications@github.com>
wrote:

[2020-05-14 17:57] rvdisodia commented on #10990
Hi all,
I am also looking for a similar solution.
I need to configure a transparent forward proxy, which does no operation on the coming request just route it on the basis of domain, I don't want envoy to make any changes(L3/L4 to L7) to the input request.

With solution [#10756] we cannot specify a dns_resolver for the cluster. I have some constraints due to which cannot add the dns server in /et

[2020-05-14 18:58] mabukhovsky opened #11198 ""No TLS certificates found for server context" for common_tls_context with valid CRT file"
Hi guys, I have a listener with filters that forward requests to one of 2 dynamic_foward_proxy clusters (one for HTTPS, one for HTTP) traffic based on request header values. I would like this listener to be accessible only via https request and included corresponding filter_chain and common_tls_context pointing to a valid CRT file. However I'm still getting "No TLS certificates found for server co

[2020-05-14 20:29] htuch opened #11202 "Non-hermetic use of build_* dirs for tooling venv"
The Docker workflow for tools, e.g. `fix_format`, is generally very repeatable between CI and the local environment. The one exception is the use of `build_*` directories in the source tree for venv artifacts. This can become a problem if they are corrupted or out-of-date across major changes to how venv or tools work.

Possible solutions:
* Bazelify tools and make more of the Bazel native pip3 su

[2020-05-14 20:50] lambdai opened #11203 "Question: cluster host check, does it work?"
I configure a strict dns cluster with endpoints that can never be reached. Surprisingly the cluster is always warmed up.
I add the debug log and realize per host health check transition is never used.
Is it expected?

[code]
[code]
The cluster config I used:
[code]

[2020-05-14 21:20] lizan commented on #11198
For server context you need `tls_certificate` (not a validation context), which doesn't exist in your config.

[2020-05-14 21:29] lambdai opened #11205 "Can H2 CONNECT supported connpool be viewed as tcp conn pool?"
Thank @alyssawilk for adding H2 CONNECT in both HCM and tcp proxy.

I am exploring if H2 can be used as general tunnel, for network filters other than tcp proxy.

I realize most of the known terminated network filters are using `tcpConnPool` provided by `ThreadLocalCluster`, including `thrift proxy` and `dubbo_proxy` and `rocketmq_proxy`.

If we can provides a `ThreadLocalCluster::tcpConnPool()` b

[2020-05-14 21:54] KenjiChao opened #11206 "Feature request for router_check_tool"
We're migrating our company's reverse proxy to envoy. One thing we provide to our internal developers is a UI to test the routing table. They provide the URL and HTTP method, click a button, and it returns with the resolved cluster and endpoints.

In order to provide the same functionality after moving to envoy, we create a wrapper class for executing the router_check_tool. We need to intentionall

[2020-05-14 22:25] mattklein123 commented on #11206
cc @LisaLudique who probably has some thoughts on ^.

[2020-05-14 22:26] mattklein123 commented on #11203
Are you saying that health checking is not correctly working with strict DNS clusters? If so this is a regression or maybe was always broken, I'm not sure?

[2020-05-15 00:16] junr03 opened #11210 "macOS CI: fails to correctly link bazelisk"
Azure pipelines agents are not correctly installing/linking bazelisk via https://github.com/envoyproxy/envoy/blob/master/ci/mac_ci_setup.sh. All calls to `bazel` are using the installed system binary, not the version requested by `.bazelversion`. This is not an issue in master currently because what is installed and the `.bazelversion` is the same (3.1.0). However, if the versions are different pr

[2020-05-15 00:18] junr03 commented on #11210
Some work was done previously in https://github.com/envoyproxy/envoy/pull/10357 which seemed to fix it at the time, but a recent update to azure pipeline agents might have re-broken

cc @sunjayBhatia @keith @lizan

[2020-05-15 01:12] mmatusiak-atlassian opened #11211 "Circuit breaker inadvertently tripped when upgrading from 1.12.3 to 1.14.1"
Hi,

At Atlassian we are a pretty big user of envoy (a few thousand services). We recently upgraded from 1.12.3 to 1.14.1 and we discovered that the circuit breaker behavior, given our existing configuration, had changed.

Our config up to that point had intended to disable circuit breakers on the ingress by default, and so we had:
[code]

We discovered that as of 1.14.1 there was a circuit breake

[2020-05-15 02:21] lizan commented on #11210
didn't https://github.com/envoyproxy/envoy/pull/11181 fixed this?

[2020-05-15 02:31] antoniovicente commented on #4952
The lack of libevent APIs that allow us to instrument the start/end of an iteration should be fixed one way or another.  Step 1 may be to send a PR to our friends at libevent to add hooks before and after the call to evsel->dispatch(), and at the bottom of the loop at event_base_loop: https://github.com/libevent/libevent/blob/master/event.c#L2025 .  The alternative is to go replace libevent.

The

[2020-05-15 02:36] sunjayBhatia commented on #11210
We could request they do things differently in the macos image, their install scripts aren’t published yet but they say they are open to issues: https://github.com/actions/virtual-environments (“ Where is the macOS source? We are in the process of preparing our macOS source to live in this repo so we can take contributions from the community. Until then, we appreciate your patience and ask you con

[2020-05-15 02:39] sunjayBhatia commented on #11210
The blame on when they bumped bazel/bazelisk is recent: https://github.com/actions/virtual-environments/blame/master/images/macos/macos-10.15-Readme.md#L69

[2020-05-15 03:05] htuch commented on #4952
@antoniovicente @mergeconflict added prepare/watch-like support in https://github.com/libevent/libevent/pull/793. Is this sufficient for what you want to do or are there new hooks needed?

[2020-05-15 03:18] dio commented on #11211
Probably @alyssawilk has the context for this?

[2020-05-15 03:24] junr03 commented on #11210
I don’t think so. Per the link I posted above https://github.com/envoyproxy/envoy/pull/11208

[2020-05-15 03:26] keith commented on #11210
It did change the failure on envoy mobile so I think it got past this. So
maybe it could have fixed the problem there but not on Azure?

On Thu, May 14, 2020 at 20:24 Jose Ulises Nino Rivera <
notifications@github.com> wrote:

--
--
Keith Smiley

[2020-05-15 03:26] htuch commented on #6614
That's a great question @erikbos. @alexburnos @antoniovicente are you folks aware of any public material that talks to how backend named costs would integrate with global LB?

[2020-05-15 04:39] mabukhovsky commented on #11198
@lizan Thanks for quick response. Per your clue I've modified dynamic_forward_proxy_cluster_tls config to include tls_certificate. Now server starts successfully.
[code]
When I'm trying to make HTTPS connection to the server (https://envoy-proxy:10324/) I'm hitting the following issue.
[code]

[2020-05-15 06:30] LisaLudique commented on #11206
@KenjiChao Just so I understand correctly, there seem to be 2 asks for support:
1) a function/API that given the test inputs returns (information about) the matched route. This is different from the current unit test-based workflow that the route checker tool supports but I think it's a valid use case and shouldn't be too hard to expose since that logic is already built into the tool.
2) adding a

[2020-05-15 10:09] #10364 closed

[2020-05-15 13:29] sojo101 opened #11214 "Using Envoy without Docker"
Hi,

Is there a properway to get envoy on a machine without using docker. I tried to install the getenvoy, but the issue is, it is not working properly with the example given in envoyproxy.io. It was giving error on not finding names like envoy.filters.network.http_connection_manager and other syntax errors, for few I was able to find the alternative but for others it was very tough to debug the i

[2020-05-15 15:23] snowp commented on #11211
@ggreenway

[2020-05-15 15:24] mattklein123 commented on #11211
Yes, this is good feedback. We actually had a similar problem at Lyft and had to temporarily revert the new connection pool behavior. I think we could have done a better job here of calling out the implications of this change. cc @tonya11en

[2020-05-15 15:51] htuch commented on #10976
@howardjohn this turns out to be tangentially related to your report, I'm working on a fix. Both this bug and yours involve SDS initialization throwing an exception, but it happens in different places and for different reasons (missing cluster in config vs. filesystem issues after subscription start and refresh). For posterity, can you dump your log/config here? Thanks.

[2020-05-15 16:16] ggreenway commented on #11211
One idea is to break up the release notes into some different sections: new features, deprecations, behavior changes from a previous version, and configuration changes. There would be some overlap sometimes, but some duplication would be ok.

When someone is evaluating a version upgrade, the first question is usually "will anything break", and they could answer that by looking at behavior and conf

[2020-05-15 16:19] #11099 closed

[2020-05-15 16:52] mattklein123 commented on #11211
I like the idea of breaking up the release notes into different sections.

[2020-05-15 16:52] ankatare opened #11215 "Broken links and typos"
Found following issues in docs.

1. Broken links:  **404 error** in below path:
File:  https://github.com/envoyproxy/envoy/blob/master/PULL_REQUESTS.md
section: Runtime guard -> contributing doc link.

2. Typos in below path:
File : https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/fault_injection
Step-3 - > Terminal-2 Section
Typo in : Fauilt injection is configured in **Evoy** but turn

[2020-05-15 19:55] lizan commented on #11214
@sojo101 which version of getenvoy (i.e. `envoy --version`) and which example given in envoyproxy.io were you trying to use? The names like `envoy.filters.network.http_connection_manager` are added in [1.14.0](https://www.envoyproxy.io/docs/envoy/latest/version_history/v1.14.0#deprecated), so the issue you were seeing are also applicable to official docker release images.

[2020-05-15 20:06] ahedberg commented on #10917
/assign ahedberg

[2020-05-15 20:11] mattklein123 commented on #8416
Doc has been heavily edited based on initial comments. I think it's ready now for wider review. PTAL.