[2019-07-29 00:57] andye2004 commented on #7421
Not really stale, would be nice to get some feedback, @htuch @rshriram ?

[2019-07-29 01:06] lizan commented on #6846
@hanoisteve if you're client is protobuf aware but not gRPC, I'd recommend grpc-web or grpc_http1_bridge, transcoding is not for that use case anyway.

[2019-07-29 01:09] lizan commented on #6846
@sgammon I'm happy to debug more if you can provide a full config with proto, sample request and your expectation. As I couldn't debug based on my speculation anymore from here.

[2019-07-29 01:48] htuch commented on #7421
I think this speaks to the relatively inflexible nature of how Envoy's filter chains work. They are created per-virtual host, so it's not really possible to have distinct filter chains per virtual host without playign tricks like the per-filter config in the `RouteConfiguration`. Design proposals welcome if this is a serious impediment at your end.

[2019-07-29 02:00] fentas commented on #7742
Can not do. Using `httpCall` https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/lua_filter#httpcall

[code]
This will not work as `httpCall` accepts only `[sting]string`.
If I could initialize a `header` object and use it instead, this would be perfect.

[2019-07-29 02:12] #7423 closed

[2019-07-29 03:42] mattklein123 commented on #7742
I see, OK. Marking enhancement / help wanted.

[2019-07-29 07:26] lukidzi commented on #7537
I've created a doc with config proposition:[Doc]( https://drive.google.com/file/d/0B0W-k0vFUT2gOVE0ajNjbTNrMmcza1VENzh4aFBjTG5JQ05v/view?usp=sharing). Feel free to comment

[2019-07-29 07:49] hbgongen opened #7748 "Can I use Envoy_log() to print some debug infos or log in the files?"
for title,i want to know how to use this func.thanks,or other way i can debug in the code.

[2019-07-29 12:57] dio commented on #7742
@fentas, sorry to clarify, so you want to have a prepared `headers` object (so you can `:add()` or `:set()` etc) and be able to send as an argument for both `request_handle:httpCall()` and `request_handle:respond()`?

[2019-07-29 13:10] fentas commented on #7742
`headers` object would be one solution, and maybe the most elegant as this object exists already and can handle this.
Another would be that header could except also a table as value (like nginx lua does it).

The end goal would be that `request_handle:httpCall` and `request_handle:respond` could handle duplicate keys like `Set-Cookie`.

[2019-07-29 18:22] derekargueta commented on #7748
If you're referring to writing a custom extension then yes, you can use the `ENVOY_LOG` macro to emit your own messages to the Envoy log. The class you log from needs to inherit the `Logger::Loggable` interface with one of the log identifiers in the template. For example:
[code]

To use the `main` logging identifier.

[2019-07-29 18:34] kyessenov opened #7751 "api: model edge and middle proxies in tracing configurations"
Reference: https://github.com/envoyproxy/envoy/pull/7723

The existing traffic direction configuration provides two options: ingress and egress.
For Envoy deployed as a middle or an edge proxy, there is no guideline for setting this option.
The option affects the behavior of the tracing engine (e.g. whether to open or close a span).
Edge/middle (which are sometimes combined) may perform at least t

[2019-07-29 20:27] #7595 closed

[2019-07-29 22:46] jstewmon commented on #7742
I've made the following related observations:

1. It appears impossible to receive multiple values with the same header (e.g. `set-cookie`) from `httpCall` b/c the `headers` result is a table of strings.
2. The `handle:headers():get(name)` method can only be used to access the first value of the given header name. To access all values of a header by name, one must iterate `pairs(handle:header())`

[2019-07-29 22:48] sidmalik123 opened #7753 "Envoy v1.11.0 removing content-length = 0 header and adding transfer-encoding = chunked header"
This happens when:
1. Envoy's version is v1.11.0, does not happen with v1.10.0
2. A request comes in without a request body, that is it has `content-length: 0`. So a POST request with a non-empty body doesn't show this behavior
3. Both ratelimit and ext_authz filters are enabled, if only one is enabled then this doesn't happen
4. The ratelimit service is called for the request using  the `envoy.ra

[2019-07-30 00:18] kyessenov commented on #7719
/assign @qiwzhang
as an active maintainer in there. I couldn't build it with latest bazel, so it might need some build maintenance

[2019-07-30 00:35] nmnellis commented on #5998
I was just trying to implement this in order to fix the issue with grpc-json transcoder not placing error messages and codes in the body. https://github.com/envoyproxy/envoy/issues/3383

[2019-07-30 00:48] lizan commented on #7647
cc @rnburn for OpenTracing C++ visibility.

I guess this is a bug of either libstdc++ or opentracing-cpp, the `FlushSpans` failure is kind of critical as it produced incomplete JSON and likely broken too in production.

There is no perfect solution at this moment, some workaround:
- use libc++ by using `--config=libc++` to bazel, though this requires rebuilding dynamic_ot tracer with libc++ too, t

[2019-07-30 01:06] lizan commented on #4251
I think now is a good timing to revisit on this, we don't have prebuilt dependency anymore and have ability to statically link with libc++.

Pros:
- there's significant memory benefit to the strings in libc++. (by @jmarantz)
- #7647 to unblock upgrading build infra to ubuntu 18.04 which was discussed before. Consistent C++ standard library for different distros.

Cons:
- Breaks existing ABI compat

[2019-07-30 02:49] mattklein123 commented on #4251
In general I like the idea of a consistent stdlib everywhere, but what does the production usage of libc++ look like? Is it stable? Agreed let's discuss on the next call.

[2019-07-30 04:04] bitsmaker commented on #7738
curl response
[code]

[2019-07-30 08:46] objectiser commented on #7751
@kyessenov I think I need more context about what a "middle/edge" proxy is?

For example in Istio there is currently a proxy associated with each of the Ingress and Egress gateways, and also a proxy associated with workloads that trace inbound & outbound traffic from that workload.

How does the concepts of middle and edge proxy relate to this example - or are they different?

[2019-07-30 08:56] andrewtikhonov commented on #7025
How do i implement such changes in c++ ?

[2019-07-30 11:35] jlspyaozhongkai opened #7759 "No exception in this case in DubboHessian2SerializerImpl::deserializeRpcResult"
https://github.com/envoyproxy/envoy/blob/3a7f9d9ae60abaa3546a5e28afba0815a2642782/source/extensions/filters/network/dubbo_proxy/dubbo_hessian2_serializer_impl.cc#L58

  case RpcResponseType::ResponseWithException:
  case RpcResponseType::ResponseWithExceptionWithAttachments:
  case RpcResponseType::ResponseWithValue:
    result->setException(true);
    break;

and no value in this case

case RpcRe

[2019-07-30 12:50] #7613 closed

[2019-07-30 14:39] moderation commented on #7363
0.10.1 released - https://github.com/lightstep/lightstep-tracer-cpp/releases/tag/v0.10.1

[2019-07-30 16:49] sgammon commented on #6846
@hanoisteve and @dio, thank you for the comments here, let me take a look and post back

@dio, the expectation would be `GET /sample` in your question. we're wanting to replace Endpoints Service Proxy with Envoy.

[2019-07-30 17:12] qiwzhang commented on #7025
@andrewtikhonov I am OK to implement such verification feature in jwt_authn filter.

[2019-07-30 17:37] kyessenov commented on #7751
Gateway proxy would be an example, or a k8s ingress proxy. It is any proxy that is not directly associated with a user workload. Istio models gateways as a client proxy for the mesh (all requests are marked as inbound), but it has a problem that requests coming from inside the mesh to the gateway are not represented properly.

[2019-07-30 17:39] mattklein123 commented on #7537
@lukidzi at a high level this is on the right track. I would say let's start to implement and we can discuss in code review. Please start with the API first and let's review that before you do a bunch of implementation. Note that as I already mentioned I want to make sure that https://github.com/envoyproxy/envoy/issues/6166 fits into this also (https://github.com/envoyproxy/envoy/pull/6261). cc @z

[2019-07-30 17:48] lizan opened #7763 "support URI Template based route match"
*Description*:
This was a part of discussion for https://github.com/envoyproxy/envoy/issues/7728 but a separate issue, to add full or subset of URI Template (RFC6570) based route matching. The URI Template is already used in OpenAPI spec and gRPC JSON transcoding binding.

It will reduce the use case for regex as I see many use of regex is to support this.

[2019-07-30 17:54] htuch commented on #7529
From what @sschepens says, it seems likely this is some function of some change in Cluster state that is happening across the Envoys.  I wonder if https://github.com/envoyproxy/envoy/blob/23d481ed4d55b60bb5a93ceb29039b409c7cc40a/source/common/config/grpc_mux_impl.h#L67 is the culprit; for non-ADS, it will send an empty message once the cluster responsible for an EDS stream is destroyed.

[2019-07-30 18:05] jstewmon commented on #7742
I was looking around to see if there is any other known, valid case for multiple HTTP headers with the same name, and `set-cookie` is the only example I can find. It's actually mentioned in the [HTTP/1.1 Spec].

I think a reasonable path forward would be to have special handling of the `set-cookie` header (this is what Node.js does).

For all cases where `set-cookie` is a key, the value can always

[2019-07-30 18:07] lizan commented on #7728
FWIW this is the underlying bug: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=86164

[2019-07-30 18:18] lizan commented on #4251
Recap from community meeting:
- No objection to switching so far
- re stability: Chrome uses it in all OSs, macOS uses it by default, Google using it heavily internally.
- Might need to release as a separate image for a while as it breaks backward compatibility (ref. #7582)

[2019-07-30 18:29] lizan commented on #4251
#7728 is another bug that caused by libstdc++ in current release. While std::regex is not doing much better job in libc++ anyway, having a consistent standard library with the fuzzing infra seems a win here.

[2019-07-30 19:10] objectiser commented on #7751
Ok thanks for the explanation.

I think one of the issues is the use of Ingress/Egress concepts in envoy vs as a mesh ingress/egress in something like Istio.

As part of https://github.com/envoyproxy/envoy/pull/7723, maybe it would be a good idea to have the re-named traffic direction values of Inbound and Outbound, instead of Ingress and Egress.

Then to address your requirement, if we had a "tra

[2019-07-30 20:11] mmahimtura commented on #7738
I was able to print the grpc logs and its complaining (not 100% sure) about the missing header te
[code]

[2019-07-30 20:35] mmahimtura commented on #5541
Is my issue related?
https://github.com/envoyproxy/envoy/issues/7738

[2019-07-30 20:58] naftulikay opened #7766 "Connection Terminated During Envoy Reload"
**Title**: *Connection Terminated During Envoy Reload*

**Description**:

At my organization, we are preparing a large-scale Envoy deployment for serving all network traffic at the edge on ingress to our network. We are using static configuration files on disk and using the Python reloader script to execute hot reloads when our configuration on disk changes.

We have conducted load tests using an

[2019-07-30 21:03] mmahimtura commented on #4291
Is my issue the same as this one?
https://github.com/envoyproxy/envoy/issues/7738

[2019-07-30 21:24] KenjiChao opened #7767 "HTTP filters that put after envoy.router don't work but envoy can still boot up with that configuration"
*Title*: *HTTP filters that put after envoy.router don't work but envoy can still boot up with that configuration*

*Description*:

I'm trying to add the buffer filter to the http filters list so that we can set max request size. What I observed is that if I put the buffer filter after envoy.router filter, I don't get a 413 response  when sending a request with a large file, but envoy can still bo

[2019-07-30 23:02] jyotimahapatra commented on #7567
https://github.com/envoyproxy/envoy/pull/7768/files

[2019-07-30 23:02] jyotimahapatra commented on #7567
https://github.com/envoyproxy/envoy/pull/7727/files

[2019-07-30 23:10] #7611 closed

[2019-07-30 23:14] dio commented on #6846
@sgammon hum, that should work no? e.g. this is a repro of the above proto: https://github.com/dio/issue-6846. Please let me know if this doesn't really match your settings (though this focuses only on transcoding part)

[2019-07-30 23:23] incfly commented on #3431
I've started spending some time on this FR and @mattklein123 maybe we can update assignees to avoid potential duplicate work?

One question, what will be a feature guarding mechanism recommended to control this pool selection behavior change? A flag or a field under api/cluster or something else?

[2019-07-30 23:27] mattklein123 commented on #7766
2 things:

1) Upgrade so you have https://github.com/envoyproxy/envoy/pull/6848.
2) Make sure `--drain-time-s` is less than `--parent-shutdown-time-s`

[2019-07-30 23:34] dschaller commented on #7567
Oh nice! I didn't even see this :)

[2019-07-31 00:17] mattklein123 commented on #3431
@incfly I assigned the issue to you. In terms of configuration, yeah, I think we need to look at some config on the cluster, similar to how we configure http/1 vs. http/2 today. TBH I'm not thrilled with how this is all configured today, but we can clean this up in v3 cc @htuch. I would take a stab at something and we can talk about it in CR. Thank you!

[2019-07-31 01:53] cwultia opened #7770 "Questions Lua body replacement"
Hello all,
is there a function to change the body?
I tried to use lua functions that are in the document, but only available to replace headers. Is there an example script to change the body response. example:
**original response body:**
[code]
and i want replace "bar" into "hi", become:
[code]
try response_handle:body():replace("bar", "hi")
but not working.
thanks and sorry my bad english.

[2019-07-31 02:05] bitsmaker commented on #7738
Can someone in the contributors please look at this issue? It is hampering me from moving forward. I have already done the analysis and found that the envoy proxy is not sending the 'TE' header as expected by gRPC.

[2019-07-31 02:49] fentas commented on #7742
yeah I believe there is only one meaningful header with duplicate keys. Less meaningful headers are e.g. `Warning` but these ones will be or already are deprecated.

[2019-07-31 02:53] nvcnvn commented on #5142
Can you give an example for gRRC route matcher.
I'm facing similar issue but very new to Envoy.
Thanks

[2019-07-31 03:15] yangminzhu opened #7771 "Enhance and extend the Header-to-Metadata filter"
*Title*: Enhance and extend the Header-to-Metadata filter

*Description*:
The dynamic metadata is the key component for exchanging information between filters in Envoy, but the limitation is it's hard to exchange information across envoy.

The [Header-To-Metadata](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/header_to_metadata_filter) filter makes this easier as it could

[2019-07-31 04:29] kyessenov commented on #7771
The code to perform the exchange is fairly simple (see implementation https://github.com/istio/proxy/blob/master/src/envoy/http/metadata_exchange/config.cc). I think this is mostly the question whether doing it's preferable to do it at runtime-as-a-filter/plugin vs control plane xDS. My opinion is to push this functionality into core envoy (as a filter) since then we can reuse the produced dynamic

[2019-07-31 06:24] aclowkey opened #7774 "How to create a GRPC Access Log Service?"
I'm confused about the ALS,
Am I supposed to use the .proto file to generate the GRPc service, or what?

Thanks for guidance

[2019-07-31 06:34] oblazek opened #7775 "Connection gets closed multiple times when downloading 1GB file using HTTP filter (HCM)"
Hi, I have run into strange (to me) behavior when using `hcm` compared to `tcp proxy`.
I have a backend server (actually 2 k8s pods) serving static ~1GB file which I thought should be possible to download easily using http (hcm), but it seems that after a while connection gets closed, which is unwanted.

[code]
strangely when I switch to tcp proxy, file gets downloaded without any interruption.:
[

[2019-07-31 06:35] cl51287 opened #7776 "build envoy v1.10.0 error use envoyproxy/envoy-build-centos"
**Bug Template**

*Title*: *build v1.10.0 error use envoyproxy/envoy-build-centos*

*Description*:

<pre>
/source/bazel/repositories.bzl:590:5: error loading package '@com_github_grpc_grpc//': in /build/tmp/_bazel_bazel/436badd4919a15958fa3800a4e21074a/external/com_github_grpc_grpc/bazel/grpc_build_system.bzl: Label '@com_github_grpc_grpc//:bazel/cc_grpc_library.bzl' crosses boundary of subpackage

[2019-07-31 07:09] dio commented on #7774
Hey Alex,

Yes, you need to build a gRPC (streaming) server, with an endpoint that
response to `/envoy.service.metrics.v2.MetricsService/StreamMetrics`. Envoy
then will connect to it to send the logs.

If you use Go, this example: https://github.com/dio/metricsink which uses
https://github.com/envoyproxy/go-control-plane probably will help a little
bit.

Good luck!

Best,

Dhi
PS. If you use Java,

[2019-07-31 07:12] dio commented on #7774
Hey @aclowkey,

Yes, you need to build a gRPC (streaming) server, with an endpoint that
responds to `/envoy.service.metrics.v2.MetricsService/StreamMetrics`. Envoy
then will connect to it to send the logs.

If you use Go, this example: https://github.com/dio/metricsink which uses
https://github.com/envoyproxy/go-control-plane probably will help a little
bit.

Good luck!

PS. If you use Java, pleas

[2019-07-31 07:24] aclowkey commented on #7774
Yes the go-control-pane is the way to go!
Thank you

[2019-07-31 07:24] #7774 closed

[2019-07-31 11:52] rgs1 commented on #7771
@yangminzhu sounds reasonable to me.

[2019-07-31 13:46] alyssawilk commented on #7738
I don't think Envoy will add a TE header unless it is converting from non-gRPC or web-gRPC to H2-gRPC using the json transcoder filter or the gRPC web filter.  Basically if you're changing the data such that the source would not send TE and the other endpoint expects it, Envoy will add TE.  If the data is simply being proxied, it's up to the other endpoint to add TE.

cc @lizan for correctness

[2019-07-31 13:51] mmahimtura commented on #7738
Thanks for your response.

The source of the request is from a browser. I am guessing that's web-gRPC. The destination of the request is a C++ service. When I use non-TLS it works fine, I can see the TE header was added. But when I use TLS thats when the TE header goes missing.

If I am reading your statement correctly, in both my cases its going from web-gRPC to H2-gRPC. Shouldn't it add the TE h

[2019-07-31 14:11] alyssawilk commented on #7738
If your downstream is gRPC-web and your upstream is H2 GRPC you need the grpc web filter.
Looking at your config

          http_filters:
          - name: envoy.router
          - name: envoy.grpc_web
          - name: envoy.cors

Are your filters in inverted?  The filters in Envoy config operate top down, which means you're routing to your upstream before applying gRPC web transformations.

[2019-07-31 14:15] mmahimtura commented on #7738
Thank you, I am new to envoy and web programming, please pardon my ignorance. Should I use this order then?
[code]

If you can, could you please explain why it was working for the non-TLS scenario?

[2019-07-31 14:43] mmahimtura commented on #7738
I just tried using this order in the TLS scenario
[code]
Its still missing the TE header

[2019-07-31 16:39] mattklein123 commented on #7742
@jstewmon that sounds like a reasonable solution to me. I don't think it would be that hard to implement either. IMO you could actually just generically support this in the Lua code and if given a table for a header key, all of the table values can be appended.

[2019-07-31 17:40] snowp commented on #7767
@mattklein123 Do you think it would make sense to add some kind of (maybe optional) validation that errors out if there are filters after a terminal filter? Or should we just document the requirements?

[2019-07-31 17:46] mattklein123 commented on #7767
@snowp see https://github.com/envoyproxy/envoy/pull/7779.

@alyssawilk in thinking about this a bit more, I wonder if we should do this:
1) Add a virtual function on the filter factory, `isTerminalFilter()` which defaults to false.
2) Set it to true for terminal filters
3) Base the checks you added on that? WDYT?

[2019-07-31 17:49] alyssawilk commented on #7767
Darn it, you called me on my slippery slope.
My main concern for this is that I'm not actually sure which filters are terminal other than tcp_proxy, router, and HCM.  If you can advise there, I'll accept doing the less hacky solution :-)

[2019-07-31 17:50] mattklein123 commented on #7767
@alyssawilk I think those three, and it's a pretty trivial change that then puts this in the hands of the filter writer, so it seems more future proof to me?

[2019-07-31 17:51] snowp commented on #7767
+1 on making it part of the API, I imagine the redis/thrift filters also fall into this category

[2019-07-31 17:51] mattklein123 commented on #7767
Ah yes, redis/thrift also.

[2019-07-31 17:52] mattklein123 commented on #7767
Also Dubbo

[2019-07-31 18:31] kyessenov opened #7780 "rbac: explicit order over rules"
RBAC filter uses an unordered protobuf map to specify a list of policies. That means there is no deterministic control over policy application. It would be preferable to have a list instead of a map so that the ordering can be specified. This makes a semantic difference in case of overlapping ALLOW and DENY policies.

[2019-07-31 18:37] #7780 closed

[2019-07-31 20:12] alyssawilk commented on #7767
This is where I knew I'd miss one :-P

OK, new PR coming up.  Ironically I hadn't even seen this issue filed, I'd been commenting over on 7738 where the router was the first of three on the first pass, and second of three on their next try.  So yeah, this comes up a bunch.

[2019-07-31 20:20] alyssawilk commented on #7738
First, your filters are still out of order - gRPC web will now work but CORS won't.  I'm going to go fix this in #7779 since it has confused many people.
Second, I don't think the content type you're using is a content type Envoy respects

I believe the web-grpc filter only acts if the content type header matches the ones below.

    const std::string GrpcWeb{"application/grpc-web"};
    const std

[2019-07-31 20:38] mmahimtura commented on #7738
Please note that the client generating the requests was generated per the grpc-web documentation. I did not hand-code it

[2019-07-31 20:46] freddygv opened #7783 "TCP liveness checks through Envoy"
Is there a way for a service fronted by Envoy to be checked for liveness with a TCP connection? (Assuming the service cannot be reached directly without going through the proxy)

It seems that Envoy will accept any TCP connection, so the liveness check will always pass.

Envoy can set up active TCP checks for connection only as shown [here](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2

[2019-07-31 21:45] incfly opened #7785 "Client Envoy Can't Access ALNP protocol value from SslSocket::protocol()"
*Title*: *Client Envoy Can't Access ALNP protocol value*

*Description*:
- Envoy Server configure listener with http1.1 ALPN and TLS enabled, DirectResponse. Two filter chains, one matching the alpn == http1.1, one is default filter chain, returns response "hello world, selected from alpn http1.1."
- Envoy Client configures Cluster with http1.1 ALPN and TLS enabled, cluster requests sends to serve

[2019-07-31 21:46] incfly commented on #7785
/cc @PiotrSikora

I ran into this while working on https://github.com/envoyproxy/envoy/issues/3431

[2019-07-31 22:50] jplevyak commented on #7728
I tested with libstdc++ and libc++.

libstdc++ crashes OOM at ~50K string length, and takes ~1000usec / regex_match.
libc++ doesn't OOM but at 50K takes ~9500usecs / regex_match.

So libc++ may not be a great solution for this issue since 1msec of CPU is quite a lot.

Re2 in comparision takes ~15useconds / FullMatch independent of string size.

[2019-07-31 22:55] mattklein123 commented on #7728
@jplevyak nice, thanks for looking at that. FYI I'm working on re2.

[2019-07-31 22:59] lizan commented on #7728
@jplevyak thanks for the benchmark, we're in same page that adding re2 support (via different field `safe_regex` to keep the API backward compatibility) is the way to go.

I agree either of std::regex implementation in libstdc++ or libc++ is not great. The point of using libc++ is not because it doesn't OOM nor perform better, it is more because that's what we does in fuzzing test, so fuzzers were

[2019-07-31 23:32] #7326 closed

[2019-07-31 23:39] #7373 closed

[2019-07-31 23:59] tonya11en opened #7789 "Adaptive Concurrency Control L7 Filter"
Adaptive Concurrency Control HTTP Filter
---------------------------------------------------------

*TL; DR:
L7 filter to dynamically update request concurrency values based on sampled request latencies.*

### Motivation
At Lyft, we’re using Envoy’s circuit breaking system to defend our services from load caused by too many concurrent requests. The circuit breakers currently require service owners

[2019-08-01 01:22] mikehuston commented on #7753
When we upgraded to Envoy v1.11.0, we found that for a GET request with no body:
* if ratelimit filter is enabled, "Transfer-Encoding: chunked" header is set
* if ratelimit filter is not enabled, "Content-Length: 0" header is set

Having such a request with "Transfer-Encoding: chunked" header causes issues for our upstream service. Ratelimiting works for us with v1.10.0, so as far as we can tell t

[2019-08-01 01:38] derekargueta opened #7793 "Use Shellcheck on CI for static analysis of Bash scripts"
*Title*: Use Shellcheck on CI for static analysis of Bash scripts

*Description*:
[Shellcheck](https://www.shellcheck.net/) is a shell script analysis tool with numerous flags for atypical or dangerous bash constructs. Shellcheck's [Gallery of Bad Code](https://github.com/koalaman/shellcheck#gallery-of-bad-code) gives examples of what it catches. It's how I identified [this minor bash issue](https

[2019-08-01 01:59] smwyzi opened #7794 "UT case failed on host not supporting IPV6"
*Title*: *UT case failed on host not supporting IPV6*

*Description*:
when running envoy UT cases on host not supporting IPV6, I used the command:
`bazel test //test/... --test_env=ENVOY_IP_TEST_VERSIONS=v4only`
but it seems that some cases for IPV6 only have been executed, and failed.
(Envoy was built directly on host, not using docker)

*Output*:
[code]

so the arg `--test_env=ENVOY_IP_TEST_VERS

[2019-08-01 03:19] argos83 opened #7795 "Support for NSS's SSLKEYLOGFILE to be able to decrypt TLS traffic with TLS_ECDHE* ciphers"
**Title**: Support for NSS's `SSLKEYLOGFILE` to be able to decrypt TLS traffic with `TLS_ECDHE` ciphers for debugging purposes.

**Description**:
In order to debug issues I often capture traffic to see what requests/responses look like and how they were modified by envoy (e.g. headers added/removed, encodings, etc). For plain-text traffic that's trivial but for TLS troublesome workarounds are need

[2019-08-01 06:54] x15zhang opened #7799 "DubboProxyValidationError.StatPrefix: ["value length must be at least " '\x01' " bytes"]"
I am running envoy v1.11.0 with dubbo config as following:
[code]
and I get bellow error:
[2019-08-01 14:46:28.008][9713][info][upstream] _[external/envoy/source/common/upstream/cluster_manager_impl.cc:148] cm init: all clusters initialized
[2019-08-01 14:46:28.008][9713][info][config] [external/envoy/source/server/configuration_impl.cc:71] loading 1 listener(s)
**[2019-08-01 14:46:28.009][9713][c

[2019-08-01 06:57] zyfjeff commented on #7799
I suspect there are some problems with the format of your YAML file.
`cat -A yam_file`

[2019-08-01 07:01] x15zhang commented on #7799
I used yaml validation tool to validate it and the result shows it is valid.

[2019-08-01 09:16] smwyzi commented on #7794
this problem can be fixed by add ip version check before a case:
[code]

for example,  `RouterMatcherHashPolicyTest.HashIpv6DifferentAddresses`  fail on host not supporting IPV6 can be fixed by adding the ip version check before the case:
[code]

Is this fix a proper way?
Can I send a pr to fix some cases like this?

[2019-08-01 09:24] lizan commented on #7794
What is the host environment are you on? That test shouldn't fail unless you have a kernel/system library that disabled IPv6 completely.

The ENVOY_IP_TEST_VERSIONS is to determine the system has an IPv6 address (usually loopback) assigned so integration test can be performed.

[2019-08-01 09:26] lizan commented on #7795
Would https://www.envoyproxy.io/docs/envoy/latest/operations/traffic_tapping work for you instead for debugging purpose?

[2019-08-01 09:29] lizan commented on #7776
which tag of envoyproxy/envoy-build-centos are you using? Use same tag in https://github.com/envoyproxy/envoy/blob/v1.10.0/.circleci/config.yml#L7 to build 1.10.0.

[2019-08-01 09:30] lizan commented on #7776
Also Envoy 1.11.0 uses later version of gRPC so it is already fixed.

[2019-08-01 09:54] skilxnTL commented on #7794
May be centos 4.3 or 6.3, I guess.

[2019-08-01 10:32] smwyzi commented on #7794
my host is `CentOS 6.3`, and the Linux kernel version is `3.10.0_3-0-0-27`

[2019-08-01 13:22] andrewtikhonov commented on #7025
Am I the only one who requested this ?

[2019-08-01 14:22] wrowe commented on #7357
We have confirmed that 14550beb3b7b97195e483fb74b5efb906395c31e commit to abseil does resolve this problem, whenever it becomes convenient to bump this on envoy master.

[2019-08-01 14:22] #7357 closed

[2019-08-01 14:23] #7567 closed

[2019-08-01 14:47] esmet commented on #7753
I also ran into this in the same way others have described. I dug in using a local reproducer and GDB and found that by the time the filter handling code got to the second filter, the code had started to buffer the request body due to end_stream=false in some of the continuation code.

[2019-08-01 15:00] mattklein123 commented on #7753
cc @alyssawilk @soya3129 @snowp we can try to figure out which change caused this behavior difference. With that said, what Envoy is doing now is technically still spec compliant, though definitely not as optimal as what was done previously.

[2019-08-01 15:04] mattklein123 commented on #7775
Please try on current master and also stats output during the failure cases would be very useful.

[2019-08-01 15:06] mattklein123 commented on #7795
cc @PiotrSikora also

[2019-08-01 15:08] mattklein123 commented on #7751
Complete

[2019-08-01 15:18] nezdolik commented on #7358
@snowp would like to help out with this.

[2019-08-01 15:33] objectiser commented on #7751
@mattklein123 not sure this is complete - #7723 only deals with the Inbound and Outbound cases. Do we want to leave this open to further discuss and possibly implement the Gateway and PassThrough cases?

[2019-08-01 16:52] alyssawilk commented on #7753
I'd hoped that mikehuston had a use case with only ratelimit, where I could at least quickly binary search for regression, but turns out it does require both filters and I'm not even seeing an authz integration test so I don't think I can help out before I take off.

Rate limit only test here: https://pastebin.com/XRQAFK0G in case it's useful to whoever does pick this up.

[2019-08-01 17:18] a-sharma11 opened #7804 "When UUID is used for X-Request-Id, Envoy Proxy updates it but only the version number"
*Title*: *When UUID is used for X-Request-Id, Envoy Proxy updates it but only the version number.*

*Description*:

I have created a sample app here with instructions on how to replicate this issue:
https://github.com/a-sharma11/envoy_demo

The behavior works fine when the value itself is wrapped in quotes meaning this works fine:
`curl 'http://localhost:8000/trace/1' -H 'x-request-id: "14c62072-2

[2019-08-01 17:29] snowp commented on #7358
@nezdolik Great, I'll assign this one to you. Feel free to ping me with any questions

[2019-08-01 17:36] PiotrSikora commented on #7795
Yeah, I have the same question as @lizan. I'm not a big fan of `SSLKEYLOGFILE` and TAP should work as good for this purpose.

[2019-08-01 17:38] mikehuston commented on #7753
Thanks esmet, mattklien123, and alyssawilk. Yes, I am using both extauthz and ratelimit filters. Please let me know if there is any more context I can share.

[2019-08-01 18:19] esmet commented on #7753
FWIW I had opened https://github.com/go-openapi/runtime/issues/148 on the go-openapi maintainers after running into this, since to previous points made here, the behavior is valid HTTP though it is curious why the behavior changed.

[2019-08-01 19:09] lizan commented on #7738
the CORS request doesn't have request body so there is no `content-type` in your request, you need CORS filter before the router to handle the CORS request correctly.

btw your cluster is not configured with TLS:
[code]

So if you changed upstream with TLS, you need `tls_context` here too.

[2019-08-01 19:20] htuch commented on #7751
+1, I'm going to reopen, happy to close out if this is really solved somewhere though.

[2019-08-01 19:45] oblazek commented on #7775
ok, will try that first thing tomorrow morning and will let you know

[2019-08-01 20:27] mmahimtura commented on #7738
Thanks for your response. Could you please confirm that my order should be
[code]
Also is there an example of the `tls_context` for the section you mentioned above?

[2019-08-01 20:33] ShanmugaprabhuRamadoss-concur commented on #7367
@mattklein123 looks like this request is automatically closed. If you think its a valid enhancement could you please add this to your list ?

[2019-08-01 22:25] naftulikay commented on #7766
@mattklein123 Is there a way for me to tell when #6848 landed? Looked through the release notes, having a hard time determining if v1.10 had it.

[2019-08-02 02:39] mattklein123 commented on #7751
Sorry for closing too early, SGTM.

[2019-08-02 02:45] mattklein123 commented on #7753
The behavior changed almost definitely do to a patch related to pause/continuation during filter operation, and we are now ending the stream with an empty data frame vs. a headers only request. I'm going to leave this open as help wanted because I do want to understand why this changed and if there is a way to get back the old behavior.

[2019-08-02 02:55] bitsmaker commented on #7738
I tried the above and I got the same thing. I really need help with this as I am at a complete standstill. Please note that non-TLS works without any of the changes suggested above. TLS does not because gRPC complains that the TE header is missing. Is there some code in envoy that strips that header?
Thanks again for all your help

[2019-08-02 04:19] tony612 commented on #7715
ping @snowp @lizan

[2019-08-02 04:34] cetanu opened #7808 "Setting respect_dns_ttl to `true` may result in excessive dns requests when hosts/endpoints DNS returns an NXDOMAIN"
We've noticed inside our org after adding `respect_dns_ttl` to all clusters globally, that when Envoy finds a host that results in an NXDOMAIN on an attempted DNS lookup, Envoy appears to continue to retry the lookup infinitely, to excess.

I think that the following config is sufficient to reproduce the issue:

[code]

I think this logic starts somewhere here

https://github.com/envoyproxy/envoy/

[2019-08-02 04:45] lizan commented on #7715
Sorry I didn't have time to take a detailed look yet, but something in general:

IIUC the spec GOAWAY can sent before all connection is completed for graceful shutdown, it prevent new streams created in same connection: https://tools.ietf.org/html/rfc7540#section-6.8

Tagging some possible related issue: https://github.com/envoyproxy/envoy/issues/2305 https://github.com/envoyproxy/envoy/issues/761

[2019-08-02 04:47] lizan commented on #7799
@x15zhang you have to specify `stat_prefix` for dubbo filter. it is required: https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/dubbo_proxy/v2alpha1/dubbo_proxy.proto#envoy-api-msg-config-filter-network-dubbo-proxy-v2alpha1-dubboproxy

[2019-08-02 05:34] oblazek commented on #7775
@mattklein123 just tested with `envoy  version: bf169f9d3c8f4c682650c5390c088a4898940913/1.11.0/Clean/RELEASE/BoringSSL`
with the same problem.
This is the stats output:
[code]
not sure what to look for :/

I will try building from source (after I find out how) and try again.

[2019-08-02 05:49] oblazek commented on #7775
new stats with `envoy  version: fc8d6f5fe4fdfa62e736ba50122c312871e92208/1.12.0-dev/Clean/RELEASE/BoringSSL`
[code]
at this point I got 4 times `connection closed` which corresponds with `downstream_cx_destroy`. Question is why :/

[code]

[2019-08-02 07:03] tony612 commented on #7715
@lizan Sorry, my description is a little wrong. It should be "I expect the connection can finish existed streams after GOAWAY is sent.".

[2019-08-02 14:15] wrowe commented on #7736
Ping; still looking for a c++ guru to suggest how Win32 CL.exe fails to interpret this correctly.

[2019-08-02 16:13] alexkreidler commented on #3883
Hey, this seems like a big blocker in Envoy for supporting SPIFFE IDs.

If I want to trust my entire trust domain, I'd love to just set
[code]

It seems like there has been a lot of discussion about this but no real progress:

Issues: https://github.com/envoyproxy/envoy/issues/3705, https://github.com/envoyproxy/envoy/issues/3883, https://github.com/envoyproxy/envoy/issues/1272

PRs: https://githu

[2019-08-02 16:16] alexkreidler opened #7813 "Support wildcards in TLS Validation Contexts"
Hey, this seems like a big blocker in Envoy for supporting SPIFFE IDs.

If I want to trust my entire trust domain, I'd love to just set
[code]

It seems like there has been a lot of discussion about this but no real progress:

Issues: https://github.com/envoyproxy/envoy/issues/3705, https://github.com/envoyproxy/envoy/issues/3883, https://github.com/envoyproxy/envoy/issues/1272

PRs: https://githu

[2019-08-02 18:05] zuercher commented on #7736
Given

`RetryStatus RetryStateImpl::shouldRetry(bool would_retry, DoRetryCallback callback)`

It seems that we're passing a lamba to a function that takes a bool. And I guess gcc and clang implicitly convert it and MSVC doesn't? Seems like the line should just be `shouldRetry(true, callback)`.

[2019-08-02 18:45] skyrocknroll commented on #3404
`IMAGE_NAME=envoyproxy/envoy-build-ubuntu  ./ci/run_envoy_docker.sh 'BAZEL_BUILD_EXTRA_OPTIONS=--define=boringssl=fips ./ci/do_ci.sh bazel.release.server_only'` This one worked for me

[2019-08-02 19:55] skyrocknroll commented on #5668
https://www.getenvoy.io/

[2019-08-02 20:02] mattklein123 commented on #5668
@lizan @dio can we document getenvoy in our public docs here: https://www.envoyproxy.io/docs/envoy/latest/install/building#install-binaries and then we can call this resolved?

[2019-08-02 20:05] mattklein123 commented on #7808
@crazyxy can you take a look please? Thank you.

[2019-08-02 20:12] crazyxy commented on #7808
I will fix the bug. @mattklein123 Please assign the bug to me. Thanks!

[2019-08-02 20:15] mattklein123 commented on #7808
Thank you @crazyxy!

[2019-08-02 20:36] mattklein123 commented on #2461
Done

[2019-08-02 20:36] #2461 closed

[2019-08-02 21:04] mattklein123 commented on #7789
This plans LGTM to me @tonya11en. Very excited to see this land. In the proposed patch set:

- L7 filter with calls to a noop concurrency control framework.
- Implement concurrency control framework and unit tests.
- Make parameters runtime configurable.
- Integration tests and benchmark.
- Documentation.

In which PR is the real algorithm going to be wired into the filter? The integration test PR

[2019-08-02 21:20] tonya11en commented on #7789
@mattklein123 I plan to implement the actual algorithm (~gradient2 from netflix's lib) in the 2nd PR (implementation of the framework).

[2019-08-02 21:22] mattklein123 commented on #7789
OK. Since the algorithm should be behind an interface, I would prefer to see a dedicated algorithm PR with tests, and then we can do a further PR to actually integrate the real algorithm into the filter along with integration tests.

[2019-08-02 22:06] derekargueta commented on #5997
Synced up with @maximebedard this week about picking this back up. I'm working on the pass-through filter (no connection pooling magic, just something that sits in front of the TCP proxy filter to provide stats) supporting both the binary protocol (big thanks to Maxime for a lot of working code for this) and the ASCII protocol. This way the codecs can be reviewed independently from the connection

[2019-08-02 22:23] andreportela commented on #2852
any status update on this?

[2019-08-03 01:18] x15zhang commented on #7799
It is the format issue because name and config is not aligned. Thanks @lizan and @zyfjeff for clarifing.

[2019-08-03 01:18] #7799 closed

[2019-08-03 02:42] alochym01 commented on #7066
any news information?? i had same issue

[2019-08-03 04:14] chintan-mishra commented on #7066
I made no discoveries. Still facing the same issue.

[2019-08-03 06:12] argos83 commented on #7795
Hi! Thanks for the quick response. I wasn't aware of that traffic tapping functionality, I'll give it a try and get back to this issue with more feedback.
Just out of curiosity, what is it that you don't like about `SSLKEYLOGFILE`? I lack a lot of context here, but at first sight seems simpler to implement and maintain than a tapping filter, and it looks simpler as well from a user perspective (se

[2019-08-03 06:20] alochym01 commented on #7066
@chintan-mishra i got working and i use

[code]
running envoy check configured file
[code]

my envoy config
[code]
my mqtt config
[code]

hope it helps

[2019-08-03 07:48] happydenn commented on #7667
Sorry for late reply. Calling a Thrift service with following IDL. Server is implemented with Scala and Finagle:

[code]

When running behind envoy, calling `findStores` results in about 10-15% error. The service is running on production, using Linkerd 1.6 as the proxy or connect directly work without any errors. I have limited experience with Thrift as I'm only implementing the client side. Clien

[2019-08-03 15:04] #7607 closed

[2019-08-03 20:22] #7407 closed

[2019-08-04 10:15] #7398 closed

[2019-08-04 13:43] jaysoncena opened #7824 "Envoy exits with static listener and delayed cluster from CDS"
I'm using Envoy (v1.11.0) to proxy TCP and HTTP and currently using static config for listeners and CDS for clusters. When I ONLY use TCP, envoy works properly but when I use HTTP, envoy exits throwing `unknown cluster` error. I can see that TCP proxy accepts delayed configuration of cluster(from CDS) but it seems like that is not the case for HTTP proxy.

[code]

The reason why I only implemented

[2019-08-05 06:14] cl51287 commented on #7776
@lizan I used 6b9a116b499646031d7a801a8d8ab3ad38fced23. But is the version of grpc not specified in bazel/repository_locations.bzl? Not associated with the build image. Code at line 86 at https://github.com/envoyproxy/envoy/blob/v1.10.0/bazel/repository_locations.bzl

[2019-08-05 07:54] lizan commented on #7776
@cl51287 that is too new, bazel >= 0.23 or 0.24 (which is baked in the docker image) doesn't work with that version of grpc used in envoy 1.10.0

[2019-08-05 09:56] chintan-mishra commented on #7066
Testing this out tomorrow. I was occupied in the last few days. I will update soon.

[2019-08-05 14:02] stevenzzzz opened #7829 "vhds: VHDS subscription recreated during every RDS update"
*Title*: VHDS subscription is recreated every time RDS subscription updates, lost existing stats_ etc.

*Description*:

VHDS should not be recreated.

*Repro steps*:

- RDS update sends one RDS response with vhds configured.
- a new VHDS instance is created, old instance is teared down, vhds stats lost.

[2019-08-05 14:29] mergeconflict commented on #7736
I agree with @zuercher, we should just be passing `true` to `shouldRetry`, which raises the question of why other compilers accept this code. I think it's because the lambda expression is converted to a `std::function<bool()>`, which has an [`explicit operator bool`](https://en.cppreference.com/w/cpp/utility/functional/function/operator_bool) that, for some reason I can't explain, is being used. T

[2019-08-05 15:46] #5668 closed

[2019-08-05 18:43] jaegchoi opened #7830 "Native Jaeger Tracing - Bypass agent?"
*Title*: *I'm trying to get Envoy's Jaeger Native tracing to work but running into a few issues*

*Description*:
In the example for configuring native Jaeger, (https://github.com/envoyproxy/envoy/tree/c906df39d13dc416c21ea1977cd163f205d61d1c/examples/jaeger-native-tracing)
the reporter and sampler are configured as such:

        sampler:
          type: const
          param: 1
        reporter:

[2019-08-05 18:49] oblazek commented on #7775
Can you guys verify this? Whether you get the same issue? Static configuration with http filter should suffice and try downloading some bigger file.

[2019-08-05 20:00] mattklein123 commented on #7775
@oblazek I looked through this and I'm guessing this closure is due to flow control somehow, but it's not clear to me what is going on from the stats we have. Are you able to repro on either debug or trace logging level? That would be useful. Also, if there is any way to put together a self contained repro using docker compose, etc. that would be nice. cc @alyssawilk who is out this week.

[2019-08-05 20:50] ahmedelbazsc opened #7831 "Non uniform connection distribution to Envoy worker threads"
*Title*: *Enhancing workload distribution to worker threads*

*Description*:
We have a gRPC client server setup which uses Envoy as a sidecar proxy for egress and ingress calls as follows:
gRPC client -> client Envoy -> Server Envoy -> gRPC server
With Envoy used on the egress path, we observed degraded (and inconsistent) client throughout which appears related to the connection distribution of gR

[2019-08-05 22:30] mabukhovsky opened #7832 "x-envoy-original-path is not removed by VirtualHost.addRequestHeadersToRemove"
My envoy config has prefix_rewrite set: https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#envoy-api-field-route-routeaction-prefix-rewrite
It is causing appearance of 'x-envoy-original-path' header that is sent to the upstream node.

I want to configure Envoy to not expose `x-envoy-original-path` in request header that is going out to an upstream node. For example, I've s

[2019-08-05 23:37] argos83 commented on #7795
Hi @PiotrSikora and @lizan, I just took a look at the traffic_tapping docs and the tap2pcap tool (just looked at the code, I haven't actually run it).

I was wondering why did you decide to write and maintain this over using existing tools like tcpdump/tshark/wireshark. Some cons I found with tap2pcap are:

 -  It seems I need to setup the bazel project to be able to run it (I've never used bazel

[2019-08-06 02:32] vaibhav-gupta-grab commented on #4919
I have a similar problem.
Envoy YAML :
`
admin:
  access_log_path: /tmp/admin_access.log
  address:
    socket_address: { address: 0.0.0.0, port_value: 9901 }

static_resources:
  listeners:
  - name: main-listener
    address:
      socket_address: { address: 0.0.0.0, port_value: 51051 }
    filter_chains:
    - filters:
      - name: envoy.http_connection_manager
        config:
          stat_p

[2019-08-06 02:39] vaibhav-gupta-grab commented on #4919
I have a similar issue. Can you please tell me what is wrong with it?

Envoy Config:
`
admin:
  access_log_path: /tmp/admin_access.log
  address:
    socket_address: { address: 0.0.0.0, port_value: 9901 }

static_resources:
  listeners:
  - name: main-listener
    address:
      socket_address: { address: 0.0.0.0, port_value: 51051 }
    filter_chains:
    - filters:
      - name: envoy.http_conne

[2019-08-06 02:44] vaibhav-gupta-grab opened #7833 "Envoy CORS filter doesn't work. Returns 404 to Preflight OPTIONS request."
Envoy CORS filter not working

I have a similar issue. Can you please tell me what is wrong with it?

Envoy Config:
[code]

curl request:
[code]

The Envoy Debug-level log says that

[2019-08-06 06:08] cetanu commented on #7583
Referring to the following section of the RFC for URIs:
https://tools.ietf.org/html/rfc3986#section-3

[code]

Shouldn't the path not include the query string in the first place?

I suppose since the current way to log this information is by the macro `%REQ(PATH)`, indicating that it's a header set by envoy (?), then it should be okay to make additional macros which make up for it, such as:

`%PAT

[2019-08-06 06:34] dio commented on #7583
@cetanu I feel your argument is valid. Let see what @snowp thinks about it.

[2019-08-06 11:08] annismckenzie commented on #6632
Can this be reopened?

[2019-08-06 12:08] lberki opened #7835 "gRPC change needs to be integrated so that Envoy keeps working with Bazel 0.29"
Bazel 0.29 reshuffled protocol buffers slightly and it broke gRPC which tried to guess what Bazel does. The Bazel bug is here:

https://github.com/bazelbuild/bazel/issues/9032

The pull request to gRPC to fix it:

https://github.com/grpc/grpc/pull/19860

however, it'll need to be integrated into Envoy so that Envoy keeps working.

[2019-08-06 13:34] ramaraochavali opened #7836 "RBAC Authenticated Principal"
Is there any specific reason why RBAC authenticated principle looking URI SAN and if it is not available looking at Subject? Would it be OK to check URI SAN or **DNS SAN** of Subject in that order? It would be useful for people who does not have URI SAN in the certs.

Relevant links :
Docs :
 https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/rbac/v2/rbac.proto#config-rbac-v2-principal-auth

[2019-08-06 14:21] jmarantz commented on #7804
@a-sharma11  Just want to confirm: the proper behavior is that this should work:
[code]
is that right?

[2019-08-06 14:44] a-sharma11 commented on #7804
YES

[2019-08-06 15:06] mattklein123 commented on #7835
cc @keith @lizan

[2019-08-06 15:33] mattklein123 commented on #7833
cc @dschaller

[2019-08-06 15:34] mattklein123 commented on #7831
This is a duplicate of https://github.com/envoyproxy/envoy/issues/4602. Shall we track there?

[2019-08-06 15:35] mattklein123 commented on #7830
cc @objectiser

[2019-08-06 15:37] mattklein123 commented on #7824
See "validate_clusters" here: https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/rds.proto#routeconfiguration

[2019-08-06 15:38] mattklein123 commented on #7804
This is related/duplicate of https://github.com/envoyproxy/envoy/issues/7624

[2019-08-06 15:40] mattklein123 commented on #6909
Note for watchers that we are trying to handle this as part of the v3/UDPA API work. @yskopets it would be great if you could sync up with @htuch at some point to make sure we have all of the federation use cases covered that you care about.

[2019-08-06 15:42] #7674 closed

[2019-08-06 15:45] ahmedelbazsc commented on #7831
Thanks @mattklein123 . The connection accept distribution over worker threads seems covered by the other issue. For SO_REUSEPORT, is the setting provided above expected to be honored by the listener ?

[2019-08-06 15:47] mattklein123 commented on #7831
That config should enable SO_REUSEPORT, but it's unclear to me how that would help connection distribution. The kernel will still decide how to allocate connections to workers in a potentially non-optimal way.

[2019-08-06 16:08] keith commented on #7835
I'd be happy to update once that change merges. Is there going to be a release with it? (I assume no)

[2019-08-06 16:27] objectiser commented on #7830
@jaegchoi I don't believe the jaeger C++ client supports HTTP currently.

The other option would be to use the zipkin tracer in envoy and direct it to the zipkin endpoint on the jaeger collector?

Another option could be to use the opencensus tracer, with otagent exporter, and then have the opencensus agent export to the jaeger collector - but this would again have an extra level of indirection.

[2019-08-06 16:45] lberki commented on #7835
Dunno... ask the gRPC folks.

[2019-08-06 16:57] dschaller commented on #7833
I can dig into this and take a look but my initial thought is that this doesn't sound like a CORS issue. The filter shouldn't be modifying the returned status code. It either adds headers to the response or passes it through without the addition.

[2019-08-06 17:08] vaibhav-gupta-grab commented on #7833
It seems to me from the specs mentioned in issue 300, that for OPTIONS request that doesn't match any route, return status 200 and appropriate CORS headers should be set on the Response by CORS filter and should be returned. From my error it seems that the CORS filter isn't doing that, rather the request is going to the router filter and it can't find a matching route. Why is the CORS filter not s

[2019-08-06 17:12] vaibhav-gupta-grab commented on #7833
As @lizan mentions here https://github.com/envoyproxy/envoy/issues/6608#issuecomment-484272498, it is okay if there is no route matching the preflight request. Filter should still return appropriate response.

[2019-08-06 17:37] htuch commented on #7647
@rnburn friendly ping; this issue is affecting a fair few users (including at Google). From some preliminary poking around, this is not in the Envoy integration but either Dynamic OT or the mock tracer that gets loaded.

[2019-08-06 17:42] jaegchoi commented on #7830
@objectiser Do you mind elaborating on this? Do you mean that the agent only supports UDP right now, so only local agents are allowed?

We already have a working implementation of the zipkin tracer, but we would prefer to use the native jaeger tracer headers (uber-trace-id) if possible

[2019-08-06 18:22] rnburn commented on #7647
The tracer plugins follow the approach described [here](https://stackoverflow.com/questions/47841812/how-to-support-dynamic-plugins-when-statically-linking-in-standard-libraries). They statically link the standard c++ library and use an export map so that the different libraries can coexist independently.

Statically linking libstdc++ in a binary and a DSO without an export map or linking the bina

[2019-08-06 18:27] mattes commented on #6110
Thanks @yuval-k for putting in the work to make this API and sink happen. Are you working on the  GRPC sink implementation? Is there anything I can do to help?

[2019-08-06 18:33] jmarantz commented on #7647
Who owns this problem. I assume that's the person who integrated OpenTracing into Envoy?

[2019-08-06 18:39] andrewjjenkins opened #7839 "FilterChainMatch source_type LOCAL doesn't match local connections"
*Description*:
FilterChainMatch has an option source_type that can be (from [docs](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/listener/listener.proto#envoy-api-enum-listener-filterchainmatch-connectionsourcetype)):

[code]

If I set the option to `LOCAL` I would expect a connection from `100.96.4.33:48158` to `100.96.4.33:9094` to match and be considered local since `100.96.4.33==10

[2019-08-06 18:43] rnburn commented on #7647
I can put in a change for this.

But to be clear, the problem was caused when the tests were changed to statically link the standard c++ library. When I originally integrated, the tests were dynamically linking to the standard c++ library and the mocktracer plugin was dynamically linking to the standard c++ library which is an approach that works fine (and is a sensible default for the mocktracer

[2019-08-06 18:43] andrewjjenkins commented on #7839
Here is the config for the listener in question:
[listener-only-json.txt](https://github.com/envoyproxy/envoy/files/3473693/listener-only-json.txt)

Here's the entire config dump:
[config_dump-json.txt](https://github.com/envoyproxy/envoy/files/3473698/config_dump-json.txt)

[2019-08-06 18:47] nrjpoddar commented on #7725
Closing as this issue is on Istio's end as to how we are setting up the Mixer filters.

[2019-08-06 18:47] #7725 closed

[2019-08-06 19:08] naftulikay commented on #7766
After deploying v1.11.0, I am unable to reproduce the TCP close issue :tada: so I am closing this issue.

[2019-08-06 19:08] #7766 closed

[2019-08-06 19:25] lizan commented on #7647
@rnburn

It does, the toolchain config does applied to all C++ target built within Envoy workspace, so the mock tracer plugin is static linking libstdc++ in that sense.

[code]

Again the toolchain does apply to both, so now both tests AND mocktracer plugin is statically linked to the standard C++ library. (confirm it using `ldd`). The problem is not test specific as now we link tests in exactly s

[2019-08-06 19:37] rnburn commented on #7647
Export maps (like what's done here https://github.com/lightstep/lightstep-tracer-cpp/blob/master/BUILD.bazel#L75 ) are a critical part of making this dynamic loading work.

So, if the linking was changed so that the test binary is linking to libstdc++ statically and the plugin DSO is linked statically without an export map, then, yes, you'll have issue.

Without the export map, you'll have two cop

[2019-08-06 20:10] dschaller commented on #7833
Actually, not sure where this 404 is coming from. Looking at the [filter](https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/http/cors/cors_filter.cc#L68) it appears that the status is explicitly set to 200 and at the end of a preflight request we [stop filter iteration](https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/http/cors/cors_filter.cc#L91).

[2019-08-06 20:28] ahmedelbazsc commented on #7831
Some references suggest this option provides better connection distribution across all threads listening on the socket, so this was the motivation for trying this option. Thanks for confirming the config correctness

[2019-08-06 20:47] lizan commented on #7833
@dschaller because the route matches gRPC request only, where preflight request doesn't match that route.

@vaibhav-gupta-grab I believe if you remove `grpc: {}` from the route match line, it would work.

[2019-08-06 20:53] vaibhav-gupta-grab commented on #7833
envoy.cors is the first filter mentioned (before the grpc_transcoder). In that case, envoy.cors should receive the request and return it before the transcoder and route filters are called. Isn't that how it works?

[2019-08-06 20:55] lizan commented on #7833
@vaibhav-gupta-grab yes, but the preflight request doesn't match what you specified in route match, so for cors filter there is no cors policy specified.

[2019-08-06 21:04] lita commented on #7529
@htuch pinging again about this ticket. What are the next steps here? Happy to try to smoke test a binary if you have a fix in mind.

[2019-08-06 21:07] vaibhav-gupta-grab commented on #7833
Awesome. The solution works. Thanks for the help!

[2019-08-06 21:20] naftulikay opened #7841 "Graceful HTTP Connection Draining During Shutdown?"
**Title**: *Graceful HTTP Connection Draining During Shutdown?*

**Description**:

At my organization, we are preparing a large-scale Envoy deployment for serving all network traffic at the edge on ingress to our network. We are using static configuration files on disk and using the Python reloader script to execute hot reloads when our configuration on disk changes.

Sometimes, we need to stop an

[2019-08-06 21:47] mattklein123 commented on #7841
We don't have this functionality today, but you can script around it using `/healthcheck/fail` and then wait for connections to drain.

[2019-08-06 22:03] naftulikay commented on #7841
@mattklein123 thank you! Will stay subscribed for potential updates.

[2019-08-06 22:09] lizan commented on #7835
OK, at least we have a patch when we upgrade our Bazel. We're already in bazelisk so there are less chance to break CI widely when updating build image.

[2019-08-06 22:56] derekargueta commented on #7841
Scripting around `/healthcheck/fail` and sleeping is also what we do for draining. After failing the healthcheck we watch the listeners' `downstream_rq_active` metric to drop to an acceptable range before terminating.

[2019-08-06 22:57] dschaller commented on #7833
Thanks @lizan!

[2019-08-06 23:02] htuch commented on #7529
@lita my best guess is ^^; @fredlas can you confirm if this matches your understanding?

[2019-08-06 23:15] naftulikay commented on #7841
I'm considering building a more robust wrapper for doing hot reloads and graceful shutdowns :thinking:

[2019-08-06 23:18] lita commented on #7529
https://github.com/envoyproxy/envoy/blob/23d481ed4d55b60bb5a93ceb29039b409c7cc40a/source/common/config/grpc_mux_impl.cc#L33 <-- would it be sufficient to just check if the resources are empty _request in the sendDiscoveryRequest, then log and return rather than actually sending the request?

[2019-08-06 23:30] htuch commented on #7529
That only works for EDS, that would actually break CDS requests, where the empty set has meaning. There's a conflation between CDS/EDS in various places that we special case on, see https://github.com/envoyproxy/envoy/blob/23d481ed4d55b60bb5a93ceb29039b409c7cc40a/source/common/config/grpc_mux_impl.cc#L170.

If you want to just look at the type URL to figure out if it's EDS for now and skip the emp

[2019-08-06 23:44] lita commented on #7529
Yes, I meant to look up the type_url and skip on empty if it is EDS.

[2019-08-07 00:33] euroelessar opened #7844 "buffer: Synthesize `content-length` header in case of request buffering"
*Description*:
When envoy processes request with enabled buffering it reads the whole request into memory before sending headers to an upstream.
Is is possible to make Envoy populate `content-length` header in this case? It would help with some http/1.0 backends (which unfortunately still exist in the wild).

Another option would be to add http/1.0-compliant behavior as cluster option (based on th

[2019-08-07 00:41] freddygv commented on #527
@htuch was something like what @zhaohuabing discussed ever implemented? I'm seeing a few issues about this like but all of them closed without a resolution.

My goal is to expose an HTTP endpoint like /metrics and all other TCP traffic go to the TCP proxy. (With the HTTP and TCP filters having different TLS contexts)

[2019-08-07 01:55] cetanu commented on #7808
Thank you for your fast work on this 😄 ❤️

[2019-08-07 02:25] euroelessar commented on #7844
I've made a quick prototype and this functionality (populating `content-length`) can be done as part of `envoy.buffer` plugin. It looks like no changes are required in envoy core itself.

Should I send a pull request? Should it be made configurable or is it fine to always populate the header?

[2019-08-07 02:33] mattklein123 commented on #7808
Fixed

[2019-08-07 02:33] #7808 closed

[2019-08-07 02:37] mattklein123 commented on #527
See https://www.envoyproxy.io/docs/envoy/latest/configuration/listener_filters/http_inspector. I think you could use this to do ^.

[2019-08-07 02:43] mattklein123 commented on #7844
Yeah IMO this is fine to do. I could go either way on config. On one hand it seems like the right thing to do, on the other hand it should be strictly spec compliant. Maybe just add a runtime guard to turn it off and we can remove the guard after a release or two? WDYT?

[2019-08-07 02:51] euroelessar commented on #7844
To clarify, you suggest to (1) add this feature behind runtime flag, (2) enable this flag by default, (3) delete this flag in a release or two?
This works for me, I'll send a pull request shortly.

[2019-08-07 06:00] catkins commented on #6426
Hi there, any updates on this?

[2019-08-07 06:15] lizan commented on #7647
@rnburn I just give the export map a quick try: https://github.com/envoyproxy/envoy/compare/master...lizan:dynamic_ot?expand=1

This does fix the FlushSpan test failure in the first comment, though heap profiler is still complains about the memory leak.

[code]

[2019-08-07 08:06] objectiser commented on #7830
@jaegchoi The Jaeger C++ client, that is used inside the envoy proxy, currently only supports UDP - and therefore can only communicate with the Jaeger agent. The Jaeger agent would then use HTTP to communicate with the collector. So it is not possible for the Jaeger C++ client to be configured to communicate directly with the Jaeger collector.

So until the C++client supports HTTP directly, your o

[2019-08-07 08:08] lizan commented on #7795
Thanks, these are very valid tooling improvement request, @htuch. With HTTP tap sink I think we can support live converting to pcap and feed to Wireshark.

This is more by design:
a) [Envoy configuration API is machine generation and consumption](machine generation and consumption), so it is management server's responsibility to generate these for every cluster or listener.
b) More flexibility, th

[2019-08-07 08:18] preethi29 commented on #3538
@venilnoronha any update on this feature? This feature would be very useful for us.

[2019-08-07 09:13] msamad commented on #6911
I encountered the same error building it on Ubuntu 18.04 in WSL. The build process is a quite tricky in this one for someone new to these tools and bazel does not help much unless you really know what to look for. Anyways, after digging quite a bit and playing here and there, I managed to get a successful build.

Output for `lsb_release -a`
[code]
Output for `uname -a`
[code]
Outout for `uname -m`

[2019-08-07 09:25] lizan commented on #6911
Sorry this somehow was buried in my inbox so I didn't take a look on it.

Can you paste what is in the file `bazel-out/k8-fastbuild/bin/external/envoy/bazel/gnu_build_id.ldscript`?

[2019-08-07 09:26] #7833 closed

[2019-08-07 09:41] msamad commented on #6911
This is what I have in `bazel-out/k8-fastbuild/bin/external/envoy/bazel/gnu_build_id.ldscript`
[code]

[2019-08-07 09:45] lizan commented on #6911
@msamad which version of Bazel are you using?

[2019-08-07 09:47] lizan commented on #6911
that file should be like:
[code]

which reflecting the git sha you're building.

[2019-08-07 09:49] msamad commented on #6911
[code]

[2019-08-07 09:50] msamad commented on #6911
I see, let me do a clean build and see what I get

[2019-08-07 09:54] lizan commented on #6911
@msamad Try use the same version of envoy in `.bazelversion` file, or if that file doesn't exist, what you get from running `ci/run_envoy_docker.sh "bazel version"` (sorry this requires docker).

[2019-08-07 12:49] dio commented on #7742
@fentas @jstewmon WDYT of having this line in here: https://github.com/envoyproxy/envoy/pull/7851/files#diff-b6a07032ffa44c0345fae0a39b2adc13R748 (so you're able to set a header entry with a table of strings). And the corresponding serialized header, if it is a predefined header like set-cookie is just like: https://github.com/envoyproxy/envoy/pull/7851/files#diff-b6a07032ffa44c0345fae0a39b2adc13R

[2019-08-07 13:05] dio commented on #3538
@jmarantz if one wants to implement this, what stats infra/API should be called today?

[2019-08-07 13:17] mandarjog commented on #3538
@dio you can look at how envoy-wasm repo is doing it.
The api today is very constraining but works.

[2019-08-07 13:19] jstewmon commented on #7742
@dio the entry-with-table part looks fine - it's the same as suggested here, right? But, set-cookie headers can't be folded together into a single header: https://tools.ietf.org/html/rfc6265#section-3

[2019-08-07 13:23] dio commented on #3538
@mandarjog awesome! Thank you. I'll take a look.

[2019-08-07 13:28] dio commented on #7742
@jstewmon thank you for pointing it out. I'll revert it.

[2019-08-07 13:30] jmarantz commented on #3538
I haven't looked at the Lua filter implementation, but I'm assuming there's some mechanism to create and persist C++ objects in the context of a Lua extension. On the C++ side I'm assuming there's a (potentially bidirectional) map between various C++ objects and integer handles passed to Lua. I think the Wasm one keeps distinct integer ranges for each type of C++ object.

You can then get a Counte

[2019-08-07 15:26] ramaraochavali commented on #7836
@mattklein123  any idea on why it was implemented like that and do you think it is reasonable to extend it to DNS type of SAN as I proposed? We have certs with DNS SAN would like to see if we can use this filter.

[2019-08-07 15:44] snowp commented on #7253
Marking help wanted since I don't seem to be able to find the time to work on this

[2019-08-07 16:34] mattklein123 commented on #7844
@euroelessar yes

[2019-08-07 17:17] venilnoronha commented on #3538
@preethi29 I have a WIP branch but I haven't been actively working on it. I'm going to unassign myself, therefore.

[2019-08-07 17:17] venilnoronha commented on #3538
/unassign @venilnoronha

[2019-08-07 17:55] rnburn commented on #7647
Does gperftools' heap checker work for this type of usage with dlopen?

Its [docs](https://github.com/gperftools/gperftools) have this section

your executable.  The heap checker may mischaracterize some memory
accesses in libraries listed after it on the link line.  For instance,
it may report these libraries as leaking memory when they're not.
(See the source code for more details.)

Could we al

[2019-08-07 18:16] fredlas commented on #7529
Yes, that sounds right.

@lita if it's anything that can wait, you might want to hold off on code changes in grpc_mux_impl; it's on the verge of being replaced (by #7293 and a quick followup) by something much cleaner.

[2019-08-07 19:15] incfly commented on #7785
Updates with further investigation

- Envoy as a server implementation regarding ALPN should be working as intended. Using `openssl client` with correct key/cert, I'm able to get the dump message showing "ALPN: H2".
- When Envoy is used as client, I observed that first client envoy prints out that connection.protocol() is empty, then server envoy prints out instrumented log about ALPN selected cal

[2019-08-07 19:40] naftulikay commented on #7841
FYI @derekargueta when I run my [Python load-testing tool](https://github.com/naftulikay/tardypoodle) against Envoy, then POST to `/healthcheck/fail`, I see that all responses have `Connection: close`, but new connections are still allowed, which won't properly evict Envoy from my load balancer.

Due to performance constraints, I have to use NLBs in my deployment, forwarding TCP packets rather tha

[2019-08-07 19:52] mattklein123 commented on #7841
@naftulikay use the health checking filter and have the NLB health check the Envoy and it will stop sending new connections.

[2019-08-07 19:54] lizan commented on #7647
LeakSanitizer (which doesn't link gperftools) fails too, if you comment out BAZEL_LINKOPTS/BAZEL_LINKLIBS from [.bazelrc](https://github.com/envoyproxy/envoy/compare/master...lizan:dynamic_ot?expand=1#diff-f55b2f358053ad76fb5ac3f776f78ef8L24) to statically link libstdc++.

[2019-08-07 20:17] naftulikay commented on #7841
So when an AWS load balancer is configured as a network load balancer (e.g. TCP forwarding), you can't use HTTP health checks against the instance. Rather, you have a boolean enabled or disabled of plain TCP-based health checks (e.g. "can I open a connection to the instance on the given port").

See the [AWS documentation for more details](https://docs.aws.amazon.com/elasticloadbalancing/latest/AP

[2019-08-07 20:21] mattklein123 commented on #7841
We use NLBs at Lyft with HTTP health checks.

[2019-08-07 20:24] naftulikay commented on #7841
I'll ask our TAMs, but we have attempted to setup HTTP health checks on TCP target groups and the API fails creation. Our target groups are configured like so:

[code]

[2019-08-07 20:51] lavignes commented on #5215
Not stale. Pending #7532

[2019-08-07 21:06] ericbrumfield opened #7858 "Can't seem to get ClientSSLAuth working in edge scenario using rest api"
I'm having a lot of trouble getting an edge proxy scenario to work.  I could be off track in what I'm trying to do but our use case is that I need to run 1 instances of envoy as an edge proxy that forwards back to a few http applications.  I've been able to get TLS working end to end and we are now looking to limit to "1 car on the highway" by using client certificate authentication.  We'd like fo

[2019-08-07 21:09] sschepens commented on #7529
@htuch @lita i was just debugging our control plane behaviour when an envoy gets shut down and encountered that we receive an empty EDS request every single time our envoy shuts down.
The behavior is:
 - CDS stream is closed by envoy
- Empty EDS request received by control plane
- EDS stream gets closed by envoy
- LDS stream gets closed by envoy
- RDS stream gets closed by envoy

This seems to agr

[2019-08-07 21:34] lizan commented on #7482
@jpeach which version of envoy are you building? Can you follow latest bazel doc (I updated today): https://github.com/envoyproxy/envoy/tree/master/bazel to use the right version of Bazel?

[2019-08-07 21:41] jpeach commented on #7482
At the time I was building master.

Sure, I can try to repro.

[2019-08-07 21:46] #7844 closed

[2019-08-07 21:58] mattklein123 commented on #7836
I don't recall the details. @lizan @PiotrSikora thoughts here?

[2019-08-07 23:32] lizan commented on #7583
@cetanu the `:path` here is referring to HTTP's `:path` pseudo-header, described in [HTTP/2 spec RFC 7540](https://tools.ietf.org/html/rfc7540#section-8.1.2.3):

      of the target URI (the "path-absolute" production and optionally a
      '?' character followed by the "query" production (see Sections 3.3
      and 3.4 of [RFC3986]).  A request in asterisk form includes the
      value '*' for th

[2019-08-07 23:57] kyessenov opened #7860 "xds: omit node in subsequent discovery requests in the gRPC call"
xDS requests include a node proto with an arbitrarily large metadata field. This causes a problem if this metadata is a large JSON since it is sent for every EDS request. The proposal is to omit `node` field in a gRPC stream after the first request. Most gRPC servers can save some state per stream, so they can store the node in the local scope. In fact, this optimization is already applied for ALS

[2019-08-08 00:40] lizan commented on #7423
@itayd I feel the comment is a little bit noisy, can we do following?

- exclude Draft PRs until it is made ready for review
- do not add comment on every commit, but just for the commit contains a change in the subtree

[2019-08-08 01:25] lizan commented on #7836
Adding DNS SAN sounds reasonable to me.

[2019-08-08 01:29] justinpersaud opened #7861 "Envoy hanging with frequent hangup signals"
*Title*: *Envoy hangs with frequent hangup signals*

*Description*:
My team is currently working on deploying Envoy as an edge proxy. We're managing Envoy through Nomad which is handling the lifecycle of the container running through docker. We've noticed that intermittently, Envoy will 'freeze' and stop accepting requests. I think I've traced this back to something with the hot-restarter where if

[2019-08-08 02:11] derekargueta commented on #7841
(second'ing NLBs + HTTP healthchecks which is what we use as well)

@naftulikay the `protocol` in `health_check` should be `HTTP`. The documentation you linked only states that the _default_ is TCP for Network Filters, but you can set it to HTTP and set the `path` field for an endpoint to healthcheck.

[2019-08-08 03:06] htuch commented on #7860
Yes, this should be done if we're not already. I thought we were already doing this.

[2019-08-08 03:10] htuch commented on #7795
TBH, `tap2pcap` etc. were written initially to support capturing a fuzz corpus, i.e. not with production use in mind. @mattklein123 has done a ton to make this work better with dynamic configuration and streaming. You still need a pipeline to something like Wireshark however. I don't think that needs to live inside Envoy.

[2019-08-08 03:12] ramaraochavali commented on #7836
Ok. Cool. Can you convert this to enhancement? I will fix it.

[2019-08-08 03:13] ramaraochavali commented on #7836
/assign @ramaraochavali

[2019-08-08 03:22] kyessenov commented on #7860
I'm pretty sure it's not happening right now. Taking a cursory look at go-control-plane, I see that it does not cache Node from the first request, but it still works. More importantly, this is under-specified in xDS specification.

[2019-08-08 03:42] #7410 closed

[2019-08-08 04:12] lizan commented on #7738
@bitsmaker interesting, are you able to make a quick reproducer with possibly docker-compose? I will take a deeper look to that.

[2019-08-08 04:34] lizan commented on #7794
@smwyzi Thanks, that is beyond the platform we're supporting. Though if you want to patch, use `Network::Address::ipFamilySupported` instead of `TestEnvironment::shouldRunTestForIpVersion`. I believe there are other cases failing your test on CentOS 6 too, no?

[2019-08-08 05:35] smwyzi commented on #7794
@lizan
Our product environment is CentOS6, so we must build and test on it :)
Yes, it has about 30 tests failing totally due to the Ipv6 syscall like description above.

Ok, i will try the solution as you say using `TestEnvironment::shouldRunTestForIpVersion`, if it works, i try to give back a patch.

[2019-08-08 06:07] hbgongen opened #7862 "new filter xx.pb.h file not found"
i put the http-filter-example  directory  in the /source/extensions/filters/http/ ,and i compile it with "ENVOY_DOCKER_BUILD_DIR=~/build ./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.release" .i add this new filter in well_known_names.h.
i change the BUILD in http-filter-example as follows:package(default_visibility = ["//visibility:public"])

load(
    "@envoy//bazel:envoy_build_system.bzl",

[2019-08-08 07:29] lberki opened #7863 "Integrate gRPC Starlark changes to keep Envoy working with Bazel 1.0"
Bazel 1.0 will remove the legacy `.proto.` provider to access information about protocol buffers and only allow`[ProtoInfo]`.

These got fixed in gRPC in ecf04ccf4d8be9378166ec9e0ccf44081e211d11 and 49f0fb9035120d0f5b5fa49846324c0b2d59c257, but gRPC needs to be updated in Envoy so that they take effect.

In the meantime, I sent out https://github.com/grpc/grpc/pull/19860 as a workaround.

Note tha

[2019-08-08 07:37] lambdai opened #7864 "Add a (Listener)FilterStatus::Error?"
I find we might miss a return value of `ListenerFilter::onAccept(ListenerFilterCallbacks& cb)`

See the return type below.
[code]
So it's impossible to express that onAccept find an error.

Currently if a listener filter wants to report an error, it must
- return StopIteration at onAccept
- register an event
- the callback of the above event call `cb.continueFilterChain`

The drawback of this deto

[2019-08-08 07:37] dio commented on #7862
Assuming you put it inside the following folder,

[code]

You need to change:

[code]

to:

[code]

[2019-08-08 08:05] lizan commented on #7864
@silentdai wondering in what case you want to return an error without reading anything in `onAccept` from tls_inspector or http_inspector?

[2019-08-08 09:07] Lookyan opened #7866 "TCP proxy weighted balancing"
*Title*: *TCP proxy weighted balancing*

*Description*:

I want to achieve weighted load balancing inside one envoy cluster to several endpoint groups.
My management server provides following information to envoy:
[code]

Then it is used in tcp proxy cluster (everything is provided using management server).

*Description*:
I use it in original dst listener and expect that load will be balanced acc

[2019-08-08 14:42] mattklein123 commented on #7423
@lizan FYI I already mentioned to @itayd the noise issue. Hopefully he will fix soon. The draft PR suggestion is a great idea also.

[2019-08-08 14:45] ericbrumfield commented on #7858
Ok, I got it working.  Apparently my config was super close.  Envoy would run and use the original but after checking in the admin ui runtime config it was not loading or using the validation_context and trusted_ca.

Once I set it from
[code]

to this
[code]

Everything worked fine, I was prompted for my client cert and envoy seems to have verified the ca trust chain (root + intermediary) correctl

[2019-08-08 14:45] #7858 closed

[2019-08-08 14:50] mattklein123 commented on #7866
original_dst is special and I suspect this won't work but I'm not sure. cc @snowp @jrajahalme

[2019-08-08 14:51] mattklein123 commented on #7864
I'm also confused. If there is an error don't you want to close the connection?

[2019-08-08 14:56] mattklein123 commented on #7861
I think it's quite likely there are bugs and race conditions still when Envoy is repeatedly hot restarted. I don't think scenario has gotten much production usage. I'm marking help wanted in case someone wants to take a look. cc @derekargueta if you are looking to debug something this might be a good one to work on.

[2019-08-08 15:18] mattklein123 opened #7867 "api: named filter config / filter config discovery service"
I would like the ability to have individual filter configurations be named and fetchable from a discrete management server. This would allow federation of filter configuration from multiple sources, for example fault testing. Thought needs to be put into how this plays with FCDS for listener filters, draining, whether filters can swap config atomically via a new optional interface, etc.

If we do

[2019-08-08 15:20] mattklein123 opened #7868 "Add TTL to v2 xDS"
TTL for discovery resources is being added to the proposed v3 UDPA API. I would like to go ahead and add this into the v2 API as it is something we want at Lyft and is I think generally useful to the community.

cc @envoyproxy/api-shepherds @htuch

[2019-08-08 15:22] mattklein123 opened #7869 "api: named endpoint weights / endpoint weight discovery service"
As a user I would like the ability to serve endpoint weights from a different management server than EDS is being served from. This will allow me to build federated red line testing services for example.

cc @envoyproxy/api-shepherds @htuch

[2019-08-08 15:29] htuch commented on #4929
@yangminzhu  @qiwzhang do you think we can move JWT and other Istio derived authn/authz away from dynamic metadata to something based on filter state? I can't recall where we left this conversation.

[2019-08-08 15:35] rshriram opened #7870 "named filter chains"
It would be good from a stats perspective to have names for the filter chains so that users can easily see how many connections matched on a specific filter chain match [say by SNI or ips]. From a FCDS perspective, adding names is also helpful as we can now tender filterchain resources as named objects, spit out informative errors for specific filter chains, etc.

cc @silentdai ..

[2019-08-08 15:36] rshriram commented on #7870
I think this has some relation to #7867 in that we need several objects in the API to be named. Even if we dont use the names immediately now, its still useful to ship with one so that we can start taking advantage of it over time.

[2019-08-08 15:38] rshriram commented on #7870
cc @envoyproxy/api-shepherds

[2019-08-08 15:50] mattklein123 commented on #7870
Yes this is top of mind for v3. We need to figure out a way to do this so that simple configs don't get bogged down but we give advanced configs flexibility. cc @htuch

[2019-08-08 15:52] rshriram commented on #7870
is it possible to add this to existing filterChains as it currently has no name field.

[2019-08-08 16:30] snowp commented on #7866
You might be missing the https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cds.proto#cluster-commonlbconfig-localityweightedlbconfig config option on the cluster that enables per locality weighting, as well as locality information (https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/endpoint/endpoint.proto#envoy-api-msg-endpoint-localitylbendpoints) so that Envoy can distinguish the

[2019-08-08 16:34] mmahimtura commented on #7738
Thanks @lizan but as it turns out, I found what I was doing wrong. At some point in time I had set
[code]
instead of
[code]
I am new to web related concepts and envoy. Thanks to you and @alyssawilk for looking and sorry if I wasted your time

[2019-08-08 16:59] derekargueta commented on #7841
Looks like the issue you're experiencing may be related to this thread: https://github.com/terraform-providers/terraform-provider-aws/issues/2708#issuecomment-356026204

[2019-08-08 17:00] kyessenov commented on #4929
Can we please resolve the question of accessing filter state from dynamic extensions (Lua, WASM, ext authz) before deprecating the dynamic metadata? It's not clear to us what is the generic way to obtain a field value from a filter state.

[2019-08-08 17:06] itayd commented on #7423
Sorry for not engaging earlier. I'm still in Israel, back monday.

On Thu, Aug 8, 2019, 5:42 PM Matt Klein <notifications@github.com> wrote:

[2019-08-08 17:24] silentdai commented on #7867
`individual configurations` is the filter chain, correct?

[2019-08-08 17:28] htuch commented on #4929
Yeah, we probably want something wire serializable here, I think this is the only generic way to handle it. @curiouserrandy @alyssawilk this is a design consideration that never occurred while we were thinking about filter state, thoughts?

My main meta-level concern here is that we have two distinct ways of performing inter-filter communications. We need clear guidance and shepherding of APIs use

[2019-08-08 17:41] silentdai commented on #7870
My 2 cents: we can add the name in current filter chain.
Soon the FCDS need the filter chain name anyway. By then the name uniqueness will be required.

[2019-08-08 17:58] joewilliams commented on #2852
I am interested in the status on this issue as well. Thanks!

[2019-08-08 18:17] silentdai commented on #7864
@lizan The idea is if `onAccept` is allowed to return error, `onAccept` can read, instead of schedule another callback using the file event.

So another way to ask the question: why cannot `onAccept` inline the read()?

[2019-08-08 18:20] mattklein123 commented on #7864
@silentdai can you succinctly explain what you are actually trying to accomplish? Thanks.

[2019-08-08 18:21] silentdai commented on #7864
Not sure if there is such error. I didn't find an example to close connection in a listener filter. The existing code use  `cb_->continueFilterChain(success /* could be false */)` to report the error. And let the `ActiveSocket` to close the connection

[2019-08-08 18:24] silentdai commented on #7864
@mattklein123 Sorry for the unclear.
My goal is to to allow `onAccept` inline the `read()/recv()/peek()` in listener filter.
Since the read/recv/peek may lead to error, I am proposing the solution to allow onAccept return a value named `Error`.

[2019-08-08 18:52] silentdai commented on #7864
Question, take tls_inspector for example
1. do you agree that read at the onAccept would reduce the latency?
2. Return error at onAccept and let the caller `ActiveSocket` do the clean up, or close the connection directly in tls_inspector? IMHO I think the former can avoid the connection close spread every where

[2019-08-08 19:10] mattklein123 commented on #7864
OK I see. For better or worse the pattern we have used elsewhere is to just have the filter close the socket/connection and then detect that in the connection handler and deal with it properly. IMO we could do that pretty easily without any API changes but will defer to @lizan and @PiotrSikora

[2019-08-08 19:14] kyessenov commented on #3538
/subscribe

[2019-08-08 19:49] #7500 closed

[2019-08-08 19:52] msamad commented on #6911
ok, I managed to get a successful build.

- Updated repo to the latest commit `8b549bd994a1256fb1913d5dce050a016ed63877`
- `.bazelversion` file has `0.28.1`
- `ci/run_envoy_docker.sh "bazel version"` returns
[code]
- Updated my system bazel version to `0.28.1` based on above info

- Cleaned up the working directory with `bazel clean --expunge`
- Ran `bazel build //source/exe:envoy-static`
- The bu

[2019-08-08 21:08] mattklein123 opened #7872 "buffer_filter_integration_test flake"
[code]

@euroelessar I think this a flake from a recent test you added. Could you run the tests in a `--runs_per_test` loop and PTAL?

[2019-08-08 21:12] euroelessar commented on #7872
Sure, will take a look at it shortly.

[2019-08-08 21:15] PiotrSikora opened #7873 "Redact secrets in LDS/CDS config dump."
Redact secrets (i.e. TLS private keys and passwords) in LDS/CDS config dump.

Those secrets are already redacted in SDS config dump (see: #7365), but not in LDS/CDS.

cc @incfly @JimmyCYJ

[2019-08-08 21:36] scheler opened #7875 "Using run_envoy_docker.sh to build envoy-filter-example"
*Title*:  Using run_envoy_docker.sh to build envoy-filter-example

*Description*:

I was trying to build envoy-filter-example using envoy's ci/run_envoy_docker.sh using the following command line

 ~/envoy-filter-example$ _envoy/ci/run_envoy_docker.sh './ci/do_ci.sh build'_

 However, this fails due to a couple of minor invalid folder references.

This works after I make the following minor change

[2019-08-08 22:42] #7132 closed

[2019-08-08 22:47] qiwzhang commented on #7719
I need to fix grpc_httpjson_transcoding [repo](https://github.com/grpc-ecosystem/grpc-httpjson-transcoding).  But that repo is used by Envoy and ESP (https://github.com/cloudendpoints/esp).  ESP is still using older bazel version (0.21), could not upgrade to newer version.  It dictates that BUILD.bazel files in googleapis could not be used since they require newer version of bazel.  But Envoy is u

[2019-08-08 23:52] incfly commented on #7785
Closing this, since we confirmed that once wait enough time 5000 second, a timer can print out the ALPN value correctly.

I'll see if we can obtain ALPN right after `connect()`, it'll be great TLS handshake finishes as part of that, but that will be a separate thing out of the scope of this issue.

[2019-08-08 23:52] #7785 closed

[2019-08-09 02:51] yangminzhu commented on #4929
@htuch  If we can have a generic `Object` in the filter state that every filter could access it (and it satisfies the current use case of dynamic metadata), technically we could migrate JWT, AuthN and RBAC filter to use it (and you'll also need to migrate Mongo, MySQL and ZooKeeper).

The dynamic metadata is used in a lot of scenarios (e.g. metrics, access control or general data sharing), and pro

[2019-08-09 03:03] #5215 closed

[2019-08-09 03:11] kyessenov commented on #4929
I think what we need is a filter state object under the disguise of dynamic metadata. The generic interface to access metadata is nice (apart from lack of true integers), but I understand that it's internal representation is poor. We should be able to define a generic interface that provides:
- ability to serialize in and out of struct;
- ability to access values with true types (ints, strings, et

[2019-08-09 03:53] SecurityInsanity commented on #7314
Any update to making this the default? Would be nice to flip our cli flags from having to manually specify it as on.

[2019-08-09 05:31] lizan commented on #4929
@htuch just refreshing my memory: https://github.com/envoyproxy/envoy/issues/4100#issuecomment-428745612 I thought we reached an agreement that we cannot reconcile as the impedance match was too large. So we went ahead to better document dynamic metadata and filter state.

The current state is:
- data that has to be read/write from multiple filters, and need a sort of query configuration, (such as

[2019-08-09 05:33] lizan commented on #7873
related: https://github.com/envoyproxy/envoy/issues/4757

[2019-08-09 10:01] lizan commented on #7647
Hmm, if I comment out `dlclose` or add `RTLD_NODELETE` to dlopen, the test passes (in both case).

@rnburn do you think this is a false positive of LSAN and gperftools profiler?

[2019-08-09 12:19] jmarantz commented on #7314
Sorry about this; this slipped my mind; thanks for the reminder. Unfortunately I'm a bit overloaded right now so if you want to grab this, please do so!

[2019-08-09 13:34] SecurityInsanity commented on #7314
No worries! I’ll take a crack at it later today.

[2019-08-09 15:34] Lookyan commented on #7866
Unfortunately even with localityweightedlbconfig option enabled it doesn't take any effect for weighted balancing. Envoy uses round robin algorithm for balancing. Only with weights assigned to each endpoint (IP address) it starts working properly.
And what's interesting I can't see these weights in envoy admin interface. Maybe it's not included in admin layout.

[2019-08-09 16:33] jmarantz commented on #7872
Per discussion on the merged PR this test is also quite slow (15s * 8 = 120s) and it is not at all CPU bound; just sitting waiting for events on all threads.

Maybe use SimTime for this?

[2019-08-09 16:36] euroelessar commented on #7872
I've likely misused the api for making requests, checking it now and will send a pull request once understand what's wrong. Test itself is supposed to be fairly simple (just make single request & check what headers are observed by upstream), so shouldn't take any noticeable time by itself.

[2019-08-09 16:53] rnburn commented on #7647
I think it's likely. I've found the sanitizer to have trouble working with dlopen use cases: I ran into this other false positive with UBSAN https://github.com/google/sanitizers/issues/911

[2019-08-09 19:51] htuch commented on #4929
@lizan on the performance side, just anecdotes from internal teams that I have pointed away from dynamic metadata after performance issues were encountered. It's clearly the case that avoiding string copying and munging is going to be a win for some applications.

Looking at the #4100 comment history, I agree that we have no chance of full impedance match barring doing something like what @kyessen

[2019-08-09 20:33] #7872 closed

[2019-08-09 21:00] dio commented on #7583
@cetanu how about `referer`? And also as per @lizan above the `:path` contains query string.

I made an attempt with `REQ_WITHOUT_QUERY` in #7847, it seems straightforward from the implementation perspective. As always feel free to comment about it.

And I also feel like probably `REQ(X?Y):Z:POST_PROCESSING` somewhat future proof. WDYT?

[2019-08-09 21:03] incfly commented on #3431
Right now the code is organized as

1. We create [codeclient](https://github.com/envoyproxy/envoy/blob/master/source/common/http/http1/conn_pool.cc#L344), deciding it's http1 or http2
1. Within that codeclient constructor, we establish networking level connection.
1. Later on when network connection and transport socket is ready, only by then we know the negotiated ALPN value, but it's too late. C

[2019-08-09 23:10] #7195 closed

[2019-08-10 03:27] #7320 closed

[2019-08-11 20:10] snowp opened #7892 "Segfault when referencing SDS secrets by name with default validation context"
Using the following TLS config for a cluster:

[code]

with a static secret defined in the bootstrap as

[code]

a crash occurs in `ContextConfigImpl::ContextConfigImpl` due to a bad dynamic cast:

[code]

as `certificate_validation_context_provider_` doesn't point to a `CertificateValidationContextSdsApi`:

[code]

Full back trace:

[code]

Traces taken from 3d6d6fa67530c2915a863ea775996f813b7a6e

[2019-08-11 20:19] snowp commented on #7892
@JimmyCYJ

[2019-08-12 03:15] lizan commented on #7875
This script is now being tested in CI, so feel free to open a PR and we can review from there.

[2019-08-12 04:53] vaibhav-gupta-grab opened #7893 "File Transfer using Envoy's GRPC-JSON transcoder"
*Description*:
I am trying to get my HTML form to talk with a back-end (GRPC + Envoy proxy) service by sending POST requests with application/json content-type. This seems to working fine till now, but now I want to send an image to the GRPC service from the HTML form (on browser). GRPC services can accept file transfer with protobuf type `bytes`. But does Envoy's GRPC-JSON transcoder support file

[2019-08-12 07:23] jpeach commented on #7482
Confirmed that I can build envoy on F30.

[code]

The Dockerfile I used to make a build container was:
[code]

Note that the Envoy docs are missing `libstdc++-static`, which is required.

Confirmed that building with both clang and gcc works.

[2019-08-12 07:23] #7482 closed

[2019-08-12 07:46] oblazek commented on #7775
@mattklein123 @alyssawilk sorry I was OOO last week..
Were you guys able to reproduce this yourself?
I was suspecting it could be a problem with my backend (which was custom go binary serving local file), but I just tested it with static nginx serving the same file and got the same result.

actual flow from tcpdump (first output has additional PUSH flag, otherwise flow is the same and continues th

[2019-08-12 08:03] hbgongen commented on #7862
oh, thanks,i alter what you say.now i find it also has some errors:ERROR: /source/source/extensions/filters/http/http-filter-example/BUILD:17:1: undeclared inclusion(s) in rule '//source/extensions/filters/http/http-filter-example:http_filter_lib':
this rule is missing dependency declarations for the following files included by 'source/extensions/filters/http/http-filter-example/http_filter.cc':
'

[2019-08-12 09:11] zhiqli opened #7894 "envoy 1.11 use websocket 503 UR"
hi, Now I use envoy 1.7 as a websocket proxy is ok，my config is
[code]
Now I want to upgrade to version 1.11，my config is
[code]
**The request always returns 503 UR, the upstream server is the same。may I know what is the reason？**

[2019-08-12 09:34] bobvanderlinden commented on #6716
Is the intention here that casing of headers is also being preserved?

[2019-08-12 12:51] dio commented on #7862
@hbgongen please take a look at this commit: https://github.com/dio/envoy/commit/88ec949529711df13d0d713daebef9a0006c7d06. Hope this helps.

[2019-08-12 13:18] oblazek commented on #7775
Hi again, I just created a repo for reproducing this issue: https://github.com/oblazek/envoy-testing
Follow README.md inside... (1 container runs envoy, 1 container runs nginx serving static ~512MB file -- but tested few sizes bigger than 200MB and problem was the same)

[2019-08-12 13:58] alyssawilk commented on #7738
Glad you're sorted out!

[2019-08-12 13:58] #7738 closed

[2019-08-12 14:24] alyssawilk commented on #7775
I'll try to take a look this week - if nothing else it might be useful to have a multi-GB upload/download test to make sure to avoid overflow issues.

[2019-08-12 14:25] rongutierrez opened #7895 "Source IP ACLs not working properly with TCP Proxy (Proto Proto enabled)"
*Description*:
i'm working on trying to get some network RBAC filters working and am running into issues where it envoy does look to actually be applying them. I'm guessing it might be config related.  My current setup is  AWS NLB (Proxy Protocol) -> Envoy Proxy (AWS ECS, TLS Termination, TCP Proxying) -> Service (AWS ECS, No TLS)

*Repro steps*:
Here is my sample config:

[code]

When performing

[2019-08-12 15:41] danzh2010 commented on #7177
Please reopen this issue

[2019-08-12 17:56] alyssawilk commented on #7894
Offhand I wonder if your upstream doesn't handle the health check filter.   Would it perhaps work better if you used a custom fitter chain in your upgrade config, to only have the router filter?
If not, please try attaching a trace log where you get the 503.  I suspect there will be useful details as to what's going on.

[2019-08-12 18:55] mattklein123 commented on #7892
cc @lizan @PiotrSikora also

[2019-08-12 19:26] lizan commented on #7893
Currently there is no good way to do this other than setting up a plain HTTP endpoint. It may be possible once we have: https://github.com/envoyproxy/envoy/issues/7007

[2019-08-12 19:29] antoniovicente commented on #7652
I think the current issue is related to max_host_weight so #7877 should fix the issue.

About rq_active, I think there is currently no way to disable host stats.  In the future we may want to add a way to disable or otherwise reduce the memory burden of those stats.

[2019-08-12 19:30] lizan commented on #7895
You need the rbac filter before your tcp_proxy filter, any filter placed behind tcp_proxy has no effect. This is going to be error after #7779

[2019-08-12 20:44] oblazek commented on #7775
[code]
here is a debug output.. do I get it right, that the connection simply timed out because of some timeout settings for upstream?

I am using `connect_timeout` in my configuration and tried using `timeout` in my `filter/routes` config like this:
[code]
but that did not seem to work..is it so that I somehow have to only increase the default value? .. any idea how to do that? which one?
I also

[2019-08-12 20:58] lizan commented on #7482
Feel free to open an PR, this seems Fedora/RedHat specific.

[2019-08-12 21:01] alyssawilk commented on #7775
Looking at this, it looks to me like you have a fast upstream and slow client (we keep disabling upstream due to downstream watermark, so the downstream connection buffer was full), and eventually the upstream disconnected*.   It's still possible there's some tangle where no bytes are being read (I may add trace logs for actual read disable) but at first glance it looks like your upstream itself g

[2019-08-12 21:38] luluzhao commented on #5644
@mattklein123 @cgilmour , sorry for disconnecting a little while. Could you help me to reopen this issue. I finished all the implementation and going to submit PRs accordingly. Thank you.

BTW, I asked a question about 21 days ago on one of my closed PR and it hasn't get any replied yet. Could you help me on that? Here is the [link](https://github.com/envoyproxy/envoy/pull/6518#issuecomment-513946

[2019-08-12 21:53] dedalozzo commented on #2852
Me too.

[2019-08-13 01:09] duhruh commented on #1861
@aliariff in the same boat, would love to have envoy running on my raspberry pi.

[2019-08-13 01:12] snowp commented on #7892
Poked around the code a bit and think the fix might be to just lift up the `addValidationCallback` up the class hierarchy to avoid the dynamic downcast and provide noop implementations for the other subclasses. This seems to be the pattern used for the other callback related function.

[2019-08-13 04:34] lizan commented on #1861
With the OpenLab CI configured by @Yikun, you can find their dashboard here http://status.openlabtesting.org/builds?job_name=envoy-build-arm64 and download the binary built there from the artifact. (e.g. https://logs.openlabtesting.org/logs/periodic-4/16/github.com/envoyproxy/envoy/master/envoy-build-arm64/7855faa/test_results/bazel-bin/source/exe).

I'm not sure how well it works, and just FWIW t

[2019-08-13 05:30] emedina commented on #2852
Me as well

[2019-08-13 05:52] oblazek commented on #7775
I am not sure.. usually I don't see any `Connection reset by peer` but something like this:
[code]
I am still suspecting the timeout.. If I set the `wget` speed to 20MB/s I still get connection close and I don't think this is slow at all.
And if I try the same test multiple times the connection gets closed quite often after 15s..

Could you guide me where is the right place in the config to modify

[2019-08-13 06:26] enmasse commented on #1861
@lizan Raspberry Pi runs armhf aka ARM32 aka ARM by default. They're two different architectures. Building ARM64 is manageable. It's not even possible to bootstrap Bazel on ARM32.

[2019-08-13 07:06] zhiqli commented on #7894
@alyssawilk trace log just has `remote reset`
[code]

[2019-08-13 07:15] mauriedo opened #7899 "How does one configure cluster metadata for stats?"
*Description*:

According to the docs in its latest version, it is possible to use the `metadata` property at the cluster level for stats:

If this is correct, then...
* How do you set it up for stats? An example would be great, we are using the `envoy.dog_statsd` stats sink at the moment, if this matters at all.
* What are the capabilities? Can you specify arbitrary stats? Arbitrary tags? Transfo

[2019-08-13 10:17] oblazek commented on #7775
Well, it was actually really just the default upstream timeout value.. I just found out the right place to put it in both static config and xDS and all works well.. Thanks a lot both of you @alyssawilk @mattklein123 :) let's close this up.

[2019-08-13 12:58] zhongfox commented on #3998
@hzxuzhonghu any roadmap about dubbo in istio project？

[2019-08-13 13:15] alyssawilk commented on #7894
There may be more information in the trace log, but I can't tell from the selected line.  I'd be happy to take a look if you send me a pastebin link or some such?  Meanwhile I'd suggest trying without the health check filter on the upgrade path in case your upstream doesn't allow upgrades on non-first-requests.

[2019-08-13 13:30] csssuf commented on #7550
I would still love to see this feature. Anything I can do to help move it forward?

[2019-08-13 14:07] #7775 closed

[2019-08-13 14:16] ae6rt commented on #4272
I'll follow my own advice around asking dumb questions:  if you have one, just get it out there and ask:  Will WASM in an Envoy context be able to read and write Unix domain sockets?

[2019-08-13 14:53] stevenzzzz opened #7902 "rds: possible LDS+RDS race condition ends in unknown behavior."
**Bug Template**

*Title*: Fast LDS tearing down a HCM may interact with RDS update callbacks on the fly in worker threads.

*Description*:

*Repro steps*:

- RDS propagates a configUpdate to workers, the posted callback is as following:
tls_->runOnAllThreads(
  [this, new_config]() -> void { tls_->getTyped<ThreadLocalConfig>().config_ = new_config; }
}
- LDS updates the active listener in main th

[2019-08-13 14:58] stevenzzzz commented on #7902
@mattklein123 is this an real issue?

[2019-08-13 16:41] mattklein123 commented on #7902
Yes definitely a real bug. I think there are likely multiple ways to fix but I would have to dig in myself to have a recommendation so maybe just propose a fix and we can discuss in code review?

[2019-08-13 17:56] pranaypratyush commented on #1861
I need envoy running on arm7 as well. Tried using qemu by copying `/usr/bin/qemu-x86_64-static` with no success.

[2019-08-13 18:28] stevenzzzz commented on #7902
A quick solution is to "relax" the ownership of RdsRouteConfigProvider a little bit at the HCM, holds an shared_ptr instead of a unique_ptr of the RdsRouteConfigProvider, when we do onConfigUpdate(), capture weak_ptr of the RdsRouteConfigProvider, and in the update callback, check if we can lock a shared_ptr of the provider before we apply the change.

The complication of this change is that the d

[2019-08-13 18:39] #7767 closed

[2019-08-13 19:01] derekargueta commented on #7861
@mattklein123 yeah feel free to assign to me. We use hot restart fairly extensively for our non-k8s infra so it'd be nice to shake out more bugs.

[2019-08-13 19:34] achasveachas opened #7903 "`bazel test` should exclude all blacklisted extensions/dependencies"
*Title*: *`bazel test` should exclude all blacklisted extensions/dependencies*

*Description*:
Currently we are excluding blacklisted dependencies using the logic in [extensions_build_system.bzl](https://github.com/envoyproxy/envoy/blob/master/test/extensions/extensions_build_system.bzl), the functions in this file get invoked in the individual `BUILD` files and they get mad if the excluded extens

[2019-08-13 22:37] pitiwari commented on #7161
@mattklein123 @alyssawilk i am also hitting similar issue so wanted to see if issue which i am hitting is same. When we send curl with --http2 and https in a request then it works but if we send curl with --http2 with http in a request we get 403

/usr/local/opt/curl-openssl/bin/curl  --http2 -s -i -k  -m 4 -X GET http://dummyip/piyush.txt -I
HTTP/1.1 403 Forbidden
date: Tue, 13 Aug 2019 22:08:28

[2019-08-13 22:48] #7860 closed

[2019-08-13 23:50] georgicodes commented on #2852
Same!

[2019-08-14 04:27] cetanu commented on #4839
We've found issues with the OpenCensus and OT tracers, as they do not add the B3 propagation headers to the request sent upstream. I think that supporting the Zipkin v2 format with the existing Zipkin tracer should not be that difficult?? If someone can point me at the files I would need to change, maybe I can make a PR for it.

[2019-08-14 04:32] adriancole commented on #4839
my guess is someone could pickup where these last stalled due to people's lives getting too busy. I know @basvanbeek was interested in this, too https://github.com/envoy-zipkin/envoy/pull/3

[2019-08-14 04:56] budanm opened #7910 "Help needed in setting up envoy.metrics_service for stats_sinks"
Help needed in setting up envoy.metrics_service

*Description*:

- I am trying to set up the envoy stats_sinks using envoy.metrics_service as it is one of the supported stats_sink in envoy. [envoy metric service](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/metrics/v2/metrics_service.proto#envoy-api-msg-config-metrics-v2-metricsserviceconfig)

- All I am trying to verify is when I fir

[2019-08-14 05:17] dio commented on #4839
Yeah. Sorry for this. @cetanu let me prepare some playground for it and let you know. I’ll sync with @basvanbeek as well.

[2019-08-14 06:57] lizan commented on #7903
Here is some pointer:

We do load default envoy_config [here](https://github.com/envoyproxy/envoy/blob/v1.11.1/bazel/repositories.bzl#L38) to provide `@envoy_build_config//:extensions_build_config.bzl` which defaults to `@envoy//source/extensions:extensions_build_config.bzl`. With the [repository_ctx](https://docs.bazel.build/versions/master/skylark/lib/repository_ctx.html#os) there you can condit

[2019-08-14 07:01] lizan commented on #7910
At a quick glance looks like you missed `http2_protocol_options: {}` from your metricsservice cluster to enable gRPC.

If that doesn't work, can you publish your reproducer to a git repo or gist so it is easier to try?

[2019-08-14 07:07] budanm commented on #7910
Ok will try that now , and if it does not work then will upload it to a git

[2019-08-14 07:16] budanm commented on #7910
hi @lizan
Thanks a lot for the help, at least it is hitting the grpc service and the logs are getting printed. However, it would really help if you can provide me with some concrete example as to how do we use it. I have seen the pb.go definition of envoy metrics service on the envoy control-plane git and it does not help much.

Regards
Soumya

[2019-08-14 07:45] felix-fabrega commented on #6686
Do someone has been able to cross compile bazel for arm ? I found a lot of issues about building on arm but no one is speaking about cross compiling. It seems that the bazel BUILD file doesn't have a target for ARM. Is there a way to do it ?

[2019-08-14 07:49] dharanikunnuru opened #7912 "Envoy is not sending traces to zipkin when envoy is expose via kubernetes ingress controller"
*Title*: *Envoy is not sending traces to zipkin when envoy is expose via kubernetes ingress controller*

*Description*:

When I run this setup in local machine, everything works fine. I could see traces in zipkin dashboard.

Let me know any changes i need to do to make tracing to work.

envoy.yaml :
admin:
  access_log_path: /tmp/admin_access.log
  address:
    socket_address:
      protocol: TCP

[2019-08-14 07:50] lizan commented on #7910
Those are generated file from proto so not much info there. The only open-source MetricsService implementation I can find now is in Apache SkyWalking, it is in Java though might be helpful for you: https://github.com/apache/skywalking/blob/master/oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/MetricServiceGRPCHandler.ja

[2019-08-14 07:55] budanm commented on #7910
Thanks @lizan
It's okay I will figure it out.
I am new to envoy and hence whatever scenarios I am able to achieve with Envoy, I am documenting it with an easy to understand code. I have already created two repositories [Envoy as Load Balancer](https://github.com/budanm/EnvoyLoadBalancer) and [Achieving 2way SSL with Envoy](https://github.com/budanm/Envoy-With-2way-SSL).
I would try to create a sim

[2019-08-14 10:09] weilip1803 opened #7913 "Question. RBAC on jwt token"
It is known that istio employs RBAC through ServiceRole and ServiceRoleBindings. Can the RBAC filter do something similar to that? Will love an example

[2019-08-14 11:35] yuval-k commented on #7913
for simplicity we don't use additional CRDs.
See an example here: https://gloo.solo.io/gloo_routing/virtual_services/authentication/jwt/access_control/

[2019-08-14 13:08] mhockelberg commented on #2852
Also interested in this issue.

[2019-08-14 14:18] samcarpentier commented on #2852
Same! Any updates?

[2019-08-14 14:57] felix-fabrega commented on #1861
@enmasse Why it is not even possible to bootstrap Bazel on arm32 ?
I'm also try harding to cross compile envoy for arm32, on my side right now I'm trying to configure a toolchain for using armv7-eabihf.
I'm stuck on an error from ninja who seems to not find my compiler binary

[2019-08-14 15:03] mattbailey commented on #4839
So, this is effectively overcome if you use the opencensus driver, which will export via zipkin v2, like this:

[code]

My configuration is such that I also require adding an API key to the trace server, so I feed it through envoy as a listener:

[code]

The added benefit here is that if this is acting as a sidecar, the actual upstream server can also use this exposed listener and not have to be c

[2019-08-14 15:51] hbgongen opened #7914 "Alter grpc_http1_bridge filter to http+proto_grpc_filter"
---------http+proto-->grpc----------
Client----->envoy----->grpc service
Client:go-http-client.send _http2 request_, but set content-type is application/http+proto,the content is serializable proto buffer(not have the front 5 bytes, it added in filter's decode data)
http Filter:_grpc-http1-bridge_.
envoy:i change the judgement to let the http2 request can pass the function **setupStatTracking** in

[2019-08-14 16:26] #7742 closed

[2019-08-14 16:26] hbgongen commented on #7862
Thanks a lot. I'll try it.@dio

[2019-08-14 16:40] hbgongen commented on #7748
@derekargueta.ok.thanks~
I wonder that if envoy has some log function like printf,i can print some logs to std.

[2019-08-14 16:53] mattklein123 opened #7915 "Stable release management"
I'm opening this issue to discuss a few different things and receive community comment:

1. What are the community's expectations around stable releases, release candidates, etc. Right now our policy is to snap from master every 3 months and only release dot releases for security issues on the last released version (< 3 months previous). As the community continues to grow I suspect there is intere

[2019-08-14 16:55] mattklein123 opened #7916 "Prebuild docker images for security releases"
We should be able to privately prebuild our security release docker images prior to embargo break, and then just push them to dockerhub. From talking with @lizan as we move image creation from Circle to AZP we should be able to tackle this so opening an issue to track.

[2019-08-14 16:57] mattklein123 opened #7917 "HCM: support connection level logging"
In the wake of the last set of CVEs it became obvious that there are certain cases in which we need connection level logging for the HTTP connection manager. This can be similar to what we do for tcp_proxy and configured with all the same set of filters, sinks, etc. The idea here would be to indicate certain security conditions as part of StreamInfo (e.g., flooding), and then allow those condition

[2019-08-14 17:02] mattklein123 opened #7918 "Holistic approach to WAF"
In the wake of the recent CVEs, it's become more clear that we need a holistic approach to WAF, primarily allowing for both blocking, blackholing, etc. both L4 and L7 traffic based on various input parameters.

We have various bits and pieces of this today including RBAC, IP tagging, but we need to look through the type of blocking actions that users want to perform and likely build explicit L4 an

[2019-08-14 17:13] mattklein123 commented on #7835
Fixed

[2019-08-14 17:13] #7835 closed

[2019-08-14 17:56] mattklein123 commented on #7902
I chatted with @stevenzzzz offline, and my high level view of this is:
1) The optimal solution would be to cancel/kill all watches/subscriptions from the listener prior to commencing draining. This will work because draining itself is serialized with the workers. Before the listener is destroyed, all messages will have been flushed on the workers, so if the subscriptions are killed, there should b

[2019-08-14 17:59] howardjohn opened #7919 "Skipping unsupported runtime layer: name: "base""
When starting up Envoy, it will log:

[code]

This is causing some confusion. What does this mean?

It seems like Envoy is trying to create some runtime layer "base" that it doesn't even support?

It seems to me, having no knowledge of runtime layers, that either
* Envoy shouldn't create this "base" layer
* Envoy should "support" this "base" layer
* Envoy should not warn about not supporting the b

[2019-08-14 18:45] #7314 closed

[2019-08-14 18:46] mattklein123 commented on #7919
cc @htuch and @asraa who has been looking at this recently. Can we make this more clear and/or fix if there is a default issue?

[2019-08-14 19:00] htuch opened #7921 "Avoid using HeaderMapImpl for gRPC metadata"
Today, we use `HeaderMapImpl` for gRPC metadata, e.g. https://github.com/envoyproxy/envoy/blob/3dd84d3b41b6be378ccb71e81c0063a84bb956e3/include/envoy/grpc/async_client.h#L70. This is not safe, since in general, this metadata may contain binary and `HeaderMapImpl` can't contain NUL.

We should switch to using a simple map or the like to model these values, treating them as metadata rather than head

[2019-08-14 19:01] htuch commented on #7921
FWIW, I don't see any serious security implication today with the threat model that the control/runtime plane is trusted.

[2019-08-14 19:28] asraa commented on #7919
I believe this was just caused by #7251 and the case is missing because nothing needed to be done in LoaderImpl for that layer specifier case. Envoy shouldn't be logging a warning since this base layer is being used. Snapshots [pull this static layer directly from the config_](https://github.com/envoyproxy/envoy/blob/3dd84d3b41b6be378ccb71e81c0063a84bb956e3/source/common/runtime/runtime_impl.cc#L6

[2019-08-14 19:33] SecurityInsanity commented on #7915
I currently work at Instructure, and would like to share our thoughts on this topic. Since it's something we've been looking at ourselves internally for awhile now.

- For us the "stable release" once every 3 months is: "fine". We feel comfortable at this point cutting our own releases if need be. However, that brings up the question: "Why do we need to cut our own releases?" For us this boils dow

[2019-08-14 20:29] phylake opened #7923 "N^2 RDS memory for SNI"
*Title*: *N^2 RDS memory for SNI*

*Description*:
Every filter_chain_match in [SNI](https://www.envoyproxy.io/docs/envoy/v1.11.1/faq/sni.html) has its own HTTP connection manager which gets its own [copy](https://github.com/envoyproxy/envoy/blob/v1.11.1/source/common/router/rds_impl.cc#L174-L175) of the full RDS config. For every filter chain match there's going to be a route entry (N^2).

I was l

[2019-08-14 20:34] phylake commented on #7923
This is `envoy_inuse_space` for heap dumps taken until we hit the 30GiB steady state

![image](https://user-images.githubusercontent.com/220817/63054134-87914480-bea0-11e9-97f9-17b980d252ab.png)

[2019-08-14 21:03] dstrelau opened #7925 "http2 to external upstream fails"
### Description

I'm attempting to setup an envoy that provides egress to an HTTP2 enabled server and consistently see 503 responses saying `connection terminated`. Switching to HTTP/1.1 on the upstream works just fine. I've simplified my configuration to use an example server, but any h2 server seems to behave the same.

I'm new to envoy, so I'm sure I'm doing something wrong here, but I've tried

[2019-08-14 21:05] adrocknaphobia commented on #7923
@atrifan ☝️

[2019-08-14 21:09] mattklein123 commented on #7923
cc @htuch @fredlas @AndresGuedez @stevenzzzz

I think the real solution here is to allow the RDS watches to point to a single subscription and single shared route config. I think this is probably not that hard given the work that @fredlas just did and the work that @stevenzzzz is doing right now but I will let them weigh in.

[2019-08-14 21:16] AndresGuedez commented on #7923
Agreed. This is one of the primary goals of the [Config Provider](https://github.com/envoyproxy/envoy/blob/master/include/envoy/config/config_provider.h) framework that was introduced as part of the SRDS work.

Once the SRDS implementation is complete, we are planning to transition RDS to use the framework as well.

[2019-08-14 21:22] mattklein123 commented on #7923
Sounds good I will assign this over to @stevenzzzz for now.

[2019-08-14 21:48] lizan commented on #7923
@mattklein123 It does point to a single subscription but different route config due to https://github.com/envoyproxy/envoy/pull/3960 to fix https://github.com/envoyproxy/envoy/pull/3953. I believe this is already in the consideration of @AndresGuedez 's Config Provider framework.

#7870 could fix this from the other side by not having multiple HCM for different SNI.

[2019-08-14 21:50] atrifan commented on #7923
I think that what @AndresGuedez is the only viable solution and there is no place for a “quick fix” or a “work-around”. Reloads, hot reloads, gracefull reloads and other in-place modifications need to happen without affecting other ongoing clients - this is the main responsability of a proxy so right now keeping a copy of the RDS for each filter_chain (which you can look at as a middleware of that

[2019-08-14 21:54] lizan commented on #7925
Try setting `alpn_protocols` to `h2`
https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/auth/cert.proto#auth-commontlscontext in your cluster tls_context?

[2019-08-14 22:12] PiotrSikora opened #7927 "ThreadSanitizer: data race in HeaderMapImpl with libc++"
*Description*:

There is a data race in `HeaderMapImpl` that's reported only when linking TSan with libc++.

*Repro steps*:

`bazel test --config=clang-tsan --config=libc++ //test/...`

Note that the data race is not reported when compiled with `-c opt`.

*Logs*:

The test results are a bit flaky, so this varies from run to run, but this is a sample list of tests that fail because of this failure:

[2019-08-14 22:13] PiotrSikora opened #7928 "ThreadSanitizer: data race in PrioritySetImpl? with libc++"
*Description*:

There is a data race in `PrioritySetImpl` (I think?) that's reported only when linking TSan with libc++.

*Repro steps*:

`bazel test --config=clang-tsan --config=libc++ //test/integration/...`

Note that the data race is not present when compiled with `-c opt`.

*Logs*:

The test results are a bit flaky, so this varies from run to run, but this is a sample list of tests that fail

[2019-08-14 22:23] mattklein123 commented on #7923
@lizan yeah I think we should be able to get back to a shared route config for a shared subscription. I think this is also related to https://github.com/envoyproxy/envoy/issues/7902 to which @stevenzzzz is working on.

@atrifan for identical route configs which point to the same named RDS subscription we can definitely make it shared. That is planned.

[2019-08-14 23:02] lizan commented on #7927
Looks like a `FakeStream` issue, for `decodeHeaders` it seems gone with following change

[code]

I guess apply this similar to other places should fix them, and guessing #7928 is similar too.

[2019-08-14 23:10] lizan commented on #7927
@PiotrSikora can you take a stab on this? I don't have bandwidth to do a full fix this week.

[2019-08-14 23:36] zuercher commented on #7667
I expect the problem is that the framing is off and the codec is looking at bytes that are not actually encoding thrift fields. If you could capture a network trace of the exchange where the error happens it would probably be useful.

[2019-08-14 23:53] zuercher commented on #7736
I'm going to go ahead and submit a PR to fix this, since it makes me anxious, even if it works.

[2019-08-15 00:06] adriancole commented on #4839
This is sortof an advertisement for something else. notice the example
also suggests to use TRACE_CONTEXT and not B3 which would definitely
break almost everyone's propagation setup.

While it is a shame folks have been unable to muster writing json, it
seems a bit overkill to suggest replacing the entire component as a
solution.

On Wed, Aug 14, 2019 at 11:04 PM Matt Bailey <notifications@github.

[2019-08-15 00:44] #7389 closed

[2019-08-15 00:58] dstrelau commented on #7925
Gah! I really thought I had tried that, but it does in fact seem to do the trick. Thank you!!

[2019-08-15 00:58] #7925 closed

[2019-08-15 01:35] happydenn commented on #7667
Turned on trace log and got this when the error occurs:

[code]

Hope this helps. It seems to me that this error mostly occurs when envoy receives additional data for the same response from the upstream server.

[2019-08-15 01:46] PiotrSikora commented on #4251
FWIW, we shipped Istio linked against libc++ yesterday. I'll report if we see any issues, but we didn't run into any during testing.

[2019-08-15 02:02] SecurityInsanity commented on #6614
I've been talking with @htuch about implementing ORCA's in-band reporting, and adding it's details to a particular stream.)

However, when bringing it up @htuch mentioned that the RFC had some debate around _how_ inband reporting should be implemented. Currently the RFC Calls for stuffing JSON in `x-endpoint-load-metrics`. However after talking with @PiotrSikora I think this is the incorrect choic

[2019-08-15 03:11] htuch commented on #7919
@asraa correct, if you want to take care of the fix that SGTM. Thanks.

[2019-08-15 03:20] htuch commented on #7923
@stevenzzzz and I were discussed moving RDS to the config provider framework today. This might need to happen prior to SRDS landing due to some complexities around the lifetime management that are trickier than expected in https://github.com/envoyproxy/envoy/pull/7451. @stevenzzzz is analyzing complexity of different approaches here last we spoke.

We definitely need to go sharing for memory use r

[2019-08-15 03:22] #7736 closed

[2019-08-15 03:25] htuch commented on #6614
@SecurityInsanity yes, https://tools.ietf.org/html/draft-ietf-httpbis-header-structure-11 is fine. Let's just make sure that this is a direct translation of the data model that exists in the proto, i.e. it should be equivalently expressive.

[2019-08-15 03:27] SecurityInsanity commented on #6614
For sure 👍🏻. I think keeping the model is needed.

I’ll start working on a PR tomorrow. Can you update the doc? (I don’t think I have write access).

[2019-08-15 04:55] mattbailey commented on #4839
Uh I’m not sure what you mean. I’m not “advertising” anything. I have no existing trace setup, but a constraint on reporting to a zipkin v2 endpoint. I thought it might be useful to someone in a similar situation.

[2019-08-15 05:35] adriancole commented on #4839
I called the "use this instead thing instead" approach advertising, but I can see how that's kindof a distracting term for the technique. It is good that there are parts of the codebase people are willing to maintain, and it is helpful to know they exist.

The "use this thing instead" approach is quite a huge hammer considering the small amount of effort this needs. If it weren't cpp, I think this

[2019-08-15 05:41] cetanu commented on #4839
One other problem I had with the OpenCensus tracer is that it doesn't support 64 bit trace ids, whereas I believe the current zipkin tracer does allow this to be set via a boolean field.

I am hopeful that this will remain an option if changes are made to support the Zipkin v2 format via the original, or new, tracer.

Also, I don't want to just be a burden and push for this change, If I can help i

[2019-08-15 06:02] hbgongen commented on #7914
thanks!@mattklein123,i have solve this problem.can i contribute this filter?   LOL~~~

[2019-08-15 06:02] #7914 closed

[2019-08-15 06:52] #7836 closed

[2019-08-15 08:10] #6592 closed

[2019-08-15 09:10] #4475 closed

[2019-08-15 11:10] #7411 closed

[2019-08-15 11:57] TuvaevAndrey commented on #4919
@vaibhav-gupta-grab  Having difficulties with same issue. Have you find the solution?

[2019-08-15 12:11] htuch commented on #6614
@SecurityInsanity sure. I think we should hash out the new representation here first. Looking at https://github.com/envoyproxy/envoy/blob/master/api/udpa/data/orca/v1/orca_load_report.proto, I think we may need multiple headers, e.g. `x-endpoints-load-metrics`, `x-endpoints-load-metrics-cost`, `x-endpoint-load-metrics-utilization` to correctly distinguish the core fields and the distinct maps that

[2019-08-15 13:11] SecurityInsanity commented on #6614
@htuch That's good to know about the proto's moving, thanks. Based on my understanding of the priority yes we'd need 3 headers. (one for the core type, and two for the two maps).

[2019-08-15 14:21] stevenzzzz commented on #7923
yeah, migrate RDS to the config-provider-framework is on my radar.
Will do that after the SRDS impl.

[2019-08-15 14:25] mattbailey commented on #4839
@adriancole you're right, I should have qualified my example with more specific caveats about what it's appropriate for. I dropped it in this issue mostly because this is the issue I found when I came across the problem.

[2019-08-15 15:02] AndresGuedez opened #7935 "Support doPeek() and size bounded doRead() in TransportSocket API"
Currently, the TransportSocket API only allows [unbounded reads](https://github.com/envoyproxy/envoy/blob/master/include/envoy/network/transport_socket.h#L129) from the underlying socket, via ` virtual IoResult doRead(Buffer::Instance& buffer) PURE;`.

There are use cases that require being able to peek and then drain the socket via a size bounded read.

I propose extending the API to support both

[2019-08-15 15:10] #7484 closed

[2019-08-15 17:07] howardjohn opened #7936 "--allow-unknown-fields has no effect; unknown fields are rejected"
**Bug Template**

*Title*: --allow-unknown-fields has no effect; unknown fields are rejected

*Description*:
When setting `--allow-unknown-fields`, unknown fields still seem to be rejected

When NOT setting `--allow-unknown-fields`, unknown fields seem to be accepted

*Repro steps*:
Download bootstrap.yaml and lds.yaml:
[repro.zip](https://github.com/envoyproxy/envoy/files/3506480/repro.zip)

Run

[2019-08-15 17:10] #7380 closed

[2019-08-15 17:17] howardjohn opened #7937 "Rejected unknown fields do not specify what field is unknown"
*Title*: Rejected unknown fields do not specify what field is unknown

*Description*:
When an unknown field is set using the filesystem subscription, we get a useful error message:
[code]

When an unknown field is sent over gRPC, we get a less useful message:
[code]

This is frustrating because it is hard to understand what field is unknown.

*Repro steps*:
See https://github.com/envoyproxy/envoy/

[2019-08-15 18:02] zuercher commented on #7667
If the inbound and outbound connections are all finagle-thrift, I'd recommend configuring the thrift proxy not to auto-detect the transport/protocol (should be framed/ttwitter) and setting the cluster's `extension_protocol_options` to contain a `envoy.filters.network.thrift_proxy` entry with a ThriftProtocolOptions struct that also sets the upstreams to use framed/ttwitter. It looks like something

[2019-08-15 18:10] #7508 closed

[2019-08-15 18:13] happydenn commented on #7667
I've tried with

[code]

and also

[code]

still getting the same error though.

Servers are built with Finagle while we have clients in multiple languages such as JavaScript/Node.js, Go, Python and Java

[2019-08-15 18:27] zuercher commented on #7667
If you're not using the twitter protocol from the clients, then you can probably just use the binary protocol, and eliminate some complexity. Also, can you share the IDL for the `StoreLocatorResult` type? Because that seems to be where the problem occurs.

[2019-08-15 18:42] happydenn commented on #7667
Thanks for your help.
I've attached some of the related IDLs.
If you need more just let me know :)

[code]

[2019-08-15 18:59] lita opened #7939 "[config] /config_dump shows rejected RDS config vs the last valid RDS config envoy is running"
*config*: */config_dump shows rejected RDS config vs the last valid RDS config envoy is running*

*Description*:
When triaging an invalid RDS config on our fleet, /config_dump showed the version sha of the bad config, rather than version sha envoy was running (which was the last valid configuration). So when a new box came up that was not able to serve traffic, config_dump showed the same sha, mak

[2019-08-15 19:13] mattklein123 commented on #7939
cc @htuch this is the issue I was chatting with you about. We can look but this regressed either as part of the VHDS or SRDS work. The fundamental issue is we are calling `onRdsUpdate` which updates config dump info before the config update itself might fail. We have to break this logic apart and only update the applied config if it actually succeeds.

[2019-08-15 19:20] grayaii commented on #125
I think this was supposed to be in 1.11.0 release.
1.11.1 just got released and it looks like this has been pushed to 1.12.0.

[2019-08-15 19:21] mattklein123 commented on #7937
cc @htuch I believe this is fixed by https://github.com/envoyproxy/envoy/pull/7857

[2019-08-15 19:21] mattklein123 commented on #7936
I think this is fixed by https://github.com/envoyproxy/envoy/pull/7857

[2019-08-15 19:21] mattklein123 commented on #7936
cc @htuch

[2019-08-15 19:29] lizan commented on #7935
@AndresGuedez this API sounds reasonable, do you have plan to migrate existing doRead calls from ConnectionImpl to doRoundedRead/Peak? I'm wondering how the next read event will be triggered if the read is bound.

[2019-08-15 19:31] howardjohn commented on #7936
Great, thanks!

Just a note -- it seems that while with the latest the flag is inverted, with an older version `envoyproxy/envoy-dev:829b905ca0fdc85233c3969247e53a62a52ac627`, it is rejected with or without the flag

[2019-08-15 19:32] htuch commented on #7939
I think this is https://github.com/envoyproxy/envoy/pull/3960 @lizan

[2019-08-15 19:35] mattklein123 commented on #7652
Fixed by https://github.com/envoyproxy/envoy/pull/7877

[2019-08-15 19:35] #7652 closed

[2019-08-15 20:01] AndresGuedez commented on #7935
There is no need to migrate `ConnectionImpl` to bounded reads at the moment, so I am not planning to do that as part of the API enhancement.

[2019-08-15 20:03] lizan commented on #7935
Then what is the real user for that API other than mock/tests? Do you plan to add another component that use it, or a wrapping transport socket (like tap)?

[2019-08-15 20:04] lizan commented on #7939
@htuch You're right #3960 is the regression point. Will take a look on a fix.

[2019-08-15 20:15] AndresGuedez commented on #7935
We have a wrapping transport socket at Google which requires this API.

[2019-08-15 20:41] stevenzzzz commented on #7508
I think we still want this，reopen it.

[2019-08-15 21:49] vaibhav-gupta-grab commented on #4919
Nothing yet. Trying to convert the image to base64 string and send it to server.

[2019-08-15 22:10] #7504 closed

[2019-08-15 22:40] sness commented on #6297
Has there been any progress on a doc for this?  I tried the cmake option but I encountered some odd errors with headers when I did this.  What are the best practices for developing and debugging envoy with breakpoints on a mac laptop?

[2019-08-15 23:13] jmarantz commented on #6297
Reopening to reflect that instructions for different options for macos dev should be checked in as docs.

[2019-08-15 23:19] htuch commented on #7936
@howardjohn if it's working now, but inverted, I think this should be solved by #7857. Hope to merge this in the next day or so.

[2019-08-15 23:26] htuch commented on #7937
This isn't fixed by #7857. The problem with gRPC (and proto in general) is that we don't actually have any name to report. We can know things like the number of unknown fields, or maybe some very coarse typing info (i.e. is it an int or not), but not much beyond this. Take a look at https://developers.google.com/protocol-buffers/docs/reference/cpp/google.protobuf.unknown_field_set#UnknownFieldSet

[2019-08-15 23:36] howardjohn commented on #7937
@htuch maybe it would be useful to get `.field().number()` (from [here](https://developers.google.com/protocol-buffers/docs/reference/cpp/google.protobuf.unknown_field_set#UnknownField))? Maybe we can't get the name, but we can get the field number. Presumably you know what control plane version you are running, so you can check the proto and see what field that actually is? That may be a bit of a

[2019-08-16 02:45] cgilmour opened #7944 "Add grpc status to tracing spans"
We've had some requests from users of datadog tracing with Envoy about adding GRPC status as tags on the tracing spans. Most of those users are indirectly using envoy via istio.

At the moment, GRPC requests will report all the HTTP2 information, but not the grpc status code and message received from an endpoint. The goal would be setting those values as tags on the tracing span.

I've had a look

[2019-08-16 02:57] htuch commented on #7937
Yeah, field number is doable, let me add this.

[2019-08-16 03:59] frasercobb opened #7945 "Question: How do I determine what deprecated features I am using?"
*Title*: How do I determine what deprecated features I am using?

Envoy version: Varies as we rollout between 1.10.0, 1.11.0, 1.11.1

*Description*:
We have envoy instances emitting the `envoy.runtime.deprecated_feature_use` metric but I am unable to figure out what features we are using that are deprecated.

The breaking change policy mentions the following:

However, I am unable to see these log

[2019-08-16 04:34] sam80180 opened #7946 "ext_authz headers_to_add not interpret variables %DOWNSTREAM....%"
I wanna add custom headers to my ext_authz service, but envoy does not interpret variables.
I only got non-interpreted string like %DOWNSTREAM.....%

envoy version: (docker image)envoyproxy/envoy:v1.11.1
config:
[code]

[2019-08-16 05:44] JimmyCYJ commented on #7604
Please remove the stale label. Thanks.

[2019-08-16 08:44] zhiqli commented on #7894
@alyssawilk maybe my sidecar envoy still 1.7。
I will upgrade to the new version and test again.
thank you very much

[2019-08-16 08:44] #7894 closed

[2019-08-16 10:04] lizan commented on #4251
Just tagging https://github.com/tetratelabs/getenvoy-package/issues/35 here, yes we're already aware the dynamic_ot plugins needs rebuild.

[2019-08-16 10:05] lizan commented on #7946
@gsagula ?

[2019-08-16 10:06] lizan commented on #7944
sounds reasonable to me.

[2019-08-16 15:30] kyessenov commented on #7946
It would be good to modularize the templating logic since it is used in many places. The header formatter and access log formatter share too much code that should be moved into its own place. That should also help with writing a formal grammar and parser for it (I assume parsing patterns on data path for headers is undesirable).

[2019-08-16 15:31] mattklein123 commented on #7945
You should see WARN logs for every deprecated feature you are using: https://github.com/envoyproxy/envoy/blob/cb15cc3d2010aff77d6e022ddf6d723fa8becbc0/source/common/protobuf/utility.cc#L199

It's possible there is some path that is not warning correctly, but we might need more info to debug. cc @alyssawilk who worked on this awesome feature!

[2019-08-16 15:32] mattklein123 commented on #7946
@kyessenov the code duplication and lack of proper parser has come up many times before and I would love to see this solved. See also https://github.com/envoyproxy/envoy/issues/2967.

[2019-08-16 15:35] kyessenov commented on #7946
Yes, and I've seen the logic crash :) You can re-use the CEL evaluator for string templating, but it's not as domain specific as the current format. I'd also suggest using a builder pattern so that info can be passed as `string_view` instead of `string`.

[2019-08-16 17:52] cstrahan commented on #7913
Yes, this is something that we needed. Here's an example:

[code]

These are the docs you'll want to review:

* https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/rbac_filter
* https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/jwt_authn_filter
* https://www.envoyproxy.io/docs/envoy/latest/configuration/well_known_dynamic_metadata

This comment describes how

[2019-08-16 19:20] #7201 closed

[2019-08-16 22:12] #7839 closed

[2019-08-16 22:32] kb000 opened #7954 "HTTP 200 infers GrpcStatus::Unknown in access log filter"
When filtering traffic that contains both REST and Grpc messages, the access log filter's behavior of inferring `GrpcStatus::Unknown` from `HTTP 200 OK` seems wrong, as it will capture all successful REST traffic.

https://github.com/envoyproxy/envoy/blob/74e348720af8d157bbdb00b629ac7c6022606fc8/source/common/access_log/access_log_impl.cc#L237-L239

It looks like the implementer expected the Grpc

[2019-08-16 22:32] kb000 commented on #7954
@lita @adilhafeez

[2019-08-16 23:50] mattklein123 commented on #7954
Agreed I think this is a bug. cc @crockeo who originally did this feature. cc @snowp @dio also.

[2019-08-17 00:23] l8huang opened #7955 "eds: during startup Envoy is sending too many ClusterLoadAssignment request to Istio pilot"
*Title*: during initializing Envoy is sending too many ClusterLoadAssignment requests to pilot-discovery

*Description*:
In our env, during Envoy startup and initializing cds, Istio pilot pushes ~18k clusters to Envoy,
then Envoy sends one ClusterLoadAssignment discovery request  for each resource by appending its name to request's resource_names list, that's, Envoy may send ~18K ClusterLoadAssign

[2019-08-17 14:36] ramaraochavali commented on #7945
Would it be good to have a stat around this so that we do not have to grep through fleet of Envoys?

[2019-08-18 02:49] yxue commented on #7454
Working on the design doc of aggregate cluster

[2019-08-18 09:16] #7486 closed

[2019-08-18 12:16] #7554 closed

[2019-08-18 13:05] mandarjog commented on #7955
@l8huang Is this envoy deployed as an istio-ingressgateway? sending 18k clusters to single envoy does not seem correct unless that is what you want. Knative is the only legitimate use case I know where this is possible.

@tcnghia have you seen similar behaviour with knative?

[2019-08-18 13:16] #7556 closed

[2019-08-18 13:27] mandarjog opened #7957 "Prometheus: allow opting out of automatic namspacing"
*Title*: *Prometheus: allow opting out of automatic namespacing*

*Description*:
PR #2140 added automatic namspacing to all prometheus metrics emitted by envoy per prometheus best practices.

A constant string `envoy_` is prepended to the prometheus metric names, with no way to override or opt out of the namespacing.

As filters add more metrics, they may be namespaced under a different prefix. Fo

[2019-08-18 14:16] #7557 closed

[2019-08-18 19:15] mattklein123 commented on #7957
FWIW I would opt for (2)

[2019-08-18 19:15] mattklein123 commented on #7945
@ramaraochavali there is a stat already?

[2019-08-18 19:25] mattklein123 commented on #7863
Fixed

[2019-08-18 19:25] #7863 closed

[2019-08-18 19:35] mandarjog commented on #7957
The challenge with admin config is that it forces us to update bootstrap.
This means any new filter injected thru wasm will need to have bootstrap updated in lockstep. It is possible though to use (2) to specify (1) and then all dynamically loaded filters continue to use that convention.

[2019-08-19 00:25] mhite commented on #7728
Is it safe to assume that the issue potentially exists in configurations that define `virtual_clusters` match patterns (and not just route matches)?

[2019-08-19 03:13] ramaraochavali commented on #7945
@mattklein123 Ok. Cool. Did not check the stat.

[2019-08-19 06:15] l8huang commented on #7955
@mandarjog Yes, it's deployed as an istio-ingressgateway.

[2019-08-19 08:53] XDMonkey commented on #2852
same!

[2019-08-19 10:20] l8huang commented on #7955
Does this [comment ](https://github.com/envoyproxy/envoy/blob/master/source/common/config/grpc_mux_impl.cc#L95) in source/common/config/grpc_mux_impl.cc ring any bell?

[code]

[2019-08-19 14:06] chipitsine opened #7959 "SSL performance issue: A lot of EC curve25519 calculations eat CPU"
we use envoy-1.11.1 in https mode. we use RSA ssl certificates, however in `cpuprofiller` mode we observe a lot of EC calculcations

![Screenshot from 2019-08-16 19-20-32](https://user-images.githubusercontent.com/2217296/63270557-d9c3d280-c2b1-11e9-9162-b19bd3a51453.png)

[2019-08-19 15:05] mattklein123 commented on #7728
@mhite yes. See https://github.com/envoyproxy/envoy/pull/7878 for WIP fix.

[2019-08-19 15:12] snowp commented on #7954
The 200 -> UNKNOWN mapping is what gRPC suggests: https://github.com/grpc/grpc/blob/master/doc/http-grpc-status-mapping.md but we should probably not be trying to infer a gRPC code for non-gRPC responses?

[2019-08-19 15:14] arun0704 opened #7960 "Envoy latest image performance drop increased high cpu."
title:- Envoy latest image performance drop increased  cpu consumption.
running envoyalpine:latest image

expected result:- old envoy performance result with image(envoy v1.5.0 )
/user/bin/local/envoy                               cpu(6m)         RAM(39Mi)
test result:-
/user/bin/local/envoy                               cpu(176m)         RAM(139Mi)
envoy  version: bf169f9d3c8f4c682650c5390c088a48

[2019-08-19 15:59] derekargueta commented on #7960
Can you provide more information, such as how you are testing this, what features you're using, and maybe a [`perf` report](https://linux.die.net/man/1/perf-report)? A lot of factors can affect CPU usage, such as health checking, what load balancer you're using, TLS handshakes, etc.

[2019-08-19 16:17] lita commented on #7954
Yeah if there was a setting or a way to not log if the header/trailer doesn't exist, that would be ideal.

[2019-08-19 16:39] mattklein123 commented on #7959
cc @PiotrSikora @lizan @davidben is this expected?

[2019-08-19 18:08] rdsubhas commented on #7161
This is a huge issue for us.

Java 9 and above, and Spring 1.5 and above – supports HTTP/2. So with every outgoing request, they send h2c upgrade headers.

Both sender (Java URLConnection) and receiver (spring, tomcat) properly conform to https://httpwg.org/specs/rfc7540.html#discover-http. There is nothing special here. The server simply talks HTTP/1.1 if HTTP/2 is not supported.

When we add env

[2019-08-19 18:24] #6651 closed

[2019-08-19 18:24] #6818 closed

[2019-08-19 18:27] davidben commented on #7959
Yes, modern TLS connections, even with RSA certificates, involve an ECDH operation.

Although it is surprising that curve25519 is showing up more than RSA (the bignum bits). An RSA private key operation takes about 10x as long as an X25519 exchange (keygen + ECDH).

Some possibilities:

* Did you build with compiler optimizations enabled? Our curve25519 implementation is in C, so it assumes compil

[2019-08-19 18:28] davidben commented on #7959
(To correct a misunderstanding in the issue title, this has nothing to do with renegotiation, which is an old TLS mistake that we don't even implement on the server.)

[2019-08-19 18:33] blaizedsouza commented on #2852
I am interested in the status on this issue as well. Thanks!

[2019-08-19 19:02] chipitsine commented on #7959
hi, I thought it is related to renegotiation, because "cipher change"

![Screenshot from 2019-08-19 23-51-46](https://user-images.githubusercontent.com/2217296/63291220-916dda00-c2dc-11e9-86b2-96bb71366f7c.png)

what do you mean by "our curve25519" implementation ? I thought it comes with BoringSSL. Also, I did have a look to BoringSSL, there's C implementation indeed. no assembler.

I have figure

[2019-08-19 19:05] sandy724 commented on #5930
I'm also looking for implementing simple network rate limiting, the official documentation is pretty confusing

[2019-08-19 19:19] chipitsine opened #7961 "please close tcp stream with "tcp rst" (when possible)"
please have a look (we use envoy 1.11.1)

![Screenshot from 2019-08-14 23-08-42](https://user-images.githubusercontent.com/2217296/63292820-fe36a380-c2df-11e9-99ec-1210d1bbd04e.png)

client sends "Connection: Close", so server knows it can close connection. Good.

if server will terminate connection with TCP RST, there will be no TIME WAIT state.
some explanation: https://stackoverflow.com/questio

[2019-08-19 19:41] chipitsine commented on #7959
btw, is there a way to get build configuration from envoy runtime ? something like `nginx -V` ?

[2019-08-19 20:43] lizan opened #7964 "accesslog: support logging long-lived HTTP stream / TCP connection"
*Description*:
Currently the access log is emitting logs at then end of HTTP stream / TCP connection, for a long-live stream / connection this means logger service doesn't get anything until the end. Some incremental logging for long-live connection is desired. https://github.com/envoyproxy/envoy/pull/7941#discussion_r315269146

[2019-08-19 20:51] jpvowen opened #7965 "When performing many DNS lookups in Kubernetes, Envoy becomes "stuck" to one DNS pod"
*Description*:
I've seen this when using Kubernetes with Flannel for the network fabric.

When an Envoy container is performing many DNS lookups (or when some DNS lookups become slow enough) that Envoy always has a request in-flight, Envoy becomes effectively "stuck" to the same dns pod, even when the DNS pod becomes slow or dies.

We have a cluster that has a lot of Envoy services exposed to it,

[2019-08-19 21:11] #7927 closed

[2019-08-19 21:33] yxue commented on #7454
[aggregate cluster design doc](https://docs.google.com/document/d/1q9Hz6sbTdkUU6-_kBIEZtDtjP72iIhGZILFz0AF0zcs/edit?usp=sharing)

cc @mattklein123 @htuch @snowp @duderino

[2019-08-19 21:44] davidben commented on #7959
No, that's just a random message used in the TLS handshake.

That's right. With a good C compiler, that C implementation performs very well and is synthesized via a [formally-verified pipeline](https://github.com/mit-plv/fiat-crypto), so we switched to using it exclusively at some point. No sense in keeping around assembly that isn't pulling it's weight. (Taking keygen + ECDH together, it actually

[2019-08-19 22:04] lizan commented on #7959
@chipitsine are you using official image or custom build? If you didn't pass `-c opt` to bazel that means you're not running a optimized build.

[2019-08-19 22:39] mattklein123 commented on #7961
Envoy does fully close the connection after the delayed close timeout, which defaults to 1s. See "delayed_close_timeout" here: https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/http_connection_manager/v2/http_connection_manager.proto

[2019-08-19 22:45] mattklein123 commented on #7965
Sounds like a reasonable request: marking enhancement/help wanted.

[2019-08-19 22:47] mattklein123 commented on #7955
I think no matter what we will get an EDS request per cluster given the way EDS works today, right @htuch? Although sending 19K clusters to Envoy in one shot seems a bit egregious in terms of expectations, @htuch do we have any xDS scalability plans in this case?

[2019-08-19 22:53] htuch commented on #7955
@dmitri-d had something to fix this that got rolled back, check out https://github.com/envoyproxy/envoy/pull/5026. I think when you hit 20k clusters, you are going to have other issues in Envoy as well, that is really at the proxy-wide scaling limit.

[2019-08-20 00:53] PiotrSikora opened #7968 "AddressSanitizer: misaligned access in setsockopt()"
*Description*:

The argument passed to `setsockopt()` is not properly aligned, which ASan complains about when linked against libc++.

*Repro steps*:

`bazel test --config=clang-asan --config=libc++ //test/...`

*Logs*:

This is a list of tests that fail because of this failure:
[code]

*Call Stack*:

[code]

cc @lizan

[2019-08-20 01:47] awesomelinhhh opened #7970 "dubbo heartbeat and magic number 20186 issue"
Description:
When I debug envoy with dubbo protocol, found this debug message appear once every minutes,  I wonder how it works and who send this message.
_[2019-08-19 12:19:53.744][29][debug][dubbo] [external/envoy/source/extensions/filters/network/dubbo_proxy/decoder.cc:134] dubbo decoder:17 bytes available
[2019-08-19 12:19:53.744][29][debug][dubbo] [external/envoy/source/extensions/filters/net

[2019-08-20 02:01] zyfjeff commented on #7970
@awesomelinhhh I suspect it didn't handle the heartbeat request, I'm testing locally., thank you for your feedback

[2019-08-20 02:05] zyfjeff commented on #7970
@awesomelinhhh Are you the latest version? This log doesn't match the latest code.

[2019-08-20 02:09] awesomelinhhh commented on #7970
---------
branch: envoy-wasm
commit id: f66e557b6e787043e9efde5cfcd88afdce0b9408

[2019-08-20 03:08] #7699 closed

[2019-08-20 03:13] edussx commented on #7955
@mandarjog 18k clusters is our use case since we have a large cluster with ~5000 kubernetes services:
[code]

[2019-08-20 04:49] cetanu commented on #7583
A lot of requests don't have a referer in my experience, plus it can be somewhat falsified. The `REQ_WITHOUT_QUERY` is probably good enough though. If it fits with the existing convention for logging macros, then why not. I'm not an authority on this :P

[2019-08-20 05:54] chipitsine commented on #7959
Thank for the tip. I've idea why '-c opt' is not enabled by default. Is it buggy?

[2019-08-20 05:56] lizan commented on #7959
@chipitsine No, it is intentional that the default configuration is `fastbuild`. It is documented to use `-c opt` for production build: https://github.com/envoyproxy/envoy/blob/master/bazel/README.md#production-environments

[2019-08-20 08:00] containscafeine commented on #7218
@mattklein123 @alyssawilk can we mark this as 'help wanted'?

[2019-08-20 08:06] arun0704 commented on #7960
@derekargueta Thanks, CPU rate was going high due to number of worker threads, i found in  old performance test setup
--concurrency = 10 so it was taking less cpu, in current test bad  --concurrency = 48 , so this was causing high cpu. so i think nothing wrong with envoy, working fine.

[2019-08-20 13:26] alyssawilk commented on #7945
Yeah, it should be in warning logs.   I'll add that to the docs for runtime.rst as it's been asked once or twice.

It would be lovely if there were a stat per deprecated feature but I'm not sure if that'd be too expensive.  Internally our equivalent used power of two backoff on both logs and stats and I don't think Envoy has that equivalent yet

[2019-08-20 13:30] alyssawilk commented on #7945
So I think now that the stat points to the log messages (and gives you something to grep for).

The logs both point to the deprecation docs (https://www.envoyproxy.io/docs/envoy/latest/intro/deprecated) which say how proto field X is replaced by proto field Y, and also to the runtime overrides ("using runtime overrides for deprecated features") for temporary workarounds.  Is there anything else yo

[2019-08-20 13:37] alyssawilk commented on #7161
Is your desire here to have the upgrade ignored, and handled as HTTP/1?  If so you can configure Envoy to accept this type of upgrade: https://www.envoyproxy.io/docs/envoy/v1.8.0/intro/arch_overview/websocket (set the upgrade_tye to h2c), Envoy will pass the requests to the filter chain, and you can strip the actual upgrade headers before they are sent upstream as you're currently trying to do.

[2019-08-20 14:27] htuch commented on #5965
Also related: https://github.com/protocolbuffers/protobuf/issues/1322

[2019-08-20 14:44] antoniovicente commented on #5965
Possible mitigation: run MessageUtil::checkForDeprecation on a copy of the config proto.

diff --git a/source/common/protobuf/utility.h b/source/common/protobuf/utility.h
index a05587338..5677b494c 100644
--- a/source/common/protobuf/utility.h
+++ b/source/common/protobuf/utility.h
@@ -241,7 +241,8 @@ public:
    */
   template <class MessageType> static void validate(const MessageType& message) {

[2019-08-20 14:56] htuch commented on #7454
Thanks @yxue, I've left a couple of comments on the doc.

[2019-08-20 15:30] jingnanzhou opened #7973 "Major Blocker: Envoy causes java 11+ http2 connection failure in Istio"
Envoy seems to cause a major issue for Java 11+ HTTPClient connection. Here is the bug found in Istio (  https://github.com/istio/istio/issues/16391  ). Is anyone aware of the issue

Bug description

Java 11+ core HttpClient optionally supports HTTP/2, and as per official HTTP/2 spec rfc7540, it sends optional Upgrade: h2c header, which is purely indicative and can/should be ignored and treated as

[2019-08-20 15:40] mattklein123 commented on #7973
See https://github.com/envoyproxy/envoy/issues/7161#issuecomment-523018614 for how to pass through h2c upgrade. Doc updates appreciated for this case.

[2019-08-20 16:21] htuch opened #7974 "Load balancing simulation and visualization"
It is often challenging to fully grok the interaction of Envoy's sophisticated load balancing schemes, priorities, overprovisioning, health, panic mode, etc. We have some documentation describing this at https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/load_balancing, but there is still a significant gap between this and truly understanding e2e the resulting

[2019-08-20 16:27] mhite commented on #7944
As both an Datadog and Istio user, I would find this functionality tremendously useful.

[2019-08-20 17:55] rshriram commented on #7973
@mattklein123 that comment basically says that people need to write custom filters to make envoy work with standard java sdks. Passing h2c to filter chains and then stripping it out in some special filter is same as dropping h2 altogether as at cluster level, we will still do h1 to the upstream app.

[2019-08-20 17:55] stevenzzzz opened #7975 "tls: performance of allocating slot could be improved, it's O(N) for now."
**Issue Template**

*Title*: Allocating a slot currently including a linear searching for empty slot in the slots vector, in the case of frequent allocating and deallocating, this could be a performance issue.

*Description*:

https://github.com/envoyproxy/envoy/blob/master/source/common/thread_local/thread_local_impl.cc

  for (uint64_t i = 0; i < slots_.size(); i++) {
    if (slots_[i] == nullpt

[2019-08-20 18:02] mattklein123 commented on #7973
So what is the request here? To ignore h2c and not upgrade and stick to HTTP/1.1?

[2019-08-20 18:03] mattklein123 commented on #7973
We already have https://github.com/envoyproxy/envoy/issues/7161 fully tracking h2c upgrade.

[2019-08-20 18:12] rshriram commented on #7973
https://github.com/rdsubhas/java-istio/issues/1

[2019-08-20 18:14] #7968 closed

[2019-08-20 18:15] mattklein123 commented on #7973
Correct, Envoy does not support h2c upgrades. This is already tracked in https://github.com/envoyproxy/envoy/issues/7973. If there is some different request here let me know.

[2019-08-20 18:26] l8huang commented on #7955
A PR is created for fixing this issue: https://github.com/envoyproxy/envoy/pull/7976
It pauses ADS mux for ClusterLoadAssignment while initializing secondary clusters. With 20k clusters, it reduces the secondary clusters initialization time from 90 seconds to 3 seconds.
@htuch @mattklein123 could you please take a look?

[2019-08-20 18:30] mattklein123 commented on #7916
Didn't realize we are already tracking in https://github.com/envoyproxy/envoy/issues/6596

[2019-08-20 18:30] #7916 closed

[2019-08-20 18:38] pranaypratyush commented on #1861
I merely need envoy for grpc-web. As an alternate can we have nginx configured on armv7?

[2019-08-20 18:39] snowp commented on #7973
This seems like a bit of an exaggeration, we've been happily using Envoy with Java 9/10/11 for months now, using a Jetty/Netty/Okhttp based stack.

[2019-08-20 18:42] euroelessar commented on #7702
Closing in favor of #886

[2019-08-20 18:42] #7702 closed

[2019-08-20 19:12] lizan commented on #7973
@rshriram I believe you only need a custom config, rather than writing a custom filter. OTOH, can't java client use h2c with prior knowledge (i.e. what `curl --http2-prior-knowledge` does)?

[2019-08-20 19:29] alyssawilk commented on #3684
Given the old websocket path is deprecated, and I believe this works correctly with the new path, I'm going to claim this is fixed.

[2019-08-20 19:29] #3684 closed

[2019-08-20 20:41] stevenzzzz commented on #7975
/assign stevenzzzz

[2019-08-20 21:08] #7572 closed

[2019-08-20 21:43] jcrowthe commented on #6767
Is is possible to reprioritize this issue? We have a use case where we have thousands of services behind hundreds of FQDN's that are served by a set of identical envoys, (all using a wildcard TLS cert). We exhibit this exact issue when HTTP/2 is enabled but not when enforcing usage of HTTP/1.1.

[2019-08-20 21:53] htuch opened #7980 "Recursively check for unknown fields in MessageUtil::checkUnknownFields"
As pointed out in https://github.com/envoyproxy/envoy/pull/7978/files/19d27bb6a60399bd142a00add46052bf1737231b#r315896246, we're missing a recursive check for unknown fields in binary protos. We should fix this. It comes at a performance penalty discussed in https://github.com/envoyproxy/envoy/issues/5965, but this seems reasonable given this can always be disabled.

[2019-08-20 22:19] kyessenov opened #7982 "api: organize go proto libraries"
`api_go_proto_library` is used in an ad-hoc fashion. It's not part of the `api_proto_library` macro, and is often neglected when protos are shuffled.

This issue is a proposal to organize the protos as follows:
- there should be only one  `go_proto_library` per directory in xDS. This is aligned with normal Golang practices of Go package == proto package (e.g. https://github.com/googleapis/go-genpr

[2019-08-20 22:23] mattklein123 commented on #7982
@htuch can you help oversee design review on this? Per offline discussion IMO we should not have any reference to Go at all in the xDS protos and this should be handled either internal to the bazel machinery or somehow by an external tool.

[2019-08-20 22:27] kyessenov commented on #7982
1) and 2) could be handled with a bazel macro `api_proto_package` or something like that.

[2019-08-20 22:38] snowp opened #7983 "Crash in Envoy::Http::AsyncStreamImpl::closeRemote on shutdown"
Seeing the following crash running off 38a4d86407668612ccbc4cba65d11be6cbd81b32:

[code]

Not 100% sure that this was introduced with our recent update, as we've been seeing crashes with similar traces on older versions.

[2019-08-20 23:57] mattklein123 commented on #7983
cc @goaway not sure if this is a result of your change or just exposing an existing underlying issue.

[2019-08-21 00:13] cgilmour commented on #7944
Great! I'm currently working on this.

[2019-08-21 00:21] mauriedo opened #7985 "Is it possible to attach tags to envoy.server.live only?"
We spin up multiple envoys as part of our internal platform, potentially all of them configured differently. Stats from these envoys are sent to a centralised place.

We would like to have an easy way to see what envoys have what top-level features (think auth, retries, circuit breaking) turned on via arbitrary stats and tags, but without having to tag all stats for it. An idea we had was to tag o

[2019-08-21 00:37] rshriram commented on #7973
I have no idea. Per @Stono, seems the breakage is caused by the default stdlibs in java supporting inplace upgrades (just like the websockets).

[2019-08-21 00:38] goaway commented on #7983
Here's the diff to `closeRemote`:
https://github.com/envoyproxy/envoy/pull/7752/files#diff-e0832897097b38561d13001dddb7a8c3R171

The only possibility I can see resulting from our change would be if `onComplete` is somehow undefined--but it's declared `virtual` on the interface, so I'd expect the compiler would catch that.

[2019-08-21 00:47] goaway commented on #7983
Is it possible the callbacks implementation has already been released by the time we get there?

[2019-08-21 01:01] mikehuston opened #7986 "Question: set-cookie on client response in successful ExtAuthz response"
When using ExtAuthz HttpService, is there a way to set `set-cookie` header on the client response based on the same header in a response from a successful ExtAuthz request?

[allowed_client_headers](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/ext_authz/v2/ext_authz.proto.html?highlight=extauthz#config-filter-http-ext-authz-v2-authorizationresponse) is close to what I want

[2019-08-21 01:53] awesomelinhhh commented on #7970
@zyfjeff Did you get the magic number error also in local? it looks like envoy can't solve heartbeat msg correctly, I capture the tcp msg when this error appear, heartbeat msg length is 17, but envoy just take heartbeat msg as 16 length, unexpect 4e='N' left to next msg, and magic number error happend(20186=4eda).
da:bb:22:14:00:00:00:00:00:00:00:06:00:00:00:01:**4e**

[2019-08-21 02:05] zyfjeff commented on #7970
@awesomelinhhh You are right, the heartbeat processing is wrong, less drain a byte

[2019-08-21 02:11] htuch commented on #7982
First, super excited to see this getting some attention, thanks @kyessenov!

I think we need a design proposal that completely hides language specifics, and also avoids manually curating a dependency tree in parallel for Go. @kyessenov could you mock up some examples based on some simple package in the existing tree, showing what this would look like from a BUILD author perspective?

[2019-08-21 02:29] kyessenov commented on #7982
Here is the food for thoughts: https://github.com/envoyproxy/envoy/compare/master...kyessenov:new_go_library?expand=1

The basic idea is that we actually need a proto package rule per directory. Once we have that, we can create an associated go_proto_library.

[2019-08-21 03:10] htuch commented on #7982
Is this going to completely get rid of having to maintain a parallel dependency tree? Does the package level proto declaration need to take in the union of all proto dependencies? If we do this, I feel we might as well just do it for C++/Python etc. The downside is that we lose fine grained targets, which is a nice feature of Bazel for build performance and build graph analysis.

I'm trying to und

[2019-08-21 03:13] acds opened #7988 "internal headers being stripped"
Hi I'm quite new a envoy and having trouble parsing the Header Manipulation [documentation](https://www.envoyproxy.io/docs/envoy/v1.11.1/configuration/http_conn_man/headers). Any help appreciated.

*Title*
HTTP Header in mesh being stripped by envoy when one micro-service is calling another internally

*Description*:
Service A is called externalizing passing in "APIKey" header, Service A calls Ser

[2019-08-21 03:41] kyessenov commented on #7982
I would expect package level proto library needs to declare its package level proto library dependencies. A nice side effect of this is that proto packages do not become accidentally mired in dependency loops. Without some package-level grouping of protos that is understood by bazel, proto packages don't really mean much from the build stand point.
I don't think performance is an issue with Golang

[2019-08-21 04:50] dio commented on #4839
@cetanu if you want to contribute to the current PR, I'll add you to the envoy-zipkin/envoy repo.

[2019-08-21 07:40] lizan commented on #7954
@snowp is right and it is what gRPC suggests.

You can combine the  `GrpcStatusFilter` (which is questioned here) and `HeaderFilter` with `content-type` to be `application/grpc` to get log of gRPC part, and then the inverted `HeaderFilter` for the REST part?

[2019-08-21 08:30] ramaraochavali opened #7990 "Envoy crashes with assertion failure on redis cluster removal"
*Description*:
Envoy crashes with assertion failure if a redis cluster is removed.

- Management server sends redis cluster with CDS response
- Envoy is fully initialized
- Management server sends CDS update with out redis cluster
- Envoy tries to remove the cluster and crashes with the following assertion while removing membership update callback.

[code]
If I look at the `callbacks_.size() `here

[2019-08-21 09:31] sennyhan opened #7991 "How to set a Dubbo Proxy Route Configuration apply to all interface?"
I have a sample  dubbo service which have many interfaces. I want set same route Configuration to all interface. When missing interface In Dubbo Proxy Route Configuration, error occurs in envoy logs as follows.
"dubbo router: no cluster match for interface 'org.apache.dubbo.demo.DemoService'"
Can I not specify Interface of Dubbo Proxy Route Configuration? How to set a Dubbo Proxy Route Configurati

[2019-08-21 10:03] manish-404 opened #7992 "Content in envoy docs does not cover whole page"
*Title*: Content in envoy docs does not cover the whole page

*Description*:
In https://www.envoyproxy.io/docs/envoy/latest , the right side seems unused.( find screenshot attached )

![image](https://user-images.githubusercontent.com/52198964/63422623-5b3d7100-c428-11e9-8e9a-849af987ebd7.png)

I would like to take up this issue.

[2019-08-21 11:06] ramaraochavali commented on #7990
This call comes from https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/network/redis_proxy/conn_pool_impl.cc#L124

which was added as part of https://github.com/envoyproxy/envoy/pull/7104 recently.

@msukalski any idea why it is happening? The call to remove was added as part of that PR - Do we have to check if callbacks have been added?

[2019-08-21 12:00] prdoyle commented on #2852
Folks, please stop the "me too" posts.  The way to express that is to thumbs-up Matt's comment at the top.

[2019-08-21 16:09] mattklein123 commented on #7985
No this is not possible. It sounds like a potentially interesting feature though I think details need to be thought out in terms of whether we should do something more generic or there is some other potential solution. cc @jmarantz for stats thoughts.

[2019-08-21 16:09] mattklein123 commented on #7986
cc @dio @gsagula

[2019-08-21 16:10] mattklein123 commented on #7988
By default Envoy does not strip any headers other than as defined by https://www.envoyproxy.io/docs/envoy/latest/configuration/http_conn_man/header_sanitizing, so I'm guessing there is some other issue with your config?

[2019-08-21 16:12] mattklein123 commented on #7954
Thanks @lizan and @snowp it looks like there is a workaround here. @kb000 if there are any doc updates that would have helped you here PRs super appreciated.

[2019-08-21 16:13] mattklein123 commented on #7991
cc @zyfjeff

[2019-08-21 16:36] #7870 closed

[2019-08-21 16:53] htuch commented on #7982
Stepping back, my real wish list here is:
1. Avoid multiple dependency graphs being maintained for a given proto. One source of proto dependency truth across all languages.
2. Make the changes an author needs to do to a BUILD feel be something that can be structurally enforced. I.e. either the macros or something like check_format makes it so that you can't make a mistake, no matter how hard you t

[2019-08-21 17:00] #7939 closed

[2019-08-21 17:18] kyessenov commented on #7982
I looked around for some bazel trick to aggregate rules in BUILD files, and it looks complicated, if possible at all. Generally, it's hard to make bazel to pre-process BUILD files. It treats them as canonical source of truth. Doing something outside of bazel before bazel would complicate the build system further IMHO.

I'm not really sure how to proceed here if (1) is required. Package-level proto

[2019-08-21 17:27] htuch commented on #7982
The other alternative is we do overhaul the existing C++/Python rules and make them package wide. That would be more disruptive I think than we're up for I'm guessing.

I think I'd be reluctantly willing to concede on (1) if we had robust (2). @mattklein123 WDYT?

[2019-08-21 17:29] kyessenov commented on #7982
(2) can be enforced by checking every API BUILD file for a call to the package level proto library. That should be an easy linter.

[2019-08-21 17:32] htuch commented on #7982
The linter should also verify that we have consistency in dependencies. Some of this will be picked up at build time, but due to transitive includes it might not be as robust as what we could get by verifying directly this consistency.

[2019-08-21 19:59] kyessenov commented on #7982
Transitive build dependencies between packages that form a loop _should_ be detected by bazel I think. Let me know if I'm missing some case where it's not.

My main motivation is to converge `go-control-plane` and envoy's Bazel so that code written against one is portable to the other (in and out of google monorepo). Ideally, the generated code can be dumped automatically, just like with `data-pla

[2019-08-21 21:08] #7937 closed

[2019-08-21 21:39] lizan opened #7997 "mac: unable to open file '/dev/stdout': Permission denied"
*Description*:
In macOS only, when stdout is redirected, envoy is unable to open log file /dev/stdout and reject config.

*Repro steps*:
with following config:
[code]

and run `envoy -c envoy.yaml > foo.log`.

[2019-08-21 22:21] #7992 closed

[2019-08-21 22:22] mattklein123 commented on #7975
Fixed

[2019-08-21 22:22] #7975 closed

[2019-08-21 22:23] mattklein123 commented on #7973
This will be worked around via https://github.com/envoyproxy/envoy/pull/7981 and we are tracking actual h2c support in https://github.com/envoyproxy/envoy/issues/7973

[2019-08-21 22:23] #7973 closed

[2019-08-21 23:34] mattklein123 commented on #7982
I'm willing to concede (1) also as long as we have (2), agreed.

[2019-08-22 00:50] leosunmo commented on #7753
This is currently affecting a few Bottle (python) based upstreams for us. It causes a `Error while parsing chunked transfer body` error (https://github.com/bottlepy/bottle/blob/eff4960d941b51629f8378b1bd9498ed2aec92c7/bottle.py#L1310).

We have both rate limiting and ext_authz enabled, it goes away if we disable ext_authz, but not sure about rate limiting, could be doing something wrong.

Anyone h

[2019-08-22 01:06] elvizlai commented on #7630
help wanted

[2019-08-22 01:17] leosunmo commented on #7753
I was able to properly reproduce it now. If I remove either ext_authz or rate-limit it does not add the transfer-encoding header.

[2019-08-22 01:25] incfly commented on #3431
A very very rough POC can be found at https://github.com/envoyproxy/envoy/compare/master...incfly:httpx-pool?expand=1

It'll be great to get some quick feedback so that I tell it's right direct to continue polishing it.

With this change, I set up a client and server envoy, for `/http1` routes to a cluster without any alpn configured, for `/http2` routes to alpn h2 configured. Then I can verify fr

[2019-08-22 02:40] lizan commented on #7928
FWIW, this is a false positive of TSAN with non-instrumented libc++, I tried with instrumented libc++:

[code]

[2019-08-22 02:47] PiotrSikora commented on #7928
Nice, thanks! Should we close this... or are you planning on adding instrumented libc++ to CI?

[2019-08-22 05:00] lizan commented on #7928
Meanwhile does `-c opt` seem to be able to workaround all false positives? I'm trying to not be involved in the C++ toolchain business if we can workaround.

[2019-08-22 05:10] PiotrSikora commented on #7928
Yes, as mentioned above, TSan doesn't report this nor the other issue when using `-c opt`.

[2019-08-22 06:02] #7578 closed

[2019-08-22 07:02] #7351 closed

[2019-08-22 07:16] seguidor777 commented on #7351
Still persists in v1.11.1

[2019-08-22 08:32] rdsubhas commented on #7973
@rshriram @mattklein123 The issue raised by @Stono was wrong and has been closed. It's not about "not sending mandatory headers". The implementation is broken even if you send the mandatory headers.

https://github.com/rdsubhas/java-istio/issues/1#issuecomment-523806004

[2019-08-22 14:03] mmpei commented on #5267
@yangminzhu does envoy support this case now? or any workaround?

[2019-08-22 15:08] boonware opened #8007 "Trustworthy identification of service caller"
# Description
I have a service which needs to know the identity of the service calling its API. From reading the documentation I see there is the `x-envoy-downstream-service-cluster` header which can be attached to HTTP requests to carry this information. However, in the docs it says:

So my question is, is there a _trustworthy_ mechanism to propagate the service identity with a HTTP request?

# R

[2019-08-22 15:24] stevenzzzz commented on #7902
update to stop this been closed by stale bot.

This problem also applies to shutdown time, probably workers should drain their dispatcher queue.

[2019-08-22 15:36] mattklein123 commented on #7928
If it's clear that this is a sanitizer issue, can we revert the other "fix" if there is a workaround?

[2019-08-22 15:41] mattklein123 commented on #8007
You would need to set up mTLS, use JWT, etc. so the service identity can be cryptographically verified.

[2019-08-22 15:50] boonware commented on #8007
@mattklein123 Even with mutual TLS enabled, the called service still needs to know the caller identity at the REST API level, and I'm hoping to get this information from Istio _in order to create_ a JWT.

[2019-08-22 16:55] htuch opened #8010 "Proto validation of gRPC runtime credentials"
In some places, e.g. https://github.com/envoyproxy/envoy/blob/7267542177ef49b33d6dd7b6ae6cdaa4ce2fb9ce/source/extensions/grpc_credentials/file_based_metadata/config.cc#L31, https://github.com/envoyproxy/envoy/blob/7267542177ef49b33d6dd7b6ae6cdaa4ce2fb9ce/source/extensions/grpc_credentials/aws_iam/config.cc#L39, we're explicitly plumbing in a null proto validation visitor, rather than using somethi

[2019-08-22 18:07] lavignes commented on #7973
Just wanted to chime in on here and mention that we've verified that App Mesh is also affected by this. We're looking forward to #7981 getting merged.

[2019-08-22 18:22] mattklein123 commented on #6716
@alyssawilk I think I saw a comment go by that said you are working on this so assigning over to you.

[2019-08-22 18:42] #7997 closed

[2019-08-22 18:50] lizan commented on #7928
@mattklein123 I will open a PR with workaround, per TSAN FAQ statically linking libc++ will result false positives so adding -lc++ is another workaround (and seems stable).

[2019-08-22 19:07] #4496 closed

[2019-08-22 19:38] rshriram commented on #7454
Here is a much simpler and more extensible proposal rather than adding yet another type of a cluster.

Extend the filter api in the cluster to be able to decide / mutate the settings that need to be used for a given endpoint. Settings include TLS settings, http2 settings, etc. This filter callback needs to be invoked before making the connection. This is all envoy would have to do. I would not do

[2019-08-22 19:40] alyssawilk opened #8013 "check test coverage from #7962"

[2019-08-22 19:44] rshriram commented on #7454
And in terms of being able to support DNS endpoints in a cluster that otherwise has static IPs, we can do that detection in Istio and ship that entire cluster as a STRICT_DNS cluster. What envoy would need to do is to support locality LB for strict DNS, and not just EDS [which is a useful thing in its own accord].

[2019-08-22 19:51] #7589 closed

[2019-08-22 20:29] alyssawilk commented on #7548
Grr, not closed.
Looking into coverage, this only works where we have an actual runtime.  More work to be done, including the new tests.

[2019-08-22 20:46] lizan commented on #7454
Aside from the DNS issue, (sorry I wasn't aware of this issue before), overriding TLS context (perhaps with merge context) per endpoint is raised in the past, and I think that is the right way to go vs defining different clusters and aggregate them. This is more lightweight solution in the scenario that each endpoint have different certificate with different SAN, which I believe is the Consul issu

[2019-08-22 20:47] incfly commented on #7454
Any pointer on that one?

[2019-08-22 20:51] #7586 closed

[2019-08-22 21:06] lizan commented on #7454
@incfly I can't find the exact issue, but I think we discussed this in the context of SDS, certification validation context and secure naming, perhaps it is in one of them. There was also request for overriding SNI for endpoint.

[2019-08-22 21:43] htuch commented on #7454
Folks, I think the TLS discussion is orthogonal. Can we get some clarity on whether there is an actual need to clusters with completely different discovery types at different priorities (EDS vs. DNS)? This was what motivated aggregate clusters originally I believe.

[2019-08-22 21:57] yxue commented on #7454
Walmart's use case does include clusters with different discovery types. EDS for hosts inside mesh and DNS for hosts outside the mesh. The requirement is that failing over from internal to external when internal hosts are unhealthy.

[2019-08-22 22:03] incfly opened #8016 "Customize Per Endpoint TLS Settings"
*Title*: *Feature Request, Customize Per Endpoint TLS config*

*Description*:

Today Envoy each cluster has a single TLS configuration. We would like to be able to customize TLS config as per endpoint basis.

A potential solution could be extend the [`cluster filter`](https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/cluster/filter.proto#L21), interface. At the time of a transport s

[2019-08-22 22:04] incfly commented on #8016
@PiotrSikora @rshriram @lizan

Welcome comments, thanks.

[2019-08-22 22:19] lizan commented on #7454
@htuch right so that comes down to my question in the doc, aside from TLS, can't that address by control plane rather than adding a new type of clusters? The proposal sounds overkill with the insane math implied to address the specific issue.

[2019-08-22 22:23] yxue commented on #7454
@lizan, I haven't update the doc yet. The load balancer will reuse current load balancing algorithm.

[2019-08-22 22:35] incfly commented on #7161
/cc @incfly

Working on https://github.com/envoyproxy/envoy/issues/3431 focused on supporting ALPN h2 upgrade case. And got the feedback that the h2c + ALPN upgrade both should live in the same new connection pool.

[2019-08-22 22:37] htuch commented on #7454
@lizan I also suggested control plane early on, I think @duderino might be able to clarify why that wasn't considered the appropriate solution here.

[2019-08-22 22:50] rshriram commented on #7454
per the original issue by @uk000, they needed to load balance traffic to k8s pod ips plus dns endpoints, wherein traffic to k8s pods should use mtls while the one to dns should use plain text. So @htuch the tls discussion is very much related to this. A cluster with different discovery types and different tls blocks. And I am saying that the control plane can handle the different discovery type th

[2019-08-23 00:04] zyfjeff commented on #7991
@sennyhan Currently, the interface does not support wildcards. It can only be configured one by one. This can be used as a new feature.

[2019-08-23 00:13] abhishek-jain11 commented on #3296
Hi
I am trying to access issuer certificate in LUA filter. Can anyone please help me on how to do it?

[2019-08-23 02:10] sennyhan commented on #7991
@zyfjeff  The dubbo service which I use has hundreds of interfaces.  It 's too complicated configuring interfaces one by one. Could you tell me when the new feature supporting wildcards of interface will come? And can I submit an issue for tracking it? Thanks alot.

[2019-08-23 02:26] zyfjeff commented on #7991
@sennyhan You can create an issue to track it and I will process it in the next two weeks.

[2019-08-23 05:43] snowp commented on #7454
@rshriram afaik locality lb has worked with STRICT_DNS for months (ever since load_assignment was added to the cluster), as most of this code is shared between all the cluster types. Are you seeing otherwise?

[2019-08-23 06:25] rocks4530 commented on #5357
The same thing is happening to me too. But for me, unfortunately, I can't use GRPC server.

[2019-08-23 06:29] rocks4530 commented on #6099
@gsagula, in that case, how to send the authorization request to URI something like this
http://host/api/authorize

[2019-08-23 07:01] sekaninat commented on #5357
@rocks4530 We're still trying things out, but as a quick hack I overridden the ext_authz_http_impl to do the modifications I needed. It was pretty straightforward. Check out RawHttpClientImpl::check(...) and ClientConfig::ClientConfig i you need to add anything. I am not sure what's your exact scenario but I can show you if you'd like.

[2019-08-23 07:05] rocks4530 commented on #5357
@sekaninat let me explain what we need exactly
I want every request hitting http://localhost:8080 (no matter what endpoint) to be sent to http://localhost:5001/verify in order to be verified/authorized. There I need to check for some headers and if it is ok, forward it to the endpoint it originally requested. Otherwise - reject. Currently whatever we put in
server_uri:
   uri: http://localhost:500

[2019-08-23 07:07] rocks4530 commented on #5357
I think there is already a similar issue @https://github.com/envoyproxy/envoy/issues/6099. Just FYI

[2019-08-23 07:10] dio commented on #5357
@sekaninat, mind to open a PR? I'd like to help to review if needed. Thank you!

[2019-08-23 07:23] sekaninat commented on #5357
@rocks4530 Yeah that's pretty much the same scenario I had.
And exactly as discussed in the other issue. That's pretty wrong imho to have parameter that doesn't do anything.

@dio I'll see what I can do, I should probably make it bit nicer as I just overridden the original code :blush:. For now here a diff https://pastebin.com/8MLjZDpR

[2019-08-23 08:18] rocks4530 commented on #5357
@sekaninat thanks! Please let us know!

[2019-08-23 13:04] TuvaevAndrey commented on #7651
Guys, help wanted :)

[2019-08-23 15:01] nbkrause opened #8025 "Envoy crashes when ext_authz is reconfigured while under load"
*Title*: *Envoy crashes when ext_authz is reconfigured while under load*

*Description*:

This has been tested on master as well as the v1.11.1 release.

*Repro steps*:
1. Stand up envoy with the `ext_authz` using a controller (in this case Ambassador)
2. Send a stream of requests through envoy
3. Reconfigure ext_authz
4. See envoy crash

*Config*:
[code]

*Logs*:
[code]

[2019-08-23 15:24] rshriram commented on #7454
Thanks for checking on that.. I can confirm the same from Pilot code as well (we have been using it for months). So, the entire issue boils down to doing selective TLS within the cluster. I then do not understand the rationale for doing this aggregate cluster thing..

[2019-08-23 15:55] duderino commented on #7454
@htuch the drawbacks from making the control plane do the resolution, as I recall, in order of convincingness:

1) dns resolvers may return different answers depending on where the dns client is.  If the control plane dns client isn't near the envoy, it may get an answer that is inappropriate or even unroutable for the envoy
2) general concerns about adding latency by sending the dns resolution th

[2019-08-23 16:03] mattklein123 commented on #8025
Please provide a core dump or at least a back trace with fully resolved symbols. Thank you!

[2019-08-23 16:09] zuercher commented on #7688
For converting http/1.1 requests with a protobuffer payload, you can use the [grpc_http1_bridge filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/grpc_http1_bridge_filter).

HTTP headers are only logged at debug level or higher.

[2019-08-23 16:18] #7300 closed

[2019-08-23 16:19] #7990 closed

[2019-08-23 16:27] #6730 closed

[2019-08-23 16:54] rshriram commented on #7454
I was not suggesting doing DNS resolution from the control plane. I was suggesting using the STRICT_DNS clusters where dns resolution is done by Envoy. Second, all the failover logic is already in place in form of locality/priority lb. We dont have do to anything other than deciding whether or not we should use TLS for that endpoint when establishing a connection to an endpoint in the cluster.

[2019-08-23 17:37] zuercher commented on #7651
It looks like it's meant to be supported, but `ClusterManagerImpl::loadCluster` initializes a thread aware LB when the lb type is ring hash, maglev or cluster-provided. That precludes the subset lb from being used.

[2019-08-23 17:51] duderino commented on #7454
@rshriram others were suggesting doing DNS resolution from the control plane so I was addressing that.

@flatmap13 and @uk000 are the originators of the fqdn fallback request.  Pulling them in to get rid of the lossy filter effects.

[2019-08-23 18:21] wenbozhu commented on #860
As we are working on the [fix ](https://github.com/envoyproxy/envoy/pull/7942), it seems that the grpc trailer status needs be handled explicitly (possibly as a new concept) in [OutlierDetector ](https://github.com/envoyproxy/envoy/blob/master/include/envoy/upstream/outlier_detection.h)
 for both monitoring (so we don't overwrite the initial ok status) and outlier detection purposes.

Extending th

[2019-08-23 18:38] mattklein123 commented on #860
@wenbozhu can you describe in more detail what the issue is? Unfortunately the outlier detection code and the way we do mappings is incredibly complicated. cc @cpakulski.

[2019-08-23 19:03] euroelessar opened #8031 "listener manager: Closing listening sockets on stopListeners"
*Description*:
As part of draining phase (`Envoy::Server::Instance::drainListeners`) Envoy instructs all workers to stop accepting new connections, however it does not close listening sockets.

This has few consequences:
1. Clients observe it as hung socket and they have to timeout connection attempts instead of receiving fast-failure.
2. If socket uses `SO_REUSEPORT` and some other Envoy instance

[2019-08-23 19:39] wenbozhu commented on #860
Currently, grpc status in response headers is not checked in OutlierDetector.

We are fixing this behavior with https://github.com/envoyproxy/envoy/pull/7942
I.e. when grpc status is present, it will be mapped to http status, which will be set to OutlierDetector.

We believe this is the minimum fix required to make OutlierDetector work for grpc services.

However, we also need define how OutlierDe

[2019-08-23 19:47] #7728 closed

[2019-08-23 19:52] mattklein123 commented on #8031
Yes this seems reasonable to me. I can't recall any reason why it shouldn't work this way. cc @PiotrSikora for any additional comments.

[2019-08-23 20:34] mattklein123 commented on #860
Thanks for the detail. I will review #7942 as I agree this is very complicated and it took us a while to get through the last round of changes in this area that @cpakulski was doing.

Agreed we need to think about this carefully, double counting has caused us issues in the past. We may need to split out gRPC into its own thing. Let's discuss in the other PR and I'm hoping @cpakulski can weigh in a

[2019-08-23 21:21] mattklein123 commented on #3431
@incfly at a very high level this looks like it's on the right track, but I feel that we need to reconcile the code duplication, especially as we already have this issue in the context of https://github.com/envoyproxy/envoy/pull/7852 cc @conqerAtapple. I would like to see a plan to come up with a base class that can be used across all of the implementations with potentially just the callouts neede

[2019-08-23 22:13] incfly commented on #8016
A proposal using cluster filter for this customization can be found [here](https://docs.google.com/document/d/1lpshO7E-2KQ5SC519oiRe25TPAXp1HUcyVzZ4QM4IeU/edit#)

Let me know if this is the right direction to proceed with some prototype, thanks!

[2019-08-23 23:38] cpakulski commented on #860
Hello, please give me few days and will chime in.

On Fri, Aug 23, 2019, 16:34 Matt Klein <notifications@github.com> wrote:

[2019-08-24 03:29] uk000 commented on #7454
Just summarizing the discussion so far for my own understanding :) From end result viewpoint, if istio control plane configures an envoy cluster (type STRICT_DNS) that has both internal k8s and external fqdn endpoints with appropriate priorities and localities, so that envoy routes to the internal k8s endpoints with higher preference and then falls back to the external fqdn, and the external fqdn

[2019-08-24 03:40] mattklein123 commented on #7454
From my perspective, given that the aggregate cluster is an extension and not being built into the core, I don't really have a strong opinion on which way you all go on this topic. The aggregate cluster type with an extremely *simple* policy to choose between the clusters seems a reasonable and generic solution but if there is a simpler solution to your problem that works also.

[2019-08-24 04:15] incfly commented on #7454
Just FYI, I filed https://github.com/envoyproxy/envoy/issues/8016 separately to track the proposal of customize per endpoint TLS configuration, delegating that decision to a cluster filter extension.

[2019-08-24 04:27] duderino commented on #7454
@rshriram I'm not sure this boils down to selective TLS / per endpoint TLS configuration within a cluster.   I think @flatmap13 and @uk000 want to prefer local k8s endpoints (mTLS) and if all of those are down failover to a remote fqdn (TLS or even clear).

Can that be addressed using selective TLS / per endpoint TLS config alone?

[2019-08-24 17:42] #7598 closed

[2019-08-24 18:42] #7602 closed

[2019-08-25 07:27] jmarantz opened #8035 "stats: add symbol-table contention logging and admin endpoint"
Per discussion in https://github.com/envoyproxy/envoy/pull/7842 it would be useful to be able to see symbol-table contention by name in logs and an admin endpoint.

[2019-08-25 07:27] jmarantz commented on #8035
I think this should block #4980 .

[2019-08-25 14:59] rshriram commented on #7454
This is already addressed using the existing locality based failover.

[2019-08-25 16:20] howardjohn commented on #7454
This does not address the mtls issue though, right?

If we do this with a STRICT_DNS cluster we loose all other load balancing functionality, right? Because we would return [foo.svc.cluster.local, foo.external.com], which would resolve to just the IP of the kubernetes svc rather than all of the endpoints. Maybe we instead send all of the endpoints instead of the service name, but I suspect that wo

[2019-08-25 16:50] duderino commented on #7454
It does not, but if that's the only limitation it could be addressed by Jianfei's simpler proposal at  #8016

I think it was this limitation that took us down the aggregate cluster path.  Thanks John

[2019-08-25 21:36] #7955 closed

[2019-08-26 01:26] sennyhan commented on #7991
thanks

[2019-08-26 01:26] sennyhan commented on #7991
@zyfjeff  Thanks alot

[2019-08-26 02:56] awesomelinhhh commented on #7970
@zyfjeff Did you fix this problem, I can't find the pull request.

[2019-08-26 05:08] frasercobb commented on #7945
Thanks for clarifying.
We are not seeing any log messages from envoy containing the word "deprecated". I determined this by looking for envoy instances that are consistently outputting the `envoy.runtime.deprecated_feature_use` metric and searching the logs.

Is it possible that there are code paths that send the metric but do not log?

Some more specifics:
* all envoys are statically configured v

[2019-08-26 09:04] ShannonDing opened #8036 "Apache RocketMQ protocol plugin with envoy"
Hi, Comunity,
I am a PMC member from Apache RocketMQ.
Recently, we have received consultations from many guys in the community who want RocketMQ to integrate with the data panel Envoy in the current Service mesh.

RocketMQ is a distributed high-performance messaging engine. Rocketmq is designed to handle online business processing. Message engines are often tightly coupled with services. In the Ro

[2019-08-26 11:09] zyfjeff commented on #7970
@awesomelinhhh Sorry, for personal reasons, the repair of this problem may have to be postponed for a few days.

[2019-08-26 11:28] containscafeine commented on #8025
Hey @mattklein123, I was trying to get a back trace with fully resolved symbols using https://github.com/envoyproxy/envoy/tree/master/bazel#stack-trace-symbol-resolution

I think the docs are for stack traces produced while running tests via bazel - while what I have is an envoy binary with no test for this behavior. Can you help me with how can I provide you back trace with resolved symbols?

[2019-08-26 12:40] stevenzzzz commented on #7902
Added a doc with some options I can think of, let's continue our discussion there.

https://docs.google.com/document/d/1_axmNmbkDO3aQE3jS5-WgSLvXyVxKwapOnrkBZn-DSk/edit?usp=sharing

[2019-08-26 14:14] alyssawilk opened #8039 "Track LDS/UPDA update failure details"
See comments on #7962, but it'd be good for Envoy to latch config load failures, both to make failure cause clear for tests, and eventually to expose an admin page with those details.

[2019-08-26 16:12] bcelenza opened #8042 "Allow AWS SigV4 for SDS Authentication"
*Title*: Support SigV4 AuthN for Secret Discovery Service

*Description*:
AWS App Mesh intends to host an SDS endpoint for secret discovery related to AWS integrations (Certificate Manager, Secrets Manager, etc.).

The [current documentation](https://www.envoyproxy.io/docs/envoy/latest/configuration/security/secret) for SDS states:

As currently worded, the only supported options are local domain

[2019-08-26 17:36] containscafeine commented on #8025
Okay, I didn't have much luck with using `stack_decode.py`, but I did change my envoy image to `envoy-alpine-debug-dev` which has some symbols in place in the logs (IIUC).

Here is the tail of the logs when Envoy started crashing - https://paste.fedoraproject.org/paste/gnQJR9yI9ri5n9TwXbmFpg/raw

Here are the entire logs - https://drive.google.com/file/d/17lp120Rk1AfLrqnbOqfQSM-QavoLyFkF/view

@ma

[2019-08-26 18:32] containscafeine commented on #8025
@mattklein123 okay, let me get something useful for you tomorrow. In the meantime, can you point me to how to get a core dump? Skimmed the docs but couldn't find anything.

Thanks for the help :)

[2019-08-26 21:05] rocks4530 commented on #5357
@sekaninat any update on this?

[2019-08-26 23:57] jmarantz commented on #8035
I had a variation on my this idea above which is to check our contention atomic (common/common/mutex_tracer_impl.h) and log a warning if there is actual contention on a particular symbol. This has the advantage of being relatively simple to implement and not at all noisy. The disadvantage is that it will not flag usage of the global lock at all; only if it actually contends in practice, so it will

[2019-08-27 00:48] l8huang opened #8046 "lds: Envoy starts listening ports before it receives the first RDS response"
*Title*: *Envoy starts listening ports before it receive first RDS response*

*Description*:
In our Istio environment, after Envoy received LDS response, it starts listening ports before it receives first RDS response, that may cause "404 NR" issue, especially when Istio pilot need a long time to calculate routes and put them to Envoy.

Looks like it's more reasonable to make Envoy listening ports

[2019-08-27 04:47] frasercobb commented on #7945
I did some further digging and found that the instances on envoy 1.11 and higher were not sending this stat. I have confirmed this locally using our config with the three versions I mentioned earlier. **Only version 1.10.0 emitted this deprecated metric.**

It seems that this was caused by this bug you mention.

Thank you for taking the time.