[2020-12-15 18:10] yuval-k opened #14420 "NPE when wasm bootstrap extension makes http calls."
Currently, when a wasm bootstrap extension tries to make an http call, envoy will crash.
The reason for this crash, is that when wasm bootstrap extensions are initialized ([here](https://github.com/envoyproxy/envoy/blob/7d348d1b65d3c5ae58d0259e397fbd3df8686f11/source/server/server.cc#L432)), the cluster manager is not yet initialized (that happens a bit further in the code, [here](https://github.c

[2020-12-15 18:11] tydurd opened #14421 "response_headers_to_remove remove server header"
Hi team, I have the following envoy configuration (envoy v.1.12.2) and can't find a way to remove 'server' from response headers.

  static_resources:
        listeners:
        - address:
            socket_address:
              address: 0.0.0.0
              port_value: 80
          filter_chains:
          - filters:
            - name: envoy.http_connection_manager
              config:

[2020-12-15 18:26] NomadXD commented on #10422
@danzh2010 Thanks a lot for the info. Earlier I was trying to build v1.16.0. But now since the quiche build issue is fixed after that , I tried to build the master. Now I am not getting a Quiche build failure but getting the following error.
[code]
I googled it and seems like it's not something specific to envoy. I think it's related to ARG_MAX value and stack size allocated for params. I'm referr

[2020-12-15 18:32] kpitik opened #14422 "Envoy throughput limit when used as gRPC load balancer"
*Title*: *Envoy throughput limit when used as gRPC load balancer*

*Description*:
I am trying to use Envoy as load balancer for simple gRPC echo server.
I am using docker-compose to create several instances of gRPC service and then put Envoy proxy
in from of them. I use [ghz](https://github.com/bojand/ghz) to measure the RPS.
When I check CPU usage of each gRPC service using _docker stats_ load se

[2020-12-15 19:01] busunkim96 commented on #14412
If the blocker is `google.api.expr` published to PyPI, it looks like that is doable. It would most likely be published to the existing [google-api-common-protos](https://pypi.org/project/googleapis-common-protos/) package.

[2020-12-15 20:08] ssimard24 commented on #14026
We have just reverted back to single providers and do not have memory leak anymore. The problem is definitely related to multiple providers for us. Our context was 3 providers. Only one was expected to work at any point in tome as the others were for backward/forward compatibility.

[2020-12-15 20:13] qiwzhang commented on #14026
Thanks @ssimard24
Are your 3 providers using the same algorithm?  You just need to paste the JWT to jwt.io, its header will show the algorithm type.

[2020-12-15 20:43] #13601 closed

[2020-12-15 21:15] tbarrella commented on #5355
@htuch do you think it's fine to proceed with the plan at the end of https://github.com/envoyproxy/envoy/issues/5355#issuecomment-743466041?

[2020-12-15 21:24] cpakulski commented on #14400
I see that image was successfully pushed to https://hub.docker.com/r/envoyproxy/envoy-google-vrp-dev/tags?page=1&ordering=last_updated

[2020-12-15 21:26] sunjayBhatia commented on #14400
Yep, the `vrp` image was pushed, but not the main release https://hub.docker.com/r/envoyproxy/envoy/tags?page=1&ordering=last_updated

[2020-12-15 21:40] bjaglin commented on #14026
Our config is fully static, no xDS involved.

That could have been a good lead, but we use RS256 as well (https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-user-pools-using-tokens-with-identity-providers.html).

[2020-12-15 21:46] lizan commented on #14027
Trying it out https://dev.azure.com/cncf/envoy/_build/results?buildId=61370&view=logs&j=b840a642-5ff3-5357-2e4b-e06e40b0cffd&t=67965174-5100-5631-9dc0-68b9f0aacb53

[2020-12-15 22:18] markdroth opened #14428 "xds: dynamic context params for new-style names"
This builds on the new xDS naming scheme described in #11264.

We have a need for the control plane to be able to provide some dynamic context parameters to be used when requesting LDS, RDS, CDS, EDS, et al resource names.

This doc describes the use-cases and proposes a mechanism to provide this functionality:

https://docs.google.com/document/d/1GO6HJ08wbMqLEjVGit5AxMiEAdHzZnT84f4A9Xg5Jp0/edit

[2020-12-15 23:40] jmuia commented on #10241
Thanks @wbpcode.

The issue was spurious and we never found a repro. I'm not sure yet what conditions changed in our environment, but we stopped triggering this segfault without deploying https://github.com/envoyproxy/envoy/pull/11944 internally.

I'll close this issue for now since you've merged https://github.com/envoyproxy/envoy/pull/11944 and will re-open if it re-surfaces.

[2020-12-15 23:40] #10241 closed

[2020-12-15 23:40] #3431 closed

[2020-12-15 23:56] markdroth opened #14431 "api: CSDS should report status per resource, not per resource type"
The current CSDS protos have the [status](https://github.com/envoyproxy/envoy/blob/5dc58a6a98ae781020f3742c3ee13b48cee670fe/api/envoy/service/status/v3/csds.proto#L97) and [client_status](https://github.com/envoyproxy/envoy/blob/5dc58a6a98ae781020f3742c3ee13b48cee670fe/api/envoy/service/status/v3/csds.proto#L102) and fields at the resource-type level, not the level of individual resources.  They a

[2020-12-16 00:01] htuch commented on #14401
Seems reasonable, but this could also be an opportunity to move some things out of dispatcher that might be concept/scope creep. For example, I'm not sure if the DNS resolver really needs to live there. Ultimately some of the API choices may have been influenced by the use of `libevent` APIs in Envoy's early history, e.g. socket listeners, and could be better factored based on the current architec

[2020-12-16 00:07] markdroth commented on #14431
Actually, it looks like the version *is* per-resource, so it's just the status that's the problem.

[2020-12-16 00:18] mattklein123 commented on #14401
I think this is accurate. In general I think the idea of a low level interface that is very thin (and for example might allow us to completely swap out libevent for libuv/libev/etc. more easily) and then a high layer interface on top makes sense to me. In practice I don't have a good feel for how difficult that would be, but no major objection from me.

[2020-12-16 00:22] htuch commented on #14412
I think we also consume `annotations.proto` from `google.api.expr`. Is there some way we can validate this with a mock `pip` build?

[2020-12-16 00:24] antoniovicente commented on #14401
I'm drafting a change right now to see what it would look like.  Basically, remove the Dispatcher argument from the Schedulable::createTimer API, move a few useful methods to Scheduler and making Dispatcher a subclass of Scheduler.

Methods to move to Scheduler:
approximateMonotonicTime()
isThreadSafe()
setTrackedObject()

We could consider moving fileevent and friends to Scheduler in the future.

[2020-12-16 00:24] mattklein123 commented on #14360
Thanks @tonya11en. I agree that WRSQ seems like what we want for the non dynamic weight changing cases (like least request). I agree we can continue to use EDF for those cases. I'm going to work on a change that will cause a full rebuild for EDS weight changes and we can go from there.

[2020-12-16 00:25] htuch commented on #5355
Seems like a reasonable plan, but I'd like to be deliberative about this undeprecation if we live with it long term. Tagging folks who have done significant listener work and are effective owners. @lambdai @mattklein123 @PiotrSikora WDYT?

[2020-12-16 00:32] busunkim96 commented on #14412
`google/api/annotations.proto` is already published in the package. (see [github repo](https://github.com/googleapis/python-api-common-protos/tree/master/google/api)).

[code]

[code]

Happy to set up a branch on https://github.com/googleapis/python-api-common-protos with the `google.api.expr` protos if that is what is needed.

[2020-12-16 00:32] htuch commented on #14428
One thing I'd add is that clients, specifically Envoy in some use cases we need, will also have internal dynamic context parameters. These will be sourced from binary-local sources, e.g. some OOB node-local config source.

[2020-12-16 00:35] htuch commented on #14428
Another consideration (doc isn't world commentable) is around consistency. Since xDS is eventually consistent, it's actually pretty tricky for a DCP server to determine when the new context parameters are in effect if needed. I'm not sure if that's something we need to solve in or out-of-band, but worth calling out explicitly.

[2020-12-16 00:41] htuch commented on #14431
@fuqianggao WDYT? I seem to remember some confusion over this, e.g. whether we report only the latest acked version vs. earlier ones, but this seems to make sense for finer grained reporting.

[2020-12-16 00:44] #14188 closed

[2020-12-16 01:03] ndavydovdev commented on #14342
Guys, can anybody help me please? :(

[2020-12-16 01:07] mattklein123 commented on #10195
I'm going to work on this but will figure out with @snowp how to intersect this with the generic matching work. I discussed with @snowp and the general plan is to:
1) Create a "generic stats" HTTP filter. (I think a network version could be created easily but that is out of scope for right now.)
2) The filter will integrate with the generic matching code.
3) The output of the matching code will be

[2020-12-16 01:10] jmarantz commented on #10195
/sub

[2020-12-16 01:45] tbarrella commented on #5355
I just learned that another factor is there's an attempt to totally preserve backward compatibility on the wire; it seems the other Istio folks have more context. For example, renaming `deprecated_v1` but not changing the message structure or field numbers. I'm not sure how realistic of a goal this is

[2020-12-16 04:03] #13037 closed

[2020-12-16 04:03] #13071 closed

[2020-12-16 04:03] #13072 closed

[2020-12-16 04:03] #13089 closed

[2020-12-16 04:03] #13101 closed

[2020-12-16 04:03] #13105 closed

[2020-12-16 04:03] #13170 closed

[2020-12-16 04:03] #13180 closed

[2020-12-16 04:03] #13207 closed

[2020-12-16 04:03] #13237 closed

[2020-12-16 04:03] #13240 closed

[2020-12-16 04:03] #13249 closed

[2020-12-16 04:03] #13253 closed

[2020-12-16 04:04] #13267 closed

[2020-12-16 04:04] #13286 closed

[2020-12-16 04:04] #13290 closed

[2020-12-16 04:04] #13312 closed

[2020-12-16 04:04] #13330 closed

[2020-12-16 06:24] haniceboy commented on #14176
Is anyone what happend here?

[2020-12-16 06:47] abergmann commented on #14087
[CVE-2020-35470](https://nvd.nist.gov/vuln/detail/CVE-2020-35470) was assigned to this issue.

[2020-12-16 08:03] #13376 closed

[2020-12-16 09:07] mgiessing commented on #14377
Closing as just the correct configuration was needed.

Bazel 1.1.0
CLANG&LLVM 9 (10 and 11 have thrown an error)

Maybe it'd nice to list concrete version since bazelisk doesn't work without effort on Power

[2020-12-16 09:07] #14377 closed

[2020-12-16 09:23] mgiessing opened #14434 "Didn't find a registered implementation for name: 'envoy.lua'"
*Description*:
After compiling envoy:v1.12.2 for ppc64le cpu architecture I'm not able to run envoy.lua filters. When I'm trying to run the envoy/examples/lua one I'll see the following log:

[code]

Additional information:
When I compare the pre-compiled x86 envoy:v1.12.2 version on my laptop it really looks like the only difference is that in `filter.http` the envoy.lua is missing for ppc64le (s

[2020-12-16 09:41] cip123 opened #14435 "aws_lambda_filter: signature exception because of missing Host header"
*Title*: *aws_lambda_filter: signature exception because of missing Host header*

*Description*:
When sending a request to Envoy proxy which is configured to use the `aws_lambda_filter`,

    curl -v  http://localhost:9500/lambda -d '{}'

 I get:

`{"message":"The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult

[2020-12-16 09:57] storyicon commented on #14373
For example, in nginx we can achieve this effect:

![image](https://user-images.githubusercontent.com/29772821/102332870-a38e8400-3fc7-11eb-9135-3162b0afe2ee.png)

We can see the `elapsed` / `addr` / `status code` of each retry. We are using these variables in nginx:
[code]
This is very helpful for positioning problems. Is there any plan to support in the future?

[2020-12-16 10:46] zemanlx opened #14436 "Non-UUID X-Request-Id header format consequences"
*Title*: *Non-UUID X-Request-Id header format consequences*

*Description*:
We are using AWS Appmesh with Envoy which is setting `X-Request-Id` header. We know that format of the header is not enforced in Envoy, but we have noticed that in your source code some behaviour depends on [the length of header](https://github.com/envoyproxy/envoy/blob/ba656eb98fe127a271a0196a4a89c0d4bed17708/source/commo

[2020-12-16 10:53] dio commented on #14434
Probably @ceastman-ibm could help?

[2020-12-16 13:35] wangfakang opened #14437 "Why don't allow updates to statically configured clusters via `addOrUpdateCluster` function?"
Why don't allow updates to statically configured clusters via `ClusterManagerImpl::addOrUpdateCluster` at the runtime?

[2020-12-16 13:38] fxposter commented on #3006
Are there any plans to proceed on this one? Adding headers will work, but this is definitely a hack.

[2020-12-16 13:55] wangfakang opened #14438 "The subset_selectors of cluster subsets could add a `case_sensitive` switch to select host that match subsets metadata?"
The [subset_selectors](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto#envoy-v3-api-msg-config-cluster-v3-cluster-lbsubsetconfig-lbsubsetselector) of cluster subsets could add a case sensitive switch to select host that match subsets metadata? forexample：
[code]
if request lb metadata is `xx`, then we could get `1.1.1.1:8019` or `1.1.1.1:8020` when case_sensitive

[2020-12-16 13:59] jmarantz opened #14439 "std::regex overhead is too high during CDS updates"
Locally we have seen flame-graphs implicating the regex parsing in tag-extraction taking significant amount of time, even though the heaviest regex has now been converted to RE2. Combined, all the other ones are still a CPU bottleneck.

If you simply convert the `addRegex` calls in source/common/config/well_known_names.cc to `addRe2` the following RE2 compilation errors are reported when running u

[2020-12-16 14:03] membphis opened #14440 "question: how to fetch the remote IP address in WASM"
I do not find any doc about how to fetch the remote IP address in WASM.

Many thx for your help.

[2020-12-16 14:55] alyssawilk commented on #14420
cc @lizan @mathetake @PiotrSikora

[2020-12-16 15:03] #10878 closed

[2020-12-16 15:22] ldemailly commented on #11426
I see the other issue is closed but I can't quite tell if I can now set a tls establishment timeout or not?

[2020-12-16 15:23] markdroth commented on #14428
I've fixed the permissions on the doc.  Sorry about that!

[2020-12-16 15:28] yuval-k commented on #14420
after think about this, I think a reasonable solution is to remove the ServerFactoryContext on creation time, add a callback to BoostrapExtension that will receive it when it is ready. I'm working on this and should have PR ready later today

[2020-12-16 15:40] akonradi commented on #11426
Yep, #13610 added that. #13800 adds the ability to scale the timeout in response to overload, which I think should close this issue out completely.

[2020-12-16 15:54] alyssawilk commented on #14421
response_headers_to_remove removes headers sent by upstream, but Envoy often adds its own server header.
There's an HCM field "server_header_transformation" - I suspect setting it to PASS_THROUGH may solve your problem.

https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto.html?highlight=server_header_transformation#

[2020-12-16 15:57] howardjohn commented on #12647
/help wanted

[2020-12-16 16:04] alyssawilk commented on #14435
without digging into the code I don't think it's about the host header being present, I think it's that in one case the filter is processing
localhost:9500
vs
localhost
cc @marcomagdy and @lavignes for what the behavior should be if there's a port present

[2020-12-16 16:08] asraa opened #14441 "EXPECT_ENVOY_BUG macro for testing"
Add an EXPECT_ENVOY_BUG macro for use in testing that can resolves to an EXPECT_DEBUG_DEATH and log contains in production.

[2020-12-16 16:14] cscott27 commented on #14376
Any feedback?

[2020-12-16 17:55] markdroth commented on #14431
From the xDS client's perspective, it seems like it would make sense for the protos to look something like this:

[code]

This seems a lot easier to understand than what is in CSDS today.

[2020-12-16 17:57] markdroth commented on #14428
With regard to consistency, I think the DCP server can tell whether the new context params are in effect by seeing whether the client has updated all of its subscriptions.

[2020-12-16 18:25] nitgoy commented on #13604
Sorry for the long wait but now I have added the filter code with UTs. I'm working on the docs changes and few more tests. Please take a look at the PR and let me know your thoughts.

[2020-12-16 18:26] fuqianggao commented on #14431
Yeah, I agree finer grained reporting is useful, and necessary for deltaXds. As long as there is no breaking change, it SGTM.

[2020-12-16 18:38] antoniovicente commented on #14401
I have two possible drafts:
  https://github.com/envoyproxy/envoy/compare/master...antoniovicente:dispatcher_base
  https://github.com/envoyproxy/envoy/compare/master...antoniovicente:dispatcher_interface

My thoughts on antoniovicente:dispatcher_base:
1.  The change is simple and minimally intrusive.  Does it address the basic need?

My thoughts so far on antoniovicente:dispatcher_interface:
1. M

[2020-12-16 18:44] lidizheng commented on #14431
There is a similar design in [`config_dump.proto`](https://github.com/envoyproxy/envoy/blob/76bcbd7d31615196d6d7295a741a5329689fdb9e/api/envoy/admin/v3/config_dump.proto#L113) that the listener dump can have active state or error state. In the error state, it stores the received-but-nacked version of listener resource. However, this pattern is not carried over to routes, clusters, and endpoints.

[2020-12-16 18:50] wrowe commented on #13539
Reminder, 1.17.0 freezes soon. I'll propose the PR to drop moonjit at year end. While it's up for discussion, it seems prudent to avoid the moonjit dependency in that release since there's no way to get security updates anymore, rather than carry it on any extended EOL/service basis.

[2020-12-16 18:51] lambdai commented on #5355
My two cents:
Pros:
* Flexibility: since 2 level listener is theoretically more powerful in terms of splitting responsibility and listener update granular. This functionality is proved useful and it's supporting istio.
Cons:
* Simplicity of code flow: Two level listener is error-prone. There is no well defined boundary and test coverage. One 0-day and several bugs were introduced partially because

[2020-12-16 19:18] akonradi commented on #14401
dispatcher_base addresses the basic need, which is separating out low-level stuff that the dispatcher implements from higher-level stuff built on top, yeah.

[2020-12-16 20:03] #1107 closed

[2020-12-16 20:03] #11725 closed

[2020-12-16 20:03] #12022 closed

[2020-12-16 20:03] #12097 closed

[2020-12-16 20:03] #12511 closed

[2020-12-16 20:03] #12519 closed

[2020-12-16 20:03] #12592 closed

[2020-12-16 20:03] #12626 closed

[2020-12-16 20:03] #12641 closed

[2020-12-16 20:03] #12717 closed

[2020-12-16 20:03] #12724 closed

[2020-12-16 20:03] #12760 closed

[2020-12-16 20:03] #12808 closed

[2020-12-16 20:03] #12813 closed

[2020-12-16 20:03] #12822 closed

[2020-12-16 20:03] #12826 closed

[2020-12-16 20:03] #12836 closed

[2020-12-16 20:03] #12868 closed

[2020-12-16 20:03] #12887 closed

[2020-12-16 20:03] #12970 closed

[2020-12-16 20:03] #12988 closed

[2020-12-16 20:08] antoniovicente commented on #14401
Do remember that higher level constructs like connections depend on ScaledTimer and are also created through the dispatcher.

[2020-12-16 20:11] akonradi commented on #14401
Sounds like we need a DAG :D

Fair. Here's a crazy idea: get rid of createScaledTimer and just add an optional ScaledTimerMinimum argument to createTimer. If it's ScaledMinimum(1), return a regular timer; otherwise return a scaled timer.

(I don't recommend this because scaled timers are actually not that efficient unless there are very few distinct timeouts)

[2020-12-16 20:21] antoniovicente commented on #14401
I think this would create a circular dependency between ScaledTimer and the createTimer method that may itself create a scaled timer.

[2020-12-16 20:25] #11120 closed

[2020-12-16 20:35] cpakulski commented on #13514
Backported to releases 1.14, 1.15 and 1.16. Removing `backport/approved` label.

[2020-12-16 20:58] mattklein123 commented on #5355
I'm fine with keeping bind to port right now. I agree it adds some complexity, but it's mostly limited to a single place in the code (connection handler) and the code has already been there for a very long time. We can always deprecate it later if we feel that it becomes truly redundant.

In terms of the actual proto, I would have to look at it myself, but I think it's fine to just add a new field

[2020-12-16 21:08] #14421 closed

[2020-12-16 21:09] cpakulski commented on #12304
Backported #13772 to rels 1.16, 1.15, 1.14 and 1.13. Removing backport/review label.

[2020-12-16 21:53] ToniCipriani commented on #12591
Any updates on whether this is coming?

[2020-12-16 22:19] salrashid123 commented on #14392
re: ocsp stuff,
  found it here:  https://github.com/envoyproxy/envoy/pull/12685

re: bug or not,
 if it makes any difference, i'd argue it is a bug:  for a security feature like this, its expected to failclosed.

[2020-12-16 22:22] alyssawilk commented on #13933
Well the fix to this *was* simple, until I ruined it by implementing prefetching.  @mattklein123 and @antoniovicente can I get your thoughts on the least ugly solutoin?

The new wrinkle is that we track capacity across a cluster.  If we open a new TCP connection which would allow 5 new streams, we increment our stream capacity by 5.  If that connection is established and we create a stream on it,

[2020-12-16 22:23] alyssawilk commented on #13933
https://github.com/envoyproxy/envoy/compare/master...alyssawilk:stream_limit?expand=1 (Search for FIXME) if code pointers are helpful

[2020-12-16 22:29] #6016 closed

[2020-12-16 22:31] lizan opened #14454 "docker: build su-exec in bazel and put in to docker"
*Title*: *One line description*

*Description*:
`su-exec` was introduced to drop permission in the docker entrypoint, this has been built in [docker stage](https://github.com/envoyproxy/envoy/blob/master/ci/Dockerfile-envoy#L7-L12) but it should be part of main build and monitored by dependency policy. It also causes some docker build flakiness.

cc @envoyproxy/dependency-shepherds @phlax

[2020-12-16 22:39] cpakulski commented on #14400
1.16.2 docker image has been successfully pushed to DockerHub.

[2020-12-16 22:49] sunjayBhatia commented on #14400
thanks!

[2020-12-16 22:49] sunjayBhatia commented on #14400
closing, tagged image: https://hub.docker.com/layers/envoyproxy/envoy/v1.16.2/images/sha256-996a3118589f52023e99ae5ef77cdc84c936384375fb68a597b655202f4285bc?context=explore

[2020-12-16 22:49] #14400 closed

[2020-12-16 23:13] antoniovicente commented on #13933
Waiting until Server SETTINGS arrives before declaring the H2 connection established seems like a good option to me.

Assuming 1 stream until after SETTINGS exhange could result in multiple connections being established to the same host and then quickly closed when the proxy realizes that the stream limit is high enough and a smaller number of upstream connections are needed.  Assuming that the up

[2020-12-16 23:34] mattklein123 commented on #14428
At a high level this makes sense to me, though I left one comment in the doc about potential xDS ordering issues that we probably need to be pretty explicit about. We can discuss in the doc or here.

[2020-12-17 00:12] shivanshu21 commented on #12591
The PR was halted for Unified match predicates to be implemented.

This issue got expanded into a generalized header rewrite use case. Let me check if the unified match predicate work is done then I can rebase.

https://github.com/envoyproxy/envoy/pull/12938

[2020-12-17 01:33] mandarjog opened #14460 "Remove extra LOG_PREFIX from messages from Wasm log output"
This is a reopening of the a previous bug https://github.com/envoyproxy/envoy-wasm/issues/535

Wasm C++ SDK defines a LOG_INFO (and other LOG_*) functions that output the filename and the line number of the caller.

This function calls context.scriptLog which uses ENVOY_LOG to log output.
ENVOY_LOG itself writes __LINE__ and __FILE__ again.

It gives rise to a log line like this

debug	envoy wasm

[2020-12-17 02:47] #13835 closed

[2020-12-17 05:29] nitgoy commented on #13513
Is there an existing way to limit the max number of active connections (not the rate of connections) per unique SNI i.e. per filter chain? I could only find a way to limit the number of active connections either at listener level or at global level but not at filter chain level.

[2020-12-17 06:54] PiotrSikora commented on #14027
Could you try again with the latest commit? Previous build failed because of change to cargo-raze artifacts that wasn't updated in Envoy yet, buy it is now.

[2020-12-17 08:03] #13928 closed

[2020-12-17 08:03] #13939 closed

[2020-12-17 08:03] #13952 closed

[2020-12-17 08:10] vinzo99 commented on #13514
Does this mean the backport fix is already available in 1.14.6 / 1.15.3 / 1.16.2 ? Or do we have to wait for 1.14.7 / 1.15.4 / 1.16.3 ?
Thanks

[2020-12-17 09:12] spacewander opened #14465 "Port OpenResty's ngx.re.* to envoy Lua filter"
*Title*: Port OpenResty's ngx.re.* to envoy Lua filter

*Description*:
Background: OpenResty provide a group of regex API called `ngx.re`. These APIs contain:
* ngx.re.gsub: replace all occur value matched the pattern
* ngx.re.sub: like ngx.re.gsub, but only called once
* ngx.re.match: capture the part of value which matched the pattern
* ngx.re.find: like ngx.re.match, but return the index instea

[2020-12-17 10:11] fxposter opened #14466 "%UPSTREAM_CLUSTER% in logs is empty in case of no_healthy_upstream"
*Title*: %UPSTREAM_CLUSTER% in logs becomes "-" when there are no healthy upstreams for the matching cluster.

*Description*:
Envoy should return proper %UPSTREAM_CLUSTER%, even if there were no requests made for that cluster.

*Config*:
[code]
*Logs*:
[code]

[2020-12-17 14:35] alyssawilk commented on #14437
cc @htuch @mattklein123 might make a good FAQ entry - I was tripped up by this one myself once

[2020-12-17 14:44] akonradi commented on #13514
The fix is in 1.14.6, 1.15.3, and 1.16.2.

[2020-12-17 16:16] mhoran commented on #13965
We started looking into this. We have an integration test but I'm not sure it's failing for the expected reason. I hope to have time to look into this again in the new year.

[2020-12-17 17:46] alyssawilk commented on #13933
Even if we were willing to take the latency hit for the common case (which I'm not sure is true) it turns out that wouldn't solve the problem:

https://tools.ietf.org/html/rfc7540#section-6.5
A SETTINGS frame MUST be sent by both endpoints at the start of a
   connection and MAY be sent at any other time by either endpoint over
   the lifetime of the connection.

That brings us back to handling th

[2020-12-17 17:48] alyssawilk commented on #14466
yeah, looks like we only get the cluster from the host, so if a cluster is selected but a host is not found, it wouldn't log

https://github.com/envoyproxy/envoy/blob/master/source/common/formatter/substitution_formatter.cc#L641

[2020-12-17 17:53] auni53 opened #14470 "Design proposal: Envoy filterchain dependency"
## Goals
- Make it easier for operators to understand filter chain dependencies. Ordering dependency is often implicit and discovered by trial-and-error or imitating examples.
- Improve safety of filterchain configurations and rollout by enforcing filter dependencies.
- Handle missing dependencies in a consistent way across filters, and increase validation for custom header dependencies (i.e. impl

[2020-12-17 17:56] itamarkam commented on #13801
@envoyproxy/security-team @envoyproxy/dependency-shepherds

As part of this issue, I want to add dependencies on some OT protos from 2 repositories:
1. [OpenTelemetry collector RPC service](https://github.com/open-telemetry/opentelemetry-proto/blob/master/opentelemetry/proto/collector/logs/v1/logs_service.proto#L32)
2. OT protos ([logs](https://github.com/open-telemetry/opentelemetry-proto/blob/8a

[2020-12-17 18:02] chintan-mishra commented on #13221
@phlax any luck with this issue?

[2020-12-17 18:27] antoniovicente commented on #13933
SETTINGs being required early on is agood.

It would be good to understand how common mid-connection settings are.  Mid connection settings that reduce stream limits are likely to cause problems.  I guess servers should be flexible after reducing the limits.

[2020-12-17 18:56] mattklein123 commented on #14437
OK I can do this. The reason is basically that it would be very confusing if static clusters get removed by CDS, and also some code is not built for CDS delivered clusters and might crash if a static cluster gets removed. Updates would probably be OK it's just not implemented.

[2020-12-17 18:58] mattklein123 commented on #14470
Note this is a dup of https://github.com/envoyproxy/envoy/issues/3286. I will close the other one and I guess we can continue tihs here.

[2020-12-17 18:58] mattklein123 commented on #3286
Closing in favor of https://github.com/envoyproxy/envoy/issues/14470

[2020-12-17 18:58] #3286 closed

[2020-12-17 19:15] #12004 closed

[2020-12-17 19:42] htuch commented on #10373
The design here should ideally reflect https://github.com/kubernetes/enhancements/pull/2094 (and specifically ideas such as https://github.com/kubernetes/enhancements/pull/2094#issuecomment-747579237) when understanding endpoint scalability requirements.

[2020-12-17 21:12] #12007 closed

[2020-12-17 21:27] alyssawilk commented on #13933
I'm not sure everyone would agree to take the latency hit when doing in-network traffic (when they set the limits on both ends)

I don't think it matters how common mid-connection settings are.  If they're allowed by the spec we have to handle them.  I doubt anyone lowers the stream limit in practice but I'm not going to have overflow code lying around, or kick back to nghttp2 buffering for legiti

[2020-12-17 21:35] hakuno opened #14477 "1.16 can't disable timeout"
Hey there, how are you?

Today I had to make a downgrade version.

The 1.16 is unable to shut down the timeout properly.

The configuration is below. I tried many ways to make the timeout be disabled. But no success in the end.

[code]

[2020-12-17 21:37] #9682 closed

[2020-12-17 21:41] htuch commented on #13539
Yes, with no maintainers I think it's untenable to continue to support MoonJIT. There is effectively zero security story for a data plane component involving a JIT and dynamic code loading. +1 on removal ASAP.

[2020-12-17 21:46] antoniovicente commented on #13933
Options 1 and 2 seem equivalent from the outside.  Pick one.

[2020-12-17 21:50] kyessenov commented on #14412
These are all dependencies:
[code]

If we can remap these to pre-generated committed versions, that would probably work!

[2020-12-17 21:51] htuch commented on #5355
Yep, new v3 field, +1 on going ahead with reintroducing.

[2020-12-17 22:02] htuch commented on #13801
I think it's fine depending on a pure proto repository. The dependency policy largely applies to code that is linked into the data or observability planes, but API proto repos don't need to do things like have a security policy.

This belongs in `api/bazel`, since the API protos will be depending on it.

[2020-12-17 22:30] tbarrella commented on #5355
Great, thank you all, I'm happy that alignment is clear now!

To summarize and add some context from discussing offline with @howardjohn @costinm,

- `bind_to_port` will be added with the `deprecated_v1` option remaining but marked as deprecated in v3. If either `bind_to_port` or `deprecated_v1.bind_to_port` is set to false, this will be interpreted as false, since true is the default
- Originally

[2020-12-17 23:27] #11995 closed

[2020-12-17 23:27] #13032 closed

[2020-12-18 04:05] #13879 closed

[2020-12-18 10:43] small-pineapple opened #14481 "Add makeTcpConnection func to Envoy::Extensions::Common::Wasm::Context"
There are httpCall, grpcCall, grpcStream, why no make tcp connection?

[2020-12-18 11:23] ramaraochavali commented on #14437
Curious, what kind of updates are you thinking for a static cluster?

[2020-12-18 11:56] afontan commented on #14030
I've been working on a use case that should have an empty inline_code section.
The end result of this is the following code:
`http_filters:
          - name: envoy.filters.http.lua
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.http.lua.v3.Lua
              inline_code: |
                -- Comment`

Envoy should allow leaving the inline_code section

[2020-12-18 13:34] mukund-thakur opened #14482 "No healthy host for HTTP connection pool error while using envoy external authorization using http service."
No healthy host for HTTP connection pool error while using envoy external authorization using http service.

*Description*:
I have been trying to use Envoy proxy from intercepting google cloud storage calls using hadoop gcs connector https://github.com/GoogleCloudDataproc/hadoop-connectors . This flow is working fine for me now. Now I want to add http service based authorization on the Envoy side

[2020-12-18 13:50] dio commented on #14482
Hey @mukund-thakur!

There is a working example in the repo: https://github.com/envoyproxy/envoy/tree/master/examples/ext_authz as the source for this sandbox: https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/ext_authz

This is a sample for having ext_authz with HTTP service: https://github.com/envoyproxy/envoy/blob/master/examples/ext_authz/config/http-service.yaml

The GCS service sho

[2020-12-18 14:48] alyssawilk commented on #14477
Sorry to hear you're having trouble.  Can you explain in a bit more detail which timeout you're trying to disable, and if possible attach Envoy logs of the timeouts kicking in?

[2020-12-18 15:53] hakuno commented on #14477
Well, our customers need to download big files over HTTP. So I set up a load balancer with two upstream nodes.

I disabled the timeout of `stream_idle_timeout`, `request_timeout` and route's `timeout`. (I left `idle_timeout` with 1 hour by default in some try.)

And... The client side timed out from proxy/gateway in 1.16 with V3. In order of seconds.

So I took some other settings with V2 to use w

[2020-12-18 16:26] mpuncel opened #14484 "Configuration option for gRPC response code for request timeout"
*Title*: *Configuration option for gRPC response code for request timeout*

*Description*:
Today, if a gRPC request times out, the router filter returns a 504 direct reply, which then gets translated to an UNAVAILABLE gRPC code according to the official mapping: https://grpc.github.io/grpc/core/md_doc_http-grpc-status-mapping.html

Our users would like to be able to distinguish request timeouts fr

[2020-12-18 19:40] danludwig commented on #13928
bump

[2020-12-18 20:01] blang commented on #12593
@skambashi could you please share your listeners access log? I'm facing the same problem an documentation is scarce.
Can @songhu please elaborate on how to use the extracted tlvs?
Thanks a lot and merry christmas

[2020-12-18 23:07] marcomagdy commented on #14435
What @alyssawilk said is true.
You need to provide a host header, otherwise the signature calculation takes the host with the port into account.
Usually that's an issue with curl on the command line but not when called from a service or when you specify the port individually, for example via libcurl API.

[2020-12-18 23:15] alandiegosantos commented on #14440
It is possible to get the upstream IP address by getting the property _upstream.address_.
I am working with WASM filters written in Rust, so the code looks like.
[code]

I would like to create the docs about these properties, if possible.

[2020-12-19 08:11] mandarjog commented on #14420
@mdhume how did you address this problem in your singleton ?

[2020-12-19 16:08] #13817 closed

[2020-12-19 16:09] #13961 closed

[2020-12-19 20:03] #13766 closed

[2020-12-19 23:14] #14295 closed

[2020-12-20 01:20] dio commented on #13831
@jheaff1 I have a repro repo here: https://github.com/dio/grpc-web-hello. From my quick experiment, this is because the "envoy.reloadable_features.unify_grpc_handling" is set to true. You can try to disable it via, for example, a static layer as exhibited here: https://github.com/dio/grpc-web-hello/blob/4bef88d629019e5719de5e9448235fac2756e58e/envoy.yaml#L224-L228.

However, though it is not "hang

[2020-12-20 02:00] dio commented on #14098
I think you can send a per-route Lua script via RDS. You can embed the data inside the script, prepared by the xDS Server. Or via LDS if it is a global script.

[2020-12-20 04:03] #13985 closed

[2020-12-20 09:46] bobvanderlinden commented on #14098
This is indeed how we eventually solved it just recently. It does feel a bit dirty, but it seems work quite well.

Our setup now adds lua files in the working directory of Envoy to avoid sending over multiple files. We use ECDS to just update the lua http filter. We eventually chose to use file-based xDS. The file is generated from Consul using consul-template, which writes YAML with a large table

[2020-12-20 09:46] #14098 closed

[2020-12-20 19:04] antoniovicente commented on #13961
I changed how slice allocation works a while ago.  It's less subtle now.

See https://github.com/envoyproxy/envoy/pull/14111 and https://github.com/envoyproxy/envoy/pull/14282

[2020-12-20 21:08] stevenzzzz commented on #13986
/no stalebot

[2020-12-20 21:11] stevenzzzz commented on #13986
/nostale
nostale

[2020-12-20 21:12] stevenzzzz commented on #13986
@htuch could you mark this as nonstale, we want this to show on our radar.

[2020-12-20 21:33] peppered commented on #7986
@Bibob7 , @hisener  thanks for your solutions! I use Istio and I'm totally new to Envoy filters. Based on your suggestions I was able to write Istio `EnvoyFilter` for `ext_authz` that talks to `oauth2-proxy`:
[code]
With @hisener solution I got browser error related to 4kb cookie limit. That was due to the Lua filter that put multiple `set-cookies` headers into one. This solution treats each `set-

[2020-12-21 00:10] #13940 closed

[2020-12-21 00:10] #13962 closed

[2020-12-21 00:10] #13977 closed

[2020-12-21 00:10] #13995 closed

[2020-12-21 00:50] jmarantz commented on #12138
See also #14439 . Moreover, for any issues with CDS update performance, flame-graphs would be most helpful!

[2020-12-21 03:48] BewareMyPower opened #14487 "Failed to run Kafka Broker filter in MacOS"
*Title*: *Failed to run Kafka Broker filter in MacOS*

*Description*:
When I ran Kafka Broker filter in MacOS, the Kafka Broker could not receive any requests from clients.

I'm new to envoy proxy, so I'm not sure which step I mistook. Here're my steps:

1. Start envoy:

[code]

The config is

[code]

2. Start the Kafka 2.4.1 server

[code]

with following changes of `conf/server.properties`:

[co

[2020-12-21 04:01] spacewander opened #14488 "Don't support asan with gcc?"
*Title*: Should we disable asan support with gcc/g++?

*Description*:
I tried to build with asan in gcc/g++, using:
[code]

Then I got a message that gcc doesn't support `-fno-sanitize=vptr,function`. It seems gcc only supports `-fno-sanitize=all`.

After changing
https://github.com/envoyproxy/envoy/blob/867b9e23d2e48350bd1b0d1fbc392a8355f20e35/.bazelrc#L58-L59
I was stopped by https://github.com/

[2020-12-21 04:07] #14012 closed

[2020-12-21 04:07] spacewander opened #14489 "How to build asan with clang?"
*Title*: *I need some help for building asan with clang*

*Description*:
I tried `bazel test --config=clang-asan ...`, but got:
[code]

After applying the solution in https://bugs.llvm.org/show_bug.cgi?id=16404
[code]
now I get:
[code]

Maybe I miss something? I am using Ubuntu 20.04 & clang 11. It would be great if anyone provides me some help.

[2020-12-21 06:44] koustubh25 opened #14490 "Envoy responds with `route_not_found` even if there is a valid route"
*Title*: *Envoy responds with `route_not_found` even if there is a valid route*

*Description*:

I have the following envoy configuration

[code]

There is only one-way tls for both upstream (envoy verifies upstream endpoint) and downstream clusters (envoy verifies downstream endpoint)

I use the curl command to query it like this

[code]

However, I get a 404 response with the following in the lo

[2020-12-21 07:15] dio commented on #14490
Based on your config, seems like the `requested_token_type` query param needs to have `StaffJWT` as its value?

Quoted from: https://www.envoyproxy.io/docs/envoy/v1.15.0/api-v3/config/route/v3/route_components.proto.html#envoy-v3-api-field-config-route-v3-routematch-query-parameters

[2020-12-21 08:11] caitong93 commented on #14489
Plz try `./ci/run_envoy_docker.sh 'bazel test --config=clang-asan ..'` .  It's suggested to use docker build to keep ur local development environment same as others https://github.com/envoyproxy/envoy/tree/master/ci#on-linux .

[2020-12-21 08:13] mukund-thakur commented on #14482
Thanks @dio for the docs. I tried this and it works. But I am not using docker and running the services separately and my auth server is running at http://127.0.0.1:8080/

So I updated the address here to 127.0.0.1 and port as well.

But getting error

Also I am seeing some suspicious logs

I am expecting envoy to at least send the calls to http://127.0.0.1:8080/.

[2020-12-21 09:41] ramaraochavali commented on #12647
I think it is better to add strip_any_host_port instead of waiting for reimplementing domain matching part. Fixed it https://github.com/envoyproxy/envoy/pull/14491. PTAL

[2020-12-21 11:36] spacewander commented on #14489
It seems the docker used by `./ci/run_envoy_docker.sh` doesn't contain `clang`.
[code]

[2020-12-21 11:37] pawanyoda opened #14492 "Docker Compose not working on envoy/examples/ext_authz"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *DockerCompose not working on envoy/examples/ext_authz*

*Description*:

[code]
I am able to do docker-compose other projects like ratelimit and envoyproxy.

[code]

[2020-12-21 12:14] mukund-thakur commented on #14482
I ran this node server https://github.com/envoyproxy/envoy/blob/master/examples/ext_authz/auth/http-service/server.js  in my localhost as well which I am able to access using curl but not working with envoy. I think I am missing some configuration here when not run the complete setup using docker.

Here is the my yaml config. Please suggest if any changes required. Thanks

[2020-12-21 12:28] caitong93 commented on #14489
See https://github.com/envoyproxy/envoy/blob/master/ci/build_setup.sh#L84

[2020-12-21 14:24] phlax commented on #14492
hi @pawanyoda thanks for reporting this, i can look into it - its working in ci so im not sure  exactly why its failing - but ill test locally

/assign phlax

[2020-12-21 17:16] kyessenov commented on #14126
Not stale. Without a solution to this, untrusted Wasm modules can hijack envoy.

[2020-12-21 19:48] dio commented on #14492
@pawanyoda seems like this issue here: https://github.com/docker/compose/issues/5930#issuecomment-724525064 is related? Not sure why it only happens for the `ext_authz` example.

[2020-12-21 19:50] dio commented on #14482
@mukund-thakur when specifying the endpoints using IP addresses you should use `STATIC` cluster type instead of `STRICT_DNS`.

[2020-12-21 20:48] kyessenov commented on #14412
cc @TristonianJones: we'd like to have google api expr Python protos published, instead of bazel build in googleapis.

[2020-12-21 22:45] #13033 closed

[2020-12-21 23:10] nareddyt commented on #14489
So it seems like some of the bazel flags from https://github.com/envoyproxy/envoy/blob/e90d674fd2eddd883481011bf580fbb7080f535b/bazel/setup_clang.sh#L26 are needed. These are not set for `clang-asan` in the root-level bazelrc by default, only added for CI. Wonder why.

[2020-12-21 23:17] koustubh25 commented on #14490
@dio Thanks for the reply.
sorry, I fixed the config in the question. It should be `mytokentype`.
I also tried without specifying the query parameters in the config and also using regex. Is still says `route_not_found`

[2020-12-22 02:56] yanavlasov commented on #14373
As far as I know there are no plans. Retry information would need to be plumbed through StreamInfo or router filter metadata. @mattklein123 for any other comments.

[2020-12-22 03:04] zyfjeff commented on #14487
@BewareMyPower It appears that the cluster did not have a host available due to a DNS resolution failure, try changing `type: strict_dns to `type: static`

[2020-12-22 03:13] BewareMyPower commented on #14487
Thanks @zyfjeff for your help!

[2020-12-22 03:13] #14487 closed

[2020-12-22 05:00] imjuanleonard commented on #3530
Hello @davecheney in which version of envoy this is fixed?

I saw https://github.com/projectcontour/contour/pull/308/files merged

 but not sure when it was released

[2020-12-22 07:21] mdhume commented on #14420
@mandarjog We are setting up the singleton Wasm filter in Istio 1.5.8 so we use the previous `wasm_service`specification in the bootstrap config and not `bootstrap_extensions`. The corresponding source is https://github.com/istio/envoy/blob/bc117b4449ab2b63f4631d712ae51328f39c931e/source/server/server.cc#L432 . In that version of the code seems like the cluster manager is being initialized before

[2020-12-22 10:37] shaneing opened #14500 "Envoy can't handle request"
*Title*: *Envoy can't handle request*

*Description*:

[code]

[code]

[code]

What happened?

[optional *Relevant Links*:]

[2020-12-22 10:57] dio commented on #13831
@snowp I started to think probably we can expose `envoy.reloadable_features.unify_grpc_handling` as config field in HCM. So when we want to use the gRPC Web filter, we can set it to `false`, WDYT?

[2020-12-22 14:35] esmet opened #14501 "Support configurable date formats for DOWNSTREAM_PEER_CERT_V_START/END"
We currently support configurable date formats using an access log command operator for START_TIME but it would be helpful to expend this behavior to DOWNSTREAM_PEER_CERT_V_START and DOWNSTREAM_PEER_CERT_V_END as well.

[2020-12-22 14:55] esmet commented on #14501
/assign

[2020-12-22 17:01] auni53 commented on #14470
Tagging @htuch, who's looked this over and gave me some good revisions to make it more OSS-friendly.

[2020-12-22 17:28] yanniszark opened #14504 "[istio-rbac-break-existing-connection] Envoy doesn't break an existing connection when istio rbac rules no longer allow traffic"
*Title*: *Break existing connections when new RBAC rules stop allowing them*

This was initially reported as a security vulnerability. Eventually, it was classified as a feature request by @mattklein123, so opening an issue for it.

### Problem Statement

Suppose that client is connecting to server. Initially, Istio RBAC allows the connection to happen.
After some time, Istio RBAC is changed to no

[2020-12-22 17:41] rgs1 commented on #13411
Quick update: I've got a branch almost ready, should push out EOD or at the latest tomorrow morning.

[2020-12-22 17:50] josheinhorn commented on #3266
Have you tried returning a modified `:path` pseudo-header in the ext_authz response (e.g. `:path`: `/foo?bar=123`)? I haven't tried this myself, just an idea.

[2020-12-22 18:13] kyessenov opened #14506 "build: envoy picks up system libidn2-dev package and fails to link"
`libidn2-dev` debian package is detected by curl build but should be overridden for reproducible builds.

[2020-12-22 18:18] esmet opened #14507 "Support setting dynamic metadata from external ratelimit service"
It is possible to set dynamic metadata from external authorization service responses, but not from the ratelimit service. Let's make it possible in the ratelimit service. This will allow users to log that metadata in the access log, or pass the metadata along to other filters to do interesting things.

[2020-12-22 18:18] esmet commented on #14507
/assign

[2020-12-22 18:58] wrowe commented on #14506
This is fubar upstream. They've failed to add a undesired feature guard in their CMakeLists.txt here

[code]

I think we must reject/revert 7.74, until upstream adds the appropriate CURL_DISABLE_IDN2 toggle. @htuch your thoughts?

[2020-12-22 19:23] wrowe commented on #14506
The alternative is to patch for the use of 7.74, but I'm hoping we could see an upstream 7.74.1 before our 1.17.0 package.

[2020-12-22 21:08] busunkim96 commented on #14412
I created a branch on python-api-common-protos with the `google/api/expr` protos https://github.com/googleapis/python-api-common-protos/tree/add-api-expr. (PR: https://github.com/googleapis/python-api-common-protos/pull/27)

Releasing will need to wait for next year since I need to check that releasing these protos in this package is OK.

[2020-12-22 21:22] AndreyFlyAway commented on #14202
I figure out what was the problem. First of all I used fork from istio release-1.6 branch (my mistake). I replaced downloading old version of com_googlesource_chromium_v8 by newest from this repo - chnaged it in repositories.bzl. I don't know the true nature of this error but it helps. Thank you all for help.

[2020-12-22 21:22] #14202 closed

[2020-12-23 00:14] #14006 closed

[2020-12-23 00:29] songhu opened #14510 "Is there a limit on how many clusters we can create?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Is there a limit on number of clusters?*

*Description*:

[2020-12-23 01:06] antoniovicente commented on #14500
All the packets in the TCP dump have the SYN flag set so these are retries while attempting to create a TCP connection.  Seems like the packets are being dropped and thus wget is not getting as far as creating a connection to the envoy.

Are there some iptable rules or firewall mechanism that is preventing the wget process from connecting to port 15021 ?

[2020-12-23 01:19] jmarantz commented on #14510
What does the "Maximum number of threads on xDS process: 1098" mean? Did you set the Envoy concurrency limit to a very high number; higher than the number of cores?

[2020-12-23 01:39] antoniovicente commented on #14510
@htuch mentioned #10793 as a related issue.

To handle larger numbers of clusters, you should switch over to ADS as the communication mechanism between your envoys and control plane. This should result in a constant number of gRPC clients and threads as the number of CDS/EDS targets increase.

Docs: https://www.envoyproxy.io/docs/envoy/latest/configuration/overview/xds_api#aggregated-discovery-ser

[2020-12-23 01:48] rgs1 commented on #13411
@dio PTAL https://github.com/envoyproxy/envoy/pull/14512 :-)

[2020-12-23 07:35] shaneing commented on #14500
A service can work, but another can't. And, I ensure their iptables rules are the same. The rules as follow:

[code]

[2020-12-23 08:59] songhu commented on #14510
@jmarantz Thanks for your reply. When envoy was not accepting new clusters, I went and checked the number of threads in the process where xDS was running, I counted 1098 threads at the time. In my setup each cluster was getting its endpoints from EDS. It seems each cluster will need a thread in the EDS.
@antoniovicente I think you are right, I should try ADS.  Thanks!

[2020-12-23 08:59] #14510 closed

[2020-12-23 09:52] mukund-thakur commented on #14482
Thanks a lot @dio . It worked.

[2020-12-23 09:52] #14482 closed

[2020-12-23 11:20] membphis commented on #14440
ok, got it. many thx

[2020-12-23 11:20] #14440 closed

[2020-12-23 14:28] rgs1 commented on #14501
FWIW we are adding support for formatter extensions here:

https://github.com/envoyproxy/envoy/pull/14512

So maybe this can be implemented as an extension.

[2020-12-23 14:35] membphis commented on #13791
@nic-chen I think we can close this issue now. https://github.com/api7/envoy-apisix/blob/master/docs/plugins/uri-blocker.md

we have supported this feature

[2020-12-23 18:18] yanavlasov commented on #13147
No milestones, sorry. There is nobody working on the issue that raised here specifically, just some related parts. If you need this fixed soon you need to find someone who can do the development.

[2020-12-23 19:14] mattklein123 commented on #14504
I updated the title to remove Istio and make the feature request in terms of the Envoy RBAC filter. I don't know how Istio does RBAC so Istio details are not relevant here. cc @kyessenov

[2020-12-23 19:17] #13791 closed

[2020-12-23 19:40] kyessenov commented on #14504
This is interesting since I am not aware of any other config in Envoy that applies retro-actively to old streams. Usually,  a stream is 1-1 with a parent config for it, and two configs almost never interact to avoid race conditions. I think the FR also applies to long living HTTP streams, too.

[2020-12-23 21:49] sunjayBhatia commented on #13281
This doesn't work, docker build/compose is pretty dumb and tries to build all the stages even when you ask to run a specific one

[2020-12-23 21:59] sunjayBhatia commented on #13281
Trying this out again the more problematic issue is that many examples use images that are linux specific and we may have to build our own for Windows (mostly just echo servers and we could use node.js etc. - though there isn't a Windows docker image available from upstream, some 3rd party images are)

[2020-12-23 22:43] wrowe commented on #14506
The proposed patch https://github.com/curl/curl/pull/6362 would have us introduce USE_LIBIDN2: "off" to the cache_entries of envoy_cmake_external in https://github.com/envoyproxy/envoy/blob/b4ca626476403d816926ba10ff453065bd7ed642/bazel/foreign_cc/BUILD#L105

Just waiting to see that this is the correct field name and patch is accepted before injecting it into our baze/foreign_cc/curl.patch, but t

[2020-12-23 22:47] mattklein123 commented on #14504
Yeah in general today we don't do anything retroactively, but I think it would be neat to consider a model in which we have a way to audit existing streams/connections and do things with them when configuration changes (especially when using ECDS).

[2020-12-23 23:12] andye2004 commented on #14075
I meant to respond to this before now but other things got in the way and I forgot, apologies. I just wanted to thank everyone, especially @williamsfu99, for commenting and clearing up some things. I'm sure in the longer term this will prove to be a very valuable plugin, but, for the moment at least, we will look at alternatives methods of implementing oauth/oidc at the proxy level.

[2020-12-24 00:17] #13981 closed

[2020-12-24 12:06] #13877 closed

[2020-12-24 15:33] long1eu commented on #14477
@hakuno can you tell me how you can downgrade to a specific version? I'm on macOS.

[2020-12-24 15:40] long1eu opened #14520 "Trying to downgrade to a specific version"
I'm on macOS And I'm trying to install a specific version, but I don't manage to do it. I tried `brew install envoy --HEAD` just to test it but I get `Error: No head is defined for envoy`.

Any idea on how to install an old version?

[2020-12-24 16:17] rojkov commented on #14439
I've submitted https://github.com/envoyproxy/envoy/pull/14519.

Also I wonder if this tag producer for the default tags could be reimplemented with a single LALR parser. Should be really fast i guess.

[2020-12-24 20:06] #14013 closed

[2020-12-24 20:06] #14019 closed

[2020-12-24 20:59] kylebevans commented on #125
I'm considering working on this, but I'm trying to get a bearing on what the desired direction is at this point.  From poring over #517, #6379, #1477, #1835, #4290, #5186, #10361 and the code itself, it seems like the desire is to make the custom resolver interface asynchronous and then possibly hook the current dns resolver into it so that EDS clusters can use dns resolution. Am I reading that co

[2020-12-25 00:14] #14032 closed

[2020-12-25 02:26] mk46 commented on #14492
Hi @pawanyoda Try to install docker-compose by [pip](https://docs.docker.com/compose/install/#install-using-pip)

[2020-12-26 00:12] #13852 closed

[2020-12-26 21:24] williamsfu99 commented on #13736
@hsuyuming
Did you find what you were looking for in the other thread?

[2020-12-26 21:35] williamsfu99 commented on #14088
@juanvasquezreyes
I'm not sure configuring multiple possible `grant_types` is the desired behavior? Considering we always use the same client ID and client secret in the access token retrieval, the token_endpoint should always expect one value of `grant_type`.

We can make the `grant_type` value configurable from the proto API instead of a fallback hierarchy. How does that sound with you?

[2020-12-27 00:13] #13553 closed

[2020-12-27 00:13] #14069 closed

[2020-12-27 12:04] #13833 closed

[2020-12-27 16:01] Kurounin commented on #14272
I'm now getting the same error `Unable to parse JSON as proto (INVALID_ARGUMENT:(static_resources.clusters[0].typed_extension_protocol_options[0].value): invalid value Invalid type URL, unknown type: envoy.extensions.upstreams.http.v3.HttpProtocolOptions for type Any):` using the https://www.envoyproxy.io/docs/envoy/latest/configuration/overview/examples#dynamic configuration:
[code]

[2020-12-27 21:22] jespersoderlund commented on #2092
The referenced issue didn't add this for redirects :(

[2020-12-28 00:13] #14128 closed

[2020-12-28 04:47] hakuno commented on #14477
@long1eu I manage Envoy Proxy on Docker. So I can run Envoy Proxy with any official image into container. In my case, I do like the Alpine version (the lightest option by the way).

[2020-12-28 04:58] long1eu commented on #14477
thank you

On Mon, 28 Dec 2020 at 06:47, Seiji 誠 次 <notifications@github.com> wrote:

[2020-12-28 04:59] hakuno commented on #14520
I do use Docker. It has official images hosted [at here](https://hub.docker.com/r/envoyproxy/envoy-alpine).

[2020-12-28 05:04] hakuno commented on #14492
I guess it is related to Docker Compose itself.

Some time ago I also had some trouble with https://github.com/docker/for-win/issues/9561

Plus, you got some error message

[code]

[2020-12-28 07:32] williamsfu99 commented on #14153
@juanvasquezreyes
Working on this enhancement now - should have it done by tomorrow (28th!)

[2020-12-28 08:20] sefaphlvn opened #14523 "RBACPerRoute configuration not working!"
*Per route RBAC configuration not working.*

*Description*:

[code]

Is there something i missed?

*Resolution:*
This is should be in http filter
[code]

[2020-12-28 08:59] #14523 closed

[2020-12-28 12:17] sagital commented on #14435
Yup, that's correct I used `strip_matching_host_port: true` and the problem went away.

[2020-12-28 12:19] cip123 commented on #14435
Yup, that's correct I used `strip_matching_host_port: true` and the problem went away.

[2020-12-28 12:19] #14435 closed

[2020-12-28 14:34] juanvasquezreyes commented on #14088
I was able to make it work with the default grant_type, so I dont think this change is no longer needed

[2020-12-28 14:34] #14088 closed

[2020-12-28 15:58] chintan-mishra commented on #13221
Since Podman 2.2, I cannot access TLS certificate files as `envoy` user within the container. Podman IRC and mailing list are quiet for some time. I will try again in 2021. This release is bug-for-bug compatible with Docker.

Some problems mentioned in the issues have crept up in the v1.14.6 as well. I have yet to determine if these are from the upgrades in Envoy or Podman.

I will inspect further

[2020-12-28 17:31] juanvasquezreyes commented on #14153
Thank you @williamsfu99

[2020-12-28 19:24] shashankram commented on #13685
Has this fix made it into any envoy release yet? Will this be a part of 1.16.x or 1.17?
Thanks

[2020-12-28 20:54] akonradi opened #14524 "List of SSL cipher stat names is incomplete"
The list of cipher names and curves supported by BoringSSL is larger than the set that Envoy exports stats for ("cluster.[cluster_name].ssl.ciphers.[cipher]" and ("cluster.[cluster_name].ssl.curves.[cipher]"). The list in Envoy is currently [hard-coded](https://github.com/envoyproxy/envoy/blob/483dd3007f15e47deed0a29d945ff776abb37815/source/extensions/transport_sockets/tls/context_impl.cc#L475) an

[2020-12-28 21:36] bochuxt commented on #12724
origin  https://github.com/api7/envoy-apisix.git (fetch)

[2020-12-28 22:16] jmarantz commented on #14524
It's easy enough to use the configured ciphers; should've done that in the first place. Moreover we should probably log (rate-limited) when we see one we didn't expect, otherwise you can't learn from production what it was.

[2020-12-28 23:35] mattklein123 commented on #125
I need to spend some time and page all of this back in. I will get back to you next week some time. I would like to see this one happen. Thank you for your interest!

[2020-12-28 23:41] williamsfu99 commented on #14153
Created #14527. Note @juanvasquezreyes the additional description in the PR message, in case you end up needing a more sophisticated authz framework in the future.

[2020-12-28 23:50] mattklein123 commented on #14484
Can this already be done with the local reply mapper? If not can we make the mapper capable of doing it?

[2020-12-29 00:00] #14104 closed

[2020-12-29 00:03] #14307 closed

[2020-12-29 06:24] zyfjeff opened #14529 "Dubbo filter: Integrated hessian2-codec"
*Title*: *Integrated hessian2-codec for Dubbo filter*

*Description*:

[2020-12-29 06:25] zyfjeff commented on #14529
/assign zyfjeff

[2020-12-29 07:32] zyfjeff commented on #14391
#14529 Integrating [hessian2-codec](https://github.com/alibaba/hessian2-codec) can help dubbo implement more complex routing.

[2020-12-29 07:53] small-pineapple opened #14530 "L4 traffic routing and custom-defined filter"
Current L4 filters in [source\extensions\filters\network](https://github.com/envoyproxy/envoy/tree/master/source/extensions/filters/network) do encode decode work in Envoy::Networks::ReadFilter::onData and Envoy::Networks::WriteFilter::onWrite respectively. However, the knowledge of how L4 data packet formed haven't tell envoy, those 2 virtual function return can not indicate the packet boundary i

[2020-12-29 08:18] caitong93 commented on #12724
There several advantages to use FFI binding:
- Lua call C function without C API overhead, arguments and return values using C data,  much more efficient (according to benchmark, a simple Lua plugin that get and set some headers can achieve 80% performance of a C++ plugin with some logic)
- less work to add new APIs

To conclude this issue, I think these features can be added to Envoy as needed an

[2020-12-29 09:46] CAFxX opened #14531 "Support for max_requests_connection in downstream connections"
As discussed in https://github.com/envoyproxy/envoy/issues/13388#issuecomment-704444298 it would be ideal to have a way to configure envoy to serve up to a certain number of requests on each downstream HTTP connection before signaling to the client (via `Connection: close`) that the connection should be closed.

nginx support this with [`keepalive_requests`](http://nginx.org/en/docs/http/ngx_http_

[2020-12-29 10:33] sefaphlvn opened #14532 "How can I redirect to another domain(Host) if all servers are down?"
*Title*: *Redirect to another host when all servers down*

*Description*:

Like this https://support.citrix.com/article/CTX108946

[2020-12-29 16:46] SaveTheRbtz commented on #14225
Yes, compression is done by Envoy.  The setup is pretty much the same as our nginx:
[code]

This behaviour change can be observed live (same backend):

Nginx:
[code]
Envoy:
[code]

[2020-12-29 17:02] hennna opened #14535 "Config rejection when outlier detection max_ejection_time is not set"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*: Config rejection "outlier detector's max_ejection_time cannot be smaller than base_ejection_time" when outlier detection max_e

[2020-12-29 17:16] antoniovicente commented on #14225
ok, that makes sense.  I wouldn't be surprised if there were other more fundamental differences like the response to HEAD having a content-length and the GET having no content-length(and in the case of HTTP/1.1 transfer-encoding: chuncked) or a different content length.

Minimizing these differences is relatively challenging.

[2020-12-29 22:17] mattklein123 commented on #14535
I think this is a recent regression. @cpakulski do you mind fixing? It should be quick. Thank you.

[2020-12-29 22:26] mattklein123 commented on #14373
I'm pretty sure every try is in the upstream access logs? cc @zuercher

[2020-12-29 22:33] cpakulski commented on #14535
No problem.

[2020-12-29 22:37] terorie commented on #13637
With Envoy `version: e98e41a8e168af7acae8079fc0cd68155f699aa3/1.16.2/clean-getenvoy-be6132a-envoy/RELEASE/BoringSSL` I can confirm that the implementation of `token_endpoint`  is broken.

I configured a dummy socat to listen on localhost, and configured token_endpoint to fire against it. It never sends any form parameters for the token request:
[code]

[2020-12-29 23:08] terorie commented on #13637
Please ignore above, this has been fixed with `version: db57a82d9fecd8d4a525f0443d8512b4ad9ab485/1.17.0-dev/clean-getenvoy-be6132a-envoy/RELEASE/BoringSSL` and `token_endpoint` requests now come with a form

[2020-12-29 23:24] terorie opened #14537 "[OAuth2] Missing "accept" header in access_token request"
*Title*: *[OAuth2] Missing "accept" header in access_token request*

*Description*:
The [OAuth2 HTTP filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/oauth2_filter) does not set the "Accept" header, but expects the server to return JSON.

This behavior is incompatible with GitHub's implementation of OAuth2: [GitHub web application flow](https://docs.github.com/en

[2020-12-30 02:25] cetanu opened #14539 "Question RE: tcp health checks, zone aware routing, endpoint priority"
Hello!

### Current state of things

We have the following:

* A cluster has multiple endpoints in different localities
* Each endpoint has a priority based on it's locality, in case zone-aware routing doesn't work for some reason
* The cluster has a TCP health check, which does a CONNECT only

### What we would like to happen

If an endpoint in one locality is unhealthy (based on TCP health check

[2020-12-30 04:12] gunsluo commented on #12543
I have the same issue.  I use docker/docker-compose to run envoy and get the same error message.

[2020-12-30 13:14] terorie opened #14542 "[OAuth2] Incompatibility with access_token responses without "expire_in""
*Title*: *oauth2 filter is incompatible with authorization servers that omit `expire_in` on `access_token` responses*

*Description*:
When configuring the oauth2 HTTP filter against an RFC 6749-compliant OAuth 2.0 authorization server, the auth flow fails if the `access_token` response does not contain an `expire_in` field.

*Repro steps*:
Setup Envoy oauth2 HTTP filter against an RFC 6749-complia

[2020-12-30 14:06] rojkov commented on #14225
I guess the problem is that in `CompressorFilter::encodeHeaders()` we just skip setting `content-encoding`  for all body-less responses. Probably there are two options here:

1. modify headers even if there's no body;
2. don't touch `content-encoding` at all, but update `transfer-encoding` instead.

The latter seems to adhere to the spec better (https://issues.apache.org/bugzilla/show_bug.cgi?id=3

[2020-12-30 14:40] terorie commented on #14542
Until then, here's an ugly patch for testing / demonstration. This patch just ignores the `expired_in` parameter entirely and hardcodes it to `3600`.

With this patch and #14538, the oauth2 token works with the GitHub OAuth App feature.

[code]

Filter:

[code]

Cluster:

[code]

[2020-12-30 15:15] cpakulski commented on #14535
Fixed in #14540.

[2020-12-30 15:39] stefanbucur opened #14543 "//test/server:server_fuzz_test build failure"
*Title*: *The //test/server:server_fuzz_test fuzz target fails to build*

*Description*:
The following command fails on the latest HEAD (7e3b483bbb004bf2b8234e3ec2be6ceef254a2f9):

[code]

The error message:
[code]

The problem seems to happen when building the `@com_lightstep_tracer_cpp//:generate_version_h` dependency. Here is the dependency chain:
[code]

[2020-12-30 16:55] stefanbucur commented on #14543
By the way, building this locally on my machine gives a different error, at linking time:

[code]

Is this a Clang versioning issue? (I'm using Clang 11 locally)

[2020-12-30 20:09] #13978 closed

[2020-12-31 01:00] boringuy commented on #13796
I got the same error when using docker on Mac. I am not familiar with the ci_build script but if it is using shared folder, changing the bazel_cache directory to directory inside the container will solve the problem. I modified my .bazelrc to add --output_user_root=/tmp/bazel_cache startup option.

[2020-12-31 04:16] #14136 closed

[2020-12-31 09:31] rojkov commented on #14543
`__muloti4` is defined in libc++ and missing in libstdc++. Probably the lib gets overridden somewhere in .bazelrc

[2020-12-31 12:17] Kurounin opened #14545 "Error when using envoy.extensions.upstreams.http.v3.HttpProtocolOptions"
*Title*: *Error when using envoy.extensions.upstreams.http.v3.HttpProtocolOptions*

*Description*:
I'm getting the error `Unable to parse JSON as proto (INVALID_ARGUMENT:(static_resources.clusters[0].typed_extension_protocol_options[0].value): invalid value Invalid type URL, unknown type: envoy.extensions.upstreams.http.v3.HttpProtocolOptions for type Any)` using the latest envoyproxy/envoy:v1.16-

[2020-12-31 20:08] #14137 closed

[2020-12-31 20:08] #14151 closed

[2020-12-31 20:08] #14154 closed

[2021-01-01 04:10] alandtsang commented on #13796
Is there a solution?

[code]

[2021-01-01 16:40] tydurd opened #14548 "Any way to retry on mirrored traffic?"
Hi team,
I'm leveraging request_mirror_policy to mirror traffic to a logging service.
Occasionally (~0,0005% of total requests) I got a 503 (due to upstream_cx_destroy_remote_with_active_rq) from the logging service, therefore losing the request. I think retrying the failed request will be much, much easier than debug and solve the underlying issue (if 0,0005% of errors could be considered an issu

[2021-01-02 02:46] ynqa commented on #7974
I implemented the first plan: [ynqa/envoy-lb-simulator](https://github.com/ynqa/envoy-lb-simulator). This is still a prototype that has not considered DNS resolution and health checking. It iterates [chooseHost](https://github.com/envoyproxy/envoy/blob/v1.16.2/include/envoy/upstream/load_balancer.h#L101) given times against `clusters` field in config file.

[2021-01-02 03:45] tonya11en opened #14550 "RFC: QoS/Multi-tenancy for Circuit Breakers"
While messing around with different load shedding mechanisms over the holidays, I hacked one up that may be used to perform fair load shedding (among other things) via the current circuit breakers. I'd love to start some discussion here around its viability.

**TL; DR**: *Altering the concurrency control mechanisms (circuit breakers and adaptive concurrency) to allow for queuing of excess requests

[2021-01-02 19:13] snowp commented on #14550
Immediate thoughts from me is that this sounds super interesting and potentially very useful! I can imagine this being great as an optional feature as long as we can implement it in such a way that it doesn't increase the resource overhead when it's not used.

One thought was that it seems to be that we're assuming that high RPS = misbehaving client that should be throttled, but I can imagine scen

[2021-01-02 23:24] tonya11en commented on #14550
I can actually just hack this up and run the same tests. I'm actually having to deal with this in my day-to-day, so its definitely a common issue. Sand by for more graphs.

[2021-01-02 23:37] mattklein123 commented on #14532
It might be possible to do this with a local reply mapper (turn a no host error into a redirect) but AFAIK I don't think we have this built-in. @alyssawilk @snowp?

[2021-01-02 23:37] mattklein123 commented on #14539
cc @snowp who can probably advise.

[2021-01-02 23:39] mattklein123 commented on #14548
This is not possible today. As a total hack, you could forward the mirrored traffic back to the current Envoy and then get full functionality to do whatever you want.

[2021-01-02 23:58] #14535 closed

[2021-01-03 00:15] mattklein123 commented on #7974
Awesome!! cc @tonya11en who might be interested in checking out ^.

[2021-01-03 00:43] mattklein123 commented on #13933
Agreed, both sound reasonable to me.

[2021-01-03 01:25] mattklein123 commented on #125
@kylebevans I'm trying to approach this from first principles since this issue has been opened for so long and so many changes have taken place over the years. Here are my general thoughts:
1) Given that SRV records start with '_' and other records don't, it seems reasonable to do SRV resolution in that case. Stepping back though, I'm wondering if we don't need to worry about this at all? Meaning,

[2021-01-03 08:09] #14138 closed

[2021-01-03 09:06] tydurd commented on #14548
Thanks @mattklein123 for the heads-up.
By forwarding the mirrored traffic back to current envoy, how do I avoid traffic to hit again the same upstream?

[code]
Say **_webappmirror_** cluster is the current envoy, how do avoid requests being sent again to **_localcluster_** as well?

[2021-01-03 15:37] LuyaoZhong opened #14553 "Enable TLS external session cache"
*Title*: *Enable TLS external session cache*

*Description*:

I have a initial idea about design and implementation, the API in my mind is probably like this:
extensions.transport_sockets.tls.v3.DownstreamTlsContext
{
  "common_tls_context": "{...}",
  "require_client_certificate": "{...}",
  "session_ticket_keys": "{...}",
  "session_ticket_keys_sds_secret_config": "{...}",
  "disable_stateless_s

[2021-01-03 17:01] kylebevans commented on #125
For 1 & 2, extending the existing dns resolver interface was the direction taken in venilnoronha's PR at #6379.  During code review, a few things came up that seemed to pivot it to using the custom resolver interface instead:

* the strict_dns and logical_dns clusters have to "know about" SRV and require changes in order to call resolve on SRV records and receive/process SRV responses.  This is wh

[2021-01-03 19:28] snowp commented on #14539
Zone aware routing will only apply to P0, so this strategy is never going to do zone aware routing. That said, it sounds like it should do the right thing in terms for failover. The common issue in these cases is panic routing, where enough endpoints are unhealthy that Envoy starts routing to all endpoints instead.

Are you seeing endpoints marked as unhealthy but still receiving traffic?

[2021-01-04 00:36] davinci26 commented on #14286
Fixed the flakiness issue with #14447

[2021-01-04 02:49] cetanu commented on #14539
It shouldn't be doing zone aware routing?

I've got the following metrics showing up for this cluster and all others in my environment:

[code]

---

I hadn't checked the health of the endpoints, but upon checking I noticed a few things:

* The IP addresses for the dead/unresolvable endpoint remain in the cluster (as checked via `curl envoy:9901/clusters`)
* The IP addresses are all marked healthy

[2021-01-04 03:23] mattklein123 commented on #14548
What I mean is have the request_mirror_policy cluster point to a loopback cluster that routes to a local listener (within the current Envoy) over a unix domain socket (or TCP connection). Then, that listener can do whatever you want just like a normal listener in terms of retries, etc. It would just be a special listener/route that sends requests to webappmirror and does nothing else.

[2021-01-04 04:21] mattklein123 commented on #125
At this point I think here is my rough thinking:
1) Add SRV support to the existing resolver. For simplicity I think it's probably fine to have an API `resolveSRV()` which is independent from the other resolution API. We can potentially merge them later if needed.
2) Given this discussion, my feeling is that we should add a new extension cluster called srv_dns. We can factor out code from static_d

[2021-01-04 05:14] kylebevans commented on #125
This makes sense to me.  I'll start on the doc, thanks.

[2021-01-04 08:02] tydurd commented on #14548
Thanks @mattklein123, in fact, I did it by leveraging multiple domains (since mirrored requests have -shadow appended to host header). Your solution is much neater.
Closing this.

[2021-01-04 10:46] hatzhang opened #14555 "Curl works but envoy as ingress-controller not in a kubernetes cluster"
We are trying envoy with [contour ](https://projectcontour.io/)as kubernetes' ingress controller in a [Kind ](https://kind.sigs.k8s.io/docs/user/ingress/#contour)provisioned local cluster.
Inside envoy‘s container, we can curl auth-service:5000 with a 200, but when access through the ingress, curl  localhost/auth, it will end with a 404.
Totally new to envoy, not even know how to begin to resolve

[2021-01-04 12:26] dio commented on #14555
Seems like Envoy is responding, however, you need to provide "host" to the ingress CRD and the "Host" header to the request (for example, let's name the host: "auth-service.local"), something like:

[code]

And then the request:

[code]

(This is under the assumption that you have setup the kind cluster correctly, which I think you have since envoy is responding to your request).

[2021-01-04 13:37] skjolber opened #14556 "jwt_authn: JWKs health"
*Title*: *jwt_authn: JWKs health*

*Description*:

[2021-01-04 14:09] skjolber opened #14557 "jwt_authn: Improve JWKs caching"
*Title*: *Improve JWKs caching*

*Description*:

*Relevant Links*:

[2021-01-04 15:19] snowp commented on #14539
Zone aware routing is only done to localities within P0, so while you technically might be doing zone aware when routing to P0, none of the logic around it will apply since P0 only has one locality.

Based on your config I would have expected endpoints to be marked as unhealthy about 1 min after being removed (assuming the cluster is sending traffic, about 12 min if not due to the "no traffic inte

[2021-01-04 16:41] #14548 closed

[2021-01-04 18:42] #12647 closed

[2021-01-04 18:46] #14121 closed

[2021-01-04 19:03] #14242 closed

[2021-01-04 19:55] #14286 closed

[2021-01-04 20:34] qiwzhang commented on #14556
This seems a reasonable and legal requirement for a stable production proxy using jwt_authn.

My proposal is:
1) add a new remote jwks fetching approach: fetching it at envoy config thread (main thread). Currently it is fetching in the worker thread when handling the first traffic. One benefit is: such JWKS cache can be shared by all worker threads.
2) if the init fetching fails, not to mark the l

[2021-01-04 20:50] mattklein123 commented on #14470
I took a look through the design doc and at a high level it LGTM. I left a few comments for discussion in the doc. Thank you!

[2021-01-04 22:32] qiwzhang commented on #14556
It seems the action items are:
1) add `bool background_fetch` in [remote_jwks](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/jwt_authn/v3/config.proto#envoy-v3-api-msg-extensions-filters-http-jwt-authn-v3-remotejwks) config proto to enable jwks fetching in the config thread.
2) add new jwks_fetch stats; such as `jwks_fetch_ok_count`, and `jwks_fetch_failure_count`.

[2021-01-04 22:33] qiwzhang commented on #14557
Did not quite understand `refreshing cache on JWTs signed with unknown keys (rate-limited, queuing similar requests)` requirement.  Please clarfy.

Some of requirements can be achieved by the two action items in https://github.com/envoyproxy/envoy/issues/14556

[2021-01-04 23:39] virtumonde opened #14559 "Is Envoy supposed to run outside a Docker container?"
Hi! I would like to know if Envoy is supposed to run outside of a Docker container (for prototyping purposes). I have this config where I am upgrading incoming connections to HTTPV2 so that they would be compatible with gRPC. The web client is accessing envoy on 8080 and is redirected to a gRPC server on 50051. Does it look ok? I am using macOS 10.15.6. Unfortunately this doesn't work at all as th

[2021-01-04 23:57] dio commented on #14559
Sorry, if you run the gRPC server on your local (`localhost:50051`), I think the address should be "localhost" (instead of "0.0.0.0"), since you're setting the `type: LOGICAL_DNS`. You can set it as 127.0.0.1, but you need to use `type: STATIC`.

[code]

[2021-01-05 00:11] virtumonde commented on #14559
@dio, let me check if it works with ```localhost```.

[2021-01-05 00:19] virtumonde commented on #14559
Wow it's working! Thank you, @dio! I guess it was not working for me previously because I was changing all addresses to ```localhost``` instead of only the endpoint ones. Can you inform me why it is the case? I am not very familiar with Envoy.

[2021-01-05 00:43] skjolber commented on #14557
Sorry, it was a bit short to say the least. Here is a better explanation:

If the authorization server rotates its JWKs, because they are considered outdated, compromised or for some other reason, the resource servers will start seeing JWTs signed with a new, to it unknown key, while having a seemingly valid cache.

At this point, we'd like the resource server to

 * be able to validate the new to

[2021-01-05 00:47] skjolber commented on #14557
See also some of the finer details in the example implementation [java source code](https://github.com/entur/jwt-resource-server/tree/master/jwt-server/jwk/jwk-core/src/main/java/org/entur/jwt/jwk).

[2021-01-05 00:49] qiwzhang commented on #14557
Did not get the picture of what your "resource server" does.  Could you describe your issue in term of envoy jwt_authn filter?

[2021-01-05 01:09] skjolber commented on #14557
[Resource server](https://auth0.com/docs/protocols/protocol-oauth2): server hosting the protected resources. This is the API you want to access. So envoy/jwt_authn.

[2021-01-05 01:22] qiwzhang commented on #14557
I see.  is this understanding correct?
Jwks cache should be purged and a new Jwks fetch should be triggered when a JWT with a new key is seen.  To prevent DDOS on the JWKS server, JWKS fetch should be rate limited, e.g. only one request per server at any given time.

[2021-01-05 01:39] skjolber commented on #14557
Yes. Purging the cache at once is perhaps a bit much, better keep the cache untill refresh is done, then replace its content. Rate limiting should be at most (relaxed) back-to-back requests, should be n requests per time interval / bucket. Like 10 per minute or so.

[2021-01-05 03:46] leoq-ardanlabs commented on #14272
Can confirm, still getting the same error with example yaml with 1.16-latest

[2021-01-05 04:15] dio commented on #14559
Ah sorry for not being clear. (I'm obviously simplifying things here) Envoy receives (connection) request through the listener, that listener needs to listen to a certain address (this needs to be resolvable, and static IP is supported) and port. Then envoy proxies this out through the cluster, then to the selected upstream endpoint.

(downstream) request -> envoy listener (ip:port) -> filters ->

[2021-01-05 05:22] wbpcode opened #14560 "Support for max_requests_connection in downstream connections of thrift proxy"
Support for max_requests_connection in downstream connections of thrift proxy which make the envoy can actively disconnect from the thrift client at the right time.

Consider such a scenario. Assume that the thrift server has opened port 10000 and the IP is 1.2.3.4.  But the  envoy sidecar of the thrift client initially only had a virtual listener of 0.0.0.0:10000. Then the connection and request

[2021-01-05 07:00] vsekhar opened #14561 "Cannot register "/" path for JSON transcoding"
*Title*: *Cannot register '/' path for JSON transcoding*

*Description*:
Envoy crashes when starting up with a JSON transcoding path at the root ("/").

*Repro steps*:
[code]

*Config*:
[code]

*Logs*:
Many repetitions of:

[code]

More log here: https://gist.github.com/vsekhar/1f207da2539306092f5341b93ed8dc9e#file-journalctl-u-envoy-service

[2021-01-05 12:52] #14559 closed

[2021-01-05 14:55] rgs1 commented on #14560
It would still not be a clean drain, because there's no way in thrift to drain a connection cleanly afaik. But maybe that's OK for most use-cases?

Happy to review a PR if you want to give this a go @wbpcode.

cc: @fishcakez

[2021-01-05 15:00] rgs1 commented on #14542
cc: @williamsfu99

[2021-01-05 15:27] alyssawilk commented on #14532
yeah, I don't think there's anything in the core code which would allow this.
I think you could write a filter which would on the observed 5xx response would do an internal redirect (on 5xx, change host and recreateStream)
Arguably we could also add this as a feature to the local reply mapper as well but I don't think it's there today.

[2021-01-05 18:11] qiwzhang commented on #14561
grpc_transcoder filter uses path_matcher [code](https://github.com/grpc-ecosystem/grpc-httpjson-transcoding/blob/master/src/include/grpc_transcoding/path_matcher.h).  It doesn't support root "/" path.

Normally, you would not use root path to call a gRPC method.

But its support can be easily added.

@TAOXUY could you help to add such support and add a grpc_transcoder integration test for this cas

[2021-01-05 18:50] mattklein123 commented on #14550
Agreed this sounds interesting and worth pursuing. Do you envision this as a new filter or built into one of the existing filters like adaptive concurrency or admission control?

Another question I have is around tenant definition. In the simplest for I guess we could call each connection a tenant, but it seems like we might want a more complex/configurable notion of this?

[2021-01-05 18:52] mattklein123 commented on #14553
cc @ggreenway @PiotrSikora

I think it would be interesting to look at external session caches, but I would definitely want this to be pluggable from the start.

[2021-01-05 19:22] ggreenway commented on #14553
Makes sense to me. +1 on making it pluggable. One option is just a simple gRPC service, and adapters to a backing store (redis, etc) are the responsibility of the user.

[2021-01-05 19:58] #12377 closed

[2021-01-05 21:10] davinci26 commented on #13964
I am proposing the following approach that will be part of `filesystem_impl`:

This is a runtime best-effort translation of common UNIX paths to Windows. Given that the set of known UNIX paths is small the translation should not add much overhead.

[code]

Where we have two different translation types:

1. Behind the `toStandardHandle()` function
[code]
(Similarly fd 0 will map to  `STD_INPUT_HAND

[2021-01-05 21:22] Noah-Wagner opened #14565 "DirectResponseEntry::newPath doesn't perform prefix rewrites"
*Title*: newPath doesn't perform prefix rewrites

*Description*:
The method [DirectResponseEntry::newPath](https://github.com/envoyproxy/envoy/blob/540507edf8bf9f59e6a982b3f4ee62e85c217969/source/common/router/config_impl.cc#L715) performs redirects for schemes, ports, hosts, and paths, but does not perform redirects for prefix_rewrites. This was a little unexpected to me and seems to be a bit of

[2021-01-05 21:40] davinci26 opened #14566 "Windows CI does not recover from failures when downloading Kafka collateral"
*Description*:

Quite likely this is an external issue. Adding it here for tracking purposes and we might have to harden our downloads if it increases in frequency.
[code]

[optional *Relevant Links*:]

https://dev.azure.com/cncf/envoy/_build/results?buildId=62769&view=logs&j=b840a642-5ff3-5357-2e4b-e06e40b0cffd&t=67965174-5100-5631-9dc0-68b9f0aacb53

[2021-01-05 21:42] davinci26 commented on #14566
@envoyproxy/windows-dev

[2021-01-05 21:44] sunjayBhatia commented on #14566
Yeah looks like a Bazel internal thing, but this sort of error seems to happen a lot more on Windows `WARNING: Download from https://github.com/apache/kafka/archive/2.4.1.zip failed: class java.io.IOException Tried to reconnect at offset 4,096,000 but server didn't support it`

[2021-01-05 21:57] lizan commented on #14566
In Linux CI we do cache downloaded build artifacts from bazel using repository cache: https://github.com/envoyproxy/envoy/blob/master/.azure-pipelines/bazel.yml#L22-L26

This is not the case on Windows, we should add that so it could mitigate all of this kind of issue.

[2021-01-05 22:21] sunjayBhatia commented on #14566
Need to also pass https://github.com/envoyproxy/envoy/blob/937f0133355cf2d8eb9e75d3f09e296bb63951be/ci/build_setup.sh#L100 if we're not already on Windows

[2021-01-05 23:29] sunjayBhatia commented on #13964
We might have to do some validation when in service mode that a user doesn't try to use stdout/err as the console functions/GetStdHandle will likely fail, something to test out at least

[2021-01-05 23:34] davinci26 commented on #13964
These should be non-recoverable failures scenarios right? If you run an application as service or as a detached process without a console and you request the output on the console then Envoy is misconfigured and it should fail.

[2021-01-05 23:38] sunjayBhatia commented on #13964
Yeah good point, good enough to make sure we have good error messages etc., though that becomes a little funny with services and redirecting logs etc. 🤔

[2021-01-05 23:41] htuch commented on #14506
Ideally let's get this option added upstream, so we only need to modify the `BUILD`.

[2021-01-06 00:42] sunjayBhatia commented on #13964
I think we could also constrain this to just access log output paths as well? I don't see much advantage at all going through the above logic and allowing these sorts of paths for files we're watching for config updates

[2021-01-06 00:50] davinci26 commented on #13964
the change above implicitly only affects the `access_log_manager` since its the only component that is writing to file. As a result it is the only one that goes through the `FileImpl`.

When we are watching for config updates since this is a read operation we rely on `fileReadToEnd` which is on the `InstanceImpl` api.

Since this redirection are only for write and not for read I agree that they on

[2021-01-06 01:57] wbpcode commented on #14560
I will have a try.

[2021-01-06 03:45] jwilner opened #14570 "Expose additional certificate details as header formatters"
*Title*: Expose additional certificate details as header formatters

*Description*:
URI SANs are currently exposed as header formatters (e.g. `%DOWNSTREAM_PEER_URI_SAN%`). DNS and IP SANs are also in common usage; they should also be exposed as header formatters. This would permit downstream logic to manipulate and dispatch on those headers. In particular, I need access to DNS SANs.

The scope of

[2021-01-06 05:30] LuyaoZhong commented on #14553
@ggreenway @mattklein123 Thanks for your comments. Could you give me some guide or references? I am a newbie in Envoy project, it will be great if I can contribute this feature to community.

Enabling external session cache needs setting some callback functions to SSL context, I'm thinking about it has to modify the main code in transport socket tls extension. So do you mean make the backing store

[2021-01-06 08:23] NomadXD commented on #13877
@alyssawilk Hi, is it possible to get metadata related to web socket frames when it hit the stream filter ? I just want to differentiate web socket data frames from ping/pong and open/close frames. According to web socket [specs,](https://tools.ietf.org/html/rfc6455#section-11.8) we can use the opcode for that differentiation but from my decodedata() method I'm getting a raw byte stream for web so

[2021-01-06 08:27] zero77 commented on #14180
no stalebo

[2021-01-06 11:33] bjaglin commented on #14026
@qiwzhang I finally got the chance to try `local_jwks`. Unfortunately, the leak is still visible, so I guess the problem is in the filter itself.
[code]
[code]

[2021-01-06 14:07] alyssawilk commented on #14234
Unfortunate that the in flight PR doesn't prevent stale tagging.  Fixed manually.

[2021-01-06 14:12] stefanbucur commented on #14543
@asraa do you have a sense what could be the issue here? (both for the remote and local build) Am I building this target with the wrong flags?

[2021-01-06 14:23] alyssawilk commented on #13877
yeah, I would expect decodeData to get a raw byte stream, and you'd want to hand that byte stream to a WebSocket framer, and have it do the parsing.  I'd be game for landing that framer upstream even if the WS ratelimiter doesn't land there, since so many folks using Envoy use WS.  Or maybe this is a case for non-core extensions the @envoyproxy/maintainers have been discussing.  But in-house or up

[2021-01-06 14:32] asraa commented on #14543
Could you try running `bazel/setup_clang /path/to/clang` (then bazel clean --expunge, and re-try?) This will set up the CC env variable to the right path.

[2021-01-06 14:51] stefanbucur commented on #14543
Same problem :( I ran the following:

[code]

[2021-01-06 15:08] asraa commented on #14543
Hm. Just for reference CI and RBE are configured with a clang-10 toolchain, so I wonder if that might be causing the problem.

However, there's still the local error.
Locally, can you run with `--config libc++`?
Remote build, can you try with a clang-10 installation?

[2021-01-06 17:10] #14196 closed

[2021-01-06 17:15] mattklein123 commented on #14180
2FA is not something that Envoy would typically provide. Please provide more info on your feature request otherwise we will close this out.

[2021-01-06 17:24] #14226 closed

[2021-01-06 17:24] #14501 closed

[2021-01-06 18:04] stefanbucur commented on #14543
I switched locally to Clang-10, and the error still persists remotely.

Can you confirm that the remote command works for you? I'm imagining that, in theory, remote builds should behave the same regardless of where the build command originates from.

I've just re-issued the command, and it's rebuilding everything. This build seems to be taking a lot of time. Is this expected or there are tricks I

[2021-01-06 18:05] asraa opened #14578 "CodeQL: The repo on which this action is running is not opted-in to CodeQL code scanning."
CodeQL is failing on some PRs with the message
[code]
https://github.com/envoyproxy/envoy/pull/14567/checks?check_run_id=1652879578
https://github.com/envoyproxy/envoy/pull/14575/checks?check_run_id=1657686409

@jhutchings Is this a CodeQL flake / was there a recent change in CodeQL?

[2021-01-06 18:09] c-parsons opened #14579 "BazelCI is failing for Bazel@HEAD: no field 'libraries_to_link'"
**Title**: BazelCI is failing for Bazel@HEAD

**Description**:
Example buildkite failure: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1839#ec110a35-1129-4d6c-a8bb-0cf2a089fad5

[code]

**Culprit**:
https://github.com/bazelbuild/bazel/commit/9a2893dc84cf8e05c1472c5ecff094e8da1d2049

**Suggested fix**:

Quick fix: Flip `--incompatible_require_linker_input_cc_api` to false in you

[2021-01-06 18:10] snowp commented on #14579
@lizan you want to take a look?

[2021-01-06 18:26] qiwzhang commented on #14026
Thanks.  @bjaglin

We do have integration test with RS256.  Our CI and ASAN and TSAN tests, they did not find any memory leak.
So I really don't know how to proceed from here.

[2021-01-06 18:41] asraa commented on #14579
Not sure if it will help, but upb can also be bumped to a newer version.

[2021-01-06 19:14] kyessenov commented on #14222
https://github.com/envoyproxy/envoy/pull/14448

[2021-01-06 19:15] asraa commented on #14543
With remote build, this succeeds for me at HEAD:
[code]

`server_fuzz_test` worked up to linking, which took more than 20 min, but I can keep it running in the background.

`server_fuzz_test` is the largest fuzz target since it compiles most of Envoy, if it were just for testing the config `base64_fuzz_test` is probably the smallest and will take the least amount of time. The v8 build in server_fu

[2021-01-06 19:31] bjaglin commented on #14026
Can it be related to the JWT payload header forwarding? I just realized the extract posted by my colleague when opening does not contain all the options we use, nor the other filters.
[code]

I will run another test without forwarding.

[2021-01-06 19:33] asraa opened #14581 "TSAN failure in fuzz_coverage - DNS Cache"
This TSAN failure happens occasionally in fuzz_coverage builds while fuzzing the SNI Cluster network filter.

The whole stack trace is here https://gist.github.com/asraa/75fe00e05270dd72bc9bd319bf2bfced

Sometimes I get a shorter stack trace like:
https://gist.github.com/asraa/9bbafb728a48a654fd3ee4ed7edbb979

I mostly see that this is coming from running dispatcher in this `advanceTimeAndRun` whi

[2021-01-06 19:41] #14524 closed

[2021-01-06 20:20] tonya11en commented on #14550
I imagined this as a change to the active request circuit breakers. To keep current default behavior, there would just be a queue timeout of 0ms. If that's not a good idea, then it should be its own filter to start. I'm not sure what kind of effect this would have on that admission control/adaptive concurrency control loops at the moment.

The way I defined tenants in the experiments was via a hea

[2021-01-06 21:20] mattklein123 commented on #14581
cc @chradcliffe it would be good to investigate this to make sure this is a test issue and not a real issue.

[2021-01-06 21:26] mattklein123 commented on #13877
I think it's reasonable to start with a framer for WebSocket per @alyssawilk. We have something similar for gRPC here: https://github.com/envoyproxy/envoy/blob/master/source/common/grpc/codec.h. Also per @alyssawilk given how many people use WS and Envoy I think it's reasonable to also think about more first class codec/filter support for it.

[2021-01-06 21:48] qiwzhang commented on #14230
I am going to work on it soon.

[2021-01-06 22:56] PiotrSikora opened #14587 "Make use of :scheme and XForwardedProto clear and consistent in Envoy"
It looks that `:scheme` pseudo-header is missing in HTTP/1.x requests, which makes it impossible to use route-based actions based on HTTP vs HTTPS scheme.

HTTP/1.1 request:
[code]

HTTP/2 request:
[code]

cc @howardjohn

[2021-01-07 00:28] esmet commented on #12883
Let's move this to `no stalebot`. I'm tracking an implementation in https://github.com/envoyproxy/envoy/pull/14221 but it fell to the backburner during the holidays + other tasks. I'll be looking at it again soon, though.

[2021-01-07 01:17] tbarrella commented on #5355
The PRs to undeprecate both parameters have been merged; it sounds like new issues will be created when old code paths need to be cleaned up in the future, so does that mean this issue can be closed now?

[2021-01-07 01:50] mandarjog opened #14591 "Reduce `warning - grpc Config Stream closed: 14` noise"
When an XDS server terminates connection to Envoy, Envoy logs at a warning level.

https://github.com/envoyproxy/envoy/blob/28e8d7711b91d6fa3b76827441d4285a6cd75717/source/common/config/grpc_stream.h#L100

This results in an error message like the following.  `14 == Unavailable`
[code]
or  `5 == NotFound`
[code]
Problem
At least some of the statuses (14, Unavailable) are retryable and *do not* req

[2021-01-07 02:00] #5355 closed

[2021-01-07 07:52] bjaglin commented on #14026
Unfortunately, I just reproduced the problem when removing `forward` and `forward_payload_header`.

[2021-01-07 12:40] bruegth commented on #10925
I have same issue until I noticed that it must be `listener_filters` not `filter_chains`

e.g.

    - name: listener_ntp
      reuse_port: true
      address:
        socket_address:
          protocol: UDP
          address: 0.0.0.0
          port_value: 123
      listener_filters:  ### listener_filters not filter_chains !!!
        name: envoy.filters.udp_listener.udp_proxy
        typed_config:

[2021-01-07 13:43] jmarantz commented on #13964
I'm trying to understand the goal of this bug and accompanying PR.

Do you want to be able to specify that access logs go to stdout/stderr in a configuration file? Why would you want to do that? For debug only?

[2021-01-07 13:57] sunjayBhatia commented on #13964
See https://github.com/envoyproxy/envoy/blob/a4733f64e2566630a0bd7f1481331d9336af63ee/examples/cors/frontend/front-envoy.yaml#L18

this issue and PR are to allow us to have parity with Linux/macos and enable using the file access logger to output to stdout/error

e.g. in a containerized deployment you often have stdout/error captured by your container runtime etc., without a change of this sort we

[2021-01-07 14:31] jmarantz commented on #13964
I'm still trying to wrap my arms around why this is a good thing, but it would be possible to have special platform-independent syntax for naming stdout/stderr, which is more like this PR. I'd like to ask other @envoyproxy/maintainers  if they think it's a great plan to have a special name you could put into any `path` in a config which is interpreted as stdout/stderr rather than being opened as a

[2021-01-07 15:57] sunjayBhatia commented on #13964
This is probably a separate discussion, I don't think theres any value judgement which is "better" just that file based access logging is a feature that exists in Envoy and is in use so to have parity across platforms we need a solution to do the equivalent logging to stdout/err on Windows.

Yeah, this is a good question to raise again. We hadn't come to any consensus on what that name would be or

[2021-01-07 17:20] #14133 closed

[2021-01-07 17:22] mattklein123 commented on #14591
+1, I've seen this also and it's confusing. I think the log line as is should actually be debug, it's not very useful. I would suggest some more intelligent logging that would be a warning and also with a more useful error message. Something like your (3) above. cc @ramaraochavali who also might have an opinion on this and is familiar with this code.

[2021-01-07 17:29] sunjayBhatia commented on #10871
So a few points to clarify before doing this (which is also why I would say to remove this from the `beta` milestone as well)

Windows doesn't have support for unnamed UDS, so we would need to have a filepath they live at which is especially interesting if we are going to use UDS in the watcher and signals prod code. It seems Envoy has stayed out of the business of saving state etc. to disk outsid

[2021-01-07 17:35] mattklein123 commented on #14587
Agreed we should be consistent here and fix this. cc @alyssawilk

[2021-01-07 17:37] #14507 closed

[2021-01-07 18:15] jmarantz commented on #13964
@ggreenway suggested:

I like this better. The advantage is we wouldn't have "special" names for files to trigger different semantics. The main drawback is that we'd have to enumerate the places where we'd want this behavior (maybe just access logs) and add new APIs and code to handle that there.

[2021-01-07 18:30] alyssawilk commented on #14587
I thought the expectation was that ForwardedProto would represent the downstream scheme/security level internally, and :scheme was appended at the last minute for requests headed upstream, indicating the security of upstream requests.  Let's sort out a plan offline.

[2021-01-07 18:36] stefanbucur commented on #14543
Now it works for me too! And I have no idea why :) I don't recall making any changes to my environment nor the compiler. I'm wondering if this could be an RBE cache hit from a previous build, but I'll take it as it is :)

I can also confirm that the build works locally when using `--config libc++`. Is this the recommended way to build all fuzz targets in Envoy?

[2021-01-07 18:36] #14543 closed

[2021-01-07 18:51] davinci26 commented on #10871
I think that this could go to %APPDATA% on Windows. It's an internal cache that the application is using.

Do you think this needs to be configurable in the first version? For this type of configuration even an environment variable could do it. I might be wrong but I don't think the user would want to change this from the data plane.

[2021-01-07 18:59] davinci26 commented on #13964
There was a proposal regarding that but IMO I am not sure if bending windows to the UNIX standard makes more sense than introducing an envoy standard.

The reason for that is code samples/examples. We would like to have the work out of the box for Windows and if this is the case we would need to replace /dev/stdout references with `envoy/stdout` (name is just a sample to explain what I mean). From

[2021-01-07 19:06] asraa commented on #14543
Yep, the official build is with libc++. I just have that option in my home bazelrc. CI and OSS-Fuzz builds with libc++.

[2021-01-07 19:08] jmarantz commented on #13964
There's not really a Unix standard in play here. It's just a software engineering question of not having a pathname interpreted in a special way, so rather than inferring different semantics from the name, we explicitly put it in the enum.

I didn't totally understand the suggestion about the examples or the references to `envoy/stdout`, but if we are trying to put the access-log on stdout we'd ha

[2021-01-07 19:12] stevenzzzz commented on #14565
/cc stevenzzzz

[2021-01-07 19:13] davinci26 commented on #13964
I think I did not make my concern clear.

If we go through we the enum approach then we should change all the samples in the current project that use `path: /dev/stdout` to use ` access_log_destination: stdout`. I want to make sure that we are all ok with that.

[2021-01-07 19:21] jmarantz commented on #13964
The goal is to have the config files in the examples directory be platform-agnostic, is that right? So we need to change all those examples. That seems reasonable to me, no?

[2021-01-07 19:25] davinci26 commented on #13964
Just making sure that we are all in agreement since examples are the public facing documentation for our customers (envoy users) and we will be using a new configuration.

Closed the previous PR so I can open a new with the new approach of an ENUM.

[2021-01-07 19:34] wrowe commented on #13964
Just to clarify, that shouldn't be (ultimately) necessary. Until any global error log configuration setting modifies the output handle, my implementation of stderr -> Windows Event Logger for service controlled binaries just created a pipe to capture stdout and drop it in as windows events line-by-line. Easily expanded to do this for stdout too (in a different event priority, of course.) The troub

[2021-01-07 19:45] sunjayBhatia commented on #13964
yeah, a separate issue for general envoy logs but we could implement something for Service mode where if you don't specify the `--log-file` parameter logs are output to the windows event log (maybe this isn't the default but an additional flag option instead, idk?)

we could honestly also even add an extension to output the http/tcp Access Logs to the Windows event log as well (analogous to the fi

[2021-01-07 20:13] mattklein123 opened #14597 "Implement Weighted Random Selection Queue (WRSQ) load balancing"
See https://github.com/envoyproxy/envoy/issues/14360#issuecomment-744092787 and https://github.com/tonya11en/envoy/pull/1#issuecomment-744085044. This will require https://github.com/envoyproxy/envoy/pull/14569 to be merged and https://github.com/envoyproxy/envoy/issues/14360 to be resolved.

We should use WRSQ for:
- Weighted priority picking
- Weighted locality picking
- WRR host picking

We wil

[2021-01-07 20:13] mattklein123 commented on #14597
@tonya11en is this something that you would like to implement or should I look at implementing it?

[2021-01-07 20:19] tonya11en commented on #14597
@mattklein123 I'd _like_ to implement it, but will probably be sending a patch out over the weekend. I don't feel strongly about it, so if you can knock it out sooner, go for it and I'll be happy to review.

[2021-01-07 21:04] wrowe commented on #13964
I think that's a great feature to roll out in 1.18.0 - with much more granularity (explicit grouping by type, id, source)!

It wouldn't replace the stderr level logging which we desperately need during startup though, since that extension would be instantiated much later.

For 1.17.0 we should be ok with a blend of --log-file, treating the SCM invocation as "experimental", and focusing on readines

[2021-01-07 21:25] mattklein123 commented on #14597
@tonya11en go for it. I will assign over to you also and I will assume you are going to work on it for now.

[2021-01-07 21:27] wrowe commented on #10871
I agree with removing the beta milestone, I'll do so now.

During beta...

That's an untested assertion. I think we can begin at 1.17.0 as a baseline using loopback, introduce this feature after resolving the path question and potential socketpair conflicts and prove up what the performance change is.

We also are left with a great number of lingering unix sockets running the envoy test framework.

[2021-01-07 21:36] howardjohn opened #14598 "Envoy drops CDS update at high churn rate"
*Title*: Envoy drops CDS update at high churn rate

*Description*:
I have a setup where I am rapidly pushing changes to a cluster, adding and removing the transport_socket. This is a contrived setup to replicate failures that we are seeing in real world scenarios.

Most of the time this is working fine, however, occasionally I see updates being dropped.

Control plane logs
[code]

What this is sho

[2021-01-07 21:37] mattklein123 commented on #12043
Please provide a self contained repro that also repros on current main branch. There have been multiple fixes in this area and this might already be fixed.

[2021-01-07 21:38] mattklein123 commented on #14085
This is fixed.

[2021-01-07 21:38] #14085 closed

[2021-01-07 21:41] mattklein123 commented on #13232
I think this is working now.

[2021-01-07 21:41] #13232 closed

[2021-01-07 22:44] PiotrSikora commented on #14587
`:scheme` is already present and represents the downstream scheme in HTTP/2 requests, so we shouldn't have different semantics based on the downstream protocol version, especially when Envoy uses HTTP/2 pseudo-headers to represent other properties of HTTP/1.x requests (`:authority`, `:method` and `:path`).

[2021-01-07 23:35] lizan commented on #14598
I don't think we have a defined/documented behavior when a management server send two or more DiscoveryResponse to Envoy, so I suspect that is the cause. Though the ACK should indicate what is processed properly still. A simpler setup of reproducer would definitely help.

[2021-01-07 23:43] kyessenov opened #14599 "filters: use filter config name in typed_per_filter_config"
In case of the extension config is repeated twice in a filter chain, the current solution of using extension name as a lookup key for filter config overrides does not work. The proposal is to use the filter config name instead.

[2021-01-08 00:56] htuch commented on #14597
Can we guard existing behavior with runtime for at least a period of time? I agree with direction here but would like to make sure we move carefully when changing LB behaviors. In separate discussions with @antoniovicente, I think we want to make substantial changes to affinity balancing (i.e. that break hash consistency) to become new LB algorithms so that we can safely rollout and migrate.

[2021-01-08 01:04] mattklein123 commented on #14597
Yes, the plan would be to feature flag for sure.

Sorry can you clarify?

[2021-01-08 01:09] htuch commented on #14597
Let's say we modify ring hash LB and change the hash algorithm, so that a new binary rollout would not be consistent with the hashing of a previous Envoy with ring hash LB. I think the safe thing here to do would be to retain the existing algorithm and allow the fleet to flip to the new hash function once rollout completes. This could be done with a runtime flag, but it might be more convenient to

[2021-01-08 05:49] #13705 closed

[2021-01-08 07:15] Demon520-coder opened #14602 "How to set more gRPC-JSON transcoder in envoy.yaml"
In my project,We want to one port proxy two gRPC services. So I create two grpc_json_transcoder in http_filter. But when I call
the "https://192.168.5.103:8843/book.BookStore/GetBooksByAuthor?author=zzl",it responsed 404. Here is my envoy.yaml file.
[code]
Here is my book.BookStore proto file:
[code]
Is anyone can help me? Thank you very much!!!

[2021-01-08 11:48] ramaraochavali commented on #14591
+1 (3) seems like a good option

[2021-01-08 13:44] wrowe commented on #14506
Agreed @htuch - I've run the draft proposed curl#6362 through our schema in our PR https://github.com/envoyproxy/envoy/pull/14601 for the 1.17.0 milestone, and this looks
correct to me, but it's blocked on a dep-maintainter's review. Would you mind taking that
review please? If we pass it, I'll relay our success to the curl PR.

[2021-01-08 15:31] aattuluri commented on #6297
@lizan It would be great if you can share details about your set up (if not blog then some raw instructions would do). I am trying to build wasm extensions for envoy and haven't had success in debugging the envoy code.

[2021-01-08 16:04] #14506 closed

[2021-01-08 17:01] marcosrmendezthd commented on #13834
any updates on this?

[2021-01-08 17:29] mattklein123 commented on #14597
Yeah this makes sense. We should talk more about this offline to figure out the best way of handling this. We have done some hash algorithm changes at Lyft and it's pretty painful to roll out. Would be nice to do something better if possible.

[2021-01-08 18:08] howardjohn commented on #14598
Oddly I can only reproduce it in a multicluster setup. I strongly suspect its due to increased load on my machine or latency of cross-cluster messes with some subtle timing issues. unfortunately makes it a bit harder to debug

[2021-01-08 19:39] howardjohn commented on #14598
One thing I noticed when I tried to reproduce it. The behavior of "Send version B, see ACK for version B, but version_info still shows version A" also occurs if you just send a cluster with no changes but the version. So maybe its doing some diff between the two clusters, and incorrectly detecting no changes. Possibly a race where if we have versions A, B, C (where A==C), we do a diff on A and C a

[2021-01-08 19:47] wrowe commented on #13322
This is part of the #13190 roll-up issue

[2021-01-08 19:49] sunjayBhatia opened #14605 "docs: Add documentation to site for installing Envoy on Windows"
*Description*:
The Envoy site documentation should include instructions/examples for installing on Windows.

*Relevant Links*:
- See: https://www.envoyproxy.io/docs/envoy/latest/start/install#
- Child issue of: https://github.com/envoyproxy/envoy/issues/13190

[2021-01-08 19:49] sunjayBhatia commented on #13190
Cross reference child issue: https://github.com/envoyproxy/envoy/issues/14605

[2021-01-08 19:50] wrowe commented on #13596
This is an aspect of #13281 to be resolved

[2021-01-08 19:52] wrowe commented on #13322
Note specifically issue 13596 for CA path spec differences between windows and linux

[2021-01-08 19:59] wrowe commented on #13322
Note specifically issue 13964 for differences between /dev/null vs. NUL, missing /dev/ devices stdout, stderr, tty, console

[2021-01-08 20:01] qiwzhang commented on #14602
Did you use POST in your HTTP call?

Instead of using two grpc_trasncoder filter,  if you can combine your two services into one descriptor file and `services` is a repeated field what you can specify both services.  In this way, you only need to use one filter.

[2021-01-08 20:03] howardjohn commented on #14598
I think I could prove ^ with upstream:debug and looking for a log like `debug   envoy upstream  cds: add/update cluster 'outbound|80||echo.default.svc.cluster.local' skipped`, if I am reading the code right

[2021-01-08 20:21] sunjayBhatia commented on #14605
cc @envoyproxy/windows-dev

[2021-01-08 20:28] rgleme opened #14606 "Issues with route timeout configuration"
Hello

I am trying to set my route timeout to use 60s value:

              routes:
              - match:
                  prefix: "/"
                route:
                  cluster: load_balancer_3
                  timeout: 60s
                  idle_timeout: 60s

Envoy version: v1.16.2

Although, when I am receiving its response... I am getting 15s default value

* We are completely uploade

[2021-01-08 20:37] sunjayBhatia opened #14607 "docs: Add documentation to API fields for which Windows values/usage may differ, be disabled, etc."
*Description*:
Fields in Envoy's API that may have platforms specific values or usage or are related to features disabled on Windows should be documented as such.

*Relevant Links*:
- e.g. https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/socket_option.proto.html#config-core-v3-socketoption the `buf_value` field may have different padding/byte order requirements etc. between platfo

[2021-01-08 20:39] sunjayBhatia commented on #14607
cc @envoyproxy/windows-dev

[2021-01-08 20:39] sunjayBhatia commented on #13190
cross reference child issue: https://github.com/envoyproxy/envoy/issues/14607

[2021-01-08 21:43] baojr opened #14610 "HTTP health check filter depends on stats"
*Title*: *HTTP health check filter depends on stats*

*Description*:
The [HTTP health check filter](https://github.com/envoyproxy/envoy/blob/d7b10e8d1e782e7284e2cb7e4a83b6525b6a8f05/source/extensions/filters/http/health_check/health_check.cc#L146-L166)  relies on the presence of the following stats: `membership_total`, `membership_healthy`, and `membership_degraded`. Running a configuration that f

[2021-01-08 22:15] antoniovicente commented on #14597
I assume efficiency improvements to hash balancers to involve the introduction of new types.  Changing the algorithm used via config would be a big challenge since it would likely break a lot of things during the time the config in production hasn't fully converged to the new state.

[2021-01-08 22:47] wrowe commented on #13539
After discussing with deps maintainers, it doesn't seem this is much of a showstopper... PR 14603 still needs work to unwind the layers of the onion which have happened since moonjit support was introduced.

Looking at other discussions, there's also the question of whether modern Lua 5.4 or the OpenResty/LuaJIT2 fork are appropriate alternatives to the very old (but now somewhat again maintained)

[2021-01-08 23:19] anvega opened #14614 "SPIFFE and Envoy to achieve cross-cluster mTLS where every cluster utilizes an independent SPIFFE trust domain"
*Title*: SPIFFE and Envoy to achieve cross-cluster mTLS where every cluster utilizes an independent SPIFFE trust domain.

*Description*:
There is a strong desire from the community for the ability to use SPIFFE and Envoy together to achieve a “Federated Identity and Authentication scheme” in which each of multiple cluster manages its own SPIFFE trust domain. This is of particular importance for cr

[2021-01-08 23:38] mattklein123 commented on #13834
I thought someone might have added this but I don't see it. Seems like a reasonable request to me. cc @alyssawilk

[2021-01-08 23:39] mattklein123 commented on #14610
cc @jmarantz another one of these. If you are looking for another slog project this general topic would be a good one to go after. :)

[2021-01-08 23:56] howardjohn commented on #14598
I think I have the proof:
[code]

You can see we accept v47, then we skip updates and say we accept v48.

The config_dump shows v47 still.

So my best guess of order of events is:

* We send cluster v46, with config hash X
* We call addOrUpdateCluster for v47, with config hash Y
* Check the hash of v47 compared to current cluster, X!=Y, its changed so we continue (https://github.com/envoyproxy/env

[2021-01-09 00:01] jmarantz commented on #14610
Heh. I don't think this is much of a slog; it's just a question of whether we think it's worthwhile to pursue https://github.com/envoyproxy/envoy/pull/14120 .

[2021-01-09 00:26] snowp commented on #14599
Might be a dupe of https://github.com/envoyproxy/envoy/issues/12274 ?

In general this makes sense to me, just wondering if there is any problem with making this change in terms of compatibility. Maybe we'd try the filter config name first then fall back to the extension name?

[2021-01-09 07:06] garysdevil opened #14617 "used "Hot restart Python wrapper", but run failed"
I used "Hot restart Python wrapper" according by  https://www.envoyproxy.io/docs/envoy/latest/operations/hot_restarter#operations-hot-restarter

user: root
error: "PermissionError: [Errno 13] Permission denied"
![image](https://user-images.githubusercontent.com/41293784/104085656-1bc92c00-528c-11eb-9be0-b7f594cd8cd5.png)

![image](https://user-images.githubusercontent.com/41293784/104086290-93e620

[2021-01-09 14:53] ynqa commented on #7974
To count the assignments for endpoints can understand the simple load balancing algorithm such as random, round-robin, but others are difficult to grasp the behaviors.

[2021-01-09 17:56] moderation commented on #14174
Not stale. We still need to work through the patch issues and bump /cc @wrowe

[2021-01-09 18:09] chaoqin-li1123 commented on #14320
The next step will be adding the try macros into the codebase and also some examples to demonstrate its use.
#define envoy_try \\
  ASSERT(Thread::MainThread::isMainThread()); \\
  try
But currently the implementation of main thread verification utility is tightly coupled with thread local instance. How do we make the main thread checking work with unit test? Providing a fake thread local instance

[2021-01-09 18:12] chaoqin-li1123 commented on #14320
We can also remove exception from parseInternetAddressAndPort(https://github.com/envoyproxy/envoy/blob/659f2ea4e404dd3227eeac02766622951013ed6a/source/common/network/utility.cc#L206), parseInternetAddress(https://github.com/envoyproxy/envoy/blob/659f2ea4e404dd3227eeac02766622951013ed6a/source/common/network/utility.cc#L140). Both interfaces take ip string as input and return shared_ptr to an insta

[2021-01-09 18:55] minbaev opened #14618 "Configure path header for envoy ratelimiting"
I'm trying to use envoy ratelimiting functionality and need to ratelimit based on the entire url in my request, e.g. https://myenvoy.com/path/to/smth

Here is a part of my envoy.yaml
[code]
When I run
[code]

The above configuration creates descriptor value **/path/to/smth** whereas I would like to have descriptor of value **https://myenvoy.com/path/to/smth**

Is it possible to configure that with

[2021-01-09 19:26] minbaev commented on #14618
- {request_headers: {header_name: "host", descriptor_key: "host"}} does the job,
then it has to be combined with path descriptor on the ratelimiting service

[2021-01-09 19:26] #14618 closed

[2021-01-10 00:23] #13492 closed

[2021-01-10 04:02] moonming commented on #13307
@nic-chen Any progress?

[2021-01-10 07:02] hazelnutsgz opened #14619 "CPU affinity problem"
I was wondering is there any feature/API that could bind the worker to a dedicated CPU? Something like code in ```tools/perf/bench/epoll-wait.c```
[code]

Thanks~

[2021-01-10 11:39] terorie commented on #14542
I'll have a go at fixing this today if you don't mind.

[2021-01-10 19:18] terorie opened #14621 "Feature Request: JSON-RPC support"
*Title*: *JSON-RPC over HTTP support*

*Description*:

JSON-RPC is a light-weight, transport-agnostic remote procedure call (RPC) protocol. The most common transport protocols are HTTP and WebSockets, and sometimes TCP and Unix domain sockets.

JSON-RPC is commonly used to provide remote access to management interfaces. It is particularly prevalent with cryptocurrency P2P clients, being the primar

[2021-01-10 20:55] kev1n11 opened #14622 "FR - Ability to log headers from authorization response *without* forwarding to upstream service"
### Description
Using Envoy as a front proxy and its access logs is the most important logs. Would be nice if there's a way to log response headers from the External Authorization Server *without* forward that to the upstream service.

Currently, the work around is
- add `allowed_upstream_headers`, say `foo-header` as per https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/e

[2021-01-10 21:59] wrowe commented on #14174
Yes, we need to work through this. Google has been less than helpful in explaining how I can rearchitect this, @htuch, as a bazel select. But there is no reason not to simply port the patch and bump to the new release and solve that issue later to drop the patch, it can't be cured upstream without v2.

[2021-01-10 22:25] mattklein123 commented on #14619
I don't believe we have this today but could be useful. cc @rojkov @jmarantz

[2021-01-10 22:26] mattklein123 commented on #14610
I'm of too minds. On one hand, it seems like a reasonable workaround to this problem, but it's also still playing whack a mole. I'm not sure what the best solution here is tbh.

[2021-01-10 22:39] jmarantz commented on #14619
To answer the question, I don't think there's a current feature in Envoy that would enable you to manually bind workers to cores.

I am assuming you are suggesting this because you see some potential for performance improvement relative to the automatic assignments done by the CPU/OS for some workload.

Here are some possible complexities with this path:
 * watchdog & main threads need to land som

[2021-01-10 22:49] williamsfu99 commented on #14153
Update - rejected the attached PR because authorizing groups should not happen at an authentication step. To unblock you, however, you could use a combination of the [JWT filter](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/jwt_authn/v2alpha/config.proto) and the [ext_authz filter](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/ext_authz/v2/ext_authz

[2021-01-10 22:53] williamsfu99 commented on #14542
@terorie
Thanks so much for raising this issue and providing so much detail! I don't mind - let me know if you need me to review or to submit a PR - I have time today.

[2021-01-11 00:53] jmarantz commented on #14610
One other that I just thought of is to add pattern-based overrides into the matcher system. This has the advantage that the complexity stays purely in the stats-matcher infrastructure, rather than bleeding into the API.

The disadvantage of that is that the patterns might be a little imprecise and potentially force-enable unrelated stats. But enabling a few extra stats might not catastrophic.

WDY

[2021-01-11 01:39] terorie commented on #14542
@williamsfu99 Thanks for your quick response and helping me with this. I would appreciate a look at #14625. I'm very new to Envoy, so if the code isn't any good, feel free to submit your own PR. In the meantime, I'm going to add tests later today.

[2021-01-11 02:41] htuch commented on #14597
@antoniovicente how would you suggest changing the algorithm (or version of the algorithm)? Is there some way to do this in production that wouldn't involve some period of inconsistency?

[2021-01-11 02:51] htuch commented on #14174
I think https://github.com/envoyproxy/envoy/issues/14174#issuecomment-737588366 explains the existing situation around select fairly clearly; you simply can't perform a select operation on a macro argument when the macro is consuming the value (e.g. where you do `str` and condition on it). You can do either a rule or figure out some way to select condition on the value passed directly to a rule.

[2021-01-11 03:06] htuch commented on #14320
It doesn't make sense to verify this behavior in unit tests, I think you would want a condition that only enforces when we are actually in an environment built via a server instance. I agree on IP address parsing; this is an example of a utility that can easily start as being control plane only and then end up in use on the data plane.

[2021-01-11 03:37] chaoqin-li1123 commented on #14320
we can have something like
ASSERT(Thread::threadingOff() || Thread::MainThread::isMainThread());
Thread::threadingOff() will return true by default before we initialize a thread local instance.  The main thread id is verified only after a tls instance is initialized.
Or we can use \#ifdef to avoid its inclusion in unit test by preporocessor?
The former solution makes more sense to me because it is

[2021-01-11 03:44] jmarantz commented on #14320
Why do you need to disable thread-id checking in unit tests? At least if you are checking that the thread you are in matches the thread ID of the main dispatcher, that would be true in unit tests.

[2021-01-11 03:44] garysdevil commented on #14617
Resolvd:

[2021-01-11 03:45] #14617 closed

[2021-01-11 03:45] garysdevil commented on #14617
chmod 744 start_envoy.sh

[2021-01-11 03:45] luxurine opened #14626 "double-proxy with mtls and route by domain name"
*Title*: *double-proxy with mtls and route by domain name*

*Description*:
These are two envoy proxy for different cluster to proxy raw tcp svc, like redis and mysql.
frontend envoy will have two port  listening (16379, 13306), acting as virturl svc for redis and mysql.
backend envoy will have only one port 10001 listening, acting as general proxy, and use tls domain name to indicate which svc to

[2021-01-11 03:46] htuch commented on #14320
I guess this is true; my main concern is that if we have any thread checking that needs to verify we are in worker threads, then this wouldn't make sense in unit tests, but given the logic we want to check here is that we are on the main thread, that could work.

[2021-01-11 03:52] chaoqin-li1123 commented on #14320
Because some unit tests doesn't have a dispatcher and a thread local instance, and main thread singleton is initialized in the constructor of tls instance. (https://github.com/envoyproxy/envoy/blob/40c44e5bffdfe4dbf86dcaa67bed353473bdf196/source/common/thread_local/thread_local_impl.h#L22)
At least with the current implementation, that couldn't work.

[2021-01-11 03:56] jmarantz commented on #14320
Can you give a specific example of a unit-test that lacks the context needed for this test? We should be able to inject the right context somehow.

Your code example `ASSERT(Thread::threadingOff() || Thread::MainThread::isMainThread());` indicates a reliance on globals/singletons/implicit state. I think you'll have an easier time thinking about this if you are not referencing global state but inst

[2021-01-11 04:02] chaoqin-li1123 commented on #14320
For example, in a utility test, there is no main dispatcher.
(https://github.com/envoyproxy/envoy/blob/40c44e5bffdfe4dbf86dcaa67bed353473bdf196/test/common/network/utility_test.cc#L40)
ASSERT(Thread::MainThread::isMainThread()); will fail because it has not been initialized,

[2021-01-11 04:02] hazelnutsgz commented on #14619
Really appreciated replies from you guys. I haven't conduct the systematic benchmarking yet.

Actually what I did(I knew it is not convincing lol) is that I wrote a multiple-thread epoll proxy(with reuseport enabled, each thread serving for all potential ports) FROM SCRATCH, and did observed the performance gap concerning CPU binding.

Makes a lot of sense, I would take it.

[2021-01-11 04:05] chaoqin-li1123 commented on #14320
A tls instance has to be constructed for the assertion to pass. I agree that we can inject something in this case, I am still thinking about it.

[2021-01-11 04:13] jmarantz commented on #14320
IMO you should avoid `ASSERT(Thread::MainThread::isMainThread())` as a
pattern, precisely because it creates non-obvious dependencies on
initializing the threading system before running the tests.

Are you implying that we need to have this thread-checking in `
Utility::hostFromUdpUrl`? Why do we need checking for threads in what looks
like an algorithmic function?

If that algorithmic function is

[2021-01-11 04:25] chaoqin-li1123 commented on #14320
This may not be a perfect example because a worker thread is not going to parse a udpaurl. I guess we may want to check the thread id when threading is on and an exception will be thrown. We want to remove exception from the data plane, that's why we want to do the checking. This is an algorithmic function, but some algorithmic functions can be involved and throw exceptions in worker thread, which

[2021-01-11 04:27] chaoqin-li1123 commented on #14320
To provide some context, we want to replace
try
with
ASSERT(isMainThread); try {
So that all exceptions are thrown in main thread.

[2021-01-11 04:43] jmarantz commented on #14320
Actually do you need to assert that you are on the main thread at all the places exceptions are *thrown*? That might be hard because library functions can throw.

Instead maybe you could assert main-thread at all places excepts are *caught*. There are probably be fewer of them, and maybe they'll have enough context to access the dispatcher. WDYT?

[2021-01-11 04:57] chaoqin-li1123 commented on #14320
I see your point. Many library functions don't have enough threading context, but there may be enough context where the exceptions are caught. Actually I don't want to assert in all the throw, I plan to assert in all the try, I guess that is almost equivalent to "assert main-thread at all places excepts are caught". I will do some investigation to see whether we have the necessary context in all t

[2021-01-11 07:58] ikingye opened #14627 "[lua filter] response body can be REST while request body can not"
*Title*: *response body can be REST while request body can not*

*Description*:

## Original

[code]

[code]

## Can change response body

I can set response body with
[code]

[code]

the result is:
[code]

## Can NOT change request body

[code]

[code]

[code]

## envoy.yaml

[code]

[2021-01-11 08:30] NomadXD commented on #13877
@alyssawilk @mattklein123 Right now I'm kinda tight on my timeline of the current project I'm doing. So I'm gonna just create a function to decode the byte stream and read the op code to decide the frame type. But I would love to contribute to that when I get some free time and if you give some tips to start with. Thanks

[2021-01-11 08:39] rojkov commented on #14619
It would be interesting to see how much perf gain could be achieved with thread pinning vs process pinning with `taskset` within the same NUMA node. If your work load is orchestrated with Kubrenetes the latter can be configured with a topology aware kubelet.

[2021-01-11 09:07] nic-chen commented on #13307
we have supported plugins:
* [redirect](https://github.com/api7/envoy-apisix/blob/master/docs/plugins/redirect.md): URI redirect.
* [referer-restriction](https://github.com/api7/envoy-apisix/blob/master/docs/plugins/referer-restriction.md): Referer allowlist.
* [uri-blocker](https://github.com/api7/envoy-apisix/blob/master/docs/plugins/uri-blocker.md): Block client request by URI.
* [ip-restrictio

[2021-01-11 09:30] ikingye commented on #14627
I don't see any different ops for RESPONSE here https://github.com/envoyproxy/envoy/pull/13172/files

[2021-01-11 10:03] wbpcode commented on #14627
In fact, Lua filter work fine for both decoding and encoding. But there is a slight error in your script.

[code]

[2021-01-11 11:12] #14627 closed

[2021-01-11 14:31] jmarantz commented on #14610
I thought of another option, which would be a lot of toil to implement, but might be easier to maintain: to disallow reading the `value()` of a stat from production code.

There are a few hurdles to doing this:
 * legit uses of reading `value()` from stats in production, such as in the implementation of stats sinks and the admin console, where it's expected behavior for those to just return 0 if t

[2021-01-11 15:34] htuch commented on #2763
For posterity, I'd like to note some outcome of a recent discussion around why admin endpoint is sometimes opened more widely than it should. Some users are making use of the Prometheus stats endpoint (https://www.envoyproxy.io/docs/envoy/latest/operations/admin.html?highlight=prometheus#get--stats-prometheus) for exposing out Envoy stats. Unfortunately, due to the lack of fine-grained access cont

[2021-01-11 15:45] akonradi commented on #12759
/assign @akonradi

[2021-01-11 15:45] htuch commented on #13542
@phlax do you have an example repro for this? Happy to dive into this one.

[2021-01-11 15:46] juanvasquezreyes commented on #14153
@williamsfu99  thank you for the update, it wasnt only for groups could be for anything in the token

Also adding JWT filter makes another call to authorizator and using ext_authz_filter needs another container to just do the validation

That's why I was thinking just one call could do everything, also I'm trying to implement this using contour in kubernetes, so adding these 2 extra steps doesnt s

[2021-01-11 15:50] JonathanO opened #14630 "Redis cluster never removes hosts that are PENDING_DYNAMIC_REMOVAL"
*Description*:
When a host is removed from a Redis cluster, and health checks are enabled, then the host will remain in PENDING_DYNAMIC_REMOVAL even after it fails health checks.

A test for this bug can be found (commented out) in this commit: https://github.com/envoyproxy/envoy/pull/14483/commits/cc8729f9bcd219bc8f016f21d90f086e63e02b39

It seems likely that this is also true of the strict DNS c

[2021-01-11 16:00] snowp commented on #14621
Seems fine to me if someone is willing to do the work and a maintainer wants to sponsor the extension, I imagine this would just be a fairly simple HTTP filter that parses the request/response to set some dynamic metadata for use with ext authz or RBAC.

Marking as help wanted, though let me know if you're interested in tackling this.

[2021-01-11 16:19] rgs1 commented on #14133
Related: https://github.com/envoyproxy/envoy/pull/14432#issuecomment-758004199.

[2021-01-11 16:24] salrashid123 opened #14631 "Document External Processing Filter is unimplemented"
Doc bug:

[External Processing Filter](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/ext_proc/v3alpha/ext_proc.proto#external-processing-filter)  docs have boilerplate text

[code]
but doesn't seem to be implemented at all (its just a commit of the proto):

https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/http/ext_proc/ext_proc.cc

---

suggest

[2021-01-11 16:37] alyssawilk commented on #14587
If filters use scheme, there's going to be issues where it means something different to upstream filters (where currently it would indicate upstream transport security) vs downstream filters (where it would be the downstream scheme if it exists, otherwise indicate downstream transport security).  This extra complexity is not present for :method or :path, which is why I would like to put some thoug

[2021-01-11 17:19] mattklein123 commented on #6580
I'm not sure of current status. This issue is pretty old so my preference would be to assign an owner and do a fresh pass if we are going to keep this open.

[2021-01-11 18:08] htuch commented on #14631
@gbrail can you make the implementation status clearer?

[2021-01-11 18:13] howardjohn commented on #13504
Any updates on this? cc @mandarjog this logs 1x per concurrency at startup

[2021-01-11 18:22] htuch commented on #14606
There are multiple timeouts that interact with the request lifecycle, see https://www.envoyproxy.io/docs/envoy/latest/faq/configuration/timeouts.html. You're probably encountering the default `timeout` which is 15s.

[2021-01-11 18:24] htuch commented on #14614
Assigned to @lizan for triage.

[2021-01-11 18:46] rgleme commented on #14606
Hello Htuch

Yes, probably I am encountering default timeout. But inside my route configuration, I am using the "timeout" parameter

          routes:
          - match:
              prefix: "/"
            route:
              cluster: load_balancer_3
              timeout: 60s
              idle_timeout: 60s

[2021-01-11 18:50] NomadXD opened #14632 "Envoy SSE(Server-sent events) support"
*Title*: *Envoy SSE(Server-sent events) support*

*Description*:

[2021-01-11 19:50] htuch commented on #14632
See https://www.envoyproxy.io/docs/envoy/latest/faq/configuration/timeouts.html for timeout advice. You probably want a HTTP filter.

[2021-01-11 19:52] htuch commented on #14622
@dio thoughts on how best to do this?

[2021-01-11 19:56] htuch commented on #14626
It's hard to see what's going on without further debug details, do you have `-l trace` logs on both proxies during a request and the `/stats` admin endpoint?

[2021-01-11 21:21] kyessenov commented on #14599
Indeed, this is a dupe.

[2021-01-11 21:21] #14599 closed

[2021-01-11 21:39] alexandru-ersenie commented on #14523
Hey,
i am facing a similar problem and i cannot get the end of it.

So this is my config right now. My expectation is that all requests on /products will be dropped, unless they are GET requests.

But this doesn't work, and i have tried pretty much everything. It is also funny that i do not get any stats regarding RBAC. It is almost as it would ccompletely ignore my rbac config

Would you please t

[2021-01-11 21:43] mattklein123 commented on #14587
Yeah that's a good point that we swap `:scheme:` when we proxy upstream. Can we just clearly document that matching shouldn't be done on `:scheme` and it should be done on forwarded proto?

[2021-01-11 21:50] mattklein123 commented on #14610
So I agree ^ is probably the correct solution, as it would actually fix the problem for real versus still having to play whack a mole all the time. I'm not sure if it's worth the effort vs. just fixing issues as the come up.

WDYT?

[2021-01-11 23:21] mattklein123 opened #14639 "envoy.reloadable_features.consume_all_retry_headers deprecation"
Your change #11913 (router: consume all retry related headers) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.
cc @numerodix

[2021-01-11 23:21] mattklein123 opened #14640 "envoy.reloadable_features.disallow_unbounded_access_logs deprecation"
Your change #11072 (grpc: adding limits to outbound buffered data for google-gRPC access logs) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-01-11 23:21] mattklein123 opened #14641 "envoy.reloadable_features.early_errors_via_hcm deprecation"
Your change #11714 (http:: sending http/1.1 errors via HCM) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-01-11 23:21] mattklein123 opened #14642 "envoy.reloadable_features.enable_dns_cache_circuit_breakers deprecation"
Your change #11028 (dynamic_forward_proxy: DNS Cache circuit breaker) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-01-11 23:21] mattklein123 opened #14643 "envoy.reloadable_features.fix_upgrade_response deprecation"
Your change #10615 (http: fixing upgrade response bug) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-01-11 23:21] mattklein123 opened #14644 "envoy.reloadable_features.fix_wildcard_matching deprecation"
Your change #11921 (tls: improve wildcard matching) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-01-11 23:21] mattklein123 opened #14645 "envoy.reloadable_features.fixed_connection_close deprecation"
Your change #10957 (http: fixing connection close behavior) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-01-11 23:21] mattklein123 opened #14646 "envoy.reloadable_features.http_default_alpn deprecation"
Your change #10812 (http: make it possible to match upstream alpn with selected protocol) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-01-11 23:21] mattklein123 opened #14647 "envoy.reloadable_features.listener_in_place_filterchain_update deprecation"
Your change #10662 (listener: in place filter chain update) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-01-11 23:21] mattklein123 opened #14648 "envoy.reloadable_features.preserve_query_string_in_path_redirects deprecation"
Your change #11493 (feat(router): keep query string by default for redirects) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.
cc @knight42

[2021-01-11 23:21] mattklein123 opened #14649 "envoy.reloadable_features.preserve_upstream_date deprecation"
Your change #11132 (http conn man: default preserve_upstream_date to true, add runtime guard) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-01-11 23:21] mattklein123 opened #14650 "envoy.reloadable_features.stop_faking_paths deprecation"
Your change #11048 (http: pathless CONNECT) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-01-11 23:21] mattklein123 opened #14651 "envoy.reloadable_features.strict_1xx_and_204_response_headers deprecation"
Your change #11458 (http1: do not add transfer-encoding: chunked to 1xx/204 responses) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-01-11 23:58] markdroth opened #14656 "API: router HeaderMatch "present_match" field is a bool but value is ignored"
The HeaderMatch [present_match field](https://github.com/envoyproxy/envoy/blob/748a9009e840c4f8da3a4021aa33f81d68712d8f/api/envoy/config/route/v3/route_components.proto#L1857) is a boolean field, but Envoy does not actually use the field's value at all -- if the field is present in the `oneof`, then it [unconditionally matches if the header is present](https://github.com/envoyproxy/envoy/blob/e80b

[2021-01-11 23:58] numerodix commented on #14639
I'm happy to take this one.

[2021-01-11 23:59] mattklein123 commented on #14639
@numerodix please do, thanks!

[2021-01-12 00:33] loganstellway opened #14657 "Ingress Proxy for Docker Compose Services"
## Question
Do all linked Docker services need to be built from the `envoyproxy/envoy` base images to facilitate a connection?

I see in the [front-proxy example](https://github.com/envoyproxy/envoy/tree/master/examples/front-proxy) that the linked [Flask services](https://github.com/envoyproxy/envoy/blob/master/examples/front-proxy/docker-compose.yaml#L16-L18) are built on top of the Envoy image

[2021-01-12 00:42] koustubh25 opened #14659 "Envoy responds with a 404, when using tlscontextmatchoptions"
*Title*: *TLS client certificate validation on a per route basis*

*Description*:
https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route_components.proto#envoy-api-msg-route-routematch-tlscontextmatchoptions
When using the `presented` and `validated` flag for verifying client certificate, envoy responds with a 404, while when I use  `require_client_certificate: true` in `DownstreamT

[2021-01-12 01:02] howardjohn opened #14661 "Empty connection debug logs"
*Description*:
I am seeing logs like this:
[code]

It seems like empty logs are probably not intended.

Envoy commit: ebdcf7cc28dfeb555a957096231fdec343de4709

*Repro steps*:
This is being triggered on connection failures

[2021-01-12 03:47] cgetzen opened #14663 "Shuffle Shard Load Balancer Proposal"
Previous discussions: [mailing list](https://groups.google.com/g/envoy-dev/c/d6LyDJyqF58) and [PR](https://github.com/envoyproxy/envoy/pull/14655).

As requested, a [google doc](https://docs.google.com/document/d/1rHeOwQJW3xRnWmK-MG8PgncPpJTfWFVxCLaZ4T1KIpE) to start gathering options. Please feel free to contribute options, fill in pros/cons, or make comments on the doc.

Lattice Shuffle Shard: h

[2021-01-12 04:11] htuch commented on #14656
I would argue (1) is fine, CC @gumpt @mattklein123

[2021-01-12 05:00] kyessenov opened #14664 "local rate limit: add descriptors to network rate limiting"
Continue the work in https://github.com/envoyproxy/envoy/pull/14588 and extend to network rate limiting filter.

[2021-01-12 05:45] knight42 commented on #14648
@mattklein123 Thanks for letting me know! I will file a PR to remove the old code path later this day.

[2021-01-12 06:41] lizan commented on #14614
This makes sense. My idea during my discussion with @anvega is that we:
- Making an extension point into certificate validation
- Add an extension to support this custom validation for SPIFFE trust bundle, to select correct trusted CA from URI.

WDYT? @ggreenway @PiotrSikora @asraa

[2021-01-12 09:36] ramaraochavali commented on #14661
I also observed this and found a possible place where it can happen. Let me fix that

[2021-01-12 11:50] jchauncey opened #14667 "Build changes between 1.16 and 1.17?"
I am seeing issues when building the new 1.17.0 release - https://gist.github.com/jchauncey/9b03ca742b050637b69a2c8ab01fa750

Our CI didnt have any issues with the latest 1.16 release in December, so was wondering if anything has changed before I start digging deeper into this.

[2021-01-12 12:50] jotak commented on #14074
Hi,
I'm wondering the same thing. Would it make sense to have client-side spans in error for 4xx, and not server-side spans?

[2021-01-12 15:28] #14661 closed

[2021-01-12 15:30] htuch commented on #14657
@phlax could you help out with this question? Thanks.

[2021-01-12 15:44] ppadevski opened #14670 "cluster manager init takes minutes due to slow DNS and STRICT_DNS behaviour"
I noticed recently that cluster manager init can take quite some time. For example here it takes 3+ minutes

`2020-11-10T16:53:13.792Z info envoy[44013] [Originator@6876 sub=upstream] cds: add 109 cluster(s), remove 1 cluster(s)
...
2020-11-10T16:53:13.943Z info envoy[44013] [Originator@6876 sub=upstream] cds: add/update cluster '/'
2020-11-10T16:56:58.923Z info envoy[44013] [Originator@6876 sub=u

[2021-01-12 16:07] #11308 closed

[2021-01-12 19:11] #13544 closed

[2021-01-12 19:23] mattklein123 commented on #14656
I think this is just a bug in that the field is missing a validation that forces it to always be true (which is a pattern we have elsewhere versus using Empty but is semantically the same). I don't have a strong opinion. I think (1) is fine, or we can just add a force true validation to the proto which IMO doesn't require a deprecation because it was probably the implied mode of operation.

[2021-01-12 19:41] esmet commented on #14622
I think the most straightforward way to do this is to use a gRPC authorization service and return `dynamic_metadata` in the CheckResponse and log that in your access logs using `DYNAMIC_METADATA(...)`.

Is using a gRPC service an OK option for your use case?

[2021-01-12 19:52] markdroth commented on #14656
Using a bool with a validation that forces it to be true seems like an anti-pattern to me.  I think that someone reading the API should be able to understand the semantics from the type, and bool implies that there are two possible values, not just one.  I think that using `Empty` is much cleaner for this kind of case.

Anyway, if we all think that (1) is fine, then let's just go with that.  Thank

[2021-01-12 19:54] esmet commented on #14622
@htuch / @dio I'm happy to take this if the ask evolves into adding dynamic metadata to HTTP-only responses (or something similar).

[2021-01-12 19:58] mattklein123 commented on #14656
I think you are right, but for better or worse that is not what has been done so far.

[2021-01-12 19:59] ggreenway commented on #14614
An extension point for cert validation makes a lot of sense to me. +1

[2021-01-12 21:34] #14360 closed

[2021-01-12 22:32] #13411 closed

[2021-01-12 22:36] markdroth commented on #14431
The current CSDS protocol is really bloated, but I guess we shouldn't break backward compatibility.  Let's just make the changes we need in the current API.  I think this includes two things:

1. We need to add a field for per-resource status.
2. We need to report two versions on a per-resource basis: the current version actually being used on the client (which corresponds to the resource contents

[2021-01-13 00:40] htuch commented on #14659
@jimini-lumox @PiotrSikora any thoughts on why the route level and TLS transport socket matchers might be inconsistent here?

[2021-01-13 00:46] htuch commented on #14667
@jchauncey which lines are you referring to in your build log? It's probably worth validating that your build environment matches https://github.com/envoyproxy/envoy/blob/master/bazel/README.md. In general we declare breaking changes in https://www.envoyproxy.io/docs/envoy/latest/version_history/v1.17.0, but this might not fully cover build.

[2021-01-13 00:49] #14640 closed

[2021-01-13 00:53] htuch commented on #14670
To me it would make sense to be able to have a per-cluster configuration to disable warming. This could be coupled with a control to permit connection picking / LB to defer until a cluster is warm. That would then allow normal route timeouts to be applied to control the process. Not sure if that's exactly what's needed, but might have a fewer moving parts than an explicit warming filter.

@snowp @

[2021-01-13 00:57] mattklein123 commented on #14670
+1. I know that @lambdai has also been looking at the general problem of "too many things need warming" and might have thoughts here.

[2021-01-13 01:23] htuch commented on #14606
It's kind of hard to tell without more config or request context. Are you sure your route matches, there are no HCM-level timeouts etc.?

[2021-01-13 01:36] htuch commented on #8567
@asraa WDYT we should do about this issue? Any update?

[2021-01-13 02:24] htuch commented on #14656
@markdroth are you signing up to adjust Envoy's behavior here? :)

[2021-01-13 02:33] htuch commented on #14622
Cool. @kev1n11 does this address your use case?

[2021-01-13 03:49] laltralt commented on #11880
Hi, Could you let me know how you solve this issue? I encountered the same issue...

[2021-01-13 05:09] lizan commented on #14667
@jchauncey I don't see any error in the gist you posted, the log seems truncated.

[2021-01-13 05:36] mathetake commented on #14126
some random related issues:
- https://github.com/bytecodealliance/wasmtime/issues/2274
- https://github.com/bytecodealliance/wasmtime/issues/1268
- https://bugs.chromium.org/p/v8/issues/detail?id=9444&q=limit%20cpu&can=2

basically I don't think it's possible for runtimes to yield back to Envoy without tweaking binary so it can do that preemptively as mentioned in the Wasmtime's issue. And "termin

[2021-01-13 06:45] vanhtuan0409 commented on #12043
I think I countered this issue in 1.17.0 when trying to develop a XDS for Envoy. Steps to reproduce:

1/ Setup environment as in: https://github.com/vanhtuan0409/sample-docker-app/blob/master/redis-cluster/docker-compose.yml
2/ Setup redis replication via running: https://github.com/vanhtuan0409/sample-docker-app/blob/master/redis-cluster/sentinel_setup.sh
3/ Running Envoy XDS: https://github.com/

[2021-01-13 07:40] karthequian commented on #14203
This can be closed. Thanks @mk46

[2021-01-13 07:40] #14203 closed

[2021-01-13 08:27] #14197 closed

[2021-01-13 08:27] #14212 closed

[2021-01-13 08:27] #14249 closed

[2021-01-13 08:27] #14285 closed

[2021-01-13 09:34] hatzhang commented on #14555
@dio Thanks. It turns out related to Header Rewrite.
I switched ingress-controller to nginx-ingress, and add the [rewrite annotations](https://kubernetes.github.io/ingress-nginx/examples/rewrite/), then it works.
`
annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2

...

path: /something(/|$)(.*)
`

[2021-01-13 09:34] #14555 closed

[2021-01-13 10:06] phlax commented on #14657
hi @loganstellway

This was done historically. Im not entirely clear why, but i think its quite confusing.

Yes, for sure.

There are quite a few examples in the sandboxes.

I think if you remove the `http2_protocol_options` setting from the envoy config it should work as expected

[2021-01-13 10:13] phlax commented on #14141
bump

[2021-01-13 10:22] phlax commented on #13542
@htuch looking through current CI it seems like there are no deprecation warnings any more, so im not quite sure exactly what the issue was here.

tracking back through, i think this ticket was created from this comment https://github.com/envoyproxy/envoy/pull/13503#pullrequestreview-506680908 - so i guess the issues fixed there would be the repro

[2021-01-13 10:46] phlax commented on #13586
bump

[2021-01-13 10:48] ppadevski commented on #14670
This would work for me.

I actually use a custom LB (fifo) and think that it would be too late there as it only has chooseHost that is called from within the router and cannot reschedule and must not block. Here's the code for reference (it is always coupled with envoy.retry_host_predicates.previous_hosts)

[code]

In any case I only shared the code as a reference. I know that it is by far not the

[2021-01-13 12:02] salrashid123 commented on #14229
@mattklein123
 could we add one of the labels to revive this?

[2021-01-13 12:22] #14215 closed

[2021-01-13 12:46] phlax commented on #14272
@Kurounin @leoq-ardanlabs the config you are using is for the latest envoy - ie post 1.16 - can you try again with the latest envoy

[2021-01-13 12:54] phlax commented on #14492
@pawanyoda can you confirm if any of the fixes/workarounds in https://github.com/docker/compose/issues/5930 resolve the issue ?

[2021-01-13 13:12] jchauncey commented on #14667
ok so the build ran again this morning and the warnings I was seeing in the output aren't there anymore but it still failed trying to create the container image. It's possible something changed on our build agents.

Before I was seeing errors like the following -

[code]

But this last run those have disappeared.

[2021-01-13 14:23] asraa commented on #8567
The last part of this is the "Remove unnecessary set##name calls for integer types"
(we generate `set##name(absl::string_view value)` and `set##name(uint64_t value)` for all headers, although there are a few integer only headers that don't need the string_view method.)

I would probably do this by splitting headers into integer only type and other type, but now that we have a req/resp split it wou

[2021-01-13 14:27] jmarantz commented on #8567
Maybe not just for the small number of integer types. But are we also generating lots of useless set##name(uint64_t...) for non-integer headers? If so, the cumulative compile overhead of ~100 useless methods in a class that's visible to probably thousands of cc files may be worth a bit of effort.

[2021-01-13 14:54] asraa commented on #8567
Did a quick count:
I only found uses for numerics in status, content-length, envoy-attempt-count.

The change is probably really small in that case, and I can give it a stab.

[2021-01-13 15:09] alyssawilk commented on #14394
Yep looking at before and after it looks like there was a change.  I see no reason to not reinstate prior behavior, especially if the new behavior is causing problems.

[2021-01-13 15:20] alyssawilk commented on #13034
Looks liket this is covered: #14472

[2021-01-13 15:20] #13034 closed

[2021-01-13 16:29] #14300 closed

[2021-01-13 17:36] Kurounin commented on #14272
@phlax Can confirm it's working properly with 1.17-latest. Thanks.

[2021-01-13 17:36] #14545 closed

[2021-01-13 17:55] kprakasam opened #14687 "Go control plane generation"
*Title*: *Go control plane generation missing v2 API*

*Description*:

What I noticed is that script copies protobufs for each `bazel query kind '("go_proto_library", "@envoy_api//...")'`  which for some reason excludes targets under `@envoy_api//envoy/api/v2/...`

I posted in slack channel no one has responded so I am creating this issue.

*Repro steps*:

[2021-01-13 18:44] alyssawilk commented on #14587
That's what I've been telling people internally.
If we think that's the proper thing to do (use x-forwarded-proto internally, serialize scheme right before encoding) I wonder if we should (very very carefully over several releases) remove scheme for http/2 to make it obvious to folks who are misusing it that they're using the wrong one?  Something like

* doc up that folks should use x-forwarded-p

[2021-01-13 18:50] hania-elayoubi commented on #14161
@mattklein123  with https://github.com/envoyproxy/envoy/pull/14462 now merged, how much closer are we to be able to accomplish the request in this issue?

Could you please point to reference syntax on how to do this in the yaml config, if it is different than the one ydh926 listed?

[2021-01-13 18:56] snowp commented on #14161
With what's merged today you should be able to trigger a skip filter action based on matching on the request headers, similar to how this test works: https://github.com/envoyproxy/envoy/blob/e53227e93b591552b3c85a63c4fb14ccc45c1c35/test/integration/integration_test.cc#L371-L393

Happy to answer any questions you might have

[2021-01-13 18:57] loganstellway commented on #14657
@phlax
That did the trick.. thank you for clearing those things up for me 🙏🏼

[2021-01-13 18:57] #14657 closed

[2021-01-13 18:58] kyessenov commented on #14222
Fixed by #14448

[2021-01-13 18:58] #14222 closed

[2021-01-13 19:00] kyessenov commented on #14126
@PiotrSikora we need "yield" in ABI, I think, for pre-emption (CPU accounting, etc), and document where to place "yields" in SDK/library (hot loops).

[2021-01-13 19:47] lidizheng commented on #14431
Sent out PR https://github.com/envoyproxy/envoy/pull/14689 to add an `error_state` field to all dynamic resources in config dump proto. The missing expressiveness in existing config dump is that if a resource has a newer NACKed version, there isn't a way to tell.

The `error_state` fields are using type `UpdateFailureState`, which already existed in `config_dump.proto`. This PR extends `UpdateFail

[2021-01-13 20:27] #14201 closed

[2021-01-13 20:47] chenrui333 opened #14690 "envoy 1.17.0 osx build failure"
👋 trying to build the latest release, but run into some build issue. The error log is as below:

<details>
<summary>build failure</summary>

[code]

</details>

Full build log is in here, https://github.com/Homebrew/homebrew-core/runs/1685628642
relates to https://github.com/Homebrew/homebrew-core/pull/68841

[2021-01-13 21:29] mattklein123 commented on #14587
I agree that ^ would be the right thing to do.

[2021-01-13 21:30] mattklein123 commented on #14229
cc @kyessenov

[2021-01-13 21:34] kyessenov commented on #14229
/assign @kyessenov

[2021-01-13 21:36] #2755 closed

[2021-01-13 21:40] alyssawilk commented on #14587
I'll take on at least some of this when I get a chance.

[2021-01-13 21:48] #11517 closed

[2021-01-13 21:50] htuch commented on #14687
@kprakasam v2 is now deprecated and will be removed at EOQ. Is there a reason to support this until then?

[2021-01-13 21:52] htuch commented on #14690
`google_com_proxy.v2.yaml` no longer exists, do you have some scripts wrapped around this that are causing an issue?

[2021-01-13 21:54] chenrui333 commented on #14690
Cool, what is the replacement for that config file?

[2021-01-13 21:56] chenrui333 commented on #14690
the build works fine, it is just the example test failed (to verify envoy function)

[2021-01-13 22:00] htuch commented on #12841
@ankatare can you verify before we close this issue that whatever is done works for cases such as https://github.com/envoyproxy/envoy/pull/14634? I.e. this should be producing v4 arguably.

[2021-01-13 22:04] htuch commented on #14690
`configs/envoyproxy_io_proxy.yaml`. Sounds like I can close this out.

[2021-01-13 22:04] #14690 closed

[2021-01-13 22:17] chenrui333 commented on #14690
thanks! I will give that config a try.

[2021-01-13 22:22] htuch commented on #14670
Yeah, we would need to block somewhere in router. I think this behavior is generic enough we could have a "block-on-cluster-warming" capability.

[2021-01-13 22:34] #14566 closed

[2021-01-13 22:46] kprakasam commented on #14687
[V2 Api](https://github.com/envoyproxy/go-control-plane/tree/master/envoy/api/v2) continue to be generated by the CI pipeline, we build envoy with our filters with our own build scripts, I am just wondering if we are missing anything out that cause this failure.

[2021-01-14 00:01] htuch commented on #12043
@ankatare can you try out this repro? Thanks

[2021-01-14 00:14] htuch commented on #14687
@kyessenov any idea?

[2021-01-14 00:56] wluo commented on #9179
I'm afraid this is still an issue in 1.17.  I do set the same redis password in both upstream cluster and downstream listener, but after redis-cli connects to envoy and even after issuing AUTH command with OK result, subsequent commands all return with NOAUTH error.  The identical config worked just fine in 1.16.  It's as if Envoy did not keep the client password or did not pass on the client pass

[2021-01-14 01:59] renana commented on #13796
I believe the root cause of this is this line: https://github.com/envoyproxy/envoy/blob/master/ci/run_envoy_docker.sh#L55
It needs to be protected by the `if is_windows` check called above. Changing this solve the build issue for me.

[2021-01-14 02:02] ankatare commented on #12841
@htuch as discussed let's open new issue on that and assign it to me. meanwhile if all ok close this issue. ( long open :) )

[2021-01-14 03:11] kyessenov opened #14696 "ecds: add support for network filters"
Implement ECDS for network filters in listeners. API added [here](https://github.com/envoyproxy/envoy/pull/14674)

[2021-01-14 03:13] kyessenov commented on #14696
QQ: from a quick glance, https://github.com/envoyproxy/envoy/blob/master/source/common/filter/http/filter_config_discovery_impl.h would work just fine for network filters. However, it would need to be templatized by factory and factory callback classes. This would make it a header-only source file. Is that a reasonable approach style-wise?

[2021-01-14 03:18] kyessenov commented on #14687
No idea. The script nukes envoy/ before copying https://github.com/envoyproxy/envoy/blob/master/tools/api/generate_go_protobuf.py#L103, and it hasn't been deleted on go-control-plane, so it must be working. Maybe it's some magic with generated_api_shadow?

[2021-01-14 04:28] #14313 closed

[2021-01-14 06:52] qinggniq opened #14697 "Add More Features to MySQL Proxy"
*Title*: *Add More Features of MySQL Proxy*

*Description*:

Currently, Envoy MySQL Proxy seems only support collecting stats. Our team wants to extend MySQL Proxy, make it support more features like *route, authentication, mirrors, fault* like *Redis Proxy*.

There are already some work/proposals of supporting MySQL relevant area in the community, see blow.  I wonder whether it makes sense of com

[2021-01-14 07:05] kurnal-volt opened #14698 "Cannot set an httpOnly cookie from python GRPC server. Envoy configs not correct?"
*Title*: Cannot set an httpOnly cookie from python GRPC server. Envoy configs not correct?

*Description*:
I am trying to set an httpOnly Authorization cookie from my gRPC python server through an envoy proxy and back to my ReactJS front-end client running grpc-web. Currently, I can send a JWT back in a response, set it into local storage, and append it onto subsequent calls using a client side gr

[2021-01-14 07:36] kurnal-volt opened #14699 "How can I make envoy send an authentication header stored in an httpOnly cookie to gRPC?"
*Title*: How can I make envoy send a cookie stored as an httpOnly to gRPC?

*Description*:
If I have a token stored in a cookie, how can I send that to gRPC as metadata? How would I configure envoy to do this?

[2021-01-14 08:26] #14291 closed

[2021-01-14 10:20] du2016 opened #14700 "add new tracer of skywalking for istio"
*Title*: *One line description*

*Description*:

envoy 1.17.0 have release,it's add a new tracer of skywalking

[optional *Relevant Links*:]

[2021-01-14 10:21] #14700 closed

[2021-01-14 10:30] bjaglin commented on #14026
Unfortunately, the leak is still present with 1.17.0.

[2021-01-14 12:16] Lynskylate opened #14702 "Add the filtering parameters of the cluster in the cluster admin interface"
*Title*: *Add the filtering parameters of the cluster in the cluster admin interface*

*Description*:

The final result is as follows
[code]

[2021-01-14 12:31] rojkov commented on #6602
Re. implementation of regex matching... I think it's possible to speed up even a linear list of matchers if to scan an input string against all the regexes used in the list at once. Here we loose the ability to craft manually an optimized list by scanning the regexes lazily, but enable HW optimizations.

RE2 has got the `RE2::Set` interface that can be used to build a single NFA out of many regexe

[2021-01-14 12:36] snowp commented on #14702
Seems reasonable to me, feel free to take a stab at it.

[2021-01-14 14:17] PiotrSikora commented on #14591
While I agree that the current message is quite confusing to the users, I think the fact that we reconnected to a control plane (possibly even a different instance than before) should be visible in logs at the default log level.

In the past, we saw errors that were a result of a reconnect to the control plane (e.g. when hash was non-deterministic), which would be extremely hard to figure out if t

[2021-01-14 14:46] #14439 closed

[2021-01-14 14:48] jmarantz commented on #14439
Let's leave this if 'closed' state for now, but we'll get a better sense about overhead once we have done some load-tests. Hopefully this completely solves the problem.

[2021-01-14 14:53] ankatare commented on #12043
@htuch sure. i will work on this repro and get back.
@vanhtuan0409 thanks for your effort.

[2021-01-14 15:30] #14641 closed

[2021-01-14 17:05] #14532 closed

[2021-01-14 17:33] kprakasam commented on #14687
All `*.pb.go` are copied from `bazel-bin/...` using targets listed by `bazel query kind '("go_proto_library", "@envoy_api//...")` however this query doesn't return any of the targets under `@envoy_api//envoy/api/v2/...`, is there any specific bazel setting cause this?

[2021-01-14 18:00] nareddyt commented on #14489
The issue seems related to https://github.com/envoyproxy/envoy/issues/13973. Unfortunately I had no luck setting those extra bazel flags, so I had to disable Ubsan for now. https://github.com/GoogleCloudPlatform/esp-v2/pull/445 and https://github.com/envoyproxy/nighthawk/issues/593 track this.

[2021-01-14 18:15] jchauncey commented on #14667
ok it looks to be me and not you. Thanks for you advice/suggestions though!

[2021-01-14 18:16] #14667 closed

[2021-01-14 18:28] kyessenov commented on #14591
I think we need some control plane identifier. The transport address (IP) is also hard to debug.

[2021-01-14 18:42] htuch commented on #13586
@lizan has made the wiki world-writable on a trial basis.

[2021-01-14 18:42] #13586 closed

[2021-01-14 18:45] htuch commented on #14696
@kyessenov if you can minimize what gets dragged into the template I think it would be good; we prefer not having massive header-only templates. E.g.. put a bunch of the shared logic in a shared base class.

[2021-01-14 18:47] htuch commented on #14697
Seems reasonable to me. @rshriram any thoughts for folks extending the filter?

[2021-01-14 18:51] htuch commented on #14698
It sounds like the cookie is sent back to the client based on what you say, as it appears in the API call response client-side, if I'm understanding what you wrote correctly. In that case, it sounds like your client is not correctly handling returned cookies; what happens if you have the client and server speak directly, without an Envoy between them?

[2021-01-14 18:52] htuch commented on #14699
This seems a dupe of #14698

[2021-01-14 18:52] #14699 closed

[2021-01-14 19:12] nareddyt commented on #14556
I will take a look next week. You can assign this issue to me.

[2021-01-14 19:27] sefaphlvn opened #14707 "v1.17 ssl.sigalgs error"
*Title*: *I got unexpected ssl.sigalgs error in version 1.17*

*Description*:
When I upgrade envoy from 1.16.2 to 1.17.0 I got this message.
Didn't have in version 1.16.2

I think this is related to **UpstreamTlsContext** because when I switch to non-ssl upstream and delete transport socket conf everything is fine

**CDS**

[code]

**Error Log**
[code]

[2021-01-14 19:28] sefaphlvn opened #14708 "Unexpected ssl.sigalgs error in version 1.17"
*Title*: *I got unexpected ssl.sigalgs error in version 1.17*

*Description*:
When I upgrade envoy from 1.16.2 to 1.17.0 I got this message.
Didn't have in version 1.16.2

I think this is related to **UpstreamTlsContext** because when I switch to non-ssl upstream and delete transport socket conf everything is fine

**CDS**

[code]

**Error Log**
[code]

[2021-01-14 19:29] #14707 closed

[2021-01-14 19:37] jhance opened #14710 "[grpc-transcoding] Transcode unknown variable bindings"
I have a use-case where I have a grpc server that is acting as a sort of proxy and needs to forward unknown variable bindings to its upstream. I plan to do the implementation but I would like to upstream this feature so that we don't have to carry forward an internal patch indefinitely and would like early feedback on the idea/implementation notes.

Currently variable bindings from path matching c

[2021-01-14 19:44] alyssawilk commented on #13834
Yeah, I agree this is reasonable, but I've got a few other things in my queue so I'll leave it as help wanted for now.

[2021-01-14 19:47] htuch commented on #14708
See https://www.envoyproxy.io/docs/envoy/latest/version_history/v1.17.0:

CC @PiotrSikora

[2021-01-14 19:52] jhance commented on #14710
Suggestion by @euroelessar that I also like: We can place this in `HttpBody` instead.

[2021-01-14 20:31] sefaphlvn commented on #14708
Thank you

[2021-01-14 20:31] #14708 closed

[2021-01-14 20:54] #12281 closed

[2021-01-14 20:59] PiotrSikora commented on #14708
@htuch that's not it at all. It's a bug in #14534, fixed in #14703, and hopefully released soon in 1.171.

[2021-01-14 21:21] qiwzhang commented on #14710
My feeling is such usage is very special, it requires special codes in the grpc_transcoder filter to handle it, it may de-stabilize the code which is used by many products.  It will make the code too complicated that it is not easy to maintain.

[2021-01-14 23:07] rrichardson commented on #10489
Could this be related or is it just incidental?

I ran into this error when attempting to set the `socket_address` for a cluster of type `STATIC`

Setting an IPv6 address in socket_address.address causes this error :
[code]

[code]

Note that wrapping the address string in brackets so that it creates a correctly formed URL still fails in the same way, although the URL looks correct:

[code]

[2021-01-15 00:22] htuch commented on #6602
I think with [MatcherTree](https://github.com/envoyproxy/envoy/blob/38a6fe548c7d81216f4c8014b404bde4e8e22b2c/api/envoy/config/common/matcher/v3/matcher.proto#L100)s, it's possible to have a map from regex to next nodes. In that situation, you could build a single NFA, subject to the limits you describe.

[2021-01-15 00:27] htuch commented on #14687
I just ran the query in my tree and I see:
[code]
@kprakasam maybe this is something in your tree?

[2021-01-15 00:35] #14268 closed

[2021-01-15 01:37] vanhtuan0409 commented on #13862
May I know the status of this PR?

[2021-01-15 02:05] kprakasam commented on #14687
We use Envoy  as submodule to the filters we have, when the query is run from top level folder instead of submodule envoy folder theses targets are missing.

Anyway we need to modify `generate_go_protobufs.py` to add our own targets, when I add `@envoy_api//envoy/api/v2/...` to the list it's working.

I'll leave it up to guys to treat this as a bug or not.

[code]

[2021-01-15 04:25] #1569 closed

[2021-01-15 04:25] #12080 closed

[2021-01-15 04:25] #12453 closed

[2021-01-15 04:25] #12629 closed

[2021-01-15 04:25] #12632 closed

[2021-01-15 04:25] #12718 closed

[2021-01-15 04:25] #12768 closed

[2021-01-15 04:25] #12856 closed

[2021-01-15 04:25] #12891 closed

[2021-01-15 04:25] #12914 closed

[2021-01-15 04:25] #12916 closed

[2021-01-15 04:25] #12918 closed

[2021-01-15 04:25] #12920 closed

[2021-01-15 04:25] #12922 closed

[2021-01-15 04:25] #12965 closed

[2021-01-15 04:26] #12999 closed

[2021-01-15 04:26] #13010 closed

[2021-01-15 04:26] #13073 closed

[2021-01-15 04:26] #13388 closed

[2021-01-15 04:26] #13421 closed

[2021-01-15 04:26] #13429 closed

[2021-01-15 04:26] #13435 closed

[2021-01-15 04:26] #13441 closed

[2021-01-15 04:26] #13456 closed

[2021-01-15 04:26] #13484 closed

[2021-01-15 04:26] #13489 closed

[2021-01-15 04:26] #13510 closed

[2021-01-15 04:26] #13527 closed

[2021-01-15 04:26] #13563 closed

[2021-01-15 04:26] #13584 closed

[2021-01-15 04:26] #13602 closed

[2021-01-15 04:26] #13623 closed

[2021-01-15 04:26] #13643 closed

[2021-01-15 04:26] #13648 closed

[2021-01-15 04:26] #13670 closed

[2021-01-15 04:26] #13716 closed

[2021-01-15 04:26] #13738 closed

[2021-01-15 04:26] #13776 closed

[2021-01-15 04:26] #13795 closed

[2021-01-15 04:27] #13813 closed

[2021-01-15 04:27] #13864 closed

[2021-01-15 04:27] #13680 closed

[2021-01-15 05:30] zhuzengluu commented on #11515
Running into the same issue, does anyone know why?

[2021-01-15 08:15] phlax commented on #13167
/assign phlax

[2021-01-15 08:24] #12548 closed

[2021-01-15 08:24] #12568 closed

[2021-01-15 08:24] #12570 closed

[2021-01-15 08:28] phlax commented on #13078
Ive been looking at this again and trying to figure out how best to get this working.

Here is a quick report on progress and what i have found so far

### generating the jsonschema

i had thought that i would need to run `protoc` against each and every `.proto` file, and then mangle the output to eg set correct links

after experimenting with this further this seems to be wrong

afaict its only n

[2021-01-15 09:25] hazelnutsgz opened #14718 "EPOLLEXCLUSIVE support"
In current implementation of envoy (if no configuration for REUSEPORT), multiple working threads would share the same LISTENING fd (to do accept),

In this case, there is the thundering bird problems if EPOLLEXCLUSIVE is NOT set, like this listening fd would wake up many worker to do accept but only 1 worker would succeed.

I was just wondering why envoy haven't support EPOLLEXCLUSIVE flag, is tha

[2021-01-15 09:59] ankatare commented on #3091
@htuch url as mentioned in description is notopening.

this one: https://github.com/envoyproxy/data-plane-api/issues/351

[2021-01-15 11:56] petedmarsh opened #14720 "Increase (and/or make configurable) the maximum size of a direct response"
*Title*: Increase (and/or make configurable) the maximum size of a direct response

*Description*:

I'd like to have a direct response which is more then 4KiB in size, I completely understand the desire to be conservative with the size of direct responses (and the niceness of 4KiB aligning with common block/buffer sizes) but I have a use case where a slightly larger maximum size would be useful fo

[2021-01-15 13:05] chintan-mishra commented on #13221
There is a hack to get the `envoy` user to read the certficates.(Hint: Use `chown` and customize Envoy container)

However, after scanning a lot of posts related to Certbot and LetsEncrypt on relevant forums, this hack is not recommended. Permissions related to these files are controlled by Certbot application and the `root` user of the system.

This makes me wonder, is anyone else facing issues w

[2021-01-15 13:54] htuch commented on #14718
I'd assume this is only an issue for the actual accept event; it's generally recommended to use SO_REUSEPORT where there is any scale. CC @antoniovicente for thoughts on the libevent side.

[2021-01-15 13:57] htuch commented on #14720
This is a dupe of https://github.com/envoyproxy/envoy/issues/13422.

[2021-01-15 13:57] #14720 closed

[2021-01-15 13:59] htuch commented on #14687
Feel free to contribute a patch here. I don't see this as being a bug given that this is a helper script for projects like go-control-plane, but has no tests and isn't used as part of the Envoy build itself.

[2021-01-15 14:24] htuch commented on #3091
@ankatare not sure why that no longer works, but I think the title captures what we want here. We have a bunch of `service` definitions in `api/envoy`. These are not rendered via `protodoc` today but it would be good to have some output here to describe the gRPC and HTTP services, e.g. https://github.com/envoyproxy/envoy/blob/77d7cecb7e68cb41b2f5f7c2aa7f4294c88089ce/api/envoy/service/cluster/v3/cd

[2021-01-15 14:49] #14394 closed

[2021-01-15 16:01] kprakasam commented on #14687
@htuch

[2021-01-15 16:03] #14687 closed

[2021-01-15 16:31] akonradi commented on #11426
Not stale! #14679 implements some refactoring requested on #13800.

[2021-01-15 16:58] antoniovicente commented on #14718
For linux, I think SO_REUSEPORT probably provides the best behavior.  If it is generally available, perhaps it should be the default for listeners.

MacOS and Windows also need accept strategies that spread incoming connections evenly across worker threads.

[2021-01-15 17:45] mattklein123 commented on #14718
+1 on making this the default at this point. The only thing I'm not sure about is whether this will play well with hot restart. I know historically there have been issues here but maybe it's all fixed now in newer kernels.

[2021-01-15 17:52] antoniovicente commented on #14718
We'll have to check.  I know that a long time ago in a galaxy far away we had to drain the SO_REUSEPORT listeners in the old task before closing the listeners in order to avoid losing some connections during a transparent restart.  It's possible that newer kernels re-allocate pending accepts when an SO_REUSEPORT listen socket is closed.

[2021-01-15 19:25] ankatare opened #14725 "Build issue in windows env [error: SEH exception with code 0xc0000005 thrown in the test body ]"
*Title*: *error: SEH exception with code 0xc0000005 thrown in the test body*

*Description*:
Build issues encountered on windows env.

script running: `ci/run_envoy_docker.sh ci/windows_ci_steps.sh`
see below logs

**log file** : https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/63835/logs/53

**snapshot of issue ...see below:**

2021-01-15T03:45:13.8143580Z unknow

[2021-01-15 19:35] snowp opened #14726 "Add docs for using matching API with HTTP filters"
Unified matching is now usable for HTTP filters, so we should add proper documentation

[2021-01-15 20:27] #13625 closed

[2021-01-15 20:59] snowp opened #14727 "Support filter specific matching constraints for HTTP filters"
When creating a match tree with a HTTP filter, the match tree is completely free form. We should add support for filters to specify validation rules, e.g. "this action cannot be resolved after request headers", which would run against any match tree configured for this filter and reject the configuration if the validations fail.

The simple way of doing this would be pass every unique tree travers

[2021-01-15 21:22] mattklein123 commented on #13078
@phlax personally my feeling is that we should use bazel/python to generate the schema. I honestly think it will be faster/easier to manually write out the JSON schema as a portion of the protodoc process, since it's so closely related to the generated doc tree, documenting extensions, etc.

@htuch @lizan @adisuissa @kyessenov wdyt?

[2021-01-16 03:41] phlax commented on #13078
@mattklein123 it is my intention to use bazel, and im using python to mangle it already.

For now  tho im more interested in what bazel will produce, how well that will work in vscode, and what mangling might be required

[2021-01-16 08:24] #13347 closed

[2021-01-16 20:13] hania-elayoubi opened #14732 "Allow multiple local rate limit configurations per route or virtual host"
*Title*: *Allow setting multiple **local** rate limit configurations per route or virtual host*

*Description*:
It is useful to define rate limits for a few resolutions, for instance 50 requests/second and 1000 requests/minute for the same route or virtual host.

The **global** rate limiting API allows [multiple rate limit configurations](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/r

[2021-01-16 22:02] mattklein123 commented on #11596
Master has been renamed to main in all projects in the org. We can follow up with additional cleanups as needed in individual projects.

[2021-01-16 22:02] #11596 closed

[2021-01-16 22:17] mattklein123 commented on #13078
Cool makes sense. Looks like great progress! I agree that there are going to be data quality issues but I think that should be relatively easy to fix once we figure out the types of errors we see.

[2021-01-16 22:19] mattklein123 commented on #14732
I think this is a reasonable request. There are now more options available via https://github.com/envoyproxy/envoy/pull/14588 but I don't think it's possible yet to hit multiple limits. cc @kyessenov

[2021-01-16 22:40] phlax commented on #13078
re the dodgy renderings, im wondering if/what pre-mangling is required before feeding the file to `protoc` - eg stripping annotations

regarding `rst` renderings, i dont think there is an easy fix

one possible medium/long term fix is to replace the rst with md (imho/e md -> rst is kinda easier than the other way round)

the md could then be mangled (more easily) before being fed to vscode

[2021-01-16 22:43] phlax commented on #13078
regarding should-be-hidden fields - i guess we want to strip but rem the annotations so that they can be removed in this case

[2021-01-17 00:34] #12596 closed

[2021-01-17 00:35] #14358 closed

[2021-01-17 02:32] #14725 closed

[2021-01-17 02:32] ankatare commented on #14725
closing this bug as suggested by @wrowe in slack channel. tagging @envoyproxy/windows-dev in PR #13814

[2021-01-17 02:41] spacewander commented on #14465
Any idea about it from the Envoy maintainers?

[2021-01-17 03:52] chaoqin-li1123 commented on #14320
I have a proposal somehow related to this issue. Currently, the constructor of EnvoyException
https://github.com/envoyproxy/envoy/blob/1d1b708c7bf6efa02c41d9ce22cbf1e4a1aeec2c/include/envoy/common/exception.h#L12
takes a const string reference as argument, which means that when we pass in a string literal, like EnvoyException("error message"), a tempory string object will be constructed, and this

[2021-01-17 04:27] #14209 closed

[2021-01-17 15:30] povils commented on #8443
I don;t think this is a duplicate #7403 . This issue is requesting `max_requests_per_connection` for downstream connections not upstream

[2021-01-17 19:45] brodmerkle opened #14735 "PreviousPrioritiesConfig Type Not Found"
When trying to use the previous-priorities predicate in a retry handler, Envoy 1.17.0 is returning an invalid-type-URL error even when using the same syntax from the example included in the Envoy documentation. For example, consider the following retry handler snippet in a route:

[code]

This YAML uses the same previous-priorities configuration shown in the Envoy 1.17.0 documentation (https://www

[2021-01-17 19:47] #14174 closed

[2021-01-17 19:49] htuch commented on #14718
Unfortunately, this is a `bool` rather than `BoolValue`, so we can't flip default with the existing API, we'll have to introduce a new field to manage this.

[2021-01-17 19:52] htuch commented on #14727
@snowp do you think there is some overlap with https://github.com/envoyproxy/envoy/issues/14470? In particular, ensuring we have a consistent language / protos for expressing these properties.

[2021-01-17 19:57] htuch commented on #14735
At a quick glance, it looks like this is being configured correctly, is there anything else in the logs if you run with `-l trace`?

@snowp thoughts on configuration?
@phlax for documentation and example verification visibility.

[2021-01-17 20:12] brodmerkle commented on #14735
Not a lot that looks relevant - here for reference is some context around the error when running with trace logging (I'm running a local config.yaml that references a filesystem rds.yaml with the route definitions):

[code]
For reference our config.yaml is:
[code]
The rds.yaml is:
[code]

I can provide the cds.yaml if needed, although I don't think it's relevant here so for now I won't silt up the

[2021-01-17 20:23] #13718 closed

[2021-01-17 20:57] htuch commented on #14320
@chaoqin-li1123 probably not worth micro-optimizing, since this is the unhappy path. That said, I think we're trying to move to `absl::string_view` everywhere, and I'm guessing this probably has a cheap temporary construction, so I'd switch to that as the string reference type.

[2021-01-17 21:07] kurnal commented on #14698
@htuch Thank you for the response! Envoy is used so the ReactJS client can communicate with the Python gRPC server. Without it we would get CORS cross-origin errors. Do you know of things I should check client side to make sure a cookie is set since it is in fact making it to the response (i can see it in developer tools).

Is there something in envoy that could possible be blocking a cookie from

[2021-01-17 22:11] chaoqin-li1123 commented on #14320
Make sense. The cost of creating a tempory string is small when compared to all the stack unwinding in an exceptional scenario.

[2021-01-17 23:32] htuch commented on #13078
I think one of the killer features of RST is internal link checking. So, we need to preserve this capability in the API docs, no matter what concrete syntax we use for docs.

Re: mangling, I think `protodoc` provides already some examples of how to do things like annotation stripping (and interpretation if needed).

Re: extension points and bootstrap, this makes sense. One thing I'd keep in mind i

[2021-01-17 23:34] htuch commented on #14698
I don't see how this can be an Envoy issue if the `set-cookie` error is propagated intact to the client. Maybe this is some browser CORS/cookie/AJAX issue.

[2021-01-17 23:45] jespersoderlund opened #14736 "Support internal redirects with body to support the semantics of 307 redirects"
*Title*: Support internal redirects with body to support the semantics of 307 redirects

*Description*:
Envoy today handles internal redirects based on 3xx status codes from upstream clusters. There are a some limitation with this. While it can internally redirect 307s, it will not allow the incoming request to have a body and will fallback to return the 307 to the downstream server. Since 307s me

[2021-01-18 00:27] kylebevans commented on #125
Hi, here is the design doc: https://docs.google.com/document/d/11yEE9qk_xr8bvdQLPdEuzBM9LpuXRUseNgQIf4y20E0/edit?usp=sharing

I'll await your feedback, but again there is no rush.

[2021-01-18 01:02] htuch commented on #13542
I verified that switching back to v2 HCM in `examples/cors/backend/front-envoy.yaml ` generates a test failures with:
[code]

I'm pretty sure the set of PRs that made v2 fatal-by-default has taken care of catching these v2 cases in config validation.

[2021-01-18 01:02] #13542 closed

[2021-01-18 01:14] brodmerkle commented on #14735
FYI - I reviewed the Envoy startup output and addressed all deprecation warnings on the vague hope that one of them might be related (I was especially hopeful about adding a resource_api_version set to V3 on the rds configure_source thinking it might somehow unlock the use of v3 protos in rds.yaml), but alas none of these updates had any effect on the observed behavior.

As another test I swapped

[2021-01-18 01:45] htuch commented on #14735
I think I see the issue; the actual implementation of this extension is linking and using v2 config, rather than v3 config, see https://github.com/envoyproxy/envoy/blob/84d91264fdd96223cea8f9d2fe77150e577e43d6/source/extensions/retry/priority/previous_priorities/BUILD#L33. I'll dig into this some more tomorrow, I'm surprised we haven't caught this in tests around v2 deprecated config.

[2021-01-18 01:56] htuch commented on #14735
@ankatare in all the cases that you are adding v3 config, you need to make sure that the code consuming the new protos is also upgraded to link in these protos and accept configurations that are both v2 and v3. I'm thinking actually we probably want to not do the denylist of v2 --> v3 upgrade, but instead move this elsewhere (maybe back to denylisting v2 --> v3 upgrade exceptions). This is kind of

[2021-01-18 02:44] dio commented on #14697
Let's do this!

[2021-01-18 06:21] writeBugsOnline commented on #14417
Hello! I have been working on it for sereveral days.
I tried to use lua script in envoy   to request  a outside redis controller whitch is implemented by go.
If envoy can enbed a internal redis controller and pirovide a lua srcipt handle to manipulate it,manty thing would be much easier.

[2021-01-18 08:26] #939 closed

[2021-01-18 08:26] #1005 closed

[2021-01-18 08:26] #1446 closed

[2021-01-18 08:26] #5325 closed

[2021-01-18 10:07] yanniszark commented on #14001
This is very much still an issue!

[2021-01-18 11:57] soulxu commented on #14619
@hazelnutsgz you are going to work on this? If not, I'm interested to take a look at this issues, see what we can found.

[2021-01-18 12:43] phlax commented on #13078
so re rst/md - im struggling to ascertain how links should be formatted for vscode extensions.

vscode has support for a custom field `markdownDescription` which should handle this correctly

(at least on linux/my local machine) support for formattted descriptions in the vscode yaml adapter is patchy - it works in hover mode but not for autocomplete

i have opened a bug here - https://github.com/r

[2021-01-18 15:00] esmet commented on #14001
Let's move this to "no stale bot"

[2021-01-18 16:28] #14378 closed

[2021-01-18 17:16] ankatare commented on #12043
@vanhtuan0409 Hi, can we have quick discussion  tomorrow ? need help to understand your setup and repro this issue , really sorry for trouble. please suggest if you are good on slack ?

[2021-01-18 17:24] mattklein123 commented on #14565
cc @alyssawilk

[2021-01-18 17:25] mattklein123 commented on #14736
cc @alyssawilk

[2021-01-18 20:21] aterribili commented on #10171
any news on that?

[2021-01-19 00:37] #3238 closed

[2021-01-19 02:16] jmarantz commented on #14610
See discussion in doc: https://docs.google.com/document/d/1CnyeIi5hMBqXZRKm-0_yW3yy69HM80BHg-EGwkJb-qw/edit

[2021-01-19 07:15] qinggniq commented on #14697
I'm now developing the authentication function , but I found that currently the codec logic of connection phase is not enough to support the authentication function . So I plan to complete the codec logic first , might migrate codec logic of [mysql-proxy](https://github.com/mysql/mysql-proxy ) . Do you have any ideas about this plan ?

[2021-01-19 07:28] dio commented on #14697
@qinggniq I think that's a fair observation. Mind to break it down in a doc/issues so we can have a complete laundry list on codec? Thank you!

[2021-01-19 08:05] g0194776 commented on #2500
Any updates for on-demand EDS loading now?

[2021-01-19 08:16] dio opened #14743 "deps: Adopt patch free Chromium URL library"
When we have upstream Chromium to give us an IDN-free optional build we can adopt Chromium URL library without patching it.

Context: https://github.com/envoyproxy/envoy/pull/14583#discussion_r559660170

[2021-01-19 08:26] qinggniq commented on #14697
I am glad to do this.

[2021-01-19 13:50] alyssawilk commented on #14736
Yeah, we definitely want to support internal redirects with bodies in the long run, it's just a question of prioritization.
Some recent refactors to allow streaming retries should make this easier, but I still don't think it's on anyone's task list.  If you want to pick it up, I'd be happy to do reviews!
cc @penguingao as well.

[2021-01-19 15:43] asraa commented on #5155
I ran some perf tests and got CPU profiles from Derek's branches (direct swap in with llhttp, and an added parser factory and parser class) here: https://gist.github.com/asraa/8babd3516acd447aa0f2ff5aa61d2e19

It doesn't seem to me that there's significant overhead in adding the factory, and llhttp swap in results in some CPU time differences (IMO insignificant).

If there's anything I can do to m

[2021-01-19 15:50] #14642 closed

[2021-01-19 16:08] yanavlasov commented on #14743
I think we should first see if we can avoid the patch altogether. Chromium may not be too motivated to make this change as it is not part of their use case.

[2021-01-19 16:52] boringuy opened #14748 "Account for possible trailing dot in domain name matching"
*Title*: Account for possible trailing dot in domain name matching

*Description*:
"example.com" is the relative domain name
"example.com." is the absolute domain name
"http://example.com/" and "http://example.com./" are equivalent but when setting up the "domains" field under VirtualHosts, one needs to explicitly specify "domains: ["example.com", "example.com."]" for the match to work.
It would b

[2021-01-19 17:45] mattklein123 commented on #125
Thanks @kylebevans. Very exciting to see this being worked on. I left some comments on the doc but it definitely looks like it's heading in the right direction!

[2021-01-19 23:06] kyessenov commented on #14732
Yeah, it's only possible with descriptors. I guess we could add route name / vhost name as another rate limit action as a workaround.