[2018-01-25 14:43] htuch opened #2451 "Prefix #include of external deps with dep name"
Currently we have lines such as `#include "ares.h"` in `source/exe/main_common.cc`. This is because all external dependencies share a common global include root (e.g. `/thirdparty_build/include`). It's somewhat saner to have each dependency in its own include prefix path when remapping during site specific import of the tree, e.g. we would have `#include "external/ares/ares.h"`.

This is not parti

[2018-01-25 14:44] htuch commented on #2451
@genioshelo @mrice32 @jmillikin-stripe this came up during some recent import work where we were remapping paths. We have a simple `sed` workaround that works fine.

[2018-01-25 17:02] mattklein123 commented on #2451
I would prefer this also FWIW.

[2018-01-25 17:05] jmillikin-stripe commented on #2451
I like this also. Often in my personal projects I use cc_library options to make the imports look Go-ish, and it might be possible to use similar logic here.

Does this apply only to the "build recipe" deps, or does the same issue exist for Bazel-managed externals?

[2018-01-25 17:16] mattklein123 commented on #2450
In the current implementation Envoy sets the host header for HTTP/1.1 health checks to the name of the cluster, since health checking is distinct from service discovery. We could easily add an override for what to set host to. This is a feature request so I will mark it help wanted (it's also easy so will mark it beginner if you are interested).

[2018-01-25 17:31] relistan commented on #1537
@mattklein123 we're seeing the same issue. If you use the defaults that Envoy provides, it seems like you have to space restarts out by ten minutes. Any restart shorter than that runs into a duplicate bind on the first listener socket. After spending a huge amount of time debugging it looks like we needed to set `--parent-shutdown-time-s` and `--drain-time-s` to the same, very short, values. In ou

[2018-01-25 17:34] mattklein123 commented on #1537
@relistan we use the defaults at Lyft in production and they work fine. The problem is more nuanced. If you have a repro using current master I can take a look.

[2018-01-25 17:48] junr03 commented on #2441
ok, I will add the warning.

[2018-01-25 18:32] htuch opened #2453 "!ENVOY_HOT_RESTART does not reference count across scopes"
From code inspection, I suspect that when we disable hot restart, two distinct stats scopes will not share underlying counter allocations for same name counters, e.g. "foo.bar" in scope A will not alias "foo.bar" in scope B. This is because when `!ENVOY_HOT_RESTART` we use `Stats::HeapRawStatDataAllocator` (https://github.com/envoyproxy/envoy/blob/dceb8cb557ee6f2dae52f33385b2c08600fea8bc/source/ex

[2018-01-25 18:45] alyssawilk commented on #1537
That bind-close timeout makes me think we're not using SO_REUSEPORT, which is what we use on [other proxy] to avoid this problem.

[2018-01-25 18:47] mattklein123 commented on #1537
@alyssawilk we don't currently use SO_REUSEPORT, but we do pass sockets via UDS, so there should be no duplicate bind issue. There is some other issue going on in @relistan case.

[2018-01-25 19:20] kavyako commented on #2418
Actually we are still using the v1 APIs here so will want the range support in v1 too. I have the changes with oneof implemented for v2 APIs.
Now looking at updating the v1 config schema for this.
What is the general protocol while updating the v1 config?  Are breaking changes allowed (i.e use oneof there as well) or shall I add new fields in the config json for the range low, high and isRange and

[2018-01-25 19:27] mandarjog opened #2455 "Allow request_headers_to_add in weighted clusters"
**Allow ability to configure  %headers_to_% at weighted cluster level**

**Description**:
This gives a way to inject headers that are specific to route+weighted cluster combination.

The specific use case I am looking at is to forward `x-destination-cluster` header and some related information to the actual upstream cluster. The upstream envoy can then use `cluster_header: x-destination-cluster` i

[2018-01-25 19:31] mandarjog commented on #2455
@htuch

[2018-01-25 20:38] htuch commented on #508
FTR the following pertinent restrictions exist in oss-fuzz today:
* Single process model (https://github.com/google/oss-fuzz/blob/master/docs/faq.md#can-i-launch-an-additional-process-eg-a-daemon-from-my-fuzz-target)
* We are restricted to `/tmp` for filesystem access (https://github.com/google/oss-fuzz/blob/master/docs/fuzzer_environment.md#file-system)
* No network, including loopback (https://g

[2018-01-25 21:35] pingles commented on #2450
I’ve been looking for an excuse to try and get into a bit of modern C++ ;) Never done any professionally but will give it a try- envoy seems like a great place to start!!

Any thoughts/preferences on how to express the override?

[2018-01-25 21:55] mattklein123 commented on #508
@htuch the no network restriction is pretty unfortunate. I wonder if we could somehow fuzz/inject a fake client directly into the normal Envoy process maybe via a custom transport socket implementation?

[2018-01-25 22:05] mattklein123 commented on #2455
@zuercher can you take a look at ^?

[2018-01-25 22:16] PiotrSikora opened #2456 "Integrate with OpenCensus stats collection and distributed tracing framework"
Google just released [OpenCensus], which is (emphasis mine):

This could potentially be a replacement for all the custom tracing frameworks we support in Envoy.

cc @mattklein123 @alyssawilk @htuch

[OpenCensus]: http://opencensus.io/

[2018-01-25 22:29] htuch commented on #2455
The other alternative is to put metadata in the weighted cluster (not for match but for indicating header values), then refer to that in the standard route "requests headers to add" via a %var%.

[2018-01-25 22:43] zuercher opened #2457 "provide a format_arg function for absl::string_view"
Attempting to pass an `absl::string_view` to `fmt::format` produces a compile error. It should be possible to introduce a `format_arg` method that allows string views to be used with `fmt::format`.

c.f. http://fmtlib.net/latest/api.html#formatting-user-defined-types

[2018-01-25 23:14] mattklein123 commented on #2450
Hah. I was about to tell you to make a data-plane-api change, but it's already there, just not implemented: https://github.com/envoyproxy/data-plane-api/blob/master/envoy/api/v2/health_check.proto#L60.

You just need to implement this field which is already in the proto. The host is set here:
https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/health_checker_impl.cc#L336

So it'

[2018-01-25 23:21] mattklein123 commented on #2383
OK given no objection I'm going go ahead and make the repo.

[2018-01-25 23:24] mattklein123 commented on #2383
Closing this out. Discussion can happen in issues in the new repo: https://github.com/envoyproxy/envoy-tools

[2018-01-25 23:24] #2383 closed

[2018-01-25 23:25] mattklein123 commented on #2456
@PiotrSikora I believe that OpenCensus trace driver support is already being started. I don't see us deleting the other trace providers (at least in the near term) but would love to provide this as an option.

[2018-01-26 00:02] ufodone commented on #2436
@zuercher Do you have a preference between the two options?  Either would work for my use case but option 1 is probably a better fit.  This option also feels a little more consistent with options like `cluster_header` in `RouteAction` since both are driving upstream node selection based on headers (one to choose the cluster and the other to select a subset within the cluster).

In my use case, I'm

[2018-01-26 00:23] mattklein123 commented on #2418
@kavyako breaking changes are not allowed, so if you need v1 support the change must be additive. Please also make sure you have both v1 and v2 docs when you do your data-plane-api change. Thank you!

[2018-01-26 01:03] #2253 closed

[2018-01-26 04:43] zuercher commented on #2455
So, if you add that header value as EDS metadata on the upstream hosts, you can add a route-level header with value `%UPSTREAM_METADATA(["namespace", "metadata-key"])%` (substitute the correct namespace and key) and it'll work with the current version. (This is a slightly more concrete example of what @htuch said.)

Once #2409 lands, you could have just the version in the metadata and set the valu

[2018-01-26 04:52] zuercher commented on #2343
I think it's ok to use %. It'll probably make someone's life rough if they want to put CGI-escape values in their URLs, but they kind of get what they deserve.

Do you need arguments for the the % expressions? The original example didn't have one, but the second version did. I'd prefer the former, since the arguments are a bit of a pain.

[2018-01-26 04:55] htuch commented on #2455
This is much cleaner if it works for the Via feature in Istio. I think the doc is saying we have Envoy X that wants to speak to cluster Z. However, we want to allow Istio to inject an intermediary and bounce to Z via cluster Y, so we have X -> Y -> Z. When we send to Y, we need to convey Z in a header to Y to allow it to do the Y -> Z hop.

In the above situation, X only has cluster Y defined and

[2018-01-26 05:02] zuercher commented on #2436
I think the choice is down to performance. There are two parts:

1. Matching. I thought option 2 would avoid re-matching regexes. But in the case where you have to produce 2^N routes for N optional headers, you end up re-evaluating regexes multiple times across routes.  For the case where there's a single route has a required header (that's not repeated in another route), option 2 does have the ad

[2018-01-26 06:22] marsty commented on #2182
@krootee  use this config ,The prometheus  error  no token found,  why?

[2018-01-26 09:39] relistan commented on #1537
@mattklein123 Let me try for the simplest case I can get that reproduces it and I'll get back to you. We're running LDS, SDS, and CDS and there is definitely a timing issue somewhere. For example, if I start the proxy and immediately hot restart it with the Python script before the LDS has completed, it works every time, regardless of the `--parent-shutdown-time-s` and `--drain-time-s` settings. N

[2018-01-26 10:36] relistan commented on #1537
Well, after some testing, on the current latest Docker image `sha256:ed889b69344e70c58f9cedb12f58868f7bb43252027e19b41fb98d36a9098a6d` I am not able to reproduce the above issue. Not sure how stable you consider current master for production. We'll test with this image and see how it works in our environment. I had trouble getting earlier master builds to parse our config, but seems no issue on th

[2018-01-26 12:40] mandarjog commented on #2455
Using metadata is fine, however `EDS` metadata associated with the upstream host is one level deeper than the required abstraction.

I would like to associate meta data with {route, chosen cluster}.  This is recording a specific **use** of the cluster, so I don't think it can be a property of the cluster or its endpoints.
Am I missing something?

[2018-01-26 13:59] jinuxstyle opened #2460 "upstream timeout during envoy start"
Hi

I am using rds/cds/sds for service discovery, and got a annoying issue that envoy took too much time to get all services discovered. The time is usually between the refresh_delay_ms and 2 * refresh_delay_ms set for sds cluster. For example, if it's set to 30s, the time will be in the range 30 ~ 60s. I looked at the stats of envoy and found the rq_timeout was not zero, and then i looked into th

[2018-01-26 15:09] htuch opened #2461 "Add Envoy to bazelbuild CI"
We break frequently as Bazel releases roll out. I learnt from recent issues (#4474) that TensorFlow is built under Bazel CI. Looks like we can self-service add our own custom jobs at https://github.com/bazelbuild/continuous-integration/blob/master/docs/owner.md. Opening this issue to track future work here.

@jmillikin-stripe

[2018-01-26 16:18] mattklein123 commented on #2460
It means the request timed out. See https://github.com/envoyproxy/envoy/issues/1833

[2018-01-26 16:24] luisapace opened #2462 "Question on license of envoy 1.3.0 dependencies"
I've a question on one of the envoy 1.3.0 dependencies: rapidjson  1.1.0

It's license states:

**_If you have downloaded a copy of the RapidJSON source code from Tencent, please note that RapidJSON source code is licensed under the MIT License, except for the third-party components listed below which are subject to different license terms.  Your integration of RapidJSON into your own projects may

[2018-01-26 16:28] #2391 closed

[2018-01-26 16:29] mattklein123 commented on #2462
@rshriram can you or someone else from IBM answer this? Thank you.

[2018-01-26 16:37] mattklein123 commented on #2453
I'm removing the question label as this is definitely a bug when using the heap allocator in production.

[2018-01-26 17:38] zuercher commented on #2455
I think I misunderstood what the version applied to (the cluster, not the software running on the upstreams). It's possible to introduce a new % expression to access the cluster metadata, but not currently implemented.

[2018-01-26 17:59] ufodone commented on #2436
Since the number of times regex matches are needed is somewhat dependent on the use case, what about a third option where a new http filter is introduced that enables the addition of new headers based on regex processing of existing headers and then the metadata processing in the router doesn't need to do any regex - it simply pulls the metadata as-is from a configurable set of headers.

Loosly ba

[2018-01-26 18:58] christian-posta opened #2463 "Make healthy_panic_threshold configurable in config files"
Right now, seems we can only configure the values from (https://www.envoyproxy.io/docs/envoy/latest/configuration/cluster_manager/cluster_runtime#core) by runtime file-system files.

To make envoy circuit breaking/outlier detection behave a little more like hystrix from netflix, we should be able to configure the healthy_panic_threshold a little easier. Setting the value to "0" causes envoy to beh

[2018-01-26 19:08] christian-posta commented on #2463
But.. before doing this.. I'd like @mattklein123 et.al opinion about the usefulness of the panic in production vs shutting off the calls completely when all endpoints have been ejected. Is this simply a "hey, things look really bad and I don't trust myself/my judgement here -- let's just continue to send traffic" kind of situation?

[2018-01-26 19:10] mattklein123 commented on #2463
Personally, I would never run without panic enabled, at probably 50% which is the default. It's very easy to get into a cascading failure situation due to health check failure. With that said having a config option to set the % is very reasonable.

[2018-01-26 19:23] christian-posta commented on #2463
thx Matt. So I guess the difference with Hystrix is the expectation that when the circuit breaker is "opened" ie... any call to the upstream is immediately not made and 5xx returned.. and the app is supposed to "fallback" to some alternative path...

With envoy that would look like the equivalent of zero healthy hosts in the LB pool and not panicking and the app responding to the 5xx with an alter

[2018-01-26 19:53] #2250 closed

[2018-01-26 21:04] mattklein123 opened #2466 "refactor of data-plane-api caused breaking gRPC changes"
When we started to rollout https://github.com/envoyproxy/envoy/commit/d6b630abcb3f99d604b4f87b22d4bce3c6538e4b at Lyft, we noticed:

[code]

We now realize there are two breaking changes here:
1) gRPC endpoints have changed.
2) Anything within a proto `Any` will refer to an unknown message by name.

These types of breaking changes are not allowed. We will need to figure out some way of having stub

[2018-01-26 21:10] kyessenov commented on #2466
For (2):

There's only one instance google.protobuf.Any in data-plane-api, and that is the xDS service discovery. I imagine there are ways to go around this:
1. keep the old proto definitions around; we may want to unlink them from the docs
2. provide a proto translator from one type to another type via JSON/YAML inside Envoy
3. eventually, migrate the management server to use the new service defi

[2018-01-26 21:12] kyessenov commented on #2466
cc @junr03 on ideas how to move envoymanager forward.

[2018-01-26 21:16] kyessenov commented on #2466
@htuch I'm happy to move cluster.Cluster, route.Route, listener.Listener, and ClusterLoadAssignment back to where they were under `api.v2`. That is a simple way to solve (2). WDYT?

[2018-01-26 21:17] htuch commented on #2466
I think so. We can still refactor the leaves of these into the subpackages, but that might look weird. WFYT?

[2018-01-26 21:18] kyessenov commented on #2466
Yesh, we only need top-level definitions to be in `api.v2` and move everything under it into subpackages.

[2018-01-26 21:21] wora commented on #2466
Sorry for the trouble. Changing proto packages is a breaking change, since it affects both gRPC URLs and the `Any.type_url`. I don't think there is any native support for package renaming in gRPC. To support this renaming, we have to build custom layer to translate the URLs.

Given Lyft is using Envoy in production, I don't think they want to take the risk. I believe Google also has some services

[2018-01-26 21:38] htuch commented on #2466
I would be open to a compromise, where we keep the service defs and enough of the core messages where they are to make backwards compat work. I'm a little concerned the organization might appear "unnatural", since this constraint is forcing us here, but let's see what hte PR looks like.

[2018-01-26 22:02] mattklein123 commented on #2463
Yup exactly. Of course we could eventually implement some kind of retry policy which actually calls a different cluster, etc., but that would be a large amount of work.

[2018-01-26 22:03] mattklein123 commented on #2466
Agreed on the compromise if @kyessenov is able to mock it up. I think there is real value in moving a bunch of stuff around. The lack of namespacing in what we had before had never made me thrilled.

[2018-01-26 22:27] wora commented on #2466
We need to know what code is in production and how flexible you can deploy the breaking changes. We can come up a safer plan based on the information.

[2018-01-26 22:29] mattklein123 commented on #2466
IMO we should do the following:
1) Move the service definitions back to where they were before.
2) Break the Any which is used on ADS API as I'm pretty sure no one is using that in production.

[2018-01-26 22:31] lizan commented on #2466
For `google.protobuf.Any`, since the only usage is ADS, it is possible to have a type_url mapping from old one to new one, and update the type_url before parsing into actual resource when Envoy consumes them.

[2018-01-26 22:34] kyessenov commented on #2466
OK, I'll start a PR to move EDS, CDS, RDS, LDS service definitions to `core.v2` in both data-plane-api and envoy. If that doesn't work, I'll need to shuffle more protos again.

[2018-01-26 22:36] mattklein123 commented on #2466
@kyessenov what do you mean by `core.v2`? do you mean `api.v2`? It needs to go back to what it was before.

[2018-01-26 22:37] kyessenov commented on #2466
Yeah, sorry, I made a typo. It goes back to `envoy.api.v2`

[2018-01-26 22:41] mandarjog commented on #2455
I think the specific options are

1.
[code]
OR --->
2 )
[code]
And then introduce new `%` expression.  I think option 1) is more straight forward.

[2018-01-26 23:56] kyessenov commented on #2466
Proposed fix https://github.com/envoyproxy/data-plane-api/pull/438

[2018-01-27 03:30] rshriram commented on #2462
Why ibm?
Either way, Envoy was approved internally a year ago.

[2018-01-27 14:06] ramaraochavali commented on #2436
@ufodone I think  this approach makes sense. BTW, when rewriting header values, from where does $1 and $2 come from?
Thinking further, this can be used to select a cluster also (not just hosts with in the cluster) dynamically. Let us say for example, we want to route requests based on `cluster_header` and `cluster_header` value needs to be derived from `:authority` , we could write a rule like the

[2018-01-27 18:00] jmarantz commented on #2373
I pushed an experimental commit that helps quite a bit.

https://github.com/jmarantz/envoy/commit/b1f25cf3dde8de38651df18e5f0a0021f37b126f

Filter regex lookups by prescanning the regex input string and quickly ruling out inputs that can't match.

This results in a ~3x speedup on the 10k cluster test from
https://github.com/envoyproxy/envoy/issues/2063 .  Though it still
takes too long to startup

[2018-01-27 18:04] mattklein123 commented on #1276
This is done.

[2018-01-27 18:04] #1276 closed

[2018-01-27 18:05] jmarantz commented on #2373
And some data from the 1k cluster example from bug 2063, run with callgrind, and with exit(0) injected prior to the listener loop in main_common.cc

ScopeImpl::counter called 61k times.
ScopeImpl::gauge called 10k times.
Stats::extractTag called 1.56M times.
std::__detail::Executor<...some regex thing...> called 11M times

Note that in this run, extractTag skips the regex match if the prefix doesn

[2018-01-27 18:05] mattklein123 commented on #1496
This is done.

[2018-01-27 18:05] #1496 closed

[2018-01-27 18:07] mattklein123 commented on #2462
@rshriram because @luisapace works at IBM and has been emailing me. :)

[2018-01-27 19:58] zuercher commented on #2455
For option 2, I meant introducing a % expression that pulls from metadata in the CDS Cluster object.

I'm fine with option 1, though.

[2018-01-27 23:05] mandarjog commented on #2455
Ok great, I will send a pr in the data plane api repo first.

[2018-01-29 02:36] jinuxstyle commented on #2460
Thanks. The information is helpful. It looks reasonable that it's possible to get request timeout when envoy needs to refresh hundreds of clusters via sds concurrently in 1 second. I will look into it further to figure out why the timeout happens exactly.

[2018-01-29 09:10] marsty commented on #2182
I config as above ,but The prometheus targets display no token found~~~ what's the reason?

[2018-01-29 09:15] luisapace commented on #2462
I'm sorry, but really I do not understand... if I've a question on a package written not by IBM by someone else, why do I have to write to IBM instead of the developers of that package?  Please let me know if you know the answer to my question or not. Thanks a lot for your time.

[2018-01-29 09:55] jinuxstyle commented on #2460
Another question, during envoy starting, how long would it take to send the first sds request after getting the clusters from cds server? In our case, it takes 8 ~ 9 seconds and we have 150 clusters in total. I don't know what envoy is doing during that period.

[2018-01-29 12:36] jinuxstyle commented on #2460
The following logs shows the time interval (here 8 seconds) that was taken by the envoy between getting the cds result and starting first sds refreshing.
[code]

So my question is why envoy would take such a long time for parsing and handling cds result? And is there anyway to reduce the time?

[2018-01-29 17:49] jmarantz commented on #2373
I've done some more digging by instrumenting a map and some timers, indicating which regexes take a lot of time.  This table measures the microseconds consumed parsing specific regexps.  The action taken reflects whether the regex matched ("success") was executed and failed ("miss") or was skipped by the hack I described above ("prefix-discard", "embedded-discard").

[code]

[2018-01-29 17:53] jmarantz commented on #2373
My suspicion is that these slow regex lookups are due to regex backtracking (background: https://regular-expressions.mobi/catastrophic.html?wlr=1) and may be resolvable by tweaking the regexps to be pickier (e.g. less use of "." in the regex, and more specific character sequences that specifically exclude known separators).

[2018-01-29 18:25] mattklein123 commented on #2460
@jinuxstyle can't say, can you provide the intermediate logs. Perhaps DNS resolution in between or something else?

[2018-01-29 18:32] ufodone commented on #2436
The $1, $2 refer to the matched sub-expressions from the regex.  I pulled the example directly from the other ticket.  It might make more sense to use \1 and \2 to be consistent with typical regex syntax?

I hadn't considered using this for `cluster_header` as well but it makes sense.  There are probably other use cases where the same pattern could apply.

The side-effect of this approach is that

[2018-01-29 20:03] #2425 closed

[2018-01-29 20:25] rshriram commented on #2462
Short answer: no.
Contents of bazel-envoy/external/com_github_tencent_rapidjson/bin/jsonchecker/ are
[code]

which are not part of envoy binary.

[2018-01-29 20:38] mattklein123 opened #2471 "add tests to catch data-plane-api compat regressions"
Related to https://github.com/envoyproxy/envoy/issues/2466.

This issue will track figuring out some basic sanity tests, much like envoy-filter-example, to help us catch these types of regressions. Some ideas so far:

1) Have an xDS regression test which works with a server (either Go or C++) which floats *behind* the SHA used for data-plane-api in main Envoy.
2) Have a test in Envoy which loads c

[2018-01-29 20:52] zuercher commented on #2436
Thanks for taking the time to think it though. In general, this looks like a good approach to me.

One odd bit is that the `Metadata` message in the API contains a map of strings to protobuf `Struct` messages but in the case of the `header_metadata_match` field, the values can really only be strings (header names). I don't think there's necessarily any better type to use, though.

[2018-01-29 22:50] srikailash commented on #2101
Hello @brirams , i am interested to work on this issue . After a  bit of digging into code i found that RouteConfigProviderManagerImpl::handlerRoutes in source/common/router/rds_impl.cc can be modified to validate headers . Please provide more context(i couldn't access slack link) , Thanks .

[2018-01-30 02:09] jinuxstyle commented on #2460
The intermediate logs are all about adding/updating clusters like following:
[code]

[2018-01-30 05:06] winguse commented on #1979
I got the same issue with node.js (as upgrade to node.js v8.x, the keep alive time-out has been set to 5s by default, which makes the problem more visible)

I also agree with providing option to set the upstream timeout: if the connection is about to timeout, use new connection instead of the old one)

[2018-01-30 06:29] jinuxstyle commented on #2460
And DNS resolution should not be the cause because I already changed the service discovery type for resolving the sds and cds clusters to be static in my test.

[code]

[2018-01-30 08:52] ramaraochavali commented on #2436
@ufodone I think one way to not pass these header values to upstream host is may be naming them with a different name space like `envoy.router.foo_header` so that router filter can remove them after route decisions has been made?

[2018-01-30 13:58] luisapace commented on #2462
Great, thanks a lot for your help!

[2018-01-30 14:53] alyssawilk commented on #2462
I think this answers your question so closing this off, but please reopen if I'm wrong!

[2018-01-30 14:53] #2462 closed

[2018-01-30 15:04] winguse opened #2478 "configs/google_com_proxy.v2.yaml is not working anymore"
I find I cannot turn http traffic to upstream https server any more. By digging into details, I also find the [example config](https://github.com/envoyproxy/envoy/blob/master/configs/google_com_proxy.v2.yaml) is not working as well.

repo steps:

[code]

and check the result:

[code]

[2018-01-30 15:48] ufodone commented on #2436
I knew there were namespaces for metadata but wasn't aware that headers could also be namespaced such that the router could remove them.  But if that's the case, it seems like it would do the trick.

[2018-01-30 16:07] mattklein123 commented on #2460
This is very likely related to startup speed. What version of Envoy are you using? If 1.5.0 please try master as it has one major thing fixed (stat allocation speed). @jmarantz is also working on the other big one (tag extraction via regex).

[2018-01-30 17:41] jmarantz commented on #2460
Would it be possible to include the entire config file so I can repro?  I'd like to see if there's a real-world repro to the slow-regex problem described in https://github.com/envoyproxy/envoy/issues/2373

[2018-01-30 18:18] alyssawilk commented on #2478
Hm, it works locally for me with
git pull
bazel build source/exe/envoy
bazel-bin/source/exe/envoy-static -c configs/google_com_proxy.v2.yaml

Can you verify you're running against head, and post with Envoy's logs?
Just to sanity check, I assume a direct `curl http://www.google.com` works for you?

[2018-01-30 19:17] #2457 closed

[2018-01-30 20:05] mandarjog opened #2484 "Add %ORIGINAL_DST% as a header variable"
**Add %ORIGINAL_DST% as a header variable**

*Description*:
When the original destination `ip` as resolved by the client is disregarded by the local proxy, it may still be relevant to an upstream.

This enables configuration like
[code]

For reference istio via directive: https://docs.google.com/document/d/1BGi18QnpqceEMzGAPWlzOTvlu65QRvbiWtyWK9jtddU/edit#heading=h.ouc0ih1n6vge

[2018-01-30 20:15] cmluciano commented on #492
@lixiaobing1 Thanks for the interest. Are the two use-cases you have frequency-division duplexing and time-division duplexing?

While UDP support would potentially enable these use-cases, I'm not sure that I fully understand FDD/TDD enough to work up a PoC. Do you have more links on existing implementations related to telecommunications and edge-cases for UDP?

[2018-01-30 21:14] mattklein123 commented on #2441
Fixed

[2018-01-30 21:14] #2441 closed

[2018-01-30 21:14] mattklein123 commented on #2466
Fixed

[2018-01-30 21:14] #2466 closed

[2018-01-30 23:07] mandarjog commented on #2484
I would like to take a crack at this.

`common/filter/listener/original_dst.cc## OriginalDst::onAccept` recovers the original dest address and stores it using `socket.setLocalAddress(addr, true)`
This is available as `request_info.downstreamLocalAddress()`

Will this only be the original destination if the `original_dst` listener is used? That is the only place I see this being recovered.

[2018-01-30 23:14] bmadhavan commented on #2343
@zuercher I initially thought having arguments might be cleaner. But as you say arguments are a pain to parse. So, I will go with `/some/prefix/%cat%/some/suffix`. If someone wants to have % they can add a escape like %%. I will raise a docs PR in data-plane-api shortly. Thanks.

[2018-01-31 00:20] winguse commented on #2478
sorry for i did not provide significant information.

I am testing on a aws ec2 machine and a direct `curl http://www.google.com` works.

as i check the the cluster info, i find this:

[code]

it looks envoy only looking into ipv6 address of google. but my instance do not have ipv6 network. and the document is tell us default is AUTO.

by setting `dns_lookup_family: V4_ONLY` it works now.

[2018-01-31 00:22] winguse commented on #2478
but why the cluster info is not the currect ips of google?

[code]

[2018-01-31 02:51] mattklein123 commented on #2478
@winguse `0.0.0.0` is due to `type: LOGICAL_DNS` in the config. (Please read about it in the docs).

For the v4 vs v6 thing, perhaps you could add a YAML comment to the config file that might help someone who encounters this in the future? Thank you for letting us know the problem.

[2018-01-31 04:13] rshriram commented on #2484
Scrolling through Envoy users, I stumbled upon this: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-Host (thanks to @9len)

[2018-01-31 14:10] alyssawilk commented on #2004
When this is done, we should make sure to update the lua docs, w.r.t add() behavior
See comments added on https://github.com/envoyproxy/data-plane-api/pull/445/files

[2018-01-31 17:01] rshriram commented on #2455
@htuch with regard to this: https://github.com/envoyproxy/envoy/issues/2455#issuecomment-360684271

Y knows the destination by looking at the host header. It knows the caller from x-downstream-cluster or something. So, programming Y should be no different from programming X/W. Does it need weight level metadata customization? Shouldn't the existing information be sufficient?

[2018-01-31 17:24] 9len commented on #1269
we've bumped into the ignore-port use case several times, and it feels pretty universal when ports are dynamically allocated.

[2018-01-31 19:09] #2414 closed

[2018-01-31 19:26] gregdurham opened #2493 "RuntimeUInt32 proto/json has omit empty"
*Description*:
Working against the API, using grpc, I see that when using a ComparisonFilter with a value set to 0, I receive an error that the format is incorrect. Upon further investigation, using trace, I see that this field is populated with this:
`filters {
            status_code_filter {
              comparison {
                value {
                }
              }
            }

[2018-01-31 19:36] gregdurham commented on #2493
Let me know if I put this in the wrong repo, may actually be a bug against the go-control-plane project.

[2018-01-31 20:59] htuch commented on #2493
Can you provide some more context? What does the raw input look like, how is it getting sent to Envoy, etc? I'm a bit confused as you mention a JSON parser but state that you are using gRPC.

[2018-01-31 21:10] #2484 closed

[2018-01-31 22:12] mattklein123 commented on #492
@cmluciano I just went through this issue again and the doc you put together. Thanks for the doc! Here is my rough thinking on how we should proceed:

IMO we should go straight to support for UDP "sessions", initially just considering the 4-tuple as a hash/ID that identifies the session. If we do this, we can largely treat a UDP session as a connection within the existing code base, including filt

[2018-01-31 22:26] ggreenway commented on #492
I agree, that is a good initial target.

We also need to make sure that none of the involved code will combine two datagrams (eg Buffer::Instance::move()).  The datagram boundaries are part of the protocol, so we can't handle them the same way tcp/streams are handled.

[2018-01-31 23:11] gregdurham commented on #2493
Digging into this, this may actually not be the error. I believe I forgot to set the runtime key. I am sorry about that.

[2018-01-31 23:11] #2493 closed

[2018-02-01 00:12] mattklein123 commented on #2315
I think this is done. Closing. @brian-pane LMK if not the case.

[2018-02-01 00:12] #2315 closed

[2018-02-01 00:21] lap1817 opened #2499 "[FeatureRequest] Customize health check interval when host is down or in transition state"
*[FeatureRequest] Customize health check interval when host is down or in transition state*

*Description*:
In proxy such as Haproxy, besides a configurable health check interval, it also allows setting a different check interval when services is down (downinter) or service is in transition stat (fastinter).
Usually the default check interval is higher (e.g. 30s) while downinter and fastinter is m

[2018-02-01 00:32] nt opened #2500 "Lazy loading (on demand) for Routes, Clusters and Endpoints"
For requests that do not have routes, I would need to write a filter that can send xDS queries to get a Route Added with the associated configuration (cluster def and endpoints).

The use case is for deployments with a very high cluster cardinality and failing the request is not an option.

I do not know if this should be an envoy feature but it does not seem like it can be implemented as a custom

[2018-02-01 00:38] jmarantz commented on #2421
+1 -- would love to be able to gauge whether perf problems I'm working on would impact Istio and other applications that have raised performance issues.  Having a way to dump a config would hopefully make it easier to repro real world cases to ensure I'm optimizing for the right thing.

[2018-02-01 00:49] jmarantz commented on #2373
progress update: I have some changes I'm testing now which get the startup time for the 10k-cluster config from 30 seconds to about 5 seconds, and I think I can trim that to about 2-3 seconds.

The changes entail:
- extractTag doesn't mutate the stat_name but tracks which charcters should be elided so they can all be done at once.  This makes the regexes potentially simpler because they don't have

[2018-02-01 02:44] brian-pane opened #2503 "Configurable setting of last trusted client IP address"
*Feature Proposal*:

Add a feature that allows Envoy to use the _N_ th external IP address from the end of X-Forwarded-For as the trusted client IP address, where _N_ defaults to 1 (for backward compatibility) but can be set in the Virtual Host configuration.

*Motivation*:

I have a use case where there may be two trusted proxies with non-RFC1918 addresses in front of Envoy. In that case, the tru

[2018-02-01 06:18] mattklein123 commented on #2478
Comment added to sample config.

[2018-02-01 06:18] #2478 closed

[2018-02-01 07:32] jinuxstyle commented on #2460
I tried a newer version with envoy docker image envoyproxy/envoy:61b38528d7e46ced9d749d278ba185332310ca95, it still takes 6 seconds to parsing the cds clusters before sending out the first sds request.
[code]

[2018-02-01 07:35] jinuxstyle commented on #2460
Here is the entire configure file:
[code]

[2018-02-01 07:44] jinuxstyle commented on #1833
Is there any progress on this? @rshriram

[2018-02-01 08:07] marsty opened #2505 "prometheus2 scrape envoy stats show no token found , why did I do?"
prometheus config
        metrics_path: /stats
        params:
          format: ['prometheus']
the prometheus targets show status down and error is no token found,I know the reason is the metrics format, but how did I do to  solve this problem ?

[2018-02-01 09:10] winguse opened #2506 "envoy returns HTTP 426 for proxying traffic to nginx http2 endpoint"
First, this problem happens randomly and I still cannot repo it. I post an issue here to see if you have ideas. And I will update it once I have more information.

In my case, I have a remote dependency, it's a nginx enabled http2. And I try to connect to it via Envoy:

`My service` *---HTTP 1.1--->* `Envoy` *---HTTP 2--->* `Nginx Plus (SLB)`

*OS*: ubuntu 14.04
*Envoy*: v1.5.0

Here is a related

[2018-02-01 09:34] ramaraochavali commented on #2500
@nt I have opened similar issue in the past. See if this https://github.com/envoyproxy/envoy/issues/2022 helps. Looks very close though.

[2018-02-01 10:39] winguse commented on #2506
more info:

- i cannot repo this issue without high load -- I can only repo this in our production
- i cannot repo it with domain `www.google.com`
- this url is a url enabled nginx cache, if i repo this issue, i can see in the following success request the cache is not hit.

May be this is an issue of nginx plus.

But I think envoy should not let the downstream know about upstream status 426.

[2018-02-01 12:43] jmarantz commented on #2460
Thanks for the config.  Looks like I need to invoke Envoy with --service-cluster and --service-node to repro.  Do you have recommendations for those values?

Sorry if this is obvious; I'm kind of learning Envoy from the inside out.  Thanks!

[2018-02-01 12:46] jmarantz commented on #2373
I have gotten this to start up in 2.5 seconds, and I think this is probably where I'll pause for now, though there is still opportunity for improvement, and even the changes I have so far will really required multiple PRs, which will be forthcoming as I clean them up.

The aggregated (and not-ready-for-review) changes are on https://github.com/jmarantz/envoy/commits/prescan-regex

[2018-02-01 14:57] tschroed opened #2507 "Separate filter code and file accesslogs"
Just from a uniformity/hygiene perspective it would be nice to have the log filter code distinct from the file acesslogs code.

[2018-02-01 16:07] mattklein123 commented on #2506
FYI it looks to me like the 426 is coming from NGINX, not Envoy. (Same for the 400). You can tell this by the `x-envoy-upstream-service-time` header. Beyond that no idea right now. This is the first I have heard of an issue like this. I might ask NGINX to help debug if you are paying for Plus already?

[2018-02-01 16:21] alyssawilk commented on #2506
Yeah, I'd argue if upstream wants H2 and Envoy is configured to do h2 and HTTP/1 it's an upstream bug that H2 is not negotiated so I don't think it's worth the complexity to add functionality to Envoy to retry with H2 only.
Admittedly it would be a bit confusing if Envoy were configured for HTTP/1.1 only, a user were doing H2-to-Envoy and got a proxied 426 from an Envoy-Upstream HTTP/1 connection,

[2018-02-01 17:11] mattklein123 commented on #2506
One other pretty bizarre thing here: NGINX Plus appears to be returning 426 when Envoy *is* speaking h2, since Envoy does not negotiate. Given that it's random, this sounds like some caching bug to me in their server.

[2018-02-01 17:40] cmluciano commented on #492
+1 that path LGTM too @mattklein123 . I will finish addressing the comments in the Google doc.

Should we transplant the Google doc into a proposal PR after if is cleaned up?

[2018-02-01 17:43] mattklein123 commented on #492
If possible, yes please.

[2018-02-01 18:02] #1840 closed

[2018-02-01 18:31] zuercher commented on #2505
Can you use curl (or similar) to query the stats endpoint on Envoy? Prometheus is very restrictive about metric names (they may only contain `[A-Za-z0-9:_]` and must start with `[A-Za-z_]`). I suspect one of your metrics has an illegal character that Envoy should be filtering out.

[2018-02-01 19:57] mattklein123 commented on #2371
fixed

[2018-02-01 19:57] #2371 closed

[2018-02-01 19:59] syml commented on #2085
I'm going to follow up on this. @loozau helped me getting started
I have a PR https://github.com/envoyproxy/envoy/pull/2512. I would appreciate some help to get it through :) Tests especially need some enhancement.

[2018-02-01 21:16] mattklein123 commented on #2500
Here are my rough implementation notes for how I would go about doing this:

Initially I would probably implement a new gRPC API for this purpose. I think you could use the existing CDS API roughly, but operate it yourself by running your own gRPC fetcher on the main thread (created during filter initialization -- there are singleton examples of this already including RDS itself). The API you want

[2018-02-01 21:30] mattklein123 commented on #2503
Sounds reasonable to me!

[2018-02-01 21:49] alyssawilk commented on #2428
Tracking more data here (and @envoyproxy/maintainers please continue as you see more flakes)

https://pastebin.com/NJu7N5ri says Http2IntegrationTest took ~40s and the test timed out after 315 seconds so either some generic "bad expectation" or CookieRoutingNoCookieNoTtl failure.  I think I recall other tests flaking so I think it's some bad expectation but it'd be nice to confirm.

[2018-02-01 22:04] mattklein123 commented on #1028
@cmluciano this is an interesting one to look at as one of the initial use cases. If we can create a UDP statsd cluster, we should be able to largely unify the UDP and TCP statsd code in Envoy. cc @alyssawilk

[2018-02-01 22:06] mattklein123 commented on #1193
Assigning over to @alyssawilk for tracking and further updates. Google will be starting on this in the next month or so. ETA for feature delivery is conservatively probably 6 months out.

[2018-02-01 22:42] htuch commented on #2500
I'd add that code structure wise, I think it makes sense to have some kind of `LazyClusterLoader` object owned by the main thread that is responsible for doing the post (to itself) and maintaining any state associated with the in-flight pseudo CDS. I.e. there should be a separation of concerns between the filter and the code that is responsible for doing the fetch (which might be serving lazy load

[2018-02-01 22:50] htuch commented on #2500
One middle ground from modifying xDS would be to establish an independent CDS channel, using the same streaming protocol, from the `LazyClusterLoader`, using code in https://github.com/envoyproxy/envoy/blob/master/source/common/config/grpc_mux_subscription_impl.h and https://github.com/envoyproxy/envoy/blob/master/source/common/config/grpc_subscription_impl.h.

That way, you can keep the CDS proto

[2018-02-01 23:27] winguse commented on #2506
We have paid for NGINX plus. And how to debug?

[2018-02-02 00:47] mattklein123 commented on #2506
Ask NGINX to help determine why it is returning a 426? I'm not going to claim there is no chance this is a bug in Envoy, but there is not much to go on here.

[2018-02-02 02:01] marsty commented on #2505
I use prom tool check the envoy stats (format prometheus) found that have the same name of the metrics envoy_listener_http_downstream_rq_xx{envoy_response_code_class="2",envoy_http_conn_manager_prefix="ingress_http",envoy_listener_address="0_0_0_0_80"} 0
# TYPE envoy_listener_http_downstream_rq_xx counter
envoy_listener_http_downstream_rq_xx{envoy_response_code_class="4",envoy_http_conn_manager_pr

[2018-02-02 02:49] jmarantz commented on #2373
@mattklein123 @htuch @alyssawilk can one of you assign this to me?

I have a more detailed implementation plan here: https://goo.gl/YxzBaB

[2018-02-02 03:03] alyssawilk commented on #1193
AFIK the Google-QUIC team is committed to integrating actual QUIC rather than UDP proxying.  I don't think adding UDP proxying to Envoy was on our road map.   I'll check with [relevant folks] about adding it but I suspect it would go after QUIC integration so a ways out.

If @cmluciano does stateful UDP proxying over on #492 this would be a fairly small feature (hash on ConnectionId rather than 4-

[2018-02-02 03:05] qiwzhang opened #2514 "Add a HTTP filter for JWT verification"
*Title*: Add a HTTP filter for JWT verification

*Description*:
JWT verification is important for many services.  This filter will allow Envoy proxy to verify the JWT token by fetching the remote pubkey and pass the verified JWT payload to the services for further authorization.

Istio has this filter here: https://github.com/istio/proxy/tree/master/src/envoy/http/jwt_auth
This issue wants to upst

[2018-02-02 03:05] mattklein123 commented on #2514
SGTM

[2018-02-02 03:06] winguse commented on #2506
Thanks, we will reach NGINX for help.

BTW, we are going to allow http traffic to work around currently.

[2018-02-02 03:08] mattklein123 commented on #2500
+1 to all of @htuch's comments above.

[2018-02-02 07:45] lizan commented on #2514
I'll work with @qiwzhang to gradually move codes from istio/proxy. @mattklein123 can you assign the issue to me?

[2018-02-02 08:25] marsty commented on #2505
I have solved, in another thinking of a solution

[2018-02-02 08:25] #2505 closed

[2018-02-02 08:41] lberki commented on #2461
For the record, this is the classical way to make sure that our releases don't break you. It'll probably result in us asking to make changes to your code as we check in incompatible changes, but that's a better place to be at than dumping a month's worth of incompatible changes on you at once.

[2018-02-02 11:10] winguse commented on #2506
I finally find the root cause, it's the issue of ourself, neither Envoy nor NGINX.

The full route is like this:

`Service` --> `Envoy` --> `NGINX SLB` --(x)--> `Envoy` --> `Another Service`

In route x, is what the problem happen.

This route is for a legacy API, which enabled NGINX cache for performance reason, but in this route's proxy config, it missed a shared config [`proxy_http_version 1.1`

[2018-02-02 11:10] #2506 closed

[2018-02-02 13:53] nov1n commented on #2152
@buchanae Any update on the example? I am going through the process myself, and it would be very helpful!

[2018-02-02 18:13] mattklein123 commented on #2460
@jinuxstyle how many clusters are you returning from CDS? @jmarantz I'm not sure the raw config is config to be that useful. The issue is when processing the CDS response, which is basically the same as starting up with a bunch of static clusters. I'm still a little unsure if this is definitely the same issue, as unless there are thousands of clusters 6-8 seconds seems pretty long.

[2018-02-02 18:14] mattklein123 commented on #2408
@junr03 what's the resolution this one? Is there a doc update needed or some other issue?

[2018-02-02 18:21] buchanae commented on #2152
I'm the worst. This fell off my radar. I'll take a pass at it this weekend!

[2018-02-02 18:52] jmarantz commented on #2460
Yes I think you're right, Matt.  My startup time on this input was very fast; I think to repro I'd need to mock out the CDS context to repro this.

[2018-02-02 20:13] junr03 commented on #2408
Sorry this dropped off my radar.

Here is the summary: the `RuntimeUInt32` type requires a runtime key. This means that it is not possible to configure access logs with default values that are not runtime overridable.

There are two options:

1. data-plane-api deletes the runtime key requirement for the RuntimeUInt32 type
2. The configuration specifies a sensible runtime key _in case_ that the eng

[2018-02-02 22:50] mattklein123 commented on #1606
Enough people have asked for this (including at Lyft) that I'm going to implement this. My rough plan is a trio of HTTP filter, cluster, and load balancer that all work together. Roughly:

1. The filter will work similarly to what I described in https://github.com/envoyproxy/envoy/issues/2500#issuecomment-362404328 with request holding, but instead will look in a DNS cache. If a request needs to b

[2018-02-02 22:58] mattklein123 commented on #1606
@rshriram from Istio perspective, how will cluster configuration work? E.g., things like HTTP/1 vs. HTTP/2, etc.? It seems like for HTTP stuff in general we would have to use HTTP/1 in most cases, until we eventually implement upgrade and/or potentially using ALPN for TLS connections (with potentially some automated way to turn on SAN checking based on authority).

[2018-02-02 22:59] mattklein123 commented on #1214
I'm going to call this done. We are tracking CONNECT and generic outbound DNS resolution in different issues.

[2018-02-02 22:59] #1214 closed

[2018-02-03 01:41] qiwzhang opened #2521 "Turn on Envoy debug log dynamically on-demand by a magic HTTP request header."
*Title*: To turn on Envoy debug log only for some specific requests with some magic header. such as: "envoy-debug:  on"

*Description*:
This will be very useful for debugging in production environment.

[2018-02-03 01:49] winguse commented on #2408
Make sense, thanks @junr03

[2018-02-03 04:00] #2408 closed

[2018-02-03 12:25] srikailash commented on #1344
Hello @mattklein123  , I am interested to work on this issue . After going through code i found that , configuration call for min cluster size can be made here https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/load_balancer_impl.cc#L245 , but question is which configuration file in (envoy/source/common/config/ ) can be used to add this . Thanks in advance .

[2018-02-03 15:55] nov1n commented on #2152
There's always so much to do :-) I'm looking forward to it!

[2018-02-04 00:44] jmillikin-stripe opened #2526 "Please support domain matching in the CORS config"
*Description*:
The `envoy.cors` filter injects [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) headers. Currently the outgoing `Access-Control-Allow-Origin` header is set from a hardcoded set of domains in the Envoy config, so you must know the string-exact name of each domain that will be making requests to the service.

It'd be nice if Envoy could support matching (regex, wildcard

[2018-02-04 02:11] rshriram commented on #1606
Istio use case is primarily for the egress proxy, where all external traffic out of the mesh (e.g., consuming AWS apis) has to transit through a dedicated proxy node. H1 should suffice for the near term.

But we have a need for TCP connections as well. I think the TCP is going to require some funny setup (Will have to look into the CONNECT semantics?).

[2018-02-04 04:20] htuch opened #2528 "Validate early in server startup existence of service descriptors"
Following up from the comments on https://github.com/envoyproxy/envoy/pull/2522, @mattklein123 suggested we can move https://github.com/envoyproxy/envoy/pull/2518 from test to a check on server startup. This will avoid mystery segfaults due to link issues (https://github.com/google/protobuf/issues/4221).

[2018-02-04 22:05] mattklein123 commented on #1344
Hi, thanks for offering to work on this.

You will want to add the configuration to the cluster object here:
https://github.com/envoyproxy/data-plane-api/blob/master/envoy/api/v2/cds.proto#L40

Once that is done, you can thread the configuration out of that and into LB construction via the cluster manager: https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/cluster_manager_impl.

[2018-02-04 22:08] mattklein123 commented on #1606
Yeah for TCP the only way to make this sanely work would be via CONNECT, which will be a separate work item, tracked here: https://github.com/envoyproxy/envoy/issues/1451

I will think through the CONNECT case fully to make sure that will be supported. My rough intuition is to potentially handle CONNECT in a new filter that would run before the router but after the "inline_DNS" filter.

[2018-02-04 22:24] mattklein123 commented on #2526
SGTM if anyone would like to work on this.

[2018-02-04 22:26] mattklein123 commented on #2521
This would be a useful feature. We have already been considering doing work in this area (I believe @ccaraman will do it at some point), mainly around having an `x-envoy-debug-trace` header which will have Envoy return a bunch of information about what it did (what cluster it chose, etc.). I think we could also potentially use this to raise certain debug lines dynamically to "warn" level, but that

[2018-02-05 03:25] buchanae commented on #2152
This is what I have so far: https://github.com/buchanae/envoy/tree/lua-proxy-example/examples/lua-proxy

It doesn't load for some reason:
[code]

I have quite a bit of trouble getting Envoy config right.

[2018-02-05 14:13] nov1n commented on #2152
@buchanae That really helped me out! I made some slight adjustments to your example to get it to work:: https://github.com/nov1n/envoy/tree/lua-proxy-example/examples/lua-proxy . Let me know what you think.

[2018-02-05 15:27] alyssawilk commented on #2526
@codesuki in case he's interested :-)

[2018-02-05 16:11] alyssawilk opened #2532 "metrics_service_integration_test flaky on tsan"
Apparently it hung on the tsan build, as mentioned in https://github.com/envoyproxy/envoy/pull/2530

[2018-02-05 17:13] mandarjog commented on #2521
We should x-request-Id with a specific pattern to control turning on debug. The advantage is that these headers  already propagate through the mesh.

[2018-02-05 17:16] mattklein123 commented on #2521
Good idea. I like it.

[2018-02-05 17:41] zuercher commented on #2428
got that one to fail once (after a few thousand repetitions). It's stuck waiting in `Envoy::FakeUpstream::waitForHttpConnection`, but I don't know that this tells us much. I can reproduce it pretty reliably by running the test in a loop while building an unrelated project.

[code]

[2018-02-05 18:20] alyssawilk commented on #2428
Internally we have an injector for trickle-write tests one could (fairly) easily plug into general integration tests. I'm thinking of adding one to Envoy since I think the packetization has caused most of the macos behavioral differences and I'd be happy to work on debugging these if I could only repro.

Semi-related, we were discussing internally if there was any way to set things up for macos an

[2018-02-05 21:38] alyssawilk commented on #2428
Well interesting. I decided to take the hacky approach and overwrote

-int OwnedImpl::write(int fd) { return evbuffer_write(buffer_.get(), fd); }
+int OwnedImpl::write(int fd) { return evbuffer_write_atmost(buffer_.get(), fd, 10); }

This causes a LOT of tests to fail.  Sadly http2_integration_test is still pretty solid for me.  How many runs on average does it fail for you?  I can up my --runs_pe

[2018-02-05 22:59] codesuki commented on #2526
I am down for it. This is a feature I wanted to implement in the beginning. But the earliest I could start to work on it is middle to end of March. So if nobody picks it up until then, I will.

[2018-02-06 03:12] htuch commented on #2428
https://circleci.com/gh/envoyproxy/envoy/24122?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

Another one with `xfcc_integration_test`.

[2018-02-06 09:59] shakti-das opened #2535 "x-forwarded-client-cert doesn't forward SAN DNS names, only one URIName record is forwarded"
*Title*: *x-forwarded-client-cert doesn't forward SAN DNS names, only one URIName record is forwarded*

*Description*:
A certificate can support multiple DNS names through SAN but XFCC header is only forwarding URI name type and ignoring all DNS name types.

Example SAN from certificate
X509v3 Subject Alternative Name:
URI:https://example.com, DNS:example.com, DNS:www.example.com

[optional *Relev

[2018-02-06 15:26] moderation opened #2538 "stats: tag specifier not working"
*Title*: tag specifier not working

*Description*: From Slack...

- https://envoyproxy.slack.com/archives/C78M4KW76/p1517785258000052?thread_ts=1517695444.000074&cid=C78M4KW76
- https://envoyproxy.slack.com/messages/C78M4KW76/convo/C78M4KW76-1517855099.000259/

*Relevant Links*:
- https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/metrics/v2/stats.proto#config-metrics-v2-tagspecifier
- http

[2018-02-06 15:46] taiki45 commented on #2538
`envoy.statsd` sink does not support tagged metrics. `envoy.dog_statsd` sink supports tagged metrics with DogStatsD extension: https://docs.datadoghq.com/developers/dogstatsd/. I didn't try but `envoy.metrics_service` may also support that.

[2018-02-06 16:02] taiki45 commented on #2538
To avoid the confusing, is it better to describe tagged metrics support in document? I'm thinking which place will be better. Maybe at https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/metrics/v2/stats.proto#config-metrics-v2-statssink?

[2018-02-06 17:07] mattklein123 commented on #2538
@taiki45 it would be really great IMO to actually discuss tags in the arch overview: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/statistics. Perhaps you could work with @mrice32 on this since he has done a lot of work in this area? (He can help w/ English copy editing also if needed).

[2018-02-06 17:16] taiki45 commented on #2538
Yeah, I also think the statics arch overview document needs update. I'll be working on it. Once the draft is ready, it's great to be reviewed with @mrice32 and others.

[2018-02-06 17:17] mattklein123 commented on #2538
Thank you @taiki45!

[2018-02-06 17:43] #2528 closed

[2018-02-06 17:52] thebadpete opened #2539 "Source upstream peer server / downstream peer client IP address from within Lua"
*Description*:

The current Envoy Lua plugin does not expose request info like upstream peer server or downstream peer client IP addresses. The only way we found is to set use_remote_address to true for http_connection_manager so that but the time lua plugin is invoked x-envoy-external-address is set, if the client is not considered internal. But there doesn't appear to have any way to do somethin

[2018-02-06 17:53] mattklein123 commented on #2535
cc @myidpt @PiotrSikora

[2018-02-06 18:15] #2325 closed

[2018-02-06 18:21] mattklein123 commented on #2539
We will need to Lua wrap `RequestInfo` and make it available to Lua. We can start with just a small portion of it since it's ultimately a big structure. Marking this as help wanted in case anyone out there would like to contribute. If so, I can provide guidance.

[2018-02-06 18:26] ccaraman commented on #2538
Can the config loading code path be updated as well? If statsd is used and tags are specified, config loading should fail.

[2018-02-06 18:58] cdelguercio commented on #2086
I saw the http: adding 100-Continue support to Envoy (#2497) PR that got merged. Would it make sense to allow Envoy to be configured to proxy PING frames as a non default option?

[2018-02-06 19:23] thebadpete commented on #2539
I would like to contribute but certainly needs some time to ramp up. Would appreciate any guidance!

[2018-02-06 19:45] mattklein123 commented on #2463
I will fix this.

[2018-02-06 20:41] ccaraman commented on #2521
@qiwzhang What kind of issues are you trying to debug? ex: routing issues?

[2018-02-06 20:41] mattklein123 commented on #2463
https://github.com/envoyproxy/data-plane-api/pull/465

[2018-02-06 20:44] mattklein123 commented on #1344
@srikailash FYI I just opened envoyproxy/data-plane-api#465. Once I implement this, doing this item will be pretty trivial.

[2018-02-06 20:49] alyssawilk commented on #2521
Do we want something specific to logging, or something that controls flags / options in general?    I think it'd be nice to have something more general even if we only implement specific handlers for now.

[2018-02-06 21:12] ccaraman commented on #2521
For debugging routing issues, there are two features I want to add:
1. Return extra data when a header(tbd) is set:
* list of cluster names
* If local envoy or the service returned the HTTP status code

2. Similar to the route checking tool, return which cluster the request would route to without fwd the request.

[2018-02-06 21:30] liamawhite opened #2541 "Enable and Configure Zone Aware Routing via xDS APIs rather than as a flag"
**Title**:
Configure Zone Aware Routing via xDS APIs rather than as a flag

**Description**:
Currently to enable zone aware routing Envoy requires using the --service-zone flag. We (Istio) would like to be able to enable and configure zone aware routing via the xDS APIs. I believe this is achievable if the envoy instance looked itself up using the CDS API, retrieving a cluster array with just itse

[2018-02-06 21:56] mattklein123 commented on #2541
Somewhat related to https://github.com/envoyproxy/envoy/issues/1344.

[2018-02-07 00:10] mattklein123 commented on #2086
@cdelguercio per the previous discussion, I'm not really sure what it means to proxy ping. Ping is per connection, not per stream. What would the semantics be?

[2018-02-07 00:14] mattklein123 commented on #2539
@thebadpete here are some notes on how to implement this:
1. The interface that you want to pull information from is here: https://github.com/envoyproxy/envoy/blob/master/include/envoy/request_info/request_info.h. Specifically, you will want information from `upstreamHost()`.
2. This is accessed from filters here: https://github.com/envoyproxy/envoy/blob/master/include/envoy/http/filter.h#L129.
3.

[2018-02-07 00:37] mattklein123 commented on #2069
OK finally coming back to this. Here is what I concretely propose:

[code]

1. where maturity level is either `experimental` or `production`.
2. where there is a parallel tree under `/test`.
3. where all config registration is colocated with the extensions.

The benefits of this approach are:

1. Allows us to start having OWNER files for extensions different from core maintainers.
2. Much easier t

[2018-02-07 05:43] mattklein123 commented on #2069
My thinking was to break this for extensions and just put abstract interfaces and mocks (if any) directly with the test code of the extension so that it is self contained. The one thing to think about is what if extensions end up having common code. We might need some type of `common` directory, allow extensions to refer to each other, or potentially require common code to go on "core" Envoy. Thou

[2018-02-07 05:53] smartwjw commented on #886
`example.com:443` and `example.com` should be the same virtual host, but currently, grpc request whith port in `authority` got 404.

It will be great if envoy strip the standard port portion(like 443, or 80), then do domain match to decide which virtual host a request should go.

[2018-02-07 06:03] srikailash commented on #1344
Thanks for the update @mattklein123  . Following .

[2018-02-07 08:47] smartwjw opened #2544 "Access log filter based on authority"
I want to separate access log to different file per virtual host(In Nginx, it's easy), but I can not find  filter based on `:authority`.

[2018-02-07 12:17] Jeet007 opened #2545 "MSSQL protocol/filter support"
**Issue Template**

*Title*: *Connecting to mssql server through envoy*

*Description*:
I need to connect with mssql server via envoy. With a simple TCP network filter I can connect but it does not provide me any facility to redirect to different instances of mssql server using query params and other data like HTTP filter. I need to have a configuration where envoy just redirects me to correct mss

[2018-02-07 14:51] ccaraman commented on #2544
No, there isn't a filter for this scenario. However, it can be added easily. The new access log filter could take a generic header and a value or regex similar to the [rate limit header value match action](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#route-ratelimit-action-headervaluematch)

[2018-02-07 15:02] Jeet007 commented on #2545
@ccaraman : Can you provide me a hint about what should I do here?

[2018-02-07 15:03] alyssawilk commented on #2069
Things I don't love but have no good solution for - I feel like it's going to be harder/more-annoying to find code, and I dislike files moving around when we promote filters.  I don't see a good way around either so *shrug*

Mainly I have a bunch of questions :-)
Do we have definitions of what gets you over the bar to a production extension?   Significant time in production by a heavy user?  Activ

[2018-02-07 15:14] htuch commented on #2069
One thing to keep in mind is the growth of the binary itself. Do we want to keep Envoy suitable for very tight, resource constrained environments? E.g. in tiny containers or embedded applications? If so, it might be a good idea to have a plan to avoid unchecked growth in binary size. The model I'm thinking of is something closer to how the Linux kernel deals with drivers, with its config files. Th

[2018-02-07 15:31] ramaraochavali commented on #2471
@mattklein123 do you still want to add tests for this given that we have added the validation at startup?

[2018-02-07 16:56] mattklein123 commented on #2545
This will require a new protocol aware filter for MSSQL, much like we have for Redis, HTTP, Mongo, etc.

[2018-02-07 17:01] mattklein123 commented on #2069
We can just drop <maturity_level> from the directory structure if we don't think it would provide enough value and handle in docs? That would be fine with me.

I agree these are all good questions which I don't really have answers for. My suggestion would be to just iterate what we have today into a new directory structure, and then go from there. We can initially do nothing different other than d

[2018-02-07 17:02] mattklein123 commented on #2471
No I think we are good. I will close this. Thanks @ramaraochavali!

[2018-02-07 17:02] #2471 closed

[2018-02-07 19:27] vadimeisenbergibm commented on #1843
@PiotrSikora @mattklein123 any estimation when this feature will be implemented?

[2018-02-07 19:35] PiotrSikora commented on #1843
@vadimeisenbergibm I'm working on tests for this right now, PR should be out "soon".

[2018-02-07 19:45] Jeet007 commented on #2545
@mattklein123 : Is there any timeline on when this would be available in envoy?
Also mean while is there any other way like using "fillter_chain_match" for simple tcp proxying?

Please let me know as we are migrating to envoy for our new service mesh and this is very critical for this.

@ccaraman

[2018-02-07 19:50] mattklein123 commented on #2545
When someone cares enough to implement it?

I don't see how this can be done without writing some custom filter code.

[2018-02-07 19:51] vadimeisenbergibm commented on #1843
@PiotrSikora glad to hear it, good news!

[2018-02-07 20:03] Jeet007 commented on #2545
@mattklein123 : Sure. Thank you for your quick responses Matt.
Can you please guide me if I want to write an in house minimalistic implementation for this how should I go about that?

[2018-02-07 21:11] htuch commented on #2428
Another one in `proxy_protocol_test` https://circleci.com/gh/envoyproxy/envoy/24528?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-02-07 22:52] mattklein123 commented on #2545
I would probably take a look at redis, tcp_proxy, and mongo filters for some inspiration.

[2018-02-08 00:28] mpuncel commented on #2095
Is this being worked on right now? I was just looking into playing around with envoy and a prebuilt binary would make life much easier!

[2018-02-08 01:14] htuch commented on #170
Some folks at Google have asked for this to act in a similar capacity to the GCE metadata server, that servers HTTP/1.0. Looking at `http-parser`, it seems this has HTTP/1.0 support. I think the scope of the work is adding support in https://github.com/envoyproxy/envoy/blob/master/source/common/http/http1/codec_impl.cc, updating tests, and plumbing through HTTP/1.0 in various places we plumb HTTP/

[2018-02-08 01:24] mattklein123 commented on #170
I think it's more than a few days, but it's not that difficult. The main "complexity" is supporting the different Connection/Keep-Alive semantics between 1.0/1.1. I'm not sure that any changes to codec_impl.cc are required, possibly just removing the block in conn_manager_impl and dealing with the keep alive stuff. I'm sure @alyssawilk could do this within a week.

[2018-02-08 01:25] jrajahalme opened #2551 "`envoy --version` reports old git SHA"
*Title*: `envoy --version` reports old git SHA

*Description*:
Re-linking envoy binary no longer updates the git SHA linkstamp shown by `envoy --version`. This may be due to a change in bazel 0.10.0, from the release notes, under *Important changes*:

"- Linkstamping is now a separate and full-blown CppCompileAction,
it's no longer a part of linking command."

*Repro steps*:
[code]

Note that the

[2018-02-08 01:28] htuch commented on #2551
@jmillikin-stripe

[2018-02-08 02:00] jrajahalme opened #2552 "Excessive re-building triggered by commit 27c983b (#2534)"
*Title*: Excessive re-building triggered by commit 27c983b5d0c5c9bf788fc3a34b2df4c7202f8097 (#2534)

*Description*:
commit 27c983b5d0c5c9bf788fc3a34b2df4c7202f8097 (PR #2534) seemingly works as intended as long as the bazel server is running. If the bazel server is restarted, however, some, if not most, dependencies are re-built, taking about 10 minutes CPU time.

This issue is easy to see with th

[2018-02-08 02:02] jrajahalme commented on #2552
Should add that none of the related environment variables are defined (CC CXX CFLAGS CXXFLAGS LD_LIBRARY_PATH). I have not tested with any of them defined.

[2018-02-08 02:06] htuch commented on #2552
I'll take an AI to look into this. Would be helpful if you could set them to "" and see if it still does this as a data point.

[2018-02-08 02:08] jrajahalme commented on #2552
Do you know if setting these env variables to "" is safe? Would that not override some defaults with nothing?

[2018-02-08 02:13] jrajahalme commented on #2551
*Workaround*:

Manually remove `bazel-out/k8-fastbuild/bin/_objs/envoy/external/envoy/source/common/common/version_linkstamp.o` before a build.

Works for the (default) fastbuild in Linux, other architectures may need to replace 'k8-' with something else.

[2018-02-08 02:44] moderation commented on #170
I'm not in favor of supporting 1.0. From a financial services and therefore heavily regulated point of view, 1.0 will be something that will need to be turned off. 1.0 is insecure and old.

[2018-02-08 02:59] jrajahalme opened #2554 "v2 gRPC API for http_connection_manager backwards compatibility broken?"
This used to work on master two months ago, but now I get this error in Envoy logs and would appreciate some pointers:

[code]
I checked the API v2 protos, and http_connection_manager filter config still has the field "rds", which still has the field "config_source", which still has the field "api_config_source".

[2018-02-08 03:16] jrajahalme commented on #2552
Retested with `export CFLAGS=""` and `export CXXFLAGS=""`, still the same problem: rebuilds after each bazel server restart. Makes incremental docker builds practically impossible.

[2018-02-08 03:48] dignabbit opened #2555 "Broken build on OSX with Bazel 0.9.0"
*Title*: Broken build on OSX with Bazel 0.9.0

*Description*:
I cannot build current master (`97b69ce6a507471180c0585b6742c627962b433b`) on OSX. Maybe this is related to recent changes from https://github.com/envoyproxy/envoy/pull/2508 ?

*Repro steps*:
[code]

This though works:

[code]
@htuch, any idea?

[2018-02-08 04:47] mattklein123 commented on #170
I'm not sure I agree it's any more insecure than 1.1, but it is old, which is why I have had no interest in supporting it in the past. If we enable 1.0 we should do it behind a config option to allow people to keep it off if they want.

[2018-02-08 04:51] mattklein123 commented on #2554
cluster_name was renamed cluster_names. This was an unfortunate mistake before we fully knew what we were doing w/ back-compat. We should have reverted the change but we didn't. See also https://github.com/envoyproxy/envoy/issues/2423

[2018-02-08 04:51] mattklein123 commented on #2555
I'm pretty sure we only support newest bazel. Please upgrade to 0.10.0. cc @zuercher

[2018-02-08 04:54] mattklein123 commented on #2552
@htuch FYI I just tried it locally and this is also broken for me with our external build script outside of bazel:

[code]

Rebuilds for me every time.  It used to detect no changes.

[2018-02-08 13:43] jmarantz opened #2556 "envoy has many failing tests when run in an STL debug mode"
*Description*:
STL specifies multiple rules which appear to not be enforced in practice but, depending on the plaform, can cause undefined behavior.  There's a way to compile so that STL spends extra CPU time to enforce these rules.  Obviously you don't go to production like that but it's ultimately a good idea to try to add that to CI.  But first the tests need to work, and many of them don't.

[

[2018-02-08 13:45] jmarantz commented on #2556
More detailed example from //test/common/json:json_loader_test

[code]

[2018-02-08 14:58] htuch commented on #2555
Yeah, I'm going to close this one out, as I'm certain it's an issue with 0.9 vs. 0.10 compatibility. Please bump. We're definitely aware that this isn't ideal, we have plans in motion to reduce our dependency on Bazel version by eliminating our fork of `bazel/cc_configure.bzl`; once that is done we shouldn't have this same pain point. Feel free to re-open if you want to discuss further.

[2018-02-08 14:58] #2555 closed

[2018-02-08 15:04] jmarantz commented on #2556
Update; I'll poke around at this a little more but there is some kind of iterator copy-construction violation in the json library which might flood the report with benign issues we have little control over.

It's still useful in a targeted stl-intensive unit test though.

[2018-02-08 15:39] alyssawilk opened #2557 "Add support for terminating QUIC"
We’ve had a few off-line discussions on how to maybe go about this with @Mattklein123 but we’re now close enough it’s worth filing a tracking issue for it :-)

Here’s our plan A - any Envoy devs interested in QUIC support are encouraged to offer suggestions/improvements

Milestone 1 is to hack together “something which builds” using the existing Google QUIC code*, because as it turns out it takes

[2018-02-08 15:48] ggreenway commented on #170
1.0 support should be harmless.  Is it even necessary to be able to disable it?  Every 1.1 client will negotiate http1.1.  So if 1.0 was disabled, the effect would either be rejecting those requests, or treating them as 1.1 (which would cause envoy and the client to disagree about whether the connection should be kept alive).  So is it worth adding the extra complexity (new config knob, additional

[2018-02-08 15:51] alyssawilk commented on #170
@htuch I think proper HTTP/1 support would take someone Envoy savvy O(month), otherwise probably about twice as long.

The logic for keep-alive and chunking are straight forward but non-trivial to get right, but there's a long tail of other differences which are technically required.  Do you know if said users mainly want framing and connection close?  There's a nice summary of differences here: h

[2018-02-08 16:00] htuch commented on #170
Yeah, I think there's some confusion on the scope here. We don't want full HTTP/1 keep-alive and chunked encoding I think. We want enough to emulate the GCE/GKE metadata server, which should be more constrained (this is just serving up some simple files and key:value pairs). That's why I suggested O(days).

[2018-02-08 16:01] ggreenway commented on #2557
How close of a match is the quic threading model to envoy's?

Any known issues or expected pain points integrating google-quic into envoy?

[2018-02-08 16:04] ggreenway commented on #170
@htuch do you need http1 on the upstream or downstream side for this?  Which bits will you end up implementing?

[2018-02-08 16:25] mattklein123 commented on #2557
@alyssawilk Thanks for the great summary of the plan! Small ask: we are already tracking QUIC here: https://github.com/envoyproxy/envoy/issues/1193. Can we consolidate issues?

[2018-02-08 16:26] alyssawilk commented on #2095
I don't see it assigned, and it's still flagged help wanted, so I don't think anyone has picked it up as of yet.

Do check out the instructions for docker builds - I think for the most part Envoy is pretty easy to get up and running in a container at least and there's lots of helpful folk on slack if you run into any problems.

[2018-02-08 16:28] mattklein123 commented on #170
If we do HTTP/1.0 I would only do it for downstream connections. I don't agree that it would take 1 month+, since many of the things that are discussed in the document @alyssawilk points out Envoy doesn't deal with. I'm pretty sure an initial cut is literally:
1. Deciding if we want config guard or not in http_connection_manager
2. Removing HTTP/1.0 block in conn_manager_impl, potentially based on

[2018-02-08 16:44] taion809 commented on #2095
@mpuncel i'm still looking into this but i've gotten a bit behind due to work, I'll try to get something ready this week

[2018-02-08 17:06] ggreenway commented on #170
I agree with only needing it on downstream side.  That's all I need, at least.

[2018-02-08 17:10] alyssawilk commented on #170
+1 to downstream only for the first pass.  We always upgrade to HTTP/1 when forwarding upstream so that works for our* current and future needs.

*speaking as GFE and not Google - goodness only knows what everyone else is going to want in the long run ;-)

[2018-02-08 17:24] alyssawilk commented on #2557
@ggreenway Threading is fine - the was written for GFE (Google's HTTP proxy) and Chrome, which have compatible threading models with Envoy.

I think I covered the main pain points above. Pain point one being that the code isn't architected well for Envoy APIs (which we'll fix).  And pain point two being "external deps" - while we tried to abstract away non-QUIC-core concepts like "how do you imple

[2018-02-08 17:26] alyssawilk commented on #2557
@mattklein123 your call.  I liken the two to "TCP proxying" and "HTTP termination" so I think they're different enough to warrant different tracking bugs.    I also think they can be done substantially in parallel - I'm hoping @cmluciano will actually pick up UDP proxying while mpw@google/@juvexp will probably do the bulk of this one.

[2018-02-08 17:41] ihmccreery commented on #170
FYI the GoogleCloudPlatform/k8s-metadata-proxy ship sailed.

[2018-02-08 18:50] #2552 closed

[2018-02-08 20:31] jrajahalme commented on #2554
Thanks for the pointer, should have looked for closed issues as well as open ones. It also would have helped if the log message mentioned the offending field.

[2018-02-08 20:59] mattklein123 commented on #2554
Making the error messages better is in progress. Sorry for the trouble.

[2018-02-08 20:59] #2554 closed

[2018-02-08 21:00] mattklein123 commented on #2557
@alyssawilk if you think the issues are different no problem we can keep both.

[2018-02-08 23:00] brian-pane opened #2561 "TSAN error in SignalAction::sigHandler"
*Description*:
The [CircleCI TSAN run](https://circleci.com/gh/envoyproxy/envoy/24955?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link) for one of my pull requests caught what appears to be an existing problem: a signal-unsafe call to `new` due to string processing within a signal handler.

*Repro steps*:
This happened at least once by running the integration test

[2018-02-08 23:03] srikailash commented on #1344
Hello @mattklein123 or @danielhochman   , can you please check if this looks right (https://github.com/srikailash/data-plane-api/commit/17570cbb631a347bd4309c54c8adcd381c7b0f71) before i create a pull request  for data-plane-api .
I understand that next step would be to call lb_.reset() in cluster_manager_impl.cc with ZoneAwareLoadBalancer class if that's the case . Would implement that after gett

[2018-02-08 23:34] mattklein123 commented on #2561
@brian-pane I think this is likely a similar flake that we see occasionally w/ the gRPC tests. cc @htuch

[2018-02-08 23:37] mattklein123 commented on #1344
@srikailash not quite. I would add the zone aware setting to the new `CommonLbConfig` message: https://github.com/envoyproxy/data-plane-api/blob/master/envoy/api/v2/cds.proto#L352. It's basically already plumbed all the way through for healthy panic. You should be able to pull the value out similarly and use it as the default to the call to runtime.

[2018-02-08 23:53] nelhage-stripe opened #2562 "Better error response if `Host` doesn't match any known routes"
**Issue Template**

*Title*: Better error response if `Host` doesn't match any known routes

*Description*:

describe the desired behaviour, what scenario it enables and how it
would be used.

If I try to make a request for an unrecognized `Host`, I get back an extremely generic `404`:

[code]

This is confusing behavior, since an operator looking at the response at the client can't easily disting

[2018-02-09 00:08] mattklein123 commented on #2562
I'm not claiming this is less confusing, but Envoy will set the `x-envoy-upstream-service-time` header on proxied responses. Additionally, local responses like this would have the `NR` code in the access log. We can definitely consider adding a textual error in this case.

[2018-02-09 00:13] alyssawilk opened #2563 "Guard against double 100-continues"
Make sure that Envoy can still handle upstream 100-continues (likely by swallowing them) when proxy_100_continue is false.

Also add tests of POSTs since that's a more realistic 100-continue use case.

[2018-02-09 00:16] ggreenway commented on #2561
I've seen this one before.  It happens anytime a test fails under TSAN, I believe.

I think it is a real error.  It means that we could deadlock in a signal handler if things go wrong in a particular way.

However, I don't know that it is worth spending a lot of time fixing. The fix would be to remove all uses of fmtlib and std::string and c standard library IO from the signal handler logging (inc

[2018-02-09 00:27] zuercher commented on #2428
@alyssawilk to get the stack traces I ran the test directly from the command line in a loop, so I wasn't using runs_per_test. I tried to get it to reproduce today with bazel and runs per test and it's not as reliable as it was before.

[2018-02-09 03:59] brian-pane commented on #2561
I think this is worth fixing due to at least one failure mode that would be really bad in a production environment: getting stuck in the signal handler forever. If the implementation of any non-reentrant function called in this signal handler involves waiting for a mutex, for example, it's possible to end up in a situation where the function never terminates.  If that happens, the stack trace won'

[2018-02-09 05:10] dignabbit commented on #2555
Makes sense, thanks!

[2018-02-09 05:50] mattklein123 commented on #2085
Fixed.

[2018-02-09 05:50] #2085 closed

[2018-02-09 05:51] mattklein123 commented on #2180
I believe this was fixed in https://github.com/envoyproxy/envoy/pull/2402

[2018-02-09 05:51] #2180 closed

[2018-02-09 06:33] taiki45 commented on #2538
+1 to adding config validation logic around stats to avoid confusing, but as @mrice32 described we need a discussion about some topics around stats config. I'll file a new issue to discuss and track them.

[2018-02-09 15:07] srikailash commented on #1344
Got it . Change with this  https://github.com/srikailash/data-plane-api/commit/ff5490df98929beabb7a580e0710d287371cf3a4 .
Thanks .

[2018-02-09 16:43] mattklein123 commented on #1344
That looks about right. There are various requirements around documentation, etc., but that can be covered in normal code review. Thanks!

[2018-02-09 16:49] mattklein123 commented on #269
Fixed

[2018-02-09 16:49] #269 closed

[2018-02-09 16:59] ggreenway commented on #2561
Maybe we should turn it off by default (except for tests?), and document the risks where the instructions for enabling it are.

[2018-02-09 17:00] mattklein123 commented on #2561
SGTM

[2018-02-09 17:05] srikailash commented on #1344
Will go through documentation and try to fix as much as possible before submitting PR .
Thanks for the guidance .

[2018-02-09 18:22] #2067 closed

[2018-02-09 18:31] zuercher commented on #2455
@mandarjog are you still working on this?

[2018-02-09 20:20] wgallagher opened #2570 "support access log sampling < 1%"
Envoy access log sampling configuration currently takes an integer that represents a percentage. This makes it impossible to specify a sampling rate > 0 and < 1.  On high throughput services we would like to be able to specify .1%, etc.

[2018-02-09 21:27] htuch opened #2571 "Use absl thread annotations"
In various places we have locks and lock-protected variables, we should use https://github.com/abseil/abseil-cpp/blob/master/absl/base/thread_annotations.h to provide hints to the compiler and sanitizers for `GUARDED_BY` etc.

There's some investigation to be done to find a solution that works cleanly on Clang OS X, see https://github.com/envoyproxy/envoy/pull/2527 for example. Otherwise, it mostl

[2018-02-09 22:29] #2369 closed

[2018-02-10 07:19] dio commented on #2450
@pingles I have it working in my local using [this commit](https://github.com/dio/envoy/commit/4944380c6959da5ecd2f8d2ff0f3cdb11c390286), it was required for a use-case in my org. But since I found that making an additional test to [health_checker_impl_test.cc](https://github.com/envoyproxy/envoy/blob/master/test/common/upstream/health_checker_impl_test.cc) is not trivial for me (guess we need to

[2018-02-10 07:57] pingles commented on #2450
Ah cool, I haven’t had a chance to take a look (been distracted with some
other things at work). I’ll try and take a look next week and see if I can
help, thanks for mentioning it!

On Sat, 10 Feb 2018 at 07:19, Dhi Aurrahman <notifications@github.com>
wrote:

[2018-02-10 12:03] MohamedBouzid commented on #2570
I will be happy to contribute and help solve the issue. I am new to envoy and i am not sure where to find the configuration.

[2018-02-10 21:49] mattklein123 commented on #2570
The work here is modify the existing `RuntimeFilter` to accept a) a configured default, and b) a configurable divider (with defaults being 0 and 100, respectively). Then implementing this here: https://github.com/envoyproxy/envoy/blob/master/source/common/access_log/access_log_impl.cc#L92.

[2018-02-11 04:33] ldemailly commented on #1472
this continues to bite customers, users, developers...

[2018-02-11 05:05] snowp opened #2578 "Envoy does not build behind a proxy"
*Title*: Envoy does not build behind a proxy

*Description*:
Normally when behind a proxy one can specify proxy environment (`HTTP_PROXY`, `https_proxy`, etc.) variables which tells git and other tools to use a proxy when making outbound http/-s requests. However, due to parts of the envoy build chain ignoring these settings bazel is unable to pull down external repositories.

Example of what it l

[2018-02-11 14:00] jmarantz opened #2580 "MainCommonTest (pending) breaks SignalsTest when run in same binary in coverage tests."
*Description*:
 MainCommonTest works fine in coverage tests, but it appears to break SignalsTest when run in the same process.  It appears that MainCommon doesn't completely clean up after itself, most likely due to a bug in SignalAction.  So for now, we can test MainCommon but can't measure its test coverage.

[optional *Relevant Links*:]
MainCommonTest doesn't exist yet, but is in https://github

[2018-02-11 18:06] mattklein123 commented on #2578
@snowp thanks a lot for working on this. I would really love to get this solved once and for all and clearly documented somewhere. cc @jmillikin-stripe

[2018-02-11 19:54] taiki45 opened #2583 "Native gRPC health checker must send a `scheme` header"
*Description*:
I tried Native gRPC health chekcer which was implemented with https://github.com/envoyproxy/envoy/pull/2316, but the checker does not send `sceheme` header. The `scheme` header is required for valid HTTP/2 request:

https://http2.github.io/http2-spec/#rfc.section.8.1.2.3

The problem is, some gRPC server implementations (in my case, it's Ruby implementation) reset streams with the m

[2018-02-11 21:18] mattklein123 commented on #2583
Thanks for the detailed investigation. I think the correct fix is to use `FilterUtility::setUpstreamScheme` from the HC code in this case. The rest of the code sets scheme from inside the router using this utility.

[2018-02-12 14:33] trabetti commented on #1244
About a month ago, Netflix has stopped development of Hystrix Dashboard, and recommends using it only behind authorization checks. See https://github.com/Netflix-Skunkworks/hystrix-dashboard.
We believe that producing an Hystrix event stream could still have value in Envoy but wanted to get your feedback before doing further work.

[2018-02-12 15:03] alyssawilk commented on #2562
I'd lean towards keeping the rc 404 since I think that's the most appropriate comment by the spec.  Have we thought about adding the Server: header on Envoy-generated responses?    That'd help debug-ability as well, and for more than just 404.

[2018-02-12 17:18] mattklein123 commented on #1244
@trabetti I don't have an opinion. No one has asked me for this feature.

[2018-02-12 17:59] mattklein123 commented on #2570
@MohamedBouzid we need this change at Lyft and I have some pare time today so I'm going to take care of this. Thank you for offering to help out.

[2018-02-12 19:59] MohamedBouzid commented on #2570
Ok I was working the whole day, is there anything else i can contribute to  or work on ?

[2018-02-12 20:01] #2503 closed

[2018-02-12 20:43] mattklein123 commented on #2570
Take a look at the other help wanted / beginner items!

[2018-02-12 21:49] brian-pane opened #2590 "Improve the logic for XFF and internal/external client detection"
*Description*:
Per the discussion in PR [2559](https://github.com/envoyproxy/envoy/pull/2559), Envoy's logic for determining whether any given request is internal or external, and what the trusted address of the origin client is, has become very complicated. And even with this complexity, the mechanism isn't sufficiently general to cover the needs of all users.

One potential improvement would be

[2018-02-12 22:52] #2563 closed

[2018-02-12 23:00] #2267 closed

[2018-02-12 23:03] dio commented on #2450
@pingles as communicated, allow me to do the PR 🙇

[2018-02-13 00:16] #2583 closed

[2018-02-13 01:37] coder-ad opened #2593 "feature request: RoundRobin policy that is global to all workers"
*Title*: RoundRobin policy is not strictly followed

*Description*:
One of requirement of our application is to maintain equal load on all back-end servers.  This is to avoid delay in response time as ours in real time application. We are using envoy to load balance request and configured envoy to use round robin load balancing.  We observed that Envoy Proxy is not following round robing policy st

[2018-02-13 03:00] kenjones-cisco opened #2594 "envoyproxy with v2 ADS Discovery not routing"
**Issue Template**

*Title*: envoyproxy with v2 ADS Discovery not routing

*Description*:
Using envoyproxy v1.5.0 (`FROM envoyproxy/envoy-alpine:v1.5.0`) with an implementation of the the v2 ADS Discovery API.

I can see the correct configuration being received by the envoyproxy. (see link for logs below).
Behind the proxy are two microservices, `tenantmgr` and `openstack-svc`. There are 2 differe

[2018-02-13 03:15] kenjones-cisco commented on #2594
From Admin Interface:

Routes
[code]

Clusters
[code]

[2018-02-13 13:38] christian-posta opened #2595 "Shadowing should add "-shadow" to host, not after port"
When shadowing traffic, Envoy adds `-shadow` to the end of the host string which is added as the `Host` header.

If you send to http://foobar:8000, Envoy will shadow that traffic and set the Header to `Host: foobar:8080-shadow`

With certain servlet containers (namely, Apache Tomcat), the protocol connector will try and parse the Host header and barf when it tries to parse the port as `8080-shadow

[2018-02-13 14:23] dio commented on #2595
@christian-posta if I understood correctly, you want something like https://github.com/dio/envoy/blob/split-port/test/common/router/shadow_writer_impl_test.cc#L54?

[2018-02-13 15:25] cmluciano commented on #492
Ok I cleanup up some of the comments in the [Google doc](https://docs.google.com/document/d/1G9IVq7F7Onwinsl6EYzGsdzAGvVbo2FGfcPt35ItIx8/edit?usp=sharing). There are some remaining comments left for reference when we transition to version 2 work or we want to recall discussion for current tasks.

I moved use-cases that we are unsure of or definitely have punted on for the future to a new heading.

[2018-02-13 15:27] christian-posta commented on #2595
Yes, exactly right @dio!

[2018-02-13 15:36] srikailash commented on #1344
Thanks for merging @mattklein123  , htuch. Changes to https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/load_balancer_impl.cc#L17 to use values from configuration instead of runtime has to be done as a part of this issue or can this be closed ?

[2018-02-13 16:02] alyssawilk commented on #2593
Could you perhaps run this with Envoy logs?  Keep in mind that Envoy will assign incoming requests to connections in round robin order but if you have Envoy configured to only use one stream per connection, each time it does this selection it will likely have to prefetch a new TCP connection, which means requests will be proxied to backends based on the connection establishment time, and slow back

[2018-02-13 17:21] ramaraochavali commented on #1965
@jmarantz are you working on this? if yes, any idea on when we can expect this?

[2018-02-13 18:05] jmarantz commented on #1965
Actually I'm not; I'm looking more at perf related stuff.

I do have a candidate shared-memory histogram implementation I've been used in a different project, but I don't think it meets the dynamic bucket sizing requirements stated above.  It does, however, handle concurrent updates from multiple processes, and has a fair amount of mileage on it.  https://github.com/apache/incubator-pagespeed-mod/

[2018-02-13 20:04] vjsamuel opened #2597 "envoy prometheus endpoint fails promlint"
*Title*: *envoy prometheus endpoint fails promlint*

*Description*:

[optional *Relevant Links*:]

[code]

The error reported by promlint is as follows:
[code]

Can this be fixed please so that the prometheus endpoint abides to the standard?

[2018-02-13 21:32] pingles commented on #2450
@dio please do!

[2018-02-13 22:58] #2450 closed

[2018-02-14 00:47] PiotrSikora commented on #1472
@ldemailly what would be your ideal solution here? Bumping log level to `info`, so that's visible in the error logs (but I don't think there is a precedent for that) or added as a new flag to %RESPONSE_FLAG% in [access logs]?

[access logs]: https://www.envoyproxy.io/docs/envoy/latest/configuration/access_log

[2018-02-14 00:55] evantorrie commented on #1843
Also interested in this

[2018-02-14 01:49] ldemailly commented on #1472
have it in the access/errror log with some useful / minimal code/message
it's not a "logging" event (though some detailed logging would help) it's a regular failed request

[2018-02-14 01:50] ldemailly commented on #1472
ie somesort of 5xx code

[2018-02-14 02:54] vijayendrabvs opened #2602 "What's the recommended way to disable TLS 1.0 for envoy?"
**Issue Template**
N/a

*Title*: *One line description*
What's the recommended way to disable TLS 1.0 for envoy?

*Description*:
It would be good to be able to disable specific versions of TLS that are supported by envoy - for example, 1.0, 1.1, so only 1.2 would be used in negotiations with clients. Is this currently doable as a configuration in envoy? It wasn't clear from the envoy documentation

[2018-02-14 04:09] ramaraochavali commented on #1965
@jmarantz ok.thanks for the details. those are very useful.

[2018-02-14 04:27] coder-ad commented on #2593
In this specific service, we achieve concurrency by running multiple process [say 6 process] per backend host wherein each process serve only 1 request at a time.
We do not prefer to allow more than one concurrent stream on same TCP connection and hence we set  maxConcurrentStream=1.
Reason - without maxConcurrentStream=1, there are higher chances that multiple streams are given to same backend pr

[2018-02-14 05:45] gregdurham commented on #2421
+1

[2018-02-14 14:38] alyssawilk commented on #2593
And one more thing to confirm - you're running Envoy with --concurrency=1 to ensure there's only one worker thread?  As said before if you have multiple worker threads you can absolutely not expect anything like the round robin you're hoping for.

[2018-02-14 17:52] eflee opened #2605 "New Getting Started Documentation"
*New Getting Started Documentation*: *A new getting started flow, based on incremental v2 YAML configs.*

*Description*:

- Develop an entire new getting started flow, based on incremental v2 YAML configs, explained roughly line by line with links to the deeper reference docs.
- Example: Take https://github.com/envoyproxy/envoy/blob/master/configs/google_com_proxy.v2.yaml and show how to run it an

[2018-02-14 17:58] eflee opened #2606 "Getting started with V2 Config"
*Getting started with V2 Config*: Based on the existing example V2 config, explain how the config variables work, what each of them do, and how to bootstrap your own config

*Description*:
- https://github.com/envoyproxy/envoy/blob/master/configs/google_com_proxy.v2.yaml
- Break the above down in a line-by-line explanation doc.
- Link out to reference for each configuration variable, explaining th

[2018-02-14 18:00] ggreenway commented on #2602
It can be set in TlsParameters via the min and max protocol version: https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/auth/cert.proto.html#envoy-api-msg-auth-tlsparameters.

[2018-02-14 18:01] eflee opened #2607 "Example V2 YAML Configs"
*Replicate and convery V1 config examples to V2 YAML*: *More thorough V2 examples*

*Description*:
- https://github.com/envoyproxy/envoy/tree/master/configs
- Convert existing examples over to V2 config.
- V1 is still supported, create a doc that explains the difference in configuration methodologies and links to various examples

[2018-02-14 18:12] ggreenway commented on #2602
Closing this for now.  I think this ties in with https://github.com/envoyproxy/envoy/issues/2607: having an example config that sets up TLS would probably answer questions like this.

[2018-02-14 18:12] #2602 closed

[2018-02-14 22:53] postwait commented on #1965
Also, https://github.com/circonus-labs/libcircmetrics has a latency optimized, contention-coping histogram implementation in it as well.  We use it all over the place for high-frequency histogram collection in multi-threaded apps.  It basically just stored metrics (including as histograms) and exposes them. It's thin with few dependencies.  All histogram insertions are sub 10ns.

[2018-02-15 01:59] songole commented on #1630
@PiotrSikora @mattklein123 We are also interested in this solution. However, the rfc is a draft and I guess the preferred solution may not be available anytime soon.  Do you still recommend the previous approach in the mean time? Or, is there an easier solution with Websocket and avoid HTTP/2 ? The payload to tunnel for us is HTTP/1.1.

[2018-02-15 09:23] PiotrSikora commented on #1630
@songole I don't have cycles to work on it right now, but I do recommend implementing the draft, the final version won't differ much from it (if at all).

[2018-02-15 13:13] coder-ad commented on #2593
We did not set --concurrency so default value is used. We will try with --concurrency=1 and check again and update here.

But single worker might give lower performance. So, is there any way that we use single worker only for backend selection of http2 stream and all subsequent processing of that stream happen in multiple workers?
This way we could acheive true round robin policy as well as parall

[2018-02-15 15:28] ttindell2 opened #2620 "XFCC set_current_client_details: Allow to set "Hash" and "By""
*Title*: *XFCC set_current_client_details: Allow to set "Hash" and "By"*

*Description*:

*Example Use Case*:

*Proposed Solution*:

[code]
| Name    | Type         | Description                                                             | Default |
|----------|------------|-------------------------------------------------------|-------|
| subject  | BoolValue | Whether to forward the subject of

[2018-02-15 17:23] ggreenway commented on #2593
No, there is not currently any way to accomplish that with concurrency > 1.

[2018-02-15 19:25] htuch opened #2625 "Replace git_sha_rewriter with Bazel native approach"
Bazel lost its forced md5 stamping a while back, so we should be able to use a `genrule` and `-Wl,@$(location :label_for_the_file)` in linkopts to replace the https://github.com/envoyproxy/envoy/blob/master/tools/git_sha_rewriter.py hack.

[2018-02-15 19:26] htuch commented on #2625
See also https://github.com/bazelbuild/bazel/issues/2805.

[2018-02-15 20:14] #2029 closed

[2018-02-15 21:30] taion809 commented on #2095
@bndw that's the plan right now, i'm actually working on this right now see: https://circleci.com/gh/taion809/envoy-build-tests

[2018-02-15 22:00] snowp commented on #2578
Getting a working copy of rules_go into envoy is currently blocked on our unix toolchain. Envoy uses a forked toolchain which defaults to g++ instead of gcc, which means we can't compile the C files that rules_go brings in (see https://github.com/envoyproxy/envoy/issues/839).

This is the current workaround that I've been using internally:

* override rules_go to use version 0.9.0 (I build envoy a

[2018-02-15 22:33] shalako commented on #129
@mhoran Just discovered this fork and thinks it might work
https://github.com/microsoft/envoy/tree/sridhar/win32_port

but there may still be work to get it working with the required build system...
https://github.com/Microsoft/envoy/tree/sridhar/win32_port/win32_build

[2018-02-15 23:09] thebadpete commented on #2539
I took a stab at exposing request info. Looks like the StreamHandleWrapper is created at (1.5.0 tag)

https://github.com/envoyproxy/envoy/blob/v1.5.0/source/common/http/filter/lua/lua_filter.cc#L423

And the StreamDecoder/EncoderFilterCallbacks are set earlier via

https://github.com/envoyproxy/envoy/blob/v1.5.0/source/common/http/filter/lua/lua_filter.h#L249
https://github.com/envoyproxy/envoy/bl

[2018-02-16 00:46] kavyako commented on #129
@sridmad : for more details about the windows port.

[2018-02-16 01:26] pcn commented on #88
And https://www.envoyproxy.io/docs/envoy/v1.5.0/operations/cli#cmdoption-base-id

[2018-02-16 01:48] louiscryan commented on #2421
+1

@htuch any chance someone could take a look at this. Would love to be able to get a dump back in ADS form (or some other stable API) that we could rely on when writing complex integration tests in Istio to detect when configuration has propagated.

[2018-02-16 02:14] jsedgwick commented on #2421
I'll work on this - I'll try to prioritize it as there seems to be a lot of interest

[2018-02-16 14:41] jmarantz opened #2632 "investigate http2 performance under chaos testing under 3% packet loss"
*Description*:
Dan Tehranian wote in a twilio blog post "Discovering Issues with HTTP/2 via Chaos Testing". About how packet loss creates a latency spike in Envoy under HTTP/2

I haven't dived into this deeply yet, but I wanted to capture the issue so it doesn't get lost.

*Relevant Links*: https://www.twilio.com/blog/2017/10/http2-issues.html

[2018-02-16 15:06] htuch commented on #2625
See also https://docs.bazel.build/versions/master/user-manual.html#workspace_status (improved docs on workspace status command) and related documentation issue https://github.com/bazelbuild/bazel/issues/2893.

[2018-02-16 15:20] cmluciano commented on #2561
Is this fixed by https://github.com/envoyproxy/envoy/pull/2568 ?

[2018-02-16 15:55] glicht opened #2634 "DNS lookup AUTO settings doesn't fallback to V4 when a single CNAME entry is returned"
*Title*: *DNS lookup AUTO settings doesn't fallback to V4 when a single CNAME entry is returned*

*Description*:
I am just getting started with envoy, so I might be wrong here and missing something.

When working with a cluster that has a host address with a single CNAME entry returned for IPv6 lookups, envoy will not fallback to do a lookup using IPv4. From looking at the code at dns_impl.cc it l

[2018-02-16 16:32] cbenien opened #2635 "Routing decision based on first body chunk?"
This is a question, not a bug report.

I have a project with a difficult application protocol over HTTP. The use case involves streaming data from the client to the server in HTTP chunked encoding. The first chunk contains a session token.

What we want to achieve is a load balancing solution where requests with the same session ID end up with the same backend server, something that would be very

[2018-02-16 16:33] htuch commented on #2421
@gsagula is interested in taking a look. @jsedgwick can you coordinate with @gsagula and decide how to approach this? Please ping me on Slack for more detail.

[2018-02-16 16:56] tehranian commented on #2632
👀

[2018-02-16 17:12] gsagula commented on #2421
@htuch It makes more sense to assign it to @jsedgwick
I can work on some other issue. Thanks!

[2018-02-16 17:32] htuch commented on #2421
Cool, reassigned to @jsedgwick.

[2018-02-16 19:42] ccaraman opened #2636 "config validation: reconcile the two config validation paths"
The envoy binary supports a validate mode to check the validity of a configuration and there is a config check tool that does the same.  The config check tool should be updated to use the Validation mode in Server.

Server Validation https://github.com/envoyproxy/envoy/blob/master/source/server/config_validation/server.cc

Config check tool
https://github.com/envoyproxy/envoy/blob/master/test/conf

[2018-02-16 20:12] htuch commented on #2636
+1 I think having convergence here would be great, if only to ensure we're getting burn time on the server validation path; it has some significant initialization reimplementation, so good to keep it in active use.

[2018-02-17 00:06] danesavot commented on #815
I'm running into the same issue today.

I can access the service from the container using curl but not able to accesss through the envoy container.
My envoy.yaml

tatic_resources:
  listeners:
  - address:
      socket_address:
        address: 0.0.0.0
        port_value: 10000
    filter_chains:
    - filters:
      - name: envoy.http_connection_manager
        config:
          codec_type: auto

[2018-02-17 03:28] yuvipanda commented on #1752
Heya! The current docs for v1.5.0 or latest seem to say that this change is no longer valid (https://www.envoyproxy.io/docs/envoy/v1.5.0/api-v2/rds.proto.html#routeaction under 'use_websocket'). The doc changes in #1792 seem to be no longer present. Is that a miss during repo changes or has this change been reverted?

I do get an error `upstream connect error or disconnect/reset before headers` wi

[2018-02-17 03:30] yuvipanda commented on #1752
The error is PBKAC, but the doc issue seems real.

[2018-02-17 17:35] gsagula commented on #2169
@htuch I'm interested in this issue. Could you assign it to me, please? Thanks.

[2018-02-17 20:08] adrienjt opened #2638 "mTLS and traffic split"
# Background

I am preparing a traffic shift from a web API in a Swarm cluster (let's call it `swarm_api`) to the same API in a Kubernetes cluster (`k8s_api`). The two clusters are on distinct private networks. The API's clients are on the same private network as the Swarm cluster, making requests over HTTP. However, the Kubernetes cluster is isolated (and fully managed by a cloud provider; the no

[2018-02-18 07:53] brian-pane commented on #1001
I was just thinking about how to use this filter in a route matching rule.

If a route wants to match on IP tag `example`, it needs to use a regex like `(^|[ \t,])example($|[ \t,])` because the tag could appear in the start, middle, or end of a comma-delimited `x-envoy-ip-tags` value.  (I _think_ that's the right regex, based on HTTP's [grammar](https://tools.ietf.org/html/rfc7230#section-7) for c

[2018-02-18 08:18] anirudhmurali opened #2639 "Unable to build Envoy with Bazel"
*Title*: Unable to build Envoy with Bazel

*Description*:
I was getting started with Envoy, and followed the [Quick start build for developers](https://github.com/envoyproxy/envoy/blob/master/bazel/README.md#quick-start-bazel-build-for-developers).
Installed bazel, golang, buildifier, other required dependencies with Homebrew, fetched the source and built all the external dependencies successfully

[2018-02-18 10:47] srikailash commented on #1522
Hello @junr03 , i can work on this issue . Have some questions regarding implementation
1. I see that "/admin" has a bunch of actions (for example clusters and routes) , do you want me to add separate proto apis for each of them .
2. Work for this issue will be first adding proto to data-plane-api and modify https://github.com/envoyproxy/envoy/blob/master/source/server/http/admin.cc to use apis ,

[2018-02-18 14:12] dio commented on #2635
Hi, @cbenien I'm not sure if you favour taking the c++ path. I tried to play around with your case in here: https://github.com/dio/envoy-filter-example/tree/experiment-2635 (modified version of [envoy-filter-example](https://github.com/envoyproxy/envoy-filter-example) to accommodate your case) in this very commit: https://github.com/dio/envoy-filter-example/commit/ad3f926fffdbd1ab0baf901c34d8bf14d

[2018-02-18 16:11] solyd commented on #2421
+1

[2018-02-18 19:23] mattklein123 commented on #1965
I'm also favoring using libcircmetrics per @postwait at this point. I don't think we need shared memory support for the histograms. @ramaraochavali if you do want to work on this feature let's do a proper design doc before coding (gdoc which lays out goals, proposed changes, etc.) as this is a pretty complicated one.

[2018-02-18 19:26] mattklein123 commented on #2539
@thebadpete the issue is that the upstream host is not selected until the router is run. What you might be looking for is actually some type of filtering functionality on the upstream requests themselves? This has been asked for several times and I think we will do this eventually but it's a really complicated feature. What are you trying to do exactly?

[2018-02-18 19:27] mattklein123 commented on #2634
@glicht this sounds like a bug to me and I suspect why we have seen various complaints about AUTO not working in certain cases. If you can fix that would be great.

[2018-02-18 19:29] mattklein123 commented on #2632
@jmarantz FYI this behavior is inherent in the HTTP/2 protocol and there is not very much that Envoy can do to improve the situation. The only thing that would help, which I have considered in the past, is allowing the HTTP/2 connection pool to create > 1 connection per upstream hosts. So basically at the cost of memory a user could reduce HOL blocking issues if they desire. I guess we can use thi

[2018-02-18 19:31] mattklein123 commented on #1752
@yuvipanda please do a doc PR and fix!

[2018-02-18 19:34] mattklein123 commented on #1001
@brian-pane that sounds reasonable to me. As a companion change, we likely want to add the IP tags to `RequestInfo` also for logging, use in matching, etc. cc @ccaraman

[2018-02-18 19:37] mattklein123 commented on #2607
This is a duplicate of https://github.com/envoyproxy/envoy/issues/2139. Let's use the previous issue to track since there has already been some discussion there.

[2018-02-18 19:37] #2607 closed

[2018-02-19 02:43] dio commented on #2597
This is interesting, while I'm not familiar with the code, should we fix this in tags level (how we tag things) or just how we present this as what Prometheus wants? For the latter I can see that we can have: `envoy_listener_http_downstream_rq_5xx` as metric_name for a tag with `envoy_response_code_class="5"`, hence no duplication in `TYPE`s.

[2018-02-19 03:19] vjsamuel commented on #2597
The `TYPE` should be represented only once in the endpoint per unique metric name. Hence while looping through the counters/gauges there should be a check in place to do it only once. There might be other lint based errors once this is fixed. The entire endpoint should be reviewed for compliance hopefully with this issue.

[2018-02-19 11:04] ramaraochavali commented on #1965
@mattklein123 i looked at it briefly yesterday and felt that shared memory histogram is very complicated and it is not worth the complexity here. if i get to work on this, sure, will create a design doc.

@postwait are you talking of `STATS_TYPE_HISTOGRAM_FAST` when you mentioned libcircmetrics has latency optimized histogram? Do you have sample usage patterns?

[2018-02-19 15:10] postwait commented on #1965
The STATS_TYPE_HISTOGRAM and STATS_TYPE_HISTOGRAM_FAST are both good options.  The "fast" version has a more stable runtime as the overall bin count grows.  To be clear, they are both fast and they both have CPU fanout to reduce cross-thread contention.

[code]

You can also add a `double` using `stats_set_hist(...)`, but if you already have a measurement in integer form using the `_intscale` vari

[2018-02-19 16:41] anirudhmurali commented on #2639
Updated gcc to `7.3.0` and ran again. Still the same.
`gcc: error: unrecognized command line option '-fobjc-link-runtime'; did you mean '-fgnu-runtime'?`

[2018-02-19 18:43] htuch commented on #2639
@zuercher this looks like an OS X issue, any idea?

[2018-02-19 21:45] brian-pane commented on #1001
I created data-plane-api PR #503 based on my proposal. It also moves the basic CIDR-to-tag mapping out of the HTTP-specific part of the v2 schema into the core, in support of two potential future use cases (outside the scope of this issue) : IP tagging support for protocols other than HTTP, and a new xDS type for dynamically loading IP tagging configs from the control plane.

[2018-02-19 23:00] thebadpete commented on #2539
Specifically we are porting some internal ATS plugin functionality over to Envoy as we want to adopt Envoy internally at my company. However our security folks enforce their own IP checks to determine if a proxied request is internal or not. And we are required to add the caller's IP for tracing purposes via custom request headers.

In ATS world, the request/response flow can be captured in a so-c

[2018-02-19 23:58] srikailash commented on #2092
Hello @mattklein123, I can work on this issue. Made a sample implementation here : https://github.com/srikailash/envoy/commit/54745c23052032052e4386d05ac38074c08b6cf3 . Once we decide on what exactly is going to be the name in configuration(rds.proto) for the regex entries. I can change code accordingly and submit a working pull request. Let me know if that looks good.
Thanks in advance!

[2018-02-20 00:25] codesuki commented on #2167
Just found this issue by accident.
Maybe I find the time to add an example in the near future. For now maybe this helps?
[code]

[2018-02-20 00:53] cetanu opened #2643 "Filter VS Filter"
I'm new to Envoy and I'm reading through the documents and I see that there are types of filters, such as:

* http_connection_manager
* echo
* tcp_proxy

etc...

But then, inside each of these filters configs, there is ANOTHER thing called a filter. But these filters are not the same as the aforementioned; they are things like:

* router
* health_check
* lua

So, is this a deliberate duplication o

[2018-02-20 00:57] cetanu commented on #2643
Actually nevermind, this only seems to apply to the http_connection_manager filter, and the key is http_filters. Still, the entire schema is quite confusing.

[2018-02-20 00:57] #2643 closed

[2018-02-20 09:48] ramaraochavali commented on #1965
@postwait thank you so much for the usage patterns. So is getting the output using `stats_recorder_output_json` is the only way to get the output? I looked at the [api](https://github.com/circonus-labs/libcircmetrics/blob/be07ff63aed92f8a6c6603bf4663cab5ef13ad2e/src/cm_stats_api.h) and looks like there is no other way. Am I missing some thing here? or is there a simpler way to get the histogram va

[2018-02-20 11:22] cbenien commented on #2635
@dio Wow, this is amazing, thank you! After I got over the inital hurdle of compiling Envoy, it worked like a charm.

For others who are also interested in the solution: there are some issues with the code (e.g. the request times out if you make a GET request). I'll clean this up and post the new version later.

[2018-02-20 11:22] #2635 closed

[2018-02-20 11:52] philbour commented on #865
Has anyone got anywhere with this?

[2018-02-20 12:51] SniperCZE opened #2645 "Cannot build under ubuntu 16.04 LTS"
*Title*: *Envoy loadbalancer cannot compile under Ubuntu 16.04 LTS*

*Description*:
I'm trying to compile Envoy under Ubuntu 16.04. I've installed all required libraries but compilation still ends with errors in etc_authz_lib. Build log in attachment.
[envoy_build.log](https://github.com/envoyproxy/envoy/files/1740083/envoy_build.log)

[2018-02-20 12:57] postwait commented on #1965
@ramaraochavali in the current API, yes.  It does that to ensure a minimal locking pattern on the underlying tree.  It would be quite simple to expose specific histogram operations as well.  What did you have in mind?  Getting at a raw histogram isn't often that helpful.  As one of the maintainers of libcircmetrics, I'm happy to introduce APIs to solve commonly needed use cases.

As for configurin

[2018-02-20 13:22] dio commented on #2635
@cbenien 🙌

Yeah, sorry for that. Probably you can just do the following:

[code]

[2018-02-20 14:05] ramaraochavali commented on #1965
@postwait awesome. thanks. I am still going through the details to figure out if any additional apis are required. I am definitely not suggesting to get the raw histogram but was thinking about an api like `getSnapshot` which would return a structure with different bin values some thing similar to [this](http://metrics.dropwizard.io/3.1.0/apidocs/com/codahale/metrics/Snapshot.html). Does it make s

[2018-02-20 14:08] mpuncel commented on #1605
+1 for this. We're looking at deploying envoy to multi-tenant machines, and we would like to set up a listener for each tenant for egress using a unix socket 1) so we don't have to worry about port conflicts and 2) so we can use filesystem permissions to control access to the listener

[2018-02-20 14:09] #2595 closed

[2018-02-20 14:47] postwait commented on #1965
@ramaraochavali Oh! Those aren't histograms.. those are "math on histograms."  The super frustrating part of those APIs is that once you get that single (or small set of) math operation, the rich histogram data is gone.  It would certainly be possible to expose those statistical calculations on the underlying histograms; we just need to agree on what the API should look like.  If you want a copy o

[2018-02-20 15:08] alyssawilk commented on #2632
(will be) Fixed by #2557  ;-)

[2018-02-20 15:10] dnoe opened #2647 "Get thread annotations to actually work"
*Description*:
We have some data structures which have been annotated with the Clang thread annotations GUARDED_BY, etc. But they aren't actually enforced, since we don't compile with `-Wthread-safety-analysis`. When this option is turned on there are bigger problems. It appears that `std::mutex` is not compatible and thus the annotations don't detect that the lock is properly held.

It may be req

[2018-02-20 15:19] ramaraochavali commented on #1965
@postwait Great. Thanks for the clarification. Looks like getting a copy of it using `getCopy` and doing the statistical math ourselves seems to be an option. Will definitely let you know if we need those higher level statistical calculation apis.

[2018-02-20 15:29] ramaraochavali commented on #1965
@mattklein123 Given the shared histogram complexity and our general inclination to libcircmetrics at this point, how about the following approach?

- Manage these histograms at `Sink`. We could have these histograms defined at Sink layer.
- Whenever, `onHistogramComplete` on `Sink` is called, we push the value to corresponding histogram.
- We can introduce `flushHistograms` method on Sink, that ca

[2018-02-20 16:06] alyssawilk commented on #2092
Thanks for the patch!  @mattklein123 is (mostly) out for the next few weeks so I'd encourage you to do best-effort naming and send out a PR for the data plane change, and your reviewer will help on naming support :-)

[2018-02-20 16:15] alyssawilk commented on #2645
I think you caught us with a broken build :-)

It should be fixed at head by
https://github.com/envoyproxy/envoy/pull/2646

Can you do a fresh pull and try again?

[2018-02-20 16:21] htuch commented on #2647
This is kind of a dupe of (but contains more recent information than)  https://github.com/envoyproxy/envoy/issues/2571.

[2018-02-20 17:18] sureshvis commented on #1843
very much interested. We do this today using Apache Traffic Server proxy.

[2018-02-20 17:46] zuercher commented on #2639
I've never tried to build with homebrew-installed gcc, but it looks like bazel is assuming clang and passing clang-specific flags to gcc.

[2018-02-20 18:43] anirudhmurali commented on #2639
It first caused in Homebrew-installed gcc 4.9, and then I downloaded the gcc 7.3.0 source, ran configure, make and installed it. The error still persisted. I'll see if it possible to make bazel to use clang instead of gcc.

[2018-02-20 18:46] junr03 commented on #1522
1. Yes, the idea is that each action would have a defined proto.
2. Correct again.

@srikailash happy to see some work in this area, @jsedgwick at Lyft is also starting to work on this, so I would like to avoid work duplication. He is mostly working on new endpoints so his work (both in defining the protos and adding the endpoints to the admin interface) should be parallelizable with moving the ex

[2018-02-20 21:33] brian-pane commented on #1001
@alyssawilk I think this got closed as a side-effect of the merge of #2614. There's still another PR or two need to finish this feature.

[2018-02-20 21:41] alyssawilk commented on #1001
Ah, I guess partially fixed gets regexd as fixed :-)

[2018-02-20 21:51] dnoe opened #2649 "//test/exe:main_common_test is broken in IPv6 only environments"
*Description*:
The recently added //test/exe:main_common_test does not work in IPv6 only environments, because the YAML file used by it uses 0.0.0.0 as a listening address. The test is not parameterized on IP versions in the manner of our other tests.

It can be temporarily worked around by no-oping the test when run in a non-IPv4 supporting environment, but it should be fixed properly to run in I

[2018-02-20 23:56] jsedgwick opened #2651 "Adopt absl::optional"
Envoy's custom Optional is anemic compared to absl (https://github.com/abseil/abseil-cpp/blob/master/absl/types/optional.h) and folly (https://github.com/facebook/folly/blob/master/folly/Optional.h)

For instance, envoy Optional doesn't have move ctors and doesn't do some finger-saving type inference.

Replace with one of the above, presumably absl's since that's already an envoy dep.
AFAICT the b

[2018-02-21 00:12] jmillikin-stripe commented on #2639
I remember seeing a similar error when upgrading the local Clang toolchain. IIRC the C compiler configuration won't automatically get regenerated if `$PATH` changes.

Try running `bazel clean --expunge ; bazel shutdown`, make sure `which gcc` is the path you expect, and then try building again.

[2018-02-21 00:17] jmillikin-stripe commented on #839
This is fixed now, using the wrapper script in https://github.com/envoyproxy/envoy/pull/2631.

[2018-02-21 01:15] dnoe commented on #2651
Obviously I'm biased but I'd *love* to see us switch to absl::optional. This would be a nice project for a newcomer, too.

[2018-02-21 01:44] PiotrSikora commented on #2638
You need to either add `use_remote_address: true` to `k8s_proxy` or remove `require_tls: ALL` from it.

If you're using `use_remote_address: false` (default), then `k8s_proxy` is going to receive and accept `X-Forwarded-Proto: http` from `swarm_proxy` and reject client's HTTP request, since it doesn't fulfill the `require_tls` restriction, which applies to client's HTTP request and not to the conn

[2018-02-21 02:41] adrienjt commented on #2638
Thanks for the solution *and explanations* @PiotrSikora! That worked.

[2018-02-21 02:41] #2638 closed

[2018-02-21 04:08] ramaraochavali commented on #1965
@mattklein123 one thing I see as a problem with above approach is it expects at least one sink to exist for use cases like
- Per-host latency outlier detection
- Per-host latency load balancing.
Will think about how to address these, but want a very high level opinion on the above.

[2018-02-21 06:57] jsedgwick commented on #2651
I will take care of it when I can unless someone else snatches it up.

Don't be too surprised if I advocate for some folly components later on, though 😉 Especially Singleton, Synchronized, ThreadLocal, and the libevent wrappers.

[2018-02-21 07:20] dio commented on #2651
👍🏻

[2018-02-21 08:17] derekargueta opened #2654 "Time-to-first-byte HTTP metric & log variable"
*Title*: Time-to-first-byte HTTP metric & log variable

*Description*:
We have a need for this metric but from what I can tell in the documentation & reading the code, it is not available in Envoy. I'm wondering if there would be any interest in adding this feature to the roadmap (if it's not already) or it being contributed? It looks like there's already [plans for it a grpc version](https://gith

[2018-02-21 09:40] anirudhmurali commented on #2639
![image](https://user-images.githubusercontent.com/3096325/36472872-091d5aec-1719-11e8-957c-c09e37e46b87.png)
@jmillikin-stripe Tried it, and ran the build. ^ is what I get. Upon googling `c++: error: unrecognized command line option ‘-stdlib=libc++’`, came to know that this is clang specific flag again.

[2018-02-21 12:17] coder-ad commented on #2593
We verified the true round robin allocation of backend servers after setting --concurrency=1 (single worker). Thanks for the suggestion, it worked.  If we can achieve such true round robin allocation with multiple workers in future versions of envoy then it will be even more great!!

[2018-02-21 14:56] ofek commented on #2538
Is there any doc currently that explains tag extraction?

[2018-02-21 15:50] #2578 closed

[2018-02-21 16:02] mstrcd opened #2655 "malformed IP address: when using hostname"
*Description*:

Config line looks like:
...
static_resources:
...
  clusters:
...
     - name: xds_cluster
        connect_timeout: 0.25s
        lb_policy: ROUND_ROBIN
        http2_protocol_options: {}
        hosts: [{ socket_address: { address: "discovery-service", port_value: 8454, resolver_name: "kube-dns.kube-system.svc.cluster.local" }}]
        dns_resolvers: [{ socket_address: { address:

[2018-02-21 16:13] alyssawilk commented on #2655
I don't believe you can use a hostname for your dns resolver - there's a bit of a bootstrapping problem there!   Looking at the config the type is Address, which is either an actual (resolved) IP address/port pair, or a socket.

[2018-02-21 16:26] mstrcd commented on #2655
Ok, but if I take out the dns_resolvers: and resolvers_name: and leave this:
hosts: [{ socket_address: { address: "discovery-service", port_value: 8454 }}]

I still get [2018-02-21 16:24:46.627][1][critical][main] source/server/server.cc:72] error initializing configuration '/config/envoy.yaml': malformed IP address: discovery-service

Am I not able to use DNS hostnames at all?

[2018-02-21 16:34] alyssawilk commented on #2655
I don't think you can use DNS hostnames for your discovery service, because you need a discovery service to resolve them.   That's the bootstrapping problem I (incompletely) alluded to above. :-)

[2018-02-21 16:41] mstrcd commented on #2655
So the documentation, which states
https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/address.proto.html#envoy-api-msg-core-socketaddress
**address**

this is not correct?

[2018-02-21 16:48] alyssawilk commented on #2655
But isn't the hosts an Address, not a SocketAddress?
v2/cds.proto:  repeated core.Address hosts = 7;

It's totally possible to ship traffic for a given route to a DNS hostname - I think a helpful example to get you going is
https://github.com/envoyproxy/envoy/blob/master/configs/google_com_proxy.v2.yaml
which aims traffic at "whatever google.com resolves to"
Check it out and see if it helps you?

[2018-02-21 17:11] jmillikin-stripe commented on #2639
Hmm, the BoringSSL build's cmakefile is invoking `/usr/local/bin/c++`. I've never seen that on a Mac before -- is it from Homebrew? I'm also confused about where `-stdlib=libc++` could be coming from, it's not set by Bazel or Envoy and grep didn't have any hits in the BoringSSL code.

I feel like there must be a disconnect between the CC and CXX environment variables, vs your path. I'll try instal

[2018-02-21 18:34] mattklein123 commented on #2539
@thebadpete unfortunately this is not currently possible and is basically tracked in this issue: https://github.com/envoyproxy/envoy/issues/173. Ultimately we would like to add filter capabilities for upstream requests (essentially driven via the router), but this is not currently implemented and is a large/complicated feature.

You could trivially add this behavior by modifying the router filter

[2018-02-21 18:35] #839 closed

[2018-02-21 18:38] mattklein123 commented on #1965
@ramaraochavali I'm mostly on leave for the next 3 weeks or so. I will get back to you but it will be delayed as I need to find time to think through this in depth. Thank you for your patience.

[2018-02-21 18:47] mstrcd commented on #2655
The Host is of type Address but core.Address requires either a socket_address or a pipe be specified. https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/address.proto.html#envoy-api-msg-core-address

Also, if I copy just the cluster.host part of the example exactly (just to see if it passes validation) it doesn't pass validation.
[2018-02-21 18:43:12.704][1][critical][main] source/serv

[2018-02-21 19:15] htuch commented on #2655
@mstrcd I think you need to set the cluster `type` field to something like `STRICT_DNS` or `LOGICAL_DNS`, see https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cds.proto.

[2018-02-21 19:57] mattklein123 commented on #2651
In this case I think we should definitely use absl::Optional. @jsedgwick my advice would be to not worry about this and per @dnoe leave it for a new contributor as it is a very easy item and a good first task. The current `Optional` that we have is clearly not as fleshed out as the others but it works fine for the cases in which we use it. As per Folly, I'm not super interested in depending on ano

[2018-02-21 19:58] mattklein123 commented on #2654
@derekargueta please sink up with @rodaine who is working on this. There should be no issue in exposing any of the new gRPC fields in the text access log formatter.

[2018-02-21 19:59] mattklein123 commented on #2593
I went ahead and changed the title of the issue and marked it a feature request. I think it's conceivably possible that with creative use of atomics and TLS we could have a load balancer that does this without sacrificing performance, but will require some thinking.

[2018-02-21 20:04] jmillikin-stripe commented on #2639
Found the issue. BoringSSL's cmake config hardcodes `-stdlib=libc++` when building on Apple platforms. This will be fixed for Envoy when we stop using cmake to build BoringSSL (https://github.com/envoyproxy/envoy/pull/2652).

Note that there are other problems that will prevent you from building with a self-installed compiler. Libevent depends on some MacOS system headers, which use macros not sup

[2018-02-21 20:12] anirudhmurali commented on #2639
Great. I'm okay with using the default compiler which comes with XCode. I've run `brew uninstall gcc`, deleted the gcc at `usr/local/bin/gcc` which was installed manually.
Now running `gcc --version` shows me `Apple LLVM version 9.0.0 (clang-900.0.39.2)`.
I hope this is the default compiler that comes by XCode? I still get the error though. Isn't my uninstallation complete?

[2018-02-21 20:17] jmillikin-stripe commented on #2639
You may need to `bazel clean --expunge` if you've changed your C/C++ toolchain to something else. You should also verify that `g++ --version` matches, since BoringSSL and Envoy use g++. And finally, since the log above shows `/usr/local/bin/c++` being invoked, consider moving or removing whatever that is.

[2018-02-21 21:39] anirudhmurali commented on #2639
Removed, cleaned, and tried. Now this,
`ld: symbol(s) not found for architecture x86_64`
![image](https://user-images.githubusercontent.com/3096325/36506810-aed2f258-177d-11e8-92a0-1511e90612a2.png)

[2018-02-21 21:47] jmillikin-stripe commented on #2639
Maybe you've got `ld` from homebrew and it's not compatible with XCode's clang?

At this point, I recommend trying to clean anything Homebrew-related out of your path. There's no way you can get a working build when half of your toolchain is Apple's heavily-modified Clang, and half is stock GNU.

You might also try following https://docs.bazel.build/versions/master/tutorial/cpp.html to see if you

[2018-02-21 21:51] ggreenway opened #2657 "centos asan build fails (bazel/toolchain problems)"
It appears that this is built with clang, but getting the gcc includes.

[code]

[2018-02-21 22:03] mrice32 commented on #2538
The docs have a section on how it works: https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/metrics/v2/stats.proto.  Let us know if there's anything unclear after reading that, and we can try to improve it.

[2018-02-21 22:15] ofek commented on #2538
@mrice32 Thanks! What would the equivalent yaml section be?

[2018-02-21 22:47] jsedgwick commented on #2651
@mattklein123 I am a new contributor :) But I have plenty on my plate so can leave it for now.

As for everything else, nothing is urgent and we can discuss once you're back. The TLDR of my viewpoint, though, is that depending on a few actively maintained components from an external library in order not to have to maintain our own is worth the cost of setting up the dependency. Especially since I

[2018-02-22 00:25] mpuncel opened #2658 "Support selecting upstream TLS context to use based on downstream caller"
*Title*: *Support selecting upstream TLS context to use based on downstream caller*

*Description*:
Background:
I would like to deploy an envoy instance to every host in our infrastructure, to be shared by potentially many microservices deployed to the host. I would like envoy to be able to perform TLS on behalf of these microservices (as opposed to with envoy's identity). However this requires a

[2018-02-22 00:38] PiotrSikora opened #2659 "Add ability to use non-local source IP for outgoing connections."
This would allow Envoy to make outgoing connections (at least locally) with the IP of the original client instead of the proxy, in a protocol-agnostic way that's transparent to the upstream.

This should be as easy as adding support for `IP_TRANSPARENT` and `IPV6_TRANSPARENT` socket options.

[2018-02-22 00:40] PiotrSikora commented on #2659
cc @alyssawilk @costinm @ldemailly @jrajahalme (in case you're working on upstream version of `socketOptions()`).

[2018-02-22 01:00] rodaine commented on #2654
Talked with @derekargueta in Slack. The TTFB is currently approximated with the RESPONSE_DURATION placeholder, which is made more accurate (though not 100%) in #2660. Supporting the other times will just require adding/documenting additional placeholders for missing values to match those provided in the ALS.

[2018-02-22 01:49] mrice32 commented on #2538
I'm not sure I understand the question.  Others can correct me if I'm wrong, but I believe that all of our configuration examples (both v1 and v2) in the docs are JSON rather than YAML.  So I don't think there exists an equivalent YAML section in the docs.

[2018-02-22 01:53] ofek commented on #2538
I guess what I'm asking how to use that in my current config, which is yaml.

[2018-02-22 04:06] #1549 closed

[2018-02-22 04:29] ldemailly commented on #1549
if I try it'll work now ? pinky swear ? (someone tried)

[2018-02-22 05:39] ramaraochavali commented on #1965
@mattklein123 no worries. I am aware that you are on vacation, so not expecting responses and am perfectly ok with delayed responses :-)

[2018-02-22 11:38] anirudhmurali commented on #2639
I followed the bazel hello world tutorial, all 3 exercises run smoothly.
I uninstalled entire Homebrew related packages, and installed just these `coreutils`, `wget`, `cmake`, `libtool`, `automake` alone, and ran it, still the same `ld` error.

[2018-02-22 20:05] cpakulski commented on #2330
I will try to implement such macros. I am new to this project, so it will be good exercise.

[2018-02-22 21:51] PiotrSikora opened #2662 "Add ability to deliver initial static set of endpoints in CDS update when using EDS"
This would prevent Envoy from sending `503 Service Unavailable` responses, in the time between CDS and EDS updates, when Envoy didn't learn about available endpoints yet.

It could be implemented without changing existing API, in a backward-compatible way, by sending CDS update with `type = EDS` and non-empty list of `hosts`.

The question is whether provided list of `hosts` should be used only un

[2018-02-22 22:11] PiotrSikora commented on #2662
https://github.com/envoyproxy/envoy/issues/1930 is a different solution of the same problem.

[2018-02-22 23:22] jsedgwick commented on #2662
What's preferable about this approach compared to the cluster warmup approach in #1930?

It seems that all you get here over cluster warmup is an small decrease in availability lag time for what is a previously nonexistent cluster. The cost is an API hack and whatever headaches come along with determining hosts to provide from your CDS implementation.

Meanwhile, if you really need the immediate c

[2018-02-22 23:33] htuch commented on #2662
The context here is Istio 0.7, where they don't have ADS (or v2) yet.

@jsedgwick  If no EDS arrives today, you just have a dead cluster. If you have an EDS response and then the EDS server dies, we just latch the last response forever. I can see a potential use case for this solution to provide a way to fall back on some known endpoints (e.g. like a hospital service for bad requests) when EDS goe

[2018-02-22 23:57] PiotrSikora commented on #2662
@jsedgwick it's not strictly preferable, I think we should have both. Also, ADS doesn't really solve this problem, it just significantly shortens the time between CDS and EDS updates, but it's still non-zero.

The biggest advantage of this solution is that in case EDS is down (e.g. when CDS and EDS are separate services, or when Envoy is using static clusters with EDS), then you can still serve tr

[2018-02-23 01:48] mattklein123 commented on #2662
@PiotrSikora I'm not thrilled about adding this feature when CDS cluster warming IMO is the real solution to this problem and fits really well with how we do LDS, etc. When is a solution needed by? What date do we need to deliver CDS warming before this becomes a real blocker?

[2018-02-23 06:08] andraxylia commented on #2662
In Istio we could use it by mid-March, when the next release 0.7 is planned.

[2018-02-23 07:03] shakti-das commented on #2535
In Linkerd, this was resolved by adding DNS SAN entries directly to the XFCC header (keeping existing values same for backward compatibility). The XFCC now looks like:

`Hash=468ed33be74eee6556d90c0149c1309e9ba61d6425303443c0748a02dd8de688;SAN=https://example.com;DNS=example.com;Subject="Test CN"`

Can we look at similar solution in envoy?

[2018-02-23 07:40] gsagula commented on #2169
I spoke briefly with @htuch about this issue. It looks like that we have three options here:

1. warn -> never fail updates (ENVOY_LOG), works well toward well-behaved systems but hides the broken behavior from the problematic ones.

2.  rate-limit -> fails updates and warns (ENVOY_LOG), works well toward misbehaved systems, but not much against the well-behaved ones.

3. error -> fails updates an

[2018-02-23 15:43] vbatts opened #2665 "CROSSTOOL failed to parse"
[code]

[optional *Relevant Links*:]
Failed build log https://copr-be.cloud.fedoraproject.org/results/vbatts/envoy/fedora-27-x86_64/00719821-envoy/builder-live.log
CROSSTOOL file contents https://pastebin.com/JvSWH3ut
related issue on bazel https://github.com/bazelbuild/bazel/issues/4645

Reproduce Steps:
* Start a fedora host or container (f26, f27 or rawhide)
* `git clone https://github.com/vbat

[2018-02-23 15:52] vbatts commented on #2665
good on @htuch
This build was on commit 6d62998a7558dec34e709189b48acc57de7d57d3, not latest HEAD.
Trying again, but with commit 6d62998a7558dec34e709189b48acc57de7d57d3

[2018-02-23 15:57] htuch commented on #2169
I think we should do (1) for sure. It's probably legit to do (2) as well, but we should make sure the rate limit only kicks in when we're certain it's not going to be just a well behaved system doing some rapid updates.

Maybe start with a PR for (1) and we can iterate?

[2018-02-23 15:59] vbatts commented on #2665
that worked!

[2018-02-23 15:59] #2665 closed

[2018-02-23 18:13] gsagula commented on #2169
@htuch Sounds good to me. I agree that it's better to keep it simple for now, and we add the rest later if necessary.

[2018-02-23 19:00] mattklein123 commented on #2169
@gsagula I don't fully follow the options presented. Do you mind rephrasing/clarifying to make sure we are all on the same page? Thank you!

[2018-02-23 19:07] mattklein123 commented on #2662
@PiotrSikora @andraxylia I would prefer to implement CDS cluster warming. IMO this is a much better solution that a) fits well with how we do LDS and b) also will work for other cluster types including DNS. If I can do warming by mid-march is that sufficient?

[2018-02-23 19:11] mpuncel commented on #2658
That would work, but that would likely mean greatly increasing the size of the cluster space, and I don't know if there are implications for that. I'd need a new cluster for every edge in the service dependency graph at a minimum with the naive solution making the cluster set go to N^2. If you have any insight to give on how performance relates to cluster size i'd be interested, for instance if th

[2018-02-23 20:39] buchgr commented on #2461
https://github.com/bazelbuild/continuous-integration/issues/218

[2018-02-23 21:31] htuch opened #2667 "SSL performance"
We've been conducting some Envoy load tests. On a single worker Envoy in an experimental setup and 0-byte gRPC requests at max load, we see a reduction in performance of 33% when comparing non-SSL and SSL cases. With 1MB requests, the performance reduction is 62%.

Unfortunately, the flamegraphs we have were created with internal binaries and I can't directly share them. Some observations though a

[2018-02-24 00:37] vturecek commented on #129
@campbelldgunn sorry for the late response - Windows support work is underway in our fork here: https://github.com/microsoft/envoy/

@sridmad has a branch with what I believe is a functional build at this point but I'll defer to him for the status on that: https://github.com/microsoft/envoy/tree/sridhar/win32_port

[2018-02-24 01:20] lizan commented on #2667
cc @ldemailly

[2018-02-24 01:47] dio commented on #2597
In this case, should we have an "integration" to `promlint` on designing the test scenario?

[2018-02-24 06:09] aaronjwood opened #2670 "Application following web flow for OAuth token receives 404 when proxied through Envoy"
I'm seeing something very strange with an app that I'm testing out in a service mesh environment. Here's what the setup looks like:

- App is deployed as a pod in k8s on AWS
- Istio 0.4.0 is installed and is using envoy as the sidecar
- Egress rules are applied so that the app can reach `*.github.com` over TLS
- URLs in the code have been rewritten to follow the `http://...:443` syntax

For refere

[2018-02-24 07:31] vadimeisenbergibm opened #2671 "Clarification about outlier detection and ejection of 100% hosts"
**Issue Template**

*Title*: It is not specified in the documentation of the outlier detection what happens when 100% of the hosts are ejected.

*Description*:
Suppose I have `max_ejection_percent` set to 100, and the only host I have returns always 501 (I used httpbin.org/status/501). I have "consecutive_5xx": 5. After sending 100 consecutive requests, I get back all the 100 requests with 501.

T

[2018-02-24 17:48] mattklein123 commented on #2671
Please see https://www.envoyproxy.io/docs/envoy/latest/faq/lb_panic_threshold which is the likely explanation.

[2018-02-24 17:50] mattklein123 commented on #2670
@aaronjwood your route rules are likely not setup correctly but it's hard to say without looking at configs. If this is via Istio, I might recommend asking for help from the Istio folks?

[2018-02-24 18:12] aaronjwood commented on #2670
Sure, I'll reach out to them about this. I'll share my configs in this issue once I'm back on Monday too.

[2018-02-24 18:15] gsagula commented on #2169
Sorry, explaining things is not the best of my abilities. I'm working on that though. Rephrased:

1. warning -> when a high rate of DiscoveryResponses is detected, Envoy logs a warning (ENVOY_LOG), but does not fail the updates. The upside this approach is that systems that are doing rapid updates will never be penalized in the case of getting caught by the rating-limit algorithm. The downside is

[2018-02-24 20:14] jsedgwick commented on #2169
@mattklein123 @gsagula

Q: What about modifying approach 2 to rate limit (or outright fail) only consecutive identical updates? Then well-behaved systems won't be punished.

Side Q: Hypothetically, what happens if an otherwise well behaved xDS system sends valid (non-duplicate) updates at too high a rate? Would a well-known rate limit help there as well, if not as aggressive as one against spinnin

[2018-02-24 20:50] gsagula commented on #2169
@jsedgwick I thought about that too. It looks like that is possible to track consecutive identical responses. Great side question! I believe that in this case, would be nice to have some sort traffic shaper mechanism that warns the server management about some potential overflow. The server, in this case, reduces the rate of updates.

[2018-02-24 23:05] d0znpp opened #2672 "Index out of bounds issue inside proxy protocol parser"
https://github.com/envoyproxy/envoy/blob/6f910198c37a25c1932e88102915e2e2b1d81ea6/source/common/filter/listener/proxy_protocol.cc#L122-L135

It's possible to cause index out of bounds error when the ```search_index_``` is 0 and the condition ```buf_[search_index_] == '\n'``` is true.

In this case the second condition check ```buf_[search_index_ - 1] == '\r'``` will cause an error because ```searc

[2018-02-25 08:59] vadimeisenbergibm commented on #2671
@mattklein123 I see, thanks, now it is clear.

[2018-02-25 08:59] #2671 closed

[2018-02-25 20:24] mattklein123 commented on #2535
Sure patches welcome. I think you will want to make this behavior configurable per the other values: https://github.com/envoyproxy/data-plane-api/blob/master/envoy/config/filter/network/http_connection_manager/v2/http_connection_manager.proto#L208.

[2018-02-25 22:24] mattklein123 commented on #2169
@gsagula thanks for the detailed explanation. Much more clear. I agree with @htuch that we should start with (1), but I'm doubtful it's going to help that much since I think people will likely not look at the logs, but we can see how much it helps. When you implement (1) assuming we log at warn level, we probably need to rate limit the log output to 1 log per unit of time even if we don't rate lim

[2018-02-26 02:59] songole opened #2673 "codec"
**Issue Template**

*Title*: *One line description*

*Description*:

describe the desired behaviour, what scenario it enables and how it
would be used.

[optional *Relevant Links*:]

**Bug Template**

*Title*: *One line description*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

*Repro steps*:

required to reproduce the bug.

gathers a tarba

[2018-02-26 02:59] songole commented on #2673
Sorry, it was a mistake

[2018-02-26 02:59] #2673 closed

[2018-02-26 15:31] marcosrmendezthd opened #2675 "question: tcp proxy intermediate certs"
**Issue Template**

*Title*: *question: tcp proxy intermediate certs*

*Description*:

When I connect to the first port in the configuration below (10000) I get the backend service's self-signed cert as expected. When I connect to the second port (10065) I get the upstream cert as expected, but it can't be validated. I'm able to validate the cert file using the CA I'm using on envoy via openssl, b

[2018-02-26 17:12] andraxylia commented on #2662
@mattklein123 Mid-march would be great, thank you!

[2018-02-26 17:43] aaronjwood commented on #2670
FWIW I'm only using an egress, no routing rules:
[code]
Envoy should preserve any form data, headers, etc. that the app passes, right?

[2018-02-26 18:06] gsagula commented on #2169
Same page @mattklein123. Modifying the first solution to (3) later on should be trivial. Thank you for the details.

[2018-02-26 18:17] aaronjwood commented on #2670
I've just confirmed that taking Envoy out of the equation solves the issue. Once Envoy is no longer in place and the URLs in the code are changed back to `https://github.com/...` everything works.

[2018-02-26 18:44] jevonearth commented on #1291
To assist others, here's a snippet of yaml that will configure `access_log` to log to stdout.

[code]

[2018-02-26 20:05] marcosrmendezthd commented on #2675
we fixed it by sending the full cert chain in the `ca_cert_file`. the `cert_chain_file` is not needed.

[2018-02-26 20:05] #2675 closed

[2018-02-26 20:19] d0znpp commented on #2672
Yep. This is good

[2018-02-26 20:41] aaronjwood commented on #2670
I spun up a local instance of Envoy and tested the OAuth flow manually via curl which worked. I pretty much followed [this](https://www.envoyproxy.io/docs/envoy/latest/install/getting_started.html#a-basic-configuration) and modified the config:
[code]
[code]
Routes are empty for my local test:
[code]
but for my Istio/Envoy test they're not:
[code]

[2018-02-26 22:50] ldemailly commented on #2670
this looks like the egress for https issue. your best bet is to use includeIPRange
https://istio.io/docs/tasks/traffic-management/egress.html#calling-external-services-directly
to not intercept outgoing traffic unless you are able to change the client to use http on port 443

[2018-02-26 22:55] aaronjwood commented on #2670
I am able to change the client to do http over port 443. I have verified that the TLS handshake from Envoy to GitHub succeeds. Before when I hadn't changed the URLs to something like `http://github.com:443/...` I would get handshake errors.

A few small updates: I wrongly thought that I was using Istio 0.5.0 in my original deployment when it is in fact 0.4.0. Also, when I exec into the container w

[2018-02-26 22:59] ldemailly commented on #2670
yes you will get 404 for everything that isn't configured (ie without egress in this case, unless you use includeIPRange as mentioned above)

[2018-02-26 23:00] aaronjwood commented on #2670
Are you saying that the egress isn't applied properly in my case? I do have an egress config installed in the cluster (I posted what it looks like a few comments above) so I would think it should work...

[2018-02-26 23:02] mangchiandjjoe commented on #1194
I started working on the proof of concept implementation.

[2018-02-26 23:04] ldemailly commented on #2670
the curl is from your injected pod ?

I have a similar rule that does work:
https://github.com/istio/admin-sites/blob/master/fortio/fortio.yaml#L11

I don't use a wildcard but I think wildcard should work - just to be sure though, mind dropping the wildcard ?

[2018-02-26 23:06] aaronjwood commented on #2670
Yup, that's right. I actually tried dropping the wildcard earlier today and instead added two entries, one for github.com and another for api.github.com. I saw the same result.

[2018-02-26 23:11] ldemailly commented on #2670
which istio version?

[2018-02-26 23:13] jnb commented on #1605
Another +1 for this.  For our setup we have HAProxy listening on Unix sockets.  We're thinking about replacing HAProxy with Envoy, but need a way to get it to also listen on Unix sockets.

[2018-02-26 23:13] aaronjwood commented on #2670
0.4.0.

FWIW when I tried out a local test with a standalone instance of Envoy (https://github.com/envoyproxy/envoy/issues/2670#issuecomment-368642900) I was using the latest version of Envoy.

[2018-02-26 23:19] ldemailly commented on #2670
I don't think egress was working in 0.4; can you try our 0.6 release candidate:
http://gcsweb.istio.io/gcs/istio-prerelease/daily-build/0.6.0-pre20180222-22-57-06/
download the TESTONLY tar matching your client OS

[2018-02-26 23:22] aaronjwood commented on #2670
Thanks, I'll give this a try and circle back.

[2018-02-26 23:33] aaronjwood commented on #2670
@ldemailly was egress only partially working in 0.4.0? I have another microservice that has an egress defined:
[code]
and it works:
[code]

[2018-02-26 23:43] ldemailly commented on #2670
what's the difference between where it works and where it doesn't ? (wildcard maybe?)

[2018-02-26 23:47] aaronjwood commented on #2670
I tried without the wildcard. I guess the only other difference is that the request is a POST with some headers to accept JSON back. The request I just tried was a basic GET.

I spoke with @rshriram a little about this and he mentioned that Istio is not setting the SNI field. Sounds like that may be the issue...

[2018-02-26 23:49] jsedgwick commented on #921
FYI as part of getting warmed up on envoy I sort of accidentally started working on this while setting up YouCompleteMe support. Got Bazel emitting compile_commands.json (just some modifications to some aforementioned janky script) but I'm a little stuck getting include paths working right when running clang tooling from the root of the repo. Basically, it all works fine if you find and cd into th

[2018-02-26 23:50] jsedgwick commented on #921
p.s., literally the first file i ran clang-tidy on i (rather, it) found a nasty bug waiting to happen, so we should definitely get this available! for devs locally and eventually in CI

[2018-02-27 01:09] mattklein123 commented on #2662
I'm going to go ahead and close this. I looked at CDS warming and it's not that difficult. I will do it in the next 2 weeks. If I don't deliver we can reopen and reconsider.

[2018-02-27 01:09] #2662 closed

[2018-02-27 01:10] mattklein123 commented on #2672
OK thanks for confirming. Closing.

[2018-02-27 01:10] #2672 closed

[2018-02-27 01:40] mattklein123 commented on #2670
@aaronjwood friendly request. Do you mind potentially moving this issue over to the Istio repo? I don't think this has anything to do with Envoy specifically.

[2018-02-27 01:41] mattklein123 commented on #2645
I think this is fixed so closing.

[2018-02-27 01:41] #2645 closed

[2018-02-27 01:43] mattklein123 commented on #2658
Yes I can see how the cluster explosion would be problematic here. Unfortunately this would be a a very non-trivial feature to develop based on the split downstream/upstream architecture of Envoy. It would require a lot of thinking on how to do if we were to want to implement it. We can leave this open as a feature request if you like.

[2018-02-27 02:02] francisu commented on #2606
WIP: https://github.com/envoyproxy/data-plane-api/pull/514

[2018-02-27 02:08] ldemailly commented on #2670
@mattklein123 @aaronjwood suspects it has to do with envoy not providing the SNI field when it makes the TLS connection; if that's confirmed it is an envoy issue no ?

[2018-02-27 02:11] ldemailly commented on #1555
how do you set "sni" on the client ? that may solve #2670

[2018-02-27 02:20] mattklein123 commented on #2670
Istio needs to configure upstream SNI if that is the issue: https://www.envoyproxy.io/docs/envoy/latest/api-v1/cluster_manager/cluster_ssl "sni"

[2018-02-27 02:34] ldemailly commented on #2670
thanks matt ! we can possibly close this issue in favor of the above istio one,
we seem to send an empty ssl_context for external services so I guess that's one issue

https://github.com/istio/istio/blob/master/pilot/pkg/proxy/envoy/v1/testdata/cds-ssl-context.json.golden#L101

this being said, could we have an "automatic" mode where it uses the Authority/Host: ?
because for wildcard it will proba

[2018-02-27 02:56] vadimeisenbergibm commented on #2670
@mattklein123 Following https://github.com/envoyproxy/envoy/issues/2670#issuecomment-368726197.  For `orig_dst` clusters, we cannot set SNI since we don't know the host in advance. Can Envoy set SNI automatically according to the Authority/Host headers in case the "sni" field is omitted?

[2018-02-27 14:50] vadimeisenbergibm commented on #1194
So where is the protobuf for the Secret Discovery Service? @PiotrSikora, do you have any estimation when the support in envoy of the Secret Discovery Service will be implemented?

[2018-02-27 18:04] jippi commented on #1966
@mattklein123 whats the "currency" to bribe my way to getting this feature into envoy? :)

[2018-02-28 00:02] ofek opened #2683 "Stat name collisions"
*Description*:

- `http.<stat_prefix>.fault.delays_injected` and `http.<stat_prefix>.fault.<downstream-cluster>.delays_injected` both resolve to `http.fault.delays_injected`
- `http.<stat_prefix>.fault.aborts_injected` and `http.<stat_prefix>.fault.<downstream-cluster>.aborts_injected` both resolve to `http.fault.aborts_injected`

https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filt

[2018-02-28 01:47] nmnellis commented on #2594
were you able to figure out why you were getting 404s? i believe i have a similar issue which i posted in the istio issues https://github.com/istio/istio/issues/3798

[2018-02-28 01:57] kenjones-cisco commented on #2594
@nmnellis Not been able to identify the root cause as of yet.

Was hoping that based on the logs provided there was an obvious gotcha that one of the envoyproxy experts saw that was eluding me.

[2018-02-28 03:40] htuch commented on #2594
@kenjones-cisco I'm not seeing the problem directly in the logs. Can verify this is an issue at HEAD on master and also provide a gist at `-l trace` level on a debug build? Thanks.

[2018-02-28 03:57] kyessenov commented on #1194
SDS uses the same style of xDS bidi stream of discovery requests and
responses. You can find a go stub in go control plane, for example.

On Tue, Feb 27, 2018, 7:54 PM Piotr Sikora <notifications@github.com> wrote:

[2018-02-28 04:13] vadimeisenbergibm commented on #1194
Thanks, @kyessenov, I see.

[2018-02-28 10:24] yudiandreanp opened #2685 "Envoy Crashes at 300+ req/s using hot-restarter and systemd"
***Description*:**
I created a systemd service to call hot-restarter.py to start envoy. Load tested it with hundreds of RPS.
Envoy crashed.

Envoy version: 1.5.0

***Repro steps*:**
Enable systemd
Start envoy.service using systemd
Give it loads of traffic

_My envoy.service:_

Description=Envoy meeeen
After=network.target
[Service]
User=root
Type=simple
ExecStart=/etc/envoy/hot-restarter.py /etc/e

[2018-02-28 10:32] dio commented on #2685
[code]

Seems it is related to your ulimit settings?

[2018-02-28 11:26] yudiandreanp commented on #2685
65536

That's the ulimit setting.
Is there any requirement from envoy to bump it up?

[2018-02-28 15:13] shakti-das commented on #2535
Sure, will make the behavior configurable, am working on it, should have a PR in few days.

[2018-02-28 16:20] mrice32 commented on #2683
I'd like to broaden this issue a bit since a collision has happened before [here](https://github.com/envoyproxy/envoy/issues/2141).  In addition to correcting the collision above, we should add `ASSERT`s to ensure they don't happen anywhere else.  Also, because the tag system is configurable and we want to maintain its flexibility, maybe it should be possible to disable these `ASSERT`s as well, bu

[2018-02-28 16:33] srikailash commented on #2651
I added absl::optional to envoy in this commit (https://github.com/srikailash/envoy/commit/9e8b79fdad756f859435c28bcc4c28de2980dc01) following https://github.com/srikailash/envoy/commit/9e8b79fdad756f859435c28bcc4c28de2980dc01. for further work on this issue do we need to implement a wrapper around absl::optional in envoy namespace.

[2018-02-28 16:58] ggreenway commented on #2651
No, I don't think we should have any type of wrapper.  I think we just need to replace all uses of Optional with absl::optional, and delete the existing implementation.

[2018-02-28 18:02] argeualcantara commented on #2152
Is this the same config when passing it to envoy through istio, I'm having issues, it's like istio does not recognize it as a valid file.

[2018-02-28 18:17] srikailash commented on #2651
I added basic test to using absl:optional here https://github.com/srikailash/envoy/commit/e9dd4193766f674fc94b1fd7a29a601702a6342f. Can work on replacing if that's the way to go.

[2018-02-28 18:19] htuch commented on #2651
+1 on replacing. @srikailash it's easier to review if you just file a PR, thanks.

[2018-02-28 19:05] mattklein123 commented on #2670
@ldemailly @vadimeisenbergibm because of how Envoy does connection pooling, setting SNI based on host header is not trivial. I think we could likely figure something out but it will require a bunch of thinking. I'm going to go ahead and close this issue out. Please open a fresh issue requesting setting SNI based on host/authority and we can discuss there.

[2018-02-28 19:05] #2670 closed

[2018-02-28 19:07] mattklein123 commented on #1966
@jippi I would find someone to work on it. :) A few quick comments:

1) I'm pretty sure you could trivially do this using Lua if you need to get something working quickly.
2) If we universally set `x-request-start` in the router filter it's a trivial change, though for perf reasons I'm not sure we universally want to set it.
3) So if we don't universally set it we can add an option to the router f

[2018-02-28 19:11] alyssawilk commented on #2649
There's some utils for mangling but I'd suggest having your config inline, loading it up in the config helper (which already does v4/v6 conversion for you)

ConfigHelper(const Network::Address::IpVersion version,
               const std::string& config = HTTP_PROXY_CONFIG);

And spitting it out to a file
TestEnvironment::writeStringToFileForTest()

if at all possible!

[2018-02-28 19:19] mattklein123 commented on #2685
@yudiandreanp can you provide a core dump or a fully resolved stack trace if you can repro this? It's hard to tell what is happening from the report.

[2018-02-28 19:41] mattklein123 commented on #2683
@ofek I'm confused how there is a collision here. I don't think there is. Can you expand?

@mrice32 sure we can do collision detection somehow, though TBH I'm not sure exactly how since the stats system is built such that multiple code sites can access the same stat. Can you open a fresh issue for discussing that?

[2018-02-28 20:04] ofek commented on #2683
@mattklein123 The tag-extracted metric names are the same, so there is no way to discern the meaning unless you give meaning based on the number of tags, which is not right.

[2018-02-28 20:19] yudiandreanp commented on #2685
It turned out that it really is an open file limit problem.
Systemd doesn't respect global ulimit cofig on /etc/security/security.conf and has its own defaults

I have to add

in the systemd [Service] section to bump up its limit

That resolved the problem. Thanks!

[2018-02-28 20:19] #2685 closed

[2018-02-28 21:39] mrice32 opened #2687 "Preventing Tag Extracted Name Collisions"
I'd like to explore ways to prevent tag extracted name collisions in Envoy since there have been multiple issues brought up wrt that (see #2683 and #2141)

*Description*: I want to start by defining a collision in this context.  Stats in Envoy are created with a single string.  Multiple strings can map to the same tag extracted name when the stats are logically similar (only differ by tag values).

[2018-02-28 21:40] mrice32 commented on #2683
@mattklein123 See #2687.

[2018-02-28 21:40] mrice32 commented on #2687
cc @jmarantz @htuch @mattklein123

[2018-02-28 21:42] mattklein123 commented on #2683
@ofek yup OK sorry didn't realize this was a tag extraction collision. I will defer to @mrice32 and @taiki45 on how to resolve.

[2018-02-28 21:55] jmarantz commented on #2687
What's the practicality of this point of changing the syntax of one of those stats so they don't conflict post-tag-extraction?

alternatively can we make the tag-extraction process leave them in distinct states?

[2018-02-28 22:13] mrice32 commented on #2687
@jmarantz I think you're talking about how to fix this particular collision - I'll follow up on that in #2683 because that issue tracking that bug.

[2018-02-28 22:16] mrice32 commented on #2683
@jmarantz I think you were asking whether we should change the names of those stats or modify the extraction process to fix this collision instance.  tl;dr Without changing the names of the stats themselves, I'm not sure how to fix this instance.

I think it will be difficult to use the same sort of regex fix that we used in #2141 here because that took advantage of Envoy-defined structure in the

[2018-02-28 22:17] jmarantz commented on #2687
Well, kind of.  If we can change the algorithm so that collisions cannot arise, that would obviate the need to detect it.

[2018-02-28 22:20] jmarantz commented on #2683
So I still don't really understand the bounds of the solution space.

What if the tag extraction process didn't merely remove the tag values, but replaced them with the values with the names of the extracted tags?  Of course that would be a stats_impl change that would require some effort, but I don't know who is dependent on the current exact syntax of the tag-extracted names.

[2018-02-28 22:35] mrice32 commented on #2683
@jmarantz That's an interesting idea.  I have no problem with something like that, although IMO, it makes the names a little less intuitive to read.  I'll pull in a few folks who have worked on integrating with other stats systems to hear their thoughts: @srvaroa @taiki45 @JonathanO @lita.  Feel free to pull in others who may have opinions here.

[2018-03-01 00:37] ofek commented on #2683
@jmarantz @mrice32 Can you please give an example of what that might look like? Also fyi, @DataDog will (using the `/stats` endpoint) soon depend on tag-extracted names being unique metric names.

[2018-03-01 02:30] nmnellis commented on #2594
i was able to see more information when updating the logging level while calling it. you might have some success too `curl localhost:15000/logging?level=debug`

[2018-03-01 02:42] dio commented on #2687
@mrice32 Pardon me if I'm wrong, but do you think this one https://github.com/envoyproxy/envoy/issues/2597 is also related?

[2018-03-01 03:02] htuch commented on #2687
Not sure how the second map helps if ultimately we need to output disjoint sets of tag extracted values for the distinct stats that are colliding. I think the solution that @jmarantz suggests would disambiguate at the expense of changing the output format in a non-compatible way.

Other ideas:
1. Rule it illegal to form such collisions, same way as is done in programming languages when you do unde

[2018-03-01 03:49] ldemailly opened #2690 "setting outbound (envoy as client) SNI based on host/authority"
it'd be ideal if https://www.envoyproxy.io/docs/envoy/latest/api-v1/cluster_manager/cluster_ssl
sni field supported an "automatic" mode where the sni sent is the authority of the captured http traffic

(this would allow to write wildcard rules for istio and still have outbound sni work)

followup from https://github.com/envoyproxy/envoy/issues/2670#issuecomment-368726197

[2018-03-01 04:59] jasonmartens opened #2691 "STRICT_DNS drops cluster members on lookup failure"
*Title*: STRICT_DNS drops cluster members on lookup failure

*Description*:
We are using Envoy in a Consul environment. We would like to use DNS lookups to configure our clusters. For our particular use case, we need Envoy instances in DCs around the world to locate a set of hosts in one datacenter. To do this, we are using a [prepared query](https://www.consul.io/api/query.html). In short, this a

[2018-03-01 08:15] danlanxiaohei opened #2692 "how to generate a json format log from envoy? like nginx (escape=json)"
i want to get a json format log like nginx(escape=json),any plan to support it?

[2018-03-01 17:14] ofek commented on #2683
I found one more https://www.envoyproxy.io/docs/envoy/latest/configuration/cluster_manager/cluster_stats.html#alternate-tree-dynamic-http-statistics

Those resolve to the same as https://www.envoyproxy.io/docs/envoy/latest/configuration/cluster_manager/cluster_stats.html#dynamic-http-statistics

[2018-03-01 17:31] ofek commented on #2687
Just fyi, in #2683 I found [one final collision(s)](https://github.com/envoyproxy/envoy/issues/2683#issuecomment-369663131).

I've manually went through every metric Envoy collects and in that issue I've listed all collisions.

[2018-03-01 21:09] ccaraman opened #2695 "ip tagging filter: support loading tags from file system"
*Description*: IP tags can only be loaded via the v2 configurations. Extend the filter to support reading IP tags from the file system.

[2018-03-01 21:14] mattklein123 commented on #2692
@danlanxiaohei what is this referring to? The HTTP access log? Envoy's application log?

[2018-03-01 21:19] mattklein123 commented on #2691
@jasonmartens the history here is that when we used to use `getaddrinfo_a()` there was basically no good way to differentiate an error from an empty response (terrible API). With c-ares there might be. I'm not sure. If there are clear errors that we should be ignoring, we can make the DNS resolver not consider it an empty response. I would have a look at the code.

Your other option is to enable a

[2018-03-01 21:30] mattklein123 commented on #2687
I think doing some type of checking and assertion at minimum is probably worth it. Having a 2nd map doesn't seem like that big of a deal to me since stat allocation itself is already assumed to be the slow path. I think doing (3) is going to be very difficult without major changes to how stats are created. I'm not sure it's wort it. I feel like with checking we would catch many/all issues.

@mrice

[2018-03-01 22:29] snowp opened #2696 "Add metadata matching to tcp filter"
Currently the tcp filter allows you to route to a cluster, but hard codes an empty `MetadataMatchCriteria` (https://github.com/envoyproxy/envoy/blob/master/source/common/filter/tcp_proxy.h#L148).

I'd love to be able to specify a `metadata_match` criteria in the tcp_filter config, to avoid me having to generating a unique cluster for each tcp routing I want. Instead, I'd set up a single cluster wi

[2018-03-01 22:44] mrice32 commented on #2687
@ofek Thanks for doing all the manual searching!

@mattklein123 Makes sense.  I'll be sure to add it to both stores.  Yeah, as long as we don't mind too many #ifdefs floating around, I think adding it to just the debug builds is the right way to go.

[2018-03-01 23:08] mrice32 commented on #2683
@ofek An example of @jmarantz's proposed solution is that `http.my_custom_prefix.fault.delays_injected` resolves to http.envoy.http_conn_manager_prefix.fault_delays_injected` as its tag extracted name.  This means that collisions will essentially never occur.

Also, both solutions will affect user visible stats outputs, so I'm curious what Envoy's change policy is with respect to stats?  Should we

[2018-03-01 23:45] ggreenway commented on #2692
I looked up the nginx documentation. It looks like the setting causes emitted values to be json escaped. And the structure of the json is from the format string in the config.

[2018-03-01 23:46] ggreenway commented on #2692
I'm the access logs

[2018-03-01 23:53] ggreenway commented on #2696
This sounds reasonable and straightforward. Go ahead and take a stab.

[2018-03-01 23:56] ofek commented on #2683
@mrice32 @jmarantz Using the `/stats` endpoint, how could one derive `my_custom_prefix` from `envoy.http_conn_manager_prefix`? If you can't, then the output would be more or less useless to consumers of the stats API.

[2018-03-02 00:06] mrice32 commented on #2683
@ofek `http.envoy.http_conn_manager_prefix.fault.delays_injected` would be the new tag extracted name (this example would resolve to `http.fault.delays_injected` today).  The vector of tags and tag names would still accompany the tag extracted name as they do today, so `envoy.http_conn_manager_prefix` would be listed as a tag in that vector with a tag_value of `my_custom_prefix`.

[2018-03-02 00:19] ofek commented on #2683
Ah, now I understand. Yes that `envoy` prefix indication of the tag would be great.

It would be *really, really* useful if the json output had a format like:

[code]

[2018-03-02 00:51] syml commented on #1605
Can hot restart work with abstract sockets? It seems there has to be a moment where the socket is unbound, and traffic would be lost then.
Can we consider a first PR without hot restart support? Especially for abstract sockets, which might be a permanent incompatibility anyway.

[2018-03-02 01:13] mpuncel opened #2697 "listeners should unlink() unix socket before binding to it"
Most listeners don't support listening on unix sockets yet (https://github.com/envoyproxy/envoy/issues/1605), however the admin listener does.

One usability issue with this feature is that if you restart Envoy with the same configuration (including a hot restart) it will fail when it tries to bind to the unix socket. If Envoy calls `unlink()` on the socket just before binding it should fix the pr

[2018-03-02 01:48] snowp opened #2698 "Allow configuring max connection lifetime for tcp filter"
As far as I understand it, the tcp filter will keep a connection open until the client/server closes the connection. This means that when a new host is added to a cluster, it won't see any traffic until net new connections come in or the older connections are dropped and reestablished. The result of this is a significant traffic imbalance and a long "warm up period" for new nodes.

We've solved th

[2018-03-02 01:59] snowp commented on #2698
turns out i was misunderstanding our current setup, i dont think we want this

[2018-03-02 01:59] #2698 closed

[2018-03-02 02:02] louiscryan commented on #1031
@PiotrSikora I suspect we're going to need this in combination with routing based on SNI sniffing otherwise we'll lose the original IP

[2018-03-02 03:17] snowp commented on #2075
Is this still a an issue? Looking at the source it looks like the validation is only performed on the V1 config: https://github.com/envoyproxy/envoy/blob/master/source/common/filter/tcp_proxy.cc#L60-L75

Can this be bypassed with the V2 config? Or is there something I'm missing?

[2018-03-02 04:16] dio commented on #2687
@mrice32 yes, this part of the sample output (duplications of `TYPE envoy_listener_http_downstream_rq_xx counter`) makes `promlint` doesn't happy:

[code]

The relevant test here https://github.com/envoyproxy/envoy/blob/master/test/integration/integration_admin_test.cc#L175 I believe should catch any duplication (but as commented in #2597, proper lint check by `promlint` to outputs of https://gith

[2018-03-02 05:05] #2343 closed

[2018-03-02 05:34] danlanxiaohei commented on #2692
@mattklein123 @ggreenway Thanks for your reply.

[2018-03-02 11:33] srikiraju opened #2699 "Support for dynamic request header SSL_CERT"
*Description*:
https://github.com/envoyproxy/envoy/pull/1131 already includes a framework to support dynamic request headers in the HTTP connection manager. We should extend this capability to support SSL_CERT from the originating client.

This can be useful to pull CommonName and other fields to provide built in ACL like features in services against TLS certs

*Relevant Links*:
nginx for example

[2018-03-02 17:36] katzdm opened #2700 "Do not reach into absl::strings_internal namespace"
Envoy currently utilizes `absl::strings_internal::memcasecmp()` from the [Abseil](http://github.com/abseil/abseil-cpp) project. This is contrary to the Abseil [Compatibility Guidelines](https://abseil.io/about/compatibility).

Please remove all references to this API, and refrain from referencing any other symbols within the family of `absl::*_internal:: namespaces`. This will help Abseil to move

[2018-03-02 18:24] #2667 closed

[2018-03-02 18:56] syml commented on #2697
Theoretically for regular unix sockets during hot restarts you could just pass the fd like it is done for regular sockets.

[2018-03-02 19:56] mattklein123 commented on #1605
I think even abstract sockets should work as we can pass the FDs across the UDS transport like we do for everything else. All that's really needed is the name to look it up by.

For everyone that is asking for this, I'm pretty certain this basically already works. There are probably a few asserts that need to be removed, maybe a tiny amount of logic to be added, and some tests. That's it.

[2018-03-02 20:23] cpakulski commented on #2695
@ccaraman I can do that if you guide me a bit.

[2018-03-02 20:38] mattklein123 commented on #2075
@snowp hmm yeah I guess this isn't an issue for v2 simple configs. I think the main issue here is that with out the deprecated v1 stuff we don't support more complex routing w/o the checks (that more complex stuff in v2 us ultimately meant to be implemented as part of filter chain matching).

IMO we can just remove the checks for the v1 part since the rest of the code should work fine and then cal

[2018-03-02 20:39] mattklein123 commented on #2075
(The other option is to introduce an option much like the "validate_clusters" option for HTTP routes, since some people like to have the checking in place to catch errors).

[2018-03-02 20:46] mattklein123 commented on #2697
See https://github.com/envoyproxy/envoy/pull/2701. @jmillikin-stripe can you take this issue into account also when you are doing your PR?

[2018-03-02 20:47] athampy commented on #2700
Hey @mattklein123, I can work on this.

[2018-03-02 20:47] mattklein123 commented on #2700
@athampy. Cool, have at it.

[2018-03-02 23:52] ggreenway commented on #2075
I'm fine with removing that check. It looks like everything will still work.

[2018-03-03 00:13] bmadhavan opened #2703 "Option to send a RST when closing sockets"
*Description*:
There are some use cases where we would want to close the socket by sending a `RST` rather than a 3 way handshake `( FIN,FIN+ACK,ACK )`.

Reason: For certain security use cases if we detect clients are trying to attack, we would want to close the socket by sending a RST and free up our socket immediately.
Currently we can only send a FIN for which the client might not reply back wit

[2018-03-03 00:19] ggreenway commented on #2703
Also, for tcp_proxy, if we can detect that one side received a RST, it is more correct to send a RST to the other side than a FIN.

[2018-03-03 16:56] mattklein123 commented on #2703
How does one do this using the socket API? I found this article. Is that the way? http://deepix.github.io/2016/10/21/tcprst.html

[2018-03-03 20:13] bmadhavan commented on #2703
Yes. Setting `SO_LINGER` using setsockopt() before close() is the way.

[2018-03-04 02:26] derekargueta opened #2709 "Access Log Date Formatting"
*Title*: Access Log Date Formatting

*Description*:
Any thought on expanding the Access Log format template to allow custom date formatting? I'm thinking something like
[code]

Being able write the unix epoch instead/additionally may also be helpful.

[2018-03-04 05:39] mandarjog opened #2710 "Envoy coredumps with random_sampling enabled."
*Title*: *Envoy core dumps with tracing.random_sampling enabled*

*Description*:
Using latest Envoy proxy with Istio I am using runtime { tracing.random_sampling = 100 } to enable 1% traces sampled.
The expectation is that if the incoming request is not otherwise traced, 1%
of the requests would be traced, per runtime_Config

This is my runtime configuration.
[code]

*Call Stack*:
When I enabled s

[2018-03-04 23:48] mandarjog commented on #2710
If a request is not being traced, `active_span_` is not initialized in `ConnectionManagerImpl::ActiveStream::traceRequest()`.   This will happen when random sampling is not at `100%`
In `ConnectionManagerImpl::ActiveStream::encodeHeaders()` it is blindly used when trace operation is egress. Since istio uses resp_operation_override, this problem was hit.

[2018-03-05 00:42] ArkadyB opened #2712 "GRPC service mesh, configuration example"
Hi,

Im trying to build grpc service mesh. For the reason i consider to use tenvoy.tcp_proxy filter type, but it does not seem to work. Assuming we have two miscroservices both running GRPC with client application talking them GRPC too, what is my most basic configuration to use. Is there anywhere a reasonable example? Would i still have to use http-grpc bridge?

[2018-03-05 02:44] dio commented on #2712
Assuming one of your gRPC services runs at e.g. port `50051` and the client could connect insecurely (no TLS e.g. if using go we use [`grpc.Dial(address, grpc.WithInsecure())`](https://github.com/grpc/grpc-go/blob/master/examples/helloworld/greeter_client/main.go#L38)) to the server, the simplest config (.yaml v2) will be something like:

[code]

[2018-03-05 03:15] andytruong commented on #2514
That's great to have this feature. Look istio implementation moved to  https://github.com/istio/proxy/tree/master/src/envoy/http/jwt_auth

[2018-03-05 03:30] ofek opened #2713 "Many stats are undocumented"
**server:**
https://github.com/envoyproxy/envoy/blob/8f07d9757018e1eaa9e150cc7dadffaaaebcb51b/source/server/server.h#L37

**filesystem:**
https://github.com/envoyproxy/envoy/blob/8f07d9757018e1eaa9e150cc7dadffaaaebcb51b/source/common/filesystem/filesystem_impl.h#L21

**tracing:**
https://github.com/envoyproxy/envoy/blob/8f07d9757018e1eaa9e150cc7dadffaaaebcb51b/source/common/http/conn_manager_impl.

[2018-03-05 04:05] ArkadyB commented on #2712
Thank u for response!
Why do you still use http manager for filter? Should`t it be tcp_proxy?

Thanks!

[2018-03-05 05:13] dio commented on #2712
gRPC transports over http2 and envoy supports it https://www.envoyproxy.io/docs/envoy/latest/api-v1/network_filters/http_conn_man.html while for the cluster, the http2_protocol_options enables http2 support for upstreams https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cds.proto.html?highlight=http2_protocol_options

[2018-03-05 07:44] lixiaobing1 commented on #492
@cmluciano, yes, you are right, FDD is  frequency-division duplexing and TDD is time-division duplexing, up to now, telecommunication has experieced 2G, 3G, 4G(LTE), 5G, the protocal is mainly as IP/UDP/GTPU.

[2018-03-05 09:45] lizan opened #2715 "HTTP1 conneciton pool attach pending request to half-closed connection"
*Description*:
The HTTP1 connection pool attach pending request [when a response is complete](https://github.com/envoyproxy/envoy/blob/c932e50c34a11dd382dca9c5daf2026d4686daa9/source/common/http/http1/conn_pool.cc#L212). Though the upstream server may already closed the connection, this will result the pending request attached to it end up with 503.

A sample upstream HTTP1 trace log:
[code]

The

[2018-03-05 09:52] htuch commented on #2699
@srikiraju this seems reasonable; we did have SSL attributes in mind when considering this feature originally. Are you planning on working on this or should we leave this as "help wanted"?

[2018-03-05 09:57] htuch commented on #2709
This seems reasonable. Unix epoch is easy to add, I guess `strftime` format would make sense for custom formatting. Do you plan working on this or should I leave this "help wanted"?

[2018-03-05 09:59] htuch commented on #2712
@ArkadyB I'd suggest https://groups.google.com/forum/#!forum/envoy-users as a forum for exploring this question if @dio (thanks!) response needs further clarification.

[2018-03-05 10:05] htuch commented on #2715
So, the solution is just to check if the remote is closed before attaching a new request? Are you working on a fix @lizan ?

[2018-03-05 10:50] dio commented on #2709
Probably this https://github.com/envoyproxy/envoy/issues/2692 is related? We might want to support something similar with nginx `log_format`? http://nginx.org/en/docs/http/ngx_http_log_module.html#log_format

[2018-03-05 14:16] jmarantz opened #2716 "typo in well_known__names.cc: dyanmo_table vs dynamo_table"
*Description*:
I'm not sure if this would cause downstream issues if this is fixed.  Typo is in https://github.com/envoyproxy/envoy/blob/b6b15645e1bc740d5280dee4561ff3a3cb0cc5fa/source/common/config/well_known_names.h#L269

[2018-03-05 15:39] alyssawilk commented on #1031
FWIW I'm not convinced the PROXY header will be sufficient for our (GFE's) needs.  The linked doc mentions intentional limited extensibility and I believe we're going to want terminating cluster, p0f information, rtt etc.  I suspect we'll get that from #2394 as we'll be TCP proxying over H2 for port reduction and connection reuse.

[2018-03-05 15:42] ldemailly commented on #2715
thanks @lizan!

[2018-03-05 16:28] htuch commented on #2709
@dio I don't think so, unless you're suggesting we should have one master issue tracking all the places we don't have Nginx log format, including places where we have headers that should reflect some of these variables such as https://github.com/envoyproxy/envoy/issues/2699. Probably someone should do a design doc or list of vars that cover the union of what Nginx and Envoy supports and describes

[2018-03-05 16:51] #2634 closed

[2018-03-05 16:55] alyssawilk commented on #2703
When we do this, can we make it extensible enough to allow for TCP silent close?

It turns out to be super important when your proxies are talking heavily to cell networks
https://www.cs.indiana.edu/~fengqian/paper/stc_conext13.pdf

[2018-03-05 17:04] htuch commented on #2716
Probably should fix it, but will leave this open for a little while in case anyone objects.

[2018-03-05 17:24] htuch commented on #2428
These continue to happen, e.g. https://circleci.com/gh/envoyproxy/envoy/29430?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-03-05 17:56] ggreenway commented on #2703
@alyssawilk The two approaches I've thought of are:

1) Add a new value to ConnectionCloseType for Reset (and then an additional one for SilentClose).
2) Add a function to Connection to allow setting the close type when closed with NoFlush (I think FlushWrite should always be a clean/normal close).

I think what we choose will depend on where we want to configure the close type; I don't have a goo

[2018-03-05 17:57] alyssawilk commented on #2703
Yeah, I'm not sure which is cleaner offhand, I just want to make sure we don't plumb through a boolean when I believe we'll want an enum or some such :-)

[2018-03-05 18:11] #2700 closed

[2018-03-05 18:23] jmillikin-stripe opened #2718 "Name of `use_remote_address` is confusing because it's actually about the proxy headers"
*Description*:
While debugging mysterious behavior that turned out to be https://github.com/envoyproxy/envoy/issues/2638, I was very confused about how the `use_remote_address` field affected HTTPS behavior. It turns out that this field's true behavior is to set whether the `X-Forwarded-*` headers are trusted or not.

Given that incorrectly trusting these headers can be a security risk, and the st

[2018-03-05 18:37] mastersingh24 commented on #1843
@PiotrSikora  - are you planning on supporting both SNI and ALPN?

[2018-03-05 18:58] ggreenway commented on #2703
Duly noted.

[2018-03-05 19:29] srujann opened #2721 "Support for Multicast messages in service to service communication"
This is a feature request to be able to send a multicast request to all instances of a service using Envoy with Service Discovery.

This would be useful for cases like a fully replicated cache, where cache update one node needs to be multicasted to all other nodes.

Desired behavior:
- Multicast request indicated to envoy probably through a header.
- Usable with gRPC (HTTP2).
- Request can be best

[2018-03-05 19:45] htuch commented on #2718
The style guide doesn't allow for renaming of fields that have been frozen, see https://github.com/envoyproxy/data-plane-api/blob/master/STYLE.md. This is primarily due to JSON/YAML wire format compatibility concerns. Maybe we can improve docs to help reduce confusion, any suggestions here?

[2018-03-05 19:47] htuch commented on #2721
How does service discovery figure into this?

[2018-03-05 20:08] srujann commented on #2721
I wasn't clear about this earlier. The intention is that multicast request would be sent with service name and Envoy would query service discovery for all instances of this service to use that as destination pool of multicast request.

[2018-03-05 20:51] lizan commented on #2715
Yeah I believe the solution is make `client.codec_client_->remoteClosed()` return correct value at that moment.

I'm pretty busy today but can start working on a fix tomorrow.

[2018-03-05 21:25] pitiwari opened #2722 "Destructor failing while calling derived class function"
Found this issue while trying to Create CounterImpl class in envoy/source/common/stats/stats_impl.h .Need some help in fixing it

*Title*: Destructor failing while calling the derived class function

*Description*:
Found this issue while trying to Create CounterImpl class in envoy/source/common/stats/stats_impl.h. CounterImpl destructor is calling alloc of the derived class since base class RawSta

[2018-03-05 21:37] mattklein123 commented on #2715
@lizan we can look at a fix here but something about this doesn't make sense to me.

Is the upstream HTTP/1.0 or is it not setting `Connection: Closed` header? If it's closing the connection is should be setting that header is HTTP/1.1. This sounds like an upstream bug to me.

[2018-03-05 21:38] mattklein123 commented on #2718
+1, let's not rename this field. It will cause too much pain. Doc improvements greatly appreciated. cc @brian-pane who has also worked in this area recently.

[2018-03-05 21:42] mattklein123 commented on #2703
Most likely we are going to end up doing this from HTTP level filters for security reasons, so also keep that in mind. I don't think we will want to expose the full connection object up to the HTTP filter level.

[2018-03-05 21:44] mattklein123 commented on #2716
I would go ahead and just fix. Thanks @jmarantz

[2018-03-05 21:50] PiotrSikora commented on #2715
@mattklein123 upstream is free to close the connection in between requests (e.g. due to timeout), even if it previously sent `Connection: keep-alive`.

[2018-03-05 21:51] htuch opened #2725 "Weighted load balancing"
We have a need for weighted LB that respects the (v2) locality weighting in addition to endpoint weighting. This needs to work initially for RR and Maglev LB, but eventually we would like any implementation to generalize to all LBs (at least at the locality level). This issue will track design discussion and implementation work.

We can weight RR via replication of hosts in the queue, at the expen

[2018-03-05 21:52] mattklein123 commented on #2715
@PiotrSikora yes, that is true, but if due to timeout there is an inherent race condition here. This is why @ramaraochavali is adding the idle timeout feature. I don't really see how looking for remote close is a viable fix in all cases. We can potentially do it, but there are still races that will be lost.

The "correct" solution here is to make sure upstream is setting `connection: closed` if it

[2018-03-05 21:56] ldemailly commented on #2715
I want to point out another scenario which would probably not be solved by just not putting back dead sockets in the pool (that I fixed in fortio while we investigated this):

the socket can die afterwards for any reason, so when envoy picks up a connection from the pool that isn't fresh, it needs to auto reconnect if it gets any error before reading anything on the socket, and not attribute that

[2018-03-05 22:03] lizan commented on #2715
I agree that upstream is not setting `Connection: closed`, from log this seems to be true. @ldemailly can comment more about the upstream server.

Though, the codec_client_->remoteClosed() is returning false (checked [here](https://github.com/envoyproxy/envoy/blob/c932e50c34a11dd382dca9c5daf2026d4686daa9/source/common/http/http1/conn_pool.cc#L204)) while the connection already read end of stream i

[2018-03-05 22:04] htuch opened #2726 "EDS delivered health status"
We added the ability to deliver health status for endpoints in the v2 API (https://github.com/envoyproxy/data-plane-api/blob/818dc1db99f73830b4f9be50c243d439e23555d6/envoy/api/v2/endpoint/endpoint.proto#L31). This can be used to provide centralized health checking and influence gentle failover between priority groups.

We have a requirement for this but it's not yet implemented, so will take this

[2018-03-05 22:06] ldemailly commented on #2715
re upstream bug: I don't think the spec forces http1.1 servers to keep connection alive indefinitely or forbid them from changing their mind and closing a connection after they sent the headers/payload ? and again, even if that way the case, it just highlights what may happen anyway with many simple services

[2018-03-05 22:08] mattklein123 commented on #2715
Yes, if there is an obvious fix here, sure, do it, but I'm just explaining this is a bandaid that will not fix all cases of it.

For HTTP/1.1, the spec does say that connections are kept alive until the other side sets `Connection: closed`. It is true that endpoint can close at any point due to idle timeout, but this is just one of those things that in general is not done. If the server is not set

[2018-03-05 22:11] ldemailly commented on #2715
@mattklein123 can you also comment on

does that makes sense?

[2018-03-05 22:13] lizan commented on #2715
The spec (end of 6.1 of [RFC7230](https://tools.ietf.org/html/rfc7230#section-6.1)) only says:

   "close" connection option in every response message that does not
   have a 1xx (Informational) status code.

And in [6.5](https://tools.ietf.org/html/rfc7230#section-6.5) it says:

   time.  For example, a client might have started to send a new request
   at the same time that the server has decide

[2018-03-05 22:13] mattklein123 commented on #2725
Agreed. I think we should do a first stage locality weighting pass during selection that I think should be easily generalizable across all LBs.

@htuch for 2nd level weighting, do you mind updating this with our offline convo? (Maglev and Ketama are both straightforward, RR is straightforward at the expense of memory, LR is tricky and the crappy implementation we have now needs to be replaced).

[2018-03-05 22:14] ldemailly commented on #2715
re upstream bug:
"If the server chooses to close the connection immediately after sending the response, it SHOULD send a Connection header including the connection-token close."
should != must

also "A client, server, or proxy MAY close the transport connection at any time. "

[2018-03-05 22:16] mattklein123 commented on #2715
As I already explained, regardless of what the spec says, in the real world this is a bug. The upstream should be setting `Connection: Closed` if its going to immediately close. That's just the way it is.

Yes socket can die, timeout, etc. This is what router level retries are for. I don't think handling this in the connection makes sense from a complexity perspective.

[2018-03-05 22:17] PiotrSikora commented on #2715
@mattklein123 sorry, but what you're suggesting basically requires upstream to commit *indefinitely* to waiting and accepting another request, which doesn't make any sense. Web servers close idle connections all the time. This is known behavior, and there is no requirement to do otherwise.

That's not an upstream bug, but a bug in Envoy, since it's queues requests on already closed connection.

[2018-03-05 22:20] mattklein123 commented on #2715
Negative. That is not what is happening here. Upstream is *immediately* closing the connection. I understand servers can close for any reason, but this is a timing issue. Even if you "fix" this case, there are interleavings in which we will not get the close notification until too late and we will still hit this issue.

HTTP/1.1 has this inherent timing issue. As I already explained, this is solve

[2018-03-05 22:32] ldemailly commented on #2715
how would you know what the upstream timeout is ? whatever number you pick, it's valid for the upstream server to use 1/2 of that - or again - to close whenever for any reason

we're trying to make the sidecar make legacy services better, if a service is doing something allowed by the spec (and probably even if it wasn't) our goal is to do better, not generate spurious errors

[2018-03-05 22:34] mattklein123 commented on #2715
You can't really. This is just a problem with HTTP/1.1 flat out. As I said before, if there is a log issue with the remote close logic we should absolutely fix that, but it will not fix all cases. There will be interleavings and timings that will be lost and you will hit this error. This is in general what router level retries are for.

[2018-03-05 22:37] ldemailly commented on #2715
I disagree - we can do what I mentioned above: if you get a read error before reading anything else (without reading headers/reply for what you requested), it just means the socket is dead and you need a new one

[2018-03-05 22:39] mattklein123 commented on #2715
You are implementing retry logic now in 2 places. This does not make sense. Use router level retries. If a new retry policy is needed to cover this case we can look into that.