[2020-03-26 22:21] rharding6373 commented on #10424
Thanks for the input and the pointer to the thrift example. Agree that the issues are tightly coupled. Given the direction of the discussion on #10421 I'm fine closing this.

[2020-03-26 22:21] #10424 closed

[2020-03-26 22:31] zuercher commented on #10423
The connection pools are keyed by priority and socket options. There isn't currently a way to maintain separate pools based on protocol-specific data.

It should be noted, however, that each ConnPool instance is a pool of connections to a single logical upstream host. If your intention is direct upstream requests to specific groups of hosts, that's a concern for the LoadBalancer. I'd need to know

[2020-03-26 22:43] #10481 closed

[2020-03-26 23:08] rharding6373 commented on #10423
Our use case is to share connections that have similar protocol-specific metadata. E.g., a connection opened for user A can be reused by future connections by user A, but cannot be reused by user B. Ideally we'd also be able to enforce constraints among these groupings of connections, e.g. all connections pooled for user A + user B can't exceed some common threshold, as well as define policy for h

[2020-03-26 23:24] am-oxipay commented on #10482
I think this is a reasonable option at least to address many use cases.

I would note that using regular expressions with both Apache Httpd and Nginx has been quite common in most of my jobs since the mid 2000's, so I think if this was added as a separate feature / config option it would be valuable in it's own right, but perhaps it could be an either or function.

i.e you can use
domains = [
...

[2020-03-26 23:31] moderation commented on #10541
If your organization is concerned about security I'd suggest running a "kitchen sink" Envoy container with every extension enabled isn't ideal. @dio's method above is good but ideally you should build a custom Envoy with only the extensions you require compiled into the binary (IMO).

[2020-03-27 00:00] #10445 closed

[2020-03-27 00:25] sagarkal commented on #10541
@dio Yes your Dockerfile would suffice! are you considering releasing a new tag based on this Dockerfile? because I believe the it's a good security practice to run containers as non-root.

@moderation Well although what you said does make sense, I think having our own custom image would lead to an overhead of maintaining it and updating it as and when there is a newer image from envoy.

Neverthel

[2020-03-27 00:42] moderation commented on #10541
Security vs. low maintenance - choose one. If you're running Twistlock I would have thought that security was important... ¯\_(ツ)_/¯

For what it's worth we run Envoy as part of Contour on a Kubernetes cluster where root is prohibited and it works. Where are you running this Envoy container?

[2020-03-27 02:07] popozy opened #10552 "Build: bazel build failed in network filters"
*Description*:
I meet the similar error about kafka networkfilter when building envoy-wasm:
the Traceback :
[code]
It seems like launcher.py not found, however I found the file
[code]
Any idea for what can I do to make it, buddies? ：）
And it seems like envoyproxy/envoy#7082 , but no useful information can help me: (

[2020-03-27 02:13] popozy commented on #10552
Enviroment:
+ PATH=/root/package/llvm-project/build/bin:/root/package/z3-master/build:/root/package/gn/out:/root/package/llvm-project/build/bin:/usr/local/java/bin:/root/apache-ant-1.9.14/bin:/usr/share/Modules/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/root/bin
+ clang++:
lang version 8.0.1
Target: aarch64-unknown-linux-gnu
Thread model: posix
InstalledDir: /root/package/llvm-project/

[2020-03-27 03:38] MOURYA00 commented on #10465
Hi @cpakulski and @lizan ,Thanks for the reply, it was helpful for me to go further for debugging, but I found little difficult for me to understand the bazel, because many time while reading about the bazel, I found that it is better to use bezelisk instead of bazel, please share with me if you have any tutorial that you had found helpful to understand bazel. Thanks again.

[2020-03-27 04:02] #10075 closed

[2020-03-27 05:10] mandarjog commented on #10544
@PiotrSikora @jplevyak @kyessenov

[2020-03-27 05:58] dio commented on #10525
One example of network filters that can be attached to that is `istio.metadata_exchange` wasm filter. https://github.com/istio/proxy/blob/1d997c17e2321d43565c80eb828f7bdcb78de7e2/src/envoy/tcp/metadata_exchange/config.h#L49-L71

[2020-03-27 09:05] rahul-gupta-1525 commented on #6099
I am also facing this issue, any updates on this? Can't we use http_service in ext_authz filter at all?

[2020-03-27 09:06] rahul-gupta-1525 commented on #5357
any updates on this?

[2020-03-27 17:03] mabukhovsky opened #10554 "Envoy Dynamic Proxy with ExtAuthZ filter to authorize requests"
I want to build dynamic forward proxy configuration that authorizes request with ExtAuthZ XDS service before it is actually forwarded by dynamic forward proxy. If I got it right, I can achieve this by having a chain of http filters attached to  :

1. ExtAuthz to Authorize requests
2. If request is authorized, use Dynamic Forward Proxy to actually forward it

Here's a draft of configuration. Please

[2020-03-27 18:52] #10273 closed

[2020-03-27 19:25] mattklein123 commented on #10543
cc @wgallagher

[2020-03-27 19:54] dweitzman opened #10556 "Rate limiting: include rate limit names in global rate limiter response"
*Title*: include rate limit names in global rate limiter response

*Description*:
The proposal is to update api/envoy/service/ratelimit/v3/rls.proto to add a name, description, or id field to the "RateLimit" message.

This RateLimit message isn't used by envoy today. It seems to be purely information to direct clients of the API (not through envoy), presumably to aid with debugging or support non-

[2020-03-27 21:07] #7624 closed

[2020-03-27 23:37] mattklein123 commented on #10544
Yeah I think just formalizing the worker name or ID would be fine. We could make this available via the TLS interface potentially, or possible the dispatcher interface, or probably any number of other cases. Do you want to flesh out a concrete proposal?

[2020-03-28 01:34] yskopets commented on #10544
Yes, I can prepare a proposal.

But I need to take a deeper look into TLS mechanics first.

[2020-03-28 05:07] #10095 closed

[2020-03-28 09:18] dio commented on #10554
@mabukhovsky I think that's correct. A small detail though, your target for ext_authz is ext_authz service (that implements external_auth `Authorization` service: [`envoy/service/auth/v2`](https://github.com/envoyproxy/envoy/blob/e9248e242d18e8754d2c07272a8fbae5a8a6b47a/api/envoy/service/auth/v2/external_auth.proto#L27-L32)).

I put together an example here: https://github.com/dio/authz. Good luck

[2020-03-28 19:59] twreid commented on #125
Is there any progress on this?

[2020-03-28 21:07] #10112 closed

[2020-03-28 23:00] yskopets opened #10563 "proposal: design Wasm ABI for tracing providers"
*Title*: design `Wasm` ABI for tracers

*Context*:
* after `Envoy` moved to `libc++`, `dynamic_ot`-based tracers got broken because they were relying on `C++` ABI
* following that, a potential new tracing provider expressed its interest in `C` ABI instead
* so, it seems that tracing providers could benefit from having their own `Wasm` ABI

*Proposal*:
* Let's try to design `Wasm` ABI for tracers
*

[2020-03-29 02:11] twreid commented on #125
I actually did some digging and looks like a library c-ares is used for dns resolution and looking at it they do support SRV records. Unless I'm missing something.

[2020-03-29 03:59] Arnold1 commented on #7599
hi,

@postwait any idea how to do that?

I also look for configurable histogram buckets:
to have histogram buckets from:
```0.5, 1, 5, 10, 25...```
to
```0.5, 1, 5, 10, 15, 20, 25...```

[2020-03-29 11:43] ChrisLahaye commented on #125
@twreid could you please let me know when you find a solution. We would also like to use envoy with SRV-based service discovery.

[2020-03-29 13:28] postwait commented on #7599
Those boundaries all exist within the histogram, you just need to sum up the bins appropriately to get your desired boundaries. Upside is that with the bins you describe, you'll have 100% accuracy.

[2020-03-29 16:12] Arnold1 commented on #7599
@postwait im not sure what you mean, could you show how?

[2020-03-29 19:00] MarcinFalkowski opened #10566 "Envoy produces invalid response when TLS http/1.1 cluster returns `upgrade: h2` and `transfer-encoding: chunked`"
Envoy produces invalid response when TLS http/1.1 cluster returns `upgrade: h2` and `transfer-encoding: chunked`

When http/1.1 TLS cluster returns following headers in a response:
[code]
Envoy returns invalid response downstream.

Direct request to the upstream using curl works correctly:
[code]

Through Envoy we receive something like this:
[code]

Responses with `transfer-encoding: chunked` onl

[2020-03-29 19:37] jaredkhan commented on #10505
Hm. Well, after a dive down the rabbit-hole of https://github.com/grpc-ecosystem/grpc-httpjson-transcoding I can no longer replicate this problem with the latest envoy. Nor any recent version of Envoy. So I'm not sure what image I must have been running before.

I'll just try on one more machine before closing this issue 😊

[2020-03-29 22:58] jmarantz opened #10567 "test: SimulatedTimeSystem::sleep() should block on timer-callbacks all completing"
Currently it activates the timers, but the dispatcher in each thread should be allowed to run to completion before sleep() returns control.

@mattklein123 noticed this.

[2020-03-29 22:58] jmarantz commented on #10567
This blocks #4160

[2020-03-29 23:05] #10125 closed

[2020-03-29 23:05] jmarantz opened #10568 "test: some integration tests fail when using simulated time"
It's not clear if these are all due to the same issue or not.

e.g.
test/integration:filter_manager_integration_test hangs when run under sim-time.

[2020-03-29 23:06] jmarantz commented on #4160
This was not fully closed. There are still a few barriers to enabling sim-time for all integration tests.

[2020-03-29 23:06] jmarantz commented on #10568
This blocks #4160

[2020-03-29 23:30] jmarantz commented on #10568
with https://github.com/envoyproxy/envoy/pull/10551 , test/extensions/filters/http/cache:cache_filter_integration_test passes consistently, but only with a real-time polling delay of 50ms (+ or -) which I believe should not be necessary.

[2020-03-29 23:56] jmarantz commented on #10568
More details on the cache_filter_integration_test.
[code]
The code in question is here:
[code]
It appears to me that response->headers() is populated, or at least std::moved in the main thread, so I am not understanding how there can be a race here, but adding the real-time delay appears to be needed.

[2020-03-30 00:21] sagarkal commented on #10541
@moderation We are gonna run envoy on Kubernetes too..
_we run Envoy as part of Contour on a Kubernetes cluster where root is prohibited and it works_
I did not quite get this..if you mean root is prohibited, then how do you use Envoy image that is based on root user? Or may be at run time you override the user using [RunAsUser](https://kubernetes.io/docs/concepts/policy/pod-security-policy/#users

[2020-03-30 00:33] htuch commented on #6588
From https://github.com/envoyproxy/envoy/pull/10488#issuecomment-605093195:

We should try and put in place a sustainable policy around repo management here before closing out this ticket.

[2020-03-30 02:34] moderation commented on #10541
@sagarkal we build our own images and add / run as non-root user.

[2020-03-30 03:15] sagarkal commented on #10541
@moderation Gotcha

[2020-03-30 03:15] #10541 closed

[2020-03-30 07:07] dio commented on #5357
@rahul-gupta-1525 I have a WIP here: https://github.com/envoyproxy/envoy/pull/10573. Need to update the URL lib to use the newly imported [googleurl](https://github.com/envoyproxy/envoy/pull/10488).

[2020-03-30 09:53] stevef1uk commented on #1861
Having got bazel built on a RPi4 and invoking it just so:

bazel build -c opt //source/exe:envoy-static'

I am getting the following errors and am stuck!

INFO: Repository 'com_github_gperftools_gperftools' used the following cache hits instead of downloading the corresponding file.
 * Hash '97f0bc2b389c29305f5d1d8cc4d95e9212c33b55827ae65476fc761d78e3ec5d' for https://github.com/gperftools/gperfto

[2020-03-30 14:07] moderation commented on #1861
@stevef1uk Make sure you have autoconf and automake installed. What OS are you using? Bazel version? Are you using the pre-built Clang binaries at https://releases.llvm.org/download.html that allow you to compile with libc++?

I build with `bazel build --jobs 3 --config=libc++ -c opt //source/exe:envoy-static.stripped`

[code]
[code]
The `.bazelrc` file I have in my root directory is:
[code]
The l

[2020-03-30 14:20] htuch commented on #10563
@yskopets do you have any thoughts on how existing trace libraries will work under Wasm? Is it reasonable to suspect that most of them will "just work" when built for a Wasm target and wrapped with an Envoy Wasm tracing ABI shim?

[2020-03-30 14:23] htuch commented on #10566
@mattklein123 @antoniovicente @alyssawilk can you folks take a look at this one?

[2020-03-30 15:23] vladg9 opened #10574 "Returning the correct code when per_try_timeout budget is exhausted"
*Title*: Returning the correct code when per_try_timeout budget is exhausted

*Description*:
If a `per_try_timeout` budget is exhausted, the returned code is 503. This is arguably correct for HTTP1 but for gRPC communication a `deadline-exceeded` (setting `grpc-status` to `4`) would be more accurate.

[2020-03-30 15:26] mattklein123 commented on #10563
This would be optimal though I'm skeptical it's going to be easy to make this work. At a high level I think it's a great idea to start working on other extension types and see how we can make that work, especially as we navigate the envoy specific vs. non-envoy specific ABI.

My suggestion would be to start as @yskopets suggests and let's do a design proposal for an Envoy WASM tracing plugin ABI,

[2020-03-30 16:57] yskopets commented on #10563
@htuch

Right now, `Envoy` has roughly 3 categories of tracers:
1. `Envoy`-agnostic (`dynamic_ot`)
2. Almost `Envoy`-agnostic (`opencensus`)
3. `Envoy`-native (`datadog`, `lightstep`, `xray`, `zipkin`)

So,
1. `Envoy`-agnostic tracers should "just work".
2. Almost `Envoy`-agnostic - `opencensus` - hard to say. OpenCensus is very unique.
3. `Envoy`-native tracers will definitely require some change

[2020-03-30 16:58] spenceral opened #10575 "Allow specifying a different transport socket config for cluster health checks"
*Title*: *Allow specifying a different transport socket config for cluster health checks*

*Description*:
It is my understanding that today, cluster active health checking uses the [transport socket specified for the cluster](https://github.com/envoyproxy/envoy/blob/9521f88d93c1454739895d979e16000d1df0729b/api/envoy/api/v2/core/health_check.proto#L181). I'd like to allow overriding that transport

[2020-03-30 17:04] marcantoine-bibeau commented on #10411
any development on this?

[2020-03-30 17:23] qiwzhang commented on #10505
By reading this code
<https://github.com/envoyproxy/envoy/blob/4283e25cacb89627819be51b1c1cd7d4bfcb35ff/source/extensions/filters/http/grpc_json_transcoder/json_transcoder_filter.cc#L162>,
it seems that additional bindings are not supported.   But it should be
easy to add,  just add a for loop here to add all rules in the
additional bindings.

On Sun, Mar 29, 2020 at 12:37 PM Jared Khan <notificat

[2020-03-30 19:15] sanjaypujare opened #10576 "Envoy protos should not have a dependency on opencensus proto"
**WARNING: If you want to report crashes, leaking of sensitive information,
and/or other security issues, please consider
[reporting them using appropriate channels](https://github.com/envoyproxy/envoy#reporting-security-vulnerabilities).**

**Bug Template**

*Title*: Envoy protos should not have a dependency on opencensus proto

*Description*:
We use Envoy protos for using the xDS APIs between ou

[2020-03-30 19:15] sanjaypujare commented on #10576
@dapengzhang0 can add more comments.

[2020-03-30 19:30] htuch commented on #10576
@yskopets @g-easy do you have any thoughts here?

I'm wondering why it is not acceptable to have additional proto dependencies for HCM? I.e. what is the criteria.

@sanjaypujare I imagine this is in the context of gRPC, doesn't gRPC depend on OpenCensus anyway?

[2020-03-30 19:33] htuch commented on #10575
@snowp @lizan any thoughts here?

[2020-03-30 19:38] htuch commented on #10574
I thought `sendLocalReply` already does this mapping in https://github.com/envoyproxy/envoy/blob/master/source/common/http/utility.cc#L441.

@jrajahalme @dio any thoughts on this one?

[2020-03-30 19:41] sanjaypujare commented on #10576
Couple of things:
1) compiling the protos becomes more difficult because of the additional dependency
2) should envoy depend on a particular metric and tracing API?

But not on opencensus protos. Even the dependency on opencensus libraries has been removed recently IIRC. Will add a reference here.

[2020-03-30 19:57] snowp commented on #10575
I don't see how this is required to do L7 health against something that uses tcp_proxy? You should be able to just specify a HTTP health check for the cluster. Is the problem that you're not using TLS when doing L4 proxying, but need to do so during health checking?

[2020-03-30 20:16] jaredkhan commented on #10505
I tried on another machine and this does actually seem to work now. I'm not sure why it was failing for me before.

The additional_bindings handling is hidden in this line:
https://github.com/envoyproxy/envoy/blob/4283e25cacb89627819be51b1c1cd7d4bfcb35ff/source/extensions/filters/http/grpc_json_transcoder/json_transcoder_filter.cc#L176

Implemented in this dependency: https://github.com/grpc-ecosy

[2020-03-30 20:16] #10505 closed

[2020-03-30 20:39] sanjaypujare commented on #10576
For grpc-java https://github.com/grpc/grpc-java/pull/6577 talks about "dependency on opencensus is at runtime by reflection". Even without this we never had any dependency on opencensus protos.

[2020-03-30 21:22] dmitri-d commented on #10422
Line numbers have changed since I reported the issue:
[code]

[2020-03-30 21:26] spenceral commented on #10575
You're right, I should've been more specific. I want to do https health checks so I'd like to configure a TLS transport socket for health checking.

[2020-03-30 21:30] jsbucy commented on #9133
some progress on starttls on #9577

[2020-03-30 22:14] dapengzhang0 commented on #10576
Why should `trace.proto` explicitly depend on a particular tracing provider `third_party/opencensus_proto/trace/v1/trace_config.proto`? Could it use `Any` type for the trace config and let the implementation select the tracing provider and apply the config dynamically in the runtime?

[2020-03-30 22:29] htuch commented on #10576
I think `Any` should be fine here, @yskopets WDYT?

[2020-03-30 22:29] mattklein123 commented on #10566
Yeah this is a bug. The HTTP/1.1 client code does not currently correctly handle this type of advisory upgrade header in a response that was not an upgrade request. I think the easiest thing to do would be to keep track in the client as to whether we are actually attempting an upgrade and only switch into upgrade most in that cast.

[2020-03-30 22:38] lizan commented on #9916
Erm, stalebot shouldn't close this, is it a bug?

[2020-03-30 22:45] jpeach commented on #10489
Further upstream triage; we were configuring an IPv6 address literal for a `STRICT_DNS` cluster. Envoy documents this as requiring a socket address with hostname rather than an address. The fact that using an IPv4 address here works in practice is probably just luck.

So we could close this as "behaves correctly", or loosen the rules to accept an address literal.

[2020-03-30 23:30] tonya11en opened #10581 "windows: Add build verification step to ensure path lengths"
The Windows path length limit is 260 characters and can potentially be exceeded as seen in https://github.com/envoyproxy/envoy/pull/10560. The compiler error emitted when the max path length is exceeded does not point to the actual problem by outputting `No such file or directory`. It is unclear if this is the only behavior.

Ideally, there would be an explicit check for these path lengths during

[2020-03-30 23:35] sunjayBhatia commented on #10581
Documentation on Windows max path length: https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file#maximum-path-length-limitation

[2020-03-30 23:55] sunjayBhatia commented on #10581
could this be a check in bazel/bazel issue instead of envoy? it was supposedly resolved here: https://github.com/bazelbuild/bazel/issues/4149 for object files

[2020-03-31 00:44] danielle-mustillo opened #10584 "DTLS Support in UDP"
I see that there is an alpha version of UDP support in envoy, thank you for implementing that. We were wondering whether there is also [DTLS](https://en.wikipedia.org/wiki/Datagram_Transport_Layer_Security) or some other security scheme implemented for UDP as well? I looked through your UDP commits but I could not find mention to it.

I think this also addresses this issue https://github.com/Kong/

[2020-03-31 00:55] htuch commented on #10581
CC @wrowe

[2020-03-31 00:56] htuch commented on #10584
@danzh2010 any thoughts on this in relation to what QUIC does?

[2020-03-31 01:35] kesavkolla commented on #9577
Few other protocols (ldap, IMAP) that will need STARTTL.  I'm looking to use envoy to proxy my IMAP server.

[2020-03-31 03:20] g-easy commented on #10576
Part of Envoy's config depends on opencensus-proto's trace_config.proto. We could change the Envoy config to not do this.

However, opencensus-cpp's ocagent exporter also depends on `opencensus-proto`.
(likewise, our Stackdriver exporter depends on `googleapis`)

gRPC doesn't strictly depend on OpenCensus, there's an optional grpc-opencensus "plugin" that bridges the two but Envoy doesn't use it.

[2020-03-31 03:33] seflerZ commented on #10059
@bcba25 Sorry to be late. This thread discusses the config (hot) reloading. You problem seems like proxy related. You can open another issue and paste the errors you've received. You will receive help there.

[2020-03-31 05:19] pyrl247 opened #10588 "circuit-breakers:max_connections in tcp/conn_pool.cc"
My circumstance I have config max_connections like 3,but when I start call(thrift proxy),the existing connections are much more than 3.So I debug the source code,is there any situation when there are existing conns(resource manager's current more then 1), and ready_conns_,busy_conns_,pending_conns_ are all empty?
Any help will be appreciate!!!

[2020-03-31 06:23] eselkin commented on #10514
Same issue, with envoy (gloo)... managing the TLS as well with gloo.

Safari 13.0.5
chrome and firefox perform as expected.

[2020-03-31 13:25] yuval-k commented on #10355
how will the v2 api freeze impact call-outs like  rate limit, ext authz, ALS?
today these explicitly call out to the v2 service, but use v3 message, which might be problematic if v2 freezes as you will not be able to generate an accurate server based off of the v2 proto definition.

for reference:
rate limit:
service: https://github.com/envoyproxy/envoy/blob/4e1f9f95618ca354b255fb207a5a6e3097d687d

[2020-03-31 14:07] htuch commented on #10588
@zuercher might be able to help here with Thrift specifics, but I think we'll probably need more details to investigate.

[2020-03-31 14:35] htuch commented on #10355
@yuval-k I don't anticipate freezing to break anything. It will only mean that we don't add new fields to the frozen protos. Access log service also has a v3 set of endpoints FWIW, so, over time I expect that folks interested in new features in access log service will move to v3.

[2020-03-31 14:44] pyrl247 commented on #10588
Here is my yams config:
admin:
  access_log_path: /tmp/admin_access.log
  address:
    socket_address:
      address: 0.0.0.0
      port_value: 9902
      protocol: TCP
node:
  cluster: test-cluster
  id: test-id
static_resources:
  clusters:
  - circuit_breakers:
      thresholds:
        max_connections: 1
        max_pending_requests: 2
    connect_timeout: 1s
    lb_policy: ROUND_ROBIN
    loa

[2020-03-31 15:21] yuval-k commented on #10355
@htuch thank you for your reply!

i don't think the issue is the need to upgrade the servers/clients; I'm not sure I understand what is the upgrade path.

right now all these clients send the latest version message (right now v3, but soon v4) to a v2 service. assuming we change v3 or v4 in an way that's not backwards compatible, and IIUC backwards compatibility will silently break? i.e. the only r

[2020-03-31 15:53] alyssawilk commented on #10566
Alternately we could clear the upgrade header.  Aren't Upgrade headers hop by hop?  If we're not actually upgrading (where arguably we could remove but then re-add)  I'd think we'd remove them entirely.

[2020-03-31 16:00] mattklein123 commented on #10566
Yes agreed we should clear it, but I still think we need to track it, right? Since the code needs to know whether to actually upgrade and go into direct dispatch mode or not (that's part of the problem).

[2020-03-31 16:29] wrowe commented on #10581
I'd respectfully suggest that this is not a problem for Envoy to resolve. Envoy isn't a build system, Envoy doesn't specify the use of component path elements in triplicate. Quoting sunjay;

These design challenges live at Bazel.

It seems we need a new issue at bazelbuild/bazel to call out this triplification of pathname elts, and warn as include paths are growing excessively unusable, and provid

[2020-03-31 16:51] povils commented on #9359
Hey,
So just to clarify -  SDS config for TLS with Kubernetes secrets are working but just without rotation?

[2020-03-31 17:03] auni53 opened #10592 "Proposal: Last Call mode for Envoy"
## Last Call mode

### Description

[Design doc](https://docs.google.com/document/d/1AtDaBnrWfYHtBrRR02Vl_23oakjDg8zzb985Rog4EtM/
)

Comment on this doc or on the thread. It should be openly commentable, but let me know if there are permission issues.

### Proposed steps

- Read the design doc, provide feedback on the idea of an Envoy last call mode
- Update the design doc if needed, then start on

[2020-03-31 17:13] mattklein123 commented on #10592
@auni53 can you make the design doc world commentable? I can't open it.

Also, FYI, we already have the "drain manager" concept which already does some of this, so curious how that fits into this proposal.

[2020-03-31 17:18] auni53 commented on #10592
Ah, had it org-commentable rather than global-commentable. Hopefully fixed.

Understanding the existing draining infrastructure has been a little confusing, different parts of the docs/code refer to draining at different parts of the system. Part of the Last Call mode would be to clarify how the API interacts with things like the drain manager, or potentially making enhancements to it. But that ge

[2020-03-31 18:07] mattklein123 commented on #10592
Thanks @auni53. I left some comments on the doc. Much of the proposal is already implemented either as part of hot restart or as part of `/healthcheck/fail`. I think we need to circle back and better clarify what is already implemented vs. what is new. Happy to discuss in a short meeting also if needed. Thank you!

[2020-03-31 18:45] auni53 commented on #10592
Thanks Matt, yeah I didn't make that clear, but part of why I wrote the doc was just to clarify what our requirements were because I was having a hard time telling what was or wasn't currently available. Your comments with references to specific mechanisms are really helpful, I'll investigate those and circle back.

[2020-03-31 18:59] tsaarni commented on #9359
@povils That is correct, only support for certificate rotation is missing.

[2020-03-31 19:18] jmarantz opened #10593 "ci: clang-tidy fails and no obvious way to fix"
CI seems to be having trouble with code/BUILD files that look correct.

One example is with failure to find a protobuf-generated include file, visible in https://github.com/envoyproxy/envoy/pull/10569 . The same PR also fails clang-tidy with a suggestion to use `= default` for a trivial constructor, but the suggestion does not appear to be correct as the constructor requires an initializer.
[code]

[2020-03-31 19:18] jmarantz commented on #10593
@mattklein123 fyi

[2020-03-31 20:13] povils commented on #9359
Thanks @tsaarni !

So what is an advantage of using sds config in this case instead of just static resources?

Also do we have any other  envoy built-in solution to support cert rotation for mounted kubernetes secrets?

[2020-03-31 20:16] fxposter opened #10595 "DOWNSTREAM_REMOTE_ADDRESS* and DOWNSTREAM_DIRECT_REMOTE_ADDRESS* support in upstream_log"
*Description*:
Using DOWNSTREAM_REMOTE_ADDRESS* and DOWNSTREAM_DIRECT_REMOTE_ADDRESS* fields in router's `upstream_log` does not work properly, but it is stated in docs that you can use there everything that `access_log` supports.

Envoy 1.12.x just segfaults on such attempts
Envoy 1.13.x returns "-" instead of actual addresses

The reason for this is probably due to missing `setDownstream*Address

[2020-03-31 20:36] snowp commented on #10574
I think what's happening is that when per try timeout is hit we reset the upstream request, expecting it be retried. If you run out retry attempts, it will be treated as an upstream reset and results in 503/UNAVAILABLE response.

Conceptually the overall timeout better matches the gRPC deadline concept, because you can have multiple per try timeouts without actually exceeding the deadline. The cas

[2020-03-31 20:44] cpakulski commented on #10465
I agree that using bazel does not come easily. Official documentation is probably the best place to find answers: https://docs.bazel.build/versions/master/bazel-overview.html. There is also bazel channel in Envoy's slack where you can ask specific questions.

[2020-03-31 20:55] zuercher commented on #10483
I haven't had any luck getting this to reproduce, despite 1000s of iterations with tracing enabled. Based on the stack above, it seems to happen when the integration server is starting up, which makes me wonder if it's an interaction with some other part of the coverage tests.

[2020-03-31 21:06] antoniovicente commented on #10593
I'm also seeing problems in #10538  related to cland-tidy failing when processing headers provided by external deps like the benchmark library.

[2020-03-31 21:15] ggreenway commented on #10483
I caught this and got a corefile, but I couldn't resolve symbols to see any local variables, args, this ptr, etc. But I got:

[code]

I ran again with logging not going to /dev/null, and saw this in the output:

`[2020-03-31 21:11:05.564][26002][critical][assert] [test/integration/integration.cc:469] assert failure: test_server_->counter(rejected) == nullptr || test_server_->counter(rejected)->val

[2020-03-31 21:17] lambdai commented on #10593
Another patch: https://github.com/envoyproxy/envoy/pull/10596

[2020-03-31 21:22] ggreenway commented on #10483
``failed_configuration:
  "@type": type.googleapis.com/envoy.config.listener.v3.Listener
  name: tcp_proxy
  address:
    socket_address:
      address: ::1
      port_value: 0
  filter_chains:
    - filters:
        - name: tcp
          typed_config:
            "@type": type.googleapis.com/envoy.extensions.filters.network.tcp_proxy.v3.TcpProxy
            stat_prefix: tcp_stats
            meta

[2020-03-31 21:30] snowp commented on #10575
Being able to override the transport socket seems reasonable to me, I think the fact that we have the transport socket abstraction in place makes this a lot easier to solve than it was before (as we don't need to make this feature TLS specific).

[2020-03-31 21:34] ggreenway commented on #10483
@kyessenov The base config tcp_proxy config appears to not always load in coverage integration tests. It looks like you changed this a month ago to use semantic names. Can you check if that change is related to this failure?

[2020-03-31 21:37] kyessenov commented on #10483
I think I've seen something like this. What worked for me was to add tcp_proxy as a dependency to the test directly. I'm not sure how my change would cause this (it would fail earlier to find an extension by name).

[2020-03-31 22:14] #10096 closed

[2020-03-31 22:20] mabukhovsky commented on #10554
@dio I truly appreciate your help. Your sample app is exactly what I need. Will be testing it later this week. Thank you so much Dhi! You are rockstar :)

[2020-03-31 22:25] ggreenway commented on #10483
I checked, and the test does include the tcp proxy registration.

This is more complicated: it's only in the coverage build (which includes everything), and it is flaky/intermittent.

[2020-03-31 22:31] jmarantz commented on #10483
Could this test have a file-system sensitivity, where an unclean $TEST_TEMPDIR could cause a failure?

[2020-03-31 22:35] zuercher commented on #10483
I think it's `DynamicValidationIntegrationTest`. That test does this:
[code]
And the factory type is:
[code]

So I think, depending on the ordering when the Registry::InjectFactory goes out of scope, the type-to-factory mapping for TcpProxy is deleted here: https://github.com/envoyproxy/envoy/blob/841ad99de4945742b5e8a81e808d252f6a5cb7af/include/envoy/registry/registry.h#L407

[2020-03-31 22:36] zuercher commented on #10483
That is, if that test runs before TCP proxy test, the TCP proxy test fails. In the other order it's ok.

[2020-03-31 22:37] zuercher commented on #10483
There are other tests that temporarily create factories with the Struct well-known-type, which may have the same problem. We may need to come up with an easy way to make custom types for all these.

[2020-03-31 22:42] zuercher commented on #10483
The InjectionFactory tries to detect that it's displaced a factory and put the original back, but the two factories (tcp proxy vs dynamic validation integration test) have different names so it doesn't think any factory has been displaced.

[2020-03-31 22:42] zuercher commented on #10483
So maybe if we can detect this displacement-by-type we can fix it without adding new types.

[2020-03-31 23:26] jmarantz commented on #10483
Can we have each test unregister in its TearDown/destructors everything that it registers in its SetUp/constructors ? Then everyone would see the same clean slate.

One piece of infrastructure that might help is https://github.com/envoyproxy/envoy/blob/master/test/test_common/global.h which can help set up global singletons that live just for the length of the test, but I'm not sure if that would

[2020-03-31 23:35] lambdai commented on #10593
@antoniovicente Could you check if #10596 is fixing your #10538? In some way my above PR successfully fixed a clang-tidy reported test target.

[2020-03-31 23:41] jsbucy commented on #9577
IMAP has both
imap2		143/tcp (starttls)
imaps		993/tcp (tls-wrapped)
and afaik imaps support is pretty widespread in clients. You should be able to get imaps through envoy today with tcp_proxy.

I don't have much experience with LDAP but just doing a web search, it looks like it's pretty much the same situation, it can do in-band upgrade (starttls) or tls-wrapped (ldaps).

Another one I came acros

[2020-04-01 00:04] zuercher commented on #10483
I'm going to start by just fixing the direct cause -- the test that's re-using TcpProxy's config object doesn't need that specific config object. And I'll do a check to see if there are other occruences of this.

A longer term solution would be to make this situation impossible to recreate, but that's going to take a bit of thought, I think.

[2020-04-01 00:15] htuch commented on #10595
@dio any thoughts on this one?

[2020-04-01 00:40] htuch commented on #10355
@yuval-k this is a really good point. There's a few issues here:

1. Service selection; do we want to connect to the v2/v3/v4alpha etc. endpoint when making a gRPC call? For xDS services, we have the ability to specify explicitly the resource/transport version for messages/services in `ConfigSource`. For other services, this is largely hardcoded today.

2. What messages does Envoy receiver from a

[2020-04-01 01:31] spenceral commented on #10575
Cool, I'll work on a PR in which I add a `healthcheck_transport_socket` field to the cluster config.

[2020-04-01 02:28] gkleiman opened #10602 "Add runtime flag to make Weighted Least Request LB behave like Weighted Round Robin LB in weighted mode"
At Lyft we use Envoy to red line test/squeeze a single host of a service. Red line tests are performed by increasing the load-balancing weight of a host via EDS  to redistribute the service traffic and send an increasing amount of the traffic to a particular host.

While this approach works great in many cases, we noticed a few problems:

1. For some services there is a limit to the amount of traf

[2020-04-01 02:52] lambdai commented on #10588
Drive by: Is it possible the existing 3 connections are among multiple worker thread, while you are looking at a lucky thread which owns no connections

[2020-04-01 03:34] ydzhou commented on #3720
Has this been fixed?

[2020-04-01 03:42] pyrl247 commented on #10588
Is this config(max_connections) work in each worker thread?not a global config?If I config max_connections as 3, and start envoy with cmd args --concurrency 2,Is that mean the max total connection between envoy and server will be 6(3*2)?

[2020-04-01 03:59] zuercher commented on #10483
That PR is a longer-term fix. It turns out you can't use ProtobufWkt::Struct as the config type for a network filter.

[2020-04-01 04:42] #10593 closed

[2020-04-01 06:24] #9962 closed

[2020-04-01 07:26] andrevegas opened #10607 "Does JWT validation filter supports ES256 alg with P-256K curve?"
Hi,
First time dealing with this "new" kinds of encryp/sign keys, I know JWT validation filter works fine for RSA(s) algs, but came accros envoy rejecting the JWT configuration when adding the JWKS config key (ES256K - P-256K).

I'm not sure if envoy wouldn't support this curve (P-256K) or if there was an issue converting the pem key pair format to JWKS. (quick test with JWKS ES256 - P-256 (withou

[2020-04-01 11:58] yuval-k commented on #10355
@htuch thank you for the detailed reply!

If understand correctly, in scenarios (2,3) envoy will be sending\receiving v3\v4alpha messages to a v2 service.
This sounds mostly fine - I can see edge cases that will still trigger a silent failure. mainly if the protobuf tags change, breaking binary compatibility.

This can happen in means that are allowable today by the stylized workflow. for example,

[2020-04-01 13:01] oblazek opened #10608 "Envoy is sometimes not removing buckets after listener/cluster removal"
**Bug**

*Title*: *Envoy is sometimes not removing buckets after listener/cluster removal*

*Description*:

[code]

[code]

*Repro steps*:

*Notes*:

*Expected behavior*:

[2020-04-01 13:58] htuch opened #10609 "Major version selection for non-xDS services"
Currently, we only support major version selection for xDS transport/resource versions. Other services have hardcoded service endpoints, e.g. `envoy.service.accesslog.v2.AccessLogService.StreamAccessLogs`.

These services are (at least):
* gRPC access logs
* ext_authz
* rate limiting
* tracing
* TAP
* metrics
* LRS
* HDS

We should plumb appropriate service selection configuration for each gRPC se

[2020-04-01 14:00] htuch commented on #10355
Yeah, scenario 3 is the problem case. If a new behavior is added to replace a deprecated one, that would have occurred in v2 though, not in v3, as field replacement needs to happen within a major version, with the old deprecated field still around. Hence it should still be safe to send the v3 proto as v2 servers should know about both deprecated and new field in v2 (if they are up-to-date). When v

[2020-04-01 14:08] htuch commented on #10602
@gkleiman for red line testing, why isn't it acceptable to do a CDS update with drain? This seems like something that is done relatively sparingly, so the impact of the drain and delay might not be so bad.

[2020-04-01 14:09] htuch commented on #10607
@qiwzhang do you have any thoughts on this one (or next hop route)?

[2020-04-01 14:11] htuch commented on #10608
@jmarantz @mattklein123 I had the mental model that we don't remove stats at all, but this might be wrong. Do you know the desired behavior here?

[2020-04-01 15:05] mattklein123 commented on #10608
We definitely remove stats, so something is up here. @jmarantz would you be willing to take a look?

[2020-04-01 15:23] jmarantz commented on #10608
I think I need more details about a repro, then I'd be happy to look at it, but let me share some thoughts.

We generally remove stats when a scope is removed.

The Stats::Store keeps a ref-counted collection of stats, and the ThreadLocalStore's Scope implementation holds onto a reference to each stat in its `CentralCacheEntry`. The Scope itself is usually managed by a unique_ptr (though ref-count

[2020-04-01 16:10] ggreenway commented on #10595
What if we separate the concepts of an upstream stream_info and downstream stream_info, and link the two, ie downstream stream_info has `getUpstreamInfo()` and upstream has `getDownstreamInfo()`, and both types do not have the fields that don't apply, ie upstream doesn't have downstreamRemoteAddress.

I think it's a good concept in a proxy to be able to get the peer/sibling flow for the other side

[2020-04-01 16:14] mattklein123 commented on #10602
I don't think the CDS drain is a big deal. The main issue is the required control plane complexity is actually really large to implement this (start RL test, wait for CDS swap, verify swap is done, start test, swap back, etc.). I discussed this with @gkleiman before he posted this and from my perspective I think the use case here is reasonable/common enough that a config option for this on the loa

[2020-04-01 16:54] snowp commented on #10602
I think config flag + runtime flag makes this ok - the config flag seems to be necessary since we avoid creating the EDF scheduler for memory reasons when all weigths are the same.

The CDS approach is definitely more involved - you'd probably need to hook into CSDS to poll for the cluster to no longer be warming (or perhaps there should be a more ergonomic feedback mechanism for cluster warming c

[2020-04-01 17:06] antoniovicente commented on #10593
Changes helped, but clang-tidy is still failing on said PR due to an error caused by use of a macro defined in the benchmark library.

test/server/filter_chain_benchmark_test.cc:190:20: error: initializer for base class 'Envoy::Server::FilterChainBenchmarkFixture' is redundant [readability-redundant-member-init,-warnings-as-errors]
BENCHMARK_DEFINE_F(FilterChainBenchmarkFixture, FilterChainManager

[2020-04-01 17:31] mattklein123 commented on #10575
See also `TlsOptions tls_options = 21;` in the health check config. It would be nice to reconcile this and potentially deprecate that field if it can be made more general via the transport socket config?

[2020-04-01 17:37] mattklein123 commented on #10355
+1 this sounds like the right plan. Thanks for calling this out @yuval-k!

[2020-04-01 17:40] snowp commented on #10595
@ggreenway I like that, it should set us up to avoid having to play whack a mole with things that haven't been implemented properly in both stream infos.

[2020-04-01 17:48] tonya11en commented on #10602
The reason WRR behaves as expected in the Lyft redline tests is that the weights directly correspond to the proportion of traffic delivered to an endpoint. The weight normalization that WLR does based on outstanding requests to an endpoint causes the subset of nodes we'd like to squeeze to have a much lower effective weight as they actively juggle more requests. I think this behavior doesn't warra

[2020-04-01 17:51] qiwzhang commented on #10607
Hi @andrevegas the actual code of processing JWKS is [here](https://github.com/google/jwt_verify_lib/blob/master/src/jwks.cc#L190). It seems that it is not supporting P-256K.

But you are welcome to contribute to that repo to add such support.

[2020-04-01 18:03] mattklein123 commented on #10602
I disagree. I think if this feature is added it should be an explicitly documented configuration flag. This can however be `RuntimeFeatureFlag` or similar to allow for full flexibility.

[2020-04-01 18:10] htuch opened #10612 "Support file refactoring within a package in v3"
As a result of the internal shadow construction technique used in #10355, it will not be possible to move protos between files (at least when they have deprecated v2 fields as reserved fields). This is a known limitation that should be addressed as needed, this issue tracks.

[2020-04-01 18:12] htuch opened #10614 "Move Envoy to v4alpha"
#10355 provides v4alpha protos in the API tree, but doesn't migrate Envoy internally to v4apha. We should do this, ideally by Q4. The main challenge here is to perform API boosting and update the shadow generation technique in #10355 to support creation of `hidden_envoy_deprecated_*` fields in v4alpha that stretch back to v2 (currently they only work back to v3 as of #10355).

[2020-04-01 18:13] htuch commented on #10355
Noting that #10612 and #10614 track some of the limitations that the current set of PRs for #10355 imply.

[2020-04-01 19:02] oblazek commented on #10608
I will prepare our control plane for version 1.13.1 and will let you know as soon as I know more ;) thanks a lot.

[2020-04-01 19:04] #9359 closed

[2020-04-01 19:13] jmarantz commented on #10608
Oh I just realized we worked with you earlier on https://github.com/envoyproxy/envoy/issues/9448 . In that thread you mentioned this:

Does that still happen? Are the fixes that went into https://github.com/envoyproxy/envoy/pull/9533 and #9533 incorporated into your running Envoys?

[2020-04-01 19:23] lizan commented on #10593
Add NOLINT there or fix .clang-tidy config by change config or remove that check?
https://clang.llvm.org/extra/clang-tidy/checks/readability-redundant-member-init.html

[2020-04-01 21:54] spenceral commented on #10575
Looks like the health check `tls_options` alllows overriding ALPN protocols. You can also set ALPN protocols in the tls context of a tls transport socket so I do think we could deprecate `tls_options`.

However, since I'm proposing a single health check transport socket in the cluster config, users will only be able to specify one `alpn_protocols` list. A user could potentially have a different li

[2020-04-01 22:20] lizan commented on #10575
It might makes more sense to use transport socket match. You should be able to add a match criteria for healthcheck to select right transport socket.

[2020-04-01 22:21] mattklein123 commented on #10575
+1 for transport socket match. This would be very flexible. Thank you!

[2020-04-01 22:32] sokaran opened #10618 "healthcheck filter avoiding to increase dynamic stats"
Hi

We have observed in our internal tests a set of counters not increased after implementation of a graceful shutdown mechanism using _/healthcheck/fail_ endpoint.

We followed suggestion from this [comment ](https://github.com/envoyproxy/envoy/issues/7841#issuecomment-518856436) and our solution looks good enough for our scenario.

But we noticed an unexpected side-effect when it comes to the Dy

[2020-04-01 22:44] htuch commented on #10602
The justification for runtime flag over CDS seems reasonable, but it left me wondering about how general this is. It's pretty coarse grained; aren't you worried about the impact on unrelated clusters? I think this is another justification for config flag.

One other concern is that this seems very special casey; it's basically a runtime flag for Lyft's load tests. Is there any way this could be ma

[2020-04-01 23:16] mattklein123 commented on #10602
If we do this I think we should absolutely use a config flag that also allows a runtime key to be specified. This is the best of both worlds.

We have gone back and forth on this. I agree it's a special case, at the same time it strikes me as a reasonable one as this is a known issue with trying to do stress/RL testing with the WLR load balancer which many/most people use in production. As such I

[2020-04-01 23:22] sunjayBhatia opened #10619 "Windows RBE Tracking Issue"
*Description*:

We have started extending and enabling what is run in the Windows CI pipeline and found the Azure Pipelines build environment is severely underpowered to do a fully local build in a timely manner. While we may look in to using a user-managed Azure Pipelines worker, we should also explore the idea of using bazel RBE as the Linux CI does to cut down build times etc. Other projects (n

[2020-04-01 23:43] #10408 closed

[2020-04-01 23:44] ggreenway commented on #10595
On second thought, they could possibly be the same type. But the the type would only have `localAddress()` and `remoteAddress()` (no mention of upstream or downstream in it), and a `getPeerStreamInfo()`, which could return nullptr in some cases, for instance on the recently added connection logs, if no filter chain matched at all. I'm not sure if it would work out in practice to have them be the e

[2020-04-01 23:54] htuch commented on #10619
@nicolasnoble can you share the gRPC experience with RBE here?

[2020-04-02 00:08] nicolasnoble commented on #10619
cc @jtattermusch - we've been able to run Windows RBE after a lot of tweaks in our environment: https://github.com/grpc/grpc/blob/cc43fd64ab97e45fcdd38759dd8d9eb273823b9e/third_party/toolchains/BUILD#L21

[2020-04-02 01:51] sunjayBhatia commented on #10619
Ah cool, this dockerfile should be a good reference: https://github.com/grpc/grpc/blob/master/third_party/toolchains/bazel_0.26.0_rbe_windows/Dockerfile

[2020-04-02 03:06] sunjayBhatia commented on #10619
Can you speak to what sorts of tweaks you had to make and if the RBE product is available for us to use with Windows?

[2020-04-02 03:24] #9763 closed

[2020-04-02 07:15] #10128 closed

[2020-04-02 08:15] #9924 closed

[2020-04-02 08:19] yury-alpatov commented on #1109
Can you please explain me, how to enable this functionality in already installed Istio (in OpenShift)? I tried to edit ConfigMap “istio” but it doesn’t take effect (enableEnvoyAccessLogService: true, envoyAccessLogService address).

[2020-04-02 09:07] akan commented on #6632
help wanted
same problem

[2020-04-02 09:18] objectiser commented on #3720
@ydzhou Yes I believe the problem was fixed.

[2020-04-02 11:29] jtattermusch commented on #10619
Also see https://github.com/grpc/grpc/pull/22473/files which migrates our stack to Win2019 workers (which is what you should use if you wanna go ahead with windows RBE).

What we've done for RBE windows:
- we haven't really done any custom tweaks, we basically just followed the user guide for RBE windows. Unfortunately the documentation for RBE windows is internal, so I'm not sure if you are able

[2020-04-02 13:24] alyssawilk commented on #8039
LDS is done - it'd be good to do the rest of UDPA but I'm going to say other folks can get to that when they need it.

[2020-04-02 13:24] #8039 closed

[2020-04-02 13:37] htuch commented on #10618
@mattklein123 seems like a bug to me, what is your take on this behavior?

[2020-04-02 14:13] sunjayBhatia commented on #10619
I joined a google group and got access to some docs, not seeing any mention of Windows yet but that is a start, I'll keep looking for more docs and see if I can bother someone to get access

+1 to Windows 2019, we're working on a Dockerfile etc. to get that going and will make a PR to https://github.com/envoyproxy/envoy-build-tools

Thanks for the resources/tips, we will hopefully make some progre

[2020-04-02 15:28] yuval-k commented on #10241
looking at the code and stack trace i imagine that the issue is capturing `this` in this line:
https://github.com/envoyproxy/envoy/blob/eb894d9d0e5373469286c9fa1c91045139176a1e/source/extensions/filters/common/lua/lua.h#L390

an quick solution would be to pass `tls_slot_` by copy instead of `this`
do note that note above is just from reviewing code, I didn't test this.

[2020-04-02 16:11] alyssawilk commented on #10013
This test does seem to take an unreasonably long time to create the 1000+ clusters, and I think most of the work is under ClusterInfoImpl::generateStats

[2020-04-02 16:51] wenbozhu commented on #6632
@stanley-cheung

[2020-04-02 17:10] rharding6373 commented on #10423
Any more thought on this issue?

[2020-04-02 17:15] #10141 closed

[2020-04-02 17:25] jmarantz commented on #10013
I'm just going to change from 1000 to 100 clusters. I think there's no compelling reason to scale this to 1000 in the integration test.

[2020-04-02 17:25] htuch commented on #10602
I'm good with this plan.

[2020-04-02 17:28] jmarantz commented on #10013
i'll also note that `ClusterInfoImpl::generateStats` could be a somewhat faster if we factored out the string->StatName conversion, but just to get us out of timeout-flake-hell a reduction in scale is easier.

[2020-04-02 18:09] #10483 closed

[2020-04-02 19:01] mattklein123 commented on #10618
The issue is that you have not specified any headers to match on: https://github.com/envoyproxy/envoy/blob/6a5c3c2b43b83044ccba3510ec6c725cbdc12f2e/api/envoy/extensions/filters/http/health_check/v3/health_check.proto#L46

So I think every request is being counted as a health check request. I don't think this is the configuration you want. I'm going to leave this as as bug and marked help wanted as

[2020-04-02 20:10] sunjayBhatia commented on #10619
PR for docker image: https://github.com/envoyproxy/envoy-build-tools/pull/40

Confirmed that it locally has the dependencies to build envoy-static.exe and tests

[2020-04-02 20:25] spenceral commented on #10575
Great, thanks for the feedback.

[2020-04-02 21:20] kyessenov commented on #7917
We can close this after #10622  and #10627 get in. I think with those, it is pretty functional.

[2020-04-02 22:44] sunjayBhatia commented on #10619
so far I don't see any flags to be able to choose the OS of the worker pool VMs in the docs: https://cloud.google.com/remote-build-execution/docs/set-up/remote-environment#create_a_worker_pool, does that sound like something that is available in some further hidden docs?

[2020-04-02 23:27] jpermar commented on #9965
My envoy (1.13.1) isn't forwarding anything in ext_authz filter to the external HTTP service. The docs don't specify exactly how the jwt payload will be forwarded when the following config is used:
`metadata_context_namespaces:
    - envoy.filters.http.jwt_authn`

(yes, i have the corresponding jwt_authn config option `payload_in_metadata: client_data`). what http verb is used when calling the ext

[2020-04-02 23:51] belyalov commented on #5540
Is this issue about this to-be-done part?
https://github.com/envoyproxy/envoy/blob/404d73c73c08b8d470b3ead6395cbc9c531f199d/source/extensions/filters/http/grpc_json_transcoder/json_transcoder_filter.cc#L521-L525

[2020-04-03 01:51] jyotimahapatra opened #10633 "v3.Node has deprecated field build_version"
*Title*: *v3.Node has deprecated field build_version*

*Description*:
While implementing [v3 integration tests in go-control-plane](https://github.com/envoyproxy/go-control-plane/pull/286), we realized that the json representation of v3.Node protobuf has the `build_version` deprecated field. As a result, the `jsonpb.UnMarshal` fails. I looked around and looks like the version is not part of a conf

[2020-04-03 04:11] neno-k commented on #10514
are there any updates on this, we are facing the same issue after updating to istio 1.5.1, running envoy 1.13 - tested with

safari 13.05 and 13.1

[2020-04-03 05:13] maxliu007 opened #10634 "What is the difference between max_connections and max_connection_pools in circuit breaker?"
https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/circuit_breaker.proto#config-cluster-v3-circuitbreakers
About
{
  "priority": "...",
  "**max_connections**": "{...}",
  "max_pending_requests": "{...}",
  "max_requests": "{...}",
  "max_retries": "{...}",
  "retry_budget": "{...}",
  "track_remaining": "...",
  "**max_connection_pools**": "{...}"
}
What is the difference betwee

[2020-04-03 11:35] bartebor opened #10635 "Add stat_prefix to listeners"
*Title*:  Listeners use socket address in stat name what can make undesired effects.

*Description*:
IP listeners may use IP address and port in stat names like so:
[code]
Some of them (admin at least) do not:
[code]
For some storage backends, such as graphite, dot is interpreted as a nesting operator. This makes listener stats unnecesarily nested and incompatible between listeners. It is also har

[2020-04-03 11:57] htuch commented on #10634
See https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/circuit_breaking#arch-overview-circuit-break-cluster-maximum-connection-pools

[2020-04-03 11:57] #10634 closed

[2020-04-03 12:04] htuch commented on #10633
@jyotimahapatra yeah, this seems strange. We were aware of this being a potential issue, see the history in https://github.com/envoyproxy/envoy/commit/0ee6212b02bdab7b3d66e868449ac93556e63118 and #9604. I assume this is REST-JSON subscription due to you reporting in JSON, will look.

[2020-04-03 12:15] htuch commented on #10633
Looks like we're missing a scrub of unknown fields when wire casting back to v2. I'll take this one, likely to have some cycles next week to fix.

[2020-04-03 12:17] htuch commented on #10633
Actually, I was thinking that's the issue if this was the reverse situation, going from v3 to v2, which is the known issue https://github.com/envoyproxy/envoy/issues/9619.

Are you setting transport API version as well as resource API version in your tests? What does your `ConfigSource` look like?

[2020-04-03 13:01] oblazek commented on #10608
Yes, but little bit less often, since (as I mentioned before) we have not been using EDS before so every time some deployment has been scaled up if would remove/add cluster.
But now clusters and listeners are removed only when deployment is scaled to 0 replicas, service (meaning listener+cluster) is removed *(see below) or readiness probe fails for all pods.

* service (listener+cluster) is added/

[2020-04-03 13:11] jmarantz commented on #10608
I'm still not sure I fully understand the flow that you have.

Are the fixes that went into #9564 and #9533 incorporated into your running Envoys?

[2020-04-03 13:22] oblazek commented on #10608
And no, actually we did not incorporated those fixes. I had the impresion that those were related only to the segfaults we were having so that's why not.
I am now closely watching one of our machines where we have deployed envoy 1.13.1 and something is not right there as well.

I am checking the metrics with this command and today this appeared:
[code]
but when I ran the same command after a few m

[2020-04-03 13:25] jmarantz commented on #10608
So does that mean this is now working properly in 1.13.1?

[2020-04-03 13:26] oblazek commented on #10608
I mean usually its only a matter of time before more duplications appear, so I will let you know asap. But seeing the same metric even twice doesn't seem right.

[2020-04-03 13:36] jmarantz commented on #10608
Those are histograms. See this comment in `source/common/stats/thread_local_store.cc`
[code]

So my theory at this point is that #9564 and #9533 fixes the problem reported here.

It is still confusing due to the way histograms work. If this is true, you may still see duplicate histograms due to your usage model of recreating the same cluster with the same name periodically, but that there will not

[2020-04-03 13:45] oblazek commented on #10608
Aaah, ok that clarify things up a lot. Thanks. Please keep this issue opened for a few more days so I can be sure it's fixed.

[2020-04-03 13:54] jmarantz commented on #10608
This also highlights a functional issue with your approach: histograms will effectively restart from empty each time you add/remove a cluster with the same name. The same-named histograms from the distinct instantiations will not be combined, IIUC.

Workaround: use EDS :)

[2020-04-03 13:57] oblazek commented on #10608
We have been using EDS now for a few months, but true.. we could try **not** removing clusters when upstreams scale down to zero and then back up in our control plane.

[2020-04-03 14:36] #10172 closed

[2020-04-03 15:11] hanahmily opened #10638 "Add headers field"
*Title*: *Add headers field to `envoy.config.trace.v3.Tracing.Http`*

*Description*:

Headers field to include in `envoy.config.trace.v3.Tracing.Http`. This can be used for scenarios in which additional ad hoc authorization headers (e.g. Authorization: Bearer xxxxx) are to be injected.

[2020-04-03 16:27] jyotimahapatra commented on #10633
@htuch Thanks for taking a look. This is the config https://github.com/envoyproxy/go-control-plane/blob/8bdfeffe82378fad1a8dad94a94e91875347be1f/sample/bootstrap-restv3.yaml

The transport_version is set to v3.

[2020-04-03 17:14] stevenzzzz opened #10641 "on-demand lazy loading for S/RDS"
**Issue Template**

*Title*: * On demand S/RDS

*Description*:

to make better use of resources (RAM, CPU), make RDS on-demand from SRDS.An example use scenario is that in a MT proxy, many long-tail route tables arent that active, in stead of fetching and storing these route tables via SRDS, we can put them into a "secondary tier", and only fetch the route table when there are such requests hittin

[2020-04-03 17:59] ggreenway commented on #10635
I'd be in favor of this, if you want to send a PR.

[2020-04-03 18:00] #9951 closed

[2020-04-03 20:07] lizan commented on #5540
@belyalov yes the part of code you're referring is right.

I think this is fine, as long as we clearly document it.

[2020-04-03 20:35] htuch commented on #10638
@hanahmily can you elaborate a bit more? How are the headers going to be used?

[2020-04-03 20:36] htuch commented on #10641
@stevenzzzz I've tagged this as an open xDS/API issue, but could you elaborate a little more on this one for folks who don't have the same context that we share?

[2020-04-03 20:41] htuch commented on #10618
@mattklein123 in general we can't add additional constraints to a frozen/active API, unless there was no possible sensible behavior if that constraint wasn't there before, i.e. it was 100% implied. So, if it's in that category, sure, let's do it.

[2020-04-03 21:22] htuch commented on #10633
What's puzzling me is why we see `build_version` and not `hidden_envoy_deprecated_build_version`, which is the field name that Envoy is using internally. Is there any easy way for me to replicate these tests? Another thing that might be helpful is a `-l trace` of the Envoy during this test.

[2020-04-03 21:36] #10174 closed

[2020-04-03 23:37] jyotimahapatra commented on #10633
@htuch Sorry for false alarm, I think i made a mistake and did not set transport api version. The only strange thing is the mistake manifested only in the rest api case and not grpc case.

[2020-04-03 23:38] jyotimahapatra commented on #10633
Closing this because its a non issue. Sorry @htuch again for false alarm.

[2020-04-03 23:38] #10633 closed

[2020-04-03 23:47] yanavlasov opened #10646 "Unify header validation across all codecs (H1, H2 and H3)"
Presently H1 and H2 (unsure about H3) codecs use header validation from nghttp2 library and have their own codec specific checks on top of it. The header validation code needs to be unified to make it easy to audit Envoy's header validation.

This change will include:
1. Adding header validation according to the HTTP spec.
1. Converting codec to use unified header validation facility.
1. Disabling

[2020-04-04 00:42] Augustyniak opened #10648 "Add HTTP headers for controlling percentage of requests faults should be applied to"
**Title**:
Add support for HTTP headers controlling the percentage of requests Envoy injects faults into.

**Context**:
`Envoy` currently supports 3 types of faults it can ingest when it receives special HTTPs headers as part of ingress network requests. These HTTP headers are: `x-envoy-fault-abort-request`, `x-envoy-fault-delay-request` and `x-envoy-fault-response-limit` and their documentation c

[2020-04-04 00:46] Augustyniak commented on #10254
I think that we can close this issue now. The support for `x-envoy-fault-abort-request` header has been already added in https://github.com/envoyproxy/envoy/pull/10294 (per my message above) and I opened a separate issue for the proposal of addition of 3 HTTP headers that would allow us to control the percentage of requests faults are injected into - the issue cab be found here https://github.com/

[2020-04-04 02:42] Arnold1 commented on #7599
@postwait any info?

[2020-04-04 02:48] postwait commented on #7599
You need to get the histogram out of envoy.  The move to openmetrics makes this harder.  I would expose the internal histogram over protobuf via the gRPC endpoint and then process it in the client.  I don't believe this has been implemented in Envoy yet.

You want 20ms, but tomorrow want 19ms... so if you get the full histogram out you can remove all that complication from Envoy just let the obser

[2020-04-04 03:18] stevenzzzz commented on #10641
sure, what's missing here is to make on-demand RDS work w/ the SRDS: depends on how we design it,  we could either:
1. when we have a scope-key and there is no scope defined for it, fire a on-demand SRDS request to management server to get back the scopedrouteconfiguration for that key, then issue a RDS request.
2. or since SRDS is light weight enough, we always send SotW for SRDS, in this case, i

[2020-04-04 05:43] euroelessar opened #10650 "v3: ConfigSource.transport_api_version does not change service name"
*Description*:
It looks like service name (e.g. `envoy.service.secret.v3.SecretDiscoveryService`) is controlled by `resource_api_version` (implicitly through type url), while `transport_api_version` controls the type of a discovery request/response (e.g. `envoy.service.discovery.v3.DiscoveryRequest`).

It makes it impossible to control xds protocol and resource versions independently from each oth

[2020-04-04 05:45] euroelessar opened #10651 "v3: Aggregated delta gRPC is v2 only"
*Description*:
Aggregated delta gRPC misses a case for v3 transport api version so always uses v2 url (potentially with v3 requests on the wire).

*Relevant Links*:
* https://github.com/envoyproxy/envoy/blob/5248a4fb7d4c2a3d1fa151f944d3a63f6b7a06cf/source/common/upstream/cluster_manager_impl.cc#L273-L274

[2020-04-04 11:43] npuichigo commented on #5540
@belyalov Many thanks if you can help to fix this.😀

[2020-04-04 19:54] #10160 closed

[2020-04-04 19:58] mattklein123 commented on #10651
@htuch can you triage for 1.14?

[2020-04-04 19:58] mattklein123 commented on #10650
@htuch can you triage for 1.14?

[2020-04-04 19:59] mattklein123 commented on #10646
cc @danzh2010 for HTTP/3

[2020-04-04 20:13] chaspy opened #10652 "Feature Request: Mirror trafic to MongoDB"
**WARNING: If you want to report crashes, leaking of sensitive information,
and/or other security issues, please consider
[reporting them using appropriate channels](https://github.com/envoyproxy/envoy#reporting-security-vulnerabilities).**

**Issue Template**

*Title*: *One line description*

Feature Request: Mirror trafic to MongoDB

*Description*:

describe the desired behavior, what scenario i

[2020-04-04 20:54] #10184 closed

[2020-04-05 03:13] Arnold1 commented on #7599
@postwait ok thanks for the info. how can I get the internal histogram and how can I process it - do you mean in grafana?

[2020-04-05 12:42] #10013 closed

[2020-04-05 16:13] mattklein123 commented on #10652
We actually had this internally at Lyft but no longer use it so the code was deleted. I'm not sure it's generally applicable as we had a gRPC API to shadow the traffic. I think this should be relatively easily possible with the current filter design but the shadowing mechanism would need to be determined.

[2020-04-05 16:16] rgs1 opened #10655 "Crash since 3e1806f1e12ec"
On Friday we synced up with 3e1806f1e12ec and today we got this crash:

[code]

I was suspecting #10406 tho @mattklein123 suggests  #10566.

The commits we picked up on Fri are:

[code]

The last crash free sync included these commits (tho it only ran for 24 hours before the next sync):

[code]

[2020-04-05 16:19] mattklein123 commented on #10655
I'm pretty positive this is https://github.com/envoyproxy/envoy/issues/10566. I will fix this so we can get the fix in before we release 1.14.0.

[2020-04-05 18:00] #10066 closed

[2020-04-05 18:34] jmarantz commented on #9784
ran into this again.

[2020-04-05 22:00] #10084 closed

[2020-04-05 23:00] #10011 closed

[2020-04-05 23:40] htuch commented on #10641
If you anticipate SRDS SoTW not being a scaling bottleneck, then I agree that (2) makes the most sense. One thing to keep in mind is that there is not a full blown existing on-demand RDS, rather we have on-demand VHDS, which is most of what is needed for on-demand RDS but there is a missing last mile there. CC @dmitri-d

[2020-04-05 23:42] htuch commented on #10651
@mattklein123 I think this one is relatively easy to fix, I can probably do it tomorrow.

[2020-04-05 23:52] htuch commented on #10650
This is a very good point, there is an inconsistency here. ADS correctly realizes the independence of transport/resource version, but non-ADS xDS infers xDS transport from resource type version (essentially via the `(envoy.annotations.resource).type` annotation).

I think we should fix this, but it's a bit of work, O(days). Not sure if we want to hold 1.14.0 back on this; the tradeoff is that v3 i

[2020-04-06 02:00] #10191 closed

[2020-04-06 03:00] #10207 closed

[2020-04-06 06:00] #10202 closed

[2020-04-06 06:58] jtattermusch commented on #10619
The way a windows pool is setup internally is to create a regular linux pool and the file a ticket with the RBE team to switch your pool to windows OS (it's not self-service). So I guess you'll need to ask the RBE team if this is possible for external users.

[2020-04-06 07:02] maxliu007 commented on #10634
In fact, I have read the link you posted before. However I am so confused on when to use the max_connections and max_connection_pools.
1. Is max_connection_pools bound by max_connection_pools?
2. If I set max_connection_pools=100, while max_connections=300, what will happen?
3. If I set max_connection_pools=300, while max_connections=100, what will happen?
4. Ary they complementary?

With the same

[2020-04-06 07:24] rkbalgi opened #10660 "key name in endpoint metadata used by transport_socket_matches"
The documentation here [https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cluster.proto](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cluster.proto) or [https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto#config-cluster-v3-cluster](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto#config-cluster-v3-cluster)  has t

[2020-04-06 08:00] #10166 closed

[2020-04-06 09:00] #10155 closed

[2020-04-06 13:23] stevenzzzz commented on #10641
agreed. The current RDS is "on-demand-RDS when no route entry", w/ SRDS
supporting on-demand, what we need is actually "on-demand RDS for no
route-table".
for users w/. many route-tables configured, on-demand SRDS makes sense as a
measure of lazy loading route tables.

On Sun, Apr 5, 2020 at 7:40 PM htuch <notifications@github.com> wrote:

--
Xin Zhuang

[2020-04-06 14:17] htuch commented on #8199
See also https://github.com/libevent/libevent/issues/984. I'm not sure if it's so much that we're listening for no events but that libevent isn't filtering events properly.

[2020-04-06 15:10] howardjohn commented on #9682
The node metadata is pretty large, so sending it on every request adds a lot of overhead

[2020-04-06 15:31] antoniovicente commented on #8199
IIRC for sockets, receiving a FIN will trigger a READ event.

This documentation on EV_FEATURE_EARLY_CLOSE may be relevant, not all fd types support CLOSE events.
https://github.com/libevent/libevent/blob/release-2.1.11-stable/include/event2/event.h#L947

[2020-04-06 15:58] Augustyniak commented on #10455
At Lyft, we would benefit from being able to access individual requests that are sent by the router too. I explained our use case in detail in [EnvoyMobile repository issue](https://github.com/lyft/envoy-mobile/issues/782) but Envoy repository may be a better place for an issue like this.

TL;DR;
`EnvoyMobile` is a version of `Envoy` intended to be run on mobile devices. Client-side networking fra

[2020-04-06 15:59] mattklein123 commented on #8199
I'm going to close this as this is "fixed" by https://github.com/envoyproxy/envoy/pull/10666. We can track the real fix with the linked libevent issue.

[2020-04-06 15:59] #8199 closed

[2020-04-06 16:24] mattklein123 commented on #10455
@Augustyniak for Envoy Mobile I don't think you need upstream HTTP filters since you have access to every downstream request as a normal filter? Can you describe the use case where you need an upstream HTTP filter? cc @junr03

[2020-04-06 16:25] #10254 closed

[2020-04-06 17:14] ryanneufeld commented on #7841
This feature is highly desired in our environment. Anything to reduce downtime during deployments.

[2020-04-06 18:22] dmitri-d commented on #9784
Please see my comment here: https://github.com/envoyproxy/envoy/pull/9828#issuecomment-594231950

[2020-04-06 18:54] junr03 commented on #10455
The particular use case I discussed with @Augustyniak on friday was being able to set fault injection headers independently for each retry in a series of retries, rather than all retries having the same headers set when the downstream request passes through the current http fault filter. More of @Augustyniak's thoughts are in https://github.com/lyft/envoy-mobile/issues/782

We discussed some short

[2020-04-06 20:07] mattklein123 commented on #10455
Yes, thanks, makes sense.

[2020-04-06 20:48] keith commented on #10471
Note that bazel has some upcoming license aggregation features that might help normalize some of this https://github.com/bazelbuild/bazel/issues/10687

[2020-04-06 21:23] mattklein123 commented on #1451
Yes big +1 for doing it in the router/upstream handler so we can do standard flow control. I think it would be OK also to add this as an improvement in a follow up for the alpha support, but up to you if it's harder or easier to do it after the fact.

[2020-04-06 21:31] chradcliffe commented on #1451
Are there any plans to add support in this first pass for initiating an upstream CONNECT request independent of whether the downstream request was a CONNECT request? In the original issue this was called the "second case", but I haven't seen much mention of it lately.

We have a use case for initiating upstream CONNECT requests, so it would be helpful to know if this is work that hasn't been picke

[2020-04-06 22:41] mattklein123 commented on #10650
OK let's move to 1.15

[2020-04-07 00:19] #10655 closed

[2020-04-07 00:37] Charana123 opened #10671 "HTTP Request Buffering"
Is there a way to extend Envoy with a [custom extension](https://www.envoyproxy.io/docs/envoy/latest/extending/extending) to buffer HTTP request traffic ideally in a database engine until the upstream server has recovered from failure (i.e. becomes available again) and then immediately start the request resending.
If not what extension type should I be building to allow such functionality.

[2020-04-07 00:41] mandarjog commented on #10364
@gargnupur

[2020-04-07 01:16] #10556 closed

[2020-04-07 05:13] maxliu007 commented on #10634
In fact, I have read the link you posted before. However I am so confused on when to use the max_connections and max_connection_pools.

Is max_connection_pools bound by max_connection_pools?
If I set max_connection_pools=100, while max_connections=300, what will happen?
If I set max_connection_pools=300, while max_connections=100, what will happen?
Ary they complementary?
With the same terminology

[2020-04-07 05:36] freesnowCL opened #10675 "max_concurrent_streams and max_requests_per_connections not working as expected"
I tried to set the max_concurrent_streams to 1 and max_requests_per_connections to 10 in my configurations:
[code]
And used ghz to test the settings by sending 50 requests with 1 connections and 1 concurrent stream:
`ghz --skipTLS --call demo.grpc.api.v1.Demo/SayHello -c 1 -n 50 --connections 1 $url:443`

I expect 40 requests to be rejected, but the actual result is no request is rejected.

I also

[2020-04-07 10:50] freesnowCL opened #10677 "Fault Injection: unable to set header_abort"
I followed the instruction in the [fault injection page](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/fault_filter) and added the section to the http_filters in my config:
[code]

But when I restart envoy, the following error comes up:
[code]

If I changed 'header_abort' to 'http_status', envoy can be restarted successfully:
[code]

Did I set the config for header_ab

[2020-04-07 13:17] #10355 closed

[2020-04-07 13:55] vbfox commented on #10514
I have the same exact issue, also with Gloo (1.3.14) running on GKE it seem to be a crash WebKit side in their network process on queue `com.apple.CFNetwork.HTTP2.HTTP2Stream` triggered by some new behaviour of envoy, so while the problem is not in Envoy maybe there is a way workaround the problem envoy-side.

I couldn't find any issue on WebKit bugzilla so I created one: https://bugs.webkit.org/s

[2020-04-07 14:48] rgs1 commented on #8448
So I have two setups with the following results to compare:

Setup 1: nginx w/ gzip --> ~150k JSON blob on disc
Results:
[code]

Setup 2: envoy w/ gzip -->nginx no gzip --> ~150k JSON blob on disc
Results:
[code]

Note: getting the non-compressed JSON blob from nginx directly has a ~1ms avg latency.

With #10676 applied, transfer/sec (response size) does go down from 110KB to 84KB -- so that's def

[2020-04-07 15:59] Augustyniak commented on #10455
@mattklein123 @junr03's covers is well. I just posted another example in https://github.com/lyft/envoy-mobile/issues/782 for when being able to update upstream requests Envoy makes could be helpful.

TL;DR;
Our mobile applications attach `x-timestamp-ms` HTTP header to every upstream request they make. This HTTP header is supposed to contain the NTP timestamp as measured on the client at the time

[2020-04-07 16:23] mattklein123 commented on #10514
cc @lizan @qiwzhang @fengli79

[2020-04-07 16:36] mattklein123 commented on #10671
Yes you can do this with an HTTP filter. See the buffer filter and the caching filter for inspiration.

[2020-04-07 16:40] mattklein123 commented on #8448
Does NGINX cache the compressed content before serving?

[2020-04-07 16:44] mattklein123 opened #10680 "//test/integration:filter_manager_integration_test flake"
I've seen this multiple times:
[code]

[2020-04-07 16:44] mattklein123 commented on #10680
cc @kyessenov I think you added this recently ^?

[2020-04-07 16:50] rgs1 commented on #8448
It does not (no header saying so, _and_ with `perf top` i can see zlib running again and again...

[2020-04-07 16:53] mattklein123 commented on #8448
Can you try putting an NGINX in front of an NGINX for a more similar experiment? My suspicion is that because NGINX as acting as an origin server it is compressing and writing larger chunks of data.

Also, with the compression fix, is the final compressed size similar now?

[2020-04-07 16:57] rgs1 commented on #8448
Sure.

Yep! Progress.

[2020-04-07 16:58] kyessenov commented on #10680
I can bump the timeout. This test looks to be pretty heavy, and the test check seems to be polling for a callback for a short time. Let me see if I can also maybe move it out to a smaller test suite.

[2020-04-07 16:59] zuercher commented on #10588
It's per-worker, per-upstream. So the total number of connections for a cluster will be `max_connections * cluster_size * concurrency`. This is not specific to Thrift, BTW. It's a property of Envoy's connection pooling and applies to the http connection manager and tcp proxy as well.

[2020-04-07 17:29] rgs1 commented on #8448
Setup 3: nginx w/ gzip -->nginx no gzip --> ~150k JSON blob on disc
Results:
[code]

@mattklein123: daisy chaining two nginxs yields the same result.

[2020-04-07 17:33] mattklein123 commented on #8448
Hmm, OK. It's hard for me to understand how Envoy could be doing this 2x slower. Do you know if NGINX does any buffering during compression? Given the repro you have perhaps @rojkov might have time to look into this.

[2020-04-07 17:34] rgs1 commented on #8448
I wonder if #10518 would help now that we are using the right strategy...

[2020-04-07 17:34] zuercher commented on #10423
I think you have a couple of options.

1. You could make connection pools an extension point. However, at present Envoy has 3 connection pool implementations (tcp, http, http/2). The latter two combine encoder/decoder pooling into the connection pool which allows the http connection manager to deal with requests vs. connections. Reconciling all that with extensions seems very complex.

2. I think

[2020-04-07 17:34] mattklein123 commented on #8448
@rgs1 yes possible if you want to try that.

[2020-04-07 17:35] rgs1 commented on #8448
Yeah I was gonna dive into nginx's compression process next to see how much it buffers. Also, as mentioned above, #10518 might help now.

[2020-04-07 17:59] bringking opened #10683 "Canary/Active Cluster Retry on 404"
**WARNING: If you want to report crashes, leaking of sensitive information,
and/or other security issues, please consider
[reporting them using appropriate channels](https://github.com/envoyproxy/envoy#reporting-security-vulnerabilities).**

*Title*: Retry request on another cluster in weighted cluster

*Description*:
We are in the process of setting up Envoy to use as a Load Balancer for an appli

[2020-04-07 19:42] #10651 closed

[2020-04-07 19:45] #10680 closed

[2020-04-07 19:52] rgs1 commented on #8448
Alas, #10518 makes no difference:

[code]

[2020-04-07 19:59] wgallagher opened #10686 "core dump in AccessLog::RuntimeFilter when RequestIDExtension not set"
**WARNING: If you want to report crashes, leaking of sensitive information,
and/or other security issues, please consider
[reporting them using appropriate channels](https://github.com/envoyproxy/envoy#reporting-security-vulnerabilities).**

**Issue Template**

*Title*:
core dump in AccessLog::RuntimeFilter when RequestIDExtension not set

*Call Stack*:
Backtrace:
#0  Envoy::AccessLog::RuntimeFilt

[2020-04-07 20:15] mattklein123 commented on #8448
@rgs1 OK nothing off the top of my head. Can you link to the NGINX gzip impl?

[2020-04-07 20:27] rgs1 commented on #8448
@mattklein123 here: https://github.com/nginx/nginx/blob/master/src/http/modules/ngx_http_gzip_filter_module.c

@mattklein123 one thing that I just checked -- and matches with the benchmark that I am adding in #10464 -- is encodeData() in the gzip/compressor filter is called just twice:

1) with a Buffer::Instance of 160kb (the total size of the JSON blob, uncompressed)
2) with a Buffer of 0 bytes

[2020-04-07 20:49] mattklein123 commented on #8448
I assume upstream is HTTP/1, right? See https://github.com/envoyproxy/envoy/pull/10406. cc @antoniovicente.

I'm not a compression expert, but if this type of bulk compression is causing an issue we would need to figure out how to do some kind of max chunk. With that said, it seems like all the data has to get compressed one way or the other so are we talking about measure TTFB or TTLB?

[2020-04-07 20:53] rgs1 commented on #8448
Yes -- it's an HTTP/1 upstream. I also tried reverting @antoniovicente's change to buffer the response body, no change.

TTLB.

[2020-04-07 21:06] mattklein123 commented on #8448
From offline convo I think we are not hitting the the "should drain buffer" limit in the raw buffer socket. I mentioned to @rgs1 to hard code this to 16 or 32K and let's see if that is the issue and then if so we can discuss what to do about it.

[2020-04-07 21:25] mattklein123 commented on #1451
Is the use case here to have tcp_proxy have an upstream CONNECT mode? I'm guessing @alyssawilk is not working on that right now but it seems not enormously difficult after all of the ongoing work is done.

[2020-04-07 21:48] mattklein123 commented on #10683
cc @snowp @zuercher. I know this comes up occasionally and we should probably have a FAQ or some guidance on this. I think this can probably be done either with the subset LB (using metadata) or possibly the aggregate cluster but I'm not sure and will defer to them.

[2020-04-07 22:05] chradcliffe commented on #1451
That would be one use case.

Another use case would be to proxy downstream plain HTTP as upstream HTTPS via another upstream proxy. A request path would look something like this:

`Client --[plain HTTP]--> Envoy --[HTTP CONNECT]--> Upstream Proxy --[HTTPS]--> Server`

I hope that's clear enough.

It seems like that might be quite a bit more complicated than the tcp_proxy case, though.

[2020-04-07 22:32] mattklein123 commented on #1451
It actually might not be that complicated if @alyssawilk follows though and has code that will wait for the upstream CONNECT response (we could initiate one instead). It will definitely be extra work though. I would suggest looping back once the initial support lands, though hopefully @alyssawilk can keep this in mind while she is implementing.

[2020-04-07 22:51] rgs1 commented on #8448
Ok, so I am trying out this diff:

[code]

(Btw -- shouldDrainReadBuffer() can also be triggered by setting the cluster's `per_connection_buffer_limit` property to 16k).

And here's a trace level log, you can see that the filter's encodeData is called 11 times.

And it's still taking ~12ms vs 4ms in nginx.

Per my synthetic benchmark, we should be able to compress ~120kb in ~2.5ms with 16kb chunks

[2020-04-07 22:58] mattklein123 commented on #8448
@rgs1 keep in mind that when you delay the read loop, it initiates a synthetic event to read later. So there may be significant delay. I would probably add some log lines at warn level just logging the time of the encode path and I'm guessing there are 1ms+ apart which would add up to the delta.

The real (and potentially complicated) solution here would be to manually chunk compress the buffer wh

[2020-04-07 22:59] rgs1 commented on #8448
I also took a trace when reading all the upstream's response in one go and it happens in like ~2ms. So not too bad. The problem is it then takes 9ms to compress() it all. So maybe what we want is:

a) read as much as you can [ that is, maintain the current read loop as is ]
b) chunk things up for compression

[code]

[2020-04-07 22:59] mattklein123 commented on #10641
+1 for building this into the on-demand VHDS filter/support.

[2020-04-07 23:00] rgs1 commented on #8448
Yes -- it seems like it...

[2020-04-07 23:01] mattklein123 commented on #8448
Yes exactly (if this is indeed the problem). Does NGINX have a max chunk size?

[2020-04-07 23:03] rgs1 commented on #8448
Not sure -- read their filter but couldn't grok it entirely. Will circle back to it later.

[2020-04-07 23:50] howardjohn opened #10688 "Log format: allow logging without source, or shortened source"
*Title*: Log format: allow logging without source, or shortened source

*Description*:
Currently our logs look like `[bazel-out/k8-opt/bin/external/envoy/source/common/config/_virtual_includes/grpc_stream_lib/common/config/grpc_stream.h:92] some log`. Due to covid-19 WFH my monitor is really tiny so now the source part `grpc_stream.h:92` takes up the entire screen.

It would be nice if there was s

[2020-04-07 23:55] mattklein123 commented on #10688
I would very much love this feature. I thought about implementing this a while ago, but unfortunately it's not very easy as the log file/line come from a macro and do not actually get passed through to spdlog where format strings are parsed. I think this could be fixed by making the file/line part of the logging function call itself and handling somehow, but it will be a little tricky.

cc @jmaran

[2020-04-08 00:20] ggreenway commented on #10688
Yeah, currently the preprocessor builds the string `[filename.c:1234]`, and then does preprocessor/compile-time concatenation with the format string of the log message. We would either need some amazing preprocessor-fu to strip the prefix off the filename string, or somehow break apart the _VA_ARGS, prefix an extra `"{}:{}"` to the front of the format string using preprocessor/compile-time concat,

[2020-04-08 00:28] jmarantz commented on #10688
crazy idea number 59291: you could also post-process the formatted text to clean up the filenames (ducks).

[2020-04-08 00:37] lambdai commented on #10688
It would be also helpful if we increase a little bit cardinality in file name and class name
We have at list 16 classes named `Config` and 78 files named `config.cc`

[2020-04-08 00:42] jmarantz commented on #10688
Class names are not involved here, right? I think maybe we could just smart-strip the leading junk from the filename and get `[common/config/grpc_stream.h:92]` -- would that be good enough?

[2020-04-08 02:23] mattklein123 commented on #10688
Honestly, this is a hack that I would seriously consider. See this tool that I wrote a long time ago to "fix" bazel paths in my IDE: https://github.com/envoyproxy/envoy/blob/master/tools/path_fix.sh. You could slightly modify that and then just pipe your output through that or run it using that script.

[2020-04-08 02:26] #5267 closed

[2020-04-08 04:37] rharding6373 commented on #10423
Thanks for the suggestions! I'll try out option 2 and see how that goes.

[2020-04-08 06:12] euroelessar commented on #10688
Based on [spdlog documentation](https://github.com/gabime/spdlog/wiki/3.-Custom-formatting) (and codebase) it supports file names/lines/function names in the log.
Envoy just needs to pass `spdlog::source_loc` as one of the arguments to [`log` method](https://github.com/gabime/spdlog/blob/ec12770693edc30988052718a6ec218b936b8f50/include/spdlog/logger.h#L219).

[2020-04-08 06:47] euroelessar commented on #10688
Getting to the next step (stripping bazel junk) can be done using [spdlog::custom_flag_formatter](https://github.com/gabime/spdlog/wiki/3.-Custom-formatting#extending-spdlog-with-your-own-flags) using c++ api of spdlog. It has access to `source_loc` and due to being just c++ code can be easily tested.

[2020-04-08 07:11] deveshbajpai19 opened #10692 "Help needed to return `x-b3-traceid` in response header using Jaeger tracing"
*Title*: *Help needed to return `x-b3-traceid` in response header using Jaeger tracing*

*Description*:
I'm using the a simple Envoy service mesh as mentioned in tutorials here: [https://github.com/yokawasa/envoy-proxy-demos/tree/master/jaeger-tracing]
The essential tracing configs are:

[code]

As I add the response_headers_to_add config in my front envoy with 'REQ' format, I get the error:
[code

[2020-04-08 07:35] vbfox commented on #10514
Someone responded on WebKit bugzilla that the problem is not inside WebKit but on a lower level library & now tracked Apple side in Radar as `rdar://problem/61383605` (If anyone wants to reference it with them)

[2020-04-08 07:39] objectiser commented on #10692
From an envoy perspective, there is no difference between the zipkin and jaeger examples - they are both using the `envoy.zipkin` tracer. So, you should be able to use the same envoy tracing config for both.

[2020-04-08 07:40] walterfranssen opened #10694 "Cors sub domains cache issue?"
*Description*:
We have to subdomains like test1.test.nl and test2.test.nl and we use envoy as a gateway and its has subdomain gateway.test.nl.

if i go to the application on test1.test.nl everything is fine. But if i go 2 test2.test.nl i get a cors error. If i look to the request the allow-origin has the value:
access-control-allow-origin: https://**test1**.test.nl
access-control-expose-headers: C

[2020-04-08 12:49] deveshbajpai19 commented on #10692
@objectiser I believe so, but even the zipkin-tracing example doesn't work for me. I get the same error.
The version for envoy used is:
Front Envoy:  envoyproxy/envoy:latest
Services: envoyproxy/envoy-alpine:latest

[2020-04-08 15:02] alyssawilk commented on #1451
I already added support for sending TCP over HTTP/2 CONNECT (https://github.com/envoyproxy/envoy/issues/1630) - it's missing the all important proxy proto header but I plan on landing that in a follow-up thanks to @wez470 's handy utilities and that should handle the Envoy-to-Envoy case as described in https://github.com/envoyproxy/envoy/issues/1630

Would that work for you or do you have some non

[2020-04-08 15:21] chradcliffe commented on #1451
We use some upstream non-envoy servers that only support HTTP/1 CONNECT, so HTTP/2 CONNECT wouldn't work for our use case.

@alyssawilk thank you for the offer to walk someone through the steps -- we're planning to start on this functionality over the next month or two, so as soon we know who is going to be doing the work I'll get in touch.

[2020-04-08 15:34] #10221 closed

[2020-04-08 15:37] #10686 closed

[2020-04-08 15:47] mattklein123 commented on #10688
@euroelessar nice find! Awesome!

[2020-04-08 16:47] mattklein123 commented on #10694
cc @dschaller

[2020-04-08 17:25] zuercher opened #10701 "thrift proxy test driver dependencies"
Envoy's thrift proxy network filter uses some python code to generate a variety of requests and responses in the various combinations of thrift transport and protocol that are support. One of the supported protocols, colloquially known as "ttwitter", is no longer supported in python and is not compatible with python3, blocking #4552.

The actual python3 incompatibility is in the twitter.common.rpc

[2020-04-08 17:29] zuercher commented on #10701
#10702 implements the first option above.

[2020-04-08 17:33] sunjayBhatia commented on #10619
relevant bazel issue for this work: https://github.com/bazelbuild/bazel/issues/11101

[2020-04-08 18:31] snowp opened #10706 "Perform retries even when x-envoy-overloaded is set"
The current handling of x-envoy-overloaded disables retries whenever this header is returned from the upstream. As a result, requests that fail due to circuit breakers on the ingress side in a mesh setup can result in the downstream request failing without any retries being attempted simply because one of the upstream hosts was overloaded.

We should consider removing this behavior, instead recomm

[2020-04-08 18:43] deveshbajpai19 commented on #10692
@dio I see you suggested the solution in a similar issue posted for zipkin-tracing. I'm really clueless how to proceed in solving it, any suggestions would be great.

[2020-04-08 18:45] snowp commented on #10675
`max_concurrent_streams: 1` instructs Envoy to create a new connection for every stream instead of reusing the connection, it won't fail until Envoy is unable to create more connections. You probably want to be using circuit breakers (https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/circuit_breaking) to configure these limits.

[2020-04-08 18:53] alyssawilk commented on #1451
Sounds good.  FWIW it should be fairly minimal coding - I'd expect it to be  90% writing test cases making sure that HTTP/1.1 codec logic around chunks doesn't get screwy, ideally most of which you can copy-paste-edit from other PRs on these two issues :-)

[2020-04-08 19:37] alyssawilk opened #10707 "//test/integration:h1_capture_persistent_fuzz_test appears to flake?"
https://dev.azure.com/cncf/envoy/_build/results?buildId=37028&view=logs&j=293c6a27-42ca-51b1-e194-f08117075b7f&t=e0d91944-2bfa-5c6b-25e3-4a2c1a8a7cc7

2020-04-08T19:00:04.4837279Z [  PASSED  ] 17 tests.
2020-04-08T19:00:04.4838069Z [2020-04-08 19:00:02.608][18][info][testing] [test/integration/server.cc:219] stopping integration test server
2020-04-08T19:00:04.4839224Z [2020-04-08 19:00:02.610][20

[2020-04-08 19:39] alyssawilk commented on #10707
Also here:
https://dev.azure.com/cncf/envoy/_build/results?buildId=37027&view=logs&j=8d802004-fbbb-5f17-b73e-f23de0c1dec8&t=86512d3a-caa5-5e3f-9bce-4070faa3b830&l=5828

[2020-04-08 21:35] sunjayBhatia commented on #10619
We've hacked together some changes to `bazel-toolchains` and `envoy-build-tools` that let us generate a MSVC toolchain:
- https://github.com/greenhouse-org/bazel-toolchains/tree/enable-docker-toolchain-non-linux
- https://github.com/greenhouse-org/envoy-build-tools/tree/generate-windows-msvc-toolchain

[2020-04-08 21:36] alkalinecoffee opened #10712 "Mirror policy can't be disabled with value of zero"
*Description*:
We are unable to disable mirroring by using a numerator value of zero.  It's expected that this would effectively disable the mirroring policy, but instead zero appears to be treated the same as configuring 100%.  Configuring the value to any other `1-100` number will mirror the appropriate amount of traffic.

The documentation (https://www.envoyproxy.io/docs/envoy/latest/api-v2/typ

[2020-04-08 21:37] sunjayBhatia commented on #10619
Our next step is to get a test GCP environment with RBE + Windows enabled to test out our generated toolchain

[2020-04-08 22:33] yskopets commented on #10544
@mattklein123

I think, the most simple (and also very natural) way to expose `"worker name"` is to assign it to an `Event::Dispatcher`.

In this case, it will be possible to access `"worker name"` from anywhere in the source code, at any moment, etc.

Regarding `"worker name"` vs `"worker index"`, just index is not enough because it doesn't account for the main thread.

So, the proposal is to:
*

[2020-04-08 22:56] mattklein123 commented on #10544
@yskopets this sounds reasonable to me. I assume you plan on cleaning up the existing worker_name being passed around?

[2020-04-08 23:07] mattklein123 commented on #10712
It's not great but if you configure a runtime key name I think it will work as you expect: https://github.com/envoyproxy/envoy/blob/e1df07ed752eec63df386970789caabb232daf7f/source/common/router/router.cc#L145-L155

I suppose we could just remove that empty check and just always do the runtime call even if the key is empty as I think it will do the right thing if it doesn't exist. cc @alyssawilk @s

[2020-04-08 23:12] mattklein123 commented on #10707
Fixed by https://github.com/envoyproxy/envoy/pull/10713

[2020-04-08 23:12] #10707 closed

[2020-04-08 23:12] yskopets commented on #10544
yes

[2020-04-09 00:16] mattklein123 opened #10716 "build: docker push/tag script cleanups"
1) Remove references to CircleCI env variables.
2) Split the logic between dev builds and tag builds. Each type should independently build the docker images, push, and tag their respective images, vs always pushing to dev first. This will fix https://github.com/envoyproxy/envoy/issues/6595 also.

[2020-04-09 00:16] mattklein123 commented on #10716
cc @lizan

[2020-04-09 00:16] mattklein123 commented on #6595
This will be fixed by https://github.com/envoyproxy/envoy/issues/10716 so closing this as a dup. cc @lizan

[2020-04-09 00:16] #6595 closed

[2020-04-09 00:21] lizan commented on #6595
This is already fixed, we don't tag latest except master: https://github.com/envoyproxy/envoy/blob/master/ci/docker_push.sh#L20

[2020-04-09 01:34] #10186 closed

[2020-04-09 02:34] #10222 closed

[2020-04-09 02:58] rohaldbUni opened #10717 "[Resolved] Envoy ignoring multiple retry policies specified in retry_on"
*Description*:
It was our understanding that the `retry_on` field can contain multiple retry policies given that the docs for x-envoy-retry-on state:

We expected to be able to say something like
[code]
and both policies, namely a response code of 5xx or 409 should trigger a retry. We found that envoy ignores the second policy, meaning that 5xx response codes do not trigger retries. We found the s

[2020-04-09 05:16] freesnowCL commented on #10675
Thanks for the reply. Does that mean the max_concurrent_streams and max_requests_per_connection only limits the traffic from the envoy proxy to the application but not the traffic to the envoy proxy?

I tried setting up the circuit breaker and the result is still the same:
[code]

But when I sent requests with the following command, all requests are returned successfully again:
`ghz --skipTLS --ca

[2020-04-09 06:01] #10717 closed

[2020-04-09 06:13] mk46 commented on #4657
Hi @mattklein123, Can we increase the width of the page?
line break doesn't work because of the big words.
My changes look like this
![envoy](https://user-images.githubusercontent.com/52198964/78863230-b45d2200-7a56-11ea-862b-06d8b5acc811.jpg)

Can I take up this issue?

[2020-04-09 06:44] argos83 opened #10719 "server.hot_restart_generation does not include tags defined in stats_config.stats_tags"
*Title*: *gauge server.hot_restart_generation is not tagged*

*Description*:

I've been trying out the new 1.14.1 release, and happened to notice that there's this new `server.hot_restart_generation` metric, which is the only metric (in our setup) that doesn't get the tags defined in `stats_config.tags`.

[code]

Maybe this is working as designed, but I though it could be a bug. E.g. we tag our me

[2020-04-09 12:24] jmarantz commented on #5598
/cc @jmarantz

[2020-04-09 15:55] sunjayBhatia commented on #10619
`bazel-toolchains` issue to see if they will take our changes: https://github.com/bazelbuild/bazel-toolchains/issues/855

[2020-04-09 16:01] mattklein123 commented on #10675
cc @tonya11en also on ^. If there are doc/FAQ improvements we should do here as a result of this ticket that would be great. Thanks!

[2020-04-09 16:34] mattklein123 commented on #10384
This is still failing on master.
[code]

[2020-04-09 16:56] mattklein123 commented on #10719
cc @jmarantz ^ I think this is a bug from how that special case stat is done?

[2020-04-09 17:12] alkalinecoffee commented on #10683
Also wanted to chime in that we're facing a similar situation.

This was surprising to find as the default behavior of retrying against a potentially bad cluster seems to be a bad idea.  If the original request had a 50/50 chance of going to a bad cluster, the retries should be subject to the same weighting rule, or at least have an option to force the retry against all clusters or a specific subs

[2020-04-09 17:36] danzh2010 commented on #10584
QUIC uses TLS1.3 for IETF implementation and an in-house handshake protocol for the old google quic's implementation. Quic is considered connection oriented because itself does packet reordering, which is different from raw UDP.

[2020-04-09 17:43] danzh2010 commented on #10646
QUICHE has its header validation done before handing it to codec. Is it suppose to be following the standard? If so QUICHE should already does so.

[2020-04-09 17:49] snowp commented on #10683
Currently the only way to retry between clusters is to use the aggregate cluster - none of the routing/retry mechanism are able to target more than one cluster for a given route, so the only way to hit more than one is to aggregate multiple with the cluster.

The weighted cluster route is a fairly simple dice roll between the listed clusters, with the random value only computed once (so that filte

[2020-04-09 17:52] moderation commented on #4657
@mk46 the docs started off super narrow. They then changed to full width. They then changed backed to super narrow.  I prefer wide and I think it is more mobile friendly.

[2020-04-09 18:03] mk46 commented on #4657
@moderation I also prefer full width but waiting for @mattklein123 response.

[2020-04-09 18:05] mattklein123 commented on #4657
Can we please open another issue to talk about docs width? I actually don't care. @lucperkins reverted the width change so we can discuss there.

[2020-04-09 18:31] mattklein123 commented on #10646
@danzh2010 the main thing we have to figure out here is how to share the various checks between all 3 codecs (QUICHE being one). Right now we have consistency issues just between 2, so when we add HTTP/3 the problem is even bigger. Specifically, we will have to implement header underscore ignore/drop in HTTP/3 to match HTTP/1 and HTTP/2 so this will be a forcing function to figure this out.

[2020-04-09 18:39] danzh2010 commented on #10646
We can add extra validation steps after QUICHE delivers request header to codec, so it's something doable. But might not worth to check what the standard requires for a 2nd time.

[2020-04-09 18:53] mk46 opened #10726 "docs: content width issue"
Page doesn't cover the full width and few big words get out content.

![image](https://user-images.githubusercontent.com/52198964/78930066-181c3500-7ac1-11ea-8a83-8b5e02ffb783.png)

If we increase width then contents cover inside.

[2020-04-09 19:00] tim-a17 commented on #9822
We've also run into this.  Any suggested work arounds?  We are considering moving our auth service to HTTP at this point.

[2020-04-09 19:03] mk46 commented on #4657
Hi @mattklein123,I opened [10726](https://github.com/envoyproxy/envoy/issues/10726).Let's discuss about this.

[2020-04-09 19:54] lucperkins commented on #4657
Excessively long line lengths do readers a tremendous disservice and are universally regarded as a no-no amongst technical writers and UX specialists. I'd recommend keeping paragraph line lengths roughly where they are and using word wrapping/breaking for words that exceed that: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/.

[2020-04-09 19:55] lucperkins commented on #10726
Excessively long line lengths do readers a tremendous disservice and are universally regarded as a no-no amongst technical writers and UX specialists. I'd recommend keeping paragraph line lengths roughly where they are and using word wrapping/breaking for words that exceed that: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/.

[2020-04-09 20:35] mattklein123 commented on #10726
If I were forced to pick I agree with @lucperkins that we should keep it at the narrow width, but curious to hear the opinions of others.

[2020-04-09 21:22] danzh2010 commented on #10646
As to underscore in header field, why wasn't it an http filter instead?

[2020-04-09 22:14] dio commented on #9822
Workaround is to base64 your payload. However if that's not an option, let's try to add a new field in v3.

[2020-04-09 22:17] bringking commented on #10683
Okay, I think I am understanding. However, I can see in the docs here for Aggregate Clusters that the retry priorities won't work? https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/aggregate_cluster#example

here is a larger snippet of the config. I feel like this is close to what you are describing, however it's not working.

[code]

any help would be appreciated.

[2020-04-09 22:19] mattklein123 commented on #10646
I think mostly for efficiency reasons as this is a potential attack vector, though I suppose in hindsight we could have done this at the HCM layer during decode headers. @yanavlasov @alyssawilk any thoughts here? We can change this later without any config implications though we would probably want to move the stats around.

[2020-04-09 22:50] #10567 closed

[2020-04-09 23:16] stevenzzzz opened #10731 "RTDS snapshot should be pinned to each stream"
*Title*: we should keep runtime's consistency during a request's lifecycle.

*Description*:
runtime layers should be consistent during processing of a request.

*Repro steps*:

           filter A reads version 1 of runtime snapshot, filter A stopIteration, waits for a some callback result, say on-demand-rds
           a new Runtime snapshot (version 2) is pushed by RTDS,
         filter A resume

[2020-04-09 23:40] moderation commented on #10726
I think there is a middle ground. Agree that excessive line lengths aren't great. But we aren't reading a book here, we are reading technical information about a technical project. Wrapping the long proto strings like `extensions.filters.network.http_connection_manager.v3.ScopedRoutes.ScopeKeyBuilder.FragmentBuilder.HeaderValueExtractor.KvElement` isn't ideal.
The current design forces the content

[2020-04-09 23:43] mattklein123 commented on #10731
+1

[2020-04-09 23:48] tim-a17 commented on #9822
We don't control the payload as this issue is showing up as part of a 3rd parth OAUTH process.  That said, perhaps we can put a filter in front of this for the rewrite.

On another note, you can probably make it backwards compatible by introducing a field and a flag that controls whether to populate it?

[2020-04-09 23:55] lucperkins commented on #10726
As a professional technical writer I can tell you that the screenshot you include here presents an extremely user-hostile reading experience. UX research suggests that ~80 characters per line is optimal in terms of the amount of work the eye has to do to take in a chunk of text. And it doesn’t particularly matter if it’s in a book or on a screen. The principle still holds.

I implore project maint

[2020-04-10 01:17] moderation commented on #10726
I have zero training in this space and don't try to play an interface and information expert online. Below is the screenshot of my primary screen as it stands today. If you are able to wrap the long proto names that are a core part of Envoy in a way that I can select and copy them into an IDE without breakage, I'm open to seeing it. I still feel the difference here is not knowledge retention when

[2020-04-10 07:19] zengyuxing007 commented on #9891
We have encountered similar problems in testing ratelimit,
@duderino  Does setting "initial_stream_window_size and initial_connection_window_size = 64K" solve the problem?  or setting the overload manager (https://www.envoyproxy.io/docs/envoy/latest/configuration/operations/overload_manager/overload_manager)?

using the option "nvoy.overload_actions.shrink_heap" ?

Use the admin: memory interface

[2020-04-10 12:21] #3566 closed

[2020-04-10 12:25] yskopets opened #10734 "proposal: choose a naming scheme for per-`Wasm VM` metrics, such as `memory_size` or `stage`"
*Title*: choose a naming scheme for per-`Wasm VM` metrics, such as `memory_size` or `stage`

*Context*:
* due to the nature of how `Wasm` gets integrated into a host application, there will be always multiple independent `Wasm` modules (or `Wasm VMs` in terms of [envoy-wasm](https://github.com/envoyproxy/envoy-wasm)) running inside Envoy
* there are some metrics, such as `memory size` and `stage`,

[2020-04-10 14:16] yskopets commented on #10544
The proposed use of `<thread name>` inside `Wasm` metrics is described in #10734

[2020-04-10 15:45] alyssawilk commented on #10646
I think it was added as a commonly needed security fix - I think at some point we could refactor much of the HCM transformation into a shared filter, but in general most security work (making sure there's no smuggling, making sure there's no weird characters) go directly in the base classes.  Moving one out would be weird, and moving them all out would be dangerous :-P

[2020-04-10 16:50] danzh2010 commented on #10646
What is the security concern for underscore in headers?

[2020-04-10 17:12] yskopets commented on #10576
@htuch

Sorry, I didn't notice this question in time.

I think, the issue here is not that `Tracing.OpenCensusConfig` message explicitly depends on `opencensus.proto.trace.v1.TraceConfig`, but rather that dependency `HttpConnectionManager => Tracing.Http` pulls in `Tracing.OpenCensusConfig`.

Specifically, `Tracing.Http` is already defined using `Any`:

[code]

And `HttpConnectionManager` only dep

[2020-04-10 17:18] htuch opened #10736 "Reflect xDS version as a TextReadout stats"
Now that https://github.com/envoyproxy/envoy/pull/10639 provides a true text stat, we should be able to reflect the exact xDS version, rather than a hash. See related https://github.com/envoyproxy/envoy/issues/2172.

[2020-04-10 18:24] mattklein123 commented on #10646
Some applications treat `_` and `-` as interchangeable (holdover from CGI days) and this opens up a fairly trivial security bypass vector in some cases. NGINX ignores headers with `_` in them by default for this reason.

+1, I don't think this stuff belongs in a filter, but I feel quite strongly that it belongs in common code, probably in the HCM in decodeHeaders. We need to make sure all of our H

[2020-04-10 18:37] yskopets commented on #10576
@htuch btw, why does configuration for tracing provider implementations live in `config.trace` rather than in `extensions.tracers.<provider>` ?

[2020-04-10 18:38] #10566 closed

[2020-04-10 18:42] yskopets opened #10737 "proto: move configuration of tracer provider implementations out of `config.trace` into `extensions.tracers.<provider>`"
*Title*: move configuration of tracer provider implementations out of `config.trace` into `extensions.tracers.<provider>`

*Context*:
* proper placement of extension-specific configuration would have prevented #10576

[2020-04-10 18:47] sanjaypujare commented on #10576
That's the change being requested. Who can make that change?

[2020-04-10 18:52] mattklein123 commented on #10576
@sanjaypujare +1 to @yskopets proposal. Optimally each tracer config should be in its own proto file and in the extension directory. Can we make that happen please?

[2020-04-10 18:52] mattklein123 commented on #10737
cc @sanjaypujare can you potentially do this as part of solving the OpenCencus issue? It should be straightforward.

[2020-04-10 19:07] fuqianggao opened #10738 "envoyproxy/envoy:latest is missing in: https://hub.docker.com/r/envoyproxy/envoy/tags"
**WARNING: If you want to report crashes, leaking of sensitive information,
and/or other security issues, please consider
[reporting them using appropriate channels](https://github.com/envoyproxy/envoy#reporting-security-vulnerabilities).**

**Issue Template**

*Title*: *One line description*

*Description*:

describe the desired behaviour, what scenario it enables and how it
would be used.

[opti

[2020-04-10 19:17] paulnivin opened #10739 "bazel --config=libc++ build requires PIC enabled libc++.a/libc++abi.a"
The envoy libc++ build breaks on OS installs of libc++ (9 release) where libc++.a and libc++abi.a do not use PIC. This includes current official Ubuntu 18.04/Bionic LTS OS builds distributed by both https://apt.llvm.org and Canonical.

Example error:
[code]

In prior versions of libc++, PIC was always enabled as the same files were used in both the static and shared libraries. https://reviews.llvm

[2020-04-10 19:17] sanjaypujare commented on #10576
@mattklein123 we have a workaround for our issue so this is no longer a blocker for us although we would prefer to have this resolved. Not sure I can get it to it soon. How about @yskopets or @g-easy or the person who introduced the dependency?

[2020-04-10 19:20] sanjaypujare commented on #10737
See my comment in https://github.com/envoyproxy/envoy/issues/10576#issuecomment-612179006 . I can get it to it later but not now.

[2020-04-10 19:34] mattklein123 commented on #10738
With us now releasing security/stable releases, "latest" no longer has any meaning so it has been removed. Please pin to a specific version.

[2020-04-10 19:39] yskopets commented on #10576
@sanjaypujare 🙂ok, I'll see what I can do.

[2020-04-10 19:42] yskopets commented on #10737
@sanjaypujare  @mattklein123 I will take a look into it.

[2020-04-10 19:42] sanjaypujare commented on #10576
@yskopets thanks.

[2020-04-10 20:06] yskopets opened #10740 "tools/api: add support for 1) deprecating message types and 2) moving nested message types up"
*Title*: add support for 1) deprecating message types and 2) moving nested message types up

*Description*:
* at the moment, there are already a few message types that have been deprecated, e.g.
  * `bootstrap.v2.Runtime`
  * `trace.v3.Tracing`
* additionally, there is a case where a nested message type needs to be moved up, e.g.
  * `trace.v3.Tracing.Http` => `trace.v4.HttpTracer`

[2020-04-10 20:20] snowp commented on #10675
All of these cluster level options apply to the upstream connection pool, they are not related to the downstream connections directly. The HTTP specific ones instruct when Envoy should attempt to make additional connections, while the circuit breaker (max req/max conn) can control how many requests/connections are allowed for the upstream cluster, falling back to enqueuing the request until the ma

[2020-04-10 20:37] fuqianggao commented on #10738
Thanks for the quick reply! Maybe the doc needs to be updated to reflect this https://www.envoyproxy.io/docs/envoy/latest/install/building?

[2020-04-10 20:39] lizan opened #10741 "Backport AZP refactor / CI scripts improvements to supported versions"
To better support older version releases/security fixes in CI, these PRs need to be backported:
- #10938
- #10775
- #10729
- #10564

cc @PiotrSikora

[2020-04-10 20:55] tzachshabtay commented on #10235
We still want this, mr stale bot.

[2020-04-10 22:05] mattklein123 commented on #10738
Yes thanks I will fix this. cc @lizan

[2020-04-10 22:08] mattklein123 commented on #10740
cc @htuch to advise

[2020-04-10 22:11] mattklein123 commented on #10739
In general:
1) Static linking of the C++ std lib is preferred
2) We need PIC to do ASLR, etc.

So in general it would be better to actually figure out how to deal with this in the common case where we want everything static linked. cc @keith @lizan for further thoughts.

[2020-04-10 22:25] htuch commented on #10576
Yes, agreed, we should move trace providers to reflect the regular extension structure.

[2020-04-10 23:05] lizan commented on #10739
Yes for those purpose we do static link. I think you can do dynamic linking of libc++ with just adding `--host_linkopt=-lc++ --linkopt=-lc++` to bazel.

[2020-04-10 23:26] #10716 closed

[2020-04-11 00:29] paulnivin commented on #10739
@lizan envoy does not build on current Ubuntu using the official upstream libc++ packages, as it cannot statically link libc++.a. If this is intended, can we update the docs to state that libc++.a must be compiled with PIC support for the default envoy builds?

Related, my understanding is that Android has the same PIC build requirement on libc++.a as envoy does, so they vendor it.

[2020-04-11 00:49] lizan commented on #10739
Yes it doesn't build since libc++-9 and we switched to use tar.xz package from upstream LLVM, and that's what we vendored in the envoy-build-ubuntu image.

Yes sure.

[2020-04-11 07:53] antweiss commented on #9096
I have a somewhat related question. Is there any way to know what extensions an existing compiled Envoy binary includes? A cli option? An API endpoint?

[2020-04-11 15:14] moderation commented on #9096
@antweiss if you run the binary from a command line with no options it flags it will report what extensions are in the binary

[2020-04-11 15:39] antweiss commented on #9096
Great! Thanks a lot?

[2020-04-11 21:48] #10384 closed

[2020-04-11 23:01] yskopets commented on #10737
@mattklein123

Just to clarify, what do you think should be in the scope of this task ?

E.g.,
* I could  just add `udpa.annotations.file_migrate` to provider-specific message types and they will be moved into `extensions.tracers.<provider>` in `v4alpha`
* or, do you expect these types to be moved into `extensions.tracers.<provider>` already in `v3` ? I think, it's doable, but it requires more aut

[2020-04-12 12:33] yskopets opened #10745 "api/tools: `*.proto` file that consists solely of `import public` statements gets removed from the next API version"
*Title*: `*.proto` file that consists solely of `import public` statements gets removed from the next API version

*Context*:
* spotted in `config/v3/trace.proto` while working on #10743
* it's not a blocker for `trace.proto`, though, since this file should be removed in `v4` anyway

[2020-04-12 13:17] yskopets opened #10746 "tools/api: file-level `option deprecated = true;` gets removed"
*Title*: file-level `option deprecated = true;` gets removed

*Context*:
* spotted in `config/v3/trace.proto` while working on #10743

[2020-04-12 22:00] #10277 closed

[2020-04-12 23:00] #10282 closed

[2020-04-13 00:08] yskopets commented on #10395
Here is the re-worked schema that is meant to meet the following requirements:
* it should support not only `proxy-wasm` but also Envoy-specific ABIs (see 2 examples below)
* it should have the same form both for `proxy-wasm` and Envoy-specific ABIs (unlike in the original proposal)
* it should be simple (given that the entire Wasm support in Envoy is new and might evolve significantly)

[code]

[2020-04-13 06:24] AzharMobeen commented on #2167
Is it possible to disable cors for specific method ? As you achieved for specific route/serviceB is disabled

[2020-04-13 07:36] #9849 closed

[2020-04-13 12:04] yskopets commented on #9998
@kyessenov @dio Tracing configuration is now fully dynamic, both in `v2` and `v3` APIs.
The remaining PRs are optimizations and refactorings.

If you were planning to use this feature, you can give it a try already.

[2020-04-13 12:05] asraa commented on #10318
@antoniovicente @htuch The last point on moving forward is still outstanding -- what do you think? Keep header validations as-is? Do a giant deprecation/replacement to RFC compliant HeaderStrings?

[2020-04-13 13:44] SpecialYang commented on #10478
I have the same issue on mac. After I built envoy by the command that is `bazel build  //source/exe:envoy-static`, I run the output file `envoy-static`. The same error is following:
[code]

#### version
- Mac: Mojave 10.14.5
- bazel: 1.1.0

[2020-04-13 14:35] htuch commented on #10740
There is already support for removing entire messages (and their nested messages), see https://github.com/envoyproxy/envoy/blob/44eedc792ab64bba2358e0294b53294c6bc30526/tools/protoxform/migrate.py#L161. So, I think we just need to go and tag `bootstrap.v2.Runtime` with this (this doesn't violate the freeze as it's just a forward annotation).

For promotion of messages to parents, I think this is t

[2020-04-13 14:42] htuch commented on #10576
@yskopets FWIW, it's totally fine to move the protos to distinct files inside existing packages within a major version; this doesn't constitute a breaking API change. Moving across packages does though, so we need to do that only in v4alpha via the `move_to_package` file-level option.

[2020-04-13 16:14] rgs1 commented on #8448
So nginx calls deflate() with 32k chunks:

[code]

We should probably experiment with something similar. cc: @rojkov

[2020-04-13 16:17] jamessynge opened #10749 "Document LoadReportingService"
The proto for the rpc method LoadReportingService.StreamLoadStats provides an overview, but no hint as to how one would configure Envoy to initiate a connection. Digging through the code leads to a field called load_stats_config, but not much more info, certainly no examples. It would be helpful to have this documented.

[2020-04-13 16:38] mattklein123 commented on #10749
See https://github.com/envoyproxy/envoy/tree/master/examples/load-reporting-service. @kathan24 did some great work here creating an example. It would be nice to further weave this into the docs though. PRs definitely appreciated as @kathan24 also found this very confusing to get started with.

[2020-04-13 17:03] kyessenov commented on #9998
Thanks for all your work!

[2020-04-13 17:05] mattklein123 commented on #10734
I would be concerned about stat cardinality if including the hash in the metric name in all cases, especially if it changes often. You might consider making that optional. cc @envoyproxy/wasm-dev

[2020-04-13 17:38] murray-stripe opened #10751 "stats_tags - Allow fixed_value in TagSpecifier with regex to select metrics"
*Title*: *Support static tag-values, using a regex to match metrics in which it applies*

*Description*:

I have a deployment in which I need to apply a fixed tag-value to a sub-set of Envoy metrics. The existing support for tagging metrics via `StatsConfig.stats_tags` is very close to what I need and I am curious if the Envoy project would consider expanding functionality here.

Specifically I wo

[2020-04-13 18:02] mattklein123 commented on #10737
@yskopets I think just doing this for v4alpha is fine but I will defer to @htuch on the best plan forward. Thank you!

[2020-04-13 18:03] mattklein123 commented on #10745
cc @htuch to triage

[2020-04-13 18:04] mattklein123 commented on #10746
cc @htuch to triage

[2020-04-13 18:53] htuch commented on #10745
Possibly part of https://github.com/envoyproxy/envoy/issues/10612. In any case, I'm surprised this happens, since from v2 -> v3 we had some of these `import public` only files, e.g. https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/route/route.proto.

[2020-04-13 18:54] htuch commented on #10746
Why do we need to set this? If there are no messages in the file in the next version, I believe the tooling won't generate the file.

[2020-04-13 19:06] htuch commented on #10318
My $0.02 is that we do a giant deprecation. The way I think this could work is that we introduce a runtime option (default existing behavior) and we add a recursive traversal via reflection (similar to `checkForUnknownFields`) at config ingest. This would enforce the stricter requirement beyond what PGV does when it sees a weaker PGV header annotation. Then we can replace this with pure PGV after

[2020-04-13 19:10] yskopets commented on #10745
Notice that this file wasn't migrated into `v3`.

Actually, none of `v3` files has `import public` while there were 9 such statements in `v2` files.

[2020-04-13 19:12] htuch commented on #10745
I see, yeah, this is a tooling limitation, we should fix.

[2020-04-13 19:15] htuch commented on #10737
Yeah, I think this is best done in v4alpha to avoid breaking API changes, thanks.

[2020-04-13 19:19] snowp commented on #10343
I also like #2, let me see if I can get a PR up for this

[2020-04-13 19:30] yskopets commented on #10746
In case of a `*.proto` files that consist solely of `import public` statements, I would expect them to be removed from the next api version based on presence of file-level `option deprecated = true;` (rather than remove such files unconditionally as it happens now)

[2020-04-13 19:35] htuch commented on #10746
I see, in that case I would combine this with https://github.com/envoyproxy/envoy/issues/10745, since I think we want to fix both at the same time.

[2020-04-13 19:37] htuch commented on #10343
I think #2 is fine for bootstrap. For file-based xDS, we probably want to make use of the resource API version present in `ConfigSource`.

[2020-04-13 19:42] yskopets opened #10755 "tools/api: it is not possible to use fully-qualified type names in `*.proto` files"
*Title*: it is not possible to use fully-qualified type names in `*.proto` files

*Repro steps*:
1. Edit `*.proto` file to use a fully-qualified type name (one with a leading `"."`), e.g.
[code]
2. Run
[code]
   Observed behaviour:
[code]
   which strips away the leading `"."` that was added earlier.

*Expected behaviour*:
* api tools should allow using fully-qualified type names

[2020-04-13 20:04] mabukhovsky opened #10756 "Dynamic Forward Proxy with auto_host_rewrite_header for HTTPS traffic"
Hi guys, thanks to @dio help we have Envoy dynamic forward proxy that is validating requests via ext_authz and rewriting host and port based on header information (**auto_host_rewrite_header**).

It works fine for HTTP requests coming to Envoy, however it doesn't if we do HTTPS requests. I was trying to include port 443 in auto_host_rewrite_header and in a debugger at upstream host side I can see

[2020-04-13 22:32] ggreenway commented on #10360
I think you can add a route to this prefix/URI of type direct_response (https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto.html?highlight=direct_response#envoy-v3-api-msg-config-route-v3-directresponseaction) and return whatever you want there, maybe a 404? Does that accomplish what you're hoping?

[2020-04-13 23:34] gary-lo opened #10760 "grpc_web_reverse_bridge filter: design proposal"
### Add a grpc_web_reverse_bridge filter that can be used by Envoy Mobile to unblock native clients who have an http1 limitation on any network hop as well as having a consistent stack with browsers.

![gRPC-Web](https://www.cncf.io/wp-content/uploads/2018/10/1.png)

*Description*:
Envoy on the server through (https://github.com/grpc/grpc/pull/8667) allow for servers to transparently support the g

[2020-04-13 23:59] drzdbd1 opened #10762 "Envoy Failed to initialize cipher suites"
**Envoy reports "Failed to initialize cipher suites" when cipher_suites are specified**

**Description**:
I use Istio as service mesh framework, which injects Envoy as sidecar to pods. When I specified "cipherSuites" through Istio, I saw this error reported by Envoy and TLS negotiation failed. I see "AES128-GCM-SHA256" is supported by either build [here](https://www.envoyproxy.io/docs/envoy/latest

[2020-04-14 00:29] euroelessar opened #10764 "access log: grpc access log grows unboundly if backend is slow"
gRPC access log has no back pressure in case if backend can not keep up with the load. In this case it starts buffering all entries without any upper bound.

In a sense it is similar to #9458 but for other types of loggers.

In order to avoid OOM situations Envoy should:
1. Limit memory usage of buffered entries.
2. Drop new entries after some threshold (which can default to smth like 1MB).
3. Emi

[2020-04-14 01:28] jpeach opened #10767 "quiche build failure under clang 10"
quiche fails to build under clang 10

*Repro steps*:

[code]

*Config*:

Fedora 32 (beta)

[code]

*Logs*:

[code]

[2020-04-14 03:29] freesnowCL commented on #10675
Thanks for the reply. Actually, what I want to do is limit the traffic for each endpoint, that's why I was trying to see if `max_requests_per_connection` and `max_concurrent_streams` can be used to do that. Is there any setting in Envoy that can help with it?

[2020-04-14 06:21] leongnaw8 opened #10768 "Not listen after change the max packet size"
Hello,

After change the max packet size from 1500 to be 8192 (for UDP), we compiled it successfully.
However, with the new image, we found Envoy does not receive any data though we keep sending to it...

Question:
1) How can we know the new image is working well or not?
   Tried to see any log but did not find out log file...
2) any suggestion regarding how to debug this non-listening issue?

Eve

[2020-04-14 07:23] lizan commented on #10760
IIUC the request here is to create a reverse grpc-web filter, which is similar to what `grpc_http1_reverse_bridge` does to `grpc_http1_bridge`. I'm not object to implement such a filter, though meanwhile you should be also able to try those filter to workaround those edge / lb doesn't support http2 to origin.

[2020-04-14 07:51] gary-lo commented on #10760
Correct. Thanks for the reply @lizan, you worded that much better than I. I've updated the issue.

Is it correct to assume for our web clients to use, we have to use grpc-web? Or is there some way to also use `grpc_http1_reverse_bridge` for web also?

Not an expert on ` grpc_http1_reverse_bridge/grpc_http1_bridge` but what are the major differences between the bridge and grpc-web?

[2020-04-14 08:02] FqqCS opened #10769 "HTTP/1.0 and keep-alive bug?"
I was testing envoy server with ab (Apache Bench) and it turns out that if you enable the -k (keepalive) option, ab just hangs.

Turns out that ab uses HTTP/1.0 requests. It sends a Connection: keep-alive header, and i enabed http1.0 in envoy server. envoy does keep the connection alive, but it does not add a Connection: keep-alive header to the reply. ab assumes that the server does not support k

[2020-04-14 08:33] #10768 closed

[2020-04-14 09:50] freesnowCL opened #10770 "Outlier detection cannot eject unhealthy hosts"
I used the httpbin docker image to test the health check and outlier detection feature of envoy in a k8s cluster:
[code]

I expected the host to be ejected after I pass 3 consecutive `/status/500` requests to it:
[code]

I also checked the cluster statistics using admin API:
[code]

But when I pass a `status/200/` request to it, it returned HTTP 200:
[code]

I also tried for 2 httpbin pods and ove

[2020-04-14 11:49] BhagathSeelam commented on #10442
@marcomagdy after upgrading envoy version to latest 1.14.1, i can now see parentId is being is passed to upstream clusters. However i am seeing same document name(defaulted to route cluster name) for all http_filters(envoy.filters.http.jwt_authn and envoy.ext_authz)

is this expected behaviour ?
Below is raw_data from aws xray console
`{
    "Duration": 0.254,
    "Id": "1-5e959e6f-b7b2649af04414a

[2020-04-14 12:24] nezdolik opened #10771 "[docs] Link for deprecated log is broken"
[Deprecated.md](https://github.com/envoyproxy/envoy/blob/master/DEPRECATED.md) contains a link named "deprecation log" that redirects to https://www.envoyproxy.io/docs/envoy/latest/intro/deprecated with 404 response code.

[2020-04-14 13:58] mk46 commented on #10726
@moderation @lucperkins  Can we close the issue or change the width from narrow to full?

[2020-04-14 14:21] a-sharma11 opened #10772 "[Question] Example for request_id_extension"
Background - I created an issue https://github.com/envoyproxy/envoy/issues/7804 which is closed using https://github.com/envoyproxy/envoy/issues/7624. From the documentation i am not able to figure out how to use this `request_id_extension`. Can someone provide an example of how to use `request_id_extension` to accomplish the behavior i need for https://github.com/envoyproxy/envoy/issues/7804

Att

[2020-04-14 14:32] rgs1 commented on #8448
So I updated the benchmark added in #10464 and when using the same input for the different chunk sizes the compression times is pretty much the same everywhere (for the corresponding parameters, of course):

[code]

[2020-04-14 14:56] moderation commented on #10771
I think this will be fixed by https://github.com/envoyproxy/envoy/pull/10754

[2020-04-14 15:15] long1eu commented on #5564
@itayd did you managed to get the json schema?

[2020-04-14 15:22] mk46 commented on #10771
Hi @mattklein123,  The deprecation log file is removed as per Deprecation Policy. Can we remove [DEPRECATED.md](https://github.com/envoyproxy/envoy/blob/master/DEPRECATED.md) ?

[2020-04-14 15:24] mattklein123 commented on #10771
Let's track this in https://github.com/envoyproxy/envoy/pull/10754

[2020-04-14 15:24] #10771 closed

[2020-04-14 15:31] petrukngantuk commented on #8167
any update about this?
I try to use websocket with weight routing in istio, but blocked by this... to enable flagger canary on my deployment
:sob:

[2020-04-14 15:35] mattklein123 commented on #10764
I think the issue here is that we don't actually expose the high/low watermark events in the async client case. I think the correct fix here is to make sure that the router watermark events are exposed in the async client, and then in streaming cases the users of the client can respond to them and do what they think is best (reset, drop, etc.). cc @alyssawilk

[2020-04-14 15:39] mattklein123 commented on #10769
This was already fixed: https://github.com/envoyproxy/envoy/issues/9797

[2020-04-14 15:39] #10769 closed

[2020-04-14 15:52] yanavlasov commented on #10767
@danzh2010 do you know who might take a look at this on quiche side?

[2020-04-14 15:55] yanavlasov commented on #10770
@snowp do you know if this is working as intended?

[2020-04-14 15:57] yanavlasov commented on #10762
@PiotrSikora do you have any insight into why this cipher is rejected?

[2020-04-14 16:01] #10544 closed

[2020-04-14 16:01] yanavlasov commented on #10755
@htuch looks like a bug in the format checker

[2020-04-14 16:03] yanavlasov commented on #10751
@jmarantz

[2020-04-14 16:36] cpakulski commented on #6107
@mattklein123 Since there are no assumptions about the body's structure, I think that only matchers would be:
- contains _token_
- does not contain _token_
where the _token_ is string or regex.

Should the matching process kick in only when content-Type is text/plain, or leave it to a user to configure two matchers?

[code]

[2020-04-14 17:26] #9352 closed

[2020-04-14 18:09] mattklein123 commented on #6107
@cpakulski I think that sounds about right. I probably wouldn't worry about content type and would allow binary body matching.

[2020-04-14 18:22] snowp commented on #10770
Do you happen to be using a stats filter? There's a known issue with outlier detection and not having the requisite stats available: https://github.com/envoyproxy/envoy/issues/8259

[2020-04-14 18:25] marcomagdy commented on #10442
The segment name is that same for all traces of a given envoy.

[2020-04-14 18:41] cpakulski commented on #6107
@mattklein123 Thank you. I am going to implement is the way you suggest.

[2020-04-14 18:52] htuch commented on #8421
I'm reopening this issue as there is some demand for the ability for (in simple cases) to be able to do rollouts using a mechanism that does fallback as described in https://github.com/envoyproxy/envoy/issues/8421#issuecomment-567363234.

[2020-04-14 18:53] htuch commented on #8421
CC @Shikugawa @mattklein123 @snowp @lita @jyotima

[2020-04-14 18:58] htuch opened #10776 "Support mixed v2/v3 xDS request/responses"
To better support rollouts where the control plane switches from v2 to v3, we should be able to support a DiscoveryResponse with a v3 resource to a DiscoveryRequest for a v2 previous version resource.

Envoy may already support this. We need to look at the behavior of gRPC mux watchers, there might need to be some modifications needed there. In addition, tests and documentation are required.

[2020-04-14 18:58] htuch commented on #8421
See also https://github.com/envoyproxy/envoy/issues/10776 as an alternative approach to rollouts.

[2020-04-14 19:06] lita commented on #8421
This would be great, as specifying the bootstrap file and rolling that out is painful.

[2020-04-14 19:55] mattklein123 commented on #10770
Also IIRC there is a min host requirement/config for outlier detection. I would look at that.

[2020-04-14 19:57] mattklein123 commented on #8421
FWIW I prefer https://github.com/envoyproxy/envoy/issues/10776 over this. IMO it does the same thing and is easier to reason about with less config needed.

[2020-04-14 19:58] dacamp opened #10778 "http: add request_headers_to_remove & internal_only_headers regex/wildcard"
**Issue Template**

*Title*: *Is there a way to use regex or a wildcard for `request_headers_to_remove` & `internal_only_headers`/`response_headers_to_remove` route configurations?*

*Description*:

[optional *Relevant Links*:]
https://www.envoyproxy.io/docs/envoy/v1.8.0/api-v2/api/v2/rds.proto#envoy-api-msg-routeconfiguration

[2020-04-14 20:15] danzh2010 commented on #10767
Seems that QuicCircularDeque:: basic_iterator needs to explicitly define copy assignment.

[2020-04-14 20:16] danzh2010 commented on #10767
/assign @danzh2010

I will fix it in the next quiche update.

[2020-04-14 20:17] oblazek commented on #10608
Thanks a lot @jmarantz, in 1.13.1 this work perfectly fine. Let's close this.

[2020-04-14 20:17] #10608 closed

[2020-04-14 21:55] kyessenov opened #10781 "wasm: allow non-proto configuration"
Currently, Wasm extension requires a proto for the module configuration: https://github.com/envoyproxy/envoy/blob/master/api/envoy/extensions/wasm/v3/wasm.proto#L40

It is not clear how to use this Any field. The host generally does not have the protobuf schema for the module configuration (it's not compiled in). So all the envoy tooling dealing with protos is not effective.

Additionally, it crea

[2020-04-14 23:21] lizan commented on #10781
No, that's not the expectation. Feel free to wrap `google.protobuf.Struct` for JSON or `google.protobuf.BytesValue` for any arbitrary config type in the Any.

[2020-04-14 23:22] RichiCoder1 commented on #10396
I'm still very interested in this as a first class feature if possible.

[2020-04-14 23:26] lizan commented on #10760
Right, if you have JS client you have to use grpc-web. They shouldn't interfere each other so you should be able to do both in same Envoy.

[2020-04-14 23:28] kyessenov commented on #10781
How does Envoy decide what to do with Any in the filter? Wasm ABI supports only passing binary blob. If it's Any, then the expectation is that the bytes in Any are passed, meaning the module gets a protobuf. It doesn't seem to help understanding that Bytes must be implicitly within Any, compared to we could just `bytes`.

[2020-04-14 23:37] lizan commented on #10781
Depends on how Envoy-WASM filter is implemented. We can specialize on BytesValue and Struct (i.e. convert it to JSON), having raw bytes in configuration reduces the config readability significantly.

Also, considering when we start converting some of current native Envoy extension to WASM (perhaps some via NullVM), we still need whole Envoy tooling dealing with protos. So we can't remove the type_

[2020-04-14 23:45] kyessenov commented on #10781
I really don't think proxy-wasm should be biased towards protos for the config. That means the ABI layer should just pass serialized Any to the filter. In the current situation, this is just adding another serialization step of Any->bytes on load, white it could have bytes and optimistically de-serialize as Any for all the tooling related work. Type URL does not exist as a concept for Wasm extensi

[2020-04-14 23:50] mattklein123 commented on #868
We have the initial caching filter merged and a lot of follow up issues so I'm going to close this and we can track in the follow ups.

[2020-04-14 23:50] #868 closed

[2020-04-14 23:55] mattklein123 commented on #2691
@junr03 fixed this recently.

[2020-04-14 23:55] #2691 closed

[2020-04-15 00:03] mattklein123 commented on #3634
This is possible using socket options as described.

[2020-04-15 00:03] #3634 closed

[2020-04-15 00:06] lizan commented on #10781
I'm not arguing to change proxy-wasm ABI at all. I meant the Envoy host implementation should do specialization to the proto API we have for Envoy. So before Envoy passing the configuration to proxy-wasm ABI, it does specialization based on what in Any. So we still keep the type url in Envoy world, and also leave the room for the API tooling to be kicked in.

You have to write base64 encoded for `

[2020-04-15 00:06] mattklein123 commented on #4657
@alyssawilk did most of this so I'm closing this. Thank you!

[2020-04-15 00:06] #4657 closed

[2020-04-15 00:09] mattklein123 commented on #5237
This will be fixed by FCDS implicitly so closing as a dup: https://github.com/envoyproxy/envoy/issues/7867

[2020-04-15 00:09] #5237 closed

[2020-04-15 00:13] kyessenov commented on #10781
Well, I think it boils down to performance I suppose. I really don't see why Envoy would need to do anything more than pass-through the module config as-is (and all these roundtrips to JSON/proto have a cost) for generic Wasm extensions (not the future Envoy extensions). There's a big difference between how Envoy loads extensions and Wasm loads extensions (it's many-to-many for Wasm).

In Istio, w

[2020-04-15 00:16] BhagathSeelam commented on #10442
@marcomagdy In my current configuration segment_name is same for all traces which "app", is there a way to add unique segment_name for each upstream_cluster ?

[2020-04-15 00:53] lizan commented on #10781
The conversion can still only happen only once when Envoy load configuration (from file or xDS), and then cached what is supposed to pass via ABI, no?

[2020-04-15 00:57] kyessenov commented on #10781
Yes, it could be optimized to cache once. But the conversion is still unnecessary if the module consumes bytes, and that applies to the control planes, and all the listeners that consume it.

[2020-04-15 01:02] mattklein123 commented on #9568
I think this is done!

[2020-04-15 01:02] #9568 closed

[2020-04-15 01:04] mattklein123 commented on #9594
Fixed in https://github.com/envoyproxy/envoy/pull/10188!

[2020-04-15 01:04] #9594 closed

[2020-04-15 01:05] mattklein123 commented on #10749
Looks like this is a dup of https://github.com/envoyproxy/envoy/issues/9651

[2020-04-15 01:05] #10749 closed

[2020-04-15 01:43] freesnowCL commented on #10770
@snowp I didn't use any stats filter

[2020-04-15 05:07] drzdbd1 commented on #10762
@PiotrSikora  @yanavlasov any ideas how I could troubleshoot this issue? The error seems unrelated to specific ciphers, it would appear regardless of which cipher.

[2020-04-15 07:10] haf commented on #6767
Here's the CVE for this vulnerability https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-11767

[2020-04-15 07:52] nbeny opened #10785 "manifest unknown on image pull docker"
*Title*: docker pull envoyproxy/envoy

*Description*:
When I trying to pull the docker image I got this error for image 'envoyproxy/envoy' and 'envoyproxy/envoy-alpine':
failed to build: manifest for envoyproxy/envoy:latest not found: manifest unknown: manifest unknown

It's working of course for every other image not from envoy. I try to specify the version and I got the same error..

[2020-04-15 09:06] yskopets commented on #10781
Sorry to barge in.

I don't agree with #10782, so I'd like to ask you to consider one more perspective.

I think, it should be completely up to a Wasm extension to choose its configuration format:
* it can be plain text
* it can be JSON/YAML
* it can be Protobuf

Developer of a Wasm extension should be able to design and document this format independently from Envoy API constraints.

Users of a Wa

[2020-04-15 09:54] PiotrSikora commented on #10762
`TLS_AES_128_GCM_SHA256` is TLS 1.3 cipher suite (and those are hardcoded, and not configurable), but you're trying to use it with TLS 1.2, where it doesn't exist.

Valid (configurable) cipher suites are:
[code]

[2020-04-15 09:55] mk46 commented on #10785
Hi @nbeny, This issue is already [10738](https://github.com/envoyproxy/envoy/issues/10738) here.

[2020-04-15 10:57] nbeny commented on #10785
nice, thanks !

[2020-04-15 10:57] #10785 closed

[2020-04-15 12:35] banks commented on #2500
Does anyone have any info on the status of this?

From the linked issue above it seems like there is already some support for a subset of RDS loading on demand. Is anyone working on or planning to work on extending that to work for clusters and/or endpoints?

I got excited reading the Delta xDS docs recently:

I realise that's only talking about what the protocol _allows_ not what Envoy actually d

[2020-04-15 12:57] mk46 opened #10786 "GitPython version should be 3.1.1"
requirement.txt file content **3.0.0** version of GitPython. Can I update it to 3.1.1?

[2020-04-15 14:14] htuch commented on #6767
CC @envoyproxy/security-team

[2020-04-15 14:58] yanavlasov commented on #10778
This configuration does not support wildcards or regex.

[2020-04-15 16:32] drzdbd1 commented on #10762
ah thanks, I verified it worked for me. Is there a way we can add new cipher suites to the supported list?

[2020-04-15 17:24] snowp commented on #3431
@incfly Is this something you're still planning on working on?

Are we still thinking that a new connection pool is the right way to handle this? Not sure if there is an easier way of achieving this with other changes to the connection pool logic. The alternative that comes to mind would be including the desired ALPN in the connection pool hash (used today for socket settings), though that might n

[2020-04-15 17:27] markdroth opened #10793 "Combine SDS streams to the same server"
*Title*: Combine SDS streams to the same server

*Description*:
When Envoy requires multiple SDS resources from the same SDS server, it currently creates a separate stream for each one, rather than creating a single stream and requesting all resources on that stream.  It should instead do the latter, since this avoids a lot of per-stream overhead.

A few notes:

- This problem does not occur if SD

[2020-04-15 17:51] marcomagdy commented on #10442
Not that I know of. Envoy uses a single tracer for all clusters.

[2020-04-15 18:00] #9341 closed

[2020-04-15 18:03] #10786 closed

[2020-04-15 18:51] yskopets opened #10795 "proposal: introduce a new extension point `core.ExtensionDataSource`"
*Title*: introduce a new extension point `core.ExtensionDataSource`

*Context*:
* at the moment, Envoy already has `core.DataSource`, `core.RemoteDataSource` and `core.AsyncDataSource`
* the goal of `core.ExtensionDataSource` is to allow Envoy-based distributions to support custom data sources

*Proposal*:
* Define `core.ExtensionDataSource`
[code]
* Add `core.ExtensionDataSource` as an option to

[2020-04-15 19:09] kyessenov commented on #10781
I think the crux of the issue is the perceived requirement to have type URL in the configuration blob to align with Envoy API standards. We should understand whether that's realistic at all, and if not, allow a `oneof` with one Envoy-specific configuration format for future Envoy extensions rewritten into Wasm, and another entirely opaque string/blob.

As a data point, I just converted an extensio

[2020-04-15 19:52] lizan commented on #10781
@yskopets The benefit of google.protobuf.Struct as a normalized JSON, for example, instead of having a JSON/YAML escaped as a string in configuration like:

[code]

which can be

[code]

It also allows Envoy to reject the malformed JSON (e.g. syntax error) at xDS layer before passing it to WASM binary.

[2020-04-15 19:58] lizan commented on #10781
We took long path to deprecate the `oneof`s for opaque config and even requires Structs have type_url as TypedStruct. Unless there's critical performance implication, which I don't think `oneof` improves much here. cc @htuch

[2020-04-15 20:01] kyessenov commented on #10781
Using embedded YAMLs, it doesn't look that bad if we're speaking about human authoring:

[code]

[2020-04-15 20:04] lizan commented on #3431
Yes I think a new connection pool is still needed for this.

[2020-04-15 20:19] incfly commented on #3431
@snowp Sorry I was get distracted to something else on our team project. I got to a point where ALPN plumbing to connection pool creation time.  Feel free re-assign if anyone feel the urgency.

To provide some outcome of my research/investigation: by the time I looked at this, the HTTP1 and HTTP2 connection has quite some duplication, like `ActiveClient`, etc.

This new connection, per requirement

[2020-04-15 20:50] snowp commented on #3431
@incfly Does the work done here https://github.com/envoyproxy/envoy/pull/9668 make things easier?

No immediate rush here, just trying to get a sense for where we're at and if someone's working on this

[2020-04-15 20:50] tonya11en commented on #10675
@freesnowCL if your endpoints have an Envoy in a sidecar configuration, you can simply apply a `max_retries` circuit breaker policy on their ingress. If there's no sidecar, I'm not sure how else you could accomplish this.

[2020-04-15 21:37] mattklein123 commented on #10795
This sounds reasonable to me. cc @envoyproxy/api-shepherds

[2020-04-15 21:43] mattklein123 commented on #10781
I agree with @lizan on this. It took a monumental amount of effort to converge on typed_config, and I would rather not go back to having multiple variants that we can load from. Given that we can specialize as has been suggested (we can add strings if we want per @yskopets) this seems like a reasonable compromise to me that would not require bloating the WASM module to support proto if they don't

[2020-04-15 21:51] mattklein123 commented on #3431
@snowp I think there are 2 ways of thinking about this feature:
1) Setting ALPN to match what you want to happen (to match downstream for example). This I think could be done with transport socket options and a different connection pool hash. So I don't think we would need a new CP in that case.
2) What this issue is mainly tracking which is to allow h2, http/1.1 and then actually properly negotia

[2020-04-15 23:10] snowp commented on #3431
I think 1) is easier to do but 2) is much more valuable as you are able to do HTTP/2 whenever its supported - it definitely solves the problem that prompted me bringing this up.

I'm not sure if 1) is useful enough to warrant investing in it vs the more useful 2), unless anyone can think of some specific use cases?

[2020-04-15 23:12] Augustyniak commented on #10648
The changes proposed as part of this issue were implemented in https://github.com/envoyproxy/envoy/pull/10724. Since the PR was merged I'm closing the issue.

[2020-04-15 23:12] #10648 closed

[2020-04-15 23:29] kyessenov commented on #10781
I'm OK with using a wrapper for raw content. It really hurts comprehension IMHO, as we now have to put JSON into StringValue into Value into Any, but it'd work.

[2020-04-15 23:31] mattklein123 commented on #10781
Why can't you put it in a struct as has been suggested?

[2020-04-15 23:34] kyessenov commented on #10781
We could. But given we don't know if it's actually a struct or a string for a third party extension, we'd have to use something generic like a string value in the tooling.

[2020-04-16 00:00] appario opened #10801 "[Question] Envoy binary size increase"
We had forked envoy around the v1.11 release and at that time the stripped binary size was around 27M. I recently merged the v1.14 release and noticed that the binary size had doubled to 55M for the same build config. Are there any high level new filter/features that were added in the last couple of releases that would cause such a jump?

@sumukhs

[2020-04-16 00:04] dacamp commented on #10778
Is it possible or on the roadmap? I can take a stab at it if it's something worth considering.

[2020-04-16 00:06] mattklein123 commented on #10778
It's something I think would be useful, yes so will mark it a feature request / design proposal.

[2020-04-16 00:07] mattklein123 commented on #10801
Nothing specific comes to mind, but that's a huge increase. Not sure what filters, etc. you are bringing in. I would definitely only compile the filters you are actually using. @junr03 has done size analysis for Envoy Mobile and can possibly provide some scripts if you are looking to better understand where size is being spent.

[2020-04-16 00:13] appario commented on #10801
That would be very helpful. Thanks!

[2020-04-16 00:16] moderation commented on #10801
I know from testing that the Kafka filter alone adds about 11MB. This is another reason why I advocate for custom builds where only the extensions you need are compiled into the binary (vs. the kitchen sink images / approach).

[2020-04-16 00:28] junr03 commented on #10801
@appario since v1.11 the v3 APIs were introduced. That by no means account for such a big increase, but it does account for a non-trivial amount (for example, it accounts for ~10% of Envoy Mobile's size under some measures).

You could follow the instructions [here](https://envoy-mobile.github.io/docs/envoy-mobile/latest/development/performance/binary_size.html) to do some analysis on your Envoy b

[2020-04-16 01:25] htuch commented on #2500
@banks we only have VHDS (for VirtualHosts in route configs) today. It would be fairly reasonable to add on-demand CDS (and it's done implicitly by at least one filter but not generically). This is because we already have all the hooks in place to support this. This would then imply on-demand EDS loading. This issue remains in help wanted state.

[2020-04-16 01:31] htuch commented on #10793
Agree that a generic solution involving some sharing of `GrpcMuxImpl` would be the way to go to deal with both this and #2943.

[2020-04-16 01:37] htuch commented on #10795
Seems reasonable if we have a few potential implementations of this that are likely to be built. @yskopets can you talk a bit about motivation?

[2020-04-16 01:41] #10755 closed

[2020-04-16 03:09] FqqCS commented on #10769
tks

[2020-04-16 05:06] vsharathis opened #10804 "[Help wanted] how to configure envoy to send http notification to all the members in the cluster without load balancing (broadcast)?"
existing configuration sending a notification to the only one pod based on the lb_policy =Round Robin, but we have a case to send the notification to the all the members of the cluster (like a broadcast) , Kindly do the needful to solve the problem,

**Envoy version: 1.14.2**

- '@type': type.googleapis.com/envoy.config.cluster.v3.Cluster
  name: envoy-ueauth-envoy-2-0
  type: STRICT_DNS
  connect

[2020-04-16 05:42] tony612 commented on #9070
We are now using 1.13.1, but still have this issue. For below stats, I guess `listener.0.0.0.0_50051.downstream_cx_active` should equal `listener.0.0.0.0_50051.worker_0.downstream_cx_active` + `listener.0.0.0.0_50051.worker_1.downstream_cx_active` if what I understand is right. But it shows downstream_cx_active(64) > worker_0.downstream_cx_active(26) + worker_1.downstream_cx_active(17)
[code]

Aft

[2020-04-16 06:16] hprateek43 commented on #10195
Is this still active. I can pick this up to start

[2020-04-16 06:40] yskopets commented on #10781
@lizan Thanks for clarifying `google.protobuf.Struct`!

It is now my understanding that if we know that a target Wasm extension uses JSON/YAML for its configuration, `google.protobuf.Struct` will a be a preferred way to deliver it (at least, it will look much more readable in the output of `/config_dump`).

[2020-04-16 06:44] yskopets commented on #10781
@kyessenov

Why do you need 2 wrappers ( `Value ( StringValue ( data ) ) ` ) ?

Why `google.protobuf.StringValue` is not enough ?

[2020-04-16 06:46] andrzejwaw opened #10806 "Inconsistent gauges after hot-restart on endpoints /clusters and /stats/prometheus"
*Description*:
After hot-restart, gauges, especially upstream_cx_active on /stats/prometheus endpoint, do not reset themselves. Values from previous instances are added to current.
Sending POST to /reset_counters does not reset gauges either.

Should envoy behave like this?

It can be easily reproduced by checking /stats/prometheus metrics, before and after hot-restart and comparing them to cx_act

[2020-04-16 06:53] yskopets commented on #10781
@kyessenov

Control Plane could optimistically try to parse configuration of a Wasm extension as YAML:
* if it is successful, use `google.protobuf.Struct` to deliver this configuration to Envoy
* otherwise, use `google.protobuf.StringValue`

[2020-04-16 07:20] euroelessar commented on #10772
There is an [example in tests](https://github.com/envoyproxy/envoy/blob/656697d938f3024b39b5e679af540a258c58cf2e/test/extensions/filters/network/http_connection_manager/config_test.cc#L1460-L1497), but I fear no real world one.
A general idea is that this configuration requires extending envoy using C++ plugin.

It should be possible to provide some alternative request-id extension implementations

[2020-04-16 07:39] euroelessar opened #10807 "request_id: Allow always setting x-request-id header in response"
*Description*:
Currently non-configurable Envoy behavior is to return `x-request-id` header in response iff the tracing is forced.
It would be nice to have a configuration option to allow always returning the header in response.

It is especially useful for cross-correlating client-side debug logs with access logs on server side.

[2020-04-16 07:54] yskopets commented on #10795
@htuch

We're trying to improve user experience with Envoy configuration.

Specifically, `core.RemoteDataSource` is too strict and low-level:
* it mandates a user to explicitly configure a `Cluster`
* it mandates a user to explicitly provide a checksum

User's focus is immediately shifted away from the original intention - just get my artifact into Envoy now and I will decide later how to harden c

[2020-04-16 08:16] chemicL commented on #10231
Hey, stale-bot, I'm still interested in this issue. Please don't close this, I think it's quite important.

[2020-04-16 11:48] vemod commented on #1178
We have another use case for this which blocks as going with envoy as our public api gate:

Our services respond with json for errors and for success responses. For error responses we use zalando's problem format. So when a user is not authorized to access a resource he gets a json response with http code 401 from backend service.
We could simply proxy the response through. Thats fine. But we want

[2020-04-16 12:22] freesnowCL commented on #10675
Why `max_retries`? Shouldn't I use `max_requests`, `max_pending_requests` and `max_connection_pools` instead?

And could you let me know if you have any idea on why the circuit breaker not working as expected as mentioned in my second post?

[2020-04-16 12:33] murray-stripe commented on #10751
Hey @jmarantz, just bumping this. I have bandwidth to work on this now, but was hoping to discuss this a bit with the team to see if this is a good idea or if there is any feedback on how to approach this.

[2020-04-16 12:48] mk46 commented on #10806
Hi @andrzejwaw,
FYI, Statistics and some locks are kept in a shared memory region which means gauges will be consistent across both processes as restart is taking place.
If you want to reset the metrics go to the admin page and click on "reset counters".

[2020-04-16 13:03] jmarantz commented on #10751
Hi @murray-stripe -- I am actually not super-familiar with the use of tags personally; I did a ton of work to make them less slow to init as the config scales.

If you are going to use REs would you consider taking over https://github.com/envoyproxy/envoy/pull/8831 which adds RE2 support generally, and have your new options only use RE2?

On the subject of the tag usage model, you should probably

[2020-04-16 13:11] htuch opened #10809 "Typo'ed package layout for envoy.extensions.filter"
The regular directory/package structure is `envoy.extensions.filters`, yet we have one filter in `envoy.extension.filter`, see https://github.com/envoyproxy/envoy/tree/master/api/envoy/extensions/filter/udp/dns_filter/v3alpha.

Since this is v3alpha, I think we should just move it to the `envoy.extensions.filters` tree as a breaking change.

@envoyproxy/api-shepherds @abaptiste

[2020-04-16 13:12] htuch commented on #10809
We could also put in place a regression test in `check_format` to look for specifically this pattern, as I think it's an easy typo to hit that is hard to pickup in review.

[2020-04-16 13:36] yanavlasov commented on #10804
@snowp do you have any suiggestions?

[2020-04-16 13:45] jmarantz commented on #10806
Thanks for the report, @andrzejwaw

@mk46 stats are not kept in shared memory any longer. They are synced via RPC from parent to child during hot-restart.

Gauge behavior depends on how it was declared. The one referenced here is:
[code]
which means that it accumulates across a hot-restart. There are also gauges that are declared as NeverImport:
[code]

`/reset_counters` does not reset gauges. Are

[2020-04-16 14:49] mk46 commented on #10806
@jmarant Thanks, I get that from docs and a blog written by @mattklein123 on hot restart. RPC and shared memory both used in parent-child communication. If my understanding is not correct then need to change https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/operations/hot_restart

[2020-04-16 15:00] akshaysu12 commented on #10195
@hprateek43 I've been working on this, it's just been a little slower than expected due to being new to the project and the covid stuff going on. I'm going to keep working on it but feel free to take a look at it!

[2020-04-16 16:10] #9916 closed

[2020-04-16 16:11] #10738 closed

[2020-04-16 16:15] mattklein123 commented on #10807
I thought we already had an issue on this but I can't quickly find it, +1.

[2020-04-16 16:19] mattklein123 commented on #10809
+1 please just move it. @abaptiste do you mind taking this?

[2020-04-16 16:20] mattklein123 commented on #10806
Yes this page is out of date. Either myself or @jmarantz will fix it. Thank you for bring it to our attention!

[2020-04-16 16:40] lambdai commented on #9617
@htuch Is there an alternative solution beside this one?

[2020-04-16 16:59] mabukhovsky commented on #10756
Hi @mattklein123 , I would appreciate if someone from your team could give me advice. Thanks :)

[2020-04-16 17:32] vsharathis commented on #10804
@snowp Kindly share your thoughts to solve the problem. and thanks in advance

[2020-04-16 17:49] snowp commented on #10804
This is not something that's currently supported, so this would be have to be a feature request.

I can imagine this being implemented as a new route action (broadcast to all hosts for a given cluster) or even as a separate filter if we want to avoid adding the complexity to the router (at the cost of missing out on some router features like `requset_headers_to_add`).

@mattklein123 might have tho

[2020-04-16 17:55] mattklein123 commented on #10804
Yeah there is no way to do this today. It would require substantial changes to the router or possibly even a new filter to do it. It's certainly possible but would require a lot of design thought and a full proposal.

[2020-04-16 18:20] htuch commented on #10781
I think there are two separate things here:
1. How do we deliver config to Envoy; `Any` seems super flexible, given it's basically a typed byte array.
2. How do Wasm extensions consume this config from Envoy. I think what I'm seeing above is the plan is to have Envoy be able to pass in JSON directly when it receives a `google.protobuf.Struct`. This makes sense to me; Envoy has the heavy protobuf m

[2020-04-16 18:24] htuch commented on #10795
This is a pretty sophisticated use of the extension, as an intermediate representation, but sure, I can see this being generally useful.

[2020-04-16 18:27] #10576 closed

[2020-04-16 19:01] CaptainDaVinci commented on #6344
@mattklein123 , I'm facing a similar issue,
[code]
Using the exact version works though, i.e, ` docker pull envoyproxy/envoy:v1.14.1`

[2020-04-16 19:03] yskopets commented on #10576
@sanjaypujare We've refactored `*.proto` files to remove the dependency on `OpenCensus`.

Please give it a try when you have time.

[2020-04-16 19:26] rgs1 opened #10813 "add local http rate limit filter"
Similar to #9354, but L7. I'll be sending a PR soon.

cc: @mattklein123 (FYI -- in case someone else is working on this)
cc: @fishcakez

[2020-04-16 19:27] sanjaypujare commented on #10576
@yskopets thanks a lot! When we have some time we'll go ahead and reimport these protos and verify we don't have those dependencies anymore.

[2020-04-16 19:33] dastbe opened #10814 "X-Ray tracing plugin doesn't publish conformant segment document"
*Title*:  X-Ray tracing plugin doesn't publish conformant segment document

*Description*:

Currently, the X-Ray tracing plugin publishes all fields as strings in the output JSON document. This is in violation of the datatypes defined by [the X-Ray documentation](https://docs.aws.amazon.com/xray/latest/devguide/xray-api-segmentdocuments.html#api-segmentdocuments-http), and results in X-Ray ignorin

[2020-04-16 20:17] #9998 closed

[2020-04-16 20:27] euroelessar commented on #10776
Will it be a mandatory part of the spec for other data planes, e.g. gRPC?

[2020-04-16 20:51] mattklein123 commented on #10813
@rgs1 awesome, thanks. The config/API for this is more complicated. Can you possibly do a config only PR first so we can lock that down?

[2020-04-16 20:52] rgs1 commented on #10813
Yes -- let me send that along with the empty filter code (or, I can strip that away too).

[2020-04-16 21:05] murray-stripe commented on #10751
@jmarantz I wouldn't mind taking on that work if you could give me a little context on the change and the goals and scope. The ticket is a little light on details.

cc @htuch @yanavlasov Hoping you all might know (or be) the right people to ping on this ticket.

[2020-04-16 21:08] mattklein123 commented on #10756
Whether upstream uses TLS or not is determined by the configuration of the upstream cluster (basically whether it has a TLS transport socket or not). There may be a way of doing this using a transport socket matcher without code changes, or possibly somehow routing to do different clusters depending on the x-forwarded-proto or something like that. cc @lizan who might have some ideas.

[2020-04-16 21:29] lizan commented on #10756
Yes I think you can setup two clusters and two route entries, one with TLS and one without TLS, the two route matches the specific header to decide whether it goes to TLS cluster or plaintext cluster.

[2020-04-16 21:37] mattklein123 commented on #10814
cc @marcomagdy

[2020-04-16 21:38] htuch opened #10815 "Warn on v2 xDS API use"
Now that v2 xDS is deprecated, we should warn (log/stats), just as we do for individual deprecated fields on the use of the API (with runtime override). This is ideally done ASAP, since we want to give folks a long runway to migrate to v3.

CC @alyssawilk @mattklein123 @envoyproxy/api-shepherds

[2020-04-16 21:41] htuch opened #10816 "Reject v2 xDS configuration by default at EOQ3"
As we end the last quarter of the ability to load deprecated v2 xDS API in Q3 2020, we should switch to rejecting v2 xDS by default (with runtime override).

Related to https://github.com/envoyproxy/envoy/issues/10815 (warning, rather than rejecting the config).

CC @alyssawilk @mattklein123 @envoyproxy/api-shepherds

[2020-04-16 21:52] Barborica-Alexandru opened #10817 "Bazel will not start"
**WARNING: If you want to report crashes, leaking of sensitive information,
and/or other security issues, please consider
[reporting them using appropriate channels](https://github.com/envoyproxy/envoy#reporting-security-vulnerabilities).**

**Issue Template**

*Title*: Bazel will no longer start

*Description*:
When trying to build the most recent version of envoy I keep getting the following err

[2020-04-16 22:27] marcomagdy commented on #10814
@mattklein123 you can assign it to me

[2020-04-17 00:24] rgs1 commented on #10813
@mattklein123 I actually don't have something very different in mind, here's a first attempt: #10820.

I am thinking of using per filter configs, to be able to associate a token bucket to a given route (which is the use case we have). Other than that, plus being able to add some additional response headers, that's pretty much it (I think).

Well, additionally it might be nice to be able to overrid

[2020-04-17 00:48] davidkilliansc commented on #6292
So I was also needing this and going back to the OP, I think the problem w/ the gzip filter isn't that it lacks gRPC support, but rather that it lacks HTTP2 support.   The suspicion that @mattklein123 had about it being related to length or encoding headers looks spot on.  The gzip filter won't compress responses that don't have a content-length header,   and content-length and transfer-encoding:

[2020-04-17 01:34] htuch commented on #9617
@lambdai https://github.com/envoyproxy/envoy/issues/10776

[2020-04-17 01:49] htuch commented on #10776
@markdroth thoughts on https://github.com/envoyproxy/envoy/issues/10776#issuecomment-614877308?

[2020-04-17 01:52] htuch commented on #10776
FWIW, I think to make this sane, the client would have to NACK if it didn't know about v3. I believe this is what would happen if you tried this with an older Envoy today, since it would be receiving the wrong typed resource.

[2020-04-17 01:53] moderation commented on #10726
I'd like to try and test an expansion to 1800px as the default and determine if there is a way to make it mobile friendly.

[2020-04-17 03:53] tony612 commented on #10806
Looks like this is similar to my this issue https://github.com/envoyproxy/envoy/issues/9070#issuecomment-614427664

[2020-04-17 04:34] vsharathis commented on #10804
@snowp @mattklein123 @yanavlasov Thank you all for the quick response, is there any chance that can be included as a feature in upcoming releases?

[2020-04-17 06:08] mirwide opened #10823 "Dynamic forward proxy support STRICT_DNS?"
Dynamic forward proxy now resolve only one ip address from dns. It's limit case for usage.
Can possible use `STRICT_DNS` resolve policy in dynamic forward proxy now or plan support feature?

[2020-04-17 07:45] daganibhanu opened #10824 "How to find BoringSSL version used in binary"
*Description*:
I have successfully built the envoy binary using (version 1.10.0 sources ) with the bazel environment that comes bundled as given in the document. (https://github.com/envoyproxy/envoy/blob/1a9f1859fc530ca40cbd66675c4971bb6ed3d575/ci/README.md)

Is there a way where I can know which BoringSSL version is being used in 1.10.0?

can someone help me on this?

[2020-04-17 07:56] kindermoumoute opened #10825 "Envoy crashes when gRPC healthcheck service returns SERVICE_UNKNOWN"
**Bug Template**

*Title*: *Envoy crashes when gRPC healthcheck service returns SERVICE_UNKNOWN*

*Description*:
Any service that use [gRPC healthcheck](https://github.com/grpc/grpc/blob/master/src/proto/grpc/health/v1/health.proto) with Envoy can make envoy crash by returning [`SERVICE_UNKNOWN`](https://github.com/grpc/grpc/blob/master/src/proto/grpc/health/v1/health.proto#L37) from the [Check me

[2020-04-17 09:21] #10319 closed

[2020-04-17 09:31] HeathLee commented on #3362
Any update on the progress?

[2020-04-17 09:33] maxliu007 opened #10826 "Any difference between max_connections and max_connection_pools in circuit breaker?"
https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/circuit_breaker.proto#config-cluster-v3-circuitbreakers

https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/circuit_breaking#arch-overview-circuit-break-cluster-maximum-connection-pools

About
{
"priority": "...",
"max_connections": "{...}",
"max_pending_requests": "{...}",
"max_requests": "{...}",
"max_retr

[2020-04-17 10:21] #10269 closed

[2020-04-17 11:20] #10226 closed

[2020-04-17 12:08] kindermoumoute commented on #10825
This happens with Envoy's latest version (v1.14.1) as well as v1.13.1.

[2020-04-17 12:21] #10258 closed

[2020-04-17 13:21] #10259 closed

[2020-04-17 14:56] daganibhanu commented on #10824
@PiotrSikora Do you have any idea on this?

[2020-04-17 15:21] #10304 closed

[2020-04-17 15:48] #5790 closed

[2020-04-17 16:08] mabukhovsky commented on #10756
@lizan Thank you for a quick response and good suggestion. Is it possible to combine the approach you're offering with dynamic forward proxy in order hostname and port to be taken from the header (see **auto_host_rewrite_header** in my config) so we don't have to push cluster and route to Envoy config for every endpoint (unique domain name/port)? If we would end up with dynamic forward proxy clust

[2020-04-17 16:14] markdroth commented on #10776
@ejona86, @dfawley, and I are still in the early stages of discussing how gRPC will migrate to v3, so I don't have any concrete answers for you yet.

My off-the-cuff reaction is that it seems very strange to allow a management server to respond with what is fundamentally a different resource type (because the type_url is different) than the one requested.  Wouldn't it be simpler to just change the

[2020-04-17 16:21] #9934 closed

[2020-04-17 16:21] #9169 closed

[2020-04-17 16:25] ggreenway commented on #10824
From the same commit you linked in the repo, the following line shows where it is fetched from:

https://github.com/envoyproxy/envoy/blob/1a9f1859fc530ca40cbd66675c4971bb6ed3d575/bazel/repository_locations.bzl#L38

[2020-04-17 16:57] jyotimahapatra commented on #10776
I tried this with an go-control-plane integration test and looks like envoy rejects the DiscoveryResponse if the typeUrl does not match the request typeurl
https://github.com/envoyproxy/go-control-plane/pull/290

error:
[code]

[2020-04-17 17:06] tylerhartwig commented on #6344
I'm seeing the same thing as @CaptainDaVinci will set to hard version for now

[2020-04-17 17:21] yanavlasov commented on #10826
@snowp mightr be able to clarify

[2020-04-17 17:23] yanavlasov commented on #10823
@alyssawilk do you know of any plans?

[2020-04-17 17:25] yanavlasov commented on #10817
@lizan did you ever see something like this?
@Barborica-Alexandru you can ask on bazel slack https://slack.bazel.build/

[2020-04-17 17:32] yanavlasov commented on #10804
@vsharathis It is unclear to me if there is anyone else beside you asking for this feature. Can you try implementing it as a filter yourself?

[2020-04-17 17:44] snowp commented on #10826
For most use cases max_connection_pools won't be relevant and you can leave it as is: generally a relatively fixed, small number of connection pools are used (routing priorities used (max 2) * protocols used * number of hosts). Some use cases might dynamically (mostly custom filters afaik) add in additional connection parameters, which might result in an unbound number of connection pools having t

[2020-04-17 18:08] lizan commented on #10817
No, which version of bazel are you running? can you paste a full log?

[2020-04-17 18:32] moderation commented on #6344
The docs were just updated in https://github.com/envoyproxy/envoy/pull/10800/files to clarify that :latest tag images will not be provided.

[2020-04-17 20:22] #10457 closed

[2020-04-17 20:38] ggreenway commented on #10073
Anyone watching this issue, please take a look at my PR that should fix this: #10833

[2020-04-17 21:35] kathan24 commented on #10749
@jamessynge feel free to reach out on slack if you need any help with LRS

[2020-04-17 22:37] galbacarys opened #10836 "Delta xDS protocol question re: requests in flight"
*Title*: *Delta xDS protocol question re: requests in flight*

*Description*:

After a read of the [xDS protocol docs](https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol), I have a couple of questions centering around the implementation of delta xDS:

- According to [this doc](https://www.envoyproxy.io/docs/envoy/v1.14.1/api-v2/api/v2/core/config_source.proto.html), it seems like th

[2020-04-17 23:18] sunjayBhatia commented on #10619
PR to enable remote cache in CI: https://github.com/envoyproxy/envoy/pull/10831

[2020-04-18 14:16] #10345 closed

[2020-04-18 17:16] #10078 closed

[2020-04-18 19:16] #10104 closed

[2020-04-18 20:50] mattklein123 commented on #6292
I think it's reasonable to detect that the connection is h2 and do compression even with the absence of the transfer-encoding: chunked header.

[2020-04-18 21:29] mattklein123 commented on #10823
This would be a feature request. @mirwide could you explain a bit more about your use case and how you would want this to work exactly? Presumably you would want to all specify the LB policy?

[2020-04-18 22:10] mattklein123 commented on #10836
cc @htuch @wgallagher this is a common question and it would be great to clarify this somehow via FAQ, etc.

[2020-04-19 09:52] mirwide commented on #10823
I try use forward proxy to inter service communication for DNS only discovery service. For example:
1. Service have multiple DNS A records, it's dynamically change, not use sidecar proxy in services and no other source for service information.
2. All internal requests send to envoy.
2. Envoy rewrite header for route and use dynamic forward proxy for get cluster.
It's work, but not production ready

[2020-04-19 14:04] seflerZ commented on #10776
So this work hasn't been implemented in previous Envoy. Even if we decide to integrate this feature now, it wouldn't have much effect before several releases.

[2020-04-19 22:23] htuch commented on #10751
Folks who can probably make informed comments on tag history and direction are @mrice32 and @snowp. What you propose sounds reasonable to me.

[2020-04-19 22:40] jmarantz commented on #10751
Context on #8831 was that I was researching some perf data for a couple of conference presentations I did last fall (one at EnvoyCon), as a way to demonstrate the impact on init-time of using RE2 rather than std::regex. The discovery was that changing a single tag-matching regex to RE2 improved startup latency by 10%, with a large number of clusters.

We could just merge master and get that review

[2020-04-19 22:50] #10315 closed

[2020-04-20 00:38] htuch commented on #10430
Fixed by https://github.com/envoyproxy/envoy/pull/10665

[2020-04-20 00:38] #10430 closed

[2020-04-20 00:48] htuch commented on #10836
Yeah, happy to update the FAQ once we have agreement on the questions here:

This is stale. I believe all xDS (including ADS) now support delta xDS thanks to the contributions from @fredlas. We only have a single on-demand protocol (VHDS), but I think if you are interested in the delta aspect then this is a doc bug.

I don't think this is true. Just as with regular state-of-the-world xDS, it's pos

[2020-04-20 00:50] htuch commented on #10776
@seflerZ why wouldn't this be available in Istio 1.7? We will have a new Envoy release before that.

[2020-04-20 00:57] htuch opened #10843 "Convert v2 API test fragments to v3"
While all programatically constructed test configs will be v3 (via API boosting rewriting), there are still v2 JSON/YAML fragments in test code. Many of these will "just work" as v3, but some may have v2 features that will have them treated as v2. This becomes confusing when they are extended by developers who want to model v3 features.

These need to be audited and updated as appropriate. Also, t

[2020-04-20 01:08] htuch opened #10844 "TSAN race in hotrestart"
Due to https://github.com/grpc/grpc/issues/22709, we see occasional flakes in hotrestart. This issue tracks under the test flakes label for reference by Envoy maintainers.

[2020-04-20 03:51] Future2100 opened #10846 "break the established connections when the host was removed"
As the title described, I wish the connections can be broken when the host is removed from xDS configuration. I found the configuration filed `drain_connections_on_host_removal ` and set its value with true, but it doesn't work for me.

[2020-04-20 05:52] ankatare commented on #10843
@htuch i would like to work on this as part of beginner in community.

[2020-04-20 06:16] ankatare commented on #10826
@maxliu007 As per doc https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/circuit_breaking#arch-overview-circuit-break-cluster-maximum-connection-pools
The value of connection pools should likely be no greater than Cluster maximum connections. If this circuit breaker overflows the upstream_cx_pool_overflow counter for the cluster will increment.
so second scenarios as you sugg

[2020-04-20 09:22] daganibhanu commented on #10824
@ggreenway I got that, but is there a way where we can get the release version of this boring ssl? please help!!

[2020-04-20 09:24] #5540 closed

[2020-04-20 09:58] Shikugawa opened #10849 "transport/resource API version on xDS integration tests"
*Description*:
Currently, the transport/resource API version is set V2. I think that we should change them into V3. In addition, we should support multiple resource API versions(V2/V3) for xDS integration test. This is like `downstream/upstream HTTP protocol` or `v4/v6` with `TestWithParam`.

[2020-04-20 10:03] andrzejwaw commented on #10806
Hi, I've updated branch hot_restart_container of respository https://github.com/andrzejwaw/envoy/tree/hot_restart_container
with added paramters *--parent-shutdown-time-s 15 --drain-time-s 10* and made a script for tests ( */opt/envoy/examples/front-proxy/test.sh* )
so more tests can be done easly. Also used netstats to check active connections.

As @jmarantz said

I expected also, that after pare

[2020-04-20 13:35] npuichigo commented on #5540
@lizan by the way, is this kind of transcoder can be directly used in ambassador or istio?

[2020-04-20 13:42] htuch commented on #10843
@ankatare sure, I sent you an invite to the envoyproxy org so I can assign. I suggest following https://github.com/envoyproxy/envoy/pull/10644, since that already provides a lot of the heavy lifting in terms of examples of what needs to be done.

[2020-04-20 13:51] walterfranssen commented on #10694
sorry, probleem was that some microservice use the If-Modified-Since header in the response.

[2020-04-20 13:51] #10694 closed

[2020-04-20 14:17] htuch commented on #10849
I would be worried about combinatorial explosion if we change every test to be v2/v3 with a test param. We already have a dedicated integration test to validate the space of transport/resource versions in https://github.com/envoyproxy/envoy/blob/master/test/integration/api_version_integration_test.cc.

I would advise that we switch most tests over to v3 and retain one legacy integration test for v

[2020-04-20 14:27] htuch opened #10852 "Reconsider xDS API lifecycle clock"
The move to the v3 APIs has exposed some pain points that control plane authors are facing. It's not cheap to switch major version, in particular when lacking some of the generic API migration tooling that we have developed inside of Envoy.

The existing API lifecycle is described at https://github.com/envoyproxy/envoy/blob/master/api/API_VERSIONING.md. We cut a new major version every year, turn

[2020-04-20 15:18] JoelHenn opened #10855 "Support P-384 and P-521 Server ECDSA Certificates"
*Title*: *Support P-384 and P-521 Server ECDSA Certificates*

*Description*:
Update Envoy to support server ECDSA certificates P-384 and P-521. Given that BoringSSL supports these curves, Envoy should allow servers to use certs with those curves to terminate TLS. The expected behavior is for Envoy to take an ECDSA cert and check to make sure it uses one of the three approved curves.

*Relevant Lin

[2020-04-20 15:49] rgs1 opened #10857 "introduce FilterConfig for HTTP filters"
So while thinking about #10164, I realized that it would be much easier to solve if we had a common base Config object to share across HTTP filters (e.g.: `FilterConfig`).

This class would then be the base class for all filter config classes, and we'd extend the abstract base Filter classes (e.g.: StreamFilter, StreamDecoderFilter, etc) to require a FilterConfig parameter to be constructed.

This

[2020-04-20 16:22] inf-rno opened #10859 "Support redis command broadcasting to multiple clusters"
*Title*: Support redis command broadcasting to multiple clusters

*Description*:
Currently, we support asynchronous fire and forget [request mirroring](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/redis_proxy/v2/redis_proxy.proto#config-filter-network-redis-proxy-v2-redisproxy-prefixroutes-route-requestmirrorpolicy) in the Redis filter. This only broadcasts the commands

[2020-04-20 16:23] galbacarys commented on #10836
Appreciate the updates! Please bump the docs, that would be extremely helpful to future learners :) I know that there is some work being done over in https://github.com/envoyproxy/go-control-plane to [support the delta protocol](https://github.com/envoyproxy/go-control-plane/issues/251), and once that work is done I feel like there will be a lot more clarity on how to implement xDS. I think there'

[2020-04-20 16:35] mattklein123 commented on #10806
@andrzejwaw can you please summarize what you think the bug is? Which stat(s) are broken?

@jmarantz I suspect the issue here is that we are missing the final flush before the parent shuts down. This was never a problem previously with shared memory. I wonder if when the parent is actually gone for accumulate gauges we need to actually do a final subtraction or something like that?

[2020-04-20 16:42] mattklein123 commented on #10857
The abstract classes don't actually get constructed though, just the derived classes. Sorry can you flesh out a bit more what problem you are trying to solve?

[2020-04-20 16:50] mattklein123 commented on #10823
I think it's definitely doable to have the dynamic proxy cluster look a bit more like a normal cluster, but this will require a bunch of thought to avoid duplicating a lot of code. I wonder if we could make it optionally look more like the aggregate cluster where individual hosts are added to a sub-cluster with all of the normal configuration that a sub-cluster would have. cc @snowp for thoughts.

[2020-04-20 16:54] mattklein123 commented on #10846
I can't remember where we landed with this. cc @nezdolik who did the original feature around this. Also cc @snowp. I think this is a a reasonable feature to add (if not already supported) but it would need some additional work.

[2020-04-20 17:04] rgs1 commented on #10857
Right, we'd have make them constructible by adding something like this to include/envoy/http/filter.h:

[code]

I am trying to solve two things:

1) get rid of the duplication across each filter config, e.g.:

[code]

Granted, no big deal here except removing some copy pasta. But,

2) after this it would be easier to do things like what we talked about in #10164 (e.g.: lookup per filter route conf

[2020-04-20 17:19] dfawley commented on #10852
+1 to the sentiment.  Major version bumps in APIs are costly for the entire ecosystem.  If there is a capability to use "experimental" tags to allow new features to be exempted from backward compatibility guarantees, then you should almost never need to release a new major version.

You call Envoy "fast moving", yet it has been GA for 3.5 years and is used by many major companies for critical serv

[2020-04-20 17:22] jmarantz commented on #10806
That was my suspicion as well, and I want need to review the 2s complement logic when we are transmitting a decremented gauge.

Do you have a recommendation of what needs to be modified to kick off a final flush?

[2020-04-20 17:28] ggreenway commented on #10824
I've never looked into how BoringSSL does releases, so I don't know.

[2020-04-20 17:32] yuval-k commented on #10164
@rgs1 When I made some changes to ext_authz, I wrote a utility that does all of that for you:

https://github.com/envoyproxy/envoy/blob/5b7d3afc7b0f190d39e6a065662e646460183511/source/common/http/utility.h#L375

[2020-04-20 17:36] #10451 closed

[2020-04-20 17:41] murray-stripe commented on #10751
@jmarantz Thank you for the context! :-)

While I'm am definitely on-board using RE2, and even taking over the PR, I don't believe I have the time (or am knowledgeable enough ATM) to take on refactors of all existing regex usage (hoping that is not what you were inferring by taking over the work). I don't mind getting the PR updated and merged and then implementing my change using RE2.

[2020-04-20 17:48] rgs1 commented on #10164
@yuval-k ah nice, I did some of that manually for #10766. I'll follow-up with another PR to use those methods.

[2020-04-20 17:48] aviramha opened #10864 "Redis latency statistics"
Hi
I'm using Envoy to collect statistics of Redis and to mirror requests.
The results statistics are very odd, for example
```cluster.ds.redis_cluster.upstream_commands.hmset.latency: P0(710,470) P25(995,1044.56) P50(1200,1167.84) P75(1344.44,1315.44) P90(1397.78,1629.56) P95(7546.67,3357.73) P99(7589.33,11984.9) P99.5(7594.67,25681.2) P99.9(7598.93,63899.2) P100(7600,130000)```
means that minimum

[2020-04-20 17:54] #10211 closed

[2020-04-20 17:57] mattklein123 commented on #10857
I don't think we should change the interfaces to have implementation details. You could potentially add this to the PassThroughFilter variants or another base class?

[2020-04-20 17:59] snowp commented on #10846
I think currently we just mark the connections for draining, no attempt to aggressively tear them down.

 I imagine most use cases could use a combination of timeouts to ensure that connections are closed in a timely manner, but for cases where users want long lived streams I can see the usefulness of wanting to close those streams when the host is removed.

The implementation shouldn't be too har

[2020-04-20 18:55] murray-stripe opened #10865 "SegFault - LuaJIT unable to initialize state due to mmap exhaustion"
__Description__:

The current LuaJIT version used by envoy will, by default, pass in the `MAP_32BIT` flag to all of it's `mmap` calls. This restricts the LuaJIT's `mmap` allocations to 1gb of memory. When running with several lua scripts at a high enough concurrency, mmap will exhause the set of usable memory and error. This results in a `NULL` lua state object and results in a segfault.

We have

[2020-04-20 19:20] antoniovicente commented on #10270
I'm looking into this, feel free to assign to me for now.

[2020-04-20 19:22] stevef1uk commented on #1861
Many thanks. I ensured I had all the required dependencies & the Clang binaries installed and compilation is in progress. 4,322 actions seems to be rather a lot though and it is taking many hours on a RPi4 to compile ;-)

[2020-04-20 19:56] mattklein123 commented on #10859
cc @envoyproxy/redis-dev but SGTM

[2020-04-20 20:28] alyssawilk commented on #10764
I'm happy to do the "exposing to user of async client" bit, but do you have thoughts on what the drop bits would look like?  If it's just early return and increment a stat on the log call I can pick that up.  If we're going to plumb something more complicated through so high value logs get logged during overload, I'd pass it off to someone with greater logging enthusiam :-P

[2020-04-20 20:36] euroelessar commented on #10764
I was thinking about something as simple as just dropping all log entries while buffer is above some watermark and incrementing corresponding stat.

[2020-04-20 20:41] anbern commented on #10512
I'm trying the same : 4 Pi4s with 64bit Ubuntu Server 19 run microk8s as a cluster (no prob). Cannot enable the istio option ... root cause seems to be the missing arm64 build from envoy. Any chances to have this someday? It would be GREAT!
Kind regards
Bernhard

[2020-04-20 21:21] bhiggins commented on #10377
I'm planning to work on this next month.

[2020-04-20 21:22] mattklein123 commented on #10806
I think there are probably 2 options:
1) See the logic around `sendParentTerminateRequest` and `startParentShutdownSequence`. I think as part of this flow you could do a final stats fetch and update, but TBH I think this will a) be difficult and b) still not catch all the stat decrements.
2) When you know the parent is going away, force decrement any remaining parent gauge deltas on accumulate gau

[2020-04-20 21:48] mattklein123 commented on #10865
I would be fine just changing the default here if you feel like doing a patch. Thank you!

[2020-04-20 21:53] mattklein123 commented on #10846
I do agree that the existing feature coupled with both stream/connection idle timeouts might be good enough?

[2020-04-20 21:54] mattklein123 commented on #10864
cc @HenryYYang @envoyproxy/redis-dev

[2020-04-20 22:02] #9709 closed

[2020-04-20 22:39] lizan commented on #1861
We're very close to make ARM64 CI work for building binary. The build image we publish: `envoyproxy/envoy-build-ubuntu:09a5a914c904faa39dbc641181cb43b68cabf626` has arm64 variant so you can use it to build.

Just run `ci/run_envoy_docker.sh 'ci/do_ci.sh bazel.release.server_only'`

[2020-04-20 22:46] beriberikix commented on #1861
Excellent! Looks like it's using QEMU - does that mean it doesn't need to be built on an Arm machine?

[2020-04-20 22:50] fpliu233 commented on #10351
I found the filter actually already does that.

[2020-04-20 22:50] #10351 closed

[2020-04-20 22:53] lizan commented on #1861
We built the ARM build image on QEMU, I guess you can do the full build with QEMU as well but I expect it isn't performant enough so might take long itme.

[2020-04-20 22:57] beriberikix commented on #1861
Sorry - I didn't mean to use QEMU for the entire build! I interested in building on my local x86 laptop using plain old docker. Am I correct in understanding that since the container is using QEMU to effectively cross-compile, it should build the Arm binary on my x86 machine?

[2020-04-20 23:59] beriberikix commented on #1861
FWIW, I just tried building `...abf626` on my x86 and the build_release is a x86-64. When I try the same command on a Raspberry Pi 4 running a 64-bit OS I got the error, "docker: no matching manifest for linux/arm/v8 in the manifest list entries."

Note I set the `$IMAGE_ID` to get that specific build. Is there a variable to set to configure aarch64 target while running on an X86?

[2020-04-21 00:25] mattklein123 opened #10868 "conn pool: clean up legacy impl"
Opening this to track the removal. I think this can be done since we have cut 1.14 but I'm not 100% sure of the policy. cc @ggreenway @alyssawilk @asraa

[2020-04-21 00:55] tonya11en opened #10869 "retries: Make retry budgets default"
Currently, the `max_retries` circuit breaker is set to a static value of 3 by default. [Retry budgets](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cluster/circuit_breaker.proto#envoy-api-msg-cluster-circuitbreakers-thresholds-retrybudget) enable a better way to protect against retry storms that scales with the number of active requests.

One may have the same behavior as the static `

[2020-04-21 01:21] lizan commented on #1861
@beriberikix are you running an 32bit OS on your RPi 4? If you're running arm64 you should be able to do it on RPi4

[2020-04-21 01:24] #9107 closed

[2020-04-21 01:28] beriberikix commented on #1861
I'm running the 64 build of Raspbian:
[code]

[2020-04-21 01:41] lizan commented on #9412
blocked by https://github.com/bazelbuild/rules_foreign_cc/issues/331 which blocks us upgrading rules_foreign_cc.

[2020-04-21 01:42] lizan commented on #9412
https://github.com/bazelbuild/bazel/issues/8380 is the flag flip issue.

[2020-04-21 01:42] lizan commented on #9411
dup of #9489

[2020-04-21 01:42] #9411 closed

[2020-04-21 01:43] lizan commented on #9410
dup of #9494

[2020-04-21 01:43] #9410 closed

[2020-04-21 01:44] lizan commented on #9409
#9488

[2020-04-21 01:44] #9409 closed

[2020-04-21 01:44] lizan commented on #9408
#9491

[2020-04-21 01:44] #9408 closed

[2020-04-21 01:44] lizan commented on #9407
#9487

[2020-04-21 01:44] #9407 closed

[2020-04-21 01:44] lizan commented on #9406
#9490

[2020-04-21 01:44] #9406 closed

[2020-04-21 01:44] lizan commented on #9405
#9492

[2020-04-21 01:44] #9405 closed

[2020-04-21 01:51] maxliu007 commented on #10826
Sure according to the doc.

So what is the exact usage on **max_connection_pools** here? Could anyone give a more concreate example as I am really so confused with **connection_pools**?
Suppose we have only one upstream and with this configuration : **max_connection_pool**=99 (no greater than Cluster maximum connections), **max_connections**=100, what will happen if there are 200 downstreams tryin

[2020-04-21 01:54] lizan commented on #1861
How about `envoyproxy/envoy-build-ubuntu:09a5a914c904faa39dbc641181cb43b68cabf626-arm64`?

[2020-04-21 01:55] snowp commented on #10826
Say you're using HTTP/1.1 for all upstream calls: you'll be using 1 connection pool, and it will create more and more connections as it handles more concurrent requests until the max_connection limit is hit, at which point it will enqueue further requests. `max_connection_pools` will not come into play here since it only ever creates one pool.

[2020-04-21 01:59] euroelessar opened #10870 "grpc json transcoding: Support `response_body` annotation"
*Description*:
Google HTTP spec allows specifying custom path to `response_body` (similar to `body` for request) for `HttpBody` field type. Is it reasonable for Envoy to support it?

*Relevant Links*:
* https://github.com/googleapis/googleapis/blob/42ee97c1b93a0e3759bbba3013da309f670a90ab/google/api/http.proto#L355-L361

[2020-04-21 03:37] cmiller-sq commented on #10478
See also envoyproxy/envoy-filter-example#121