[2019-10-28 17:19] shidel-dev commented on #8787
NOTE: I'd love to use SRV records instead of file based EDS. It seems that pull request is stalled for the time being though.

[2019-10-28 17:29] XanderStrike commented on #7556
Hey, I'm curious about envoy's memory usage as well. @alyssawilk do you know where we could go to find answers?

[2019-10-28 17:29] vblvl19 commented on #8719
My understanding is that the envoy.lua filter always is called before the default envoy.router, so the original routes are processed in your Lua script *before* any route matching occurs in your route_config. I personally rely on this functionality to perform some request content inspection for legacy clients to route them to specific upstream clusters.

[2019-10-28 17:34] sp-manuel-jurado commented on #8784
@snowp
[code]

Below, a curl full example (personal info obfuscated):
[code]

[2019-10-28 17:40] snowp commented on #8784
Thanks,  this seems to be an issue with handling a missing content-type on the upstream response. I'll get a fix ready

[2019-10-28 17:50] gongcon commented on #8777
Thank you for the clarification. `reset` works for us.

[2019-10-28 20:40] mattklein123 commented on #8787
Not sure what is going on here. I will mark this help wanted in case someone wants to take a look in more detail.

[2019-10-28 21:51] shidel-dev commented on #8787
I can maybe try to come up with a minimum viable reproduction this week, depending on time.

[2019-10-28 21:56] mattklein123 commented on #8787
@shidel-dev thanks that would be really helpful

[2019-10-28 21:56] #8784 closed

[2019-10-28 23:03] lizan opened #8790 "logging support for filter state"
FilterState is C++ typed so currently there is no easy way to log them. I'm proposing add optional methods to FilterState interface to serialize it to protobuf.Any or string so the gRPC logger / file logger can log them.

[2019-10-28 23:12] kyessenov commented on #8790
Can we avoid serialization in introspection? Generic protobuf representations are very slow, so it seems like converting to protobuf would defeat the use of filter state over the dynamic metadata.

[2019-10-28 23:17] lizan commented on #8790
@kyessenov The serialization method will be only called when a logger is configured to log the filter state, if nothing configured in logger there will be no affect on performance.

[2019-10-28 23:21] lizan commented on #8736
@chershma I meant `istioctl proxy-config endpoint` https://istio.io/docs/reference/commands/istioctl/#istioctl-proxy-config-endpoint

You can set https://istio.io/docs/reference/config/installation-options/ global.proxy.logLevel to debug and see log from `kubectl logs`.

[2019-10-28 23:37] mattklein123 commented on #8785
I'm not sure what is going on here exactly, but something is strange with the logic here: https://github.com/envoyproxy/envoy/blob/da56bbcf30b8bfb185809c784346a14cdcc178ee/source/extensions/filters/http/lua/lua_filter.cc#L43. From my read of the logs, in the streaming case we are continuing the filter change and not blocking while we wait for the HTTP call to complete. Off the top of my head I'm n

[2019-10-28 23:55] lizan commented on #8403
There's a few places missed from #8472, @yanavlasov can you deprecate them as well?

[code]

[2019-10-29 02:01] rcash commented on #8790
Hi @lizan I'm a student in UT Austin's Virtualization & Containers class, are you looking for help on this? Thanks!

[2019-10-29 02:12] rcash commented on #8228
Hi @wenbozhu  and @cpakulski I'm a student in UT Austin's Virtualization & Containers class. Are you still looking for help in adding support for gRPC response trailers? Thanks!

[2019-10-29 02:39] lizan commented on #8790
@rcash Thanks for your help. I will take this one myself as this is on my priority now, but you are welcome to take any issue marked `help wanted`, if you're new here, look for `beginner` tag as well.

[2019-10-29 02:46] kyessenov commented on #8790
@lizan that's fair, but if there is a business need to forward the filter state, there is not going to be an alternative. I was hinting at using some language reflection capabilities using plain old code generation, that will eventually align with the latest C++ designs on the subject (e.g. http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2019/p1240r1.pdf)

[2019-10-29 04:45] lizan commented on #8790
@kyessenov yeah reflection can be used in future, though is there any usable library / implementation on C++ reflection today?

[2019-10-29 08:05] euroelessar commented on #8614
We do observe as well that certs used by currently established connections are part of the `/certs` output.
What is actually worse is that it affects `days_until_first_cert_expiring` metric.
In setups with short-living TLS certificates and long-living connections it means that envoy is happy to report that all certs have been expired even if SDS-based cert reloading does work as expected.

[2019-10-29 08:25] lvijay commented on #6141
@alyssawilk this issue may be closed.  it was fixed by #8565.

[2019-10-29 08:25] #6141 closed

[2019-10-29 10:06] chershma commented on #8736
running this command:
./istioctl proxy-config   --kubeconfig=dev-sonfig-file endpoint my-failing-ms-63696d5b9f-k6bs5.dev
gave this result:
ENDPOINT                 STATUS      OUTLIER CHECK     CLUSTER
xx.yy.104.26:53         HEALTHY     OK                outbound|53||coredns.kube-system.svc.cluster.local
xx.yy.104.26:9153       HEALTHY     OK                outbound|9153||coredns.kube-system.svc.

[2019-10-29 10:54] md-ray commented on #5292
Hi @bnlcnd
I'm facing the same problem, and cannot resolve it after adding the port number. Are you accessing Envoy using Docker also? What else could be the issue ya

[2019-10-29 14:58] sekaninat commented on #8719
I'd think that as well, but you can pass `filter_metadata` via the `request_handle` to the script from the matched route. So it has to happen before.

[2019-10-29 15:59] mattklein123 opened #8794 "Allow REUSEPORT for listener sockets"
We should optionally allow listener sockets to be created on each worker with SO_REUSEPORT. This should probably be the default for UDP listeners and opt-in for TCP listeners?

cc @danzh2010 @euroelessar @antoniovicente

[2019-10-29 16:00] mattklein123 commented on #8568
Fixed

[2019-10-29 16:00] #8568 closed

[2019-10-29 16:17] danzh2010 commented on #8794
Hi Matt, actually this is part of the plan in https://docs.google.com/document/d/1My-Tssc9d6rW-Xu96y4DdUxvzIKmptP6mm6i_zOXr58/edit?pli=1#. I was about to modify ListenerConfig to provide a listen socket factory interface instead of a socket as the first step of preparation for supporting multiple quic listeners on different worker threads.

What's your plan for this?

[2019-10-29 16:32] mattklein123 commented on #8794
To assign this issue to you. ;)

We can use this for tracking.

[2019-10-29 16:34] wrowe commented on #8750
A short update; this was caused by this commit;
https://github.com/envoyproxy/protoc-gen-validate/pull/256
which we have backed out in our working tree to unblock us in the very short-term.

Longer term we are looking at a PGV issue/PR and proposing a better mechanism for utf-8 code
point counting, that would not involve allocating and trans-coding the string into utf-32, which
does not involve th

[2019-10-29 16:37] mattklein123 commented on #8794
It has been requested previously that we support this for TCP listeners also. In some cases this can lead to better performance in very high CPS use cases with many listening cores. IMO you don't need to implement it for TCP if you don't want to, but it would be nice to do it in such a way that someone could come along and do it for TCP later if they want?

[2019-10-29 16:49] ericlin0101 opened #8795 "HeaderMapImpl::get() function consumes too much CPU time"
*HeaderMapImpl::get() function consumes too much CPU time*

*Description*:
In an attempt to do Envoy load testing and cpu profiling with access logging enabled, we find that the  HeaderMapImpl::get() function alone consumed about 2.4% CPU time. I believe this function  can be better implemented.

Envoy v1.11.2

[2019-10-29 16:59] stevenzzzz commented on #8795
cc stevenzzzz@

[2019-10-29 17:04] mattklein123 commented on #8795
There is not much low hanging fruit perf-wise in this code but patches appreciated.

[2019-10-29 17:06] mabukhovsky commented on #8343
We don't have hosts in our configuration because we want Envoy to behave like generic forward proxy for HTTP/HTTPS requests with no restrictions on host/port etc at Envoy configuration as we will have millions of URLs to forward. All we want - one wildcard/regex virtual host / route and dynamic forward proxy cluster in configuration. Request should be forwarded with domain/port and protocol rewrit

[2019-10-29 17:18] stevenzzzz commented on #8795
I was thinking can we have a hashable list to have O(1) look up for header value. But I don't know if headers order matters, as well as multiple lines headers react to this proposal.

[2019-10-29 17:22] mattklein123 commented on #8795
Maintaining the hash table and the list in parallel has non-trivial cost which needs to be evaluated. For small numbers of headers it may not end up being significantly faster. Any work we do here at this point needs to have rigorous performance testing done. There is already a header map perf microbenchmark that can be built on. cc @jmarantz

[2019-10-29 17:26] #8520 closed

[2019-10-29 18:10] lizan commented on #8750
Left a comment in that PR https://github.com/envoyproxy/protoc-gen-validate/pull/256#discussion_r340236064

[2019-10-29 18:17] kyessenov commented on #8790
@lizan I'm not aware of any quality library for reflection in C++. It also sounds like an overkill to support the entire C++. We just want simple structs for majority of the use cases of the filter state. Just using protobuf message is not a terrible idea since it comes with reflective capabilities by default (albeit there is a hit to performance).

[2019-10-29 18:23] derekargueta opened #8799 "Fix inconsistency in rate limit filter names"
Minor cleanup related to PR #8796, for HTTP filters we have [`envoy.rate_limit`](https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/http/well_known_names.h#L39) but for networking filters we have [`envoy.ratelimit`](https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/network/well_known_names.h#L27). We should update the network filter to match HTTP/Thri

[2019-10-29 18:53] wenbozhu commented on #8228
We probably need some design inputs from @cpakulski  first ...

@htuch

[2019-10-29 19:02] samuelazcona opened #8800 "is possible to use envoy grpc proxy/filter embedded in c++ grpc server binary"
Hi guys,

I'm very new with envoy (30 minutes), I'm search for solution to communicate angular http1.1 front ends with my c++ grpc backend and google send me to envoy.

I'm working in backend in c++ that contains a grpc server all is working fine but one of the front ends are in angular/dart.

So I see there is an envoy docker image to up and config to help me to communicate the angular with my gr

[2019-10-29 19:38] mabukhovsky commented on #8768
Let me give you little more detail about our goal. We don't have hosts in our configuration because we want Envoy to behave like generic forward proxy for HTTP/HTTPS requests with no restrictions on host/port etc at Envoy configuration as we will have millions of URLs to forward. All we want - one wildcard/regex virtual host / route and dynamic forward proxy cluster in configuration. Request shoul

[2019-10-29 20:11] zuercher commented on #8800
https://envoy-mobile.github.io/ is a project that's working on a Enovy-as-a-library for mobile. I don't know of any other examples.

[2019-10-29 22:11] jmarantz commented on #8795
This is not exactly the same as https://github.com/envoyproxy/envoy/issues/4815 but you should definitely check that one out.

[2019-10-29 22:18] jmarantz commented on #8795
+1 for microbenchmarking...I suspect you could reimplement to make some things fast but it'll make other things slow, and your microbenchmarks may leave you not knowing which is more important.

I'd like to also plug doing system-level testing with https://github.com/envoyproxy/nighthawk with a few varied scenarios, to see how a change you make affects system performance overall.

E.g. one interes

[2019-10-29 23:07] mattklein123 commented on #492
For everyone watching this issue I will have something working pretty soon which will handle basic UDP datagram proxying on top of temporal "sessions" which timeout after inactivity.

If anyone out there has a relatively simple test case they would like me to try I'm happy to do that. Optimally you could help me out with various linux commands that mimic what you want to do and I can then test by

[2019-10-30 04:12] alochym01 opened #8805 "how to enable log fields with envoy jaeger-native-tracing"
Hi

there are some naming conventions for span tags and log fields
[https://github.com/opentracing/specification/blob/master/semantic_conventions.md](url)

but in the example on tracing there is no glue to add log fields or span tags
[https://github.com/envoyproxy/envoy/tree/master/examples/jaeger-native-tracing](url)
[https://github.com/envoyproxy/envoy/blob/master/examples/front-proxy/service.py

[2019-10-30 05:34] ramaraochavali commented on #8799
FWIW, This was discussed earlier and decided that it is not worth the deprecation cycle for this case https://github.com/envoyproxy/envoy/pull/5100#pullrequestreview-177676274

[2019-10-30 07:38] ahmedelbazsc commented on #8764
I ran Envoy 1.11.2 side by side with 1.10 both connected to the same control plane. Two observations:

1) With Envoy 1.11.2, it crashes soon after priority of localities is updated, where as 1.10 fails after multiple changes in priority as mentioned earlier.
Happens consistently when updating from mixed 0/1 priorities to pri 0 for all localities (simulating a failover to all localities)

2) The st

[2019-10-30 07:52] lizan commented on #8764
@snowp thoughts?

[2019-10-30 07:55] sekaninat commented on #8719
I see! Thank you for the explanation.

[2019-10-30 09:06] sekaninat commented on #8719
@zuercher  Is it possible to prevent this behavior? Can I just send the request manually from the lua filter?

[2019-10-30 09:23] objectiser commented on #8805
Do you mean add log/tags from within the Envoy proxy (when handling your requests) or from within the service that is being proxied?

[2019-10-30 09:52] derekargueta commented on #8799
@ramaraochavali We can't change it in one atomic step, but if we provide both facilities for a while to give people time to migrate (and now there's better policies and tooling to signal use of a deprecated feature) I don't think it'd be absurd to have people move over over the course of 12 months (per the breaking change policy).

Another option is to leverage the v3 API release to straighten the

[2019-10-30 12:16] chershma commented on #8736
we activated debug on the side car and I can see the calls getting into my pod.
but, I don't see the outbound calls sent from the pod to the external resource (the actual PATCH call that fails).
I can't see any outbound call, not just that one.

is there some log that will show me this outbound call?

[2019-10-30 15:15] #8326 closed

[2019-10-30 15:17] wrowe commented on #7903
Ping @lizan

We understand that one top level test that can be performed is;
  //test/exe:envoy-static

What we remain unclear on is what is the typical top-level test-all target which can be expected to run for only included and none of the excluded extensions, etc?

[2019-10-30 17:42] zuercher commented on #8715
@rodaine or @akonradi do either of you have time to review https://github.com/envoyproxy/protoc-gen-validate/pull/281?

[2019-10-30 18:49] pitiwari opened #8811 "build issue in envoy"
i checked out master today and seeing issue below in compilation. I did expunge deleted cache but issue persists. Any suggestions ?

ERROR: /envoy/source/extensions/filters/network/kafka/BUILD:25:1: C++ compilation of rule '//source/extensions/filters/network/kafka:kafka_request_codec_lib' failed (Exit 1) gcc failed: error executing command /usr/bin/gcc -U_FORTIFYY
_SOURCE -fstack-protector -Wall

[2019-10-30 19:15] #8317 closed

[2019-10-30 19:16] snowp commented on #8764
@ahmedelbazsc Can you also provide your cluster configuration? It seems like you're using active health checking, so I'd be interested in seeing your exact configuration

[2019-10-30 19:47] snowp commented on #8764
Also reproducing this on master vs 1.11 would be helpful too, in case this has been fixed already

[2019-10-30 19:57] mattklein123 commented on #4815
This needs some thinking but the way I have been thinking about this is that the registration would happen as part of the static extension initialization somehow.

It would probably be simpler initially to just have this be a static/compiled thing based on which extensions are loaded. IMO it will be a lot simpler to implement, but I admit I haven't thought through it in a lot of detail.

cc @jmara

[2019-10-30 20:01] pitiwari commented on #8811
updating to latest container resolved the issue

[2019-10-30 20:01] #8811 closed

[2019-10-30 20:05] jmarantz commented on #4815
I think the trie would be easier to make init-time configurable, where every filter that was initialized would have a chance to add something to the global trie.

With gperf, at least, this needs to be a build-time step where you start with a text file with your keywords and it compiles it into a hash-table implementation that never collides.

I agree with Matt that doing this at static-init time

[2019-10-30 20:28] rgs1 commented on #8768
@mabukhovsky note that the dynamic forward proxy will take a request with http:// and fetch it with https://, if the cluster has a `tls_context` set, e.g.:

https://gist.github.com/rgs1/772096cf9890108575909f9ba5ee76cf

You can test the above with something like:

[code]

which per the example in my config will get the host rewritten to www.pinterest.com...

So assuming this covers your use case c

[2019-10-30 20:35] lizan commented on #7903
I guess the issue is some integration test is not using extension test but actually relying on extensions. I think we need refactor envoy_cc_test a bit to specify a list of extensions that the test requires, and no-op them if extensions doesn't exist.

[2019-10-30 20:39] antoniovicente commented on #8702
Sharing a HTTP/2 upstream connection among multiple workers seems challenging due to the need to interact with the HTTP/2 connection from multiple threads.  HTTP/2 does have a stream abstraction, so it may be possible to write some per-stream wrappers that mediate the cross-thread interaction between the filter chain and the actual HTTP/2 framer and sockets that operate in a different dispatcher t

[2019-10-30 21:19] rishabhkumar296 commented on #8070
Hi, I would like to take this up if no one is working on it currently.

[2019-10-30 21:44] antoniovicente commented on #8795
It would be good to get some profile data from either real deployments or synthetic tests.

Also, I noticed some possible micro optimization to remove some strlen calls from the inner loops in some of these methods:

Option 1:
 const HeaderEntry* HeaderMapImpl::get(const LowerCaseString& key) const {
   for (const HeaderEntryImpl& header : headers_) {
-    if (header.key() == key.get().c_str()) {

[2019-10-30 21:52] mattklein123 commented on #8795
@antoniovicente yeah there may be low hanging fruit from before we had pervasive string view.

[2019-10-30 23:17] #8031 closed

[2019-10-30 23:26] ofek commented on #3077
Bump

[2019-10-30 23:43] stevenzzzz commented on #8795
it just surprised me when a *single* header get takes 0.19s. But agreed we
should do benchmark to get the bigger pic, but this one I think is a
low-hanging fruit for performance improvement.

On Wed, Oct 30, 2019 at 5:53 PM Matt Klein <notifications@github.com> wrote:

--
Xin Zhuang

[2019-10-30 23:49] l8huang commented on #8794
@danzh2010 Considering this issue assigned to you, what's your plane?  :) Are you working on both UDP and TCP change? Or only UDP?

I recently did some LnP tests for HTTP traffic, one finding is: usually Envoy consumes <24 CPUs and occasionally Envoy consumes 46 CPUs(the node has 32 cores with Hyper-thread, that's 64 CPUs). Envoy run with 64 worker threads.

Making this change for TCP is in my tas

[2019-10-30 23:56] jmarantz commented on #8795
@stevenzzzz where are you seeing 0.19s?

[2019-10-30 23:58] #8225 closed

[2019-10-31 00:53] ahmedelbazsc commented on #8764
Here is the cluster configuration which include active health checking configs.

Do you think the v1.11 issue is related to HC settings of the cluster ?

[code]

Unfortunately I cannot verify this against master soon given it needs more involved changes in other components (e.g. config generation, and internal Envoy filters)

[2019-10-31 02:06] stevenzzzz commented on #8795
sorry, it's 130ms.
![2019-10-30](https://user-images.githubusercontent.com/3444556/67912659-02453400-fb61-11e9-8a20-d6fd35cb4b2d.png)

and there is an insertByKey that takes 190ms:
![2019-10-30 (1)](https://user-images.githubusercontent.com/3444556/67912758-53edbe80-fb61-11e9-894b-1bf1067995f0.png)
.

[2019-10-31 02:15] bnlcnd commented on #5292
@md-ray I did not have time to follow it. But it didn't work. I still have to duplicate all the routings and settings on both HTTP and HTTPS port.

[2019-10-31 02:29] stevenzzzz commented on #8795
from the profiling tool I can see a 190ms insertByKey and a 130ms get()
![2019-10-30 (1)](https://user-images.githubusercontent.com/3444556/67913841-b5fbf300-fb64-11e9-847d-3b157d73e855.png)
![2019-10-30](https://user-images.githubusercontent.com/3444556/67913842-b5fbf300-fb64-11e9-96d9-80785c387f8f.png)

[2019-10-31 02:43] jmarantz commented on #8795
I can't see the rest of the profile but are you sure that's a single call, and not aggregated over a lot of calls? Maybe you can share with me more details directly?

[2019-10-31 02:47] mattklein123 commented on #8795
Also how many headers are we talking here? I find 130ms for a single call almost impossible to believe.

[2019-10-31 02:49] ericlin0101 commented on #8795
To clarify, my load test runs for 5000QPS for 90 seconds. So the 130ms cpu time is for all the requests, it is NOT for a single call.

[2019-10-31 04:19] wlhee opened #8817 "max_requests_per_connection=1 causes gRPC connections reset"
*Title*: max_requests_per_connection=1 reset gRPC connections

*Description*:
We have a simple upstream which is a simple helloworld gRPC server.
We set up a simple envoy proxy in front of the server with the config (see attached). One thing special is max_requests_per_connection=1

When we use a simple client that starts N go routines, each go routines sends M sequential requests, however, the ma

[2019-10-31 04:32] #8636 closed

[2019-10-31 04:37] #8319 closed

[2019-10-31 04:39] HenryYYang commented on #8644
Are you introducing a network hop in the envoy case in your test?

Here's the result for my test against a local docker container:

Here's the relevant section of envoy.yaml:
[code]

[2019-10-31 04:50] cetanu commented on #8412
After looking at some of the settings, and wondering why setting `use_remote_address` to `false` would cause the Ip-Tagging to suddenly work...

The following seems to be the case, to determine internal/external + manipulate headers, when `use_remote_address` is...

* `false`: envoy uses the xff header
* `true`: envoy uses the real client address

Considering this, could it be the case that when i

[2019-10-31 08:16] popozy opened #8821 "[Dubbo] How to use head match in dubbo_proxy.v2alpha1.RouteMatch"
## Description
I wonder if there is any progress that has been made during the past two months about the ability of dubbo proxy to support header match or method parameter matching?

## relative
+ previous issue
https://github.com/envoyproxy/envoy/issues/8102
+ envoy docs
  + header match: https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/dubbo_proxy/v2alpha1/route.proto#con

[2019-10-31 08:16] popozy commented on #8821
cc @zyfjeff

[2019-10-31 10:15] alochym01 commented on #8805
@objectiser i mean add log/tag from within the service

please help

thank you

[2019-10-31 11:19] objectiser commented on #8805
Which language are you using for your service? You need to instrument your app with the appropriate OpenTracing API and Jaeger tracer.

[2019-10-31 12:42] Shaboxi commented on #8736
i was able to extract logs from the envoy during the PATCH call:

[code]

Also, `pilot-agent request PATCH stats` logs:

[code]

[2019-10-31 13:20] cpakulski commented on #4815
It makes things much easier to initialize at startup and there is no need for locks/synch objects.
Is there any compile-time config file which controls which extensions are compiled-in?

[2019-10-31 13:32] jmarantz commented on #4815
I think the way it works is that statically constructed objects in the filter impl run some code that populates a filter-name -> factory map, and you could at that time add new header names to the trie or whatever.

So it's kind of assembled at link time.

[2019-10-31 13:57] cpakulski commented on #4815
@jmarantz Thank you for explaining. It makes sense.

As far as I understand, one of the goals of implementing this is to reduce the size of the header block. From comments above:

I think that the size of the header block will not shrink, if all compiled filters register their O(1) headers at startup. Basically all O(1) headers for all filters would be registered. In order to reduce the size of th

[2019-10-31 14:02] jmarantz commented on #4815
This would still benefit deployments that only linked the extensions they wanted to support.

[2019-10-31 15:01] mosespx commented on #8644
envoy is a sidecar container on the application

[2019-10-31 15:08] danzh2010 commented on #8794
Currently the one and only socket is passed to each listener on workder threads through Network:ListenerConfig. My plan is to change ListenerConfig to carry a socket factory instead of a socket. And create the socket during listener creation via the factory. UDP and TCP factory can have different socket management behavior.

As the first step, I will just refactor the code to pass around socket fa

[2019-10-31 16:16] mattklein123 commented on #4815
This and also IMO more importantly it would allow custom extensions to get O(1) lookup for custom headers.

[2019-10-31 16:18] mattklein123 commented on #4815
See also https://github.com/envoyproxy/envoy/issues/8795. It might be possibly to also pre-fetch the slots for headers that certain components care about, like tracing tags, logging, and actually remove a bunch of the O(N) get calls. cc @stevenzzzz @antoniovicente @jmarantz

[2019-10-31 16:23] mattklein123 commented on #8817
Unfortunately this is "by design" with the current H2 connection pool implementation. The implementation only allows for a primary and draining connection, and if the primary goes to draining, the draining will be terminated. This is why you are seeing resets.

We have talked about making the entire connection pool implementation more flexible but only minimal work has started yet. cc @conqerAtapp

[2019-10-31 16:27] danzh2010 opened #8826 "add QUICHE stream buffer testing"
StreamEncoder::encodeData() assumes transport layer takes all the data. In QUICHE we achieve this by setting FLAGS_quic_buffered_data_threshold to be large enough (512MB) to buffer all the data under the high watermark plus a flow control window DEFAULT_INITIAL_STREAM_WINDOW_SIZE (256MB). This is a really large buffer for each stream, but we don't expect the upstream will negotiate such large flow

[2019-10-31 16:31] wlhee commented on #8817
Thanks for the quick answer!

I wonder why the problem goes away when I unset max_requests_per_connection ?

[2019-10-31 16:32] zuercher commented on #8719
AFAIK, the lua filter always recomputes routes when headers are changed.

I think some combination of headers(), body(), httpCall() and respond() would let you make the request yourself, but you'll lose lots of other features doing that. For instance, I don't think it's possible to get the cluster name so you'd have to implement all the routing in your lua filter.

I think a better implementation

[2019-10-31 16:40] conqerAtapple commented on #8817
@mattklein123 we are working on making H2 connection pool a bit more flexible (policy driven). We have a `working` patch which we have been busy testing in our  environment. Next steps is to address the PR comments  on https://github.com/envoyproxy/envoy/pull/7852.

[2019-10-31 17:00] wlhee commented on #8817
Thanks! Let me try to confirm my understanding.

When max_requests_per_connection is set 1, because of H2, single upstream connection can still carry multiple H2 streams, so there can be multiple gRPC requests sent over the the same connection?

I am still trying to understand:
1)  "...implementation only allows for a primary and draining connection", what does draining connection mean? does it me

[2019-10-31 17:04] HenryYYang commented on #8644
I ran both tests on the envoy container to get an apple to apple measurement.

[2019-10-31 17:08] HenryYYang commented on #8440
Can we add the bug and help wanted tag please?

[2019-10-31 17:15] wlhee commented on #8817
And according to https://github.com/envoyproxy/envoy/pull/7852, envoy only has one H2 upstream connection, so why would the value of  max_requests_per_connection make a difference?

[2019-10-31 17:18] #8681 closed

[2019-10-31 17:31] asraa opened #8828 "Envoy 1.11.2 and master crash in HttpGrpcAccessLog::log"
**Description**
Envoy 1.11.2 and master crash when enabling HttpGrpcAccessLog's for upstream logs.

In this commit in Envoy 1.11.2, https://github.com/envoyproxy/envoy/commit/41da9533358b77f2ebf9eed2e33fa6ae130a0855
  `request_properties->set_request_headers_bytes(request_headers->byteSize());`
was changed to
  `request_properties->set_request_headers_bytes(request_headers->byteSize().value());`
h

[2019-10-31 17:50] cpakulski commented on #4815
Sounds good. I have a clear understanding if this issue now.

[2019-10-31 18:05] sekaninat commented on #8719
Ok, thanks for the thorough answer. Yeah, I thought of something like that as well. We ended up doing something similar in authorization, because we also need to assign specific headers per route to the ext_authz request.

[2019-10-31 18:05] #8719 closed

[2019-10-31 19:08] rshriram commented on #8730
Why can’t you do this with aggregate cluster ?

[2019-10-31 19:17] htuch commented on #8228
Yeah, I think if you want to help drive the design here and propose a strawman @rcash that might be a reasonable start.

[2019-10-31 19:22] shivanshu21 commented on #8730
Thanks guys, we are exploring different options you have mentioned in responses. For now we have a local fix for this.

[2019-10-31 19:30] lizan commented on #8736
@Shaboxi

[code]

So this is a CONNECT but not a PATCH request? HTTP 1.1 CONNECT isn't supported yet #1451.

[2019-10-31 19:37] #8316 closed

[2019-10-31 20:50] drao9 opened #8833 "Support prefix rewrites with after string matches"
*Title*: *Prefix rewrite with after string matches*

*Description*:
 In the case of prefix rewrite, we want to match a prefix string and replace it with another but also insert a new string after the designated string in the original matched full string. We would need a field in the config to provide this string (let's call it after_str). For example, if we want  `www.example.com/foo/bar/zoo/1234/

[2019-10-31 20:56] derekargueta commented on #5155
So far I have 73% of http1 codec tests passing, working through them. llhttp introduces slight deviations - stricter header parsing (i.e. [this block](https://github.com/envoyproxy/envoy/blob/master/source/common/http/http1/codec_impl.cc#L478) is no longer required), slightly different handling of upgrade, etc.

Also, I'm going to do the URL utility library as a separate change if no one beats me

[2019-10-31 21:16] mabukhovsky commented on #8768
Thank you for replying, yes your configuration is very close to what we need.
What is a time frame for adding **auto_host_rewrite_header** filter feature?
Is it something your team can deliver in November, or it is a long term feature?

[2019-10-31 22:02] mattklein123 opened #8837 "docs: verify config snippets are valid"
This is an aspirational work item, but it would be really nice if we could verify all of the config snippets in the docs are actually valid config. The way I would imagine this working is:
1) Develop a new Sphinx plugin for an Envoy config snippet. This would identify the associated proto that it should load into.
2) During doc generation, go through all snippets, and try to load the config YAML i

[2019-10-31 22:03] mattklein123 opened #8838 "docs: fix search engine optimization (SEO) to only index latest"
We need a robots.txt, map, etc. to make sure that Google only indexes our latest docs. Opening this issue in the hope that someone knows how to do this.

[2019-10-31 22:23] derekargueta opened #8839 "Improve v2->v3 tooling for detecting unused Protobuf messages"
Full discussion in PR #8776. TL;DR the tooling removes deprecated protobuf fields, but if the deprecated field was a unique message type that was only used by deprecated fields, the tooling still leaves that now-unused type around.

[2019-10-31 22:43] ramachaitanyak commented on #8291
Hello, I have a draft patch for this. I will open a PR with draft tag soon. Working between schedules, I am trying to resolve abseil compilation issues. Should be soon to get a patch out.

Apologize for the delay.

Rama

[2019-10-31 23:30] jroper commented on #7411
We just had a use case for this ourselves. I think it would be great if supported was added for passing the body as bytes. Perhaps something like this:

[code]

The `body_bytes` option would tell the transcoder not to decode the body as json, but rather, pass the body bytes as the data field. If the `data` field was not `bytes`, this would be flagged as an error, and if both `body_bytes` and `body

[2019-10-31 23:31] #8828 closed

[2019-11-01 00:15] alyssawilk opened #8841 "envoy.reloadable_features.buffer_filter_populate_content_length deprecation"
#8609 (buffer filter: add content-length when ending stream with trailers) introduced a runtime guarded feature. This issue tracks source code cleanup.

[2019-11-01 00:15] alyssawilk opened #8842 "envoy.reloadable_features.trusted_forwarded_proto deprecation"
#7995 (http: forwarding x-forwarded-proto from trusted proxies) introduced a runtime guarded feature. This issue tracks source code cleanup.

[2019-11-01 00:18] alyssawilk opened #8843 "renaming for test"
#7942  (Outlier Detection: use gRPC status code for detecting failures) introduced a runtime guarded feature. This issue tracks source code cleanup.

@ZhouyihaiDing I'd throw this your way but you're not in the Envoy proxy org.
@mattklein123 or @htuch to fix.

[2019-11-01 00:19] alyssawilk opened #8844 "deprecation tooling crashes if users aren't in the Envoy proxy org"
Creating issues...
GithubException while creating issue. This is typically because a user is not a member of envoyproxy org. Check that ZhouyihaiDing is in the org.
Traceback (most recent call last):
  File "/usr/local/google/home/alyssar/git/envoy/tools/deprecate_version/deprecate_version.py", line 188, in <module>
    CreateIssues(access_token, runtime_and_pr)
  File "/usr/local/google/home/alys

[2019-11-01 00:28] #8843 closed

[2019-11-01 00:29] alyssawilk opened #8845 "envoy.reloadable_features.outlier_detection_support_for_grpc_status deprecation"
#7942 (Outlier Detection: use gRPC status code for detecting failures) introduced a runtime guarded feature. This issue tracks source code cleanup.
cc @ZhouyihaiDing

[2019-11-01 00:35] moderation commented on #8838
I'm not an SEO expert by any means but having a quick look at https://www.robotstxt.org/robotstxt.html I think we need a `robots.txt` file at root with something like
[code]
And to make it worse we'll need to update it each time there is a new release.

[2019-11-01 01:24] cetanu opened #8848 "Unable to add particular ciphers (Eg. `DHE-RSA-AES128-GCM-SHA256`)"
This is for version 1.11.2

We are having some issues adding a custom cipher list in our org...

I've narrowed it down to two ciphers in the list which happen to start with DHE

We double checked here to make sure we're using the correct names:
https://github.com/google/boringssl/blob/66e106026aa6efb7e7266d5fd36ef27f30757d43/include/openssl/tls1.h#L570-L571
(Is this the right thing?)

Minimum conf

[2019-11-01 02:31] zyfjeff commented on #8821
@popozy This depends on our internal hessian2.0 c++ library needs to be open source, we can use this library to complete these functions. Currently, this library is planning to open source

[2019-11-01 02:45] popozy commented on #8821
Thanks a lot for your reply~~: )

[2019-11-01 02:51] mattklein123 commented on #8848
cc @PiotrSikora @davidben ^

[2019-11-01 02:52] mattklein123 commented on #8838
I would think there is a way to disallow based on wilcard/regex but I have no idea.

[2019-11-01 02:55] mattklein123 commented on #8833
This feels very specific to me and probably not a general enough use case to add a full feature for. I wonder if this could be done by regex rewrite or a Lua filter or something like that? @zuercher WDYT?

[2019-11-01 02:58] alochym01 commented on #8805
i use python [https://github.com/jaegertracing/jaeger-client-python](url),
just using sample
[code]
because envoy auto `generate_request_id: true`

but i don't know how integrated with envoy jaeger-native-tracing

do i need to create new span from within service.py ??

thank you

[2019-11-01 04:51] wlhee commented on #8817
So I found the logs:

[code]

But for some reasons, I tried setting "x-envoy-retry-grpc-on" to "unavailable" doesn't seem to retry?

https://www.envoyproxy.io/docs/envoy/v1.9.1/configuration/http_filters/router_filter#x-envoy-retry-grpc-on

[2019-11-01 05:25] ramachaitanyak commented on #8291
Hello, I have created a PR here https://github.com/envoyproxy/envoy/pull/8851/

I am running into these errors while building:
[code]

I will work on resolving those; however if any of you have suggestions to fix this, please let me know.

Take a look at the PR and let me know your thoughts and hope it aligns with the initial thinking of design.

Thanks!
Rama

[2019-11-01 05:36] davidben commented on #8848
BoringSSL does not support legacy DHE ciphers. They were misspecified and are beyond saving. Use ECDHE ciphers instead. See https://groups.google.com/a/chromium.org/d/msg/blink-dev/ShRaCsYx4lk/46rD81AsBwAJ for when they were removed from Chrome. On the server, DHE ciphers are also a DoS risk as the group operation is quite expensive. (The symbols we define in that header file are not an indication

[2019-11-01 05:41] wlhee commented on #8817
nvm, solution is https://github.com/envoyproxy/envoy/issues/7413#issuecomment-506689327

Even with retry turned on, it doesn't eliminate the reset errors ...

[2019-11-01 06:22] Firewall-Tomohisa opened #8852 "Http_health_check still doesn't work in STRICT_DNS type"
Hello! ^_^
I have changed the type from LOGICAL_DNS to STRICT_DNS,but http_health_check still doesn't work.

The image version: envoy-alpine:v1.9.0

*Config*:
[code]

*Log contents*:
[code]

*Enter the envoy container and execute the curl command*:
/ # curl -I <service_name>:<port>/health
HTTP/1.1 200
Content-Type: <>
Transfer-Encoding: chunked
Date: Fri, 01 Nov 2019 06:14:30 GMT

*Grafana graph*:

[2019-11-01 07:24] Quexint opened #8853 "Unable to filter HTTP requests before HCM"
### Description

We have multiple domains on port 80 and want to customize every domain's HCM setting. For example, separating the access_logs for every domain (`${domain}.${status_code}.log`), enabling different http_filters and enabling websocket support.

When all domains go through TLS protocol, using `server_names` in `FilterChainMatch` can achieve this goal. But `server_names` is based on TL

[2019-11-01 09:15] objectiser commented on #8805
You don't necessarily need to create a span within the service - only if you want to. The important thing is to propagate the context, which can be achieved using [the `extract` and then `inject` functions](https://github.com/yurishkuro/opentracing-tutorial/tree/master/python/lesson03).

[2019-11-01 09:44] enbohm commented on #6520
@gsagula Today I updated from 1.9.0 to 1.12.0 but still couldn't get the external auth service to pick up the B3 headers. Using Envoy 1.9.0 I get these headers to my external auth service:
[code]

But after upgrading to 1.12.0 only these are present:
[code]
which makes it difficult for the external auth service to be part of the whole span. Do I have to make any specific configuration to make it w

[2019-11-01 10:46] hamann opened #8855 "Dynamic forward proxy with consul"
We'd like to setup envoy as [dynamic forward proxy](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/http_proxy#http-dynamic-forward-proxy) with consul's [escape hatch feature](https://www.consul.io/docs/connect/proxies/envoy.html#advanced-configuration).

While the [example](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/dynamic_forward_proxy_filte

[2019-11-01 10:54] indutny commented on #5155
@derekargueta please let me know if I can be of any help in this endeavor.

[2019-11-01 10:55] alochym01 commented on #8805
thank you, got it
it should be update the example service.py :)

[2019-11-01 10:55] #8805 closed

[2019-11-01 11:00] enbohm commented on #6520
@kumarsparkz Have you tried with the latest version on envoy? Does it work with your istio-setup or it is still an issue?

[2019-11-01 11:29] objectiser commented on #8805
@alochym01 Unfortunately the service `service.py` is shared across multiple examples which use different tracers. If you can think of a way to implement that supports the different examples, feel free to submit a PR :)

[2019-11-01 12:28] perlun commented on #2182
What we've done to workaround this: set up a separate listener where we use a `route_config` like below to work around this. Posting this since it could help others:

[code]

...with a cluster config like this:

[code]

This works quite well, and means that **no** special configuration is needed on the Prometheus side.

----

@mattklein123 While I understand and respect your reasoning from an Envo

[2019-11-01 12:43] a-sharma11 commented on #7624
@rossdylan Sorry to ping here again but wondering if any updates on this? Internally we are holding up on the adoption of envoy due to this issue.

[2019-11-01 15:06] cpakulski commented on #8228
@rcash, @wenbozhu Please look at https://github.com/envoyproxy/envoy/pull/7942 as that solved similar case of passing gRPC codes to outlier detector. Let me know if you get stuck in design or understanding the code flow.

[2019-11-01 15:45] mattklein123 commented on #8852
Hard to say what is happening here without more complete logs and stats. Please provide them.

[2019-11-01 15:46] mattklein123 commented on #8853
At a high level, no. It would be helpful to understand what things you want to specifically customize on a per-route/vhost setting though.

[2019-11-01 15:48] mattklein123 commented on #8855
I would recommend reaching out to the consul folks about this.

[2019-11-01 17:16] snowp commented on #8764
It looks like what's going on is that the `onClusterMemberUpdate` is claiming that there are new hosts, which causes the health check to create a new session for that host. Since that host already has a session, we get an improper shutdown of the old session, triggering the ASSERT.

Is it possible that there are duplicate endpoints in the EDS response? I'm thinking there might be something off wit

[2019-11-01 17:19] jmarantz commented on #8308
@yanavlasov

[2019-11-01 17:42] ahmedelbazsc commented on #8764
I can confirm there are no duplicate endpoints, only change is flipping the priority at the locality level. Also embedding the ClusterLoadAssignment as part of the cluster definition instead of using EDS does not have any issues with the same health check definition in place for the cluster.

Does increasing an endpoint priority (change from 1 to 0) reuse health checking for endpoints, or pool is

[2019-11-01 18:05] zuercher commented on #8833
I agree this is something we should support with regex rewrites. There's an open PR for that now (#8462), which will hopefully land eventually.

Otherwise, yeah I think it's probably more appropriate to use the Lua filter.

[2019-11-01 18:15] drao9 commented on #8833
#8462 should cover use cases like these. Thanks for the response! @mattklein123 @zuercher

[2019-11-01 18:26] snowp commented on #8764
The way this is supposed to work with EDS is that we track adds/removes from each priority and do not notify the rest of the system about changes when endpoints are moved between priorities. Only net additions should require creating a new health check session. For some reason this accounting seems to be wrong, and it's trying to add the same endpoint multiple times.

When using a static cluster,

[2019-11-01 18:47] prune998 opened #8857 "Envoy memory leak with bi-directional GRPC Streams"
*Description*:
I [opened an issue on Istio's repo](https://github.com/istio/istio/issues/18557), but the issue comes from Envoy itself.
It seems that Envoy's memory keeps increasing at each messages going through a GRPC bi-directional Stream

[optional *Relevant Links*:]
https://github.com/istio/istio/issues/18557

Any help would be welcome. I'll try to get a memory dump to check what's in RAM, bu

[2019-11-01 18:50] mattklein123 commented on #8857
Please get a memory dump and also make sure that you are not somehow buffering the request or response stream in your configuration.

[2019-11-01 19:48] #8348 closed

[2019-11-01 22:13] prune998 commented on #8857
how do you want the memory dump ?
What config would make me buffer the data so that it keeps increasing ?

[2019-11-01 22:24] mattklein123 commented on #8857
1) tcmalloc heap profiler
2) Retry, buffer filter, etc.

[2019-11-01 22:28] #8341 closed

[2019-11-01 22:54] steveyang95 commented on #5998
Hi, are there any updates to this issue? I found a use case for this feature as well and would love to know what the status is for this feature request

[2019-11-02 01:04] yxue commented on #7867
@PiotrSikora @jplevyak I am wondering if we can use the filter config discovery service for the WASM. WASM can fetch the code from some management server instead of using inline code.

[2019-11-02 01:30] yuval-k commented on #8291
the linker errors is because if you have a declaration of a static member `static std::map<const std::string, PerConnectionObjectSharedPtr>  per_connection_object_map_; `  without a definition.
you need to defined it in the .cc file like so:
[code]

btw - not sure if a static variable will work here as IIUC this code can be called concurrently so it is not thread safe.

[2019-11-02 02:46] Firewall-Tomohisa commented on #8852
There are many other services with similar configurations.So I only pasted two of the route configurations.

*Config*:
[code]

Healthcheck error logs are basically the same
*Envoy healthcheck error logs*:
[code]

*Envoy logs*:
[code]

Should I provide any other helpful information?Thank you!
^_^

[2019-11-02 14:11] MishraShivendra commented on #4661
I would like to move forward with this issue.

[2019-11-02 15:03] #8387 closed

[2019-11-02 15:22] yskopets opened #8863 "HDS: envoy crashes upon receival of a `HealthCheckSpecifier` message without `interval` field"
*Title*: `HDS`: envoy crashes upon receival of a `HealthCheckSpecifier` message without `interval` field

*Description*:

* due to discrepancy between `HDS` API spec and implementation,  Envoy crashes upon receival of a valid `HealthCheckSpecifier` message
* `HDS` API defines `HealthCheckSpecifier` [as follows](https://github.com/envoyproxy/data-plane-api/blob/5d91278/envoy/service/discovery/v3alp

[2019-11-02 16:03] #8372 closed

[2019-11-03 05:24] #8403 closed

[2019-11-03 07:17] yoka791 opened #8866 "limit payload size with lua script"
Hi,
I tried to write to following script in order to limit request size to 2MB, but when using `body():length()` it returns 413 (Payload too large) when reaching 1MB (and doesn't continue with the function).
[code]
Does anyone knows how to solve that? Thanks.

[2019-11-03 09:18] chijinxina opened #8867 "option 'close_connections_on_host_set_change' can't destroy long-live stream"
I use envoy to proxy long-live server-side grpc stream, the upstream cluster option 'close_connections_on_host_set_change' has been set to 'true'. When hosts changed, the grpc stream can't destroy.

[2019-11-03 15:28] aby-rd opened #8868 "change buffer content and headers in reply - encodeData"
I would like to change the content of the buffer in encodeData according to tests that i'm running in my filter. I also need to change the headers because the new buffer content is from different type (JSON). Is there any way to change them both in this phase? I tried to save ptr to HeadersMap in encodeHeaders but it seems like the headers are deleted although encodeHeaders returns stopIteration.

[2019-11-03 16:27] aktxyz commented on #129
any new info/status from recent microsoft/pivotal meetings?

[2019-11-03 19:02] #8413 closed

[2019-11-03 20:47] rgs1 commented on #8768
@mabukhovsky @mattklein123 something like #8869?

[2019-11-03 20:53] rgs1 commented on #8768
Ah hold on, port overwrite won't quite work yet, a small change is needed for that... will push another commit.

[2019-11-03 21:14] rgs1 commented on #8768
Ok, we are good to go -- the dns cache will handle extracting the port from the host value.

[2019-11-03 22:02] #8414 closed

[2019-11-03 23:02] #8396 closed

[2019-11-04 00:00] #8863 closed

[2019-11-04 00:01] mattklein123 commented on #8866
I would just let Envoy do this limiting for you, either via the buffer filter or the built-in buffering limits. See https://www.envoyproxy.io/docs/envoy/latest/faq/configuration/flow_control for more information.

[2019-11-04 00:04] mattklein123 commented on #8867
IIRC this setting invokes draining on the connection which tries to do it gracefully vs. forceful closure. for a long lived stream there would never be any graceful closure so I don't think this is going to work, but cc @nezdolik who can provide more info.

[2019-11-04 00:05] mattklein123 commented on #8868
This should work by stopping iteration in headers and then modifying headers and continuing during data processing. There are several filters that do this so I would have a look at the existing examples or provide more info about what you are doing.

[2019-11-04 02:39] ramachaitanyak commented on #8291
Thanks @yuval-k for pointing this out. I am able to get past this error; following your suggestion.

Based on my understanding we are required to maintain a single instance of the `ConnectionManagerImpl::per_connection_object_map_` maintained per ConnectionManagerImpl instance.

This allows multiple filters running on the connection to manipulate and reuse connection states.

I recognize having a

[2019-11-04 04:54] cetanu commented on #8848
Thank you for such a helpful answer, that probably saved me hours of figuring out why the cipher I configured isn't what I thought it was.

[2019-11-04 04:54] #8848 closed

[2019-11-04 04:57] aby-rd commented on #8868
Thanks for your answer!
It can works but I don't know in headers phase if I need to change the buffer, i only know it in data processing. stop iteration doesn't stop headers until data process complete? or at least data continue?

[2019-11-04 06:52] cetanu opened #8871 "Envoy 1.12.0 serializes timestamp/duration fields as strings in Zipkin v2 formatted tracing spans"
**tl;dr:** timestamp/duration are emitted as strings for the v2 zipkin format - this thread tries to determine if this is a bug

Firstly, thank you for the work to get the v2 format supported in the first place.

I just tried reading through the source for the zipkin tracer extension and to be honest wasn't able to fully understand how it all works together.

From what I can tell, the timestamp an

[2019-11-04 09:08] dio commented on #8871
@cetanu I think this is related to t way we serialize protobuf to json, which relies on MessageToJsonString. https://github.com/protocolbuffers/protobuf/issues/2679

We could use low level lib e.g. rapidjson to serialize it correctly but it is decided that we stick to protobuf library for doing so.

[2019-11-04 09:15] chershma commented on #8736
Seems we have overcome the issue

Instead of a PATCH call, we now use a POST call with this URL parameter: "_HttpMethod", "PATCH"
We will do some more tests, but it seems the issue is resolved.

Thank you
Carmit Hershman
Architect | MIS | Check Point Software Technologies<http://www.checkpoint.com/>
• +972-3-6115075 | M +972-52-4349692 | F +972-3-6241100 | • chershma@checkpoint.com<mailto:chershma

[2019-11-04 12:24] MarcinFalkowski opened #8874 "lb_subset_config: global fallback_policy is not enforced for selectors if there is another more specific selector"
Given following subset config:

[code]

For route metadata ["canary": "not existing value"] there should be a fallback to ANY_ENDPOINT, as defined in global fallback policy. But instead, `no healthy upstream` is returned.

It happens, because in `SubsetLoadBalancer::selectors_` tree, the node for "canary" is created as an intermediate node to ["canary", "tag"], which has its own fallback_policy de

[2019-11-04 13:09] enbohm commented on #6520
...or @objectiser have you had any chance to test this one? Can you see that the B3-header are propagated to an external HTTP auth service?

[2019-11-04 14:34] asraa opened #8875 "Add unit tests to fuzzers"
**Description**
Add unit test styles to test expectations for simple fuzz test cases and utility functions used by the fuzzer.

**Background**
CVE-2019-15225 (https://github.com/envoyproxy/envoy/issues/8519) was caused by recursive algorithms for matching regular expressions, especially those with '*' or '+' quantifiers. These are simple regular expressions that, when matched with very long URI, s

[2019-11-04 14:42] readverish commented on #492
@mattklein123 I created a SIP sandbox (https://github.com/readverish/sip-sandbox.git) to test SIP scenarios, which has an example of a very simple SIP use case using UDP. It uses docker-compose to setup a client and a server. Please have a look and let me know if this helps, or you want to test a different scenario.

[2019-11-04 15:13] wrowe commented on #129
There will be more news to share in coming weeks and months from different teams of engineers, nothing I can helpfully share. I can update you that my team at Pivotal has resolved PR 8280, proposed PR 8572, and we are preparing the necessary patches in the near-term for filesystem/socket objects on Windows so that the code will compile for anyone interested in participating in development.

[2019-11-04 15:15] achasveachas commented on #129
@aktxyz We did have two productive meetings with the folks from Microsoft and they committed to helping us push the Windows port through.

We are still hammering out the details, we will probably have more solid information to share at EnvoyCon/KubeCon in 2 weeks.

[2019-11-04 15:40] alyssawilk opened #8876 "change flag script to deprecate old code only after at least 2 releases"
Right now the script assumes that we have 1 release with a flag false, and 1 with a flag true, and then the next release removes.

If we switch to having flags true by default, they'll be deleted in the release after they're added, which means folks who build from released versions may not have a chance to surface issues before the old path is removed.  We should always persist for at least 2 rele

[2019-11-04 16:19] htuch commented on #8372
@PiotrSikora @costinm friendly ping; any progress on this? Would be nice to have a design doc as next step, but I think we're still debating ACME vs. custom SDS. Are there any additional folks in the community who are familiar with CSR/CA protocols and would like to weigh in?

[2019-11-04 16:28] htuch commented on #8460
@EItanya friendly ping.

[2019-11-04 17:24] mattklein123 commented on #8372
cc @richarddli @SecurityInsanity IIRC Datawire is interested in doing built-in ACME support in Envoy so we should take that into account as we might have resources to do ACME if that is the right thing to do.

[2019-11-04 17:25] mattklein123 commented on #492
Thanks @readverish! I will take a look this week.

[2019-11-04 17:37] beriberikix commented on #492
Also, here's a [UDP echo server](https://github.com/mendhak/docker-udp-listener).

[2019-11-04 18:16] SecurityInsanity commented on #8372
Being able to have Envoy manage the ACME certs would definitely be a nice thing for us. That being said I agree there are a lot of challenges to bring ACME support into envoy (since there are a lot of cases that aren't covered just thinking about it: "how do we deal with a challenge coming to a wrong envoy node in http mode", "we probably don't wanna manage dns directly in envoy so that rules out

[2019-11-04 18:22] kyessenov commented on #8400
JSON patch is a reasonable choice, but it has a set of problems:
1) ability to apply JSON patches on protobufs directly without JSON roudtrip (which is fairly expensive). There are subtle issues deleting field values, for example, that makes this fairly tricky (e.g. setting field to "null" in JSON does not translate well back to proto)
2) loss of a-priori knowledge about xDS structure (e.g. select

[2019-11-04 19:05] prune998 commented on #8857
I used tcmalloc/pprof and I have a bunch of profile files... is this right ?
I used :
[code]
Is this enough ?
I tried looking into it... but I'm not expert enough... I see memory used, but can't tell where :)
The more I look into it, the more I think it's related to caches/buffers/metrics... but have no clue so far :)

@mattklein123, please let me know if the tcmalloc profile files are OK and what

[2019-11-04 19:07] prune998 commented on #8857
Here's an example where I have constant 400 GRPC (HTTP/2) connexions, sending some data, and sometimes ending and re-connecting to keep the 400cnx. Memory keep growing...
![image](https://user-images.githubusercontent.com/1110398/68149779-7f2f2f80-ff0c-11e9-85de-a65c9932d61e.png)

[2019-11-04 19:38] alyssawilk opened #8879 "IpVersionsCientType/TcpGrpcAccessLogIntegrationTest.BasicAccessLogFlow/1 flaked on coverage"
https://circleci.com/gh/envoyproxy/envoy/296599?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

[----------] 1 test from IpVersionsCientType/TcpGrpcAccessLogIntegrationTest
[ RUN      ] IpVersionsCientType/TcpGrpcAccessLogIntegrationTest.BasicAccessLogFlow/1
test/extensions/access_loggers/grpc/tcp_grpc_access_log_integration_test.cc:146: Failure
Value of: fake_upstream_conne

[2019-11-04 19:39] alyssawilk commented on #8879
Lizan can you take a look to see if you can repro using the deflake instructions?

[2019-11-04 21:03] jpeach opened #8880 "build: enable -Winconsistent-missing-override warning"
*Title:*

Enable -Winconsistent-missing-override warning

*Description:*

The Google style guide recommends always using `override` and code reviewers also ask for it to be used. If there's a warning, then contributors will add it before reviewers have to ask.

*Relevant Links:*

Clang:
[code]

GCC:
[code]

[2019-11-04 22:49] htuch commented on #4705
Now that 1.12.0 has been cut, we can move ahead with this. @derekargueta are you planning to remove the remainder of the v1 JSON sites? That's probably the first step.

[2019-11-05 00:57] tonya11en opened #8881 "adaptive concurrency: Add configurable constant to burst queue"
Currently, the burst queue for the calculated concurrency limit in the adaptive concurrency filter is the square-root of the new limit. There can be a need for larger headroom values, but there is no way to adjust this at the moment.

We should add a configurable (in both proto and runtime) constant to the burst queue term in the concurrency limit calculation.

[2019-11-05 01:18] dichen16 commented on #6953
still working on it

[2019-11-05 02:45] l8huang commented on #8794
@danzh2010 I did a quick change to make SO_REUSEPORT works for TCP listeners, and run a load test, connections distributed to worker threads every well(checked `downstream_cx_total` and `downstream_cx_active` in `/stats` output).

A draft PR #8884 created, if you have time to do a quick view, that could be every helpful, just want to confirm this change is on correct direction.

[2019-11-05 06:11] lizan commented on #8880
@jpeach I believe we already enabled this and treated as error, do you see anywhere that this is not treated as error?

[2019-11-05 06:16] jpeach commented on #8880
grep doesn’t find it in the repo. I was asked to add override by the reviewers in #8873.

[2019-11-05 06:37] lizan commented on #8880
@jpeach because we enable `-Wall` and `-Wextra` which includes `-Winconsistent-missing-override` in clang. I tried your commit with `--cxxopt=-Winconsistent-missing-override` to bazel and it doesn't flag anything either.

[2019-11-05 06:59] jpeach commented on #8880
[wextra](https://clang.llvm.org/docs/DiagnosticsReference.html#wextra) claims it doesn't enable that warning. But I might have been thinking of [modernize-use-override](https://clang.llvm.org/extra/clang-tidy/checks/modernize-use-override.html). Is it possible to enable that for envoy code but not for any 3rd party (or generated protobuf) code?

[2019-11-05 07:12] lizan commented on #8880
@jpeach itself claims "This diagnostic is enabled by default." so it doesn't need anything, we do `-Werror`. Though I don't think this warning will flag anything on your PR.

[2019-11-05 09:00] lizan commented on #8857
@prune998 a couple questions to double check from beginning:

- What is the exact proxy version you're using? Run `envoy --version` in the container or result from `/server_info` admin endpoints.
- Is the gRPC connections are over TLS or plaintext, how about upstream?

I'm suspecting this is an issue similar to #6617, even for non-TLS traffic, potentially affected by recent default buffer impl swa

[2019-11-05 09:48] vichooz opened #8888 "Sticky-session for path based routing with envoy as sidecar proxy"
My apologies if this comes as a beginner's question

I'd like to understand if the following scenario is supported by envoy-proxy
- the first user’s request comes in without session information
- the request bypass the session server choice since it has no session information
- the request pass through the routing algorithm, where a server is chosen and affected to the client
- the server answers

[2019-11-05 12:01] prune998 commented on #8857
Version is `envoy  version: c33dc49585e5e7b5f616c8b5377a5f1f52505e20/1.12.0-dev/Clean/RELEASE/BoringSSL` From Istio 1.3.4.

Workflow is :
Go Client + TLS --> Azure AKS --> Envoy + SSL offload --> pod with same Envoy as sidecar proxy + Go server app

The issue is on the Ingress Gateway that is offloading SSL and multiplexing to the backend's pod.

[2019-11-05 12:23] madhu-shankar commented on #8690
@eziskind  Thanks for the reply.

Yes, I am updating the file by doing symbolic link swap. I am doing this through a perl script with the following set of commands,

[code]

that is, by creating a new file and a symlink to it and then renaming the link to actual filename configured with envoy(/tmp/envoy_cpu_usage). I am doing this as `mv` operation is atomic.

Also the value of the injected_resour

[2019-11-05 12:44] prune998 commented on #8857
It seems it already includes the PR made for the issue you're pointing at. I still do have a really similar behaviour to this...
- using SSL
- few connexions
- memory increasing over time even without new connexions (which relates to `large body requests`, as it's a HTTP/2 stream, so a long lasting connexion where I send small chucks of data that finally piles up to give, in the end, a large body)

[2019-11-05 12:48] prune998 commented on #8857
Here's a graph from tonight run... 400 cnx (fading) and memory still increasing...
![image](https://user-images.githubusercontent.com/1110398/68209069-9881bb80-ffa0-11e9-903f-589e27fb3ed0.png)

[2019-11-05 13:49] slovdahl commented on #2590
I just stumbled upon this problem while trying to figure out why my local Envoy in a Docker container allowed my `curl` requests to spoof the `x-envoy-external-address` header when having Envoy configured to act as an edge proxy. It took me a while to figure out that the problem was that the source IP of my requests :slightly_smiling_face:

For reference, the configuration I use (inspired by https

[2019-11-05 16:12] #5395 closed

[2019-11-05 16:12] #8879 closed

[2019-11-05 16:30] kikogolk commented on #8666
Hey @dio ,

Sorry for the late answer, I was on holidays. I tested an Envoy v1.11.0 with your patch and it is working properly.

Thanks!

[2019-11-05 16:44] mattklein123 opened #8892 "udp: remove sendto/recvfrom"
For simplicity, we should standardize on sendmsg/recvmsg. There are only test uses currently of these functions and we can easily replace with test wrappers around sendmsg/recvmsg.

cc @danzh2010

[2019-11-05 16:45] mattklein123 commented on #8874
cc @snowp @zuercher

[2019-11-05 16:58] RamjotSingh commented on #129
As part of Windows port are there plans to support the FIPS 140-2 mode? https://www.envoyproxy.io/docs/envoy/v1.10.0/intro/arch_overview/ssl#fips-140-2

[2019-11-05 17:05] snowp commented on #8874
cc @nezdolik who did the per selector fallback work

[2019-11-05 17:37] derekargueta commented on #4705
@htuch done :)

[2019-11-05 17:52] nareddyt opened #8893 "Add more fuzz tests for logger_lib"
I think we would be better off having a full logging fuzz test. I appreciate folks adding fuzz tests as they go, but if we could get more coverage, i.e. by instantiating a logging context with different config options (escape, no-escape, randomized format strings) as well as having fuzzed inputs, we make better use of the cycles on ClusterFuzz. CC @asraa

_Originally posted by @htuch in https://gi

[2019-11-05 18:06] ascheglov opened #8894 "Compilation error in http_integration.cc"
The `HttpIntegrationTest::waitForNextUpstreamRequest` in test/integration/http_integration.cc has the following code:

[code]

and it fails to compile with
[code]

(gcc, opt build)

[2019-11-05 18:06] ascheglov opened #8895 "Compilation error in http_integration.cc"
The `HttpIntegrationTest::waitForNextUpstreamRequest` in test/integration/http_integration.cc has the following code:

[code]

and it fails to compile with
[code]

(gcc, opt build)

[2019-11-05 18:07] #8895 closed

[2019-11-05 18:15] ascheglov commented on #8894
The fix is trivial; I'll make a PR shortly.

[2019-11-05 18:46] nezdolik commented on #8867
Hello @chijinxina,  'close_connections_on_host_set_change' most likely would not work for long-lived grpc streams. Could you please provide sample Envoy config for me to confirm.

[2019-11-05 18:51] gongcon commented on #8777
Closed it too early. `reset` does not work as expected when a HTTP request times out. May be it's bug. Based on the document, seems it should be the right one.

[2019-11-05 19:16] ascheglov commented on #2052
Let's keep it alive for a while. Although I doubt that coroutines are better than callbacks, I'd like to give it a try and see how it would look like.

[2019-11-05 19:38] asraa opened #8898 "Announce security related usage changes for publicly disclosed vulnerabilities"
CVE-2019-15225 required a change to use `safe_regex`. The vulnerability was reported through a public GitHub issue and fixed on master, so there was no private disclosure announcement to distributors. Based on feedback from the Envoy 1.11.2 release, we should make sure we announce security related usage changes to distributors even if they went through a public fix process.

[2019-11-05 19:55] mattklein123 opened #8899 "HeaderCasingIntegrationTest test flake"
[code]

[2019-11-05 19:55] mattklein123 commented on #8899
cc @snowp

[2019-11-05 19:59] prune998 commented on #6617
My issue seem to be closely related to this one. Maybe we should re-open here ?

[2019-11-05 20:04] mattklein123 commented on #6617
@prune998 please debug in the other issue you opened. There is not enough information to know what is going on. We won't be reopening this issue unless we determine it is not fixed.

[2019-11-05 20:06] lizan commented on #8857
@prune998 let's debug more and see if that's true. Can you minimize a reproducer or get similar pprof as it shown in #6617?

[2019-11-05 20:17] prune998 commented on #8857
Just to add some more details :
![image](https://user-images.githubusercontent.com/1110398/68242008-bcafbd80-ffdd-11e9-88fc-e62e0937d8fe.png)

- red : number of active downstream connexions (SSL, GRPC)
- purple : upstream cnx, multiplexing the downstream cnx (GRPC no SSL)
- orange, not shown, active requests = number of streams to upstream = number of active downstream
- green : Heap memory used
-

[2019-11-05 20:28] lizan commented on #8857
@prune998 do you have your test client/server available some where and with the envoy config_dump? I can dig this deeper from there.

[2019-11-05 20:35] prune998 commented on #8857
I can't publish my code as it's our prod applications. But it's basic Go GRPC client/server, opening 100 of them in parallel. But I do have a GRPC test client with almost the same code, I'm working on it to make it usable to reproduce the issue.

I do have a pprof file (many in fact), I'm just too bad with pprof to get a conclusion.
Here's the output of `pprof --text  envoy profile.0384.heap`
http

[2019-11-05 20:42] lizan commented on #8857
Thanks the pprof is quite useful, I'll dig a bit more. let me know when you simple grpc client/server to reproduce this too.

[2019-11-05 21:02] asraa opened #8901 "Add an HttpSetting interface for common settings"
We currently have a struct to package HTTP/1.x and HTTP/2 codec settings. These settings are passed in to client and server codecs in `ConnectionImpl`. In addition to these settings, we also have settings that apply to both HTTP/1 and HTTP/2 connections.

These include configurations for the maximum size of headers (`max_request_headers_kb`), the maximum number of headers (`max_request_headers_cou

[2019-11-05 21:11] mattklein123 commented on #2832
Done!

[2019-11-05 21:11] #2832 closed

[2019-11-05 22:14] #8790 closed

[2019-11-06 00:50] diemtvu opened #8909 "Add `allow_missing` option for jwt_authn filter"
*Title*: Add `allow_missing` option for jwt_authn filter

*Description*:
We have use case that need to config JWT filter to reject request only when token is presented but invalid. In other words, if token is missing, request is still accepted. The existing API flag [`allow_missing_or_failed`](https://github.com/envoyproxy/data-plane-api/blob/master/envoy/config/filter/http/jwt_authn/v3alpha/confi

[2019-11-06 03:03] dio commented on #8777
@gongcon to clarify, this is the [`408 Request Timeout`](https://tools.ietf.org/html/rfc7231#section-6.5.7)?

[2019-11-06 03:06] dio commented on #8666
No worries @kikogolk, thanks for confirming. I have a PR (#8877) in-flight for this. This also starts the coverage for the integration test for `ext_authz`. Hope @gsagula can help to review it soon 🙂.

[2019-11-06 03:15] htuch commented on #4705
Thanks @derekargueta, that's a really nice cleanup. I'm switching this to "help wanted", since @yanavlasov has taken some high priority interrupts.

[2019-11-06 03:18] #8637 closed

[2019-11-06 03:27] #8715 closed

[2019-11-06 03:49] dio commented on #4705
We can remove the deprecated `HTTP_JSON_V1` from `ZipkinConfig.CollectorEndpointVersion` and consequently we can remove the v1 code that depends on rapidjson. Luckily, jaeger has this Zipkin v2 (`HTTP_JSON`) as well: https://github.com/jaegertracing/jaeger/issues/450. So we can still have the "drop-in" thing for the jaeger example. WDYT?

[2019-11-06 04:44] prudhvi opened #8911 "Statsd sink unable to send metrics via UDS if statsd agent starts after envoy starts."
*Title*: *statsd sink not able to send metrics to UnixDomainSocket address if the statsd agent didn't start before envoy starts*

*Description*:

*Repro steps*:

Successful:
[code]
Unsuccessful:
[code]
I think the issue might be due the fact we do [connect](https://github.com/envoyproxy/envoy/blob/v1.11.2/source/extensions/stat_sinks/common/statsd/statsd.cc#L27) even for Datagram type in UDS and a

[2019-11-06 05:21] roobalimsab opened #8912 "Envoy Connections are refreshed when using control plane"
*Description*:
We are using golang envoy-control-plane to update the envoy routing configs. Envoy acts as a proxy for grpc requests (persistent connections). What we noticed is, whenever the routing configuration is reset after getting the snapshot from the control plane, all the connections are dropped and recreated.

We are updating the config snapshot every 10 seconds using SetSnapshot and a ne

[2019-11-06 09:27] vgsub opened #8914 "how to pass x-b3-* headers into ext authz grpc server"
Hi guys, I'm trying to pass zipkin trace and span Ids into my java based ext auth server, but it seems like it cannot be done. Here is my config:

[code]

Here is the log of a test request:

[code]

gRPC metadata contains all needed headers but they are not accessible inside AuthorizarionGrpc service, #7272 is related to that.

My question is: is there any way to fetch these headers or put them in

[2019-11-06 11:08] nezdolik commented on #8874
Hi @MarcinFalkowski, thank you for reporting the bug.
Below test reproduces the case:
[code]

[2019-11-06 11:35] #8434 closed

[2019-11-06 12:11] twfx7758 opened #8916 "Unable to find package for @rules_cc//cc:defs.bzl"
Version: v1.12.0
ERROR: /root/.cache/bazel/_bazel_root/e7edfd76dba396281986d061d97b39c0/external/envoy_api/envoy/api/v2/BUILD:7:1: error loading package '@com_goog
le_protobuf//': Unable to find package for @rules_cc//cc:defs.bzl: The repository '@rules_cc' could not be resolved. and referenced by '@envoy_api//envoy/api/v2:pkg_cc_proto'

[2019-11-06 12:18] prune998 commented on #8857
Hi,

My client/server is up to date at https://github.com/prune998/goHelloGrpcStream
You can use the Docker image prune/gohellogrpcstream:latest
You have 2 binaries of interrest :

`loadtest_client` is the client application which will open a HTTP/2 stream and send pings
`greeter_server` is the server that will listen on port 7788 and do nothing...

I started the client like :
[code]

The server j

[2019-11-06 12:53] prune998 commented on #8857
I have some news here : The memory consumption also happen when not using SSL at all !
i'm currently stripping the config dump to remove sensible and non-useful informations.

[2019-11-06 13:15] prune998 commented on #8857
Here's the config. Note the dump was made when `greeter_server` pod had no Istio sidecar, to ensure the multiplexing done by envoy gateway was not playing in this issue.

[envoy_istio_config.json.zip](https://github.com/envoyproxy/envoy/files/3814541/envoy_istio_config.json.zip)

[2019-11-06 15:54] htuch commented on #4705
@dio I think almost all uses of JSON can be replaced with the Protobuf implementation, which can both parse and generate JSON via `Struct` representation.

[2019-11-06 16:49] prune998 commented on #8857
I tried reproducing with plain Envoy, outside of K8s and Istio... and can't reproduce with a simplified config...

[2019-11-06 17:22] mattklein123 commented on #8911
Thanks for the report. I'm doing a bunch of UDP work now and can potentially take a look at fixing this. Also related to https://github.com/envoyproxy/envoy/issues/1028

[2019-11-06 17:23] snowp opened #8917 "Test flake in //test/extensions/clusters/redis:redis_cluster_integration_test"
The test has failed several times in CI due to a timeout:
https://dev.azure.com/cncf/envoy/_build/results?buildId=18375
https://dev.azure.com/cncf/envoy/_build/results?buildId=18300

Based on the first output the issue seems to be in `IpVersions/RedisClusterWithAuthIntegrationTest.SingleSlotMasterReplica/IPv4`:
[code]

but other runs don't output anything, so there might be something else going on

[2019-11-06 17:46] #8894 closed

[2019-11-06 18:15] slovdahl commented on #2590
I just realized that another way of solving our use-case would be if Envoy supported removing any `x-forwarded-for` header on an incoming request, before Envoy sets it itself. Or is this somehow possible already? I have tried using `request_headers_to_remove`, but that just causes the `x-forwarded-for` header to be completely removed from the request that the backend sees as well.

[2019-11-06 18:24] lizan commented on #8857
@prune998 thanks for the information, this is very helpful. Based on that I don't think this is the same issue as #6617, while the root cause could be similar. I'll debug with your test server/client today.

[2019-11-06 18:29] uromahn commented on #288
Wow, this is quiet "old".
Just adding a comment so the issue gets a freshness bump.
We are interested in this too and I might start working on it, provided I can free up enough time from my "normal" day job.

[2019-11-06 18:52] gongcon commented on #8777
No, the case is when server does not response on time or not response at all, for example, `per_try_timeout` is set to 100ms yet the server responses in 200ms, Envoy should terminate the request and retry at 100ms. `5xx` and `gateway-error` have this behavior but `reset` does not.

[2019-11-06 19:03] asraa commented on #8567
I'm taking care of what I thought were some mechanical changes, but have a performance impact. I'd like to drive by some of the changes that this would require.

Part of the challenge is that these inline header methods allow direct access to an inline `HeaderEntry`, bypassing the need for a lookup in `HeaderMap` methods that take a `LowerCaseString` key. For example, one mechanical change was to

[2019-11-06 19:06] mattklein123 commented on #8912
If you use EDS for upstream host changes, there should be no effect to the connections of existing hosts.

[2019-11-06 19:07] jmarantz commented on #8567
Can we add an API:
[code]
that would avoid exposing the non-const ref but still be O(1)?

[2019-11-06 19:11] mattklein123 commented on #8567
@asraa how many different cases are there that you need to cover? Per @jmarantz I'm wondering if we should just add the extra methods? It's all done by macro and everything mostly gets inlined so it doesn't seem that bad to me?

[2019-11-06 19:14] asraa commented on #8567
Yeah, that would be easiest. I would prefer to do it the macro way so long as it doesn't seem too messy. I would need to handle the cases of adding values that will or will not be copied (`addReference`/`addReferenceKey`), and similar for `setReference`/`setReferenceKey`.

[2019-11-06 19:26] #8649 closed

[2019-11-06 19:54] lizan commented on #8916
@twfx7758 which version of bazel are you using? Follow instruction at https://github.com/envoyproxy/envoy/blob/master/bazel/README.md#installing-bazelisk-as-bazel to use right version of Bazel.

[2019-11-06 20:00] lizan commented on #8909
@diemtvu I think you can reject failed JWT today with RBAC behind it, no?

In terms of API change, I prefer option 1 to deprecate `allow_missing_or_failed` and add `allow_missing` and `allow_invalid` instead. JWT rules can handle OrList so the original behavior can be achieved by that.

[2019-11-06 21:21] asraa commented on #8567
OK I dug around a little bit and need to edit the comment above:
It would only require set methods. I'd add a `set##name##Reference`, `set##name##Copy`, and `set##name##Integer`.

All of the calls to append a header value to an inline header by comma concatenation go through the `addReference` API call, with the O(1) added lookup:
https://github.com/envoyproxy/envoy/blob/373af7564f4e943112456bf400

[2019-11-06 21:48] diemtvu commented on #8909
Yes, it's possible, but not very trivial and error prone. Request with
invalid token is more suspicious and should be treated separately. I like
the suggestion of having 2 fields. Both of them can be set to have the same
behavior as allow_missing_or_failed.

On Wed, Nov 6, 2019 at 12:02 PM Lizan Zhou <notifications@github.com> wrote:

--

Diem Vu | Software Engineer | diemvu@google.com | +1 408-21

[2019-11-06 21:55] qiwzhang commented on #8909
I am ok with adding two fields; allow_missing, and allow_failed.  We can mark the old field allow_missing_or_failed "deprecated"

[2019-11-06 21:56] mattklein123 commented on #8567
@asraa SGTM

[2019-11-06 22:15] #4251 closed

[2019-11-07 00:19] stevenzzzz commented on #7829
/nostale?
On Wed, Nov 6, 2019 at 11:36 AM stale[bot] <notifications@github.com> wrote:

--
Xin Zhuang

[2019-11-07 00:56] lizan commented on #8857
@prune998 from your istio config.json

[code]

Is the reason of the increasing memory. Try disable retry policy for your service. I can reproduce the increasing memory with the route setting above.

[2019-11-07 01:35] mandarjog opened #8923 "Segfault on hotrestart: in sendDiscoveryRequest() during InstanceImpl::terminate()"
This using latest nearly the latest version of Envoy built with Istio-proxy.

sendDiscoveryRequest is being sent during the `Envoy::Server::InstanceImpl::terminate()` sequence.

@htuch  @lambdai

[code]

[2019-11-07 01:35] #8432 closed

[2019-11-07 01:59] prune998 commented on #8857
I'll try this tomorrow morning first thing and let you know. Thanks

[2019-11-07 02:40] lambdai opened #8924 "Protecting envoy from stacking events on the same fd"
*Description*:
The way envoy FileEventImpl use libevent is tricky. If two FileEventImpl refer to the same fd, eventually the assigned events are stacked
and it's probably hard to recover the intention of each other.

https://github.com/envoyproxy/envoy/pull/8922 is the one I encountered but I believe there are more hidden.

We need to figure out
1. what is pattern we should follow all over envoy,

[2019-11-07 02:40] lambdai opened #8925 "Protecting envoy from stacking events on the same fd"
*Description*:
The way envoy FileEventImpl use libevent is tricky. If two FileEventImpl refer to the same fd, eventually the assigned events are stacked
and it's probably hard to recover the intention of each other.

https://github.com/envoyproxy/envoy/pull/8922 is the one I encountered but I believe there are more hidden.

We need to figure out
1. what is pattern we should follow all over envoy,

[2019-11-07 02:43] lambdai commented on #8925
The  systemtap script I used to confirm the source of  level trigger
[code]

[2019-11-07 02:54] twfx7758 commented on #8916
bazel version 0.28.1 thanks

[2019-11-07 03:06] twfx7758 commented on #8916
thank you very much

[2019-11-07 03:06] #8916 closed

[2019-11-07 03:45] mattklein123 commented on #8923
@mandarjog I assume this crash includes https://github.com/envoyproxy/envoy/commit/443bc3345b0e3db99a3df03d52f317697b99d5d7?

If so I assume it's a regression from that. @fredlas @wgallagher can you take a look? If the fix isn't quite we should revert that PR until we understand it. Thank you!

[2019-11-07 03:48] mattklein123 commented on #8925
Related to https://github.com/envoyproxy/envoy/issues/4546. I believe that once we remove fd entirely from being exposed by the IoHandle, we will need to produce IoHandles from the dispatcher, thus there can be internal state about ownership, etc. and it should be a lot easier to track this IMO. cc @danzh2010

[2019-11-07 03:59] lizan commented on #8857
JFYI reproducer config:
[code]

[2019-11-07 04:01] kyessenov opened #8927 "DELTA_GRPC used for GRPC api type"
I'm seeing delta xDS requests sent for CDS set to use regular GRPC api_type:
[code]

This is for the bootstrap https://github.com/envoyproxy/go-control-plane/blob/master/sample/bootstrap-xds.yaml

[2019-11-07 04:03] nrjpoddar commented on #8857
@lizan looking at the Envoy config I don't see anything incorrect about the way Istio is producing the listeners. Are you hinting at misconfiguration or bug in Envoy which gets exposed via this config?

[2019-11-07 04:03] kyessenov commented on #8927
The effect is that the config push is stalled since the server does not implement DELTA_GRPC method.

[2019-11-07 04:04] mattklein123 opened #8928 "tls: remove utility lib extension from normal buld"
[code]

This is a really bad experience for everyone doing custom builds, as this won't blow up until runtime AFAICT.

@venilnoronha this needs to be redone in such a way that this is included by default on normal builds and the openssl stuff overrides it somehow. Can you take a look at this please or we will need to revert the related change. Thank you!

cc @lizan

[2019-11-07 04:04] mattklein123 commented on #8928
cc @moderation also

[2019-11-07 04:06] mattklein123 commented on #8927
Another likely regression from https://github.com/envoyproxy/envoy/commit/443bc3345b0e3db99a3df03d52f317697b99d5d7. cc @fredlas @wgallagher.

We will likely revert that commit tomorrow if so as there is another issue reported.

[2019-11-07 04:07] mattklein123 commented on #8928
Related to https://github.com/envoyproxy/envoy/pull/8745/files

[2019-11-07 07:20] enbohm commented on #6520
@mattklein123 I'm not sure this issue has been resolved (=external http auth service does not get the required tracing header as in version 1.9.0). Should it be re-opened or shall I create a new issue?

[2019-11-07 07:30] wallyatgithub commented on #7403
Hi,

Just want to make sure, will this enhancement also be applicable to Original destination cluster?

Thanks a lot,
Wally

[2019-11-07 07:38] lizan commented on #8857
@nrjpoddar No, IMO this is not a bug in Envoy in Istio, it is more misconfiguration of Istio, just like the doc says https://istio.io/docs/concepts/traffic-management/#retries:

So for this service, the retry policy need to be adjusted.

[2019-11-07 07:42] lizan commented on #8857
However I think it is possible to make router not to buffer request anymore in certain case, if it can't be retried anyway. Such as server already started response stream. WDYT? @mattklein123 @snowp

[2019-11-07 08:57] #1382 closed

[2019-11-07 09:00] vgsub commented on #8914
Resolved by adding grpc opentracing + opentrace-brave (https://github.com/opentracing-contrib/java-grpc)

[2019-11-07 09:00] #8914 closed

[2019-11-07 10:48] Inego commented on #7413
How can this be achieved, if, according to [`x-envoy-retry-grpc-on` documentation](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/router_filter#x-envoy-retry-grpc-on), only header codes are supported?

[2019-11-07 11:57] #1851 closed

[2019-11-07 13:23] prune998 commented on #8857
I think you pointed the right thing @lizan.
I changed the `VirtualService` like :

[code]

and the memory problem is gone.

The way I understand this is that when you set a `retry` option to the route, the whole HTTP request is buffered by Envoy.
As I'm using GRPC Streaming, the connexion never ends and the whole data, since the opening of the connexion, is buffered.

If nothing can be done to "no

[2019-11-07 14:33] wgallagher commented on #8923
Fred's change removes GrpcMuxImpl (referenced in the stack) so I think this bug exists before 443bc33. It's possible that Fred's change fixes it or at least changes the failure mode. I'll dig deeper.

[2019-11-07 14:38] wgallagher commented on #8923
Envoy version: 3bc62393c89fcb33889fca77c244db1fc3cef05b/1.12.0/Clean/RELEASE/BoringSSL

[2019-11-07 15:00] wgallagher commented on #8923
I think the issue here is that the GrpcMuxImpl is being destroyed before a GrpcWatchImpl that refers to it. They're both owned by a GrpcSubscriptionImpl. The non-owning reference to the GrpxMuxWatchImpl comes from GrpcMuxImp::api_state_:

std::unordered_map<std::string, ApiState> api_state_;

ApiState is defined as:

  struct ApiState {
    std::list<GrpcMuxWatchImpl*> watches_;
    ...
  }

The c

[2019-11-07 15:38] nrjpoddar commented on #8857
@lizan that's what I was thinking. For me, Envoy keeping requests that are inherently not retry-able seems wasteful. This optimization will always be best effort I guess as there can be other scenarios/protocols where Envoy won't know when to throw away buffered requests for retries.

[2019-11-07 15:40] prune998 commented on #8857
Maybe just stop buffering if the buffer get too big or the connexion last for too long ?

[2019-11-07 15:49] eziskind commented on #8690
@madhu-shankar That looks like it should work and the fact that you are seeing the stats update means that the file is being read successfully. Can you replicate this with debug logs enabled (and attach to this issue)?

[2019-11-07 15:56] snowp commented on #8857
There are options for limiting the size of the buffer used for retries: https://github.com/envoyproxy/envoy/pull/8574

It seems like we won't ever retry if the downstream response has started, so it seems like it would make sense to also stop buffering in that case, maybe even clearing out the decoding buffer. @alyssawilk might have thoughts here

That said, I can imagine certain gRPC bidi streams

[2019-11-07 16:14] prune998 commented on #8857
What are your thinkings on the fact that Envoy never free the memory ?
Like if one client make a "huge" 1Gb request, Envoy process will consume 1Gb of memory until it is restarted ?

At least I've never seen release any memory yet, even after some days without any requests...

[2019-11-07 16:58] fredlas commented on #8923
Thanks very much for looking into this, Bill! I was of course afraid of something like this with the big refactor, and at first glance this certainly looked like such a problem. Being able to just read further down and see someone establishing that it's not that is a real relief :D

The watches are probably the most changed thing in the new code. I think I understand what the problem was here, and

[2019-11-07 16:59] mattklein123 commented on #7403
Yes it should be once implemented.

[2019-11-07 17:02] mattklein123 commented on #8857
Agreed, though it's hard to magically know about streaming requests, there are signals we can use to drop the buffer. Please open a fresh issue on this, this issue is too long and confused.

This is a well known behavior of tcmalloc, it does not typically like to give memory back to the OS. You need to either limit the amount of memory Envoy consumes in the first place and/or you can try configuri

[2019-11-07 17:13] fredlas commented on #8927
What version of Envoy? This sounds at least vaguely similar to the problem that #8587 solved (I don't think the problem itself ever got an issue filed I can link to).

Looking at the new code, a GrpcStream<Delta> is only ever held by a GrpcMuxDelta. The only places those are created are https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/cluster_manager_impl.cc#L246 and https://

[2019-11-07 17:20] #8070 closed

[2019-11-07 17:39] kyessenov commented on #8927
@fredlas This is a build from master (commit c2eae094ce28b90861f785762f0f9d5ecfcd837c). Just try to run the provided bootstrap and observe the delta request.

[2019-11-07 17:48] kyessenov commented on #8927
@fredlas I built envoy right before https://github.com/envoyproxy/envoy/commit/443bc3345b0e3db99a3df03d52f317697b99d5d7 and it doesn't invoke Delta calls.

[2019-11-07 17:49] mattklein123 commented on #8927
I'm inclined to revert the big PR given this and the other issue, until we sort this out. Any objections @fredlas @wgallagher?

[2019-11-07 17:52] fredlas commented on #8927
Did you try rebuilding right at https://github.com/envoyproxy/envoy/commit/443bc3345b0e3db99a3df03d52f317697b99d5d7 ? Just in case the earlier one you were running was not built at the version you thought? I know that's unlikely, but as I described, there are some fairly straightforward parts of the code that make this all seem impossible.

[2019-11-07 17:56] fredlas commented on #8927
(I will also give running it a try)

[2019-11-07 17:57] kyessenov commented on #8927
Yeah, https://github.com/envoyproxy/envoy/commit/443bc3345b0e3db99a3df03d52f317697b99d5d7 is the commit when it starts calling Delta RPCs.

[2019-11-07 17:59] kyessenov commented on #8927
@fredlas You might have inadvertently activated some latent bug. It's hard to tell but easy to reproduce, so should be fairly easy to trace the root cause.

[2019-11-07 18:09] htuch opened #8933 "Per-extension empty message configs"
In v2, we used `google.protobuf.Empty` for the configuration for simple extensions that didn't require custom configuration. Now that we have `Any` as the canonical method for specifying extensions, this doesn't work as well, since it makes it difficult to move to a versioned per-extension message without breaking wire compatibility within a major version.

As part of the v3 works, we should give

[2019-11-07 19:04] eziskind commented on #8690
@madhu-shankar I've tried to replicate this issue by toggling the injected resource between 0.5 and 0.75 and envoy always reacts properly - the 2 stats  (overload.envoy.overload_actions.stop_accepting_requests.active and overload.envoy.resource_monitors.injected_resource.pressure) always get updated correctly.

ie. after running this active=0 and pressure=50
`echo 0.5 > /tmp/envoy_cpu_usage_target

[2019-11-07 19:39] fredlas commented on #8927
Ahhhhh ok, tried it myself and saw the error. I appreciate the charitable interpretation of possibly uncovering a latent bug! That was certainly my next guess. But, I read the code over again, and found a really stupid copy+paste mistake in my own code: there is a utility function that retrieves the gRPC method descriptor, with one version for delta and one for SotW, and I copied the delta twice.

[2019-11-07 19:43] fredlas commented on #8927
@kyessenov  #8935. Probably I should add a test, but I wanted to get the change visible ASAP.

[2019-11-07 19:46] kyessenov commented on #8927
I think there needs to be a test to prevent this from the future. This could have caused a pretty bad breakage of xDS servers.

[2019-11-07 19:55] #8928 closed

[2019-11-07 20:15] htuch commented on #8121
Re: extensions, @mattklein123 have discussed offline the need to have better consistency between the handcrafted RST docs for extensions and the API generated docs, in particular in light of https://github.com/envoyproxy/envoy/pull/8906. Leaving this comment to track further work here.

[2019-11-07 20:17] enbohm commented on #8639
I faced similar issues using Envoy as a proxy in front of Quarkus applications (see https://github.com/quarkusio/quarkus/issues/4572). This started when Quarkus changed their HTTP layer to Vert.x. It seems to have something to do with socket timeout and keep-alive (connection pooling) between Envoy and Vert.x that does not match. I managed to solve this by setting max_requests_per_connection to 1

[2019-11-07 20:18] ahmedelbazsc commented on #8764
@snowp Is it possible to use the load-assignment example above with 1 or 2 endpoints per locality. I get the crash when changing the priority of all localities to 0.

I also attempted to use `named_endpoints` for EDS response, instead of embedded endpoints inside each locality LbEndpoint, to see if it addresses the point of assuming new hosts on priority updates. It seems to me Envoy does not read

[2019-11-07 20:18] MylesBorins commented on #5155
FWIW I highly suggest moving from http_parser to llhttp. There was even discussion about changing the defaults in 10.x during LTS due to lack of ability to continue to support the deprecated parser

[2019-11-07 20:20] mattklein123 commented on #5155
I will update the title of this issue. We are switching. @derekargueta is working on it.

[2019-11-07 20:21] snowp commented on #8764
Yeah I think that was never implemented, I'll update the API docs to reflect this

[2019-11-07 20:38] #8683 closed

[2019-11-07 20:42] PabloDeCortes opened #8937 "Upstream connect error or disconnect/reset before headers"
Hi, I'm simply trying to configure envoy as reverse proxy, but when I'm trying to proxy to my docker container, I see error `upstream connect error or disconnect/reset before headers. reset reason: connection failure`. Could you, please, point me, where I misconfigured envoy.

*docker-compose.yml:*
[code]
*envoy.yml:*
[code]

[2019-11-07 20:50] zuercher commented on #8937
The error implies that the upstream host (nginx:7000) either refused the connection or accepted it and closed before request headers were forwarded. Seems like a docker config/networking problem rather than a misconfiguration of Envoy. If you look at debug level logs from Envoy (run with `-l debug`) you should be able to see the relevant IP addresses and debug.

[2019-11-07 21:05] snowp commented on #8764
I've been trying to repro this on master /w an integration test, but haven't had much luck: https://github.com/envoyproxy/envoy/compare/master...snowp:wip-eds?expand=1

[2019-11-07 22:32] kyessenov opened #8940 "TSAN warning"
Detected in Envoy 1.12:
[code]

[2019-11-07 22:35] ahmedelbazsc commented on #8764
Thanks @snowp .. does the cluster associated with load-assignment in the test have active health checking configured? I verified that turning off active health checking does not cause the issue. Also not sure if this manifests for endpoints with active health check sessions on valid IPs.

[2019-11-07 22:36] howardjohn opened #8941 "Crash when using google_grpc and cannot read secret_data from file"
**Issue Template**

*Title*: Crash when using google_grpc and cannot read secret_data from file

*Description*:
We have some SDS config using google_grpc with call_credentials like so:

[code]

When the filename reference in secret_data cannot be read, Envoy is crashing. In my case, this was due to file permissions, but apparently the same issue occurs from the file not being there at all.

*Repro

[2019-11-07 22:59] mattklein123 commented on #6630
Saw this flake, not sure if related:
[code]

[2019-11-08 00:23] dio commented on #6520
@enbohm

I tried to modify the config of jaeger-tracing example as follows:

[code]

The `dio123/dump:1.0.0` acts as an external authz service and dumping the headers being sent to it. When I do `curl localhost:10000/trace/2` I can see the headers are forwarded to it.

[code]

[2019-11-08 01:09] jaricftw commented on #7396
Can we re-open the issue? Looks like a short-term fix is just to expose `DOWNSTREAM_REMOTE_ADDRESS` for header customization.

[2019-11-08 01:31] ascheglov opened #8944 "Use response_headers_to_add for Envoy-generated error responses"
On events like a request timeout, Envoy sends a locally generated response (the `sendLocalReply` function). But it doesn't use the `response_headers_to_add` config option. Which could be useful when `response_headers_to_add` has some diagnostic information (e.g. the `%REQ(x-request-id)%` which was added in #8683)

We can fix this by adding `finalizeResponseHeaders` calls before `sendLocalReply` ca

[2019-11-08 01:57] yittg opened #8946 "More clear metadata document"
*Title*: *More clear metadata docuement*

*Description*:
It is a bit unclear what metadata is and how to use the metadata, the naming rules etc.
We need a clear and full document about it.

 *Relevant Links*:
https://www.envoyproxy.io/docs/envoy/latest/configuration/advanced/well_known_dynamic_metadata

cc @mattklein123 @htuch

[2019-11-08 01:57] ascheglov opened #8947 "Ability to rename request headers"
Now that we can use request headers in the `request_headers_to_add` option, one might want to rename a header:

[code]

However this will not work, because `HeaderParser::evaluateHeaders` removes headers first.

[code]

This was introduced in #5052 : "reverses the order of header evaluation as a solution to deduplicating request/response headers".

There are multiple ways to approach this header-r

[2019-11-08 05:42] aaron-ai opened #8948 "how could I start a spontaneous DeltaDiscoveryRequests in my own extension?"
I saw that envoy added delta cds support in the latest release version. the official docs showed that envoy client could start a **spontaneous DeltaDiscoveryRequests**  to the discovery service.

we developed an extension for our middleware in our team, but we did not intent to allocate all cds resources, because the price ( the large size of "state-of-the-world" resources ) was too heavy to affor

[2019-11-08 06:04] enbohm commented on #6520
@dio Thanks for sharing. I have the exact same configuration
[code]

but does not get these headers to propagate in v.12.0. Will cont. to investigate and debug during the day - will get back within shortly!

[2019-11-08 07:25] enbohm commented on #6520
...and this is my whole Envoy v.1.12.0 config. Will try to create a example project where I dump the headers received and see if anyone can understand why they are not propagated. What is a bit interesting is that I seem to get headers that shouldn't be propagated, but filtered out by the allowed_headers-section. For instance, if I add a custom header in the request, e.g. 'MyCustomHeader', that is

[2019-11-08 12:19] enbohm commented on #6520
I've now create an example with a frontend envoy proxy (v.1.12.0), one auth-service and one simple backend service (see https://github.com/enbohm/envoy-tracing) which shows that the B3-header are not propagated to the external auth service.

I can see that Envoy is part of the trace along with the simple backend service (see screenshot in the example repo). BUT no B3-headers are propagated to the

[2019-11-08 12:31] yskopets opened #8952 "integration tests: call to `tcp_client->waitForDisconnect()` gets stuck indefinitely on some Linux builds"
*Title*: call to `tcp_client->waitForDisconnect()` in integration tests gets stuck indefinitely on some Linux builds

*Description*:

I'm trying to create an integration test for a negative use case where a client connects to `envoy.tcp_proxy` but connection must be closed because there are no healthy upstreams.

Originally, the test case looked like this:
[code]

but it was consistently failing o

[2019-11-08 16:41] #6630 closed

[2019-11-08 16:48] mattklein123 commented on #8948
What you are asking for is what we are calling "on demand" vs. "basic delta xDS."

I'm not sure of the current status of "on demand." AFAIK OSS development hasn't started for anything other than VHDS. cc @htuch @wgallagher @fredlas

[2019-11-08 17:28] mattklein123 commented on #8888
TL/DR we don't support this today, but this is also discussed in https://github.com/envoyproxy/envoy/issues/7218. There hasn't been a good proposal yet on how we would encode upstream information into the session cookie.

[2019-11-08 17:29] jplevyak commented on #8940
I can do take this one.

[2019-11-08 17:42] markdroth opened #8953 "Need a way for RouteAction to indicate that a filter will choose the cluster"
Today, the `RouteAction` proto contains a `oneof` that provides [3 different ways to select the cluster](https://github.com/envoyproxy/envoy/blob/6e5cf6fb3e7578931028327be2e039322fa7c1e6/api/envoy/api/v2/route/route.proto#L660):

- hard-coded cluster name
- header from which to read the cluster name
- the WeightedClusters mechanism

We would like to write an HTTP filter that can override the clust

[2019-11-08 17:47] ascheglov opened #8954 "Add upstream address to tracing child spans"
Would help to know to which upstream endpoint the request went to.

[2019-11-08 19:24] fredlas commented on #8948
Adding @dmitri-d, the author of the VHDS work.

[2019-11-08 20:11] zuercher commented on #8947
I think we're somewhat constrained to how we can change this for API v2, but for API v3 I think we should consider a more generic way of defining header modifications. Instead of having 2 or 3 or more fields that manipulate headers I think we should have (roughly):

[code]
(Obviously the message would not be inline and there are a number of validations that I've omitted for brevity.)

I think this

[2019-11-08 20:32] #8519 closed

[2019-11-08 20:41] htuch commented on #8395
This is now completed at https://github.com/envoyproxy/envoy/security/advisories?state=published

[2019-11-08 20:41] #8395 closed

[2019-11-08 21:22] #8328 closed

[2019-11-08 21:40] kyessenov commented on #8941
I can take care of this. This is actually an example of a category of bugs on the interface of envoy exception-throwing code and google's calling it via callbacks. This probably needs a disciplined solution to assess if there is any other callback from google code into Envoy.

[2019-11-08 21:42] htuch commented on #8948
We have most of the hooks in place for on-demand CDS, as we have built this internally at Google. https://github.com/envoyproxy/envoy/blob/5db71247a952964da1c405b2855361ba9d41a7d2/source/common/upstream/cluster_manager_impl.h#L235 is key to this. But, it would be awesome if someone implements the on-demand CDS in xDS as specified. When VHD settles, that should have already thrashed out some of the

[2019-11-08 21:43] #8769 closed

[2019-11-08 22:08] lizan commented on #8558
@wbertelsen https://www.envoyproxy.io/docs/envoy/latest/install/building documented that C++14 is a requirement. Feel free to raise PR if you think this can be clearer.

[2019-11-08 22:08] #8558 closed

[2019-11-08 22:13] lizan commented on #5412
@mattklein123 re: 1) after #8488 you can run test binary outside bazel without anything special (just invoke `bazel-bin/test/<binary>`). only general core dump configuration are needed.

[2019-11-08 22:24] mattklein123 commented on #5412
Cool SGTM will close. Thank you!

[2019-11-08 22:24] #5412 closed

[2019-11-08 23:45] #8575 closed

[2019-11-09 00:49] aaron-ai commented on #8948
Thanks. your answer clear up my confusion to some extent.

if I expose `updateResourceInterest` in class ClusterManager through `cds_api_`:

in `cds_api_impl.h`, I added:
[code]
and I set `api_type` in ADS to `DELTA_GRPC`, then I can call `updateClusterInterest` to notify GRPC server to transfer the cluster resource I need,  is this an appropriate approach ?

[2019-11-09 03:02] oulinbao commented on #8639
@enbohm Thanks for your information. I also think it is a connection reuse problem. I will try your method. I am also trying to set idleTimeout to a small value, hope to solve this problem.

[2019-11-09 12:07] prune998 commented on #8639
Upgrade to Istio 1.3.4 where some bugs were corrected in istio's pilot.

[2019-11-09 17:20] #8768 closed

[2019-11-09 17:21] #6520 closed

[2019-11-09 20:05] enbohm commented on #6520
I've tried confirming that this is now working but I can't even get Envoy start (using envoyproxy/envoy:latest). Keep getting these logs
[code]
I have also tried using this image
[code]
which starts as expected but no headers are unfortunately present in the external auth service.
Can anyone confirm with a screenshot or logs that this is working? Thx in advance.

[2019-11-09 20:45] cgilmour commented on #6520
Try with this image: `envoyproxy/envoy-dev:2c830f1aace9970e132440ade31f3c460f250d23`

[2019-11-09 20:53] enbohm commented on #6520
@cgilmour it works - victory :) Thank you all for a great job!

[2019-11-10 08:20] ptone commented on #3876
For those looking for a solution to this, I found a way to do it with

[code]

Then if you are using a golang authz server, you can retrieve from `audhost, ok := req.Attributes.ContextExtensions["aud_host"]`

[2019-11-10 10:32] derekargueta opened #8966 "Enable Configurability of Internal Redirect HTTP Codes"
The internal redirect feature on the router is [hard-coded](https://github.com/envoyproxy/envoy/blob/master/source/common/router/router.cc#L1101) to HTTP 302 Found. There are other HTTP status codes that are a redirect-type with a `location` response header to tell the client where to go. This includes
* HTTP 301 Moved Permanently
* HTTP 307 Temporary Redirect
* HTTP 308 Permanent Redirect

We sho

[2019-11-10 10:49] hendrikhalkow commented on #2852
I'd like to add transparent encryption and decryption to the list of features. In contrast to just doing TLS, this would allow me to have a zero knowledge broker.

[2019-11-10 15:26] #8937 closed

[2019-11-10 16:20] ascheglov commented on #8550
I think it should be controlled by an URL option, e.g. `/config_dump?short`

[2019-11-10 18:06] htuch commented on #8947
@zuercher I agree; I'm going to tag this as v3 related. For v2, I feel a rename addition would be fine.

[2019-11-11 01:59] htuch commented on #8948
I think this is the right direction, but you probably don't want to expose the ability to change the full resource set; instead, you want to have an additive method, i.e. `addClusterToInterest`

[2019-11-11 02:07] htuch commented on #8966
@derekargueta could https://github.com/envoyproxy/envoy/pull/8921 be used to some effect here?

[2019-11-11 07:57] ankit-joinwal opened #8967 "Multiple Rate limit configurations based on request attributes"
Hi i am using Envoy along with Ratelimit (https://github.com/lyft/ratelimit)

The setup is working fine. It is able to rate limit on simple scenario (using generic_key descriptor)

I now want to rate limit with following scenario

- If request contains header called "referrer-app" and destination cluster is "ServiceA", restrict to 100 RPM
- Else if request does not contain a header called "referre

[2019-11-11 08:07] idouba commented on #7624
@mattklein123 sorry to ping again, what's the status of this issue?

[2019-11-11 18:07] htuch commented on #8967
@junr03 can you take a look at this?

[2019-11-11 19:49] #8927 closed

[2019-11-11 19:49] baranov1ch opened #8970 "Active HC outlier detection remote sink"
*Active HC outlier detection remote sink*

*Description*:
It would be nice to have an ability to stream active healthcheck and outlier detection events into some sort of remote gRPC service. For now, only file sinks are available. Having gRPC interface would allow having unified reporting infrastructure, i.e. report everything to gRPC endpoints, instead of having gRPC endpoint for access logs, but

[2019-11-11 19:54] junr03 commented on #8967
For clarity, you only need the second set of actions to accomplish what you are describing, so:

[code]

is enough.

The request headers action should only send a descriptor when the request has a header with the key `header_name`. What do your request headers look like for the requests that should not be sending both descriptors?

How have you verified that envoy always sends both descriptors?

[2019-11-11 20:26] xyu-stripe opened #8971 "`strict_check_headers` has no effect for unix domain listeners"
*Title*: *[`strict_check_headers`](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/router/v2/router.proto#envoy-api-field-config-filter-http-router-v2-router-strict-check-headers) doesn't work for [unix domain socket listeners](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/address.proto.html?highlight=pipe#core-pipe)*

*Description*:
Specifying `strict_check_

[2019-11-11 20:47] #8053 closed

[2019-11-11 21:18] derekargueta commented on #3326
@mattklein123 For this I imagine we still want to increment `deprecated_feature_use` for each deprecated flag used? (I ask because if so then a bit of extra plumbing will be needed since option parsing happens before the runtime is created)

[2019-11-11 21:30] mattklein123 commented on #3326
Yeah for anything we want to deprecate at this point we have to both warn, increment the stat, and go through the multi-version deprecation with warn -> fail -> delete.

[2019-11-11 21:36] derekargueta commented on #8393
unstale

[2019-11-11 21:52] zuercher commented on #8971
In the pipe case, the header is being stripped out because the request is considered to be an external request. This [page](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/header_sanitizing.html) describes how that's done for the HTTP over TCP case, but it turns out that unix sockets are treated as external by default.

If you add the following to your HTTP connection

[2019-11-11 21:54] zuercher commented on #8971
We should update the docs to refer to this.

[2019-11-11 22:13] diemtvu commented on #8909
I'm looking at the current spec and implementation, and I'm afraid it might not work.

For the semantic we want (for each jwt requirement, allow missing, but if token provided, it must be valid), the "allow_missing" should be bound to the (provider) requirement. The best spec to describe this will be smt like this:

[code]

However, the `allow_missing_or_failed` (which `allow_missing` is likely ba

[2019-11-11 22:29] lizan commented on #8909
That seems a bug and can be fixed in implementation.

Won't this add ambiguity to the requirement when it is used with `requires_any`? For example, (just taking your second example and modified):

[code]

is ambiguous and confusing, no? even the second (`origins-2`) doesn't have `allow_missing=true`, the one missing token will pass because it's an or rule list.

[2019-11-11 23:18] achantavy opened #8977 "Segfault on config validation when rtds_layer in layered_runtime is specified"
*Description*:
Envoy segfaults when validating a config file that has RTDS defined.  Expected behavior: Envoy should not segfault.

*Repro steps*:
Run `./envoy --mode validate -c my-rtds-config-file.yaml --service-node abc --service-cluster testing -l debug` on the config file below.

Commenting out the `foobar` layer in `layered_runtime.layers[]` in the config makes the segfault go away.

*Config

[2019-11-11 23:24] mattklein123 commented on #8977
@wgallagher or @gkleiman can you take a look at this?

[2019-11-11 23:28] diemtvu commented on #8909
True, but it is the misconfiguration problem. Imo, the syntax is intuitive enough for users to understand the expected behavior.

[2019-11-11 23:44] lizan commented on #8909
Semantically I don't like the `allow_missing` in `JwtRequirement` either because it's not "requirement" either. So my preference is your first example:

[code]

[2019-11-11 23:45] achantavy commented on #8977
Stack trace:

[code]

[2019-11-11 23:50] mattklein123 commented on #8977
It looks like you are running this through config validation mode? Something is probably broken in that path and will need to be fixed.

[2019-11-12 00:17] LisaLudique commented on #8977
The segfault occurs due to the cluster manager being null in `RtdsSubscription::start()`, at `parent_.cm_->subscriptionFactory()` (https://github.com/envoyproxy/envoy/blob/90d1094b32aa017f90cc8efcd379aeb143acabfc/source/common/runtime/runtime_impl.cc#L563). It's unclear to me what the intended behavior is though (whether it should be null and the validation path should go elsewhere, whether it's n

[2019-11-12 00:22] mattklein123 commented on #8977
In general for the validation paths our goal here is to basically make it not crash and verify as much of the config as possible. Some of the other validation stubs are worth looking at in terms of stuff we mock, don't implement, etc.

[2019-11-12 01:12] xyu-stripe commented on #8971
@zuercher Aha, good catch. Thank you, Stephan and thanks for updating the docs!

[2019-11-12 02:02] LisaLudique commented on #8977
I _think_ I've got the fix (will put out a PR tonight). The runtime loader needs to be initialized with the cluster manager (there was no path where it got initialized before), so I'll initialize it with the same cluster manager the rest of the validation code uses .

[2019-11-12 03:04] AlexRoman commented on #7007
also interested! :+1:

[2019-11-12 03:45] #8941 closed

[2019-11-12 04:44] cetanu commented on #8297
Did you manage to figure out how to do this? I'm also looking into it.

[2019-11-12 05:22] diemtvu commented on #8909
Strictly speaking, having `allow_missing` or `allow_missing_or_failed` as a requirement (type) itself is equally strange :)

Anyway, I've updated my [PR](https://github.com/envoyproxy/envoy/pull/8978) to implement the spec above. The change in these "allow_xxx" requirement types is that it is now only examine the `providers` within the OR-list (for the AND-list, we can ignore, i.e always satisfied

[2019-11-12 05:54] bmgoau opened #8983 "ECDHE-ECDSA-AESx-GCM-SHAx ciphers not working"
Hello Envoy Team,

Using envoyproxy/envoy:v1.11.2

If I specify either of the following:
[code]
or
[code]
c02b and c02b  here https://testssl.sh/openssl-iana.mapping.html

neither seem to actually work:
[code]

in the envoy logs we see:
[code]

I tried this from 1.11.2 all the way back to 1.8.0 - so I must be missing something obvious.

I did a pcap to confirm what was being sent in the client hel

[2019-11-12 06:56] prateek0394 opened #8985 "Java GRPC call serialization failing"
*Title*: *Java GRPC call from envoy proxy failing in serialization*

*Description*:
Hi folks,
I am using EnvoyProxy - 1.11.1 version, where I have a Java GRPC service which does external authorization. While Envoy sends authorization request to the Java GRPC service, I am getting following exception trace :
java.lang.NoSuchMethodError: com.google.protobuf.CodedInputStream.shouldDiscardUnknownField

[2019-11-12 08:41] prateek0394 commented on #8985
To add, the proto libraries I have in my environment :
grpc-protobuf-1.22.1.jar
grpc-protobuf-lite-1.22.1.jar
libprotobuf-lite.so
libprotobuf-lite.so.3.8.0.0
libprotobuf.so
libprotobuf.so.3.8.0.0
libprotoc.so
libprotoc.so.3.8.0.0
protobuf-java-3.8.0.jar
protobuf-javanano-3.2.0rc2.jar
protobuf-lite-3.0.1.jar
proto-google-common-protos-1.16.0.jar

[2019-11-12 15:16] beriberikix commented on #492
Exciting to see the udp_proxy scaffolding get merged! 🎉

What's next? Is the roadmap at the top of the issue directionally accurate?

[2019-11-12 16:15] rgs1 opened #8991 "thrift-proxy: add support for cluster header based routing"
When using the thrift proxy, we risk having very long route tables, e.g.:

[code]

We can simplify and collapse this by supporting `cluster_header` — like in the HCM — to determine the cluster to route to:

https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/route/route.proto#L676

@fishcakez @zuercher sounds reasonable?

[2019-11-12 16:23] #8977 closed

[2019-11-12 16:50] htuch commented on #8983
@PiotrSikora any thoughts?

[2019-11-12 16:51] htuch commented on #8985
@prateek0394 this seems like a gRPC library bug? Regarding unknown fields, are you using the same proto descriptors on Envoy and server?

[2019-11-12 17:10] alyssawilk opened #8992 "fixups to flag tooling"
- [ ] Should insist on flags being booleans
- [ ] Should insist on flags being true by default (unless specifically exempted)
- [ ] code removal bugs should be filed 6 months / 2 releases after addition regardless of initial flag state.

[2019-11-12 17:54] alyssawilk opened #8993 "remove persistent envoy.reloadable_features.http2_protocol_options values"
As discussed on #8849 the http protocol options values don't really mesh with the rest of the reloadable features.  Since we want to keep them around long term we should probably rename.

@yanavlasov can you pick this up some time in the next couple of months?

[2019-11-12 19:18] zuercher commented on #8991
I think that's reasonable, but would only work for the header transport and/or twitter protocol variants. As long as it's documented, I think that's ok. The router should just return an error if it cannot extract a header.

[2019-11-12 19:20] #8971 closed

[2019-11-12 19:33] PiotrSikora commented on #8983
It looks that you're using RSA certificate, which is why you only see the cipher suites for RSA in your testing. In order for ECDSA cipher suites to be negotiated, you need to use ECDSA certificate.

Note that you can configure both: RSA & ECDSA certificates in the same context.

[2019-11-12 20:26] slovdahl opened #8996 "Documentation samples sometimes use deprecated config instead of typed_config"
Having recently updated to 1.12, I started getting deprecation warnings like this for my statically configured Envoy:
[code]

I went through the documentation to find out how to fix the warnings, but quite quickly noticed that configuration samples in the documentation sometimes use `config`, and sometimes `typed_config` with a proper `@type`. For someone that isn't very familiar with Envoy, it wa

[2019-11-12 20:30] #8917 closed

[2019-11-12 20:38] lizan commented on #8857
Closing as answered, please open a fresh issue for enhancement etc.

[2019-11-12 20:38] #8857 closed

[2019-11-12 23:56] htuch commented on #8996
@yanavlasov do you think we should update some of these? Also tagging @derekargueta who has done some amazing cleanups like this recently (but feel free to ignore).

[2019-11-12 23:59] mattklein123 commented on #8996
This is a dup of https://github.com/envoyproxy/envoy/issues/5558. IMO this must be fixed as part of the deprecation. @yanavlasov can you help drive this forward even if you don't end up doing all the work?

[2019-11-12 23:59] mattklein123 commented on #8996
Also related to https://github.com/envoyproxy/envoy/issues/8837

[2019-11-13 00:53] zuercher commented on #8374
I have a working version of this locally. Needs some additional tests and then I'll publish a PR. Hopefully tomorrow.

[2019-11-13 00:57] zuercher commented on #8593
This seems to be as-designed, but I'm working on #8374 which will not perform the extra level of escaping when accessing a string value from dynamic metadata.

[2019-11-13 02:23] bmgoau commented on #8983
Thanks @PiotrSikora  that was the issue.
Great work as always.

[2019-11-13 02:23] #8983 closed

[2019-11-13 02:55] cgilmour opened #9002 "Additional grpc request data on tracing spans"
Similar to the additional data added for #7944, we've had a user requesting more tags for traces from their grpc traffic.
The specific one requested is the `:path`, but it could be useful to also add `content-type`, `:authority` and `grpc-timeout` from the request.

As always, if the idea is reasonable, I'll be happy to implement it.

[2019-11-13 05:25] ankit-joinwal commented on #8967
Hi ,
Thanks for your response.

When the request headers contain "referrer-app" header, then the following descriptor should be generated (pseudocode)
("destination_cluster", "serviceA")
("referrer-app", "clientA")

However, with the configuration I posted in my initial question, the below descriptor is also sent to rate limit because the rate limit being matched is for the below descriptor
("dest

[2019-11-13 06:07] slovdahl commented on #8996
Sorry for that, I tried looking for an existing issue, but somehow missed that one. Feel free to close this one.

[2019-11-13 06:13] prateek0394 commented on #8985
@htuch I have referenced this repository to extract the envoy defined proto files : https://github.com/envoyproxy/java-control-plane

[2019-11-13 06:32] AL-Cui opened #9006 "Can you provide an envoy binary package based on ARM64 architecture?"
**WARNING: If you want to report crashes, leaking of sensitive information,
and/or other security issues, please consider
[reporting them using appropriate channels](https://github.com/envoyproxy/envoy#reporting-security-vulnerabilities).**

**Issue Template**

*Title*: *One line description*

*Description*:

describe the desired behaviour, what scenario it enables and how it
would be used.

[opti

[2019-11-13 08:13] KwangdeokPark opened #9010 "Can envoy disconnect connection with specific status code?"
I can set *"max_requests_per_connection":1*, but this way is inefficient to me.
I would like to disconnect some connections with status code(like 404). Is there any way to do that?

[2019-11-13 08:45] frcai commented on #2557
how's going on QUIC support on Envoy? do we have rough timeline for Beta release?

[2019-11-13 14:55] #7396 closed

[2019-11-13 17:10] mattklein123 commented on #8996
OK let's track in the other issue, I still think it's critical that we get this fixed though. :)

[2019-11-13 17:10] #8996 closed

[2019-11-13 17:11] mattklein123 commented on #8993
Per discussion in the other PR I think we now agreed we are going to delete them? cc @PiotrSikora

[2019-11-13 17:16] PiotrSikora commented on #8993
Yup, let's just remove them.

[2019-11-13 18:35] asraa opened #9013 "Invalid priority causing crash on host update"
A fuzz bug in `config_fuzz_bug` is catching a crash when you use a priority value that goes against the guidelines in the config (in this case, we have a priority 10 when we should be using priority 0). The following is a reporoducer for the test, and crashes on `ASSERT(priority == 0)`.

[code]
It seems like the cluster manager is updating the cluster membership for `new_cluster`, calling a post t

[2019-11-13 18:51] htuch commented on #9006
The Envoy OSS project doesn't support or distribute binaries. We do ship a Docker image that contains an exemplar x86 Envoy binary on a best effort basis. You probably want to look to a project like https://www.getenvoy.io or distribution such as Red Hat to provide support here.

[2019-11-13 18:53] htuch commented on #9002
@cgilmour would https://github.com/envoyproxy/envoy/pull/8279 help here?

[2019-11-13 18:54] htuch commented on #9013
@snowp could you triage this? Thanks

[2019-11-13 18:55] htuch commented on #9010
@KwangdeokPark I'm not sure how to interpret the question here; TCP connections aren't terminated with an HTTP status code, HTTP requests are completed with a status code. Can you elaborate?

[2019-11-13 20:48] yanavlasov commented on #8996
Yes, absolutely, this needs to be fixed.

[2019-11-13 21:13] alyssawilk commented on #8993
As mentioned on 8849 we'll punt this to after the next release.  It's already no-stalebot so we'll check back in after the holidays :-)

[2019-11-13 21:15] moderation commented on #9006
As @htuch mentioned binaries aren't provided but Envoy does compile on arm64 / aarch64. I successfully compile it on a Pine64 RockPro64 SOC that has 4G RAM.

[2019-11-13 22:52] danzh2010 commented on #2557
v1 depends on https://github.com/envoyproxy/envoy/pull/8496, and v2 ongoing. V2 with packet tossing and BPF support is expected to be done by end of Dec.

[2019-11-13 23:08] lizan commented on #8944
Wondering whether the local reply mapper can address this, basically it will allow you to customize all Envoy-generated error responses. See https://github.com/envoyproxy/envoy/pull/8921

[2019-11-13 23:22] cgilmour commented on #9002
Looks like it would be an alternative way of doing it.
But I think that amount of config effort for a user is a bit high, and makes sense when users are actually doing custom/specialized things.
The ones suggested above are fairly basic grpc items, rather than specialized ones. So I think it'd be nicer if they "worked" out of the box instead of via special config.

[2019-11-13 23:51] htuch commented on #8985
@prateek0394 that seems reasonably up-to-date (at least 1.12.0). In any case, I think the stack trace here is an issue in your use of protobuf/gRPC or the libraries themselves, so not sure what is actionable on the Envoy front.

[2019-11-13 23:56] htuch commented on #9002
Seems reasonable, I've assigned the issue to you.

[2019-11-14 00:30] argos83 opened #9016 "Envoy too strict about transfer-encoding & content-length?"
*Title*: Envoy too strict about transfer-encoding & content-length
*Description*:

Envoy version: v1.11.2

A service in one of our clusters sometimes returns `invalid` http1.1. responses that contain both a `transfer-encoding: chunked` and `content-length` headers (the content-length is not even 0) which is clearly wrong. Envoy then rejects the response, increments the `envoy.cluster.upstream_cx_p

[2019-11-14 01:14] AL-Cui commented on #9006
@moderation
ok,thanks.But,Bazel is really very difficult to use

[2019-11-14 02:57] #8666 closed

[2019-11-14 03:11] prateek0394 commented on #8985
@htuch I agree with you, there isnt much from Envoy front. I wanted to check with envoy-users if anyone else has experienced the similar issue and can point me to correct direction so that I can resolve this.

[2019-11-14 03:55] mattklein123 commented on #7374
Haven't seen this in a while. Closing for now.

[2019-11-14 03:55] #7374 closed

[2019-11-14 03:57] mattklein123 opened #9018 "udp_proxy_integration_test tsan flake"
[code]

[2019-11-14 04:44] argos83 opened #9019 "Upstream returning duplicated `Content-Type` header should result in protocol error not concatenation"
**Title**: Envoy concatenates values of duplicated `Content-Type` header resulting in an invalid response.

**Description**:

One of our clusters is returning a response with a duplicated `Content-Type` header, as the following:

[code]

Which I believe is invalid according to the HTTP spec, since only one media type is allowed in a response, but it's somehow accepted by the client of our service.

[2019-11-14 05:37] charliye opened #9020 "TCP health check leads to the error log(Socket hang up) in upstream hosts"
Issue Description:
After I config the tcp_health_check in envoy.yaml. I found there were some error logs in the upstream hosts' log file.
Detail log info as below:
{"type":"error","@timestamp":"2019-11-14T05:35:31Z","tags":["connection","client","error"],"pid":9,"level":"error","error":{"message":"socket hang up","name":"Error","stack":"Error: socket hang up\n    at TLSSocket.<anonymous> (_tls_wra

[2019-11-14 08:20] #8505 closed

[2019-11-14 08:40] KwangdeokPark commented on #9010
In HTTP connection, envoy makes connection pool and maintain that connection some time(timeout). I want to disconnect some of that connection in connection pool with status code, and make new connection. Is it possible in envoy proxy?

[2019-11-14 11:20] #8521 closed

[2019-11-14 11:33] Kishn0211 opened #9022 "Prefix match for routes"
Hi,

I want to match the prefix :  /myapp/v5/resource or  /myapp/v6/resource

I tried below based on the documentation "https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#envoy-api-field-route-routematch-regex" and it's not working.
"match": {
                "prefix": "/myapp/v\d/resource"
              }

Any suggestions??

Regards,

[2019-11-14 11:52] Kishn0211 commented on #9022
Even tried with the regex as below
"match": {
"regex": "/myapp/v\d/resource"
}

[2019-11-14 12:28] yskopets opened #9023 "when `network.rbac` filter is used in combination with `tcp_proxy`, connection to the upstream is established in any case, even if RBAC decision is `Deny`"
*Title*: when `network.rbac` filter is used in combination with `tcp_proxy`, connection to the upstream is established in any case, even if RBAC decision is `Deny`

*Description*:

* apparently, `network.rbac` filter doesn't prevent `tcp_proxy` from establishing a connection to an upstream in case when RBAC decision is `Deny`
* I'm wondering, is it a good/intuitive default behaviour ?

*Repro step

[2019-11-14 14:54] sriduth opened #9025 "pre startup checks for windows: log if system variables need changing"
*pre startup checks*: *Check os variables before startup on windows*

*Description*:
As a fix for issue https://github.com/envoyproxy/envoy/issues/7130, PR #8600 introduces an interface and a posix implementation that runs platform specific checks before startup.

The win32 implementation `source/exe/win32/platform_checks.cc` adds a no-op which should be implemented.

[2019-11-14 14:58] moderation commented on #9006
@AL-Cui Bazel not super easy but I compile it from source on aarch64:
- wget https://github.com/bazelbuild/bazel/releases/download/1.1.0/bazel-1.1.0-dist.zip
- unzip and cd into directory
- `env EXTRA_BAZEL_ARGS="--host_javabase=@local_jdk//:jdk" bash ./compile.sh` (I use Fish shell so modify for your shell)

[2019-11-14 15:26] htuch commented on #9016
@alyssawilk do you have thoughts on this one?

[2019-11-14 15:34] htuch commented on #9022
@Kishn0211 you definitely want regex rather than prefix match here. Please follow the guidance at https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#envoy-api-field-route-routematch-safe-regex for recommended regex use. I would also suggest turning up logging to trace level to understand what is going on.

[2019-11-14 15:45] alyssawilk commented on #9016
Right before the snipped you pasted is "The Content-Length header field MUST NOT be sent if these two lengths are different (i.e., if a Transfer-Encoding header field is present). "  So as I read things, your downstream is doing something illegal and Envoy is not following the spec about how such illegal traffic should be handled.  Sound right?

Unfortunately this is not something we can fix until

[2019-11-14 16:21] #8767 closed

[2019-11-14 16:21] #8874 closed

[2019-11-14 16:42] snowp commented on #9013
Seems like this isn't an issue with a gap in the priorities, but rather just an assumption that if a local cluster is specified there will only ever be one priority (P=0). This also breaks the same way:

[code]

I think this is just a special case around zone aware routing, so we should probably just have checks that rejects config with any endpoints with higher than P=0 when the local cluster nam

[2019-11-14 17:10] mattklein123 commented on #9023
The issue is that in the network RBAC filter the check is being done in `onData()` and it should be done in `onNewConnection()`. This is so broken that I can't imagine anyone is actually using this. At least I hope not. :scream:

[2019-11-14 17:40] mattklein123 commented on #9020
@charliye I think these logs are coming from your application? What is the issue with Envoy here specifically?

[2019-11-14 18:24] yskopets commented on #9023
@mattklein123 I could take this issue

[2019-11-14 20:04] lambdai opened #9032 "Add a port white list in sniffer-ish listener filter"
*Description*:
A per listener time out doesn't work well in iptables-redirect-to listener.
For example:
For server-first -packet protocol filter chain: a immediate timeout is preferred
For TLS expected filter chain: it is expected to be infinity timeout

I propose adding a L4 address based timeout in sniffer listener filter (tls_inspector)
[code]
Alternative solution:
  list of port for infinity t

[2019-11-14 20:04] #8786 closed

[2019-11-14 20:06] derekargueta commented on #5155
This change is about ready, *however* there's one missing feature in llhttp which is the `lenient_http_headers` option (used [here](https://github.com/nodejs/http-parser/blob/master/http_parser.c#L1490) in http-parser). This option toggles strict validation of HTTP header values by ensuring they are printable ASCII characters. We currently run http-parser in lenient mode (which is the default) the

[2019-11-14 20:44] alyssawilk commented on #5155
https://github.com/envoyproxy/envoy/pull/8849 flips strict validation on by default and the option will be removed entirely (unless folks yell) at the next Envoy release.  I assume we're going to support both parsers in parallel for a bit so I think going 100% strict is probably fine (we can revisit if changing the default causes problems in upcoming weeks)

[2019-11-14 20:49] mattklein123 commented on #5155
Awesome stuff. @derekargueta is there any way to support both parsers without a recompile? IMO this should be feature flagged and flippable at startup like we did with the buffer implementation?

[2019-11-14 21:10] kyessenov commented on #9023
/cc @yangminzhu

[2019-11-14 21:55] erikbos commented on #3124
Anybody actively working on this one?

[2019-11-14 22:33] rshriram commented on #9023
The check needs to be done in both. Not just on new connection, as we have codecs that can decode the payloads

[2019-11-14 22:36] kyessenov commented on #8940
The fix was merged apparently, closing.

[2019-11-14 22:36] #8940 closed

[2019-11-14 23:07] htuch commented on #9010
Does the outlier detector match your needs?

[2019-11-15 02:00] lizan commented on #8909
On a second thought, `allow_missing` can only associated to a JwtRequirement, otherwise we don't know if it is really missing because the token location is specified in JwtProvider (which is in JwtRequirement), right?

[2019-11-15 02:03] fishcakez opened #9037 "Thrift connection manager crash on remote close during active request"
*Description*:
With a non-Envoy downstream service sending Thrift requests to Envoy using the THeader transport/TBinary protocol. If the downstream service closes the connection (e.g. close on timeout) while the request is pending, Envoy can crash.

*Repro steps*:
Send THeader/TBinary Thrift request with Xms timeout and it times out. Can provide a full repro if required as used proprietary code to

[2019-11-15 02:48] dio commented on #3124
@erikbos I’m not aware of any active effort on this. Do you want to take it?

[2019-11-15 04:20] diemtvu commented on #8909
That's true (and would be simpler :)). However, in my implementation based on previous decision, I made it to consider only JwtRequirement in the same OR list, so it still have some context of what it's looking for. However it cannot handle a nested OR & AND.

Btw, by itself or in the AND list, the `allow_missing` (as well as `allow_missing_or_failed`) doesn't really make sense. I make it become n

[2019-11-15 04:25] argos83 commented on #9016
Correct, I understand the spec suggests Postel's law: Be conservative in what you send, be liberal in what you accept.

Great point on the http smuggling attacks @alyssawilk! Sounds like the safest way to avoid problems with two parties interpreting the length of requests differently is the current behavior of rejecting these contradicting requests altogether. Or if this does get fixed, I think ig

[2019-11-15 04:38] #8991 closed

[2019-11-15 04:50] lizan opened #9039 "Audit YAML parsing code path"
The YAML parser we're using are not robust to untrust input, it should only be used to parse local file. We should add some basic limitation in the code base to prevent it happening.

[2019-11-15 07:28] lizan commented on #8909
Yeah the whole API is slightly messy, wondering if we can make it much more easier to understand while it is still in alpha.

[2019-11-15 07:45] #8286 closed

[2019-11-15 08:43] #8388 closed

[2019-11-15 10:43] #8305 closed

[2019-11-15 14:52] htuch commented on #9032
@lambdai why can't this be expressed on a per-filter chain basis?

[2019-11-15 14:52] htuch commented on #9037
@zuercher can you triage this one? Thanks.

[2019-11-15 14:53] htuch commented on #9039
👍 I'm a big fan of structurally preventing use of untrusted dependencies for trusted things.

[2019-11-15 17:07] mattklein123 commented on #9032
+1

[2019-11-15 17:16] rossdylan commented on #7624
Hey all so sorry about this, I got pulled into a bunch of other internal work so this has fallen to the side. If others are better placed to implement I'm happy to advise/review from the perspective of our use case. Other wise I'm aiming to get this done some time in December at the latest.

[2019-11-15 17:16] erikbos commented on #3124
@dio I was just checking if there was something in progress as I really want to see & use this functionality. Unfortunately I am not experienced in C++ so I cannot take it :|

[2019-11-15 18:13] Kishn0211 commented on #9022
@htuch
I tried something like below and was working
"match": {
"regex": "/myapp/v[6-7]/resource"
}

Thanks for the support

[2019-11-15 18:26] snowp opened #9042 "RetryPriority plugin not supported for RING_HASH/MAGLEV"
`RING_HASH` and `MAGLEV` both support priority routing, but does not honor `LoadBalancerContext::determinePriorityLoad`, effectively breaking the `RetryPredicate` plugins. This also has implications wrt https://github.com/envoyproxy/envoy/pull/7967, as it attempts to target a specific priority using the LB context.

Calling `determinePriorityLoad` is tricky in the context of `ThreadAwareLoadBalanc

[2019-11-15 19:11] mattklein123 commented on #8892
Fixed

[2019-11-15 19:11] #8892 closed

[2019-11-15 19:35] dvaldivia commented on #7462
@huang195 did you figured it out and closed the issue? can you share with us your findings?

[2019-11-15 20:35] Kishn0211 commented on #9022
Mypath has matrix param. So it was not detected.
Url: host/myapp/v[6-7]/resource;myname="ktr";lastname="min"
Is there a way to write regex for this

[2019-11-15 21:20] lambdai commented on #9032
The current working flow is:
Listener filters figure out the attributes of the incoming connections (Allow me to use connection in this context), not matter if the attributes are needed.
For example, if user specifies a tls_inspector, the inspection is always executed, even if no filter chain has matcher field at tls.

Are you suggesting is pushing down the tls_inspector behavior during the match?

[2019-11-15 22:37] yxue commented on #9042
Thanks @snowp for raising the issue.

1. It seems dangerous to access the mutable data in worker thread from main thread. Is it a common issue? IIRC, accessing data in worker thread from main thread is not recommended.

3. This seems to be a shortcut. If there is no requirement for using retry plugin for RING_HASH/MAGLEV, we might be able to implement this quickly.

[2019-11-15 23:29] rmohta opened #9045 "Reverse Notification for health check failures, when used as a side car for an orchestrator?"
*New Feature Request*
Envoy being a popular choice as a side-car in microservice architecture - I was wondering if it's possible to send reverse notification to an app when a pod/instance fails health check and is removed from the cluster? Is it possible to achieve this via extension?

I'll expand with below scenarios below

Scenario: When Envoy is used as a side car for an Orchestrator (like Netf

[2019-11-15 23:31] kyessenov commented on #7867
Envoy position is that config is trusted and user supplied. Shipping code through config server may compromise the security of the data plane. There is also a high-risk of head-of-line blocking for large (>10MB Wasm modules) in ADS.

[2019-11-16 00:08] spenceral commented on #8743
I can work on this.

[2019-11-16 00:31] ivelichkovich opened #9047 "Redirect IP CIDR to Single IP"
*Title*: *Is there a way to redirect a CIDR block to a single IP but append headers for the original destination IP and port?*

*Description*:
I want to redirect requests destined for a CIDR block to an external proxy while appending the original destination IP and Port as headers for the proxy to use. Is this possible? If not could someone point me in the right direction to contribute back these

[2019-11-16 00:32] mattklein123 commented on #8743
@spenceral awesome! Go for it. LMK if you have any questions. This will be super useful.

[2019-11-16 00:33] mattklein123 commented on #9045
I think this is now a dup of https://github.com/envoyproxy/envoy/issues/8970?

[2019-11-16 00:36] mattklein123 commented on #492
MVP complete pending code reviews here https://github.com/envoyproxy/envoy/issues/492 if anyone wants to kick the tires.

[2019-11-16 02:33] rmohta commented on #9045
Agree. Will close this issue, and follow #8970
Thank You @mattklein123!

[2019-11-16 02:33] #9045 closed

[2019-11-16 03:55] #3795 closed

[2019-11-16 08:55] #8512 closed

[2019-11-16 13:55] #8547 closed

[2019-11-16 17:23] erikbos opened #9049 "ext_authz: allow receiving dynamic metadata from gRPC authorization server"
*Title*: ext_authz: enable receiving dynamic metadata from gRPC authorization server

*Description*:
I've got a custom authorization server which looks up some additional data for each request that I like to carry forward to other filters, but not upstream.

Example use cases for setting metadata:

1. Setting dynamic rate limit value, authorization server has bespoke logic to determine rate limiti

[2019-11-17 03:31] PiotrSikora commented on #9016
[RFC7230, sec. 3.3.3](https://tools.ietf.org/html/rfc7230#section-3.3.3) is a bit more strict than the deprecated RFC2616 that you quoted:

[2019-11-17 06:43] tonyboxes opened #9050 "get request errors: "no healthy upstream""
*Title*: *get request errors: "no healthy upstream"*

*Description*:

In step:
2019-11-15 19:00:43: update cluster timeout and change config version.
2019-11-15 21:17:03:  get A lot of request errors, grpc-status: 14, grpc-message: no healthy upstream
Deploying 21 envoy nodes, two of them had this error.
Envoy restart or reload node returns to normal.
Envoy version: 1.11.2

*Config*:
xds:
[code]
e

[2019-11-17 08:20] #8564 closed

[2019-11-17 15:10] rgs1 commented on #9037
Possibly a path that was missed in #6549.

[2019-11-17 16:08] snowp commented on #9042
For 1) I wasn't suggesting accessing the main thread PS, but the one that belongs to the thread local `ClusterEntry`. The calls to `chooseHost` happens on the worker threads as requests are handled, so accessing the TLS cluster for that thread would be safe (besides the potential inconsistency issue I raised in the original comment).

Assuming you meant 3), I think that would be the easiest way of

[2019-11-17 16:11] ankit-joinwal commented on #8967
Any help on this please

[2019-11-17 16:20] #8586 closed

[2019-11-17 16:48] junr03 commented on #8967
I see what you mean now. Thank you for the additional information. In order to use the behavior you suggest I would recommend using the following configuration

[code]

This way your request is matched by header, and the ratelimit actions can differ between them. Does that make sense?

P.S: It is unfortunate that the presence of descriptors in the ratelimit filter is all or nothing, but it is done

[2019-11-17 17:14] mattklein123 commented on #9049
cc @dio @gsagula

[2019-11-17 17:22] mattklein123 commented on #9047
This is not exactly supported today. I think you might be able to cobble this together using the original destination load balancer (https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/original_dst#original-destination-host-request-header) and a filter chain match that only matches on a particular CIDR block. There might be other ways but that is the first thing

[2019-11-17 19:14] khyveasna commented on #8224
Guzman HDTV chip

[2019-11-17 21:23] alyssawilk commented on #8876
now dup of #8992

[2019-11-17 21:23] #8876 closed

[2019-11-17 22:55] htuch commented on #7867
@kyessenov I think we don't want to be too prescriptive here; folks can use some of these features with caveats around not pushing large updates inline. It's no different shipping 10MB+ WASM or 10k+ filter chains, each with a 1KB certificate inline.

[2019-11-17 23:30] htuch commented on #9032
@lambdai I was going to suggest the L4 equivalent of per-filter route config, i.e. express in the filter chain additional opaque config that listener filters can consume. But, this doesn't make sense here, since you need this before we've done even a provisional lookup in the filter chain matcher.

What do your matchers look like? Can we reuse existing concepts and types from `FilterChainMatch` (b

[2019-11-18 00:10] cetanu commented on #8412
Pre-empting stalebot...

I still haven't figured out what's going on here (I haven't had the time though)

but we still really want to know if we're doing something wrong, or if this is a bug

[2019-11-18 00:21] cetanu commented on #9022
Documentation says:

Your regex must match the entire URL.

Suggestion:

[code]

[2019-11-18 06:43] qiwzhang opened #9054 "Assertion on non-empty upstream_requests in Router::Filter destructor in stress test"
*Title*: Envoy crash with assertion on upstream_requests not empty in Router::Filter destructor in stress test using wrk

*Description*:

\During stress test using wrk with command similar to following:

wrk -t 1 --timeout 2m -c 10 -d 60s

with these data

= 1 threads and 10 connections
= Thread Stats   Avg      Stdev     Max   +/- Stdev
= Latency    38.91ms    5.71ms 101.70ms   90.33%
= Req/Sec

[2019-11-18 09:59] prateek0394 commented on #8985
Hey guys,

Found the issue. My lib path had GoogleProtoBuf as well as GoogleProtoBuf-Lite library and at runtime java was picking up CodedInputStream class from GoogleProtoBuf-lite which didnt has the method "shouldDiscardUnknownFields" due to which serialization was failing.
Closing this issue.

[2019-11-18 09:59] #8985 closed

[2019-11-18 10:11] gklingler opened #9055 "Dynamic loading of OpenTracing tracers and ABI (in)compatibility"
Hi, I'm working at Dynatrace and we are currently working on utilizing Envoy's OpenTracing API.

Currently Envoy supports dynamic loading of tracers implementing the OpenTracing C++ API. The problem with C++ interfaces in general is that a lot of care needs to be taken for the consumer of a shared object and the shared object to be ABI compatible.

ABI compatibility can only be guaranteed if the c

[2019-11-18 10:49] yoka791 opened #9056 "lua script outputs an error: attempt to index a nil value"
Hi,
I am using Ambassador which is built over envoy.
I wrote the following lua script in order to block requests with a payload bigger than 1KB (There is no option to apply the limit via envoy configuration):
[code]
I get in the log:
`script log: [string "function envoy_on_request(request_handle)..."]:4: attempt to index a nil value`
Is there a problem with the script I wrote?

[2019-11-18 11:04] ankit-joinwal commented on #8967
Hi,
Thanks for your reply.

I tried to use the configuration provided by you.
However, Envoy does not start with above configuration.

Here is my complete configuration
[code]

Error while starting:
`[2019-11-18 10:54:53.817][8][critical][main] [source/server/server.cc:96] error initializing configuration '/config/envoy.yaml': yaml-cpp: error at line 29, column 15: end of map not found
`

I think

[2019-11-18 11:24] caitong93 commented on #9056
When request have no body, `request_handle:body()` return nil which cause `length()` call to fail.

[2019-11-18 11:47] yoka791 commented on #9056
Thanks! How can I check if a body exist?

[2019-11-18 11:51] ankit-joinwal commented on #8967
Thanks a lot for your reply.
The configuration given by you works as expected.

[2019-11-18 11:51] #8967 closed

[2019-11-18 12:29] yoka791 commented on #9056
solved it:
[code]

[2019-11-18 12:29] #9056 closed

[2019-11-18 14:53] wornik opened #9057 "should support bazel startup option"
https://github.com/envoyproxy/envoy/blob/4787e0a9b6810ff4cc0dd3f8d78cb8a1d7c2d73a/ci/do_ci.sh#L77

should add an option  for bazel startup， just like this
bazel ${BAZEL_STARTUP_OPTIONS}  build ${BAZEL_BUILD_OPTIONS} -c "${COMPILE_TYPE}"

I am using http proxy. I need to change the bazel javabase to solve cacerts problem. so BAZEL_STARTUP_OPTIONS can use to add --server_javabase=${JAVA_HOME}

[2019-11-18 15:29] mooperd opened #9058 "Serving jaeger with istio ingress gateway over http2 causes 503 error."
Cross posting from istio. Serving jaeger with istio ingress gateway over http2 causes

503: Upstream connect error or disconnect/reset before headers. reset reason: connection termination

[code]

https://github.com/istio/istio/issues/19040

[2019-11-18 16:34] qiwzhang commented on #9054
This is from

ENVOY_SHA1 = "619eb5735f038a568df6497f28fac1bf809b2379"  # 11.06.2019

[2019-11-18 17:57] mattklein123 opened #9060 "xDS resource circuit breakers"
We should have configurable circuit breakers for xDS resources (and a sane default) to help operators more easily understand if their management server is not doing what they think it is. Inspires by this talk: https://envoycon2019.sched.com/event/UxvT/envoys-using-10gb-of-memory-and-its-all-my-fault-steve-sloka-vmware

[2019-11-18 18:16] lizan commented on #9057
Just have that in your local user.bazelrc file.

[2019-11-18 18:50] #8623 closed

[2019-11-18 18:57] lambdai commented on #9032
That's is the exact challenge. I see what you mean by `per-filterchain`.

For my current mission it is adequate to assume matchers are only `dst port` and `dst ip`. It doesn't introduce any tcp data consumption.
For longer term, I think any field in `FilterChainMatch` might be added. This may peek tcp data. I am hesitated to extend to "tls" fields because that would introduce tcp data peek.
I don'

[2019-11-18 18:58] junr03 commented on #9054
@snowp could you take a look at this?

[2019-11-18 19:34] rgs1 opened #9063 "location header shouldn't be set when the DirectResponse returns 200"
We are unconditionally setting the `Location: ` header when returning direct responses:

https://github.com/envoyproxy/envoy/blob/master/source/common/router/router.cc#L395

Whereas the header should _only_ be set when the response code is either 201 or 3xx per:

https://tools.ietf.org/html/rfc7231#section-7.1.2

cc: @sc0ttbeardsley @mattklein123 @alyssawilk

[2019-11-18 19:34] rgs1 commented on #9063
(I can send a PR to address this in a bit, assuming we agree it needs fixing).

[2019-11-18 19:39] rgs1 commented on #9063
Also: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Location.

[2019-11-18 19:43] sc0ttbeardsley commented on #9063
We ran into this while returning non-3xx direct responses.

[2019-11-18 20:00] danzh2010 opened #9064 "Add UDP GRO support for efficient read"
UDP recvmsg/recvmmsg is CPU costly compare to TCP. Linux 5.0 introduces UDP_GRO socket option to support batch reading [1]. The interface has two steps:
A socket has to signal to be willing to receive coalesced datagram payloads:
[code]
And then on recvmsg() pass room for cmsg that holds the gso_size.

We need to apply this feature to UdpListenerImpl with possibly read interface change.

[1] https

[2019-11-18 22:20] junr03 commented on #9058
Unsure about how istio configures h2 support in the cluster configuration. Is the routing in the h2 attempt getting routed to an envoy cluster properly configured to handle h2 traffic?

[2019-11-18 22:23] junr03 commented on #9055
I am not aware of any particular effort to accomplish this. @lizan do you mind commenting on your opinions/views on this issue?

[2019-11-18 22:24] snowp commented on #9054
It seems like somehow we're handling the defer delete for the HCM ActiveStream without all the `upstream_requests_` being removed. The only place we call `deferredDelete` we very explicitly call `onDestroy` (which resets all upstream requests) for all the HCM filters before moving the stream onto the list of deferred deletions.

I'm wondering if what's going on is that the ActiveStream is being sh

[2019-11-18 22:28] junr03 commented on #9050
This seems to be a race between DNS resolution/cluster warming and readiness. Do you mind attaching full snippets of your logs with debug level logging? I assume that the errors you are talking about are requests to the web.interface_cluster that you are pointing out in the screenshots?

[2019-11-18 22:38] zuercher commented on #9037
@fishcakez can you confirm if this is new post #6549?

If so, @rgs1 can you work on a fix? If not we should revert #6549 until someone has time to look at it.

[2019-11-18 22:53] rgs1 commented on #9037
@zuercher still looking, I think reverting #6549 is possibly worse (it'll cause crashes on stuff we have in prod). I'll check-in a bit later with my discoveries, if any.

[2019-11-18 23:10] qiwzhang commented on #9054
In our test setup, we had a  http filter making async_client call.  While the async_client call is in progress,  the filter is paused with STOP.    This filter is not handling onDestroy() to cancel active async_client call.  Could this be the root cause?

But, the upsteram_stream_ in Router is created on the Router::decodeHeader(). I assume if my filter decodeHeader() is paused with STOP,  Router:

[2019-11-18 23:12] alyssawilk commented on #9054
If this is reproducible, any chance you can rerun with -l trace and share the logs of the offending connection with us?  It might shortcut a lot of debugging!

[2019-11-18 23:20] qiwzhang commented on #9054
It is a stress test.  with over 10k requests within 1m,   with "-l trace", it will generate too much logs.  problem may not happen.

[2019-11-18 23:22] qiwzhang commented on #9054
reproduce steps is: run a stress test with over 10k request per minute for a couple hours.

[2019-11-18 23:52] rgs1 commented on #9037
Hmm, per the debug logs it's not the downstream closing the connection -- it's the upstream. Given that `[C8]` is the downstream connection (note: TLS is used for the downstream):

[code]

And `[C9]` is the upstream connection (note: no TLS, given it's over the loopback):

[code]

And then we see `[C9]` -- the upstream connection -- being closed:

[code]

which finally triggers the destruction of

[2019-11-19 00:13] mabukhovsky commented on #8768
Is this feature included into 1.12.0 release? Can you point me to fixing pull request, please?

[2019-11-19 00:39] yxue opened #9067 "add address to the prefix of stats for listener filter"
currently stats for listener filter

[code]

it would be better to have stats like

[code]

Possible solutions:
1. provide the stats scope with `x.x.x.x:port` for all listener filters but it will not work if the listener is configured with a `original_dst` listener filter.
2. create stats scope for each listener filter dynamically, e.g., in the `onAccept`, when the local address could be restored

[2019-11-19 01:08] tonyboxes commented on #9050
The error was triggered by accident. My service has been running in production for over a month. I updated the dynamic configuration, and the error occurred two hours later.The node restart returned to normal.

[2019-11-19 01:18] AL-Cui commented on #9006
yes,I hava installed the bazel from [https://docs.bazel.build/versions/0.22.0/install-redhat.html](url).  But, I can't  build success.

`ERROR: Must specify PROTOC if not bootstrapping from the distribution artifact

--------------------------------------------------------------------------------
NOTE: This failure is likely occuring if you are trying to bootstrap bazel from
a developer checkout.

[2019-11-19 01:20] AL-Cui commented on #9006
But,I build failed.
`ERROR: Must specify PROTOC if not bootstrapping from the distribution artifact

--------------------------------------------------------------------------------
NOTE: This failure is likely occuring if you are trying to bootstrap bazel from
a developer checkout. Those checkouts do not include the generated output of
the protoc compiler (as we prefer not to version generated fi

[2019-11-19 03:31] #8871 closed

[2019-11-19 04:11] ramaraochavali commented on #9060
FWIW, We do have rate limit settings on configsource https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/config_source.proto#envoy-api-msg-core-apiconfigsource which allows Envoy to slowdown the process of ingesting new config. Might help in the situation explained in the talk.

[2019-11-19 07:58] Oberon00 commented on #9055
Related: https://github.com/opentracing/opentracing-c/issues/18

[2019-11-19 08:53] KwangdeokPark commented on #9010
@htuch it's little bit different, but Thank you!

[2019-11-19 09:49] madhu-shankar commented on #8690
I replicated the issue, this time, the stats are showing correct values. But envoy is still accepting the requests even when the pressure is above configured threshold. I have attached the debug logs of a sample request.

[code]

[2019-11-19 10:58] tony612 opened #9070 "downstream_cx_active is matched with opened connections"
**Issue Template**

*Title*: *downstream_cx_active is matched with opened connections*

*Description*:

We have only one ingress listener at 50051, and we can see the connections number is 697(`http.ingress.downstream_cx_active` and `listener.0.0.0.0_50051.downstream_cx_active`.
[code]
Here's the connections(232):
[code]

So why is `downstream_cx_active` bigger than the actual connections number?

[2019-11-19 10:58] wornik commented on #9057
OK . I got it. Thanks!

[2019-11-19 11:00] wornik opened #9071 "the url of tclap-1-2-1 is no longer valid"
https://github.com/envoyproxy/envoy/blob/b0cbc879fc643d54d0309450bc2c233b3fa3b8fa/bazel/repository_locations.bzl#L84

downloading https://github.com/eile/tclap/archive/tclap-1-2-1-release-final.tar.gz GET returned 404 Not Found

this file url is no longer valid，today
In addition, how to use the  build option --distdir?
I tried
`build --distdir=/source/pkg, `
and the local file path is
/`source/pkg

[2019-11-19 13:04] rgs1 commented on #9037
So I've set the log level to trace and I am starting to think this might be decoder related and not connection management related:

[code]

The crash happens immediately after the decoder calls `reset()` on the `ActiveRpc` unique_ptr:

https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/network/thrift_proxy/decoder.cc#L452

[2019-11-19 14:02] oschaaf commented on #7403
Cross linking an experimental approach / PoC from Nighthawk for those who would like to have a look-see: https://github.com/envoyproxy/nighthawk/pull/200

That adds a relatively simple new pool implementation, which round robins over multiple vanilla H/2 pools under the hood to leverage > 1 active connections. In Nighthawk the number of pools would equal the configured number of `--connections` co

[2019-11-19 14:14] #9057 closed

[2019-11-19 14:17] wornik commented on #9071
--distdir=/source/pkg
/source/pkg/tclap-1-2-1-release-final.tar.gz is OK

[2019-11-19 15:02] eziskind commented on #8690
@madhu-shankar Just to confirm - when you say the stats are showing correct values do you mean that overload.envoy.resource_monitors.injected_resource.pressure shows the new higher value and that overload_actions.stop_accepting_requests.active is 1?

[2019-11-19 15:04] rgs1 commented on #9037
Maybe the decoder is OK. Another interesting thing is that when the deferred deletion list is of size 1, there is no crash:

[code]

Another example:

[code]

But when it's size > 1:

[code]

[2019-11-19 15:07] rgs1 commented on #9037
I take that back too, got a case of no crash with size=2:

[code]

[2019-11-19 15:53] moderation commented on #9071
Looks like the Github repo has been deleted. May need to switch to https://sourceforge.net/projects/tclap/files/ ?

[2019-11-19 16:11] #9063 closed

[2019-11-19 16:26] rgs1 commented on #9037
Hmm, maybe we are calling `doDeferredRpcDestroy()` twice on the same `ActiveRpc` instance (added a quick cout call to inspect what's going on, assuming addresses aren't reused):

[code]

[2019-11-19 17:23] mooperd commented on #9058
@junr03 Jaeger doesn't support http2.

[code]

[2019-11-19 17:25] lizan commented on #9055
I'm not aware of any effort either. I know that the recent C++ library change breaks the ABI compatibility of the dynamic_ot, as we discussed in #4251. I think it is a great idea to support C interface, if you're interested in doing the work feel free to take it.

[2019-11-19 17:44] lambdai commented on #9032
Alternative approach is to dry-run findFilterChain().
The current signature is `FilterChain*  findFilterChain(const ConnectionSocket& socket)` where socket stands for ALL the socket attributes.
What if I add a `<FilterChain*, NeedMoreData> findFilterChain(KnownAttributesOfSockets)` and invoke it before sniffing at tls_inspector?
WDYT? @htuch

[2019-11-19 17:49] junr03 commented on #9058
Yep that was my suspicion. We had a similar encounter with s3 earlier this year on envoy mobile. Closing this.

[2019-11-19 17:49] #9058 closed

[2019-11-19 17:56] mooperd commented on #9058
Shouldn't the proxy transparently allow the client to negotiate the connection with the service?

[2019-11-19 18:20] inf-rno opened #9074 "Support logicalName of host address for consistent hash load balancing"
**Description**:
Currently consistent hashing is done using the weighted host's resolved address for both [ring hash](https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/ring_hash_lb.cc#L130) and [maglev](https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/maglev_lb.cc#L27) implementations. This does not work as intended in containerized workloads like docker,

[2019-11-19 18:42] rgs1 commented on #9037
The problem is in:

https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/network/thrift_proxy/conn_manager.h#L173

Commenting that out, makes the crash go away. Will dig into `onDestroy()` and send a PR... guessing we are referencing a connection object that's gone from there (or something similar).

[2019-11-19 19:51] junr03 commented on #9058
Not implemented right now for upstream connections. Tracked here: https://github.com/envoyproxy/envoy/issues/3431. Envoy mobile will most likely Invest in this are sometime during the first half of next year.

[2019-11-19 19:58] mooperd commented on #9058
ok, thx

[2019-11-19 21:10] moderation commented on #9058
With Jaeger being a Go project which has native h2 support, they must explicitly disable it. Seems like a strange choice.

[2019-11-19 21:49] #9071 closed

[2019-11-19 22:22] cgilmour opened #9076 "Opentracing tracers can't override envoy's sampling decision"
This problem has affected a handful of Datadog users that are using Envoy directly or indirectly via istio, and the X-Request-Id header is missing or its value isn't a format that envoy expects.

Note: this is similar to #7624 and #7718, but would not be solved by a fix for that.

With zipkin tracing, when a request comes in and has both `x-b3-sampled` and `x-request-id` headers, it will use the v

[2019-11-19 23:03] argos83 commented on #9016
@PiotrSikora thanks for pointing to the updated spec. TBH I also find that definition a bit confusing.

  - *"...the Transfer-Encoding overrides the Content-Length..."* reads to me like 'ignore the Content-Length header and proceed interpreting the body length according to the transfer-encoding header'
 - *"...ought to be handled as an error.."*, this sounds like a recommendation, not a MUST. And

[2019-11-20 00:21] htuch commented on #9032
It's an interesting idea. You could imagine the filter chain is treated like route config lookup, where we do a provisional lookup at the start of the listener filter chain, and allow listener filters to "clear filter chain cache" and retrigger this, similar to "clear route cache". As information becomes populated, the lookup will produce more refine results. It is pretty complicated though concep

[2019-11-20 01:25] rgs1 commented on #9037
@fishcakez @zuercher Ok, I am positive that this lines generates the crash:

https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/network/thrift_proxy/router/router_impl.cc#L417

When commented out, no crash (of course, that's not the fix).

I tried `close()` with `FlushWrite` or `FlushWriteAndDelay`; it still crashes. Not sure what the right solution is -- checking if the con

[2019-11-20 02:02] zuercher commented on #9037
So I think this may be a case where Router::onEvent gets called twice? Once because of an upstream remote reset, which triggers a downstream reset (probably because a partial response has been sent already), then we close it again in resetStream and it crashes because upstream_request_ is nullptr? (I'm assuming this isn't in a debug build which would assert). If that's correct, then it may be enou

[2019-11-20 02:35] PiotrSikora commented on #9016
Those two are intended for all recipients (i.e. including proxies). Other than that, your interpretation sounds correct. Yes, the text is not normative, and it's a recommendation, not a `MUST`, but I don't see a reason why Envoy shouldn't be following that recommendation ("I have a broken client" is not a valid reason).

That's for proxies that don't follow the aforementioned recommendation and si

[2019-11-20 02:47] wallyatgithub commented on #7403
Thanks a lot for confirmation.
Is this still under active development? seems the pull request has been closed a month ago.

[2019-11-20 07:22] c0debreaker opened #9078 "symbolic-link issue on docker-compose in MAC OSX"
I'm on Mac OSX High Sierra.

I ran `docker-compose up --build -d` in examples/front-proxy. It completed successfully. However, I saw an error.  You can see the error the last line below.

[code]

[2019-11-20 11:31] mooperd commented on #3431
+1  - Could we have an update on this?

[2019-11-20 12:07] aserebryakov opened #9080 "Backport of #9071 fix to previous releases"
Dependencies fix (#9071) should be back-ported to previous envoy releases, because they are still broken.

[2019-11-20 12:50] sorc1 opened #9081 "build error: 404 on rules_proto downloading"
When building the last master branch (61201908c18b7), an error occurs:

`
WARNING: Download from https://mirror.bazel.build/github.com/bazelbuild/rules_proto/archive/f6c112fa4eb2b8f934feb938a6fce41425e41587.tar.gz failed: class com.google.devtools.build.lib.bazel.repository.downloader.UnrecoverableHttpException GET returned 404 Not Found
`

[2019-11-20 13:59] yangdihangN opened #9083 "Envoy Crash when connection state assert failure"
*Title*: *Envoy Crash when connection state assert failure*

*Description*:
We use envoy as ingress in K8S. The pressure at that time was 30-40 rps. When checking the log, I found the following error every 1-2 hours..

*Repro steps*:
We use the customized isti-pilot as the xds-server to configure the envoy. As mentioned above, envoy is the ingress of the K8S cluster, and the xDS protocol has not b

[2019-11-20 14:19] ivanpondal commented on #8771
Working on our xDS  control plane, we found blacklisting `active_clusters` and `warming_clusters` prevents Envoy from requesting new cluster updates.

[2019-11-20 15:30] junr03 commented on #9074
@HenryYYang could you comment on this?

[2019-11-20 15:34] junr03 commented on #9076
Sounds reasonable. If this is something that would build on top of #7624 could you please collaborate with the person working on that issue?

[2019-11-20 15:41] junr03 commented on #9080
We currently only support one stable release at a time. The maintainers are working on creating longer term plans for N stable releases, but that is not defined yet.

[2019-11-20 15:46] nagireddygatla opened #9084 "Simple Ratelimit doesnt work with envoy frontproxy"
Simple Ratelimit doesnt work with envoy frontproxy

envoy front proxy config:
[code]

ratelimit config:
[code]

I can see both ratelimit and envoy working, and can access them, but envoy doesnt hit ratelimit service at all. Please help me.

[2019-11-20 15:48] nagireddygatla commented on #9084
`hello`

[2019-11-20 15:49] junr03 commented on #9081
Interesting, the rule should retry on the alternate [URL](https://github.com/envoyproxy/envoy/blob/61201908c18b71633e4a8393c03978a83faac4d1/bazel/repository_locations.bzl#L252), which is valid. If the original is 404ing, should it be removed @lizan?

[2019-11-20 15:50] junr03 commented on #9083
@alyssawilk do you mind taking a look at this?

[2019-11-20 15:56] aserebryakov commented on #9080
@junr03 Just to clarify, this fix appears only in 1.12.1?

[2019-11-20 16:04] junr03 commented on #9078
@lizan could you take a look at this?

[2019-11-20 16:10] junr03 commented on #9084
in the configuration above the rate_limits field is not indented correctly. The field should be inside of the route field.

[2019-11-20 16:19] mattklein123 commented on #9070
Do you have appropriate idle timeouts configured? https://www.envoyproxy.io/docs/envoy/latest/faq/configuration/timeouts

[2019-11-20 16:19] nagireddygatla commented on #9084
Sir, you are such a savior that worked, been struggling with for a week now. very thankful for your help.

[2019-11-20 16:19] #9084 closed

[2019-11-20 16:41] rgs1 commented on #9037
@zuercher not quite, because `upstream_request_` will only be set to `nullptr` _after_ `resetStream()` is called, from where I think the other `onEvent()` call is happening. So we need something that isn't `upstream_request_` to do the check, I think.

[2019-11-20 18:04] alyssawilk commented on #9083
Well the good news is that this is a debug ASSERT, and there's actual error handling so with an opt build it shouldn't crash.

I think the problem is is here:
https://github.com/envoyproxy/envoy/blob/master/source/common/http/conn_manager_impl.cc#L341
basically I suspect there's some corner case where we think we should re-enable reading but the connection is disconnected, so we're hitting that as

[2019-11-20 18:24] rgs1 commented on #9037
Unclear if #9086 is the right approach; but checking the HTTP router we don't seem to close connections there on reset and it seems triggering a close from `~ActiveRpc()` is hard to get right given it can trigger other events.

[2019-11-20 18:48] qiwzhang commented on #9054
Update:  I am trying to cancel the async_client in-flight request when filter is gone in my http custom filter to see if it fixes the problem.

Will update the result here.

[2019-11-20 18:55] htuch opened #9087 "Secure Envoy profile"
This issue continues from https://github.com/envoyproxy/envoy/issues/5348 and tracks the security specific concerns in a "secure Envoy" build. Ideas that we have heard about so far include:
* Conservative defaults for all buffer sizes and timeouts in the configuration.
* A `SECURITY_ASSERT` macro that might promote some extant `ASSERT` to `RELEASE_ASSERT`.
* Replace `STACK_ARRAY` implementation wi

[2019-11-20 19:36] lizan commented on #9080
Yes we will backport #9071 to previous release when we have next release (i.e. 1.12.2), in short term please use `--distdir` option to provide the tar package to bazel.

[2019-11-20 21:23] rgs1 commented on #9037
So #9086 isn't right, sending a hopefully proper fix -- with the reasoning -- in a bit.

[2019-11-20 22:30] argos83 commented on #9016
Thanks @PiotrSikora, it makes total sense. Feel free to close this one.

[2019-11-21 00:08] lizan opened #9091 "build: upgrade to C++17"
We've discussed this in the community meeting in June. Now the Google C++ Style Guide is updated to C++17 too, so I guess it is about the right timing to do. Any objections? If so what is the toolchain you use can't support C++17?

[2019-11-21 00:34] mattklein123 commented on #9091
@lizan just so I understand, what are the driving features we are looking to get? With abseil it seems a lot less critical to move forward. (I don't have any major objection though, just concerned about who this might hurt.)

[2019-11-21 00:40] eddiewang commented on #3431
+1 spent hours tracing this down, but on the new Istio 1.4 around half of my external services stopped being accessible, here's the comment I wrote in the [istio forum](https://discuss.istio.io/t/upstream-connect-error-or-disconnect-reset-before-headers-reset-reason-connection-termination/4434/7):
[code]

[2019-11-21 02:29] PiotrSikora commented on #9016
I have no powers here, so I'll defer this to @alyssawilk.

[2019-11-21 03:20] gumpt commented on #6122
I'm working on this right now, will have a patch shortly.

[2019-11-21 05:42] #8953 closed

[2019-11-21 06:03] lizan commented on #9091
@mattklein123 Nothing much critical, abseil did resolve the major part from library for sure.

Here is my list to clear:

- std::filesystem mess in test.
- absl::string_view vs std::string_view undefined behavior: see https://github.com/abseil/abseil-cpp/issues/73, this is a blocker for upgrading, and we should minimize this.
- static inline constexpr variables, then we can kill all *Values single

[2019-11-21 07:09] aserebryakov commented on #9080
@lizan, do you have any estimation when next version of envoy will be released?
Even rough estimation like week/month/year will be enough to take an appropriate decisions on our side.

[2019-11-21 08:19] npuichigo commented on #5540
any update?

[2019-11-21 09:37] Kishn0211 opened #9092 "Document exposing grafana via envoy ingress"
Could you please share any document on how to expose grafana via envoy ingress.

Regards

[2019-11-21 12:35] objectiser commented on #9058
According to the [go docs](https://golang.org/src/net/http/doc.go), "Starting with Go 1.6, the http package has transparent support for the HTTP/2 protocol when using HTTPS." - Jaeger is being accessed via http, not https.

[2019-11-21 12:55] domhauton opened #9094 "Mirrored traffic has `-shadow` appended to the hostname in the Host header breaking routing in downstream proxies"
*Title*: *Cannot route traffic shadowed by envoy due to addition of `-shadow` to Host header*

*Description*:
The Host and Authority header are modified when shadowing traffic, even when using `host_rewrite` to modify Host manually on the route config.

This results in mirrored requested being dropped by reverse proxies further downstream.

*Example Config*:

Main config ( /etc/envoy/config.yaml )

[2019-11-21 13:05] laosijikaichele opened #9095 "Will envoy add RSocket support?"
Does envoy consider adding RSocket support?

[2019-11-21 14:53] #9016 closed

[2019-11-21 16:27] abaptiste commented on #3395
@PiotrSikora, @mattklein123 If this is not being worked on, I can pick it up.   I am able to reproduce this issue:

[code]

I haven't yet looked closely at why 10001 works and 10002 does not.  Right now I'm trying to establish what is the expected behavior.

[2019-11-21 16:42] jpeach commented on #9087
Does this also include building with [additional compiler flags](https://fedoraproject.org/wiki/Changes/Harden_All_Packages#Detailed_Harden_Flags_Description)?

[2019-11-21 16:47] jpeach opened #9096 "Add a flag to disable extensions at startup."
*Title*:

Add a flag to disable extensions at startup.

*Description*:

Many (all?) extensions can be removed from Envoy, but typical Docker images distributed by the Envoy project and getenvoy.io target a wide audience and can't be aggressive in removing extensions.

My proposal is to add a command-line flag `--disable-extensions=NAME[,NAME...]` to envoy so that the named extensions can be disabl

[2019-11-21 16:52] jpeach opened #9097 "Expose extensions in the ConfigDump endpoint."
*Title*:

Expose extensions in the ConfigDump endpoint.

*Description*:

The set of extensions in the envoy binary are logged at startup, but not otherwise exposed. If these extensions were exposed by the [config_dump](https://www.envoyproxy.io/docs/envoy/latest/api-v2/admin/v2alpha/config_dump.proto) endpoint, then it would be easier for operational tooling (e.g facter) to track what extensions a

[2019-11-21 16:59] jpeach commented on #8880
modernize-use-override is already in the default [clang-tidy config](https://github.com/envoyproxy/envoy/blob/master/.clang-tidy).

[2019-11-21 16:59] #8880 closed

[2019-11-21 17:44] htuch commented on #9087
@jpeach I think we should have these as the defaults in all builds. I know we already do PIE, not sure about `-z now`.

[2019-11-21 18:15] marcomagdy commented on #9091
I'd add to that list:

1. `[[nodiscard]]` attribute.
1. structured bindings
1.  if/switch-with-initialization

1 one is great for catching bugs. 2 and 3 are quality of life improvements.

[2019-11-21 18:19] lizan commented on #9091
@marcomagdy yeah agreed. `[[nodiscard]]` is already there via `ABSL_MUST_USE_RESULT`.

[2019-11-21 18:21] lambdai commented on #9091
+1 for structured bindings!

[2019-11-21 18:35] mattklein123 commented on #9091
The main blocker is likely to be Android and iOS support. @goaway and @junr03 can you look into this?

[2019-11-21 18:48] junr03 commented on #9091
Yep, going to investigate. I am interested in std::filesystem for Envoy Mobile.

[2019-11-21 18:58] junr03 commented on #9091
From my reading of https://developer.android.com/ndk/guides/cpp-support we have support in Android (pending knowing what is the lowest NDK version we support at Lyft cc @buildbreaker). And it looks from a wide variety of sources that the clang version that has come bundled with Xcode since 10.0 has support.

[2019-11-21 19:01] junr03 commented on #9092
Envoy has capabilities for supporting a wide variety of stats sinks https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/metrics/v2/stats.proto#config-metrics-v2-statssink.

How to get those stats to grafana depends on the stats pipeline you are using.

[2019-11-21 19:10] junr03 commented on #9096
Could you expand on the use case a bit? I am not sure I see what disabling at runtime buys the user, other than maybe preventing higher level users to not configure "not approved"/disabled extensions.

[2019-11-21 19:14] junr03 commented on #9097
This would be neat! I wonder if we should put it in the config_dump endpoint or expose it in a separate endpoint.

[2019-11-21 19:39] jpeach commented on #9096
I think there are a variety of reasons why you might not want to expose all extension all the time.

* If you are not ready to support an extension, then you might disable it, and only enable it (via configuration management tooling) when you are ready to support it.

* If you are testing, you might want to verify how your application works with envoy if a specific extension is not present (e.g. i

[2019-11-21 19:56] junr03 commented on #9096
Thanks, I was mostly thinking about 3/4.

[2019-11-21 21:09] mattklein123 commented on #3395
I would have to look at this in a bunch of detail to figure out what is going on and what the expected behavior would be. Can you potentially analyze and propose something and then we can discuss?

[2019-11-21 21:10] mattklein123 commented on #9097
+1 on this feature. I don't feel super strongly about whether it's part of config_dump or not. I guess I would mildly favor config_dump for simplicity.

[2019-11-21 21:11] mattklein123 commented on #9096
In general I'm +1 to this feature, though it should come with some type of warning as there is nothing to prevent an extension from inject code into the binary via static linkage (though obviously it would be highly discouraged in code review other than for registration).

[2019-11-21 21:19] #8420 closed

[2019-11-21 21:38] abaptiste commented on #3395
Will do.  I'll update this issue once I have more substantial information.

[2019-11-21 22:14] htuch commented on #8121
Related to https://github.com/envoyproxy/envoy/issues/8120

[2019-11-21 22:15] htuch commented on #8121
I'm marking this help wanted and unassigning myself. Technically the implementation of this issue is dependent on us completing the package rename support in the v2 --> v3 tooling, but there is a bunch of parallelism possible; we can have someone do a design proposal for the new package layout and do community discussion, achieve buy-in, and then execute when tooling is available for package movem

[2019-11-21 22:17] jpeach commented on #9096
I have most of a patch for this, can you please assign to me?

[2019-11-21 22:19] #8618 closed

[2019-11-21 22:22] mattklein123 commented on #9095
I haven't heard of anyone asking for this yet. Happy to have a design proposal if it makes sense as an extension.

[2019-11-21 22:50] lizan commented on #9091
@junr03 specifically for std::filesystem, it is not supported until iOS 13 AFAIK

[2019-11-22 01:42] moderation commented on #9095
The folks at Netifi who are commercializing RSocket position their solution as the anti-sidecar-proxy solution - https://www.netifi.com/solutions-servicemesh. They do have a C++ implementation - https://github.com/rsocket/rsocket-cpp

[2019-11-22 01:51] qiwzhang commented on #9054
After I cancel the in-flight async_client request on my custom Http Filter::onDestroy(), the problem went away.   Hence I close the issue.

[2019-11-22 01:51] #9054 closed

[2019-11-22 02:40] laosijikaichele commented on #9095
@moderation Yep, you are right. But, what if envoy add RSocket support, then people will get RSocket benefit in sidecar pattern(without RSocket broker), which probably will  be a kind of defense to RSocket.

[2019-11-22 03:21] yangdihangN commented on #9083
Thanks for your reply @alyssawilk ，We will try your advice.
Otherwise，in the process of locating the problem, we deleted the accesslog configuration and found that the problem disappeared.
Will this issue be related to accesslog?

[2019-11-22 03:29] christine-gong opened #9105 "Issue integration Envoy tracing with Spring Sleuth"
**Have problem integrating Envoy tracing with Spring Sleuth**

*Description*:
We are using Envoy with Jaeger and zipkin tracer.
e.g.
[code]
Looks like that egress traffic's spanid always get rewritten to something like 1,2,3,4. It is ok when manually forwarding headers inside the service by preserving the ingress spanid.

But when propagating tracing headers with Spring Sleuth and zipkin tracer, l

[2019-11-22 04:54] HarinadhD opened #9106 "Build: Fails grpc_mux_impl.cc:236:18: error: no viable overloaded '='"
I am trying to build below envoy release with bazel.
https://github.com/envoyproxy/envoy/archive/v1.12.1.tar.gz

Build failed as no viable overloaded '=' .

grpc_mux_impl.cc:236:18: error: no viable overloaded '='
  request_queue_ = {};

void GrpcMuxImpl::clearRequestQueue() {
  grpc_stream_.maybeUpdateQueueSizeStat(0);
  request_queue_ = {};
}

Build steps:
cd envoy-%{version}
sed -i 's#github.co

[2019-11-22 05:07] ahachete opened #9107 "Postgres Statistics Envoy Network Filter"
# Postgres Statistics Envoy Network Filter

## Background

It is becoming more and more important to have detailed insights into the performance of PostgreSQL databases. In particular, query performance is a hot topic. But it is not easy or feasible on all situations to get metrics about query performance.

The usual way is to either:

*  Log all queries by setting parameters like [log_min_duratio

[2019-11-22 06:21] derekargueta commented on #9094
The solution that immediately comes to mind for me is adding an option to the shadow policy resembling something like `enable_shadow_host_suffix_append` that defaults to true (to protect existing users) but could be set to false to achieve the desired behavior of not adding the suffix. Does this sound appropriate @domhauton ?

[2019-11-22 10:50] domhauton commented on #9094
@derekargueta That would be awesome. proto3 does default to false for booleans, so the name may be better as `disable_shadow_host_suffix_append`.

Would you be happy to receive a PR for this?

[2019-11-22 11:04] objectiser commented on #9105
Are you sending the spans, created by Spring Sleuth, also to the zipkin service provided by Jaeger?

Can you provide some examples of the traces (screen shots initially), both when doing manual context propagation and with sleuth?

[2019-11-22 11:37] vikpck commented on #2092
This would benefit us too!

[2019-11-22 17:00] #9037 closed

[2019-11-22 17:14] brectanus-sigsci opened #9111 "ext_authz CheckRequest not including request body on HTTP2 requests with with_request_body enabled"
*Description*:

I have ext_authz configured with `with_request_body` and the body is passed over in the CheckRequest call for HTTP/1.1 requests, but not when the request is HTTP/2. This seems to be the case with the following envoy containers (e.g., since this feature was introduced):

* envoyproxy/envoy:latest
* envoyproxy/envoy:v1.11.0
* envoyproxy/envoy:v1.10.0

*Repro steps*:

CheckRequest wit

[2019-11-22 17:45] #8899 closed

[2019-11-22 18:53] bobby-stripe opened #9112 "high-latency connections experience report"
# Envoy high-latency connections experience report
**Summary:** Implementing HTTP/2 connection pooling and connection-level outlier detection has the opportunity to improve Envoy’s resiliency with high-latency links and when used with transparent L4 load balancers.

We’ve been running Envoy to connect parts of our infrastructure together, as [Dylan talked about in his EnvoyCon talk](https://envoyc

[2019-11-22 20:43] dio commented on #9111
@brectanus-sigsci seems like this is similar to https://github.com/envoyproxy/envoy/issues/8666. Recently I added a patch and an integration test to validate this https://github.com/envoyproxy/envoy/pull/8877/files.

[2019-11-22 21:03] dio commented on #9111
I think you can try, to use e.g. envoyproxy/envoy-dev:40970bd6edb9969a59cd4ed17d7c66b2c0dcb8ba.

[2019-11-22 22:06] brectanus-sigsci commented on #9111
@dio Awesome! #8877 does fix this. I completely missed #8666 in my search as it was already closed.

[2019-11-22 22:06] #9111 closed

[2019-11-22 23:12] rgs1 opened #9115 "thrift proxy: emit stats when there's a route miss or cluster not found"
We currently just reply with exceptions:

https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/network/thrift_proxy/router/router_impl.cc#L215

I'll send a PR to emit stats as well.

cc: @fishcakez @zuercher

[2019-11-22 23:22] abaptiste commented on #3395
Tested this with two Envoy branches (1.12.2 and master), and found that Envoy appears to be working as expected.  That said, there is a behavior difference when testing with containers.

When Envoy initializes listeners, the first listener to be created 'wins', so using the provided config:

[code]

we end up with:

[code]

Testing responses from the same host that is running Envoy, I see that:

-

[2019-11-22 23:26] lambdai commented on #9047
If the CIDR block and the destination is static: you can enumerate the blocks, you can easily generate the listener config, adding an matcher and attach a http_conn_manager, and assign a cluster for the routes.
LDS, RDS, CDS are involved though but it is naive since it's pure config.

To reduce anyone, you might need to create a dedicate filter to embed your transform rules from block to IP
e.g.

[2019-11-23 00:25] htuch commented on #8590
Design document is available at https://docs.google.com/document/d/1V4YAtC9gpYd_KmI_X5yUJDPVHJX1lGT0IOb74BCoAXc/edit#

[2019-11-23 01:01] mabukhovsky opened #9118 "Dynamic forward proxy: "Proto constraint validation failed (FilterConfigValidationError.DnsCacheConfig: ["value is required"])""
*Dynamic forward proxy config validation failure*: *Proto constraint validation failed (FilterConfigValidationError.DnsCacheConfig: ["value is required"])*

*Description*:
Hi, I'm trying to create dynamic forward proxy using your **latest master code** that have introduced
auto_host_rewrite_header for envoy.filters.http.dynamic_forward_proxy. It is supposed to do forwarding to the domain/port defi

[2019-11-23 01:30] snowp commented on #5598
@markdroth I see you landed https://github.com/envoyproxy/envoy/pull/7744 a while ago that seems to tie nicely into this issue. I was gonna spend some time thinking of how to do this over the next few months, and the config approach in your PR is very similar to what I was thinking. Is this something you're actively working on?

[2019-11-23 02:05] ClaytonNorthey92 opened #9120 "Invalid Image Tag in Start Docs"
*Title*: *Invalid Image Tag in Start Docs*

*Description*:
In the start docs, located [here](https://www.envoyproxy.io/docs/envoy/latest/start/start#quick-start-to-run-simple-example), the image `envoyproxy/envoy-dev:cddf4acdd5fcd09cc54d829cbe3e5dfd0b36d511` is referenced, but this is not in the Docker registry
[code]

*Relevant Links*
https://www.envoyproxy.io/docs/envoy/latest/start/start#quick-

[2019-11-23 02:07] snowp commented on #9112
Support for load balancing through an L4 is generally not great with Envoy, for many of the reasons you mentioned. Some thoughts:

I think a relatively easy feature to add to the outlier detection feature set is having the outlier detection not mark an upstream as unhealthy, but just close the connection. This would trigger a new connection to be created without marking the host as down.

We do su

[2019-11-23 02:57] derekargueta commented on #9094
I think it sounds like a fine feature addition but @envoyproxy/api-shepherds would need to confirm

[2019-11-23 07:28] tonyboxes commented on #9050
My ads mode is false, will it affect?

[2019-11-23 16:42] yks0000 opened #9122 "Envoy in Non Docker Environment caught SIGTERM as soon as user logout"
*Title*: **Envoy in Non Docker Environment caught SIGTERM as soon as user logout**

*Description*:

I am trying to run Envoy in non docker environment to use it as front proxy for http2 for both incoming and outgoing connection and got the build for centos from [getenvoy.io](https://www.getenvoy.io/install/envoy/centos/). Though it runs perfectly, but as soon as I logout from root or ssh session t

[2019-11-23 18:05] #8612 closed

[2019-11-23 19:51] wlhee opened #9123 "Chunked transfer-encoding cause envoy leak memory?"
*Title*: *Chunked transfer-encoding cause envoy leak memory?*

*Description*:
Envoy memory usage keeps growing when upstream is a fast chunked response writer but the downstream is a slow reader. However, the memory usage keeps growing instead of being freed after upstream and downstream are disconnected.

*Repro steps*:
1. start envoy with the simple config

2. start an upstream:
https://gist.git

[2019-11-24 02:59] tonyboxes commented on #9050
Does the panic threshold need to be configured to take effect?

[2019-11-24 17:34] EItanya commented on #8460
Just started working on this and I have a few questions about the scope of this PR.

When I first opened this, I Was not only referring to the protos themselves, but also the host of utility functions which have been created for them. Most of them located [here](https://github.com/envoyproxy/envoy/tree/master/source/common/http).

I have already extracted them `HeaderMatcher` message and the `Quer

[2019-11-24 17:43] mooperd commented on #3431
@eddiewang I don't think this is your specific problem.

[2019-11-24 17:59] #8594 closed

[2019-11-24 20:29] mattklein123 commented on #9107
@ahachete great write up! This sounds awesome to me and I know a lot of people would be interested in seeing this land. Let us know what we can do to help!

[2019-11-24 20:30] mattklein123 commented on #2861
See https://github.com/envoyproxy/envoy/issues/9107 for a stats only filter proposal. I would suggest we start there and then extend with other features as resources become available.

[2019-11-24 20:31] mattklein123 commented on #9094
Yup SGTM @domhauton. Thank you!

[2019-11-24 20:33] mattklein123 commented on #9123
See https://www.envoyproxy.io/docs/envoy/latest/faq/configuration/flow_control for information on how to configure flow control limits. I think it's unlikely there is an actual leak vs. buffers that are tuned too large as well as the fact that in general tcmalloc does not typically give memory back to the OS.

If you still think there is an actual leak please provide heap profiles using tcmalloc p

[2019-11-24 20:36] mattklein123 commented on #3395
Thanks for the detailed write-up @abaptiste, very nice! From my read of your write-up as well as the original issue, I think @PiotrSikora is probably asking for the config to fail to load in this case in a more obvious way? That would prevent any surprising behavior from ordering issues? @PiotrSikora WDYT?

[2019-11-24 20:44] #9013 closed

[2019-11-24 21:59] #8622 closed

[2019-11-25 04:12] mattklein123 commented on #9112
Thanks for the awesome write-up @bobby-stripe!

+1. This might be a little tricky as outlier detection is disjoint from the connection pool, but I think we could figure out a way to do it without major surgery.

[2019-11-25 04:21] mattklein123 commented on #9122
Typically you would use a process manager such as systemd, runit, etc.

[2019-11-25 04:24] mattklein123 commented on #9120
Probably a spurious failure. I see the images referenced here:
https://www.envoyproxy.io/docs/envoy/latest/start/start
https://hub.docker.com/r/envoyproxy/envoy-dev/tags?page=1

[2019-11-25 04:25] mattklein123 commented on #9106
I think you need GCC 7+. cc @lizan

[2019-11-25 04:37] #8303 closed

[2019-11-25 11:00] yks0000 commented on #9122
Thank you, I have created it.

[code]

Closing this.

[2019-11-25 11:00] #9122 closed

[2019-11-25 11:59] kveretennicov opened #9126 "grpc-json transcoder: HTTP 200 on large response failure"
*Title*: *Large response that fails (due to exceeding per_connection_buffer_limit_bytes) is reported as HTTP status 200 instead of 5xx*

*Description*:

See also #6004. Situation is similar: when using gRPC-JSON transcoder and JSON-encoded response exceeds per_connection_buffer_limit_bytes, this results in empty HTTP  response with status 200. Also, there is no ERROR record in the logs that would

[2019-11-25 13:14] ClaytonNorthey92 commented on #9120
thanks for the reply @mattklein123 , I re-looked at the start page and that image works for me, so this issue is invalid, however, I am wondering why we use a dev image in the docs? instead of the latest stable one?

[2019-11-25 13:42] metalLeveller opened #9127 "How to get real client IP in Envoy?"
I need to get the real client IP address from the request and as I understand, I can get it with the help of [XFF](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/http_connection_manager/v2/http_connection_manager.proto#envoy-api-field-config-filter-network-http-connection-manager-v2-httpconnectionmanager-use-remote-address)

According to [this documentation](https://www.e

[2019-11-25 16:44] yks0000 opened #9128 "Envoy [TLS/HTTPS] to Envoy [TLS/HTTPS] Failing"
*Title*: ***Envoy to Envoy HTTPS Connection is failing***

*Description*:

We have two Envoy, both running on TLS/HTTPS (say envoy1 and envoy2). Envoy2 connects to actual service which also expose HTTP2. When I make call to envoy2, I get response over https and h2. However when I make call to Envoy1, I get 503 upstream error.

`Envoy1 (Edge/FrontEnd) [listener: 0.0.0.0:443] -> Envoy2 (Service Fron

[2019-11-25 16:49] Yogu opened #9129 "Option for read timeout / equivalent of ngix' proxy_read_timeout"
**Issue Template**

*Title*: Option for read timeout

*Description*:

Is there an equivalent of nginx' [`proxy_read_timeout`](http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_read_timeout) setting? In contrast to envoy's [`stream timeout`](https://www.envoyproxy.io/docs/envoy/latest/faq/configuration/timeouts#stream-timeouts), this timeout is reset each time the upstream sends someth

[2019-11-25 17:08] qiwzhang commented on #9126
This is the problem with http1. The filter has to send the header first before transcoding the response body.   For http2, the error status is send in trailing headers.

[2019-11-25 17:20] htuch commented on #8400
In the context of https://github.com/envoyproxy/envoy/pull/9100#discussion_r349647950, the fact that there already exists a WKT for this, `FieldMask`, arose. See https://developers.google.com/protocol-buffers/docs/reference/csharp/class/google/protobuf/well-known-types/field-mask.

It looks like we have reasonable support in the various protobuf languages for merging and masking with this, e.g. se

[2019-11-25 17:34] htuch commented on #8460
The code and API changes can be largely handled independently. For the API changes, you'll need to not actually make any breaking changes in the v2 APIs, but instead add in parallel the new paths using the types you are refactoring, and deprecate the old paths with `deprecated` annotations.

The code can actually move today without any breaking change, so up to you how to sequence or handle this.

[2019-11-25 17:54] bobby-stripe commented on #9112
thanks @mattklein123 and @snowp!

I see under [`HTTPProtocolOptions`](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/protocol.proto#core-httpprotocoloptions) there is a `max_connection_duration` that can be set on the listener (but not on an upstream) - we could give that a try.  I think our FUD around this in the past has been the impact of having to establish a large number of TL

[2019-11-25 17:55] gklingler commented on #9055
Ok, thanks for this info. We (at Dynatrace) are currently discussing our options. While implementing the OpenTracing C interface for envoy would probably the most straight forward way to "fix" this for envoy, some kind of "C++ to C bridge" could solve this OT ABI compatibility issue in a more generic way. I'll let you know once our plans are more concrete.