[2018-12-05 06:07] skyrocknroll commented on #3634
We are bitten by this.

[2018-12-05 11:06] dio commented on #5215
This is interesting since if we go by extending `grpc::MetadataCredentialsPlugin` we need to find a way of `GetMetadata` from the EC2 instance metadata endpoint within the google gRPC thread (which requires the opt-in aws-sdk for now? Do we have a way to do that without it?).

[2018-12-05 12:31] auni53 commented on #4830
(this is still on my radar, down w illness rn)

[2018-12-05 13:45] jmarantz commented on #5182
Will write PR.  Also I noted there are 347 occurrences, found via:

[code]

[2018-12-05 14:16] clyang82 commented on #5190
cc @objectiser, can you share your experience on this topic? Thanks very much.

[2018-12-05 14:24] objectiser commented on #5190
@clyang82 Sorry haven't tried tracing https so not sure what the issue might be. Will try taking a look when I can some free cycles, but not sure when at the moment.

[2018-12-05 14:35] clyang82 commented on #5190
@objectiser Thanks for your time. Here is my steps:
1. install istio
2. `kubectl create secret tls nginxsecret --cert /etc/certs/cert-chain.pem --key /etc/certs/key.pem`
3. `kubectl create configmap nginxconfigmap --from-file=samples/https/default.conf`
4. `kubectl apply -f <(bin/istioctl kube-inject -f samples/https/nginx-app.yaml)`
5. curl -k https://my-nginx  --- it works now, but there is no t

[2018-12-05 14:41] taion809 commented on #5221
Hello,
It looks like your formatting a little messed up, if you use 3 ` you can "fence" the code block and it should come out formatted correctly.

Looking at your configuration real quick your prefix is `/mock-domain` meaning the following requests should work

- `curl etapp.interac.ca/mock-domain`
- `curl etapp.interac.ca/mock-domain/thing`

And not
- `curl etapp.interac.ca/xmlproxy/20`

When en

[2018-12-05 14:56] codyja opened #5225 "0.0.0.0:0 Cluster Endpoints with Logical_DNS"
*Title*: *0.0.0.0:0 Cluster Endpoints with Logical_DNS*

*Description*:
When using LOGICAL_DNS in CDS, would it be possible to output the IPs of all the discovered endpoints when hitting /clusters? Currently it appears to only show 0.0.0.0:0. I just need a way to show an accurate list of all the endpoints behind a LOGICAL_DNS cluster. If I switch to static_dns, I do see all the hosts behind that D

[2018-12-05 15:41] #5221 closed

[2018-12-05 15:43] bnlcnd commented on #5221
💯 Thank you so much Nicholas. That was a silly mistake. :)
But I still have issue to do the simple re-route. will repost it.

[2018-12-05 15:53] bnlcnd opened #5226 "HTTPS front proxy to reroute traffic to http listener - fail with 503"
HTTPS front proxy to reroute traffic to http listener - fail with 503

*Description*:

The Envoy returns 503 error to the SOAP UI. Thr SOAP UI log:
[code]

*Envoy docker file*:
[code]

*Envoy Config yaml file*:
[code]

*Envoy Console Log*:
[code]

[2018-12-05 16:05] danzh2010 commented on #4546
Talked with @sbelair2 about cooperating on IoHandle. We plan to have initial PR: https://github.com/envoyproxy/envoy/pull/5177 checked in and I will extend the interface in PR: https://github.com/envoyproxy/envoy/pull/5171 as next step. There might be a bulky PR later to actually replace direct usage of fd with calls to IoHandle interfaces which I'm half way through.

[2018-12-05 17:00] mattklein123 commented on #5208
cc @cgilmour

[2018-12-05 17:06] mattklein123 commented on #5225
Yeah would be nice to make this better. Marking help wanted. I can try to take a look at this when I tackle https://github.com/envoyproxy/envoy/issues/1606 since it's tangentially related.

[2018-12-05 18:05] #4890 closed

[2018-12-05 18:49] taion809 commented on #5226
Hello,
So here is what I see in your logs

[code]

There appears to be a connection refused here, error 111 which IIRC is ECONNREFUSED.

If you check the output of the `/clusters` command it will give you the IP:PORT information for the cluster in question.  Double check that the server is actually listening on this port.

[2018-12-05 20:06] bnlcnd commented on #5226
Thanks Nicholas. @taion809
It's another silly mistake. Sorry for the newbies question.

[2018-12-05 20:06] #5226 closed

[2018-12-05 20:09] taion809 commented on #5226
Np, glad it was easy to catch 😅

[2018-12-05 20:21] #5029 closed

[2018-12-05 20:53] lavignes commented on #5215
@dio

We added the aws-sdk dependency behind a compiler-flag, e.g. `--enable=aws_sdk` We only really use it to curl the credentials endpoint and sign. Both are pretty trivial to implement without the SDK, granted we can safely make the instance metadata request.

I believe I could dynamically register the metadata endpoint as a remote cluster, thereby allowing us to make GET calls to the endpoint

[2018-12-05 21:13] vinothchandar commented on #2557
Looks promising! Thanks for sharing!

Don't know a lot about envoy code, so can't add anything very useful (FWIW structuring seems similar to the chromium [reverse proxy](https://cs.chromium.org/chromium/src/net/tools/quic/quic_simple_server_bin.cc?q=quic_server+file:%5Esrc/net/tools/quic/+package:%5Echromium$&g=0&l=66)).  Just left one comment on connection migration.

[2018-12-05 23:05] #4901 closed, assigned to nobody

[2018-12-06 01:05] #4824 closed

[2018-12-06 01:46] hello-jianghongke opened #5232 "admin interface /logging should not return 404, but 200 when there are no params"
*Admin and Stats Output*:
admin interface /logging should return 200, not 404 when there are no params

/logging interface has two functions: query & change as follows:
[code]
now the /logging interface acts like this:
[code]
when there are no params, it means querying the level, so the status_code should be 200 as follows:
[code]

[2018-12-06 03:05] adriancole commented on #4839
@zyfjeff wondering if you have some time to help with this. It would be really appreciated by the community, especially those who write their own proxies.

[2018-12-06 06:58] nakabonne commented on #5208
Hi @cgilmour thank you for your reply.
I think there are two meanings of the word "difficult" in this scene.
- It's difficult to implement
- Since the concept of `core.Node.cluster` and `config.trace.v2.DatadogConfig.service_name` are different, using it as a default value is incorrect

Could you tell me which is the meaning you are thinking?
Thank you.

[2018-12-06 07:14] snowp commented on #4926
We're still planning on adding this, just haven't gotten around to it yet.

[2018-12-06 16:18] gsagula commented on #5213
@bbigras You should be able to do that. Are you doing any kind of redirect? Let me try this on my end too and I get back to you.

[2018-12-06 19:47] mattklein123 opened #5235 "Add listener filter stat docs"
When doing https://github.com/envoyproxy/envoy/pull/5231 it was noticed that there are no stat docs for the existing listener filters. We should fix that.

[2018-12-06 19:47] mattklein123 commented on #5235
cc @PiotrSikora @ggreenway

[2018-12-06 20:04] htuch commented on #5215
@lavignes I think you could do it in `Envoy::Grpc::GoogleGrpcCredentialsFactory` with some changes. It would need to become an asynchronous API, rather than its current synchronous interface, as it will need to wait for HTTP completions before continuing.

If you are executing from within the `grpc::MetadataCredentialsPlugin()` execution flow, you have a lot more freedom when it comes to threading

[2018-12-06 20:39] f3nry opened #5236 "Build broken with Bazel 0.20"
**Issue Template**

*Title*: Build broken with Bazel 0.20

*Description*:

The new version of bazel released 6 days ago seems to have some backwards compatibility issues with building envoy from scratch.

Build Script:

This script is run inside a docker container based on Ubuntu 16.04.

[code]

The errors that appear are:

## 1. `--incompatible_remove_native_http_archive` flag

[code]

To fix, I'

[2018-12-06 20:47] mattklein123 commented on #5236
Hmm I'm able to building using 0.20. @htuch @lizan @jmillikin-stripe?

[2018-12-06 20:51] f3nry commented on #5236
Oh, I'm building specifically with Envoy checked out to 1.8.0: https://github.com/envoyproxy/envoy/commit/4dd49d8809f7aaa580538b3c228dd99a2fae92a4

[2018-12-06 20:52] htuch commented on #5236
It works fine for me at HEAD. We don't provide any Bazel - Envoy version compatibility guarantees other than "HEAD should build with the last Bazel point release".

[2018-12-06 20:59] #5217 closed

[2018-12-06 21:13] f3nry commented on #5236
Makes sense to me. The way we're building envoy from scratch tagged at old releases isn't great anyway. The lack of repeatable builds for older versions of envoy seems a bit odd to me, but will try with the older version of bazel for now and switch to consuming binary releases in the long term.

I appreciate the fast response! 😄

[2018-12-06 21:15] snowp opened #5237 "Allow reading filter config from disk"
Tracks adding support for specifying a `DataSource` as filter config, allowing Envoy to read the filter config from disk instead of requiring it to be fully specified in the listener config.

[2018-12-06 21:44] cgilmour commented on #5208
@nakabonne both, but mainly the difficulty to implement.

I think it's a reasonable thing to add, and would be happy to work on it.
It would also be useful in other use cases, eg: service meshes.
But right now there's no "correct" way to pass a custom name from envoy's http handling to the datadog extension.

Also I'd need some advice about choosing the correct value to use for a custom name. The

[2018-12-06 22:28] yuan-stripe opened #5238 "Configurable authority header for gRPC health checks"
There is no way to configure a custom authority/host header for gRPC health checks [0]. After some experimentation I realized the cluster name is used as the authority header. This feels rather awkward.

To contrast that, host header can be configured with the HTTP health checker [1].

[0] https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/health_check.proto#envoy-api-msg-core-healthch

[2018-12-06 23:05] #4909 closed

[2018-12-06 23:18] yuan-stripe opened #5239 "Unexpected metric names when cluster name contains dot"
*Title*: *Unexpected metric names when cluster name contains dot*

*Description*:

*Repro steps*:

*Expected*:

*Actual*:

[2018-12-07 04:05] #4902 closed

[2018-12-07 07:29] venilnoronha opened #5240 "Use simTime for HTTP integration tests"
*Title*: Use `simTime` for HTTP integration tests

*Description*:
Currently, the [HttpProtocolIntegrationTest](test/integration/http_protocol_integration.h) heirarchy runs tests using the `realTime` system. This can possibly cause flakes on slower machines, so, it'd be good to switch over to `simTime`.

*Relevant Links*:
See #5223 and [this comment](https://github.com/envoyproxy/envoy/pull/5223#is

[2018-12-07 11:37] objectiser commented on #5190
@clyang82 Ok glad you found the problem.

[2018-12-07 13:11] jmarantz commented on #5240
Not just slower machines; also machines that are busy doing multiple tasks as well; a thread you expect to wake up and do something within a bounded time may not get a chance depending on the OS and the other scheduled tasks.

[2018-12-07 13:32] dmichel1 opened #5241 "exporting traces is broken with latest docker release"
*Description*:
When running through the examples provided at
https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/zipkin_tracing.html no traces show up in the zipkin UI.

When I change the docker version tag from `latest` to `v1.8.0` in the below files traces start to show up. I don't see any errors when running on `latest` that would explain no traces to be sent.

`front-proxy/Dockerfile-s

[2018-12-07 15:07] ksurent commented on #5188
Unless someone is already working on this, I would like to give it a try.

@yob can you clarify if you're interested in downstream or upstream connections? It sounds like you want downstream.

From what I've seen in the code so far, it seems easier to add this for both downstream and upstream (common TLS layer).
Upstream information could be considered less interesting though, because presumably u

[2018-12-07 15:33] jmarantz commented on #5126
@jstordeur fyi

[2018-12-07 16:56] junr03 commented on #5237
@snowp just to clarify, are you suggesting elevating filter chains to their own FDS (filter discovery service) API?

[2018-12-07 17:31] snowp commented on #5237
That's one of the options (@bplotnick suggested something like this). The other suggestion by @htuch  was to just let us set a DataSource as the config and have Envoy load that:

[code]

(from #envoy-dev)

[2018-12-07 18:55] taiki45 commented on #4526
Sorry for being late but I'm still working this.

[2018-12-07 18:59] mattklein123 commented on #5239
cc @jmarantz

[2018-12-07 19:00] mattklein123 commented on #5241
cc @objectiser

[2018-12-07 19:04] jmarantz commented on #5239
Any chance we could just it illegal to have dots in cluster names?

[2018-12-07 19:05] mattklein123 commented on #5239
From my perspective that's fine, but any time we try to do anything like this, someone complains. Might be worth it to try to gauge some additional opinions on this.

[2018-12-07 19:22] objectiser commented on #5241
This issue is also affecting the jaeger-tracing example.

Looks like it was caused by https://github.com/envoyproxy/envoy/commit/43fc77901ee8a1608239daaa51b531f922628083.

cc @jmarantz

[2018-12-07 19:40] jmarantz commented on #5241
I can take a look; is there an easy way to express this as a unit test?

[2018-12-07 19:46] yuan-stripe commented on #5239
I wouldn't want to have dots either, until I had to workaround #5238

[2018-12-07 19:49] mattklein123 commented on #5239
@yuan-stripe #5238 would be pretty trivial to fix/add. Do you want to do that?

[2018-12-07 19:50] yuan-stripe commented on #5239
Sure, I will take it.

[2018-12-07 19:56] objectiser commented on #5241
Not sure - there are unit tests at the various levels (conn_manager_impl, http_tracer_impl, zipkin_tracer) - but looks like there must be some gap in testing. Don't think there are any e2e tests, which might be needed.

[2018-12-07 20:05] jmarantz commented on #5241
E.g. is there a way to tell if this is working without necessarily installing and learning zipkin?

[2018-12-07 20:14] objectiser commented on #5241
The way I isolated the specific SHA was to update the docker image tag [here](https://github.com/envoyproxy/envoy/blob/master/examples/front-proxy/Dockerfile-frontenvoy#L1) and [here](https://github.com/envoyproxy/envoy/blob/master/examples/front-proxy/Dockerfile-service#L1).

Then using the instructions in the [jaeger-example](https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/jaeger_tra

[2018-12-07 20:19] yob commented on #5188
Yup, downstream is what we're interested in.

[2018-12-07 20:55] jmarantz commented on #5241
Thinking about this -- not having re-reviewed the commit yet, it seems the most likely introduced bug is that a NullTracer is used when it shouldn't be. I'll take a look at that first.

[2018-12-07 21:34] tonya11en opened #5245 "stats: Histogram recordValue() can cause infinite stack loop"
**Histogram recordValue() can cause infinite stack loop**

The current implementation of a Histogram differs from the Gauge/Counter in that it is immediately delivered to the Statsd sink instead of being buffered and periodically flushed. This poses a problem in a scenario where `Histogram::recordValue` is called in the code path of the TCP stats flusher (such as the load balancer).

This issue wa

[2018-12-07 21:34] tonya11en commented on #5245
@jmarantz I'm curious about whether you have thoughts on the matter.

[2018-12-07 21:39] klarose opened #5246 "Add build scripts to run tests under a privileged container"
*Title*: *Add build scripts to run tests under a privileged container*

*Description*:
We want to be able to run some of the integration tests with CAP_NET_ADMIN. The only way to do that right now in circleci is to either use a "machine" executor running docker locally, or use a remote docker.  A major challenge with those approaches is that they only have a 2CPU 8GB machine. Building all tests an

[2018-12-07 21:40] klarose commented on #5246
I have most of the basic infrastructure/scripts ready. Hoping to do a PR soon.

[2018-12-07 21:40] mattklein123 commented on #5245
FWIW I"m in favor of doing (1) now.

[2018-12-07 21:45] tonya11en commented on #5245
@mattklein123 you can assign this to me.

[2018-12-07 21:59] dio commented on #5239
@yuan-stripe please let me know when you have a PR for #5238 ready. I’ll try to review it. Thanks!

[2018-12-08 05:39] bnlcnd opened #5247 "HTTP redirect for HTTPS cannot hit the HTTPS port. It hits the HTTP port instead."
*HTTP redirect failed*: *HTTP redirect for HTTPS listener always redirect to the HTTP endpoint instead of the HTTPS endpoint.*

*Description*:

*Envoy config Yaml file*:
[code]

*logs*:
[code]

When watching the log, this location https://192.168.64.135:8000/xmlproxy/ws/3.4.1/manageContact seems to be the re-directed target. But actually, I expect https://192.168.64.135:8443/xmlproxy/ws/3.4.1/mana

[2018-12-08 06:57] ramaraochavali commented on #4543
@dio were you able to spend time on this? Any thing you found?

[2018-12-08 21:12] #5210 closed

[2018-12-09 04:40] #5241 closed

[2018-12-09 09:36] BenPope commented on #5087
The route specific upgrade_config isn't in v1.8.0, but I'm running 43fc7790 and it's not crashing. Thanks all for the help.

[2018-12-09 17:21] #2167 closed

[2018-12-10 01:52] lizan commented on #5144
This is one of mystery in CircleCI for me, I have been debugging this with @auni53 before and couldn't figure out. It doesn't reproduce whenever I tried SSH with clang-tidy run.

The error log says it hangs at:
https://github.com/envoyproxy/envoy/blob/6c2c7b5ca026dfd77e70826b1474feaaabaf8ec1/ci/build_setup.sh#L111 which is the `cleanup` method but not clang-tidy itself.

[2018-12-10 01:53] nakabonne commented on #5208
I apologize for this late reply.

I understood that `core.Node.cluster` is not optimal as the default value.
This question may be best for listening to the person who implemented each driver, but could you tell me how Jaeger or Zipkin's driver gets service name?
They don't need to specify the service name in [config](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/trace/v2/trace.proto#co

[2018-12-10 11:48] #5190 closed

[2018-12-10 15:17] fredlas commented on #4991
ongoing

[2018-12-10 19:56] zanes2016 commented on #5173
The behavior suggests that envoy's cluster connection manager fails to tolerate a TCP connection loss.

[2018-12-10 22:04] agun7 opened #5260 "Cara membuka"
**Issue Template**

*Title*: *One line description*

*Description*:

describe the desired behaviour, what scenario it enables and how it
would be used.

[optional *Relevant Links*:]

**Bug Template**

*Title*: *One line description*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

*Repro steps*:

required to reproduce the bug.

gathers a tarba

[2018-12-10 22:39] venilnoronha commented on #3538
/assign @venilnoronha

[2018-12-10 22:44] agun7 opened #5261 "Bagaimana mengetahui maksudnya"
qrgxuv7han3sdrqgkf0gdnmlqdl5nylwduw70hm7xt

[2018-12-11 00:51] lavignes commented on #5215
@htuch Thanks! This is exactly what I was looking for. We'll go ahead with implementing (3).

[2018-12-11 01:06] lucperkins opened #5263 "Better documentation for Envoy extensions"
As it stands, the documentation for extending Envoy is [pretty thin](https://www.envoyproxy.io/docs/envoy/latest/extending/extending). The [envoy-filter-example](https://github.com/envoyproxy/envoy-filter-example) project does provide a nice example but it'd be good to have a more step-by-step, narrative-style tutorial surrounding this.

I will be taking on this work. If anyone has recommendations

[2018-12-11 02:30] hzxuzhonghu commented on #4991
Looking forward to this.

[2018-12-11 03:00] xiaoma2100 opened #5264 "what IDE your team use"
Hi all,
what IDE your team use for C++? the source insight and VS 2017 is support not good like those code.

class TagProducer {
public:
  ~TagProducer() {}
  std::string produceTags() const PURE;
  int other_member_;
};

typedef std::unique_ptr<const TagProducer> TagProducerPtr;

TagProducerPtr tag_producer_;

it is can NOT list the members of tag_producer_  automatic, is there any IDE support li

[2018-12-11 07:35] nakabonne opened #5266 "[Question] A feature to propagate context within trace"
*Title*: *[Question] A feature to propagate context within trace*

*Description*:
Envoy has a feature to generate a span and automatically send it to a collector. This is a great feature.
However, we need to add application code so as to propagate the context between spans.
In order to achieve Envoy's goal "to abstract the network from application developers so that they can focus on business logi

[2018-12-11 08:43] objectiser commented on #5266
It would certainly be great if this was possible - however the problem is that the Envoy proxy has no way of knowing which outbound requests were caused by which inbound requests.

The only way that an outbound request can be correlated to an inbound request, and therefore reported as being part of the same trace instance, is if some correlating information from the inbound request is passed to th

[2018-12-11 09:20] nakabonne commented on #5266
Thank you for your prompt response.
I understand. Thank you for your perfect explanation.

[2018-12-11 09:21] #5266 closed

[2018-12-11 15:04] auni53 commented on #5264
Not at all helpful to you, but most of our team uses vim or emacs. Finding cross-inheritance members is a huge pain-point, though eased a little bit by internal tooling.

[2018-12-11 15:55] rispa opened #5267 "RBAC: envoy.filters.http.rbac source_ip principal does not seem to work together with external loadbalancers in front proxy configuration"
*RBAC: envoy.filters.http.rbac source_ip principal does not seem to work together with external loadbalancers in front proxy configuration*

*Summary: The envoy.filters.http.rbac source_ip principal seems to be using the "raw" source ip, making it unusable in a edge/front proxy configuration when there are additional loadbalancers in front of it. Are we missing something?*

*Description*:
We are t

[2018-12-11 16:52] bnlcnd commented on #5247
Is there anyone experienced the problem before?

[2018-12-11 17:49] vadimeisenbergibm opened #5269 "data-plane-api and go-control-plane are out of sync on ServerInfo"
The PR  https://github.com/envoyproxy/data-plane-api/commit/c38054d891dd23ad2939d54cc62269491f680e4f makes Istio fail in a test: https://circleci.com/gh/istio/istio/266566?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link:

The go-conrol-plane is not updated with the field "command_line_options"

cc @ramaraochavali

[2018-12-11 18:17] zuercher commented on #5267
I'm not very familiar with the RBAC code, but it looks like the [IPMatcher](https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/common/rbac/matchers.cc#L120) only looks at the connection's immediate local or remote address and there's presently no way to configure it to use the x-envoy-external-address or any other header.

[2018-12-11 18:36] fredlas opened #5270 "Clarify and simplify the ADS and xDS over gRPC implementations"
The current implementations of xDS over gRPC and ADS are hard for someone new to the code to understand, or at least, hard for this particular new someone :)

Here is the situation: there is GrpcMuxImpl, GrpcSubscriptionImpl, GrpcMuxSubscriptionImpl, and GrpcManagedMuxSubscriptionImpl. GrpcSubscriptionImpl owns both a GrpcMuxImpl and a GrpcManagedMuxSubscriptionImpl. GrpcManagedMuxSubsciptionImpl

[2018-12-11 19:07] zuercher commented on #5269
I don't think this is really an Envoy issue. Also, folks are working on a sync already: envoyproxy/go-control-plane#134

[2018-12-11 20:48] utkarsh-simha commented on #4961
If I understand correctly, the requirement is to route to a specific instance of a service dynamically?

One solution, as you mentioned is to use `cluster_header: foo` to route dynamically based on the value of the given header `foo`. If the configuration needs to be updated, you can use a control plane to do so

The other solution is to use subset load balancing which allows you to build subsets

[2018-12-11 21:41] dmitri-d commented on #5270
I largely agree with the above. Not sure re: using ```absl::optional``` (thanks for pointing this out, didn't know something like this existed in C++) -- it looks to me like an analogue ```Option/Maybe``` monad, which I don't think is a great fit here. Switching to ```std::shared_pointer``` and perhaps providing two constructors (one instantiating mux in place, another taking it as a parameter) wo

[2018-12-11 22:03] lizan commented on #5264
I use CLion, with [a script](https://github.com/lizan/bazel-cmakelists) to generate CMakeLists.txt for CLion to index codes.

[2018-12-11 22:08] lizan commented on #5247
the `https_redirect` only changes the URI schema so if you have non-standard port in the URI you'll be redirected to the same port (i.e. http://example.com:8000/ to https://example.com:8000/). Try use `port_redirect`? See https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#route-redirectaction

[2018-12-11 22:38] venilnoronha commented on #4622
@mattklein123 this is already done in #4625 which was closed because it went stale.

[2018-12-11 23:40] rgs1 opened #5273 "support configuring a fraction of mirror traffic"
Currently, `request_mirror_policy` [0] only supports to config modes:

a) `runtime_key` not set, so 100% of requests get mirrored
b) `runtime_key` is set, so it relies on the runtime key to determine the percentage of traffic

We have a need for a third mode which is:

c) allow setting the percentage via a config key (e.g.: `default_percentage`)

Does this sound reasonable? If so, I'll send a PR.

[2018-12-12 01:08] xiaoma2100 commented on #5264
thanks all, I will try CLion.

[2018-12-12 01:08] #5264 closed

[2018-12-12 05:43] htuch commented on #5270
I agree that naming could be improved. Some concrete feedback:

* `GrpcMuxImpl->AdsMuxImpl`: I don't think this one is valid. We use the gRPC mux for EDS subscriptions (and probably RDS in the future as well) to mux the same resources.

* `GrpcSubscriptionImpl->XdsSubscriptionImpl`: I don't think this one is that helpful, as there are multiple xDS subscription implementations, for filesystem (File

[2018-12-12 05:58] yuan-stripe commented on #5239
@mattklein123 @dio PR #5275 is submitted to add support for #5238

[2018-12-12 06:41] dio commented on #5239
@yuan-stripe got it. Thanks! I'll take a look.

[2018-12-12 07:43] dzhyw opened #5276 "how to configuration envoy redis cluster"
how to configuration envoy redis cluster , can you give me a example?

[2018-12-12 07:58] hello-jianghongke opened #5277 "useless operation in function ConnectionHandlerImpl::ActiveListener::onAccept"
found an useless operation in function ConnectionHandlerImpl::ActiveListener::onAccept

[code]
I think the line `Network::Address::InstanceConstSharedPtr local_address = socket->localAddress();` is useless, and shoule be removed.

[2018-12-12 09:19] ramaraochavali commented on #5276
Here is a sample on how it can be configured https://github.com/envoyproxy/envoy/blob/892168c1dbbc7e6f7b94181b5cb29150667e81e6/test/config/integration/server.json#L429

[2018-12-12 10:44] yiyouguisu commented on #3582
I faced the same problem

[2018-12-12 15:53] fredlas commented on #5270
Ok, nice to hear some support for the shared_ptr approach. I definitely agree, I think I've just been a little bit conditioned to avoid introducing new uses of shared_ptr whenever possible!

Ah ha, that did not occur to me. In that case, I think simplifications in other places and good comments should be enough to clear things up about this class.

Yeah, I guess I was implicitly thinking only in t

[2018-12-12 16:29] sschepens opened #5279 "hds: Envoy not respecting HDS protocol when requesting health checks"
Envoy is [sending a HealthcCheckRequest message](https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/health_discovery_service.h#L166) when requesting healthchecks but it should be sending a HealthcCheckRequestOrEndpointHealthResponse per [proto definition](https://github.com/envoyproxy/envoy/blob/master/api/envoy/service/discovery/v2/hds.proto#L55).

[2018-12-12 16:52] mattklein123 commented on #5215
@htuch @lavignes one other potential thing to consider would be to not use the Google gRPC client at all. Presumably you are just using it because it has a credentials/auth hook? Envoy's built-in AsyncClient/GrpcAsyncClient I think could be fairly easily extended to support filters, and then you could have an AWS auth filter plugin of some kind (or just a metadata callback which does the right thi

[2018-12-12 16:57] mattklein123 commented on #5273
@rgs1 +1 we have done many PRs similar to this. Take a look through config history and I think you will find several things to model on.

[2018-12-12 16:59] mattklein123 commented on #5277
Please submit a PR

[2018-12-12 16:59] mattklein123 commented on #5276
@danielhochman a Redis example would be cool

[2018-12-12 17:00] mattklein123 commented on #5279
@htuch what's the impl status of HDS?

[2018-12-12 18:45] rgs1 commented on #5273
We could add a new field that is either a `RuntimeUInt32` [0] or a `RuntimeFractionalPercent` [1], and have it take precedence over the `runtime_key` field which will become deprecated. Something like https://github.com/envoyproxy/envoy/commit/bcc7a96d9e66bc0f70e3ed52161ec3471f835bdb.

[0] https://github.com/envoyproxy/data-plane-api/blob/master/envoy/api/v2/core/base.proto#L106
[1] https://github

[2018-12-12 18:47] sschepens commented on #5279
@mattklein123 I think HDS is mostly working, been trying to test it and found out this issue when trying to make it work with a control plane. With this fix everything seems to be working OK.

[2018-12-12 20:31] #4642 closed

[2018-12-12 20:35] 52tt commented on #4638
I jumped to https://docs.docker.com/compose/compose-file/ and found the example they provided is exactly similar to what we have under envoy-front/.
Did I miss something?

[2018-12-12 21:31] #4963 closed

[2018-12-12 21:38] jrajahalme commented on #5142
@mattklein123 Yeah, recall the back and forth on whether or not to sanitize at the edge. We ended up relying on max-grpc-timeout for this purpose. My proposal above was to disable stream-idle timeouts for gRPC streams, as those streams would still be bounded by max-grpc-timeout for the request timeout. AFAIK this would be equivalent of making the idle-timeout being set at max-grpc-timeout, or less

[2018-12-12 22:31] #4648 closed

[2018-12-12 22:52] mattklein123 commented on #5273
@rgs1 definitely do a fractional percent for new code. Thanks!

[2018-12-13 00:17] kh-chang opened #5281 "grpc-json transcoder: Support ignoring whitelisted query parameters"
*Title*: *grpc-json transcoder: Support ignoring whitelisted query parameters*

*Description*:
It may be desirable to ignore some query parameters. The most common use case would be api key parameter. For example,  /shelves/456/books/123?key=API_KEY wouldn't be transcoded unless variable binding is defined.

The current transcoder implementation does not allow this. I believe the simplest solution

[2018-12-13 02:54] kh-chang commented on #5281
For the first option that @qiwzhang, it would be roughly look like this:
https://github.com/kh-chang/envoy/commit/20110bbc8b2c95c9c71cba2447892136a6a1fbb6

[2018-12-13 02:55] qiwzhang commented on #5281
Since transcoding filter will set path to gRPC method,  all query parameters will be discarded.  It will be useful to move some of them to headers so

Another option is to move certain query parameters to headers.  For example

Move
path?key=1234
to
x-api-key: 1234

We could define:

Message MoveQueryParameter {
    // the query parameter key will not be used for transcoding.
    string query = 1;

[2018-12-13 04:52] g-easy commented on #2456
I have a prototype of an OpenCensus trace driver, I'll roll a PR soon.

[2018-12-13 06:42] adriancole commented on #4839
sorry to nag you @zyfjeff but you've done the only major work on zipkin side recently. there are few people with c++ experience in the ecosystem.. would others be able to help you with something you need in order to clear time to help them? For example, I recently help with alibaba dubbo. I think others may be able to help you'all some how to make mutual benefit. I fear no one will work on this un

[2018-12-13 06:49] zyfjeff commented on #4839
@adriancole
Sorry, I have been doing Envoy's secondary development for the company recently. I will take some time this month to familiarize myself with the Zipkin v2 format. I am willing to help the community to complete this issue, but I can't guarantee that it will be completed soon.

@mattklein123  please assign to  me

[2018-12-13 06:56] adriancole commented on #4839
@zyfjeff thanks for even considering this.. starting is the first step in finishing (or so my span says)

[2018-12-13 06:57] adriancole commented on #4839
if any questions ask on https://gitter.im/openzipkin/zipkin I've alerted the team to watch for you!

[2018-12-13 06:59] zyfjeff commented on #4839
OK, I am happy to help the community.

[2018-12-13 07:21] bochunz commented on #5281
As opposed to moving to headers, probably move to the dynamic metadata?

[2018-12-13 08:17] htuch commented on #5270
On shared_ptr, I think this makes sense if there is genuinely a multi-owner scenario, e.g. one owner might disappear and the other owners still need to retain the object. If there is a canonical owner, which outlives any other owners, we should just take a pointer/reference and not manage ownership.

On v1 API implementations, we're going to nuke these at the next release, so I think the shelf lif

[2018-12-13 08:19] htuch commented on #5215
@mattklein123 yeah, this would be totally reasonable. I guess at some point we will need to extend the Envoy gRPC client to support a wider range of auth models. This would have been a place that it would make sense to try and leverage libraries from Google gRPC perhaps, but I think it needs a more detailed investigation to figure out if these APIs exist today and/or coordinate with gRPC team to e

[2018-12-13 08:29] #5279 closed, assigned to nobody

[2018-12-13 08:32] htuch commented on #1310
@sschepens I left some notes in https://github.com/envoyproxy/envoy/issues/5279#issuecomment-446882377.

If you'd like to continue to drive HDS, taking it from its current alpha status to production ready, that would be totally rad. I'd be happy to do reviews and have design discussions. We'd like to iterate here. It's likely that Google will also have bandwidth to help with the implementation in

[2018-12-13 09:53] hello-jianghongke commented on #5277
OK

[2018-12-13 09:57] rispa commented on #5267
@zuercher Ok, that corresponds to the behaviour we observed. Thanks for looking into this! I guess this would a non-trivial thing to fix properly?

[2018-12-13 14:24] sesmith177 commented on #4952
@htuch we've had a chance to take a look at libuv on Windows (specifically `uv_stream_t` and `uv_fs_event_t`).

It does appear that using libuv will fix the problem of write events constantly triggering on Windows. We were able to verify this by hacking together a version of the dispatcher that wrapped libuv instead of libevent. That said, we didn't go as far as integrating this dispatcher with th

[2018-12-13 16:04] alyssawilk opened #5289 "throw_bad_optional_access in HttpConnectionManager"
As reported by @tonya11en

At Lyft, we've observed an Envoy crash with the following stack trace on build 6d9de10:

Backtrace:
#0  0x00007f05ab87ac37 in __GI_raise (sig=sig@entry=6) at ../nptl/sysdeps/unix/sysv/linux/raise.c:56
#0  0x00007f05ab87ac37 in __GI_raise (sig=sig@entry=6) at ../nptl/sysdeps/unix/sysv/linux/raise.c:56
#1  0x00007f05ab87e028 in __GI_abort () at abort.c:89
#2  0x0000000000b

[2018-12-13 17:01] qiwzhang commented on #5281
Both are useful for certain cases;  moving to header can be used by another proxy, moving to dynamic metadata can be used by another filter within the same proxy.  How about we support both as:

Message ExtractQuery {
// the key of query parameter to be extracted,
// it  will not be used for transcoding to fill gRPC request body.
string query = 1;

// If not empty, the value will be moved to the h

[2018-12-13 17:45] lizan commented on #5281
@qiwzhang I think we do ignore all unknown parameters in ESP, no? I thought Envoy does same but if not we might be able to do that, just like it ignores unknown fields in JSON.

[2018-12-13 17:47] lizan commented on #5281
For moving parameters to header I think it is a generic one and could be another filter, like we have header_to_metadata filter already. Perhaps open another issue for that?

[2018-12-13 18:18] qiwzhang commented on #5281
@lizan ESP has "system_parameter" to exclude from.  Its "system_parameters" defines "key" and "api-key", so path matcher will not fail.  Otherwise if there is unknown query parameters, ESP will fail.

[2018-12-13 19:38] lizan commented on #5281
Since we already have header_to_metadata and we cannot change the name easily so I prefer small filters, can you open issue for that? We can discuss there.

[2018-12-13 19:48] kh-chang opened #5291 "Add query_parameter_to_metadata and query_parameter_to_header http filters"
*Title*: *Add query_parameter_to_metadata and query_parameter_to_header http filters*

*Description*:
Currently there is a header -> metadata filter (header_to_metadata) and similar filters for other mapping can be useful:
1) query param -> metadata
2) query param -> header

*Relevant Links*
https://github.com/envoyproxy/envoy/issues/5281

[2018-12-13 19:49] kh-chang commented on #5291
@lizan @qiannawang @bochunz

[2018-12-13 19:57] bnlcnd opened #5292 "Envoy HTTPS ingress always return 404 when SSL config specifies a domain name"
*Title*: The https listener always return 404 if the domain setting is the real domain name of the certificate

*Bug Description*:

SOAP UI request URL:
https://hello.com:8443/mock-domain
or
https://192.168.64.135:8443/mock-domain

*SOAP UI http log*
[code]

*Config envoy.yaml*:
[code]

*Startup Logs*:
[code]

*Trace Logs for the transaction*:
[code]

[2018-12-13 19:57] kh-chang commented on #5281
Regarding either whitelisting query params to be ignored or simply ignore all invalid query params for transcoder, do we prefer working around from other filters? Or is would it be still worth supporting it in the transcoder filter?

[2018-12-13 20:00] qiwzhang commented on #5281
I prefer not to add "ignore_all_unknown" to the grpc transcoding filter.  I am sure it will be useful for some cases. But it also has the drawback of not rejecting requests with typo.

[2018-12-13 21:08] wrowe commented on #3837
SIGTERM is typically the signal sent by the OS during a system shutdown, so it is unwise to use this anything slower than such rapid (<120 second) shutdown windows. Both httpd and ngnix use the WINCH signal for this slower, graceful shutdown purpose.

[2018-12-13 21:34] #3883 closed

[2018-12-13 21:56] klarose commented on #5246
This issue is fixed with #5628. I'll make use of them in my integration test, and put together the framework to run them in circle later.

[2018-12-13 21:56] #5246 closed

[2018-12-13 22:30] qiwzhang commented on #5281
Hi @lizan , there is an issue of doing it in separate small filters.   These request modification actions (moving query parameters to header or metadata) are specific for the grpc_transcoding filter,  they should only activate on the requests that grpc transcoding filter is activated.  For now, the checking is simple, just content-type,  but in the future, it may add other conditions, such as per-

[2018-12-13 23:05] bochunz commented on #5291
is it possible to rename that existing filter? If not, seems like adding the additional config that handles query param will make the filter name awkward.

[2018-12-14 00:43] htuch commented on #4952
@sesmith177 ack, thanks for digging into this. I actually asked Vaclav at https://envoyconna18.sched.com/event/HDdl/using-envoy-for-data-aware-traffic-routing-in-azure-service-fabric-vaclav-turecek-microsoft about this from the MSFT perspective. Their thoughts were that they had made use of libuv internally in various other places, whether it makes sense for Envoy comes down to how hard IOCP is vs

[2018-12-14 00:53] rgs1 commented on #5273
@mattklein123 @zuercher something like https://github.com/envoyproxy/envoy/pull/5295?

[2018-12-14 02:19] qiwzhang commented on #5281
OK then, let us just do the change proposed by  kh-chang@20110bb

[2018-12-14 04:02] #4996 closed

[2018-12-14 04:41] bnlcnd commented on #5247
Thanks Lizan.
It does work. I change the redirect section to
[code]

Now it is redirecting the request from http-8000 to the port https-8443.

[2018-12-14 05:47] kh-chang commented on #5281
I will work on a PR.

[2018-12-14 08:16] snowp opened #5300 "grpc -> http/1.1 filter"
We run a filter internally that converts gRPC requests into HTTP/1.1 requests. This is used to allow apps that do not have good gRPC support handle requests sent from an gRPC client, allowing call sites to be uniform regardless of the gRPC capabilities of the upstream.

The filter works like this:

1) Determine whether the filter should be applied based on filter metadata.
2) If applicable, conver

[2018-12-14 14:46] lizan commented on #5247
Closing as answered

[2018-12-14 14:46] #5247 closed

[2018-12-14 15:34] fredlas commented on #5270
Agreed about shared_ptr. I think it depends on whether the following is sensible: in ADS initialization you create a shared_ptr<GrpcMux>, create the various xDS subscriptions that will be multiplexed by it, give them all the shared_ptr, and then drop the original copy of the shared_ptr. But then there's also the multiple EDSes thing. I'll have to look into that.

If that is not a good approach, th

[2018-12-14 17:54] jrajahalme opened #5301 "Minimal support for multiplexed transport connections"
Envoy currently relies on 1:1 correspondence between `ConnectionImpl` and a connection accepted by a listener. This is too rigid for use cases where multiple logical connections are transported over a single socket. Cases like this include, for example, UDP based transports, tunneling protocols, etc.

Ongoing work on IoHandle abstraction (#5171, #5171) are required enablers for transport multiplex

[2018-12-14 17:58] lizan commented on #5300
Yeah there seemed to be interest for this. Have you considered do opposite of gRPC-Web instead of http-bridge? It has a standardized protocol spec and better support for half-duplex streamings.

[2018-12-14 18:35] kellycampbell opened #5302 "Filter returning StopIterationAndWatermark still gets 413 Payload Too Large errors"
*Title*: Watermarked buffering doesn't seem to work with ext_authz filter

*Description*:

I'm trying to figure why Envoy is sending a 413 when it seems like the watermark buffer should be preventing that. I'm using an ext_authz filter configured via https://github.com/datawire/ambassador

I've read through this documentation already: https://github.com/envoyproxy/envoy/blob/master/source/docs/flo

[2018-12-14 18:54] bnlcnd commented on #5292
Some extra background here.

The command to generate the crt and key is:
[code]
I tried to follow an article https://www.learnenvoy.io/articles/ssl.html before. it didn't work. The command to generate key and cert in this article does not work. The key and cert cannot be recognized by Envoy latest alpine image. The Envoy cannot start up.

Only after I switch to the proper command, the Envoy can st

[2018-12-14 18:56] bbigras commented on #5213
Sorry for the late reply. No I don't do any redirect. My "auth" process uses "basic" auth.

[2018-12-14 19:36] lizan commented on #5144
OK I figured out why it happens, due to the inefficient way that clang-tidy-diff runs clang-tidy. With large diff involved this happens easily. Will work on a fix shortly.

[2018-12-14 20:16] #4986 closed

[2018-12-14 21:13] mattklein123 commented on #5300
@snowp yeah I do think there is general community interest in such a thing, we have discussed having this at Lyft also.

[2018-12-14 21:45] snowp commented on #5300
@lizan Considered something like gRPC-Web but we've got years of protobuf RPC infra that predates gRPC, so it's been useful for us to have this filter support our old proto-over-http clients that aren't gRPC aware. I think it makes sense for gRPC-Web to do this, but for us having to replace all the clients is a ton of work, so we'd prefer a simpler alternative.

I'll clean up what we have internal

[2018-12-14 22:08] lizan commented on #5300
@snowp I meant "gRPC -> gRPC-web" to support gRPC aware client to issue HTTP/1.1 (gRPC-web) request. But yeah if you have tons of server already doing proto-over-HTTP then probably that is fine.

[2018-12-14 22:17] mattklein123 commented on #5267
@zuercher @rispa yes, we should have a variant of IP matcher that actually uses the `StreamInfo` remote address vs. the connection level remote address. The stream level remote address for HTTP streams will be the correctly populated remote addressed based on XFF processing, etc.

[2018-12-14 22:49] snowp commented on #5300
Ah yeah, that’s what I meant as well. We do have both clients and servers
that conform to this.

On Fri, Dec 14, 2018 at 3:08 PM Lizan Zhou <notifications@github.com> wrote:

[2018-12-14 22:56] mattklein123 commented on #5302
@kellycampbell it's also set via a call to `commonHandleAfterDataCallback()`. I think this should be working so this might need some more debugging?

[2018-12-14 22:59] mattklein123 commented on #5302
cc @alyssawilk

[2018-12-14 22:59] #5109 closed

[2018-12-14 23:00] mattklein123 commented on #5143
I think this is done. Thanks!

[2018-12-14 23:00] #5143 closed

[2018-12-14 23:02] mattklein123 commented on #3998
@zyfjeff thoughts on adding some docs around this new filter? I think then we can call this initial issue done?

[2018-12-14 23:02] mattklein123 commented on #2797
I'm going to call this tracking issue done. Let's open specific bot issues at this point so they are easier to track.

[2018-12-14 23:02] #2797 closed

[2018-12-14 23:11] mattklein123 commented on #4535
@htuch how is this issue only partially fixed? I'm cleaning up issues and got confused. We have a separate issue on IP matching? https://github.com/envoyproxy/envoy/issues/4457

[2018-12-14 23:12] mattklein123 commented on #5238
Done

[2018-12-14 23:12] #5238 closed

[2018-12-14 23:16] mattklein123 commented on #5056
I'm going to go ahead and close this out. Please reopen if we think there is an issue here and we have some more info.

[2018-12-14 23:16] #5056 closed

[2018-12-15 00:16] rnburn opened #5309 "Dynamically loaded tracer is broken"
Starting with https://github.com/envoyproxy/envoy/commit/43fc77901ee8a1608239daaa51b531f922628083, a dynamically loaded tracer will no longer report spans.

[2018-12-15 00:20] kellycampbell commented on #5302
@mattklein123 thanks for the quick response. Sorry for my mistakes. I missed that `buffer_was_streaming` param. I also failed to account for the initialization to `true` in the header file.

I didn't look too closely at the datawire fork until now, but that has a really different set of code for this.

https://github.com/datawire/envoy/blob/master/source/common/http/conn_manager_impl.cc#L1603

I w

[2018-12-15 00:30] #5309 closed

[2018-12-15 01:55] kellycampbell commented on #5302
Looks like it does work with the most recent envoy builds from envoyproxy.

I only did some cursory research on the differences between ambassador master and envoyproxy master, but didn't pinpoint the cause.

Here's a log of 100MB file that uploaded without error:
[code]

[2018-12-15 01:56] #5302 closed

[2018-12-15 02:10] qiwzhang opened #5311 "Bug: continueDecoding calls the wrong filter for decodeData() calls"
*Description*:

In this specific case: there are 3 decode filters. The second filter calls addDocodeData() in its decodeHeaders() call. The buffered data should be passed to the 3rd filter, not to the 2nd filter since it is added by the second filter.

This is correct if all filters are "continued". But it is not correct if the first filter is stopped and continued with continueDecoding() call.

*

[2018-12-15 04:50] ramaraochavali commented on #5168
@mattklein123  We are not able to reproduce this even after repeated attempts. I think it is better to close this and will open again if I am able to reproduce this.

[2018-12-15 17:31] zyfjeff commented on #3998
@mattklein123
I am going to add documentation next week, but this issue can continue to be kept because we are doing Dubbo routing.

ref: #5251

[2018-12-15 17:46] zyfjeff opened #5313 "Crash due to incorrect object destruction order"
*Title*: *Crash due to incorrect object destruction order*

*Description*:

I am doing secondary development based on envoy to support the Dubbo protocol. I have a crash problem. I found that ConnectionImpl will destruct `filter_manager_` when destructuring, and `filter_manager_ `will destruct the Dubbo filter I wrote. When Dubbo filter is destructed, `ConnectionImpl::fd` is called, and this funct

[2018-12-15 18:06] mattklein123 commented on #5168
SGTM

[2018-12-15 19:37] lizan commented on #5292
You'll need to include port number in `domains` if the port is non-standard, i.e. "hello.com:8443"

[2018-12-16 03:50] brian-pane opened #5316 "Timeout failure in http2_upstream_integration_test's UpstreamConnectionCloseWithManyStreams"
*Description*:

While building the Envoy trunk on a newly installed host, I got an intermittent test failure for `IpVersions/Http2UpstreamIntegrationTest.UpstreamConnectionCloseWithManyStreams`: both the IPv4 and the IPv6 versions of the test timed out.

Upon rerunning `bazel test`, with all the other test results cached so that `UpstreamConnectionCloseWithManyStreams` wasn't competing with anythi

[2018-12-16 05:37] mattklein123 commented on #5313
@zyfjeff yeah this sounds like an order of destruction bug. I can't think of any reason not to rearrange. Can you fix?

[2018-12-16 05:38] zyfjeff commented on #5313
@zyfjeff No problem, I will fix it.

[2018-12-16 07:06] sterchelen commented on #4709
Hi,

As a beginner, I can handle the 9960 issue: _"Stack-overflow in google::protobuf::TextFormat::Parser::ParserImpl::SkipFieldValue"_

[2018-12-16 07:09] htuch commented on #4709
Thanks @sterchelen, PRs welcome, please tag me on the PR.

[2018-12-16 07:40] PiotrSikora commented on #4535
My best guest is that #4682 implemented this at the filter chain level, but this issue is about implementing this also at the virtual host level (i.e. `RouteMatch`).

[2018-12-16 07:50] htuch commented on #4535
@PiotrSikora we agreed earlier in this issue that we didn't need to do it at virtual host level for @nickolaev 's needs, so if that's it, I think we can close.

[2018-12-16 08:16] PiotrSikora commented on #4535
@htuch ah, ok, I've missed that. We have at the filter chain level is complete, so I guess this can be closed.

[2018-12-16 20:19] #5005 closed

[2018-12-16 20:41] itayd commented on #5005
/rk-ping

[2018-12-16 21:09] itayd commented on #5005
fix for ^ incoming. sorry for the noise.

[2018-12-17 00:38] mattklein123 commented on #4535
OK closing.

[2018-12-17 00:38] #4535 closed

[2018-12-17 06:12] adammw opened #5324 "Assertion failure when RBAC filter config is invalid"
*Title*: Assertion failure when RBAC filter config is invalid

*Description*:
Envoy should ignore / gracefully warn/fail configuration errors in the filter config for a listener. Instead, some assertions are being called on filter creation.

*Repro steps*:
Using Istio with docker.io/istio/proxyv2:1.0.3 of the container.

Add this config:
[code]

(Note that the indentation is incorrect so the sourc

[2018-12-17 06:43] htuch commented on #5270
Re: shared_ptr, I think this makes sense if-and-only-if the xDS subscription lifetimes need to outlive their creating objects, so depends on where you see the object structure & lifetimes going here.

[2018-12-17 06:49] nickolaev commented on #4535
I confirm the issue can be closed, as we already have a merged solution. #4457 will track the next developments.
Thank you all!

[2018-12-17 07:45] JayH5 opened #5325 "Runtime Docker image improvements"
*Title*: Improvements to the runtime Docker images

*Description*:
This is a tracking issue for proposed improvements to the runtime Docker images for Envoy. I spoke to Matt briefly at EnvoyCon and he told me there isn't really a single person responsible for the Docker images and that contributions would be welcome.

While there isn't anything critically wrong with the existing images, I think th

[2018-12-17 07:52] itayd commented on #5160
/rk-ping

[2018-12-17 10:43] tony612 opened #5328 "gRPC HTTP/1.1 bridge doesn't support content-type application/grpc+proto"
*Description*:

I found that gRPC HTTP/1.1 bridge doesn't support `content-type` like `application/grpc+proto`. This can be verified from the code https://github.com/envoyproxy/envoy/blob/25b143c9813671c320561f8b0b8b31d7e0a3dac4/source/extensions/filters/http/grpc_http1_bridge/http1_bridge_filter.cc#L27

As [grpc doc](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md#requests) shows,

[2018-12-17 14:10] alyssawilk commented on #5324
/cc @yangminzhu

[2018-12-17 14:14] alyssawilk commented on #5325
Very cool, thanks for diving in on this!
Ok if I assign this issue your way, or is "help wanted" more appropriate?

[2018-12-17 14:15] alyssawilk commented on #5328
I think we just didn't have any use cases of that yet, but reading the linked doc it looks like we should be more flexible there.  If you're up for doing the pr, I think that'd be great!

/ccing @lizan as our resident gRPC expert

[2018-12-17 14:17] JayH5 commented on #5325
@alyssawilk yes, please assign it to me.

[2018-12-17 15:09] moderation commented on #5325
@JayH5 This looks great. I had a simpler idea that I referenced at https://envoyproxy.slack.com/archives/C78HA81DH/p1542913012403100. The specific diff is at https://slack-files.com/T5CALEVRN-FEB9ZV207-93db8e17ef. Just with these simple changes the image size of 157MB (uncompressed) drops to 119MB.

[2018-12-17 15:22] AndresGuedez opened #5329 "Migrate SDS to ConfigProvider framework introduced in #5243"
Pull #5243 is introducing a generalized framework based on the RDS and SDS config provider patterns.

This issue is being created to track the migration of SDS to the new framework.

[2018-12-17 15:59] JayH5 commented on #5325
@moderation thanks. Yeah, the Ubuntu devs made some improvements to the image size in 18.04. Even smaller are the Debian "slim" images (e.g. `debian:stretch-slim` is around 55MB uncompressed) that many of the official images use. Getting the image super small is a bit of a rabbit hole, though.

I'm just planning to chip away at this and Ubuntu 18.04 probably makes sense in terms of changing as lit

[2018-12-17 16:18] moderation commented on #5325
@JayH5 I think it is because no one got around to it. A lot of people (including me) roll our own container image to meet company requirements. I think sticking with Ubuntu 18.04 makes sense. In the past I've looked at https://hub.docker.com/r/bitnami/minideb/ which looks promising.

[2018-12-17 16:23] devinsba commented on #4839
@zyfjeff If you can help get me started on where I would want to change I might be able to start the ball rolling on this. I've got a working dev environment from my small contribution about a year ago, so I only have to update that.

[2018-12-17 16:53] jwahlin opened #5331 "grpc-web filter not setting http status code from grpc status"
I'm using the grpc-web filter and it isn't setting the http status appropriately from the gRPC status. The gRPC status is coming through the response in the trailers since we're using http2.

To replicate the issue, use the grpc-web filter and send a grpc-web request through Envoy that should fail. The grpc-status will be non-zero, but the http status will show 200. I expect envoy to translate the

[2018-12-17 16:59] msanjay94 opened #5333 "Help - gRPC StreamEndpoints API"
**Issue Template**

*Title*: Help regarding gRPC StreamEndpoints API

*Description*:
I'm new to coding using gRPC. I wrote a management server in Java using the proto files from data-plane-api. Upon starting the server and configuring the same in envoy, I see an error in my server log which says "unexpected request" with the gRPC EDS endpoint in the log. Upon checking the proto file, I found that

[2018-12-17 16:59] qiwzhang commented on #5331
@fengli79 ?

[2018-12-17 17:03] jrajahalme commented on #5301
@mattklein123 I'm integrating Envoy with kTLS where connection pay-loads from a container are redirected to Envoy before hitting the TCP layer. The TCP and TLS handshakes happen normally between the original connection endpoints, but the unencrypted payload traffic is forwarded to Envoy using TCP sockets that have been set up for the sole purpose of redirection. Payloads from a number of app conne

[2018-12-17 17:15] qiwzhang commented on #5011
@kh-chang  Do you have time to look at this issue

[2018-12-17 18:33] JayH5 commented on #5325
@moderation ah there seems to be a bitnami image for everything 😅. Those do look good and conceptually (and size-wise) similar to the slim Debian images. For Envoy, _technically_ all we need is an image with glibc and a CA cert bundle, so even something like [`distroless/base`](https://github.com/GoogleContainerTools/distroless/tree/master/base) could work too...

I'd be interested in hearing more

[2018-12-17 18:48] #4669 closed

[2018-12-17 19:01] aejeet opened #5334 "Unable to reference to envoy grpc proto in custom filter when using envoy 1.8.0"
**_Title:_** Unable to reference to envoy grpc proto in custom filter when using envoy 1.8.0

**_Description:_**
I am using the http-filter-example template to implement a custom envoy http filter of my own. In the filter config i need a reference to api/envoy/api/v2/core/grpc_service.proto. **The following BUILD script was working fine with envoy 1.7.1. But it fails to compile with envoy 1.8.0.**

[2018-12-17 19:14] fengli79 commented on #5331
@jwahlin, the grpc status is encoded as response body instead of the http/http2 response code.

[https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-WEB.md
](url)
`HTTP/2 related behavior (specified in gRPC over HTTP2)

stream-id is not supported or used
go-away is not supported or used`

[2018-12-17 19:35] fengli79 commented on #5331
Correct.

They only exist between envoy and your grpc server. Your downstream is using http to talk with envoy, although its can be http2, but semantically it's http in grpc-web, stream id and go-away is not visible there.

[2018-12-17 19:38] alyssawilk commented on #5334
I think the raw libraries are generally default-private (as part of the fix to #3756) but can you try "@envoy_api//envoy/api/v2/core:grpc_service_cc" and see if that fixes it for you?

[2018-12-17 20:27] jmarantz opened #5335 "test: tsan failure in IdleTimeoutIntegrationTest"
*Description*:

[use-after-free.txt](https://github.com/envoyproxy/envoy/files/2687722/use-after-free.txt)

@auni53 @htuch

[2018-12-17 20:36] jmarantz commented on #5335
See also this comment:

https://github.com/envoyproxy/envoy/blob/6e9a8df7148c93198c1cd1139690a065d00bfa37/test/integration/idle_timeout_integration_test.cc#L71

[2018-12-17 21:44] alyssawilk commented on #5316
Hey Brian, I've definitely seen this a bunch on CI lately but only on the mac specific build which makes me think it's one of those mac-behaves-differently-than-linux bugs. Any chance you can try to repro with -l trace and ship logs via pastebin or some such?

Generally for flaking timing bugs if you run
bazel test //test/integration:http2_upstream_integration_test --test_arg=--gtest_filter="IpVer

[2018-12-17 21:47] alyssawilk commented on #5104
Haven't seen any of these in a while.  Do we think we finally got it?

[2018-12-17 22:03] jwahlin commented on #5331
Thanks for the information. When we use http (and the grpc_http1_bridge), the grpc-status does affect the http status. When we use http2, the grpc-status does *not* affect the http status. Are there any plans to add a grpc_http2_bridge that sets the http2 status based on the grpc-status?

[2018-12-17 22:39] #1319 closed

[2018-12-17 22:52] mattklein123 commented on #5300
@snowp what do you mean by an actual maintainer? You mean a current maintainer to sponsor? Yes I'm happy to do that.

[2018-12-17 22:58] snowp commented on #5300
@mattklein123 Yep that's what I meant, please excuse my poor wording :)

[2018-12-17 22:59] mattklein123 commented on #5104
@alyssawilk yeah I think we can close and reopen more specific issues as needed?

[2018-12-17 23:13] jwahlin commented on #5331
Thanks for your time!

[2018-12-17 23:13] #5331 closed

[2018-12-17 23:38] aejeet commented on #5334
I think i had tried this earlier. Tried again but no luck. Here is the new error
[code]

**It is easily reproducible using following simple steps**
1. Clone https://github.com/envoyproxy/envoy-filter-example
2. Go to base folder and `git checkout 4d135eb2e4b30cc73b0d1a87ac046b68d3b0c01d`  (checkout commit that updated the envoy submodule to v1.8.0)
3. Modify `http-filter-example/http_filter.proto`

[2018-12-18 03:07] htuch commented on #5335
@jmarantz yeah, trying increasing `RequestTimeoutMs` and see if fixes. This could probably benefit from some reworking to use simulated time as a long term solution, but for a quick fix the scaling looks legit. The backtrace reflects a premature timeout, not a real bug.

[2018-12-18 03:12] jmarantz commented on #5335
I couldn't get a local repro (tsan, --runs_per_test=1000); so my inclination is to try a switch to sim-time, as I would not really know if I was picking better time-constants for real-time.

[2018-12-18 03:17] mattklein123 commented on #5301
@jrajahalme cool thanks for the explanation. Yes I agree this makes sense and that it might ultimately overlap with the QUIC work. cc @envoyproxy/quic-dev

Please make sure to have a test listener filter that demonstrates the new functionality. Optimally we would even have an integration test that fakes the multiplexing to demonstrate the real end goal.

[2018-12-18 03:18] kh-chang commented on #5011
I will take a look at it soon.

[2018-12-18 03:31] brian-pane commented on #5316
Thanks Alyssa! That suggestion enabled me to finally repro the error. Here's the test output with tracing: https://gist.github.com/brian-pane/1073fd865264e3309ecdeae184b11d82

[2018-12-18 13:02] sschepens commented on #1310
@htuch I'd be totally willing to have me and my team continuing with HDS and hopefully get it production ready.
What would be the channel for having design discussions? I also want to understand previous deisgn decisions.

[2018-12-18 15:33] alyssawilk commented on #5316
That is super helpful, thank you very much.

Now with logging, I can see 20 queries are queued, 18 new streams created on C2.
2 logs of "cancelling pending request" which matches up well with missing streams.
My guess is the recent refactor to the H2 connection pool created/exacerbated a race condition where the streams might get reset before Envoy detected the the connection pool established a co

[2018-12-18 15:56] yangminzhu commented on #5324
First, I tried using static config. Evnoy handles this correctly with the following output:
[code]

Then I tried using the `EnvoyFilter` CRD and the Envoy just crashed with the same message. It seems the proto validation is not working correctly in this case.

Last, I tried to correct the indention but introduce a mistake to the field name (Note the **prefix_lenbad** field):
[code]
Surprisingly En

[2018-12-18 16:48] Fadelis opened #5343 "Headers stripped out on redirect"
*Title*: *Headers stripped out on redirect*

*Description*:

This is my sample config to replicate the issue:
[code]

[2018-12-18 17:04] aejeet commented on #5334
@lizan Using `_export` suffix seem to fix the visibility issue.  Thanks for the quick help.

[2018-12-18 17:04] #5334 closed

[2018-12-18 18:49] klarose commented on #5313
Do we also want to change the Buffer stuff in ConnectionImpl as well? Ultimately the reason for the issue in ordering is that we have a bit of a circular dependency -- `filter_manager_` depends on `this`, which means that there isn't a nice construction order that would guarantee this type of issue is impossible. All we can do is ensure that the portions of `this` that `_filter_manager_` depends o

[2018-12-18 23:02] qiwzhang commented on #5311
The problem is with zero byte buffer.  The filter decodeData() is called with zero byte buffer even after end_stream. This causes some filters to raise assertions.

There is a one line change in #5310 ;  not to call doData() if buffer size is 0.

But it still has in-consistent behaviors.    When decoder->decodeData(zero_byte_data), in all "continue" case, decodeData() is called for all filters.  B

[2018-12-18 23:03] qiwzhang commented on #5311
@mattklein123 @htuch is this fix OK?

[2018-12-19 00:43] vishalpowar opened #5347 "Support for lease/end-time for endpoint/resource use"
**Issue Template**

*Title*: *Add support for lease/end-time for using endpoints/resources*

*Description*:
When disconnected from the Management Server, envoy would end up using last known information from the Mgmt server. This is probably good for a lot of usecases/deployment, but there are situations where this might actually be harmful for overall system.

Example 1:
---------------
For a depl

[2018-12-19 02:08] lizan commented on #5324
@mattklein123 @yangminzhu Not it is not a bug, Istio runs envoy with `--allow-unknown-fields` for smooth upgrade, that means it will accept such configs with extra unknown fields like the examples above.

[2018-12-19 02:11] lizan commented on #5324
It's not a good idea to remove the line. PGV should prevent that method being invoked when validating the proto, or we missed a PGV rule in the proto definition.

[2018-12-19 02:30] htuch opened #5348 "Default settings & benchmarking"
Envoy has default settings that can surprise new users and hurt Envoy's perceived performance in benchmarks. For example, I think at the Pinterest EnvoyCon talk (@derekargueta) mentioned the default circuit breaker settings limiting the number of concurrent requests.

We've had reports from folks who have compared Envoy's performance with other proxies using default settings and found it underwhel

[2018-12-19 02:31] htuch commented on #5348
CC @mattklein123

[2018-12-19 02:41] mattklein123 commented on #5348
IMO we should start with a FAQ entry. Also marking this as a docs item.

[2018-12-19 02:42] #5289 closed

[2018-12-19 02:44] mattklein123 commented on #5324
Sure but doesn't this still mean we are missing some constraint somewhere? I didn't read this bug very closely but even if we allow unknown fields shouldn't a constraint be in place to only allow known enum values, etc.? Is that what is missing?

[2018-12-19 02:52] PiotrSikora commented on #3404
@thorsten-avaya but you can now build Envoy with [BoringSSL FIPS](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/ssl#arch-overview-ssl-fips).

[2018-12-19 02:59] lizan commented on #5324
@mattklein123 Right that's what I meant in https://github.com/envoyproxy/envoy/issues/5324#issuecomment-448443837

[2018-12-19 03:11] zyfjeff commented on #5313
@klarose Agree, I will add to my PR.

[2018-12-19 03:30] mattklein123 commented on #5324
Got it, +1

[2018-12-19 03:31] markpritchard commented on #5109
Wanted to report back that we haven't seen any more crashes with `688793a5f5ded1edf7719cc5856371a36870c359/1.9.0-dev/Clean/RELEASE` in the past 3 weeks. Thanks again for all your help @mattklein123 and @snowp

[2018-12-19 03:32] htuch commented on #1310
@sschepens this PR or Slack; we could create an HDS channel. Also, happy to do Hangouts meeting to context dump.

[2018-12-19 05:51] #5273 closed

[2018-12-19 05:52] yangminzhu commented on #5324
@lizan Thanks for the information, super helpful!
The [RBAC proto](https://github.com/envoyproxy/envoy/blob/1e7adefe27951f13e2be141ce91a29727bdafd8b/api/envoy/config/rbac/v2alpha/rbac.proto#L172) actually has the PGV rule `option (validate.required) = true;` for the `principals` field. Isn't this enough or do we need some other PGV rules here?

[2018-12-19 10:56] lizan commented on #5324
This seems due to unimplemented bug of PGV, since RBAC is using map for policies, it doesn't validate each element.

[2018-12-19 13:52] zyfjeff commented on #4839
@devinsba  Are you still continue to work? I recently ready to solve this problem

@adriancole
If the v2 format is supported, how is the format of v1 handled? Or is it made configurable?

[2018-12-19 14:18] zyfjeff commented on #5343
@Fadelis I tested, found that if using redirects, won't execute filter, directly to the redirection address launched after the request.

[2018-12-19 14:45] #5121 closed

[2018-12-19 18:00] #5316 closed

[2018-12-19 18:01] mattklein123 commented on #5347
Sounds very reasonable to me. Marking design proposal requested.

[2018-12-19 18:07] #5313 closed

[2018-12-19 19:22] qiwzhang commented on #5311
Another attempt to fix this issue:  https://github.com/envoyproxy/envoy/pull/5350

@mattklein123  @alyssawilk @htuch could you take a look?

[2018-12-19 19:34] qiwzhang commented on #5311
Here is the detail of the issue;

add 3 decoder filters,

1) filter[0]->decodeHeaders() returns STOP, and is continued with ContinueDecoding,
2) the filter[1]->decodeHeader() adds decodeData() and continue,
3) filter[2]->decodeHeaders() is called, then filter[2]->decodeData() is called,
4) filter[1]->decodeData() is called with zero byte buffer.

Step 4) is not expected. it is wrong.

[2018-12-19 19:35] qiwzhang commented on #5311
Here is the calling graph:

"wrapper" refers to ConnectionManagerImpl::ActiveStreamFilter
[code]

[2018-12-19 19:53] qiwzhang commented on #5311
The root of issue is:  there is only one buffer for a stream. Any filters can add data to this buffer. We lost the info of which filters add the data.

Specifically, the problem in this [line](https://github.com/envoyproxy/envoy/blob/master/source/common/http/conn_manager_impl.cc#L1472)

If commonContinue() is called nestly (one inside another);  the inner call detects who adds the data, and call

[2018-12-19 22:56] PiotrSikora opened #5355 "Un-deprecate bind_to_port and use_original_dst."
Opening separate issue for visibility.

It's noteworthy that migrating away from non-binding listeners to a single listener with multiple filter chains is going to be painful in highly dynamic systems, because, due to a missing [FilterChain Discovery Service (FDS)](https://github.com/envoyproxy/envoy/issues/4540), each update will require draining of the listener. Perhaps it should be a blocker fo

[2018-12-19 22:58] PiotrSikora commented on #2832
Please add #5355 to the list.

[2018-12-19 23:55] dawid-manikowski opened #5357 "ext_authz ignores uri with http_service"
**Issue/Bug Template**

*Title*: I can't make ext_authz work

*Description*:

*Repro steps*:

*Admin and Stats Output*:

[code]
*Config*:
[code]

*Logs*:

[2018-12-20 00:37] qiwzhang commented on #5311
This bug causes grpc_json_transcoder filter to crash (hit assertion) if there is another filter in front and does "StopIteration" and "continueDecoding".

[2018-12-20 01:00] mattklein123 commented on #5357
@gsagula

[2018-12-20 02:41] nakabonne opened #5359 "[Question] Meaning of [C~] character included in connection log and stream log etc"
*Title*: *[Question] Meaning of [C~] character included in connection log and stream log etc*

*Description*:
You could see a character string [C (number)] as follows in Envoy's log. Would you tell this meaning?
I think logs with the same id are logs in the same connection since I recognize it's like a connection id, but is it right?
Thanks.

[code]

[2018-12-20 03:03] qiwzhang commented on #5311
This is another attempt to fix this:  https://github.com/envoyproxy/envoy/pull/5360

@mattklein123 @htuch PTAL

[2018-12-20 03:30] mattklein123 commented on #5359
Yes that's right, it's an internal connectoin ID.

[2018-12-20 03:33] mattklein123 commented on #5311
@qiwzhang I need to spend time looking into this to better understand the underlying problem. I'm sorry but I won't be able to do this for a few days. If @alyssawilk can look sooner I will defer to her otherwise I will get back to you then. In the meantime, in your description above in https://github.com/envoyproxy/envoy/issues/5311#issuecomment-448717480, can you be clear about where end_stream i

[2018-12-20 03:36] nakabonne commented on #5359
Helped a lot, thanks!

[2018-12-20 03:37] #5359 closed

[2018-12-20 10:33] dawid-manikowski commented on #5357
Hi, thanks for quick response!
Why it's not right?
I've already tried `path_prefix`. It prepended the `/dupa` with `/verify/`, so the path looked like `/verify/dupa`.
The endpoint like this does not exist.

[2018-12-20 13:34] dawid-manikowski commented on #5357
@gsagula Maybe I'll describe what I would like to achieve.
I want every request hitting http://localhost:8080 (no matter what endpoint) to be sent to http://localhost:5001/verify in order to be verified. There I need to check for some headers and if it is ok, forward it to the endpoint it originally requested. Otherwise - reject. Maybe I don't get how this filter should work but it seems to me, th

[2018-12-20 15:35] ramaraochavali commented on #4420
@mattklein123 looked at it. I think it looks like a chicken and egg problem. During server initialization, as part of config initialization, cluster manager is initialized before stats sinks here

https://github.com/envoyproxy/envoy/blob/master/source/server/configuration_impl.cc#L57

I tried to make `initializeStatsSinks` public and initialize it before cluster manager is initialized so that stat

[2018-12-20 15:49] alyssawilk opened #5363 "Make X-Envoy configurable"
Right now, all Envoy "internal" headers are prefaced with X-Envoy.  This works well for folks who are using Envoy as their own proxy, but less well for cloud where one might be "transparently" proxying customer traffic where the customer might be using Envoy as well, and clients might want their X-Envoy headers to traverse a cloud proxy hop.

It'd be nice if the preface could be configurable, so t

[2018-12-20 16:03] alyssawilk commented on #5311
Hah, wish I could be more help. I took a look at the current implementation, convinced myself it couldn't work as advertised (despite @qiwzhang sensibly adding tests which proved it worked), and had to download and gdb my way though the patch before I figured out how it worked.  Props to @qiwzhang for tackling a really complicated issue but I'm pretty sold we want Matt's review on this one.

[2018-12-20 16:06] #5328 closed

[2018-12-20 17:08] qiwzhang commented on #5311
@mattklein123 I updated the [comment](https://github.com/envoyproxy/envoy/issues/5311#issuecomment-448717480) with end_stream value.

[2018-12-20 18:50] phylake opened #5368 "Request body unbuffered I/O"
*Title*: *Request body unbuffered I/O*

*Description*:
I searched docs and previous issues for something related but couldn't find it.
Does Envoy supported unbuffered I/O? I'm looking for the equivalent of nginx's `proxy_request_buffering off` setting

[optional *Relevant Links*:]
http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_buffering
http://nginx.org/en/docs/http/ngx_http_proxy_

[2018-12-20 19:18] #4830 closed

[2018-12-20 19:21] cpakulski commented on #4685
DESIGN PROPOSAL:
As the number of healthy hosts in a cluster decreases, the behavior of the cluster changes. The change usually happens when the number of healthy hosts drops below a threshold. The following list describes the behavior:

- **Cluster State**: Priority=0 has more than 72% (100 % divided by overprovisioning factor) hosts in healthy state:
**Behavior**: 100% of the total traffic is ha

[2018-12-20 19:36] cpakulski commented on #5363
@alyssawilk I can do that - please assign it to me. Thx.

[2018-12-20 19:43] alyssawilk commented on #5363
Fantastic, thanks.  Feel encouraged to ping Harvey/Randy/I for review :-)

[2018-12-20 19:52] cpakulski commented on #5363
Just a quick question. How should it be controlled? New global config item, command line param, env variable?

[2018-12-20 20:05] fredlas commented on #4685
Not that I know anything about this beyond having studied Envoy's documentation a bit, but you wrote @fredlas so I will chime in!

That makes perfect sense to me. In the existing behavior, the logic of the last case is sort of an arbitrary exception to what the logic of the second to last case would suggest. And

makes perfect sense to me as motivation for this change.

[2018-12-20 20:07] alyssawilk commented on #5363
on the internal email thread @htuch suggested bootstrap config and as with all things config I'm going to assume his instincts are right :-)

[2018-12-20 20:15] cpakulski commented on #4685
@fredlas Thanks! You did great job clarifying load balancing logic in #4817 and this definitely is on the same topic.

[2018-12-20 20:16] cpakulski commented on #5363
Thanks!  Bootstrap config sounds good.

[2018-12-20 20:56] sterchelen commented on #4709
Hi @htuch
I've downloaded the test case for this fuzz issue ==> [here](https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=9960&q=envoy&colspec=ID%20Type%20Component%20Status%20Proj%20Reported%20Owner%20Summary)

It seems very strange regarding its format, some double quotes are not closed and strange field name are created. Is that a normal behavior ?

[2018-12-20 22:34] alyssawilk opened #5376 "[v1.9.0 deprecation] Remove features marked deprecated in #4604"
#4604 (bump version to 1.9.0-dev) introduced a deprecation notice for v1.9.0. This issue tracks source code cleanup.

[2018-12-20 22:34] alyssawilk opened #5377 "[v1.9.0 deprecation] Remove features marked deprecated in #4721"
#4721 (common: added a field in HCM proto to be able to reverse the order of HTTP encoder filters.) introduced a deprecation notice for v1.9.0. This issue tracks source code cleanup.

[2018-12-20 22:34] alyssawilk opened #5378 "[v1.9.0 deprecation] Remove features marked deprecated in #4845"
#4845 (config: deprecating legacy REST api) introduced a deprecation notice for v1.9.0. This issue tracks source code cleanup.

[2018-12-20 22:34] alyssawilk opened #5379 "[v1.9.0 deprecation] Remove features marked deprecated in #4874"
#4874 (upstream: switching the default hash algorithm for ring hash) introduced a deprecation notice for v1.9.0. This issue tracks source code cleanup.

[2018-12-20 22:34] alyssawilk opened #5380 "[v1.9.0 deprecation] Remove features marked deprecated in #4889"
#4889 (api: add a field in Listener proto to be able to reverse the order of TCP write filters) introduced a deprecation notice for v1.9.0. This issue tracks source code cleanup.

[2018-12-20 22:34] alyssawilk opened #5381 "[v1.9.0 deprecation] Remove features marked deprecated in #5242"
#5242 (ratelimit: add support for rate limit service config in filters) introduced a deprecation notice for v1.9.0. This issue tracks source code cleanup.

[2018-12-20 22:34] alyssawilk opened #5382 "[v1.9.0 deprecation] Remove features marked deprecated in #5290"
#5290 (buffer filter: Deprecate `max_request_time` timeout) introduced a deprecation notice for v1.9.0. This issue tracks source code cleanup.

[2018-12-20 22:35] alyssawilk commented on #5382
(I'd suggest giving this one a couple of weeks, since it landed so close to when we cut the build) :-)

[2018-12-20 22:36] alyssawilk commented on #5376
1.9.0-dev is deprecated ...

I guess we should tweak the script to fix this but I'm just going to close it off for today :-P

[2018-12-20 22:36] #5376 closed

[2018-12-21 04:12] g-easy commented on #2456
As per the update, the OpenCensus trace driver is in PR#5387. Please take a look. :)

[2018-12-21 08:33] nakabonne opened #5389 "Any one logger should say an HTTP response body"
*Title*: *Any one logger should say an HTTP response body*

*Description*:
I’m not sure the reason why status code 503 is returned when Envoy sends a span to `/v0.4/traces` of datadog agent.

[code]

I think any one logger should say an HTTP response body when log level is trace since error messages have to be displayed.
Could you please let me know what you think about my suggestion?

[2018-12-21 13:49] #4985 closed

[2018-12-21 15:59] #5269 closed

[2018-12-21 16:40] AndresGuedez opened #5390 "Thread safety assertion complications after #5072"
#5072 replaced the static accessor to `Thread::currentThreadId()` with a [ThreadFactory](https://github.com/envoyproxy/envoy/blob/master/include/envoy/thread/thread.h#L38) that exposes a virtual [currentThreadId()](https://github.com/envoyproxy/envoy/blob/master/include/envoy/thread/thread.h#L51) function.

This new approach to obtaining the current thread's ID introduces a significant hurdle to w

[2018-12-21 17:11] mattklein123 commented on #5390
@AndresGuedez I think this is one place where I would be fine having a static singleton, since I agree we should make this as simple as possible. cc @jmarantz

[2018-12-21 17:14] jmarantz commented on #5390
I think we should be able to plumb API wherever it is needed rather than using a Singleton, no?

[2018-12-21 17:16] mattklein123 commented on #5390
That would be preferable, but if it's a big hindrance to people writing thread assertions, I would rather make it easy.

[2018-12-21 17:20] jmarantz commented on #5390
I didn't understand exactly what you meant by staticGetCurrentThreadId().  Can't you just do owner_thread_id_->isCurrentThreadId() ?

[2018-12-21 17:39] mattklein123 commented on #5390
I think that's just an example of what @AndresGuedez wants to write, which is effectively what we used to be able to do.

[2018-12-21 17:46] fredlas opened #5391 "Replace ConditionalInitializer with absl::Notification?"
It looks like ConditionalInitializer is Envoy's own version of absl::Notification from back before absl was open sourced. Shall we replace it, to have one fewer custom thing implemented by Envoy? I would be happy to do it.

[2018-12-21 17:51] jmarantz commented on #5390
There are two methods on ThreadFactory: createThread and currentThreadId.

From my understanding, thread creation doesn't happen in too many different places in Envoy, but maybe saving the thread ID in order to detect a thread-switch does?

In any case what I was thinking was that API -- originally conceived I think as a layer for extensions -- should be made pretty easy to get to to from just abo

[2018-12-21 18:07] AndresGuedez commented on #5390
As an example, see https://github.com/envoyproxy/envoy/pull/5243/commits/7441143d9da63374888458920a072bfc28f326af for a not-yet-merged commit backing out thread safety assertions after I pulled in #5072 from a master merge.

[2018-12-21 18:10] mattklein123 commented on #4420
I think it's probably doable in certain cases (like if stats is using static cluster config for example), but yeah, in more complex cases it might not be possible. I agree it's probably not worth it and I would probably close if you are OK with that.

[2018-12-21 18:12] jmarantz commented on #5390
Andres can you try owner_tid_->isCurrentThreadId()?  I'm not seeing where owner_tid_ is set though; you'd need a ThreadSystem to populate that.

[2018-12-21 18:17] AndresGuedez commented on #5390
This is the core issue; previously, I was initializing the `owner_tid_` via a static function:

`Constructor() : owner_tid_(Thread::currentThreadId())`

Now, I would have to pass the `ThreadFactory` or the TID itself to the constructor, which to me seems an unreasonable burden for the purpose of writing this type of assertion.

[2018-12-21 18:20] mattklein123 commented on #5363
This sounds fine to me. FYI this is also loosely related to https://github.com/envoyproxy/envoy/issues/4815 though I don't think solving that issue is required to solve this issue.

[2018-12-21 18:50] jmarantz commented on #5390
Actually it's not really a problem to have a static ThreadSystem -- we are still injecting it in MainCommonBase, and we should just set the static variable there from the ctor param (and clear it in MainCommonBase's destructor).

[2018-12-22 00:38] qiwzhang commented on #5311
@mattklein123  Here is the PR to implement your idea. https://github.com/envoyproxy/envoy/pull/5393

[2018-12-22 00:59] snowp opened #5394 "Non-const access to HTTP filter buffer"
Certain filters (such as the new one to be introduced in #5315) rely on being able to mutate the body after it's been buffered, e.g. in order to insert a prefix based on payload size. The current workaround for this is to maintain a separate buffer, which is not ideal due to missing out on the flow control that the internal filter buffer is used for and also the additional code complexity of maint

[2018-12-22 01:36] PiotrSikora opened #5395 "Remove TLS 1.0 and 1.1 from the defaults on the client-side"
This is the intent to remove TLS 1.0 and 1.1 from the default TLS protocols on the client-side.

This change will affect your deployment if it's using default minimum TLS protocol version (i.e. not configuring `tls_minimum_protocol_version`) and it's making outgoing TLS 1.0 or 1.1 connections:
[code]
(This works only with Envoy v1.9.0 and newer)

ETA: 1.10 (i.e. ~now)

[2018-12-22 01:36] PiotrSikora opened #5396 "Remove RSA key transport from the defaults on the client-side"
This is the intent to remove RSA key transport (i.e. `AES128-GCM-SHA256`, `AES128-SHA`, `AES256-GCM-SHA384` and `AES256-SHA`) from the default cipher suites on the client-side.

This change will affect your deployment if it's using default cipher suites (i.e. not configuring `cipher_suites`) and it's making outgoing connections using those cipher suites:
[code]
(This works only with Envoy v1.9.0 a

[2018-12-22 01:37] PiotrSikora opened #5397 "Remove SHA-1 cipher suites from the defaults on the client-side"
This is the intent to remove remaining SHA-1 cipher suites (i.e. `ECDHE-ECDSA-AES128-SHA`, `ECDHE-RSA-AES128-SHA`, `ECDHE-ECDSA-AES256-SHA` and `ECDHE-RSA-AES256-SHA`) from the default cipher suites on the client-side.

This change will affect your deployment if it's using default cipher suites (i.e. not configuring `cipher_suites`) and it's making outgoing connections using those cipher suites:
[

[2018-12-22 01:37] PiotrSikora opened #5398 "Deprecate TLS 1.0 and 1.1 on the server-side"
This is the intent to remove TLS 1.0 and 1.1 from the default TLS protocols on the server-side.

This change will affect your deployment if it's using default minimum TLS protocol version (i.e. not configuring `tls_minimum_protocol_version`) and it's accepting incoming TLS 1.0 or 1.1 connections:
[code]
(This works only with Envoy v1.9.0 and newer)

ETA: 1.13 (i.e. early 2020)

[2018-12-22 01:37] PiotrSikora opened #5399 "Deprecate RSA key transport on the server-side"
This is the intent to remove RSA key transport (i.e. `AES128-GCM-SHA256`, `AES128-SHA`, `AES256-GCM-SHA384` and `AES256-SHA`) from the default cipher suites on the server-side.

This change will affect your deployment if it's using default cipher suites (i.e. not configuring `cipher_suites`) and it's accepting incoming connections using those cipher suites:
[code]
(This works only with Envoy v1.9.

[2018-12-22 01:37] PiotrSikora opened #5400 "Deprecate SHA-1 cipher suites on the server-side"
This is the intent to remove remaining SHA-1 cipher suites (i.e. `ECDHE-ECDSA-AES128-SHA`, `ECDHE-RSA-AES128-SHA`, `ECDHE-ECDSA-AES256-SHA` and `ECDHE-RSA-AES256-SHA`) from the default cipher suites on the server-side.

This change will affect your deployment if it's using default cipher suites (i.e. not configuring `cipher_suites`) and it's accepting incoming connections using those cipher suites

[2018-12-22 01:37] PiotrSikora opened #5401 "Modernize TLS defaults"
Tracking bug for modernization of the TLS defaults, which will span multiple releases:
* [ ] - enable TLS 1.3 on the server-side (1.10)
* [ ] - enable TLS 1.3 on the client-side (1.11?)
* [ ] - #5395 - deprecate TLS 1.0 and 1.1 on the client-side (1.10)
* [ ] - #5396 - deprecate RSA key transport on the client-side (1.11)
* [ ] - #5397 - deprecate SHA-1 cipher suites on the client-side (1.12)
* [

[2018-12-22 04:06] mattklein123 commented on #5394
@snowp I don't think we can make the buffer non-const, since other filters may have see the buffer which I think would be very confusing. See the conversation here: https://github.com/envoyproxy/envoy/issues/5166. I think if we had that it would work for your case?

[2018-12-22 05:11] ramaraochavali commented on #4420
@mattklein123  Yes. I am inclined to close this. Please close this.

[2018-12-22 05:48] snowp commented on #5394
Yeah that sounds like it would cover the encoding case. It definitely seems better than to give full access to the buffer.

Thoughts how this could be accomplished for the decoding case where the intention is to hit `envoy.router`?  I had the idea to instantiate a `Router::ProdFilter` and call `encodeData` directly with the modified buffer, but haven't explored that at all.

My motivation for for

[2018-12-22 08:31] nakabonne commented on #5389
I think it's only necessary to call `body()` in the function `TraceReporter::onSuccess()` within `source/extensions/tracers/datadog/datadog_tracer_impl.cc` for realization, but since I'm not very familiar with the behavior of peripheral code and C++, I'll investigate them.

[code]

[2018-12-22 21:08] #5051 closed

[2018-12-23 12:09] htuch commented on #5401
@PiotrSikora can you please check in with dependent Google teams via the appropriate channels and confirm that these deprecations make sense?

[2018-12-23 12:15] htuch opened #5405 "Structured version and feature reporting"
Today, Envoy reports a human readable build version in `Node` messages when sending xDS requests, and also provides this in the `SeverInfo` message on the admin console. This is restrictive, since it does not provide detailed information on build details (e.g. was the build FIPS compliant?), version information needs to be parsed out of a string, it's not possible to know which extensions were inc

[2018-12-23 12:16] htuch commented on #4391
@mandarjog going to close this one out, as I have a concrete proposal that addresses the above at https://github.com/envoyproxy/envoy/issues/5405.

[2018-12-23 12:16] #4391 closed

[2018-12-23 16:59] snowp commented on #5405
@htuch Access to the doc is restricted, mind opening it up?

[2018-12-23 23:19] htuch commented on #5405
@snowp sorry, I did this via my Google corp account; can you just request access and I will grant? Sames goes for anyone else, happy to provide access once you request.

[2018-12-24 00:41] htuch commented on #5355
@PiotrSikora I'd like to hear someone state that the drain behavior in a real-world situation is going to make FDS necessary before making it a strict blocker. So far, we're just guessing I think? OTOH I totally agree we should do FDS sooner rather than later, this will be needed for on-demand LDS and solves the high churn story.

[2018-12-24 01:13] htuch commented on #4709
@sterchelen the text protos are generated by https://github.com/google/libprotobuf-mutator, so should be validly formed. That said, this particular bug is a tricky one, as it probably depends on protobuf library internals and might be a corner case where we would not be able to solve Envoy-side. Do you want to try some other bug, e.g. https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=10130&q=e

[2018-12-24 02:00] mattklein123 commented on #5394
I can see how this would be an OK thing to offer, but I think I don't fully understand your use case. Am I understanding that you want to stream headers through all the filters but not the data? Why not just buffer everything then?

[2018-12-24 02:14] snowp commented on #5394
Yeah, thinking about this some more I think the easiest way to do this is to just buffer everything in a previous filter, using `envoy.buffer` or something similar. Me wanting to just buffer the data was just because that's what I've been doing with the current implementation, but now I realize that buffering the whole thing is the easier solution.

[2018-12-24 02:15] mattklein123 commented on #5394
You can also just do full buffering in your filter. That's totally fine. Many other filters do this if they need to buffer. IMO I would not rely on another filter being installed if you need to buffer. Since HCM does the buffering, the request will only be buffered once.

[2018-12-24 02:18] snowp commented on #5394
My thinking was that by buffering in my own filter I'd not be able to insert a prefix into the buffered data due to only having const access, while by buffering in a previous filter I'd only ever see a single `onData` and could therefore modify the entire data. Maybe I'm missing something?

I think technically the filter API allows a single filter to install several `StreamFilters`, so maybe that

[2018-12-24 06:45] sterchelen commented on #4709
All right,
Yep, I will take it, the 10130 issue.

[2018-12-24 08:22] icaas opened #5407 "Envoy ported on windows platform"
**Envoy compile problem on windows platform(Microsoft Windows [version 10.0.17134.407])**

*Title*: *Envoy ported on windows platform*

*Description*:

ERROR: E:/usx-sge-service/envoy/source/exe/BUILD:52:1: C++ compilation of rule '//source/exe:envoy_main_entry_lib' failed (Exit -1). Note: Remote connection/protocol failed with: execution failed
Action failed to execute: java.io.IOException: ERROR

[2018-12-24 12:16] htuch commented on #5363
Re: bootstrap, I think this is the easiest thing to do implementation wise, since we can build the shared singleton values at Envoy binary initialization. OTOH, this is a bit of a hack, since we are now moving HTTP configuration into the bootstrap, whereas it belongs conceptually in HCM or router configuration.

We'd probably have to rethink how O(1) headers are handled even if we had #4815 and wa

[2018-12-24 14:03] hello-jianghongke opened #5408 "HDS should't initialize HdsCluster hosts as FAILED_ACTIVE_HC"
*Title*: *HDS should't initialize HdsCluster hosts as FAILED_ACTIVE_HC*

*Description*:
 HDS should't initialize HdsCluster hosts as FAILED_ACTIVE_HC, because when we may  use hds as a **`heartbeat reporting channel`** with only endpoints and no health checks as follows:
[code]

we should chanage the initializing as follows:
[code]

[2018-12-24 14:22] hello-jianghongke opened #5409 "grpc async client should catch proto cast exception"
*Title*: *grpc async client should catch proto cast exception*

*Description*:

`include\envoy\grpc\async_client.h`
[code]
which may crashs the process when the received message is not standard, like `00 00 00 00 00`.

And should be modified as follows:
[code]

[2018-12-24 15:02] ranchowang commented on #4332
can i do this ? @mattklein123

[2018-12-24 15:16] sterchelen opened #5410 "Building envoy on OS X"
I'm trying to build envoy on OS X mojave `10.14.2 (18C54)` without success.

Here is the executed command :
`bazel build --incompatible_package_name_is_a_function=false --action_env=PATH=/usr/local/bin:/opt/local/bin:/usr/bin:/bin //source/exe:envoy-static`

Here is the result:
[code]
I guess that there is specifics commands for linux that is not available on darwin... Am I right ?

[2018-12-24 16:34] moderation commented on #5410
What version of Bazel are your running? You should upgrade to 0.21.0 if you are on something earlier. There were some recent changes for MacOS using that build that work. I build with `bazel build -c opt //source/exe:envoy-static.stripped` and `.bazelrc` is:
[code]

[2018-12-24 16:55] mattklein123 commented on #4332
@ranchowang sure go for it

[2018-12-24 16:57] mattklein123 commented on #5407
cc @sesmith177. The Windows port is not yet fully upstreamed so I would imagine we are not yet ready to support building on master?

[2018-12-24 17:03] mattklein123 opened #5412 "create easier way to get a core dump locally and in CI"
I was trying to debug the hot restart test and get a core dump, and it took me an embarrassingly long time to figure out how to do it under bazel (the main issue was that my shell `ulimit` settings don't transfer to the test invocation I think because bazel is running the test and not my shell). It would be really nice if we could do two things:
1) Have a better way to get a core dump from a test

[2018-12-24 18:03] brian-pane commented on #4952
Related to this, I've started working on a buffer implementation that eliminates the need for evbuffer. (It looks sort of like Folly's IOBuf, but without the reference-counting.) I hope to have a PR ready for review by the end of the month.

[2018-12-25 09:52] sterchelen commented on #5410
In fact, getting last version of master resolved it. Thanks.

[2018-12-25 09:52] #5410 closed

[2018-12-25 10:17] dio commented on #5409
@hello-jianghongke do you want to take this?

[2018-12-25 10:18] dio commented on #5408
@hello-jianghongke PR is welcome 😃

[2018-12-25 21:48] moderation commented on #5401
@PiotrSikora I thought I'd try out the modernization changes you are proposing above. Is the following list of modernized defaults for a non-FIPS build correct?

[code]
Current defaults at https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/auth/cert.proto.html#auth-tlsparameters

[2018-12-26 00:00] PiotrSikora commented on #5401
@moderation yes, although I'd recommend that you verify that you don't need any of the cipher suites that you're removing (see `/stats` queries in the relevant issues - #5396 & #5397 for the outgoing connections and #5399 & #5400 for the incoming connections).

Also, per the opening comment, there is still plenty of outdated clients and devices out there, so changing the default on the server-side

[2018-12-26 02:11] #5048 closed

[2018-12-26 03:08] hello-jianghongke commented on #5409
yes, I will take it

[2018-12-26 04:50] jmarantz opened #5420 "ssl: //test/integration:ssl_integration_test test is flaky"
*Description*:

[code]

It is not always the same test, but it seems like checking the stat bumped in `drainErrorQueue` for 1 in these expected-error tests doesn't always work. The stat is bumped by this code.
[code]
I suspect a race where we should be blocking on some kind of condvar before checking the stat, but it's possible there's a threading error in the interaction with the SSL error state

[2018-12-26 05:20] #5067 closed

[2018-12-26 06:43] hello-jianghongke opened #5421 "tcp_proxy filter should return some message while onInitFailure"
*Title*: *tcp_proxy filter should return the error message while onInitFailure*

*Description*:

The original:
[code]
And can be  modified as follows:
[code]

[2018-12-26 07:03] hello-jianghongke commented on #5408
I think if the user doesn't want active health check for the local service, we can still use HDS as heartbeat channel to tell the control plane that the service instance is healthy(by default and no health check to the service).

[2018-12-26 14:18] jmarantz opened #5423 "debug: use debug version of malloc for debugging"
*Description*:

This may be somewhat redundant with asan -- and definitely redundant with valgrind, but can help catch problems before CI, in development -- at least for those who compile with debugging.

[2018-12-26 15:01] sterchelen opened #5425 "Building fuzzers failed on boringssl dep"
*Description*:
I'm trying to build fuzzers without success. Last week was a success but today it's a total failure after pulling the latest version of master.
Has anyone ever had this issue ?

*Repro steps*:

*Output*:
[code]

[2018-12-26 17:50] snowp commented on #5394
That does seem like a nice solution as it essentially means that only a single filter can ever get write access to the buffer at a given time.

 It also seems fairly easy to implement: just keep track of the latest filter that's seen data and ASSERT/throw if any other filter calls the non-const function.

[2018-12-26 17:53] #4756 closed

[2018-12-26 18:17] snowp opened #5426 "Allow disabling endpoint/locality in EDS"
Currently both endpoints and localities must be given a non-zero weight, which means there is no way to disable traffic being routed to an endpoint/locality without removing it from EDS.

It would be nice to allow these to be given a zero weight which simply excludes them from load balancing consideration, as adding/removing endpoints from EDS gets tricky when used with active health checking.

[2018-12-26 19:45] snowp commented on #5426
Thinking about this some more, maybe the better solution here is to implement #4280 (split EDS), since you could then maintain your list of endpoints separately from the LB structure, meaning that disabling an endpoint would simply mean removing it from the LB structure.

[2018-12-26 23:32] moderation commented on #5401
Thanks @PiotrSikora. I have control over what is connecting to my private service and so far everything is working. I'm wondering if the TLS 1.3 ciphers should also be specified?

https://github.com/google/boringssl/blob/master/include/openssl/tls1.h#L606-L609

[code]

[2018-12-26 23:49] PiotrSikora commented on #5401
TLS 1.3 cipher suites use built-in preference order and are not affected by the `cipher_suites` setting.

[2018-12-27 02:46] dio commented on #5425
@sterchelen I experienced the same on ubuntu 18.04. However, if the related issue (to be fuzzed) is not related to that I think you can temporarily skip it.

One way is to add "boringssl_fips" to `skip_targets` in your envoy's WORKSPACE (<path_of_envoy_repo>/WORKSPACE).

[code]

[2018-12-27 02:51] PiotrSikora commented on #5355
@htuch yes, it's not a strict blocker (hence the question mark), but I'm a bit concerned about the reliability of constant draining and it's effect on long-lived connections.

This might be a moot point, though, considering that @ggreenway already [started working on F(C)DS](https://github.com/envoyproxy/envoy/pull/5385).

[2018-12-27 03:36] zyfjeff commented on #5421
I don't think I need to return the error message here, because the returned content will not necessarily be parsed, it is not universal, and it may be better to record a log.

[2018-12-27 04:09] PiotrSikora commented on #5368
@phylake as @mattklein123 mentioned, Envoy is a streaming proxy, and it forwards request and response body bytes as soon as it receives them, similarly to what you get with `proxy_request_buffering off; proxy_buffering off;` in NGINX.

@mattklein123 for the background, in case you find this useful, NGINX's `proxy_request_buffering` controls whether the whole request body is buffered (either in mem

[2018-12-27 07:20] PiotrSikora opened #5428 "Track build tools used in Envoy proper and dependencies."
From https://github.com/envoyproxy/envoy/pull/5404#discussion_r243821676.

cc @htuch

[2018-12-27 08:09] icaas commented on #5407
@sesmith177 Thanks for your response, I will try it according to your advise.

[2018-12-27 08:09] #5407 closed

[2018-12-27 08:40] htuch commented on #5425
@sterchelen I just merged https://github.com/envoyproxy/envoy/pull/5404; does this fix things for you?

[2018-12-27 08:47] htuch commented on #5420
@jmarantz I think we should just change this to a wait-for-stat-ge and this will fix the issue. What's probably happening is the SSL client disconnects and continues execution in the main test thread, while the server side code responsible for the stats has not updated the stat yet. I don't think we want to block on any condvar here, just wait.

I'm happy to take this and work on it, but I'll need

[2018-12-27 09:18] dio commented on #5425
Thanks, @htuch! I can confirm it is fixed in my local. Hope it is the same with yours, @sterchelen.

[2018-12-27 11:00] sterchelen commented on #5425
Yep, it's fixed ! Thanks  @htuch .

[2018-12-27 11:00] #5425 closed

[2018-12-27 17:34] snowp commented on #4280
I'll pick this up and implement the "split EDS" suggestion

/assign @snowp

[2018-12-27 20:16] quanjielin opened #5434 "remove key/cert data from debug logs"
log should be removed (https://github.com/envoyproxy/envoy/blob/master/source/common/config/grpc_mux_subscription_impl.h#L59) if ```type_url_ == type.googleapis.com/envoy.api.v2.auth.Secret ```

[code]

current debug logs contains key/cert info,
[code]

[2018-12-27 20:17] quanjielin commented on #5434
/cc @JimmyCYJ

[2018-12-28 03:17] mattklein123 commented on #5421
+1 to @snowp and @zyfjeff, I don't think we can do this generically.

[2018-12-28 16:07] #5038 closed

[2018-12-28 16:12] jmarantz commented on #4974
@mattklein123 is it necessary to use RPC? Or could we just write protobuf-serialized stats to a file from the old process and read it from the new one? We'd supply a filename on the command-line of course.

Either way, there will be a window of time where some stats will get dropped. Any other advantages of using RPC for this?

[2018-12-28 16:13] jmarantz commented on #4974
One more variation: still use shared memory (rather than a file) but only for the one-time transfer, and not for holding live stats.

[2018-12-28 17:48] jmarantz commented on #4974
Ignore previous comment; I just realized there's already a ton of RPC going on in the hot-restart trasnfer, so layering some stats data in there is pretty incremental, and using a file is not going to simplify anything.  Also some shared-memory locks are still needed per https://blog.envoyproxy.io/envoy-hot-restart-1d16b14555b5

[2018-12-28 18:07] mattklein123 commented on #4974
@jmarantz yeah was going to reply with similar. We already do periodic "get parent stats." IMO it's actually a pretty incremental change to just get all the stats during this interval (the only complexity will be it will require pagination). IMO we should just get this done, because the other stats stuff has become so complicated that it dwarfs the complexity of changing how we do hot restart stat

[2018-12-28 18:46] jmarantz commented on #4974
In your hot-restart blog post you indicated the importance of keeping gauges accurate; e.g. outstanding connection count.

It seems to me that for that specific stat, the best strategy might be not to transfer the gauge at all, as it really would be accurate for the process if just started fresh and didn't get adjusted based on the old process. Is that right?

For others that we might want to pers

[2018-12-28 19:17] mattklein123 commented on #4974
The way it works currently is that every <flush interval> the new process asks the old process for stats. the way I would implement is I would ask the old process for all *used* counter and gauges. Both counters and gauges can be added to the local process counters and gauges before flushing and everything will be eventually consistent and correct (note that there are likely some gotchas here. The

[2018-12-29 00:32] brian-pane commented on #4952
Update: I'm still working on a new buffer implementation, but it is taking longer than I expected. It turns out that there's a lot of code in both Envoy and the test suite that assumes the data in a `Buffer::Instance` will be split into slices in exactly the way that evbuffer does it.

[2018-12-29 02:11] lizan commented on #5434
Dup of #4757, let's discuss further there.

[2018-12-29 02:11] #5434 closed

[2018-12-29 17:41] sterchelen commented on #4709
@htuch , I'm wondering how you debug envoy from the fuzzers side ? Do you have any documentation about that (debugging in general may be) ?

[2018-12-30 01:37] htuch commented on #4709
If you have a corpus entry, you can put this in the corpus directory for the fuzz test and debug using the same techniques as normal Envoy gtest, e.g. https://github.com/envoyproxy/envoy/tree/master/bazel#testing-envoy-with-bazel (and the sections below on gdb, stack traces, etc.). For oss-fuzz Chromium bugs, you should always have this corpus entry, so that's pretty much all. For debugging the bu

[2018-12-31 09:51] ramaraochavali opened #5439 "redis command level success and error stats"
Currently redis proxy has only `total` stats at each command level. It is difficult to figure out how many of these commands were successful and how many have failed. It would be easier if we have couple of new stats for each command called `success` and `error` that indicate the success/failure of commands.

[2018-12-31 22:58] ashimrana opened #5442 "days_until_first_cert_expiring does not follow documentation."
days_until_first_cert_expiring does not follow documentation.

As per the documentation days_until_first_cert_expiring supposed to report the number of days until the next certificate being managed will expire.

I set up a server validation_context for trusted_ca and listed a couple of server certificates with their whole chain up there. It seems that days_until_first_cert_expiring does not reorde

[2019-01-01 04:02] #5097 closed

[2019-01-01 05:01] ramaraochavali commented on #5442
/certs endpoint displays only the first certificate. There is an enhancement https://github.com/envoyproxy/envoy/issues/4661 to display all.

[2019-01-01 13:25] vadimeisenbergibm opened #5444 "Cluster stats appear only for the clusters not added via api, in the administration interface"
Istio uses 35381896313b5f5c5d899e3dfeeae16f05c4f972/1.9.0-dev/Clean/RELEASE. I see that /stats returns only stats for the cluster that was not added via api. /clusters returns stats for all the clusters. Is this by design?

[2019-01-01 13:46] redbaron opened #5445 "Support for optional client SSL auth info use in FilterChainMatch"
*Title*: *Routing based on client SSL cert info*

*Description*:
Envoy misses feature where routing decision can be made on information stored in client's SSL cert and it's validity.

*Relevant Links*
Nginx's `$ssl_client_verify` and `$ssl_client_*` params: http://nginx.org/en/docs/http/ngx_http_ssl_module.html#var_ssl_client_verify

[2019-01-01 19:55] ashimrana commented on #5442
I observed that if I create a trusted_ca file with the self signed certificates of all the hosts then except the first host all others requests fails with SSL error: 268435581:SSL routines:OPENSSL_internal:CERTIFICATE_VERIFY_FAILED.

Not sure how to make envoy trust all of the certificates. If I use the same CA file for curl, requests to all of the hosts succeed.

Note that for testing purpose I h

[2019-01-02 08:08] gsagula commented on #5357
@dawid-manikowski I think what you want is to set `uri: "http://127.0.0.1:5001"` and `path_prefix: "/verify"` . This should definitely send every single request to the `auth_cluster`. Make sure that `auth_cluster` has the correct endpoint.

[2019-01-02 09:54] ramaraochavali commented on #5444
It could be because Istio is filtering stats using `stats_matcher`config https://github.com/istio/istio/pull/10184. Please check the proxies bootstrap config - Can you see if stats matcher is enabled?

[2019-01-02 10:16] dawid-manikowski commented on #5357
@gsagula Already did that. The problem is that the request path is being appended to the prefix. So I should prepare lots of endpoints on `auth_cluster`. Any way around it? Thanks in advance and best wishes in the New Year :)

[2019-01-02 10:48] vadimeisenbergibm commented on #5444
Yes, stats matcher is enabled. Thanks @ramaraochavali, now it is clear, closing the issue.

[2019-01-02 10:48] #5444 closed

[2019-01-02 13:15] zhaohuabing commented on #527
@kyessenov @mattklein123 I run into the same problem when trying to integrate istio into our product. If I put the http connection manager before the tcp filter, will http connection manager fail through to the tcp filter, or it just terminate the connection?

[2019-01-02 16:38] voley55 opened #5451 "Does Envoy reuses connection to backends"
**Does Envoy reuses connection to backends?**

*Description*:

**MySetup**

1. Envoy as a LB
2. Nginx as a backend returning 200
3. I benchmarked using wrk (https://github.com/wg/wrk)
`wrk -c1000 -d300s -t10 "http://xyz.com/abc.php" --latency`
This keeps 2K ESTABLISHED connections at a time to backend.

[2019-01-02 17:08] mattklein123 commented on #5451
Yup Envoy does reuse connections.

[2019-01-02 17:27] jmarantz opened #5453 "main: print error messages to std::cerr from exception text"
Currently there are a few places in the code with the pattern:

[code]

These should all be changed to eliminate the stream-out command from the throw site, and instead stream out the exception text from main_common.cc when it's caught.

[2019-01-02 18:06] moderation commented on #5163
I believe this issue was fixed by https://github.com/envoyproxy/envoy/pull/5249

[2019-01-02 18:14] alyssawilk commented on #5378
Bleh.

Started in on this and hit 2 walls already.

First, while you can deprecate the first field in a proto you can't actually remove it (reserved 0; -> envoy/api/v2/core/config_source.proto: The first enum value must be zero in proto3.).  I don't think renumbering is kosher so the best I can come up with is change the name from REST_LEGACY to
We can make it REST_LEGACY_REALLY_NO_LONGER_SUPPORTE

[2019-01-02 18:32] ggreenway commented on #5405
@htuch Please move the doc to a world-readable location.

[2019-01-02 18:47] ggreenway commented on #5401
I think it is worth clarifying in the title of the issues that we are not deprecating support for these versions, cipher-suites, etc, just changing the default for when the user does not specify their own settings.

[2019-01-02 19:16] jrajahalme commented on #5142
This can be accomplished with the gRPC route matcher, so no new functionality is needed.

[2019-01-02 19:16] #5142 closed

[2019-01-02 19:55] snowp commented on #4280
@mattklein123 @htuch Thoughts on the above suggestion?

[2019-01-02 21:03] PiotrSikora commented on #5401
@ggreenway it literally says "modernize TLS **defaults**"

[2019-01-02 21:05] ggreenway commented on #5401
I meant in all the sub-issues.

[2019-01-02 21:07] PiotrSikora commented on #5401
@ggreenway ah, that makes more sense! Thanks.

[2019-01-02 21:33] tehranian opened #5455 "Build failure: boringssl_fips - "not able to compile a simple test program""
*Title*: Build failure: boringssl_fips - `not able to compile a simple test program`

*Description*:
Trying to build Envoy 1.9.0. Looks like this commit broke things for us: https://github.com/envoyproxy/envoy/commit/a734887ad06609cf0b3c023d38239bf3e79d3717

[code]

The `CMakeError.log`:
[code]

Full build logs at: https://gist.github.com/tehranian/5f77a3e0be06fe49eb417ad43cde42d0

*Thoughts*:
Giv

[2019-01-02 21:42] DidelotK commented on #2822
**Carreful with indent** (admin part is not correct. It should be at same level than static_resources)

[2019-01-02 21:57] alyssawilk commented on #4685
I don't object to this change, but I counter-propose that if most hosts are unhealthy and all priorities are in panic mode, perhaps Envoy should simply fail to chose hosts for some percentage of load and return 50xs instead?  I agree overwhelming P=0 isn't optimal but at that point everything has melted down and overwhelming the lingering subset of P=1 to P=N may not be helping matters.

[2019-01-02 23:16] mattklein123 commented on #1082
@PiotrSikora you just fixed this right?

[2019-01-02 23:16] mattklein123 commented on #5455
@PiotrSikora

[2019-01-02 23:33] PiotrSikora commented on #5445
@redbaron which fields are you interested in, exactly?

You can somehow awkwardly make routing decisions based on the client certificate at the HTTP level by forwarding client certificate details and checking values in the `x-forwarded-client-cert` header, e.g. to forward requests only from clients with valid certificate matching `spiffe://your.org/*`, you could use config like this:
[code]

As fo

[2019-01-02 23:37] PiotrSikora commented on #5455
@tehranian it's unfortunate that this made it to the release, but can you either move to `master` or cherry-pick `7d2e84d3d0f8a4ffbf4257c450b3e5a6d93d4697` (#5404)?

@mattklein123 perhaps we should roll 1.9.1 to unbreak builds on CentOS/RedHat?

[2019-01-03 00:20] PiotrSikora commented on #1082
@mattklein123 yes, in theory, since defaults are now defined separately in the code, but they are still the same in practice.

Note that this issue is really about adding P-384 to the default curves used for outgoing connections, but seeing that we outright banned P-384 in ECDSA certificates (#5224), I'm not sure if adding it to the default curves used for session key agreement makes a lot of sens

[2019-01-03 00:31] ggreenway opened #5458 "Docs: release docs repo links point to master"
Links from RST docs using `:repo:` always point to the current `master` on github. This can lead to broken links for released version documentation. Example from the 1.8.0 docs:

https://www.envoyproxy.io/docs/envoy/v1.8.0/install/ref_configs#install-ref-configs has a link to https://github.com/envoyproxy/envoy/blob/master/configs/envoy_service_to_service.template.json, which doesn't exist anymore

[2019-01-03 01:51] mattklein123 commented on #1082
OK closing

[2019-01-03 01:51] #1082 closed

[2019-01-03 02:14] mattklein123 commented on #5455
I would prefer to not do 1.9.1 unless someone strongly requests it. If so, I can probably work on the point release tooling a bit.

[2019-01-03 02:20] mattklein123 commented on #4280
From looking at the API change, is the only time a host is moved within priorities when a reference is actually used? Can you help me by mapping how the xDS API changes result in the new APIs being called above, and also the case where people don't use host references at all?

[2019-01-03 02:30] mattklein123 commented on #5378
You could change the field name and just outright fail if its set? then we wouldn't have to do ApiType2, etc.

[2019-01-03 04:12] moderation opened #5461 "Upgrading to gRPC 1.17.2 requires ALTS code change"
*Title*: Upgrading to gRPC 1.17.2 requires ALTS code change

*Description*: While testing some updated dependencies including gRPC 1.17.2, I found that the Envoy ALTS code will need to change to accommodate change in the external dependency gRPC code.

[*Relevant Links*:]
https://github.com/grpc/grpc/commit/285d4ef1be44a15235b734a1e476fb8af4d71c79#diff-db966a87fffefb50d7a0446f10fbb424 adds a `poll

[2019-01-03 05:17] lizan commented on #5461
@moderation as a temporary solution to unblock that PR, would passing `nullptr` work?

cc @JimmyCYJ @qiwzhang

[2019-01-03 14:08] alyssawilk commented on #5378
Sure thing - that's what I was planning on doing in the interim in any case.  Just a bummer to have the cruft long term.

I wonder if that would solve the other problem - if we assert-fail in the 'right' place hopefully we can fail if Envoy starts with that config but not fail if we're just running the conversion scripts.  Will take a look

[2019-01-03 17:39] jmarantz commented on #5201
/wait

[2019-01-03 17:49] tehranian commented on #5455
@PiotrSikora  - Thanks!

* I can confirm that a build of `master` (02659d411332e9f20d229f482931c15304ea17fd) succeeds for us in our Amazon Linux environment.
* I can also confirm that branching off of tag `v1.9.0` and cherry-picking 7d2e84d3d0f8a4ffbf4257c450b3e5a6d93d4697 solves our build failure.

@mattklein123  - Yea, understood that doing a point-release is more work for you. We can do our bui

[2019-01-03 18:37] cmluciano commented on #5201
@jmarantz Just got back today from holiday break, I'm working on this today

[2019-01-03 18:47] phylake commented on #5368
@mattklein123 I've poured through the source and found [LibEventInstance](https://github.com/envoyproxy/envoy/blob/v1.9.0/source/common/buffer/buffer_impl.h#L49). Is there anything envoy-specific you can point me to or should I look to libevent for more detail about exactly what buffering is done during proxy?

The [flow control](https://github.com/envoyproxy/envoy/blob/v1.9.0/source/docs/flow_con

[2019-01-03 19:18] JimmyCYJ commented on #5461
There is a change to alts in the latest gRPC library.
https://github.com/grpc/grpc/pull/16773/files#diff-15 introduced two methods,
grpc_alts_shared_resource_dedicated_init(), and
grpc_alts_shared_resource_dedicated_shutdown(). These should be called before and after alts.
I was going to update Envoy but didn't have chance to work on it.

[2019-01-03 20:36] cmluciano commented on #5201
FYI based on the manual run of Piotr's script, I see the following on master as of Jan 3rd 2019.

Overhead per cluster: 57058 + 2031 for each extra worker thread

[2019-01-03 20:40] mattklein123 commented on #5455
Point releases are tracked here: https://github.com/envoyproxy/envoy/issues/4052. I will see if I can find some time to make the tooling/process actually work.

[2019-01-03 20:51] mattklein123 commented on #5368
Buffering vs. streaming is handled outside of libevent/the buffer implementation.

I would take a look at https://github.com/envoyproxy/envoy/blob/master/include/envoy/http/filter.h#L43 and how that ends up getting plumbed into the HTTP connection manager (https://github.com/envoyproxy/envoy/blob/master/source/common/http/conn_manager_impl.cc).

[2019-01-03 20:57] mattklein123 commented on #4685
I agree with the proposal.

I like this idea, but I wonder if we should look at this as a totally different feature/issue/option which would basically be "auto maintenance mode?" This could then be configured in place or along size panic mode?

[2019-01-03 21:38] cpakulski commented on #4685
My major concern was a situation when a priority level gets excluded from load calculation because it has zero healthy hosts while a priority next to it with let us say only 1% hosts in healthy state receives all the load.

I believe that both mechanisms can co-exist. The rejection logic described by @alyssawilk would start working when all levels enter panic mode and the percentage of rejected re

[2019-01-04 00:04] ctaggart commented on #891
I'm still not sure how to automatically reload certificates, so I posted the question to:
https://stackoverflow.com/q/54031488/23059

[2019-01-04 03:47] jmarantz commented on #4974
I meant to ping you when you are active on slack and i am free... I didn't totally understand all of the above. But let me just ask some questions:

 - how long do both old and new processes tend to co-exist? Is this more than just the lame-duck time -- say O(1 minute)? During the time when both exist, how will stats be read?
 - at what point should we finally add the old process stat values to th

[2019-01-04 05:39] snowp opened #5477 "Add format fix for java proto options"
With #5369 the presence of some java options are required in all proto files, verified by `check_format.py`. Since these are fairly simple additions, we should add a format fix step to `check_format.py` that adds these in.

The following snippet was used to add the options to existing files and might serve as inspiration for adding them this fix to `check_format.py`.

[code]

[2019-01-04 06:18] htuch commented on #5405
@ggreenway I can't do this without losing comment history; my bad. I will take into account https://github.com/envoyproxy/envoy/pull/5454 in future design docs and will do a public document once a design emerges.

[2019-01-04 07:19] htuch commented on #5355
@rshriram the point of FDS is that the listener blob delivered via LDS is just the top-level configuration; it's relatively stable and never updates. Instead, individual filter chains update, none of which requires a drain.

[2019-01-04 12:05] sanjeewa-malalgoda commented on #3757
I'm having similar issue when i  configure ext-authz as follows. Here also i do not get method name to authz server side. Do you have any idea? How do we set authority here?

          - name: envoy.ext_authz
            config:
              http_service:
                server_uri:
                  uri: http://127.0.0.1:9763/api-import-export-2.2.0-v0/validate-service
                  cluster:

[2019-01-04 12:40] Oberon00 opened #5481 "segfault/problems with error categories/std::error_codes when using dynamic.ot tracing."
*Description*:
Envoy crashes when the error_category parameter is assigned from a dynamic.ot plugin. The cause of this is the combination of:

1. Envoy links opentracing and libstdc++ statically, forcing plugins to link their own copy.
2. Envoy unloads the plugin .so if it fails to load before processing the error.

Point 1 alone causes a lot of problems, for example even if 2 is fixed, error cate

[2019-01-04 16:11] ggreenway commented on #4974
This is configurable on the CLI. I have a use-case (involving TCP proxying) where I have it set to multiple hours, because there's no graceful way to tell a tcp-proxies connection that it's time to close soon.

Given the above (moderately long time windows), I think the stats should be sent periodically (probably with configurable period), but no slower than 1/minute.

[2019-01-04 16:15] jmarantz commented on #4974
@ggreenway thanks -- then I think we'd need to atomically zero the old-process stat values as we transmit them to the new process, to avoid double-counting them? Or alternatively we could keep the old-process stat values separate in the new process and only combine them when the old process is allowed to die. Other ideas?

[2019-01-04 16:31] jmarantz commented on #4974
Zeroing in the old process, via https://en.cppreference.com/w/cpp/atomic/atomic/exchange, feels like a good approach as it doesn't require using any additional per-stat storage in the new process, and would work for gauges, and the stats-sink/admin-access to stats flow wouldn't need to change.

@mattklein123 wdyt? This diverges a bit from what you were suggesting.

[2019-01-04 16:53] mattklein123 commented on #4685
Depending on the LB error/return code, we could do different things, like return a 5xx in the router. Either way, I would recommend opening a separate issue to track this.

[2019-01-04 16:57] #5300 closed

[2019-01-04 17:02] mattklein123 commented on #5481
@rnburn

[2019-01-04 17:20] pltanhthu opened #5488 "Tracing Redis behind envoy sidecar"
Hello, does envoy support for tracing requests sending from a service to Redis (via envoy sidecar)?
As I see in the envoy document, it is possible to trace HTTP requests sending from a service (via envoy sidecar) by forwarding the generated headers to outgoing requests. Is there a similar way for Redis connection? Thanks.

[2019-01-04 17:30] mattklein123 commented on #5488
Not currently supported. This is something we have talked about but haven't planned out. It would require some type of redis protocol extension to pass trace context though.

[2019-01-04 17:32] medalliaerlich opened #5489 "Envoy Rate Limit should allow all actions to set the descriptor key"
*Title*: *Envoy Rate Limit should allow all actions to set the descriptor key *

*Description*:
When adding a Rate Limit action, for instance `generic_key`, one should be able to specify the descriptor's key.
This example, one should be able to create two generic_keys and customize them:

- Generic key1:  descriptor_key: key1, descriptor_value: value1
- Generic key2:  descriptor_key: key2, descrip

[2019-01-04 17:49] mattklein123 commented on #4974
Per @ggreenway this is configurable and can be a very long time. This is why we currently have the concept of a flush interval (which defaults to 5s). During every flush interval, we flush stats to output sinks in the primary process only, but before we do this we ask the parent process for certain stats, as well as merge histograms. Its during this configurable flush interval that I am suggesting

[2019-01-04 19:12] snowp commented on #4280
The way I'm imagining this is that for for existing usages (not using a reference) every existing call to the member update cb is translated into a `MemberReferenceUpdateCb` call and a `MemberUpdateCb` call: notifying listeners that the host has been added/removed, as well as which priority it has been added/removed from.

For usages with references, `MemberUpdateCb` are only triggered when endpoi

[2019-01-04 19:43] loewenstein commented on #4196
@jmarantz your PR #5321 closed this issue while stating to be part of a multi-PR effort to fix it.

[2019-01-04 20:04] rnburn commented on #5481
I think this can be fixed by changing [this code](https://github.com/opentracing/opentracing-cpp/blob/master/src/dynamic_load_unix.cpp#L68-L77) to to always return the dynamic_load_failure error code (so that there's no reference to an error_category from the loaded library).

And adding the error category symbols to the global section of the [export map](https://github.com/jaegertracing/jaeger-cl

[2019-01-04 21:09] donbowman commented on #4128
/remove stale
the PR is still in process of being reviewed w/ my colleague @klarose

[2019-01-04 21:56] #5131 closed

[2019-01-04 22:21] #5134 closed

[2019-01-04 23:03] snakescott opened #5493 "Header Aware Fault Injection"
*Title*: *Header Aware Fault Injection*

*Description*:
Add ability to do header matching in the fault filter. This would allow for example injecting faults only into (header identified) low priority traffic

*Relevant Links*:
[Fault filter docs](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/fault_filter)

[2019-01-05 03:21] #5311 closed

[2019-01-05 03:39] mattklein123 commented on #5493
IIRC the fault filter allows for route specific configuration. I think you can just do a header match route, and then have a fault config for that route?

[2019-01-05 03:44] snakescott commented on #5493
actually i misread the docs, this is available already:

https://www.envoyproxy.io/docs/envoy/v1.9.0/api-v2/config/filter/http/fault/v2/fault.proto#envoy-api-msg-config-filter-http-fault-v2-httpfault

happy mistake!

[2019-01-05 03:44] #5493 closed

[2019-01-05 03:45] #5276 closed

[2019-01-05 13:54] M4rk9696 commented on #4657
I'm a bit caught up at work so I don't think I'll be able to finish this.

[2019-01-05 16:10] Oberon00 commented on #5481
The fix you suggest sounds good to me, if the error_message output parameter is set to something that preserves the information that would be contained in the error_message from the plugin and the error code + category (calling [error_category::message](https://en.cppreference.com/w/cpp/error/error_category/message) should be safe before onloading the shared object).

Regarding the export map, I t

[2019-01-05 20:39] blaggacao commented on #2861
This proposal feels like putting wings on coelacanthiforms! Very very nice!

[2019-01-06 04:03] PiotrSikora opened #5501 "Add verify_client_certificate."
From https://github.com/envoyproxy/envoy/pull/5207#issuecomment-447345279:

[2019-01-06 13:58] rishabhkumar296 commented on #5453
Hi, I would like to take this up as my first issue. Does this task also involve removing `std::cerr` where it is used with `EnvoyException` to print the error messages?

[2019-01-06 14:19] jmarantz commented on #5453
I think we still want to log the errors when the exceptions are caught. But we don't need to log them when they are thrown.

[2019-01-06 15:41] rishabhkumar296 commented on #5453
Hi, I was able to identify 5 instances where errors were logged along with throwing an exception after running `git grep 'std::cerr'`. PR created for the same.

[2019-01-06 21:00] cgilmour opened #5504 "datadog tracer samples heathchecks"
*Description*:
Reported directly by a user, the datadog tracer is sampling HTTP requests that are for healthchecks.
This shouldn't occur when using the `envoy.health_check` http filter, because it sets sampling to [false](https://github.com/envoyproxy/envoy/blob/7c5badba34e8e4e5115b81776bafc7bcaa3a5834/source/extensions/filters/http/health_check/health_check.cc#L41-L45).

The datadog tracer ignore

[2019-01-06 21:04] htuch commented on #527
@zhaohuabing HTTP connection manager will force L7 on the filter stack, there is no fallback behavior. Do you really need multiple protocols on the same port? If so, how would you like to see this fallback behavior work?

[2019-01-06 21:08] htuch commented on #5363
@alyssawilk sure, start simple :)

[2019-01-06 21:16] htuch commented on #5378
As an aside, this is why proto3 best practice with enums is to make the first value something like `UNSET` or `DEFAULT`. We have not done this in most of the Envoy APIs as generally we didn't expect to be deprecating enum values in most places, but this is clearly an exception.

[2019-01-06 21:42] mattklein123 opened #5505 "decomp admin.h/admin.cc"
The admin handler and tests are getting out of control. We should decomp these files into multiple independent files for different handlers, the filter, etc.

https://github.com/envoyproxy/envoy/blob/master/source/server/http/admin.h
https://github.com/envoyproxy/envoy/blob/master/source/server/http/admin.cc

[2019-01-06 23:31] htuch commented on #5174
@ivitjuk do you want to try extend the incremental xDS design to accommodate this? See https://github.com/envoyproxy/envoy/blob/master/api/XDS_PROTOCOL.md#incremental-xds and https://github.com/envoyproxy/envoy/blob/7c5badba34e8e4e5115b81776bafc7bcaa3a5834/api/envoy/api/v2/discovery.proto#L99.

[2019-01-06 23:44] htuch commented on #4685
I'd be in favor of a solution that doesn't have wild swings in load distributions across priority levels occurring as a single host goes healthy/unhealthy. It sounds like in the current situation that this can happen and @cpakulski proposed solution solves this. OTOH, anything that simplifies, e.g. 5xx load shedding, the existing (very) complicated set of behaviors might be useful. I like to think

[2019-01-07 04:42] zhaohuabing commented on #527
@htuch Istio complains port conflict when building outbound listeners if there are TCP and HTTP services on the same port. It simply abandons TCP services, which causes unexpected behaviours for the application.

Let's say we have a listener 0.0.0.0:9080, which only has an HTTP connection manager but will receive both HTTP and plain TCP traffic. Right now the plain TCP traffic is sent to the HTTP

[2019-01-07 04:57] htuch commented on #527
@zhaohuabing how do you propose HTTP connection manager to detect that traffic is non-HTTP? At what point do you decide that this is a TCP connection vs. a badly formed HTTP request? Is this some heuristic on the first few bytes for example?

[2019-01-07 05:08] zhaohuabing commented on #527
@htuch it's a very good question. I think rather than fail through form HTTP connection manager, a more reasonable solution is to use a listener filter to tell the protocol before passing the request to a filter chain. Then we can split HTTP and TCP to different filter to handle them. Is this possible?

[2019-01-07 06:41] htuch commented on #527
@zhaohuabing if we could allow listener filters to set arbitrary metadata and then add a metadata match criteria to the filter chain match, that would work as you describe. This seems like a good solution, I agree.

[2019-01-07 06:51] npuichigo opened #5507 "Add support for basic gRPC API Configuration YAML files for gRPC-JSON transcoder"
Sometimes the requirement to have to annotate our .proto files to expose them can be inconvenient. Google cloud provides an alternative approach where we specify our HTTP to gRPC mappings in gRPC API Configuration YAML file rather than in .proto. So is configuration with yaml files supported for gRPC-JSON transcoder in envoy? Or maybe it will be supported later?

[2019-01-07 07:10] zhaohuabing commented on #527
We are trying to build a filter to identify the protocol and add other metadata such as HTTP host header,  maybe we could override the protocol and servername metadata now using by TLS indication filter? However, it would be nice if this feature could be supported by envoy officially.

[2019-01-07 08:58] PiotrSikora commented on #4757
Private keys (and possibly other sensitive information) can be also leaked via `/config_dump` (I could swear there was a bug for it, but I cannot find it now).

I imagine there should be a way to sanitize sensitive data at the protobuf level. @htuch any ideas?

[2019-01-07 09:52] cetanu commented on #4757
@PiotrSikora , I found this acceptable only because I thought it's the intention to only expose this interface to administrators, since it also has the /quitquitquit endpoint that literally kills the process... Although it would be nice to hide these things. I haven't kept up to date with SDS (Secret Discovery Service) how is it handled with that? Still exposed?

[2019-01-07 09:58] laphets commented on #5505
Hello, I'd like to pick up this issue, but how can I get start with it?

[2019-01-07 10:02] MarcinFalkowski commented on #2692
Hey, what about applications logs? Are there any plans to JSONize them as well?

[2019-01-07 13:46] jmarantz commented on #5507
@lizan can you take a look?

[2019-01-07 13:49] jmarantz commented on #5505
Awesome! I'm not sure exactly where you are starting from; can you build envoy and run the tests? Can you start up a server and interactively explore the admin console?

Feel free to ping this bug or use the Slack channel to ask questions.

[2019-01-07 13:52] htuch commented on #2692
@MarcinFalkowski not AFAIK, but the `ENVOY_LOG` macros are designed for relatively easy override if you need to do this at build time.

[2019-01-07 13:56] htuch commented on #4757
@PiotrSikora I don't know if there is a standard way to do this in OSS protobuf today. It could be done as an annotation though, where we store encrypted data in-memory (and for the standard `DebugString()`), only making it available to C++ via additional accessor methods that a `protoc` plugin generates.

[2019-01-07 14:01] rishabhkumar296 commented on #2306
Hi, I would like to work on this issue. It seems that `clang-format-7` is used for pre-push check as mentioned in `tools/check_format.py`. Does the task involve overriding the `clang-format` version using docker or some other mechanism?

[2019-01-07 14:14] jmarantz commented on #5488
Naive question: could it be solved also with an envoy-side cache to retain context keyed to the redis request?

[2019-01-07 14:15] jmarantz commented on #5477
@snowp do you want to take this?

[2019-01-07 14:20] snowp commented on #5477
Yeah i'll take this, should be easy enough

[2019-01-07 14:22] jmarantz commented on #5477
Cool; I can review. Can you also add a test in check_format_test_helper.py? Thanks :)

[2019-01-07 14:32] vladimir-spotify opened #5513 "Disabled per-route filter still buffers grpc stream request data"
*Title*: *Disabled per-route filter still buffers grpc stream request data*

*Description*:
We are looking at using envoy as perimeter proxy, a replacement for nginx, serving both websites routes and grpc routes.

For the websites we are using Http::Filter buffer for the request buffering.
We are turning off buffering for grpc routes using route per-filter-config envoy.filter: disabled: true

But

[2019-01-07 15:48] vovata opened #5514 "Can't redirect to https on the same port"
The action https_redirect works for redirecting http port 80 to https port 443, or http port X1 to https port X2, and no way to use same listener on same port for redirecting.

On defined listener to accept and route https request it is tried to add redirection from http schema to https on the same port. But the listener doesn't accept the requests on http when there is tls context defined. In the

[2019-01-07 17:13] mattklein123 commented on #5488
@jmarantz but how would the context be sent? We would need to extend the redis text protocol for this somehow. In general I agree this would be an awesome thing to figure out how to do, but I don't see how we can do it without client cooperation.

[2019-01-07 17:14] #5390 closed

[2019-01-07 17:19] vovata commented on #5514
I have secure listener, and it works on https url on specific port.
But I want if someone requested same url with same port, just to redirect the request to https.
Nothing special in my wish, just do not reject the request if the url and the port are correct, but sent as http.

[2019-01-07 17:43] dnoe commented on #5514
In that scenario you can't redirect, because the http:// URL to the port
that is expecting HTTPS will not be able to do the basic protocol
communication that is needed to do a redirect. This isn't a limitation of
Envoy, but of HTTP in general.

On Mon, Jan 7, 2019 at 12:19 PM Vladimir Penev <notifications@github.com>
wrote:

[2019-01-07 17:57] jmarantz commented on #5453
When submitting attempt #2, can you audit all the exception catching done in Envoy to make sure we are logging the failures? Also I think we should probably be using ENVOY_LOG rather than std::cerr.

[2019-01-07 18:01] mattklein123 commented on #5453
We should be printing the failure here IMO: https://github.com/envoyproxy/envoy/blob/master/source/exe/main.cc#L27. I'm not sure that we should use ENVOY_LOG() since some of the messages are general pre-start messages, and I don't think logging is gauranteed to be configured, but we can see how it goes. I think we can use your new random main testing setup for doing tests around this @jmarantz?

[2019-01-07 18:32] medalliaerlich opened #5521 "Question: add rate limit header_values action with route added headers"
*Title*: *Question: add rate limit header_values action with route added headers*

*Description*:
We have an Envoy setting in which request headers sometimes come in the request sometimes are set in a Lua HTTP filter and sometimes are set in the `request_headers_to_add` route property.

The problem here is that we want to use the header_value in a rate-limit action regardless of where the header w

[2019-01-07 18:34] bnlcnd commented on #5292
Thanks Lizan. It does work if I add the port number.
But, it seems the HTTP redirection will not work with this setting. Please refer to the config file below:
[code]

When I use soap UI to hit
[code]
I will get the response.

If I hit
[code]
I expect it to redirect to the previous https URL. But I actually see a connection timeout. The Envoy does not give any debug log either.

[2019-01-07 18:35] lizan commented on #5507
@npuichigo Are you looking for something like https://cloud.google.com/endpoints/docs/grpc/transcoding#configuring_transcoding_in_yaml ? It is not supported in Envoy today. Though I think it is a good feature request.

[2019-01-07 18:40] lizan commented on #5507
cc @qiwzhang

[2019-01-07 18:45] rishabhkumar296 commented on #5453
@jmarantz I ran a quick `git grep 'catch ('` and there are instances where the failures are not logged once it is caught. I would prefer to fix it in a separate PR. I have a general query related to the parameter LEVEL in ENVOY_LOG - how to choose between 'warn' and 'critical' levels in ENVOY_LOG?

[2019-01-07 18:49] cpakulski commented on #4685
Thanks for replies. If there are no objections, I will implement proposed solution when all levels are in panic mode and will create a new issue to design simpler mechanism to shred load in linear fashion.

[2019-01-07 18:52] jmarantz commented on #5453
Right; std::cerr should be used for errors that are caught in main().  Those can be tested by adding new cases to test/integration/run_envoy_test.sh -- it should be pretty easy to add to that.

I count 48 instances of " try {" under source/... "*.cc", which probably should be audited. They don't all have to be echoed to stderr, e.g. in grpc_mux_impl.cc I see
[code]
this is probably fine...the erro

[2019-01-07 19:16] snowp commented on #4280
@htuch Any thoughts on the above idea?

[2019-01-07 19:33] mattklein123 commented on #5453
We shouldn't do this for every catch, at least not right now. Right now I would only target the early startup prints to `std::cerr`, before the server runs. I think these are just the ones you already identified. The error can be printed in main in the top level catch block before run.

[2019-01-07 19:46] cmluciano commented on #5193
@htuch @ggreenway looks like you both have merged things recently into the access log code.

Do either of you have any opinions on this?

[2019-01-07 19:49] mattklein123 commented on #5193
@cmluciano can you propose a potential change here? From a quick read I'm not sure I fully grok the issue.

[2019-01-07 19:49] ggreenway commented on #5193
Is there any reasonable use-case for not having a newline in the format? I'd be fine with automatically adding a newline at the end if one isn't present.

[2019-01-07 20:02] ggreenway commented on #4540
I brainstormed with @htuch and here's what we propose for now:

* Listeners will specify a list of FilterChains by name to discover. That means that adding a new static FilterChain will involve modifying the listener. This model is the best way to support lazy-loading of FilterChains.
* We will modify the current listener implementation so that if a listener has filter chains added, modified, or r

[2019-01-07 20:03] cmluciano commented on #5193
@mattklein123 @ggreenway  Yes the change I had in mind was validation that a newline is present and either logging or automatically adding one. Without the newline we don't see any error messages and access logging is non functional.

The change would be similar to #5024

[2019-01-07 20:14] mattklein123 commented on #4540
I don't understand how filter chains interact with draining? Can't old connections use the old filter chain and new ones use the new filter chain? If we want to add draining on filter chain change I think that's totally orthogonal?

[2019-01-07 20:16] ggreenway commented on #5193
That seems fine to me. If anyone comes up with a valid use-case for no-newline, you can put it behind a new config bit.

[2019-01-07 20:18] ggreenway commented on #4540
@mattklein123 Yes, that's basically the conclusion @htuch and I came to. There are two orthogonal feature requests/requirements here:

1) Be able to add/remove filterchains without draining. Right now this is not possible only due to the implementation of listener config changes. The API does not need to change to fix this.
2) lazy-load filterchains.

The implementation of these two features is mo

[2019-01-07 20:20] mattklein123 commented on #4540
OK, thanks for the clarification. IMO we don't ever need to implement draining on a per filter chain basis. I would track as a totally separate issue? Fixing (1) should be simple compared to having to do draining also (not simple).

[2019-01-07 20:34] mattklein123 commented on #4540
But even with lazy load, why is draining required? It seems like we can write the code so that a filter chain is latched onto a connection at initial connect time? Why is it required to drain? (I can see why someone might want that, but it seems not required).

[2019-01-07 20:38] mattklein123 commented on #5513
Yeah this is broken, thanks for the debugging. I'm a little perplexed because I thought we used this internally at Lyft, and now I'm not sure how that could possibly be working. Do you want to fix?

cc @junr03 @rodaine

[2019-01-07 20:43] ggreenway commented on #4540
That's an interesting point. I suppose it's not required. But it would be inconsistent with current behavior for listeners: there's not currently a way to modify/remove a listener without draining. But the answer to (1) may be as simple as adding a new DrainType of "hot-restart only". That's not quite as fine-grained, but would be much less effort for most of the potential gains. It would entirely

[2019-01-07 20:45] mattklein123 commented on #4280
@snowp yeah this makes sense to me.

[2019-01-07 20:48] mattklein123 commented on #4540
FWIW, my view of filter chain is that it's something that is only consulted when a connection is created. As such, draining is not required. The reason I wrote draining into listeners is that when a listener goes away, by definition is destroys all owned connections (this wouldn't be the case for filter chains). I agree that we could add a configuration option to listeners to not drain and just ha

[2019-01-07 21:17] lizan commented on #5514
It is actually possible with Envoy with TLS inspector, you can setup two filter chains on same listener (same port), one with TLS and one with plaintext. And setup http connection manager in the plaintext one to redirect to HTTPS.

[2019-01-07 23:23] doodlesbykumbi commented on #5264
@lizan how exactly do you use that script with envoy ? gist please :)

[2019-01-07 23:39] zhaohuabing commented on #527
Yes, that's exactly what I'm trying to achieve.

On Tue, Jan 8, 2019, 3:28 AM Greg Greenway <notifications@github.com wrote:

[2019-01-07 23:43] lizan commented on #5264
@doodlesbykumbi In envoy directory:
1. `bazel-cmakelists --targets //test/...`
1. wait until it finishes (it is a full build so it is time consuming)
1. open the directory with CLion

[2019-01-07 23:57] mattklein123 commented on #5382
Fixed

[2019-01-07 23:57] #5382 closed

[2019-01-08 00:06] mattklein123 commented on #4540
The reason that I added draining for the listener implementation was honestly mainly for simplicity due to connection ownership. I agree that connections could live beyond the life of a listener but it would be a very large change. Obviously not doing anything at all (draining vs. shared_ptr ownership) would be not good for many users.

For filter chains, I think the keeping the filter chain alive

[2019-01-08 00:12] doodlesbykumbi commented on #5264
@lizan tried it. failed. i guess there's a bunch of dependencies on OSX missing 🤷‍♂️

[2019-01-08 00:14] ggreenway commented on #4540
Ok, that makes sense. I just wanted to make sure I understood your reasoning.

What do you think about changing listeners so that they do not drain when their config is modified (but not deleted) if the only part of the config that changed is the filter chains?

[2019-01-08 00:14] lizan commented on #5264
@doodlesbykumbi Hmm, if you can do `bazel build //test/...` then the script shouldn't fail. I use it on macOS everyday.

[2019-01-08 00:17] mattklein123 commented on #4540
Yup makes sense and I don't think would be that hard.

[2019-01-08 00:22] lizan opened #5527 "docs: document how to fix common errors raised by clang-tidy"
*Description*:
Also document how to run clang-tidy locally.

Confusing errors:
- clang-diagnostic-error

[2019-01-08 00:45] lizan commented on #5527
collecting some common error log:
https://circleci.com/gh/envoyproxy/envoy/144419
https://circleci.com/gh/envoyproxy/envoy/144233

[2019-01-08 01:03] shalako opened #5528 "Support for X-Forwarded-Prefix header"
*Title*: *One line description*

Enable applications that support the X-Forwarded-Prefix header to generate working links when an ingress proxy has rewritten the context path to root.

*Description*:

It is common to have an application responsible for only one context path of a domain; e.g. `example.com/foo/*` should be routed to myapp. However, myapp serves content on `/`, not `/foo`, because th

[2019-01-08 01:31] rnburn commented on #5481
It supports a build with exported symbols (See https://github.com/envoyproxy/envoy/issues/2251).

But not sure what the default is.

[2019-01-08 01:53] rnburn commented on #5481
Another (though less elegant and efficient) option that would working without `-rdynamic` is to first check the error_category with `dynamic_cast`; then check the `std::error_code`'s value.

[2019-01-08 02:55] mattklein123 commented on #5528
We do already write the original path in `x-envoy-original-path`. I assume this is not sufficient?

[2019-01-08 03:09] mattklein123 commented on #5521
Currently there is no way to do this. The reason headers are appended in the router is that is when the final routing decision is made (since filters might change the route). I can't think of a quick/easy way to fix your case so I'm marking design proposal.

One possibility might be to add the headers to add in route metadata and maybe always do it from Lua? I can't remember if Lua can see route m

[2019-01-08 04:07] predmore commented on #5212
Thanks, what’s the process to help get this prioritized or implemented?

[2019-01-08 05:13] mattklein123 commented on #5212
Do a PR!

[2019-01-08 05:49] PiotrSikora commented on #5212
Note: this is effectively a subset of #5501, i.e. `validate_client_certificate: false`.

[2019-01-08 08:48] vovata commented on #5514
Thanks a lot Lizan, your solution works well.

[2019-01-08 08:48] #5514 closed

[2019-01-08 09:40] laphets commented on #5505
@jmarantz Sure, I have built envoy locally and see the admin console. I'm now trying to get familiar with some terminology like `NetworkFilter`, `ListenerFilter` with envoy.

[2019-01-08 09:57] laphets commented on #5505
@jmarantz Yes, I have already built it, and see the admin console! I'm now trying to get familiar with the abstract class of `AdminImpl` and `AdminFilter`

[2019-01-08 10:03] sterchelen opened #5531 "Override http status code on 'upstream overflow'"
*Title*: *Override http status code on 'upstream overflow'*

*Description*:
We want to override http status code when we are facing an `upstream overflow`. Actually it returns a 503. Is it possible to change that behavior ?

[2019-01-08 11:32] sjvanrossum commented on #2861
Working on it. The experimental extension mentioned above was scrapped and what I'm writing for the PR is a connection manager, like HttpConnectionManager and ThriftProxy, with a filter chain to leave room for extension (enabling us to address design goal 7 in the doc as a sub-extension).
Expect the base of that (MVP as suggested by Matt Turner) to be opened as a PR within the next two weeks. ;)

[2019-01-08 13:31] medalliaerlich commented on #5521
Hi Matt, thanks for the response. Can you look the referenced issue as well? It'd help us workaround this.

Regarding your proposal, I'm not sure I understood your proposal, can you share an example?
But if the metadata is set after the RL is checked, I think the outcome will be the same, right?

On the other side, we cannot do it on Lua, as the header value, we want to add depends on the matched

[2019-01-08 14:38] voley55 opened #5536 "Performance Issues with Envoy"
## Benchmarking Envoy and comparing performance against HAProxy

**Setup**:
LB : Envoy/HAProxy
Backend : Nginx
Benchmarking Tool : wrk (https://github.com/wg/wrk)

**Envoy Config:**
Concurrency = 4

[code]
**HAProxy Config:**
[code]
**Nginx Config**

[code]
## Benchmark Results
**Envoy**
`$ wrk -c100 -d60s -t10 "http://172.16.x.x:8090/" --latency`
[code]
**HAProxy**
`$ wrk -c100 -d60s -t10 "http:/

[2019-01-08 15:04] vladimir-spotify commented on #5513
Hey, thanks for confirming, will try to come up with the fix pr, not sure of the time frame yet

[2019-01-08 15:56] npuichigo opened #5540 "Support streaming HttpBody proto?"
The support for handling google.api.HttpBody is cool, especially when I want to directly reply http response with audio `content_type`. I notice that streaming case is remained to be done, so may I ask you when will that be supported? It's really use for me in implementing speech synthesis because l can transfer large audio data to client by clipping them into audio clips with chunked audio/mp3 `c

[2019-01-08 16:24] alyssawilk opened #5541 "Envoy doesn't clear TE header"
Per the RFC https://tools.ietf.org/html/rfc2616#section-13.5.1 this should be hop by hop.

I'll throw together a quick PR to clear it in mutateRequestHeaders - just filing a tracking issue for internal accounting.

[2019-01-08 16:55] shalako commented on #5528
I was not aware, thank you for your reply.

While X-Envoy-Original-Path may provide the same function, it is not likely to have the same support in Spring or other frameworks as X-Forwarded-Prefix does. I’ll look into it a bit further and post an update or close this issue.

[2019-01-08 17:02] mattklein123 commented on #5531
Not currently. We have a bunch of work planned around allowing user's to customize error responses which I think would cover this case. See https://github.com/envoyproxy/envoy/issues/1178 and related issues.

[2019-01-08 17:03] mattklein123 commented on #5540
@lizan

[2019-01-08 20:09] #5378 closed

[2019-01-08 20:38] alyssawilk commented on #5541
Envoy does HTTP/1.1 trailers?  I think unsupported 1.1 trailers was our (original) motivation for stripping TE as it was one of the few actual uses.

[2019-01-08 20:43] PiotrSikora commented on #5541
Doesn't it? Sorry, I actually don't know, but I assumed it does, since they are part of chunked encoding, and Envoy as a whole is aware of trailers.

Regardless, as far as I can tell, you change removes `TE: trailers` not only from HTTP/1.1 requests, but also from HTTP/2.

[2019-01-08 20:51] alyssawilk commented on #5541
Envoy sure supports trailers for H2, but if you attempt to send trailers with an H1 codec it doesn't actually encode them and if we get them in we explicitly drop them on the floor** so I think stripping TE: trailers for HTTP/1.1 makes sense.

By the H2 spec the only legal value of TE is "trailers", so we could theoretically pass that through coming from H2 and going to H2 (basically strip incomin

[2019-01-08 21:00] rnburn commented on #5481
Right, those classes would need to be available. But since `std::error_category` is a polymorphic class you can use the [`typeid` operator](https://en.cppreference.com/w/cpp/language/typeid) with  to accomplish the same thing.

Could review the PR (https://github.com/opentracing/opentracing-cpp/pull/102) to verify it will fix the segfaulting?

[2019-01-08 21:41] bdecoste opened #5545 "Make SSL impl (i.e. boringssl vs openssl) pluggable"
Title: Make SSL impl (i.e. boringssl vs openssl) pluggable

Description:
Overall goal is to support the existing boringssl implementation as well as other ssl implmentations such as openssl. In order to support alternate ssl libraries, boringssl must be able to be compiled out with only bazel configuration changes. In order to support compiling out boringssl the following steps need to be accompli

[2019-01-08 21:42] PiotrSikora commented on #5541
My memory is a bit fuzzy at this point, but I'm pretty sure that gRPC requires `TE: trailers` in requests (or at least, it did at some point in the past).

I don't see this being explicitly called out in the spec, but [grpc/PROTOCOL-HTTP2.md](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md) says:

and official clients are definitely sending `TE: trailers` in requests.

Also, from ht

[2019-01-08 21:47] alyssawilk commented on #5541
OK, so the most correct thing to do would be to clear "trailers" from TE for HTTP/1.1 and leave the rest intact?  Given prior experiences clearing individual fields from hop by hop headers causing avoidable perf issues I think I'm going to steer away, and either file this as a proxy difference, implement the aggressive in-house clearing, or suggest we upgrade the in-house sanitization to something

[2019-01-08 21:47] #5541 closed

[2019-01-08 23:01] lizan commented on #5540
@npuichigo we don't have specific timeline to implement that. That is useful so if you're interested feel free to open a PR and I can help you with that.

[2019-01-09 03:50] htuch commented on #5193
Automatically adding a new line if not present seems fine to me as well.

[2019-01-09 03:58] htuch commented on #4280
@snowp also seems reasonable to me; I'd call it `PrioritizedHost` or `HostWithPriority` to be more specific though.

[2019-01-09 04:03] htuch commented on #5174
@ivitjuk Ack. Incremental xDS is going to play out over the next quarter or so, I think you'll need an interim workaround. In general, we don't have a good story for better-than-eventual consistency if you use logical DNS rather than EDS as things stand today.

As a super hack, you could poll the admin endpoint and look at `/clusters` potentially to see what has been resolved, but I don't recommen

[2019-01-09 04:08] htuch commented on #527
@ggreenway true. So, we want to set some metadata from arbitrary network filters and then match on this in HTTP connection manager... or we could have HCM still have a single filter chain and have a single match criteria which if not met make it pass-thru, allowing for multiple HCMs to be present at the end of a L4 filter chain.

Actually, thinking about this, we could have a special "metadata mat

[2019-01-09 04:14] htuch commented on #4540
SGTM to me as well, FWIW I hadn't grokked the full tradeoff between shared_ptr and drain here in Listener implementation, so thanks @mattklein123 for explaining this for posterity.

[2019-01-09 06:19] snowp commented on #4280
After getting the PR ready the API is somewhat different than what I suggested, so I'll just put up what I have and we'll see if makes sense

[2019-01-09 07:18] npuichigo commented on #5540
@dio

[2019-01-09 08:31] objectiser commented on #5504
Agree that setting the `sampled` state of the active span to false within the health check makes assumptions that the underlying tracer is able to change the sampled state after the span has been created.

Therefore the solution would be to pre-determine the filter chain's sampling requirement and include it in the sampling decision that is supplied to the initial span creation.

If the filter's s

[2019-01-09 11:19] ArthurChiao commented on #5513
got the similar problem, disabled request buffering and found no difference.

[2019-01-09 11:32] yunz10 opened #5550 "Fail to run testcase: //test/extensions/filters/network/thrift_proxy:integration_test"
***Description***:

***Relevant Links***:

***Command***:
`bazel test //test/...`

**_Output_**:
[code]
**_Test_log_**
[code]

**_Version info_**:
[code]

[2019-01-09 11:58] nezdolik commented on #5130
Want to give it a try

[2019-01-09 12:04] Oberon00 commented on #5481
Thanks, @rnburn that fixes the crash! 👍  I rebuilt envoy with the opentracing from your PR, and now get the following output, as expected:

[code]

One should just consider if error_code.message() should be prepended to error_message or if one should be able to configure opentracing-cpp to return the actual error code (in case libopentracing is linked dynamically).

[2019-01-09 12:46] dio opened #5551 "lua, osx: envoy with lua http HTTP filter enabled crashes on release build"
*Title*: Lua: envoy with Lua HTTP filter enable crashes on release build on osx

*Description*:
Envoy with Lua HTTP filter crashes on release build. Seems like something is wrong (failed to do the placement to the allocated mem?) when executing the placement new operator [here](https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/common/lua/lua.h#L101) for the `StreamHandleWra

[2019-01-09 15:33] mattklein123 commented on #5504
I thought about this a little bit, and I wonder if we could move header injection to the router filter in decodeHeaders()? Does anyone see any downsides to this? This would allow other filters to alter request state before we inject and prepare to forward. The only potential issue I can see (which I haven't thought through complete) is whether this would effect spans created during the request flo

[2019-01-09 15:36] mattklein123 commented on #5505
Yes I think this makes sense, though optimally I would end up with each handler in its own file, so not sure of the best class structure to make this happen. (If the handlers could end up mostly static that might be best).

[2019-01-09 16:34] mattklein123 commented on #5521
But if the metadata is set after the RL is checked, I think the outcome will be the same, right? On the other side, we cannot do it on Lua, as the header value, we want to add depends on the matched route. Am I right?

Sorry I don't have time for a fully formed example/analysis. I think it should be possible to run the Lua filter prior to the RL filter and possibly do everything via route metadata

[2019-01-09 18:58] kyessenov opened #5554 "content length header is auto-inserted for empty bodies"
*Title*: after a regular HTTP filter removes content-length header in `encodeHeaders`, it is still present in the response

*Description*:
This only happens for requests with an empty body.
If there is a body, then removing content-length header from a filter works as expected.

Discovered here https://github.com/istio/istio/issues/10783 for envoy 2a2ad48a7d4b57512bc10a9593e852fe950b1c8d

[2019-01-09 19:09] zuercher commented on #5550
Bazel runs a pair of python scripts to generate thrift-encoded messages used. The `test/extensions/filters/network/thrift_proxy/driver/generate_fixture.sh` shell script is responsible for running the python client and server with the correct options. The final error in the log you posted is due to generate_fixture.sh not being able to kill the server script, which implies it didn't start correctly

[2019-01-09 19:40] #4964 closed

[2019-01-09 19:57] billybanfield opened #5555 "IPs not set if version never changes"
*Title*: IPs not set if version never changes

*Description*:
We are using a control-plane based on the go-control-plane project. We are using ADS to serve resources to envoy over gRPC. When the clusters/endpoints do not change from the initial version, Envoy does not correctly associate the IPs it receives from the control-plane with the clusters. Envoy receives the IPs and acknowledges them in t

[2019-01-09 20:54] davidfowl commented on #4952
I don't know the envoy codebase at all but I've worked on one of those codebases at MSFT (on ASP.NET Core's Kestrel webserver), if you have any more specific questions or general questions, me or @halter73 would be happy to answer (of course the devil is in the details).

[2019-01-09 20:55] mgiorgio commented on #3124
Hi folks, thanks for the great work you're doing!
Is there any update on this issue? It'd be great to have different Lua scripts per virtual host or per. Route.

Thanks!

[2019-01-09 21:05] ggreenway commented on #4540
@mattklein123 I've been thinking this through, and simply using a shared_ptr for the filter-chain will run into other issues, because right now ThreadLocal slots must be destructed on the main thread. But I can probably make it post deletions to the main thread when the refcount goes to zero somehow.

[2019-01-09 21:43] kyessenov commented on #5554
Several filters set content length explicitly (gzip, I think). I'm not sure where content-length is auto-set to 0 for empty bodies, but I can imagine this can cause a conflict. It's not a critical issue, since the difference between an empty body with content length 0 and just an empty body is minor.

[2019-01-09 21:50] mattklein123 commented on #4540
Hmm yeah that's definitely a complexity with the stored lambdas. Yeah I think could have some type of shared_ptr wrapper that on destruction posts back to the main listener for deletion. It's definitely not trivial b but doable. I suppose if TLS is the only issue you could fix that to allow deletion from any thread, but not sure if that is worth it or not.

[2019-01-09 22:42] lizan commented on #5551
I was able to get ASAN build on mac, and with ASAN it crashes with debug build too. It is due to misalignment:
[code]

[2019-01-09 22:54] jmarantz opened #5556 "test: infrastucture should make it easier to generate valid configs"
Currently when you write a test that requires a valid Envoy configuration, you need to make two variants of it and switch on whether you're running in ipv6 or ipv4 mode.

It should be super-easy to write a test that requires configuration without thinking at all about ip-mode. Both in bash and c++.

[2019-01-09 23:31] rgs1 opened #5557 "crash on request timeout"
In preparation to pick up https://github.com/envoyproxy/envoy/pull/5486, I removed our buffer filter timeouts in favor of the http connection manager's request timeout. Thus far saw one instance of this:

[code]
This is running 974ecb9a460186ab02c89bddd36a28c7980cf669.

[2019-01-09 23:37] rgs1 commented on #5557
Actually, seeing many instances. Here is another one:

[code]

[2019-01-09 23:41] htuch commented on #4952
@davidfowl @halter73 the crux of the current discussion is whether we would see appreciable benefits to the Windows port to justify switching to `libuv`. There is a feeling that this switch might destabilize a core part of Envoy's event loop and I/O scheduling, which we might be willing to take on if we get a long term improvement. @sesmith177 has some discussion here above, looking at the IOCP fu

[2019-01-10 00:42] lizan opened #5558 "config: convert example, documents and tests to typed_config (Any)"
Follow up of #4475.

[2019-01-10 00:44] lizan commented on #5558
Will working on this when I have time, feel free to take.

[2019-01-10 00:51] lizan opened #5559 "config: warning about using deprecated config"
There is only [DEPRECATED.md](https://github.com/envoyproxy/envoy/blob/master/DEPRECATED.md) to track which field of config is deprecated. Though it is hard to check if the config provided to Envoy contains them and need migration in next version. A warning to users when such configs are provided either via file or xDS would be nice.

[2019-01-10 01:01] rgs1 commented on #5557
cc: @auni53 since this might be related to https://github.com/envoyproxy/envoy/pull/4456

[2019-01-10 01:17] halter73 commented on #4952
libuv's event loop doesn't make it easy to implement an APIs need to be accessed from arbitrary threads. libuv APIs with the exception of uv_send must all be called from a single thread and all libuv events are fired from that same thread.

The main thing this means for Kestrel is that it never runs user code on the libuv event loop. Kestrel has to do a fair amount of marshaling and dispatching ba

[2019-01-10 01:45] mattklein123 commented on #5557
In my quick skim, `ConnectionManagerImpl::ActiveStream::disarmRequestTimeout()` is not called in the reset path, there is a race condition in which the connection is closed, the streams are put in the deferred deletion queue, and then the timer fires. We need to disarm the request timeout in this path also. cc @alyssawilk. At this point #4456 has been in for so long that we should just fix and rol

[2019-01-10 01:48] mattklein123 commented on #5557
Basically it needs to be called from `ConnectionManagerImpl::doDeferredStreamDestroy` I think.

[2019-01-10 01:58] rstoyanchev commented on #5528
There is a standard HTTP header for this https://tools.ietf.org/html/rfc7239#section-4.

[2019-01-10 02:11] dio commented on #5551
Thank you @lizan. I'll try to work on this.

[2019-01-10 03:41] htuch commented on #4952
@halter73 got it. FWIW, Envoy is perfectly good with all `libuv` APIs being called on the same thread, since we have a siloed design; each connection/request is pinned to a single worked thread and dispatch loop, we rarely do cross-thread stuff other than posting messages. From what you say, it seems we might still want to go down the path of a IOCP transport socket though, since we're not getting

[2019-01-10 03:51] tony-shi opened #5560 "How to been notified cluster warming up complete when health checker enabled?"
**Issue Template**

*Title*: *Warming cluster lost traffic with health checker enabled*

*Description*:
As the xds protocol overview has mentioned, the correct order of xds protocol should be CDS、EDS、RDS when we need to add a new cluster for envoy to router to.
However, when should the xds manager server to make sure that a cluster has been fully warmed up then notify our downstream users they can

[2019-01-10 10:08] #5166 closed

[2019-01-10 13:15] bryanburgers commented on #1861
With the work in bazelbuild/rules_go#1550 #4809 #5285 #5308, it looks like we're getting closer. What still needs to be done?

I'm trying to build an embedded device that exposes gRPC to external clients, and a simple controlling website via gRPC-Web for when an external client isn't available, so having Envoy for Arm would be awesome.

[2019-01-10 13:38] itaysk opened #5564 "Produce and host JSON schema"
I am working on some tooling that involves Envoy configuration, and need to rely on JSON schema for validation.
I currently produce usable schema from the source at: https://github.com/envoyproxy/envoy/blob/master/source/common/json/config_schemas.cc but it would be nice to have a ready to use JSON document.
Once we had that we should host outside it the git repo so tools can just reference it und

[2019-01-10 15:15] auni53 commented on #5557
Working on a fix for this, thanks for catching this. (And thanks for the diagnosis Matt, saved me a lot of time.)

[2019-01-10 17:02] shalako commented on #5528
Good call. A standard header will likely be an easier sell with the framework communities, like Spring, than an Envoy-specific one. But, requires changes on both sides.

[2019-01-10 17:18] rstoyanchev commented on #5528
Actually  never mind the link to the RFC. The Forwarded is for the host, port, and protocol. This request is for the path prefix.

[2019-01-10 17:34] Oberon00 commented on #5481
Maybe interesting (if only in the long-run) in this regard is [C++ std proposal P1196R0 "Value-based std::error_category comparison"](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2018/p1196r0.html) (via [reddit](https://old.reddit.com/r/cpp/comments/ae60nb/decades_have_passed_standard_c_has_no_agreed_and/edncthw/).

[2019-01-10 17:38] objectiser commented on #5504
Normally the headers are injected at the point where the outbound request is going to be made, so moving to the router filter would seem reasonable - and should then inject the current active span context - whether it is the main span or a child span.

The issue still remains about where the best location to determine the sampling state - and I think that still may be upfront before the main span

[2019-01-10 17:42] cmluciano commented on #2659
related #5525 #5337

[2019-01-10 18:05] mattklein123 commented on #5564
@itaysk the JSON scheme is only used for Envoy's v1 config, which is going away. I would recommend not building any new tooling that targets it. Please use the new v2 config which is based on proto/JSON/YAML.

[2019-01-10 18:32] mattklein123 commented on #5394
Yeah I think that seems good to me and pretty easy to understand. Do you want to give it a go and see how it feels when you prototype it?

[2019-01-10 18:40] mattklein123 commented on #5504
If we need to somehow consult all the filters for this, this will end up being a huge and complicated change. I think if we only change injection to occur before headers are forwarded in the router we would let the other filters at least run through decode headers which I think makes sense?

[2019-01-10 18:47] objectiser commented on #5504
Sounds reasonable - it would atleast solve the immediate problem.

[2019-01-10 18:50] #5557 closed

[2019-01-10 19:18] itaysk commented on #5564
thanks for the pointing me in the right direction.
I take it that there aren't any plans to incorporate this (maybe as part of CI) and host the resulting schemas (example: http://schemastore.org/json/) ?

[2019-01-10 19:57] sterchelen commented on #5531
Thanks @mattklein123 ... I find a workaround using Lua script.

[2019-01-10 19:57] #5531 closed

[2019-01-10 20:05] sterchelen commented on #4709
@htuch Thank you. I resolved to use gdb with envoy !
I got one question regarding the 10130 issue. I'm wondering if we have a limitation on header size. In fact, when we exceed 65536 bytes the test fail ! I saw that we are using nghttp2 but can't find any limit on header size.
Any idea ?

[2019-01-10 20:08] junr03 opened #5567 "grpc: add status access log filter"
grpc: add status access log filter

*Description*:
Add an access log filter that works based on grpc status codes, similar to the [http status code filter](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/accesslog/v2/accesslog.proto#envoy-api-msg-config-filter-accesslog-v2-statuscodefilter)

[2019-01-10 20:47] lizan commented on #5564
There are tools to generate JSON schema from proto IDL so you might be able to use that, and additionally PGV rules.

[2019-01-10 21:14] itaysk commented on #5564
OK thanks for the prompt replies!

[2019-01-10 21:14] #5564 closed

[2019-01-10 23:21] rgs1 commented on #5557
@mattklein123 @auni53 looking good thus far :+1:

[2019-01-11 02:26] mattklein123 opened #5569 "reconcile matching throughout Envoy config/API"
We have a lot of different matching going on (route, RBAC, Tap, filter chain, etc.) and we probably could share more matching infrastructure across components. This issue tracks figuring out a plan to see what can be shared.

[2019-01-11 02:44] mattklein123 commented on #5559
@lizan I was thinking about this, and couldn't we walk the config structures and look for any fields with a deprecated attribute set? We could do this maybe as part of the `Validate()` flow since we wrap most of that behavior for config load?

[2019-01-11 02:46] mattklein123 commented on #5555
cc @snowp any thoughts on this one?

[2019-01-11 02:53] mattklein123 commented on #4332
Done

[2019-01-11 02:53] #4332 closed

[2019-01-11 02:54] mattklein123 commented on #3809
Done

[2019-01-11 02:54] #3809 closed

[2019-01-11 02:55] mattklein123 commented on #3741
Closing as this issue is not directly actionable.

[2019-01-11 02:55] #3741 closed

[2019-01-11 02:58] mattklein123 commented on #3305
This is done. Envoy stats can now be filtered.

[2019-01-11 02:58] #3305 closed

[2019-01-11 03:05] snowp commented on #5555
I've seen similar things happen before when the EDS update was dropped due to XDS ordering, but not sure if this is the same thing.

@billybanfield could you also provide the output from /stats after the initial update?

[2019-01-11 06:50] snowp opened #5570 "Stronger typing in load_balancer_impl"
With the work on degraded lb (https://github.com/envoyproxy/envoy/pull/5367) the code now has a lot of different `std::vector<uint32_t>` types: degraded/healthy load, degraded/healthy availability. The lack of typing here makes working on this code somewhat painful, as passing the wrong type leads to subtle errors that take a while to debug.

It would be nice to improve the typing here to make the

[2019-01-11 13:27] klarose opened #5575 "How can I dynamically change the host HTTP header?"
*Title*: How can I dynamically change the host HTTP header?

*Description*:

I want to dynamically overwrite my upstream host without necessarily understanding the exact upstream host ahead of time. For example, imagine that the request gets to my envoy with my hostname as the host, but then i want to forward it somewhere algorithmically determined. I can't overwrite the host/authority header in t

[2019-01-11 15:28] #5206 closed, assigned to nobody

[2019-01-11 16:49] mattklein123 commented on #5570
@snowp big +1 from me. Anything we can do to make this code easier to understand and less error prone to edit would be a huge plus. This sounds good to me. Something also to think about is whether we can reduce code duplication and huge param lists. I've commented before, but I feel like now we have a lot of duplication of similar logic which makes it even harder to understand and follow.

[2019-01-11 18:14] zuercher commented on #2092
The PR for this was never completed. Reopening.

[2019-01-11 18:15] zuercher commented on #2092
For future reference, I think there are people who would like both the ability to regex-rewrites of paths (a la #4403) and regex-rewrites of redirects.

[2019-01-11 20:56] #5513 closed

[2019-01-11 21:04] mattklein123 commented on #5575
You should be able to overwrite it using Lua. You may have to remove then add, I can't remember.

[2019-01-11 22:59] utkarsh-simha commented on #5236
@f3nry I switched to an older version of envoy (0.17.2) and it worked for me.
I changed the `BAZEL_VERSION` in the script to build the container. This also fixed some other issues with `@io_bazel_rules_go//go/toolchain`.

[2019-01-11 23:03] utkarsh-simha commented on #5236
@f3nry I switched to an older version of envoy (0.17.2) and it worked for me.
I changed the `BAZEL_VERSION` in the script to build the container. This also fixed some other issues with `@io_bazel_rules_go//go/toolchain`.

[2019-01-12 21:15] moderation opened #5585 "Upgrade gabime/spdlog dependency to 1.3.0"
Title: Upgrade gabime/spdlog dependencies

Description:
spdlog has been recently been updated to `1.3.0` and has undergone significant changes. Release notes are [here](https://github.com/gabime/spdlog/releases/tag/v1.3.0).

When attempting to upgrade to `1.3.0` by modifying `bazel\repository_locations.bzl`
[code]
Envoy fails to build with the following error.
[code]
I believe this error comes fro

[2019-01-13 01:15] mattklein123 commented on #5174
1) is "easy" if you are OK with the RDS update failing (with a hopefully useful error message). Meaning, we can definitely check if a cluster is both ready and warm I think pretty easily, and fail if not, with a new validate type. Is this acceptable to you?

2) I think this also does have value, and would not require incremental xDS. I could see general value in this, for listeners also.

3) Agree

[2019-01-13 02:39] brian-pane commented on #5536
I just ran a quick test and got similar results. I ran a CPU profiler on Envoy during the test, and it highlighted part of the reason for the performance difference: wrk uses HTTP/1.1, and Envoy uses a relatively CPU-intensive HTTP/1 parser. HTTP/1 parser performance is a longstanding issue; #2880 has some context.

[2019-01-13 05:12] crockeo commented on #5567
I'm interested in taking on this issue, but I'm completely new to the project, so some direction would be appreciated. From a preliminary search I found:

1. [List of gRPC status codes](https://github.com/grpc/grpc/blob/master/doc/statuscodes.md)
2. [StatusCodeFilter definition](https://github.com/envoyproxy/envoy/blob/master/source/common/access_log/access_log_impl.h#L47)

It looks like I would h

[2019-01-13 05:32] PiotrSikora opened #5587 "Use absl::Time for parsing, formatting and timezone conversions."
We should replace `strftime`, `strptime`, `mktime`, `gmtime`, `gmtime_r`, `localtime`, `localtime_r`, `std::get_time` and `std::put_time` with their `absl::Time` equivalents, and blacklist old functions.

Also, currently, we're using `gmtime_r` and `localtime` to convert time in relation to UTC and locally configured timezones. Instead, we should be using absolute times (i.e. `time_t`, `absl::Time

[2019-01-13 17:21] #5439 closed

[2019-01-13 17:47] rishabhkumar296 commented on #5585
Hi, I would like to work on this issue.

[2019-01-13 17:51] mattklein123 commented on #5560
This is related to https://github.com/envoyproxy/envoy/issues/5174. @tony-shi can you potentially discuss in the context of that issue and close this as a duplicate?

[2019-01-13 21:07] snowp commented on #5555
Tried reproducing this with 1.8 against the java control plane (just because I have that synced down) and couldn't reproduce when it served EDS and CDS with the same version on startup.

One thing I noticed is this stat:
[code]

Do you actually have 52 clusters? If so, are you only seeing this with that many clusters or is this reproducible with a small number of clusters as well?

[2019-01-14 01:07] htuch commented on #5236
Closing this out given https://github.com/envoyproxy/envoy/issues/5236#issuecomment-445025576.

[2019-01-14 01:07] #5236 closed

[2019-01-14 01:17] htuch commented on #5174
I think (1) is the best option here, if @ivitjuk is good with the existing definition of _warm_; specifically it doesn't say that we have a valid set of hosts loaded by EDS, simply that one EDS update has occurred. We might have a warm cluster with an empty set of hosts returned by the server, or a set of hosts that are all unhealthy. Does this work?

[2019-01-14 03:02] gsagula commented on #5138
I will work on this one as soon as https://github.com/envoyproxy/envoy/pull/4947 gets merged. Thanks!

[2019-01-14 03:53] #5453 closed

[2019-01-14 03:59] ramaraochavali opened #5591 "redis command level latency stats"
Latency stats for each command are not supported in redis today. It would be useful to have a latency stat at each command level.

[2019-01-14 04:21] #5570 closed

[2019-01-14 08:52] rvansa opened #5594 "Confusing 503 when connection is closed"
*Title*: *Confusing 503 when connection is closed*

*Description*:
When we send a request (over HTTP1.1) to envoy configured as HTTP proxy and subsequently close this connection from the client side (send FIN packet), the client receives response with status code 503, and message "upstream connect error or disconnect/reset before headers" before the FIN response. I find this rather confusing, sinc

[2019-01-14 15:16] pltanhthu opened #5595 "Websocket connection does not work between envoy sidecars"
Hi, I am trying to do a simple WS example which includes `front-envoy` and `service1`. The `service1` is a WS server coupling with an envoy sidecar. `front-proxy` is for passing through the WS request to `service1`. I use the new version to configure WS with `upgrade_type: websocket`. It works when a WS client sends a request to the envoy sidecar of `service1`, but it does not work when sending re

[2019-01-14 16:17] mattklein123 commented on #5594
I don't think the downstream disconnection is related to the upstream error. By definition if downstream is disconnected it cannot see a response.

[2019-01-14 17:26] htuch opened #5598 "Load balancer extensibility"
Load balancers seems to be a natural first class extension point in Envoy, but we don't support this today. As load balancer behaviors become more complicated, e.g. witness issues such as https://github.com/envoyproxy/envoy/issues/4685, and the need for custom locality handling in Istio (CC @rshriram @costinm), it would be great to allow for LB extensions and even CDS delivery of LB behaviors via

[2019-01-14 17:31] htuch commented on #5237
@snowp did you want his one to age out or do you have concrete plans to work on it? Should we tag help wanted? It seems totally reasonable to me.

[2019-01-14 17:41] snowp commented on #5237
I don't have concrete plans to work on it, mostly because my attention is spent elsewhere. I think marking this as help wanted makes sense

[2019-01-14 17:43] ivitjuk commented on #5174
@mattklein123 in the option 1. instead of returning error message, I was actually thinking about accepting RDS and delay matching until cluster warms up. That makes more sense to me because the fact cluster is in a warming up state makes it's status uncertain (neither healthy not unhealthy). So we wait for resolution of that uncertainty before start matching the dependent RDS.

Regarding the optio

[2019-01-14 18:15] mattklein123 commented on #5174
I think when you go to implement this you will realize this is going to be quite complicated, and I'm not sure the complexity is worth it. If this is the behavior you want, personally I would recommend doing (2). Granted, I haven't thought about (1) very much so it's possible I'm missing something, so feel free to sketch out an implementation if you think it's not that hard.

[2019-01-14 18:22] htuch commented on #5174
@ivitjuk yes, it applies to logical DNS as well, see https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/cluster_manager.html?highlight=warming#cluster-warming for the definition of cluster warming.

[2019-01-14 19:00] taion809 opened #5600 "Question around detecting downstream client disconnections in HCM"
*Title*: *Question around detecting downstream client disconnections in HCM*

*Description*:
A new access log response flag "DC" was added in #5167.  My question is how does this get triggered?  I would expect that downstream client timeouts would trigger this access log but this doesn't appear to be the case from my testing.  Have I misunderstood the intent of this change?

[2019-01-14 19:03] #5600 closed

[2019-01-14 19:31] venilnoronha commented on #5209
Not stale.

[2019-01-15 00:03] suhailpatel commented on #1947
👋, I managed to pick this up and do most of the plumbing in https://github.com/envoyproxy/envoy/pull/5601 to expose buckets and plumb that through into the Prometheus output

(this is my first real foray in proper C++ code so please do review it with a fine tooth comb 😃)

[2019-01-15 00:12] mattklein123 commented on #5595
@alyssawilk any quick ideas on this one?

[2019-01-15 00:33] drichelson commented on #4272
This is really exciting. Thanks for making this magic happen! Any updates in the new year on wasm support in Envoy?

[2019-01-15 00:46] lizan commented on #5559
@mattklein123 yes that is what I was thinking of too. We need an interface for `Validate()` to raise deprecated warnings and logging them.

[2019-01-15 01:39] rshriram commented on #4540
my two cents. the draining is totally optional. If we can have the old filter chain with the old connection live for ever in the same listener, then as Matt says, I see no reason to drain. Unless its a security issue and I want to terminate old connections in a timely fashion, and not have any connections with expired tls certs lingering around for ages.

[2019-01-15 02:14] htuch commented on #5209
Reopened due to interest from @venilnoronha. I think a good first step here would be to define a gRPC proto API for this.

[2019-01-15 02:16] PiotrSikora commented on #4540
Wouldn't not draining lead to a situation, where we have long-running connections (i.e. HTTP/2, gRPC) that are latched to a filter chain that no longer exist, along with its outdated configuration, with no way to force those clients to re-connect and re-select a new filter chain?

[2019-01-15 02:20] rshriram commented on #4540
it does but the point is that unless these configurations pertain to some security stuff, this "forcing" thingy should be optional. In a way, we put the onus on the end user - if they want to take advantage of the newer config, they should reconnect. Gives them the option of staying with old config or reconnecting

[2019-01-15 02:44] PiotrSikora commented on #4272
@jplevyak and me are both actively working on this.

There should be a design doc soon (I'm working on it right now), and PRs in late Q1 / early Q2.

[2019-01-15 03:10] PiotrSikora commented on #5355
FYI, @mattklein123, it seems that I might have been a bit too optimistic when I said "[late Q1](https://github.com/envoyproxy/envoy/pull/5344#issuecomment-448399340)". At this point, it looks that we won't start working on this before FDS is ready (partially to avoid rewriting this logic twice in a short period of time, but mostly because everybody is already committed to other work this quarter).

[2019-01-15 06:09] lizan opened #5603 "access log: log TLS related errors for HTTP"
*Description*:

While upstream TLS is configured, HTTP access log is not aware of any of them. [Access log response code](https://www.envoyproxy.io/docs/envoy/latest/configuration/access_log) UF, UR, UC are potential code for TLS errors such as peer certificate expired, not trusted, protocol or cipher mismatch handshake timeout etc. It would be nice if we could do for downstream too but we don't h

[2019-01-15 06:45] mmshaikh88 opened #5605 "Using envoy proxy latest image as sidecar give error upstream connect error or disconnect/reset before headers"
Getting error as: upstream connect error or disconnect/reset before headers

When trying to connect the envoy proxy which is able to connect to the application running on Kubernetes cluster.

My configurations are as follows:
-----------------------------------------------------------------------------------------------------
tracing:
  http:
    name: envoy.zipkin
    config:
      collector_clus

[2019-01-15 06:46] mmshaikh88 commented on #5605
See deployment yaml file:

apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: servicea
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: servicea
    spec:
      containers:
      - name: servicea
        image: 10.145.70.78/iom/service_a:latest
        ports:
        - containerPort: 8081
          name: svc-port
          protocol: TCP
      - name: envoy

[2019-01-15 06:53] taiki45 commented on #4526
Oops, I'd like to comment the design proposal in a few days.

[2019-01-15 08:32] cclauss commented on #4552
Todos:
* [ ] Remove Python 3 syntax errors and undefined names (#5599)
* [ ] Modify __.circleci/config.yml__ to start testing in Python 3 in allow_failures mode
* [ ] Ensure requirements are at versions that support both Python 2 and Python 3
* [ ] Test, test, test
* [ ] Remove allow_failures mode from CircleCI
* [ ] Modify README.md, Docs, etc. where required.

[2019-01-15 12:02] rvansa commented on #5594
@mattklein123 Thanks for the response, I forgot to link the tcpdump recording (filtered): https://www.dropbox.com/s/d1xnw6ts7xrm864/close503.pcap?dl=0

You can see that when the client gracefully closes the connection (FIN packet), it waits for the server response until server replies with FIN, too. Only after that the connection is terminated with RST.

[2019-01-15 13:06] akonradi opened #5607 "Migrate off of deprecated googletest names"
The [googletest](https://github.com/google/googletest) project is changing some of the names used for macros; `INSTANTIATE_TEST_CASE_P` is becoming `INSTANTIATE_TEST_SUITE_P`, for instance. This name change is already [present in the master branch](https://github.com/google/googletest/blob/eb9225ce361affe561592e0912320b9db84985d0/googletest/include/gtest/gtest-param-test.h#L583) but Envoy is still

[2019-01-15 14:46] alyssawilk commented on #5595
I assume from port 80 these are all http but given the codec is auto, if either is H2 you need to explicitly set `allow_connect in http2_protocol_options.

I don't think there's many websocket failure paths which return 50x though - upgrade failures should be 403, and show up in stats as rejected upgrades.    I think I'd need to see header traces to do better here, sorry :-/

[2019-01-15 17:22] mattklein123 commented on #4526
@taiki45 given the work that AWS is doing to have direct AWS signature integration, do you think this is still necessary (https://github.com/envoyproxy/envoy/pull/5580)? cc @lavignes

[2019-01-15 17:24] mattklein123 commented on #5607
@akonradi this seems fine. In exchange is there any way you can get them to fix https://github.com/google/googletest/pull/1833? This PR was closed, but we are also hitting this same issue in our clang-tidy runs.

[2019-01-15 17:58] #5585 closed

[2019-01-15 18:01] mattklein123 commented on #4540
@PiotrSikora I don't think anyone is saying we shouldn't implement filter chain draining. All we are saying is that it's extra complexity that is orthogonal to the main implementation. I would suggest we track as a separate issue once the primary feature is implemented.

[2019-01-15 18:02] billybanfield commented on #5555
This does reproduce for me with the go-control-plane with only 1 cluster. Was easier to setup in a larger environment at the time. Here is output from a run with just 1 cluster.

IPs redacted.
[clusters.txt](https://github.com/envoyproxy/envoy/files/2760851/clusters.txt)
[clusters_after.txt](https://github.com/envoyproxy/envoy/files/2760852/clusters_after.txt)
[logs.txt](https://github.com/envoypr

[2019-01-15 18:03] rishabhkumar296 commented on #2205
Hi, I would like to work on this issue.

[2019-01-15 18:06] mattklein123 commented on #5555
cc @junr03 who might have some ideas re: go control plane if that is somehow related.

[2019-01-15 18:31] maximebedard opened #5609 "Redis prefixed routing"
*Title*: *Redis prefixed routing*

*Description*:
Hi friends, we'd be interested in adding prefix based routing to the redis proxy filter, but wanted to pitch the idea upstream to see the likelyhood of this feature beeing approved and get initial feedback before I jump into the implementation itself. Still very new to envoy, bare with me 😄

At Shopify we have multiple small pools of redises that w

[2019-01-15 18:48] ivitjuk commented on #5174
@mattklein123  I had a look at the route management code and I see what you meant when you said option (1) with accepting and holding RDS until CDS becomes warm would not be simple. It would involve either weaving `ConnectionManager` instance through the `RouteMatcher`, `VirtualHost*` and `RouteEntry*` so they can check CDS warmth status, or changing the routing architecture to accept CDS warmth n

[2019-01-15 19:30] caniszczyk opened #5610 "Creating an Envoy Certification Program"
There is a rising number of products that are offering "Envoy" as a service or some product offering based on Envoy. We should discuss whether it's time for a certification program so these products can use the mark and ensure Envoy isn't being forked or abused in anyway.

[2019-01-15 20:22] mattklein123 commented on #5609
This sounds reasonable to me. @danielhochman any thoughts?

[2019-01-15 20:52] danielhochman commented on #5609
Yes, sounds like a great addition. Any feature that gives us parity with other widely used proxies is acceptable to me.

The only aspect that I'm not clear on is how multiple key operations will work, and it has the potential to complicate implementation. Will the design allow for an MGET across keys that map to different clusters?

[2019-01-15 21:14] maximebedard commented on #5609
Based on my very limited understanding of the code, I think the CommandSplitter breaks a MGET in many GET. The idea would be to figure out the upstream after the command is splitted, will would allow x-cluster communication, but I'm not 100% sure if that's how it works right now.

I will try to do a prototype in the following days to see how this actually works, but I'm glad to know that it would

[2019-01-15 22:15] mmshaikh88 opened #5612 "Envoy trace from second microservice is not reported to Jaeger"
I am using two microservices: servicea and serviceb deployed along with envoy as sidecar without any instrumentation

servicea also make the http request to serviceb.

If I call the serviceb through envoy proxy directly I see that trace is reported to Jaeger. But when I call the servicea which also make call to serviceb, the trace for servicea shows up in Jaeger but serviceb trace do not appear in

[2019-01-15 22:17] mmshaikh88 commented on #5612
For serviceb, the envoy config is as follows:
tracing:
  http:
    name: envoy.zipkin
    config:
      collector_cluster: zipkin
      collector_endpoint: "/api/v1/spans"
admin:
  access_log_path: "/tmp/admin_access.log"
  address:
    socket_address:
      address: "127.0.0.1"
      port_value: 9901
static_resources:
  listeners:

    -
      name: "service-b-svc-http-listener"
      address:

[2019-01-15 22:19] mmshaikh88 commented on #5605
I think this issue can be closed, because it is fixed once I have changed the following line as:
FROM:
`req, err := http.NewRequest("GET", "http://service_a_envoy:8788/", nil)
`
TO:
`req, err := http.NewRequest("GET", "http://localhost:8788/", nil)`

[2019-01-15 22:19] #5605 closed

[2019-01-15 22:44] mmshaikh88 commented on #5612
My deployment do not have any front proxy, I am only using envoy as sidecar proxy for each microservice. I want to send the trace of each microservice without any span correlation with next microservice. It is like each service is sending it's trace to zipkin/jaeger.