[2020-01-25 03:34] toddmgreer opened #9835 "CacheFilter: Handle backpressure from downstream"
CacheFilter (#7198) doesn't yet handle backpressure from downstream, and could thus overflow downstream buffers when serving from cache. This must be addressed before CacheFilter will be suitable for production use.

[2020-01-25 14:34] lizan commented on #9769
The issue of `v2`/`v3` without `alpha` package is you can't tell whether that's a stabilized config from Any or TypedStruct, which makes hard to debug config.

[2020-01-26 00:51] #9370 closed

[2020-01-26 04:58] #9105 closed

[2020-01-26 05:58] #9213 closed

[2020-01-26 18:07] sunit-saavn commented on #9789
@snowp I'm not sure whom to tag here but I haven't been able to get any pointers from the envoy-users group either. I have been stuck at this for quite some time and any help or direction would be really helpful.

[2020-01-26 18:43] mattklein123 commented on #9789
cc @HenryYYang @FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg

[2020-01-26 19:01] mattklein123 commented on #9797
cc @alyssawilk @PiotrSikora

[2020-01-26 19:03] mattklein123 commented on #9794
As long as you can match on hostname/IP I think you can do this with filter chains? cc @lambdai @PiotrSikora

[2020-01-26 19:03] mattklein123 commented on #9796
cc @lizan

[2020-01-26 19:04] mattklein123 commented on #9809
+1 this would be a nice feature and has definitely come up before.

[2020-01-26 19:05] mattklein123 commented on #9815
@dio

[2020-01-26 19:08] mattklein123 commented on #9831
IIRC HTTP/1.1 trailers require chunk encoding, and the existence of content-length means that chunk encoding does not happen. Therefore I'm not sure how the encoder could know that trailers might be coming? It seems like stripping content-length in a filter is the right thing to do? Do you have other ideas of how this could be handled generically?

[2020-01-26 19:09] mattklein123 commented on #9107
Neat! I think the next step here is to find a sponsor for your filter which I'm guessing will be @dio? If so, @dio can work with you on a plan to start the upstreaming process.

[2020-01-26 19:29] mattklein123 commented on #9622
Fixed

[2020-01-26 19:29] #9622 closed

[2020-01-26 19:59] sunit-saavn commented on #9789
An update:
After making changes to the box running the proxy and the load test based on this SO answer (https://stackoverflow.com/a/3923785/4019614), in addition to this I increased the open file descriptor limits to 100000 for both, I seem to get better performance. I also have removed the ping command from the benchmark test.
**Comparison of results :**
[code]
**The same benchmark on the redis c

[2020-01-26 20:48] lizan commented on #9772
I don't have any idea why `std::endl` can cause SIGSEGV, it could be the toolchain issue though. What's the output of `readelf -p .comment <path_to_envoy>` of your envoy? @keyolk

[2020-01-26 20:58] #9363 closed

[2020-01-26 23:16] PiotrSikora commented on #9794
Yes, you could use multiple filter chains to do that, but the cost of matching to a particular certificate is negligible (it's just a quick comparison of hashes), so unless you need/want to segregate traffic from those external systems for some reason (it doesn't sound like you do), the best and easiest solution would be to simply provide `trusted_ca` that contains all the trusted CA certificates

[2020-01-26 23:34] lizan commented on #9796
@catper You should use STRICT_DNS instead of LOGICAL_DNS when having IP address as endpoints.

What do you expect the grpc-status-details-bin to be converted to? Did you include the error message (including them might be in Any) in the descriptor?

[2020-01-26 23:42] PiotrSikora commented on #7873
Fixed in #9315.

[2020-01-26 23:42] #7873 closed

[2020-01-27 01:58] #9420 closed

[2020-01-27 04:20] #9381 closed

[2020-01-27 05:20] #8055 closed

[2020-01-27 06:20] #7630 closed

[2020-01-27 07:20] #6897 closed

[2020-01-27 08:20] #9386 closed

[2020-01-27 08:44] catper commented on #9796
Thanks for getting back to me!

The application behaves the same way with strict dns as with logical dns so that unforntunately doesn't help.

The descriptor does contain the error message (unless I've completely misunderstood how that works).

Perhaps I misunderstand how the status-details should look but if I "manually" decode the string returned as status details I see that it contains the foll

[2020-01-27 10:39] catper commented on #9796
@lizan So with more extensive logging I can see that no, the status details apparently don't look as expected so I will look into that. That said, I wonder about this:

https://github.com/envoyproxy/envoy/blob/5248a4fb7d4c2a3d1fa151f944d3a63f6b7a06cf/source/extensions/filters/http/grpc_json_transcoder/json_transcoder_filter.cc#L598

From my POV it would make sense to not return false here but rath

[2020-01-27 11:56] nezdolik commented on #9800
One more observation, 1 Envoy instance kept showing same `cluster_manager.cds.version` even with new XDS updates.
Unfortunately,  Envoy fleet was restarted with new rollout and issue got fixed. Will have to close this ticket as state for troubleshooting got lost. If this behaviour occurs again, will report it.

[2020-01-27 11:56] #9800 closed

[2020-01-27 12:56] sribalakumar commented on #6448
@zplinuxlover Any luck on this ? Will help if there is any example configuration.

[2020-01-27 14:03] rsmck commented on #9815
This can probably be closed - @snowp on slack resolved it for me on Friday night. `append: false` needs to be set under `request_headers_to_add` then it works as expected.

[2020-01-27 14:38] alyssawilk commented on #9821
I took a look earlier at this (when I was doing rc details) and was concerned about corner cases, but I think @htuch and company are planning some codec refactors over Q1/Q2 which would radically simplify the odds of corner cases and make this much more tenable.

[2020-01-27 16:41] alyssawilk commented on #9797
Yeah, looks like a bug to me.  We correctly perform connection close or not based on request headers, but don't do the inverted "send keep alive if there's no explicit close" we ought to.

[2020-01-27 16:57] kylebevans commented on #1031
I saw from other issues that it looks like upstream network filters are finished now.  Is there active work on an upstream network filter for the proxy protocol?  No pressure or anything; I'm just curious.

[2020-01-27 16:57] #9815 closed

[2020-01-27 17:00] mattklein123 commented on #1031
I don't think anyone is working on this. Help wanted!

[2020-01-27 17:06] daninthewoods opened #9838 "Pass Rate-Limit headers on response even when not Over Limit"
*Description*:

[optional *Relevant Links*:]

[https://developer.twitter.com/en/docs/basics/rate-limiting](url)

[2020-01-27 17:08] daninthewoods commented on #1178
Please deliver this as soon as possible.  We're wanting to move from haproxy to envoy for many reasons, but lack of custom error pages (even if not different per content type) is preventing us from moving forward.

[2020-01-27 17:49] jaegchoi commented on #9823
@alyssawilk Do you know what the configuration might look like when it's just one enum value that is deprecated?
I've tried this along with other variations involving the actual enum (HTTP_JSON_V1) but none seem to work:

[code]

The error I'm getting is this:

[2020-01-27 17:50] #8993 closed

[2020-01-27 17:54] ggreenway commented on #1031
@wez470 Was asking about this recently on slack: https://envoyproxy.slack.com/archives/C78HA81DH/p1578696402042700?thread_ts=1578696402.042700. Not sure what the status of that work is though.

[2020-01-27 17:55] alyssawilk commented on #9823
Ah, I think it's less that you have a single value and more that you're using an enum

for enum you need to override the value.

see test/common/protobuf/utility_test.cc -> DeprecatedFieldsTest.FatalEnum which is basiocally
envoy.deprecated_features:envoy.test.deprecation_test.Base.DEPRECATED_FATAL

so I'd think you'd want
envoy.deprecated_features:envoy.config.trace.v2.ZipkinConfig.collector_endp

[2020-01-27 17:58] Chuongv commented on #9831
Yea I think you are right. It doesn't make sense to have trailers if it's not chunk encoding. I'm leaning towards of just stripping the content-length at this moment.

[2020-01-27 17:58] #9831 closed

[2020-01-27 18:14] jaegchoi commented on #9823
I've just tried the following but no dice:

[2020-01-27 18:18] wez470 commented on #1031
I've been looking into it and would like to take up this work. I was actually just about to post more questions about it in slack. I'll link the discussion here after it happens or at least add a summary.

[2020-01-27 18:21] kylebevans commented on #1031
If it helps, here is a link to the pull request that adds support for upstream network filters: https://github.com/envoyproxy/envoy/commit/0f892c2385e7051d325d22b3f603cc60facedd6e

And here is a link directly to the "polite filter" integration test added by that commit, which may help as an example of how to create an upstream network filter: https://github.com/envoyproxy/envoy/blob/master/test/in

[2020-01-27 18:32] #8845 closed

[2020-01-27 18:40] alyssawilk commented on #9823
Ah, my bad, it looks like it doesn't use the enum field

if I add
tracing:
  http:
    name: envoy.zipkin
    config:
      collector_cluster: jaeger
      collector_endpoint_version: HTTP_JSON_V1

I get immediate failure.  If I add a runtime

layered_runtime:
  layers:
  - name: static_layer
    static_layer:
      envoy.deprecated_features:envoy.config.trace.v2.ZipkinConfig.HTTP_JSON_V1: true
I

[2020-01-27 19:08] zimmertr commented on #1178
This would be relevant for my team as well. Thanks for the work on Envoy everyone!

[2020-01-27 19:19] jaegchoi commented on #9823
That worked! Thanks for the help and the quick responses

[2020-01-27 19:57] junr03 opened #9840 "format: add checks for type aliases"
*Description*:
Envoy has several conventions around type aliases defined in STYLE.md. Right now these conventions are checked by reviewers. It would be really useful to have the conventions checked in the format CI run.

This could be done with regexes in the check_format.py script, or optimally by extending clang-tidy.

[2020-01-27 20:10] rfaulk opened #9842 "Create a machine-consumable lists for deprecated fields"
When minor API versions deprecate fields or mark them fatal-by-default, config needs to be updated (or overidden in the Runtime). Newly deprecated and newly fatal fields can be difficult to reliably detect.

As suggested by @htuch, could we add a protoc plugin to produce machine-consumable lists for deprecated and fatal fields to make things easier?

[2020-01-27 21:23] stevenzzzz commented on #9842
/cc @stevenzzzz

[2020-01-27 21:49] mattklein123 commented on #9842
This sounds useful, but just so I understand, what is the output here going to be exactly? A YAML file with a proto schema? Something else?

[2020-01-27 21:55] mattklein123 commented on #9838
I think it would be fine to have an option here that does this.

[2020-01-27 21:56] lizan commented on #9796
@catper the strict_dns or logical_dns doesn't affect how transcoding works, that's the reply to:

[2020-01-27 21:59] lizan commented on #9796
That's what I'm asking in previous comment, does your protobuf descriptor contains `google.rpc.BadRequest` in it? If you don't then the `status-bin` cannot be transcoded.

There's nothing can be converted when you see a protobuf binary while you don't have descriptor . You can see useful information from log in the because that's how protobuf encodes binary, but that can't be converted to JSON, so

[2020-01-27 22:27] #9603 closed

[2020-01-27 22:28] ryanmcnamara commented on #9369
Hi @auni53, interested in the new issue

[2020-01-27 22:29] #9827 closed

[2020-01-27 22:29] #8841 closed

[2020-01-27 23:40] dio commented on #9107
@mattklein123 yes I'll sponsor this. I'll work with @fabriziomello to make it happen. However, I think we need to have a cleaned up design doc to make sure we have reference (it probably can be just transferring this issue into a proper doc though).

[2020-01-27 23:45] PiotrSikora commented on #9023
@yangminzhu don't we need this fixed for Istio 1.5?

[2020-01-27 23:54] dio commented on #9396
@klarose yes, we can try to test on when gRPC connection happens too. If that doesn't trigger retry then it is a bug.

[2020-01-28 00:07] dio commented on #9776
@qbrent I think you need to use ":" (colon) instead of "." (dot). The colon is for implementing methods that pass self as the first parameter. So `x:bar(3, 4)` should be the same as `x.bar(x, 3, 4)`.

[code]

Seems like the doc is a bit misleading, do you want to help to fix the doc? 🙂

[2020-01-28 00:15] dio commented on #9822
Seems like bytes and string are the same in the wire, but I'm not sure. @mattklein123 are you suggesting on introducing a new field instead?

[2020-01-28 00:18] mattklein123 commented on #9822
Yes we need to replace `string` with `bytes` and deprecate the `string` field.

[2020-01-28 00:18] mattklein123 commented on #9822
(Or we need to base64 encode into the string field which seems not great perf-wise)

[2020-01-28 00:53] mattklein123 opened #9846 "http: require stream_error_on_invalid_http_messaging to be set for every HCM"
As documented in https://www.envoyproxy.io/docs/envoy/latest/configuration/best_practices/level_two, @alyssawilk and I have discussed forcing the user to specify an HCM configuration option that specifies how to handle stream errors, thus guiding users into selecting the correct option for their use case. I think the best way of doing this is:
1) Add a new option to configure this setting using a

[2020-01-28 03:03] steeling commented on #9794
can we match on client IP or hostname?

All of the traffic will come to a single hostname. At the moment we don't have any influence on enforcing a specific CA to use, so we first request their CA cert with us, and we add it to a list we will verify against

[2020-01-28 03:17] PiotrSikora commented on #9794
Yes, you can match on the client (source) IP address or subnet.

You cannot match on the client's hostname.

[2020-01-28 04:07] yangminzhu commented on #9023
A bit more background on this, we had a more detailed discussion in a private email right after this issue was filed. Note that the check is actually added to onData() intentionally because the x509 certificate is not available in onNewConnection(). (we followed the same pattern in other filter). In other words, we cannot fix just by moving the check to onNewConnection() because it will then alway

[2020-01-28 04:14] darkstone-delivery commented on #2545
@mattklein123 when will this feature be ready? please provide update

[2020-01-28 04:21] darkstone-delivery commented on #9656
@louiscryan can you provide implementation for mssql and mqtt? thank you

[2020-01-28 05:48] mattklein123 commented on #2545
It will be ready when you implement it.

[2020-01-28 05:54] Vinutha-Garimella opened #9847 "gzip filter and per_connection_buffer_limit_bytes not supported in envoy version 1.12.2"
*Title*: *gzip filter and per_connection_buffer_limit_bytes*

*Description*:
I installed envoy version 1.12.2 and validated my envoy.yaml file, I keep getting these errors while validating envoy.yaml file.
Error: Protobuf message (type envoy.config.bootstrap.v2.Bootstrap reason INVALID_ARGUMENT:(route_config.virtual_hosts[1]) gzip: Cannot find field.) has unknown fields

**Bug Template**

*Title*:

[2020-01-28 06:24] catper commented on #9796
@lizan

and that was a response in turn; changing to strict dns doesn't solve the failed routing problem.

i don't think we're going to get any further here though so i'm going to close this. thanks for your feedback!

[2020-01-28 06:24] #9796 closed

[2020-01-28 14:45] sunit-saavn commented on #9789
Another question , is circuit breaking not supported for redis cluster mode?
@mattklein123 can anyone help with these question ?

[2020-01-28 15:15] markdroth commented on #9656
This seems related to the following discussion in the current UDPA routing draft:

https://github.com/cncf/udpa/pull/4#discussion_r358507984

I think that if we were to decouple config-selection from request routing, we could move all routing into the LB policy hierarchy and make it completely extensible.  It seems like that would make it easier to write plugins that would support these custom pro

[2020-01-28 15:49] tsaarni commented on #9359
@htuch I'm very grateful for all your guidance so far! I understand this takes time and effort.

I've prepared some more material with few alternative proposals.  This is about the problem with inotify watches I'm currently blocked with.  I'm sorry that this inevitably seems to get really complicated and long discussion.

### Visualization of inotify events during secret update

Initial state: dur

[2020-01-28 16:04] daninthewoods commented on #9838
I think I submitted this too soon.  I now see that when/if the RLS is consulted, then headers are returned for both OK and OVER_LIMIT.  Sorry for raising this unnecessarily, what confused me is that sometimes my RLS seems to take too long to respond in which case Envoy continues (failure_mode_deny=false) regardless and so no headers are added.

[2020-01-28 16:04] #9838 closed

[2020-01-28 16:25] yanavlasov commented on #9847
@Vinutha-Garimella thanks for posting the issue. Could you post the config .yaml file you use, please? It is hard to figure out the formatting and indentation from the original post. You can place between use the
` ```YAML `
`<Your config content> `
` ``` `
to make it formatted correctly.

From what I see though it looks like a syntax error your config. The [VirtualHost](https://www.envoyproxy.io/

[2020-01-28 16:46] pol-leleux opened #9848 "prometheus envoy_cluster_membership_healthy always 0 for aggregated cluster"

[2020-01-28 16:47] mattklein123 commented on #9656
For me personally I would need to see a more fleshed out sketch of a proposal before having a real comment. I think we need to balance usability vs. extensability from an API perspective.

In general I'm interested in helping to tackle this issue and can commit some time to sketching something out during Q1 (or working with whoever wants to do this).

[2020-01-28 16:48] mattklein123 commented on #9023
Yes I think we should just fix this in OSS. I agree the fix is not simple and will take some time to get right. I'm happy to work with whoever is going to fix this to provide design help.

[2020-01-28 16:49] mattklein123 commented on #9794
Just to clarify, "hostname" is an L7/HTTP concept. You can match on SNI.

[2020-01-28 16:49] pol-leleux opened #9849 "Jaeger Native Tracing broken with envoy proxy 1.13.0"
Jaeger Native Tracing doesn't seem to work anymore with the latest 1.13.0 envoy proxy version. The container keeps crashing.

Please see the logs below :

[2020-01-28 15:45:28.139][30][critical][backtrace] [bazel-out/k8-opt/bin/source/server/_virtual_includes/backtrace_lib/server/backtrace.h:83] **Caught Segmentation fault, suspect faulting address 0x30,**
[2020-01-28 15:45:28.139][30][critical][b

[2020-01-28 17:00] PiotrSikora commented on #9794
He means client's hostname (reverse DNS of client's IP address), not SNI / `Host` / `:authority`.

[2020-01-28 17:36] rfaulk commented on #9842
Yeah, I was envisioning something like that:

[code]

@htuch is that what you were going for?

[2020-01-28 17:37] mattklein123 commented on #9842
+1 that makes sense to me and I agree would be super useful.

[2020-01-28 18:51] mattklein123 opened #9853 "ClusterRefreshManagerTest.Basic test flake"
[code]

[2020-01-28 18:51] mattklein123 commented on #9853
@HenryYYang @FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg PTAL

[2020-01-28 18:52] mattklein123 commented on #9853
Oops dup of https://github.com/envoyproxy/envoy/issues/9583

[2020-01-28 18:52] #9853 closed

[2020-01-28 18:52] mattklein123 commented on #9583
@FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg @HenryYYang can you take a look at this? Are you trying to repro with `--runs_per_test=1000`?

[2020-01-28 19:03] FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg commented on #9583
My LinuxVM was out of date when I tried reproing last week and wouldn't run tsan (but could do regular tests). I'll see if I can get it running today.

[2020-01-28 19:20] drao9 opened #9854 "Compile error with //test/common/stats:recent_lookups_speed_test"
*Title*: *Compile error with  //test/common/stats:recent_lookups_speed_test*

*Description*:
I am trying to compile the tests for v1.13.0 on Ubuntu 16.04.6 using the docker image provided for v1.13.0. It stops running on the tests because it fails to link some libraries. The build works but the test fails.

Other tests that I noticed that fail with the same error:
`//test/common/buffer:buffer_spee

[2020-01-28 19:26] lizan commented on #9507
Sorry I missed this bug during vacation and thanks for the very detailed bug report!

Looked at your PCAP, seems this is resulting from bad request, your protobuf definition has `body: "name"` so the expected POST body should be the value of "name", but not whole JSON `{"name":"world"}`. If you change it to `body: "*"`, it should work as expected.

Though I agree this could be more obvious error f

[2020-01-28 19:30] lizan commented on #9849
This is due to the standard C++ library change, assuming you're using official docker image of Envoy and pre-built Jaeger OpenTracing binary.

See https://groups.google.com/forum/#!topic/envoy-announce/GvoxIMSpt8A

[2020-01-28 19:56] toddmgreer opened #9855 "CacheFilter: Parse and handle precondition request headers"
CacheFilter (#7198) must fully parse and handle precondition request headers [(RFC7232):](https://httpwg.org/specs/rfc7232.html) if-match, if-none-match, if-modified-since, if-unmodified-since, and if-range.

This must be fixed before CacheFilter can be appropriate for production deployment.

We currently ignore these headers, which is incorrect, and will result in serving wrong content from cache

[2020-01-28 20:00] dfjones opened #9856 "Envoy and control-plane xDS over ADS protocol deadlock when filtering stats"
*Description*:
When using a `stats_matcher` `inclusion_list`, Envoy using the ADS variant of the xDS protocol will fail to receive cluster updates from the [control-plane](https://github.com/envoyproxy/go-control-plane).
After receiving an initial Cluster list, Envoy will no longer receive cluster updates.
When paired with envoyproxy/go-control-plane in ADS mode, this can cause EDS updates to stal

[2020-01-28 20:21] toddmgreer opened #9857 "CacheFilter: Refuse to cache requests with authorization headers"
CacheFilter (#7198) must bypass cache for requests with authorization headers. This must be fixed before CacheFilter can be appropriate for production deployment.

[(RFC7234§3)](https://httpwg.org/specs/rfc7234.html#response.cacheability) does permit caching responses to such requests when the response includes a cache-control header. However, this is not worth implementing unless someone expresse

[2020-01-28 20:37] toddmgreer opened #9859 "CacheFilter: Correctly calculate cached response age"
CacheFilter doesn't fully implement the algorithms specified in [RFC7234§4.2](https://httpwg.org/specs/rfc7234.html#expiration.model) to calculate freshness lifetime and age, based on the date, age, and expires response headers, the max-age and s-maxage response cache directives, and the max-age request cache directives. The RFC-specified freshness and age algorithms must be fully implemented. Thi

[2020-01-28 20:40] toddmgreer opened #9860 "CacheFilter: Make SimpleHttpCache a production-ready in-memory cache"
SimpleHttpCache is a minimal proof-of-concept HttpCache implementation that pays no attention to memory usage, and doesn't ever delete entries. It should be built into a production-ready in-process in-memory cache.

[2020-01-28 20:57] #9414 closed

[2020-01-29 02:02] jimini-lumox opened #9867 "SSL Connection: combine SSL_set_ex_data and SSL_set_app_data"
*Title*: *Combine SSL Connection's SSL_set_ex_data and SSL_set_app_data*

*Description*:
PR #9172 introduces additional SSL_set_ex_data to be able to update SslExtendedSocketInfo during SSL validation.
This issue is to refactor the new SSL_set_ex_data and existing SSL_set_app_data to combine to a single SSL_set_app_data.

Currently:
SSL_set_app_data: The ContextImpl's `const Network::TransportSock

[2020-01-29 02:11] steeling commented on #9794
Thanks all, that helps!

[2020-01-29 02:11] #9794 closed

[2020-01-29 02:11] lizan commented on #9867
/assign jimini-lumox

[2020-01-29 05:35] Vinutha-Garimella commented on #9847
@yanavlasov  here is my envoy.yaml file, I have configured `gzip and per_connection_buffer_limit_bytes` under the indentation of cors
[code]

[2020-01-29 12:03] ChristosKa commented on #9416
Hi,

I've also seen this problem on envoy v11. Is there any suggestion on how to overcome this?

[2020-01-29 12:27] bobvanderlinden commented on #3538
Same here. Such an API would be highly appreciated. @venilnoronha where can I find your branch?

[2020-01-29 12:32] kindermoumoute commented on #9169
We have the same need here. Such statistics would be highly appreciated.

[2020-01-29 14:48] ShanePadellaro opened #9869 "GRPC-JSON transcoder is ignoring ext_authz filter"
We have successfully configured the GRPC-JSON transcoder filter and transcoding seems to be working. But for some reason transcoded calls (JSON to grpc) is skipping the Ext authz filter.

In short:

GRPC call's hit the external auth service, but Json calls do not and are routed directly to the service.

This is the test config we are using:

[code]

[2020-01-29 17:09] qiwzhang commented on #9869
After trans-coding,  the path is changed to /service_name/method_name.   Your ext_authz only filters paths with prefix "/public"

[2020-01-29 17:57] mattklein123 commented on #9856
From a drive by, this falls into the general category of bugs in which we are using stats for control flow, which we need to stop doing.

[2020-01-29 18:28] drao9 commented on #9854
Ended up using the CI scripts!

[2020-01-29 18:28] #9854 closed

[2020-01-29 19:23] #9768 closed

[2020-01-29 20:20] dfjones commented on #9856
@mattklein123 Do you think until these bugs are resolved a warning in the docs is warranted? This bit us pretty hard in production and then took a lot of investigation before we traced it down to the stats filtering.

[2020-01-29 20:25] mattklein123 commented on #9856
Yes, if you want to do a PR that would be good. Do you know which stat causes the issue here? That would cut down on investigation time for whoever fixes this.

[2020-01-29 20:49] toddmgreer opened #9871 "CacheFilter: Fuzz inputs from downstream, upstream, and cache"
CacheFilter and associated classes (#868) are exposed to untrusted intputs from downstream, upstream, and from cached entries. These inputs should be fuzzed.

[2020-01-29 20:59] toddmgreer opened #9872 "CacheFilter: Cache::Utils methods need more tests"
The tests for Cache::Utils are too thin, and should be enhanced, though some of this may be supplanted by #9833.

[2020-01-29 21:22] PiotrSikora opened #9873 "Host header is incorrectly translated into :authority header in HTTP responses"
Originally reported at https://github.com/istio/istio/issues/20606

*Description*:

Envoy incorrectly translates HTTP/1.x `Host` header into HTTP/2 `:authority` header in HTTP responses (it's supposed to do that only in requests).

*Repro steps*:

Start proxy:
[code]
Start fake upstream:
[code]
Send HTTP/2 request:
[code]
Send fake response in the fake upstream:
[code]
Receive illegal response in

[2020-01-29 21:32] jmarantz opened #9874 "stats: with real symbol tables, correlate stats with dynamic components on hot restart"
Consider a stat "a.b.c" where the "b" component comes from `StatNameDynamicPool`. During hot restart, the stats get serialized to a string, and the fact that the "b" was dynamic is lost, so an all symbolic "a.b.c" will be created in the child, inheriting the parent value. The child may then create its own "a.b.c" with a dynamic "b" that will be held as a distinct `Counter` in memory.

To avoid thi

[2020-01-29 21:32] alyssawilk commented on #9873
Looks legit.
As much as sending a host: header in an HTTP/2 response makes me cringe,  I assume it's allowed by the spec or you wouldn't have filed, which means we should probably fix.

[2020-01-29 21:33] jmarantz commented on #9874
This bug is latent as long as fake symbol tables are used. It becomes real for users employing filters that have dynamic name components (eg redis, dynamo) when they turn on real symbol tables, so obviously we should fix this bug before anyone turns on real symbol tables.

[2020-01-29 21:40] dfjones commented on #9856
Sure thing, I'll see if I can narrow down what stat caused the issue.

[2020-01-29 23:04] dfjones commented on #9856
I've traced it down to something in the `cluster.*` stats. However, I haven't yet figured out what particular stat under `cluster` is necessary. `cluster.*.version` seemed like an obvious guess, but if this is the only one present the bug persists. Perhaps its a combo?

[2020-01-29 23:05] mattklein123 commented on #9246
Here are some implementation notes since I think @jyotimahapatra once to take a shot at implementing this:

1. Modify `HealthCheckFilter::encodeHeaders` so that `EnvoyImmediateHealthCheckFail` is set for all cases (HC and non-HC) in which the server has been health check failed.
2. Add a new health state enum value to `HEALTH_FLAG_ENUM_VALUES` called something like `EXCLUDE_FROM_LB`.
3. Modify `He

[2020-01-29 23:15] #7403 closed

[2020-01-29 23:15] #9215 closed

[2020-01-29 23:59] HenryYYang commented on #9583
@msukalski do you have some bandwidth to look at this one please?

[2020-01-30 01:09] nmalika5 opened #9876 "Envoy SSL/TLS Performance"
Hi! I'm looking for some insights into Envoy performance when it comes to having thousands of TLS certificates (5-10K, for example) on a single listener. I'm planning on using SDS to dynamically poll that data. Any insight will be helpful!

Thank you

[2020-01-30 09:15] Vinutha-Garimella commented on #9847
@yanavlasov  I understood the error for `per_connection_buffer_limit_bytes: 1024 ` I'll change this configuration, you said that `gzip.filter_enabled` should not be under virtual hosts can you please let me know where to add this filed.

[2020-01-30 10:11] Francois-Royer commented on #9873
I agree that host in response is stupid. But As it's allowed and used by a third service we use that we can't change, we need it to be fixed.

[2020-01-30 13:46] jmarantz commented on #9874
2 other ideas on how to fix this. Listing all 3 here to see them in one place:

1. encode which segments of each name are dynamic and include that in the protobuf
1. during child stat import, create a large string->stat map from the existing stat-store in the child. We are already bloating memory during stat transfer with these maps in the protobuf, so this doesn't shatter any illusion of leanness

[2020-01-30 13:54] jmarantz commented on #9874
a unit-test showing the problem and a partial fix using the first strategy (not working yet) is in https://github.com/jmarantz/envoy/commit/4418a3842c39d7d7d1c94f9aa9b8f0b01677bfa3

[2020-01-30 14:06] brandon-myers-009 opened #9880 "example/zipkin-tracing not collecting tracing data"
__example/zipkin-tracing not collecting tracing data__:
*Not able to see tracing data when running the zipkin tracing example*

*Description*:
When trying to run the zipkin-tracing example I am able to get all the docker containers up a running however when I hit http://localhost:8000/service/1 or service/2 and go to the zipkin frontend running on my localhost and search for all serviceName data I

[2020-01-30 15:45] alyssawilk commented on #9873
Yeah, as lovely as it'd be to fix the internet (and/all folks using it in silly ways) that's a losing battle. :-P

@Francois-Royer or @PiotrSikora I'm unlikely to pick it up this or next week, but could probably land a fix in 2 if you don't get to it earlier.

[2020-01-30 16:39] alyssawilk opened #9881 "responseDataTooLarge bypasses HCM header transformation"
Noticed when fixing #9797 that the new connection close logic won't apply to responseDataTooLarge. Because it calls the encoder directly, it bypasses a bunch of common code with stats and header tweaks and such.

I think I'd prefer to land a fix for this separately as it's going to require some analysis and untangling of filter chain calls vs HCM logic.

[2020-01-30 17:39] mattklein123 commented on #9873
I can probably fix this next week also if needed. LMK if someone else is going to work on it.

[2020-01-30 19:28] #9823 closed

[2020-01-30 19:33] asraa commented on #9871
Hey! Every registered HTTP Filter will be fuzzed by this generic HTTP filter here #9400. It's to-be merged as the protobuf mutator support for `Any` was just recently added. Here are some concrete steps for this AI:
* Add corpus entries and monitor coverage for CacheFilter code in the fuzzer once it's merged
* Add fuzzers for the utility parsing code in `http_cache_utils.h` and `http_cache.h`

Wha

[2020-01-30 19:38] junr03 commented on #4543
[Envoy Mobile](https://github.com/lyft/envoy-mobile) has the same issue in iOS.

Steps to repro:
From an Envoy Mobile clone
1. Build the iOS library: `bazel build --config=ios  //:ios_dist`
2. Turn laptop's wifi off.
3. Run the iOS example app: `bazel run //examples/swift/hello_world:app --config=ios`
4. Envoy will start. DNS resolution will happen but the response will be empty.
5. Turn wifi back

[2020-01-30 21:13] mattklein123 commented on #2927
I think this is fixed/consistent now with the recent conn pool refactor so will close this for now.

[2020-01-30 21:13] #2927 closed

[2020-01-30 21:13] mattklein123 commented on #2941
Fixed with recent connection pool changes.

[2020-01-30 21:13] #2941 closed

[2020-01-30 21:21] mattklein123 commented on #9856
This might be a dup of https://github.com/envoyproxy/envoy/issues/8771

[2020-01-30 21:30] mattklein123 commented on #1451
@alyssawilk might end up working on this during the quarter as she is working on something related, so please ping this issue before starting work if anyone else plans on working on this.

[2020-01-30 21:37] mattklein123 commented on #8771
@wgallagher will take a look at https://github.com/envoyproxy/envoy/issues/8771#issuecomment-556023067 once he finishes the big xDS refactor he is currently working on.

[2020-01-30 21:38] mattklein123 commented on #7915
Assigning this over to @PiotrSikora who is going to convert the in flight proposal into an in repo MD doc which will resolve this issue.

[2020-01-30 21:43] dio commented on #9880
Hum, seems like we need to add [`tracing: {}`](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto.html?highlight=tracing) to HTTP Connection Manager now.

[2020-01-30 21:48] nareddyt commented on #9174
FYI the max program size defaulting to `100` was detrimental for github.com/GoogleCloudPlatform/esp-v2.

We were using GoogleRE2 from RouteMatch in `route.proto` to match [OpenAPI v2 path templates](https://swagger.io/docs/specification/paths-and-operations/). With the current regex logic we have, a customer ran into the max program size in a URL that had just 3 path templates. Our suite of integr

[2020-01-30 21:55] jmarantz commented on #9174
I guess there are two questions @nareddyt

1. when there is an RE failure due to program size, does the error message propagate nicely through the subsystems, enabling the user to bump up the program size if they dare?
1. is the regex really that simple? Maybe it can be rewritten to be more efficient. Disclaimer: I haven't clicked through your links.

[2020-01-30 22:19] dfjones commented on #9856
I took a look and this does appear to be a dup of #8771. In fact, [this comment](https://github.com/envoyproxy/envoy/issues/8771#issuecomment-556023067) tipped me off and I found that I can reproduce the issue by just excluding:

[code]

I've updated my repo to show this: https://github.com/dfjones/envoy-stats-filter-repro/tree/min-stats-repro

[2020-01-30 23:55] nareddyt commented on #9174
For question 2: Here is the path the user was trying to configure, where the terms in `{}` are path templates. (Modified to hide the user's real path):

[code]

ESPv2 substitutes path templates (ex: `{template1}`) with the regex `[^\/]+` so Envoy can match any path templates. It ends up being this regular expression. (`[^\/]+` means any character except `/`):

[code]

This doesn't seem too complex

[2020-01-31 00:09] mattklein123 commented on #9174
If this is causing customer issues I would suggest that we raise the default until we figure out a better way of doing what we want. Or perhaps raising the value but also warning if above a certain value?

[2020-01-31 00:11] #9797 closed

[2020-01-31 00:45] #9880 closed

[2020-01-31 01:23] yanavlasov commented on #9847
You provide filter configuration in the `http_filters` section, like this:
[code]
See [gzip config options](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/gzip/v2/gzip.proto)

[2020-01-31 01:41] dfjones commented on #8771
In #9856 I show that this issue affects Envoy 1.13.0 and can still cause xDS deadlock.

[2020-01-31 02:29] pablosole commented on #9772
@keyolk it has to do with the STDLIB that it is linked against. Set the envvar `ENVOY_STDLIB=libstdc++` in the build stage and it will start working again.

[2020-01-31 04:55] Vinutha-Garimella commented on #9847
Thanks a lot @yanavlasov :-)

[2020-01-31 04:56] #9847 closed

[2020-01-31 05:44] #9219 closed

[2020-01-31 06:37] toddmgreer commented on #9871
Are you thinking it would sit both upstream and downstream of HttpCache to fuzz it from both ends?

[2020-01-31 09:09] #9182 closed

[2020-01-31 09:22] objectiser commented on #9880
@dio @mattklein123 This appears to be a regression - not sure we should update the examples to work around it? Istio 1.5.0.alpha0 (based on envoy 1.13) also appears affected.

[2020-01-31 09:24] junyer commented on #9174
There's nothing wrong with @nareddyt's regular expression, but here's how to reduce the program size:

Firstly, anchor the regular expression with `^`. Any literal string prefix (e.g. `/api/v1/resource1/`) will be detached and so will no longer form part of the automaton, which means that it will take up zero program instructions.

Secondly, set the `encoding` option to Latin-1. Any character clas

[2020-01-31 10:07] rulex123 commented on #9560
Hi! I would like to help out with this.

[2020-01-31 12:24] NeilMadden opened #9889 "Docs: Clarify format of Subject field in X-Forwarded-Client-Cert header"
*Title*: *Clarify format of Subject field in X-Forwarded-Client-Cert header*

*Description*:
The [documentation for the X-Forwarded-Client-Cert header](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/headers#config-http-conn-man-headers-x-forwarded-client-cert) says that the `Subject` field is the subject of the client certificate.

The Subject field in an X.509 certif

[2020-01-31 13:02] jmarantz opened #9890 "quic: test failure on macos: IpVersions/ActiveQuicListenerTest.ProcessBufferedChlos/IPv6"
I saw this in MacOS CI, and assume it's a flake, but logging the relevant fragment of the artifact here.

2020-01-31T05:08:45.9991620Z FAIL: //test/extensions/quic_listeners/quiche:active_quic_listener_test (see /private/var/tmp/_bazel_runner/e73d43ef258ca74732196369a1848545/execroot/envoy/bazel-out/darwin-fastbuild/testlogs/test/extensions/quic_listeners/quiche/active_quic_listener_test/test.log)

[2020-01-31 13:23] jmarantz commented on #9174
Thanks @junyer -- I knew about anchoring. In fact elsewhere in Envoy we exploit the presence of anchoring in a regex pattern to build a map of first-word --> possibly-matching-regexes to greatly accelerate the evaluation of a collection of regexes. It's good to know that the RE2 engine itself also exploits this.

I did not know about setting the encoding option to latin-1. That looks pretty impact

[2020-01-31 14:20] dio commented on #9880
@objectiser gotcha, do you think we should fix it code-wise, i.e. to default on always do request tracing?

[2020-01-31 14:31] yanavlasov commented on #9880
If this was the original behavior, I think we should preserve it. Otherwise it would be a gotcha to a lot customers.

[2020-01-31 14:31] objectiser commented on #9880
@dio Preference would be to remain backwards compatible - but if the change was intentional then it should be listed as breaking change in the 1.13 release note.

[2020-01-31 14:42] yanavlasov commented on #9889
@PiotrSikora do you have any thoughts on this subject?

[2020-01-31 14:44] asraa commented on #9871
I think there are a few options of what fuzzing it could mean (aside from fuzzing utility code):
- Fuzz the cache interface with a series of actions (actions including lookups, insert context, updating headers, etc). This feels relatively low effort because it's self contained. Impact rating, I'll leave that up to you
- Fuzz the CacheFilter at the level of `CacheFilterTest` with a series of decode

[2020-01-31 15:34] bartebor opened #9891 "High memory usage with long HTTP/2 connections (GRPC)"
*Title*: Envoy consumes a lot of memory with long running GRPC connections.

*Description*:
In one of our setups Envoy forwards GRPC traffic to cluster containing four endpoints. Downstream clients open long lasting HTTP/2 connections which transfer GRPC traffic. After each restart Envoy, starting from reasonably low memory usage, consumed ever increasing amount of RAM ending in the order of sever

[2020-01-31 15:47] dio commented on #9880
@objectiser @yanavlasov  Seems like the previous version has the tracing entry inserted:

https://github.com/envoyproxy/envoy/blob/8f2515a19bdcc75bea0bfd7016231a7661d0be6e/examples/zipkin-tracing/front-envoy-zipkin.yaml#L13-L14.

I think it was removed by https://github.com/envoyproxy/envoy/commit/8057eed8aceaecc29a28fe1cc3818b67cba32585#diff-0a4306fc6bec5e6e8010ff79209ebcb9

The `operation_name`

[2020-01-31 16:03] objectiser commented on #9880
@dio Ok so looks like not an issue - as long as users moving aware from the deprecated operation_name understand the implications of removing the tracing node. Thanks for the investigation!

[2020-01-31 17:40] ahachete commented on #9107
Hi @dio As the one who wrote the original design doc (above, as the description of this issue), let me know what would you need. I'd be happy to collaborate on this one, if needed.

Other than that, we're also eager to know about the code, what it would take it to be in shape for potential inclusion in envoy :) So far we have performed limited testing, but the functionality is great --at least for

[2020-01-31 17:51] junyer commented on #9174
`encoding` could be set via a template parameter, I suppose, if some callers could be using UTF-8.

`dot_nl` (AKA `(?s)`) is worth setting when appropriate. Combined with Latin-1 encoding, it means that `.*` ≡ `\C*`, so it short-circuits the match instead of stepping over the rest of the input string. (Under such circumstances, `^prefix.*` becomes a `memcmp(3)` call and a short-circuited match.)

[2020-01-31 18:25] groboclown commented on #4638
I'm seeing the issue without using docker-compose.  A simple execution of `envoy` using the [front-envoy.yaml](https://github.com/envoyproxy/envoy/blob/master/examples/front-proxy/front-envoy.yaml) file generates this error message.

[2020-01-31 19:49] longkai commented on #9507
Thank you for your reply!

Change it to `body: "*"` works fine.

I suppose it would be nice documented clear somewhere for someone new to this fields if the behavior remains.

It works for me, so I close this issue.

[2020-01-31 19:49] #9507 closed

[2020-01-31 19:57] lizan commented on #9507
@longkai It is documented https://github.com/googleapis/googleapis/blob/master/google/api/http.proto#L45 how those annotations are supposed to work.

[2020-01-31 20:25] spenceral commented on #2755
I am interested in picking this up.

[2020-01-31 21:17] junr03 commented on #4543
Did some late night digging yesterday and arrived at an explanation:

When c-ares initializes a channel (trimming irrelevant details):
1. It populates the DNS servers it will use to resolve queries from different places in `ares_init_options`.
2. One of the functions is `init_by_resolv_conf` which has platform specific code.
3. For iOS it falls into `#elif defined(CARES_USE_LIBRESOLV)` which uses

[2020-01-31 21:21] junr03 commented on #4543
By the way, it is worth noting that this would affect any cluster that uses `DnsResolverImpl`, so I am going to update the title to reflect that.

[2020-01-31 23:02] PiotrSikora commented on #9889
It's very likely that the docs are wrong, because the only place I can find the old syntax is in the test mocks. Patches welcome.

Regarding unknown DN attributes, I have no idea, but we're using BoringSSL's `X509_NAME_print_ex(..., XN_FLAG_RFC2253)` for formatting, so it should be deterministic.

[2020-02-01 00:36] mattklein123 commented on #9891
Thanks for the really detailed report. Can you potentially reach out to myself and @lizan on Envoy Slack to discuss this further and debug a bit? (mklein and lizan on Slack). Thank you.

[2020-02-01 01:12] mattklein123 commented on #9873
I forgot how this worked and this is harder to fix than I thought, as the translation is baked directly into the header map code: https://github.com/envoyproxy/envoy/blob/a4722f4eed40093fc0179f2acf572f9f5495a6b1/source/common/http/header_map_impl.cc#L285-L288

I will look at this more next week, but I will probably remove the hard coded map and just do the translation in the codecs depending on wh

[2020-02-01 08:28] longkai commented on #9507
@lizan Thanks for the source. What I learnt from is don't use single [scalar value type](https://developers.google.com/protocol-buffers/docs/proto#scalar) in http post rule.

[2020-02-01 13:34] membphis opened #9904 "help(build): ./ci/do_ci.sh: Permission denied"
when I try to build a dev version, I got this error:

[code]

[2020-02-01 17:46] kylebevans commented on #9904
Try this and then build again:

`mount -o remount,exec /tmp`

The run_envoy_docker.sh creates a build dir in /tmp and I bet CentOS mounts tmp with the noexec flag to disallow executing from /tmp for security reasons.

[2020-02-01 18:39] mattklein123 commented on #8795
In the context of looking at fixing https://github.com/envoyproxy/envoy/issues/9873, it would be easier and more natural if we did have `RequestHeaderMap` and `ResponseHeaderMap` instead of a generic map that covers both directions. This has come up multiple times. I'm going to spend a little time thinking about how we could do this. I think this could be done incrementally and would allow us to b

[2020-02-02 00:46] #9478 closed

[2020-02-02 04:02] kylebevans commented on #4552
An Ubuntu 18.04 system with only python3 threw this error while building:

[code]

Running bazel with the --host_force_python=PY3 worked:
`bazel build //source/exe:envoy-static --host_force_python=PY3`

Another option seems to be to set the python version explicitly in the bazel build rules.

I'm not sure where I'm going with this, but I wouldn't mind sending a PR to update the docs or to try to u

[2020-02-02 05:40] wbpcode opened #9907 "stats_integration_test failed"
When run `bazel test //test/... --config=libc++`,   stats_integration_test failed because some segmentation fault.

Env:
* clang 7 & libc++
* Ubuntu 18.04

Ver:
* 1.12.2

Log:
[code]

[2020-02-02 21:23] #9129 closed

[2020-02-03 01:23] #9389 closed

[2020-02-03 01:27] membphis commented on #9904
It works fine under Ubuntu OS  18.04 :(

It seems I have to change my working OS.

[2020-02-03 01:38] keyolk commented on #9772
@lizan here the elf section
[code]

@pablosole It works : ) Thanks alot!
the env should be set during centos build process

[2020-02-03 07:13] lizan commented on #9772
@keyolk I think you're on older image with clang-8, the latest one should be with clang-9. Note with libstdc++ you're taking risk described [here](https://github.com/envoyproxy/envoy/blob/master/source/common/common/compiler_requirements.h#L14-L17) too.

[2020-02-03 08:42] keyolk commented on #9772
@lizan Thats another point : 0

seems latest tagged image in docker hub not updated yet

[code]

with recent updated tag
[code]

[2020-02-03 09:20] lizan commented on #9772
@keyolk can you try `envoyproxy/envoy-build-centos:b6c2bae5716a289fd68c45a6e5bc16979dbe69c5`? that's the build image tag we build 1.13.0.

[2020-02-03 09:57] NeilMadden commented on #9889
I'll see if I can come up with a PR to improve the docs wording. I'll run some experiments with BoringSSL and see how it translates unknown attributes.

[2020-02-03 16:19] yanavlasov commented on #9907
It looks like you are running into the limit on the number of open file descriptors. Check the `ulimit -n` before running the test. If it something low, like 1024 you may need to make it higher to avoid this problem.

[2020-02-03 16:46] danzh2010 commented on #9890
/assign @bencebeky

[2020-02-03 18:54] kyessenov commented on #2967
There are a couple of San violations in ANTLR 4.7.1 runtime. You might want to carry over the patches here https://github.com/envoyproxy/envoy-wasm/blob/master/bazel/antlr.patch. 4.7.2 also has some issues, but I haven't looked into patching that release.

[2020-02-03 20:25] rshriram opened #9916 "Dynamic forward proxy support for TLS traffic"
Envoy today has support for dynamically resolving the host from the HTTP authority header using the dynamic forward proxy filter (https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/http_proxy). This is very useful when we have to capture and forward arbitrary HTTP traffic under a domain (like `*.google.com`) to an external envoy gateway that in turn forwards to the right destinat

[2020-02-03 23:05] lizan commented on #9916
My rough idea for this would be having an L4 equivalent filter of `dynamic_forward_proxy` in HTTP that does DNS resolving based on SNI, which can leverage the DNS cache and `dynamic_forward_proxy` cluster.

[2020-02-03 23:10] pitiwari opened #9917 "Route Match overhead"
We are trying to study the overhead introduced in envoy when there are multiple routes (say 1000) compared to just 1 route. One of the metrics I am using is the duration (Total duration in milliseconds of the request from the first byte read from the upstream host to the last byte sent downstream.). Duration metric is provided by the envoy.

My assumption is duration includes time taken by envoy t

[2020-02-03 23:16] mattklein123 commented on #9916
Yes ^ exactly. I don't think this would be hard to implement.

[2020-02-04 01:14] sagarkal commented on #2092
We need this feature as well, since we are replacing nginx with envoy..any ETA on this?

[2020-02-04 02:24] keyolk commented on #9772
@lizan looks good to me : )

[code]

[code]

[code]

[2020-02-04 02:41] sriduth commented on #2967
Will do @kyessenov!

[2020-02-04 02:41] sriduth commented on #2967
An update on the benchmarking task - I managed to hack together a benchmark app for the ANTLRv4 parser here: https://github.com/sriduth/sql-parser. Running the benchmark comman as follows: `bin/benchmark --benchmark_repetitions=100 --benchmark_filter=tpc-h-14 --benchmark_counter_tabular=true`

ANTLRv4 is significantly slower:

YACC:

|         benchmark                     |                 time

[2020-02-04 06:44] zyfjeff commented on #9532
@htuch In order to avoid overshooting, let's solve (2) in the short term, In addition, I think we can share the same metadata and manage the lifecycle by reference counting.

- [ ] implement a more efficient in-memory data structure.
- [ ] Metadata objects are shared across clusters and hosts
- [ ] Optimize the empty value for existing metadata

[2020-02-04 10:51] sp-manuel-jurado opened #9922 "Unexpected error on upgrade to v1.13.0."
*Title*: *Unexpected error on upgrade to v1.13.0.*

*Description*:

[code]

I suspect it can be related to "envoy.filters.http.grpc_http1_reverse_bridge" (but I'm not sure).
I need to enable this bridge for the rest of the routes and disable for "/rpc.PingService/" ping service route (`per_filter_config.envoy.filters.http.grpc_http1_reverse_bridge.disabled: true`).
If I remove the `envoy.filters.h

[2020-02-04 15:14] kylebevans commented on #9904
@membphis glad you got it working. Do you want to close the issue?

[2020-02-04 16:46] mattklein123 commented on #9922
Is the excluded route failing? Or the non-excluded routes? That might help us narrow down the introduced bug.

[2020-02-04 17:16] #9708 closed

[2020-02-04 17:52] pranaypratyush commented on #1861
I did. It's been quite some time though. Can't remember the details buildx did not work.

[2020-02-04 18:29] nathanhleung opened #9924 "Sharing CORS config across all virtual_hosts"
# Short Description
I currently specify the same CORS config under each virtual_host. Is it possible to set the CORS config once and share it across all virtual_hosts?

# Extended Description
I'm currently using Envoy to route requests to gRPC services based on the host header.

Here's the relevant part of my config, under `static_resources.listeners[].filter_chains.filters['envoy.http_connection_

[2020-02-04 18:33] klarose commented on #9396
The approach of setting the retry headers for me. However, I had to use an envoy_grpc endpoint, not a google_grpc endpoint.

This actually caused some issues for me, since I'm using istio: the cluster created by istio has `|` in its name. envoy_grpc uses the cluster name as the authority in the http2 portion of the grpc request. The upstream envoy rejects that as invalid. I plan on submitting an i

[2020-02-04 19:04] chrisgoffinet opened #9927 "DNS timeouts cause no healthy upstream"
*Title*: DNS timeouts cause no healthy upstream

[optional *Relevant Links*:]
I have a test case outlined here on how to reproduce this. I have verified this happens on master branch too.

**Bug Template**

*Description*:
In the event that DNS resolver has transient errors (i.e timeout) envoy currently doesn't check the c-ares status of `SUCCESS` before overriding the address_list with an empty ar

[2020-02-04 19:28] #9785 closed

[2020-02-04 19:43] mattklein123 commented on #9927
This has come up before, and agreed we should fix this to hold the previous values. cc @junr03 who is looking at this code right now to fix a similar issue.

[2020-02-04 19:52] thedebugger commented on #9927
Thanks @chrisgoffinet for reporting this. We have run into this multiple times at Credit Karma when traffic to our kubedns instances is unbalanced. I was curious why no one ran into this earlier.

[2020-02-04 22:58] pablosole commented on #9772
@lizan Just built envoy 1.13.0 using the image `envoyproxy/envoy-build-centos:b6c2bae5716a289fd68c45a6e5bc16979dbe69c5` and default stdlib (ie. without setting ENVOY_STDLIB=libsdtdc++) and it dies the same way.

Tried it on multiple docker centos containers (centos:7 which is a 7.1, centos:centos7.5.1804, centos:centos8) they all crash in the same way.

Output of readelf:
[code]

I also did an `st

[2020-02-04 23:41] sgtsquiggs opened #9929 "ext_authz is ignored for paths matching a grpc_json_transcoder filter"
(as of v1.13.0)

Having trouble hiding a grpc_json transcoded server behind ext_authz. With the below config, any valid `guinanpb/Guinan` endpoint skips over ext_authz.

If I rearrange the filters (grpc_json before authz) the authz check occurs, but envoy always returns a 500 error code (my service redirects for SAML auth)

[code]

[2020-02-04 23:43] sgtsquiggs commented on #9929
I found that if I add a third route:
[code]
then everything works properly. Smells like a bug!

[2020-02-05 00:05] mattklein123 commented on #9924
cc @dschaller @derekargueta for comment.

[2020-02-05 01:20] duderino commented on #9891
Not sure if this will help, but we had an issue with one of our larger, friskier deployments where long lived gRPC bi-di connections were oom'ing Envoy.   It specifically happened in cases where the downstreams were sending request data to Envoy faster than upstreams could read it, and vice versa for responses.  When we looked at Envoy's memory usage something like 80-90% was just buffers.

We had

[2020-02-05 01:22] pablosole commented on #9772
@lizan some more debugging about this. I wrote a hello world and compiled it inside the envoy bazel workspace with `-s` to get the building commands and during linking it does something like this:
[code]
There are 2 `-fuse-ld` (one using gold and one using ldd). If I comment the line on `.bazelrc` that forces clang to use ldd (`build:clang --linkopt=-fuse-ld=lld`) the binary works again.

It sound

[2020-02-05 05:28] #9904 closed

[2020-02-05 05:28] membphis commented on #9904
many thx

[2020-02-05 06:44] CalbeeMing0530 commented on #3875
According to your tutorial, there is no problem in building, but the compiled binary file cannot be found. We can learn from the run_envoy_docker.sh that the default binary file storage path is "/tmp/ envoy-docker-build/envoy/". After building successful The folder is not updated. Can you tell me where can I find the binary file?

[2020-02-05 08:51] sp-manuel-jurado commented on #9922
Hi, @mattklein123.

It's **the excluded route failing** (that uses `per_filter_config.envoy.filters.http.grpc_http1_reverse_bridge.disabled: true`).
In this particular case for `/rpc.PingService/`.

For the non-excluded routes works correctly.

[2020-02-05 09:51] membphis opened #9933 "HELP: how to export the function when use bazel build."
For example, I add a new c style function like `envoy_time`, it'll return a UNIX time. Then we can use Lua script to call it and do something.

But I found the Lua script can not find the function `envoy_time` by [FFI](http://luajit.org/ext_ffi_tutorial.html), the function `envoy_time` is hidden by default. I do not know how to make it as `dynamic symbol function`.

[code]

[code]

[2020-02-05 10:18] zhongfox commented on #7484
@aclowkey any lucky? I'm trying to find the same solution...

[2020-02-05 10:26] lukidzi opened #9934 "When Envoy is in warming state and reconnect to new instance of control-plane doesn't send CDS request"
*Title*: *When Envoy is in warming state and reconnect to new instance of control-plane doesn't send CDS request*

*Description*:
So let's assume Envoy is connected to `Control-plane1`. `Control-plane1` receive information about the new cluster`[Cluster1]` and send CDS response to Envoy using ADS. `Control-plane1` dies and at the same time cluster`[Cluster1]` has been removed. Envoy connects to `C

[2020-02-05 12:23] nezdolik commented on #8092
@htuch don't know what is OCD, but could help with the issue :)

[2020-02-05 13:53] jusmaki opened #9937 "Too many Host headers caused via lua headers():add(":a","value")"
*Description*:

The lua filters makes it possible to add headers which are available
only for access logs by adding ':' character to them. However if this
kind of "hidden" header starts with ":a" it is used as ":authority"
and this causes multiple "host" headers to appear with HTTP/1.X
requests. This in turns causes error with at least golang based http server:
"HTTP/1.1 400 Bad Request: too many

[2020-02-05 14:13] aclowkey commented on #7484
I got it to work by sending the header
`x-client-trace-id: 0`

On Wed, 5 Feb 2020 at 12:18, fox <notifications@github.com> wrote:

[2020-02-05 14:43] rulex123 commented on #9568
@mattklein123 Hi! I would like to help out with this

[2020-02-05 17:17] mattklein123 commented on #9568
Thanks @rulex123 that would be great. Please try to do a series of small PRs vs. one giant move. My thinking is to arrange things in categories related to checking/fixing format, generating documentation, debugging, etc.

[2020-02-05 17:20] mattklein123 commented on #9929
cc @dio

[2020-02-05 17:21] mattklein123 commented on #9934
@lizan @wgallagher PTAL, cc @htuch

[2020-02-05 17:25] mattklein123 commented on #9937
You are relying on undocumented behavior which I don't think we are going to change. Can you use dynamic metadata for this? IIRC it can also be logged. cc @dio

[2020-02-05 18:01] nmalika5 opened #9939 "Envoy performance when fetching for large certificate files via SDS"
Hi,

I got a question about any limitation for response size when sending large response from SDS to envoy listener.  Here's my use case: let's say I have an envoy listener that dynamically fetches TLS certs via SDS, which might be sending ~1-3K certs periodically (whenever those are updated) with an approx 40 mb of data, are there any configurations I need to tweak to be able to send this data to

[2020-02-05 18:35] junr03 commented on #9927
Yeah definitely should fix. I have some mixed feelings about how to do so. Do you think we should fix by having the PendingQuery not call its callback_ if the address list is empty _and_ the status code _is not_ success? Or should this be handled on the callback receivers' side, i.e the cluster would not go from N hosts to 0 when the address list it resolves is empty.

This relates to my line of t

[2020-02-05 18:36] junr03 commented on #9927
I can take care of fixing once we decide on approach.

[2020-02-05 18:53] yuval-k opened #9940 "tls: find a generic solution for safely passing objects to worker threads"
When using TLS Slot::set with a callback, it's sometimes useful to add `this` the to the callback when creating the per thread state. For example, from a filter config constructor, one may do:
[code]
This is problematic, as the lifetime of the FilterConfig in the main thread is independent of the lifetime of the callback that runs on the worker threads. And in fact FilterConfig may be destructed b

[2020-02-05 18:58] derekargueta commented on #9924
This would be achievable by moving the CORS to per_filter_config, which could then be configured at the virtual host or route level.

My initial attempt if anyone wants to revive it, my plate is a little full at the moment: https://github.com/envoyproxy/envoy/pull/9324

[2020-02-05 18:59] adisuissa commented on #9593
I've got a couple of questions regarding the way I'm going to change this:
1) The `HeaderString::Type` enum will now include "Reference" and "Inline", and "Dynamic" will be omitted. As this is a public enum, and it might be used somewhere else, should "Dynamic" be kept (and given the same value as "Inline"), or should it be removed now?
Here is the original definition:
https://github.com/envoyprox

[2020-02-05 19:20] markdroth commented on #8093
@htuch @alyssawilk @snowp

We will definitely need this for 1.14.

[2020-02-05 20:05] yuval-k commented on #9929
your problem is this line:
https://github.com/envoyproxy/envoy/blob/4cb10d4be429d0fcb35682a44bcd3a664ff1dbb9/source/extensions/filters/http/ext_authz/ext_authz.cc#L40

because the grpc filter changes the path header and clears the route cache, route selection will be done after the ext auth filter;
so when the ext auth filter is called it will have no route and won't engage.
reversing the order of

[2020-02-05 20:19] mattklein123 commented on #9593
1) Can you search the code and see what it's used for? IMO we should kill it.
2) Definitely not required.

Thank you!

[2020-02-05 20:25] mattklein123 commented on #9927
IMO we should fix the callbacks to indicate that a timeout/error happened and let the caller deal with it, because otherwise we have to start handling retries within the DNS impl code itself, right? WDYT? This is the fix that I had wanted to do for quite some time, and I'm really surprised this has not been raised until now. As an aside, this will almost definitely end up being a long tail issue o

[2020-02-05 20:44] junr03 commented on #9927
Yeah, that is the direction I was leaning in favor of in https://github.com/envoyproxy/envoy/pull/9899#discussion_r375007683. Ok. In that case we can work on landing #9899, and then I can do a subsequent one that exposes status in the ResolveCb, and updates use cases to deal with it.

[2020-02-05 20:47] alyssawilk commented on #8093
Sorry, can you doc up the behavior you are expecting?  I think I am not understanding what you are trying to do here.
Do you just want to serve 500s based on the percent unhealthy rather than moving your traffic to other viable endpoints?   To me, disable_overprovisioning would be setting the overprovisioning factor to 1 (not over provisioning).  Are you trying to disable failover?

[2020-02-05 21:27] jpbelanger-mtl commented on #7583
We just got hit with this during our last upgrade of istio. Where the latest log format had great information about the path but was leaking information in our logs that we didn't want (I know GET shouldn't send any sensitive information, but 3rd party SDK are not always clean). Would have been perfect to be able to keep the path without the query string.

[2020-02-05 21:33] nathanhleung commented on #9924
I'm happy to give it a shot but not exactly sure what's going on. What needs to be done?

[2020-02-05 21:53] sgtsquiggs commented on #9929
If you reverse the order of the filters, it kind-of works. My ext_authz service returns an empty body, a location header, and a 307 status code. When I reverse the order and omit the third route (mentioned [here](https://github.com/envoyproxy/envoy/issues/9929#issuecomment-582170795)), I get the correct location header, a 500 status code, and a non-empty body (grpc error as json)

[2020-02-05 23:21] #7915 closed

[2020-02-05 23:53] yunhan0 opened #9945 "How to add rDS version to Access logging configuration?"
The [envoy.http.rds.version](https://docs.datadoghq.com/integrations/envoy/) is reported as gauge in Datadog. The value is in `integer` which makes it difficult to debug. I wonder is it possible to add rDS version to Access logging configuration? So we can at least have some logs to debug the version. Or whether there’s a setting we can enable to look this information?

[2020-02-06 00:30] #4543 closed

[2020-02-06 01:39] #9297 closed

[2020-02-06 01:41] PiotrSikora commented on #9732
Moving discussion from https://github.com/envoyproxy/envoy/pull/9691#discussion_r375599744:

cc @mattklein123

[2020-02-06 02:40] membphis commented on #9933
I found that we need to add `-rdynamic` when do compiling. But I do not know where to add it when build by `bazel` :( .

Needs your help.

[code]

[2020-02-06 04:21] yxue opened #9946 "conditional retry condition in retry policy"
*Description*:

https://github.com/envoyproxy/envoy/blob/abb1f969fe131c7a47da5c1ad1577be142e1ea8a/api/envoy/config/route/v3/route_components.proto#L884

defines retry policy for HTTP request. It doesn't support configure different retry policies for different HTTP methods. Users might want to retry on connection failure for all methods but 5xx for idempotent methods only. I think the retry policy

[2020-02-06 05:11] mattklein123 commented on #9732
OK thanks for the follow up. Let's just leave it for now and use this issue for later follow up. I think we have bigger fish to fry right now.

[2020-02-06 05:12] mattklein123 commented on #9945
IIRC you can get the current configuration version from the `/config_dump` endpoint. If you can't we should add it.

[2020-02-06 05:13] venilnoronha commented on #3538
@bobvanderlinden it was a local branch with everything hacked up, so I didn't push it.

[2020-02-06 05:13] mattklein123 commented on #9946
At a certain point we probably need to call it quits on adding more and more specific capabilities to the HTTP policy and just make it pluggable. WDYT? cc @snowp

[2020-02-06 05:39] mattklein123 commented on #9922
Yeah this sounds like a regression to me. cc @lizan @kyessenov @derekargueta for thoughts as all have worked in this area recently.

[2020-02-06 05:42] cetanu commented on #8412
Okay so this is weird - we exposed this parameter internally that allowed teams to use ip-tags to 'allowlist' their routes, but with a big warning sign saying "⚠️  Hey this doesn't work yet!"

Anyway, we started rejecting this parameter, and someone chirped up and said "We were using that!"... So I started investigating and I _think_ that it's working for us now.

Here's my theory:

1. request com

[2020-02-06 06:26] darkstone-delivery commented on #2545
@mattklein123 I am not a developer but manager for database team and we don't have the skills to do this
this feature may be very useful for our team to improve our operations because we operate at very large scale
can you please reschedule priorities so this feature gets delievered faster?
thank you

[2020-02-06 07:39] jusmaki commented on #9937
Yes, the dynamic metadata works perfectly for this case. Thanks for the the tip.

[2020-02-06 07:39] #9937 closed

[2020-02-06 14:14] daviderenger commented on #8584
@bernardoVale Still no success with this. Now it doesn't complain about the configuration, but always getting 401 too :/

Will try a bit more and see if I can get it to work. A little more logs would be useful, all I see is "Jwt verification fails" with tokens and keys that work in our application.

[2020-02-06 17:01] #8911 closed

[2020-02-06 17:27] jmarantz opened #9948 "tsan flake in IpVersions/HttpFilterSampleIntegrationTest.Test1/1"
Noticed this in CI for #9938 but I don't believe that PR could have caused this, and ASAN passes for that PR.
[code]

[2020-02-06 17:41] qiwzhang commented on #8584
could you post your JWT and JWKS here,  I can take a look?

Or if you are c++ developer with BAZEL installed.   you can try to clone this [repo](https://github.com/google/jwt_verify_lib/tree/master/src)

change any of verify_xxx_test.cc with your JWT and JWKS and run "bazel test //..." with it

[2020-02-06 17:51] qiwzhang commented on #8584
Have you used [jwt.io](https://jwt.io/) to verify it?

[2020-02-06 19:23] mikeschuld commented on #8325
I am seeing this or a very similar issue using 840364872350.dkr.ecr.us-west-2.amazonaws.com/aws-appmesh-envoy:v1.12.1.0-prod to try and set up AppMesh. Could this have regressed? Not a ton of detail coming out in my ECS logs, here's what I am seeing for reference:
[code]

[2020-02-06 19:24] #9560 closed

[2020-02-06 20:01] lavignes commented on #8325
Hey @mikeschuld. You could turn up your envoy log level to see if you get anything else. i.e. set `ENVOY_LOG_LEVEL=debug` on your containers. I'd suspect that your pods can't reach: `http://169.254.169.254:80` for some reason. KIAM should be setting up a fake credentials endpoint at that address https://github.com/uswitch/kiam#agent

Perhaps its failing to start the agent?

[2020-02-06 21:23] vickilong opened #9950 "Feature request: add support for logging request/response body in gRPC ALS"
We are interested in logging request/response bodies using the http/gRPC access log service. We did look into logging request/response bodies with a Lua filter and it seems possible to do so, but we are looking at other possible ways to do the same thing.

It looks like both `HTTPRequestProperties` and `HTTPResponseProperties` in the `HTTPAccessLogEntry` (https://www.envoyproxy.io/docs/envoy/lates

[2020-02-06 21:41] jasonewang opened #9951 "Config to disable TLS session tickets"
Is there a way to disable TLS session tickets? The Envoy docs and other sources[1][2] mention security considerations and risks for using session tickets, and we don't need session resumption at all so we'd like to not be exposed to any possible risks.

[1] https://www.imperialviolet.org/2013/06/27/botchingpfs.html, also mentioned in the Envoy docs.
[2] https://blog.filippo.io/we-need-to-talk-abou

[2020-02-06 21:54] alyssawilk commented on #1630
Ok, I think I actually have the cycles to make this happen this/next release.

Anyone interested in bike-shedding on config with me?  I've got a WIP pr for the TCP -> HTTP side of this, with a simplistic hacked config and hard-coded upgrade headers.

I assume for TCP->HTTP config we're going to want to configure tunneling protocol (today HTTP/2 only, but maybe HTTP/3 some day?).  I also assume fol

[2020-02-06 22:03] adisuissa commented on #9593
Other than the tests, no access to the Type enum, so I've removed Type::Dynamic.

[2020-02-06 22:07] PiotrSikora commented on #1630
This should use `:protocol: bytestream` when using HTTP/2 `CONNECT`, instead of a custom string (assuming that we don't do anything implementation specific, there).

There is also a question of how this should be exposed in Envoy:
1) if this is exposed/terminated at the HTTP layer, then it can be only matched against HTTP routing rules,
2) if this is exposed/terminated as the transport socket, the

[2020-02-06 22:14] dio commented on #1630
cc. @mdamt

[2020-02-06 22:33] mergeconflict opened #9953 "Eliminate/prevent dependencies on extensions from core"
There are some cases where core Envoy code (or tests) depends on extensions. One example:

[code]

are used by:

[code]

This poses an issue for users like Google, who import only specific whitelisted extensions. We have to disable tests that depend on non-whitelisted extensions. I think we'd like to add some logic to check_format or similar, to catch these dependencies before they're introduced.

[2020-02-07 00:48] jyotimahapatra commented on #9246
@mattklein123 Thanks for the map. I have an initial version of changes. I will put out a PR after testing it locally.

[2020-02-07 01:08] mattklein123 commented on #9953
+1 yes please. If you are going to fix this can you also potentially fix https://github.com/envoyproxy/envoy/issues/6736? It's related in the sense that by default we build and link all extensions into some of the server integration tests. Optimally the core integration tests should depend on only a build with a very limited set of extensions.

[2020-02-07 01:12] rebello95 commented on #4445
We're very interested in adapting the gzip filter's functionality to work with Envoy Mobile (ideally via the generalized compression filter(s) described above) as a way of providing an end-to-end compression/decompression pathway for Envoy. I opened up an issue in that repo with some additional info: https://github.com/lyft/envoy-mobile/issues/664

[2020-02-07 01:13] mattklein123 commented on #9950
Logging the bodies would require buffering, which would be complicated given the architecture of access logging currently. IMO tap is a better fit for this. Can you take a look at that and see if that generally meets your needs? Right now we don't have gRPC output for that but it's something that we want to add. https://www.envoyproxy.io/docs/envoy/latest/operations/traffic_tapping

[2020-02-07 01:35] wbpcode commented on #9934
I had the same problem. The reason is that some STRICT DNS clusters lack endpoints, which makes the cluster unable to enter the process of DNS resolution, thus unable to complete initialization, and always stay in the warming stage.

[2020-02-07 01:49] olegshaldybin opened #9956 "Use gRPC zero copy frame protector for TSI transport socket"
TSI frame protector currently used by ALTS transport socket (https://github.com/envoyproxy/envoy/blob/24f3b52/source/extensions/transport_sockets/alts/tsi_socket.cc#L136)  can be replaced with a zero copy gRPC frame protector (https://github.com/grpc/grpc/blob/0ef0be6/src/core/tsi/transport_security_grpc.cc#L24); it's more efficient but the primary reason to switch is that we have some internal pr

[2020-02-07 02:22] moderation opened #9958 "tracing: Transition to OpenTelemetry from OpenTracing and OpenCensus"
*Title*: *Plan to transition to OpenTelemetry*

*Description*: Envoy currently supports OpenTracing (OTr) and OpenCensus (OC) [0]. In May 2019 it was announced that these projects were merging into the new OpenTelemetry (OTel) project [1]. The original plan was to have the legacy project repos moved to read-only by the end of 2019. That hasn't happened but according to the OTel maintainers they ar

[2020-02-07 03:39] daniel-bolanos opened #9961 "Websockets and retries"
Is it possible to configure Envoy to retry a Websocket connection on another backend server when either:
- the Websocket upgrade fails (for example a 503 is returned instead of a 101)
- the server does not accept the connection

thank you!

[2020-02-07 04:29] aishwaryabk opened #9962 "Envoy build fails on PowerPC (ppc64le) architecture"
Hi,
I am trying to build envoy on rhel:7.6 ppc64le. I have successfully built its dependencies _viz._ Bazel v0.25.0, Go-v1.12.5, Cmake - 3.16.0-rc3, AdoptOpenJDK11, Ninja v1.8.2, Boringssl. However it generates errors while building it.

ERRORS:
` An error occurred during the fetch of repository 'com_github_gperftools_gperftools'
Repository 'com_github_gperftools_gperftools' used the following cac

[2020-02-07 06:27] junr03 commented on #9962
I am not sure if people have tried building on PowerPC before, or if there are known issues. cc @lizan?

[2020-02-07 06:28] junr03 commented on #9951
cc @PiotrSikora

[2020-02-07 06:31] lizan commented on #9962
I haven't either. I think IBM folks did, @cmluciano?

[2020-02-07 06:37] ramaraochavali commented on #9269
@dio Thanks for adding help wanted. I meant to do it - but busy with other stuff :-)

[2020-02-07 06:47] apoorvmittal10 commented on #1630
@alyssawilk I have some cycles so please let me know if I could take up something.

[2020-02-07 07:08] daviderenger commented on #8584
@bernardoVale @qiwzhang I actually got it to work now :tada:

The one thing that I missed was to base64 encode the secret string. So this is my configuration now that works:

`const secret =  'a very secret string'; //used to create the token with jsonwebtoken`

- name: envoy.filters.http.jwt_authn
            config:
              providers:
                rpc_jwt_provider:
                  iss

[2020-02-07 07:35] daviderenger commented on #8584
Ok, not really done yet. It still doesn't work with the real keys we use, only works with this kind of simple strings. I guess our keys are not ok for some reason so they are transformed somehow when generating the JWT

[2020-02-07 07:37] tomoe commented on #8055
Probably coming from https://github.com/moby/moby/issues/33099
@kikogolk  Does your docker version match the issue above?

[2020-02-07 08:35] Lynskylate commented on #9819
@mattklein123  I'm interested for implementing it.

[2020-02-07 09:45] wbpcode opened #9963 "STRICT DNS cluster without endpoints block CDS"
*Title*: *STRICT DNS cluster without endpoints block CDS*

*Description*:

[code]

From the source code, I found that if the STRICT DNS cluster does not have endpoints, it will not be able to enter the DNS resolution process, and thus cannot trigger the callback function to complete cluster initialization. This keeps the cluster in a warning state.

Although I know this is a configuration issue, d

[2020-02-07 15:11] deiwin commented on #4460
Wonder if the `?inboundonly` parameter could be added to `/healthcheck/fail` as well, to also initiate draining for inbound listeners only. What do you think?

[2020-02-07 15:22] lathspell opened #9965 "ext_authz: Add decoded OAuth2 JWT token"
*Title*: *ext_authz: Add decoded OAuth2 JWT token*

*Description*:
Please add the decoded JWT token to the metadata that is send as input to the external authorization daemon like e.g. Open-Policy-Agent.

This feature does not need to be enabled by default but a switch would be nice.

It would help to test Open-Policy-Agent (OPA) Polices as the relevant input for the rules would then be plaintext

[2020-02-07 15:57] mattklein123 commented on #9819
@Lynskylate sounds great! The easiest way to implement this is probably can be to iterate through every cluster and every known host in the admin handler and reset all of the host stats to 0. It's possible this will require allowing the reset operation to be a mutable operation, otherwise the changes will potentially be massive, but I'm not sure. Maybe take a look and come up with a brief implemen

[2020-02-07 16:12] #9881 closed

[2020-02-07 16:40] cmluciano commented on #9962
Yep, I will take a look at our builds. I should note that I have not built this on Redhat before and we are only running our CI against libraries contained within Debian Buster.

[2020-02-07 18:09] mattrobenolt opened #9968 "Feature request: Consistent hashing on value other than address"
Given a config similar to this:

[code]

It's impossible to actually achieve consistent hashing around the `peers` cluster with the defined `hash_policy` as instances come and go. This specific example is using pointing at a StatefulSet in Kubernetes.

What that means, is we have a DNS record of `foo.default.svc.cluster.local` which is a CNAME for `foo-{0..N}.foo.default.svc.cluster.local`.

In Ku

[2020-02-07 18:24] junr03 commented on #9963
I do not immediately see how it would be useful to have a DNS based cluster without any endpoints; whether the cluster is statically defined or dynamically fetched. We have some constraints like this in other resources. My main concern would be how to update that constraint without interfering with operators that for some reason relied on that behavior.

cc @alyssawilk @snowp for comment on the po

[2020-02-07 18:25] junr03 commented on #9968
cc @HenryYYang

[2020-02-07 19:55] readverish commented on #4766
In the case where Envoy is deployed on a kubernetes cluster with the Multus plugin, it will be convenient to specify the listener interface rather than the IP address, because the IP address is not known until the Pod is created.
We have developed a kubernetes controller which is also an xDS server that builds the Envoy configuration based on the cluster state. The controller cannot know which IP

[2020-02-07 19:59] #8351 closed

[2020-02-07 20:19] cmluciano commented on #9962
@aishwaryabk On a fresh install with debian buster I see the following but I think it is an error with me not passing in the correct flag

[code]

Can you use a more recent bazel version and see if you have the same error?

[2020-02-07 20:29] wrowe commented on #8351
Hi @agl see my comment of January 6. I really don't have a good solution upstream to coerce BoringSSL bazel build to honor the flags I identified.

[2020-02-07 21:34] mattklein123 commented on #9583
@HenryYYang @FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg friendly ping, can one of you please fix this? Thank you.

[2020-02-07 21:45] mattklein123 commented on #9963
IMO this is a bug. I would either just block it at the config level, or if there are no targets maybe warn and just immediately finish init?

[2020-02-07 22:09] junr03 commented on #9963
Yeah IMO the correct thing to do is to put the constraint on the config, as there is no point to have a cluster without targets.

Where I am less clear is if we need to run this through deprecation. If we did

I would consider that a way to deprecate and then move on to blocking at config level. If we think deprecating is overkill we should just block at the config level.

[2020-02-08 00:43] #9778 closed

[2020-02-08 02:24] toddmgreer opened #9975 "CacheFilter: Support Trailers"
CacheFilter should support caching HTTP trailers.

This doesn't block widespread deployment of CacheFilter, and won't be a priority unless someone pushes for it.

[2020-02-08 02:27] toddmgreer opened #9976 "CacheFilter: Validate stale cache entries and update cached headers"
CacheFilter needs to validate stale cache entries and update cached headers (preferably without replacing entire bodies). This doesn't block deployment of CacheFilter, but is nonetheless important.

[2020-02-08 03:24] wbpcode commented on #9907
Thanks for your kind reply. Infact I change the value of `ulimit -n` to `4096`, and it still failed.

[2020-02-08 03:53] pisymbol commented on #1861
I'd like to run Ambassador on my pi cloud but it needs Envoy form armv7 first. Has anyone done this before?

[2020-02-08 07:19] pranaypratyush commented on #1861
Yes

[2020-02-08 11:36] enozcan opened #9977 "Question: Including external libraries for cache filter plugins"
I'm about to contribute a plugin for the new cache filter (#9878) but not sure about the appropriate way of including external libraries in Envoy convention.

Currently I include the shared library ([of Hazelcast Cpp Client](https://github.com/hazelcast/hazelcast-cpp-client)) in [my workspace](https://github.com/enozcan/hazelcast-envoy-http-cache/blob/d6e870a794e873cc8b0614555970330872f7ec06/WORKS

[2020-02-08 12:20] pisymbol commented on #1861
@pranaypratyush How did you install?

[2020-02-09 02:48] mikebryant opened #9980 "config.filter.http.ext_authz.v2.AuthorizationRequest headers_to_add not doing interpolation"
**Bug Template**

*Title*: *headers_to_add not doing interpolation*

*Description*:
I'm trying to use ext_authz with oauth2-proxy under istio.

[these docs](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/ext_authz/v2/ext_authz.proto#envoy-api-msg-config-filter-http-ext-authz-v2-authorizationrequest) point to [this doc](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v

[2020-02-09 13:25] lazy-always opened #9981 "Secured upstream request"
Is there a way to secure the upstream flow. I have a requirement where I need to send to upstream server with OAUTH2 Authorization as upstream servers are secured and can be accessed with only OATH2 Code Grant access.

[2020-02-09 19:39] #9539 closed

[2020-02-09 20:39] #9530 closed

[2020-02-09 21:39] #9540 closed

[2020-02-09 22:39] #9541 closed

[2020-02-10 03:34] CalbeeMing0530 opened #9983 "Question: about envoy network filter"
Does Envoy have a network filter that can output the network packets of each proxy request, such as http request/repsonse header details?

[2020-02-10 07:18] jyotimahapatra commented on #9983
I think the [tap filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/tap_filter)   provides similar functionality.

[2020-02-10 09:58] dcseifert opened #9984 "JWT Authentication fails for remote_jwks but works with local_jwks"
*Title*: *Filter `envoy.filters.http.jwt_authn` gets response code 400 (BadRequest) for remote_jwks uri*

*Description*:
After configuring Envoy with external JWT Authentication a request containing a valid token fails with following logs (envoy; log-level: debug):
[code]

I think the important line is:
`onSuccess: fetch pubkey [uri = https://dev-kelon.eu.auth0.com/.well-known/jwks.json]: response

[2020-02-10 11:34] perlun commented on #6387
Slightly (un)related, I am seeing errors like this when reloading Envoy and the tap filter is active in the config. We use the [hot restarter script](https://www.envoyproxy.io/docs/envoy/latest/operations/hot_restarter) and I think this is related. When I do a full `systemctl stop envoy` first before the reload, the problem goes away.

Do you want me to create a separate issue for this @mattklein1

[2020-02-10 11:55] aishwaryabk commented on #9962
yes that is right....it works with a higher version of bazel.

[2020-02-10 11:56] aishwaryabk commented on #9962
Thank you all. I'll close this issue.

[2020-02-10 14:06] stevenzzzz commented on #9635
WIP.
The PR is #9779, which also includes some initManager refactoring necessary at the listenerImpl level.

[2020-02-10 14:18] AlexandreDemailly commented on #9873
Hi

Any update ?

[2020-02-10 14:21] popozy opened #9985 "comment in code: typo error"
*Typo error in buffer_impl.h*

*Description*:

*Relevant Links*:

[2020-02-10 14:22] popozy commented on #9985
I want to fix it.

[2020-02-10 14:27] alyssawilk commented on #9274
I believe @yashengy is picking this up

[2020-02-10 14:30] alyssawilk commented on #9873
oh sorry, we forgot to tag https://github.com/envoyproxy/envoy/pull/9918 as part of this fix.  It requires a series of rather large refactors, and Matt has been making steady progress :-)

[2020-02-10 15:55] cstrahan opened #9987 "build system error introduced in #8596"
*Title*: build system error introduced in #8596 (known to affect 1.12.2)

*Description*:
PR #8596 introduced a regression in the build system:

[code]

The basic premise of that PR was flawed: `listener_manager_impl.cc` and  `listener_impl.cc` still depend on each other, and _must_ be compiled as part of the same `envoy_cc_library`. Note that these two targets don't have each other listed in each'

[2020-02-10 16:09] danzh2010 commented on #9434
/assign @bencebeky

[2020-02-10 17:02] junr03 commented on #9985
closing with explanation in https://github.com/envoyproxy/envoy/pull/9986#issuecomment-584224762

[2020-02-10 17:02] #9985 closed

[2020-02-10 17:11] mattklein123 commented on #6387
@perlun I think that's a different issue. Can you open a fresh issue and we can track there? Thank you.

[2020-02-10 17:14] danzh2010 commented on #1193
This statement is out dated in light of https://github.com/envoyproxy/envoy/pull/9424. And this issue seems not specific to QUIC any more, consider renaming and untagging it?

[2020-02-10 17:14] mattklein123 commented on #9983
Correct ^

[2020-02-10 17:16] mattklein123 commented on #9873
Yes I'm working on it. After my current inflight refactor PR I think I can go ahead and fix this issue before I continue with further header changes. So the PR after the one I'm working on. Hopefully this week.

[2020-02-10 17:21] mattklein123 commented on #1193
I don't think it's out of date, it's still required in some deployments if we want to deal with NAT rebinding, but I agree it's actually now covered by https://github.com/envoyproxy/envoy/issues/9514. I'm still planning on working on this but it's gotten pushed back due to other obligations. If it's OK with you I would rather keep this issue right now for tracking as my plan is to implement https:

[2020-02-10 17:29] mattklein123 commented on #9961
I don't think we support Websocket retries currently, but @alyssawilk would know for sure. She is doing a bunch of work in this area and might be able to get this tracked as a feature addition as needed.

[2020-02-10 17:34] mattklein123 commented on #9977
What we need to do is making cache plugins use the standard extension build mechanism. See https://github.com/envoyproxy/envoy/blob/master/source/extensions/extensions_build_config.bzl. This will allow HTTP cache extensions to be explicitly compiled in (along with their dependencies).

[2020-02-10 17:37] qiwzhang commented on #9984
Your jwks_uri is https,  so your auth0 cluster need to specify TLS setting.  Here is an example TLS settting in a cluster.

[code]

[2020-02-10 17:42] alyssawilk commented on #9961
I think websockets are treated just as other HTTP requests.  So there's no way to make only websockets retry, but if configured buffer enough of the upgrade request that if you 5xx you could send the upgrade header elsewhere.

[2020-02-10 17:44] mattklein123 commented on #9968
I think this is a dup of https://github.com/envoyproxy/envoy/issues/9074. See also partial PR https://github.com/envoyproxy/envoy/pull/9433. If you agree can we close this and track in the other issue?

[2020-02-10 17:46] danzh2010 commented on #8184
I almost missed this issue because it is automatically closed. Can someone re-open it?

[2020-02-10 17:47] mattrobenolt commented on #9968
Ah yes, that sounds identical to what I'm looking for as well. Thank you! <3

[2020-02-10 17:47] #9968 closed

[2020-02-10 17:49] snowp commented on #9951
Pretty sure that TLS session tickets are only enabled if you configure a session ticket key in the TLS context, so it should be disabled by default.

[2020-02-10 17:51] zuercher opened #9989 "flake in http-filter-example:http_filter_integration_test"
[Feb 9](https://dev.azure.com/cncf/envoy/_build/results?buildId=30213&view=logs&j=930b2ee4-0ea7-5b74-a645-6bc26962bc06&t=a22da363-b496-51fd-d3eb-ba836106d671)
[Feb 6](https://dev.azure.com/cncf/envoy/_build/results?buildId=29858&view=logs&j=930b2ee4-0ea7-5b74-a645-6bc26962bc06&t=a22da363-b496-51fd-d3eb-ba836106d671)

I think this may just be 5 ms is not enough time to wait on a load host running i

[2020-02-10 17:57] daniel-bolanos commented on #9961
hi @alyssawilk thank you for your response. When you say

Should I understand that it is because the websocket upgrade is just another `GET` request, so it will be treated just the same?

So, if I configure retries for GET, lets say for 503 error codes, will that make Envoy to retry the GET (upgrage request) on a different backend when the first one returns 503 (instead of a 101)?

[2020-02-10 18:04] snowp commented on #9946
Making the retry policy configurable makes sense to me, we could just pull out the relevant functions from RetryState into a pluggable class. We'd have it be instantiated optionally once per downstream with the request headers (to allow it to parse the retry headers) and then it can just handle the "should this response/reset reason be retried" part that `RetryStateImpl` is doing today.

This woul

[2020-02-10 20:28] #9392 closed

[2020-02-10 21:01] gary-20 opened #9994 "Question: on which Linux distros and releases is Envoy Proxy buildable?"
I'm following https://github.com/envoyproxy/envoy/blob/master/bazel/README.md to build an envoy binary via 'bazel build //source/exe:envoy-static'.

However, the build failed on CentOS and Ubuntu 18.04.
The build does succeed on Ubuntu 16.

Does it mean the envoy code base only works on Ubuntu 16?

Can it be built on CentOS?

Thanks, -Gary

[2020-02-10 21:51] yskopets opened #9998 "proposal: make configuration of a tracing provider dynamic"
*Title*: Make configuration of a tracing provider dynamic

*Context*:
* at the moment, tracing provider is configured statically as part of bootstrap config
* while this approach is very pragmatic, it breaks overall user experience that Envoy can reconfigured on-the-fly
* although it would be possible to achieve a similar user experience through a hot restart, it feels like a workaround and doesn'

[2020-02-10 22:13] snowp commented on #9246
I don't see anything immediately wrong with the implementation strategy, but I'm sure things will come up during implementation.

[2020-02-10 22:30] toddmgreer commented on #9977
Added this for SimpleHttpCache in #9974.

[2020-02-10 23:02] mattklein123 commented on #9998
@yskopets can we just remove tracing from bootstrap entirely and just define it as part of the HCM configuration that would come down as part of LDS? This is similar to what @ramaraochavali did around the rate limit service configuration. Can we follow the same pattern?

[2020-02-10 23:05] prateek33 commented on #5514
@vovata can you please share the config on how you achieved this? Thanks

[2020-02-10 23:51] #9583 closed

[2020-02-11 00:08] moderation commented on #9994
I've buillt on Ubuntu 16, 18 and now 19. With the correct dependencies and the latest version of Bazel it should work. I also build on RHEL 7 with the following flag for Bazel - https://github.com/envoyproxy/envoy/blob/master/ci/build_setup.sh#L70-L72

[2020-02-11 00:16] bcelenza commented on #6748
Hey @sumukhs, are you still working on this feature?

@abaptiste from the AWS App Mesh team would be happy to pick it up if not

[2020-02-11 00:40] sumukhs commented on #6748
Hi @bcelenza , I have been side tracked with some other work. It would be great to have @abaptiste continue the progress from what we discussed last time.

[2020-02-11 01:54] CalbeeMing0530 commented on #9983
thanks a lot, I have already tested the tap filter and it worked well
I will close this issue

[2020-02-11 01:54] #9983 closed

[2020-02-11 01:58] bcelenza commented on #6748
Great!

@mattklein123 Can we re-assign this to @abaptiste?

[2020-02-11 02:26] gary-20 commented on #9994
Thanks for the info. I just followed https://github.com/envoyproxy/envoy/blob/master/ci/build_setup.sh#L70-L72 and = issued "export BAZEL_BUILD_EXTRA_OPTIONS+="--copt=-DENVOY_IGNORE_GLIBCXX_USE_CXX11_ABI_ERROR=1"", then I run  "bazel build //source/exe:envoy-static". It still failed with the following information "ERROR: /home/tang/envoy_/envoy/source/extensions/filters/network/kafka/BUILD:133:1:

[2020-02-11 03:55] aishwaryabk commented on #9962
yes, its gets built with a higher bazel version.

[2020-02-11 03:55] aishwaryabk commented on #9962
Thank you all. I shall close this issue.

[2020-02-11 04:52] sc0ttbeardsley commented on #8357
Some prior art in reverse proxy/CDN land: https://docs.fastly.com/vcl/tcpi/ I'd love to have access to this for downstream connections.

[2020-02-11 07:13] yskopets commented on #9998
@mattklein123 Let me take a look into rate limit example

[2020-02-11 09:58] popozy opened #10004 "Question: How to drain a part of buffer data with a certain offset？"
*Description*:
When I'm trying to add jaeger-span in dubbo-proxy filter in tracing,  a question confused me when trying to put new span context into dubbo attachment block for propagation -- in order to overwrite dubbo attachment block, I think I need to do the following 3 steps:

But the question is, I cannot find a method in buffer.h to implement drain data from a certain offset not begining. Do

[2020-02-11 11:39] PiotrSikora commented on #9951
TLS session tickets are enabled by default, and there is currently no way to disable them in Envoy.

It's a trivial change (adding `SSL_CTX_set_options(..., SSL_OP_NO_TICKET)`, glue code and tests), so patches welcome!

[2020-02-11 16:13] stevenzzzz commented on #9709
/cc stevenzzzz

[2020-02-11 16:43] yskopets commented on #9998
@mattklein123 Here is the updated proposal that follows rate limit example:

* Update configuration of model of `HttpConnectionManager` to support in-place definition
  of a `tracing_provider`, e.g.
[code]
  Sample configuration will look the following way:
[code]
  Notice `tracing :: tracing_provider :: http` path. Probably, it should be simplified.
* Introduce `HttpTracerCache` interface
[code]

[2020-02-11 17:11] mattklein123 commented on #9998
+1 looks great. @ramaraochavali WDYT?

[2020-02-11 17:57] alyssawilk commented on #9961
I believe that will work - if it doesn't I'm happy to dig a bit :-)

[2020-02-11 18:00] rgs1 opened #10007 "safe retry on reset"
We currently support retrying after an upstream reset, but this could happen after the request has been seen -- partially or totally -- by the upstream:

https://github.com/envoyproxy/envoy/blob/master/source/common/router/router.cc#L966

at which point, it might be unsafe to retry. Note only `downstream_response_started_` is checked for, we are not checking if the request was sent out already.

W

[2020-02-11 19:05] jmarantz opened #10008 "stats: inconsistent handling of multiple consecutive dots in stat-names produced via join vs direct encoding"
You can create a multi-segment stat-name by directly encoding it into the table, or by joining multiple existing stat names.

When you encode directly, you can wind up with multiple consecutive dots. When you construct by joining, you can't. The testcase in this commit illustrates the problem:

https://github.com/jmarantz/envoy/commit/6e7367c522c2fb5e77bb1d59cb54817e039bd9c3

[code]

[2020-02-11 19:05] jmarantz commented on #10008
I don't think this is a super-high priority issue but it is an inconsistency which should be fixed.

[2020-02-11 20:07] zuercher commented on #10004
I think you can implement this using Buffer::move. Generally, move the buffer prefix to a new buffer, append your attachments, append the remainder of the original buffer. You can move the new buffer's data back to the original Buffer instance as well. You can minimize copying of data if you can arrange to track multiple buffers.

[2020-02-11 21:17] aalmekhlafi00 opened #10011 "Question: Getting "no matching filter chain found" when enabling proxy_protocol filter"
### _Description_
I am trying to add client IP transparency to my stack in AWS using proxy protocol.
My setup is:
aws NLB -> Envoy proxy -> Service.
I enabled Proxy Protocol V2 on the NLB as well as I added `envoy.listener.proxy_protocol` filter to envoy config as following:
[code]
when Making a call from the client ex. `curl -v https://hostname/path`
**Client logs**
`
LibreSSL SSL_connect: SSL_ER

[2020-02-11 21:25] zuercher opened #10012 "http buffer filter integration test flake"
This seems to happen only in coverage tests. The last test logged as starting is always:

[code]

Master commits where this failure occurred:
envoyproxy/envoy@4e1753fd683e8c0a901da62251640a434042d2d5
envoyproxy/envoy@7e60f33641cb005aaee6c8b878c7bf0476a863d9
envoyproxy/envoy@527853b4faa3106497a695a40c2322137546c142
envoyproxy/envoy@f75d47e72034f5db7aceeb3aad02ad1f57b34d8d
envoyproxy/envoy@9105aead0

[2020-02-11 21:28] zuercher opened #10013 "stats_integration_test times out"
[code]

Master commits which had this failure:
envoyproxy/envoy@f75d47e72034f5db7aceeb3aad02ad1f57b34d8d
~envoyproxy/envoy@f64ade1d90d9209982008391f337ed76e7aca3d2~
envoyproxy/envoy@d9a33764b5a625877687842c50a2260a433fabae

[2020-02-11 21:30] zuercher commented on #9989
This is the same assertion as #9948

[2020-02-11 22:06] zuercher commented on #9989
So much the same it's a duplicate.

[2020-02-11 22:06] #9989 closed

[2020-02-12 00:19] zuercher commented on #10011
I'm not super familiar with the proxy protocol, but here are some suggestions:

1. Pretty sure the curl SSL error is because the listener is not configured for TLS. Just having the TLS inspector is not sufficient. See transport_socket in the [FilterChain](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/listener/listener_components.proto#envoy-api-msg-listener-filterchain) config.
2. If t

[2020-02-12 01:20] aalmekhlafi00 commented on #10011
Thanks for your response. I updated the question with the complete config.
In the filterChain i only miss `use_proxy_proto` which the listener should expect a PROXY protocol V1 header if the value is true.

I will try to run curl with --haproxy-protocol flag, although AWS confirmed that proxy protocol headers will be sent when proxy protocol v2 is enabled in the NLB target group

[2020-02-12 01:50] lhluo commented on #9950
Hi @mattklein123, would Lua Filters also work for the above use case?
Looking at the docs [here](https://www.envoyproxy.io/docs/envoy/v1.13.0/configuration/http/http_filters/lua_filter), seems like we can use the `envoy_on_response` hook to make an outbound gRPC call, but it doesn't seem like there exists an API for gRPC for Lua.

Is what I've suggested feasible? If so, which approach (Lua or Tap)

[2020-02-12 02:02] muxi commented on #8093
The idea is to disable the failover. When [`disable_overprovisioning`](https://github.com/envoyproxy/envoy/blob/5248a4fb7d4c2a3d1fa151f944d3a63f6b7a06cf/api/envoy/api/v2/endpoint.proto#L99) is set to true, Envoy does not automatically failover based on locality health; the xds server takes the responsibility of routing traffics to other localities by pushing new configurations.

I dug a little bit

[2020-02-12 02:14] popozy commented on #10004
Ops! Got it--just new a buffer instance, after which construct it with buffer prefix , new attachment, postfix part with https://github.com/envoyproxy/envoy/blob/74df8b3f1f36d60563b2dc0e9200ed65d1e43d31/include/envoy/buffer/buffer.h#L157, then I'd like to get the target buffer instance!
I will have a try immediately! Thanks a lot!

[2020-02-12 02:48] cgilmour commented on #9076
Seems I was wrong on this one. For propagated traces, it's simple enough to just ignore the `sampling_priority` tag that gets passed when spans are created.

The remaining part of the problem (when traces are being initiated) is essentially the same as all the duplicates of #7624 where different behavior is desired.
And a PR for it has just landed at #10018

[2020-02-12 02:48] #9076 closed

[2020-02-12 03:41] mattklein123 commented on #9950
It might be possible to do using Lua out of the box, though IMO it would be better to finish the gRPC output part of https://github.com/envoyproxy/envoy/issues/6110 which I don't think would be difficult.

[2020-02-12 03:46] rohaldbUni commented on #2927
@mattklein123 we are not only seeing counters being incremented but also more connections than expected are being permitted. We posted a [s/o question](https://stackoverflow.com/questions/60162863/envoy-circuit-breaking-non-deterministic-behaviour) here outlining the details. Should envoy be enforcing strict limits on `max_connection'`s or only approximate (+/- a few).

[2020-02-12 03:47] mattklein123 commented on #2927
Please try again with current master. The HTTP1/HTTP2 connection pool implementations have been unified and the logic is now shared. cc @ggreenway

[2020-02-12 03:54] jmarantz commented on #10013
quick question: what build-type is this? tsan? asan?

[2020-02-12 03:58] mattklein123 commented on #9562
Haven't seen this in a while.

[2020-02-12 03:58] #9562 closed

[2020-02-12 04:07] mattklein123 commented on #10007
cc @snowp for guidance/thoughts on retry policies.

[2020-02-12 06:34] toddmgreer commented on #9977
#9974 is now merged, and you should be able to use the same approach for HazelCache.

[2020-02-12 06:44] toddmgreer commented on #9977
To be more specific:
Use envoy_cc_extension (with security_posture and status fields) in the plugin's BUILD file.
Add a line to source/extensions/extensions_build_config.bzl referencing the above BUILD rule (in the "CacheFilter plugins" section).
Use envoy_extension_cc_test (with extension_name field referencing the .bzl line) in the plugin's test BUILD file.

[2020-02-12 08:43] toddmgreer opened #10020 "CacheFilter: Serve HEAD requests from cache"
CacheFilter currently only does cache lookups for GET requests. HEAD requests can also be served from cache. It's not that valuable, but it's also mostly trivial.

We could also insert HEAD responses into cache, but it's probably not worth it.

[2020-02-12 08:52] toddmgreer opened #10021 "CacheFilter: Handle "Pragma: no-cache" request header"
If a request lacks a Cache-Control header, but has a "Pragma: no-cache" header, treat it as if it had "Cache-Control: no-cache".

Required by [RFC7234§5.4](https://httpwg.org/specs/rfc7234.html#header.pragma)

[2020-02-12 08:58] toddmgreer opened #10022 "CacheFilter: Handle slow cache insertion"
CacheFilter currently assumes that caches can accept inserts much faster than clients can accept responses. This should be true for reasonable deployments, but CacheFilter should handle caches that are too slow to accept inserts. If a cache is slow enough, insertion should be abandoned.

[2020-02-12 10:24] vovata commented on #5514
@prateek33 check this sample:
`  - name: listener_x
    address:
      socket_address: { address: "::", ipv4_compat: true, port_value: 443 }
    listener_filters:
    - name: envoy.listener.tls_inspector
      config: {}
    filter_chains:
    - filter_chain_match:
        transport_protocol: raw_buffer
      filters:
      - name: envoy.http_connection_manager
        config:
          stat_prefi

[2020-02-12 10:54] dcseifert commented on #9984
@qiwzhang This fixed my issue! Thank you so much!

[2020-02-12 10:54] #9984 closed

[2020-02-12 12:51] mohit-a21 opened #10024 "Opencensus tracer using Zipkin exporter to send spans to jaeger throws error"
**Bug Template**

*Title*: *Opencensus tracer using Zipkin exporter to send spans to jaeger throws error*

*Description*:

`Unable to process request body: wrong ipv4`
On further investigation, it seems local endpoint information of Zipkin spans has issues.
There process ipv4 is being set as ::1 (loopback ipv6).

 The issue seems to be here:
[code]
Here, since opts doesn't have `af_type` set to ei

[2020-02-12 15:01] lazy-always commented on #7275
@sibendu, what was the issue with network set up? I am facing the same issue now.

[2020-02-12 15:58] PiotrSikora opened #10027 "envoy-windows fails on release/v1.12"
`envoy-windows` build fails on `release/v1.12` branch when building `@envoy_api`.

e.g. https://dev.azure.com/cncf/envoy/_build/results?buildId=30582&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=ac0b0b0f-051f-52f7-8fb3-a7e384b0dde9

[2020-02-12 15:58] PiotrSikora opened #10028 "envoy-linux (bazel asan) runs out of disk space on release/v1.12"
`envoy-linux (bazel asan)` fails on `release/v1.12` branch due to `No space left on device`.

e.g. https://dev.azure.com/cncf/envoy/_build/results?buildId=30580&view=logs&jobId=930b2ee4-0ea7-5b74-a645-6bc26962bc06&j=930b2ee4-0ea7-5b74-a645-6bc26962bc06&t=a22da363-b496-51fd-d3eb-ba836106d671

[2020-02-12 15:59] ggreenway commented on #2927
@rohaldbUni There are a couple things going on that may be affecting your test results:

* In order to prevent requests from getting "stuck" (queued in a way where they won't ever get processed), Envoy will allow 1 connection to each instance in the upstream pool, per envoy worker. So if you have a cluster of 100 services, and Envoy concurrency set to 10 (the default is the number of CPUs on the b

[2020-02-12 16:03] sibendu commented on #7275
hi. as far as i can recall, it was nothing related to envoy. i was initially having the java service outside kubernetes on separate cloud VMs; and networking rules were not configured properly.

[2020-02-12 16:12] lazy-always commented on #7275
Got it resolved - it was something to do with http2 options!! Thanks!!!

[2020-02-12 18:30] srini100 commented on #8093
/cc

[2020-02-12 18:36] goaway opened #10030 "tls context manager: failing assertion in destructor"
*Title*: The assertion in Tls::ContextManagerImpl's destructor may sometimes fail.

*Description*:
When a Tls::ContextManagerImpl is destructed due to an Envoy Server::InstanceImpl being destructed, the ASSERT in the destructor may fail. There's a call immediately above to removeEmptyContexts() which seems to imply that either some contexts are not yet empty and/or removeEmptyContexts() is not per

[2020-02-12 18:38] zuercher commented on #10024
@g-easy can you shed some light on this?

[2020-02-12 19:05] yangminzhu opened #10032 "Use PathMatcher once hidden_envoy_deprecated_regex is removed"
**Issue Template**

*Title*: Use PathMatcher once hidden_envoy_deprecated_regex is removed

*Description*:
For the TODO in https://github.com/envoyproxy/envoy/pull/10010. We should use the PathMatcher for regex matching once the old hidden_envoy_deprecated_regex is fully removed from Envoy.

[2020-02-12 19:09] yangminzhu opened #10033 "Investigate is it okay to kill the connection when the path includes `#`"
**Issue Template**

*Title*: Investigate is it okay to kill the connection when the path includes `#`

*Description*:
Quote from the comment in https://github.com/envoyproxy/envoy/pull/10010#discussion_r378329481:

[2020-02-12 20:17] PiotrSikora opened #10035 "Don't block api/ changes in the stable release branches"
@repokitteh shouldn't add `api` label and request review from @envoyproxy/api-shepherds for the `api/` changes on the stable release branches, since those changes were already approved on the `master` branch.

cc @itayd @mattklein123

[2020-02-12 20:48] enozcan commented on #9977
Thank you for the answers.

Then I will import the external dependency via http_archive following the `bazel/EXTERNAL_DEPS.md` steps and include it via `external_deps` in `envoy_cc_extension` rule.

Feel free to close the issue.

[2020-02-12 22:43] #9528 closed

[2020-02-12 23:07] zuercher commented on #10013
https://github.com/envoyproxy/envoy/commit/f75d47e72034f5db7aceeb3aad02ad1f57b34d8d was a TSAN failure

disregard https://github.com/envoyproxy/envoy/commit/f64ade1d90d9209982008391f337ed76e7aca3d2 that's a different failure.

[2020-02-13 00:15] snowp commented on #10007
Conceptually this makes sense to me, though we'll need to be specific about the exact behavior: for example, if the first attempt was sent and was retried due to response headers, but on the second attempt the request is reset before the second set of headers are sent, should the second request be retried?

This definitely falls into a similar category as https://github.com/envoyproxy/envoy/issues

[2020-02-13 04:13] zuercher commented on #10013
https://github.com/envoyproxy/envoy/commit/d9a33764b5a625877687842c50a2260a433fabae was the other stats_integraion_test timeout, also TSAN.

[2020-02-13 04:49] veshij opened #10041 "Transfer-Encoding value is case-insensitive by RFC."
Envoy [rejects](https://github.com/envoyproxy/envoy/blob/acdc6c7658638891253b2a49e74535de11984a72/source/common/http/http1/codec_impl.cc#L582-L592) requests having "Transfer-Encoding: **C**hunked" with `unsupported transfer encoding` error.

Per [RFC7230: Hypertext Transfer Protocol (HTTP/1.1): Message Syntax and Routing](https://tools.ietf.org/html/rfc7230#section-4) transfer-coding names are cas

[2020-02-13 06:18] veshij commented on #10041
I can try to take a look how to fix that.

[2020-02-13 08:00] mohit-a21 commented on #10024
@g-easy, please feel free to ask any questions regarding this.

[2020-02-13 09:08] phanxen opened #10044 "Option deprecation (envoy.config.filter.accesslog.v2.AccessLog.config)"
*Title*: *option deprecation (envoy.config.filter.accesslog.v2.AccessLog.config)*

*Description*:
I've been testing Envoy 1.13 for the last few weeks. The version is `bb7ceff4c3c5bd4555dff28b6e56d27f2f8be0a7/1.13.0/Clean/RELEASE/BoringSSL`.

Every time I start the proxy I got the following message on logs:

[code]
The used configuration for logging is:

[code]

The same configuration applies for s

[2020-02-13 15:45] wrowe commented on #9571
@snowp this remains a placeholder, could you add help wanted (or we can leave it closed for the time being)

[2020-02-13 16:07] wez470 commented on #1031
@mattklein123 @ggreenway I wanted to have a discussion about how to best pass the stream info when creating a new connection.

To get things working so I could start building the filter, I just added a raw pointer. https://github.com/envoyproxy/envoy/compare/master...wez470:proxy-protocol-filter#diff-0e411ba198bbc88e25d450f78141647fR207. At first I was thinking of `absl::optional<StreamInfo>`, but

[2020-02-13 16:21] zuercher commented on #10044
In 1.13 is the extension name is required and `envoy.file_access_log` is the correct name for the file access logger. Using `config` for extensions is deprecated and `typed_config` is preferred. Either the v2 or v3 type should work.

In "1.14-dev" (starting at 9cc7a5ca) the name of the access logger changed to `envoy.access_loggers.file`, but you may continue to use the deprecated `envoy.file_acce

[2020-02-13 17:06] mattklein123 commented on #1031
IIRC in very recent changes all the streamInfo() accessors are moving to shared_ptr, so I think you are probably fine? Check current master?

[2020-02-13 17:13] mattklein123 commented on #10041
Trivial fix here: https://github.com/envoyproxy/envoy/blob/be1051947a19010a4f5870d0ad561ef5979be9fe/source/common/http/http1/codec_impl.cc#L582-L592

[2020-02-13 17:17] mpuncel opened #10046 "xDS NACK loop between when switching from gRPC RDS to file-based RDS"
*Title*: *NACK loop when switching from gRPC RDS to file-based RDS*

**Context**: we use java-control-plane, and non-incremental ADS.

**Note**: I'm not sure if this is a bug in Envoy, java-control-plane, or perhaps working as intended and we need to work around it in our custom control plane wrapping java-control-plane.

*Description*:

When transitioning the config source in [RDS](https://www.en

[2020-02-13 17:22] mpuncel commented on #10046
Looking at that Envoy block more closely, it seems like if we had not computed routes in the server then everything would have been fine, so maybe there's no bug here?

[2020-02-13 17:38] wez470 commented on #1031
Oh! Okay, I'll check that out.

[2020-02-13 18:07] mtalbot opened #10048 "Lua receives empty body on httpCall to GRPC"
When calling a GRPC service from a lua filter the returned body is always empty. Digging into this I think its related to the response handling code that copies the c++ string to a c string as the body of the http request starts with a null char because the grpc wire format is uncompressed. This doesn't happen though on the request sending, the lua string handles having a null as the first char.

[2020-02-13 18:17] #9948 closed

[2020-02-13 18:27] PiotrSikora opened #10049 "Automatically assign @envoyproxy/stable-maintainers to backports"
@envoyproxy/stable-maintainers (or only stable release manager, but I don't believe we have a separate group for that?) should be automatically assigned all PRs sent against `release/vX.Y` branches.

We could achieve this either by:
a) Replacing `CODEOWNERS` with `* @envoyproxy/stable-maintainers`, but it doesn't look like `CODEOWNERS` are automatically assigned changes in the `release/vX.Y` branc

[2020-02-13 18:36] veshij commented on #10041
@mattklein123 should we normalize transfer-encoding while parsing headers - otherwise it's possible to hit the same issue in other codepaths?

[2020-02-13 18:45] XanderStrike commented on #9657
This remains an issue. Stale bots are bad practice.

[2020-02-13 18:53] mattklein123 commented on #10041
We haven't normalized header values so far to my knowledge. I'm not sure if it's worth it but I could go either way. @alyssawilk any thoughts?

[2020-02-13 18:55] wez470 commented on #1031
Hmm, not seeing this on master, at least for tcp_proxy (https://github.com/envoyproxy/envoy/blob/master/source/common/tcp_proxy/tcp_proxy.h#L305). Took a quick glance at PRs and didn't see anything obviously related.

[2020-02-13 18:58] lhluo commented on #9950
@mattklein123 thanks for the suggestion! I will look into tap filters as a solution for us.

Meanwhile, I played a bit with the Lua filter and found that, as documented, the `httpcall` causes Envoy to yield the script until the call completes. Are you familiar with any way to make a non-blocking http call (i.e fire-and-forget) the context of a lua filter?

[2020-02-13 19:14] mattklein123 commented on #1031
See https://github.com/envoyproxy/envoy/pull/9949 and recent PR by @gargnupur

[2020-02-13 19:15] mattklein123 commented on #9950
IIRC it's not possible currently, cc @dio

[2020-02-13 19:16] mattklein123 commented on #10049
No preference. Whatever works. cc @itayd

[2020-02-13 19:29] mattklein123 opened #10053 "allow new tcmalloc to be used as an option"
https://abseil.io/blog/20200212-tcmalloc

Currently only supported on linux/x86_64 so we could add as a build option or potentially just rip out the old one and everyone else would get standard malloc (sub-optimal given the rise of ARM).

[2020-02-13 19:47] shaofu88 commented on #9950
@mattklein123, To follow up, is it possible to execute a filter or tap filter in a non-blocking way?

[2020-02-13 19:49] mattklein123 commented on #9950
If we implement gRPC output for TAP it would be non-blocking.

[2020-02-13 20:00] toddmgreer opened #10054 "Add premerge check for unqualified calls to absl functions"
[The Abseil Compatibility Guidelines](https://abseil.io/about/compatibility) ask users to avoid relying on ADL when calling absl's free functions. The easiest way to enforce this would be to scan for a known list of absl functions that accept arguments of absl types (and thus trigger ADL), and to require explicit qualification.

An occurrence of this was recently fixed in #9931. The previously unq

[2020-02-13 20:55] jmarantz commented on #10053
Is there a TL;DR on what's better about this version of tcmalloc compared to the one Envoy already uses?

[2020-02-13 22:41] mattklein123 commented on #10053
@ahedberg posted some info here: https://envoyproxy.slack.com/archives/C78HA81DH/p1581621926211100

[2020-02-13 23:23] euroelessar opened #10057 "[transcoder] Support HttpBody in requests"
*Description*:
Currently Envoy only special cases `HttpBody` in responses, while it tries to interpret it as json in requests.
Based on the `HttpBody`'s documentation it's expected that it represents a raw body instead.

*Relevant Links*:
* https://cloud.google.com/ai-platform/prediction/docs/reference/rest/v1/HttpBody

[2020-02-13 23:24] euroelessar commented on #10057
Please assign the ticket to me, pull request will come shortly.

[2020-02-14 00:24] zuercher commented on #10048
I expect you're getting a GRPC error, which is encoded in trailers. Trailers, unfortunately, are not exposed by the Envoy's `request_handle:httpCall`.  You could confirm this by turning on debug logging in Envoy. The trailers should be logged, including grpc-status and grpc-message trailers.

[2020-02-14 00:38] #9956 closed

[2020-02-14 01:11] #9483 closed

[2020-02-14 06:26] seflerZ opened #10059 "Enable dynamic configuration for "xds-grpc" cluster"
*Description*:
In Envoy with Istio scenario, the back end xDS server Pilot is configured through "envoy_bootstrap_v2.json" like this:
[code]
However, this is a static address and can't not be changed any longer. If we want to migrate the Pilot address, the Envoy has to reboot to reload the new Pilot address. I'm wandering if there is any way to dynamically change this address. Maybe by enabling co

[2020-02-14 07:37] lazy-always commented on #5357
This issue still exists!! server_uri in http_service is like a parameter which is dummy, but the document says it's required.

[2020-02-14 08:03] lazy-always opened #10061 "http_service: server_uri: uri is always overwritten by the request URI path"
Issue/Bug Template

Title: http_service: server_uri: uri is always overwritten by the request path

Description:

ext_authz config says uri parameter is mandatory parameter. But envoy always takes the URI path from the request and post to the cluster. Whatever we give any value in this parameter doesn't make any difference.

Repro steps:

Config set as below. Running two servers on 8080 and 8082.

[2020-02-14 08:04] lazy-always commented on #10061
Similar issue was reported before @https://github.com/envoyproxy/envoy/issues/5357

[2020-02-14 08:54] lizan commented on #10053
From its Quickstart doc seems it requires C++17, so we have to do the upgrade first.

[2020-02-14 09:43] phanxen commented on #10044
Perfect. Thank you a lot.

[2020-02-14 09:43] #10044 closed

[2020-02-14 10:47] chaosbox opened #10066 "Metrics - dog_statsd sink reporting counters as delta"
*Title*: *Metrics - dog_statsd sink reporting counters as delta*

*Problem Description:*
* We use the dog_statsd sink for our envoy metrics, and we noticed that datadog-agent's statsd was receiving delta of the counter values instead of a cummulative counter. Also, in the statsd payload we mark the metric as a counter "|c" which confuses the datadog-agent. Datadog agent's dogstatsd stores it as a

[2020-02-14 14:08] itroot commented on #5769
@carlosmayer Did you succeed in this effort?

[2020-02-14 14:43] fabriziomello commented on #9107
Hi @dio I'm planning return work on it from next week. IMHO maintain a document outside of GH is counterproductive once in this issue we have a very good and detailed reference already. But if it is the community way will do it.

Anyway I have some comments before:

1. We already have some detailed design on this issue and a first WIP version here: https://github.com/envoy-postgres/postgresql-prox

[2020-02-14 16:04] mattklein123 commented on #10061
I reopened the other issue, let's use that one to track.

[2020-02-14 16:04] #10061 closed

[2020-02-14 16:26] mattklein123 commented on #8093
@muxi that sounds about right. cc @snowp for further guidance.

[2020-02-14 16:27] mattklein123 commented on #10046
cc @wgallagher do you mind taking a look at this one?

[2020-02-14 17:08] snowp commented on #8093
I think in the past we've suggested people just set their overprovisioning factor really high in order to disable spillover, would this new config option just be equivalent to that?

[2020-02-14 18:10] #9873 closed

[2020-02-14 18:33] popozy commented on #10004
make it by buffer.move and drain~~
And in this dubbo buffer overwriting case, a detail, which can not be ignored,  is that in dubbo serialize protocol(hessian-2), attachment block may begin with byte 0x48(Uppercase "H" in "HashMap") or 0x4d(Uppercase "M" in "Map") and end with 0x5a(Uppercase "Z").
*Ref: [UTF-8 encoding table and Unicode characters](https://www.utf8-chartable.de/)*

[2020-02-14 18:33] popozy commented on #10004
/close

[2020-02-14 18:34] #10004 closed

[2020-02-14 18:50] j-bro opened #10070 "Segfault when configuring UDP listener using 2+ workers"
*Description*:
When a UDP listener is configured with envoy running with two or more workers, one worker is able to create the listener socket but other workers segfault. No traffic is needed, the segfault happens soon after startup.

Envoy should not crash and multiple workers should be able to receive UDP requests.

*Repro steps*:
Run envoy (latest as of f7de5eb) with a UDP listener configured u

[2020-02-14 19:04] mattklein123 commented on #10070
This should not crash, but the issue can be fixed if you configure reuse_port on the UDP listener. cc @danzh2010

[2020-02-14 19:32] itayd commented on #10049
@mattklein123 just lmk what you decide

[2020-02-14 19:40] PiotrSikora commented on #10049
@itayd if @repokitteh could auto-assign those PRs, then it would be easier long-term and nicer for the git history, otherwise we'll need to play around with `CODEOWNERS` in all supported branches on every rotation. But I'm not sure how hard is it for you to add this feature.

[2020-02-14 20:43] muxi commented on #8093
You are right. I did not realize that but looking at the code in `upstream_impl` again it seems to be equivalent (except this is an on/off switch which has slightly different semantics). In that case I'll probably leave it as is for now. Thanks for the idea!

Besides that, hope to ask another question: is there any way to configure the default `overprovisioning_factor` locally for Envoy (e.g. with

[2020-02-14 22:43] kb000 opened #10072 "router_check_tool can't see response_headers_to_add"
*Title*: response_headers_to_add not available to router check tool

*Description*:
I was trying to verify a direct response route by checking the content-type and content-length headers, but these headers aren't present during validation.

[code]

[2020-02-14 23:04] lizan commented on #10049
It won't be hard either if we change CODEOWNERS when bootstrapping 1.13.1-dev (e.g. https://github.com/envoyproxy/envoy/pull/10025)? With the group @envoyproxy/stable-maintainers you don't need play around it every rotation?

[2020-02-14 23:05] PiotrSikora commented on #10049
Sure, but then everybody in @envoyproxy/stable-maintainers would be spammed, and only release manager has the permission to merge (AFAIK).

[2020-02-14 23:07] lizan commented on #10049
I'm fine either way, we can have a `envoyproxy/stable-manager` which only contains release manager.

[2020-02-15 00:44] willdeuschle opened #10073 "Envoy doesn't output valid prometheus metrics"
**Bug Template**

*Title*: Envoy doesn't output valid prometheus metrics

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

Envoy should produce valid prometheus metrics. Specifically, it should group all metrics of the same type into a single block (which it currently does not).

From the prometheus spec [here](https://github.com/prometheus/doc

[2020-02-15 04:45] #9617 closed

[2020-02-15 05:45] #9590 closed

[2020-02-15 06:45] #9623 closed

[2020-02-15 07:38] rulex123 commented on #9951
Hi! I would like to help out with this.

[2020-02-15 10:51] #9106 closed

[2020-02-15 10:55] rulex123 commented on #9568
@mattklein123 I will do one last iteration where I separate out debugging-related tools (i.e. valgrind) and proto-format tools.

[2020-02-15 16:32] xpepermint opened #10075 "Forward to Host header"
This is a question. I'd like someone to help me write a configuration that would forward requests to hosts based on `Host` header (reverse proxy). We could test this from localhost with this command:

[code]

Here is my setup:

* I use Docker for Mac (local development setup).
* I deployed two echo http servers `echo1` and `echo2` (returns just Hello world 1/2).
* I also created a custom network w

[2020-02-16 06:43] seflerZ commented on #10059
We've decided to use pilot-agent to deploy other Envoy and hot swap the network traffic. Still, I hope to enable dynamic reloading because it's much simpler and easier.

[2020-02-16 09:31] xpepermint commented on #10075
I've figured this out. For envoy configuration above to work, the container must be deployed to Docker with `--network proxytest`.

[code]

The configuration won't work if you try to deploy the container in two steps:

[code]

Why is that so?

[2020-02-16 12:29] s-vivien opened #10076 "Lua filter buffering while making async HttpCall"
Hi,

I am using Envoy in the following scenario :

Single listener with a single lua filter.
The lua filter makes a HTTP call to a third party API, extracts some data from the response and modify upstream headers accordingly. This is what it looks like :

[code]

Since this API will be used to upload large files, I set the `per_connection_buffer_limit_bytes: 1024` because I don't want Envoy to run

[2020-02-16 18:31] #9601 closed

[2020-02-16 19:31] #9288 closed

[2020-02-16 23:07] jpeach commented on #9174
Another example from the field:

[code]

I had hardcoded our ingress controller on the assumption that no one would need more than 1000 🙄

@mattklein123 Would you take a patch to remove the limit? I can see that it makes sense for some operational patterns, but when end users get to specify the regex directly, we don't always have a good feedback mechanism to report the problem.

[2020-02-17 04:08] aishwaryabk commented on #9962
Reopening this issue as although the envoy build passes, the tests fail. I am on rhel:7.6/ppc64le.

`ERROR: /envoy/test/server/BUILD:331:1: C++ compilation of rule '//test/server:filter_chain_benchmark_test' failed (Exit 1) gcc failed: error executing command /opt/rh/devtoolset-7/root/usr/bin/gcc -U_FORTIFY_SOURCE -fstack-protector -Wall -Wunused-but-set-parameter -Wno-free-nonheap-object -fno-omi

[2020-02-17 04:31] #9624 closed

[2020-02-17 08:23] tsaarni commented on #9359
I wonder if there is any opinions about the [above](https://github.com/envoyproxy/envoy/issues/9359#issuecomment-579314094)? I would be very much interested in implementing support for certificate rotation.

[2020-02-17 12:06] aviramha opened #10078 "feature - AMQP Codec and Filter"
*Title*: AMQP Codec

*Description*:
AMQP is used for RabbitMQ and other message brokers.
The codec will be used to add a protocol filter to route messages to upstreams based on the (draft) conditions:

-  Queue name
- Probably other people have more use cases :)

Besides the load-balancing/filters, metrics will be collected.

I'm thinking on implementing it - should I get approval from one of the

[2020-02-17 14:16] junr03 opened #10079 "dns: use handles to prevent use-after-free problems between dns queries and callback targets"
*Description*:
ActiveDnsQueries have independent lifetimes from their callback targets (strict/logical dns cluster, dns cache). Right now there is an implicit contract where the callback target sets their query pointer to null once the query is resolved, and the query only fires callbacks if it has not been cancelled. However, this implicit contract can create problems when it's not adhered to (e.

[2020-02-17 15:42] alexEnsimag opened #10080 "Forward HTTPS without SSL termination"
Hi,

I am trying to configure Envoy to forward HTTPS traffic without doing SSL termination. Is it something possible?

Scenario:
[code]
Currently, Envoy returns a Bad Request when curl performs HTTP CONNECT.
Is it not supported yet: https://github.com/envoyproxy/envoy/issues/1451 ?
Or not supported at all: https://github.com/envoyproxy/envoy/issues/8213 ?
Is it doable using the TCP proxy?

Here is

[2020-02-17 17:34] #9593 closed

[2020-02-17 17:39] #9769 closed

[2020-02-17 17:53] mattklein123 commented on #10078
In general we request that one of the existing maintainers will "sponsor" your work on this type of filter and handle reviews, etc. This is until we potentially start splitting out unsponsored extensions into a separate repo (proposal for this on my plate). cc @envoyproxy/maintainers for sponsorship request.

[2020-02-17 17:54] mattklein123 commented on #9174
Can't you just set the limit to effectively unlimited (close to max int) in your product?

[2020-02-17 17:56] mattklein123 commented on #10076
Right now the Lua filter always buffered during an HTTP call versus having the option to watermark and apply back pressure. I don't see any reason why we couldn't watermark as well as buffer during an HTTP call (if needed) but this would require some thinking on how to allow the various permutations of what folks want to do. cc @dio

[2020-02-17 17:57] mattklein123 commented on #10059
Is there any reason you can't use DNS? This is generally how we would recommend solving this problem.

[2020-02-17 17:58] mattklein123 commented on #10072
cc @LisaLudique

[2020-02-17 17:58] aviramha commented on #10078
@envoyproxy/maintainers

[2020-02-17 18:00] aviramha commented on #10078
Thanks for the response!!
The group seems to be private, as clicking on the link leads to 404 and I can't seem to tag it.

[2020-02-17 18:11] nareddyt commented on #9174
But this doesn't fix the root problem, where product owners don't notice this until a customer complains. As more people move away from `envoy.config.route.v3alpha.RouteMatch.hidden_envoy_deprecated_regex`, they may NOT realize the new `SafeRegex` field has a default limit that is fairly low (like me). And they will not see this discussion until after a customer complains.

We can at least make it

[2020-02-17 18:13] mattklein123 commented on #9174
I will defer to @jmarantz here who originally requested the limit. I do like the idea of a limit of some type as this is an indication that the user may be doing something they probably should not be. Whether the limit becomes a warning, becomes unlimited, etc. I'm not sure.

[2020-02-17 18:19] mattklein123 commented on #9359
@tsaarni from a quick read IMO we should do some variant of A probably, but I'm just skimming this. At a high level I think we should just make the file watcher do what it needs to do to support the K8s use case. It's possible that this new behavior could be opt-in only for watchers that need it (maybe just for SDS for example, not sure).

[2020-02-17 19:13] rene-m-hernandez commented on #2918
I would like to be able to load the local_cluster via CDS, as well; however, if I were able to simply provide the Cluster configuration via the command line option `--config-yaml`, that would also be extremely helpful.

It is my understanding that any configuration passed through config YAML would be merged with the config file. Unfortunately, when I pass something like this:
[code]
Envoy will thr

[2020-02-17 19:30] s-vivien commented on #10076
Interesting. While I'm aware that a proper implementation of this feature would require a design-thinking, how hard would it be to hardcode the desired functioning myself ?

Would returning `Http::FilterDataStatus::StopIterationAndWatermark` instead of `Http::FilterDataStatus::StopIterationAndBuffer` [here](https://github.com/envoyproxy/envoy/blob/5248a4fb7d4c2a3d1fa151f944d3a63f6b7a06cf/source/ex

[2020-02-17 21:06] wozz commented on #9765
can you retest on v1.13.0 or later? this appears to be a duplicate of #8941 fixed by #8958, shortly after v1.12.0 was released

[2020-02-17 21:17] jmarantz commented on #9174
From the perspective of someone running Envoy as a managed proxy for customers, I want to bound the amount of CPU they can consume. So I want there to be a limit that can be enforced in the engine.

It seems reasonable though to interpret a limit of 0 or -1 or INT_MAX or whatever to be unlimited and just not do the check in that case, and whoever owns the control-plane can default their setting to

[2020-02-17 22:04] jpeach commented on #9174
Yeh, we previously bumped the limit to 1000 and now bumped it to 1m.

From a control-plane PoV, I'd ideally want to have no effective limit and have envoy report some information about regex cost. I can expose that information in any number of ways.

One of the issues here is that it is not clear to me what program size means in terms of CPU and memory cost. For example,

[code]

Is the first rege

[2020-02-17 23:14] junyer commented on #9174
The former compiles to bytecode containing 400 copies of the `[a-zA-Z0-9._-]` character class whereas the latter compiles to bytecode containing 2 copies of it. The former has the `/static/` prefix attached whereas the latter has it detached. Both of these differences have effects on the number of program instructions and implications for the memory footprint of the DFA.

[2020-02-17 23:45] lizan commented on #10080
This is not supported today, #9916 might be also relevant

[2020-02-18 00:16] QiusHosens opened #10083 "Exchange data for one-way network"
i want to exchange data for one-way network.
eg. extranet ip A is 114.100.100.100, intranet ip B is 192.168.1.1,
i want to send data from A to B, and B to A.
can envoy be implemented ？
thanks !

[2020-02-18 01:31] kylebevans opened #10084 "Help understanding http2 stream disabled then closed (onDecoderFilterAboveWriteBufferHighWatermark) in sidecar"
*Description*:
I'm just hoping someone can shed more light on http2 flow control and watermarks to help me solve an issue with streams closing.

Environment: istio 1.4.2 envoy 1.12, k8s 1.14

Envoy runs in a sidecar in an nginx pod.  Sometimes, http2 traffic inbound will get to Envoy, but Envoy doesn't manage to cooperate upstream with nginx in the same pod somehow.  The client eventually times ou

[2020-02-18 01:47] mattklein123 commented on #9174
I'm very open to changes here, but it seems like it's going to be hard to satisfy everyone so maybe we need some more config? What about an option to just warn if a program is above a certain size and/or have a stat which outputs the max loaded regex program size for monitoring?

[2020-02-18 01:47] mattklein123 commented on #10076
Yes I think that will do what you want.

[2020-02-18 02:02] dio commented on #9107
@fabriziomello sorry for the late reply, I've been sidetracked by other things.

1. Cool, yeah, I'll review that.
2. I understand that, however, the norm here is to have that in google docs or something so we can put granular comments, but I don't feel strongly about it.
3. Sure, I'll do the review. and prepare a PR structure for you.

Thanks for the hard work!

[2020-02-18 02:50] wcmolin opened #10085 "route.HeaderMatcher present_match is invalid"
*Title*: *route.HeaderMatcher present_match is invalid*

*Description*:

*Repro steps*:

- envoyproxy/envoy:v1.13.0 in docker

*Config*:

[code]

*Logs*:

[code]

[code]

[2020-02-18 02:52] seflerZ commented on #10059
1. The DNS change got a TTL and usually a long latency and may be cached by operating system.
2. The DNS doesn't have any mechanism to notify the Envoy to switch the IP
3. Since the Envoy xDS ADS gRPC is usually a keep-alive connection. There is no way to disconnect and reconnect except restart Envoy.
4. DNS doesn't got a healthy check, so it's less effective when establishing connection.
5. If yo

[2020-02-18 03:31] #9643 closed

[2020-02-18 06:11] lizan commented on #10083
What do you mean by one-way network? B is behind NAT?

[2020-02-18 08:17] alexEnsimag commented on #10080
Thank you, just wanted to be sure about it

[2020-02-18 08:17] #10080 closed

[2020-02-18 08:19] method350 opened #10086 "JWT Payload in custom header / metadata"
Good day guys,
i got a question regarding the envoy JWT authentication filter (_envoy.filters.http.jwt_authn_) while using the envoyproxy/envoy:v1.13.0 docker image.

According to the documentation this filter should be able to write the JWT payload to custom header or dynamic metadata.
[DOC](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/jwt_authn/v2alpha/config.proto)
I tr

[2020-02-18 08:59] QiusHosens commented on #10083
yes, only B can access A, A can't access B

[2020-02-18 09:04] lizan commented on #10085
Is `invert_match` what you want? try:
[code]

[2020-02-18 09:05] lizan commented on #10084
@alyssawilk ?

[2020-02-18 09:34] aishwaryabk commented on #9962
@cmluciano could you please take a look. Thank You.

[2020-02-18 09:45] wcmolin commented on #10085
@lizan
forgive my poor english.

your suggestion is useful, but I don't want to use ``invert_match``, just ``present_match``.

I tried to set ``present_match`` to true, and then a request with a header ``'x-ams-namespace' ``matched to the cluster. Next, I changed ``present_match`` to false, restarted the envoy, and again sent a request with the same header, but it still matched to the cluster. Why

[2020-02-18 10:34] lizan commented on #10085
@wcmolin because the configuration language protobuf doesn't differentiate whether a bool is not set or false, so `present_match: false` is a no-op. As documented in https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route_components.proto#route-headermatcher, by default the header matcher will be performed as `present_match`, because no other match are set.

[2020-02-18 10:54] wcmolin commented on #10085
ok, thanks

[2020-02-18 10:54] #10085 closed

[2020-02-18 15:06] stevenzzzz commented on #9701
still on my radar.
/nostale

[2020-02-18 15:06] stevenzzzz commented on #9701
still on my radar.
/nostale  ?

On Sun, Feb 16, 2020 at 4:31 PM stale[bot] <notifications@github.com> wrote:

--
Xin Zhuang

[2020-02-18 15:06] stevenzzzz commented on #9701
/nostablebot

[2020-02-18 16:31] asraa opened #10088 "Lowercasing performance / clean-up"
I was taking a look at lower-casing after the PR https://github.com/envoyproxy/envoy/pull/9952/files. I had a performance related change I wanted to throw out there for discussion before I made a PR, as well as some cleanup.

1. `LowerCaseString` in headers currently uses a `lower()` method that calls `std::transform(string_.begin(), string_.end(), string_.begin(), tolower);`. This is *significant

[2020-02-18 16:39] bryce-anderson commented on #9577
We at Twitter have a use case for supporting Finagle-Mux TLS negotiation. It involves an initial exchange of headers which will then determine if the connection should upgrade to TLS (or not).

[2020-02-18 17:05] qiwzhang commented on #10086
In jwt_authn filter config,  you only specified Provider, you also need to specify [Requirement](https://github.com/envoyproxy/envoy/blob/master/api/envoy/config/filter/http/jwt_authn/v2alpha/config.proto#L486).   If not specified, the filter will not verify JWT, and header or metadata will not be created.

[2020-02-18 17:09] asraa commented on #10088
@adisuissa

[2020-02-18 17:25] mattklein123 commented on #10059
Yes those are reasonable points. I can imagine a few different ways of solving this:
1) Using filesystem EDS for this case, and fixing the init order so that filesystem EDS is a special case which comes before non-filesystem EDS.
2) Some new type of cluster in which the hosts are read from the filesystem and/or updatable via admin endpoint (or possibly some variant of static cluster which allows t

[2020-02-18 17:30] mattklein123 commented on #10088
@asraa one small point is that `LowerCaseString` is generally not used in a any perf critical paths that I know of. With that said, I agree we should just swap everything out for the absl utility so this sounds great!

[2020-02-18 18:06] wgallagher commented on #10046
sure, please assign to me. i should have time this week.

[2020-02-18 18:23] cmluciano commented on #9962
Running a build now with gcc to see what I get, normally I run just the build and I've been using clang-8.

[2020-02-18 19:10] jsbucy commented on #9577
I have been working on a proof of concept (hack) that is an implementation of TransportSocket that wraps a RawBufferSocket and an SslSocket and watches the session until the client says starttls and then swaps in the ssl socket. This is nowhere near production ready but it is enough to "openssl s_client -connect -starttls smtp"

The smtp inspection is inlined right now but I think that could be ma

[2020-02-18 19:38] erikbos opened #10089 "ext_authz: allow updating path querystring when allowing request"
*Description*:
I'd love to have the capability to update/rewrite the query string of the request in an ext_authz response before it is forwarded upstream.

This feature would be useful in scenarios where it is required to strip sensitive information from the request before forwarding it upstream. An example use case is APIs where apikey is provided as query parameter.

e.g.
1) client retrieves htt

[2020-02-18 19:49] heimweh commented on #9436
I'll go ahead and close this issue for now, and will re-open if we discover anything new.

[2020-02-18 19:49] #9436 closed

[2020-02-19 00:26] howardjohn opened #10095 "Admin interface /certs shows duplicated certs using SDS"
**Issue Template**

*Title*: Admin interface /certs shows duplicated certs using SDS

*Description*:
I am using SDS (not sure if this is relevant) and have some certs loaded. `config_dump` shows the secrets correctly:
[code]
$ curl -s http://localhost:15000/certs | jq '.certificates[]' -c | sort | uniq
{"ca_cert":[{"path":"./etc/istio/citadel-ca-cert/ca-cert-ns.pem","serial_number":"d6be877145ed11

[2020-02-19 00:28] howardjohn opened #10096 "Private key [redacted] is base64 encoded in config_dump"
**Issue Template**

*Title*: Private key [redacted] is base64 encoded in config_dump

*Description*:

A config dump shows this in the secret section
[code]

Decoding the private key shows
[code]

Not a huge issue here, but we are doing the base64 encoding after we do the redaction, which makes it look like we aren't actually redacting things.

This is not really important, seems like a cosmetic is

[2020-02-19 00:47] #10072 closed

[2020-02-19 01:00] incfly commented on #10096
This is intended as how envoy redact data source, https://github.com/envoyproxy/envoy/pull/9315#discussion_r356900888

@mergeconflict fyi. I suggest we can close this one and maybe have some doc if lack

[2020-02-19 01:05] howardjohn commented on #10096
Just to clarify, I am only suggesting it should be
[code]

Rather than `"W3JlZGFjdGVkXQ=="`.

[2020-02-19 02:29] QiusHosens commented on #10083
of course, B can connect to A with socket.
i mean B can ping A, A can't ping B

[2020-02-19 02:31] QiusHosens commented on #10083
yes. B is behind NAT, i mean B can ping A, A can't ping B. B can connect to A with socket.

[2020-02-19 05:44] ramaraochavali commented on #10095
The `/certs'  endpoints displays certs from all the tls contexts. So if the same cert is repeatedly used in multiple tls contexts, I think it is expected that it is shown multiple times as per the current implementation.

[2020-02-19 07:29] method350 commented on #10086
@qiwzhang Thank you very much! That did the trick.

[2020-02-19 09:42] lizan commented on #9962
Tests aren't built with gcc on CI, and I don't expect it will always pass.

[2020-02-19 13:37] yxue commented on #9946
I opened a draft PR for making retry policy pluggable. @snowp @mattklein123 could you please take a look if I am on the right track? I think we can have more discussion based on the current implementation.

1. In the PR, I added a pluggable class which contains a function
[code]

2. Add the pluggable class to the `RetryStateImpl` which is similar to `RetryPrioity` and `RetryHostPredicate`

[2020-02-19 14:35] adisuissa commented on #10088
Looking at `absl::AsciiStrToLower(text)` it seems that there are 2 versions, one works in-place, and the other that copies a string_view, and operates on that. From the perf test, I assume that `BM_AsciiStrToLower` uses the in-place version.
In any case, I would suggest using this over std::transform, wherever it's possible.

[2020-02-19 15:29] kiefersmith opened #10100 "gRPC Example Fails"
*Title*: *gRPC Example Fails*

*Description*:
Running the gRPC example as-is does not work.  It does work if the Envoy image is changed from the stable Envoy image (envoyproxy/envoy:latest) to the Dev image (envoyproxy/envoy-dev:latest).  Sorry if this is a bug rather than an issue.

Fails with:
`grpc-server-proxy_1  | Didn't find a registered implementation for name: 'envoy.filters.network.http_c

[2020-02-19 15:50] mergeconflict commented on #10096
@howardjohn: The trouble is that `inline_bytes` is not of type `string`, it's of type `bytes`, which is always serialized in base64. We thought about putting in some special-case handling, while working on PR #9315, to change `inline_bytes` to `inline_string` (since, yep, it's sort of a cosmetic wart), but decided against it.

If you're interested, you could submit a change to the documentation (d

[2020-02-19 16:17] cudneys commented on #1178
This is a big problem for us as well.

[2020-02-19 16:25] danzh2010 opened #10102 "quiche: implement QUIC stats API"
source/extensions/quic_listeners/quiche/platform/quic_server_stats_impl.h has no-op implementation for QUIC stats interface, i.e. QUIC_SERVER_HISTOGRAM_ENUM_IMPL. We need to implement those with Envoy stats.

[2020-02-19 16:28] danzh2010 commented on #2557
As QUIC integration is functionally working, we are trying to list out all the things that need to be done before we can run this feature in production. I created a full list [here](https://github.com/envoyproxy/envoy/issues?utf8=%E2%9C%93&q=is%3Aopen+label%3Aarea%2Fquic+author%3Adanzh2010), among which I think below are the blockers which we definitely need to add before QUIC runs in production:

[2020-02-19 17:13] mattklein123 commented on #10100
Please use the configs that match the stable release you are using. That should work.

[2020-02-19 17:21] junr03 commented on #9712
@mattklein123 did you mean to re-open this?

[2020-02-19 17:23] mattklein123 commented on #9712
Sorry I didn't realize it is done.

[2020-02-19 17:23] #9712 closed

[2020-02-19 17:39] mabukhovsky commented on #10100
@mattklein123 @kiefersmith I'm facing the same issue when I run front-proxy example: https://www.envoyproxy.io/learn/on-your-laptop. Switching to envoyproxy/envoy-dev:latest doesn't help in this case. I'm facing the same issue with v1.13.0, v1.12.2, v1.11.0 etc. Please advise how to run front-proxy example. Thanks!

`[2020-02-19 17:36:14.700][6][info][config] [source/server/configuration_impl.cc:6

[2020-02-19 17:52] kiefersmith commented on #10100
What configs?  If this is required to get the example to work maybe it should be added to the README?

[2020-02-19 17:58] mattklein123 commented on #10100
See https://github.com/envoyproxy/envoy/issues/6361. The official docs do use snapped image/repo/etc. versions, but it's not possible to keep the README in the repo up to date for old versions. PRs appreciated to make this better.

re: @mabukhovsky comment, if it's not working on master I'm not sure what is going on and it will need to be investigated.

[2020-02-19 18:34] kiefersmith commented on #10100
I don't fully understand the issue, but I can get the example to work and now this is documented for others.  If I see a way for improvement I'll make a PR.  Feel free to close.

[2020-02-19 18:34] #10100 closed

[2020-02-19 18:40] hofmannmich opened #10104 "envoy.config.filter.http.ext_authz.v2.ExtAuthz as http_service does not use config uri"
*Title*: *ExtAuthz with http authorization server does not use configured uri*

*Description*:
I want to combine the ExtAuthz Authorization Service with my http authentication service. The configured uri is not taken in the request to the Auth Service. The Auth Filter uses the original url and sends the auth request to this url. Did I make mistakes in my config file?

The endpoint ```http://host.d

[2020-02-19 18:43] mabukhovsky opened #10105 "Front-proxy Example: Didn't find a registered implementation for name: 'envoy.filters.network.http_connection_manager'"
*Title*: *Front-proxy Example: Didn't find a registered implementation for name: 'envoy.filters.network.http_connection_manager'*

*Description*:
I'm facing the issue when I run **front-proxy** example: https://www.envoyproxy.io/learn/on-your-laptop. Envoy doesn't start due to **Didn't find a registered implementation for name: 'envoy.filters.network.http_connection_manager'** error.
Switching to

[2020-02-19 20:38] stevenzzzz opened #10106 "admin: expose host locality to hosts in cluster_status"
**Issue Template**

*Title*: For a multiple localities cluster. it'd be nice if we can show the locality information of hosts in the cluster.

*Description*:
Show host locality information in the admin/cluster/ dump.

[2020-02-19 20:54] cmluciano commented on #9962
I tried to spin a build but it ended up timing out do to some issues with my bazel cache, I have one running now again. @aishwaryabk Are you locked in to using gcc or is clang a possibility?

[2020-02-19 21:23] lizan opened #10108 "coverage_tests fail in specific order"
when running coverage_tests as of 1223a2b4aef6eb90f3e34eebf496aead4930c4ab in shard 27 of 50:

backtrace from gdb:
[code]

Reproduce steps:
[code]

[2020-02-19 21:43] stevenzzzz commented on #10106
/assign stevenzzzz

[2020-02-19 23:11] derekargueta commented on #8571
dev branch here: https://github.com/derekargueta/envoy/tree/oauth-filter
To keep the scope limited, I plan on initially supporting the authorization code grant for browser-based workflows, storing an HMAC'd token in browser cookies. Subsequent iterations can add support for PKCE, JWT, etc.

one open question I have for now is the handling of `state` - randomly generated nonce in the 302 redirects

[2020-02-19 23:31] jmarantz opened #10111 "stats: remove max-obj-name-len command-line option."

[2020-02-19 23:58] lizan commented on #10104
@dio @gsagula ?

[2020-02-20 00:22] #10088 closed

[2020-02-20 00:34] Shikugawa commented on #9916
Is anyone working on this? I will implement this. @mattklein123 @lizan @rshriram

[2020-02-20 01:05] lizan commented on #9916
@Shikugawa yes I am, just pending integration test.

[2020-02-20 01:12] lizan commented on #10086
Closing as answered.

[2020-02-20 01:12] #10086 closed

[2020-02-20 01:15] lizan commented on #10083
@QiusHosens What is the protocol are you using, where do you want to deploy Envoy? Generally it depends on the connectivity between A <-> Envoy, and B <-> Envoy, so if you deploy Envoy where NAT happens it could work.

[2020-02-20 01:49] QiusHosens commented on #10083
@lizan i want to use http, but i cannot deploy Envoy where NAT happens, only can deploy Envoy on A and B, can it work?

[2020-02-20 02:09] Shikugawa commented on #9352
@snowp Is anyone working on this? If not, I will implement.

[2020-02-20 02:10] snowp commented on #9352
Not that I'm aware, feel free to take this one.

[2020-02-20 02:19] forkjoseph opened #10112 "Making httpcall to external services in lua filter"
Hi,

I'm trying to configure Lua filter to make HTTP call to an external service. From the documentation, the API defines `headers, body = handle:httpCall(cluster, headers, body, timeout)`.

It looks like "cluster" refers to Kubernetes cluster or any other Pod. Is there a way to make a Lua call to external services without authorization or ServiceEntry in Istio?

Here's my Lua code:
[code]

[2020-02-20 14:44] dkiser commented on #9822
Ran into this issue as well with an HTTP request (`content-type: application/x-protobuf`) in a POST body attempting to send the request to https://github.com/open-policy-agent/opa-istio-plugin.

[2020-02-20 16:14] #9675 closed

[2020-02-20 16:38] nathan-vp commented on #8571
@derekargueta I don't see any objection to storing the `state` in a secure browser cookie. In fact, we do the same in the OIDC external_authz filter that we built within our organization.

Do you also plan to work on refreshing the access token as it (nears?) expiry, using the refresh token? The refresh token would be present if the `offline_access` scope is requested.

Looking forward to have thi

[2020-02-20 17:46] #10106 closed

[2020-02-20 17:50] #10041 closed

[2020-02-20 17:53] snowp commented on #10112
The cluster refers to an Envoy cluster (https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cluster.proto, defined in your bootstrap or through your management server). You should be able to define a cluster for your remote service and reference that in your lua call

[2020-02-20 17:54] mabukhovsky commented on #10105
I've found a way how to fix the issue. All *.yaml files in **front-proxy** should be updated:

`envoy.filters.network.http_connection_manager` replace with `envoy.http_connection_manager`

Same updated is needed at Dynamic Forward Proxy configuration page because the configuration listed will be failing due to the same issue: https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filt

[2020-02-20 18:01] mattklein123 commented on #10105
PRs appreciated. Unfortunately the learn documents are not really owned/updated right now as they are not covered by our sphinx doc build. cc @zuercher who has been working in this area.

[2020-02-20 18:22] snowp opened #10119 "Wrong response code details set on response body too large"
https://github.com/envoyproxy/envoy/blob/6a95a21ce49d1144d3cde7159c767c192a44d8a4/source/common/http/conn_manager_impl.cc#L2318 clearly shows that we're setting `RequestHeadersTooLarge` when we fail the request due to the response body being too large. We should update this to use a more appropriate response flag.

Setting a response flag would also probably be useful here.

[2020-02-20 19:09] forkjoseph commented on #10112
Thanks for the pointer! I'm wondering whether there's a way to refer dynamically to "external cluster" that points to external end-point when a cluster is not found in the configuration.

[2020-02-20 19:23] j-bro commented on #10070
Thanks, setting `reuse_port` does indeed prevent the crash.

[2020-02-20 20:48] danzh2010 commented on #9440
Woops, sorry, I totally forgot @cstrahan has already started this work. How far did @cstrahan go?

[2020-02-20 23:44] danzh2010 commented on #7465
Actually to simplify the logic, we only need to close all exiting QUIC connection before destroying the UdpListener. It's not necessary to wait for existing requests to be finished. So as long as we make sure a ConnectioClose frame is sent before calling ActiveQuicListener::destroy(), we are good.

Because of SO_REUSEPORT, each UdpListener has their own listening socket. Destroying UdpListener mig

[2020-02-21 05:13] ramaraochavali opened #10124 "Envoy skips calling rate limiting service when request header is not present"
We have configured the rate limiting service with three request headers actions like

[code]
If in a request the `custom-header` does not have a value, Envoy skips calling the rate limiting service.

Debugging it further, found that if any of the `populateDescriptor` call here returns false it skips adding the descriptor

https://github.com/envoyproxy/envoy/blob/5be15b31aa46e3c3776a15fd3d399c67ac4

[2020-02-21 06:46] method350 opened #10125 "Rewriting response body depending on HTTP status code"
I'm trying to implement the following scenario: JWT validation with _envoy.filters.http.jwt_authn_ filter -> external request authorization with _envoy.ext_authz_ -> additional response body validation with _envoy.lua_ _envoy_on_response_ function. If response body has any not authorized data i would like to replace the response body with my custom error response. So far LUA scripts are supporting

[2020-02-21 06:53] sanjaypujare opened #10126 "Document behavior for non-proxy (such as gRPC) server side xDS clients"
*Title*: *Document behavior for non-proxy (such as gRPC) server side xDS clients*

*Description*: Non-proxy xDS clients (such as gRPC) may need to fetch inbound listener configurations for specific ports. We need to be able to specify that using existing APIs.

We have added support for non-proxy xDS clients to fetch only the specific API Listener resources they are interested in (https://github.c

[2020-02-21 08:52] hofmannmich commented on #10104
concerning your question label: I dont know if it is a question or a bug with the uri handling of a http authz service

[2020-02-21 09:28] lys861205 opened #10127 "GRPC must not have a cluster name specified"
my yaml config file:
======================================
[code]
======================================
when run ` envoy -c envoy_eds.yaml --service-cluster some_service --service-node node0`, report error:
**envoy::api::v2::core::ConfigSource::(DELTA_)GRPC must not have a cluster name specified: api_type: GRPC
cluster_names: "xds_service"**

how do it?

[2020-02-21 10:27] codebreach opened #10128 "GRPC Web Error Handling"
*Title*: GRPC Web served with `http_filters: [{name: envoy.grpc_web}]` results in CORS issues when non returning success

*Description*:
Issue as seen in Chrome:
[code]
This GRPC API is returning a non success response. For success response it continues to work as expected.
Sample non success response when hitting GRPC Directly:
[code]

Response Headers (success):
[code]
Response Headers (failure)

[2020-02-21 10:28] codebreach commented on #10128
One note:
Nginx is our External Load Balancer and we run Envoy as a sidecar to handle transcoding

[2020-02-21 13:00] tazmanian10 commented on #1220
Hello,

I have been trying to set multiple trusted CAs through Secret Discovery Service, however it seems that only the first one in the file is taken into account. Is there any other way i am missing out in order to set a list of trusted CAs, or is the feature not supported at all through SDS?

[2020-02-21 13:09] rafaelcaricio commented on #99
All comparison pages are gone now. Where can we get a link to a comparison?

[2020-02-21 14:05] moderation commented on #99
Maintaining accurate comparisons is time consuming. There are a number of third party sites that provide this information like https://layer5.io/landscape

[2020-02-21 14:13] jonnysgomes commented on #6589
Hi @htuch , I'm using Istio and I'm having an issue related with path traversal. The Envoy version is 1.12. Istio brings the normalize path configuration enabled by default, as we can see [here](https://github.com/istio/istio/pull/14191/files). Even with that configuration enabled, I still can navigate through the url path, for instance:

`https://my.domain.net/myservice/../otherplace`

According

[2020-02-21 14:39] jkendzorra commented on #9980
Can confirm none of the format strings are expanded for authorization requests; is there any other way to do this?

[2020-02-21 15:42] eldondevat commented on #7946
@mattklein123 @sam80180 This doesn't seem that stale, as we just ran into it. ok to reopen?

[2020-02-21 15:46] sam80180 commented on #7946
OK

[2020-02-21 15:49] jkendzorra commented on #7946
Seems to be related to https://github.com/envoyproxy/envoy/issues/9980 as well

[2020-02-21 16:59] sanjaypujare commented on #10126
CC @envoyproxy/api-shepherds @mattklein123 @htuch

[2020-02-21 19:26] mattklein123 commented on #10124
Agreed this feels like a bug to me.

[2020-02-21 19:30] #9523 closed

[2020-02-21 19:31] mattklein123 commented on #10126
IMO this sounds fine to me, though I would probably not call it a port and just say that an opaque string can be passed in resource-names to avoid wildcard processing? I think that would be more generic and serve the same purpose? @lizan any objections here?

[2020-02-21 19:54] sanjaypujare commented on #10126
Yes that would be ideal except we need to be able to differentiate between client side usage and server side usage by proxyless (aka gRPC) xDS clients.

For client side usage the gRPC client provides "host:port" as `resource-names` in the request. And we have the xDS server using that to return an [ApiListener](https://github.com/envoyproxy/envoy/blob/master/api/envoy/config/listener/v2/api_listen

[2020-02-21 19:58] mattklein123 commented on #10126
I think my point though was that isn't this an implementation detail of the service you are providing? From the xDS perspective it's still just an opaque name?

[2020-02-21 20:00] mattklein123 commented on #2557
Awesome @danzh2010, thanks for the summary. Very exciting stuff. The only thing I would add is that once we feel that the code is alpha/MVP ready, we need to do a doc pass and actually add documentation on how to configure/operate/etc. I can work with you offline and help with that as needed. Thank you!

[2020-02-21 20:46] sanjaypujare commented on #10126
The xDS client (proxyless gRPC) and the xDS server (some control plane like Istio Pilot) can come from different environments and in that case they need to have a common understanding of what "host:port" vs ":port" mean in the LDS `resource-names` field so I think this is not just an implementation detail. I am thinking the xDS spec here is the only place where we can formalize or standardize this

[2020-02-21 20:49] mattklein123 commented on #10126
What if the server is listening on a unix domain socket? I just don't see why we would specify something like this as part of the protocol itself when an opaque string would work just fine.

[2020-02-21 21:46] PiotrSikora commented on #6589
@jonnysgomes normalized `https://my.domain.net/myservice/../otherplace` is `https://my.domain.net/otherplace`, not `https://my.domain.net/myservice`.

Without normalization, `/myservice/../otherplace` is matched against `/myservice` prefix, which is potentially a security issue, since you're really accessing `/otherplace`.

With normalization, `/myservice/../otherplace` is matched against `/otherp

[2020-02-21 21:47] lizan commented on #10128
have cors filter before the grpc_web filter might solve that.

[2020-02-21 21:52] PiotrSikora commented on #1220
Multiple trusted CAs should work in the same file / SDS resource. How are you testing this, exactly? In any case, please open a separate issue, since this issue is tracking expiration date when using intermediate certificates.

[2020-02-21 22:02] toddmgreer opened #10131 "CacheFilter: Parse and handle 'vary' response headers"
CacheFilter doesn't yet notice 'vary' response headers. At a minimum, it should refuse to cache such responses. For full functionality, it should enforce CacheConfig.allowed_vary_headers during insertion, and copy listed headers to LookupRequest::vary_headers_ during lookup.

Doing at least the minimum is a blocker for deployment.

[2020-02-21 22:06] toddmgreer opened #10132 "CacheFilter: Parse and handle range requests"
CacheFilter needs to parse range requests, and serve the appropriate range from cache if possible.

[2020-02-21 22:08] toddmgreer opened #10134 "CacheFilter: Implement key customization as specified in CacheConfig.key_creator_params"
Not a blocker for many deployments.

[2020-02-21 22:13] toddmgreer opened #10135 "CacheFilter: Ensure that cache key hash function is long-term stable"
CacheFilter uses MessageUtil::hash to compute key hashes, but it isn't clear whether MessageUtil::hash is guaranteed stable across releases, operating systems, etc. This stability is needed for persistent caches, to avoid cache flushes.

Not a blocker for most deployments.

[2020-02-21 22:22] sanjaypujare commented on #10126
That's a good point. Although I can find ways to support UDS etc I am not going to push this idea any more.

So at xDS level let's just keep it as an opaque string and I will open a PR to enhance the verbiage in the xDS API doc to reflect what we agreed on. This issue will be closed when that PR is merged.

[2020-02-21 22:30] #9661 closed

[2020-02-21 22:33] mattklein123 commented on #10126
+1 sgtm

[2020-02-21 23:30] #9664 closed

[2020-02-21 23:37] srini100 commented on #10126
/cc

[2020-02-21 23:57] mattklein123 commented on #9376
Sorry for the multi-month late response here, but I agree with some of your concerns around centralized though I think we should try to work through them, or at minimum figure out how to share a lot more code than we do now. I have some ideas though it might be better to chat in a meeting. Let me know if you want to set something up.

[2020-02-22 00:03] mattklein123 opened #10138 "http/2: potential goaway drain race leads to crash"
We have seen the following crash at Lyft a few times on our edge boxes:

[code]

From some core dump digging I see in the nghttp2 session active outbound item:

[code]

This says to me that somehow the onDrainTimeout final GOAWAY has raced with a bad client incoming frame, and we are seeing that frame get sent when we try to flush the pending frames and then cause a codec exception to be thrown.

[2020-02-22 00:42] jmarantz opened #10139 "server: Remove --restart-epoch command-line option because #9874 computes it automatically"
Currently, a deployment using hot-restart specifies a `--restart-epoch epoch_number` as a command-line argument to the server. Once #9874 is merged, `server.hot_restart_generation` will be computed automatically, eliminating the need for scripting to bump the epoch manually.

We should probably not remove that command-line option, however, until sometime after #4980 is merged, because there will b

[2020-02-22 18:10] beriberikix opened #10140 "Discussion: supporting alternative L7 protocols based on UDP & TCP"
With the recent alpha support of [UDP listener filters](https://www.envoyproxy.io/docs/envoy/v1.13.0/configuration/listeners/udp_filters/udp_filters), I'm hoping to kickoff a discussion on how we should holistically approach adding support for new L7 protocols for Envoy users, with the goal of something like a best practices doc and/or a few proposed new APIs (if needed.)

Envoy has first-class su

[2020-02-22 19:07] engineer1109 opened #10141 "How to build on windows？"
I have seen the powershell script，but I dont see any docs about windows build？

[2020-02-22 22:32] yanniszark commented on #5940
Hi all!
This is a feature we (Arrikto) would like to have in Envoy, as it's something we rely upon to build correct URLs even with multiple proxies in the request's journey.

I am really unfamiliar with advanced C++ code, but I read through the docs and tried to take a stab at it.

According to [MDN's definition for X-Forwarded-For](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwa

[2020-02-23 02:51] dpetzold opened #10142 "XRay Tracer: Segfault in finishSpan"
*Title*: "Segfault in Envoy::Extensions::Tracers::XRay::Span::finishSpan"*

*Description*:
Hello. After enabling the xray tracer Envoy segfaults on the first request. I was able to determine the fault occurs at this line:

https://github.com/envoyproxy/envoy/blob/master/source/extensions/tracers/xray/tracer.cc#L71

The code is covered here:

https://github.com/envoyproxy/envoy/blob/master/test/ext

[2020-02-23 05:44] #9387 closed

[2020-02-23 06:44] #9461 closed

[2020-02-23 20:43] mattklein123 commented on #10142
cc @marcomagdy

[2020-02-23 20:52] mattklein123 commented on #5940
IMO we don't need to do any parsing here as we pass through the host unchanged in almost all cases. We only need to (optionally) set the header when we do one of the header mutation functions?

[2020-02-23 20:57] mattklein123 commented on #10140
This is a pretty high level question so I'm not quite sure exactly how to answer it. In general, we would expect Envoy to be extendable to support almost any L7 protocol. If the right APIs don't exist, we should add them. With that said, there are a few different related issues and concepts here for reference:
- To your point, we are quickly approaching the the number of extensions that is not eas

[2020-02-24 00:24] beriberikix commented on #10140
Thanks for those references! I'm digging into routing proposal, as well as the [UDPA](https://docs.google.com/document/d/1orxTIL9FXtgmyl5TtPRBqGjgp1ekL7oOKDd95wxeCRY/edit#heading=h.49inj0pvxl8p) work in general. Both references definitely feel like they're going in the right direction!

One way to make the question more concrete is to take a protocol and walk through the process and document the h

[2020-02-24 04:42] aishwaryabk commented on #9962
I have tried using clang by setting `DCMAKE_C_COMPILER=/usr/bin/clang` and `DCMAKE_CXX_COMPILER=/usr/bin/clang++`. However now, the build also fails

`ERROR:` `/root/.cache/bazel/_bazel_root/37e3aec351bcd85a6ea8b58e3592ef6e/external/com_google_protobuf/BUILD:106:1: C++ compilation of rule '@com_google_protobuf//:protobuf_lite' failed (Exit 1) gcc failed: error executing command`
`  (cd /root/.cach

[2020-02-24 09:09] sp-manuel-jurado commented on #9922
Hi @lizan @kyessenov @derekargueta @mattklein123,
Could you investigate anything? If you want (maybe It would be useful) I can facilitate you some code using docker containers to be able to reproduce this concrete the error. Thanks in advance.

[2020-02-24 09:14] dio commented on #9922
@sp-manuel-jurado if you can provide that. It will be very useful.

[2020-02-24 10:04] cacedo opened #10143 "Envoy random segmentation fault"
Envoy random segmentation fault

*Description*:
Envoy crashes randomly with a segmentation fault. It happens when we have two Kubernetes services, one head (with cluster IP) and another headless (without cluster IP) pointing to the same set of pods.
We have not observed any pattern, it can crash once or seven times during a period of 24h. It doesn't seem related with load or network activity

We u

[2020-02-24 10:56] dio commented on #10143
cc. @lizan

[2020-02-24 11:28] sp-manuel-jurado commented on #9922
For sure, I try to prepare it during the day and provide it ASAP.

[2020-02-24 14:53] moderation commented on #10143
Istio 1.2.2 and Kubernetes 1.11.7 are quite old. Istio just released [1.4.5](https://istio.io/news/releases/1.4.x/announcing-1.4.5/) and Kubernetes is [1.17](https://kubernetes.io/blog/2019/12/09/kubernetes-1-17-release-announcement/). The Istio 1.2.x train went all the way to 1.2.10 and likely includes an old version of Envoy. Can you upgrade your components?

[2020-02-24 16:32] kritishaw commented on #5930
@poyaz were you able to configure it?

[2020-02-24 16:58] pbacon-blaber commented on #7404
Any updates on this?

[2020-02-24 17:23] marcomagdy commented on #10142
@dpetzold we've communicated on twitter about this, but I'll put it here for posterity. Can you try to narrow down the validation field that causing the error? comment out individual validators in the `daemon.proto` file and see which one is the offender. I'll try to reproduce the issue on my end.

[2020-02-24 17:32] s-vivien commented on #10076
I can confirm that it works like a charm. Keeping the issue open for a stable/legit implementation of the feature.
Thanks.

[2020-02-24 17:43] markdroth commented on #8093
The need for this should be eliminated by #10136.  Feel free to close.

[2020-02-24 18:39] #8093 closed

[2020-02-24 19:33] bcba25 commented on #10128
@codebreach hi! I have the same issue, have you solved this ?

[2020-02-24 19:42] dpetzold commented on #10142
@marcomagdy I can confirm is the the validation on the name. Below is the output from the xray daemon when the name validation is commented out. I'll look into why its not being set.

[code]

[2020-02-24 19:46] #9874 closed

[2020-02-24 21:15] dpetzold commented on #10142
Ok so the name wasn't being set since it wasn't defined in the config. I think it should warn or default. Maybe both?

[2020-02-24 21:34] cfryanr commented on #8571
Hi everyone,

In case it's helpful, I wanted to add that there is a related project in the official Istio ecosystem already which can be used in either pod sidecars or at the ingress gateway to provide everything you need for your end users to acquire tokens from OIDC-compliant identity providers using the authcode flow. It can be easily combined with the existing JWT checking capabilities of Isti

[2020-02-24 21:43] EdwinBetanc0urt opened #10146 "With different routes on the same router you don't get the methods"
When using different routes to redirect to the clusters, it generates the following message Method not found: access-route/access.AccessService/GetMenuAndChild. Code: 12.

[code]

however using only one router for each route works well, this is not the most appropriate
https://github.com/erpcya/gRPC-Envoy-Proxy/blob/master/envoy.yaml

[2020-02-24 21:59] curiouserrandy opened #10147 "References to @com_google_absl should go through bazel_respositories.bzl"
*Title*: References to @com_google_absl should go through bazel_respositories.bzl

*Description*:
https://github.com/envoyproxy/envoy/pull/9952 adds a dependency from include/envoy/http/build to @com_google_absl//absl/container:inlined_vector.  All other
abseil dependencies (and I think all other external dependencies) go through bazel/repositories.bzl and envoy_external_dep_path (I presume to mak

[2020-02-24 23:12] andrewackerman commented on #10100
I can confirm I'm having the same issue as OP, where the proxies fail to start because they "Didn't find a registered implementation for name: 'envoy.filters.network.http_connection_manager'". My actions were as follows:

* Clone the "envoyproxy/envoy" repo:
  * `git clone https://github.com/envoyproxy/envoy`
* cd to the "examples/grpc-bridge" directory:
  * `cd examples/grpc-bridge`
* Run docker-

[2020-02-24 23:26] mabukhovsky commented on #10100
Here's the fix: just replace *envoy.filters.network.http_*
*connection_manager* with *envoy.http_connection_manager*

On Mon, Feb 24, 2020 at 3:12 PM andrewackerman <notifications@github.com>
wrote:

--

Sincerely,
Max

[2020-02-24 23:32] nathanhleung commented on #9924
I ended up using [YAML anchors](https://confluence.atlassian.com/bitbucket/yaml-anchors-960154027.html).

[2020-02-24 23:42] marcomagdy commented on #10142
Thanks. I'll have a PR with a fix up shortly.

[2020-02-24 23:51] zuercher commented on #10105
`envoy.filters.network.http_connection_manager` is the new name and `envoy.http_connection_manager` is deprecated. It seems you're using an older version (though perhaps not by much) of Envoy that doesn't accept the new name. If you use the examples from the version you're building they should work.

[2020-02-25 00:50] zuercher commented on #10146
I think the "Method not found error" is coming from your GRPC server, not Envoy. The normal format for GRPC paths is `/service/Method` so I'd expect your GRPC upstreams to want `/access.AccessService/GetMenuAndChild`. Perhaps you need to use `prefix_rewrite` to strip `/access-route` from the start of your path?

[2020-02-25 01:01] AKBarcenas opened #10148 "Support Certificate Revocation Lists (CRLs) in DER format"
*Description*:
Currently the only supported format for CRLs is PEM format, but this requires conversion of CRLs in DER format to PEM format resulting in an overall larger file.

As noted in #5713:

Similar to #5713, the proposal here would be to support both formats rather than replace PEM with DER.

I am interested in taking on this work and I am opening this issue to track the feature.

[optiona

[2020-02-25 01:03] honeybadgerdontcare commented on #9763
To follow up to @twifkak's comment. The validator will utilize what is written in it's engine and protoascii defined rules to determine if a document is valid. There should not be any divergence from those rules to what is allowed when the attribute `transformed` is present on the `html` tag. As time goes on, more rules may change for the `transformed` type identifier.

[2020-02-25 01:04] dio commented on #10148
@AKBarcenas sounds great!

cc. @PiotrSikora

[2020-02-25 01:22] PiotrSikora commented on #10148
Uhm, we should probably just reopen #5713.

[2020-02-25 01:50] yangminzhu commented on #9376
@mattklein123 Thank you for the reply, what do you think about having the chat in the Envoy community meeting? If it's too late for tomorrow's meeting (02/25), we can do it in the next one (03/10). If you prefer a separate chat, I can set it up and invite other stakeholders (cc @mergeconflict ) to the meeting.

[2020-02-25 05:03] moderation commented on #10147
/cc @asraa, @adisuissa

[2020-02-25 08:11] zyfjeff opened #10153 "Add server.memory_total_physical_bytes stats"
*Title*: *Add server.memory_total_physical_bytes stats*

*Description*:

[optional *Relevant Links*:]

[2020-02-25 08:12] zyfjeff commented on #10153
/assign @zyfjeff

[2020-02-25 09:18] perlun opened #10154 ""/tap admin endpoint is taken" error on hot reloads"
*Title*:"/tap admin endpoint is taken" error on hot reloads

*Description*:
After enabling the tap filter via the config snippet below, we are getting errors when attempting to reload Envoy. Shutting down envoy and doing a full restart works flawlessly.

Envoy version `1.12.2.p0.g55af249-1p49.g8b1f2e3`, using https://www.getenvoy.io/ packages.

[code]

We are using the [hot reload script provided

[2020-02-25 09:19] perlun commented on #6387
@mattklein123 No problem: #10154

[2020-02-25 09:53] tazmanian10 opened #10155 "Cannot load multiple CA certificates through SDS"
Hi all,

i've been trying to load multiple CA certificates through SDS by concatenating them and setting them as an inline string. However it seems that envoy always takes into account only the first one.

In order to test this, I have created two different authorities by using openssl and then created and signed certificates and keys with each one of them. I set the trusted authorities as a reply

[2020-02-25 10:16] dio commented on #10154
cc. @mattklein123

[2020-02-25 10:25] dio commented on #10155
@yxue do you have any ideas on this?

[2020-02-25 10:26] dio commented on #10148
Closing in favor of #5713

[2020-02-25 10:26] #10148 closed

[2020-02-25 10:45] tazmanian10 commented on #10155
I also think that it would be better to add multiple CA through a list, and not through the same string/file. Also the documentation should be updated in order to be clear about the current handling.

[2020-02-25 12:34] potemkin-git commented on #3125
This issue still exists 2 years later.

Same use case: large PR (273 files, +20k lines, -15k lines), 417 pending comments
Same issue: 504 Bad Gateway on comments POST.

![image](https://user-images.githubusercontent.com/18307823/75247995-81770b80-57d3-11ea-9dc5-fb5036f87689.png)

[2020-02-25 12:40] chloerice commented on #3125
^Same, I've just pull an all nighter finishing review of a large PR leaving over 60 comments and I'm unable to submit it for review 😞 https://github.com/Shopify/polaris-react/pull/2725/files

[2020-02-25 14:15] EdwinBetanc0urt commented on #10146
Thank you @zuercher, it worked correctly as you indicated with `prefix_rewrite` as follows:
[code]

[2020-02-25 14:31] #10146 closed

[2020-02-25 15:47] kikogolk opened #10158 "Ext Authz (gRPC): Plugin denies when failure_mode_allow set to true and Auth Server responses 5xx"
*Title*: *Ext Authz (gRPC): Plugin denies when failure_mode_allow set to true and Auth Server responses 5xx*

*Description*:
Hi!

Envoy version: **v1.13.0**

Not sure if this is an issue or just I misunderstood the meaning of the "**failure_mode_allow**" parameter in the HTTP External Authorization plugin (using grpc_service).

From following link:
https://www.envoyproxy.io/docs/envoy/v1.13.0/api-

[2020-02-25 15:48] Zsolt-LazarZsolt opened #10159 "Slow startup due DNS."
*Title*: *One line description*

*Description*:
Envoy is slow to get ready in my IPv6 cluster.
I install envoy 1.12.2 as a part of a contour environment with the attached manifest.
Envoy is installed as a DaemonSet. Some of the pods can take up to 140s to get ready.
I suspect some kind of race condition during startup. If I add a new initcontainer to the DaemonSet, Sleeping 5 seconds, the issue is

[2020-02-25 15:52] danlanxiaohei commented on #8857
any update on this? or any new issue?

[2020-02-25 16:05] mattklein123 commented on #9376
Sure happy to discuss on the call today or some other time as needed.

[2020-02-25 16:41] engineer1109 commented on #10141
I try to powershell        .\ci\do_ci.ps1 bazel.release
But
 ERROR: Process exited with status 127
/bin/bash: bazelget_workspace_status: No such file or directory
Target //source/exe:envoy-static failed to build

[2020-02-25 17:21] yangminzhu commented on #9376
Sorry I can't  make it today, will attend the meeting next time.

Thank you.

On Tue, Feb 25, 2020 at 08:05 Matt Klein <notifications@github.com> wrote:

[2020-02-25 17:27] engineer1109 commented on #10141
./ci/windows_ci_steps.sh
has compiled successfully
but no envoy.exe or other useful things

[2020-02-25 18:37] mabukhovsky opened #10160 "Dynamic Forward Proxy with auto_host_rewrite_header: works for HTTP but doesn't for HTTPS request"
*Title*: *Dynamic Forward Proxy with auto_host_rewrite_header: works for HTTP but doesn't for HTTPS request*

*Description*:
Dynamic Forward Proxy: auto_host_rewrite_header: "X-Host-Port" works as intended for HTTP but doesn't for HTTPS (see the logs). The log is saying:
[source/common/http/conn_manager_impl.cc:278] [C65] dispatch error: http/1.1 protocol error: request headers failed spec complia

[2020-02-25 19:27] ericmoret commented on #3178
Any update on that front? This seems a rather important security feature.

[2020-02-25 19:38] clehene commented on #9738
@Emixam23 you're seeing the error because you're using a deprecated option (`allow-origin`) that is (by default) forbidden in the latest version. That's what the error states.

If you look at the example that @mattklein123 has posted you'll notice the example fix with what you should change it to.
https://github.com/envoyproxy/envoy/commit/8057eed8aceaecc29a28fe1cc3818b67cba32585#diff-428896f72b8e

[2020-02-25 19:41] rgs1 opened #10164 "make `per_filter_config` specific configs work automatically for filters"
Currently filter writers need additional plumbing to allow their filter to do per vhost/route overrides. E.g.:

[code]

and then you have to merge that, with the config object you got from the Filter Factory. It's not _that_ much logic, but it's a bit of hassle to a) do it for every filter and b) remember that you have to do it.

Thoughts on providing some plumbing to avoid repeating the above pat

[2020-02-25 21:22] s-vivien commented on #10076
In fact, that simple modification has a weird side-effect that I'm trying to understand.
If I use handle:respond(...) in my LUA script, 50% of the time the client connection is cut and the client gets no response at all. It never happens with the unmodified code. It looks like a race condition problem but I haven't yet figured it out ...

[2020-02-25 21:49] curiouserrandy opened #10166 "include/envoy/http::header_map_interface has an implicit dependency on source/common/http:header_map_lib"
**Bug Template**

*Title*: include/envoy/http::header_map_interface has an implicit dependency on source/common/http:header_map_lib

*Description*:
As of https://github.com/envoyproxy/envoy/pull/9952 the method Envoy::Http::HeaderString::getStringView() is no longer implemented in include/envoy/http/header_map.h; instead, it is implemented in source/common/http/header_map_impl.cc.  This means that

[2020-02-25 23:31] jsbucy commented on #9133
I'm working on a PR for STARTTLS

[2020-02-26 00:25] #10147 closed

[2020-02-26 00:28] kritishaw opened #10169 "How to configure ratelimit network filter to be able to limit on source ip ?"
**WARNING: If you want to report crashes, leaking of sensitive information,
and/or other security issues, please consider
[reporting them using appropriate channels](https://github.com/envoyproxy/envoy#reporting-security-vulnerabilities).**

**Issue Template**

*Title*: How to configure ratelimit network filter to be able to limit on source ip ?

*Description*:

[optional *Relevant Links*:]

**Bug

[2020-02-26 01:13] dio commented on #10169
cc. @junr03

[2020-02-26 01:22] AKBarcenas opened #10171 "Support Using Certificate Revocation Lists (CRLs) Stored Remotely"
*Description*:
Currently CRLs cannot be retrieved from a remote location by Envoys and must be vended to Envoys as secret configuration in the form of [inline bytes or a file location](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/base.proto#core-datasource).

The proposal here is to allow Envoys to fetch and make use of CRLs stored in a remote location. From #7311, there has been

[2020-02-26 06:28] sam80180 commented on #7946
this problem also occurs when using 'envoy.rate_limit' filter's 'initial_metadata'....

[2020-02-26 08:34] cacedo commented on #10143
We plan to upgrade soon, but we would like to fix it before that.

[2020-02-26 08:58] tazmanian10 opened #10172 "Deletion of certificates"
Is it possible to delete certificates used by envoy through SDS? Sending a default instance of a Secret as a response to the Secret request, seems that it does not work.

[2020-02-26 09:08] kota65535 opened #10173 "Runtime configuration of HTTP fault injection per upstream cluster"
*Title*: HTTP fault injection filter can have runtime settings per **downstream** cluster, but not **upstream** cluster.

*Description*:
I'm trying to simulate a failure of an external service. In my case, fault injection filter should be configured as one of the egress http filters to inject delay or abort requests to the external service.
I want to inject failure only to the requests to the spec

[2020-02-26 11:52] aishwaryabk commented on #7647
Is this issue solved? I am working on testing envoy on `rhel7.6 ppc64le`. I am facing similar errors in
`//test/extensions/tracers/dynamic_ot:config_test`
`//test/extensions/tracers/dynamic_ot:dynamic_opentracing_driver_impl_test`

Failure:
`unknown file: Failure`
`C++ exception with description "opentracing: failed to load dynamic library:` `/root/.cache/bazel/_bazel_root/37e3aec351bcd85a6ea8b58e

[2020-02-26 12:09] vkpardava opened #10174 "Error : SSL error: 268436536:SSL routines:OPENSSL_internal:TLSV1_ALERT_INTERNAL_ERROR"
Hi All,

We have a requirement where Service A communicates to Service B via Envoy hosted as sidecar on the same POD of kubernates

SETUP :
Service A POD has two containers running on different ports.
App Image : 8443
Envoy : 8080

Service B POD has only app container running on given port
App Image : 8443

We have Mutual Authentication in place for both the services so without valid certificates

[2020-02-26 13:34] dio commented on #10174
cc. @lizan

[2020-02-26 13:38] dio commented on #10171
cc. @lizan @PiotrSikora

[2020-02-26 13:39] dio commented on #10164
Seems very useful.

[2020-02-26 13:42] dio commented on #10160
cc. @mattklein123

[2020-02-26 15:27] vkpardava commented on #10174
@davidben @dvorak44 @agl @nharper @cjpatton

[2020-02-26 15:54] mattklein123 commented on #10164
Agreed, IMO this could be part of the filter callback API and/or the route API.

[2020-02-26 15:54] mattklein123 commented on #10160
Is HTTPS trying to use CONNECT? We don't support CONNECT yet.

[2020-02-26 16:46] agl commented on #10174
TLSV1_ALERT_INTERNAL_ERROR means that the TLS endpoint received an &ldquo;internal error&rdquo; alert from the other side of the connection. TLS alerts aren't more descriptive than that. You would have to look at the logs from the process that generated the alert.

[2020-02-26 17:08] kritishaw commented on #10169
@mattklein123 @junr03 - It would be great if you could answer this question either ways so that I can start evaluating other options if this is not possible. Thanks in advance.

[2020-02-26 17:14] IsaacTru commented on #10105
@zuercher The issue is still in the most recent envoy image, but not in envoy-dev.

[2020-02-26 17:17] vkpardava commented on #10174
@agl this came from log only and its just telling this much only. when I trun off the client auth from REQUIRED and change it to REQUEST , i dont see this error but then it does not do MTLS.

How can I find the root cause, that what is making this fail when used with REQUIRED?

only internal error does not says anything.

[2020-02-26 17:25] davidben commented on #10174
You need to look at the other service's logs. (The log from Envoy and BoringSSL simply means "the other side reported an error". In order to determine the error, you need to look at the other side because Envoy and BoringSSL have no way of knowing.)

[2020-02-26 18:01] mabukhovsky commented on #10160
@mattklein123 Thanks for quick response. Do you plan to add HTTPS CONNECT support anytime soon? Without it Dynamic Forward Proxy functionality is limited to HTTP requests only.

[2020-02-26 18:55] dounan commented on #7007
FYI: https://github.com/envoyproxy/envoy/pull/10110

[2020-02-26 19:17] mattklein123 commented on #10160
See https://github.com/envoyproxy/envoy/issues/1451. It's possible that @alyssawilk will implement this as she is working on similar stuff right now.

[2020-02-26 19:55] vkpardava commented on #10174
@davidben There are no logs rotation pertaining to this request, so I doubt its even not reaching the other side due to this error. is it a bug ?

[2020-02-26 19:56] jmuia opened #10179 "Spurious segmentation fault in flushMetricsToSinks -> MetricSnapshotImpl"
*Title*: *Spurious segmentation fault in flushMetricsToSinks -> MetricSnapshotImpl*

*Description*:
Envoy occasionally crashes when flushing metrics, which is unexpected.

*Repro steps*:
Unsure how to reproduce. It is seen spuriously (usually <10 times per day in production fleet).

It has been observed in:
* `1.11.2` + https://github.com/envoyproxy/envoy/pull/9121 + internal patch
* `1.12.2` + ht

[2020-02-26 20:43] davidben commented on #10174
No, it is definitely reaching the other side. `TLSV1_ALERT_INTERNAL_ERROR` means BoringSSL received an `internal_error` alert from the other side. Not only did it get to the other side, the other side ran into an internal error and told BoringSSL about it.

[2020-02-26 21:16] PiotrSikora commented on #10171
Where are you be fetching the CRL from? Local control plane or official CAs? If it's the former, then you might want to use SDS instead?

[2020-02-26 22:05] PiotrSikora opened #10180 "//test/integration:protocol_integration_test is flaky"
I'm not sure why this isn't issue for Envoy's AZP builds, but this test has been extremely flaky in all test environments we run Envoy (i.e. CircleCi for Envoy-Wasm, Prow for Istio, Google internal build infra, and even my local machine).

The flakes (in various test cases) are always the result of the upstream's connection being disconnected unexpectedly.

cc @yanavlasov @asraa

[2020-02-26 23:15] jphx opened #10182 "Route actions prefix_rewrite and regex_rewrite should be a oneof"
*Title*: Route actions `prefix_rewrite` and `regex_rewrite` should be a `oneof`

*Description*:

In the discussion for pull request #10050, it was suggested that the `prefix_rewrite` and `regex_rewrite` route actions be put under a `oneof` in the next api version, v4.  However, it's too early to mark the proto files with that annotation now, so the code change for #10050 didn't add the annotation.

[2020-02-26 23:57] mattklein123 commented on #10179
cc @jmarantz @ramaraochavali there must be some timing issue in the histogram merging code?

[2020-02-27 00:28] #10153 closed

[2020-02-27 01:13] mpuncel opened #10184 "Envoy maps HTTP gateway timeout to gRPC UNAVAILABLE (instead of DEADLINE_EXCEEDED)"
*Title*: *Envoy maps HTTP 504 to gRPC UNAVAILABLE (instead of DEADLINE_EXCEEDED)*

*Description*:
Envoy does mapping between HTTP and gRPC status codes in https://github.com/envoyproxy/envoy/blob/master/source/common/grpc/status.cc

In `grpcToHttpStatus()`, DeadlineExceeded becomes 504, but in `httpToGrpcStatus()`, 504 becomes Unavailable.

*Proposal*:
Make 504 map to DeadlineExceeded in httpToGrp

[2020-02-27 01:23] mpuncel commented on #10184
Apparently 504 maps to Unavailable in the official mapping https://github.com/grpc/grpc/blob/master/doc/http-grpc-status-mapping.md.

The issue I was seeing was when the router filter enforces a timeout and sends a local reply, it starts with a 504 HTTP code which then gets mapped to Unavailable. maybe another option would be to make the gRPC timeout code similarly configurable? Unfortunately that

[2020-02-27 04:23] aishwaryabk opened #10186 "Server Module tests fail on PowerPC ppc64le"
I am working on testing envoy and the tests fail.

Failure:
ERROR: /envoy/test/server/BUILD:331:1: C++ compilation of rule '//test/server:filter_chain_benchmark_test' failed (Exit 1) process-wrapper failed: error executing command
`  (cd /root/.cache/bazel/_bazel_root/37e3aec351bcd85a6ea8b58e3592ef6e/sandbox/processwrapper-sandbox/6388/execroot/envoy && \
  exec env - \
    BAZEL_LINKLIBS=-l%:libs

[2020-02-27 04:53] ramaraochavali commented on #10179
I think it is not histogram merge code, If I am reading this correctly It is actually failing at completion callback https://github.com/envoyproxy/envoy/blob/master/source/server/server.cc#L182 which is `flushStatsInternal`. Are you thinking it could have been caused by some timing issue with  when the completion callback is called?

[2020-02-27 04:59] dio commented on #10184
@snowp do you have opinions on this?

[2020-02-27 06:23] dio commented on #10186
cc. @lizan

[2020-02-27 06:25] lizan commented on #10186
what's your compiler version? cc @cmluciano

[2020-02-27 06:30] lizan commented on #10143
Sorry Istio 1.2.x is EOL'd https://istio.io/news/support/announcing-1.2-eol/ and it is based on pretty old version of Envoy (even not a stable one) that we don't have bandwidth to provide support either.

[2020-02-27 09:44] aishwaryabk commented on #10186
@lizan Compiler version is gcc-7.3.0

[2020-02-27 16:51] vkpardava opened #10191 "Question on Debug Logs"
Hi All,

I keep seeing below logs on envoy with DEBUG level

I am interested to know what is causing this handshake and what is the originating point for this. can log format for debug be updated with setting which can show the source of this handshake?

[2020-02-27 13:46:36.415][24][debug][connection] [source/extensions/transport_sockets/tls/ssl_socket.cc:138] [C340] handshake error: 2
[2020-02-2

[2020-02-27 17:09] snowp commented on #10184
I think we'll want to stick with the gRPC specified mappings, so that leaves making it possible to configure and set the gRPC code separately. WDYT @lizan

[2020-02-27 17:25] #9700 closed

[2020-02-27 17:38] mattklein123 commented on #10184
I think it would be best to handle this as part of the local reply customization work that hopefully someone will pick up and finish soonish.

[2020-02-27 17:42] kyessenov opened #10192 "Proposal: add network direct response filter"
In some cases, we would like to collect telemetry for calls that are known to be missing routes (e.g. explicitly blacklisted network destinations, unknown destinations). The current work-around is to define an empty cluster and then rely on `tcp_proxy` to route to it. What we would want is to minimize resources used to handle such connections, and instead directly respond in a filter.

Do you thin

[2020-02-27 17:56] mattklein123 commented on #10179
Yeah there must be some type of lifetime issue during the merge/update sequence. I haven't looked in detail though.

[2020-02-27 18:03] lambdai commented on #9811
@jrajahalme Thank you for the feedback!
How about this:
Step 1: update the api to allow specifying collection of addresses, 0 or more address.
Step 2: Implementation: if the number of address is 0 or 1, fallback to the current behavior. If it contains both ipv4 and ipv6, bind the first ipv4 or ipv6 address depends on the stack.
Step 3: Introduce extra args to guide how multiple addresses could ben