[2022-04-20 05:26] camfairchild opened #20900 "Typo in grpc bridge Sandbox example?"
https://github.com/envoyproxy/envoy/blob/9141f23079988dc96985d7d5a4992f1849e1e091/examples/grpc-bridge/client/client.py#L11

I think the line should use the port `9911` as this seems to be the proxy's socket, rather than the `9001` specified in the client.py file

[2022-04-20 06:43] pxpnetworks commented on #19612
hi guys, i understand there will be an **auto_sni** option in **tunneling_config** - will it be bounded only to **requestedServerName** from the downstream connection info or we can use other things like **downstreamDirectRemoteAddress** ?
my use case for this is to encode source workload ips in either :authority or SNI when i proxy tcp connections upstream using tunneling_config.

[2022-04-20 07:33] phlax commented on #20897
can you provide information such as

- OS
- Docker version
- docker-compose version

[2022-04-20 08:07] github-actions[bot] opened #20901 "Newer release available `rules_foreign_cc`: 0.8.0 (current: 0.7.1)"
Package Name: rules_foreign_cc@0.7.1
Current Version: 0.7.1@2022-01-03
Available Version: 0.8.0@2022-04-18
Upstream releases: https://github.com/bazelbuild/rules_foreign_cc/releases

[2022-04-20 09:36] daixiang0 opened #20904 "How to add a new event into current libevent loop?"
*Title*: *How to add a new event into current libevent loop*

*Description*:

I want to understand how Envoy works with libevent deeper and implement a custom feature, codes are as below:

https://github.com/daixiang0/envoy/blob/485720d072ecbee4f704e337c0692931a5422c2c/source/server/active_tcp_listener.cc#L26-L34

https://github.com/daixiang0/envoy/blob/485720d072ecbee4f704e337c0692931a5422c2c/sou

[2022-04-20 11:34] ramaraochavali commented on #19612
@jewertow no worries. thank you

[2022-04-20 16:05] mattklein123 commented on #20800
I think to make more progress on this we will need a heap profile. Can you work on getting one? I'm not sure where we are at with built in support for profiles with the new tcmalloc. @rojkov @wbpcode @jmarantz

[2022-04-20 16:30] mattklein123 commented on #20890
We probably need to explicitly handle ARES_ENODATA here:

https://github.com/envoyproxy/envoy/blob/b2f9edfd9a7998f62de49d2160f3000e396b8ee7/source/extensions/network/dns_resolver/cares/dns_impl.cc#L131

[2022-04-20 16:46] jamesmulcahy commented on #20890
@mattklein123 Just chatted with @wanlill on our team, and he's agreed to take a look at this, you can reassign to him.

[2022-04-20 16:50] mattklein123 commented on #20890
Sure SGTM, thank you!

[2022-04-20 18:20] tonya11en commented on #20420
There was some discussion related to this in an old issue you can find here: https://github.com/envoyproxy/envoy/pull/11006.

[2022-04-20 18:31] mbyio opened #20907 "Peak EWMA load balancing"
*Title*: *I would like envoy to support peak EWMA load balancing, in addition to the existing load balancing algorithms.*

*Description*:

Please correct me if this is already supported. :)

We often want least request/least loaded load balancing, which is supported by envoy. But I don't believe envoy has a way to provide load balancing that takes into account the latency of the targets. Peak EWMA

[2022-04-20 18:59] lambdai commented on #20904
due to RAII , the libevent event(`auto file_event` in your code) is destroyed at the end of the function body. https://github.com/daixiang0/envoy/blob/485720d072ecbee4f704e337c0692931a5422c2c/source/server/active_tcp_listener.cc#L31-L34
although your eventfd is not closed.

That says, epoll or dispatcher won't watch your eventfd fd anymore.

The immediate fix is to save it in your own TcpListener.

[2022-04-20 20:02] #20254 closed

[2022-04-20 20:02] #20314 closed, assigned to nobody

[2022-04-20 20:28] dekimsey commented on #16867
Crud. Consul 1.12 just got released and [dropped support](https://github.com/hashicorp/consul/issues/12805) for envoy 1.18. That leaves CentOS 7 without any viable envoy packages.

[2022-04-20 20:49] jmarantz opened #20911 "stats: remove Stats::StorePtr alias"
That is just an alias for StoreSharedPtr and all references in the repo to StorePtr have been removed, and a lint check added to prevent new ones from appearing.

However there are other repos that reference Stats::StorePtr and they need a chance to clean up their references. 2 I know of are internal to Google (CL pending) and Nighthawk -- code changed; haven't issued PR yet.

We should do a commu

[2022-04-20 20:50] jmarantz commented on #20911
@KBaichoo FYI

[2022-04-20 23:09] mattklein123 commented on #20907
This has come up before. Would be happy to see this implemented. This is will be a little bit trickier than a simple load balancer as there will need to be feedback from other parts of the system that drive it, so it might need to be a load balancer and filter pair or something like that.

[2022-04-20 23:18] mbyio commented on #20907
Is that because it would need information about the latency?

[2022-04-21 01:31] daixiang0 commented on #20907
I think so since it needs response times for each worker, counts moving average then uses that value as an inverse weighting when deciding which instance to send traffic to. I am not sure we can directly get it from stats(metrics), or we can add record values for each thread, and dynamically calculate them to get the value for dispatch.

[2022-04-21 01:58] wbpcode commented on #20800
The perf tools should also be ok to get some memory profiles. Then we can try to analyse it.
Or could you provide some completely configuration to reproduce it? It hard for us to help to solve this problem if there is no a way to reproduce it. 🤔

[2022-04-21 02:06] soulxu commented on #20100
The first step is adding an integration for this case https://github.com/envoyproxy/envoy/pull/20914

Then next step is going to check the filter draining code, ensure it skip the draining when there is only listener filters order update and no filter chain update.

[2022-04-21 02:06] soulxu commented on #20100
/assign @soulxu

[2022-04-21 02:07] fengyangdi commented on #20713
OK, It's OK, I have set the wrong response header， inline_string is ok， no need special encode，thank you!

[2022-04-21 02:07] #20713 closed

[2022-04-21 02:25] kakaru1331 opened #20915 "Can not build for front-proxy of examples"
Can't build front-proxy example with docker-compose.
It has been failed when pulling python images used in shared resources (flask and tracing).
And I have solved to change the image from 3.10-slim-bullseye to 3.11.0a7-bullseye

I think it could be a docker registry problem rather than the example.
I'll register the issue just in case.
And the detailed error log is below.

=> ERROR [internal] load

[2022-04-21 02:35] #20635 closed

[2022-04-21 02:38] daixiang0 commented on #20904
Thanks for your great explanation!

I thought `dispatcher` stores the event when the event creates before.

Now it works!

[2022-04-21 02:38] #20904 closed

[2022-04-21 04:24] mattklein123 commented on #20907
Yes we will need to keep rolling per host latencies. This is certainly possible but is not a beginner item. Once we have the latencies the rest is fairly straightforward.

Note also that there is an open issue on latency based outlier detection so the same latency tracking system would feed that also.

[2022-04-21 04:34] mbyio commented on #20907
I see, thank you for the information! I was hoping this would be something I could take on, but this is sounding like it might be too difficult, given that it involves multiple systems.

[2022-04-21 06:27] daixiang0 commented on #20915
It works for me, from the log it says it wants to pull `docker.io/library/flask_service:python-3.10-slim-bullseye`, which we all know it needs to build.

[2022-04-21 07:26] mantori commented on #20738
Old English sheep dog - Emma

[2022-04-21 07:33] phlax commented on #20915
this seems to be the same issue reported in #20897

im struggling to understand the circumstances under which this is failing - wfm locally, and ci is testing this without issue i think

im inclined to think the same, but the error messages are confusing

im trying to understand how that makes a difference, but we need 3.10 anyway

[2022-04-21 08:05] github-actions[bot] opened #20917 "Newer release available `com_github_wasmtime`: v0.36.0 (current: v0.35.2)"
Package Name: com_github_wasmtime@0.35.2
Current Version: v0.35.2@2022-03-31
Available Version: v0.36.0@2022-04-20
Upstream releases: https://github.com/bytecodealliance/wasmtime/releases

[2022-04-21 08:05] #20782 closed

[2022-04-21 09:53] zackzhangkai opened #20919 "[critical][main] [source/server/server.cc:117] error initializing configuration '/etc/envoy.yaml': Didn't find a registered implementation for 'envoy.filters.http.router' with type URL: ''"
Refer this DOC :

https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/fault_injection.html

![image](https://user-images.githubusercontent.com/20178386/164429560-fe2e31db-c6ec-4159-85cb-bfdc82af5c70.png)

envoy pod crash, errors :

[code]

Complete logs:

[code]

[2022-04-21 10:25] ayasha05 opened #20920 "How to integrate LDAP with the envoy proxy?"
We are using envoy with open source redis and wanted to enable the LDAP for envoy, kindly provide some configuration to achieve this.

[2022-04-21 11:33] jtway commented on #20907
I had seen temporal latency mentioned in the outlier detection docs, but had yet to see corresponding code. Guess I know why now. I know we're hoping to use latency in conjunction with our custom consistent hashing load balancing policy by marking latency based outliers as degraded. So I'll definitely be keeping an eye on this.

[2022-04-21 11:49] jtway commented on #20778
This is similar to https://github.com/envoyproxy/envoy/issues/17661

We've been working on a slightly different approach, that we have not had the opportunity to try and upstream, which simply nests the proper case inside the preserve case and only uses the proper casing in these sorts of cases.

[2022-04-21 12:11] mkauf opened #20923 "Failure when building the zstd library"
*Description*:
Since #20434, a local build of envoy fails with these messages:
[code]

*Repro steps*:
On Fedora 35, build the current HEAD of envoy with:
[code]

*Analysis*:
The zstd library is installed in the "lib64" directory, but the expected directory name is "lib".
[code]

*Proposed bugfix*:
The build succeeds with this change:
[code]

[2022-04-21 12:30] soulxu commented on #20919
This is due to https://www.envoyproxy.io/docs/envoy/latest/version_history/v1.22.0#minor-behavior-changes

`
config: type URL is used to lookup extensions regardless of the name field. This may cause problems for empty filter configurations or mis-matched protobuf as the typed configurations. This behavioral change can be temporarily reverted by setting runtime guard envoy.reloadable_features.no_e

[2022-04-21 13:11] vorishirne commented on #20708
@htuch pls help if that would help or pls refer the right person to ask this.

[2022-04-21 15:26] bryanwux commented on #20915
Are you behind a corporate proxy? @kakaru1331 You may want to configure your docker to use proxy.

[2022-04-21 16:06] #20304 closed

[2022-04-21 17:36] pitiwari commented on #15280
@alyssawilk  @wood-push-melon we are also seeing increased latency with similar behavior, can u tell what was the fix

[2022-04-21 20:01] #20341 closed

[2022-04-21 21:25] pitiwari commented on #20319
we are also seeing similar issue where delay is not getting applied correctly. Since this happens in production so we cant post the config dump but anything specific u want us to check or may be part of the dump ?

![Screen Shot 2022-04-21 at 2 23 44 PM](https://user-images.githubusercontent.com/19476133/164554777-9d3e83fb-a1df-4739-8d90-daf9b4e51635.png)

``

[2022-04-21 23:49] pitiwari commented on #20319
from logs found out, 1000ms was for static listener to which envoyfilter doesnt apply, so found it

[2022-04-21 23:53] kakaru1331 commented on #20915
@bryanwux Yes I am. I think you're right.
When I see other people make it without trouble.
Thank you.

[2022-04-22 00:04] daixiang0 commented on #20923
Looks wried, it downloads with github archive link, make no distinction about OS, we can see it works in CI.

[2022-04-22 01:02] wbpcode commented on #20859
I can take it, but I have no much free bandwidth recently. so if there is no other one can take it, I can try to land it afterwards.

[2022-04-22 01:52] soulxu opened #20933 "listener in-place update can be used for listener filter config update"
Inspired by https://github.com/envoyproxy/envoy/issues/20100

Currently update the order of listener filters using the in-place update, since we rebuild the listener filter factory when in-place update.
https://github.com/envoyproxy/envoy/blob/b6bc5ca51227cea3ce00e0302d43ce50031d513e/source/server/listener_impl.cc#L430

That also means we can use in-place update for listener filter config update.

[2022-04-22 01:52] soulxu commented on #20933
/assign @soulxu

[2022-04-22 01:53] soulxu commented on #20933
cc @lambdai

[2022-04-22 01:56] daixiang0 opened #20934 "Metrics List Request"
*Title*: *Metrics List Request*

*Description*:

Now the only way I know to get the metrics list is to deploy Envoy and post requests to the metric endpoint, please tell me if something missing.

When metrics change, a monitor system like Prometheus would raise the error for the missing metrics, which is not conducive to upgrade and maintenance.

I think we can add a doc of metrics list and update

[2022-04-22 02:26] mattklein123 commented on #20934
In general this would be really nice, but it's no so easy as metrics can be created dynamically. With that said I would love to figure out a way to auto generate docs for all standard metrics. cc @jmarantz

[2022-04-22 02:31] keith commented on #16608
The linked bazel issue for this has a fix merged. Is this good in envoy now?

[2022-04-22 02:36] keith commented on #16608
Actually this never was updated in rules_cc, just bazel (as usual). Which is partially why I'm working on https://github.com/envoyproxy/envoy/pull/19760, so I bet it's not fixed

[2022-04-22 02:43] zackzhangkai commented on #20919
Thanks for your replying. It works. And I fix this.

https://github.com/envoyproxy/envoy/pull/20935

[2022-04-22 02:45] #20919 closed

[2022-04-22 03:25] jmarantz commented on #20934
A few things to unpack here:
 * defining doc for each stat in the code where we create the stat -- not sure if that's what Matt meant but I think it's easy to add a new stat and not remember to add documentation for it.
 * a more robust way to prune unneeded stats out of the system than what's currently available via the matcher API, as some stats are read in production code, which would misbehave

[2022-04-22 04:22] daixiang0 commented on #20934
I want to split stats into two kinds: static and dynamic.

For the static one, we list all of them, for the dynamic one, we list all patterns with examples, that would be helpful.

The way to generate docs may be like how API does, or we can update one doc by hand when stats update as the first step, at least cover static stats.

[2022-04-22 04:24] daixiang0 commented on #20464
After we update `CODEOWNERS`, still need it?

[2022-04-22 04:54] htuch commented on #20708
@ggreenway

[2022-04-22 05:03] keith commented on #20464
You can see this stuff on github now as well:

<img width="1075" alt="image" src="https://user-images.githubusercontent.com/283886/164606670-56cc5f52-19e9-4ddc-b42f-628c1b711894.png">

[2022-04-22 05:16] keith commented on #20803
So 14.0.1 doesn't have all the archives that we expect yet. Folks are posting on https://discourse.llvm.org/t/14-0-1-final-has-been-tagged/61701/7 as they upload them. In the meantime we can at least see what issues we have with 14.0.0.

For reference here are the shas of the archives we care about (besides the missing one from 14.0.1) so others don't have to download all of these too:

[code]

No

[2022-04-22 06:45] phlax commented on #20464
yep:

- https://github.com/envoyproxy/envoy/issues/20283
- https://github.com/dear-github/dear-github/issues/410

[2022-04-22 06:54] Crazyigor1987 commented on #20878
@moderation thanks for your answer. Unfortunately, your settings do not bring the desired success either. The cipher "ECDHE-ECDSA-CHACHA20-POLY1305" is still not usable under TLS1.2.

[2022-04-22 07:53] ruifelixpereira opened #20936 "Using OPA external authorization with Kafka network filter"
*Title*: *Using OPA external authorization with Kafka network filter*

*Description*:

[2022-04-22 08:01] #20363 closed

[2022-04-22 08:02] github-actions[bot] opened #20937 "Newer release available `com_github_bufbuild_buf`: v1.4.0 (current: v1.3.1)"
Package Name: com_github_bufbuild_buf@1.3.1
Current Version: v1.3.1@2022-03-31
Available Version: v1.4.0@2022-04-21
Upstream releases: https://github.com/bufbuild/buf/releases

[2022-04-22 08:02] github-actions[bot] opened #20938 "Newer release available `com_google_protobuf`: v3.20.1 (current: v3.19.4)"
Package Name: com_google_protobuf@3.19.4
Current Version: v3.19.4@2022-01-28
Available Version: v3.20.1@2022-04-22
Upstream releases: https://github.com/protocolbuffers/protobuf/releases

[2022-04-22 08:02] #20640 closed

[2022-04-22 08:41] surki opened #20939 "access_log: upstream tls details"
*Title*: *adding upstream TLS session details in access log*

*Description*:
I am using "dynamic forward proxy", want to log upstream TLS details (tls version, ciphers, session id etc). I could only find the formatter for downstream connections, not for upstream connections. Before making changes to add those, wanted to check  if its already available in someway/I am overlooking.

[2022-04-22 09:04] wbpcode commented on #20920
cc @weisisea

[2022-04-22 09:13] wbpcode commented on #20923
May cc @wrowe

[2022-04-22 09:34] wbpcode commented on #20933
Yeah, sound right. Because we always rebuild the listener filter factory when we using the in-place listener update. So we can ingore the listener filter config comparing when we decide whether to use the in-place listener update.

[2022-04-22 09:49] wbpcode commented on #20939
Yeah, there is no specific upstream connnections info in current formatter.

[2022-04-22 10:44] surki commented on #20939
@wbpcode thanks, will make the changes

[2022-04-22 11:02] wbpcode commented on #20939
I am not sure if it is easy to get upstream connection info when we try to flush logs. 🤔

[2022-04-22 12:01] #20303 closed

[2022-04-22 14:14] #20821 closed

[2022-04-22 14:42] mattklein123 commented on #20920
Sorry I don't fully understand the request. Can you say more?

[2022-04-22 15:59] llu94 commented on #20818
That can be done.

[2022-04-22 16:27] ggreenway commented on #20708
I think this is asking for the same thing as #18928. @vorishirne does that sound correct?

[2022-04-22 16:29] tabacco opened #20945 "Missing tags for envoy-alpine 1.22 on dockerhub"
*Title*: Missing tags for envoy-alpine 1.22 on dockerhub

*Description*:

[optional *Relevant Links*:]

[2022-04-22 16:35] keith commented on #20923
Fixed by https://github.com/envoyproxy/envoy/commit/54883cf195073d0ba95c992a1196b263c7c748de ?

[2022-04-22 16:46] tabacco commented on #20945
Hmm it looks like maybe the alpine image was quietly discontinued? Do you not think this is something worth advertising? To my knowledge there was no announced deprecation period, no mention in the changelog, etc.

[2022-04-22 16:52] mkauf commented on #20923
Yes, fixed by 54883cf195073d0ba95c992a1196b263c7c748de / #20918, thanks!

[2022-04-22 16:52] #20923 closed

[2022-04-22 17:23] matthewgrossman commented on #20895
Got it, I think we might just do some allowlist/gradual rollout via templated static config for now. Thanks!

[2022-04-22 17:23] #20895 closed

[2022-04-22 17:26] vorishirne commented on #20708
Oh thats an exact match.He is having that as part of a listener filter.
Is that also possible via overriding this entire function
[code]

[2022-04-22 17:50] vorishirne commented on #20425
@LuyaoZhong I want to test your changes as much as you want. I am a forward dynamic tls proxy geek.

So the traffic has to be routed via iptable rules or how in your example config attached in PR?

[2022-04-22 18:31] lambdai commented on #4540
I'd like to revisit this after [unified filter chain matcher](https://github.com/envoyproxy/envoy/pull/20110) is adopted in istio.

That API enforces the filter chain name. This change greatly reduced the complexity of FDS

[2022-04-22 20:31] egerkke commented on #20650
Hi Lady and Gents,

Some further clarification:
 - the executed load test is also a long (12 hours) stability test. Therefore it is hard to catch the issue with tcpdump when it is happening
 - our upstream server as a peer is limiting the MAX_CONCURRENT_STREAMS to 70 in SETTING frame (we could verify this in tcpdump)

My suspicion is that from time to time as the upstream is loaded we start reachi

[2022-04-22 21:52] jmarantz opened #20952 "admin: consider removing the HTML home page for the admin endpoint or move it to an extension"
Based on discussions with @ggreenway and @mattklein123 , most users access admin via curl, and don't have any need for an HTML display.

Currently, admin "/" returns an HTML response, and admin "/help" returns a list of commands as text.

Locally I think the HTML view is useful and could be more so, but we may be a special snowflake. We could go one of several ways here:
 * delete the HTML generat

[2022-04-22 22:07] mattklein123 commented on #20952
I would vote for option (2), keep it, as an extension. From an onboarding experience I think this is a great thing to have (cc @phlax). There are probably others that use it in prod if you do. :)

[2022-04-22 22:29] lambdai opened #20953 "chaos of host member in a Original dst cluster"
Background:
We are targeting to maintain thousands of hosts in a single original_dst cluster and we are seeing the flaws of the current original_dst cluster implementation.

From a high level, an original dst cluster maintains the active upstream hosts. The host members are created upon downstream requests.

Take a closer look,
1. The main thread maintains a host_map, keyed by host string address

[2022-04-22 22:40] lambdai commented on #20708
Interesting. This subjectLocalCertificate is supposed to be called after the handshake is done. To drive the handshake, you need a certificate.

I am not sure how you'd like to moving forward with a new subjectLocalCertificate() impl

[2022-04-22 22:41] mattklein123 commented on #20953
FWIW the DNS cache code used to work like this but was moved to a mutex to avoid lots of extra memory as well as the CPU cost of doing a bunch of copies for posting. Mutex might be fine here.

[2022-04-23 00:02] #20324 closed

[2022-04-23 00:02] #20346 closed

[2022-04-23 01:31] daixiang0 commented on #20952
I prefer to keep it since I often use dashboard provided by Istio which needs the HTML feature of Envoy. I think users who use Istio + Envoy have similar behavior.

[2022-04-23 02:04] vorishirne commented on #20708
But now I think the dedicated change from above mentioned issue are already the suitable ones. Will try them only

[2022-04-23 02:04] #20708 closed

[2022-04-23 03:35] slahirucd7 opened #20955 "Performance drops when using a large payload with requests"
*Title*: ***Performance result drop when using a large payload size***

*Description*:
We ran a performance test in the AWS EKS environment (considering a Kubernetes deployment) using the envoy proxy. In there, we used three `c5.xlarge` instances (4vCPUs and 8GiB of memory) for the cluster. Also we allocated below memory and CPU limits for the envoy proxy deployment when running the performance te

[2022-04-23 03:41] slahirucd7 opened #20956 "Performance drops when using a large payload with requests"
*Title*: ***Performance result drop when using a large payload size***

*Description*:
We ran a performance test in the AWS EKS environment (considering a Kubernetes deployment) using the envoy proxy. In there, we used three `c5.xlarge` instances (4vCPUs and 8GiB of memory) for the cluster. Also we allocated below memory and CPU limits for the envoy proxy deployment when running the performance te

[2022-04-23 03:42] slahirucd7 commented on #20955
Closing this issue since this is not a bug (due to mismatching label).

[2022-04-23 03:42] #20955 closed

[2022-04-23 08:03] github-actions[bot] opened #20957 "Newer release available `rules_python`: 0.8.1 (current: 0.7.0)"
Package Name: rules_python@0.7.0
Current Version: 0.7.0@2022-03-11
Available Version: 0.8.1@2022-04-22
Upstream releases: https://github.com/bazelbuild/rules_python/releases

[2022-04-23 08:03] #20431 closed

[2022-04-23 11:16] phlax commented on #20945
hi @tabacco you are correct that alpine has been discontinued - although it was after a period of deprecation

I agree we could have communicated this better and that dockerhub is probably the best place for this - apologies if this was not clearer

re adding metadata to dockerhub i opened a ticket regarding this some time ago #19784 - but it will take a bit of work to fix this up, esp for the alp

[2022-04-23 20:01] #20318 closed

[2022-04-24 00:02] #20387 closed

[2022-04-24 02:14] daixiang0 commented on #20956
I think one cause is the limited memory. When requests with large payloads come, Envoy needs to accept them into its own memory space.

BTW, the concurrency level usually is equal to CPU num in my practice， could you share why set it to 2?

[2022-04-24 04:44] sandangel commented on #10942
hi @caleblloyd , could you share your full config for postgres proxy with tls? I'm quite new to envoy. I follow the doc to add postgres filter but it also mentioned the starttls filter which I don't know where to put and a proper config for it. I would really appreciate it.

[2022-04-24 04:49] LuyaoZhong commented on #20425
@vorishirne Yes, you need to route traffic to Envoy with proper iptables rule set.

[2022-04-24 06:49] wbpcode commented on #20953
This is to ensure all the workers can access the host map without a mutex.

I consider the host's update to be a configuration update and assume it doesn't happen frequently. And host map access directly affects data plane access and may be very frequent.

While mutex is a very good solution, not sure what the performance impact will be. Especially when the number of threads is high.

[2022-04-24 07:01] giantcroc commented on #20936
Hi, I think it's good to support external authorization for kafka in envoy, I can take it.

[2022-04-24 08:18] LuyaoZhong commented on #18928
@ggreenway @lambdai

HCM is designed as a terminal filter, it brings a lot of limitation in our case. We want this feature could work with HCM. After the traffic is decrypted, we make the data go through HCM, users could plug in many security functions by extending http filters, therefore the traffic to external is monitored.

Current HCM sets up connection with Upstream in http router filter afte

[2022-04-24 13:33] ivpr commented on #14981
@aqua777 Were you able to identify the problem? We are facing a similar issue in our production
@alyssawilk Is configuring envoy to retry on [reset](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/router_filter#x-envoy-retry-on) right way to workaround the issue?

[2022-04-24 13:33] ivpr commented on #14981
@aqua777 Were you able to identify the problem? We are facing a similar issue in our production
@alyssawilk Is configuring envoy to retry on [reset](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/router_filter#x-envoy-retry-on) right way to workaround the issue?

[2022-04-24 22:58] NersesAM commented on #20952
As an end-user I'd like to keep it be it via option 3 or option 2 which is enabled by default in release binaries.

[2022-04-24 23:03] jmarantz commented on #20952
So with option 2....this could be like configured like wasm in that it's a bootstrap option which is compiled into the default binary, but is easy to disable with something like ` bazel --//source/extensions/admin_html/admin_html:enabled=false`

And if that's disabled then admin "/" will return a message indicating that the feature has been compiled out, and /stats?format=html will return a BadReq

[2022-04-25 01:52] daixiang0 commented on #19438
Fixed by #19471

[2022-04-25 01:52] #19438 closed

[2022-04-25 02:22] wbpcode commented on #20956
I will run some tests in my local machine with ark or nighthawk.

(BTW, is there some flow control policies in your test env?

[2022-04-25 05:05] ayasha05 commented on #20920
We need to integrate the LDAP(external authorisation service) for envoy, any code base or configuration or documentation which I can follow to achieve this?

[2022-04-25 05:12] wbpcode commented on #20920
Can this https://github.com/envoyproxy/envoy/blob/main/examples/ext_authz/config/opa-service/v3.yaml helps?

[2022-04-25 05:51] ayasha05 commented on #20920
Do we have any other services apart from opa and gRPC which is suitable with envoy or this two are the only services which we can integrate?

[2022-04-25 07:28] phlax opened #20963 "Intersphinx mapping is not enforcing local refs strictly"
This is a regression of a problem that we previously had workaround code to deal with

Essentially intersphinx dynamically looks up any refs that are not found in the current doctree in the mapped inventories. This can lead to a situation where an author intends to link to something in current doctree, but uses an incorrect ref that happens to exist in another doctree.

Specifically i noticed that

[2022-04-25 07:32] wbpcode opened #20964 "tracing: rename `upstream_cluster.name` tag name"
Now, `upstream_cluster` is used as tag name for the cluster name and `upstream_cluster.name` is used as tag name for the cluster `alt_stat_name`.

However, for the Json format tracing message, the `upstream_cluster.name` may be treated as a Json object with a `name` field wichin some parsing/message systems (For example, ES). And this will conflict wich the normal `upstream_cluster` tag.

In my op

[2022-04-25 08:23] phlax opened #20966 "Add `release/v1.22` branch"
Now that we have a v1.22 release it would be useful to add a branch for backporting and release testing

cc @mattklein123

[2022-04-25 09:07] phlax commented on #20826
@pradeepcrao i have created milestones for each of the patch releases and updated the links in this ticket to reflect

i have also grouped any PRs i could see into their relevant milestone

[2022-04-25 10:13] pavansh opened #20967 "Envoy Dockerimage is show dev build for 1.20.2 image."
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *using docker image 1.20.2 it is showing envoy version with -dev. *

*Description*:
docker run -it envoyproxy/envoy:v1.20.2 sh
$ envoy --version

envoy  version: 4aa

[2022-04-25 10:17] phlax commented on #20967
hi @pavansh this is a known issue and should be resolved by #20824

[2022-04-25 10:49] phlax opened #20969 "Dynamic FS config example is flakey"
### description

There is an occasional flake - no clear error/reason - but most likely its just updating too slowly

example fail - https://dev.azure.com/cncf/envoy/_build/results?buildId=106424&view=logs&j=f1a49366-51c0-540f-0294-f73c2bb311a9&t=7fd036c9-61ec-5b59-3645-e90950dc67a6&l=2566

[2022-04-25 11:10] slahirucd7 commented on #20956
The concurrency level is calculated using the formula below, as concurrency level is equal to hardware threads.

`Hardware Threads = CPU * 2`

We ran a performance test on CPU 1 with concurrency 1 and 2 and found that concurrency 2 yielded higher results.

[2022-04-25 11:11] slahirucd7 commented on #20956
With the above mentioned performance test, we are using only the router filter and the requests are passthrough requests. We don’t do any modifications to the request. Apart from that, we are talking to an external auth server to validate the requests. In there also we are not experiencing any characteristic relevant to the performance drop. In this performance test we are using HTTP 1.1 with JMet

[2022-04-25 11:20] wbpcode commented on #20956
Yeah, Envoy will buffer the request body.

[2022-04-25 11:22] wbpcode commented on #20956
I mean the flow control policies of AWS EKS.

[2022-04-25 11:47] slahirucd7 commented on #20956
For the AWS EKS we didn't add any network policies. Also we did not change any configurations related to flow control.

[2022-04-25 12:21] fabriziomello commented on #10942
@sandangel have a look to this config example:

[code]

[2022-04-25 12:57] alyssawilk commented on #20873
cc @adisuissa @htuch

[2022-04-25 12:58] alyssawilk commented on #20878
cc @ggreenway @PiotrSikora @RyanTheOptimist

[2022-04-25 13:03] alyssawilk commented on #20894
cc @phlax

[2022-04-25 13:07] alyssawilk commented on #20898
I believe you need to configure the cluster you're using to do TLS upstrea.

[2022-04-25 14:07] mattklein123 commented on #20920
Envoy doesn't have any built in ldap support if that is what you are asking.

[2022-04-25 14:53] jmarantz commented on #20952
Matt -- I'm confused about how the options differ. I thought the main point of moving this into an extension was to be able to reduce code-space overhead for the HTML generation.

I was thinking if that's the goal, we'd parallel the way wasm is compiled in/out of the system, and it can be by default compiled in, but would be easy for envoy-mobile to remove it.

The related question for E-M is whet

[2022-04-25 14:56] mattklein123 commented on #20952
The difference is that for a pure compile time option people have to explicitly set that option in the build, we have to individually test that option in the compile time options CI, etc. If it's an extension it works like every other extension and people are used to using that functionality to add/remove pieces of the system. It's a minor point but all things being equal I would probably do a boo

[2022-04-25 15:03] mattklein123 commented on #20966
https://github.com/envoyproxy/envoy/tree/release/v1.22.0

[2022-04-25 15:14] phlax commented on #20966
thanks

[2022-04-25 15:14] #20966 closed

[2022-04-25 15:39] alyssawilk commented on #20650
Yeah if tweaking concurrent streams fixes the problem, it's likely a disagreement about the stream limits which is the root cause.
You can inform Envoy of stream limits via the settings frame and AFIK Envoy respects that, but if you have 80 streams queue, no upstream stream limits configured, and establish a new connection, it'll happily dump 80 streams on there before it receives the SETTINGS lim

[2022-04-25 15:40] jmarantz commented on #20952
Sorry I'm still missing some subtle point :)

I think wasm is both a bootstrap extension and an enabled-by-default compile-time option. You are right that it'd be necessary to add a test for behavior when it's disabled in compile-time-options; that makes sense.

Is there an official guide to how-to-write-a-bootstrap-extension? Doing this the easiest way possible SGTM especially as I'm not sure the

[2022-04-25 15:51] mukundv18 opened #20974 "Envoy External Authorization"
Can external authorization be integrated with Azure Active Directory? If yes, how? Is there a sample configuration?

[2022-04-25 16:01] alyssawilk opened #20975 "tsan flake of [ RUN ] DownstreamProtocols/ProtocolIntegrationTest.ResetLargeResponseUponReceivingHeaders/IPv4_Http3Downstream_Http2UpstreamNghttp2WithDeferredProcessing"
0x0c3a8008e790: fa fa fa fa fa fa fa fa fa fa fa fa fa fa fa fa
Shadow byte legend (one shadow byte represents 8 application bytes):
  Addressable:           00
  Partially addressable: 01 02 03 04 05 06 07
  Heap left redzone:       fa
  Freed heap region:       fd
  Stack left redzone:      f1
  Stack mid redzone:       f2
  Stack right redzone:     f3
  Stack after return:      f5
  Stack use a

[2022-04-25 16:02] mattklein123 opened #20976 "envoy_reloadable_features_conn_pool_delete_when_idle deprecation"
Your change #17577 (conn pool: default enable runtime feature `conn_pool_delete_when_idle`) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-04-25 16:02] mattklein123 opened #20977 "envoy_reloadable_features_correct_scheme_and_xfp deprecation"
Your change #17372 (http: switching from XFP to scheme) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-04-25 16:02] mattklein123 opened #20978 "envoy_reloadable_features_disable_tls_inspector_injection deprecation"
Your change #17372 (http: switching from XFP to scheme) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-04-25 16:02] mattklein123 opened #20979 "envoy_reloadable_features_fix_added_trailers deprecation"
Your change #18055 (decompressor: fixing a bug for requests with added trailers) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-04-25 16:02] mattklein123 opened #20980 "envoy_reloadable_features_http_ext_authz_do_not_skip_direct_response_and_redirect deprecation"
Your change #17546 (ext_authz: do the authentication even the direct response is set) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-04-25 16:02] alyssawilk opened #20981 "tsan flake of ApiListenerIntegrationTest"
[ RUN      ] IpVersions/ApiListenerIntegrationTest.Basic/IPv4
test/integration/api_listener_integration_test.cc:112: Failure
Value of: done.WaitForNotificationWithTimeout(absl::Seconds(1))
  Actual: false
Expected: true
Stack trace:
  0x104cbf51: Envoy::(anonymous namespace)::ApiListenerIntegrationTest_Basic_Test::TestBody()
  0x104cc2a0: Envoy::(anonymous namespace)::ApiListenerIntegrationTest_Ba

[2022-04-25 16:12] rgs1 commented on #20497
Not stale

[2022-04-25 16:16] alyssawilk commented on #20981
can't repro with 10k runs :-(

[2022-04-25 16:16] #20981 closed

[2022-04-25 16:50] mattklein123 opened #20985 "envoy_reloadable_features_http_reject_path_with_fragment deprecation"
Your change commit 90f16e3f38a0e41ea8f23b585e41c18721dcb203 (Reject or strip fragment from request URI) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-04-25 16:50] mattklein123 opened #20986 "envoy_reloadable_features_http_strip_fragment_from_path_unsafe_if_disabled deprecation"
Your change commit 90f16e3f38a0e41ea8f23b585e41c18721dcb203 (Reject or strip fragment from request URI) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-04-25 16:50] mattklein123 opened #20987 "envoy_reloadable_features_listener_reuse_port_default_enabled deprecation"
Your change #17259 (listener: make reuse port the default) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-04-25 16:50] mattklein123 opened #20988 "envoy_reloadable_features_new_tcp_connection_pool deprecation"
Your change #16465 (tcp: switching to the new pool) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-04-25 16:50] mattklein123 opened #20989 "replace envoy_reloadable_features_sanitize_http_header_referer with config knob"
Your change #17443 (conn_manager: sanitize invalid urls in HTTP header's referer field) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-04-25 16:50] mattklein123 opened #20990 "envoy_reloadable_features_skip_dispatching_frames_for_closed_connection deprecation"
Your change commit 6f272607c9e986dc9cba6a556afa96a23f4e06d8 (Stop processing pending H/2 frames if connection t) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-04-25 16:50] mattklein123 opened #20991 "envoy_reloadable_features_udp_listener_updates_filter_chain_in_place deprecation"
Your change #17988 (quiche: support inplace filter chain update) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-04-25 16:50] mattklein123 opened #20992 "envoy_reloadable_features_use_dns_ttl deprecation"
Your change #18408 (Dns: respecting DNS TTL) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-04-25 16:50] mattklein123 opened #20993 "envoy_reloadable_features_validate_connect deprecation"
Your change #17877 (http3: adding connect support) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-04-25 17:09] mattklein123 commented on #20952
I'm honestly not sure why WASM is a compile time option, it probably shouldn't be at this point, given that bazel should pull it in to whatever extensions use it. cc @PiotrSikora

If we look at https://github.com/envoyproxy/envoy/blob/main/source/extensions/extensions_build_config.bzl, there are several bootstrap extensions, and they are generally in the category of things that need to load early

[2022-04-25 17:20] g0a019a commented on #20920
We are exploring options for any plugin available to integrate ldap to envoy for External Authorization.

[2022-04-25 17:30] yanavlasov commented on #20986
I will need to check as this feature may be used internally, and figure out what to do here.

[2022-04-25 17:51] jmarantz commented on #20952
Sorry what I meant by "compile-time" is that whether it gets pulled in depending on the bazel command line. When I build envoy-static with wasm (default) with -c opt, I get 374M binary without wasm, and 511M binary with wasm.

[2022-04-25 17:56] mattklein123 commented on #20952
Right what I'm saying is I don't understand why WASM needs a different compile time option. It seems to be it should just get included in or out based on your extension config. But that's a different issue.

[2022-04-25 18:29] danzh2010 commented on #20975
I wasn't able to reproduce the failure with 5000 runs with
$ bazel test test/integration:quic_protocol_integration_test  --test_filter="*DownstreamProtocols/ProtocolIntegrationTest.ResetLargeResponseUponReceivingHeaders/IPv4_Http3Downstream_Http2UpstreamNghttp2WithDeferredProcessing" --config=remote --runs_per_test=5000

[2022-04-25 18:57] #20963 closed

[2022-04-25 19:37] danzh2010 opened #20996 "Switch to simulated time system in integration tests"
HttpIntegrationTest would benefit from switching to using SimulatedTimeSystem to avoid flakiness caused by unpredictable delay of timers in real time. Per-discussion in https://github.com/envoyproxy/envoy/pull/20931#pullrequestreview-950002388, we should use simulated time whenever possible in new integration tests and possibly making the switch in the existing ones  as well.

[2022-04-25 20:35] JakeCooper commented on #20800
Gonna grab a heap profile/flame graph for this

[2022-04-25 23:00] rgs1 commented on #10701
@zuercher I think we can close this now that #20466 is done.

cc: @phlax

[2022-04-25 23:04] rgs1 commented on #4160
FWIW, I haven't seen `//test/extensions/filters/network/thrift_proxy:integration_test` fail in a while. Hopefully #20471 helped too.

[2022-04-25 23:14] lambdai commented on #20953
Thank @mattklein123  for the feedback. It's great to know that mutex is considered as practical solution here

[2022-04-25 23:33] lambdai commented on #20953
@wbpcode A lookup only per worker host map makes generally make sense.
However, the sync complexity is still there.

The mutex is way easier. A read write lock has the lowest cost of mental overhead.
If the conflict is intensive, it's trivial to switch to partitioned mutex while each partition is only responsible for a small range of hashes of the addresses.

[2022-04-26 00:54] zuercher commented on #10701
For anyone going across this bug in the future -- we chose option 4 and have deprecated the ttwitter protocol.

[2022-04-26 00:54] #10701 closed

[2022-04-26 01:13] #20559 closed

[2022-04-26 01:17] zhxie commented on #20996
I think this is a duplicate of #4160.

[2022-04-26 01:58] wbpcode commented on #20953
For the eds/dns clusters, we always need to sync the host from main to worker. If a per worker host map is used, the sync would not be as complicated as current implementation.
For the orgianl dst cluster, no any sync is necessary. we can maintain per worker thread independent active hosts as you proposed.
I've always been very uninformative about mutex. Although it may just be my delusion.

[2022-04-26 04:12] htuch commented on #20873
@krnowak

[2022-04-26 04:17] htuch commented on #20884
https://github.com/envoyproxy/envoy/pull/20071 does `initial_metadata` work here? CC @wanlill

[2022-04-26 04:30] wanlill commented on #20884
I think so, we actually have a unit test which exercise this: https://github.com/envoyproxy/envoy/blob/main/test/common/upstream/health_checker_impl_test.cc#L4503

[2022-04-26 06:32] xyq175com commented on #20190
I will work on this and submit PR later

[2022-04-26 06:52] phlax commented on #20190
@xyq175com see #20194 for prior art

[2022-04-26 07:35] coodoing commented on #15113
any further progress?

[2022-04-26 08:07] github-actions[bot] opened #21009 "Newer release available `rules_rust`: 0.3.0 (current: 0.2.1)"
Package Name: rules_rust@0.2.1
Current Version: 0.2.1@2022-04-04
Available Version: 0.3.0@2022-04-25
Upstream releases: https://github.com/bazelbuild/rules_rust/releases

[2022-04-26 08:22] DVMirchev opened #21010 "Due to "requires" keyword, C++ files generated from config.proto do not compile with C++20"
*Title*: Due to the "requires" keyword, C++ files generated from config.proto do not compile with C++20

*Description*:
We've compiled generated headers from config.proto:

https://github.com/envoyproxy/envoy/blob/main/api/envoy/config/filter/http/jwt_authn/v2alpha/config.proto#L368

But one of the fields is **requires** which is a keyword from C++20, which when compiled with gcc9.3 with -std=c++2

[2022-04-26 11:01] egerkke commented on #20650
Hej Lady,
Thanks for the answer! Is it possible to somehow catch in our case if this is the issue that new connection is established, but there is already 70+ streams waiting to be sent via the connection? Can we see this somewhere? Or only with Envoy debug log?
Or the real test will be once [#20696](https://github.com/envoyproxy/envoy/issues/20696) is delivered and trying with this if it helps?

[2022-04-26 11:10] phlax commented on #20750
the instructions for the linux image should be roughly the same on all platforms (there is separate docs for the windows _image_)

re other error - not sure - not something i have seen before - happy to look further if you post more info

this may be a mac-bazel related issue re toolchains so it would be great to track that down if it was the case

[2022-04-26 11:12] phlax commented on #20750
re the original issue - the underlying problem is definitely that the version of python3 seen by bazel is not 3.10

[2022-04-26 11:22] LuyaoZhong commented on #18928
@ggreenway @lambdai ping

[2022-04-26 12:19] #20980 closed

[2022-04-26 12:29] #20996 closed

[2022-04-26 12:29] alyssawilk commented on #21010
cc @adisuissa @keith

[2022-04-26 13:22] #20979 closed

[2022-04-26 14:22] adisuissa commented on #21010
Thanks for bringing this up.

@htuch have you ever encountered a way to change a protobuf generated c++ field name?
Otherwise I guess we have to deprecate this field and remove it pretty soon.

[2022-04-26 14:54] alyssawilk opened #21017 "thrift tests flaking on windows"
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/106885/logs/97

[       OK ] TransportAndProtocol/ThriftConnManagerIntegrationTest.IDLException/FramedBinaryMultiplexed (1255 ms)
[ RUN      ] TransportAndProtocol/ThriftConnManagerIntegrationTest.IDLException/FramedCompactMultiplexed
Failed bash -c "PYTHONPATH=$(dirname C:/botcode/w129/bazel-out/x64_windows-opt/bin

[2022-04-26 15:16] alyssawilk opened #21019 "KeepAliveTimeeTriggersFloodProtection flaky on coverage"
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/106879/logs/292

[2022-04-26 16:43] rgs1 commented on #17898
I might start working on this soon, so re-opening.

[2022-04-26 16:45] rgs1 commented on #17898
Well, I thought commenting would re-open it – it didn't. I'll just open a new one.

[2022-04-26 18:23] phlax commented on #20750
currently blocked by a windows issue, but as mentioned would be good to know whether it causes any platform issues outside of CI

im testing locally on linux (and in linux images) and it passes mac CI - but that is a somewhat limited test

[2022-04-26 18:51] ggreenway commented on #18928
I don't understand what you're trying to accomplish. Are you trying to make sure that downstream connections re-use the same upstream connection?

Changing HCM to a non-terminal filter does not seem like a viable approach.

[2022-04-26 19:25] #20987 closed

[2022-04-26 22:06] wanlill commented on #20890
I've opened #21027 but honestly I don't have strong opinion on whether that is really needed or not : )

[2022-04-26 23:08] #21009 closed

[2022-04-26 23:13] #20939 closed

[2022-04-27 00:19] lambdai commented on #20953
@wbpcode Perhaps I didn't fully get your point of per `host` overhead.

Your estimtated memory print calculation, which is 32 byte-ish per host,  is based on the fact that no duplicated "HostImpl" object is created. That means various of workers don't create HostImpl independently.

Without the sync via a mutex, I would assume each worker would create its own HostImpl (note: not shared_ptr).

Unfo

[2022-04-27 00:37] lambdai commented on #18928
Srroy, I don't fully understand your intention. I sincerely think you need a "better"(in term of reuse and consuming RDS) http async client to fetch the cert.

The HCM as a network filter is over kill because you need to feed the data to HCM and drain.

Since I don't know how good the current http async client is, you can always use the current http async client from an `internal cluster`.
That in

[2022-04-27 01:11] ggreenway commented on #20562
It may be generally useful to have a way to delay service discovery until a cluster is used (even if it's EDS, not DNS). I think it's similar to why we have a separate healthcheck interval for clusters that have never been used.

[2022-04-27 01:56] wbpcode commented on #20953
Sorry. I didn't take the original dst cluster into count. The DNS/EDS clusters always get the lastet host lists in main and sync them to workers. So the sync operations are ok for these type clusters, right?

For the original dst clusters, yeah, may we a mutex is necessary if we cannot accept the memory comsuption of duplicate `HostImpl` objects.

[2022-04-27 03:32] hzxuzhonghu commented on #11909
@[snowp](https://github.com/snowp) @[shashankram](https://github.com/shashankram)

In istio, for normal http, the client cluster upstream tls context alpn protocol is "istio-peer-exchange", "istio"

but the server-side, listener downstream tls context alpn protocols is "h2", "http/1.1". And seems it is intended, can you clarify why the alpn can succeed in this case?

[2022-04-27 04:16] #16608 closed

[2022-04-27 05:41] lambdai commented on #20953
Yeah, original_dst is multi-producer-multi-consumer while DNS/EDS clusters are single-producer-multi-consumer.

I'd like to start with mutex impl.  The good part is that this is complelety implementation details of an original_dst cluster. If the mutex doesn't scale, it's should be too hard to switch back, or keep both.

[2022-04-27 06:01] lambdai commented on #20562
I used to explore delaying EDS request until the upstream connection is desired. A huge compleixity there, and the gain is marginal on top of ondemand CDS.

@ggreenway what's your opinion on my proposal https://github.com/envoyproxy/envoy/issues/20953 ?

I'd like to build a notfication/callback on `endpoint ready` in the `Cluster`. The initial goal was to resolve the race condition at currrent ond

[2022-04-27 08:02] #20417 closed

[2022-04-27 08:07] github-actions[bot] opened #21031 "Newer release available `com_github_curl`: curl-7_83_0 (current: curl-7_82_0)"
Package Name: com_github_curl@7.82.0
Current Version: curl-7_82_0@2022-03-05
Available Version: curl-7_83_0@2022-04-27
Upstream releases: https://github.com/curl/curl/releases

[2022-04-27 08:07] github-actions[bot] opened #21032 "Newer release available `com_github_datadog_dd_opentracing_cpp`: v1.3.2 (current: v1.2.1)"
Package Name: com_github_datadog_dd_opentracing_cpp@1.2.1
Current Version: v1.2.1@2021-01-27
Available Version: v1.3.2@2022-04-26
Upstream releases: https://github.com/DataDog/dd-opentracing-cpp/releases

[2022-04-27 08:07] #18320 closed

[2022-04-27 08:07] github-actions[bot] opened #21033 "Newer release available `org_llvm_llvm`: llvmorg-14.0.2 (current: llvmorg-12.0.1)"
Package Name: org_llvm_llvm@12.0.1
Current Version: llvmorg-12.0.1@2021-07-09
Available Version: llvmorg-14.0.2@2022-04-27
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-04-27 08:07] #20803 closed

[2022-04-27 08:07] github-actions[bot] opened #21034 "Newer release available `org_llvm_releases_compiler_rt`: llvmorg-14.0.2 (current: llvmorg-12.0.1)"
Package Name: org_llvm_releases_compiler_rt@12.0.1
Current Version: llvmorg-12.0.1@2021-07-09
Available Version: llvmorg-14.0.2@2022-04-27
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-04-27 08:07] #20804 closed

[2022-04-27 08:14] phlax commented on #20967
fixed by https://hub.docker.com/layers/envoy/envoyproxy/envoy/v1.20.3/images/sha256-9bcf8720bf8c13effccc30bdfba71b404ffeb599cbf1f26e6a2418694d39091e?context=explore

[2022-04-27 08:14] #20967 closed

[2022-04-27 10:00] acelemore commented on #20062
Great answer it save my day!

[2022-04-27 10:28] itnazeer commented on #8167
Did any one got this working?

[2022-04-27 10:30] rohrit opened #21038 "proxying CONNECT does not seem to work as expected"
*Title*: proxying CONNECT does not seem to work as expected

*Description*:
I am trying to proxy CONNECT requests upstream to another proxy server. The configuration I am using is similar to https://github.com/envoyproxy/envoy/blob/3883a94c0d66fc9c58ca5c11cadf4007b5ee3287/configs/proxy_connect.yaml except I am using HTTP 1.1 instead of HTTP2 for the upstream connect. It looks like Envoy is connect

[2022-04-27 11:41] LuyaoZhong commented on #18928
@ggreenway @lambdai

This feature support needs much more work than we were imagining. To avoid making you confused. I draft a document to provide your context. It's mostly text for now, I could add more diagrams later to help you understand it if you like. Could you leave your comments there?

[TLS Bumping in Envoy](https://docs.google.com/document/d/1B6TaqkwjlUqIOYTLqcprwtsQsg8TXitLQQnvXg2WIbU/e

[2022-04-27 11:43] CaptainGopher commented on #8167
Any updates or workaround? : )

[2022-04-27 12:25] techpavan commented on #6927
Hi @PiotrSikora
Is there a way we can run this command in an envoy container? When I run the same command, it says `bash: bssl: command not found`. I get into container by invoking `docker exec -it container_id bash`. Any suggestions or workarounds?
For now, I am looking for envoy  version: dcd329a2e95b54f754b17aceca3f72724294b502/1.22.0/Clean/RELEASE/BoringSSL
, but would like to know procedure t

[2022-04-27 12:45] rainingmaster opened #21042 "Should we support TCP Keep-Alives on listener side?"
*Title*: *Should we support TCP Keep-Alives on listener side?*

*Description*:
So far we only support [TCP Keep-Alives](https://www.freesoft.org/CIE/RFC/1122/114.htm) on [cluster side](https://github.com/envoyproxy/envoy/blob/main/source/common/upstream/upstream_impl.cc#L80), but as the RFC said:

If we have TCP Keep-Alives on listener side, it will protect our server to hang to many idle connecti

[2022-04-27 12:46] alyssawilk commented on #21038
I'm a bit confusded about what you think the problem is
if you do curl -v -x envoy_ip:10000 https://www.example.com/

I'd expect HTTP connect headers in the clear, encapsulating a tls encrypted request to example.com.  Is this not what you're seeing?

[2022-04-27 12:53] rohrit commented on #21038
Hey @alyssawilk, thanks for the response.

I was expecting the HTTP CONNECT requests to be forwarded on as is by Envoy. So the request to the upstream proxy would be a CONNECT request like "CONNECT www.example.com:443 ....".

At the upstream proxy, I do not see the CONNECT request come from Envoy

[2022-04-27 13:00] alyssawilk commented on #21038
hm.  the router sees
':authority', 'www.example.com:443'
':method', 'CONNECT'
so I would assume that is what it sends out.

what are you seeing at the upstream proxy?

[2022-04-27 13:33] alyssawilk commented on #21019
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/107028/logs/265

[2022-04-27 13:35] alyssawilk commented on #20382
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/107022/logs/270

[2022-04-27 13:37] rohrit commented on #21038
The upstream proxy is not receiving any connect request. It looks like Envoy might be trying to make a TLS connection at this point and failing since the proxy does not except TLS connections. Is it possible that Envoy is behaving like a terminating connect proxy with this configuration?

[2022-04-27 13:49] alyssawilk commented on #21038
can you send a trace of what the proxy is receiving?  I'd expect the proxy to get a CONNECT request, and the encapsulated data to be TLS.  if the proxy is terminating the connect request it will indeed have to deal with TLS coming from curl.

[2022-04-27 14:18] ferjjp opened #21044 "tls inspector makes mysql connection using tcp proxy timeout"
Hi, this is my first issue on envoy!

I am using envoy as a sidecar transparent proxy and I have set up a rule that adds an `envoy.filters.network.tcp_proxy` that allows a container running a mysql client in the pod to access a mysql server. I was also using this listener for outgoing HTTP connections using HCM, and now a change in requirements requires me to have the tls inspector filter enabled

[2022-04-27 15:02] mattklein123 commented on #21042
This is supported today via generic socket options that can be set on the listener socket. Though I can't remember if we have a specific option for it like we do on the cluster side.

[2022-04-27 15:12] rohrit commented on #21038
thank you, @alyssawilk  for the the help so far. I do really appreciate it!

curl to the http site shows.

curl -v -x envoy_ip:10000 http://www.example.com
* Rebuilt URL to: http://www.example.com/
*   Trying 192.168.1.104...
* TCP_NODELAY set
* Connected to  (192.168.1.104) port 10000 (#0)

< HTTP/1.1 200 OK
< age: 523899
< cache-control: max-age=604800
< content-type: text/html; charset=UTF-8
<

[2022-04-27 15:32] rainingmaster commented on #21042
Cluster side should be supported since this PR: https://github.com/envoyproxy/envoy/pull/3042/files#diff-cc3502882065c5e035482a2bccd3a7e43ba62017ad01e4ebb7acb2e15fd31075R445. And the configuration is [tcp_keepalive in UpstreamConnectionOptions](https://github.com/envoyproxy/envoy/blob/main/api/envoy/config/cluster/v3/cluster.proto#L1184).

Could you point out which commit id via generic socket opt

[2022-04-27 15:43] mattklein123 commented on #21042
See `socket_options` here: https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/listener/v3/listener.proto

[2022-04-27 15:55] #20988 closed

[2022-04-27 16:17] sunjayBhatia commented on #19510
@alyssawilk i think this is closeable, was maybe not auto-closed by the PR merge?

[2022-04-27 16:24] rainingmaster commented on #21042
I see, the generic socket option should be cover all options now...

By the way, since we have `upstream_bind_config` in https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto#config-cluster-v3-cluster, `tcp_keepalive ` in https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto#config-cluster-v3-upstreamconnectionoptions should be abandon or u

[2022-04-27 16:28] #19510 closed

[2022-04-27 16:53] mattklein123 commented on #21042
I don't think it's worth deprecating. Maybe do a doc PR?

[2022-04-27 17:01] yanavlasov opened #21053 "Offer more EC curves by default for client connections"
By default Envoy offers only P-256 for EC curves on client connections. This creates hard to diagnose problem when a service offers curves with longer keys only. The error message has `HANDSHAKE_FAILURE_ON_CLIENT_HELLO` and you need to use TCP dump to figure out that there is mismatch between offered EC curves on client and server.

The suggestion is to include curves with higher keys by default f

[2022-04-27 17:02] yanavlasov commented on #21053
@ggreenway

[2022-04-27 18:00] pims opened #21054 "Feature Request: add support to remove response headers by prefix to VirtualHost"
*Title*: *In addition to response_headers_to_remove, support for removing response headers by prefix would be useful*

*Description*:

Envoy `VirtualHost` configuration currently supports removing headers by names with the `response_headers_to_remove` field.

[code]

When the list of upstream response headers to remove isn't known at "config time" or when the list of upstream response headers can

[2022-04-27 18:15] ggreenway commented on #21053
I think the current setting is for the rational explained by @davidben here: https://github.com/envoyproxy/envoy/issues/10855#issuecomment-618023133.

[2022-04-27 19:26] qiwzhang opened #21056 "runtime config "re2.max_program_size.error_level" doesn't apply to "stats_matcher""
*Title*:  runtime flag "re2.max_program_size.error_level" doesn't apply to stats_matcher config

*Description*:

I have this simple envoy config
[code]
Envoy failed to load it with following error:

[code]
It seems that `layered_runtime` runtime is applied after `stats_matcher`.  so its flag of ""re2.max_program_size.error_level" to 1000 was not applied.

It happens with  top of tree,  release 1.2

[2022-04-27 19:43] #20992 closed

[2022-04-27 19:54] lambdai commented on #20378
It's not resolved:

I think we have two approach to connect to a server that is not catching up with the extended CONNECT (https://datatracker.ietf.org/doc/html/rfc8441#section-3)

1. extend the connpool to support subset LB to consume the peer capability
2. Assuming we pre-know the upstream http server doesn't support the extended CONNECT, add option to use rfc7540 CONNECT, as well as a better er

[2022-04-27 20:01] AdiJohn opened #21057 "Least specific header mutation wins by default."
There is toggle in route.proto to toggle whether the most specific header (at route level) wins or the least specific header (at connection manager level) mutation wins.https://github.com/envoyproxy/envoy/blob/217f7ff9df5e056ad3dc3e398e158b5b13ede93f/api/envoy/config/route/v3/route.proto#L94

The API documentation states the default value will be true for V3 API but actually it is not.

[2022-04-27 20:15] mithuns commented on #20915
I am running into the same issue I believe,
everything else , i can pull from dockerhub except for `envoyproxy:tracing`
trying to follow the example mentioned [here](https://github.com/envoyproxy/envoy/blob/main/examples/front-proxy/docker-compose.yaml)

[code]
but without making any changes to docker config locally , I can easily pull these other images
[code]

as well as

[code]

[2022-04-27 20:28] keith commented on #21033
we're waiting on that release to have the necessary artifacts, see https://github.com/envoyproxy/envoy/issues/20803

in the meantime https://github.com/envoyproxy/envoy/pull/21028

[2022-04-27 21:01] alyssawilk commented on #21056
was https://github.com/envoyproxy/envoy/pull/19972/files - it's always been the case that stats ran before runtime, and we simply ignored all size bounds for bootstrap before the change, and now apply default limits
that seems..... not great.

It's much easier to restore the prior behavior so I'm inclined to do that,and file an issue for proper handling later.  SG?

[2022-04-27 21:06] qiwzhang commented on #21056
Well, I guess it is the old behaviors.  I guess it should be ok then.  SG

[2022-04-27 22:20] #20993 closed

[2022-04-28 00:41] daixiang0 commented on #20362
Still available.

[2022-04-28 00:42] #19981 closed

[2022-04-28 00:43] #19922 closed

[2022-04-28 02:56] rohrit commented on #21038
Hey @alyssawilk , I need a clarification. I was assuming the flow would work like this

client -- HTTP CONNECT --> Envoy -- HTTP CONNECT --> upstream proxy -- TCP --> origin server

After the HTTP CONNECTs returns 200 OK, this would look like

client -- TCP --> Envoy -- TCP --> upstream proxy -- TCP --> origin server

i.e. the TCP connections used to set up the connect request would be reused for

[2022-04-28 03:00] jmarantz commented on #20246
I don't think there's a an rq_0xx or rq_000 stat available right now but it would be easy to add I think.

[2022-04-28 04:25] ankatare commented on #19069
@matiasrege Sorry for late response.. still debugging and stuck on some part.... i would like discuss my finding with code owner to proceed further... in early next week may be. let's catchup on slack ..

[2022-04-28 05:00] hxysayhi opened #21060 "Build failed when building envoy 1.22.0 with gcc and libstdc++ in opt mode"
*Title*: *Build failed when building envoy 1.22.0 with gcc and libstdc++ in opt mode*

*Description*:

git tag: v1.22.0
build in docker,  docker image: envoyproxy/envoy-build-ubuntu:142e6d5662b98277a84c327da26ed266ab0e3191-amd64
build command: bazel --bazelrc=/dev/null build -c opt envoy

Error:
[code]

I followed [this release build suggestion](https://github.com/envoyproxy/envoy/blob/release/v1.

[2022-04-28 05:20] zuercher commented on #8167
I'm going to close this ticket. Many of the recent comments have been for projects that build on Envoy and as such aren't really appropriate here.

See https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto.html#config-route-v3-routeaction-hashpolicy-cookie and https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/stateful_session_filter#con

[2022-04-28 05:20] #8167 closed

[2022-04-28 05:49] derekguo001 commented on #19217
Hi, @htuch @ggreenway @yanavlasov @lizan We have simplified the design proposal and moved all the modifications into extensions. This is the new design proposal:
https://docs.google.com/document/d/1Nk171M5hGdxMfMTf573HC2Slp4zPBViZNnk18OTqlRc

After the simplification, there will only be two new extensions: a bootstrap extension and a private key provider plugin, which are proposed as contrib exten

[2022-04-28 08:07] #20802 closed

[2022-04-28 10:47] ankatare commented on #20964
@wbpcode would like to understand more on it ... would you please mind to give some example ..

[2022-04-28 10:47] ankatare commented on #20964
/assign

[2022-04-28 11:49] phlax opened #21065 "Use structured data (ie yaml) for changelog (version histories)"
### description

Surfacing a conversation on slack with @mattklein123 ...

When adding a changelog entry, instead of editing `current.rst` as we do now we could instead add entries into a eg `changelog.yaml` file

The `current.rst` file could then be built from the yaml

This has the advantage that it would make it easier to validate/manipulate the data in the yaml file

The changelog entries woul

[2022-04-28 11:56] phlax commented on #20760
this should now be resolved - my PR with the trivy-scan <> release branches now passes

[2022-04-28 11:56] #20760 closed

[2022-04-28 12:07] rohrit commented on #21038
I verified the upstream proxy is getting a TLS connection without any HTTP CONNECT packets. With the configuration for envoy that I had put in the initial report, Envoy seem to be terminating the CONNECT and not forwarding the CONNECT as expected.

I have looked through the documentation and followed the example configurations and am not sure if there is anything different to be set in the configu

[2022-04-28 12:29] phlax commented on #21065
possible changelog format

[code]

[2022-04-28 12:55] wbpcode commented on #20964
I send my Json format tracing messages to ES. It just like something as follow.
[code]
Looks like that the ES parser treat `"upstream_cluster.name": "cluster_stat_name"` a object like `"upstream_cluster": { "name": "cluster_stat_name"}` and try to merge it with `"upstream_cluster": "cluster_name"`. Then an exception will be throwed because the incompatible types.

Here is a related discussion: htt

[2022-04-28 13:11] #20976 closed

[2022-04-28 13:18] alyssawilk commented on #20989
cc @RenjieTang please off on removing this one - I got a report on slack that this broke things for someone who is getting invalid referer headers.  I think we may have to add a permanet knob as part of UHV.
cc @yanavlasov

[2022-04-28 13:26] jtway commented on #20989
Thank you @alyssawilk!

[2022-04-28 13:32] yanavlasov commented on #19217
@derekguo001 This new proposal makes sense to me. It addresses the main concern that API maintainers had that xDS protocol which is pub/sub was used for handling CSR, which does not fit into pub/sub model. However the new design makes it transparent for the SDS protocol and as such addresses the only concern.

Let me know if there is anything else we can help with.

[2022-04-28 13:42] ferjjp commented on #21044
I hadn't noticed the `continue_on_listener_filters_timeout` option at all. I'll try out the filter disabled option to see if I can make it match correctly, thank you!

[2022-04-28 14:49] barnhill opened #21068 "Priority order of Compressors (Brotli, Gzip)"
*Title*: *Priority order of Compressors (Brotli, Gzip)*

*Description*:
When configuring envoy we would like to have Brotli prioritized over Gzip if its in the Accept-Encoding header in any order.  Is there a way to prioritize Brotli even if the header comes through with the order `gzip,br`.  Currently it will see that gzip is supported and it will just use it.  This comes into play with iOS devic

[2022-04-28 15:00] mattklein123 commented on #21060
cc @keith

[2022-04-28 15:01] phlax commented on #21065
also separates the changes from the presentation - so as we change how we want to present the version histories we dont have to go and edit every file

[2022-04-28 17:35] adisuissa commented on #20762
Fixed by #20886, closing.

[2022-04-28 17:49] mattklein123 commented on #21054
Sure this sounds reasonable to me!

[2022-04-28 18:29] yanavlasov commented on #21019
Sounds good. I will be working on it tomorrow.

[2022-04-28 19:28] alyssawilk commented on #20767
cc @keith

[2022-04-28 19:41] jmarantz commented on #14610
@krajshiva FYI -- this was the bug I was talking about where we might be able to save a lot of toil if we build some clang skills.

[2022-04-28 20:04] phlax commented on #20561
fixed, i think

[2022-04-28 20:04] #20561 closed

[2022-04-28 21:07] #20978 closed

[2022-04-28 21:48] JuniorHsu commented on #21017
weird indentation here but should not fail the command?
https://github.com/envoyproxy/envoy/blob/main/test%2Fextensions%2Ffilters%2Fnetwork%2Fthrift_proxy%2Fdriver%2Fgenerate_fixture.sh#L73

[2022-04-29 00:51] JakeCooper commented on #20800
1/3 of the envoy replicas is now running the heap profile. Going to let it go through a cycle of climbing heap allocations and will come back with the pprof

[2022-04-29 02:32] wbpcode commented on #20800
It depends. You can edit the do_ci.sh to ignore the unit test to shorten this time. And the second pass building would be quickly.

[2022-04-29 02:44] JakeCooper commented on #20800
It appears the built version of Envoy isn't responding on 443.

Envoy brew binary [1.23]
<img width="770" alt="CleanShot 2022-04-28 at 19 42 06@2x" src="https://user-images.githubusercontent.com/5499880/165877789-d693ef06-369e-4f78-b044-04639f8af1a8.png">

Envoy built from bazel [master]
![CleanShot 2022-04-28 at 19 43 11@2x](https://user-images.githubusercontent.com/5499880/165877875-05026c03-6fb

[2022-04-29 02:50] JakeCooper commented on #20800
I've also let it run for about 30 minutes+ but I'll let it go for longer.

Usually takes about 10-15m to start up, I assume given the number of routes/clusters we've got

[2022-04-29 02:56] wbpcode commented on #20800
You can check the stats of the listener 443. If this listener is working or the cert is correct?

[2022-04-29 03:07] JakeCooper commented on #20800
This one?

[code]

[2022-04-29 03:08] wbpcode commented on #21057
Looks like this is a docs error. Should we just update the docs or we need change the bool to BoolValue to change the default value?

cc @phlax @mattklein123

[2022-04-29 03:09] suniltheta commented on #20800
Should  be same as https://github.com/envoyproxy/envoy/issues/20919. You can set `envoy.reloadable_features.no_extension_lookup_by_name` to false.

[2022-04-29 03:50] zhangbo1882 commented on #20934
@daixiang0 , what are the dynamic metrics ?

[2022-04-29 03:54] daixiang0 commented on #20934
Metrics which are generated according to certain rules,

[2022-04-29 04:02] JakeCooper commented on #20800
Perfect. Now returning empty responses. Once the routes are loaded, I'll force some traffic through that instance and circle back with the heap profiles

Cheers

[2022-04-29 04:19] rohrit commented on #21038
I ran this on a macOS machine again with the example config from the documentation https://github.com/envoyproxy/envoy/blob/3883a94c0d66fc9c58ca5c11cadf4007b5ee3287/configs/proxy_connect.yaml and can confirm that this configuration does not work as well as I do not see a HTTP CONNECT being sent upstream.

I have attached the pcap capture from Wireshark (compressed since GitHub didn't allow raw pca

[2022-04-29 05:24] JakeCooper commented on #20800
Got the pprof heap files!

[railway_pprof.zip](https://github.com/envoyproxy/envoy/files/8588294/railway_pprof.zip)

[2022-04-29 05:38] moderation opened #21083 "Update or deprecate Datadog tracer"
*Title*: *Update or deprecate Datadog tracer*

*Description*:
The current [Datadog tracer](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/trace/v3/datadog.proto) is at version `1.2.1` [(link)](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/trace/v3/datadog.proto) while the latest version is at `1.3.2` [(link)](https://github.com/DataDog/dd-opentracing-cpp/releases/tag/v1.3.2)

[2022-04-29 06:42] zhangbo1882 opened #21084 "how much time consumed for a request/response in envoy"
Does envoy has any logs/metrics to show how much time is consumed in envoy handling exclude the time consumed in network transmit?
For example, client send packet at time1, envoy receives the packet at time2, then send packet to upstream server at time3, get the response at time4, send response to client at time5.

Does envoy log the time2-4? It seems that envoy only have the duration(time5 - time

[2022-04-29 06:43] dio commented on #10125
I think this can be done using https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/local_reply.

[2022-04-29 07:14] phlax commented on #21065
the one downside to this is that you lose the rst highlighting etc in your editor - at least i do by default

you can probably workaround with format-in-format highlighting or similar

[2022-04-29 07:29] vehre-x41 commented on #20762
@adisuissa this can be closed, too, right?

[2022-04-29 07:29] vehre-x41 commented on #20762
Whoops, should have reloaded first. Sorry, for the noise.

[2022-04-29 08:02] #20478 closed

[2022-04-29 08:07] github-actions[bot] opened #21085 "Newer release available `org_llvm_llvm`: llvmorg-14.0.3 (current: llvmorg-12.0.1)"
Package Name: org_llvm_llvm@12.0.1
Current Version: llvmorg-12.0.1@2021-07-09
Available Version: llvmorg-14.0.3@2022-04-29
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-04-29 08:07] #21033 closed

[2022-04-29 08:07] github-actions[bot] opened #21086 "Newer release available `org_llvm_releases_compiler_rt`: llvmorg-14.0.3 (current: llvmorg-12.0.1)"
Package Name: org_llvm_releases_compiler_rt@12.0.1
Current Version: llvmorg-12.0.1@2021-07-09
Available Version: llvmorg-14.0.3@2022-04-29
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-04-29 08:07] #21034 closed

[2022-04-29 09:38] wbpcode commented on #21083
cc @cgilmour

[2022-04-29 09:44] wbpcode commented on #21084
May be this can helps.
[code]

Check this for more duration log command: https://www.envoyproxy.io/docs/envoy/latest/configuration/observability/access_log/usage

[2022-04-29 11:12] catalin-me opened #21089 "ext_authz with WebSocket support?"
Is it possible to use an `ext_authz` filter while trying to establish connections through WebSockets?

[2022-04-29 11:41] phlax commented on #21083
related #18476

[2022-04-29 13:30] ghevge opened #21090 "Is it possible to instruct envoy transcoder to return the errors triggered at its level as a JSON and not as a plain string ?"
Hi,

Is it possible to instruct envoy transcoder to return the errors triggered at its level in the following JSON format, and not just as a plain string message?
Current response:
`project.isDone: invalid value false for type type.googleapis.com/test.api.YesNo`

What I would like to get is a JSON like this:
`{
  "code": 3,
  "message": "project.isDone: invalid value false for type type.googleapis

[2022-04-29 13:48] yanavlasov commented on #20767
cc @kyessenov

[2022-04-29 13:51] stevenzzzz opened #21091 "[grpc] export metrics on grpc-stream or subchannel connection failures"
*Title*: we should export controlplane grpc failures e.g. connection failures, to support monitoring/alerting on this sort of failures.

*Description*:
We should export control plane grpc failures e.g. connection failures, to support monitoring/alerting on this sort of failures.
In the case of control plane connection failure, we should exporting grpc-stream level/ subchannel level metrics for use

[2022-04-29 14:02] alyssawilk commented on #21090
cc @qiwzhang @lizan

[2022-04-29 14:03] alyssawilk commented on #21089
AFIK yes, but once for the connection not per websocket frame.

[2022-04-29 14:03] alyssawilk commented on #21083
cc  @cgilmour @palazzem

[2022-04-29 14:31] #19750 closed

[2022-04-29 14:44] mattklein123 commented on #20800
Can you potentially do some pre-processing of the data following the instructions here? https://gperftools.github.io/gperftools/heapprofile.html. You should be able to generate graphs of the heap as well as differential diffs of the heap which should make it pretty clear where the extra memory is coming from. It will also confirm that symbols are correct.

[2022-04-29 14:45] #20651 closed, assigned to nobody

[2022-04-29 14:47] michael-thoughtworker commented on #20915
This issue still exists. May I ask is there a plan to fix it?

[2022-04-29 14:48] aqua777 opened #21092 "Suspected Envoy memory leak"
*Title*: *Suspected Envoy memory leak*

*Description*:
We are using Envoy in our network as an edge proxy for accessing backend services. All services proxied by Envoys are available for access for other internal services and some of these services need to be exposed externally, for clients outside of our network. Therefore, we have two instances of Envoy, "external" and "internal". Configuration

[2022-04-29 14:51] mattklein123 commented on #21092
You will need to acquire a heap profile so we can see what is going on. I can't remember when we switched to the new tcmalloc by default but if that version is still using gperftools you might be able to get it out of box. Otherwise you will need to recompile with gperftools until we fix https://github.com/envoyproxy/envoy/issues/16506.

[2022-04-29 14:58] aqua777 commented on #21092
@mattklein123 Thanks for your advise. It will take us some time to run, deploy and collect the data so please keep this issue opened until then.

[2022-04-29 15:00] mattklein123 commented on #16506
@ckennelly if you would be so kind, could you provide a super simple sketch of what we need to implement to get the profiles out? I looked through the above diff and I think I roughly understand what was added, but I'm unclear if the profiles have to be enabled somehow, etc. Even if it's only a few bullet sketch it would probably save one of us a lot of time. Thank you in advance!

[2022-04-29 16:01] #20477 closed

[2022-04-29 16:01] #20482 closed

[2022-04-29 16:22] wbpcode commented on #20800
@JakeCooper

As matt said, it would be better to do some pre-processing of these data. Or can you provide your envoy binary that used to generate these data? (If you compiled the envoy based on the opensource code base, there should be no privacy problem.)

[2022-04-29 17:36] JakeCooper commented on #20800
I'm happy to run anything you'd like! Additionally [here's](https://drive.google.com/file/d/18FuE_tdGMJkxRPoxU4DoVSVZmqCFJsrm/view?usp=sharing) the binary

[2022-04-29 19:52] ckennelly commented on #16506
[code]

`result` will be return true for `result.ok()` and `*result` will be a `std::string` that contains the encoded profile that pprof can consume.

You can see a full example of this in the test for this code: https://github.com/google/tcmalloc/blob/master/tcmalloc/profile_marshaler_test.cc

[2022-04-29 19:59] mattklein123 commented on #16506
@ckennelly cool thanks. And is the profiling continuous or do we have to turn it on/off somehow?

[2022-04-29 20:05] euroelessar commented on #16506
They are continuous and are always enabled if google's tcmalloc is used

[2022-04-29 20:06] ckennelly commented on #16506
The profiling is "always on."  We sample allocations every so often (tunable with some knobs in `MallocExtension`) and record a stack trace.  When those are deallocated, we stop tracking them.

If you're interested in allocations that happened over a period of time, there's the allocation profile (`token = MallocExtension::StartAllocationProfiling(); /* do stuff */ ; profile = std::move(token).Sto

[2022-04-29 20:10] mattklein123 commented on #20800
@JakeCooper unfortunately the version that you built doesn't have symbols (fastbuild). You will need to build with something like:

[code]

[2022-04-29 20:16] mattklein123 commented on #16506
OK sounds good thanks. This should be pretty trivial to get working so I will take a crack at it at some point if no one else has cycles.

[2022-04-29 21:08] JakeCooper commented on #20800
Oh man. Welp, guess I'll try again. Build should be faster now that we've done it once though. Will come back with another binary and set of stuff

[2022-04-29 21:09] mattklein123 commented on #20800
Unfortunately it won't be faster since you have to rebuild everything to get optimized code with symbols. I would try to use a bigger machine if possible.

[2022-04-29 21:20] JakeCooper commented on #20800
It's already operating on a 96 core, 256 box :S

Also just to clarify: I built it with `bazel build --define tcmalloc=gperftools //source/exe:envoy-static`. The `-c opt` is the part that's missing correct? Wanna make sure I get this correct

[2022-04-29 21:22] mithuns commented on #20915
Oh , sorry , i meant to bring up that docker pull itself was failing but i see what you mean.
docker-compose build --pull is not the same as docker pull, i agree and please ignore that last comment.

So, trying verbatim instructions from the [front-proxy tutorial](https://www.envoyproxy.io/docs/envoy/v1.22.0/start/sandboxes/front_proxy) and no corporate vpn or firewall or proxy in place

[code]

I

[2022-04-29 21:22] mattklein123 commented on #20800
Yes that is correct. Something is really wrong if it's taking 7 hours to build on that machine. It should build in probably 10-20 minutes I would guess.

[2022-04-29 21:34] phlax commented on #20915
ok, thanks, ill go through the sandbox and see if i can repro

[2022-04-29 21:40] sumshar-appdirect commented on #19702
Could someone update if there was any finding related to this? And how could this be resolved?

Thanks!

[2022-04-29 21:42] FinnRG commented on #17031
This is still an issue in the latest version

[2022-04-29 21:50] keith commented on #21085
we're waiting on that release to have the necessary artifacts, see https://github.com/envoyproxy/envoy/issues/20803

in the meantime https://github.com/envoyproxy/envoy/pull/21028

[2022-04-29 22:45] keith commented on #20767
I don't know much about golang dep management, but based on the go.sum file in that repo I think you are somehow pointing at an old version of the go-control-plane repo. Here are the related entries:

[code]

I see that the `v3` directory doesn't exist when I peek into bazel's internal checkout of that repo as well:

[code]

even though it's clearly in the tag you're trying to specify https://gith

[2022-04-29 22:47] keith commented on #20767
Also if I look in `bazel-out/../external/bazel_gazelle/deps.bzl` I see the old version being loaded as well:

[code]

[2022-04-29 22:53] keith commented on #21060
Here's a fix for the `envoy.stripped` issue https://github.com/envoyproxy/envoy/pull/21097

[2022-04-29 23:15] keith commented on #21060
The project's `.bazelrc` is still loaded successfully when you pass this flag, which you can see by passing `--announce_rc` and see that _some_ options are still being passed. How is the presence of `--bazelrc=/dev/null` affecting clang vs GCC for you? Does your `~/.bazelrc` have a `build --config=clang` line you're expecting to be picked up? If not can you include the difference in flags you see

[2022-04-29 23:26] cgilmour commented on #21083
Thanks for cc-ing me on this. Yup, the version of the datadog tracer hasn't been updated in a while, mostly because of a switch to opentracing v1.6.x, whereas envoy is using opentracing v1.5.x. We didn't want to introduce a disruptive change in envoy.

I suspect updating the version of opentracing isn't a viable approach for a few reasons:
- it's [deprecated](18476#issuecomment-937469963)
- an ope

[2022-04-29 23:40] JakeCooper commented on #20800
[code]

[2022-04-30 00:07] keith commented on #21060
As far as the original GCC compiler error here, to unblock you can consider passing `--copt=-fno-strict-aliasing` although I can't say I fully understand the implications of that. It only happens with `-c opt` because gcc flips it on by default in that case, and we never pass it manually. Also clang's implementation of `-fstrict-aliasing` doesn't error on this same case, so I'm not sure what to th

[2022-04-30 00:09] keith commented on #21060
I imagine we could be quicker to catch instances of this, even if it's gcc only, by enabling that flag for more builds, although I'm not sure what the build performance impact would be

[2022-04-30 02:06] rainingmaster commented on #21042
Close with https://github.com/envoyproxy/envoy/pull/21063

[2022-04-30 02:07] #21042 closed

[2022-04-30 02:25] mattklein123 commented on #20800
If you are using a cloud instance, the problem is probably building against something like ebs. Make sure you use a local ssd and build on that.

The version of gcc you are using is too old. You would probably be better of using the docker container to build as it will replicate CI. See the instructions in the ci directory.

[2022-04-30 04:04] #20495 closed

[2022-04-30 04:12] fishy commented on #20595
not stale

[2022-04-30 04:14] wbpcode commented on #16506
/assign

[2022-04-30 04:18] moderation commented on #21083
Thanks for the update @cgilmour . When https://github.com/envoyproxy/envoy/pull/20281 is merged, will that replace the need for the existing DD tracer allowing us to deprecate / remove it? Or do you think you'll need a DD specific Otel tracer? From the blogs and docs at https://www.datadoghq.com/search/?s=opentelemetry it looks like a vanilla Otel tracer will work

[2022-04-30 10:59] phlax commented on #21065
another pro - i think this will mitigate merge conflicts in the current changelog file as there will be no need to maintain order etc

[2022-04-30 13:48] tsukiy0 commented on #20850
This would be a great feature to have.

@bryanwux have you made a start already? I'd be happy to work on this with you.

I don't have a lot of experience with C++ 😅 , but have started debugging the Envoy repo and found the [`Context:: failStream` method](https://github.com/envoyproxy/envoy/blob/518772982bff3d630306a26622f80d564d3b25ea/source/extensions/common/wasm/context.cc#L1595) to be a suitabl

[2022-04-30 17:59] tuhao1020 opened #21098 "support GOPROXY environment variable in run_envoy_docker.sh"
There may be some errors when executing run_envoy_docker.sh in China, so add GO_PROXY environment variable would be better.

command sample:
[code]

[2022-04-30 19:30] tuhao1020 opened #21100 "How to debug envoy？"
I compiled the envoy binaries using docker image with following command:
[code]
but how to debug its code using break points in vscode?

[2022-05-01 07:44] #20826 closed

[2022-05-01 12:01] #20500 closed

[2022-05-01 12:01] #20519 closed

[2022-05-01 20:01] #19535 closed

[2022-05-02 00:03] #20187 closed

[2022-05-02 00:03] #20514 closed

[2022-05-02 04:45] adisuissa commented on #21060
Thanks for cc'ing me on this @keith.
Unfortunately I only use clang, but I was able to repro the error using docker.
I'll work on a fix for this tomorrow.

[2022-05-02 07:32] eoregua opened #21103 "envoy 1.22.0 build failed: unknown warning option"
Hi,

The build of envoy 1.22.0 is faling:

[code]
I'm using the same dockerFile used successfully for the build of the envoy 1.21.1.

Is needed to change something from envoy 1.21.1 to 1.22.0 for the build?

Any hints from your side based on the error posted above?

Thanks!

[2022-05-02 08:05] Brunomachadob commented on #19702
Hey, @sumshar-appdirect, I actually didn't follow through on this one. As I stated above, it could be something on the DD plugin, maybe you could open a related issue there, let's see what they have to say

[2022-05-02 08:08] buehler opened #21104 "Is there a straightforward way to build the proto files for csharp (or any other particular language)?"
Dear envoy team

I'm currently trying to build the `*.proto` files in the API folder to be used to create configs for the envoy proxy. Sadly, it is non-trivial to build the proto files with "buf" or by any other means.

I tried to use the dotnet grpc tools, but essentially searching and including all of the dependencies has proven to be error prone work. Next I tried to use "buf" since I saw that

[2022-05-02 08:52] phlax commented on #21104
without bazel would be hard work as that is what the protos and their deps are collected with. Even with bazel its not trivial.

the bazel target you are looking for is `@envoy_api//:v3_protos`

there is an example of generating documentation from the protos in `tools/protodoc/protodoc.bzl`. This uses "aspects" and a protobuf plugin so is not the easiest code to follow

you probs want to look at `

[2022-05-02 09:57] renuka-fernando opened #21107 "Envoy stops updating through XDS server"
*Title*: Envoy stops updating through XDS server

*Description*:
Envoy is serving (proxing) for existing routes, clusters, etc. but it is not updating via the SotW xDS gRPC server for new routes, clusters, etc.

Envoy version: v1.20.0
Go control plane version: v0.10.0 - simple cache
SotW xDS gRPC server

Final log printed was ["[22][warning][client] [source/common/http/codec_client.cc:122] [C82665

[2022-05-02 10:11] ankatare commented on #20964
@wbpcode Thanks.. let me check this.

[2022-05-02 11:04] buehler commented on #21104
Hey @phlax
Thanks for the reply!

I guess I'll have to let it be. But thank you for the idea! It would've been a cool feature for my operator to generate the envoy config (that gets injected as a sidecar) via statically typed classes, rather than a big string with interpolated ports :-)

[2022-05-02 11:04] #21104 closed

[2022-05-02 12:00] mayurwaghmode opened #21108 "Add ppc64le support to this [image]( https://hub.docker.com/r/envoyproxy/envoy-dev/tags)"

[2022-05-02 12:46] phlax commented on #21108
related:

https://github.com/envoyproxy/envoy-build-tools/blob/cc97d26baf03e87982c6aaad6eccc6411543cf4c/build_container/docker_build_linux.sh#L1-L2

[2022-05-02 14:17] stevenzzzz commented on #21091
sadly I dont think so. this is more about the bidi stream connection issue between Envoy and the config server, which could be a single endpoint or a fleet.

In our case, the connection was refused by the Config server as it's overloaded, the config was never delivered during the outage window and that translate into dataplane errors. It requires us poking around the log to understand what's wrong

[2022-05-02 16:33] PiotrSikora commented on #20878
Per the configuration above, all 6 cipher suites are enabled.

However, `*-RSA-*` cipher suites are only negotiated when using RSA cerfiticates, and `*-ECDSA-*` cipher suites are only offered when using ECDSA cerfiticates.

I suspect the `cert-secret` contains only RSA certificate.

[2022-05-02 16:58] PiotrSikora commented on #20952
@lizan migrated them to `envoy.wasm.runtime.*` extensions (see: #12574, #14014 and #14062), but it looks that the migration was never finished.

Also, I imagine that it's much easier for "normal" users to provide build flags than to modify [`source/extensions/extensions_build_config.bzl`](https://github.com/envoyproxy/envoy/blob/main/source/extensions/extensions_build_config.bzl) as part of the bu

[2022-05-02 17:03] PiotrSikora commented on #6927
`bssl` is a tool from the [BoringSSL](https://boringssl.googlesource.com/boringssl/) project. It's not included in Envoy container, so you need to build it yourself.

[2022-05-02 17:05] lizan commented on #21108
We currently have no easy access to ppc64le resources for CI to generate those images, if someone can offer them and make related changes I'm happy to review.

[2022-05-02 17:06] lizan commented on #21103
What's the clang version are you using?

[2022-05-02 17:10] lizan commented on #21100
Are you using devcontainer for that?

https://github.com/envoyproxy/envoy/tree/main/tools/vscode#generate-debug-config have document for generating debug config for vscode.

[2022-05-02 17:16] techpavan commented on #6927
Thanks. Can we assume that the [published default](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/transport_sockets/tls/v3/common.proto.html#envoy-v3-api-field-extensions-transport-sockets-tls-v3-tlsparameters-cipher-suites) is everything supported or would it be a subset?

[2022-05-02 17:23] jmarantz commented on #20952
Yeah for WASM it's really nice to not have to have the weight of compiling and linking v8 when iterating on envoy-static development that does not involve wasm., and it's nice to be able to do that via command-line. AFAICT this is working fine for me now -- I can build (relatively) small envoy-static.

Matt I had assumed what you wanted for admin-html was not to have the weight of all the html/css

[2022-05-02 17:28] mattklein123 commented on #20952
IIRC all of the extensions can now be enabled/disabled on the CLI also (cc @lizan) but I don't remember the details. In any case it's not a big deal. Whatever you all think is best is fine with me (extension or CLI switch only).

Yeah just code size and potentially security footprint for people that don't need that code.

Unfortunately there is not, though there are plenty of existing examples. Th

[2022-05-02 17:29] PiotrSikora commented on #6927
Envoy's defaults are a subset of what's supported in BoringSSL.

[2022-05-02 18:43] devonochmand opened #21115 "Original Destination to Accept URL in Header instead of IP:PORT"
original_dst_lb_config to Accept URL in Header instead of IP:PORT

*Description*:
per: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/original_dst Original Destination requires that  the header value be like IP:PORT

Is it possible to configure envoy.yaml to allow for URL in the header with like?

  clusters:
  - name: original_destination_cluster
    conne

[2022-05-02 18:44] lizan commented on #20952
Yes all extensions can be enabled/disabled by CLI (by `--<extension_path>:enabled=true|false`)

+1 to option 2 and leave it defaults on.

[2022-05-02 19:10] kyessenov commented on #20100
Needs a fix, test added to confirm the issue.

[2022-05-02 19:18] devonochmand opened #21116 "CI run envoy fails with exported_symbols passed in BAZEL_BUILD_EXTRA_OPTIONS"
CI run envoy fails with exported_symbols  passed in BAZEL_BUILD_EXTRA_OPTIONS

*Description*:
I am trying to build envoy following:
https://github.com/envoyproxy/envoy/blob/aa19a78404e285d5cd219c564a68e67c59484075/ci/README.md
My build fails when i trying to include the build option --define exported_symbols=enabled
e.g: $ ./ci/run_envoy_docker.sh "BAZEL_BUILD_EXTRA_OPTIONS='--define exported_symb

[2022-05-02 19:33] devonochmand commented on #21116
https://github.com/envoyproxy/envoy/issues/15080
this is discussed and resolved

[2022-05-02 19:33] #21116 closed

[2022-05-02 20:23] scrocquesel opened #21119 "Propagate Tracing Headers in ext_proc"
*Title*: B3 headers should be propagated to the gRPC context call

*Description*:

[optional *Relevant Links*:]

[2022-05-02 20:39] devonochmand commented on #21115
@kyessenov This seems to be the way. thanks!

[2022-05-02 20:39] #21115 closed

[2022-05-02 20:54] scrocquesel commented on #21119
From what I understand, tracing span for streaming grpc call was not implemented during  https://github.com/envoyproxy/envoy/pull/1885.

[2022-05-02 21:30] KBaichoo commented on #21068
Not yet an expert in this area, from https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/compressor_filter#config-http-filters-compressor the compression filter knows the other compression libraries available in the filter chain.

Moreover, it seems like the filter works with quality values, so I __think__ if you added a simple filter than replaces the accept-encoding on th

[2022-05-03 02:22] barnhill commented on #21068
But if you request it with "gzip,deflate,br" as in the case of the default on iOS ... it will never use Brotli as it uses the first one in the list that it supports.  Maybe there is a way to do this with composite filters?

[2022-05-03 02:53] #2500 closed

[2022-05-03 06:06] exhau opened #21121 "How envoy queues requests?"
In my case, there are multiple grpc endpoints, each of which can only process one request at a time. It may take several seconds to several minutes to process one request.

What I need:

Envoy takes a bunch of requests, assigns one to each endpoint, and enqueues the rest. Once an endpoint finishes, envoy assigns the next in queue to this endpoint.

I have looked into "Circuit Breakers", but it jus

[2022-05-03 06:41] eoregua commented on #21103
Using CLANG 12 but using llvmorg-11.0.0, trying to step to llvmorg-12.0.0 and check if the build is working.

[2022-05-03 08:01] eoregua commented on #21103
No luck, still the same issue after updating llvm-org to llvmorg-12.0.0:

[code]
From the dockerFile used for the build:

[code]
Any hints on what is needed to change to have building working again with envoy 1.22.0?

Thanks!

[2022-05-03 08:04] github-actions[bot] opened #21122 "Newer release available `build_bazel_rules_apple`: 0.34.2 (current: 0.34.0)"
Package Name: build_bazel_rules_apple@0.34.0
Current Version: 0.34.0@2022-03-23
Available Version: 0.34.2@2022-05-02
Upstream releases: https://github.com/bazelbuild/rules_apple/releases

[2022-05-03 09:08] mayurwaghmode commented on #21108
ok, @lizan.  I tried locally to build [this image](https://hub.docker.com/r/envoyproxy/envoy-dev/tags) using[ this Dockerfile ](https://github.com/envoyproxy/envoy/blob/main/ci/Dockerfile-envoy) but somehow I am not able to build [schema-validator-tool](https://github.com/envoyproxy/envoy/blob/main/ci/Dockerfile-envoy#:~:text=COPY%20%24%7BTARGETPLATFORM%7D/build_%24%7BENVOY_BINARY%7D_release/schem

[2022-05-03 09:09] kfaseela commented on #21031
/assign kfaseela

[2022-05-03 09:18] phlax commented on #21108
@mayurwaghmode i think you need to adjust `.dockerignore` to not ignore the ppc64le path, similar to:

[code]

[2022-05-03 09:34] mayurwaghmode commented on #21108
@phlax can u please tell me for which thing it is required? I mean for building [schema-validator-tool](https://github.com/envoyproxy/envoy/blob/main/ci/Dockerfile-envoy#:~:text=COPY%20%24%7BTARGETPLATFORM%7D/build_%24%7BENVOY_BINARY%7D_release/schema_validator_tool%20/usr/local/bin/schema_validator_tool) or building envoy-dev image?

[2022-05-03 09:43] phlax commented on #21108
for building the docker image, it tries to copy in the `schema_validator_tool` but the path where it is built is ignored, so you need to adjust that

[2022-05-03 12:01] #20540 closed

[2022-05-03 12:09] pxpnetworks commented on #21038
@rohrit - I also experience the same behavior when trying to get this flow: ([issues/19794](https://github.com/envoyproxy/envoy/issues/19794))
client -- HTTP CONNECT --> Envoy -- HTTP CONNECT --> upstream proxy -- TCP --> origin server

Seems like the upstream proxy (envoy again) receives the TLS TCP payload instead of the initial CONNECT request

[2022-05-03 12:22] emike922 commented on #3546
I wonder, is it expected that "normal" logs still print in local TZ?
I might prefer it if they were consistent with access logs / always used UTC...

[code]
Note, this is not from vanilla Istio but from another distro which includes timezone files.

[2022-05-03 14:03] KBaichoo commented on #21068
A cleaner way to achieve this is adding additional tie breaking logic to the filter. It would probably be added here as well as the proto: https://github.com/envoyproxy/envoy/blob/5afc6faf0b2986581f8e7d88b46b3dbf1881f57c/source/extensions/filters/http/compressor/compressor_filter.cc#L390-L398

For us to override the choice even if the quality values are equal if we prefer one compressor over the o

[2022-05-03 14:20] wbpcode commented on #21119
cc @snowp

[2022-05-03 14:23] wbpcode commented on #21119
`ext_proc` will sends all request headers include B3 headers to the server as part of grpc requests.

So do you mean that you want to add tracing support of grpc rqeuests self?

[2022-05-03 14:26] wbpcode commented on #21121
cc @alyssawilk

[2022-05-03 15:17] tuhao1020 commented on #21100
@lizan  I tried `tools/vscode/refresh_compdb.sh` several times but they all failed, looks like network problem. I'll try again later.

[2022-05-03 15:52] tuhao1020 commented on #21100
[code]

[2022-05-03 16:06] #20524 closed

[2022-05-03 16:43] #21065 closed

[2022-05-03 16:44] #20506 closed

[2022-05-03 17:03] davinci26 commented on #16482
hey folks, is m1 fast at compiling envoy? Do people have a good dev experience with m1?

[2022-05-03 17:14] scrocquesel commented on #21119
Yes, span should begin with the start of the stream and should end at the end of it. And a child span can be created in the filter to align with how ext_authz is doing it. Use the header from the request as parent span seems not right as envoy may have create child span itself.

Maybe a new span be created for each message in the stream and pass as metadata also but it seems that gRPC tracing inte

[2022-05-03 17:17] #21098 closed

[2022-05-03 18:11] alyssawilk commented on #21056
Ok, I fixed the part where we're applying the defaults before runtime is loaded, but leaving the other part (actually loading runtime first, or re-running checks) as help wanted

[2022-05-03 19:35] agrawroh opened #21131 "Cluster-level mirroring policies"
## Description

Currently, the mirroring policies are defined on the per-route basis [[Link]](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto) using `request_mirror_policies`.

We have a use-case where we want to mirror all the traffic from the external [ExtAuthZ](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/ext_authz/v3/ext_a

[2022-05-04 00:12] lizan commented on #21131
Can you elaborate your use case a bit more? IIUC you want the ext_authz and ratelimit traffic to their external server to be mirror-ed?

[2022-05-04 00:34] Arthur-Befumo opened #21136 "Add TCP route matching functionality to the V3 API"
This functionality is relevant for the following example use case:
- Envoy is deployed as a forward tcp-proxy
- I want to only proxy connections for specific combinations of destination ports / IPs
- I may have a very large number of these combinations, e.g. I want to proxy any request to `1.1.1.1` in the port range `20_000 - 50_000`)

Based on my understanding of the V3 API, in order to achieve t

[2022-05-04 01:04] agrawroh commented on #21131
@lizan Correct. We are working on rewriting these services from scratch (HTTP to gRPC) and want to mirror all the traffic for some time to the old as well as new service before turning the new services "on" in production.

[2022-05-04 01:47] thangnn4688 commented on #20776
@soulxu do you have any ideas to solve this issue?

[2022-05-04 01:51] soulxu commented on #20776
Sorry, I draft the reply but I forget to send it out.

I didn't get any clue from your log.

Another idea is would you like try my config which works in my local:

[code]

[2022-05-04 02:58] thangnn4688 commented on #20776
I have tried your config and the result is the same as my config: Envoy proxy still denied/filtered all TCP packets those were sent to port 528/Tcp of Envoy server, as below logs:

--------
[2022-05-04 09:50:26.473][34493][debug][filter] [external/envoy/source/extensions/filters/listener/original_src/original_src.cc:24] Got a new connection in the original_src filter for address 172.24.206.84:3880

[2022-05-04 03:01] soulxu commented on #20776
no, I don't have it. I just connected to envoy directly by `curl -v HTTP://127.0.0.1:13333`, and I run `fortio server --http-port 33333` as backend server. I can get the `http 200` returned.

[2022-05-04 03:13] rohrit commented on #21038
@pxpnetworks , it looks like to me that there is an issue with the CONNECT proxying.

[2022-05-04 03:15] thangnn4688 commented on #20776
@soulxu Yes, please share your config file to me to try it, many thanks.
In other guess, do you think i should use registered/dynamic ports to replace the well-known port (currently i am using Tcp 528)?

[2022-05-04 03:41] soulxu commented on #20776
the above config is all my setup. you can try to use exact same port and also use fortio as backend server.

[2022-05-04 07:24] thangnn4688 commented on #20776
@soulxu i try your config and get the below logs:
*****
[2022-05-04 14:17:31.533][34945][debug][filter] [external/envoy/source/extensions/filters/listener/original_src/original_src.cc:24] Got a new connection in the original_src filter for address 172.24.206.84:56402. Marking with 0
[2022-05-04 14:17:31.533][34945][debug][filter] [external/envoy/source/common/tcp_proxy/tcp_proxy.cc:249] [C0] new t

[2022-05-04 08:01] #20541 closed

[2022-05-04 09:13] vehre-x41 opened #21141 "fuzz tests: Remove ext_authz specific code in general filter_fuzz_test in favor of special ext_auth_fuzz_test"
*Title*: *fuzz tests: Remove ext_authz specific code in general filter_fuzz_test in favor of special ext_auth_fuzz_test*

*Description*:
The `filter_fuzz_test`, or more precisely the `UberFilterFuzzer::perFilterSetup()`, has specific code for the ext_authz filter. Issues in the general `filter_fuzz_test` mandated to filter ext_authz uses cases in the general filter in #21140. Because the `ext_auth

[2022-05-04 09:13] vehre-x41 commented on #21141
CC @adisuissa @KBaichoo @pradeepcrao

[2022-05-04 09:17] lobkovilya opened #21142 "OutlierDetection decrements ejectTimeBackoff too quickly"
*Title*: OutlierDetection decrements `ejectTimeBackoff` too quickly

*Description*:

On every tick of the `intervalTimer` value of `ejectTimeBackoff` will be decremented for all not ejected hosts.
[code]
But during the `interval` there could be no evidence that host actually became healthy.

*Repro steps*:

Let's say we have a host that constantly returns 500 status codes and we configured detecto

[2022-05-04 10:41] eoregua commented on #21103
Any feedback?

Thanks.

[2022-05-04 16:25] CelsoSantos commented on #20767
Well, somehow, somewhere, I managed to fix this. I *think* (though not 100% certain) that it was actually `go mod tidy` that was calling back previous versions of envoy (I don't know from where or why, though), so much so that they are still there and I can't remove them..

But this PR, fixes whatever issue was present before: [CelsoSantos/edge-proxy#1](https://github.com/CelsoSantos/edge-proxy/pu

[2022-05-04 16:25] #20767 closed

[2022-05-04 16:33] kyessenov commented on #21136
Have you considered using the matching API for filter chains (https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/advanced/matching/matching_listener)?
I think you could accomplish this with a list matcher, each with AND predicate for the IP and the port range.
If you want sub-linear matching, then you could use a trie matcher on IP first, then the port predicate next.
The new API avoi

[2022-05-04 17:08] keith commented on #20767
Glad you fixed it!

[2022-05-04 17:10] exhau commented on #21121
thanks very much @alyssawilk. Your config works.

max_connections: 1
max_concurrent_streams: 1

But it seems, envoy assigns requests when they come, not assign when one endpoint becomes available.

[2022-05-04 17:45] lizan commented on #21142
@cpakulski @snowp

[2022-05-04 18:56] jeffsawatzky opened #21151 "gRPC-JSON Transcoder doesn't url decode query parameter names"
*Title*: gRPC-JSON Transcoder doesn't url decode query parameter names

*Description*:
When we have a query string param like `?search[field]=value` I was expecting that in the protobuf file we would do `json_name="search[field]"`, however we actually need to do `json_name="search%5Bfield%5D"`

*Repro steps*:
Define a gRPC service like so
[code]
make requests like
[code]
or
[code]
and note how it

[2022-05-04 19:11] mpuncel opened #21152 "Add sendLocalReply capability to Lua stream handle API"
*Title*: *Add sendLocalReply capability to Lua stream handle API*

*Description*:
Lua filters can directly respond to requests via the `respond()` method on the stream handle. However, the Lua filter does not call `sendLocalReply` in this case, see https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/http/lua/lua_filter.cc#L781.

This caused an issue for us because the reply is

[2022-05-04 19:14] Crazyigor1987 commented on #20878
@PiotrSikora
You were right! I've temporary created a ECDSA Certificate and loaded it into the secret. Now i can see that my desired cipher suite is used. Thank you so much for your explanation!

[2022-05-04 19:15] #20878 closed

[2022-05-04 19:35] mattklein123 commented on #21152
I honestly can't remember. It might predate when that function was added to the core HCM. It would probably fine to just switch it under a feature flag.

[2022-05-04 19:54] alyssawilk commented on #21038
sorry for the delay, I agree the config looks problematic.
So I'm seeing the CONNECT being logged with the config here
https://github.com/alyssawilk/envoy/pull/new/connec
I'm not sure why the route specific upgrade configs are causing problems but I have a question while I look into it which is if I

 curl -v -x 93.184.216.34:80 https://www.example.com
I get "Received HTTP code 400 from proxy afte

[2022-05-04 20:46] alyssawilk commented on #21121
Yeah, the queuing is done in the connection pool, not at the cluster level, which is sub-optimal for your use case.  I think your use case was one Envoy wasn't really designed for, but I think we'd welcome changes if you're game for queuing at a higher level.

[2022-05-04 21:20] Poweranimal opened #21154 "SDS file watching action not triggered"
*Title*: *SDS file watching action not triggered*

*Description*:
The SDS file watch action does not get triggered in my setup.

The issue appeared in a kubernetes pod.

The pod has a container that regularly fetches certificates from vault and stores them in a shared volume attached to my envoy container.

Despite new certificates/keys being fetched, the SDS secrets do not get reloaded.

To verif

[2022-05-04 21:49] Arthur-Befumo commented on #21136
Thank you for the reply @kyessenov! That API looks like an exact "match" for my use case.

Closing as answered.

[2022-05-04 21:49] #21136 closed

[2022-05-05 01:15] daixiang0 commented on #21100
Are you behind a proxy server? You need to set proxy config for bazel then it can download as expected.

[2022-05-05 02:05] tuhao1020 commented on #21100
@daixiang0 I have set `http_proxy` and `https_proxy`, is there anything else need to set up?

[2022-05-05 02:06] zhxie commented on #20666
I think it is a good idea to add `firstOf` matcher, but first we have to reconstruct `Envoy::Matcher::DataInput`. We can only get string result currently, and we need list for ALPN and `ProtobufWkt::Value` for metadata.

[2022-05-05 02:11] daixiang0 commented on #21100
I set HTTP_PROXY and HTTPS_PROXY, refer to https://github.com/bazelbuild/bazel/issues/587#issuecomment-412531604.

I see you run it in a dev container, can you download it by hand in the container?

You can google for more answers, it is a network issue of bazel, not Envoy itself.

[2022-05-05 02:14] thangnn4688 commented on #20776
@soulxu do you have any ideas?

[2022-05-05 02:33] tuhao1020 commented on #21100
@daixiang0 Thx! Maybe there is something wrong with my proxy.

[2022-05-05 02:34] soulxu commented on #20776
Sorry, I have no idea, but it seems failed at connection timeout.

[2022-05-05 02:57] kyessenov commented on #20666
Correct. We can make `DataInput` produce a variant of a string and a vector of strings like `CelValue` does it as a start. Protobuf is not good for generic runtime objects AFAIK. Alternatively, we can use string and then parse as a list when necessary yielding string views.

[2022-05-05 03:08] rajetta commented on #14981
@ivpr  we are getting similar error after updating envoy to 1.17 - in our case , it is for every request. Did configuring retry on reset helped?

[2022-05-05 03:47] rohrit commented on #21038
Hey @alyssawilk , yes, you are right. example.com probably does not support CONNECT since it is not a proxy.

BTW, I cannot see the pull request. If you like, I can test out the config with my setup as well if it is only a config change.

[2022-05-05 04:10] #20533 closed

[2022-05-05 04:10] #20535 closed

[2022-05-05 04:26] rohrit commented on #18928
I have the same use case too. I was wondering whether an approach using custom_handshaker extension can offer a viable solution for this use case. I have not dug into the details yet and wanted to check.

@ggreenway , this was discussed in https://github.com/envoyproxy/envoy/issues/20708 and was wondering whether using custom_handshaker offers a way to solve this use case.

Also, from what I under

[2022-05-05 05:53] mayurwaghmode commented on #21108
I am trying to build the schema_validator_tool locally using below command
`bazel build //test/tools/schema_validator:schema_validator_tool`
But I am getting below error
`ERROR: /root/istio_build/gn/envoy/source/common/common/BUILD:187:17: Compiling source/common/common/logger.cc failed: (Exit 1): gcc failed: error executing command /usr/bin/gcc -U_FORTIFY_SOURCE -fstack-protector -Wall -Wunused-b

[2022-05-05 06:10] daniel-munch-cko commented on #18222
I'm having a similar problem with LuaPerRoute - putting it here, since it looks related

[code]

[2022-05-05 07:53] tuhao1020 commented on #21100
@daixiang0 lowercase `http_proxy` and `https_proxy` are ok，in additonal, I set `all_proxy`.

After the proxy problem is solved, the error of missing cpu instruction set appears
[code]

I'll create a pr to add some content to the document: https://github.com/envoyproxy/envoy/tree/main/tools/vscode#generate-debug-config

[2022-05-05 08:03] github-actions[bot] opened #21158 "Newer release available `com_github_grpc_grpc`: v1.46.0 (current: a3ae8e0)"
Package Name: com_github_grpc_grpc@a3ae8e00a2
Current Version: a3ae8e0@2021-06-07
Available Version: v1.46.0@2022-05-04
Upstream releases: https://github.com/grpc/grpc/releases

[2022-05-05 08:03] #20751 closed

[2022-05-05 08:03] #20566 closed

[2022-05-05 08:07] daixiang0 commented on #21100
Hyperscan needs SSSE3, do you run contrib static? I think the default one(//source/exe:envoy-static) do not cover it.

[2022-05-05 08:28] tuhao1020 commented on #21100
I use `//source/exe:envoy-static`.
There is no error after I changed the cpu type, building now, no errors yet.

[2022-05-05 08:44] soulxu commented on #18928
@LuyaoZhong Sorry for joining the discussion late, I'm not sure I loaded enough the background here, but I have question for your current solution and thinking of another solution here.

First question, why do we need to reuse the connection here? I thought only the first downstream connection to the specific host need to fetch the upstream cert, then the envoy already has enough info for the foll

[2022-05-05 09:25] thangnn4688 commented on #20776
@soulxu pls see below logs those are created when i remove "listener_filters" block in envoy.yaml:
*****
[2022-05-05 16:20:23.740][35899][debug][filter] [external/envoy/source/common/tcp_proxy/tcp_proxy.cc:249] [C0] new tcp proxy session
[2022-05-05 16:20:23.740][35899][trace][connection] [external/envoy/source/common/network/connection_impl.cc:349] [C0] readDisable: disable=true disable_count=0 s

[2022-05-05 09:42] zhangbo1882 opened #21161 "HTTP1 content-length"
If envoy receive a HTTP1 request whose content-length is  10000, but actually there is no any data in the http body. Should envoy validate the HTTP request or just forward it to upstream server without any validation ?

[2022-05-05 09:55] renuka-fernando commented on #21107
When restarting both go control plane XDS servers we noticed that the healthy envoy server logs [`StreamAggregatedResources gRPC config stream closed: 13`](https://github.com/envoyproxy/envoy/blob/v1.20.0/source/common/config/grpc_stream.h#L159-L160). But the other envoy server which stopped updating through XDS server did not print such a log when it lost connection to the XDS server.

[2022-05-05 10:52] LuyaoZhong commented on #18928
@soulxu Thanks for your comments. We have to make it work with HCM, so we always struggle with how to reuse the upstream connection. Our proposed solution #1 in [TLS Bumping in Envoy](https://docs.google.com/document/d/1B6TaqkwjlUqIOYTLqcprwtsQsg8TXitLQQnvXg2WIbU/edit?usp=sharing) is similar to your suggestion, the new bumping filter is expected to work like tcp proxy and support getting and cachi

[2022-05-05 11:30] soulxu commented on #18928
Thanks for the update on solution#1, I prefer the solution#1 also.

Yea, without reuse connection, then we can have solution#1 here. It is more simple.

[2022-05-05 13:51] exhau commented on #21121
got it. thanks!

[2022-05-05 14:00] jtway commented on #20842
@siyigao1212 any chance you're able to share more on the tcp_nodelay settings that were problematic? We've seen similar issues (without LUA) in select environments. Unsure if they are the same.

[2022-05-05 16:01] #20034 closed, assigned to nobody

[2022-05-05 16:42] #21038 closed

[2022-05-05 17:01] alyssawilk commented on #21065
I'm still seeing references to current.rst in a bunch of docs - CONTRIBUTING instrctions, PULL_REQUESTS, RELEASES etc.  You on top of those clean ups in follow up PRs?

[2022-05-05 17:16] mattklein123 commented on #21142
I agree this could potentially be improved, though I'm not sure the extra complexity is worth it. I would recommend starting with a doc PR to clarify the current behavior. Thank you!

[2022-05-05 17:30] lizan opened #21171 "Update build base image to ubuntu 20.04"

[2022-05-05 17:32] lizan commented on #21151
Yeah that's the current behavior. Shall we add url decode for that @qiwzhang?

[2022-05-05 18:02] jeffsawatzky commented on #21151
For comparison, the [grpc-gateway](https://github.com/grpc-ecosystem/grpc-gateway/blob/2ce32afe5735d0bfa28ee3369e5975dfb8192313/runtime/query.go#L31) project uses the [`Values`](https://pkg.go.dev/net/url#Values) type from the `net/url` golang package and it [unescapes the key names](https://cs.opensource.google/go/go/+/refs/tags/go1.18.1:src/net/url/url.go;l=933).

I'm not sure what Google's clou

[2022-05-05 19:08] wanlill commented on #21154
Came across this issue by accident. I'm not very familiar with SDS config either but my understanding is that the config is using static secret instead of SDS resources? According to the [doc](https://www.envoyproxy.io/docs/envoy/latest/configuration/security/secret#sds-configuration) static secret is used if there's only a "name" field. I would suggest to have a ConfigSource with path pointing to

[2022-05-05 19:11] #20497 closed

[2022-05-05 21:01] Poweranimal commented on #21154
@wanlill thanks a lot for your input.
I’m going to check this in the upcoming days.

[2022-05-05 22:08] jojimt opened #21175 "Question: Can envoy be configured to use a second http/https proxy?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Can envoy be configured to use a second http/https proxy*

*Description*:
I am using envoy as an edge proxy. There is a use case where the whole network is behind a

[2022-05-06 00:02] #20575 closed

[2022-05-06 01:06] daixiang0 commented on #21161
Refer to [rfc7230](https://greenbytes.de/tech/webdav/rfc7230.html#message.body.length)

[2022-05-06 02:02] zhangbo1882 commented on #21161
From the rfc, it seems that it does not define the behavior for a proxy when it receives the request.  From my test in envoy, envoy does validate the content-length with the real data.

[2022-05-06 04:33] thangnn4688 commented on #20776
@soulxu i see both yaml file with and without block "listener_filters", Envoy TCP proxy always generates log "queueing request due to no available connections" in first socket event. But in second socket event, only yaml file without "listener_filters" can establish connection to endpoint successfully.

[2022-05-06 05:39] soulxu commented on #20776
I think that is normal, the connection pool without available connections after startup.

[2022-05-06 06:20] wenlxie opened #21177 "Upstream Statistics supports to be collected per upstream_host"
*Title*: *Upstream Statistics supports to be collected  per upstream_host*

*Description*:

There are many statistics for upstream clusters
https://www.envoyproxy.io/docs/envoy/latest/configuration/upstream/cluster_manager/cluster_stats#statistics
This statistics are collected per cluster, if there are just few of the upstream host has issues like:
More 5xx responses, More higher latency, More con

[2022-05-06 07:24] surki opened #21178 "Support for upstream network filter"
*Title*: We have a need for upstream RBAC or ext-authz filters

*Description*:
We are using Envoy as forward proxy (i.e., "dynamic forward proxy"). We would like to apply some network policy, specifically on the IPs it is connecting to. So we would need support for that in the upstream context.

There was some discussion [here](https://github.com/envoyproxy/envoy/issues/10525), so I went ahead and

[2022-05-06 07:42] lizan commented on #21154
Thanks @wanlill

[2022-05-06 07:47] siyigao1212 commented on #20842
The solution we used to solve the tail latency is to set tcp_nodelay as true, which means disable the Nagle's Algorithm. Nagle's Algorithm is to reduce the number of small packets of tcp socket and then improve network utilization, but at our scenario, it could cause the large tail latency problem. So if the tail latency is very important, it's better to disable Nagle Algorithm.

[2022-05-06 09:05] zirain commented on #20433
this was fixed by https://github.com/envoyproxy/envoy/pull/20856.

[2022-05-06 09:05] #20433 closed

[2022-05-06 14:11] #18888 closed

[2022-05-06 14:40] #20890 closed

[2022-05-06 15:06] mattklein123 commented on #18928
In general solution #1 seems OK to me with a few caveats:
1) Per discussion I would recommend skipping connection reuse in the initial implementation. It will be much harder and I don't think the extra work is justified.
2) Some thought needs to put into how the signing of the fake certs is going to be done. I'm honestly not thrilled with this being built directly into Envoy. It seems better to po

[2022-05-06 15:15] mattklein123 commented on #21108
Note that we are not going to add PPC back to any official docker images unless there is working CI for it. This CI has to be provided and managed by someone and can't slow down the rest of the pipeline. If someone wants to step up and do this we can discuss further. Otherwise all we can do is take fixes.

[2022-05-06 15:19] Brunomachadob commented on #3538
FIY, I've solved this problem at my company by creating a simple Go application that accepts metrics via HTTP requests and proxies them to the UDP DataDog Agent directly.

This application runs as a sidecar of my Envoy and all the communication between `Envoy -> Metric proxy -> DD Agent` stays local to he machine

On Envoy side, I just fire a async http request from lua, with something like:

[cod

[2022-05-06 16:56] lizan commented on #21178
@yangminzhu @yanavlasov

[2022-05-06 16:57] lizan commented on #21177
cc @jmarantz

[2022-05-06 16:59] lizan commented on #21175
You need to explicitly configure them in Envoy configuration.

[2022-05-06 20:41] danzh2010 opened #21187 "quiche: quiche h2 unit tests failure"
Some h2 unit tests from QUICHE were added to quiche.BUILD, but they are not tested in CI. And some actually failed if ran manually, i.e. @com_github_google_quiche//:http2_adapter_nghttp2_session_test
repro: $ bazel test @com_github_google_quiche//...

To tell CIs to run those tests, the target should be added to   https://github.com/envoyproxy/envoy/blob/main/bazel/external/quiche.BUILD#L55

[2022-05-06 20:52] danzh2010 commented on #21187
/assign @birenroy

[2022-05-06 20:54] mattklein123 commented on #21178
I agree that (1) is the right approach, with sharing as much code as possible. It would be great to see this happen!

[2022-05-06 20:59] mattklein123 commented on #21177
I think this would be an interesting feature. Obviously it must be opt-in for cardinality reasons.

[2022-05-06 21:06] kfaseela commented on #20917
/assign kfaseela

[2022-05-07 00:02] #20496 closed

[2022-05-07 04:00] derekguo001 commented on #19217
Hi, @mattklein123  Thanks for your advice.

We discussed the two proposals and the overlap with the owner of https://github.com/envoyproxy/envoy/issues/18928 @LuyaoZhong .

In the TCP Bumping proposal, they plan to use `tls_certificate_provider_instance` to generate the key/cert.
However, as SDS API is the standard implementation for `Secret`, in current proposal we follow the SDS API to get the k

[2022-05-07 05:13] LuyaoZhong commented on #18928
@mattklein123

Thanks for your vote on solution#1. We could dive into design details next step along with this direction. It will very helpful to simplify our implementation.

Yes, we agree on that it's out of scope for Envoy, we are looking for a proper extension mechanism to support cert mimicking,  [certificate provider](https://github.com/envoyproxy/envoy/blob/main/api/envoy/extensions/transpo

[2022-05-07 06:30] zhangbo1882 commented on #21177
It must be helpful if envoy can provide such statistics.

[2022-05-07 08:03] github-actions[bot] opened #21190 "Newer release available `opentelemetry_proto`: v0.17.0 (current: v0.11.0)"
Package Name: opentelemetry_proto@0.11.0
Current Version: v0.11.0@2021-10-07
Available Version: v0.17.0@2022-05-06
Upstream releases: https://github.com/open-telemetry/opentelemetry-proto/releases

[2022-05-07 08:03] #20641 closed

[2022-05-07 09:53] lucallero commented on #19910
not stale

[2022-05-07 10:11] zhangbo1882 commented on #21084
@wbpcode ,
I think RESPONSE_DURATION = time4(receive response from upstream)-time2(receive request from downstream client).
What I need is time3(send request to upstream) - time2(receive request from downstream client). This time duration can tell us how long envoy handle the request. It is very useful to isolate the latency issue in production environment.

For example, client complains that it w

[2022-05-07 11:28] wbpcode commented on #21084
May `%REQUEST_TX_DURATION%` works?

[code]

May be the `time_to_first_upstream_tx_byte` is better. But it not supported by the normal file log.

[2022-05-07 12:01] #20606 closed

[2022-05-07 12:01] #20608 closed

[2022-05-07 12:26] jmarantz commented on #21177
Would it be helpful to be able to enable such statistics with an admin POST when the need arises, maybe just the hosts of a specific cluster?

[2022-05-07 12:42] petedmarsh commented on #15046
Hi @dakshinai, did you ever get to the bottom of this?

[2022-05-07 15:40] k2mahajan commented on #7650
I still do not see the default value of mx_request_bytes documented. Can someone clarify here?

[2022-05-07 16:32] Poweranimal commented on #21154
I tried to set it up.
However, envoy constantly crashes with segmentation fault.

I attached the error logs, the `config.yaml` and `resources.yaml` below.

I look forward to your support.

<details>
<summary>logs</summary>

[code]

</details>

<details>
<summary>config.yaml</summary>

[code]

</details>

<details>
<summary>resources.yaml</summary>

[code]
</details>

[2022-05-07 17:02] Poweranimal commented on #21154
I added
[code]
to my `config.yaml` and now I get a little bit further but it still ends with a segmentation fault.

<details>
<summary>config.yaml</summary>

[code]

</details>

<details>
<summary>logs</summary>

[code]
</details>

[2022-05-07 17:38] Poweranimal commented on #21154
Ok, I finally was able to get it running.
In order to get it running, I created a `resources.yaml` file for each sds `type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.Secret`.
I attached by final config to the end of this comment.

However, my journey exposed three things in envoy's sds setup process that I think are worth improving:

1. Segmentation fault error is thrown, if `node.id

[2022-05-07 18:54] geijerhaeggstrom commented on #20578
@tpetkov-VMW would this also consolidate the matching _types_ available so that jwt_authn supports all listed in RouteMatch? I was about to create an issue regarding metadata matching having no effect in jwt_authn rules, hence me asking.

[2022-05-07 19:20] zd9KgA opened #21193 "PostgresProxy: unknown type: envoy.extensions.filters.network.postgres_proxy.v3.PostgresProxy"
*Title*: PostgresProxy filter cannot be configured

*Description*:
Envoy refuses configuration using `envoy.yaml` from https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/postgres.html.
The expected behavior is that the example works as described in the documentation.

*Repro steps*:
Follow steps as described in https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/postgres.html. Ste

[2022-05-07 21:47] scrocquesel commented on #21119
I tried to set the `initial_metadata` with `%REQ(x-b3-traceid)%` but if the downstream request do not have those headers, envoy generate a new trace and I don't get those values at all (stream request nor message request)

[2022-05-08 00:02] #20573 closed

[2022-05-08 01:59] mukundv18 opened #21194 "External Authorisation for Redis via Envoy Proxy"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: How to configure external Authorisation for Redis Server via Envoy Proxy?

*Description*:
[code]

We want to use Envoy for all the traffic to Redis Server. However,

[2022-05-08 02:01] dio commented on #21193
@zd9KgA with the latest version, I'm not sure envoy installed by func-e has postgres extension, since postgres extension is only available in ["contrib"](https://www.envoyproxy.io/docs/envoy/latest/start/install#install-contrib) images: https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/postgres_proxy/v3alpha/postgres_proxy.proto.

[2022-05-08 02:17] dio commented on #21194
@mukundv18 I think we could try the L4-flavor of ext_authz: https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/ext_authz/v3/ext_authz.proto.html

[2022-05-08 06:05] mukundv18 commented on #21194
Let me try this. I'll keep you posted.

[2022-05-08 08:06] zd9KgA commented on #21193
@dio Thanks for pointing that out to me. My understanding of the Envoy ecosystem is just gradually developing.

When I start the example as described, the proxy container terminates with exit code `132`, and I tried to fathom the reason using `func-e`. Apparently not the best choice. I don't get logs from the container either.

Any suggestion on how I might unravel this?

[2022-05-08 08:17] zd9KgA commented on #21193
I tried to trace the problem within the container (`docker-compose run proxy`) with the following outcome:

[code]

[2022-05-08 12:01] #20061 closed

[2022-05-08 15:44] hamza-maqsood commented on #14602
how to combine multiple protos into one descriptor file?

[2022-05-08 17:13] mattklein123 commented on #21154
Thanks these are all bugs that should be fixed to obviously not crash. I will mark help wanted. cc @kyessenov @lambdai who might be able to fix.

[2022-05-08 22:06] dio commented on #14602
@hamza-maqsood with `protoc` you can do something similar to:

[code]

Or, using `buf build` https://docs.buf.build/tour/configure-and-build#build-the-api (after configuring your project) with [.bin](https://docs.buf.build/reference/inputs#bin) as the output:

[code]

Note: combined.pb is an arbitrary name.

[2022-05-09 00:03] #20545 closed

[2022-05-09 00:11] mukundv18 commented on #21194
This appears to work as expected. Can you guide us to get the configuration or if you are aware of any plugin to be used with this for Active Directory authentication/authorisation? Should the external authorisation service be only a gRPC service?

[2022-05-09 01:26] thangnn4688 commented on #20776
@soulxu do you have to configure any special options for server OS or server firewall in your Envoy server?

[2022-05-09 02:47] zhangbo1882 commented on #21084
From official doc https://www.envoyproxy.io/docs/envoy/latest/configuration/observability/access_log/usage, it show that
%REQUEST_TX_DURATION%
HTTP
Total duration in milliseconds of the request from the start time to the last byte sent upstream.
From my understanding, it is only for the duration to send traffic to upstream. This is not what I need.

[2022-05-09 02:58] wenlxie opened #21197 "No response_flag for request blocked by filter like http.rbac"
*Description*:
When a request is denied, the [RESPONSE_CODE_DETAILS](https://www.envoyproxy.io/docs/envoy/latest/configuration/observability/access_log/usage#config-access-log-format-response-code-details) will include the name of the matched policy that caused the deny in the format of rbac_access_denied_matched_policy[policy_name] (policy_name will be none if no policy matched), this helps to di

[2022-05-09 03:47] wbpcode commented on #21084
FWIW, the start time in the docs means `receive request from downstream client`.

[2022-05-09 07:51] zhangbo1882 commented on #20536
@mattklein123 , I would like to use tap framework to do the work. But I do not have a straightforward thinkings how tap can meet my requirement.
I have checked the tap code, tap framework will

match traffic in listener and tap output the traffic
match traffic in cluster and tap output the traffic.
My requirement is that matching traffic in listener and tap output the traffic in cluster. So it see

[2022-05-09 09:21] gektor0856 commented on #6334
it still relevant in 2022, any updates?

[2022-05-09 10:14] Lynskylate opened #21198 "cryptomb: ssl handleshake always failed in tlsv1.2"
# cryptomb: ssl handleshake always failed in tlsv1.2
 @ipuustin
Openssl client can't complete ssl handleshake in tlsv1.2 protocol , but can complete tls handshake when use tlsv1.3 protocol.if connect server with tlsv1.2 protocol, envoy will reset the connection.

The difference seems to be in the order of the signature algorithms
Although client hello message offer many signature algorithm, crymto

[2022-05-09 10:20] Lynskylate commented on #21198
It can also be easily reproduced using libressl
[code]
![image](https://user-images.githubusercontent.com/17235904/167390663-3255a5f4-58c7-4666-b85d-639b79f15089.png)

[2022-05-09 10:49] ipuustin commented on #21198
Thanks for the report! The PKCS1_5 support didn't work right previously, so I just removed the code. I do have a working PKCS1_5 implementation drafted -- it just needs a bunch of tests.

/assign @ipuustin

[2022-05-09 12:35] kanongil opened #21200 "HTTP/3 serving fails with EIO on Linux"
*Description*:

The supposedly stable HTTP/3 server feature fails to deliver UDP packets on one of my cloud servers.

*Analysis*:

The linux build enables [the GSO batch writer](https://github.com/envoyproxy/envoy/blob/83af7c0b864c69f87e8d3c6969675423a379af4c/source/common/quic/udp_gso_batch_writer.h#L3-L6) to optimize delivery of UDP packets. However, the [`UDP_SEGMENT` feature](https://github.co

[2022-05-09 13:35] dangolbeeker opened #21201 "Nginx Module inside of cluster? socket_ip?"
Does this look like proper syntax?
I want to implement Nginx RTMP inside of envoy.
[code]

[2022-05-09 14:56] ipuustin commented on #21198
@Lynskylate I pushed the draft code here: https://github.com/ipuustin/envoy/tree/pkcs1_5

Regarding testing, the problem is that we don't really have end-to-end test code for cryptomb, so the testing code needs to be able to check that the padding is done correctly.

[2022-05-09 15:25] mattklein123 commented on #20536
Since your focus appears to be HTTP/1.1 traffic, why can't you just use the L7 HTTP tap filter and then capture the HTTP traffic for a particular client based on matching rules? Obviously this filter runs in "downstream" context but I don't really understand why you need to capture both the downstream and upstream traffic if you are just trying to see the traffic that is flowing for a particular c

[2022-05-09 16:14] sergeybykov commented on #19326
@bryanwux were you able to make any progress? We are keenly interested in this.

[2022-05-09 16:26] mattklein123 commented on #21197
cc @kyessenov @alyssawilk for thoughts on this.

[2022-05-09 16:28] mattklein123 commented on #21201
I'm not sure what you are trying to achieve and what the problem is. Please provide more information. Thank you.

[2022-05-09 16:33] alyssawilk commented on #21197
I think it'd be fine to have a flag for this.  I went through an audited all local response paths to make sure we had details but IMO flags are still missing in many cases and added mostly ad hoc.

[2022-05-09 16:44] dangolbeeker commented on #21201
I guess I want an example of how you would implement rtmp in envoy.

[2022-05-09 17:05] ghevge commented on #21090
Any feedback on this one ? Thanks!

[2022-05-09 17:09] paul-palmer commented on #21053
I presume you mean rationale and not rational. Because the argument in #10855 is not rational. It implies that the dev's analysis of the risks of using P-384 outweigh the benefits in our environment (actually every environment everywhere) when they actually know almost nothing about the risks we are balancing in our environment. This lack of P-384 support is a real pain point for us.

I can unders

[2022-05-09 17:21] yanavlasov commented on #19217
@derekguo001 I think the idea is to make it possible to use API for generating and signing the certificate generic enough such that it can be used from other contexts, not just SDS.

Also I have commented on the proposal doc. I think the machinery of establishing two connections to the same SDS service will be difficult and in some cases impossible to implement. Even if you are using the same gRPC

[2022-05-09 17:53] kyessenov commented on #21197
It'd be fine to add I think. There's an ext_authz flag (UAEX) which fulfills the same purpose.

[2022-05-09 18:27] lizan commented on #21090
@ghevge you may do this with existing local reply mapper: https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/local_reply

[2022-05-09 18:28] lizan commented on #21151
OK thanks for the info. It makes sense for the transcoder to decode URL.

[2022-05-09 18:45] ghevge commented on #21090
@lizan  Thank you! I will give it a try.

[2022-05-09 19:20] scrocquesel opened #21205 "ext_proc hang and response body is never called when behind Decompressor filter"
*Title*: *ext_proc response body never get called when behind Decompressor filter*

*Description*:

[code]

`curl -v -H "host: http.domain.com" --resolve  http.domain.com:8084:127.0.0.1  http://http.domain.com:8084/gzip`

never end and the ext_proc grpc is not receving the message to process response body. All other call works as expected.
and `curl -v -H "host: http.domain.com" --resolve  http.do

[2022-05-09 21:21] RyanTheOptimist commented on #21200
Thanks for the report! I'm not familiar by the details here. Perhaps @danzh2010 has a better idea? That being said, I do have a couple of questions. I'm curious why the interface MTU ends up smaller than the QUIC packet size? Normally QUIC connections in envoy have a max packet size of 1250 bytes. Secondly, OsSysCallsImpl::supportsUdpGso attempts to check to see if UDP GSO works but checking that

[2022-05-09 21:21] scrocquesel commented on #21205
repro: https://github.com/scrocquesel/envoy_ext_proc

[2022-05-10 00:55] daixiang0 commented on #21201
Could you share more details about what is rtmp and why you want it in Envoy? It would help us understand.

[2022-05-10 00:58] dangolbeeker commented on #21201
https://github.com/arut/nginx-rtmp-module

It's a media streaming server

[2022-05-10 01:12] wenlxie commented on #21177
Yes, by default it is not enabled, and this can be enabled by an admin POST or by cluster configuration.

[2022-05-10 02:49] thangnn4688 commented on #20776
@soulxu do you have to configure any special settings for server OS (exp: sysctl.conf) or server firewall (exp: iptables, firewalld) in your Envoy server?

[2022-05-10 04:32] yingjianjian opened #21215 "Why does dubbo filter set inbound|20880|| in inbound so that it will not report dubbo router: unknown cluster inbound|20880||"
*Description*:
ask  @wbpcode  Why does dubbo filter set inbound|20880|| in inbound so that it will not report dubbo router: unknown cluster inbound|20880||
E.g:
spec:
  configPatches:
  - applyTo: NETWORK_FILTER
    match:
      listener:
        filterChain:
          filter:
            name: envoy.filters.network.tcp_proxy
        name: virtualInbound
    patch:
      operation: REPLACE
      v

[2022-05-10 05:49] wbpcode commented on #21119
This is because Envoy inject the tracing headers at the last of request header processing. So you get nothing in the ext_proc.

[2022-05-10 05:51] wbpcode commented on #21119
Looks like this is a general issue for the external grpc requests. But sorry I have no enough bandwidth for this recently. 😞  I will mark this help wanted.

[2022-05-10 06:04] wbpcode commented on #21215
Sorry, can you describe your question with more detailed info? I don't get your problem clearly.

As you can see in the code snippet you post, when the dubbo router cannot get the cluster by the name, the error `unknown cluster` will be returned. So may be the xds server just only create a ` inbound|20880||` for the indound proxy.

It seems that this issue is not directly related with Envoy.

[2022-05-10 06:39] snehakpersistent commented on #21108
@phlax I tried building the image with `BUILD_OS=ubuntu` and I am getting same issue:
[code]
I removed this option `--chown=root:root` from binary image(as scratch image doesn't have shell) and moved it to envoy image(which is using `BUILD_OS=ubuntu` as base). I was able to build the image successfully [quay.io/snehakpersistent/envoy-dev:ppc64le](https://quay.io/repository/snehakpersistent/envoy-d

[2022-05-10 07:22] mayurwaghmode commented on #21108
@phlax @lizan would you mind sharing the steps for building the https://hub.docker.com/r/envoyproxy/envoy-dev/tags image on x86 architecture? It will help us to understand the workflow. So that we can try the same for building it on ppc64le architecture, and will work on adding the required patches for ppc64le architecture.

[2022-05-10 08:03] github-actions[bot] opened #21216 "Newer release available `rules_rust`: 0.4.0 (current: 0.3.1)"
Package Name: rules_rust@0.3.1
Current Version: 0.3.1@2022-04-26
Available Version: 0.4.0@2022-05-09
Upstream releases: https://github.com/bazelbuild/rules_rust/releases

[2022-05-10 08:19] Lynskylate opened #21217 "Mac Compile Error: use of undeclared identifier 'o_tmpfile'"
In #20332 , envoy add async_files library, but use [o_tmpfile](https://github.com/envoyproxy/envoy/commit/18c779af9106a1d85203621c9f4453d5901744e8#diff-ab7ec570ca458e22c4f9f88893d3535274797b6aed073694b8df866a58235236R134) file flag which is not avaliable in mac.

[code]

My temporary fix, add condition compile for asyncfile
[code]

[2022-05-10 08:22] kanongil commented on #21200
Thanks for looking into this. The check you link only verifies that the kernel supports the `UDP_SEGMENT` option. You can't really pre check whether GSO will actually work, since it depends on the used network interface and options.

I see two ways to fix this:

1. Add an option to manually disable the feature and provide a warning / advise when `EIO` is encountered.
2. Transparently disable GSO f

[2022-05-10 08:31] kanongil commented on #21200
I don't know why envoy tries to send 3600 bytes in a packet, but packet size > interface MTU is needed to utilise the GSO optimization.

[2022-05-10 08:59] derekguo001 commented on #19217
Hi, @yanavlasov . Please let me explain in detail why we designed it like this and the factors we have considered.

**There are some reasons we want SDS Server to provide the key/cert.**

1. They key/cert pairs may be generated automatically. They may also be created by users(for example, when Envoy works as a gateway). We want to handle both cases in the same way.
   If we let Envoy itself genera

[2022-05-10 09:21] phlax commented on #21108
@mayurwaghmode probably the best thing to do is to try building it *exactly as is done in CI*

[2022-05-10 10:34] ankatare opened #21219 "Bazel build command failed"
*Title*: *Bazel build fail*

*Description*: On latest code while running below command , its failing.. please help ..
bazel build //source/exe:envoy-static
2022/05/10 15:50:47 Downloading https://releases.bazel.build/6.0.0-pre.20220421.3/release/bazel-6.0.0-pre.20220421.3-linux-x86_64...
2022/05/10 15:50:47 could not download Bazel: HTTP GET https://releases.bazel.build/6.0.0-pre.20220421.3/releas

[2022-05-10 11:12] rpsene commented on #21108
@lizan you can get an initial set of FREE Power VMs at https://openpower.ic.unicamp.br/minicloud/. If you need more than that, let me know.

[2022-05-10 11:44] rohrit commented on #21038
with the change in configuration, the proxying is working correctly. thanks for the fix, @alyssawilk !

[2022-05-10 11:57] ramaraochavali commented on #21177
There are some level of stats in /clusters output per host I think?

[2022-05-10 12:50] alyssawilk commented on #21038
Awesome!  sorry the checked in config wasn't working in the first place and thanks for all your help debugging!

[2022-05-10 13:07] soulxu commented on #20776
no, I don't have it. I test this config on the v1.21.1 also, can't reproduce your problem.

[2022-05-10 14:29] hshamji opened #21221 "QUESTION: Static Configuration Failing Validation"
**QUESTION: Static Configuration for Admission Control Failing Validation**

*Description*:
I’m trying to write a [static configuration file](https://gist.github.com/hshamji/1c4b4f105709a8d242a0a2d8e9b37f40) to configure an [admission control filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/admission_control_filter) in a testing environment. The `sr_threshold` an

[2022-05-10 15:23] mattklein123 commented on #21108
Sorry we don't have the resources to do any work here. Whoever cares about PPC will have to provide the machines, do all the devops and build integration, and be on call to fix issues. If the PPC build blocks the build and is not fixed in a timely manner it will be removed. If you are interested in signing up for this please do a proposal doc and we can discuss. Thank you!

[2022-05-10 15:25] mattklein123 commented on #21205
cc @gbrail

[2022-05-10 15:26] mattklein123 commented on #21219
cc @keith

[2022-05-10 15:40] RyanTheOptimist commented on #21200
Sounds reasonable. I'll take a stab at that.

[2022-05-10 16:26] #21100 closed

[2022-05-10 16:50] #17898 closed

[2022-05-10 18:22] cpakulski commented on #21142
I think that the simplest solution would be to introduce another state called for example Host::HealthFlag::POSSIBLY_HEALTHY which would be equivalent to Host::HealthFlag::HEALTHY except for specific logic like backoff time management. That state would last until the first non-error response.

I was thinking about improving docs, but it is not simple either without describing internal state machin

[2022-05-10 19:48] keith commented on #21219
Can you update your `bazelisk` version locally and see if that fixes it? https://github.com/bazelbuild/bazelisk/releases

[2022-05-10 19:55] keith commented on #21217
It looks like there just isn't a logical replacement for this on macOS, @ravenblackx since you recently added this can you add some `#ifdefs` that make sense to fix this?

[2022-05-10 20:52] KBaichoo opened #21229 "Defer Processing: HTTP/3 fairness when working with HTTP/2 defer processing"
Defer Processing: HTTP/3 fairness when working with HTTP/2

*Description*:
Have HTTP/3 (H3) similarly track streams in an LRU fashion as described in  https://github.com/envoyproxy/envoy/pull/21118#discussion_r866166778 for HTTP/2 (H2). This will then enable fairness when we streams that span both H2 stream with deferred processing and H3.

[2022-05-10 21:26] #19127 closed

[2022-05-10 22:51] jojimt commented on #21175
Thanks @lizan. I was able to use the sample provided here. https://gist.github.com/grzegorz-mirek/c028a24ec2b32dfa47b1fdb904ed3baa

[2022-05-10 22:51] #21175 closed

[2022-05-11 00:13] soulxu commented on #20933
According to the discussion https://github.com/envoyproxy/envoy/pull/21059#pullrequestreview-968110370, this doesn't seem to have a strong benefit to taking the risk to improve this. This can be done in the future if people asking this in the production.

[2022-05-11 00:13] #20933 closed

[2022-05-11 00:31] soulxu commented on #20100
This issue can be closed also, since the integration test https://github.com/envoyproxy/envoy/pull/20914 already validate this case is ok.

[2022-05-11 00:41] mukundv18 commented on #21194
@dio I have added the external authorisation grpc server. However I got the following exception,
[code]

Then to fix this, I added the following in the cluster configuration,
[code]

Now the reported exception is as follows,
[code]

How to fix this? Please help

[2022-05-11 01:07] wenlxie commented on #21177
@ramaraochavali
Thanks for reply,
There are just few statistics in /clusters output there

[code]
Compare to the statistics for cluster https://www.envoyproxy.io/docs/envoy/latest/configuration/upstream/cluster_manager/cluster_stats#statistics, this is really not enough.

[2022-05-11 04:19] dio commented on #21194
AFAIK, gRPC talks using HTTP2, you need to add `typed_extension_protocol_options` (https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto.html?highlight=typed_extension_protocol_options) to the upstream config, to select to use HTTP2 explicitly: similar to: https://github.com/envoyproxy/envoy/blob/2c8bcde2f207d780827d69636f5ccb0bbd38ec4b/examples/ext_authz/config/grpc-s

[2022-05-11 04:58] thangnn4688 commented on #20776
@soulxu i use Envoy version 1.18.2/clean-getenvoy-76c310e-envoy/RELEASE/BoringSSL from Tetrate-getenvoy-rpm-stable repository, in CentOS 7.9.
I also use Envoy v1.21.1 via func-e in Ubuntu 20.04 to try your config, but the issue still occurs.

[2022-05-11 05:13] thangnn4688 commented on #20776
@soulxu i try to use Envoy and Func-e in Ubuntu 20.04 (with stop iptables/firewalld in server) to run your config and get the same issue as i try it in CentOS 7.9

[2022-05-11 05:36] ankatare commented on #21219
@keith @mattklein123 Thanks for help.
@keith thanks for pointers.. solved this issues with update the file **.bazelversion** locally with latest stable **version 5.1.1**

[2022-05-11 06:17] keith commented on #21219
wait that's not what i meant, that's changing the _bazel_ version not the _bazelisk_ version. at this point the version in the `.bazelversion` is the only supported version to use for building envoy, so you might run into various other issues

[2022-05-11 07:10] aruandre opened #21232 "retriable_statuses: Cannot find field"
*Title*: *retriable_statuses: Cannot find field*

*Description*:
Trying to implement http_health_check with retriable_statuses.
When adding the retriable_status the following error is encountered any envoy fails to start
Protobuf message (type envoy.config.bootstrap.v3.Bootstrap reason INVALID_ARGUMENT:(static_resources.clusters[1].health_checks.http_health_check) retriable_statuses: Cannot find f

[2022-05-11 07:11] TomasKohout commented on #21092
Hi,

is it possible for you to try envoy 1.15.5?

Not sure if it's related, but in our infrastructure 1.15.x works fine, but from that point on, envoy keeps being OOM killed too.

I've figured out that building envoy with `--define tcmalloc=gperftools` fix this issue for us although IDK why the other implementation of tcmalloc doesn't work as expected.

[2022-05-11 07:23] mukundv18 commented on #21194
Hi @dio ,
This worked, but I cam across this ticket https://github.com/envoyproxy/envoy/issues/15559
Is this option deprecated now?

[2022-05-11 07:56] dio commented on #21194
@mukundv18 let me quote @alyssawilk's here:

[https://github.com/envoyproxy/envoy/blob/main/api/envoy/config/cluster/v3/cluster.proto#L798](https://github.com/envoyproxy/envoy/blob/main/api/envoy/config/cluster/v3/cluster.proto?rgh-link-date=2021-03-18T19%3A12%3A10Z#L798)
but setting http2 protocol options in the http config is not.
[https://github.com/envoyproxy/envoy/blob/main/api/envoy/extensio

[2022-05-11 08:03] github-actions[bot] opened #21233 "Newer release available `com_github_curl`: curl-7_83_1 (current: curl-7_83_0)"
Package Name: com_github_curl@7.83.0
Current Version: curl-7_83_0@2022-04-27
Available Version: curl-7_83_1@2022-05-11
Upstream releases: https://github.com/curl/curl/releases

[2022-05-11 09:43] yingjianjian commented on #21215
Sorry just saw the reply. My question is this. At present, the inbound cluster configuration in Dubbo's case is inbound|20880|, not, for example, inbound|20880|http-80111|***** why can it be configured as inbound|20880||

[2022-05-11 09:47] WangChao0326 opened #21234 "Whether the client can control the recent access by itself when using the locality feature"
We want to use locality, whether the client can control the nearest access by itself? For example, the client is deployed in region-a, and the server has region-a, region-b, and region-c. We enable nearby access by default, so that the client of region-a can access the server of region-a. But sometimes, the client of region-a wants to access the server of region-b.

At present, our design is that

[2022-05-11 09:52] rafan opened #21235 "route match with tls client certificate does not work with session resumption"
*Title*: route match with tls client certificate does not work with session resumption

*Description*:
I configured optional mutual TLS (mTLS) based on the path using `RouteMatch.TlsContextMatchOptions` with Envoy 1.22.0. However, when cURL/OpenSSL client resumes TLS session, Envoy fails to route and client gets 404 (NR -- no route configured). A fresh (TLS) connection works as expected (Envoy rou

[2022-05-11 10:05] ankatare commented on #21219
@keith But that did not worked.. i tried :( . So yeah, its a kind of workaround to me to proceed atleast

[2022-05-11 12:19] wbpcode commented on #21215
This depends on the implementation of xds server. From the inspect of Envoy, the name of cluster has no special meaning.

Because xds server create it.

[2022-05-11 12:21] yingjianjian commented on #21215
Thank you, the code implementation of this part is in that function, I will study it

[2022-05-11 13:06] emanuelioan commented on #19612
Hi! Any updates on this feature? I'm also tracking this for an application.

[2022-05-11 13:27] mukundv18 commented on #21194
Thanks @dio !
One last request (hopefully) to get this working. I am new to gRPC, so need some guidance here.
I have implemented the following grpc server and pointed Envoy external authentication to it.

[code]
External Authorisation class (which basically returns happy status for all)

[code]

With this code, running the redis-cli gives 'I/O error'

[code]

To debug this, I ran the grpc service

[2022-05-11 14:05] eoregua opened #21239 "backtrace.h:104 Caught Aborted, suspect faulting address 0x38aba00000011"
Hi,

Randomly but quite frequently just at startup of the POD the envoy process is got a segmentation fault:

[code]
Is a known issue? Any idea?

[2022-05-11 14:08] hshamji commented on #21221
Sorry if I'm being dense here, but still not able to get it to work.

The [snippet from the docs](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/admission_control_filter#example-configuration) says:
[code]
That didn't work. I also tried replacing `default_value` with `value`; having both fields there; also tried both those options with the typed_config for v3.Percent.

[2022-05-11 14:42] alyssawilk commented on #21194
Sadly Dio has moved on
cc @esmet @pradeepcrao @ggreenway for ext authz @weisisea @mattklein123 for redis

[2022-05-11 14:49] #20100 closed

[2022-05-11 15:18] hshamji commented on #21221
Oh amazing! Thanks so much for your help!

Lol, I would never have resolved that. I was looking at the [proto for v3.RuntimePercent](https://github.com/envoyproxy/envoy/blob/main/api/envoy/config/core/v3/base.proto#L267-L269) for the format.

Do you want me to submit a doc PR fixing the example for this `sr_threshold` and `max_rejection_probability`. With those changes the config works just fine.

[2022-05-11 15:33] ggreenway opened #21242 "build: disable http3 does not work as specified in docs"
I am running `bazel build --//source/extensions/wasm_runtime/v8:enabled=false --//bazel:http3=False --define google_grpc=disabled //source/exe/..."`

I see this output:

[code]
which contains quiche code that should have been disabled by `--//bazel:http3=False`, as specified [here](https://github.com/envoyproxy/envoy/blob/3f199e1c1801b1fa31ab60c3fdc5ef0dc7284fcf/bazel/README.md?plain=1#L665)

Docs

[2022-05-11 16:10] mattklein123 commented on #21221
Yes please!

[2022-05-11 16:16] markdroth commented on #20634
Looks like a config for the least_request policy is being added in #21210.

[2022-05-11 16:18] mattklein123 commented on #21232
I would imagine this was added in a version newer than what you are using.

[2022-05-11 16:19] mattklein123 commented on #21234
This question is somewhat out of scope for Envoy, it's more about how you use Envoy in your deployment. Do you have a specific Envoy question that would help you with your goal?

[2022-05-11 16:20] mattklein123 commented on #21235
Wouldn't surprise me if we have bugs here around session resumption. cc @ggreenway for thoughts.

[2022-05-11 16:22] mattklein123 commented on #21239
For starters, you had to click through multiple screens that say to not open issues related to crashes on GH and to email the security list. Please do not do this! Thank you.

Given this is unlikely a security issue we can leave this here. Please use an envoy build with symbols (envoy-debug, etc.) so we can have a better idea of what is going on here.

[2022-05-11 16:26] #20586 closed

[2022-05-11 16:51] aruandre commented on #21232
@mattklein123 thanks, found it now in the release notes of v1.21.0

[2022-05-11 17:01] bencebeky opened #21245 "Use Balsa HTTP/1 codec"
The current HTTP/1 codec is [http-parser](https://github.com/nodejs/http-parser).  The plan is to transition Envoy to use [Balsa](https://github.com/google/quiche/tree/main/quiche/balsa) instead.  [edit: fix link]

[2022-05-11 18:07] timmotw opened #21251 "OAuth2 Filter dynamic host for token and auth endpoints URIs apart just like the redirect_uri"
OAuth2 Filter dynamic host for token and auth endpoints URIs apart just like the redirect_uri

The token and auth URI host to be extract-able from the request headers just like the `redirect_uri` e.g:

[code]

There are cases where the SSO service could running on a portable device which changes IP and this dynamic extraction of the IP is desirable.

[2022-05-11 18:14] timmotw opened #21252 "OAuth2 Filter's [AuthorizationEndpointFormat] `state` parameter could be configurable"
OAuth2 Filter's [AuthorizationEndpointFormat]  `state` parameter could be configurable `state` could be configurable

OAuth2 Filter's [AuthorizationEndpointFormat]  `state` could be configurable which would save the cases where re-writing redirect `URLs` and instead always have a static `state` parameter `URL` value.

https://github.com/envoyproxy/envoy/blob/aa19a78404e285d5cd219c564a68e67c5948407

[2022-05-11 18:47] keith commented on #21219
Can you try on this branch https://github.com/envoyproxy/envoy/pull/21253 with `./bazelw build envoy`?

[2022-05-11 20:01] ggreenway commented on #21235
It looks like `presented` works correctly with resumption, but `validated` does not. I'm trying to figure out if there's a good way to fix it. If untrusted/unvalidated certs are allowed, I'm not sure if there's a way to know on the resumed session whether the original cert was valid. If untrusted/unvalidated are disallowed, we could know just by virtue of a session resumption occuring that it was

[2022-05-11 20:06] #20583 closed

[2022-05-11 20:11] jewertow commented on #19612
@pxpnetworks I submitted another pull request and explained why not `auto_sni`. But yes, the general idea is to provide SNI using requestedServerName. If you want to provide workload source IP, it's rather a question if you can overwrite `:authority` header. As far as I remember it's not allowed... I am not sure what do you mean by providing SNI, could you explain in more detail?

[2022-05-11 20:12] jewertow commented on #19612
@emanuelioan yes, there is a new PR.

[2022-05-11 20:22] hshamji opened #21255 "QUESTION: Admission Control Non-Global Configurations"
**QUESTION: Admission Control Non-Global Configurations**

*Description*:
When I try to configure Admission Control for a specific route I get the error that `The filter envoy.filters.http.admission_control doesn't support virtual host-specific configurations`.

I'm trying to understand the limits of this. Could I for example split traffic on headers and apply Admission Control to one set of heade

[2022-05-11 20:30] kyessenov commented on #19612
Somewhat high-level comment: per [MASQUE](https://www.ietf.org/archive/id/draft-ietf-masque-connect-ip-01.html#name-configuration-of-clients) proposal, I think it's necessary to support some URL template generation, but it really should be in `:path` not `:authority` for extended CONNECT.

[2022-05-11 21:06] pitiwari opened #21256 "Ability to mark host as unhealthy and still accept new connections"
i was trying to use "curl http://localhost:15000/healthcheck/fail -X POST" but this also makes envoys to stop accepting new connections. In our case we want to continue accepting new connections and at the same time fail hc so that AWS NLB knows that hc is failing. Is there any way to mark envoy as unhealthy and continue accepting new connections till we do drain in the end ?

[2022-05-11 21:55] lizan commented on #20714
Fixed by #20729

[2022-05-11 21:55] #20714 closed

[2022-05-12 00:59] daixiang0 commented on #21245
@bencebeky hi, could you compare Balsa with http-parser to show the advantage of transition?

[2022-05-12 01:54] wbpcode commented on #21245
Yeah, is there any reason to make this transition?

[2022-05-12 02:49] wenlxie opened #21258 "Some of listener's statistics can support to collected per vip"
*Description*:
As envoy works as proxy, which means all of the connections can use just one listener, this makes all of VIP's statistics are all put together to  the statistics of listener.
This is not easy to figure out when there are just some of the VIP's are having the issue like TLS handshake error.
In TLS level, there is already connections info, so some of the statistics can be exposed with

[2022-05-12 05:04] riyadshairi979 opened #21259 "Changing grpc application name"
Hi folks
I have a REST client connecting to gRPC server through Envoy. But due to firewall I am getting this error below.
My question is, can I rewrite the request header at Envoy in such a way that the application name (i.e. `grpc`) get removed and firewall allow the request to get to the server.
[code]

[2022-05-12 06:07] cetanu opened #21260 "Envoy does not recognize `envoy.api.v2.auth.Secret` type_url for secrets when using filesystem XDS"
*Title*: Envoy not recognizing type for secrets

*Description*:
When using the file system as a config source for XDS, it appears that Envoy does not accept `envoy.api.v2.auth.Secret` as a type for secrets.

*Repro steps*:
Clone the following repo and run `docker-compose up --build envoy`
https://github.com/cetanu/secret_invalid_type_url_repro
This repo contains a private key from a self-signed ce

[2022-05-12 06:41] wbpcode opened #21261 "http filters: make the http filter can be configured repeatly and work correctly"
*Title*: *http filters: make the http filter can be configured repeatly and work correctly*

*Description*:

Although the http filters can be configured repeatly in the `http_filters`, they cannot work perfectly. Because the route configs in the `typed_per_filter_config` are indexed by the filter name. So for the same type filters in the `http_filters`, they can only share the same route-level con

[2022-05-12 06:42] wbpcode commented on #21261
cc @kyessenov

[2022-05-12 07:00] Haim-Barilan commented on #2857
Can you please post example for two routes? i am straggling with the same issue. Thanks!

[2022-05-12 07:03] wbpcode commented on #21261
Some typical scenes:
- multiple `ext_authz` refered by @kyessenov
- multiple lua scripts for single route
- route config support for wasm filters

[2022-05-12 07:15] wbpcode commented on #21261
We can achieve this step by step.
- [ ] Ensure the `HttpFilter.name` can be the unique flag in the http filter list.
- [ ] Make the config name and filter name are available for the filters/StreamFilterCallbacks.
- [ ] New API to get route level filter config.
- [ ] Update all the filter used the new API.
- [ ] Switch to use `HttpFilter.name` by runtime flag.
- [ ] Deprecate old behaviours finally

[2022-05-12 07:46] ramaraochavali commented on #3643
@mattklein123 Sorry to tag you on a really old comment of yours

This is more of question on this comment. Let us say Client -> Service A and Service A calls multiple services B,C,D in one particular flow.  One of the service among B,C,D returns 5xx. A returns 5xx back to client. If we configure default outlier detection with consecutive 5xx, Client sees Service A being ejected though Service A is

[2022-05-12 08:03] github-actions[bot] opened #21262 "Newer release available `com_github_grpc_grpc`: v1.46.1 (current: a3ae8e0)"
Package Name: com_github_grpc_grpc@a3ae8e00a2
Current Version: a3ae8e0@2021-06-07
Available Version: v1.46.1@2022-05-11
Upstream releases: https://github.com/grpc/grpc/releases

[2022-05-12 08:03] #21158 closed

[2022-05-12 08:03] github-actions[bot] opened #21263 "Newer release available `io_bazel_rules_go`: v0.32.0 (current: v0.31.0)"
Package Name: io_bazel_rules_go@0.31.0
Current Version: v0.31.0@2022-03-21
Available Version: v0.32.0@2022-05-11
Upstream releases: https://github.com/bazelbuild/rules_go/releases

[2022-05-12 08:44] dio commented on #21259
I think you can use: https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route.proto#envoy-v-16-api-field-config-route-v3-routeconfiguration-request-headers-to-remove.

And if you want to set it to something else:
https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route.proto#envoy-v-7-api-field-config-route-v3-routeconfiguration-request-headers-to-add (by setting th

[2022-05-12 09:07] phlax commented on #21260
there is v3 config/api equivalent:

[code]

i think you probably want to look at these docs for the newer proto/configuration, for example here:

https://www.envoyproxy.io/docs/envoy/latest/configuration/security/secret

[2022-05-12 09:14] rafan commented on #21235
Indeed, `presented` works correctly. FWIW, if I enforce mTLS via `require_client_certificate` in DownstreamTlsContext, it works:
[code]

[2022-05-12 14:15] adisuissa commented on #21245
This is related to #10988.
The current http_parser is no longer maintained and adding features such as #18819 is non-trivial.

[2022-05-12 14:20] alyssawilk commented on #5155
Closing in favor of https://github.com/envoyproxy/envoy/issues/21245

[2022-05-12 14:23] alyssawilk commented on #21245
Ah, I should have cross-linked when I was triaging.  The decision points largely documented at https://docs.google.com/document/d/1Z8neuR6GTL61EU8jC88SD2as6Nmq15B-BNWC-SBVKns/edit after a couple of rounds of discussion at the community meeting (notes here https://docs.google.com/document/d/1Yc4zkV-A_cC_R3C0u6D15WQAsRSxADs8p2l8UMMa4P4/edit# as it's not convenient for all time zones)

[2022-05-12 14:29] kanongil commented on #21245
FYI, the balsa link is broken. They *just* moved it to: https://github.com/google/quiche/tree/main/quiche/balsa.

[2022-05-12 14:46] mattklein123 commented on #21251
cc @rgs1

[2022-05-12 14:46] mattklein123 commented on #21252
Sorry I'm not sure what this is referring to. Please provide more information.

[2022-05-12 14:48] mattklein123 commented on #21256
I don't believe that admin endpoint fails new connections. It should do exactly what you are asking for. What makes you think otherwise?

[2022-05-12 14:49] mattklein123 commented on #21258
What does VIP mean in the context of Envoy? I'm not quite sure what you are asking Envoy to do. Are you asking for different statistics for destination IP when listening on 0.0.0.0?

[2022-05-12 15:41] paul-r-gall opened #21265 "Add option for Custom headers to append empty string when dynamic value cannot be resolved"
*Title*: Add option for Custom headers to append empty string when dynamic value cannot be resolved.

*Description*:
Custom headers currently do not append anything if `%DYNAMIC_VALUE%` does not resolve to a non-empty string. It would be helpful to have an additional option in `HeaderValueOption` to append "header-name:" in these cases. Happy to send a PR myself.

[2022-05-12 16:22] panchn-n opened #21266 "Tunneling TCP over HTTP - to original destination cluster"
*Title*: *Tunneling TCP over HTTP - to original destination cluster*

*Description*:
I am looking to use the TCP tunneling over HTTP feature for one of my use cases. I have been looking at the examples mentioned [here](https://github.com/envoyproxy/envoy/tree/07601069ccd8a93615f2181f8f1b6b45f7b2e5a4/configs), especially [this one](https://github.com/envoyproxy/envoy/blob/07601069ccd8a93615f2181f8f

[2022-05-12 16:33] kyessenov commented on #21266
Do you use original_dst listener filter? I think it might be complaining that there is no restored original dst. The downstream is not processing as HTTP so where would that header be supplied?

[2022-05-12 17:13] panchn-n commented on #21266
I thought the original_dst listener filter is enabled by setting `useOriginalDst: true`. as per [here](https://istio.io/v1.0/help/ops/traffic-management/proxy-cmd/#deep-dive-into-envoy-configuration).

If the downstream is not processed as HTTP, would there be an alternative approach where I could set the destination host at the request level. My eventual goal is to use TCP tunneling over HTTP but

[2022-05-12 17:34] panchn-n commented on #21266
That is exactly what I was wondering. Since they are raw TCP bytes, we may not be able to do so.

When you say recovered L4 attributes, are you talking about the SO_ORIGINAL_DST socket option as part of IPTABLES redirect?

Also, could you please elaborate on the advanced use case you mentioned above?

[2022-05-12 17:41] kyessenov commented on #21266
Yes, I was referring to SO_ORIGINAL_DST or some other L3/L4 header attributes (rare).

For the advanced use case: you can tell envoy to set whatever address you want with a custom filter. You'd need the mapping from an intended IP to the tunnel IP to be pushed from the control plane.

[2022-05-12 17:46] stevenctl opened #21271 "unified matchers: allow emtpy maps"
*unified matchers: allow emtpy maps*: just use OnNoMatch

*Description*:

The way a control plane might build matches:

[code]

In this example, when the list of services is emtpy the matcher would be rejected due to the empty map.
It's possible to just repair this so that the actual matcher tree looks like:

[code]

Essentially, the suggestion is allow `len(map) == 0` if an `OnNoMatch` exists.
Be

[2022-05-12 17:46] stevenctl commented on #21271
cc @kyessenov

[2022-05-12 17:53] panchn-n commented on #21266
ok thanks for your inputs. Really gathered a lot of good info from you. Appreciate your help!

[2022-05-12 17:53] #21266 closed

[2022-05-12 18:09] stevenzzzz opened #21272 "[route] add a option to not consider port in :authority when matching route."
*Title*: Add an option in route to strip port in ":authority" when we do service picking.

*Description*:

See related issue, but different: https://github.com/envoyproxy/envoy/issues/19589

a Cloud Customer sets the host match rule without a port, and oftentimes they configure their http services on multiple ports other than the default one.

The traffic comes in as "www.foo.com:8080", and since

[2022-05-12 18:09] stevenzzzz commented on #21272
cc @adisuissa @alyssawilk

[2022-05-12 18:16] stevenzzzz commented on #21272
/assign stevenzzzz

[2022-05-12 18:19] stevenzzzz commented on #21272
cc @htuch @yanavlasov

[2022-05-12 18:20] rgs1 opened #21273 "oauth: readAndWatchSecret is not thread safe"
We should protect the client and token secrets with locks:

https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/http/oauth2/filter.h#L60

Report: https://envoyproxy.slack.com/archives/C78HA81DH/p1652217023289709

cc: @derekargueta @snowp @fishcakez @JuniorHsu

[2022-05-12 18:33] keith commented on #21217
thanks @ravenblackx! fixed in https://github.com/envoyproxy/envoy/pull/21264

[2022-05-12 18:33] #21217 closed

[2022-05-12 19:05] kyessenov commented on #21271
It seems better to perform the repair on the control plane side? Should be easy to detect empty maps and just pull `on_no_match` to the top?

[2022-05-12 19:32] stevenctl commented on #21271
Thought it may be useful to implement in a way different control planes can share. Is there any precedent for adding utils like this in go-control-plane or elsewhere?

btw I am not saying this is really needed, just a suggestion from someone who doesn't know envoy norms.

[2022-05-12 19:48] kyessenov commented on #21271
Optimizing the match tree seems like a great shared project for control planes. Although I imagine we may want to do some profiling and just-in-time compilation on the data plane because we have better context. That just sounds very advanced at the moment.

[2022-05-12 19:58] snowp commented on #21273
Typically we avoid locks here and instead post thread local updates - any reason why we'd need a lock here?

[2022-05-12 20:01] rgs1 commented on #21273
don't think so, message posting is probably fine (I think Matt just generally meant that this was thread unsafe, without prescribing a solution – I lazily transcribed that into an issue).

[2022-05-12 20:32] mattklein123 commented on #3643
From my perspective, if A is failing because B/C/D are failing, it is still failing. It's irrelevant to the client whether service A itself is failing or its dependencies are failing. Personally, I would keep it simple and just eject A and let the max ejection % kick in to avoid ejecting too many hosts.

[2022-05-12 23:29] cetanu commented on #21260
Indeed, that seems to work fine... I must have been suffering from some confusion yesterday. I'm getting these secrets from SDS and I must be specifying V2 as the resource api version accidentally...

[2022-05-12 23:29] #21260 closed

[2022-05-13 00:51] wenlxie commented on #21258
@mattklein123  Yes, I had changed it to make it clear

[2022-05-13 01:43] htuch commented on #21272
I think this makes sense given this is just a `RouteConfiguraiton` level variant of `strip_any_host_port` at HCM-level. Chatting with @stevenzzzz offline, the usefulness of this comes up in multi-tenant SRDS scenarios, where we don't want a shared setting across all scopes.

I'd suggest:
* Using consistent terminology, so `strip_any_host_port` here.
* Consider future proofing so that this can also

[2022-05-13 02:23] yurykats commented on #21272
One key difference here is that we don't want to mutate (ie actually strip) the value. The need is not to use the port for purpose of matching, but otherwise leave it intact.

[2022-05-13 02:27] tmsnan commented on #21255
Hi @mattklein123 , I would like to work on this issue  if no one has picked this up yet.

[2022-05-13 03:26] rafan commented on #21235
I disable session resumption from client (Envoy's disable_stateless_session_resumption works for TLSv1.3 client only as session ID is not supported in that version) for my use case.

In theory, this could be made work using [post-handshake authentication](https://datatracker.ietf.org/doc/html/rfc8446#section-4.2.6) except HTTP/2 ([RFC8740](https://datatracker.ietf.org/doc/html/rfc8740)). As TLSv1.

[2022-05-13 03:29] ramaraochavali commented on #3643
Thank you @mattklein123

[2022-05-13 04:51] anuraagkonda opened #21279 "Load balancing within http2 connection pool"
*Title*: *Load balancing within http2 connection pool*

*Description*:
  Based on this document here https://blog.envoyproxy.io/envoy-threading-model-a8d44b922310,  though HTTP/2 connection pools
  only make a single connection to each upstream host at a time, if there are four workers, there will be four HTTP/2 connections per
  upstream host at steady state. So when does envoy uses another HTTP/

[2022-05-13 05:58] StarryVae commented on #21152
@mattklein123 @mpuncel Is someone working on this? If no, i can try to work on it, thanks.

[2022-05-13 06:16] Lynskylate commented on #21198
@ipuustin I used [sslab](https://www.ssllabs.com/ssltest/) to test  the version. The version has been able to handle almost all ssl clients from the result.
![image](https://user-images.githubusercontent.com/17235904/168222193-3d967e6d-6f5a-496e-b54a-845d432f74d8.png)

[2022-05-13 06:54] timmotw commented on #21252
@mattklein123 I have updated the description. I hope it is all good now.

Thank you!

[2022-05-13 08:47] gektor0856 commented on #6334
May be usefull  - resolved by [gnostic tool](https://github.com/google/gnostic).Using [protoc-gen-openapi](https://github.com/google/gnostic/tree/main/cmd/protoc-gen-openapi) it can produce openapi spec from proto file

[2022-05-13 09:00] valeriano-manassero opened #21283 "JWT PerRouteConfig disabled is still triggered on specific case?"
I'm getting a weird behaviour on Envoy 1.22 where I have a JWT auth configured in this way:

[code]

everything looks good and authentication works as expected.

Then I needed to have one url-path to not use JWT auth at all so I added:
[code]

If I call this urlp-path **without** a token, the JWT is correctly skipped and the request is sent to the backend.

Then I noticed if I call same url-path w

[2022-05-13 10:04] valeriano-manassero commented on #21283
I found a mistake in match filters in my extended configuration so the problem is not the one described.
Sorry for disturbing, closing issue.

[2022-05-13 10:04] #21283 closed

[2022-05-13 10:18] Neil-Boyle commented on #5536
same problem ,up to 60% cpu in stress test,

is there any new solution

[2022-05-13 11:39] hshamji commented on #21255
I was hoping to take a stab at this. I'm a newbie to the codebase so I'll take a little getting up to speed. Love to pair on this if you'd be interested.

[2022-05-13 14:25] mattklein123 commented on #21252
cc @rgs1

[2022-05-13 14:26] mattklein123 commented on #21255
No one else is working on this that I know so I will let the two of you sort it out!

[2022-05-13 15:20] mattklein123 commented on #21258
I can mark this help wanted. This would need to be opt in due to potential cardinality explosion.

[2022-05-13 15:33] mattklein123 commented on #21265
Sure sounds fine to me.

[2022-05-13 15:34] mattklein123 commented on #21272
SGTM. Agree on consistent terminology.

[2022-05-13 15:34] mattklein123 commented on #21279
Correct, it's per thread and based on max concurrent streams.

[2022-05-13 15:35] #16309 closed

[2022-05-13 15:55] rafan commented on #21235
BTW, how did it work with `require_client_certificate` in downstream tls context?

[2022-05-13 15:59] npuichigo opened #21287 "Fancy logger always add lock to sink?"
https://github.com/envoyproxy/envoy/blob/4be974cc4aa6379b7e1f98256b9a21fc4516afbd/source/common/common/fancy_logger.cc#L116-L118

Does fancy logger always add a lock to sink even the underlying sink delegate doesn't need to lock? Or if no lock is provided like the following `FileSinkDelegate`, a default lock will be created?

https://github.com/envoyproxy/envoy/blob/a683723630417822a34a02cfce15f1a

[2022-05-13 16:05] #20539 closed

[2022-05-13 16:05] #20591 closed

[2022-05-13 16:37] kyessenov commented on #20476
Exploring how this can be automated with dynamic messages to avoid the toil of a hundred of empty protos.

[2022-05-13 16:58] panchn-n opened #21289 "Proxy HTTP Connect - to original destination"
*Description*:
Hello,

I have a use case where I would like to initiate HTTPConnect from downstream, proxy the connect to upstream, but the upstream can change based on the request header. My setup includes k8s with Istio service-mesh installed on it.

So far I have tried the proxy connect from the examples and it works great. Here is the working config.

`curl -x <gateway_ip>:<gateway_port> https

[2022-05-13 17:10] Joeostr opened #21290 "Single worker thread design and http2_filter issue"
We are successfully using envoy with a custom http_filter, but we are running into a concurrent issue with HTTP2. I wonder if we are missing something, or an Envoy limitation which needs to improve.

HTTP2 creates a single connection per domain, and its multiplexing within that connection. In our scenario, the custom http_filter is reaching out to an external module, and must wait for a response.

[2022-05-13 18:06] yanavlasov commented on #21010
I think we can just rename the field, right? It should still be wire compatible.

[2022-05-13 18:10] adisuissa commented on #21010
Unfortunately it will break compatibility, as mentioned in the [api versioning doc](https://github.com/envoyproxy/envoy/blob/main/api/API_VERSIONING.md#backwards-compatibility):

[2022-05-13 18:54] jamesmulcahy opened #21292 "Add exec_config_source support to ConfigSource, allowing secrets to be generated by local scripts"
*Description*:

There are circumstances where we want to use our xds control plane to push configuration to envoy, but the control plane does not have the necessary information available to it to allow it to push a fully formed resource.  One specific example of this is secrets which are only available on the instance itself – or secrets which may be known to the control plane, but are in an encry

[2022-05-13 19:13] yanavlasov commented on #21010
I see. This is going to be tricky. Deprecation will not solve the problem, since protoc will continue generating the offending code. I doubt that protbuf team is going to help us here.

Is it possible to specialize methods that load YAML/JSON and text protos to have special parsing for `envoy.extensions.filters.http.jwt_authn.v3.RequirementRule` messages.

[2022-05-13 19:46] adisuissa commented on #21010
I think this will impact many protobuf users (not only us).
Protobuf already has support for [reserved keywords](https://github.com/protocolbuffers/protobuf/blob/448d421250569811a3e656cd4c87fe42e857ed6f/src/google/protobuf/compiler/cpp/helpers.cc#L79) and protoc adds an underscore to the field names.
I assume that the list will be updated, just not sure when.

[2022-05-13 20:08] mattklein123 commented on #21279
In HTTP/2 streams are split between outgoing and incoming (for push), thus the actual limit is half the max. In general, there is such a larger number of concurrent streams I'm very surprised this actually works?

[2022-05-13 20:09] mattklein123 commented on #21290
It's hard to help without a bunch more information. There is nothing inherent in Envoy that should be causing this blocking.

[2022-05-13 20:10] mattklein123 commented on #21010
Protobuf already has support for [reserved keywords](https://github.com/protocolbuffers/protobuf/blob/448d421250569811a3e656cd4c87fe42e857ed6f/src/google/protobuf/compiler/cpp/helpers.cc#L79) and protoc adds an underscore to the field names.
I assume that the list will be updated, just not sure when.

+1 it really seems like they have to help us here.

[2022-05-13 20:25] lizan commented on #21242
The `--//bazel:http3=false` does disable HTTP3 support in HCM, while not disable quiche build. quiche is being pulled by more targets like: https://github.com/envoyproxy/envoy/blob/main/source/common/common/BUILD#L164

[2022-05-13 20:40] egerkke opened #21294 "Indication of connection loss on downstream TCP and HTTP requests"
*Title*: *Indication of connection loss on downstream TCP and HTTP requests*

*Description*:

Hi Ladies and Gents,

In our project according to our internal security design rules, TCP connection loss from clients shall be indicated as non-audit security log since it can be an indicator of a security threat.
I tried to check what Envoy logs into access log in such case and:
 - used an HTTP traffic

[2022-05-13 22:17] htuch commented on #21272
I think if we do this non-mutation, we must ensure that there is no use of `:port` in the virtual host domains (or that they could never match if there was one there) FWIW. In this case, we should name this `ignore_host_port` I think.

[2022-05-13 22:24] ggreenway commented on #21242
Oh I see. In my mind I was thinking of `quiche==http3 support`, but that is not the case. Also in the future, it looks like the http1 codec will come from quiche, so it probalby won't be feasible to build Envoy without pulling in this dependency.

[2022-05-13 22:24] #21242 closed

[2022-05-13 22:44] jwilner opened #21295 "Excluding network errors from upstream_rq_5xx"
A*Title*: Exclude network errors from upstream_rq_5xx
*Description*:

Envoy's stats classify per try timeouts (and presumably other network errors) as 5xx style errors. Pre-try timeouts are not actually 5xxs from upstreams, and I need to track those separately. Is there an established mechanism for distinguishing them (there seems to be [this](https://www.envoyproxy.io/docs/envoy/latest/api-v3/con

[2022-05-14 00:03] #20172 closed

[2022-05-14 07:48] ramaraochavali commented on #20915
I ran in to the same problem. I do not think it is related python version.

It is failing while building tracer image and it is trying to **pull** `flask_service:python-3.10-slim-bullseye` from  `docker.io/library/flask_service:python-3.10-slim-bullseye` instead of local.

I removed `--pull` and ran `docker-compose build` and it seems to work. May be docker desktop version issue?

[2022-05-14 10:07] StarryVae commented on #21152
@mattklein123 thanks, i will try to fix it.

[2022-05-14 10:54] phlax commented on #20915
i suspect it is something like this - the `flask_service:python-3.10-slim-bullseye ` is not supposed to be pulled, it should be created, but the images it depends on should be pulled - ill check further...

[2022-05-14 20:01] #20569 closed

[2022-05-15 00:03] #20696 closed

[2022-05-15 12:32] ankatare opened #21298 "Running Envoy binary with debug mode giving error"
*Title*: *Unable to parse JSON as proto (INVALID_ARGUMENT:(request_id_extension.typed_config): invalid value Invalid type URL, unknown type: envoy.extensions.request_id.uuid.v3.UuidRequestIdConfig for type Any):*

*Description*: In latest Code compiling and running Envoy producing Error ...

[code]

Yaml file (not complete) is as follows:

[code]

[2022-05-15 13:14] scrocquesel commented on #13809
dynamic hostname in tcpproxy is being adressed by https://github.com/envoyproxy/envoy/issues/19612

[2022-05-15 16:01] #20553 closed

[2022-05-16 00:03] #20746 closed

[2022-05-16 01:07] daixiang0 commented on #21298
This error may help:
[code]

An example of this is like:
[code]

You need to put this in right place with right indent.

[2022-05-16 03:15] #21198 closed

[2022-05-16 03:23] mattklein123 commented on #21287
cc @jmarantz

[2022-05-16 03:24] mattklein123 commented on #21289
cc @kyessenov @alyssawilk

[2022-05-16 03:26] mattklein123 commented on #21292
Thanks for the feature request. I'm not thrilled with building execute directly into the API, as it's highly environment dependent what this means and what the capabilities are. I think it would be better to just have an extension point here if there isn't one already such that you can build your own local execute extension. cc @envoyproxy/api-shepherds for thoughts.

[2022-05-16 03:28] mattklein123 commented on #21294
I'm not sure I completely follow what you are asking, but it sounds to me like you are talking about kernel level TCP retries. Envoy is not aware of this. From Envoy's perspective it would see the remote close and if you have connection level access logging set up you would be able to log information about the closed connection.

[2022-05-16 03:32] mattklein123 commented on #21295
There isn't any way to do this today though it's a reasonable feature request.

I don't think so. Whatever we have would be here: https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/router_filter#statistics. It would be great to do a doc PR if you are so inclined to make the current behavior more clear.

In terms of the "why," in general my philosophy (which is where this o

[2022-05-16 03:47] zhangbo1882 commented on #20536
Capturing downstream/upstream real packets is used for some L4 layer issue troubleshooting (TCP latency/retransmission and so on).  Tap filter is used for application issue troubleshooting since it mirror the traffic instead of getting the real traffic. From envoy's view, it is based on transport socket, it will NOT touch L4 in details. But from system's view, we should know more details from L2 t

[2022-05-16 03:57] npuichigo commented on #21287
Resolved. It seems that an stderr sink always has a lock.

[2022-05-16 03:57] #21287 closed

[2022-05-16 05:51] ankatare commented on #21298
@daixiang0 Thanks for quick response.. I understand the issue with yaml indentations :( .. seems i followed it.
see below my config now (with exact indentations)
[code]

[2022-05-16 06:02] daixiang0 commented on #21298
request_id_extension should align with http_filters like:

[code]

[2022-05-16 06:18] zipsantro commented on #20806
`help wanted`.

[2022-05-16 06:19] ankatare commented on #21298
@daixiang0 yeah, i aligned it with http_filters as mentioned in ..
https://www.envoyproxy.io/docs/envoy/v1.22.0/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto#extension-envoy-filters-network-http-connection-manager

don't know what exactly is the issue.. :(

[2022-05-16 06:28] daixiang0 commented on #21298
You can take it as example:
[code]

I am unfamiliar with lua, hope it helps.

[2022-05-16 08:59] truehhart opened #21303 "Envoy CORS does not respect allow_methods"
*Title*: *Envoy CORS does not respect allow_methods*

*Description*:
For a couple days now I have been working at enabling CORS on our envoy cluster (specifically - allowing the routes to go through depending on the method being used).
The problem is that no matter what settings you use - envoy lets every request through.

I have used the configuration example provided here:
https://www.envoyproxy

[2022-05-16 09:00] egerkke commented on #21294
Hi Matt,
Many thanks!
And if client opens TCP connection, sends some request, then disappears without closing the connection then will there be any indication in the access log?

[2022-05-16 10:27] ankatare commented on #21298
/labels triage

[2022-05-16 10:43] ameily opened #21306 "Host and Authority Headers RFC Compliance: Decode Percent-encoded UTF8 Characters"
*Title*: Host and Authority Headers RFC Compliance: Decode Percent-encoded UTF8 Characters

*Description*:
While working on the unified header validation component (#20261), we found that the `Host` and `Authority` headers do not decode percent-encoded UTF8 characters, per the RFC spec.

Although the fix could be targeted for UHV, I wanted to register this issue with the community to get consensus

[2022-05-16 10:43] ameily commented on #21306
CC @yanavlasov

[2022-05-16 11:23] ameily opened #21308 "Handling Commas in Host and Authority Headers"
*Title*: Handling Commas in Host and Authority Headers

*Description*:
As I understand it, there is a concern that when certain critical headers, such as `Host` and `:authority`, contain a comma character that the value may be mistakingly interpreted as a list of items in upstream services. This could cause inconsistent or unexpected upstream behavior. For example, one backend service may honor th

[2022-05-16 11:24] ameily commented on #21308
CC @yanavlasov

[2022-05-16 12:14] jwilner commented on #21295
Thanks -- that philosophy is certainly understandable.

I think I'll probably do a little grepping of the codebase to reason about
what the various relationships between the stats are and then open up just
such a PR.

On Sun, May 15, 2022 at 11:32 PM Matt Klein ***@***.***>
wrote:

[2022-05-16 13:12] anuraagkonda commented on #21279
Thanks @mattklein123. Yes we are currently testing a teclo product in a cloud native environment. For which we are seeing large number of concurrent streams. Our main issue is that of the connection is causing request to fail. We were expecting the connection to drain in that scenario, but that hasn't been the case. Still investigating that issue and looking for logs. Hence wanted to understand ho

[2022-05-16 15:21] mattklein123 commented on #21294
Yes

[2022-05-16 15:22] markdroth commented on #21292
I agree, adding this general-purpose mechanism to `ConfigSource` seems like overkill.

If the goal here is to get TLS certificate data from an external command, I think a better approach would be to use the `CertificateProvider` framework being built in #19582.

[2022-05-16 15:31] snowp commented on #21303
@wbpcode (cors owner) can you take a look?

[2022-05-16 15:32] hstefan opened #21312 "gRPC HTTP/1.1 bridge does not perform protobuf upgrading on empty payloads"
*Title*: *gRPC HTTP/1.1 bridge does not perform protobuf upgrading on empty payloads*

*Description*:

When sending an empty body over HTTP to an envoy instance configured with to perform [protobuf upgrading](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/grpc_http1_bridge_filter#protobuf-upgrade-support) the filter seems to be bypassed. The result is requests with con

[2022-05-16 15:58] tonya11en commented on #21255
I'm happy to review the PR, when you're ready!

[2022-05-16 15:59] alyssawilk commented on #21289
I'm not particularly familiar with the original destination cluster but looking at the code it looks roughly correct.  One thing I'd suggest checking is the IP you are doing curl from is allowed to set x-envoy headers (is trusted) else they will be stripped.  You could try setting an explicit http_header_name which isn't x-envoy based to test that, or if you could provide me with a non-istio confi

[2022-05-16 16:22] devonochmand opened #21313 "External HTTPS endpoint for ext_authz filter fails with ssl WANT_READ error"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

External HTTPS endpoint for ext_authz filter fails with ssl WANT_READ error

*Description*:
Configuring envoy to point to an external HTTPS endpoint for ext_authz filter alwa

[2022-05-16 17:26] keith commented on #21010
https://github.com/protocolbuffers/protobuf/pull/9977

[2022-05-16 17:39] ameily commented on #21308
I believe this is more of a discussion. I was asked to bring this to the attention of the project maintainers with the goal of working towards a documented consensus.

[2022-05-16 18:25] panchn-n commented on #21289
I am not sure what you mean by `IP you are doing curl from is allowed to set x-envoy headers`?

To replicate the issue just using Envoy, I deployed Envoy on my local ubuntu VM and here is how the translated config looks like.

[code]

Here is how the curl looks like locally
[code]

And here is what the envoy prints in the logs
[code]

Please let me know if I could provide more details. Any help is