[2018-06-29 03:35] gsagula commented on #3750
@michalholecek It seems to work perfectly fine for me. I could be missing something but here is:

1. Client calls `curl -v localhost:8000`:

2. HTTP server sends the following headers to EXT_AUTHZ filter:
[code]
3. The filter dispatches the following request to an upstream HTTP echo server:
[code]

4. The downstream client receives the following response:
[code]

Envoy config:
[code]

Could please

[2018-06-29 04:36] QLeelulu commented on #3303
Is this mean we can't build envoy in CentOS 7 ?

[2018-06-29 07:36] gsagula commented on #3750
@michalholecek Thank you for reporting this issue. The PR above should fix it.

[2018-06-29 13:21] eziskind commented on #373
Here's a draft design doc for an "Overload Manager" component for Envoy that would help address this: https://docs.google.com/document/d/1NXHAYibd6N7B4PVrukhACqzNK7WUZHWDSil9maeG1c8/edit?usp=sharing

Comments welcome!
@mattklein123 @htuch @alyssawilk

[2018-06-29 13:24] rootsongjc opened #3762 "Add Chinese Documentation link based on Envoy 1.7"
## Add Chinese Documentation based on Envoy 1.7

The service mesh community named [ServiceMesher](http://www.servicemesher.com) in China translated the Envoy's official documentation this month. See it in [GitHub](https://github.com/servicemesher/envoy). Thanks to our [27 contributors](https://github.com/servicemesher/envoy/graphs/contributors). We'd like to add the link http://www.servicemesher.c

[2018-06-29 13:38] htuch commented on #373
LGTM; left some minor comments on the doc but the overall design looks very solid.

[2018-06-29 16:41] mattklein123 commented on #3762
@rootsongjc if these docs are more up to date and maintained I'm all for replacing what we link to now with this. @lizan can you take a quick look here and advise?

[2018-06-29 16:47] mattklein123 commented on #3757
You need to use `:authority` (Envoy normalizes everything to http/2 headers)

[2018-06-29 16:48] mattklein123 commented on #3755
@PiotrSikora @ggreenway

[2018-06-29 16:48] mattklein123 commented on #3756
@htuch @kyessenov @lizan @jmillikin-stripe thoughts here?

[2018-06-29 16:54] mattklein123 commented on #3487
Sorry I don't have any experience w/ the transparent proxy stuff. @lizan @PiotrSikora @kyessenov @rshriram might have some ideas.

[2018-06-29 16:55] lizan commented on #3756
We can modify `api_proto_library` to sth similar to `envoy_cc_*` in https://github.com/envoyproxy/envoy/blob/master/bazel/envoy_build_system.bzl,  the `api_proto_library` could take a parameter `repository` and when it is used outside of envoy, it will grant visibility to `repository + "//docs"`.

[2018-06-29 16:57] lizan commented on #3762
Thanks @rootsongjc! Yes, I took a quick look and it looks nice and up-to-date to 1.7. Feel free to open a PR to swap the link.

[2018-06-29 17:00] jmillikin-stripe commented on #3756
This looks like fallout from merging `envoy-api/` into `envoy/`. I'm not familiar with Envoy's proto_library wrappers or docs build, but I can tell the visibility settings make no sense:

* `envoy/docs/` has no BUILD files or targets.
* `envoy/docs/build.sh` runs `bazel build @envoy_api//docs:protos`
* `api_proto_library()` is a macro that sets visibility for one target, but also defines C++ and P

[2018-06-29 17:22] atali opened #3763 "Route request based on JWT claims"
*Title*: *I would like to route a request containing a jwt header to a dedicated tenant micro-service based on a claim.*

*Description*:
Once my client is authenticated, he will receive a JWT with some claims. I have a micro-service A that will receive this query and dispatch the query to a micro-service B. There is a micro-service B per tenant. I would like the query to be routed seamlessly to th

[2018-06-29 17:30] htuch commented on #439
@mattklein123 do we even need this for non-EDS, given that we can embed `ClusterLoadAssignment` in `Cluster` now?

[2018-06-29 17:51] ggreenway commented on #3303
You can disable the warning and hope for the best, or or build your own toolchain. But centos7 does not provide any c++11 conforming toolchain, as far as my research has found.

[2018-06-29 18:01] htuch commented on #3674
@shuoli84 it's conceivable we could add this to the `Node` identifier, but it does feel a bit hacky. Are you aware of https://www.envoyproxy.io/docs/envoy/latest/operations/cli.html?highlight=admin%20port#cmdoption-admin-address-path ? This will provide the port on the filesystem, which can be communicated via any bespoke mechanism to the rest of your environment.

If it becomes a common pattern t

[2018-06-29 18:04] mattklein123 commented on #439
@htuch AFAIK implementation of that was never finished, right? I think just the config was added. @dio ?

[2018-06-29 18:10] htuch commented on #3756
@jmillikin-stripe the visibility is for `api/docs`, we do a trick by which the `api/` directory is treated as an external repo, so the path is relative to that. This is done to simplify exporting to the `data-plane-api` mirror.

I do agree broadly that we should not have `api_proto_library` contain these `api/docs` specific workarounds, this is bad. What we should do instead is remove this busines

[2018-06-29 18:46] PiotrSikora commented on #3755
`trusted_ca` should point to a list of trusted CA certificates, not client certificate itself (that might somehow work, but I'm not sure about it). If you want to pin to a specific client certificate, then `verify_certificate_spki` or `verify_certificate_hash` might be more suitable.

Also, please provide Envoy error logs, since Docker error logs are pretty much useless for debugging this.

[2018-06-29 22:23] clnperez commented on #1861
@moderation using it as-is seems to break compatibility with lyft/protoc-gen-validate as the patch for rules_go is based off of a branch that deprecated `go_repositories`. so i tried just changing the path bits for the linking (using what was in that patch) and it didn't get me around that.

there are so many moving parts to trying out one thing, though, i could have missed something. but i *think

[2018-06-29 23:14] #3756 closed

[2018-06-30 00:20] dio commented on #439
@mattklein123 yes for EDS it is there.

While for the `ClusterLoadAssignment` inside `Cluster` the config is added https://github.com/envoyproxy/envoy/pull/3504.

Sorry for the delay in the implementation. I'll start again next week.

[2018-06-30 00:20] xfye commented on #3757
Thanks, it works. Close this issue.

[2018-06-30 03:21] #3762 closed

[2018-06-30 03:21] #3757 closed

[2018-06-30 13:43] liyehaha opened #3768 "[ISSUE] use cluster healthcheck makes upstream delay"
Description:

version: 1.7
when cluster healthcheck enabled, upstream servers will delay to response.

Config:
health_checks:
- timeout:
seconds: 10
interval:
seconds: 5
unhealthy_threshold: 3
healthy_threshold: 3
tcp_health_check: {}

[2018-07-01 13:12] leecalcote commented on #2463
Exposure of the panic threshold in config is great. Is the ability to define fallback paths for open circuits still a TBD capability?

[2018-07-01 20:30] #2659 closed

[2018-07-02 01:31] #3471 closed

[2018-07-02 02:11] rshriram commented on #3301
Not in request. I should have been clearer. Body support in the response. That said I just realized that we already support body in the response since the upstream connection is made as opaque tcp. Apologies for the confusion!

[2018-07-02 03:54] mattklein123 commented on #3768
@liyehaha sorry I can't parse this question/problem. Please expand?

[2018-07-02 03:55] mattklein123 commented on #3763
@lizan @qiwzhang is this planned as part of the ongoing JWT work or should it be tracked as an enhancement?

[2018-07-02 14:07] dnivra26 opened #3771 "Debugging 503s"
*Title*: *Debugging 503s*

*Description*:
We have a service which is returning 503s for like 1% of the total traffic.
This target service has a replication of 100 and the calling service has a replication of 50.
We have updated the circuit_breaking configuration as below

[code]
The traffic would be around 10,000 requests/second.
And the latency is around 200ms. So i guess this configuration is su

[2018-07-02 14:30] keitwb opened #3772 "Zipkin Custom Headers"
I have Envoy configured to send traces via the builtin Zipkin tracer, but my Zipkin instance is in front of a (non-envoy) reverse-proxy that requires an authentication token to provide some measure of protection to Zipkin.

I have created the following config based on the basic google.com proxy example that opens up a local listener (pointed to by cluster `zipkin_inbound`) that zipkin is configure

[2018-07-02 14:49] alyssawilk commented on #3301
Ah, that makes much more sense.  @PiotrSikora and @ggreenway thoughts on this?  The code for handling response bodies is basically the same as request bodies so if there's a legit request I'd be inclined to just handle bodies.

[2018-07-02 15:37] qiwzhang commented on #3763
Planed JWT work will not cover this feature.  Please track it as a separate issue.

[2018-07-02 17:08] mattklein123 commented on #373
+1 this looks great.

[2018-07-02 18:23] danielhochman opened #3774 "runtime: allow additional override layers"
Currently, runtime allows an override based on the `service-cluster` only.

This works well except in the case that we want to set a value globally for some other logical collection of envoys.

One implementation might look like an additional list of `override` directories, and merge them in order:
[code]

This would give us a merge of:
[code]

i.e. setting the `override_order` would remove the im

[2018-07-02 19:23] sesmith177 commented on #129
We have been able to successfully compile envoy on Windows using Bazel. A branch with code changes + build system changes can be found here: https://github.com/greenhouse-org/envoy/tree/windows-linux-build

The necessary C++ changes were mostly pulled over from the work @sridmad has done in the Microsoft fork.

We discussed with @mattklein123 last week what the strategy should be to start getting

[2018-07-02 21:58] #3229 closed

[2018-07-03 00:15] mattklein123 commented on #3772
This is probably the only way right now. We could potentially add a header addition config option to the zipkin tracer.

[2018-07-03 00:33] bmadhavan commented on #3771
Is envoy returning `503` or does your service return `503` ?
I have seen 503s returned by envoy when upstream silently closes an idle connection but envoy is not aware of this event and tries to send a new request on this connection. Configuring `retry_policy` at the route level or configuring `keepalives` for the upstream cluster helped.

[2018-07-03 02:05] dio commented on #3205
Quickly played around with this a bit. For my own education, @lizan, if we remove that `response_headers_to_add` to setting up content-type from the config, the transcoder returns with `application/json` response.

e.g. if a gRPC service method implementation like the following,

[code]

The transcoded response is:

[code]

To make it work by considering [`HttpBody`](https://github.com/googleapis/

[2018-07-03 06:07] dnivra26 commented on #3771
Hi @bmadhavan, envoy is returning the 503s

[2018-07-03 11:54] wannamit commented on #3740
*SOLVED*
Below code worked for me. `webapp-service` is my docker service name. This way envoy resolves `webapp-service` to as many IPs as its replica count.

[code]

[2018-07-03 15:30] alyssawilk opened #3785 "flake in RouterDownstreamDisconnectBeforeRequestComplete"
I've now seen this in uds_integration_test on asan, and http2_integration_test.

IpVersions/Http2IntegrationTest.RouterDownstreamDisconnectBeforeRequestComplete/IPv6
IpVersions/IntegrationTest.RouterDownstreamDisconnectBeforeRequestComplete/IPv4
TestParameters/UdsUpstreamIntegrationTest.RouterDownstreamDisconnectBeforeRequestComplete/0

I guess that rules out a uds bug.

[2018-07-03 15:57] alyssawilk commented on #3785
I can repro this on the H2 test with
blaze test http2_integration_test --test_arg=--gtest_filter=IpVersions/Http2IntegrationTest.RouterDownstreamDisconnectBeforeRequestComplete/IPv6 --test_arg="-l trace" --runs_per_test=2000

I'll see if I can fix before I head out.  If not I'll pick it back up Monday if no one beats me to it :-)

[2018-07-03 15:58] mattalberts commented on #3592
@mattklein123
I've linked a discussion I started on the contour repository related to the observed memory consumption of envoy when adding tls routes. It feels related to this issue. I've posted heap tracing reported memory leaks.  I can upload the full trace if it is helpful.

[2018-07-03 16:18] #3740 closed

[2018-07-03 17:07] Bplotka commented on #3771
We have similar question on our side. We do NOT have any `circuit breakers` set explicitly and we have pretty low traffic, however we are getting 503 occasionally from gRPC reqeust between two envoys.

My application see:
` rpc error: code = FailedPrecondition desc = transport: received the unexpected content-type \"text/plain\""`

I can see on "sidecar" envoy:
[code]
Cannot see anything correspon

[2018-07-03 17:17] Bplotka commented on #3771
BTW is there any way to improve the response? To return an actual grpc response on such error (or any other error)?

[2018-07-03 18:30] bmadhavan commented on #3771
@dnivra26 @Bplotka You can enable HTTP access logging to get the`response_flags`which typically lists the reason for the error code.  https://www.envoyproxy.io/docs/envoy/latest/configuration/access_log#RESPONSE_FLAGS

[2018-07-03 21:47] snowp opened #3788 "Remove invalid h/2 response headers"
Currently when Envoy receives a h/2 response with Connection specific headers (like `keep-alive`) it will fail with: `Invalid HTTP header field was received`

This is due to [nghttp explicitly disallowing these headers](https://github.com/nghttp2/nghttp2/blob/842509dab604e6cc62f7fb98d448294c6ec85763/lib/nghttp2_http.c#L206). This is in accordance with the h/2 spec: https://tools.ietf.org/html/rfc7

[2018-07-03 23:16] rgs1 opened #3790 "perf regression"
We are heavy users of endpoints with metadata and after we started running a build that includes  09c5d356684194f8b06df1a6b62f27a1a9cb1d69 we are seeing `EdfLoadBalancerBase::refresh()` consume > 10% of CPU on a totally idle envoy instance. From perf top:

[code]

On a production instance, we've seen this going > 80% when endpoints were churning (our biggest cluster has > 2000 endpoints, each with

[2018-07-03 23:35] mattklein123 commented on #3790
I really doubt that my LB change had anything to do with metadata, but I haven't looked at it in a while (I would take a look at the change and see if building the EDF scheduler somehow involves metadata).

I think the main difference is on every host change we are rebuilding the EDF scheduler now when we did not have one at all before for the LR LB. There are definitely ways that we can make this

[2018-07-04 00:00] rshriram commented on #3487
Are these two containers in same network namespace? Try putting them in the same namespace to see if it works. My hunch is that the SO_ORIGINAL_DST option works within the same net namespace only

[2018-07-04 00:07] rgs1 commented on #3790
Hmm, i did side-by-side runs:

Before 09c5d35:

[code]

After:

[code]

so yeah, the calls to `metadataValue()` didn't change that much. But the calls to `EdfLoadBalancerBase::refresh()` are new and adding up...  But there might be something else
at play too. I'll keep looking.

[2018-07-04 02:01] dio commented on #439
Update: https://github.com/envoyproxy/envoy/pull/3783 is part of this effort.

[2018-07-04 02:51] rgs1 commented on #3790
After reading #2874 we decided to relax our — possibly quite aggressive — healtchecks and things are back to normal.  We'll explore if permanently relaxing the health checks is reasonable, otherwise we might put some work into #2874.

@mattklein123: if you are curious, we were running healthchecks on > 2k endpoints every 10 seconds, which was triggering the subsets recomputation, which ended up us

[2018-07-04 03:34] #3737 closed

[2018-07-04 05:29] ajaygtm71 commented on #3749
@rohitsakala inside boringssl source directory run these commands, then proceed:
`sed -i '/OPENSSL_PNACL/a \#elif defined(__s390x__)\n\#define OPENSSL_64_BIT' include/openssl/base.h`

`sed -i '/set(ARCH "ppc64le")/a \elseif (${CMAKE_SYSTEM_PROCESSOR} STREQUAL "s390x")\n\  set(ARCH "s390x")' CMakeLists.txt`

[2018-07-04 05:50] rohitsakala commented on #3749
Hi @ajaygtm71 ,

Thank you for the answer. Are you sure that using these commands will run boringssl correctly on s390x ?. I am asking you after seeing the comment in this commit. [0]

* Note BoringSSL only supports standard 32-bit and 64-bit twos-complement,
* little-endian architectures. Functions will not produce the correct answer
* on other systems. Run the crypto_test binary, notably
* crypt

[2018-07-04 08:03] dnivra26 commented on #3771
@bmadhavan so from the access logs the response code for the 503s are

with UC being 75%.

what could be the reasons for connection termination? the traffic is under limit

[2018-07-04 09:21] dnivra26 commented on #3771
also seeing this in envoy logs.
[code]
any idea on what could be these read errors?

[2018-07-04 10:59] htuch commented on #3771
Also related:
* https://github.com/envoyproxy/envoy/issues/1178
* https://github.com/envoyproxy/envoy/issues/3239
I know @junr03 and @vilobhmm are working on solutions in this space.

[2018-07-04 21:55] bmadhavan commented on #3771
@dnivra26 Might be this.https://github.com/envoyproxy/envoy/issues/2715
try turning on the `keepalives` and check if that helps.

[2018-07-04 23:22] #3352 closed

[2018-07-05 03:38] DavadDi opened #3792 "Gaeger Tracing encounters "unknown-service-name""
## Gaeger Tracing encounters "unknown-service-name"

Data flow likes `curl -> envoy -> echo_service`.

But Jaeger UI shows "unknown-service-name" for  the tracing record. **Do I  miss something in the envoy config** ?

![image](https://user-images.githubusercontent.com/7161135/42301159-7b6ec9d2-8046-11e8-955e-ef0253d7a5b2.png)

The full config for Envoy looks like this:
[code]

[2018-07-05 05:35] shuoli84 commented on #3674
@htuch Maybe a more general way? E.g, add a meta section in envoy's config, and embed it in node info. The meta is just a tag value dict or wrapper.

[2018-07-05 07:46] georgasa opened #3794 "Redis key hashing"
**Issue Template**

*Title*: *Key hashing with Redis cluster*

*Description*:
Hello,

I'm using a redis cluster configured as described here (https://redis.io/topics/cluster-tutorial) while I'm using Envoy in front of my application to act as proxy. The cluster config is shown below:

  "cluster_manager": {
    "clusters": [
      {
        "name": "rtdb",
                "lb_type": "ring_hash",

[2018-07-05 09:59] F21 commented on #2861
I would love to see support for SSL (Postgres calls it SSL instead of TLS), so that operators of PostgreSQL do not need to maange and rotate the TLS certificates.

[2018-07-05 13:11] dio opened #3795 "Add new external_deps in pgv_cc_proto_library gives 'Argument list too long' on osx"
*Description*:

Adding a new entry to `external_deps` of this [`pgv_cc_proto_library`](https://github.com/dio/envoy/blob/da90483bf543072f88f747f55691289d815e6c6f/api/bazel/api_build_system.bzl#L130-L134) in `api/bazel/api_build_system.bzl` gives 'Argument list too long' error on osx, but not on linux https://circleci.com/gh/envoyproxy/envoy/69111.

*Repro steps*:

1. Uncomment this [line](https://

[2018-07-05 16:14] mattklein123 commented on #3794
Envoy Redis and clustered Redis are not compatible. (Envoy doesn't support clustered Redis). See here for more info: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/redis

[2018-07-05 16:15] mattklein123 commented on #3792
cc @rnburn

[2018-07-05 16:59] rnburn commented on #3792
Not sure how Jaeger determines the service name from the zipkin data model. I don't see anything to specify it in ZipkinConfig. Maybe try asking on https://gitter.im/jaegertracing/Lobby.

[2018-07-05 17:00] junr03 commented on #3555
@surki the proto usage is cleaned up. Basically you can continue with the work as is, except instead of making changes to the https://github.com/envoyproxy/envoy/blob/master/source/common/ratelimit/ratelimit.proto, your changes would go in the proto in the api proto https://github.com/envoyproxy/envoy/blob/master/api/envoy/service/ratelimit/v2/rls.proto.

[2018-07-05 17:17] brian-pane commented on #2874
We're seeing this update code using 80+% of the total CPU capacity on 32-core hosts with ~2000 upstream endpoints in a cluster. Are the O(n^2)-time operations happening just in one thread (and pushed out as thread-local copies to all the workers), or are they happening in all the workers?  From the CPU metrics, I suspect it's the latter (all the workers).

[2018-07-05 17:20] brian-pane commented on #2874
For what it's worth, we're also using the subset load balancer with three keys, each with two possible values. Based on CPU profiles, `Envoy::Config::Metadata::metadataValue` is a large contributor to the total run time of the rebuild.

[2018-07-05 17:22] mattklein123 commented on #2874
@brian-pane please discuss in https://github.com/envoyproxy/envoy/issues/3790. Right now it's happening on every thread. There are various ways we can improve this situation, but I don't think reverting this change is in the cards. If this is causing major issues as I already said in the other issue, we can add an option to disable weighting support entirely.

[2018-07-05 17:24] brian-pane commented on #3790
@mattklein123 it's probably worth noting that we're not using weighting

[2018-07-05 17:24] mattklein123 commented on #3790
As I said I think there are quite a few things we can do here to improve performance. If someone is interested in working on it we can discuss. The other option is to add an option to disable weighting support entirely which will remove the EDF rebuilds. cc @brian-pane

[2018-07-05 17:42] rgs1 commented on #3790
@mattklein123 thanks! I am interested in working on this, because it's blocking one of our main use-cases — lmk what's the best channel to discuss the potential approaches.

[2018-07-05 17:44] brian-pane commented on #2874
@mattklein123 you lost me on the part about "reverting this change." Unless I'm missing something, #2874 isn't proposing to revert anything, but rather to improve the algorithmic efficiency of the current implementation.

[2018-07-05 17:44] mattklein123 commented on #3790
@rgs1 I can put some notes in here sometime today. TBH though, if you aren't using weighting, I would just add an option to disable weighting in the LR LB, which will just completely disable the EDF builds and take perf back to what it was before...

[2018-07-05 17:45] mattklein123 commented on #2874
Sorry, I was just saying that I don't want to revert this change, and would like to figure out solutions to roll forward.

[2018-07-05 17:48] mattklein123 commented on #3788
@snowp AFAIK we do this, but maybe some of the logic is broken. Feel free to fix: https://github.com/envoyproxy/envoy/blob/master/source/common/http/conn_manager_utility.cc#L300. Also check conn_manager_impl.cc for other modifications of Connection header. I thought we cleared it for h2 but maybe not.

[2018-07-05 17:49] rgs1 commented on #3790
@mattklein123 cool, let me take a look 09c5d356 and explore bringing `upstream.weight_enabled` back. Thanks!

[2018-07-05 17:52] brian-pane commented on #2874
Got it, thanks. I'm on the same page: fixing forward rather than rolling back.

[2018-07-05 17:56] snowp commented on #3788
Ah, it looks like keep-alive and other proxy headers are removed from request headers (https://github.com/envoyproxy/envoy/blob/master/source/common/http/conn_manager_utility.cc#L44), but not from response headers. Does it seem reasonable to remove the same headers in the response?

[2018-07-05 17:58] mattklein123 commented on #3788
@snowp I would search the code for the headers to see what is happening where, but yes, we should definitely fix to the spec if this is causing issues. I really thought we already strip Connection header somewhere, since we have lots of cases at Lyft of HTTP/1.1 upstreams going to H2 and we don't see issues. Which headers are explicitly causing you issues?

[2018-07-05 18:11] snowp commented on #3788
We ran into an issue with nginx or rails setting the keep-alive header on the response, e.g. `keep-alive: timeout=60`.

If we look at nghttp2 it's clear that there are several headers shouldn't be sent for h2, but they're technically still valid for h/1.1. Wondering if we should be stripping them for all responses or just h2? Looks like we do all requests for request headers, so maybe we should do

[2018-07-05 18:13] mattklein123 commented on #3788
Ah I see. OK, I think we are dealing with the `Connection` header but not those. Sure feel free to go ahead and do a PR to remove the rest of it's an H2 downstream. Thank you!

[2018-07-05 21:23] #2028 closed

[2018-07-05 22:14] georgasa commented on #3794
Thanks for your prompt response. I had already read this but was not obvious (at least to my eyes) that the topic was referring to non-clustered Redis only. So I got confused with the double hashing (from envoy and Redis). Thanks for clarifing this crucial info.

[2018-07-05 22:14] #3794 closed

[2018-07-06 01:44] mattklein123 commented on #3552
This is done.

[2018-07-06 01:44] #3552 closed

[2018-07-06 01:45] #3704 closed

[2018-07-06 02:19] #3501 closed

[2018-07-06 04:04] senthil-nathan commented on #3755
thanks @PiotrSikora
I tried `verify_certificate_hash` in an attempt to pin the client cert however I get
`curl -vG -k --cert apig-cert.pem  https://localhost:9080
* Rebuilt URL to: https://localhost:9080/
*   Trying ::1...
* TCP_NODELAY set
* Connected to localhost (::1) port 9080 (#0)
* WARNING: SSL: Certificate type not set, assuming PKCS#12 format.
* SSL: Can't load the certificate "apig-cert.p

[2018-07-06 07:26] jinuxstyle opened #3798 "status code 0 appears in envoy ingress access log"
Hello,

We found some envoy ingress log with status code 0, and it appears at the rate of around 1%. A piece of logs are shown in following picture.

![image](https://user-images.githubusercontent.com/4818028/42365113-23d42236-8130-11e8-9bd2-ca3e98e66300.png)

Could you share some insights on this?

And any advise on how to debug this kind of issue?

Thanks

[2018-07-06 07:59] bengol commented on #3652
got this error too

[2018-07-06 08:28] Bplotka commented on #3553
Hello!
Can we have rationales behind this? Why cannot one have custom resolver that is asynchronous, and use it with LOGICAL_DNS or STRICT_DNS?

I tried to get these from the mentioned discussion:

Why is it confusing and does not make sense? Because Resolver interface does not have hooks for async resolution?

I think it does not really make sense to have an interface for a custom resolver that i

[2018-07-06 08:45] Bplotka opened #3799 "Async Kubernetes resolver"
[Feature Request / Design proposal]

*Description*:
Envoy `Cluster` configuration seems to have a placeholder for custom resolvers.
 [`SockerAddress.ResolverName`](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/address.proto#envoy-api-field-core-socketaddress-resolver-name). We would like to propose "Kubernetes Resolver" similar to this: https://github.com/Bplotka/go-k8sresolver bu

[2018-07-06 08:49] dio commented on #3798
@rgs1 probably has insights on this.

https://envoyproxy.slack.com/archives/C78HA81DH/p1530051956000217

[2018-07-06 17:14] loewenstein commented on #2861
@f21 so in that case the client would be just any postgres client doing SSL, i.e. no client side proxy? With sidecar this wouldn't be postgres specific, would it? I.e. plain text to proxy, TLS between proxies and then plain text again to postgres (or any other) server.

[2018-07-06 18:17] rgs1 commented on #3798
We have them in our logs too, but at a much much lower rate. Havden't dug into it yet though.

[2018-07-06 20:50] rgs1 commented on #3790
@mattklein123 hmm, it looks  like `envoy.cluster.$cluster.lb_subsets_created` is growing unbounded and after a day or two of uptime it goes over the thousands... which is weird since we should only have have 6 subsets at the most. The growth in `lb_subsets_created` is aligned with deploys, so maybe there's something with our EDS service (though I don't think so).

From a quick look at the code:

h

[2018-07-06 20:52] rgs1 commented on #3790
Hmm, it's possible that old subsets aren't being removed too...

[2018-07-06 22:22] rgs1 commented on #3790
Ok, added a test with what I am expecting to happen and it fails:

https://github.com/envoyproxy/envoy/pull/3802

I'll open a new issue for this, I think we can close this one for now. Oor, we can leave it open to track the perf work is still relevant but different than subsets not being removed which is an actual bug apparently.

[2018-07-06 22:25] rgs1 opened #3803 "inactive subsets not being removed?"
We are tracking down why our active subsets keep growing, without the unused ones being removed. Given the following subset load balancer config:

[code]

and given that we never have more than 6 possible subsets at a given time:

[code]

we end up seeing a higher count of active subsets than what we would expect:

[code]

We run with a concurrency of 32, derived via `std::thread::hardware_concurr

[2018-07-06 22:40] mattklein123 commented on #3790
@rgs1 I think there are different issues here. For sure there is going to be a perf delta with the LR LB with the referenced change since we now create an EDF schedule on each refresh that you probably never use. So depending on your use case, it might still be worth it to do a PR to add a config option to turn off weighting support.

[2018-07-06 22:46] rgs1 commented on #3790
@mattklein123 yeah agreed, I just meant that if we are really leaking LB subsets, then that's much worse than the perf tax we get with the EDF scheduler being recreated (and will actually amplify that effect, by a lot).

[2018-07-06 22:54] bplotnick opened #3804 "RFC: Hot restart across hot restart versions with SO_REUSEPORT"
*Title*: *Hot restart across hot restart versions with SO_REUSEPORT*

*Description*:
I'd like to collect some feedback on a way to do hot restarting across hot restart versions.

### Problem
There is no standard way to upgrade when the hot restart version changes (or if there is, I am not aware of it). The current [recommendation](https://github.com/envoyproxy/envoy/blob/master/source/server/hot_r

[2018-07-07 00:15] rgs1 commented on #3803
@zuercher any ideas on why subsets might not get removed as endpoint metadata changes? This is causing the subset loadbalancer to work way harder — when the number of subsets gets big.

I am not unsure if this is because a) the way we implement EDS and publish metadata changes (without the IP/port tuple changing) or b) an actual bug in the Subset Loadbalancer...

[2018-07-07 01:59] dio commented on #2861
I have started a very early design doc here: https://docs.google.com/document/d/15iXAIJN1QFV3Dz86yybyqhgEMpY7wae2bZeKPyFZG5Y

[2018-07-07 03:48] mattklein123 commented on #3798
See the documentation in https://www.envoyproxy.io/docs/envoy/latest/configuration/access_log#configuration specifically about %RESPONSE_CODE%

[2018-07-07 05:05] rgs1 commented on #3803
Ok, this doesn't look like a bug in the subset load balancer but in the way we use EDS. It looks like
EDS *won't* update the metadata for existing endpoints, e.g.:

1st EDS snapshot
[code]

2nd EDS snapshot (only the version changes):
[code]

... but version remains in 1.0, the metadata isn't updated. I am not sure if this is by
design though... is it?

[2018-07-07 05:36] F21 commented on #2861
@loewenstein At the moment, I am just interested in having TLS between proxies, because automating certificates issuance and rotation for database services in Kubernetes is not an easy problem to solve. I was not able to find anything in the envoy or istio docs, but does istio's TLS still work if the layer 7 protocol does not currently have a filter (ex: postgres protocol or mysql protocol).

@dio

[2018-07-07 22:33] #3750 closed

[2018-07-07 23:03] dnivra26 commented on #3771
found these in envoy logs. disconnect. resetting 1 pending requests. a bunch of these. could this be the reason for 503s? if so, how are these caused and what can be done to fix them? @bmadhavan @mattklein123

[code]

[2018-07-07 23:29] dnivra26 commented on #3771
more logs. **queueing request due to no available connections**
from envoy stats active connections did not even cross ~400. and the max connections by default circuit breaking is 1024. what could be the reasons for envoy saying no available connections?
[code]

[2018-07-08 09:05] dio commented on #2861
@F21 hopefully those systems could benefit from having a proxy in front of it, while query-routing probably is not a concern, but things like: stats, connection-pooling and query-rewriting might give plus points. If you have comments, inputs or anything please let me know will be very appreciated. Thanks!

[2018-07-09 11:09] HappyStoic opened #3806 "Envoy crashes using External Authorization"
**Envoy crashes when my external auth service returns anything other than status 200**

Hello,
I have written external authorization service in Go using http. I had issues with making config field "failure_mode_allow" working so I thought my docker image was old so I pulled the latest docker image version.
Current image (uploaded a day ago - 8.7.2018) but seems not to be working at all. Envoy cras

[2018-07-09 12:13] gsagula commented on #3806
@HappyStoic  Thanks for reporting it. https://github.com/envoyproxy/envoy/pull/3805 should fix this issue.

[2018-07-09 12:38] namrata-ibm commented on #3749
@mattklein123 , I have a query regarding BoringSSL. It is not supported on my platform and causes test to fail in Istio Proxy(Where I am using Envoy binary built from source).
Is there a way to use system OpenSSL instead? Could you please help in resolving this?

[2018-07-09 14:04] HappyStoic commented on #3806
Great, thanks. I compiled it and the bug is gone.

[2018-07-09 14:04] #3806 closed

[2018-07-09 15:18] htuch commented on #3804
I would probably prefer that we switch hot restart IPC over to proto3 and use standard proto backwards compat rules, as done elsewhere in the data plane APIs. This should eliminate incompatible upgrades (or make them very rare). Hot restart is already pretty complicated (and not used by some large Envoy deployments such as at Google), so anything we can do to simplify and limit the amount of speci

[2018-07-09 15:35] htuch commented on #3123
@mpuncel I think having fallback to locality would be relatively clean, if it's not hard to implement it seems this could be one reasonable thing to do.

@snowp I'd be inclined to support this, but we really need some very explicit user documentation explaining the different corner cases and how load can behave strangely.

@zuercher ping again :)

[2018-07-09 16:31] mkbehr opened #3809 "HttpIntegrationTest methods should time out instead of waiting forever"
The integration test framework makes it hard to send requests that might, e.g., be rejected by a decoder filter. HttpIntegrationTest::waitForNextUpstreamRequest will happily spin forever in that case. That method and similar ones should time out instead.

[2018-07-09 16:42] htuch commented on #3799
See also the trailing discussion in https://github.com/envoyproxy/envoy/issues/1477. I think we should ideally make the address resolvers async (and I have some vague notion that we could make at least strict DNS an implementation detail of address resolvers rather than being its own cluster type).

[2018-07-09 16:43] mattklein123 commented on #3804
The IPC protocol isn't the issue main issue IMO, as I don't think that has changed in probably 12-18 months and might never need to change again. There are many other things that can effect compatibility such as shared memory layout. I'm not sure how much proto3 will really help here and whether it's worth the churn (though can't hurt).

The first thing that I would say is that I'm reticent to mak

[2018-07-09 16:52] mattklein123 commented on #3809
I don't think we should generically timeout in all cases, as that will introduce timing issues in tests. Feel free to add a variant that times out if it helps you.

[2018-07-09 16:53] mattklein123 commented on #3799
I agree that it would be nice to make an async resolver. With that said, I'm not sure we want to support k8s directly in Envoy given the plethora of k8s Envoy integrations that are already available in the community.

[2018-07-09 17:00] #3788 closed

[2018-07-09 17:01] zuercher commented on #3123
I think good documentation is sufficient for now.

It might be possible to extend LRS to report separate stats for the subsets (along with their identifying metadata, I suppose). That might make it possible to for the management server to make more useful decisions about locality weights in the presence of subsets.

[2018-07-09 17:14] htuch commented on #3803
@rgs1 see https://github.com/envoyproxy/envoy/blob/37ad8fcb0f2e4dcbb480eede684a887367c77fc1/source/common/upstream/upstream_impl.cc#L714. I think the issue is that for existing endpoints, we only update health/weights, so we also need to potentially do a metadata update in this code (or at least treat it as a host remove/add to force a full rebuild of various LB data structures such as subset LB).

[2018-07-09 17:23] rgs1 commented on #3803
@htuch yeah, was about to comment... that's what we figured out empirically. Do you have any preferences towards any of the two approaches (e.g.: metadata update vs remove/add)?

For us, metadata update is better — assuming it's not extremely tricky to get it right — since remove/add is more expensive (assuming it requires draining).

[2018-07-09 17:28] rgs1 opened #3810 "Support mutable metadata for endpoints"
This is a follow-up for #3803. In our clusters, metadata for endpoints mutate as we do deploys (e.g.: version). Given how we implement our EDS service, a removal might be missed so we need support for mutable metadata. Also, a removal isn't always desirable because it might be too expensive, especially if it triggers a drain.

This issue is to explore support for mutable metadata.

[2018-07-09 17:31] mattklein123 opened #3812 "Add format regression test for protos"
See https://github.com/envoyproxy/envoy/pull/3811

[2018-07-09 17:57] cpakulski commented on #3304
I still plan to solve this issue, but cannot commit much time during the summer.

[2018-07-09 18:01] htuch commented on #3810
You'll need to ensure that `BaseDynamicClusterImpl::updateDynamicHostList` returns true to have it do the LB rebuild that is required when subset information changes. I think this might be enough for what you need, but will defer to @zuercher on how the subset LB updates happen.

[2018-07-09 18:02] htuch commented on #3803
Closing this out in favor of #3810.

[2018-07-09 18:02] #3803 closed

[2018-07-09 18:07] rgs1 commented on #3810
@htuch yup — testing exactly that. Thanks!

[2018-07-09 18:39] alyssawilk commented on #3785
fun find of the day - it looks like an errno bug.   Logging (latching, logging, and restoring) errno in os_sys_calls_impl.cc  and again in raw_buffer_socket.cc results in a mismatch where the ECONNRESET in os_sys_calls_impl.cc ends up an EAGAIN by the time it's picked up in raw_buffer_socket.cc  I believe the culprit is spdlog, and it could actually cause Envoy to miss closed connections in produc

[2018-07-09 19:09] brian-pane commented on #232
I was able to remove the `ioctl` call, but it may be a while before I have time to work on a complete replacement of evbuffer. It may make sense to return this issue to "help wanted" state, in case anybody else has time to work on it.

[2018-07-09 19:15] mattklein123 commented on #232
TBH with the ioctol gone I'm not sure how much it matters anymore and maybe we should just close this. But I marked "help wanted" for now.

[2018-07-09 19:35] vnalla opened #3815 "Double Proxy Config example"
How to configure Double proxy? I need one envoy proxy to forward the requests to other envoy proxy which in turn send the requests to actual targets. Is this kind configuration possible with envoy?

thanks!

[2018-07-09 19:37] huggsboson commented on #1990
@mattklein123 I tried looking through the source code to find this but one issue we have run into with other LB's is that at shutdown it closes new connection for both ingress and egress listeners, which makes procesing inflight requests difficult.  I'm curious if envoy only shuttsdown ingress listeners and keeps egress ones alive to make this process easier.

[2018-07-09 19:38] huggsboson commented on #1990
Actually this seems like it might be the route for that:
[code]

[2018-07-09 19:53] julia-stripe opened #3817 "Support TLS session resumption when originating TLS connections"
**Issue Template**

Envoy supports TLS session resumption when serving TLS connections, but not when originating them.

*Description*:

When Envoy serves TLS requests, it supports TLS session resumption. However, Envoy **clients** do not appear to support TLS session resumption. (unless I'm misinterpreting what I'm seeing in Wireshark, which is possible! If Envoy actually does support this I'd lov

[2018-07-09 19:59] zuercher opened #3818 "TCP connection pool"
Tracking ticket for follow-on modifications related to the generic TCP connection pool, per discussion in #3747:

* [ ] refactor HTTP1 connection pool to extend it
* [ ] modify tcp_proxy to use connection pool vs. tcpConnForCluster
* [ ] modify redis_proxy to use connection pool

[2018-07-09 20:24] alyssawilk opened #3819 "improve syscall API wrappers"
Per discussion in #3813 it'd be good if the doRead call didn't latch errno several levels away from where the actual syscall was performed.  We should change the APIs to return {rc, errnno} in some form to better futureproof in case the intermediate function calls add their own errno-corrupting debug logging.

We could also get really fancy and insist that errno is latched via fix_format fixes, as

[2018-07-09 20:44] mattklein123 commented on #3817
@PiotrSikora can you advise here?

[2018-07-09 20:59] mattklein123 commented on #1990
@huggsboson yup, that was built for exactly the reason you specify.

[2018-07-09 21:23] alyssawilk commented on #3611
Ok, it has been about a month and we've done an intermediate release.  Do we think it's worth rolling this forward, or shall we wait a bit longer to lower the odds of folks running up against this?  Do we know if anyone does less than monthly releases who isn't picking up the actual release builds?

[2018-07-09 21:30] mattklein123 commented on #3815
https://www.envoyproxy.io/docs/envoy/latest/intro/deployment_types/double_proxy

[2018-07-09 21:34] mattklein123 commented on #3611
I think it's probably fine to just do it, especially since we just crossed a version boundary.

[2018-07-09 21:41] ggreenway commented on #3804
I think this is an interesting idea. I also like hte "light" hot-restart option the best. I don't know that we'd have to guarantee the protocol is stable forever, we just need implement both the old and new protocol for some period of time when it changes. And as noted, it may never change. I think this is straightforward enough; it's much simpler than trying to make data-structures in shared-memo

[2018-07-09 21:51] rgs1 commented on #3798
@mattklein123 ah, thanks!

[2018-07-09 23:04] vishalpowar opened #3823 "Feature Request: Extend drop-overload to include overload category"
Traffic drop request is provided to envoy as part of eds.ClusterLoadAssignment.policy.drop_overload
This along with lrs.ClusterStats.total_dropped_requests can be used as feedback loop to rate-limit traffic from envoy and check if it is having desired effect by a Central control system.

In v2 proto the expectation is that there is one Central control system which will generate this drop request a

[2018-07-09 23:29] kavyako commented on #2904
@mattklein123 we can close this one now.

[2018-07-09 23:56] mattklein123 commented on #2904
Thank you!

[2018-07-09 23:56] #2904 closed

[2018-07-10 00:01] huggsboson commented on #1990
I should have asked this in the original question, but is it possible to get the process to exit once all of the ingress connections have drained/closed on their own?

One of our major issues is that it's really hard to tell if the process using the proxy is done using it for egress.  So we've had to do somewhat complicated coordination in kube to keep the sidecar available for egress even though

[2018-07-10 00:22] PiotrSikora commented on #3817
This is on my TODO list, but yeah, Envoy currently doesn't support session resumption when acting as a client. I don't have any ETA for it either.

cc @ggreenway

[2018-07-10 03:02] #2526 closed

[2018-07-10 06:51] bmadhavan commented on #3771
Envoy does connection pooling to upstream. So `queueing request due to no available connections` only means that there are no established connections to re-use & hence will initiate a new connection to the upstream. This shd not cause any issue.
For `503s` I did recommend a few settings before.

[2018-07-10 12:04] neicunlideyu opened #3826 "debug envoy on MacOS with lldb/gdb"
I want to debug envoy on MacOS, so I take following actions:
1.  I build envoy binary with command `bazel build  -c dbg --apple_generate_dsym //source/exe:envoy-static`
2.  `lldb -p {pidOfEnvoy}`,  set breakpoint `breakpoint set --name onConnectionEvent`

but the source code doesn't show when break point is hit. Is this supported on MacOS with bazel build? If supported, what option should I add to

[2018-07-10 12:05] skwasiborski opened #3827 "data-plane-api proto definitions cause name conflict in c#"
Api definitions for data plane api contain messages that cause naming conflict when used by protoc to build c# classes. There are two instances of the problem:

1. pacakge: envoy.api.v2 contains message Cluster which ends up being class Envoy.Api.V2.Cluster at the same time there exists a package: envoy.api.v2.cluster which ends up as namespace Envoy.Api.V2.Cluster. This is not allowed in c# and c

[2018-07-10 13:06] #3785 closed

[2018-07-10 13:49] alyssawilk commented on #3611
Ok, just to clearly document in one place.

The original PR https://github.com/envoyproxy/envoy/pull/3587 removed whitespace in XFF headers, changing them from the form

X-Forwarded-For: 127.0.0.1, 127.0.0.2
to
X-Forwarded-For: 127.0.0.1,127.0.0.2

Unfortunately, as documented in https://github.com/envoyproxy/envoy/issues/3607, Envoy's getLastAddressFromXFF utility assumed there was whitespace, so

[2018-07-10 14:09] julia-stripe commented on #3817
@PiotrSikora how much work do you think it would be to implement if we wanted to contribute it?

[2018-07-10 15:49] rgs1 commented on #3611
lgtm, thanks!

[2018-07-10 15:53] alyssawilk commented on #3611
As mentioned on the bug and seconded by @rgs1 I'm going to err on the side of paranoia and wait for a full release.  I've added a calendar reminder to pick this up come October so it doesn't linger forever :-P

[2018-07-10 17:10] mattklein123 commented on #3827
@skwasiborski sure please just do a PR. Thank you!

[2018-07-10 17:11] mattklein123 commented on #3826
@zuercher ?

[2018-07-10 17:11] mattklein123 commented on #3819
@venilnoronha go for it!

[2018-07-10 17:31] qiwzhang opened #3831 "InitManager to support dependency based initialization"
*Title*: InitManager to support dependency based initialization

*Description*:
When refactoring ClusterManager to use InitManager, (please see PR https://github.com/envoyproxy/envoy/pull/3700 for the reasons why such refactoring is needed), it will be much easier if InitManager supports dependency based initialization.

Cluster Manager has EDS cluster which may depends on other static clusters.

[2018-07-10 17:31] qiwzhang commented on #3831
@mattklein123 what do you think?

[2018-07-10 17:32] htuch commented on #3823
@mattklein123 @amb67 @alyssawilk for review.

[2018-07-10 17:33] htuch commented on #3559
@mattklein123 @alyssawilk @lizan for review.

[2018-07-10 17:42] mattklein123 commented on #3831
@qiwzhang at a high level I think this makes sense, though, given how complicated this is, I'm wondering if we can simplify as much as possible for now. For instance, could we say for now that SDS is only supported for EDS clusters (and fail config)? If we do that, could the InitManager live inside ClusterImplBase and not ClusterMananger? I know I said to do what you are trying to do, but having t

[2018-07-10 18:47] mattklein123 commented on #3831
@qiwzhang yup SGTM. I will review the other PR again. Thank you!

[2018-07-10 19:01] zuercher commented on #3826
Last I looked bazel does not preserve the dsym files for c++ code and without those files lldb cannot do source level debugging.

I expect using Xcode would have the same problem, but I've not tried.

There's a workaround suggested in bazelbuild/bazel#2537. I don't know if anyone's tried it, though I plan to give it a whirl the next time I want a debugger.

[2018-07-10 19:05] huggsboson commented on #1990
CC: @mattklein123 ^  I'm sure you're super busy is there anyone else I should be at-mentioning?

[2018-07-10 21:05] bplotnick opened #3835 "health_check: request header formatting does not use dynamic request info"
*Title*: *health_check: request header formatting does not use dynamic request info*

*Description*:
Using the [command operators](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_conn_man/headers#custom-request-response-headers) in [http_health_check.request_headers_to_add](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/health_check.proto#core-healthcheck-httphealthc

[2018-07-10 22:00] mattklein123 commented on #3835
Yeah I think we can do better here pretty easily. Marking bug/help wanted.

[2018-07-10 22:23] mattklein123 commented on #1990
This is not supported currently. There is no support for "shutdown when connections reach 0" or something like that. It's been discussed before and would be a useful feature to add but someone would need to work on it.

[2018-07-10 22:31] huggsboson opened #3837 "Add an option to shutdown when connections reach zero"
*Description*:
For graceful shutdown scenarios described in #1990  we largely have what we need, but it would be extra helpful to allow envoy to exit once ingress connections reach zero.

Basically if we have a service that wants to:
1. Use envoy for ingress and egress
2. Has a potentially long and highly variable drain time (e.g. 5 min to 4 hours)

It would be nice if we could have a sigterm:
1.

[2018-07-10 23:28] #3810 closed

[2018-07-11 06:36] jinuxstyle commented on #3798
We have found the reason why envoy reported status code 0 in our case:

We have following service access flow:

client -> nginx -> envoy -> service

We have the nginx set a timeout for the requests, when the service takes longer time than the timeout, then nginx closes the connection to envoy due to timeout, so the envoy could not send back the response to client. Thus envoy reports the status cod

[2018-07-11 06:51] rgs1 opened #3839 "[subset load balancer] handle subset updates when only metadata changes"
Now that #3810 has been merged, the subset load balancer needs to be update so that it adds/removes subsets when only metadata has changed (no endpoints were added not removed).

I checked this today, and the default subset gets properly updated. But there's problems with adding/removing.

[2018-07-11 06:55] rgs1 commented on #3839
cc: @zuercher @mattklein123

[2018-07-11 10:05] sahanaha commented on #2436
Hi,

Hope I can ask one more question...

I have a scenario where same IP address is part of multiple subsets based on metadata match criteria..

EDS response:

"lb_endpoints": [
      {
       "endpoint": {
        "address": {
         "socket_address": {
          "address": "172.03.88.173",
          "port_value": 16503
         }
        }
       },
        "metadata": {
          "filter_met

[2018-07-11 13:56] swift1911 commented on #886
any progress this issue?

[2018-07-11 16:36] rgs1 commented on #2436
@sahanaha I think you'll need two recent PRs:

https://github.com/envoyproxy/envoy/pull/3814 (merged)
https://github.com/envoyproxy/envoy/pull/3840 (waiting for review)

[2018-07-11 19:19] mattklein123 commented on #3823
I added one comment but sounds fine to me. My main comment is that given drop_overload is not implemented yet, let's just replace it entirely with the more flexible scheme with some notion of default category or something like that.

[2018-07-11 20:15] alyssawilk commented on #3809
I think a blanket change from codec_client_->waitForDisconnect(); <-- hang forever to

ASSERT_TRUE(codec_client_->waitForDisconnect()); <-- 5s timeout
would be a net win.  We'd have to do auditing to make sure subfunctions also exited correctly but if we used ABSL_MUST_USE_RESULT we could verify at compile time we didn't miss any.

[2018-07-11 20:22] mattklein123 commented on #3809
@alyssawilk agreed, I just don't want to rely on timeouts generically.

[2018-07-11 20:42] mkbehr commented on #3809
Would it work to time out by default but with an optional argument to not time out, or do you mean something else by "generically"?

[2018-07-11 20:46] mattklein123 commented on #3809
What I'm saying is that I don't want the default behavior to be that timeouts somehow lead to tests passing. What @alyssawilk has proposed (timeout and fail) I agree it much better than hang, but that still leaves the default as timeout/fail vs. timeout and maybe pass. I think it's fine for the test writer to be able to opt-in to timeout and not fail in specific cases where that makes sense.

[2018-07-11 20:57] alyssawilk commented on #3809
Do you have any concrete examples of where you think it makes more sense to time the whole test out rather than fast-fail?  Or perhaps we can give the ABSL_MUST_USE_RESULT variant a try and see if there's any corner cases where an infinite timeout makes sense.

[2018-07-11 21:00] mkbehr commented on #3809
ABSL_MUST_USE_RESULT will break all the existing uses for anything that returns void but it should prevent the scenario where the test ignores a timeout and passes when it should fail. That scenario could still happen if a test calls something that returns a pointer like sendRequestAndWaitForResponse, stores it, and then doesn't try to dereference it in some branch, but I'd expect that to be a pre

[2018-07-11 21:04] mkbehr commented on #3809
Which is to say, if I'm understanding @mattklein123 right, there's the concern that we add the interface for

`ASSERT_TRUE(codec_client_->waitForDisconnect());  // 5s timeout`

but somebody accidentally writes

`codec_client_->waitForDisconnect();  // Now this can time out and the test won't fail`

but if waitForDisconnect is ABSL_MUST_USE_RESULT then the second example there won't compile.

[2018-07-11 21:05] mattklein123 commented on #3809
Yes exactly that's my concern that I want to prevent.

[2018-07-12 12:31] wylazy opened #3846 "It seems command line option --v2-config-only has wrong default value"
*Title*: It seems command line option --v2-config-only has wrong default value

I cannot start ./envoy-static with v1 config, but it works when start ./envoy-static with command line --v2-config-only.

Then I opened the source file 'source/server/options_impl.cc' and found the code:
[code]
I don't know why --v2-config-only default value is true, and negated when specified. It seems strange.

[2018-07-12 13:07] alyssawilk commented on #3846
Oh goodness, that's broken!  Thanks for the report and I'll get a fix in today.

[2018-07-12 13:15] georgi-d commented on #3436
@htuch  Could you answer this question?

Thanks

[2018-07-12 14:23] htuch commented on #3436
@georgi-d you have to have literally `bazel build --package_path %workspace%:<path to Envoy source tree> //source/exe:envoy-static`, i.e. the `%workspace%:` needs to be there.

[2018-07-12 16:11] 9len commented on #2247
@zuercher has been making incremental progress towards this. C.F.:

- 2c379306c272e9cc4f79e34de3df41883e19c875
- a89eb3c59204caa3e0cd1bcd845bcb1a0be95267
- e6a65cc6348065b863be8eede1639caec34f91dd
- 4521e89da33ce44ebdc61b2b1da07712341d743d
- 56a047b5064bba8108ec31c2b6a1f94da1711c20

[2018-07-12 18:36] danzh2010 commented on #3429
I think this is not done yet.

[2018-07-12 18:52] prune998 commented on #3076
@alyssawilk this issue was created before 1.7.0 release, and seems to still be present in 1.7.0.
When do you expect a fix/a new release ?
Who could help here ?

Thanks

[2018-07-12 19:09] alyssawilk commented on #3076
Yep, we moved it to the 1.8.0 milestone when it was clear it wasn't going to be fixed in 1.7.0.  Piotr is currently assigned to it so I'll give him a chance to reply to your ping - if he doesn't respond by Monday I'll get ahold of him via chat.

[2018-07-12 19:10] prune998 commented on #3076
In fact, it sounds nothing have changed in 1.7.0.
I would highly recommend to follow the RFC and :
- forward the negociated limit when applicable
- set the limit to unlimited instead of 100

I can't understand why it's an issue for Envoy/nghttp...

[2018-07-12 19:47] alyssawilk commented on #3846
OK, v1 is now turned up by using --allow-deprecated-v1-api which is way more clear.

[2018-07-12 22:10] #3839 closed

[2018-07-12 23:10] yolken-stripe commented on #3570
We use lua filters with `request_handle:respond` extensively and thus have been getting a lot Envoy segfaults in our fleet due to this issue. To do more debugging, I integrated the https://github.com/yaukeywang/LuaMemorySnapshotDump tool into one of our lua filters and took snapshots before and after doing a large number of requests that execute `request_handle:respond`.

The results suggest that

[2018-07-12 23:13] mattklein123 commented on #3570
@yolken-stripe thanks a ton for digging into this. Let me page this code in and I will get back to you. cc @dio since he might also be interested in looking at this.

[2018-07-13 05:41] mattklein123 commented on #3570
@yolken-stripe this is not a real fix but this will probably fix your issue:
[code]

There is a circular reference which is preventing yielded coroutines from getting cleaned up. I will think about a real fix tomorrow. Figuring out the right way to test this is also complicated.

[2018-07-13 07:11] Bplotka commented on #3799
hmm? Can you give some example what is the "state of the art" of solving this use case using envoy?

Apart from running whole Istio and Ambassador (:

[2018-07-13 14:08] #3123 closed

[2018-07-13 14:14] htuch opened #3853 "Timeouts for streams hanging prior to route determination"
In https://github.com/envoyproxy/envoy/pull/3841 (see also #1778), we introduce per-stream idle timeouts. However, these apply at the route level. In order to know the per-route timeout, we need to have decoded headers already. It's possible that streams may idle hang prior to request header completion.

A simple solution is to just do a global stream idle timeout as well, that can be overridden o

[2018-07-13 14:18] #3205 closed

[2018-07-13 15:51] mattklein123 commented on #3799
Rotor from turbine labs would be a good option. You could also run just Pilot from Istio. There is also Contour from Heptio, Gloo from solo.io, and probably others at this point.

[2018-07-13 15:56] #3827 closed

[2018-07-13 16:04] Bplotka commented on #3799
Thanks for directions! I think you can open new issue for async resolver as a separate thing. I am closing this one. Thanks for feedback!

Awesome work with Envoy. (:

[2018-07-13 16:04] #3799 closed

[2018-07-13 18:51] mattklein123 commented on #3570
As long as you do nothing after you call respond it should be safe. I have a real fix though that I'm going to post in a couple of minutes that you can test if you want.

[2018-07-13 18:52] yolken-stripe commented on #3570
Oh, nice. Will give your updated fix a try and let you know!

[2018-07-13 18:59] #3508 closed

[2018-07-13 20:56] yolken-stripe commented on #3570
@mattklein123 tried out your fix, and seems to solve the problem. Thanks again for the quick response!

[2018-07-13 20:59] mattklein123 commented on #3570
@yolken-stripe great thanks for the verification.

[2018-07-13 21:00] htuch commented on #3585
@ambuc here's the potato, let me know if you want to hold it.

[2018-07-13 22:37] dio commented on #3570
Thanks, @mattklein123.

That is an interesting investigation on how we hold refs to the underlying coroutines.

[2018-07-15 07:10] dnivra26 opened #3860 "rolling update with envoy"
*Title*: *What is the best way to do a rolling update with envoy?*

*Description*:
We have envoy setup as a side car container to each pod in our services. Now whenever there is a config change for envoy (configmap change) and we do a helm update.
We see a spike in 503s and then eventually it goes away.
Before envoy refreshes it set of hosts(dns_refresh_rate 5s), does it still send requests to the

[2018-07-16 02:27] cgilmour opened #3861 "Add datadog tracing driver to envoy"
I'm Caleb, from Datadog's APM team. We've been looking at adding distributed tracing to the proxy
applications used internally and by our customers.

We have already developed a [plugin](https://github.com/DataDog/dd-opentracing-cpp/blob/46edff8f2f5483e4774b299bdcf683720ac95c6d/examples/envoy-tracing/front-envoy.yaml#L61-L68) that works with Envoy based on the existing `dynamic.ot` tracing option,

[2018-07-16 13:17] alyssawilk commented on #3076
Argh, he's at a conference this week so may be slow to respond.  I'd say we don't have an ETA on a fix at this point, but if it's urgent perhaps you can pick up #3658 and see if you can work out tests?

[2018-07-16 14:10] michalholecek opened #3865 "ext_authz filter is messing up "content_length" header"
When envoy receives a request with body length of e.g. 5, the req. headers are:
[code]
then it sends this request to the ext_authz filter without body so the "content_length" header is supposed to be 0. But instead of 0 envoy sets it to "0,5" (0, original content length). This causes any http server to respond "400 Bad request".
Here are the headers from envoy debug log:
[code]
these are received

[2018-07-16 16:14] mattklein123 commented on #3865
cc @saumoh @gsagula

[2018-07-16 16:22] objectiser commented on #3861
No objections although would be interested to hear in what way the dynamic ot approach was limiting in case it could be enhanced to be more generally useful?

[2018-07-16 16:33] lwhile commented on #3634
@ggreenway  @mattklein123

Does the feature included in the version v1.7.0?

[2018-07-16 16:35] #1778 closed

[2018-07-16 17:03] rnburn commented on #3861
I expect the main problem is making the tracer plugins available on the docker images that build on Envoy like Istio.

There's a similar issue with [ingress-nginx](https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/third-party-addons/opentracing.md) which only supports Zipkin and Jaeger right now, but where we'd also like to add arbitrary vendor support.

[2018-07-16 18:14] ggreenway commented on #3634
@lwhile To my knowledge this hasn't been implemented yet. However, generic socket option support was added. On a Listener, you can set socket_options. You'll have to figure out the kernel socket option numbers and exact values, but I think it will work. See https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/lds.proto.

[2018-07-16 18:19] PiotrSikora commented on #3705
Do you really need full regex or is the trailing wildcard enough? See #1272.

[2018-07-16 18:46] gsagula commented on #3865
@michalholecek  Thanks for reporting it. I will take a look at and get back to you.

[2018-07-16 20:51] rshriram commented on #3705
Why not wildcard prefixes just like the SNI stuff ?

[2018-07-16 21:07] kmyerson opened #3870 "Exit on xDS Permission Denied Errors"
Exit on xDS Permission Denied Errors

If the management server responds to a DiscoveryRequest with a gRPC error code, Envoy will retry the request. For some error codes, a retry might not make sense.

We're interested in having Envoy exit if the management server returns an Unauthenticated or PermissionDenied error. This would allow a wrapper layer/process around Envoy to reset credentials, for ex

[2018-07-16 21:29] mattklein123 commented on #3870
Hmm. I'm not sure how I feel about this. Is this opening a can of worms? Are there other cases in which someone might ask to exit? I'm mainly wondering if the wrapper/process monitor could be looking at stats during startup and tear down envoy and restart it if it sees this?

[2018-07-16 21:30] dio commented on #439
Update. I have submitted: https://github.com/envoyproxy/envoy/pull/3864 to fix this.

[2018-07-16 21:38] ikatson commented on #3634
@ggreenway are the socket options set only on listening socket or also on accept'ed ones? Cause what's needed here is the latter

[2018-07-16 21:44] ggreenway commented on #3634
I don't know off the top of my head.

[2018-07-16 21:45] brirams commented on #3642
I imagine there's still at least an abstract need for this. Nothing pressing on my end. Opened this issues just to keep track of whether it ever got done.

[2018-07-16 22:10] #3570 closed

[2018-07-16 23:17] danielhochman opened #3871 "logging: no timestamps in active healthcheck log"
we added an `event_log_path` to our healthchecks. the logging works, but there is no timestamp.

a couple of example log output lines:
[code]

[2018-07-16 23:19] danielhochman commented on #3405
if we want parity with the current logs, https://github.com/envoyproxy/envoy/issues/3871 should be fixed first so that we have timestamps in the log.

[2018-07-16 23:56] cgilmour commented on #3861
Thanks for the prompt and supportive response, @mattklein123

@rnburn that's really good to know up-front. I'll dig into that implementation and keep those requirements for tracers in mind before making a submission.

@objectiser the case that Ryan mentioned is spot on.
I don't have suggestions for related improvements / enhancements yet, but that may come up later on!

[2018-07-17 01:17] PiotrSikora commented on #3076
@prune998 yeah, it got dropped from 1.7.0. See [my comment](https://github.com/envoyproxy/envoy/pull/3658#issuecomment-405426092) in #3658 on the current state.

[2018-07-17 01:36] rgs1 commented on #2436
@sahanaha you've got the same IP _and_ port... that won't work, since they are both the same endpoint. Or did you just forget to update the port in your example?

[2018-07-17 03:21] sahanaha commented on #2436
@rgs1

In my scenario I do end up getting same IP and Port in multiple subsets. Is
there any workaround solution for this problem ?

On Tue, Jul 17, 2018 at 7:06 AM, Raúl Gutiérrez Segalés <
notifications@github.com> wrote:

[2018-07-17 03:35] rgs1 commented on #2436
@sahanaha so an endpoint (ip+port) _can_ be in multiple subsets, but the endpoint should only appear ones in EDS (with all the corresponding metadata that would cause it to be in multiple subsets) — does that make sense?

[2018-07-17 08:14] ramaraochavali commented on #3705
@PiotrSikora Thanks for the pointer. We are not very clear whether trailing wild card will alone would be sufficient.
For example if we have a SPIFFE URI as
 spiffe//trust-domain/*ns*/test-namespace/*svc*/test-svc/*env*/some-env/*pod*/na-x/*region*/us-east-2
and we want our validation to ensure
- It starts with spiffe//<<trust-domain>>
- It has key value pairs specifying the name-space, svc,env,po

[2018-07-17 12:31] vadimeisenbergibm opened #3874 "Add SNI to the TCP access_log"
I think it could be useful to see the SNI in the TCP access_log https://www.envoyproxy.io/docs/envoy/latest/configuration/access_log#config-access-log-format.

[2018-07-17 13:32] vadimeisenbergibm opened #3875 "Question: is it possible to build envoy-filter-example using envoyproxy/envoy-build ?"
Envoy Filter Example: https://github.com/envoyproxy/envoy-filter-example
Envoy Docker Build: https://www.envoyproxy.io/docs/envoy/latest/install/sandboxes/local_docker_build

[2018-07-17 13:35] georgi-d commented on #3436
@htuch Thanks for the reply.

I tried adding %workspace% and now it seems to start working but still fails:

[code]

[2018-07-17 14:02] rshriram commented on #3705
No. i was suggesting things along the lines of *.foo.com, *.com, etc..
Looking at this from a different angle, why can't we take the X509 style approach and split this into multiple fields, such that we can state richer stuff like spiffe/*/ns/test-namespace/svc/test-svc/... or spiffee//trust-domain/ns/*/svc/test-svc etc. I understand that this is turning the simple SAN string into a more implement

[2018-07-17 14:23] htuch commented on #3436
@georgi-d the workspace in `ci/WORKSPACE` is setup for the CI environment and its paths (see the absolute path `/source` in the `local_repository` for Envoy). You'll need to modify to use this outside Docker or in your environment.

[2018-07-17 14:42] PiotrSikora commented on #3705
@rshriram that's a good point, but then, I'd argue that this should be kept SPIFFE-specific and we should add `spiffe` field/message to the `CertificateValidationContext` for that, instead of adding it as generic regex.

I'm not sure if that's something that Envoy is interested in supporting, though? cc @mattklein123 @htuch @ggreenway

[2018-07-17 14:44] kmyerson commented on #3870
Thanks for the suggestion Matt. I chatted with @mrice32 about it and we think watching stats should be a reasonable solution, although we might want to build a mechanism to programmatically access stats, similar to #3674 .

[2018-07-17 15:02] ramaraochavali commented on #3705
@rshriram I agree having generic bag of key-value attributes extracted from the SAN with a configuration suggesting what to validate looks like a clean solution. But then as @PiotrSikora mentioned, do we want to be SPIFFE specific here and introduce those fields in Envoy `CertificateValidationContext`?  The regex was considered so that the validation need not be SPIFFE specific.

[2018-07-17 15:51] georgi-d commented on #3436
@htuch Thanks again,

I was able to proceed further by overriding the envoy repository location
[code]
Now the bazel finds the packages and starts the compilation.

I think it would be very helpful if a more detailed description was present in the documentation. At least explaining that the `local_repository` location needs to be updated or overridden on the command line.

[2018-07-17 15:56] #3076 closed

[2018-07-17 16:10] dio commented on #3835
Have a rough idea on fixing this as suggested by the title, i.e.
1. Construct `RequestInfo` object and set `onUpstreamHostSelected()` whenever `onInterval` is called.
2. Handle `DOWNSTREAM_*`by checking if `request_info.downstreamLocalAddress()` is `nullptr` then return empty string.

However I find it challenging to mock host `metadata()` call to return metadata object to test the `UPSTREAM_METAD

[2018-07-17 17:17] mancini0 opened #3876 "External Auth filter's CheckRequest message should provide a means to access the destination hostname."
*Description*:
I'm trying to have Envoy handle my applications' Kerberos authentication concerns. I'd like Envoy inject an "Authorization: Negotiate [token] "  header to my applications' service calls.  The problem _is that the [token]  hash is a function of the destination host_ ...if I have a service running on three hosts, I need to know which of the hosts in the cluster the call is actually go

[2018-07-17 17:18] htuch commented on #3823
LGTM

[2018-07-17 18:19] alyssawilk commented on #3804
I have no attachment to our internal design, but if a data point is helpful we've not found the SO_REUSEPORT race problematic.  When we hot-swap servers, both listen for some time, the old one stops listening and closes the listening socket (but continues to handle existing connections), and eventually shuts down.  This has been good enough for Google-level reliability so I think is plausible if w

[2018-07-17 19:45] rgs1 opened #3877 "assert in health checker causing crash"
Started seeing this with a build from master from 5 days ago (when i picked https://github.com/envoyproxy/envoy/commit/e71850074e1779ab84838006b8c559722eaae29e):

[code]

Still no repro, saw it twice now.

[2018-07-17 19:58] llchan commented on #3337
Now that the http-parser PR is merged, what's the game plan? Do we need to wait for a tagged http-parser release, or can we point at the latest master?

[2018-07-17 20:03] mattklein123 commented on #3337
@llchan it has not been merged. Please ping the PR there and try to get them to merge it.

[2018-07-17 20:22] ggreenway commented on #2557
@juvexp Any updates on your progress?

[2018-07-17 20:35] ggreenway commented on #3804
This is just a brainstorming thought, and may not be a good idea, but:

We could use connected UDP sockets to ensure that packets on old "connections" go to the old envoy, and new ones go to the new envoy.

[2018-07-17 20:45] rgs1 opened #3878 "[perf regression] 5% increase in user time"
We are seeing a consistent 5% increase in CPU user time between https://github.com/envoyproxy/envoy/commit/e71850074e1779ab84838006b8c559722eaae29e and https://github.com/envoyproxy/envoy/commit/5f8b25ee0f543aeaf6356b3f97c86af56d6b0181.

From a quick look at commits in between, https://github.com/envoyproxy/envoy/commit/c92a3017017dfa31241dec13dc6a1479090318d0 and https://github.com/envoyproxy/env

[2018-07-17 20:56] htuch commented on #3878
@rgs1 LMK if it ends up being https://github.com/envoyproxy/envoy/commit/45fe83e4eb5344afd1d6a7b0017570ab459f4877. Thanks for digging into this.

[2018-07-17 21:00] alyssawilk commented on #3804
You can try, but it turns out that pretty much no one uses connected sockets at scale - the two kernel devs who did a majority of our UDP CPU improvements strongly advised we stay the heck away from them :-(

[2018-07-17 21:00] rpaulo commented on #2557
Will this work involve supporting Google QUIC or IETF QUIC?  Since QUIC is being standardized by the IETF, I think it's more beneficial to spend time on IETF QUIC.

[2018-07-17 21:55] htuch commented on #3436
@georgi-d PRs welcome; since you have direct experience doing this you might be best positioned to add the bridging text from the user perspective here.

[2018-07-17 21:58] htuch commented on #3705
Are regexes going to be a security minefield here? A single character mistake or complexity in hard-to-read   regex could make it much more widely scoped than intended. I agree with the position that limit to SPIFFE and have domain semantics.

[2018-07-17 23:03] bmetzdorf commented on #2557
I agree, we should be doing IETF QUIC.

[2018-07-17 23:04] mattklein123 commented on #2557
The plan is to support both Google QUIC and IETF QUIC. Google QUIC is the fastest path to something that is production ready while continuing to work towards the IETF standard.

[2018-07-17 23:13] rgs1 commented on #3878
Looks like it was a false positive, I was (accidentally) comparing a `fastbuild` build vs an `opt` build.... I'll circle back tomorrow with more data.

[2018-07-17 23:48] rgs1 commented on #3877
Probably a false positive, given it was with a `fastbuild`, so closing for now.

[2018-07-18 02:04] rshriram commented on #3860
You could play around with drain times but YMMV based on the types of clients (long running vs short lived connections). Alternatively, look at using the XDS APIs to update state programmatically.

[2018-07-18 03:56] ramaraochavali commented on #3705
Ok. Sounds like we are all agreeing to move towards SPIFFE specific validation here. I will close this issue and create a fresh issue with the details.

[2018-07-18 03:56] #3705 closed

[2018-07-18 04:16] ramaraochavali opened #3883 "Support SPIFFE URI validation in SAN"
Currently Envoy supports exact match while validating SAN field in certificates. However that is not sufficient if URI is a SPIFFE URI with multiple key value pairs.

For example if we have a SPIFFE URI as
spiffe//trust-domain/ns/test-namespace/svc/test-svc/env/some-env/pod/na-x/region/us-east-2

and we want our validation to ensure
- It starts with spiffe//<>
- It has key value pairs specifying t

[2018-07-18 04:17] ramaraochavali commented on #3883
@PiotrSikora @rshriram @htuch created this issue

[2018-07-18 07:41] sahanaha commented on #2436
@rgs1

Yes, it makes sense, Thanks!.
Let me see how I can fit my requirement into this.

[2018-07-18 08:39] llchan commented on #3337
Derp, my bad, misread the notification. It got the second approval it was awaiting though, so hopefully they actually merge it soon. I'm seeing many crashes a day from this so just trying to keep things moving.

[2018-07-18 12:46] georgi-d commented on #3436
@htuch  I will prepare a pull request.

[2018-07-18 12:52] andrewwebber commented on #1742
It still seems difficult to find git tags against the docker hub. For example where is v1.7.0

https://github.com/envoyproxy/envoy/releases
https://hub.docker.com/r/envoyproxy/envoy-alpine/tags/

[2018-07-18 16:33] markvincze opened #3886 "How to verify if LEAST_REQUEST LB policy is working?"
This is a question, and not a bug or feature request. If this is not a proper place to ask questions, I can move this somwhere else (I checked SO and Serverfault, but didn't see much traction about Envoy there).

I'm using Envoy as a Load balancer in front of a service consisting of ~40 nodes. I have 2 nodes running Envoy. I'm using `STRICT_DNS` discovery type, and the proxying works fine without

[2018-07-18 16:48] arianmotamedi opened #3887 "Mututal TLS: x-forwarded-client-cert header not being forwarded to destination"
I have the following k8s infrastructure setup to allow mutual tls between proxy side cars:
[code]

And this is my static yaml configuration that I use for both App1 and App2's envoys (cluster host addresses are k8s dns names):

[code]

And my k8s deployment spec (the service listens on port 443 and forwards inbound traffic to port 10000 of the destination container, which is the ingress port for E

[2018-07-18 17:55] gsagula commented on #3865
`envoy//test/integration:websocket_integration_test TIMEOUT` seems to be not related to my changes. I will retry it later.

[2018-07-19 06:33] ramaraochavali commented on #1272
@mattklein123 Probably this can be closed now that we have agreed that generic SPIFFE validation can be supported with this issue https://github.com/envoyproxy/envoy/issues/3883

[2018-07-19 08:44] tak2siva opened #3899 "[question] Does the request timeout includes connection time or not ?"
*Description*:
Does the `request_timeout` in envoy includes `connection_time` or not ? Lets say I have `request_timeout` as 5s my upstream cluster connection takes more than 5s. Will I get req timeout or not ? (say I have 20s timeout for clusters so I wont get cluster_connection_timeout)

[2018-07-19 10:20] #3582 closed

[2018-07-19 14:10] markvincze commented on #3886
One thing I tried now: I replaced the LB policy with an incorrect value (I just added `lb_policy: invalid_policy`), but I didn't receive any errors either on startup or later when sending requests to Envoy, even if I set the logging level to `debug`, so I'm doubting that the `lb_policy` setting is picked up by Envoy. So maybe something is wrong in my config?

[2018-07-19 14:31] mattklein123 commented on #3886
@markvincze yes something seems wrong. Use the `/config_dump` admin endpoint to double check the applied configuration.

Also, if you look at per host stats in `/clusters` output it should be pretty clear if it's RR vs. LR, because LR will look a lot more random for `rq_total` vs. the roughly even increasing of RR.

[2018-07-19 14:35] mattklein123 commented on #3899
Yes, if a new upstream connection has to be made connection time is counted against the request timeout.

[2018-07-19 14:36] mattklein123 commented on #1272
Sounds good, closing. Thank you!

[2018-07-19 14:36] #1272 closed

[2018-07-19 14:39] #3713 closed

[2018-07-19 15:23] willrichboa opened #3902 "Update Documentation on v2 fault injection"
*Description*:
I decided to use the v2 file format for some internal testing.  Unfortunately I found that while there seems to be decent info on how to add fault filters to your config file for v1, examples for the v2 format were lacking.  This is unfortunate because all of the variable names have changed.

Example: In v1 the delay filter would use variables "fixed_delay_percent" and "fixed_durati

[2018-07-19 15:45] sahanaha commented on #2436
Hi,

I still have some issues fitting our requirement in the V2 envoy. Let me just start with a background of our requirement…

<img width="882" alt="screen_shot_2018-07-19_at_4 11 05_pm" src="https://user-images.githubusercontent.com/39987317/42953811-bb593238-8b6a-11e8-830f-3e5bf42fa9aa.png">

Lets assume I have 3 endpoints in a cluster (ip:port) and multiple URLs (you can assume URLs as some da

[2018-07-19 15:54] bndw commented on #1742
@andrewwebber Every release of Envoy has a corresponding Dockerhub tag, so just pull it by name:

[code]

Digging through the Dockerhub UI will prove difficult-- it doesn't have search and it only shows a subset of the most recent tags.

[2018-07-19 15:57] andrewwebber commented on #1742
My mistake, your correct, thanks!

[2018-07-19 16:00] zuercher commented on #3818
#3903 makes some additional conn pool changes needed to adapt TCP Proxy.

[2018-07-19 16:20] ryandyoon opened #3904 "Fault Delay: support float type percent"
*Title*: *Fault Delay: support float type percent*

*Description*:
The `percent` field in the config of Fault Delay is limited to [uint32](https://www.envoyproxy.io/docs/envoy/v1.7.0/api-v2/config/filter/fault/v2/fault.proto.html?highlight=fault%20delay).
https://github.com/envoyproxy/envoy/blob/1fdb6386c4bb42748530d7a9bf58ded644d77749/api/envoy/config/filter/fault/v2/fault.proto#L27
However, for

[2018-07-19 17:42] mattklein123 commented on #3904
We should deprecate and replace with `FractionalPercent` (https://github.com/envoyproxy/envoy/blob/master/api/envoy/type/percent.proto#L23). cc @rshriram

[2018-07-19 17:43] mattklein123 commented on #3902
Doc PRs appreciated!

[2018-07-19 18:31] arianmotamedi commented on #3887
It turned out a valid `validation_context` with a CA chain was needed on the ingress listener for client certificate header to be passed along to upstream service and also for `require_client_certificate: true` to be taken into account. This should probably be mentioned in the documentation :)

[2018-07-19 18:31] arianmotamedi commented on #3887
It turned out a valid validation_context with a CA chain was needed on the ingress listener for client certificate header to be passed along to upstream service and also for require_client_certificate: true to be taken into account. This should probably be mentioned in the documentation :)

[2018-07-19 18:31] #3887 closed

[2018-07-19 18:53] skwasiborski opened #3906 "CSharp control plane"
I made an experimental implementation of control plane in csharp - it can be found [here](
https://github.com/skwasiborski/csharp-control-plane). Just wanted to mention it if someone would be interested.

[2018-07-19 20:42] brian-pane commented on #3648
The http_parser project won't incorporate the change in the foreseeable future, because it would break binary compatibility. https://github.com/nodejs/http-parser/issues/435

A while ago, I started developing an alternate parser implementation (which would also help with performance), but I only got as far as writing a Ragel grammar. It may be a long time before I get to resume work on that, due t

[2018-07-19 21:16] psrin7 opened #3908 "Active health check for LOGICAL_DNS cluster is failing"
Active healthcheck for cluster is failing

Active healthcheck is failing though I am getting response from the upstream. Not sure if I am missing anything in the configuration.

*Admin and Stats Output*:
cluster.sample-cluster.bind_errors: 0
cluster.sample-cluster.external.upstream_rq_200: 11
cluster.sample-cluster.external.upstream_rq_2xx: 11
cluster.sample-cluster.external.upstream_rq_301: 1
clu

[2018-07-19 23:19] danielhochman commented on #3908
Envoy expects a `200` status code in the response for the healthcheck to succeed. See [Architecture Overview: Healthchecking](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/health_checking#arch-overview-health-checking).

Your example curl is returning `301`.

[2018-07-20 00:05] psrin7 commented on #3908
I  have also tested with health check returning 200. It made no difference.

On Thu, Jul 19, 2018, 4:19 PM Daniel Hochman <notifications@github.com>
wrote:

[2018-07-20 00:45] richarddli commented on #2828
cc: @gsagula

[2018-07-20 03:42] ramaraochavali commented on #3883
@mattklein123 Please assign this to me. I will work on it.

[2018-07-20 04:19] gsagula commented on #2828
@richarddli Except with one issue in the raw HTTP auth client, the https://github.com/envoyproxy/envoy/issues/2828 is done.

Please, see Matt's comment about the current raw HTTP client approach https://github.com/envoyproxy/envoy/pull/3888.

[2018-07-20 09:02] ramaraochavali opened #3911 "Error Creating Listeners on Machines that does not support IPv6 Family"
https://github.com/envoyproxy/envoy/commit/01d2e16e973a76cc05f5e9e5c7a74f73498bc6c2

*Description*:
After the PR https://github.com/envoyproxy/envoy/pull/3851 (commit https://github.com/envoyproxy/envoy/commit/01d2e16e973a76cc05f5e9e5c7a74f73498bc6c2) we are not able to create Listeners from ADS on machines where IPv6 family is not enabled.

The error we get is
`07:09:56 2018/07/19 14:09:56 Envoy

[2018-07-20 09:06] ramaraochavali commented on #3911
It is because of these [lines](https://github.com/envoyproxy/envoy/blob/master/source/server/listener_manager_impl.cc#L382) specifically where we are trying to create CidrRange for IPv6 addresses

[2018-07-20 09:34] ramaraochavali commented on #3911
@PiotrSikora fyi..

[2018-07-20 15:46] heavypackets commented on #3883
This second requisite you've noted for SPIFFE URI validation isn't stipulated by the SPIFFE specification: https://github.com/spiffe/spiffe/blob/master/standards/SPIFFE-ID.md

Key-value pairs included in the SPIFFE ID is tied to a specific implementation. Per the spec, the URI path is arbitrary. The SPIFFE project released demos, for example, do not use a key-value pair format and wouldn't parse d

[2018-07-20 16:29] kflynn commented on #2828
Thanks all! :smile:

[2018-07-20 16:38] mcpherrinm commented on #3883
I would expect SPIFFE validation to work like configuring a trust domain (& root to verify against), plus regex on the path, (or something simpler than a regex, like how you'd write an http route matcher).

We're still in the early days of scoping how we're using spiffe + envoy, but I don't think the alternating /foo/bar/foo/bar pattern is flexible enough for what we'd been thinking.

[2018-07-20 16:48] psrin7 commented on #3908
What intrigues me is that the health check event shows address as 0.0.0.0 and port 0. It isn't using what is defined in the cluster's socket_address. It also indicates failure_type as NETWORK, which isn't helpful much. Thx.

Here is the health check event log.
 {"health_checker_type":"HTTP","host":{"socket_address":{"protocol":"TCP","address":"0.0.0.0","resolver_name":"","ipv4_compat":false,"port_

[2018-07-20 18:23] #3661 closed

[2018-07-20 19:03] #3618 closed

[2018-07-20 19:17] rgs1 commented on #3878
Definitely a false positive, closing.

[2018-07-20 19:17] #3878 closed

[2018-07-20 19:32] rgs1 opened #3916 "subset lb doesn't properly remove subsets when being destroyed"
We use hot restarts for our deploys. Everything works nicely with the subset lb, except for the fact the `lb_subsets_active` gauge is wrong after the old process exits. That is, the number of active subsets in the old process doesn't get decremented. From a quick look at the code:

https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/subset_lb.cc#L57

there's nothing going on in

[2018-07-20 21:26] snowp opened #3919 "debug assert when appending request headers"
[code]

this went away after setting `append: false` on `request_headers_to_add`

From looking at the code it seems like the append flow ends up calling a method that asserts that there are no existing headers.

This is running on `c92a3017017dfa31241dec13dc6a1479090318d0/1.8.0-dev/Modified/DEBUG`

[2018-07-20 21:39] kyessenov opened #3920 "gRPC stream stats"
*Title*: Collect gRPC bidi stream stats

*Description*:
For long-running gRPC calls (bidi), stats and access logs are insufficient. It would be useful to have an option to count the number of messages in the streams in both directions, which can help in monitoring long lasting streams (e.g. xDS server). gRPC parameter messages appear to be length prefixed in DATA frames, so this should be possible

[2018-07-20 21:49] #3911 closed

[2018-07-21 05:03] #3626 closed

[2018-07-21 09:03] #3583 closed

[2018-07-21 17:07] mattklein123 commented on #2139
@srikailash do you still plan on finishing this? I would love to get this done so really appreciate the effort.

[2018-07-22 03:17] dio commented on #3919
It seems because of the header to be added (with append = true/default) is included in the `StaticLookupTable`.

My proposal will be skipping adding an `request_headers_to_add` entry (HeaderValueOption) when the entry is "static header" and `append = true`.

https://github.com/dio/envoy/commit/efe1e93cfda1cef2f9519035cc6e1a5bf729274e

[2018-07-22 03:21] mattklein123 commented on #492
I'm re-adding help wanted since we haven't made much progress on this. Hopefully we can get some resources to work on this at some point.

[2018-07-22 16:45] htuch commented on #3919
Yeah, I bumped into this recently while writing a fuzzer for `HeaderMapImpl`. I think we should support this for consistency of the `request_headers_to_add` etc. interface. @alyssawilk

[2018-07-23 00:34] #3812 closed

[2018-07-23 09:32] markvincze commented on #3886
@mattklein123 Thanks for the suggestions!
With `/config_dump` I could verify that the `LEAST_REQUEST` setting was indeed picked up. And also, when testing it with a dummy CPU-intensive API I created just for testing, I could also verify that the overall performance was improved significantly with `LEAST_REQUEST` compared to `ROUND_ROBIN`. So it seems that it's just that with my real production app

[2018-07-23 09:32] #3886 closed

[2018-07-23 10:43] butters-mars commented on #3492
Same issue with me on mac os x. Is there any progress with this issue?

[2018-07-23 11:35] xiaoma2100 opened #3925 "Build failed on newest master"
I cloned the newest master on my Ubuntu17.04, and I did ./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.dev'
it is seems downloaded a docker image, and after that, it is build fail, my env is behind a proxy.
the log is below:
`root@ubuntu:/home/mark/envoy# ./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.dev'
ENVOY_SRCDIR=/source
HEAD is now at 3e5b733... cleanup: match NOT_IMPLEMENTED_GCOVR_EXCL_LINE

[2018-07-23 13:20] #3337 closed

[2018-07-23 13:23] ddunbar commented on #3337
Thanks for the persistence in getting this in!

[2018-07-23 15:15] ambuc commented on #3585
There's a symbol table PR out here: https://github.com/envoyproxy/envoy/pull/3927.

[2018-07-23 15:45] tak2siva opened #3928 "core.ConfigSource file Path is not working in kubernetes (symlink)"
I trying to source CDS, LDS, RDS from filesystem.

I have CDS,LDS,RDS configuration in Kubernetes by mounting `ConfigMap` as `volume`. So when ever I update the k8s `ConfigMap` of xDS its getting updated in the volume mount perfectly but **envoy watch is not able to detect the file change and reload it**. I'm guessing symlink & inotify isn't going well together.

Any workaround suggestions ?

[2018-07-23 16:20] alyssawilk commented on #3919
I find the behavior of tweaking headers in the StaticLookupTable vs not super confusing - I'm glad the assert caught the fact we were dropping headers on the floor and I'd like to see a better workaround than we have today.

addReferenceKey has never handled append if there's a preexisting key.  I considered fixing that when I fixed the other append functions to work better with inline headers (#3

[2018-07-23 17:57] rgs1 opened #3929 "subset load balancer scalability concerns"
Envoy is becoming unstable (throughput drops) due to CPU spikes (>40% usage) when using the subset LB under the following conditions:

* an upstream cluster with > 1k endpoints
* where each endpoint has 3 metadata keys
* and there's at least 6 subsets active at any time
* and healthchecks change state at a rate of ~40/sec, which happens during deploys or when the cluster is rapidly scaling up or d

[2018-07-23 18:01] mpuncel opened #3930 "Changing priority level of a locality causes requests to fail"
*Description*: Changing the priority level of one or more localities in EDS can cause requests to fail due to the fact that endpoint health checking is done per-priority (as was discussed previously in [#3327](https://github.com/envoyproxy/envoy/issues/3327). Essentially priority changes (e.g. swapping the priority of two localities) look to EDS code like endpoints being removed and added, and the

[2018-07-23 18:08] mattklein123 commented on #3929
cc @htuch @jmarantz also.

Yeah I think there are a variety of things that we can do here and I've been thinking about this off and on for a while.

One of the most obvious (and easy ones IMO) is the one you point out which is to coalesce HC changes. I would suggest that we add a new config option for a cluster which specifies the max HC enforcement delay (name pending). Then, when there is an HC

[2018-07-23 18:31] mpuncel opened #3932 "Envoy sometimes returns response body to HEAD requests"
*Description*:
RFC 7231 says that servers should not respond with a body to HEAD requests, but Envoy does

*Repro steps*:
`curl -XHEAD <envoy_url>` when it has no healthy upstreams, you'll see a `upstream connect error or disconnect/reset before headers` response body.

Note that using `--head` instead of `-XHEAD` in curl omits the response body but shows a `Excess found in a non pipelined read: e

[2018-07-23 18:35] rgs1 commented on #3929
@mattklein123 for coalescing HC changes, I am thinking we could merge the updates and deliver them at once as opposed to doing it sequentially. Maybe it could be configurable. Thoughts?

[2018-07-23 18:39] mattklein123 commented on #3929
Yes, sorry, I was assuming merge. In actuality, it would be harder and more costly to do sequentially :) (Since you would need to keep a list vs. just redo the healthy scan when the timer expires).

[2018-07-23 20:42] PiotrSikora commented on #3817
@julia-stripe did you start working on this, by any chance? If not, I'll work on it this week.

[2018-07-23 21:00] tedsuo commented on #3861
@cgilmour in the long run, it would be great to solve the plugin/driver packaging problem. Baking in tracers in doesn't really scale. (especially when tracers and envoys may want to version independently from each other).

There's no reason we can't deploy plugins as separate tiny images, and link them in, except currently there is no guidance from docker as to how to do it. IMHO, half the point o

[2018-07-23 21:04] julia-stripe commented on #3817
not yet! i don't think I'll get to it this week so that would be amazing.

[2018-07-23 23:42] PiotrSikora opened #3937 "Drop official support for CentOS build image"
There is no official build for CentOS provided by LLVM folks, so we're stuck on old / community-maintained version of LLVM/clang (currently using 5.0, when 6.0 has been out for 4+ months and 7.0 is around the corner), which blocks update of the Ubuntu build image.

This is suboptimal considering the fact that Envoy is using bleeding-edge features of the C++ language.

Also, it seems that we don't

[2018-07-23 23:48] ggreenway commented on #3937
Can you elaborate on what is being blocked by using the old clang on centos? I've seen various comments/questions about centos in envoy forums and issues, so I presume some people are using this build, so I'm hesitant to pull the plug on it.

[2018-07-23 23:52] zuercher commented on #3818
#3938 converts the TCP Proxy to use the connection pool.

[2018-07-24 00:00] PiotrSikora commented on #3937
1. We're hardcoding version number in a few scripts (`ci/build_setup.sh`, `tools/check_format.py`),
2. `clang-format-5.0` produces different output than `clang-format-6.0`.

Since we don't use CentOS build image anywhere on the official CI, those might be fine, but it's hard to tell if/when we break something, since it's unmaintained build image.

[2018-07-24 00:03] quanjielin opened #3939 "envoy google_grpc TLS seems not work"
*Description*:
envoy google_grpc TLS seems not work

*Repro steps*:
server is built on gRPC/go
client is envoy built on gRPC/c++

Our scenario is envoy(client based on gRPC/C++) needs to send Google credentials(some GKE token) to server(based on gRPC/go) through UDS(unix domain socket).

Below is from envoy(client) side config
[code]

server side error
[code]

server side error is thrown from
http

[2018-07-24 00:06] quanjielin commented on #3939
/cc @qiwzhang @lizan @menghanl @PiotrSikora @htuch @wattli @yihuazhang

[2018-07-24 00:10] lizan commented on #3939
@quanjielin can you attach your simple client 2.?

[2018-07-24 00:16] quanjielin commented on #3939
I built it locally;
client : https://github.com/istio/istio/blob/collab-gcp-identity/security/tools/sds/sds_cli.go
with code bring back from security/tools/sds/sds_cli.go in
https://github.com/istio/istio/pull/6990/files

[2018-07-24 01:44] htuch commented on #3939
@quanjielin can you run with these env vars set and get a trace `GRPC_TRACE=ssl,http GRPC_VERBOSITY=debug`? I think this will tell us what happens at the wire level.

[2018-07-24 01:46] htuch commented on #3937
I wonder if we can adopt a policy for build images that, like with extensions, they need an owner/sponsor to keep alive.

[2018-07-24 01:47] #1094 closed

[2018-07-24 01:52] quanjielin commented on #3939
@htuch I shared with you and @lizan my test env so that you could debug; I will pull the logs tomorrow after finishing something else.

[2018-07-24 02:12] htuch commented on #3939
@quanjielin FWIW, we have an integration test in Envoy for ADS + Google gRPC + TLS, see https://github.com/envoyproxy/envoy/blob/master/test/integration/ads_integration_test.cc#L258. So, we know that at least the basics of this work. What we're trying to do here is understand why it's not working in this particular setup.

[2018-07-24 02:52] quanjielin commented on #3939
@htuch thanks for the info, there maybe some env/setup issue, also gRPC/c++ -> gRPC/go may introduce some complexity.
1. from the server error, seems ClientPreface is missing from the connection; does envoy/grpc c++ set this value ?
[code]
btw I tried config like below(set alpn_protocols) still hit same error
[code]

2. I've set env variables in envoy container and attached logs; let me know if it

[2018-07-24 02:57] htuch commented on #3939
Not seeing the gRPC trace in the logs; I wonder if they are somewhere else, like `stderr`. BTW, I don't think we've ever validated Google gRPC with Unix Domain Sockets, so there could be some fun surprises there.

[2018-07-24 04:41] qiannawang opened #3940 "Support retry interval in the retry_policy"
Currently, the envoy retry policy [1] provides three following fields:

RetryPolicy {
  "retry_on": "...",
  "num_retries": "...",
  "per_try_timeout_ms" : "..."
}

The per_try_timeout_ms is for hanging TCP connections. If the upstream endpoint was not reachable in TCP, the request from envoy will immediately fail and retries will exhaust immediately, no matter what value we set to num_retries.

A

[2018-07-24 04:56] lizan commented on #3937
Is it possible to keep CentOS image but drop LLVM/Clang from it? It still can be used for building release/test binaries with GCC.

[2018-07-24 05:03] srikailash commented on #2139
@mattklein123, was busy over last weeks. Sorry for the delay. Yes, i still plan to finish this, there are some final checks left in my PR. Will reopen this week.

[2018-07-24 06:14] rgs1 commented on #3929
@mattklein123 something like https://github.com/envoyproxy/envoy/pull/3941 perhaps?

[2018-07-24 07:01] gtexbackend opened #3942 "support Zeroc ice"
I use zeroc ice as the rpc amount backend servers.

Does envoy support zeroc ice?

[2018-07-24 15:07] mattklein123 commented on #3942
No, not currently.

[2018-07-24 15:20] mattklein123 commented on #3940
Sorry I don't follow. Can you rephrase?

I think the issue here is that we don't allow config customization of the retry backoff base value. https://github.com/envoyproxy/envoy/blob/master/source/common/router/retry_state_impl.cc#L74

If this was configurable this would solve your problem, right? I'm pretty sure you still want to use exponential backoff though.

[2018-07-24 15:33] zyfjeff commented on #3932
I can start this one,  mainly for the `Utility::sendLocalReply` modification

[2018-07-24 16:15] frankh opened #3943 "Upstream request stats don't add up"
*Description*:

The cluster upstream request statistics broken down by http status code don't add up to the total.

when I go to `http://<envoy-admin>/admin/proxy/stats` I get:

[code]

Adding up rq_5xx, rq_4xx, rq_3xx, and rq_2xx gets me 11787, however rq_total is 12122.

There's no obvious stat for where the missing 335 have gone, the closest I can find is "upstream_cx_destroy_local_with_active_

[2018-07-24 16:33] #3717 closed

[2018-07-24 17:00] welsonplay opened #3944 "Remove path from URL using Envoy Proxy"
I am using the envoy as Front Proxy. And my site responds as follows:
http://my_site.com/MyService.

I would like to remove MyService from the url of my Front Proxy so that I can access the site without having to com /MyService, but my site needs this path.

Is there any way to access the site http://my_site.com/ and the request for the upstream to be sent with / MyService.

This is the configurat

[2018-07-24 17:01] #439 closed

[2018-07-24 17:08] quanjielin commented on #3939
repro in my local env, from logs looks like it's related to the cert; will dig into more

https://github.com/grpc/grpc/blob/master/src/core/lib/security/security_connector/security_connector.cc#L873

[code]

[2018-07-24 17:56] quanjielin commented on #3939
Server side could receive request through TLS after regenerating certs below, close this issue.

One remaining questions is how to generate cert in server in GKE env (dynamically DNS, IP, etc);
Anyway TLS is workaround, eventually we will get rid of certs after local_credentials is ready to use( @yihuazhang and @qiwzhang are working on)   /cc @wenchenglu

[code]

[2018-07-24 17:56] #3939 closed

[2018-07-24 18:48] PeterSulcs opened #3945 "Add comparison to Traefik in comparison section of docs"
**Issue Template**

*Compare to Traefik in docs*: *I went to the help docs [comparison to similar systems](https://www.envoyproxy.io/docs/envoy/v1.7.0/intro/comparison) section expecting to see a comparison to Traefik which seems like a potential alternative from my naive perspective*

*Description*:
It may be my misunderstanding but Envoy and Traefik seem to have similar goals. I think it would h

[2018-07-24 20:02] snowp commented on #3930
One idea would be to check in `onConfigUpdate` in eds for endpoints/localities that have moved between priorities. We could then leave the health flags unchanged for the moved localities (as opposed to reseting them to `FAILED_ACTIVE_HC`). There might be other systems that would benefit from knowing that hosts/localities have moved between priorities, but it seems like persisting the hc value woul

[2018-07-24 20:57] dio commented on #3932
I remember had some difficulties on making "expect true" for `request->complete()` (on test) to work for `HEAD` requests when the body is empty.

[2018-07-24 21:42] htuch commented on #3930
Yeah, this is not unreasonable to do in https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/upstream_impl.cc#L846. One thing I'd point out is the logic there, of what gets considered an in-place update and what is a remove/add, is getting really, really complicated. I'd love to see a principled approach to architect this cleanly. @mattklein123.

[2018-07-24 21:51] mpuncel commented on #3930
I think maintaining all of this state (health checks and connections) per locality instead of per priority and then maintaining a map from priority to locality for endpoint selection would make this a lot simpler. That should mean nothing ever needs to get moved. I suppose someone might want to "move" an endpoint from one locality to another, but that would seem like an odd modeling of localities

[2018-07-25 00:50] venilnoronha commented on #3819
@PiotrSikora that's next in the plan of action. Briefly, I wanted to start off one level higher to keep the PRs smaller.

[2018-07-25 03:22] #3718 closed

[2018-07-25 05:09] surki commented on #3555
Thanks.

@junr03 @mattklein123 I have rebased my changes on top of this: https://github.com/envoyproxy/envoy/compare/master...surki:ratelimit_headers

Can you please take a look at it? If this looks okay at high level, I can send a PR and we can discuss further there.

[2018-07-25 05:37] junr03 commented on #3555
@surki I would go ahead and open up a PR, it is easier to comment, even at a high level, once we have a PR up. Thanks!

[2018-07-25 08:00] tailhook commented on #3596
Wow! Bots are quite bold here :)

Using it as a chance to ask how it's going on? I think the feature is quite simple and should not add any substantial maintenance burden.

Let me know if I can help somehow.

[2018-07-25 11:13] tak2siva opened #3950 "Stats - upstream_rq_5xx don't add up with 2xx and rq_total"
Total

2xx

5xx

Retries

There are around 7k `5xx` and 0 `retries`.
So how come the `2xx` count is pretty much same as `rq_total` ??

Shouldn't it be like `rq_total` - `5xx` (i.e) 37k - 7k ~= 30k `2xx`  ?
How are those 7k `5xx` not subtracted in `2xx`

[Full Stats Link](https://gist.github.com/tak2siva/25a9bc1c0139a5220a82e663a6021224)

------------------------------------------------------------

[2018-07-25 12:54] htuch commented on #3596
@tailhook yeah, this actually seems quite reasonable to me. We (Google) have some use cases that would benefit from having prebound listener FDs passed. In our case, we want these to be delivered over UDS, but I think there could be common ground.

[2018-07-25 13:03] taion809 commented on #2812
I think this might be fine to close, I think the istio approach to this might be something we could look at mimicking.

[2018-07-25 13:11] surki commented on #3555
Sure, I will do a PR (fixing up test failures, not familiar with gmock etc, getting familiarized)

[2018-07-25 14:56] alyssawilk commented on #3714
I think this one was security related so I'm going to mark it help wanted as I don't think Josh will be able to pick it up before stalebot closes it down.

[2018-07-25 15:02] #2812 closed

[2018-07-25 15:23] zachgersh opened #3951 "dockerhub missing image tags"
Hey all,

I was just taking a look at the official dockerhub images hoping to see tagged releases (I only noticed release SHA tags).

I stumbled across this in the docs:

Wonder why we aren't tagging these images? It is a real pain to have to go figure out which SHA was 1.7.0 when I just want that specific release.

[2018-07-25 16:06] jmarantz commented on #3714
Sorry I completely missed this due to my vacation.

[2018-07-25 16:30] mattklein123 commented on #3951
We do tag releases, but the dockerhub UI only shows the most recent tags. This comes up quite a bit and I don't know any way to handle it better. Suggestions appreciated.

[2018-07-25 16:30] ggreenway commented on #2880
@brian-pane Is there still more work you'd like to do on this issue, or should we consider it fixed with #3505?

[2018-07-25 16:50] zachgersh commented on #3951
I was guessing this was probably going to be the issue - apologies for duplicate issue. Maybe we should add a permalink to each one of the release image tags in the readme? Or maybe just build only a nightly + the release version and not upload every successful SHA?

Thoughts?
On Jul 25, 2018, 9:30 AM -0700, Matt Klein <notifications@github.com>, wrote:

[2018-07-25 17:41] mattklein123 commented on #3951
Yeah, I think we should just perma link in the docs somewhere, agreed. @richarddli any chance of getting help w/ this?

[2018-07-25 17:47] mattklein123 commented on #3950
Hmm. This seems odd. Not sure off the top of my head but will take a look at the full stats dump later.

[2018-07-25 17:59] danielhochman commented on #3950
What revision of Envoy are you running @tak2siva?

[2018-07-25 18:04] brian-pane commented on #2880
There's still room for improvement in the HTTP/1 parser speed, but I don't think I'll have time to work on it in the near future. So I'm ok with closing this issue.

[2018-07-25 18:04] #2880 closed

[2018-07-25 18:59] qiwzhang opened #3953 "Crash at RDS onConfigUpdate"
*Description*:

Please see crash backtrace in https://github.com/istio/proxy/issues/1877

It crashed at this line: https://github.com/envoyproxy/envoy/blob/c92a3017017dfa31241dec13dc6a1479090318d0/source/common/router/rds_impl.cc#L100

factory_context_ is gone.  One possible cause is this RdsRouteConfigProvider is created by one ListenerImpl which is stored as factory_context_ in the provider.  Bu

[2018-07-25 23:58] daurnimator commented on #3469
ping.

[2018-07-26 01:14] lizan commented on #3953
#3955 reproduces this consistently, I'm working on a fix.

[2018-07-26 03:31] PiotrSikora commented on #3953
Thanks to @qiwzhang's test (#3955) and some bisecting, I can confirm that the regression was introduced in #3691 (commit https://github.com/envoyproxy/envoy/commit/a22d96046d5292d99bd7f3c4ccce5f05fb52ffc7).

I pushed a workaround in https://github.com/envoyproxy/envoy/pull/3957 (including a minimal reproducible test with some comments, based on #3955), but it doesn't fix the underlying issue of `f

[2018-07-26 03:48] snowp opened #3958 "Smarter retry behavior/cross priority retries"
We're interested in having Envoy perform smarter retry behavior, where subsequent requests are sent to different hosts than the original request. More specifically, we'd be interested in having requests that route to priority P attempt to send retires to priority P' != P **even in the case where the first priority is completely healthy**, but fall back to the original priority if no healthy altern

[2018-07-26 06:08] #909 closed

[2018-07-26 06:30] xiaoma2100 commented on #3652
got this error too

[2018-07-26 06:32] snowp commented on #3958
A variant of the third option would be to use `RetryState` for this purpose instead of introducing a new type. It seems doable to pass it additional data to `shouldRetry` and provide hooks to mutate the the LoadBalancerContext values of the Router, allowing it to change the parameters used to select the next connection.

[2018-07-26 12:58] ramaraochavali commented on #3920
Relevant discussion [here](https://groups.google.com/forum/#!topic/envoy-users/_BFzuW_M380)

[2018-07-26 16:53] zanes2016 opened #3961 "ADS Manager: upstream connect error or disconnect/reset before headers"
**Issue**

*ADS Management Server*: *upstream connect error or disconnect/reset before headers*

*Description*:

*Logs*:
*ADS GODEBUG: http2debug=2 Logs*
[code]
*Envoy Proxy Logs*
[code]
*Envoy Proxy GRPC Debug Logs*
[code]

[2018-07-26 17:02] #3361 closed

[2018-07-26 17:04] ggreenway commented on #3937
I would lean towards option (2). We already use different versions of gcc between different platforms, so it doesn't seem like different versions of clang should be more of a problem.

[2018-07-26 20:02] #2342 closed

[2018-07-26 20:39] derekargueta commented on #3953
Thanks for your work on this! We started experiencing the same issue.

[2018-07-26 21:02] #1680 closed

[2018-07-26 21:15] lizan commented on #3937
different versions of clang would cause:
- clang-format output is slightly different between versions, we can make clang-6 canonical and enforce them in CI.
- sanitizers behaves differently on (likely) false positives/negatives, they need to be handled correctly in tests (e.g. tag no_asan, no_tsan).

I'm leaning towards (3) and leave CentOS build/test with GCC as best-effort.

[2018-07-26 21:30] #3835 closed

[2018-07-26 22:00] mattklein123 commented on #3958
Note this is related to https://github.com/envoyproxy/envoy/issues/2259. @snowp will read/respond to the full proposal in the next few days.

[2018-07-26 22:39] cricket007 commented on #1107
Just going to put this here for anyone interested - https://expediadotcom.github.io/haystack/

[2018-07-26 22:53] zanes2016 commented on #3961
Was able to fix the issue. It seems to have been a problem with the configuration but i'm not sure what exactly was needed. I believe it had to do with how `lb_policy` and/or `http2_protocol_options` were defined.

*Original (not working)*
[code]
*"Correct" (working)*
[code]

[2018-07-26 22:53] #3961 closed

[2018-07-27 02:21] jmarantz opened #3965 "Add capability to skip stat-name truncation for not-hot-restart case"
*Description*:

[2018-07-27 03:49] #3953 closed

[2018-07-27 05:49] snowp opened #3966 "Inserting downstream trailers when upstream has no trailers"
I was playing around with a filter that bridge grpc -> http/1.1 (opposite direction to the bridge that already exists in envoy) and I couldn't figure out how to insert trailers into a downstream h/2 response when the upstream response is h/1.1. It seems like the `encodeTrailers` cb is not invoked (presumably because the h/1.1 response doesn't have any trailers).

Hopefully I'm missing something an

[2018-07-27 12:08] winguse opened #3969 "ADS problem: Envoy ignore newly delivered CDS response in LDS response"
Envoy version: v1.6.0

We have a ADS service running, but unfortunately it down in an incident. And we find an issues of newly startup Envoy connect to ADS when it's back.

1. ADS is down
2. start a new Envoy and it's trying to connect to ADS
3. ADS get back

Here is the Sequence Diagram of what will happen:

<img width="385" alt="screen shot 2018-07-27 at 7 58 54 pm" src="https://user-images.gith

[2018-07-27 12:15] winguse commented on #3969
v1.7.0 looks somehow fixed this. it will not request LDS right after ADS start

[2018-07-27 13:21] ambuc commented on #3965
@htuch You can assign this to me.

[2018-07-27 14:50] welsonplay commented on #3944
Anyone have an idea to solve my problem?

[2018-07-27 15:46] mattklein123 commented on #3969
yeah I think something was fixed here WRT to pausing ADS fetches. If the issue is resolved can you close?

[2018-07-27 15:51] mattklein123 commented on #3966
Unfortunately I don't think this is possible today. Have a look how `addEncodedData()` is implemented. We would want to add something similar along the lines of `addEncodedTrailers()`. I don't think it would be that hard to implement.

[2018-07-27 17:39] #3815 closed

[2018-07-27 18:03] ggreenway commented on #3937
I agree we need to define a specific version of clang-format that we format with, and possibly check_format won't work on CentOS.

For the actual build, I think I'm just arguing for not removing the existing tooling around CentOS. We don't run that build in CI anyways, so it's not officially supported in the same sense. I think various people/groups/companies already compile envoy for different li

[2018-07-27 18:34] curiouserrandy opened #3971 "User defined header interpolation inconsistent around empty values"
*Title*:  User defined header interpolation inconsistent around empty values

*Description*:
Envoy's mechanism for configuration specified user-defined headers (https://www.envoyproxy.io/docs/envoy/latest/configuration/http_conn_man/headers#config-http-conn-man-headers-custom-request-headers) is inconsistent in the case of variables that may or may not have a value.  This is specifically an issue

[2018-07-27 20:45] #3944 closed

[2018-07-28 00:38] welsonplay opened #3977 "Envoy reverse proxy (Proxy Front) + URL rewrite"
Envoy is running on port 80, and I'm using it to reverse proxy (Front Proxy) URLs with path /foo to port 3200 this way:
[code]

This works fine, but I have an application on port 3200, for which I don't want the initial /foo to be sent to. That is - when I access http://localhost/foo/bar, I want only /bar to be the path as received by the app.

In Nginx I need to do only this configuration:
[code]

[2018-07-28 07:40] xiaoma2100 commented on #3925
I solved this issue, it is because proxy issue.
closed.

[2018-07-28 07:40] #3925 closed

[2018-07-28 11:18] zyfjeff commented on #3932
@dio code implementation and integration testing can be submitted separately?

[2018-07-28 11:33] dio commented on #3932
@zyfjeff as long as the introduced changes don't break the integration tests, probably that is fine.

[2018-07-28 11:36] zyfjeff commented on #3932
@dio  thanks, I'm going to make a pr

[2018-07-29 07:54] winguse commented on #3969
detail tested v1.7.0, looks good.

But looking at this sequence:

<img width="328" alt="screen shot 2018-07-29 at 3 50 58 pm" src="https://user-images.githubusercontent.com/1443504/43364147-50bee06e-9347-11e8-8c4b-46784655b665.png">

Envoy is requesting for new xDS before acking the old response. I am wondering if it's better to ack the old response before requesting for new xDS.

Feel free to clo

[2018-07-30 01:44] zyfjeff commented on #3525
@mattklein123  Someone to do it?If not I'd be glad to

[2018-07-30 04:22] mattklein123 commented on #3525
Sure @zyfjeff feel free to work on it.

[2018-07-30 04:54] ungureanuvladvictor commented on #3352
@mattklein123 is still something you are looking to track long term?

[2018-07-30 05:01] mattklein123 commented on #3352
@ungureanuvladvictor this was already implemented in https://github.com/envoyproxy/envoy/pull/3668

[2018-07-30 05:06] ungureanuvladvictor commented on #3352
Oh, missed that one. Will take a look at it.

[2018-07-30 05:38] dio commented on #3732
I want to clarify this a little bit.

Is the value of `X-Forwarded-Port` the same as the port value of the selected upstream host (that serves the service)?

Or it is per definition like on AWS?

https://docs.aws.amazon.com/elasticloadbalancing/latest/classic/x-forwarded-headers.html#x-forwarded-port

Thanks!

[2018-07-30 07:04] vgomprakash commented on #3908
@psrin7 ,

  can you refer this config and try. And hook this to a service which has /health URI

node:
  id: nodexxx
  cluster: dc1
admin:
  access_log_path: /tmp/admin_access.log
  address:
    socket_address: { address: 0.0.0.0, port_value: 8001 }

static_resources:
  listeners:
  - name: listener_0
    address:
      socket_address: { address: 0.0.0.0, port_value: 8005 }
    filter_chains:

[2018-07-30 12:50] ramaraochavali opened #3987 "Envoy crashes if CDS response has two clusters with the same name"
When Envoy has initialized it self with a set of clusters, if a CDS update comes that has two clusters with the same name, it crashes. If the duplicate comes in the as part of the initial CDS response, it works correctly.

It crashes at this [line](https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/cluster_manager_impl.cc#L367)
[code]
It passes through if the condition because

[2018-07-30 15:14] htuch commented on #3969
Which specific ack/response seems problematic here @winguse? In general, Envoy is pretty async when it comes to issuing requests to avoid head-of-line blocking and simplify cross-module coordination.

I think for CDS/EDS and LDS/RDS, we could within each of these pairs have Envoy issue something like the CDS ack before the EDS request, but I think any management solution that is depending on this

[2018-07-30 16:16] mattklein123 commented on #3987
IMO we should check this at the config update layer. I think duplicate clusters/resources is a management server bug and we should catch it and probably fail the update. (I suppose we could also do something like last wins as you propose, but IMO that is pretty confusing and we should inform the management server it has a bug w/ a failed update).

[2018-07-30 16:18] mattklein123 commented on #3732
@dio yeah we want the listener/client port, similar to x-forwarded-for, x-forwarded-proto, etc. The thing we need to decide is whether this header is turned on via config option. I would say yes, because many/most deployments don't care about this and I would argue that users shouldn't have to pay for the extra header if they don't want it.

[2018-07-30 19:05] mattklein123 commented on #3958
@snowp just catching up here. IMO we should probably do the "fully configurable retry routing" option with some built-in options such as "don't route to to the same host," "don't route to same priority," etc. I think this could be built very cleanly into the existing retry/router implementation and would be very flexible. WDYT? Basically, I would like to solve #2259 while also allowing folks to do

[2018-07-30 19:38] mattklein123 commented on #3919
+1 it would be great to continue to clean this up.

Sorry can you rephrase? Didn't fully grok.

[2018-07-30 19:45] snowp commented on #3958
Yeah that sounds reasonable to me. It would definitely satisfy our needs and seems generic enough that I'm sure others will find it useful.

Happy to work on this. Would it be natural to use the subset lb to implement this behavior? e.g. generate one subset per priority and when a request fails going to P0, we set metadata_match to `priority = [P1, P2, ...]` (using https://github.com/envoyproxy/en

[2018-07-30 19:53] mattklein123 commented on #3958
Yeah I'm a little concerned about using the subset LB for this, at least in all cases. Or do you mean just for your plugin? The way I originally envisioned the "don't use the same host again for retry" behavior was to just pass the previous tried hosts as part of the LB context, and let the LB figure it out. So, potentially, should this plugin mechanism actually be a plugin that operates from with

[2018-07-30 20:33] mattklein123 commented on #3958
TBH I'm not sure of the best solution here without putting some dedicated thought time into it. There is going to be a tradeoff between flexibility and performance. For example, I could imagine a plugin that does something like:
1) Some method that optionally pre-filters the hosts/priorities to LB on, given the LB context with list of previously tried hosts.
2) Some method that optionally post-fil

[2018-07-30 20:44] snowp commented on #3958
That sounds reasonable. At least for priorities I think it would have to be a pre-filter simply due to how priorities work: if you're trying to avoid P0 but P0 is healthy you'll always hit P0, so trying again won't help.

I'll spend some time playing around with it and report back when I got a better sense of how this would work. Thanks for all the ideas!

[2018-07-30 22:13] scaldwell-atlassian opened #3990 "Envoy crashing with NOT_REACHED_GCOVR_EXCL_LINE when loading YAML config using --config-yaml"
**Bug Template**

*Title*: *One line description*

*Description*:

When using —config-yaml <filename>, we encounter a panic in json_loader.cc at line 315 (NOT_REACHED_GCOVR_EXCL_LINE), which is defined as a panic.  This panic is defined in assert.h at line 60 as an outcome we should never see unless code execution either (a) follows an unexpected path or (b) a “horrendous” bug exists.

the YAML fi

[2018-07-31 00:39] thiagocaiubi opened #3992 "Panic with HTTP external authorization"
**Bug Template**

*Title*: *Panic with HTTP external authorization*

*Description*:

[code]
*Repro steps*:

*Config*:

*Logs*:

[code]

[code]

[2018-07-31 00:43] yangminzhu opened #3993 "Add a RBAC TCP filter"
*Title*: Add a RBAC TCP filter

*Description*:
Add a RBAC (Role-Based-Access-Control) TCP filter. This is needed to support authorization for non-HTTP protocol.

*Relevant Links*:
The RBAC HTTP filter is added in #3455

some open questions:
We could either add a new config proto for the TCP filter that includes fields only available in TCP or just reuse the existing [config proto](https://github.c

[2018-07-31 00:56] lizan commented on #3993
+1 to reuse existing [config proto](https://github.com/envoyproxy/envoy/blob/028387a3b0746deaf011ea50104692dfbb8b8d2f/api/envoy/config/rbac/v2alpha/rbac.proto#L48), which is designed to be generic IIRC (so it wasn't scoped in http package). Of course some of its field (e.g. header matcher) won't be supported in TCP.

[2018-07-31 02:41] mattklein123 commented on #3990
@scaldwell-atlassian have you tried reproing this on master? If it still repros can you provide the config that causes the crash?

[2018-07-31 02:42] mattklein123 commented on #3992
@gsagula

[2018-07-31 02:43] mattklein123 commented on #3993
+1 to reuse and we can make the HTTP specific things empty. We do this elsewhere in cases like access logging and a few other places.

[2018-07-31 02:48] swift1911 commented on #1947
Is the plan to enable export of histograms as well as summaries?

[2018-07-31 03:29] dio commented on #3992
This is interesting.

@thiagocaiubi, it seems you wanted to put the extension (`envoy.ext_authz`) config under the `http_filters` instead of `filter_chains.filters`

i.e. we need move the config stanza under the `http_filters`.

[code]

[2018-07-31 03:51] ramaraochavali commented on #3987
@mattklein123 I agree that it would be confusing to silently make the last one win. However, since we already do that in the initial update (we just overwrite the latest cluster in the initial response), if we introduce this validation and fail (Which may be the right thing to do), may break some management server implementations. This upgrade may be unsafe to such folks with out changing their ma

[2018-07-31 05:11] snowp opened #3994 "Add `prepend` member functions to Buffer::Instance"
It would be nice to have wrappers around `evbuffer_prepend` and `evbuffer_prepend_buffer` in order to simplify prepending data to a buffer. I would image it would match the signature of the existing methods, so something like

[code]

where the last function drains the provided buffer.

[2018-07-31 06:37] vvinod1310 opened #3996 "Kubernetes service account authentication - Token expired error"
*Title*: *Kubernetes service account authentication*

*Description*:

Kubernetes service account tokens are non-expiring tokens and don't have an expiry field defined and this defaults to 0 while parsing the JWT token. However the following piece of code while validating the token throws an error with JwtExpired status.

https://github.com/envoyproxy/envoy/blob/cc4845b01f71f3e12b359d1ce099a22d4fe6

[2018-07-31 06:40] lizan opened #3997 "IpVersions/EchoIntegrationTest.AddRemoveListener/IPv6 is flaky"
*Description*:
on master 028387a3b0746deaf011ea50104692dfbb8b8d2f run:
`bazel test --runs_per_test=100 //test/integration:echo_integration_test`

will result 2 runs out of 100 `TIMEOUT`, with `"-l trace"` got 8 out of 100.

[2018-07-31 06:48] sahanaha commented on #2436
Hi Team,

Is there any update on my requirement question which I posted above ?

[2018-07-31 09:58] yun1129 opened #3998 "Feature Request: support Dubbo RPC protocol"
Dubbo community decided to make contribution to Envoy by adding Dubbo RPC protocol support. Open this issue for tracking the work.

A draft design document is available at below link. https://docs.google.com/document/d/1A8xXqWJ0kIMmPNBKiGjLBTN-4FLarxMiyylYv8Dwpe8/edit?usp=sharing

Thanks for your review and comments.

[2018-07-31 11:11] thiagocaiubi commented on #3992
@mattklein123  @dio @gsagula totally missed that point! 🤦‍♂️  Sorry for bothering and thank you for the quick heads up!

I've subscribed to https://github.com/envoyproxy/envoy/pull/3888 as well.

Thanks for envoy btw!

[2018-07-31 11:11] #3992 closed

[2018-07-31 12:50] winguse commented on #3969
sounds reasonable. closing this issue.

Thanks!

[2018-07-31 12:50] #3969 closed

[2018-07-31 13:18] liminw commented on #3993
+1 to reuse. The [rbac proto](https://github.com/envoyproxy/envoy/blob/028387a3b0746deaf011ea50104692dfbb8b8d2f/api/envoy/config/rbac/v2alpha/rbac.proto#L48) is designed to be generic. Also the [rbac engine implementation](https://github.com/envoyproxy/envoy/tree/master/source/extensions/filters/common/rbac) is designed to be shared for different filter implementations.

[2018-07-31 15:59] qiwzhang commented on #3996
@vvinod1310 Yes,  we can change the code as you described.   Please file a PR for it. Thanks

[2018-07-31 16:00] mattklein123 commented on #3998
Thanks @yun1129. Assigning to myself to review the proposal. @zuercher if you feel like also taking a look that would be cool since I suspect there is going to be some overlap with Thrift.

[2018-07-31 16:17] mattklein123 commented on #3997
I've seen this also on my own machine.

[2018-07-31 16:18] mattklein123 commented on #3994
Sounds reasonable.

[2018-07-31 16:25] htuch commented on #3987
Yeah, I think fail early and reject for duplicate resources in xDS makes sense. I think we're not going to be bug-for-bug compatible with past behavior and the last-wins in initial update was not documented behavior, so anyone relying on it did so at their own risk.

[2018-07-31 16:55] mattklein123 commented on #373
@eziskind I add stats/docs open items to the issue description for tracking.

[2018-07-31 16:57] ggreenway commented on #3994
I've had to work around this a couple times (create new buffer, add "prepend" data, append all data from other buffer). I'm in favor of this also.

[2018-07-31 20:42] jmin911 commented on #3415
This is useful.

[2018-07-31 21:06] clnperez commented on #1861
@moderation it turns out this was what i needed: https://github.com/bazelbuild/bazel-gazelle/pull/242

[2018-07-31 22:31] ZackButcher commented on #1285
Should we update the comment in the API about this issue given it's been closed?

https://github.com/envoyproxy/envoy/blob/6a8b843840687c24109b5a0dddf50868f9355e65/api/envoy/api/v2/endpoint/endpoint.proto#L109-L114

[2018-07-31 22:44] htuch commented on #1285
Agree, PRs welcome :)

[2018-07-31 22:49] ZackButcher commented on #1285
The resolution is not clear to me from this issue given it was closed with no changes. Based on current LB impl, the limit of 128 sticks around due to perf concerns and the reference to this issue should be removed, or have the underlying perf concerns been addressed?

[2018-07-31 22:57] moderation commented on #1861
@clnperez this is similar to this patch that enabled the arm64 build - https://github.com/lubinsz/rules_go/commit/497b48893fb04f195dfa8d81ec4201265e91d0d0#diff-b88d1275b3ee8565f7821ba59b402139. Thanks @lubinsz. It would be good to go back and have these changes included upstream.

[2018-07-31 23:00] snowp commented on #3958
After looking at the code for a while it’s clear that 1) priorities need to be filtered *before* we attempt to select a host and that 2) filtering individual hosts before selection is hard because they’re buried into `EdfScheduler`s. As such I propose that we add the ability to filter out hosts during host selection (allowing filtering both before and after host selection) and wire up the router t

[2018-07-31 23:18] llchan opened #4005 "Support Unix Domain Socket Mode Configuration"
It would be useful to be able to specify the mode of a listening unix domain socket.

I think this requires two changes:
1. Add a mode field to the `envoy.api.v2.core.Pipe` proto.
2. Create the socket with the specified mode in address_impl.cc. I think this can be done via fchmod before the bind, but this may not be totally portable.

[2018-07-31 23:38] mattklein123 commented on #1285
There aren't any perf concerns anymore w/ weighting for both RR and LR. Both have been fixed. I don't recall exactly how Maglev works. TBH I would probably just update the comment to remove the attention link until if/when someone complains that the weight max needs to be larger than 128.

[2018-07-31 23:44] mattklein123 commented on #4005
@ggreenway thoughts here?

[2018-08-01 00:27] linux-china opened #4008 "Lua global variable between Envoy threads"
I have following envoy configuration with Lua code:
[code]

I execute following command to mark Envoy not available:
[code]

Then I execute following command to check status:
[code]

A confused question here, sometimes I got 200, and sometimes I got 503.

I wonder Lua global variable bounded to Envoy thread or not?  can we make it shared between Envoy threads.   Thanks.

[2018-08-01 01:42] ggreenway commented on #4005
I agree that it would be useful. It also makes sense to be able to set the group of the socket-file.

This only applies to listeners, so I don't know that attaching it to core.Pipe is the right place, because that is used for both listen and connect. On the other hand, there isn't a good place to put that config, so maybe we could add it to core.Pipe and document that these fields are only used in

[2018-08-01 05:56] #3709 closed

[2018-08-01 06:47] zfdu opened #4011 "problem about Compiling envoy by bazel"
**Issue Template**

*Title*: *error about compiling envoy by bazel*

*Description*:

Error: failed to load skylark extension ‘//bazel:repositories.bzl’.

anybody know what is the reason why this load error happened?
please help me !!

[optional *Relevant Links*:]

**Bug Template**

*Title*: *One line description*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn

[2018-08-01 06:56] #3628 closed

[2018-08-01 08:56] #3575 closed

[2018-08-01 10:56] #3374 closed

[2018-08-01 11:56] #3016 closed

[2018-08-01 12:17] ramaraochavali commented on #3987
@mattklein123 @htuch I submitted the PR for CDS. I think LDS also has the same issue. Will fix it once CDS is merged. I could not think of any other xDS having this problem - I may be wrong. Let me know, I will check.

[2018-08-01 13:26] agile6v commented on #2247
Hello

@9len @mattklein123 @zuercher

I want to know what features `thrift` will support in enovy？

E.g. "Circuit Breaker"、"Fault Injection"、"Dynamic Router"、"Request Mirror"、"Rate Limiting" etc

Regards.

[2018-08-01 13:56] alanconway commented on #3415
Not forgotten, but on hold, I'm in the process of presentations &
discussions with other interested parties to gather feedback before taking
it further, but it is still a going concern. I'm always interested in
feedback from the envoy perspective.

On Tue, Jul 31, 2018 at 4:42 PM, Jim Min <notifications@github.com> wrote:

[2018-08-01 13:56] #2721 closed

[2018-08-01 14:31] julia-stripe commented on #4011
We're running into the same issue. This is caused by this commit: https://github.com/envoyproxy/envoy/commit/e89c9d6f23371971120e4c91119cdafe65d3a8df -- before that commit, Envoy built correctly with Bazel. That commit introduces an invalid `repositories.bzl` file.

Here are steps to reproduce + the output I see on my laptop.

[code]

[2018-08-01 14:38] dio commented on #4011
@julia-stripe do you think upgrading bazel to >= 0.13 will fix that?

Since https://blog.bazel.build/2018/05/02/bazel-0.13.html has `setup_vc_env_vars`.

[2018-08-01 15:56] #3720 closed

[2018-08-01 16:10] #3680 closed

[2018-08-01 16:13] mattklein123 opened #4018 "Consider turning on cluster update merging by default"
See https://github.com/envoyproxy/envoy/pull/3941

I would suggest we wait at least one release until we get some bake time on this, then maybe make it default to 1s or something?

cc @rgs1

[2018-08-01 16:17] mattklein123 commented on #4008
Lua state is per worker and it will be non-trivial/impossible to share it between threads. I've thought about this before, and I think the way to accomplish global storage for Lua is to provide a Lua API that wraps a metadata/table that calls into C++ code with proper locking to set/get items in a global table. This isn't perfect but would potentially work for some use cases. If this sounds intere

[2018-08-01 16:27] julia-stripe commented on #4011
@dio I imagine that'll fix it. Thanks!

[2018-08-01 16:45] linux-china commented on #4008
@mattklein123   a global table to accomplish global storage  is a good decision for Lua, and it's very useful for some use cases, and you know Lua is a good glue language to implement some features. thanks for your reply.

[2018-08-01 16:52] rgs1 commented on #4018
Yeah, sounds good once we've gained more confidence. I think subsecond updates are probably rarely needed so 1s default sounds reasonable.

[2018-08-01 17:56] #2718 closed

[2018-08-01 18:09] cmluciano commented on #3874
/assign if someone is already working on this

[2018-08-01 18:39] psrin7 commented on #3908
@vgomprakash - Thanks for you inputs. The above configuration works. The caveat is that the type (cluster.discoverytype) is STATIC and you need to provide an IP address. But, I have a need to use DNS. Since, I am using DNS for the hosts address, I have useSTRICT_DNS or LOGICAL_DNS. When I change the type to STRICT_DNS, the active health checking is working. But, it isn't working with  LOGICAL_DNS

[2018-08-01 18:56] #3617 closed

[2018-08-01 19:58] mhoran commented on #129
@mattklein123 should we keep this issue open to track porting efforts? If so, is there an appropriate tag?

Maybe simply commenting is sufficient...

[2018-08-01 20:03] mattklein123 commented on #129
@mhoran yeah if you could update w/ current status that would be cool.

[2018-08-01 20:19] mhoran commented on #129
Preliminary Bazel build support for Windows has been [merged](https://github.com/envoyproxy/envoy/commit/e89c9d6f23371971120e4c91119cdafe65d3a8df) into Envoy master. We're currently working to get [lyft/protoc-gen-validate](https://github.com/lyft/protoc-gen-validate/) working on Windows, which is a [blocker](https://github.com/envoyproxy/envoy/pull/3786#issuecomment-405660788) to Envoy support fo

[2018-08-01 20:29] #2507 closed

[2018-08-01 20:32] mattklein123 commented on #210
I'm closing this out. We can open individual issues for perf things that come up on traces.

[2018-08-01 20:32] #210 closed

[2018-08-01 20:33] mattklein123 commented on #232
Going to go ahead and close this as I don't think it's a priority anymore. We can revisit if it comes up again.

[2018-08-01 20:33] #232 closed

[2018-08-01 20:34] mattklein123 commented on #508
Calling this complete. We can open individual issues on fuzzing tasks.

[2018-08-01 20:34] #508 closed

[2018-08-01 21:25] nzoschke opened #4023 "RateLimit: Add ability to configure denying traffic if rate limit service is failing"
*Title*: Add an option to the rate limit filter config to deny traffic on rate limit RPC service failures

*Description*:
Currently if external rate limit requests fail, requests continue through the filter chain. This "fail open" design is a reasonable default so APIs remain available during rate limit service maintenance or failures.

However for a very sensitive data service, we'd prefer to "fa

[2018-08-01 21:25] mattklein123 commented on #3958
@snowp in general I think this sounds great to me. For the retry policy, we might want to also allow specifying at the virtual host level? Also, I'm thinking that we can include one or more more built-in policies to solve the "don't retry same host" open issues.

@envoyproxy/maintainers any thoughts on this? @alyssawilk specifically would love your feedback.

[2018-08-01 21:29] #2294 closed

[2018-08-01 22:59] linux-china opened #4027 "Lua: global table to store state between threads"
*Description*:
Lua state is per worker and it will be non-trivial/impossible to share it between threads.  A global storage for Lua is to provide a Lua API that wraps a metadata/table that calls into C++ code with proper locking to set/get items in a global table.  All Lua code can access global table and share state in different Envoy Lua filters.

The original request is from #4008

[2018-08-01 23:29] #1897 closed

[2018-08-02 01:29] #1533 closed

[2018-08-02 02:29] #1534 closed

[2018-08-02 03:00] zuercher commented on #2247
Dynamic Router meaning routing based on request properties? Yes. A trivial version is currently checked in.

Circuit breaking and rate limiting are on my roadmap, but I don't have a timeline.

Fault Injection will require a custom filter. I don't have that on my roadmap, but it should be possible. Request mirroring also isn't on my roadmap, but it is also a feasible feature.

[2018-08-02 03:03] dio commented on #3971
@curiouserrandy from a comment here: https://github.com/envoyproxy/envoy/pull/4016#issuecomment-409755614 it seems the current behaviour for processing a compound header when it gives empty string is OK for now. How do you think we will proceed with this "inconsistency"?

[2018-08-02 03:29] #1000 closed

[2018-08-02 04:29] #1829 closed

[2018-08-02 05:29] #710 closed

[2018-08-02 06:29] #593 closed

[2018-08-02 07:29] #567 closed

[2018-08-02 08:29] #245 closed

[2018-08-02 08:44] ronenschafferibm commented on #3875
I managed to build envoy-filter-example by following these steps:

1. Update envoy submodule as done in the [README](https://github.com/envoyproxy/envoy-filter-example/blob/master/README.md)
[code]

2. Replace line 5 in [`envoy-filter-example/envoy/ci/run_envoy_docker.sh`](https://github.com/envoyproxy/envoy/blob/5ec8b37da9de5893c04f75bbf2820014c62ea529/ci/run_envoy_docker.sh#L5):
[code]
with:
[co

[2018-08-02 09:29] #242 closed

[2018-08-02 10:29] #2171 closed

[2018-08-02 12:57] agile6v commented on #2247
Great job. We are all looking forward to these features.

[2018-08-02 14:37] dnoe opened #4031 "tcp_proxy_integration test is flakey"
*Title*: tcp_proxy_integration_test flakes at 1% rate.

*Description*:

The tcp_proxy_integration_test flakes at a low rate. With --runs_per_test=1000, I see 10 identical failures. All are a test failure where a different event from the expected half close event is received, followed by an assertion failure.

test/integration/tcp_proxy_integration_test.cc:137: Failure
Value of: fake_upstream_conne

[2018-08-02 14:40] dnoe commented on #4031
This assertion is newly added by @mkbehr . But I think it was failing at a similar rate before, probably because of the same problem, and hopefully the changes provide the additional info necessary to debug.

[2018-08-02 14:52] dnoe commented on #4031
If a Googler ends up investigating this in the future, please reach out to me. I have the log link from an internal repro of this flake.

[2018-08-02 14:59] curiouserrandy commented on #3971
So if we wanted to fix this, I'd vote in favor of allowing empty header values rather than nuking the header if the value was empty.  But just explicitly documenting the current behavior is also fine by me--I was mostly filing this to call out a possible trip hazard in the API.

[2018-08-02 16:03] mattklein123 commented on #2654
I believe this was fixed by @derekargueta

[2018-08-02 16:03] #2654 closed

[2018-08-02 16:04] mattklein123 commented on #2184
I think this is done.

[2018-08-02 16:04] #2184 closed

[2018-08-02 16:22] ggreenway opened #4033 "bazel: ci uses deprecated '--batch' cli option"
From a recent build I ran:

`WARNING: --batch mode is deprecated. Please instead explicitly shut down your Bazel server using the command "bazel shutdown".`

[2018-08-02 16:55] #3987 closed

[2018-08-02 16:59] mattklein123 commented on #3971
@curiouserrandy yeah IMO we should do a doc PR. WDYT?

[2018-08-02 17:01] curiouserrandy commented on #3971
Sure, that sounds good.  @dio, willing to take a swing at that?

[2018-08-02 17:46] dio commented on #3971
@curiouserrandy sure. Let me have that. Thanks!

[2018-08-02 19:11] vishalpowar opened #4036 "Endpoint granularity load stats in LRS"
*Title*: Add capability for reporting upstream stats per endpoint (backend) from Envoy.

*Description*:
The upstream load stats from Envoy are aggregated per locality. Global Load balancing using central control plane could provide better balancing with per endpoint stats information.

As the use-case here is for providing better balancing, the per endpoint load report might not be necessary for a

[2018-08-03 14:43] llchan commented on #4005
Since the listener configs take in a oneof, we could potentially introduce a new `ListeningPipe` proto or something. That way we retain backwards compatibility with existing configs using `Pipe` (possibly deprecating it for a later removal), and the new type is listener-specific and can add stuff like mode/group/etc.

Not sure if it's worth the extra noise though.

[2018-08-03 15:45] mattklein123 commented on #4005
@llchan I would be fine with either option. Agreed the oneof is probably cleaner. You could even include Pipe inside the ListeningPipe such that ListeningPipe only has the extra options.

[2018-08-03 15:48] #1833 closed

[2018-08-03 17:54] vishalpowar commented on #4036
Added design proposal.

[2018-08-03 18:09] mattklein123 commented on #3998
@yun1129 doc looks great. Very excited to help with reviews for this!

[2018-08-03 18:34] zanes2016 opened #4045 "HTTP Proxy Hangs: HTTP Connection Management Configuration"
*Title*: *Envoy is not proxying HTTP requests based on the domain. Curl cmd hang indefinitely*

*Description*:

I should also note that for each "cluster", I have a TCP Listener and the HTTP Manager pointing to them.

Any suggestions?

*Terminal*
[code]

*Envoy trace Logs*
[code]

*Envoy /config_dump summary*
[code]

[2018-08-03 20:48] charliezgc opened #4048 "Expose retries with trace tags and extra response info/logs"
**Issue Template**

*Title*: Is there a way to know retries have occurred in an egress HTTP request?

*Description*:

[2018-08-03 21:36] zanes2016 commented on #4045
The issue was that the `http_filters` was not set in the http_connection_manager configuration:
[code]

Thus, the envoy proxy seems to just hang on a connection (or is waiting for an ADS update - it's not exactly clear). It would be good to update the documentation to state that at least one http_filter is required.

The correct configuration:
[code]

[2018-08-03 21:36] #4045 closed

[2018-08-04 00:41] mattklein123 opened #4052 "Make official process for doing point releases"
1) Branch procedure
2) Make sure CI runs on branch
3) Make sure when branch is tagged, docker images, etc. get pushed.

[2018-08-04 01:17] PiotrSikora opened #4053 "Unknown fields in the configuration and new features policy"
Starting with #3778, Envoy ignores unknown fields in the configuration. This is enabled by default and without the ability to turn it off, which already lead to invalid configuration sneaking into tests (see: #4051).

Presumably, the reasoning behind that change was for proxies to be able to accept configuration produced by newer control planes, effectively ignoring new features they don't know ab

[2018-08-04 02:12] jeffpang opened #4054 "ext_authz: Is it possible to add custom headers to HTTP authorization server requests?"
*Title*: *ext_authz: Is it possible to add custom HTTP headers to authorization server requests?*

*Description*:
I'm trying to add a route dependent header to the requests sent to an ext_authz HTTP authorization server. I tried using `request_headers_to_add` on the route, route_action, and the virtual_host, but those only appear to be added when the request is forwarded to the upstream cluster an

[2018-08-04 05:12] ramaraochavali commented on #4048
The following stats on the cluster that you are trying to hit should help you
upstream_rq_retry:
upstream_rq_retry_overflow:
upstream_rq_retry_success:

[2018-08-04 13:01] dio commented on #4054
@jeffpang there is an active PR related to this: https://github.com/envoyproxy/envoy/pull/3888/files

See if this config matches your requirement: https://github.com/gsagula/envoy/blob/b4e043da83de99dea0983af1034623637b571a96/api/envoy/config/filter/http/ext_authz/v2alpha/ext_authz.proto#L66-L70

cc. @gsagula

[2018-08-04 13:02] jmarantz commented on #3674
In addition to the Admin::request() method I added on June 19th, I'm queuing up a change to make that accessible from MainCommonBase.

After that, I'm planning on allowing a command-line disable of the admin port -- you'd still need to specify one in the config but it would be ignored.

[2018-08-04 17:10] jeffpang commented on #4054
Thanks @dio. I actually tried pulling in that PR into my envoy image already since I've been following it. :)

I'm not sure if the issue is with the ext_authz filter itself since I can get all downstream headers included in the authorization request. But I can't figure out how I can add a header in envoy and have my added header included in the request. As far as I can tell this is because the `re

[2018-08-04 17:41] gsagula commented on #4054
Thanks @dio

@jeffpang The current implementation sends all the headers in the client request to the authorization server, `request_headers_to_add` won't be sent over. https://github.com/envoyproxy/envoy/pull/3888 won't help either since this just implement whitelists to restrict headers sent to the authorization server and header from the authorization server to the upstream services.

[2018-08-04 17:47] mattklein123 commented on #4053
@kyessenov can you refresh our memory on the rationale behind the original change? FWIW, I saw that change go by and I thought about pushing back, but didn't. I probably should have.

IMO this creates a lot of confusion for configuration, and it's a problem we had a lot of in v1 prior to a strict JSON schema. People think they are setting options, but they have a typo, and then the option is ignor

[2018-08-04 18:47] jeffpang commented on #4054
Thanks @gsagula; that is helpful to know. Two followup questions:

1) Is this choice by design? Would it be a coherent feature request? The use case I am contemplating is to include metadata about Envoy's route configuration in the authorization request so I can differentiate different types of requests. For example, different routes require different types of authorization and I was hoping to inc

[2018-08-04 22:30] yuval-k opened #4056 "cluster: load assignment config from docs for static cluster fails"
When trying the static example config from here:
https://www.envoyproxy.io/docs/envoy/latest/configuration/overview/v2_overview#static

Envoy fails to load:
[code]

The source of this is the validation here:
https://github.com/envoyproxy/envoy/blob/6b65dbe3a41dea34ab303de52804ddab20556de8/api/envoy/api/v2/eds.proto#L47

And indeed when the issue was solved when the cluster name was added.

They wa

[2018-08-04 23:00] dio commented on #4056
@yuval-k thanks for catching this. Obviously, we missed testing that.

Yes, I think adding `cluster_name: name` to the docs will be the fix for now. Since that `cluster_name` is being used in:

https://github.com/envoyproxy/envoy/blob/a614808b9aab7cfd94d66a307a8b65c6c7890097/source/common/upstream/eds.cc#L61-L65

Not directly related, but we can't remove the validation at least for now.

[2018-08-04 23:30] yuval-k commented on #4056
This bit of code seem to also do validation? If indeed it does, doesn't it make the one in the proto redundant?

[2018-08-05 00:11] dio commented on #4056
Yes, if the management server sets the corresponding discovery response `cluster_name` to empty/unset it will be failed as well.

However, we need to communicate this to the management server (developers?) that this `cluster_name` [is required](https://github.com/envoyproxy/go-control-plane/blob/master/envoy/api/v2/eds.pb.validate.go#L45-L50) as part of a discovery response (in this case, for eds)

[2018-08-05 00:37] #3594 closed

[2018-08-05 01:37] htuch commented on #4053
I think the motivation was having consistency between proto behavior and JSON; unknown fields in proto are not automatically rejected (https://developers.google.com/protocol-buffers/docs/proto#updating).

I generally agree with the sentiment that we should make this more robust for users, but consistent behavior between proto and JSON/YAML config where possible is another consideration to throw in

[2018-08-05 01:41] htuch commented on #3674
Why do we need a CLI disable for the admin port? It's probably most consistent with existing configuration strategy to just disable this in the bootstrap config (e.g. by eliding the admin network config section) than explicit overrides; in general we should probably aim to push as much as possible into bootstrap rather than CLI, since it's always possible to override bootstrap via the CLI flag and

[2018-08-05 03:40] jmarantz commented on #3674
Works for me.

[2018-08-05 06:50] trabetti commented on #3753
@mattklein123 can you please re-open, this issue is being fixed by #3986.

[2018-08-05 09:55] tkumark opened #4058 "Is there a way to run envoy proxy on service fabric"
Is there a way to run envoy proxy on service fabric with windows cluster. I would like to use it as a reverse proxy. I have see similar Traefik https://github.com/jjcollinge/traefik-on-service-fabric. I would prefer to use envoy if possible

[2018-08-05 18:54] mattklein123 commented on #4058
I think there is since MSFT announced Envoy on service fabric but I don't know the details: @vturecek ?

[2018-08-05 18:55] athampy commented on #3994
Anyone working on this? If not, I can pick it up.

[2018-08-05 18:55] mattklein123 commented on #4053
As I recall I though the issue here was more with how we handle struct/any encoding? @kyessenov? In any case, though I understand the difference between JSON/YAML vs. proto, IMO this creates a lot of extra confusion and I think we should make this configurable if people want both behaviors.

[2018-08-05 18:59] mattklein123 commented on #4048
IIRC each retry would be shown in the upstream access logs, but I don't think we explicitly indicate that it is a retry today (though that would be useful).

[2018-08-05 19:01] #151 closed

[2018-08-06 00:03] snowp commented on #3994
I haven't had time to start working on it, so since nobody else has spoken up I'd assume nobody else is working on it.

[2018-08-06 02:05] yun1129 commented on #3998
@mattklein123, the code is almost ready and I would like to seek your suggestion for upcoming steps. However, there is one important thing we should address - the integration test.

From Dubbo community perspective there are only samples for illustrating how Dubbo RPC framework works and there is no integration test environment. Furthermore, those samples are written in Java. From Envoy perspectiv

[2018-08-06 11:33] zyfjeff commented on #3932
@dio
When I was doing integration testing, it seemed that I had encountered the problem you said, response->complete() could not make "expect true"  #3985

Do you know how to solve it?

[2018-08-06 13:25] taion809 opened #4060 "Envoy does not release access log fd on sigusr1"
*Envoy does not release access log fd on sigusr1*

*Description*:
In one of our more heavily used clusters we've seen that despite employing logrotate and `kill -USR1 $ENVOY_PID` the file descriptors are still present in `/proc/$ENVOY_PID/fd`.  We have also seen the reported memory usage increase until we force a reload either by restarting the process or `kill -HUP $ENVOY_HOT_RESTART_PID`.

*Vers

[2018-08-06 16:44] mattklein123 commented on #4060
Here is the reopen logic: https://github.com/envoyproxy/envoy/blob/master/source/common/filesystem/filesystem_impl.cc#L196. I'm pretty sure it's working correctly.

Do you essentially see this leak forever in your env no matter how many times you rotate? @danielhochman might be able to spot check what's going at Lyft in this area.

[2018-08-06 16:47] mattklein123 commented on #3998
@yun1129 it's not a perfect integration test, but since you have to write both a decoder and encoder for proxy, I would probably just implement a fake upstream server in C++ using the Envoy encode/decoder code. This should be relatively simple to do and give good coverage. Obviously, it won't catch compat issues in the encoder/decoder itself, but since I'm guessing the protocol is pretty stable I

[2018-08-06 18:07] taion809 commented on #4060
bleh... I think this is me v_v

I did some more work and this is what i see:
  - we have 1 higher volume route generating a couple hundred mb in access logs every 10 minutes but we have a number of low volume routes that do not generate many logs
  - time-based logrotation would take an existing log and rotate it
    - a new log would be created, an old one would be rotated but envoy would keep th

[2018-08-06 21:05] zuercher opened #4065 "tcp connection pool drain falls into infinite loop"
Per #4043, there was a bug in draining connections using the TCP connection pool in conjunction with the TCP proxy.

*Repro steps:*
It's pretty easily reproduced by adding a TCP proxy test case that configures a drain callback and then simulates an upstream close.

The connection pool invokes the TCP proxy's callback, which releases the connection back to the pool, placing it in the ready list (th

[2018-08-06 23:12] paulkarayan opened #4069 "add the awesome blue-green deployment example to examples?"
**Issue Template**

*Title*: *shall I add the awesome blue-green deployment example to examples?*

*Description*:
I loved having the examples/"sandboxes" as I was getting started in understanding Envoy.

Wanted to know if you'd like me to submit a new sandbox based on this killer writeup:
https://blog.turbinelabs.io/incremental-blue-green-deploys-fde90b0ebdab

I ask because among my crowd, this wo

[2018-08-06 23:40] bplotnick opened #4070 "health_check: Endpoint health_check_config updates not taking effect"
*Title*: *health_check: Endpoint health_check_config updates not taking effect*

*Description*:
The [health_check_config](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/endpoint/endpoint.proto.html#envoy-api-msg-endpoint-endpoint-healthcheckconfig) configuration (i.e. active healthchecking on a different port than the application) does not get applied on endpoint config update.

The spe

[2018-08-06 23:48] mattklein123 commented on #4070
@dio do you mind taking a look? I think this is related to a feature you added. Thank you!

[2018-08-06 23:50] mattklein123 commented on #4069
@paulkarayan sure! More examples are great.

[2018-08-07 00:11] dio commented on #4070
Yes sure, been discussing with @bplotnick on slack.

[2018-08-07 01:41] rgs1 opened #4072 "envoy crashes when a cluster is updated with new subset selector"
Steps for repro:

a) start with a simple cluster:

[code]

b) Update the cluster so that it includes a new subset selector, e.g.:

[code]

c) crash happens

I'll get a stack trace and/or a test case repro later today/tomorrow.

cc: @zuercher

[2018-08-07 04:11] mattklein123 commented on #4060
Cool, glad it's working. Closing.

[2018-08-07 04:11] #4060 closed

[2018-08-07 05:35] ramaraochavali commented on #4053
FWIW, I ran in to this issue today where envoy silently accepted a typo in config and it took some time to figure that out.

[2018-08-07 06:03] kyessenov commented on #4053
Sorry, I missed notification for this issue. I tend to agree with @mattklein123 that a CLI option for strict semantics is a good idea since it enforces validation. My position is that we should apply it consistently between protos and proto structs. I think it's reasonable to disallow unknown fields in all protos (bootstrap, and proto Any fields), as long as we match the behavior between filter co

[2018-08-07 09:47] yun1129 commented on #3998
@mattklein123, in the long run, I believe you suggested solution is the final solution. Currently, Dubbo community doesn't have a light solution, meaning the upstream server is written in C++ or Go, that can fit this purpose. That's to say my team has to spend time to implement it and it leads time intensive. However, a Dubbo meetup is scheduled for the end of this month we don't have enough time

[2018-08-07 14:51] vadimeisenbergibm opened #4076 "tlsContext interferes with filterChainMatch and TLS inspector"
The scenario: an application sends TLS traffic to https://edition.cnn.com, with SNI. The traffic is intercepted by a sidecar Envoy, which sends the traffic to a gateway Envoy, which, in turn, sends the traffic to edition.cnn.com. The gateway Envoy reports the SNI.

application (SNI = edition.cnn.com) -> sidecar proxy (SNI = edition.cnn.com)-> gateway proxy  (SNI = edition.cnn.com) -> edition.cnn.c

[2018-08-07 14:52] vadimeisenbergibm commented on #4076
cc @mattklein123 @PiotrSikora @rshriram

[2018-08-07 15:41] mattklein123 commented on #3998
@yun1129 sorry I didn't mean for you to write a production quality C++ Dubbo server. All I meant was that in order to implement the Dubbo proxy/router, you will need both an encoder and a decoder. With those, it should be pretty easy to make a FakeDubboServer using our integration test primitives. For example in this test (https://github.com/envoyproxy/envoy/blob/master/test/integration/ratelimit_

[2018-08-07 15:42] mattklein123 commented on #4053
@kyessenov SGTM. Are you willing to work on this? I would suggest we make the default what it was before with a CLI option to opt-out of strict semantics?

[2018-08-07 16:43] htuch commented on #4053
+1 on the general approach; as long as we have consistency between protobuf and JSON/YAML, I'm all good.

[2018-08-07 16:45] #3950 closed

[2018-08-07 16:46] eziskind commented on #373
Remaining item is to implement overload actions in the connection manager.

[2018-08-07 16:49] mattklein123 commented on #4076
@PiotrSikora will know the details, but I'm not sure this is possible without using/inventing some type of TLS extension to forward the original SNI.

[2018-08-07 17:37] snowp commented on #3958
Is this in a good enough state that I can start working on the implementation? Or should I wait for more feedback?

[2018-08-07 18:32] charliezgc commented on #4048
Stats or logs won't be able to tie the retry indication to a request. We are trying to show retry activities in distributed tracing. The ideal case would be an entry in response header that says the request has been tried.

[2018-08-07 18:51] PiotrSikora commented on #4076
Traffic inspection / filter chain matching works on the traffic it sees (i.e. outer layer of your double-encrypted tunnel, i.e. mTLS), but you're trying to match on the inner layer, which is encrypted and thus invisible to traffic inspector. At the stage of matching, we don't even know if the filters will want to (or even can) decrypt the traffic, so there is no access to values from inner layer.

[2018-08-07 18:51] alyssawilk commented on #3958
Ugh, sorry, I was out last week and am swamped by maintainer rotation this week :-(

Chiming in rather belatedly, I totally agree with Matt that an extensible/customization mechanism is the way to go.  I suspect other folks will want to preserve legacy behaviors so making it easier to program custom host selection seems ideal.

I guess my only thought is rather than have a callback before and afte

[2018-08-07 18:54] mattklein123 commented on #3958
@snowp I'm fine for you to move forward. If you want to investigate @alyssawilk's thoughts first that's fine too. I agree with @alyssawilk that not having before/after would be better, though my concern would be that the plugin would then have to do a lot more than what we are proposing that it does with the above design.

[2018-08-07 18:57] mattklein123 commented on #4048
@charliezgc I agree and have thought about this also. I think that we should indicate retries both as tracing tags (including the retry number) as well as possibly in the extra response info work that @junr03 is working on. Will move this over to enhancement.

[2018-08-07 19:00] eldondevat commented on #2514
Is there some documentation about how to use this? Thanks!

[2018-08-07 19:08] qiwzhang commented on #2514
Official document is not added yet.  But you can look at the config proto file here <https://github.com/envoyproxy/envoy/blob/master/api/envoy/config/filter/http/jwt_authn/v2alpha/config.proto>

[2018-08-07 20:46] snowp commented on #3958
Seems like having the pre/post filters would be useful even if we allow overriding the entire host selection method: it'd let people move concerns such as "avoid this host/priority" out of the host selection algorithm, making it easier to reuse between implementations.

If a bunch of awesome host selection algorithms got upstreamed, I could add "retry other priority" to any of them without having

[2018-08-07 21:05] zuercher commented on #4072
I wasn't able to reproduce this with CDS or EDS updates via the filesystem. We also tried with GRPC-based updates. Do you have any more information?

[2018-08-07 21:09] rgs1 commented on #4072
@zuercher this is with CDS updates via the filesystem as well. Hmm forgot to say that we are using:

[code]

[2018-08-07 22:36] rgs1 commented on #4072
@zuercher ok, seems to be related to merging updates not to the subset lb:

[code]

[2018-08-07 22:43] rgs1 commented on #4072
Ah! I see the bug... PR coming up.

[2018-08-08 04:03] ramaraochavali commented on #3943
@mattklein123  probably this is same as #3950 and can be closed via https://github.com/envoyproxy/envoy/pull/4055 I guess.

[2018-08-08 04:05] #3768 closed

[2018-08-08 04:07] mattklein123 commented on #3943
It might be the same, but also that rq_total doean't include requests that don't result an an HTTP response code. See also https://github.com/envoyproxy/envoy/pull/3995. Anyway still closing. :)

[2018-08-08 04:07] #3943 closed

[2018-08-08 08:24] skwasiborski opened #4085 "--service-node and --service-cluster are not used when sending DiscoveryRequest"
*Description*:
When envoy is run with --service-node and --service-cluster cli parameters the values are not respected when sending xDS DiscoveryRequests. If node element is present in the bootstrap file the values from bootstrap are sent, if node element is not present in bootstrap file node.id and node.cluster in DiscoveryRequest are empty.

Expected behavior is that value passed to --service-no

[2018-08-08 11:50] vadimeisenbergibm commented on #4076
@PiotrSikora I am confused by the fact that HTTP routing and reporting works successfully on the inner layer (HTTP inside the mTLS tunnel). Envoy is able to perform TLS termination, and after that to perform routing by the decrypted Host header and to report the decrypted headers. Why the same cannot be performed for TLS inside mTLS tunnel? How TLS inside mTLS tunnel is different from HTTP inside

[2018-08-08 12:09] yun1129 commented on #3998
@mattklein123 if it's acceptable I would like to take unit tests as the start for quality assurance. Since the final goal is making Dubbo Mesh can be utilized on production and my team will spend time on integration test for building quality confidence up.

[2018-08-08 13:14] fengye87 opened #4088 "failed to build release binary using centos docker image"
I'm using the following command to build release binary (under Ubuntu 16.04):

[code]

It failed with the following message constantly:

[code]

Could someone please help me out?

[2018-08-08 14:30] elevran commented on #4076
@PiotrSikora it is true that the payload is encrypted and thus invisible to the traffic inspector. However, the SNI extension part of the client handshake is sent in clear text and is therefore available.
The external (mTLS) tunnel carries the destination service name in the SNI (e.g., `egress-gw.cluster.local`). I don't know if we can manipulate SNI on the sender side to have other values. The `e

[2018-08-08 16:35] mattklein123 commented on #4085
This sounds like a regression. It will need to be investigated.

[2018-08-08 17:07] drichelson commented on #2692
Would the proposed solution also cover Envoy's application logs?

[2018-08-08 18:05] #3763 closed

[2018-08-08 19:37] PiotrSikora commented on #4088
That works fine for me, perhaps you're running out of disk space?

Hence [my suggestion to drop it completely](https://github.com/envoyproxy/envoy/issues/3937).

[2018-08-08 19:48] jmarantz commented on #2649
@hennna who may be looking at this.

[2018-08-08 20:40] dio commented on #3932
@zyfjeff no, not yet. Following #3985, guess you are already in the right direction and you have @mattklein123 and @alyssawilk with you 🙂

[2018-08-08 20:46] htuch commented on #2692
@drichelson No, Envoy's debug logs use a different mechanism; these are likely to be plain text for the foreseeable future. However, they are implemented via macros in such a way (see https://github.com/envoyproxy/envoy/blob/master/source/common/common/logger.h#L282) that it would be possible to add alternative implementations, which might be able to emit JSON. What you might really want though is

[2018-08-08 20:58] #4036 closed

[2018-08-08 21:23] goaway opened #4092 "Proposal: expose downstream protocol and stream id as opt-in response headers"
*Title*: Expose downstream protocol and stream id as opt-in response headers

*Description*:
We'd like this feature primarily to use as additional context in analytics data. While clients technically have this information already, few publicly-shipped HTTP stacks expose it, and none are consistent.

I have an implementation that exposes this from the http codecs and injects the headers in the http

[2018-08-08 22:44] PiotrSikora commented on #4076
Filter chain selection happens before TLS termination, without access to the data inside the mTLS tunnel.

HTTP routing happens inside HTTP connection manager, after the traffic is already decrypted.

You could create TLS filter that does routing / cluster selection based on the TLS ClientHello message from the inner layer, after the traffic is already decrypted, but that would need to happen afte

[2018-08-08 22:59] mattklein123 commented on #4092
As long as this is opt-in on a config basis I don't have an objection to this. I guess loosely my preference would be to expose this from the codec at the interface layer, and for HTTP/1 just use an incrementing "stream" ID which would still give you info about where on the connection the request was started. So I think how you have likely coded it makes sense to me w/ the config at the HCM layer.

[2018-08-08 23:29] lizan commented on #4053
In addition to CLI option, perhaps also make it a flag in runtime configuration, so it can be changed without restarting?

[2018-08-09 00:17] gsagula commented on #4054
Hi @jeffpang, sorry for the delay here.

1. This choice was by design. The current HTTP implementation was introduced to support Ambassador's authorization flow. Can't you use Path to identify the route? If not, could you please provide a more concrete example of your use-case?

2. I quick looked at [check_request_utils](https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/com

[2018-08-09 00:32] jeffpang commented on #4054
Thanks @gsagula. That makes sense; I was just curious. I can definitely use the Path in the authorization server to identify the route; I was just hoping to avoid having to define all the routes in both Envoy and in the authorization server (to avoid a split brain scenario where Envoy is has one set of routes but the authorization server has a different set of routes).

I actually figured out a wo

[2018-08-09 00:46] #3772 closed

[2018-08-09 00:52] dio commented on #4054
@jeffpang that’s a very creative workaround 🙂.
I’m closing this issue. But feel free to reopen or create another issue if there’s a need for follow up. Thanks.

[2018-08-09 00:52] #4054 closed

[2018-08-09 01:38] yun1129 commented on #3998
Sure, no problem.

[2018-08-09 02:29] vadimeisenbergibm commented on #4076
OK, let's focus on this. I think what happened here is that filter chain selection for the mTLS tunnel is mixed with TLS routing of the original traffic. I think we have two options to solve it:

Option 1: Is it possible to perform filter chain selection for mTLS tunnel, then mTLS termination, and then to perform the second round of filter chain selection based on the original traffic? This will w

[2018-08-09 02:51] fengye87 commented on #4088
@PiotrSikora You're right, it works if I build it using an instance (I'm using aws EC2 instances) with a larger disk. Strange though, the error message didn't say anything about insufficient disk space.

Thank you for your help. I'm closing this issue.

[2018-08-09 02:51] #4088 closed

[2018-08-09 02:57] rshriram commented on #4076
I think you should create a new filter in both http and tcp. The filter needs to read the incoming server_name field and stick this into the RequestInfo object. Then in the cluster, you need to check if the user has explicitly set the SNI field in the cluster. if yes, you use the user provided value. If no, you look at the RequestInfo object to see if any filter has set the SNI value, and use it.

[2018-08-09 04:08] htuch commented on #4053
@lizan what's the motivation for runtime support? It seems this is something you want to set once for the lifetime of an Envoy instance. For existing deployments, they will need to pickup the new binary and do a restart to be able to take advantage of it.

[2018-08-09 04:36] cdelguercio opened #4095 "Help migrating from v1 to v2 with Front Proxy setup and EDS"
I'm attempting to upgrade my envoy setup from v1 to v2 and I'm having a bit of trouble. My end goal is to have static clusters behind a front proxy with EDS set up.

My previous setup used the lyft/discovery reference SDS, and what I think I want is to drop in an EDS server based on the go-control-plane repo.

I've attempted to take the go-control-plane from stub to an actual EDS server here: http

[2018-08-09 04:37] cdelguercio commented on #4095
I'm using envoyproxy/envoy:d47365a9ac7ca8af3067f1d9f996a289069cea71 which was published August 8, 2018

[2018-08-09 05:41] goaway commented on #4092
Incidentally, I have the headers tentatively named:
x-envoy-downstream-protocol
x-envoy-downstream-stream-id

Open to other options on that front as well, though.

[2018-08-09 06:17] vadimeisenbergibm commented on #4076
@rshriram So you propose option 3: the sidecar proxy will extract the SNI and forward it as the SNI of the mTLS tunnel.

@PiotrSikora @mattklein123 So which option among the options in https://github.com/envoyproxy/envoy/issues/4076#issuecomment-411616822, https://github.com/envoyproxy/envoy/issues/4076#issuecomment-411620562 is better? Which one is easier to implement?

[2018-08-09 08:02] lizan commented on #4053
The motivation for runtime support is to let envoy accepts unknown fields only during control-plane upgrade. Control planes doesn't always track each Envoy instances version and may emit unknown fields to some of Envoy instances. After the Envoy instances pick up new binary, it can be set back to strict.

[2018-08-09 11:31] elevran commented on #4076
@vadimeisenbergibm based on my understanding the purpose of egress service is to protect against cases where the sending proxy has been compromised, meaning we don't want to trust the SNI it sent but rather extract the client SNI from the inner TLS (sine that's what we'll use as the target).

@PiotrSikora:

I may not be correctly understanding your comment. The inner SNI is encrypted using the mTL

[2018-08-09 11:43] vadimeisenbergibm commented on #4076
@elevran Right, the option 3 would not help us to prevent cheating (sending a fake SNI) by a compromised sidecar proxy.

[2018-08-09 13:49] alyssawilk commented on #4092
We pass both around internally so this totally passes the 2+ users general purpose usefulness test :-)    +1 to  incremental stream id for HTTP/1 - for network latency analysis it's important to know the request was on a pre-warmed connection.

My question is how many of these reasonable headers we're going to have.  Internally we've got client protocol, number of requests on a connection, initial

[2018-08-09 17:58] kyessenov commented on #4053
@lizan if we can selectively enable runtime flag to allow unknown fields, then we can surely teach the control plane to do the same on the server side. I think this is mostly an issue for control planes that do not track versions of the proxies.

[2018-08-09 18:06] goaway commented on #4092
Thanks for the feedback, @mattklein123 and @alyssawilk !
@alyssawilk, you raise a good point about the other possible fields - in truth I had already been considering measuring rtts from envoy to the client at some point. A couple thoughts:

First, it seems like we could support both a "packed" format as well as an individual-header format fairly easily. All the plumbing to get at the information

[2018-08-09 19:07] ambuc commented on #3965
@jmarantz @htuch Let's close this issue as unwanted -- as-is, heap-allocated stats don't truncate. This issue would require us to flip that behavior yet again, truncate heap-allocated stats by default, and then require a CLI flag to not truncate stat names.

[2018-08-09 19:59] lizan commented on #4053
@kyessenov I'm not saying you would selectively enable this based on each instances. Flow like this:
1. Initially the runtime flag could be set to strict when you deploy Envoy instances
2. You make all of Envoy instances lenient when you deploy control plane.
3. After deployed control plane, pick up new Envoy binary and deploy with strict.

A runtime flag for 2 without restarting, thoughts?

[2018-08-09 21:09] curiouserrandy commented on #3559
Actively working on this.  Apologies, but https://github.com/envoyproxy/envoy/pull/3918 should have been linked to this issue in addition to the one it was linked to.

[2018-08-09 21:12] cdelguercio commented on #4095
It seems like it's running up against "no healthy host for HTTP connection pool" when it tries to send a DiscoveryRequest. Here's envoy's output from the service:

[code]

[2018-08-09 21:27] curiouserrandy opened #4100 "Determine upgrade path for dynamic metadata"
*Title*: Evaluate upgrade path from RequestInfo::dynamicMetadata to new DynamicMetadata class

*Description*:

As part of working on implementing a new DynamicMetadata class for arbitrarily typed communication between filters, I've been evaluating current uses of RequestInfo::dynamicMetadata().  After some discussion with @htuch, I wanted to poll the  experts on the current uses of that method abo

[2018-08-09 21:55] zuercher commented on #4065
Fixed in #4067

[2018-08-09 21:55] #4065 closed

[2018-08-09 22:46] htuch commented on #4092
I think based on previous discussion with @PiotrSikora, we're been persuaded against using proto/JSON for new headers that we're defining if we want these to be somewhat standard. I'm a proto partisan, but I buy the argument that if we want any headers we define to have wider adoption, we can't be dictating proto.

[2018-08-09 22:47] #3965 closed

[2018-08-09 23:07] htuch commented on #4100
@qiwzhang as well, plus @lizan and other Istio security folks. Can we rollover RBAC to Randy's new metadata approach? We don't want to maintain two metadata schemes and would like to turn down the old one unless it needs to be supported, e.g. due to semantic expresiveness missing in the new scheme.

[2018-08-09 23:39] rgs1 commented on #4100
We use the HeaderToMetadata filter to dynamically match requests with endpoints in the subset LB, so migrating both in one go is probably easier (or, the subset LB would have to go first).

Here's how the subset LB matches a request to an endpoint based on metadata: https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/subset_lb.cc#L286

Per the design doc,  "... the producer and

[2018-08-09 23:42] lizan commented on #4100
RBAC filters is heavily using the [MetadataMatcher](https://github.com/envoyproxy/envoy/blob/3868326bd7ac57e01815577c944876ee5cd76087/api/envoy/type/matcher/metadata.proto#L70). It takes advantage of the metadata being a protobuf Struct so arbitrary data can be queried. From the design doc this seems hard since the accessor is not structured.

[2018-08-10 00:00] yangminzhu commented on #4100
As @lizan mentioned, the `MetadataMatcher` should be covered in the doc.

(Also recently we started to use RequestInfo.Metadata to pass data between different filters in Istios' proxy implementation. cc @diemtvu)

[2018-08-10 00:13] #3865 closed

[2018-08-10 00:35] mattklein123 commented on #4092
Yeah I think I would shy away from proto/JSON here and do a basic format. I agree on designing a packed header with all of this information.

Additionally, I would prefer that we configure the output of this header using the "extra debug" information configuration that @junr03 has been designing and is going to start working on. @goaway can you sync with @junr03 next week when he is back and add t

[2018-08-10 01:02] qiwzhang commented on #4100
Also dynamicData is used in AccessLog::Instance log() phase.  Not sure if the design covers that phase.   Can that phase access any dynamicData?

[2018-08-10 01:07] nicktrav opened #4103 "Configurable retry codes"
Internally, we have some clients that currently rely on some bespoke, legacy
retry behavior, whereby an HTTP/1.1 request can be retried on a 429 response
code. Ideally, we'd like to be able to move this retry logic out of the clients
and into the proxy-layer (i.e. Envoy) and still preserve the same behavior in
the event the server returns a 429.

Below are some options we'd like to pitch.

The fir

[2018-08-10 01:33] rshriram commented on #4076
How is this improving security? is someone MITMing and changing the SNI alone? that can't happen in a k8s network as there is no L2. Is someone masquerading as the source pod? That can't happen if you do RBAC at the egress gateway that validates against the source pod's SAN.

Doing the double/triple mtls inspection stuff is something that cannot be easily programmed through Pilot as it treats ingr

[2018-08-10 01:37] #3487 closed

[2018-08-10 03:15] htuch commented on #4100
Yeah, I think I'm convinced that we're going to need to keep the dynamic metadata for config purposes. @curiouserrandy do you think we could come up with a name for the new dynamic metadata that doesn't confuse and conveys its intended use? Something like "inter-filter state", "request filter state", etc.

[2018-08-10 12:00] tony-shi commented on #3990
The same problem in OSX。I'm using https://github.com/envoyproxy/envoy/blob/master/configs/google_com_proxy.v2.yaml as my yaml config and run envoy with the command as path-to-bazel-bin/envoy-static --config-yaml path-to-my-config.yaml .

[2018-08-10 13:02] dio commented on #3990
@scaldwell-atlassian @tony-shi that `--config-yaml` expects the content of the .yaml config file (unless the intention is not this).

[code]

Works.

[2018-08-10 14:39] curiouserrandy commented on #4100
Agreed; the impedance mismatch is just too large :-{.

In terms of naming, I'm inclined to stay away from "metadata" since that has a well defined meaning inside of envoy.  FilterState?  GeneratedFilterState?  I'd be good with either, but I'll go with the first in the name of terseness if no one else has an opinion.

[2018-08-10 16:05] htuch commented on #4100
+1 `FilterState`.

[2018-08-10 16:10] mattklein123 commented on #3990
@dio we still shouldn't crash here but cleanly exit if there is a config error. Do you know what the actual bug is?

[2018-08-10 16:34] sesmith177 commented on #129
We are now hitting the command line length limit when compiling even with all extensions turned off. So it's now become a hard blocker for us to keep our fork up to date (let alone actually making the PR)

[2018-08-10 16:43] qiwzhang commented on #4100
how about SafelySharedFilterState to indicate the data is shared across filters,  it is safe, non-intended filters could not access them.

[2018-08-10 17:30] curiouserrandy commented on #4100
I have a preference is against "SafelyShared" because a) I have more of a single producer/multiple consumer model for the state--any particular item isn't shared in that only one filter can source it, though multiple others can read it, and b) I'm not sure when the implementation of the dependency management portion of the design will be done (which I take as generating the "Safely" portion of you

[2018-08-10 17:48] snowp commented on #4103
I'm a fan of the new header, it seems very flexible. Maybe also make the retry codes configurable in `RetryPolicy` so it can be configured through RDS without injecting headers?

[2018-08-10 18:05] dio commented on #3990
@mattklein123 I think because of the returned `node.Type()` is not something that can be converted to JSON. (a string is a valid YAML but it cannot be converted to JSON).

Submitted a PR here: https://github.com/envoyproxy/envoy/pull/4110

[2018-08-10 19:04] auni53 commented on #3654
useful references:

- https://github.com/envoyproxy/envoy/pull/3879/files
- https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http_connection_management

[2018-08-10 19:42] jmarantz commented on #3525
FYI I am working on a design for a general caching infrastructure for Envoy. Health-check caching could be an interest application beyond general http response caching.

Color me subscribed to this; maybe we can collaborate if we you are still interested.

[2018-08-10 19:43] jmarantz commented on #3525
Also see https://github.com/envoyproxy/envoy/issues/868
and https://github.com/envoyproxy/envoy/issues/3023

[2018-08-10 20:15] lizan commented on #4100
+1 `FilterState`.

Btw I think this proposal let the state holds arbitrary C++ object in it, so perhaps we can wrap the metadata proto and use the new mechanism. @htuch thoughts?

[2018-08-10 20:31] htuch commented on #4100
@lizan yeah, I had similar thoughts on this, @curiouserrandy have chatted IRL. There's a valid view that these are essentially orthogonal, and if you want to maintain the property that you set any given slot in only one filter, then it's probably too coarse grained to place the metadata proto in there, since multiple filters might want to manipulate it.

[2018-08-10 20:52] mattklein123 commented on #4100
FWIW, I would vote for something along the lines of `PerRequestState` to indicate that this is state shared across the request and between filters. Similarly for network filters, perhaps `PerConnectionState` or similar. I don't feel very strongly about it though. I agree that wrapping the generic metadata in a C++ object seems like a fine way of merging both mechanisms.

[2018-08-10 21:07] curiouserrandy commented on #4100
+1 for Per{Request,Connection}State; that's something that hasn't historically been captured in the name.

I'll point out that how the mechanisms are implemented isn't visible at the API level, and I'd argue isn't very important for that reason.  But (as @htuch says) I do think that the "single source" aspect of PerRequestState gets in the way of layering dynamicMetadata() on top of it--it's possi

[2018-08-10 21:11] lizan commented on #4053
btw, recalled more of this context from https://github.com/google/protobuf/pull/1704, this is more like proto-text vs protobuf binary. JSON is in the middle, could be both handwritten (which shouldn't be parsed leniently as it may contain typos), or machine produced (which could be parsed leniently for backward compatibility, typos are not there).

A couple more things I can think of:

- Raise war

[2018-08-10 21:58] kyessenov commented on #4053
I think the new flag seems to fit fine with the paradigm:
- if the config is machine generated, then run with `--allow-unknown-fields` which applies lenient parsing;
- if the config is hand-written (including xDS payloads), then don't set the flag; that helps novices and test harnesses.

[2018-08-10 22:01] lizan commented on #4053
But certainly we do ;) https://istio.io/docs/reference/config/istio.networking.v1alpha3/#EnvoyFilter

[2018-08-11 09:12] dio opened #4112 "Set content-type and content-length header for Http Subscription request"
*Title*: Set content-type and content-length header for Http Subscription request

*Description*:
Since in here: https://github.com/envoyproxy/envoy/blob/3e15c94901f7ce5ebca671e451efceec8053da86/source/common/config/http_subscription_impl.h#L71 the body is known as JSON and the length is also known, I think it is better to have the content-type and content-length set.

[2018-08-12 01:38] #4053 closed

[2018-08-12 01:46] htuch commented on #4100
Also +1` on Per{Request,Connection}State.

[2018-08-12 03:01] dio commented on #4085
Tried quickly using the following .yaml config (with no `node` defined):

[code]

And,

0. Running an xDS service
1. Running envoyproxy/envoy-alpine:v1.7.0 with:

[code]

The captured trace-level log gave:

[code]

@skwasiborski do you think I missed something while reproducing you case? Thanks!

[2018-08-12 06:55] vadimeisenbergibm commented on #4076
The scenario is as follows. Suppose you have the following policy in Istio:

1. PodA may access *.foxnews.com
2. PodB may access *.cnn.com

An attacker is able to break into the PodA and wants to access edition.cnn.com, which is forbidden by the example policy.

Let's assume that the attacker is able to kill/bypass the sidecar proxy, steal its certificates (stealing certificates is mentioned here

[2018-08-12 12:03] #3990 closed

[2018-08-12 17:00] skwasiborski commented on #4085
@dio it seems like your repro should show the issue. I am using ADS not LDS/CDS maybe that is why you do not see the issue. I will verify tomorrow if switching to LDS/CDS changes anything in my setup.

[2018-08-12 23:25] #3790 closed

[2018-08-12 23:40] dio commented on #4085
@skwasiborski thanks for the hint on setting the subscription to `ads`. I can reproduce the issue.

e.g. with the following config

[code]

Ran with:

[code]

Saw the following logged.

[code]

[2018-08-13 00:32] dio commented on #4085
Think we should always use `local_info` everywhere. https://github.com/envoyproxy/envoy/pull/4120

[2018-08-13 10:29] xmm1989218 opened #4121 "I can't find 1.7.1 image in docker hub?where is it?"
**Issue Template**

*Title*: *One line description*

*Description*:

describe the desired behaviour, what scenario it enables and how it
would be used.

[optional *Relevant Links*:]

**Bug Template**

*Title*: *One line description*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

*Repro steps*:

required to reproduce the bug.

gathers a tarba

[2018-08-13 10:48] elevran commented on #4076
@rshriram do you think it could, perhaps, be cleaner if we had a clear separation between tunnel setup phase (where envoys can exchange any data needed - e.g., to support mTLS, forward original client a server L3 information, etc.) and payload exchange after the tunnel is fully set up?

This would work well for TCP proxying where the envoy-envoy connection is "per session", and may be skipped for

[2018-08-13 10:54] ramaraochavali commented on #4121
There are no tagged container available for this release. You need to build from source if you want to use it. There is a tracking issue for this https://github.com/envoyproxy/envoy/issues/4052

[2018-08-13 10:58] xmm1989218 commented on #4121
OK, thanks

[2018-08-13 10:58] #4121 closed

[2018-08-13 11:22] ramaraochavali opened #4122 "config_dump returns output in random order"
Currently config_dump returns configs in random as they are defined as a [map](https://github.com/envoyproxy/envoy/blob/master/api/envoy/admin/v2alpha/config_dump.proto#L30) in the proto.
Is there any better way to to make output more deterministic via protos? Otherwise can we enforce some ordering while displaying?

[2018-08-13 12:05] michalholecek opened #4124 "ext_authz filter: failure_mode_allow not working"
Hi,
modifying this option does not change behaviour of the filter. If ext_authz service is not accessible auth filter rejects the request and envoy returns `503 Service Unavailable`, even if failure_mode_allow is set to true.
**Filter conf:**
[code]
**Envoy log:**
[code]

[2018-08-13 12:18] dio commented on #4124
@michalholecek could you please test if the following config works?

[code]

It seems the `failure_mode_allow` should be in the same level with `http_service`, i.e. `config.failure_mode_allow`.

Ref: https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/ext_authz/v2alpha/ext_authz.proto#envoy-api-msg-config-filter-http-ext-authz-v2alpha-extauthz

[2018-08-13 12:26] michalholecek opened #4125 "ext_authz filter: allowed_authorization_headers enhancement"
Hi,
allowed_authorization_headers option for the ext_authz filter has been added recently. The problem is that all headers must be specified in this option in order to be added to the original request. I am using external auth service to generate various headers (like opentracing baggage which consists of multiple headers with various names). All of these names however start with the same prefix,

[2018-08-13 12:34] michalholecek commented on #4124
Tried it, does not work either.

[2018-08-13 13:01] dio commented on #4124
OK, I think we probably can add a special handler for 5xx in here:

https://github.com/envoyproxy/envoy/blob/1381673ad2d74bab4667942abdd8ef75c812e75e/source/extensions/filters/common/ext_authz/ext_authz_http_impl.cc#L70-L78

and tell the check request to return `response->status` as `CheckStatus::Error` instead of `CheckStatus::Denied`.

Hence, we honor the `failure_mode_allow` in the following li

[2018-08-13 16:00] mattklein123 commented on #4125
@gsagula

[2018-08-13 16:04] mattklein123 commented on #4122
IIRC there is a way to have proto do consistent serialization but I forget the details right now and I don't have time to go poking through the code (check proto utilities). @htuch do you remember?

[2018-08-13 17:42] donbowman opened #4128 "End-to-End IP transparency using Proxy Protocol"
**Issue Template**

*Title*: End-to-End IP transparency using Proxy Protocol

*Description*:

[It is my intent to work on below, soliciting input, feedback, and assistance]

The general chain of events (in a GKE Kubernetes at least) model is that we have: `Client->LoadBalancer->Ingress/Front->Sidecar->service` as a sequence. The LoadBalancer does NAT, the Ingress is a proxy server, the istio-sidec

[2018-08-13 18:07] rshriram commented on #4076
I think tunelling is the way to go. But rather than doing a TCP tunnel, we should tunnel  over h2. The facility exists (almost) in the HTTP connection manager - being used currently for Websockets. Having H2 tunnels would allow sending more metadata.

[2018-08-13 18:16] junr03 commented on #4092
Catching up on this now that I am back.

1. I'll follow up with @goaway to add this to the doc.
2. @alyssawilk is @vilobhmm the primary owner of the `Reverse Proxy Response Propagation to downstreams` doc you sent me? In my doc we mentioned that the work can be separate, but I want to make sure we are not duplicating effort, so I want to sync before we start working on this.
3. @mattklein123, othe

[2018-08-13 18:17] mattklein123 commented on #4092
Yes please share the other doc whenever we can. Also, feel free to close/consolidate issues that are related to this topic and potentially duplicates.

[2018-08-13 18:39] donbowman commented on #4128
Somewhat similar requirement was articulated here https://github.com/envoyproxy/envoy/issues/2659

[2018-08-13 18:53] htuch commented on #4122
I'm not sure this is possible in the presence of maps, e.g. https://gist.github.com/kchristidis/39c8b310fd9da43d515c4394c3cd9510. I think for this reason, maps should be avoided in our admin API endpoint output.

[2018-08-13 19:34] mandarjog commented on #4122
Maps keys can be optionally sorted to make diffing easier. The question is should this be done inside the config_dump endpoint or is it better left to the client that is consuming the output.

If it is not too expensive, determnistic json output is preferred.

[2018-08-13 19:40] htuch commented on #4122
@mandarjog where is the option to have proto do this? I don't see it in `JsonPrintOptions`.

[2018-08-13 19:41] htuch commented on #4122
Also, I'd question what value maps bring to any of our endpoint output, can someone articulate this?

[2018-08-13 19:51] mattklein123 commented on #4122
I don't think the maps add any value. I would just switch them all to lists.

[2018-08-13 20:23] bplotnick opened #4132 "health_check: active healthchecking thundering herd during cluster warming"
*Title*: *health_check: active healthchecking during warming scalability concern*

*Description*:
*This issue is partly a theoretical issue as i've not yet directly observed issues this as a cause of issues, but i have seen it exacerbate existing ones. However, I believe it is possible for it to cause issues directly*

In troubleshooting an active healthchecking issue, I noticed that jittering hea

[2018-08-13 20:45] mattklein123 commented on #4132
Yeah I think it's fine to add optional jitter to the initial HC round for a cluster, with the caveat that startup itself might take longer. I would start here, but for larger clusters you might also need to program the ability for a subset of hosts to respond to the first check before continuing with init...

[2018-08-13 22:01] vikasuy commented on #3920
+1

[2018-08-13 22:03] julia-stripe commented on #4132
This may be contributing to an issue we're currently seeing with Envoy where sometimes we see `upstream connect error or disconnect/reset before headers` errors when a cluster changes size. My belief about what's happening is:

1. we add / remove a host from a cluster with many clients
2. when the new cluster is being warmed, CPU load increases significantly, presumably because many TLS connection

[2018-08-13 22:20] lizan opened #4135 "test: //test/integration:hds_integration_test is flaky"
`bazel test --runs_per_test=100 //test/integration:hds_integration_test` fails 7 out of 100.

A sample stack trace:
[code]

[2018-08-13 22:55] lizan opened #4137 "test: AddrFamilyAwareSocketOptionImplTest.V6EmptyOptionNames fails in coverage"
*Description*:
It doesn't fail on CircleCI since in the CI coverage tests runs with `--test_env=ENVOY_IP_TEST_VERSIONS=v4only`.

I suspect it is related to the Singleton injection, but didn't look it closely yet.

*Repro steps*:
`test/run_envoy_bazel_coverage.sh` without setting test IP versions.

Test logs:
[code]

[2018-08-14 01:14] sirajmansour opened #4139 "Questions around Lua filter"
Does the lua filter load required modules on every request ?

I am trying to write a lua filter that writes the content of incoming requests into kafka or aws-kinesis. I've never used lua before but it looks very simple compared to trying to build a custom envoy filter, but i am not sure if required modules are cached somehow ?

I only need to have a lua filter sending my requests to an upstream d

[2018-08-14 02:05] xmm1989218 opened #4140 "envoy1.7 can't work with native jaeger, envoy depend on opentracing 1.4.2, but jaeger-client-cpp depend on 1.4.0"
**Issue Template**

*Title*: *One line description*

*Description*:

describe the desired behaviour, what scenario it enables and how it
would be used.

[optional *Relevant Links*:]

**Bug Template**

*Title*: *One line description*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

*Repro steps*:

required to reproduce the bug.

gathers a tarba