[2019-06-26 21:13] htuch commented on #7402
@shwetaap `http2_protocol_options` applied on the outbound connection to the upstream, which might not have had H2 support (in particular for plaintext H2).

[2019-06-26 21:14] htuch commented on #7404
@gsagula any thoughts on this?

[2019-06-26 21:17] virtru-tdewitt commented on #7404
For what it's worth, @mattklein123 requested I open this, in Slack.

[2019-06-26 21:27] mandarjog commented on #6824
@alyssawilk we would still want this to be possible. Can you mark it help wanted?

[2019-06-27 00:52] jaygorrell opened #7407 ""immediate connection error" using uds"
**Issue Template**

*Title*: Getting "immediate connection error" in destination proxy when using unix domain socket to communicate with destination service

*Description*:
I very may well have something mis-configured on the Istio side here, but basically I have a uds managed by my destination service exposed and shared with the proxy container. I confirmed that communicating over the socket is w

[2019-06-27 02:02] YanLemon opened #7408 "open and then close FirewallD, get the error no healthy upstream. how the envoy request dns by udp? when firewall is open ,the envoy keep trying to request dns by changing the sourece port."
**Issue Template**

*Title*: *One line description*

*Description*:

describe the desired behaviour, what scenario it enables and how it
would be used.

[optional *Relevant Links*:]

**Bug Template**

*Title*: *One line description*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

*Repro steps*:

required to reproduce the bug.

gathers a tarba

[2019-06-27 02:55] htuch commented on #7408
Closing this out, since there is insufficient detail in the bug report.

[2019-06-27 02:55] #7408 closed

[2019-06-27 02:59] htuch commented on #7407
Hard to tell what issue is from just these logs, but maybe check out https://github.com/envoyproxy/envoy/issues/1961. Is this a supported configuration in Istio? Is it using EDS and UDS?

[2019-06-27 03:36] splix commented on #7400
@yzq789 btw, it's not necessary to compile it by yourself. You can use already compiled stubs as a dependency https://mvnrepository.com/artifact/io.envoyproxy.controlplane/api

[2019-06-27 03:48] YanLemon opened #7409 "DNS request timed out 4 times, why not closeSocket? I open firewalld and then close."
**Issue Template**

*Title*: *One line description*

*Description*:

describe the desired behaviour, what scenario it enables and how it
would be used.

[optional *Relevant Links*:]

**Bug Template**

*Title*: *One line description*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

*Repro steps*:

required to reproduce the bug.

gathers a tarba

[2019-06-27 03:51] YanLemon commented on #7408
@htuch  DNS request timed out 4 times, why not closeSocket? I open firewalld and then close.

[2019-06-27 04:03] YanLemon opened #7410 "DNS request timed out 4 times."
I use k8s ambassador NodePort to expose serive.  I open firewalld and then close. the ambassador pod log show DNS request timed out 4 times.

I don't know how the firewalld influence the udp socket(DNS request). when open firewalld, the udp socket can close, but when close firewalld, the socket never close.

I kubectl exec ambassador pod:
/var/log # netstat -nal| grep udp | grep -v 127
udp

[2019-06-27 04:04] YanLemon commented on #7408
@htuch  I use k8s ambassador NodePort to expose serive. I open firewalld and then close. the ambassador pod log show DNS request timed out 4 times.
I kubectl exec ambassador pod:
/var/log # netstat -nal| grep udp | grep -v 127
udp 0 0 177.177.162.240:60021 10.96.0.10:53 ESTABLISHED

I want to ask: DNS request timed out 4 times, why not closeSocket?

[2019-06-27 06:50] mahesh0723 opened #7411 "How to read input http body bytes using gRPC-JSON Transcoder?"
*Title*: *How to read input http body bytes using gRPC-JSON Transcoder?*

*Description*:
We have exposed our gRPC APIs as JSON using gRPC-JSON Transcoder of Envoy and it works like a charm.

We are looking forward to integrating the third party application which supports webhook for integration. Apparently, the third-party application sends data as 'form-data' and not like a JSON.

You can find sa

[2019-06-27 09:20] YanLemon commented on #7410
@htuch  @mattklein123  thank you . please give me some advice.

[2019-06-27 09:29] #7409 closed

[2019-06-27 10:19] roobalimsab opened #7413 "How to configure envoy to retry on grpc status codes?"
**How to configure envoy to retry on grpc status codes?**

*Title*: *Need to enable retries on envoy for transient failures*

*Description*:
We are having a grpc backend fronted by envoy for load balancing. The entire infra setup is on kubernetes and we have HPA enabled. Whenever there is a pod scale down we get the error - "upstream connect error or disconnect/reset before headers. reset reason:

[2019-06-27 12:51] jaygorrell commented on #7407
Not sure if it's that issue - still learning the terminology on this side of things, but it's basically the second example on this page, using `Sidecar`:
https://istio.io/docs/reference/config/networking/v1alpha3/sidecar/

[2019-06-27 13:58] htuch commented on #7408
@kflynn this looks like an Ambassador question :)

[2019-06-27 13:59] htuch commented on #7410
CC @kflynn

[2019-06-27 17:16] keith commented on #7379
We're good now, and the other issue has been closed https://buildkite.com/bazel/envoy/builds/819 so we can close this one

[2019-06-27 18:20] mattklein123 commented on #7403
@conqerAtapple effectively you are going to make the HTTP/2 connection pool look more like the HTTP/1 connection pool, where you will have a list of active connections, and using "some algorithm" you will decide which connection to use. As I suggested above, I think we want this algorithm to probably be tunable and allow the user to specify the target max simultaneous requests per connection befor

[2019-06-27 18:38] #3643 closed

[2019-06-27 19:04] htuch commented on #7411
@mahesh0723 not quite sure what is meant by proto annotations here, can you provide more context?

[2019-06-27 19:10] shwetaap commented on #7402
@htuch - I see. Thanks!

[2019-06-27 19:10] #7402 closed

[2019-06-27 19:12] htuch commented on #7396
@mthebridge spelunking the history here, I think this is actually supported, just not documented. Access log and header formatters share a common path, and this is available in https://github.com/envoyproxy/envoy/blob/89d81e65df2a6b364bcf0af4c251241c2dd5866e/source/common/access_log/access_log_formatter.cc#L378.

Want to give that a try? If it works, a PR to update docs would be awesome. Thanks!

[2019-06-27 19:17] htuch commented on #5368
@phylake yes, when retries are configured we will buffer up to the limit.

[2019-06-27 19:21] htuch commented on #7407
@costinm are you familiar with this example?

[2019-06-27 19:28] gargnupur commented on #6532
/cc @alyssawilk

To use TCP over HTTP/2 metadata frames, looks like support for TCP over HTTP(https://github.com/envoyproxy/envoy/issues/1630) is a blocker right now.

We are going to explore TLS extension path for which https://github.com/envoyproxy/envoy/issues/173 is currently a blocker..

Ref: @kyessenov  has a great doc on metadata exchange https://docs.google.com/document/d/1bWQAsrBZguk5HCmB

[2019-06-27 19:33] mpuncel commented on #7324
I just noticed that it appears to be a distributed crash. We see multiple envoys on different hosts crash within ~1ms of each other, and there will also be a window a few minutes long where there are a large number of crashes. The envoys belong to different microservices in some cases.

This makes me think it's caused either by an EDS update or some behavior in the upstream server, e.g. shutting d

[2019-06-27 19:42] philwo commented on #7379
Thanks, @keith! I'm closing this.

[2019-06-27 19:42] #7379 closed

[2019-06-27 19:43] phylake commented on #2493
@gregdurham what's the runtime key supposed to be? I'm hitting the same issue

[2019-06-27 20:31] sumukhs opened #7417 "Integration tests fail when multiple clusters / lb_endpoints are specified in config.yaml"
I am writing some integration tests in a filter repo - I see that there are some assumptions baked into the integration base class regarding the number of ports or clusters being specified.

The error messages are not clear on what the issue is - the assert that fires is:
[code]

The relevant stack trace is:
[code]
The clusters config which fails is as follows:
[code]
 If I remove the 2nd endpoint

[2019-06-27 20:41] #6990 closed

[2019-06-27 20:50] moderation commented on #7417
That config looks OK to me and I have a service that runs with multiple endpoints defined like that.

[2019-06-27 20:52] sumukhs commented on #7417
Yes, the config works fine while running envoy.exe.

However, I am referring to using this config while running the integration tests in the envoy test/integration directory.

[2019-06-27 23:23] htuch commented on #7417
@sumukhs maybe take a look at https://cs.corp.google.com/piper///depot/google3/third_party/envoy/src/test/integration/load_stats_integration_test.cc?type=cs&g=0 for an example of a test that has variable number of clusters. Also look at `setUpsteamCount()`.

It's all a bit hokey IMHO, so any robustness improvements welcome.

[2019-06-27 23:39] conqerAtapple commented on #7403
@mattklein123 @alyssawilk @antoniovicente

I have started a document to go over the proposals and design details.

https://docs.google.com/document/d/1gzY1y8CdbvZZ_82y9Fb6kNXAlzOBC0VIeiuMdn_xCRs/edit#heading=h.zd70r91epk53

[2019-06-28 01:33] gregdurham commented on #2493
In my poc I used test. Here is how I configured it. https://github.com/gregdurham/consul-envoy-service-mesh/blob/e03aeccff05fabf3e5dcbc30dd11753dce8b6f3a/lib/lds.go#L95

[2019-06-28 03:25] hzxuzhonghu opened #7420 "document idletimeout clearly"
As for me, when i looked the idletimeout at http connection manager 、route and also at cluster level。 There is a comment saying route level idletimeout will override http connection manager level.  But what is the relation between cluster level and http connection manager level idletimeout .

[2019-06-28 04:40] #6989 closed

[2019-06-28 05:35] seguidor777 commented on #7351
Could anyone help me please?

[2019-06-28 05:38] htuch commented on #7420
Agreed it might be good to be clearer here. Something along the lines of https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/http_connection_management.html?highlight=timeout#timeouts would be good.

[2019-06-28 05:38] andye2004 opened #7421 "Authz and route config when using RDS"
Not sure if this is a question or a feature request or just a whinge really. Basically I'm looking at using RDS at the moment and realised I have an issue with extauthz.

In my current static setup I have something like this:-

[code]
If I want to use extauthz and differentiate behaviour based on routes my RDS now needs to know that an extauthz filter is in play.

What I really want to do is repla

[2019-06-28 05:40] #6999 closed

[2019-06-28 05:40] htuch commented on #7421
@rshriram can probably speak to the motivation around `per_filter_config` best.

[2019-06-28 05:44] htuch commented on #7413
Have you looked at https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/http_routing.html?highlight=retry#arch-overview-http-routing-retry and https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/router_filter#config-http-filters-router-x-envoy-retry-grpc-on?

[2019-06-28 06:31] roobalimsab commented on #7413
Yes. we have added those retry headers to our request in the client side
`outgoingContext := metadata.AppendToOutgoingContext(context.Background(), "x-envoy-retry-grpc-on", "cancelled,deadline-exceeded,internal,resource-exhausted,unavailable", "x-envoy-max-retries", "50", "test-key", "test-val", "x-envoy-upstream-rq-timeout-ms", "15000")`

But still getting the same error.
How to verify if envoy i

[2019-06-28 06:33] ramaraochavali commented on #7413
Look at "upstream_rq_retry" stat on the cluster - it should tell you
whether it is retrying

On Fri, Jun 28, 2019 at 12:01 PM roobalimsab <notifications@github.com>
wrote:

[2019-06-28 07:39] kuaikuai commented on #7398
add some code into the function?
[code]

[2019-06-28 07:40] #6974 closed

[2019-06-28 07:57] mthebridge commented on #7396
@htuch Thanks for the suggestion - sadly, though, that does not work, returning the error:
`field 'DOWNSTREAM_REMOTE_ADDRESS' not supported as custom header`.

From my reading of the code I think the format specifiers actually are not shared - the ones for HTTP header generation can be found at https://github.com/envoyproxy/envoy/blob/294d0d73665e6a3f329c54ed641ee1f45bd9fabf/source/common/router/h

[2019-06-28 08:03] yzq789 commented on #7400
It works. Compiled stubs are so convenient, thank you !

[2019-06-28 08:03] #7400 closed

[2019-06-28 09:07] roobalimsab commented on #7413
`cluster.simple-grpc-server.external.upstream_rq_503: 3`
`cluster.simple-grpc-server.upstream_cx_connect_fail: 3`
`cluster.simple-grpc-server.upstream_rq_retry: 0`
`cluster.simple-grpc-server.upstream_rq_retry_overflow: 0`
`cluster.simple-grpc-server.upstream_rq_retry_success: 0`
`cluster.simple-grpc-server.upstream_rq_pending_failure_eject: 3`

@ramaraochavali  this is what we see, even though we

[2019-06-28 09:13] objectiser opened #7422 "tracing: General mechanism to avoid tracing health check requests"
The envoy proxy has provided a mechanism to avoid tracing health check requests for some time. The current mechanism was implemented in https://github.com/envoyproxy/envoy/pull/3578#event-1684409739.

The problem with the current approach is that the decision to not sample a health check request is made after the span is already created. This is because the decision is applied when processing the

[2019-06-28 10:39] roobalimsab commented on #7413
Works for us now with the below route policy:

[code]
Our backend is grpc. So, we were retrying on grpc status codes. But after adding `5xx` it seems to work now.
Thanks everyone.

[2019-06-28 12:45] sumukhs commented on #7417
Thanks @htuch. I'll take a look.

[2019-06-28 12:45] #7417 closed

[2019-06-28 13:34] htuch commented on #7413
@roobalimsab glad this worked out. Normally, gRPC will not 5xx, since it should only return 200 and we use gRPC status codes instead in the trailer to determine the response status. So, if your backend is 5xx'ing, then you will need a retry policy as above..

[2019-06-28 13:34] #7413 closed

[2019-06-28 13:40] htuch commented on #7396
@mthebridge ah, right; yes, I was thrown off by the fact that `header_formatter.cc` does call into access log formatter in some cases, e.g. `START_TIME`, and probably wishful thinking here.

Can you just copy+paste the access log formatter into header formatter?

Beyond this, I think we should have much more convergence of the code for access log and header format, at least a large subset can be s

[2019-06-28 14:08] htuch opened #7423 "RepoKitteh-based selective CODEOWNERS enforcement on select subtrees"
As part of the stable API versioning initiative in https://github.com/envoyproxy/envoy/issues/6271, we need to be able to ensure that @envoyproxy/udpa-wg has visibility on API changes and that @envoyproxy/api-shepherds sign-off on any API changes in the `api/` subtree.

While we make use of CODEOWNERS in GitHub to allow more permissive management of extensions and the like, this mechanism is too c

[2019-06-28 15:05] #5368 closed

[2019-06-28 17:35] mpuncel commented on #7324
bad news, we've seen crashes with 4dafba6 as well, so that means we're back to dcd7f4c..db853fd as our commit range. We're planning on getting a core dump today, probably won't be able to share publicly but will post what we find on the ticket.

[2019-06-28 17:38] mattklein123 commented on #7324
If you can share a core dump and symbols with me privately I would like to see it.

[2019-06-28 17:43] mpuncel commented on #7324
in parallel to that, I'll start bisecting that range. iterating will be slow since we need to release it in staging but may as well get the process started.

[2019-06-28 19:10] incfly commented on #6904
@PiotrSikora asked me to take a look, I go over the code and chatted with @silentdai , here're some thoughts

(scope only to why `active_listeners_` are actually not really active, and confusion in config_dump, I agree it's better to have a separate issue for independent update, will file that)

- It's unclear to us why decision on whether adding to `active_listeners_` or `warming_listeners_` depe

[2019-06-28 19:17] htuch commented on #6904
I think @asraa also bumped into something in this area the other day while developing a dynamic xDS fuzzer; there is some interaction between workers started and listener warming that can lead to a crash in early initialization phases.

[2019-06-28 19:44] asraa commented on #6904
Yes! Sort of. I set up a crash by removing a listener before worker threads are started.

I think this happens because:
1. The init manager server has a RunHelper watcher that contains a callback to start worker threads.
2. The init manager server hasn't reached an Initialized state, so it never notifies the watcher to start that callback, hence the worker threads aren't started.
3. Then, I ask to

[2019-06-28 20:14] htuch commented on #4475
One other data point here, some clients for xDS might not have proto descriptors available for all opaque extensions, as their extension architecture is JSON oriented rather than protobuf. This is certainly going to be the case for folks who use the REST-JSON API, but is also true of systems such as Google gRPC core library. We will need to provide some method to have the client indicate this for

[2019-06-28 21:47] silentdai commented on #6904
@asraa xDS fuzzer would be helpful! I am making changes to listener. Tests are breaking (including crash and expectations doesn't reach. Even with the crashing test It could be the test cases access the invalid address in the way that prod code wouldn't.
I would be much more confident on my code if I could spam envoy with kinds of config.

[2019-06-28 23:34] euroelessar opened #7425 "EDS: Can load_balancing_weight max limit be removed?"
*Description*:
We're in process of deploying Envoy and we've noticed the presence of max limit for zone/endpoint weight.
We have a need to send only a small fraction of traffic (≈0.0001) to some zones.
Examples are: validating that some zone is dead/alive, or checking if passive zone doesn't drop traffic on the floor for failover-like scenarios.

Based on the prior discussions (https://github.com/

[2019-06-29 02:39] yangminzhu commented on #7025
I think these custom operations (e.g. sha256, etc.) seems too specific to be added to jwt filter unless there is a more generic way to specify and support these custom operations and allowing it to be reused in other filters.

Maybe you could try to use a Lua filter (https://github.com/envoyproxy/envoy/tree/v1.10.0/examples/lua) to do this?

[2019-06-29 08:59] jespersoderlund commented on #1451
Will this also support responding to a CONNECT from an application?

[2019-06-30 18:20] RocIngersol555 commented on #7380
Thx. Here’s some addiotnal context and configs.

-	I’m currently running Envoy as a sidecar and it’s fronting a web app.
-	I have an OIDC identify provider and I want to pass web connections off to it for authentication (and then back to Envoy for routing etc).
-	I have a web app (listening on 9090) that will talk to my identity provider, authenticate the user and do a call back with the user toke

[2019-07-01 00:52] cgilmour commented on #7422
Just to clarify, the original problem for datadog's tracer implementation was that the sampling decision couldn't be changed after it was _propagated_. At the time, the propagation headers were injected immediately after creating the span. The fix/workaround was to delay that injection until the last moment, instead of immediately after creating the span.

Generally, I have no objection to the sam

[2019-07-01 01:10] mattklein123 commented on #3730
Closing per comment in https://github.com/envoyproxy/envoy/pull/4822. We can reopen if needed.

[2019-07-01 01:10] #3730 closed

[2019-07-01 01:11] mattklein123 commented on #7420
+1 we have lots of different idle/stream timeouts and it would be good to do an overview of them and/or also have a FAQ.

[2019-07-01 01:12] mattklein123 commented on #7396
+1 this has come up several times. cc @zuercher also.

[2019-07-01 01:13] mattklein123 commented on #4475
FWIW I think it's fine to continue to support struct/any in all cases. The code needed to support both is not large.

[2019-07-01 01:14] mattklein123 commented on #7425
Yes I think the restriction can be removed at this point. cc @htuch @mergeconflict for confirmation.

[2019-07-01 01:15] mattklein123 commented on #1451
What do you mean exactly?

[2019-07-01 02:22] gatesking commented on #7409
@YanLemon I meet the same problem, what cause this problem?

[2019-07-01 05:56] sriduth commented on #7130
Hello! if no one has picked this up / finished this yet, I can work on this.

[2019-07-01 11:07] andrewtikhonov commented on #7025
Sha256 is already implemented in envoy/common/crypto/utility.cc

[2019-07-01 12:21] hlopko commented on #6995
Seems this issue could be closed?

[2019-07-01 13:24] mattklein123 commented on #6995
Closing, thank you @keith @hlopko for driving this forward!

[2019-07-01 13:24] #6995 closed

[2019-07-01 13:27] mattklein123 commented on #7130
@sriduth go for it!

[2019-07-01 14:13] gokhansengun opened #7430 "Log error when per_connection_buffer_limit_bytes is exceed"
Envoy should log a warning or at least an info level log when the HTTP response body is over `per_connection_buffer_limit_bytes` and it produces an HTTP 500.

While debugging an issue (https://github.com/istio/istio/issues/13719) in Istio, we have had hard times in finding the root cause of an HTTP 500. It appeared to be due to `per_connection_buffer_limit_bytes`. Envoy logs did not mention the fa

[2019-07-01 14:33] asraa opened #7431 "Draining a listener before RunHelper is invoked (and crashing)"
**Draining a listener before RunHelper is invoked (and crashing)**

**Description**
I'm developing an xDS fuzzer that tests how Envoy handles sequences of dynamic xDS updates. A particular crash came up when I added a listener and then tried to remove it before the listener manager started workers on the added listeners. Removing and draining the listener requires the worker thread to exist with a

[2019-07-01 15:31] mpuncel commented on #7324
I'm an idiot, I'm pretty sure now this is the same crash in https://github.com/envoyproxy/envoy/issues/7154 which was fixed. I didn't realize this version was before the fix 🤦‍♂. Closing the issue

[2019-07-01 15:31] #7324 closed

[2019-07-01 15:34] danzh2010 commented on #6588
Below are the functions quiche needs from GURL:
 bool is_valid() const;
 bool GURL::SchemeIsHTTPOrHTTPS() const;
 bool has_username() const;
 bool has_password() const;
 bool has_path() const;
 base::StringPiece path_piece() const;
 bool has_query() const;
 bool has_ref() const;
void InitCanonical(base::BasicStringPiece<STR> input_spec,
                     bool trim_path_end);

[2019-07-01 15:47] mattklein123 commented on #7430
Sure, PRs appreciated.

[2019-07-01 15:55] s-vivien opened #7432 "Disable LuaFilter buffering"
I am using Envoy in the following scenario :

Single listener with a single lua filter.
The lua filter makes a HTTP call to a third party API, extracts some data from the response and modify upstream headers accordingly. This is what it looks like :

[code]

What I'm observing from the documentation and the code is that the lua filter is buffering the request body while achieving the httpCall. How

[2019-07-01 15:56] danzh2010 opened #7433 "re-enable QUICHE tests when boringssl FIPS support of QUIC interface"
This is for documentation purpose regarding the interface compatibility issue we encountered while bring in QUICHE code into envoy.

As of 2018 Nov, quic interface was added to boringssl: https://boringssl.googlesource.com/boringssl/+/c8e0f90f83b9ec38ea833deb86b5a41360b62b6a. And later QUICHE has changed its interface accordingly. But envoy compil-options ci build envoy with boringssl FIPS, which

[2019-07-01 15:56] mattklein123 commented on #7403
@conqerAtapple I left a few small comments but in general this is exactly what I was hoping for. I think this will be great so if you can implement that would be fantastic. @alyssawilk @antoniovicente and I can help review. Feel free to post a partial PR if you want a sanity check before working on all the tests.

[2019-07-01 17:46] conqerAtapple commented on #7403
@mattklein123 @alyssawilk @antoniovicente .Thanks for reviewing the doc. I will update the doc and add some more details this week.Can start on the initial implementation next week.

[2019-07-01 18:16] efimki commented on #7326
In first draft CL I've created a draft that adds a new Filter, 'ExtensionFilter' to AccessLogFilter.filter_specifier.

I've defined a custom MockFilterFactory that registers 'mock_filter' and HeaderFilter underneath. This appears to work, but looks a little bit clunky.

I'm wondering if it is better to change FilterFactory::fromProto to use Config::Utility::getAndCheckFactory instead of hard-coded

[2019-07-01 18:49] itayd commented on #7423
makes sense. let me figure out the timing.

[2019-07-01 18:58] mattklein123 commented on #7179
I believe this is fixed via https://github.com/envoyproxy/envoy/pull/7327

[2019-07-01 18:58] #7179 closed

[2019-07-01 20:57] yuval-k commented on #7432
not a bug: https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/lua_filter.html?highlight=secure%20naming#body

[2019-07-01 21:53] markdroth commented on #4475
We've been having a lot of internal discussion about this lately.  Here's a proposal for discussion (please feel free to shoot down) for a general-purpose solution (can be applied to all places in the xDS APIs where we need extensibility):
- The xDS APIs will use `Any` for extensibility.
- The `Any` field may be populated with either a custom type or a `Struct`.
- When making xDS requests, clients

[2019-07-01 21:59] efimki commented on #7326
Hrm, I've found @htuch article [1] that seems to suggest that AccessLog.filter field should change from AccessLogFilter with 'oneof filter_specifier' to google.protobuf.Any that gets dynamically mapped into registered filter class. Does it make sense?

1. https://blog.envoyproxy.io/dynamic-extensibility-and-protocol-buffers-dcd0bf0b8801

[2019-07-01 22:50] mattklein123 commented on #7432
I haven't looked at this code in a while, but AFAICT streaming should resume once the HTTP call succeeds. Are you sure it's not overflowing while the call is happening?

TBH I'm not sure why we are buffering in this path and not watermarking.

If you can confirm that the overflow is happening during the call, we can look into changing to watermarking during HTTP call processing.

[2019-07-01 22:55] mattklein123 commented on #6904
Please let us know if above thinking is correct or not, or we miss some historical edge/tricky context, thanks!

I would need to go back through all this code. At a high level, I agree that during the first init/boot we can/should be using the warming/active lists. I think I probably did it the way that it is initially just because it was simpler for some reason, possibly due to global init manage

[2019-07-01 23:02] mattklein123 commented on #7431
I would need to spend more time to grok this, but this is definitely a bug. Technically we should be able to remove a listener during init, and have it teardown any items it is waiting for, and continue server init. I would take a look at fixing. Happy to chat in more details about the specifics once you propose a solution.

[2019-07-01 23:06] incfly commented on #6904
Thanks @mattklein123 for your feedback.

I took another round of code scanning today, so far I haven't found anything that prevent us adding listeners to `warming_listeners_` all the time. @asraa  I think this might fix the [draining listeners](https://github.com/envoyproxy/envoy/issues/6904#issuecomment-506855183) issue as well, since listeners are waiting in the warming list, won't be drained...

[2019-07-02 00:38] canselcik opened #7441 "Trying to add linkopts, Bazel getting in the way..."
Looks like similar opinions were raised before about Bazel but I am also in the opinion that it is overall a hard ecosystem to navigate.

So much so that I am unable to have my project (derived from the `filter-example`) link with an additional system library.

For simplicity, let's say it is `curl`. I simply want to link with `libcurl.so`. I don't need to build curl from source (although I tried

[2019-07-02 00:39] incfly commented on #7431
/cc @incfly

[2019-07-02 02:20] YanLemon commented on #7410
1、start or stop firewalld，the dns lookup will resolve fail for a while ,and then back to normal.
2、start firewalld,the envoy will close the socket (for DNS request)
3、There are some phenomena when stop the firewalld:
1) stop the fiewalld, the same source port (same as the port before stop firewalld ) can receive DNS response
2) stop the fiewalld,the same port has no response from dns
3) stop the f

[2019-07-02 02:44] mattklein123 commented on #7441
Presumably since you are trying to link against a system library, you have private code. You can define your own binary target like so and pass whatever linkops you want. E.g.,

[code]

[2019-07-02 03:04] canselcik commented on #7441
Thanks @mattklein123, that was actually the first thing I had tried but that had resulted in an obscure Bazel error so I had figured the `envoy_cc_binary` wrapper didn't accept a list of `linkopts`. Turns out it was something else. Perhaps my `bazel clean --expunge` from earlier addressed something.

Thanks for the quick response.

[2019-07-02 03:04] #7441 closed

[2019-07-02 07:46] s-vivien commented on #7432
The watermarking seems to start *after* the http call. Here is a snippet of the whole request logs (I didn't mention it in the first place, but I also have a envoy_on_response function in my lua script) :

[code]

FYI, I have this parameter in the listener configuration :
`per_connection_buffer_limit_bytes: 2049264`

How is watermarking any different from buffering ? The result (time-wise) is the

[2019-07-02 07:52] s-vivien commented on #7432
The watermarking seems to start *after* the http call. Here is a snippet of the whole request logs (I didn't mention it in the first place, but I also have a envoy_on_response function in my lua script) :

[code]

FYI, I have this parameter in the listener configuration :
`per_connection_buffer_limit_bytes: 2049264`

How is watermarking any different from buffering ? The result (time-wise) is the

[2019-07-02 08:09] derekargueta commented on #6199
I'd imagine we want to preserve the original casing, i.e. for logging, and just make the comparisons case-insensitive, no?

[2019-07-02 08:14] PiotrSikora commented on #6199
I'd just lowercase everything, but I don't feel too strongly about it.

[2019-07-02 08:36] gokhansengun commented on #7430
Yeap, hopefully coming soon.

[2019-07-02 12:56] MilgoTest commented on #6608
May you please post your working config? I'm having the same problem but can't figure out how to get a 200 response for an OPTIONS request.

[2019-07-02 14:15] daganibhanu commented on #3404
I'm trying to build envoy docker image for which I'm creating a binary first from source code, with Boring SSL FIPS.

I'm following the approach given in https://github.com/envoyproxy/envoy/tree/master/ci

Since boring SSL is built and linked during envoy built process, I'm passing the required flag  _--define boringssl=fips_ in the build options as below

IMAGE_NAME=envoyproxy/envoy-build-ubuntu

[2019-07-02 15:46] mattbailey commented on #6608
@MilgoTest 	Sorry! Did the worst thing ever: "I fixed it, but not gonna post how"

[code]

[2019-07-02 16:31] #6482 closed

[2019-07-02 17:13] silentdai commented on #6904
I see the same same issue that global init manager is not yet initializing when the registered targets are ready.

My solution is to add a `ready` flag for InitTarget, so that if the target is ready when initializing, the init manager invoke additional ready().

It might be reasonable to make `ready` an internal state in `InitTarget`. @mattklein123  Do you think a InitTarget that support invoke "r

[2019-07-02 17:47] mattklein123 commented on #6904
IIRC the way this is handled today is that the target should just immediately call the ready callback if it's ready. I believe this is done elsewhere. If that is not working I think we should debug why?

[2019-07-02 18:21] kyessenov commented on #173
We would like to pass additional metadata to the upstream endpoint per individual connections. Ideally, we want to share the work between HTTP and TCP filters. HTTP filters apply per individual requests, so we don't have a good way to inject extra stuff per upstream connection for HTTP filters. For TCP, we have a similar problem of re-using upstream connection for downstream connection which preve

[2019-07-02 20:21] PiotrSikora commented on #3404
Try with `BAZEL_BUILD_OPTIONS` passed to the command executed inside Docker:
[code]

[2019-07-02 20:35] #7425 closed

[2019-07-02 21:08] stevenzzzz commented on #7132
not dead yet.

[2019-07-02 21:28] silentdai commented on #6904
https://github.com/envoyproxy/envoy/blob/e1450a1ca006f7d8b118a63b0f7e30be2639b881/source/common/init/target_impl.h#L71
If the comment is true, InitManager should never knew if the ready() is invoked before.

I can add another Target impl as so far I am the one who really need it. I believe this logic could simplify the existing code as well.

[2019-07-02 21:47] mattklein123 commented on #6904
I'm not sure that comment is correct. IIRC a target can just call ready() from within the initialize callback, which presumably it can do if it's already ready. cc @mergeconflict who recently worked on this code and should be able to comment.

[2019-07-02 21:56] yxue opened #7454 "Load balancer fallbacks to another cluster"
<del>When using EDS to update the endpoint configuration dynamically, DNS resolution is not allowed for hostname in EDS response, as [the comment](https://github.com/envoyproxy/envoy/blob/1ca1d13941a14b8fa09ea839d6e936ec32e914b6/api/envoy/api/v2/endpoint/endpoint.proto#L29) says:
</del>

  //   it is expected to be a direct IP address (or something resolvable by the
  //   specified :ref:`resolver

[2019-07-02 22:26] PiotrSikora commented on #7454
I'm pretty sure that's by design - if you want to use DNS, then stick to `STRICT_DNS` or `LOGICAL_DNS` clusters.

Going back to the real problem at hand (i.e. fallback to external service if all local endpoints are down), then I believe that the real solution is fallback to another cluster, and not hacking EDS. Notably, the fallback service might have very different settings (TLS certificates, tim

[2019-07-02 22:41] mattklein123 commented on #7454
+1 to what @PiotrSikora said. If you want DNS I would deliver a DNS cluster over CDS.

[2019-07-02 23:00] yangminzhu commented on #7025
Sorry I did't mean `sha256` is specific or there is any problem of supporting `sha256` in the code, the problem is how to support this properly in the filter API so that it's not a solution that only works for some specific use cases.
For example, what if the other user want to use a hash algorithm other than `sha256` or the other user want to do some preprocessing and only use part of the the coo

[2019-07-02 23:09] mergeconflict commented on #6904
@mattklein123: @silentdai is right. If `initialize` hasn't yet been called on a given target, it won't have a `watcher_handle_` (set [here](https://github.com/envoyproxy/envoy/blob/master/source/common/init/target_impl.cc#L28) and checked [here](https://github.com/envoyproxy/envoy/blob/master/source/common/init/target_impl.cc#L43)), so nothing will happen. I sort of like @silentdai's idea of addin

[2019-07-02 23:12] mattklein123 commented on #6904
Sorry what I'm suggesting is to just immediately call `ready()` within the call stack of the `initialize()` call. That will work, right?

[2019-07-02 23:19] mergeconflict commented on #6904
Oh, my bad, I forgot to address your comment. That's one of the use cases I originally intended, and it does work (see e.g. [this test](https://github.com/envoyproxy/envoy/blob/master/test/common/init/manager_impl_test.cc#L18)), but I'm assuming that @silentdai has some use case where he _has to_ call `ready()` before `initialize()` is called. Is that right?

[2019-07-02 23:40] crazyxy commented on #7454
I misunderstand the requirement just now. I updated the description.

[2019-07-03 03:41] incfly commented on #6904
Back to the original issue, I talked with @silentdai and now have more understanding.

- I learned the current implementation is to ensure, Envoy's initial config can be initialized before serving any traffic, thus starting from a known good state. That's probably why we use global init manager to `startWorkers`, and add listeners to `active_listeners` to block the workers threads start. So as @ma

[2019-07-03 07:35] siepkes commented on #7316
After some digging and conversing with one of the libevent authors it has become clear to me that as a libevent user I should never see the EAGAIN (should be handled in the `event_base` implementation). See the relevant part of my mailinglist conversation [mailinglist entry](https://archives.seul.org/libevent/users/Jun-2019/msg00005.html):

So this was a wrong interperation on my part; I thought g

[2019-07-03 07:35] #7316 closed

[2019-07-03 12:36] daganibhanu commented on #3404
@PiotrSikora Yeah, Thank you.

[2019-07-03 16:34] mattklein123 commented on #4128
I think this is done so I'm going to close this. Let's open smaller issues if there is further work to do.

[2019-07-03 16:34] #4128 closed

[2019-07-03 16:35] mattklein123 commented on #4543
Is this still an issue for anyone watching this issue? I investigated and I couldn't find anything obviously wrong. It's possible this has been fixed somehow along the way.

[2019-07-03 16:37] mattklein123 commented on #4704
@AndresGuedez is this issue done or is there further work to do?

[2019-07-03 16:37] mattklein123 commented on #4991
@fredlas @htuch what's the current status of this issue?

[2019-07-03 16:40] mattklein123 commented on #6876
This is done.

[2019-07-03 16:40] #6876 closed

[2019-07-03 16:42] fredlas commented on #4991
#7293, which depends on #7108, will be marking this issue fixed. As for the nice-to-have "Unify implementations (including aggregated) of state-of-the-world and delta" checkbox item, I have some not-yet-in-PR code written up that will accomplish that cleanly and simply.

[2019-07-03 16:56] mattklein123 commented on #6904
We definitely have to block server start so we must use the global init manager. That can't change. However it would definitely be possible to make the code more complex and switch to using both the warming/active lists, and make sure that we take care of removal correctly during global init. This is definitely a bug and we should handle it. (This is the issue @asraa is seeing.)

Personally, I wou

[2019-07-03 16:59] #7240 closed

[2019-07-03 17:11] andrewtikhonov commented on #7025
Yangmin, what am I doing wrong ? I'm doing JWT auth and want payload to be in the dynamicMetadata() (see payload_in_metadata: "my_payload") so that the lua filter after jwt_auth can check the token payload. Before JWT_auth filter I capture some headers using another lua filter so that the arguments can be reconstructed.

Problem:
I'm getting "nil", dynamicMetadata() contains only my map with recor

[2019-07-03 17:25] mattklein123 commented on #7454
This came up recently and I thought we already had an issue on this but I can't quickly find it.

I don't think there is going to be any easy way to do this, especially if you want support across both TCP and HTTP. For HTTP we could likely do this via some type of retry plugin and allow the router to target a different cluster on retry. For TCP I suppose we could do something similar also.

It mig

[2019-07-03 17:38] asraa commented on #7431
OK, so I think there are two fixes:

1. If we do switch to using both active/warming lists, the problem would be solved. removeListener will just just directly destroy a warming listener, no resulting crash.
2. We could just check if workers have been started before try to drain listeners on each worker thread. This has the benefit of keeping the active_listener logic. I think this is fairly safe

[2019-07-03 17:41] crazyxy commented on #7454
Are you referring this issue? https://github.com/envoyproxy/envoy/issues/7135#issue-451246689

I opened that issue for introducing opportunistic encryption. Due to security issue, @PiotrSikora suggested to close that one.

Between retry for HTTP/TCP and aggregate cluster, the latter seems to be more interesting and promising to me.

[2019-07-03 18:15] huang195 opened #7462 "Need help configuring Envoy as both a proxy and a reverse proxy"
I have 2 machines, A and B. I've configured all of A's traffic to be routed to B. On B, I have Envoy running, which I'd like to use to proxy A's traffic to the outside world. Additionally, A runs a service, for which I'd like to have B to act as a reverse proxy.

I can configure Envoy to either act as a proxy or a reverse proxy, but I'm having problem configuring it acting as both at the same time

[2019-07-03 18:52] daganibhanu commented on #3404
@PiotrSikora,

when ran `IMAGE_NAME=envoyproxy/envoy-build-ubuntu http_proxy=http://proxy.foo.com:8080 https_proxy=http://proxy.bar.com:8080 ./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.compile_time_options'
`

I'm getting the following error,

`ERROR: /build/tmp/_bazel_bazel/436badd4919a15958fa3800a4e21074a/external/boringssl_fips/BUILD.bazel:27:1: Executing genrule @boringssl_fips`

**here is t

[2019-07-03 19:12] AndresGuedez commented on #4704
@stevenzzzz is working on two more PRs for this: #7451 is out for review now.

[2019-07-03 19:21] seguidor777 commented on #7351
Just tried with Google C++ client for calling the RLS, but it's the same
Too many failures

[2019-07-03 19:28] #7462 closed

[2019-07-03 21:09] snowp commented on #7454
I think aggregate cluster + aggregate LB might be the easiest way to accomplish this, passing information in the LB context that can influence the decision of which cluster/lb to select. That way it would be fairly easy to reuse for multiple proxy filters (router, tcp_proxy, etc.)

[2019-07-03 21:25] danzh2010 opened #7465 "network: UdpListener stops abruptly"
ConnectionHandlerImpl::stopListeners() destroy the listener instance immediately to stop listening. This works for TcpListener which only listens for new connections, and existing connections have their own sockets registered in scheduler. But UdpListener has only one socket for all the I/O. If the UdpListener was destroyed, the existing UDP traffic will just stop. It is fine if the UDP traffic is

[2019-07-03 21:33] danzh2010 commented on #7465
Same issue also exists in UdpListener::disable/enable()

[2019-07-03 22:43] mattklein123 commented on #7465
@danzh2010 quick comment that it would be optimal to integrate this with the existing drain manager interface/system. I would have a look at that. I can also help a bit with design once we are ready to implement.

[2019-07-03 22:57] silentdai commented on #6904
@mergeconflict Yes, I have one use case. I have subscription callback(more precisely the filter chain update) as a dependency of listener warm up, which indicates it should register as a target.
I don't want to couple the subscription with listener initialization (which is only late initialized at server start up but not in other cases). A new target implementation would be working like a charm.

[2019-07-03 23:19] seguidor777 commented on #7351
Any help?

[2019-07-03 23:26] mattklein123 commented on #7431
@asraa I don't think I follow the second part of your comment above. What does adding a new route and adding a listener to a new route mean?

[2019-07-03 23:44] silentdai commented on #7431
My understanding is that `adding new route` indicates all the dependencies of the listener are ready
I start to understand why the listener was put in active at the server start up: As all the conceptual dependencies(targets) are added to the server init manager instead of the listener's `dynamic_init_manger`, the listener was born as active.

[2019-07-03 23:46] mattklein123 commented on #7431
What is a "new route"? You mean an RDS route table?

[2019-07-03 23:52] mattklein123 commented on #7173
Fixed

[2019-07-03 23:52] #7173 closed

[2019-07-04 00:11] silentdai opened #7467 "Does any filter need addListenSocketOption[s]?"
ListenerFactoryContext::addListenSocketOption[s] is [here](
https://github.com/envoyproxy/envoy/blob/master/include/envoy/server/filter_config.h#L174-L181)

I search this repo and no filter is using it. ListenerImpl itself implements `addListenSocketOption` but it doesn't mean this function should be exposed to `ListenerFactoryContext`

If no known use cases we should keep the code base simple by

[2019-07-04 02:06] Yikun commented on #7320
@lizan As we talked F2F in KubeCon Shanghai, the team prefer to use a CI without any extra comments.

And I add a demo to show what the no comments check looks like, and it can be found in https://github.com/theopenlab/envoy/pull/6.

And what we need to change in Envoy is that, change the `check` to `check-no-comments` [1]. If we don not have other question, I will submit a PR. : )

[1] https://gi

[2019-07-04 02:53] lavignes commented on #5215
Bumping to keep this alive. Its almost done! Pending #7303 and a final PR dependent on it.

[2019-07-04 06:45] ramaraochavali commented on #4543
It is possible that it might have been resolved along the way - We can close this and possibly revisit if someone complains about it.

[2019-07-04 07:00] zyfjeff opened #7468 "Hot restart lead to the abnormal exit of the new process"
*Title*: *Hot restart lead to the abnormal exit of the new process*

*Description*:

During the hot restart, the new Envoy process will start a timer to send `sendParentTerminateRequest` messages after taking over the traffic. but if the parent process quits early, can lead to ` sendParentTerminateRequest ` trigger RELEASE_ASSERT send failure, this kind of behavior is unacceptable, because the new

[2019-07-04 12:11] daganibhanu commented on #3404
The above issue is solved by setting the proxies inside `boringssl_fips.genrule_cmd` file. Don't know why previously passed proxies were ignored.

[2019-07-04 14:31] alanconway commented on #173
My workaround is https://github.com/envoyproxy/envoy/pull/6173. I feel that is still a viable PR but it needs to be updated. I've had a change in circumstances so don't have much time to give to it.

[2019-07-04 20:09] #7035 closed

[2019-07-05 03:09] #7073 closed

[2019-07-05 14:51] Kupstas commented on #5920
@alyssawilk if I can't use `envoy.http_connection_manager` how can I set certain filters to routes. For example is some routes I need use lua filter but as I understood I can't do it through many `envoy.http_connection_manager`

[2019-07-05 16:07] jwm commented on #5174
We came across this problem with Ambassador. We're doing blue/green deploys by creating a new namespace for each deploy, which introduces a new `Cluster` each time.

Ambassador's Ambex ADS service feeds the clusters, then listeners. When Envoy receives the listeners, the corresponding cluster isn't warm yet, causing 503s from attempts to route requests to the unknown cluster.

For now, we're using

[2019-07-05 16:55] mattklein123 commented on #7468
This should never happen, the parent process should never terminate early. The hot restart code is written to assume that any deviation from the normal process puts things into an inconsistent state and everything should come up from scratch. Why is the parent process terminating?

[2019-07-05 16:56] mattklein123 commented on #7467
I think this is being used by filters external to the tree.

[2019-07-05 17:00] mattklein123 opened #7474 "Coverage build no longer covers headers"
@htuch I know you mentioned this but do you know when this regressed? cc @lizan. It would be great to get this fixed next week.

[2019-07-05 17:03] mattklein123 commented on #5920
See https://github.com/envoyproxy/envoy/issues/6824

[2019-07-05 17:19] Kupstas commented on #6824
What about this issue? I think many people needs this opportunity

[2019-07-05 23:10] jmarantz opened #7476 "stats: potential race between Gauge mergeImportMode and value-setting"
During debug of an earlier issue, @mattklein123 and I stumbled on a potential race for Gauges, where we may race between Gauge::mergeImportMode, which can clear `value_`, and any of the value_-updating methods.

[2019-07-06 08:25] zyfjeff commented on #7468
@mattklein123 parent process may be prematurely quit due to bugs, or be killed by mistake, but in any case, the child process has taken over traffic, can work normally, and should not quit.

[2019-07-06 10:09] zqzzq opened #7480 "is it possible to build envoy in mips64 platform"
my host is mips64 platform with linux:
[code]
and the bazel has already supported mips64:
[code]
but when I build istio-proxy(envoy) I encountered this error:
[code]
Does this error mean that I need to change the source code to add a toolchain for mips64?

[2019-07-06 10:14] #7085 closed

[2019-07-06 11:14] #7086 closed

[2019-07-06 20:13] mattklein123 commented on #7468
IMO it's not worth it to add the extra complexity of potentially inconsistent state between parent and child. I would recommend fixing whatever bug is causing the parent to shutdown early. We have run hot restart like this at Lyft for many years without any issues with inconsistent state.

[2019-07-07 05:32] jpeach opened #7482 "Envoy build fails on Fedora 30"
*Title*: Envoy build fails on Fedora 30

*Description*:
envoy fails to build on Fedora 30. There are multiple issues, but the main blocker is that it doesn't appear to correctly link with libstdc++.

*Repro steps*:

Use this Dockerfile to create a F30 build environment:
[code]

Initial compilation with gcc 9.1.1 20190503 fails due to a compiler warning. I wasn't able to find a method to turn off `

[2019-07-07 05:37] jpeach commented on #7482
Bazel 0.27.1

[code]

[2019-07-07 06:14] #7084 closed

[2019-07-07 09:58] s-vivien commented on #7432
I made more in-depth tests, and it appears that my bottleneck is not related to Envoy, but rather to Kubernetes.

I isolated Envoy from Kubernetes and compared upload times both in direct upload, and via Envoy. The statistics were basically the same.

Sorry for the inconvenience !

[2019-07-07 09:58] #7432 closed

[2019-07-07 21:45] #6098 closed

[2019-07-08 07:42] musaprg commented on #7411
gRPC-JSON Trancoder supports requests with only JSON format, not multipart/form-data.

According to docs below, bytes seem to be interpreted as a base64 string. If you want to send bytes data, you must convert it base64 and send with JSON format.

https://developers.google.com/protocol-buffers/docs/proto3#json

[2019-07-08 07:52] musaprg commented on #7411
see also: https://github.com/envoyproxy/envoy/issues/7007

[2019-07-08 08:01] aclowkey opened #7484 "Force trace from outside"
I noticed that `x-envoy-force-trace` can only be used for internal requests.
How can I initiate the request from outside?

I'm using GCP as a load balancer, maybe propagate `X-Cloud-Trace-Context`?

[2019-07-08 10:23] cyxddgithub opened #7486 "tools: compilation database generation fails"
Title: tools/gen_compilation_database.py fails. (not same as [#6172](https://github.com/envoyproxy/envoy/issues/6172))

Description:
i try to gen compilation database for vscode in mac
bazel version 0.22.0
envoy tag 1.10.0

[optional *Relevant Links*:]

Repro steps:

get the error:
ERROR: Analysis of aspect '//bazel-compilation-database-0.3.2:aspects.bzl%compilation_database_aspect of //api/envoy/

[2019-07-08 13:09] asraa commented on #7431
Ah, sorry. I meant an RDS configuration, yes. By adding a listener to a route, I meant adding a listener that references that route.

I think the listener is added as active because of workers_started_ being false:
https://github.com/envoyproxy/envoy/blob/eefcd0e6fcbeba446454bd5396a34c69348338eb/source/server/listener_manager_impl.cc#L574-L580

[2019-07-08 13:13] alyssawilk commented on #7484
When you ask how you can initiate a request from the outside, you mean how can you force a trace from the outside?

If you're on GCP, I believe XFF should be set to the originating IP, so if you request is issued from a trusted IP and you have the trusted hops set up correctly it should "just work".  The XFF docs may help you with setting that up cleanly: https://www.envoyproxy.io/docs/envoy/lates

[2019-07-08 13:17] alyssawilk commented on #7486
Hm, works locally for me so without digging I'd suspect a platform-specific problem - we've had VSCode breaks before as you've noted.  Just as a sanity check you are running with --vscode as required by @ipuustin 's fix?

[2019-07-08 13:43] mthebridge commented on #7396
It's a bit of a pain to "just copy+paste", because at the moment I'm using the envoy binaries directly and was trying to avoid the need to fork and re-compile.  If I can get the time I might look at sending a PR, but no promises.

[2019-07-08 14:52] sibendu opened #7487 "Envoy sidecar proxy not working for gRPC service"
**Issue Template**

*Title*: Envoy sidecar proxy not working for gRPC service

*Description*:
I have deployed a gRPC service (built in Java) on K8S with a envoy sidecar. When another services calls this service directly as a gRPC client, it works. However, as I configure the client service to calls through the envoy sidecar proxy, it gives error : RPC failed: Status{code=UNAVAILABLE, description=u

[2019-07-08 14:56] elevran opened #7488 "Feature request: allow duplicate Set-Cookie values as separate header lines"
*Title*: allow response to include multiple `Set-Cookie` header lines

*Description*:
Per HTTP RFC's a response may include multiple `Set-Cookie` header lines.
Some client enforce this by ignoring all cookies but the first cookie when the 'Set-Cookie` header is defined as a comma-separated list [i.e., #(values)].

My understanding of Envoy's code, is that calling `addCopy()` on the headers will fi

[2019-07-08 15:26] conqerAtapple commented on #7403
@mattklein123 @alyssawilk Had a question before I start the implementation: Looks like `ProdClusterManagerFactory::allocateConnPool` has the ability to fetch a Http1 connection pool if `upstream.use_http2` feature is disabled. Isnt this what we would use if we just cared about 1 request/stream per upstream  connection ?

[2019-07-08 15:43] moderation commented on #7486
@cyxddgithub Bazel 0.22.0 is quite old and predates Envoy 1.10.0 which was released on April 5 (which fell between the release dates of Bazel 0.24.1 and 0.25.0). It may be too old for the version of bazel-compilation-database included I would try using the latest Bazel 0.27.1.

[2019-07-08 16:53] alyssawilk commented on #4622
Closing - per #6271 we can reopen once we cut the new API version.

[2019-07-08 16:53] #4622 closed

[2019-07-08 16:53] alyssawilk commented on #4618
Closing - per #6271 we can reopen once we cut the new API version.

[2019-07-08 16:53] #4618 closed

[2019-07-08 16:54] alyssawilk commented on #2901
Closing - per #6271 we can reopen once we cut the new API version.

[2019-07-08 16:54] #2901 closed

[2019-07-08 17:04] mattklein123 commented on #7403
I think we are talking about 2 things here. If you want to use HTTP/1.1 just use HTTP/1.1. :)

[2019-07-08 17:07] conqerAtapple commented on #7403
Yes looking at the code in detail, the connection pool for Http/1 is coupled with its codec.  I thought /was-hoping that i could use http1 connection pool policy with http2 codec. So yea i guess it wont work.Thanks!

[2019-07-08 17:11] cyxddgithub commented on #7486
tks for reply and i try with --vscode still not work error like this:
ERROR: Analysis of target '//api/envoy/admin/v2alpha:clusters_cc' failed; build aborted: no such package 'envoy/type': BUILD file not found on package path
ps:how can i debug the error's reason

[2019-07-08 17:14] mattklein123 commented on #7431
@asraa listeners don't get added to an RDS route table, it's the inverse. Meaning, a listener may block init waiting for an RDS route table to load.

[2019-07-08 17:16] cyxddgithub commented on #7486
tks for help. i read [this blog ](https://github.com/indrayam/nerd-notes/blob/master/cncf-apps/envoy.md#build-envoy-on-macos-mojave-10145) as it said need the 0.22.0 bazel version. before read it, i try the last version bazel installed by brew still not work. so can you teach a blog for mac local environment for vscode/clion and setting the compilation database. that must by amazing

[2019-07-08 17:34] htuch commented on #7454
Here's a Wild-and-Crazy-Idea; configure a listener on the Envoy process itself as a fallback in EDS, and have this listener TCP proxy to a DNS discovered cluster. This comes at some operational and CPU cost, but avoids having to build a massively complicated aggregated cluster type and LB, while providing the flexibility to do complicated fallback for the rare cases it is needed.

[2019-07-08 18:16] alyssawilk commented on #7488
I'd be fine with either a one-off or general improvements to Envoy to not always combine headers.  I think the latter would need to be permanently config guarded where if we just special cased cookies we could runtime guard (just in case it was problematic) and remove the old behavior after roll-out (as it looks recommended by the spec).
Alternately a hacky (but easy, but not guardable) workaround

[2019-07-08 18:17] alyssawilk commented on #7487
You might get more detail if you run your instance with "-l trace", which dumps a bunch of debug information.
Alternately @lizan may have some gRPC specific debug tips

[2019-07-08 20:50] silentdai commented on #7467
At the following steps of filter chain discovery service which allows filter chain update without recreate the listener, it's critical to know that if the listener modular filter chain is remaining the same.

One example: if a newly added filter chain need to change the ListenSocketOption, the listener need to created.
Previously a listener is always created so the `addListenSocketOption` as `List

[2019-07-08 21:33] mattklein123 commented on #7467
@silentdai fundamentally, I think `addListenSocketOptions` should only be allowed to be called by listener filters, and not network filters, otherwise I don't think it makes any sense. So we might have to look at a change there? I can't imagine this is being used outside of listener filters. Can you look at who added this originally and ask them? I'm guessing @jrajahalme or @klarose?

[2019-07-08 21:39] htuch commented on #4475
I think fundamentally, it's reasonable to expect a maximal management server to possess the proto descriptors, as these are necessary for REST-JSON support. At the same time, as you point out, we want to support the management servers + clients that can work in a pure Any world without any knowledge of the descriptors at the management server. At this point, I think the main question is whether we

[2019-07-08 22:31] markdroth commented on #4475
Good question.  I think this raises the issue of how clients react on errors (not just for this particular issue, but actually any time the streaming call fails, regardless of why).

In cases like this where there is a streaming call that the client is trying to basically always have open, what we generally recommend is that the client automatically retry the call whenever it fails, with appropria

[2019-07-08 23:29] l8huang opened #7500 "Creating thread local cluster with LoadBalancerType::OriginalDst can't find its ClusterData in active_clusters_ and crash"
*Title*: *Creating thread local cluster with `LoadBalancerType::OriginalDst` can't find its ClusterData in active_clusters_ and crash*

*Description*:
In our k8s+Istio environment, sometimes Envoy crashes when constructing `ClusterManagerImpl::ThreadLocalClusterManagerImpl::ClusterEntry::ClusterEntry` which type is `LoadBalancerType::OriginalDst`. It tried to look up its ClusterData in `active_clu

[2019-07-08 23:32] silentdai commented on #7467
Agree!

Will look into the git history. Thanks!

[2019-07-09 00:11] silentdai commented on #7486
It was bazel 0.22.0 probably because that is the latest bazel version at that moment. Mine is 0.26 and it works well(sorry mine is not mac)

I didn't see this tag on github. Is it your own branch?

[2019-07-09 00:41] alexjames opened #7501 "Making outbound http requests from a filter"
Title: Making outbound http requests from a filter

Description:
I'm trying to write a Google OAuth 2 filter which requires me to make an outbound HTTP call to www.googleapis.com with the token so as to parse the token's information. I can't seem to find a generic http library in Envoy which allows me to do that. I looked at `Http:AsyncClient` and it seems that it requires specifying a cluster. I'

[2019-07-09 01:24] incfly opened #7502 "BAZEL_BUILD_OPTIONS and BAZEL_EXTRA_BUILD_OPTIONS is ignored"
**Issue Template**

*Title*: *User provided BAZEL_BUILD_OPTIONS and BAZEL_EXTRA_BUILD_OPTIONS is ignored*

*Description*

[ci/README.md](https://github.com/envoyproxy/envoy/blob/master/ci/README.md#building-and-running-tests-as-a-developer) instructs developers can customize the build options with BAZEL_BUILD_OPTIONS environment variable.

However based on the [implementation](https://github.com/e

[2019-07-09 01:33] htuch commented on #6592
@yanavlasov did you have some further thoughts on how to externalize your audit work?

[2019-07-09 01:43] htuch commented on #6588
@danzh2010 do you have a plan-of-record for obtaining these? This is essentially what we pulled from Chromium URL: https://github.com/envoyproxy/envoy/blob/8cef5e32805324c7942653928deb28c9b9851b52/source/common/chromium_url/url_canon_path.cc#L412

[2019-07-09 02:51] cyxddgithub commented on #7486
sorry it's a typo. tag is 1.10.0. tks for reply i will try 0.26

[2019-07-09 04:49] aclowkey commented on #7484
Yes, I want my clients to be able to force traces from outside.
I managed to get to do this using `x-client-trace-id`, but then the clients have to generate it. I would prefer something similar to `x-envoy-force-trace: true`, and have envoy generate all necessary ids

I tried getting it to work outside of GCP with no success so far.
I have a simple set up of envoy to httpbin, all in docker. I've s

[2019-07-09 04:55] sibendu commented on #7487
@alyssawilk  thank you for looking into it. I had my config wrong. Now it is working.
Regards.

[2019-07-09 05:08] sibendu commented on #7487
Here is the corrected one, in case anybody comes across same:

static_resources:
  listeners:
  - address:
      socket_address:
        address: 0.0.0.0
        port_value: 8980
    filter_chains:
    - filters:
      - name: envoy.http_connection_manager
        config:
          codec_type: auto
          stat_prefix: ingress_http
          route_config:
            name: local_route

[2019-07-09 05:08] #7487 closed

[2019-07-09 06:18] danfe opened #7504 "Wrong type for lengths/sizes in source/common/buffer/buffer_impl.*"
Currently, `source/common/buffer/buffer_impl.{cc,h}` use `uint64_t` to hold various lengths and sizes, while the correct type is `size_t`.  On 64-bit systems, they are the same 64-bit unsigned type, but on 32-bit machines (where `size_t` is 32-bit, because it's impossible to address more than 4GB) they are incompatible, which breaks the build on i386.  This would also likely allow to remove a few

[2019-07-09 11:11] ravikumarkgit commented on #1606
Any updates on this @mattklein123

[2019-07-09 13:20] alyssawilk commented on #7502
cc @htuch @lizan @jmillikin-stripe

[2019-07-09 13:24] rojkov commented on #4445
Just in case somebody wants to experiment with my branch implementing the described use case here are the sample configs.

Config for HTTP request entry which compresses request body and decompresses response body:
[code]

Config for HTTP request exit decompressing request body and compressing response body
[code]

And if you need to decompress gzip'ped response  and compress it again but with bro

[2019-07-09 13:27] alyssawilk commented on #7501
Hm, I agree that async client is pretty tied to cluster.

Without doing much digging I'd assume that Google has a gRPC API for what you're doing, and that'd probably be the easiest way to get this working.  You can see other examples of filters doing gRPC side calls, like the oath filter.

If that doesn't work I think this will require some code changes.  Last month I probably would have suggested

[2019-07-09 13:35] alyssawilk commented on #7500
I'm not 100% sure who could best look into this.
@jrajahalme or @ramaraochavali would either of you be able to check this out?

[2019-07-09 13:51] mattklein123 commented on #7501
They way I would typically suggest doing this is to setup a logical_dns cluster for www.googleapis.com and then use that via async client. This is probably what you want given that all DNS resolution will then happen asynchronously. However, like @alyssawilk said, with the forward proxy work now well along, it probably would not be that difficult to get that working in the context of async client,

[2019-07-09 14:41] alyssawilk commented on #7484
And also to sanity check, you do have your config so those addresses you're sending trace headers from are in the InternalAddressConfig?

It looks like there's not a lot of logging around final remote address.  If you're running from head, and could spin up an instance with trace logging, I wouldn't mind adding some trace logging around that area of the code - I think it'd be generically useful fo

[2019-07-09 15:24] stevenzzzz opened #7508 "[XDS] resolve the inconsistency treatment of parse-error vs validation-error in XDS onConfigUpdate(resources, version) API."
**Issue Template**

*Title*: Fully reject (reject-all) on parse-error or PGV validation-error in the "old" CDS onConfigUpdate(resources, version) API.

*Description*:

In the new CDS impl, the old "status-of-the-world" onConfigUpdate(resources, version) calls the delta form onConfigUpdate(added_resources, removed_resources, version) API, by splitting the "resources" into "added_resources" and "rem

[2019-07-09 15:25] stevenzzzz commented on #7508
loop in @fredlas for discussion.

[2019-07-09 15:27] klarose commented on #7467
Looks like it came in before I started working on the src transparency stuff: https://github.com/envoyproxy/envoy/commit/725457cbeca5e49563da3787b424d2f564ec7e9e.

[2019-07-09 15:29] htuch commented on #7508
We need to be consistent across all xDS here as well. I would love to be able to have some generic code handle this (appropriately templated) to avoid having each xDS make the same mistake.

[2019-07-09 15:30] stevenzzzz commented on #7508
sure thing, I will go through all the API impl to have a consistent behavior, there is actually a TODO I am leaving in PR https://github.com/envoyproxy/envoy/pull/7451 about it.

[2019-07-09 15:52] htuch commented on #7380
Do you know what your auth provider is returning to Envoy?

[2019-07-09 15:53] htuch commented on #7326
As discussed offline, following the existing pattern of typed/untyped for this extension point in the v2 API makes sense.

[2019-07-09 16:33] mattklein123 commented on #7488
I agree the hack of removing from inline headers would probably get the job done. As long as we leave sufficient comments and have tests I would be OK with that. Agreed that everything else is a bunch more work. Would be curious to hear first from @PiotrSikora on the RFC side of this.

[2019-07-09 17:32] htuch commented on #7502
You need to set these in the Docker environment, probably something like:
[code]

[2019-07-09 17:51] incfly commented on #7502
I tried that, but still can't pass valid bazel option to the build,

[code]

This stops as same as fuzzy-flag above. Adding echo print
${BAZEL_BUILD_OPTIONS} indicates the `--define` is not passed.

On Tue, Jul 9, 2019 at 10:32 AM htuch <notifications@github.com> wrote:

[2019-07-09 17:54] l8huang commented on #7500
I added a simple test case to test/integration_test.cc to reproduce this issue(that's `CdsClusterCreateDelete ` in commit https://github.com/l8huang/envoy/commit/279ae5ff089b83757435ba1f8ca362419c7285f4):

[code]

I'm trying to make a patch to fix this issue in a reasonable way(I would try to use defensive code firstly), if you have any suggestion please kindly let me know ;)

[2019-07-09 18:10] alyssawilk commented on #7504
I think this would be fine to fix (and please do so if it's causing you problems).  I suspect we're likely to have i386 regressions unless we set up a 32-bit CI build.

[2019-07-09 18:46] silentdai commented on #7467
@klarose Yes `addListenSocketOption` was not introduced earlier. However, in https://github.com/envoyproxy/envoy/commit/725457cbeca5e49563da3787b424d2f564ec7e9e
1. `ListenerFactoryContext` doesn't need `addListenSocketOptions`, it is the `Listener` who need it. `Listener` should implement this function but not because of `ListenerFactoryContext`
2. What I am trying to achieve is that NetworkFilter

[2019-07-09 18:47] htuch commented on #7502
Yeah, this needs to be `${BAZEL_BUILD_EXTRA_OPTIONS}` as consumed by https://github.com/envoyproxy/envoy/blob/master/ci/build_setup.sh#L72.

[2019-07-09 19:06] danfe commented on #7504
Yup, it should be fixed.  Not just because this particular code make calls to _libevent_-provided methods which correctly accept `size_t` arguments so it would make it generally more correct, but also because the server itself is advertised as having _small memory footprint_, and many of us prefer light 32-bit VMs/containers, even in 64-bit host environment, precisely because of that.

I can provi

[2019-07-09 19:25] klarose commented on #7467
@silentdai It's in tree. It has two filters: one listener filter, and one http filter. The listener filter adds options, but to the connection socket, not the listener socket: https://github.com/envoyproxy/envoy/blob/ba0b5a760acc0a445df47e7cc8bdbae47312776b/source/extensions/filters/listener/original_src/original_src.cc#L32

[2019-07-09 20:08] htuch commented on #7504
One caution here is we should not be optimizing for `libevent` based buffers, these are likely to disappear soon. So, whatever is built needs to be built assuming the Envoy-owned buffers going forward.

TBH, I think the use of 32 vs. 64-bit types here is not the high order bit (if you'll excuse the pun) when it comes to Envoy memory use. We already know things like cluster stats and LB structures

[2019-07-09 20:10] silentdai commented on #7467
We should be good. This `addOptions` doesn't belong to class/interface `ListenerFactoryContext`. Happen to be the same name.

I will create a PR and CC all of you and let you confirm.

[2019-07-09 20:44] danfe commented on #7504
Fair enough; FWIW, I didn't want to imply that `size_t` buffer sizes bring some magical memory savings, just that having a 32-bit version of Envoy is still useful.

[2019-07-09 20:55] htuch commented on #7504
Yep, we definitely want Envoy to build for 32-bit systems, there's a bunch of ARM platforms that it would make sense on as well as i386.

[2019-07-09 21:05] cstrahan commented on #7486
I ran into the same problem. If you're on v1.10.0, you can cherry pick this commit (you'll need to resolve a very minor conflict): https://github.com/envoyproxy/envoy/commit/fa69fad0de6b63a254ce6a9f8164b31163a1ada0

I found that through this other issue: https://github.com/envoyproxy/envoy/issues/6172

[2019-07-09 22:43] adilhafeez opened #7514 "Add docs describing load balancer policy CLUSTER_PROVIDED"
cluster_provided lb policy was added as part of this change https://github.com/envoyproxy/envoy/pull/6895. But it's missing docs update to explain cluster_provided lb_policy.

[2019-07-09 22:43] adilhafeez commented on #7514
@HenryYYang

[2019-07-09 22:46] mattklein123 commented on #7514
It is documented here: https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cds.proto#enum-cluster-lbpolicy

[2019-07-09 22:50] adilhafeez commented on #7514
ah I didn't see it in envoyproxy docs, thanks @mattklein123

[2019-07-09 22:50] #7514 closed

[2019-07-09 23:07] cstrahan commented on #7486
I'll also note that, out of the box, the `bazel-compilation-database-0.3.2/.ycm_extra_conf.py` didn't work, as `ycmd` couldn't find my system's standard c/c++ headers. The following changes resolved this issue for me, at which point (neo)vim+[YouCompleteMe](https://github.com/ycm-core/YouCompleteMe) and vscode+[you-complete-me](https://marketplace.visualstudio.com/items?itemName=RichardHe.you-comp

[2019-07-10 00:59] derekargueta commented on #6085
Now just have to wait for the next zlib release https://github.com/madler/zlib/pull/420#issuecomment-503283070

[2019-07-10 01:21] moderation commented on #6085
The last zlib release was January 15, 2017 so you might be waiting for a while @derekargueta. If you really need this you may have to pull in a zlib development branch commit vs. a release - https://github.com/madler/zlib/commit/723e928b84b0adac84cc11ec5c075a45e1a79903

[2019-07-10 03:30] shaneqld commented on #3383
+1 on better support for errors.  I too am following the Google API Design Guide and using envoy to transcode grpc-json.  Having error details in http headers isn't very nice.  A serialised Status object would be much nicer for our http1 friends!

(Would happily sponsor someone to implement this, if that's allowed)

[2019-07-10 07:07] zqzzq commented on #7480
is it possible to build envoy without bazel,

[2019-07-10 07:07] #7480 closed

[2019-07-10 07:11] zqzzq opened #7517 "Is there a way to build envoy without using bazel?"
I want to build envoy in mips64 platform, but there are too many difficulties to build envoy with bazel, so Is it possible to manually download the dependencies and then compile envoy directly?

[2019-07-10 07:55] PiotrSikora commented on #7488
Yeah, `Set-Cookie` is a special snowflake. Per the RFCs quoted by @elevran, `Set-Cookie` mustn't be folded (since `,` used for folding is a legal character in `Set-Cookie` header value, so recipients could have trouble splitting received cookies), but all other headers should be folded.

As such, I think we should change the existing behavior only for `Set-Cookie`, without adding the option to not

[2019-07-10 09:27] kuangyuansheng opened #7518 "grpc_health_check not work"
yaml

    connect_timeout: { seconds: 5 }
    type: STATIC
    lb_policy: ROUND_ROBIN
    http2_protocol_options: {}
    hosts:
    - socket_address: { address: 127.0.0.1, port_value: 18000 }
    - socket_address: { address: 127.0.0.1, port_value: 17000 }
    upstream_connection_options:
      tcp_keepalive:
    health_checks:
    - grpc_health_check:
       service_name: Health
      unhealthy_th

[2019-07-10 09:48] danfe commented on #7517
Yes, there is.  I build it on FreeBSD with GNU `make(1)`, the way God intended to build software, and two simple makefiles, one for processing API `*.proto` files and another to compile main source code.  You can find them [here](https://svnweb.freebsd.org/ports/head/www/envoy/files/).

Dependencies are downloaded and properly placed within the Envoy's source tree by the FreeBSD Ports framework, s

[2019-07-10 12:34] htuch commented on #7517
Please note that any non-Bazel flow is not supported by the Envoy OSS community. So, while there exists unofficial community contributions here, we can't offer any guarantees around breaking changes, documentation, support on mailing lists etc. It's highly unlikely we will support a non-Bazel build system in the foreseeable future.

[2019-07-10 12:37] htuch commented on #7474
The breaking change is https://github.com/envoyproxy/envoy/pull/6866, i.e. the Bazel 0.26 update. Presumably this has to do with how headers are treated in `bazel-out`. You can see in earlier coverage runs paths such as `coverage.bazel-out_k8-dbg_bin_include_envoy_access_log__virtual_includes_access_log_interface_envoy_access_log_access_log.h.html` (https://circleci.com/gh/envoyproxy/envoy/227465#

[2019-07-10 14:33] ambuc opened #7521 "Should empty HTTP header values be allowed?"
Should empty HTTP header values be allowed?

Trying to append an empty header value to an inlined header ends up doing nothing.
(https://github.com/envoyproxy/envoy/blob/master/source/common/http/header_map_impl.cc#L300-L302)

So a list of headers like `[('inlined_key','a'), ('inlined_key',''), ('inlined_key,'b')]` becomes `inlined_key: a,b`. (This doesn't happen for non-inlined headers.)

But I'm

[2019-07-10 14:34] ambuc commented on #7521
@alyssawilk @PiotrSikora

[2019-07-10 14:36] alyssawilk commented on #7488
Thanks for the confirmation, Piotr.
@elevran, are you up for picking this up?  If Matt's happy with the hacky fix I'm good, as long as we add a regression test with a comment pointing to this bug and why set-cookie is special so no one undoes it :-)

[2019-07-10 14:37] moderation commented on #7517
https://yastack.io/ have a process to build without Bazel they document at https://medium.com/@chintan_/envoy-cmake-adapting-yastack-build-system-for-regular-envoy-547ee7c227d0. Early on in Envoy's life we had challenges building on aarch64 and PPC platforms but the approach was to fix the toolchain incompatibilities in the path. For aarch64 that was mainly fixing Bazel and rules_go. None of the w

[2019-07-10 15:32] mattklein123 commented on #7521
Empty headers are being allowed, by they are being folded, and the empty one is being dropped. I'm not sure how to handle empty headers during folding. The fix is likely simple.

[2019-07-10 16:35] #7133 closed

[2019-07-10 16:39] mattklein123 commented on #1606
@davidben @lizan @PiotrSikora I have a question about IP certs which I'm looking to handle in my final PR for this issue:

https://github.com/envoyproxy/envoy/blob/0d26d05fe353315113b193bd0c53a768fbdd1c4f/test/config/integration/certs/upstreamcert.cfg#L35-L38

I assume an IP cert would be issued using an IP alt name, right?

In looking at our verification code I don't think we are checking for SAN

[2019-07-10 17:06] #5363 closed

[2019-07-10 17:25] jmarantz commented on #7109
will follow-up off bug with a class rename to finish this off

[2019-07-10 17:25] #7109 closed

[2019-07-10 17:29] #7431 closed

[2019-07-10 17:35] #7138 closed

[2019-07-10 18:53] keith commented on #7201
Yea lets close this one and open a new one with new details if there's an issue now that 0.28.0 is out

[2019-07-10 19:01] davidamin commented on #1843
Is there an example configuration for this functionality available? I found a config at [How to setup SNI](https://www.envoyproxy.io/docs/envoy/latest/faq/sni#faq-how-to-setup-sni) but it includes a `tls_context` in each match, is it possible to do the routing without that configured?

[2019-07-10 19:27] #7285 closed

[2019-07-10 19:55] htuch commented on #7454
So, let's say the loopback idea ^^ is not going to fly because of the CPU cost (and needing to overprovision to support this for fallback). How many others folks in the Envoy community would benefit from a tiered LB approach? It would be good to get some additional motivation.

[2019-07-10 20:01] snowp commented on #7454
We would have benefitted from a tired LB approach a while back during our rollout to fall back to a not health checked VIP cluster after attempting to hit the actively health checked service mesh cluster. The health checking bit makes it difficult to express as retries within the cluster, since the fallback endpoints would also get health checked.

I'm not sure if we'd use it right now as we're mo

[2019-07-10 20:36] l8huang commented on #7500
I'm working on fixing this issue, basic idea is using  `ClusterSharedPtr` instead of `ClusterInfoConstSharedPtr` to construct `ClusterManagerImpl::ThreadLocalClusterManagerImpl::ClusterEntry`:

[code]

In this way, it needn't to access `active_clusters_` for getting the ClusterSharedPtr in worker thread.

[2019-07-10 20:47] euroelessar opened #7524 "admin: Using SO_REUSEPORT socket option"
*Description*:
We plan to use `SO_REUSEPORT` to achieve graceful restart of Envoy (similar to #3804).
It's possible to set socket options for the application listener socket, however it looks like it's impossible to do so for the admin port.

Would it be acceptable to add configuration options to admin port for setting socket options?

[2019-07-10 20:49] mattklein123 commented on #7500
I don't think ^ is the correct fix, as the cluster is not generally thread safe, only the info. Do you have a summary of what the issue is?

[2019-07-10 21:21] jmarantz opened #7525 "stats: high memory use when there are a large number of hosts"
Load-tests / flame-graphs indicate a huge amount of stats allocated for systems with large numbers of endpoints.

Most likely the per-endpoint stats are of limited value relative to their cost, and there should be an option to have them disabled or folded together.

[2019-07-10 21:22] jmarantz commented on #7525
@antoniovicente

[2019-07-10 21:40] PiotrSikora commented on #1606
@mattklein123 correct.

[2019-07-10 21:43] PiotrSikora commented on #1843
@davidamin yes, just remove `tls_context`.

[2019-07-10 21:48] jmarantz commented on #7525
1st step IMO is to augment https://github.com/envoyproxy/envoy/blob/master/test/integration/stats_integration_test.cc#L181 with a test that holds clusters constant and scales up endpoint-count. It should not be too difficult to parameterize the helper functions and make a new test method that varies the host-count and measures deltas using a similar pattern.

[2019-07-10 22:04] crazyxy opened #7527 "Listener filter to detect protocol"
Like tls inspector, we'd like to add another listener filter which will detect the protocol, e.g. HTTP, by sniffing the packet. The listener filter can add the value to [application protocols](https://github.com/envoyproxy/envoy/blob/47925a53e67645fa20ca60a5c3257084bd870994/api/envoy/api/v2/listener/listener.proto#L157) or maybe other fields to guide the filter chain match.

From istio side, the c

[2019-07-10 22:18] jrajahalme commented on #7500
I think the analysis above is correct, the access to `active_clusters_` from a worker thread is wrong, as `active_clusters_` is not thread safe. This originates from my initial commit that adds the support for `OriginalDstCluster`.

I checked for other cases for improper access and found that constructor of `ThreadLocalClusterManagerImpl` which is called from the `ClusterMangerImpl` via `SlotImpl:

[2019-07-10 22:23] PiotrSikora commented on #7527
Note that we might want to have a lot of reasonably small protocol-specific inspectors (e.g. `envoy.filters.listener.http_inspector` for HTTP, etc.) instead of a generic one.

e.g. HTTP inspector (which would work only for plaintext connections) should be able to set:
- detected transport protocol -> `raw_buffer`,
- requested application protocol -> either `http/1.1` or `h2`,
- requested server na

[2019-07-10 22:50] lizan commented on #7527
An HTTP inspector sounds reasonable to me.

@PiotrSikora Not sure about this item, the `Host` or `:authority` is per request property (esp. HTTP/1.1 keep-alive or H2), which shouldn't stick into connection.

[2019-07-10 22:51] htuch commented on #7423
@alyssawilk I think this will also be useful for date plane change monitoring and review enforcement.

[2019-07-10 22:54] l8huang commented on #7500
thanks @jrajahalme for summary.

Looks like adding protection to `active_clusters_` with a mutex wouldn't help, a 'ClusterSharedPtr' is added to and removed  from `active_clusters_` sequentially by main thread, no need to use mutex in this case. The problem is when a worker thread callback accessing `active_clusters_` for getting 'ClusterSharedPtr', it could be already removed by main thread. This

[2019-07-10 23:15] jrajahalme commented on #7500
STL map operations are not thread safe, so this is a more general concurrent access problem. All we know the worker thread may crash just reading from the map!

In more detail, a worker thread may be reading from a map that is in inconsistent state, i.e., partially updated by the main thread, e.g., the main thread is in a middle of an insert operation, maybe reallocating the map to make more space

[2019-07-10 23:31] l8huang commented on #7500
Sorry for confusing. I meant callback can capture `ClusterSharedPtr`, then worker thread needn't to access `active_clusters_` at all.

Here is a patch for fixing this issue: https://github.com/l8huang/envoy/commit/08f9c010f65f27e43e8550e4e9628025639db53a

Let me know if this fix is ok.

[2019-07-10 23:35] #7144 closed

[2019-07-10 23:49] PiotrSikora commented on #7527
That's fine, you can still latch to a filter chain that includes requested server name in it's `server_names`, otherwise you're going to be limited to having only a single HTTP filter chain per listener, so the selection is going to be persistent for the connection anyway.

Also, this is not very different from the existing case with TLS inspector, where requests are latched to a filter chain base

[2019-07-11 01:34] lita opened #7529 "eds: envoy is sending EDS discovery request without any resource_names set"
*Title*: Envoy is sending EDS discovery request without any resource_names set

*Description*:
Lyft has noticed envoy requesting EDS data without resouce_names set. It is sporadic throughout all services. This is happening enough where our control plane started to page (as our control plane treats this response as an error).

We noticed that the envoy discovery request payload always has a version

[2019-07-11 02:11] kuangyuansheng commented on #7518
I have solved this problem, protobuf can only use package "google.golang.org/grpc/health/grpc_health_v1",

[2019-07-11 02:11] #7518 closed

[2019-07-11 03:36] mattklein123 commented on #7525
As I mentioned offline, I think we can do a few things here:
1) Have config to turn off per-host stats
2) Have config to potentially have per-host stats for X% of hosts per cluster, only canary hosts, etc.

[2019-07-11 03:40] mattklein123 commented on #7500
I will take a look at this in more detail tomorrow and advise on the fix.

[2019-07-11 03:41] mattklein123 commented on #7529
@htuch @fredlas @snowp any idea here?

[2019-07-11 08:37] lizan commented on #3383
@shaneqld +1, feel free to open a PR for this.

[2019-07-11 08:44] hanoisteve commented on #6846
Any resolution on this?

[2019-07-11 12:24] jakubdyszkiewicz opened #7537 "Customize response code on upstream reset"
Hello,

we would like to customize the response code of upstream reset. Right now, we see that 503 is hardcoded in [Filter::onUpstreamReset](https://github.com/envoyproxy/envoy/blob/ecd03a4eed07e1cfea9e9844e519b7fffada437a/source/common/router/router.cc#L864)

## Motivation
**Status code**
Without Envoy, when app A was communicating with B and was not available, the A's client received connection

[2019-07-11 13:01] elevran commented on #7488
@alyssawilk - I am. I can't self assign though.
Also, as this is my first PR on Envoy, would appreciate having some guidance to streamline code base changes. Will reach out over Slack

[2019-07-11 14:21] elevran commented on #7488
@PiotrSikora reading https://tools.ietf.org/html/rfc6265#section-4.1.1:
[code]
So comma can not be used in cookie name or value?

[2019-07-11 14:29] davidamin opened #7540 "HPE_INVALID_METHOD while using SSL passthrough"
HPE_INVALID_METHOD while using SSL passthrough

*Description*:
I am attempting to use Envoy to pass traffic to various clusters based on SNI. I followed [How do I setup SNI?](https://www.envoyproxy.io/docs/envoy/latest/faq/sni) but omitted the `tls_context` configuration as I do not want to terminate TLS in Envoy. When making requests, I get `ERR_SSL_PROTOCOL_ERROR` from my browser, and I see `dis

[2019-07-11 14:34] alyssawilk commented on #7488
so I'm fairly confused about what's going on here.
@elevran asked for some clues of how to fix this and set-cookie isn't an inline header.
I wrote a regression test for adding multiple set cookie headers, and they stay separate
I wrote an integration test for proxying multiple set-cookie headers, and they stay separate
Checking in with elevran@ the problem was a direct response, so I added a unit

[2019-07-11 14:35] alyssawilk commented on #7488
Either way I'll check in all my tests as they're good regression tests we don't break this going forward :-P

[2019-07-11 14:38] elevran commented on #7488
Agree with @alyssawilk - this seems to be an issue on the Istio side. `Set-Cookie` is not automatically folded by Envoy as it is not an inline header.
The issue can be closed.

[2019-07-11 14:38] #7488 closed

[2019-07-11 14:56] alyssawilk commented on #7332
Dup #7374 has more detail so closing this one off

[2019-07-11 14:56] #7332 closed

[2019-07-11 15:38] mattklein123 commented on #7524
This sounds reasonable to me.

[2019-07-11 15:39] mattklein123 commented on #7537
I think this is a dup of https://github.com/envoyproxy/envoy/issues/1178. Can we track there?

[2019-07-11 15:46] fredlas commented on #7529
Do you have a good sense of when this started? Or, what's the earliest you can say "no later than"?

The code I would first suspect would be upstream/{eds,cds,cluster_manager} and config/[whichever xDS transport you use - gRPC?] (And, I assume you're not using the new delta xDS stuff).

But, looking at those files, the only changes I see that seem possible to be involved are #7236 and maybe #7081.

[2019-07-11 16:20] htuch commented on #7474
So, it looks like the headers are actually mapped where they were before:

[code]

It seems the exclusion that was added in https://github.com/envoyproxy/envoy/pull/6866/files#diff-9cdd51e93f8baceb29ebff17ff73e194 is the issue, as it excludes all headers. @lizan do you know why this change was necessary?

[2019-07-11 16:43] jrajahalme commented on #7500
@l8huang Your fix looks good to me, and resolves the bug you found. I left a couple of comments to remind you to clean up some testing/debugging related changes you still have in there.
However, the issue of invalid access to `active_clusters_` in the constructor of `ThreadLocalClusterManagerImpl` still remains.

[2019-07-11 16:45] lita commented on #7529
Yes, we use grpc and leverage the go-control-plane to stream eds data.

This seems to be happening for awhile and we didn't notice until now. I will do some digging and give you a no later date with the before and after sha.

[2019-07-11 16:47] incfly commented on #7502
Fixed.

[2019-07-11 16:47] #7502 closed

[2019-07-11 16:52] mattklein123 commented on #7529
@fredlas this should never happen though, right? If so I will switch this to a bug.

[2019-07-11 16:58] fredlas commented on #7529
Correct. As far as the xDS protocol client goes, never. I looked through the vanilla / state-of-the-world code, and the population of this field is a very straightforward: immediately before the actual sending of the message on the gRPC stream, iterate over all watches' watched resource names, and put them all into this field. The only possible cause is that these DiscoveryRequests are being sent

[2019-07-11 17:02] bcelenza commented on #6748
@sumukhs and I spoke this morning, and what is in place may fit our particular use case. That said, I have an idea that may make the solution more flexible so that different record types could be responded to by Envoy.

Next step is for me to fork Sumukh's API changes and propose what I'm thinking of. If we agree those changes are generally useful to the feature, we can get them implemented and st

[2019-07-11 17:14] lita commented on #7529
Do you mean if CDS response sent down had nothing in it, it would send an EDS request would be empty? Trying to understand what the xDS flow pattern of where this could happen.

[2019-07-11 17:44] fredlas commented on #7529
Yes, that would do it; that's what I would look for first.

I could also imagine there being other cases where, even though the Envoy still sees some clusters, it decides to stop watching all of them in EDS. (I have no reason to believe that's something that actually happens, just speculating that that might happen out in some code I don't know about.)

[2019-07-11 17:50] lita commented on #7529
So on startup, it is possible to send an empty CDS response if the control-plane is hanging and the connection needs to be remade. I will look into where else an empty CDS response could be sent.

But if envoy gets an empty CDS response, does it make sense to make an EDS request at all? Shouldn't it just wait until CDS gets propagated and then make an EDS request?

[2019-07-11 17:52] mattklein123 commented on #7529
Yeah this is definitely a bug and we should fix it if this is happening.

[2019-07-11 18:03] fredlas commented on #7529
I don't think this could be triggered by an empty CDS update when the Envoy already had 0 clusters. In that case, neither addOrUpdateCluster nor removeCluster would be called, so I don't think an EDS update should be triggered at all. I think the empty EDS update could only happen as a result of a CDS update taking the state of the Envoy from >0 clusters to 0 clusters. Assuming the response_nonce

[2019-07-11 18:17] jakubdyszkiewicz commented on #7537
Ok, the response body part is definitely duplicate. I used search, but I guess I typed wrong keywords.

But I think the hardcoded status code is a different problem. What do you think?

[2019-07-11 18:18] lita commented on #7529
This is what I am wondering as well. Unfortunately, we do not have the trace of what the previous response was before to see in the response_nonce was unchanged.

This seems to have been happening for quite some time. Ever since April (and past that all the logs are harder to get to). My guess is this started happening as we rolled out streaming but never noticed now.

I do not see anywhere in the

[2019-07-11 18:36] fredlas commented on #7529
Oh huh, interesting. That does indeed sound like startup. It is entirely possible that I'm misunderstanding how the ClusterManager does/doesn't trigger EDS updates; I'm only very slightly familiar with that code.

There is not an ACK flag. ACK is implied by a changed response_nonce; I think that's pretty much it as far as ACK signalling goes. I think @htuch has been interested in eventually seeing

[2019-07-11 18:46] lita commented on #7529
Got it. Just to clarify, if this is an ACK, is a valid response an empty EDS response?

[2019-07-11 18:58] fredlas commented on #7529
Hmm... if the client specified an empty resource_names, then yes, that should be valid. However, it should also be ok to just send no response. No response seems a little cleaner, since, in my understanding, the quiescent state of xDS is for the most recent message to have been a pure-ACK DiscoveryResponse. So, not responding would be just like the normal, resource_names-having pure-ACK case.

[2019-07-11 19:30] alyssawilk opened #7547 "envoy.reloadable_features.test_feature_true deprecation"
#6134 ( runtime: codifying runtime guarded features) introduced a runtime guarded feature. This issue tracks source code cleanup.

[2019-07-11 19:30] alyssawilk commented on #7547
Just doing a full run of (hacked) #7493 before landing

[2019-07-11 19:31] #7547 closed

[2019-07-11 19:31] #6472 closed

[2019-07-11 20:10] alyssawilk opened #7548 "flip all deprecated config fatal in example configs test"
It's annoying to update example configs when flipping things fatal as part of release - we should make it so folks update the configs when they mark config deprecated.

[2019-07-11 20:23] mattklein123 commented on #7548
Big +1

[2019-07-11 20:26] euroelessar commented on #7524
Please assign task to me, I'll start working on the change shortly.

[2019-07-11 20:32] csssuf opened #7550 "Allow flipping healthy panic scenario behavior"
*Title*: Allow changing healthy panic scenarios to failing all requests instead of routing to any host.

*Description*:
Currently, the only behavior possible when a cluster enters a panic state is that requests are routed to any host in the cluster regardless of the host's health. This behavior should be configurable to instead disallow requests completely, even with remaining healthy hosts in the

[2019-07-11 20:58] incfly commented on #6904
Closing this issue since the two problems proposed from this issue are both resolved.

1. Config dump is misleading.
1. Listeners initialization is already independent after the workers are started. And init all listeners all together before started is a WAI behavior.

[2019-07-11 21:49] #6904 closed

[2019-07-11 22:27] PiotrSikora commented on #6904
Why is this WAI?

[2019-07-11 22:28] mattklein123 commented on #6904
It's WAI as the code was written today. Please open up a fresh issue on making this part better so we can keep things straightforward?

[2019-07-11 22:29] mattklein123 commented on #7550
@snowp any thoughts here?

[2019-07-11 22:44] mattklein123 commented on #7529
I think I'm missing the finer points of this conversation, but it still seems like a bug to me that Envoy is ever sending an EDS request without a resource hint. Shouldn't we just not send a request in that case?

[2019-07-11 23:05] fredlas commented on #7529
Thinking purely about "requesting resources", yes, it would be reasonable to skip sending the request in that case.

However, the xDS client->server proto can be both a request and an ACK. I believe you can non-buggily arrive in a situation where the EDS client has an ACK to send, but no resource_names interest. I believe that in that situation, the protocol requires the client to send a Discovery

[2019-07-11 23:15] mattklein123 commented on #7537
Sure fair enough. Can you update the title/text to clarify that you are looking for response code customization?

[2019-07-11 23:17] lita commented on #7529
Yeah, it would be good to figure out a way to send ACKs separately. Is there a way to turn off ACKs when there is no EDS of interest?

I can create a workaround for now where the control plane returns nothing in this ACK.

[2019-07-11 23:37] mattklein123 commented on #5348
Another thing that come up here is the concept of "profiles" which would auto configure Envoy in various ways. For example "performance", "edge," etc. This can likely greatly simplify the default configuration knobs that folks want to tune.

[2019-07-12 00:25] crazyxy commented on #7527
I don't think we should extract `Host` or `:authority` from the requests. The `Host` and `:authority` are L7 information, I don't think we should use to it do filter chain match in L4. For example:

[code]
The first request (`host: a.com`) matches the first filter chain. The second request (`host: b.com`) from the same connection will use the first filter chain which doesn't make much sense to me.

[2019-07-12 00:53] PiotrSikora commented on #7527
How is this different from the case when you don't extract `Host` and/or `:authority`? Both requests are going to use the first filter chain anyway, since there won't be any other selector to act upon.

As mentioned previously, we already act on `TLS Server Name Indication` in TLS Inspector, and if those request are sent over the same TLS connection, then both are going to be matched to the first

[2019-07-12 02:05] crazyxy commented on #7527
I think TLS SNI is a little bit different that hosts. The TLS SNI sticks to each connection but host is per request. I am not sure if we should use host in filter chain match. I think server name in filter chain match should use some criteria that are constant for TCP connection, for example, destination `IP:port` or SNI.

[2019-07-12 02:06] incfly commented on #6904
Just want to make sure I understand what we agree on

1. Envoy go ahead start the workers even if not every initial listener is warmed
1. Changing implementation to add initial listeners to `warming_list` just to avoid confusion, but still block the workers/envoy started for those first-received listeners to be ready/warmed.

1. makes real behavior changes, 2. only makes code/implementation easier

[2019-07-12 03:41] mattklein123 commented on #6904
Correct. If we want to track (1) please open a new issue on that.

[2019-07-12 03:54] gatesking opened #7554 "How can I add HSTS header when Gateway Timeout"
Add HSTS header when Gateway Timeout

_Description:_
For security reason, I add HSTS header for every upstream service response. But when gateway timeout, envoy doesn't add HSTS header,  and this leading to a BurpSuite warning. Is there any ways to add HSTS header at this time?

It seems like this issue:
Envoy doesn't add headers in case of Gateway Timeout #4317
but I found no enhancement for it.

[2019-07-12 07:49] cyxddgithub commented on #7486
tks for reply!real cool i wil try the method.by the way i try cquery+vscode not work at all.YCM maybe work.

[2019-07-12 08:27] andrzejwaw opened #7556 "How should I understand Envoy memory metrics?"
How should understand envoy admin memory metrics?
Envoy metrics shows:
[code]

*ps_mem* shows usage: 26 830 336 bytes

*top* RES shows 24 704 kb

*smem*
[code]

what is real memory usage of envoy? May I find it anywhere in metrics?

[code]

[2019-07-12 09:08] cyxddgithub opened #7557 "bazel build fail for //bazel/foreign_cc:zlib FAILED in macOS Mojave 10.14.5(18F132)"
Title: bazel build //bazel/foreign_cc:zlib FAILED in macOS Mojave 10.14.5(18F132)

Description:
clang -v
Apple LLVM version 10.0.1 (clang-1001.0.46.4)
Target: x86_64-apple-darwin18.6.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin

envoy: tag 1.11.0

xcode and xcode-select installed
and for header missing case run:
sudo ins

[2019-07-12 10:19] nezdolik commented on #6730
RFC and relevant discussions here: https://docs.google.com/document/d/1yX8qRDXfbcOqNwSpaptFk1ru-bY_yHDLLOVBuLaclR4/edit?usp=sharing

[2019-07-12 10:45] alyssawilk commented on #7557
cc @lizan

[2019-07-12 10:46] avereha commented on #4543
I just found this issue on one envoy 1.10.0 instance.

From what we noticed in the past:
 - it happens if DNS is down/not accessible for a while.
 - it happens on small percentage of instances, even if DNS is down for all(<1%).
 - issue continues even if DNS is accessible again.

Comparing two instances with identical configuration, here is what I noticed:

"Good" instance has only:
Setting DNS re

[2019-07-12 12:34] #7258 closed

[2019-07-12 14:50] htuch commented on #7529
We will separate ACKs out in the next-generation UDPA xDS proposal, but I don't think we want to change this in v2 xDS. I'm broadly in agreement with a @fredlas that it's entirely possible to have happening at roughly the same time (1) CDS clusters go to empty and (2) have a pending ACK from a previous EDS DiscoveryResponse. In this situation, Envoy will send a a DiscoveryRequest with empty resour

[2019-07-12 16:04] mattklein123 commented on #4543
I suspect there is some race condition here potentially within c-ares, but I'm not sure. Reopening and marking help wanted.

[2019-07-12 17:18] lukidzi commented on #7537
You can assigne this issue  to me. Could you suggest where should I add configuration for custom code and response message?

[2019-07-12 17:57] lita commented on #7529
So I looked at `cluster_manager.cluster_removed` stat and that wasn't triggered (is at 0). So definitely don't think we are going from N -> 0 clusters.

I also looked at `cluster_manager.active_clusters` stat from a service which sent a request with missing resources and that didn't have any change. I would have expected that the stat would have wavered.

Looking at the individual boxes where this

[2019-07-12 18:01] mattklein123 commented on #7529
cc @ramaraochavali did you also report something like ^ at some point?

[2019-07-12 18:11] #7174 closed

[2019-07-12 19:58] snowp commented on #7550
Seems like a reasonable request for very specific failure modes (e.g. if health checks are failing from the server being overloaded), so I can see the argument for adding this.

I'm a bit unsure how it would interact with per priority panic (would you ever want to fail requests if another priority is not in panic?), but maybe we could have this only kick in on global panic?

[2019-07-12 20:25] lambdai opened #7560 "Network::FilterChain: derived interfaces for upstream and downstream"
@kyessenov  is adding filter chain to upstream in #7503
I am adding the functionality to drain certain downstream filter chain as improvement to LDS (also required by future FCDS).

I prefer to add a tag to downstream filter chain as [is in listener ](https://github.com/envoyproxy/envoy/blob/37c5ce2a4df171f49148809b18afaa4adb813676/include/envoy/network/listener.h#L80) I don't see this is required

[2019-07-12 20:36] neufeldtech commented on #3771
For others that may be facing similar symptoms (low, but constant rate of HTTP 503's), be sure to check out the `idle_timeout_ms` setting introduced in Ambassador 0.60+.

For example, we had a node application that appeared to have an idle timeout set to 5 seconds, but ambassador's default idle timeout is set to 5 _minutes_. After setting this to 4 seconds  `idle_timeout_ms: 4000` for this service

[2019-07-12 21:00] lita commented on #7529
Okay, this might be a red herring since all the boxes have this 1-off discrepancy.

The only thing I can correlate to this is that a CDS update did happen right before the slew EDS requests. Sometimes there is a failure but sometimes it does succeed without failure.

[2019-07-12 21:15] a-sharma11 commented on #6050
@htuch I am using the 1.11 which got released yesterday. I have a front proxy with preserve_external_request_id set to true. I am still seeing the behavior where it changes the version number of the uuid. Here is a screenshot. /trace/1 incoming x-request-id is "8cda17a5-eb41-_4_ced-9843-acc826f95c8c" but the outgoing from front proxy is "8cda17a5-eb41-_9_ced-9843-acc826f95c8c"

xxxxxxxx-xxxx-4xxx-

[2019-07-12 21:43] #7474 closed

[2019-07-12 23:42] billybanfield commented on #6431
Hey @mattklein123 ! I'd love to re-open this because this would be a very helpful addition for us. If this is feasible, happy to try my hand at implementing (although I'm not c++ expert) if someone can point me in the right direction here.

[2019-07-12 23:50] atrifan commented on #6050
Hi Ashish,

Can you provide a sample curl? Also is the cluster inside the mesh or outside the mesh?

Thanks,
Alex

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Ashish Sharma <notifications@github.com>
Sent: Saturday, July 13, 2019 12:15 AM
To: envoyproxy/envoy
Cc: Alexandru Trifan; Comment
Subject: Re: [envoyproxy/envoy] [Feature request] Remove (make configur

[2019-07-12 23:51] #7264 closed

[2019-07-12 23:54] jyotima opened #7567 "Support code coverage in router check tool"
*Title*: *Enable router check tool to show code coverage for routes*

*Description*:
We are running into a situation where we want to add tests and establish a baseline coverage so that all further changes to the routes need to a test to maintain the coverage.

[2019-07-12 23:54] jyotima commented on #7567
#730

[2019-07-13 00:53] PiotrSikora commented on #7540
@davidamin for SSL passthrough, you need to use `tcp_proxy`, and not `http_connection_manager`. The payload is encrypted, so there is no HTTP for Envoy to see.

[2019-07-13 00:55] ramaraochavali commented on #7529
No. I did not see this earlier

On Fri, 12 Jul 2019, 23:31 Matt Klein, <notifications@github.com> wrote:

[2019-07-13 14:21] dalu commented on #5668
So much contempt for a worse alternative to nginx just because someone had to make yet another product.
docker is not everything is it in fact worse than the previous default - no default.
It's a typical case of corporate fuckup and overcomplication, a typical example of overengineering and also typical for the state of everything today.
It's like there are intentional bricks that were put there.

[2019-07-13 19:03] #7177 closed

[2019-07-13 20:52] mattklein123 commented on #5668
The previous comment/user was blocked due to violating our code of conduct.

With that said, I am going to reopen this issue and mark it help wanted. The maintainers cannot support every possible deployment scenario. We believe that offering Docker containers is a reasonable compromise. If someone in the community wants to work on the build/CI/etc. changes to provide raw binaries we are happy to s

[2019-07-13 21:12] mattklein123 commented on #7567
This would be really cool!

[2019-07-14 01:26] lizan opened #7570 "//test/extensions/filters/http/dynamic_forward_proxy:proxy_filter_integration_test is flaky"
In master TSAN:
https://248712-65214191-gh.circle-artifacts.com/0/failed-testlogs/test/extensions/filters/http/dynamic_forward_proxy/proxy_filter_integration_test/test.log

In LLVM coverage it hangs:
https://circleci.com/gh/envoyproxy/envoy/248719

[2019-07-14 04:34] itayd commented on #7423
/assign @itayd

[2019-07-14 04:56] itayd commented on #7423
description makes sense, i'm working on it.

[2019-07-14 10:03] #7066 closed

[2019-07-14 12:50] devy294 opened #7572 "Putting Prometheus Behind Envoy Front Proxy"
**Issue Template**

*Title*: *One line description*
Unable to route to prometheus container through envoy successfully
*Description*:
I am trying to use envoy to front end all of our internal docker containers. I have never used envoy, so I am learning this as I go. I have a prometheus docker container from prom/prometheus registry and I am trying to put envoy in front of the container.

[optional

[2019-07-14 14:30] a-sharma11 commented on #6050
@athampy Thanks for quick response! I created this github demo project which is equivalent to my use case. It includes the setup and the curl command to run.
https://github.com/a-sharma11/envoy_demo

[2019-07-14 20:09] mattklein123 opened #7576 "ads_integration_test flake"
[code]

[2019-07-14 20:09] mattklein123 commented on #7576
cc @asraa

[2019-07-15 03:33] bmgoau opened #7578 "Difference between "idle_timeout" and "stream_idle_timeout" in HttpConnectionManager?"
Hey Team,

We're trying to set a timeout on idle keepalive HTTP sessions that are not in the process of sending a request nor waiting for a reply. So your stock standard idle keepalive session.

We're not using gRPC, just vanilla HTTP.

We're curious how "stream_idle_timeout" differs from "idle_timeout" and which one is more appropriate to set and why?

https://www.envoyproxy.io/docs/envoy/latest/

[2019-07-15 03:39] #7570 closed

[2019-07-15 11:11] liyehaha commented on #3546
I really don't want UTC

[2019-07-15 13:16] asraa commented on #7229
I've run into this issue before, maybe it's because of where the envoy docker build is? I have the same not a git repository error, and running just ./ci/do_ci.sh bazel.dev gives me a permission denied error like above.

Try
export ENVOY_DOCKER_BUILD_DIR=~/tmp/envoy-docker-build/

and then running
./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.dev'

That worked for me.

[2019-07-15 14:10] snowp opened #7579 "HCM: buffered data ignored when onData never returns StopIteration"
If any `encodeData` callbacks call `addEncodedData` and no StopIteration* return values are returned, the buffered data will never be read, as we never call `commonContinue` due to the `iteration_state_` check in `commonHandleAfterDataCallback`:

[code]

This becomes problematic because the following code misbehaves when there's only one `encodeData` callback:

[code]

Since the first call is has

[2019-07-15 15:29] snowp commented on #7579
Thinking about a solution here: maybe we should track whether `add*Data` has been called and enter the `commonContinue` block if that's the case even if `iteration_state_ != IterationState::StopSingleIteration`?

cc @alyssawilk @mattklein123

[2019-07-15 16:07] mattklein123 commented on #7578
"idle_timeout" is the time that a connection will stay alive when there are no active streams.

"stream_idle_timeout" is the time that a stream will stay alive when there are is no activity in either direction (headers, data, trailers, etc.).

Doc updates appreciated!

[2019-07-15 16:14] mattklein123 commented on #6431
Reopening and marking help wanted. A few notes:
1) We would need to make this configurable to avoid metric explosion.
2) It's going to involve plumbing into https://github.com/envoyproxy/envoy/blob/master/source/common/http/codes.cc as well as setting up the right tag extractors.

cc @jmarantz for further thoughts.

[2019-07-15 16:23] #6726 closed

[2019-07-15 16:33] mattklein123 commented on #6730
@nezdolik at a high level LGTM. @snowp could you also take a quick look?

[2019-07-15 16:34] mattklein123 commented on #7537
I would take a look at the router filter configuration most likely. If we want to do this in a more general sense we could like at HTTP connection manager (HCM) level configuration for send local reply?

[2019-07-15 16:34] mattklein123 commented on #7560
@silentdai sorry I don't think I grok what you are asking. Can you rephrase?

[2019-07-15 16:48] mattklein123 commented on #7579
cc @soya3129 who has probably been thinking about this code the most recently. I'm guessing she will have some ideas.

[2019-07-15 17:02] mattklein123 opened #7582 "RFC: Multiple release Envoy images"
I think we need to start thinking about whether every extension in the tree makes it into our official builds. There are multiple reasons for this:
1) Security implications
2) Feature explosion
3) Support burden for service providers trying to support Envoy generically.

I think we can likely do this via shipping multiple images which perhaps equate to "minimal, "kichen sink," etc. This coupled wi

[2019-07-15 17:51] bobby-stripe opened #7583 "`:PATH` in access logs without query string"
The [Envoy `access_log` documentation](https://www.envoyproxy.io/docs/envoy/latest/configuration/access_log) has an example with `REQ(X-ENVOY-ORIGINAL-PATH?:PATH)` for logging the request's path, but both the `:PATH` and `X-ENVOY-ORIGINAL-PATH` header contain the query string.

Query strings can sometimes contain sensitive details like access tokens - it would be great to be able to log the path w

[2019-07-15 18:12] Stoakes commented on #7276
Ok, thank you for your answer and good luck for the upcoming work on Envoy, it's a great project !

[2019-07-15 18:12] #7276 closed

[2019-07-15 18:41] lukidzi commented on #7537
Ok. So I thought about structure of config and I came up with something like this:
[code]
I am a bit worried how to distinguish between `remote reset` and other errors at sendLocalReply(or should I check it in router.cc ?- not generic) method because we receive code and body(I can look for reason in body or maybe pass reason to sendLocalReply?).
I am not sure if it is good approach but it might be

[2019-07-15 19:03] mandarjog commented on #6532
A required PR to enable "network filters for upstream" https://github.com/envoyproxy/envoy/pull/7503

[2019-07-15 19:48] a-sharma11 commented on #6050
@athampy - also its very surprising that its changing just the version number digit of the guid to an invalid value. `14c62072-28aa-9517-9f86-b5f9c84f20c7 ` is actually an invalid guid as per http://sqa.fyicenter.com/1000330_UUID_GUID_Validator.html. Possible value for this digit should be `5` or under.

[2019-07-15 19:59] seguidor777 commented on #7351
Hello,
I will have the `failure_mode_deny` option set to `false` on the meantime and will wailt for an update

[2019-07-15 20:31] atrifan commented on #6050
Don’t want to be disrespectful or anything but it’s the second time you get my mention wrong - it’s @atrifan unless you want to talk to someone else. I am going to provide a resolution in 24 hours if that’s ok with you. Thanks, Alex

[2019-07-15 20:43] a-sharma11 commented on #6050
Ops @atrifan very sorry about that! ty for your quick response.

[2019-07-15 21:19] canselcik opened #7586 "Using a non-HTTP_ONLY build of libcurl with support for SSL"
Hi,

I noticed recently libcurl was included in the build as a dependency however with `HTTP_ONLY: on` and `CMAKE_USE_OPENSSL: off`.

It seems it isn't just a matter of switching these on as enabling it causes issues with BoringSSL we build against. Crashing on `SSL_new` etc.

Could someone point me to how this could be enabled?

Thanks.

[2019-07-15 21:28] #7061 closed

[2019-07-15 21:51] lizan opened #7588 "build: define MEMORY_TEST_EXACT in specific target"
*Description*:
MEMORY_TEST_EXACT is currently passed as cxxopt which means changing it invalidate all caches including dependency so it will be full rebuild, define it in bazel level and only define it via `select` in specific target will reduce the rebuild time.

[2019-07-15 21:52] skydoctor opened #7589 "Print detailed error log from nghttp2 by using the provided callback"
*Title*: nghttp2 can invoke a callback method to provide details about errors such as those encountered during HTTP/2 header validation. Envoy could use them to make the logs more useful

*Description*:
As per https://github.com/envoyproxy/envoy/issues/7061#issuecomment-502925713, a callback can be set in nghttp2 to get details about error messages. This will be particularly useful when trying to

[2019-07-15 22:35] kopper commented on #7420
We'd appreciate clarification on how these stream-level timeouts affect HTTP 1 requests and connections.

[2019-07-15 22:36] kopper commented on #7578
Related issue https://github.com/envoyproxy/envoy/issues/7420

[2019-07-15 22:45] dio commented on #7583
Currently, we have `%REQ(MAIN?ALT_IF_MAIN_DOES_NOT_EXISTS):MAX_LENGTH`

Do you have a suggestion on how we express that (remove qs)? Probably it is good to have a "special operator" for PATH e.g. `%REQ(REMOVE_QUERY_STRINGS(MAIN, *)?REMOVE_QUERY_STRINGS(ALT_IF_DOES_NOT_EXISTS, token&id&key))`. But not sure. WDYT?

[2019-07-15 23:22] samtheprogrammer commented on #6189
I have a similar requirement any idea how we can pass jwt payload scope as a header for ratelimit filter to access

[2019-07-15 23:23] samtheprogrammer commented on #6189
The problem is u can add it as payload but it base64 encoded

[2019-07-15 23:37] bmgoau commented on #7578
Thanks @mattklein123 .

In this sense if we translated the timers to nginx land we would have:

HttpConnectionManager.idle_timeout =
http://nginx.org/en/docs/http/ngx_http_core_module.html#keepalive_timeout and http://nginx.org/en/docs/http/ngx_http_upstream_module.html#keepalive_timeout
Effectively how long we will keep around a TCP connection that isn't in the process of sending a request or wai

[2019-07-15 23:41] atrifan commented on #6050
Ok found a little time to investigate the issue and came up with a fast update: the feature is working - test with a request-id like: ` curl http://localhost:8000/trace/1 -H "X-Request-Id: myRequestId"  -i
` you will then see that envoy preserves the requestId.

 For your particular issue though - envoy preservers the requestId (2nd 3rd and 4th service) 1st service modifies it - i see that you gra

[2019-07-16 00:35] jmarantz commented on #7588
I'm not following you. Wouldn't other flags have the same effect?

Also, MEMORY_TEST_EXACT is only set for release builds. Are release builds every used in CI otherwise? Or is the new build world you are working on making it possible for individuals building with "-c opt" in their dev environments share cache with CI release builds?

[2019-07-16 03:43] htuch commented on #7423
@itayd FWIW, if we can have the ability to extend this facility to other GitHub teams and paths, e.g. to monitor changes to `source/common/http` and require dataplane owners to provide reviews, that will be even better. But, I think if we can start with the concrete implementation mentioned in this issue, this is a good start, and we can iterate. Thanks for making this happen!

[2019-07-16 03:44] htuch commented on #7253
@snowp are you interested in implementing or should we mark as help wanted? It seems a reasonable request.

[2019-07-16 04:06] htuch commented on #7529
@lita do you think it's possible to capture an xDS trace somehow? One possibility would be to run an Envoy at `-l trace` and grab the raw protos. Another would be to do this at the management server. This would be an interesting possible use case of @mattklein123 's TAP facility if we can have it work with control plane.

[2019-07-16 05:40] lita commented on #7529
I wrote some extra logging code in our control plane to see what the CDS response is saved to when our control plane receives this EDS request that I am rolling out, but haven't rolled it out yet.

But using TAP on our control plane cluster or tracing a call is an interesting idea. I'll see what I can do.

[2019-07-16 06:11] #7311 closed

[2019-07-16 07:15] lizan commented on #7588
@jmarantz Sorry if the original description wasn't clear enough. If you do `--define` flag and `select` in specific target, Bazel is smart enough to keep the existing cache for the rest of targets because they are same after evaluating `select`. (e.g. changing boringssl=fips or normal won't trigger full rebuilt but only relevant targets).

In this case to repro: if you run `ci/do_ci.sh bazel.relea

[2019-07-16 08:28] s-vivien opened #7595 "segfault in ActiveStreamFilterBase::commonContinue()"
1.11 was released a few days ago and my Envoy configuration doesn't work ever since I upgraded from 1.10.

My configuration is based on a Lua filter that makes a few HTTP calls and updates upstream request and client response. Since the last upgrade, Envoy crashes at the very end of every request.

Here is the stacktrace I get :

[code]

And here is my configuration :

[code]

As you can see, the

[2019-07-16 08:32] zk3326312 opened #7596 "some problems of building envoy with bazel"
I want to build envoy with bazel in my mac, but i meet some problems

*Description*:
when i build envoy with bazel, i meet some network problems, it always faild in fetch protobuf and go.googlesource.com/tools. So i download those package manual , but when i build envoy next, bazel still have to fetch those package, so how can I configure bazel manual to solve this problem.

my command:
sudo bazel

[2019-07-16 08:34] zk3326312 commented on #7596
i'm sure those package have been installed correctly

[2019-07-16 09:24] soya3129 commented on #7579
If we call commonContinue() when `iteration_state_ != IterationState::StopSingleIteration`, are we going to send headers and not buffered data, etc to the following filters twice? Because returning continue will keep iterating through the following filters, and commonContinue() will do the same(?).

I could be wrong. But I thought buffering data implies we need to StopIteration? Otherwise, we migh

[2019-07-16 11:25] a-sharma11 commented on #6050
Thats very interesting. Thanks for looking into it @atrifan ! The values i am using are valid guid. I will report it as new bug.

[2019-07-16 11:38] a-sharma11 commented on #6050
Based on your analysis above, i also performed a test by encapsulating the guid into quotes and that seems to be working. This command is working as expected and propagating it properly.

``curl 'http://localhost:8000/trace/1' -H 'x-request-id: "14c62072-28aa-4517-9f86-b5f9c84f20c7"'``

[2019-07-16 11:58] mkeeler commented on #7454
This is something we are running into with Consul. We need different Upstream TLS context for some failover endpoints. Being able to failover instead of another cluster would work just as well allowing us to configuring the TLS context for that cluster separately.

[2019-07-16 12:11] pezzati opened #7598 "Use Source IP for hash function input - help needed"
Hi, I want TCP load balancer for RabbitMQ upstreams. I want that the service always connect to only one of rabbits over time, so i want to user source ip for hashing.

I couldn't find anything for this, is this even possible currently?

[2019-07-16 12:28] jmarantz commented on #7588
Got it; thanks :)

Actually I'm reconsidering use of -DMEMORY_TEST_EXACT at all; maybe it'd be better to just make a command-line flag and change do_ci.sh to set that. WDYT?

[2019-07-16 12:43] jmarantz commented on #6431
Yeah I think that's right; gate the addition of these response-code metric variants by a command-line flag, default off.

I can help review if someone wants to take on building it.

[2019-07-16 15:32] snowp commented on #7253
Yeah I have a half done branch, I'll try to find the time to put it up

[2019-07-16 15:37] hrobertson opened #7599 "stats: Configurable Histogram Buckets"
*Title*: Request: Make statistics histogram buckets configurable

*Description*:
Histogram buckets are currently hardcoded to cover a wide range of values (https://github.com/envoyproxy/envoy/blob/master/source/common/stats/histogram_impl.cc#L34)
Many users will benefit from customising the buckets to match their data/use case.

For example, the current buckets include a 10-30 second bucket. If th

[2019-07-16 16:08] jmarantz commented on #7314
per discussion on conf call; will flip default, make an announcement, and add a release note.

[2019-07-16 16:21] lizan commented on #7588
@jmarantz yeah that would be great too. up to you.

[2019-07-16 16:23] mattklein123 commented on #7595
If there is any way you could create a self contained repro that would be awesome and/or provide a core dump with symbols. Something obviously regressed here, but unclear where. cc @soya3129 @snowp

[2019-07-16 16:39] davidamin commented on #7540
Ahh that makes total sense! Thanks so much!

[2019-07-16 16:39] #7540 closed

[2019-07-16 16:47] htuch commented on #7454
Will tiered LB handle the use case that @mkeeler mentions? Maybe the simplest thing to do would be able to have Cluster failover rather than LB tiering.

[2019-07-16 17:21] mkeeler commented on #7454
@htuch That sounds perfect. We are trying to map the concept of failover into LB endpoints with priorities but being able to just specify an alternative cluster to use for failover would be a much closer match to the concept we are trying to implement.

[2019-07-16 17:43] snowp commented on #7579
I think sending the data through directly is a valid solution too, it's definitely  better than just dropping the data completely.

The trade off between the two becomes an API question imo: should the filter author be responsible for tracking whether they are buffering multiple frames? or can they use the addData callback to collect all the data into the buffer regardless of the # of frames?

Ano

[2019-07-16 17:44] lizan commented on #7596
Are you behind some proxy to access those tools in `go.googlesource.com/tools`? If so you can configure [http proxy](https://github.com/envoyproxy/envoy/tree/master/ci#building-and-running-tests-as-a-developer). Or you can download those packages manually and put in a directory, and use [distdir](https://github.com/envoyproxy/envoy/blob/master/bazel/EXTERNAL_DEPS.md#distdir---prefetching-dependenc

[2019-07-16 17:44] kokizzu opened #7600 "Feature Request: automatic https like Caddy"
*Title*: automatic https like Caddy

*Description*:

[code]

in Caddy, this would automatically fetch letsencrypt SSL/TLS certificates.

[2019-07-16 17:46] mattklein123 commented on #7600
I believe this is a duplicate of https://github.com/envoyproxy/envoy/issues/96

[2019-07-16 17:47] kokizzu commented on #7600
ah right, i'll follow that issue instead..

[2019-07-16 17:47] #7600 closed

[2019-07-16 18:26] kokizzu opened #7602 "Feature Request: simpler config"
*Title*: simpler config like in Caddy

*Description*:

RELOAD` so `slack`-less people don't know where to seek [help](https://github.com/envoyproxy/envoy/issues/3977).

for example this Caddy for production, every request that match protocol: `http://` `https://` `ws://` `wss://` (because `websocket keyword`) with domain `x.com` or `www.x.com` that match `/` URI will be load balanced to `127.0.0.1

[2019-07-16 18:59] hongzimao commented on #5841
Just opt in to check the progress of this development. Is this ready to pull the latest code and try out now?

Also, to clarify, when one of the duplicated requests responds, will we cancel other replicas?

Thanks for the great work!

[2019-07-16 19:05] snowp commented on #5841
Yeah we're running with this feature in production, and yes the other requests will be reset. Whether this results in request cancelation on the server side will depend on how your server handles resets.

[2019-07-16 21:19] JimmyCYJ opened #7604 "Add annotations for certificates listed in /certs"
*Title*: Add annotations for certificates listed in /certs

*Description*:
Per discussion with @PiotrSikora and @incfly on https://github.com/envoyproxy/envoy/issues/7111#issuecomment-499291659, we need to add annotations or something similar into /certs dump to clearly display the type of each certificate, i.e., certificates from static secret, inline secret or SDS. It would be nice if we can add

[2019-07-16 21:20] JimmyCYJ commented on #7604
/cc @lizan @myidpt @incfly @PiotrSikora

[2019-07-16 22:50] PiotrSikora commented on #7604
This would fix https://github.com/envoyproxy/envoy/issues/4757.

[2019-07-16 22:54] incfly commented on #7604
I think Jimmy is referring to distinguish key/cert from different
sources(config source) when displayed in `/certs`. @Piotr Sikora
<piotrsikora@google.com> the one you mentioned is about redacting the
private key.

On Tue, Jul 16, 2019 at 3:50 PM Piotr Sikora <notifications@github.com>
wrote:

[2019-07-16 22:59] PiotrSikora commented on #7604
Ah, sorry, I saw "annotations" and just processed is as the protobuf annotations that we talked about. I see what you're saying now, sorry for the noise.

[2019-07-16 23:51] #7325 closed

[2019-07-17 02:01] zk3326312 commented on #7596
thanks, problems can be solved by distdir

[2019-07-17 02:01] #7596 closed

[2019-07-17 02:19] soya3129 commented on #7579
The buffering solution on a Continue sounds good as long as we don't repeat, :)

[2019-07-17 04:06] mattklein123 opened #7606 "coverage: allow excluding lines again"
We lost this with the switch to llvm-cov. This is being tracked in: https://bugs.llvm.org/show_bug.cgi?id=34277. We should pick up whatever solution is determined there.

If someone out there wants to contribute help to llvm-cov to fix this that would be awesome.

[2019-07-17 04:06] mattklein123 commented on #7606
cc @lizan

[2019-07-17 04:07] mattklein123 opened #7607 "build: do basic gcc build in CI"
As of this week we no longer test GCC in CI. Optimally, we should at least do a server (non-test) build with GCC to make sure we don't have any compile issues.

[2019-07-17 04:07] mattklein123 commented on #7607
cc @lizan

[2019-07-17 04:13] mattklein123 commented on #7454
The problem with "cluster failover" is if we keep the clusters separate we will need to build config/code logic in all of the users to handle failover to the other cluster. This is doable but seems sub-optimal. Another option would be to have some kind of failover list within a cluster itself, and some ability to grab hosts from the failover cluster, but at that point it seems cleaner to me to jus

[2019-07-17 04:20] itayd commented on #7423
@htuch i see no other way than making it generic :) it's not much work, it's just configuration. i got it almost ready btw, will prolly finish it tomorrow.

[2019-07-17 06:43] euroelessar opened #7611 "http: Duplicate slashes in the path"
*Description*:
Envoy currently does not collapse multiple slashes in a row into one for request uri paths.
For example: `//a/b/c` or `/a///b/c` into `/a/b/c`.

Both Nginx and Apache do optionally perform such operation, is it something Envoy could consider to do as well?

*Relevant Links*:
* http://nginx.org/en/docs/http/ngx_http_core_module.html#merge_slashes

[2019-07-17 08:19] lizan opened #7613 "build: push build images to gcr.io too"
RBE requires build image pulling from GCR.

[2019-07-17 09:20] euroelessar commented on #1178
Is it fair at this moment to assume that all replies generated by Envoy itself are going through `StreamDecoderFilterCallbacks::sendLocalReply`?
It would make it a reasonable injection point to override the output (status code, headers, body) based on the configuration.

[2019-07-17 09:58] s-vivien commented on #7595
Given our endpoints are private, the first option is not feasible. I can however provide you the core dump.
[core.zip](https://github.com/envoyproxy/envoy/files/3401207/core.zip)

[2019-07-17 10:03] #7204 closed

[2019-07-17 10:55] andrewtikhonov commented on #7025
It's only there when JWT auth is triggered and successfully completes.

[2019-07-17 10:56] #7060 closed

[2019-07-17 11:14] mkeeler commented on #7454
For Consul, the root of the problem really is that the UpstreamTLS context has to be the same for all endpoints in the cluster.

Failing over to another cluster is just one possible solution (that happens to conceptually map really nicely to what we are trying to accomplish)

If there was some subset of endpoints used for failover, that would work to so long as we could override the TLS context.

[2019-07-17 12:12] toweroy opened #7614 "Envoy proxy continues to send requests (even after GO_AWAY)"
## Envoy proxy continues to send requests (even after GO_AWAY) to a service in a pod that has been killed causing DeadlineExceeded

### Description
After removing a gRPC endpoint being called by an Envoy proxy, the removed endpoint sends a proper GO_AWAY frame (as indicated by the counter upstream_cx_close_notify)back to the calling entity, this does not seem to prevent the calling Envoy proxy fro

[2019-07-17 15:11] #7524 closed

[2019-07-17 15:17] mattklein123 commented on #7454
I think this is feasible, especially with the subset LB. I think it would be nice to clarify the actual end user cases for everyone following this thread and we can go from there?

[2019-07-17 15:18] mattklein123 commented on #1178
@euroelessar yes, agreed. See also the convo in https://github.com/envoyproxy/envoy/issues/7537

[2019-07-17 15:20] mattklein123 commented on #7537
@lukidzi that is roughly the type of config that I have been considering also. I think we can do other things in that config such as JSON vs. text, etc.

[2019-07-17 15:20] mattklein123 commented on #7537
See also https://github.com/envoyproxy/envoy/issues/6166 which is related and I would like to handle in the same config.

[2019-07-17 16:27] stevenzzzz opened #7617 "[xDS] VHDS support of subscription creation after initManager.initiliaze()"
*Title*: in the case where a VHDS config is sent by management server after the initManager has been initialized, the RDS config update end in programming error.

*Description*:

*Repro steps*:

1. Management server sends RouteConfiguration w/o VHDS
2. initManager initialize() called, Envoy starts serving.
3. Management server sends RouteConfiguration w/ VHDS
4. RDS impl tries to create a VHDS sub

[2019-07-17 16:28] stevenzzzz commented on #7617
/assign dmitri-d

[2019-07-17 16:42] xavierhardy opened #7618 "Support using streaming HTTP transport for sending traces to LightStep"
*Title*: *Support sending traces using streaming HTTP transport to LightStep satellite collectors*

*Description*:

*Relevant Links*:
Configuration options for tracing using LightStep: https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/trace/v2/trace.proto#config-trace-v2-lightstepconfig

This requires upgrading the LightStep c++ library (https://github.com/envoyproxy/envoy/issues/7363)

cc

[2019-07-17 17:26] hongzimao commented on #5841
Thanks for the reply @snowp! By "reset" do you mean the load balancer will send a special signal to the server side? Does the server side envoy have a separate port for "reset" traffic (I would imagine the duplicated request is queued before reset)? This might be a trivial question but I want to understand more about the underlying implementation.

Are there a few entry points to how this feature

[2019-07-17 17:49] rene-m-hernandez commented on #288
Discovered this by accident while searching through outlier issues.

Curious if `Latency Outlier` just fell by the wayside or if there were roadblocks that prevented it from happening?

In addition the latency outlier, I'd also be interested in the `Periodic Success Rate`; unless, that refers to the success percentage based outlier that exists now? I was hoping for something along the lines of "cu

[2019-07-17 18:01] silentdai commented on #7560
Sorry for the unclear and the late reply.
The background is that I am adding the functionality to drain connections owned by a subset of filter chains, instead drain all the filter chains of a listener. This functionality is the fundamental of FCDS. It can be utilized by LDS as well.

I will use LDS as example. The flow is
- A new listener config is published.
- On master thread, ListenerManager d

[2019-07-17 18:07] silentdai commented on #7560
https://github.com/silentdai/envoy/pull/4 is the example that how I would group connections by `FilterChains`

As the tag() is missing `findGroupByFilterChain` is using the address of Network::FilterChain. This highly restricted how Listener/FCDS updates the FilterChain set.

[2019-07-17 18:22] snowp commented on #5841
iirc for http 1.1 a reset means that envoy closes the connection (I could be wrong here), while for http/2 it means that it sends a RST_STREAM frame to the server. It would be up to the server to handle this - there's no out of band communication of resets

[2019-07-17 19:27] alyssawilk commented on #7548
Huh, so for flipping things on, we can run setAllFeaturesAllowed, which iterates through the vector and flips things.  Unfortunately for config we don't have an equivalent list of deprecated-but-not-fatal config.

Offhand we could
1) once per test runner grep for deprecated fields and generate the list
2) always pre-generate the list of deprecated-but-not-fatal fields, format-verify it is up to da

[2019-07-17 19:53] bobby-stripe commented on #7583
something like `REMOVE_QUERY_STRING($x)`  sounds reasonable - it would be nice to be able to say `%REMOVE_QUERY_STRING(%REQ(X-ENVOY-ORIGINAL-PATH?:PATH)%)%` or `%REMOVE_QUERY_STRING(:REFERER)%` (can logging operators like this currently be nested?)

I think my preference would be for a blunt tool - removing the entire query string.  Denylists of fields to remove from the query string are very brit

[2019-07-17 20:09] dio commented on #7583
@bobby-stripe thanks!

I agree. That makes sense.

@zuercher do you have advice here?

[2019-07-17 20:10] htuch commented on #7454
@mattklein123 I think there are multiple requirements here:
1. Being able to failover to other endpoints (and potentially override settings like TLS context).
2. Being able to failover to a completely different service discovery mechanisms (e.g. the endpoints usually come from EDS but the failover endpoints come from DNS).

(2) is a requirement coming from Istio based on real-world use cases (not

[2019-07-17 20:59] crazyxy commented on #7454
@htuch I think Istio's case covers both of them. Background is that our customer tries to failover from internal service to external service.
1. The internal service and external service have different TLS context. The internal service enables mTLS but the external service doesn't enable;
2. The external service endpoint also comes from DNS and internal service endpoints are provided by EDS. It wo

[2019-07-18 00:58] euroelessar opened #7624 "tracing: Make request id format and tracing behavior configurable"
*Description*:
Envoy currently enforces specific format of `x-request-id` header, and piggybacks tracing decisions into it.
However this approach does not play well with existing setups, which already heavily use both request ids and tracing, and rely on transmission of this data in different form (e.g. using explicit distinct headers for tracing-related metadata).

In short we would like to have

[2019-07-18 01:13] #7217 closed

[2019-07-18 02:03] #7468 closed

[2019-07-18 04:13] #7187 closed

[2019-07-18 05:13] #7219 closed

[2019-07-18 05:45] itayd commented on #7423
@htuch is it ok if i label such prs with the team they mention? otherwise figuring out double-mentions on consecutive commits can be troublesome.

[2019-07-18 06:13] itayd commented on #7423
@htuch sans ^, things are ready. I just need to test a bit more. For that it'd be super useful if you could create a testers team in envoy that includes me. thanks.

[2019-07-18 06:26] itayd commented on #7423
@htuch fyi https://github.com/envoyproxy/envoy/pull/7627

[2019-07-18 09:17] lita commented on #7529
I dug into this more and can reproduce it fairly easily on our staging environment on start up.

I did a janky version of TAP where I log all the request/response on StreamResponse callback of our control plane and did not see any discovery response with empty CDS data. So that is not the issue.

However, I noticed that the empty EDS data starts to be requested right after requesting and receiving

[2019-07-18 09:51] elvizlai opened #7630 "503 UR when envoy.grpc_json_transcoder with request application/x-www-form-urlencoded"
return status 503 UR when `envoy.grpc_json_transcoder` with request header `application/x-www-form-urlencoded` and body `clientid=mqttjs_34463c3c79&username=1&password=2`

using json body `{"clientid":"mqttjs_34463c3c79"}` with curl works

envoy  version: a975561b980463f08689d3debe33bb9eefc80c3d/1.11.0-dev/Clean/RELEASE/BoringSSL

[2019-07-18 14:44] mattbailey opened #7631 "Feature request: gRPC Reflection combiner at the edge from multiple Cluster backends."
*Title*: *combine gRPC reflection responses from multiple backends*

*Description*:

[optional *Relevant Links*:]

[2019-07-18 15:33] sekaninat opened #7632 "Front proxy routing to external server returns 503"
*Title*: *Envoy proxy routing to external server returns 503*

*Description*:
Hi, I have a envoy front proxy which I would like to use for routing to external services, which are not running in envoy, but I am getting 503 Service unavailable from my proxy. As I managed to get this running in demo setup with envoy containers (something like in [docs](https://www.envoyproxy.io/docs/envoy/latest/star

[2019-07-18 16:40] mattklein123 commented on #7598
IIRC this is not supported today but I think it wouldn't be very hard to add a hashing policy for this.

[2019-07-18 16:41] #7467 closed

[2019-07-18 16:42] mattklein123 commented on #288
@rene-m-hernandez just need someone to work on it.

[2019-07-18 16:49] mattklein123 commented on #7624
I think it makes sense to make this configurable and/or pluggable. @euroelessar can you put together a more complete proposal before coding? Thank you!

[2019-07-18 16:50] mattklein123 commented on #7529
Thanks for the excellent digging here @lita. @htuch @fredlas could this potentially have to do with the pause mechanics?

[2019-07-18 17:16] mattklein123 commented on #7454
From everything I've seen here I still think the aggregate cluster is going to be the cleanest way of doing this and will give us a lot of flexibility. IMO it wouldn't be that bad to implement either.

[2019-07-18 17:28] crazyxy commented on #7632
@sekaninat Can you add your configuration? AFAIK, Envoy supports routing to non-envoy instances.

[2019-07-18 18:05] lita commented on #7529
As I look through the trace further I do see the Cluster being destroyed right before the bad EDS request, which might be of interest.

[code]

All the request has some cluster getting destroyed before it.

Longer trace below.
[code]

[2019-07-18 18:37] z0r0 commented on #2852
Bumping this as well.

[2019-07-18 19:19] #7170 closed

[2019-07-18 19:39] lizan opened #7636 "ServerInstanceImplTest.BootstrapNodeWithSocketOptions fails in certain environment"
*Description*:

The test added #7562 fails in my local env (Debian stretch with Clang-8), error log:

[code]

It does fail regardless whether I build/run this test in build container (i.e. via `ci/run_envoy_docker.sh`) or not, so I guess this is somewhat related to kernel or its config. Just FYI the kernel version is `4.9.0-8-amd64 #1 SMP Debian 4.9.144-3.1 (2019-02-19) x86_64 GNU/Linux`. Any idea

[2019-07-19 01:35] euroelessar commented on #7397
I've started working on the change, please assign it to me.

[2019-07-19 02:02] euroelessar commented on #7624
Sounds good, I'll work with a team to come up with something. Do you prefer a proposal here or in some external location?

[2019-07-19 02:37] incfly commented on #7454
/cc @incfly

Even though I know the https://github.com/envoyproxy/envoy/issues/7135 is closed, but thinking from another perspective as Istio, if we allow TLS settings to be override for a subset endpoints or a sub-cluster, the best effort mTLS adoption can be really simpler.

We no longer blindly retry TLS and fallback to plaintext if fails. The guided information from xDS server can guide the En

[2019-07-19 03:19] #7241 closed

[2019-07-19 04:03] htuch commented on #7529
Thanks @lita for the trace, this is very helpful. The cluster isn't being destroyed I think, this is just the initialization watcher (a very misleading log line).

One thing I was wondering while reading was why are we sending independent ClusterLoadAssignment DiscoveryRequests for each cluster in the CDS update? The goal of "pausing" is to allow these to accumulate so that we don't send tons of d

[2019-07-19 04:19] #7053 closed

[2019-07-19 04:23] lizan opened #7647 "Potential memory leak in dynamic_ot tracers"
*Description*:
Prior to #7555, we didn't statically link libstdc++ in tests, so the test didn't fail though it is now fails under Ubuntu 18.04 with gperftools HEAPCHECK. Since we do statically link libstdc++ for released envoy binary, I suspect this is the issue living there for a while.

LSAN also detects the leak if we link libstdc++ statically in ASAN build.

Some error logs caught by Bazel CI:

[2019-07-19 05:06] euroelessar commented on #7636
My only theory atm would be that temporary socket somehow uses different ip:port tuple than admin port itself.
Can you try to collect `strace` dump of this failed test run, please?

[2019-07-19 05:39] lizan commented on #7636
Yes, strace dump: https://gist.github.com/lizan/efa1bd81c70c198aa16419f90889acdc

[2019-07-19 06:40] sekaninat commented on #7632
I'd expect I shouldn't use a cluster for the external servers then, but the [route](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#envoy-api-msg-route-routeaction) requires it.
[code]

[2019-07-19 07:23] yangjinjie opened #7649 "What is the automatic retry behavior？"
*Title*: *What is the automatic retry behavior?*

*Description*:
Using static configuration, when one of the nodes is down, what is envoy's retry behavior? Will it send requests to the downtime node or reject the downtime node and send requests to other nodes for retry?

[2019-07-19 09:28] ajit555db commented on #3492
after increasing the connect_timeout, my issue too vanished.

[2019-07-19 10:30] sbz opened #7650 "Documentation request: Clarify buffer configuration`max_request_bytes` default value"
*Title*: Document the default value of buffer configuration setting `max_request_bytes`

*Description*:

Configuration parameter `max_request_bytes` can be tweaked to increase the size of the buffer to workaround a HTTP Response Status Code [413](https://httpstatuses.com/413) `Payload Too Large` [RFC 7231].

There is no information what is the default value in envoy documentations either for [v1-a

[2019-07-19 14:42] TuvaevAndrey opened #7651 "Ring Hash balancing with subsets"
*Title*: *Ring Hash LB policy doesn't consider subsets*

*Description*:

Ring hash policy works just fine but it completely ignores subset configuration although subset routing starts working after switching to round robin or least request policy.

Let me know if I have missed some parts in the [documentation](https://www.envoyproxy.io/docs/envoy/v1.10.0/intro/arch_overview/load_balancing/subsets)

[2019-07-19 16:50] brucedlg opened #7652 "The correct behavior of load balancer algorithms depend on optional stats"
**Issue Template**

*Title*: *One line description*
The correct behavior of load balancer algorithms, in particular, unweighted round-robin and unweighted least-request (P2C), depend on optional stats value

*Description*:
When testing istio default configuration, load-balancer algorithms for unweighted round-robin and unweighted least-request behave like weighted round-robin with all weight 1.

T

[2019-07-19 18:26] #7588 closed

[2019-07-19 18:40] euroelessar commented on #7636
Can you check if this behavior is still reproducible on this branch, please?
https://github.com/euroelessar/envoy/tree/reuseport-also-listen

[2019-07-19 18:52] lita commented on #7529
Thanks for the insight @htuch. When we implemented EDS on our management server, we read the EDS code and it was requesting one resource at a time. So our implementation just looks at the first element of the ClusterLoadAssignment request, and sends the hosts for that. But I didn't see any discovery requests for ClusterLoadAssignment having more than one resources on the control plane.

I can doub

[2019-07-19 19:30] drao9 commented on #2463
Can this value be 0 ex: `common_lb_config: { healthy_panic_threshold: { value: 0 } }` in envoy 1.9.1? When I set it to 0. I get ```"common_lb_config": {
        "healthy_panic_threshold": {}
       }
      },``` in config_dump

[2019-07-19 19:58] lizan commented on #7636
Thanks it works! The test doesn't fail on that branch.

[2019-07-19 20:31] euroelessar commented on #7636
Great, I've modified code a bit again (to remove hard-coded exception text and so on), would appreciate if you give a try to the version in the pull request.

[2019-07-19 21:11] htuch commented on #7529
IMHO if we have Envoy generated a `ClusterLoadAssignment` for each request, then we have a bug, pausing is basically doing nothing useful. This would be an interesting finding.

One thing I'm curious about is whether we can shrink this down to a simple repeater? One interesting possibility for this is the `ads_integration_test`-like fuzzer that @asraa is building. If this could capture CDS/EDS, th

[2019-07-19 21:21] lita commented on #7529
Hmm, is the issue then that we are returning 1 EDS resource at a time? I can try validating the that we do not get a ClusterLoadAssignment request with multiple resources.

[2019-07-19 21:40] htuch commented on #7529
That's definitely one brokeness; I don't think it's necessarily the same as the "we got an empty EDS", but might be related. It's something concrete we can investigate though. What I would expect to see happen is we see the first ClusterLoadAssignment from Envoy as being all resources from the CDS update. Then, if you feed Envoy from the management server all the EDS resources, it should do anothe

[2019-07-19 22:31] #7248 closed

[2019-07-20 05:39] itayd commented on #7423
@htuch ready! demo for you: https://github.com/envoyproxy/envoy/pull/7659

lmk if looks ok, then i'll make a proper pr to integrate into the repo.

[2019-07-20 08:58] aliariff commented on #1861
Hey, anyone got luck for running it in raspberry pi?

[2019-07-20 19:33] mattklein123 commented on #7529
@htuch FYI we aren't using ADS at Lyft. As such each EDS is on its own stream so I think there would only ever be a single request per stream?

[2019-07-20 19:38] mattklein123 commented on #7624
A public gdoc linked here would be best. Thank you!

[2019-07-20 19:40] mattklein123 commented on #7649
Envoy does no retries by default.

[2019-07-20 19:43] mattklein123 commented on #7652
Marking help wanted. I agree we can/should do better here.

[2019-07-20 20:34] lita commented on #7529
Yup, that is correct. We are not using ADS, and should be a single stream we are dealing with.

[2019-07-20 20:37] happydenn opened #7667 "thrift response error: unknown field type 108 using thrift_proxy"
*Title*: thrift response error: unknown field type 108 using thrift_proxy

*Description*:
We have a service with Thrift RPC interface. When using thrift_proxy while most requests were successful. There were numerous errors with `thrift response error: unknown field type 108` and the field type number has several possible values such as 108, 111, -105 etc. There were no such errors when connecting

[2019-07-21 01:40] derekargueta opened #7668 "Ability to do a prefix_write in a route.WeightedCluster.ClusterWeight"
*Title*: route.WeightedCluster.ClusterWeight
*Description*:
Feature request to add a `prefix_rewrite` field to `route.WeightedCluster.ClusterWeight`. The use case we have is that we're doing a migration from one service to another using `ClusterWeight` to be incremental. However the new service will use a different path. So we want to traffic split between service A expecting `/` and service B exp

[2019-07-21 04:44] #7268 closed

[2019-07-21 08:42] ramaraochavali opened #7670 "some retries are skipped by Envoy"
I am debugging some retry failures and noticed that Envoy is skipping retry in some cases even though the retry policy is set for it. This is a gRPC retry.

Here is the retry configuration
num_retries: 5
retry-on: cancelled,connect-failure,gateway-error,refused-stream,resource-exhausted,unavailable

Actual end client sees 503 with error message "upstream connect error or disconnect/reset before he

[2019-07-21 08:43] ramaraochavali commented on #7670
@mattklein123 does the above analysis make sense? Any thoughts?

[2019-07-21 12:44] #7247 closed

[2019-07-21 13:38] dio commented on #7670
@snowp any comments on this?

[2019-07-21 14:07] dio commented on #7670
@ramaraochavali is https://github.com/envoyproxy/envoy/pull/7671 related to this?

[2019-07-21 17:04] #7257 closed

[2019-07-21 19:04] #7278 closed

[2019-07-21 23:04] #7288 closed

[2019-07-22 02:13] #1606 closed

[2019-07-22 02:23] yangjinjie commented on #7649
My configuration is like this. When one of the nodes is down, what is envoy's retry behavior? Will it send requests to the downtime node or reject the downtime node and send requests to other nodes for retry?

[code]

[2019-07-22 03:08] ramaraochavali commented on #7670
@dio Added a stat that could possibly confirm the behaviour of retries when request is completed

[2019-07-22 05:59] shaneqld commented on #3383
A few design questions:

1. Should we change the default behaviour, or perhaps have a printOptions option for outputting errors as JSON?
2. If we change the default behaviour, should we remove the HTTP headers containing the grpc errors?  I fear this might break consumers expecting the previous behaviour.

[2019-07-22 06:19] lizan commented on #3383
I'd add another options in the filter config, but not in printOptions.

No.

[2019-07-22 08:24] euroelessar commented on #7537
Can we use `StreamInfo::hasResponseFlag` method for it? (assuming the enum is somehow represented in protobuf), e.g. smth like:
[code]

On a side note, we can accommodate #1178 and #6166 by using custom rewrite rules:
[code]

[2019-07-22 08:26] euroelessar commented on #7537
Looking at the protobuf definitions, it looks like access log defines the whole new structure to pass response flags around: https://github.com/envoyproxy/envoy/blob/ecd03a4eed07e1cfea9e9844e519b7fffada437a/api/envoy/data/accesslog/v2/accesslog.proto#L151

[2019-07-22 08:59] euroelessar opened #7674 "access log: Add ability to batch entries for grpc access log"
*Description*:
Currently noticeable chunk of cpu usage (>50%) of grpc access log is spent in syscalls.
This overhead can be eliminated by batching access log entries.

Is it reasonable to extend `CommonGrpcAccessLogConfig` by two new field: `flush_interval` and `batch_byte_size`?

*Relevant Links*:
https://github.com/envoyproxy/envoy/blob/c53b12dc52744f523b5d7431514cffd2ee4c33c4/source/extensions/

[2019-07-22 09:27] dio commented on #7674
@euroelessar I think that’s reasonable. Feel free to open a PR 🙂. cc. @mattklein123 @ramaraochavali

[2019-07-22 15:36] mattklein123 commented on #7674
Yes, +1

[2019-07-22 16:28] mosesn opened #7676 "SDS long-polling over REST-JSON ignores repeated messages when file contents have changed"
*Description*:
I’m setting up SDS with long-polling over REST-JSON and we’re having trouble getting envoy to acknowledge that a cert has changed when we send back a message to try to indicate it should re-read the certs.  We're sending a Secret-type resource that we're configuring like this:

[code]

And since the `certPath` and `privateKeyPath` don't change (only the contents have changed), the r

[2019-07-22 16:48] mattklein123 commented on #7537
@euroelessar one thing I would like to avoid here is "yet another matching config." I know @mergeconflict conflict has been thinking about this a bit. If we want to implement matching it would be nice to reuse access log filters, tap matchers, or even part of the routing table config. Can you take a look at all of those?

Also, I think this would benefit from a full design doc. When you have inves

[2019-07-22 16:52] mergeconflict commented on #7537
@euroelessar have a look at my design doc for unified matchers, if you're interested: https://docs.google.com/document/d/14CAt13uAlrCPPAh3dL06JL0FrKRh8VKJfjCg6HV7p3c. I haven't been actively working on this project, but the doc isn't badly out-of-date yet.

[2019-07-22 18:24] lukidzi commented on #7537
I've implemented this feature but it will require some changes to reuse existing code. Should I open a PR and wait for some feedback with right solution/suggestions?

[2019-07-22 18:32] mattklein123 commented on #7537
@lukidzi do you work with @euroelessar? Can the two of you collaborate on a short design doc on the configuration we want?

[2019-07-22 19:41] hongzimao opened #7680 "Duplicated setupRetry()?"
*Title*: *Duplicated setupRetry() during soft per try timeout?*

*Description*:
https://github.com/envoyproxy/envoy/blob/78d35c9775a590d06bcf924fbaaacb29187f7183/source/common/router/router.cc#L738-L739

In the if check, `setupRetry()` will increase `pending_retries_`. This will make the second `setupRetry()` duplicated? Or is it explicitly designed this way?

[2019-07-22 19:48] hongzimao commented on #7680
Is it because hedge does not cancel old retries and we want to explicitly increase `pending_retries_` by 2 as `doRetry` will decrease a `pending_retries_`?

[2019-07-22 20:46] mattklein123 commented on #7680
cc @mpuncel

[2019-07-22 20:46] mattklein123 commented on #7676
cc @lizan

[2019-07-22 20:47] incfly commented on #3431
I did some study on this bug.

Using new connection pool for http1/http2 protocol selection with ALPN information seems feasible to me. High level things to do

## ALPN upgrade

1. Add a new connection pool impl, maybe `HttpAutoConnectionPool`. This impl is supposed to maintain list of the both http1 and http2 codec client, and auto select based on alpn value.
1. We use [`include::envoy::http::pro

[2019-07-22 20:47] mattklein123 commented on #7651
I don't remember exactly why this is not supported today. cc @zuercher @snowp

[2019-07-22 20:48] mattklein123 commented on #7631
This kind of auto-hydration is something I'm interested in from a filter perspective, but it needs a detailed design proposal as it is a large topic.

[2019-07-22 20:56] mattbailey commented on #7631
Yeah, it's non trivial, and might also warrant a conversation in the alpha reflection spec as well. I got a stopgap service built to serve up a new handler for the reflection proto that hits up the backing services and stores the responses in an LRU. Right now, just relying on a tight coupling between the DNS names of upstream host clusters and the names of my gRPC services to map out connectivity

[2019-07-22 21:01] lizan commented on #7676
Thanks for the report, I believe this is bug, cc @JimmyCYJ @incfly @PiotrSikora

[SdsApi](https://github.com/envoyproxy/envoy/blob/master/source/common/secret/sds_api.cc#L41) compares protobuf content of the response from SDS, but ignore the resource version, so there is no way to trigger config update if the `Secret` is exactly same.

[2019-07-22 21:12] mattklein123 commented on #7614
On its own a GO_AWAY frame will only cause Envoy to close the H2 connection and open a new one. It needs to be coupled with active health checking or some other mechanism to cause Envoy to remove the host from the upstream active set.

[2019-07-22 21:12] incfly commented on #7676
+1 a bug.

So the `tls_certificate` is specified via `DataSource.filename`, the actual file blob has changed, but we don't bother to re-read. `resource version` here should be used to indicate the updates and sds is supposed to follow other xds.

[2019-07-22 21:13] mattklein123 commented on #7560
I think we can cover this in code review and can move forward in parallel with what @kyessenov is doing if that lands first.

[2019-07-22 21:14] mattklein123 commented on #7548
(3) sounds good to me.

[2019-07-22 21:15] htuch commented on #7529
Right, as a result of the rollback of @dmitri-d earlier PR in this area, we don't have EDS stream multiplexing without ADS. Are we seeing an empty request on the same stream as a previous EDS request or on a new one?

[2019-07-22 21:19] JimmyCYJ commented on #7676
Thanks for the report. Originally SDS is running on top of gRPC subscription. I guess SDS is using filesystem subscription in this case. We need to add resource version into secret update.

[2019-07-22 21:29] mattklein123 commented on #7670
Yes, buffer filter would "fix" this case if it works for your use case.

[2019-07-22 21:29] lizan commented on #7676
@JimmyCYJ This happens regardless of gRPC subscription or not, when the DataSource has same filename, SDS won't re-read and no way to trigger it to read (which resource version should trigger)

[2019-07-22 21:35] htuch commented on #7423
@itayd looks great, this is exactly what we were after here I think. Can I confirm that the "must approve" checks are dynamic and shrink/grow/disappear based on PR and path?

[2019-07-22 21:40] mosesn commented on #7676
When you refer to `resource version` does that mean the `version_info` in the DiscoveryResponse?  Is the idea that I should increment it every time I want to provide an update?

[2019-07-22 21:52] mattklein123 commented on #7667
cc @zuercher

[2019-07-22 21:53] lizan commented on #7676
@mosesn yes, and also version in `Resource` https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/discovery.proto#L226

[2019-07-22 21:58] mattklein123 commented on #7576
Fixed

[2019-07-22 21:58] #7576 closed

[2019-07-22 22:10] mattklein123 commented on #3431
@incfly this is on the right track.

For H2C upgrade, nghttp2 supports this internally to the library. See https://nghttp2.org/documentation/nghttp2_session_upgrade2.html#c.nghttp2_session_upgrade2. This can then be coupled with an HTTP1 codec to start the process, which then switches over to an HTTP2 codec after the upgrade. There will need to be some work/thought put into how this is done, most

[2019-07-22 22:40] sschepens commented on #7529
Hi, we're experiencing the same issues here.
We're also using one EDS stream per Cluster and we've found that this happens on old streams ~3days and somehow seems to always end up failing on a stream nonce of 10 which is weird.
Also, when this happens it happens for the same cluster in multiple envoys at the same time.

[2019-07-23 01:03] mosesn commented on #7676
Got it.  But `Resource` is only if I use the DeltaDiscovery API, which is only relevant in the incremental xDS case.

In the mean time, it sounds like I can get around this issue by supplying the actual bytes instead of a path?  Is that correct?

[2019-07-23 01:06] incfly commented on #7676
That's correct, if you make your management server push update with `inline_string`, the hash will be different and trigger a update. We use that in Istio.

[2019-07-23 01:45] lita commented on #7529
Hey @htuch, I added further logging, I am seeing both.

I see a stream where envoy was requesting valid eds data with one resource, but all of a sudden makes a discovery request with no resources. This usually has a response_nonce of 17 or something pretty high. Then the stream closes.

I also see new EDS streams getting created with the first discovery request having no resources. Then the stream

[2019-07-23 02:05] codesuki commented on #5281
Sorry for writing on a closed issue but what happened to the discussion about ignoring all unknown parameters? I am currently in a situation where I have clients hitting envoy that add query parameters unpredictably from our side. There is no way we can add an exhaustive list of keywords to the `ignored_query_parameters` config.

[2019-07-23 02:33] ramaraochavali commented on #7680
Yeah. I was also wondering about this yesterday

[2019-07-23 02:34] ramaraochavali commented on #7670
@mattklein123 Thanks. A follow-up question, how does buffer filter work with gRPC streaming requests? And what is the typical max_buffer_size configured? I know the second part depends on use case, but just wondering.

[2019-07-23 02:57] zqzzq commented on #7229
@asraa Very thanks! That worked for me, too. Now I have built it successfully. Closing this.

[2019-07-23 02:57] #7229 closed

[2019-07-23 02:58] #6557 closed

[2019-07-23 03:04] Yikun opened #7686 "Build: bazel build failed on aarch64/arm64"
The envoy-build-arm64 build failure after change https://github.com/envoyproxy/envoy/pull/7555 .

Looks like we should do some upgrade on the build script? [1]

The failure log as below, and the complete log could be found in [2].
[code]

[1] https://github.com/envoyproxy/envoy/blob/master/.zuul/playbooks/envoy-build/run.yaml#L10-L23

[2] https://logs.openlabtesting.org/logs/periodic-4/16/github.c

[2019-07-23 03:05] Yikun commented on #7686
cc @lizan

[2019-07-23 03:12] #7517 closed

[2019-07-23 03:20] lizan commented on #7686
what version of bazel are you using?

On Mon, Jul 22, 2019 at 8:05 PM Yikun Jiang <notifications@github.com>
wrote:

[2019-07-23 03:21] mattklein123 commented on #7670
It doesn't work. :) Streaming requests cannot be buffered or retried. Unfortunately, Envoy has no way of knowing by default whether a request is streaming or not so this needs to be manually configured somehow, potentially on a per-route basis.

[2019-07-23 03:43] Yikun commented on #7686
@lizan The original bazel version is `0.24`, but I also updated the bazel to latest version: `0.28.1`, and then got the same error.

[2019-07-23 03:48] lizan commented on #7686
Do you have a log based on 0.28.1? Are you pulling the same .bazelrc?

[2019-07-23 04:05] Yikun commented on #7686
Now I try to build using bazel 0.28.1 with 14dd85d969325bb76feb85035a1668c6cbd8f6e2 , the job is running. and I will paste the error log after job complete.

I guess no, because the env will be rebuild in every and code was reset to the 14dd85d969325bb76feb85035a1668c6cbd8f6e2

[1] https://github.com/Yikun/arm-openlab-test/pull/19

[2019-07-23 04:13] moderation commented on #7686
I had a short period with a similar issue but have compiled aarch64 today on master without issue

[2019-07-23 04:20] ramaraochavali commented on #7670
I see. Thanks much.

[2019-07-23 06:45] Yikun commented on #7686
@moderation thanks for the info, and the last job is also successful, I will try again to build the latest master.

[2019-07-23 06:54] hbgongen opened #7688 "how can i transfer http+proto to grpc service"
For title,i want to know if there has any filter can do this work?

[2019-07-23 07:17] hbgongen commented on #7007
interested +1~

[2019-07-23 07:26] zqzzq opened #7689 "Add support for mips64"
**Issue Template**

*Title*: Add support for mips64

*Description*:
my host is mips64 platform with linux:
[code]
and the bazel has already supported mips64:
[code]
but when I build istio-proxy(envoy) I encountered this error:
[code]
I have to add some configuration for mips64 to make the build successful.

[2019-07-23 09:32] lukidzi commented on #7537
We don't work together. I'll try to create some doc with analysis of existing solutions and how we can reuse them also I'll try to find some common solution for existing code.

[2019-07-23 10:25] dio commented on #7688
I don't think we have one. We currently have a [grpc_json_transcoder](https://github.com/envoyproxy/envoy/tree/master/source/extensions/filters/http/grpc_json_transcoder) which transcodes HTTP-JSON (application/json) requests to gRPC requests.

Could you explain a bit more on your use-case? Thank you.

[2019-07-23 10:33] alxyav opened #7692 "ext_authz http filter does not propagate HttpStatus over http2"
Tested with envoy v1.10.0

*Description*:
The explicit http status code specified by external auth service is not respected when request is performed over http2 - instead the pseudo-header of ":status" always has the value of 200.

*Details*:
Envoy is setup to talk to a custom (grpc) auth service that implements the ext_authz interface. Here's the implementation of `Check` method:

[code]

Here's

[2019-07-23 10:40] dio commented on #7692
cc. @gsagula

[2019-07-23 12:29] kyanamgoutham opened #7693 "specify a grace period to allow an request with expired jwt when using jwt auth filter"
When using jwt auth filter we should be able to specify a grace period to allow an request with expired jwt for the specified amount of time?

Or may be provide a way to forward the requests with expired JWT to a different upstream.

[2019-07-23 12:47] toweroy commented on #7614
@mattklein123 thank you for the explanation. Will dig into how we shutdown our service to see if there is something weird there. Sorry if I missed it, but is there a doc where I can refer to the behaviour you explained?

[2019-07-23 14:18] jmarantz commented on #4196
/wait

hopefully not too much longer :)

[2019-07-23 15:42] #7636 closed

[2019-07-23 16:11] qiwzhang commented on #7693
This should be marked as feature proposal.
Could you state your usages of allowing a grace period for requests with expired JWT or forwarding  requests with expired JWT to a different backend?

[2019-07-23 16:14] qiwzhang commented on #5281
Please raise a new issue of new feature request to allow unknown query parameters.

[2019-07-23 18:06] maei1337 opened #7698 "tls_context error initializing configuration "invalid path: /etc/...""
**Problem**
Hi all,
I just want to extend my envoy with the 443 redirect but I fail to get it work.
If I run my code I get
![image](https://user-images.githubusercontent.com/38084991/61735859-21c00a00-ad85-11e9-9419-23fefe8d3c6d.png)

Thank you so much for any help!! :)

***Description*:**
My Setup:
Docker Swarm Node on digitalocean droplet
2 Python Services with 1 Angular Frontend
I Cant get it s

[2019-07-23 18:44] crazyxy commented on #7632
@sekaninat sorry for late response. Does the external service support h2 connection? I can reproduce your issue when I try to connect to a upstream cluster which doesn't support h2 connection. You can remove the `http2_protocol_options: {}` to create http1 connection to upstream.

Here is my configuration:
<details>

[code]

</details>

`curl localhost:8000/1` and `curl localhost:8000/1` will retu

[2019-07-23 18:52] crazyxy commented on #7698
I think you missed to mount the certificate files. You can put smth like
`- ./envoy/chain.pem:/etc/chain.pem` under `volumes` in docker-stack.yaml

[2019-07-23 19:02] mattklein123 commented on #7595
@alyssawilk do you mind taking a look at this? I think the relevant lines are:
[code]

It looks like we are ending stream on headers, but then also trying to end stream on an empty data frame.

I think this might be a regression from https://github.com/envoyproxy/envoy/commit/1065ee418ef8a13f0c98613e45d6a6ceed0405c6? If I read it correctly I think we don't handle the case where we continued header

[2019-07-23 19:27] bplotnick opened #7699 "ext_authz: allow sending dynamic metadata as context"
*Title*: *ext_authz: allow sending dynamic metadata as context*

*Description*:
AFAICT from the docs & code, the ext_authz [attribute context](https://www.envoyproxy.io/docs/envoy/latest/api-v2/service/auth/v2/attribute_context.proto#service-auth-v2-attributecontext) can take "static metadata" only. However, there are certain use-cases where you want to use some metadata passed from one filter and

[2019-07-23 19:42] maei1337 commented on #7698
@crazyxy thank you very much! this works, but now I get "failed to load privkey"
![image](https://user-images.githubusercontent.com/38084991/61742080-977ea280-ad92-11e9-9413-6cf9d5bfd3b4.png)

But thank you again for your help

[2019-07-23 19:45] mattklein123 commented on #7632
It's expected. Envoy does not currently support any default retry or h2c upgrade / ALPN based client HTTP version selection.

[2019-07-23 19:46] mattklein123 commented on #7614
I'm not sure if there is a doc specifically on GO_AWAY handling, but I would start with: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/health_checking

[2019-07-23 20:29] crazyxy commented on #7698
You should mount the private key as well.

[2019-07-23 21:11] maei1337 commented on #7698
@crazyxy  :) yes I ve done it. but get this error ;)

[2019-07-23 21:29] dio commented on #7699
Hum, these two are interesting use-cases. @bplotnick Do you have an idea on how the configuration would look like?

cc. @gsagula

[2019-07-23 21:32] dio commented on #7692
Put it as question first while I'm trying to repro this. Thanks.

[2019-07-23 22:08] bplotnick commented on #7699
I'm not entirely sure yet, but maybe something like a list of metadata namespaces for config. I don't think we can easily re-use the `context_extensions` field for configuration, but we could have another field (something like "`metadata_context`") of type `repeated string` in [CheckSettings](https://github.com/envoyproxy/envoy/blob/a48143e13154b3c96507f2635339be1a4fb280ed/api/envoy/config/filter/

[2019-07-23 22:31] mattklein123 commented on #1451
@alyssawilk I started to look briefly at implementing this. I think roughly it will involve:
1) Making sure we allow CONNECT to propagate into the filter chain (probably via an HCM config setting to allow CONNECT)
2) We likely need to modify the route matching config to handle no path and CONNECT
3) Then we can have the dynamic_proxy_filter handle CONNECT and use the tcp_proxy code to initiate out

[2019-07-24 00:40] euroelessar opened #7702 "routing: ports in authority field"
*Description*:
Some clients are sending port in the authority field (e.g. `example.com:443`), but `VirtualHost.domains` [1] field doesn't treat ports in special way. It leads the config with `domains: ["example.com"]` on TLS 443 port to not match requests with `example.com:443` host header.

What would be a good approach forward?

Potential solutions:
1. Double include all domains (with and withou

[2019-07-24 01:12] Yikun commented on #7686
The latest result [1] is successful, the mater branch with the 0.28.1 version bazel.

[1] http://status.openlabtesting.org/build/5e25a7c9521b41779b38e69e69e868a5

[2019-07-24 01:39] lita commented on #7529
For now, I have added code on our control plane to ignore these request and return nothing, and that has mitigated the issue. Happy to dig into this again once I have more cycles, but feel free to provide any insights.

[2019-07-24 02:05] hbgongen commented on #7688
oh,thanks.we now want to use client request via http 1.1 or http 2.0 but with protobuffer not json,we background use grpc service.so i want to know how to make envoy support this func.

[2019-07-24 02:35] hbgongen commented on #7688
i also want to know.i can see the some log like http request header(content type)and so on.but now i can't see it.i don't know what happened.i need it to debug my process....please help me.

[2019-07-24 02:47] bitsmaker commented on #3218
I am getting the same thing docker container for envoy proxy exits without any logs. This is super annoying.

[2019-07-24 07:13] sekaninat commented on #7632
@crazyxy Yeah that was it! After dropping the the http2_protocol_options it is ok :grinning: . Should have read the docs more thoroughly :sweat:.

Thank you.

[2019-07-24 07:13] #7632 closed

[2019-07-24 07:42] toweroy commented on #7614
Thank you again for the information. Closing this issue.

[2019-07-24 07:42] #7614 closed

[2019-07-24 09:09] htuch opened #7706 "HeaderMap: simplify implementation and reduce unsafe implementation features"
We know that HeaderMapImpl (header_map_impl.cc) has been a historical source of multiple security and correctness issues. This is largely because of its complex implementation driven by performance concerns (O(1), dynamic and inline headers) as well as the use of manual memory allocation, memcpy, C string manipulation etc. Opening this issue to track any structural wins we can achieve here. CC @Pi

[2019-07-24 09:11] Antoineurban opened #7707 "Feature Request: add support for Noise Protocol Frameworks"
*Title*: *Add support for Noise Protocol Frameworks*

*Description*:
This is a general issue for adding support for a new transport socket extensions based on the [noise protocol](http://noiseprotocol.org).

Have you planned a possible integration in envoy?

[2019-07-24 11:00] sekaninat commented on #5357
Is there no solution to this with http_service since then? If not, can you give an example grpc configuration please?

[2019-07-24 16:26] mattklein123 commented on #7702
This is a duplicate of https://github.com/envoyproxy/envoy/issues/886. @euroelessar can we track there? I would love to see this solved. I would be in favor of (2) and/or (3) based on config.

[2019-07-24 16:46] snowp commented on #7680
I think it being called twice like this is pretty confusing, if we need to increment `pending_retries_` again we should probably do so explicitly with a comment. mpuncel is out for the next few months so I can take a look at improving this and understanding why we need this

[2019-07-24 17:12] euroelessar commented on #7702
Agree, #886 is a superset of this issue.

[2019-07-24 18:06] mattbailey commented on #6334
I think this is even more relevant now with the addition of the `auto_mapping` feature: https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/transcoder/v2/transcoder.proto.html?highlight=auto_mapping

Since protoc-gen-swagger apparently just leaves endpoints out entirely if they don't have annotations.

[2019-07-24 18:21] gsagula commented on #7692
I think your header key should be `status` instead of `:status`.
[code]

[2019-07-24 18:29] #7670 closed

[2019-07-24 18:41] alexjames commented on #7501
Sorry about the delay in response, I was able to get this to work using a logical_dns cluster. Thanks Alyssa and Matt for your assistance.

[2019-07-24 18:55] alyssawilk commented on #1451
1) we definitely need configuration for connect.  I do think it's worth reusing the existing upgrade configs for it, because I can imagine folks wanting a different filter chain for it, given the payload is not really HTTP body
2) +10 on no path.  Also general audit of other code?
3) why tcp proxy mode?  AFIK (you can check with piotr) CONNECT is legal for H2, so I'd think we'd want to use standar

[2019-07-24 19:25] #7291 closed

[2019-07-24 19:32] #7527 closed

[2019-07-24 19:36] mattklein123 commented on #1451
How do you suggest configuring it? Should we have a special upgrade type of "CONNECT"? That seems pretty hacky. Do you prefer a specific boolean for CONNECT?

My understanding of CONNECT is that we start a raw TCP connection to the upstream in this case (that is my read of the spec). cc @PiotrSikora

[2019-07-24 19:55] mattklein123 commented on #1451
Maybe just introduce an independent `ConnectConfig` which would also turn on CONNECT handling? That seems the safest?

[2019-07-24 19:56] mattklein123 commented on #1451
(Then since we have will have route matching on CONNECT it seems like a straightforward way to either use the connect config or not.)

[2019-07-24 22:00] ledbutter opened #7712 "Front-End Proxy Example start_service.sh not found"
*Title*: *Front-End Proxy example services do not start due to /usr/local/bin/start_service.sh: not found*

*Description*:

service1_1     | /bin/sh: 1: /usr/local/bin/start_service.sh: not found
service2_1     | /bin/sh: 1: /usr/local/bin/start_service.sh: not found

Running off of master ([46df72abb](https://github.com/envoyproxy/envoy/commit/46df72abbd0383676190143d881f29ccf11440f1)) and no cha

[2019-07-24 22:16] fcfort opened #7713 "Allow Envoy::OptionsImpl to take a Bootstrap proto object directly"
*Description*:

I'd like to add a method to `Envoy::OptionsImpl` to specify a Bootstrap proto directly as opposed to using the `setConfigYaml`/`setConfigPath` fields, i.e. add something like:

[code]

This would allow clients to directly specify a Bootstrap proto object without having to deal with yaml serialization and would simplify our configuration process since we construct the Bootstrap prot

[2019-07-24 22:27] dio commented on #7712
Hum, interesting, I didn't experience this in my local.

[code]

[2019-07-24 22:28] dio commented on #7713
@alyssawilk @htuch what do you think?

[2019-07-24 23:11] #7111 closed

[2019-07-24 23:58] mattklein123 commented on #7713
This seems fine to me.

[2019-07-24 23:59] euroelessar commented on #7674
I've started working on it, and a bit confused by the structure of the code.
Few cases:
1. There is `GrpcAccessLogStreamer` singleton with global factory, but it uses grpc configuration of the first initialized logger (everyone else's configuration is ignored).
2. `GrpcAccessLogStreamer` manages thread-local state, so for batching we need to either extend it (and complicate code) to replicate effo

[2019-07-25 00:15] derekargueta commented on #7668
I have a working PR for this I'll post soon, just cleaning up.

[2019-07-25 01:08] Yikun commented on #7686
The arm64 build successfully in recent 3 times, so close the issue.

[2019-07-25 01:08] #7686 closed

[2019-07-25 03:25] #7308 closed

[2019-07-25 03:49] tony612 opened #7715 "Got gRPC errors when in draining"
**Issue Template**

*Title*: Got gRPC errors when in draining

*Description*:

I'm using Envoy between gRPC services. But I found gRPC clients may get errors when I make healthcheck failed by `curl -X POST .../healthcheck/fail`.

I created a repo to retry to reproduce my problem https://github.com/tony612/envoy-drain-debug. I'll show some clues or you can run my demo by yourself.

I use docker-com

[2019-07-25 04:49] har07 commented on #7007
also interested +1

[2019-07-25 06:33] dio commented on #7715
@snowp or @lizan could you help to investigate this? (feel free to assign to anyone more relevant). 🙏

[2019-07-25 12:01] alertedsnake commented on #6897
I get the point of the stale bot, but this is a real issue that has not been solved, and so it shouldn't be closed.

[2019-07-25 13:24] ledbutter commented on #7712
@dio I have the exact same versions of compose and docker

[2019-07-25 14:11] ledbutter commented on #7712
Something else I tried:
 1. I modified [Dockerfile-service](https://github.com/envoyproxy/envoy/blob/ae6bc0185c235a68d5c3845fd54daa270f210685/examples/front-proxy/Dockerfile-service#L9) to remove the final `ENTRYPOINT`
 1. Built and ran the modified Dockerfile, opening bash
 1. Executed `/bin/sh /usr/local/bin/start_service.sh`

: not foundbin/start_service.sh: line 2:
[2019-07-25 14:07:13.527][9]

[2019-07-25 14:30] alyssawilk commented on #1451
I'm fine with separate config, if that's how we want to handle it.  I think we're going to want to handle both proxying the connect (to be handled on a later hop) and handling the connect.   I guess for forward proxy you're only concerned about the latter, where using TCP does make sense.  I think my eventual use case is more about the former (which is why I was thinking HTTP backend) .  Let's jus

[2019-07-25 14:35] htuch commented on #7713
Please do the direct typed proto, this is a great idea. I would skip text proto, unless there is a product need for this, since it is not a stable format and we're trying to encourage folks to stick to YAML as the canonical text format in Envoy.

[2019-07-25 14:40] fcfort commented on #7713
SG, I will send a PR soon.

[2019-07-25 15:10] PiotrSikora commented on #1451
You're both correct.

In HTTP/1.1 and HTTP/2 the `CONNECT` method is used to ask proxy to open a raw TCP connection to the requested authority.

However, the extended `CONNECT` method introduced in [RFC8441](https://tools.ietf.org/html/rfc8441) allows tunneling TCP connections over HTTP/2 using `HEADERS` and `DATA` frames.

[2019-07-25 15:54] mattklein123 commented on #1451
OK sounds good I will make sure the connect config is suitable for both "normal" CONNECT and "extended" CONNECT even though initially I will likely only implement "normal" CONNECT.

[2019-07-25 16:23] mattklein123 commented on #7674
@euroelessar the code is the way it is because I cut a bunch of corners when I implemented it. :)

Your proposals sound good to me. Please try to do it in incremental PRs and I'm very happy to review. Thank you!

[2019-07-25 16:34] ledbutter commented on #7712
Ok, I figured it out and I should have known: it was another case of line-endings screwing things up. I changed the line endings for start_service.sh to be LF from CRLF and then everything worked.

[2019-07-25 16:34] #7712 closed

[2019-07-25 16:35] snowp commented on #7583
The current code won't automatically handle nesting afaik, though I imagine you could make that work. Would it be easier to just have a `%REQ_NO_QUERY(:path)`? The "remove query params" operator is coupled with headers to begin with, so I don't imagine there are other relevant nesting combinations?

[2019-07-25 16:51] jasonmartens opened #7718 "x-request-id does surprising things for tracing"
**Issue Template**

*Title*: x-request-id does surprising things for tracing

*Description*:
We have an internal Envoy running, and our edge proxy is using x-request-id already for manually correlating requests in our logs. I was investigating why our Datadog tracing stopped working after going through our proxy, and the Datadog engineers discovered that if the value of x-request-id doesn't meet a

[2019-07-25 17:20] kyessenov opened #7719 "cleanup: remove bazel bind for grpc_json_transcoding"
api_httpbody_protos and http_api_protos in `bazel/api_binding.bzl` are only needed by grpc_json_transcoding repository. We need to clean up both repository to stop using the bindings.

[2019-07-25 18:10] jcampbell05 commented on #1451
In my use case I want to be able to have Envoy consume a `CONNECT` connection from a client and act as a MITTM reverse-forward proxy so I can filter the connection strip the TLS and redirect it to another server of my choice.

I know the security implications of this but I have a very good reason for doing this.

[2019-07-25 18:11] jcampbell05 commented on #1451
I think they mean will it support handling connections from a client application i.e an iOS app doing a CONNECT request to a envoy proxy instance to be handled

[2019-07-25 18:19] mattklein123 commented on #7718
This is a duplicate of https://github.com/envoyproxy/envoy/issues/7624. Can we track there?

[2019-07-25 19:26] stevenzzzz commented on #7713
+1, please expose the bootstrap protobuf from OptionsImpl as well, as in our user story, there are components which read from bootstrap config.

[2019-07-25 22:24] JimXChen opened #7724 "Envoy cannot connect to ext-auth filter through gRPC"
**Issue Template**

*Title*: *Envoy cannot connect to ext-authz filter through gRPC*

*Description*:
I want to setup an ext-authz filter (which is developed in Node.js and acts as gRPC server) for verifying incoming request's JWT token before them hit my backend server. However, seems Envoy has problem to setup connection with my ext-authz filter server. I see this error in log - "delayed connecti

[2019-07-25 22:43] nrjpoddar opened #7725 "Telemetry for traffic for cluster with no endpoints i.e. traffic which will be dropped"
*Telemetry for dropped traffic via the black hole cluster*

*Description*:
Istio has a concept of wildcard listeners which are configured with SO_ORIG_DST flag set and have a default cluster called `BlackHoleCluster` which is a static cluster with no endpoints configured:

[code]

where the `BlackHoleCluster` is configured like this:
[code]

I updated this filter chain recently to add another filt

[2019-07-25 22:44] nrjpoddar commented on #7725
@mattklein123 any pointers you can give would be very helpful.

[2019-07-25 22:46] jasonmartens commented on #7718
Yup, absolutely.

[2019-07-25 22:46] #7718 closed

[2019-07-25 22:58] mattklein123 commented on #7725
I'm not sure why that config would not work, if the tcp_proxy filter is being hit. I would discuss with the Istio people for debugging help.

[2019-07-25 23:01] nrjpoddar commented on #7725
Won't the Mixer filter only get invoked on events related to TCP lifecycle and in this case since there's no TCP connection that is created (BlackHole cluster has no endpoints) I'm assuming filter will not get invoked?

[2019-07-25 23:04] kyessenov commented on #7725
There could be some optimization to avoid invoking filters when upstream cluster is empty... I guess the request is to opt-out from this optimization.

[2019-07-25 23:06] nrjpoddar commented on #7725
Exactly, I feel like that's what happening here.

[2019-07-25 23:09] mattklein123 commented on #7725
There is no such optimization. What is most likely happening is tcp_proxy is failing the request in the connect callback, and mixer is doing things elsewhere, and not taking into account that case.

[2019-07-25 23:13] nrjpoddar commented on #7725
Yeah, the mixer filter seems to wait until `onData` is invoked: https://github.com/istio/proxy/blob/master/src/envoy/tcp/mixer/filter.cc#L138

Thanks for the help!

[2019-07-25 23:50] #7313 closed

[2019-07-26 00:42] skambashi opened #7728 "route regex match fails for large URIs"
*Description*:
We've noticed that requests with a very long URI crashes our envoy service for routes defined using a regex matcher.

We're not sure if it's due to some overflow bug in Envoy's regex parser, but ideally Envoy should not crash because of a long URI.

*Repro steps*:
Define a route with a match regex like the following:
[code]
and then make a request with a large URI:
[code]

We've got

[2019-07-26 00:56] jmuia commented on #5720
Hi @nikolay-pshenichny, are you still working on (1)?

It seems that (2) is already available via the bridge that rotemtam referenced.

[2019-07-26 01:31] #7689 closed

[2019-07-26 02:07] Super-Duan opened #7729 "s'd"
**Issue Template**

*Title*: *One line description*

*Description*:

describe the desired behaviour, what scenario it enables and how it
would be used.

[optional *Relevant Links*:]

**Bug Template**

*Title*: *One line description*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

*Repro steps*:

required to reproduce the bug.

gathers a tarba

[2019-07-26 02:08] Super-Duan commented on #7729
wq

[2019-07-26 02:08] #7729 closed

[2019-07-26 05:57] crazyxy commented on #7698
Is your private key file valid? I used following cmd to generate cert and private key and it works in my env
`openssl req -x509 -newkey rsa:4096 -keyout key.pem -out cert.pem -days 365 -nodes -subj '/CN=localhost'`

[2019-07-26 06:42] zyfjeff commented on #7667
@happydenn How to reproduce? I can solve this problem.

[2019-07-26 06:51] jewertow commented on #7599
I would like to implement this feature, but it will be my first contribution to envoy, so maybe do you have a suggestion how should I do it? How should it be configurable?

[2019-07-26 12:07] dio commented on #7728
cc. @jmarantz

[2019-07-26 12:09] dio commented on #7724
cc. @gsagula

[2019-07-26 12:29] jmarantz commented on #7728
Yeah regexes are like that. See the recent fun that happened at Cloudflare:

https://blog.cloudflare.com/cloudflare-outage/

and for more detail in:

https://blog.cloudflare.com/details-of-the-cloudflare-outage-on-july-2-2019/

I think you will be a lot happier with prefix-match :)

So I wouldn't be surprised that a regex can cause Envoy to get very low. I also might expect in some cases the regex

[2019-07-26 14:40] wrowe commented on #7357
Appealed upstream.

[2019-07-26 14:49] PiotrSikora commented on #7728
@jmarantz erm, Cloudflare's regex was much more complex (```(?:(?:\"|'|\]|\}|\\|\d|(?:nan|infinity|true|false|null|undefined|symbol|math)|\`|\-|\+)+[)]*;?((?:\s|-|~|!|{}|\|\||\+)*.*(?:.*=.*)))```) and failed because of backtracking.

Regex in this issue (`/asdf/.*`) is as trivial as it gets, and it's not acceptable for it to be a DoS vector. We should really move away from `std::regex` to RE2 or P

[2019-07-26 14:56] wrowe opened #7736 "Windows compilation of RetryStateImpl::shouldHedgeRetryPerTryTimeout impl fails"
Windows compilation using MSBuild 15.9, we cannot get this simple line of code, introduced two months ago, to compile;

https://github.com/envoyproxy/envoy/blob/afb2370a11ce9d15ddbb1add68792dc215c0120d/source/common/router/retry_state_impl.cc#L228

source/common/router/retry_state_impl.cc(228): error C2664: 'Envoy::Router::RetryStatus Envoy::Router::RetryStateImpl::shouldRetry(bool,Envoy::Router::

[2019-07-26 15:53] mattklein123 commented on #7599
@ramaraochavali @postwait any thoughts on config for this?

[2019-07-26 15:57] mattklein123 commented on #7728
For this reason I hate that we support regex matching at all. This type of situation is IMO almost unavoidable, though I agree with @PiotrSikora we should do better on this simple case.

[2019-07-26 15:59] mattklein123 commented on #7736
@wrowe FWIW, I would just submit PRs to fix any Windows compile issues as I'm pretty sure you are the only person compiling on Windows. :)

[2019-07-26 16:19] wrowe commented on #7736
Thanks @mklein, those that we can resolve we will escalate strait to a PR. Why this compilation is failing is a mystery to me, so far. Looking for extra C++ savvy eyeballs.

[2019-07-26 16:22] wrowe commented on #7736
Thanks @mattklein123, those that we can resolve we will escalate strait to a PR. Why this compilation is failing is a mystery to me, so far. Looking for extra C++ savvy eyeballs.

[2019-07-26 17:08] jmarantz commented on #7728
Agreed. In any case I'll also note that we've observed that std::regex does memory allocations during matching, so it's possible that this crash could have been an OOM. I'm pretty sure RE2 does not do allocations during matching @yanavlasov might know for sure.

[2019-07-26 17:47] maei1337 commented on #7698
@crazyxy now evrything works. I created a new key and chain with certbot. Thank you very much for your help !!!

[2019-07-26 17:50] #7322 closed

[2019-07-26 19:29] #7319 closed

[2019-07-26 20:51] bitsmaker opened #7738 "Cannot connect to gRPC service from envoy when using TLS, gets a response of 503"
*Title*: *Cannot connect to gRPC service from envoy when using TLS, get a response of 503*

*Description*:
I have a gRPC service that is called from envoy on behalf of a web-browser client. When I have a non-TLS based website everything works. However, when I switch the website and the proxy to use TLS via a self-signed certificate, the envoy proxy returns with a 503.
Thanks for your help

*Config

[2019-07-26 21:29] #6739 closed

[2019-07-26 21:34] nikolay-pshenichny commented on #5720
Hi @jmuia ,
Not working on this presently. Going to get back to this starting Aug 6th. Unfortunately, I've been away from any kind of coding for the past few months.

[2019-07-26 23:59] yanavlasov commented on #7728
The .* matcher in std::regex is recursive. It runs out of typical 1Mb stack with ~16k input. It will certainly OOM on 50k input.

[2019-07-27 00:28] lizan commented on #7607
FWIW, the Bazel CI we setup uses GCC from Ubuntu 18.04.
https://buildkite.com/bazel/envoy

[2019-07-27 03:11] sgammon commented on #6846
@hanoisteve, not that i know of :(

[2019-07-27 03:11] sgammon commented on #6846
@lizan, could you help out? i would be happy to help test, or provide more logs, or help in any way i can.

[2019-07-27 04:07] lizan commented on #2739
We're no longer using gcovr.

[2019-07-27 04:07] #2739 closed

[2019-07-27 10:37] fentas opened #7742 "Lua EnvoyFilter set multiple set-cookie header in request_handle functions"
*Title*: *Set mutiple `Set-Cookie` header within a Lua EnvoyFilter as reponse*
_istio verision:_ v1.2.2

I tried to concat with `, ` like
[code]
This will be send but not unfolded.

Also tied using a table (like Nginx does it) no luck -> `got table, sting expected`.

[2019-07-27 13:52] #7713 closed

[2019-07-28 01:12] JimmyCYJ commented on #7397
cc @JimmyCYJ

[2019-07-28 01:22] #7333 closed

[2019-07-28 06:22] #7353 closed

[2019-07-28 11:06] Arnold1 commented on #7353
hi any response? :)

[2019-07-28 16:21] hanoisteve commented on #6846
If its not resolved I would recommend the grpc_http Envoy bridge. It works like a charm.  I have more details if you need.

[2019-07-28 16:26] hanoisteve commented on #6846
@sgammon I spent over 6 weeks researching this and I recommend using https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/grpc_http1_bridge_filter you just use first byte zero, second 4 bytes bigindian for length and then use grpc request to get the message bytes.  So 5 byte header and it just works.  This is what Lyft uses internally to offer grpc services over http.

[2019-07-28 16:28] hanoisteve commented on #6846
I will be happy to use grpc-transcoding filter when its ready and fully reliable. Few are using it in production yet although it is very promising. I will be happy to look at it again later.

[2019-07-28 19:38] mattklein123 commented on #7728
std::regex has known issues and is not safe for general purpose use. I think the POR here is going to be to add a new "safe_regex" type using https://github.com/google/re2 and deprecate the existing regex matchers in various places. I can take this on.

[2019-07-28 19:43] mattklein123 commented on #173
Complete

[2019-07-28 19:43] #173 closed

[2019-07-28 19:57] mattklein123 commented on #7742
I believe if you use the `add()` Lua API on the headers and add individual set-cookie headers it will work.

[2019-07-28 23:12] dio commented on #6846
[code]

@sgammon Sorry, what is the expectation here again? Do you want to call it as `GET /sample` or `GET /<proto.package>.<ServiceName>/<MethodName>`? The auto-mapping, as mentioned by Lizan and the doc deals with enabling `POST`-ing to `/<proto.package>.<ServiceName>/<MethodName>`.