[2016-09-14 16:31] voldyman opened #66 "Optional's can't be used with move only types."
The [Optional](https://github.com/lyft/envoy/blob/master/include/envoy/common/optional.h) implementation doesn't handle r-value references and hence can't be used with move-only types, like std::unique_ptr.

Adding a move constructor solves this problem, http://ideone.com/PpByK5

*sidenote*: the rule of 5 might be applicable http://en.cppreference.com/w/cpp/language/rule_of_three

[2016-09-14 20:11] louiscryan opened #68 "Support HTTP2 REFUSED_STREAM to allow for retry of non-idempotent requests"
REFUSED_STREAM indicates that the request was not processed by the application layer which should allow requests to be retried elsewhere without violating expectations when idempotency is not known

Supporting this feature only makes sense in client-side and middle proxy scenarios.

[2016-09-14 21:31] mattklein123 commented on #68
Right now we only have a retry

[2016-09-14 23:20] mattklein123 commented on #66
Thanks for your comment. In general we prefer to not add code until it is needed so we can add this constructor if/when we need to use it in the future.

[2016-09-14 23:20] #66 closed

[2016-09-15 00:06] louiscryan commented on #68
All 5xx seems a little dangerous? Internal Server Error & Gateway Timeout leave plenty of scope for the call to have had some effect on state.

[2016-09-15 15:33] mattklein123 commented on #68
We don't do any retries by default (mainly because of idempotency concerns per your point). The retry policies are configurable on a per route and per request basis. See here:
https://lyft.github.io/envoy/docs/configuration/http_filters/router_filter.html#x-envoy-retry-on
https://lyft.github.io/envoy/docs/configuration/http_conn_man/route_config/route.html#config-http-conn-man-route-table-route-re

[2016-09-16 17:39] mattklein123 commented on #68
https://github.com/lyft/envoy/pull/74

[2016-09-17 20:38] #68 closed

[2016-09-21 02:37] fabware opened #87 "custom access log format won't break line"
Use default access log format will result in logs without break lines. I have to attach a \n in format string.

"format": "[%START_TIME%] \"%REQ(:METHOD)%\" \"%REQ(X-ENVOY-ORIGINAL-PATH?:PATH)%\" %PROTOCOL% %RESPONSE_CODE% %FAILURE_REASON% %BYTES_RECEIVED% %BYTES_SENT% %DURATION% \"%RESP(X-ENVOY-UPSTREAM-SERVICE-TIME)%\" \"%REQ(X-FORWARDED-FOR?X-ENVOY-EXTERNAL-ADDRESS)%\" \"%REQ(X-REQUEST-ID)%\" \

[2016-09-21 03:43] fabware opened #88 "unable to initialize hot restart: unable to bind domain socket with id=0"
I'm  trying to run two envoy instance on same host and I get error message:  "unable to initialize hot restart: unable to bind domain socket with id=0"

Is it by design or anything I'm missing?

[2016-09-21 03:55] mattklein123 commented on #88
In general we don't recommend running more than 1 envoy per machine (easier to operate, one source of stats, etc.) but if you want to you can use this option: https://lyft.github.io/envoy/docs/operations/cli.html#cmdoption--base-id

This will tell Envoy to use a different set of unix domain sockets so that each envoy can be hot restarted independently.

[2016-09-21 03:59] mattklein123 commented on #87
This is a doc bug, the default format string compiled into the code does include a '\n'. We will fix the docs and make the lack of new line more clear. We don't want to assume a new line because different deployments might want different separators for some reason.

[2016-09-21 04:04] fabware commented on #87
thanks for you clarification.

[2016-09-21 04:13] fabware commented on #88
--base-id 1 solved my problem, thanks for your help and suggestion.

I would be nice to add the above suggestion along with error message, this may make it easy for  new comers.

[2016-09-21 04:15] mattklein123 commented on #88
Good idea will reopen to track

[2016-09-21 04:16] mattklein123 commented on #87
Reopening just to track doc fix

[2016-09-22 19:02] RomanDzhabarov commented on #87
Put more details into access log docs: https://github.com/lyft/envoy/pull/93

[2016-09-22 19:02] #87 closed

[2016-09-23 09:29] vixns opened #95 "TLS: Server side SNI"
The current TLS context implementation only support one certificate / key file pair.
Many use cases requires having several certificates files, so it'll be great if we can specify folders in TLS contexts.
We should be able to add / update any file in these folders without restarting.

[2016-09-23 09:30] vixns opened #96 "feature request: acme support"
Automated letsencrypt certificates creation / renewal would be great.

[2016-09-23 15:21] mattklein123 commented on #95
Can you expand a bit more? How would the different certificates be chosen? SNI? We don't currently support SNI server side either.

[2016-09-24 13:36] vixns commented on #95
Yep, SNI, for TLS terminaison.
The idea is to be able to drop a key/cert file in a folder, for a new or to replace an existing certificate, and have them reloaded without the need of changing command line arguments or restart envoy.

[2016-09-24 16:49] mattklein123 commented on #95
We won't support automatic reloading when certs change, and we probably will not support loading an entire folder of certs (since certs need to be matched to their SNI identifier), but we will support server side SNI eventually. Patches would definitely be welcome on this one.

[2016-09-26 02:52] jparise opened #99 "Comparison to linkerd"
The documentation's [comparison list](https://lyft.github.io/envoy/docs/intro/comparison.html) is both thorough and useful. Thanks for that!

Would you consider adding a brief comparison to [linkerd](https://linkerd.io/)? It's based on Finagle, so I would expect the existing section to cover most of the details, but as a proxy product, linkerd is even more similar to Envoy (and a competitor).

[2016-09-26 03:50] mattklein123 commented on #99
Sure, we can add a comparison.

@olix0r let me know if you or someone from Bouyant wants to write the comparison. You can email me offline to discuss if you want. Otherwise I will write it.

[2016-09-26 15:34] olix0r commented on #99
Thanks for looping me in, @mattklein123. I'll talk to the team this morning and find a volunteer.

[2016-09-30 17:46] olix0r commented on #99
Here's what we came up with:

If there's anything else you think should be addressed, just let us know!

[2016-09-30 17:49] mattklein123 commented on #99
Sure that sounds fine. I will do a PR to get it in.

[2016-10-05 18:55] mattklein123 opened #120 "perf: more efficient header processing"
As part of recent profiling comparison with nginx:

Right now how Envoy handles headers is extremely inefficient. We use a list, along with std::string, and generally iterate over the entire list for remove operations, etc.

Move to a more efficient implementation that:
- Looks at each header on receive and store direct pointer into the list if Envoy will ever use it (via hash lookup). All add/rem

[2016-10-05 18:57] mattklein123 opened #121 "perf: remove unnecessary copies in data path"
As part of recent perf comparison with nginx:

During high throughput scenarios Envoy does a bunch of extra copies of body data for HTTP as well as raw payload data for TCP proxy.

Many of these copies can be eliminated by changing the filter and connection interfaces to take pointers to buffers where applicable. Those buffers can then be written out by reference and finally freed.

[2016-10-05 19:01] mattklein123 opened #122 "perf: TCP_CORK / better buffering pre-write"
As part of the recent nginx comparison profiling:

Like most proxies Envoy uses TCP_NODELAY for all connection handling. A few improvements can be made here to reduce the number of small packet writes.
- Allow for no delay to be optional during TCP proxy. During high throughput scenarios there is no reason to use no delay.
- Utilize TCP_CORK and better pre-buffering in both HTTP/1.1 and HTTP/2 cod

[2016-10-06 03:07] mattklein123 opened #125 "SRV service discovery support"
Support SRV queries (used by Consul DNS, etc.) so that DNS can return IP/port combinations.

SRV is not supported by getaddrinfo_a so need to integrate with DNS library to make the query directly.

[2016-10-07 00:26] mattklein123 opened #128 "OSX support"
Get Envoy compiling on OSX. Shim out all linux specific features and either turn them off in OSX build or provide OS shim layer to make them work on BSD.

[2016-10-07 15:55] mattklein123 opened #129 "NT support"
Get Envoy working on NT. This will require OS shim layer most/all POSIX operations, all Linux specific operations, and especially a new hot restart implementation.

[2016-10-11 01:01] fabware opened #136 "Unable to get external IP address behind AWS ELB"
As I know AWS ELB doesn't support HTTP2 now, so I have to use it's TCP mode route traffic to an envoy instance. In this case envoy will populate X-Fowarded-For with inner IP address seems belong to ELB itself, and X-Envoy-External-Address is empty.

Is there any solution to this problem?

PS, log format as below:

"format": "[%START_TIME%] \"%REQ(:METHOD)%\" \"%REQ(X-ENVOY-ORIGINAL-PATH?:PATH)%\"

[2016-10-11 01:16] fabware opened #137 "Spoting memory leak on ubuntu 14.04"
Compiled an envoy binary statically on a dev machine(ubuntu 14.04), and deployed it on a cloud virtual machine(ubuntu 14.04).

Spot steady cpu and memory increase until the host is unresponsive. Blue line in the below image represent CPU usage.

We have very low traffic so restart it daily is not a big deal. Just report it, and we are currently migrated to a aws host of ubuntu 16.04, will monitor

[2016-10-11 01:23] mattklein123 commented on #136
You need to use the proxy proto support in the ELB:
"use_proxy_proto" https://lyft.github.io/envoy/docs/configuration/listeners/listeners.html

http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/enable-proxy-protocol.html

[2016-10-11 04:04] fabware commented on #136
My bad, grab docs too quickly. Problem solved, really helpful.

Thank you.

[2016-10-11 04:04] #136 closed

[2016-10-11 15:15] mattklein123 commented on #137
Can you potentially provide more info showing that Envoy is the issue? For example 'ps aux | grep envoy', 'top', 'perf top', 'perf record', etc.

Assuming Envoy is the cause of the runaway CPU we won't be able to help debug without more information.

[2016-10-12 04:04] fabware commented on #137
Thanks for your reply, sure I'll gather more info if we get this problem on the new machine.

I'm sure envoy hog up all cpu and cause problem, though I didn't note numbers at that time.

[2016-10-12 07:09] PiotrSikora opened #143 "replace getaddrinfo_a() with c-ares"
`getaddrinfo_a()` is not portable (it exists only in glibc) and Envoy already uses libevent's features quite heavily.

I'd be fine with a build-time alternative, if you prefer to use `getaddrinfo_a()` on Linux.

[2016-10-12 15:19] mattklein123 commented on #143
Yeah, and the API interface for getaddrinfo_a() is also terrible.

In my mind this is related to https://github.com/lyft/envoy/issues/125. AFAIK evdns is not considered production grade and it doesn't have SRV support. I think it would be better to start depending on a resolver library such as https://c-ares.haxx.se/ (though I haven't done that much research) and then we can get rid of getaddrinfo

[2016-10-12 17:08] mattklein123 opened #144 "dynamic cluster manager alteration at runtime"
1) Create polling API (like SDS API) which talk to "cluster config service"
2) Allow clusters to be added/removed at runtime

[2016-10-12 17:17] mattklein123 commented on #99
https://github.com/lyft/envoy/pull/145

[2016-10-12 17:17] #99 closed

[2016-10-12 18:57] PiotrSikora commented on #143
C-ares might be indeed a better choice, I just didn't want to suggest yet another dependency.

[2016-10-12 19:04] mattklein123 commented on #143
I've had multiple people ask for SRV support at this point, so I think we will do this relatively soon (potentially via non-Lyft contribution).

[2016-10-13 17:52] jcoatgoogle opened #148 "CLI log levels shouldn't just be a uint_t"
Right now, per --help

    -l <uint64_t>,  --log-level <uint64_t>
      Log level

This isn't the most helpful... IMO this should conform to what people are used to (info, fine, debug, etc) but perhaps the convention in C++ is different? Regardless, there should be some what to know what will get you what

[2016-10-13 18:04] mattklein123 commented on #148
Will fix

[2016-10-14 15:51] mattklein123 opened #150 "http/1 and http/2: end to end flow control"
Take over nghttp2 window updates and some stream/filter callbacks to apply back pressure when needed. For http/1 just stop reading from the socket.

[2016-10-14 15:52] mattklein123 opened #151 "http filters: add request local storage (RLS)"
Implementation should be similar to how TLS works but built on top of the HTTP filter stack.

[2016-10-14 18:45] kyessenov commented on #144
Hi, we would really like to have 2).
We have identified one compelling use-case that is hard to achieve with the static clusters.
For the OpenID discovery mechanism, the pubkey server is unknown at the configuration time. It's URL has to be fetched from a well-known location (/.well-known/openid-configuration). So we have to wait for the fetches to complete before the proxy can start, and addition

[2016-10-14 22:41] mattklein123 commented on #144
@kyessenov can you provide a little more detail on your specific use case? How would you want the proxy to handle this exactly?

[2016-10-14 22:45] mattklein123 opened #152 "replace openssl with boringssl"
Officially replace openssl w/ boringssl and make boringssl the recommended TLS library.

@PiotrSikora any interest in owning this?

cc @louiscryan

[2016-10-14 23:16] kyessenov commented on #144
In our prototype, we provide authentication functionality using JWT tokens and OpenID providers. We insert a decoder filter that looks at the header and checks that the issuer is white-listed, fetches and caches the pub-key using the discovery URL, and verifies the signature. It seems that all we need is to declare all URLs for the providers statically in the config file as upstream clusters, but

[2016-10-14 23:26] mattklein123 commented on #144
@kyessenov yeah, as long as you know all of the upstream clusters ahead of time, you should be fine (you can then use AsyncClient or a gRPC channel to call out). This issue is targeting folks that need to add new clusters at runtime and don't want to hot restart (this use case is more rare IMO, but if people create/remove clusters at runtime frequently for whatever reason they need this)

[2016-10-17 01:19] kuroneko25 commented on #144
Kind of related question:
Does Envoy detect config changes and automatically hot-restart itself to load the new configuration? We have a set up where we run Envoy as the front-proxy in a Kubernetes cluster. We are loading the config using a config volume in Kubernetes and it has the ability to automatically push changes to the container without having to restart it. Does Envoy have the capability

[2016-10-17 04:37] mattklein123 opened #155 "build: update docker image on every master commit that passes tests"

[2016-10-17 04:59] mattklein123 commented on #144
@kuroneko25 right now Envoy does not do any file watching and auto restart. If that is something that would be interesting feel free to open a new issue for that. The reason we don't do anything like that is this kind of stuff tends to be pretty deployment specific and in general it seems best left to the deployment infra. cc @louiscryan

[2016-10-17 05:14] kuroneko25 opened #156 "feature request: implement file watching for envoy config and auto restart"
It would be really helpful if there is an option to tell envoy to watch for config file changes and perform auto-restart upon detecting changes in the config file.

[2016-10-17 05:17] mattklein123 commented on #156
The main issue here is that Envoy hot restart has been designed such that Envoy cannot restart itself (it required an external process like https://github.com/lyft/envoy/blob/master/restarter/hot-restarter.py) The reason this was done is so that Envoy hot restart can work across containers (Envoy can be hot restarted in a new container alongside an old one which eventually exits).

There is ongoin

[2016-10-18 04:54] PiotrSikora commented on #152
I'll send some patches in a day or two... However, please note that this is gated on libevent release containing this fix: https://github.com/libevent/libevent/commit/6702da1a8ca6043aea662e191289869070e4f10d (unless you want to build against master?), because libevent must also be linked against BoringSSL, since Envoy uses libevent's `bufferevent`.

[2016-10-18 20:40] mattklein123 opened #159 "Configuration schema and better error messages"
1) Create schema for configuration that will fail on unknown config elements.
2) Better error messages and line numbers for config error messages.

If anyone has requests for how to better detail with configurations please add them to this issue.

[2016-10-18 23:09] mattklein123 commented on #152
Hmm. For our internal build we can apply this patch. For the public build we could apply the patch inside the docker container, but that is suboptimal. Do you have any idea what the status is of a new libevent release? I poor option would be to fork libevent into lyft, apply the patch, and do a release and use that until there is an official libevent release.

[2016-10-19 17:21] mattklein123 commented on #148
https://github.com/lyft/envoy/pull/160

[2016-10-19 17:21] #148 closed

[2016-10-19 18:02] lizan commented on #152
@PiotrSikora With the code change (replacing SSL_CTX_ctrl and SSL_ctrl), it would still compile with OpenSSL, no? If so, can the code change happen before switching the build?

[2016-10-19 18:10] PiotrSikora commented on #152
Last stable release (2.0.22) was on 2015-01-05, last beta release (2.1.6) was on 2016-08-26 and the previous one (2.1.5) was on 2015-01-05, so I wouldn't plan on a release containing that fix anytime soon.

Since Envoy is statically linked, shipping patched version of libevent seems reasonable.

[2016-10-19 18:41] mattklein123 commented on #152
OK. I think I'm leaning towards just forking libevent into lyft, applying the patch on top of 2.0.22 and doing a release, then consuming that in the public CI build with appropriate docs.

@lizan @PiotrSikora I don't have any experience with boringssl so am open to any guidance on how to best handle the switch from openssl and whether we still want to support openssl at least unofficially.

I main

[2016-10-19 23:41] PiotrSikora commented on #152
There is no reason to not support both. They are mostly API compatible.

[2016-10-20 16:51] mattklein123 commented on #121
fixed https://github.com/lyft/envoy/pull/154

[2016-10-20 16:51] #121 closed

[2016-10-21 00:25] enricoschiattarella opened #166 "Unable to use as a TCP proxy for mysql"
Hi,
Envoy seems to have troubles proxy-ing mysql format.

My setup is a ubuntu 14.04.5 with mysqld  Ver 5.5.52-0ubuntu0.14.04.1 running on port 3306.

If I use the mysql client to talk directly to mysqld it works.
If I try to go through envoy, it hangs.

This is my envoy config file:

`{
  "listeners": [
    {
      "port": 3307,
      "filters": [
        {
          "type": "read",
          "na

[2016-10-21 02:21] mattklein123 commented on #166
It looks like the mysql protocol has the server sending data when the client connects (but does not send any data). The TCP proxy filter currently makes the outgoing connection when the client first sends bytes to proxy.

We will need to fix this.

[2016-10-21 02:35] mattklein123 commented on #137
Going to close this out. Please reopen if you have more info and we are happy to help debug.

[2016-10-21 02:35] #137 closed

[2016-10-23 03:42] mattklein123 opened #168 "perf: don't use bufferevent"
Further perf investigation shows that a big delta on a raw throughput test has to to do with how libevent deals with write events in the bufferevent. bufferevent_sock does not use edge triggered behavior, so it deletes and then re-adds the write event on every write. I have a proof of concept that does not use bufferevent and the perf improvement is 20-25%. Along with another change that I have go

[2016-10-23 03:49] mattklein123 commented on #152
Per https://github.com/lyft/envoy/issues/168 I think we are probably going to stop using bufferevent in libevent, so I think we probably won't need the libevent patch. I need to implement direct openssl support using BIO, so will get that going in the next couple of weeks.

[2016-10-24 21:13] enricoschiattarella opened #170 "Support for HTTP/1.0"
Envoy responds to an HTTP/1.0 request with an upgrade request

[code]

It would be nice to support 1.0 as there are some ancient clients out there.

[2016-10-24 21:29] mattklein123 commented on #170
I was hoping to avoid HTTP/1.0 support (not that it's hard, but just because). Is this a theoretical request or is HTTP/1.0 support blocking a real deployment?

[2016-10-24 21:46] enricoschiattarella commented on #170
It is not blocking any deployment.
I discovered that it was missing while running some benchmarks with AB and thought that it might be useful to have when using Envoy as an edge.
No objections if you prefer to close the issue.

[2016-10-24 21:55] mattklein123 commented on #170
No let's keep it open to track in case this becomes a blocker for someone.

[2016-10-24 23:20] lizan commented on #144
@mattklein123 @kyessenov There is actually one more step for OpenID discovery, the well-known location (/.well-known/openid-configuration) only provides the **URL** of public keys. So even we know all whitelisted JWT issuers, we don't know the URL of public keys unless you fetches all the well-know locations during the configuration. Also the URL of public keys could be changed (not expected to ha

[2016-10-25 01:04] mattklein123 commented on #144
@lizan @kyessenov making AsyncHttpClient talk to any server is something we probably don't want to do unless you are OK with inline DNS resolution (which you probably don't want).

Can you potentially give a more complete picture of your use case for dynamic cluster update? A full flow would be useful. I don't yet think I have a complete enough picture to recommend a particular design.

[2016-10-25 04:38] lizan commented on #144
The example flow to validate a JWT with OpenID discovery:

In configuration:
- A whitelist of JWT issuers (e.g. "https://accounts.google.com")

For each request
1. The proxy receives request with "Authorization" header with JWT (in case you're not familiar with JWT, just think it is a base64 encoded JSON + signature)
2. Extract issuer from the JWT, check if it is in whitelist.
3. If the issuer is

[2016-10-25 16:37] mattklein123 opened #172 "tracing: swap Lightstep C++ bindings for OT C++ bindings"
Requires OT C++ library to be finalized.

cc @bensigelman

[2016-10-25 16:51] bensigelman commented on #172
(Also cc @jmacd)

The only challenge will be the part of the code that does a flush... OT won't / shouldn't have an opinion about serialization formats, esp for out-of-band data, so some sort of cast to the LightStep tracer will be necessary there... but all of the actual Span creation, tagging, etc, can and should be pure OpenTracing code.

@jmacd: how much has the lightstep Tracer+Span interface

[2016-10-25 17:25] jmacd commented on #172
My proposal is to factor the existing lightstep API into three parts, opentracing API, basictracer implementation, and lightstep recorder. This approach would defer any attempt to coordinate with the C++98 work that was done in the openctracing-cpp repo.

[2016-10-25 18:41] mattklein123 commented on #172
@bensigelman @jmacd will defer to both of you on best way of moving forward. Flexible on timeline also if there is more work to do on C++ OT first.

[2016-10-25 21:58] mattklein123 commented on #144
@lizan ok thanks very helpful. Potentially blocking the request flow for all of these fetches seems suboptimal but I guess with caching it's OK. I guess what is the optimal flow for you:

1) Just make AsyncClient work in a mode where you do blocking DNS and an arbitrary URL.
2) Be able to actually add clusters to the cluster manager at runtime (doing this as part of the request flow safely would b

[2016-10-26 15:22] mattklein123 opened #173 "filters: allow filter installation for upstream connections"
Needs some thinking around actual use cases but shouldn't be too difficult to write upstream filters and install them if needed.

[2016-10-26 21:46] mattklein123 commented on #166
https://github.com/lyft/envoy/pull/175

[2016-10-27 00:43] louiscryan opened #176 "API to refresh principals is using HTTP"
In

https://github.com/lyft/envoy/blob/c16bdb6de9059abba833b59d98239c228ecac699/source/common/filter/auth/client_ssl.cc#L86

the call is using HTTP not HTTP to fetch principals. Exposes the API to a MITM attack.

Seems like this behavior should be configurable and the default should be HTTPS

[2016-10-27 01:37] mattklein123 commented on #176
The underlying connection will use SSL if the cluster is configured for it in the cluster manager (the transport is abstracted at this level). With that said, if the underlying connection is going to be SSL we should set the scheme properly. Will need to expose this out of the cluster object.

[2016-10-28 15:24] mattklein123 opened #179 "rate limit: configuration/filter enhancements"
We are considering a number of enhancements/changes to how rate limiting can be configured on a per virtual host / route basis for HTTP requests. This will include a shift in configuration from the filter to the route/vhost, as well as new rules (potentially logical and/or, etc.) for setting descriptors.

@ccaraman when we have a better idea of what we are planning please post a summary here.

cc

[2016-10-28 18:55] mattklein123 commented on #166
fixed

[2016-10-28 18:55] #166 closed

[2016-11-02 16:35] timperrett opened #185 "Document the minimal interfaces for providing new discovery modes"
@mattklein123 as we discussed last night, if we could get some documentation that shows the bare minimum interface(s) for providing a new mode of discovery, that would be excellent! Preferably it would be something that is not mixed up with the DNS part, which is far more complicated. Having such documentation would make contributing new modes of discovery far easier.

Thanks in advance.

[2016-11-02 16:57] mattklein123 commented on #185
Yup will do.

[2016-11-02 17:03] mattklein123 opened #186 "integration tests using different language/libraries"
Right now all of our integration tests use Envoy itself for fake clients and fake upstreams. This is useful for ease of testing (compiles to a single binary), but it would be good to have an additional set of tests that are written using a different language (probably Go) so that we can test interop.

cc @louiscryan

[2016-11-02 21:06] mattklein123 commented on #168
fixed https://github.com/lyft/envoy/pull/183

[2016-11-02 21:06] #168 closed

[2016-11-03 22:00] mattklein123 opened #192 "hot restart: make drain time configurable"
Right now it's hard coded to 15 minutes for no particular reason. Non edge envoys can typically use much shorter drain times if desired. Let's make this time configurable.

[2016-11-04 17:43] mattklein123 opened #194 "docs: examples/docs on traffic shifting with runtime"

[2016-11-04 20:53] mattklein123 commented on #192
fixed https://github.com/lyft/envoy/pull/195

[2016-11-04 20:53] #192 closed

[2016-11-07 21:10] rshriram opened #197 "Support for consistent hashing lb"
This is an enhancement request.
Need a load balancing policy that can route based on ketama hash of a HTTP header field (or source IP:port). This is useful in situations where a cache is sharded across a cluster of hosts. Incoming requests for a specific set of data can be routed to the same host if a particular HTTP header is present.

[2016-11-07 21:20] mattklein123 commented on #197
Thanks for logging. We plan on doing either ketama or maglev. At least on the Lyft side this probably won't get done till Q1 but happy to have a contribution if anyone wants to help out.

[2016-11-07 21:37] rshriram opened #198 "Support for fault injection"
For the purposes of resilience testing, the sidecar needs to be able to inject faults into the outbound API calls made by a microservice. Abort, delay and mangle are the three fault primitives that are needed. These primitives kick in before the load balancing stage.

Can these be implemented as TCP/HTTP filters (netfilter style)?

At minimum 2 types of faults are needed to construct elaborate fai

[2016-11-07 21:43] mattklein123 commented on #198
This is on the roadmap. Would also love to see this happen.

[2016-11-07 21:52] rshriram opened #199 "Support for regular expression parsing in header match"
It would be nice to be able to match headers based on regular expressions. Some simple use cases could be matching based on Cookies, where a specific type of user is making a request.

Depending on the library being used (e.g., PCRE vs something else), for maintaining performance, it might be okay to explicitly ask the user to specify whether the header match block contains a regex or not, with a

[2016-11-08 21:49] louiscryan commented on #199
Will need strong security review for anything involving regex that is exposed to untrusted traffic

[2016-11-08 21:51] mattklein123 commented on #199
@louiscryan yeah I'm not a huge fan of added regex routing routing support but it's a heavily requested feature. We can discuss further the best way of handling. Possible that we only allow regex rules for trusted/internal traffic, or do some regex sanitizing, etc.

[2016-11-08 22:07] rshriram commented on #199
Just to be clear. This is not for the URL path or prefixes. It's for header
matches. Without regex, it's kind of painful to do any filtering.
Simple example: I generate a users ID as a UUID and prefix it with free or
premium. Based on the header, I would want to route the request to
different backends.

Doing so on the path prefix is not that vital. It's fair to assume that
there is a finite set o

[2016-11-09 21:55] mattklein123 opened #203 "router should set :scheme correctly depending on target cluster"

[2016-11-09 22:32] mattklein123 opened #204 "auto host rewrite for DNS clusters"
Ability to automatically rewrite the host header if we are proxying to a DNS based cluster. This is a little complicated and will mean we need to:

1) Store the original hostname in the host description.
2) Once LB returns a host, rewrite host header if an option is set with this information.

[2016-11-09 23:02] mattklein123 commented on #203
https://github.com/lyft/envoy/pull/206

[2016-11-09 23:02] mattklein123 commented on #176
https://github.com/lyft/envoy/pull/206

[2016-11-09 23:35] mattklein123 commented on #203
fixed

[2016-11-09 23:35] #203 closed

[2016-11-09 23:36] mattklein123 commented on #176
fixed

[2016-11-09 23:36] #176 closed

[2016-11-11 17:06] mattklein123 commented on #122
Fixed by https://github.com/lyft/envoy/pull/208 and https://github.com/lyft/envoy/pull/183. With these changes we don't need cork.

[2016-11-11 17:06] #122 closed

[2016-11-11 17:06] mattklein123 commented on #120
https://github.com/lyft/envoy/pull/209

[2016-11-11 17:12] mattklein123 opened #210 "perf: remaining small items"
A few more small items for this perf pass before calling it good:

- [x] Don't allocate PooledStreamEncoder (class can be merged into Router, not used anywhere else)
- [x] Cache date string for date header every 500ms or so
- [ ] Store integer headers as integers also to avoid converting back and forth
- [x] Optimize buffer callbacks
- [ ] Remove locking from libevent base
- [x] 0 copy grpc encode

[2016-11-14 03:23] mattklein123 opened #218 "rethink request ID generation wrt runtime routing"
As of https://github.com/lyft/envoy/pull/188, we use a process wide incrementing ID for the request ID (which is used as the stable random number during runtime routing).

This is good for performance reasons (and in many deployments provides effectively random behavior), but the behavior is confusing for newcomers. We should make the new and old behavior configurable.

[2016-11-14 17:21] mattklein123 commented on #218
cc @rshriram I thought about this and I think how I plan on handling is to detect whether the route table has any runtime rules in it. If it does, I will use the old behavior, if not, I will use the new behavior. I think this is a good compromise. Will fix this week.

[2016-11-14 17:48] rshriram commented on #218
@mattklein123 I was about to respond to this as well. How about always letting the user specify the weights in the intuitive way `(v2=30, v3=20, unweighted block for v1)`. Internally, in the code, we could create the desired representation in monotonically increasing weights `(v2_ordered=30, v3_ordered=50, v1_ordered=100)`. The current logic that you have for generating requestIDs, with the modulo

[2016-11-14 17:55] mattklein123 commented on #218
Changing how the weights are specified is a larger change and we can discuss that as a separate item. In general it is unlikely we will change the current behavior of having the routes be related. If we do anything, we will make a new routing rule type that allows the specification of multiple cluster targets with associated weights.

[2016-11-15 16:45] mattklein123 commented on #120
fixed

[2016-11-15 16:45] #120 closed

[2016-11-15 19:55] mattklein123 commented on #210
https://github.com/lyft/envoy/pull/220

[2016-11-15 19:55] mattklein123 commented on #210
https://github.com/lyft/envoy/pull/221

[2016-11-16 01:13] rshriram commented on #218
To clarify, I was not advocating for a new way of specifying rules. What I actually meant was something like this:
[code]
The rest of the suggestion i made earlier stays the same. There is no syntax change for the user. Its just how the weights are computed internally across different route blocks.

[2016-11-16 01:30] mattklein123 commented on #218
I understand, but that then links all of the routes together and they then need to be pre-processed. This also changes existing behavior that is being depended on (each route is unique). We will keep the existing behavior and fix the random generation. We can then separately discuss whether we want to have easier constructs for this specific case (effectively sending the same route to multiple clu

[2016-11-17 19:05] mattklein123 opened #232 "perf: replace evbuffer"
evbuffer has a lot of extra functionality that we don't need. It also does suboptimal things during reading (calling ioctl, etc.) that are not well tuned for using a fast allocator like tcmalloc.

This is not something we will do short term but just opening this item to track.

[2016-11-18 20:49] vladlosev opened #234 "Envoy seems not to honor "Connection: close" HTTP header"
We have a setup when we have to varnish an Envoy-fronted server, and have defined Varnish [probes](https://www.varnish-cache.org/trac/wiki/BackendPolling#Howtoconfigurepolling) to test the backend health. The problem is that Varnish considers the backend to be perpetually sick because it does not close the connection after forwarding the response, even if the probe sends the `Connection: close` he

[2016-11-18 20:53] mattklein123 commented on #234
Thanks for the report will fix

[2016-11-22 19:28] ramtej commented on #128
+1

[2016-11-22 19:52] ramtej opened #240 "envoy binary file size - currently 127MB"
Hi guys,

I;m thinking about to use envoy in a kubernetes setup.

One of the challenges in such a setup is to keep the docker / rtk container image size small and therefore I was a bit surprised that the envoy binary is about 127 MB.

However, I was able to "shrink" the binary down to about 8 MB using the ELF "strip" approach :

`/tmp$ strip -S --strip-unneeded --remove-section=.note.gnu.gold-vers

[2016-11-22 19:56] mattklein123 commented on #240
The default build includes debug symbols and is statically linked. If you strip symbols that's what takes you down to 8MB or so. If you want to go down further than that you should dynamically link against system libraries.

FWIW, we haven't really focused very much on the build/package/install side of things. I'm hoping the community can help out there. Different deployments are going to need dif

[2016-11-22 19:58] mattklein123 commented on #240
cc @enricoschiattarella @louiscryan I think you are already probably thinking about ^^^ not sure if you have any thoughts.

[2016-11-22 20:01] ramtej commented on #240
Hi Matt,

thank you for your feedback !

Agree, different deployment scenarios has different requirements. I also like the static linking approach, to keep things consistent and independent.

At least for my usecase the "strip" approach fine, but evtl. a kind of "included" solution will be better.

Cheers,
jj

[2016-11-22 20:27] moderation commented on #240
I think statically linked is important as if you wanted to run in a Docker container you could in theory create a minimal image using `from scratch`. I haven't tested this yet.

[2016-11-22 20:34] ramtej commented on #240
yes, this is exactly what I;m doing and therefore the dynamic approach will not work. Also such a critical component should be self-contained.

[2016-11-22 21:13] mattklein123 commented on #240
At the very least we can put in a cmake option to strip debug symbols. That is easy to do.

[2016-11-23 20:16] mattklein123 commented on #234
fixed

[2016-11-23 20:16] #234 closed

[2016-11-24 00:38] vladlosev commented on #234
:clap:

[2016-11-25 01:32] mattklein123 commented on #198
Closing this out we can open new issues for specific feature requests that come up.

[2016-11-25 01:32] #198 closed

[2016-11-26 19:29] clmssz opened #242 "Logging to syslog"
It would be nice to be able to send access logs directly to a syslog server, making it easier to centralize logs.

[2016-11-27 20:04] mattklein123 opened #243 "1.1.0 release tracker"
We are stabilizing after all of the recent perf changes. Plan on doing a 1.1.0 release in the next 2 weeks. If anyone wants any other small features/fixes to be in the official release please speak up.

[2016-11-28 23:19] mattklein123 commented on #210
https://github.com/lyft/envoy/pull/244

[2016-11-29 17:04] mattklein123 opened #245 "XSRF protection filter"
cc @heston

[2016-11-29 18:31] mattklein123 commented on #218
fix for main issue is here: https://github.com/lyft/envoy/pull/246

I will split out the feature request (multi-cluster weighted routing) into a new issue.

[2016-11-29 18:34] mattklein123 opened #247 "multi-cluster weighted routing rule"
Right now it's clumsy if the user wants to have a routing rule that matches and then sends traffic to a number of upstream clusters on a % basis. We should support this directly both via static percentages as well as runtime override of the percentages.

The rule might look something like:

[code]

Need to also specify what the rule would look like with runtime overrides. Open so to suggestions he

[2016-11-29 18:34] mattklein123 commented on #247
See here for more history on this issue: https://github.com/lyft/envoy/issues/218

[2016-11-29 19:09] mattklein123 opened #249 "perf: faster PRNG"
See convo here: https://github.com/lyft/envoy/pull/246

[2016-11-29 19:10] mattklein123 commented on #218
fixed

[2016-11-29 19:10] #218 closed

[2016-11-29 19:51] rshriram commented on #247
@mattklein123
some suggestions:
 Having a separate block for cluster weights could lead to cases where there are more clusters defined in the route filter block, but users forget to mention that specific cluster in the weighted cluster block. In this case, Envoy would end up having to return a GATEWAY_NOT_FOUND, causing more confusion on the developer's behalf.

Instead, an alternative way would b

[2016-11-29 20:38] rshriram commented on #243
TODO:
* add the access logging for fault injection. The one liner patch to emit access log entries [shriram]
* weighted routing for clusters

Wishlist (if possible):
* How easy or hard is it to push the fault injection configuration into per-route filter level instead of having a separate fault block that acts on all routes ?
* Is it possible to refactor the lightstep code such that we have an int

[2016-11-29 21:57] mattklein123 commented on #247
I really do not want to apply weights across routes, at least at the top level. IMO It's extremely confusing as it breaks the top down matching semantics that are most commonly used for a routing table.

So as I see it there are 2 options:
1) Do what I originally proposed above (have a multi-cluster target option)
2) Define some new "grouped" route type of thing. Where you can group multiple routi

[2016-11-29 21:59] mattklein123 commented on #243
If you want to get this into 1.1.0 please do the patch this week. The rest of them realistically aren't going to happen in time to snap the release. We can get those into 1.2.0.

[2016-11-29 23:39] rshriram commented on #247
Apologies. I misunderstood where the multi-cluster block was going to reside. Did you mean that it replace the cluster key in the route block with weighted_clusters? If so, then I totally agree.

My example was incorrect. Here is a refined one. Is this what you were suggesting?

[code]

[2016-11-29 23:41] mattklein123 commented on #247
Yes, that is what I'm suggesting. The remaining thing would be to determine how the runtime keys are defined such that there can be traffic shifting in the group using runtime.

[2016-11-30 00:29] rshriram commented on #247
How about a common runtime prefix for the weighted cluster block, such that
envoy can pickup the runtime weights of an individual cluster from file:
/path/to/common_runtime_prefix/clusterName

On Tue, Nov 29, 2016 at 6:41 PM Matt Klein <notifications@github.com> wrote:

--

~shriram

[2016-11-30 08:08] matti opened #254 "compile: file format not recognized"
Using the steps from: https://lyft.github.io/envoy/docs/install/sandboxes.html#locally-building-a-docker-image-with-an-envoy-binary

[code]

results in:

[code]

[2016-11-30 16:32] mattklein123 commented on #254
Unfortunately I have no idea (never heard of this issue before). This sounds like some type of docker/OS issue. Are you running out of disk space? What's your host OS version?

I would enter the container manually using just a bash shell and run the build and then debug.

[2016-11-30 17:42] matti commented on #254
Using latest docker for mac here. I did full reset of everything, same.

Any tips for debugging?

[2016-11-30 17:42] matti commented on #254
After pulling the latest master the error is the same, but on a different file:
[code]

[2016-11-30 17:43] matti commented on #254
also: I did double-check disk space, still ~50gb free.

[2016-11-30 17:43] mattklein123 commented on #254
I'm sorry I really have no idea. As I said above I would enter the container manually via

[code]

And maybe try to do some debugging without the container going away.

[2016-12-01 11:06] matti commented on #254
A friend tried this with the same setup (only difference is the number of ram on the host (16 instead of 8)) and it compiled successfully...

[2016-12-01 21:48] mattklein123 commented on #243
released

[2016-12-01 21:48] #243 closed

[2016-12-01 21:49] mattklein123 commented on #254
Sorry I dunno. We typically compile with much less than 8GB of RAM so it might be something with your system. I added a new "server_only" compile target which should be much faster and use much less RAM if you don't care about the tests. I'm going to close this one out.

[2016-12-01 21:49] #254 closed

[2016-12-01 22:48] mattklein123 opened #262 "access log/tracing "failure reason" -> bitmap"
Allow setting multiple attributes such as "delayed" along with "failure injected"

cc @RomanDzhabarov @rshriram

[2016-12-01 22:52] mattklein123 opened #263 "redis support"
tracking issue for redis support in Q1

- [x] Encoder/decoder
- [x] Proxy filter
- [x] Consistent hashing
- [x] docs
- [x] stats
- [x] Op splitting and supported ops (MGET, etc.)
- [x] Timeouts
- [x] Active HC and outlier detection
- [ ] Handle integer overflow in codec

[2016-12-02 04:18] rshriram commented on #155
@mattklein123 this is easy IIRC. In dockerhub, there is a setup option that automatically builds the docker image anytime the master branch gets updated. https://docs.docker.com/docker-hub/github/ .

[2016-12-03 00:55] fabware opened #269 "gzip HTTP filter"
I use envoy as front end proxy, set Accept-Encoding: gzip doesn't work. Content doesn't get compressed.

There seems no document for encoding configuration.

[2016-12-03 03:17] mattklein123 commented on #269
Envoy is not a origin server and currently does not support any kind of automatic content transformation.

We could implement an HTTP compression filter so that is the feature request here.

[2016-12-03 03:21] mattklein123 opened #270 "inline lz4 log compression"
Support optional direct lz4 compression of output logs. This will allow smaller file sizes to disk and avoid CPU bursts during typical log rotation cycles.

[2016-12-04 05:26] fabware commented on #269
Noted. Thanks for your clarification.

[2016-12-05 18:49] rshriram opened #272 "Network backend for runtime configuration"
Currently Envoy reads all runtime config info from the filesystem. Changes to runtime need to be done on a separate copy of the filesystem tree, followed by a symlink swap.

For certain deployment scenarios, it might be easier and flexible to pull runtime info from a REST/gRPC backend similar to the SDS API.

If one were to add a network backend to the runtime, in addition to a file system backend

[2016-12-07 02:21] mattklein123 opened #277 "revamp log file writing"
Started to think about this more after an internal bug report and produced this: https://github.com/lyft/envoy/pull/276

But then I realized this is all still broken across two axes:
1) Hot restart (no super trivial fix)
2) We allow the same file to be written by multiple FileImpl within the process (depending on configuration).

#2 is not that hard to fix, we could have the access log manager han

[2016-12-07 19:22] #194 closed

[2016-12-11 00:53] jhspaybar opened #283 "Route to unknown hosts"
I've gone through most of the docs, and it looks like in order to route somewhere I need an upstream defined.  The use case I'm trying to see if it's possible is to set a header like a host header and have the value in the header be sent to an SDS to resolve targets.  Maybe this could be considered a dynamic upstream?  Based on what I'm reading in the documentation it seems like when using the hos

[2016-12-11 01:38] mattklein123 commented on #283
As currently implemented, it's true that the HTTP router must match a pre-defined cluster. This is by design in the sense that in most cases users do not want to block the forwarding path on host resolution (whether to SDS, DNS resolution, etc.).

With that said, there have been multiple requests for some variant of this feature. See https://github.com/lyft/envoy/issues/144 for a similar request.

[2016-12-11 01:51] mattklein123 commented on #277
First pass: https://github.com/lyft/envoy/pull/276

[2016-12-13 16:37] mattklein123 opened #288 "Outlier detection"
Overall tracking issue for major outlier detection features:
- [ ] Consecutive 5xx
- [ ] Periodic SR
- [ ] Periodic latency

[2016-12-13 17:21] mattklein123 commented on #247
Sounds like @rshriram is going to do this one.

[2016-12-13 17:26] mattklein123 commented on #88
https://github.com/lyft/envoy/pull/289

[2016-12-13 19:04] mattklein123 commented on #88
fixed

[2016-12-13 19:04] #88 closed

[2016-12-13 19:05] mattklein123 commented on #240
fixed

[2016-12-13 19:05] #240 closed

[2016-12-13 19:29] ccaraman commented on #179
# Envoy HTTP Rate Limit Configuration Proposal
## What we are trying to solve?
With our current configuration, Envoy is limited to simple rate limit rules that can only be configured per route.

Going forward, we want to provide a flexible rate limit configuration to allow for more complex rate limiting scenarios such as rate limiting based on IP tags and IP address prior to authentication by the

[2016-12-13 19:33] mattklein123 commented on #179
@chowchow316 @mandarjog please look at ^ depending on which implementation option you decide on for rate limiting.

FYI @junr03 and @twoism are working on open sourcing our ratelimit service. Probably 3-4 weeks out.

cc @louiscryan

[2016-12-14 18:29] jhspaybar commented on #283
Sorry it took me so long to get back to answer your question here.  So, I think the other issue is helpful in that I would expect configurations for new services to be maintained by the service owner, but then be pushed to all clients dynamically and was something I was going to be looking for next.

Having that probably also solves my specific use case here in that it is a reasonable workflow for

[2016-12-14 19:17] mattklein123 commented on #283
If CDS would work for your use case, I would rather go ahead and implement that first. In some ways it's simpler than synchronous resolution and is more inline with requests that we have gotten from other users.

The final question would be related to how the route table would work. I assume you would want a generic route table that just selects the cluster to use based on an HTTP header (either :

[2016-12-14 19:20] jhspaybar commented on #283
Yes, if I could dynamically update clusters, I'd expect to be able to read a header like :authority and have the value be a cluster name in the dynamic set.

[2016-12-14 19:21] mattklein123 commented on #283
OK, that sounds good to me. I will do a proposal for the CDS API in the next few days. There are multiple people interested in this.

[2016-12-14 19:29] mattklein123 commented on #283
I'm going to close this in favor of https://github.com/lyft/envoy/issues/144

I will put the CDS API proposal there and use that issue to track implementation.

[2016-12-14 19:29] #283 closed

[2016-12-14 19:30] mattklein123 commented on #144
We are going to go ahead and implement dynamic cluster discovery via a "CDS" API. I will propose the API in the next couple of days for review.

[2016-12-14 20:08] timperrett commented on #144
Thanks Matt, this is perfect timing for us.

[2016-12-14 20:25] rshriram commented on #144
@mattklein123 just to confirm, are you doing (1) or (2) as per your comment on Oct 25th ?
(1) is similar to some form of SRV lookup for the host name? or resolving to a single IP?

[code]

(2) would be similar to
[code]

I am guessing you mean (1)

[2016-12-14 20:50] mattklein123 commented on #144
I mean (1), but what I actually mean is an API that would return a list of clusters in exactly the same format as they are currently statically configured. So for example, the API can return an "SDS" cluster type which would then poll SDS just like any other SDS cluster. Thus, CDS/SDS can work hand in hand. It will be more clear what I am proposing when I do an API draft. I think it should be pret

[2016-12-14 22:12] timperrett commented on #144
@mattklein123 Having a CDS API would be great. That would service exactly what we need to use Envoy (we already implemented SDS protocol with our own backend). Cheers

[2016-12-14 23:37] mattklein123 commented on #144
Here is what I am thinking for the API:

[code]

**Where:**

``service_cluster``: Comes from [here](https://lyft.github.io/envoy/docs/operations/cli.html#cmdoption-service-cluster). Allows returning clusters based on the caller, if desired. Can be set to set to global value if implementation does not care.
``service_node``: Comes from [here](https://lyft.github.io/envoy/docs/operations/cli.html#cm

[2016-12-14 23:39] mattklein123 commented on #144
@timperrett @jhspaybar @kyessenov @lizan let me know how this looks. This is not that hard to implement so I will do it relatively soon once we agree on the API and the semantics.

[2016-12-15 00:26] jhspaybar commented on #144
This seems reasonable.  It seems as well that if I wanted to avoid additional calls to the SDS I could have the CDS return a static set of hosts in the cluster definition?  If our internal systems then were completely using the CDS approach I wouldn't need to bother writing the SDS?

[2016-12-15 00:36] mattklein123 commented on #144
@jhspaybar yup if you want to just send down all static clusters that would work fine. Then you can avoid SDS entirely.

[2016-12-15 00:38] mattklein123 commented on #144
@jhspaybar though, I just realized, that if you want to use some of the more advanced components such as zone aware load balancing, you probably need to use SDS, or we need to also make the static configuration more complicated. We can cross that bridge when we come to it.

[2016-12-15 06:04] jhspaybar commented on #144
Ah, that makes sense.  Lets keep it simple for now.

[2016-12-15 17:59] timperrett commented on #144
@mattklein123 this looks good to me, although I did have a couple of questions:

1. Semantically, what's the difference between `service_name` and `service_node`. I imagine the former to be a logical name (or cluster name), e.g. "accounts-1.0" or something, whilst the latter might be the node name, or IP address?

2. When the config reloads internally to Envoy, will there be any downtime or simila

[2016-12-15 18:19] mattklein123 commented on #144
@timperrett

1) The semantics are up to the deployment, but how we use it is exactly as you speculated. service_cluster would be something like "accounts" or "eta" whereas service_node is something like an EC2 instance ID, container ID, IP/port pair, etc.

2) Yes, it will be zero downtime*

* It's a little tricky if there is an expectation that a cluster with the same name gets swapped in which ha

[2016-12-15 18:37] timperrett commented on #144
@mattklein123 thanks for the info. That sounds fine to me. In our case, all the clusters are uniquely named, so that name shadowing would not happen for us, and given we're already doing SDS to turn cluster names into IPs, we should be golden :-D

[2016-12-15 22:54] WhileLoop commented on #155
If you are going to do this please tag the containers with something other than latest.

[2016-12-16 16:25] mattklein123 opened #298 "Consider adding Route Discovery Service (RDS) API"
Now that we have SDS and soon CDS, there is no reason that we couldn't also add "RDS." This would allow the HTTP connection manager to dynamically reload the route table via an API call. The implementation is not very complicated. There hasn't been any explicit request for this feature yet but I can see that we are heading in this direction so I thought I would file the issue.

[2016-12-16 19:52] rshriram commented on #298
Actually, this would be very useful. CDS would allow us to add upstream blocks, but without RDS, CDS alone would not be that useful. Ultimately, the route table is the place where one points to the cluster for a given path/host. So, RDS and CDS go hand in hand.
The runtime configurations under route config, may be a little redundant in this case, but it would still be useful when people are not us

[2016-12-16 19:53] mattklein123 commented on #298
@rshriram yes, that's my thinking. I think there are still many use cases for static route configs depending on deployment. (For example I don't really see Lyft moving away from that for a long time), but given that it's not that hard to implement, I think it could be useful for some use cases.

[2016-12-16 21:11] RomanDzhabarov commented on #262
https://github.com/lyft/envoy/commit/4332dcf5c47dd93ce070166830884223515b3b67

[2016-12-16 21:11] #262 closed

[2016-12-17 00:02] WhileLoop opened #300 "Consider creating a CORS http filter."
In order to process CORS preflight requests through Envoy we would need a HTTP filter which would intercept OPTIONS requests and respond with the proper headers.

[2016-12-17 01:09] lizan opened #301 "Consider not use OpenSSL to base64 encode"
BIO_f_base64 is deprecit in BoringSSL, should we consider use another implementation?

- linearize the buffer and use base64 encoder from nghttp2 sounds reasonable

cc @PiotrSikora

[2016-12-17 02:25] rshriram commented on #298
@mattklein123 thinking about this a little more, we now have multiple components of the config files being obtained via 3 different REST api calls. (RDS, CDS, and SDS). My concern is that there are too many moving parts in this config, that could potentially be managed independently in an inconsistent manner.

To put things into perspective, there are typically three mutations to the config file t

[2016-12-17 02:29] rshriram commented on #272
This relates to #298 . Lots of runtime configuration are provided as part of RDS api. Granted that there are also a lot of other runtime settings that are not in RDS. But I just wanted to bring up the RDS overlap.

[2016-12-17 02:31] rshriram commented on #152
I believe this is done by PR #163 ?

[2016-12-17 02:33] mattklein123 commented on #301
From a quick scan I don't think the nghttp2 base64 implementation is exported from the main library. We could potentially copy that code. Not sure if there are better options. Definitely happy to use something other than BIO here.

[2016-12-17 02:39] mattklein123 commented on #298
@rshriram a few things:

1) All three APIs can be implemented by the same remote server. Envoy doesn't care. So if it's helpful from a consistency perspective they can all go to the same place.

2) I don't think it's strictly required moving forward that a route always point to a currently known cluster. For example, there has already been a feature request to have the cluster specified directly i

[2016-12-17 02:45] mattklein123 commented on #152
Not yet, we need to update the CI image and get on-boarded by Google for boringssl tracking/updates. I'm working on this offline.

[2016-12-17 02:55] mattklein123 commented on #301
@tatsuhiro-t any interest in exposing the base64 encoder in the nghttp2 library? :)

[2016-12-17 04:10] lizan commented on #301
Or I can simply just implement one if you think it is fine.

[2016-12-17 04:38] mattklein123 commented on #301
I'm happy with whatever as long as it has tests. @lizan feel free to take this one.

[2016-12-17 06:58] tatsuhiro-t commented on #301
@mattklein123 No plan to expose base64 encoder.  It is MIT licensed, and header only. It is relatively easy to import it to envoy.  Implementing it from scratch is also not hard.

[2016-12-18 18:25] mattklein123 commented on #300
This is a trivial filter to write. If anyone is looking for a good starter project let me know.

[2016-12-19 19:10] WhileLoop commented on #300
I might have some bandwidth this weekend, just point me in the right direction.

[2016-12-19 20:17] mattklein123 commented on #300
@RomanDzhabarov is going to provide some tips

[2016-12-19 20:56] RomanDzhabarov commented on #300
hey @WhileLoop let me put some notes on developing a new filter. That should be a good starting point, but let me know if you have any additional questions.

**Developing filters**
There are many examples of [L7 filters we are using](https://github.com/lyft/envoy/tree/master/source/common/http/filter), [DynamoFilter](https://github.com/lyft/envoy/blob/master/source/common/dynamo/dynamo_filter.cc)

[2016-12-20 00:11] chowchow316 commented on #179
LGTM

[2016-12-24 04:19] jhspaybar commented on #283
@mattklein123 sorry to reply to a closed issue, but after some extra testing, I think I need to be able to read a header that isn't the ":authority" header.  My experimentation with grpc-java at least seems to require ":authority" to be localhost or 127.0.0.1 so that I can talk to the client side of my envoy mesh and then specify something like "upstream=foo" to match the actual cluster I'm target

[2016-12-24 15:39] jhspaybar commented on #283
I take it back, it appears I missed a ChannelOption which allows me to override the Channel authority for a single call, so I could install an interceptor that just adds this to every call.

[2016-12-24 16:28] mattklein123 opened #308 "router: allow routing to cluster specified in a header"
Add a new "cluster_header" route option (to go along with "cluster" and the new "weighted_clusters"). This is related to:
https://github.com/lyft/envoy/issues/283
https://github.com/lyft/envoy/issues/144

[2016-12-24 16:29] mattklein123 commented on #283
@jhspaybar I opened https://github.com/lyft/envoy/issues/308 to track adding the ability to specify the cluster in a header. This is slightly orthogonal to the CDS stuff so we can track in a different issue. When implemented we will allow specifying an arbitrary header of your choice.

[2016-12-29 19:38] timperrett commented on #144
@mattklein123 Happy Holidays! Just to plan accordingly, what's the rough ETA for this work? I was going to work on implementing the proposed protocol this week in our glue API the Envoy talks to, such that we're ready to go with it as soon as its merged into Envoy, but just trying to get an idea if thats overly optimistic, or if we need to plan for something else in the mean time?

[2016-12-29 23:49] mattklein123 commented on #144
@timperrett I took a detour into redis but I plan on doing this next week.

Question: How are you going to select the dynamic cluster? Do you need https://github.com/lyft/envoy/issues/308 also? Since currently the route table is static I assume you also need some way of selecting the cluster via header or something along those lines? Or do you also really need https://github.com/lyft/envoy/issues/

[2016-12-29 23:54] mattklein123 commented on #263
https://github.com/lyft/envoy/pull/309

[2016-12-31 19:54] timperrett commented on #144
@mattklein123 Thanks for the reply and sorry for my delay (christmas etc); back to work full time from Monday.

We would want #308 to satisfy all our use cases (I can email you a document with the cases we need to satisfy if that helps), but now having seen #298, man, #298 would really help us avoid reloading envoy. As I see it #308 is satisfying a discrete use-case from #298, so yeah, for a compl

[2016-12-31 20:01] mattklein123 commented on #144
@timperrett if you could email me that doc that would be great. I suspect @rshriram would also be interested if you don't mind being public about it. https://github.com/lyft/envoy/issues/298 is not hard to implement so I will probably just do that also. So I guess give me about 2 weeks to get it all done.

[2017-01-02 11:39] andrewwebber opened #310 "docs: comparison to nghttp2"
Without going into the code it is difficult understand the following question:

- nghttp2 usage? Is Envoy a like for like rewrite/implementation or to what extent is Envoy based on the nghttp2 library

[2017-01-02 11:52] andrewwebber opened #311 "Kubernetes Ingress Controller"
Are there any plans to look at a kubernetes ingress controller implementation?

[2017-01-02 19:05] mattklein123 commented on #310
nghttp2 is a library that implements the http/2 protocol codec. Envoy uses nghttp2 for http/2 codec support. Beyond the fact that Envoy uses nghttp2 as a library for a portion of its functionality the two projects are not comparable.

[2017-01-02 19:08] mattklein123 commented on #311
Please following along with the https://github.com/istio project. They are building k8s support for Envoy (and other service mesh proxies).

[2017-01-02 19:22] andrewwebber commented on #310
This is very useful information, thank you. nghttp2 also have a proxy application. I was currently using nghttpx proxy application and trying to compare it to Envoy. Would you say it is work comparing [nghttpx](https://nghttp2.org/documentation/nghttpx-howto.html)

[2017-01-02 20:09] mattklein123 commented on #310
Sure we can do a comparison to nghttpx. At a high level nghttpx is an example HTTP/2 proxy written on top of the nghttp2 library. It can transparently proxy HTTP/1 <-> HTTP/2 and has a variety of other proxy features. Envoy is largely a superset of nghttpx (it contains substantially more features around routing, advanced load balancing, stats, service discovery, etc.). I don't personally consider

[2017-01-02 20:17] mattklein123 opened #312 "use std::steady_clock for intervals"
The leap second brought to my attention that we are incorrectly using system_clock for computing time intervals when we should be using steady_clock.

http://en.cppreference.com/w/cpp/chrono/steady_clock

[2017-01-02 22:10] andrewwebber commented on #310
I agree with your notion of Envoy being a superset of nghttpx. I think it would be great to add this to the documentation section. I think many notice gRPC users find the gRPC website recommendation of using nghttpx. Envoy looks far superior.

[2017-01-03 01:20] mattklein123 commented on #310
Sure will add. I'm going to reopen this to track editing the docs.

[2017-01-03 22:13] lizan commented on #301
Closed via #306

[2017-01-03 22:13] #301 closed

[2017-01-03 22:14] elyscape commented on #95
In addition to SNI for HTTPS, it would be nice to have support for TCP proxy clusters. Potential setups:

- Communication with cluster is done via HTTP (TLS termination)
- Communication with cluster is done via HTTPS (reencryption)
- Communication with cluster is done via TCP (TLS terminated TCP proxy)
- Communication with cluster is done via TCP with TLS (TCP proxy with reencryption, not pictured

[2017-01-05 03:55] mattklein123 opened #315 "Add Listener Discovery Service (LDS) API"
Natural progression behind SDS/CDS/RDS. Low priority but opening for visibility.

cc @enricoschiattarella

Work items:

- [ ] make listen() errors graceful and unified between initial startup and dynamic add.

[2017-01-05 03:57] mattklein123 opened #316 "Make listener port binding options extensible"
Move away from just "port" so that we can support TCP/UDS/UDP/etc. and also virtual listeners that get routed to dynamically (potentially via SO_ORIGINAL_DST).

cc @enricoschiattarella

[2017-01-05 04:00] mattklein123 opened #317 "Extend AsyncClient to support streaming responses"

[2017-01-05 04:04] mattklein123 commented on #185
It seems like everyone is getting on the SDS/CDS/RDS bandwagon so I'm going to close this out. I would like to revisit general plugin documentation in depth at a later time.

[2017-01-05 04:04] #185 closed

[2017-01-05 09:22] vanillahsu commented on #143
getaddrinfo_a() is linux only api, it's terrible when I like to port envoy to FreeBSD.

[2017-01-05 16:14] andrewwebber opened #319 "Websockets support"
Does Envoy support websockets as I seem to be having some issues connecting from a golang client with a golang Backend server.

[2017-01-05 16:16] mattklein123 commented on #319
No, we don't currently support websockets.

[2017-01-05 16:18] andrewwebber commented on #319
This is very useful information as I will stop trying to find a workaround for this. I guess I will have to refactor my push microservice to use HTTP2 somehow

[2017-01-05 16:20] mattklein123 commented on #319
Going to reopen just to track the feature request.

[2017-01-05 16:20] rshriram commented on #247
Another thing I realized is how the user specifies the weights.
Today, to split traffic between three versions (30/30/40), I would have to specify the weights (in runtime) as 33, 66, (and none for the last). However, the proposed syntax above (weights: 33, 33, 33 out of 100) is a different one. Is that a typo or was it intentional?

While its possible to translate from this static specification to

[2017-01-05 16:27] andrewwebber opened #320 "HTTP2 Load balancing affinity"
This could be a beginner question so I apologise.

It was not clear to me in the documentation how HTTP2 load balancing works.

As new HTTP2 requests come in from a single client on a HTTP2 connection to a envoty route does each client request continue to communicate with the original backend instance (say 7 of 9) or does each request within a client connection to Envoy get load balanced to all 9

[2017-01-05 16:53] mattklein123 commented on #320
Requests get load balanced to all backends depending on the load balancing policy. Currently we do not support any consistent hashing load balancing policies, however we will support hash based load balancing for HTTP based on a header "soon" (~4-6 weeks).

[2017-01-05 16:55] mattklein123 commented on #247
The intuitive weights should be used. It is not required that runtime be modified. The basic flow looks like this:

1) Check if weighted routing rule
2) Take stable ID and manually modulo by 100
3) Iterate through each weight until you find the right cluster to route to (and handle bogus runtime value somehow).

[2017-01-05 17:00] andrewwebber commented on #320
This is great information, thank you.

Currently a bidirectional gRpc stream seems to simulate session affinity although it's application is very limited

[2017-01-05 19:24] rshriram commented on #247
I think the three steps are straightforward as long as there is no runtime, i.e., we can support intuitive way of specifying weights (33, 33, 33) and internally, they can be converted into (33, 66, 100).

The ambiguity (not problem) is that when the user decides to use the runtime later on, she would have to obey the internal format. For example, say, she wants to tweak the weights such that it is

[2017-01-05 20:37] drobertduke opened #324 "grpc-bridge example fails during docker-compose"
Running from master:
[code]

Adding a `RUN apt-get update` to Dockerfile-python fixes that error.  Run it again and you get

[code]

This change to Dockerfile-grpc seems to fix the second error:
[code]

Run it again and the `docker-compose up --build -d` command completes succesfully, but the `grpcbridge_python_1` container has failed:
[code]

[code]

I removed `%RESPONSE_FLAGS%` from `config/s2s-

[2017-01-05 20:43] mattklein123 commented on #324
Related to https://github.com/lyft/envoy/issues/155. We need to automate building/testing the example containers.

[2017-01-05 21:13] drobertduke opened #326 "grpc-bridge example fails to get keys from the Python service"
After getting `docker-compose build` to run using the #325 branch, I am able to set keys via the Python service but not get them

[code]
[code]

Printing resp.content yields `upstream connect error or disconnect/reset before headers`

https://github.com/lyft/envoy/blob/master/source/common/router/router.cc#L383

It looks like the case is that the downstream response has started, but there's an ups

[2017-01-05 21:19] mattklein123 commented on #326
Related to #155. We need to automate building/testing the example containers.

[2017-01-05 21:24] drobertduke opened #327 "grpc-bridge example fails to compile go service"
[code]
gRPC master has moved to SupportPackageIsVersion4 apparently https://github.com/grpc/grpc-go/blob/master/rpc_util.go#L519
Another triumph for golang dependency management 😃

[2017-01-05 21:26] mattklein123 commented on #327
Related to #155. We need to automate building/testing the example containers.

[2017-01-05 21:31] mattklein123 commented on #155
Need to also build all of the example images.

[2017-01-05 22:13] drobertduke commented on #326
I've confirmed that this happens because the tutorial instructions are out of order (you need to build the go service before building the containers), and the failure to start /usr/local/bin/srv is swallowed because it starts in the background.

[2017-01-06 15:40] mattklein123 opened #330 "Dynamic clusters add/remove, stats, and hot restart"
It occurred to me that there are some pretty serious issues around how we currently handle stats and hot restart as it relates to dynamically adding/removing clusters.

Primarily, stats are currently allocated entirely in shared memory from a fixed pool. There is no way to free them. We will quickly run out of space in the pool if we add/remove clusters. So we need rethink how this mechanism works

[2017-01-09 18:38] moderation opened #336 "Allow for simple TCP healthcheck"
Send and receive packets are required when configuring TCP health checks in the Cluster Manager.  Documentation at https://lyft.github.io/envoy/docs/configuration/cluster_manager/cluster_hc.html#config-cluster-manager-cluster-hc

It will be useful to allow pure TCP healthchecks without the requirement to send and receive bytes. Examples would be health checking CockroachDB on port 26257 or a Postg

[2017-01-10 00:06] RomanDzhabarov commented on #152
https://github.com/lyft/envoy/pull/339 - third party image update

[2017-01-10 16:08] #199 closed

[2017-01-10 16:18] mattklein123 commented on #152
fixed

[2017-01-10 16:18] #152 closed

[2017-01-11 03:44] mattklein123 opened #342 "missing coverage in fault filter"
@rshriram I noticed the following line is missing coverage in the fault filter. Do you mind adding a test for that case? It's pretty important to make sure the timer gets correctly disabled, etc.

https://github.com/lyft/envoy/blob/master/source/common/http/filter/fault_filter.cc#L121

[2017-01-11 03:50] mattklein123 commented on #156
I'm going to close this out as won't fix. I don't think Envoy will ever do auto restart for config changes but would require some external process runner to do it.

[2017-01-11 03:50] #156 closed

[2017-01-11 03:51] mattklein123 commented on #320
Going to close this out, let us know if you have further questions on this topic.

[2017-01-11 03:51] #320 closed

[2017-01-11 04:46] rshriram commented on #342
Correct me if I am wrong. I am not testing that function directly. However,
see the following line
https://github.com/lyft/envoy/blob/master/test/common/http/filter/fault_filter_test.cc#L85
that checks if timers are disabled after use.

And here is an example test case:
https://github.com/lyft/envoy/blob/master/test/common/http/filter/fault_filter_test.cc#L274

WDYT?

Also, is there a tool that pr

[2017-01-11 05:58] RomanDzhabarov opened #343 "Allow Envoy making load balancing decisions based on request headers"
One use case is that internal service might want to set specific header so that Envoy will route request to canary only nodes.
We might find other use cases, make header to be `x-envoy-lb-hint` and use various types of hints in chooseHost logic.

[2017-01-11 16:10] mattklein123 commented on #342
You need to have a test where you invoke the stream reset callback like this:
https://github.com/lyft/envoy/blob/master/test/common/http/filter/buffer_filter_test.cc#L110

This will insure that things are cleaned up properly in the reset case.

You can do a full coverage build like so:
https://github.com/lyft/envoy/blob/master/ci/do_ci.sh#L18

After that runs there will be a lot of HTML files incl

[2017-01-11 19:55] enricoschiattarella opened #345 "Consider adding routing capabilities to tcp_proxy"
Currently the tcp_proxy network filter can only open connections to hosts belonging to a single cluster specified by name in the configuration.

We propose the addition of an optional list of L3/L4 routing rules pointing to specific clusters by name.
The rules would be examined in-order and the first rule to match would be applied.

A rule would consist of a cluster name and 1 or more match criter

[2017-01-11 20:18] mattklein123 commented on #345
@enricoschiattarella this sounds reasonable and useful. As you suggest, I agree a good next step would be to do a short proposal of the route config schema (here or in doc) and we can all review.

[2017-01-11 20:20] mattklein123 commented on #345
P.S., longer term it would also be pretty cool/useful to put rate limit stuff directly into the TCP route configuration much like @ccaraman is now working on for HTTP. As long as we have a generic TCP route table config it should be easy to extend in the future.

[2017-01-12 21:38] fengli79 opened #351 "IPv6 support"
Does envoy support IPv6? If not, is there a plan to support it?

[2017-01-12 21:45] mattklein123 commented on #351
It took a lot to have this issue opened than I thought it would. 😉

It's not currently supported. It wouldn't be difficult to support, but someone needs to do the work.

[2017-01-13 00:49] enricoschiattarella commented on #345
# tcp_proxy configuration example

[code]

[2017-01-13 03:03] mattklein123 commented on #345
@enricoschiattarella personally I would vote to just get rid of the config-level cluster param and make everyone specify the route table config. It's more verbose and a breaking change but IMO it's better to have one config type if possible. I don't have a strong opinion on this if others feel differently though.

re: destination IP/port, we will obviously have to expose this out of the connection

[2017-01-13 04:37] enricoschiattarella commented on #345
@mattklein123  Thanks, Matt.
 I will start working on it and continue this thread if other non-straightforward design choices come up.

[2017-01-17 01:44] #342 closed

[2017-01-17 15:34] amb67 commented on #144
@mattklein123 It would be useful for CDS to return not only list of clusters but weights associated with each cluster. The use case for this is global load balancing where Envoy would be able to split traffic between the clusters for the same service. While this may not be that important when using Envoy in a sidecar configuration, it is super important if Envoy is used as a proxy in the middle.

[2017-01-17 18:51] mattklein123 commented on #144
@amb67 it is by design that clusters/cluster manager do not participate in routing (including weighting). Weighted routing is accomplished via the routing engine. There are a few upcoming changes that will make it easier to perform dynamic weighting updates beyond the runtime system we provide today:
1) We will add RDS API to go along with SDS and CDS API: https://github.com/lyft/envoy/issues/298

[2017-01-18 04:10] amb67 commented on #144
So the workflow will be the following steps?
1. Call CDS to get list of clusters
2. For each cluster, get list of IPs in this cluster via SDS
3. Call RDS and as part of it get cluster weight overrides.

In our case cluster weights always be dynamic, and they change very often
so we would need a stream. Short of stream, we would need to get weights
continuously through the API.

Also, with these AP

[2017-01-18 17:01] mattklein123 commented on #144
@amb67 For better or worse, we are trying to build a system where customers with vastly different needs can come and use the complexity that they require, and no more. This ranges from some customers that want a completely static config, to your requirements which are probably the most complicated that we have considered so far.

I need to get this better documented in the official docs once CDS a

[2017-01-18 17:42] amb67 commented on #144
@mattklein123 Thank you for detailed explanation. Given that our requirements are so dynamic and tilt Envoy APIs to more complex, I am happy to help you to design them.

[2017-01-18 21:11] #324 closed

[2017-01-18 21:13] junr03 commented on #327
fixed by #357

[2017-01-18 21:13] #327 closed

[2017-01-18 21:14] junr03 commented on #326
fixed by #357

[2017-01-18 21:14] #326 closed

[2017-01-19 01:03] mattklein123 commented on #144
For those following along, I talked to @amb67 offline. We will circle back in a couple of weeks with a more concrete public proposal for any new (likely gRPC) APIs. In the near term, I am continuing forward with the existing REST CDS/RDS proposals to satisfy all the other known use cases.

[2017-01-20 20:22] #144 closed

[2017-01-22 04:39] irfn opened #367 "Need working service discovery Example Config."
I have given Service discovery a try via following config in cluster manager.
I am assuming that following should result in a call `GET http://192.168.1.1:8080/v1/registration/my-service` as per reference Implementation (https://github.com/lyft/discovery)

[code]

I could not get this to work. There was no call made to the service discovery server. Please help debug this and provide an example.

[2017-01-22 18:15] mattklein123 commented on #367
This is an initialization bug. I will fix.

In the meantime, to unblock yourself, switch the SDS cluster type to "strict_dns" and it will work.

[2017-01-23 15:52] irfn commented on #367
@mattklein123  Thanks for providing the workaround. I confirm that "strict_dns" setting for sds worked.

[2017-01-23 16:46] irfn commented on #367
@mattklein123 can you tell me if there is downside of using strict_dns for service discovery in production. Ill actually not be using dns. Ill be using an ip address.
I have implemented my own "agent" which will translate the consul agent api to lyft reference api. Ill be configuring the ip to this agent.

[2017-01-23 17:25] irfn opened #368 "v2 gRPC/JSON APIs for SDS/CDS/RDS/LDS/load reporting"
While a polling api and a low enough `refresh_delay_ms` does the trick, i have been trying to move to model where changes in deployment /services  would raise an event. This way we could set the periodic service discovery via `refresh_delay_ms` to a big number and rely on events for a more realtime update.
I would suggest an admin like api such as `/clusters/discover` etc. that can be triggered ex

[2017-01-23 17:30] mattklein123 commented on #367
@irfn there is no downside other than a bit extra CPU when we make a DNS query for a static IP. I am however fixing this bug in the next few days in the context of also fixing https://github.com/lyft/envoy/issues/330

[2017-01-23 17:42] mattklein123 commented on #368
The entire design of Envoy relies on eventual consistency. Polling is much simpler and less failure prone than a trigger based API, so it's unlikely that we will ever implement anything like this.

With that said, we are likely to eventually implement gRPC streaming APIs for SDS/CDS/RDS which should give much more push like behavior given persistent connections. I'm going to rename this issue to t

[2017-01-23 17:44] irfn opened #369 "gRPC health checking against a predefined proto"
Feature request.
Envoy could come up with a standard for grpc health-check eg:
https://github.com/grpc/grpc/blob/master/doc/health-checking.md

[code]
Anyone wanting to do this would have to implement this and configure the check to be grpc.

[2017-01-24 01:21] rshriram opened #372 "perf: eliminate repeated route lookups in http filters"
The rate limit filter and the fault filter can be applied to specific upstream clusters. Currently, these filters recompute the route on their own. For performance reasons, this recomputation should be avoided. Instead, the upstream cluster chosen by the http connection manager should be made available via the some accessible interface.

[2017-01-24 01:23] mattklein123 commented on #372
The return value here should be cached: https://github.com/lyft/envoy/blob/master/source/common/http/conn_manager_impl.h#L255

[2017-01-24 01:24] rshriram commented on #272
Closing for now. With RDS, CDS, and SDS, adding another network work backend for runtime seems to overcomplicate the system. Its far easier to live with a file-system based backend, as it makes it easier to reason about the state of the Envoy process.

[2017-01-24 01:24] #272 closed

[2017-01-24 01:33] mattklein123 opened #373 "downstream circuit breakers"
2 different levels:
1) Phase 1, don't do keep alive (for example in HTTP connection manager filter).
2) Phase 2, immediately close connections when they are received.

Remaining items:
- [ ] Stats
- [ ] Docs

[2017-01-24 02:01] rshriram commented on #373
Can you elaborate phase 2 please? Circuit breakers as such makes sense when calling dependencies. At downstream level, its more of handshaking pattern (assuming the other end is Envoy). If not, it boils down to throttling/load shedding does it?

[2017-01-24 14:33] mattklein123 commented on #373
This is primarily for Envoys that are acting as edge proxies. It's a defense in depth measure to help with too many incoming connections. The 2 phase approach allows it to be graceful in phase 1 before becoming "shed load as fast as possible" in phase 2.

[2017-01-24 19:27] fengli79 opened #374 "Implement the GRPC-Web spec."
Implements the GRPC web spec: https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-WEB.md

[2017-01-24 23:58] #247 closed

[2017-01-25 18:32] garrettheel opened #378 "Ability to serve static files"
It would be great to have the ability to serve static files from Envoy.

My use-case is to serve static files for an HTML frontend (HTML, JS, CSS, etc.), which should be a fairly common one. Right now you would have to put something like nginx in the middle to efficiently do this.

[2017-01-25 18:50] fengli79 commented on #374
I'm going to implement this soon, could you help to assign this to me?

[2017-01-25 18:53] mattklein123 commented on #374
@fengli79 before writing a ton of code, can you provide a rough implementation outline? From my limited understanding it seems like this will be an optional filter?

[2017-01-26 01:51] mattklein123 opened #379 "docs: consolidate traffic shifting docs"
@rshriram not urgent but just opening this issue so we don't forget.

[2017-01-27 01:03] fengli79 opened #381 "Supports GRPC streaming based on Asyn HTTP2 client."
Pull request https://github.com/lyft/envoy/pull/353 is going to support async stream HTTP2 client in envoy.
After that, I'm going to implement the GRPC client on top of it to enable GRPC streaming calls.

[2017-01-27 03:22] lizan commented on #381
Is that going to support generated grpc code or not?

[2017-01-27 03:24] fengli79 commented on #381
It's not for generated grpc code. It's for generic calls.
On Thu, Jan 26, 2017 at 7:22 PM Lizan Zhou <notifications@github.com> wrote:

[2017-01-27 19:29] mattklein123 opened #385 "docs: document host -> :authority"
related to header matching / routing

[2017-01-27 20:48] mattklein123 opened #386 "ci: switch to travis.org"
@rshriram just let me know that outside people can't see CI builds so we need to switch to travis.org.

@junr03 can you add this to your "fixing CI" list. cc @ryan-lane

[2017-01-27 21:42] mattklein123 commented on #372
In thinking about this a little bit more it's not so simple, since the current interface takes the headers as a parameter, and the headers might potentially be modified between filters. Need to think a little more about this.

[2017-01-27 23:56] rshriram commented on #372
Question is do filters want the route chosen by the http connection manager
or do they want to compute a route with custom headers ?
May be both depending on the scenario. But for majority of use cases, I can
see that folks will want to know which cluster or route was chosen by the
connection manager. That can certainly be cached right?

At the same time, if some filter wants to recompute the rout

[2017-01-28 00:04] #330 closed

[2017-01-28 00:04] #367 closed

[2017-01-28 05:37] mattklein123 commented on #372
See the linked PR. In general, I agree that eventually we might want to allow a filter to lookup based on headers, but the reality is that nothing needs that right now. I would rather keep it simple into that requirement comes back. The attached PR simplifies things and is a lot faster in the common case.

[2017-01-28 05:41] mattklein123 commented on #381
@fengli79 I know it's a question for the gRPC folks, but is there any chance of getting it eventually working with gRPC compiled code similar to how we use the deprecated generic RPC proto stuff here: https://github.com/lyft/envoy/blob/master/source/common/grpc/rpc_channel_impl.h? That would be really neat to get working in the future.

[2017-01-28 05:47] mattklein123 opened #390 "Clean up network address handling"
This came to a head as part of: https://github.com/lyft/envoy/pull/377

The entire string based system we are currently using for addresses, along with utility functions in Network::Utility, is a mess. We should clean this up so it properly supports TCP vs. UDP, is an interface, etc.

This will probably also help us more easily support IPv6 in the future.

[2017-01-28 06:39] fengli79 commented on #381
We don't have plan to do that yet, however I would vote for yes if it's
highly desired by community.
On Fri, Jan 27, 2017 at 9:41 PM Matt Klein <notifications@github.com> wrote:

[2017-01-29 00:11] mattklein123 opened #391 "upgrade to libevent 2.1"
Final was recently released. The main added feature which would be useful is support for EPOLLRDHUP in the epoll backend. There are a few other things also.

[2017-01-29 03:28] PiotrSikora commented on #143
@mattklein123 you mentioned that this might be contributed from outside of Lyft. Do you know status of this effort? Is anyone actively working on this?

[2017-01-29 06:29] irfn commented on #369
@mattklein123 are you ok adding grpc dependencies to achieve this. If not then any suggestions?

[2017-01-29 18:04] mattklein123 commented on #143
@PiotrSikora no one is currently working on this. If you want to take this, that would be great. It's all yours. Let me know.

[2017-01-29 18:08] mattklein123 commented on #369
We won't take the gRPC runtime as a dependency, mostly do to lack of ability to control threading and transport. Instead, we should do the following:
1) Define a .proto gRPC HC API (this should be proposed here so community can discuss). This would get added to the Envoy repo and compiled like this proto: https://github.com/lyft/envoy/blob/master/source/common/ratelimit/ratelimit.proto
2) Use rpc_

[2017-01-30 17:19] irfn commented on #369
@mattklein123 i would be interested for sure. ill spend some time understanding the health_checker first.
Would Envoy be supporting streaming grpc in addition to the current unary rpc. Healthchecks  would then probably need something like a DRAIN in addition to SERVING, NOT_SERVING.

[2017-01-30 19:12] qiwzhang opened #393 "Support custom hook for HTTP access log"
HTTP access log is quick useful for many applications. They will like to provide custom hooks to intercept the request_info after response data is send but before all data structures are gone.  It also needs a way for DecoderFilter or EncoderFilter to create some data objects for the request and pass them to custom access_log hooks.

[2017-01-30 19:20] mattklein123 commented on #393
@RomanDzhabarov can you meet with @qiwzhang offline and come up with a proposal to add back to this issue. As I see it, there are several options:
1) Use a "tracer" vs. a direct hook in the active stream destructor path.
2) Add a new extensibility mechanism independent from filters, to add post request hooks.
3) (Possibly easiest and most straightforward), allow filters to register for a post requ

[2017-01-30 21:07] #372 closed

[2017-01-30 21:51] mattklein123 opened #394 "refresh example configs / docs"
The example configs are slightly out of date based on new features that we now run in prod at Lyft. Refresh the example docs and make the documentation about them a bit more thorough.

[2017-01-30 22:37] #379 closed

[2017-01-30 23:17] #310 closed

[2017-01-30 23:17] #385 closed

[2017-01-30 23:22] PiotrSikora commented on #143
@mattklein123 please consider this being worked on (not by me, but someone else at Google).

[2017-01-30 23:26] mattklein123 commented on #143
OK great, thanks. LMK if there are any questions/issues. The interface that needs to be implemented is pretty straightforward.

[2017-01-31 15:06] htuch commented on #143
@mattklein123 I'll be working on this as a Google contributor, will reach out if any questions arise.

[2017-01-31 19:10] qiwzhang opened #399 "JSON schema validation failed with an existing config file."
After pull in changes from https://github.com/lyft/envoy/pull/365,  my config file doesn't work any more.

Here is the error:

[2017-01-31 10:47:00.258][10775][critical][main] error initializing configuration 'src/envoy/prototype/envoy-esp.conf': JSON object doesn't conform to schema.
 Invalid schema: #/properties/filters.
 Invalid keyword: minItems.
 Invalid document key: #/filters

Process finis

[2017-01-31 19:24] RomanDzhabarov commented on #399
on a separate unrelated to the current issue note,

this is incorrect as well, if you do not want LightStep tracing just remove that line (if you do, you'll have to have "tracing" configuration under connection manager)

[2017-01-31 19:26] qiwzhang commented on #399
Thanks.  will remove "tracing_enabled": "true"

[2017-01-31 19:27] jamessynge commented on #351
Can you provide any pointers to where support is missing (e.g. int fields for addresses, or parsing of only IPv4 addresses)?

[2017-01-31 19:28] ccaraman commented on #399
Thank you for reporting this. The config is failing because port 9092 has an empty list for filters. This is a bug in the schema where it checks for at least one item in the filters. I'll update the schema and documentation now.

[2017-01-31 19:50] ccaraman commented on #399
One thing to note, the connection will be closed if there are no filters for a listener.

[2017-01-31 19:56] fengli79 commented on #351
Here's an example:
https://github.com/lyft/envoy/blob/c36bb76e304ab4c5584a07303e2953a170888319/source/common/network/listener_impl.cc#L104

And if you search AF_INET6 in the repo, there's no reference.

[2017-01-31 20:06] qiwzhang commented on #399
Yes, understood.  That is our intend.  Thanks.

[2017-01-31 20:21] mattklein123 commented on #351
This is somewhat related to https://github.com/lyft/envoy/issues/390 which I am going to fix soon (next week most likely).

In general, it depends on where we need/want IPv6 support. There will be a small number of changes sprinkled through the code base, and not all of them are necessarily needed at once:
1) Add IPv6 listener support
2) Add IPv6 proxy proto support
3) Add IPv6 address parsing sup

[2017-01-31 21:51] #399 closed

[2017-02-01 13:28] andrewwebber commented on #319
[Traefik claims](https://github.com/containous/traefik/issues/8) to support HTTP2 as well as websockets. What is the limitation here...

https://github.com/containous/traefik/issues/8

[2017-02-01 17:00] mattklein123 opened #404 "docs: custom filter build strategy"

[2017-02-01 17:20] mattklein123 commented on #319
The limitation is we don't support the websocket protocol. :)

It needs to get implemented, probably just as a new L4 filter that sits in front of the tcp_proxy filter.

[2017-02-01 17:50] jamessynge commented on #390
Do you have a plan/design/sketch for how to represent addresses, addresses ranges, address families and protocols?

[2017-02-01 18:56] #393 closed

[2017-02-01 19:00] mattklein123 commented on #390
My current thinking here is to do something along the lines of what follows.

Basically, have a root class for an address, generic methods where possible, then a type switch to allow retrieving more detailed info when the caller needs to work with address details. For example Ip would support port/address/etc. where as unix only exposes name. I think with this design we can support IPv6 quite easi

[2017-02-01 19:31] jamessynge commented on #390
Regarding AddressType, I assume the point of having Unix is to support local communications ala a named pipe (but UDS). I notice a request for Windows support in #129, and wonder if a more generic name would work.

Regarding having the Address class be virtual, would your plan be to use a shared pImpl approach, to make it easy/low-cost to copy addresses around?

[2017-02-01 19:35] mattklein123 commented on #390
Yes we currently support UDS addresses for client connections. From an interface perspective we can call this Pipe or something similar.

Yes, the idea would be to make copying/accessing low cost, so would expose as shared_ptr where necessary.

[2017-02-01 19:49] jamessynge commented on #390
Regarding a shared pImpl approach (rather than shared_ptr exposure), I was thinking of something like:

[code]

This doesn't expose the shared_ptr, though it probably requires considering the AddressImpl to be immutable, with Address itself being modifiable via assignment (i.e. "overwrite" with a pointer to a new impl).

[2017-02-01 19:52] jamessynge commented on #390
Note that I'm very supportive of the goal of hiding the details of a specific address (IPv4, IPv6, UDS, Pipe), and not continuing to use strings. One complication of course (the leaky abstractions problem) is that some APIs might be Internet specific, so receiving a UDS or Pipe address will necessitate arg checks and status returns.

[2017-02-01 19:56] mattklein123 commented on #390
re: the shared impl approach. That's fine. I don't have a strong opinion. I can take a first crack at getting the interfaces plumbed through and flesh out the details. In V1 it probably won't even require an embedded impl just to get parity with existing functionality.

re: Yes, I agree that ultimately there is no way around in some cases having code that does things based on type(), though I thin

[2017-02-01 20:00] htuch commented on #143
@mattklein123 Any objections to changing the DnsResolver::resolve() return type to ActiveDnsQuery* from ActiveDnsQuery&? If a DNS query is resolved immediately during the call to ares_gethostbyname(), and hence the callback has already been invoked, we don't have any cancellation to return to the caller.

Also, I'm thinking in the initial implementation we can keep it relatively simple and use a s

[2017-02-01 20:02] mattklein123 commented on #143
@htuch re: return value sgtm

re: ares implementation, tbh I don't know anything about the c_ares API, I did enough research to determine that seemed like the library to use but that's about it, so what you are proposing sounds fine to me.

[2017-02-02 16:06] mattklein123 opened #410 "http/2: better deferred reset handling"
In https://github.com/lyft/envoy/pull/105 we added the ability to defer sending reset due to how the nghttp2 library API works (see https://github.com/nghttp2/nghttp2/issues/692).

This mechanism does not work well in the client case where we may be waiting to send request data, timeout, reset the stream, but then actually sit around in the codec and wait for the stream to complete sending before

[2017-02-02 16:22] #317 closed

[2017-02-02 18:53] mattklein123 commented on #381
@fengli79 I started this branch to do zero copy for proto encode/decode:
https://github.com/lyft/envoy/tree/grpc_perf

I don't have time to finish this right now, but if you find it useful for the streaming gRPC stuff feel free to build on it.

[2017-02-02 20:33] wgallagher opened #413 "support opaque configuration settings on route"
For filters that need to act on a per-route basis, it would be useful to support a per-route configuration mechanism.  This config would be opaque to the envoy server itself but accessible to filters through an 'options' array of key-value pairs defined on route:

For example:

 {
    "prefix": "/my/route",
    "cluster": "mycluster",
    "options": [
       "my_filter_specific_confing": "some val

[2017-02-02 20:35] mattklein123 commented on #413
@rshriram do you have any additional thoughts on ^ This seems generally useful to me.

@wgallagher personally, I might rename "options" to "opaque_options" just to make it more clear that these are not inspected by the main server. But I could go either way.

[2017-02-03 00:00] fengli79 opened #415 "Enhance the build experience of envoy."
Today build envoy from github is not trivial. And it's even harder to build its tests.
Shall we?
1. Add envoy dependencies as its submodules?
2. Bazel support?
3. Single command to build?

[2017-02-03 00:28] lizan commented on #415
If you can use docker to build, it is not hard and just one command to build and test:
https://lyft.github.io/envoy/docs/install/building.html

We have bazel BUILD files in https://github.com/istio/proxy , @mattklein123 are you open to merge it into envoy repo?

[2017-02-03 13:34] rshriram commented on #413
Yes this is indeed very useful. I have been wanting to do something similar for the fault injection filter that would allow faults to be injected per route (in a catch all virtual host *).

In terms of the naming, why not just call it filters itself? Won't the semantics be clear then that this is not used for route selection but rather applied post routing?

An additional benefit of this is that t

[2017-02-03 13:58] rshriram commented on #415
Bazel support does not enhance build experience in any manner (not from our experience so far!). As @lizan pointed out, there is already a simple one line docker build command, and the docker image comes with all the dependencies installed in it.

[2017-02-03 18:20] mattklein123 commented on #155
@junr03 per discussion in https://github.com/lyft/envoy/pull/416 as part of this work can we also get a script together for pushing the envoy-build image to dockerhub with a sha tag, then update do_ci.sh to explicitly use a tagged version of the build image.

[2017-02-03 18:37] junr03 commented on #155
@mattklein123 do we want to push the envoy-build image automatically (on a trvis build), or just have a script that we run locally when we update dependencies?

[2017-02-03 18:39] mattklein123 commented on #155
I think it can be manual, but we should push the image tagged at the SHA it was built at, and then reference that tag in do_ci.sh. Then we should remove the latest image so that all builds are explicitly version locked.

[2017-02-03 18:42] junr03 commented on #155
@mattklein123 ok sounds good. In that case do we also want to version lyft/envoy, or keep the understanding that we push on every push to master that passes tests?

[2017-02-03 18:58] lizan commented on #415
We have been using bazel in istio/proxy for a while, and I do think bazel enhanced the build experience, especially for attaching debuggers, working with tools doesn't work well with docker. It provides dependency resolution without changing the system environment.

[2017-02-03 21:09] WhileLoop commented on #155
I would like to see tagged releases if possible.

[2017-02-03 22:48] junr03 commented on #155
@WhileLoop just to be clear, are you talking about versioned releases like lyft/envoy:1.0.0, or tagged releases with the SHA like lyft/envoy:SHA?

[2017-02-04 03:24] mattklein123 commented on #345
implemented

[2017-02-04 03:24] #345 closed

[2017-02-04 19:18] htuch commented on #143
Yeah, I've put out a PR with my current changes at https://github.com/lyft/envoy/pull/428. I had a quick look and compared the two PRs. There are a few implementation differences. The PR I sent uses a single ares_channel for all requests, which might have some benefits for tail latency if we decided to reuse TCP connections one day. Also, the libevent integration doesn't really on ares_getsock() w

[2017-02-04 22:00] rshriram commented on #378
@garrettheel would this end up turning Envoy into full fledged web server? Because, we would now have to take care of file encodings, gzip stuff, cache headers, and so on. Just afraid of code complexity/bloat.

[2017-02-05 00:54] Reflejo commented on #415
IMHO what needs to be done here is to fix the `CMakeLists.txt` to take care of dependencies. That way compiling from the repo would be as easy as setting your `CXX/CC` and
[code]

or even

[code]

I have a working branch that I'm planning to push when I have some time to polish

[2017-02-05 01:16] mattklein123 commented on #378
This would only ever be added as a standalone filter, but overall I agree with @rshriram that we are unlikely to add this into the core server. But will leave open just for tracking purposes.

[2017-02-05 04:57] emmanuel commented on #311
Istio looks interesting, but I don't think that it's particularly relevant to the request. As far as I saw (from a quick look), istio is targeting service-to-service communications (i.e., east-west, service mesh). An ingress controller is about north-south communications.

Please consider this another expression of interest for an Envoy-based ingress controller. Preferably this would be simple and

[2017-02-05 19:04] mattklein123 opened #430 "tracing: Zipkin support"
Per an offline thread, we will do direct Zipkin support in Envoy and skip attempting to integrate with OT C++ library for now.

@RomanDzhabarov please sync with @adriancole and @rshriram to get a plan in place.

[2017-02-05 19:05] mattklein123 commented on #128
@Reflejo if you are working on this can you keep notes in here on your progress (just so we don't duplicate effort).

Thanks,
Matt

[2017-02-05 19:10] mattklein123 commented on #311
@emmanuel it's very unlikely that we will work on any direct k8s integration any time soon. From my perspective Istio is the vehicle that will get Envoy into k8s including an ingress controller. It's possible this will change in the future depending on project trajectories, but for now I think it's best to let the Istio project evolve and see where it goes.

cc @rshriram @louiscryan in case you wa

[2017-02-06 00:59] mattklein123 commented on #315
Some rough implementation notes for this one:
1) Refactor the listener config implementation to be its own standalone class: https://github.com/lyft/envoy/blob/master/source/server/configuration_impl.h#L86. It shouldn't have any explicit dependencies on the main config.
2) The stat scope used inside this class needs to be correctly plumbed through so that it is used on all listener bound stats. Es

[2017-02-06 02:23] emmanuel commented on #311
@mattklein123 thanks for the response. I fired off that comment without doing my homework on istio and I hope that it didn't come across as uninformed, entitled and/or ubnoxious. That is how my comment looks to me upon re-reading, so I'm asking for a more generous interpretation than I myself would likely give. Hmmm.

Anyhow, istio is clearly targeting both east-west and north-south use-cases. It

[2017-02-06 02:44] emmanuel commented on #311
Curses, I forgot the most important part. Sorry for my tone in the first message.

[2017-02-06 03:57] timperrett opened #431 "Unexpected behaviour with SDS / CDS APIs"
Hi gang,

I think there may be a few separate issues with the CDS API.

### Overly frequent calling of SDS/CDS

The period timer in which Envoy is calling the CDS endpoint seems to be off by an order of magnitude. Given the following config:

[code]

This should be 30 seconds between calls, but in the log (I have a local testing harness now to test the CDS/SDS stuff and our custom backend providin

[2017-02-06 04:33] rshriram commented on #311
@emmanuel we are writing an ingress controller for Envoy in Istio, with much more functionality than the limitations of existing ingress controller (i.e. expose lots of Envoy features). It's  a work in progress. Please see https://github.com/istio/manager/pull/71

[2017-02-06 08:27] Reflejo commented on #128
I'll keep this issue updated; I'm planning on compile envoy on freebsd fwiw, but I think the delta between freebsd and darwin should be pretty small

[2017-02-06 16:35] mattklein123 commented on #431
@timperrett regarding (1), unless I'm reading it incorrectly, that looks correct to me. The APIs are being called anywhere from 30-60s apart (expected w/ jitter).

regarding (2), that seems incorrect. Let's talk about it in Gitter.

[2017-02-06 18:31] mattklein123 opened #433 "dns: de-dup returned entries"
This was raised here: https://github.com/lyft/envoy/issues/431

If DNS returns the same entry multiple times, we will keep adding a host and effectively leak. Either the DNS impl itself should dedup, or the dymamic cluster add/remove code should do it.

cc @htuch

[2017-02-06 18:33] #431 closed

[2017-02-06 18:45] htuch commented on #433
To what extent does order and multiplicity matter? Could we just pass a set to ResolveCb instead of a list in DnsResolver? Might the upper level cluster code use multiplicity to influence weight or order to determine preference?

[2017-02-06 18:48] mattklein123 commented on #433
Order doesn't currently matter, but the code in:
https://github.com/lyft/envoy/blob/master/source/common/upstream/upstream_impl.cc#L273

Does not correctly handle duplicates.

IMO, it would be better to fix the above code since that will cover not only DNS, but SDS, etc. also, and dealing with duplicates is really an envoy "problem" and not a DNS problem.

[2017-02-06 19:07] timperrett commented on #431
For anyone reading this after the fact:

1. This issue can be explained by the fact that the jitter added to to the SDS and CDS calls is `0-basetime` where (in my example) basetime is 30 seconds. The reason two of the calls appear close together is that the random jitter for that iteration was randomly decided to be near-zero.

2. Turns out that this part is a legitimate issue, and rears its head

[2017-02-06 20:46] htuch commented on #150
@mattklein123 I'm interested in getting started on this issue. I'm wondering if you have any any context (beyond the need to avoid infinite buffering) or initial thoughts.

[2017-02-06 21:26] mattklein123 commented on #386
We are now switched to travis.org, but are currently limited to 5 concurrent builds. We are working on raising this. cc @garrettheel

[2017-02-06 22:49] mattklein123 commented on #150
Here is my rough thinking on how to go about this (these are rough thoughts, feel free to propose alternatives once you start investigating). This is going to be a fairly complicated change. I think it would be good to break this up into small pieces just so that we can test things incrementally (that should not be that hard to do).

Changes to codec.h
--------------------

https://github.com/lyft

[2017-02-06 23:05] mattklein123 commented on #386
I think we are at 15 concurrent now so going to close this one.

[2017-02-06 23:05] #386 closed

[2017-02-06 23:17] junr03 commented on #155
For the time being we are going to have:
1. Tagged images for `envoy-build` with the commit they are built from. This is going to be used to run CI.
2. On every PR, the docker examples are going to be executed and test to run against the PRs code.
3. On every green push to master the `envoy` image is going to be pushed with the `latests` tag.

[2017-02-06 23:17] junr03 commented on #155
All of this is implemented in https://github.com/lyft/envoy/pull/408

[2017-02-06 23:45] bobzilladev opened #439 "Allow healthcheck on different port for non-EDS cluster types"
The http healthcheck will allow a path but not a port, which is problematic for existing Dropwizard-based services which by default to have the healthcheck endpoint on a separate admin port. There are also instances of proxies where a tcp check is being done to check the health of the proxy but the traffic is going over different ports.

Envoy would need a healthcheck_port in the static configurat

[2017-02-06 23:58] bobzilladev opened #440 "Immediately drain connections from hosts not in service discovery, as an option"
When a host is removed from service discovery Envoy will still send it traffic until the healthcheck goes bad. We'd want a configuration to have it start draining connections immediately. Probably along with a minimum-hosts configuration as a sanity check if service-discovery ever lost its mind.

Our discovery always shows all instances, but there's an 'active' flag on whether to send traffic or n

[2017-02-07 00:18] alexkrishnan commented on #440
Am I correct that this behavior could be modified [in upstream_impl](https://github.com/lyft/envoy/blob/b8174db216e430194b99d311c7658049566915bb/source/common/upstream/upstream_impl.cc#L319) possibly to read [a new property of cluster](https://github.com/lyft/envoy/blob/b8174db216e430194b99d311c7658049566915bb/include/envoy/upstream/upstream.h#L210)?

[2017-02-07 20:36] htuch opened #443 "Debug builds under clang/llvm sanitizers"
Currently Envoy builds under g++ and can optionally be run under AddressSanitizer via do_ci.sh. There are other sanitizers provided by LLVM such as msan and tsan (see https://github.com/google/sanitizers) that could be automatically applied and run during presubmits to increase confidence in code correctness if we could perform a clang/llvm debug build.

[2017-02-08 21:31] #390 closed

[2017-02-08 21:38] #155 closed

[2017-02-08 22:11] mattklein123 opened #448 "docs: auto push docs on every master commit"

[2017-02-09 00:35] mattklein123 commented on #204
@rshriram implementation notes:

- Extend host description (https://github.com/lyft/envoy/blob/master/include/envoy/upstream/host_description.h) to contain a hostName() parameter which should return const std::string&. This is similar to the generic address we had previously but we got rid of to yield a strongly typed address type.
- This parameter will return "" for non-DNS types.
- For DNS types

[2017-02-09 01:33] #433 closed

[2017-02-09 17:00] htuch commented on #150
Thinking about this API a little, I'm wondering if we have a good way to determine what the per-stream memory use will actually be. Using a watermark is a little loosey-goosey as the actual memory use might exceed the watermark by an arbitrary amount due to the last send prior to when the send pipeline decides to stop sending due to the high watermark exceeded callback.

An alternative API would i

[2017-02-09 17:28] #308 closed

[2017-02-09 17:40] mattklein123 commented on #150
The problem with modifying encodeData() to do partial writes is not only that it will be an incredibly invasive change (I'm guessing many weeks to get it correct), but that I don't think it helps. In the case of a partial write, unless you reset the stream, you are going to have to buffer the data somewhere (in the router, etc.). So you are still at the whim of when window updates go out.

IMO, a

[2017-02-09 18:00] htuch commented on #150
Yeah, partial writes don't help, but if we knew how much buffer space was available on the send path we could only consume from the kernel up to this amount and/or set the receive window appropriately in H2. I think this is something like what you're getting at with the last points above. In any case, this still wouldn't provide precise bounding, since any filter might change the size of data as i

[2017-02-09 18:02] mattklein123 commented on #150
One option that I considered is having encodeData (and write() on the connection) return the amount of data currently buffered. This would be a larger change, but could be used to drive dynamically changing window sizes... Something to consider in a follow up change? Not sure if we want to do that in v1.

[2017-02-09 18:13] mattklein123 commented on #159
@ccaraman I'm going to close this out. 🎉

We can track better error messages w/ line numbers separately.

[2017-02-09 18:13] #159 closed

[2017-02-09 18:43] ccaraman opened #454 "Envoy Config: Remove redundant config value checks"
There are many config value checks across the code base that are no longer necessary due to schema validation. Example:  https://github.com/lyft/envoy/blob/master/source/common/http/filter/fault_filter.cc#L25

In addition, we should see if the schema can be improved to remove more of those config values.

[2017-02-09 20:52] mattklein123 commented on #454
There are a few cases also where we lookup JSON values in initializer lists before we actually run the validation code. Can we also make sure that we always run the validator before the first lookup in the object.

[2017-02-09 22:30] fengli79 commented on #415
@Reflejo , agreed, the deps is the most painful part.
Can we add those deps as submodules of envoy if they are available on github?

[2017-02-09 22:42] RyanMcG commented on #413
Any additional thoughts on this? Can we move forward with @rshriram's suggestion (`filter_options`)?

[2017-02-09 22:46] mattklein123 commented on #413
We can finalize the name once the PR is ready. The general concept is fine.

[2017-02-10 00:33] mattklein123 commented on #448
1) Make a new bot user specifically for this purpose.
2) Give the bot user write access to envoy repo.
3) Restrict master to only lyft/network team. The bot will still not be able to push to master even with write access.
4) Inject creds into travis via env variables.

[2017-02-10 16:53] mattklein123 opened #460 "cds: correctly drain conn pools when deleting clusters"
Currently when we delete a cluster at runtime, we don't correctly raise member change callbacks, so the hosts will stick around. Need to look at this entire flow and fix/test.

[2017-02-10 20:08] mattklein123 commented on #443
Per gitter discussion, this sounds good to me. The main issue right now is travis is terrible, and we already do 4 builds. We should probably get crisp about how many builds we want to do and define the optimal matrix.

[2017-02-10 21:39] mattklein123 commented on #143
fixed thanks @htuch !

[2017-02-10 23:46] mattklein123 opened #463 "refresh_delay_ms vs refresh_interval_ms"
Make consistent everywhere.

[2017-02-11 00:18] mattklein123 opened #465 "RDS/CDS/SDS/HC server init"
Now that we have RDS/CDS/SDS/HC, server init is quite complicated. We already do complicated cluster manager init to deal with static clusters, CDS, SDS, and HC. We need to add a more general mechanism so that RDS init happens after CM init, we don't start listening until everything has initialized.

[2017-02-11 00:52] mattklein123 commented on #394
@ccaraman can you take a quick pass through our internal configs and compare them to the examples and see if there is anything that needs updating. (E.g., we might want to add outlier support to the service to service example).

[2017-02-11 03:11] mattklein123 opened #467 "build: get gold incremental linking to work"
Would be nice to get incremental linking using gold to work.

[2017-02-11 03:14] mattklein123 commented on #467
@htuch in the docker container, the following works to link, but then crashes (in a very strange way) when running envoy-test. If I remove --incremental it works fine in the docker container.

On my own machine, which is Ubuntu 16 and gcc 5.4, I can't get it to link incrementally at all (I get a relocation error). Though on my own machine, I can do a normal link with gold and the tests work fine.

[2017-02-11 03:26] mattklein123 commented on #351
https://github.com/lyft/envoy/issues/390 is done. This should be pretty straightforward at this point if someone wants to take this on.

[2017-02-11 03:27] mattklein123 commented on #143
not done yet

[2017-02-11 13:40] jamessynge commented on #351
I'll take a look on Monday.

On Fri, Feb 10, 2017 at 10:26 PM, Matt Klein <notifications@github.com>
wrote:

[2017-02-11 22:16] mattklein123 opened #468 "docs: arch overview on SDS/CSD/RDS/config/etc."

[2017-02-12 17:44] mattklein123 opened #471 "perf: nghttp2 memory use"
nghttp2 ends up using a large % of process memory, I believe mostly due to this issue:
https://github.com/nghttp2/nghttp2/issues/810

Mostly just opening this to track getting an understanding of this at some point.

[2017-02-12 20:14] htuch commented on #467
It looks like incremental linking with gold and C++ exceptions doesn't work. See recent posts at https://sourceware.org/bugzilla/show_bug.cgi?id=13442 and https://www.cygwin.com/ml/binutils/2016-11/msg00260.html. It comes down to a missing .eh_frame_hdr section, which I can confirm with readelf in the Docker image with the above patch.

[2017-02-13 12:17] tatsuhiro-t commented on #471
I will add option to nghttp2_option to disable retaining closed streams.
Meanwhile, you can change the code so that it does not take this branch (https://github.com/nghttp2/nghttp2/blob/001d45efad9c09aadd1a18f23592633a4bd6751a/lib/nghttp2_session.c#L1189) , and observe how much memory you can save.

[2017-02-13 12:18] tatsuhiro-t commented on #471
Sorry, the above comment is intended to nghttp2 issue, but it seems it can fit here nicely..

[2017-02-13 20:19] #298 closed

[2017-02-13 20:19] #463 closed

[2017-02-13 21:56] #460 closed

[2017-02-13 22:22] jamessynge commented on #351
FYI, I'm going to start with adding some tests, e.g. for common/network/listener, that use IPv6 loopback rather than IPv4 loopback.

[2017-02-14 15:38] jamessynge commented on #351
For "class Ipv6" (analagous to Network::Address::Ipv4), is it OK to use a struct such as in6_addr, as the return type for the address, or is there a preference to avoid using platform specific headers in this code?

[2017-02-14 16:41] mattklein123 commented on #351
IIRC we don't even need that right now. The only place that would be required is if/when we implement IPv6 address/mask matching in IpList, which isn't necessarily required for v1 of IPv6 support. Optimally, it would be nice to not expose system types (just thinking about eventual NT port), but given how infrequently that data will be used, it's fine if you want to do that for now.

[2017-02-14 19:24] dch commented on #128
hi folks, I started on a port for this to FreeBSD; I'm not a C/C++ programmer but will do what I can to get this into the ports tree. Feel free to contact me directly, I'm also in the IRC channel as dch.

[2017-02-14 20:12] mattklein123 commented on #143
Change deployed to canary at Lyft and looks good so far so closing this out.

[2017-02-14 20:12] #143 closed

[2017-02-14 20:43] rshriram commented on #430
cc @fabolive

[2017-02-15 16:41] htuch opened #487 "Backtrace support in debug builds"
Add something like https://github.com/bombela/backward-cpp to the build (at least for debug builds) and enable dumping a stack trace on crash with a std::terminate_handler.

[2017-02-15 19:36] #410 closed

[2017-02-15 22:04] #465 closed

[2017-02-15 22:59] #468 closed

[2017-02-15 23:33] mattklein123 commented on #471
@tatsuhiro-t I just smoke tested your patch and in some of our use cases it will lead to 8x or more memory decrease. 💯

Looking forward to seeing 1.2.0 come out so we can ship this more widely.

[2017-02-16 23:13] rshriram opened #492 "UDP proxying support"
Edit: (@alyssawilk on behalf of @cmluciano)

## Design doc:
https://docs.google.com/document/d/1G9IVq7F7Onwinsl6EYzGsdzAGvVbo2FGfcPt35ItIx8)

## Roadmap

- [ ] General API refactoring (Ex. less file-descriptor hardcoding)
- [ ] UDP listener
- [ ] UDP "session manager"
- [ ] Basic UDP proxying sessions (proxy -> host)
- [ ] Advanced UDP proxying features (timeouts, filters, etc.)
- [ ] Network filt

[2017-02-17 03:29] junr03 commented on #448
fixed by https://github.com/lyft/envoy/pull/484

[2017-02-17 03:29] #448 closed

[2017-02-17 17:25] mattklein123 commented on #492
There is not currently any idle timer in the tcp_proxy filter. This is a useful feature to add in either case, and we would want this for UDP.

Agreed, almost all of the code can be shared. The name of the "tcp_proxy" filter is unfortunate. I don't know if I would bother renaming it right away. We can do that in a dedicated change if we want.

This is related to what @jamessynge was asking about i

[2017-02-17 17:26] mattklein123 commented on #492
@moderation ^^^ Can you provide any info on the specifics of what scenario you need to support in terms MTU handling, etc.? Want to make sure we are hitting a specific use case.

@rshriram if we do this, I would like to do this in several different changes. For example, we could start with adding UDP listeners, which proxy to TCP. That is a pretty straightforward change and is independent.

[2017-02-17 19:31] rshriram commented on #492
I agree with splitting this into multiple PRs. There are small changes to different subsystems. We should do this piecemeal to make sure we can triage issues easily.

I am unfamiliar with the requirements on QUIC.

With regard to the bind_config, it looks very structured. But couple of questions: why do we need to key off address as well, when port is what matters? (is this related to the issue th

[2017-02-18 00:05] kyessenov opened #499 "Add a flag to test configuration file"
I think it would be useful to add a flag to test validity of the configuration JSON file.
Something similar to "-t" flag in nginx.

[2017-02-21 13:22] Reflejo commented on #128
## Update for FreeBSD

**tl;dr; I have a branch that compiles and passes all the tests on FreeBSD.**

Take this as a **_very experimental_** first step.

### Non comprehensive TODO list

- [ ] Provide a more elegant shim layer instead of inlining `#ifdef`s which is nasty
- [ ] Discuss / decide what to do with hot restart; is it ok to use files instead of abstract sockets on FreeBSD?
- [ ] Is it ok

[2017-02-21 14:12] CarsarSky commented on #179
Any updates?

[2017-02-21 19:48] jbgi opened #501 "support gRPC to JSON proxying"
à la https://github.com/grpc-ecosystem/grpc-gateway

[2017-02-21 21:40] mattklein123 commented on #179
The only two thing that haven't been implemented in the above doc is a generic header matching rate limit rule as well as IP tagging. The public docs are up to date.

@ccaraman is on vacation this week. She will finish header matching rule next week, then we will close this GH issue out, and track IP tagging as a different issue as that is a larger and more complicated project.

[2017-02-21 21:53] mattklein123 commented on #501
cc @zinuga @louiscryan

[2017-02-21 22:39] kyessenov commented on #501
@lizan

[2017-02-22 17:18] mattklein123 commented on #501
@zinuga @louiscryan @lizan FWIW, we would love to use this at Lyft also, so if there is any chance of getting this resourced at some point that would be pretty awesome.

[2017-02-22 17:19] mattklein123 commented on #501
cc @twoism @rodaine

[2017-02-22 17:21] mattklein123 opened #502 "build: option to compile out components"
We should add cmake options so that people can compile out code/features they don't want. E.g., Dynamo, Mongo, Redis, etc. (primarily filters, tracing providers, etc.).

[2017-02-22 17:24] mattklein123 commented on #499
@kyessenov this seems useful. Right now, we use mocks to verify configurations in the test code:
https://github.com/lyft/envoy/blob/master/test/example_configs_test.cc

We do not want to depend on gmock in the prod code. Will need to figure out how to do a verification pass without using mocks which might involve some targeted changes throughout various portions of the code.

[2017-02-23 00:35] #197 closed

[2017-02-23 01:54] kuroneko25 opened #505 "Envoy self health check endpoint"
We are thinking about putting envoy behind a Google load balancer as the front proxy layer for our service cluster. GLB (Google load balancer) requires a HTTP health check endpoint and I haven't found a way in envoy to configure a path that just returns a 200 without hitting any real backend service. This check is essentially saying that the envoy proxy layer is up and running and the frontend loa

[2017-02-23 05:10] RomanDzhabarov commented on #505
You need to setup healthcheck filter on http connection manager with pass_through_mode: false
[code]
https://lyft.github.io/envoy/docs/intro/arch_overview/health_checking.html?highlight=pass%20through#http-health-checking-filter

[2017-02-23 05:11] RomanDzhabarov commented on #505
reach out to https://gitter.im/lyft/envoy if there are any questions/issues. Closing this issue for now.

[2017-02-23 05:11] #505 closed

[2017-02-23 16:56] huggsboson opened #506 "RFI: ca_cert_file"
Hi,

I've got envoy setup in a kubernetes cluster and I was looking to add Mutual Auth TLS to an ingress listener.  Box has an interesting TLS setup where the files we typically get provided are:
1. serviceName.crt: Just the cert for the service.  (Not the chain)
2. serviceName.key: The private key
3. serviceName.pem: CACerts.. certs for Intermediate CA's (we run an intermediate CA for each servic

[2017-02-23 16:57] huggsboson commented on #506
Oh also:
[code]

[2017-02-23 17:20] huggsboson commented on #506
Here are the messages when I pass -msg to openssl (with all the bytes removed):
[code]

[2017-02-23 17:21] huggsboson commented on #506
so it looks like it's coming from the client in this case.

[2017-02-23 17:38] huggsboson commented on #506
When I tracked down and added the very very root CA to the CAFile it seems to be working working a little bit better from the client's perspective.  I'm assuming if I mirror the same thing on the server side it will get better.

[2017-02-23 17:38] #506 closed

[2017-02-23 20:20] huggsboson commented on #506
Just to add more color here.  openssl needs to be able to trace back to a self-signed rooted certificate.  I did not have those in my pem file.  NSS (curl) and java are less finicky about it.

[2017-02-23 22:36] twoism commented on #501
I think this makes total sense to include. Let's talk about it when I'm in Seattle.

[2017-02-24 01:55] huggsboson opened #507 "Bind listener to 0.0.0.0 or 127.0.0.1"
I noticed in the docs:

I would like to use envoy to terminate both incoming and outgoing Mutual Auth TLS (with service type specific certs).  For this to work in a secure fashion I need egress ports to bind to 127.0.0.1 so that random folks on the network can't hit envoy and use it to impersonate the service using envoy.  Is there any sense on how difficult it would be to add this functionality?

[2017-02-24 06:33] 0x1997 commented on #368
It's simpler to make the timeout in [RestApiFetcher::refresh](https://github.com/lyft/envoy/blob/c45f817ec841d2ed1ba3d4a74ca76fe11173c9e8/source/common/http/rest_api_fetcher.cc#L51) configurable so SDS/CDS/RDS can support long polling.

[2017-02-25 06:29] mattklein123 commented on #507
Sorry for the delay. This feature is somewhat related to
https://github.com/lyft/envoy/issues/492#issuecomment-280744627 in terms of how the configuration should work.

Right now we only expose "port" in the listener configuration. The simplest thing here assuming we want to just stay at top level is to add another parameter called "address." If address is specified it would be specified in Envoy

[2017-02-25 18:07] mattklein123 commented on #186
@PiotrSikora per discussion are you interested in taking ownership of this? (No delivery timeframe implied by saying yes).

[2017-02-25 18:08] mattklein123 commented on #186
It would be also good to use this framework for stress testing.

[2017-02-25 18:11] mattklein123 opened #508 "fuzzing support"
We should start adding fuzz testing (probably using llvm). Some thinking needs to be put into how to get the most value out of this. (Which granularity to fuzz, etc.). At minimum it would be nice to fuzz not only the HTTP codecs, but also all the way through the downstream HTTP connection manager processing. Doing this in a sane way which also yields good coverage is not going to be trivial. Also

[2017-02-25 18:14] mattklein123 opened #509 "perf: thread local stat caching"
Running Envoy on very high core count boxes is going to lead to atomic contention for counters and gauges. We should implement the option of doing thread local caching of the stats, and then flushing them to the central global representation.

[2017-02-25 18:18] mattklein123 commented on #368
@amb67 per meeting do you want to own the initial proto proposal here? It's probably easiest to start in a good doc then we can move the final spec here when it's ready.

[2017-02-25 18:21] mattklein123 commented on #381
Per offsite meeting, we are going to integrate the full gRPC stack into Envoy to make outbound calls. It doesn't sound like a tremendous amount of work. I'm going to won't fix this for now and open a new issue on that.

[2017-02-25 18:21] #381 closed

[2017-02-25 18:24] mattklein123 commented on #415
Per offsite meeting, here is I think where we landed here:

- We don't mind multiple build systems, but we need a single source of truth.
- It's possible we can look at gRPC build system to see how they do both bazel and cmake.
- We are open to switching to Bazel IFF it doesn't make any of the existing flows worse and does not make CI any longer than it already is (given how slow Travis is and the

[2017-02-25 18:24] mattklein123 opened #510 "integrate gRPC C+"

[2017-02-25 18:27] mattklein123 opened #511 "integrate gRPC C++ directly into Envoy"
Per off site meeting:

- It should doable to use the gRPC C++ library to make outbound calls with the real stubs without doing any thread jumping. We might need a bit of guidance from @ctiller but it I think it could be done pretty quickly.
- Once this is done, we can stop using the "generic RPC" legacy code hacks, and actually use real stubs for ratelimit, auth, etc.
- We will eventually need to

[2017-02-25 18:27] #510 closed

[2017-02-25 18:29] mattklein123 commented on #277
Let's also use this issue to track implementing a gRPC/proto logging format, logging adapters, etc.

[2017-02-25 19:38] fengli79 commented on #381
OK, please assign it to me once you create it.

[2017-02-25 20:26] amb67 commented on #368
Yes, I will publish the doc in a couple of weeks and we can iterate on it.

On Sat, Feb 25, 2017 at 10:18 AM, Matt Klein <notifications@github.com>
wrote:

[2017-02-25 23:43] mattklein123 commented on #511
@fengli79 here is the issue to fully integrate gRPC for local origin outbound calls. (Though not for proxied calls most likely, which I think is what you want for gRPC-web). If you feel like working on this that would be great. From talking to @ctiller, it seems like we should be able to build a gRPC channel which consumes an Event::Dispatcher and uses it as the event loop. The easiest thing would

[2017-02-26 02:36] PiotrSikora commented on #186
Yes, please assign this to me.

[2017-02-26 02:36] PiotrSikora commented on #508
Yes, please assign this to me.

[2017-02-26 03:28] fengli79 commented on #511
Yes, that's doable, and it has been discussed several times.
Will find some time next week to start this.
A full stack grpc client will definite improve the stability and compatibility.
I would like to use the async generic grpc C++ client for grpc web.
In general, for all outgoing grpc calls from envoy, full stack grpc client is preferred.
Other http2 stack should also work (like nghttp2), howeve

[2017-02-26 03:29] fengli79 commented on #511
One more thing, it's orthogonal to whether use TSI with HTTP traffics, since grpc as a dependency will always be there.

[2017-02-26 17:36] mattklein123 commented on #511
@fengli79 @ctiller I was thinking about this more and unfortunately I think I greatly under-estimated how complicated this is going to be (this should have occurred to me during the in person meeting but unfortunately it did not). I agree that it should be relatively simple to integrate the C++ gRPC client for local origin outbound calls into the event loop. However, the current local origin Async

[2017-02-26 18:01] rshriram commented on #415
As long as one can build the system in a docker container, bazel or not
doesn't matter. Building in a container makes things easier to develop on
different platforms (use your favorite ide on the host, mount volume in the
container and build).

@htuch if you do go down the bazel in a container path, you would have to
give folks a fair warning that all of the bazel caching stuff will be
negated. An

[2017-02-26 19:33] fengli79 commented on #415
build in docker can make it easier for multiple platforms release, but not
for IDE. For example, if I'm using eclipse cdt, I would prefer to get a
make file which can be imported directly. Today people has to manually
configure their environment and install different kinds of dependencies,
which is the pain point. GitHub submodules are preferred.
On Sun, Feb 26, 2017 at 10:01 AM Shriram Rajagopala

[2017-02-27 15:46] htuch commented on #415
I'll start looking into this during the week. I agree that submodules could be an idea to consider, but I don't think we want to be in the business of building every single transitive dependency, even if this works today, this will put future constraints on what dependencies we can add feasibly. Envoy might have a wider set of dependencies than the gRPC core libraries which use this approach.

Wha

[2017-02-27 16:29] mattklein123 commented on #499
@rlazarus is taking this one.

[2017-02-27 17:32] mattklein123 opened #514 "runtime: add admin endpoint to view/modify loaded values"
Will be generally useful to have admin endpoint to:

- list/view loaded values
- modify/add values (this will need to trigger a reload just like inotify, and can probably be implemented as an additional override layer).

[2017-02-27 17:39] #471 closed

[2017-02-27 17:40] wattli opened #515 "Update verify_subject_alt_name from string to array"
To make it more generic for more feature support.

[2017-02-27 17:40] wattli commented on #515
And I am working on it.

[2017-02-27 18:54] huggsboson commented on #507
Thanks for the quick response.  It's not super urgent as we haven't begun deploying out yet (or fully choosing).  I looked through the code and you seemingly  have most of the code in place to make this happen, so I may make a run at implementing it and throwing up a pull request.

The iptables path is somewhat difficult for us to solve given that we're using containers/kube and some services may

[2017-02-27 18:57] mattklein123 commented on #507
I prefer adding a mutually exclusive "address" field, since it will handle UDP, UDS, etc. also in the future.

[2017-02-27 18:58] mattklein123 commented on #316
I'm going to close this in favor of https://github.com/lyft/envoy/issues/492 and https://github.com/lyft/envoy/issues/507 since it will be covered in those tickets.

[2017-02-27 18:58] #316 closed

[2017-02-27 19:17] #204 closed

[2017-02-28 18:29] tschroed opened #519 "router: support wildcard matches"
It should be possible to match *.foo.com and *-suffix.foo.com.

[2017-02-28 18:33] mattklein123 commented on #519
+1, have had a lot of requests for this.

[2017-02-28 22:42] htuch commented on #415
jamessynge@ mentions that it would also be useful to not build all tests as the only option.

[2017-02-28 23:15] myidpt commented on #511
@mattklein123 Just to clarify -- by " I agree that TSI orthogonal. We can make use of that library directly when needed", Envoy is still willing to support look-aside TSI by bundling the gRPC lib, right?

cc @wlu2016

[2017-02-28 23:18] mattklein123 commented on #511
@myidpt yes, definitely. I would like to fully support gRPC library also, however, this is a really thorny issue and I'm not sure there is a clear solution right now. It might take some real investment to make a full/complete integration work in a sensible way.

[2017-03-01 04:00] RomanDzhabarov commented on #430
https://docs.google.com/document/d/1q3F_RVf6Rozn69KbqhrKknOZP9_17WH1RK3wIc7AnuE/edit?usp=sharing

Thanks Adrian for feedback! Sharing with more people. cc: @fabolive @rshriram

[2017-03-01 04:26] adriancole commented on #430
welcome to the doc :)

[2017-03-01 15:46] rshriram commented on #430
Thanks @adriancole . Just one question. Is it possible to push traces to remote Zipkin collectors via gRPC instead of JSON over HTTP? I am not sure if there is a gRPC api frontend to zipkin. For phase 1, JSON over http should suffice but in the long run, a gRPC interface might be helpful.

I do see that there is a Kafka/scribe adapter. Are these typically meant to run on the same host as Envoy, su

[2017-03-01 19:52] jamessynge commented on #351
ProxyProtocol::ActiveConnection::onReadWorker reads an IPv4 range from somewhere (apparently not the json config file), and then passes it to Network::IpList, which only handles IPv4. Having reviewed the protocol, it looks like it should also be extended to support IPv6. Agreed?

More generally, I suspect that I should convert IpList to handle IPv4 and IPv6 addresses, though perhaps with some opti

[2017-03-02 01:05] #413 closed

[2017-03-02 02:19] adriancole commented on #430
We don't often implement features no-one has asked for, and no-one has
asked for GRPC, yet. Care to raise an issue? There might be others
interested, too.

https://github.com/openzipkin/zipkin/issues/new

So in envoy, you'd have something similar to zipkin-reporter
<https://github.com/openzipkin/zipkin-reporter-java> which sends the spans
out-of-process after perhaps batching them. Here's the rela

[2017-03-02 02:30] mattklein123 commented on #125
Note, a PR was started in https://github.com/lyft/envoy/pull/517 but it looks like it's not going to get finished. If anyone wants to pick it up please chime in here. cc @0x1997

[2017-03-02 07:58] bgaff commented on #378
Why not add fastcgi as a filter? Seems like a win-win.

[2017-03-02 17:15] mattklein123 commented on #351
Sorry not following. Did you link the wrong function? The proxy proto code just implements http://www.haproxy.org/download/1.5/doc/proxy-protocol.txt. It would be nice to make this work for IPv6 at some point.

Yes, IpList is currently used in both tcp_proxy routing as well as client_ssl auth white listing. It would be great to make this work for IPv6 in both cases.

In general though, I don't thi

[2017-03-02 18:18] jamessynge commented on #351
Agreed, I was planning that the current PR would be separate from adding support elsewhere.

Ignore what I said about ProxyProtocol, I was a bit confused when I started writing that.

[2017-03-02 18:22] RomanDzhabarov commented on #430
I think it would be a good start using JSON over HTTP communication.
It should not have any perf implications as we'll buffer spans and flush every 5 or so seconds.

Historically we'd been doing this with LS (before switched to gRPC) and processing 100k+ spans per second (100% sample), with zipkin lower sampling rate it should have very minimal perf concerns.

[2017-03-02 18:35] mattklein123 commented on #351
@jamessynge sounds great. FWIW, I think IpList to IPv6 is probably pretty low priority, but up to you on order you want to tackle everything.

[2017-03-02 18:37] jamessynge commented on #351
Priorities are helpful. I've obviously started on IpRange, but where do you suggest I focus? Downstream listener and DNS AAAA record handling?

[2017-03-02 18:46] mattklein123 commented on #351
I think the biggest use case of IPv6 is probably downstream listener. Many/most people are going to end up doing IPv6 -> IPv4. So if we start there and make sure all access logging, etc. is working I think that's a great start. (We also need to think through config in terms of whether we want to allow dual bind or IPv4 and IPv6 only listeners, etc.).

Once downstream listener is done, then I would

[2017-03-02 22:18] kyessenov opened #527 "listener/port sharing across protocols"
Using iptables rules and `use_original_dst` causes issues since multiple protocols get combined in a single listener section in Envoy configuration. For example, consider two micro-services "mysql" and "web" that listen on the same port 9000 but use TCP and HTTP. In a third service egress proxy config, we capture packets by redirecting to another listener with iptables and recover the original por

[2017-03-03 01:28] mattklein123 commented on #527
Just jotting down notes from our Gitter discussion. There are a few ways we can go about this:

1. We could make the tcp_proxy filter handle intermediate usage so that it falls through if there is no matching routing rule vs. closing the downstream connection.
2. We could build a mechanism in which there is a "super" listener which makes routing decisions to a number of different filter chain stac

[2017-03-03 15:54] tschroed commented on #519
TBD: Is this a greedy match or a fall-through match?

E.g. *.foo.com would conflict with bar.foo.com in the greedy case but in the fall-through, a specific bar.foo.com rule would take precedence and *.foo.com would match baz.foo.com (assuming no more specific match).

[2017-03-03 16:05] tschroed opened #528 "Support IP_FREEBIND"

[2017-03-03 17:27] ccaraman commented on #454
This issue should include work to look into setting defaults in the Json Schema.

[2017-03-03 21:15] mattklein123 opened #530 "mongo: fault injection"
Consider adding fault injection to the mongo proxy:

- Rate limit requests
- Delay requests and/or responses
- Fail requests

cc @scode @RomanDzhabarov

[2017-03-03 21:21] scode commented on #530
A few things that could be useful, though we could discuss what's most important:

* Ability to inject latency with a target distribution (e.g. inject latency X at p99, Y at p999), but the minimum is probably to be able to inject a single fixed latency penalty on all requests. Probably easiest to just do a random dice throw and act according to a configuration provided map of `threshold->latency_t

[2017-03-03 22:31] jamessynge commented on #351
I'll be at Next 2017 for all of next week, but if I have some free time I'll start on the downstream listener.
Meanwhile, I've been completing IpRange, which I'll send for review RSN.

[2017-03-04 03:36] mattklein123 commented on #404
@htuch this is related to the comment that I just posted in the doc that is circulating around build stuff. If we switch to bazel we need a general strategy for compiling/linking in private filters and other code.

[2017-03-05 16:38] tschroed opened #538 "router: support url matching regression testing"
It should be possible to load a router config and a set of URL -> cluster matches to ensure that rules match as expected.

[2017-03-05 16:45] tschroed commented on #499
Related: https://github.com/lyft/envoy/issues/538

[2017-03-05 16:45] tschroed commented on #538
Related: https://github.com/lyft/envoy/issues/499

[2017-03-05 22:48] rshriram commented on #530
Please keep me cc-ed on this as well. :).

The current fault injection filter for HTTP supports injecting fixed delay for a subset of requests (adding exponential delay, etc. is on the list). It also supports restricting the faults to a specific destination cluster.

In terms of source-specific fault injection, you actually don't need this feature in Envoy. Whatever is setting up the filters on th

[2017-03-06 05:20] mattklein123 commented on #538
+1, this would be great. This should be much easier than #499. The hard part will be figuring out the input and output format for the tests. We should discuss that here. We will definitely use this at Lyft.

[2017-03-06 14:16] tschroed commented on #538
One format I'm familiar with is simply three whitespace delimited fields: the URL; the cluster it maps to; and a tri-state indicating whether it should be http, https, or both. If we want flexibility for strict versus permissive, the latter could be expanded to two tri-states, each indicating yes, no, or don't care.

[2017-03-06 15:36] htuch commented on #404
Ack, I'll add some coverage of this in the build proposal doc.

[2017-03-06 17:35] rshriram opened #539 "Support adding/overwriting request headers before forwarding request"
It would be useful to support addition of "request" headers on per-route or per-virtual host basis for use cases like forwarding a request to auth backends, etc.
( @mattklein123  please assign this to me).

[2017-03-06 17:40] rshriram commented on #319
Based on gitter conversations with @mattklein123

[code]

[2017-03-06 17:43] kyessenov commented on #539
Is this for proxy-to-proxy communication? In Istio, we need to insert pod identity into the source request to enforce source-destination policies on the server side. We've been using a custom filter to do that, but since values are not dynamic, native Envoy support would be great.

[2017-03-06 17:49] mattklein123 commented on #539
Please reconcile with "global" response headers to add/remove here: https://lyft.github.io/envoy/docs/configuration/http_conn_man/route_config/route_config.html

We might want to move this into both virtual host and route level, etc. Needs some thinking. Please propose configuration schema.

[2017-03-06 17:51] rshriram commented on #539
I was thinking more from the standard LDAP/IAM auth stuff. Request comes in, you add a bunch of headers to it, forward to IAM, get authenticated, and then you strip them off and redirect to original destination. But, the istio case applies equally well here.

[2017-03-06 18:22] andrewwebber commented on #319
@rshiram do you have an example JSON confirm you could share?

[2017-03-06 18:31] rshriram commented on #319
@andrewwebber this feature is not implemented yet. I was merely logging our conversations in this topic.

[2017-03-06 19:37] rshriram opened #540 "Support config file params for outlier detection"
Current outlier detection configuration relies solely on runtime. It would be useful to be able to configure the outlier detection via static config values as well as runtime.

[2017-03-06 20:47] mattklein123 opened #541 "ci: de-dup previous PR builds"
We should kill previous PR builds when a new commit is pushed. Travis currently only does this for builds that have not yet started. We want to kill in-flight ones also:
https://github.com/grosser/travis_dedup

[2017-03-06 21:58] #391 closed

[2017-03-07 19:32] htuch commented on #415
Latest discussion on this and a proposal is being tracked at https://docs.google.com/a/google.com/document/d/1XG1F38tZXTaWlrDXZFNoH-0xVm0d4HlrZJ4JXbMWqHo/edit?usp=sharing

[2017-03-08 03:21] mattklein123 commented on #179
complete other than ip tagging so closing this.

[2017-03-08 03:21] #179 closed

[2017-03-08 09:08] daedric commented on #415
Also my +1 for a better dependencies management. Using find_package() should be the first step and submodules even better so you can still have a full static build.

It would ease up a lot setup'ing dev environment.

[2017-03-08 15:18] rshriram commented on #527
I would also like to suggest that we keep this feature as a low priority until we see real use cases where there are no workarounds or workarounds are clunky (i.e., services with different protocols and colliding ports (e.g., mysql:8080, web:8080). ). Given the relatively large number of ports available, it might be far easier to impose the restriction on the end user that one cannot have two serv

[2017-03-08 19:20] kameshsampath opened #547 "Error Building from sources"
hi,

I am trying to build envoy on Centos7, post installing deps,

`cmake -L`
=========

[code]

and triggering build using

`make -j $NUM_CPUS envoy`, i get the following error.

[code]

[2017-03-09 01:21] mattklein123 commented on #547
We recently upgraded to libevent 2.1.8. Please upgrade your local dependency.

[2017-03-09 01:21] #547 closed

[2017-03-09 01:50] mattklein123 commented on #507
@huggsboson are you working on this? If not I think we need to implement this and @wattli is probably going to do it. Don't want to duplicate work if you have a patch in progress.

[2017-03-09 02:14] kyessenov opened #549 "CDS log entry incorrectly says static clusters are removed"
In trace logs, you can see a log entry saying `cds: remove cluster 'cds'`, while in fact, static clusters are ignored by reconciliation of CDS response. This is confusing as it implies CDS should include static clusters such as CDS itself.

[2017-03-09 02:20] kyessenov opened #550 "Potential race in hot restart protocol"
At high frequency of restarts (250ms), Envoy restart protocol seems to hit a race condition and takes down both child and parent proxies. See https://gist.github.com/kyessenov/0e446c8c0e838c9bedfdf5bc70af5fa8. Here we have 3 epochs,  epoch 1 and epoch 2 hit a communication failure and both crashed. Epoch 0 exited gracefully.

[2017-03-09 02:22] kyessenov opened #551 "RDS is missing for tcp_proxy"
`tcp_proxy` has no ability to dynamically fetch route configuration from the discovery services, thus, requiring a hot restart.

[2017-03-09 04:07] huggsboson commented on #507
I haven't started.   Happy to see it implemented.

[2017-03-09 16:34] mattklein123 commented on #507
@wattli some implementation notes:

- Switch listener "port" config to "address": https://github.com/lyft/envoy/blob/master/source/server/configuration_impl.cc#L116 Such that it takes an address of the form: "tcp://0.0.0.0:80", "tcp://127.0.0.1:80", etc. This will allow us to support UDP, UDS, etc. later easily. You will need to update schema also. There are address parsing functions already in ht

[2017-03-09 17:22] tschroed commented on #519
I've got this one in the oven.

[2017-03-09 17:54] mattklein123 commented on #550
Since we don’t support SIGHUP inside Envoy itself, but rely on raw RPC communication (to deal with containers), there is no way to synchronize the restarts. I think the best I can do is to fail the new process and exit with 1 (or something) if the old process is still initializing and not ready for restart.

Would this work for you? What kind of indication do you want that Envoy is not ready to be

[2017-03-09 18:06] kyessenov commented on #550
Retries are better in this situation I think, so failing fast in the new/child Envoy while the old/parent Envoy is still initializing sounds good to me. I can run a retry loop on top with exponential delays to wait until the parent Envoy is ready to gracefully shutdown. This is much better than what happens now when both child and parents instances die with errors.

The length of restarts depends

[2017-03-09 18:11] mattklein123 commented on #550
Right, it's possible for full initialization to take some time. (Possibly even several seconds depending on the configuration). I could make it so that we deal with all of the edge cases and enable restart in the middle, but I don't think it's worth it. Do you want a specific error code for the exit in this case? I think you probably need to differentiate between "not ready to restart" and some ot

[2017-03-09 18:13] kyessenov commented on #550
In my case, I can treat it as a transient error, so a special error code is necessary. I would prefer error code for invalid config file though, since that's a permanent error.

[2017-03-09 19:37] lizan commented on #507
Thanks @mattklein123! @wattli let me know if you need any help.

[2017-03-09 20:10] #540 closed

[2017-03-09 21:15] wattli commented on #507
Thanks @lizan and @mattklein123

[2017-03-10 15:48] andrewwebber opened #561 "Segmentation Fault - exit code 139 - http2/codec_impl.cc:290"
OS: CoreOS
Linux localhost 4.9.9-coreos-r1 #1 SMP Tue Feb 28 00:06:10 UTC 2017 x86_64 Intel(R) Core(TM)2 Duo CPU E6550 @ 2.33GHz GenuineIntel GNU/Linux

Envoy: ./envoy  version: 65242f/DEBUG

Nghttp2: docker://zlabjp/nghttpx-ingress-controller:v0.18.0

When using envoy behind a nghttp2 some requests issued from a .NET windows client cause envoy to crash.
With a debug build the following line of co

[2017-03-10 19:39] #550 closed

[2017-03-11 03:02] #515 closed

[2017-03-13 01:19] asambeka opened #565 "How to support TLS passthrough"
I am trying to find equivalent of HAProxy [TLS Pass-through](https://www.haproxy.com/doc/aloha/7.0/deployment_guides/tls_layouts.html#ssl-tls-passthrough) in Envoy. Basically I want to ensure TLS termination happens on workloads and at the same time having the ability to restrict connections based on SSL/TLS version and support for SNI. Is this supported natively? How can I enable the functionalit

[2017-03-13 19:12] mattklein123 commented on #565
Envoy supports pass through via tcp_proxy filter (without TLS listener and/or TLS upstream), or bridging (via TLS listener and/or TLS upstream). If I understand correctly, haproxy also supports a form of pass-through where it sniffs the handshake and does routing based on handshake params. Envoy does not support this currently.

[2017-03-14 01:26] asambeka commented on #565
Thanks, any plan/roadmap to implement handshake support? Also, do you have any example of tcp_proxy for TLS pass-through?

Thanks

[2017-03-14 03:13] mattklein123 commented on #565
There is no current plan to implement handshake sniffing/routing without de/re-encryption. Feel free to open a GH issue to track the request.

[Here](https://github.com/lyft/envoy/blob/master/configs/envoy_service_to_service.template.json#L244) is an example of using tcp_proxy also with mongo and ratelimit filters, but you can just use tcp_proxy to proxy a byte stream if you wish. The fact that th

[2017-03-14 15:40] mattklein123 opened #567 "audit out of memory error handling for libraries"
In general we do not handle OOM errors in Envoy and assume that the process should crash. There is a valid concern that libraries might return OOM errors when they are not actually out of memory. We should take a look at cases where this might happen and potentially add more paranoia checking.

cc @htuch

[2017-03-14 15:42] htuch commented on #567
Also, I think that where we do have OOM at the libc level, we should at least throw an exception or crash. It seems we risk entering dangerous territory if we don't. E.g. we reach a near OOM kill scenario, silently ignore an error and leak a buffer with uninitialized data.

[2017-03-14 15:49] mattklein123 commented on #567
For C++ allocations we should throw an exception and will crash.

For C allocations, we obviously won't. Note that from previous experience, libevent seems like it handles OOM conditions, but there are missing cases and it will end up crashing. It's possible this has been fixed in 2.1.

[2017-03-14 15:50] mattklein123 commented on #567
I haven't looked, but optimally we could install some kind of OOM handler in tcmalloc that would handle both C++ and C allocations and then we could definitely crash in all cases.

[2017-03-14 17:34] fengli79 commented on #511
Working on getting gRPC library supports libevent. It will use a given event_base*, thus it can be bound to the same event loop hosted by Envoy.

[2017-03-14 18:16] junr03 opened #568 "Create an Envoy FAQ"
With the amount of community interest, and questions we have received it is time to write an FAQ for envoy. The FAQ would include questions about configurations, operational knowledge, etc. Please comment here with topics that you would like to see covered in the FAQ.

[2017-03-14 22:46] mattklein123 commented on #511
@fengli79 what is the end goal here? It's really not clear to me what making gRPC works with the Envoy event loop buys us, since presumably we still want all of the Envoy AsyncClient/Router features per discussion above. In a perfect world we could combine them somehow.

[2017-03-15 02:10] ccaraman opened #572 "Json Schema: Add tests for JSON Schemas"
Currently, there are no explicit tests for JSON schemas. There are a few places in the code path that test for some invalid values, but it doesn't cover all schemas.

Potential solution: https://github.com/json-schema-org/JSON-Schema-Test-Suite

[2017-03-15 02:17] ccaraman commented on #454
Identify duplicated schemas and move checks to more central location such as `ssl_context` in Json::Schema::LISTENER_SCHEMA and Json::Schema::CLUSTER_SCHEMA.

[2017-03-15 02:23] htuch commented on #415
I started to look at adding bazel to the Docker image as the first step in Bazelifying Envoy.

Following the instructions at https://bazel.build/versions/master/docs/install.html#ubuntu led me to installing Oracle JDK 8, as Ubuntu Trusty doesn't have OpenJDK 8 support as a starter. This comes with a big scary license http://www.oracle.com/technetwork/java/javase/terms/license/index.html, IANAL and

[2017-03-15 02:28] lizan commented on #415
@htuch Are you trying on Ubuntu 15.10 or 14.04? AFAIK 16.04 with OpenJDK has no problem with bazel.

[2017-03-15 02:29] htuch commented on #415
This is 14.04, the version of Ubuntu used for the Docker image. If folks are on-board, I will upgrade it to something more recent like 15.10 or 16.04 where there is OpenJDK 8 support.

[2017-03-15 05:27] kyessenov opened #573 "Document limits on cluster names and reject cluster names that exceed it"
Currently, Envoy fails catastrophically for a CDS response that seems to send a long cluster name.
https://gist.github.com/kyessenov/988c7aac2df8fb87f398ae64a77bf3e3
It's unclear to me what the limit is. Also, I don't think a hard crash is appropriate here.

[2017-03-15 05:30] mattklein123 commented on #573
Note, this won't hard crash on a release build (please verify), but we can/will do better here.

[2017-03-15 05:36] mattklein123 commented on #415
16.04 should be fine. If possible can we still build with GCC 4.9? I think this is available on 16.04 pretty easily, though from my own machine, there might be some build issues (I have no idea why this would be the case but I recall potentially having an issue when trying), but let's give it a shot.

[2017-03-15 15:59] htuch opened #574 "Port server support for tests that bind to ports"
Certain test environments (e.g. @Google) don't support tests that have fixed port binding. In general, it would be helpful to get port allocations from a port server (and use some arbitrary unbound port when not available). This is provided by https://github.com/google/python_portpicker. This issue tracks figuring out what makes sense for Envoy tests in this respect and implementing it.

[2017-03-15 17:41] kyessenov commented on #573
Correct, only happens in debug build. It's making debugging our custom filter harder since I can't get past CDS response.

[2017-03-15 18:06] mattklein123 commented on #573
Yes, we will fix. The limit comes from here: https://github.com/lyft/envoy/blob/master/source/common/stats/stats_impl.h#L19, but this includes the prefix, and the trailing stats, so I'm not exactly sure what the max cluster name size is. We will have to pick something reasonable. Do you have a plan for truncating?

[2017-03-15 19:12] kyessenov commented on #573
I create cluster names from service hostnames, ports, and tags, so it's a fairly long string.
I'm ok creating a compression/encoding scheme since I also control RDS and can just rename all clusters to fit within the limits. Is there an inherent reason to keep cluster names short? Can we just automatically truncate for stats and allow longer cluster names?

[2017-03-15 19:13] mattklein123 commented on #573
We do auto truncate for stats which is why it doesn't crash on a release build. I guess we could remove the ASSERT, but it's there for a reason since ultimately the generated stats will make no sense.

[2017-03-15 22:40] mattklein123 commented on #315
FYI, this is potentially being worked on. Please reach out to me if you are thinking about working on this or need this imminently.

[2017-03-16 15:36] rshriram commented on #568
I would rather frame this as a curated collection of How To's, instead of FAQ, as FAQs are typically one liner responses.

Some very basic how-to's below (all of these need example configurations)

1. Circuit breakers/outlier detection, timeouts and retries and health checks showcasing the interplay between these functions.
2. TLS termination and upstream TLS
3. Open tracing and viewing traces in

[2017-03-16 18:27] #561 closed

[2017-03-17 16:27] htuch opened #579 "Doxygen generation"
We should add a "make doxygen" target and build with Doxygen. @mattklein123 already has some progress on this in docs/Doxyfile. It might also be worth investigating doing this in the CI and publishing.

@jamessynge

[2017-03-17 17:54] htuch commented on #574
avd also brought up that a bind/list to port 0 is an equally valid solution (and probably simpler) solution for single process tests - the clients can easily learn of the actual port via shared memory.

[2017-03-17 21:48] jamessynge commented on #351
Matt, do you want to assign this to me?

[2017-03-17 22:33] htuch opened #583 "Explicit indication of shared_ptr in naming convention"
Can we switch to the following convention:

[code]
across the code base? I'm finding it hard to review code with `shared_ptr` hidden under `BarPtr` (and read in general), as the shared ownership semantics are hidden.

If this sounds acceptable, I'm very happy to do an immediate PR to clean this up and document in the coding conventions.

@jamessynge @mattklein123

[2017-03-17 23:24] mattklein123 commented on #583
Sure that's fine with me.

[2017-03-17 23:26] mattklein123 commented on #351
I will add you are read contributor then I can assign to you. Look out for the accept request.

[2017-03-18 00:01] lizan commented on #501
@mattklein123 Is there anyone already working on this at Lyft? If no, assign this to me, I'm working on bringing our [transcoding](https://github.com/istio/proxy/tree/master/contrib/endpoints/src/grpc/transcoding) to Envoy.

[2017-03-18 00:02] mattklein123 commented on #501
@lizan Yay. No, one is working on this. All yours. I will add you as read contributor so that I can assign you.

[2017-03-18 00:10] htuch commented on #583
Also will add Const to names to propagate this where needed, e.g. replace `typedef std::shared_ptr<const Instance> InstancePtr;` with `typedef std::shared_ptr<const Instance> InstanceConstSharedPtr;`.

[2017-03-18 00:12] wattli commented on #315
One useful scenario is cert rotation, i.e., cert changes periodically, while cert name is fixed. LDS should be able to detect cert content change.

[2017-03-18 00:33] #507 closed

[2017-03-18 20:40] jamessynge commented on #583
FWIW, I'd prefer just std::shared_ptr<Foo> instead of having FooPtr, because then it becomes easy to tell the difference between bare pointers, shared_ptr and unique_ptr.

[2017-03-18 20:44] htuch commented on #583
I think we have no ambiguity if we never use Ptr for raw pointers, use Ptr for unique pointers, Shared Ptr for shared and appropriate const modifiers in there. I can see the attraction of using type aliases, It's a little more compact without the visual noise of the std:: <>. That said, I don't mind either way,  @mattklein123's call :)

[2017-03-18 23:48] mattklein123 opened #585 "SSL connection write event crash"
@htuch FYI we have seen a few of these crashes since our last deploy. I suspect this might somehow be related to https://github.com/lyft/envoy/pull/558 but I'm not sure how yet. I'm going to poke around a bit now.

[code]

[2017-03-18 23:57] mattklein123 commented on #585
From looking at this, #558 was deployed by us on 3/14. We had a deploy on 3/16 and first saw this crash very early in the morning on the 3/18, so I'm a little suspicious the cause is #558 though it is possible. The delta between those deploys was fd58242d2bda61487aadff25af64646e08631151 .. 1d5035fd0b7bc8e721d059720736a31eb005e329.

[2017-03-19 00:40] mattklein123 commented on #585
I think this is actually a stack overflow because the write buffer contains a giant number of small buffers that we are trying move into a chain. I doubt this is related to #558, and is probably just related to traffic patterns, moving write buffers, and potentially changes in libevent 2.1.8.

[2017-03-19 00:52] mattklein123 commented on #585
I suspect this is somehow related to new traffic patterns, and the fact that we move data always vs. copying small chunks. The fix here is not trivial and needs a bunch of thinking.

[2017-03-19 01:07] mattklein123 commented on #583
@htuch @jamessynge at this point I don't really care that much either, but I agree the current situation is confusing. I think the typedefs do make the code more readable, but it's going to be a bit harder to maintain consistency. If consensus is to kill the typedefs I don't have a problem with it. Perhaps we should poll a few other people.

[2017-03-19 02:52] htuch commented on #585
Yeah, I don't think #558 would significantly affect the number of chunks given the 1MB default set. Maybe could get big gains by setting a minimum chunk size (e.g. 1KB) and trying to merge (via copy) into the previous chunk. This would come at the expense of some internal fragmentation if you had traffic patterns like LITTLE BIG LITTLE BIG .., but LITTLE LITTLE .. and BIG BIG ... would be fine.

[2017-03-19 02:56] htuch commented on #585
I'd suggest disabling the read buffer limit temporarily (it's a one line change to the doReadFromSocket()), which would make the read buffer limit PRs impotent without having to roll back, if there is any remaining concern. We typically do full rollback at Google though, so I'm good with that too if you think it's wise.

[2017-03-19 02:57] htuch commented on #583
Sure, let's continue this Monday when folks are around.

[2017-03-19 15:36] mattklein123 commented on #585
@htuch I don't think this issue is related to your changes so we don't need to revert. It's a pathological case where downstream is not accepting writes, the upstream writes are small, and we are always moving data vs. copying if the data is very small. I will come up with a fix.

[2017-03-19 17:02] jamessynge opened #587 "Error emitted during first build in clean workspace"
I see the error appended below. I don't know if this is just because I'm using docker for building, and is unimportant (i.e. just saying that there is no /.cache directory, will go on without it). Certainly the build seems to get to the point of running the tests without error.

@htuch Will this be resolved by switching to bazel?

[code]

[2017-03-19 17:07] htuch commented on #587
This looks more like an issue in the config templating process. I don't think the Bazelification will fix, so worth investigating.

[2017-03-19 21:02] jamessynge commented on #574
You can assign this to me, I've got it pretty much implemented along the lines that avd suggested with port 0.

[2017-03-19 23:55] mattklein123 opened #590 "replace NOT_IMPLEMENTED w/ NOT_REACHED"
We now have NOT_REACHED macro. We should grep for NOT_IMPLEMENTED and switch to NOT_REACHED in places where that is applicable.

cc @jamessynge

[2017-03-19 23:56] mattklein123 commented on #587
This sounds like a permission issue to me somehow (root vs. something else).

To be perfectly honest, none of us at Lyft develop with the docker image. We will have a local linux environment. I think a unified Bazel solution will make all of this a lot better.

[2017-03-20 00:03] mattklein123 commented on #590
@htuch ^ this is another good starter one for your new grad.

[2017-03-20 00:04] mattklein123 commented on #315
Assigning to myself for now until we figure out for sure who is implementing this.

[2017-03-20 00:07] #311 closed

[2017-03-20 00:08] #565 closed

[2017-03-20 00:10] htuch commented on #590
@hennna

[2017-03-20 13:15] hennna commented on #590
Working on it.
Grep return 17 instances of "NOT_IMPLEMENTED" and 1 instance of "not implemented"

[2017-03-20 13:56] htuch commented on #590
FYI, https://github.com/lyft/envoy/blob/master/source/server/config/network/http_connection_manager.cc#L168 is an example of one that should be NOT_REACHED() (since the switch cases cover all possibiilties) and https://github.com/lyft/envoy/blob/1d5035fd0b7bc8e721d059720736a31eb005e329/source/common/http/http2/codec_impl.cc#L350 is a genuine NOT_IMPLEMENTED() (since it's flagging something that is

[2017-03-20 14:13] htuch commented on #587
This breaks for me as well. It's a regression introduced by #570, the JSON can't be parsed during config generation, since this is what the raw JSON looks like now:

[code]

i.e. we're missing some quotes. I'll work on a fix and try and figure out why this wasn't caught by presubmit, since locally I have `ExampleConfigsTest.All` failing as a result.

[2017-03-20 15:28] mattklein123 commented on #587
I realized this also on the plane last night and I have a fix. @htuch I can post it if you don't already have a PR ready.

[2017-03-20 17:44] mattklein123 opened #593 "audit getRawSlices() calls"
Related to https://github.com/lyft/envoy/pull/592. We should audit all call sites to see if they should be fixed in a similar way. Better, we should see if there is a way to change the API so that it's harder to make a similar mistake.

[2017-03-20 18:26] #585 closed

[2017-03-20 18:26] #587 closed

[2017-03-20 18:56] htuch commented on #415
We should add support to generate a textual representation of the build dependency graph once done. This will provide a sanity check that we could in future support other build systems and also provide support to those who want to carry out proprietary integrations. @mattwoodyard.

[2017-03-20 19:12] wattli opened #595 "Bind listener to multiple addresses instead of one"
Currently a listener is bound to one address ([link](https://lyft.github.io/envoy/docs/configuration/listeners/listeners.html)), it would be great to allow one listener bound to multiple addresses.

[2017-03-20 19:45] htuch opened #596 "Add profiler path to configuration"
@hennna discovered that during integration tests, we're not actually starting the profiler in https://github.com/lyft/envoy/blob/master/test/integration/integration_admin_test.cc#L108. This then means we never exercise some of the profiler disable code in https://github.com/lyft/envoy/blob/master/test/integration/integration_admin_test.cc#L113.

The root cause is the hardcoded path (https://github

[2017-03-20 19:59] mattklein123 commented on #596
+1, sure sounds good to me.

[2017-03-21 17:31] htuch commented on #583
@RomanDzhabarov

[2017-03-21 17:58] RomanDzhabarov commented on #583
My preference would be FooSharedPtr for brevity and consistency with FooPtr for std::unique_ptr

[2017-03-21 20:12] htuch commented on #415
So, we have an issue with the Bazel WiP where the Istio Bazel includes Envoy in https://github.com/istio/proxy/blob/master/src/envoy/repositories.bzl#L751. When Envoy is built (using our new rules `envoy_build_system.bzl`, the `copts` that are relative to the root of the Envoy build don't make sense, since the compiler's PWD is not there.

It seems it's basically dangerous to use relative paths in

[2017-03-22 13:42] htuch opened #605 "Use standard API for temporary file paths in tests"
Today, a number of tests use fixed paths in `/tmp` for their temporary file objects. Similar to #574, this presents problems in shared and/or sandboxed test environments, where tests may conflict with other runs or fail due to the lack of access to `/tmp`. We should use a standard API for accessing the temp path at various code sites where these paths are created (e.g. something like `TestEnvironm

[2017-03-22 16:01] #583 closed

[2017-03-22 20:06] mattklein123 commented on #415
@htuch as part of this ticket, can we also do up some very basic docs on how to interact with bazel. I think most non-google people have never used it. Whether that is in docs, a few slides, etc. doesn't really matter to me.

[2017-03-22 20:42] ccaraman commented on #454
Remove else catch alls ex: https://github.com/lyft/envoy/blob/721586f5844fdd5bc6a8a65243e38a5711c6ac34/source/common/router/router_ratelimit.cc#L89

[2017-03-22 21:05] htuch commented on #415
Sure, I will put this together when we're at the point we can build the full Envoy binary and run the tests. It would make sense to put this in some Markdown as developer docs I reckon.

[2017-03-23 16:10] mattklein123 opened #612 "docs: better docs for runtime file layout"

[2017-03-23 17:15] htuch opened #613 "Switch from tclap to gflags"
We've previously discussed switching the flags handling to gflags (https://github.com/gflags/gflags), this issue will track work on moving forward with this.

[2017-03-23 18:00] hennna commented on #538
I'm starting to look into this.

[2017-03-23 18:02] mattklein123 commented on #538
@hennna awesome, could you propose here at a high level what the test sequence will look like once you investigate? (Basically how the test file is written, what the output looks like, how the envoy route code will be compiled/used, etc.).

[2017-03-23 18:02] htuch opened #614 "Deadlock detection"
Add support to heartbeat worker threads and a watchdog thread to kill the Envoy process if any threads don't check in for some fixed timeout. This will allows us to catch deadlocks/livelock etc.

Might want to use explicit timers (rather than hearbeating during the event loop), given the way libevent is used today, where we delegate the entire event loop to libevent.

[2017-03-23 18:03] mattklein123 commented on #614
We already have the per worker watchdog timers, so we could start there, then eventually move to explicit timers via signal.

[2017-03-23 18:04] dnoe commented on #614
I will work on this.

[2017-03-23 18:08] mattklein123 commented on #614
@dnoe potentially obvious, but please make the deadlock detector optional via config. Also, while you are doing this, we might want to make the current watchdog timer intervals configurable ("miss" and "mega miss").

[2017-03-23 18:11] htuch commented on #614
Yeah, since the per-watchdog timers may never fire if the event loop is disrupted we should probably move this to its own thread.

[2017-03-23 18:12] mattklein123 commented on #614
Yup definitely it's own thread, I just meant that the per thread check-ins could happen initially via the watchdog timer code that exists.

[2017-03-23 18:14] dnoe commented on #614
Thanks! Agree that there is some stuff to build on in the existing watchdog timer code.  I'll make the current timer intervals configurable and add a new option to control whether deadlock detection is enabled.

[2017-03-23 18:23] lookuptable opened #615 "Require peer certificate when `ca_cert_file` is specified in ssl_context"
Currently when the `ca_cert_file` is specified without `verify_subject_alt_name` or `verify_certificate_hash` in `ssl_context`, the SSL connection can still be successfully established when the peer does NOT present a certificate. This behavior may not be desirable as a peer without a valid cert and a peer with valid cert are treated equally and both can successfully establish a connection.

We sh

[2017-03-23 18:24] lookuptable commented on #615
@mattklein123 can you please assign this issue to me?

[2017-03-23 18:26] mattklein123 commented on #615
@lookuptable have at it, and please sign CLA when you get a chance.

[2017-03-23 18:28] lookuptable commented on #615
I have signed CLA when submitting a PR here last time :)

[2017-03-23 20:51] htuch commented on #538
@tschroed @mattklein123 Do we want to take as input a complete Envoy config as the basis for this? In addition, should RDS be supported?

If starting from a complete Envoy config, there will be a need to specify the listener (IP/port) as well as URL to get to the route config that applies.

[2017-03-23 20:54] mattklein123 commented on #538
I would be fine just taking a route config as input, basically this: https://lyft.github.io/envoy/docs/configuration/http_conn_man/route_config/route_config.html

[2017-03-23 20:55] mattklein123 commented on #538
I think ^ will be relatively easy to create a dedicated route testing binary (or just an option to envoy itself) with the ConfigImpl code.

[2017-03-24 12:06] htuch commented on #605
Please assign to me - I need to take care of this during the Bazel work, since we'll want the tests to run inside the Bazel test sandbox.

[2017-03-24 15:36] hennna commented on #538
Thoughts on the following proposal?

Build a route test tool binary in the directory test/tool (CMake or Blaze?)

Input:
1. A .json router config file (multiple listener configs not supported)
2. A .txt or directory of .txt files. A .txt file is composed of rows of two whitespace delimited fields: the URL and the cluster it maps to

Output:
1. std output with the total number of matches and confli

[2017-03-24 16:31] mattklein123 commented on #613
I don't really care about this one way or the other, but can I ask what the difference is? It seems like change for change sake? Do you have internal hooks for gflags that do something special?

[2017-03-24 16:32] mattklein123 commented on #596
Fixed by @hennna

[2017-03-24 16:32] #596 closed

[2017-03-24 16:35] mattklein123 commented on #573
@junr03 can you take a look at this next week.

[2017-03-24 17:04] mattklein123 commented on #538
@hennna that looks good. The only thing I would like to see is some way of testing redirects also. Any proposal on how to add that to the possible inputs/outputs?

[2017-03-24 17:24] htuch commented on #613
We have a lot of production tooling and libraries that knows how to work with the gflags format, so from our side it would make handling Envoy more uniform. We could try and support both if you feel this would be helpful but we'll just do gflags if it's a potato potatah thing.

[2017-03-24 17:28] mattklein123 commented on #613
Nope don't care. That's fine.

[2017-03-24 17:34] hennna commented on #538
We can add a third optional delimiter field in the input.txt file. "R" for redirect testing and nothing for cluster name match testing.

[2017-03-24 17:36] RomanDzhabarov opened #620 "Docs: clarify requirements for Envoy zone aware routing"
There should be bullet points and sample config for cluster_manager as well as reference to discovery service, where zone data is taken etc

[2017-03-24 17:46] mattklein123 commented on #538
Right, something like that is fine, but for redirects we will need to have as input the expected redirect URL. As long as you are considering the redirect case, I would suggest just doing some prototyping and then coming back with a real example of inputs and outputs. I'm guessing tweaking the format will not be too big of a deal.

[2017-03-24 17:52] hennna commented on #538
Yes. I'll cycle back when I get a working prototype.

[2017-03-24 18:34] #612 closed

[2017-03-24 20:40] jamessynge commented on #351
@mattklein123 - Regarding this code:

[code]

What would be your thought w.r.t. adding IPv6 support? Add a new parameter to specify Address::IpVersion? Or just remove this method, and require user to use the previous method which takes an address, and hence already supports IPv6.

[2017-03-24 20:46] mattklein123 commented on #351
@jamessynge I commented on it in the previous @wattli  review, but I would really prefer that we get rid of the port based constructors here entirely, and just keep the ones that take AddressPtr. Then we can deal with how things are configured independently.

I still have some general questions on what types of configurations we want to allow (i.e., dual bind, single bind, etc.).

[2017-03-24 20:56] dnoe commented on #614
As far as configuration here is what I'm implementing:

watchdog_miss_timeout: default 100ms, increments miss counter.
watchdog_megamiss_timeout: default 1s, increments megamiss counter.
watchdog_kill_timeout: default ?, kills process if one thread is stuck this long
watchdog_multi_kill_timeout: default ?, kills process if more than one thread is stuck this long (intended to be a lower threshold t

[2017-03-24 21:18] mattklein123 commented on #538
@hennna one other thing occurred to me: we support URL rewrite, and we would want to test that as well. So I think in both the redirect and forwarding case you want to allow the tester to specify the expected final URL. (Basically I would take a look at any of the mutating options we support and make sure we can test them).

[2017-03-24 21:35] hennna commented on #538
I will keep that in mind. So far, I think it can be done as a third delimiter.
Options: "W" for rewrite and "R" for redirect.

[2017-03-24 22:56] lizan opened #624 "Cannot convert GET to POST in a filter"
Currently filters can modify HeaderMap / Buffer in decode{Headers,Body,Trailers}, but the end_stream flag cannot be changed.

The use case for this is for REST-gRPC transcoding, when a gRPC method is mapped to HTTP GET, there is no API to convert it to POST (gRPC is always POST) with a request body in a filter.

[2017-03-24 23:05] mattklein123 commented on #624
Hmm. This is going to be quite complicated to fix. Let me think about this and maybe you and I can chat over VC briefly next week.

[2017-03-24 23:23] lizan commented on #624
Sounds good.

[2017-03-24 23:41] mattklein123 commented on #439
Please see linked PR for a first attempt at this. Needs cleanup.

[2017-03-25 00:19] mattklein123 opened #625 "config: create config breaking change policy"
We need to lock down the config, having a breaking change policy around supporting old/new, deprecation period, then deleting old, as well as explicit notification of breaking changes in release notes.

@rshriram we can use this to possibly do any last minute "nice to haves" before we lock it down.

[2017-03-25 10:13] htuch commented on #625
We could maybe squeeze in #613 before the freeze as well, to provide additional user stability at that date.

[2017-03-25 16:07] #605 closed

[2017-03-25 16:15] mattklein123 commented on #624
@lizan can you clarify a bit more on the flows you need here? I assume that you need basically this:

- Conversion filter receives decodeHeaders(headers, true) // header only get
- You want to convert GET to POST, and add a body.
- You want router/other filters to see:
  - decodeHeaders(headers, false)
  - decodeData(body, true)

Do you need streaming support? Continuation support? Or will you alw

[2017-03-25 21:22] lizan commented on #624
Yes that is correct.

For REST-gRPC transcoding use case, there is no need of streaming, continuation support. The request body (gRPC frame) for router/other filters will be generated from headers.

[2017-03-25 21:24] mattklein123 commented on #624
OK sounds good. I will work on this in the next week.

[2017-03-25 21:25] mattklein123 commented on #624
I'm very, very excited for this feature. I think it's actually a killer feature for Envoy/gRPC. :)

[2017-03-25 21:38] mattklein123 commented on #625
@htuch sure let's do the gflags conversion. Can you find someone to take that ticket?

[2017-03-25 22:43] htuch commented on #625
@mattklein123 Yeah, is there an approximate date for the freeze yet?

[2017-03-25 22:52] mattklein123 commented on #625
No, no specific date. We can discuss what makes sense. However, I think we need to do it sooner rather than later given the number of companies that are evaluating and probably moving towards production.

[2017-03-26 03:03] htuch commented on #415
The developer-local `repositories.bzl` will have to depend on a private branch of protobuf at https://github.com/htuch/protobuf/tree/default-shell-env until https://github.com/google/protobuf/pull/2508 is merged.

[2017-03-26 16:45] mattklein123 opened #628 "docs: better tracing getting started guides"
We need better self contained getting started guides for tracing, one for each supported provider (how to get account, if applicable, what creds are needed, basic setup, etc.).

@rshriram can you potentially lead the way on this when you merge the zipkin support. cc @adriancole

@bhs not sure if this is something you are interested in contributing on LS side. cc @RomanDzhabarov

[2017-03-27 14:42] htuch commented on #613
@rlazarus is interested in taking a look.

[2017-03-27 15:31] jamessynge commented on #351
According to [this answer on serverfault](http://serverfault.com/a/39561), dual bind is a bit complicated (I was ignorant about its behavior until I read up on it this morning). The part that was particularly interesting was that on a Linux host configured for dual bind (the default), if a server program binds to "::80", and then an IPv4 connection from 10.1.1.3 is established to this host's port

[2017-03-27 16:05] mattklein123 commented on #351
I agree. I'm in favor or having dual bind not be the default. I wonder if we even need to support dual bind initially or can just make people setup multiple listeners.

[2017-03-27 17:43] RomanDzhabarov commented on #625
not so much a blocker, but for tracing (lightstep) we'd need to move `access_token` param from the driver configuration into `config` part of the driver. (https://lyft.github.io/envoy/docs/configuration/overview/tracing.html?highlight=tracing#lightstep-driver)

[2017-03-27 17:47] rshriram commented on #625
Wishlist:

circuit_breakers -> bulkheads
outlier_detection -> circuit_breakers
In virtual_hosts/route:
 prefix -> prefix_match (goes nicely with prefix_rewrite)
 path -> path_match
 headers -> headers_match

[2017-03-27 18:00] jamessynge commented on #351
I can't say that I'm inclined towards multiple listeners as the filters list needs to be repeated, and IIUC the configs can't readily be shared. Is that so?

[2017-03-27 18:02] mattklein123 commented on #351
Currently, no, they can't be shared easily at the JSON level. With that said, I think most people with any substantial deployment will be machine generating the configs so not sure it matters. In any case, I'm not opposed to having dual bind be an option, was just trying to make it easier for you if you want to do that as a follow up.

[2017-03-27 18:03] mattklein123 commented on #625
outlier_detection -> circuit_breakers

This is terminology that is not consistent across the industry and will never find agreement. So IMO there is no point changing this as someone will complain about the changed definitions.

path -> path_match
headers -> headers_match

No objections from me.

[2017-03-27 18:05] mattklein123 commented on #624
@lizan what about the response. What will you do with the trailers? Just send them along? Or do we need a way to zero them out and send an empty data frame or something.

[2017-03-27 20:01] lizan commented on #624
Ah yes, I need to clear trailers.

For non-streaming response, current existing implantation is wait until trailers and send response to upstream, so grpc-status in trailers can be reflected to HTTP status.

For streaming response, sending an empty data frame should be good.

[2017-03-27 20:06] mattklein123 commented on #624
Yes, this is what happens here: https://github.com/lyft/envoy/blob/master/source/common/grpc/http1_bridge_filter.cc

I think for right now, the trailers could just be emptied and it would probably just work. If we need to actually get rid of the trailers I think I can do it fairly easily in a follow up. I'm fixing the primary issue with request body now.

[2017-03-27 22:44] mattklein123 opened #637 "ssl: increment ssl.connection_error if there is handshake error"
In general, take a look at upstream SSL stats so it's more clear when there are failures.

Also potentially add warning to docs around what an empty ssl_context does.

[2017-03-27 22:45] rlazarus commented on #613
I don't want to try to add a dependency while @htuch is rejiggering the build (#415), so barring any objections I'll wait until he's finished before committing anything here.

From playing around in the meantime, some notes on compatibility:

- tclap uses hyphens in flag names `--like-this` while gflags uses underscores `--like_this`. (It isn't just a matter of idiom: in gflags, the flag name is t

[2017-03-28 00:19] htuch commented on #613
How are you planning to munge the auto generated --help to reflect the
hacks to the flags in points one and two?

On Mon, Mar 27, 2017 at 6:45 PM Reuven Lazarus <notifications@github.com>
wrote:

I don't want to try to add a dependency while @htuch
<https://github.com/htuch> is rejiggering the build (#415
<https://github.com/lyft/envoy/issues/415>), so barring any objections I'll
wait until he's f

[2017-03-28 13:58] rlazarus commented on #613
Nothing fancy. The underscored name becomes the "canonical form" for Envoy flags, so that's what will be listed in `--help`. (I don't propose trying to avoid that; as long as we're switching to gflags, the underscores will inevitably leak out in other ways too.) We can include a note in the usage string about how hyphens are accepted too, and that'll display at the top of `--help`. For consistency

[2017-03-28 14:02] htuch commented on #613
SGTM. I agree on waiting for the Bazel stuff, we'll need to get gflags in both the Docker CI image WORKSPACE and also building under Bazel for developer-local builds via `repositories.bzl`. You might want to double check with @mattklein123 if the backwards compatibility is required.

[2017-03-28 14:05] htuch opened #641 "Audit and fix non-POD static members."
As discovered in #640, the concern over static member construction/destruction order is not just hypothetical. The style guide disallows this in https://google.github.io/styleguide/cppguide.html#Static_and_Global_Variables. So, we should probably cleanup this up.

A starting point would be `grep -r "static const"` and figuring out which are POD and not. There's also non-const static members to cha

[2017-03-28 15:20] mattklein123 commented on #613
I would prefer that we maintain backwards compatibility even if only on a temporary hack basis until we get everything at Lyft upgraded.

[2017-03-28 17:49] htuch commented on #574
You can reassign to me, I'm going to get all the tests moved over to this, since it's required to avoid having `bazel test //test/...` flake. Bazel runs individual test targets in parallel.

[2017-03-28 21:51] hennna commented on #538
@htuch @mattklein123
Sanity check on what I've written up so far: https://github.com/hennna/envoy/tree/url-cluster-match
The tool takes as input (1) a router config json input and (2) a line delimited text file.
Example call: _./router-check ../router_check.json ../url_cluster.txt_

**url_cluster.txt**
_optional_flag_   _expected_name_   _host_     _path_
instant-server api.lyft.com /
ats api.lyft

[2017-03-28 21:52] htuch commented on #538
Can you squash down the commits to provide a single one to read?

On Tue, Mar 28, 2017 at 5:51 PM hennna <notifications@github.com> wrote:

[2017-03-28 22:03] mattklein123 commented on #538
@hennna I'm kind of wondering if the input for the test should be JSON (basically a list of objects that have the input and expected output). I think it would end up being a lot less complicated in the long run. There are other cases that we need to handle such as matching on particular header, etc. So I think we need the ability to optionally pass arbitrary headers as part of the "request". There

[2017-03-28 22:23] htuch commented on #538
What about YAML? It might make the test files easier to read/write as humans and has the same expressive power as JSON.

[2017-03-28 22:25] mattklein123 commented on #538
YAML is fine with me for something like this, but there is existing JSON parsing code already in Envoy so I think it would be easier to use JSON.

[2017-03-28 22:35] hennna commented on #538
Will there be an unlimited number of cases like matching on headers?

[2017-03-28 22:59] mattklein123 commented on #538
What do you mean? I think we have more complicated tests in the future and some type of structured test will be much easier to maintain/understand then the white space delimited file. If you add generic headers, you can get rid of VPUT, VPOST, etc. and I think boil it down to:

Input:

- list of headers (:authority, :method, :path, etc. are special cases of headers)

Output (not all apply to all t

[2017-03-29 00:28] hennna commented on #538
Ok. I'll write up a JSON schema but try to minimize the amount of typing necessary for simple tests.

[2017-03-29 02:49] rshriram commented on #628
Yes I can. Will add docs with zipkin examples.
On Sun, Mar 26, 2017 at 12:45 PM Matt Klein <notifications@github.com>
wrote:

--

~shriram

[2017-03-30 15:28] htuch commented on #487
@mattklein123 Can you reassign to @dnoe?

@dnoe we should make sure this works for exceptions as well. I haven't looked enough at C++ exception implementation to understand what goes on when we get to the top-level (hopefully same case as `std::terminate_handler`, but it's one of the pain points today, we just get the exception message with no stack trace.

[2017-03-30 15:29] htuch commented on #487
Also, we need to make sure it's still easy for Lyft/Google and others who want to override the handler to do so, as Envoy crash behavior needs to be customized in different environments.

[2017-03-30 15:31] dnoe commented on #487
If I recall correctly this is a pain for exceptions. If it's uncaught all the info about  where it was originally thrown is lost by the time you get to the terminate handler. I'll give it though but consider exception backtracing  as a phase II feature.

[2017-03-30 15:33] mattklein123 commented on #487
I don't have much experience with terminate handlers, but an uncaught exception has the correct stack in a core dump. IIRC terminate is called at the individual throw point after unwind and finding a catch point fails.

[2017-03-30 15:38] htuch opened #654 "Restore socket passing validation in hot restart tests"
#650 broke this aspect of the integration test, since the JSON config now specifies port 0 for all listeners. We can add a command line flag to print out the config JSON with port 0 addresses replaced with the actual ports the listeners/admin are bound to post-initialization, this should allow the test to continue to work as expected.

[2017-03-30 15:39] mattklein123 commented on #487
http://en.cppreference.com/w/cpp/error/terminate

...

"an exception is thrown and not caught (it is implementation-defined whether any stack unwinding is done in this case)"

Please verify but I'm nearly certain that libstdc++ does not unwind in this case, which is how core dumps have the correct stack (via abort).

[2017-03-30 15:43] htuch commented on #654
Another suggestion from @mattklein123: have the admin endpoint be capable of emitting the listener JSON with bound ports. We would still need CLI flag support for discovering the admin endpoint address if it is configured to bind to port 0.

[2017-03-30 15:46] htuch commented on #654
@hennna

[2017-03-30 15:47] htuch commented on #654
We will structure this as a Bazel `sh_test` (https://bazel.build/versions/master/docs/be/shell.html), so there should be no issue with shared memory as mentioned in #650.

[2017-03-30 15:50] htuch commented on #654
Here's a suggested flow. When the Envoy process starts with the `--admin_address_file` flag, it writes the admin address, e.g. `http://1.2.3.4:5` to a given file. In the wrapping script, we then query this with curl to find the listener JSON and use that to assembler the config to feed into the second Envoy process.

[2017-03-30 16:01] dnoe commented on #487
I had troubles with this in the past, but maybe I fell into the "implementation-defined" pit.  I recall that the core dumps from uncaught exceptions had stack traces that began at std::terminate and ended at the call to abort().  Unfortunately this was a previous job - I can't run the code to check.  I'll let you know what I find out.

[2017-03-30 16:31] mattklein123 commented on #654
Yeah, I had the same thought about writing it to a file (kind of like PID file). SGTM.

[2017-03-30 17:40] dnoe commented on #487
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=55917

This bug starts in 2013 and continues unresolved as of now... but it contains some information on why getting a useful stack trace indicating where the uncaught exception was thrown from std::terminate handler doesn't work right on GCC.

A possible workaround is capturing a backtrace in the EnvoyException constructor (in debug mode) and storing i

[2017-03-30 17:42] mattklein123 commented on #487
Yes I know about that issue. We don't use std::thread for that reason. :) I'm positive it will work as you expect, just give it a try.

[2017-03-30 17:43] htuch commented on #487
Does it work with Clang? I reckon developers would be better off using clang in debug builds in any case, way better error messages.

[2017-03-30 17:44] mattklein123 commented on #487
Dunno, just give it a try, it's trivial to test. I would imagine it will work fine.

[2017-03-30 17:44] dnoe commented on #487
Ah, I even read that comment at the top of thread.h and totally didn't get it before.  I understand now, thanks.

[2017-03-30 21:52] vijayendrabvs opened #658 "Alpine image for envoy"
Currently, the envoy container image is based off Ubuntu and is quite large (~500MB) and slows down quick deployment. Providing an option to build a minimal alpine image for envoy will be beneficial. I have a patch ready, will submit the PR and update this ticket with a link to it. Would be great if the community can take a look. Thanks!

[2017-03-30 21:59] vijayendrabvs commented on #658
PR submitted at https://github.com/lyft/envoy/pull/659 . Will tag lyft team when tests pass.

[2017-03-31 15:45] mattklein123 opened #661 "Issue/project management"
Was just discussing with @htuch, but over the next 3-6 months I think we are going to outgrow our ability to effectively use GH issues for project management. It's already somewhat painful. My gut is to setup a public JIRA, but I would like to solicit opinions on this.

I don't think anything will change imminently, but I want to at least get folks thinking about this.

cc @tschroed