[2021-11-11 17:58] mattklein123 commented on #18958
I don't understand why your control plane can't come up in a consistent state and send the new config.

[2021-11-11 18:05] howardjohn commented on #18958
The users state is configured in Kubernetes. This includes service discovery (Services/Endpoints), as well as routing configuration. In Kubernetes, we can only get access to the current configuration - we cannot view historical state, unless we maintain that out of band.

In step 3 from https://github.com/envoyproxy/envoy/issues/18958#issuecomment-966470378, the control plane can do this because i

[2021-11-11 18:10] mattklein123 commented on #18958
I understand what you are saying in terms of the corner case, but I don't think Envoy holding configuration is the right solution to this problem. It's too complicated. If you need atomic updates I would rather just figure out a way in which a route update is held until all of the clusters it references are actually available. This has been discussed in the past. cc @htuch

[2021-11-11 19:01] lambdai opened #18979 "Can we allow no-error as write event ?"
The current Event::FileReadyType::Write is activate in 2 conditions

1. io handle is writable
2. io handle has error (bind error, or peer close)

The error type is delievered in the ConnectionImpl::immediate_error_event_ and [the immediate_error_event_ is initialized as Connected. ](https://github.com/envoyproxy/envoy/blob/main/source/common/network/connection_impl.h#L169)

Can we initialize this

[2021-11-11 19:18] antoniovicente commented on #18979
I'm having trouble understanding what you are proposing or why it is needed.  It is legal to call activate(Write).

The activate(Write) after setting immediate_error_event_ is to force a wakeup.  It could be a read activate instead.

[2021-11-11 19:24] antoniovicente commented on #18979
I think that the current implementation is the same as what you propose, Connected is used as a sentinel value that indicates NO_ERROR.

[2021-11-11 19:27] lambdai commented on #18979
Thank you for the feedback.
The issue is that immediate_error_event_ doesn't support empty value.

If somehow activate(Write) is called, there are only two consequences:
Switch to connected from connecting, or switch to closed.  Here: https://github.com/envoyproxy/envoy/blob/main/source/common/network/connection_impl.cc#L673-L683
There is branch to keep the connection as "stay in connecting and wa

[2021-11-11 19:31] lambdai commented on #18979
Are you referring to [this branch](https://github.com/envoyproxy/envoy/blob/main/source/common/network/connection_impl.cc#L671-L679) ?
It's almost what I need except it switch the `connecting` state to false.

[2021-11-11 19:33] antoniovicente commented on #18979
You'll notice that ConnectionImpl::onWriteReady() does not depend on immediate_error_event_, so this member is not part of the problem.

Usual kernel socket semantics signal that a socket is connected by sending a Write event.  I recommend that your userspace socket send the first Write event once it considers itself connected, not earlier than that.

[2021-11-11 19:49] lambdai commented on #18979
Right. onWriteReady is not issue.
I am referring to the branch onFileEvent here. https://github.com/envoyproxy/envoy/blob/main/source/common/network/connection_impl.cc#L556

It would be great to maintain the connection state that "ignoring all event" before connected. That's why I feel the alternative solution is to initiate the event only after listen or connect.

I can update user space event as

[2021-11-11 19:57] lambdai commented on #18979
I can create a sample commit see if it make sense to you, hold on...

[2021-11-11 19:57] antoniovicente commented on #18979
The scheduled event when immediate_error_event_ is set could be Read or Closed instead of Write since its purpose is just to trigger a wakeup after the callstack is unrolled.

A Write event typically signals that the socket transitioned to the connected state, for that reason it is not possible to ignore events before the socket is in the connected state.

I don't understand your proposal.

[2021-11-11 21:03] alyssawilk commented on #18880
That sounds right!  You should be able to turn up the 0 streams integration test to make sure you have that logic right.
The other gotcha is if the Envoy is say configured to have a max concurrent streams of 100, and we start at 10 and then the client renegotiates to 150, we still want to cap it at 100, so be careful not to exceed the configured bounds :-)

[2021-11-11 21:29] joberdick-rcd opened #18980 "[Oauth] Add Custom Parameters to Oauth2 Filter"
*Title*: Add Custom Parameters to Oauth2 Filter

*Description*:
Many identity providers have attributes with oauth that the filter does not support today.

It seems that 'resources' option is attempt to cover what API a token is to be request for. The Oauth RFC doesn't actually dictate that other values can't be used.

For example Auth0 does not use 'resources' but instead 'audience'.

I can use t

[2021-11-11 21:34] lambdai opened #18981 "Client connection should not call socket::connect if bind local address fails"
Currently the client connection binds is called in its constructor. The bind can fail.

The client connection owner is unaware of this failure, usuallly ClientConnection::connect() is called after.

So it's ClientConnection that check the bind has failed and not call underlying socket::connect after.

It's not a hard failure since the event callback will detect the localclose value as set by the f

[2021-11-11 21:40] lambdai commented on #18979
@antoniovicente TL;DR is

Set immediate_error_event_ when there is solid event.
1. after connect() is called if the connection is a client connection
2. or after a localclose/remoteclose.

See #18982

I also find an unexpected behavior that described in https://github.com/envoyproxy/envoy/issues/18981

[2021-11-11 21:42] joberdick-rcd opened #18983 "[Oauth] Option to customize sign-out redirect"
*Title*: [Oauth] Option to customize sign-out redirect

*Description*:
Currently, the oauth2 filter redirect after 'signout_path' path is used it redirects to /. This does not allow for logout of of the identity provider and in many cases might just re-trigger login if / is used by the application.

It would make sense to have to ability to customize where the redirect after sign-out goes to suit

[2021-11-11 21:53] vitruvvius commented on #18867
Will the TerminalFilter, though, operate with websockets + asynchronous workers?

As in, say that I receive a request and require to do 1second of async i/o work (fetch a database, cache, third party library http call, etc)

Does the filter expect synchronous, immediate behavior?

[2021-11-11 22:22] antoniovicente commented on #18981
@AndresGuedez @alyssawilk

Possible solutions would involve use of a factory method to create the socket and bind it.

[2021-11-11 22:32] antoniovicente commented on #18979
Commented on both.  Still don't understand your proposal.

[2021-11-12 03:21] davinci26 commented on #18981
Interesting find. The same thing if the call to apply socket options also fails (`STATE_PREBIND`).

We already have a `bind_error_` variable that we could leverage to return early if the caller tries to connect when we know that something is already wrong.

[2021-11-12 04:01] #18366 closed

[2021-11-12 04:01] #18369 closed

[2021-11-12 07:48] soulxu commented on #10489
This is same with https://github.com/envoyproxy/envoy/issues/18606, and fixed by https://github.com/envoyproxy/envoy/pull/18945

[2021-11-12 08:46] ankatare opened #18985 "Version History not in sync"
*Title*: *Version History details not abailble for v1.18.0 and 1.18.1 in path https://www.envoyproxy.io/docs*

*Description*: Seems Version Hostory is out of sync with https://www.envoyproxy.io/docs/envoy/v1.18.2/version_history/version_history

[2021-11-12 09:30] eoregua opened #18986 "envoy 1.20 build fails due to unknown warning option '-Wno-maybe-uninitialized"
Title: envoy 1.20 build fails using clang due to unknown warning option '-Wno-maybe-uninitialized'

Description:

We are trying to build new envoy binary based envoy 1.20 source code but we are facing some issues:

[code]
We are compiling using CLANG. Below is a section of our Dockerfile used for the build:

[code]

Compiling exactly in the same way with envoy 1.18.4 source code we didn't have any

[2021-11-12 10:26] phlax commented on #18985
iirc these docs were not produced during release, not sure why, but the releases all happened on the same day (1.18.x - 2) so i pointed them all at 1.18.2

not sure if there is any need to fix this

[2021-11-12 11:02] xiaoma2015 opened #18988 "thrift_proxy: is there necessary for createFilterChain for each new request？"
https://github.com/envoyproxy/envoy/blob/a5927dc3f59e79772a6007b3b5538e86b2a597b0/source/extensions/filters/network/thrift_proxy/conn_manager.cc#L181

I found create new filter chains is a bit time-consuming op.
create one route filter took about 31 us.
the log:
![image](https://user-images.githubusercontent.com/10593758/141456559-857c5a93-258b-4122-8ab4-adcfd15d0013.png)

the log code:
![image](h

[2021-11-12 12:28] jlatusek commented on #18727
@florincoras Thanks for your help. Previously, I was using the official build of envoy and VPP. Now I tried official envoy docker image and build VPP using pointed out git commit hash. Everything seems to be working fine for now.

[2021-11-12 12:55] wbpcode commented on #18988
Yep. Because filter chain may retain the states of the request. So for every new request, we need to recreate new l7 filter chain.

In general, a filter instance has only a small amount of request-related states and reference to the filter configuration. If you think it is too slow to create a filter chain, you can use the profile to confirm the specific problem and then optimize it.

[2021-11-12 13:04] YaoZengzeng commented on #18880
@alyssawilk thanks for your reminder :)

Another question, if now we have a max concurrent streams of 100 and 80 of them are active streams, then the client renegotiates to 60. So **part I**: the state of client should transist from READY to BUSY, right? On the contrary, **part II**: if now the state of client is BUSY and the max concurrent streams get increased, the state should transist to READY

[2021-11-12 15:19] florincoras commented on #18727
@jlatusek perfect! Let us know if you hit any other issues.

[2021-11-12 15:48] #18902 closed

[2021-11-12 16:01] #17841 closed

[2021-11-12 18:26] lambdai commented on #18979
Both the the userspace event and os file event shares the same behavior: See #18993
The write event and read event is indeed activated before connect() is called.

[2021-11-12 18:36] lambdai commented on #18979
Given the fact above,  the client connection currently switch to connected state after a poll cycle even the connect() is not called.
The expected behavior is, a client connection should be in connecting state if there is no error.

As the next step, we should decide

1. Should a Envoy ConnectionImpl handle a activated  Read/Write event?
  #18982 is following this path.

2. The connection owner mu

[2021-11-12 18:37] lizan commented on #18897
@sebas2day Back to your original issue, I think using dynamic forward proxy might be the fastest way to resolve it without configuring all clusters. That might be more suitable for your use case since it resolves DNS and treat every endpoint differently by hostname.

[2021-11-12 21:20] lambdai commented on #18986
The clang version matters.  What's your clang version?

main branch is well tested using clang-12

I think istio CI is building envoy 1.20 using llvm-11 and I don't see this error there

[2021-11-12 21:39] lambdai commented on #18822
The raw http request, let's say, the GET request is double encrypted:
1. curl does it once, per output of your curl commnad ```
[code]
2. Envoy encrypt the curl's tls handshake via the tls transport socket defined in your cluster `mycluster`.

Are you sure the upstream remote endpoint would decrypt twice?

[2021-11-12 22:18] htuch commented on #18958
Yeah. The neat way to approach this would be to have the xDS `Resource` declare its dependencies in the wrapper and have the xDS machinery wait to deliver until these are available from all sources. The downsides are that this is going to add extra complexity and debug pain when using this feature (it would be opt-in), and our xDS delivery right now is not really setup as a cache (where this would

[2021-11-12 22:44] howardjohn commented on #18958
I can definitely imagine other cases this could be useful. One similar problem (that is _not_ a high priority for us) is that we have a coupling of SAN in Cluster to EDS endpoints. A similar approach could probably work there (although SAN in the EDS may be better). If I think about it more there are probably other cross-resource dependencies that would be useful.

[2021-11-13 07:55] eoregua commented on #18986
Hi,

We also tried with clang-12 and llvm-11 and we have the same issue:

'''
ERROR: /tmp/envoy/source/extensions/clusters/redis/BUILD:20:17: Compiling source/extensions/clusters/redis/redis_cluster_lb.cc failed: (Exit 1): clang failed: error executing command /usr/bin/clang -U_FORTIFY_SOURCE -fstack-protector -Wall -Wthread-safety -Wself-assign -Wno-free-nonheap-object -fcolor-diagnostics -fno-om

[2021-11-13 16:45] #18840 closed

[2021-11-14 12:01] #17971 closed

[2021-11-14 14:28] #18727 closed

[2021-11-14 23:56] ckennelly commented on #16506
I've been making some progress on https://github.com/google/tcmalloc/issues/22, which should be useful here.

[2021-11-15 00:02] #18404 closed

[2021-11-15 00:02] #18425 closed

[2021-11-15 00:02] #18511 closed

[2021-11-15 08:22] Lee-Jong-Woo commented on #18954
Alse, I confuse the 'External Authorization' in Network filter and the 'External Authorization' in Http filter

I wait the answer

If it is difficult to explain the exact definition, please give an example.

[2021-11-15 09:02] xiaoma2015 commented on #18988
thank you very mush for guidance
it seems a little time consuming on stats generate.

[envoy.cpuprofile.pdf](https://github.com/envoyproxy/envoy/files/7537290/envoy.cpuprofile.pdf)

[2021-11-15 09:09] SanZhiYuan opened #19000 "how to run envoy as a daemon or into background"
I can not find a command line arg or a config option to run envoy as a daemon,

the envoy process still runs on foreground, so how to run envoy  as a daemon on background?

I'm running envoy with version: 96701cb24611b0f3aac1cc0dd8bf8589fbdf8e9e/1.20.0/Modified/RELEASE/BoringSSL installed by homebrew on MacOS Catalina 10.15.7

thanks

[2021-11-15 09:35] rojkov commented on #19000
I think there's no functionality for detaching from e.g. interactive terminal sessions in Envoy.

Why would you need it? Docker or systemd need to be Envoy's parent process to control e.g. restarts.

[2021-11-15 09:51] rojkov commented on #18986
`-Wno-maybe-uninitialized` is a gcc specific option added in case of bazel detecting gcc. You can try to modify your build command as `bazel build --config=clang ...` (no need to set CC/CXX).

[2021-11-15 09:55] rojkov commented on #18983
/cc @rgs1 @derekargueta @snowp

[2021-11-15 09:57] rojkov commented on #18980
/cc @rgs1 @derekargueta @snowp

[2021-11-15 10:05] SanZhiYuan commented on #19000
thanks for explain.

we were using haproxy / nginx as our proxy, they both have a daemon option, so I am hoping the same thing from envoy.

I think a daemon process may easy for developers to 'play' with envoy, docker still a little heavy and systemd may require too much privileges.

[2021-11-15 10:15] rojkov commented on #18959
@wbpcode Do you still remember the details?

[2021-11-15 10:27] rojkov commented on #18954
Have you checked these docs:
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/other_features/local_rate_limiting,
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/other_features/global_rate_limiting?

[2021-11-15 10:46] rojkov commented on #18953
I'd recommend asking this question in Envoy's user group and in the #envoy-users slack channel to attract more people's attention.

[2021-11-15 10:59] rojkov commented on #18952
I'm not a load balancing expert, but I presume the upstream services could report their load first to something.  For example to a global authority. Then global load balancing could be used:

"[Global load balancing refers to having a single, global authority that decides how load should be distributed between hosts. For Envoy, this would be done by the control plane, which is able to adjust the l

[2021-11-15 11:03] loxal commented on #6353
My simplistic assumption was that when you support "hot restart" there should be a hot restart command somewhere - nope, would be too simple. I am just looking for the `nginx -s reload` - can't be so complicated?

[2021-11-15 11:10] rojkov commented on #18950
@cpakulski would you mind looking at it?

[2021-11-15 12:01] #18468 closed

[2021-11-15 12:10] zirain opened #19001 "envoy ALS cluster definition in bootstrap configuration"
hello, I'm trying to config envoy als with istio envoyfilter, the yaml looks like:
[code]

then got some error:
[code]

why should ALS be static? is there any specific reason?

[2021-11-15 12:49] sebas2day commented on #18897
@lizan

That's actually what we tried initially but interesting enough you'll get the exact same issue. That's when we started to investigate different configurations to fix the issue without avail unfortunately.

Please have a look at the following config along with the setup I described in the initial post:

[code]

[2021-11-15 13:19] eoregua commented on #18986
The build was modified:
[code]
Failed with the following reason:

[code]

Building instead in the following way:

[code]
Requires too much space on disk and it's failing:

[code]

The build instead is working fine replacing -Wno-maybe-uninitialized with -Wno-uninitialized in / bazel/envoy_internal.bzl but I don't know if it's right way to overcome this building issue:

[code]

[2021-11-15 13:22] rojkov commented on #18940
/cc @alyssawilk @wez470

[2021-11-15 13:27] rojkov commented on #18928
/cc @lizan @asraa @ggreenway

[2021-11-15 13:30] rojkov commented on #18926
/cc @esmet @gsagula @dio

[2021-11-15 13:43] rojkov commented on #18917
/cc @htuch

[2021-11-15 13:51] rojkov commented on #18912
/cc @lizan

[2021-11-15 13:54] rojkov commented on #18905
/cc @gbrail @snowp

[2021-11-15 13:59] rojkov commented on #18891
/cc @markdroth @htuch

[2021-11-15 14:08] #18433 closed

[2021-11-15 14:08] alyssawilk commented on #18438
reminder ping!

[2021-11-15 14:09] alyssawilk commented on #18449
reminder ping :-)

[2021-11-15 14:12] rojkov commented on #19001
The cluster name in
[code]
looks strange to my taste. But maybe @Shikugawa or @dio may answer why ALS should be static.

[2021-11-15 14:30] cpakulski commented on #18950
@rojkov. Sure - I will take care of this.

[2021-11-15 14:48] yanavlasov commented on #18449
I'll get cranking on it

[2021-11-15 15:08] yanjunxiang-google commented on #18053
This issue is fixed by : Put dns_resolution_config field in dns_filter.proto as deprecated #18649. Closing it.

[2021-11-15 15:08] #18053 closed

[2021-11-15 15:12] alyssawilk commented on #18940
Passing through proxy proto extensions seems reasonable.

I assume for config we'd do something like having a shared message for TLVs where the listener would save TLVs based on config, and the cluster would emit TLVs based on config, and if you configured the same ones on both ends, all would be passed through?  That's more of an @envoyproxy/api-shepherds question though :-)

[2021-11-15 15:28] inquire commented on #9958
Hi all! I guess there hasn't been any movement around here for adding OpenTelemetry support. For some reason i thought that it could be enabled as a dynamic_ot tracer similar to https://github.com/jaegertracing/jaeger-client-cpp but I don't think anybody built one.

Is it safe to say that there is no way to send traces to an opentelemetry collector at this point, yes?

[2021-11-15 16:43] mszlgr commented on #14001
Is this one still on road map? +1 on `"it would be super useful"`

[2021-11-15 17:08] ggreenway commented on #18928
Can you please elaborate on the desired traffic flow (client envoy's possition, server, which connections are TLS vs plaintext)?

[2021-11-15 17:26] ggreenway commented on #18973
As far as I know, Envoy fully supports IPv6.

[2021-11-15 17:32] maksim-paskal opened #19004 "[Feature] PROXY protocol for UDP protocol"
We use network load balancers for testing our HTTP/3 workloads on our edge proxy. We need to use PROXY protocol on network load balancers for getting client IP - but using UDP protocol now it's imposible to add `proxy_protocol` filter to `listener_filters` (current implementation of `envoy.extensions.filters.listener.proxy_protocol.v3.ProxyProtocol` can be used only on TCP protocol)

I want to use

[2021-11-15 18:01] #18615 closed

[2021-11-15 18:03] pradeepcrao opened #19005 "//test/integration:quic_http_integration_test is flaky"
`quic_http_integration_test` fails 11 times out of 60 when run with the command:

 `bazel test -c opt  //test/integration:quic_http_integration_test --runs_per_test=10`

Heres a sample log:

[code]

[2021-11-15 18:37] RyanTheOptimist opened #19006 "QuicHttpIntegrationTest.AdminDrainDrainsListeners is flaky"
QuicHttpIntegrationTest.AdminDrainDrainsListeners has failed recently in a number of PRs. There appear to be several issues associated with this test that make it flaky. The root of the flakiness, though, seems to be the socket being closed before the connection is finished.

[2021-11-15 18:39] pradeepcrao commented on #19005
Tagging @alyssawilk @RyanTheOptimist @danzh2010

[2021-11-15 18:43] RyanTheOptimist commented on #19005
Thanks for the report. I've been working on this issue for the last couple days. I've sent out #19007 to disable the test while we investigate the underlying causes.

[2021-11-15 18:46] kevincantu commented on #9958
@inquire I don't have the documentation at my fingertips, but OTel receivers can be configured to receive traces/metrics/logs from a variety of different sources, including OpenTracing, Jaeger, and others in addition to OTel's own OTLP.   So it's not too hard to emit OpenTracing and send it to an endpoint that's actually OTel.

[2021-11-15 19:47] RyanTheOptimist commented on #19006
Landed #19007 to disable the test while we work to sort out the underlying issue.

[2021-11-15 21:18] alyssawilk commented on #19005
closing this one off just becasue the other was assigned.
not filing the follow-up issue of race-y github filing ;-)

[2021-11-15 21:18] #19005 closed

[2021-11-15 21:30] theganyo commented on #18959
Thank you!

[2021-11-15 21:30] #18959 closed

[2021-11-16 00:14] lambdai commented on #18928
I am curious what kind of cert is needed for the google/bing access.

If the upstream is google/bing, envoy doesn't terminate tls but initiate tls.

The straw man flow confuses me: is the cert applied in downstream connection or upstream connection?

[2021-11-16 00:25] soulxu commented on #18973
thanks for the feedback!

[2021-11-16 01:48] #19000 closed

[2021-11-16 01:57] Lee-Jong-Woo commented on #18954
As I understand it, network filters are filters on L3/L4 and HTTP filters are filters on L7.

And in the HTTP filter, the global rate limit is applied to all routes, and the local rate limit is applied only to some routes for which the local rate limit is set.

Is my understanding so far correct?

Although I have understood this far, it is difficult to understand the difference between the roles o

[2021-11-16 01:58] Shikugawa commented on #19001
@zirain Have you tried to edit MeshConfig to enable ALS? It seems good resource to configure enabling ALS. https://github.com/apache/skywalking/blob/master/docs/en/setup/envoy/als_setting.md

[2021-11-16 02:06] LuyaoZhong commented on #18928
@ggreenway @lambdai
The desired traffic flow is like this:
<downstream/internal service> ---- TLS(mimic cert generated by Envoy) ---- <Envoy> ---- TLS ---- <upstream/external service>
I mean envoy needs to terminate downstream TLS first, then we can apply many filters to control internal service accessing external network, and after that envoy initiates TLS to upstream. The mimic cert will be appl

[2021-11-16 02:20] zirain commented on #19001
yes, MeshConfig work well. actually I'm working on something about telemetry API

IMO, can envoy make als service like ratelimt service as [this issue](https://github.com/envoyproxy/envoy/issues/4669)

[2021-11-16 02:49] Shikugawa commented on #19001
This is caused by the limitation of dynamic cluster management on gRPC, not only for ALS but also others which depend on gRPC clusters.

[2021-11-16 03:21] zirain commented on #19001
can you share more details about the limitation?

BTY why rate limiting service remove the limitation? @mattklein123 @ramaraochavali

[2021-11-16 04:44] Shikugawa commented on #19001
FYI this problem might not occur anymore on the version of envoy (e.g. v1.20.0) which has [this change](https://github.com/envoyproxy/envoy/pull/17908).

[2021-11-16 05:47] htuch commented on #18917
In the presence of the new `matcher`, I think it's harder to write a PGV annotation that captures the "can't route to anything useful property".

[2021-11-16 05:50] htuch commented on #18891
I have deja vu on this topic of dynamic clusters overriding static ones. I think we don't allow it due to complexity and confusion potential, @mattklein123 or @snowp  might remember better (it's come up a few times).

[2021-11-16 07:11] soulxu commented on #19004
Looks like we don't have listener filter support for http3 yet.

Also thinking about if there is possibility of using the existing TCP proxy filter for http3 with the new TCP listener filter https://github.com/envoyproxy/envoy/pull/17395

[2021-11-16 07:32] zirain commented on #19001
ok, I'll check this with the latest version istio.

[2021-11-16 09:17] rojkov commented on #19004
Probably @wez470 could comment on possibility.

[2021-11-16 10:29] ramaraochavali commented on #19001
Because we want rate limiting service to be defined by control plane instead of statically defined in bootstrap. See

https://github.com/envoyproxy/envoy/issues/4669#issue-368538843 for more details

[2021-11-16 10:43] bokan commented on #8262
Any updates on this?

[2021-11-16 12:25] kellerkind84 commented on #18822
I highly doubt this... we are using a java webflux netty client now and it works perfectly.

[2021-11-16 13:10] bgregg opened #19015 "version_number.h Bazel build causes "Missing Terminating '"' character"
**version_number.h Bazel build causes "Missing Terminating '"' character**

Hello!
This is probably an issue with my environment, considering I didn't see this issue reported anywhere else, but I am getting stuck and thought this a good place to ask.

I am getting an error when trying to build using the run_envoy_docker.sh script. The error is occurring when generating version_number.h, and it say

[2021-11-16 13:34] rojkov commented on #19015
I've never had any problems like this one. But maybe your version of bazel doesn't strip the newline from `cat VERSION`. You can try to remove it manually from the file with
[code]

[2021-11-16 15:28] mattklein123 commented on #18891
Yeah agreed this has been discussed before, and I also agree that the complexity seems dubiously worth it. Is there some reason DNS is not a workable solution for you?

[2021-11-16 15:51] wez470 commented on #19004
I implemented support for Envoy generating proxy protocol for upstream connections, but am not as familiar with the listener filter or general UDP support. I'm not sure the feasibility, sorry.

[2021-11-16 16:01] kriswuollett opened #19017 "docs: links broken for items like http_filters/grpc_json_transcoder_filter"
*Title*: docs: links broken for items like http_filters/grpc_json_transcoder_filter

*Description*:

Links to documentation like that found in the [Sample Envoy configuration for gRPC JSON transcoding](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/grpc_json_transcoder_filter#sample-envoy-configuration) use a link path that predates #8027. Following these links yield p

[2021-11-16 16:15] #18450 closed

[2021-11-16 17:26] #16622 closed

[2021-11-16 18:13] hds commented on #17568
In case this helps someone, we've seen this issue appear just after the Kubelets in our k8s cluster were upgraded from 1.19 to 1.20.

On another cluster where the Kubelets have yet to be updated, the issue doesn't occur - using the exact same version of envoy (1.18.2 with the envoy-alpine image).

Perhaps some special protection has been added to those devices in that version?

[2021-11-16 18:22] phlax commented on #17568
this seems odd, the problem should have been fixed some time ago, not sure why this is resurfacing

i think the alpine image is kinda deprecated - i would suggest using the distroless image - apart from anything the distroless image does not require any permission mangling

[2021-11-16 18:40] hds commented on #17568
Do you know what the issue is that should have been fixed?

[2021-11-16 18:49] phlax commented on #17568
the fix was in this PR https://github.com/envoyproxy/envoy/pull/15115/files

not sure which versions it has been backported to - i know it was backported to at least one version

[2021-11-16 19:55] lambdai opened #19024 "headers op cannot evaluate REQUESTED_SERVER_NAME"
reported by Jack Muratore  https://envoyproxy.slack.com/archives/C78M4KW76/p1637074615179900

"%REQUESTED_SERVER_NAME%" can not be evaluated in the headers op, which can be used by tcp_proxy's tunnel and http router.
I suspect access log cannot use it as well.

The root cause is that this legit var name  REQUESTED_SERVER_NAME has the prefix "REQ" and the parser tried to parse it as a format of
"RE

[2021-11-16 20:33] ggreenway commented on #18928
Ok, I think I understand now. Let me paraphrase to make sure I understand: you'd like for envoy to have a CA cert/key, trusted by the downstream client, and for envoy to dynamically generate a TLS cert signed by the CA cert/key for whatever name is in the SNI of a connection?

[2021-11-16 22:16] gbrail commented on #18905
That's an interesting idea. Would it mean, for example, that we'd add a counter to each "ProcessingRequest" that ext_proc sends to the external processor? That would not be difficult.

However, are you imagining that the processor would send back responses that used the same counter, allowing out-of-order reassembly of streamed payloads in the Envoy proxy? I don't think that'd work, because it'd r

[2021-11-16 22:32] visualzhou commented on #18940
Thank you @alyssawilk ! I'll go ahead to prepare a PR, while we are figuring out the config format.

I like the idea of separating the configs for listener and cluster. To make it more concrete, here is an example config to pass through all TLV types.
[code]
The two `pass_through_tlvs` sections indicates that we'd like to save and emit all TLVs. Besides `include_all`, its filter type would be expa

[2021-11-16 22:56] ravenblackx opened #19026 "Filesystem buffering filter extension"
The idea of this extension is to add more [flow control filters](https://github.com/envoyproxy/envoy/blob/main/source/docs/flow_control.md) to support buffering to disk.

The filesystem access will be asynchronous (using a small thread pool) so as not to block the envoy worker.

This would be a filter you could place before a [buffer_filter](https://github.com/envoyproxy/envoy/blob/9dd8ae3c69a9917

[2021-11-16 22:56] danzh2010 opened #19027 "QuicHttpIntegrationTest.NoPortMigrationWithoutConfig flaky"
This test fails with $ bazel test test/integration:quic_http_integration_test --runs_per_test=2000 --test_filter="*NoPortMigrationWithoutConfig*"

[ RUN      ] QuicHttpIntegrationTests/QuicHttpIntegrationTest.NoPortMigrationWithoutConfig/IPv4
test/integration/quic_http_integration_test.cc:608: Failure
Value of: quic_connection_->waitForPathResponse(std::chrono::milliseconds(2000))
  Actual: true
E

[2021-11-16 22:56] danzh2010 commented on #19027
/assign @RenjieTang

[2021-11-17 01:13] KfreeZ commented on #19004
please refer to #18791

[2021-11-17 02:12] LuyaoZhong commented on #18928
@ggreenway Yes, exactly.

[2021-11-17 02:57] marcosrmendezthd commented on #18905
i'm only thinking of the processing request. adding it to the processing response would not scale for the reason you mentioned.

i also thought that adding hints about the request body byte offsets may be useful as well if the information is available. adding the sequence id would basically provide ordering, and the assumption would be that we can recreate the body by appending the bytes in that o

[2021-11-17 03:44] qls152 opened #19029 "Does envoy provide a clock timer?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Does envoy provide a clock timer?*

*Description*:
Does envoy provide a clock timer? It can calculate the operating time of a certain function and perform correspon

[2021-11-17 05:16] wbpcode commented on #19029
May be you can provide more background info to describe you needs. For example, why we need this feature ? After that, we can discuss it further.

[2021-11-17 05:55] qls152 commented on #19029
We want to calculate the time and total time of each path experienced by any request in the same filter to assist in troubleshooting and optimization of critical paths in business processing. Timesource in Envoy provides a poorly abstracted function to meet this demand.

[2021-11-17 06:09] wbpcode commented on #19029
May be profile is more suitable for this need?

[2021-11-17 06:34] ldemailly commented on #2066
ping

[2021-11-17 06:45] qls152 commented on #19029
It can not use to log。we want to log some time。

[2021-11-17 07:32] Patrick0308 opened #19031 "How to get xDS information on envoy filter"
*Title*: *How to get xDS information on envoy filter*

*Description*:
How to get EDS/RDS/CDS information on envoy filter, I want to modify request headers base on xDS information.

[2021-11-17 07:51] hds commented on #17568
The fix that was mentioned above (https://github.com/envoyproxy/envoy/pull/15115/files) has been backported to 18.2 (which is the version we were initially using), but doesn't fix the problem for us when running on Kubernetes with Kubelet version 1.20.

The following 2 solutions **did** fix the issue. Only one of these needed to be applied in our case:

1. Setting `securityContext.runAsUser = 1000

[2021-11-17 09:06] rojkov commented on #19029
Would [Perfetto](https://perfetto.dev/docs/instrumentation/tracing-sdk) work for you? There's #17591 adding preliminary support for it in Envoy.

[2021-11-17 09:34] rojkov commented on #19026
/cc @alyssawilk @danzh2010

[2021-11-17 09:39] rojkov commented on #19031
Filters and xDS belong to different planes.

Could you please elaborate your use case?

[2021-11-17 09:52] rojkov commented on #18954
That's right.

My understanding is that local rate limiting is an additional stage before global rate limiting used to avoid overwhelming the latter. Perhaps a better doc is needed.

/cc @mattklein123 @htuch

[2021-11-17 12:01] #18496 closed

[2021-11-17 12:04] LuyaoZhong commented on #18928
I wrote some PoC code for dynamically generating cert, and I tested the downstream TLS handshake using the mimic cert.

For API change, envoy currently requires certs(static or sds) set in config yaml file, and the code path doesn't take the case I mentioned into consideration. To support this feature I need a proper API introduced to indicate we will do TLS handshake using dynamic cert . I would

[2021-11-17 12:31] siepkes commented on #17808
@rgs1 Could this issue be re-opened and tagged help-wanted? This feature would be valuable for me as well and I think it could be beneficial to more people.

[2021-11-17 12:40] Alexcei88 commented on #17808
@siepkes , PR already approved some days ago and changes are in the main branch.

[2021-11-17 12:43] Alexcei88 commented on #15489
#17808 already contains changes.

[2021-11-17 12:46] phlax commented on #17808
@Alexcei88 which PR - shall i close this ticket again ?

[2021-11-17 12:46] #17808 closed

[2021-11-17 12:47] Alexcei88 commented on #17808
https://github.com/envoyproxy/envoy/pull/18353

[2021-11-17 12:51] siepkes commented on #17808
@Alexcei88 Totally missed that one, sorry!

[2021-11-17 13:39] zirain commented on #19001
@Shikugawa try with `istio 1.12.0-rc.1`, and still got error like `gRPC client cluster 'productpage_envoy_accesslog' is not static`

![image](https://user-images.githubusercontent.com/4354057/142211118-9e8242a2-1d5e-42da-85db-9b8444dc0972.png)

[envoyfilter.yaml](https://github.com/zirain/playground/blob/master/istio/als/envoyfilter.yaml)

how can I skip the validation?

[2021-11-17 14:51] banjocat commented on #19024
To clarify. It does work in access_logs it just doesn't work in add_headers.

[2021-11-17 15:17] rojkov commented on #18881
Still `//test/integration:multiplexed_integration_test` is flaking in CI for [coverage](https://dev.azure.com/cncf/envoy/_build/results?buildId=94648&view=logs&j=bbe4b42d-86e6-5e9c-8a0b-fea01d818a24&t=e00c5a13-c6dc-5e9a-6104-69976170e881) and for compile_time_options builds ([1](https://dev.azure.com/cncf/envoy/_build/results?buildId=94684&view=logs&j=e969334a-0e55-5c18-ac96-8b546753391e&t=b5329a9

[2021-11-17 15:46] #18695 closed

[2021-11-17 16:01] aminjam opened #19033 "New TCP connection pool enforcing max_requests"
*Title*: New TCP connection pool is not respecting max_connections for circuit-breaker's thresholds

*Description*:
After upgrading to envoy 1.19 we've been unable to serve more than 1024 downstream TCP connections. This seems to be coming from the new TCP connection pool. We've been able to mitigate this issue by using the older TCP connection pool.

*Repro steps*:
A detailed repro steps can be f

[2021-11-17 16:05] #18540 closed

[2021-11-17 16:43] ggreenway commented on #18928
I think a more general approach would be to implement this as a listener filter. It could either run after `tls_inspector` (which reads the SNI value), or re-implement that part. It can then generate the needed cert, and we can add an API for a listener filter to signal to the TLS transport_socket which certificate to use.

There have been other feature requests to support extremely large numbers

[2021-11-17 16:44] alyssawilk commented on #19026
Just to understand the use case here, the deal is we want to handle requests lager than we're willing to hold in memory, and buffering to disk is preferable to using the existing network backup logic?  That's a unique case to my experience so I'd be interested in hearing more.  Generally when we're dealing with large responses we'd just use network backup but this feels like something we could may

[2021-11-17 16:52] KBaichoo commented on #19026
This seems pretty cool.

Could this be described as a filter that’s essentially “swap space” for the dataplane that does a few tricks to avoid thrashing such as interleaving ordering of bytes between memory and storage, cancellable writes incase we get new capacity before we’ve flushed the data to disk?

What’s the plan for failure scenarios for late term failed streams? E.g. if a stream gets rese

[2021-11-17 16:56] ggreenway commented on #19033
cc @alyssawilk

[2021-11-17 17:58] ravenblackx commented on #19026
I think there's at least two use-cases - one is wanting to handle requests/responses bigger than we're willing to hold in memory, that we want to pass through buffer_filter (i.e. to measure and inject content_length). The other use case is if we have a data supply that's much faster than the data consumer, too large to buffer in memory at the proxy, we might want to allow that data supply to fully

[2021-11-17 19:20] gbrail commented on #18905
Is it possible that all you need is an "offset" in the message that we send
with each body chunk? That would be easy to calculate and also would solve
your problem I think.

On Tue, Nov 16, 2021 at 6:57 PM Marcos Mendez ***@***.***>
wrote:

[2021-11-17 19:32] marcosrmendezthd commented on #18905
if there is an offset for the request and response body in the processing request, that would solve recreating the request and response body. it can also be a little bit tricky to determine when a request is done, though is there is an end of stream, i thought the sequence id would basically help with that. do the same for the response. what do you think?

processing request w/ request id seq 1 ->

[2021-11-17 19:54] ggreenway opened #19035 "tcp_proxy access logs for failed upstream connection attempts"
I'd like to log failed upstream connection attempts from tcp_proxy.

One possible implementation would be similar to `upstream_log` on the http router. But there's very little to log for the failure cases; far less useful information than there can be from an http request, due to fewer failure modes.

Another option would be an additional access log formatter that prints the list of upstream addre

[2021-11-17 20:30] alyssawilk commented on #19033
Ah, this is indeed a bug.  Because of the shared code, both the max_requests knob is applies as well.  The old pool enforced [max_connections, max_pending_requests] and the new enforces [max_connections, max_pending_requests, max_requests]
I'll get a fix out soon to fix the behavioral inconsistency as well as updates to API documentation to make it clear when requests fields apply to connections.

[2021-11-17 20:46] #18844 closed

[2021-11-17 21:06] RenjieTang commented on #19027
I ran the command a few times, but I wasn't able to reproduce this flakiness.
This test scenario is that without port migration config, the client will not receive any path response after path degrading is triggered.
Hmmm I wonder how this could be flaky.

[2021-11-18 00:02] #18515 closed

[2021-11-18 00:02] #18538 closed

[2021-11-18 00:02] #18547 closed

[2021-11-18 00:02] #18548 closed

[2021-11-18 00:02] #18572 closed

[2021-11-18 00:22] #18589 closed

[2021-11-18 03:18] agrawroh opened #19037 "Performance degradation in the FIPS-BoringSSL version being used by Envoy"
# Description

We are using a FIPS validated version of Envoy (v1.20) which currently use the FIPS BoringSSL version `fips-20190808`. After running a few benchmarks using the `bssl speed` on this version and the latest FIPS compliant version i.e. `fips-20210429`, we found that the version which is currently being used by Envoy shows some performance degradation as compared to the Non-FIPS BoringSS

[2021-11-18 04:55] agrawroh commented on #19024
Created a PR to add it:
https://github.com/envoyproxy/envoy/pull/19038

[2021-11-18 08:01] #18542 closed

[2021-11-18 08:01] rojkov commented on #19037
I see no reason why we shouldn't upgrade the dep.

/cc @PiotrSikora @moderation for second opinion

[2021-11-18 08:02] github-actions[bot] opened #19039 "Newer release available `com_github_grpc_grpc`: v1.42.0 (current: a3ae8e0)"
Package Name: com_github_grpc_grpc
Current Version: a3ae8e0@2021-06-07 22:24:54
Available Version: v1.42.0@2021-11-16 23:39:48
Upstream releases: https://github.com/grpc/grpc/releases

[2021-11-18 08:02] #18763 closed

[2021-11-18 08:27] aksdb commented on #18844
@alyssawilk First of all: thank you so much for implementing this (so fast!).

I tried with the recent master, but was not quite able to figure out if I am doing it wrong, or if it doesn't work (yet?) as it should.

If I open a connection **directly** to my (test) service, it sends a 102 every 2 seconds. So an example request looks like this:
[code]

When I do the same **with envoy** (commit 1eb18

[2021-11-18 08:33] PiotrSikora commented on #19037
Per [BoringSSL's FIPS docs](https://boringssl.googlesource.com/boringssl/+/master/crypto/fipsmodule/FIPS.md), `fips-20190808` is the latest version that's validated, and `fips-20210429` is still [pending review](https://csrc.nist.gov/Projects/cryptographic-module-validation-program/Modules-In-Process/Modules-In-Process-List).

[2021-11-18 08:58] rojkov opened #19040 "CI: Coverage flake //test/integration:multiplexed_integration_test"
*Title*: *One line description*
Coverage and compile_time_options builds flake with test failure, see

https://dev.azure.com/cncf/envoy/_build/results?buildId=94648&view=logs&j=bbe4b42d-86e6-5e9c-8a0b-fea01d818a24&t=e00c5a13-c6dc-5e9a-6104-69976170e881

https://dev.azure.com/cncf/envoy/_build/results?buildId=94684&view=logs&j=e969334a-0e55-5c18-ac96-8b546753391e&t=b5329a9e-93c7-5412-9f4c-6f8d659e1

[2021-11-18 08:59] rojkov commented on #18881
The actual error seems to be different this time. Opened a new issue instead: #19040.

[2021-11-18 08:59] #18881 closed

[2021-11-18 09:50] #18954 closed

[2021-11-18 12:01] #16698 closed

[2021-11-18 12:01] #18537 closed

[2021-11-18 13:02] LuyaoZhong commented on #18928
Generating certs in a listener filter sounds workable. But an API for a listener filter might not be enough, the old `DownstreamTlsContext` still requires user setting tls certificates, we can't avoid touching `DownstreamTlsContext` or its sub apis.

[2021-11-18 13:03] rojkov commented on #19040
cc @alyssawilk

[2021-11-18 13:13] laskdjlaskdj12 opened #19042 "[Feature] I can't find UDP proxy rate limit API Settings."
*Title*: *One line description*

*Description*:

would be used.

Is there any example about UDP Proxy Local rate limit settings?
i only find local rate limit filter is accepts in filter_chains in filters

i am using 1.18.2 envoy version and v3 api

[optional *Relevant Links*:]

[2021-11-18 13:39] sebas2day commented on #18897
@Shikugawa

I'm curious why the resolved IP address (that ends up being the same) for both calls matters and ends up in different behavior? For me, as a user, I ideally don't want the think about what endpoint lives on what host. I would expect that when I explicitly state endpoints with an explicit SNI it should not attempt to reuse the same connection but make a separate connection for each endp

[2021-11-18 14:12] alyssawilk commented on #19040
I'm seeing this in the logs.  @birenroy can you look into this one?

2021-11-17T06:38:39.9245488Z [ RUN      ] IpVersions/Http2MetadataIntegrationTest.ProxyInvalidMetadata/IPv4_Http2Downstream_Http2UpstreamWrappedHttp2
2021-11-17T06:38:39.9246746Z [2021-11-17 06:38:17.201][153][error][http2] [external/envoy/source/common/http/http2/metadata_decoder.cc:65] Failed to decode payload.
2021-11-17T06:38

[2021-11-18 14:18] alyssawilk opened #19044 "Proxy multiple 1xx responses"
See https://github.com/envoyproxy/envoy/issues/18844

[2021-11-18 14:18] alyssawilk commented on #18844
ah yeah, if you check the release notes, as with 100s and 103s, Envoy only handles the first, sorry that wasn't clear to you

Handling multiple 1xxs is significantly more complicated.  Simply passing them through in the happy path isn't so bad, but when things are backed up, we only have one "slot" in the HTTP processing machine to buffer 1xxs,and handling more than one gets hella complicated and

[2021-11-18 14:26] aksdb commented on #18844
Thanks for clarification. I probably have a pretty naive view on this and hoped that upstream responses can simply be passed  through. But given the many protocol conversions envoy supports, this likely is not possible without some state machine around it.

Again many thanks for tackling this (so soon) and also thanks for even considering looking into it some time later for an even broader solutio

[2021-11-18 15:09] kfaseela opened #19045 "HttpConnectionManager max_requests_per_connection behaving different from the documented behaviour"
*Title*: *HttpConnectionManager max_requests_per_connection behaving different from the documented behaviour*

*Description*:

I have an Istio use case on long lived connections, which I am trying to test by applying envoy filter with max_requests_per_connection=3, with default drain timeout of 5sec. This  is not working as per the behaviour explained at https://www.envoyproxy.io/docs/envoy/latest

[2021-11-18 15:20] mladenkralev commented on #1109
We have a similar issue where we use logrotate to rotate logs in a pod. Seems strange that despite enforcing log rotation the newly created file is ignored and only the old (already rotated file) is used and growing.

Does anyone else also hit this issue?
We are using 1.17.4 envoy version and the logrotate configuration file looks similar to:
`/tmp/* {
    rotate 3
    size 1k
    compress
    del

[2021-11-18 15:59] danhcole opened #19046 "Proxy Protocol Listener Filter v2 metadata not available at the HTTP level."
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Proxy Protocol Listener Filter v2 metadata not available at the HTTP level.*

*Description*:
Using the Proxy Protocol listener filter[0], we are extracting a TLV, a

[2021-11-18 16:37] howardjohn commented on #18633
'respectively. re2.max_program_size.error_level defaults to 100, and re2.max_program_size.warn_level has no default if unset (will not check/log a warning).'

Doesn't that imply it *should* check by default?

[2021-11-18 17:44] qiwzhang commented on #18636
Sorry,  I missed this issue.  Let me see, coding wise, if it is easy to create Jwks cache to be shared globally.  Currently,  it is per worker thread.

[2021-11-18 19:03] aminjam commented on #19033
Thanks @alyssawilk for fixing this issue. We have always used the docker built images to run envoy and we are not setup to build the binaries from the PR branches. Is there a docker image that builds PRs that we could consume? If not, just by looking at the PR and test coverage, it looks like it will fix this issue.

[2021-11-18 19:28] ggreenway commented on #18928
I think we could add a `FilterState` from the listener filter which contains the cert/key to use, and have `SslSocket` check for it's presence and set the cert on the `SSL*` (not `SSL_CTX*`).

[2021-11-18 20:08] danzh2010 opened #19051 "quic: use bytesMeter() in streams"
EnvoyQuicStrean::bytesMeter() provides an interface to account byte sent/received on a stream. This interface should be more accurate than HCM's bytes accounting. Quic server/client streams should populate it.

[2021-11-18 20:35] yanavlasov opened #19052 "RELEASE_ASSERTs in certificate loading code"
There are a number of RELEASE_ASSERTs in the source/extensions/transport_sockets/tls/context_impl.cc when loading certificates. This can lead to config of death if it contains a large in size certificate data (i.e. due to a bug). There is really no reason for error check of the BIO_new_mem_buf calls to be RELEASE_ASSERT and instead an exception can be thrown that will reject such config.

[2021-11-18 20:36] yanavlasov commented on #19052
Some of these were introduced in #18733 @anrossi

[2021-11-18 20:38] marcosrmendezthd opened #19053 "MacOS Monterey + Intel + Brew - Segmentation fault"
*Description*:

MacBook Pro (Retina, 15-inch, Mid-2015)
Processor: 2.5 GHz Quad-Core Intel Core i7

$ uname -av
Darwin ... 21.1.0 Darwin Kernel Version 21.1.0: Wed Oct 13 17:33:23 PDT 2021; root:xnu-8019.41.5~1/RELEASE_X86_64 x86_64

$ brew --version
Homebrew 3.3.4
Homebrew/homebrew-core (git revision feddfd3b28b; last commit 2021-11-18)
Homebrew/homebrew-cask (git revision b5b59d947c; last commit

[2021-11-18 21:04] ggreenway commented on #19053
I think this is a duplicate of #17535. Note that this is fixed in `main` and in the 1.20 release branch, but no point release has happened on 1.20 since the fix.

[2021-11-18 21:04] #19053 closed

[2021-11-18 21:09] marcosrmendezthd commented on #19053
great. thank you!

[2021-11-18 21:28] #18449 closed

[2021-11-18 22:53] arcanjoaq opened #19055 "Global request timeout configuration"
I would like to know if there is a global request timeout configuration in `Envoy v1.20.0`. I have read the docs but I couldn't find an answer. The property
`route_config.virtual_hosts.routes.route.timeout` works as expected, however, it would be nice if I could configure a `global request timeout` regardless of route.

The following _envoy.yaml_ configures a per route timeout (this is OK):

[code

[2021-11-18 22:59] #19024 closed

[2021-11-18 23:46] agrawroh commented on #19037
Thanks for the info @PiotrSikora. I wasn't aware of this.

Should we keep this issue open or close it out for now?

[2021-11-19 00:32] kyessenov commented on #18685
This is in progress.

On Thu, Nov 18, 2021 at 4:02 PM github-actions[bot] <
***@***.***> wrote:

[2021-11-19 02:48] Shikugawa commented on #18897
@sebas2day Let's go back to the first discussion. In the current configuration, Upstream Connection is supposed to use HTTP/1.1 and not reuse the connection. So there is no problem because each endpoint is using a different connection. I think this problem is caused by Envoy's problem with certificate validation when reusing TLS sessions. Therefore, the problem can be solved by not reusing the ses

[2021-11-19 06:45] manlinl commented on #18891
Thanks for the insight. DNS works for us. I was curious if current setup allows making XDS control plane part of the mesh itself.

[2021-11-19 06:45] #18891 closed

[2021-11-19 08:01] #18543 closed

[2021-11-19 08:32] PheonixS opened #19059 "session_ticket_keys are not redacted in config_dump"
*Description*:
session_ticket_keys retrieved via SDS should be redacted from the output.

Looks like only initial state in revealed in the config dump. Next iterations of pushing new configuration is not updating value of inline_bytes.

*Repro steps*:

Run SDS server which will send the following schema to Envoy:
[code]

*Section of dynamic secrets*:
[code]

*Admin and Stats Output*:
*Clusters*:

[2021-11-19 08:38] rojkov commented on #19045
Thank you for the great description!

cc @alyssawilk @htuch

[2021-11-19 08:52] rojkov opened #19060 "ci: boringssl_fips package is inaccessible"
*Title*: *boringssl_fips package is inaccessible*

*Description*:

Currently all CI builds are broken because one dependency became inaccessible.

*Logs*:
https://dev.azure.com/cncf/envoy/_build/results?buildId=94876&view=logs&j=1c04237c-5f52-5959-5f83-5522b3556331&t=db3f3889-c922-566b-fa2e-4bc4948bc467

The relevant part is
[code]

[2021-11-19 09:15] sebas2day commented on #18897
Sorry I'm mixing up connections with TLS sessions. I checked but the issue is regardless of whether it's http2 or when they have different certificates without having a wildcard.

To me having TLS session resumption sounds like a good thing to have, but I think I want it to be per endpoint and not per host? Disabling it sounds to me like a workaround rather than a fix. Please correct me if I'm wro

[2021-11-19 09:26] rojkov commented on #19059
Looks like `(udpa.annotations.sensitive) = true` is either missing somewhere or ignored.

cc @htuch @junr03

[2021-11-19 09:31] PiotrSikora commented on #19060
cc @agl @davidben

[2021-11-19 09:38] tricky42 commented on #9717
@qbrent I am searching for a solution for very similar requirements. Did you find a solution?

[2021-11-19 09:51] rojkov commented on #19055
I presume you want to have timeouts for upstream connections. You could try to set also `max_stream_duration` for the upstream cluster. `max_connection_duration` triggers if there's no active stream.

Maybe @Shikugawa can help.

[2021-11-19 09:54] rojkov commented on #19051
cc @RyanTheOptimist

[2021-11-19 10:00] Shikugawa commented on #18897
@PiotrSikora I don't know the details of this implementation, but I think the current implementation is to reuse the session ticket in the connection as long as it exists. Does it make sense to do SNI-based ticket selection here?
https://github.com/envoyproxy/envoy/blob/v1.20.0/source/extensions/transport_sockets/tls/context_impl.cc#L648-L672

[2021-11-19 13:44] LuyaoZhong commented on #18928
Yes, it's `SSL*`(not `SSL_CTX`).

Let me list several questions and answers to make the design clear:

1. Where to generate certs?
After deliberation, I think `tls_inspector` is not a good place for generating certs, because we don't want dynamically generating certs for all SNI, we want `tls_inspector` to detect SNI first, then dispatch to different filterchain according to SNI. This will be more

[2021-11-19 16:12] eoregua opened #19061 "deprecated option 'envoy.config.bootstrap.v3.Admin.access_log_path' from file bootstrap.proto"
Hi,

Currently in my envoy bootstrap configuration the admin access log is just redirect to null in this way:

[code]
But from the log  I see that access_log_path for admin configuration is deprecated:

[code]
What is the simplest way to implement to redirect access log for Adming without using deprecated access_log_path configuration parameter?

Thanks.

/Oreste

[2021-11-19 16:14] agl commented on #19060
Thanks for the notice. This has been restored. (I forgot that these files were being hosted in an otherwise unused project.)

[2021-11-19 16:19] davinci26 commented on #19061
Hey, you can use the `access_log` property, see [docs](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/bootstrap/v3/bootstrap.proto#config-bootstrap-v3-admin)

For example that would be the snippet to output to stdout:

[code]
That being said if you don't want care about the logs (you are piping to /dev/null after all) you can always skip this field

[2021-11-19 16:38] eoregua commented on #19061
Thanks a lot!

Yes, it's working.

I don't know if you can easily drive to figure out the last deprecated messages that  I see from the log:
[code]
But In my case sds is watching on filesystem:

[code]
Do we really specify the xDS version:
[code]
And what is the suggested value? V3?

Thanks a lot!

[2021-11-19 19:11] eoregua opened #19065 "Using the default now-deprecated value AUTO for enum 'envoy.config.core.v3.ConfigSource.resource_api_version'"
Hi,

I want to fix the warning messages that I see during the envoy bootstrap:
[code]
But in my case SDS defined in the envoy confguration is watching only on filesystem,eg:

[code]

Why shall we  define the xDS version?

[code]
If yes, what is the suggested value? V3?

[code]

Thanks a lot!

[2021-11-19 19:29] davinci26 commented on #19061
yeah, something like this should work:

[code]

As a useful tip, if you are tinkering with the config and you want to find an example code search is super useful. All the configs in main should load on Envoy without any warnings.

[2021-11-19 19:45] davinci26 commented on #19065
See answer in #19061

[2021-11-19 20:00] manlinl opened #19067 "Envoy routing scalability & performance question"
*Title*: *Envoy routing scalability & performance question*

*Description*: some context, recently we are evaluating introducing service mesh into our service platform. Our goal is to support 2k+ services on a single mesh. We are POCing using Envoy hijacks outbound HTTP/gRPC traffic and route based on target domain (`:authority`).

AFAIK, the XDS today doesn't support lazily requesting routing pol

[2021-11-19 20:31] KBaichoo opened #19068 "quic: Add crash dump support"
quic: Add crash dump support

*Description*:
H1, H2 codecs have support for crash dumping. It'd be great if H3 had crash dumping implemented as well.
See https://github.com/envoyproxy/envoy/blob/eda54585c5f63a721f8abf05d1603b7e263f740d/source/common/quic/envoy_quic_client_session.h#L45  and https://github.com/envoyproxy/envoy/blob/eda54585c5f63a721f8abf05d1603b7e263f740d/source/common/quic/envoy_q

[2021-11-19 20:34] eoregua commented on #19065
I tried with the setting:

validation_context_sds_secret_config:
    name: validation_context
    sds_config:
        resource_api_version: V3
        path: /path/to/secret.yaml

but no way, the warning is still present.

I also checked some good examples in envoy docs but I didn't find any other info to remove such warning.

[2021-11-19 20:43] matiasrege opened #19069 "Decorator and tracing doesn't work when filter add/replace a header"
When we want to use match with headers and some filter add/replace a header, the decorator or tracing doesn't work correctly.

# Test
We use the x-pool header to match the route and we inject this header in a filter.

In this example, we do a lower() of the header, and if the header is not modified, the decorator is correctly added and the request is sampled, but if we send the header with a capit

[2021-11-19 23:28] rr-sarvesh-padia commented on #4637
Hi @gsagula, @mattklein123 any update on this issue? Is there any workaround to fix this? Is this issue only happening for http_service or this applies to grpc_service as well? Thanks

[2021-11-19 23:44] lizan commented on #18928
Yeah this all makes sense, having generating part in transport socket sounds reasonable to me. We might need a cache to store generated cert so they aren't generated for every connection.

[2021-11-19 23:48] lizan commented on #18897
@Shikugawa again this is not related to TLS session ticket in any way. If the DNS resolves to same IP address, it will reuse the connection even it is HTTP/1.1. That matches browser's behavior as well.

[2021-11-20 00:28] lambdai commented on #18928
Perhaps SDS should be acts as that counted cache. RDS/ECDS/EDS maintains the N:1 mapping (N subscription 1 config) and it's not surprising to introduce to SDS.

@LuyaoZhong My understanding is that your POC is generating CSR, if this functionality can be moved to SDS, some of the SDS server could be leveraged

[2021-11-20 01:01] keith commented on #16482
Here's another improvement for everyone, but previously was only blocked by M1 support https://github.com/envoyproxy/envoy/pull/19072

[2021-11-20 01:39] Shikugawa commented on #18897
Ok. I will do further investigation. But, we don't have any approach to avoid this problem without disabling session resumption in the current implementation. It is just a workaround.

[2021-11-20 10:15] YaoZengzeng commented on #19045
The cause of the problem appears to be that the new coming streams will keep resetting **drain_timer_** which result it never timeout, ref https://github.com/envoyproxy/envoy/blob/main/source/common/http/conn_manager_impl.cc#L293 .

I'd like to fix it:)

[2021-11-20 20:14] kfaseela commented on #19045
@YaoZengzeng : Thanks for the response, and would be really helpful if you are planning to fix it. :)

[2021-11-20 20:15] kfaseela commented on #19045
Thank you @rojkov :) This is my first activity in the community, and happy to receive a nice response!

[2021-11-21 00:01] #2800 closed

[2021-11-21 00:02] #18394 closed

[2021-11-21 04:48] Patrick0308 commented on #19031
I want to impact routing rules. I think I should modify the control plane. Thanks, for your reply.

[2021-11-21 04:48] #19031 closed

[2021-11-21 08:40] juliaogris commented on #18820
A new release would be fabulous!

[2021-11-21 21:51] agrawroh opened #19073 "Global timeouts on route not working when max_stream_duration is set"
## Description

I don't know if this is intended or not but it seems that the global timeouts set on the route via `timeout` [[Link]](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#:~:text=auto_host_rewrite%22%3A%20%22%7B...%7D%22%2C%0A%20%20%22host_rewrite_header%22%3A%20%22...%22%2C%0A%20%20%22host_rewrite_path_regex%22%3A%20%22%7B...%7D%22%2C%0A%20%20%

[2021-11-22 01:56] adaoud-ims commented on #16867
Any advise how to build Envoy for Centos 7 ?

[2021-11-22 03:40] LuyaoZhong commented on #18928
@lizan @lambdai
Thanks for your comments. A cache sounds good.
SDS could be one option to cache the dynamic certs, we are supposed to support both local cache and SDS, right?
If so, I want to start with local cache and then introduce SDS later. Does it make sense for you?

[2021-11-22 04:01] #18622 closed

[2021-11-22 04:57] jpeach opened #19075 "Is the inline scoped routes provider implemented?"
*Description*:

I'm experimenting with scoped routes and specifying the mapping to route configurations inline:
[code]

The protobuf API documentations says I can use "ScopedRouteConfigurationsList" to specify the routes configuration ames inline, rather than via SRDS.

Experimentally, I don't see envoy attempting to load the references route configurations. Looking in the code, it looks like this

[2021-11-22 05:39] lum1n0us opened #19076 "The State of WebAssembly in Envoy Proxy"
It has been more than a year since the blog about [the State of WebAssembly in Envoy Proxy](https://www.solo.io/blog/the-state-of-webassembly-in-envoy-proxy/). How about it now? What kind of challenges are we still looking at?

[2021-11-22 07:22] liverbirdkte opened #19077 "Listener filter to terminate HTTP CONNECT"
*Title*: Listener filter to terminate HTTP CONNECT

*Description*:
Envoy has CONNECT support for tunneling raw TCP traffic. I have a new use case, when Envoy is used as forward proxy for HTTPS upstreams, expect Envoy terminates initial CONNECT request and subsequent downstream TLS connection. This makes extra filters like security check work for downstream traffic.

The TLS termination part with m

[2021-11-22 07:48] rojkov commented on #19060
Thank you @agl! Everything works now.

[2021-11-22 07:48] #19060 closed

[2021-11-22 08:14] p-o-nch commented on #18709
so.. no workaround for this possible?

[2021-11-22 08:20] Shikugawa commented on #18897
@lizan This is the trace result. (Both DFP and non-DFP show almost the same result.)
https://gist.github.com/Shikugawa/537f3df4fe9c58f20ebdcf94c1ca1952
With my investigation, the current config doesn't reuse the previous HTTP connection... You can find out actual logs [here](https://gist.github.com/Shikugawa/537f3df4fe9c58f20ebdcf94c1ca1952#file-gistfile1-txt-L419-L430).
As for what you said, SNI-

[2021-11-22 08:36] Shikugawa commented on #19055
@arcanjoaq There is no effect configuring `max_stream_duration` on `common_http_protocol_options` in HTTP connection manager filter.

[2021-11-22 09:27] jlatusek2 commented on #17841
@VivekSubr Hi, I'm facing similar problem and would like to ask how you want to use Linux sock filter to make it work?

[2021-11-22 10:31] VivekSubr commented on #17841
Hello,

I don't know how I'd make it work with linux socket filters... one
objection was raised is that they require root permissions to run, not a
good property to have for a proxy. It may be possible to use Raw sockets to
implement this, but that's another can of worms.

What my team went with - add the dscp value to envoy configuration and make
it do setsockopt as per the configuration in outbo

[2021-11-22 12:49] ankatare commented on #18633
Seems line of code resposible.
https://github.com/envoyproxy/envoy/blob/main/source/common/common/regex.cc#L39

[2021-11-22 12:50] ankatare commented on #18633
@snowp please suggest if we need to remove this code as it is deprecated.

[2021-11-22 14:42] efimki opened #19079 "`MockOsSysCalls::setsockopt` has unwarranted ASSERT"
*Title*: `MockOsSysCalls::setsockopt` has unwarranted ASSERT

*Description*:
`MockOsSysCalls::setsockopt` has `ASSERT(optlen == sizeof(int));` but `setsockopt` API allows socket options to have different length. This breaks our internal test that sets 16 byte socket option.

*Repro steps*:

The following test triggers an ASSERT in debug build:

[code]

[2021-11-22 14:55] efimki commented on #19079
I'm not a `setsockopt` expert.
Maybe there should be an assert that `optval != nullptr`, and/or `optlen != 0`.

[2021-11-22 16:04] kyessenov commented on #19077
This would be useful to also impose a stronger security posture by limiting HTTP processing to just CONNECT instead of exposing cross-cutting HCM features.

Why do you think internal connection has problems with TLS? It's possible to layer TLS in CONNECT in TLS. Listener filters do not support termination of outer TLS (see https://github.com/envoyproxy/envoy/issues/18035).

[2021-11-22 17:03] agrawroh commented on #19073
@ramaraochavali Thanks for the background. I see that the changes you made got reverted at some point but couldn't really tell why they got reverted. Do you have any more context on this?

[2021-11-22 19:22] agrawroh commented on #19073
@mattklein123 @alyssawilk Any thoughts on doing this by adding a check to reject the config with both the `timeout` as well as `max_stream_duration` set where `timeout` >= `max_stream_duration`?
It doesn't make much sense to have `timeout` > `max_stream_duration` and also if they are equal the behavior of which timer will fire first is unclear. We can put this behind a reloadable flag (set to fals

[2021-11-22 20:36] RyanTheOptimist commented on #19068
cc: @danzh2010 @RyanTheOptimist @alyssawilk

[2021-11-22 20:39] RyanTheOptimist commented on #19067
cc: @asraa

[2021-11-22 20:41] RyanTheOptimist commented on #19042
cc @phlax

[2021-11-22 20:43] RyanTheOptimist commented on #19035
cc: @alyssawilk

[2021-11-22 20:44] RyanTheOptimist commented on #19046
cc: @ggreenway

[2021-11-22 21:19] RyanTheOptimist commented on #19076
cc:@envoyproxy/wasm-dev

[2021-11-22 21:22] RyanTheOptimist commented on #19079
cc: @yanavlasov

[2021-11-22 21:22] RyanTheOptimist commented on #19079
I can't quite find an appropriate label for this. @yanavlasov, any suggestions?

[2021-11-22 22:34] RyanTheOptimist commented on #19069
cc: @asraa

[2021-11-22 22:35] RyanTheOptimist commented on #19077
cc: @alyssawilk

[2021-11-22 22:38] RyanTheOptimist commented on #19075
cc: @chaoqin-li1123, @htuch

[2021-11-22 22:55] chaoqin-li1123 commented on #19075
Yes, we haven't implemented inline scoped route provider, should document it in the api.

[2021-11-23 03:00] qls152 commented on #19029
thanks， it is Okay！

[2021-11-23 03:00] #19029 closed

[2021-11-23 06:45] s-jlatusek commented on #17841
@VivekSubr I see, thx for your help. :))

[2021-11-23 07:49] #5940 closed

[2021-11-23 09:48] rojkov commented on #17922
Finally submitted a draft PR (#19082).
I did one more set of test runs, but this time with CPU pinning like
[code]

Default socket interface
--------------------------
[code]

io_uring socket interface
---------------------------

Activated with this config
[code]
[code]

[2021-11-23 11:34] mramakrishnaprasad opened #19083 "build error in external/com_google_cel_cpp/eval/public/containers/container_backed_map_impl.cc in Envoy 1.19.1 release"
Title: Build error in external/com_google_cel_cpp/eval/public/containers/container_backed_map_impl.cc for v1.19.1 branch.

build command: bazel build -c opt --strip=always //source/exe:envoy

Description: I have cloned the envoy 1.19.1 release using the below command:
git clone -b v1.19.1 https://github.com/envoyproxy/envoy

My environment is ubuntu 18.04.1. When I try to the build the code using

[2021-11-23 12:59] YaoZengzeng commented on #19068
@KBaichoo @RyanTheOptimist I'd like to help to implement it :)

[2021-11-23 13:25] alyssawilk commented on #19068
Thanks!  This one should be be fairly straight-forward, so I've assigned it your way :-)

[2021-11-23 15:51] alyssawilk commented on #19073
Generally I'm a fan of changing config validation to avoid confusing configs, but it's hard to runtime guard because in the case if command line config you can have a bootstrap config load before RTDS sets the flags.  cc @envoyproxy/api-shepherds for thoughts

[2021-11-23 15:52] alyssawilk commented on #19073
(worst case we can certainly add a warning, best case we can validate)

[2021-11-23 15:54] alyssawilk commented on #19033
I think @ggreenway was going to build a backport so if this didn't miss the window we may be able to get it in

[2021-11-23 18:20] agrawroh commented on #19055
How about using [x-envoy-upstream-rq-timeout-ms](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/router_filter#x-envoy-upstream-rq-timeout-ms) header on the requests? Do note that if both the header as well as route level timeouts are set then the route level timeout will be ignored and the global timeout will be set from the value specified in the header.

[2021-11-23 19:09] matiasrege commented on #19069
May be related?:

[https://github.com/envoyproxy/envoy/blob/main/source/common/http/conn_manager_impl.cc#L1083-L1087](https://github.com/envoyproxy/envoy/blob/main/source/common/http/conn_manager_impl.cc#L1083-L1087)

[2021-11-23 23:00] jpeach commented on #19075
Thanks for the confirmation @chaoqin-li1123. Updating the docs would be very helpful :)

[2021-11-23 23:02] karanvasnani opened #19087 "Inconsistent handling of stat prefix between StatsD stats sinks and prometheus when a Custom Stat Namespace is registered."
*Title*: Inconsistent handling of stat prefix between StatsD stats sinks and prometheus when a Custom Stat Namespace is registered.

*Description*:
In https://github.com/envoyproxy/envoy/pull/17357, support for specifying a Custom Stat Namespace was added for extensions and stat sinks to register a namespace to distinguish between user-defined stats and Envoy native stats. Additionally, a default

[2021-11-24 09:37] maikoulin opened #19089 "Unable to build arm64 generate_bytecode_builtins_list"
I'm encountering a strange error when building arm64(aarch64)

And during wee8 building, there is a strange error:

[130/1236] CXX obj/third_party/inspector_protocol/crdtp/cbor.o
[131/1236] LINK ./bytecode_builtins_list_generator
[132/1236] ACTION //:generate_bytecode_builtins_list(//build/toolchain/linux/unbundle:default)
FAILED: gen/builtins-generated/bytecodes-builtins-list.h
python ../../tools

[2021-11-24 09:41] maikoulin commented on #17491
I have encountered this problem, have you solved it?

[2021-11-24 09:42] maikoulin commented on #17100
I have encountered this problem, have you solved it?

[2021-11-24 12:45] Edimo24 opened #19092 "Add a tag to Envoy Access Logging (command operator)"
I am trying to customize some of envoy operators. I would like to add some tags to different operators in envoy source code like %DOWNSTREAM_REMOTE_ADDRESS_WITHOUT_PORT% but I am not sure how to do it since I do not have experience with Envoy source code.
I need something like %[tag]DOWNSTREAM_REMOTE_ADDRESS_WITHOUT_PORT[/tag]%. Any suggestion where in the source code do I have to make the changes

[2021-11-24 15:08] #18678 closed

[2021-11-24 18:03] F34th3R opened #19094 "The Clusters is not updating in Docker"
*Title*: *docker envoy is not updating the clusters*

*Description*:

The docker container have a volume, but is not working when i try to change. I lil help, thanks.

*Repro steps*:
[code]
*Config*:
[code]

[code]

[2021-11-24 20:20] RyanTheOptimist commented on #19094
/assign @junr03

[2021-11-24 20:21] RyanTheOptimist commented on #19092
cc: @asraa

[2021-11-24 20:21] RyanTheOptimist commented on #19094
cc:@junr03

[2021-11-24 20:22] RyanTheOptimist commented on #19089
cc:@lizan

[2021-11-24 20:23] RyanTheOptimist commented on #19087
cc:@jmarantz

[2021-11-24 20:24] RyanTheOptimist commented on #19083
cc @lizan

[2021-11-24 20:33] manlinl commented on #6602
Hi Envoy team, what is the current status of MatcherTree feature and any timeline for GA?

A little background, we have 1k+ microservices and plan to build a global service mesh. the O(N) routing match algorithm isn't scalabe.

[2021-11-24 21:52] jmarantz commented on #19087
I didn't remember the wasm stats had a prefix of "envoy.wasmcustom"; I thought it was just "wasmcustom" but I might not be remembering correctly as I just reviewed the PR and didn't write it.

Why is it necessary for statsd and prometheus to present the same set of names? I'm curious what problems occur due to an inconsistency between them.

[2021-11-24 22:45] lizan commented on #19083
-- The C compiler identification is GNU 7.5.0
-- The CXX compiler identification is GNU 7.5.0

This might be too old for 1.19, try use GCC 9.x or Clang 10.x

[2021-11-24 23:23] dlcrista opened #19096 "404 when using remote WASM code from private github repos"
*Title*: *Cannot use the remote wasm code from a private github repo*

*Description*:

[optional *Relevant Links*:]

[2021-11-25 00:01] #18546 closed

[2021-11-25 00:01] #18590 closed

[2021-11-25 00:01] #18597 closed

[2021-11-25 00:02] #18602 closed

[2021-11-25 00:02] #18624 closed

[2021-11-25 00:02] #18653 closed

[2021-11-25 00:02] #18654 closed

[2021-11-25 00:02] #18660 closed

[2021-11-25 00:02] #18662 closed

[2021-11-25 01:59] mathetake commented on #19087
+1, and if it is necessary I could do a PR on statsd, but I would like to know the motivation better beforehand (as in the next few months I won't be able to have enough cycles for Envoy PRs).

[2021-11-25 02:34] liverbirdkte commented on #19077
@kyessenov I got the impression that SSL support is not in the initial version of internal connecion from #11725, please correct me if I got something wrong.

Let me describe this listener filter with more details. Actually there are two scenarios for this TLS termination use case, Envoy as a sidecar and forward proxy, the only difference between these two scenarios is whether the initial CONNECT

[2021-11-25 04:01] #18669 closed

[2021-11-25 04:01] #18671 closed

[2021-11-25 04:01] #18672 closed

[2021-11-25 05:33] jpeach opened #19098 "scoped routes are unable to match wildcard virtual hosts"
*Title*: scoped routes are unable to match wildcard virtual hosts

*Description*:

I'm experimenting with scoped routes, and my goal is to use scoped routes be able to have a separate `RouteConfiguration` for each virtual host.

I can get scoped route to work using the `:authority` header for fully qualified virtual hosts:

[code]

AFAICT, there's no way to create a keybuilder that can be used wit

[2021-11-25 05:35] jpeach commented on #19098
@chaoqin-li1123 Do you know whether this is possible?

[2021-11-25 06:26] pyrl247 opened #19099 "Question about different listeners listen same port when enable_reuse_port set to true."
When enable_reuse_port set to ture,different listeners can listen same port without error,and the accept behavior depand on kernel,maybe cause route unpredictable?
[code]
Since envoy1.20 ,enable_reuse_port is default to true.
When use the static config above,the request to port 8888 will randomly route to cluster_0 or cluster_1.
Is that a reasonable behavior?

[2021-11-25 06:59] Panxu1219 opened #19100 "How does RBAC filter restrict access to a specific cluster according to the source IP of the client?"
*Title*: How does RBAC filter restrict access to a specific cluster according to the source IP of the client?

*Description*:I want to use RBAC filter to intercept the client's access to an upstream service according to the client's source IP; But I don't know how to configure RBAC permissions; Ask for help。

This is my configuration：

[code]

[optional *Relevant Links*:]

[2021-11-25 07:44] soulxu commented on #19046
Take a look at the issue, it seems we create a new StreamInfo object for HTTP stream, but we didn't copy the dynamicMetadata from L4 streamInfo to HTTP streaminfo.
https://github.com/envoyproxy/envoy/blob/a7a00d9e8d52e517c1db1fd98dc09b5d193c8585/source/common/http/filter_manager.h#L673

We should be able to fix that by copying the dynamicMetadata to HTTP streaminfo.

[2021-11-25 07:55] Panxu1219 commented on #19100
I tried to implement it with the following configuration, but there were errors.
[code]

Error :
[code]

What is the correct configuration？

[2021-11-25 08:31] wbpcode opened #19103 "some performance results of envoy's different versions"
I did some simple tests today and found that envoy's performance seems to be getting worse and worse. Although I know features should always come at some cost. But those costs seem to be too much.

And although I know that performance is not the first goal of Envoy. But with continuous enhancement of Envoy, the performance seems to degrade too quickly. Here are some simple results of **single envo

[2021-11-25 08:32] wbpcode commented on #19103
cc @mattklein123  @rojkov

[2021-11-25 08:52] ankatare commented on #19017
seems it is tc in  #19101

[2021-11-25 09:15] zhxie commented on #19103
Have you ever profiled Envoy with tools like perf, so that we can find some hotspots from the result?

[2021-11-25 09:19] wbpcode commented on #19103
I will do it this weekend.

[2021-11-25 10:19] rojkov commented on #19103
This feels like a duplicate of #13412.

[2021-11-25 10:37] wbpcode commented on #19103
Yep. Looks like the degrading never stops.

[2021-11-25 11:25] gdubicki commented on #16867
See https://github.com/envoyproxy/envoy-build-tools/pull/154 , @adaoud-ims .

[2021-11-25 12:07] adaoud-ims commented on #16867
Thanks @gdubicki, I will have a look.

[2021-11-25 14:04] wbpcode commented on #19103
I only have two different binary files with code symbols. Considering that there has been a huge gap in performance between them, I think it is enough as a reference.

v1.17.4:
https://drive.google.com/file/d/1aZuC54PmIXsQu7k88jBeU-HENOEiQXgT/view?usp=sharing

v1.12.2:
https://drive.google.com/file/d/1o6kV8T2J5nCs3m7lHaXSdXaudjzNJ9Sv/view?usp=sharing

[2021-11-25 17:24] vicalixto commented on #19055
@agrawroh
you have an example of configuration x-envoy-upstream-rq-timeout-ms ??
 I tried in several ways and I still get error 504 the same as the @arcanjoaq

[2021-11-25 17:51] arcanjoaq commented on #19055
So, is there a way to configure a http request connection timeout besides my first example (regardless of route)?

[2021-11-25 18:38] agrawroh commented on #19055
@arcanjoaq You can use `max_connection_duration` [[Link]](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/protocol.proto#:~:text=value%20for%20HTTP_DOWNSTREAM_CONNECTION_IDLE.-,max_connection_duration,-(Duration)%20The%20maximum) regardless of route if you want to close the connection. It works for both the upstream as well as downstream.

[2021-11-25 18:47] agrawroh commented on #19055
@vicalixto The header needs to be added in a way that the router could see it. If you are trying to use `add_request_headers` on the Virtual Host/Route level then it won't work as the headers aggregation happens after the timeouts get finalized. One way is to use the **LUA filter** before the **Router filter** and inject this header directly into the stream so that router can see it.

[code]

[2021-11-25 20:01] #18652 closed

[2021-11-25 20:01] #18655 closed

[2021-11-26 00:02] #18682 closed

[2021-11-26 01:50] vicalixto commented on #19055
@agrawroh
I configured but the timeout continues :( , and returning error 504
validate config and is ok - https://envoylint.com

my envoy config :

static_resources:
  listeners:
  - address:
      socket_address:
        address: 0.0.0.0
        port_value: 80
    filter_chains:
    - filters:
      - name: envoy.filters.network.http_connection_manager
        typed_config:
          "@type": typ

[2021-11-26 02:40] wbpcode commented on #19103
There are no obvious hotspots from the flame graph, just a very uniform slowdown. More encapsulation and abstraction gradually reduces the performance of Envoy.

[2021-11-26 04:01] #18642 closed

[2021-11-26 04:01] #18661 closed

[2021-11-26 05:50] agrawroh commented on #19055
@vicalixto What are you excepting out of this config? This should make the timeout for all your routes 60s and yes, you will get a 504 (Gateway Timeout) after 60s.

[2021-11-26 08:02] github-actions[bot] opened #19106 "Newer release available `edenhill_librdkafka`: v1.6.2 (current: v1.7.0)"
Package Name: edenhill_librdkafka
Current Version: v1.7.0@2021-05-06 15:50:04
Available Version: v1.6.2@2021-11-17 15:17:14
Upstream releases: https://github.com/edenhill/librdkafka/releases

[2021-11-26 08:02] #18674 closed

[2021-11-26 09:37] robinp-tw opened #19107 "Missed 1.17->1.18 migration path for staggler v2 extension's PreviousPrioritiesConfig"
The change https://github.com/envoyproxy/envoy/commit/c04a75efe9d601ebcb9650f274b5adde60181f1c made upgrade for staggler v2 extensions possible to v3, but missed the PreviousPrioritiesConfig. This blocks the clean upgrade path.

See commit https://github.com/transferwise/envoy/commit/b8c209e1d7b49091812cdedd1aafa0955c3b5846 which fixes the issue (against v1.18.4 tag).

*Repro steps*:
Have a RetryP

[2021-11-26 11:49] phlax commented on #18674
hmm, afaict the version suggested in this ticket - ie `1.8.2` has been superseded by a lesser version `1.6.2`

[2021-11-26 11:53] phlax opened #19108 "Dependency checker is not checking versions correctly"
### Description

The dependency checker (that checks deps configured in `repository_locations.bzl` and opens github tickets) opens a new ticket when there is a newer version

It seems however that the versions are not checked correctly, for example with #19106

The suggested version is both less than the ticket that it closed and the current version used in the repo

[2021-11-26 11:54] phlax commented on #19108
cc @ME-ON1

[2021-11-26 11:55] kfaseela commented on #19108
I would like to work on this :)

[2021-11-26 12:01] phlax commented on #19108
i guess the priority is just to fix the version issue, but i would just flag that there are possibly some other issues with this script around handling of release dates <> last commit dates

my longer term thought had been to move this to github.com/envoyproxy/pytooling and to add unit tests and type checking to it

[2021-11-26 14:41] seglo opened #19110 "Are initialized zipkin and datadog trace ids different?"
*When envoy is configured to initialize traces and propagate them as zipkin and datadog HTTP headers the IDs seem to be different*

*Description*:

If DataDog and b3/zipkin tracing is enabled and a trace is initialized do the corresponding ids have any relationship to one another or is each randomly generated?  DataDog trace ids are typically 64 bit long integers, whereas b3 ids could be a 128 bit

[2021-11-26 15:05] ME-ON1 commented on #19108
maintainer released a new version  `1.6.2` yesterday and `1.8.2` was version released in October. So i think tool is working fine and maintainer did a mistake in naming the release version
 here -> https://github.com/edenhill/librdkafka/releases xd

[2021-11-26 15:07] phlax commented on #19108
im thinking it should respect the version rather than release date tho - its valid to release 1.6.3 after 1.8.2 for example

[2021-11-26 15:14] ME-ON1 commented on #19108
yes it can but what if like for example `1.6.2` is the latest package released and `1.8.2` being older as in this case. And we look for latest release version by this tool.

Also is `1.6.2` is the version we want to updating.

[2021-11-26 15:15] jmarantz commented on #19103
I'm not sure if I buy that encapsulation and abstraction are likely to cause that much slowdown. I glanced at one of the flame-graphs and it's hard to know what to improve there.

It might help to capture some perf-graphs from an instrumented binary that can provide more detail on what's going on. The purely sampled view we get from these flame-graphs might (for example, as a guess) hide some effe

[2021-11-26 15:15] phlax commented on #19108
we want to update to the latest (ie highest version number) which in this case 1.8.x

[2021-11-26 15:25] wbpcode commented on #19103
I will try to do more investigate.

[2021-11-26 15:41] mattklein123 commented on #19103
Related to @jmarantz comment, over time we have generally moved to secure by default configuration. This almost universally is at odds with "horse race" benchmarks. So we will need to very carefully tease apart any differences. The work is useful but it's a lot more complicated than just looking at flame graphs. I also agree with @jmarantz that trying to run a reproducer under something like cache

[2021-11-26 16:01] #18673 closed

[2021-11-26 16:10] jmarantz commented on #19103
Just to point this out: Matt suggests cachegrind and I suggested callgrind: they are related and both very useful:
 * they both are generated using the valgrind infrastructure (`--tool=callgrind` vs `--tool=cachegrind`)
 * cachegrind has a lot more detail of the simulated processor cache effects of each line of code
 * callgrind has more detail about time spent and call-counts at a function-level

[2021-11-26 16:14] pxpnetworks commented on #18838
Hello,
i was wondering then what about this snippet from the docs about tunneling config regarding the :host header:
""Neither :-prefixed pseudo-headers nor the Host: header can be overridden.""" @lambdai @ramaraochavali ??

[2021-11-26 16:57] ME-ON1 commented on #19108
sure then just have to compare the release version number and it will work

[2021-11-26 18:03] arcanjoaq commented on #19055
I have tried this configuration:

[code]

But it does not work as expected. It keeps sending "x-envoy-expected-rq-timeout-ms":"15000". If I uncomment upstream_protocol_options or upstream_http_protocol_options, envoy says that it is an invalid argument.

I have searched inside `examples` directory something about it, but I could not find it. Only per route timeout configuration works as expected.

[2021-11-27 00:02] #18680 closed

[2021-11-27 02:54] wbpcode commented on #19103
@mattklein123 @jmarantz Thanks very much for all your suggestions. I will put more effort into tracking and investigating this issue recently.🌷

At present, I still subjectively think that it may caused by a large number of small adjustments. For example, #13423 introduces a small update to replace all white space chars in the response code details which will bring some minor new overhead. Assumin

[2021-11-27 06:01] ramaraochavali commented on #18838
@pxpnetworks  With append action `OVERWRITE_IF_EXISTS_OR_ADD ` it should be possible. See https://github.com/envoyproxy/envoy/issues/18838#issuecomment-966000729

[2021-11-27 07:37] wbpcode commented on #19103
2021/11/27 callgrind.out file of v1.12.2 vs v1.20.x (100, 000 HTTP1.1 request with wrk).

https://drive.google.com/drive/folders/1EWTjixvN43O8u24a_rJF8S6A4ePvFwC1?usp=sharing

![v1.20.x](https://user-images.githubusercontent.com/12389633/143672687-95f0d73b-2257-44a2-9467-76eb653be109.png)

![v1.12.2](https://user-images.githubusercontent.com/12389633/143672706-10cc6065-9123-4522-a152-3beb9b63d3ff.

[2021-11-27 12:01] #18575 closed

[2021-11-27 16:20] tomqwpl opened #19112 "Envoy appears to resolve "localhost" incorrectly when windows VPN is turned on?"
I have a weird problem with Envoy.
I'm using 1.20 on Windows : `version: 96701cb24611b0f3aac1cc0dd8bf8589fbdf8e9e/1.20.0/Modified/RELEASE/BoringSSL`

I have some clusters configured, and the hostname is "localhost". These work fine normally, and envoy can connect to the upstream hosts.
However, when I turn the Windows VPN on to connect to work it all stops working. Envoy resolves localhost and get

[2021-11-27 18:00] mramakrishnaprasad commented on #19083
Thanks @lizan. Will try with the upgraded GCC version.

[2021-11-27 18:18] scrocquesel commented on #18838
@ramaraochavali using the envoyproxy/envoy-dev:latest image,

[code]

fails with
[code]

Adding a dummy value for hostname, fails with

[code]

[2021-11-27 20:01] #18693 closed

[2021-11-27 23:12] manlinl commented on #19067
Friendly ping...

[2021-11-28 00:03] #18657 closed

[2021-11-28 04:27] shuosiw commented on #9716
@qbrent I have the same issue..and i try to config it but failed..could you paste the full yaml config. THANKS

[2021-11-28 18:37] nitishm commented on #6453
Question: Can this be done using WASM filters?

[2021-11-28 20:01] #18724 closed

[2021-11-29 00:29] jpeach opened #19113 "Clarify the semantics of a routing scope"
*Title*: Clarify the semantics of a routing scope

*Description*:

In the HCM, when we specify enabled scoped routing, we set the `ScopedRoutes` name. Experimentally, and per the example in the documentation this can be any string.

https://github.com/envoyproxy/envoy/blob/29569d89499643d070a8b342cf64c13a807c2b59/api/envoy/extensions/filters/network/http_connection_manager/v3/http_connection_manag

[2021-11-29 00:35] jpeach commented on #19113
@RyanTheOptimist @stevenzzzz @chaoqin-li1123 I'm pretty sure that (2) is what envoy is doing, but it would be great to get some clarification, in particular around what the behavior is meant to be with different key builders.

[2021-11-29 01:51] jpeach commented on #19113
I've verified that the behavior of scoped route is (2), or at least very close to it. In the following configuration, I have listeners on ports 8080 and 80801. The port 8080 listener is intended to only accept the hostname `zero.example.com`, and the port 8081 should only accept the `one.example.com` listener. However, envoy accepts both hostname on both ports, which suggests that the scoped route

[2021-11-29 08:33] Edimo24 commented on #19092
@asraa I would appreciate any suggestion

[2021-11-29 08:46] mrsufgi commented on #9958
@kevincantu is correct, I'm trying to setup my sidecar Envoy proxy 1.20 (aws) to report to a OTel collector sidecar using:
`ENABLE_ENVOY_JAEGER_TRACING=true` on AWS. My collector is setup for recieving jaeger/zipkin/otel
(AWS defaults to 127.0.0.1:9411)

[code]

no luck so far, I'll keep trying this and update on a workaround (until we ship openTelemetry with envoy)

[2021-11-29 09:14] PatrikSteuer commented on #9958
@mrsufgi one problem with the current jaeger tracer is that it doesn't support the W3C trace context so far. Therefore we enabled the OpenCensus tracer, which is connected to an OpenTelemetry collector, exposing the OpenCensus protocol on port 55678.

istio config:
[code]

[2021-11-29 10:40] pxpnetworks commented on #18838
^^ confirmed, i also get this error

[2021-11-29 11:02] ramaraochavali commented on #18838
Please try by setting host value also (to some dummy value)

[2021-11-29 11:16] pxpnetworks commented on #18838
this is my config, am i doing it right?

envoy v1.20.0
          tunneling_config:
            headers_to_add:
            - header:
                key: :host
                value: "overwritten"
              append_action: OVERWRITE_IF_EXISTS_OR_ADD
            hostname: "dummy"
            use_post: true

results in:
error initializing configuration 'tcp_tunnel_client.yaml': :-prefixed or host

[2021-11-29 11:57] eoregua opened #19116 "Update dinamically stats_matcher inclusion list"
Hi,

Is it possible to update the stats_matcher inclusion list in the envoy configuration dinamycally without the need to restart envoy pod?

e.g Move from this configuration:

[code]
To a new one:

[code]

If yes, what is the way?

Thanks!

[2021-11-29 13:29] #19033 closed

[2021-11-29 13:42] asraa commented on #19067
Hey! Sorry for the break -- routing is O(n), the issue is tracked here https://github.com/envoyproxy/envoy/issues/6602 and will probably have better responses for what the status of that is.

[2021-11-29 13:55] jmarantz commented on #19103
Great -- would you be able to supply the parameters passed to Nighthawk (preferably) or whatever tool you were using to generate the load for these traces?

Thanks!

[2021-11-29 14:01] jmarantz commented on #19103
This data is great! It really shows the profiles look very different. Just sorting by 'self' and comparing the two views provides a ton of possible issues to go explore.

Did you use an "OptDebug" build or was this a stock build or something?

[2021-11-29 14:01] wbpcode commented on #19103
I used simple `hey` to generate 100, 000 http1 request. Here is the command.

`hey -n 100000 -c 20 http://localhost:9090`.

[2021-11-29 14:03] jmarantz commented on #19103
I had not heard of `hey`. Is that this? https://github.com/rakyll/hey

[2021-11-29 14:04] wbpcode commented on #19103
I used the no stripped binary that build with ` ci/do_ci.sh bazel.release`. It finally worked, but I'm not sure it is OptDebug mode.

[2021-11-29 14:05] wbpcode commented on #19103
Yes, I am generally used to using wrk, but it seems that wrk cannot generate a fixed amount of load.

[2021-11-29 14:11] alyssawilk commented on #19035
I'd definitely be interested in rich details for what failed, especially for things like handshake failure and better explanation of why upstream endpoints were unhealthy (which we may have data on)

[2021-11-29 14:12] jmarantz commented on #19103
Nighthawk (https://github.com/envoyproxy/nighthawk) is really what we want to converge to, as you get explicit control of open/closed loop, ability to generate http2, async vs concurrent, an indication of how many requests succeeded/failed, etc.

By "fixed amount of load" does this mean a finite number of requests? Or a fixed rate of requests?

The docker images are definitely *not* in OptDebug mo

[2021-11-29 14:20] wbpcode commented on #19103
Thanks, I will try it in the coming test.

I see. Thanks. 🌷  I will try to build new binary with you suggested compile args and do some more investigates. But recently I only have enough time on weekends.

[2021-11-29 14:25] jmarantz commented on #19103
No worries -- the data you supplied is great. We'll definitely want to repro with NH though so we understand what we are comparing :)

My suspicion is that you've found something real, and based on the traces I looked at, there were changes in either tcmalloc's implementation, the way we allocate buffers, or both. The `encodeFormattedHeader` hot-spot probably deserves a quick look also as that is

[2021-11-29 14:47] htuch commented on #19059
I think we have the annotation, https://github.com/envoyproxy/envoy/blob/2bf847854610db8bc5a44ef3046fcc8f3a23518e/api/envoy/extensions/transport_sockets/tls/v3/common.proto#L249, so seems like a bug in config dump redaction. The OP seems to be asking about something different though, they're not seeing an update reflected in the config dump. I suspect that is because the update does not happen on

[2021-11-29 14:58] wbpcode commented on #19103
A multi-processes Nginx that will return simple short string directly.

In fact, nope. Nevertheless, the new version of `encodeFormatedHeader/encodeHeader` still introduces more overhead. The reason is that `encodeHeaders` call `encodeFormatedHeader` several times and write some fine-grained data (a character, a space, a header name, etc.) to the buffer.
And the new version does not use a local ca

[2021-11-29 15:07] alexkashintsev-tomtom commented on #19059
@htuch you right there are 2 points:
1. Config dump reveal session ticket keys.
2. Values are not updated in the config dump.

I see this lines in the log I provider: `[source/extensions/transport_sockets/tls/ssl_socket.cc:432] Secret is updated.`. I assume that means that secret was updated on the Envoy side.

[2021-11-29 15:08] PheonixS commented on #19059
@htuch you right there are 2 points:

Config dump reveal session ticket keys.
Values are not updated in the config dump.
I see this lines in the log I provider: [source/extensions/transport_sockets/tls/ssl_socket.cc:432] Secret is updated.. I assume that means that secret was updated on the Envoy side.

[2021-11-29 15:26] alyssawilk commented on #19077
Yep, one could have a listener filter that removes HTTP/1.1 CONNECT headers similar to how we strip proxy proto, though it's obviously not going to work for HTTP/2 and HTTP/3

[2021-11-29 15:29] asraa commented on #19092
Hey!

Take a look at https://github.com/envoyproxy/envoy/blob/b610fba9a94217ed48c939b04278635e7f2b2283/source/common/formatter/substitution_formatter.h#L22

You'd need to make changes in that module

[2021-11-29 15:40] mrsufgi commented on #9958
Cool, since I'm using AWS Envoy which doesn't support `openCensusAgent` out of the box. perhaps I'll need to use the vanilla envoyproxy or extend aws envoy using `ENVOY_TRACING_CFG_FILE` and set it up.
Ill share my results.

[2021-11-29 15:46] danzh2010 opened #19119 "quic: measure GRO performance and enable it via config"
UDP GRO is supposed to improve socket read performance on client side but currently our code performs very poorly in nighthawk client, by reading one packet per read while allocating 24k buffer. It will be worthwhile to invest the suitable traffic patten for GRO.
Meanwhile this feature is disabled in https://github.com/envoyproxy/envoy/pull/19088 and it will be good to exposed it via a config knob

[2021-11-29 15:53] maxlein opened #19120 "GRPC client to REST server / Converting protobuf to json"
*GRPC client to REST server*: *I want envoy to bridge a grpc client to REST server*

*Description*:
We have the requirements of having a REST server and a REST client as part of an interface to an external party.
To not have a dependency on some not so well-done REST c++ libraries we would like to use grpc, as we use it already internally.

So I got the REST server working with the GrpcJsonTransco

[2021-11-29 16:23] inquire commented on #9958
I managed to make it work with OpenCensus & and the OpenTelemetry agent configured to receive OpenCensus and send OpenTelemetry further. This will also connect the traces and pass the context around. Here are my config files.

Config working with envoy 1.20
[code]

OTEL Agent config used with otel/opentelemetry-collector:0.24.0

[code]

Envoy will ship OpenCensus  to the collector which will conve

[2021-11-29 17:26] htuch commented on #19059
Yeah, some secret is updated. I can't line up the timestamps of the logs and your config dump though. It might also help to ahve some trace output around secret manager and SDS (you might want to redact if there is anything sensitive manually).

[2021-11-29 17:56] ggreenway commented on #19079
@efimki feel free to create a PR to fix

[2021-11-29 17:59] stevenzzzz commented on #19113
hi James,

the ScopedRds impl has the assumption that there is only one such config, on the DS side, every (supposed to be just one) SRDS subscription is a wildcard subscription, which means they receive ALL the scopes. It's supposed to work like CDS.

A scope in SRDS is simply a "sub-resource", roughly it maps to a RDS routeConfiguration/route-table. (arguably you could also map multiple "scopes"

[2021-11-29 18:08] #18551 closed

[2021-11-29 18:26] ggreenway commented on #19116
No, this is part of the bootstrap config; any bootstrap config change requires an Envoy restart.

[2021-11-29 18:26] #19116 closed

[2021-11-29 18:30] efimki commented on #19079
Created https://github.com/envoyproxy/envoy/pull/19126

[2021-11-29 19:31] ggreenway commented on #19120
cc @lizan

[2021-11-29 19:33] ggreenway commented on #19112
cc @wrowe

[2021-11-29 19:37] ggreenway commented on #19107
cc @htuch

[2021-11-29 19:39] ggreenway commented on #19099
No, this is a bug. The configuration should have failed validation in this case.

[2021-11-29 19:40] ggreenway commented on #19099
cc @mattklein123

[2021-11-29 19:41] ggreenway commented on #19096
cc @envoyproxy/wasm-dev

[2021-11-29 19:45] #19045 closed

[2021-11-29 20:04] mattklein123 commented on #19099
Yeah definitely a bug. I can look into fixing.

[2021-11-29 20:08] mattklein123 commented on #17922
Nice this looks really promising!

[2021-11-29 20:20] KBaichoo opened #19127 "Connection Buffer: Delay processing H2 stream data on backed up streams"
Connection Buffer: Delay processing H2 stream data on backed up streams.

*Description*:
For HTTP2 (H2), we would like to reduce how aggressively Envoy serializes H2 stream data to the connection output buffer by buffering in the receiving codec instead of processing the data and pushing it to the connection output buffer.

More details in [design doc](https://docs.google.com/document/d/1VkeSWp36r

[2021-11-29 20:25] KBaichoo commented on #19127
/assign @KBaichoo

[2021-11-29 20:28] srinandan opened #19129 "Support changing the host header in ext_proc"
*Title*: *Support changing the host header in ext_proc*

*Description*:
I was attempting dynamic routing via ext_proc. To do this, I believe I have to set the Host header. However, according to [here](https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/http/ext_proc/mutation_utils.cc#L125), this header cannot be modified via ext_proc.

The host header is modifiable in the ext_a

[2021-11-29 20:34] mattklein123 commented on #19073
I don't remember why @ramaraochavali PR got reverted (we would need to look at the history) but I agree this is still a bug and we should fix.

Runtime can also be set in bootstrap as an initial layer so it seems like we could still use runtime for guarding this?

[2021-11-29 20:36] alyssawilk commented on #19073
does runtime bootstrap get applied before boostrap config validation?

[2021-11-29 20:41] mattklein123 commented on #19073
We couldn't use PGV for this (I think) so it would happen during route loading, and yeah, at that point initial runtime has been set.

[2021-11-29 20:49] ankatare commented on #18633
@gongcon Hi, just wanted to check ,  is the issue only occured at 1.18.3 ? Have you checked in latest code

[2021-11-29 21:03] seblaz commented on #18783
no stalebot

[2021-11-29 21:58] karanvasnani commented on #19087
Sorry for the delay in responding. I agree that it shouldn't be necessary for statsd and prometheus to be consistent in stats naming. We actually have a Wasm stats extension that is included with our Envoy image and we rely on these stats to be consistent for providing a better experience for the users.
I think we can look at it as a feature request for StatsD rather than a bug as it makes sense i

[2021-11-29 22:29] jpeach commented on #19113
Thanks for the clarification @stevenzzzz! From the original design doc, I interpreted the idea of a "scoped configuration set" as a binding between the key builder and a collection of scoped route resources.

[2021-11-29 22:39] cpakulski commented on #18950
@jparklab I am trying to repro this, but since Envoy and backend webservers are running on the same host in my setup I never experience any timeout. I have a full control of webservers, so I can easily add a timeout before replying. If I add a random delay to a webserver, say between 0-2 seconds, do you think that the described scenario should occur?

[2021-11-29 22:55] jparklab commented on #18950
You can simply have a cluster with two endpoints where one of the endpoints point to an invalid ip address/port, and the other points to your webserver.

[2021-11-30 00:28] lizan commented on #19120
There's no easy way to do this, you might want to implement another Envoy filter to achieve that.

[2021-11-30 00:31] lizan commented on #19089
What's your build environment? Are you using envoy-build container to build?

[2021-11-30 02:24] manlinl commented on #19067
Thank you @asraa! Just another related question, scoped routing configuration uses a key e.g., a header value to pick a route. Is it O(1)?

[2021-11-30 02:30] manlinl commented on #6602
Just another quick question, Does scoped routing configuration match key to route with O(1) or O(n) algorithm? Thanks!

[2021-11-30 04:01] #18736 closed

[2021-11-30 04:01] htuch commented on #19073
I think just write the validation as C++ in router; by time we're actually instantiating this we should have loaded the boostrap runtime layer and be ready to handle flags as needed.

[2021-11-30 05:16] ramaraochavali commented on #18838
You need this https://github.com/envoyproxy/envoy/pull/18858 fix - not sure if 1.20 has it. We have n't yet tried as we are waiting for upgrading to the version that has the above PR

[2021-11-30 06:55] gbrail commented on #19129
We had some discussion of this a long while back in https://github.com/envoyproxy/envoy/issues/14789

[2021-11-30 07:05] maikoulin commented on #19089
Version: https://github.com/envoyproxy/envoy/archive/7f2d69f96843583d109082e89aecb6cd52365eb2.tar.gz
OS: Ubuntu 18.04.6 LTS
Architecture: ARM64

I tried to build envoy with the envoy-build-ubuntu image, and the final result was also this error.

[2021-11-30 07:27] maikoulin commented on #19089
Same as in this question。
https://github.com/envoyproxy/envoy/issues/17491

[2021-11-30 07:50] giantcroc opened #19134 "Proposal: Istio Envoy mTLS Private Key Protection with HSM"
## Istio Envoy mTLS Private Key Protection with HSM
Envoy uses boringssl for tls communication, and the enabling of mTLS can also protect the connection between services from being attacked and tampered, but there’s still vulnerabilities within the private key management in Envoy, as the private key is exposed as clear text data inside the memory. The proposal is to provide a selectable choice to

[2021-11-30 08:02] github-actions[bot] opened #19135 "Newer release available `com_github_cyan4973_xxhash`: v0.8.1 (current: v0.8.0)"
Package Name: com_github_cyan4973_xxhash
Current Version: v0.8.0@2020-07-27 18:57:47
Available Version: v0.8.1@2021-11-29 18:34:10
Upstream releases: https://github.com/Cyan4973/xxHash/releases

[2021-11-30 08:43] Edimo24 commented on #19092
Hello,

I checked the one that you mentioned but in the substiturion_formatter.h there is nothing similar with what I am trying to do (I checked here: https://github.com/envoyproxy/envoy/blob/b610fba9a94217ed48c939b04278635e7f2b2283/source/common/formatter/substitution_formatter.h)

[2021-11-30 08:43] hobbytp commented on #19103
@wbpcode do you mean the issue only exists in HTTP1 or you only test it by using HTTP1, I ask this because I found in your PR  #19115, you only fix HTTP1 codes, thanks for clarification.

[2021-11-30 08:56] wbpcode commented on #19103
I only test it by using HTTP1. And codec is not the only problem. We need more investigations and PRs to continue to alleviate this problem.

[2021-11-30 08:56] wbpcode commented on #19103
I only test it by using HTTP1. And codec is not the only problem. We need more investigations and PRs to continue to alleviate this problem.

[2021-11-30 09:08] rojkov opened #19136 "All PRs with dependency updates fail in CI"
*Title*: *All PRs with dependency updates fail in CI*

*Examples*:
#19125, #19124, #19122

*Logs*:
[code]

[2021-11-30 09:09] rojkov commented on #19136
cc @phlax @kfaseela

[2021-11-30 09:20] phlax commented on #19136
cc @ashankar-fiserv

[2021-11-30 09:22] kfaseela commented on #19136
https://github.com/envoyproxy/envoy/pull/19111 should fix this. Waiting for review after incorporating comments.

[2021-11-30 10:19] LuyaoZhong commented on #18928
I investigated the API, related classes and workflow, and completed the first version of code, see https://github.com/envoyproxy/envoy/pull/19137.

In this code version, we have done:
1. introduce an API to set root CA cert/key
[code]
2. implement a local cache to store generated certs pair
3. Generate/reuse dynamic certificates pair in TLS transport socket and set SSL*
   a. if there is no corres

[2021-11-30 10:21] phlax commented on #19136
i think it may already be fixed, or was in some way transient

neither pre or post submit queues trigger this and running the offending script against current HEAD doesnt fail

i retested one of the above PRs and it passed, ill kick the others now

it would be nice to know what caused this - not sure if the fact that it always fails on the opencensus dep is relevant. It may be just that a release

[2021-11-30 10:28] phlax commented on #19136
another failing PR check:

https://github.com/envoyproxy/envoy/pull/19097/checks?check_run_id=4359014533

https://dev.azure.com/cncf/envoy/_build/results?buildId=95492&view=logs&jobId=1c04237c-5f52-5959-5f83-5522b3556331&j=1c04237c-5f52-5959-5f83-5522b3556331&t=db3f3889-c922-566b-fa2e-4bc4948bc467

[2021-11-30 11:11] phlax opened #19138 "AZP cve-scan pipeline has stopped running"
### description

As in the title the pipeline stopped running on 26/11

There were no changes (to the azp configuration) in the repo, so its not immediately clear what has caused it to stop running.

The pipeline appears to be "enabled" in the azp  UI

I have tried disabling and re-enabling the pipeline there to see if that helps

[2021-11-30 11:11] phlax commented on #19138
cc @lizan

[2021-11-30 11:13] phlax commented on #19138
cc @htuch

[2021-11-30 11:17] rojkov commented on #19136
It may well be a transient issue. The failing repo is unusual in that its [releases page](https://github.com/census-instrumentation/opencensus-proto/releases) doesn't list the v0.3.0 release. But the tag is there.

I've just re-run #19082 a couple of times with no success.

[2021-11-30 11:21] phlax commented on #19136
yep - it doesnt appear to have fixed #19097 either

ill check out one of these branches and try to repro locally...

[2021-11-30 11:34] jesseschalken commented on #18816
This is still an issue and still should be fixed, but the task that required me to fix this is put on hold. I will try @PiotrSikora's suggestion when I get around to needing to build envoy again.

[2021-11-30 11:37] kfaseela commented on #19136
@phlax could you please check my review mentioned above, I was also hitting this issue intermittently, and hence made sure that get_release call is guarded properly in the PR what I was working on

[2021-11-30 11:38] phlax commented on #18816
@jesseschalken thanks for input so far - i reckon we should raise a PR to address this

@kfaseela is this something you want to look at ? im happy to assist

[2021-11-30 11:40] phlax commented on #19136
ha, k, thanks, will do

i have managed to repro locally

[2021-11-30 11:44] phlax commented on #19136
cool, thanks @kfaseela it works perfectly

[2021-11-30 11:48] #19136 closed

[2021-11-30 12:01] phlax commented on #19138
on further investigation - "resyncing" the schedule seems to have fixed

[2021-11-30 12:01] #19138 closed

[2021-11-30 12:53] kfaseela commented on #18816
@phlax I can take a look

[2021-11-30 14:02] maxlein commented on #19120
Thx for the info.
Is there any info/help on that apart from the http filter example?
Is the GrpcJsonTranscoder filter open source? Because I couldn't find it.
That way I could get an idea on how complex this will be.

[2021-11-30 14:45] #18964 closed

[2021-11-30 14:57] wez470 commented on #10855
I wanted to ask a question here. Would it be acceptable if opt-in compile time support were added to allow ECDSA  P-384 and P-521 certificates?

[2021-11-30 14:58] htuch commented on #19107
Not sure if this is the correct diagnosis. There was already a v3 `PreviousPrioritiesConfig` in https://github.com/envoyproxy/envoy/blob/main/api/envoy/extensions/retry/priority/previous_priorities/v3/previous_priorities_config.proto which should have been boostable from the unversioned `PreviousPrioritiesConfig` (linked via `previous_mesage_type`). The warning seems legitimate; you're using the v

[2021-11-30 15:26] liverbirdkte commented on #19077
@alyssawilk why is this not gonna work for HTTP/2 and HTTP/3, too complex for a listener filter?

[2021-11-30 16:10] mattklein123 commented on #19134
Can you please close this and open a new issue with just the Envoy side change(s) you are requesting? Thank you!

[2021-11-30 16:19] alyssawilk commented on #19077
Yeah.  HTTP/1.1 CONNECT has one logical stream per connection - you strip the initial connect request and everything behind it is TCP payload.  HTTP/2 has many streams on one connection, and you would need to basically reimplement the HCM as a listener filter

[2021-11-30 16:36] ggreenway commented on #19046
I thought I remembered @snowp making a change that fixed this in the last year. Or maybe it was something else that was similar? @snowp does this ring a bell at all?

[2021-11-30 16:45] snowp commented on #19046
I think I only had us copying the FilterState, I'm guessing we need to do the same with the dynamic metadata? https://github.com/envoyproxy/envoy/pull/10458

I think one difference between FS and dynamic metadata is that FS has inheritance structure, so we can stack the L4 and L7 FS together easily. For dynamic metadata we might need to be careful to make sure that an L7 filter doesnt muck up the

[2021-11-30 16:51] ggreenway commented on #19134
It's helpful to understand the context of what you're trying to do in istio, but I agree that you'll need to make a concrete proposal of what you plan to change in Envoy.

Also, this isn't the first time HSM support has come up. See #1106.

[2021-11-30 19:16] antoniovicente commented on #14789
It may be useful to add some controls that specify what should be done if the external filter attempts to modify a disallowed header.  Some options include:
1. emit some logging or stats
2. ignore the disallowed modifications
3. error out the request

[2021-11-30 20:34] vikaskumar11 opened #19142 "TLS certificate validation: how to asynchronously fetch CRL using CRL DP present in cert"
*Title*: *TLS certificate validation: how to asynchronously fetch CRL using CRL DP present in cert*

*Description*:

[2021-11-30 20:38] gbrail commented on #14789
Check out https://github.com/envoyproxy/envoy/pull/19141 which adds a proto to start to address this issue

[2021-11-30 23:08] lambdai commented on #19103
What's the envoy cpu usage between 1.12 and 1.20?
I asked because I remember some event handle is pushed to the next poller cycle.
It means envoy trades latency for fairness.
Now that the benchmark client maintains the 20 active req/resp, it's likely the cpu usage at envoy is lower in 1.20

[2021-11-30 23:46] rgs1 commented on #6602
FWIW, in our Thrift mesh we worked around this via #8994. cc: @fishcakez

[2021-12-01 00:00] soulxu commented on #19046
@danhcole are you going to fix this issue, if not, I'm happy to help here.

[2021-12-01 01:14] wbpcode commented on #19103
@lambdai

When I tested the throughput, both 1.12 and 1.20 used a full core. When I collected callgrind data later, because it was executed in valgrind, I didn't pay attention to the cpu situation. Moreover, when we analyze callgrind data, my main concern is the change in the proportion of overhead of different functions.

[2021-12-01 01:51] danzh2010 opened #19147 "upstream_starttls_integration_test flaky"
[ RUN      ] StartTlsIntegrationTestSuite/StartTlsIntegrationTest.SwitchToTlsFromClient/0
test/extensions/transport_sockets/starttls/upstream_starttls_integration_test.cc:251: Failure
Value of: test_server_->server().listenerManager().numConnections()
Expected: is equal to 1
  Actual: 0 (of type unsigned long)
Stack trace:
  0x8cfd28: Envoy::StartTlsIntegrationTest_SwitchToTlsFromClient_Test::Test

[2021-12-01 02:02] gbrail opened #19148 "Support callbacks on write completion in the async gRPC client"
*Title*: Support callbacks on write completion in the async gRPC client

*Description*: To complete the ext_proc filter, I need to implement "async mode." In this mode, the filter doesn't wait for a response message from the external processing server -- it sends messages on the gRPC stream for each phase of the request / response, and the server is expected to process them, but can't send back a

[2021-12-01 02:17] noah8713 opened #19149 "Allow skipping use_alpn when auto_config is set for httpprotocoloptions"
*Title*: *Allow skipping use_alpn when auto_config is set for httpprotocoloptions*

*Description*:

[code]

For raw transport socket, if there is no alpn support where its simple tls for upstream, can we allow setting use_alpn to false as there is no over-ride option?
[code]
Goal is to ensure allowing http2 traffic to be passed via istio ingressgateway and at the same time cater to http1.1 case pr

[2021-12-01 06:31] kfaseela commented on #18816
@jesseschalken : I tried to pick the latest version as per https://omahaproxy.appspot.com/, and https://chromium.googlesource.com/chromium/src/+/refs/tags/98.0.4710.4/DEPS, however this revision of boring_ssl brings in a breaking change as you already reported above, that needs some refactoring in SPIFFEValidator::doVerifyCertChain in envoy. Hence moved back to 94.0.4606.81 as suggested by @PiotrS

[2021-12-01 08:01] github-actions[bot] opened #19153 "Newer release available `bazel_compdb`: 0.5.0 (current: 0.4.5)"
Package Name: bazel_compdb
Current Version: 0.4.5@2020-08-01 07:23:27
Available Version: 0.5.0@2021-09-09 12:24:05
Upstream releases: https://github.com/grailbio/bazel-compilation-database/releases

[2021-12-01 08:03] github-actions[bot] opened #19154 "Newer release available `org_llvm_llvm`: llvmorg-13.0.1-rc1 (current: llvmorg-12.0.1)"
Package Name: org_llvm_llvm
Current Version: llvmorg-12.0.1@2021-07-09 05:26:48
Available Version: llvmorg-13.0.1-rc1@2021-11-30 01:30:41
Upstream releases: https://github.com/llvm/llvm-project/releases

[2021-12-01 08:03] github-actions[bot] opened #19155 "Newer release available `org_llvm_releases_compiler_rt`: llvmorg-13.0.1-rc1 (current: llvmorg-12.0.1)"
Package Name: org_llvm_releases_compiler_rt
Current Version: llvmorg-12.0.1@2021-07-09 05:26:48
Available Version: llvmorg-13.0.1-rc1@2021-11-30 01:30:41
Upstream releases: https://github.com/llvm/llvm-project/releases

[2021-12-01 08:03] github-actions[bot] opened #19156 "Newer release available `com_github_bufbuild_buf`: v1.0.0-rc8 (current: v0.53.0)"
Package Name: com_github_bufbuild_buf
Current Version: v0.53.0@2021-08-25 18:41:57
Available Version: v1.0.0-rc8@2021-11-10 17:47:03
Upstream releases: https://github.com/bufbuild/buf/releases

[2021-12-01 08:24] Edimo24 opened #19157 "Customize Envoy access logging command operator REQ(X?Y):Z"
I am trying to customize some of envoy operators. I would like to add some tags to different operators in envoy source code like %REQ(X?Y):Z% and %RESP(X?Y):Z%. I need something like %**[tag]**REQ(X?Y):Z**[/tag]**%.

Normally I would do the changes in header_formater.cc but I cannot find these two command operators there, any idea where to edit the Envoy code in order to have the tags?

[2021-12-01 09:31] soulxu opened #19159 "http: directly response 1xx will trigger the assert failure"
I'm just using envoy to do some test, expect envoy return http 100 directly, with envoy config:

[code]

Then it got failed with assertion.

[code]

not sure it is useful usecase in the real world, but seems it shouldn't be failed at assertion.

[2021-12-01 09:42] soulxu commented on #19159
Working on a fix, it should be able fixed here by checking the 1xx response and invoking `encode1xxHeaders` instead of `encodeHeaders`

https://github.com/envoyproxy/envoy/blob/3baae860b020d0014938f061c2fa0b215ecbc1df/source/common/http/filter_manager.cc#L975

cc @alyssawilk

[2021-12-01 09:45] liverbirdkte commented on #19077
@alyssawilk, thanks for the comments.  If it's fine to have this listener filter, I could start with some code to terminate HTTP/1.1 CONNECT.

[2021-12-01 11:23] ankatare opened #19160 "Envoy Install doc issue"
*Title*: *doc to install envoy in ubuntu is not correct for v1.18.3*

*Description*: see url https://www.envoyproxy.io/docs/envoy/v1.18.3/start/install#install-envoy-on-ubuntu-linux

[optional *Relevant Links*:]

[2021-12-01 11:24] ankatare commented on #19160
issue is "E: Failed to fetch https://dl.bintray.com/tetrate/getenvoy-deb/dists/bionic/InRelease  403  Forbidden [IP: 52.36.71.255 443]"

[2021-12-01 12:54] mtenrero opened #19162 "Envoy HTTP Upstream Proxy, sometimes receives 404 no cluster match for URL '/'"
*Title*: *Envoy HTTP Upstream Proxy, sometimes receives 404 no cluster match for URL '/'*

*Description*:
Trying to setup an Upstream cluster, some request reach its destination but the exact same request sometimes gets a 404 from envoy with the following access log error:

[code]

*Repro steps*:

envoy config:
[code]
*Admin and Stats Output*:
[code]

[2021-12-01 13:13] phlax commented on #19160
hmm - we are probably going to need to backport some fixes to the docs

im close to having deb publishing ready (#17979) but its looking more like the new year before that will be ready, rpm support should follow

we will then need to figure out how to publish for currently supported historic versions

im wondering if we should just backport what is in the current docs first as these links no long

[2021-12-01 13:29] unleashed commented on #17576
I see the referenced PR has been closed and no other link exists while the issue has gone stale - is this issue resolved elsewhere or is it otherwise really stale with no one working on it and no plans moving forward?

[2021-12-01 15:28] alyssawilk commented on #19159
hm, I'm actually inclined to think that configuring a direct response with rc 1xx is a control plane bug and should be validated against. 100 headers are informational headers and I believe they need to be followed with non-informational headers for a complete response.
cc @htuch @wrowe for thoughts

[2021-12-01 16:25] mattklein123 commented on #19149
Can you provide a more complete Envoy config of what is causing this issue (no Istio details please). It's hard for me to understand the actual problem.

[2021-12-01 17:28] noah8713 commented on #19149
Sure:  e.g when applying below filter for enabling case preserve using auto_config vs explicit_http_config,

[code]

envoy continuously fails for error/rejecting any new changes seen from proxy logs below:
[code]

 [envoy config dump](https://raw.githubusercontent.com/noah8713/gw-dumps/master/config_dump-envoy-ingressgateway-58f5f7ff9d-5vfqc.json)

[2021-12-01 17:44] phlax commented on #18816
@jesseschalken as #19152 has hopefully addressed this issue this should be fixed

please do reopen if its still an issue

[2021-12-01 17:57] mattklein123 commented on #19149
Can you put the full config dump in a public gist?

[2021-12-01 18:00] asayah commented on #19120
@maxlein  check this https://docs.solo.io/gloo-edge/latest/guides/traffic_management/destination_types/grpc_to_rest_advanced/

[2021-12-01 18:03] mattklein123 commented on #19149
Also can you describe the desired flow at a high level? I'm still confused about what "auto" functionality you are trying to achieve without using ALPN.

[2021-12-01 18:04] noah8713 commented on #19149
Sure: [dump-gist](https://gist.githubusercontent.com/noah8713/b4fa7ff87d0cbe4d4153bea8c41ee1c6/raw/a194c5a7c1a1bc36cc12ed73979f890c34cacc04/envoy-gw-config-dump-dev.txt)

[2021-12-01 18:05] jesseschalken commented on #18816
Thanks. I tried to build https://github.com/envoyproxy/envoy/pull/19152 earlier today and the build still failed because of brotli but not boringssl. So I think the boringssl build failure is fixed but I didn't run it with `--keep_going` before opening this issue to see that boringssl wasn't the only problem. I started building it with `--keep_going` to capture all the issues but didn't have time

[2021-12-01 18:13] noah8713 commented on #19149
If we have n services where n/2 services are http1 and n/2 services are http2, need to  skip http1.1 case preserve if the service is http2 automatically vs defining case preserve explicitly for all n/2 services . Hence, trying to leverage auto_config but it seems use_alpn is mandatory if auto_config is chosen.

Also, envoy cluster match is exact string match and no regex. So will end up creating n

[2021-12-01 18:29] maxlein commented on #19120
Well, that's the wrong direction.
This grpc transcoder we already have.

Question is about a grpc client calling a REST Server which doesn't know protbuf.

[2021-12-01 18:30] #19099 closed

[2021-12-01 18:37] ggreenway commented on #18870
You can configure an access log line for each upstream attempt; that will tell you everything about which cluster, which host in that cluster, why it failed, etc.

[2021-12-01 18:41] kfaseela commented on #18816
@jesseschalken please update all the issues which you are hitting afterwards here.

[2021-12-01 18:55] ggreenway commented on #19162
Is it possible that the failing requests didn't match the configured domains `domains: ["rsapi-external", "rsapi-external.secure-management.svc.cluster.local"]`?

[2021-12-01 18:59] mtenrero commented on #19162
No, all request had the appropriate Host header

[2021-12-01 19:01] mtenrero commented on #19162
In the end this malfunction was caused by a change made in envoy 1.20.0 related with `enable_reuse_port` which is described here: [https://github.com/envoyproxy/envoy/issues/19099](https://github.com/envoyproxy/envoy/issues/19099)

Modifying the configuration above, letting only one listener per port and embedding all routes behind different `virtual_hosts` entries solves the issue

[2021-12-01 19:01] #19162 closed

[2021-12-01 20:36] robinp-tw commented on #19107
Hello @htuch ! Not sure what you mean, indeed the v2 should have been boostable to v3 - but it missed a whitelisting, see https://github.com/transferwise/envoy/commit/b8c209e1d7b49091812cdedd1aafa0955c3b5846.

As I get, why that whitelist is needed, is since these specific v3 configs were forgotten to be added timely when the v2 deprecation happened. So they were added later and got special except

[2021-12-01 21:06] #18870 closed

[2021-12-01 21:41] efimki opened #19165 "Add a flag `StreamInfo::hasAppliedRequestHeaderTransforms()`"
*Title*: *Add a flag `StreamInfo::hasAppliedRequestHeaderTransforms()`*

*Description*:
Our filter needs to know on the response path whether any header transforms were applied on the request path.
It is particularly difficult because `RouteEntryImplBase::finalizeRequestHeaders` has logic to call `HeaderParser::evaluateHeaders` from either route or vhost or combination thereof.

It would be nice t

[2021-12-01 21:42] ggreenway commented on #19157
I think what you're looking for is here: https://github.com/envoyproxy/envoy/blob/main/source/common/formatter/substitution_formatter.cc#L368

[2021-12-01 22:57] cpakulski commented on #18950
@jparklab Yes, you are right. Your proposed fix is fine. consecutive5xx and gateway counters are already reset in https://github.com/envoyproxy/envoy/blob/release/v1.20/source/common/upstream/outlier_detection_impl.cc#L358-L359, so you can also call `resetConsecutiveLocalOriginFailure`().

[2021-12-01 22:58] codefromthecrypt commented on #18820
1.20.1 (available in homebrew) sorts this out

[2021-12-01 23:08] cpakulski commented on #18789
Sounds good. I will implement this. I think that the API should be extended to define status codes considered as errors, so one can specify exact codes which will cause a node to be considered an outlier.

[2021-12-02 03:09] giantcroc commented on #19134
OK, I will modify the proposal later. Thanks!

[2021-12-02 03:14] giantcroc commented on #19134
OK, I will modify the Istio part of this proposal and add more details about Envoy part. Thanks!

[2021-12-02 05:48] htuch commented on #19107
https://github.com/envoyproxy/envoy/commits/main/api/envoy/extensions/retry/priority/previous_priorities/v3/previous_priorities_config.proto has existed since early 2020. Why wouldn't you be able to upgrade to this before going from 1.17 to 1.18?

In this case, since a v3 version had existed, and the v2 version was marked for deprecation, it didn't need special case treatment I think.

[2021-12-02 05:54] htuch commented on #19159
Yeah, I agree, it doesn't seem to have a valid use case that I can think of. It would be fine with me to add a PGV validation here, since I don't see any reasonable use of the API with the more relaxed current state.

[2021-12-02 07:14] zhxie opened #19167 "matcher: extend generic matching with regex matcher tree"
*Title*: matcher: extend generic matching with regex matcher tree

*Description*:

This is a proposal on extending the generic matching with the regex matcher tree.

The release of generic matching has simplified the processing of matching and routing in filters, and also unifies the matching logic in filters, avoiding the duplication of matching codes in different filters. Currently, generic matc

[2021-12-02 07:17] zhxie commented on #19167
@snowp @rojkov I think you might be interested in this proposal, would you like to take a look?

[2021-12-02 12:01] #18761 closed

[2021-12-02 13:12] StarryVae opened #19170 "WASM：onRequestBody will not be called when no body in a http request"
*Title*: *WASM：onRequestBody will not be called when no body in a http request*

*Description*:
If I want to set body in onRequestBody api when  no body in a http request, wasm seems do not work, it will skip the onRequestBody api since there is no body in the http request.

[2021-12-02 14:18] kfaseela commented on #19106
@phlax we can close this

[2021-12-02 14:20] phlax commented on #19106
yep!

[2021-12-02 14:20] #19106 closed

[2021-12-02 16:06] #18757 closed

[2021-12-02 16:06] #18759 closed

[2021-12-02 16:27] alyssawilk opened #19172 "remove GCOVR macros"
they don't work and they're being misused.

tl;dr of thread below, they were added to mark code as not covered and exclude those lines from coverage builds.  They no longer exempt code from coverage.  They do crash if the line of code is unexpectedly hit in production. We've had at least one CVE due to an "uncovered" line being hit in production due to a code change and we'd like to avoid more.

T

[2021-12-02 16:44] grzegorz-mirek commented on #10173
@mk46 Is there a way to use fault injection on per route basis? I want to apply it to specific requests only (based on e.g. path prefix).

[2021-12-02 17:25] ggreenway commented on #19170
cc @envoyproxy/wasm-dev

[2021-12-02 18:40] hq6 opened #19175 "[gRPC-JSON transcoder] Support configurable request buffer limit"
*Title*: *Support configurable request buffer limit in gRPC-JSON transcoder*

*Description*:
Today, as far as I can tell, the gRPC-JSON transcoder can handle a maximum request size of 64 KB, due to [flow control](https://github.com/envoyproxy/envoy/blob/main/source/docs/flow_control.md) limitations limiting the amount of data a filter can buffer.  The requested feature is to add a configurable buf

[2021-12-02 19:53] alyssawilk commented on #19172
Ok have a first "easy" PR out, mostly replacing 'functions we don't expect to call' with ENVOY_BUG rather than production crash.

Going through GCOVR_EXCL uses, the by far most common one is
switch (some enum)
case A:
// do work
case B:
// do more work
default:
PANIC() //crash the binary

which is great insofar as if you add a new field C, and don't correctly find every switch statement in the cod

[2021-12-02 20:03] alyssawilk commented on #19172
alternately we could have exhaustive case statements and a macro to panic if we see the sentinels?   I'm a big fan of exhaustive case statments...

[2021-12-02 20:59] mattklein123 commented on #19172
I would be a fan of this, I just don't know how we would enforce it other than code review?

[2021-12-02 23:28] mattklein123 commented on #19149
That config dump is huge. Can you provide some kind of simplified example of what you want to achieve? I still don't understand the goal here. "auto" config basically means to use ALPN to figure out what protocol to use. If you aren't doing auto how are you choosing whether to use H1 or H2?

[2021-12-03 00:09] kyessenov commented on #19046
Filter state is significantly faster in heavy use than metadata (for inter-filter communication). Should we instead add a structured accessor to filter state and make proxy protocol populate a filter state?

[2021-12-03 00:30] travisgroth commented on #18510
Still an issue

[2021-12-03 00:34] noah8713 commented on #19149
Sure. amended for a sample cluster/service in the same gist to shorten the dump file.
For how are you choosing whether to use H1 or H2?
thats defined in the k8s service spec using protocol e.g. for protocol  grpc, it creates filter chain as
[code]
Hence, asked if using auto_config, why alpn is mandatory ? or rather shouldnt it not auto translate to select without alpn whether h1/h2.

[2021-12-03 03:35] ggreenway commented on #18510
As I understand it, the issue doesn't have anything to do with which CA certs are in the OS or docker image, it has to do with cross-signed certs with one of the CAs being expired. Correct?

@davidben It sounds like if Envoy sets `X509_V_FLAG_TRUSTED_FIRST` this should be resolved. Is that correct? What are the chances that setting that flag will break some other valid certificate chain is current

[2021-12-03 03:38] ggreenway commented on #18510
@travisgroth if you want to help with a fix, any chance you can figure out how to add a new (self signed) cert to https://github.com/envoyproxy/envoy/blob/main/test/extensions/transport_sockets/tls/test_data/certs.sh that is valid but fails validation due to this bug?

[2021-12-03 03:46] htuch commented on #19172
The compiler would enforce the exhaustion property. I like the idea of exhaustive coverage inside the switch statement rather than relying on default, is there a way to make these macros compact and easy to use given the very verbose generated values? I'm sure there is a way, e.g. using protoc plugin to generate some aliases, but hopefully there is an easy way :)

[2021-12-03 04:01] #18752 closed

[2021-12-03 08:04] github-actions[bot] opened #19181 "Newer release available `skywalking_data_collect_protocol`: v8.9.0 (current: v8.6.0)"
Package Name: skywalking_data_collect_protocol
Current Version: v8.6.0@2021-06-07 15:19:10
Available Version: v8.9.0@2021-11-13 11:40:29
Upstream releases: https://github.com/apache/skywalking-data-collect-protocol/releases

[2021-12-03 08:04] #18345 closed

[2021-12-03 09:54] Andy-Gong opened #19183 "What is the Envoy retry behavior when we don't set retry_policy for upstream?"
Hi, team,
Currently, when sending the request to upstream, one of the upstream nodes returns some 503 responses and route_config as below which isn't set any retry_policy. For this use case, I want to ask 2 questions.

1. will the request be retried?
2. If we add the `retry_policy`, will the request be sent to another upstream node or does it just re-send the request to the same upstream?

[code]

[2021-12-03 12:00] ykostsik opened #19184 "Make the query parameters optional in routing"
*Title*: *Add an ability to route the traffic based on the query parameters given that some of them could be omitted*

*Description*:
Hi team,
This could be a question or a feature request.
I would like to route traffic based on the query params I specified and I see it's possible when using `virtual_hosts.routes.match.query_parameters`
But it checks all or nothing according to the documentation.

[2021-12-03 13:24] phlax commented on #19108
i think this was fixed in #19111

[2021-12-03 13:24] #19108 closed

[2021-12-03 13:26] phlax commented on #18354
fixed in #19047

[2021-12-03 13:26] #18354 closed

[2021-12-03 16:01] #18712 closed

[2021-12-03 16:18] davidben commented on #18510
BoringSSL flipped the default already.
https://boringssl.googlesource.com/boringssl/+/8f5eb80b810ff63d14ad3535cb16f7cb8271a4f5

Also it whether it may break other stuff, you'll just have to try it and see I'm afraid. The legacy verifier you're using doesn't have a real path builder. Trusted first merely changes it from one arbitrary decision to the other. It's possible to construct inputs that req

[2021-12-03 16:35] mattklein123 commented on #19149
Because this is what auto does. It determiens what to use based on ALPN. Given that you are already deciding whether to use H1 or H2 based on some label, I think you just want to populate an explicit_http_config for h1 for h1 services.

[2021-12-03 16:36] mattklein123 commented on #19172
Only if there is no default, which is something I often comment on in code reviews. It would be really nice if there was some way to tell the compiler that we don't allow default, but I don't think this exists.

[2021-12-03 17:04] noah8713 commented on #19149
Agree as thats the current behavior. Issue is to configure explicit_http_config with case preserve, we will have to populate explicit_http_config for h1 services explicitly for all clusters. Also [cluster match](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto) on name only support exact name and hence if we have n clusters from same namespaces, leveraging regex w

[2021-12-03 17:06] mattklein123 commented on #19149
You are already doing this for h2 services. Fundamentally, you have to tell envoy how to pick a protocol. Either it's prior knowledge or you have to use ALPN.

[2021-12-03 17:44] noah8713 commented on #19149
Thanks. Yes thats how its done by istio  for now based on protocol .Will take a note that autoconfig will solely rely on alpn and we cannot tweak it and rather keep it as is. So it seems may be we will have to define an option in istio/k8s service itself ; say if service is h1 and needs case preserve, add an option and it should generate relevant config with preserve_case option on top of h1.

Las

[2021-12-03 18:10] keith commented on #18339
https://github.com/envoyproxy/envoy/pull/17460

[2021-12-03 18:11] qiwzhang commented on #19175
From JSON to proto message transcoding, I don't think the filter needs to buffer up the whole request body,  it can do "field-by-field" while the data is coming in.  It may need to buffer up a whole field.  So the current limit may limit the field length.

My only concern with the bigger limits is:  will it break the whole flow-control if this filter buffer up more data than flow-control allowed.

[2021-12-03 18:11] keith commented on #16482
Ok the long running rules_go / golang update landed https://github.com/envoyproxy/envoy/pull/17460 so we'll have to test end to end again but I think the previously known blockers are all resolved!

[2021-12-03 18:13] scrocquesel commented on #18838
I'm using the latest dev image, it should contains what is in the main branch.

That aside, I don't know how modifying the headers pass to the upstream after CONNECTing will affect the hostname used to do the actual CONNECT.

[2021-12-03 18:13] scrocquesel commented on #13809
There is an ongoing discussion at https://github.com/envoyproxy/envoy/issues/13809

[2021-12-03 18:14] scrocquesel commented on #13809
There is an ongoing discussion at https://github.com/envoyproxy/envoy/issues/18838

[2021-12-03 18:37] hq6 commented on #19175
I think for my use case, there are particular fields that might be larger than 64 KB which is why I'm requesting this feature.

If the flow control allowed limit is available via some API, then the filter could do a minimum of this limit (if specified) and the flow control limit, right?

[2021-12-03 18:48] kyessenov opened #19189 "Internal address metadata transfer from upstream"
We would like to expose some metadata through the user space socket (internal listener). The metadata can originate from several sources:
- endpoint metadata;
- upstream cluster metadata;
- stream info remote address;
- downstream and upstream stream info metadata and filter state;

The right place to write appears to be the connection stream info metadata and filter state. Filter state is prefera

[2021-12-03 18:54] keith commented on #16482
Alright I just tested a `bazel build envoy` on my M1 machine and it works end to end! That doesn't cover all possible configurations, but it's still a good sign. @codefromthecrypt can you build your other configurations and see if any new issues come up?

[2021-12-03 19:02] bbassingthwaite commented on #19149
I believe I am experiencing a similar issue:

The config that is erroring out for me:

[code]

This config works fine with explicit http2 but changing it to auto breaks. I've tried removing the alpn_protocols but with no luck. Am I missing something? I tried digging into the code but it seems that the validation thinks my socket doesn't support alpn but it should.

[2021-12-03 19:07] bbassingthwaite commented on #19149
Changing from `transport_socket_matches` to `transport_socket` fixes my issue.

[2021-12-03 19:09] mattklein123 commented on #19149
Hmm, it seems like that might be a bug but I would need to look at the code. The issue is probably that if there is a matching system the config can't verify what will end up getting matched so it can verify that it supports ALPN. In your case if you only have a single match I think that is the right thing to do.

[2021-12-03 19:18] noah8713 commented on #19149
This is being generated from  istio in our case when we define the filter as we dont specify transport_socket as it always selects socket match explicitly.
[code]

[2021-12-03 19:42] gongcon commented on #18633
@ankatare no, 1.18.3 was the latest version we used at that time. No sure what the latest is now.

[2021-12-03 21:28] visualzhou commented on #19046
#18940 proposed to parse the TVLs and put them into a filter state. I'm preparing the PR. @soulxu would that solve the problem, or at least half of it?

[2021-12-03 22:55] nareddyt commented on #19175
Flow control should not affect the buffer limit in the gRPC JSON transcoder. There are two separate buffer limits the transcoder checks:
1) for requests, it gets the limit from the `per_connection_buffer_limit_bytes` field in the [Listener config](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/listener/v3/listener.proto). Default is 1 MiB, but you can change your listener config to have

[2021-12-03 23:13] hq6 commented on #19175
Thanks for the pointers!
We'll try the listener configurations and validate whether those will allow us to overcome the limits.

[2021-12-03 23:13] #19175 closed

[2021-12-04 00:07] arhamahmed commented on #18716
@dio hey any updates?

[2021-12-04 00:29] danhcole commented on #19046
To be clear, I don't think that the TLV information necessary needs to be in dynamic metadata, just somewhere that's accessible to the http connection manager, either for logging, or to inject as an HTTP header, for instance.

[2021-12-04 00:31] nitgoy commented on #13604
No, I only added http version. Doing it at network filter will require the high/low watermark capabilities in the network filter callbacks which I believe are not currently exposed there.

[2021-12-04 04:01] #18222 closed

[2021-12-04 08:03] github-actions[bot] opened #19190 "Newer release available `rules_foreign_cc`: 0.7.0 (current: 6c0c2af)"
Package Name: rules_foreign_cc
Current Version: 6c0c2af@2021-09-22 00:35:40
Available Version: 0.7.0@2021-12-03 16:53:29
Upstream releases: https://github.com/bazelbuild/rules_foreign_cc/releases

[2021-12-04 08:03] github-actions[bot] opened #19191 "Newer release available `com_github_bazelbuild_buildtools`: 4.2.4 (current: 4.2.3)"
Package Name: com_github_bazelbuild_buildtools
Current Version: 4.2.3@2021-10-26 14:35:16
Available Version: 4.2.4@2021-11-29 13:51:57
Upstream releases: https://github.com/bazelbuild/buildtools/releases

[2021-12-04 12:01] #18800 closed

[2021-12-04 12:01] #18804 closed

[2021-12-06 00:02] #18826 closed

[2021-12-06 00:35] belyalov commented on #8440
Thanks for response @wheelpharaoh
I've implemented it, but didn't test it on real setup yet.
See #19192

[2021-12-06 02:43] htuch commented on #19172
This would be a trivial clang-check plugin (if it doesn't already exist). Just need to scan the AST for forbidden default tokens inside switch.

[2021-12-06 09:16] mrsufgi commented on #9958
I didnt added my solution here yet :) I managed to work envoy issues with AWS Fargate and Appmesh!

First I had to create a custom envoy docker that add config to the image (note that there are many methods for adding configs to images without creating a custom Docker

[code]

My tracing config for envoy looks like this:

[code]

My otel-collector config is accepting opencensus/jaeger and otlp:

[

[2021-12-06 13:07] meteorcloudy opened #19196 "Bazel CI: coverage tests failing"
Envoy is failing on Bazel CI with the following error:

https://buildkite.com/bazel/envoy/builds/1760#e52e34d8-4722-4144-8c07-7002e01fcbaf
[code]

We currently use a separate config file for envoy in downstream with additional dependencies installed:
https://github.com/bazelbuild/continuous-integration/blob/master/pipelines/envoy.yml#L19

https://github.com/envoyproxy/envoy/blob/main/.bazelci/pres

[2021-12-06 13:13] meteorcloudy commented on #19196
Please fix the failure for Bazel CI, otherwise Envoy will be disabled in Bazel downstream and no longer get test coverage with Bazel@HEAD.

[2021-12-06 14:20] alyssawilk commented on #19172
cool, I'lll work on setting up a macro and converting our existing code over.  Thanks to @RyanTheOptimist for the suggestion!
I think if we remove the GCOVR macro at least folks won't panic-by-default, and will likely mostly cargo cult code over.

[2021-12-06 14:27] hstefan opened #19198 "Routing protobuf payloads to gRPC services"
*Title*: Routing protobuf payloads to gRPC services

*Description*:

At Spotify we've been looking into allowing clients to call gRPC backend services by implementing something similar to [gRPC Fallback](https://googleapis.github.io/HowToRPC.html#making-rpc-api-requests). This would allow us to support unary calls from platforms where gRPC isn't available or for some reason suboptimal from the cli

[2021-12-06 18:37] jpsim commented on #16482
@keith should we update rules_go from 0.27.0 to 0.29.0 to unblock M1 build support?

[2021-12-06 19:26] keith commented on #16482
We're on 0.28 now, it landed as part of that PR above

https://github.com/envoyproxy/envoy/blob/70a5f295da789610b9d078015f43e39c6a76d4b6/bazel/repository_locations.bzl#L654

I think we're unblocked here, post here if you see issues

[2021-12-06 21:22] jparklab commented on #18950
@cpakulski Thanks for checking. I created a PR with the fix: #19205

[2021-12-06 22:05] owenammann commented on #18875
Hey @PiotrSikora,
Trying to understand the SDK better. Where in the code is this inline function `getHeaderMapPairs` limited to just `onRequestHeaders`? Considering the callback is evaluated after onRequestHeaders returns, it would make since that the callback cannot call this, but I am curious how this is actually implemented. Maybe a simple way to implement may be what you mentioned here re: "ca

[2021-12-06 23:40] owenammann commented on #18875
Is it because getContext is of type Context and not ExampleContext?

[2021-12-07 00:52] bgregg opened #19206 "What is the TARGETPLATFORM in the Dockerfile-envoy?"
Hello,

I have managed to successfully compile an Envoy binary, and now I am trying to create a docker container using the new binary (step 2 from this documentation page: https://www.envoyproxy.io/docs/envoy/latest/start/building/local_docker_build ).

However I am getting this error when trying to run the command listed:

`Sending build context to Docker daemon  1.902GB
Step 1/16 : ARG BUILD_OS=

[2021-12-07 01:15] moderation commented on #19103
Via https://news.ycombinator.com/item?id=29457579 there are some good examples of projects that track performance over time:

- https://ziglang.org/perf/
- https://perf.rust-lang.org/
- https://llvm-compile-time-tracker.com/

[2021-12-07 01:38] codefromthecrypt commented on #16482
thanks for the progress @keith. The goal isn't so much me working, but homebrew working (#17500). I won't have time to resolve all the issues, but I can share where things are right now.

Firstly, while envoy's build requires git (#2181), you need a git tag in order to test whether homebrew works or not. (cc @carlocab in case I am mistaken) Anyway, as that seems to be the case, and I don't have ka

[2021-12-07 01:59] keith commented on #16482
Thanks for testing, I've submitted https://github.com/Homebrew/homebrew-core/pull/90601 which allows you to do `brew install --build-from-source envoy --HEAD` which helps test this more easily.

Is your host an M1 mac? Do you have a full installation of Xcode vs only the command line tools?

[2021-12-07 02:30] soulxu commented on #19159
got it, thanks for the feedback

[2021-12-07 04:26] Patrick0308 commented on #16482
I tested on my m1 mac.
[code]

[2021-12-07 06:31] ankatare commented on #18633
@gongcon couple of finding:

**i don't find  change in the logic in v1.18.3 wrt #11187, and as per comments in file api/envoy/type/matcher/regex.proto**
[code]
So, if the deprecated field is not present then Envoy check max_program_size via runtime and thats why code is executing to through exception ?

**also if max_program_size is present then only old logic apply as below**

[code]

[2021-12-07 06:33] ankatare commented on #18633
@gongcon one quick thing seeing your comments above, are you want to increase the default value of max_program_size (currently 100) ?

[2021-12-07 06:34] ankatare commented on #18633
@rojkov Sorry, i did not understand typo here in PR  #17096?

[2021-12-07 08:01] Patrick0308 commented on #16482
@keith I fixed the above problem by `sudo xcode-select --switch /Applications/Xcode.app`. And It has built successfully. GOOD JOB!! THKS!!

[2021-12-07 08:02] github-actions[bot] opened #19207 "Newer release available `com_github_grpc_grpc`: v1.43.0-pre1 (current: a3ae8e0)"
Package Name: com_github_grpc_grpc
Current Version: a3ae8e0@2021-06-07 22:24:54
Available Version: v1.43.0-pre1@2021-12-06 17:49:08
Upstream releases: https://github.com/grpc/grpc/releases

[2021-12-07 08:15] codefromthecrypt commented on #16482
@carlocab (but anyone can answer) do you know if there's a way to avoid
explicit settings like above? Seems we want to avoid configuration, ideally
zero.

On Tue, Dec 7, 2021 at 4:01 PM 白泽 ***@***.***> wrote:

[2021-12-07 08:34] Patrick0308 commented on #16482
@codefromthecrypt The need to install XCODE and configure it correctly is probably unavoidable. Fortunately, the configuration is correct after installed XCODE in normal.

[2021-12-07 08:43] carlocab commented on #16482
@Patrick0308 would you happen to know what `xcode-select --print-path` was before you did `xcode-select --switch`?

[2021-12-07 08:54] Patrick0308 commented on #16482
@carlocab Sorry, I didn't print the PATH of the active developer directory before did `xcode-select --switch`. What I know is that before I did `bazel build bazel` that I updated my XCODE.
If I did `sudo xcode-select --switch /Library/Developer/CommandLineTools`, there are something wrong when building enovy.
[code]

[2021-12-07 08:56] carlocab commented on #16482
Ah. Chromium. The formula probably needs a
[code]

[2021-12-07 09:55] Marco-Zheng opened #19208 "use mac_ci_steps.sh build failed"
*Title*: use mac_ci_steps.sh build failed

*Description*:
after executing `sh mac_ci_setup.sh`, here comes a problem when i use `mac_ci_steps.sh`

Mac version: 11.2.3

*Repro steps*:
1、sh mac_ci_setup.sh
2、mac_ci_steps.sh

*Admin and Stats Output*:
[code]

[2021-12-07 10:54] ankatare commented on #19147
@danzh2010 in my local env test results is PASSED.
See below
bazel test test/extensions/transport_sockets/starttls:upstream_starttls_integration_test --runs_per_test=200

[code]

[2021-12-07 10:55] ankatare commented on #19147
JFYI: i run in latest dev code

[2021-12-07 12:00] phlax commented on #19206
hi @bgregg

i dont think it has to do with `TARGETPLATFORM` the problem is that its expecting the binary to be in the default folder, not your custom one

i guess you have a couple of options

- move the binary to the expected folder
- hack the Dockerfile to point to your custom folder

i guess we could make the binary source directory (more) configurable to account for this scenario, but it seems

[2021-12-07 12:09] phlax commented on #19206
hmm, maybe its not a bad idea

[2021-12-07 12:12] phlax commented on #19206
apologies - im realising that `TARGETPLATFORM` is the configurable - did you try setting it to your custom folder ?

i was confused by the name of the var and the fact that `$ git grep TARGETPLATFORM` only turns up the dockerfile

[2021-12-07 13:01] taehioum commented on #17801
Hello.
It seems like setting both ```on_header_present``` and ```on_header_missing``` of Header To Metadata filter's typed_per_filter_config can simulate this behavior; but it would be nice if we can do it without such workaround.

[2021-12-07 13:26] phlax commented on #17801
@taehioum not that im aware of or can see from a quick search of issues/prs

[2021-12-07 13:56] #13196 closed

[2021-12-07 18:25] ravenblackx commented on #19026
From discussion with Alyssa yesterday and Matt on Friday, there's a speedbump in here; in my mind state signals would travel through filters to the things they control, but it turns out many of the signals are more "connection global" than that, e.g. a high watermark event goes to every filter and source effectively simultaneously, where for this buffering filter to make sense it would need to be

[2021-12-07 19:03] bgregg commented on #19206
Hey @phlax,

Thanks for reaching out. I was finally able to get it to work; I had to run the following command:

`sudo docker build --build-arg TARGETPLATFORM=./linux/amd64 -f ci/Dockerfile-envoy -t envoy .`

I basically searched my local repository for the folders that the Dockerfile was referencing and I found them in ./linux/amd64. Considering this folder is not part of the remote repository, I

[2021-12-07 19:03] #19206 closed

[2021-12-07 19:05] phlax commented on #19206
yep it kinda does - it builds things *inside* the container to paths that are linked to your current folder - ie the repo

[2021-12-07 19:17] bbassingthwaite commented on #19149
This issue also manifests itself when wrapping a TLS socket with PROXY protocol, and I think the tap socket also same issue.

[2021-12-07 22:12] hochuenw-dd commented on #18953
@mattklein123 A gentle ping since this is your blog 😄  I'm curious about any quick hints that you may have. Thank you!

[2021-12-07 22:33] owenammann commented on #18875
@PiotrSikora  I was actually able to achieve doing this in the callback by making an HttpCallHandler similar to grpc. going to make a pull request

[2021-12-07 22:53] owenammann commented on #17208
I've found a solution for this and will be making a PR

[2021-12-07 23:34] codefromthecrypt commented on #16482
ok trying it on both my Macs prior to marking ready for review. 🤞 and thanks folks. seems we're nearly there (pending an envoy release) https://github.com/Homebrew/homebrew-core/pull/90695

[2021-12-07 23:42] codefromthecrypt commented on #17500
PS to help avoid problems in the future, it would be helpful to run CI on `brew install --build-from-source envoy --HEAD` as this will help identify build failures before a release. For example, if there is drift in bazel or a new build dependency.

Thanks to @Keith for adding the syntax to the [envoy.rb](https://github.com/Homebrew/homebrew-core/blob/master/Formula/envoy.rb)

[2021-12-07 23:49] carlocab commented on #17500
You could run a regular CI job that just does `brew install --HEAD envoy`.

[2021-12-08 00:14] #16988 closed

[2021-12-08 00:19] mitchsw commented on #5488
Even if Redis has no support for tracing under the hood, I think it could still be possible for Envoy's Redis Filter to emit a client-side span which includes details about where the Redis cmd was routed, client-side latency, errors, etc. Has this feature been discussed

[2021-12-08 00:21] codefromthecrypt commented on #16482
The error is now improved, if full Xcode isn't installed. Thanks for figuring this out @Patrick0308 and thanks for the config tip @carlocab!

[code]

[2021-12-08 02:01] zhxie commented on #19167
After some discussions, I would like to split the proposal and submit separately.

[2021-12-08 02:01] #19167 closed

[2021-12-08 02:05] llu94 opened #19215 "Upstream Connection ID in Access Logs"
*Title*:  Implement an Upstream Connection ID Field in the Access Logs

*Description*:

As per the latest documentation Envoy currently supports the downstream connection ID in its access logs. This is used to cross reference logs across multiple log sinks or to do timing related analysis on connections. Is it possible to have a comparable log entry for the upstream connection IDs and if so how wo

[2021-12-08 02:22] llu94 commented on #19215
Can someone add the area/access_log label to this issue?

[2021-12-08 04:01] Patrick0308 commented on #16482
I almost did nothing except `bazel clean`. But I built failed again.
[code]

[2021-12-08 06:50] #19196 closed

[2021-12-08 08:02] github-actions[bot] opened #19216 "Newer release available `com_github_google_perfetto`: v22.1 (current: v21.0)"
Package Name: com_github_google_perfetto
Current Version: v21.0@2021-11-02 23:48:06
Available Version: v22.1@2021-12-07 20:37:08
Upstream releases: https://github.com/google/perfetto/releases

[2021-12-08 08:15] rojkov commented on #19215
cc @auni53 @zuercher @davinci26 @itamarkam

[2021-12-08 09:01] giantcroc opened #19217 "Proposal: Envoy mTLS Private Key Protection with HSM"
## Envoy mTLS Private Key Protection with HSM
Envoy uses boringssl for tls communication, and the enabling of mTLS can also protect the connection between services from being attacked and tampered, but there’s still vulnerabilities within the private key management in Envoy, as the private key is exposed as clear text data inside the memory. The proposal is to provide a selectable choice to enable

[2021-12-08 09:53] domcar commented on #12203
Did anyone solve this issue? I'm having kind of a similar problem with istio: https://github.com/istio/istio/issues/36431

[2021-12-08 11:16] Edimo24 opened #19218 "Add a string to a command operator - Envoy Access logging"
Hello,

I am trying to add a string to a command operator but as far as I can understand this command operator does not return a string. Is there any way how to convert it to string?

**I am trying to do the changes in substitution_formatter.cc for the DOWNSTREAM_LOCAL_ADDRESS command operator.**
The idea was to convert the command operator to a string and then concatenate with another string (see

[2021-12-08 12:33] Zsolt-LazarZsolt opened #19219 "What happens if the available range of stream identifiers is exhausted"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: what is the behavior when https stream identifiers are exhausted.

*Description*:
In a setup with an upstream where h2 is set, but no max_stream_duration or max_requ

[2021-12-08 12:48] codefromthecrypt commented on #16482
After installing, switching to, and accepting the license of full Xcode, the current main branch works for me on my M1 laptop!

Looking forward to 1.21 as it will allow homebrew to remove the arm64 exception!

[code]

[2021-12-08 14:10] hbrls commented on #18866
The example here is workable.

https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/ext_authz_filter

[2021-12-08 14:54] nezdolik commented on #19198
@mattklein123 @alyssawilk @euroelessar any opinions on this?

[2021-12-08 16:37] Zsolt-LazarZsolt commented on #19219
We have also seen a difference between documentation and code:
The code seem to be hard capping if not given:
https://github.com/envoyproxy/envoy/blob/main/source/common/http/conn_pool_base.cc#L94
https://github.com/envoyproxy/envoy/blob/main/source/common/http/conn_pool_base.cc#L172-L174

While the documentation does not mention any default behavior:
https://www.envoyproxy.io/docs/envoy/latest/ap

[2021-12-08 16:49] owenammann commented on #18875
Nevermind, it appears I don't have this issue in the first place. I am able to access the original request in the callback. I had a code error which was causing a crash.

[2021-12-08 16:49] owenammann commented on #17208
Nevermind, it appears I don't have this issue in the first place. I am able to access the original request in the callback. I had a code error which was causing a crash.

[2021-12-08 18:28] #18875 closed

[2021-12-08 18:53] htuch opened #19222 "bazel.fuzz is not run by CI"
Seems pretty broken when run on CLI:
[code]

I think we should be validating that the local fuzz flows continue to work in CI. I noticed this when working manually through the instructions at https://github.com/envoyproxy/envoy/tree/main/test/fuzz#running-fuzz-tests-locally.

CC @phlax

[2021-12-08 19:36] Edimo24 commented on #19092
Hello @asraa,

I am trying to add a string to a command operator but as far as I can understand this command operator does not return a string. Is there any way how to convert it to string?

I am trying to do the changes in substitution_formatter.cc for the DOWNSTREAM_LOCAL_ADDRESS command operator.
The idea was to convert the command operator to a string and then concatenate with another string (

[2021-12-08 20:01] #17854 closed

[2021-12-08 20:01] #18607 closed

[2021-12-08 21:05] juliankung-db opened #19223 "Support TRACE methods in router_check tool"
Currently, the router_check tool only supports GET, PUT, and POST methods according to the documentation https://www.envoyproxy.io/docs/envoy/latest/configuration/operations/tools/router_check (in the method section).

I am looking to create some tests that ensure envoy denies TRACE methods for my route, but can't do so because of this limitation. Would it be a difficult problem to support all met

[2021-12-08 21:07] scrocquesel commented on #18380
@PiotrSikora Did you had time to look at this ?

[2021-12-08 21:19] #19135 closed

[2021-12-08 22:13] kyessenov commented on #19189
To add some context, the internal listener is likely to utilize HTTP dynamic forward proxy or TCP original destination cluster for forwarding. Therefore, as a _minimum requirement_, the metadata passed from the original listener to the internal listener must be able to configure:
* host header override (e.g. obtained from `CONNECT` method);
* local address override in L4 stream info (to drive orig

[2021-12-08 22:24] kyessenov commented on #19046
I think filter state is the right abstraction for passing dynamic info between filters at different levels. The logging accessor has a limitation that it returns the filter state object as a whole so for structured filter state, we may need a structured accessor.

[2021-12-08 22:25] andye2004 commented on #12203
My issue actually turned out to be user error although I can't remember the exact details now. Sorry.

[2021-12-08 23:18] gongcon commented on #18633
@ankatare `max_program_size` is deprecated from the doc and there's no replacement. Question is why it's still being checked. Think either to set the default to a big enough value like MAX_INT or re-intro the setting will be good.

[2021-12-09 00:24] jk5228 commented on #9223
I think we are running into the same issue. @alexandru-ersenie same question! 🙂 Did you figure out what was going on here?

[2021-12-09 03:08] mattklein123 commented on #18953
- Sorry I don't have any piece of advice. Any of the options you list could work, it really depends on the overall design of the system you are trying to design which is beyond the scope of Envoy itself. I would recommend talking to other practioners, watching conference talks, etc. for ideas.

[2021-12-09 03:23] #19006 closed

[2021-12-09 05:18] noah8713 commented on #19149
@mattklein123  Please advice; what would is the proposal/suggestion here to move forward for changes/fix further when applying to multiple clusters?
May be even have a regex support for cluster match as that would solve problem without using auto_config with alpn as a pre-req or we fix auto_config with alpn settings in general for transport_socket_matches.

[2021-12-09 07:02] ramaraochavali commented on #8440
@HenryYYang We are also looking for this bug fix. Any update on when you will be able to work on this?

[2021-12-09 13:32] alyssawilk opened #19228 "proposal to shift Envoy's targeted release dates"
Right now, according to RELEASES.md, Envoy aims to cut the quarterly releases on the last day of each quarter.

This means annually we would aim to cut a release 12/30, a time when many maintainers are out, and when most Envoy users who run from head are in winter prod-freeze, meaning recent changes have not been as thoroughly tested by early adopters.

The Envoy maintainers propose shifting the a

[2021-12-09 13:45] alyssawilk opened #19229 "Clean up PANIC_DUE_TO_CORRUPT_ENUM macros"
https://github.com/envoyproxy/envoy/pull/19204 replaced NOT_REACHED_GCOVR_EXCL_LINE macros with more clear PANIC_DUE_TO_CORRUPT_ENUM macros.

While more clear, the panics are still suboptimal becasue doing break; instead of return; results in production crashes.  These should be cleaned up and replaced with sensible defaults on a case by case basis.

[2021-12-09 13:53] Edimo24 commented on #19218
@ggreenway

[2021-12-09 13:54] dobegor commented on #15152
@PiotrSikora so we have a use case where neither `ext_proc` nor tinygo + wasm sdk help us - we want to validate requests according to the supplied OpenAPI schema.

`ext_proc` just murders the performance and `tinygo` doesn't support a lot of things that are required to parse json/yaml/xml, just as @bkgs has said.

So we'd be very happy to have a first-class Go extension API to solve these problems

[2021-12-09 15:16] tbarrella commented on #14696
I stopped work on this for now so @kyessenov or someone else can continue. Templatizing ECDS code so it can be used for more than just HTTP filters is done, but I did not start any work on network filters.

[2021-12-09 16:04] alyssawilk commented on #19198
For the goal of skipping the transcoder filter based on content type, I thought snow did work here (https://github.com/envoyproxy/envoy/issues/12968) based on a similar desire to turn filters on and off by header value (https://github.com/envoyproxy/envoy/pull/14722)  but I didn't follow along the whole chain.  @snowp can you advise?

[2021-12-09 16:18] c-parsons opened #19230 "Envoy CI broken with Bazel@HEAD: "Error: key "@envoy//bazel/external:quiche.genrule_cmd" not found in dictionary""
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2275#99855095-5591-4b13-a464-1b13d64604f7

`Error: key "@envoy//bazel/external:quiche.genrule_cmd" not found in dictionary`

It doesn't seem like a definition for `@envoy//bazel/external:quiche.genrule_cmd` exists in bazel/external/BUILD in this repository?

[2021-12-09 16:42] danzh2010 opened #19231 "Utility::getLocalAddress() returns address with the wrong IP version"
This helper function is supposed to take in a IP version and returns the first non-loopback address of that version.  However, https://github.com/envoyproxy/envoy/pull/18821 changes it to return the first non-loopback address of any IP version.

[2021-12-09 16:48] danzh2010 commented on #19231
@junr03

[2021-12-09 17:16] joshperry opened #19232 "starttls transport socket double open event"
*Title*: starttls transport socket double open event

*Description*:
I am writing a small filter that is meant to take advantage of the starttls transport in order to handle a server-first pre-TLS handshake. I've completed the custom implementation and it works properly up to the point where the TLS negotiation succeeds.

Pretty sure this is a bug, but I'm not exactly sure the best route to take i

[2021-12-09 19:34] KBaichoo commented on #19127
I’ve added code to buffer on the receiving codec side data and trailers and am working through how to drain the buffered data – buffering occurs by intercepting the decodeData / decodeTrailer to see if the stream has readDisable called on it e.g. a buffer has overrun, and if don’t send the decodeData/decodeTrailer call as usual, instead wait until we’re no longer read disabled.

Now in order to dr

[2021-12-09 20:01] #18834 closed

[2021-12-09 20:01] #18859 closed

[2021-12-09 20:23] #19153 closed

[2021-12-09 20:31] gbrail commented on #15152
Since you said "ext_proc just murders the performance," I'd obviously love
to know more. I recall someone (maybe you) noticing that header
marshalling / unmarshalling was taking a long time, but I never heard
whether it was a problem on the Envoy proxy side or on the external
processor side.

Do you you have a specific use case or even codebase that we could use to
start to have some folks work on

[2021-12-09 21:17] danhcole commented on #19046
Is filter state passed to the HCM available to HTTP filters?  I'm thinking of specifically the Lua filter here, where I can see a use case in grabbing a TLV from ProxyProtocol, and doing something with it in a Lua script, or the ext_authz filter, where the TLV.

For what it's worth, both of these filters support dynamic metadata, which is why I mentioned that initially.

[2021-12-09 22:25] lizan commented on #19232
It's not clear for me from the log posted above, what is your filter doing? An test can reliably reproduce this would definitely help.

[2021-12-10 00:02] #18856 closed

[2021-12-10 02:16] cpakulski commented on #19232
@joshperry Can you describe using pseudo code how your filter interacts with starttls transport socket?

[2021-12-10 03:19] soulxu commented on #19046
Checking the code, I think you can access filter state through the StreamInfo in HCM https://github.com/envoyproxy/envoy/blob/a7a00d9e8d52e517c1db1fd98dc09b5d193c8585/source/common/http/filter_manager.h#L674

But I'm not sure it works with Lua filter, since the StreamInfo wrapper doesn't expose the filter state
https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/lua_filter#

[2021-12-10 03:49] giantcroc commented on #19134
Hi! I create a new issue to show more details about our proposal.
https://github.com/envoyproxy/envoy/issues/19217
Looking forward to your comments and suggestions. Thanks!
@lizan @ggreenway @mattklein123 @asraa

[2021-12-10 04:44] tommyp1ckles commented on #19229
I'd like to work on this.

[2021-12-10 05:46] joshperry commented on #19232
This is the meat:

[code]

This part of the stack trace, (2) is called when the TLS handshake succeeds, (1) is called by the event handler,  (3) is the assert that gets triggered because the connection is not in `pending_conns_`.

1. https://github.com/envoyproxy/envoy/blob/9d476a1563ab8acc244bad3246d2b13368d5552a/source/common/tcp/original_conn_pool.cc#L310
2. https://github.com/envoyproxy/envoy/

[2021-12-10 05:48] joshperry commented on #19232
[code]

[2021-12-10 06:10] johnzheng1975 commented on #6189
Same issue for me. The solution maybe:
Add a envoyfilter lua before ratelimit, we need decode the token by ourselves and add header from token.

Then , do ratelimit.

[2021-12-10 06:56] jhpatel opened #19236 "Proactively sending close header to the downstream"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: Proactively sending close header to downstream upon failure and graceful shutdown.

*Description*:
We noticed close header is not sent proactively upon the side car

[2021-12-10 11:36] PheonixS commented on #19059
Hi @htuch ,
here is synchronised logs of envoy.
[debug.log](https://github.com/envoyproxy/envoy/files/7692367/debug.log)

Logs of SDS server:
[code]

[2021-12-10 12:01] #18869 closed

[2021-12-10 12:16] ankatare commented on #18633
@gongcon humm. not sure why it is like that **design wise** as it seems still checking with runtime if NOT set.

[2021-12-10 12:17] ankatare commented on #18633
@snowp @rojkov any suggetions on how to proceed here, should we increase it's default value ?

[2021-12-10 13:55] snowp commented on #18633
If there was a regression here we should track that down, I don't think we should be arbitrarily bumping the default value.

@rojkov did you verify that we're not seeing size enforcement for commits between the one that supposedly removed the check and mine? This code existed before my change
[code]
, so I'd have expected the check to always be there?

I wonder if this never changed and the right

[2021-12-10 14:59] hstefan commented on #19198
@alyssawilk I'm not sure I understand how that would help in our case, I think that PR tries to achieve something else if I understand correctly.

What we're trying to do is allowing HTTP 1.1 clients to call gRPC by sending the request protobuf as the payload as an alternative to JSON. For some of our applications serializing protobufs is not an issue, and their pain point is using gRPC libraries

[2021-12-10 15:05] snowp commented on #19198
Re skipping filter execution we can do that with the matching API + SkipAction: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/advanced/matching/matching_api.html?highlight=extensionwithmatcher#filter-integration

re http1_bridge I don't see any problem with adding support to the http1_bridge filter to inject the gRPC frame (the same way the reverse bridge manages it) if someone i

[2021-12-10 15:18] snowp commented on #18633
Yeah revisiting that code I thought it was a typo too, but turns out the semantics are: if program size is specified, validate directly, if not, do a program size check based on runtime values. I think this is the same semantics as previously?

I might get a PR up to make this clearer from code, it's a bit confusing right now.

[2021-12-10 15:19] soulxu commented on #19223
I tested with router_check tool with config as below:

route config:
[code]

The test is
[code]

It seems the TRACE method works.
[code]

It should be the doc issue.

[2021-12-10 16:41] rojkov commented on #18633
Right, makes sense. But only after a bit of thinking :)

@gongcon So, it seems `max_program_size` isn't checked indeed if not present. What's checked is the runtime values.

[2021-12-10 16:48] hstefan commented on #19198
@snowp glad to hear injecting the framing sounds reasonable to you.

re SkipAction: wouldn't that also bypass the `google.api.http` annotations? Consider this example:

[code]

The json transcoder would map `/v1/concat` to the `Concat` RPC, but I believe skipping the filter means the URL wouldn't be mapped and the verb and path would be different depending on content-type (if that's how we determi

[2021-12-10 17:07] danzh2010 commented on #19231
/assign @junr03

[2021-12-10 19:34] rgs1 commented on #19103
Not to hijack this thread, but this might be possibly related: on our end we recently started looking at `slow_alloc()` dominating CPU time as seen in our view of Envoy via `perf top`:

![Screen Shot 2021-12-10 at 2 33 02 PM](https://user-images.githubusercontent.com/1349891/145631251-d20f629e-bc9b-439b-bbdf-6a916abf575f.png)

cc: @fishcakez

[2021-12-10 20:31] euroelessar commented on #19198
It doesn't feel plausible to implement bypass-transcoding logic in json-grpc-transcoder as many of its features rely on a full ownership/control over the generated protobuf message.
For example, one can specify url as `/v1/{a.b.message_id}`, which assumes that `a.b.message_id` field is unconditionally set to the corresponding field, which is non-trivial to ensure if an original message body is sup

[2021-12-10 22:22] #19001 closed

[2021-12-10 23:23] JonasHiltl opened #19245 "Envoy only forwards raw JWT string instead of payload"
I'm trying to forward the payload of a JWT token send through the `Authorization` header of a request. Below is the excerpt of my Envoy config in which I define the authorization rules.

[code]
## Expected Behavior
I expected the payload of the JWT to be forwarded because I set the `forward_payload_header` property to `auth_user`. But when I inspect the outgoing request after hitting the proxy the

[2021-12-10 23:35] hochuenw-dd commented on #18953
@mattklein123 thanks!

[2021-12-10 23:35] #18953 closed

[2021-12-11 00:02] #18802 closed

[2021-12-11 00:02] #18835 closed

[2021-12-11 00:02] #18836 closed

[2021-12-11 00:02] #18837 closed

[2021-12-11 00:02] #18845 closed

[2021-12-11 00:02] #18874 closed

[2021-12-11 00:52] gongcon commented on #18633
A bit confuse, is the runtime value configurable? Also, is this message coming from runtime value checker?
[code]

[2021-12-11 03:00] acruise opened #19246 "ext_authz: "envoy_grpc" client of "grpc_service" always uses HTTP/1.1"
*Title*: ext_authz: "envoy_grpc" client of "grpc_service" always sends HTTP/1.1

*Description*:
I'm trying to set up an authenticated, non-transparent forward proxy server (i.e. using HTTP CONNECT). After a day or two of struggle getting the basic proxy functionality working, now I'm trying to plug in an external authorization service.  I'm currently using Envoy 1.20.1 in docker (because the Mac D

[2021-12-11 07:13] inaryart commented on #9300
My traffic passes through envoy to nginx, once nginx sets `ssl_protocols         TLSv1.3;`, the following error appears
![image](https://user-images.githubusercontent.com/51652878/145668042-02bad173-22ea-4d37-b65f-9577071ed0bc.png)

I set `ssl_protocols TLSv1.2;` everything works fine

[2021-12-11 09:59] phlax commented on #18497
fixed in #19243

[2021-12-11 09:59] #18497 closed

[2021-12-11 11:37] inaryart opened #19248 "How to rewrite the response message"
*Description*:
How to rewrite the response to this message
[code]
I have tried all the following fields and it doesn't work
[code]

[2021-12-11 12:01] #18734 closed

[2021-12-11 12:01] #18893 closed

[2021-12-11 12:20] choldrim commented on #17318
@jparklab Would you show your workaround?

I met this same problem, envoy modified the location header of a 302 response, the location header was modified from '/user/login' to 'http://$svc_name/user/login', and it lost port number in $svc_name but my default svc port is not 80, so it failed.

[2021-12-11 14:37] chenwng commented on #18983
Encountered the same issue during integration with keycloak. It would be good to be able to configure the logout endpoint for signout redirection.

[2021-12-11 16:59] JonasHiltl commented on #19245
Oh, I get it now. The payload is base64 encoded after validating the JWT.
`eyJyb2xlIjoiVVNFUiIsImlzcyI6InNlc3Npb25zLmNvbSIsInN1YiI6IjYxYjNjNTJhNWQ0MGNkNjY2ZGFkYzcxZSIsImlhdCI6MTYzOTE3MTM3NX0` =
`
{"role":"USER","iss":"sessions.com","sub":"61b3c52a5d40cd666dadc71e","iat":1639171375}
`

[2021-12-11 16:59] #19245 closed

[2021-12-11 20:01] #18581 closed

[2021-12-11 21:28] danielkwinsor commented on #12713
Revisiting this topic in light of log4j2 exploit in the wild -- yes, true, envoy is not vuln to that, but envoy may propagate an invalid x-b3-traceid header that could later be logged by a system that is vuln.

[2021-12-11 21:46] hstefan commented on #19198
That makes a lot of sense @euroelessar. I hadn't considered dynamic routes and was actually only considering static mapping. It shouldn't be a big problem to stick to gRPC notation, but what I was thinking about was the case where a grpc service is exposed both through JSON transcoding and the "protobuf over http1" approach I was proposing. It may be a bit confusing that the same RPC requires diff

[2021-12-11 22:56] joshperry commented on #19232
Here is a repro/regression test. The integration test code is not using tcp_proxy like a full envoy stack would, so it is not susceptible to this bug.

https://github.com/joshperry/envoy/commit/d3db0e5daefda4fea13baefea3d5421af3631eda

Test output:
[code]

[2021-12-12 00:14] joshperry commented on #19232
Prospective fix: https://github.com/joshperry/envoy/commit/39c45c51fcc2d89385cc0db06d1877242251808f

[2021-12-12 08:03] github-actions[bot] opened #19250 "Newer release available `skywalking_data_collect_protocol`: v8.9.1 (current: v8.6.0)"
Package Name: skywalking_data_collect_protocol
Current Version: v8.6.0@2021-06-07 15:19:10
Available Version: v8.9.1@2021-11-13 11:40:29
Upstream releases: https://github.com/apache/skywalking-data-collect-protocol/releases

[2021-12-12 08:03] #19181 closed

[2021-12-12 16:57] htuch commented on #19059
I'm not seeing anything obvious, @JimmyCYJ @lizan any thoughts on this one?

When I look at the code, I think the relevant sites are the dump code for tickets, at https://github.com/envoyproxy/envoy/blob/fef9121735e2dc680b58a192d04b2f9251f1a0a5/source/common/secret/secret_manager_impl.cc#L283 and the SDS update at https://github.com/envoyproxy/envoy/blob/fef9121735e2dc680b58a192d04b2f9251f1a0a5/so

[2021-12-12 20:24] seblaz opened #19252 "Content-Type is wrongly set when returning a response in a WASM filter"
*Title*: *Content-Type is wrongly set when returning a response in a WASM filter*

*Description*:

When Envoy acts as a proxy and the upstream service doesn't include a `Content-Type` header, then the response sent by Envoy to the downstream doesn't include that header either. Nevertheless, when the response sent to the downstream is generated by a WASM filter that doesn't include the `Content-Typ

[2021-12-13 02:35] jparklab commented on #17318
@choldrim You can work around by specifying the redirect address with port as @chrisxrepo mentioned. https://github.com/envoyproxy/envoy/issues/17318#issuecomment-880359185

[2021-12-13 02:47] llu94 opened #19255 "Ext_Authz and Ext_Proc Duration Custom Access Logs"
*Title*: *Ext_Authz and Ext_Proc Duration Custom Access Logs*

*Description*:
I would like to add custom access logs that contain duration/timing information to Envoy's external authorization and external processing filters.

[optional *Relevant Links*:]
This issue was inspired by this PR: https://github.com/envoyproxy/envoy/pull/18976

[2021-12-13 07:54] sha-rath opened #19257 "Questions on stream id exhaustion and handling the error NGHTTP2_ERR_STREAM_ID_NOT_AVAILABLE"
*Title*: *Questions on stream id exhaustion in long-lived HTTP2 connections and handling the error NGHTTP2_ERR_STREAM_ID_NOT_AVAILABLE*

*Description*:
In one of our tests where an HTTP2 server based on nghttp2 was used, it was observed that an unknown error was thrown once the stream id's were exhausted. After this, the connection remained open without any valid stream id and therefore it failed

[2021-12-13 08:48] StarryVae commented on #19252
I think it is the problem of "sendLocalReply", your rust example  calls "send_http_response" api and it will finally call "sendLocalReply" function in proxy. And in "sendLocalReply", it may set Content-Type to text/plain default.

Here is the code: https://github.com/envoyproxy/envoy/blob/main/source/common/local_reply/local_reply.cc

[2021-12-13 09:43] rojkov commented on #18633
Yes, the threshold is set by the runtime value `re2.max_program_size.error_level`. I think you can increase it with something like
[code]
added to your config.

And, I guess, the matcher doc needs to updated to mention the program size is still checked against the runtime value.

[2021-12-13 10:05] ankatare commented on #18633
@rojkov +1 on doc.

[2021-12-13 10:08] ankatare commented on #18633
@rojkov Howvever, seems you are refering Latest code and @gongcon experiencing issue in v1.18.3. there is no such case of `"do_program_sixe_check" `in `1.18.3`

[2021-12-13 10:25] ankatare commented on #18633
@rojkov @snowp plese suggest if i push doc PR on latest code for more clarity for users ?

[2021-12-13 10:39] rojkov commented on #18633
Yes, please go for it.

[2021-12-13 10:43] rojkov commented on #18633
v1.18.3 does the check as well. The reported error message `RE2 program size of 139 > max program size of 100 set for the error level threshold. Increase configured max program size if necessary` suggests that. If it checked against RegexMatcher's config the message would be different.

[2021-12-13 10:56] ankatare commented on #18633
@rojkov Sorry, i think i could make it clear.My point is keyword "`do_program_size_check`" as a high level check does not exist in code of v1.18.3. Can you double check please .

[2021-12-13 10:56] ankatare commented on #18633
Thanks.. will push PR ASAP

[2021-12-13 10:59] PheonixS commented on #19059
@htuch yes, only inline bytes are not updated.  Timestamp/version correctly bumped.

[2021-12-13 11:19] phlax commented on #19252
cc @PiotrSikora @alyssawilk

[2021-12-13 11:29] phlax commented on #19219
cc @yanavlasov

[2021-12-13 11:35] techpavan commented on #4195
Could the log message be updated to point to the exact absolute path so that users can easily delete to return to non superuser mode?

[2021-12-13 11:38] phlax commented on #19248
it would probably be helpful to have a sandbox example of this, i dont think we do atm.

i have an example here which i was working on previously, that may be helpful:

https://github.com/envoyproxy/envoy/pull/17296/files#diff-6088d75d405e88b6b24a3d0afaea4e5d2b56b561cd58922f6ea04879be72b884R42-R62

[2021-12-13 11:45] phlax commented on #19255
cc @alyssawilk

[2021-12-13 11:52] phlax commented on #19230
checking this, i think `@envoy//bazel/external:quiche.genrule_cmd` refers to a file rather than a rule - and afaict its not visible from outside that directory

not sure why that is exactly or whether it is/not a good idea to make it visible, but adding `exports_files` in the `BUILD` directory would expose it

[2021-12-13 11:57] flyingyang opened #19261 "Sidecar send unexpected RST packet to ingress gateway, which result in intermittent 503 at client side during upload files."
I don't know where should I commit the issue, so I commit this issue here and in istio repo.
`https://github.com/istio/istio/issues/36489`
But I think this could be the envoy's issue.

### Bug Description

We have a storage pod running in our cluster with istio injection enabled and get some intermittent 503 UC errors at client side during upload 300M files.

Our topology is below, we have an ingr

[2021-12-13 12:13] dobegor commented on #15152
@gbrail sorry for a bit out-of-context (and probably hyperbolic) comment on `ext_proc` performance. What I meant was actually the latency that would be much higher if we use this approach instead of in-process request validation. Not that it matters for all use cases (it would add no more than ~40ms tops), but some use cases may not enjoy this.

Currently we decided to go with `ext_proc` approach

[2021-12-13 12:18] hzxuzhonghu opened #19262 "dynamic_warming_clusters does not turn active"
https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/36446/integ-security-istiodremote-tests_istio/1469215302897111040/artifacts/security-mtls-first-party-jwt-7/_suite_context/test-ns1-1-13830-state-1569201954/config/c-v1-b4f9bbdb6-2qzvb_proxy-config.json

This is the config dump, as can be seen, there are many dynamic warming clusters, not sure why they are always warming.

[code]

[2021-12-13 12:44] hzxuzhonghu commented on #19262
@Shikugawa seems related to #12783

[2021-12-13 12:53] hzxuzhonghu commented on #19262
@lambdai  is this similar as #13874

[2021-12-13 13:37] seblaz commented on #19252
Hi @StarryVae, thank you for the quick response! Is this the expected behaviour?

[2021-12-13 14:49] phlax opened #19263 "Dependency checker should ignore pre-releases"
### description

currently the dependency checker doesnt discriminate pre-releases - eg https://github.com/envoyproxy/envoy/issues/19154

[2021-12-13 14:49] phlax commented on #19263
cc @kfaseela

[2021-12-13 15:01] yanavlasov commented on #19219
Unfortunately the [error is ignored](https://github.com/envoyproxy/envoy/blob/c01793eb32a58f122d9a54cca7a432565e8186c9/source/common/http/http2/codec_impl.cc#L547). I have marked this as bug.

[2021-12-13 16:08] kfaseela commented on #19263
I can work on this

[2021-12-13 16:16] howardjohn commented on #19262
Maybe never sent EDS?

[2021-12-13 16:53] jmarantz opened #19264 "logger: static-init fiasco in ENVOY_BUG implementation"
we need to use MUTABLE_CONSTRUCT_ON_FIRST_USE rather than using a static map and mutex for ENVOY_BUG to avoid unexpected behavior if something triggers that during other fiasco-ridden static init.

See https://github.com/envoyproxy/envoy/blob/c01793eb32a58f122d9a54cca7a432565e8186c9/source/common/common/assert.cc#L110

[2021-12-13 17:31] linsun commented on #19228
Hi @alyssawilk we had a discussion in Istio's TOC meeting today, and we believe if Envoy is released on the 15 days into the quarter, it would be best for Istio releases as we typically release 4-6 weeks after Envoy and it is also our best interest to avoid releasing in Dec due to holidays.

Thanks so much for allowing us to provide feedback!

[2021-12-13 17:38] alyssawilk commented on #19228
Awesome - thanks for the feedback.  I've heard the 15th is better from one other source so we'll likely go with that barring other objections which arise.  It'd also mean this release we could aim for January 15th and not be out of SLO for the prior target of 12/30 +/- 3 weeks and it's nice to not have to worry about when we do the move by having both new and old overlap :-)

[2021-12-13 17:52] nosmo opened #19268 "Add per-request time added by Envoy to statistics"
*Title*: Add per-request time added by Envoy to statistics

*Description*:

As mentioned in #12437, the total time added by Envoy to a request can be obtained from access logs by subtracting %RESP(X-ENVOY-UPSTREAM-SERVICE-TIME)% from %DURATION% on a per-request basis. We'd like to analyse this number for the purposes of monitoring and reporting, and so it would be extremely useful if this number c

[2021-12-13 18:14] llu94 commented on #19255
Added my PR

[2021-12-13 18:38] #19191 closed

[2021-12-13 18:53] moderation commented on #19263
Be aware that there is all manner of different release strategies being used by repos. Some repos don't have releases. Some repos have releases but never tag a latest release. Some repos have releases where everything is a pre release.

An example of a dependency we use that has _only_ pre releases - https://github.com/grailbio/bazel-compilation-database/releases

[2021-12-13 19:05] phlax commented on #19263
hmm, thats annoying - not sure why they are doing that, altho i believe that repo is in "maintenance mode" so maybe related

in the main i think we only want notifying of actual releases rather than pre-releases - there are a couple already where its flagging the "wrong" version

[2021-12-13 19:22] #19216 closed

[2021-12-13 20:10] moderation commented on #19263
That is one example - there are many in our full list

[2021-12-13 20:11] gbrail commented on #15152
Thanks for the update! It'd be great to understand your use case, but I
don't want to burden this PR any further. I think that ext_proc is capable
of operating in an environment that adds a lot less than 40ms of latency,
but I don't know if there are changes to your use of ext_proc that would
help you get there.

On Mon, Dec 13, 2021 at 4:13 AM George Dobrovolsky ***@***.***>
wrote:

[2021-12-13 20:11] phlax commented on #19263
can we add a flag in the metadata `use_prerelease` or somesuch ?

[2021-12-13 20:18] phlax commented on #19263
For reference these are the currently flagged releases, that i think should not be, or have the wrong version:

- https://github.com/envoyproxy/envoy/issues/19207
- https://github.com/envoyproxy/envoy/issues/19156
- https://github.com/envoyproxy/envoy/issues/19155
- https://github.com/envoyproxy/envoy/issues/19154

not 100%, but i think this is a byproduct of the fixes/updates we made to the dep c

[2021-12-13 20:22] 0xbeny opened #19272 "extract jwt token to header with jwtProvider"
**I want to extract jwt token that was received from the request header and put the properties into header**
**I tied this yaml file but I got an error**
**i have a problem with defining http_filters using the available extension in envoy such as jwtHeader and jwtProvider,...**

[code]

**I really appreciate someone helping me**

[2021-12-13 20:23] tkennedy1-godaddy opened #19273 "Envoy logs unexpected data when proxying the request via a WASM filter"
*Title*: *Envoy logs unexpected data when proxying via a WASM filter*

*Description*:
We are intercepting requests and proxying those to a different service sometimes, depending on the headers in the request using the `on_http_request_headers` method on the `HttpContext` object, where we invoke `dispatch_http_call` and set `Action::Pause` on the inbound request.

On the `on_http_call_response` met

[2021-12-13 20:53] ggreenway commented on #19218
I don't understand the question. Can you elaborate/rephrase?

[2021-12-13 21:42] kyessenov opened #19274 "Transport socket for internal listeners"
*Description*: add support for custom transport socket options for the internal listeners.

*Issue*: Internal address in an HTTP connection pool assumes re-use of the TCP stream between multiple downstream HTTP requests. This is not always desired, e.g. if the internal listener partitions requests into multiple streams based on some request attributes, because it puts those attributes into the out

[2021-12-13 22:40] acruise opened #19276 "ext_authz: Consider sending enveloped request to http_service instead of as-is"
*Title*: ext_authz: Consider sending enveloped request to http_service instead of as-is

*Description*:
I've been looking into using envoy as a non-transparent, authenticated egress proxy (i.e. using HTTP CONNECT). External Authorization seems like a good way to go, but when I tried to use an `http_service` I saw that the requests were being copied to the ext_authz service as-is, i.e. a CONNECT re

[2021-12-13 22:47] juliankung-db commented on #19223
Confirmed that I can also use TRACE. I'll leave this issue open so that the docs can be fixed.

[2021-12-13 22:55] jmarantz commented on #19264
i'll take this as some low-grade code therapy.

[2021-12-14 01:14] hzxuzhonghu commented on #19262
It has sent, you can see it in the config, "outbound|443||c.test-ns1-1-13830.svc.cluster.local" lb endpoint is empty as the pod readiness probe(15020) has not succeeded.

[code]

[2021-12-14 01:14] howardjohn commented on #19262
I think after CDS update EDS must be resent though?

[2021-12-14 01:28] hzxuzhonghu commented on #19262
It looks cds is not updated after first sent, there is no factor that would lead to that.

[2021-12-14 01:36] StarryVae commented on #19252
@seblaz It is the expected behaviour in "sendLocalReply", but i'm not sure if it is right to set the Content-Type default in "sendLocalReply" with the RFC you mentioned. Maybe you can ask the community for help :).

[2021-12-14 01:50] ankatare commented on #18633
@gongcon I think this issue now can be closed as per DOC changes #19260 and also suggestions to reconfigure `runtime` values by `"re2.max_program_size.error_level`" ?
cc @rojkov @snowp

[2021-12-14 02:42] YaoZengzeng commented on #19219
I'd like to fix this bug:)

[2021-12-14 05:01] chinaran opened #19278 "Questions on unmatched stats_tags, it will change metrics name"
When add new custom stats tag on istio, if you don't restart envoy, the metrics name will have some prefix.
For example (base on https://istio.io/latest/docs/tasks/observability/metrics/classify-metrics/):
Add extra tag: request_operation，before restart envoy, the name envoy_request_operation___somevalue___istio_requests_total is created.
I know stats_config is a  part of the bootstrap configurati

[2021-12-14 05:28] PiotrSikora commented on #19228
The intent behind the 2-3 weeks padding was to make sure that Envoy makes a release within the first 2-3 weeks of the quarter (which has been a case since), but I recognize that the wording put unnecessary pressure on the first day of that window, and noone wants to be always behind the schedule.

As such, I believe that "15th day of the quarter" (+/- 1 week padding, with hard deadline being "the

[2021-12-14 08:02] github-actions[bot] opened #19279 "Newer release available `com_github_wasmtime`: v0.32.0 (current: v0.31.0)"
Package Name: com_github_wasmtime
Current Version: v0.31.0@2021-10-29 14:34:56
Available Version: v0.32.0@2021-12-13 19:47:30
Upstream releases: https://github.com/bytecodealliance/wasmtime/releases

[2021-12-14 08:45] #19263 closed

[2021-12-14 09:07] sha-rath commented on #19257
cc @YaoZengzeng could you please look into this as well please?

[2021-12-14 09:10] Edimo24 commented on #19218
@ggreenway I tried the above mentioned scenario but it does not work since I am returning a string where I should not return one. To keep the long story short I need any ideas how to add tags in some of command operators. I want to add tags at several command operators but I am struggling a lot how to do it. (tried different changes in Envoy code)

When accessing Access logs I need to see somethin