[2019-09-26 13:19] htuch commented on #8391
@mattklein123 WDYT about this sequencing? Do you know anyone signed up for this?

[2019-09-26 13:29] htuch commented on #8219
I think we should create the new outlier config in v2 and then deprecate the existing one, making the v3 bump a mechanical transition. Marking as help wanted, since this needs implementation work.

[2019-09-26 13:36] htuch opened #8392 "Use StringMatcher for route path and header matching"
As per `#next-major-version` comments in https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/route/route.proto. We should ideally do this in v2 with new fields and then deprecate the existing matchers, allowing for auto-deletion in v3.

[2019-09-26 13:37] htuch commented on #8392
@mattklein123 do you know who might own this work?

[2019-09-26 13:39] htuch commented on #8121
@mattklein123 flagging this one as being potentially too high churn given everything else going on in v3. This reorganization is very easy to do though via `protoxform` and reflection translation, so I think we might still consider it.

[2019-09-26 13:40] htuch commented on #3368
Moving this to post 1.12.0, since this is in the nice-to-have but not needed bucket.

[2019-09-26 13:42] htuch commented on #8128
Flagging this one as being potentially too high in unnecessary churn for v3 given everything else going on.

[2019-09-26 14:13] mmorejon opened #8393 "[Help wanted] 308 Permanent Redirect example"
308 Permanent Redirect example

_Description:_
I'm trying to set up Envoy to redirect the traffic to a specific location based in a header location parameter (308 Permanent Redirect)

_Question_
Do you have an example of this configuration?

[2019-09-26 14:14] zonghaishang opened #8394 "[Help wanted] Vscode debugging can't mount source code"
**WARNING: If you want to report crashes, leaking of sensitive information,
and/or other security issues, please consider
[reporting them using appropriate channels](https://github.com/envoyproxy/envoy#reporting-security-vulnerabilities).**

**Issue Template**

*Title*: *One line description*

*Description*:
How to view the code in vscode debugging？

Compile everything in my mac，`bazel build -c db

[2019-09-26 14:15] htuch opened #8395 "Security advisories"
Today, we only track releases and CVE relationships at https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!forum/envoy-announce and version history at https://www.envoyproxy.io/docs/envoy/latest/intro/version_history.

We probably want to use the GitHub security advisories to collate our past CVEs and use it actively for new ones.

[2019-09-26 14:55] grayaii opened #8396 "filter_chain_match not matching on ip address"
*Title*: *filter_chain_match not matching on source_prefix_ranges*

*Description*:
I have 2 filter_chain_match blocks.
One to catch all requests coming from 172.X.Y.Z and another to catch the rest, 0.0.0.0

It seems indeterministic which filter chain is used.  When I deploy envoy, sometime it uses one filter chain, and other times, it uses the other.

Maybe I'm getting source_prefix_ranges vs pref

[2019-09-26 16:02] mattklein123 commented on #7867
@rshriram do you really need an event? I think this is possible but can't RBAC just run on new connections? If you want an event can we track as a separate issue?

[2019-09-26 16:07] rshriram commented on #7867
So, think about HTTP connections.. in this case, new rbac would have to become effective on new requests on the same connection right? Otherwise, people will end up forcing listener drains for the newer rules to take effect. I suggested the event thing as just one idea but as long as there is an ability to apply the newer config on existing connections, I am good.

This would apply to faults as we

[2019-09-26 16:07] mattklein123 commented on #5569
The plan above sounds good, but TBH this is a giant work item and I'm doubtful we are going to find someone to do it. We will probably end up punting to v4 but lets leave help wanted in case someone is interested?

[2019-09-26 16:09] mattklein123 commented on #8391
I think the sequencing sounds OK. I will assign this to myself for now but leave it help wanted in case someone else wants to step up.

[2019-09-26 16:10] mattklein123 commented on #8392
I will assign this to myself but leave marked help wanted in case someone else wants to step up.

[2019-09-26 16:12] mattklein123 commented on #7867
We explicitly want this for fault testing. :)

Basically, at the network level, any new connection will get the new config. At the HTTP level, any new stream will get the new configuration. I think this is sufficient?

[2019-09-26 17:30] alyssawilk commented on #7430
So Envoy should be logging these and/or incrementing stats.  When the connection is closed due to
1) filters buffering rather than streaming and
2) responses being too large
It triggers one of a few code points.
If the request data is too large, it does
https://github.com/envoyproxy/envoy/blob/master/source/common/http/conn_manager_impl.cc#L2105
and you should see a
ENVOY_STREAM_LOG(debug, "Sendin

[2019-09-26 17:37] alyssawilk commented on #8396
Yeah, I thought Envoy did top down for route matching so I would expect deterministic behavior here.
Could you post at trace log of one of your surprising match failures?  That might help with debug

[2019-09-26 17:58] #4899 closed

[2019-09-26 19:00] PCaponetti commented on #7430
@alyssawilk : chalk this up to a n00b mistake. on digging a bit deeper I see why this is not the right place to log anything, and after finding the where I think @gokhansengun would've wanted the log, I'm unsure a log would be necessary. @gokhansengun could you describe a little more about what you would like to see here? Did you get the 500 with `request_headers_too_large`?

[2019-09-26 19:10] mattklein123 commented on #7868
@wgallagher is going to implement this. He will do a quick summary proposal for review by @htuch @lambdai @fredlas

[2019-09-26 19:20] kyessenov opened #8400 "xDS resource patching"
As a continuation of the incremental xDS theme, it would be good to provide a general ability for xDS servers to patch individual xDS resources. We have two use cases in mind:
- large endpoint lists in cluster load assignments;
- break-glass modifications applied to generic xDS responses;

The ability would require implementing an xDS-aware patch semantics in Envoy. This may need support from addi

[2019-09-26 19:29] fredlas commented on #7868
Can we please not do this until at least #7293, and ideally also the draft "delta+state-of-the-world unification" branch mentioned in there, is merged? It has been in the review process for over three months, and the trickle of merge conflicts both small and large (e.g. the addition of scoped_rds_integration_test twice exposing a weird lifetimes bug in the integration test framework, the addition

[2019-09-26 19:36] mattklein123 commented on #7868
@fredlas fair enough. I have not been tracking that other review. What is needed to finish it?

[2019-09-26 19:52] grayaii commented on #8396
Sorry for the delay. I'm still trying to get that information for you.
There must be something weird with the exact config that I posted (must be an indent issue).
When I convert that that yaml that I pasted to json, I can see an issue:
<img width="639" alt="typo" src="https://user-images.githubusercontent.com/847072/65720244-8ba2ab80-e075-11e9-983b-366f33b1306c.png">

Once I get that sorted out,

[2019-09-26 20:11] fredlas commented on #7868
Well, the immediate answer, for just #7293, is "for a senior maintainer to click the button", more or less: it does what it should, and I believe is fully tested. I think the really substantial design discussion already took place in #7108, which was the addition of WatchMap, which is probably the most rewrite-y (as opposed to just extensive refactoring) part of the whole effort.

However, #7293 m

[2019-09-26 20:35] htuch commented on #8400
We have had similar discussions in the context of UDPA FWIW. The main objection is the client complexity; other clients such as gRPC, which might not share the use cases that Envoy has, should not have to take on the implementation complexity. If we can figure out a lightweight approach (lighterweight than the linked strategic merge patch, things could be more palatable.

[2019-09-26 20:46] gokhansengun commented on #7430
@PCaponetti while debugging the mentioned issue in Istio, I was getting HTTP 500 from Envoy. It was just looking like HTTP 500 was coming from the upstream though it was not.

What I am suggesting is to emit a log from Envoy so as to make the situation clearer for future occurrences.

[2019-09-26 21:03] htuch commented on #5569
Ack. I've cleared this from the 1.12.0 milestone.

[2019-09-26 21:55] ascheglov opened #8402 "Filter can't add data from encodeTrailers"
Calling addEncodedData from the encodeTrailers callback fails when encodeHeaders had previously returned StopIteration.

A filter (e.g. the grpc-json transcoder) wants to turn a headers-only response into a response with a body. And StreamEncoderFilterCallbacks::addEncodedData allows that:

     1) If a headers only response needs to be turned into a response with a body, this method can
     be c

[2019-09-26 22:17] lizan opened #8403 "re-deprecate opaque Struct config"
Structs are deprecated once and un-deprecated in #6346. Now protobuf hashing are sorted and moving away from hashing in long term (#8231, #8301). So we can deprecate this and migrate all docs/examples.

cc @htuch @alyssawilk @moderation

[2019-09-26 23:15] mattklein123 commented on #4460
@ramaraochavali this sounds good to me. I think you could later also add a query param to even drain by name, etc.

[2019-09-26 23:19] #7892 closed

[2019-09-27 02:06] hzxuzhonghu opened #8410 "Envoy should connect to xDS server immediately when it resolves its addr"
We found a big issue, when we have static clusters provided in the bootstrap config. But in our env, there is something wrong with the dns. And the trace shows that envoy takes 25s to resolve the `zipkin.istio-system`. But for pilot, it is instantly.  But what we saw is weird, envoy does not connect to pilot immediately.

[2019-09-27 03:24] zonghaishang commented on #8394
`basic-front-proxy.yaml` file can be found in envoy/examples

[2019-09-27 04:02] cetanu opened #8412 "Utilizing IP Tagging as an Edge proxy"
I've come across a small issue that I'm unsure how to solve:

When running envoy as an edge proxy, it's advised by the docs to set [`use_remote_address`](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/http_connection_manager/v2/http_connection_manager.proto#envoy-api-field-config-filter-network-http-connection-manager-v2-httpconnectionmanager-use-remote-address) to `true`

[2019-09-27 06:48] #8295 closed

[2019-09-27 07:00] arun0704 opened #8413 "Access logging possible to collect only error logs in http and tcp connection manager?"
Title:- Access logging possible to collect only error logs in http and tcp connection manager?

In Our project Envoy is printing so many access logs in the performance test when we are running load test (means many connections) for created envoy listeners . Is this possible to enable only error logs in access logging. Possible with this option any patch can be provided from envoy community?.

[2019-09-27 07:44] derekargueta commented on #8413
You can use an [Access Log Filter](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/accesslog/v2/accesslog.proto#envoy-api-msg-config-filter-accesslog-v2-accesslogfilter) to filter responses by status code to only log 5xx responses.

[2019-09-27 07:48] zonghaishang commented on #8394
@mattklein123 @alyssawilk  please take a look.

[2019-09-27 07:53] derekargueta commented on #8412
Hi @cetanu, the IP-tagging filter, if xff_num_trusted_hops is not configured, is only dependent on the immediate client which is likely your NLB or ELB. If you have an intermediate hop - either due to ELB (not using Proxy protocol and not appending XFF) or a CDN, you may want to configure xff_num_trusted_hops to reflect that. The IP tagging filter depends on the right-most IP returned by x-forward

[2019-09-27 08:12] tony612 opened #8414 "gRPC server receives request after 1s and client doesn't receive the response quickly"
**Issue Template**

*Title*: gRPC server receives request after 1s and client doesn't receive the response quickly

*Description*:

We found we have Jaeger traces like the below one sometimes, the gRPC server receives the request after a lont time, then returns quickly, but the client still doesn't receive the response in time. Our Jaeger data is collected in Envoy via zipkin collector.

![Jaeger_

[2019-09-27 09:35] ramaraochavali commented on #4460
/assign @ramaraochavali

[2019-09-27 13:46] htuch commented on #8403
@lizan agreed. We have a short window to have the deprecation actually remove it from v3, if you can land the relevant PRs in the next week or so. If not, we can do the deprecation in v3 and removal in v4.

[2019-09-27 13:55] htuch opened #8416 "Implement resource minor/patch version scheme in stable API versioning proposal"
The basic idea is we maintain an annotation in the protos specifying minor version and some semantic hash of the proto contents. A bump of the minor version is forced when the hash changes by presubmit tooling. The minor version will be provided in `DiscoveryRequest`s (while the major version is a part of the package/type name itself). See https://docs.google.com/document/d/1xeVvJ6KjFBkNjVspPbY_Pw

[2019-09-27 15:25] #7367 closed

[2019-09-27 16:01] #8337 closed

[2019-09-27 16:04] #8318 closed

[2019-09-27 17:47] #7988 closed

[2019-09-27 18:47] danzh2010 opened #8419 "Remove Network::Connection::delayedCloseTimeout() from public interface"
This method is actually only used within ConnectionImpl. It's not necessary to be part of Connection interface. We should be able to remove it.

Note that currently it's mocked out in MockConnection. Simply removing the interface might cause test failure.

[2019-09-27 19:49] ramachaitanyak commented on #8291
@mattklein123 & @alyssawilk this level of abstraction works for the implementation. I will wait for Alyssa to give the go-ahead before I take a stab on the implementation.

Another thought that occurred to me is whether or not this API should be OS dependent. I understand that macOS supports setsockopt and getsockopt. I am not sure about windows. Any thoughts on this ?

[2019-09-27 19:50] core-process commented on #129
I just wanted to document my recent effort to produce a Windows build unsuccessfully. I tried two approaches:

1) Building with MSVC (compiler) as well as MSys (autoconf) fails. The code contains references to Unix specific socket headers, which are not available on Windows.
2) Building with Cygwin fails, as Abseil prevents builds on Cygwin deliberately.

During my trial and error phase, I identif

[2019-09-27 19:50] ramachaitanyak commented on #8292
Design and implementation is based on the closure for this issue:
https://github.com/envoyproxy/envoy/issues/8291

I will update the design soon after.

Thanks!
Rama

[2019-09-27 19:54] mattklein123 commented on #129
For everyone watching this issue, FYI that Microsoft has committed resources to seeing this port complete. They are going to reach out to the Pivotal folks to help out. cc @mhoran @achasveachas @wrowe. I'm also going to meet with Microsoft in a couple of weeks in-person about this as well.

[2019-09-27 20:17] zuercher commented on #8414
The "UT" response flags makes me think there were multiple requests to the content cluster and that at least one timed out. I can't say why that doesn't cause multiple spans, but I'd look into that.

[2019-09-27 20:21] jmarantz opened #8420 "upstream: reference to optional lastEjectionTime() doesn't check it exists"
Hi -- I don't have a repro for this but https://github.com/envoyproxy/envoy/blob/ef9139a991fb9f7df676430f626b32db93a06932/source/common/upstream/outlier_detection_impl.cc#L336 looks like it has a bug.

It should be checking to see if lastEjectionTime() has a value before taking the value.

[2019-09-27 20:28] zuercher commented on #8394
Debugging bazel-compiled binaries on MacOS has never worked reliably: https://github.com/bazelbuild/bazel/issues/6327. This problem is not exclusive to Envoy.

For the Ubuntu build failure, `C++ compilation of rule '//source/exe:terminate_handler_lib' failed (Killed)` implies to me that something external to bazel killed the process. I can reliably build Envoy in an Ubuntu 16.04 VM with 8 GB of RA

[2019-09-27 20:48] lizan commented on #2690
I will take this soon if no one has been worked on. Some underlying dependency (SNI override from filter, conn pool) has been filled already.

[2019-09-27 22:23] htuch commented on #8403
Actually, while working on https://github.com/envoyproxy/envoy/issues/8082, I realized that it might end up being best to tackle this in 1.12.0. Specifically, if we can ensure all opaque `Struct`s have a type URL included, we can identify whether a `Struct` is from v2 or v3alpha. After chatting with @lizan, the best course of action seems to be:

1. Deprecate the existing untyped `Struct` fields.

[2019-09-27 22:42] htuch commented on #8085
Closing this out, since https://github.com/envoyproxy/envoy/issues?q=label%3A%22v3+API%22+milestone%3A1.12.0+is%3Aopen tacks the burn down.

[2019-09-27 22:42] #8085 closed

[2019-09-27 22:43] htuch commented on #8136
After discussing with maintainers, the plan is to have all tests operate on the latest `vNalpha`. We will have some limited integration tests created that exercise the `v(N-M) -> vNalpha` and configuration ingestion e2e, this issue will track these instead (changing title to reflect).

[2019-09-27 22:46] kyessenov commented on #8400
Let me sketch out a minimalistic proposal here, and let me know if that looks like the right direction.

1. A patch is a tuple (extended field path, protobuf message, operation). Patches are applied in a sequence. Patches that don't match extended field paths are no-ops.

2. Extended field path is a sequence of one or more selectors starting from `resources` field in the response. The target of th

[2019-09-27 22:46] htuch opened #8421 "xDS client endpoint discovery"
Current plan-of-record is to have `ConfigSource` indicate the version (and hence service endpoints), allowing the xDS client to select the correct URLs and translators to use on configuration ingestion.

[2019-09-27 22:56] mnaser commented on #8199
How can I help with this?  I'm running into this issue that's causing frequent crashes for our deployment (which uses Ambassador).

[2019-09-27 23:02] mattklein123 commented on #8199
If you are hitting this I would run a release build in production without debug asserts.

[2019-09-27 23:15] mnaser commented on #8199
@mattklein123 I see, in that case given we're using Ambassador, I'll try to see where I can fix this downstream.  Thank you for your quick response!

[2019-09-27 23:47] yanavlasov commented on #8199
Sorry for the delay. It is possible that this i caused by the [79cbdc](https://github.com/envoyproxy/envoy/commit/79cbdcae3dda80ed24714b1c0fb1367474386c9f) commit. I'm unsure what libevent would do if the event mask was EV_ET only. Perhaps it could result in this silly callback. I would need the core file to look at the libevent state to confirm.
I think the fix would be to either remove the ASSER

[2019-09-27 23:55] PiotrSikora commented on #8199
I believe this is the culprit -> `file_event_->setEnabled(enable_half_close_ ? 0 : Event::FileReadyType::Closed);` (added in one of the HTTP/2 fixes), i.e. we’re starting to monitor for no events (which expands to `EV_PERSIST|EV_ET`), which is different than stopping to monitor for events. We’re still getting notification, since `EV_ET` happens, but since neither `EV_READ`, `EV_WRITE` nor `EV_CLOS

[2019-09-28 02:31] #7985 closed

[2019-09-28 06:33] athampy commented on #5808
I can pick this up

[2019-09-28 17:31] #8007 closed

[2019-09-28 18:08] gnagel commented on #4342
I just bumped into this issue too ... for anyone else that hits this issue here's what I added to the http post to resolve the issue:

[code]

Mind if I make a bug fix PR for this one @mattklein123?

Thx, Glenn

[2019-09-28 21:38] mattklein123 commented on #4342
@gnagel sure please fix.

[2019-09-29 03:06] hainesc opened #8425 "Feature request: network quality estimator support"
*Title*: *Feature request: Network quality estimator support*

*Description*:

eg, when you watch a video on youtube, it displays different quality (1080p, 720p, 360p...) for you. This feature depends on network quality estimator, which has been implemented in chrome. See https://chromium.googlesource.com/chromium/src/+/master/net/nqe.

[optional *Relevant Links*:]

See: https://googlechrome.githu

[2019-09-29 03:52] zonghaishang commented on #8394
@zuercher  thank you for your reply.
-----
In order to speed up the compilation, I did allocate 6 core CPUs to the virtual machine. At present, I have solved the debugging problem in the mac, as a beginner of envoy, thank you again.

I am closing this issue now.

[2019-09-29 06:19] #8394 closed

[2019-09-29 12:23] zyfjeff opened #8427 "Hot restart bug will cause the socket to not listening"
*Title*: *Hot restart bug will cause the socket to not listen*

*Description*:

[code]

The reason for this problem is because the query listener is queried through the port and address, this is not the only one to represent the listener. Two listeners exist on the same port and address

*Repro steps*:

[2019-09-29 12:29] zyfjeff commented on #8427
/assign @zyfjeff

[2019-09-29 12:50] htuch opened #8428 "protoxform tests"
We've been developed `protoxform` for the vN -> V(N+1)alpha transform described in https://github.com/envoyproxy/envoy/pull/8399. So far, we've manually inspected diffs against v2 and previous runs of `protoxform` to confirm that behavior is correct. This makes sense while we prototype and define the intended behaviors of the tool. Longer term (post 1.12.0), we will want some tests though.

This t

[2019-09-29 12:55] htuch opened #8429 "Next free field annotations via protoxform"
`protoxform` could fairly easily generate annotations such as:
[code]
for every message (maybe only over a given size). This is a great beginner task for anyone interested in API tooling work.

[2019-09-29 14:39] yittg commented on #8429
@htuch I think I can take it, that would help me get familiar with the tool chain.

[2019-09-29 17:48] #7688 closed

[2019-09-29 20:36] mattklein123 commented on #4602
For those watching this issue, I have a PR up (https://github.com/envoyproxy/envoy/pull/8422) which adds configurable connection balancing for TCP listeners. Please try it out.

[2019-09-29 20:57] vmpn commented on #5325
Commenting on this thread is it covers moving to 18.04 Ubuntu base.

There are vulnerabilities in 16.04 base image that are addressed in 18.04.  I am happy to provide details via secure channel if that helps.

[2019-09-29 21:14] nrjpoddar opened #8432 "Surfacing TLS/SSL related errors to the filter stack"
*Title*:  **Way to surface TLS/SSL related errors to custom Envoy filters**

*Description*:
Currently, Envoy network filters have no way to get information related to SSL/TLS handshake errors. There are few SSL related errors in Envoy but they are at a Listener level and don't carry all the required context.

The use case here is in Istio where we add special filters for both TCP & HTTP (Mixer fil

[2019-09-29 21:15] nrjpoddar commented on #8432
@kyessenov please add any missing information.

[2019-09-29 21:54] bcelenza commented on #6748
Hey @sumukhs, sorry for the delay on getting back to this.

I've spent some time looking through the DNS filter you've implemented and I think it would work for the majority of use cases I'm thinking of.

The one thing I'm interested in doing with this is adjusting the API definition slightly so that future options could be added, and the TTL specified per entry. For example, instead of:

[code]

[2019-09-30 04:49] euroelessar commented on #8031
Can you re-open this ticket, please? I'll submit a pull request later this week.

[2019-09-30 05:31] dio commented on #8432
@lizan any comments?

[2019-09-30 05:32] dio commented on #8104
@sekaninat I think the question is answered, I'm closing this. Feel free to re-open it if you need further clarifications.

[2019-09-30 05:32] #8104 closed

[2019-09-30 05:51] cetanu commented on #8412
We do make use of an NLB, but it's in TCP mode, so there's no modification of the XFF header at that point, therefore it's my understanding that an edge proxy behind a TCP NLB should not make use of `xff_num_trusted_hops`?

Additionally, we did experiment with setting `xff_num_trusted_hops`, but there was no change in behavior until we entirely removed `use_remote_address` (implicitly setting it t

[2019-09-30 06:23] lizan commented on #8432
@nrjpoddar [upstramTransportFailureReason](https://github.com/envoyproxy/envoy/blob/master/include/envoy/stream_info/stream_info.h#L496) is the one, this is added specifically to helping debugging SSL/TLS related errors.

[2019-09-30 09:11] pavolloffay opened #8434 "Add sampled traces metrics"
A feature request to add sampled traces counter metric.

The sampled counter for traces determines the number of sampled traces send to tracing backend.

With the QPS metrics number, it helps the operator to appropriately set the sampling rate (in case of probability head sampling).

The metric should be exposed per rate configuration e.g. one metric per global rate or multiple if service/route ra

[2019-09-30 09:31] yittg commented on #8392
@htuch @mattklein123 Looks like that we only need to adapt the structured `StringMatcher` in the configuration parser, maybe I can take it.

[2019-09-30 10:04] yittg commented on #8392
One more thing, maybe we can do it along with refactoring the matcher in `jwt_authn` if needed.

[2019-09-30 10:42] dio commented on #8434
@objectiser could you elaborate what changes do we need to add to answer this feature request? Thanks!

[2019-09-30 10:54] pavolloffay commented on #8434
I have realized that envoy might not be able to tell how many traces were actually sampled - unless it has access to the sampling decision. Some information might be exposed as metrics directly from traces, however I see the value of exposing this metric regardless of tracing vendor.

[2019-09-30 11:14] objectiser commented on #8434
@dio As @pavolloffay mentions, this knowledge is tracing client specific - however it may be possible to expose this information for some of the providers. So we could just report these metrics where the information is available?

[2019-09-30 12:15] nandu-vinodan commented on #6141
I would like to take this up, can we reopen this ?

[2019-09-30 13:06] dio commented on #6141
@nandu-vinodan done. Please send the PR when it is ready. Good luck!

[2019-09-30 14:12] alyssawilk commented on #7430
@gokhansengun as discussed above, now every time Envoy sends a local reply it logs at debug level that it sent the response and why.  Does that meet your need?

[2019-09-30 14:26] gokhansengun commented on #7430
yes @alyssawilk, that looks fine.

[2019-09-30 16:07] mattklein123 commented on #8425
FWIW this is something we plan on implementing in the context of Envoy Mobile. cc @junr03 @goaway

[2019-09-30 16:41] alyssawilk commented on #8291
I think this is fine at a high level - I'm more interested in what we do with MutableHttpConnection once we have it, so feel free to start in on this and send a draft PR my way, and you or I can tag @danzh2010 as well to make sure it'll play well with non-TCP "connections"

[2019-09-30 17:15] LisaLudique opened #8438 "Coverage not calculated for routes with redirects or direct response"
**Issue Template**

*Title*: Coverage and missing tests check do not account for routes that have path/host redirects or a direct response (e.g. responding with code 2xx, 5xx, etc.)

*Description*:
The way missing tests and covered routes are calculated uses the pointer to the RouteEntry. On a high level missing tests looks at the set of pointers of all routes and the set of pointers of covered ro

[2019-09-30 17:34] PCaponetti commented on #7430
@alyssawilk as noted above there's the situation where the stream is reset (after headers have been sent) that could use an extra log statement. I've got a small commit for that here: https://github.com/PCaponetti/envoy/commit/e3c60845504f0fc3005afaf6ee89b0aca63ee7d1

if you think it would be of any value LMK and I'll PR.

[2019-09-30 18:02] koneko096 commented on #8419
HI. I'd like to work on this. Can you elaborate on what exactly is required here?

[2019-09-30 18:05] alyssawilk commented on #7430
Yeah, I think that'd help with debug if the response is too large after the headers are sent onwards.   feel free to send it my way

[2019-09-30 18:19] PCaponetti commented on #7430
done deal thx

[2019-09-30 18:28] kyessenov commented on #8432
upstreamTransportFailureReason works for the downstream clients.
How do we monitor listener socket failures? The filters don't kick in without a connection.

[2019-09-30 19:21] #8223 closed

[2019-09-30 19:25] sabiurr opened #8440 "Envoy + Encrypted Redis Cluster errors"
*Title*: *Envoy + Encrypted Redis Cluster errors*

*Description*:

[code]
 listeners:
  - name: redis_listener
    address:
      socket_address:
        address: 0.0.0.0
        port_value: 1999
    filter_chains:
    - filters:
      - name: envoy.redis_proxy
        config:
          stat_prefix: egress_redis
          prefix_routes:
            catch_all_route:
               cluster: redis_cl

[2019-09-30 20:21] mattklein123 commented on #8419
@koneko096 you want to remove this:

https://github.com/envoyproxy/envoy/blob/3a4e276dc3da43010d9ceb846c9b7100889448cd/include/envoy/network/connection.h#L292-L295

And then make the function private inside connection_impl.cc, and remove it in the various places in which it was defined just to adhere to the interface.

[2019-09-30 20:25] mattklein123 commented on #8400
@kyessenov I would suggest that we have a short meeting to discuss this before we dive too far into the implementation details. As @htuch mentioned, we have actually already discussed the concept of merging quite a bit in the context of federation. I have gone back and forth several times on whether we should implement something like this or not (with my current thinking erring on the side of yes

[2019-09-30 21:38] kb000 opened #8442 "Mongo stats have an extra "." after prefix"
*Title*: *Mongo stats have an extra "."*

*Description*:

Before: `mongo.mycluster.collection.mycollection.callsite.mycallsite...`
After: `mongo.mycluster..collection.mycollection.callsite.mycallsite...`

![image](https://user-images.githubusercontent.com/7603539/65918852-9750e380-e38f-11e9-938f-a9a7efccaeac.png)

[2019-09-30 22:00] mattklein123 commented on #8442
cc @jmarantz ^

[2019-09-30 22:03] yxue opened #8443 "Limit the maximum number of requests on a downstream connection"
*Description*:

Similar to the `MaxRequestsPerChild` in apache/httpd, add a configuration in the Envoy HTTP listener to limit the maximum number of requests per connection. After the number of requests hit the maximum number, the TCP connection will be gracefully closed and a new TCP connection will be initialized by the client.

[2019-09-30 22:12] kb000 commented on #8442
I've got a fix in testing.

[2019-09-30 22:13] kyessenov commented on #8400
SGTM, would be happy to chat more. CC @rshriram who worked on xDS patching as an Istio API.

[2019-09-30 22:27] lizan commented on #8432
@kyessenov what information do you want from a listener socket failures? For listener socket failures I guess you need a listener_filter, and populate information from connection()->ssl() (and add failure info there).

[2019-09-30 22:36] kyessenov commented on #8432
Are listener filters suitable for telemetry collection? That may work. The goal is to be able to correlate a bad config push (TLS certs, improper TLS set-up) with an increase in SSL error telemetry.

[2019-09-30 22:47] lizan commented on #8432
It should be suitable, not very sure current implementation allows you do it. I understand the goal, for listener side, listener filter is the only filter can interact with TLS handshake / connection setup.

OTOH, at client side Envoy you can collect more information for sure.

[2019-09-30 22:55] PiotrSikora commented on #8443
I believe this is a duplicate of #7403.

Also related: #2941, #7852.

[2019-09-30 22:55] nrjpoddar commented on #8432
Client side is definitely doable and useful but doesn't account for the cases when only service is in the mesh for example.

@kyessenov how can telemetry be kicked from listener filter? Make RPC calls in that context to mixer, aren't there performance implications of doing that?

[2019-09-30 23:00] kyessenov commented on #8432
Listener filter is just a callback at the right time in packet processing. The reason why I asked about suitability, is that it was not used for sending RPCs before, so this would be the first one :)

[2019-09-30 23:18] lizan commented on #8432
You probably need to add a `onDestroy` or similar callback to it, (I think you can test with implementing destructor for experiment). Dispatcher is already exposed via callback so making RPC calls from there shouldn't be possible.

[2019-09-30 23:22] nrjpoddar commented on #8432
I guess if we only add RPC calls for error scenarios, performance penalty might be non-impacting as long we have the correct destructors in place. This probably warrants a new metric in Istio instead of bolting on to the existing ones.

Another interesting thing is what contextual information can we add to this metric?

[2019-09-30 23:23] kyessenov commented on #8432
The context should come from the config, e.g. listener filter config. This is a pretty complex solution though, since we need to apply all the standard optimizations as well (batching, compression).

[2019-09-30 23:44] lizan commented on #8432
Right you don't have much contextual information other than the listener filter config because the connection couldn't be set.

[2019-09-30 23:58] rshriram commented on #8400
What is the rationale for pushing the patching mechanism to the data plane? There was a non trivial amount of struct/any business that we had to handle in the control plane in order to do the protobuf merging. This is still not complete but at the very least, we have more flexibility to do this in the control plane than in the data plane IMO. On top of this, we also have to handle validation issue

[2019-10-01 00:18] kyessenov commented on #8400
@rshriram Specifically for istio, we are trying to solve two problems:
- O(n^2) config size on the wire when changes are propagated linearly; for example, EDS payload being sent with 1,2,3, and up to n endpoints. This calls for an incremental EDS payload.
- Istio extensions applicable across control planes, e.g. I'd guess similar to federation. We would like to have a declarative description of wh

[2019-10-01 06:44] koneko096 commented on #8419
Okay. I guess I will take this issue

[2019-10-01 12:29] dio commented on #8443
@yxue closing this as it is a duplicate.

[2019-10-01 15:55] #8307 closed

[2019-10-01 16:18] snowp opened #8446 "HTTP protocol error results in DC access log"
The DC stream flag is set in the absence of any other stream flags/response codes: https://github.com/envoyproxy/envoy/blob/master/source/common/http/conn_manager_impl.cc#L504

When a codec exception happens, we immediately reset the stream, setting neither a stream flag or a response code: https://github.com/envoyproxy/envoy/blob/master/source/common/http/conn_manager_impl.cc#L263

As a result, p

[2019-10-01 16:24] AspirinSJL commented on #8088
This is still needed.

[2019-10-01 16:27] LisaLudique opened #8447 "Configuring Overload manager"
*Title*: *Unclear on how to properly configure overload manager*

*Description*:
I have been looking into how to add overload manager to our bootstrap config. I'm using the docs at https://www.envoyproxy.io/docs/envoy/latest/configuration/operations/overload_manager/overload_manager#statistics as a reference. Currently I'm just interested in adding the built-in resource monitor so that related sta

[2019-10-01 16:41] yxue commented on #8443
@PiotrSikora https://github.com/envoyproxy/envoy/issues/7403 is trying to limit the maximum streams per connection in the client side. I think this issue is for setting the limit in server side as we want the have such limit in the ingress gateway.

[2019-10-01 17:11] Pluies opened #8448 "envoy.gzip compression performance is poor"
*Description*:

Hello! 👋

We recently realised our outbound traffic had increased a fair amount sinced we switched from serving some assets directly from Akamai to serving them from Ambassador, and traced it down to our gzipped assets being much larger.

I then ran some tests, and it appears that gzipping content in Envoy results in fairly poor compression results, even when tweaking the settings

[2019-10-01 17:39] mattklein123 commented on #8447
You need to add the extensions to your build config:

https://github.com/envoyproxy/envoy/blob/2d2c9a5fe1614715a98ba9d93a057c3f37c33590/source/extensions/extensions_build_config.bzl#L95-L100

[2019-10-01 17:42] mattklein123 commented on #8448
@dio @lizan @gsagula

[2019-10-01 18:26] LisaLudique commented on #8447
Got it, thank you!

[2019-10-01 18:28] ramachaitanyak commented on #8291
@alyssawilk thanks for the comments. I will work on it. @danzh2010 if you have comments please let me know.

My impression for this patch; is to only include a wrapper for `getsockopt` and `setsockopt` (specifically a wrapper on http://man7.org/linux/man-pages/man2/setsockopt.2.html)

What we could do with this information; is something I have addressed as other issues like tarpit and gather metri

[2019-10-01 18:34] rgs1 opened #8450 "allow reversing the order of the evaluateHeaders() calls"
Currently, adding or removing request/response headers is hard-coded to the following order [0]:

* route specific
* vhost specific
* connection manager level

This means that you can't set global configs (e.g.: vhost or conn manager level) and then unset them at the route specific level.

Would it be acceptable to have a  config option -- say `reverse_header_evaluation_order` -- to support the re

[2019-10-01 18:35] sc0ttbeardsley commented on #8450
O.o This would make my life easier

[2019-10-01 18:37] mattklein123 commented on #8291
+1 to explicit for now until we prove that won't work.

[2019-10-01 18:44] jyotimahapatra opened #8451 "Question: Can we log the egress errors for the http tracer"
Question:
We use lightstepproxy as a http tracer and the configs look like this
[code]
We are experiencing SR in our lightstepproxy clusters and we were investigating if its possible to configure the egress logs going to lightstep and investigate the probems.
The [proto](https://github.com/envoyproxy/envoy/blob/master/api/envoy/config/trace/v2/trace.proto#L59) doesn't have a setting to add a log f

[2019-10-01 18:55] mattklein123 commented on #8450
cc @htuch for API thoughts. I can't see any harm in this, but I wonder if the we should just allow the order to be defined as a repeated enum or something so it's fully flexible? I'm not sure if the extra flexibility would be actually useful or not. Thoughts?

[2019-10-01 18:57] mattklein123 commented on #8451
No this isn't possible today. AsyncClient doesn't support logging.

As a horrible hack you could loop back through Envoy itself and log that.

[2019-10-01 18:57] #8447 closed

[2019-10-01 19:01] mattklein123 commented on #8446
This makes sense to me. This is also tangentially related to https://github.com/envoyproxy/envoy/issues/7917 in which the connection level log would clearly show a protocol error.

[2019-10-01 20:04] lavignes commented on #8325
I think the better long-term fix here is to just enable handling redirects in our curl client. Some metadata endpoints are going to in turn redirect `host/path/` back to `host/path` and we'll end up in a similar situation.

I'll send out a PR shortly.

[2019-10-01 21:05] gsagula commented on #8448
@Pluies Do you know what is the delay when compressing with Nginx and Js? In other to reduce latency, we decided to compress and flush on each data frame. The downside is that it degrades the compression ratio. The second option is to let gzip to compress until the buffer gets full. I think we could make it configurable.

[2019-10-01 21:20] #8402 closed

[2019-10-01 21:22] #4991 closed

[2019-10-01 22:06] jyotimahapatra commented on #8451
Thank you.

[2019-10-01 22:06] #8451 closed

[2019-10-01 23:23] sumukhs commented on #6748
Hi @bcelenza , looks okay, but I am trying to understand why it is a oneof ? Maybe I am still missing the scenario.

[2019-10-02 01:26] bcelenza commented on #6748
@sumukhs Hmm, you're right, `oneof` doesn't actually make sense here. Adjusted my comment above.

[2019-10-02 04:23] #8325 closed

[2019-10-02 04:47] bcelenza commented on #6748
Sorry, just realized I missed your comment on the scenario. I'm hoping to merely preserve the possibility to use Envoy as a general DNS responder for any record type, not necessarily tied to a known destination. I think only implementing `cluster_name` is the right thing to do now.

[2019-10-02 09:47] aehlig opened #8455 "Envoy uses label `@envoy//api:BUILD` despite ignoring `api`"
See [explanation](https://github.com/bazelbuild/bazel/issues/9464#issuecomment-537419503) in a bug that was originally filed for bazel.

[2019-10-02 10:28] nskalis commented on #5892
what is `san_uri_cert.cfg` exactly ?

[2019-10-02 10:49] dio commented on #8455
cc. @lizan

[2019-10-02 14:02] Pluies commented on #8448
That's a very good question; I guess we could try and measure it with the compose-based stuff. I'll give it a go and report back!

As far as I can tell, compressing in small chunks this way is something only envoy does – httpd, nginx, and Akamai (the one's I've tested so far :) ) all seem to wait until the file is fully available before compressing, if I understand correctly – resulting in much be

[2019-10-02 15:52] andrewtikhonov commented on #7025
Activity

[2019-10-02 16:25] EItanya opened #8460 "Update HeaderMatcher proto to be publicly visible"
*Title*: *Update HeaderMatcher proto to be publicly visible*

*Description*:

[optional *Relevant Links*:]

[2019-10-02 16:26] vmg opened #8461 "Lua: Access timing information from handlers"
*Description*:

As previously discussed with @dio in Slack: we would like to access timing information for the current request and response from the Lua filter. This information is not currently available via the Lua API, but it does exist in C++ as stored in the `StreamInfo` class.

I have written [a simple patch](https://github.com/vmg/envoy/commit/6a34e929946c6d7bd3867dc773ad202c711294ff) that

[2019-10-02 16:36] sumukhs commented on #6748
@bcelenza - Thanks for clarifying. I see how the TTL could be varying for every request. How does the cluster_name get used? Is it just information that the query would return as part of the DNS response? I can see how envoy can respond to queries about DNS entries that do not belong to the current cluster, but I am trying to understand if that information is part of the known_domainname_suffixes

[2019-10-02 16:59] rgs1 commented on #8450
I'll send in a PR for just reversing, since I can't think of use-cases for arbitrary ordering (unless @htuch  can come up with one)...

[2019-10-02 17:05] bcelenza commented on #6748
In this case `cluster_name` works the same as the original string value in the map for your implementation ([here](https://github.com/sumukhs/envoy-dnsfilter/blob/master/src/dns.proto#L54-L55)), it's just modeled with an explicit property name. So the DNS query response would still return all the records for the lb_endpoints. Alternatively a set of static A/AAAA/etc. records could be supplied via

[2019-10-02 17:07] Pluies commented on #8448
OK, I've been running tests on a the polymer js file duplicated 10 times, bringing it to 30MB for an extreme test case, with the following curl command: `curl -so /dev/null http://localhost:$PORT/$FILE --compressed -w '%{size_download}, Connect: %{time_connect} TTFB: %{time_starttransfer} Total time: %{time_total}\n'` (as per [this link](https://haydenjames.io/analyze-websites-ttfb-time-first-byte

[2019-10-02 17:14] rkofman opened #8463 "In HTTP/1.1, envoy should pass-through header capitalization unmodified (without lower-casing)"
*Title*: In HTTP/1.1, envoy should pass-through header capitalization unmodified (without lower-casing)

*Description*:
This ticket is related to https://github.com/envoyproxy/envoy/issues/6485, which was declined; with a renewed focus on the core point of discussion. HTTP/2 requires all header fields to be lower-cased. However, the [HTTP/1.1 standard](https://tools.ietf.org/html/rfc2616#section-4

[2019-10-02 17:32] sumukhs commented on #6748
Ah got it. Sorry, I had been on a pretty long vacation for 3 months and its taking time to context switch things back into place.

I confused the envoy naming convention of "cluster" to what we refer to as cluster in our team.

Good question regarding the known_domainname_suffixes. I added some comments in the code to clarify this, but clearly I have not done a good job :-)
Basically, in the respo

[2019-10-02 17:33] bcelenza commented on #6748
Got it! That makes sense to me, thanks. :)

[2019-10-02 19:16] htuch opened #8465 "Automatically generate https://www.envoyproxy.io/docs/envoy/latest/intro/deprecated"
Since we now are driving the deprecation process via tooling in v3 API, it should be possible to automagically generate the deprecation file for future Envoy releases. CC @alyssawilk

[2019-10-02 20:15] FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg commented on #8328
If I understand your question correctly, you do in fact need to run `INFO` (or rather, your client does). If this is correct, can you explain what behavior you would expect from `INFO` against a cluster?

Alternatively, is it possible to modify the client behavior to use a different ready signal- ie run a successful SET or GET?

[2019-10-02 20:30] klarose commented on #5974
@gsagula I've been trying to use the strategy suggested: envoy http route retries + ext_authz 5xx errors on connection failure. I don't see it retrying (tcpdump shows two connection attempts then immediate failure, regardless of the number of retry attempts I specify). Perhaps this has something to do with my setup, but there's something I don't understand about how it should be working. Doesn't t

[2019-10-02 20:43] venilnoronha commented on #5892
It's the config from https://github.com/envoyproxy/envoy/pull/5175/files#diff-cb394784f94085ea03a6c93a61c91872R18-R20.

The file is located at https://github.com/venilnoronha/envoy/blob/20473b4a7115fa1b08d12451b0f997a1a372cab1/test/common/ssl/test_data/san_uri_cert.cfg.

[2019-10-02 20:45] HenryYYang commented on #8440
I believe TLS should work.  To get it tor work, you'll need to add the tls_context section to your cluster configuration, for more details see: [tls documentation](https://www.envoyproxy.io/docs/envoy/v1.6.0/intro/arch_overview/ssl)
I have not tried this personally, please let us know one way or the other if this worked for you - thanks.

[2019-10-02 20:52] rgs1 commented on #8450
@mattklein123 @htuch perhaps something like #8466? (sorting out the v2 -> v3alpha out of sync stuff)

[2019-10-02 20:55] lambdai commented on #7867
It's fairly easy for the new connection to get the new config.

The goal of new http stream get new configuration can be achieve by above if we drain listener/filter. But it's not smooth to achieve it without using new connection. I will start to think about it when the first step is done.

[2019-10-02 21:11] HenryYYang commented on #8440
Sorry for the delayed response on the other thread.  Based on your observation, it does sounds like it's a bug in the Redis code.  It seems that the Redis code was able to correctly read the TLS context and open the TLS connection, but somehow the connection was closed by upstream.  This seems like a bug.

[2019-10-02 21:59] mattklein123 commented on #8463
This has come up several times over the years. In general I don't think it's worth the churn to change this behavior (it will be very complicated), but I understand why it is wanted. I think @jmarantz had thought about a way to actually do this so hopefully he can weigh in.

[2019-10-02 22:00] mattklein123 commented on #8465
:tada:

[2019-10-02 22:17] snowp commented on #8463
I think one option to support these kind of legacy systems would be to allow transforming the header keys in the http1 codec from `LowerCaseString` into an arbitrary string before writing it to the connection.

Trying to plumb through the casing of the upstream response headers sounds like a ton of work given how `HeaderMap` works, but I think if you could specify either static mappings "content-t

[2019-10-02 22:41] dio commented on #8461
@jmarantz I'd like to get your opinion about this.

[2019-10-02 23:04] jmarantz commented on #8463
As Matt mentioned, we had a DM-slack where I proposed a fairly non-intrusive mechanism for doing this, though it hasn't gotten bumped to the top of my stack yet.

@alyssawilk has some context as well.

[2019-10-02 23:47] incfly commented on #6252
/cc @incfly

[2019-10-03 04:07] PiotrSikora commented on #4251
All Istio releases since 8/13 have been linked against libc++, and the only issue that we've run into was #8106, so I don't think there should be any stability concerns anymore.

[2019-10-03 13:07] alyssawilk commented on #8463
I'm not a fan of actual header case preservation because even the non-intrusive version IMO is going to be hairy to survive H2 hops, header additions and header removals.  I'd be really curious if real world data shows that Train-Case is sufficient for most "broken" users, or if folks actually need header preservation for CustomNon-TrainCase-Headers.  I don't have much intuition on this one other

[2019-10-03 14:18] #8455 closed

[2019-10-03 14:22] mattklein123 commented on #8463
Per @alyssawilk I would really like to avoid preserving case if at all possible because I think it will be difficult to implement and still not work in all cases. I like @snowp's idea of having a formatter option that is implemented on encoding. I think this could be implemented pretty easily and would have a near zero cost for those not using this feature.

[2019-10-03 14:24] mattklein123 commented on #7867
I think this is actually not that hard and we can do this without any draining. Essentially we just need to have a layer of indirection between the filter chain and the actual filter config, such that the filter config itself can be snapped by the connection when it is created. I'm very happy to work with whoever wants to implement this on the design. Note also that we need this at Lyft so if no o

[2019-10-03 14:44] snowp opened #8473 "Filtering server live stats breaks health checking filter"
When the `server.live` is filtered out, https://github.com/envoyproxy/envoy/blob/master/source/server/server.cc#L210 always returns true, resulting in the health check filter standing in a  503 LH response.

[2019-10-03 14:50] snowp commented on #8473
I imagine the solution here is to store this information as a bool on the server instead of relying on stats lookup

[2019-10-03 16:37] htuch commented on #8392
@yittg yes, but there is some subtle issues, e.g. how do you handle the query fragment of the path in a generic way. The ideal is we figure this out and create a parallel match config in v2 (or v3 if this comes after 1.12.0), then deprecate the existing fields.

[2019-10-03 17:09] gsagula commented on #8448
It looks like that Envoy and Nginx optimized/base are very close:
[code]
It could be also the underlying compression library that we are using. I'm looking at some other more modern libraries which I believe that may provide a better performance.

[2019-10-03 17:30] #8371 closed

[2019-10-03 17:41] mattklein123 commented on #8473
Yeah that would be the right solution.

[2019-10-03 17:50] rkofman commented on #8463
We don't actually require true "preservation" -- so long as there's some way to make sure they're `Train-Case` on the way out for H1. Either by default (which may be problematic for those now expecting `kebab-case` headers), or giving us a tool to configure encoding one way or another ourselves.

[2019-10-03 18:10] venilnoronha commented on #8473
/assign @venilnoronha

[2019-10-03 20:42] danzh2010 opened #8479 "quiche: client re-connect upon INVALID_VERSION"
A quic client session does version negotiation with server at the very beginning of the connection. But the connection doesn't re-try connect if server doesn't support the version this client session is created with, instead, it close the connection with INVALID_VERSION error and retain the advertised version list sent back by server. QuicSpdyClientSession::CryptoConnect() fails in such case. Its

[2019-10-03 21:52] lizan commented on #4251
Thanks @PiotrSikora to confirm that. I will try releasing a separate set of image with libc++ soon (hopefully within 1.12 release).

@envoyproxy/maintainers how do we want to treat this against the deprecation policy? The breaking part is the dynamic_ot plugin (which has to built against same c++ standard library variant).

[2019-10-03 22:30] htuch commented on #8400
Please include me in any meeting you folks setup, there are implications for UDPA that I'd like to get clear. I'd prefer that we make this technique as dead simple to implement as possible; if we have to write more than ~100 lines-of-code to do the merge, I worry that non-Envoy xDS/UDPA clients are going to have a tough time implementing the feature. CC @markdroth

[2019-10-03 22:54] htuch commented on #8450
The other option would be to set an explicit priority on each header manipulation. Can you give some concrete examples of manipulations that you think would be using this for? I'm trying to wrap my head around the set/unset/override logic, so seeing something concrete would be helpful.

[2019-10-03 22:59] rgs1 commented on #8450
@htuch this test case is what we want: https://github.com/envoyproxy/envoy/pull/8466/commits/fa89efd9b0f9c5e371834a1e15e2e7bce6824a29

Basically:

* set `cache-control: private` at the global connection manager level
* unset it for a few routes

[2019-10-03 23:00] rgs1 commented on #8450
Inlining what we want/need:

[code]

[2019-10-03 23:11] #8315 closed

[2019-10-03 23:28] fredlas opened #8481 "ci: pedantic spellcheck's demands are mysterious"
The pedantic spellcheck format presubmit does not point out the words it's unhappy with. I think it used to? Anyways, #8478 is currently in a situation where the format presubmit is failing, *and I don't know how to fix it.* I got a failure, looked at the log, added to the dictionary what I thought each line was complaining about. Got another failure, saw that two lines were still present, added s

[2019-10-04 00:44] mattklein123 commented on #8481
Overall I have found the spell checker to be useful.

Let's fix the usability issues vs. removing it. cc @zuercher who can likely help.

[2019-10-04 00:50] troshko111 commented on #8164
Finally got to this this week, let me send the PR for the initial feedback.

[2019-10-04 00:53] lizan commented on #8473
This reminds me at #8259, do we know anywhere else that a feature is depending on stats which may be filtered? cc @jmarantz

[2019-10-04 01:49] PiotrSikora commented on #7454
Not stale.

[2019-10-04 03:41] htuch commented on #4251
I don't think this violates the deprecation policy, we don't have any strong ABI guarantees provided today, most of the policy covers API and functional behavior of the proxy. CC @alyssawilk.

In the future, I think we should have a strong ABI and stability of the filter API. I think this is going to come to us via the WASM NullVM interface that @PiotrSikora and @jplevyak are working on, rather th

[2019-10-04 03:42] mattklein123 commented on #8460
Agreed, cc @htuch

[2019-10-04 03:43] mattklein123 commented on #8479
cc @goaway we will need to implement this.

[2019-10-04 03:45] mattklein123 commented on #8442
Fixed by https://github.com/envoyproxy/envoy/pull/8445

[2019-10-04 03:45] #8442 closed

[2019-10-04 03:52] htuch commented on #8460
I think in v3 this makes sense, ideally we move some of this to `udpa.type.v1`. We should get more of the @envoyproxy/udpa-wg involved as we do this.

[2019-10-04 06:33] #8036 closed

[2019-10-04 09:33] #7960 closed

[2019-10-04 10:33] #7991 closed

[2019-10-04 11:33] #8049 closed

[2019-10-04 12:33] #8048 closed

[2019-10-04 12:58] EItanya commented on #8460
@mattklein123 I'm more than happy to take this on. I've never contributed to upstream envoy before, but I've been doing envoy development over at solo.io for a while.  Not sure how it works, does someone need to assign me, or should I assign myself?

[2019-10-04 13:34] htuch opened #8490 "Version the envoy.type API package"
Currently the `envoy.type` package is versionless. I think we should make this consistent with other API packages in v3, since we are actually likely to see churn here going forward, as we migrate to UDPA. Ultimately, having the freedom to deprecate is valuable and comes at a low cost with the automation in the new stable API versioning approach.

[2019-10-04 14:31] htuch opened #8491 "Enforce inter-package visibility constraints via protoxform generated BUILD"
In the v3 API, we will have generated BUILD files. As a step towards this, we will remove the existing visibility constraints and reintroduce them later via `protoxform` generation.

Since these constraints are only a convenience for @envoyproxy/api-shepherds to ensure sane structure, will postpone the work here until after 1.12.0 ships.

[2019-10-04 15:12] htuch commented on #8121
Related is https://github.com/envoyproxy/envoy/issues/8490. Also, various `common` packages are unversioned today. We should move them to a versioned scheme to support API evolution for these components.

[2019-10-04 15:40] markdroth commented on #8400
I'd like to be included in this discussion too.  I'm really concerned about the complexity and manageability of protobuf merging.

I do agree that we need a form of EDS that is incremental at the granularity of individual endpoints, and I've mentioned this to Harvey before.  But I think that use-case is something we can address more specifically via a separate first-class mechanism (e.g., maybe ma

[2019-10-04 15:48] howardjohn commented on #8400
+1 for being able to send individual endpoints. Is this any different than delta xDS though?

I agree with @rshriram though for the most part, it seems this is better suited for the control plane to handle

[2019-10-04 16:00] wgallagher commented on #7868
https://docs.google.com/document/d/1-w5Lv9idSbR8RNtGpkj-UCM6at6zslHBnC-VYyhe4DQ/edit#

@htuch @fredlas could you please take a look at this proposal. I'm not very satisfied with it, It's mainly meant as a starting point for discussion.

[2019-10-04 16:22] salrashid123 commented on #1106
@ipuustin Is there an example somewhere on how to use the "BoringSSL Private Key Methods"?

From what i can tell, i need to configure a [provider](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/auth/cert.proto#auth-privatekeyprovider)  but unsure what to do

---

WHat i'm trying to do is have envoy run such that its tls private key is actually backed by the TPM.

I do know how to do thi

[2019-10-04 16:41] kyessenov commented on #8400
I agree that simplicity is paramount. I think the real problem is that the config "modules" that Envoy provides (which is basically an individual xDS resource) does not line up well with the config intent. For example:
- an HTTP filter that needs metadata from virtual hosts and individual routes. Due to how config is spread out, that requires modifying LDS listener and RDS listener. RDS listener i

[2019-10-04 17:33] #7017 closed

[2019-10-04 19:33] #7954 closed

[2019-10-04 19:49] snowp opened #8497 "Refactor doEndStream in HCM"
The  `doEndStream` in the HttpConnectionManager is somewhat misleading because it is only called for some code paths that result in a stream being shut down (including the happy path).

We should consider refactoring this code to make this easier to understand, perhaps by ensuring that this cleanup code is always called on stream end: this would help centralize any cleanup code, including calling

[2019-10-04 19:52] derekargueta commented on #8393
this example redirects everything to www.google.com
[code]

curl output:
[code]

[2019-10-04 20:19] hollemawoolpert commented on #6897
I had a similar connect issue and `alpn_protocols: h2` was the fix for me.  See https://github.com/envoyproxy/envoy/issues/7925.

[2019-10-04 20:41] htuch commented on #8450
Got it; two questions:
1. Is the "reverse order" actually the right one? I.e. is it really useful to have the current order? Could we deprecate it?
2. It seems a bit arbitrary setting the evaluation order on virtual host (why not route? why not `RouteConfiguration`?). Any insight into this choice?

[2019-10-04 20:49] htuch commented on #8460
@eltanya assigned, the WG aspect will make sense when you put the types in https://github.com/cncf/udpa

[2019-10-04 20:55] rgs1 commented on #8450
I think so — intuitively most specific configs should win. cc: @sc0ttbeardsley

I did elaborate on this in the PR, reposting here:

Another API question is how do we feel about setting this at the vhost level? I think it's the right level because:

a) global is too inflexible
b) route is too granular

thoughts?

[2019-10-04 20:57] htuch commented on #8450
Why is global too inflexible? If generally we want a most specific win situation, then it seems that most folks will just want this site-wide once they decide on these semantics. But, if there is some scenario this isn't true, I'm happy to go with what you have, seems a reasonable tradeoff.

[2019-10-04 20:57] rgs1 commented on #8450
I do like the idea of deprecating the current order and making the "reverse order" the default one (or maybe we should call it "most specific has precedence").

[2019-10-04 20:59] rgs1 commented on #8450
Hmm, fair — we actually don't have a use case where we'd want to set turn this on for some vhosts, but not for others.

So making it global might be the right way actually.

[2019-10-04 21:42] lambdai commented on #8400
@howardjohn  I think delta and incremental granular is per X in XDS where X has a name. So adding single cluster/listener/route is possible
For Eds the named resource is cluster, so we cannot yet add/delete single endpoint

[2019-10-04 22:35] sc0ttbeardsley commented on #8450
The only worry I have about changing the ordering is that it seems like a major contract change and might catch folks off-guard as it may require re-writes of configs. Maybe save the flip from opt-in to opt-out to a major api-breaking release?

[2019-10-04 23:17] spenceral commented on #8446
I'm going to do this.

[2019-10-05 03:44] rgs1 commented on #8450
Maybe `eval_most_specific_header_configs_first` is a better property name than `reverse_header_evaluation_order`?

[2019-10-05 17:11] bshibs opened #8505 "Access logs for RequestMirrorPolicy?"
*Title*: *Is there a way to enable access logs for shadowed/mirrored requests?

*Description*:
I'd like to be able to perform detailed analysis of duration information from access logs between real and shadow traffic.

[2019-10-05 23:35] #8066 closed

[2019-10-06 02:35] #8099 closed

[2019-10-06 02:52] lambdai opened #8509 "Clang-tidy report Server::Instance invoke virtual function in constructor"
Create this issue to avoid involving too many things in a single PR.

Not end of the world since the inheritance is only used by test but no production. And tests are passing.

*Repro steps*:
https://github.com/envoyproxy/envoy/pull/8485

#4863

[code]

[2019-10-06 03:19] lizan commented on #8509
Yes this is legit clang-tidy error because virtual function invoked in constructor are bug-prone, (i.e. base class constructor cannot call virtual function overridden in derived class). Feel free to make clusterManager `final` in InstanceImpl.

[2019-10-06 13:51] jmarantz commented on #8473
There are some integration tests that depend on stats running. So if you wanted to do something like experimentally disable stats to see what else breaks, you wouldn't be able to because the integration tests would definitely break even if production worked :)

[2019-10-06 15:29] htuch commented on #8490
This is actually required, `api/envoy/type/matcher/string.proto` already features a deprecation, due to the simple regexes going away.

[2019-10-06 22:26] dschaller commented on #8262
Just an update on this request. It turns out that simply checking for the presence of a direct response is not sufficient as the CORS configuration is read in from either the route or it's virtual host. However, direct response objects do not have a way of accessing the virtual host they are registered on (https://github.com/envoyproxy/envoy/blob/master/include/envoy/router/router.h#L57-L96).

The

[2019-10-07 07:26] #8102 closed

[2019-10-07 08:13] Bella4 opened #8512 "Envoy (sometimes) crashes when Faulty configuration is received"
*Title*: *Envoy (sometimes) crashes when Faulty configuration is received*

*Description*:

*Repro steps*:

1. modify the LdsHelper
2. send invalid listener config to envoy (via LdsHelper)
3. after deployment, the invalid config should be received but envoy should not crash

*Logs*:

![image](https://user-images.githubusercontent.com/29887065/66292794-759eb180-e8e5-11e9-8a31-5c4f40f39384.png)

[2019-10-07 08:28] ipuustin commented on #1106
@salrashid123 : I've been experimenting with a PKCS#11 provider (which can use TPM as the backend, see https://github.com/tpm2-software/tpm2-pkcs11), but been busy with other stuff lately. I know Santosh has done a TPM private key provider here: https://github.com/aruba/envoy-extn-pkm-provider . You could maybe check if you could use that directly or use that as starting point for your own work?

[2019-10-07 10:38] mmorejon commented on #8393
Hi @derekargueta !
Thanks for your example, works perfect but, I'm thinking in an example as internal redirect like [Envoy behavior for the 302 code](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/http_connection_management#internal-redirects).

Is this possible for 308 and 307 codes?
Does Envoy have a cache behavior to store the first permanent redirection and avoid a second

[2019-10-07 12:49] yurado opened #8513 "envoy crashes at startup with std::bad_cast exception"
*Description*:
I've compiled some of my filters as well but according to the call stack the problem is within the `source/server/http/admin.cc` file in line `139`.
This is the problematic line: `const std::regex PromRegex("[^a-zA-Z0-9_]");`

I have a shared library that my filters link with. The .so is compiled with gcc 7 and envoy compiles within its container with gcc 5.

I`m running on ubuntu 1

[2019-10-07 13:51] Pluies commented on #8448
@gsagula thanks for looking into it! :)

As you point out, the difference between optimised {nginx,apache,gzip} and optimised Envoy is not _huge_... But still ~10-15% extra, which wipes out gains from a bunch of other application-level improvements we've been working on at $CURRENT_COMPANY, for example.

Regarding the compression library, as far as I can understand, both envoy and nginx use the ve

[2019-10-07 14:47] moderation commented on #8393
@mmorejon not sure on cache behaviour but 307 possible. Documentation at https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto.html?highlight=permanent_redirect#enum-route-redirectaction-redirectresponsecode

[2019-10-07 15:23] htuch commented on #7868
Thanks @wgallagher, commented in doc.

[2019-10-07 15:58] stevenzzzz commented on #7829
make it alive.
There is some cleanup I'd like to do when I get cycles.

On Sat, Oct 5, 2019 at 5:36 PM stale[bot] <notifications@github.com> wrote:

--
Xin Zhuang

[2019-10-07 16:17] htuch commented on #8450
+1 on rename to most specific. @sc0ttbeardsley we won't make any contract change in v2. The question I have is for v3, should we deprecate the existing behavior and replace with most specific (i.e. default true the new field)?

[2019-10-07 16:46] mmorejon commented on #8393
@derekargueta , I think we are talking different situations.
Your link belongs to an Envoy configuration with the ability to respond a 307 and 308 code to the client, but this isn't my case.
I need that Envoy as a proxy, detects a 308 or a 307 code from the backend and send the new request automatically based on the location header. The client just need the final respond from the second request.
T

[2019-10-07 17:15] rgs1 commented on #8450
Yeah, i think for config v3 it should become true. I'll add a comment about that.

[2019-10-07 18:32] rgs1 commented on #8450
Sorry for the confusion, meant to say `eval_most_specific_header_configs_last`. But after some thought, I prefer `most_specific_header_mutations_wins`.

[2019-10-07 18:44] cyrus-mc opened #8517 "Need help understanding various timeout values when used with SSE and connection re-use"
*Description*:

I apologize if this isn't the place to get questions answered.

I am attempting to understand the various timeout values (cluster_idle_timeout, route idle_timeout, route timeout, etc) and how that impacts long lived connections (ie: SSE) and connection re-use.

Consulting the documentation:

[route.timeout](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto

[2019-10-07 19:00] shivanshu21 opened #8518 "Match a route based on the position of query param"
We want to match a route only when the first query param is not a specific value.

In the case below first query param should not be "param".

Eg.
www.example.com/deals?param=xyz&arg=123 **should not match**
www.example.com/deals?arg=123&param=xyz **should match**

[2019-10-07 19:46] asraa opened #8519 "CVE-2019-15225"
# CVE-2019-15225

## Brief description
Users of Envoy 1.11.1 and before may configure a route to match incoming path headers when using the libstdc++ regex implementation. A remote attacker may send a request with a very long URI to result in a denial of service (memory consumption).

## CVSS
[CVSS:3.0/AV:N/AC:L/PR:N/UI:N/S:U/C:N/I:N/A:H](https://www.first.org/cvss/calculator/3.0#CVSS:3.0/AV:N/AC:

[2019-10-07 19:46] asraa opened #8520 "CVE-2019-15226"
# CVE-2019-15226

## Brief description
Upon receiving each incoming request header data, Envoy will iterate over existing request headers to verify that the total size of the headers stays below a maximum limit. The implementation in versions 1.10.0 and after for HTTP/1.x traffic and all versions of Envoy for HTTP/2 traffic had O(n^2) performance characteristics. A remote attacker may craft a requ

[2019-10-07 20:14] oschaaf opened #8521 "Use unsynchronized shared_ptr in the hot paths"
When libpthread is linked, `shared_ptr` will use a synchronized pointer.
I just learned on S.O. that it is possible to explicitly instantiate the unsynchronized version of `shared_ptr`.

E.g.:

[code]

Probably the change to try this out would be low-risk/mechanical, hence it might be worth applying this to the hot path and test if there's a significant performance gain to be won.

[2019-10-07 20:20] #8509 closed

[2019-10-07 20:48] wrowe commented on #8344
https://github.com/libevent/libevent/pull/908
Avoid transforming base C_FLAGS set deliberately

has been submitted, accepted and merged to master. libevent patch will fall off after we pick up a new baseline commit.

[2019-10-07 20:50] wrowe commented on #8344
Note we propose to drop these patches from our effective patch set; while they remain useful they are not needed for successful bazel external_cmake() builds;
madler/zlib#448 ENABLE_STATIC_CRT cmake flag
nghttp2/nghttp2#1393 ENABLE_STATIC_CRT cmake flag
nghttp2/nghttp2#1394 nghttp2_static.lib/.a output rename

[2019-10-07 21:34] oschaaf commented on #8521
(S.O. link: https://stackoverflow.com/questions/15129263/is-there-a-non-atomic-equivalent-of-stdshared-ptr-and-why-isnt-there-one-in/15141844#15141844)

[2019-10-07 21:49] lambdai commented on #7867
`Essentially we just need to have a layer of indirection between the filter chain and the actual filter config`
Are you saying the filter chain from LDS doesn't mutate? Just do some extra calculation when applying to newly created http stream? This seems easier. We already support similar calculation when applying network filter at `ActiveTcpListener::newConnection`

What is the missing part?
Shou

[2019-10-07 22:27] htuch opened #8525 "Fix untitled protos in API docs"
As per screenshot, there's a bunch of protos that are in the build that don't have human readable title or helpful proto level comments (in some cases). We should do a manual pass over the API docs and fix these.

[2019-10-07 23:41] aa-stripe commented on #8374
I'm happy to work on this, it's on my backlog. My schedule is a bit hectic, but as I find time I'm happy to look in to it. In the meantime, if someone else feels inclined, go for it :)

[2019-10-08 00:49] snowp commented on #8521
Would this be portable between GCC and Clang? At a glance it seems very GCC specific

[2019-10-08 00:49] tonya11en commented on #7789
Just to provide an update on what we have so far, I wanted to share some experimental data. Once we merge #8524, we'll have an MVP for the adaptive concurrency filter. It's behaving as expected with the bugfix.

Below you'll find some output from a client/server load generator that I hacked together. It's a 160s test with RPS slowly ramping up from to values that tip the fake server over. The fake

[2019-10-08 00:56] rgs1 commented on #4602
FWIW, we started running #8263 in prod and things look pretty imbalanced:

[code]

Are others seeing similar natural imbalances?

[2019-10-08 02:48] #7358 closed

[2019-10-08 02:57] mattklein123 commented on #7867
Correct that's what I'm thinking.

I haven't thought it through fully (we will need to iterate on a design) but I think we move the the filter configuration into a oneof that either is defined inline statically or comes from a config source (cc @htuch because we want to move the static filter config into a oneof for v3 to future proof it). Once we have a config source, I think we can have the owne

[2019-10-08 03:11] mattklein123 commented on #8521
My understanding is that on almost all platforms we care about shared_ptr should use atomics. Or do you mean not use atomics at all? We definitely can't do the latter as we do use shared_ptr across threads in many places.

[2019-10-08 03:15] mattklein123 commented on #4602
This doesn't surprise me at all. The kernel will generally keep things on the same thread if it thinks that it can avoid context switches, etc. Over the years I have come to realize that in almost all cases the kernel knows what it is doing, but for those small cases where it does not hold true please try https://github.com/envoyproxy/envoy/pull/8422. :)

[2019-10-08 04:00] mattklein123 commented on #8505
Unfortunately I don't think this is possible today.

[2019-10-08 04:49] htuch commented on #8450
@rgs1 SGTM

[2019-10-08 08:00] derekargueta commented on #8393
Oh I see, you want *Envoy* to follow the Location header, not the client. Sort of like the `-L` flag on curl. Envoy does not have this feature to my knowledge, it will return the response to the client.

[2019-10-08 08:30] lizan commented on #8521
At a glance it seems libstdc++ specific. I don't think it would work on macOS or Windows.

[2019-10-08 08:33] derekargueta commented on #4863
latest status of master errors
[code]

[2019-10-08 09:13] oschaaf commented on #8521
I was thinking that maybe there are cases where a `shared_ptr` is used, but switching to a non-synchronized version would be a (functional) no-op?

Also pasting `pprof` peek focussing on `shared_ptr`:
https://gist.github.com/oschaaf/94529253b4f7a4dd9959beecdacb8105

[2019-10-08 09:28] mmorejon commented on #8393
Exactly, like `-L` flag on curl.
Is it possible simulate this behavior with Lua filter during the response phase?

[2019-10-08 09:39] kindermoumoute opened #8533 "ext_authz: fallback to a direct response on error"
When the external authorization HTTP filter is down I want to be able to return a direct response with custom headers / grpc status, and body.

[2019-10-08 09:46] lizan commented on #6297
FWIW, I recently switched from CLion to VSCode + clangd, this set up works well so far. I'll try to blog the whole setup, but in short just use compilation database with vscode-clangd plugin with**out** default C/C++ plugin.

[2019-10-08 17:55] htuch commented on #7867
Yep, moving to a `ConfigSource` is aligned with what we want in UDPA. Let's promote to a `oneof` for v3.

[2019-10-08 20:19] menghanl commented on #8174
@kyessenov Is there any update on this? This would make it easier for us to manage generated code.

[2019-10-08 20:22] kyessenov commented on #8174
I believe this was fixed as part of https://github.com/envoyproxy/envoy/pull/8495

[2019-10-08 20:31] mattklein123 commented on #8174
Closing as fixed.

[2019-10-08 20:31] #8174 closed

[2019-10-09 00:10] lizan opened #8540 "config: allow double registration with different name and deprecation"
*Description*:

To support extension rename with better deprecation. e.g. allow TLS transport socket to be registered as `envoy.transport_socket.tls` and `tls` and the latter should be deprecated.

https://github.com/envoyproxy/envoy/pull/8508#discussion_r332119188

[2019-10-09 01:37] idouba opened #8542 "HTTP request with special X-Request-Id can NOT be traced"
curl a service with following two ways:

curl http://svc:20888/path  -H 'X-Request-Id: 8cda17a5-eb41-4ced-9843-acc826f95c8c'
curl http://svc:20888/path -H 'X-Request-Id: 27290d28d5c38da315a78399d71fc20b'
The former request with a valid uuid as x-request-id can be traced successfully,
while the latter with a invalid uuid does not be traced, thex-request-id is generated by some old app.

My question

[2019-10-09 02:33] idouba commented on #8542
Since x-b3-sampled is set in envoy and app propagate it across one request, which decide weather the trace should be collected,  why x_request_id has to be checked  modified here like thisL
[code]

[2019-10-09 02:55] hzxuzhonghu commented on #8102
/reopen

[2019-10-09 02:58] #7715 closed

[2019-10-09 03:43] mattklein123 commented on #8542
This is a duplicate of https://github.com/envoyproxy/envoy/issues/7624. Let's track there.

[2019-10-09 03:43] #8542 closed

[2019-10-09 03:45] mattklein123 commented on #8533
I think this is probably covered by https://github.com/envoyproxy/envoy/pull/8126?

[2019-10-09 06:07] argos83 opened #8545 "listener/http-manager downstream_rq_4xx counter not incremented when envoy returns a 431 response after hitting a header size limit"
**Title**: *listener/http-manager downstream_rq_4xx counter not incremented when envoy returns a 431 response after hitting a header size limit*

**Description**:
When rolling out v1.11.2 which includes the max 100 headers count limit we wanted to know if we were breaking any existing service (i.e. a service that expects requests with >100 headers) by looking at the `response_code_class` tag in th

[2019-10-09 07:54] cetanu commented on #8388
You would need to do this using LDS, which can be either GRPC/JSON-REST or file-based.

If you use a file for example, envoy will reload it every time it is modified. You could write something trivial to update the file periodically... or you can take a look at some of the control-plane libraries/implementations out there to provide the dynamic config via tcp.

[2019-10-09 08:18] tatsuhiro-t opened #8547 "WebSocket over HTTP/2 does not work"
*Title*: WebSocket over HTTP/2 does not work

*Description*:

I setup envoy with allow_connect=true in http2_protocol_options and websocket server behind it.  websocket server only handles RFC 6455 handshake.

Sending the request with CONNECT method and :protocol=websocket results in 400 HTTP status code.  The backend websocket server complains that sec-websocket-key header field is missing.  Netw

[2019-10-09 09:02] kindermoumoute commented on #8533
Yes, the gRPC part is missing in the conversation but this is the same topic. 👍

[2019-10-09 09:02] #8533 closed

[2019-10-09 09:59] harindaka commented on #2092
Is this not possible yet?

[2019-10-09 10:13] jmprusi commented on #8305
I've been hit by this too...

I think it is related to https://github.com/envoyproxy/envoy/issues/886, we've been able to "fix" it by using the provided solution in that issue:

[code]

But it would be amazing to have a fix for envoy to match the gRPC authority properly.

[2019-10-09 12:31] dichen16 opened #8549 "Document issue"
in bazel/README.md,
On Fedora (maybe also other red hat distros), run the following:
[code]

This is not enough, we need to add **libstdc++-static**, otherwise the following error will pop out
[code]

[2019-10-09 14:19] ascheglov opened #8550 "Strip big blobs from /config_dump"
Consider an xDS which sends a Listener config with the gRPC-JSON transcoder filter.
Which has the proto_descriptor_bin field which is some megabytes of protobuf descriptors.

This wall of base64 text makes  /config_dump hard to read, so it would be nice to replace it with something shorter, e.g. a sha-1 of that blob.

[2019-10-09 14:28] Barborica-Alexandru opened #8551 "Envoy fails to correctly match excessive websocket requests"
Envoy fails to correctly match excessive websocket requests

*Description*:
I am using the latest version of meshcentral, a web based remote management server, which uses a high number of websocket connections.
I am also using the latest version of envoy built from master 5 minutes ago but issue persists on older versions of envoy 1.12. Have not yet tested on v1.11.
EDIT: Same thing happens on v1.

[2019-10-09 14:33] alyssawilk commented on #8545
It looks like the problem here is that generally the 4xx stats are handled in the HCM, but for overly large headers (and other classes of errors) the codec_impl.cc does sendProtocolError and the stats aren't incremented.  I think it would be good to unify that handling.

[2019-10-09 14:38] alyssawilk commented on #8547
Sorry, without time to dig into the specs, can you be a bit more clear about what you think Envoy should be doing?  Creating and validating Sec-WebSocket-Key when not present?
AFIK the current websocket code is to handle tunneling H1 websocket over H2, where I thought the client would originate sec-websocket-key.  If you want to make H2 support more comprehensive and standards compliant, that'd be

[2019-10-09 14:55] tatsuhiro-t commented on #8547
If I understand RFC 8441 correctly, HTTP/2 client which implements RFC 8441 never send sec-websocket-key.
For a proxy which translates HTTP/2 into HTTP/1.1 (like envoy), it has to do RFC 6455 WebSocket handshake with the backend WebSocket server, that is create and validate sec-websocket-key.

[2019-10-09 19:02] mattklein123 commented on #8545
Yeah +1 we should definitely fix this.

[2019-10-09 19:09] #8419 closed

[2019-10-09 19:37] wrowe opened #8554 "Ensure cmake_external compilations are consistent"
This is a broad tracking issue for a host of quirk-related patches to the bazel/foreign_cc/BUILD components, and the many improvements to the rules_foreign_cc which lets us make these adjustments in a more granular way.

The proposition is that most cmake'd components will not need tweaks, and that rules_foreign_cc can share most necessary compilation and linkage flags to cmake and overrule cmake'

[2019-10-09 19:55] wrowe commented on #8554
One obvious fix that might be worth considering, I'd suggest
[code]

Modifying the compiler in use for all components that support this flag would drop one more variable from the resulting collection of compiled objects. This default particularly helps asan builds to create and carry along the resulting object instrumentation of the dependency objects.

[2019-10-09 20:09] lavignes commented on #8325
Just wanted to update this issue to say that I have included this fix in App Mesh's 1.11.2.0 release of Envoy aws/aws-app-mesh-roadmap#118.

[2019-10-09 22:10] zuercher commented on #8517
I'm answer from memory, so I may be off in some details.

I would expect the long-lived SSE request to be considered active and so the http connection manager idle_timeout won't come into play. That timeout triggers when the downstream connection remains open without any pending requests.

As far as connection re-use goes, there are a couple of things at play here.
* Envoy will re-use connections

[2019-10-09 22:26] derekargueta commented on #8551
Can you post the relevant configuration pieces?

[2019-10-09 22:47] ManishMehta commented on #3178
@ggreenway @PiotrSikora Refreshing this thread.
What are one's options today if s/he wanted OCSP stapling with Envoy?

[2019-10-09 23:39] wbertelsen opened #8558 "Linker error building on system lacking a c++11 toolchain"
*Title*:
Linker error building on system lacking a c++11 toolchain

*Description*:
I'm able to build envoy 1.11.2 on a centos-like (amazon linux 2018.03) system that doesn't support the `c++11` toolchain by using `ENVOY_IGNORE_GLIBCXX_USE_CXX11_ABI_ERROR=1`. However, I'm unable to build current HEAD. I get an error during linking related to `std::allocator<std::string>::allocator()`
[code]
I suspe

[2019-10-09 23:58] wrowe commented on #8344
https://github.com/envoyproxy/envoy/pull/8280 passes all tests using Envoy's bazel cflag elections without the individual proposals upstream to add this toggle for their Debug/Release/ReleaseWithDebInfo targets, so we can safely close this ticket as not blocking envoy binaries.

[2019-10-09 23:58] #8344 closed

[2019-10-10 00:06] derekargueta opened #8559 "Migrate to LLVM 9"
*Title*: Migrate to LLVM 9

*Description*:
LLVM 9 has been released, we should consider updating the CI infrastructure from 8 to 9. This affects
- clang
- clang++
- clang-tidy
- clang-format

[optional *Relevant Links*:]
- [LLVM 9 release notes](http://releases.llvm.org/9.0.0/docs/ReleaseNotes.html)
- [LLVM 9 downloads page](http://releases.llvm.org/download.html)
- [C++ standard implementation st

[2019-10-10 00:06] derekargueta commented on #8559
@lizan I assume this falls into your domain. Any thoughts? I'd be interested in trying it out in the next few weeks.

[2019-10-10 00:12] derekargueta commented on #8355
@zuercher mind assigning @nezdolik and removing `help wanted`?

[2019-10-10 01:22] derekargueta opened #8561 "Remove v1 API code"
*Title*: Remove v1 API code

*Description*:
Top-level ticket for when we're ready to remove v1 completely (v1.12 release). Issue #6362 is a prerequisite, but doesn't cover the actual API removal. That will be done with [this branch](https://github.com/envoyproxy/envoy/compare/master...derekargueta:dereka/the-great-exodus) with small changes picked off and merged early to try to make it a straightf

[2019-10-10 01:27] derekargueta commented on #8561
@mattklein123 please assign to me

[2019-10-10 01:38] tatsuhiro-t commented on #8547
I think it would be nice to verify that Chrome (which implements RFC 8441 as far as I know) works with envoy.  Please note that Chrome will fallback to RFC 6455 handshake if RFC 8441 does not work.

As far as I understand it, I think websocket over h2 in envoy only works under the following situations:

1. Client performs RFC 6455 handshake, and envoy (incorrectly?) forwards sec-websocket-key gene

[2019-10-10 02:01] lizan commented on #8559
https://github.com/envoyproxy/envoy-build-tools/pull/6 I'm already using LLVM-9 locally

[2019-10-10 02:02] wrowe commented on #7841
FWIW this is a duplicate issue, see also https://github.com/envoyproxy/envoy/issues/2920 (and other previous tickets which were marked solved.)

[2019-10-10 02:25] derekargueta commented on #8559
@lizan oh nice, didn't know the build tooling got pulled into a separate repo. I assume this ticket is closable then.

[2019-10-10 02:25] #8559 closed

[2019-10-10 02:29] wrowe commented on #3795
This remains an issue on Windows.

[2019-10-10 02:57] mattklein123 commented on #8561
@derekargueta do you want to use https://github.com/envoyproxy/envoy/issues/2832 to track this removal? Up to you.

[2019-10-10 04:57] lambdai opened #8564 "Listener drain, next step ?"
Listener mode was working well in the old world:
1. force close connection at certain time
2. Use a number of bind_to_port = false listeners and expect very few listeners are updated.

However, I am seeing the tendency that
1. [Deprecate bind_to_port and migrate the small listeners into a listener with huge filter chain collection](https://github.com/envoyproxy/envoy/issues/5355). We lose the abil

[2019-10-10 06:39] Barborica-Alexandru commented on #8551
It's all in the first post just badly formatted here it is again:
Virtual host:
'            - name: meshcentral
              domains: [ "meshcentral.example.com" ]
              routes:
              - match:
                  prefix: "/"
                route:
                  upgrade_configs:
                    upgrade_type: websocket
                  retry_policy:
                    retry

[2019-10-10 12:49] alyssawilk commented on #8547
Handling H1 websocket tunneled over H2 hops is as you note and the docs note, the websocket functionality currently supported by Envoy.   I guess I don't consider it a bug to not support native H2 websocket as long as we don't claim to, it's just a feature which Envoy doesn't support yet, like server push.  Handling HTTP/2 websocket does seem like a worthwhile addition and if you have any interest

[2019-10-10 15:07] asraa opened #8567 "[HeaderMap] Eliminate non-const header access functions follow-up"
**Action item for CVE-2019-15226**

Following up on the patch for CVE-2019-15226 (https://github.com/envoyproxy/envoy/issues/8520), where we added a `cached_byte_size_` optional in `HeaderMap` that is updated with modifications to the `HeaderMap`, we should take steps to maintain an always-valid internal byte size count:

This would involve eliminating the non-const inline header access functions

[2019-10-10 15:47] dmitry-j-mikhin opened #8568 "Build is broken with Bazel 1.0"
*Title*: *Build is broken with Bazel 1.0*

*Description*:
With recently released Bazel 1.0 we got error like this:
`ERROR: /build/tmp/_bazel_root/7b7747ec045ae606eb720a1222f56098/external/googleapis/BUILD.bazel:164:1: in srcs attribute of _generate_cc rule @googleapis//:_tracing_proto_grpc_codegen: '@googleapis//:tracing_proto_proto' does not have mandatory providers: 'proto'. Since this rule was

[2019-10-10 16:07] zuercher commented on #8558
@lizan do you have any input?

[2019-10-10 16:29] zuercher commented on #8518
What's the purpose of routing based on the ordering of parameters? In my experience, HTTP clients often manage query parameters as unordered key-value maps, so it seems to me that depending on parameter ordering in routing isn't reliable.

Currently, the query parameters are available in the `:path` header and can be used for path matching. So a prefix match on `/deals?arg=123&` would actually wor

[2019-10-10 17:58] zuercher commented on #2092
The original PRs that would have implemented this were never merged. PR #8462 resurrects that implementation.

[2019-10-10 18:18] naftulikay commented on #2920
I came here from #7841.

I built an internal tool at my company for handling graceful Envoy shutdown along with hot restarts. It was written in Rust and does the following:

 - Handles the hot-reload functionality that the Python wrapper provides.
 - Implements graceful shutdown by doing the following, in order:
   - Upon a shutdown signal, POSTs to `/healthcheck/fail` to cause Envoy to fail healt

[2019-10-10 18:52] a-sharma11 commented on #7624
wondering whats the status of this? There hasn't been any activity for more than a month here.

[2019-10-10 19:00] derekargueta commented on #8561
@mattklein123 SGTM. Just to be clear, removal of the v1 API is covered by the first item on that last, the google group link, right? (btw the second item can be marked done, dunno if there's a way to transfer edit permissions on an issue)

[2019-10-10 19:00] #8561 closed

[2019-10-10 19:03] rossdylan commented on #7624
I've started work on it and should have a PR in the next couple weeks. I've been a bit backlogged so its going slower than I expected.

[2019-10-10 19:06] derekargueta opened #8571 "OAuth HTTP filter"
*Title*: OAuth HTTP filter

*Description*:
We have an internal HTTP filter that implements OAuth 2.0 ([RFC 6749](https://tools.ietf.org/html/rfc6749)). I wanted to gauge community interest in upstreaming this. We've been running it for all of our internal sites for about a year now. cc @bplotnick who I think had interest.

[2019-10-10 19:28] bplotnick commented on #8571
We were mostly using the Identity Token portion of OpenID Connect. We just were relying on the IdP to give us some signed token and it just happened to be a JWT. We ignored everything else about OIDC and OAuth 2.0 (standard OAuth 2.0 does not include Identity Tokens IIRC). From everyone we talked to, it seemed like it was a pretty unique use-case, though I guess we'll see when we present at KubeCo

[2019-10-10 20:00] derekargueta commented on #8571
@bplotnick gotcha, yeah you're correct that our filter implements the client-side workflow as described in that link.

[2019-10-10 20:11] #8450 closed

[2019-10-10 20:48] mattklein123 commented on #8518
Also FWIW I think you could get this done with Lua.

[2019-10-10 20:50] Barborica-Alexandru commented on #8571
This would be quite amazing as we are also looking into implementing such a filter. We currently have to run a separate gatekeeper proxy that handles the auth flow and having this feature would allow us to secure webapps from within envoy rather than within the webapp itself or by using a separate proxy.

[2019-10-10 20:50] mattklein123 commented on #8561
@derekargueta yup that's right.

[2019-10-10 20:53] shivanshu21 commented on #8518
Thanks @zuercher and @mattklein123 . We will use the prefix match `/deals?arg=123&` for this issue.

Since we are discussing here, there is another unrelated feature:

*Can we have the capacity to pull some value out of a query param and put it in the Redirect Location?*

I can open a separate bug for this.

[2019-10-10 20:55] mattklein123 commented on #8571
In general I would love to see this happen as I think this is a pretty big gap in the ecosystem right now. With that said, is there plan to OSS the backend (token storage, etc.)? Is there a design doc for what this would cover?

[2019-10-10 21:14] mattklein123 opened #8575 "buffer: remove libevent implementation"
This can be done once 1.12.0 is cut. This includes the CLI flags to swich, etc.

[2019-10-10 21:15] mattklein123 commented on #8575
cc @derekargueta in case you feel so incline to up your red stats. :)

[2019-10-10 21:16] mattklein123 commented on #8427
Fixed.

[2019-10-10 21:16] #8427 closed

[2019-10-10 21:25] derekargueta commented on #8575
happy to do so 📉

[2019-10-10 21:26] mattklein123 commented on #8564
@lambdai the existing listener drain model works very well for the vast majority of deployments. Before we add a bunch of complexity, let's make sure that we are solving the right problems. Can you please put together a more complete statement of the problem and potential solutions in a gdoc and then share with the community? It would be great if you could pre-review this on the Istio side to make

[2019-10-10 21:31] lizan commented on #8568
hmm, I tried rc3 and that was fine during that time, let me check again

[2019-10-10 21:32] derekargueta commented on #8571
@Barborica-Alexandru great to hear! We were also in the "separate proxy" situation, using OpenResty with a Lua script to provide OAuth for webapps, so it was great to consolidate it to Envoy.

@mattklein123 the way the filter works currently is that it makes an HTTP request to a CDS cluster for the actual authentication so it's bring-your-own-authentication-service so that it can plug into whateve

[2019-10-10 21:51] Barborica-Alexandru commented on #8551
Solved with https://github.com/envoyproxy/envoy/issues/886. So duplicate of that bug. Solution works.

[2019-10-10 21:51] #8551 closed

[2019-10-10 21:51] mattklein123 commented on #5348
See https://github.com/envoyproxy/envoy/pull/8001

[2019-10-10 22:01] #8490 closed

[2019-10-11 00:39] cetanu commented on #8412
As per another section of the docs:

This explains why IP Tagging works when the address is RFC1918, and does not in any other circumstance, unless I set `use_remote_address` to `false`

Unless I am misunderstanding?

[2019-10-11 00:53] cetanu commented on #8412
### From the envoy documentation

* The HTTP IP Tagging filter sets the header x-envoy-ip-tags with the string tags for the trusted address from x-forwarded-for
* If use_remote_address is set to true, Envoy sets the x-envoy-external-address header to the trusted client address.

### The test we've tried

You can browse to https://edge-echo.services.atlassian.com/

This acts as a lite version of ht

[2019-10-11 02:09] moderation commented on #8568
Didn't dig into it much but 1.0.0 worked for me on my standard Linux build. It failed big time on MacOS.

[2019-10-11 04:59] hainesc commented on #8425
Thanks @mattklein123 for your reply.

As RTT(round trip time) is the most important metrics of network quality. I will use RTT as network quality below.

Envoy mobile run on the **client side**, so the client application developer should fetch RTT and then they have two choices:
1. Send RTT in http headers(then the server decide which quality of resource to response)
2. Get RTT and decide which qu

[2019-10-11 05:35] hainesc commented on #8425
And again, for some clients, eg Chrome, which accept `Client hints` including RTT and ECT, The only work we need to do at envoy is Intercepting the response package and adding `client hints` in http headers.
[code]
Then chrome will report the values by adding them in their next request header. See https://developers.google.com/web/updates/2015/09/automating-resource-selection-with-client-hints

Th

[2019-10-11 05:54] #8016 closed

[2019-10-11 06:49] lambdai commented on #8564
@mattklein123 Share you the doc: https://docs.google.com/document/d/1fjud3xSNRxxEwAWR1COsDnViB4FtTKTFgfQVW0IPU0c/edit#

[2019-10-11 08:22] daviderenger opened #8584 "jwt_authn inline_string with symmetric key cant satisfy validation"
Hi,

I'm trying to configure jwt auth with an inline string and gets the following errors:

With this config:
`local_jwks:
                    inline_string: '
                    {
                      "keys":[
                        {
                          "kty":"oct",
                          "kid":"xxx",
                          "alg":"HS256",
                          "k":"xxx",

[2019-10-11 08:59] hogarthj commented on #2763
I know this has been a bit of a long running issue but I just wanted to share a config I tested that was built on the work others have done previously, with a focus on only presenting to the network admin pages that I considered safe (and this would be fairly trivial to extend with a client TLS auth filter for instance)...

The context I'm working with here is arbitrary containerised application t

[2019-10-11 09:09] nezdolik commented on #8355
/assign

[2019-10-11 09:13] andrewtikhonov opened #8585 "Envoy crashes or unstable on Windows 10 WSL"
*Title*: Envoy crashes on Windows 10 WSL when connecting to unavailable hosts or services.

*Description*:
Connection to resources may be a standard discovery procedure or a health check routine.
The problem has been debugged and the route cause seems to have been identified. The call to setsockopt() on WSL (version 1) compatibility layer for a socket opened to an unavailable host or service resul

[2019-10-11 10:02] swade1987 commented on #8571
Definitely ... we are only using NGINX Ingress Controller on our UIs because they are fronted by SSO (using Dex and oauth2 proxy) if Envoy made this simple then we could have a truly Envoy'd platform.

[2019-10-11 10:24] #7795 closed

[2019-10-11 11:01] nezdolik opened #8586 "Envoy to validate *x-envoy-upstream-expected-rq-timeout-ms* header when `respect_expected_rq_timeout` is enabled?"
As per discussion https://github.com/nezdolik/envoy/commit/ab89bdf2d8412bf32b6113b086ad1f71e8b16928#r35428207

For the case when `respect_expected_rq_timeout` is enabled and not valid (for example negative) value is set in *x-envoy-expected-timeout-ms* header, Envoy will use default timeout (15s) as upstream timeout (in case per try timeout is not specified). Should it be considered expected behav

[2019-10-11 11:24] #8107 closed

[2019-10-11 11:36] daviderenger commented on #8584
Realize that HS256 is not supported until 1.12.0, must be better at looking at the version tag in documentation when googling for envoy docs...

I do think that the error message was a little bit confusing still!

[2019-10-11 11:36] #8584 closed

[2019-10-11 12:04] asraa commented on #8586
Hi! Thanks for making this! Just wanted to weigh in here since I brought it up, but I personally feel Envoy should fallback to `x-envoy-upstream-rq-timeout-ms` both when `x-envoy-expected-rq-timeout-ms` isn't set or isn't used (because it's out of range).

[2019-10-11 15:15] nezdolik commented on #7965
heads up, am starting actively working on this

[2019-10-11 15:31] mattklein123 commented on #8585
I think this is a dup of https://github.com/envoyproxy/envoy/issues/8319

[2019-10-11 15:32] mattklein123 commented on #8586
+1 I agree it should fall back.

[2019-10-11 16:06] moderation commented on #8571
+1 for this. We too are in the "separate proxy" scenario and it is requiring us to keep around an NGINX ingress controller we'd like to remove.

[2019-10-11 16:24] #8141 closed

[2019-10-11 17:09] wrowe commented on #8351
Thanks for the explanation, lizan. This isn't envoy-specific, it's a basic flaw in how the boringssl BUILD stub was coded (a static library has no exports.) We have this solved now with PR 8280 (merged) for the static builds. There is more to do for their bazel schema, but no remaining issues here at envoy.

[2019-10-11 17:10] #4602 closed

[2019-10-11 17:21] htuch opened #8590 "Developer documentation for API upgrade workflow and tooling"
As we work towards the v3 release, many tools are being developed to automate the flow, e.g. the type whisperer, type database, Clang tools for upgrading Envoy source etc. These should be fully documented, together with workflow and how an API update happens in some developer facing Markdown. CC @mattklein123

[2019-10-11 17:22] andrewtikhonov commented on #8585
Looks like it

[2019-10-11 17:23] #8585 closed

[2019-10-11 18:24] agl commented on #8351
(p.s., if the BoringSSL BUILD is busted (which is totally possible), and you can tell us what's wrong, we can change it. It ultimately comes from [here](https://boringssl.googlesource.com/boringssl/+/refs/heads/master/util/BUILD.toplevel) and [here](https://boringssl.googlesource.com/boringssl/+/refs/heads/master/util/generate_build_files.py).)

[2019-10-11 19:32] cyrus-mc commented on #8517
@zuercher

Thanks for your response. I have validated what you stated.

The http connection manager idle_timeout only comes into play where there are no pending requests and a SSE request counts as a pending request. In this situation the idle_timeout for the route is what is important.

As for connection re-use, again what you stated is correct. Using http/2 for upstream allows multiple requests

[2019-10-11 19:32] #8517 closed

[2019-10-11 19:36] mikenavarro commented on #8571
Also a big +1 for this. I’ve utilized the separate proxy flow before and IMO it’s more error prone then if the client-side logic was handled by an envoy filter.

[2019-10-11 19:48] RaviGitHubAccount commented on #8178
I removed validation from protos and its now working for me.

[2019-10-11 19:49] ravgupms commented on #8178
I removed validation from protos and its now working for me.

[2019-10-11 19:49] #8178 closed

[2019-10-11 20:54] zuercher commented on #8518
Please open a separate issue.

[2019-10-11 21:18] #8518 closed

[2019-10-11 22:23] jstewmon opened #8593 "access_log json_format DYNAMIC_METADATA values are escaped"
When using `json_format` for `access_log`, `DYNAMIC_METADATA` values, which are already JSON, are escaped, resulting in double-escaped JSON values.

Since dynamic metadata values are already well-formed JSON, I think they should not be escaped when using `json_format` access logs.

*Repro steps*:
A basic `envoy.yaml` that logs a dynamic metadata field:

[code]

Run the config through docker:

[cod

[2019-10-11 22:42] troshko111 opened #8594 "stats: unify unit symbol suffixes and scale values where necessary"
*Title*: stats: unify unit symbol suffixes and scale values where necessary

*Description*: for `statsd` histograms are all timers in milliseconds, Envoy histograms are however not necessarily timers in milliseconds, for Envoy histograms suffixed with their corresponding SI unit symbol this is acceptable, but for histograms without a suffix, especially those which are timers but record in units ot

[2019-10-12 00:47] mandarjog commented on #7957
/cc @kyessenov

[2019-10-12 06:24] #8114 closed

[2019-10-12 12:17] derekargueta commented on #8412
Is the 10.x.x.x IP in `x-forwarded-for` the internal IP address of your Envoy instance? Assuming you don't have some kind of cloud load balancer in front (the DNS looks like it points straight to ec2) the workflow is
1) you connect directly to the Envoy ec2 instance, Envoy adds your IP to XFF
2) request goes on to your webapp, which adds Envoy's IP to XFF before presenting.
Is this correct?

If th

[2019-10-12 22:44] #8161 closed

[2019-10-13 00:44] #7832 closed

[2019-10-13 19:00] #8165 closed

[2019-10-13 20:00] #8168 closed

[2019-10-14 01:05] cetanu commented on #8412
@derekargueta

My apologies, I should have explained that in the previous comment.
This 'echo' page displays what it received from envoy, which means the XFF header there has been appended to by envoy, so that 10/8 address is our proxy.

[2019-10-14 13:34] asraa commented on #8568
This is the same problem that's happening on the PGV builds:
```ERROR: /go/src/github.com/envoyproxy/protoc-gen-validate/tests/harness/cases/other_package/BUILD:82:1: in deps attribute of python_proto_gen_validate rule //tests/harness/cases/other_package:python_validate: '//tests/harness/cases/other_package:embed_proto' does not have mandatory providers: 'proto'. Since this rule was created by the

[2019-10-14 16:22] cyxddgithub commented on #2852
how can i join kafka protocol filter feature develop?has any check list so i can pick some task for begin :) @mattklein123 @adamkotwasinski

[2019-10-14 16:44] rgs1 opened #8607 "Supporting host rewrites with the dynamic forward proxy"
We have a use case for the dynamic forward proxy in which we want to rewrite the host and use the rewritten host as the upstream endpoint. The following won't work:

1) set a `host_rewrite` on the `RouteAction` -- it's apparently too late, so it doesn't take effect
2) removing/adding the `:authority` or `host` headers -- that's not allowed

Does this sound like a reasonable use case? If so, I'll s

[2019-10-14 17:15] mattklein123 commented on #8607
If you want to do this with no code changes I think you could just install a small Lua filter to change the host/authority in front of the dynamic proxy filter and it would probably work.

The alternative I think would probably be supporting the `host_rewrite` route option directly inside of the dynamic proxy filter? This is a little strange in the sense that the router would try to rewrite it aga

[2019-10-14 17:18] rgs1 commented on #8607
Yeah thought about the filter way in front of the dynamic proxy (C++ tho, not Lua), but if possible I'd rather have `host_rewrite` just work.  I'll take a look, thanks!

[2019-10-14 18:26] cmluciano commented on #2092
/assign @cmluciano

[2019-10-14 22:18] yxue opened #8612 "Propagate exception from async client to creator of the request"
https://github.com/envoyproxy/envoy/blob/4825facf2451b234af737b5af8c792c31bca5d41/include/envoy/http/async_client.h#L223-L234

allows client to send HTTP request asynchronously and the `callback` will be called once there is a response.

IIUC, when the `callback` throws an exception, the exception will not be caught. I am wondering if there is anyway we can propagate the exception to the creator o

[2019-10-15 00:40] cetanu opened #8614 "Certificates provided inline to Envoy linger even when replaced"
Our current setup runs a control plane which has all of our certificates, and these are provided to our fleet of proxies via SDS

We just noticed an odd behavior where a `tls_certificate` secret was updated just yesterday, but the old certificate is still shown in the admin `/certs` endpoint... and this also seems to affect the metric `server.days_until_first_cert_expiring`

The equivalent command

[2019-10-15 01:33] #7430 closed

[2019-10-15 09:30] andrewtikhonov commented on #7025
Activity

[2019-10-15 13:33] #8175 closed

[2019-10-15 15:02] mattklein123 commented on #8614
This seems like a bug or some type of confusion. @lizan @lambdai @kyessenov any thoughts? Wondering if this is the same hashing issue that was fixed?

[2019-10-15 15:04] mshaverdo opened #8616 "Zone aware rounting not enabled"
*Title*: *Zone-aware routing not working*

*Description*:
I'm trying to set up service mesh with zone aware routing for 2 kubernetes clusters (named `cluster-1` and `cluster-2`), but it isn't working: requests from `cluster-1` balanced  both to `cluster-1` and `cluster-2`.
Envoy running as a sidecar near the pod curl` in k8s cluster `cluster-1` and proxying outbound requests to upstream pods. Each

[2019-10-15 15:17] jmarantz commented on #8420
Could eject() race with checkHostForUneject()? E.g. in thread 1:
[code]
then context-swtich to thread 2:
[code]
Is that plausible? If so we could mutex-protect a few member-vars...it's a little suspicious that there are some atomics here but no mutexes ensuring synchronization. It might be also possible to just re-order the statements in eject() to eliminate this, but it feels like then we should

[2019-10-15 17:38] alyssawilk opened #8618 "time based status eviction"
As we start including error information in config dump (#8039) it'd be good to allow for timer-based eviction as it works better with incremental DSen.

[2019-10-15 17:38] jmarantz commented on #8420
Are we relying on exception propagation across libevent callbacks?
Or catching exceptions somewhere that might be thrown in the lastEjectionTime accessor?

It's possible the way we compile stuff locally might make that behave differently.

[2019-10-15 17:39] jmarantz commented on #8420
Here's the stack-trace from where we saw this crash:
[code]
I don't know much about this code path but I was guessing (without data) this might have been during shutdown.

[2019-10-15 17:40] mattklein123 commented on #8420
No, definitely not. I will take a look at the code later today or tomorrow. I would like to see if I can see the bug before we merge the other PR.

[2019-10-15 18:00] zuercher commented on #8481
I'll try to find some time to make it handle camel case words better. Currently before reporting a misspelled word, it'll try to break apart camel case and check the words individually. If one of the parts is misspelled, it presents the entire camel case word.

There are also a number of typos that have snuck in because we currently accept run-together words. I'll probably turn that off and do a p

[2019-10-15 18:10] jmarantz commented on #8612
I labelled the issue but I have a question. Is it well-defined in Envoy to have async client callbacks throw exceptions? Who would catch?

[2019-10-15 18:15] kyessenov commented on #8614
Yeah, this could be because of hashing. @lizan does SDS force a reload of the cert when SDS payload is identical but version is bumped?

[2019-10-15 18:58] nareddyt opened #8620 "logger: Allow logging to both STDERR and STDOUT"
The [command line documentation](https://www.envoyproxy.io/docs/envoy/latest/operations/cli#cmdoption-log-path) contains this behavior for `--log-path`. I have confirmed this documentation is accurate via manual testing.

Can we support writing logs to both STDOUT and STDERR when this flag is not set? It would be great if `error` and `critical` logs can be directed to STDERR, and all other lower-l

[2019-10-15 18:59] nareddyt commented on #8620
BTW this would be helpful for stackdriver logging integration. Since all logs output to STDERR, stackdriver defaults them to error level. This makes it hard to filter through and find errors in the console.

[2019-10-15 20:57] jyotimahapatra opened #8622 "should http healthchecker consider consecutive connection failures as active healthcheck failure"
Recently we had an issue where the http healthchecker timeout was set to `200000000s` and one of the hosts had raw connection disconnects. All the requests to the host were timing out and the outlier detection was active, but the active health check was not failing possibly because of https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/health_checker_impl.cc#L188-L194 .
Should c

[2019-10-15 21:00] doughd opened #8623 "Envoy not removing HTTP/1.1 `TE` and `Connection` header for HTTP/2 backend."
*Title*: HTTP/1.1 `TE` and `connection` headers are not being removed when making calls to HTTP/2 backends.

*Description*:
If you make a HTTP/1.1 request than includes a `TE` header with a valid HTTP/1.1 value like `TE: gzip` or `TE: deflate,gzip;q=0.3` along with `Connection: TE, close`, it will be passed along to the HTTP/2 backend where it causes a `503` since it's invalid for HTTP/2.

Shouldn

[2019-10-15 21:54] derekargueta commented on #8571
@nickrmc83 thanks for all the resources! Reading through the design & code.

[2019-10-16 01:03] lizan commented on #8614
@kyessenov No it doesn't: https://github.com/envoyproxy/envoy/issues/7676. but I don't think that is the issue mentioned here specifically.

@cetanu I guess you still have connections alive on the old certificate so it is not being purged, which is expected behavior. Is that the case?

[2019-10-16 04:19] cetanu commented on #8614
I had not even considered this but that makes sense; unfortunately the machines have already been redeployed.

If this is the expected behavior then I think we can probably close this, but it might be something worth noting in this page under the linked header: https://www.envoyproxy.io/docs/envoy/v1.11.2/configuration/secret#examples-two-sds-server

[2019-10-16 05:56] lizan opened #8625 "build: bring back function and vptr ubsan"
https://github.com/envoyproxy/envoy/pull/8613#discussion_r335259048

[2019-10-16 09:23] lizan commented on #8614
I think we can make this better to mark the one no longer used for new connection as `draining_secrets` or just hide from `/certs`

[2019-10-16 11:55] iaintamit opened #8626 "gRPC load balancing with Envoy Proxy"
I am trying to load balance the traffic of two instances of a microservice "A" using envoy. "A" exposes gRPC services which is being called by another microservice "B". I am running a single instance of Envoy with the following configuration.

[code]

**However, when the client service makes a gRPC call, the following exception is being thrown.**

Exception in thread "pool-1-thread-5" io.grpc.Stat

[2019-10-16 16:36] zuercher commented on #8626
By default the Cluster's `protocol_selection` field will be `USE_CONFIGURED_PROTOCOL` and the default upstream protocol is http1.1. I think what's happening is that Envoy is converting the inbound grpc (http/2) request to http/1.1 and the upstream is rejecting the connection.

You can add `http_protocol_options: {}` to your cluster definition to indicate that it is http/2 only and that should fix

[2019-10-16 17:12] mattklein123 commented on #8622
To me it seems better to set an appropriate timeout and not count raw disconnects, but I don't feel super strongly about this. @snowp any thoughts?

[2019-10-16 17:12] mattklein123 commented on #8623
I thought we had fixed this previously but maybe not. @alyssawilk @PiotrSikora any comment?

[2019-10-16 17:41] ivanpondal opened #8630 "Healthcheck filter fails when disabling server metrics"
Given an **Envoy v1.11.1** node with [server](https://www.envoyproxy.io/docs/envoy/latest/configuration/observability/statistics#server) metrics excluded via `StatsMatcher` and `HTTP health checking filter` enabled, when hitting the healthcheck endpoint a 503 response is received independently of the true node health.

From my research this seems to be due to the healthcheck depending directly on

[2019-10-16 18:01] iaintamit commented on #8626
Thanks for the help!

[2019-10-16 18:01] #8626 closed

[2019-10-16 18:26] alyssawilk commented on #8623
I had the same complaint over on https://github.com/envoyproxy/envoy/issues/5541
Turns out I was wrong.

[2019-10-16 18:33] mattklein123 commented on #8630
Dup of https://github.com/envoyproxy/envoy/issues/8473

[2019-10-16 18:48] mattklein123 commented on #8612
We should not be throwing exceptions out of the callbacks. Can you explain more why you would want to do this?

[2019-10-16 19:45] nareddyt commented on #8620
FYI this issue is about application logs, not access logs.

It seems like the current implementation is to write access logs to STDOUT, and application logs to STDERR.

I did some more reading on best practices, and perhaps the current implementation is expected:
- Conventional output = access logs = STDOUT
- Diagnostic output = application logs = STDERR

https://unix.stackexchange.com/a/331620/33

[2019-10-16 19:45] #8620 closed

[2019-10-16 21:35] zuercher commented on #8626
Just noticed that my comment had a typo. I'll post here in case anyone else comes across this. It should have said to add `http2_protocol_options: {}`.

[2019-10-16 22:56] abaptiste commented on #8623
I'll take a look at this

[2019-10-16 23:09] rgs1 opened #8633 "Passing refs or shared_ptrs from filter factories?"
I had assumed that a filter should not expect to outlive the factory lambda that created it, so it should receive its config objects via a shared_ptr, e.g.:

https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/http/header_to_metadata/config.cc#L24

And that's pretty much true for all filters, except for this one:

https://github.com/envoyproxy/envoy/blob/master/source/extensi

[2019-10-16 23:14] rgs1 commented on #8633
Bah, ignore -- it's copied:

https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/http/original_src/original_src.h#L35

There goes my happy feeling of almost getting rid of many shared_ptrs.

[2019-10-16 23:14] #8633 closed

[2019-10-16 23:27] seguidor777 opened #8634 "Conditional http filter"
Is it possible to handle conditional filters?

I have one microservice that is serving grpc-web requests, but I want it to serve pure gRPC requests as well, through the same virtual host.

Thanks in advance

[2019-10-17 01:09] lizan opened #8636 "Run fix_format in ci and produce diff"
We're adding more stuff in the format CI and it become heavier and with more dependencies to run. We can produce a diff in azp in case of check_format fails, so the diff gives what CI expect for the fixable format without environment dependent bit.

@htuch @jmarantz

[2019-10-17 01:31] #8035 closed

[2019-10-17 01:54] nareddyt opened #8637 "Escape newlines in application logs"
Currently, all application logs are printed to stderr without escaping newlines. This results in messy logs, since the log line becomes expanded over multiple lines (seen in the bottom of this Stackdriver Logging image):

![image](https://user-images.githubusercontent.com/11142171/66971232-41de2d00-f045-11e9-9175-6a6333cecf32.png)

Can we add a command line flag to trim out newline characters in l

[2019-10-17 02:01] nareddyt commented on #8637
I can prototype this tomorrow, but any input would be appreciated. I don't know how to judge the performance implications of this change.

[2019-10-17 02:17] lizan commented on #8558
TBH I don't have exact answer for this, there are a couple of workaround:
1. use LLVM libc++, then you don't even need `ENVOY_IGNORE_GLIBCXX_USE_CXX11_ABI_ERROR`, this is the approach we use in getenvoy.io CentOS package.
2. disable redis plugin if you don't use it and it is the only cause (delete the line in source/extensions/extensions_build_config.bzl)

[2019-10-17 02:24] moderation commented on #6588
Deprecation of http-parser is relevant here - https://github.com/envoyproxy/envoy/issues/5155#issuecomment-532510229

[2019-10-17 04:34] tonya11en opened #8638 "adaptive concurrency: Allow specification of runtime names"
As a prerequisite to supporting both egress and ingress adaptive concurrency, it will be necessary to specify the runtime configuration names to avoid conflicts. Before declaring the filter production ready, the adaptive concurrency configuration parameters should be replaced by their runtime counterparts.

[2019-10-17 07:29] oulinbao opened #8639 "Bug: 503 UC sometimes, upstream_reset_before_response_started"
**Bug Template**

*Title*: 503 UC sometimes

*Description*:
I use Istio1.2.2, but sometimes I encountered some 503|UC error in access log and error log.
It seems like the issue #6578 and #2871.

*Repro steps*:
It's not easy to recurrent the bug, but I can see it about several times in one node.

gathers a tarball with debug logs, config and the following admin
endpoints: /stats, /clusters and /ser

[2019-10-17 07:34] lambdai commented on #8614
My understanding is that filter chain manager maintains a ref count to the server ssl context, through ServerSslSocketFactory , no matter if there is connection/transportsocket is alive or not

[2019-10-17 12:51] dichen16 opened #8642 "[Docs] Need more dependencies for test in Fedora 30"
Hi,
I am using Fedora 30, while I ran
[code]
I encountered the following error.
[code]
After I installed **libatomic**, the test passed correctly.
I think we should add this library in the deployment doc.

[2019-10-17 13:33] alyssawilk opened #8643 "SubsetCompatibleLoadBalancers/HttpSubsetLbIntegrationTest.SubsetLoadBalancer/LEASTREQUEST flaked"
[ RUN      ] SubsetCompatibleLoadBalancers/HttpSubsetLbIntegrationTest.SubsetLoadBalancer/LEASTREQUEST
test/integration/http_subset_lb_integration_test.cc:169: Failure
Expected: (hosts.size()) > (1), actual: 1 vs 1
Expected multiple hosts to be selected for LEAST_REQUEST
Stack trace:
  0x7102e4: Envoy::HttpSubsetLbIntegrationTest::runTest()
  0x70fb27: Envoy::HttpSubsetLbIntegrationTest_SubsetLoad

[2019-10-17 14:39] mosespx opened #8644 "Redis through envoy gets high response time with redis-benchmark"
Hi,
I’m deploying envoy redis in our environment and I’ve found out that it’s increasing the RTT of the 95 percentile requests to redis in about 7~ms, I have run `redis-benchmark` tool in both configurations, and through envoy the higher percents getting a much higher response time. results attached.
this is the configuration file:
[code]

redis-benchmark running from container to the envoy sideca

[2019-10-17 16:28] #7789 closed

[2019-10-17 16:48] #8607 closed

[2019-10-17 17:10] antoniovicente commented on #7647
I have noticed that in my local builds the following tests fail with a dynamic load exception.  Is this the same problem?  Are there known work-arounds?

Tests:
//test/extensions/tracers/dynamic_ot:config_test
 //test/extensions/tracers/dynamic_ot:dynamic_opentracing_driver_impl_test

Failure:
unknown file: Failure
C++ exception with description "opentracing: failed to load dynamic library: /home/

[2019-10-17 17:32] abaptiste commented on #8623
I'm reading through https://github.com/envoyproxy/envoy/issues/5541 and one comment stands out:

I feel we should limit the sanitization of the TE header only if the outbound connection is H2 and the header contains a value other than "trailers".  This change would be a subset of what was proposed in https://github.com/envoyproxy/envoy/issues/5541.

Rfc7540 https://tools.ietf.org/html/rfc7540#sect

[2019-10-17 17:36] voidzcy commented on #8287
This has been fixed by #8059 .

[2019-10-17 17:38] #8287 closed

[2019-10-17 17:39] mattklein123 commented on #8612
I think we are in new territory here. I don't think I have any advice/thoughts without knowing more detail. Can you potentially flesh out the init flow that you are using and we can discuss more?

[2019-10-17 18:20] mattklein123 commented on #8225
@stevenzzzz can we potentially land this before we cut 1.12.0 in the next 1-1.5 weeks? Thank you.

[2019-10-17 18:45] cfryanr opened #8649 "ext_authz filter should allow multiple `Set-Cookie` headers to be added by the `Check` response"
*Title*: ext_authz filter should allow multiple `Set-Cookie` headers to be added by the `Check` response

*Description*:

We are writing an implementation of the [ext_authz](https://github.com/envoyproxy/envoy/tree/master/test/extensions/filters/http/ext_authz)'s `Check` interface. Our implementation would like to return a `Denied` status, set the http response to be a 302, and add multiple `Set-C

[2019-10-17 18:59] PiotrSikora commented on #7647
@antoniovicente it's because of libc++ vs stdlibc++, see: https://github.com/envoyproxy/envoy/issues/4251#issuecomment-538143576.

[2019-10-17 19:27] fredlas commented on #8643
I saw it too; same failure, except that for me it was RANDOM rather than LEAST_REQUEST. Still the same Expected: (hosts.size()) > (1), actual: 1 vs 1 ).

[2019-10-17 19:47] #8195 closed

[2019-10-17 20:20] doughd commented on #8623
If you only sanitize `TE` for outbound H2 connections, then what about the case of HTTP/1.1 downstream and upstream?  If you don't sanitize `TE` in that case, it implies Envoy can handle arbitrary transfer codings for HTTP/1.1.  Shouldn't it also sanitize any values that it doesn't understand like arbitrary `transfer-extension`?

https://tools.ietf.org/html/rfc7230#section-4.3
[code]

The approach

[2019-10-17 20:26] a-sharma11 opened #8651 "[Question] - Envoy proxy stops if jaeger not running"
Hi - I am working of the github example of jaeger native tracing and running a similar example in a container.
https://github.com/envoyproxy/envoy/tree/master/examples/jaeger-native-tracing

Overall it works fine. The problem i am facing is that if jaeger is not running (which is true for my usecase in some of the internal environments) - the envoy stops with this error and no further communicatio

[2019-10-17 20:42] doughd commented on #8623
For background, it turns out this happens in a default user agent configuration.  I was seeing the values `TE: deflate,gzip;q=0.3` and `Connection: TE, close` with the 503s.  I looked around and Perl's LWP uses those headers by default.

[code]

[2019-10-17 20:42] jcdavis opened #8652 "No way to configure an idle timeout for unused downstream http connections?"
*Title*: No way to configure an idle timeout for unused downstream http connections?

*Description*:
I've been looking into a way to specify a maximum time for an unused connection to live in the pool before being closed. I was/am hoping for something similar to nginx's [keepalive_timeout](http://nginx.org/en/docs/http/ngx_http_core_module.html#keepalive_timeout), which creates a timer on the conn

[2019-10-17 21:31] salrashid123 commented on #1106
thanks, i'll take a look at the `extn-pkm-provider`. fwiw, i endedup trying openssl [EVP](https://wiki.openssl.org/index.php/EVP) (`tpm2-tss-engine` ) but thats not whats directly applicable now.  if you needed a reference for that, i wrote it up [here](https://github.com/salrashid123/salrashid123.github.io/tree/master/tpm_openssl_client)

[2019-10-17 22:18] htuch commented on #8636
Yes, I think this is a good idea, but will require some work to get `check_format.py` into a position to provide a patchable diff; right now its output formatting isn't quite right for this. I think this would be an awesome task for anyone who wants to take on Python dev infrastructure work, will mark it as help wanted.

[2019-10-17 22:22] wbertelsen commented on #8558
Yeah, I resolved this for my usecase by building llvm/libc++ for my platform and then building envoy with it.

I do think at the very least there should be a documentation update to indicate that either a) certain plugins might not be compatible with old toolchains or b) that old toolchains are no longer supported.

[2019-10-17 22:22] jmarantz commented on #8636
I think the easiest way to approach this is run the format fixer, and then use git to make the diff.

Some of the check_format tests are not able to automatically fix any problems, in which case the format fixer should return an error.

[2019-10-17 22:29] htuch commented on #8636
+1; in CI we can run the format fixer without worrying about local state as well. Let's take that approach.

[2019-10-17 22:32] abaptiste commented on #8623
What I meant by being conservative was that this change would strictly operate on and remove the TE, and Connection headers.  In another RFC there were additional headers that it identified can be removed.

In rfc7230 (https://tools.ietf.org/html/rfc7230#section-4.3), it says:

   sender of TE MUST also send a "TE" connection option within the
   Connection header field (Section 6.1) in order to p

[2019-10-17 22:39] jmarantz commented on #7336
I propose that the fix here is to add comments in test/integration/stats_integration_test.cc that are discoverable near the failing line.

Does that sound reasonable?

[2019-10-17 22:57] zuercher commented on #8634
Envoy's grpc web filter ignores non-gRPC-web requests (based on content-type). Any request that doesn't have the appropriate content type (`application/grpc-web`, `application/grpc-web+proto`, `application/grpc-web-text`, or `application/grpc-web-text+proto`) is ignored by that filter. That includes normal gRPC requests (content-type `application/grpc`).

[2019-10-17 22:59] derekargueta opened #8656 "clang-tidy readability-identifier-naming scheme"
This ticket is to
1) track the progress of having clang-tidy enforce casing in the Envoy codebase to make pull requests easier to review
2) Ensure that we agree on the casing scheme before putting up PRs to conform everything.

https://clang.llvm.org/extra/clang-tidy/checks/readability-identifier-naming.html

(the component being checked/styled will be labeled as a variant of `example.*`)
<table>

[2019-10-17 23:01] mattklein123 commented on #7336
+1

[2019-10-17 23:15] zuercher commented on #8652
Envoy has two concepts related to this in the http connection manager:

common_http_protocol_options.idle_timeout (which supersedes idle_timeout) will close a connection when no request has been active for the given interval. For http/1.1 you can think of this as measuring the time since the last response to the downstream client was completed.

stream_idle_timeout will close a connection if no ac

[2019-10-17 23:19] seguidor777 commented on #8634
Hi Stephan, thanks for your reply

It sounds good, it will work for me
What about the cors filter, is it also ignored when the proper headers are
not set?

On Thu, Oct 17, 2019, 17:57 Stephan Zuercher <notifications@github.com>
wrote:

[2019-10-17 23:42] zuercher commented on #8634
Definitely, if there's no Origin header or if the request method is not OPTIONS, the CORS filter will ignore the request. There are other mechanisms as well. I'd recommend looking at the code if you need a more detailed answer.

[2019-10-17 23:51] seguidor777 commented on #8634
Excellent

[2019-10-18 00:07] nareddyt commented on #8637
FYI this simple prototype works well for us. This allows full stackdriver integration as well.

[code]

![image](https://user-images.githubusercontent.com/11142171/67056388-a14d4300-f100-11e9-964e-dcfdc840a720.png)

[2019-10-18 00:18] derekargueta commented on #8616
What do your load balancer stats look like?
https://www.envoyproxy.io/docs/envoy/latest/configuration/upstream/cluster_manager/cluster_stats#load-balancer-statistics

[2019-10-18 00:57] #7397 closed

[2019-10-18 01:17] jcdavis commented on #8652
Thanks for the explanation! Like I said, I might've been confusing the two. Though I am curious why the `connection_idle_timer_` is setup in `ConnectionManagerImpl::initializeReadFilterCallbacks`

[2019-10-18 04:09] #8164 closed

[2019-10-18 04:14] #8643 closed

[2019-10-18 07:32] wbpcode commented on #4704
Although this scheme can well classify route configurations based on HTTP attributes, I am a bit skeptical about whether it really works for multi-tenant scenarios. For example, if I have five hundred tenants, different tenants have only one plugin with different configurations, and all other configurations are the same. So based on this solution, I need to create five hundred scopes, copy all the

[2019-10-18 09:48] sp-manuel-jurado commented on #8052
@snowp I made this final PR: https://github.com/envoyproxy/envoy/pull/8645

[2019-10-18 09:59] markschmid commented on #6486
I'm interested in accessing the original Host information at the cluster level, instead of having it rewritten by envoy. Actually I have not found a solution for this so far (is there really no way?).

Will the following do the trick for me? (From the docs: "If header value is empty, host header is left intact.")
```auto_host_rewrite_header: ""```

For some reason, I have not been able to get it t

[2019-10-18 10:16] wbpcode opened #8659 "Conditional "per_filter_config""
In a multi-tenant scenario, for the same route, the same filter, different tenants may need to use different route-level filter configurations. Although #4704  can well classify route configurations based on HTTP attributes, it is too complex and heavy for scenarios where only filter configuration is different.

In addition, consider another scenario. Assume we have ten filters and two filters (fi

[2019-10-18 11:09] markschmid commented on #6486
Thanks for the clarification, it was really helpful and helped me to realize that it is in fact a different component in my stack which has been altering the host information all this time...

[2019-10-18 11:14] wyxinlx opened #8660 "Didn't find a registered implementation for name: 'envoy.tcp_grpc_access_log'"
Description:
I'm trying to configure TcpGrpcAccessLogConfig, but got the error trying to run the docker container:

docker image version:

something wrong?
Thx in advance.

the yaml file content

[2019-10-18 11:35] ngalaiko commented on #7858
What I found out is that `validation_context` should be inside `common_tls_context`, not `tls_context`, then it works 🤦‍♂

[2019-10-18 11:50] dichen16 commented on #8525
Hi @htuch,
I really want to get involved, but I feel confused about your description. can u give some example of "untitled protos"?

[2019-10-18 12:50] stevenzzzz commented on #8659
could you provide an example for better understanding why the SRDS+per_filter_configs_ doesn't work in your multi-tenants scenario?

[2019-10-18 13:05] Barborica-Alexandru opened #8662 "Envoy cuts off nextcloud downloads."
Description: I have envoy 1.12 set up as an edge proxy, behind it is an apache webserver hosting my nextcloud instance, when I try to download files envoy will cut off the download after what I estimate are 10 seconds. Direct connection through apache works fine.

Sanitized debug log:
[debug.txt](https://github.com/envoyproxy/envoy/files/3745121/debug.txt)

[2019-10-18 14:11] moderation commented on #8660
This feature was added after the release of 1.11.x so it isn't present in the version you have.

- 1.11.2 - https://www.envoyproxy.io/docs/envoy/v1.11.2/api-v2/config/accesslog/v2/als.proto
- 1.12.0-dev - https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/accesslog/v2/als.proto.html?highlight=tcp_grpc_access_log

So you need to build from master or get the -dev Docker image.

[2019-10-18 15:10] wyxinlx commented on #8660
thx! i will have a  try

[2019-10-18 15:10] #8660 closed

[2019-10-18 16:07] mattklein123 commented on #8662
The default request timeout is 15s. Do you need to extend that and/or move to an idle timeout?

[2019-10-18 16:50] zuercher commented on #8652
I believe initializeReadFilterCallbacks is invoked as soon as the connection is formed and the network filter chain (e.g. the http connection manager) has been instantiated. When the client sends a request, `ConnectionManagerImpl::newStream` is called and the timer is disabled. Normally that enable/disable sequence happens almost immediately, but a client that connects and never sends a request wi

[2019-10-18 17:06] jcdavis commented on #8652
Great, appreciate the detail - clears things up a bit

[2019-10-18 17:06] #8652 closed

[2019-10-18 17:12] lizan commented on #8636
Yeah that is what was in my mind. Simply run fix_format and git diff.

[2019-10-18 18:00] Barborica-Alexandru commented on #8662
I'm confused as to why envoy is considering it idle since the download is ongoing? I will look up in the documentation how to increase request timeout. I thought the documentation stated that if no stream_idle_timeout is specified then it defaults to off (no timeout).

[2019-10-18 18:22] snowp commented on #8622
I think changing behavior could impact existing use cases in which upstream hosts might be temporarily unavailable during startup (eg maybe the proxy is coming up concurrently with required iptables rules or something) that today are working fine because we block warming on initial health checks. If we start treating connection failures as failures we'd continue with warming and initialize earlier

[2019-10-18 18:27] kikogolk opened #8666 "ext_authz does not send Body in CheckRequest with HTTP2"
*Title*: *ext_authz does not send Body in CheckRequest with HTTP2*

*Description*:
Envoy version: **v1.11.0**

We are using the **External Authorization plugin via GRPC** (using envoy grpc service) for auth purposes. Our External Auth node needs sometimes to check the body in the request so we are sending it using the '_with_request_body_' parameter in the plugin configuration. Unfortunatelly, the

[2019-10-18 18:53] #8662 closed

[2019-10-18 20:07] #8214 closed

[2019-10-18 20:35] #8429 closed

[2019-10-18 20:52] prune998 commented on #8639
I don't know if this issue could be related, but I have something similar, where envoy close the TCP connexion (TCP FIN) without reasons.
As It's Envoy deployed by Istio 1.3.3, I posted the issue there, but as I extect it to be an Envoy issue, I'm linking it here :  https://github.com/istio/istio/issues/18043

I have TCP dumps showing the issue where Envoy close the TCP connexion, which is re-open

[2019-10-18 20:56] htuch commented on #4704
@wbpcode this is probably a distinct problem to what SRDS wants to solve. I think you're interested in deduplication of shared configuration across distinct `RouteConfiguration`s. That's pretty interesting to think about. There are also alternatives, e.g. using lazy loading via SRDS when implemented, and only having the working set of configurations in memory, reducing the need to scale to very la

[2019-10-18 20:58] htuch commented on #8525
I forgot to attach the screenshot :) Here it is.. the untitled protos are things like "envoy/api/v2/srds.proto", which you can see in this screenshot.
![Screenshot 2019-10-18 at 4 57 53 PM](https://user-images.githubusercontent.com/10914751/67128007-8940f680-f1c8-11e9-9440-52ba2c17c3cb.png)

[2019-10-18 21:44] htuch opened #8669 "Generic per-route filter disabling"
PRs such as https://github.com/envoyproxy/envoy/pull/8645 introduce per-route filter disables on a per-filter basis. This should be possible generically via a generic mechanism, causing HCM to treat the filter's methods as pass-thru when set for a route. This issue tracks discussion and work on this.
CC @mattklein123 @rshriram @envoyproxy/api-shepherds

[2019-10-18 23:07] #8211 closed

[2019-10-19 01:17] stevenzzzz commented on #8286
make it alive again.
we just need to  use delete here that should at least get rid of the error.

[2019-10-19 02:38] #7336 closed

[2019-10-19 03:37] lambdai commented on #8303
@htuch This design is half done:
#8485 enables #8523
The latter one implements the shared rds config

[2019-10-19 17:55] #8197 closed

[2019-10-19 21:21] theshubhamp commented on #7238
Hello! I'd like to work on this if no one has picked this up yet.

[2019-10-19 23:23] mattklein123 opened #8679 "tcp proxy: add default idle timeout"
We just did 1 hour for HTTP so let's do 1 hour for tcp proxy also.

cc @alyssawilk

[2019-10-19 23:24] mattklein123 commented on #8679
related to https://github.com/envoyproxy/envoy/pull/8678/files (make sure to update FAQ entry)

[2019-10-20 15:16] howardjohn opened #8680 "Feature: stat for XDS config reloads"
**Issue Template**

*Title*: Feature: stat for XDS config reloads

*Description*:
It would be useful to have a metric for the number of XDS configs that were deduplicated or had no effect since the same config had already been sent. This would be useful to measure how many wasted pushes the control plane is doing, as well as measuring how [often we are causing listener drains](https://github.com/i

[2019-10-20 15:37] lizan opened #8681 "fuzzit CI is taking long time"
Master: https://dev.azure.com/cncf/envoy/_build/results?buildId=15589: 1h 17m 43s
PR: https://dev.azure.com/cncf/envoy/_build/results?buildId=15602: 1h 23m 25s

@yevgenypats any idea why?

[2019-10-20 15:43] yevgenypats commented on #8681
@lizan it's the regression step - from first glance it looks like one of the targets are really slow (0.5 seconds per test-case). I'll look into this, maybe we can disable this particular target for regression.

[2019-10-20 16:04] lizan commented on #8681
I'm talking about the "bazel fuzzit" job, it was used to be around 30mins, and now over 1 hour consistently.

[2019-10-20 16:13] lizan commented on #8681
Seems fuzzit is now feeding more corpus (or wasn't feeding enough corpus before).

Fast run:
[code]

Slow run:
[code]

Why this grows so much? @yevgenypats

[2019-10-20 17:21] lizan commented on #8680
I guess you want to see per listener stat to see listener drain then?

[2019-10-20 17:25] howardjohn commented on #8680
Per listener could be useful as well, but I was initially thinking just extending the xds level ones like lds_update_success.

Looking at the stats again though it looks like this may already exist as config_reload https://www.envoyproxy.io/docs/envoy/latest/configuration/overview/v2_overview#xds-subscription-statistics.

[2019-10-20 18:01] kikogolk commented on #8666
Probably a comment that could clarify a little this problem we have. Additionaly to the test I described in my previous comment, we are sending HTTP1.1 traffic to the pod that includes the Envoy instance through Service Mesh ISTIO. This service mesh is upgrading the connection to HTTP2 and in this scenario the previous test is working (I mean, the body is included in the gRPC CheckRequest).

Captu

[2019-10-20 18:46] ascheglov opened #8683 "Feature request: ability to use x-request-id in response_headers_to_add"
Currently there is no way to use request headers in response_headers_to_add (it doesn't support `%REQ(header-name)%`).

However it would be nice to have an access to certain headers, namely x-request-id.

Normally a backend would echo the x-request-id header,  so that it would be proxied to a client.
When there is a request timeout, envoy sends the "504 upstream request timeout" reply, and the cli

[2019-10-20 20:32] #8222 closed

[2019-10-21 02:33] wbpcode commented on #8659
In my work scenario, there may be hundreds of different tenants. Most tenants share most of the configuration, but for a small number of plugins, each tenant needs a different configuration. Using SRDS can of course meet my needs, but **I think SRDS is too heavy for me**.

**I don't need tenant isolation at the 'virtualhosts' level like SRDS, I just need to provide different plugin configurations

[2019-10-21 02:51] idouba commented on #7624
@rossdylan , what is the status of this PR?

[2019-10-21 06:08] dichen16 commented on #8525
Hi @htuch
I'd like to take it, could u assign it to me?

[2019-10-21 07:08] madhu-shankar opened #8690 "Overload Manager using injected resource doesn't work in production"
*Title*: *Overload Manager using injected resource doesn't work in production*

*Description*:

*Configuration*:
[code]

*Metrics*:
envoy.overload.envoy.resource_monitors.injected_resource.pressure = 75, for testing, we are emitting this number(0.75) temporarily.
envoy.overload.envoy.overload_actions.stop_accepting_requests.active = 1, 50% of the times and 0 otherwise.

1. [Overload Manager](https

[2019-10-21 08:30] #6297 closed

[2019-10-21 09:33] hbgongen opened #8692 "how to customize cluster lb_policy in envoy?"
we want to use our own lb_policy,i find the cluster_provided is to connect lb service out of envoy.How can I customize the lb_policy in envoy.

[2019-10-21 09:41] hbgongen commented on #8692
![auth](https://user-images.githubusercontent.com/36953705/67194118-15e9ef80-f429-11e9-9b13-8760a1bad92a.png)
for this photo,we want to auth some requests.and we want some requests route to Specified machine.
for example request's header has a property “index”,and auth clusters has 3 machines,
index%3=0 to machine1.
index%3=1 to machine2.
index%3=2 to machine3.
we want to use a property in header

[2019-10-21 14:31] markdroth commented on #7454
gRPC now has a use-case where we want to override the LB policy when falling back to a lower-priority set of endpoints.  It looks like the aggregate cluster design would address that use-case as well.  Perhaps it makes sense to kill two birds with one stone rather than having to come up with a different solution for each one?

[2019-10-21 14:44] lizan commented on #8690
@eziskind ?

[2019-10-21 14:48] vmg commented on #8461
Hello. Any updates on this? I'm available to implement whichever solution you deem adequate, but I'd appreciate some follow-up on the issue to discuss the solution itself. 😅

[2019-10-21 16:38] #8052 closed

[2019-10-21 16:41] mattklein123 commented on #7454
cc @snowp who went through the aggregate cluster review and can comment on Mark's request above. FWIW I don't have any objection to the aggregate cluster proposal as long as we feel that it will be generally useful.

[2019-10-21 16:46] mattklein123 commented on #8680
Yes. If this doesn't do what you want let's figure out why?

[2019-10-21 16:48] mattklein123 commented on #8400
cc @wgallagher @gkleiman

[2019-10-21 16:56] howardjohn commented on #8680
100% on our side, we are not including the stat in our stats_matcher. I just tested with including it and looks good, sorry for the noise

[2019-10-21 16:56] #8680 closed

[2019-10-21 17:05] snowp commented on #7454
Yeah the aggregate cluster would be able to express that pretty nicely. I think its very flexible solution that probably would be useful in other situations as well, so as long as we have active users of it I would also be fine with including it in Envoy.

[2019-10-21 17:05] zuercher commented on #8481
#8670 bounced, so reopening.

[2019-10-21 17:41] snowp commented on #8692
Have you looked into using the consistent hashing load balancing algorithms? https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/load_balancers#ring-hash or https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/load_balancers#maglev

If you want to provide your own custom implementation that requires compiling in your own cluste

[2019-10-21 18:36] mattklein123 commented on #8659
@wbpcode in your optimal example above, how do you expect to select between case1 and case2? Some type of matching construct within the per_filter_config itself?

[2019-10-21 18:45] #7420 closed

[2019-10-21 18:45] #8190 closed

[2019-10-21 18:45] #7284 closed

[2019-10-21 18:45] #7312 closed

[2019-10-21 18:45] #7331 closed

[2019-10-21 18:45] stevenzzzz commented on #8659
@wbpcode, in your example, is there any reason not using a dict as the
per_filter_config for filter.A? In your filter code, I think you can again
match based on some header value to get the config out of the dictionary?

On Mon, Oct 21, 2019 at 2:37 PM Matt Klein <notifications@github.com> wrote:

--
Xin Zhuang

[2019-10-21 18:53] mattklein123 commented on #5458
I fixed this a while ago.

[2019-10-21 18:53] #5458 closed

[2019-10-21 19:24] antoniovicente commented on #7647
Are there known work arounds to make the two tests in question succeed on local builds?

[2019-10-21 19:29] PiotrSikora commented on #7647
Oops, that would indeed be a more helpful response. Try using `--config=libc++`:
[code]

[2019-10-21 20:37] antoniovicente commented on #4602
Have we considered use of SO_REUSEPORT on listeners in order to distribute incoming connections to accept queues via hashing?  Granted, this socket option behavior may be specific to Linux.

[2019-10-21 20:58] mattklein123 commented on #4602
Some people already configure SO_REUSEPORT, at least across processes, and there has been discussion about allowing this within the process also so each worker has its own FD. cc @euroelessar. With that said, from previous experience, this still won't fix the case that I just fixed where you have a tiny number of connections and want to make sure they get spread evenly.

[2019-10-21 21:10] mattklein123 opened #8702 "perf: consider allowing upstream connections to be shared by workers"
The full silo model works out well in many cases, but in some cases (especially low memory) it may be better to allow a connection pool to be shared across the workers. This would cut down on the number of connections used, have greater connection pool hit rate, etc. at the expense of increased synchronization when the workers need to access the connection pool.

I think this could be implemented

[2019-10-21 21:20] #8481 closed

[2019-10-21 23:30] doughd commented on #8623
Based on your PR, it looks like headers nominated besides `TE` in the `Connection` header field are outside of consideration.  `TE` is a special case, but it seems like other named headers should also be handled since this operation is listed as a must for HTTP/1.1 and HTTP/2.

e.g. I think `Connection: TE, XXX, close` would also need to consider `XXX` for removal or replacement.   `connection-opt

[2019-10-21 23:47] PiotrSikora opened #8709 "FilterChainMatch: allow matching rule to require multiple ALPN values."
Currently, FilterChainMatch allows matching against any of the presented ALPN values using `application_protocols` field, which can be repeated multiple times in order to provide OR semantics, i.e.
[code]

However, we're (ab)using `istio` ALPN value to differentiate between service mesh and legacy traffic, and we'd like to also differentiate between HTTP and non-HTTP traffic in the same listener,

[2019-10-22 00:52] PiotrSikora commented on #8623
Yes, we should remove all headers nominated by the `Connection` header and then some... I thought this was already fixed in #7981, but it might have been dropped in one of the code reviews.

Regarding the `TE` header, the only value that's ever used is `TE: trailers`, and I'm really surprised that Perl is sending those encodings in `TE` instead of `Accept-Encoding`.

[2019-10-22 00:59] lizan commented on #8709
@PiotrSikora from ALPN semantics perspective it seems a definitely abuse, no? I think I suggested move to "istio-h2", "istio-http/1.1" protocol IDs for istio ALPN, wouldn't that solve the issue?

[2019-10-22 01:46] cdimascio commented on #7557
i'm running into the same issue. @cyxddgithub were you to find a solution to this

[2019-10-22 01:53] hbgongen commented on #8692
oh,two algorithms i have seen,but we need to use the property of header.these two algorithms have their own parameters.

[2019-10-22 02:28] mailzyok opened #8711 "Failed to build envoy on OpenSUSE when statically link libc++"
Hello,

We have successfully build envoy (Istio Proxy) on OpenSUSE 15 when dynamically link libc++. Recently Istio Proxy changed to statically link libc++, we failed build envoy with following errors, it seems protoc binary has some issues, it always failed as "segmentation fault", even using "protoc --help" to print help messages

Error logs:

/root/.cache/bazel/_bazel_root/a4cca67edb60b016cc98f4

[2019-10-22 03:10] wbpcode commented on #8659
Yep. A Header matcher or querystring matcher help filter to get expected config.

[2019-10-22 03:17] #6596 closed

[2019-10-22 03:25] htuch commented on #8400
If we do want to specify overlay paths, one option we might want to think about is https://goessner.net/articles/JsonPath/. Basically, being able to describe a path from root to a subtree in a message. Proto3/JSON are canonically mapped, so it seems somewhat reusable.

[2019-10-22 03:27] htuch commented on #7454
+1. While we now have a point solution for TLS context handling during fallback, and some ideas of how to deal with differences in service discovery (mixed EDS and DNS), this is another situation which needs to be handled over fallback. I think 3 examples is sufficient to convince that there probably will be  more in the future and we don't have strong confidence that we have covered all the bases

[2019-10-22 03:27] wbpcode commented on #8659
In fact, I have used the approach you said to solve the problem.  However, there are two problems with this approach.
First, existing official filters must be modified. Second, the matching logic must be embedded in the filters itself in the form of code, which is not flexible enough. Each time the matching logic changes, the filter must also be modified accordingly.

[2019-10-22 04:27] htuch commented on #8709
Yeah, I'm less inclined towards providing general support for what Istio is doing here if we can accommodate using another workaround such as what @lizan proposes that leverages existing mechanisms.

[2019-10-22 09:55] tonybaines commented on #6963
Another gotcha that had me stumped is that the 'fingerprint_sha256' digests **must** be lowercase, and not colon-delimited.  e.g.
[code]

[2019-10-22 09:57] tonybaines commented on #7858
Another gotcha that had me stumped is that the 'fingerprint_sha256' digests returned by the authentication cluster **must** be lowercase, and not colon-delimited.  e.g.
[code]

[2019-10-22 13:05] asraa opened #8715 "PGV validations on embedded fields"
Hi everyone, I'm running into a protoc-gen-validation issue when using Envoy. It seems like the values of map aren't validated.

 The RBAC filter configuration includes a map of policies:
[code]
where in a Policy is defined as:
https://github.com/envoyproxy/envoy/blob/986173ed516dcc1c3dea7db90659ed993d0aad75/api/envoy/config/rbac/v2/rbac.proto#L84-L99

So both embedded repeated fields Permissions

[2019-10-22 13:51] wrowe commented on #7903
Note our confusion spawned from the following;

$ bazel test //test/...

This will build all tests, as pointed out by lizan during a community meeting.

Can you help us identify the "top level test" we should be invoking to observe all included and
excluded //source/... elements given the desired target //source/exe:envoy-static

[2019-10-22 14:18] wrowe opened #8717 "Refactor chrono date/time to absl:Time"
This current logic is banned by the current check_validate.py;
[code]

Concensus is to shift over to absl::Time related classes in place of chrono throughout Envoy.

Discussion here;
https://github.com/envoyproxy/envoy/pull/8572#discussion_r333770063

This was begun in https://github.com/envoyproxy/envoy/issues/5587 but
remains incomplete. check_validate.py should be updated upon completion
to avo

[2019-10-22 15:25] mattklein123 commented on #8659
I think this is probably related to https://github.com/envoyproxy/envoy/issues/8669 so maybe we can solve both issues at the same time. I think it's reasonable to have the ability to use a generic set of matchers to select the route config, disable a filter, etc. I'm going to mark this pending a design proposal and help wanted. cc @htuch

[2019-10-22 15:29] mattklein123 commented on #8715
cc @rodaine @htuch @akonradi

[2019-10-22 15:35] mattklein123 commented on #8666
cc @dio @gsagula

[2019-10-22 15:53] fttyX opened #8718 "Configuration updates cycled in infinite loop"
We have envoy (1.11.0) connected via REST API to 2 discovery services (round robin, same priorities/weights).

Got a problem when xds1 failed to fetch new configuration from its data source and became stale, while xds2 was up to date -- envoy started to flap between old and new configurations in infinite loop. Is that expected behaviour or a bug?

Does envoy compare the time when it had last confi

[2019-10-22 15:58] sekaninat opened #8719 "Lua filter after route resolution"
**Lua filter after route resolution**

*Description*:
I am dealing with pretty much the same as in https://github.com/envoyproxy/envoy/issues/4274.

I need to change the prefixes before forwarding them to backends. My idea was to change the :path header in a lua filter. However it seems like the route matching happens again after the lua script because when I change it I end up with 404 from my pr

[2019-10-22 16:25] junr03 opened #8720 "http2: empty trailers lead to ASAN failures"
*Description*: currently the http2 codec submits trailers to nghttp2 with this function call:
https://github.com/envoyproxy/envoy/blob/e059a120ed6e6da683d78e521c5ebab73da998a0/source/common/http/http2/codec_impl.cc#L216. In the case that the passed in HeaderMap& is empty, that function call reports ASAN failures: `reference binding to null pointer of type 'nghttp2_nv'`.

nghttp2 checks for length

[2019-10-22 16:50] asraa commented on #8715
Upon carefully reading the documentation, the answer is no, PGV doesn't support validation on keys or values in C++, which means no recursive validation:
https://github.com/envoyproxy/protoc-gen-validate/blob/master/rule_comparison.md#maps

This also applies to repeated embedded message fields -- they're not validated in C++. Just FYI, in case we are relying on validations for embedded messages in

[2019-10-22 16:55] PiotrSikora commented on #8709
@lizan @htuch the issue with using `istio-h2`, etc. is that it forces us to negotiate well-known protocols (e.g. HTTP/2) using custom ALPN values instead of the predefined ones (i.e. `h2`), and while this would somehow work right now, it could become an issue when we finally add support for negotiating HTTP versions using ALPN when acting as a client (#3431), since then we'll need to expose config

[2019-10-22 17:05] snowp opened #8722 "Issue running tools/check_spelling_pedantic.py locally"
Running check_pedantic_spelling.py locally results in

[code]

This is on OS X.

cc @zuercher

[2019-10-22 17:47] #4460 closed

[2019-10-22 18:43] yxue commented on #8709
Can we use both `istio-h2` and `h2` in the client side? In the serve side, we only set `h2` in TLS context and `istio-h2` is only used for filter chain match.

[2019-10-22 19:15] rodaine commented on #8715
Originally (predating RBAC), there were no repeated/map fields in the Envoy config messages that required validation, so the C++ implementation for those rules was kicked down the road. I can't couldn't say if I had forgotten this or if I was being optimistic when implementing RBAC.

There are no blockers to add this to PGV, but I do not currently have the bandwidth to work on it now, so if someon

[2019-10-22 20:23] a-sharma11 commented on #8651
Figured out by looking at the client here
https://github.com/jaegertracing/jaeger-client-cpp

the value needs to be set as empty string.

[2019-10-22 20:23] #8651 closed

[2019-10-22 20:43] mattklein123 opened #8727 "Percentage based retry circuit breaker"
Instead of specifying a fixed number of active retries, we should also allow specifying the retry circuit breaker as a % of currently active requests (potentially w/ a min floor). This would be easier to auto tune assuming the correct setting of active request circuit breakers and adaptive concurrency.

[2019-10-22 20:45] mattklein123 commented on #8727
@lexh will implement this with help from @wgallagher

[2019-10-22 23:10] abhishek-jain11 opened #8729 "How to use SDS with file subscription"
*Description*:
I am using the below configuration to refresh tls certificates from file subscription. But it seems to be not working. Although in the log it seems envoy is watching the file containing inline certs. Any idea what I might be missing here.
I am using kubernetes secrets to store the certs. For refresh I patch the same secret.

My Envoy configuration
[code]

/init-data/service.x509.tru

[2019-10-22 23:39] gsagula commented on #8666
I’m away till next week but I can take a look into that when I’m back.

On Tue, Oct 22, 2019 at 10:35 AM Matt Klein <notifications@github.com>
wrote:

--
Gabriel Linden Sagula

[2019-10-23 00:00] shivanshu21 opened #8730 "Have a fallback cluster which matches when the matched upstream cluster for a route is Unhealthy"
*Title*: *Have a fallback cluster which matches when your matched upstream cluster is Unhealthy*

*Description*:
We are running an implementation of this feature in our production env. We wanted to know if this feature is desired upstream.
The feature is present at `route_config` level, and takes name of a cluster as its value.
If a route matches an upstream cluster which has `no heathy upstreams`

[2019-10-23 00:08] shivanshu21 opened #8731 "Have the ability to fall through to the next best match if the upstream cluster match for a route is unhealthy"
This is linked to issue #8730

If a route matches an upstream cluster that is unhealthy, can we have an option in `route.RouteAction` to trigger rerouting to the next closest match?

Eg.
`/a/b` matches `down_cluster_1`
`/c` matcher `some_cluster_3`
`/a` matches `up_cluster_2`
`/` matches `home_page`

A `/a/b` request should be sent to up_cluster_2 if down_cluster_1 is unhealthy.

We want this opti

[2019-10-23 01:05] lizan commented on #8730
@snowp I guess this can be a retry extension?

[2019-10-23 01:17] shivanshu21 commented on #8731
@lizan Here is something else that is related.
https://github.com/envoyproxy/envoy/issues/7017

The Noop feature described above will allow for a route to be a No-operation route. When such a route is matched to Noop, it will get rerouted to next closest match.

This question extends the concept a little. In this case, I want to reroute ONLY if the upstream cluster is unhealthy. Upon rerouting the

[2019-10-23 01:49] lizan commented on #8731
as I commented in the other issue, I guess this can be a retry extension, @snowp can weigh in on that.

[2019-10-23 03:26] #8679 closed

[2019-10-23 04:55] #8473 closed

[2019-10-23 05:55] venilnoronha commented on #8630
This is fixed in #8482.

[2019-10-23 05:59] #8549 closed

[2019-10-23 05:59] #8642 closed

[2019-10-23 06:27] htuch commented on #8659
I think if we figure out what the real story is going to be around generic HTTP matchers, then we can just reuse the HTTP matcher definitions we have at per-route level to select the route rule within the per filter route config to further specialize.

One thing I want to be cautious about is over optimizing here if we aren't going to see a huge pay-off in terms of reduced configuration. By time w

[2019-10-23 06:32] htuch commented on #8709
Would it be useful to have "ALPN values that can be used to negotiate HTTP/2" beyond this use case?

[2019-10-23 08:25] wbpcode commented on #8659
Yes. When each tenant's configuration is completely different, Conditional "per_filter_config" does not save much overhead compared to SRDS. Their complexity is similar (Only the constant terms are different). However, Conditional "per_filter_config" can effectively reduce redundant configurations when there is only a small difference in the configuration of each tenant.

Therefore, the effect of

[2019-10-23 10:09] Shaboxi opened #8736 "HTTP PATCH request call failing"
*Title*: *HTTP PATCH request call failing*

*Description*:

We have a pod that sends all sort of calls to a remote service.
The GET, POST, PUT calls succeed, but a PATCH call fails.

We have used istio default setup, and are not blocking/altering any traffic with it.
But we tested and confirmed that once we configure the pod with sidecar.istio.io/inject: "false" this PATCH call works, and once ist

[2019-10-23 11:54] dio commented on #8666
@kikogolk I can reproduce your case. I added the following lines:

[code]

Seems it cures the problem, but I'm not sure how to provide a unit test for it 😅. I will think about it. Meanwhile, could you try to accommodate the above change? Thank you!

[2019-10-23 12:38] lizan commented on #8709
As long as you always set both I think this is fine, if some client do `istio-h2` only then this will end up with failed handshake, but probably same even if we do match multiple values match.

[2019-10-23 12:53] ascheglov commented on #8683
And there is another thing, on request timeout, the `Filter::onUpstreamAbort` function calls sendLocalReply and it doesn't call finalizeResponseHeaders in its headers callback, so response_headers_to_add are not used anyways.

So there are two things to do:
1) add `%REQ(x-request-id)%` to response_headers_to_add
2) add a finalizeResponseHeaders call to onUpstreamAbort

[2019-10-23 14:03] htuch commented on #8715
@asraa is this within scope of resolving our fuzz backlog? @rodaine it seems pretty reasonably scoped, just an additional recursive traversal in all languages.

[2019-10-23 15:10] #8625 closed

[2019-10-23 16:10] rgs1 opened #8738 "thrift proxy: add option to strip service name"
We use the multiplexed protocol, which adds the service name as a prefix to the method name (e.g.: `Service:method`). After matching a route in the egress listener, the prefix is not needed anymore and it'll actually generate an error in the destination service.

So we are thinking of having an option, `strip_service_name`, at the route level:

https://github.com/envoyproxy/envoy/blob/master/api/e

[2019-10-23 16:24] eziskind commented on #8690
@madhu-shankar The comment about the injected_resource being intended for integration tests is mainly because it is a more heavyweight way of getting resource stats (ie. reading a file) but it should work in production if used properly. Are you sure you are updating that file (/tmp/envoy_cpu_usage) atomically by symbolic link swap as mentioned in the docs?

[2019-10-23 16:40] lizan commented on #8736
Do you have part of the config dump (from `istioctl proxy-config`) and/or sample request? If you're not comfortable to share it here, ping me on Slack or send me email.

[2019-10-23 17:23] eziskind commented on #8690
@madhu-shankar For an example of how to do a symbolic link swap see the [AtomicFileUpdater](https://github.com/envoyproxy/envoy/blob/d4fa470da75791976807d911333f066ecfcd09b8/test/test_common/utility.h#L593) utility class.

[2019-10-23 17:25] mattklein123 opened #8740 "grpc frame decoder fuzzing"
See https://github.com/envoyproxy/envoy/pull/8531 and the existing frame class. We should fuzz this code.

cc @asraa @kyessenov @lizan

[2019-10-23 17:39] antoniovicente commented on #7647
bazel test --config=libc++ seems to trigger a different set of problems on tests like //test/common/access_log:access_log_formatter_fuzz_test at least on my machine.

/home/avd/.cache/bazel/_bazel_avd/1e20bf3ad6fa0170c07bc768f0392847/sandbox/linux-sandbox/7410/execroot/envoy/bazel-out/k8-fastbuild/bin/test/common/access_log/access_log_formatter_fuzz_test.runfiles/envoy/test/common/access_log/acces

[2019-10-23 17:42] rodaine commented on #8715
Not saying it’s technically hard. C++ is the only language right now in PGV that doesn’t support it. We skipped it on your initial pass since it wasn’t a requirement for the configs at the time.

[2019-10-23 17:43] jmarantz commented on #7647
I've punted this one... Those two tests fail for me always when running locally, and I just count on CI at this point.

Not a great state and I would love for a solution to exist for however our workstations are configured.

[2019-10-23 17:44] mattklein123 commented on #8730
I think this could also be done with an HTTP filter that runs before the router FWIW.

[2019-10-23 17:46] mattklein123 commented on #8731
I think this one would be a bit harder to do as a retry extension, but also could potentially be done as an HTTP filter that runs before the router (in general the router is super complex and I would like to try to prevent it from getting even more complex). One way this could potentially be done is a allow a route to be selected w/ optional hints, such as "not this cluster" or something like that

[2019-10-23 17:47] mattklein123 commented on #8659
Assuming generic matchers as @htuch mentioned, I think this is reasonable to implement and like I said could also likely cover the disable case. If someone wants to work on this lets get a design proposal going.

[2019-10-23 17:48] mattklein123 commented on #730
There has been so much work on the router checker tool recently that I'm going to close this generic issue. At this point let's open specific issues for feature requests, bugs, etc.

[2019-10-23 17:48] #730 closed

[2019-10-23 17:49] mattklein123 commented on #6362
Closing this as we can track w/ the final remaining "kill v1" issue.

[2019-10-23 17:49] #6362 closed

[2019-10-23 17:54] lizan commented on #7647
@antoniovicente likely you didn't install libc++ to standard location, and didn't add the path to your ldconfig

[2019-10-23 17:57] snowp commented on #8731
I think there is an issue with how route resolution works in Envoy for this to work perfectly: route resolution happens immediately as the HCM runs, so if cluster health is accounted for in route resolution, a route that targets cluster A might be selected. Then, a slow filter is applied (think ext_authz), delaying the actual routing. Now there is no longer any guarantee that cluster A is healthy

[2019-10-23 17:59] shivanshu21 commented on #8730
@mattklein123 @lizan

Sorry, I didnt quite understand.
[code]
In doing so, the new filter will just be another router filter won't it?

The way we do it in our private repo is:

[code]

[2019-10-23 18:04] snowp commented on #8730
You can modify the headers and call `callbacks_->clearRouteCache();` to re-resolve the route entry. This would allow you to simplify modify the headers in such a way that a different cluster is resolved, delegating the routing to the router.

[2019-10-23 18:09] mattklein123 commented on #8730
^ correct

[2019-10-23 18:29] BailyTroyer commented on #4274
Has this been addressed? I am trying to do the same and have found no documentation regarding capture groups in envoy.

[2019-10-23 18:33] shivanshu21 commented on #8731
@snowp We are just trying to solve the case where a cluster is down before the routing is done.

[code]
How can we use this idea to go to the next best matching route?

[2019-10-23 18:33] PiotrSikora commented on #7647
@lizan aren't tests linked statically anymore?

[2019-10-23 18:38] pitiwari commented on #8731
I am working on PR for noop. Once that pr is merged. For noop i am checking if route has noop action specified then pick next route. @shivanshu21 can put one more check over there to check for the unhealthy cluster.

If this sounds good, then i can increase priority for working on PR.

https://github.com/envoyproxy/envoy/pull/8611

[2019-10-23 19:43] #8446 closed

[2019-10-23 19:50] mattklein123 commented on #8731
I think we are still unlcear on how NOP is going to land, so let's see how that turns out first and then we can potentially revisit this. We need to be careful about adding too much complexity in the wrong places and will need to step back and figure out the right way for you to solve your use case.

[2019-10-23 20:56] #3920 closed

[2019-10-23 21:16] zuercher commented on #4274
I'm closing this as a duplicate of #2092, which I believe is being worked on.

[2019-10-23 21:16] #4274 closed, assigned to nobody

[2019-10-23 21:21] lambdai commented on #8709
How is the selected protocol if the  ("istio" AND "h2") OR ("istio" AND "http/1.1") if the former pair is selected?
Say:
1. client  - ["istio", "h2"] -> server
2. client  <-        ?         --  server

[2019-10-23 21:27] zuercher opened #8742 "fix spell checker on macos"
Spell checker fails on macOS:

[code]

[2019-10-23 21:37] mattklein123 opened #8743 "config dump: allow search/filtering"
It would be nice to have query strings that allow dumping only listeners, only clusters, and potentially searching for specific names within those dumps.

This could be done by a different tool but it seems useful to have some basic ability built in.

[2019-10-23 22:08] greenenergy commented on #886
I too am having issues with this, but I have another bit of info to add. I'm using istio, and trying to create `Virtual Service & Gateway` entries for both http and https services. The https service I have does its own TLS termination, so I'm using a TLS PASSTHROUGH.  The istioingressgateway listens on port 31380 for http and 31390 for https. I am using `happy.localdomain` for the TLS service that

[2019-10-23 22:21] #8260 closed

[2019-10-23 23:00] kyessenov commented on #8568
/cc @kyessenov

[2019-10-23 23:17] moderation commented on #8568
See https://github.com/envoyproxy/envoy/pull/8739

[2019-10-24 00:10] snowp commented on #8731
@shivanshu21 What is the goal to provide fall through here? What benefit does
[code]
have over
[code]
?

My point is that if the intent here is to just provide a way to specify this kind of failover in the route table, it can likely be better solved by incorporating the fall through into the load balancer.

Would love to hear it if you have any use cases that require this to be a route level conce

[2019-10-24 01:56] #8463 closed

[2019-10-24 02:01] lizan commented on #7647
@PiotrSikora fuzzer targets are always dynamic linking libc++

[2019-10-24 02:51] #8742 closed

[2019-10-24 03:02] dichen16 commented on #8525
Hi @htuch,
I am confused about the label `"v3 API"`,
I saw the [document](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api), there's only v2 API related stuff.

So my question is this task is for v2 API related proto, right?

[2019-10-24 06:01] mailzyok commented on #8711
This issue was solved by manually build the libc++ and libc++abi libraries on OpenSuse 15. Close it now. Thanks.

[2019-10-24 06:01] #8711 closed

[2019-10-24 06:17] htuch commented on #8715
@asraa sounds good, from what @rodaine says we should be able to figure this out, I can take a look at the WiP next week.

[2019-10-24 06:19] htuch commented on #8525
@dichen16 correct, we've moved most v2 issues to v3 in preparation for the upcoming v3 support.

[2019-10-24 06:27] larryrun commented on #6654
Hi  @JimmyCYJ, its been several months since this feature is discussed, is there any progress/plans for implementing this feature? This feature is very helpful for our case

[2019-10-24 08:25] kikogolk commented on #8666
Hi @dio !

Thanks for your response. I was testing a very similar solution and it seems it is working properly. We just detected if the stream was end_stream and in that case we called the "addDecodeData". I was checking the unit test cases and I didn't know either how to test it.

[code]

I will test your proposed solution and tell you if it is working.

Thanks!

[2019-10-24 09:05] chershma commented on #8736
hi @lizan,

is this what you meant?
its from: istioctl proxy-config bootstrap
[code]

As for the call, its a bit problematic to share.

Also, nothing was logged in istio-proxy, can we somehow change log level and see the call there?

notice, we have upgrade to istio 1.3.3 yesterday, but the problem persists

[2019-10-24 09:50] derekargueta commented on #8656
@lizan / @mattklein123 please assign to me

[2019-10-24 11:59] dichen16 commented on #8525
Hi @htuch,
I found all the `protodoc-title` are well defined,
for example,
the `protodoc-title` of `api/envoy/api/v2/srds.proto` is  **HTTP scoped routing configuration**,
and the `protodoc-title` of `api/envoy/api/v2/cluster/filter.proto` is **Upstream filters**,

kind confused, Is those `protodoc-title` fields that this task need to upgrade?

[2019-10-24 14:31] wrowe opened #8750 "char32_t not supported in Windows MSVC Studio 2017"
This error appears to be a newly-introduced usage of or support for char32_t strings, perhaps from a recent PGV or logging or envoy v2 API change which occurred on Envoy master branch during the week of October 7th.

ERROR: C:/workspace/envoy/source/exe/BUILD:26:1: Linking of rule '//source/exe:envoy-static' failed (Exit 1120)

pkg_cc_proto.lo.lib(cds.pb.validate.obj) : error LNK2001: unresolved e

[2019-10-24 14:54] htuch commented on #5155
Yep, it would be great to see a comparison, including feature support, standard compliance, performance, licenses, security process/maturity and so on. http-parser is basically EOLed.

[2019-10-24 16:51] lizan commented on #8656
/assign derekargueta

[2019-10-24 16:52] lizan commented on #8656
@derekargueta JFYI, you can assign yourself

[2019-10-24 17:04] mattklein123 commented on #5155
Happy to see an analysis done, but IMO we should probably just use llhttp since it's roughly a drop in API replacement for http_parser.

I've used picohttp in the past and we would have to implement a substantial amount of stuff on top that http_parser/llhttp already implements.

[2019-10-24 18:25] derekargueta commented on #8656
@lizan oh sorry, thought it was a maintainer power

[2019-10-24 19:01] zuercher commented on #8715
I found some time to work on this. I should have a PR out this afternoon that makes PGV recursively handle validations on maps.

[2019-10-24 19:21] lizan commented on #8750
Does VS 2019 solve the problem? Windows CI is on VS 2019 on Windows Server 2019, so even we have short term fix it might be fragile.

[2019-10-24 19:28] lizan commented on #8736
@Shaboxi I need the endpoint config. You can set https://istio.io/docs/reference/config/installation-options/ global.proxy.logLevel to debug and see whether you see the log. If you have a curl command to reproduce your request, that will be helpful too.

[2019-10-24 19:41] #8343 closed

[2019-10-24 20:28] zuercher commented on #8715
https://github.com/envoyproxy/protoc-gen-validate/pull/281

[2019-10-24 20:40] mattklein123 commented on #8722
I think this is a dup and was fixed.

[2019-10-24 20:40] #8722 closed

[2019-10-24 21:39] danzh2010 opened #8756 "quiche: re-enable packet buffering at QuicDispatcher"
QuicDispatcher can buffer non-CHLO packets till valid CHLO arrives or CHLO packets to defer creation of quic connections till quic::Dispatcher::ProcessBufferedChlos() is called. ProcessBufferedChlos() creates new QUIC connections from buffered CHLO's. This is used to limit the number of new connections created in each event loop avoid long loop.

However, this feature is current disabled in integr

[2019-10-24 21:40] danzh2010 commented on #8756
/assign @bencebeky

[2019-10-24 23:45] #8355 closed

[2019-10-25 00:03] seguidor777 opened #8761 "How to obtain the public IP address from the x-forwarded-for header"
Hello everyone,

I am trying to get the public IP from the client (original IP) and use it in the actions of the rate limit.
I am using the use_remote_address option, but only inject the first trusted IP from the XFF list, which is the same as my cloud provider's load balancer.

Could you please give me a clue on how to get the public IP?, no matter it could be forged

Edit: Using Envoy v1.10.0

[2019-10-25 00:57] htuch commented on #5155
The only thing that slightly sketches me out about `llhtttp` is the way it pushes us towards having to live in Typescript land. I'm a fan of higher level languages for parsers and codecs, but not such a huge Javascript fan. We can just use the released C implementations though, so build integration shouldn't be an issue. FWIW, the concerns over appropriate handling of vulnerabilities in the Node.j

[2019-10-25 01:37] dichen16 commented on #8525
you mean "envoy/api/v2/srds.proto", is this already well defined?
![Screenshot from 2019-10-24 23-49-51](https://user-images.githubusercontent.com/36980985/67536673-e1b54e00-f70a-11e9-946d-6d8429cf8471.png)

I think it's kind different with your example, "envoy/api/v2/srds.proto".

[2019-10-25 02:27] ahmedelbazsc opened #8764 "Segmentation fault on host priority updates for EDS clusters"
*Title*: Segmentation fault on host priority updates for EDS clusters

*Description*:
This issue is similar to https://github.com/envoyproxy/envoy/issues/6395, though the stack trace is different.

In this setup hosts are mapped to different localities whose priorities are dynamically updated by XDS control plane to optionally enable zonal affinity. When enabled, same locality endpoints get higher

[2019-10-25 05:46] htuch commented on #4705
An update on this. `json_fuzz_test` has discovered that RapidJSON can be easily caused to stack overflow as used today. Generally this isn't a concern, as we expect that control plane handling untrusted input should be sanitizing for this or be using gRPC/proto3. RapidJSON is used on the data path in places, specifically Dynamo and MongoDB extensions, the Envoy OSS security team has audited these

[2019-10-25 07:09] #8738 closed

[2019-10-25 07:12] #8098 closed

[2019-10-25 12:32] dichen16 commented on #6953
Hi @jmarantz ,
I'd like to take it !

[2019-10-25 12:54] jmarantz commented on #6953
Great! Looking forward to helping out with reviews.

[2019-10-25 12:59] asraa commented on #8715
Thank you so much!!!

[2019-10-25 13:57] lizan commented on #8764
Do you have the EDS responses to reproduce this? Can you also try it on latest version too? 1.11.2 or latest master will be helpful.

[2019-10-25 14:37] MarcinFalkowski opened #8767 "lb_subset_config: allow for fallback to another selector"
I am trying to implement slightly more complicated subset load balancing than it seems is supported now.

This is my subset lb config:
[code]

My requirements are
1. If request metadata keys = [canary], there should be a fallback to any endpoint
2. If request metadata keys = [tag], there should be no fallback
3. If request metadata keys = [canary, tag], there should be a fallback to any endpoint m

[2019-10-25 16:00] mabukhovsky commented on #8343
Hi guys, I've verified your fix on master branch recent version and hit the same issue. Please let me know if there's an issue with my config or you think further changes in source are needed to resolve it.

*Config*:
[code]

*Logs*:
[code]

[2019-10-25 16:18] zuercher commented on #8767
My main concern was that it might be possible to create an infinite loop of fallbacks. Do you intend that the `fallback_key_subset` has to be a restriction on the subset's selector keys? (E.g. given a subset with keys `[a,b,c]` the fallback keys could only be `[a]`, `[b]`, `[c]`, `[a,b]`, `[a,c]`, or `[b,c]`. If so, I think the code cannot fall into a loop and I'd be ok with it.

[2019-10-25 16:23] mattklein123 commented on #8343
@mabukhovsky those logs are not showing me any issue. Can you repro the issue on master and include more logs including the CDS reload?

[2019-10-25 17:10] mabukhovsky opened #8768 "Envoy as a dynamic forward proxy with Host and Port rewrite"
We would like to use Envoy as a forward proxy that handles connection to 3rd party services via HTTP / HTTPs requests that could point to different domains, ports, for example:
[code]
In our initial integration we were able to achieve the behavior we want by creating route, routeAction and cluster for every URL
[code]
While this approach works, there's a performance impact as Envoy has to find mat

[2019-10-25 17:41] #8274 closed

[2019-10-25 17:46] mabukhovsky commented on #8343
Matt, thank you for a quick response. Yes, issue is reproducible on master. More logs per your request.
[envoy-more-logs.txt](https://github.com/envoyproxy/envoy/files/3773164/envoy-more-logs.txt)

[2019-10-25 18:27] mattklein123 commented on #8343
@mabukhovsky sorry still not enough logs, I only see 1 dynamic proxy request with no healthy hosts. Can you get a log that shows the initial cache lookup, the CDS reload, and then the failed request?

[2019-10-25 18:28] mattklein123 commented on #8764
+1 please repro on current master.

[2019-10-25 19:41] ivanpondal commented on #8630
@venilnoronha I took a look at the PR and noticed it removes the usage of `server_stats.live` but not the cluster ones (`membership_total`, `membership_degraded ` and `membership_healthy`). Couldn't that cause the minimum healthy clusters functionality to work improperly?

[2019-10-25 19:44] mattklein123 commented on #8768
cc @derekargueta @rgs1 who might be able to advise.

[2019-10-25 19:54] rgs1 commented on #8768
@mabukhovsky so note that `host_rewrite` at the route action level won't do what you want, you'd need to use `host_rewrite`  via the `per_filter_config` for the dyn forward proxy:

https://github.com/envoyproxy/envoy/pull/8619

Extending the above to use a header value as the host rewrite target should be straight forward.

Port rewrites should work too, I think.

When you say http _and_ https, yo

[2019-10-25 19:56] rgs1 commented on #8768
I am happy to extend #8619 to support header value -> host rewrite, assuming that would solve your use case.

[2019-10-25 19:57] yskopets opened #8769 "Add support for subset load balancing to `envoy.tcp_proxy`"
*Title*: Add support for subset load balancing to `envoy.tcp_proxy`

*Context*:

I’m trying to configure Envoy to use load balancer subsets at L4.

E.g., I want to dispatch 10% of traffic to endpoints marked as “master” and 90% to endpoints marked as “replica”.

Ideally, my configuration should look like

[code]

However, `envoy.tcp_proxy` does not support `metadata_match` per weighted cluster at

[2019-10-25 19:58] rgs1 commented on #8768
I think setting `x-set-host: foo:81`'s value as `Host:` should handle host/port... No need for a separate header.

[2019-10-25 19:59] mattklein123 opened #8770 "test: remove monolithic mock files (mock.h/cc)"
I have not analyzed this in detail, but I'm fairly certain that one of the reasons most of our tests take so much RAM to compile (and thus sometimes limit CPU throughput for compilation) are the giant monolithic mock files that we have for each namespace.

This is a truly heinous tech debt task, but I think we need to kill the monolithic files and replace them with a h/cc per mock which would allo

[2019-10-25 20:00] mattklein123 commented on #8770
cc @lizan for comment, I know this has come up before as a discussion point.

[2019-10-25 20:11] MarcinFalkowski commented on #8767
@zuercher that's exactly what I had in mind. In other words `fallback_key_subset` has to be a subset of `keys` but not equal to `keys`

[2019-10-25 20:40] #8247 closed

[2019-10-25 20:41] zuercher commented on #8769
Sorry, I don't think I entirely understood your request when I responded in Slack. It's feasible to add metadata fields to the ClusterWeight definition in the tcp_proxy.

That said, it might be simpler to just have separate master and replica clusters and skip the subset load balancer altogether.

[2019-10-25 20:48] zuercher commented on #8770
I'm not sure if it would actually be less painful, but it might be possible to write a script to do this.

https://eli.thegreenplace.net/2011/07/03/parsing-c-in-python-with-clang

[2019-10-25 20:53] jmarantz commented on #8461
Hi -- I'm really sorry I missed this mention a month ago. Especially because I don't have any experience with the Lua filter and its limitations. One thing I'm confused about in the above description: can't you control via config file where the Lua filter runs in the filter chain?

I also wanted to confirm you really need the information for the *current* request. If not, you might consider access

[2019-10-25 20:53] seguidor777 commented on #8761
Config:
[code]

Response headers:
[code]

The documentation says:

So I think that my load balancer is not properly setting the x-forwarded-for header (more likely) or Envoy is recognizing its IP as internal

[2019-10-25 20:54] ivanpondal opened #8771 "Cluster healthcheck uses wrong interval due to metric filtering"
Given an **Envoy v1.11.1** node with [cluster](https://www.envoyproxy.io/docs/envoy/latest/configuration/upstream/cluster_manager/cluster_stats) metrics excluded via `StatsMatcher` and cluster health checking enabled, when sending traffic to the cluster healthcheck is always run with `no_traffic_interval` 60s default interval.

The cause is the same as with https://github.com/envoyproxy/envoy/issu

[2019-10-25 21:06] seguidor777 commented on #8761
Config:
[code]

Response headers:
[code]

The documentation says:

So I think that Envoy is recognizing the IP of my load balancer as internal

Is there any way to skip this behaviour, maybe using a filter?

[2019-10-25 21:40] mabukhovsky commented on #8768
Thank you for clarification and quick responses guys, I truly appreciate it.
[code]
Yes, I've seen this option but as I've mentioned we want host and port values to be dynamic and taken from request header. Something like
[code]
or if you allow both host and port to be part of the rewrite header (header content example: google.com:443) as you've mentioned - that's awesome too.
Please let me know i

[2019-10-25 22:07] vblvl19 opened #8773 "Possible Lua filter memory leak when using body in envoy_on_response()"
*Title*: *Possible Lua filter memory leak when using body in envoy_on_response()*

*Description*:
When accessing the response body inside the envoy_on_response() Lua function, either with body() or bodyChunks(), the memory does not seem to be freed after Envoy finishes responding to the downstream.

*Envoy Version*: v1.11.1

*Repro steps*:
1. Use the standard implementation of the envoy.lua filter

[2019-10-25 22:35] #8438 closed

[2019-10-25 22:44] veshij opened #8774 "Propagate Cluster.alt_stat_name to RouteEntry"
We use custom `PassThroughEncoderFilter` which emits some cluster-specific stats.
Currently we use `streamInfo.routeEntry()->clusterName()` for this purpose, but since Cluster.alt_stat_name is not propagated to RouteEntry we can't achieve consistent logging across different code paths.
Would it make sense to provide cluster's alt_stat_name via RouteEntry?

[2019-10-25 23:08] mattklein123 commented on #8774
You can look up the cluster and then get the alt stat name from cluster info right?

[2019-10-25 23:55] seguidor777 commented on #8761
Closing this, since it was a problem with my Kubernetes service.

This guide is very helpful to anyone having the same issue
https://kubernetes.io/docs/tutorials/services/source-ip/#source-ip-for-services-with-type-loadbalancer

[2019-10-25 23:55] #8761 closed

[2019-10-25 23:57] #8634 closed

[2019-10-26 00:19] gongcon opened #8777 "add request timeout in retry policy"
There's no request_timeout enum in `retry_policy`. Only `5xx` and `gateway-error` (502, 503, 504) has the ability to retry on request timeout. `retriable-status-codes` only works when upstream responses. In our use case, we don't want to retry on 503, but definitely retry on request timeout. Given an individual request_timeout enum will give more flexibilities. Users can combine it with `retriable

[2019-10-26 04:23] veshij commented on #8774
Yep, that should work, sorry for bothering.

[2019-10-26 04:23] #8774 closed

[2019-10-26 15:22] jmarantz commented on #6953
Cross referencing an earlier attempt at this: https://github.com/envoyproxy/envoy/pull/7166

[2019-10-26 16:43] snowp commented on #8777
Is the `reset` retry policy not sufficient for this? From what I can tell it would retry upstream timeouts (as they result in an upstream reset)

At a glance this seems like a reasonable addition, but if existing retry policies cover this I'd prefer to not add additional complexity.

[2019-10-26 17:06] #8297 closed

[2019-10-26 20:47] mattklein123 commented on #8773
What memory stat are you looking at exactly to determine that it is leaking? Unless the memory actually goes up forever, this is most likely a case of tcmalloc not giving memory back to the OS and buffer sizes being set too large.

[2019-10-26 20:52] #8302 closed

[2019-10-27 02:47] derekargueta commented on #7158
It seems the referenced PR (#7124) fixed this by setting the default protocol to HTTP/1.1 for all tests except when overridden for HTTP/1.0-specific tests?

[2019-10-27 04:13] derekargueta commented on #5155
Started playing around with llhttp, the parser API is pretty much the exact same which is great, but it doesn't expose the URL parsing library like http_parser which we use in a few places as a URL utility.

[2019-10-27 08:45] mosespx commented on #8644
@zuercher please add a BUG label, seems like its happening also in other environments

[2019-10-27 11:43] htuch commented on #5155
@derekargueta can we move away from relying on these URL parsing utils and switch to the Chromium URL library as per https://github.com/envoyproxy/envoy/issues/6588? This would allow us to get behind a single source of URL parsing truth, which can only be a good thing for consistency; we've seen quite a few issues with different parts of Envoy not agreeing on things like URL semantics historically

[2019-10-27 12:09] #8245 closed

[2019-10-27 16:52] rgs1 commented on #8768
We should probably call it `auto_host_rewrite_header`, for consistency:

https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/route/route.proto#L760

[2019-10-27 18:32] derekargueta commented on #5155
@htuch sure, I was unaware of sunsetting the Node URL parser.

Also, should the new parser should initially be gated behind a feature flag to allow opt-in before forcing everywhere, similar to when the buffer implementation changed?

[2019-10-28 00:09] #8304 closed

[2019-10-28 01:01] htuch commented on #5155
@derekargueta I'd recommend a feature flag to allow folks to fall back as needed, but I'd advocate we flip it on eagerly, there isn't a ton of value in remaining with the extant URL parser.

[2019-10-28 01:46] cetanu commented on #8412
😰 I haven't had a ton of time to look more into this. Any avenues I should look into would help push me along

[2019-10-28 01:47] #7158 closed

[2019-10-28 02:40] hzxuzhonghu commented on #8410
This block the xds sync, anyone please help.

[2019-10-28 02:57] zyfjeff commented on #8702
In addition to allowing connection pools to be shared between worker threads, I think we can also consider implementing a multiplexed connection pool, not all of which are synchronous calls of http1.1, such as Dubbo, thrift, multiplexing. To implement a multiplexed connection pool, we need to abstract out the interface, provide the protocol layer to associate requests and responses, the design is

[2019-10-28 08:18] lizan commented on #8770
I didn't analyzed though I guess it might result longer compilation because of the preprocessor will have to process header files many more times. But for sure it helps incremental build.

[2019-10-28 13:44] vblvl19 commented on #8773
Thanks @mattklein123, I wrote a different test that utilised 1TPS for a large buffer size and can confirm that the memory holds at approximately that size, plus overhead.

[2019-10-28 13:44] #8773 closed

[2019-10-28 14:02] chershma commented on #8736
hi

is this what you meant, as to endpoint config?
 kubectl --kubeconfig=/home/bamboo/.kube/config-ucs-k8s-dev1 describe  pods -n dev template-69989b748f-5klhr
Name:               template-69989b748f-5klhr
Namespace:          dev
Priority:           0
PriorityClassName:  <none>
Node:               ucs-k8s-dev1-n03/192.168.141.178
Start Time:         Mon, 28 Oct 2019 15:56:54 +0200
Labels:

[2019-10-28 14:40] sp-manuel-jurado opened #8784 "Caught Segmentation fault, suspect faulting address 0x0."
*Title*: *Caught Segmentation fault, suspect faulting address 0x0.*

*Description*:

We have realized that it is "always" after an error 418 due to [nginx waf](https://docs.nginx.com/nginx-waf/).
Is it possible that we have forgotten some envoy config?
Envoy version: ebd972ecb49bc50bd754fdecb3f84c70d2ad26b6/1.12.0-dev/Clean/RELEASE/BoringSSL (but we experienced it using v1.11.0 stable version too)

[2019-10-28 15:04] vmg commented on #8461
@jmarantz: Thanks for the reply. To answer your questions: yes, we need this information because our rate limiting logic takes request duration into account. Extracting it from the stats sink is unfeasible.

As for when it's running... I don't think we get to control that from the config file. In fact, in the integration test I'm doing we're only running the Lua filter (no other filters in the sta

[2019-10-28 15:30] v1b1 opened #8785 "Lua filter: httpCall() terminates abruptly in envoy_on_response() when used after bodyChunks()"
*Title*: *Lua filter: httpCall() terminates abruptly in envoy_on_response() when used after bodyChunks()*

*Description*:
In an attempt to shadow an upstream response using a Lua filter, I use envoy_on_response() to collect the response data using either body() or bodyChunks(), then use httpCall() to send the data to a special logging cluster. Buffering the response with body() and sending with ht

[2019-10-28 15:45] stevenzzzz opened #8786 "add corresponding headers in source/common/stats/timespan_impl.*"
**Bug Template**

*Title*: add common/common/assert.h to the timespan_impl lib files.

*Description*:
  timespan_impl.cc is using macros from the common/common/assert.h, add the header files as it's breaking build.

[2019-10-28 15:46] stevenzzzz commented on #8786
/assign stevenzzzz

[2019-10-28 15:51] snowp commented on #8784
This seems like a bug to me. Would you be able to provide the exact headers that nginx responds with?

[2019-10-28 16:13] mattklein123 commented on #8702
We already multiplex HTTP/2? In general though I agree that there is opportunity to do something general here that can cover multiple protocols. Unless someone gets to it first I'm probably going to look at this once I finish UDP proxy support.

[2019-10-28 16:40] ramachaitanyak commented on #8292
Hello, apologize for the delay. I am still working on issue #8291 and will follow up on this topic after. The idea broadly here is to tune the socket receive buffer size and socket receive low watermark so that; the receive buffer is never read by the application. This gives the impression to the attacker that the server is still receiving requests, as the connection is not closed and the underlyi

[2019-10-28 17:14] shidel-dev opened #8787 "Inotify events being dropped for EDS files."
*Missing inotify notifications*

*Description*:

I am trying to use envoy as a front proxy for 3 grpc services. I have static configuration for everthing, except for EDS. For EDS I am attempting to use [consul-template](https://github.com/hashicorp/consul-template) to render yaml files. They are rendered into a tmp directory and then are moved into the location configured for the corresponding clu