[2021-05-19 01:32] daixiang0 commented on #16528
Do you mean `StdPadding`  in Golang base64 package?

[2021-05-19 01:40] antoniovicente commented on #16196
Worth filing a gcc bug requesting use of a better scaling mechanism to pass arguments to cc1plus?

[2021-05-19 01:58] wozz commented on #16528
https://play.golang.org/p/XxPFj1UKrZV

This shows the error that the new encoding will produce.

[2021-05-19 01:59] yanavlasov commented on #16196
We could try. Given that this issue has been [flagged](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=86030#c2) 3 years ago and seen no movement, I'm not too optimistic.

[2021-05-19 03:54] johnzheng1975 commented on #4724
I agree with @xring

[2021-05-19 05:34] qiwzhang commented on #16528
I see.  so adding padding fixes problems for python JWT library,  but break golang one.
Since padding is not required in the JWT [rfc](https://www.rfc-editor.org/rfc/rfc7515.txt),  I think we should revert this pr [ #14779](https://github.com/envoyproxy/envoy/pull/14779).

[2021-05-19 05:35] qiwzhang commented on #16528
@TAOXUY could you help to revert it?  Thanks

[2021-05-19 05:45] TAOXUY commented on #16528
I c. I will revert that PR and tweak/resubmit it by adding a option to support python case.

[2021-05-19 05:48] qiwzhang commented on #16528
SG

[2021-05-19 05:59] hobbytp commented on #15283
@twghu  @lambdai @mattklein123 will the solution discussed here impact both TCP and HTTP connection or only HTTP connection?

[2021-05-19 07:16] dippynark commented on #16048
/no stalebot

[2021-05-19 07:17] dippynark commented on #16048
/nostalebot

[2021-05-19 09:29] aguinet opened #16568 "Input matcher that checks that an IP belongs to a list of CIDR ranges"
*Title*: An input matcher that checks that an IP{v4,v6} belongs to a list of CIDR ranges

*Description*:
This input matcher takes an IPv4 or v6 address as input and returns true if it belongs to a list of given CIDR ranges. It uses the existing `LcTrie` facility.

The configuration is simple and looks like this:

[code]

I have implemented it here: https://github.com/curiefense/envoy/commit/e4601b

[2021-05-19 10:51] phlax commented on #16196
i asked about this on freenode#gcc - seems like there is not an immediate solution

not sure there is any point raising a new bug - one of the devs has linked this issue here https://gcc.gnu.org/bugzilla/show_bug.cgi?id=86030#c4

[2021-05-19 13:44] minbaev opened #16571 "Cache ratelimits on envoy edge proxy before communicating to the ratelimiting service"
Hi,
We are trying to use envoy edge proxy with global ratelimiting (GRL)  and from my understanding  - all requests will have to go to that external GRL service. We are planning to have several edge proxies each communicating with GRL service.

We integrated the ratelimit service with our edge proxy - https://github.com/envoyproxy/ratelimit -  and now comes a question.

We don't want all the reque

[2021-05-19 13:55] Wyverald commented on #16542
The environment for the coverage build on Bazel CI is specified here: https://github.com/envoyproxy/envoy/blob/main/.bazelci/presubmit.yml#L19

It specifies that settings from https://github.com/envoyproxy/envoy/blob/main/bazel/setup_clang.sh should be used for the coverage run. I'm not completely sure what in there is tripping up the build, but someone with more knowledge of the setup could maybe

[2021-05-19 13:55] maei opened #16572 "Jwks remote fetch is failed"
*Title*: Jwks remote fetch is failed from a keycloak server

*Description*:
I run envoy with docker-compose.
Locally the remote jwks fetch is working fine  and the same setup on a digitalocean droplet fine as well.

After I deployed the docker-compose and the envoy.yaml on an ubunutu machine behind a proxy I get the message "Jwks remote fetch is failed"

I  cannot figure out what the problem is...

[2021-05-19 14:06] konstantin-tkachuk opened #16573 "Is it possible to customize metrics of external authorization?"
I am currently using envoy with OPA as a sidecar of a microservice to authenticate incoming requests. Now I want to track how many requests get denied. I have found the following statistics and they work for me:

https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/ext_authz_filter#statistics

However, the envoy_http_ext_authz_denied counter only allows me to track the *tota

[2021-05-19 14:41] cpakulski commented on #12340
@jianwen612 I opened a PR #16575 to fix this issue. Can you help me verify that fuzz tests do not crash the postgres filter? Thanks!

[2021-05-19 16:41] parkedwards commented on #11369
Possibly a silly question from me, but I'd love to see if @antoniovicente's quoted change does mitigate this issue -- how might I find which Envoy release incorporates this so I can repro re: @clundquist-stripe 's notes?

[2021-05-19 16:49] isururanawaka commented on #6334
Any update on this? we are using envoy proxy to convert gRPC to REST and we need to have swagger based interactive API documentation

[2021-05-19 17:12] isururanawaka opened #16578 "Generate swagger api definitions from gRPC proto file"
Generate swagger  API definitions for gRPC to REST transcoding.
*Description*:

[optional *Relevant Links*:]

[2021-05-19 17:29] laurentsimon opened #16579 "Pin github workflow dependencies by hash"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Reduce attack surface by pinning github workflow dependencies by hash*

*Description*:
[scorecard](github.com/ossf/scorecard) reports:
[code]
*Fix*:
Pi all dependen

[2021-05-19 17:33] laurentsimon opened #16580 "Pin dockerfile dependencies by hash"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Redeuce attack surface by pinning docker dependencies by hash*

*Description*:
[scorecard](github.com/ossf/scorecard) reports
[code]

*Fix*:
Pin dependencies by has

[2021-05-19 18:01] asraa commented on #16580
@lizan @phlax

[2021-05-19 18:14] tan-stripe commented on #11369
Here's a docker-compose version of the envoy example:

[envoy_example.zip](https://github.com/envoyproxy/envoy/files/6510872/envoy_example.zip)

If you run this along with something like `hey` or `vegeta`, you'll reproduce the problem in Envoy version 1.17 and below. It seems to have been fixed in 1.18.

[2021-05-19 18:55] phlax commented on #16580
this seems like a good idea - there was an issue recently with the alpine upstream image

my only concern is that if we pin to a particular version we probs also want to scan ~frequently that there are no issues with the pinned dep

@laurentsimon do you want to raise a PR to address the hashes ?

if not i can follow up

[2021-05-19 19:01] laurentsimon commented on #16580
@asraa volunteered to help, so I will let her send the PR. Thanks again @asraa !

[2021-05-19 20:01] #15917 closed

[2021-05-19 20:29] antoniovicente commented on #16542
@Wyverald: fix is merged, let us know if it fixed the bazel build.

[2021-05-19 21:20] lambdai commented on #15283
1) the connection shutdown should impact both TCP and http
2) upon the connection shutdown, only http connection supports "gracefully shutdown".

[2021-05-19 21:28] lambdai commented on #16503
I can understand this is useful regarding the http port 80 and 443. But it doesn' make sense for tcp modulo http.

Ideally, the destination port is determined by the application layer, e.g. a [http filter rewrite the original dest](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/original_dst) including ip and port.

I am think about a powerful http original

[2021-05-19 21:33] tonya11en opened #16583 "proto validation: Cluster message should require "connect_timeout" field be set"
Cluster message should require "connect_timeout" instead of only checking the duration is greater-than 0.

## Description
*I'm not sure if this belongs here or in https://github.com/envoyproxy/protoc-gen-validate. Feel free to redirect me there if it's more appropriate*

The `Cluster` message in cluster.proto does not require the `connect_timeout` field as part of the proto validation. It only req

[2021-05-19 21:44] qiwzhang commented on #16572
It seems that all your remote http calls need to go through a http_proxy.  I am not sure how to config envoy to talk to a http_proxy.

Maybe you can try to change the cluster address to the http_proxy address?  But I am not sure if it will work

[code]

[2021-05-19 21:48] phlax commented on #16583
related #16453

[2021-05-19 21:49] lambdai commented on #16217
It seems we don't have an immediate answer.
@AshRing  Can you provide the  trace/debug stream log from envoy? The ext-authz log can probably inspire the next step.

[2021-05-19 22:02] snowp commented on #16568
Seems reasonable to me, happy to sponsor this

[2021-05-19 22:40] gopakumarce commented on #319
Not sure where to ask a question - the question is to what extent does envoy act as a proxy for websocket ? After the Upgrade handshake is done, does it ever look into the websocket framing itself / does it care about the websocket data being proper - or does it just treat it as a tcp after wards ?

The reason for asking is to know whether I can use an http upgrade sequence and then send non-webso

[2021-05-19 22:43] gopakumarce opened #16586 "Websocket upgrade: does envoy care about the websocket data/framing ?"
To what extent does envoy act as a proxy for websocket ? After the Upgrade handshake is done, does it ever look into the websocket framing itself / does it care about the websocket data being proper - or does it just treat it as a tcp afterwards ? I checked envoy source code and I did not see any signs of envoy having code to interpret websocket framing etc..

The reason for asking is to know whet

[2021-05-19 23:47] lambdai commented on #16322
The overall description is awesome!

Thank you for clarifying it. There are several positive and negative methods to recover the original dst.
* ProxyProtocolFilter
The Downstream local address is the ip in the proxy protocol payload.
* [x-envoy-original-host](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/headers#x-envoy-original-dst-host)
Not impact DOWNSTREAM_LOCAL

[2021-05-20 01:30] lizan commented on #16580
There's a problem that sha256 hash differs by architecture, so it doesn't work for our multiarch image build.

[2021-05-20 01:50] asraa opened #16587 "CacheFilter integration test timing issue?"
*Cache Filter*: *Question about tests*

*Description*:
https://github.com/envoyproxy/envoy/pull/15814

Hi, I would appreciate some help on debugging the cache filter integration test to unblock my new parser PR above. There shouldn't be any functional changes, and it doesn't appear that's the case to me immediately.

The `ServeHeadFromCacheAfterGetRequest` https://github.com/envoyproxy/envoy/blob/

[2021-05-20 02:01] antoniovicente commented on #16583
The proposed fix is to add a default value.  Previously reported in https://github.com/envoyproxy/envoy/issues/16439

[2021-05-20 02:35] daixiang0 commented on #16580
I have experience about use SHA256 for different arches and can help if you need.

[2021-05-20 02:52] PiotrSikora commented on #16432
@Shikugawa did you start working on this? I'd like to make sure that all Envoy tests pass before a new Rust SDK release.

[2021-05-20 03:21] soulxu commented on #15372
@lambdai do you need any volunteers on this? I'm looking for task :)

[2021-05-20 09:31] Wyverald commented on #16542
Thanks! That fixed the coverage test, but now fuzz_coverage is failing: https://buildkite.com/bazel/envoy/builds/1553#72726748-2aab-47ec-94ea-d90a382768dc

[code]

Now this looks like a real toolchain problem. I think we could, in the meantime, just disable the fuzz_coverage build and get a green commit (the last one is still in February).

[2021-05-20 09:55] Shikugawa commented on #16432
@Shikugawa No. I've not started to work on this.

[2021-05-20 10:58] phlax commented on #16580
@daixiang0 do you have some idea how this can be achieved ? if so - please do open a PR and lets see

my quick internet search seems to confirm what @lizan has said - but i didnt find any definitive answers - nor any workarounds

[2021-05-20 10:59] phlax commented on #16580
regarding my concern about keeping up-to-date - it seems dependabot has support for dockerfiles so that is a non-issue i think

[2021-05-20 12:17] rojkov opened #16594 "Extend StringMatcher to accommodate scanning an input string against multiple regexes at once."
*Title*: *Extend StringMatcher to accommodate scanning an input string against multiple regexes at once.*

*Description*:

This issue is a result of my experiments with Hyperscan. I don't know first hand if it's applicable in real existing setups, but I suspect it can be useful for implementing WAF-like functionality when a big number of regex patterns should be tried for an input string with acti

[2021-05-20 12:26] pezzak opened #16595 "Envoy generates wrong proxy protocol header for upstreams"
*Description*: It contains ip address of envoy instance in the source address field instead of downstream ip.

*Config*:

[code]

*Logs*:
[envoy_log.txt](https://github.com/envoyproxy/envoy/files/6515726/envoy_log.txt)

*Tcpdump cut*:
[code]

In case of use `envoy.filters.listener.proxy_protocol` on the listener - the same result.

[2021-05-20 13:25] #16439 closed

[2021-05-20 13:25] #16583 closed

[2021-05-20 13:44] caitong93 commented on #15949
still working on it, no stale

[2021-05-20 13:55] alyssawilk commented on #16513
doing a quick scan of proxy_filter.cc and the dns cache I'm not seeing offhand any fast-path for addresses, though it would be a completely reasonable thing to do.

[2021-05-20 13:57] alyssawilk commented on #16512
cc @yangminzhu

[2021-05-20 14:05] alyssawilk commented on #16523
cc @envoyproxy/maintainers anyone interested in sponsoring?  If not this would be another use case for contrib.

[2021-05-20 14:10] alyssawilk commented on #16586
Envoy doesn't do any websocket framing. You can use the upgrade path for any arbitrary TCP data, though I'd suggest using a different upgrade name or CONNECT support. :-)

[2021-05-20 14:20] grzegorz-mirek commented on #16501
Ok, I found the root cause - it was not SAN certificate. The documentation says that SAN verification will be performed, but it wasn't clear to me that SAN is actually required. It would be good to log that information.

[2021-05-20 14:20] #16501 closed

[2021-05-20 15:05] gopakumarce commented on #16586
Hi @alyssawilk thx a lot for the response. Yes CONNECT seems the most appropriate thing to do for arbitrary TCP data, but then looks like connect is missing http header matching support and we have to use some special "connect match" filters. Hence using the Upgrade path  since its  very flexible with filters matching http headers .. Yes probably I should change the name away from websocket :)

[2021-05-20 15:23] PKizzle commented on #15235
I was able to compile it on my RaspberryPi 4, however I could not define TCMALLOC_SMALL_BUT_SLOW for tcmalloc.
How do I need to change the bazel configuration in order to make it work?

[2021-05-20 15:50] rojkov commented on #15235
I guess you can add `--copt -DTCMALLOC_SMALL_BUT_SLOW` to your bazel build command.

Or alternatively edit bazel/repositories.bzl to use `@com_github_google_tcmalloc//tcmalloc:tcmalloc_small_but_slow` instead of `@com_github_google_tcmalloc//tcmalloc` as tcmalloc's target.

[2021-05-20 16:12] wez470 commented on #16595
duplicate of **https://github.com/envoyproxy/envoy/issues/15463**

[2021-05-20 16:45] ajsalow opened #16599 "Didn't find a registered implementation for name: 'envoy.filters.network.postgres_proxy'"
*Description*:
I'm trying to use the postgres_proxy filter in a cluster and I get the error `Didn't find a registered implementation for name: 'envoy.filters.network.postgres_proxy'` It is listed as a supported filter [here](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/filter.proto.html) and I tried using it in a listener in a different configuration and it worked fine ther

[2021-05-20 17:45] #14829 closed

[2021-05-20 17:47] alyssawilk commented on #2557
Given QUIC alpha, I'm going to close this off as done - folks can follow along the mvp list
https://github.com/envoyproxy/envoy/labels/quic-mvp

[2021-05-20 17:47] #2557 closed

[2021-05-20 18:00] antoniovicente commented on #16523
Does graphite have its own protocol to collect stats or does it build on top of statsd?  Basically, does this makes sense as a separate extension or as graphite options on the statsd sink?

[2021-05-20 18:22] lambdai commented on #16551
Raw tcp doesn't preserve the info of "original dest".

You can use various tunnel including
1. http CONNECT: so that envoy recover the original dest from proxy-dl-api-gateway.cdl-proxy:80
2. iptables REDIRECT at proxy-dl-api-gateway.cdl-proxy workload. Port 81 is preserved for postgres, Port 80 or other traffic. Both 81 and 80 redirect to another magic port (15006 in istio). Then you can set up an

[2021-05-20 18:24] alyssawilk commented on #16313
@RyanTheOptimist do you remember offhand what it means to be stale in this case? Is it roughly time since data was last received from the peer or a more complicated metric?

[2021-05-20 18:32] RyanTheOptimist commented on #16313
This sounds similar to what Chrome does. But I don't think Chrome blocks the request, I think it just closes connections more aggressively. I can summarize what the similar chrome logic is. When a request is going to be sent on an HTTP/2 connection has not read any data in 10 seconds, then a PING is sent just before the request is sent. The request is immediately sent, but a 10s timer is started.

[2021-05-20 18:43] lambdai commented on #16554
It's a feature request to me.
ALS http request is not a proxied http request: e.g. this request doesn't have a downstream http request so it's not too surprising if some features are missing.

[2021-05-20 18:46] yangminzhu commented on #16512
Could you get the rbac debug log? The debug log will include the source IP seen by the rbac filter.

[2021-05-20 19:01] PKizzle commented on #15235
Thank you very much. I am now rebuilding it. Sadly I wasn't able to reuse the cache since it was somehow corrupted. Will get back with the results in a few hours 😅

[2021-05-20 20:01] moderation commented on #16599
This means that the Envoy binary you are using doesn't have the Postgres extension included / compiled. What version of Envoy are you using here? I think the Postgres filter was added in 1.15.0 - https://www.envoyproxy.io/docs/envoy/v1.18.3/version_history/v1.15.0#new-features

[2021-05-20 20:14] #16003 closed

[2021-05-20 22:00] ajsalow commented on #16599
@moderation I'm using the latest docker dev image, envoyproxy/envoy-dev. So I would be using 1.19+. Like I said, if I use the filter in a listener, it works fine. Are you able to use it in a cluster?

[2021-05-20 22:28] moderation commented on #16599
Looking at the config a little closer I notice there isn't a `clusters:` stanza and you have a misspelling for your filter with `fitlers` so  there may be additional config issues. I'm not familiar with setting filter's on the cluster. The documentation is for a listener filter - https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/network_filters/postgres_proxy_filter#config-networ

[2021-05-20 23:09] jpeach commented on #16001
Great! I'll try to dig in to this over the next few weeks.

[2021-05-20 23:43] antoniovicente commented on #16587
I'm still debugging but at first glance it seems like an error handling HEAD requests.  It seems like llhttp is not handling the NoBody return value from the header callback correctly.

[2021-05-21 00:35] lambdai commented on #16472
Should you try setting the enforce_type to CONTINUOUS
https://github.com/envoyproxy/envoy/blob/main/api/envoy/extensions/filters/network/rbac/v3/rbac.proto#L33-L37

[2021-05-21 01:19] jpeach opened #16608 "the libc++ build configuration does not work on recent clang versions"
*Description*:

When building envoy with `--config=libc++`, clang will fail to find standard C++ headers.

*Repro steps*:

[code]

The problem seems to be that bazel adds the `-no-canonical-prefixes` flag to clang, which breaks the built-in search path behavior.

This is https://github.com/bazelbuild/bazel/issues/13071. Filing the corresponding bug here to help future people trying to build envoy

[2021-05-21 01:53] #15654 closed

[2021-05-21 02:31] yanavlasov commented on #16219
Sorry for not responding earlier, I was busy with the 1.18.3 security release.
I've looked through the data, thanks for collecting it. Envoy does not retry because reset occurs after it already sent some response data to the client, so it is dead end. It seems that some interaction between ALB and Envoy causes this.

The log that you have pasted indicated that Envoy closed a stream (not clear if t

[2021-05-21 02:36] antoniovicente commented on #16587
onMessageComplete is never called on the upstream connection by the parser.  It's not clear why.  I think that this happens even if you disable the cache filter.  Is it possible that the parser is not being fully reset in some cases and the request sequence of a HEAD request followed by GET on the same upstream connection causes problems?

[2021-05-21 02:40] yanavlasov commented on #16196
It looks like fixing gcc is a dead end. bazel team is currently looking into how either the number of includes or length of include directories can be reduced.

[2021-05-21 02:50] antoniovicente commented on #16196
Can we drop support for gcc?

[2021-05-21 02:54] yanavlasov commented on #15968
Sorry for not responding earlier. I got confused by you mentioning the server sending `connection: close`. I do not think it is related. It looks like your back end takes time to get ready and start serving connections. This leads to Envoy not being able to connect to back end.
You can increase the number of retries. It is possible that adding health checks could address this issue as well if you

[2021-05-21 03:20] mattklein123 commented on #15839
You need to provide an override transport socket options to change the SNI. This is how you would do it I think.

[2021-05-21 03:21] mattklein123 commented on #16350
I can look at this next week.

[2021-05-21 03:57] mathetake commented on #16403
@daixiang0 any progress on this issue? When do you think you'll be able to work on it?

[2021-05-21 04:00] argos83 opened #16610 "unclear behavior of max_requests in cluster circuit breakers"
*Title*: unclear behavior of max_requests in cluster circuit breakers

(Tested in envoy v1.17.3)

*Description*:

I'm not sure if this is a bug, or me misunderstanding the docs.

[code]

Given protocol is HTTP/1.1 and this cluster circuit breaker config:

[code]

If I generate for example 6 long running parallel requests, E.g.:

[code]
I would expect all requests to succeed, Envoy sending 3 at a t

[2021-05-21 04:05] #15045 closed

[2021-05-21 04:14] lambdai commented on #16512
A random guess: the current rbac filter DENY data to upstream but doesn't prevent connection to upstream.
Maybe add new mode to allow decision before upstream connect?

[2021-05-21 04:30] lambdai commented on #16308
It should be trivial to support SOCKS4 CONNECT command via chained tcp proxy and original dst cluster

[2021-05-21 05:04] daixiang0 commented on #16403
I plan to start next week since some work left, if you want to ad it quickly just go ahead!

[2021-05-21 05:18] mathetake commented on #16403
OK let me know you start working next week, I just wanted to make sure you didn't forget about this issue.

[2021-05-21 05:26] daixiang0 commented on #16403
Thanks, it is in my heart.

[2021-05-21 07:52] daixiang0 commented on #16580
I would post soon.

[2021-05-21 08:01] #15938 closed

[2021-05-21 08:01] #15940 closed

[2021-05-21 12:36] asraa commented on #16587
Hmmm interesting, thank you so much! Let me try a repro without cache filter in HttpIntegrationTest

[2021-05-21 13:34] rajveermalviya commented on #13078
any updates on this extension?

[2021-05-21 13:40] phlax commented on #13078
yep - altho still some way off.

there was some upstream issues that meant that for envoy's config/schema it wasnt working well - these have now been resolved altho i havent retested since

atm im focused on simplifying the build pipeline and shifting to docs - artefacts from this are needed to create the schema

i have a kinda alpha version working with bootstrap config so far - the very WIP PR i

[2021-05-21 14:26] mpbarnwell commented on #5357
I'm also suffering from a related issue with the Host/Authority header, now that it's no longer allowed to override the Host header (for reference, this is the config I use in 1.17.x):
[code]
Unfortunately our auth server relies on a vhost style routing setup; we're unable to upgrade to 1.18.x as there appears to be no way to use the host from the 'uri' field or any other way to specify it, instea

[2021-05-21 14:52] caborabo opened #16615 "aws-lambda passing wrong content-type when payload_passthrough=false"
*Description*:

*Repro steps*:

*Config*:
[code]

*Logs*:

[2021-05-21 14:57] yanavlasov commented on #16196
We have some hope.
This new bazel option is what you were suggesting Antonio for extensions. https://docs.bazel.build/versions/master/be/c-cpp.html#cc_library.implementation_deps This was not released yet. I will try it with the custom bazel build.

Also it was pointed out that virtual include directories are created when include_prefix or strip_prefix are used. Which we use for every library. Thi

[2021-05-21 15:01] PKizzle commented on #15235
I still receive the same error with `TCMALLOC_SMALL_BUT_SLOW` defined:
[code]

[2021-05-21 15:04] mattbailey commented on #6334
I'm still personally using protoc-gen-swagger, and we've centralized our proto files which seems to have a number of benefits. It still would be extremely handy, of course.

[2021-05-21 15:06] antoniovicente commented on #16196
Deprecation of envoy_include_prefix usage to strip out include/ and source/ seems tractable.  Should we make that change?

https://github.com/envoyproxy/envoy/blob/19c59da575e0fdc0ca02362c9b6f79b6b7fc80d3/bazel/envoy_library.bzl#L279

[2021-05-21 15:11] twghu commented on #4709
Working on [OSS-Fuzz#30119](https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=30119)

[2021-05-21 15:51] rojkov commented on #15235
Hm.. I thought mmap'ing 32M shouldn't be a problem for RPi4 even in case of very fragmented memory. I'll try to reproduce it next week.
Meanwhile could you please post here your setup for hugepages? tcmalloc makes some [assumptions about THP](https://github.com/google/tcmalloc/blob/master/docs/tuning.md#system-level-optimizations).

[2021-05-21 16:01] ggreenway commented on #16595
I agree it's a duplicate. Closing.

[2021-05-21 16:01] #16595 closed

[2021-05-21 16:01] PKizzle commented on #15235
Seems like the kernel for Raspberry Pi OS is not compiled with THP support:

[code]

[2021-05-21 16:04] rgs1 opened #16617 "thrift-proxy: response timing should exclude one way calls"
We missed a spot in #16261 while fixing charging response times. We still need to exclude Oneway calls from the response time histograms. The problem starts here:

https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/network/thrift_proxy/router/router_impl.cc#L208

which then will call `chargeResponseTiming()`, and `chargeResponseTiming()` doesn’t bail on `metadata_->messageType

[2021-05-21 16:05] #15868 closed

[2021-05-21 16:42] ajsalow commented on #16599
@moderation good catch on the misspelling. `clusters:` actually was in my config, it just got lost in the copy & paste somehow. I've updated my config in the original post to match my exact config I am running. I'm still getting the original error of ` error initializing configuration '/etc/postgres-proxy.yaml': Didn't find a registered implementation for name: 'envoy.filters.network.postgres_prox

[2021-05-21 17:26] parkedwards commented on #16219
no worries @yanavlasov , I really appreciate you helping me look into / understand the situation.

I actually performed a packet capture (with `tcpdump` again) between the Envoy container + the upstream ALB.  The bad news is that AWS ALBs require listening on HTTPS to forward to an http2 target, meaning the packet data (outside of TCP syn/acks) are TLS encrypted [1]:

[1]
![image](https://user-ima

[2021-05-21 17:47] cpakulski commented on #16536
I found the root cause and am working on the fix.

[2021-05-21 17:51] lambdai commented on #15372
Thank you! Go for it!

[2021-05-21 18:07] davinci26 commented on #16515
@phlax what is the action item here? When I updated to 1.18.3 the old configs where working and just a warning was emitted

[2021-05-21 18:09] phlax commented on #16515
@davinci26 not sure exactly - does it work the same with current `HEAD` - mostly i opened this ticket because people kept on posting that the container/docs etc that they were following were breaking due to this - ie due to mismatch of envoy version and docs or container

[2021-05-21 18:13] phlax commented on #16515
ie #16511 and #15761 - altho checking again - it might be the reverse problem of trying to use an old container/envoy with newer docs

if we are totally sure that adding `access_log_path` works still in the latest version - and just emits warning i guess we can close this

[2021-05-21 18:44] davinci26 commented on #16515
Yeah it does, just verified with 1.18.3 envoy binary. Also all the code samples in the source tree do not use access logging for the admin interface.

[2021-05-21 18:45] phlax commented on #16515
cool - thanks for checking this out @davinci26

[2021-05-21 18:45] #16515 closed

[2021-05-21 19:16] rdegnan opened #16622 "Extend TLS inspector to capture JA3 client fingerprint"
*Title*: Extend TLS inspector to capture JA3 client fingerprint

*Description*:
JA3 is a much more effective way to detect malicious activity over SSL than IP or domain based IOCs. Since JA3 detects the client application, it doesn’t matter if malware uses DGA (Domain Generation Algorithms), or different IPs for each C2 host, or even if the malware uses Twitter for C2, JA3 can detect the malware i

[2021-05-21 20:10] PranshuSrivastava commented on #11318
Hey, @alyssawilk  I am not able to understand which std:: strings are not required. Could you tell me how do I decide which ones to remove and which ones to keep?

[2021-05-21 20:33] wrowe commented on #16546
This is unnecessarily confusing to the general public - @yanavlasov would you please launch this dialog on the corresponding repo's issue tracker?

[2021-05-21 20:33] #16546 closed

[2021-05-21 20:40] ajsalow commented on #16551
@lambdai Thanks for the response! Can you elaborate more on what you mean by http CONNECT and how I would implement that?

[2021-05-21 21:50] tbarrella commented on #5940
Hi @arun-vasudev, do you still intend to work on this?

[2021-05-21 22:52] moderation commented on #16482
My m1 Mac Mini arrived last night (16GB RAM) and I've got the development environment set up, full xcode installed, the brand new m1 native `bazel 4.1.0` etc. `~/.bazelrc` is:
[code]
I'm getting the following error on the first thing the process tries to compile. The `xcode-locator` tool it uses isn't m1 compatible even though I've installed the Darwin arm64 Bazel package.

[code]
Now wondering if

[2021-05-21 23:17] antoniovicente commented on #16219
"stream closed: 2" is interesting.  The 2 in a RST_STREAM frame refers to an internal error.  Do you happen to know which of the two connections above is the downstream and the downstream connection?  I'm guessing that the upstream connection to ALB is getting back an internal error and that is resulting in the proxy closing the downstream stream.

[2021-05-21 23:28] parkedwards commented on #16219
hey @antoniovicente - the request pattern is:

[code]

so, these logs/metrics were collected from sidecar A, which is the sidecar for the grpc client (i.e. application that MAKES the request).

In that case, my best understanding is:
* upstream = ALB and beyond
* downstream = node grpc client

Finally, the very odd thing is - when we print the exception on the client side, this is the full RST_STR

[2021-05-21 23:54] antoniovicente commented on #16219
Ok, so in the log above it seems that C2762 is the downstream connection and C1113 is the upstream connection.  ALB seems to be sending a RST_STREAM with error code of 2 [(NGHTTP2_INTERNAL_ERROR),](https://nghttp2.org/documentation/enums.html#c.nghttp2_error_code.NGHTTP2_INTERNAL_ERROR) which results in envoy sending a NO_ERROR RST_STREAM to the downstream client.

[2021-05-22 00:02] #15947 closed

[2021-05-22 04:59] 13567436138 commented on #16472
[code]
still not ok

[2021-05-22 05:06] 13567436138 commented on #16472
ok now,thanks

[2021-05-22 05:06] #16472 closed

[2021-05-22 06:23] malza321 commented on #16513
Sorry. I can't catch what you exactly mean.

So you mean It is not possible? Why it needs dns cache? It is not domain name based proxy So I thought It does't need reference at all.

I just wanted to know the way which is like the proxy_pass in nginx.

If target host name is ip:port base, nginx forwards to target directly. But if target host name is domain name base, nginx dose dns query to dns ser

[2021-05-22 06:33] soulxu commented on #14656
@markdroth @htuch I worked out a PR for this issue.

[2021-05-22 17:26] moderation commented on #16482
I now have a working binary on Apple Silicon. My goal was to not have to install Rosetta:

- Darwin arm64 Bazel 4.1.0 didn't work and tries to use non-Apple silicon binaries like `xcode-locator` that won't run
- After some trial and error I ended up building Bazel 4.1.0 from source after installing Apple silicon capable Azul JDK
- Azul JDK 15 worked - https://www.azul.com/downloads/?version=java-1

[2021-05-22 19:10] dschaller commented on #16362
Hi @13567436138 ,

The Envoy CSRF filter does not use a token pattern but instead uses an origin-based one. You can read more on the possible mitigation patterns and why we chose to rely on the origin as well as implementation details in the description of the original PR https://github.com/envoyproxy/envoy/pull/6470 :)

[2021-05-22 19:58] JCzz commented on #16482
That is super cool work!!!

[2021-05-23 00:29] soulxu commented on #16599
The upstream filter should registered as `NamedUpstreamNetworkFilterConfigFactory` https://github.com/envoyproxy/envoy/blob/main/source/common/upstream/upstream_impl.cc#L872

but I didn't find any filter registered as `NamedUpstreamNetworkFilterConfigFactory`, included Postgres filter, https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/network/postgres_proxy/config.cc#L33

[2021-05-23 04:12] #15964 closed

[2021-05-23 11:20] christian-roggia opened #16629 "Transcoder triggers EOF with HTTP/2 when request body is "google.api.HttpBody""
*Title*: [gRPC-JSON transcoder] request field "google.api.HttpBody" triggers EOF if payload is less than 0x4000 bytes

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

I am currently running Istio (v10.0.0) on GKE (v1.19.9-gke.1400) which deploys Envoy (v1.18.3) as sidecar.

My application requires the *gRPC-JSON transcoder* in order to work bu

[2021-05-23 12:52] #16469 closed

[2021-05-23 16:05] #16036 closed

[2021-05-23 18:28] thuongnn commented on #16512
Yes, the new connection still pass to upstream but now client can not send any data ever. I need RBAC filter that will block that client immediately, no connection will be made with upstreams.

[2021-05-23 21:07] wahmedswl opened #16631 "Windows: Configuration, Dynamic from filesystem"
*Title*: *One line description*
Configuration: Dynamic from filesystem, Windows

*Description*:

*Repro steps*:

*Config*:

[envoy.zip](https://github.com/envoyproxy/envoy/files/6528918/envoy.zip)

Thanks

[2021-05-23 21:36] wahmedswl commented on #16631
Hi, tried in WSL2 its not working there as well. No linux environment so cannot check either its just WSL2 or dynamic file configuration is not working at all.

Thanks

[2021-05-23 21:37] wahmedswl commented on #16631
There might be config issue as well, so any help would be appreciated.

Thanks

[2021-05-24 05:14] vitruvvius opened #16633 "Mac OSX DNS Lookup in Docker & Host"
*Title*: Mac OSX DNS Lookup Fails to Resolve Service

*Description*:
envoy fails to discover and proxy requests to my gRPC services (tonic/c++ grpc/java grpc) using port [::1]:50051

I have to add in
[code]

in order for envoy to be able to resolve my grpc service. When envoy is running on bare metal macosx, localhost as the endpoints' address in fact causes a crash unless the config above is adde

[2021-05-24 06:56] Jawadh-Salih commented on #14561
I am getting a path matcher error for path variable in a HTTP URL. Can anyone help me?
[code]

gives me following error

`transcoding_filter: Cannot register 'pb.Service.ListValues' to path matcher`

[2021-05-24 10:29] panscake commented on #16393
Any suggestions? @msukalski @HenryYYang @mattklein123

[2021-05-24 13:05] phlax commented on #16633
@vitruvvius can you enclose the code in ` ``` ` - it will make it much easier to read

[2021-05-24 13:11] phlax commented on #16633
cc @junr03

[2021-05-24 13:11] #16335 closed

[2021-05-24 13:11] phlax commented on #16631
cc @wrowe

[2021-05-24 13:15] phlax commented on #16629
cc @lizan

[2021-05-24 14:22] rgs1 commented on #16615
cc: @marcomagdy @jstewmon

[2021-05-24 14:28] rgs1 commented on #16610
Somewhat related to the topic of limits – but not to the apparent bug you are describing – is the local rate limiter which is now about to gain support for per connection limits (which, works nicely across all flavors of HTTP): #15843.

[2021-05-24 14:29] hinawatts opened #16639 "Understand active connections with upstream"
*Title*: *How many connections can be opened from envoy to upstream per worker for http1.1 requests*

*Description*:  We have deployed envoy proxy in pod that is forwarding requests to upstream cluster which has 60 hosts. Below are the configurations at our end -

1.  Number of pods of envoy -  25
2.  Number of hosts in upstream -60
3. Envoy concurrency -  30
4. Circuit breaker.max_connections - 2

[2021-05-24 14:47] alyssawilk commented on #11318
grep -r std::string\( source/* gets you potential call sites, but you'd have to figure out which results are unnecessary

[2021-05-24 15:00] mattklein123 commented on #16393
This seems like a reasonable feature to me. PRs appreciated!

[2021-05-24 16:29] alyssawilk opened #16642 "remove gQUIC support from Envoy"
or at least make it clear it's going away fairly soon, and is not sticking around for the standard 1 year data plane SLO

[2021-05-24 16:40] alyssawilk commented on #16642
We should also make sure h3-29 EoL is made clear, given it isn't expected to last a year.

[2021-05-24 16:46] jstewmon commented on #16615
I think the call to `headers.setReferenceContentType` in `dejsonizeResponse` just need to be moved above the iteration of the json response headers, so that the default content type is `application/json` unless the json response headers field has a `content-type` key:

https://github.com/envoyproxy/envoy/blob/8db01a4a7ab41268d28c323a0f3f80efae8af977/source/extensions/filters/http/aws_lambda/aws_la

[2021-05-24 17:01] marcomagdy commented on #16615
If `passthrough` is set to `false`, then the request and the response are assumed to be JSON. For any other `content-type` set `passthrough` to `true`.

[2021-05-24 17:22] stevehillsTB commented on #3125
I also saw the unicorn today with a PR containing 411 files changed.

[2021-05-24 17:31] jstewmon commented on #16615
@marcomagdy is there some reason the filter should not use the `content-type` header from the response? From the filter docs:

I haven't used this filter myself, but just reviewing the docs and the implementation, it looks like a bug that the content-type of the response is always set to `application/json` even when the JSON response from the lambda specifies a different `content-type`.

[2021-05-24 18:23] alyssawilk commented on #16571
cc @mattklein123 @rgs1 @junr03

[2021-05-24 18:30] alyssawilk commented on #16573
cc @esmet @gsagula @dio

[2021-05-24 18:36] wrowe commented on #15819
I think https://github.com/envoyproxy/envoy/pull/16643 will cover your use case?

[2021-05-24 18:41] rgs1 commented on #16571
One quick question is, any chance a local rate limiter would be enough:

https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/local_rate_limit_filter

Given you are open to caching, which means it won't be a truly global & centralized rate limiter, I wonder if the local one might suffice for your use-case. You'd save yourself from a lot of the extra complexity...

[2021-05-24 18:58] alyssawilk commented on #16639
Envoy doesn't default to 1 connection per host unless you've capped the connections artificially low somehow (e..g https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/circuit_breaker.proto)

[2021-05-24 19:15] wrowe commented on #16631
Ping also @davinci26

[2021-05-24 19:18] wrowe commented on #16631
I wouldn't pay much attention to wsl2. I've done various experiments of tail -f across the environments, and the filesystem seems too removed to neatly follow win32 changes from wsl2 or vis a versa. We have put in zero effort to the wsl2 environment, my last tests a year ago indicated a number of inconsistencies. We are entirely focused on the win32 implementation and are happy to examine the trou

[2021-05-24 19:22] davinci26 commented on #16631
Have you seen the demo at https://github.com/sunjayBhatia/envoycon-2020-demo? This demo is utilizing this feature and I have recently made it work for my own work on a new setup with Envoy 1.18.3

This was used in https://youtu.be/f3DezuydHr4

[2021-05-24 20:13] marcomagdy commented on #16615
Yes, I think you're right.
It's been a long time, so the details elude me sometimes.

[2021-05-24 21:21] hinawatts commented on #16639
So, one worker can create multiple connections with the same host in upstream cluster based on the load, right?

[2021-05-24 22:08] minbaev commented on #16571
@rgs1 Thanks for your reply. We are using local rate limit as well.
with the global rate limit we want some more advanced header parsing based on which we will limit rate.

With caching-global we want to cache locally then update the global rate limit through synchronization, it won't be truly global/accurate but we can compromise on 100% ratelimit accuracy to avoid all requests going to the GRL
H

[2021-05-25 00:47] #15637 closed

[2021-05-25 01:37] panscake commented on #16393
Fine! I'll try to submit a PR.

[2021-05-25 03:00] SpecialYang opened #16648 "How to support the host rewrite with regex style?"
Supposed that we make a request whose host is `*.test.app.com` to envoy，we want to rewrite `*.test.app.com` to `*.dev.app.com`.
For example, the original host `a.test.app.com` be rewritten to `a.dev.app.com`, which keep the first part of host unchanged. How can I use regex way similar with path to achieve my idea?

[2021-05-25 05:07] lambdai commented on #6767
Currently, Envoy has two arguable behaviors
1. HCM doesn't verify requested server name(SNI) with :authority. Theoretically, the first http stream in within the connection can raise the issue.

Should we provide an option in HCM to return 421 on the above conflict?

2. As a follow up, since the per http request :authority and request server name may be more concrete. e.g. requested "*.foo.com", :a

[2021-05-25 05:32] lambdai commented on #3732
My two cents: theorically DOWNSTREAM_LOCAL_PORT is a L4 attribute and it's not expected to be updated during the life of downstream connection. X-forwarded-Port is per http stream attributes. These two ports should be independent.

[2021-05-25 10:36] Xunzhuo opened #16651 "Support Wasm Specific Route"
**Title**:  **Support Wasm filter Specific Route**

**Description**:

As lua filter does, filter can be used in specific route/Path by per route, but Wasm filter doesn`t make it,
Is there any plan of Wasm filter to support per route? Or is there any other plans to make wasm support specfic route?

[2021-05-25 10:38] phlax commented on #16651
cc @PiotrSikora

[2021-05-25 11:56] PAFomin-at-avito commented on #16523
@antoniovicente: Graphite has its own tagging format but not a complete stats protocol, so what I'm talking about is Statsd protocol extended with Graphite tagging.

Making this an option on the statsd sink is a good idea, but for now I'm leaning towards a separate extension for two reasons:
* Prior precedent: Envoy already has a statsd sink with tagging ([//source/extensions/stat_sinks/dog_statsd

[2021-05-25 11:59] vaccarium commented on #16523
@antoniovicente: Graphite has its own tagging format but not a complete stats protocol, so what I'm talking about is Statsd protocol extended with Graphite tagging.

Making this an option on the statsd sink is a good idea, but for now I'm leaning towards a separate extension for two reasons:

    Prior precedent: Envoy already has a statsd sink with tagging (//source/extensions/stat_sinks/dog_stat

[2021-05-25 12:20] sanya2022 commented on #12073
Hello. We have a problem with non-urlencoded args too. Did anyone try to resolve this issue?

[2021-05-25 12:43] alyssawilk commented on #3732
@lambdai when you say they should be independent what do you mean?  AFIK they refer to the same numeric port so I think the proposed solution would work.

[2021-05-25 12:45] alyssawilk opened #16652 "Audit stats (.: feature) parity for HTTP/2 vs HTTP/3"

[2021-05-25 12:53] rojkov commented on #15235
Right. Finally I've got a RPi4 running an Aarch64 distro and it lacks THP. No wonder Envoy can't start there.

I'll do some experiments and update the docs.

[2021-05-25 12:55] PKizzle commented on #15235
Would it be possible to upload envoy images that do not require THP support (still use gperftools' allocator)?
It is quite a big task to recompile the kernel...

[2021-05-25 13:02] WeavingGao opened #16654 "Logging protobuf message with `ShortDebugString()`"
There are many log prints in Envoy like `ENVOY_LOG(info, "message: {}", some_proto.DebugString())`, which makes the certain log outputs in multiple lines. For humans, multi-line logs are more readable, but they are not friendly to some log collection and storage systems. Usually these systems collects and stores logs line by line. For example, I want to store Envoy logs in elastic search for quick

[2021-05-25 15:40] PiotrSikora commented on #16651
There are a few issues already open about this to be added as a generic Envoy feature (i.e. not Wasm specific):
- https://github.com/envoyproxy/envoy/issues/6824
- https://github.com/envoyproxy/envoy/issues/11690
- https://github.com/envoyproxy/envoy/issues/12968

[2021-05-25 16:08] #14748 closed

[2021-05-25 16:21] mattklein123 commented on #16523
I think it's fine to support this, but can it be done in a similar way to DogStatsd where we use the common statsd code? PRs appreciated.

[2021-05-25 16:22] vaccarium commented on #16523
Yes, this can be done by extending the common code. I'll be glad to send a PR later tonight.

[2021-05-25 18:57] moadi commented on #2877
@htuch does this only apply to `START_TIME`, or can I use this mechanism to format other duration entries too? looking at the docs it only seems to specify that we can format `START_TIME`

[2021-05-25 19:25] Xunzhuo commented on #16651
@PiotrSikora Is this feature under developing? I can see these issues open by a year ago, when can envoy make this work? 🤭

[2021-05-25 21:16] mk46 commented on #16397
I think we need to close this now since #16398 merged.

[2021-05-25 21:30] #16397 closed

[2021-05-25 22:02] antoniovicente commented on #16587
@ekiziv @yanavlasov @jmarantz @htuch How can we make progress in tracking down this test failure?

[2021-05-25 23:02] #16615 closed

[2021-05-25 23:15] PiotrSikora commented on #16651
Actually, it looks that @snowp added it a few weeks ago (#15198), but it's still an experimental feature behind a runtime flag.

[2021-05-25 23:32] davinci26 commented on #16214
I have verified it that by making the flow control limits higher, the issue goes away.

I think I will push a pr to reduce the size of the headers in the tests with a comment because it flakes quite a bit on Windows.

[2021-05-25 23:55] samrabelachew opened #16667 "some failed gRPC requests get a 5xx stat but are logged with a 200 HTTP status code"
*Title*: some failed gRPC requests get a 5xx stat but are logged with a 200 HTTP status code

*Description*:
Hello, I'm unsure if this is a bug or intended design. We've noticed that some types of failed grpc requests can get a 5xx stat but also be logged with a 200 HTTP status code.

For example, when a response timeout [occurs](https://sourcegraph.com/github.com/envoyproxy/envoy@a467b0ef41864459

[2021-05-26 00:00] samrabelachew commented on #16667
cc @lizan (gRPC senior maintainer)

[2021-05-26 00:34] antoniovicente commented on #16214
What do you mean by flow control?  Are you referring to per_connection_buffer_limit_bytes?

[2021-05-26 00:37] davinci26 commented on #16214
Yes exactly.

[2021-05-26 00:56] yanavlasov commented on #16219
Yes, encrypted TCP dump is not very helpful, I was looking for decrypted one, so we can see HTTP protocol, between Envoy and ALB.
One other possibility is to collect logs at the trace level, which may be impractical if the issue is hard to reproduce. This might give us a better idea what is going between ALB and Envoy.

[2021-05-26 01:18] yanavlasov commented on #16196
Here is I think the way forward with this issue. The https://docs.bazel.build/versions/master/be/c-cpp.html#cc_library.implementation_deps solves the issue on gcc but we need to wait a few weeks for this to be released. Bazel then will need to be updated in our build config and toolchans. I do not think this should be a problem.

I think this should kick the can way down the road (quite possibly f

[2021-05-26 01:38] cocotyty opened #16668 "Support XDS in Rate Limit Service to avoid request all traffic to RateLimit server"
*Title*: *One line description*

Support XDS in Rate Limit Service to avoid request all traffic to RateLimit server.

*Description*:

Envoy can do a pre check before send a RateLimitRequest to server.
For example, here is a [RateLimit](https://github.com/envoyproxy/ratelimit) configuration:

[code]
Envoy subscribes the configuration by domain , and RateLimit server can push configuration changed e

[2021-05-26 01:44] cocotyty commented on #16668
cc @mattklein123 @rgs1 @junr03

[2021-05-26 01:58] cocotyty commented on #16668
This can significantly reduce the pressure on current RateLimit servers.

For example ,  here are two services A and B.

![eg](https://user-images.githubusercontent.com/2241753/119590920-431e3100-be08-11eb-893c-34083ef76ad2.png)

Maybe we just wanna limit the rate of `GetUserToken`.

But now , Envoy always sends RateLimitRequest to rate limit server even it's not `GetUserToken`.

[2021-05-26 02:01] cocotyty commented on #16571
@minbaev https://github.com/envoyproxy/envoy/issues/16668
I think we have the same problem.

[2021-05-26 02:02] hamdiallam commented on #16308
Can you elaborate on this a little more? I'm looking to implement support

[2021-05-26 02:19] Xunzhuo commented on #16651
@PiotrSikora Thanks a lot~

[2021-05-26 03:25] antoniovicente commented on #16196
A refactor to add include and source to #include paths would be very mechanical to implement.  It is only my opinion, but knowing from the path that `common/callback.h` is in include instead of source is mildly useful.  Granted, it may require some adjustments to #include paths projects that depend on Envoy like nighthawk so the effort may not be limited only to the envoy core repo.

I do think th

[2021-05-26 03:28] htuch commented on #2877
@moadi I think you are right; PRs welcome.

[2021-05-26 03:31] mattklein123 commented on #16196
If the include path trimming is causing issues I would just remove it, though I agree with @antoniovicente that there may be an annoying knock on effect for consumers.

[2021-05-26 04:22] #15488 closed

[2021-05-26 06:07] hamdiallam commented on #16308
Apologies for accidentally closing & re-opening

[2021-05-26 07:21] Xunzhuo commented on #16651
Two question about this filter:Can I use ECDS to dynamically send compose-filter`s config to Envoy, because I don`t want to use LDS~

[2021-05-26 07:27] Xunzhuo commented on #16651
Hi @snowp @PiotrSikora ,I have two more questions about this filter, looking forward to your reply:
1. Can I use ECDS to dynamically send compose-filter`s config to Envoy, because I don`t want to use LDS
2. Can I use compose-filter to bind specific route path to wasm filter? I see demo config`s matcher type is based on Headers, Can I change it to Path type?
Thanks a lot 😀😀~

[2021-05-26 07:54] Fadelis opened #16672 "Feature disparity between gRPC bridge and gRPC reverse bridge"
*Title*: *Feature disparity between gRPC bridge and  gRPC reverse bridge*

*Description*:

Currently there's a bit of config/feature disparity between these 2 filters, where the reverse bridge offers more functionality. It would be great to support the same config options in the gRPC bridge as well. For example bridging a `application/x-protobuf` HTTP 1.1 request without the gRPC header frame and

[2021-05-26 08:17] SpecialYang commented on #16648
cc @alyssawilk @mattklein123 @snowp

[2021-05-26 08:34] sumitaneja opened #16674 "LUA filter httpCall() buffers original request body,"
In lua filter we are making a httpCall to another service.  This is simple post call with no response body
But get 413 too large error if original request size is > 1MB

Seems before making http call, it streams and buffers original request body.

[2021-05-26 09:30] sumitaneja commented on #16674
not clear why original request body is buffered

[2021-05-26 10:33] phlax commented on #16674
cc @snowp

[2021-05-26 10:36] phlax commented on #16672
cc @antoniovicente

[2021-05-26 11:31] snowp commented on #16674
@sumitaneja Can you share the entire Lua script you're using? Feel free to edit it if it contains information you don't want to share, just looking for the general shape of it

[2021-05-26 11:32] snowp commented on #16672
Seems reasonable, just need someone with the bandwidth to take this on

[2021-05-26 13:03] twghu commented on #4709
Reviewing [Fuzz Test 25777|https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=25777&q=label%3AReproducible%20envoy&can=2]

[2021-05-26 13:15] phlax commented on #16654
cc @yanavlasov

[2021-05-26 13:39] sumitaneja commented on #16674
@snowp Simplified view of lua script part of envoy Lua filter.

   - applyTo: HTTP_FILTER
      match:
        context: SIDECAR_OUTBOUND
      patch:
        operation: INSERT_BEFORE
        value:
          name: envoy.lua
          typed_config:
            '@type': type.googleapis.com/envoy.config.filter.http.lua.v2.Lua
            inlineCode: |
              function envoy_on_request(request_h

[2021-05-26 13:51] mattklein123 commented on #16571
See https://github.com/envoyproxy/envoy/pull/15483. This is a dup of https://github.com/envoyproxy/envoy/issues/14299. cc @htuch

[2021-05-26 13:51] #16571 closed

[2021-05-26 13:51] yanavlasov commented on #16196
Yes, I agree 30% is not quite "way down the road" as I thought. I'll start on fixing the include paths.

[2021-05-26 13:52] mattklein123 commented on #16668
Sorry I don't follow what you are proposing. Can you clarify? How exactly is Envoy going to avoid sending a RL request?

[2021-05-26 14:04] mattklein123 commented on #16667
My 2c is that changing this behavior would be too disruptive so I don't recommend it. From a logging perspective, do we support logging the gRPC status code in addition to the HTTP status code? That seems like potentially a better solution? It is accurate pedantically that the HTTP status code is 200 at the point of logging.

[2021-05-26 15:34] samrabelachew commented on #16667
@mattklein123, we do, it just caused some confusion for a user when they realized they could see 5xx without seeing the corresponding logs to understand why. For the timeout scenario, the error translated to a `HTTP 200 gRPC 14 failure-reason UT` log. Focused on the status codes, not seeing the failure reason hid the real reason for the issue.

I'm okay with not changing it if it's too disruptive,

[2021-05-26 16:51] sumitaneja commented on #16674
Envoy version
12cfbda324320f99e0e39d7c393109fcd824591f/1.14.1/Clean/RELEASE/BoringSSL

[2021-05-26 16:57] jmarantz commented on #15541
https://github.com/envoyproxy/envoy/blob/491b116c919bdeb704b536b006fe04c84fe74704/source/common/http/codes.cc#L107 makes me wonder how this bug can happen. Maybe more detail would be good.

[2021-05-26 17:45] lizan commented on #16667
Re: why the HTTP status is set to 200. The behavior comes from [gRPC over HTTP2 spec](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md), in all gRPC response, the status code should be 200 as long as content-type is `application/grpc`. In any case when content-type is `application/grpc` the HTTP status doesn't have useful means, so you should use `grpc-status` and `grpc-message` for

[2021-05-26 18:06] Fchateauvert opened #16678 "Supporting FIPS build on CentOS 7"
*Title*: Support building Envoy with the FIPS compliant borringssl library on CentOS 7

*Description*:
Hi gang,

I'm working on getting a FIPS compliant build of Envoy to work on CentOS 7 through the Tetrate getEnvoy pipeline.  I hit a roadblock however when the build tried to run a script defined in [boringssl_fips.genrule_cmd](https://github.com/envoyproxy/envoy/blob/main/bazel/external/boringss

[2021-05-26 18:10] v1b1 commented on #15991
@mattklein123 @dio what is the expected behaviour? Are all of the Lua scripts under `source_codes` supposed to be saved to a temporary directory?

[2021-05-26 18:20] gokulnair commented on #16088
Yes, I think this is a duplicate of #16065. Closing.

[2021-05-26 18:20] #16088 closed

[2021-05-26 18:46] paul-r-gall opened #16680 "Add ability to filter ConfigDump by arbitrary predicates"
*Title*: Add ability to filter ConfigDump by arbitrary predicates

*Description*:
ConfigDump has the potential to be extremely large in production, even after filtering by resource. I'd propose adding the ability for integrations to register per-resource matchers, and then add a general `match_*` query parameter family allowing users to specify additional matching parameters.

For example, `/confi

[2021-05-26 19:41] samrabelachew commented on #16667
@lizan, the cases I see are those in the [router.cc file](https://github.com/envoyproxy/envoy/blob/main/source/common/router/router.cc) that use the `chargeUpstreamCode()` fxn, passing in a fixed status code. The function will increment the corresponding upstream_rq_xxx stat based on that parameter. I believe the cases are: timeouts, no healthy upstream, maintenance mode, and 100.

[2021-05-26 20:05] ggreenway opened #16682 "Upstream PROXY protocol results in unbound number of connection pools"
When using upstream PROXY protocol with tcp_proxy, a new connection pool is created in the cluster for each unique combination of downstream IP:port and upstream host.

For many typical use cases, where the downstream clients are not from a tightly constrained set of IP addresses, this results in a nearly-infinite number of connection pools, which wastes memory. Even if the clients are from a very

[2021-05-26 21:26] mattklein123 commented on #16667
I'm on the fence on this one. One one hand, I agree that in a perfect world we would not emit those stats for gRPC responses and then rely on the stats filter to get insight. On the other hand, I think it's very likely we are going to break the monitoring of someone's deployment in subtle ways that may go unnoticed for some time.

Thus, I would be weary of changing this behavior even under runtime

[2021-05-26 22:19] nareddyt opened #16684 "StreamInfo upstreaming timing values not set when backend retry occurs"
*Description*:
We depend on StreamInfo to calculate how long each request spends in the proxy vs backend. To do this calculation, we rely on [StreamInfo::firstUpstreamTxByteSent()](https://github.com/envoyproxy/envoy/blob/4832e5c5049afec8c93e4e9fa504be24399cf6c4/include/envoy/stream_info/stream_info.h#L352).

However, when a backend timeout occurs, both `firstUpstreamTxByteSent()` and `lastUpstrea

[2021-05-26 22:56] arun-vasudev commented on #5940
Hi @tbarrella, I will send out the new patch in a day or so. Was busy at work.

[2021-05-26 22:56] jpeach opened #16686 "bazel cquery fails with missing BUILD file errors"
*Title*:

bazel cquery fails with missing BUILD file errors

*Description*:

Any invocation of `bazel cquery` fails because bazel believes there are missing BUILD files.

*Repro steps*:

[code]

*Config*:
[code]

[2021-05-27 00:07] #16053 closed

[2021-05-27 00:48] lizan commented on #16536
I think we need to set `ignore_health_on_host_removal` in the cluster to do the active endpoint removal. Cluster endpoints are not removed from an EDS cluster while the endpoint is still healthy, that means there will be two endpoint when the switch happens until the other endpoint become unhealthy. In this case because the other endpoint doesn't become unhealthy it will remains there unless `igno

[2021-05-27 00:51] yanavlasov commented on #16686
It does not look like BUILD files are missing. It looks like new bazel thinks our toolchain configuration is deprecated. Which it is. New toolchain config was reverted during 1.19 release and I still need to put it back. It may resolve this issue.
Do you know if the query works with 3.7.2?

[2021-05-27 00:55] yanavlasov commented on #16668
Is the goal to avoid sending RL check for every request? There is ongoing work to add support for returning quota from RL server in PR #15483 Would this approach work for you?

[2021-05-27 01:30] hobbytp commented on #16639
yes, one worker can create multiple connections with the same upstream host.

[2021-05-27 02:40] Xunzhuo commented on #16651
[code]

I try to do this config, it seems not right  @snowp

Protobuf message (type envoy.config.bootstrap.v3.Bootstrap reason INVALID_ARGUMENT:(static_resources.listeners[0].filter_chains[0]) http_filters: Cannot find field.) has unknown fields

[2021-05-27 02:57] jpeach commented on #16686
It seems to be the same behavior with bazel 3.7.2:

[code]
[code]

[2021-05-27 04:48] lambdai commented on #3732
Oh, this issue is about how Envoy can produce(or push) new X-forwared-Port value.
I was thinking about consuming(pop from) X-forwarded-Port.
Yeah, adding new headers should work.

[2021-05-27 05:03] lambdai commented on #16308
@hamdiallam From high level, you can create a SOCKS protocol network filter and insert it before TcpProxy network filter.

That SOCKS network filter consumes the SOCKS bytes and set the upstream endpoint address.

Meanwhile, if you chain the tcp proxy with original_dst cluster, the SOCKS network can set the upstream endpoint transparently to tcp proxy.

The only issue is that TcpProxy currently cr

[2021-05-27 06:18] daixiang0 commented on #7238
/assige

[2021-05-27 06:23] daixiang0 commented on #7238
/assign @daixiang0

[2021-05-27 06:26] lizan commented on #16678
There's a couple reason that BoringSSL FIPS doesn't work CentOS 7.

The policy docs: https://github.com/envoyproxy/envoy/issues/16678
States that:

operational testing and algorithm testing was not performed:
• Linux 4.X executing on x86_64 architecture;
• Linux 4.X executing on POWER9 architecture;
• Linux 5.X executing on x86_64 architecture; and
• Linux 5.X executing on POWER9 architecture.

Ce

[2021-05-27 06:36] nickolaev commented on #16678
@Fchateauvert I was working on a similar task and I ended up with the same approach, although I was completely patching the whole script for the purposes of the build. Your solution looks great. Please follow up with a PR for this to become upstream.

However, we should still note that what we end up is not a FIPS verified library according to the PDF pointed out at the beginning of the script:
ht

[2021-05-27 08:08] eoregua opened #16697 "Dynamic configuration from FileSystem: envoy keeps only the last configuration item (listener in lds.yaml and cluster in cds.yaml)"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

Title: Dynamic configuration from FileSystem: envoy keeps only the last configuration item (listener in lds.yaml and cluster in cds.yaml)

Description:

Reading the dynamic c

[2021-05-27 08:30] phlax commented on #16697
@eoregua can you surround code with ` ``` `

i have updated the comment above - but im not sure if i have placed them in the correct places

[2021-05-27 08:35] sumitaneja commented on #16674
Reproduced with sandbox lua filter. https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/lua

**cat envoy.yaml**
static_resources:
  listeners:
  \- name: main
     address:
      socket_address:
        address: 0.0.0.0
        port_value: 8000
    filter_chains:
    - filters:
      - name: envoy.filters.network.http_connection_manager
        typed_config:
          "@type": type.googlea

[2021-05-27 08:42] eoregua commented on #16697
ok, done! Thanks.

[2021-05-27 11:00] phlax commented on #16674
@sumitaneja can you surround all of your quoted code and log traces with ` ``` ` - it will make it a lot easier to read

[2021-05-27 11:03] sumitaneja commented on #16674
@phlax Thanks.updated comments.

[2021-05-27 11:03] sumitaneja commented on #16674
@phlax Thanks.updated previous comments.

[2021-05-27 11:17] phlax commented on #16684
cc @alyssawilk

[2021-05-27 11:53] snowp commented on #16674
When issuing a synchronous httpCall the filter will pause the stream until we get the response (since we handle the response inline in the Lua), which then ends up having to buffer the request when making a fall during on_request.

The API lets you fire and forget the request (by setting the `async` param), but I don't think there is a way to asynchronously handle the response of the http call. If

[2021-05-27 11:55] phlax commented on #16680
cc @mattklein123

[2021-05-27 12:29] wbpcode opened #16698 "stateful session persistence"
Http session persistence is achieved through hash-based (consistent hash algorithm) load balancing. When the state of the backend servers change (new server is added, existing server is deleted, server state is updated, etc.) it breaks the session persistence result.

Is it possible to consider adding a cookie-based stateful session persistence? When this feature is turned on, the host id or somet

[2021-05-27 12:38] phlax commented on #16697
@eoregua - i think it is because you need to specify the second listener as a separate resource

i loaded a simplified version of your config via `lds.yaml` - specifying each listener as a separate resource:

[code]

and then used config_dump to find out what listeners were registered:

[code]

[code]

and it works correctly

[2021-05-27 12:47] phlax commented on #16698
cc @alyssawilk

[2021-05-27 12:50] wbpcode commented on #16698
The Upstream::LoadBalancerContext may needs to extend an interface similar to the one shown below:
[code]
The Http Router need add some new API to enable or disable this function and some code to handle cookie.

The LoadBlancer can optionally select the host based on the above interface. Of course, when this feature is enabled, we need an additional hash table, which will bring some additional mem

[2021-05-27 13:32] eoregua commented on #16697
Thanks a lot! Yes, it's working. I don't know if it's my fault and I miss
to check somewhere, but I don't remember that I found in the documentation
a clear example on how to handle such scenario.

Maybe the documentation could be improved. Anyhow thanks again for the
support!

Il giorno gio 27 mag 2021 alle ore 14:39 phlax ***@***.***>
ha scritto:

[2021-05-27 13:37] #16697 closed

[2021-05-27 13:56] ekiziv commented on #16587
I have chatted with asraa off line a couple of days ago after I spent some time looking without considerable success. @asraa, have you managed to reproduce the issue without cache filter? I am happy to keep digging, especially if you have an idea of where I should focus my attention!

[2021-05-27 14:26] vdvarlamov opened #16699 "Route error"
I have envoy(v1.18.2) config on Windows:
[code]
If I make a request _http://localhost:9102/metrics_, I get a response: _upstream connect error or disconnect/reset before headers. reset reason: connection failure_.
Endpoint _http://localhost:18000/stats/prometheus_ - available.
Tell me what could be the problem? @davinci26

[2021-05-27 14:31] eoregua opened #16700 "Filesystem config update rejected: Failed to load incomplete certificate"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

Title: Filesystem config update rejected: Failed to load incomplete certificate

Description:

Helm Chart installing envoy with dynamic configuration from Filesystem->problem

[2021-05-27 14:38] wrowe opened #16701 "Evaluate a bazel build patch in CI"
*Title*: Evaluate a bazel build patch in CI

*Description*:
Need a mechanism to test a new bazel feature in the GCP RBE CI pipeline without resorting to rebuilding the envoy-toolchain for the unreleased commit to bazel/master.

In evaluating the proposed patch committed to /bazelbuild/bazel https://github.com/bazelbuild/rules_cc/issues/94 we find ourselves unable to use the commit id for bazelisk

[2021-05-27 15:06] asraa commented on #16587
Yeah! It seems to reproduce without adding the filter in the chain, so I'll close this as is for now.

Thank you so much @ekiziv!

[2021-05-27 15:06] #16587 closed

[2021-05-27 15:13] mattklein123 commented on #16680
Sounds great!

[2021-05-27 16:13] #16062 closed

[2021-05-27 17:10] ntgsx92 commented on #15657
pull request has merged. Resolving

[2021-05-27 17:10] #15657 closed

[2021-05-27 19:10] davinci26 commented on #16699
@vdvarlamov the issue that you are encountering is due to a windows limitation where you are not allowed to connect to address `0.0.0.0`

From [connect function (winsock2.h)](https://docs.microsoft.com/en-us/windows/win32/api/winsock2/nf-winsock2-connect?redirectedfrom=MSDN)

In your particular config I was able to fix this by doing the following change:

[code]
Note the value of the **address** p

[2021-05-27 19:12] davinci26 commented on #16699
I will close the issue but I will still monitor the thread if you have any follow up questions and I will re-open again if needed

[2021-05-27 19:12] #16699 closed

[2021-05-27 19:19] asraa opened #16705 "[deps] Create github action to file github issues for stale deps"
Mentioned in https://github.com/envoyproxy/envoy/pull/16687

It should be possible to run a github actions workflow scheduled once per day to check if newer releases have happened for our deps.

We already have [code](https://github.com/envoyproxy/envoy/blob/a12869fa9e9add4301a700978d5489e6a0cc0526/tools/dependency/release_dates.py#L43) to check if there was a newer release date for the dependenci

[2021-05-27 19:40] lambdai commented on #16551
https://datatracker.ietf.org/doc/html/rfc7540#section-8.3

You client can encode the postgres traffic in a http/2 connect stream within the http2 connection to proxy-dl-api-gateway.cdl-proxy:80 and set the :authority as whatever you want.
See my example here: https://github.com/lambdai/bts/blob/master/tcp2hbone.yaml

Your Envoy at proxy-dl-api-gateway.cdl-proxy:80 listen on port 80 and reroute the

[2021-05-27 20:13] BatanGaming commented on #16064
So, I still didn't find out the solution

[2021-05-27 20:52] xjtian opened #16707 "Envoy closes downstream connection if upstream hangs up before response"
*Title*: *Envoy closes downstream connection if upstream hangs up before response*

*Description*:

If an upstream hangs up (e.g. due to workload termination) after a request is forwarded but before it has sent any part of the response back, Envoy will close the downstream client's TCP connection. I was expecting this to return a 503 and respect retry configuration, but Envoy kills the downstream

[2021-05-27 21:49] mattklein123 commented on #16707
In general, this is not true. Envoy will keep the connection open if it can. Please provide more detailed logs (on debug/trace level) if you are able to repro your case.

[2021-05-27 22:38] netpoetica opened #16710 "Docker for Windows with Windows Containers, envoyproxy/envoy-windows host.docker.internal DNS does not resolve"
*Description*:

I am running envoyproxy/envoy-windows, and then I am running my C++ gRPC server on my localhost (host) system on port 50051. If I run Linux container envoyproxy/envoy, everything works without issue, but when I change to Windows containers and use windows image, envoy cannot resolve host.docker.internal
[code]
My gRPC-web requests fail because the upstream cannot be resolved.

The

[2021-05-27 22:44] #14656 closed

[2021-05-27 23:35] tomastigera commented on #16130
@lambdai any progress in this issue? I saw the PR but it does not seem it merged

[2021-05-27 23:38] davinci26 commented on #16710
Can the python http server resolve `host.dcoker.internal`?

I see that there is a fair amount of confusion regarding this address in https://github.com/docker/for-win/issues/10619 does your desktop version have this address or do you need to use `docker.for.win.localhost`?

[2021-05-27 23:54] lizan commented on #16701
You can generate the build-tools and push to a fork, then point Envoy to use them?

[2021-05-27 23:54] lizan commented on #16701
Or, since you're maintainer you can have RBE access locally, ping me on Slack.

[2021-05-28 00:08] #15904 closed

[2021-05-28 00:08] #15971 closed

[2021-05-28 00:25] lizan commented on #16629
Hmm, seems like Envoy fails to translate the request containing HttpBody, do you have a minimal reproducer (e.g. in docker-compose), or can you send me the complete wireshark data? If it is sensitive ping me on Slack/email.

cc @euroelessar who implemented this.

[2021-05-28 00:33] #14556 closed

[2021-05-28 00:55] netpoetica commented on #16710
I can confirm that the version of Docker Engine I have is quite new, and as such it supports host.docker.internal rather than docker.for.win.localhost - if I change my envoy config to use `docker.for.win.localhost`, I get the same error as before:
[code]
So it makes me think that the Windows image for envoyproxy actually just doesn't have the ability to resolve that DNS. Under normal circumstances

[2021-05-28 00:59] netpoetica commented on #16710
Not sure if this is any help, but this is the debug logs:
[code]
and these are the logs that come up when I try to make a request:

[code]

[2021-05-28 01:26] davinci26 commented on #16710
I will try to repro the issue myself on my devbox and hopefully we will get at the bottom of this.

Regardless of the investigation here, iiuc you are utilising a feature that is specific to docker for desktop and docker NAT networking. you might want to validate what you are doing also on a Windows server assuming this is going to be your production environment.

[2021-05-28 01:36] netpoetica commented on #16710
I do agree with you that this isn't exactly an Envoy proxy problem, but possibly moreso an envoyproxy/envoy-windows problem - I am wondering if different Windows docker base images might have some flaw that prevents host.docker.internal DNSes from being resolved - like maybe some Windows images work OK and others do not, or that there is some powershell nonsense one might be able to do to setup ho

[2021-05-28 01:39] netpoetica commented on #16710
FWIW if I run
[code]
I get
[code]
so this is, most likely, some kind of Docker image issue where that DNS simply is non existent

[2021-05-28 01:50] netpoetica commented on #16710
This is an example of the kind of thing I am thinking about, but I have tried this and it has not been successful: https://github.com/docker/for-win/issues/1976#issuecomment-585423014

[2021-05-28 03:13] lambdai commented on #16130
sorry i was on something else. I just updated the pr with the implementation and test cases.

[2021-05-28 03:49] sumitaneja commented on #16674
@snowp Is it not possible to not to buffer request during filter execution. That was understanding while using filter. We expect filter not to read body unless explicitly requested and API exposed by lua filter gives optimal performance.

Else whats the alternative, We have requirement to do some request and response validation by external service.

Request payload can be upto 1 gb. and filter doe

[2021-05-28 05:06] lambdai commented on #16512
Duplicate https://github.com/envoyproxy/envoy/issues/9023#issuecomment-831000755

[2021-05-28 05:21] lambdai commented on #16064
@BatanGaming  Given the http request and a route table, route match should be deterministic.
Is it possible you have multiple http conn manager configs(so as more than one route table) and SNI decides which HCM to use?
The combination of <SNI, httprequest>  match is not deterministic.
See https://github.com/envoyproxy/envoy/issues/6767

Try rename the route with unique names and see if the desired

[2021-05-28 06:12] #16651 closed

[2021-05-28 07:05] negram opened #16715 "Request rewriting routine corrupts memory used by grpc_stats_filter.cc"
*Description*:

We use envoy to downgrade request: gRPC -> HTTP1.1
Config: https://gist.github.com/negram/1c4adae7c6cc37d8f9c02b484e09705f
When sending the following payload (a dump of gRPC request, see in "repro" steps), we found out that stats reports have corrupted data, when sending request for `com.bumble.contract.service.usersplit.UserSplitService/GetVariant`

We can see the following record

[2021-05-28 07:47] Xunzhuo opened #16716 "Matching api to Compose Wasm filter failed"
# Matching api to Compose Wasm filter failed

*Description*:
I try to use match api and compose filter to compose wasm filter, it runs ok but it seems like filter is not working;

I checked stats and it failed:

![image](https://user-images.githubusercontent.com/48784001/119956110-516c7880-bfd3-11eb-9dd7-992c293207e7.png)

Is Compose filter not supported to compose wasm filter or something else?

[2021-05-28 09:47] PiotrSikora commented on #16432
I have those tests ready. I'll send a PR once the prerequisite PRs are merged (https://github.com/envoyproxy/envoy/pull/16430, https://github.com/proxy-wasm/proxy-wasm-cpp-host/pull/165, https://github.com/proxy-wasm/proxy-wasm-rust-sdk/pull/107).

[2021-05-28 11:24] phlax commented on #16716
cc @snowp

[2021-05-28 11:35] phlax commented on #16715
cc @asraa

[2021-05-28 12:40] snowp commented on #16674
Currently the code will buffer the request while waiting for the response (I assume in order to allow code to read the body after the call), unless you set the https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/lua_filter#httpcall `asynchronous` value to true. This would mean that you don't get to see the response of the httpCall however. Any other changes to this behavior

[2021-05-28 12:51] snowp commented on #16716
Can you run this with debug logs? That should output the cause of the failure

[2021-05-28 12:52] snowp commented on #16716
Looking at the config my first guess is that it would be the use of TypedStruct causing the issue

[2021-05-28 13:07] sumitaneja commented on #16674
That would need envoy/istio upgrade.
for current release If we increase buffering limit, Can you confirm if buffering happens in-memory or in some temp file for large payloads.
.

[2021-05-28 13:09] snowp commented on #16674
It's all in memory

[2021-05-28 13:32] snowp opened #16720 "Dynamic stat flush interval"
We have a use case for a stat sink that is able to adjust its flush interval dynamically. Today this is not possible since the flush interval is specified in the bootstrap config, so stat sinks have no control over this.

My first idea for this was to just have the stat flush interval be very low and have the stat sink in question drop flushes, allowing to adjust the effective interval by changing

[2021-05-28 14:25] Xunzhuo commented on #16716
I run envoy with `envoy -c compose.yaml -l debug` I can not see the output of the failure

[2021-05-28 15:58] rojkov commented on #15235
Turned out in case of Aarch64 the issue is not about THP (it's good to have though). The problem is that tcmalloc assumes incorrect page table levels for RPi4. Indeed https://kernel.org/doc/Documentation/arm64/memory.txt says that in Aarch64 virtual addresses for processes may be either 39-bits or 48-bits depending on the number of page table levels (3 and 4 respectively).

So, tcmalloc assumes vi

[2021-05-28 17:36] Xunzhuo commented on #16716
[code]

[2021-05-28 17:38] snowp commented on #16716
[code]

The problem seems to be that the WASM filter adds an access logger, which isn't supported by the composite filter. Unfortunately this is a limitation of the composite filter for now, and would require a bit of code change to fix.

[2021-05-28 17:47] Xunzhuo commented on #16716
I see... Will this be fixed in future?

[2021-05-28 17:50] snowp commented on #16716
Someone will need to do the work, it's not on my personal roadmap

[2021-05-28 17:53] Xunzhuo commented on #16716
Can you take a look at this log : https://github.com/Xunzhuo/tmp/blob/main/log2 ? I turn out accesslog in WASM filter

[2021-05-28 17:56] snowp commented on #16716
Are you still seeing the failure stats? I don't see a log line here

[2021-05-28 18:03] Xunzhuo commented on #16716
Sorry, I check it again which caused by the same problem as you said, it seems like WASM adds access logger no matter if I use log abi... Maybe I could try to give a PR...

[2021-05-28 18:05] snowp commented on #16716
No problem! The problem with supporting access loggers is that normally access loggers are set up when the request first starts, we'd need support for adding an access logger during the request (or somehow be okay with the access log not being added, but that seems risky in case filters depend on this)

[2021-05-28 20:17] PKizzle commented on #15235
Thank you very much for spending the time to find the root of the issue! Did you already create an issue in the tcmalloc repository for an automatic page table level detection to set `kAddressBits` accordingly?

[2021-05-29 00:12] #15704 closed

[2021-05-29 01:27] hamdiallam commented on #16308
Gotcha thanks, I'll give this a try

[2021-05-29 02:48] leyao-daily commented on #16115
Finish the dependency.

[2021-05-29 02:48] #16115 closed

[2021-05-29 02:49] fang10 opened #16723 "Response Flag UAEX is not set when the request was denied by the external auth service"
*Description*:

Our envoy service uses ExtAuthz http filter to authenticate requests. When the request is rejected by the authorization service, we did not see UAEX response flag set in the access log. The envoy version: 1.17.1

*Config*:
Here is our envoy config
[code]

*Logs*:
From the access log, we can the response flag is not set:
[code]
Here is the envoy trace logs:
[code]

[2021-05-29 05:27] qiwzhang commented on #16319
The required feature is:  if  remote Jwks fetch fails with 5xx,  envoy should retry it.  Now it is not doing the retry.

Proposed change is in the issue description.

[2021-05-29 18:35] balbifm commented on #16431
Hi, I am also able to reproduce this behavior by just using _type.googleapis.com/envoy.extensions.common.matching.v3.ExtensionWithMatcher_ without the composite filter, just to inform.

[2021-05-29 18:44] chinmaygupta28 opened #16724 "Health checker prematurely prefers no_traffic_interval after first healthy status"
*Title*: *Health checker prematurely prefers no_traffic_interval after first healthy status*

*Description:*

For a cluster whose health checker configuration is -
[code]
1. Server A's Envoy comes up t0.
2. A's health checker makes an HC request for Server B at t1, it passes and gets registered in the cluster members to serve traffic to.
3. A starts traffic to B at t1+20s
4. B marks itself unhealt

[2021-05-30 02:55] chinmaygupta28 commented on #16724
I think it should be a feature request than a bug as the health checker works as detailed out.

[2021-05-30 04:51] #15506 closed

[2021-05-30 06:24] su225 commented on #16507
Hi. I would like to give a try. At first glance it seems like I have to enhance the host rewrite specifier API and add corresponding logic to handle it in HTTP dynamic forward proxy filter - https://github.com/envoyproxy/envoy/blob/747944b30b5556b07a5bffdea46fcea89404b9f4/api/envoy/extensions/filters/http/dynamic_forward_proxy/v3/dynamic_forward_proxy.proto#L37-L62

[2021-05-30 16:34] christian-roggia commented on #16629
Thank you @lizan for taking a quick look into this, I will try to set up a docker-compose to reproduce locally this issue and also get a complete Wireshark dump. I should be able to prepare everything this week.

[2021-05-30 17:28] snowp commented on #16431
Thanks for the report! This issue should be resolved whenever #16721 lands

[2021-05-30 23:56] mathetake opened #16726 "wasm: add option for restarting VMs on failure"
sometime we might want to restart VMs as soon as they trapped so that they can minimize the impacts of, for example, bugs in their Wasm programs to incoming streams.

cc @PiotrSikora WDYT?

[2021-05-31 00:16] #15599 closed

[2021-05-31 09:56] rojkov commented on #15235
I've just submitted https://github.com/google/tcmalloc/issues/82. But perhaps filing an issue against the kernel of RaspberryOS could be another solution.

[2021-05-31 12:15] cheimu commented on #5769
Is this problem solved? I got the same situation here...

[2021-05-31 12:50] phlax commented on #16723
@fang10 can you enclose all logs and traces in ` ``` `

cc @snowp

[2021-05-31 12:52] phlax commented on #16724
cc @yanavlasov

[2021-05-31 14:00] su225 commented on #16507
Sorry. Due to some reasons, I could not take this up for at least a month. Other priorities. So stepping back.

[2021-05-31 16:04] samrabelachew commented on #16667
That's fair. I could try to make this configurable via the router. I believe the set of changes to do so would be:
* define a boolean field like `suppress_grpc_request_failure_code_stats` within the router filter
* update router logic so that the fxn `chargeUpstreamCode()`, doesn't increment group stats (e.g. 5xx) and individual code stats (e.g. 504) when seeing that the current request is gRPC an

[2021-05-31 17:28] BatanGaming commented on #16064
@lambdai I'm not sure about multiple route tables. We don't have multiple http connection managers but we have multiple virtual hosts which have own route tables. So, is it what you're talking about?

Also, can you please tell how to configure http->https redirection? I wrote above what I already have tested

[2021-05-31 23:55] fang10 commented on #16723
@phlax updated.

[2021-06-01 02:34] wbpcode commented on #16594
[code]

I personally think that StringMatcher should be pure and concise. Its function is to tell whether a string matches a specified pattern. Yes or No is enough. Other functions should not be directly introduced into StringMatcher.

[2021-06-01 08:28] mathetake commented on #13756
I reworked the PR https://github.com/envoyproxy/envoy/pull/16745 to resolve (this issue has not been resolved yet and still causes crashes).

[2021-06-01 08:30] #15487 closed

[2021-06-01 08:33] mathetake commented on #15487
not stale

[2021-06-01 08:33] mathetake commented on #15487
https://github.com/envoyproxy/envoy/pull/16745 I reworked the Envoy-wide solution

[2021-06-01 08:58] phlax opened #16747 "Add brotli sandbox example"
### description

it would be very helpful to add a brotli sandbox

it could be fairly closely modelled on the gzip sandbox just added #16440 - although it would also require TLS i think

[2021-06-01 09:05] phlax opened #16748 "Add "see also" section to gzip sandbox"
### description

it would be helpful to add a see also section to the gzip sandbox pointing to:

- api docs
- any reference documentation

[2021-06-01 09:18] bechhansen commented on #2399
Hi @mattklein123
I would like to do a filter to rewrite only the path in a Kubernetes cluster.
Would you recommend the same approach of using a Lua filer?

I would like Envoy to do a path rewrite so a request to http://127.0.0.1/documentation/ would route to http://127.0.0.1/ of the service wrapped by the sidecar.

I have scrutinized the documentation and google but have not been able to find an e

[2021-06-01 09:53] JCzz commented on #16482
Hi @ggreenway did you see @moderation comments?

[2021-06-01 10:07] vchrisb commented on #15235
this issue probably save me a ton of time 👍
I just hit the same issue on a Rock PI 4 and it looks like the kernel is also compiled with `CONFIG_PGTABLE_LEVELS=3`

[2021-06-01 15:47] mattklein123 commented on #16667
Yes I think that plan makes sense to me.

[2021-06-01 15:52] #14894 closed

[2021-06-01 16:44] #15463 closed

[2021-06-01 16:53] lizan commented on #16536
I meant istio over xds. Though #16708 might be appropriate fix as well.

[2021-06-01 17:18] lambdai commented on #16064
Do you happen to have multiple filter chains in the same listener?

[code]

[2021-06-01 17:45] danzh2010 opened #16751 "Support keep-alive in QUIC downstream and make it configurable"
Currently QUIC server codec doesn't support sending keep-alive PING to client like Http2 does. We probably need similar configurable feature in gQUIC and using PATH_CHALLENGE and PATH_RESPONSE in IETF QUIC.

[2021-06-01 17:53] BatanGaming commented on #16064
I got it. No, we have only one http conn manager

[2021-06-01 19:45] derekargueta commented on #3266
FYI I'm working on https://github.com/envoyproxy/envoy/issues/2098 which will refactory query params a bit with its own class, so this might be easier after that issue is done.

[2021-06-01 20:34] blakesmith commented on #1028
Any updates on this? I see that https://github.com/envoyproxy/envoy/issues/492 has landed, but I'm still seeing `tcp_cluster_name` in [stats.proto](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/metrics/v3/stats.proto#config-metrics-v3-statsdsink). For now, the only way I can sink statsd stats is via a hardcoded IP address, which isn't ideal given that we use a fixed DNS CNAME for stats

[2021-06-01 21:02] danzh2010 opened #16757 "Test coverage for receiving bad http3 payload"
Multiplexed_integration_test.cc has a few tests to test bad Http2 payload, such as CodecErrorAfterStreamStart.

We need something similar to `codec_client_->rawConnection().write(bogus_data, false);` in QUICHE to allow test Http3 client to write junk payload to the wire to have this test coverage.

[2021-06-01 22:21] ajsalow commented on #16551
@lambdai Thanks again for the help.

I tried your suggestion, see below for the configuration I am using, but I am still having issues. When I run `psql -U postgres -h localhost -p 1999` I get an error
[code]

Postgres_proxy output looks like it is reaching the destination port
[code]
Note, if I run psql -U postgres -h localhost -p 10002 I can connect successfully. Any ideas why I cannot connect t

[2021-06-01 23:30] ajsalow opened #16758 "Lua filters for TCP Proxy?"
Is there a way to use Lua filters with the TCP proxy like you can with the HTTPConnectionManager?

[2021-06-02 00:27] davinci26 opened #16759 "Publish `NanoServer` based Windows Containers"
*Description*:
Since Envoy mostly relies on networking/filesystem apis we should explore and publish images of Envoy that user [nanoserver](https://hub.docker.com/_/microsoft-windows-nanoserver) as the base layer.

[2021-06-02 00:27] davinci26 commented on #16759
cc @envoyproxy/windows-dev

[2021-06-02 02:06] gbrail opened #16760 "Seeking proposals for how to implement STREAMING body mode in ext_proc"
*Title*: Help figure out how to implement STREAMING body mode for the ext_proc filter

*Description*:

The ext_proc protocol describes four ways to handle request and response bodies:

1) Ignore them. This is the default and works fine.
2) BUFFERED mode -- this is already implemented. The filter buffers the body in memory, returns an error if the buffer fills up before end of stream, sends the buf

[2021-06-02 02:28] weiyuanke commented on #5445
Hi, I have exactly the same use case which uses envoy as a proxy for kubernetes apiserver.  I want envoy to extract the "CN" and "Org" info from client cert and paas this info throught req header to apiserver. apiserver then uses header authentication mode to get the usename and group from header.
Did you finally work out this problem?

[2021-06-02 02:36] jianwen612 commented on #12340
Sorry... I don't have the environment to test it now. I've moved to another team.

[2021-06-02 08:19] Patrick0308 opened #16768 "Build error on mac os"
*Description*:
Building error on mac os. Commit id is `1a05155c4`

*Repro steps*:
[code]

*Admin and Stats Output*:

[code]

[2021-06-02 11:46] phlax opened #16769 "Use protoc-gen-doc for generating proto rst"
In trying to find a way to turn the current docs build into a bazel build job i have been looking at the protodoc code, but im struggling because im not finding an easy way to make an aspect build a dep of another build rule

Another goal i have here is to use a template syntax for protodoc

afaict (and happy to be corrected) the current aspect implementation:

- generates for all dependencies for

[2021-06-02 11:47] phlax commented on #16769
cc @htuch @mattklein123

[2021-06-02 11:50] phlax commented on #16769
one possible issue with this approach is inclusion of protoc-gen-validate annotations - altho there is a related bug here https://github.com/pseudomuto/protoc-gen-doc/issues/434

[2021-06-02 11:54] phlax commented on #16769
regarding this last point - ie pgv - im not sure if these are currently used in docs generation

[2021-06-02 12:20] #16117 closed

[2021-06-02 14:09] klarose commented on #16682
I wonder if the original_src filter work I did a while back is susceptible to this as well. I *thought* that I had implemented some cleanup and reuse logic here (https://github.com/envoyproxy/envoy/blob/57976d142005cda6ce54ec215cafceebe4fc1aef/source/common/upstream/conn_pool_map_impl.h), but it's possible I missed it.

I bring this up, because it has similar constraints as the proxy protocol: a g

[2021-06-02 14:21] alyssawilk commented on #16139
I'm not clear on how the interface suggested is going to help with taking up too much memory.  Aren't we going to have the same problem with slow clients, where we may add chunks faster than they're sent downstream?  I think we'd want an API for adding body data, and getting watermark notifications, at which point it starts to look a lot like a filter.   I wonder if we should use some of the exist

[2021-06-02 14:21] alyssawilk commented on #16139
cc @mattklein123 @snowp

[2021-06-02 14:31] juchaosong opened #16772 "Question: How do I get the complete gRPC request body when using envoy.filters.http.ext_authz?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *How do I get the complete gRPC request body when using envoy.filters.http.ext_authz*

*Description*:

[code]

[code]

[optional *Relevant Links*:]

[2021-06-02 14:39] junr03 commented on #16768
The protobuf dep was recently updated, has bazel correctly downloaded the new dep in your build? Have you tried busting the cache and building from clean state?

[2021-06-02 14:40] junr03 commented on #16760
@snowp do you want to comment as the other owner of ext_proc?

[2021-06-02 14:42] junr03 commented on #16758
Not currently. The Lua stack is only adapted for HTTP operation as an HTTP filter.

[2021-06-02 14:46] junr03 commented on #16772
It is unclear to me if the problem is with Envoy, or at the receiving end in your gRPC service. How have you asserted that envoy has not completely proxied the json payload?

[2021-06-02 15:00] juchaosong commented on #16772
@junr03
I'm not sure whether my method is correct or not, I just print request body. And found the result is not equal to the request  content which passby `grpcurl`. You can found it from my descriptions.
Without any doubt, it's all right using envoy to proxy gRPC backend. But I just want get complete request body when using external authorization, any helps? Thanks a lot.

[2021-06-02 15:06] ajsalow commented on #16551
I figured it out. The cluster in  encapsulate_in_http1_connect.yaml needed to have be type `strict_dns` and point to `postgres_proxy` not localhost.

[code]
The tunneling to postgres now works. Thanks for all the help!

[2021-06-02 15:06] snowp commented on #16760
3) seems like a reasonable way to do this, though it probably needs some testing to make sure there's nothing preventing this from working. If you want to avoid the empty data frames to the next filters maybe you can stop iteration in this case?

cc @alyssawilk in case there are other ways of accomplishing this

[2021-06-02 15:13] justincely opened #16773 "let server auto fill node.id with a random UUID"
*Title*: let server auto fill node.id with a random UUID

*Description*:
When using envoy with a control plane it's very useful to have the `node.ID` field populated with some UUID so that internal control plane logs, stats, etc can be correlated back to individual instances of a service cluster.  Currently, the only way to do that is to generate some UUID elsewhere and stick it into the bootstrap

[2021-06-02 15:13] justincely commented on #16773
If this is something desired+approved, I'd be happy to take on the task and open a PR.

[2021-06-02 15:18] jmarantz commented on #16139
Yeah I wasn't exactly sure what the best mechanism is to stream the data out. But right now 100% of the serialized bytes are always buffered in the admin-handler. Then they may *also* be buffered in the networking layer for a slow client.

If the mechanism we use to send bytes the network has a bounded buffer itself and (say) blocks if that's full, then I think the strategy proposed here will redu

[2021-06-02 15:23] #15622 closed

[2021-06-02 15:27] mattklein123 commented on #16139
I agree with @alyssawilk that at a certain point we are just re-implementing all of the flow control behavior we already have, so it would be nice to just reuse those watermark APIs.

[2021-06-02 15:29] howardjohn opened #16775 "feature regression: no longer possible to rewrite authority"
*Title*: no longer possible to rewrite authority

*Description*:
https://github.com/envoyproxy/envoy/pull/14747 changed the behavior of header modifications that are allowed. Previously, we relied on this to rewrite the authority on a per-destination basis.

After the change, this is no longer possible. While we can do a rewrite at the route level, we cannot do it on a per-weighted-cluster basis,

[2021-06-02 15:53] jmarantz commented on #16139
This makes sense as a better way to go. It's probably worth rethinking this PR in terms of just better usage of the existing filter APIs rather than adding the Chunker API.  @daixiang0 sorry for the detour.

PTAL at admin_fillter.cc/.h, the other usage of filters, and the existing relationship of admin.cc to admin_filter.cc.

At a high level I think the strategy makes sense: break up the output st

[2021-06-02 16:14] alyssawilk commented on #16760
I guess offhand I can think of 2 ways to handle this.

The cleaner way would be to implement a StopAllIteration for body data, like we have for headers.  This would really stop further calls until resumption was triggered.  That said, it's going to be a complicated and high risk change.

The hackier way would be akin to 3, moving the data into locally owned buffers as encodeData calls happen and r

[2021-06-02 16:20] alyssawilk commented on #16775
Yeah, this was a bit of a bug, because it allowed rewrites specific for HTTP/1 and not HTTP/2 so would cause inconsistent behavior.

Would any of
  "host_rewrite_literal": "...",
  "auto_host_rewrite": "{...}",
  "host_rewrite_header": "...",
  "host_rewrite_path_regex": "{...}",

work for you?
https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-f

[2021-06-02 16:23] howardjohn commented on #16775
We do use `host_rewrite_literal`, but the issue is it cannot be set inside a WeightedCluster_ClusterWeight. So we can set it at the RouteAction level but if we have multiple destinations we can only use one rewrite between all of them

[2021-06-02 16:24] #16141 closed

[2021-06-02 16:24] #16146 closed

[2021-06-02 16:24] #16160 closed

[2021-06-02 16:36] majames opened #16777 "How do I include internal redirect response headers in the subsequent request?"
**How do I include internal redirect response headers in the subsequent request?**

**Description**

I posted this [question on Stack Overflow](https://stackoverflow.com/questions/67739127/how-do-i-include-internal-redirect-response-headers-in-the-subsequent-request), but I also see that GitHub issues can be used for questions so I'm asking it here as well 🙂

Is it currently possible to include a

[2021-06-02 16:39] alyssawilk commented on #16775
ah, gotcha.  So if host_rewrite_specifier were added to ClusterWeight that'd work for you?
cc @envoyproxy/api-shepherds too since I'd like their input as well.

Also you did catch this validation is runtime guarded, yes?  Ideally you should just be able to flip the runtime guard back while we figure out a long term solution.

[2021-06-02 16:40] howardjohn commented on #16775
Yep, I was planning to set the runtime flag in the meantime. Thanks for adding that

Yep

[2021-06-02 18:15] danzh2010 commented on #16278
#16180 should have fixed it

[2021-06-02 18:41] #16278 closed

[2021-06-02 18:54] ajsalow commented on #16599
@moderation @alyssawilk  https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/upstream_filters explains that there are no upstream filters available out of the box.  It is confusing to then list all the network filters as "supported" upstream filters [here](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/filter.proto.html). Additionally, I think more docume

[2021-06-02 19:32] samrabelachew commented on #16667
/assign

[2021-06-02 20:14] ggreenway commented on #5445
As mentioned earlier in the comments on this issue, there isn't a way to add client cert matching to FilterChainMatch. However, as noted, you can do http-level routing and manipulation based on that information.

[2021-06-02 20:19] ggreenway commented on #16682
If the circuit breaker for number of pools is set, that will set a bound on the number of http pools. However:

* If the number of pools is large, performance won't be very good because we have to do a linear search everytime we want to free a pool to add another
* tcp conn pools don't honor that setting at all, so tcp_proxy configurations don't have any way to limit the number of pools

[2021-06-02 20:26] ggreenway commented on #16139
One other consideration: since this is for stats, the values should all be latched as close together in time as possible. So even if we don't generate the entire text representation at once, we would need to copy all the values (maybe a big `vector` of `pair<StatName, value>`?)

Also, for the use case of prometheus stats, I think the most common use case is a fast client on a fast network. My feel

[2021-06-02 20:57] DavidSchinazi commented on #16291
I'm actively working on this, will have a PR out soon

[2021-06-02 21:59] suniltheta commented on #12432
Can we close this issue, now that PR #16237 is merged? Thanks.

[2021-06-02 22:05] #12432 closed

[2021-06-02 22:23] mattklein123 commented on #16769
At a high level this sounds fine to me, but I don't have a very good understanding of the flow. @htuch will be a better person to talk to when he is back.

[2021-06-02 22:37] mattklein123 commented on #16724
@chinmaygupta28 sorry I'm a little confused. If you don't want the no traffic interval to effect you and you want a 10s interval, why not just set it to 10s?

[2021-06-02 22:38] boringuy opened #16788 "Bazel internal env variable $TEST_TEMPDIR is used in build_setup.sh"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Bazel internal env $TEST_TMPDIR variable is used in build_setup.sh*

*Description*:
According to the link below, $TEST_TMPDIR is for bazel internal use only. "--tes

[2021-06-03 00:52] daixiang0 commented on #16139
@jmarantz never mind, it is still a nice idea: split into chunks rather than hold all data stream, would save memory cost.

@alyssawilk @mattklein123 thanks for input, I am really not familiar with those fields, learn a lot from you!

I would try write a proposal for this later, please review it when ready.

[2021-06-03 01:47] kyessenov commented on #14851
Yes, the documentation is incorrect. I think we need a follow up to implement VH rate limit overrides. The code is just not present for local rate limit to fallback onto virtual host.

[2021-06-03 03:02] justincely opened #16790 "ci README contains scripts that don't exist"
*Title*: ci README contains scripts that don't exist

*Description*:
[Testing changes to the build image as a developer](https://github.com/envoyproxy/envoy/tree/main/ci#testing-changes-to-the-build-image-as-a-developer) as a section seems to be outdated.  The instructions are:

[code]

But the entire `ci/build_container` directory doesn't exist and I don't see the other scripts anywhere else in t

[2021-06-03 07:20] phlax commented on #16790
not sure of the exact history - but my guess is that https://github.com/envoyproxy/envoy-build-tools was separated out from the main repo at so,me point - and these notes werent updated

[2021-06-03 08:17] Patrick0308 commented on #16768
I try
[code]
It's not useful.

[2021-06-03 09:18] chinmaygupta28 commented on #16724
@mattklein123 I do want "no traffic interval" to be there, it should be 60s for upstream clusters for which we don't anticipate the traffic at all.

The edge case I am hitting is when a new task comes up but starts the traffic to the upstream cluster after a bit of time. During this bit of time, the health checker makes its first health check request which comes as healthy and then in the same ite

[2021-06-03 10:41] WeavingGao opened #16799 "A simple http filter that can randomly drop requests"
We have recently developed an http filter called random_drop and used it in our online project. It is currently working well. So we want to contribute it to the community.

### What does this filter do?
Randomly discard requests based on the configured percentage.
### Under what circumstances do we need this filter?
When a non-core service fails, we need to discard some or all of the traffic sent

[2021-06-03 13:25] #16471 closed

[2021-06-03 13:30] mk46 commented on #16790
The above docs are in favor of Circle CI  which is deprecated.

[2021-06-03 13:34] mk46 commented on #16790
In https://github.com/envoyproxy/envoy/pull/10729, `ci/docker_build.sh` was removed.

[2021-06-03 14:08] justincely commented on #16790
Should I just open a PR to remove this section then?  For me it was just added noise that confused me trying to get CI scripts running locally.

[2021-06-03 14:09] phlax commented on #16790
i think yes - but lets open the PR and check again

[2021-06-03 14:21] paul-r-gall commented on #16680
See draft pr #16774.

[2021-06-03 14:49] mattklein123 commented on #16724
OK, thanks. This makes sense. I will update the title to be more clear and mark it help wanted.

[2021-06-03 14:53] mattklein123 commented on #16799
We already have the concept of "maintenance mode" which covers this. I would rather just enhance that functionality if it doesn't cover what is needed.

[2021-06-03 15:03] junr03 commented on #16788
cc @lizan

[2021-06-03 15:12] junr03 commented on #16777
Per my reading of the [redirect docs](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/http_connection_management.html?highlight=redirect#internal-redirects):

Filters would have access to modify the redirected request headers. _However_, as far as I can read the chain would not have access to the redirect response headers.

cc @alyssawilk do you have any suggestions here?

[2021-06-03 15:32] dmitrytretyakov opened #16802 "HTTP healthcheck doesn't affect routing choice on TCP proxy LB"
*Description*:
I'm running envoy in docker.
I've configured a static configuration: tcp proxy with transport_socket_match_criteria option in health_check to use https healthcheck.
I have a 1 healthy of 3 endpoints (Vault services). So, traffic should be routed only to this endpoint.
Instead of this traffic is routed to all 3 endpoints.

*Config*:

[code]

So, I see that healthcheck works - 1 of 3

[2021-06-03 15:54] alyssawilk commented on #16775
@adisuissa @lizan thoughts?

[2021-06-03 15:56] alyssawilk commented on #16777
There's no way to do this with Envoy's redirect utils.
We could potentially add this as config and code to the Envoy code or you could handle the redirect in a custom filter.

[2021-06-03 16:09] ycai-aspen opened #16804 "Matching IP Family for Outbound Listener"
*Title*: Matching IP Family for Outbound Listener

*Description*:
To support dual stack in istio, for each service that has dual stack configured, two outbound listeners for the same port are created. One listener is with ipv6 wildcard with port and the other one is with ipv4 wildcard with port.

Here is what we expect:
client (ipv4 address ) -> ipv4 iptable redirect to 15001 -> envoy original dst

[2021-06-03 16:12] ycai-aspen commented on #16804
@nrjpoddar, @jacob-delgado

[2021-06-03 16:17] nrjpoddar commented on #16804
cc @howardjohn @mattklein123 @alyssawilk for inputs.

[2021-06-03 16:45] mattklein123 commented on #16802
See https://www.envoyproxy.io/docs/envoy/latest/faq/load_balancing/lb_panic_threshold

[2021-06-03 16:45] #16802 closed

[2021-06-03 19:39] boringuy commented on #16788
So, was trying out the change and turns out $TEST_TMPDIR also change the output base path, so if we don't set it, we also need to add bazel startup option --output_base or --output_user_root to mimic the current behavior. Since I am not familiar with existing ci environment, I am probably not the best to make a PR for this. So, this is more just a question and I can work around this locally.

[2021-06-03 20:50] lambdai commented on #16804
Good point. I can make the change.

BTW: Do you have a benchmark on the cost of the linear search? I have the feeling it hurts performance

[2021-06-03 21:47] ycai-aspen commented on #16804
We don't have a benchmark test on this.  It might be better to find the matching port listeners, then do a match on the ipaddress or wildcard with ip family.

[2021-06-03 21:51] mitchsw commented on #14813
I am also looking to consistently load balance a gRPC service, using some request field as the hash key.

It looks like creating a "gRPC proxy" (similar to the existing Dubbo proxy?), and an associated `LoadBalancerContext` is a fairly large project. The proxy would also require the .proto descriptor to use the [Reflection APIs](https://developers.google.com/protocol-buffers/docs/reference/cpp/goo

[2021-06-03 23:59] #13281 closed

[2021-06-04 00:36] #16258 closed

[2021-06-04 02:48] jalaziz commented on #15219
We also have this problem. We're trying to build an external authz service in Python and running into issues trying to compile the protos due to all the dependencies. Would be great if the external authz protos could be defined and packages separately.

[2021-06-04 02:57] WeavingGao commented on #16799
The cluster maintenance mode does cover most of our scenarios, except that different path(or gRPC method) in the same cluster might have different rejection percentage. Maybe this is not a very general requirement. So I am not sure if it is worthwhile to extend the maintenance mode to support path level or something like that. What do you think? @mattklein123

[2021-06-04 08:05] paoloyx opened #16811 "Question: is Envoy proxy somewhat breaking my gRPC communication?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Question: is Envoy proxy somewhat breaking gRPC communication?*

*Description*:
Hi everyone,
don't really know if here is the right place to ask, but I'll try anywa

[2021-06-04 08:29] paoloyx commented on #16811
Just to add an important info, here are the Envoy proxies logs for above communication

## ORIGIN pod

[code]

## DEST pod

[code]

[2021-06-04 08:57] nrjpoddar commented on #16804
Thanks @lambdai for your inputs. I was wondering about the linear search myself and I'm positive we can do better. However, I would like to get this bug fixed and tackle performance improvement separately if that's ok with you. Can we patch this in older versions of Envoy?

[2021-06-04 09:31] maksim-paskal commented on #15482
`vh_rate_limits` can be used with `typed_per_filter_config` in route spec

[code]
 test with envoyproxy/envoy:v1.18.2

[2021-06-04 09:32] BatanGaming commented on #16064
HI, @lambdai, I have good news. I removed wildcard domains from certificate and now it seems to be working fine. Maybe it's really related to #6767. So, I still have one open question - how to configure http->https redirect?

[2021-06-04 10:36] phlax commented on #16769
investigating a bit further - a few things ive found...

### protoc-gen-doc

not so sure about using this. Afaict its pretty much abandonware - at least v poorly maintained.

also not sure it does what we want without quite a lot of hackage. While i think we do want to move towards a template based system, we need annotations to be parsed before attempting to render the template

protoc-gen-doc us

[2021-06-04 12:19] malza321 opened #16815 "How to configure from reverse proxy to forward proxy?"
Hi. I'm struggling with configure conf from reverse proxy to forward proxy.
![image](https://user-images.githubusercontent.com/45122419/120800448-eb579680-c57a-11eb-82a6-e287ad9a2c0b.jpeg)

No.1 I made it.

But When I try No.2 with https, proxy A always response 400 Bad request. And there is no problems with http.

proxy A just dose forward to proxy B1, B2 with load balancer without any certificat

[2021-06-04 12:39] aaddati commented on #5769
Hi @carlosmayer!!! I need the same functionality. Could you found a workaround?

[2021-06-04 13:12] aaddati commented on #12274
Hi @mpuncel! Finally, could you find some workaround? I have a similar case. Thanks! :)

[2021-06-04 13:16] techpavan commented on #978
For those who are looking at this in 2021, please find more here: https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto#enum-config-cluster-v3-cluster-dnslookupfamily

[2021-06-04 13:54] sschepens opened #16817 "regression: cluster stats missing when using healtcheck filter"
When using the healthcheck filter in passthrough mode for a local cluster with envoy 1.18 we find that a lot of cluster stats are not being generated while this was not true on 1.17.

Here are sample configs:
[code]

With this envoy config we generate requests that are forwarded to `local_service`and we find that some stats are missing, for example `cluster.local_service.upstream_rq_time`, but if

[2021-06-04 13:55] sschepens commented on #16817
@mattklein123 sorry for the ping, but i found you introduced the only change in this filter for release 1.18, maybe it's related?

[2021-06-04 14:55] #16196 closed

[2021-06-04 15:14] sschepens commented on #16817
On closer inspection it would appear that traffic that is considered healthchecks by the filter is not generating metrics, in our case `/ping`, other requests are generating correct stats.
Why would this be the case and why has behaviour changed from 1.17?

[2021-06-04 15:23] prince-melvin commented on #5769
Hi,

We can make use of the filter_enabled_metadata field present in ext_authz filter which will enable/disable based on the criteria.
It checks for only dynamic_metadata, right now i am using lua filter to set the metadata

[code]

[code]

[2021-06-04 15:37] mattklein123 commented on #16817
Probably because metrics are being ignored for health check requests to not pollute cluster stats. I thought this is the way it always worked, so I'm surprised it wasn't like this before. Not sure what changed here. cc @jmarantz

[2021-06-04 15:43] junr03 commented on #16815
It would be helpful if you shared your current configuration

[2021-06-04 15:54] mattklein123 commented on #16799
I think it's fair that if you want per-route maintenance mode the existing cluster maintenance mode does not work well. Can you describe a bit more about how this is going to work? Will it use runtime? Will it rely on fixed config you deliver using ECDS? Etc. Could it use the new matching framework that @snowp developed? Etc.

[2021-06-04 16:01] PKizzle commented on #15235
I filed a bug report for the Raspberry Pi kernel builds: https://github.com/raspberrypi/linux/issues/4375

[2021-06-04 16:17] sschepens commented on #16817
Another thing is that current stats for healthchecks seem to be incoherent,  we do not get any `downstream_rq_xx` implying there were no requests but we do get a `downstream_rq_time` metric of the response time of those healthchecks.

[2021-06-04 17:20] eoregua commented on #16700
Any feedback?

Thanks!

[2021-06-04 18:41] gupta-deeptig commented on #5598
I was looking at how to implement custom load-balancing algorithms in envoy, and based on this thread, this needs to be a cluster based extension? (similar to what was done for Redis)? The EDGS and other ideas here are not merged, right? Is there any reference on what we can use/restrictions for custom algorithm today?

[2021-06-04 19:15] davinci26 opened #16820 "Backport request: Backport PR `16643` to 1.18"
### Backport request: Backport PR https://github.com/envoyproxy/envoy/pull/16643 to 1.18

I would like to request a backport of the PR https://github.com/envoyproxy/envoy/pull/16643 to the 1.18 branch. The main motivation is the following.

I have a private CI pipeline which I am developing to build and publish `envoy.exe` and I want to be able to tell the `windows_ci_steps.sh` to only build `envo

[2021-06-04 19:15] davinci26 commented on #16820
I can prepare the PR if it helps

[2021-06-04 20:02] gbrail commented on #16760
Thanks for the comments so far. Plan 3 -- clearing buffers as we send them to the remote server, and then using the "inject into filter chain" capability to put them back -- works for me in some manual tests. My current challenge is figuring out how to test them properly in an automated way. I'll probably have a draft PR next week or the week after.

[2021-06-04 20:25] #16165 closed

[2021-06-04 20:25] #16200 closed

[2021-06-04 21:16] mk46 commented on #16790
#16800 is merged. Can we close this?

[2021-06-04 21:17] phlax commented on #16790
yep, closing...

[2021-06-04 21:17] #16790 closed

[2021-06-04 22:25] jacob-delgado commented on #16804
By older versions, @nrjpoddar is referring to Envoy 1.17 and Envoy 1.18. We wouldn't have to go further back than that. Once the PR is done I can help in cherry picking this into older releases.

I'm also of the opinion that we should fix this, then we can measure performance and see if we should optimize it as a separate issue. The amount of listeners in large systems could easily lead to perform

[2021-06-04 23:41] ajsalow commented on #16551
@lambdai @alyssawilk so actually this only solved my issue for a simple configuration. The HTTP Connect requires I specify in my configs a hostname (and optionally a target) for routeing by the httpconnectionmanager.
[code]
I need to know the original ip or better yet hostname of the original request before iptables mangled it because I have many services that are dynamically discovered by the ups

[2021-06-05 04:56] codefromthecrypt opened #16830 "Provide download URLs for tarballs"
*Title*: Provide download URLs for tarballs

*Description*:
Currently, the pipeline jobs that produce Docker images run builds and create intermediate binaries. Once the Docker images are complete, these binaries are not retained. It would lead to less ecosystem confusion if the same binaries used to build Docker images could be used outside of Docker. Notably, this could allow CLIs that behave li

[2021-06-05 05:37] codefromthecrypt commented on #16830
I reworded the description hopefully for better context. I also linked a bunch of issues that lack of these tarballs cause. Looking forward to a canonical tarball!

[2021-06-05 06:12] juchaosong commented on #16772
Referring to [gRPC over HTTP2
](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md#requests), I find the reason why cannot just unmarshal request body to protocol buffers. gRPC will deliver **Length-Prefixed-Message** in HTTP/2 DATA frames.

[2021-06-05 06:12] #16772 closed

[2021-06-05 07:34] malza321 commented on #16815
Here is my conf in proxy A
  listeners:
  - name: proxyA
    address:
      socket_address:
        protocol: TCP
        address: 0.0.0.0
        port_value: 44000
    filter_chains:
    - filters:
      - name: envoy.http_connection_manager
        typed_config:
          "@type": type.googleapis.com/envoy.config.filter.network.http_connection_manager.v2.HttpConnectionManager
          stat_pref

[2021-06-05 07:57] phlax commented on #16830
cc @mattklein123 @caniszczyk

[2021-06-05 08:01] phlax commented on #16815
@malza321 please enclose all configuration and log traces etc in ` ``` `

[2021-06-05 09:09] malza321 commented on #16815
Thanks a lot! :)

[2021-06-05 10:19] Bhaarat-khatri commented on #12807
Is this issue is still open. I can see above one patch is merged. Is anyone is working on it please tell me otherwise please assign it to me

[2021-06-05 10:29] phlax commented on #16769
closing this - protoc-gen-docs seems to be a bit of a non-starter for reasons laid above, also i have managed to get the protodoc aspect working with a build rule.

There is still some inefficiency here as it builds redundant v2 api protos -> rst - this could be resolved with some additional filtering i guess - but it will also become a non-issue once the v3 protos no longer have v2 protos listed

[2021-06-05 10:29] #16769 closed

[2021-06-05 12:12] #16056 closed

[2021-06-05 20:09] #15977 closed

[2021-06-05 20:09] #16224 closed

[2021-06-06 00:07] #16215 closed

[2021-06-06 04:24] #7521 closed

[2021-06-06 04:24] #16222 closed

[2021-06-06 12:48] phlax opened #16835 "proto_sync uses py input and stalls in CI"
### description

there are a couple of places in the `proto_sync.py` script that use py `input` to get confirmation from users whether changes should be applied

this doesnt make sense in CI where it just stalls, and makes the format job fail with no useful output after waiting for a long time

[2021-06-06 12:49] phlax commented on #16835
cc @htuch

[2021-06-06 13:11] phlax commented on #16830
iiuc this ticket relates specifically to the `envoy` executable - rather than eg docker images, which as i understand getenvoy also provides, or the getenvoy cli itself

it seems fairly straightforward from perspective of Envoy's CI to create the required `xz` format and to publish it *somewhere*

obv we could create this on an ongoing basis - ie to create a dev version on each postsubmit ci run.

[2021-06-06 19:47] TAOXUY commented on #14561
Hi @Jawadh-Salih, though the error log looks same, it could be different issue so please put your issue in a new thread.

[2021-06-06 19:48] TAOXUY commented on #14561
This one has been addressed in https://github.com/envoyproxy/envoy/pull/14585 and should be closed.

[2021-06-06 20:10] #16250 closed

[2021-06-06 20:10] #16251 closed

[2021-06-06 20:43] AkhilRaja commented on #11551
I get this error when I deploy the container image to Google Cloud Run. Local container runs, but on cloud run it throws
`chown: changing ownership of '/dev/stdout': Operation not permitted`

Any leads on this please ?

[2021-06-06 20:48] AkhilRaja commented on #14787
@rrichardson @phlax I still get this issue when I deploy this to cloud run on Google cloud. Any workarounds for me ? Stuck on this for a long time now :(  Thanks in advance

[2021-06-06 20:49] phlax commented on #11551
@AkhilRaja which version of envoy are you using ?

[2021-06-06 21:51] AkhilRaja commented on #11551
@phlax I am running on envoy-dev:latest

[2021-06-06 21:56] phlax commented on #11551
strange - this issue should have been resolved in #15115

in the latest containers the code to `chown` if the user isnt root - if the user is root then it should be able to `chown`

[2021-06-06 21:58] AkhilRaja commented on #11551
Ive been breaking my head over this for a while now. It runs fine in my local docker build, but when I deploy the container to cloud run this happens. Is there a way I could connect with you and show you whats happening  ?
@phlax  I would really appreciate that. Thanks again

[2021-06-06 22:00] phlax commented on #11551
you can ping me on the envoy slack channel if you wish - preferably tomorrow and earlier in the utc day

[2021-06-06 23:21] codefromthecrypt commented on #16830
Thanks for the analysis @phlax! I think that binary availability tied to GitHub is a relatively understood process which many tools already use. As long as there are checksums, if someone wanted to mirror those elsewhere they could, including this project!

I withheld a little detail until wheels turned, but in the description I eluded to the binary being ok, but some might want a wee bit more in

[2021-06-06 23:21] heatonmatthew commented on #14587
Looking around more broadly I can see that this support will be needed for a long time.  The .NET team agree that the spec is ambiguous but are working on the assumption that all proxies will need to support the previous behaviour as a configuration option into the future (see [comment](https://github.com/dotnet/aspnetcore/issues/30532#issuecomment-855016549)).

I also note that the following work

[2021-06-07 04:29] #16179 closed

[2021-06-07 06:04] nrjpoddar commented on #16804
Great! @lambdai will you able to submit the fix in short order? We need this rather quickly as it blocks the dual-stack support in Istio. We would be happy to submit a patch too if you're busy.

[2021-06-07 10:47] phlax opened #16843 "HTTP3 demo config has errors"
### description

the http3 demo configuration has a configuration error here:

https://github.com/envoyproxy/envoy/blob/72bf41fb0ecc039f196be02f534bfc2c9c69f348/configs/envoyproxy_io_proxy_http3_downstream.yaml#L16-L28

trying to load this throws the following error:

[code]

currently this problem is hidden from CI as the `listeners` field is repeated and this entire block is ignored (i found thi

[2021-06-07 10:47] phlax commented on #16843
cc @alyssawilk

[2021-06-07 13:15] WeavingGao commented on #16799
Our implementation is quite simple. Similar to the cluster maintenance mode, we only use the runtime, including an `enable` runtime as a global switch, and a set of runtimes in the form of `"degradation.random_drop.<cluster_name>.<path>"`. In particular, when the `path` in a runtime is `/`, it works exactly the same as the cluster maintenance mode.  The config looks like:
[code]

PS: I didn’t know

[2021-06-07 14:18] mk46 commented on #16843
Hi @phlax, I think the config should be like below
[code]

[2021-06-07 14:20] phlax commented on #16843
@mk46, do you want to PR a fix ?

if you do - dont forget to remove the additional `listeners`

@alyssawilk can you confirm that this was the intended config ?

[2021-06-07 14:21] mk46 commented on #16843
See my change https://github.com/mk46/envoy/commit/a58423f11fa424dd9811dd579441741c4ecfb529. I have tested with and without a UDP listener.

[2021-06-07 14:23] phlax commented on #16843
seems right to me - ill assign this ticket to you

[2021-06-07 14:35] justincely commented on #16773
Any yea/nay on this?

[2021-06-07 15:12] alyssawilk commented on #16843
Hey @adisuissa it seems pretty broken that Envoy would ignore half the config due to what's basically a yaml error, without warnings of any kind.  @phlax is working on linting our example configs but I'm wondering if we could do better in-Envoy to detect and reject configs like this.  WDYT?

[2021-06-07 15:16] howardjohn commented on #16608
Is there a workaround for this?

[2021-06-07 15:16] #14889 closed

[2021-06-07 15:53] nulltrope opened #16850 "Envoy fails to start when Route references non-existent Cluster"
*Title*: *Envoy fails to start when Route references non-existent Cluster*

*Description*:

Envoy fails to initialize when attempting to start with a Route which references a non-existent Cluster. This came as a surprise to me, since http filters such as the `http.ext_authz` can reference a non-existent Cluster without issue.

I found a config option [config.route.v3.RouteAction.ClusterNotFoundRes

[2021-06-07 19:22] majames commented on #16777
@alyssawilk thanks for the response! It'd be great if Envoy supported adding the redirect response headers to the subsequent request!

Do you mind adding a little bit more detail to this please? From my understanding you're suggesting:

1. I remove the internal redirect handling configuration from my Envoy config
2. And, instead, use a [Lua response handler](https://www.envoyproxy.io/docs/envoy/la

[2021-06-07 19:29] #16843 closed

[2021-06-07 19:32] alyssawilk commented on #16777
ah, I was thinking more of a C++ filter which called recreateStream much as the router filter does today for internal redirects.  sorry I'm not terribly familiar with Envoy's lua fitler so I can't speak to how well that option would work.

[2021-06-07 19:52] austince opened #16859 "Polling Timeout Spec for REST-JSON Long Polling Subscriptions"
*Title*:  Polling Timeout Spec for REST-JSON Long Polling Subscriptions

*Description*:

The [docs](https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol#rest-json-polling-subscriptions) mention the ability to get the polling timeout on the management server side:

Is there a standard specification for how clients should set this poll period? Or is this something that is left up to the

[2021-06-07 22:25] majames commented on #16777
Gotcha. I've heard of a C++ filter or `recreateStream`... do you have docs you could link me about these please? 🙏

[2021-06-08 00:11] mk46 commented on #16835
Hi @phlax, I would like to work on this.

[2021-06-08 01:43] wbpcode commented on #16799
Is it different from fault filter? The fault filter can also reject requests based on the configured ratio.  🤔

[2021-06-08 02:36] wbpcode commented on #16850
It is a design, not a bug. Envoy will verify the existence of the clusters in the static route table. If really necessary, you can submit a feature request to let envoy provide an option to turn off this verification.

[2021-06-08 02:37] #14561 closed

[2021-06-08 03:22] mattklein123 commented on #16799
I agree that technically the runtime config can work, but in the spirit of trying to consolidate matching with "the way forward" I would suggest we implement this using the generic matching framework which then decides whether to drop or not. cc @snowp who can take a quick look, provide docs, and some guidance on whether he thinks that would be a good fit for this type of functionality.

[2021-06-08 03:31] mattklein123 commented on #16830
Thanks for raising this. A couple of high level comments:
1) We have an ongoing number of requests for binaries/images/etc. of different types. While we want to satisfy everyone, generating official binaries/images/etc. is a lot of work that we don't have a large amount of resources for.
2) There are potential legal issues that we need to clear for serving different binaries/images/etc. from diffe

[2021-06-08 03:34] mattklein123 commented on #14587
I would like to hear from @alyssawilk on this, but I continue to be concerned that we may be causing undo hardship on our users with this change, and I'm wondering if there are any compromise that are possible. (I don't know what that would be as I haven't spent enough time fully understanding this issue, and @alyssawilk has spent a ton of time, so hopefully he can summarize and educate us on the

[2021-06-08 03:37] mattklein123 commented on #16804
This sounds reasonable to me. I might recommend putting this change behind a runtime flag though.

[2021-06-08 03:41] nrjpoddar commented on #16804
Thanks Matt! Why do you suggest adding a runtime flag? I can’t think of situations where the current implementation of first wildcard match would be preferred instead of deterministic IP family wildcard match.

[2021-06-08 03:48] mattklein123 commented on #16804
I have no idea, but it strikes me as a change that could break someone. If you are sure this is impossible, we can proceed without it, but that seems risky to me as this is a behavior change to the matching.

[2021-06-08 03:56] nrjpoddar commented on #16804
Well, this falls into the category of users relying on incorrect existing behavior which is difficult to find out. At least in Istio, I know this won’t break anyone as we are still building out dual stack support. But since usage of Envoy is much broader, we can add a flag but make the new behavior default? I hope that’s acceptable.

[2021-06-08 04:05] mattklein123 commented on #16804
Enabled by default is the default for runtime guards.

[2021-06-08 04:29] phlax commented on #16830
it would definitely be good to clarify end goals re shifting getenvoy -> CNCF, and i understand that this throws up a number of questions in terms of infrastructure as well as round legal and IP issues

i would say, however, that this seems like both a relatively quick win in terms of bringing the authoritative builds in-house and the first step on the path towards the goal of migrating getenvoy h

[2021-06-08 04:45] howardjohn commented on #15953
One question, if the do we want to unconditionally set the alt-svc header when configured in HCM? Or only if not set?

[2021-06-08 05:02] codefromthecrypt opened #16866 "update links to jaegertracing-plugin.tar.gz"
*Title*: update links to jaegertracing-plugin.tar.gz

*Description*:

It is super cool that there are examples, but these are pointing to a GitHub repository which will become archived. Can these plugins be re-hosted here or at jaeger instead?

That or remove the content, doesn't matter to me, just I don't want these links to break without knowing cc @phlax

[code]

[2021-06-08 05:10] phlax commented on #16866
for reference - related tickets - that gave rise to the hacky workaround...

in envoy rep - https://github.com/envoyproxy/envoy/issues/12287

and in tetrate repo - https://github.com/tetratelabs/getenvoy-package/issues/35

im wondering how tetrate derived this binary - and whether it would be possible to eg add a bazel rule to compile it in the envoy repo, or perhaps just as part of building the e

[2021-06-08 05:13] codefromthecrypt opened #16867 "Provide official debian and RPM packages"
*Title*: Provide official debian and RPM packages

*Description*:
Right now, everything on the website mentioning "getenvoy" can be removed without breaking people.. except debian and RPM packages.

Can you please host official debian and RPM packages? Seems they can be built from the same binaries used to make docker images similar to #16830

Once this is done, hopefully there's no need for confu

[2021-06-08 05:13] codefromthecrypt commented on #16867
cc @phlax I did a recursive grep and basically this is the last thing people can't do properly upstream.

[2021-06-08 05:15] phlax commented on #16867
im very +1 to this - and ultimately would like to create a "request to package" with debian - it really feels like envoy would be incredibly useful to end users to just be able to apt-get install

in the interim i would be very happy to create the packaging for us to host these ourselves

[2021-06-08 05:27] #16748 closed

[2021-06-08 06:37] lostmem opened #16872 "The health check fails and the node is not removed"
Version:d6a4496e712d7a2335b26e2f76210d5904002c26/1.17.1
I found that the health check does not take effect, whether it is abnormal point detection or active detection
Here is my cluster configuration
    - name: other
      connect_timeout: 10s
      type: STATIC
      http2_protocol_options: {}
      upstream_connection_options:
        tcp_keepalive:
          keepalive_time: 300
      hosts:

[2021-06-08 06:54] lhaig commented on #16830
I would like to add my Vote for this please. More and more we are using arm hardware and it would be good to be able to use envoy on these servers.

[2021-06-08 07:17] rojkov commented on #16594
This behavior of StringMatcher is still there. The action is supposed to be used e.g. to log which regex exactly matched (to understand what vulnerability was exploited). Of course the same could be achieved with many StringMatchers, one StringMatcher per regex, but then performance would suffer.

[2021-06-08 07:50] phlax commented on #16835
cool @mk46 ill assign the ticket to you

i think the easiest would be to detect somehow whether its a ci env and just skip asking

[2021-06-08 07:50] wbpcode commented on #16594
🤔 I get it. This kind of semantics does work very well in some scenarios. But why don't we just create a new matcher like `RecordableMultipleRegexMatcher` or something ?  This keeps `StringMatcher` simple. At the same time, higher-level APIs can be used for users in need.

[2021-06-08 09:10] joseprupi opened #16875 "HTTP/JSON to gRPC/Flatbuffers transcoder"
I would like to know what is the best way to implement a transcoder for HTTP/JSON to gRPC/Flatbuffers.

I am thinking on implementing my own filter that encodes and decodes but any recommendation and if possible point me to some documentation would be appreciated

[2021-06-08 09:23] meteorcloudy commented on #16542
https://buildkite.com/bazel/envoy/builds/1572#193bb419-dcd3-4556-be76-7c76af5d69fb

@antoniovicente @rialg Can you help fix the fuzz_coverage failure on Bazel CI?

[2021-06-08 09:43] rojkov commented on #16594
Sure, I don't mind. The reason why I chose to extend StringMatcher is simply because its target input value is a string. I wasn't sure we wanted another matcher whose target value was a string too.

[2021-06-08 11:36] phlax commented on #16867
im wondering about using bazel for this - looks like a reasonable approach - although at least for debian its not clear if source packages are supoorted

in terms of prior art - tetrate's packaging is here https://github.com/tetratelabs/getenvoy-package/blob/76c310ec82aba57877acab8362ec238fe9efcb53/envoy_pkg/packages/getenvoy_package.bzl

[2021-06-08 12:39] alyssawilk commented on #15953
that could be a configuration option as well :-)

[2021-06-08 13:00] alyssawilk commented on #16775
@htuch

[2021-06-08 14:00] mattklein123 commented on #16830
I hear you, but to keep these conversations focused, pedantically you can use Envoy on those servers. We ship ARM docker images right now, and you can of course build your own binaries if you don't like the ones we provide.

[2021-06-08 14:04] phlax commented on #16830
hopefully we should have the process in place for publishing the tarballs to github by the next release

[2021-06-08 14:18] truehhart opened #16877 "PATCH header matching is not matching the route"
*Title*: *PATCH header matching is not matching the route*

*Description*:
We are using envoy as our API Gateway and with GET, POST, DELETE, etc. methods it's working great.
Every route basically matches a specific regex path with a method that it's allowed to route.

Here's the configuration in place:

[code]

Now it all works fine and dandy up until we are trying to send a PATCH method request.

[2021-06-08 15:50] truehhart commented on #16877
It appears that there have been some misconfigurations in the envoy yaml.
Redeploying this from scratch helped to resolve the issue.

Sorry for the hassle!

[2021-06-08 15:50] #16877 closed

[2021-06-08 16:40] danzh2010 commented on #15954
writePacket() are bypassed by Quic listener, so it doesn't have the overhead stated above.

[2021-06-08 17:06] snowp commented on #16799
Yeah I think we can put all of the runtime, path, etc. checking in a match tree, then the resulting filter would be super simple (perhaps even implementable via the fault filter as suggested?)

We could for example have a data input that acts on the HTTP headers to construct the runtime key to read, then reads this from runtime to produce the value to match on. A % based matcher could then be used

[2021-06-08 17:08] calebdoxsey opened #16881 "Missing TLS log details with `auto_config`"
Missing TLS log details with `auto_config`: When using `auto_config` transport failure reasons are not bubbled up.

*Description*:
Typically if we have upstream connection errors we see error messages like:

[code]

However when we enable `auto_config`, we see logs like:

[code]

The lack of details about the transport failure reason makes if harder to determine the cause of connection issues. (th

[2021-06-08 17:24] #16579 closed

[2021-06-08 17:56] mum4k opened #16886 "idea: Non-blocking signal of Nighthawk breakages as part of CI"
*Background:*
[Nighthawk](https://github.com/envoyproxy/nighthawk) is (by design) closely coupled to Envoy internals. A company that uses both has to import both at the same time and resolve any build breakages. Nighthawk has its own set of owners that maintain it and submit updates that catch up with Envoy's changes (e.g. https://github.com/envoyproxy/nighthawk/pull/699).

*Problem:*
Envoy develo

[2021-06-08 18:11] zuercher commented on #16872
Perhaps this explains it: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/panic_threshold.html

[2021-06-08 18:16] mattklein123 commented on #16799
+1 this is what I was hoping for.

[2021-06-08 19:57] #16835 closed

[2021-06-08 22:43] vngzs commented on #6009
Still want this.

[2021-06-09 02:19] lostmem commented on #16872
That's it. Thank you very much

[2021-06-09 02:19] #16872 closed

[2021-06-09 02:30] WeavingGao commented on #16799
Thank you all for your answers and  suggestions . I'll start with a detailed look at the amazing matching framework!

[2021-06-09 02:34] htuch commented on #16152
@yangminzhu @sschepens would one of you be able to work on the doc update here? Thanks

[2021-06-09 02:54] rgs1 opened #16892 "Internal build broken after #16711"
tl;dr: implicit `std::string` to `absl::string_view` conversion stopped working.

After #16711, our internal stuff fails to build the upstream test mocks, e.g.:

[code]

Patching Envoy to explicitly convert std::string to absl::string_view fixes it:

[code]

Any ideas?

cc: @mattklein123 @yanavlasov @fishcakez

[2021-06-09 04:49] surendarmsk1 opened #16893 "Pods getting destroyed with Error - "envoy main caught SIGTERM ""
Our environment is having envoy proxy configured across each Pod and we see Pods are getting destroyed very often. Below are the istio-proxy logs. As we can see, suddenly after 200 response, Pod is getting terminated.

what are the other areas where we can troubleshoot this issue as why pod was destroyed?

"textPayload": "[2021-06-06T07:18:50.069Z] GET /source/prometheus **HTTP/1.1 200** - 0 17521

[2021-06-09 07:42] daixiang0 commented on #16893
I guess it is not root cause, could you check your app logs?

[2021-06-09 08:11] surendarmsk1 commented on #16893
This is an GKE cluster and Yes, the above pasted logs are from entire pod app logs and i am pasting the screenshot of it.. As we could see, we are getting 200 response till 2021-06-06 12:48:52.281 IST and Post that Pod started to destroy. Apart from these logs, we don't have anything elseat app level. I also checked the istio-gateway log & cpu/memory/heapsize of this pod during issue timeframe & e

[2021-06-09 09:38] phlax commented on #16893
@surendarmsk1 i think the suggestion was to post the envoy logs

re logs please post the text and enclose in ` ``` `

[2021-06-09 11:03] ramaraochavali opened #16898 "Enhance ext authz filter to pass labels for peer info"
CheckRequest API supports passing additional labels such as pod labels https://www.envoyproxy.io/docs/envoy/latest/api-v3/service/auth/v3/attribute_context.proto#service-auth-v3-attributecontext-peer in the peer's attribute context.

However ext authz filter does not have configuration to specify those labels. We have a usecase to pass k8s pod labels to checkrequest.

Can we enhance ext authz filt

[2021-06-09 12:38] surendarmsk1 commented on #16893
Unfortunately we dont have envoy logs configured on the clusters. Is there any other way to get this issue checked?

[2021-06-09 12:39] phlax commented on #16893
i doubt we will be able to help you without them - i think you'll need to figure out a way to access them

[2021-06-09 12:43] juchaosong opened #16900 "Question: ext authz not be called when using gRPC client stream."
*Title*: *ext authz not be called when using gRPC client stream.*

*Description*:

Is there any way to call ext authz filter when every message send by client in the same stream?

Thx a lot.

[2021-06-09 12:57] wbpcode opened #16901 "ftp proxy support?"
Envoy supports proxy various protocols, http, kafka, redis, mq and so on. I wonder if it is possible to add another ftp proxy to envoy?
haproxy supports the ftp protocol, but only supports passive mode. Envoy may be able to do better. 🤔

[2021-06-09 13:27] rgs1 commented on #16892
Oh, it actually might be #16029 – let me try.

[2021-06-09 13:37] rgs1 commented on #16892
#16902 fixes it.

[2021-06-09 15:23] moderation commented on #16901
FTP should be considered deprecated and should not be added to Envoy - https://developers.google.com/web/updates/2019/12/chrome-80-deps-rems

[2021-06-09 15:27] phlax commented on #16901
im not sure the protocol is deprecated just because chromium no longer supports it - i think there are still use cases for it (altho tbh i personally havent used it for some time)

[2021-06-09 15:28] phlax commented on #16901
eg - package distribution - https://wiki.debian.org/FTP

[2021-06-09 15:36] moderation commented on #16901
We know from analysis that Curl is bad news from a security, CVE and dependency point of view. We want to remove Curl - https://github.com/envoyproxy/envoy/issues/11816. Whether ftp is considered deprecated or not, we should not enable it in core Envoy for similar reasons

[2021-06-09 16:18] yangminzhu commented on #16152
@htuch I will take this and update the doc.

[2021-06-09 16:21] snowp commented on #16867
I think in the past there has been some resistance towards hosting/distributing binaries (c.f. https://github.com/envoyproxy/envoy/issues/9006#issuecomment-553546959), but we could always revisit that decision.

@envoyproxy/maintainers for visibility

[2021-06-09 16:23] phlax commented on #16867
i think that because getenvoy are no longer going to host binaries this role is shifting to CNCF

[2021-06-09 16:40] balbifm commented on #16716
Hi guys, we have bumped into this issue as well, even in WASM filters that are only implementing _on_http_request_headers_. Can you think of any workaround to avoid it?

[2021-06-09 16:48] snowp commented on #16716
I don't believe there are any possible workarounds besides adding support to the composite filter to support filters that add an access logger. Most likely this can be done by having the composite filter add its own delegating access logger, but this will require code change.

[2021-06-09 16:59] dragonbone81 opened #16905 "Ext_proc filter performance question"
Hi, I'm trying to understand the performance expectations of the ext_proc filter.
From our testing we have measured that adding the filter on, and sending all request parts (headers/body for req/res) and just returning the exact same content from our grpc server leads to an average overhead 3ms per request.

Is this the expected overhead, or are there things we can do to optimize our configuration

[2021-06-09 17:16] techpavan commented on #4290
Looks like this is still open. Can someone please confirm if so?

[2021-06-09 17:36] ovesh opened #16906 "Metrics are not emitted for track_cluster_stats.request_response_sizes"
*Description*:
Using the latest stable build (1.18) we enabled `track_cluster_stats.request_response_sizes` on our clusters via CDS and confirmed that they are enabled by looking at /config_dump. I expected to see metrics being emitted (e.g `upstream_rs_body_size`), but instead seeing `No recorded values` for all the clusters under /stats. Requests are going through these clusters as usual, as evi

[2021-06-09 17:38] snowp commented on #16905
@gbrail

[2021-06-09 17:45] htuch commented on #16257
Delta xDS expects that the management server does not send unchanged resources. It's fine for the client to still dedup, but in a properly functioning environment, this case should not be regular behavior.

[2021-06-09 17:56] #16892 closed

[2021-06-09 18:00] gbrail commented on #16905
Thanks and I'm glad that you're testing. We don't have a lot of test results yet and I'm glad to hear that you're trying it out with a real use case. I take it from your response that you're not happy with 3ms. Do you have a target?

The main thing that you can do now to reduce latency is to reduce the number of hops between the Envoy proxy and your processor. If you are sending request and respon

[2021-06-09 18:05] gbrail commented on #16905
Thinking about future optimizations...

in your use case, do you always want the headers and the full buffered body for every request and response? And do you always wait for both before deciding how to handle the request and response? Because if so, perhaps more aggressive pipelining (send the body before getting back the headers response) would be appropriate as an option.

[2021-06-09 18:11] gbrail commented on #16905
Also, when you said: "returning the exact same content from our grpc server" did you mean that you're just returning the same request and response body that you just got? Because if you don't want to change the body (or the headers) you can just return an empty message and that will reduce the number of bytes on the wire.

[2021-06-09 18:12] justincely commented on #15017
I  just ran into this as well because the examples for the sandbox envs demonstrate the empty typed config for the router. I didn't check them all but I saw it in a few:

- [external authz](https://github.com/envoyproxy/envoy/blob/main/examples/ext_authz/config/http-service.yaml#L39)
- [fault injection](https://github.com/envoyproxy/envoy/blob/main/examples/fault-injection/envoy.yaml#L44)

These e

[2021-06-09 18:19] howardjohn commented on #8167
@snowp does https://github.com/envoyproxy/envoy/pull/14875 solve this case or is it not applicable?

[2021-06-09 18:26] snowp commented on #8167
That PR adds support for a consistent matcher to the new matching framework, but that hasn't yet been wired up to work with the router to allow its usage to construct the route table (and I don't think anyone has planned this work yet).

You could probably get something working by using a simple filter that uses the consistent matcher to inject a cluster header that can then inform the the router,

[2021-06-09 18:33] htuch commented on #16775
I guess this is reasonable to ask for behavior wise. What I'm missing a bit if what are the set of hierarchically overridable things we want to make available more generally. We already have request/response headers to add, now we add host rewrite, what does the full picture here look like?

We don't need to boil the ocean, but at the same time, building an understandable/maintainable/consistent A

[2021-06-09 18:35] antoniovicente commented on #16257
The client has payed a significant cost by just downloading the redundant config updates.  It would be best to prioritize optimization of the config provider, not Envoy.

[2021-06-09 18:35] gbrail commented on #16905
Good feedback -- thanks. Since you see the biggest delay on the establishment of the stream, I wonder if there are some gRPC optimizations we can do, either in your configuration or in the code. I'm not deeply involved in that part of Envoy. Perhaps some others have an idea there.

[2021-06-09 19:01] antoniovicente opened #16907 "quiche: TSAN failure in multiplexed_upstream_integration_test"
I noticed a TSAN use-after-free in a recent CI run.  Please take a look.

https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/78417/logs/206

[quiche-crash-stack.txt](https://github.com/envoyproxy/envoy/files/6626228/quiche-crash-stack.txt)

[code]

[2021-06-09 19:05] Barber0 opened #16908 "mongo access log error: invalid mongo op 2013"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: mongo decoding error: invalid mongo op 2013

*Description*:
There isn't record about 'insert', 'update' and 'delete' in mongo proxy's access log.
The main access log

[2021-06-09 19:23] ajsalow opened #16909 "Minikube, No healthy host for TCP connection pool"
*Description*:
When running envoy on my minikube cluster I get the error
``` [source/common/upstream/cluster_manager_impl.cc:1453] no healthy host for TCP connection pool```
When I run on my aws cluster I don't get this error any everything works as expected.

*Repro steps*:
1. Create minikube clulster.
2. Deploy downstream and upstream pods (see config below).
3. From the downstream pod try to cu

[2021-06-09 19:32] gbrail commented on #16905
I think that there's also a gRPC stream optimization that's implemented in the ext_authz filter that's not implemented in ext_proc yet. That might be worth exploring.

[2021-06-09 20:01] #15472 closed

[2021-06-09 20:01] #16157 closed

[2021-06-09 20:01] tonya11en commented on #16392
This is still in review.

[2021-06-09 20:53] charlesxu2000 commented on #16267
The root cause for this issue is due to the number of available bits for entropy is low. Envoy boring SSL requires at least 256 bits. In our VM, it is below that.
By increase the available entropy number, Envoy comes up.

[2021-06-09 20:53] #16267 closed

[2021-06-09 20:55] htuch commented on #16886
I see value here in providing this signal providing NH maintainers are on the hook and responsive to issues here (@mum4k tells me this is the case). As a general principle, I don't think we want an unbounded number of CI jobs tracking projects that depend on Envoy, but Nighthawk is in `envoyproxy` organization and a key tool that we want to bring into Envoy CI anyway, so this makes sense from that

[2021-06-09 21:01] phlax commented on #16886
not sure exactly about this particular case - but my main reservation would be that we want to avoid adding tests for downstreams if changes in that project are likely to break envoy's CI - otherwise it kinda becomes a dependency for us - but from my limited understanding it may well be a good idea here

[2021-06-09 21:10] vinayreddy commented on #16482
Hi, I tried building the latest codebase using the patch suggested above. Although that did get me further than before I'm now seeing the following error on M1
[code]

I'm using the latest bazel to build envoy and ran `bazel build source/exe:envoy`

[2021-06-09 21:36] mum4k commented on #16886
Thank you for starting the discussion. The reservation about downstreams breaking envoy's CI is a good one and should be addressed by the fact that this CI build will be non-blocking (serving as an optional signal only).

That of course leaves us open to seeing the signal report a breakage on a couple of PRs until the Nighthawk maintainers perform the necessary change after a breaking commit. Howe

[2021-06-09 22:18] htuch commented on #16886
I think though we do want Nighthawk in Envoy CI in the not too distant future.

[2021-06-09 23:42] codefromthecrypt opened #16917 "Easier config UX for inlined config-yaml"
*Title*: Easier config UX for inlined config-yaml

*Description*:
While things are becoming more type-safe, the inline yaml experience is going downhill. I believe it could be possible to have the best of both worlds with sane defaults based on key name.

ex before we could do this:
[code]

Now, it is pretty futile to accomplish the same inlined due to quoting and such. Also, even if you could, it

[2021-06-10 00:01] #16252 closed

[2021-06-10 00:01] #16283 closed

[2021-06-10 01:11] santoshankr opened #16918 "AWS SigV4 signer does not canonicalize URI and query string properly"
*Description*:

When calculating the String to Sign for an incoming request, Envoy does not properly canonicalize the path and query parameters. This causes AWS to reject certain requests with the error: ```The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult the service documentation for details.```

I've found

[2021-06-10 02:12] wbpcode commented on #16901
I think that chrome no longer supports FTP does not mean that FTP is abandoned. In fact, FTP is still widely used in many places.

I don't quite understand why it is related to Curl lib. The two seem to be incomparable. As @phlax  said, one is the protocol and the other is the library.

[2021-06-10 02:26] mum4k commented on #16886
@htuch you did raise a good point. We are planning to finalize [Salvo](https://github.com/envoyproxy/envoy-perf) and bring it into Envoy's CI as per the [OSS benchmarking of Envoy Requirements](https://docs.google.com/document/d/1mAma-ksRN0OIBInoZKUdjdaIhK2nTQxFnCujq2fKi4E/edit) in not so distant future.

Once that is done, Nighthawk will become more important to Envoy and its performance. The ide

[2021-06-10 04:09] #16265 closed

[2021-06-10 06:31] moderation commented on #16901
The point of raising curl was not to say it was equivalent to FTP. Assuming that an existing library would be used for FTP, it would introduce a new dependency. FTP is a protocol but in order for Envoy to support it, wouldn't a library / code be required to implement it?

As outlined in https://envoycon2020.sched.com/event/ecdA/understanding-maintaining-and-securing-envoys-supply-chain?linkback=gr

[2021-06-10 07:26] wbpcode commented on #16901
The FTP protocol is actually quite simple (although its network model is slightly more complicated). So I think we may not need to introduce new deps.

[2021-06-10 07:31] wbpcode commented on #16901
Yes, adding new extensions must of course conform to the community's norms. This issue is just to understand the wishes of the community and the possibility of adding fpt support.
If the community recognizes that this work is valuable to Envoy users, then we can try to promote it.

[2021-06-10 07:41] vinzo99 commented on #11498
Hello, any update on this issue ? thanks

[2021-06-10 08:29] phlax commented on #16321
@qiwzhang im gonna assume that this is resolved - the current docs requirements.txt does have hashes

please re-open if you are still facing this issue

[2021-06-10 08:29] #16321 closed

[2021-06-10 11:51] lioaslan opened #16925 "503 error with websocket"
## Description
* Setup envoy with `websocket` has 503 error. I read an issue about this and get a suggestion that's turning on `keepalive`. However, I can't find this option in the docs

* I tested without envoy (using direct `http://localhost:3001) and it worked.

**Update** Application return 503
## Code
[code]

Thanks for any help!

[2021-06-10 12:44] #16071 closed

[2021-06-10 12:51] jmarantz commented on #16262
There is `/reset_counters`.

There is not a way (currently) to reset only a subset of the counters.

[2021-06-10 12:51] #16262 closed

[2021-06-10 13:12] wbpcode commented on #16698
Add a doc to describe more detail and some possible solutions.

[2021-06-10 13:28] wbpcode commented on #16698
@alyssawilk @mattklein123  Is this plan feasible for #7218

[2021-06-10 14:08] maxramqvist commented on #11498
We are having the same issue on 1.18.3 and are interested in updates.

[2021-06-10 14:44] phlax commented on #16321
after further investigation it turns out that this can happen if you are using python <3.8 - envoy's ci env expects 3.8+

[2021-06-10 16:26] dragonbone81 commented on #16905
@moderation we will explore this, thanks for the suggestion.

@gbrail Do you have a link to this optimization (code or docs), just so we can take a look to see if we can get any ideas from this?

[2021-06-10 16:50] danzh2010 commented on #16907
This is caused by the recent QUICHE update. QuicStream::OnClose() is moved after stream object is scheduled to be destroyed. Scheduling a post callback with weak pointer is not ideal either because we do want to update session level watermark.

[2021-06-10 16:57] alyssawilk commented on #16698
for cookies, can you comment where this doesn't meet your needs?

https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-msg-config-route-v3-routeaction-hashpolicy-cookie

[2021-06-10 17:15] zuercher commented on #16850
This is by design. For static routes with CDS, see the [validate_clusters](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route.proto#envoy-v3-api-field-config-route-v3-routeconfiguration-validate-clusters) field on the RouteConfiguration.

[2021-06-10 17:32] zuercher commented on #16875
I think the existing grpc filters are probably a good place to start. The grpc_web and grpc_json_transcoder filters both convert protocols (although neither accepts json).

[2021-06-10 17:37] zuercher commented on #16881
cc @ggreenway

[2021-06-10 17:39] zuercher commented on #16898
cc @esmet

[2021-06-10 17:46] esmet commented on #16898
I think this is a reasonable feature request. In the mean time, could you use the Kubernetes downward API to push labels into the pod as configuration, and include those as request headers? https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/#the-downward-api

You could then have your auth service read those request headers and do the appropriate th

[2021-06-10 17:49] zuercher commented on #16906
Duplicate of #15879, being worked on in #15908

[2021-06-10 17:49] #16906 closed

[2021-06-10 17:55] ggreenway commented on #16881
The text of the log is clearly from TLS, but looks like the conn_pool is what's actually logging it. It's not clear to me why the auto_config changes this logging behavior. cc @alyssawilk

[2021-06-10 18:02] rgs1 commented on #16918
cc: @marcomagdy @jstewmon

[2021-06-10 18:12] zuercher commented on #16925
If you enable access logging and log the %RESPONSE_CODE_DETAILS% field, it may shed light on the problem. e.g., perhaps Envoy cannot connect to to backend:3001 or the error is coming up from the upstream.

Alternatively, turning on debug logging which should log attempts to connect to the upstream, the forwarded request and the upstream's response headers.

[2021-06-10 18:13] Y0Username commented on #16918
I can pick this up

[2021-06-10 19:01] efimki opened #16929 "Make upstream ClientConnection available to Encoder Filter"
*Title*: *Make upstream ClientConnection available to Encoder Filter*

*Description*:
Our proxy needs to record the connection level stats, like RTT to the backend on the per-request basis.
That information seems to be available on the ClientConnection, but the encoder filter doesn't have access to it.
It would be useful to make it available (if there is one).

[2021-06-10 19:02] efimki commented on #16929
@alyssawilk @htuch

[2021-06-10 19:40] nulltrope commented on #16850
Thanks @zuercher! That option is exactly what I was looking for.

[2021-06-10 20:19] bwitt commented on #16351
I'm still interested in this!

[2021-06-11 00:01] #16302 closed

[2021-06-11 00:28] mitchsw commented on #14813
Actually, on second look, we could build off #10263, and just write a HTTP filter that extract some field into a `Envoy::Http::Hashable` filter state object. I don't know exactly how to do that, but we may be able to crib most of the logic needed for proto reflection from [grpc_json_transcoder](https://github.com/envoyproxy/envoy/tree/main/source/extensions/filters/http/grpc_json_transcoder).

[2021-06-11 01:33] wbpcode commented on #16698
@alyssawilk The most important reason is that no matter what hash policy is used, the existing session persistence is stateless. A suitable host is obtained according to the algorithm based on the value calculated by the hash.
When the state of the back-end servers changes (New servers are added, some servers’ state is updated, etc.), the hash ring will be rebuilt, the session persistence is broke

[2021-06-11 01:47] Patrick0308 commented on #16768
Updating protobuf to 3.17.3 resolved this problem.

[2021-06-11 01:47] #16768 closed

[2021-06-11 02:39] htuch commented on #16929
@efimki in your case, why can't an upstream filter obtain these connection level stats and then have them propagated back to the HTTP filter (in HCM) via https://github.com/envoyproxy/envoy/pull/15543/files?

[2021-06-11 02:54] #16907 closed

[2021-06-11 02:56] venilnoronha commented on #11369
I had a chance to test this with Envoy v1.18.3, and the bug doesn't seem to be reproducible (at least with the test described in this issue).

[2021-06-11 02:58] #16667 closed

[2021-06-11 03:07] WeavingGao commented on #16392
Merged in #16742.

[2021-06-11 03:07] #16392 closed

[2021-06-11 03:35] lioaslan commented on #16925
@zuercher can you give me an example for getting access logging, I tried to follow docs to configure but it makes so many errors

[2021-06-11 04:02] #16123 closed

[2021-06-11 07:01] #16747 closed

[2021-06-11 07:49] lokeshwaran100 opened #16934 "How to do hot restart of istio envoy proxy?"
*Title*: *How to do hot restart of istio envoy proxy?*

*Description*:
I could see there is a python wrapper available to perform the hot restart. But from where it needs to be invoked from?

[optional *Relevant Links*:]
https://www.envoyproxy.io/docs/envoy/latest/operations/hot_restarter#operations-hot-restarter
https://blog.envoyproxy.io/envoy-hot-restart-1d16b14555b5

[2021-06-11 08:23] #16438 closed

[2021-06-11 08:39] rojkov commented on #16594
This issue is an attempt to find people interested in the proposed functionality.

@ZackButcher I was told that you might know someone working on WAF in Envoy.

[2021-06-11 09:14] ramaraochavali commented on #16934
Currently hotrestart is not supported in Istio. Why do you want to hot restart it? Can you explain more about the usecase?

[2021-06-11 10:02] lokeshwaran100 commented on #16934
@ramaraochavali: I'm using [istio-csr](https://github.com/cert-manager/istio-csr) agent for provisioning external CA via cert-manager. In this case, the root certificate is provided by me. I might need to change this root certificate in future but not very often though. When I change the root certificate I need to delete the [istio-csr](https://github.com/cert-manager/istio-csr) agent pod, istiod

[2021-06-11 10:19] ramaraochavali commented on #16934
https://github.com/istio/istio/pull/31522 - Would this help?

[2021-06-11 10:32] ramaraochavali commented on #16898
@esmet Can you explain more about how to pass request headers from pod config? BTW, we are using gRPC external authz service. But I am curious to know how to pass pod config -> request headers? Sorry - I am not fully aware how that works.

[2021-06-11 11:01] ankatare opened #16937 "Resource Type in Dynamic Configuration Control Plane pointing to v2"
*Title*: *Resource Type is still pointing to v2*

*Description*:

[optional *Relevant Links*:]

[
  {
    "cluster": {
      "**@type": "type.googleapis.com/envoy.api.v2.Cluster"**,
      "name": "xds_cluster",
      "type": "STRICT_DNS",
      "connect_timeout": "1s",
      "http2_protocol_options": {},
      "load_assignment": {
        "cluster_name": "xds_cluster",
        "endpoints": [

[2021-06-11 11:08] phlax commented on #16937
this is due to config being initially consumed as v2 and then upgrading

once https://github.com/envoyproxy/envoy/issues/16456 is resolved this should hopefully be fixed

we could resolve in the short term by adding `--bootstrap-version=3` although im wondering if this has already been fixed by https://github.com/envoyproxy/envoy/pull/16274 and we just need to update the docs

i can check...

[2021-06-11 11:22] ankatare commented on #16937
@phlax just wondering this resource type is also supported in latest docker image ? is this behaviour is correct if we don't see docs ... as per my understanding v2 is no longer supported, right ?

[2021-06-11 11:36] phlax commented on #16937
no longer supported in the sense of being maintained etc - but scraping it out of the various bits of the codebase is an ongoing process

eg im currently working on removing it from the protos #https://github.com/envoyproxy/envoy/pull/16903

[2021-06-11 11:39] ankatare commented on #16937
@phlax Oh Ok. Got it. Thanks

[2021-06-11 11:59] phlax commented on #16937
checking this - it seems like its still an issue:

[code]

[2021-06-11 12:19] #15879 closed

[2021-06-11 12:45] rajneran7890 opened #16938 "How to call a service get response from it and extract the token and set that token in header and call other service"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

[optional *Relevant Links*:]

[2021-06-11 14:00] meteorcloudy commented on #16542
Ping!

[2021-06-11 16:25] irvifa opened #16941 "Issues when running proto_format script"
*Title*: *Issues when running proto_format script*

*Description*:
Running `tools/proto_format/proto_format.sh fix` script will cause error.

System information:

[code]

**Logs**
[code]

[2021-06-11 16:31] ZackButcher commented on #16594
cc @lizan @nullpo-head

[2021-06-11 20:01] #16324 closed

[2021-06-11 21:22] zuercher commented on #16925
This configures logging: https://github.com/envoyproxy/envoy/blob/a12869fa9e9add4301a700978d5489e6a0cc0526/test/config/integration/server.yaml#L53

It uses templates and is for testing log filter, so change path to an actual path on your system and remove the `filters:` section.

[2021-06-11 21:22] tonya11en opened #16945 "scoped routes: Derive keys from dynamic request metadata"
### Extend the route scope key builder to consider filter metadata

Currently the scope_key_builder's [fragments](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto#envoy-v3-api-msg-extensions-filters-network-http-connection-manager-v3-scopedroutes-scopekeybuilder-fragmentbuilder) only support extracting values fro

[2021-06-11 21:23] tonya11en commented on #16945
/assign tonya11en

[2021-06-11 21:42] zuercher commented on #16917
I'm not sure I understand what you're looking for. Pre-defined configs that can be referenced from the command line?

[2021-06-11 21:42] antoniovicente commented on #16542
cc @lizan @asraa @phlax

[2021-06-11 21:45] zuercher commented on #16934
Since this is more an Istio question than an Envoy one, I'm going to close it.

[2021-06-11 21:45] #16934 closed

[2021-06-11 21:55] zuercher commented on #16945
cc @htuch

[2021-06-11 23:15] codefromthecrypt commented on #16917
sorry I should have been more direct. What I mean is defaulting to the "current type" for well-known `name` keys. This treated the same whether it was passed as yaml literal or config.

ex treat
[code]

like

[code]

[2021-06-12 00:01] #16084 closed

[2021-06-12 10:28] ankatare opened #16950 "Graphical presentation Of Dynamic Configuration (Control Plane)"
*Title*: *Graphical presentation of feature "Dynamic Configuration (Control Plane)"*

*Description*:

https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/front_proxy

can we also have similar presentation for Dynamic Configuration (file system) and for Dynamic Configuration (Control Plane)

It gives better understanding for new users.

https://www.envoyproxy.io/docs/envoy/latest/start/sand

[2021-06-12 10:28] #16266 closed

[2021-06-12 12:01] #15787 closed

[2021-06-12 13:33] soulxu opened #16951 "envoy still try to create file event twice on the same fd when continue_on_listener_filters_timeout is true"
*Title*: envoy still create file event twice on the same fd when continue_on_listener_filters_timeout is true

*Description*:
This is a regression of the issue https://github.com/istio/istio/issues/18229 and it is fixed previously by https://github.com/envoyproxy/envoy/pull/8922

https://github.com/envoyproxy/envoy/pull/8922 clean the listener filter before create new connection. It works at the t

[2021-06-12 13:45] soulxu commented on #16951
/cc @lambdai

[2021-06-12 16:08] vinayreddy commented on #16482
Also, if anyone is able to build envoy on arm64 (as suggested on this issue), can you please share the binary so others can try it out?

[2021-06-12 17:00] clundquist-stripe commented on #11369
Yep! That confirms our findings!

[2021-06-12 21:38] mandarjog commented on #5536
@huang195 you had an experiment that showed much better latency when you change Linux scheduler settings, do you have a link to the documentation?

[2021-06-13 00:02] #16255 closed

[2021-06-13 01:32] moderation commented on #16482
@vinayreddy are you talking about M1 arm64 specifically or just arm64?  There are arm64 images at https://hub.docker.com/r/envoyproxy/envoy/tags?page=1&ordering=last_updated.  This is Ok if you have Docker. There are some hacky script ways to extract the binary from the images

I'm building on M1 but I compile out a bunch of extensions and you probably shouldn't trust a binary from random people o

[2021-06-13 04:18] vinayreddy commented on #16482
Yes, I was talking M1 arm64. Yes, I was able to run a docker image on my M1 mac, so that is something I can use to make progress.

Haha, fair point that I shouldn't run random binaries I find on the Internet.

[2021-06-13 06:15] kangrong-tencent opened #16954 "buffer_impl.cc bug"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*: buffer_impl.cc bug

https://github.com/envoyproxy/envoy/blob/b164962eb367e054df7fd563acce59663b16dd86/source/common/buffer/buf

[2021-06-13 08:05] lioaslan commented on #16925
I received this message
[code]
Do you have any idea? Following #14981, the upstream's connection might be closed. However, I don't think `websocket` will close the connection at any time.

[2021-06-13 17:27] sesha24 opened #16960 "GSLB loadbalancing in Envoy"
I dont see a way to configure Envoy to make a routing decision based on dns query from external dns server, something similar to GSLB loadbalancing with F5 GTM. If this is not available, can I submit a feature request for it?

[2021-06-13 20:01] #16081 closed

[2021-06-13 22:49] sesha24 opened #16961 "HA mode in Front Proxy Envoy deployment"
*Title*: *HA mode in front proxy deployment*

*Description*:

[optional *Relevant Links*:]

[2021-06-14 02:49] mk46 commented on #8799
Hi @derekargueta, I would like to work on this issue. Please feel free to assign me.

[2021-06-14 05:52] Shikugawa opened #16962 "Tracing context and access logging integration"
In this PR, we propose the ability to integrate metadata associated with HTTP tracing (e.g. Trace ID) with access logging.
For example, suppose a request generates a trace context like the following

[code]

By providing such a context to a dedicated access logging filter (this filter must be provided according to the tracing provider), the following log message is generated, for example.

[code]

[2021-06-14 06:56] Sooryaa-A commented on #16426
any update on this?

[2021-06-14 06:59] Sooryaa-A commented on #16426
any brainstorm happening, on how this can be achieved?

[2021-06-14 07:13] lioaslan commented on #16925
Thanks for support

[2021-06-14 07:13] #16925 closed

[2021-06-14 10:37] tsaarni opened #16967 "Pre-push hook fails on squash proto"
*Title*: Push fails to pre-push hook

*Description*:
Some days ago after merging with main, I started getting following error from pre-push hook

[code]

If running `./tools/proto_format/proto_format.sh fix` manually and answering `y` to the question if I'd like to apply the patches, the script would like to remove following files:

[code]

The PR that I work with, and where I see this problem is

[2021-06-14 10:41] phlax commented on #16967
cc @htuch

[2021-06-14 11:47] phlax commented on #16967
@tsaarni im not sure what is causing this in your env

i checked out your PR and ran both

[code]
and
[code]
both seem to have succeeded without any problems

also, given that this is working correctly (apparently) in CI - im thinking it must be an issue with your local env

[2021-06-14 12:19] jtway commented on #16425
I've seen that this issue has now been referenced by several others. Were we looking to keep this one a live and come to a consensus or let another issue, or issues, take this ones place?

[2021-06-14 12:45] rajneran7890 opened #16970 "Is there any way to disable lua filter for particular service or particular route"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

[optional *Relevant Links*:]

[2021-06-14 12:47] tsaarni commented on #16967
Running `rm -rf bazel-bin/external/envoy_api_canonical/` seems to fix it for me.  I was cleaning git repo but missed these files in bazel cache before.

Thank you for your help!

[2021-06-14 12:47] #16967 closed

[2021-06-14 13:10] #16875 closed

[2021-06-14 13:11] joseprupi commented on #16875
Thanks, I will take a look to those

[2021-06-14 13:32] mikirtn opened #16971 "envoy.filters.http.ext_proc release date enquiry"
***Title***: envoy.filters.http.ext_proc release date enquiry

***Description*:**
Hey everyone,
me and my team are eager to get http filter feature, and we didn't find any reference when it's going to get officially released,
the feature is External Processing Filter and may be referenced by the qualified name envoy.filters.http.ext_proc

**[optional *Relevant Links*:]**
Filter codebase: https://g

[2021-06-14 13:33] alyssawilk commented on #16929
@htuch that'd be ideal, but upstream filters aren't implemented yet :-)

[2021-06-14 14:08] alyssawilk commented on #16426
I think it's a reasonable feature but someone would have to sign on to do the work :-)

[2021-06-14 14:33] snowp commented on #16929
We do have upstream network filters, would that be sufficient?

[2021-06-14 14:41] alyssawilk commented on #16929
The ask was for per-request RTT so I _think_ not unless there's some clever way to communicate between the upstream network filter and the codec?

[2021-06-14 15:02] snowp commented on #16929
Could the network filter periodically update a value in the FilterState with the current (last read) RTT of the connection, allowing a filter to read this value from the upstream connection FS?

[2021-06-14 15:21] yanavlasov opened #16974 "Make QUIC, H/3 support non optional"
Presently QUIC, H/3 support in Envoy is optional and can be excluded from the build by setting the [disable_http3_setting](https://github.com/envoyproxy/envoy/blob/398794730b8a2651e004cfe2ca82de0eaa02ba4b/bazel/BUILD#L297) bazel option. In source code the inclusion is controlled by the `ENVOY_ENABLE_QUIC` macro.

Given the tight integration of QUIC with the Envoy core components the `ENVOY_ENABLE_

[2021-06-14 15:36] ggreenway commented on #16974
I think this change would also break https://github.com/envoyproxy/envoy-openssl

[2021-06-14 15:37] alyssawilk commented on #10646
I think this now goes beyond codec ingress into "untrusted data ingress"

We should probably be doing the trusted header checks after ext_proc and wasm to make sure
1) no x-envoy headers added by untrusted users
2) no spec violating or standard envoy guards (e.g. no Transfer-Encoding and Content-Length headers coexisting
3) no invalid input (bad characters, whitespace etc)

cc @PiotrSikora @mathet

[2021-06-14 15:50] alyssawilk commented on #16974
good point - ideally could be fixed with the same shims we need for the FIPs build but it'd take some digging - I don't recall where else the APIs differ

cc @danzh2010 @RyanTheOptimist @RenjieTang @DavidSchinazi

[2021-06-14 15:56] moderation commented on #16482
@vinayreddy good that you have an image running on your M1. I think today the only way to get an M1 Apple Silicon binary, that can run without Rosetta or virtualization like Docker, is the process I outlined at https://github.com/envoyproxy/envoy/issues/16482#issuecomment-846439439

[2021-06-14 16:25] alyssawilk commented on #16698
so at some point if a host is draining it's going to go away.  It sounds like what you really want here is a period where no new "sticky" sessions are assigned, but sessions already sticky to an upstream will be routed there?

You say on the doc that maglev might meet your needs if only you could route while draining, but I don't think either of your design options include routing to a host while

[2021-06-14 16:34] davinci26 opened #16976 "Test Flake: `//test/integration:health_check_integration_test` on Windows"
Test `//test/integration:health_check_integration_test`  is flaky on Windows

See run https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/78892/logs/169

Error stack trace:
[code]

I validated that I can repro it fairly consistently on my local devbox

[2021-06-14 18:39] #7583 closed

[2021-06-14 19:18] #16716 closed

[2021-06-14 19:24] wrowe commented on #16974
I'm strongly against this suggestion for the time being. Perhaps in a few years, but HTTP/1.1 is adequate for many applications and very few scenarios can take advantage of the parallel streaming features of H2/H3.

[2021-06-14 19:45] RyanTheOptimist commented on #16974
Summarizing an offline discussion. QUICHE is the library which Envoy uses for QUIC and HTTP/3 support. QUICHE is inherently tied to BoringSSL and does not work with OpenSSL. So without some significant support being added to OpenSSL, it will not be possible to QUIC/HTTP/3 with Envoy + OpenSSL. So this means we're likely stuck with some sort of compile-time conditional in some parts of the codebase

[2021-06-14 19:54] wrowe commented on #16974
Ryan is correct and it's a very important design consideration

Google QUICHE and BoringSSL is one unit

OpenSSL and h3 will be another solution

But none of this will ever be mix n match, there will be one TLS provider tied to one http3 implementation, so we should probably modularize things on that basis

[2021-06-14 19:59] ggreenway commented on #16974
@wrowe we've discussed this previously, and come to the conclusion that it's very unlikely we'll have a 2nd http/3 implementation in envoy, due to the amount of work involved in the first one, so I don't see us having both QUICHE+BoringSSL, and something-else+OpenSSL in the future. However, if OpenSSL could be supported with QUICHE, that would be an option.

[2021-06-14 20:16] DavidSchinazi commented on #16974
I'm aware of some folks running a fork of QUICHE that works with a fork of OpenSSL which adds functionality required by QUIC. If these QUIC-specific bits ever get merged to OpenSSL, we'll then consider supporting it in QUICHE. But I don't see this happening this year.

[2021-06-14 20:30] #16152 closed

[2021-06-14 20:33] tariq1890 commented on #10174
+1 We've observed this in our production services. Can this be re-opened please?

[code]

[2021-06-14 20:37] davidben commented on #10174
@tariq1890 That looks like a completely different error. (`CLIENTHELLO_TLSEXT` and `PARSE_TLSEXT` vs `TLSV1_ALERT_INTERNAL_ERROR`.) Yours means the ClientHello from the peer is invalid, which is certainly possible in production. The network is the network. Sometimes folks send you invalid stuff.

[2021-06-14 20:42] RyanTheOptimist commented on #16309
After digging into this with @alyssawilk I think we have a plan for how to do this. PR #16913 added an `addressList()` method to `Upstream::HostDescription`. This list will be populated by the DNS resolution code and will allow connection logic to potentially use any of the IP addresses to connect.

Figuring where to do the failover logic has been a bit tricky. Simplest would be to do the failover

[2021-06-14 20:53] mattklein123 commented on #16680
Do we really need this feature to be extensible? Do you have a use case for it? Can we just have the functionality be built-in?

[2021-06-14 21:20] paul-r-gall commented on #16680
I think that if we want to provide filtering by _arbitrary_ predicates, then it needs to be extensible.

I.E., the end user knows best what parameters they want to match on and how that matching works, and we should provide the framework/ability for them to override the whatever default name/metadata matching we settle on.

[2021-06-14 21:44] moderation commented on #16974
@wrowe I suspect your objection is making QUIC / HTTP/3 non-optional (versus leaving it as something that can be compiled out)? If HTTP/1.1 is adequate you can configure Envoy to only process that version of the protocol upstream + downstream.

HTTP/3 is already 12% of internet traffic. HTTP/2 is 66% (specification finalized in March 2015). HTTP/1.1 is at 22% - https://radar.cloudflare.com/#anchor

[2021-06-14 23:14] jpeach commented on #16867
FYI https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=987544

[2021-06-15 01:36] wbpcode commented on #16698
Yes.

The draining host is special. Because it has been removed from the hosts set of the cluster, we may need to think more about it. But unhealthy host and degraded host can use the cookie scheme to maintain the existing sticky session.

I am happy to implement it.

[2021-06-15 02:11] daixiang0 opened #16981 "Optimize admin stats memory use"
*Title*: *Optimize admin stats memory use*

*Description*:

Prometheus admin stats handler cost too much memory as #16139(https://github.com/envoyproxy/envoy/issues/16591) said.

Now all serialized bytes are always buffered in the admin handler, then they may also be buffered in the networking layer for a slow client.

Details refer to [Google docs](https://docs.google.com/document/d/1k2wyZo1pGr8_

[2021-06-15 02:13] jmarantz commented on #16981
Any particular reason why we need both this Issue and the one referenced?

[2021-06-15 02:17] daixiang0 commented on #16981
Just think it would be clear to track all memory related issues in stats field, and also it is a summary/proposal.

[2021-06-15 02:43] htuch commented on #16174
@shamsimam do you pan on working on this one?

[2021-06-15 03:25] htuch commented on #10646
Just ext_proc/wasm or all HTTP filters?

[2021-06-15 03:27] htuch commented on #16929
Yeah, I think periodic update for RTT might be plausible as an approximation with a snapshot on downstream HTTP events, previously discussed with @efimki. I'm hoping we get upstream HTTP filters soon though :)

[2021-06-15 03:51] antoniovicente commented on #10646
For efficiency reasons it may make sense to have options to skip some of these checks after specific filters that are trusted enough to not introduce badness.  But effectively yes, it would be good to perform this sort of consistency check after each HTTP filter that can perform request or response header transformations.

[2021-06-15 08:01] #16096 closed

[2021-06-15 11:06] PiotrSikora commented on #10646
Note that we would want to perform those checks inside the Wasm HTTP filter at the time when a change to headers happens, so that we could return an error back to the caller, not afterwards.

[2021-06-15 14:02] snowp commented on #15409
Digging into this a little bit there are some immediate incongruences between the current route API and what it would look like with the match tree. For example, it would have been nice to be able to have the match action used in the match tree be the existing `Route` proto, but this is problematic because the current `Route` proto also includes the match criteria for the route, which would be spe

[2021-06-15 14:24] shamsimam commented on #16174
@htuch I am not planning on working on this at least for the next few months.

[2021-06-15 15:14] mattklein123 commented on #16974
I think we need to separate the two different threads in here:
1) H1 vs. H2/3: We are not talking about removing H1 and Envoy will always be able to be configured to proxy H1.
2) The actual issue of whether H3/QUICHE is built-in or a compile time extension. On this point, some history: QUICHE/H3 used to be an extension, and it was so hacky that we replaced it with the current compile time option.

[2021-06-15 15:17] mattklein123 commented on #16680
I apologize for being dense, but can you help me with a contrived example of what a different extension might do?

[2021-06-15 15:29] #13948 closed

[2021-06-15 15:46] nulltrope opened #16986 "[Question] Filter access logs from specific route"
*Title*: *Filter access logs from specific route*

*Description*:
I have an HTTP listener with two static routes. One of these routes is used for an oauth callback and as such contains sensitive information in its query params, so I would like to exclude logs for only this route from my access logs.

It seemed the best way to do this was to add filter metadata on that specific route, and then use

[2021-06-15 15:46] paul-r-gall commented on #16680
More likely than not it's me who's being dense.

I was considering a search query like "All dynamic route configs that include a route which maps to cluster `xyz`", or "All scoped route configs whose first key fragment = `123` and whose second key fragment = `456`". Additionally, a custom extension would have the option of doing different matching for different config types, as opposed to a single

[2021-06-15 16:35] apolukhin opened #16987 "Option to auto dump active configuration and start Envoy with it"
There may be cases when the xDS services go down and Envoy is restarted at the same time. In that case Envoy would wait for the xDS services to start, probably loosing the traffic.

A local dump of configuration would allow Envoy to start with latest configuration, without waiting for the xDS services.

*Relevant Links*:
Looks like this functionality was requested on stackoverflow too https://stac

[2021-06-15 16:38] davinci26 commented on #16976
I did a binary search on the latest commits and I see that this is caused by https://github.com/envoyproxy/envoy/pull/16821

I am not 100% sure how these two are connected, I will have to look into it more.

[2021-06-15 16:41] phlax commented on #16867
A quick update on this

I have a ~working prototype that builds debs/rpms for arm and x86 architectures, and tests them installed in a distro containers (#16899 )

It still needs to be figured out how this can best/most efficiently fit into the CI but it seems to mostly work so far

One issue i have is that building with rbe - there isnt an `rpmbuild` binary for rpms - but its possible that we cou

[2021-06-15 16:42] davinci26 commented on #16976
closed by ##16980

[2021-06-15 16:42] #16976 closed

[2021-06-15 17:04] junr03 opened #16988 "benchmarking: add ability to trace Envoy code paths"
benchmarking - add ability to trace Envoy code paths

*Description*:
It would be useful to be able to instrument Envoy code with tracing elements that time code execution in order to measure time spent in any given code path. The desired output would look similar to a flamegraph, but specific to codepaths that are instrumented.

This would allow developers to be more targeted in their benchmarking

[2021-06-15 17:24] mattklein123 commented on #16988
cc @rojkov @jmarantz for perf expertise.

[2021-06-15 18:05] jstewmon opened #16991 "UPSTREAM_TRANSPORT_FAILURE_REASON not populated when tls handshake fails with unsupported cipher suites"
*Title*: UPSTREAM_TRANSPORT_FAILURE_REASON not populated when tls handshake fails with unsupported cipher suites

*Description*:

We deployed an updated envoy image yesterday, including a version change from 1.16 to 1.18. Following the deployment, envoy started issuing local 503 replies with RESPONSE_CODE_DETAILS of `upstream_reset_before_response_started{connection_failure}`.

I added `upstreamTr

[2021-06-15 21:18] nulltrope commented on #16986
I came across #3006 and it looks like I misunderstood the difference between route metadata and dynamic metadata. It seems like the access log filter can only work on the latter.

Unless i'm missing something, it does not look possible to filter logs by route metadata which is a bummer.

[2021-06-15 22:01] PiotrSikora commented on #15145
V8 team is working on this right now, and V8 v9.3 (branch cut on 7/15) should have native Bazel support.

[2021-06-15 23:20] #16523 closed

[2021-06-16 00:04] ggreenway commented on #12807
@Bhaarat-khatri In the last PR working on this, it felt like more work than it was worth to figure out what should and what shouldn't be in the dictionary. If you really want to take a stab at it, go ahead, but there's a good chance it won't make it through the review process.

If you don't feel like you want to work on this, I think I'll take no-stalebot off of this issue.

[2021-06-16 00:18] wrowe commented on #12807
I agree it's a hassle, but I will take point on reviewing proposed PR's

[2021-06-16 01:26] htuch commented on #16174
Ack, I'll leave this Help Wanted as it seems a reasonable ask.

[2021-06-16 01:28] htuch commented on #16945
Sure, this makes sense.

[2021-06-16 06:28] ankatare opened #17000 "ci build for docs giving - ModuleNotFoundError: No module named 'pip'"
*Title*: *ModuleNotFoundError: No module named 'pip' Error while running docs ci locally*

*Description*: Need help on fixing error as described below

[code]

[2021-06-16 07:36] lum1n0us opened #17003 "A linking error during test"
*Description*:
Meet such a linking error during running test cases.  Needs help.

[code]

*Repro steps*:
with such a command :
[code]

It also happens when using `bazel.dev`, `bazel.compile_time_options`.

It also happens after a system reboot.

[2021-06-16 07:39] phlax commented on #17000
im not sure i understand why this would happen now - ie i dont think anything changed in the build image or docs build that would cause this

regardless, #15229 is about to land at which point `pip` wont be necessary at all

[2021-06-16 08:10] rtttech opened #17004 "how to capture and handle upstream connection failure in wasm"
Is it possible to capture and handle upstream connection error in wasm?

[2021-06-16 13:09] phlax opened #17008 "Add message to fix editor on glinter format errors"
### description

currently if glint fails its not easy to tell what the problem/fix is if you dont know in advance

it would be helpful to add general fix-your-editor advice in this case

[2021-06-16 14:42] ankatare commented on #17000
humm. even i tried debugging it locally. not sure why it is hapening.   Would be great helpful if you help here !!!

[2021-06-16 14:43] phlax commented on #17000
are you using the most recent `envoy-build-ubuntu` image ?

[2021-06-16 14:44] ankatare commented on #16937
Ok.

[2021-06-16 14:46] ankatare commented on #17000
Yeah, it is latest cloned as  referred in  https://www.envoyproxy.io/docs/envoy/latest/start/install#install-envoy-on-ubuntu-linux

[2021-06-16 14:47] phlax commented on #17000
hmm - what im struggling to understand is that if you are running inside that container then that should be the same as in ci (i dont use that image so i cant test immediately)

[2021-06-16 14:48] phlax commented on #17000
what do you get for ?

[code]

[2021-06-16 14:57] ankatare commented on #17000
ok. will get back ASAP

[2021-06-16 15:34] akonradi commented on #10030
@mattklein123 @goaway thoughts on the above?

[2021-06-16 16:05] AshRing commented on #16217
I am still dealing with this issue. These are the only logs from the envoy filter on the pod that is returning 413
[code]

[2021-06-16 16:25] conqerAtapple opened #17012 "Question: How to embed XDS client in Envoy"
*Title*: *How to embed XDS client in Envoy*

*Description*:
We are currently exploring possibilities of a file system based configuration reader which does the following:
- Reads any updates to configuration from a  file/directory
- Translates the configuration changes (whole or delta) to XDS
- Speaks XDS to Envoy's XDS listener.

How can we achieve this within Envoy? One possibility is to launch

[2021-06-16 16:34] conqerAtapple opened #17013 "Load balancer: Pluggable subsetting for load balancers"
*Title*: *Load balancer: Pluggable subsetting for load balancers*

*Description*:
We would like to have a pluggable component for feeding the subset of endpoints that feeds into the  load balancer system such that it allows different subsetting schemes like deterministic subsetting. This will keep the load balancing scheme decoupled from the subsetting scheme. Without a pluggable subsetting scheme

[2021-06-16 17:25] mattklein123 commented on #10030
I think this is probably a different issue. If you can reproduce it can we debug it directly?

[2021-06-16 17:51] akonradi commented on #11318
Expounding on the above, `std::string(x)` creates a new string object by copying the contents of x. That's great and necessary if the string needs to outlive `x`, but if not then the copy is just wasting CPU time. If you can replace `std::string(x)` with just `x` and all the tests still pass, then that conversion probably wasn't required! You might come across a few places where a `string_view` is

[2021-06-16 18:42] mattklein123 commented on #16309
Do we think we will want this behavior to be configurable? Do we want all callers of this low level API to get this functionality? That would be my main concern.

[2021-06-16 19:40] #17008 closed