[2018-04-04 02:45] dio commented on #2909
I have a feeling this just needs to `Z_FINISH` somewhere, probably before this line:

https://github.com/envoyproxy/envoy/blob/master/source/common/compressor/zlib_compressor_impl.cc#L71

[2018-04-04 03:59] ilevine commented on #2852
@mattklein123 @gwenshap @ebroder @wushujames: take a look at https://medium.com/solo-io/introducing-gloo-nats-bring-events-to-your-api-f7ee450f7f79 & https://github.com/solo-io/envoy-nats-streaming - love to get your thoughts ....

[2018-04-04 04:27] mattklein123 opened #2989 "tracing: revisit startup local info error handling"
While doing the reorg in https://github.com/envoyproxy/envoy/pull/2983#pullrequestreview-109116951 I noticed that the startup error handling for cluster in local info didn't really make any sense so I removed it. This issue will track figuring out what kind of error handling, if any, we want to have on a per tracer plugin basis. If we want it, it should probably be done as part of the base tracer

[2018-04-04 06:48] c52662 opened #2990 "my service failed with 503 err and msg "upstream connect error or disconnect/reset before headers""
## my service failed with 503 err and msg "upstream connect error or disconnect/reset before headers"

Hi,

I deployed istio 0.6.0 on a K8s cluster version 1.8.3, and the official sample BookInfo worked fine on the cluster. I have written my own service named "hello-test" in python and manually injected istio sidecar (enovy-debug).

Now I'm trying to deploy two instances of "hello-test" hoping eve

[2018-04-04 10:04] lps0535 opened #2991 "Is there a way to expose a gRPC service as only HTTP and not as a gRPC service?"
*Title*: *Is there a way to expose a gRPC service as only HTTP and not as a gRPC service.*

*Description*:

Considering the following Config file, how should I expose Bookstore service only as HTTP and not as gRPC.

*Config*:
[code]
Many Thanks,
Sidhu

[2018-04-04 14:50] dio opened #2994 "Unable to build envoy@master with data-plane-api@master"
It seems `@envoy_api//envoy/config/filter/http/ext_authz/v2` doesn't exist (it is moved to `v2alpha` since this commit: https://github.com/envoyproxy/data-plane-api/commit/f88047c0d470352ad1bf6a97dd64155bc65047a0).

Potential fix: https://github.com/envoyproxy/envoy/issues/2851#issuecomment-378438723 (thanks @yuval-k!).

*Repro steps*:
1. Fetch `envoyproxy/envoy@master` HEAD
2. Build it by overrid

[2018-04-04 16:12] mattklein123 commented on #2994
@dio @saumoh @gsagula can someone please do a PR to fix master?

This pain will end once @htuch merges data-plane-api into this repo.

[2018-04-04 16:13] shauneq opened #2995 "Can I build outside of/without the envoyproxy/envoy-build-centos docker container"
*Title*: *Can I build outside of/without the envoyproxy/envoy-build-centos docker container*

*Description*:
I see that run_envoy_docker.sh pulls down envoyproxy/envoy-build-centos from docker hub and build inside that container.   Is it possible to build outside of the docker container?  I realize I may be asking for a world of hurt, but our issue is that our builds must completely isolated from

[2018-04-04 16:30] saumoh commented on #2994
if @dio or @gsagula are not already working on this then I can pick it up.

[2018-04-04 16:35] dio commented on #2994
I'm pushing it now 🙂. Just a quick check building in my local.

[2018-04-04 16:56] prune998 commented on #2941
I also noted something special with the pool of TCP cnx used by Envoy when using gRPC Streams.
# setup
- Envoy installed as K8s Ingress using Istio
- Istio `DestinationPolicy` defined for the the service as :
[code]
- I can confirm envoy is using my setup doing a `curl http://localhost:15000/clusters` :
[code]
Note that the `httpMaxRequestsPerConnection` parameter is not displayed here...

# load

[2018-04-04 17:05] mattklein123 commented on #2990
@c52662 I would recommend asking this question over at the Istio project.

[2018-04-04 17:30] ilackarms commented on #2991
@lps0535 after https://github.com/envoyproxy/envoy/pull/2848 is merged, you will be able to do this.
instead of adding a route for `/bookstore.Bookstore/ListShelves`, you'll instead add a route that matches the route specified in your `proto` file (in this case, `/shelves`)

[2018-04-04 19:26] #2994 closed

[2018-04-04 20:44] jrajahalme commented on #2551
@htuch Should this be assigned to someone who knows their Bazel? I've have to rely on the workaround but would rather not.

[2018-04-04 20:55] htuch commented on #2551
I think we should switch over from the old way of link stamping. We no longer need a Python script for this. @jmillikin-stripe is leading the Bazel efforts, so I'd defer to him on this.

[2018-04-04 21:50] lizan commented on #2991
You can define your route with a HeaderMatcher to match "x-envoy-original-path" header. All transcoded request has this attached but native gRPC requests don't.

[2018-04-04 22:01] merge03 commented on #2181
@dio Option #1 worked just fine.  Just noting that the file needed to be in the ./ci directory.  Didn't try #2.

Thanks for the help!

[2018-04-04 22:09] mattklein123 commented on #2797
@caniszczyk asks that we look at https://probot.github.io/apps/ first to make sure we can't use existing bots.

[2018-04-04 22:42] ggreenway opened #3005 "TSAN error triggered by std::string race in FakeRawConnection::write in builds from Centos docker container"
This is the same as #944. This is still happening in builds in the centos docker container.

It appears this is an issue with the centos devtoolset toolchain.

See:
https://bugzilla.redhat.com/show_bug.cgi?id=1546704
https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_dual_abi.html

[2018-04-04 23:49] wrowe commented on #2920
In Approach 2. above, typically a different signal is used for a graceful stop, such as SIGHUP. SIGTERM well-known behavior should not be altered.

[2018-04-05 09:20] glicht opened #3006 "access_log: support for logging route/listener/cluster metadata"
*Title*: *access_log: support for logging route/listener/cluster metadata*

*Description*:
Suggest by @htuch during review of implementation of access log support for dynamic metadata (#2895) .  There are cases that logging route/listener/cluster metadata can come useful such as multitenant environments.

[2018-04-05 14:52] #2709 closed

[2018-04-05 17:04] qiwzhang opened #3008 "Optimize per_route config pre-processing for filters."
*Description*:

This is referring to the new per_route_config added in https://github.com/envoyproxy/data-plane-api/pull/605#discussion_r179527576

Specifically to optimize the pre-processing of per-route config.  Here is the proposal

 like to clarify how per_route_config_sha can be used.

A filter needs to preprocess the per_route_config.

obj = pre_process(pre_route_config);

Such pre-processin

[2018-04-05 17:43] wrowe commented on #2920
Note also in the observations for 2. above, that keeping the listener alive after SIGTERM is clearly erroneous, a bug in its own right; that is unrelated to the desire for a TCP drain functionality.

[2018-04-05 17:47] rosenhouse commented on #2920
That may be a formatting oversight in the issue.   I'm pretty sure Envoy just quits on SIGTERM.

[2018-04-05 17:52] alyssawilk opened #3010 "bind to port ranges"
Similar to https://github.com/envoyproxy/envoy/issues/1411 we have a need to be able to specify port range valid for binding.  Something like "bind to some port between 1000-2000 for [various traffic steering reasons]

Unless anyone objects I'd suggest we do the ugly-but-working method of changing our current "best effort bind to this address" to "really best effort try a couple of ports in the sp

[2018-04-05 18:33] curiouserrandy commented on #3010
Does you think it make sense to include as part of this a DB of some sort tracking what addresses are already in use by the envoy instance, so that it doesn't waste time colliding with addresses it's already bound?  Or will this code be executed often enough in a context where the port namespace is shared with other processes that the extra complexity won't be worth it?

[2018-04-05 19:11] alyssawilk commented on #3010
I think the latter is likely enough that the extra complexity is probably not worth it.  Plus it can't hurt to start simple - we can always enhance later :-)

[2018-04-05 22:57] maxburkhardt opened #3011 "Feature Request: be able to set Connection header in some cases"
*Description*:
We're using Envoy as an inbound proxy in front of many of our services. For a given service, there will be some number of hosts, each running Envoy to receive client connections. During something like a deploy, some percentage of these hosts' services will go down. We've observed that when this happens, Envoy will send back 503s to clients, but will keep the TCP connection open, and

[2018-04-06 16:33] mattklein123 commented on #3011
This is somewhat related to https://github.com/envoyproxy/envoy/issues/2703. We will be giving filters the ability to close the downstream connection. I think we could potentially consider an option to the router filter to handle no available upstreams by closing the downstream connection.

[2018-04-06 17:02] mattklein123 opened #3012 "loss of coverage of logging paths"
One thing I noticed in looking at our current coverage report is that due to https://github.com/envoyproxy/envoy/pull/2751 we are now missing coverage of a bunch of logging paths because we don't evaluate the log unless we are at a sufficient logging level.

This is good for performance, but it's kind of bad from a test perspective because we might now have crashing issues that we don't know about

[2018-04-06 17:06] ggreenway commented on #3012
How about by default, log to a file at trace level (somewhere in the sandbox). Then it doesn't clutter stdout/stderr.

[2018-04-06 17:07] mattklein123 commented on #3012
@ggreenway that's definitely an option.

[2018-04-06 18:14] cmluciano commented on #2986
@ggreenway Can you assign this issue to me?

[2018-04-06 18:33] #2888 closed

[2018-04-06 18:51] htuch opened #3016 "TSAN flake in ratelimit_integration_test"
https://circleci.com/gh/envoyproxy/envoy/38622?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

Looks logging related (possible related to new log sinks delegates @jmarantz):

[code]

[2018-04-06 19:12] ggreenway commented on #3016
I've seen this class of failure before. This will always happen with BackwardsTrace stuff compiled in if any signal is raised, because using spdlog from inside a signal-handler is unsafe (as the thread sanitizer says) because it uses malloc/free.

One solution is to compile out the backtrace stuff from TSAN builds.

[2018-04-06 19:19] #2902 closed, assigned to htuch

[2018-04-06 20:30] htuch commented on #3016
Seems alright; ideally we would get to the point that we have human readable backtraces in CI on signals though.

[2018-04-06 20:30] #2978 closed

[2018-04-06 20:32] ggreenway commented on #3016
Oh, I forgot to mention: usually when I've seen that error, the REAL error is that there was a signal raised (usually SIGABRT from an ASSERT or SIGSEGV). So check if there is a log above it about what caused the original problem.

[2018-04-06 20:49] #2725 closed

[2018-04-06 21:46] pitiwari opened #3019 "stats: envoy prometheus endpoint fails promlint due to format issue"
Fix Envoy route config name for Prometheus metrics

Description:
Need to move route config name as part of Prometheus metrics label, so that:

1. Prometheus fails to scrap data because of format incompatibility. Having "-" in the tag value causes the failure.

$ cat test.txt
envoy_http_rds_test-ing-route-config_update_rejected{envoy_http_conn_manager_prefix="ingress_http"} 0
envoy_http_rds_test-in

[2018-04-06 22:54] cpakulski commented on #3012
My first reaction to this was to redefine LOG macros when running in test mode, but tests usually just link with precompiled modules, so it will not help. Looks like we have to lower severity to trace at the beginning of each test sequence (maybe based on --loglevel argument) or hijack spdlog::level method to always return "trace".

[2018-04-06 23:39] mattklein123 commented on #3012
@jmarantz @cpakulski @ggreenway what if we just run logging at trace level for the coverage build only, and point the logs to somewhere on the filesystem per @ggreenway to avoid epic noise in the default test logs? I think this would make everyone happy?

Effectively as long as we don't do this on the release test build I think we make everyone happy?

[2018-04-06 23:51] rgs1 opened #3022 "extend the buffer filter to support max_request_idle_time"
Currently the buffer filter [0] allows us to set two limits:

1) `max_request_bytes`
2) `max_request_time`

There is an additional limit that we need to enforce in our production environment which is:

3) `max_request_idle_time`

This new limit is different than the `idle_timeout` in the HttpConnectionManager [1], given the latter refers to a timeout between requests whereas `max_request_idle_time

[2018-04-07 00:04] mattklein123 commented on #3022
@rgs1 my preference would be to tackle as part of https://github.com/envoyproxy/envoy/issues/1778. Opening this issue has made me realize that we should implement the per frame timeouts in two different places.
1) Downstream timeouts should be in the connection manager itself (to augment the existing idle timeout)
2) Upstream timeouts should be done in the router.

We can make this configurable on

[2018-04-07 01:33] jmarantz commented on #3012
@cpakulski I think "--loglevel trace" can applied to the unit test binary. Will have to plumb that through to invocations of envoy-static in integration test scripts as well, perhaps based on an env var exported in the coverage script.

No spdlog overrides or any other C++ changes are required for this, AFAICT.

The coverage report is generated by running all the tests, but the report excludes tes

[2018-04-07 02:50] mattklein123 commented on #3012
I think all that is needed is to basically add `--test_arg="-l trace"` here: https://github.com/envoyproxy/envoy/blob/master/test/run_envoy_bazel_coverage.sh#L36.

I think there might be a bit more work to do if we want the logger to log to a file (probably `/dev/null`), but I think that is basically just replicating https://github.com/envoyproxy/envoy/blob/master/source/server/server.cc#L57 here:

[2018-04-07 02:51] mattklein123 commented on #3022
@rgs1 I would recommend doing it per-route in all cases, possibly with a default set for downstream data frame timeout at the listener/conn_man level. Reason being that I can easily see people wanting to override this at the route level in both directions.

[2018-04-07 03:56] ramaraochavali opened #3023 "Support Caching in External Auth Filter"
Currently External Auth filter reaches out to configured external auth service for every request. This is a performance penalty. It should support some level of caching so that it does not go to external auth for every request

[2018-04-07 11:01] ramaraochavali opened #3024 "Misleading log lines when ADS stream is disconnected"
When envoy is not able to reach management server, it logs the following errors continuously. While the first message about stream closed is correct, the other messages specifying that Listener failed etc are misleading. It is easy to get confused if we do not see the first message that some update has come and it failed to update in Envoy.  Can we omit these messages of gRPC stream it self is dis

[2018-04-08 05:52] gsagula commented on #2909
@mattklein123 @yudiandreanp Sorry, I just saw this one. For some reason, I'm not receiving GH notifications. Let me take a look at.

[2018-04-08 05:57] dio commented on #2909
@gsagula when you have time, could you have a quick look at #3025? Thanks!

[2018-04-08 14:16] c52662 commented on #2990
@mattklein123 OK, Thanks!

[2018-04-08 14:17] #2990 closed

[2018-04-09 03:12] jmarantz commented on #3012
I was wondering how much logging would actually be there with tracing enabled...would it really be that bad for the coverage run?  E.g. would it exceed circleci resources or make the file unloadable?

I don't have any objection to redirecting to a file for tests...i was just wondering how bad it would be just to set the loglevel.

[2018-04-09 12:38] cpakulski commented on #3012
@jmarantz - thank you for explaining how it works. @mattklein123 - ok, my changes caused this issue, so I will take this task.

[2018-04-09 14:21] JonathanO opened #3028 "Add support for TCP Keepalives"
*Description*:
TCP keepalives should be configurable per cluster.

This allows detection of middleboxes silently dropping long lived but mostly idle connections, which could otherwise go unnoticed by one side. This is especially important for the Envoy -> *DS connection, where a silently dropped connection will probably go unnoticed the Envoy instance (and it'll receive no further discovery update

[2018-04-09 16:08] mattklein123 commented on #3012
@jmarantz @cpakulski we can definitely try just turning on trace logging on the coverage build and seeing if it works. I would give that a shot first since it's a trivial change. If we need to `/dev/null` the logs I think it's only a very small incremental amount of work.

[2018-04-09 16:37] ggreenway commented on #3012
Logging to /dev/null should just be one more command-line argument. Except if we support any platform that doesn't have /dev/null (like windows).

[2018-04-09 16:40] jmarantz commented on #3012
In windows you can use "NUL":
https://stackoverflow.com/questions/313111/dev-null-in-windows

[2018-04-09 16:42] mattklein123 commented on #3012
The issue is the test harness currently doesn't support that CLI arg. It would be a trivial change (see my code links above).

[2018-04-09 19:22] mrice32 opened #3032 "Add "extension_name" parameter for non-test targets"
*Description*:
The new extension refactor has made our site-specific modifications much easier.  However, it might make it even better if there was an "extension_name" parameter for non-test targets as well.  That would mean a build across the entire repo would not build unwanted extensions because the targets would not exist.  Are there any concerns about doing something like this?

[2018-04-09 19:32] mattklein123 commented on #3032
@mrice32 why would they build? Bazel dependency tracking should take care of it. No?

[2018-04-09 20:29] kevintchan commented on #2269
Hi I'd like to make this happen. Users should be able to specify as many overrides as they would like. For cases where the intention is to append a repeated entry, would it make sense to infer override vs. append depending on whether the proto text was an array or a single value ?

Envoy should exit if bootstrap overrides are present and:
- config is not v2
- validation of bootstrap after override

[2018-04-09 20:30] mattklein123 commented on #2269
@kevintchan conveniently, this was already implemented: https://www.envoyproxy.io/docs/envoy/latest/operations/cli#cmdoption-config-yaml

Closing. :)

[2018-04-09 20:30] #2269 closed

[2018-04-09 21:18] mrice32 commented on #3032
Sorry, I should've been more clear.  I'm talking about if you were to run `bazel build //source/...`, I think bazel will attempt to build all targets - including ones that aren't used by any binaries.  Our internal CI does this (as does Envoy CI IIUC).  If this is atypical for site-specific deployments in the Envoy community, we're happy to just handle it internally.

[2018-04-09 21:27] mattklein123 commented on #3032
@mrice32 I see. I can't speak for others, but for our production build we just build our exe target and let bazel figure out the rest.

[2018-04-09 23:37] mattklein123 commented on #2995
Closing as answered.

[2018-04-09 23:37] #2995 closed

[2018-04-09 23:38] mattklein123 commented on #2991
Closing as answered.

[2018-04-09 23:38] #2991 closed

[2018-04-10 03:18] nguyenminhthu1994 opened #3038 "How to map HTTP header to gRPC metadata"
Description:
I'm building gRPC-JSON transcoder with Envoy proxy and I want map HTTP header to gRPC metadata but haven't documented on https://www.envoyproxy.io/docs.
I was mapped HTTP header to gRPC metadata by add 'header_name':'data' and read it from
gRPC metadata on gRPC server.
I want verify my approach is correctly? and can send to me any document about this.
Thank you.

[2018-04-10 16:00] htuch commented on #2847
I think this is resolved in #2848, please reopen if not.

[2018-04-10 16:00] #2847 closed

[2018-04-10 16:31] mattklein123 commented on #3038
@nguyenminhthu1994 sorry can't understand the question. Can you rephrase?

[2018-04-10 16:40] #1341 closed

[2018-04-10 16:40] #2987 closed

[2018-04-10 17:34] rgs1 opened #3043 "detect if per_connection_buffer_limit_bytes is configured correctly"
How do people go about properly configuring `per_connection_buffer_limit_bytes`? One way I can think of is by monitoring how often 413s happen. But that wouldn't really tell you if you connections are frequently stalling due to waiting on their buffer to be flushed out.

I couldn't find any counter that reflects when the network buffer is full and connections have to wait. If there really isn't an

[2018-04-10 17:40] kevintchan commented on #2544
I'll take this. Here's what I intend to add to the . As @ccaraman suggested I'll use the pattern of match specification from [HeaderMatcher](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#route-headermatcher). I did omit the `value` and `regex` fields though, I'm guessing they're from an earlier version of the API.

[code]

[2018-04-10 17:53] pitiwari commented on #3019
I have a pr for this issue, will push in sometime

[2018-04-10 19:44] mattklein123 commented on #3043
@rgs1 See all the stats with "flow_control" in them. We have pretty copious stats for flow control stop/start in both downstream/upstream direction.

[2018-04-10 20:53] rgs1 commented on #3043
ah -- missed those. i think:

[2018-04-11 03:30] nguyenminhthu1994 commented on #3038
@mattklein123 Sorry about indistinct.
I have built gRPC-JSON transcoder with Envoy proxy and next step I want map HTTP header to gRPC metadata but on https://www.envoyproxy.io/docs haven't any document about this.

After, I was added HTTP header is 'metadata-added' with content is 'message'
![request](https://user-images.githubusercontent.com/25716532/38594500-bcaac450-3d70-11e8-9122-e1423f48c687.

[2018-04-11 07:39] georgi-d commented on #2880
One other option to look at is the [picohttpparser](https://github.com/h2o/picohttpparser) which according to the benchmark on its page should be about 3-5x faster than http-parser

[2018-04-11 07:55] StephenSeraph opened #3055 "server streaming dose not work well"
*Title*: *server streaming dose not work well*

*Description*:
I am a newer of Envoy, and I write a demo by Nodejs.
It work well, except the server streaming.

[optional *Relevant Links*:]
[node-demo-grpc-envoy](https://github.com/StephenSeraph/node-demo-grpc-envoy)

*Config*:
[code]

[2018-04-11 08:08] brian-pane commented on #2880
Thanks for the pointer; I'll take a look at picohttpparser.

[2018-04-11 14:17] cpakulski commented on #3012
I am trying to find out how adding --test_arg="-l trace" to https://github.com/envoyproxy/envoy/blob/master/test/run_envoy_bazel_coverage.sh#L36 would initialize spdlog for each unit test. I see a handler for "-l" in https://github.com/envoyproxy/envoy/blob/master/source/server/options_impl.cc#L67-L69, but this is for main binary, not unit tests.

[2018-04-11 14:35] taion809 commented on #2100
just an update:  i was on call @ work last week so I didn't get a chance to look into this.  I'll be waiting until the docs move from data-plane-api to here before submitting a PR.

[2018-04-11 16:03] mattklein123 commented on #3012
@cpakulski see the links in https://github.com/envoyproxy/envoy/issues/3012#issuecomment-379427024. Specifically test_runner.h

[2018-04-11 16:10] mattklein123 commented on #3055
@StephenSeraph going to need a more complete issue report. Not sure what "not work well" means.

[2018-04-11 16:13] mattklein123 commented on #3038
@lizan any idea on this one?

[2018-04-11 17:38] lizan commented on #3038
@nguyenminhthu1994 Yes your understand is correct. gRPC metadata is HTTP header by [its HTTP2 mapping spec](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md#requests).

[2018-04-11 18:21] bndw opened #3056 "HTTP and TCP filters on a single listener"
#### HTTP and TCP filters on a single listener

*Description*:
I'm attempting to configure a single listener to service both TCP (redis) and HTTP traffic in `v1.5.0`, but receiving protocol errors. I've tried reordering the filters.

Is this working as designed?

[2018-04-11 21:25] mattklein123 commented on #3056
This won't work today. It's possible in the future we can do this via filter chain matching as well as protocol inspection via a listener. See also https://github.com/envoyproxy/envoy/pull/2949.

[2018-04-12 01:37] bplotnick opened #3058 "Outlier Detection for TCP"
*Title*: *Support outlier detection for TCP mode*

*Description*:
TCP is currently supported for active health checking, but is not supported for passive health checking. There are a few ways that this could be implemented. I'm thinking the simplest check would be TCP connection failures (this is what HAProxy does for layer4 health [observing](https://cbonte.github.io/haproxy-dconv/1.7/configurati

[2018-04-12 01:58] StephenSeraph commented on #3055
@mattklein123  Thanks for your reply!
[node-demo-grpc-envoy](https://github.com/StephenSeraph/node-demo-grpc-envoy) is the complete demo program.
"Not work well" is about the server streaming mode. In the demo, server end pushes data every 2s, but then, about 15s later, the connection closed unexpectedly.

[2018-04-12 02:38] nguyenminhthu1994 commented on #3038
@lizan Thanks for your answer.

[2018-04-12 03:43] mpuncel commented on #1285
is this a duplicate of #2725 ?

[2018-04-12 07:14] #3038 closed

[2018-04-12 08:36] georgi-d opened #3060 "Add support for redirecting to a specific listener"
We have a use case where some prefixes need to be redirected from one listener port to another. In most cases this is HTTP -> HTTPS but not always.

The reason this cannot be done with `host_redirect` is because the redirect needs to use the same hostname the client used when accessing the proxy which is not known statically.

One way I see this can be added is to add `listener_redirect` option to

[2018-04-12 16:10] ggreenway commented on #3058
tcp_proxy currently does support outlier detection. See bb069d5a8ff2620c1fb8bd0391491582908f276b.

Did you observe this not working as expected? Or is the documentation wrong somewhere?

[2018-04-12 16:24] bplotnick commented on #3058
Ah sorry about that. I did not observe this, it was based purely on documentation. It looks like consecutive 5xx will map to tcp connection failures and do what I want.

I think the part of the documentation that says `...or an event that would cause the HTTP router to return one on the upstream’s behalf (reset, connection failure, etc.)` covers this. Though I may submit a PR to explicitly call ou

[2018-04-12 16:24] #3058 closed

[2018-04-12 16:36] bndw commented on #3056
Thanks for the clarification, protocol inspection is a more accurate/concise way of framing the question, thanks. Just found these related issues https://github.com/envoyproxy/envoy/issues/527, https://github.com/istio/istio/issues/1426

[2018-04-12 16:38] cpakulski commented on #3012
Implemented as we discussed above. The only problem was that logger files are not opened directly, but by access_log_manager. I used MockAccessLogManager, which uses FileSystem::MockFile, which is no-op and does not really write anything into a real file. What it means is that it does not matter what is specified in --log-path option. It just needs to be present. Changes are here:https://github.co

[2018-04-12 16:43] ggreenway commented on #3058
Documentation PRs are always greatly appreciated! Sorry the docs weren't clear on this.

[2018-04-12 17:39] mattklein123 commented on #3055
The reason for this is the default route timeout is 15s. For streaming you will currently need to disable the timeout by setting it to 0 (disabled). See https://github.com/envoyproxy/envoy/issues/1778 for implementing per-data frame timeouts.

[2018-04-12 17:43] mattklein123 commented on #3012
@cpakulski looks very reasonable to me. Can you open a PR?

[2018-04-12 18:04] cpakulski commented on #3012
@mattklein123 #3065

[2018-04-12 20:17] prune998 commented on #2941
I can now add some more info.
I still don't understand where the issue is.
My issue does not concern EDS or XDS but Envoy proxying from my client to my server.
In this situation, Envoy creates ONE TCP connexion to the `upstream server` per CPU. In my tests with 2 CPUs --> 2 TCP connexions
Then Envoy will multiplex HTTP/2 gRPC calls into the two TCP cnx.
Here are the scenarios for N clients on serv

[2018-04-12 21:19] htuch commented on #1285
I don't think we're going to be removing the weight limits, given how the hierarchical Maglev balancer works today. I think we should close this one out, as the work is complete, feel free to open additional tracking issues for point features.

[2018-04-12 21:19] #1285 closed

[2018-04-12 22:05] xocasdashdash opened #3068 "Problem with load balancer using source IP"
*Description*:
If you configure load balancing to use this source IP:

[code]

On https://github.com/envoyproxy/envoy/blob/8b4c2d6119a5163d4f781b57a5b14b7130ddc2a2/source/common/router/router.h#L156 the remote IP plus the port is used, that makes it not work (for my use case)  with each new connection opened by a client from the same host.

I believe it either needs to be documented or changed to

[2018-04-12 23:44] gumpt commented on #1378
I’d be interested in taking this if it isn’t done and no-one is actively working on it.

[2018-04-13 00:08] dnoe commented on #1378
I don't think anyone is working on it. PRs would definitely be welcome!

[2018-04-13 02:34] StephenSeraph commented on #3055
Yes!
I modified `route: { cluster: server1 }` to `route: { cluster: server1, timeout: { seconds: 0 } }`.
@mattklein123  Thank you very much!

[2018-04-13 02:35] #3055 closed

[2018-04-13 02:43] StephenSeraph commented on #3055
BTW, this is the [relevant doc](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#route-routeaction) as a marker.

[2018-04-13 15:32] baranov1ch opened #3073 "Access response trailers in access log"
gRPC passes status in trailers, and it is not possible to log it, since access log interface works only with request and response headers.

The suggestion is to add some sort of `TRAIL(X?Y):Z` format rule.

[2018-04-13 16:51] #2986 closed

[2018-04-13 20:16] prune998 commented on #2941
I really think this issue is not linked to https://github.com/istio/istio/issues/4940
see https://github.com/istio/istio/issues/4940#issuecomment-381248731

Maybe I should open a new issue here as it really sound to live inside Envoy ?

[2018-04-13 20:25] mattklein123 commented on #2941
@prune998 your issue is a different issue. I know what the issue is. Please delete all your comments from this issue as they are unrelated and open them in a new issue. Thanks.

[2018-04-13 20:36] prune998 opened #3076 "BUG : MAX 100 HTTP2 streams limit between two Envoy Proxy"
# description

When doing HTTP2 Streams (ex using gRPC), there is a limit of 100 Streams per TCP connexions between two Envoy proxy.

This situation shows up, for example, when you have 2 pods with Istio Sidecar (which is using Envoy) and talking to each other using gRPC.

Envoy creates ONE TCP connexion to the upstream server per CPU. In my tests with 2 CPUs --> 2 TCP connexions
Then Envoy will m

[2018-04-13 20:38] prune998 commented on #2941
@mattklein123 I created a new issue https://github.com/envoyproxy/envoy/issues/3076

I would love to here about you if you know what the issue is as it's blocking our deployments.
I don't think I'll delete my comments but maybe state that effectively they are not related to the original issue.

Thanks.

[2018-04-13 21:39] ldemailly commented on #3076
Subscribe

[2018-04-13 22:31] mattklein123 commented on #3076
The issue here has to do with how nghttp2 works:
1) nghttp2 defaults to 100 concurrent streams for *client* connections.
2) When it receives the server side settings frame for max concurrent streams, it will overwrite this value.

Theoretically, this prevents the client from spinning up way too many streams before the server side settings frame comes in.

However, on the Envoy side, we don't send

[2018-04-15 12:59] prune998 commented on #3076
Thanks @mattklein123

for the 1), I see no way to change the `value for max concurrent streams` from the Listener API.

From my point of view, the `max concurrent streams` of the Listener, which is a "server" from the client's point of view, should either or a mix of :

- be configured dynamically  (maybe a big change in the v1/v2 API ?)
- have a default to `infinite` (max int size, kind of 2^19 o

[2018-04-15 20:57] ofek opened #3077 "More undocumented stats"
cc @taiki45 @mattklein123

Also, is https://www.envoyproxy.io/docs/envoy/latest/configuration/http_conn_man/stats#http2-codec-statistics actually rooted at `cluster.<cluster_name>.http2.`? We're getting stats like `cluster.xds-grpc.http2.header_overflow` and never `http2.`.

`server.watchdog_miss` and `server.watchdog_mega_miss`
https://github.com/envoyproxy/envoy/blob/9045478cbf1006c22fbfae49c8ac

[2018-04-15 23:03] wknd-dev opened #3078 "Use Envoy as tcp/http proxy for all outbound traffic"
Hello,

Thank you for sharing this wonderful project.

We want to route all inbound & outbound traffic from our node app via envoy. Inbound config is easy and have plenty of examples.

Our outbound traffic does not have fixed hosts/port so egress examples that route traffic to fixed target are not helping.

Going through documentation, came across _original_dst_ and wondering this can be used to t

[2018-04-16 03:54] ikatson opened #3079 "A misconfigured listener/cluster sent through discovery breaks discovery"
Hi, envoy team, we've been using envoy lately a lot in all imaginable pieces of infrastructure, we love it. One of the use-cases we tried to cover is to create a highly-customized kubernetes ingress controller tailored for our needs.

We use a GRPC ADS discovery based on https://github.com/envoyproxy/java-control-plane, which sends updates to envoy as a "snapshot", i.e. all resources (listeners/cl

[2018-04-16 09:50] htuch commented on #2169
Fixed in #2783.

[2018-04-16 09:50] #2169 closed

[2018-04-16 09:53] htuch commented on #3079
@ikatson A few things:
* Rejection of all delivered resources is part of the protocol in xDS today, see https://github.com/envoyproxy/data-plane-api/blob/master/XDS_PROTOCOL.md. We are working on evolving xDS right now in https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/envoy-dev/Af6Z0m8v1yg. So far, we do not support partial rejects, but if this is important to you, I su

[2018-04-16 11:31] htuch commented on #2934
https://github.com/envoyproxy/envoy/pull/3036 is ready to go. As per https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/envoy-dev/KcVHFH-zQwQ, we intend to land this today.

[2018-04-16 14:06] ikatson commented on #3079
Thanks @htuch , it's great to see rate limiting is already there.

Do you think it's a potential enhancement to the XDS protocol or maybe only envoy itself? How I see it, the biggest improvement would be for envoy to actually load the configuration partially. The XDS protocol enhancement here might send this information back to the management server, but arguably it's not that important and can be

[2018-04-16 14:55] ikatson commented on #3079
I created an example commit here to show you what I'm talking about (btw seems to work exactly like I would like it to):
https://github.com/ikatson/envoy/pull/1/files

For now, I can file a pull request with just https://github.com/ikatson/envoy/pull/1/commits/7ed63b7a767fa0384dd90863cf4eb5549f340548

[2018-04-16 15:02] alyssawilk commented on #3076
This is due to the current one-connection-per-upstream-per-worker, yes?  From our side I'm fairly sure we're going to need to fix this by allowing multiple connections to a given upstream.  We have cases where we have many thousands of requests between a given server-upstream pair, and at some point trying to shove that down one TCP connection becomes a problem as head of line blocking is terrible

[2018-04-16 15:41] gsagula commented on #3079
@ikatson Thanks for the details. This is the correct behaviour. Note that it was the intent to just emit log messages ("too many") as an initial attempt to mitigate the issue. The discussions around the design have been tracked in the original issue https://github.com/envoyproxy/envoy/issues/2169.

[2018-04-16 16:07] prune998 commented on #3076
thanks for the info @alyssawilk
What I understand here that the solution for now is to increase the --concurrency parameter when starting `Envoy` to increase the connexion pool, have more TCP connexions in parallel with fewer streams in each.

Can you share your experience on the right number of streams per cnx ? gRPC implementation (in Go) is limited to 100, HTTP2 (in GO) is 250, now ngHttp2 is l

[2018-04-16 16:33] mattklein123 commented on #3076
@alyssawilk no that's a different issue. This issue is due to how nghttp2 sets up concurrent stream settings per my description. It's only an issue in the envoy <-> envoy case because of how the settings are exposed.

HTTP/2 settings an be customized here: https://github.com/envoyproxy/data-plane-api/blob/master/envoy/config/filter/network/http_connection_manager/v2/http_connection_manager.proto#L

[2018-04-16 17:05] xocasdashdash opened #3083 "Envoy crashes when using static as the cluster_type"
*Envoy crashes when using static as the cluster_type*

*Description*:
Envoy should not crash

*Repro steps*:
Using the following config envoy crashes when trying to check the config:
[code]

[code]
I've hit this with this versions:
- envoy-alpine-debug:1255ac81f6af588a4f0d7daa03e1b9cd8a330130
- envoy-alpine:1255ac81f6af588a4f0d7daa03e1b9cd8a330130
- envoy-alpine:da0dc5f5dac12651f211e321f9cd7b2c70b

[2018-04-16 17:08] xocasdashdash commented on #3083
I have a "core.9" which I believe is the core dump, Do you want me to add it? Thanks!

[2018-04-16 17:12] alyssawilk commented on #3076
Ah, sorry reread and yeah, I'd thought the default in H2 was 100 but after quick pass on the spec I guess it's unlimited.   I'd lean towards keeping (and sending) the limit of 100 streams as I think it's a reasonable default, at least until Envoy has downstream circuit breakers, but no strong feelings either way.

[2018-04-16 17:50] mattklein123 commented on #3076
@alyssawilk currently the configured default in Envoy is unlimited, but we don't actually send the settings frame in this case. I think we should probably send the settings frame in all cases, no matter the listener setting is.

[2018-04-16 18:14] prune998 commented on #3076
you're right @mattklein123. As of now, in the situation where Envoy talkes to another Envoy, the 100 streams/one TCP cnx per CPU is a very low limitation.

If Envoy set the default limit on the server as `infinite`, it HAVE to send it back to the client.
In fact, re-reading the RFC, the client should NOT have a limit :

[code]
In the case the client have a limit and is called by the server, it sho

[2018-04-16 18:54] mattklein123 commented on #3076
@prune998 I understand the standard. We can make a code change to always send the settings frame. In the meantime, I have given you a config workaround which will work with no code changes.

[2018-04-16 19:15] prune998 commented on #3076
I still have to understand how to port your suggestion on Istio @mattklein123  :)

[2018-04-16 19:45] mattklein123 commented on #439
@dio is there any reason this is not fixed by https://github.com/envoyproxy/envoy/pull/3007? I noticed you said "partially fixed." It seems fixed to me?

[2018-04-16 21:32] htuch opened #3091 "Emit docs for API services"
Start with the access log API services.

Migrated from https://github.com/envoyproxy/data-plane-api/issues/351

[2018-04-16 21:34] htuch opened #3092 "Use validate tags to auto generate markup"
It would be nice to leverage protoc-gen-validate tags to autogenerate markup about field constraints.

For instance for https://github.com/envoyproxy/data-plane-api/blob/2f7459baf7c95cf7e634f848948a022c4b16fa79/api/eds.proto#L94 it would be nice to add a note that mentioned the constraint.

Migrated from https://github.com/envoyproxy/data-plane-api/issues/311

[2018-04-16 21:42] htuch opened #3094 "Define protos for envoy admin endpoint output"
This needs to be done in order to work on lyft/envoy#1522

Migrated from https://github.com/envoyproxy/data-plane-api/issues/158

[2018-04-16 23:12] mattklein123 commented on #439
@dio OK fair enough we can keep it open to track.

[2018-04-17 06:02] srikailash commented on #3083
@xocasdashdash, i guess envoy is expecting types to be on of these ( https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cds.proto#envoy-api-enum-cluster-discoverytype ) if you are using v2 api.

[2018-04-17 06:10] vinayatgit commented on #129
Great to see work being done towards adding windows support to envoy. I am curious to understand how traffic redirection is handled on windows platform... basically windows equivalent for linux iptables.

[2018-04-17 06:11] xocasdashdash commented on #3083
Yeah, I've tried putting static and same issue. Also it's the default value
should work without specifying anything.

On Tue, Apr 17, 2018, 08:02 srikailash <notifications@github.com> wrote:

[2018-04-17 06:17] ramaraochavali opened #3098 "Handle duplicate histogram names"
As part of native log linear histogram implementation we are exposing histograms out. As histograms don't share storage, there is a chance of duplicate names here. We need process global storage for histograms similar to how we have a central storage in shared memory for counters/gauges.

This is issue is for tracking this change.

[2018-04-17 09:40] BenPope opened #3101 "HTTP2 SETTINGS parameter handling"
*Description*:
I noticed that setting `max_concurrent_streams` doesn't always seem to work.  The problem seems to stem from checking whether to add the parameter to the frame based on whether the parameter is default (`2^32-1`) or not.  However, the other end of the connection may not be aware of envoys default and its own may not be the same.  Setting the value explicitly in the configuration to

[2018-04-17 12:45] ramaraochavali opened #3102 "Optimize JSON Model for Histograms"
As part of supporting JSON model for histograms, currently supported Quantiles are being repeated for every histogram with two arrays interval and cumulative. An optimized approach could be to just send supported Quantiles once and repeat the interval and cumulative array for each histogram.

[2018-04-17 14:46] #2933 closed

[2018-04-17 14:55] mattklein123 commented on #3101
@BenPope I came to the same conclusion as part of https://github.com/envoyproxy/envoy/issues/3076. (This is a more succinct description of one of the issues.) If you want to keep this open to track that's fine otherwise we can just use https://github.com/envoyproxy/envoy/issues/3076 to track.

[2018-04-17 15:33] mattklein123 commented on #3056
Closing as answered.

[2018-04-17 15:33] #3056 closed

[2018-04-17 15:33] mattklein123 commented on #3043
Closing as answered.

[2018-04-17 15:33] #3043 closed

[2018-04-17 17:39] BenPope commented on #3101
Happy to mark as duplicate.  FYI, go uses ~1000 concurrent streams by default.

Dupe: #3076

[2018-04-17 17:39] #3101 closed

[2018-04-17 17:40] joshuarubin opened #3105 "Tracing Sampling Configuration Ignored"
We would like to be able to bootstrap a different sampling configuration than the runtime default, but it doesn't appear that updating our config as follows changes anything as all requests still seem to be sampled at the default 100%

[code]

I'm not too familiar with the codebase, but it looks like the [this](https://github.com/envoyproxy/envoy/blob/master/source/common/tracing/http_tracer_impl.

[2018-04-17 18:03] mattklein123 commented on #3105
This is a duplicate of https://github.com/envoyproxy/envoy/issues/1813. The config was added but IIRC I don't think the Envoy side changes were made?

[2018-04-17 20:28] brian-pane opened #3110 "Compilation error in source/common/upstream/health_checker_impl.cc"
The master branch currently yields a compilation error due to a fallthrough between `case`s in a `switch` at source/common/upstream/health_checker_impl.cc:58.

[code]

[2018-04-17 20:36] moderation commented on #3110
Conversation and thread at https://envoyproxy.slack.com/archives/C78HA81DH/p1523980265000236. cc/ @cpakulski who was going to create an issue for this.

[2018-04-17 23:47] mattklein123 commented on #3110
Fixed via https://github.com/envoyproxy/envoy/pull/3114

[2018-04-17 23:47] #3110 closed

[2018-04-18 02:38] johnzheng1975 commented on #815
@danesavot ,
 Where can you find envoy config file in istio-container? And how to change this config file?
Do we need modify them and create istio-proxy container  by ourselves?

[2018-04-18 02:40] johnzheng1975 commented on #815
@AmerbankDavd Had you resolved this?

[2018-04-18 05:15] johnzheng1975 commented on #815
In my istio 0.5.1, there is no http2_protocol_options: {} at all.

kubectl exec -ti istio-pilot-676d495bf8-9c2px -c istio-proxy  -n istio-system -- cat /etc/istio/proxy/envoy_pilot.json
{
  "listeners": [
   {
    "address": "tcp://0.0.0.0:15003",
    "name": "tcp_0.0.0.0_15003",
    "filters": [
     {
      "type": "read",
      "name": "tcp_proxy",
      "config": {
       "stat_prefix": "tcp",

[2018-04-18 10:47] unixsurfer commented on #3028
I would like to mention that the absence of TCP KEEPALIVE has caused problems in production. Let me describe a real scenario that we had.

envoy runs on a host and has `PID 22139`
[code]

According to `lsof` envoy has a TCP connection in an established state with an upstream server
[code]

kernels also confirms that:
[code]
But on the remote system we don't have that connection:

[code]

the conne

[2018-04-18 12:37] mpuncel opened #3123 "Subset load balancer: Add a fallback policy that uses priority/locality weighting"
*Title*: *Subset load balancer: Add a fallback that uses priority/locality weighting*

*Description*:
Currently subset load balancing and priority/locality load balancing are mutually exclusive for a cluster. However, I have a use case where I would like to allow client either to select subsets via HTTP headers, or to elide the headers and follow priority and locality load balancing rules.

Curren

[2018-04-18 13:08] salper opened #3124 "Support per-route config for Lua"
Hi,

I'm trying to implement simple basic auth using LUA, and I want to activate the filter on selected routes. But it seems that I can't get to make `per_filter_config` on route configuration work. Am I missing something ?

This is working:
[code]
But this is not:
[code]

[2018-04-18 13:11] jmarantz opened #3125 "PRs with lots of commits will not load in github, showing unicorn instead."
*Description*:
This is really a github issue, but listing it as an Envoy issue because it's affecting our development flow.  There is no public github tracker on the github scalability issue, but I thought I'd use this issue to track interaction with github support on it.

Examples of PRs that have exploded are: #2932 and #3059.

[2018-04-18 13:12] jmarantz commented on #3125
Original report sent to github:

[2018-04-18 13:14] jmarantz commented on #3125
Response from Tiara (support@github.com):

[2018-04-18 13:14] jmarantz commented on #3125
Follow-up from me:

[2018-04-18 13:15] jmarantz commented on #3125
Response from Tiara:

[2018-04-18 13:16] jmarantz commented on #3125
Follow-up from me:

[2018-04-18 13:17] jmarantz commented on #3125
Response from John (GitHub Staff):

[2018-04-18 16:00] mattklein123 commented on #3124
Per filter config is not supported for Lua currently. I think @rshriram talked about working on this.

[2018-04-18 16:33] mattklein123 commented on #3124
Note this will require the route update stuff that @qiwzhang is working on.

[2018-04-18 16:44] #2535 closed

[2018-04-18 16:47] mattklein123 commented on #3123
IIRC lack of support in the subset LB for priority/locality is a "known issue." @zuercher can probably SWAG out the effort to implement. cc @htuch

[2018-04-18 19:26] #2745 closed

[2018-04-19 02:37] mattklein123 commented on #1344
@juchem I don't think anyone is working on this. The config is already present IIRC it just needs to be wired up. It should be a pretty simple change.

[2018-04-19 03:32] ramaraochavali opened #3131 "issue connecting to external auth cluster for the first time"
We have configured external_auth_cluster as
[code]
Please note that extauthservice is deployed locally for testing on the same machine as envoy is running.
With this configuration, it consistently fails for the first request with a "gateway-time-out" error.  I increased the connect_timeout to 1s (not sure why it is required for this cluster though, we have other service clusters deployed on the sa

[2018-04-19 03:33] ramaraochavali commented on #3131
@saumoh @htuch any ideas on this would be very useful.

[2018-04-19 06:10] truongdo opened #3132 "The round_robin load balance policy does not evenly distribute gRPC connections"
The round_robin load balance policy does not evenly distribute gRPC connections

*Description*:
The load balancer does not seem to route gRPC connections evenly across backends. Below is my configuation,
[code]
I confirmed that the DNS server resolves 3 backends for the address `service1` and envoy seems to have 3 backends in the cluster

*Admin and Stats Output*:
[code]
When I set the DNS type to

[2018-04-19 06:49] ofek opened #3135 "Bad default stat prefix"
Looking here https://www.envoyproxy.io/docs/envoy/latest/configuration/http_conn_man/stats#tracing-statistics

It seems the default `stat_prefix` for admin is `admin.tracing`:

[code]

Due to our regular expressions being greedy (no way around that), Envoy extracts the stat prefix as just `admin` and gets the metric name wrong:

[code]

We need to change the default to something else.

cc @mrice32

[2018-04-19 07:48] salper commented on #3124
Is their any issue or roadmap that I can follow ? In the meanwhile, how can I achieve a simple basic auth ?

[2018-04-19 08:15] truongdo commented on #3132
Since envoy uses [nghttpx](https://github.com/nghttp2/nghttp2/issues/1086#issuecomment-351649160) for its HTTP/2 support. I'm wondering if this issue is related to [this nghttpx problem](https://github.com/nghttp2/nghttp2/issues/1086#issuecomment-351649160) where it prefers the existing backend connection when load balance the request.

[2018-04-19 13:21] akonradi opened #3138 "gRPC bridge example generated protobuf uses deprecated gRPC API"
The gRPC beta Python API (`grpc.beta` package) has been deprecated. This is imported by `examples/grpc-bridge/service/gen/kv_pb2.py`. Since the file is auto-generated from the adjacent proto file, the fix should be as simple as regenerating it, assuming the protobuf compiler emits Python code that doesn't use the deprecated API. If the protobuf compiler still uses the deprecated API, more steps ma

[2018-04-19 15:12] mattklein123 commented on #3135
This is just a bug: https://github.com/envoyproxy/envoy/blob/master/source/server/http/admin.cc#L688

[2018-04-19 16:10] #3012 closed

[2018-04-19 16:42] mattklein123 commented on #3132
The LOGICAL_DNS case is working as expected. There is only a single backend host in that case (logically). Please attach a full debug dump of the STRICT_DNS case.

[2018-04-19 17:39] cpakulski commented on #3083
I run envoy with full debug information and based on core dump it is not related to "static", but to "health_checks". In config validate mode, "health_checks" trigger a call to createClientConnection which is undefined in ValidationDispatcher: https://github.com/envoyproxy/envoy/blob/master/source/server/config_validation/dispatcher.cc#L8-L12. @mattklein123 @htuch I can try to fix it, but would ne

[2018-04-19 17:42] mattklein123 commented on #3083
@cpakulski ah OK. This is a validation bug. The validation code has been done somewhat piecemeal. It's quite possible there are missing things. In general, I would just add a crashing validation test and add the minimum amount of validation "mocks" to make it pass...

[2018-04-19 17:44] cpakulski commented on #3083
@mattklein123 Thanks. You can assign it me.

[2018-04-19 17:48] mattklein123 commented on #3105
Closing as answered. Let's track in the related issue.

[2018-04-19 17:48] #3105 closed

[2018-04-19 17:48] xocasdashdash commented on #3083
@cpakulski sorry if i'm extremely wrong, but it doesn't happen if i change the cluster type to "strict_dns" for example, shouldn't it happen too then?

[2018-04-19 18:05] cpakulski commented on #3083
@xocasdashdash I have to check the code, but my guess is that in static mode config contains all the information including IP addresses, etc and all steps can taken. In dns mode, it is dynamic and some address resolution must take place before continuing. But in validation mode, only syntax is checked, addresses are not really resolved and it never gets to "open connection" phase. So, you are righ

[2018-04-19 18:14] xocasdashdash commented on #3083
ohhhhhh ok, yeah makes sense! Thanks for taking time to explain!

On Thu, Apr 19, 2018, 20:05 cpakulski <notifications@github.com> wrote:

[2018-04-19 19:54] ikatson commented on #1280
Hi, @PiotrSikora, any updates on this? Thanks!

[2018-04-19 19:59] ggreenway commented on #1280
This is actively being worked on. Phase 1 is under review at #3062 . Phase 2 will come soon. I am hoping this will be implemented and merged within several weeks.

[2018-04-19 20:30] costinm commented on #3076
@prune998 - we're tracking this on Istio side, trying to have it fixed for 0.8.

[2018-04-19 23:43] truongdo commented on #3132
I'm giving you a reproducible project so that you can run and test it locally,
https://www.dropbox.com/s/qwow6n7aiyr6vqa/envoy-lb-test.zip?dl=0

Below is my docker version so that you can replicate the exact condition:
[code]

[code]

[2018-04-19 23:50] ggreenway opened #3141 "crash in admin /config_dump"
```curl localhost:8001/config_dump```

Backtrace:
[code]

Config:
[code]

[2018-04-19 23:51] mattklein123 commented on #3141
I already have this fixed as part of finishing up config_dump. Will post PR in next couple of days.

[2018-04-20 02:03] truongdo opened #3143 "panic when unable to connect to stats_sinks"
*Envoy crashed on start up when unable to connect to stats_sinks*

*Description*:
When setting a wrong IP address of a dog statsd or the dog_statsd service is offline, envoy is crashed on start up.

Below is the configuration,
[code]

[2018-04-20 15:41] #2909 closed

[2018-04-20 15:45] mattklein123 commented on #3143
Please provide the full config for repro. cc @taiki45

[2018-04-20 17:08] taiki45 commented on #3143
hmm, I'll check this later. Thank you for reporting.

[2018-04-20 17:33] mattklein123 opened #3149 "ci: add GCC 7.2.0 target"
Potentially just use it for coverage, since we need to use GCC there anyway right now.

[2018-04-20 17:41] ggreenway commented on #3005
I've found no way to fix this without recompiling the standard library. Closing.

[2018-04-20 17:41] #3005 closed

[2018-04-20 17:42] ggreenway commented on #3005
This is supposed to be fixed in CentOS 8, when it is released.

[2018-04-20 17:48] mattklein123 commented on #3005
@ggreenway if possible can you specify how you fixed it in case anyone else wants to also fix it?

[2018-04-20 17:57] ggreenway commented on #3005
I stopped building on CentOS entirely.

[2018-04-20 19:06] mrice32 commented on #3125
I reported this as well, and I got a few slightly different suggestions for those interested:
[code]

Response:
[code]

[2018-04-20 20:18] lizan opened #3155 "filter: Hide Struct from filter interface"
*Description*:
We should not expose Struct (or Any, or similar) to filter interface. When Envoy knows the protobuf types filter needs, Envoy performs the conversion, this allows migrating the opaque config format in future.

Details: https://github.com/envoyproxy/envoy/pull/3128#discussion_r183135477

@htuch

[2018-04-20 23:00] dio commented on #2956
@Lookyan could you elaborate more on this? Thank you!

[2018-04-21 00:32] dio commented on #439
Currently, for `STATIC`, `STRICT_DNS` and `LOGICAL_DNS`, a cluster member (a host of `hosts`) is defined as a `core.Address`. In order to accommodate alternative health check port for each host, could we have an alternative type (`oneof`?) of declaring host? Probably just `core.Address + health_check_port` just like what we have with `endpoint` (to allow defining host members as a collection of `e

[2018-04-21 02:04] rshriram commented on #3008
@mattklein123 we can close this..

[2018-04-21 05:25] Lookyan commented on #2956
@dio at least I want to have a feature of multiple slash replacement with one slash during proxying to upstream.
So, we can have URL like this: http://smth//a/b///c
And we should make a request to this URL in this case: http://smth/a/b/c

[2018-04-21 05:43] dio commented on #2956
@Lookyan got it. Sorry I didn't get that additional slashes.

[2018-04-22 13:34] josdotso commented on #2891
Thanks @derekargueta .  This helps.

[2018-04-22 13:34] #2891 closed

[2018-04-22 15:45] mattklein123 commented on #439
@dio yes I think we can add oneof and not break wire compatibility. I think what you propose makes sense to me. @htuch @WDYT?

[2018-04-22 15:48] #3008 closed

[2018-04-23 00:49] moderation commented on #2891
@josdotso here is another simple one that uses SDS and includes stats for CockroachDB.
[code]

[2018-04-23 01:46] taiki45 commented on #3143
@truongdo The IP address is out of range (see the last value `512`, it should be in `0` to `255`) and Envoy complained the given IPv4 address is malformed. I think the current behavior is right. So please check your IP address again?

[code]

And to make sure, it seems Envoy is not crashed, it just logs an error and exits with 1. If you see another situation, please share the log and full config,

[2018-04-23 02:13] truongdo commented on #3143
@taiki45 thank you for pointing that out! What a bad mistake!
I fixed the IP address and it works as expected.

However, when I use a domain name instead of an IP, the same error appears.

[2018-04-23 02:27] truongdo commented on #3132
I set the --concurrency 1 and it works as expected.

[2018-04-23 02:27] #3132 closed

[2018-04-23 02:32] truongdo commented on #3143
@taiki45  Thank you for the explanation!

[2018-04-23 02:32] #3143 closed

[2018-04-23 06:25] dio commented on #439
If we change https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/cds.proto#L158 to the following:

[code]

will it break wire compatibility?

Since I guess repeated `oneof` is not a thing: https://github.com/google/protobuf/issues/2592#issuecomment-284540212

[2018-04-23 09:15] gtie commented on #1843
:+1: :eyes:

[2018-04-23 12:37] jmarantz commented on #3125
Follow-up from me:

know if this was always a limitation for github that we've just started
bumping into on a regular basis, or whether this is a transient issue.

of continuing an ongoing code-review conversation.

[2018-04-23 12:38] jmarantz commented on #3125
And reply from github:

[2018-04-23 14:39] tak2siva opened #3164 "hot-restarter.py throws SIGCHLD"
First start

[code]

When I try to restart

[code]

Am I doing anything wrong or is there a problem with restarter script ?

[2018-04-23 15:44] mattklein123 commented on #439
Yes I think it will break wire compatibility. You may need to add a new repeated hosts field and deprecate the old hosts addresses field or something like that. That is probably a better long term solution.

[2018-04-23 18:26] htuch opened #3170 "Path sanity checking"
It would be nice to have the path sanity checking logic introduced for runtime in https://github.com/envoyproxy/envoy/pull/3165 plumbed across various sites where we access files via path.

[2018-04-23 19:04] josdotso commented on #1630
Is this kind of thing (multiplexed-TCP-proxy-over-one-upstream-listener) possible today in Envoy regardless of HTTP2? I'm trying to tunnel a bunch of TCP stuff to a single ELB port with mTLS and demux/terminate TLS on the backend.

Very loose idea of my use case:

<img width="741" alt="screen shot 2018-04-20 at 12 00 35 pm" src="https://user-images.githubusercontent.com/13571670/39147422-84234eea-

[2018-04-23 20:58] #3135 closed

[2018-04-23 21:01] ggreenway commented on #1947
I'll do this eventually if nobody else has yet, but I won't have time to start on it for awhile. If/when I start working on it, I'll comment here and assign it to myself. If that hasn't happened yet, someone else can claim it.

[2018-04-23 21:42] mattklein123 commented on #1965
Closing as fixed. Yay!!!

[2018-04-23 22:01] juchem opened #3173 "health check edge intervals incorrectly delayed by health thresholds"
The current implementation of `healthy_edge_interval` and `unhealthy_edge_interval` will wait for the health threshold to be reached before the interval is used.

That leads to situations like this:
- `healthy_threshold` is set to 2;
- host health state is currently `unhealthy`;
- host health check fails, next check happens after `unhealthy_interval`;
- host health check succeeds, next check happe

[2018-04-23 22:06] #2551 closed

[2018-04-23 22:06] #2625 closed

[2018-04-23 23:10] mattklein123 opened #3177 "build images: buildifier now required go 1.8"
[code]

We need to either install newer Go in the build image containers or just install a binary version of buildifier and wire it up using something like the following:

[code]

[2018-04-23 23:12] mattklein123 commented on #1278
This is complete.

[2018-04-23 23:12] #1278 closed

[2018-04-24 00:31] zetaj opened #3178 "OCSP Stapling"
*Title*: *OCSP Stapling*

*Description*:

[2018-04-24 00:52] rgs1 commented on #1001
@mattklein123 @ccaraman dropping super late to the party (sorry), just to clarify:

@brian-pane's original concern of removing `x-envoy-ip-tags` so that it isn't used to bypass ACLs wasn't addressed, right? Took a quick look at the code/docs and couldn't see it being done.

If it hasn't been addressed, I'll follow-up with a PR to fix that if it can be done cleanly.

Also, are `x-envoy-*` headers s

[2018-04-24 01:10] lafikl opened #3179 "Redis Fault-Injection knobs"
This is a feature request for adding fault injection knobs that understands Redis' protocol.
I believe this level of granularity is beneficial for the following reasons:
Redis is used in so many use cases in a single process, for example, you would find a single service using it for session storage, rate limiting, caching, and/or kicking off background jobs.
So having the ability to scope the faul

[2018-04-24 04:08] sambasivab6 opened #3180 "Envoy proxy discarding http client request with Received bad client magic byte string"
**Issue Template**

*Title*: *One line description*

*Description*:
Http2 client connecting envoy and sending a proto message. But  envoy discarding message with following error Received bad client magic byte string

*Config*:
"listeners": [
    {
      "address": "tcp://0.0.0.0:8005",
      "filters": [
        {
          "name": "http_connection_manager",
          "config": {
            "code

[2018-04-24 06:29] shuoli84 commented on #3079
+1 for partial update on resources.
Due to mixed of systems, there are several places to query to generate the whole snapshot. Without partial update, we have to query all of the sources prior the first discovery request, which could be long and trouble some(Considering one source in a temperary outage). Or have to maintain the snapshot in a database to make xds server simple.

[2018-04-24 08:51] raboutech opened #3185 "First Use of envoyproxy with Rest services"
**Issue Template**

*Title*: *One line description*
First use of envoy
*Description*:
Hi, i am new in using envoy, i am trying to use it on one rest service deployed on tomcat in address : localhost:8080/easyrest/employee/getAll  .
envoy process is in a container but not my service because my services now are in VMs and not in containers.  below is my code, it's basic but not working for me. when

[2018-04-24 09:59] maxmalakhov commented on #3185
I'm not sure but it seems that you are trying to send a GET request at this url '**/easyrest3/domain/7/get**' while routing is only matches to this path prefix '**/easyrest/employee/getAll**'.
What's your original request? Are there any other web proxies which can rewrite the prefix?

[2018-04-24 10:24] raboutech commented on #3185
Ah sorry it's my fault. That's a log for another service but it's the same log and no one works

[2018-04-24 10:36] maxmalakhov commented on #3131
Could you please share the entire configuration file? Does Authorization work fine with a static cluster without EDS?
I'm not sure if it's possible right now to configure Envoy to use the embedded gRPC client to send Authorization requests and EndpointDiscoveryService requests at the same time.

[2018-04-24 10:41] ramaraochavali commented on #3131
Static Cluster with out EDS works fine IIRC. Also please note with EDS also this comes only for first few requests. Are you suspecting that for first few requests it is not able to load EDS? The error we are getting is "gateway timeout" - if we increase connect timeout it works some time.

Here is the full config
[code]

[2018-04-24 11:38] raboutech commented on #3185
this is the right log :

[2018-04-24 11:46] dio commented on #3185
Hi @raboutech, did you check that you can access the running service (I assume this one is listening to 8080 on your host machine) from within the container?

[2018-04-24 12:39] raboutech commented on #3185
No i cant , i just tried to get 127.0.0.1:8080/easyrest/employee/getAll , should i use a port mapping

[2018-04-24 12:58] dio commented on #3185
@raboutech are you on Linux? Check it [here](https://stackoverflow.com/a/31328031/7157042). Or if you running Windows or Mac, [this link](https://stackoverflow.com/a/43541732/7157042) seems helpful. (Sorry for pasting some SO links here). Good luck!

I think this case is not regarded as an envoy's issue. However, I encourage you to post on envoy-users [mailing list](https://groups.google.com/forum

[2018-04-24 13:13] JonathanO commented on #1947
Is the plan to enable export of histograms as well as summaries?

Summaries are nice for looking at a single instance, but our dashboards produce an aggregate from multiple instances together and to do that the raw histogram type is needed.

[2018-04-24 14:55] brian-pane opened #3188 "LC Trie: support nested prefixes in sublinear worst-case time"
*Description*:
This is a more detailed version of a TODO comment I put in PR [2614](https://github.com/envoyproxy/envoy/pull/2614). When I added nested prefix support to the LC trie implementation, I took the shortcut of putting nested prefixes in a list under their parent prefix. That works well in many cases, but there are some real-world situations where this can lead to performance problems: f

[2018-04-24 15:56] mattklein123 commented on #3180
Sounds like your client is not speaking HTTP/2.

[2018-04-24 15:57] mattklein123 commented on #3178
Not supported currently. cc @PiotrSikora @ggreenway

[2018-04-24 16:28] sean-brandt commented on #1451
This is also very important for a lot of corporate usecases where the destination may not be 'local' to where envoy is running. Having CONNECT support on a per destination basis is really key in those situations where corporate requirements have forward proxies ( non-transparent ) in place to transit security boundaries.

[2018-04-24 16:34] #2715 closed

[2018-04-24 16:40] ggreenway commented on #3178
It's on my list of things I'd like to support eventually, but I have no firm plans yet.

[2018-04-24 16:49] mattklein123 commented on #1001
@rgs1 if it wasn't sanitized, we should add it to the sanitized list (see code and docs on sanitizing). Unfortunately there is no hard rule with x-envoy-* headers, as some can and are set by downstreams.

[2018-04-24 17:01] mattklein123 commented on #1947
@JonathanO the way the histogram library works it should be pretty straightforward to export both summaries and the full histograms as desired. cc @ramaraochavali @postwait

[2018-04-24 17:03] mattklein123 commented on #3188
@brian-pane sounds reasonable to me though as other perf discussions we have had it would be nice to have a benchmark so we can compare to make sure the extra complexity is really worth it.

[2018-04-24 17:08] #2897 closed

[2018-04-24 17:17] #3155 closed, assigned to lizan

[2018-04-24 17:46] ccaraman commented on #1001
@rgs1 @brian-pane and I had talked about that offline. Apologies for not updating the comment here, what we were going to do at Lyft is add x-envoy-ip-tags to the list of headers that are [internal_only_headers](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/rds.proto#routeconfiguration). There are cases where you'll want to keep on propagating the headers and appending to it. If that s

[2018-04-24 17:50] mattklein123 commented on #1630
@josdotso no, not possible today to multiplex TCP out of the box. This issue tracks developing some solution to the general problem.

[2018-04-24 17:57] ggreenway commented on #1947
Yeah, I'd argue against doing summaries at all. They can be generated by another (external) tool.

[2018-04-24 18:00] mattklein123 commented on #1947
OK. Whatever makes people happy is fine with me. Either way the change should be pretty trivial.

[2018-04-24 18:14] mrice32 opened #3190 "Make stats sink flush more flexible"
*Description*: There are use cases for stats sinks that want to export a small subset of Envoy's statistics.  The `Hystrix` sink that's currently in development is a good example of this.  Right now, each flush generates a `flushCounter()` call into the sink (and a latch on the value) for each `Counter` defined in Envoy.  The behavior is similar for gauges.  For sinks that just want to query small

[2018-04-24 18:16] mattklein123 commented on #3190
@mrice32 one other feature I would really like and we would use at Lyft is some way to actually flush different stats at different intervals. E.g., high priority stats could be flushed at 500ms interval, but only for very few stats, vs. a longer flush interval for less critical stats.

[2018-04-24 18:30] rgs1 commented on #1001
@mattklein123 something like https://github.com/envoyproxy/envoy/pull/3191 perhaps?

cc: @ccaraman @alyssawilk

[2018-04-24 18:33] postwait commented on #1947
We use one of two ways to do this:

The library has a serialize function that produces a binary encoding and then we pass around a base64 string of this.  This is the common way we do it b/c it is a small representation and doesn't require floating-point parsing on the other end.

The second way is to JSON-ize it by providing an array of strings that look like "H[bin]=count", so:
[code]

This is e

[2018-04-24 18:46] sambasivab6 commented on #3180
Thanks Matt.

I did a curl client with http2 protocol. But envoy treated bad request.

[2018-04-24 18:27:28.184][10][debug][main] source/server/connection_handler_impl.cc:189] [C46] new connection
[2018-04-24 18:27:28.184][10][trace][connection] source/common/network/connection_impl.cc:385] [C46] socket event: 2
[2018-04-24 18:27:28.184][10][trace][connection] source/common/network/connection_impl

[2018-04-24 18:52] mattklein123 commented on #3180
Envoy does not support upgrade. Prior knowledge only for plaintext, or ALPN for TLS.

[2018-04-25 01:42] mrice32 commented on #3190
@mattklein123 would this be a user-configurable bunch of stats?  Or would Envoy have a specific set of stats that are designated as "high priority"?

I have another rough idea of something that would be nice for sinks that want to heavily filter stats (and/or link them to other proprietary representations of stats): a registration mechanism such that sinks are notified when stats are created and d

[2018-04-25 03:02] ramaraochavali commented on #1947
The HistogramStatistics class can be expanded to have the "histogram" representation and can be very trivial change using the methods suggested by @postwait

[2018-04-25 03:35] SuperQ commented on #1947
I'm looking at https://github.com/envoyproxy/envoy/pull/3130, and I'm possibly confused, but it's not actually implementing histograms, rather it's implementing pre-computed summary quantiles.

This is not going to be useful envoy users, as the pre-computed quantiles are not statistically comparable between instances.

[2018-04-25 03:46] ramaraochavali commented on #1947
@SuperQ We have the complete histogram implementation. But what we are displaying in /admin/stats is the summary information of that Histogram. As mentioned by me in the above comment, you can change the HistogramStatistics class to have the complete raw histogram output stored with the approaches suggested by @postwait with the passed in `histogram_t*`

[2018-04-25 03:49] mattklein123 commented on #3190
I was thinking user configurable, probably allowing prefix/regex selection.

Yeah that would be useful also.

[2018-04-25 03:53] futangw opened #3202 "what cause the envoy send out RST_STEAM together with DATA"
**Issue Template**

*Title*: *One line description*
envoy sends out RST_STREAM together with DATA

*Description*:
Hi,

I had an envoy to forward grpc msg and saw a case that envoy sends out application data together with RST_STREAM. As below picture shows, on frame 13099, envoy receives data from downstream and forwards it out to local application server. But please note the time interval, which i

[2018-04-25 04:02] SuperQ commented on #1947
Ok, that makes more sense, sorry.  For Prometheus, we need to translate things into our [standard text format](https://prometheus.io/docs/instrumenting/exposition_formats/).

[2018-04-25 04:12] ramaraochavali commented on #1947
@SuperQ ok. In that case you could get JSON and translate to your format may be? Not sure if there is a better way here. @postwait can confirm

[2018-04-25 04:30] postwait commented on #1947
@SuperQ It would great is Prom could be extended to support dense histograms natively.  But a whole text line with floating-parsing per bin is pretty crazy slow.  How about just supporting the encoded histogram natively?

It would not be hard to convert each histogram bin into a separate prom text line, but that seems overkill and quite noisy.  Could be thousands of lines (due to thousands of bins

[2018-04-25 07:59] SuperQ commented on #1947
@postwait We would like to have higher density histogram transport and storage, but for now we have to keep it limited to about 10 buckets.  This is typically more than enough for basic monitoring and alerting needs, since the goal here is "is my traffic in SLO/SLA".  We also typically have users wanting to store months to years worth of data, this gets expensive quickly, even with good sample com

[2018-04-25 08:04] AssafKatz3 commented on #2852
As @wushujames mentioned:

This will be very useful for cannary release or blue/green deployment since will allow to modify the actual topic without any change in application.

[2018-04-25 09:20] hehe717 opened #3203 "envoy cannot handle max_stream_per_connection."
acutally, I want to send 1 streams per 1 connection. (http2).

so I configured as.
[code]

as you can see,
I set `max_requests__per_connection=1` and `max_concurrent_streams=1`
there are only 6 machines and I requested to envoy with 7 requests.
and expect 6 requests sends to machine each, and reject 1 request.

and run as
`envoy -c /etc/envoy.yaml --concurrency 1`

but log is
[code]

as you can se

[2018-04-25 09:25] futangw commented on #3202
**OK, I think the problem is clear now. This is not question now.**

For the RST_STREAM above, it is generated by downstream envoy not itself.
Below figure is from downstream envoy， which is still setting 500ms timeout.
on frame 5050, it receives data request and then start to route the remote envoy (i.e. envoy in question above). It takes long time to set up the connection till its timeout and fo

[2018-04-25 09:25] #3202 closed

[2018-04-25 09:52] futangw commented on #3202
But it would be appreciated if anyone could help explain why at some steps envoy does envoy act slowly, i.e. on first tcpdump snapshot frame 13068, it receives the 'Client Hello', why does envoy 'wait' around 220ms to send out 'Server Hello'? On the second tcpdump snapshot frame 5060, it has already setup the tcp connection, why does it 'wait' 52ms to send out 'Client Hello' on frame 5065?

[2018-04-25 11:20] lps0535 opened #3205 "grpc transcoder: support HttpBody proto"
*Title*: *Unwanted characters coming while adding response_headers_to_add*

*Description*:

[code]

*Config*:

[code]

ISSUE: Noise at starting of html file. I've tried with other files also but facing same issues with every file.
[code]

*Logs*:

[2018-04-25 11:11:46.671][11][debug][http] source/common/http/conn_manager_impl.cc:186] [C1] new stream
[2018-04-25 11:11:46.672][11][debug][http] sourc

[2018-04-25 11:36] postwait commented on #1947
@SuperQ I wasn't commenting on what you should store on the other end -- that's really application specific.  But the protocol was extended to have the dense histogram, then the remote reader can decide.  They could store a few arbitrary quantiles or rework the bins as they see fit for their application.

[2018-04-25 12:13] SuperQ commented on #1947
Sure, I agree, I've been pushing for a denser histogram option as part of the OpenMetrics protocol work.  But I haven't made any progress there.  In practice it's not a big deal because we gzip the transport anyway.  This reduces the wire size down enough that we don't really care.

[2018-04-25 13:13] JonathanO commented on #1947
For the purposes of this ticket, I think that the aim is to support existing Prometheus 1.x and 2.x users. The implementation therefore needs to expose the data in the current Prometheus histogram wire format.

@SuperQ am I right in thinking that the definition of the buckets also needs to be static, and consistent across instances for Prometheus' histogram_quantile() to work correctly? Are they c

[2018-04-25 13:43] postwait commented on #1947
You can produce exactly that by walking and summing the bins in the llhist. I warn that this erodes the long tail wickedly under common workloads.

This should be a simplistic for loop.

[2018-04-25 13:54] SuperQ commented on #1947
Right, but like I said, this is for "out of SLA" type monitoring.  If my SLA is 99th under 1 second, the buckets over that, and the long tail, are just noise.

[2018-04-25 16:38] mattklein123 commented on #3203
Envoy does load balancing and connections per worker. Check your --concurrency setting.

[2018-04-25 16:42] #3024 closed

[2018-04-25 17:37] postwait commented on #1947
@ggreenway the llhist handles this already.  How this is communicated back to prom is the question.  We could simply report back all used bin boundaries... I think the issue is that this turns into "too many" time series on the back end, but it would only be a couple hundred (on the upper end) in practice.

[2018-04-25 17:46] postwait commented on #1947
I'll stand on my soapbox briefly and say if the data is only being used for a boolean "out of SLA" value, then this is reasonable, but if the user has the ability to graph the 99th percentile (or some other estimated quantile) then (1) you know they will and (2) it is negligently misleading.

+1 for tailoring a small set of buckets to boolean an "in/out" of SLA argument,
but -1 on providing a trag

[2018-04-25 17:49] mattklein123 commented on #1947
FWIW I agree very strongly with @postwait on this. With that said, I don't use Prometheus so I don't have much skin in this game right now.

[2018-04-25 17:55] sambasivab6 opened #3207 "Run"
**Issue Template**

*Title*: *One line description*

*Description*:

describe the desired behaviour, what scenario it enables and how it
would be used.

[optional *Relevant Links*:]

**Bug Template**

*Title*: *One line description*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

*Repro steps*:

required to reproduce the bug.

gathers a tarba

[2018-04-25 17:55] #3207 closed

[2018-04-25 18:00] mattklein123 commented on #3205
@lizan @fengli79 FYI since this involves the transcoding filter. I don't have any idea off the top of my head.

[2018-04-25 18:24] ggreenway opened #3208 "ASAN build fails with --define=google_grpc=disabled"
[code]

[2018-04-25 18:49] ofek opened #3210 "Simplify /stats output for empty histograms"
Original author @ramaraochavali reviewers @mattklein123 @jmarantz @mrice32

https://github.com/envoyproxy/envoy/pull/3130 causes output like:
[code]

The commit before that is fine https://github.com/envoyproxy/envoy/commit/fefb0d39ed54c6a43b652d7dd665c747537704ea

[2018-04-25 18:51] mattklein123 commented on #3210
This is by design. It's new histogram stats.

[2018-04-25 19:18] jmarantz commented on #3210
It's not broken per se, but @ramaraochavali I wonder if we should render empty histograms differently for aesthetic reasons.  WDYT?

[2018-04-25 19:35] JonathanO commented on #1947
Regardless of the merits of different numbers of buckets, for Prometheus support we need the ability to specify a fixed set of buckets to output (potentially several different sets of buckets as @ggreenway pointed out.) Perhaps with a set of defaults which match what typical Prometheus exporters do. This is just how things work in the world of Prometheus today, and what Prometheus users (should) b

[2018-04-25 20:19] mbanikazemi commented on #2294
@mattklein123 using lua_sethook() [1] one can limit the number of instructions being executed and/or monitor execution of certain calls, etc. Is such an approach worth pursuing?

[1] https://www.lua.org/manual/5.3/manual.html

[2018-04-25 20:28] ggreenway commented on #1947
But I think we're in agreement that the buckets should be configurable, probably both the number of buckets and the range. So reducing the accuracy at the tail is then a user/configuration decision.

[2018-04-25 20:54] mattklein123 commented on #2294
@mbanikazemi I'm not familiar. At least when using the JITer once you enter assembly code it's not clear to me how the number of instructions can be easily limited. I'm not sure what LuaJIT does in this area.

[2018-04-25 22:30] #3208 closed

[2018-04-25 22:56] jmillikin-stripe opened #3214 "Segfaults when CDS data contains conflicting clusters with the same name"
If a CDS response contains multiple clusters with different properties but the same name, they each get quickly added and removed in the cluster manager. Something in Envoy isn't properly handling this, and we got a bunch of segfaults from an accidental duplication in our config.

The stack traces are different each time, possibly due to version differences or slightly different execution paths. W

[2018-04-25 23:54] rgs1 commented on #2342
@hennna @mattklein123 confirmed that configuring IpTaggingFilter and using route.HeaderMatcher to match on `x-envoy-ip-tags` isn't working. In my test case I am using an upstream cluster with the match, not a direct response (fwiw, possibly doesn't make a difference).

I'll dig into it a bit more.

[2018-04-26 00:13] rgs1 commented on #2342
testing out: https://github.com/envoyproxy/envoy/pull/3216

[2018-04-26 01:50] shuoli84 opened #3218 "envoy exit silently if not able to bind envoy_domain_socket_0"
*Title*:  envoy exit silently if not able to bind envoy_domain_socket_0

*Description*:

1. It should fail with clear logs.
2. How to disable the envoy_domain_socket_0 behavior?

[2018-04-26 06:55] hehe717 commented on #3203
yes, you can see `--concurrency 1` in run commend.
so 1 worker is running for that envoy I think

[2018-04-26 07:02] ramaraochavali commented on #3210
Do you have any ideas on how empty histograms should be displayed? Should we skip displaying them similar to how we skip sending to stats sink if they are not used?

[2018-04-26 07:08] arifsetiawan commented on #3098
Is this related? I am getting these message in log.

[code]

Can we somehow turn it off?

[2018-04-26 07:10] dio commented on #3098
I think @ramaraochavali will put the log level to debug. See https://github.com/envoyproxy/envoy/pull/3219.

[2018-04-26 12:56] jmarantz commented on #3210
That would work for me, or you could just put in a single string "no histogram data" in place of all the NaN entries.

If some of the entrires are NaN, should you omit those quantiles from the short display? I'm OK either way, but I actually don't understand, as a user, the distinction between NaN and 0 in this context.  Can you explain?

[2018-04-26 13:05] mpuncel opened #3222 "Make priority/locality overprovision factor configurable"
*Title*: *Make priority/locality overprovision factor configurable*

*Description*:
Currently the priority/locality weighting load balancer will spill over traffic from one priority or locality to another if the first choice one is partially unhealthy, according to a fixed overprovision factor of 1.4. This is an awesome feature! However, since I'm migrating from a legacy traffic shaping system (wh

[2018-04-26 13:54] mattklein123 opened #3223 "memory corruption in histogram change"
There is a memory corruption issue somewhere in the following commit range:
https://github.com/envoyproxy/envoy/compare/b9e7961e99c461db4ed1293b9f2fa407eb9e4e21...a328bc5d69a9e90ed3197a6735997ec48a850351

The crash signatures are not consistent, but when it first happened I was pretty sure it was somehow related to https://github.com/envoyproxy/envoy/commit/e293ffb881c9d2b9cf664ff8521e86fedb141de7

[2018-04-26 13:55] mattklein123 commented on #3214
@jmillikin-stripe I think it's probably not related, but can you check to make sure the issue still happens outside of the range specified in this issue? https://github.com/envoyproxy/envoy/issues/3223 It's possible this is the same issue.

[2018-04-26 13:56] jmarantz commented on #3223
Have you found a way to repro?

[2018-04-26 13:57] mattklein123 commented on #3223
No, it's a low rate crash. No repro currently, just load/time.

[2018-04-26 14:03] jmarantz commented on #3223
Can you recover any stacktrace?

[2018-04-26 14:04] jmarantz commented on #3223
I'm going to spin up running all tests under valgrind, but in terms of bug-finding, we may also need to look at the circlhist C impl, or the interaction with it, as opposed to just the diffs in Envoy's repo.

[2018-04-26 14:16] jmarantz commented on #3223
valgrind is noisy, but I have a pending branch somewhere to allow our rampant mismatched/new/malloc/free calls (or those in dependencies).  But nevertheless, running it changed the timing, and this assert popped up:

[2018-04-26 14:11:43.056][24][critical][assert] source/common/stats/thread_local_store.cc:103] assert failure: !merge_in_progress_

this was in metrics_service_integration_test.  This

[2018-04-26 14:16] mattklein123 commented on #3223
I have lots of stack traces, but none of them are a smoking gun. When I get
to the office in a few hours I will dig in more.

On Thu, Apr 26, 2018, 7:05 AM Joshua Marantz <notifications@github.com>
wrote:

[2018-04-26 14:29] ramaraochavali commented on #3223
Yeah, The !merge_in_progress_ ASSERT was added on the last day. I will dig
deep in to see why MetricsService integration is running merge twice and
update this back.

On Thu, Apr 26, 2018 at 7:46 PM, Matt Klein <notifications@github.com>
wrote:

[2018-04-26 14:54] ambuc opened #3225 "Should the docker image have bazel 0.12.0?"
*Title*: Should the docker image have bazel 0.12.0?

*Description*:
I think the version of bazel in the docker image is stuck at 0.10.0, whereas locally I'm running 0.12.0. Do we intentionally pin the version at 0.10.0 somewhere? Or are we intending to keep the bazel version inside the image at the latest? We might need to rebuild the image.

I think this might account for a bit of testing weirdne

[2018-04-26 15:02] htuch commented on #3225
I think this is because we haven't rebuilt the base image in a while, and we don't automagically bump when the Bazel latest changes. We should just do a force rebuild on CI and bump the CircleCI SHA.

[2018-04-26 15:16] jmarantz commented on #3223
Thanks @ramaraochavali -- Probably we wanted to use either `RELEASE_ASSERT`, or also leave `!merge_in_proress_` in the conditional with `!shutting_down_`

[2018-04-26 15:18] ramaraochavali commented on #3223
Yes. the original implementation was to tie it with !shutting_down_ and skip the callback. But in the last minute we changed it to ASSERT.

[2018-04-26 15:26] jmarantz commented on #3223
Yeah be we should still leave in the conditional, especially as this is not a RELEASE_ASSERT.   Otherwise if it happens under load then the hard-to-define behavior leaks through..  Of course there's no guarantee this is actually the issue Matt saw.

[2018-04-26 15:29] ramaraochavali commented on #3223
Yeah. Let us see.

[2018-04-26 15:37] ramaraochavali commented on #3210
NaN indicates the histogram was not updated at all . 0 means histogram was updated and calculated quantile value is actually 0. If a value inserted in to histogram, you will not get Nan for any of the quantiles.

[2018-04-26 16:04] mattklein123 commented on #3225
Note that https://github.com/envoyproxy/envoy/issues/3177 will need to be fixed before we can build a new build imagine. Can you potentially look into that?

[2018-04-26 16:06] mattklein123 commented on #3222
Agree it would be great to make this configurable. cc @htuch @alyssawilk

[2018-04-26 16:10] mattklein123 commented on #3218
Envoy logs to stderr, please check your docker, etc. setup to get the logs. If you don't want to use hot restart you can disable it via CLI (see docs).

[2018-04-26 16:26] jmarantz commented on #3210
SG.  Then I recommend special-casing the all-entries-NaN case and just indicate the histogram is empty with a short string.  Only issue is whether that might break scripts that want to to scrape the histogram data.  So another option is omit those histograms completely, which would also be OK with  me.

[2018-04-26 16:28] mattklein123 commented on #3223
@jmarantz @ramaraochavali I have more crash dumps sporadically rolling in and I'm almost positive now the issue is in the histogram code. I already see at least one issue through code inspection but there might be more. Let me investigate a bit and I will get back. @jmarantz @ramaraochavali any work that can be done to get valgrind working, load test, etc. would be pretty nice.

[2018-04-26 16:34] jippi commented on #1966
Hi @mattklein123

I've been playing with this again in envoy during a company hackathon

It seem trivial to do in lua, [except that there are no out-of-the-box way to get time with millisecond resolution](https://stackoverflow.com/questions/463101/lua-current-time-in-milliseconds) - especially inside the confined sandbox which envoy runs lua scripts.

Would the above make it more likely to be incl

[2018-04-26 16:52] jmarantz commented on #3223
PRs issued for RELEASE_ASSERT (#3228) and valgrind helper (#3227)

[2018-04-26 16:55] mattklein123 commented on #3223
[code]

[2018-04-26 16:58] jmarantz commented on #3223
@mrice32 this is *almost* a smoking gun for my theory.  An alternate PR could be quickly constructed that just blocks the overlapped merge, which might make the problem go away.  Or if Matt merges #3228 either in the repo or just locally for his testing, then it would actually show as an assert.  @mattklein123 wdyt?

[2018-04-26 16:59] mattklein123 commented on #3223
@jmarantz I'm running debug build now w/ asserts. Let's just debug a bit. I think we can figure this out relatively soon.

[2018-04-26 17:08] mattklein123 commented on #3223
@postwait can you take a look at ^ stack trace and see if that quickly means anything to you? I'm looking at the code now.

[2018-04-26 17:15] nt opened #3229 "Finalize design for incremental XDS."
This issue is to organize the discussion about Incremental XDS. The full proposal is at:

https://docs.google.com/document/d/1dh8ACRzNNUkVYB3exepTPlLQK6CyDrOaP2OwwGlxDB4/edit#heading=h.yfahbzhf2783

I am planning a working session on the document tomorrow Fri 4/27/18 at 11am PST. The link to join will be:

https://hangouts.google.com/hangouts/_/google.com/incremental-xds

EDIT: changed the date to

[2018-04-26 17:17] mattklein123 commented on #3223
I do see some issues in the original commit that need to be fixed on the Envoy side, but I kind of doubt those are causing the crashes I'm saying. The above stack trace/assert is highly suspicious and I suspect we might be hitting a bug in the library where accumulation is not working correctly in some case. I'm going to recompile w/ symbols and see if I can get a core dump with symbols.

[2018-04-26 17:29] jmillikin-stripe commented on #3214
I can still get it to crash as of 0cadce3fbf5aa40aa940ece007e9383896d701ef (current HEAD, merged an hour ago).

[code]

[2018-04-26 17:30] mattklein123 commented on #3214
Current head is broken. Can you try before the range I mentioned?

[2018-04-26 17:55] jmillikin-stripe commented on #3214
I can reproduce the crash at 14c0c07c194d2bfb4c1de797d3ae66aa64905088 (from the 23rd, before the stats changes).

[2018-04-26 18:19] akonradi opened #3232 "SocketOptionImpl::setIpSocketOption is broken with mock socket"
SocketOptionImpl::setIpSocketOption calls `Address::addressFromFd` with the file descriptor obtained from the socket. `Address::addressFromFd` makes system calls to get information from the file descriptor. If the `Socket` passed to `setIpSocketOption` is a mock object, its file descriptor is meaningless, so making system calls with the file descriptor is a bad idea. Instead, the socket should hav

[2018-04-26 18:28] mattklein123 commented on #3223
I'm able to repro this somewhat regularly on one of our production hosts. I'm going to deploy a build with debug symbols and get a core dump which should allow me to inspect the histograms and see what is going on. Following the library code is pretty difficult for the uninitiated.

[2018-04-26 18:36] #1378 closed

[2018-04-26 19:18] postwait commented on #3223
I've not seen this issue before.. To summarize the library intent.

You wish to merge a set of histograms with (possibly) varying bins.

We iterate through the ordered bins on each counting uniques...

We assign that count and alllocate that number of bins to a target histogram.

We iterate against accumulating those bins into the new target histogram.

This could happen if one of the source histo

[2018-04-26 20:30] #3073 closed

[2018-04-26 22:12] mattklein123 commented on #3232
Fixed.

[2018-04-26 22:12] #3232 closed

[2018-04-26 23:28] ddunbar opened #3236 "Crash with "use_websocket": true on trunk"
**Bug Template**

*Title*: Crash with "use_websocket": true on trunk

*Description*:

envoy crashes on trunk (tested with f0af99c0fffd69e73f8c8c0757373729b0f970db on macOS) when WebSockets are enabled, and a particular traffic pattern is sent.

*Repro steps*:

Launch Envoy with:
[code]
using the config below.

Then send data using [tcpkali](https://github.com/satori-com/tcpkali), as follows:
[code

[2018-04-26 23:47] mattklein123 commented on #3236
cc @ggreenway @rshriram

[2018-04-27 00:01] ramaraochavali commented on #3223
@mattklein123 thanks much for digging in to this. any pointers from you that I should look at to help this debugging?
Based on the stack, I am suspecting couple of things
1. The runOnAllThreads might be calling the post_complete_callback before all workers finished ? so the worker thread's currentIndex is still pointing to the histogram (so it is writing to it) and merge is also working on the sam

[2018-04-27 00:26] shuoli84 commented on #2805
Also please add release tags. Now all images with hash tag, it is not clear which is 1.6.0 stable release.

[2018-04-27 04:45] ramaraochavali commented on #3223
@mattklein123 Thank you. Let us see what TSAN/ASAN shows us. Now since both recordValue and merge calls are going through ParentHistogram, can we hold current_active_ at the ParentHistogram (since there is no harm in all of the tlsHistograms use the same index for writing)? We can define a recordValue(index,value) in ThreadLocalHistogram that would use the current index, and merge also can take th

[2018-04-27 09:31] winguse opened #3237 "Envoy is not complaining missing mongo cluster"
When we are using `http_connection_manager`, envoy will complaining if the cluster is missing. But `tcp_proxy` looks not. I think this should consider as a bug.

version: `envoy  version: 4dd49d8809f7aaa580538b3c228dd99a2fae92a4/1.6.0/Clean/RELEASE`

config:

[code]

output:

[code]

[2018-04-27 13:46] ambuc commented on #3177
@mattklein123 This is solved in #3234.

[2018-04-27 13:51] jmarantz opened #3238 "metrics: integration test failure under valgrind"
*Description*:

*Repro steps*:
[code]

[2018-04-27 13:51] MAnyKey opened #3239 "Return ResponseFlags in response headers"
It would be nice for a non-edge proxy to return ResponseFlags in response headers (e.g. x-envoy-response-flags). That way downstream clients could know the status of the envoy upstreams and that information could be used in monitoring.

[2018-04-27 14:42] mattklein123 commented on #3237
This is the way it used to work, but then we relaxed the error so that tcp_proxy can work with CDS. I would be in favor of adding some type of config option like "validate_cluster" that would optionally enforce this check of desired (we discussed this a while back). cc @ggreenway

[2018-04-27 15:11] ggreenway commented on #3236
This is related to the recent early-data change (that's when this ASSERT was added). I'll sort this out, but I may not get to it until monday.

[2018-04-27 16:18] mattklein123 commented on #3223
Update, ```2018-04-27T15:57:02.42857 envoy: external/com_github_circonus_labs_libcircllhist/src/circllhist.c:844: void internal_bucket_accum(histogram_t *, int, histogram_t *, int): Assertion `tgtidx < tgt->allocd' failed.``` fired on TSAN build with no TSAN error. Going to try ASAN now.

[2018-04-27 17:48] ggreenway commented on #3236
@ddunbar Thanks for the bug report. I reproduced the crash and am working on a fix.

One clarification: I believe this crash only happens when we fail to connect to an upstream (none exist, failed to connect, etc).

[2018-04-27 21:22] htuch opened #3248 "server_fuzz_test is flaky"
We're still seeing server_fuzz_test flakes, despite https://github.com/envoyproxy/envoy/pull/3231, need to dig into this. E.g.

https://circleci.com/gh/envoyproxy/envoy/46809?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-04-27 21:47] mattklein123 commented on #1966
I would probably just add an option to the router filter to set the header.

Also very easy change to add a Lua API to get high resolution time.

[2018-04-27 21:56] kyessenov opened #3250 "Internal redirect in filter chains"
*Title*: Support re-routing within the proxy

HTTP filters are allowed to modify HTTP requests in progress. Sometimes, that leads to changing the routing decision (which is known prior to filter execution). Currently, it feels a bit ad-hoc to insert "clear routing table" call since it is not clear how that works with 1) multiple filters trying to clear routing tables 2) per-route config that can c

[2018-04-27 22:00] mattklein123 commented on #3250
@kyessenov, @alyssawilk was asking me about this earlier in the week. I think she is going to implement 2.

[2018-04-27 22:04] akonradi commented on #3232
Not fixed. This is a bigger issue about how `SocketOptionImpl` requests information from a `Socket` object, namely that it breaks encapsulation.

[2018-04-27 22:27] mattklein123 commented on #3223
Just a small update here. I've still been plugging away at this. I've tried the following things:
1) Making current_active_ atomic
2) Adding complete locking around record/merge
3) Some small other fixes around scope listing during merge
4) Using "fast" histograms

I'm now running a test using extra assertions provided by @postwait. The rough things I've tried are shown here: https://github.com/en

[2018-04-28 00:57] ramaraochavali commented on #3223
@mattklein123 @postwait Couple of thoughts
1. If the issue is happening with source histogram, can we try by cloning the histogram using `hist_clone` and passing the cloned histogram to merge - This would completely eliminate the doubt that is being modified by some one else while `hist_accumulate` is being executed. While the lock that @mattklein123 has introduced does the same, just a thought to

[2018-04-28 04:03] shuoli84 commented on #3218
I thought "I didn't see anything in stderr, and I tried with --disable-hot-restart." But I'll double check this later.

[2018-04-28 11:12] mattklein123 commented on #3223
@postwait:

I applied the following diff on top of your current master:

[code]

I'm able to cause the last assert in that diff to hit:

[code]

From my read of the code there is nothing in `hist_needed_merge_size_fc()` that is checking for the maximum histogram size but maybe I'm missing something. (For that matter I don't see anything obvious in `hist_insert_raw()` that checks bounds either.

On

[2018-04-28 11:37] ramaraochavali commented on #3223
@mattklein123 thanks for the update. I think complete reallocate might just help if target histogram is the problem which seems to be the case as I mentioned above...

[2018-04-28 11:38] mattklein123 commented on #3223
Yes, given that I now I think this is some type of library overflow issue, I would not be surprised if reallocation fixes the issue. I'm running a test now and will report back.

[2018-04-28 11:40] ramaraochavali commented on #3223
And If source is not the problem, I think you are right 100% that there is no threading issue on the Envoy side.

[2018-04-28 12:11] mattklein123 commented on #3223
This patch looks like it fixes the problem:

[code]

I'm pretty positive at this point that `hist_needed_merge_size_fc` (https://github.com/circonus-labs/libcircllhist/blob/master/src/circllhist.c#L821) can overflow count. Then when we go back into to do the copy we start stomping. @postwait this assert is not sufficient as it won't track overflow: https://github.com/circonus-labs/libcircllhist/bl

[2018-04-28 12:15] ramaraochavali commented on #3223
@mattklein123 thanks for the update. Good to know reallocation at least fixed the issue. Should we remove the locks we added for recordValue and merge and see because they seem to be not required.

[2018-04-28 12:25] ramaraochavali commented on #3223
sure. SGTM.

[2018-04-28 12:48] mattklein123 commented on #3223
Small correction, looks like `hist_needed_merge_size_fc` is using `int` for count, so I doubt that is overflowing, so I guess the assert() is probably good. (Though it might be.) So it's a little less clear to me here where the issue is, but hopefully @postwait can spot it.

[2018-04-28 12:58] postwait commented on #3223
I'll have some other engineers here look at this as well. We'll try to both statically analyze and repeat.

[2018-04-28 16:05] julia-stripe commented on #3214
After more spelunking, I believe this may be related to this comment in [thread_local_store.h](https://git.corp.stripe.com/stripe-internal/envoy/blob/97b69ce6a507471180c0585b6742c627962b433b/source/common/stats/thread_local_store.h#L37-L40):

What I'm seeing (after adding a some print statements) is:

[code]

The pointer printed out here is to the `ScopeImpl`.

where those print statements come fr

[2018-04-28 16:08] mattklein123 commented on #3214
@julia-stripe I think it's a different issue from the histogram issue. If possible can you provide a self contained repro or a core dump w/ debug symbols?

[2018-04-28 16:09] julia-stripe commented on #3214
@mattklein123 not sure what you're asking for -- the instructions to reproduce this segfault are in @jmillikin-stripe's first comment

[2018-04-28 16:14] mattklein123 commented on #3214
We don't have access to the management server that you are using. A totally self contained repro even if using a dummy management server in a docker container would make it easier to debug, or a full core dump w/ symbols would be pretty helpful.

[2018-04-28 16:30] julia-stripe commented on #3214
I'm also happy to put a core dump + debug symbols somewhere but the Envoy binary with the symbols is 200MB which makes it a bit hard to send. let me know if you want it and I'll figure out somewhere to upload it!

[2018-04-28 16:41] mattklein123 commented on #3214
@julia-stripe thanks. I have a vague idea of what the issue is but the repro will help. Will take a look.

[2018-04-28 17:59] hehe717 opened #3252 "max_request_per_connection doesn't work?"
acutally, I want to send 1 streams per 1 connection. (http2).

so I configured as.

.
.
.
[code]

as you can see,
I set max_requests__per_connection=1 and max_concurrent_streams=1
there are only 6 machines and I requested to envoy with 7 requests.
and expect 6 requests sends to machine each, and reject 1 request.

and run as
`envoy -c /etc/envoy.yaml --concurrency 1`

but log is
[code]
as you can

[2018-04-28 18:55] mattklein123 commented on #2785
This is fixed.

[2018-04-28 18:55] #2785 closed

[2018-04-29 07:10] mattklein123 commented on #3203
Currently:

`max_concurrent_streams` for upstream connections basically doesn't do anything, as it just sets the HTTP/2 settings frame which really only applies to push promise, which we don't support.

`max_requests__per_connection=1` does not limit overall requests, just requests per connection, so the connection pool will make a new one as needed.

I don't think it's possible to do exactly what

[2018-04-29 11:24] #3028 closed, assigned to nobody

[2018-04-30 03:44] rgs1 commented on #2436
@zuercher @ufodone what do you think of something like https://github.com/envoyproxy/envoy/pull/3254 as a workaround? This would at least — for now — allow us to do this from a filter. And even with regex support, some more advanced use cases would need to be able to do this from a filter.

So I am curious on your thoughts of using `RequestInfo.setDynamicMetadata()` to tag a request and then const

[2018-04-30 03:50] rgs1 opened #3255 "Allow filters to set metadata matches from request"
This is related to #2436, but geared towards exposing the right APIs for filter writers to do what #2436 wants to expose via config language.

I am playing with https://github.com/envoyproxy/envoy/pull/3254 to prototype how this would look.

To reiterate, the main use case I can think of (and which I am currently trying to solve) is being able to set metadata matches from a header (e.g.: `X-Versio

[2018-04-30 06:35] bplotnick opened #3256 "Support subseconds in custom access log format"
*Title*: *Support subseconds in custom access log format*

*Description*:
Currently the default access log format [includes](https://github.com/envoyproxy/envoy/blob/master/source/common/common/utility.cc#L280) milliseconds. However, when defining a custom `%START_TIME%`, we're restricted to only what `strftime`/`put_time` provides, which does not include anything below second. It would be nice to

[2018-04-30 14:00] mattklein123 commented on #3255
@zuercher do you mind taking this question?

[2018-04-30 14:51] mattklein123 commented on #3223
Update: @postwait has fixed an issue in the library and my sanity tests look good. I've unrolled all the extra locking I added and things appear to be running stably. @postwait lmk when the fix gets officially pushed and I clean up my un-revert branch and push a new PR. Thank you!!!

[2018-04-30 15:00] ramaraochavali commented on #3223
@mattklein123 Awesome news. Thank you. @postwait thanks for fixing it so quickly.

[2018-04-30 16:12] #2956 closed

[2018-04-30 17:57] jukylin commented on #2920
New, Envoy support graceful shutdown?

[2018-04-30 19:25] #3173 closed

[2018-04-30 20:33] htuch commented on #3123
I think there is a design level issue here. See https://github.com/envoyproxy/envoy/pull/2892#issuecomment-377061603.

[2018-04-30 21:45] mattklein123 commented on #2890
fixed

[2018-04-30 21:45] #2890 closed

[2018-04-30 22:26] mpuncel commented on #3123
That comment totally makes sense, it's unclear how to combine metadata selection and locality weights in a sane way per request. In fact, in my use case I WANT specifying metadata to override locality weights (it means the client knows where they want the request to go).

I'm not sure if this is any easier to implement, but what i'm interested in is either being able to fall back to locality weigh

[2018-05-01 01:46] yolken-stripe opened #3259 "Envoy crashes if ext_authz cluster is incorrect"
*Title*: Envoy crashes if ext_authz cluster is incorrect

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

If an `ext_authz` http filter is configured with a non-existent cluster, then Envoy crashes when the first request comes in. Ideally, it wouldn't crash and just follow the behavior encoded in the `failure_mode_allow` setting.

*Repro steps

[2018-05-01 04:38] #3214 closed

[2018-05-01 04:39] mattklein123 commented on #3259
@gsagula @saumoh

[2018-05-01 04:40] mattklein123 commented on #3252
I answered this in https://github.com/envoyproxy/envoy/issues/3203 I believe.

[2018-05-01 04:40] mattklein123 commented on #3180
Closing as answered.

[2018-05-01 04:40] #3180 closed

[2018-05-01 04:43] mattklein123 commented on #3185
Closing as answered.

[2018-05-01 04:43] #3185 closed

[2018-05-01 04:54] saumoh commented on #3259
i can take a look at this.

[2018-05-01 05:46] gsagula commented on #3259
@saumoh Let me know what did you find. I'm hands on the filter right now. Maybe we can squeeze the fix in.

[2018-05-01 06:54] #3083 closed

[2018-05-01 12:06] jippi commented on #1966
@mattklein123 any chance of getting one or the other into 1.7 before the release is cut? :)

[2018-05-01 12:54] brirams opened #3263 "OutlierDetection: MaxEjectionPercent not being honored"
*Description*

When using the defaults for `OutlierDetection`(i.e. `max_ejection_percent` of 10% and `enforcing_consecutive_5xx` of 100) against a cluster of 2-3 hosts, I'd expect no hosts to be ejected after consecutive 500s. However, I've seen that ejection occurs regardless of what value is used
for the max. I suspect that it may not be honored due to the how small the cluster size is but could

[2018-05-01 14:36] mattklein123 commented on #3263
The way the code is written, it allows 1 to always get ejected no matter what the percentages are (other than 0): https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/outlier_detection_impl.cc#L262

I don't have a strong opinion as to whether this is "by design" or not so up to you if you want to push for either a code change or just a doc change.

[2018-05-01 17:28] #3236 closed

[2018-05-01 17:53] ddunbar commented on #3236
Thanks @ggreenway!

[2018-05-01 19:47] gsagula opened #3266 "Ext_Authz: Allow extension to append or modify original query string params"
*Description*:
Recently I started exploring the idea of introducing Envoy proxy to one of our  [Hootsuite](http://hootsuite.com) projects which depends on the ext_authz filter and [enhancements](https://github.com/envoyproxy/envoy/issues/2828) being done by myself on behalf of Datawire. One of the goals of the [wip enhancements](https://github.com/envoyproxy/envoy/pull/3162), is to ensure that hea

[2018-05-02 02:05] dio commented on #1966
@jippi I think if we want to make it configurable, could you suggest the configuration [here](https://github.com/envoyproxy/envoy/blob/master/api/envoy/config/filter/http/router/v2/router.proto)? I'm not sure if we want a configurable header's key name as well (but I think that is probably preferable), in that case, we should provide the header key name somehow, e.g. (this is just an idea not sure

[2018-05-02 03:15] ramaraochavali commented on #3131
@saumoh @htuch @mattklein123 I think the problem is because of this default value https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/http/ext_authz/config.cc#L25. In our integration test environments, for first few requests it is failing. We have configured it with a much higher value and it seems to fix the issue.
Is this the right default that we use for all other clusters

[2018-05-02 04:28] saumoh commented on #3131
@ramaraochavali `200ms` seems fine as a default. But if it's enough or not kind of depends on what all the gRPC server side has to do when it get's a request. If it has to invoke other services and/or do a bunch of initialization then it may not be large enough to get things going.
Does the gRPC server get invoked at all?

[2018-05-02 04:41] ramaraochavali commented on #3131
@saumoh No. It is not going the gRPC server at all. It returns gateway timeout.

[2018-05-02 06:40] jippi commented on #1966
I think the key can be static, in my (limited) experience, all tools use `x-request-start` to track it, since NewRelic added it first, and everyone else just copied it - similar the value is always ms resolution. [Linkerd implemented it with a static key/value](https://github.com/linkerd/linkerd/pull/1672) - and just a http filter

The header (imo) should be injected when envoy gets the inbound re

[2018-05-02 10:15] lizan commented on #3205
You're seeing extra characters because it is raw proto. When you modified content-type in response, the gRPC-JSON transcoder filter won't transcode your response.

It is a valid feature request to support this use case. It makes sense to transcoder to do a specialized transcode for [HttpBody](https://github.com/googleapis/googleapis/blob/master/google/api/httpbody.proto) proto.

[2018-05-02 12:46] jmarantz opened #3270 "tooling: should not need to include from source/"
**Issue Template**

*Title*: *One line description*

*Description*:

[code]
The latter can just have the reference removed, but `ratelimit_impl.h` picks up a generated protobuf header from `source/` the proto header is definitely needed, and the build system does not pick it up without the `source/` prefix. Lots of other protobuf headers are picked up in Envoy without the `source/` prefix so we ju

[2018-05-02 12:47] jmarantz commented on #3270
once this is resolved, `source/` can be removed from tools/common.py as a legal header prefix.

[2018-05-02 15:18] ambuc commented on #2428
I think this test is still flaky on mac: https://circleci.com/gh/envoyproxy/envoy/48033

[2018-05-02 16:44] bplotnick commented on #3164
The hot restarter script is meant to be constantly running. To hot restart, send `SIGHUP` to the hot-restarter script. It stores the epoch number and will increment it when it is restarted.

[2018-05-02 21:50] mpuncel opened #3276 "Add ability to fully disable an endpoint via EDS"
*Title*: *Add ability to fully disable an endpoint via EDS*

*Description*:
Envoy has a (wise) built-in assumption that service discovery is inherently eventually consistent, and as a result, removing an endpoint from EDS does not guarantee that it will not receive traffic anymore. Marking it as unhealthy via EDS is a potential workaround for this because Envoy generally will not route traffic to

[2018-05-02 21:54] ggreenway commented on #3276
Another possible solution: What about a setting on the cluster that makes it always immediately remove cluster members when EDS says they're gone? Ie disable the eventual consistency model on that cluster.

[2018-05-02 23:08] zuercher commented on #2428
Per @mattklein123 we now retry integration tests on OS X once if they fail to make the flakiness less disruptive.

[2018-05-03 07:33] #1344 closed

[2018-05-03 07:57] mattklein123 commented on #3276
Is this a duplicate of https://github.com/envoyproxy/envoy/issues/440 @mpuncel? If not, can you clarify a bit how it's different for future readers?

[2018-05-03 14:06] #3223 closed

[2018-05-03 14:14] htuch opened #3278 "Make WRR LB thread aware"
The existing WRR LB uses a per-thread EDF scheduler. This makes memory usage O(m * n) where m is the number of hosts and n the number of endpoints. We can shrink this to O(n) if we precompute the schedule on the main thread (as we do for consistent hash balancers) and just maintain an index that we rotate around the shared schedule for WRR. This comes at the downside of increased memory use when w

[2018-05-03 14:14] htuch commented on #3278
Somewhat related to https://github.com/envoyproxy/envoy/issues/2874.

[2018-05-03 16:35] mpuncel commented on #3276
What i'm asking for is a bit different (but probably either solution would be workable for either use case).

#440 is asking to be able to remove endpoints completely from EDS, and cause draining to happen immediately. I want to be able to still return the endpoints from EDS, but be able to hard-disable them with a flag.

To contrive an example of where this would make a difference, imagine a bug

[2018-05-03 16:51] ggreenway opened #3281 "TcpProxy code should not live in source/extensions"
It cannot be compiled out, so it should not live in extensions.

[2018-05-03 19:24] htuch commented on #3278
@alyssawilk points out that this might not do brilliantly as the number of hosts scales if we want the full range of weights preserved, and that what we do today with the consistent hash schemes is also problematic. We should explore these tradeoffs more thoroughly before committing to a specific implementation path here.

[2018-05-03 20:01] wgallagher opened #3284 "uneven request distribution when using weighted LR LB"
*Title*: *uneven request distribution when using weighted LR LB*

*Description*:

*Repro steps*:

[2018-05-03 22:19] htuch opened #3286 "Enforce filter order dependencies"
Today, filters can be loaded in any order and might depend on the request state and/or dynamic metadata produced by filters that are not included in a filter chain prior to the filter. We could improve this by having Envoy filter factories explicitly provide a vector of filter names that a filter depends on. This could be enforced/validated in two ways:
1. Envoy would refuse to load a filter chain

[2018-05-04 01:21] qiwzhang opened #3287 "HttpIntergrationTest fail at assert failure: !merge_in_progress"
**Issue Template**

*Title*: *One line description*

*Description*:

https://github.com/envoyproxy/envoy/pull/3262

add an assertion in

envoy/source/common/stats/thread_local_store.cc:99] assert failure: !merge_in_progress_

Some HTTPIntegration tests run into that assertion.  Its backtrace is:

IpVersions/JwtVerificationFilterIntegrationTestWithInjectedJwtResult.InjectedJwtResultSanitized/0
[201

[2018-05-04 05:06] ramaraochavali commented on #3287
@mattklein123 could it be because of very low flush interval(50 ms) in integration tests https://github.com/envoyproxy/envoy/blob/master/test/integration/server.h#L56? Would the timer kick in again while flush process is not done with in 50 ms?

[2018-05-04 05:18] mattklein123 commented on #3287
@ramaraochavali in the current code it's possible that when the server shuts down, it will attempt a flush while a current merge is happening. The best solution here is during the terminate flush, don't merge histograms, and just flush what you have. Can you look into making this change and adding tests?

[2018-05-04 05:28] mattklein123 commented on #3164
Closing as answered

[2018-05-04 05:28] #3164 closed

[2018-05-04 05:28] mattklein123 commented on #3203
Closing as answered

[2018-05-04 05:28] #3203 closed

[2018-05-04 05:29] mattklein123 commented on #3218
Closing as answered

[2018-05-04 05:29] #3218 closed

[2018-05-04 05:29] mattklein123 commented on #3237
Closing as answered

[2018-05-04 05:29] #3237 closed

[2018-05-04 05:30] mattklein123 commented on #3252
Closing as answered

[2018-05-04 05:30] #3252 closed

[2018-05-04 05:35] ramaraochavali commented on #3287
@mattklein123 I think we already have that guard condition while merging the histogram. I guess the problem is with the placement of ASSERT, it should be inside shutting_down_ if . https://github.com/envoyproxy/envoy/blob/master/source/common/stats/thread_local_store.cc#L99. WDYT?

[2018-05-04 05:39] mattklein123 commented on #3287
No, this is an actual bug. It has nothing to do with the ASSERT. See the call stack above. The issue is in server shutdown path.

[2018-05-04 05:53] ramaraochavali commented on #3287
Correct. But during shutdown path, stats_store's shutdownThreading is called before flushStats call which sets the shutting_down_ to true. If it is true, we do not try to merge at all. See https://github.com/envoyproxy/envoy/blob/master/source/common/stats/thread_local_store.cc#L100. But I think the problem is the ASSERT since it is outside of if condition, it is firing. Am I missing some thing he

[2018-05-04 05:54] mattklein123 commented on #3287
Ah yes, correct, sorry. However, I think you should still flush on shutdown. IMO if you are shutting down, I would fire the completion callback immediately so that the existing stats get flushed.

[2018-05-04 08:01] mattklein123 commented on #3284
I'm not completely sure how to fix this in the power of 2 load balancer. The thing that comes to mind (needs some simulation to check) is to use both weight and number of requests to create a psuedo-weight for the two chosen hosts, then pick based on that.

[2018-05-04 10:25] mattklein123 opened #3292 "Don't compile version_linkstamp.cc for each test"
@jmillikin-stripe I haven't profiled in depth, but I feel like there has been a regression in build/test times recently. Once of the things that I have noticed is that we appear to be compiling version_linkstamp.cc for every test. Is there any way to not do this for tests? Or use a common one that doesn't need to be compiled each time?

cc @htuch

[2018-05-04 14:56] wgallagher commented on #3284
Also, I should clarify as the title of this jira is vague. The request distribution is actually even it's just that hosts get bombarded with requests serially.

[2018-05-04 15:14] htuch commented on #3284
Why not use an EDF scheduler and weight based on # of requests?

[2018-05-04 16:51] #3287 closed

[2018-05-04 16:55] ggreenway commented on #3248
From a PR build today:

[code]

[2018-05-04 17:15] pravinsinghal commented on #2338
Hi,

Using the same dynamic config and adding a refresh_delay: 1s in the envoy.yaml, the following is printed every second in my log -
bazel-out/k8-opt/bin/source/common/config/_virtual_includes/http_subscription_lib/common/config/http_subscription_impl.h:98] REST config update failed: fetch failure

Any ideas what it could be

thx

Pravin

[2018-05-04 17:34] #3188 closed

[2018-05-04 17:49] htuch commented on #3248
Thanks @ggreenway. The logs in https://github.com/envoyproxy/envoy/pull/3285 are not visible, I just added https://github.com/envoyproxy/envoy/pull/3294 to address this.

[2018-05-04 18:07] #2453 closed

[2018-05-04 18:34] jmarantz commented on #2647
For the record, it's not strictly necessary to adopt absl mutexes in order to get thread annotations; you can just add a simple wrapper around std;:mutex with these annotations, similar to this: https://github.com/apache/incubator-pagespeed-mod/blob/becf61ae23afcfa6abc8259cb01131a9ad4bd213/pagespeed/kernel/base/abstract_mutex.h#L36

Moreoever, absl mutexes brings in absl/base malloc-hooks, for rea

[2018-05-04 18:37] saumoh commented on #3259
[code]

[2018-05-04 18:50] wrowe commented on #2920
To sum up my research to date, and of the three pathways above aught to work, but none will, due to the underlying libevent listener implementation in 2.1.8 released Feb of '17.

It appears deliberate that disabling a listener simply removes the socket from the poll queue, collecting connections against the backq, until then listener is re-enabled.

Work on the listener implementation has been mer

[2018-05-04 19:49] julia-stripe commented on #3259
@saumoh I spent a couple of hours looking into this yesterday. Here's what I found happened:

The crash happens inside [this loop in conn_manager_impl.cc](https://github.com/envoyproxy/envoy/blob/866a4bab8c1e7809e26409ac9636843070b2f61c/source/common/http/conn_manager_impl.cc#L663-L684)

the sequence of events is:

1. Something (??) goes wrong with the `ext_authz` filter (presumably because of the

[2018-05-04 20:25] skssfo opened #3296 "Add Lua APIs to access downstream TLS session info"
*Description*:
Allow Lua script to access downstream TLS session info and add them as header information on the requests going upstream.
Some of the info that are of interest to the upstream services are (using the mod_ssl terminology here - https://httpd.apache.org/docs/2.4/mod/mod_ssl.html) :

SSL_PROTOCOL, SSL_SESSION_ID, SSL_CIPHER, SSL_CIPHER_USEKEYSIZE

I posted this earlier in the envoy-use

[2018-05-04 20:28] llchan commented on #2514
Really happy to see this moving forward (should be much more feature-complete than my custom filter). A couple questions though while we're still early in the process:

- Would it be possible to do route-specific filtering? For example, maybe I have stuff at "/api/serviceA/" and "/api/serviceB/" and I would like to have them require audience claims of "serviceA" and "serviceB" respectively? Yes, I

[2018-05-04 20:32] lizan commented on #2514
The current config doesn't support route-specific filter yet, but it could/would happen in near future.

I don't think we want to do more fine granularity than route with JWT authN filter, but with the upcoming RBAC filter you should be able to fine control the allow by default, etc.

[2018-05-04 20:34] saumoh commented on #3259
@julia-stripe Thanks for taking a look.
we want the `ext_authz` filter to be resilient to a missing cluster. In such a case the `ext_authz` filter should close the client connection [see here](https://github.com/envoyproxy/envoy/blob/866a4bab8c1e7809e26409ac9636843070b2f61c/source/common/grpc/async_client_impl.cc#L63) and since it's before the `router` I would expect the `router` filter is not eve

[2018-05-04 20:48] llchan commented on #2514
Fair enough, agreed that the multi-audience stuff is getting more into authz than authn so maybe that should be deferred to the RBAC filter (first I'm hearing about it).

That said, I think we could tweak the current configs to use a list of route rules rather than a list of bypass. Should be more general than the current bypass scheme, and probably doesn't require quite as much complexity as doin

[2018-05-04 21:06] saumoh commented on #3259
@julia-stripe
do u think this could be the problem?
[`onComplete`](https://github.com/envoyproxy/envoy/blob/866a4bab8c1e7809e26409ac9636843070b2f61c/source/extensions/filters/http/ext_authz/ext_authz.cc#L81) is invoked on stack (not asynchronously)
so `state_ != State::Calling` and therefore `ext_authz` filter returns `Http::FilterHeaderStatus::Continue` [here]( https://github.com/envoyproxy/envoy

[2018-05-04 21:16] ggreenway commented on #2920
Can you elaborate on what issues you're having with libevent?

I'm working on implementing something similar right now. I'm trying to solve a slightly different problem, but it has a lot of overlap. But I have envoy closing its listener (as reported by netstat).

[2018-05-04 21:29] snowp commented on #3276
@mattklein123 @ggreenway Thoughts on how difficult it would be to disable service discovery for a cluster? If it's not too tricky I'd be willing to take a stab at it: it would be super helpful for our use case.

[2018-05-04 21:40] ggreenway commented on #3276
@snowp I don't understand the question in the context of this issue. What do you mean by "disable service discovery for a cluster"?

[2018-05-04 21:45] snowp commented on #3276
Sorry, I meant disabling the eventual consistency part of service discovery. Basically what you suggested in your previous comment

[2018-05-04 21:55] ggreenway commented on #3276
It's pretty easy, because that's already the model used if no health-check is configured, so all the logic is already there.

Steps:
* Add a bool to the cluster config
* In calls to BaseDynamicClusterImpl::updateDynamicHostList, change the value of "depend_on_hc" to false when this new setting is enabled.

[2018-05-04 22:09] snowp commented on #3276
That sounds pretty reasonable, I'll give it a go this weekend.

[2018-05-04 23:09] kyessenov opened #3297 "gRPC async client uses cluster name as authority"
We found that google gRPC async client uses the cluster name as the authority header. That triggers an obscure error in nghttp2 if the cluster happens to use a non-valid character (as defined by https://github.com/nghttp2/nghttp2/blob/842509dab604e6cc62f7fb98d448294c6ec85763/lib/nghttp2_http.c#L307). We should either restrict cluster name to legit h2 authority, or use some other authority value.

[2018-05-04 23:10] kyessenov commented on #3297
cc @qiwzhang @lizan

[2018-05-04 23:55] mattklein123 commented on #3284
@htuch what do you mean? Use an EDF weight schedule like for RR and pick 2 off the top and select the one with the least requests?

[2018-05-05 01:04] kyessenov commented on #3297
Funky things happen if you use legit host header according to nghttp2 (e.g. `a~b`) but that does not match `*` wildcard. Apparently, `*` does not capture `a~b`.

[2018-05-06 03:59] mandarjog commented on #3297
For reference the [istio issue](https://github.com/istio/istio/issues/5331#issuecomment-386751524) that encountered this problem.

[2018-05-07 00:50] mikedanese opened #3301 "http: websockets should interact with full http filter chain"
#### Example Problem

Currently, the http connection manager immediately surrenders websocket requests to the websocket handler, bypassing all http_filters. This is problematic for API front proxies which need to terminate client TLS and pass authentication info in headers to upstream API servers. An Http::StreamDecoderFilter implementing such a proxy will not be called in the websocket handling c

[2018-05-07 01:02] mikedanese commented on #3301
The websocket spec [requires](https://tools.ietf.org/html/rfc6455#section-1.2) that the server responds with upgrade headers checked in [isWebsocketUpgradeRequesrt](https://github.com/envoyproxy/envoy/blob/833769c93ccaae9c7c91d7b01970a750428b5ab9/source/common/http/utility.h#L91):

[code]

A fairly general solution to this problem would be to defer handing off the connection to the websocket manag

[2018-05-07 01:28] mikedanese commented on #3301
cc @rshriram @mattklein123

[2018-05-07 12:10] cookieY opened #3303 "error "Your toolchain has set _GLIBCXX_USE_CXX11_ABI to a value that uses a std::string"
I encountered an error at compile time.

bazel-out/k8-opt/bin/source/common/common/_virtual_includes/compiler_requirements_lib/common/common/compiler_requirements.h:10:2: error: #error "Your toolchain has set _GLIBCXX_USE_CXX11_ABI to a value that uses a std::string " "implementation that is not thread-safe. This may cause rare and difficult-to-debug errors " "if std::string is passed between thre

[2018-05-07 14:12] mattklein123 opened #3304 "rethink panic threshold and priority LB interactions"
See https://github.com/envoyproxy/envoy/pull/3282. There are some ideas in the comment threads about how we can improve how these two features interact to make it more intuitive.

cc @alyssawilk

[2018-05-07 15:45] chriselion commented on #3284
@mattklein123 I think picking the min of `(number of requests) / weight` will work - if the weights are equal, it's the same as unweighted LR, and in the steady state, the number of requests for each host would be proportional to the weights.

For comparing 2 hosts, you can avoid the division and do e.g. `min_index = requests[i] * weights[j] < requests[j] * weights[i] ? i : j;`

[2018-05-07 16:25] abloom-stripe opened #3305 "Filter the metrics being emitted"
*Title*: Filter the metrics being emitted

*Description*:
Envoy emits a large number of metrics. Many of them are useful, but there are a lot we don't use. The number of metrics being emitted in a large deployment of Envoy is expensive and we'd like to be able to control that. Unfortunately we use the `dog_statsd` sink which makes the [statsd/filter](https://github.com/statsd/filter) incompatible.

[2018-05-07 16:26] jmarantz commented on #3238
verified: executing the command above passes once, but I'm trying --runs_per_test=100 and it's still going, but there are some failures.  Will update with more detail.

[2018-05-07 17:59] vadimeisenbergibm opened #3306 "dns_lookup_family has auto in v2, v4_only in v1 as the default."
According to https://www.envoyproxy.io/docs/envoy/latest/api-v1/cluster_manager/cluster#config-cluster-manager-cluster,

According to https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cds.proto#enum-cluster-dnslookupfamily,

...
AUTO
 (DEFAULT) ⁣

This could introduce some surprises/things broken for users in transition from v1 to v2.

Probably related to https://github.com/envoyproxy/envo

[2018-05-07 18:51] jmarantz commented on #3238
out of 100 valgrind runs, 19 failed.

example failures:
[code]

Actually I think that might be all the failures.

[2018-05-07 19:29] bplotnick opened #3308 "inotify watcher performance issues"
*Title*: *inotify watcher is O(N) of watches for each file change*

*Description*:
When using the filesystem watcher for EDS configuration, I noticed significant performance overhead for configuration changes. With a large number of clusters (i've tested with ~1000) updating somewhat frequently (I've tested updating them all every 10s), Envoy ends up spending a significant portion of its time simp

[2018-05-07 19:31] ggreenway commented on #3303
https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_dual_abi.html

[2018-05-07 19:35] ggreenway commented on #2920
See #3307. Would that resolve this issue for you?

[2018-05-07 20:40] mattklein123 commented on #3305
This is somewhat similar to stuff that @mrice32 is working on. @mrice32 any thoughts on this?

[2018-05-07 20:42] mattklein123 commented on #3306
@htuch thoughts on this? I remember we discussed this a while back but I don't recall what we actually said about it.

[2018-05-07 21:00] mattklein123 commented on #3301
@mikedanese the functionality change definitely makes sense to me. I think there are a few options here on how we could fix things. Unfortunately none of them are going to be easy.
1. Modify as you suggest so that we end up proxying the initial request all the way through to the router and back, and then do the hand off. There are some gotchas here that aren't immediately clear to me how to solve.

[2018-05-07 21:12] alyssawilk opened #3309 "SslCaptureIntegration.TestTwoRequestsWithBinaryProto flaky"
Looks like it fails 4% of the time with native bazel (can't say anything about docker)

bazel test test/integration:ssl_integration_test --runs_per_test=200

[2018-05-08 00:24] #3138 closed, assigned to nobody

[2018-05-08 01:22] mattklein123 opened #3310 "Create script that uses /config_dump to create a static Envoy config"
Related to https://github.com/envoyproxy/envoy/issues/2421.

Once /config_dump is created, we should be able to create a script that dumps the current configuration and creates a static config that is similar to the dynamic config. This will involve converting dynamic listeners to static, dynamic clusters to static, EDS clusters, to static, etc.

[2018-05-08 07:39] MAnyKey commented on #3239
So, just to clear things up: are you interested in merging PR which just adds ResponseFlags to response headers?

[2018-05-08 12:52] snowp opened #3312 "Unable to remove entire priority through EDS"
Suppose Envoy has been previously configured with EDS with two localities, L1 and L2 with priorities 0 and 1 respectively. Sending an EDS update that only contains L1 does not remove L2 from the cluster.

Looking at the code, this is because in `EdsClusterImpl::onConfigUpdate` we look at all the priorities found in the new config and iterate over the priority sets corresponding to those priorities

[2018-05-08 13:52] mrice32 commented on #3305
@abloom-stripe I'm working on making it easier for sinks that only care about subsets of Envoy stats.  My plan was to do this by making the existing flush of all metrics optional, and building a better interface for sinks that wish to query stats (see the discussion [here](https://github.com/envoyproxy/envoy/pull/3283).  One thing that I am not planning is to query them by tag values or tag extrac

[2018-05-08 15:41] mattklein123 commented on #2920
@ggreenway @rosenhouse note that we already support selective per-listener drain options via https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/lds.proto#L121 (and use it for same reasons at Lyft). @ggreenway please also consider ^ when you are looking into the final solution.

[2018-05-08 15:43] mattklein123 commented on #3301
Yeah, I think this is exactly how it would have to work, and I think would be the cleanest solution. We can dispatch a "request" and then depending on the response, decide what to do from there inside the connection manager.

[2018-05-08 15:44] mattklein123 commented on #3239
@MAnyKey in general I want to look in aggregate at the problem space of having an option in which Envoy can return extended information in headers. This is things like response flags, upstream cluster routed to, timings, etc.

[2018-05-08 15:44] mattklein123 commented on #3312
@alyssawilk @htuch  FYI

[2018-05-08 15:48] mattklein123 commented on #3305
Yeah, I think it probably makes sense to split the problems apart. @mrice32 once you make the interface changes we discussed, I think it would be pretty easy to build what @abloom-stripe is asking for into something that is either specific to statsd, or potentially a general option that is used by some type of common filtering code uses during flush (this could potentially even be used for filteri

[2018-05-08 16:31] #3309 closed

[2018-05-08 16:57] rshriram commented on #3301
One alternative is to add a new codec that supports the bare minimal websocket stuff framing. While http filters can be used with websockets, filters would typically see only the first req/resp and then the rest is opaque or even simply an extended decodeData()?

I haven’t revisited this in a while. But this was one initial line of thought.

[2018-05-08 17:05] ggreenway commented on #3303
The answer is very dependent on exactly what toolchain you're using. If you're on centos/redhat, there's no way to make it work until centos 8 is released.

For other toolchains, you can try defining _GLIBCXX_USE_CXX11_ABI=1 in your build. If that doesn't fix it, it probably means your toolchain can't work correctly. As of now, the only known issue is some flaky tests. However, that could change i

[2018-05-08 17:32] htuch commented on #3312
One thing to keep in mind when working on any fix @snowp is that priorities are currently intended to be "dense". I think there is some assumption that we have priority [0..n] without any gaps where n is the highest. It might be fine to have sparse priorities, but you might hit some gotchas as well.

[2018-05-08 17:36] #3141 closed

[2018-05-08 17:43] mattklein123 commented on #1204
Yes

[2018-05-08 17:55] caniszczyk commented on #1204
It's also here: https://github.com/envoyproxy/envoy#security-audit

https://github.com/envoyproxy/envoy/blob/master/docs/SECURITY_AUDIT.pdf

[2018-05-08 18:03] snowp commented on #3312
That property of the priorities makes fixing this pretty simple: If envoy currently has N priorities but receives an update with `M < N` priorities, then priorities `M, ... N` are no longer referenced and should be removed.

Related to this: do we verify that priorities are dense? I definitely see code that would behave strangely (or just break) if that wasn't true, so I'd expect Envoy to reject t

[2018-05-08 18:13] ggreenway commented on #2920
@rosenhouse For clarity, in your ideal scenario, can you write a timeline (or ordered list) of when ingress and egress listeners would be drained and closed?

[2018-05-08 18:14] jmarantz commented on #2571
We now have thread annotations working and usable in the system, and though the entire system hasn't been annotated or converted from std::mutex to absl::Mutex yet, I think this bug can likely be closed.  WDYT?

[2018-05-08 18:15] jmarantz commented on #2647
They work now.  Assign to me & close?

[2018-05-08 18:20] rosenhouse commented on #2920
0. ingress listener stops accepting new connections (returns TCP connection refused) but continues to service existing connections.  egress listeners are completely unaffected.
0. configurable delay to allow workload to finish servicing existing connections.
0. envoy (and workload) both terminate

[2018-05-08 18:28] ggreenway commented on #2920
Thanks

[2018-05-08 19:10] emalm commented on #2920
Thanks, @rosenhouse, that sequence looks right to me!

[2018-05-08 19:17] htuch commented on #3248
Looks like the fail is in test/server/server_fuzz_test.runfiles/ci/test/server/server_corpus/oom-550f56d376b3a23320724b98c79905f7c73e4e55 as per https://circleci.com/gh/envoyproxy/envoy/49977?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link.

[2018-05-08 19:40] mattklein123 commented on #2571
SGTM.

[2018-05-08 19:40] #2571 closed

[2018-05-08 19:40] #2647 closed

[2018-05-08 23:37] ggreenway commented on #2920
Not sure if this is important to you or not, but 1 caveat to keep in mind: if you have no way to tell your clients to stop connecting before you close listeners (to cause TCP clients to see connection refused), the listener may have some connections in the listen() backlog when the listener is closed. There is no race-free way to avoid this with the socket API. Those connections will get RST, but

[2018-05-08 23:54] #3248 closed

[2018-05-09 00:04] mattklein123 opened #3326 "Deprecate --service-* CLI args and replace with bootstrap config/overrides"
All locality information cannot be set with the old CLI arguments and this causes confusion.

[2018-05-09 00:32] rosenhouse commented on #2920
@ggreenway interesting, I wasn't aware of that.  Do you have any references you could point to that describe this?

[2018-05-09 00:45] mpuncel opened #3327 "Changing locality priority level causes the locality to be duplicated"
*Title*: *Changing the priority on a locality in a cluster with active health checks configured results in the locality being duplicated*

*Description*:
[mpuncel/envoy@b4e3af34dd06](https://github.com/mpuncel/envoy/commit/b4e3af34dd0600562ed6774b69f15822778d0b39) has a failing test case demonstrating this.

Example: if there are two localities L1 and L2 which are both included in an EDS update wi

[2018-05-09 03:14] mpuncel commented on #3304
my 2 cents: I agree with the overall idea mentioned in the other thread that panic threshold should let the spillover mechanism do its job when lower priorities have healthy hosts, but if the lowest priority is too unhealthy some kind of panic mechanism should kick in.

One way of doing it might be to have the spillover mechanism "wrap around" to the first priority, and just consider the first pri

[2018-05-09 03:55] shuoli84 opened #3329 "crashed when click config_dump"
**Issue Template**

*Title*: *Envoy crashed when click config_dump from admin page*

*Description*:

*Version*:
envoy  version: 08712e93b07695f53d192a2601cfa2ccc7a20f33/1.7.0-dev/Modified/DEBUG

* Config *:
[code]

* Stack trace *
[2018-05-09 11:50:07.205][1843493][critical][backtrace] bazel-out/darwin-fastbuild/bin/source/server/_virtual_includes/backtrace_lib/server/backtrace.h:114] Caught Segme

[2018-05-09 04:27] mattklein123 commented on #3329
This was fixed by https://github.com/envoyproxy/envoy/pull/3199 and is a duplicate of https://github.com/envoyproxy/envoy/issues/3141

[2018-05-09 04:27] #3329 closed

[2018-05-09 04:30] mattklein123 commented on #3327
@htuch @alyssawilk

[2018-05-09 08:43] frost1990 commented on #1094
@hennna
do you finished the poc of envoy working under ipv6 environment？

[2018-05-09 14:58] alyssawilk commented on #3327
Yeah, I think it's worse than just moving priorities, I think in general there's an issue with removals, similar to #3312 where we're using locality as a unit of update.  So when we get a config update with 2 localities we update those two, but if the original priority level had 4 localities, the other two are assumed to be untouched, rather than being removed.

We can either say that any localiti

[2018-05-09 15:17] hennna commented on #1094
There are one or two functions that still do not have ipv6 support -- getOriginalDst for example. This function will not return an ipv6 address if getsockopt(fd, SOL_IP, SO_ORIGINAL_DST, ...) fails.

We're running envoy in ipv6 environments and this hasn't been a problem yet.

[2018-05-09 15:25] htuch commented on #3327
Yes, I agree, we should nuke anything not mentioned in the update. We will deal with incremental updates differently, as per the incremental xDS proposal. @snowp @mpuncel is fixing this on your radar, or should @alyssawilk or I own this?

[2018-05-09 15:31] snowp commented on #3327
https://github.com/envoyproxy/envoy/pull/3318 aims to clear our priorities not mentioned in the update, I'll happily see that one through. I'm not familiar with the incremental xDS proposal but I imagine that's less important for us.

[2018-05-09 15:44] htuch commented on #3327
@snowp I'm not suggesting to add incremental xDS here. I'm suggesting that we should do what #3318 does but also for localities within a priority level. You might hit this bug as well.

[2018-05-09 15:46] snowp commented on #3327
Got it. Yeah that sounds like something we'd need to deal with, so I'll tackle that as well.

[2018-05-09 15:47] htuch commented on #3327
@snowp awesome, thanks for the contributions here.

[2018-05-09 16:48] mpuncel commented on #3327
If the approach to remove a locality if it isn't mentioned in the locality is implemented, we will cause unintended consequences with TCP draining if the locality is moved across priorities?

My concern is: imagine we have locality L1 in priority 0, and locality L2 in priority 1. If L1 is experiencing an outage, and requests are therefore spilling over to L2, an operator might promote L2 to priori

[2018-05-09 17:27] danielhochman opened #3332 "Resource-based circuit breaking"
**Description**

Envoy should have the ability to circuit break on system resources like CPU.

Circuit breakers at ingress are used to protect our hosts from resource exhaustion. To determine circuit breaker thresholds, we run a "redline" test, which increasingly ramps traffic on a single host until it degrades. We note `rq_active`, then set the threshold less some buffer.

Over time this ends up

[2018-05-09 19:13] #3312 closed

[2018-05-09 20:10] ggreenway commented on #2920
The documentation is scarce, and results may be OS-dependent. I did testing on linux, using a simple test client and server application. The server calls listen() but never calls accept(). The client connects (using blocking socket calls), then sends some bytes. tcpdump shows the client SYN, server SYN/ACK, client ACK, and the client sending data, and the server ACK'ing the data.

The reason is th

[2018-05-09 20:26] ggreenway commented on #2920
I understand your point about libevent. I imagine that was written from the point of view of a library that provides events for things (and also happens to manage sockets sometimes). I think it could be rephrased more correctly as "These functions temporarily disable or reenable listening for events for new connections." But I think that's beside the point, because the socket API doesn't provide f

[2018-05-09 20:26] ggreenway commented on #2920
@mattklein123 front-end health check failing doesn't really work with TcpProxy, does it?

[2018-05-09 20:30] ggreenway commented on #2920
But in the absence of `/healthcheck/fail` (like for TcpProxy), you need some way external to envoy to drain traffic. IPTables is one such way.

[2018-05-09 20:50] mattklein123 commented on #2920
In every deployment I've ever done it does. Basically, HTTP health check can be used to fail an Envoy out of some rotation, whether that be a load balancer, DNS, BGP, etc. Then after some period of time the process can be terminated/restarted/etc. I've just never seen a need for this type of control so it's kind of surprising to me.

[2018-05-09 20:53] ggreenway commented on #2920
Yeah, I see what you mean. I meant specifically `/healthcheck/fail`. But yes, there must be some other mechanism for doing the same thing. I think you and I are in agreement here.

[2018-05-09 22:10] charliezgc opened #3335 "Ability to format the outlier event log entry"
*Title*: *Ability to custom format the outlier event log entry by configuration*

*Description*:
Please provide a means to configure a format for outlier event log entries, much the same way of access logs. E.g.,
[code]
In our use case, we consolidate all envoy logs to a unified format and transmit to a central location for further processing. Currently we tail the outlier event log, translate it,

[2018-05-09 22:57] rosenhouse commented on #2920
@jvshahid My understanding from the conversation is that this feature request (OP) cannot be achieved in a non-racy (i.e. correct) way using sockets API alone.

However, the race condition may be unlikely enough that it meets our SLOs, especially when combined with our service discovery deregistration mechanism (NATS deregistration message to [Cloud Foundry ingress router](https://github.com/cloud

[2018-05-09 23:27] rosenhouse commented on #2920
But I would also like to better understand the health-checking approach that @mattklein123 and @ggreenway seem to be discussing, in light of the scale targets we have in mind for CF.

[code]

Our setup is N ingress proxies, each forwarding to M sidecar'd application instances.  We constrain the drain duration to T seconds.  With active health-checking from each ingress to each sidecar, that means

[2018-05-09 23:29] ddunbar opened #3337 "Crash in ConnectionImpl::onMessageBeginBase"
*Description*:
Envoy crashes with the supplied configuration file, and using tcpkali as a server.

I tested with Envoy trunk on macOS, using f95269d5f06da435d14162b14cde664edec95109.

*Repro steps*:
[code]
*Config*:
[code]

*Call Stack*:

[code]

[2018-05-09 23:36] mattklein123 commented on #3332
IMO this is best done as a dedicated filter, as the circuit breaking is a bit different from what we currently do and I think it's pretty self contained. I think I would make this a general resource based ingress circuit breaking filter that could be eventually extended to memory and other things. As long as we have the right platform abstractions for getting the information we need I think this s

[2018-05-09 23:41] mattklein123 commented on #3337
@ggreenway

[2018-05-10 02:15] frost1990 commented on #1094
@hennna
We need to use Istio in Kubernetes with a pure IPV6 environment. After some tests we found that envoy cannot proxy correctly when it goes in IPV6.
related logs are shown below:

``[2018-05-08 03:34:25.074][119][debug][filter] external/envoy/source/common/filter/listener/original_dst.cc:17] original_dst: New connection accepted
[2018-05-08 03:34:25.074][119][error][filter] external/envoy/so

[2018-05-10 02:16] frost1990 commented on #1094
@hennna
We need to use Istio in Kubernetes with a pure IPV6 environment. After some tests we found that envoy cannot proxy correctly when it goes in IPV6.
related logs are shown below:

``[2018-05-08 03:34:25.074][119][debug][filter] external/envoy/source/common/filter/listener/original_dst.cc:17] original_dst: New connection accepted
[2018-05-08 03:34:25.074][119][debug][main] external/envoy/sour

[2018-05-10 02:41] hennna commented on #1094
It's possible this is not an ipv6 issue but an issue with:

external/envoy/source/server/connection_handler_impl.cc:204] [C21] closing connection: no filters
[2018-05-08 03:34:25.074][119][debug][connection]

https://github.com/envoyproxy/envoy/blob/eaff2716cd54b6598129c5f26732b7c4dd37b348/source/server/connection_handler_impl.cc#L201

[2018-05-10 02:48] frost1990 commented on #1094
@hennna
In a k8s pod which injected with istio-proxy, istio-proxy  use ip6tables to redirect all output requests to [::1 ]15001. If envoy cannot get the real destination,  can it be possible to create network filter?

[2018-05-10 03:00] hennna commented on #1094
From my search, I remember two possible ways to support getOriginalDst:

1) patch ip6_tables.h (possible solution?: https://patchwork.kernel.org/patch/9395683/)
2) # define IP6T_SO_ORIGINAL_DST 80

Both of these didn't sound like good options.

For creating network filters, maybe someone on slack would know? https://envoyproxy.slack.com/messages/C78HA81DH/

[2018-05-10 09:39] futangw opened #3341 "can envoy health check re-use traffic connection"
**Issue Template**

*Title*: *One line description*
can envoy health check re-use traffic connection

*Description*:

I had set up two envoys as client/server and both of them are using only 1 working thread (--concurrency 1). I also set http type health check for them. I want the http HC and traffic use only one connection (that means the http HC re-use traffic connection). Is it possible?

I'm u

[2018-05-10 10:01] lvijay commented on #1034
Hi @junr03 any progress on this?

[2018-05-10 13:13] alyssawilk commented on #3301
It'd be helpful to us if websocket ugrades traversing an H2 hop could have full header sanitation on the H2 hops and onData calls for the websocket payload (for say DoS byte accounting).  I haven't looked at the websocket spec lately, but if we just allow pass-through of the upgrade header and make sure that bidirectional H2 works correctly, would this "Just Work"?  Anyone object to allowing this

[2018-05-10 14:18] alanconway opened #3343 "Allow filters to write through downstream filters only"
*Title*:  Allow filters to write through downstream filters only

*Description*:

A  Network::Filter that does protocol translation can intercept and replace  data going up or down stream in onData and onWrite. However sometimes onData may need to write downstream, e.g. to respond to a downstream event that is not reflected in the upstream protocol. Also the filter may need to write timer-based do

[2018-05-10 14:58] jsedgwick commented on #3335
We can convert outlier logging to proto as discussed in #2028 and as implemented for active healthcheck logging in #3176. It will not be much work after that PR is merged. Would having the log consumable as proto help you? I don't know if we want to add custom formats given that the future is proto streams. WDYT @danielhochman ?

[2018-05-10 15:20] wknd-dev commented on #3078
Any pointers on this one? Is envoy not being used as https proxy? Thank you in advance.

[2018-05-10 15:51] ggreenway commented on #3343
One possible generalization of the idea is to have queues between each filter (in both directions).  I can imagine something like having the gzip filter and a protocol translation filter both in a chain, and when either filter has enough data, it should be able to pass what it has to the next filter in the chain.

[2018-05-10 15:53] ggreenway commented on #3335
I disagree with that assertion. I plan to use text-based logging exclusively.

[2018-05-10 15:55] mattklein123 commented on #3335
Correct. We will always support both text/proto, though the text JSON may be driven by protos. However, this issue is asking for fully customizable formatting like we have for access logs. This is fine from a feature perspective but someone from the community will need to contribute it.

[2018-05-10 16:30] abloom-stripe commented on #3305
Just to clarify we're using the dogstatsd metrics sink, not statsd. If we were using statsd we could shim [https://github.com/statsd/filter](statsd/filter) in between Envoy and our collector to do the filtering. If possible a generalized solution would be ideal.

[2018-05-10 16:55] ggreenway commented on #3337
This is not websocket-specific. I deleted the "use_websocket" line from the config and get the same result.

[2018-05-10 17:02] lizan commented on #3078
If you use global-tunnel, IIUC envoy will get traffic without using iptables, so the original_dst won't work. It will talk to envoy with HTTP `CONNECT`, which envoy doesn't support yet #1451.

The original_dst filter is to used with iptables redirected traffic. If you want to use that you'll still need to define clusters before traffic hits Envoy. See #1606.

[2018-05-10 17:06] ggreenway commented on #3337
[code]

[2018-05-10 17:16] ggreenway commented on #3337
Looking at a packet capture, an HTTP response was sent BEFORE the HTTP request for the health check. Basically as soon as the connection was established, a response was sent.

[pcap.tar.gz](https://github.com/envoyproxy/envoy/files/1992565/pcap.tar.gz)

[2018-05-10 17:33] alyssawilk commented on #3337
+1 - we absolutely need to handle this without crashing.  I'm curious if the stray data came in early on a preexisting connection if the fix in #2871 would have caught it but either way we can't rely on the data to

[2018-05-10 17:37] jsedgwick commented on #3335
Yeah, to clarify, I was asking whether structured proto output in text based json or otherwise would help OP enough (ie by making it simpler to consume). Whether to add custom formats on top i agree with and defer to @mattklein123

[2018-05-10 17:59] charliezgc commented on #3335
In that case, we may be able to code the custom format feature and make a PR in the future. We are not using proto at the moment so any new development on the logging would not be immediately useful.

[2018-05-10 17:59] #3335 closed

[2018-05-10 18:03] brirams commented on #3263
I'll go with adding a few lines into docs. Thanks!

[2018-05-10 18:19] htuch commented on #3337
FWIW, I have a repeater for this using https://github.com/envoyproxy/envoy/pull/3338 and a corpus that local fuzzing discovered.

[2018-05-10 20:05] #2925 closed

[2018-05-10 20:08] #3102 closed

[2018-05-10 20:38] snowp commented on #3327
So looked into this and verified that localities will be removed from within a priority level when not referenced in the config update: https://github.com/snowp/envoy/commit/43647e8d07556b42f681870434bd03e728eb4479

The difference between my test and @mpuncel's test is that I didn't add any health checkers. When health checking is enabled we attempt to remove the endpoints within the locality but

[2018-05-10 20:44] #2716 closed

[2018-05-10 20:46] alyssawilk commented on #3327
My inclination is to say that being unable to remove the locality is a bug, and avoiding draining and reestablishing connections is an optimization.  I think we can fix the underlying problem and if anyone encounters problems due to shifting localities around there can be a follow-up PR addressing that.

[2018-05-10 20:55] stevesloka opened #3351 "Expose metrics per vhost"
*Title*:  Expose metrics such as latency & rps by VHost

*Description*:
I am looking for a way to visualize metrics by VHost or Route. Currently, they are exposed per cluster.  I did a quick ask in Slack and found that other users are parsing through the access logs and deriving this information from them. I'd prefer to see if there's a way to have them come through the included metrics mechanism

[2018-05-10 22:06] htuch commented on #3327
Yeah, I agree. Ideally we optimize for behavior within a static assignment of priorities/localities and correctness first, and then if it's a real issue (i.e. we have dynamic adjustment of priorities happening frequently enough in concrete use cases), then we can add this as a separate PR.

[2018-05-10 22:41] danielhochman opened #3352 "support proxy protocol v2"
Envoy currently supports PROXY protocol v1. The AWS NLB product only supports sending PROXY protocol v2. v2 is a binary format, v1 was human readable.

[2018-05-10 23:50] mattklein123 commented on #3351
This comes up occasionally. The reason we don't do this by default is cardinality explosion. The closest thing we have today to this feature is "virtual clusters": https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#envoy-api-msg-route-virtualcluster

That might be good enough for what you need.

I don't have any objections to metrics per vhost or per route, but I think it

[2018-05-10 23:51] mattklein123 commented on #3297
I'm going to close this out for now. Let's reopen a feature request if we want a way to override this behavior.

[2018-05-10 23:51] #3297 closed

[2018-05-11 00:09] ggreenway commented on #3351
Also, when SNI is finished (PR in progress right now), if you setup your config such that there is a virtual-listener per vhost (instead of defining vhosts in the http-conn-manager), you'll get stats per vhost. But not per route.

[2018-05-11 00:26] mattklein123 commented on #3225
This is fixed.

[2018-05-11 00:26] #3225 closed

[2018-05-11 00:51] #2900 closed

[2018-05-11 02:45] llchan commented on #2514
I happened to be looking at some google api docs and noticed that their api has support for per-route issuer/audience verification: https://cloud.google.com/endpoints/docs/grpc-service-config/reference/rpc/google.api#google.api.Authentication

After thinking about it a bit more, it does seem appropriate to include route-specific issuer/audience checks as part of the authn filter. We're not filteri

[2018-05-11 03:14] cookieY commented on #3303
@ggreenway thanks

[2018-05-11 03:14] #3303 closed

[2018-05-11 11:07] curlup commented on #1947
I see a problem with that. For example in the process of deploying changes to these settings, there will be instances with different buckets sets simultaneously.

[2018-05-11 11:54] SuperQ commented on #1947
@curlup Yes, that will happen, but it's not a big problem, or a blocker to this feature.

[2018-05-11 12:59] yuval-k opened #3355 "ads: nonce is ignored when empty response arrives, resulting in a 503 responses."
When running gloo's integration tests, we noticed an issues that seems to be ADS related. (i was able to reduce it to a consistently failing e2e test,  here https://github.com/solo-io/gloo/blob/per-role-config/test/local_e2e/eds.go#L119)

It seems that an ADS Request is ignored. I believe that this is the scenario that causes it:
1. Cluster with EDS is added (envoy is synced with Cluster and Clust

[2018-05-11 13:40] taion809 commented on #3270
It appears that ratelimit.proto exists in `source/common/ratelimit` instead of the `api/` directory.  I checked the `source/` directory and it is the only protobuf file left which is why you'd notice the discrepancy with other profobuf files.

[code]

It looks quite similar to `api/envoy/service/ratelimit/v2/rls.proto`

[2018-05-11 14:08] alanconway commented on #3343
From an API perspective I was thinking to leave onRead() and onWrite() as the way filters communicate but to provide a way to "manufacture" read/write events that are only visible to  up- or down-stream filters.
I only care about write but it makes sense to be symmetric.

As to implementation I'm not sure if we need some form of queue between filters or just a way to find the right place in the ex

[2018-05-11 14:11] htuch commented on #3355
Thanks for the bug report @yuval-k. I agree this is broken and your patch gets us towards a solution. If you can open a PR with what you have there, I'll leave some comments; I think we should also be sending a NACK and an error message back to the management server in some of the other branches (including the ones you call out).

[2018-05-11 14:59] mpuncel opened #3356 "suggested improvement: allow specifying environment variable for unix socket path"
**Issue Template**

*Title*: *Allow specifying listener unix socket path via environment variable*

*Description*:
Right now the core.Pipe proto allows you to specify the filesystem path where an Envoy listener should place its unix socket.

It would be convenient for certain use cases if we could instead specify an environment variable that Envoy should get the socket path from. This is because u

[2018-05-11 15:12] htuch commented on #3356
Would we want pipe paths to have arbitrary env var expansion? Or a single environment variable for all UDS paths?

I don't think there are any additional security concerns, but adding environment variable dependencies adds another dimension when trying to understand Envoy configurations state (we already have bootstrap config, runtime filesystem and dynamic configuration via xDS).

Another thought

[2018-05-11 15:15] yuval-k commented on #3355
@htuch I'm not sure how to add a unit test, as I need to check the state of `api_state_` (the variables that contains the nonce) which is private in GrpcMuxImpl. What's the best practice here? make the test class a friend? or create a const getter?

[2018-05-11 15:22] espectro commented on #1070
Hi
we are making H/2 server push from golang backend and  getting

Is feature not implemented still?

[2018-05-11 15:29] htuch commented on #3355
https://github.com/envoyproxy/envoy/blob/master/test/common/config/grpc_mux_impl_test.cc already expects on the resulting `DiscoveryRequest`, which is where the nonce should be present. I think that's a totally reasonable granularity to add the test at.

[2018-05-11 15:39] mpuncel commented on #3356
I'm not sure I understand the first question, but here's the type of proto change I'm suggesting https://github.com/mpuncel/envoy/commit/0e3cfd341875e9e9dae228b4939f5d23bc2e1cea

You raise a good point that adding indirection to Envoy's configuration adds some cost to this. If I inspect the listeners via /config_dump I won't see the socket path anymore, I'd see an environment variable and then I'd

[2018-05-11 16:18] qiwzhang commented on #2514
My plan is to support per_route config in route::per_filter_config.  You can put the whole JwtAuthentiction config into this per_filter_config.   It may not be optimal since you have to specify jwt rules for each route, but it will serve most use cases.
@llchan will that work for you?

[2018-05-11 16:37] snowp commented on #3327
Maybe I'm misunderstanding - are you saying that if a locality is completely removed we should bypass the check to see if the endpoints are still reporting healthy?

[2018-05-11 18:03] llchan commented on #2514
That would in theory work, but the config would be very verbose compared to the proposal above. One implicit advantage of the above is that the level of JWT granularity is decoupled from the routing, and the user can choose how to organize the JWT authn. I can, for example, have 100 route entries, but only 2 jwt-authn rules filtering for audiences of "/api/v1/" and "/api/v2/". That's just an examp

[2018-05-11 18:06] mattklein123 commented on #3270
@taion809 see https://github.com/envoyproxy/envoy/issues/1034

[2018-05-11 18:06] mikedanese opened #3360 "tls: expose keying material exporter to network and http filters"
This allows filters to implement protocols that require application level secret agreement, e.g. origin bound certificates and token binding.

* [rfc5705: Keying Material Exporters for TLS](https://tools.ietf.org/html/rfc5705)
* [Boring ssl function](https://boringssl.googlesource.com/boringssl/+/5f001d142302910ac0c0534dd7d6f2526bc2ed31/include/openssl/ssl.h#1523)

[2018-05-11 18:29] mattklein123 commented on #3343
@alanconway per the convo we had on envoy-dev, I think you want to mimic how we do things in the HTTP filter chain which takes into account which filter is actually making the call through the callbacks provided by the filter manager. I think we want to add a write() function into the callbacks provided to the filters, which can then be used to perform writes correctly through the filter chain. Th

[2018-05-11 18:37] srikailash commented on #2958
Hello @mattklein123, i have a PR ready for this. Let me know if this https://github.com/envoyproxy/envoy/commit/0479c8ac934a93dc31027e176d6645127e7bb080 looks good. Thanks!

[2018-05-11 19:08] alanconway commented on #3343
It makes sense in theory, I have yet to dig into the details.

[2018-05-11 19:11] wknd-dev opened #3361 "force (zipkin) tracing to create new span for ingress operation"
*Title*: *force (zipkin) tracing to create new span for ingress operation*

*Description*:

1. start new span in same trace id
2. use incoming span id (x-b3-spanid) as parent span id (x-b3-parentspanid)of new span.

I tried various things without any success

- sending x-b3-parentspanid and/or not sending x-b3-spanid

- setting x-client-trace-id from client

- setting config: { start_child_span: "

[2018-05-11 19:12] mattklein123 commented on #2958
@srikailash please just open a PR if you would like code reviewed.

[2018-05-11 19:22] mattklein123 opened #3362 "Add EDS to /config_dump"
This is a follow up from https://github.com/envoyproxy/envoy/pull/3340. We should add EDS support also to the config_dump admin endpoint. Some thought needs to be put into how this will be managed given that on its own showing EDS output disjoint from cluster output is not that useful. If a cluster is an EDS cluster, should we dump the EDS configuration as a nested item in the cluster output?

Not

[2018-05-11 19:40] qiwzhang commented on #2514
Hi @llchan,  One concern of your proposal is:  you put route specific requirement rules in the filter config, it will be send to Envoy as LDS.   But route could change dynamically,  per-route specific info is preferred to send to Envoy in RDS.  We don't want a route change to cause LDS update which is expensive.

Based on your idea, I will propose to move route specific requirement rules into per_

[2018-05-11 19:47] vadimeisenbergibm opened #3363 "Clarification of wildcards in sniDomains of filterChainMatch"
According to https://github.com/envoyproxy/envoy/blob/a22159aa1274f63b1b83e56ccc4482e0a01a6d80/source/common/ssl/context_manager_impl.cc#L116

the wildcard is allowed before the first dot, it means that `www.example.com` will be matched by an SNI domain `*.example.com`, but not by `*.com` or `*`. Maybe this fact should be stressed in the documentation https://www.envoyproxy.io/docs/envoy/latest/ap

[2018-05-11 19:51] mattklein123 commented on #3361
@objectiser

[2018-05-11 20:05] mattklein123 commented on #3363
@vadimeisenbergibm perhaps you could submit a documentation improvement PR?

[2018-05-11 20:15] vadimeisenbergibm commented on #3363
@mattklein123 Will do.

[2018-05-11 21:08] htuch commented on #3327
I think if you have health checks enabled and expect hosts to stick around post-EDS removal while they are healthy, that should happen regardless of whether the locality or priority disappears. So, I think what you write is valid, thank you very much for digging into this!

@mpuncel does this make sense at your end, or do you have a different take?

[2018-05-11 21:45] mpuncel commented on #3327
yep, makes sense. I do think being able to change the priority on a locality (move operation) would be useful, I'll open a separate issue for that as a feature request

[2018-05-11 21:45] #3327 closed

[2018-05-11 22:37] mattklein123 commented on #2882
@envoyproxy/maintainers and other interested parties: I drafted a short document on a proposed policy for how extensions will be added to the repository in the future. Please comment!
https://docs.google.com/document/d/1eDQQSxqx2khTXfa2vVm4vqkyRwXYkPzZCcbjxJ2_AvA/edit#

[2018-05-11 23:34] llchan commented on #2514
Ah thanks, I understand now. I'm currently using static configs so I didnt think about dynamic updates. I think the hybrid approach of defining providers in the filter config and referencing them in per-route filter configs is a nice middle-ground.

[2018-05-12 07:28] wozz commented on #2200
#3161 should resolve this issue

[2018-05-12 12:32] mpuncel commented on #3356
closing this, I think it's moot for use cases using containerization, and can be solved in other ways for others

[2018-05-12 12:32] #3356 closed

[2018-05-13 01:08] brian-pane commented on #232
I volunteer to work on this, because the `ioctl` in libevent is surprisingly time-consuming.

[2018-05-13 17:28] snowp commented on #3123
@htuch What do you think about adding a config option that enables the naive solution to blindly apply locality lb weights regardless of subset size? A smarter weight assignment strategy could be added later on, configured separately.

To prevent people from running into the potential pitfalls you mentioned in your comment we could add a warning to the docs explaining it.

We have a use case where

[2018-05-13 20:28] mattklein123 commented on #2200
Closing as fixed.

[2018-05-13 20:28] #2200 closed

[2018-05-13 20:31] mattklein123 opened #3368 "build: evaluate using protolock in API build"
See https://github.com/nilslice/protolock. Should be able to help us codify avoiding accidental breaking changes. The one thing that comes to mind is we are likely going to need some type of mixed mode where certain messages are locked and others are not locked while they are draft. Not sure if that is supported but probably pretty easy to do via some type of comment annotation.

cc @nilslice @rod

[2018-05-13 20:34] mattklein123 opened #3369 "extauth documentation"
The filter needs docs.

[2018-05-13 20:41] mattklein123 commented on #3210
Personally, I find printing all stats in `/stats` to be a very useful debugging tool and I would prefer that they not be removed. I could see an argument for removing them from the JSON output which is generally more machine consumption. I could also see an argument for having a query param arg for excluding unused stats? Thoughts? cc @mrice32 @jmarantz

[2018-05-13 20:46] mattklein123 commented on #232
@brian-pane great, will assign this over to you. I would love to see this fixed also but have never had the time. A couple of thoughts as there are solutions that I think don't involve rewriting the entire buffer implementation if you are interested in a shortcut:
- We could try for a patch to libevent itself to have an option to not do the ioctl call. Not sure if they would accept it or not, thou

[2018-05-13 20:48] mattklein123 opened #3370 "ci: ipv6 tests have flakey network"
Seeing this a lot: `fatal: unable to access 'https://go.googlesource.com/net/': Failed to connect to go.googlesource.com port 443: Network is unreachable`

Will email circle support.

cc @envoyproxy/maintainers

[2018-05-13 20:50] jmarantz commented on #3210
I agree: there is information in the existence of an empty histogram, so eliding the entry entirely obscures that information.

Can we just print "empty histogram" or similar, in our stats output, instead of a bunch of NaNs when we are outputting one of those?

[2018-05-13 21:07] mattklein123 commented on #3123
@zuercher do you mind weighing in here?

[2018-05-13 22:46] brian-pane commented on #232
+1 for removing the read and write calls from the buffer API. That will enable the buffer implementation and the I/O implementation to evolve separately.

[2018-05-14 02:07] jmarantz commented on #3210
also: a query-param to exclude unused stats would be fine with me.

[2018-05-14 02:08] jmarantz commented on #3210
@mattklein123 this bug is closed now; should a new one be opened, or this one re-opened?

[2018-05-14 02:44] nilslice commented on #3368
@mattklein123 are your messages/services ever in draft mode on the master branch? If only in another branch as drafts, the proto.lock file would be checked in and compared against at its (git) committed state.

[2018-05-14 08:39] lwhile commented on #3124
Also looking forward to this feature !

[2018-05-14 10:42] objectiser commented on #3361
I believe the problem is that Envoy doesn't support [128 bit trace ids](https://github.com/envoyproxy/envoy/issues/960#issuecomment-318028819) currently. If a 128 bit id is supplied to the ingress, it results in a `null` span being created, and therefore nothing gets reported to the tracing backend.

I hope to provide a PR in the near future to fix this.

[2018-05-14 12:33] rcio opened #3373 "Add connection ID and related header formatters"
Hi,

I use envoyproxy as a grpc load balancer to route request from client to upstream grpc servers. For some security considerations I want to trace every connection from client, so need a unique connection id per envoy instance to set into upstream headers when routing requests.

It's kind like [`$connection_id`](http://nginx.org/en/docs/http/ngx_http_core_module.html#var_connection) in nginx's

[2018-05-14 13:45] alyssawilk commented on #1070
Yep...  I suspect there will be Envoy support at some point, but it may be a while, and first pass support might be accepting a header from upstream to push a given resource downstream, rather than accepting upstream-initiated streams.

For what it's worth I've seen 5-10 attempts at teams and companies using server push and each one gave up on it as not worth the latency benefit, but until/if the

[2018-05-14 13:55] mrice32 commented on #3210
I think printing gauges and counters in the JSON would be useful, and +1 to the idea of a query param to eliminate unused stats.  I also agree that "empty histogram" or similar would be better than all the NaNs (often seeing a bunch of NaNs in an output makes me think that something is broken :) ).

[2018-05-14 14:42] elliott-davis opened #3374 "Publish Envoy binary in addition to docker containers"
Publish Envoy binary in addition to docker containers

I would like to use Envoy with [Habitat](https://habitat.sh) and it is proving exceptionally difficult to build given the external dependency structure. If I had access to the static binary I could simply wrap it in a Habitat package for configuration, etc. I would also be fine with a dynamically linked binary that I could use patchelf on :smi

[2018-05-14 14:43] luisapace opened #3375 "dependencies of envoy 1.3.0"
Hi,
I've a general question on the envoy 1.3.0; I need to know what are its dependencies (compile and runtime); now I've seen that there are some dependencies listed at:

https://github.com/envoyproxy/envoy/blob/v1.3.0/docs/requirements.txt

plus, I see other packages listed at:

https://github.com/envoyproxy/envoy/blob/v1.3.0/docs/install/requirements.rst

Do they all are dependencies of envoy? a

[2018-05-14 16:02] mattklein123 commented on #3368
@nilslice we do have draft stuff committed to master. The way we do this currently is to use comment annotations: https://github.com/envoyproxy/envoy/blob/master/tools/protodoc/protodoc.py#L51

I'm wondering if potentially we could do something similar with protolock such that given annotations on a message we could set lock status for that message and submessages? That would allow us to lock non-

[2018-05-14 16:03] mattklein123 commented on #3210
Reopening. @ramaraochavali can you track further changes as part of this issue? What everyone is proposing here SGTM. I mainly just want all stats to be output when I hit the non-JSON version of /stats. That's all I really care about. :)

[2018-05-14 16:19] nilslice commented on #3368
@mattklein123 if you aren't opposed to dressing up a draft message with a more general annotation, i.e. `// @protolock:skip` then I'm pretty confident we can make it happen natively in the protolock comparison step.

The behavior there would be that an `@protolock:skip` annotated message would not be included as an entry to the definitions kept in a `proto.lock` file. Alternatively, the entry coul

[2018-05-14 16:25] mattklein123 commented on #3368
@nilslice yup that sounds perfect.

[2018-05-14 16:26] junr03 commented on #3375
The first link you provided are the dependencies needed to build the documentation.

The second link are the dependencies to build envoy itself.

[2018-05-14 16:27] mattklein123 commented on #3373
Doesn't exist currently, though wouldn't be very difficult to add. Going to move this issue over to a feature request.

[2018-05-14 16:34] luisapace commented on #3375
Thanks! so, there are no other additional deps, am I correct?

[2018-05-14 16:39] elliott-davis commented on #3374
@junr03 I just got the docker extraction working but it feels pretty gross :smile:

Getting the binary from the circle ci release sounds more optimal but I can't tell where it's getting published from that PR. Do you have a more direct link?

I'm happy to work on getting packaging set up with Habitat but I was unfamiliar with the Envoy build and Bazel. Here is my initial pass: https://github.com/h

[2018-05-14 18:07] gsagula commented on #3369
@saumoh Thanks! If you get this started I can do the rest of the changes related to https://github.com/envoyproxy/envoy/pull/3162.

[2018-05-14 19:43] #3363 closed

[2018-05-14 21:01] mattklein123 commented on #579
@derekargueta yes, would be cool. I think the random Doxyfile we had at one point got deleted, so I would just start from scratch.

[2018-05-14 21:35] #3355 closed

[2018-05-15 01:09] jmarantz commented on #151
This is a cool idea.  Is this also a place where request-headers, response-headers, and possibly response-body can go, rather than passing them around discretely as needed?  It's nice to have the arbitrary slots but requests also have some semantics that could be held directly.

[2018-05-15 03:02] ramaraochavali commented on #3210
Ok. I will make the changes. So here is the summary of changes

- /stats interface would list all stats irrespective of whether they have been used or not. If a histogram is not used it will display "No recorded values"
- JSON output will only output used counters and gauges.
- /stats?usedonly=true will print only used stats.

[2018-05-15 06:04] nilslice commented on #3368
support for skipping messages and services via comment annotation in: https://github.com/nilslice/protolock/pull/15

[2018-05-15 06:05] maheshkanote opened #3383 "grpc-json transcoder: convert grpc-message to body in response"
*Title*: *Envoy's grpc-json transcoder*

*Description*:

When an exception is thrown by gRPC server with gRPC error code and gRPC error message,
on the client side I receive corresponding HTTP  error status code (grpc-error-code converted to http error code) and  error message like "Invalid userid" is set in response header "grpc-message".
Now I want gRPC error message to appear in body rather tha

[2018-05-15 06:36] JinmingHao opened #3384 "Start envoy error"
*Title*: *JSON at lines 0-0 does not conform to schema.*

*Description*:

 Invalid schema: #/properties/admin/properties/address
 Schema violation: type
 Offending document key: #/admin/address
[2018-05-15 06:28:03.145][22][info][main] source/server/server.cc:451] exiting

here is my envoy.yaml:

[code]

[2018-05-15 07:30] #3384 closed

[2018-05-15 15:13] HappyStoic opened #3388 "Rate limiting not working"
**Rate limit service**

*No request from envoy goes to my rate limit service*

Hello, I am having long term issue and I had to give up. As a rate limit service I am using reference implementation lyft rate limit running on localhost.

I recreated config to small files, so I can demonstrate my issue.
This is e.g. my rate limit config:
[code]

and this is my simple envoy config.yaml
[code]

I intend

[2018-05-15 16:28] mattklein123 commented on #3383
@lizan

[2018-05-15 16:29] mattklein123 commented on #3210
@ramaraochavali IMO I would probably have the default of both non-JSON and JSON be to output all stats for consistency, and then document the `usedonly` query param which can be used for both? IMO it's better to be consistent here but I don't feel that strongly about it. cc @mrice32 @jmarantz

[2018-05-15 16:50] luisapace commented on #3375
thanks a lot!

[2018-05-15 16:51] cpakulski opened #3389 "Envoy crashes when encounters an error in config validate mode"
Run envoy in "--mode validate" and it crashes when processing several example configs
from "configs" source code directory.

For example:
envoy-static -c configs/envoy_double_proxy.json --mode validate

[2018-05-15 16:52] cpakulski commented on #3389
@mattklein123 Assign it to me, please.

[2018-05-15 16:53] mattklein123 commented on #3389
Done. Thank you @cpakulski!

[2018-05-15 16:59] junr03 commented on #3388
@HappyStoic from your config, I dont see anything odd. You say `but it never even tries to access my rate limit service` what stats are you looking at to assert this? Can you start up your setup, send a request, and then print out a dump of the stats and cluster output?

[2018-05-15 17:00] #3375 closed

[2018-05-15 17:48] lizan commented on #3383
No, currently Envoy's grpc-json filter doesn't support converting grpc-message into body.

This will be a feature request that we can work in future.

[2018-05-15 20:13] mattklein123 opened #3390 "API stability proposal"
This is an extension of the conversation started in:
https://docs.google.com/document/d/1eDQQSxqx2khTXfa2vVm4vqkyRwXYkPzZCcbjxJ2_AvA/edit?ts=5af97a4e

Ultimately, we would like to stabilize the API and have a deprecation period like we do for config changes. Getting there is going to take a bunch of thought and a solid plan. We also need to make sure we don't reduce velocity when the project is st

[2018-05-15 20:16] mattklein123 commented on #3389
@cpakulski can you check https://github.com/envoyproxy/envoy/issues/2881 also. I'm guessing both will be resolved by this work. Thank you!

[2018-05-15 20:18] cpakulski commented on #3389
@mattklein123 No problem.

[2018-05-15 21:11] wknd-dev commented on #3361
@objectiser thanks for quick reply. I don't think the issue is 'nothing gets reported to tracing backend' (unless I misunderstood your comment). My problem is the same span, as sent by the client, is used when it's reported to zipkin so in zipkin the entire trace is shown as one span.

I want envoy to start a new span with cpan id send by client to be used as parent span so the transaction boundar

[2018-05-15 21:19] ggreenway commented on #3390
I think we should wait for this until the project is more mature. Or at most make this a best-effort idea. I don't want to restrict refactoring and code-cleanup due to out-of-tree code.

[2018-05-15 21:32] alanconway commented on #2882
I will shortly have an extension to contribute, your policy proposal seems reasonable.

dynamic loading #2053 would facilitate externally maintained and packaged extensions without having to build a modified envoy binary, which potentially reduces your burden even more.

You might want  a naming scheme for external extensions, e.g.
- internal  "envoy.filters.network.amqp_http"
- external "qpid.apa

[2018-05-15 22:06] incfly opened #3392 "GrpcService CallCredentials loads credentials from filesystem"
**Issue Template**

*Title:  Add a `FileBasedMetadataCredentialsPlugin` to load credential from a file as CallCredentials*

*Description*:

**What we want to do**
Envoy recently adds the support,  to implement customized CallCredentials as MetadataCredentialsPlugin, https://github.com/envoyproxy/envoy/pull/3161.

We'd like to add an implementation of `FileBasedMetadataCredentialsPlugin` (just an i

[2018-05-15 22:07] incfly commented on #3392
Add @mattklein123 @lizan @htuch to review the feature request.

[2018-05-15 22:18] mattklein123 commented on #2097
I'm closing this for now. I don't have the time to do further changes here and we can track specific requests or major doc additions around writing filters separately.

[2018-05-15 22:18] #2097 closed

[2018-05-15 22:27] #1934 closed

[2018-05-15 22:49] mandarjog opened #3394 "http2 protocolOptions not set unless using ALPN"
*Title*: *http2 protocolOptions not sent unless using ALPN*

*Description*:
I have 2 H2/TLS upstream clusters which are identical in all respects except one specifies
`AlpnProtocols: h2, http/1.1` and the other one does not.

What I observe is that both clusters use http2 client to communicate with the upstream. However `http2 protocolOptions` like `maxConcurrentStreams` is only set when ALPN is u

[2018-05-15 22:58] mattklein123 commented on #3394
@mandarjog AFAIK this is not how the code works so I doubt this is true. Please provide a full config example.

[2018-05-16 00:01] mandarjog commented on #3394
with alpn
[code]
without alpn
[code]

config
[code]

[2018-05-16 00:08] mandarjog commented on #3394
Aah ok, my bad. It seems that the `without alpn` log snippet was captured at trace level *after* h2 connection was already established. I was able to confirm thru new logs that `http2 protocolOptions` are honored regadless of `alpn` settings.
Thanks.

[2018-05-16 00:08] #3394 closed

[2018-05-16 01:16] PiotrSikora opened #3395 "Unexpected behavior when configured with listeners that fail to bind."
*Description*:

Envoy successfully starts when configured with listeners on ports that it fails to bind to, which results in unexpected behavior (see below).

*Repro steps*:

Port `:10001` fail - both connections are matched to the wildcard listener `0.0.0.0:10001`, even though more specific listener `127.0.0.1:10001` exists (or at least, was configured):
[code]
[code]

Port `:10002` fail - all co

[2018-05-16 06:44] PiotrSikora opened #3397 "ALPN-based routing"
Similarly to #1843, this will allow filter chain selection based on ALPN values advertised by the client.

cc @ggreenway @mattklein123

[2018-05-16 08:52] HappyStoic commented on #3388
@junr03 well I'am actually not able to access admin interface :/ It might be the origin of the issue. This happens even when I start the example envoy image from getting started [page](https://www.envoyproxy.io/docs/envoy/latest/start/start#quick-start-to-run-simple-example)

e.g.
`
curl -v localhost:9901/`
[code]

[2018-05-16 10:34] ramaraochavali commented on #3210
@mattklein123 ok. I will make change accordingly.

[2018-05-16 12:50] snowp opened #3399 "RDS update stuck on boot"
Using envoy at 71c0fd695e992e21d2e0439eb14b449fa0b8aea4 and java-control-plane we've run into an issue where envoy fails to load all the RDS resources at boot.

Envoy is configured with two listeners, using two route tables (`standard_egress`/`standard_ingress`). Envoy begins by requesting the routes for *just* `standard_egress`, and gets this back with version = X. Following this it requests `[st

[2018-05-16 14:12] HappyStoic commented on #3388
Well this lead me to finding my point of failure. Since it was docker container I had to correct addresses in config to get to host machine. Nevertheless I cannot deal now with fact, that envoy and lyft rate limit service seem to use default different protocols?

viz command line logs on rate limit:
`2018/05/16 15:34:07 transport: http2Server.HandleStreams received bogus greeting from client: "POS

[2018-05-16 15:01] stevesloka commented on #3351
Thanks @mattklein123 & @ggreenway, going to look through those options and see if we can get the metrics we need.

[2018-05-16 15:18] mattklein123 commented on #3395
@PiotrSikora are you planning on working on this?

[2018-05-16 16:48] junr03 commented on #3388
@HappyStoic ah! actually just realized what might be the problem. The ratelimit cluster is not specified as an h2 cluster. Sorry I missed it in my original read of the config.

You want to add `http2_protocol_options: {}` to your cluster definition. Like:

[code]

[2018-05-16 16:48] mattklein123 commented on #3399
@snowp sorry to clarify you are using ADS, right?

[2018-05-16 16:53] snowp commented on #3399
Yes, this is using ADS.

On Wed, May 16, 2018 at 6:48 PM Matt Klein <notifications@github.com> wrote:

[2018-05-16 17:00] htuch commented on #3399
Envoy should be pausing RDS updates during LDS config updates such that it presents only the `[standard_egress, standard_ingress]` request. I'd be interested in knowing why we're seeing multiple RDS requests initially.

[2018-05-16 17:13] #3259 closed

[2018-05-16 17:44] rosenhouse commented on #2920
Thanks, this sounds like what we already do in Cloud Foundry.

[2018-05-16 17:55] #2911 closed

[2018-05-16 18:17] charliezgc opened #3403 "Centos docker build fails to complete due to GLIBCXX_USE_CXX11_ABI issue"
**Bug Template**

*Title*: *IMAGE_NAME=envoyproxy/envoy-build-centos ./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.release' fails to build*

*Description*:
Pulling down the envoy source code, running the docker ci script for centos, the build fails in the end.

*Repro steps*:
Launch an AWS EC2 instance,
    Use AMI: CentOS Linux 7 x86_64 HVM EBS ENA 1803_01
    Select Instance type: t2.medium, cha

[2018-05-16 18:39] htuch commented on #3399
Yeah, please do this, I agree that this is the correct behavior.

[2018-05-16 18:45] htuch commented on #3399
@mpuncel not sure I follow that example. In the case of an LDS update, we halt any new RDS requests until the full LDS update has been processed, see https://github.com/envoyproxy/envoy/blob/c7ba07ea3a0a49fec1ac24c763eb9f0a2e13c06b/source/server/lds_api.cc#L45. Only after the full LDS update is processed will RDS do something new, once we have the new route resource hint.

@snowp BTW, we probably

[2018-05-16 18:53] mpuncel commented on #3399
lets say there's a listener named L1 that has a route config named R1. During steady state, I'd expect there to be an LDS discovery request (no resource hints) and an RDS discovery request with a resource hint for R1. If L2 is then added with route config R2 via the control plane, my understanding is that the current implementation of java-control-plane would send a discovery response for LDS and

[2018-05-16 19:00] tmshort opened #3404 "Add support for OpenSSL?"
Right now, envoyproxy uses BoringSSL, and does not have a mechanism to substitute another TLS stack. Specifically, I am thinking of OpenSSL. Is there any interest in adding support to compile envoy with OpenSSL?

A follow-on question is whether dynamic linking of BoringSSL/OpenSSL would be supported.

[2018-05-16 19:03] moderation commented on #1861
I've secured a Pine64 Rock64 SOC which is ARM8 /  aarch64 and has 4GB of RAM. I've successfully
compiled Bazel 0.13.0. I'm not having any luck compiling Envoy.

I've leveraged @clnperez [way](https://github.com/clnperez/envoy-ppc64le/blob/master/WORKSPACE#L19-L21) of removing the Lua JIT.

I can't get her trick to use the locally installed Go to work `go_register_toolchains(go_version="host")`. Wh

[2018-05-16 19:09] jsedgwick opened #3405 "Convert outlier event logging to proto"
This will be very similar to and will share code with active health check logging as in
#2028 and implemented in #3176

[2018-05-16 19:12] mattklein123 commented on #3341
Closing as answered.

[2018-05-16 19:12] #3341 closed

[2018-05-16 19:20] tmshort commented on #3404
* We have standardized on OpenSSL, and has an internal distribution with additional changes; we don't want to have to maintain those changes in multiple different repositories.
* Lack of FIPS support in BoringSSL (I know about [BoringSSL FIPS](https://boringssl.googlesource.com/boringssl/+/fed35d32245ee4563691d21f55c12b4f8dac840a/crypto/fipsmodule/FIPS.md)), it claims to be in progress, but I don'

[2018-05-16 19:25] gumpt commented on #2101
If this isn't being worked on by anyone else, and the feature is still desired, I'd be interested in working on it.

[2018-05-16 19:44] agl commented on #3404
The [current version](https://boringssl.googlesource.com/boringssl/+/master/crypto/fipsmodule/FIPS.md) of the BoringSSL FIPS document lists the CMVP certificate number and links to the security policy. Since BoringSSL is open-source, anyone can build and use it as defined in the security policy. (BoringSSL does not need to be dynamically linked to be FIPS compliant.)

Some things that are missing

[2018-05-16 19:53] mattklein123 commented on #2101
@gumpt have at it!

[2018-05-16 20:11] zackhsi opened #3407 "Smooth call pattern for weighted least_request load balancing"
**Provide a mechanism to distribute load in a non-bursty way across weighted hosts.**

*Description*:

We use least_request load balancing to distribute load evenly across hosts. This is our preferred load balancing algorithm, and it works well when all the weights are set to 1. However, we "redline" our hosts to measure the peak throughput of a single machine by steadily increasing its load balan

[2018-05-16 20:17] mattklein123 commented on #3407
Duplicate of https://github.com/envoyproxy/envoy/issues/3284. Let's track there.

[2018-05-16 20:17] #3407 closed

[2018-05-16 20:21] zackhsi commented on #3407
Thanks!

[2018-05-16 20:27] htuch commented on #2692
If you take the existing path for proto logging and do a proto3->JSON conversion at the end of it, you have JSON logging effectively. I don't think we do proto logging to files today. What I would suggest is to build the proto3 logging and you basically have the JSON equivalent. We could re-use large  parts of the existing gRPC acccess log sink to do this.

[2018-05-16 20:27] #2910 closed

[2018-05-16 20:27] #3281 closed

[2018-05-16 20:46] ggreenway commented on #3404
I'm not sure that you could compile both OpenSSL and BoringSSL into the same executable. I think they would have symbol collisions.

[2018-05-16 21:16] PiotrSikora commented on #3404
@ggreenway good point, perhaps we could offer an option to build Envoy without BoringSSL, similarly to how other dependencies be elided.

@mattklein123 outside of a few companies that are invested in OpenSSL, I doubt people are going to care enough to have 2 officially supported TLS stacks, and like you said, it's only going to lead to confusion, so I'd suggest that we keep it outside of the main

[2018-05-16 21:17] PiotrSikora commented on #3395
Not anytime soon.

[2018-05-16 21:31] PiotrSikora commented on #3404
(assuming there is strong enough interest for someone to create and maintain OpenSSL-based `TransportSocket` in the first place).

[2018-05-16 22:13] agl commented on #3404
If you're using OpenSSL as a shared object (which you must for their FIPS build, I believe) then you could make it work with some proxy symbols and a linker script to hide the other symbols from the dynamic exports table. One would need to be careful to use the correct headers in the correct place, however.

[2018-05-16 22:26] rene-m-hernandez opened #3410 "Non-TLS http_health_check on cluster with tls_context"
*Description*:
It seems a http_health_check will attempt a TLS connection if the cluster is configured with a tls_context. The ability to allow a non-TLS http_health_check in such a situation would be nice. Apologies if I am simply not reading the documentation close enough or if such an issue exists (I did a quick search for `health` in the open issues.

Configuration (please note my EDS is retur

[2018-05-16 22:40] PiotrSikora opened #3411 "Add support for configurable precedence of FilterChainMatch rules."
From discussion in https://github.com/envoyproxy/envoy/pull/3217#discussion_r188275813:

@htuch

@ggreenway

@htuch

@PiotrSikora

This is mostly a place-holder to gauge interest in configurable precedence of the `FilterChainMatch` rules, with no immediate plans for adding it.