[2022-09-03 16:01] #21929 closed

[2022-09-03 20:08] lross-up commented on #17845
if you could complete this thought it might be really helpful for me right now 🙏 🥲

[2022-09-04 00:03] #21881 closed

[2022-09-04 01:04] GOVYANSONG opened #22983 "clarification on building envoy with wasmtime"
I was able to build envoy-static with: bazel build //source/exe:envoy-static --define wasm=wasmtime. in envoy.yaml, i set runtime: "envoy.wasm.runtime.v8". if runtime depends on build time configuration, should this setup throw error? instead, envoy started normally with v8. is there a particular setting that i missed? thanks.

[2022-09-04 01:31] wbpcode commented on #22944
@tony612 sorry, the zipkin tracer was designed for sidecar mode and have no a perfect support to the `start_child_span`.

I will try to patch it to fix problem.

[2022-09-04 02:16] GOVYANSONG commented on #22983
Just tested with WAVM, no good either. only V8 works.

[2022-09-04 07:38] johnlanni commented on #22973
I prefer to add a new configuration option to set the status code, since setting a local reply is intrusive to the routing configuration, I would like to disable or enable this redirect behavior globally.

[2022-09-04 15:36] GOVYANSONG commented on #22983
i did a full git reset and bazel expunge. build with wasmtime and succeeded. also verified from envoy proxy admin -> stats under envoy.wasm.runtime.wasmtime

[2022-09-04 15:36] #22983 closed

[2022-09-05 01:02] daixiang0 commented on #22937
Maybe you miss this -- https://github.com/envoyproxy/envoy/tree/main/tools/vscode#generate-debug-config

[2022-09-05 01:03] daixiang0 commented on #22982
Please check https://github.com/envoyproxy/envoy/tree/main/tools/vscode#generate-debug-config.

[2022-09-05 01:05] daixiang0 commented on #22974
cross with https://github.com/envoyproxy/envoy/issues/22788

[2022-09-05 01:12] daixiang0 commented on #22951
I am curious about `worker_count`, Envoy use `--concurrency` to specify the number of worker thread, or it detects the CPU number and uses it.

In your configuration, it is 56, so is it CPU number in your machine? It may be not a good choice to use so many workers for a sidecar.

You can get the truly number of worker threads from the Envoy log or stats.

[2022-09-05 01:27] daixiang0 commented on #21575
@drorke is it helpful for you?

[2022-09-05 04:32] #22438 closed

[2022-09-05 06:26] tony612 commented on #22944
@kyessenov Got it.
@wbpcode Sounds good.

[2022-09-05 08:05] lakamsani commented on #20608
Hello, have the same question. Is it possible to reopen this? We tried ngnix sub request based authentication to a backend grpc service. It performs authentication just once per initial connection. Not for all subsequent RPCs that use the same connection. Docs below.

https://docs.nginx.com/nginx/admin-guide/security-controls/configuring-subrequest-authentication/

Would be awesome if envoy extern

[2022-09-05 08:13] lakamsani opened #22986 "Envoy external auth for gRPC clusters should be once per connection"
This is identical to recently auto closed issue:

https://github.com/envoyproxy/envoy/issues/20608

*Description*:

Envoy external auth for backend grpc clusters should behave similar to ngnix sub request.

https://docs.nginx.com/nginx/admin-guide/security-controls/configuring-subrequest-authentication/

Authentication is performed once per connection on the first RPC. After that all subsequent RP

[2022-09-05 11:39] #22920 closed

[2022-09-05 14:00] nguyenptk commented on #22724
Hi @KBaichoo, sorry for the late response
Have you tried my demo yet?
If you try it, you will see there is no limit for file upload here.

I just want to find an variable in Envoy that can help me limit the size of file uploading from downstream. If `per_connection_buffer_limit_bytes` is not the right way, could you point me to other variables?

[2022-09-05 14:31] chuongnguyen5397 commented on #14981
I'm facing the same issue, do we have any conclusion about the reason?

Here is my config:
[code]
And the logs are showing
[code]

[2022-09-05 14:55] matiasrege commented on #19069
/no stalest

[2022-09-05 14:56] matiasrege commented on #19069
@ankatare

[2022-09-06 01:29] wbpcode commented on #22986
cc @ggreenway

[2022-09-06 01:35] wbpcode commented on #22982
Duplicate with #22974.

[2022-09-06 01:35] #22982 closed

[2022-09-06 04:10] 13567436138 commented on #22788
[code]
I use above launch.json config,effective

[2022-09-06 04:12] #22936 closed

[2022-09-06 04:13] #22938 closed

[2022-09-06 04:13] #22974 closed

[2022-09-06 04:14] #22917 closed

[2022-09-06 04:39] HeTvaM commented on #22603
I'm sorry, @mattklein123 there are no solutions to this issue? Still couldn't find any information

[2022-09-06 07:30] ankatare commented on #19069
@matiasrege Really Sorry, high busy in internal assignment...  may not be able to take this further ...

[2022-09-06 08:04] github-actions[bot] opened #22993 "Newer release available `org_llvm_llvm`: llvmorg-15.0.0 (current: llvmorg-12.0.1)"
Package Name: org_llvm_llvm@12.0.1
Current Version: llvmorg-12.0.1@2021-07-09
Available Version: llvmorg-15.0.0@2022-09-06
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-09-06 08:04] #21890 closed

[2022-09-06 08:04] github-actions[bot] opened #22994 "Newer release available `org_llvm_releases_compiler_rt`: llvmorg-15.0.0 (current: llvmorg-14.0.0)"
Package Name: org_llvm_releases_compiler_rt@14.0.0
Current Version: llvmorg-14.0.0@2022-03-23
Available Version: llvmorg-15.0.0@2022-09-06
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-09-06 08:04] #21891 closed

[2022-09-06 08:04] Zsolt-LazarZsolt commented on #19725
Sorry if this comment reopens the ticket:

Shall the access log documentation be fixed for this?
Right now it is stating:
SI: Stream idle timeout in addition to **408** response code.

[2022-09-06 09:04] kfaseela commented on #22634
Would be really good if we get this fixed.

[2022-09-06 09:24] noob-vivek commented on #16308
Would it be a bad idea to write socks protocol as new listener so that tcp proxy could be bypassed? I was wondering to write socks protocol parser as new listener and setup hostname as SNI and attach sni_dynamic_forward_proxy and tcp_proxy in filter chain.

[2022-09-06 09:50] ramaraochavali opened #22995 "redis cluster stuck in warming state when there are "two" redis clusters"
We have configured two AWS elastic redis clusters with TLS. After this fix https://github.com/envoyproxy/envoy/pull/19541, we were able to use redis in cluster mode.

But now the problem is if we have two such clusters, only one is getting warmed up. The other is stuck in warming. On further debug, we found that the cluster slots command is not returned for the cluster that is stuck in warming. We

[2022-09-06 11:19] MiguelAng86 opened #22996 "extauthz can't send headers characters of the extended ASCII codes"
Description:
Hi, when I send a request with postman against envoy that contains a header value with any character of the extended ASCII codes, envoy shows this log:
`[libprotobuf ERROR external/com_google_protobuf/src/google/protobuf/wire_format_lite.cc:581] String field 'envoy.service.auth.v3.AttributeContext.HttpRequest.HeadersEntry.value' contains invalid UTF-8 data when serializing a protocol

[2022-09-06 13:25] alyssawilk commented on #22973
I believe the HCM supports local reply configuration as well, so you'd have to present a compelling reason to add custom code for this.

[2022-09-06 13:36] johnlanni commented on #22973
This redirect behavior also requires setting the `Location` response header, which seems to be an intrusion into the routing configuration

[2022-09-06 14:06] pgeler commented on #22925
@gbrail I still see this behavior as soon as I modify SKIP to SEND on the filter configuration level, I will experiment with my main config and get back here 🤔

[2022-09-06 14:50] mattklein123 commented on #22603
No there is no solution for local retries like this. The only thing I can think of is a hack where you loop back to another local HTTP listener which does the retries. So something like:
Retry listener -> rate limit listener -> upstream

[2022-09-06 14:52] mattklein123 commented on #10455
I see. I think that is an artifact of mirror requests being not a a real filter chain (something that has been commented on and would be nice to fix but would be a huge undertaking). IMO running the encode callbacks is more correct, but I don't have a strong opinion on what we do here.

[2022-09-06 14:53] HeTvaM commented on #22603
Yes, I thought of that way. I wish there was another way. Thanks for the reply, I really appreciate it

[2022-09-06 14:53] #22603 closed

[2022-09-06 14:54] mattklein123 commented on #7918
None that I know of. I think the folks at Reblaze/Curiefense are still theoretically working on this but I haven't seen any traction. Basically I would like to just do a filter that relies on generic matching that can apply various WAF like actions (tar pit, etc.).

[2022-09-06 15:12] chfxr opened #22997 "The platform does not support either IP_TRANSPARENT or IPV6_TRANSPARENT when IPv6 is disabled"
Hello, we recently detected the following issue, that when IPv6 is disabled on the server, envoy doesn't start with the feature `use_original_src_ip: true`.

[code]

Following error appears:
`error initializing configuration '/etc/envoy/envoy.yaml': The platform does not support either IP_TRANSPARENT or IPV6_TRANSPARENT. Or the envoy is not running with the CAP_NET_ADMIN capability.`

IPv6 was dis

[2022-09-06 15:35] mattklein123 commented on #22727
The way all of the Envoy stuff works is that every stream has to be finished one way or the other. So if both local and remote close have not happened, resetStream() has to be called to finish and release the stream. I'm not exactly sure of the expected flow here, but if you are expecting normal termination you should not be calling resetStream() but should instead be sending a frame with end_stre

[2022-09-06 15:39] DanApostol commented on #22363
Hello. Any other thoughts about the topic?

Thanks again,
Dan.

[2022-09-06 15:56] ggreenway commented on #22986
It depends entirely on the use case whether this behavior would be correct. Consider the case of another proxy in front of the one doing auth, which multiplexes multiple client requests over one connection. In that case, auth must be done per-request.

This behavior could be added as an option which defaults to disabled. PRs welcome.

[2022-09-06 16:08] nahk-ivanov commented on #22727
@mattklein123 that's exactly what it is doing [here](https://github.com/envoyproxy/envoy/blob/4549e5149bbf3077decbe0f99d024dac67a6431e/source/extensions/filters/http/ext_proc/client_impl.cc#L44-L46), but I believe it never waits for the send of EOS to complete and resets it right away. I'm 87% sure now it is just a race condition, because async and C++ don't go together. 😋

[2022-09-06 16:28] alyssawilk commented on #22727
Don't have context other than the link you sent but I'm seeing closeStream and resetStream being called.  Close stream sends an end_stream=true to the peer, reset resets.  if it's possible for the per to have send end_stream the stream would be cleanly shut down and the reset would be spurious.

[2022-09-06 16:42] kyessenov commented on #22527
In my case, the problem was likely due to the collision of `Host` struct memory address, but the collision happens because drain is not being watched by the caller.

[2022-09-06 16:48] mattklein123 commented on #22727
That code looks correct. As Alyssa says, it is within speck to local close and then reset. This should be handled by the other side. I'm not really sure what we could do differently here.

[2022-09-06 17:25] lakamsani commented on #22986
That's a fair point. Thanks. Any pointers on where to start for possible PR that would be awesome.

[2022-09-06 17:31] ggreenway commented on #22986
Main filter code is here: https://github.com/envoyproxy/envoy/tree/main/source/extensions/filters/http/ext_authz

I think the way to do it is to set a [FilterState](https://github.com/envoyproxy/envoy/blob/main/envoy/stream_info/filter_state.h) with `Connection` LifeSpan. This can be set on the `StreamInfo`. New config setting and docs can be added to https://github.com/envoyproxy/envoy/blob/main/

[2022-09-06 17:37] nahk-ivanov commented on #22727
Isn't send that happens within `closeStream` asynchronous? Here `resetStream` is called as if send was happening synchronously.

[2022-09-06 17:46] shashank0791 commented on #22951
@daixiang0 Yes. In our case, we have set worker count == CPU core count to start our benchmarking. For production we might end up with something smaller.
It all depends on how quick connection setup takes with Envoy in picture which is why we need more insights into connection pooling

[2022-09-06 17:49] mattklein123 commented on #22727
No, it's effectively synchronous. Reset after graceful end stream should be OK.

[2022-09-06 18:13] Amila-Rukshan commented on #22881
@alyssawilk, I could get it working after making changes to squid proxy config. Here is the [packet capture](https://www.file.io/4wIk/download/OGGxZ2TiPA11) which is working with http11proxy extension setup. Thanks for pointing out the issue!

[2022-09-06 18:13] pgeler commented on #22925
@gbrail I think, I isolated those requests to be only `/healthcheck` requests all routes with dedicated `match` entries work as expected, and none of the other configurations we have in our config seems affects/changes behavior 🤔

[2022-09-06 18:23] alyssawilk commented on #22881
Huzzah!  Glad you got it working.  FWIW I would be happy to help review (or maybe even write) an upstream contrib extension which set the proxy metadata based on configuration, rather than you using that hacky test filter.  I'd be happy to support wider use of the new transport socket, but the only use case _I_ had was getting proxy config from android, which is a custom Envoy Mobile filter Rafal

[2022-09-06 18:27] moderation commented on #22951
I've found this older article from @mattklein123 on the Envoy threading model to be helpful

https://blog.envoyproxy.io/envoy-threading-model-a8d44b922310

[2022-09-06 21:26] KBaichoo commented on #22724
`per_connection_buffer_limit_bytes` is not the right way to do this. You could implement this using https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/buffer/v3/buffer.proto#extensions-filters-http-buffer-v3-buffer if you're fine buffering the 10MB (or whatever your limit is) in the Envoy.

[2022-09-06 22:28] KBaichoo commented on #21923
which is the correct way to set the env var TCMALLOC_MAX_TOTAL_THREAD_CACHE_BYTES since I use istio? Can I do like here https://github.com/istio/istio/issues/29395 -set meshConfig.defaultConfig.proxyMetadata.TCMALLOC_MAX_TOTAL_THREAD_CACHE_BYTES =10000000?

are there env var for central_cache_free_bytes AND transfer_cache_free_bytes? Is it possible to set max value for them?
I think only

[2022-09-06 22:56] ggreenway commented on #22258
@surki I just saw this issue. I have a config I use with 1.23 that has histogram settings, but I use `suffix` matches instead of regex. Can you test with that config to narrow down the cause of this issue?

[2022-09-06 23:43] spencer-p opened #23003 "Export process_start_time_seconds Prometheus metric"
*Title*: Export process_start_time_seconds Prometheus metric

*Description*:

When querying the `/stats/prometheus` endpoint on the admin page, it would be immensely helpful to add `process_start_time_seconds`. This metric is typically a gauge reporting the seconds since January 1 1970 when the process started, and is commonly used by prometheus consumers to track cumulative metrics (notably by [p

[2022-09-07 03:19] Amila-Rukshan commented on #22881
Yeah, I would like to contribute to that. Having the envoy built-in support is great. Otherwise I will need to build the envoy with custom filters.

[2022-09-07 03:19] #22881 closed

[2022-09-07 03:33] bpo commented on #22995
@ramaraochavali can you provide details on how you are configuring the two clusters?

[2022-09-07 04:14] saltbo commented on #21982
I found a plugin https://github.com/dgn/oidc-filter

[2022-09-07 06:35] weisisea commented on #22972
I think this can be supported by:

1. Adding a new `onQuit()` callback that ProxyFilter implements and CommandSplitter calls.
2. CommandSplitter calls `onQuit()` of PendingRequest in [here](https://github.com/envoyproxy/envoy/blob/c8e330c95205250694e1530871d32dbf357d43a6/source/extensions/filters/network/redis_proxy/command_splitter_impl.cc#L463) when it detects that the command is QUIT.
3. `Pendi

[2022-09-07 08:06] #22892 closed

[2022-09-07 08:06] github-actions[bot] opened #23006 "Newer release available `com_github_msgpack_msgpack_c`: cpp-4.1.2 (current: cpp-3.3.0)"
Package Name: com_github_msgpack_msgpack_c@3.3.0
Current Version: cpp-3.3.0@2020-06-05
Available Version: cpp-4.1.2@2022-09-07
Upstream releases: https://github.com/msgpack/msgpack-c/releases

[2022-09-07 08:06] #20310 closed

[2022-09-07 08:21] Alexcei88 opened #23007 "OAuth2 filter POST request with expired token"
I am using [OAuth2 filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/oauth2_filter) to protect my backend. I faced with following unpleasant issue.

1. User opens my site
2. User authorizes and gets JWT token for 5 minutes.
3. User works on site for 5 minutes.
4. Token is expired and user sends POST http method instead of GET method(any save operation on my site)

[2022-09-07 08:34] zema-MSFT opened #23008 "support show http filter ECDS info in config_dump"
*Title*: *support show http filter ECDS info in config_dump*

*Description*:

`
{
              "name": "envoy.filters.http.rbac.xxx",
              "config_discovery": {
               "config_source": {
                "ads": {},
                "initial_fetch_timeout": "0s",
                "resource_api_version": "V3"
               },
               "type_urls": [
                "type.google

[2022-09-07 10:15] chfxr commented on #22997
Problem solved - IPv6 is required for Transparent IP mode.

Docs: https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/udp/udp_proxy/v3/udp_proxy.proto

[2022-09-07 10:15] #22997 closed

[2022-09-07 10:38] ramaraochavali commented on #22995
Also @mattklein123 do you think it is reasonable to extend [wait_for_warm_on_init](https://github.com/envoyproxy/envoy/blob/main/api/envoy/config/cluster/v3/cluster.proto#L1011) to redis cluster so that in cases such as this we do not stall envoy initialization with one bad external cluster?

[2022-09-07 12:22] soulxu commented on #22634
I can probably work on it at the end of the week or the beginning of next week. If you are interested to fix it first, then feel free to go for it. Or free to ping me if you still want to wait on me.

Note, you probably should take care of v4_compat flag code at ConnectionHandlerImpl, it doesn't care about the update of v4_compat flag well.

[2022-09-07 12:30] pxpnetworks opened #23016 "ECDS config source from path - discovery response format for resource"
Hi folks,
I'm also trying to implement ECDS but the config should come from a file.
I'm struggling to make it work... please help me with how to define the contents of the yaml file.

this config:
[code]
fails with:
`Filesystem config update rejected: Unable to unpack as envoy.config.core.v3.TypedExtensionConfig: [type.googleapis.com/envoy.extensions.filters.http.router.v3.Router] `

[code]

[2022-09-07 12:55] ameypd commented on #22859
I would like to take up this issue. I am looking for my first PR.

[2022-09-07 13:11] sohamchari commented on #2958
Hi @JLofgren, I would like to take up this issue. Looking forward to my contribution!

[2022-09-07 13:24] 13567436138 opened #23018 "how to debug envoy external dependency.set break point in dependency"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

how to debug envoy external dependency.set break point in dependency
[optional *Relevant Links*:]

[2022-09-07 13:40] cpakulski commented on #22475
I think that `stateful_session` filter could be easily extended for this use case.

If I understood the idea correctly, the difference comparing to the current `stateful_session` is to automatically generate a new name instead of using a hardcoded one coming from the config (https://www.envoyproxy.io/docs/envoy/latest/api-v3/type/http/v3/cookie.proto#envoy-v3-api-msg-type-http-v3-cookie) for each

[2022-09-07 13:55] cpakulski commented on #22867
@d4j-opensource Would you mind explaining test steps and expected result? In general I think the idea should work. The healthcheck should fail and mark the endpoint as unhealthy. Subsequent requests should not be routed there.

[2022-09-07 13:57] surki commented on #22258
@ggreenway I suppose this was fixed in 1.23.1 via PR https://github.com/envoyproxy/envoy/pull/21972

 (we are still on v1.22 on prod, haven't tried v1.23.1 yet).

[2022-09-07 14:04] phlax commented on #22258
@surki i believe it was which was why i didnt allocate this ticket originally (apologies i forgot to link the relevant PR)

if you can confirm, we can close this ticket

[2022-09-07 14:43] kfaseela commented on #22859
@ameypd : Thanks a lot for extending help to fix the issue. Please take a look at the comment here: https://github.com/envoyproxy/envoy/pull/22537#discussion_r964804752 . Looks like the PR already tries to address the validation. Would be great if you could double check the same, and in case it is not covered, you can try fixing the same.

[2022-09-07 14:49] ameypd commented on #22859
@kfaseela I'll look into it, in the meantime can you assign me some other issue to work on, which can be a "good first issue".

[2022-09-07 14:50] mattklein123 commented on #22995
Sure SGTM.

[2022-09-07 14:54] #22969 closed

[2022-09-07 15:24] d4j-opensource commented on #22867
@cpakulski
I apologize for the unclear question!

HAProxy will listen on port 5000 to load balancing for master-node; port 5001 to load balancing for replica-nodes.
Assuming we have 3 PostgreSQL nodes: node 1, node 2, node 3

## **Case 1: node 1: master, node 2, 3: replica**
### **Master LB (port 5000):**
| Node | Healthcheck | Expected Http status  | Expected Flag |
| --- | --- | --- | --- |
| No

[2022-09-07 15:48] #22857 closed

[2022-09-07 16:16] kyessenov commented on #23008
I think we _did_ implement ECDS in the config dump. It could be not wired into the config_dump output, probably need to investigate a bit further.

[2022-09-07 16:18] kyessenov commented on #23016
The issue is that you need to wrap `Router` message into `TypedExtensionConfig` message. That means something like this:
[code]

[2022-09-07 16:40] Oberon00 commented on #9958
Hello, it seems this is the main tracking issue for the OTLP exporter? You seem to only offer OTLP/gRPC export for now. Do you also plan to support OTLP/HTTP?
OTLP/HTTP is considered the "default" by the OpenTelemetry specification: https://github.com/open-telemetry/opentelemetry-specification/blob/v1.12.0/specification/protocol/exporter.md#specify-protocol

(If you want a more concrete reason apa

[2022-09-07 17:09] agrawroh commented on #22765
/assign @agrawroh

[2022-09-07 17:17] pxpnetworks commented on #23016
Thank you @kyessenov , it is accepted now however i tried to add a second http filter (rbac) before router and still get errors loading both rbac and router.
Can you help me with this once again? Thanks!

code:
[code]
[code]
[code]

BR,
Stoyan

[2022-09-07 17:21] shashankram opened #23021 "Envoy crashed while exporting access logs to OpenTelemetry collector"
*Title*: Envoy crashed while exporting access logs to OpenTelemetry collector using the OpenTelemetry AccessLog config

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

Envoy suddenly crashed while I had OpenTelemetry AccessLog configured.

Logs:
[code]

[2022-09-07 18:12] locinus opened #23026 "Envoy: connection refused (via Consul)"
*Description*:
An Envoy Docker sidecar is deployed with each of our workload services (Nomad cluster, Docker deployments, private network of our own between our servers), and suppose to connect with a Consul service mesh.

Our service is correctly deployed and accessible on the corresponding (Nomad) network. But Consul has trouble validating the Envoy sidecar healthcheck:

From our servers, the wo

[2022-09-07 18:25] moderation commented on #23021
@shashankram the first sentence of your issue specifically says to not open an issue for a crash

[2022-09-07 18:48] shashankram commented on #23021
I apologize as I misread it. Will reach out through the right channels.

[2022-09-07 18:49] #23021 closed

[2022-09-07 19:23] phlax commented on #22261
fixed in version 1.23.1

[2022-09-07 19:23] #22261 closed

[2022-09-07 20:01] #22476 closed

[2022-09-07 20:01] #22477 closed

[2022-09-07 20:04] howardjohn opened #23027 "Lightweight/EDS attached SAN validation"
*Title*: Lightweight/EDS attached SAN validation

*Description*:
Currently, we create a cluster for a Kubernetes Service. Each Service consists of Pods, which are given distinct SPIFFE identities. Each pod represents an endpoint within the cluster.

While identities, in our model, are attached to endpoints, in Envoy they are bound to the transport_socket on the cluster (ie, at the Service level).

[2022-09-07 20:12] moderation commented on #9958
That is true only if the implementation doesn't meet the first `SHOULD`

In the case where Dynatrace doesn't support grpc, a workaround it to put an OpenTelemetry collector between Envoy and Dynatrace

`Envoy --> grpc --> OpenTelemetry Collector --> http/protobuf --> Dynatrace`

[2022-09-07 20:28] kyessenov commented on #23027
What's the desired behavior when SAN negotiation fails? Should a cluster try another endpoint?

[2022-09-07 20:29] howardjohn commented on #23027
I think just failing is fine as it would if it failed at the cluster level.

[2022-09-07 20:42] JuniorHsu commented on #22555
cc @peterl328

[2022-09-07 20:47] jamesmulcahy commented on #21107
I appreciate this issue is closed, but wanted to share our experience/context relating to this type of issue.

We've seen an issue like this in production.  We're running hundreds of thousands of envoy instances, and saw small numbers of them (~10) in a stuck state.  envoy thought it was connected to the xds server, but the linux tcp stack had no open connection between envoy and the xds server.

[2022-09-07 21:23] yanjunxiang-google commented on #22605
Sending udp traffic upstream as tcp traffic does not sound like a proxy behavior, but a gateway behavior.  I am not aware of Envoy can support this.  CC @yanavlasov

[2022-09-08 00:04] #21292 closed

[2022-09-08 01:31] #22903 closed

[2022-09-08 01:50] LuyaoZhong commented on #21739
Not stale, pr will be updated soon.

[2022-09-08 01:52] LuyaoZhong commented on #22581
not stale, PR in progress

[2022-09-08 04:45] 13567436138 opened #23029 "debug problem"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

1: (48501) 1302: elapsed time 0
1: (48735) ->&"DW_FORM_strp pointing outside of .debug_str section [in module /build/.cache/b

[2022-09-08 04:59] Pawan-Bishnoi commented on #22475
@cpakulski The header name should come from config (similar to cookie name). For example:
[code]

[2022-09-08 05:41] UDITBALUJA commented on #12694
Hi, I would like to contribute to fixing this issue.

[2022-09-08 06:14] zirain commented on #22591
linked to https://github.com/envoyproxy/envoy/pull/23024

[2022-09-08 07:10] jalajk24 commented on #20238
@htuch, i am looking forward to contribute on this project. Can you plz drop some insights for me?

[2022-09-08 07:28] Oberon00 commented on #9958
I'm talking mostly about this paragraph:

So even if an SDK supports both HTTP and gRPC, HTTP should be the default. Of course envoy is not an SDK, so this does not formally apply to envoy, but I wonder if there is a particular reason why envoy chose gRPC over HTTP?

[2022-09-08 07:36] phlax commented on #20238
hi @jalajk24 contributions would be very welcome

there is not an easy way to find incorrectly capitalized words - but the docs are either in `docs/root` or (embedded in comments) in `api/`

grepping to find incorrectly capitalized `Envoy` (ie `envoy`) im only seeing a couple, and none for CEL - but my greps are not very accurate so im probably missing some - either way, i think these have mostly

[2022-09-08 08:03] github-actions[bot] opened #23031 "Newer release available `com_github_google_perfetto`: v29.0 (current: v28.0)"
Package Name: com_github_google_perfetto@28.0
Current Version: v28.0@2022-08-02
Available Version: v29.0@2022-09-07
Upstream releases: https://github.com/google/perfetto/releases

[2022-09-08 08:04] github-actions[bot] opened #23032 "Newer release available `com_github_skyapm_cpp2sky`: v0.5.1 (current: v0.4.0)"
Package Name: com_github_skyapm_cpp2sky@0.4.0
Current Version: v0.4.0@2022-03-28
Available Version: v0.5.1@2022-09-07
Upstream releases: https://github.com/SkyAPM/cpp2sky/releases

[2022-09-08 08:27] pxpnetworks commented on #23016
Figured out I need a separate config_source file for each HTTP filter in the chain, hope that is how it is supposed to work.

[2022-09-08 08:42] kfaseela commented on #22942
/assign kfaseela

[2022-09-08 10:42] YvesZHI opened #23033 "Why is the log file of UdpProxy of Envoy always empty"
I'm using Envoy as the only gateway of my backend micro-services, some of which provides some UDP services. So I need to configure my Envoy to route the UDP requests to the services.

Here is my config file:
[code]
Let's say that we have such a kind of situation:
172.1.2.1(client) <---> 172.1.2.2(gateway) <---> 172.1.2.3(server)

So, the gateway is listening the port 22221 and routing requests to

[2022-09-08 11:40] Lehp opened #23034 "Question"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

Auto-Generate envoy route-config from swaggerfile

I'm currently working on a project to automatically generate route-config for a "service-envoy". I have several ways in min

[2022-09-08 12:05] #22258 closed

[2022-09-08 12:41] MadhuMPandurangi commented on #23003
Hi @spencer-p, I'm interested to work on this issue. Can u please assign this to me

[2022-09-08 13:07] alyssawilk commented on #2958
I think this is accomplished via https://github.com/envoyproxy/envoy/blob/main/api/envoy/config/core/v3/protocol.proto#L546
@sohamchari please let me know if I'm incorrect and I'll reopen

[2022-09-08 13:07] #2958 closed

[2022-09-08 15:36] locinus commented on #23026
After discovering this message within Consul logs:

the root cause has been identified, as [Consul 1.13.1 ships in with an incompatibility against Envoy, if using certain parameters][1] (namely `auto-encrypt` or `auto-config`).

The solution is then:
- to rollback to Consul 1.12
- to wait for Consul 1.13.2 which will embark a fix to this problem (even yet, some parameters will have to be applied,

[2022-09-08 16:05] #22872 closed

[2022-09-08 16:34] kyessenov commented on #23027
1. We should be careful not to allow mutation of endpoint policy since changing an endpoint does not trigger any drain I believe. So that means both the policy and the attribute on the endpoint is expected to be permanent.

2. I think we can also use a custom cert validator with its own source of data as well, like https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/transport_sockets/tls

[2022-09-08 19:02] phylake commented on #22418
Now I'm hitting a similar issue with SDS. A reconnecting Envoy puts secrets that it already had into `dynamic_warming_secrets`. Because of the following

My management server isn't resending secrets that haven't changed. This doesn't happen consistently though

[2022-09-08 19:12] phylake commented on #22418
@adisuissa @phlax sorry for the direct ping. I found your contributions to this section of the docs. Do you have any insight here?

[2022-09-08 19:37] znqjnny commented on #22930
Thanks so much for help @soulxu !

[2022-09-08 20:01] #21017 closed

[2022-09-08 20:01] #22492 closed

[2022-09-08 20:01] #22495 closed

[2022-09-08 20:07] bilbof commented on #22621
No stalebit

[2022-09-08 21:08] phylake commented on #22418
@ramaraochavali hoping you can speak to what you wrote and shed some light on this for me

[2022-09-09 03:23] adisuissa commented on #22418
It seems the issue is with warming resources that are dependent on others. For example, there is CDS->EDS warming where a cluster if first fetched, and not made active (in "warming" mode), and the EDS endpoints are requested. If the EDS response arrives on time, the cluster is made "active", and Envoy can use it. If the EDS response doesn't arrive after some time, the cluster is made "active" but

[2022-09-09 04:42] muhaarif opened #23046 "Getting Cannot find field error while adding ssl in envoy"
I have running couple of microservices with grpc protocol in k8s, it is connecting outside thought networking loadbalancer , right now i am using a envoy system in front of NLB

Description

`(Envoy > NLB > grpc service).
Application API es are working fine using envoy ip and port number , right now i need to use ssl for Envoy , I have trying to add ssl conf in envoy configuration file but getting

[2022-09-09 05:08] wbpcode commented on #22996
Because the type of header value is string and it's different with bytes in proto.

See similar problem. https://github.com/envoyproxy/envoy/pull/13131

[2022-09-09 05:10] wbpcode commented on #23003
cc @jmarantz

[2022-09-09 05:14] wbpcode commented on #23007
cc @snowp

[2022-09-09 05:30] giantcroc commented on #23033
Hi, I am not familiar with `access_log` in listener, but you can use the following config for udp proxy access logging.
[code]

[2022-09-09 07:50] johnlanni opened #23047 "Calling `proxy_send_local_response` twice in wasm code results in access to freed memory space"
*Description*:

I have two filters in my config, cors filter and wasm filter.

[code]

The wasm code is like this:
[code]
When I do a request like this, envoy crashes:
[code]
Trace logs:
![image](https://user-images.githubusercontent.com/6763318/189290287-0b2f6aa7-6d49-4850-878d-4e2512336e97.png)

ASAN found `heap-use-after-free`.

I think the problem is :
1. In wasm  function `proxy_on_request_bo

[2022-09-09 08:04] github-actions[bot] opened #23048 "Newer release available `rules_pkg`: 0.7.1 (current: 0.7.0)"
Package Name: rules_pkg@0.7.0
Current Version: 0.7.0@2022-04-07
Available Version: 0.7.1@2022-09-08
Upstream releases: https://github.com/bazelbuild/rules_pkg/releases

[2022-09-09 08:11] MiguelAng86 commented on #22996
Hi @wbpcode,

Yes, I already saw the case with the body and how the `pack_as_bytes` property was added, but this does not work with the headers. A similar setup would be needed when protobuf is going to parse the headers.

this would be possible?

Thanks in advance.

[2022-09-09 08:15] YvesZHI commented on #23033
@giantcroc  Hmm, I just tried but I got an error: "INVALID_ARGUMENT:access_log: Cannot find field.".

I'm using Envoy 1.18.2. So does it mean that I need to upgrade my Envoy to newest version？

[2022-09-09 08:39] johnlanni commented on #23047
cc @PiotrSikora

[2022-09-09 08:45] YvesZHI commented on #23033
@giantcroc   Hmm, but I used Envoy 1.18.2, which doesn't support `access_log` in that `typed_config`. So I guess there is no solution except I upgrade my Envoy...

[2022-09-09 11:06] jalajk24 commented on #20238
@phlax thanks

[2022-09-09 12:01] #22099 closed

[2022-09-09 12:01] #22404 closed

[2022-09-09 12:55] Alexcei88 commented on #23007
I think when we recieved callback from IDP, we need to send source request further without redirect to browser.

[2022-09-09 13:09] bryanwux commented on #21615
Sorry for the late reply. I agree with you that attach it to streamInfo will be a good idea. I will start implement the solution.

[2022-09-09 13:27] ameily commented on #13578
To follow up on this, I was able to get it to work using LLVM v14 `lldb`. It seems like gdb is not compatible with Envoy debug symbols for whatever reason.

[2022-09-09 13:47] cpakulski commented on #22867
@d4j-opensource fyi: I am investigating it.

[2022-09-09 15:53] 2022H1030014G commented on #21595
Hi @ggreenway , I would like to work on this issue.

[2022-09-09 17:12] v-Kris opened #23051 "Question regarding filtering metrics"
*Title*: *Question regarding filtering metrics*

*Description*:

[2022-09-09 17:33] cpakulski commented on #22867
@d4j-opensource I am not sure if the Envoy config you shared is a full or partial config. I tried Case1 and it seems to work for me. I have a listener on port 5000, a cluster with 3 nodes and each node's health is checked via HTTP. Routing happens via TCP. When one of the nodes replies 503, it is automatically removed from the load balancer and traffic is not routed there.

For debugging purposes,

[2022-09-09 17:50] Sush-Dew commented on #21639
@Hexta Could you assign this issue to me? I am a beginner and this issue seems a good first issue to resolve.

[2022-09-09 19:40] aetracht opened #23053 "Give virtual_cluster header matching access to response code"
*Match virtual clusters using response code*: *Expose the response code to the header matching in virtual cluster definitions.*

*Description*:
When trying to get "more perfect" stats for critical routes, it would be useful if we could get per-response-code histograms. This could be accomplished without a combinatoric explosion by exposing the response code as `:code`  pseudo-header in the virtual

[2022-09-09 20:20] phylake commented on #22418
Yes I do and if the versions weren't different then EDS wasn't sent. This led to the `503 UH` after `initial_fetch_timeout`

These two statements in the spec seem contradictory

On an Envoy reconnect I am _not_ sending resources in the DeltaDiscoveryRequest's `resource_names_subscribe` because they're in `initial_resource_versions` with the correct version and Envoy is sometimes "forgetting" them,

[2022-09-09 22:00] diannahu opened #23054 "UHV/HeaderMap: Consider allowing users to validate Host and :authority headers separately"
*Title*: UHV/HeaderMap: Consider allowing users to validate Host and :authority headers separately

*Description*:
This issue is filed as a follow-up to https://github.com/envoyproxy/envoy/pull/22537#discussion_r960009622, a discussion with @ameily and @yanavlasov. Based on this discussion, if receiving both a "host" and ":authority" header in HTTP/2, the current header map implementation merges t

[2022-09-10 00:03] #22329 closed

[2022-09-10 01:43] yuzd commented on #22788
thanks

[2022-09-10 04:30] #22494 closed

[2022-09-10 06:51] drinkbeer opened #23057 "[Question] Got a upstream host ejected through outlier_detection, but the host still has membership"
*Title*: *[Question] Got a upstream host ejected through outlier_detection, but the host still has membership*

*Description*:

I am testing the [outlier_detection](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/outlier#failure-percentage) configuration with Redis proxy in our staging environment.

Here is my outlier configuration in the clusters:
[code]

I have 2 proxy h

[2022-09-10 08:03] #22870 closed

[2022-09-10 14:35] simha5009 opened #23058 "URX not set by network rate limit filter"
*Title*: Wrong response flag

*Description*:
The access log is showing the wrong response flag for all logs. Following is the sample. It has "-" for log messages.

{"path":null,"authority":null,"downstream_remote_address":"49.37.131.33:64345","duration":5303,"upstream_local_address":"0.0.0.0:49171","bytes_sent":8453,"x_forwarded_for":null,"downstream
_local_address":"172.17.160.240:443","upstream_

[2022-09-10 14:36] simha5009 commented on #23058
I was trying to filter the logs based on rate-limited requests.

[2022-09-10 16:59] NabeelShahid7 commented on #21637
I would like to work on this enhancement.. Can I please get some kind of an approval from any contributor of this repository?
About Me:
I am a student currently pursuing his Post Graduate in Computer Science. I have been assigned a course component which involves contributing to any open source project. I am liking this repository and would like to start from scratch to try getting this issue fixe

[2022-09-10 17:09] NabeelShahid7 commented on #21982
I would like to work on this enhancement.. Can I please get some kind of an approval from any contributor of this repository?
About Me:
I am a student currently pursuing his Post Graduate in Computer Science. I have been assigned a course component which involves contributing to any open source project. I am liking this repository and would like to start from scratch to try getting this issue fixe

[2022-09-10 18:20] abergmeier opened #23059 "Kafka caching to prevent broker egress"
*Title*: *Provide opaque way of reducing broker egress*

*Description*:
We have a scenario, where brokers are hosted in Cloud **A** and consumers are running in Cloud **B**.
Now we have multiple independent consumers in B, that poll the same topic of A.
With every consumer we thus have a linear increase of egress costs of A.
Parameters are:
1. Prevent linear increase in egress costs
2. Keep consum

[2022-09-10 18:34] krupaJari commented on #22875
Hey @phlax,
I looked into your project and would like to start working on this issue.

[2022-09-10 20:58] agrawroh commented on #23058
@simha5009 Looks like in this case status code = 0 which means that the downstream closed the connection. You can get more details from `%RESPONSE_CODE_DETAILS%` [[Ref]](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/response_code_details). From what I have seen it's possible that response flags are `null` in cases like `http2.remote_reset` etc.

[2022-09-10 21:08] agrawroh opened #23060 "Cluster-level hash policy for sticky routing"
## Description

Currently, the hashing policy is defined on the per-route basis [[Link]](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto.html?highlight=hash_policy#envoy-v3-api-msg-config-route-v3-routeaction-hashpolicy) using `hash_policy`.

We have a use-case where we want to do sticky routing for all the incoming traffic for the external [ExtAuthZ](http

[2022-09-11 01:46] hq6 commented on #1182
@qiwzhang I have just put up a candidate [PR](https://github.com/envoyproxy/envoy/pull/23061) and look forward to your review.

I will update as needed for test coverage based on the results of CI, but the core code, documentation and existing tests are ready for review.

[2022-09-11 04:27] #22558 closed

[2022-09-11 08:03] github-actions[bot] opened #23062 "Newer release available `aspect_bazel_lib`: v1.11.4 (current: v1.11.1)"
Package Name: aspect_bazel_lib@1.11.1
Current Version: v1.11.1@2022-08-26
Available Version: v1.11.4@2022-09-10
Upstream releases: https://github.com/aspect-build/bazel-lib/releases

[2022-09-11 13:05] 13567436138 commented on #23051
it sealms you can config in startup args

[2022-09-11 20:01] #22551 closed

[2022-09-11 21:51] lakamsani commented on #22986
Hi, @ggreenway  started working on this. Need help with the dev env. Posted [here](https://envoyproxy.slack.com/archives/C78HA81DH/p1662932959628399) if you have any thoughts. Thanks.

[2022-09-11 21:59] AlexanderEllis commented on #9958
@Oberon00 Good question! I didn't have a strong preference and chose to start with gRPC with that `SHOULD` in mind (knowing that the collector is much more capable than I am at handling multiple formats).

That being said, the design should allow for some pretty approachable extensibility for exporting over HTTP instead — the OpenTelemetry Tracer relies on a `OpenTelemetryGrpcTraceExporterClient`

[2022-09-12 01:31] zirain opened #23065 "Unable to build/test as root (was: bazel build -c opt envoy not working on mian branch)"
it seems `bazel build -c opt envoy` not working on main branch

[code]

cc @phlax can you take a look?

[2022-09-12 02:05] keith commented on #23065
[code]

Looks like you're running as root which isn't supported, relevant convo from that issue: https://github.com/bazelbuild/rules_python/pull/713#issuecomment-1214865360

[2022-09-12 04:32] simha5009 commented on #23058
@agrawroh I have been trying the TCP rate limiter.

As per the docs, it should show URX for both TCP and HTTP connections.

Also, the connection is being terminated at the envoy and not  at downstream. I see the functionality is good but the CODE was wrong.

[2022-09-12 08:02] egerkke commented on #21637
Hi @NabeelShahid7 ,
I'm not a contributor of this repository, but many thanks for your post and volunteering to fix my issue :)
I think check the CONTRIBUTING.md file for details, how you can work on this repository:
[https://github.com/envoyproxy/envoy](url)

[2022-09-12 08:04] github-actions[bot] opened #23066 "Newer release available `io_bazel_rules_go`: v0.35.0 (current: v0.34.0)"
Package Name: io_bazel_rules_go@0.34.0
Current Version: v0.34.0@2022-07-19
Available Version: v0.35.0@2022-09-11
Upstream releases: https://github.com/bazelbuild/rules_go/releases

[2022-09-12 08:52] v-Kris commented on #23051
yes, I can do that, but what after startup and how to update those settings when the envoy instance is running?

[2022-09-12 12:01] #22543 closed

[2022-09-12 12:40] wbpcode commented on #22640
no stale

[2022-09-12 13:00] zirain commented on #23065
The command used to be ok, and it's broken after rebase with `main`.

[2022-09-12 13:38] snowp commented on #23034
It's possible that something like this exists, but I can't think of anything at the top of my mind. There are a ton of different implementations that end up generating a route config based on various inputs, most commonly integrating with Kubernetes APIs. I'd guess that some companies probably do this or something similar internally but haven't open sourced it

[2022-09-12 13:39] snowp commented on #23029
Not clear what the problem is here, can you elaborate?

[2022-09-12 13:43] snowp commented on #23046
Seems like your pasted config hasn't preserved indentation, so not much I can do without it. https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/ssl has an example of what it should look like - if that's not enough please share the config with the indentation preserved and I can take a look

[2022-09-12 13:47] snowp commented on #23051
Currently this can only be configured in bootstrap, which means that you cannot change this without re-starting the process.  The way this is implemented makes it pretty hard to change this at runtime, as this filter is evaluated when stat handles are created, not when stats are recorded

[2022-09-12 13:55] snowp commented on #23057
Outlier detection is local to the process, there is no communication between different proxies that would allow them all to flag the same host, so this seems to be working as intended. When we say that the host is ejected, we mean that it's marked as unhealthy and thus not considered during load balancing (unless panic mode activates)

[2022-09-12 13:57] snowp commented on #23018
This probably comes down to the tooling you're using, in gdb for example you would be able to set a breakpoint based on a symbol name which should achieve this

[2022-09-12 14:14] snowp commented on #23033
Yeah the listener one is a per connection access log iirc, which I can imagine doesn't work right for UDP. The access log for the UDP filter seems like what you want

[2022-09-12 14:23] snowp commented on #23053
I believe the virtual cluster matches matches against the request headers when resolving the route, so including the response code here would be pretty involved.

Are you not able to get what you want by looking at the per-code stats for the virtual clusters?

[2022-09-12 14:23] snowp commented on #23058
What exactly are you using to limit TCP connections? It's possible that we're not setting the flag in some circumstance

[2022-09-12 14:24] phlax commented on #23065
@keith looks like this is hitting envoy-mobile also https://github.com/envoyproxy/envoy-mobile/runs/8307530744?check_suite_focus=true#step:6:43

[2022-09-12 14:30] snowp commented on #23059
I'm not sure I understand the problem here enough to comment, this seems pretty specific to a single use case. Is this something general enough to warrant living in OSS? Or are you just looking for feedback on a use case?

cc @mattklein123 as Kafka expert

[2022-09-12 14:31] zirain commented on #23065
this's a huge changed will break downstream CI, for example: https://github.com/istio/proxy/pull/4055

[2022-09-12 14:33] MaggieAHewitt commented on #23053
This change would allow us to calculate the [Apdex scores ](https://www.techtarget.com/searchitoperations/definition/Application-Performance-Index-Apdex)for virtual clusters.

More specifically, we need a way to calculate the Satisfied and Tolerating requests where:

[code]

[2022-09-12 14:34] phlax commented on #23065
yep, it wasnt trivial fixing Envoy's CI to work with the newer version.

not sure what we can do about that tho - we do want to track the latest version of rules_python - it is used extensively and is being actively developed

[2022-09-12 14:36] simha5009 commented on #23058
Sample config:

[code]

[2022-09-12 14:37] simha5009 commented on #23058
I see the rate limiting is happening well but the response flag is not being reflected.

[2022-09-12 14:41] snowp commented on #23058
Yeah looks like the LocalRateLimit network filter does not set this flag. Should be an easy fix but someone will need to do it

[2022-09-12 14:47] snowp commented on #23053
Given that virtual cluster matching also wouldn't catch latency thresholds, would perhaps ingesting access logs be a better fit? That way the virtual cluster matching can happen as it does now, and you could evaluate each access log to get the duration + status + virtual cluster?

[2022-09-12 15:15] adisuissa commented on #23065
Also hitting oss-fuzz builds

[2022-09-12 15:16] mattklein123 commented on #23065
I think we need to revert this until we have a better path forward. Can we do that?

[2022-09-12 15:16] mattklein123 commented on #23065
(The path forward may be to just warn/fix dependent projects and give them time to update.)

[2022-09-12 15:22] mattklein123 commented on #23059
cc @adamkotwasinski for further comment. At a high level:
1) This seems like a very specific use case. I'm not sure that Envoy is a good fit here? Seems like you could build a service to do this?
2) I'm skeptical that polling, etc. overhead is really going to cause much egress costs? Is this all really worth it? It seems like most cost will be in the actual message transport which I'm assuming is

[2022-09-12 15:23] htuch commented on #23060
Yeah, this is support in the `AsyncClient` interface (via `RequestOptions`), but not configurable in a uniform way for things like ext_authz. One option would be to add this to the `GrpcService.EnvoyGrpc` config. This would avoid any major changes such as having to mix routing logic with `ClusterManager`. Does this work?

If not, I think the idea of having some cluster-wide control might have meri

[2022-09-12 15:33] phlax commented on #23065
reluctantly yes - but im wondering on how we move it forward if we do so

[2022-09-12 15:34] phlax commented on #23065
also wondering if another possible fix is that downstreams pin their versions of rules_python rather than us doing so

[2022-09-12 15:37] mattklein123 commented on #23065
I think we need to make some announcement about this at the very least. Can we revert and then come up with a plan for that?

[2022-09-12 15:39] mattklein123 commented on #23065
I think we should revert, then do a blast to all the email lists, slack, etc. and say that we are going to roll forward in a week. This will give people time to pin, schedule work to stop using root, etc.

[2022-09-12 15:40] keith commented on #23065
Is there no fix we can do in rules_python? Wasn't much response on the thread

[2022-09-12 15:41] PiotrSikora commented on #23047
cc @mpwarres

[2022-09-12 15:46] phlax commented on #23065
i think only patching it - im a bit ambivalent about the whole thing - otoh it really isnt their responsibility to check for this - otoh its kinda virally enforcing best practice (certainly it improved our ci/sandboxes which were failing)

i think its unlikely to be reverted upstream from my reading of the context, and maintaining a patch to make it more insecure doesnt seem like a good way forwar

[2022-09-12 15:50] agrawroh commented on #23060
@htuch Thanks for chiming in. There was a [similar request](https://github.com/envoyproxy/envoy/issues/21131) for mirroring traffic.
Is it possible to identify some of the things that we currently only have on routes which would also make sense to be on the cluster-level and then think more on what would be the best place?

[2022-09-12 16:24] drinkbeer commented on #23057
The only one proxy flag the cache instance as unhealthy, then other caches may still send requests to the instance, and trigger consecutive 5xx errors, and then trigger the outlier detection again, right? Will this behaviour cause inconsistency between cache instances? For example,

Scenario1: proxy A has (cache1, cache2, cache3, cache4), proxy B has (cache1, cache2, cache3). The operations:
1. A

[2022-09-12 18:10] adamkotwasinski commented on #23059
I believe the common solution in Kafka community would be to setup a Kafka Mirror Maker instance and do mirroring A -> B with consumers connecting to location-matching clusters. This obviously violates the 3rd requirement.

As mattklein123 has mentioned, it feels like it could be a parallel service that translates Kafka into Redis and vice-versa.
I feel it's also somehow related to https://github.

[2022-09-12 18:20] phlax commented on #22632
this should be resolved

[2022-09-12 18:20] #22632 closed

[2022-09-12 18:46] #22911 closed

[2022-09-12 20:07] kamranmohammed commented on #22880
Hello @alyssawilk Did you get a chance to look at my above comment?

[2022-09-13 01:07] 13567436138 commented on #23029
if I set break point in contructor of init parameter ,It will show up problem.

[2022-09-13 02:04] htuch commented on #23060
Yeah, there are others, e.g. fault injections. One thing I can offer here is a workaround - you can loopback the ext_authz cluster through a listener bound to localhost and have that apply a standard route table before hitting the real backend cluster. This is a total kludge, but if it helps your use case it might be worth considering.

I think we should leave this issue open to gauge wider intere

[2022-09-13 02:06] #23066 closed

[2022-09-13 05:51] agrawroh commented on #23060
Thanks, @htuch! That's exactly what we are doing right now for mirroring & splitting the traffic :)

One more question if you know the answer on top of your head - If we have `hash_policy` defined on the routes and the clusters to which the traffic is being mirrored/split have one of `RING_HASH` or `MAGLEV` LB Policy then would it do sticky routing? Or would it ignore the `hash_policy` and the spl

[2022-09-13 07:22] caoyukun0430 commented on #21923
@KBaichoo I tried to set directly these two env var in my ingressgw pod env fields and tested again, but results didn't change. I am afraid my setting is not correct. **So I would like to ask how would you set it in envoy and how to verify the env vars are set or not in enovy?** (because I checked in envoy codes and didn't find sth related to TCMALLOC_MAX_TOTAL_THREAD_CACHE_BYTES so wondering how

[2022-09-13 07:46] soulxu commented on #22634
After digging more, there is no way to ensure all the options work this way. (an example reuseport option won't work). So probably we should add a specific field for the DSCP option, just like fields 'enable_mptcp' and 'transparent'. We are going to update DSCP option when its value changes. And we can still reject the update of `socket_options` field, but it also means we are going to add more fi

[2022-09-13 09:02] muhaarif commented on #23046
Hi,

Seems like backend and frontend both side envoys used tls , we don't have
tls in backend , but we have frontend tls, is it will work ?, or we need to
add both side tls?

Thanks,

Muhammed Arif

On Mon, Sep 12, 2022 at 7:13 PM Snow Pettersen ***@***.***>
wrote:

[2022-09-13 09:14] YvesZHI commented on #23033
https://www.envoyproxy.io/docs/envoy/latest/configuration/observability/access_log/usage#config-access-log-format-dynamic-metadata

[2022-09-13 09:14] #23033 closed

[2022-09-13 09:27] caoyukun0430 opened #23075 "Envoy doesn't proactively stop TCP connection from establishing when server down"
*Title*: *Envoy doesn't proactively stop TCP connection from establishing when server down*

*Description*:
We have a question about envoy’s capability to proactively stop a TCP connection from establishing when the server is down. Our scenario uses envoy with istio. We have one client sleep pod with envoy proxy as sidecar injected(in-mesh) and one tcp-echo server without the envoy sidecar(outside

[2022-09-13 09:32] kfaseela commented on #23075
cc @soulxu

[2022-09-13 10:27] soulxu commented on #23075
Hope I understand the issue correctly. I don't think Envoy be able to stop the handshake, we know the upstream status after execute the TCP proxy filter, and actually Envoy execute everything after accept the connection.

[2022-09-13 12:41] v-Kris commented on #23051
Thank you for your answer @snowp

I'm checking some filters at startup and I noticed that when I create any filter (`inclusion` or `exclusion` list) I don't see any metrics at AWS CloudWatch. For example, even if I create only the following `exclusion` list:

[code]
it seems that all metrics are filtered out and nothing is going to AWS CloudWatch.

Am I missing something in that config above?

[2022-09-13 14:08] vasiminamdar commented on #9822
This solution work for me as well. Thanks fellas !!

[2022-09-13 14:26] htuch commented on #23060
In both cases Envoy is using an independent per-cluster HTTP async client with its own pseudo-config, so I strongly suspect the answer is it will ignore the original route hash policy.

[2022-09-13 14:33] sdlevi27 opened #23076 "Multi region routing for AWS Lambda Filter"
*Title*: Enable multi region routing for AWS Lambda Filter

*Description*:
Currently, the target cluster's Lambda endpoint must match the region specified in the ARN defined in envoy.filters.http.aws_lambda on the HTTP filter chain.  We have a use case where an HTTP listener may need to route Lambda requests to multiple regions, using type.googleapis.com/envoy.extensions.filters.http.aws_lambda.v3

[2022-09-13 14:39] danzh2010 commented on #22663
This needs a non-stale label.

[2022-09-13 14:40] danzh2010 commented on #22663
@alyssawilk any thoughts on this?

[2022-09-13 14:44] alyssawilk commented on #22663
I'd be inclined to allow tagging for TCP-only or UDP-only but I defer to @envoyproxy/api-shepherds

[2022-09-13 15:02] newwuhan5 opened #23078 "Question regarding ext proc / ExternalProcessor filter in envoy"
[2022-09-07 08:18:23.843][2686664][warning][misc] [external/envoy/source/common/protobuf/message_validator_impl.cc:35] message 'envoy.extensions.filters.http.ext_proc.v3.ExternalProcessor' is contained in proto file 'envoy/extensions/filters/http/ext_proc/v3/ext_proc.proto' marked as work-in-progress. API features marked as work-in-progress are not considered stable, are not covered by the threat

[2022-09-13 15:41] #22809 closed

[2022-09-13 16:33] #22914 closed

[2022-09-13 17:28] alyssawilk commented on #22880
I'm very sorry but I got swamped with my day job and I'm not going to be able to debug further.
best,
Alyssa

[2022-09-13 17:39] yanickbelanger opened #23080 "[OAuth2] Cannot passthrough on authorization header"
*Title*: OAuth2 - Cannot passthrough on authorization header

*Description*:
We're using the envoy.filters.http.oauth2 filter in some of our sidecar proxies for protecting web applications. Since a recent version, the passthrough configuration we are using does not work anymore:
[code]
This was needed to let requests issued with existing bearer token (from mobile applications for example) to skip

[2022-09-13 17:52] htuch commented on #23075
This doesn't really make sense in general, since as @soulxu points out, you need to know what you're proxying to in order to be able to determine if there are healthy hosts. OTOH, if you are getting your health/assignments via EDS, and this is Istio, there are other options. You could have Pilot initiate a listener drain via LDS if the sidecar only has a single cluster and it's unhealthy to stop a

[2022-09-13 17:55] htuch commented on #23078
@newwuhan5 can you clarify what you are asking here? Is this a general query on whether there is significant production use?

[2022-09-13 18:25] abergmeier commented on #23059
You still have that feeling? All people I have talked to at least want to migrate their clusters to Managed. Seems there is less acceptance to running Datastores yourselves.

Indeed seems very related.

That would be one way, yes.
What I am wondering what the solution would be to handle failover with Envoy. Say you have a Kafka consumer that does not handle changing Brokers after startup. So when

[2022-09-13 18:26] newwuhan5 commented on #23078
Thank you for a quick answer to my above question.  Seeing the warning during the runtime of envoy, we are at Fidelity wondering if the envoy ext proc filter with an external processor are mature enough to be used in PRODUCTION.  I took the sample from https://github.com/salrashid123/envoy_ext_proc, and get it running locally.  In terms of features available, it seems there are more to be implemen

[2022-09-13 18:38] kamranmohammed commented on #22880
Can someone please help us debug this?

[2022-09-13 20:09] pranavprem opened #23089 "No provision to retry for specific response / error flags"
_Title: No provision to retry for specific response/error flags_

_Description:_
We use envoy as a rate-limiting service ahead of our application and have noticed that in certain conditions, it errors out with a 503 UF. The request-response system that the envoy sits in front of is not idempotent but these 503 UFs are seen to not reach the application at all and can thus be retried. However, we ca

[2022-09-13 21:39] howardjohn commented on #16503
Fixed by https://github.com/envoyproxy/envoy/pull/23040

[2022-09-13 21:39] #16503 closed

[2022-09-13 21:55] joshuaswickirl commented on #17056
https://github.com/istio/istio/issues/34855

[2022-09-13 22:09] alexburnos opened #23095 "Envoy blocks initialization on VHDS for the duration of initial_fetch_timeout despite an empty VHDS response"
I've observed that Envoy blocks initialization until initial_fetch_timeout for the VHDS source elapses, despite the fact that control plane responds to the initial "empty/wildcard" VHDS response immediately with 0 resources.

I suspect it is because Envoy can not identify whether this VHDS response belongs to the route configuration associated with VHDS or not (since xDS response is empty) and kee

[2022-09-13 23:20] rakeshdatta commented on #4540
Folks, this is the implementation PR for FCDS (SoTW). Plz review.
Pending work:

1. To tests and possible hook some more changes for FC level connection draining.
2. Delta updates for FCDS

[2022-09-14 00:12] RenjieTang opened #23097 "[QUIC]Use of size_t causes arithmetic error"
The issue happens [here](https://github.com/envoyproxy/envoy/blob/main/source/common/quic/quic_filter_manager_connection_impl.cc#L136) where we subtract 2 size_t and store the result into a int64_t variable.

When size_t is mapped to uint64_t which is the case for most modern system, the subtraction works ok.
But in 32-bit system, for example x86, size_t is mapped to uint32_t, and the subtraction

[2022-09-14 00:12] RenjieTang commented on #23097
/assign @RenjieTang

[2022-09-14 00:17] RyanTheOptimist commented on #23097
cc: @danzh2010

[2022-09-14 01:10] htuch commented on #23078
@yanavlasov @krajshiva @mpwarres  I think this is something we want to steer towards a more production-hardened stance for our internal needs, but I don't think we can make any claims around maturity.

[2022-09-14 01:14] htuch commented on #22663
Yeah, I don't think we need any API semantic change here. Socket options at the POSIX-level have this weak typing and need to be applied to the correct socket type. So, just proper documentation and validation would make sense IMHO.

[2022-09-14 05:12] YvesZHI opened #23099 "Is it possible to make an anchor for a part of object in YAML config file"
I have such a config file for my Envoy:
[code]

It works but I found that this part `{name: envoy.access_loggers.file, typed_config: {"@type": type.googleapis.com/envoy.extensions.access_loggers.file.v3.FileAccessLog,` was kind of too long and was repeated many times... So I'm thinking if it is possible to make an anchor for just this part so that I can make my config file.

[2022-09-14 08:01] #22576 closed

[2022-09-14 08:03] github-actions[bot] opened #23100 "Newer release available `aspect_bazel_lib`: v1.11.8 (current: v1.11.1)"
Package Name: aspect_bazel_lib@1.11.1
Current Version: v1.11.1@2022-08-26
Available Version: v1.11.8@2022-09-14
Upstream releases: https://github.com/aspect-build/bazel-lib/releases

[2022-09-14 08:03] #23062 closed

[2022-09-14 08:03] github-actions[bot] opened #23101 "Newer release available `com_github_datadog_dd_opentracing_cpp`: v1.3.5 (current: v1.2.1)"
Package Name: com_github_datadog_dd_opentracing_cpp@1.2.1
Current Version: v1.2.1@2021-01-27
Available Version: v1.3.5@2022-09-12
Upstream releases: https://github.com/DataDog/dd-opentracing-cpp/releases

[2022-09-14 08:04] #22971 closed

[2022-09-14 08:04] github-actions[bot] opened #23102 "Newer release available `rules_python`: 0.12.0 (current: 0.10.2)"
Package Name: rules_python@0.10.2
Current Version: 0.10.2@2022-07-14
Available Version: 0.12.0@2022-08-29
Upstream releases: https://github.com/bazelbuild/rules_python/releases

[2022-09-14 10:16] zema-MSFT commented on #23008
hi, @kyessenov   would you ever have time for an investigation on this? thx

[2022-09-14 11:15] caoyukun0430 commented on #21923
Hi @KBaichoo there are bascially two different tcmallocs  "tcmalloc/malloc_extension.h" and "gperftools/malloc_extension.h" envoy uses.
And I verified that I am using the gpreftools one. For max_total_thread_cache_bytes, I can use MallocExtension::instance()->SetNumericProperty("tcmalloc.max_total_thread_cache_bytes", size) as it's exposed in malloc_extension.h https://github.com/gperftools/gperft

[2022-09-14 11:18] caoyukun0430 commented on #23075
Thanks @soulxu and @htuch for the explaination! I will close since the answer is quite clear from you.

[2022-09-14 11:18] #23075 closed

[2022-09-14 12:17] KBaichoo commented on #21923
So I would like to ask how would you set it in envoy and how to verify the env vars are set or not in enovy?

 would the memory release behavior be more aggressive, meaning OS interferences more is we have larger memory comsumed like O(1Gb)

Second, my tests are mainly focused on small mem usage O(50Mb) ~ O(100Mb),

 But when I checked https://github.com/gperftools/gperftools/search?q=TCMALLOC_HEA

[2022-09-14 12:39] caoyukun0430 commented on #21923
It's an env var used here: https://github.com/gperftools/gperftools/blob/f7c6fb6c8e99d6b1b725e5994373bcd19ffdf8fd/src/page_heap.cc#L56

Let's say If envoy got the env var TCMALLOC_HEAP_LIMIT_MB, does it mean gpertools/page_heap.cc also get it? I am afriad not or?

[2022-09-14 13:19] htuch commented on #23099
Envoy uses https://github.com/jbeder/yaml-cpp to parse its YAML. Is what you're trying to achieve possible in standard YAML syntax? If so, maybe try it out? We should be able to do anything that yaml-cpp supports.

[2022-09-14 13:19] alyssawilk commented on #22663
sorry @htuch are you suggesting that Envoy automatically check which socket option is being set and only apply it to the relevant socket types?  I agree that'd be ideal but it does mean that we either have to exhaustively add a check function for all known socket options and validate them and keep them up to date for all supported platforms, or we have to accept folks will write config for a not-y

[2022-09-14 14:26] #22218 closed

[2022-09-14 15:05] #22705 closed

[2022-09-14 15:16] KBaichoo commented on #22724
From slack:
@nguyenptk : I did some testing that follow you recommendation max_request_bytes . And I realized, I can do it per route level, it will be more useful than filter level in my use case.
But maybe the particular route setting does not work (route level). My configuration is
[code]

[2022-09-14 15:28] mattklein123 commented on #22634
I'm torn. I think on one hand it makes sense to be explicit about the options that we think can be updated, but this will expand the API and not necessarily be applicable to all platforms. The other way would be to actually look through the socket options on a platform specific basis and do a live update of the ones that we know do support it. This would avoid expanding the API but have more subtl

[2022-09-14 15:44] nguyenptk commented on #22724
@KBaichoo
I'm thinking about

also.

The normal behavior here is in the same listener (same port, for example: 8080), we should support `max_request_bytes` per particular route. The filter level will hold the global value and in a particular route, we can override the global there.
[code]

[2022-09-14 16:00] danzh2010 commented on #23097
Subtraction of two unsigned type and converting the result into int64_t should be fine. I won't expect overflow here. But QuicFilterManagerConnectionImpl::updateBytesBuffered() implicitly cast uint64_t to size_t (which can be uint32_t) in x86. Is this what actually causes problem?

[2022-09-14 16:01] #22606 closed

[2022-09-14 16:02] danzh2010 commented on #23097
Also a side note, the stream buffers so many data in the send buffer?!

[2022-09-14 16:56] RenjieTang commented on #23097
Subtraction of 2 uint64_t and storing it into int64_t is fine.
But subtraction of 2 uint32_t and storing it in int64_t will cause problem.

Here's a short sample code:
[code]

[2022-09-14 17:19] danzh2010 commented on #23097
Thanks for the example! So the stream isn't buffering huge amount of data, but just the new value is smaller than the old value and they are uint32_t.

`updateBytesBuffered()` should take uint63_t instead.

[2022-09-14 17:47] moderation commented on #22880
This is my config for doing `Client -> Envoy Proxy (HTTP) -> Secondary Proxy (HTTP) -> Destination (HTTPS)`. I've confirmed this works where the secondary proxy is an Envoy and at work where the secondary proxy is some sort of traditional proxy layer like a Bluecoat device. A loopback cluster is required and for this example I use a Unix Domain Socket.

[code]

[2022-09-14 18:59] kyessenov opened #23116 "tcp_proxy: save response headers for CONNECT upstreams"
We have a network telemetry extension that wants to use some metadata passed as a response header for CONNECT tunneling initiated by `tcp_proxy`. We want an ability to expose those headers to network extensions beyond just checking for 200. I have a couple of ideas:
* copy headers to the downstream L4 filter state; maybe require explicit names and mapping;
* copy headers as dynamic metadata to the

[2022-09-14 19:14] alyssawilk commented on #23116
I think optionally (if configured) putting the headers somewhere in L4 (probably in filterState) makes sense.

Upstream filters can be registered for an UpstreamCodecFilter::onUpstreamConnectionEstablished() callback, and I think changing that API to actually share the connection would be simple if that SGTY

[2022-09-14 19:14] adisuissa commented on #20790
Envoy should probably delay the update of the tracked resource version ([for non-wildcard resource](https://github.com/envoyproxy/envoy/blob/8bd59cefb6d974bffc4aae0c9544692b4ab4136c/source/common/config/new_delta_subscription_state.cc#L372) and [for wildcard resource](https://github.com/envoyproxy/envoy/blob/8bd59cefb6d974bffc4aae0c9544692b4ab4136c/source/common/config/new_delta_subscription_state

[2022-09-14 19:16] kyessenov commented on #23116
I think this is fairly unusual, so the least impact option is I think (1) with explicit header names, so I'll get that going.

[2022-09-14 19:17] adisuissa commented on #20790
Note that this impacts a reconnect scenario, as Envoy will send an [initial_resource_version](https://github.com/envoyproxy/envoy/blob/main/api/envoy/service/discovery/v3/discovery.proto#L236) with resources and versions that may have been NACK'ed.

[2022-09-14 20:01] #22584 closed

[2022-09-14 20:01] #22592 closed

[2022-09-14 20:01] #22598 closed

[2022-09-14 20:01] #22612 closed

[2022-09-14 22:08] ggreenway commented on #22634
Maybe for `socket_options`, add a config field for whether it is expected to be able to update on an existing socket or if a new listener needs to be created. I'd rather not add specific socket options as new explicit fields in the config just for this purpose.

But in general, a lot of the stuff around socket options has platform-dependent behavior, and I don't see a good way around that. Some fe

[2022-09-15 04:56] htuch commented on #22663
I guess I'm not just convinced that there is an API change needed, but happy to see a proposal for one that would make sense.

[2022-09-15 05:00] htuch commented on #22663
@ggreenway thoughts here? Looking just now at your comment https://github.com/envoyproxy/envoy/issues/22634#issuecomment-1247349596 seems to indicate that it might be hard to really use config guarding as the appropriate mechanism for socket option safety across platforms.

[2022-09-15 06:17] asaha123 opened #23119 "New example: Request mirroring policy"
*Title*: *Add a sandbox example for request mirroring policy*

*Description*:

I am keen to contribute an example for using [request_mirror_policies](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto.html?highlight=mirror).

Wondering if that would be desirable to be accepted as a contribution?

[Example](https://github.com/envoyproxy/envoy/compare/main...as

[2022-09-15 06:21] ryanlyy opened #23120 "DSCP carryforward from downstream to upstream path"
Hi All,

DSCP can be set by setsockopt(IP_TOS) from application. But after going through sidecar/envoy, DSCP is not set in upstream path using DSCP in IP header from downstream. Of course even we can set it in Cluster using bindConfig but it is static configured instead of using DSCP value from downstream ip header.

So is there any way envoy can carryforward the DSCP from downstream to upstream p

[2022-09-15 07:18] soulxu commented on #22634
thanks! +1 for this. Also check with option's `SocketState` field, if it is `STATE_PREBIND`, then reject to update option on the cloned socket. You only can create new socket when it is `STATE_PREBIND`.

Is it terrible we just let the platform decide whether the option can be updated? like we expect the `setsockopt` failed or a later `bind` failed when it doesn't support.

Also thinking we only su

[2022-09-15 08:03] github-actions[bot] opened #23122 "Newer release available `bazel_gazelle`: v0.27.0 (current: v0.26.0)"
Package Name: bazel_gazelle@0.26.0
Current Version: v0.26.0@2022-06-26
Available Version: v0.27.0@2022-09-14
Upstream releases: https://github.com/bazelbuild/bazel-gazelle/releases

[2022-09-15 08:03] github-actions[bot] opened #23123 "Newer release available `com_envoyproxy_protoc_gen_validate`: v0.6.8 (current: v0.6.7)"
Package Name: com_envoyproxy_protoc_gen_validate@0.6.7
Current Version: v0.6.7@2022-03-04
Available Version: v0.6.8@2022-09-14
Upstream releases: https://github.com/envoyproxy/protoc-gen-validate/releases

[2022-09-15 08:03] github-actions[bot] opened #23124 "Newer release available `com_github_bufbuild_buf`: v1.8.0 (current: v1.7.0)"
Package Name: com_github_bufbuild_buf@1.7.0
Current Version: v1.7.0@2022-07-27
Available Version: v1.8.0@2022-09-14
Upstream releases: https://github.com/bufbuild/buf/releases

[2022-09-15 08:03] github-actions[bot] opened #23125 "Newer release available `com_github_grpc_grpc`: v1.49.0 (current: v1.49.0-pre1)"
Package Name: com_github_grpc_grpc@1.49.0-pre1
Current Version: v1.49.0-pre1@2022-08-18
Available Version: v1.49.0@2022-09-14
Upstream releases: https://github.com/grpc/grpc/releases

[2022-09-15 08:03] #22940 closed

[2022-09-15 08:03] github-actions[bot] opened #23126 "Newer release available `com_google_protobuf`: v21.6 (current: v3.20.1)"
Package Name: com_google_protobuf@3.20.1
Current Version: v3.20.1@2022-04-22
Available Version: v21.6@2022-09-14
Upstream releases: https://github.com/protocolbuffers/protobuf/releases

[2022-09-15 08:03] #22638 closed

[2022-09-15 08:53] phlax commented on #23119
hi @asaha123 looks good - we would very much welcome the contribution

i see its missing docs atm - its worth stressing that the examples are primarily documentation - the `verify.sh` script is intended to ensure that the docs still/work

i would be happy to work with you on this

[2022-09-15 10:14] alimhabib opened #23127 "Envoy proxy match and case sensitive"
*Title*: *Envoy proxy match and case sensitive*

*Description*:
in my current project, I have many routes of the same but different Case example

Home/test and home/Test or home/test

Envoy doesn't recognize these differences as one, so I have to repeat the configuration per route

[code]

any way to configure Envoy such that it's not cause sensitive

[optional *Relevant Links*:]

[2022-09-15 10:23] soulxu commented on #23120
I don't think Envoy has such a feature built-in currently. But you could be able to do that by adding a listener filter, which populates the DSCP by `getsocketopt`, and add a socket option to the downstream Socket object. Then upstream will Inherit the socket option from the downstream socket.

https://github.com/envoyproxy/envoy/blob/c622d89efd58c7acf43f3b343bbbca39195e9104/source/common/upstream

[2022-09-15 11:07] 13567436138 commented on #23127
regex

[2022-09-15 12:57] alyssawilk opened #23128 "improve quic coverage"
https://github.com/envoyproxy/envoy/pull/23073 lowered quic coverage to land.  bump up and revert

[2022-09-15 13:19] #22663 closed

[2022-09-15 13:38] dimitraPat commented on #18606
Hi,
Is there any update on this issue?
Thanks

[2022-09-15 14:01] RyanTheOptimist commented on #23128
For posterity, the coverage report is here:

https://storage.googleapis.com/envoy-pr/73a6a6f/coverage/source/common/quic/index.html

I'll take a look today at increasing coverage, unless you are already working on this, @alyssawilk?

[2022-09-15 14:14] michaelbeaumont opened #23130 "Rewriting a prefix matched with `path_separated_prefix` to `/`"
*Title*: Rewriting a prefix matched with `path_separated_prefix` to `/`

*Description*:

#### Problem

With [the introduction](https://github.com/envoyproxy/envoy/issues/18148) of [`path_separated_prefix`](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-field-config-route-v3-routematch-path-separated-prefix), it's no longer necessary in all ca

[2022-09-15 14:27] kihaloul opened #23131 "Feature: auto_host_rewrite with STATIC clusters"
*Title*: *Feature: auto_host_rewrite with STATIC clusters*

*Description*:
The option auto_host_rewrite works only with STRICT_DNS and LOGICAL_DNS clusters. Is there a reason that auto_host_rewrite is not available for STRICT clusters also?
We have a use case where we don't have DNS, just static IP endpoints. And we need the upstream request to contain in the authority the IP address of the select

[2022-09-15 14:35] stevenzzzz commented on #22609
the fix is in.

[2022-09-15 14:35] #22609 closed

[2022-09-15 14:37] caoyukun0430 commented on #21923
Hi @KBaichoo I managed to set TCMALLOC_HEAP_LIMIT_MB, simply pass  this env var to proxy container will work. But this is a very strict limit, meaning once reached, the ingressgw pod becomes CrashLoopBackOff and restarts, so it's not a limit to be reached that can control the heap usage.

So what do you mean by fragmentation of memory? Are those freed from allocated to typically central_cache_free

[2022-09-15 14:49] mattklein123 commented on #22634
No I don't think this is terrible and IMO we can implement it this way. Each platform can decide whether it can update or not based on a passed in set of options, and if it can't the config will be NACKd. IMO this is a good direction to go as well.

[2022-09-15 14:50] ramaraochavali commented on #22995
After fixing aws side, we were not able to reproduce this. I will close this and we will follow-up with the warm_on_init for redis cluster

[2022-09-15 14:50] #22995 closed

[2022-09-15 14:55] meteorcloudy commented on #22758
<img width="1131" alt="image" src="https://user-images.githubusercontent.com/4171702/190436618-66fdcaad-c3ec-4929-ba22-3912149c3263.png">

https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1256#_

Can we get the gtest fixes merged? Envoy is one of the few projects that're blocking the flip of https://github.com/bazelbuild/bazel/issues/8622

[2022-09-15 15:44] ggreenway commented on #22634
I'm in favor of this idea, but there is a risk of a partially-applied config update, eg I had two socket options in the config that changed, the first one successfully updates in-place, the 2nd one fails. We've now modified the existing listener socket options, but can't fully rollback (at least not without some really careful work to revert the already-set socket options to previous values).

[2022-09-15 16:01] #22602 closed

[2022-09-15 16:40] mattklein123 commented on #22634
yeah I think it would have to be 2-phase and the platform would have to have prior knowledge whether it can be updated or not. I agree there is still a risk of bug with this approach but it seems like the best we can do.

[2022-09-15 17:23] abeyad opened #23135 "tools: protoprint.py doesn't handle fully qualified names properly"
While working on https://github.com/envoyproxy/envoy/pull/22921, I encountered an issue with the `proto_format` presubmit.  The presubmit check fails in https://github.com/envoyproxy/envoy/pull/22921/files#diff-3aec35493d987a047143be6535109226e876cedb1bb62858b099596b61d267a9 because the proto's fully-qualified name is `.envoy.extensions.config.v3alpha.KeyValueStoreXdsDelegateConfig`, while it cont

[2022-09-15 17:37] adisuissa commented on #23135
I think that what we've seen in the PR falls under "... its root package has a name that collides with one of the packages of the context type", because there's a conflict between "envoy/config" and "envoy/contrib/config", and that might be a place where FQN may be allowed.

If "extensions" and "contrib" were kept in the namespace then FQN could be avoided, but as they are not, there should be a w

[2022-09-15 19:06] RiverPhillips commented on #23127
You'll want to use [SafeRegex](https://www.envoyproxy.io/docs/envoy/v1.23.1/api-v3/config/route/v3/route_components.proto#envoy-v3-api-msg-config-route-v3-routematch) for that something like

[2022-09-15 19:45] RiverPhillips commented on #22996
I'd like to try and add similar functionality to `pack_as_bytes` to the headers.

/assign @RiverPhillips

[2022-09-15 22:47] soulxu commented on #22634
@mattklein123 @ggreenway thanks! let me work out a PR

[2022-09-15 23:15] keith commented on #22758
I've submitted https://github.com/envoyproxy/envoy/pull/23140 to just try to patch it, since updating googletest has some breaking changes it seems like. @meteorcloudy as stated above we are disabling this feature  https://github.com/envoyproxy/envoy/blob/aa1c71d44d1e6259041fd2b037bed773ac1c04ae/.bazelrc#L17-L18 which clearly isn't taking, which sounds a bit risky for actually shipping a bazel upd

[2022-09-16 00:26] cpakulski commented on #22905
I am not familiar with Kafka protocol, but if it starts with cleartext and TLS handshake follows within the same TCP session, you need StartTLS transport socket and code in Kafka filter to control the StartTLS.

[2022-09-16 00:36] milton0825 opened #23142 "rtds: admin /runtime API returns incorrect runtime key"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

Admin `/runtime` API returns incorrect runtime key for rtds resources.

*Description*:

the bug, for example: Envoy should not crash, the exp

[2022-09-16 01:00] htuch commented on #23127
There is also the `case_sensitive` boolean on route matchers.

[2022-09-16 01:06] htuch commented on #23130
@yanavlasov for thoughts on how to handle this kind of normalization (stuttered / at start of path) after rewrite.

Also related is [https://github.com/envoyproxy/envoy/pull/22703 and ](https://github.com/envoyproxy/envoy/issues/7763) and how this might work in that situation @silverstar194.

[2022-09-16 01:08] htuch commented on #23131
I think this should reasonable be able to be made to work for static clusters, PRs welcome.

[2022-09-16 01:16] htuch commented on #23142
I'm not sure if this is actually a bug yet - can you provide a plain text dump of the runtime endpoint? My suspicion is the Go code is setting the wrong key, probably using a protobuf string WKT rather than scalar string for value, but not sure.

[2022-09-16 01:43] #18209 closed

[2022-09-16 01:44] wbpcode commented on #22173
Closed by #22871

[2022-09-16 01:44] #22173 closed

[2022-09-16 01:44] wbpcode commented on #14785
closed by #22871

[2022-09-16 01:44] #14785 closed

[2022-09-16 02:17] ryanlyy commented on #23120
Thanks a lot @soulxu , is there example how to adding a listener filter which populates the DSCP and add socket option to the downstream socket? is there envoy code change needed or is there only configurable?

The following is the generic listener filter with socket option:
listener:
- name: listener0
   drain_type: DEFAULT
   address:
       socket_address: { address: 0.0.0.0, port_value: 8080 }

[2022-09-16 02:19] #22758 closed

[2022-09-16 02:28] StarryVae commented on #23058
@snowp is anyone working on this? if no, i will try to fix. And should `UpstreamRetryLimitExceeded` flag just be set in network rate limit filter?

[2022-09-16 03:21] soulxu commented on #23120
You can follow the orignal dst filter how to get option from socket
https://github.com/envoyproxy/envoy/blob/68d7971c2fa86f18748e889d4ba343fcddbe0cd2/source/extensions/filters/listener/original_dst/original_dst.cc#L24

Then follow the original src filter how to add option in the socket
https://github.com/envoyproxy/envoy/blob/68d7971c2fa86f18748e889d4ba343fcddbe0cd2/source/extensions/filters/liste

[2022-09-16 04:11] ryanlyy commented on #23120
Thanks a lot  @soulxu, so core code is like the following:

Network::FilterStatus OriginalDscpFilter::onAccept(Network::ListenerFilterCallbacks& cb) {
  ENVOY_LOG(debug, "original_dscp: new connection accepted");
  Network::ConnectionSocket& socket = cb.socket();

  if (socket.addressType() == Network::Address::Type::Ip) {
    Network::Socket::OptionsSharedPtr original_sockopt = getOriginalSockopt

[2022-09-16 05:45] soulxu commented on #23120
yea, you are right

[2022-09-16 07:30] daixiang0 commented on #20474
@envoyproxy/envoy-maintainers please close this since fixed.

[2022-09-16 07:34] daixiang0 commented on #7238
@arvryna no, you can go ahead.

[2022-09-16 10:00] #20474 closed

[2022-09-16 12:06] YvesZHI opened #23144 "How to make a static config as the client_max_body_size in Nginx"
I'm trying to replace my Nginx gateway with Envoy.

In my Nginx config, I had `client_max_body_size 500m;`, but I don't know what is the relative config in Envoy.

[2022-09-16 13:29] cpakulski commented on #22720
@zhangbo1882 Please check https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/outlier.html?#consecutive-local-origin-failure. If you enable [split_external_local_origin_errors](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/outlier_detection.proto#envoy-v3-api-field-config-cluster-v3-outlierdetection-split-external-local-origin-errors), TCP resets will go

[2022-09-16 13:38] leonids2005 commented on #22558
Looks like we have a similar issue when we delete a pod and traffic from an existing "untouched" pod is moved to the other one, which is a bit strange,

[2022-09-16 13:45] KBaichoo commented on #23144
There's currently no way to set this in Envoy apart from using the Buffer filter (and buffering 500mb seems like a bad idea).

Related issue: https://github.com/envoyproxy/envoy/issues/22724

[2022-09-16 14:06] abeyad commented on #23135
I think in the case of the PR specifically, the tool seems to be doing the wrong thing.  I believe it's because the check
[code]

is not sufficient to catch cases where the relative namespace conflict starts in the middle of the package name, not in the first element of the package name.

[2022-09-16 14:10] alimhabib opened #23146 "Route is never hit"
I have a route like

wss://test.com/ws/4eecf518665840f4af93014e8841035f/Log  and my filter look like :

[code]
but it is never hit or rerouted, do I miss something

[2022-09-16 14:17] KBaichoo commented on #21068
Fixed by https://github.com/envoyproxy/envoy/pull/23005

[2022-09-16 14:17] #21068 closed

[2022-09-16 14:19] phlax commented on #23135
so iiuc the problem arises from the fact that protos in contrib and core are not separately namespaced

im trying to understand if there is an actual namespace clash - ie there are 2 protos trying to claim the same name - or whether this is just a bug in our machinery

[2022-09-16 14:19] phlax commented on #23135
cc @htuch

[2022-09-16 14:29] abeyad commented on #23135
There isn't an actual namespace clash.  There is only one one KeyValueStoreConfig proto in `.envoy.config.common.key_value.v3.KeyValueStoreConfig`.  The top-level context proto in which the KeyValueStoreConfig field declaration is found is in the extensions namespace: `.envoy.extensions.config.v3alpha.KeyValueStoreXdsDelegateConfig`.  The problem in compilation seems to occur if the field is just

[2022-09-16 14:48] alimhabib commented on #23127
@htuch  thanks a lot it works really fine using case_sensitive, didn't know the default is true

[2022-09-16 14:48] #23127 closed

[2022-09-16 15:04] KBaichoo commented on #21923
So what do you mean by fragmentation of memory? Are those freed from allocated to typically central_cache_free_bytes AND transfer_cache_free_bytes part of it?

[2022-09-16 22:18] yzhao1012 commented on #22372
This has been what we found as well. Thanks!

[2022-09-16 22:48] howardjohn commented on #18958
Coming back to this, I actually tried implementing https://github.com/envoyproxy/envoy/issues/18958#issuecomment-966470378 (ignoring the control plane crashing edge case). Even that is seemingly ~impossible to do correctly.

Despite a correct ordering:

0. RDS -> points to foo
1. CDS: push foo and bar
2. RDS: update to point to bar
3. CDS: push bar only

There is actually a step "1b" needed to wai

[2022-09-17 00:03] #22626 closed

[2022-09-17 03:40] 13567436138 commented on #23146
could you show your whole config,include listener.

[2022-09-17 05:36] dio commented on #22996
Putting here for discussion: seems like Envoy currently "accepts" non-ASCII header values, which probably shouldn't (?). Reference: https://stackoverflow.com/a/48138818 (Non-ASCII characters are deprecated. You can send them, but there's no guarantee that the recipient will do what you expect it to).

Note: HeaderValue is a string: https://github.com/envoyproxy/envoy/blob/0d0596315a40f0da502af1a9a

[2022-09-17 07:09] kamranmohammed commented on #22880
Hi @moderation Thank you for your reply. I tried the above config with another envoy and squid proxies but none of them work. Also I don't even understand the configuration. Can you help me understand? Like why did you use httpbin.org? What is the loopback_cluster doing? And there is no reference to proxy_cluster in the listener?
Another thing that I noticed is you didn't use connect matcher and u

[2022-09-17 08:03] github-actions[bot] opened #23152 "Newer release available `aspect_bazel_lib`: v1.12.0 (current: v1.11.6)"
Package Name: aspect_bazel_lib@1.11.6
Current Version: v1.11.6@2022-09-13
Available Version: v1.12.0@2022-09-16
Upstream releases: https://github.com/aspect-build/bazel-lib/releases

[2022-09-17 08:03] #23100 closed

[2022-09-17 08:03] github-actions[bot] opened #23153 "Newer release available `build_bazel_rules_apple`: 1.1.2 (current: 1.0.1)"
Package Name: build_bazel_rules_apple@1.0.1
Current Version: 1.0.1@2022-06-17
Available Version: 1.1.2@2022-09-16
Upstream releases: https://github.com/bazelbuild/rules_apple/releases

[2022-09-17 08:03] #22970 closed

[2022-09-17 10:03] RiverPhillips commented on #22996
Yeah, it seems like the sender would need to encode their headers to send non-ASCII characters as defined in [rfc8187](https://www.rfc-editor.org/rfc/rfc8187)

[2022-09-17 11:18] alimhabib commented on #23146
@13567436138  I updated my question

[2022-09-17 12:01] #22655 closed

[2022-09-17 13:07] 13567436138 commented on #23146
is port right

[2022-09-17 14:26] alimhabib commented on #23146
@13567436138 yes all the ports are right

[2022-09-17 19:47] bradydean opened #23155 "SSL wrong version number transporting non-ssl connection"
*Title*: SSL wrong version number transporting non-ssl connection

*Description*:
I have a consul connect mesh with traefik ingress for a tcp (non-ssl) service. Traffic makes it to the envoy instance besides the tcp service but I'm getting an SSL error. I'm assuming this is communication between traefik's sidecar and tcp service's sidecar.

The sidecars are deployed by Nomad: `envoyproxy/envoy:v1.

[2022-09-18 00:03] #22657 closed

[2022-09-18 02:29] bradydean commented on #23155
I can replicate with this minimal job

[code]

minimal traefik job

[code]

[2022-09-18 04:28] #22627 closed

[2022-09-18 04:28] #22660 closed

[2022-09-18 04:52] 13567436138 commented on #23146
if you connect ，is it should be wss://test.com:8080/ws/4eecf518665840f4af93014e8841035f/Log

[2022-09-18 04:54] 13567436138 commented on #23155
can you provider your envoy yaml

[2022-09-18 07:53] alimhabib commented on #23146
@13567436138 no because it's an internal route, isn't it?! So you do wss call on the port 443 it will route it

[2022-09-18 08:25] 13567436138 commented on #23146
what is your response?

[2022-09-18 09:13] alimhabib commented on #23146
It gives 200 okay but no routing to the original cluster

[2022-09-18 10:11] VivekSubr opened #23156 "Build broken for envoy 1.22.5"
*Title*: *Build broken for envoy 1.22.5*

*Description*:
Build failure for envoy 1.22.5, used for istio 1.14

*Repro steps*:
git clone git@github.com:envoyproxy/envoy.git
git checkout 2ba6db6633d24dbe4aa2c5cf8ebba9f84767e3f4
bazel --output_base bazel_out build -c opt envoy

Build fails with error,
source/common/config/watch_map.cc: In member function 'virtual void Envoy::Config::WatchMap::onConfig

[2022-09-18 13:06] bradydean commented on #23155
Nomad creates this config and executes envoy like this

[code]

In the case of connect-sidecar-echo I found this envoy_bootstrap.json

[code]

[2022-09-18 23:58] bradydean commented on #23155
possibly related https://github.com/istio/istio/issues/35870

[2022-09-19 03:26] htuch commented on #23135
A few things come to mind:
1. I'm not sure what the purpose of `envoy.extensions.config` is here. Is it `envoy.config` but for extensions? Can someone articulate the rhyme-and-reason for this subtree? This doesn't address the general problem, but I'd like to make sure we're deliberative when introducing new subtrees here.
2. I think the existing namespacing normalization has served us well so far,

[2022-09-19 06:22] StarryVae commented on #23058
cc @wbpcode @mattklein123

[2022-09-19 11:53] 13567436138 commented on #23146
you have response,so where did it route to

[2022-09-19 13:42] abeyad commented on #23135
It predates me so I'm not sure the reason.  I did want to follow the conventions of that subtree though, and since there were already numerous API protos in contrib with the `envoy.extensions.config` package, I wanted to follow the same and avoid having to create a different, inconsistent namespace.

I agree that the consistency is good.  I also definitely see the point of view about using FQN eve

[2022-09-19 13:46] adisuissa commented on #23135
I added this sub-package for extensions that are related to config ingestion (when I added the custom config validators).

[2022-09-19 14:13] Gaurav0411GitHub opened #23158 "Configuration of source IP addresses in dynamic_active_clusters"
Title: Configuration of source IP addresses in dynamic_active_clusters

Is there anyway to configure source IP addresses in dynamic_active_cluster like destination lb_enpoints? or we can configure only one source IP address
like in below example:
"dynamic_active_clusters": [
    {
     "version_info": "V8",
     "cluster": {
      "@type": "type.googleapis.com/envoy.config.cluster.v3.Cluster",

[2022-09-19 14:14] Gaurav0411GitHub opened #23159 "Configuration of source IP addresses in dynamic_active_clusters"
Title: Configuration of source IP addresses in dynamic_active_clusters

Is there anyway to configure source IP addresses in dynamic_active_cluster like destination lb_enpoints? or we can configure only one source IP address
like in below example:
"dynamic_active_clusters": [
    {
     "version_info": "V8",
     "cluster": {
      "@type": "type.googleapis.com/envoy.config.cluster.v3.Cluster",

[2022-09-19 14:20] #23146 closed

[2022-09-19 14:38] bradydean commented on #23155
Turns out this is a limitation of traefik

https://github.com/traefik/traefik/issues/8601

[2022-09-19 14:38] #23155 closed

[2022-09-19 15:51] simha5009 commented on #17744
Are we able to make any progress?

[2022-09-19 16:23] nkindberg commented on #22163
I agree that it appears Envoy creates a single local rate limit token bucket that is shared across all requests on a connection when `local_rate_limit_per_downstream_connection` is enabled and applies that to all local rate limit decisions - instead of having a token bucket per config. This doesn't seem related to #21327.

I am running into the same issue with per-route local rate limit configurat

[2022-09-19 17:21] simha5009 opened #23165 "Increasing access log on Windows"
Increasing access log on Windows

*Description*: On Windows, we have tried to use the envoyproxy with access_log enabled. Over time, I think there is no default way to rotate the logs for these access logs.

[2022-09-19 17:22] simha5009 opened #23166 "Event Tracing for Windows (ETW) support for Windows"
Event Tracing for Windows (ETW) support for Windows

*Description*: I see the logs which are being generated by either access_logs or containers are not compatible with windows ETW.

[2022-09-19 17:47] adisuissa commented on #23156
This looks similar to: #21060.
Do we need the fix in #21110 to be backported?
cc @keith

[2022-09-19 17:57] adisuissa commented on #23158
I'm assuming you refer to `dynamic_active_clusters` in the [config-dump](https://github.com/envoyproxy/envoy/blob/7461266aae623c7a0c9858fe9055aaf37aed95b6/api/envoy/admin/v3/config_dump_shared.proto#L206). This has a list of endpoints that serve as upstream-backends for the cluster.

Can you explain what you mean by "source IP addresses"?

[2022-09-19 17:58] adisuissa commented on #23159
Seems like a dup of #23158. Closing.

[2022-09-19 17:58] #23159 closed

[2022-09-19 18:00] Alexcei88 opened #23167 "OAuth2 filter fails a request with Non-ASCII characters"
There is a listener with Oauth2 filter.

User is not yet authorized.
User sends a request with non-ASCII characters to Envoy like this

`https%3A%2F%2Freg-portal.ca.dev.kontur.ru%3A4433%2FRC%2FSearch%2FLocal?stateGroup%3D0%26typeGroup%3D0%26isFromForm%3DFalse%26Query%3D%D0%B2%D0%B2%D1%81`

Once user authorize (login and password has been inputed), IDP server calls a callback url according our conf

[2022-09-19 18:04] adisuissa commented on #23165
@wrowe are you aware of this limitation in Windows, and is there a way around it?

[2022-09-19 18:05] adisuissa commented on #23166
cc @wrowe should Envoy access log be compatible with Event Tracing for Windows?

[2022-09-19 18:06] simha5009 commented on #23165
Realted: https://github.com/envoyproxy/envoy/issues/23166

[2022-09-19 18:07] adisuissa commented on #23167
cc @derekargueta @snowp as codeowners

[2022-09-19 18:07] simha5009 commented on #23166
If we enable ETW, I think the access logs can also be generated as ETW events.

[2022-09-19 18:44] mburtless commented on #22028
@PiotrSikora - I think this issue is still relevant.  Can this be marked appropriately to avoid it going stale?

[2022-09-19 18:56] caoyukun0430 commented on #21923
Hi @KBaichoo  I went through https://gperftools.github.io/gperftools/tcmalloc.html and have more understanding on tcmalloc, hence also the results here are more readable to me. So I have some questions about the results to discuss with you:
1. the size class shown above are for per-thread freelist or central freelist? And majority are small object allocation <1500bytes?
2. You stated "TCMalloc can

[2022-09-19 18:57] alyssawilk commented on #22876
Ok I don't think there's consensus here so I'm going to lean harder on (2) and say folks can add an option for do_not_enforce_alpn which will fail open to HTTP/1.1

@jamesmulcahy sorry for the delay thus far.  You said you were up for the change so I'll leave the ball in  your court but as I introduced the breaking change lmk if you want me to pick it up and I will ASAP!

[2022-09-19 19:16] alyssawilk opened #23173 "presubmit-check the use of DECLARE_FACTORY for each DEFINE_FACTORY"
E-M apparently depends on the former and nothing checks on it upstream :-(

[2022-09-19 19:16] alyssawilk commented on #23173
cc @Augustyniak @snowp @phlax

[2022-09-19 20:22] dvu714 opened #23174 "ext_authz: Get Basic Authorization for filters.network.ext_authz"
*Title*: How to get Basic Authorization info from request parameter when handling Check?

*Description*:
When using the filter envoy.filters.http.ext_authz, I'm able to Basic Authorization from the Headers to authenticate.

Request parameter sent for envoy.filters.network.ext_authz differs and does not include the Headers.  How would I get the info to do authentication?

here's the configuration f

[2022-09-19 22:26] dio commented on #23174
Sorry, could you expand on your use case? `ext_authz` Network filter works per TCP connection. the check request sends "connection" information, such as source and destination peers, TLS information if it is being asked.

[2022-09-19 22:38] dvu714 commented on #23174
The use case is to provide Basic Authentication for the Proxy

[2022-09-19 22:58] dio commented on #23174
re: "Basic Authentication" Do you mean https://datatracker.ietf.org/doc/html/rfc7617? I think that requires HTTP to work.

[2022-09-19 23:04] dvu714 commented on #23174
Are there any options for Authentication for the Network filter?

[2022-09-19 23:19] imrenagi commented on #14001
hi, can I pick this up? Thanks!

[2022-09-20 03:01] StarryVae commented on #23058
yeah, thanks

[2022-09-20 04:58] ingwonsong commented on #11986
@alyssawilk please assign to me.

[2022-09-20 05:36] #22407 closed

[2022-09-20 06:31] Gaurav0411GitHub commented on #23158
we are having 4 LAN on CIF on which envoy is running, it means we have 8 source IP's on CIF.
can we tell envoy which IP to use as source address while contacting to cluster(External Server)

[2022-09-20 08:04] github-actions[bot] opened #23178 "Newer release available `org_llvm_llvm`: llvmorg-15.0.1 (current: llvmorg-12.0.1)"
Package Name: org_llvm_llvm@12.0.1
Current Version: llvmorg-12.0.1@2021-07-09
Available Version: llvmorg-15.0.1@2022-09-20
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-09-20 08:04] #22993 closed

[2022-09-20 08:04] github-actions[bot] opened #23179 "Newer release available `org_llvm_releases_compiler_rt`: llvmorg-15.0.1 (current: llvmorg-14.0.0)"
Package Name: org_llvm_releases_compiler_rt@14.0.0
Current Version: llvmorg-14.0.0@2022-03-23
Available Version: llvmorg-15.0.1@2022-09-20
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-09-20 08:04] #22994 closed

[2022-09-20 08:51] VivekSubr commented on #23156
thank you @adisuissa, that works.

[2022-09-20 11:52] dragoscalinescu opened #23181 "Proxy wasm set http response body when original response does not have a body"
Seems that the `on_http_response_body` callback is not called when the original response does not include a body.
Because of this, I don't see a way of setting a different body, except for using `send_http_response` from a different callback.

Should the api trigger the callback with `body_size = 0` in this case?

[2022-09-20 12:10] #22064 closed

[2022-09-20 12:55] Alexcei88 commented on #23167
The problem with http_parser library. It fails the url with Non-ASCII symbols. I have checked using by GURL library, it's ok. So I would like to send PL request to replace http_parser library to GURL library exactly only this filter.
I see that it's going to [unify URL parsing with GURL](https://github.com/envoyproxy/envoy/issues/15290) but it's a critical bug for me.

[2022-09-20 14:04] #23097 closed

[2022-09-20 14:54] #23153 closed

[2022-09-20 15:21] adisuissa commented on #23158
So if IIUC you have multiple outgoing IP addresses from the machine that runs Envoy, and you are asking how to configure Envoy so that it a specific outgoing IP address to use depending on the incoming request. Let me know if I got it wrong.

I haven't seen such use-case before, but maybe @mattklein123 has some ideas.

[2022-09-20 17:36] kyessenov commented on #23181
cc @mpwarres

[2022-09-20 18:37] DiegoGamaV opened #23185 "Circumvent Kafka client protocol metadata without needing to change broker advertised.listeners configuration"
*Title*: *Circumvent Kafka client protocol metadata without needing to change broker advertised.listeners configuration*

*Description*:

*Relevant Links*:

[2022-09-20 19:06] tyxia commented on #22916
#22934 has been merged. @fiadliel, Could you test it and close this issue if it works for you?

Thanks!

[2022-09-20 20:01] #21839 closed, assigned to nobody

[2022-09-20 22:10] mpwarres commented on #23181
The `on_http_response_headers` callback should already give clear signal as to whether or not a body is expected, via the `end_of_stream` bool param. If `end_of_stream` == true, then the plugin shouldn't expect an `on_http_response_body` callback; IMO that would be a little surprising, since the `on_http_response_headers` callback already indicated the stream ended.

A plugin should be able to cal

[2022-09-21 00:07] kyessenov commented on #22900
I think the design has to involve a two-phase stream selection mechanism:
1. The upstream cluster selects a host opting into the "tunnel" transport.
2. The host creates a new transport socket stream over the tunnel.

The important factor is that (2) is dis-associated from (1). That means that hosts from multiple clusters should be able to share the tunnel connection. The difficulty is managing the

[2022-09-21 01:47] acrazing opened #23190 "Is there a plan to implement async_mode for ext_proc?"
It seems to be `not implemented` since version 1.20, and it has not been implemented yet?

For some reason, I need to print the request and the response body (gzipped) in the access log. The only solution I've found so far is `ext_proc`, but its synchronous mode obviously brings longer response latency. So I wonder, when will its `async_mode` be supported?

[2022-09-21 01:49] wbpcode commented on #23185
cc @mattklein123

[2022-09-21 01:54] wbpcode commented on #23190
cc @snowp

[2022-09-21 02:12] dorisd0102 opened #23191 "Error report when fetch "com_github_unicode_org_icu" in clang-tidy"
Hi,
Error report in clang_tidy:
_

_

I try to get "https://codeload.github.com/unicode-org/icu/tar.gz/release-71-1.tar.gz%5D%20to%20/build/tmp/_bazel_envoybuild/b570b5ccd0454dc9af9f65ab1833764d/external/com_github_unicode_org_icu/temp3423649212830806507/release-71-1", it report "404: Not Found".

Anyone could help to check this issue? Thanks.

[2022-09-21 02:15] keith commented on #23191
I think GitHub was having some issues today. The url from the error is working for me now.

[2022-09-21 02:32] soulxu commented on #23158
Hope I understand the case correctly, can we use bind_config here https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/address.proto#envoy-v3-api-msg-config-core-v3-bindconfig, but if you want to chose different upstream local address, then you have to create multiple cluster for each local address, then at filter_chain to chose different cluster based on the incoming request

[2022-09-21 02:55] dorisd0102 commented on #23191
@keith
The pipe still  failed:
https://dev.azure.com/cncf/envoy/_build/results?buildId=117201&view=logs&jobId=b7634614-24f3-5416-e791-4f3affaaed6c&j=b7634614-24f3-5416-e791-4f3affaaed6c&t=21e6aa7d-f369-5abd-5e4e-e888cac18e9c

[2022-09-21 07:13] Gaurav0411GitHub commented on #23158
Thanks for suggestion,
Can we add like this?
{
     "version_info": "V6",
     "cluster": {
      "@type": "type.googleapis.com/envoy.config.cluster.v3.Cluster",
      "name": "HOST_REWRITE_CLUSTER",
      "type": "ORIGINAL_DST",
      "connect_timeout": "10s",
      "lb_policy": "CLUSTER_PROVIDED",
      "upstream_bind_config": {
       "source_address": {
        "address": "X.X.X.X",
        "p

[2022-09-21 07:18] soulxu commented on #23158
Yes, you can, then you will have multiple cluster like this, each one with different upstream_bind_config, then using filter_chain/route to choose different cluster.

[2022-09-21 07:20] tobiayofe commented on #21219
Where can we affect this change, please?

[2022-09-21 08:06] github-actions[bot] opened #23193 "Newer release available `com_github_wasmtime`: v1.0.0 (current: v0.39.1)"
Package Name: com_github_wasmtime@0.39.1
Current Version: v0.39.1@2022-07-21
Available Version: v1.0.0@2022-09-20
Upstream releases: https://github.com/bytecodealliance/wasmtime/releases

[2022-09-21 08:06] #22942 closed

[2022-09-21 08:47] Gaurav0411GitHub commented on #23158
ok, Please give me the example of config dump, how can I use filter_chain/route in dynamic_active_clusters?

[2022-09-21 10:35] ramaraochavali commented on #22120
@mattklein123 can you please mark this "help wanted"?

[2022-09-21 13:23] alyssawilk commented on #22900
The HTTP/1.1 direct path is really simple because it's just prepending and stripping super simple bytes.
I think it'd be doable to take an L7 envoy stream and have a fast path which encapped the L7 stream as HTTP/1.1 on an upstream HTTP/2 connection.  I don't think there's a simple solution to encap HTTP/2 over HTTP/2 without doing the 2 passes.
Want to just snag some time on my calendar to chat a

[2022-09-21 14:03] alyssawilk commented on #19725
Sorry for the delay.  Looks like it would be more accurate to include both codes - thanks for calling that out.

[2022-09-21 15:11] #23191 closed

[2022-09-21 17:21] bdecoste opened #23200 "Listener tcp keepalive on socket_options not sending keepalive messages"
*Title*: *Listener tcp keepalive on socket_options not sending keepalive messages*

*Description*:
With the configuration on a listener below I do not see tcp keeplive messages from envoy to the downstream during a long lived connection.

*Repro steps*:
 Deploy a listener with tcp keepalive socket_options and send a request to that listener and a route with a long fault delay. Gather network info

[2022-09-21 18:27] kyessenov commented on #22900
Thanks, scheduled. I want to scope it to just TCP encapsulation after cluster host resolution. Internal listeners work well for HTTP in HTTP CONNECT.

[2022-09-21 20:01] #22653 closed

[2022-09-21 20:01] #22680 closed

[2022-09-21 23:07] soulxu commented on #23158
What is your condition to choice the upstream source address?

[2022-09-21 23:32] pjjw commented on #13998
for the record, musl now supports replacement mallocs.

[2022-09-22 00:05] suniltheta commented on #20272
no stale

[2022-09-22 02:28] abeyad commented on #22303
This was implemented in https://github.com/envoyproxy/envoy/pull/22884, so I'm closing this issue.

[2022-09-22 02:28] #22303 closed

[2022-09-22 03:00] kyessenov commented on #22661
Envoy metrics have evolved over time and don't necessarily follow best modern practices. I think it's reasonable to propose usability improvements in the area of xDS status monitoring.

[2022-09-22 03:11] soulxu commented on #23200
@bdecoste I did a simple test, it works as expected

[code]

I can got output from the tcpdump output is
[code]

[2022-09-22 07:06] #23144 closed

[2022-09-22 08:12] levimm opened #23205 "listener filter chain match doesn't work for incoming request using proxy protocol"
*Title*: *listener filter chain match doesn't work for incoming request using proxy protocol*

*Description*:
I have two envoy proxy chained together: client -> envoy1 -> envoy2 -> server.
envoy1 just does the tcp forward and will use upstream proxy protocol to save the information about client ip.
envoy2 will handle the proxy protocol and route the traffic based on server name. However, envoy2's

[2022-09-22 08:32] soulxu commented on #23205
seems like you should run the proxy_protocol listener filter before the tls_inspector filter.

[2022-09-22 08:41] yshiyuan commented on #22803
I had the same problem. I think the lua filter should clear the cached route when dynamic metadata is modified as same as headers.

[2022-09-22 11:55] bdecoste commented on #23200
$ envoy --version

envoy  version: 74e717456bb4f43a4c9ad5ab8274451f9c3f6ad6/1.17.0-dev/Distribution/RELEASE/BoringSSL

[2022-09-22 12:02] bdecoste commented on #23200
I am also testing with `type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager` vs `type.googleapis.com/envoy.extensions.filters.network.tcp_proxy.v3.TcpProxy`

[2022-09-22 13:10] #23135 closed

[2022-09-22 14:59] mattklein123 commented on #23185
cc @adamkotwasinski

[2022-09-22 15:31] vnayar opened #23206 "HTTP Connection Manager Documentation is Missing Psuedo-Headers"
*Title*: *HTTP Connection Manager Documentation is Missing Psuedo-Headers*

*Description*:
The documentation for the HTTP Connection Manager is incomplete with regards to pseudo-headers. The `:scheme` header is documented, but the `:method` and `:path` headers are not.

See: https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/headers

[2022-09-22 17:32] adisuissa commented on #23200
@bdecoste can you test the version you are using with the config that @soulxu provided in [this comment](https://github.com/envoyproxy/envoy/issues/23200#issuecomment-1254464926)?

[2022-09-22 17:44] adisuissa commented on #23206
The `:authority` and `:path` are mentioned in the same doc, but could probably benefit from their own entry.
Contributions are welcome.

[2022-09-22 17:49] markdroth opened #23213 "override_host_set conflates different EDS health statuses"
This is something we discovered while in the process of implementing Envoy's stateful session affinity feature (see #16698) in gRPC.

From reading the code, it appears that there's a bug in Envoy's handling of the [`override_host_status` field](https://github.com/envoyproxy/envoy/blob/8e5c602e3cbafa3787269e94fe7fd0a81e62ca81/api/envoy/config/cluster/v3/cluster.proto#L672).  The field allows settin

[2022-09-22 17:50] KBaichoo commented on #21923
the size class shown above are for per-thread freelist or central freelist? And majority are small object allocation <1500bytes?

do you mean that only after all the small objects of a span have been freed, centralFreeList will return them to PageHeap, but here many of the span are still mixture of allocated and freed objects so they can't be returned to pageHeap?

so even though free span returne

[2022-09-22 17:52] adamkotwasinski commented on #23185
@DiegoGamaV yeah, that's doable, you might want to start changing in https://github.com/envoyproxy/envoy/blob/v1.23.1/contrib/kafka/filters/network/source/broker/filter.cc#L49 , conditionally downcasting to Metadata response and then rewriting the data inside (you'll need to somehow figure out the listener address from Envoy codebase, or just add yet another config option if that's hard)

[2022-09-22 19:37] suniltheta commented on #23076
Seems like when the aws signer is initialized we set the region and don’t change it later based on the arn of the function. We can update the signer function to take in and argument containing the region string. If this is allowed this will be a straight forward fix.

[2022-09-22 19:37] suniltheta commented on #23076
/assign

[2022-09-22 21:09] #15036 closed

[2022-09-22 21:09] #20389 closed

[2022-09-22 23:51] pauldthomson opened #23215 "Background on JWT authn filter skew default"
*Description*:
The below commit added a default clock skew to the JWT authn filter, and mentions that a skew buffer is recommended and seems to use 60s as that's what GRPC uses. I'm wondering if there's any more context to this? We have hit some issues relating to tokens traversing envoy and non envoy proxied services due to this. Before removing/changing the setting, I just wanted to check there

[2022-09-23 03:40] masquee commented on #22812
/label help wanted

[2022-09-23 03:44] masquee commented on #22812
/label "help wanted"

[2022-09-23 03:46] masquee commented on #22812
/label "help wanted"

[2022-09-23 03:55] masquee commented on #22812
/"help wanted"

[2022-09-23 04:27] zouyee commented on #22812
/help wanted

[2022-09-23 04:32] zouyee commented on #22812
/label help wanted

[2022-09-23 04:44] masquee commented on #22812
/label help wanted

[2022-09-23 05:24] Gaurav0411GitHub commented on #23158
At this moment condition is not clear to me.
Can you please give me an example where i can find the example of filling upstream_bind_config from c++ code using protobuf and gRPC

[2022-09-23 05:39] soulxu commented on #23158
You can find some examples from the test
https://github.com/envoyproxy/envoy/blob/ac5792e1da4c966656f4afc7a184fb39644f24fb/test/config/utility.cc#L1020

[2022-09-23 06:25] levimm commented on #23205
thanks @soulxu you're right, it's working now after i move proxy_protocol ahead.
Btw, since I followed this doc example, I created a pr to fix the doc, could you help review it? https://github.com/envoyproxy/envoy/pull/23217

[2022-09-23 06:26] tanjunchen commented on #22768
/help wanted

[2022-09-23 06:27] tanjunchen commented on #22768
/no stalebot

[2022-09-23 06:30] #23205 closed

[2022-09-23 07:47] zhxie opened #23219 "ci: mismatch release date in opencensus_proto"
*Title*: ci: mismatch release date in opencensus_proto

*Description*:

The CI complains `Mismatch: opencensus_proto 2020-07-21 != 2022-09-22` in all recent attempts.

*Relevant Links*:

https://dev.azure.com/cncf/envoy/_build/results?buildId=117344&view=logs&j=1c04237c-5f52-5959-5f83-5522b3556331&t=db3f3889-c922-566b-fa2e-4bc4948bc467&l=421

[2022-09-23 08:02] #22697 closed

[2022-09-23 09:14] fabiomnk opened #23221 "Http2 Flow Control with Grpc Streaming not pausing"
*Title*: Http2 Flow Control with Grpc Streaming not pausing

*Description*:
We are testing a disaster scenario in which our service should pause the inbound grpc streams in order to manage the backpressure of the systems behind it.

We see this behaviour when we test it routing the traffic to the service without envoy in front of it (AWS NLB -> k8s Service -> Pod )
We are using istio so when we ro

[2022-09-23 09:57] Gaurav0411GitHub commented on #23158
How can we set as "freebind": true, i could not able to get any function to set it,
How can we see all the supported function and complete body of envoy structure?

[2022-09-23 10:13] #23219 closed

[2022-09-23 11:30] praveenchandna opened #23222 "Host header(host:port) in http v1 is not received in the backend service through Envoy."
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Host header(host:port) in http v1 is not received in the backend service through Envoy.*

*Description*:
We are running traffic with the Envoy in http v1 and applic

[2022-09-23 11:51] dio commented on #14001
@imrenagi I think you can take it. Please let me know if you need help. Thanks!

cc. @ggreenway.

[2022-09-23 11:56] dio commented on #23174
If your "traffic" is "TCP" (e.g. if you put envoy in front of a postgres server), then when you add network ext_authz you have a handful of "parameters" that can be checked: https://github.com/envoyproxy/envoy/blob/e19476d62956b60688de2b6109de1cf4dea6ae19/api/envoy/service/auth/v3/attribute_context.proto#L157-L177

[2022-09-23 14:37] Gaurav0411GitHub opened #23224 "Configurable DSCP Values for HTTP/HTTPS/DNS interfaces"
Configurable DSCP Values for HTTP/HTTPS/DNS interfaces

Please suggest, how can we provide Configurable DSCP Values for HTTP/HTTPS/DNS interfaces.
Please let me know from which envoy version this is supported and how can support. if possible please give me an example.

[2022-09-23 16:02] howardjohn commented on #22583
This is still happening, not stale.

[2022-09-23 16:22] mkauf commented on #22874
Thank you for adding the licenses to the external dependencies table!

It would be great if transitive dependencies would also be listed - does somebody have this information?

For example, the [Common Expression Language (CEL) C++ library](https://github.com/google/cel-cpp) uses [ANTLR](https://github.com/antlr/antlr4). I have learned this because an envoy build failed a few weeks ago: The ANTLR

[2022-09-23 16:24] qiwzhang commented on #23215
Sorry, not clear on your intention.  Are you proposing to remove the `clock_skew_seconds` config?

This may cause backward compatible issue.   Someone may be using it.

[2022-09-23 16:47] kyessenov commented on #22583
John, if you want traction from Envoy maintainers, we need a self-contained example. This is such a core part of Envoy that it's impossible to tell what leads to it.

[2022-09-23 19:23] adisuissa commented on #23221
cc @alyssawilk @KBaichoo

[2022-09-23 19:39] adisuissa commented on #23222
Can you share your config?

[2022-09-23 19:46] adisuissa commented on #23224
By DSCP I assume you meant Differential Services.

I'm not familiar with this, but I think one can set this with [SocketOption](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/socket_option.proto.html).
https://github.com/istio/istio/issues/40397 mentions that this can be configured in Istio/Envoy, but I don't have the full details.

cc @mattklein123 might know more.

[2022-09-23 20:49] keith commented on #23065
Turns out there's a bool so we can unblock the update but not yet force the root issue. Updating here https://github.com/envoyproxy/envoy/pull/23231

[2022-09-23 20:59] RiverPhillips commented on #23131
I'm not a C++ expert but I'd like to try and have a look at this @htuch

[2022-09-23 21:04] phlax commented on #23065
thanks for tracking this down @keith

[2022-09-23 21:13] pauldthomson commented on #23215
No, sorry. Internally we are considering setting it to 0 (via an `Istio` `EnvoyFilter`), but just trying to understand the motivation for the 60s default before we do.

[2022-09-23 22:05] phlax commented on #22874
ideally at least - this is exceptional - we do try to pin all of the deps explicitly in general

in the case of antlr it was listed in repository_locations until recently when we transitioned from using `rules_antlr` - not sure why its not there any more

cc @moderation @kyessenov

[2022-09-23 22:28] #23065 closed

[2022-09-23 23:44] krdln opened #23234 "Opentelemetry grpc access logger uses wrong field for instrumentation_library_logs in 1.23.1"
*Description*:

Opentelemetry grpc access logger sends out logs using [deprecated `instrumentation_library_logs = 1000` field][deprecated] instead of `scope_logs = 2` field (using opentelemetry proto v0.18).

This was caused by https://github.com/open-telemetry/opentelemetry-proto/pull/362, which was supposed to not be a breaking change for binary-protobuf clients.

As an effect, opentelemetry acc

[2022-09-24 08:01] #22671 closed

[2022-09-24 11:57] dio opened #23235 "Set --define wasm=wasmtime for macOS by default"
Currently, since https://github.com/envoyproxy/envoy/pull/20889 is merged, macOS binaries v1.23.x (e.g. fetched via Homebrew) by default doesn't support Wasm. Should we use `build:macos --define wasm=wasmtime` instead? I think at least people getting envoy binary from Homebrew can play with Wasm filter too.

cc. @keith @cpakulski

[2022-09-25 04:35] guoyuanchao1202 opened #23238 "tools/vscode/refresh_compdb.sh Failed"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: exec tools/vscode/refresh_compdb.sh in container failed

*Description*:

Local OS: Mac M1
I use vscode-remote container to debug envoy, but when i exec tools/vscode/

[2022-09-25 04:57] guoyuanchao1202 opened #23239 "tools/vscode/generate_debug_config.py Failed"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: Exec `tools/vscode/generate_debug_config.py //source/exe:envoy-static  --args "-c envoy-config.yaml" --debugger lldb` failed

*Description*:

Local OS: Mac M1
I use

[2022-09-25 09:16] dio commented on #23235
Seems like @keith's patch (mentioned in #20889) https://chromium.googlesource.com/v8/v8.git/+log/refs/tags/10.4.132.18/bazel/config is included in `main` (v8 version 10.4.132.18: https://chromium.googlesource.com/v8/v8.git/+log/refs/tags/10.4.132.18/bazel/config). However, when we build it on macOS M1 and try to load a .wasm file (full log: https://gist.githubusercontent.com/dio/7ef745c09327aa6da0

[2022-09-25 13:35] soulxu commented on #23158
you should be able to set it by `mutable_upstream_bind_config->mutable_freebind()->set_value(true)`

you can a ipv4 address in the `source_address` field, and set a ipv6 address in the `additional_source_addresses`. Envoy will differentiate ipv4 and ipv6 automatically based on endpoint's address, you can reference the `additional_source_addresses`'s  doc here https://www.envoyproxy.io/docs/envoy/l

[2022-09-25 13:41] soulxu commented on #23224
yea, as @adisuissa said, SocketOption is used to set the DCSP flag. if you want to apply to downstream connection, then you can set this to listener address's socket_option. If you wan to apply to upstream connection, then you set this cluster endpoint's address socket option.

[2022-09-25 13:45] dio commented on #23235
Checking on https://github.com/nodejs/node/blob/dc4398c9cfb86754f69631a9e69da4314ac0cbea/deps/v8/src/base/platform/platform-posix.cc#L468 and compare it with the current linked v8 version (10.4.132.18): https://chromium.googlesource.com/v8/v8.git/+/refs/tags/10.4.132.18/src/base/platform/platform-posix.cc#468, the later has the following code (https://chromium.googlesource.com/v8/v8.git/+/refs/tag

[2022-09-25 15:36] vnayar commented on #23206
A PR has been prepared here: https://github.com/envoyproxy/envoy/pull/23240

[2022-09-25 20:01] #21959 closed

[2022-09-25 20:01] #22668 closed

[2022-09-26 00:04] #22687 closed

[2022-09-26 02:49] giantcroc opened #23241 "Support proxy level access logging for udp proxy"
*Title*: *Support proxy level access logging for udp proxy*

*Description*:

We can use log_format as followed to print stats in sessions.
[code]
But some stats like `no_route` and `idle_timeout` can't be printed by session access logging,
because in some cases there is no session created.
 So I think we should add proxy level log to enhance udp proxy access logging.
[optional *Relevant Links*:]

[2022-09-26 04:58] dio commented on #23235
Ah probably the right patch is to switch the place of checking (worth submitting to upstream?):

[code]

[2022-09-26 08:50] SuitespaceDev commented on #125
Anything in particular needing help with this?? Would be very handy for our platform framework.

[2022-09-26 10:24] dio opened #23243 "Failed to load .wasm on macOS running on Apple silicon"
Background:

Currently, since the following PR is merged,

- https://github.com/envoyproxy/envoy/pull/20889

macOS binaries v1.23.x (e.g. fetched via Homebrew), and main by default doesn't support Wasm.

Relevant:
- https://github.com/envoyproxy/envoy/issues/23235.

Since [@keith's CL](https://chromium-review.googlesource.com/c/v8/v8/+/3589296) on v8 upstream is merged. Also, that CL is actually [

[2022-09-26 10:24] dio commented on #23235
Closed in favor of: https://github.com/envoyproxy/envoy/issues/23243

[2022-09-26 10:24] #23235 closed

[2022-09-26 11:10] Gaurav0411GitHub commented on #23224
Hi,
Thanks for your support, If you can provide me an example of config dump, that would be helpful for me

[2022-09-26 12:29] fiadliel commented on #22916
@tyxia Looks good, thanks!

Btw sorry that this isn't exactly the right forum in a way, but just comments / thoughts after using it:
 - would be nice if it could be updated in future to be an upstream HTTP filter - might allow reuse with WASM/Lua calls, xDS APIs
 - I can't imagine another value for the metadata URL (well, until GCE gets the ability to access multiple service accounts), so it might

[2022-09-26 12:29] #22916 closed

[2022-09-26 14:07] dio commented on #23243
Another suggestion is to set `v8_enable_external_code_space` to true (see: https://chromium-review.googlesource.com/c/v8/v8/+/3610445/comment/6294ada3_a3cab643/), but it seems like `v8_enable_external_code_space` is part of V8 GN flags that are not currently supported from bazel.

[2022-09-26 14:59] #21712 closed

[2022-09-26 15:04] kihaloul commented on #23131
Hello,

After some code checking and some testing, I found out that the auto_host_rewrite feature indeed works with STATIC clusters, provided the hostname attribute is configured. I created a PR to update the documentation: https://github.com/envoyproxy/envoy/pull/23248

[2022-09-26 16:02] #22162 closed

[2022-09-26 16:52] kyessenov commented on #22874
ANTLR is pulled transitively via this call https://github.com/google/cel-cpp/blob/master/bazel/deps.bzl#L70. I thought we had some verification steps that listed and compared all transitive dependencies? Maybe it's because ANTLR is a JAR file?

[2022-09-26 18:22] wrowe commented on #15411
Since there is current interest in this topic, and we are reassessing whether CNCF the organization now has this capacity for signing or would be interested in contracting it out, reopening for the time being.

[2022-09-26 18:25] wrowe commented on #14076
Please note, signing a "package", e.g. a source or binary tarball/zip file/docker image, doesn't intersect at all with Windows "Code Signing", these are two different and distinct topics. Just noting here that these need to be resolved independently. https://github.com/envoyproxy/envoy/issues/15411

[2022-09-26 18:35] wrowe commented on #15411
There are a host of questions about signed packages. Package signing isn't at all related to Windows Code Signing. This needs to be handled 100% independently (and Windows builders might also appreciate signed source packages just as on linux.)

One space the CNCF has wanted code signing is device drivers or code running at kernel layer (where this is actually close to an absolute requirement), bu

[2022-09-26 18:36] pthakkar-tc opened #23254 "How can I use envoy with consul for service discovery"
*Title*: Envoy with consul for service discovery

*Description*:
I would like to know how I can make envoy work with consul. We use hashicorp products and services are exposed to consul service discovery. Please share if there is any example I can refer to.

Thanks

[2022-09-26 19:18] #23152 closed

[2022-09-27 01:49] daixiang0 commented on #23238
Do you use main HEAD code or a specific version? Could you try `bazel build <the failed target>` directly to see the detailed error?

[2022-09-27 01:51] daixiang0 commented on #23239
I think it is the root cause.

/cc @lizan

[2022-09-27 01:52] #22944 closed

[2022-09-27 02:19] soulxu commented on #23224
@Gaurav0411GitHub there is a similar question https://github.com/envoyproxy/envoy/issues/23200#issuecomment-1254464926, and there are similar config you can reference

[2022-09-27 02:19] StarryVae opened #23256 "AccessLog support unix domain socket"
*Title*: AccessLog support unix domain socket

*Description*:
In some scenarios, accesslog may be exported not only to standard output and files, but also to log collection tools via uds.

[2022-09-27 02:28] wbpcode commented on #23254
To achieve this, it's necessary for xDS server to bridge the consul. This may be as a ref https://github.com/istio-ecosystem/consul-mcp

[2022-09-27 03:04] wbpcode commented on #23256
cc @mattklein123

[2022-09-27 03:29] wbpcode commented on #23239
related to #23238

[2022-09-27 03:43] wbpcode commented on #23222
If `strip_matching_host_port` or `strip_any_host_port` are set to `true` in your config?

[2022-09-27 03:53] wbpcode commented on #23213
Then how to handle the status set by active health checker or outlier detection? 🤔

[2022-09-27 06:15] dio opened #23258 "Remove `mprotect()/rwx`-related patch entry from `bazel/v8.patch`"
A patch is introduced by https://github.com/envoyproxy/envoy/pull/23257 to fix  `MemoryAllocator::PartialFreeMemory()` on v8 `10.4.132.18` (https://github.com/envoyproxy/envoy/blob/ad800292a630c273fb548ac6d320522ffdbd2a8a/bazel/repository_locations.bzl#L1053). See https://github.com/envoyproxy/envoy/issues/23243 for more details.

That patch is copied from https://chromium-review.googlesource.com/

[2022-09-27 07:01] dkeysil commented on #3023
It must be prioritized.

How can you use an external authenticator without a cache. This reduces performance too much.

[2022-09-27 10:05] Gaurav0411GitHub commented on #23224
Thanks for our support,
Please give me an sample code to set socket_options with value of istio.

[2022-09-27 10:34] praveenchandna commented on #23222
[envoy_config.zip](https://github.com/envoyproxy/envoy/files/9654596/envoy_config.zip)
Please finds the attached config file.

[2022-09-27 11:16] soulxu commented on #23224
Sorry, I'm not familiar with Istio, you could ask that in the istio community.

[2022-09-27 11:41] slahirucd7 opened #23260 "Customised time-zone format support for Envoy Proxy logs"
*Title*: *Enable envoy proxy to provide logs in customised (user preferred time zone format)*

*Description*:

Currently Envoy proxy supports `UTC time format` and the `ISO 8601 time zone format` only. Users of the envoy proxy cannot obtain the logs in their preferred time zone format. This becomes a necessary and  important feature when we are using the Envoy Proxy with other components.
(Ex: ano

[2022-09-27 12:42] alyssawilk commented on #23221
I think we'd need more detail to be of help debugging.  If you check out the flow control docs (https://www.envoyproxy.io/docs/envoy/latest/faq/configuration/flow_control) there's no expectation of any changes to Envoy's normal flow until buffers back up.

"the client don't receives the WINDOW_UPDATE frames that should stop the client from sending more data."
AFIK the key is when buffers back up,

[2022-09-27 14:31] #23206 closed

[2022-09-27 14:40] uglycow opened #23262 "envoy_apply_resources_failed vhds: only 'DELTA_GRPC' is supported as an api_type"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *envoy_apply_resources_failed  vhds: only 'DELTA_GRPC' is supported as an api_type*

*Description*:

[code]

Then, we use rds to get RouteConfiguration with vhds con

[2022-09-27 14:47] phlax commented on #23239
rules_python provides the python toolchain i think https://github.com/bazelbuild/rules_python/blob/main/python/versions.bzl#L120

im a bit confused as to what exactly is failing

[2022-09-27 14:47] fabiomnk commented on #23221
I'm looking at the docs but seems that the only 2 configurations that are not present in my configuration are the following:
codec_type: HTTP2, i'll try to configure it in the envoyfilter
per_connection_buffer_limit_bytes: 1024 which should be defaulted to 1024.

speaking of buffers i tried to monitor this metrics  (envoy_cluster_upstream_cx_rx_bytes_buffered and envoy_cluster_upstream_cx_tx_bytes

[2022-09-27 14:55] mattklein123 commented on #23256
Is the feature request here to basically write to a UDS instead of a file but otherwise everything works the same? If so that sounds reasonable to me.

[2022-09-27 15:12] markdroth commented on #23213
I would think that an active health checker failure or an outlier detection ejection would map to the EDS `UNHEALTHY` state.

[2022-09-27 16:15] uglycow opened #23263 "envoy doesn't send vhds request to xds"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *envoy doesn't send vhds request to xds*

*Description*:

*Repro steps*:

required to reproduce the bug.

gathers a tarball with debug logs, config and the following

[2022-09-27 16:22] sanjaypujare commented on #23213
or may be maintain 2 status fields as @wbpcode suggested?

[2022-09-27 17:35] yanavlasov commented on #23263
Do you also use RDS or SRDS? I think the on-demand does not work when both are in use: https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/on_demand_updates_filter

[2022-09-27 17:50] yanavlasov commented on #23260
@snowp @dio for any comments

[2022-09-27 20:43] mbana commented on #22678
@kyessenov, hello, please keep this open until a fix arrives for it.

Many thanks.

[2022-09-27 21:11] markdroth commented on #23213
I think having two status fields would make the API more complicated, because then we would have to expose a way of controlling whether a given host will be used as an override based on the value of both fields.

The only status that is currently exposed in the xDS API is the EDS health status enum, and that enum is capable of representing the health states that Envoy drives from places other than

[2022-09-27 22:54] dakshinai commented on #6426
Hi, any updates or pointers for the DynamoDB filter example?

[2022-09-28 00:07] #22789 closed

[2022-09-28 00:20] xjtian opened #23266 "Envoy now rejecting header values with trailing whitespace"
*After upgrading nghttp2 to 1.49.0 (#23014), Envoy is now rejecting header values with trailing whitespace*

*Description*:

nghttp2 v1.49.0 rejects trailing whitespaces in header values to follow validation introduced in [RFC9113](https://datatracker.ietf.org/doc/html/rfc9113#section-8.2.1). This is newly introduced behavior which can break existing deployments of Envoy using HTTP2.

At Lyft, the

[2022-09-28 00:25] mattklein123 commented on #23266
Thanks for debugging. Cross reference https://github.com/nghttp2/nghttp2/pull/1792

cc @alyssawilk @RyanTheOptimist @yanavlasov I think we need to default to the previous behavior?

[2022-09-28 00:56] uglycow commented on #23263
@yanavlasov  at first, we are using rds, but we get ["envoy_apply_resources_failed vhds: only 'DELTA_GRPC' is supported as an api_type"](https://github.com/envoyproxy/envoy/issues/23262).
so we remove the rds and found that the vhds request is not sent.

[2022-09-28 01:34] StarryVae commented on #23256
yes, i will submit a pr.

[2022-09-28 01:56] wbpcode opened #23269 "network/http filter for ip restriction"
*Title*: *network/http filter for ip restriction*

*Description*:

Could we add a simple network/http filter for ip restriction? It's a common feature. But seems that we still don't have it for now.

[2022-09-28 02:04] wbpcode commented on #23243
cc @PiotrSikora

[2022-09-28 03:16] dio commented on #23258
Seems like we are aiming for 10.7: https://github.com/envoyproxy/envoy/pull/23257#pullrequestreview-1122924600

[2022-09-28 03:20] dio commented on #23260
Not sure about this, but from @mattklein123 https://github.com/envoyproxy/envoy/issues/3546#issuecomment-394786436 :). Would love to see Matt's opinion on this too.

[2022-09-28 03:23] kyessenov commented on #23269
Would network RBAC satisfy the requirement? It supports a list of CIDR ranges or the unified matcher with LcTrie CIDR matcher.

[2022-09-28 03:36] uglycow commented on #23262
seems like envoy only send vhds request when we use rud to get a RouteConfiguration through rds.
[code]

if we skip rds and configure vhds statically, envoy won't do anything for vhds.  requestVirtualHostsUpdate is an empty method.
[code]

[2022-09-28 03:38] uglycow commented on #23263
@yanavlasov
seems like envoy only send vhds request when we use rud to get a RouteConfiguration through rds.
[code]

if we skip rds and configure vhds statically, envoy won't do anything for vhds.  requestVirtualHostsUpdate is an empty method.
[code]

does anybody know if this is a bug or expected?

[2022-09-28 03:46] ramaraochavali commented on #17287
@yanavlasov @alyssawilk Sorry for commenting on old issue.

For a streaming GRPC service, we are hitting a connection reset after 512 MB because of flow control. We set initial stream window size as 64 KiB and connection window size as 1MB. We see **outbound flood metrics** getting incremented whenever the connection is closed. The max outbound frames is set to default 10000 We can increase that l

[2022-09-28 04:10] wbpcode commented on #23269
I will check it. Thanks. Although it's a little weird that using rbac to achieve ip restriction 🤣

[2022-09-28 08:04] fmcato commented on #22727
Facing the same issue with an implementation that uses vert.x grpc (Java).

Google's grpc client correctly closes the stream regularly. Envoy's grpc client cancels the stream on each HTTP request cycle, which is seen as an error on the GRPC server part.

[2022-09-28 08:04] github-actions[bot] opened #23271 "Newer release available `aspect_bazel_lib`: v1.12.1 (current: v1.12.0)"
Package Name: aspect_bazel_lib@1.12.0
Current Version: v1.12.0@2022-09-16
Available Version: v1.12.1@2022-09-27
Upstream releases: https://github.com/aspect-build/bazel-lib/releases

[2022-09-28 08:04] github-actions[bot] opened #23272 "Newer release available `com_github_google_flatbuffers`: v22.9.24 (current: v2.0.8)"
Package Name: com_github_google_flatbuffers@2.0.8
Current Version: v2.0.8@2022-08-30
Available Version: v22.9.24@2022-09-27
Upstream releases: https://github.com/google/flatbuffers/releases

[2022-09-28 08:04] github-actions[bot] opened #23273 "Newer release available `com_github_grpc_grpc`: v1.49.1 (current: v1.49.0)"
Package Name: com_github_grpc_grpc@1.49.0
Current Version: v1.49.0@2022-09-14
Available Version: v1.49.1@2022-09-22
Upstream releases: https://github.com/grpc/grpc/releases

[2022-09-28 08:04] #23125 closed

[2022-09-28 08:04] github-actions[bot] opened #23274 "Newer release available `com_github_nghttp2_nghttp2`: v1.50.0 (current: v1.49.0)"
Package Name: com_github_nghttp2_nghttp2@1.49.0
Current Version: v1.49.0@2022-08-22
Available Version: v1.50.0@2022-09-21
Upstream releases: https://github.com/nghttp2/nghttp2/releases

[2022-09-28 08:04] github-actions[bot] opened #23275 "Newer release available `com_github_wasmtime`: v1.0.1 (current: v1.0.0)"
Package Name: com_github_wasmtime@1.0.0
Current Version: v1.0.0@2022-09-20
Available Version: v1.0.1@2022-09-26
Upstream releases: https://github.com/bytecodealliance/wasmtime/releases

[2022-09-28 08:05] github-actions[bot] opened #23276 "Newer release available `opencensus_proto`: v0.4.1 (current: v0.3.0)"
Package Name: opencensus_proto@0.3.0
Current Version: v0.3.0@2022-09-22
Available Version: v0.4.1@2022-09-23
Upstream releases: https://github.com/census-instrumentation/opencensus-proto/releases

[2022-09-28 08:05] github-actions[bot] opened #23277 "Newer release available `rules_python`: 0.13.0 (current: 0.12.0)"
Package Name: rules_python@0.12.0
Current Version: 0.12.0@2022-08-29
Available Version: 0.13.0@2022-09-25
Upstream releases: https://github.com/bazelbuild/rules_python/releases

[2022-09-28 08:05] #23102 closed

[2022-09-28 08:15] fiadliel commented on #23215
I'm just looking at this for a separate issue. The skew is supposed to allow a variance due to different clock-reported times (e.g. no NTP). e.g. your JWT token expires at 12:00, but you call a service whose clock is 1 minute fast (12:01); a skew allows for this JWT token to still be accepted.

The issue (I think) in jwt_authn is that the time check for the JWT token cache is done by jwt_verify_li

[2022-09-28 08:28] fiadliel opened #23278 "gcp_authn: Cache hands out expired JWT tokens"
*Description*:
Occasionally we see periods of time where all requests to a particular backend, authenticated using gcp_authn, are considered invalid. The period of time seems to be bursts of less than 60 seconds. On the backend, it reports a 401 error, the text including "The request was not authorized to invoke this service."

This kind of error is usually caused either by an invalid audience, or

[2022-09-28 10:45] phlax commented on #22875
hi @krupaJari - apologies i missed your response - is this something you would still like to look at?

[2022-09-28 10:48] phlax commented on #22842
@gsalisbury if you were able to add a docs PR that would be great, if not im happy to follow up

[2022-09-28 10:48] phlax commented on #22842
arrggh - just saw your PR - apologies for noise

[2022-09-28 11:44] Gaurav0411GitHub commented on #23224
ok no issues, I will ask the exact values from istio community
Could you please confirm me, Can we add socket_options in clusters also?
if yes please give me an example.

[2022-09-28 11:53] soulxu commented on #23224
You can set that at cluster's upstream_bind_config https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/address.proto#envoy-v3-api-msg-config-core-v3-bindconfig, there is socket_options field, which is same with the listener one.

[2022-09-28 12:47] Gaurav0411GitHub commented on #23224
ok Thanks

[2022-09-28 14:47] mattklein123 commented on #23260
I still do not recommend writing access logs in anything other than UTC, but I don't have an objection to someone doing the work to make it customizable, so we can mark this help wanted.

[2022-09-28 14:49] #23266 closed

[2022-09-28 15:18] kihaloul opened #23283 "Envoy performance degradation with recent releases"
*Title*: *Envoy performance degradation with recent releases*

*Description*:
It appears that the CPU usage of envoy increases in recent versions. I have performed certain measurements which show that v1.23.1 requires ~20% more CPU to serve the same request rate, compared to v1.17.3.

![image](https://user-images.githubusercontent.com/9484101/192816182-ecbd988a-d6f4-4993-98d9-ef859057cb7e.png)

Me

[2022-09-28 15:45] Sachin-M-Desai opened #23284 "Performance when ext_authz enabled with/without endpoint"
*Title*: Performance when ext_authz enabled

*Description*:

However, when the ext_authz endpoint is down/unreachable, envoy performance shouldn't drop as much as in above case.

Can envoy perform endpoint reach-ability status check so that performance isnt compromised? If endpoint isnt reachable after, say keepalives fail, ext_authz need not be tried.

Please do suggest any relevant configs in th

[2022-09-28 16:51] yanavlasov commented on #23284
Do you have active health check enabled for the ext_authz service?

[2022-09-28 17:02] ameily opened #23286 "uhv: h2: web socket support"
*Title*: uhv: h2: web socket support

*Description*:
The UHV component does not currently support web sockets, specifically the [extended `CONNECT` mechanism](https://www.rfc-editor.org/rfc/rfc8441). After implementing web socket support, the H2 unit and integration tests will need to be reviewed to see which ones can be enabled when using UHV.

[2022-09-28 17:07] yanavlasov commented on #23283
CPU profile comparison would help. We are not aware of any specific issues.

[2022-09-28 17:11] ameily opened #23287 "uhv: determine and implement HTTP 0.9 and 1.0 support"
*Title*: uhv: determine and implement HTTP 0.9 and 1.0 support

*Description*:
The current UHV H1 component only implements HTTP/1.1, not 0.9 and 1.0. Determine the level of support for legacy H1 protocols and implement the validations within UHV. Once implemented, review the disabled tests to see which ones can be enabled when UHV is active.

[2022-09-28 17:14] yanavlasov commented on #23263
@adisuissa @htuch for comments

[2022-09-28 17:19] ameily opened #23288 "uhv: validate upstream responses"
*Title*: uhv: validate upstream responses

*Description*:
The UHV component currently only validates requests and not responses from upstream. Add the plumbing necessary to validate upstream responses using UHV.

[2022-09-28 17:19] ameily commented on #23288
@yanavlasov I believe you are currently working on this

[2022-09-28 17:29] #22766 closed

[2022-09-28 17:57] ameily opened #23289 "uhv: unify Transfer-Encoding validation behavior"
*Title*: uhv: unify Transfer-Encoding validation behavior

*Description*:
This issue is based on the discussion in the initial [UHV PR](https://github.com/envoyproxy/envoy/pull/22537#discussion_r969784837). Essentially, the way `Transfer-Encoding` is validated cannot be mirrored exactly within UHV because of how http-parser interacts with the H1 codec. The validation behavior should stay consisten

[2022-09-28 18:04] ameily opened #23290 "uhv: detect or add tests for duplicate headers"
*Title*: uhv: detect or add tests for duplicate headers

*Description*:
UHV is currently unable to detect when duplicate headers are sent because the codec will have concatenated duplicate header values into a list by the time UHV is run. The UHV component should either be able to detect duplicate headers, to enforce headers that can only be specified once, or additional unit tests should be added

[2022-09-28 18:23] ameily opened #23291 "uhv: support JSON-encoded URLs for gRPC requests"
*Title*: uhv: support JSON-encoded URLs for gRPC requests

*Description*:
gRPC may JSON encoded data within the URL query parameter. UHV follows RFC guidance for URL and path validation, which would reject valid JSON encoded query parameters. For example:

- **UHV Allowed:** `/shelf?shelf.search%5Bdecoded%5D=Google`
- **UHV Rejected:** `/shelf?shelf.search[decoded]=Google`

See test `GrpcJsonTrans

[2022-09-28 19:02] klarose commented on #22996
I have also run into this issue a few times. That said, where it differs for me is in that it seems to work fine with any utf-8 characters. e.g. I sent the cookie character: :cookie: using its utf-8 encoding: \xF0\x9F\x8D\xAA

This aligns with my reading of the protobuf code, and with the error message. I'm not sure why the ñ is somehow breaking it. Is it perhaps not encoded as utf-8?

Either way,

[2022-09-28 21:16] pauldthomson commented on #23215
OK, maybe there's an inherent assumption here that we always want the client to be the first one to notice the token is expired, i.e. we want the client to be able to proactively re-issue a token rather than get a `401` or something back and _then_ refresh its token. In which case adding the +/- 60s buffer makes sense.

I have see situations where a client either proactively refreshes tokens with

[2022-09-28 22:48] gsalisbury commented on #22842
@phlax no worries, PR is opened against main now.

[2022-09-28 23:57] #22591 closed

[2022-09-29 01:46] #23243 closed

[2022-09-29 03:20] YvesZHI opened #23300 "How to hot restart the Envoy with docker-compose"
I'm using the Envoy as a gateway of my backend web services. I deployed the Envoy with the docker mode. I used the `docker-compose` to help me. Here is my `docker-compose.yml` file:
[code]
Of source, I have a config file `envoy.yaml` too.

Now I can run the Envoy with the command `docker-compose up -d`.

However, I don't know how to hot restart my envoy. I knew that we had a python wrapper: https:

[2022-09-29 03:20] jeremybaumont opened #23301 "How to retry ext_authz gRPC internal request when we retry on a upstream cluster"
*Title*: How to retry ext_authz gRPC internal request when we retry on a upstream cluster

*Description*:

When I set a retry_policy on a virtual host (or route) to an upstream cluster with an _ext_authz_ filter, I see the retry requests only for the upstream cluster. I would like for each retry that envoy call/retry also the gRPC service of the _ext_authz_ filter. We want that the retries on the

[2022-09-29 03:53] StarryVae opened #23302 "ratelimit supports query parameter match"
*Title*: ratelimit supports query parameter match

*Description*:
is it reasonable for ratelimit to support query parameter match?

[2022-09-29 03:53] StarryVae commented on #23302
cc @wbpcode @mattklein123

[2022-09-29 04:37] INT2ECALL opened #23303 "how to decode grpc in envoy wasm"
hello,i am using envoy wasm to get grpc stream ,but grpc is using protobuf ,not plain text ,can i decode it using envoy plugin

[2022-09-29 04:58] wbpcode commented on #22845
I almost forget this. I will create a minor pr for this quickly.

[2022-09-29 06:25] wbpcode commented on #22845
Hmmm, I found a new problem.

We deprecated `append` of `HeaderValueOption` in the #22723 and use `append_action` (an enum) as alternative.
The default value of `append_action` enum is `APPEND_IF_EXISTS_OR_ADD`. It behaves same as not setting `append`.

However, ext_proc/ext_authz have error default value for `append` field. If we remove `append` finally, there is no way to distinguish between `no

[2022-09-29 06:35] wbpcode commented on #22845
Or we need to deprecate current `HeaderValueOption` and create a new option that include a meaningless default enum value.

Then different extensions could apply different default behaviors.
😞

[2022-09-29 06:51] LuyaoZhong commented on #19308
still working on this

[2022-09-29 07:56] bb010g commented on #22863
no stalebot

[2022-09-29 08:04] #23274 closed

[2022-09-29 08:51] wbpcode commented on #23302
If new matcher is necessary, should we just use xds common matcher here?

[2022-09-29 09:24] saltbo commented on #23300
`docker-compose restart`

[2022-09-29 09:33] saltbo commented on #23300
if you want to use the `hot-restarter.py`, you should mount it and use the docker-comose `command` to run `hot-restarter.py start_envoy.sh`

[2022-09-29 10:05] uglycow commented on #23262
https://github.com/envoyproxy/envoy/pull/13463  seems meant to fix this, but not merged.

[2022-09-29 10:44] Alexcei88 opened #23304 "Add Clock skew parameter in OAuth2 filter"
I am using Envoy with established OAuth2 filter to protect my backend.

On Envoy the expiration time of cookies calculates as **the current time plus token lifetime.**
Sometimes the local time on Envoy machine and on backend machine differs on 1-2 seconds. So I get following case:

1. Request is received by Envoy, token and cookies are actual on Envoy machine
2. Request is received by my backend.

[2022-09-29 10:49] Alexcei88 commented on #23304
I see [JWT Authentication](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/jwt_authn/v3/config.proto) already have such parameter(`clock_skew_seconds`). I would like to add in OAuth2 filter.

[2022-09-29 13:17] DanApostol opened #23306 "Missing distinct oauth filter logging option"
Cannot configure logging level for Oauth filter

When starting the envoy using --component-log-level option, you cannot set a distinct value for oauth filter.

Two fixes needed:

- add oauth value in Enum in logger.h in the list
#define ALL_LOGGER_IDS(FUNCTION)

- configure new value (oauth instead upstream) in oauth_client.h in the line:
class OAuth2ClientImpl : public OAuth2Client, Logger::Logga

[2022-09-29 14:17] yanavlasov commented on #23303
@PiotrSikora for any suggestions

You may also try asking in envoy-dev@googlegroups.com or envoy-dev slack channel.

[2022-09-29 14:25] yanavlasov commented on #23301
How do you specify ext_auth service? You can configure retries for both envoy_grpc and google_grpc cases.

[2022-09-29 14:33] yanavlasov commented on #23262
@adisuissa @htuch for comments.

[2022-09-29 14:46] Rhavel17 opened #23309 "FTP Support"
Does Envoy currently support FTP? And if not, are there plans on supporting this?

[2022-09-29 14:52] #8097 closed

[2022-09-29 15:48] cheedallarajesh opened #23310 "error initializing configuration '/etc/envoy.yaml': Protobuf message (type envoy.config.bootstrap.v3.Bootstrap reason INVALID_ARGUMENT:(static_resources.listeners[0].filter_chains) tls_context: Cannot find field.) has unknown fields"
*Title*: *filter_chains tls_context: Cannot find field*

*Description*:

I built docker image but when running the container, I ran into below error

[code]

[*Relevant Links*:]

[2022-09-29 17:48] #23128 closed

[2022-09-29 19:27] ameily opened #23313 "uhv: config option for mixed case scheme"
*Title*: uhv: config option for mixed case scheme

*Description*:
The UHV component currently enforces that the scheme must be lowercase `http` or `https`. We should add a configuration option that changes this behavior to allow either scheme to be mixed case.

[2022-09-29 19:29] ameily opened #23314 "uhv: valdidate IPv6 literals"
*Title*: uhv: validate IPv6 literals

*Description*:
The UHV component currently detects IPv6 addresses and verifies that they only contain valid characters (hex and colon characters), but does not validate the actual syntax. Update UHV to validate IPv6 addresses completely. This is related to #22859, but specific to UHV.

[2022-09-29 19:31] ameily opened #23315 "uhv: validate multiple Content-Length values"
*Title*: uhv: validate multiple Content-Length values

*Description*:
The `Content-Length` header could contain multiple values, which UHV would currently reject because UHV validates that the header is a single `uint64_t` value. UHV should detect multiple values and validate all of them based on the active configuration.

[2022-09-29 23:26] cheedallarajesh commented on #23310
Resolved issue after upgrading envoy.yaml as per version documentation [here](https://www.envoyproxy.io/docs/envoy/latest/start/quick-start/configuration-static#static-resources)

[2022-09-29 23:26] #23310 closed

[2022-09-30 01:05] #20790 closed, assigned to adisuissa

[2022-09-30 01:16] htuch commented on #23263
Yeah, looks like this was never implemented for static VHDS configuration, I would mark this as an enhancement and help wanted.

[2022-09-30 01:24] htuch commented on #23262
Paging #13463 back in, I think the key point is https://github.com/envoyproxy/envoy/pull/13463#issuecomment-707876654. @Agent-Tao any thoughts here?

[2022-09-30 01:27] JuniorHsu opened #23322 "Thrift Payload-To-Metadata Filter"
*Title*: a filter to set metadata from a thrift request field

*Description*:

This filter is configured with `request_rules` that will be matched against requests. A `field_selector` of a rule represents the head of a linked list, each node of the linked list has a `name` for logging and an `id` for matching. The `field_selector` is tied to a payload field when the linked list corresponds to a do

[2022-09-30 01:35] INT2ECALL commented on #23303
@yanavlasov @timperrett @pjjw @mkbehr help

[2022-09-30 03:31] wbpcode commented on #23309
Nope. Although it would be great to add an ftp proxy to envoy.

We have an internal impl for this. But not sure if it's ok to contribute it to community.

[2022-09-30 03:50] wbpcode commented on #23303
complete proto is necessary. You can read the code of `grpc_json_transcoder` filter which do the translation between grpc and json and could be a ref.

[2022-09-30 03:59] INT2ECALL commented on #23303
thank for reply,but i want to decode raw grpc ,i do not have any proto file,this like protoc decode_raw < text.bin

decode data like blow:

1:hello world
2.test

[2022-09-30 04:35] wbpcode commented on #23303
Then maybe you can write a wasm extension that implement similar feature of `protoc`. Or you can just log all the data to offline files and decode it with `protoc`.

[2022-09-30 04:41] #22755 closed

[2022-09-30 04:41] #22785 closed

[2022-09-30 04:44] INT2ECALL commented on #23303
thank

[2022-09-30 04:52] wbpcode commented on #23309
We can try to add an ftp proxy to `contrib` first.

[2022-09-30 04:52] wbpcode commented on #23309
/assign

[2022-09-30 04:58] murphyjacob4 commented on #22906
The main thread handles admin port traffic:
`envoy_listener_admin_main_thread_downstream_cx_total{} 2`

[2022-09-30 07:06] wbpcode commented on #23058
see #23195

[2022-09-30 07:06] #23058 closed

[2022-09-30 08:07] github-actions[bot] opened #23324 "Newer release available `com_envoyproxy_protoc_gen_validate`: v0.6.12 (current: v0.6.7)"
Package Name: com_envoyproxy_protoc_gen_validate@0.6.7
Current Version: v0.6.7@2022-03-04
Available Version: v0.6.12@2022-09-29
Upstream releases: https://github.com/envoyproxy/protoc-gen-validate/releases

[2022-09-30 08:07] #23123 closed

[2022-09-30 08:07] github-actions[bot] opened #23325 "Newer release available `com_github_google_flatbuffers`: v22.9.29 (current: v2.0.8)"
Package Name: com_github_google_flatbuffers@2.0.8
Current Version: v2.0.8@2022-08-30
Available Version: v22.9.29@2022-09-30
Upstream releases: https://github.com/google/flatbuffers/releases

[2022-09-30 08:07] #23272 closed

[2022-09-30 08:07] github-actions[bot] opened #23326 "Newer release available `com_google_protobuf`: v21.7 (current: v3.20.1)"
Package Name: com_google_protobuf@3.20.1
Current Version: v3.20.1@2022-04-22
Available Version: v21.7@2022-09-29
Upstream releases: https://github.com/protocolbuffers/protobuf/releases

[2022-09-30 08:07] #23126 closed

[2022-09-30 09:56] wbpcode opened #23327 "split out HeaderString for common usage"
*Title*: *split out HeaderString for common usage*

*Description*:

The HeaderString is heavily optimized for performance and unified the string reference and owned string.
It would be great to split it out from http for common usage.

[2022-09-30 12:21] jhsbeat opened #23328 "Starting slow_start_window after upstream cluster active health check okay"
*Title*: *Starting slow_start_window after upstream cluster active health check okay*

*Pre-Question*
- Is the [host.creationTime()](https://github.com/envoyproxy/envoy/blob/main/source/common/upstream/load_balancer_impl.cc#L996) value the same with Envoy ready time (i.e., readiness probe succeed on k8s)

*Description*:

*Relevant Links*

[2022-09-30 13:41] yanavlasov commented on #23328
@snowp @zuercher for comments.

[2022-09-30 13:43] yanavlasov commented on #23327
Please provide more details on how you'd like to split it.

[2022-09-30 15:47] wbpcode commented on #23327
Now, the `HeaderString` is part of `Http::HeaderMap` (and in the http code tree), I think we could just move it to the `envoy/common` for common usage.

[2022-09-30 15:51] wbpcode commented on #23327
It's pretty simple update, and I can create a minor PR to achieve it.
The community can decide to accept it or not after a very quick review.

[2022-09-30 16:18] #22555 closed

[2022-09-30 17:04] rgs1 commented on #3929
I think this can safely be closed at this point, given it's been running at scale pretty nicely for a couple of years.

cc: @fishcakez

[2022-09-30 17:04] #3929 closed

[2022-09-30 21:52] junpengl commented on #16384
I am going to work on this issue and submit a PR soon. @jmarantz can you help reopen this issue?

[2022-09-30 22:01] junpengl commented on #16384
I am going to replace all the dots in the gRPC service name to underscore and re-emit the metrics. Currently I emit both the original metrics (with only dots) and the one with underscore in our internal fork so we can migrate from the existing metrics. For the change here I am planning to just emit the metrics with underscore to avoid emitting duplicate metrics. And the change will only be applied

[2022-09-30 22:10] jmarantz commented on #16384
sg. CC @markdroth for any grpc-related concerns but I'm guessing this doesn't have any functional impact, just on how the stats look.

Is it possible some gRPC service name might be "foo.bar" and another "foo_bar" and they will become merged due to this?

[2022-09-30 22:26] junpengl commented on #16384
It is possible and I don't have a good way to avoid that. I can replace only selected services defined by users so they can skip the potential collision case. But then we are not solving the original problem for them they might well just not using this feature at all.

[2022-09-30 22:30] jmarantz commented on #16384
this is probably ok; might need to document it tho.

[2022-09-30 23:59] vikaschoudhary16 commented on #22793
should this issue be closed since 22895 is merged?

[2022-10-01 00:06] #22752 closed

[2022-10-01 00:06] #22814 closed

[2022-10-01 00:17] asaha123 commented on #23119
@phlax PR is now created!

[2022-10-01 06:26] ramaraochavali commented on #17287
@alyssawilk @yanavlasov any thoughts?

[2022-10-01 06:51] dio commented on #23258
@PiotrSikora I tried to upgrade v8, however, I stumbled upon: https://chromium-review.googlesource.com/c/v8/v8/+/3834031. Do you think we need to have this enabled by default too (hence reverting that commit) + adding a flag to enable `V8_USE_ZLIB`?

Note: zlib is enabled by default in 10.7-lkgr: https://github.com/v8/v8/blob/6c8b357a84847a479cd329478522feefc1c3195a/BUILD.gn#L373-L376.

[2022-10-01 10:13] Sitin opened #23339 "Envoy 1.17-1.23 unable to start on Raspberry"
Envoy crashes on RP 4 due to  `tcmalloc` allocation error
===========================================

I am trying to run Envoy on RP4 and 64bit Raspberry Pi OS.

Envoy `1.20` crashes with:

[code]

Envoy `1.23` crashes with:

[code]

Tested also on envoy `1.17`, `1.18`, `1.19`, and `1.22` (it seems that `tcmalloc` was introduced in `1.17`). Same behaviour.

How to reproduce:

In Docker:

[code]

[2022-10-01 10:29] phlax commented on #23339
does it work if you just run with the container and not in the host environment?

[2022-10-01 12:01] #21953 closed

[2022-10-01 19:04] Sitin commented on #23339
@phlax, both doesn't work for me.

I've actually tried `docker`, `podman`, and  local run. Nothing work.

[2022-10-01 19:57] Sitin commented on #23339
I'll try to build with `--define tcmalloc=disabled` (I'll try containerised approach) and see whether it will work.

[2022-10-02 00:05] #22838 closed

[2022-10-02 03:52] measutosh commented on #22875
HI @phlax , I would like to work on this issue, could you plaese provide the file path which needs to be modified

[2022-10-02 04:04] measutosh commented on #19634
Hi @phlax, I can pick this up and we can discuss about breaking this issue into pieces, I will close them one by one.

And I am up for these kind of small doc fixes, so you can tag me in these kind of issues, I will solve and raise MR

[2022-10-03 02:34] suniltheta commented on #22479
bump

[2022-10-03 06:13] PiotrSikora commented on #23258
@dio you can ignore it, snapshot compression was never enabled in the Bazel build anyway. Did you run into any issues because of that change?

[2022-10-03 06:23] dio commented on #23258
@PiotrSikora nope. I asked since previously we patched zlib header path.

No. Without zlib we're good. Thanks!

[2022-10-03 08:17] sergey-safarov opened #23340 "cannot build com_google_absl on Fedora:37"
I building envoy on Fedora 37 using command
[code]
But getting error
[code]

Looks like com_google_absl compile option overwrites build options
[code]

Could you fix envoy build on Fedora 37.

[2022-10-03 10:59] phlax commented on #22875
Looking through its not immediately clear which pages should/not have their TOCs alphabeticised - some definitely do tho

Mostly i think its the rst files under the `docs/root/api-v3` path - eg `docs/root/api-v3/config/config.rst` is particularly badly sorted

[2022-10-03 13:48] sergey-safarov opened #23342 "cannot build org_brotli on Fedora:37"
Cannot compile org_brotli on fresh Fedora 37

[code]

Full compile org_brotli build log
[code]

[2022-10-03 15:20] markdroth commented on #16384
I don't have any gRPC-specific concerns about this.

I agree that the potential naming conflict is a problem, but I don't know enough about the Envoy stats framework to suggest an alternative.

[2022-10-03 17:00] #22842 closed

[2022-10-03 17:06] benjle commented on #22926
This is still a problem. I know it was tagged with grpc-transcoding, but this seems to be unique to Envoy, though it overlaps with grpc.

[2022-10-03 17:06] alyssawilk opened #23348 "improved runtime guard checks"
right now runtime guard checks appear to only work if the guard is mentioned in the first change.  If one adds envoy.reloadable_features.foo

[code]

will pass but

[code]

appears to fail

[2022-10-03 17:07] alyssawilk commented on #23348
cc @phlax

[2022-10-03 17:10] phlax commented on #23348
hmm - i wasnt sure if we allowed multiple changes for an entry - im not sure its handled correctly

there was an issue that came up during the last release so i was going to add linting to prevent it (cf #22222 )

[2022-10-03 17:12] phlax commented on #23348
that said - im not opposed to it working this way so maybe its easier to fix that than add linting

[2022-10-03 17:17] qiwzhang commented on #22926
Sorry for the late response.    As I summarized the issue:

For an integer field type specified in url_template `/v1/{int_field}`, and incoming request has wrong type with `/v1/string`

* if it doesn't have request body,  grpc_transcoder did not return error, instead,  it defaults to 0 in the proto message field as `{ int_field: 0 }`
* If it has a body to over-write,  grpc transcoder returns an er

[2022-10-03 17:19] benjle commented on #22926
No worries, just wanted to make sure the bug didn't auto-close.

Yes that's correct. The strange part of that is the body doesn't specify any parameters, so it shouldn't have any impact on whether the URL-encoded parameters are validated

[2022-10-03 18:21] skbergam opened #23351 "Limit to X requests/sec PER CUSTOMER using LocalRateLimit"
*Title*: *Limit to X requests/sec PER CUSTOMER using LocalRateLimit*

*Description*:

Can we add support to the LocalRateLimit feature for specifying a blanket limit for each customer in this way? In my case, I can trust round robin load balancing to evenly distribute, so I'm fine just dividing my limit by the number of nodes and calling it good.

[2022-10-03 20:55] qiwzhang commented on #22966
I will take a look.

[2022-10-03 21:26] qiwzhang commented on #22966
Hmm,  you may have stated the current behavior wrong.   If there is an unknown enum value,  it is rejected.   I added a test case for this [here](https://github.com/envoyproxy/envoy/blob/e3e781d7f9c256ad763feb50d43699388ac9f4e8/test/extensions/filters/http/grpc_json_transcoder/grpc_json_transcoder_integration_test.cc#L447)

If so, you want to a config `ignore_unknown_enum_values` to ignore the wro

[2022-10-03 21:51] ggreenway commented on #23351
cc @mattklein123 @wbpcode

[2022-10-03 21:52] ggreenway commented on #23342
cc @KBaichoo

[2022-10-03 21:57] ggreenway commented on #23340
@keith do you have any cycles to look into this? Is this a general clang-15 issue?

[2022-10-03 21:58] ggreenway commented on #23339
`tcmalloc=disabled` is what I was going to suggest.

[2022-10-03 22:07] JamesXNelson commented on #16867
yikes... we have a bunch of centos 7 customers who could benefit from native installers... many run in sensitive data centers and don't want to install docker...  would _love_ to see this move forward. Is there anything potential contributers can do to help this along?

[2022-10-03 22:12] rlanhellas opened #23352 "Mirror at locality endpoint level"
*Title*: Mirroring in Locality Endpoint level

*Description*:
Nowadays I just found mirror in route level but in my case I need to mirror just one host inside one cluster, to be more specific the LocalityLbEndpoint. In my case I'm deploying a new version only for one host inside cluster and need to mirror it to check if everything is ok before activate this new host in load balancing policy.

[2022-10-03 22:15] JamesXNelson commented on #19978
just fyi, we expect to need to be able to build in centos 7 machines that run in sensitive data centers where docker is not allowed. Would _love_ to see some traction on how to figure this out, so we can either produce working binaries for customers, or give them (as simple as possible) instructions on how they can build it themselves.

[2022-10-03 22:26] kyessenov commented on #23351
This is an often-requested feature for local rate limiting, an ability to specify a "wildcard" bucket instead of "literal" values, e.g. https://github.com/envoyproxy/envoy/issues/19895.

[2022-10-03 22:37] #23352 closed

[2022-10-03 22:50] mattklein123 commented on #16867
cc @phlax can you potentially update this issue with current status? I know this is being worked on.

[2022-10-03 23:01] tabacco opened #23353 "FIPS-compliant builds on dockerhub"
*Title*: Include FIPS-compliant builds on dockerhub

*Description*:

*Relevant Links*
 * https://github.com/envoyproxy/envoy/issues/8107 - This was requested years ago and referred to the now-defunct getenvoy project.

[2022-10-03 23:47] JuniorHsu commented on #21447
this occurs again.

[2022-10-04 00:57] qiwzhang commented on #22966
[Here](https://github.com/grpc-ecosystem/grpc-httpjson-transcoding/blob/master/src/request_message_translator.cc#L41) set `ignore_unknown_fields` as `true` by default.

[Here](https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/util/internal/protostream_objectwriter.h#L131) set `ignore_unknown_enum_values` as `false` by default.

I feel `ignore_unknown_enum_values` is better

[2022-10-04 01:34] 3g0r opened #23355 "How actually proxy works"
How actually proxy works: what is mean in real downstream/upstream tx/rx byte total/buffered metrics.

Hi foks.
I have a simple TCP LB configuration:

[code]

But I don't understand how it is works in real.
I thought that when envoy received a connection it is read some bytes to downstream_buffer and increase `downstream_rx_byte_total` `downstream_rx_byte_buffered` metrics. After downstream_buffer

[2022-10-04 01:46] aadhi0319 commented on #23339
I just wanted to add that I have the same issue on a Raspberry Pi 3 (arm64). I need to run Envoy in a docker container. Is it possible to add the tmalloc=disabled to a docker container?

[2022-10-04 03:27] vikaschoudhary16 commented on #22625
@mbana @marcosrmendezthd If possible, can you please try https://github.com/envoyproxy/envoy/pull/23356?

[2022-10-04 03:47] measutosh commented on #19634
@phlax , couldn't find the slack link in the contribution guideline page, could you please provide that.

[2022-10-04 03:49] measutosh commented on #22875
@phlax , I would love to contribute something atleast, let's connect on slack and get this done

[2022-10-04 05:56] phlax commented on #19634
slack link/s are here https://github.com/envoyproxy/envoy#contact

[2022-10-04 08:03] github-actions[bot] opened #23357 "Newer release available `com_envoyproxy_protoc_gen_validate`: v0.6.13 (current: v0.6.7)"
Package Name: com_envoyproxy_protoc_gen_validate@0.6.7
Current Version: v0.6.7@2022-03-04
Available Version: v0.6.13@2022-10-03
Upstream releases: https://github.com/envoyproxy/protoc-gen-validate/releases

[2022-10-04 08:03] #23324 closed

[2022-10-04 08:03] github-actions[bot] opened #23358 "Newer release available `com_github_datadog_dd_opentracing_cpp`: v1.3.6 (current: v1.2.1)"
Package Name: com_github_datadog_dd_opentracing_cpp@1.2.1
Current Version: v1.2.1@2021-01-27
Available Version: v1.3.6@2022-10-03
Upstream releases: https://github.com/DataDog/dd-opentracing-cpp/releases

[2022-10-04 08:03] #23101 closed

[2022-10-04 08:04] Zheaoli opened #23359 "Build failed on MacOS 13 with Xcode 14.1"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

Build failed on MacOS 13 with Xcode 14.1

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, et

[2022-10-04 09:35] aemaem opened #23360 "ext_authz with HTTP uses path from request"
*Title*: *ext_authz with HTTP uses path from request instead of URI*

*Description*:
When configuring envoy to use an external auth service to authenticate requests, the URI of the configured auth service is ignored. Instead the path of the incoming request is also used for the auth service request.

*Repro steps*:

1. `docker compose build`
2. `docker compose up`
3. `curl -i -L localhost:8080/` -

[2022-10-04 10:35] Sachin-M-Desai commented on #23284
Thanks for the pointer. With active health check enabled as below, the performance is still subdued.

  - name: ext_authz-http-service
    health_checks:
      - interval: 2s
        timeout: 2s
        unhealthy_threshold: 2
        healthy_threshold: 1
        http_health_check:
          path: "/health-check-authz"
     ....
    load_assignment:
      cluster_name: ext_authz-http-service

[2022-10-04 11:59] phlax opened #23363 "Coverage is failing/timing out in CI (maybe due to dockerhub issues)"
There are a lot of failed coverage jobs

afaict, this is the error that is happening:

[code]

https://dev.azure.com/cncf/envoy/_build/results?buildId=117912&view=logs&j=bbe4b42d-86e6-5e9c-8a0b-fea01d818a24&t=e00c5a13-c6dc-5e9a-6104-69976170e881&l=175

this may be another occurrence of https://github.com/docker/hub-feedback/issues/2262

its not clear if anything changed, or what is trying to pull

[2022-10-04 13:51] phlax opened #23364 "Add `quic`/http3 sandbox"
discussing with @nguyenptk which sandboxes would be most useful to add - the possibility of adding an http3 sandbox came up - which seems like a good idea

[2022-10-04 13:56] phlax commented on #23364
if you check in the `configs/` directory there are some example configs there

[2022-10-04 15:20] tyxia commented on #23278
@fiadliel Thank you very much for the reports and insightful analysis!
I think it make sense and I will address this issue soon!

[2022-10-04 15:25] tyxia commented on #22916
Thanks for the feedback and your thoughts!
Yea, this filter is in early stage and we definitely open to any suggestions and will iterate on that as our development and products roll out.
I think your second point is in scope of our future work. I will keep your ideas in mind and keep you posted if we have any new features or updates.

Thanks for using this filter and valuable feedback!

[2022-10-04 15:36] ggreenway commented on #23339
No, it's a compile-time option, so it requires a different build of envoy.

[2022-10-04 15:40] phlax commented on #23339
downstream issue https://github.com/raspberrypi/linux/issues/4375

[2022-10-04 15:44] phlax commented on #23339
seems like there is some resistance to switching the required kernel flags  in raspberryPI OS - workarounds seem to be switching to debian or ubuntu or recompiling the  kernel

[2022-10-04 16:11] ggreenway commented on #23360
I think this is working as designed, but it's not documented very well. The http auth request uses the original request path by default to convey what path the auth request is for, and the path portion of the configured auth URI is ignored. In fact, the only part of `server_uri` that is used is the cluster name; the rest is ignored.

Setting `path_prefix` may solve this problem for you.

[2022-10-04 16:13] ggreenway commented on #23359
@envoyproxy/wasm-dev will there be an upstream V8 change we can pull in to fix this?

[2022-10-04 16:18] ggreenway commented on #23355
The `*_buffered` metrics are gauges, not counters; they indicate how many bytes are currently buffered, so an idle system will normally show those as zero.

I would expect, with a tcp-proxy as you've configured, that downstream_rx_bytes_total should eventually equal upstream_tx_bytes_total. Are you looking at all stats in envoy, or just for specific listeners and clusters? If you're summing them a

[2022-10-04 17:29] keith commented on #23340
Passing `--cxxopt=-Wno-deprecated-builtins --host_cxxopt=-Wno-deprecated-builtins` as a temporary workaround should work, the difference in what you tried is having a flag targeting the host configuration as well.

[2022-10-04 17:30] keith commented on #23340
Upstream issue is here https://github.com/abseil/abseil-cpp/issues/1201 and I submitted https://github.com/abseil/abseil-cpp/pull/1289 which if merged would mean all cases of this are fixed at HEAD, I'm not sure how hard the upgrade will be

[2022-10-04 19:20] tyxia commented on #23278
@fiadliel Could you take a look at this PR #23366 ? (It seems that I cannot tag you there).
Thanks!

[2022-10-04 19:32] nezdolik commented on #13951
@markdroth @htuch is anyone working on this? i can help out

[2022-10-04 19:41] ggreenway opened #23370 "CI flake: IpVersions/MultiplexedIntegrationTest.FlowControlOnAndGiantBodyWithContentLength/IPv4_Http3Downstream_HttpUpstreamNghttp2NoDeferredProcessing"
CI has a failure:
[code]

[2022-10-04 19:49] ggreenway commented on #23370
3 different test cases failed, all with http3downstream:

* `IpVersions/MultiplexedIntegrationTest.FlowControlOnAndGiantBodyWithContentLength/IPv4_Http3Downstream_HttpUpstreamNghttp2NoDeferredProcessing`
* `IpVersions/MultiplexedIntegrationTest.FlowControlOnAndGiantBodyWithContentLength/IPv4_Http3Downstream_HttpUpstreamNghttp2NoDeferredProcessing`
* `IpVersions/MultiplexedIntegrationTest.RouterReq

[2022-10-04 19:53] markdroth commented on #13951
I think @adisuissa was going to look at this, but I don't know if he's started yet.

[2022-10-04 19:58] aemaem commented on #23360
@ggreenway thanks for the clarification. Seems like an odd way of propagating the request's path information. However with that information I could implement the auth service accordingly. But as I want to use an already existing auth endpoint, I will implement it with a custom extension.

[2022-10-04 20:37] ggreenway commented on #23360
Honestly, I've never tried to deal with it because I use the gRPC version, which doesn't have this issue. If you have the tooling to set it up as a gRPC service instead, that may be the easiest path.

[2022-10-04 21:17] aemaem commented on #23360
Thanks for the hint!

[2022-10-04 21:17] #23360 closed

[2022-10-04 23:41] mathetake commented on #23359
actually @dio is working on upgrading and fixing macos issue on wasm/v8 https://github.com/proxy-wasm/proxy-wasm-cpp-host/pull/310

[2022-10-05 00:35] jeremybaumont commented on #23301
@yanavlasov Thanks for the quick answer :+1: . We defined the _ext_authz_ filter like the following with `envoy_grpc`:
[code]
I am reading https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/grpc_service.proto#envoy-v3-api-msg-config-core-v3-grpcservice-envoygrpc but I am not following you :coneofshame:. How would you configure the retries ?

[2022-10-05 01:22] dio commented on #23258
Submitted https://github.com/proxy-wasm/proxy-wasm-cpp-host/pull/310 to have proxy-wasm-cpp-host to use newer V8, 10.7.193.13 (with some updated `--test_timeout`s).

[2022-10-05 01:34] dio commented on #23359
Seems like that deprecation is very new :). Probably adding `-Wno-deprecated-declarations` in your `user.bazelrc` could help for now. Since that code is still on v8 main branch: https://github.com/v8/v8/blob/85e384960c27406aac93d88bcffcbe80a1020e9a/src/base/platform/platform-darwin.cc#L56.

[code]

[2022-10-05 02:11] pgeler commented on #23078
Few thousand RPS: request/response headers mutation + conditional direct response. Has no experience with body/trailer processing.

[2022-10-05 06:05] fabiomnk commented on #23221
@alyssawilk any idea? we are kinda stuck on this, should we test to disable the buffer in some way in order to prove the point ?
i can't seem to find the right configuration to configure the buffer for envoy.

[2022-10-05 08:03] #23325 closed

[2022-10-05 08:03] github-actions[bot] opened #23372 "Newer release available `org_llvm_llvm`: llvmorg-15.0.2 (current: llvmorg-12.0.1)"
Package Name: org_llvm_llvm@12.0.1
Current Version: llvmorg-12.0.1@2021-07-09
Available Version: llvmorg-15.0.2@2022-10-04
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-10-05 08:03] #23178 closed

[2022-10-05 08:03] github-actions[bot] opened #23373 "Newer release available `org_llvm_releases_compiler_rt`: llvmorg-15.0.2 (current: llvmorg-14.0.0)"
Package Name: org_llvm_releases_compiler_rt@14.0.0
Current Version: llvmorg-14.0.0@2022-03-23
Available Version: llvmorg-15.0.2@2022-10-04
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-10-05 08:03] #23179 closed

[2022-10-05 12:35] newwuhan5 commented on #23078
Thank you for the sharing.  We will trying to use this feature after further testing and analysis.  It looks good.

[2022-10-05 12:52] dio commented on #23360
Yes, this is so unfortunate. And it's recorded here: https://github.com/envoyproxy/envoy/issues/5357 I think I made an attempt to make it work but need to revive the relevant PR.

This @aemaem, the currently available hack is to set `path_prefix` to something like: `/validate?url=` hence you can implement yours using `/validate` as the entry point :).

[2022-10-05 13:53] phlax opened #23375 "`//test/integration:multiplexed_integration_test` is flakey in CI (~timeout)"
Its not immediately clear why/what changed but here is an example of this test timing out/failing:

https://dev.azure.com/cncf/envoy/_build/results?buildId=117975&view=logs&j=bbe4b42d-86e6-5e9c-8a0b-fea01d818a24&t=e00c5a13-c6dc-5e9a-6104-69976170e881&l=22464

and this seems to be the error:

[code]

https://dev.azure.com/cncf/envoy/_build/results?buildId=117975&view=logs&j=bbe4b42d-86e6-5e9c-8a0b-

[2022-10-05 13:54] aemaem commented on #23360
Thanks @dio, this is a very good workaround!

[2022-10-05 14:01] 3g0r commented on #23355
I'm investigating the `ingest` traffic metrics. And yes `downstream_rx_bytes_total ~= upstream_tx_bytes_total` is nothing unexpected.

You're right - the `*_buferred` metric is the metric.
I would expect `rate(*_bytes_total)` to look similar to `*_buferred` because one connection is processed in one thread synchronously like `incoming socket -> downstream buffer -> upstream buffer -> outgoing sock

[2022-10-05 15:42] yanavlasov commented on #23284
My guess is that with just a single endpoint health check is not helpful since Envoy will simply go into panic mode for this cluster: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/panic_threshold

In this case Envoy still sends requests to unhealthy service. I suspect these requests are timing out and this long delay is the reason why you see the ceiling i

[2022-10-05 15:46] snowp commented on #23284
By default the panic threshold would be hit, but the threshold is configurable so you should be able to disable it via https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto#config-cluster-v3-cluster-commonlbconfig

With that, if the endpoint is failing health checks Envoy should immediately respond with a 503

[2022-10-05 15:53] dnson commented on #23360
@dio but when I did the same
` - name: envoy.filters.http.ext_authz
                    typed_config:
                      "@type": type.googleapis.com/envoy.extensions.filters.http.ext_authz.v3.ExtAuthz
                      transport_api_version: V3
                      http_service:
                        path_prefix: /api/v1/authz?url=
                        server_uri:

[2022-10-05 15:53] ggreenway commented on #23375
Related: #23370

[2022-10-05 16:07] #22691 closed

[2022-10-05 16:07] #22718 closed

[2022-10-05 16:07] #22747 closed

[2022-10-05 16:07] #22855 closed

[2022-10-05 16:21] adisuissa opened #23378 "Headers referencing other headers in route actions could create high CPU and memory utilization"
*Title*: *Headers referencing other headers in route actions could create high CPU and memory utilization*

_Approved by the security group to be a public issue, because it requires an appropriate config._

*Description*:
PR #21932 fixed an issue where a header that references another header (possibly same header) can be added in a route action.
With a wrong configuration this could create high CP

[2022-10-05 17:41] ggreenway commented on #23355
Have you read https://www.envoyproxy.io/docs/envoy/latest/intro/life_of_a_request.html? It may help understand the overall flow of request processing.

[2022-10-05 18:05] dio commented on #23360
@dnson do you mean the path sent to the upstream is changed (prefixed)?

[2022-10-05 18:30] 3g0r commented on #23355
Yes, I've read it. But in the article doesn't exists anything about buffering and stop/resume reading from downstream.

Also I've read [this](https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/stats#config-listener-stats-tcp) [pages](https://www.envoyproxy.io/docs/envoy/latest/configuration/upstream/cluster_manager/cluster_stats#tcp-statistics), with a lists of metrics for downstr

[2022-10-05 18:37] bruce-c-liu commented on #21553
Hi when will this be released?

[2022-10-05 18:46] aemaem commented on #23360
@dnson the workaround works fine. I updated the sample configuration[](https://github.com/aemaem/envoy-proxy-ext-auth-sample) , which exactly does what @dio described.

[2022-10-05 20:48] adisuissa commented on #21553
IIUC this will be part of 1.24.0, and according to the [releases schedule](https://github.com/envoyproxy/envoy/blob/main/RELEASES.md#major-release-schedule) the version should be cut in a couple of weeks.

[2022-10-05 23:25] jeremybaumont commented on #23301
Thanks, that is a good idea of custom filter to perform this kind of retry. And thanks for confirming our thoughts that their were no native way to do what we were trying to do since like you mention "_retries are handled by the terminal router filter and on [retries] the filter chain is not traversed again._"

[2022-10-05 23:25] jeremybaumont commented on #23301
I think we can close this issue, if somebody has a better idea, feel free to re-open/comment.

[2022-10-05 23:25] #23301 closed

[2022-10-05 23:37] howardjohn commented on #18958
https://github.com/envoyproxy/envoy/pull/23321 I guess resolves https://github.com/envoyproxy/envoy/issues/18958#issuecomment-1249919512 being impossible to implement

[2022-10-05 23:51] dnson commented on #23360
@aemaem  @dio  ah I misunderstand, I thought the path sent to the upstream is change.
currently my currently auth api using POST so I create another api using GET and it works.

[2022-10-05 23:56] dnson commented on #23360
thanks @dio & @aemaem

[2022-10-06 07:05] dahalmanoj opened #23386 "A peculiar fall back requirement in envoy"
Hi,

I have two services A and B. A is a **https** service and listens on port#8445 with end point /dataservice1/A.
B is a **http** service and listens on port#9446 with end point  /dataservice2/B. Both A & B exist in the same host.
Now my requirement is if A live, go to A, else go to B. If A back to live, switch back to A.

How can I configure this in envoy so that above requirement works?

Thank

[2022-10-06 08:01] #22844 closed

[2022-10-06 08:22] sidhartha31 opened #23387 "Authorization header is being stripped out on host redirect"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Authorization header is being stripped out on host redirect*

*Description*:

![image](https://user-images.githubusercontent.com/14909953/194260515-de349745-f573-49

[2022-10-06 11:02] vnayar commented on #21734
Do you know if this will change in the future? For comparison, other services capable as acting like reverse-proxies, such as Nginx, solve this concept without requiring an external service (like global rate limiting requires): https://www.nginx.com/blog/rate-limiting-nginx/

One possibility could be to allow route descriptor action keys to be placed, like adding the IP of the caller, and then all

[2022-10-06 14:52] roelfdutoit opened #23389 "ENVOY_LOG no longer supports user defined types"
*Title*: `ENVOY_LOG` triggers a fmt `static_assert` for user defined types

*Description*:
Using envoy 1.24-dev (@f09ed3646b88fae777a060be37f3224dfa67f428).
Compile output:
[code]

*Repro steps*:
Build the following code (with `my_type` taken directly from the "User defined types" example at https://github.com/gabime/spdlog):
[code]

[2022-10-06 15:21] gregestren opened #23390 "Visibility failure on Bazel 6.0"
*Title*: *Visibility failure on Bazel 6.0*

*Description*:
[Bazel 6.0 pre-release tests](https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/1290#0183aad6-fffa-400c-a8e6-989970b479f1) show envoy failing with `--incompatible_enforce_config_setting_visibility`.

This isn't a surprise. That flag [fixes](https://github.com/bazelbuild/bazel/issues/12932) a long-standing omission in Baze

[2022-10-06 15:22] gregestren commented on #23390
CC @meteorcloudy

[2022-10-06 16:07] ggreenway commented on #23390
cc @keith @lizan

[2022-10-06 16:19] ggreenway commented on #23389
I think this is the result of moving to a toolchain that supports template traits. The error message links to a page that describes how to make a user-defined type formattable: https://fmt.dev/latest/api.html#udt

[2022-10-06 16:23] ggreenway commented on #23370
I've been unable to reproduce this locally so far.

[2022-10-06 18:19] lizan commented on #23390
Adding `package(default_visibility = ["//visibility:public"])` there should be OK. cc @PiotrSikora

[2022-10-06 19:35] alyssawilk commented on #23221
sorry for the lag I got side tracked by things.  @KBaichoo any chance you can help out with this one?

[2022-10-06 19:40] yanavlasov commented on #23389
Yes, fmtlib 9.x that Envoy recently started to use in #22981, requires formatters for user defined types.

[2022-10-06 19:44] nezdolik commented on #19149
Hi @alyssawilk, i can work on this.

[2022-10-06 19:46] keith commented on #23340
that landed upstream, if https://github.com/envoyproxy/envoy/pull/23396 works this will be fixed

[2022-10-06 21:33] inflatador commented on #22945
+1 to this , I've been having the same issue w/consul and envoy.

[2022-10-06 22:15] gregestren commented on #23390
FYI there's a small wrinkle with aliases (`select() -> alias -> config-setting`): https://bazel-review.googlesource.com/c/bazel/+/205211.

If you're comfortable with the solution from the above comment, it doesn't matter: ignore this comment entirely.

Just noting because I realize this case has an alias via `selects.config_setting_group`.

[2022-10-06 22:19] PiotrSikora commented on #23390
Adding `default_visibility` to Proxy-Wasm C++ Host seems like an easy solution. Please send a PR, thanks!

[2022-10-06 22:30] bdecoste commented on #23200
That config works with my envoy version.

[2022-10-06 22:30] mbaglole opened #23398 "FileAccessLog Q: json_format render as string and not values (string, int, boolean)?"
We are in the process of moving from the deprecated json_format in file access log to the substitution log_format - however, there only appears to be ```json_format``` that functions like ```typed_json_format```. Is there configuration available enable ```SubstitutionFormatString.json_format``` to perform the same, and, not publish the types - but strings?

From
[code]

To
[code]

[2022-10-06 22:36] mbaglole commented on #23398
As a note, the SubstitutionFormatString json_format indicates that it is ```typed_json_format```

https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/substitution_format_string.proto#envoy-v3-api-msg-config-core-v3-substitutionformatstring

[code]

[2022-10-06 22:42] keith commented on #23390
https://github.com/proxy-wasm/proxy-wasm-cpp-host/pull/311

[2022-10-06 23:21] bdecoste commented on #23200
As does the config to an HttpConnectionManager. Closing while I figure out what's wrong with my other config. Thanks!

[2022-10-06 23:21] #23200 closed

[2022-10-07 03:54] vikaschoudhary16 commented on #18958
@howardjohn I realized pausing cds ack is already working. In my earlier testing, seems like, I was missing proper changes on the Istiod and incorrectly thought that envoy's pausing is not working. I retested https://github.com/istio/istio/pull/41229 with no custom proxy and it works i.e no 503s.

[2022-10-07 04:06] vikaschoudhary16 commented on #23351
I would like to work on it.

[2022-10-07 04:21] #22726 closed

[2022-10-07 04:29] skbergam commented on #23351
@vikaschoudhary16 I'm interested as well. Is the LocalRateLimit extension written in C++? Do you have a link to the source?

[2022-10-07 04:36] dio commented on #23351
@skbergam the entry points (the responsible filter code (HTTP and TCP (network)), including how it is configured):

- HTTP https://github.com/envoyproxy/envoy/tree/main/source/extensions/filters/http/local_ratelimit (the corresponding configuration definition: https://github.com/envoyproxy/envoy/tree/main/api/envoy/extensions/filters/http/local_ratelimit/v3)
- Network https://github.com/envoyproxy

[2022-10-07 04:59] vikaschoudhary16 commented on #23351
sure. Not able to find you on envoy slack channel. What is your slack id?

[2022-10-07 05:11] skbergam commented on #23351
Can you invite me? Last time I tried I couldn't find it.

[2022-10-07 07:58] pxpnetworks commented on #23386
Hi,

Because of the different paths I think I would do it with [Aggregate Cluster](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/aggregate_cluster.html?highlight=aggregate%20cluster) and [Outlier Detection](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/outlier.html?highlight=outlier%20detection) or Healthcheck on the aggregated clusters.
But pr