[2019-01-15 23:24] pitiwari opened #5614 "stale endpoint with old ip address still exists after changing endpoint ip address"
We are using v1.7 currently. I found the issue where if i change ip address of the endpoint and then do localhost:8001/clusters it shows old ip for the endpoint as well. I do see log message from eds saying "membership update for TLS cluster ep1". Restarting envoy resolved the issue.

ep1::10.0.0.1:8080    // old ip
ep1::10.0.0.2:8080   // new ip

[2019-01-16 01:43] mattklein123 commented on #5614
Please try on master and report back. Thank you!

[2019-01-16 03:19] mmshaikh88 commented on #5612
I also tired https://github.com/dnivra26/envoy_distributed_tracing and run into same issue that serviceb and servicec trace is not reported to jaeger.

[2019-01-16 06:11] htuch commented on #5174
I think you should just do (2). You don't really need to change xDS wire protocol to do this, it's sufficiently underspecified, the code is essentially on the CDS side. Since we already have warming support for CDS and LDS, just deferring the Ack seems not too hard to add.

[2019-01-16 09:29] harryge00 opened #5618 "Didn't find a registered implementation for name: 'mixer'"
**Issue Template**

*Title*: *built envoy reports "Didn't find a registered implementation for name: 'mixer':*

*Description*:

I built envoy v1.8.0 and used the built binary to build a new `proxy_debug` docker image. When using the new `proxy_debug`,  it reports the following warning:

[code]

[optional *Relevant Links*:]

**Bug Template**

*Title*: *One line description*

*Description*:

the bug

[2019-01-16 09:55] zyfjeff commented on #5618
@harryge00
The mixer is an envoy filter implemented by the isito community. The default envoy is without this filter. You should use the envoy version provided by the istio community. https://github.com/istio/proxy

[2019-01-16 10:37] pltanhthu commented on #5595
Hi @alyssawilk, it works when I set *allow_connect: true* in *http2_protocol_options*. Thanks so much for the hint.

[2019-01-16 12:39] zachidan opened #5620 "Performance improvement in data-path - proposal"
*Background:*
In my investigation, I have found that there is a significant impact of a user-space proxy (i.e., envoy) in terms of performance degradation. That is, if we could move the data from the client egress socket directly to the envoy egress socket w/o sending it through the envoy user-space proxy, we can get a significant performance improvement (e.g., tens of percents in a synthetic benc

[2019-01-16 15:05] alyssawilk commented on #5595
Sweet, glad to hear it!  Sadly there's not so much we can do about that from a discoverability standpoint other than maybe eventually flipping that true by default - nghttp2 rejects the headers as invalid before we inspect them so it's not obvious to the Envoy code base that an upgrade was rejected in that case.

[2019-01-16 15:05] #5595 closed

[2019-01-16 16:08] taiki45 commented on #4526
I think https://github.com/envoyproxy/envoy/pull/5580 is for authentication not for xDS protocol translation described in this issue. Probably, the PR implementation can help building better authentication mechanism in this issue area.

[2019-01-16 16:47] MarcinFalkowski opened #5622 "Initialize with static config only when management server is not responding"
*Title*: *Initialise Envoy with static config only, when management server is not responding*

*Description*:
In our envoy config we have static listeners, several static clusters and some dynamic resources fetched from management server (by RDS, CDS and EDS).

Our static config is sufficient to handle our "minimal" viable scenario, so we want to be able to initialise Envoy successfully, even if t

[2019-01-16 16:54] mattklein123 commented on #5620
@zachidan this has come up before, but the architecture of Envoy (decoupling of upstream and downstream) will make it very difficult to actually do this without a large number of changes. If you are interested in trying to make this happen, I would suggest producing a small design document on how you would go about the change and we can all evaluate?

[2019-01-16 16:56] mattklein123 commented on #5622
If the management server doesn't respond, assuming timeouts, etc., Envoy should not get stuck, and should actually complete initialization even if the target resources are not available. It's possible there is a bug here, so this would probably require more in-depth debugging.

[2019-01-16 19:24] jmarantz commented on #5423
Note: this is explicitly controllable from the bazel command-line now, but we'd still like to have this on by default for fastbuild and debug. However, limitations in bazel select are still vexing.

Some discussion on https://stackoverflow.com/questions/53947289/bazel-select-help-configuring-tcmalloc-debug

[2019-01-16 19:24] jmarantz commented on #5423
@htuch any advice or assistance here would be appreciated :)

[2019-01-16 19:44] alyssawilk opened #5624 "Make it easier to test reloadable config"
Ideally it should be as easy as tweaking the existing config helper, and calling a reload function.

There's a bunch of refactoring to do to get there.

[2019-01-16 19:56] javiervazquezh opened #5626 "http/1.1: make HTTP_MAX_HEADER_SIZE configurable"
*Title*: *http/1.1: make HTTP_MAX_HEADER_SIZE configurable*

*Description*:

[optional *Relevant Links*:]

[2019-01-16 20:16] alyssawilk commented on #5626
Conveniently Auni was about to start working on this, so I'm assigning it his way :-)

[2019-01-16 20:16] auni53 commented on #5626
Just started on this today, you're in luck.

TODO, apply option to...
- [ ] envoy check in conn_manager
- [ ] nghttp2
- [ ] http_parser

[2019-01-16 20:20] alyssawilk commented on #5556
Josh: this is just a problem for bash yes?  I thought we already had this for C++ but if you're not happy with  how the config utils work I'd like to understand more!

[2019-01-16 20:30] alyssawilk commented on #5554
grepping through the code base I see insertContentLength in a few places, and I'm curious which one you're hitting.
we insertContentLength when we sendLocalReply (generally Envoy sending error messages,which makes sense as we know the body size)
we insertContentLength(0) on the upgrade path, for a bunch of complicated reasons to do with how Upgrades work
then finally there's 3 filters which insert

[2019-01-16 20:32] alyssawilk commented on #5554
oh no, my bad, I missed the most important one since it was using encodeHeader directly, which is the HTTP/1 codec will tag 0 length bodies on the way out iff it has an end stream.  If this is what you're hitting this is definitely WAI as it's done only if we've already gotten an end stream when we're serializing the headers to the wire (all filters have had a chance to append body at that point)

[2019-01-16 20:55] kyessenov commented on #5554
@alyssawilk : @PiotrSikora found the exact source line which I assume is the same one you are seeing. I think this is a non-issue, as it only affects filters which want to erase content-length for empty response bodies, and that's the kind of behavior that does not need to be supported even if it is allowed by filter APIs.

[2019-01-16 22:27] #5618 closed, assigned to lizan

[2019-01-16 22:34] ricochet opened #5632 "jwt_authn filter token expansion proposal"
*Title*: *jwt_authn filter support of applying token expansion to custom headers*

*Description*:

*Example:* The JWT token may contain the following keys

[code]

A consumer may have the following config and expect the value of of "zid" to apply to their custom request header such as:
[code]

*Use case:* Multitenancy

The oauth token may include the tenant ID. A primary benefit of using a sidecar

[2019-01-16 22:38] fredlas commented on #5270
I think the upshot was that there is at least some opportunity here for cleanup. I'm hoping to get to it in the course of working on #5466 / #4991.

[2019-01-17 01:01] ricochet commented on #5632
I'm up for taking this on if this is a good idea. Thoughts? @qiwzhang @lizan

[2019-01-17 01:02] jmarantz commented on #5556
I think the patterns are stronger in Bash but they could be simpler in C++ too. For example tests that are not specifically aimed at config-files should not need to have a config-file in testdata/ or similar. They should be able to just instantiate things and override any options that are of interest.

Most tests are agnostic to ipvX and shouldn't need to parameterize based on it.

But I agree tha

[2019-01-17 01:36] qiwzhang commented on #5632
Sound good to me.  Please go ahead. Thanks.

[2019-01-17 01:51] zyfjeff commented on #5620
@zachidan I am very interested in this, I have also researched before, but I found that envoy will modify the original buffer anyway, so there is no way directly do splice directly.

[2019-01-17 02:13] lizan commented on #5632
@ricochet So I think the idea is to extract JWT token into metadata and let router to add them to request via formatting it like `%DYNAMIC_METADATA(NAMESPACE:KEY*):Z%`? That sounds good to me.

[2019-01-17 08:06] htuch commented on #5423
@jmarantz chaining/nesting seems the way to go based on the SO thread. Another approach could be to do this via `.bazelrc`, at least in terms of providing sensible default that could then be overriden for each build mode.

[2019-01-17 08:37] pedro-tramontin commented on #5357
Same thing for me.
And besides that, I also need to listen for every http method in the authorization server since the request is forwarded to the auth_cluster using the original method. Is it really like this or am I configuring it wrong?

[2019-01-17 09:11] MarcinFalkowski commented on #5622
@mattklein123 Thanks for your reply!
I extracted minimal complete config where this problem can be observed. Maybe something is configured wrong?

To reproduce the problem, run envoy with that config. Go to port 7000 (full_static_listener). It should proxy you to 127.0.0.1:8080 ("static_service" cluster - make sure something is listening here).
But when the management server is down ("xds" cluster

[2019-01-17 14:01] MarcinFalkowski commented on #1947
Hey,
What about support for a parameter `usedonly`?(https://www.envoyproxy.io/docs/envoy/latest/operations/admin.html?highlight=usedonly#get--stats?usedonly). It is supported now for `statsd` and `json` format, but not for `prometheus` format: https://github.com/envoyproxy/envoy/blob/master/source/server/http/admin.cc#L617

From my experience, it is also respected when Envoy publish metrics to `st

[2019-01-17 14:07] CallMeFoxie opened #5637 "Endpoint HealthStatus HAS to be delivered via EDS (no config/cds loadassignment)"
*Title*: Endpoint HealthStatus has to be delivered via EDS, it is ignored when delivered via CDS' LoadAssignment or via static config file

*Description*:
Not sure if this is a bug or a feature, but I tried adding unhealthy endpoints delivered via CDS with Type: STATIC & LoadAssignment populated it ignored the HealthStatus flag at the endpoints, it always set them to HEALTHY even though I could de

[2019-01-17 14:10] alyssawilk commented on #5554
Cool.  I'll close this out for now then - feel free to repoen if you determine it's problematic!

[2019-01-17 14:11] brancz commented on #1947
Exposing only the metrics that have been updated since the last scrape breaks Prometheus in various ways (time-series are incorrectly marked as stale; two different Prometheuses scraping would interfere with each other). Printing these metrics is not a performance concern neither is processing them in Prometheus. Besides that, it's off topic. If you want to only collect metrics from individual Env

[2019-01-17 14:21] pschultz commented on #1947
Agreed. `usedonly` doesn't make sense for Prometheus. See https://www.robustperception.io/existential-issues-with-metrics.

[2019-01-17 14:44] adinunzio84 commented on #3634
I think we ran into this too while running Istio on AKS:
kubernetes/client-go#527

[2019-01-17 14:55] brancz commented on #1947
Thanks for the clarification. It still wouldn't work well with Prometheus as when a process restarts and a counter resets, there is a difference in a counter being 0 and not there at all. The first is the continuation of a time-series, the later means the time-series has ended.

[2019-01-17 15:21] snowp commented on #5637
This seems to be because we always pass `absl::nullopt` here instead of reading the EDS health flag: https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/upstream_impl.cc#L982

[2019-01-17 15:45] ggreenway commented on #1947
I am in favor of adding usedonly. It is off by default, so it only affects people that opt in to it. I think it's useful in some cases.

[2019-01-17 16:15] brancz commented on #1947
For Prometheus it's a violation of the format. For statsd I absolutely see the use.

[2019-01-17 16:36] alyssawilk opened #5638 "Move tests in http[2]_[upstream]integration into a protocol_integration_test.cc"
I think it'd be nice to have one location for tests that are run for the HTTP/H2 rather than adding the definition to integration_test and adding TEST_Ps to 3 different files.  It can be nice to see that you failed test only in the h2 test file, but I think with the pretty print naming protocol integration test has it's good enough even if we move, and it'd make writing HTTP1/H2 tests that much ea

[2019-01-17 18:02] mattklein123 commented on #5637
Yeah seems like a bug.

[2019-01-17 18:06] mattklein123 commented on #5638
Sounds great to me!

[2019-01-17 18:06] #5477 closed

[2019-01-17 18:23] mattklein123 commented on #5622
I think this is a bug, and I'm very surprised we have not seen this reported before.

I think we should be calling `handleFailure()` inside `GrpcMuxImpl::onRemoteClose`. @htuch do you recall the history here?

[2019-01-17 19:43] mattklein123 commented on #5555
@billybanfield is it possible for you to come up with a self-contained repro potentially using docker compose?

[2019-01-17 19:56] htuch commented on #5637
+1, I think this is a reasonably easy thing to fix.

[2019-01-17 20:13] junr03 commented on #5555
@billybanfield I will take at the data you have posted, and see if I have ideas. Matt's proposal would be super helpful if you can create it.

[2019-01-17 21:38] mmshaikh88 commented on #5612
How do perform: "You will need to propagate the headers from the inbound request to the outbound request (in servicea)"

[2019-01-17 21:49] ggreenway commented on #1947
@brancz I agree understand your point about why this could be problematic. But the lack of `usedonly` doesn't prevent this case from happening anyways.

For instance, something Envoy is working on is the ability to lazy-load some configuration. For example, when a connection comes in with an SNI value that hasn't been seen before, Envoy could contact the mgmt/config server and ask for config. This

[2019-01-17 21:51] mattklein123 commented on #1947
FWIW I think we should add it. This is a tremendous perf benefit in many cases for metrics backends.

[2019-01-17 22:10] suhailpatel commented on #1947
I also believe we should add `usedonly` (it's actually a further addition i'm wrapping up in a separate branch after the histogram changes are merged). It drastically reduces the number of metrics (especially if you have hundreds of clusters).

FWIW: When we scrape Envoy, we add a label to each metric scraped to identify that it came from a certain Kubernetes pod (so we can isolate metrics for a s

[2019-01-17 22:12] brancz commented on #1947
There's a big difference in metrics being hidden because they were _never_ measured/incremented and whether this has happened since the last scrape. The latter would always be problematic for use with Prometheus, but the way I read your description now @ggreenway, it feels like the first. The first I think would be ok to have as it would be a conscious decision by a user, meaning they make a consc

[2019-01-17 22:15] suhailpatel commented on #1947
@brancz To clarify, metrics disappearing after the last scrape is a violation and would indeed break a lot of Prometheus set ups. This isn't what's happening here with the Prometheus endpoints for Envoy for the lifetime of the process. Metrics accumulate over the lifetime of the process.

The purpose of `usedonly` is _only_ excluding metrics which haven't been touched/emitted for the lifetime of t

[2019-01-18 00:37] cgilmour commented on #5504
Would [this](https://github.com/envoyproxy/envoy/blob/ced65e825e44d30c720bbf5126724c6b49ca6e7e/source/common/router/router.cc#L365) be the right spot then?

[2019-01-18 01:50] snowp opened #5643 "Envoy sending http2 GOAWAY for large responses"
We're seeing an issue where large HTTP/2 responses will intermittently be cut off during encoding.

Envoy sends a GOAWAY to the upstream, ending the stream early. This results in some downstream HTTP/1.1 clients receiving a partial response, causing deserialization errors.

This seems to be happening for large (6MB+) responses, for example:

[code]

The flow we're seeing this in is:

Ruby HTTP/1.1

[2019-01-18 01:53] luluzhao opened #5644 "Add AWS X-Ray into Envoy as one of tracing providers"
**AWS X-Ray Integration with Envoy proxy**

*Description*:
Hello Envoy contributors, I am from AWS X-Ray team and we want to make contributions to Envoy so that customer can use X-Ray as one tracing option. Before sending out PRs, we have one design regarding sampling strategy want to discuss with the community and get some feedback.

I found out Envoy provides its own sampling strategy such as ra

[2019-01-18 02:09] htuch commented on #5335
Not stale, I'll work on this today, @junr03 has pointed out this is an ongoing issue.

[2019-01-18 03:17] allencwl opened #5646 "router shadow broken for http/2 data frame with end_stream = true"
*Title*: *Shadow traffic does not support http2?*

*Description*:
 hello,
  I want to use shadow traffic to proxy HTTP2，but I find it failt to work.
 This is my case.
Configuration：
[code]
As a result, only 10.10.62.120 nodes can receive traffic, and 10.10.62.121 nodes can not receive traffic.
What's wrong?
thx

[2019-01-18 03:30] tony-shi commented on #5560
Sure! Sorry for bother~

[2019-01-18 03:30] #5560 closed

[2019-01-18 05:08] allencwl commented on #5646
I used tcpdump to grab data packets and found that node 10.10.62.121 had traffic data, but HTTP2 data length = 0.

[2019-01-18 05:50] mmshaikh88 commented on #5612
What is the envoy sidecar footprint requirement from CPU and RAM point of view, how much system memory and cpu is needed?

[2019-01-18 06:27] DhirendraMaurya opened #5648 "external/envoy/source/extensions/filters/network/mongo_proxy/proxy.cc:264] mongo decoding error: invalid mongo op 2013"
**Issue Template**

*Title*: *One line description*

*Description*:

describe the desired behaviour, what scenario it enables and how it
would be used.

[optional *Relevant Links*:]

**Bug Template**

*Title*: *One line description*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

*Repro steps*:

required to reproduce the bug.

gathers a tarba

[2019-01-18 06:31] Mobileum10 commented on #5648
I have just created simple web based application using mongodb. My webserver is python flsk based simple one running in google cloud platform in kubernetes cluster Webserver and Mongodb Running in different pods along with istio sidecar proxy. While server creating connection to mongodb i found above issue that mongo-proxy unable to decode packet in mongo db format . Any help would be appreciated

[2019-01-18 06:48] tony-shi commented on #5174
We has experienced the same issue. We has configured a custom health checker which the first round health check complete time may various depends on the endpoints location to the envoy host from 10 ms to 30 ms.
For now (2) seems to be promising and easy to implement for our customized envoy.
By the way, i'd like to ask will this be designed as the fundamental xds protocol implied term or be a opti

[2019-01-18 07:42] htuch commented on #5335
Wrong flake, unassigning, will work on https://github.com/envoyproxy/envoy/issues/5420

[2019-01-18 07:43] allencwl commented on #5646
envoy:v1.6.0

[2019-01-18 07:56] brancz commented on #1947
Sorry for misunderstanding. That would be ok if it is an explicit action by a user, which a query parameter would be.

[2019-01-18 09:46] objectiser commented on #5612
Trace context propagation is discussed [here](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/tracing#trace-context-propagation) with an example [here](https://github.com/envoyproxy/envoy/blob/master/examples/front-proxy/service.py#L38-L40).

[2019-01-18 09:48] fkowal opened #5651 "Create dhall type definitions for envoy config"
*Title*: *Create dhall type definition for envoyconfig*

*Description*:
json and .yaml format are supported by envoy for bootstraping,
went using these formats sooner or later you will run into problems with typos, indentation, repetition, copy-paste bugs.

dhall-lang addresses these and more problems.
Being able to validate the configuration, would be a great improvement in the experience of work

[2019-01-18 14:20] yjwfn opened #5652 "Doe"
**Issue Template**

*Title*: *One line description*

*Description*:

describe the desired behaviour, what scenario it enables and how it
would be used.

[optional *Relevant Links*:]

**Bug Template**

*Title*: *One line description*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

*Repro steps*:

required to reproduce the bug.

gathers a tarba

[2019-01-18 15:09] #5652 closed

[2019-01-18 15:45] mattklein123 commented on #5643
Are you using the newest Jetty version possible? It would be nice to rule out any bug there that has already been fixed. Does Jetty use Netty for h2?

[2019-01-18 15:47] mattklein123 commented on #5644
cc @cgilmour @rnburn @objectiser for comment.

My general feeling is to build your centralized sampling directly into the x-ray tracer to begin with, so core Envoy will not be aware of it at all. There are mechanisms within Envoy such as TLS (thread local storage) that can make this type of configuration scale very well.

[2019-01-18 15:49] mattklein123 commented on #5648
See https://github.com/envoyproxy/envoy/pull/5053

[2019-01-18 15:50] mattklein123 commented on #5646
Shadow traffic definitely supports h2. Either way I would upgrade to master.

[2019-01-18 15:58] snowp commented on #5643
Yeah we're using the latest released version of Jetty (9.4.14.v20181114). Jetty does not use Netty, it's got its own implementation: https://github.com/eclipse/jetty.project/tree/jetty-9.4.x/jetty-http2

We haven't seen any issues with H/2 using Netty (through grpc-java), but not sure if we've been seeing
the same kind of response sizes there.

[2019-01-18 16:00] mattklein123 commented on #5643
I would wager this is a Jetty bug, but obviously hard to tell without obtaining and sorting through a full protocol back and forth.

[2019-01-18 16:06] predmore commented on #5212
Yeah, it looks like #5501 would solve this problem.

[2019-01-18 16:22] snowp commented on #5643
Yeah that's what I suspect as well. Having issues reproducing this while tapping the data with `socat`, so debugging this is proving rather difficult. We might just end up switching back to http/1.

I take it there's not much that can be done to improve how Envoy reports this error?

[2019-01-18 16:52] ivitjuk commented on #5174
We decided to go with option (2) and will try to add it to pull it to the next sprint.

@tony-shi It seems to me that we don't need a configuration option to enable this feature, as it should not break or significantly change behavior of existing xDS server implementations. @htuch do you agree?

[2019-01-18 17:36] #4961 closed

[2019-01-18 18:03] htuch commented on #5622
@mattklein123 @ramaraochavali might have more context, I seem to remember we made some changes that switched treatment of remote close to non-failure (this might have been stats only, hmm), since often it isn't a failure condition. We should probably use the close status to determine if it's a `handleFailure`; a normal GOAWAY drain is different to a TCP timeout.

[2019-01-18 18:21] htuch commented on #5174
@ivitjuk yep; this should be transparent, since Envoy always had the freedom to delay an ACK an arbitrary amount of time, correctly implemented xDS management servers should not be sensitive to this and we're strengthening rather than weakening consistency.

[2019-01-18 18:28] moderation opened #5655 "Confirm / document DynamoDB filter"
*Title*: Confirm that the DynamoDB still works in the v2 only Envoy and if so document it

*Description*: The DynamoDB filter does not have v2 API documentation and is missing `*.proto` files.

*Relevant Links*:
On the documentation [page](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/dynamodb_filter)  the link [v2 API reference](https://www.envoyproxy.io/docs/envoy/latest

[2019-01-18 18:57] #5420 closed

[2019-01-18 19:16] cmluciano commented on #5196
I'm helping @clnperez with getting this up and running. Can we reopen this?

[2019-01-18 20:02] gsagula commented on #5357
@pedro-tramontin @dawid-manikowski Sorry for the delay. I just saw these messages. So, I assume that `path` is not used in your authorization process. Is that correct? Unfortunately, this header is added by default. We would need to modify the filter.

[2019-01-18 20:52] snowp commented on #5063
As part of this I'll have to update the health check filter to cache the response headers, or at least the degraded header. Currently the caching layer is causing degraded health checks to flap, making them incompatible.

[2019-01-18 20:57] mattklein123 commented on #5622
Whether we call `handleFailure()` or not, no matter what the case is, we should call the initialized callback.

[2019-01-18 20:59] mattklein123 commented on #5655
IIRC it's because there is no configuration for the filter. Yes it works with v2.

[2019-01-18 22:18] yangminzhu commented on #5603
/cc @yangminzhu

[2019-01-19 02:59] #5208 closed

[2019-01-19 03:15] cgilmour commented on #5644
Hi @luluzhao I think it's fine and fits with the way envoy's sampling actually behaves.

There's configuration for random_sampling and overall_sampling etc, and they default to 100%.
The way they are applied is actually inverted.
Eg: a user configures overall_sampling to 90%. For 10% of the traffic, envoy will decide to _not_ sample the request. The remaining 90% can be decided by the tracing exte

[2019-01-19 06:50] snowp commented on #5089
Happened to be in this part of the code: I believe the bug is that we're not setting the overprovision factor here:
https://github.com/envoyproxy/envoy/blob/953ccd6497c29587d29a84a65796d656418ab122/source/common/upstream/cluster_manager_impl.cc#L929

This is making it fall back to the default overprovision factor when creating/updating host sets on the worker threads

[2019-01-19 08:16] ramaraochavali commented on #5622
@MarcinFalkowski  which version are you running? I remember we had some thing simlar that initialization used to wait for resources (EDS updates specifically - management server is up and not responding with EDS updates). See https://github.com/envoyproxy/envoy/issues/4485 and https://github.com/envoyproxy/envoy/pull/4490. But in this case it seems the management server is not up at all - so could

[2019-01-19 08:54] objectiser commented on #5644
One clarification with this - the reason that the sampling decision is delegated to the tracing extension is that envoy does not know if the business transaction is currently being sampled prior to arriving at the first envoy proxy. So envoy provides its suggestion based on user configuration, but ultimately the tracing extension needs to check whether the request is already being sampled (by insp

[2019-01-19 16:40] knightXun opened #5665 "how can we collect envoy access log?"
We deploy fluentd on every node collect pod's logs to avoid too many log be sent to a center at one time. Envoy output logs to a file or send logs by grpc. In a kubernetes-istio cluster, so many pods' envoy on a node will have the same configuration about access log. this will make collecting and analysing them be hard.  So can we find a better manner to send logs to es?

[2019-01-19 17:05] mattklein123 commented on #5622
The issue is that we must fire the initialize callbacks in `onRemoteClose()` whether we call it a failure or not for stats reasons. That is definitely a bug.

[2019-01-19 17:07] mattklein123 commented on #5168
I would have to look through the code. The only thing that comes to mind is a discrepancy during hot restart, given how these gauges work. Is hot restart involved here?

[2019-01-20 13:21] #5291 closed

[2019-01-21 04:41] madhugilla opened #5668 "Provide raw Envoy binaries outside of Docker"
**Issue Template**

*Title*: *Where can we download the standalone Envoy Binaries*

*Description*:

1) where can we download the Envoy binaries
2) How to get started using Envoy binaries in a docker less environment, i am assuming it will similar except for the docker part.

[optional *Relevant Links*:]

**Bug Template**

*Title*: *One line description*

*Description*:

the bug, for example: Envoy

[2019-01-21 07:40] irelandKen commented on #5646
`
void Filter::maybeDoShadowing() {
  if (!do_shadowing_) {
    return;
  }

  ASSERT(!route_entry_->shadowPolicy().cluster().empty());
  Http::MessagePtr request(new Http::RequestMessageImpl(
      Http::HeaderMapPtr{new Http::HeaderMapImpl(*downstream_headers_)}));
  if (callbacks_->decodingBuffer()) {
    request->body() = std::make_unique<Buffer::OwnedImpl>(*callbacks_->decodingBuffer());
  }

[2019-01-21 08:41] zachidan commented on #5620
@mattklein123 I think that for **tcp_proxy** listener it is straightforward because there is 1:1 mapping between the downstream socket and the upstream socket. I agree that for **http** listener it is a bit more complicated but still feasible because we just need to _splice_ the data of each message/frame.

However, there is some constraint when a **TLS** is used:

- TLS termination: we couldn't u

[2019-01-21 13:46] MarcinFalkowski commented on #5622
@ramaraochavali I tested it with Envoy v1.9.0 and the latest snapshot in that moment (dc7632d) - in both versions this problem exists.

Yes, it is the case when management server is not available during Envoy initialisation. After Envoy successfully initialise, the potential unavailability of the server is not a problem (Envoy simply works with stale config).

[2019-01-21 16:24] mattklein123 commented on #5138
@gsagula is still planning on doing this soon I think.

[2019-01-21 16:31] mattklein123 commented on #5620
The complications go beyond TLS even for basic tcp_proxy due to filters. There can be filters that run before tcp_proxy that can buffer, etc. There really is no easy way to do this without quite a bit of special casing. I think if you start to actually do the change you will see the problems. Feel free to put together a design doc on the proposed changes if you like. It's possible, but it will req

[2019-01-21 16:41] mattklein123 commented on #5646
Thanks for debugging, yeah this is a bug for the case you identify. Nice catch! I can fix this.

[2019-01-21 16:43] mattklein123 commented on #5567
@crockeo thanks for working on this. This sounds reasonable to me. Yeah I think human readable names for the codes would be really nice!

[2019-01-21 16:58] mattklein123 commented on #1104
Calling this complete. We can track new filter feature requests in new issues.

[2019-01-21 16:58] #1104 closed

[2019-01-21 16:58] mattklein123 commented on #3250
I think this is complete so closing.

[2019-01-21 16:58] #3250 closed

[2019-01-21 17:37] ramaraochavali commented on #5622
@MarcinFalkowski Ok. I just looked at the history and found that this was because of #3137. I made that change long time ago - Will submit a PR to revert/fix it soon. Sorry about that.
cc: @htuch @mattklein123

[2019-01-21 18:07] #5144 closed

[2019-01-21 20:48] gsagula commented on #5138
@mattklein123 Yes, it's done. I changed the documentation. I think it's more clear, but I'm sure that grammar still needs some work. Let me send the PR.

[2019-01-21 21:52] luluzhao commented on #5644
Hello @cgilmour , thank you for your explanation and help. I really appreciate that. There is two questions I want to ask. First, how envoy decide which request to sample or not, basically, like your example, how that 10% not sampled requests been decided by envoy? I am trying to find the sampling logic inside envoy but I could not find it. Could you point out the source code where envoy make the

[2019-01-21 23:04] cgilmour commented on #5644
@luluzhao The details about tracing occur in a few different spots.

One spot is [here](https://github.com/envoyproxy/envoy/blob/master/source/common/http/conn_manager_utility.cc#L220-L247), where it applies the config about tracing. It makes a decision there based on the config values (or defaults) and stores it in the outcome of that decision in the `x-request-id` header value.

This gets applie

[2019-01-22 02:43] ramaraochavali commented on #5168
@mattklein123 I was able to consistently reproduce this with the following steps

1. Management server (Instance 1) is in connection with Envoy. It has fully exchanged the configuration
2. New Management Server comes up and it sends its initial cluster list with some tweaks to cluster config. Since the hash of config changed, it goes in to warming mode. It prints "add/update cluster starting warmi

[2019-01-22 04:50] gsagula opened #5676 "ext_authz: allow buffering request body"
*Description*:
Often external authorization service needs the message body to authorize a request, for example when doing HMAC validation. Making the request data available to the authorization service could be achieved by buffering the request data inside [envoy.ext_authz](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/ext_authz_filter#arch-overview-ext-authz) and then adding it

[2019-01-22 06:18] exiaohao opened #5677 "HTTPS unavailable after load private key failed."
*Description*:

When I was load a pair of TLS certificate & key to envoy, there's something warning.

[2019-01-21 08:13:17.399][1][warning][upstream] source/common/config/grpc_mux_impl.cc:226] gRPC config for type.googleapis.com/envoy.api.v2.Listener update rejected: Error adding/updating listener ingress_https: Failed to load private key from <inline>
[2019-01-21 08:13:17.399][1][warning][config]

[2019-01-22 06:53] exiaohao commented on #5677
I've tested key with OpenSSL:
[code]

[2019-01-22 12:42] kiryazovi opened #5678 "Adding rotation+compression options for logging"
*Description*:

**Ask**:
Would you be ok upstreaming a rotation solution+compression to the current logging implementation in Envoy?

**Motivation**:
We are currently in the process of adopting Envoy in our infrastructure. Typically up until now all of our logging had the distinct feature of rotating with compression. So in order to not break the customer's expectations in the future, we are worki

[2019-01-22 14:43] alyssawilk commented on #5301
@jrajahalme a related thing I believe we're going to want (and will upstream as much as anyone else wants) is to handle incoming TCP being muxed out the back over H2 (probably using CONNECT?) and then demuxed at an upstream Envoy.  The fun thing there is that basically every H2 stream will turn into its own Network::Connection which can be read from or written to as if it were socket.

This basica

[2019-01-22 16:02] htuch commented on #5174
There's also work in the MCP protocol, a sister protocol of xDS, that has first class resource status reporting support. I actually thing this would be a more systematic approach, CC @costinm @rshriram @ozevren (not sure what Jason's GH ID is..).

[2019-01-22 16:38] mattklein123 commented on #5168
Thanks for the detailed investigation. Yeah it seems like the stats just need to get updated in this case since there aren't any hosts? It seems like Envoy should correctly handle this case. @snowp any thoughts here? You have been going deep in this code lately and can likely offer the best advice.

[2019-01-22 16:43] mattklein123 commented on #5678
I'm not necessarily opposed to this, but is there a reason that you can't use `logrotate`? It does all of this automatically.

[2019-01-22 16:45] mattklein123 commented on #5677
cc @PiotrSikora

[2019-01-22 17:31] Mykolaichenko opened #5683 "handshake error: 2"
Hi guys,

Could someone please describe what means **handshake error: 2** in this case?

Is it ok?

[code]

[2019-01-22 18:09] ramaraochavali commented on #5168
Not just stats, I think if we just send empty CLA (with out any resources), envoy should probably handle this differently - because we are not sending any resource names and per doc
"When a requested resource is missing in a RDS or EDS update, Envoy will retain the last known value for this resource".
Any way, let us discuss on how to do when we actually fix this bug.

[2019-01-22 18:12] georgi-d commented on #5678
Hi, I work with @kiryazovi

We cannot use `logrotate` for a few of reasons:
- `logrotate` is not available on the OS we are using and we prefer not to pull in additional dependencies
- `logrotate` need to be run periodically from cron like scheduler which is also not available/enabled on the OS we use
- since it is run periodically `logrotate` cannot have exact control over the size of the files.

[2019-01-22 21:26] curiouserrandy opened #5686 "Poor documentation (potential synchronization issue) around BaseIntegrationTest::pre_worker_start_test_steps_ variable"
*Title*: Poor documentation (potential synchronization issue) around BaseIntegrationTest::pre_worker_start_test_steps_ variable

*Description*:
The BaseIntegrationTest data member pre_worker_start_test_steps_ is described @ https://github.com/envoyproxy/envoy/blob/master/test/integration/integration.h#L224 as "Steps that should be done prior to the workers starting. E.g., xDS pre-init."  However,

[2019-01-22 21:31] curiouserrandy commented on #5686
/assign curiouserrandy

[2019-01-23 00:17] luluzhao commented on #5644
Hello @cgilmour @objectiser @mattklein123 , thank you for all your help and explanation. We understand that no matter what tracing extensions' implementation, if customer wants and chooses to use envoy sampling, tracers should respect it in stead of ignore it. However, we have some concerns regarding envoy default 100% sampling rate if customers choose to use X-Ray. First concern is billing. AWS X

[2019-01-23 02:05] mattklein123 commented on #5678
OK, this sounds like a reasonable addition as long as its entirely opt-in. Thank you!

[2019-01-23 13:33] PiotrSikora commented on #5677
@exiaohao per the message you pasted, the private key is corrupted:
[code]
BoringSSL (and therefore Envoy) won't accept it:
[code]
Surprisingly, OpenSSL accepts it (even though it says it's corrupted in the `openssl rsa -check`):
[code]
There is not much we can do about it on the Envoy side, you should contact your CA and let them know that they produce corrupted private keys (but really, you shou

[2019-01-23 15:24] crockeo commented on #5567
Is there a canonical way to use CI builds to target individual tests? I keep running into compiler differences between Clang and GCC, but full CI builds + tests take prohibitively long on my laptop (>2hrs).

[2019-01-23 15:40] alyssawilk opened #5693 "runtime feature guarding"
Per discussion over on #5441 it'd be good to have a globally accessible framework guarding high risk features, as well as tooling to handle the lifetime of migration from old code to new, which matches what we do for config guarding including warning/hard-fail (see #5559) and scripts to advance from warning to defaut-off to filing clean-up issues.

Plan A is to use Envoy's existing run-time, but m

[2019-01-23 15:43] #5138 closed

[2019-01-23 15:43] alyssawilk commented on #5559
Yep - I was planning on filing the same issue this week
I think it'd be great to have a three phase system:

1) warning for deprecated feature use, with links to the docs of how to migrate to the new
2) fail-by-default for deprecated features, overridable by default with a runtime-setting (#5693) no-really-I-want-to-use-deprecated-feature-X-even-though-it-will-vanish-soon to allow continued use
3)

[2019-01-23 15:45] #5622 closed

[2019-01-23 15:47] #5591 closed

[2019-01-23 15:49] mattklein123 commented on #5559
Huge +1 from me. I think this will be a huge benefit to everyone.

One thing that I do think we should do for (2) is have an option for how to handle deprecated features:
1) Fail by default, overridable via runtime (this is the default IMO)
2) Warn/stat by default, overridable via runtime

[2019-01-23 15:55] alyssawilk opened #5694 "Change deprecation window from 3 to 6 months"
While I'm musing on Envoy deprecation process (#5693, #5559) it'd be really helpful if we could change the deprecation window from 3 months / 1 release to 6 months / 2 releases.  For major features it'd give folks time to allocate time to properly qual and test new code paths, and for minor features it'd still allow better customer communication for behavioral changes.

Throwing this out to the co

[2019-01-23 16:10] dineshkr3 opened #5695 "How to create request based connection from envoy to verticals ?"
Description:
Hello.
I am having tough time to solve the request based connections in the following deployment scenario.

Our deployment on Kubernetes, has IC(ingress controller) as  Ambassador (which uses envoy) and the back-end servers are Vert.x based.
Using H2Load for testing the scenario.

Problem
There are 2 instance of back-end Service1 (with 2 verticles each) and 3 instance of back-end serv

[2019-01-23 16:17] #5646 closed

[2019-01-23 21:45] HenryYYang opened #5697 "Support for redis cluster protocol"
**Support for redis cluster protocol**

*Description*:
The redis cluster protocol has been implemented in Redis 3.0 or greater.  It is a distributed implementation with a well understood trade off between availability, scalability and best effort consistency.

Supporting this protocol in envoy will provide similar benefit as the original redis proxy.  It's a valuable protocol to support for applic

[2019-01-23 22:42] mattklein123 commented on #5697
@HenryYYang I think this would best be served by a short design doc before submitting a PR. It's not completely clear to me how this is going to flow together. For example, you are going to implement a new cluster type for this that will understand how to fetch the cluster topology? Etc. I also have a general question on the benefit Envoy can provide here. For example, if we are using a redis clus

[2019-01-23 23:37] HenryYYang commented on #5697
The idea is that the client don't need to understand clustering, they just talk to envoy as if it's a single redis instance.  For things like python servers where there're typically multiple processes on each host, this can pipeline the redis commands and reduce the number of connections on redis, so there're performance gain as well.  Further more this can be combined with other capabilities of e

[2019-01-23 23:48] mattklein123 commented on #5697
@HenryYYang SGTM, looking forward to the doc.

[2019-01-24 02:49] PiotrSikora commented on #5677
@exiaohao as far as I understand your original message, this works as intended.

When you replace working private key with corrupted private key over xDS, the configuration is rejected and Envoy continues to serve traffic using the last known good configuration.

When your restart (i.e. stop and start) Envoy with configuration depending on the corrupted private key, then Envoy cannot revert to the

[2019-01-24 03:57] PiotrSikora commented on #5677
@exiaohao you should validate the configuration before restarting Envoy with it, i.e.
[code]
This way, you won't restart Envoy if your configuration includes corrupted private key (or any other errors, for that matter), leading to the same behavior as xDS, i.e. using the last good know configuration and ignoring the invalid one.

[2019-01-24 04:56] exiaohao commented on #5677
@PiotrSikora It's a good idea, I'll validate the configuration and cert/key before apply.

[2019-01-24 04:56] #5677 closed

[2019-01-24 05:53] zbye opened #5700 "envoy with poor performance when dealing with load balance gRPC traffic"
**Issue Template**

Envoy get worse performance when deploy several back-end service instances then only one service instance.

*Description*:
Hello.
we found envoy has relatively poor performance when dealing with load balance gRPC traffic with  several backend service instances.  Clients access to Envoy using grpc, and Envoy forwards requests to back-end service using grpc.

We get the surprisin

[2019-01-24 06:20] jcurlier opened #5702 "Invalid inline jwks for issuer with Google certificate"
*Invalid inline jwks for issuer with Google certificate*

*Description*:

I am trying to authenticate requests with Firebase with Istio which is using Envoy as a sidecar Kubernetes . I followed the documentation here:
https://istio.io/docs/tasks/security/authn-policy/#end-user-authentication

This works great!

Then I updated to the Google Firebase configuration (my project ID is aura-dev)

[code]

[2019-01-24 08:09] oschaaf opened #5703 "Possible optimization opportunity: set EVENT_BASE_FLAG_NOLOCK"
Possible optimization opportunity: set EVENT_BASE_FLAG_NOLOCK

*Description*:
While looking for potential accuracy and throughput improvements for Nighthawk [1] (a load generator/benchmarking tool based on Envoy's libraries), observational data suggested that
configuring libevent with EVENT_BASE_FLAG_NOLOCK would yield around 5% added troughput and about 1us lower reported latencies in the benchma

[2019-01-24 10:39] turbotankist opened #5704 "Segmentation fault when upstreaming large files"
We have envoy as edge proxy
and it's config :
[code]
nginx has file file5.txt with 5 MB size

when we trying to get it
curl http://prod-aaa.bbb.cc/file5.txt
<file content..
curl: (18) transfer closed with 4913369 bytes remaining to read
vDSRPV%
And we have envoy logs:
[code]
if secondary filter

was been deleted - all works fine

Issue triggered o 1.8.0, 1.9.0 and 1.10.0-dev

Envoy was been starte

[2019-01-24 15:59] mattklein123 commented on #5704
Can you provide a core dump w/ symbols or at least a usable backtrace with symbols? Thank you.

[2019-01-24 16:02] mattklein123 commented on #5703
FWIW, I tried to do this a while ago (1-1.5 years), but it's not easy unless I missed something back then. Basically, the only case in which we require the lock is when we post events between event loops. I tried to get rid of the lock and provide my own locking for posting, but unfortunately there was no way to get libevent to safely wake up the event loop during a post. So then there would have

[2019-01-24 16:49] auni53 commented on #5626
@alyssawilk @mattklein123, cc @AndresGuedez

Need some help debugging a weird case. This is a little bit convoluted so let me try and be thorough.

The current nghttp2 max header limit is 64K, as set by "NGHTTP2_MAX_HEADERSLEN". I confirmed that sending a request whose size exceeds 64K does indeed trigger that check, and closes the stream with error code 0x07 (NGHTTP2_REFUSED_STREAM). I confirmed

[2019-01-24 17:04] mattklein123 commented on #5626
@auni53 sorry would need to debug to see what is going on. I don't think it's failing at nghttp2_session.c:6036 as that is in the push promise handling code which we aren't using. Can you potentially provide a callstack of the failure?

[2019-01-24 17:09] auni53 commented on #5626
Test I added to http2/codec_impl_test.cc:
[code]

(call stack and test output coming up)

[2019-01-24 17:10] auni53 commented on #5626
Test invocation: ```

WARNING: Streamed test output requested. All tests will be run locally, without sharding, one at a time
INFO: Streaming results to http://sponge/4cd00081-0613-47f1-a6d0-bb03b438c284
INFO: Build option --test_filter has changed, discarding analysis cache.
INFO: Analysed target //third_party/envoy/src/test/common/http/http2:codec_impl_test (0 packages loaded, 19587 targets conf

[2019-01-24 17:11] mattklein123 commented on #5626
Anyway I think you are hitting this logic block: https://github.com/envoyproxy/envoy/blob/master/source/common/http/http2/codec_impl.cc#L647, and we are failing during receiving a header frame.

[2019-01-24 17:14] auni53 commented on #5626
with a break point at onResetStream, here's part of the back trace
[code]

[2019-01-24 17:17] oschaaf commented on #5703
I'm curious, would listening on a socket and periodically writing a byte to that be a viable way to wake up an event loop with locking disabled in a safe way?

[2019-01-24 17:44] dnoe commented on #5703
In a past project we used a pipe for this. Libevent has it in the watched
set, and the poster writes something to the pipe to trigger a wake up.

On Thu, Jan 24, 2019 at 12:17 PM Otto van der Schaaf <
notifications@github.com> wrote:

[2019-01-24 17:50] mattklein123 commented on #5703
Yeah a pipe/UDS would definitely work.

[2019-01-24 18:01] htuch commented on #5703
`libev` also has support for doing this directly; https://metacpan.org/pod/distribution/EV/libev/ev.pod#ev_async-how-to-wake-up-an-event-loop.

I think it would be interesting to consider how libuv/libev would perform as well as functional distinctions in https://github.com/envoyproxy/envoy/issues/4952.

[2019-01-24 18:01] dnoe commented on #5703
Check out "eventfd" for a specialized abstraction layer on top of the
underlying pipelike mechanism that can do this. But there might be
portability concerns, I've only used it on Linux.

On Thu, Jan 24, 2019 at 12:50 PM Matt Klein <notifications@github.com>
wrote:

[2019-01-24 18:04] htuch commented on #5703
Also see http://libev.schmorp.de/bench.html for performance comparisons of libevent vs. libev, you need a lot of FDs to make things noticeable, but I wonder how the event loops differ on other dimensions, e.g. contention or raw speed of various common operations we make use of in Envoy.

[2019-01-24 18:55] qiwzhang commented on #5702
Istio proxy is NOT using Envoy jwt_authn fitler yet.   You already opened an [issue](https://github.com/istio/proxy/issues/2072) in Istio/porxy.

So this one should be closed.

[2019-01-24 18:58] lei-tang commented on #5702
The failing case using the URL https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com as the jwksUri is due that the key format in this URL is not supported by Istio Envoy proxy. Please refer to https://tools.ietf.org/html/rfc7517 for the format of the json web key.

The jwks in the working config ("https://raw.githubusercontent.com/istio/istio/release-1.0/securit

[2019-01-24 20:09] jcurlier commented on #5702
Thanks @lei-tang - yes you can close - I don't think Google will fix this for me :)

[2019-01-24 20:41] jcurlier commented on #5702
I found the valid file for Firebase for the certificates:
[code]

[2019-01-24 22:29] christian-posta opened #5712 "Expose traffic shadow percentage configurable via xDS"
Right now traffic shadow percentage is configured through runtime properties. Would be nice to dynamically configure this through xDS.

[2019-01-24 23:08] PiotrSikora opened #5713 "Support loading TLS certificates in DER format."
Currently supported PEM format is base64-encoded DER-encoded certificate with some extra prettifiers.

Supporting DER format would allow passing ~30% smaller certificates and private keys over xDS (compared to currently supported PEM format) and avoid base64-decoding in Envoy.

The idea is to support both formats, not replace PEM with DER.

[2019-01-24 23:38] jcurlier commented on #5702
Sure - thanks for your help

[2019-01-24 23:38] #5702 closed

[2019-01-25 00:45] jmarantz opened #5715 "test: mutex_tracer_test test is flaky"
bazel test //test/common/common:mutex_tracer_test --runs_per_test=1000
//test/common/common:mutex_tracer_test                                   FAILED in 115 out of 1000 in 1.0s

[2019-01-25 01:59] jmarantz commented on #5715
Urrr..operator error. This was caused by my in-flight PR and is working fine in mainline :)

[2019-01-25 01:59] #5715 closed

[2019-01-25 02:12] HenryYYang commented on #5697
Here's the [draft design doc](https://docs.google.com/document/d/1PDgbANLceC6ZerQXb3LqCPifHRxJuiCeojI86Gcnb5M/edit?usp=sharing)

[2019-01-25 07:07] kesavkolla commented on #3124
I too in need for this feature.  Is there any plan to support this?  I've exact usecase of doing auth checks per virtualhost.

[2019-01-25 10:22] tony-shi commented on #5174
Do you guys mind to attach a MCP doc link in this issue?
Since option (2) seems diverging from a status reporting support?

[2019-01-25 13:40] christian-posta commented on #5712
Thanks @mattklein123 missed that in the latest docs.

[2019-01-25 13:40] #5712 closed

[2019-01-25 14:15] turbotankist commented on #5704
How can I set to backtrace with symbols? Only this in output

[2019-01-25 14:56] turbotankist commented on #5704
https://drive.google.com/file/d/1xxV3wZhQnbstWyhcBJrwnI-aGcYgR0Qk/view?usp=sharing
core_dump

[2019-01-25 16:13] costinm commented on #5174
@ayj  (Jason)

Option 2 seems reasonable short term, we'll need to make small adjustments in Istio, right now we don't wait for the ACK, just use it for metrics. Any estimate on schedule ? I've been working on this but not expecting to get it in Istio 1.1.  It would be great to have a flag or way to control it, even if it seems safe.

[2019-01-25 16:20] mattklein123 commented on #5697
@HenryYYang please make the doc world accessible for comments. Thank you!

[2019-01-25 16:43] #5160 closed

[2019-01-25 17:24] snowp commented on #5168
So is the issue here that the cluster is rebuilt with no endpoints (since the control plane responds with no EDS resources), but the endpoints still exist in the TLS cluster, so requests to it still attempt to route to the old endpoints? Is that the cause of the stat inconsistency?

Avoiding these kind of edge cases is part of why we never respond with an empty EDS response in our control plane (w

[2019-01-25 17:58] mpuncel opened #5720 "improve grpc error stats"
*Title*: *Improve gRPC error stats*

*Description*:
Right now it appears that even gRPC responses with errors count toward the various 200/2xx stats counters, probably because the HTTP code itself will be 200.

The rq_success_ and rq_error_ stats take into account gRPC errors, but only if the gRPC error falls in the 5xx range:
[code]

It would be nice to add options to Envoy to:
1) count gRPC code

[2019-01-25 18:21] HenryYYang commented on #5697
It's world accessible for comments now.

[2019-01-25 18:21] redbaron commented on #5325
bot, leave this issue alone

[2019-01-25 18:31] #5343 closed

[2019-01-25 19:35] ayj commented on #5174
See the [MCP Enhancement](https://goo.gl/k7hr5m) proposal for an overview. You'll need to join the [istio-team-drive-access@](https://groups.google.com/forum/#!forum/istio-team-drive-access) mailing list to access.

[2019-01-25 19:45] ramaraochavali commented on #5168
yes. The cluster is rebuild with no end points - it updates the TLS clusters as well with zero endpoints. But do not update the metrics.

Yes. That is what I am proposing. Since XDS protocol says, the control plane does not respond with resource, it should work with last known values.

[2019-01-25 21:14] snowp commented on #5168
Alright, yeah we should definitely fix the stat inconsistency.

Regarding "last known values": since this only seems to happen when the cluster is rebuilt, any concerns about the old EDS values not being compatible with the new Cluster?

For example, what if the Cluster was updated to remove the TLS settings, and endpoints were updated to point to a HTTP port instead of HTTPS. If you disconnected

[2019-01-25 22:31] ramaraochavali commented on #5168
While there may be some incompatible old EDS values if we retain the old host values, I think if the management server has not responded with any hosts for that resource(cluster), we should not treat that them being empty clear them - if the management server wants to clear the hosts also, it can send a ClusterLoadAssignment for that cluster with empty hosts. It would probably be better to be expl

[2019-01-25 22:41] HenryYYang commented on #5697
Please try again.

[2019-01-25 22:53] jmarantz opened #5726 "check-format: still some trouble in python land running 'git push' with verification"
[code]

[2019-01-25 22:57] evilyeti commented on #2521
That would be similar to what CDN providers do for troubleshooting. See here:

- Akamai [pragma headers](https://community.akamai.com/customers/s/article/Using-Akamai-Pragma-headers-to-investigate-or-troubleshoot-Akamai-content-delivery)
- Fastly [debug headers](https://community.fastly.com/t/deciphering-fastly-debug-header/520)

[2019-01-25 23:09] snowp commented on #5168
I guess my thought was that you might want to delay cluster init until you get a EDS response for that cluster, not that you should bring it up with zero hosts. I'm a bit unclear on how cluster warming works in general, but I think the new old cluster is kept around until the new one is initialized?

[2019-01-26 01:14] snowp commented on #4926
@worldwise001 Will you be able to pick this up anytime soon? If not, we can get this marked as help wanted in case someone else wants to pick it up, it seems like a generally useful feature.

[2019-01-26 01:24] gsagula opened #5727 "Make ext_authz gRPC service cross-compatible with V2Alpha version"
*Description*:
After version [migration](https://github.com/envoyproxy/envoy/issues/5138), filter became incompatible with services running v2Alpha. Envoy needs in some way to support both versions.

https://github.com/envoyproxy/envoy/blob/7725a97aef4412d2caba5b6077df92f487fad063/source/extensions/filters/common/ext_authz/ext_authz_grpc_impl.cc#L20

[2019-01-26 01:45] gsagula commented on #5727
/assign @gsagula

[2019-01-26 04:39] #5726 closed

[2019-01-26 08:15] lizan opened #5730 "refactor CI bazel options"
It is extremely hard to follow bazel options being set via environment variables in several places across different scripts. I'm proposing having a single `.bazelrc.ci` with several config to control CI bazel options. We can still leave *_EXTRA_OPTIONS for customized run though.

If no one object I will work on it.

[2019-01-26 09:17] #5057 closed

[2019-01-26 12:01] ramaraochavali commented on #5168
I guess we are saying the same thing. Finish warming of the cluster only when there is a EDS response for that cluster - with both new cluster properties and supplied hosts. Till that time let the old cluster work as is ( That is what I meant by work with existing values). Stop
Initialising all clusters on empty CLA response.

[2019-01-26 16:09] crockeo commented on #5720
I'm not too familiar with the project, but for what it's worth, request / failure counting seems to be working as intended according to `//api/envoy/v2/endpoint/load_report.proto`:

[code]

It seems your first proposal is already implemented, it just only counts server errors as errors. The second is likely useful, but I'll defer to someone with more experience with the project (see: more than 1 P

[2019-01-26 20:50] AndresGuedez commented on #5329
I'm still planning to work on this.

[2019-01-27 02:37] mattklein123 commented on #5730
+1 I agree what we have now is very confusing.

[2019-01-27 15:41] htuch commented on #5168
I'm not sure if we want to force an EDS update on CDS update; in general it's hard to predict whether a CDS update needs a corresponding EDS update and the management server shouldn't have to bump EDS version on every CDS version bump; if there is no EDS version bump then there is nothing to serve.

I think for complex updates, it might be conceivable that you do make-before-break by using a new c

[2019-01-27 16:53] mattklein123 commented on #5697
This plan looks good, with the caveat that we won't be able to add Redis cluster specific clusters or load balancers to Envoy core. This will require new extension points. Assuming you are willing to do all of this work (incrementally in small PRs) this sounds like a very exciting addition to Envoy!

cc @htuch for doc comments on extension points for clusters and load balancers. LB extension is al

[2019-01-28 00:48] htuch commented on #5697
+1 on extension points for new cluster and LB types. After chatting with gRPC-LB folks, they also want to add the ability to have the address of the endpoint delivered in an opaque form, e.g. `/some/path`, then resolved via a custom resolver to a set of endpoints (i.e. not a single one as done by the resolver extension today), then LBed against, so I think there is some common interest here.

[2019-01-28 02:36] rshriram commented on #5174
fwiw, there is already a validate_clusters option in the route configuration. So, you have option 1 implemented in Envoy (if I read this long thread properly). Option2 to me has some drawbacks. EDS update received or DNS resolved does not imply they were successful or that one or more hosts were obtained.

[2019-01-28 03:02] ramaraochavali commented on #5168
@htuch That is a good point. Should n't that mean for in an cluster update case, the warming of EDS cluster is a no-op and it should work with existing end points and EDS will respond when it has updated hosts as usual.

https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/cluster_manager.html?highlight=cluster%20warming#cluster-warming?

I think it makes sense to treat it like that go

[2019-01-28 03:58] jmarantz opened #5734 "thread: thread-factory singleton assertion"
Running `bazel test //test/exe:main_common_test --runs_per_test=1000` fails 24/1000 times.

[code]

IMO it would be cleaner to just plumb Api::Api& where it needs to go so we don't need a prod singleton. We will likely need it almost everywhere anyway; it will be carrying TimeSystem/TimeSource as well once https://github.com/envoyproxy/envoy/pull/5660 is merged, and will be available anywhere File

[2019-01-28 13:43] keesspoelstra commented on #5703
Is this mostly applicable to cross thread calls to the Dispatcher.post?

I've been looking at the libevent implementation of event_activate (enableTimer(0) use case).
A pipe or eventfd is already used to signal another thread when activating an event.
We would have no extra performance hit of extra kernel calls if we used a pipe/eventfd, because that is already happening under the hood.

[2019-01-28 16:39] mattklein123 commented on #5734
+1

[2019-01-28 17:21] snowp commented on #5426
Bumping to unstale this. Still planning on working on this

[2019-01-28 18:44] javiervazquezh commented on #5626
By reading #5654 it seems like there is a possibility to cap the header size to 64Kb.

Our use case requires to up the limit to 100Kb, it'd be great to not limit the header size to 64Kb. Is it possible to set the knob default value to 64KB and leave it to the user decide the actual max size?

[2019-01-28 19:08] auni53 commented on #5626
The limit is constrained by the codec limits, so it wouldn't work correctly even if the user bumped it up. I'm working on bumping up the codec limits after this though, so you'll be able to bump it pass past 100kb once i'm done with all of my work.

[2019-01-28 20:11] fredlas opened #5739 "config: partial rejections in incremental xDS"
In the review of #5466, the issue of partial rejections (when some resources have errors, but you still want to apply the rest and tell the xDS server you did so) came up. It was previously requested/discussed in #3079, but the current thinking is that *only* incremental xDS will have this feature, so I figured it deserved a new issue.

The incremental xDS gRPC protocol, as defined by [Incremental

[2019-01-28 20:14] fredlas commented on #4991
A list of subtasks to be done in the course of "fully implement incremental xDS", starting with what I am currently working on:

- [ ] Merge a working implementation of incremental CDS in Envoy (#5466)
- [ ] Convert all standard xDS implementations to use the incremental-style onConfigUpdate callback (translating by saying "everything was removed and these things were added"), to remove the hack o

[2019-01-28 20:39] AndresGuedez commented on #5734
I agree this makes sense given the ubiquity of Api::Api going forward.

@jmarantz Is the 'main_common_test' flakiness showing up on CI runs, or did this just manifest in your own testing?

[2019-01-28 20:43] jmarantz commented on #5734
I don't remember if I noticed it first in CI or testing an unrelated PR. But I repro'd it in a clean client yesterday.

[2019-01-28 21:48] jmarantz opened #5741 "Change test time-system default to SimulatedTimeSystem"
Currently, for historical reasons, the default time-system in tests is to use real-time. It would be preferable - less flaky and faster - to use simulated time. We should switch the default and then change back any specific tests that don't work well with simulated time.

[2019-01-28 21:50] jmarantz commented on #5741
this is a dup of https://github.com/envoyproxy/envoy/issues/4160

[2019-01-28 21:50] #5741 closed

[2019-01-29 01:10] krishamb opened #5742 "Envoy proxy for CentOS"
**Issue Template**

*Title*: Envoy Proxy support for CentOS*

*Description*:
  I am trying to compile envoy proxy code using the scripts. It pulls the Centos image from dockerhub but after that I get pcap group not found and no build scripts related to Centos. Ubuntu 16.04 has all the build scripts needed. Does it mean support is dropped for CentOS ? Greatly appreciate your help.

[optional *Relev

[2019-01-29 01:16] quanjielin opened #5744 "SDS/RDS sends two DiscoveryRequest with same config resource name"
1. envoy use config file
[config_dump.txt](https://github.com/envoyproxy/envoy/files/2805584/config_dump.txt)
in the config, there are only two unique sdsconfig (```default``` and ```ROOTCA```); so server side should  receive two stream requests(one for ```default``` and one for ```ROOTCA```) when envoy start (envoy may send more requests later depends on server side resp)
[code]

2. however, from

[2019-01-29 02:21] mattklein123 commented on #5742
The CentOS build containers were deleted because no one was maintaining them. We are looking for someone (or multiple people) who are willing to do this.

[2019-01-29 02:21] jwang0830 opened #5746 "Envoy as Redis proxy: does that affect throughput?"
*Title*: *Envoy as Redis proxy: does that affect throughput?*

*Description*:
We're currently using the open source Redis version (not cluster mode) and are considering switching to Envoy as a Redis proxy with the hope of more horizontal scalability to handle more traffic. Based on some simple load testing, it seemed that the throughput didn't improve after introducing Envoy as a proxy (a.k.a the

[2019-01-29 02:23] mattklein123 commented on #5744
@qiwzhang

[2019-01-29 02:31] qiwzhang commented on #5744
@JimmyCYJ Could you help?

[2019-01-29 03:49] krishamb commented on #5742
thank you very much matt. I am volunteering myself for CentOS.

[2019-01-29 05:00] snowp commented on #5742
There was an attempt at bringing it back in #5262 by @uromahn that might be a useful starting point.

[2019-01-29 11:02] taiki45 commented on #4526
@htuch I'm so sorry for bothering you, but could you remove "no stalebot" label from this issue and add "help wanted" label so that any others can take this issue again? I can't take this issue due to situation change.

Left my design note for this:

---

## Summary of previous conversation
a. To enable Envoy to get its xDS config from object storage like Amazon S3, we need some translations to em

[2019-01-29 11:03] jschlichtholz commented on #5554
I would request to reopen this issue since it causes problems for us and, more importantly, does not comply with RFC 7230:

https://tools.ietf.org/html/rfc7230#section-3.3.2

[2019-01-29 13:08] krishamb commented on #5742
Thank you very much snow. I dont find the build scripts related to centos in master git..I am also getting pcap group not found. I dont create pcap group before adding my user id. Ubuntu has all the scripts for build and environment.

Ambarish

Get Outlook for Android<https://aka.ms/ghei36>

From: Snow Pettersen
Sent: Tuesday, January 29, 12:00 AM
Subject: Re: [envoyproxy/envoy] Envoy proxy for Ce

[2019-01-29 13:41] ipuustin opened #5749 "A gtest change causes tests to fail."
**Bug Template**

*Title*: A `gtest` change causes tests to fail (for me at least).

*Description*:
Bazel tests fail.

*Repro steps*:
When I run `bazel test --verbose_failures //test/common/network/...`, I get a bunch of these errors:

    test/common/network/socket_option_factory_test.cc: In lambda function:
    test/common/network/socket_option_factory_test.cc:62:9: error: lvalue required as una

[2019-01-29 13:44] dnoe commented on #5749
FYI @akonradi

@ipuustin Can you indicate which compiler and version you are running?

[2019-01-29 13:47] akonradi commented on #5749
Trying to repro locally now. Not sure if it's related, but I believe Envoy targets the latest Bazel version, which is 0.22.0.

[2019-01-29 13:55] auni53 commented on #5626
TODO(me): pass the configured limits onto the individual codec checks.

[2019-01-29 13:57] auni53 opened #5750 "CircleCI Test Summaries"
Would be great if the CircleCI test output was more development friendly, e.g. so you can easily see what error or test failure happened when you open a CI page. Can this be accomplished by this "Set up test summary" thing I see on CI?

[2019-01-29 14:02] auni53 opened #5751 "Proposal: Apply one-class-per-file to conn_manager_impl.cc"
In my experience, the many class definitions all grouped together within conn_manager_impl.cc has made it way more difficult to understand the conn manager and its relationship to ActiveStream, callbacks, decoders, etc. Just recently I was trying to understand what an ActiveStream does, but got confused sorting through all the ActiveStream*Callback classes as well. This will get worse as the conn

[2019-01-29 14:04] alyssawilk commented on #5554
I'd be more than happy to fix it for response codes where it is not legal.

Is it causing problems in general or just for those? Changing Envoy to not add it for legitimate cases would likely cause problems for someone else, so would be a fairly high risk change.

[2019-01-29 14:12] ipuustin commented on #5683
The `error: 2` here is `SSL_ERROR_WANT_READ` from `SSL_do_handshake()`. This means that the handshake requires more data (socket becoming readable) and then someone to call `SSL_do_handshake()` again. When this happens you see the `handshake complete` message in the log.

[2019-01-29 14:13] jschlichtholz commented on #5554
We just saw problems with responses that have a 204 response code. Everything else I would consider a bug on our side.

[2019-01-29 14:25] ipuustin commented on #5749
Compiler is `gcc (GCC) 8.2.1 20181215 (Red Hat 8.2.1-6)`. I can try to update Bazel next to see if it affects this.

[2019-01-29 15:06] ipuustin commented on #5749
I upgraded Bazel and made sure the cache is cleaned but the problem persists.

However, if I use a different compiler (by setting `CC=/usr/bin/clang`), the compilation succeeds. So it looks like it could be a compiler issue with gcc.

[2019-01-29 17:22] junr03 commented on #5559
Big +1 from my perspective. We (Lyft) have definitely rushed on some feature deprecations if we have failed to pin point them with enough lead time.

Suggestion for 1) to additionally add a counter that gets incremented when as the deprecation warn logs get printed. I can see Lyft adding that stat to our dashboards in order to quickly see on deploy how many deprecated features we currently have, a

[2019-01-29 18:00] htuch commented on #5168
@ramaraochavali actually, looking at implementation, I think EDS updates always happen when a CDS update does today. I don't think it needs to, but that's the way it works. So, the description is accurate.

[2019-01-29 18:43] ivitjuk commented on #5174
I was able to start working on the option (2) yesterday. So far I have a [sketch implementation](https://github.com/ivitjuk/envoy/commit/75b2b4dc3923d625fe36808207830173bd6ae63c) for which I would like to get early feedback before I continue pursuing this idea further.

I put the implementation and testing details in the commit message. Let me know if that makes sense,

[2019-01-29 18:52] brian-pane opened #5754 "proposal: remove unowned fragment support from Buffer API"
*Description*:
The [Buffer API](https://github.com/envoyproxy/envoy/blob/master/include/envoy/buffer/buffer.h#L73) has an `addBufferFragment` method that inserts a reference to an externally owned blob of data into a `Buffer::Instance`. This is used mostly in test code.

I propose that we should remove this method, because its semantics are inherently dangerous. The caller is responsible for ensur

[2019-01-29 18:53] alyssawilk commented on #5559
Cool, I'm on it.

Annoyingly while there is a C++ 'deprecated' field in proto reflection it apparently isn't set.  Have reached out to the protobuf team to try to figure out what the deal is.

[2019-01-29 20:46] lizan commented on #5742
I do have an in-house CentOS build and happy to upstream if someone want to co-maintain :)

We can start with an image can only build release (i.e. without asan/tsan etc), I guess that is most are interested?

[2019-01-29 21:05] bdecoste opened #5762 "Move ssl implementation-based integration tests into extensions/integration"
Title: Move ssl implementation-dependent integration tests into extensions/integration

Description: Some of the tests in test/integration/ssl_integration_test.cc (e.g. SslCertificateIntegrationTest family) are dependent on Boringssl-specific behavior. Specifically, the tests depend on the exposure of SSL_CLIENT_HELLO and the SSL_early_callback_XXX functions. With openssl replacing boringssl the c

[2019-01-29 21:19] krishamb commented on #5742
Does the image have pcap group and build scripts for centOS ?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Lizan Zhou <notifications@github.com>
Sent: Tuesday, January 29, 2019 3:46:35 PM
To: envoyproxy/envoy
Cc: krishamb; Author
Subject: Re: [envoyproxy/envoy] Envoy proxy for CentOS (#5742)

I do have an in-house CentOS build and happy to upstream if som

[2019-01-29 23:19] mjpitz commented on #2941
@htuch : Joined

[2019-01-29 23:22] lizan commented on #5762
+1 to move them to extension/transport_socket/tls

[2019-01-29 23:53] mattklein123 commented on #5754
@brian-pane I think it's fine to remove if there is no real usage. I thought this was used at some point in prod code but I can't recall the history.

[2019-01-30 00:19] gsserge commented on #3170
Looks like no one is working on this one so I decided to give it a try.

PR #5765 only covers `Filesystem::fileReadToEnd` to keep it small. Other places can be covered in separate PRs if that's ok.

[2019-01-30 01:45] senthilkrajagopal commented on #4427
Helped wanted. Having this issue.

[2019-01-30 02:47] #3405 closed

[2019-01-30 09:05] carlosmayer opened #5769 "Multiple external auth filters per route"
*Title*: *Multiple external auth filters per route*

*Description*:
I would like to have more than one external auth filter associated with a route. Additionally, I would like to be able to enable/disable them on independently on a per-route basis.

Example:
Let's say I have two authentication services: AuthA and AuthB, that should allow or block a specific request.

And I have three routes:
1. /u

[2019-01-30 14:17] fkowal commented on #2066
I am tracking the same bug i think.
[code]
I this example the client send a tcp FIN, i guess this is what you mean as halfclose.
The Connection: close header is just a representation of that

[2019-01-30 14:47] alyssawilk commented on #5379
@HenryYYang I saw you land #5492 a while back - you folks moved over yet or should I give this more time?

(again no real hurry, I just want to make sure I get around to it eventually!)

[2019-01-30 15:43] alyssawilk commented on #5559
For stats, I'm not really keen on every caller of validate having to pass stats through in order to have this incremented.

That said, for run-time feature guarding (#5693 ) I was planning on making run-time a singleton, and doing fail-by-default warn-if-runtime-overridden for deprecated features.  I'd like to do the same thing for deprecated config fields - have a runtime option with the full nam

[2019-01-30 15:48] mattklein123 commented on #5769
@gsagula

[2019-01-30 15:49] alyssawilk commented on #5559
Alternately if we want to get really fancy (which I'm inclined to do) with the new 2 release cycle we could could default runtime to warn-only for one release, have our deprecate script remove the runtime default to fail-by-default for a release, and then finally file the removal bugs.

[2019-01-30 15:51] ramaraochavali opened #5770 "Management Server Identification"
Some times we would like to know to which management server instance, the running Envoy is connected to debug certain scenarios. Currently there is no provision to do that.

The proposal is to include a opaque identifier in `DiscoveryResponse` (similar to opaque identifier in `Node` of `DiscoveryRequest`) that management server can populate and send. On the Envoy side we can push a gauge stat indi

[2019-01-30 16:46] klarose commented on #1606
@mattklein123 I have recently considered this as a solution to a challenge we're facing, and may be able to help at some point after I have completed the original_src work. Do you have a breakdown of the work remaining/a design at all? Maybe we could split up the work.

[2019-01-30 19:49] #5694 closed

[2019-01-30 19:56] #5554 closed

[2019-01-30 20:45] gsagula commented on #4637
/assign gsagula

[2019-01-30 20:52] fredlas commented on #4974
I discussed this with @jmarantz this morning, and looked into the code. I see where pending_increment_ fits in and how it would be useful. Having the child keep a periodically updated shadow copy of the parent's gauges, which it combines with its own when presenting to the outside world, makes sense too.

All of that makes sense as things to be done for admin/pull-based stats. What isn't clear to

[2019-01-30 21:23] jmarantz opened #5777 "bazel build //api/... fails in clean client"
[code]

Note: there is a broken reference in api/envoy/admin/v2alpha/BUILD, which looks like it ought to be fixable like this:
[code]

But then there are more failures. It appears this might be related to some zero-sized BUILD files under //bazel/api/...

[2019-01-30 21:39] mattklein123 commented on #5770
At the API level this SGTM, however I'm not sure we should output this as a numeric gauge given that it's likely to be a string. Can this be output as some sort of admin endpoint? Potentially as part of config_dump?

[2019-01-30 21:40] mattklein123 commented on #1606
I haven't gotten back to this, and haven't refreshed my memory on the proper design given recent overall system changes. @klarose maybe LMK when you are ready to work on this and we can sync up and brainstorm?

[2019-01-30 21:51] mattklein123 commented on #4974
Correct, nothing needs to be done. Basically the push/sink model is a) get stats from parent, b) add them to local stats, and push/flush.

+1, this sounds like a great solution.

[2019-01-30 22:42] htuch commented on #5559
+1 on default runtime to warn-only, then fail-by-default. We could help the deprecate script make flips automatically by either having commit meta-data or having each flag specified via a proto file in the repository.

[2019-01-30 22:49] HenryYYang commented on #5379
We're still working on it.  Sorry for the delay.

[2019-01-30 23:06] HenryYYang opened #5780 "Cluster extensibility"
*Title*: Cluster extensibility

*Description*:
Based on discussion in #5697, clusters seems to be a natural first class extension point in Envoy.  It's useful to support different types of clusters (such as redis cluster) without having it as part of the envoy core.

[2019-01-31 00:48] HenryYYang commented on #5746
The Redis proxy shards both the read/write commands to multiple Redis instances, it doesn't handle replica.  Since you only have 1 primary, there's nothing for Redis proxy to horizontally scale to.

Also can you share some details on your test setup and how you're generating the load please?  Depends on the key/value size and the size of your batch, Redis might not be the bottleneck here.

[2019-01-31 01:09] jwang0830 commented on #5746
Thanks for your reply!

To provide more context: one primary + one replica is the setup with the open source Redis (no Envoy). Our setup with Envoy in test is two nodes behind the proxy (which should handle both read and write requests in my understanding).

We're generating the load using JMeter (apache's load testing tool), which hits an endpoint handled by test machines that then talk to Redis

[2019-01-31 01:30] lizan opened #5784 "CI improvement tracking"
*Description*:

This is a tracking issue for CI improvement, from what discussed in [last community meeting on 1/29](https://docs.google.com/document/d/1Yc4zkV-A_cC_R3C0u6D15WQAsRSxADs8p2l8UMMa4P4/edit#).

Target:
- At least one gcc build with full test suite for GCC compatibility
- CI on each PR runs under 45 mins vs currently ~2 hour for release run

AI:
- [x] 1. Add build profiling to existing

[2019-01-31 01:31] lizan commented on #5777
It is supposed to build with `@envoy_api//...`, it is structured to make `data-plane-api` independent from the structure of this repo.

[2019-01-31 02:48] mattklein123 commented on #5784
@lizan one thought: Write now we build/test all extensions, both because we have a monolithic build, but also because I think one of the server tests must compile everything. One thought is whether we could potentially somehow use staged builds to maybe build the prod code and then fan out some of the extension tests into parallel jobs. I'm not sure if this would save time or not but once we do so

[2019-01-31 03:31] mattklein123 commented on #5754
Oh right, sorry, I forgot about this.

[2019-01-31 03:50] htuch commented on #5770
Yeah, I think this should be a `Struct` or something, essentially a JSON object we can dump out on admin. Also related somewhat to https://github.com/envoyproxy/envoy/issues/5405 (but in the other direction..).

[2019-01-31 05:33] ramaraochavali commented on #5168
We actually send the typeUrl as `type.googleapis.com/envoy.api.v2.ClusterLoadAssignment` with no resources added. We do not add the ClusterLoadAssignment for a cluster if we do not have end points.

[2019-01-31 12:05] fkowal opened #5788 "Envoy "Connection: close" causes 1s rq_time overhead"
Given the below configuration:

Request with __Connection: close__, causes envoy to delays the sending the tcp (FIN) / closing the socket by 1s.

Envoy sends the response data, rightaway (no delay visible in tcpdump / wireshark), the FIN / closing of the connection is the issue.
[code]

Request without 'Connection: close', works as expected
[code]

[code]

This looks similar to #234, we've noticed

[2019-01-31 12:37] fkowal commented on #5788
[code]

Here is the tcpdump

[2019-01-31 14:20] snowp commented on #5742
@lizan We'd benefit from a CentOS 7 build image, so I'd be up to help maintain it. Our immediate need is limited to using it to build a release + test our extensions.

[2019-01-31 15:56] alyssawilk commented on #5788
If it's a close due to early response, it's likely ConnectionCloseType::FlushWriteAndDelay which was introduced to address the race described in #2929

If that's the problem you could fix by adjusting  delayed_close_timeout in your HCM config but depending on how your client handles resets you might reintroduce the race described in that issue

cc @AndresGuedez

[2019-01-31 16:03] alyssawilk commented on #5754
Maybe worth adding a comment to the code that it's used downstream?

[2019-01-31 17:31] alyssawilk commented on #5754
Also tagging @ianswett @mpwarres to see if the QUIC folk are likely to make use of it upstream - I know they've done lots of zero-copy work for QUIC CPU improvements and it'd be a shame to remove if we'll need to add it right back in 6-9 months

[2019-01-31 17:33] genioshelo commented on #5754
Yeah we still use this for ustreamer integration to do zero-copy between
Google and Envoy buffers.

Best,
Shalom

On Thu, Jan 31, 2019, 11:31 AM alyssawilk <notifications@github.com wrote:

[2019-01-31 17:49] brian-pane commented on #5754
I’m interested in learning more about the QUIC zero-copy needs, too. Depending on the specific needs, there are alternate ways we could support zero-copy in the buffer API while still maintaining safer lifetime semantics than `addBufferFragment`.

[2019-01-31 18:29] fredlas opened #5790 "stats: New type(s) of Metric"
Gauges are currently being repurposed for not-particularly-gaugey things, like [hashes](https://github.com/envoyproxy/envoy/blob/4e0b252a0b642e8ac669170130e2202244a53320/source/common/config/grpc_mux_subscription_impl.h#L58) and [booleans](https://github.com/envoyproxy/envoy/blob/4e0b252a0b642e8ac669170130e2202244a53320/source/common/config/grpc_stream.h#L61).

In #4974 I proposed separating these

[2019-01-31 18:45] jmarantz commented on #5790
RE variable-length stats: yes, but only after you resolve #4974 . In the meantime you can do one of several things:

- make a new stats base type that fits in the footprint of an existing Counter, which gives you a couple of uint64s worth of characters, which might be enough.
- make a finite table of string-values in the binary and store an index to them in the hash value. You'd have to never re-u

[2019-01-31 19:17] curiouserrandy opened #5792 "Mutable server options allow races with unpredictable effects"
*Title*: Mutable server options allows confusing information flow

*Description*:
An Envoy::ServerImpl is configured with an instance of Envoy::Server::Options.  That argument to the ServerImpl constructor is non-const and is passed by reference.  This allows the envoy server to mutate the Options class, which seems like the wrong direction for flow of information.  Instead, the reference passed t

[2019-01-31 19:19] curiouserrandy commented on #5792
/assign curiouserrandy

[2019-01-31 19:22] mpwarres commented on #5754
In some deployments we receive packets via an mmap'ed ring buffer (using PACKET_RX_RING), in which case the memory backing the packet payload belongs to the ring buffer, rather than being caller supplied.

[2019-01-31 19:31] fredlas commented on #5790
The temporary solution is probably not worth any work, given that no text stats even exist yet, so it would be either option 1, or text stats should just be blocked on #4974.

Unfortunately, the new non-text types intended uses are kind of all over the place. The three representative examples I've found (so far) are bools (good for Enum), version numbers (passable but not great), and hashes (that

[2019-01-31 20:02] dnoe opened #5795 "Ratelimit integration test failure flake with ASAN"
*Description*:
Saw a flake under ASAN of the ratelimit integration test. PR in question did not change anything relevant to the test.

[code]

*Call Stack*:
[code]

[2019-01-31 23:36] mattklein123 commented on #4974
Yeah I was very surprised by the original number. This sounds more like what I was expecting. Still, I think your plan of having different more intentional stat types sounds perfect to me and I don't think would be very hard to implement.

[2019-01-31 23:37] lizan commented on #5742
@snowp Great, then let's pick up this. I will try pull out our image build script into a PR in a few days.

[2019-01-31 23:38] mattklein123 commented on #5790
@fredlas if possible can you add the results of your search here in this issue? I think it would frame the discussion if we know what stats we are talking about. From my perspective, I think we probably need some type of "string" type, maybe a type of gauge that doesn't sum (is this a new type or just a param in the constructor?), maybe bool? I think it would be easier to discuss if we had the com

[2019-01-31 23:41] krishamb commented on #5742
That will help. I can also help out, if needed. Thanks.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Lizan Zhou <notifications@github.com>
Sent: Thursday, January 31, 2019 6:37:21 PM
To: envoyproxy/envoy
Cc: krishamb; Author
Subject: Re: [envoyproxy/envoy] Envoy proxy for CentOS (#5742)

@snowp<https://eur04.safelinks.protection.outlook.com/?url=https%3A%

[2019-01-31 23:57] #1947 closed

[2019-02-01 00:05] ianswett commented on #5754
As @mpwarres commented, I believe unowned buffers are necessary for using mmap'ed PACKET_RX_RING efficiently.

[2019-02-01 02:41] quanjielin commented on #5744
I added some logs(https://github.com/istio/envoy/commit/44d02ab9ed6c4d1de317ecb2901ac90823fa4b5d) and re-run.
 1. envoy config
[ingress_config.log](https://github.com/envoyproxy/envoy/files/2819835/ingress_config.log), all sds config are in dynamic clusters with two unique resource names
2. envoy logs
[ingress.txt](https://github.com/envoyproxy/envoy/files/2819837/ingress.txt), for one source name

[2019-02-01 03:35] ramaraochavali commented on #5770
@mattklein123  Agree with using(rather misusing) numeric stat for this. I guess it is out of desperation rather than a perfect fit. If new textual stat is available that would be awesome.

Let us add api and output it to config_dump in v1 for management server identification. Once that stat type is available we could just output it to stat as well (which would be very easy thing to do).

If this p

[2019-02-01 04:48] JimmyCYJ commented on #5744
Thanks for the investigation, but I don't think there will be a race condition in SecretManagerImpl. The cds updates all happen  in the same thread. Could you please dump the [map_key](https://github.com/envoyproxy/envoy/blob/da6a89aafbbdb55b28a20d8bd1eb52b7b0b63842/source/common/secret/secret_manager_impl.h#L53) as well, I would like to check if they are the same.

[2019-02-01 05:07] htuch commented on #5168
@ramaraochavali if that's the case, I think the `Cluster` in question will never see an EDS update, since internally the `Cluster` subscribes to a specific resource name. Going back to your proposal:

I don't think this works nicely, because of the subscription model we have for EDS; absence of a resource doesn't indicate it is now empty.

I'm inclined towards the idea of not having every CDS upda

[2019-02-01 10:59] atarlov commented on #3492
I get the same issue: upstream connect error or disconnect/reset before headers

curl to google from container works, 200 OK return

[2019-02-01 11:15] ramaraochavali commented on #5168
AFAICT, that is not the case at least for ADS based on my debugging. Here onConfigUpdate is called with empty resources for all clusters.
https://github.com/envoyproxy/envoy/blob/79dca84543663c3058574f519667d71f4111840e/source/common/config/grpc_mux_impl.cc#L171

In any case, I think while I started the issue thinking that it is a stats issue, there is an underlying issue of xDS protocol as well.

[2019-02-01 12:13] fkowal commented on #5788
Changing the __delayed_close_timeout__ did helped lowering the delay with the responses.

These metrics keep increasing, which I belive is an indication that varnish is not issuing a FIN after receiving the response.
*http.ingress_http.downstream_cx_delayed_close_timeout* and *http.ingress_http.downstream_cx_destroy_local*

Thank you @alyssawilk

[2019-02-01 12:13] #5788 closed

[2019-02-01 12:58] cube2222 opened #5807 "Starting envoy with one file for CDS clusters, and one for EDS endpoints, with 400 clusters gets stuck handling inotify events."
*Title*: Starting envoy with one file for CDS clusters, and one for EDS endpoints, with 400 clusters gets stuck handling inotify events.

*Description*:
Create a file for CDS containing 400 clusters in the format
[code]
Then create one file (endpoints.yaml) which contains endpoints for all the clusters with the format:
[code]

In the envoy config just use:
[code]

In the clean envoy docker ubuntu

[2019-02-01 13:44] jmarantz commented on #5790
What are the operational differences? To me one critical difference is that all of the variants you suggest cannot be accumulated arithmetically. Opaque seems a good name, or maybe Symbolic?

[2019-02-01 14:52] cube2222 commented on #5807
Sorry, not starting in any reasonable time with fs.inotify.max_queued_events and fs.inotify.max_user_instances raised was because of the log_level being set to trace.

[2019-02-01 15:14] fredlas commented on #5790
envoy/src/source/common/config/filesystem_subscription_impl.h
66 stats_.version_.set(HashUtil::xxHash64(message.version_info()));

envoy/src/source/common/config/grpc_mux_subscription_impl.h
58 stats_.version_.set(HashUtil::xxHash64(version_info));

envoy/src/source/common/config/grpc_stream.h
61 control_plane_stats_.connected_state_.set(1);
73 control_plane_stats_.pending_requests_.set(queue_size

[2019-02-01 15:31] fredlas commented on #5790
Yeah, accumulation being nonsensical is definitely the number one differentiator here.

Doing all this with just a new constructor param could be a very good idea; it would be a way smaller change. So, you'd just have a bool accumulatable(), and have the hot restart logic be based on its value?

With that approach on the table, the question of whether to split out an opaque and/or bool type comes

[2019-02-01 15:32] franklin-stripe opened #5808 "Add file `mode` to `Pipe` listeners"
*Title*: Add file `mode` to `Pipe` listeners

*Description*:
Envoy can be configured with Unix domain socket listeners via the `Pipe` `Address` type. By default, these sockets are created such that only the file owner can read and write to them, and the typical umask of `0022` prevent access from group or world. We have a use case where we'd like to grant fine-grain access to individual `Pipe` lis

[2019-02-01 15:37] fredlas commented on #4974
:blush: haha yeah, whoops. (A link for completeness: I listed those uses over in #5790).

[2019-02-01 16:46] mattklein123 commented on #5770
Yes let's start with the API change and go from there.

[2019-02-01 16:48] mattklein123 commented on #5808
Sounds reasonable to me.

[2019-02-01 17:41] htuch commented on #5807
Yeah, this looks like a bug to me; we probably want something similar to gRPC mux for filesystem subscriptions; a shared provider that is capable of watching a single filesystem resource and splitting to all the watchers.

[2019-02-01 18:02] htuch commented on #5168
@ramaraochavali I think we first need to agree there is an implementation issue vs. a documentation one. This comes down to "is it a bad thing to refetch EDS on a CDS update and always warm?".

I'm in two camps about this; OTOH, it's simple to just refetch on every cluster update, OTOH it's conceptually cleaner to not do unnecessary fetches.

What's actually going on in reality is that Envoy has a

[2019-02-01 19:19] HenryYYang commented on #5746
The number of operations per second would be a good measure.  I'd suggest limit the batch size to <1000 in general.  The larger your batch size the larger the buffer that's needed and the longer other requests have to wait.

But before you do that, I'd suggest that you monitor you network bandwidth, cpu and memory on both the client machine and redis first.  Then you can figure out the bottleneck

[2019-02-01 19:27] auni53 opened #5810 "Add response header limiting"
Other half of #5626.

Roadmap:
- [ ] Add response header limiting
- [ ] Add max_response_headers_kb configurable field
- [ ] Add extra checks to the codec

[2019-02-01 19:32] auni53 commented on #5810
@mattklein123

Could you weigh in on where in conn_manager_impl.cc this check should go?

Assuming it'll go in ActiveStream::encodeHeaders, I was thinking prior to draining (L1148), or prior to the stats call (L1220). Not sure how important the exact location is, but I'm assuming I'll check the response headers size and change the response if it exceeds the limit. As well, the 431 error would be i

[2019-02-01 21:15] htuch commented on #4196
We've seen a 15% regression in a cluster memory use scalability load test in the past 1-2 weeks, @snowp suggests potentially https://github.com/envoyproxy/envoy/pull/5367, but unclear.

I think we need to add a static load test for cluster memory use to presubmits to ensure we don't undo all the hard work being done in stats and elsewhere. It could be really simple, just spin up an Envoy with a la

[2019-02-01 21:21] lizan commented on #5749
I can also get this reproduced on `gcc (GCC) 8.2.1 20181127` Arch too, seems like a gcc 8.2.1 bug or a googletest bug that isn't caught in other toolchains. @akonradi

[2019-02-01 21:36] gennadiycivil commented on #5749
@akonradi I dont think we have [CI set ](https://github.com/google/googletest/blob/master/.travis.yml)for this version of gcc.

Does this code work internally?
we may consider adding this to the CI, a travis PR would be welcome.

[2019-02-01 21:37] jmarantz commented on #4196
See @cmluciano 's #5519 for resolving #5201 .  @cmluciano are you able to make progress on that? Happy to chat over Slack or whatever.

[2019-02-01 23:13] ivitjuk commented on #5174
@htuch can you check the POC I posted in the previous message? My concern with that approach is that pausing the whole CDS might have negative impact on the resource update latency. If that's the case, it seems to me that `api_state_` in `GrpcMuxImpl` would need to become aware of the in-flight updates so we don't process them in `queueDiscoveryRequest()`.

[2019-02-01 23:33] snowp commented on #4196
@htuch Do you know what Envoy shas the increases map back to? The linked PR was merged in late December, so if the regression started manifesting in the last few weeks it might be caused by something else.

+1 on having memory regression tests in CI. It would be awesome to also have historical perf/resource consumption graphs (kinda like how gRPC does it), but that's obviously a lot more work.

[2019-02-02 01:50] EricWF commented on #5749
I reduced the issue (https://godbolt.org/z/wrCQ53)
[code]

I've also gone ahead and filed a GCC bug. See http://gcc.gnu.org/PR89158

[2019-02-02 06:56] ramaraochavali commented on #5790
I think having  string type would be a valuable addition. Some thing like `server.version` could potentially benefit from it apart from the other use case about management server identification we were discussing in #5770

[2019-02-02 07:10] ramaraochavali commented on #5168
@htuch

This is exactly the problem I am highlighting irrespective of the argument whether what we have today is correct or not. I agree with your reasoning on both the camps though. Also as a end user I am also confused about why envoy is touching a resource (cluster) when my response does not have a reference to it in EDS (I understand how it is working the way it is - just highlighting the end

[2019-02-02 15:01] crockeo opened #5817 "Add a Protobuf definition for gRPC codes"
*Title*: Define gRPC statuses as a proto, instead of in `//include/envoy/grpc/status.h`

*Description*: Currently, if a feature needs to refer to a gRPC code in its Protobuf definition, it needs to create a gRPC status enum inside its proto, as in #5682, and what will likely happen with #5720. In order to prevent code duplication, gRPC codes should instead be located in a central proto, e.g. `//ap

[2019-02-03 01:37] mattklein123 commented on #5790
Subclassing sounds fine to me. Great thanks for the list @fredlas. Looking at this, I think if we can get a bool type (which you already started) and a string type (per @ramaraochavali) I think we will be all set. And then probably some type of non-accumulating gauge.

FWIW, these are the ones I'm most concerned about and will need some thinking on what we do about them from an operational perspec

[2019-02-03 03:05] htuch commented on #4196
@snowp we do batched imports of PRs ~once a week, so it's hard to point to the specific SHA, we've lost that information by time out internal load tests run.

I'm not hugely concerned about the specific regression, since it's likely just a few fields here or there in endpoint or cluster data structures, we know there is some room to improve this via https://github.com/envoyproxy/envoy/issues/3278.

[2019-02-03 06:54] PiotrSikora commented on #5587
@sprakriti sorry for the delay. I think it would be helpful if you opened a PR with whatever you have right now and marked it as work-in-progress (`[WIP]`), even if the timezones don't work, because it's one of those cases when you need to try a few variants before you get desired results, and it would be easier for others to comment and/or suggest how to make things work if there is some code to

[2019-02-03 07:16] Mydaymatt commented on #5742
I am running tomcat and MariaDB on docker container, can i add envoy on top of tomcat? Is there any example?

Thank you in advance :)

[2019-02-03 17:59] srinivasganapathy opened #5819 "Stats: Envoy "upstream_rq_xxx" stats are inconsistent across hot-restart"
We are running Envoy proxy version 1.8 and are having inconsistency reported across hot-restarts.
Looked around the documentation and discussion boards, there isn't much of discussion around this level of inconsistency.
So it may turn out that we are missing some config/cmd line parameters.

Below is the output of "ps" command:
=========================
[root@localhost ~]# ps -eaf | grep envoy | g

[2019-02-03 20:07] jmarantz opened #5820 "time: Pass TimeSource rather than TimeSystem around."
TimeSystem leaks the Libevent API, so it would be better if it were loss broadly visible.

TimeSystem adds only one API: createScheduler, which is used only in the Dispatcher. So there's no need for all the Envoy code to be aware of it and the Libevent API.

It is necessary to expose the Libevent API, however to the SimulatedTimeSystem. This may become easier to reason about when we have an abstra

[2019-02-03 22:09] mattklein123 commented on #5820
We do have pretty complete abstraction, dispatcher. :) Per offline convo, I think what we can do here is instead of creating timers off of `TimeSystem`, have a `DispatcherFactory` which makes dispatchers. And then we can have a `LibEventRealTimeDispatcher`, `LibEventSimTimeDispatcher` which derives from the real dispatcher but overrides the timer creation functions, etc. I think this would be pret

[2019-02-04 02:46] htuch commented on #5168
In https://github.com/envoyproxy/envoy/issues/5168#issuecomment-459812020 I'm suggesting something slightly different. The idea is that gRPC mux implementation could cache previously received EDS responses.

Imagine you have cluster X and you have received an EDS assignment Y for X. This happens when X warm for the first time on creation. Now, you update X via CDS. The idea is that gRPC mux implem

[2019-02-04 03:01] htuch commented on #5174
@ivitjuk I had a look, it seems reasonable to me what you are doing. I'm not sure if modifying `GrpcMuxImpl` would change latency, but maybe I'm missing something. I'd be interested in seeing tests to validate things like having two CDS updates back-to-back with only partial warming completed after the first CDS update. So far, we have only used `pause`/`resume` synchronously, so using them async

[2019-02-04 03:03] htuch commented on #5174
@ivitjuk also, you might be interested in tracking where https://github.com/envoyproxy/envoy/issues/5168#issuecomment-457985329 is heading. It's not the same as this issue, but there is common ground on cluster warming and possible changes to `GrpcMuxImpl`. CC @ramaraochavali

[2019-02-04 03:55] ramaraochavali commented on #5168
I see. The approach of responding to EDS request locally would also work and it has the added benefit of not changing the protocol semantics - except that the response would come from local cache.

[2019-02-04 10:50] andrewwebber commented on #4740
If anyone is still having issues upgrading, check the order of your http filters as they have been inverted.

Breaks
[code]
Works
[code]

[2019-02-04 10:53] srinivasganapathy commented on #5819
Thanks for your quick response, another question we have:
Will the new architecture changes coming up with #4974 , will this change fix the current inconsistency with "/stats" API ?

[2019-02-04 11:57] bartebor commented on #4367
There are environments like kubernetes, where any 2xx response is considered healthy. We have many applications returning 204 as it has minimal size. This makes it hard to use envoy, because we would need to deploy healthcheck changes in many applications.
I understand you want to retain your 200-only healthcheck policy, but would you consider making this behaviour configurable?

[2019-02-04 13:08] donbowman commented on #4128
the issue is still underway, PR https://github.com/envoyproxy/envoy/pull/5670 is part of it.

[2019-02-04 15:17] mattklein123 commented on #4367
Yes we can definitely make this configurable.

[2019-02-04 15:18] mattklein123 commented on #5819
I'm not sure which inconsistency you are talking about, but if it's stats not showing up from the old process, yes, this will not happen anymore. With all of that said though, direct usage of the `/stats` endpoint is for local debugging and none of this should matter for large scale production use.

[2019-02-04 15:44] htuch commented on #5168
@ramaraochavali it's either that or have some way during cluster rebuild on update to handover a snapshotted EDS state. The latter might help localize this to `ClusterManager`.

[2019-02-04 16:03] cmluciano commented on #4196
Sorry I missed this notification. Yes I will progress on this today and reach out over Slack.

[2019-02-04 17:03] kindermoumoute opened #5828 "No x-request-id on direct response"
*No x-request-id on direct response*

*Description*:
When doing a curl on a directResponse route, I do not see the x-request-id header.

*Repro steps*:

Envoy config:

[code]

Run Envoy:

[code]

See the bug:

[code]

*What I expected to see*:
- `< x-request-id: xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx`

[2019-02-04 17:05] srinivasganapathy commented on #5819
Thanks for the quick response again, the inconsistency referred to was the below snippet from my original communication :

"upstream_rq_2xx" value is 7900 and "upstream_rq_200" value is 7864 and we do not know what is the difference value 36.
"upstream_rq_4xx" value is 1 while "upstream_rq_404" is 2, this is quite interesting and reversed in nature. This has the potential to put our calculations t

[2019-02-04 17:47] auni53 opened #5830 "Mac CI is broken"
Sample run: https://circleci.com/gh/envoyproxy/envoy/159733

Looks like it's happening on other people's PRs too. Seems to be isolated to the mac run.

[code]

[2019-02-04 17:59] auni53 commented on #5810
Basically, there can be malicious backends e.g. in our use case; so ya, protecting against upstream that does something bad. There's already response limiting present, just based on whatever the codecs limit it to. We want a configurable knob akin to the request one I just added, to turn the limit up as well adding testing for that.

We could reset stream in http2 and send 50X (i'll confirm) in ht

[2019-02-04 18:40] htuch commented on #5830
See https://github.com/envoyproxy/envoy/pull/5827

[2019-02-04 18:49] bkuberek commented on #3431
Any updates on this? I am in the middle of migrating all my proxies from nginx to envoy and just discovered that it doesn't support http2 downstream. Is there an active plan to solve this?

[2019-02-04 18:53] bkuberek commented on #1502
I was a bit surprised that this was in fact not supported, I'm migrating my servers from nginx to envoy and only after deploying our dev environment I realized it doesn't support http2 downstream.

We want to use envoy as a reverse proxy for our backends and we would like the frontend to use http2 connection.

Are there plans to address this? What would be a timeframe for delivering HTTP2 support

[2019-02-04 19:07] #5830 closed

[2019-02-04 19:41] alyssawilk opened #5834 "Add an HCM callback for stream completion"
We have several places in our code base where there's a bunch of code
if (end_stream) {
  onRquestComplete() / onEncodeComplete() / finish()
}
along with a few filters (e.g. #5674) where we have to do weird dances with addDecodedData to try to get those functions to be called on full body data.

It'd probably be worthwhile to have an explicit filter callback for onEncodeComplete / onDecodeComplete

[2019-02-04 20:13] fredlas commented on #5790
The stats classes are carefully implemented in a way to enable hot restart... but they don't themselves actually implement any of the hot restart handover functionality, right? In that case, I don't think subclassing is the most natural approach. Subclassing should be "I'm a type of Foo that behaves in this Foo-like but different way", whereas this is "Bar should do its processing on some Foos in

[2019-02-04 20:24] htuch commented on #5828
I think this is only intended to be inserted for request headers, not response headers. Do you have a use case requiring this on response?

[2019-02-04 20:51] taion809 opened #5835 "external filter bazel builds using envoy as a submodule fail to fetch external deps"
*Title*: *external filter bazel builds using envoy as a submodule fail to fetch external deps*

*Description*:

Reproduction Steps:
[code]

Example output:
[code]

cc: @htuch

[2019-02-04 21:34] jfbramlett opened #5836 "require_tls on virtual host results in 301 always"
*Description*:
Setting **require_tls: ALL** on a virtual_host filter results in a 301 response regardless of calling scheme.

*Repro steps*:
I am trying to creating a scenario where Envoy proxies both inbound and outbound traffic serving as both tls termination and origination. This gives me something like:

service A <- http -> envoy A    <---- https ----> envoy B <- http -> service B

envoy A an

[2019-02-04 21:45] taion809 commented on #5835
closing this, there is an existing PR on the envoy-filter-example which solves this issue.

[2019-02-04 21:45] #5835 closed

[2019-02-04 22:20] mattklein123 commented on #5810
I think the this likely needs to be done directly in both the HTTP/1.1 and HTTP/2 codecs, but client side. For HTTP/2 I think this is basically already done, it just needs to be done client side also. And then we need to do something similar for HTTP/1. The reason I think it needs to be done here is this is the only place that can protect against unlimited memory usage for headers. I think if we d

[2019-02-04 22:35] mattklein123 commented on #5790
Having some type of enum param to indicate transfer logic sounds good to me. My general advice is to keep this as simple as possible and just implement exactly what we need for the stats that we have. We can always expand things later.

[2019-02-04 22:56] fredlas commented on #5790
Agreed. I'm imagining the entirety of the implementation to look like

[code]

Perhaps we will end up with only the 'accumulate' and 'maximum' types, and never add a 3rd, but even in that case I think the "ways metrics can be combined" enum is nice to clearly convey how a given gauge works.

[2019-02-04 23:13] htuch commented on #5836
I'm pretty sure the `require_tls` fails because the `x-forwarded-proto` indicates `http`. TBH, I find all the info around how to configure for XFF, `use_remote_address` etc. very complicated, so not surprised users are hitting this issues when putting together a service mesh. @lizan @dio as our resident Istio experts, can you comment on how `require_tls` works there, where you have a similar HTTP

[2019-02-04 23:17] lizan commented on #5836
I don't think we set `require_tls` between sidecar proxies, we only set it in Gateways.

[2019-02-05 09:09] kindermoumoute commented on #5828
The `x-request-id` header is spread across all our service logs (even auth & rate-limiting) and sent to the client so we can track a client issue when they contact the support with a request id.

[2019-02-05 16:07] htuch commented on #5828
When not using direct response, how does `x-request-id` get reflected back to the client? AFAICT, Envoy is not inserting this in response headers itself. Does the backend do that?

[2019-02-05 16:24] mpwarres commented on #2557
Here is a [spreadsheet](https://docs.google.com/spreadsheets/d/1vcd8ERD1CRSECu2gU-Xmpd6Vj0GpC8mT_-BvhU7b6EM/edit?usp=sharing) that we are using to coordinate work porting the QUICHE platform impl (i.e. platform abstraction layer).

[2019-02-05 17:38] mpuncel opened #5841 "Support for request hedging (racing) on per try timeout"
*Title*: *Support for request hedging (racing) on retry timeout*

*Description*:
This issue is similar to #2784 (which discusses support for sending multiple simultaneous requests and using the first response to manage tail latency) however specifically pertains to handling of a timed out request. This would allow for sending a comparatively lower overall request volume than straight up hedging wh

[2019-02-05 17:41] alyssawilk opened #5842 "metadata-inspired HttpConnectionManager refactors"
tl;dr #5656 inspired a few of us I to take a look at the HCM to figure out if we could add generic useful features to the HCM to work around the issues described in the review of that PR, or if we should just do one-off complexity in the metadata handling.

We're leaning towards extending the filter return codes to allow for more flexibility, as well as debating how to handle filter "callbacks" wh

[2019-02-05 17:42] alyssawilk commented on #5842
@lizan @mattklein123 @soya3129

[2019-02-05 20:09] mattklein123 commented on #5828
Right now the only time envoy will response with `x-request-id` is when the https://www.envoyproxy.io/docs/envoy/latest/configuration/http_conn_man/headers.html#x-envoy-force-trace header is set. This is really old code that allows a similar use case of correlation. With that said, I do agree that Envoy returning `x-request-id` should be allowed/configurable. We could do this directly with a confi

[2019-02-05 21:26] cstrahan opened #5851 "API build system should use different repo name than com_github_gogo_protobuf"
The API build system's dependencies (more accurately, the choice of repository name thereof) causes a name collision. See `com_github_gogo_protobuf` defined here:

https://github.com/envoyproxy/envoy/blob/98a441f153fbecf3f7fc4c6135ed1bbcf9c7e49f/api/bazel/repositories.bzl#L200-L259

We have custom build of Envoy in which we support filters written in Go. One of our filters (written in Go) recently

[2019-02-05 21:53] gsserge commented on #3170
@htuch thanks for looking at the PR! Any suggestions where the `illegalPath` check is also appropriate? I've looked around the code base but couldn't find anything.

[2019-02-05 22:44] bartebor commented on #4367
How would you like to have this behaviour configured? Possibly the simplest way would be to add a boolean, default `false`, field to `HttpHealthCheck` such as `expect_2xx`. I don't think there is a need to specify individual HTTP codes, but who knows...

I could probably make a PR with implementation.

[2019-02-05 22:52] mattklein123 commented on #4367
@bartebor I know we have had other requests for configurable HC codes, so TBH it wouldn't be that bad to allow it to be fully configurable. What about just a repeated list of acceptable codes?

[2019-02-05 22:55] htuch commented on #5851
@jmillikin-stripe what's your thoughts on this? IIRC you educated us on the best practice of picking these names back in the day.

[2019-02-05 23:03] htuch commented on #3170
@gsserge Maybe all the publc methods in https://github.com/envoyproxy/envoy/blob/master/source/common/filesystem/filesystem_impl.h `InstanceImpl`? I think we can wrap this issue after that.

[2019-02-05 23:06] bartebor commented on #4367
I'm fine with that. Would an `expect_codes` array of ints do?

[2019-02-05 23:09] jmillikin-stripe commented on #5851
Envoy and Gazelle are both following the Bazel naming best practices. When upstream has no Bazel configs and two different repos want different build content, you'll get a collision like this.

I don't understand why `envoy/api/bazel/repositories.bzl` is defining GoGo dependencies, though. Has part of the Go control plane been upstreamed into the Envoy main repo? If so, Envoy should use https://gi

[2019-02-05 23:16] htuch opened #5854 "symbol_table_impl_test flake"
As seen in https://circleci.com/gh/envoyproxy/envoy/160033?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link:

[code]

[2019-02-05 23:16] htuch commented on #5854
@jmarantz thoughts?

[2019-02-05 23:21] htuch commented on #5851
I think the Go stuff is there for API validation purposes. @kyessenov do you have more context on this?

[2019-02-05 23:34] mattklein123 commented on #4367
@bartebor yup SGTM

[2019-02-05 23:49] ggreenway commented on #4367
I think it's more common to express this as a range, because the common settings are:

* 200 only
* exactly code X (such as 204)
* any 2xx or 3xx
* any 2xx, 3xx, or 4xx

For each of the above, expressing it as a range is as-good or better. Or if you need extreme flexibility, a `repeated` range.

[2019-02-05 23:57] cpakulski commented on #5363
Starting to work on it.

[2019-02-06 00:06] jmarantz commented on #5854
well we were afraid of this. I'll take a quick look and if I can't sort it out I'll just delete the test.

I was able to repro in tsan as wel.

[2019-02-06 00:07] jmillikin-stripe commented on #5851
If Envoy used rules_go's Gazelle to define its Go dependencies, then there wouldn't be a mismatch.

[2019-02-06 01:11] mattklein123 commented on #4367
Yeah sure, range SGTM.

[2019-02-06 05:14] codervinod commented on #2861
Have we made any progress on this FR? I am planning to work on this as we need it for my current project. If someone has started work, please reach out so that we can collaborate.

[2019-02-06 06:34] lizan opened #5856 "test: put test into unnamed namespace as much as possible"
*Description*:
There is no reason tests are not in unnamed namespace unless needed by `FRIEND_TEST`, they don't need external linkage. It also saves about 10% of compiling / linking time for the test.cc and binary based on my quick experiment with GCC.

[2019-02-06 07:02] bartebor commented on #4367
Ok, so now we have more options, and it becomes a little bit complicated. We could:
- make expected code set a string, something like `"2xx, 301-307, 401"` - this is quite readable, but one must know string syntax and we would need a parser (should not be a big deal though)
- `repeated` messages `HttpCodeRange` with either individual or wider range of codes; this objects could expose `oneof` prope

[2019-02-06 11:40] kindermoumoute opened #5858 "Connection manager removes headers after Route.request_headers_to_add"
**Use case**: need to cleanup a custom header from the request before adding it (or not) in routes.

**Envoy**: 1.9.0

**Config**:

[code]

**What I see**: `request_headers_to_remove`  in connection manager happens after `request_headers_to_add` in route config.

**What I expected to see**: `request_headers_to_remove`  in connection manager happens before `request_headers_to_add` in route config.

[2019-02-06 15:27] mattklein123 commented on #4367
@bartebor I would probably just use https://github.com/envoyproxy/envoy/blob/master/api/envoy/type/range.proto#L18. Technically you could make a new `UInt64Range` type if you want, but I would just do a repeated list of ranges and keep it simple.

[2019-02-06 15:35] mattklein123 commented on #5858
This might be the same issue @dschaller is working on but I'm not sure. Pinging him for comment.

[2019-02-06 15:58] snowp commented on #5841
@htuch @mattklein123 Thoughts on this "hedge on timeout" feature? If this makes sense I'll be working with Mike to come up with an design for configuring this + proposed implementation

[2019-02-06 16:15] htuch commented on #5841
@mpuncel I invited you to envoyproxy org so I can assign you the issue.

[2019-02-06 16:31] cmluciano commented on #5201
not stale, pushing new changes to PR today

[2019-02-06 16:31] jmarantz commented on #5201
/wait

[2019-02-06 16:57] mpuncel commented on #5841
Sounds good! The idea with the timeout approach is that you can cut tail latency while not multiplying traffic volume as much as you would with proactive hedging. Also if request processing time grows organically to surpass the timeout threshold then requests won't fail (although you'll get unnecessary load so you need a mechanism to find this situation and adjust the timeout appropriately)

[2019-02-06 17:17] cstrahan commented on #5851
@jmillikin-stripe

Perhaps that could be done for the Go codegen; how would the other languages (C++/Python/etc) be handled? Is there a label with which to refer to the proto directly, like `@com_github_gogo_protobuf//gogoproto:gogo.proto`? If so, `gogo_proto_cc` et al could be factored out of that repo. If not, I'm not sure what the "blessed" was is to solve this.

For the sake of making the gene

[2019-02-06 17:29] htuch commented on #2784
@mpuncel assigned.

[2019-02-06 17:42] jmillikin-stripe commented on #5851
Gazelle will generate the `proto_library` target, so you can depend on that proto target directly from the Envoy repository. This would let you define the C++ and Python targets from the Envoy repo.

You can also put the C++ and Python targets into a diff-formatted patch, and list it like this:
[code]

I don't have a good answer for the general problem of "diamond dependency on third-party code wi

[2019-02-06 18:00] MarcinFalkowski opened #5862 "Envoy is stuck in PRE_INITIALIZING state when management server doesn't respond"
This is a follow up to a previous issue: https://github.com/envoyproxy/envoy/issues/5622
First of all, thanks for that fix. It did help for the case, when management server doesn't accept TCP connection.

Hovewer, the problem still exists when management server accepts the connection, but doesn't send any response.
Envoy will be in `PRE_INITIALIZING` state forever in that case.

We tried to set `t

[2019-02-06 18:20] sgammon commented on #4400
@htuch, @snowp, was support added for the `grpc-exp` ALPN token, or no? just wondering as it seems dispatching grpc over `h2` works but not `grpc-exp`.

[2019-02-06 18:23] htuch commented on #4400
ALPN is configurable on Envoy, so you can just list this in `alpn_protocols`. But, this isn't a reliable way to route or select for gRPC, since it's not a real standard.

[2019-02-06 18:52] sgammon commented on #4400
@htuch thank you for the swift reply :)

understood, and i am successfully advertising `grpc-exp` using the config you mention. Envoy even selects `grpc-exp` upstream with my Java-based gRPC server.

however, i'm hitting the routing issue - i can't properly route gRPC _through_ envoy, from a client, unless i force the client to select `h2`, either by prioritizing it on the client end or withholdin

[2019-02-06 18:54] fredlas commented on #4974
Quick check-in before I get too far into implementing: it appears that there are currently just two things (memory_allocated and num_connections) that are communicated via RPC. So, essentially all stats - both admin and sink-handled - will need to be covered by what I'm building. Or, am I missing RPCs happening somewhere else?

I see that the current RPC setup uses sendmsg/recvmsg. That is necessa

[2019-02-06 19:16] htuch commented on #4400
@sgammon good point, we probably don't have the ability to switch to H2 codec. @mattklein123 would it be reasonable to also support `grpc-exp` here?

FWIW, some historical context. `grpc-exp` is something I completely made up when working on something internally which needed client side support for upgrading, and I was involved in making the gRPC client side changes to support this. That specific

[2019-02-06 19:21] dschaller commented on #5858
At the moment this seems intentional. Request headers are evaluated in the order route-action, route, virtual host, global connection manager. Headers to remove are evaluated before headers to add but since the connection manager happens last the header is stripped if present.

[The change](https://github.com/envoyproxy/envoy/pull/5502) I'm working on will change the way headers are appended and r

[2019-02-06 19:26] markdroth commented on #4400
The best person on our team to comment about ALPN-related issues is @ejona86.

[2019-02-06 19:46] bedis commented on #5536
What haproxy version?
Haproxy config is not even optimal :)

[2019-02-06 19:55] sgammon commented on #4400
@htuch thank you for the context on that. i have a question, then, because mostly my concern here is a failure to handshake between gRPC Java and our production systems (AFAIK, `grpc-exp` is supported in Java and C++ clients).

we host on google cloud in GKE, and we front our stuff with GSLB (using the new network endpoint groups feature). GSLB advertises `grpc-exp`, _in front of_ `h2` no less (se

[2019-02-06 19:58] sgammon commented on #4400
depending on your answer @htuch,  i'm not sure if the right move is to propose removing `grpc-exp` from `grpc-java`, vs. patching envoy somehow to allow routing by various ALPN tags, vs. some other approach i am not thinking of

we are happy to contribute or test or otherwise help however needed :shipit:

[2019-02-06 20:01] htuch commented on #4400
You're talking about GCLB I think, right? We use both GSLB and GCLB to mean different but related things. I know why GCLB advertises `grpc-exp`, since this is code I wrote, but as mentioned above, it was there to address a use case that doesn't exist today, but it hasn't been turned down.

I'm pretty surprised this only happens only over NPN; gRPC is strictly HTTP/2, which is strictly ALPN, NPN is

[2019-02-06 20:03] sgammon commented on #4400
@htuch i will defer to you regarding terminology, i am assuming GCLB == Google Cloud LB in which case yes. i am trying to illustrate that we use layer 7 LB not NLB but i presume that is obvious at this point.

thank you, i have what i need for us, but i'll keep monitoring here in case we can test or upgrade

[2019-02-06 21:50] htuch commented on #5862
See https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/init.html?highlight=initialization; does this reflect what you're observing?

[2019-02-06 21:52] bartebor commented on #4367
Thanks for your suggestions. Now it's time to dive into coding and make it work. I'll get back with a PR when it's ready.

[2019-02-07 03:57] ramaraochavali opened #5872 "Server State in Discovery Request"
In some cases, we would like know if Envoy is fully initialized from the management server perspective to respond. As an example, when Envoy disconnects and reconnects to a new management server(which does not yet have discovery data) as described in https://github.com/envoyproxy/envoy/issues/5168, we would like not send empty cluster load assignments. If we do it generically, we will be hit by ht

[2019-02-07 05:32] Deepak275 commented on #4496
I am also facing the same issue. Here is our scenario, we have a haproxy load-balancer, which does the  https offloading and append **X-FORWARDED-PROTO** *https*, and forward it to contour ingress which has envoy configured, it is setting up **X-FORWARDED-PROTO** *http*.  I get to know when i did the ngrep on the pod

[2019-02-07 07:03] ZedYu commented on #3124
Is there any recent development on this? This is really a desirable feature to use envoy as front proxy. If we had this, we could write their own filters easily.

[2019-02-07 11:16] #4919 closed

[2019-02-07 11:47] MarcinFalkowski commented on #5862
@htuch Does that mean that `timeout` parameter is broken? Or is its purpose different?
I set it to 1s:

[code]
but with no effect. The documentation simply states:

(https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/grpc_service.proto#core-grpcservice)

I can't find any other related timeout parameter.

[2019-02-07 12:16] #3648 closed

[2019-02-07 12:59] medalliaerlich commented on #5489
Adding a comment to prevent from being closed.

[2019-02-07 13:01] medalliaerlich commented on #5521
And about the referenced issue (https://github.com/envoyproxy/envoy/issues/5489), could that be done?

[2019-02-07 13:16] #5421 closed

[2019-02-07 15:45] thevks opened #5874 "Atomicity behavior of /reset_counters API"
Query on atomicity behavior of /reset_counters API

We are using 1.8 version of envoy in our product and the integration is really doing good.
However, I need to understand the behavior of **/reset_counters** API little more. Does this API always guarantee that counters are being reset atomically - especially the cumulative counters of like 2xx, 5xx?

So in a running system if 5XX is sum of 503 an

[2019-02-07 17:18] htuch commented on #5872
I'm trying to understand the first paragaph; you say you want to wait for Envoy to be live, but don't want to warm it? This isn't how Envoy initialization works today, so not sure how the rest of the ask here can function.

I think we should just fix #5168 without resorting to management server special sequencing, this is an Envoy-side issue.

[2019-02-07 17:23] htuch commented on #4496
I think https://github.com/envoyproxy/envoy/issues/5836 is also related.

[2019-02-07 17:30] htuch commented on #5862
These are connection-level timeouts for gRPC. Rereading the above, if you are stuck at application layer with gRPC, I think we don't timeout today because a common mode of operation is long poll; you send a request as an ACK and wait an indefinite period for the next response. It would be reasonable to consider adding a bound on this.

Another alternative would be to configure active health checks

[2019-02-07 17:49] htuch commented on #5739
@costinm please upvote with Istio context as discussed today.

[2019-02-07 18:50] alyssawilk commented on #5842
Ok, so I think the current plan is to go with the StopAllIteration filter code for at least headers (unclear if we need it for bodies as well) and losing the pure virtual for filter callbacks.

@soya3129 are you up for tackling these?  I think if we do this, then refactor the relevant filters, and disable metadata by default, we can come back to your latest metadata PR without adding StopIteration

[2019-02-07 18:56] mattklein123 commented on #5862
+1, I think adding an app level timeout is a reasonable thing to do, especially maybe for the initial fetch which should be basically immediate? `initial_fetch_timeout` or similar? Maybe we should mark this enhancement / help wanted?

[2019-02-07 19:00] mattklein123 commented on #5842
Thank you @soya3129 for being patient while we sort this out and being willing to work through this!

[2019-02-07 19:01] #5792 closed

[2019-02-07 19:01] #5686 closed

[2019-02-07 19:03] mattklein123 commented on #5872
FWIW @snowp did add init status to `/version_info` IIRC.

[2019-02-07 19:04] mattklein123 commented on #5874
It's just a for loop that runs through the counters and resets them individually, so it's definitely not atomic on a global level.

[2019-02-07 19:08] lizan commented on #5842
Thank you, the plan sounds good to me.

[2019-02-07 19:15] mattklein123 commented on #5841
@mpuncel @snowp this sounds great to me. This has been a feature that has been requested for quite some time. I don't think it should be TOO difficult :), as I did setup the router code to decouple upstream requests from downstream requests quite a long time ago, but it will definitely be a complex change. Please make sure to have some integration tests. All of the cool simulated time work that @j

[2019-02-07 19:17] mattklein123 commented on #4400
Sorry I think I'm missing something here, but how is grpc-exp different from h2? Can't we still route in content-type?

[2019-02-07 19:26] htuch commented on #4400
`grpc-exp` would let you make the route decision earlier, e.g. at filter chain match.

[2019-02-07 19:44] liviu-cristea opened #5876 "Retry on mid-stream resets result in 503 but no retry"
*Title*: *One line description*

*Description*:

Envoy periodically (very hard to repro) gets 503 with upstream_cx_destroy_remote_with_active_rq  being bumped up.
I tried using https://www.envoyproxy.io/docs/envoy/v1.9.0/configuration/http_filters/router_filter#config-http-filters-router-x-envoy-retry-on retriable-status-codes, made 503 a retryable error code, however the retry does not take place

[2019-02-07 19:51] mattklein123 commented on #4400
But isn't that already supported? I thought we allow matching on along name? Or is the issue that we just have to alias grpc-exp to h2 during codec selection? If so that is a trivial change.

[2019-02-07 19:55] htuch commented on #4400
Yes, I think you would need to alias during codec selection, and it's probably trivial. The question is whether it's worth supporting at all given that `grpc-exp` is not standardized.

[2019-02-07 20:04] alyssawilk commented on #5842
+1, thanks for picking this up, @soya3129

Bonus points if you come up with a better name than StopAllIteration if for no other reason than I keep reading this as Stop Alliteration ;-)

[2019-02-07 21:08] pitiwari commented on #5637
Hi Matt,
         We are moving to 1.9 from 1.7 and during this move we are hitting the issue where health status of EDS cluster is not taken into account. Since this is a major bug, do we plan to have another release for 1.9. say 1.9.1?

Regards Piyush

[2019-02-07 21:16] htuch commented on #5637
@pitiwari we only do minor releases for critical security issues, so you will either have to use HEAD or wait for 1.10 (likely end of March).

[2019-02-07 22:07] ejona86 commented on #4400
To be clear to everyone, the "exp" in `grpc-exp` means "experimental". It was added to play with things like this, but to be productionized I was expecting to replace it with a new string.

`grpc-exp` is the same as `h2` from grpc's perspective. The assumed semantics would be that it only contains grpc, but otherwise speaks normal HTTP/2. There should probably never be protocol differences; any pr

[2019-02-07 22:24] sgammon commented on #4400
@ejona86 thank you, that makes a ton of sense. i am really not worried about it now that i understand its intended purpose. for our own sake, forcing prioritized negotiation of `h2` in `grpc-java` fixes the issue.

perhaps it would be good to remove `grpc-exp` from the clients if there isn't going to be support for it moving forward. i am not 100% certain that it was causing our handshake errors (

[2019-02-07 23:13] luluzhao commented on #5644
Hey there, we noticed that envoy did 4 releases last year. Could we know what is the release plan for this year since we really want to add our X-Ray tracer into the release so that customer can start using it. Another thing is we are going to add AWS C++ SDK as one of dependency regarding implementing the our sampling strategy. Does your community could accept that we bring AWS SDK dependency int

[2019-02-08 00:04] htuch commented on #5876
I think this is a bug, @mattklein123?

[2019-02-08 03:28] ramaraochavali commented on #5872
@htuch Here is my proposal in short, if server state is available in `DiscoveryRequest`

- When the request comes for `ClusterLoadAssignments`, I would check if Envoy is in `PRE_INITIALIZING` state and if yes I would just send empty CLA if discovery information is not available. So the initialization would continue. However as we are discussing about adding application level timeout #5862, if it i

[2019-02-08 04:46] ramaraochavali commented on #5876
We have similar situation recently. We get `upstream connect error or disconnect/reset before headers` from the Client Envoy - But I am 100% certain that it is not a connect error because 5xx stat is not incremented but `rx_reset` stat is incremented in the upstream cluster. Would this fix cover that as well or do we need a separate retry policy for that?

[2019-02-08 05:07] #5637 closed

[2019-02-08 05:32] mattklein123 commented on #5876
It is by design that we don't support mid stream retry. Once response headers have been sent there is nothing we can do that makes sense other than reset.

[2019-02-08 05:35] htuch commented on #5876
@mattklein123 I think my use "mid-stream" above was a mislead; the OP describes a situation in which they see `upstream_cx_destroy_remote_with_active_rq` bumped and a 503 returned to client, but no ability to retry.  By mid-stream, I meant that we had an active request open with the upstream, not that we had started to stream back to client.

[2019-02-08 05:35] liviu-cristea commented on #5876
How can we workaround this? upstream_cx_destroy_remote_with_active_rq causes requests to fail with 503 in Envoy and there is no way to retry.
Does the reset that happen mean that the connection is re-established?
If yes, that explains why this is always transient.

[2019-02-08 05:38] mattklein123 commented on #5876
Assuming the response has not been started, we should be able to retry. We would need to look at the existing retry policies and see why they don't cover this case and potentially add a new one. I'm not sure if this is a bug or an enhancement request without understanding more details.

[2019-02-08 05:45] liviu-cristea commented on #5876
@ramaraochavali I don't think it's the same because for me 5xx counter and 503 does get bumped up.

@mattklein123 happy to provide more details.
- upstream_rq_pending_failure_eject gets bumped
- upstream_cx_destroy_remote_with_active_rq gets bumped
- 5xx and 503 get bumped
- no other correlations that i can tell so far. upstream_cx_close_notify is happening quite often, and sometimes at the same t

[2019-02-08 05:46] liviu-cristea commented on #5876
I don't think the response has been started. It seems to me Envoy has the opportunity to retry. It handles this by just returning a 503 for all those requests that got affected by that connection upstream_cx_destroy_remote_with_active_rq

[2019-02-08 05:50] liviu-cristea commented on #5876
Once we have a fix we can confirm it works as this reproes every 1-2 days. So I can offer that.
But when it does repro, we get paged because of all the request failures.

[2019-02-08 06:03] thevks commented on #5874
Thanks for the response..

[2019-02-08 06:10] nippip commented on #2852
@mattklein123 @adamkotwasinski
What help can you use on this project?

[2019-02-08 06:23] thevks commented on #5819
@mattklein123
As you mentioned, if envoy child process sees any dynamic counter (say 503) after hot restart, it should add up to its shared memory value. In that case, counter value should be incremental to shared memory value.
However, I see decreased counter values in come cases.
Would you please confirm this behavior? Is it a defect?

[2019-02-08 06:25] thevks commented on #5874
Does the **/reset_counters** API reset the shared memory or not?

[2019-02-08 09:29] ramaraochavali commented on #5876
@liviu-cristea  yeah. Thank you. It is not the same as what we are seeing.

@mattklein123  In our case we do see retries happening - `upstream_rq_retry` is incremented but `retry_success` is not incremented. The server side Envoy shows 503 and resets to local service instance. However client is not seeing 503s at the end of retry cycle which is kind of surprising to me.
Looking at the code when we

[2019-02-08 13:13] jmarantz commented on #5819
I think even without hot-restart you can see a difference in the /stats view like
[code]
Each stat value lives in its own atomic, and the /stats endpoint iterates through them. There could easily be 36 requests in between when upstream_rq_200 and upstream_rq_2xx are sampled.

I'm not saying that's what happened in your case, but I think you want to be mindful about the fact that the /stats endpoin

[2019-02-08 14:19] ksurent commented on #5862
More generally, will this prevent a situation where the old Envoy instance has already stopped accepting new connections but the new one isn't yet fully initialised/configured to be able to serve requests?

Something we've been thinking about for our Envoy installation is how to prevent a situation like this. We thought about adding health checks for the management cluster but intuitively it seems

[2019-02-08 15:42] jmarantz commented on #5820
Actually the API already creates dispatchers, so I think we're already there, and with the changes in #5845 plus another 20-file diff I have stashed, the API will be the only way to create a DispatcherImpl.

[2019-02-08 17:28] liviu-cristea commented on #5876
@ramaraochavali please cut a new issue for this.

I don't want to discuss 2 separate bugs/behaviors on the same issue.

[2019-02-08 17:33] htuch commented on #5862
@ksurent this is probably worth a separate issue to discuss, since what you're talking about is dynamic config continuity across hot restart. There's probably a bunch of ways to approach this with no Envoy side changes, including HC to indicate if Envoy is ready to serve, local xDS proxies, and also possible change to hot restart.

[2019-02-08 18:06] dopry opened #5880 "NS1StatsSink"
*Title*: Feature Request NS1StatsSink

*Description*:

Thanks for your time and consideration.

[2019-02-08 19:21] #5163 closed

[2019-02-08 19:47] htuch commented on #5880
@dopry can you use LRS or one of the existing stats sink? What format do you require if not?

[2019-02-08 19:55] thevks commented on #5819
@jmarantz
I understand this inconsistency.
However, I need to understand stats behaviour after hot restart. If a counter is having some value before hot restart (say 1000), I expect after hot restart it should always have increased value (1000+ or so, unless counter overflows). But in my observation, in some cases, I do see the counters are having lower values (say 200) compared to values prior to

[2019-02-08 20:01] oschaaf opened #5885 "Sharing support for clang-tidy (and maybe more) with other repositories"
Sharing support for clang-tidy (and maybe more) with other repositories

*Description*:
The envoy-perf repository now runs clang-tidy in CI [1]. In order to so,
some scripts had to be copied over from Envoy, resulting in code duplication.
This was needed because some minor changes were required.
It would be nice to have unified support for things like clang-format, perhaps via a
shared submodule.

[2019-02-08 20:14] jmarantz commented on #5819
OK I see. I don't think there's a defect; this is just how the system works.

In your case, before hot-restart, rq_2xx  was the sum of rq_200 and rq_201. After hot-restart, there were no 201 responses and an artifact of the UI is that it doesn't show any stats that haven't been updated since hot-restart. The rq_201 responses are actually *still there* in shared memory but the stat is not in the li

[2019-02-08 20:44] dopry commented on #5880
I'm not familiar enough with LRS to know if it can be configured for this use case.

[NS1 Feed API Documentation](https://ns1.com/api#postpublish-data-from-a-data-source)

example)
[code]
The properties in the dictionary are configured in NS1 when you define a feed.

NS1 requires an HTTP Post. None of the existing StatSinks offer and HTTP Post functionality that I am aware of.

[2019-02-08 22:42] adityats2020 opened #5889 "Forwarded header in place of X-Forwarded-* headers"
From the [docs](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_conn_man/headers#x-forwarded-for), Envoy adds `X-Forwarded-` headers before forwarding the request upstream. The [RFC Spec](https://tools.ietf.org/html/rfc7239) however indicates `Forwarded` header is the standard and other `X-Forwarded-` headers are non standard.
Here is a quote from the spec.

Nginx also recognizes th

[2019-02-09 00:14] ivitjuk commented on #5174
Published a PR: #5887

[2019-02-09 02:16] Y0Username opened #5891 "Support for retry policy per cluster"
Support for retry policy configuration per cluster:

Right now retry policy is supported per route and it doesn't play along well with WeightedClusters.
If I want different clusters to adapt different retry policies, it's not possible with the current configuration.

According to @htuch, when an Envoy retries a failed request, it will retry on the same cluster in the list of WeightedClusters. If t

[2019-02-09 03:10] ramaraochavali commented on #5876
@liviu-cristea Yeah. Makes sense, was thinking of doing the same.

[2019-02-09 06:08] justancoder opened #5892 ": Failed to load private key from /etc/example-com.key"
Envoy cant load the key file with passphrase.

I am following https://www.learnenvoy.io/articles/ssl.html for my project purpose. I want to enable tls security in envoy. According to the page which I am following, when rebuilding docker after modifying the yaml file, it should take the key and certificate file.

Logs when runnning coomand docker-compose up

/home/docker/envoy/examples/front-proxy>

[2019-02-09 08:40] mderazon commented on #4317
I think the same happens for 503 errors.
Problem with this is that in case of CORS headers not being added in the response, browser shows a CORS error in console and it often obscures the real issue that caused the 504/503.
People think it's a CORS issue, when it's really something wrong with the upstream service

[2019-02-09 11:17] rotemtam commented on #5720
Just in case someone wonders about this in the future. To activate gRPC status code, and success/error  instrumentation you need to enable the the grpc / http 1.1 bridge http filter. See
https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/grpc_http1_bridge_filter#config-http-filters-grpc-bridge

The name is a bit misleading, it will work also for proper grpc over http/2. As the

[2019-02-09 13:27] chetanc opened #5893 "route one rpc to another rpc from same service"
*Description*:
We want network devices to call rpc from one service and envoy should forward that to another rpc in same service. Message format is same.

This way we will benefit from network device sends stream different ports on Envoy but Envoy can forward it to another RPC so that the stream handling can be in separately handled.

E.g. There is grpc service StreamingUpdateService which has 3 r

[2019-02-09 17:04] unixsurfer opened #5894 "hot-restart while management server is unstable causes 404/503 to clients"
*Description*:

We performed a hot-restart in envoy (running in egress mode) in order to use a different port on the management servers. The hot-restart took place across several servers at once and we received alerts from applications with an increase of  404 or 503 responses from envoy.

We know that during the hot-restart process, the old instance stops accepting new connections and starts drai

[2019-02-09 20:57] mattklein123 commented on #2852
@nippip et al, I think we have a solid plan forward at this point which is starting in https://github.com/envoyproxy/envoy/pull/4950. I'm not sure of the status of that work (cc @adamkotwasinski) but I think the next step is to move that plan forward and start getting stuff merged.

[2019-02-09 21:01] mattklein123 commented on #5889
Because `x-forwarded-*` is very widely supported across the industry. That's not to say that we can't have a config option to us `forwarded` instead, but that's a different enhancement request.

[2019-02-09 21:06] mattklein123 commented on #5894
This will end up being extremely complicated and potentially impossible if for example some config option has been deprecated. Unfortunately there really is no way around considering your management system a tier 0 service IMO.

[2019-02-09 21:09] #5727 closed

[2019-02-09 21:14] mattklein123 commented on #5891
I'm not sure I full understand the request here. Can you clarify with an example?

[2019-02-09 21:19] jmarantz commented on #5820
I'm partway through a PR that does this, but I ran into a situation that requires an aesthetic choice that I want some feedback on before I go further.

In this PR I changed every place, mostly tests, that created a DispatcherImpl, to do so via Api::allocateDispatcher(). Since the API knows the TimeSystem, and almost no other prod classes have access to the time system, this feels like a good chan

[2019-02-09 21:24] mattklein123 commented on #5820
Could you just make a `ValidationApi` which is a sub-class of `Api` that knows how to do this correctly?

[2019-02-09 21:33] jmarantz commented on #5820
A subclass of Api::Api or of Api::ApiImpl? If of Api::Api, would create the ValidationApi and where would the TimeSystem come from?

I also noted that the call-stack where a ValidationDispatcher is created also has a Dispatcher (the main thread dispatcher). DispatcherImpl is constructed with a TimeSystem but doesn't currently save it, but it obviously could without extra dependencies.

So we could

[2019-02-09 21:35] mattklein123 commented on #5876
I'm switching this over from bug to enhancement request. I'm pretty sure if you retried on `5xx` you would see a retry (https://github.com/envoyproxy/envoy/blob/master/source/common/router/retry_state_impl.cc#L278), but you are only retrying on `connect-failure,refused-stream,retriable-status-codes`, which does not generically include this case, and I don't think we have a retry policy which retri

[2019-02-09 21:37] mattklein123 commented on #5820
I was thinking a subclass of Api::ApiImpl, but I haven't looked at the code enough to have a solid opinion. I guess my preference here is to try to fix the validation case in as targeted a way as possible without polluting the primary interfaces.

[2019-02-09 21:38] mattklein123 commented on #5872
My preference would be to close this out for now and fix the other issues until a time in which we can't solve a problem without this any other way? Basically I think we should try to keep the xDS semantics as simple as possible.

[2019-02-09 23:59] snowp commented on #5063
This is now fully implemented.

[2019-02-09 23:59] #5063 closed

[2019-02-10 01:31] ramaraochavali commented on #5872
Makes sense. Will close this now and wait for those fixes.

[2019-02-10 01:31] #5872 closed

[2019-02-10 02:40] jmarantz commented on #5820
I agree with the targeted approach, otherwise the current state of the code is really as good as it gets. I've just plumbed this in through.

The next challenge is LIstenerImpl, whose relationship with DispatcherImpl is expressed in terms of libevent structures, notably DispatcherImpl::base(), which is not in the Dispatcher pure API. This works fine in the production code, but not in tests. In tes

[2019-02-10 03:27] liviu-cristea commented on #5876
@mattklein123 please keep this open for a few more days. I will do the retry on 5xx to confirm. If it still doesn't work, then this can continue to stay a bug, correct?

[2019-02-10 09:07] brian-pane commented on #5754
Thanks for the context. For the mmap'ed ring buffer case, if we could redesign the buffer API from scratch, I'd propose using something like this:
[code]
where `Fragment` is an interface that describes a span of bytes. Then we could make a subclass of `Fragment`, called `PacketRxRingFragment` for example, where the destructor returns the memory slot to kernel space. That would give us zero-copy wi

[2019-02-10 09:07] #5754 closed

[2019-02-10 12:15] Deepak275 commented on #4496
here is to reporduce to [https://github.com/5long/envoy-forwarded-proto](envoy x-forwarded-proto header overwrite)

[2019-02-10 12:18] Deepak275 commented on #4496
Here is the link to reproduce the bug [X-forwarded-proto overwrite issue](https://github.com/5long/envoy-forwarded-proto)

[2019-02-10 13:28] unixsurfer commented on #5894
In this particular case, we didn't move to a newer version that could have rejected the config due to an option being deprecated. In case someone moves to a newer that may deprecate some options, then I **do** expect from that person to do the sensible thing to test the configuration against the newer version in a staging environment.

One of the major benefits of having data and control plane is

[2019-02-10 13:48] rinormaloku commented on #4638
I had the same problem on Windows using Windows Linux Subsystem.

WSL was not able to map the file and it was being mapped as a directory. **Solution:** I switched to Powershell.

Though in Powershell I had the infamous problem with files being CRLF instead of LF. Solution: Change the eol of the files to LF.

[2019-02-10 16:31] mattklein123 commented on #5894
The control plane is a tier 0 service in the sense that it is required to scale up / restart Envoys. If you utilize industry standard deployment processes (canary, rolling upgrade, etc.) you will not run into an issue here, and this is what we recommend. Basically, the complexity of doing what you ask is more likely to lead to an outage than using standard processes.

If you want to build higher a

[2019-02-10 16:32] mattklein123 commented on #5876
No, it's not a bug. We would need a new retry policy option to cover the type of error you are seeing if for some reason you cannot use the 5xx policy or another policy that covers it.

[2019-02-10 16:33] mattklein123 commented on #5820
It's hard for me to comment here without looking at a PR. I would say just go for the simplest option for now and we can discuss in code review? I see you opened a PR so I will take a look.

[2019-02-10 17:17] liviu-cristea commented on #5876
I see. @mattklein123 how come does 503 as a retriable status code not cover this? In my mind, 5xx is a superset of retriable-status-code where you put 503,502,504 in it, etc.

[2019-02-10 18:26] liviu-cristea commented on #5876
Looking at the comment, I assume this is what you were refering to @mattklein123 ? https://github.com/envoyproxy/envoy/blob/master/source/common/router/retry_state_impl.cc#L279

Basically the retry on reset which is baked into 5xx or gateway error. So I can try one or the other, until the policy in the comments gets added.

I might be jumping to conclusions to quickly, but the reason why retry fro

[2019-02-10 19:10] redbaron commented on #5445
@PiotrSikora ,

I was trying to setup envoy as a proxy to access Kubernetes API server when I encounter this problem.  APIServer authenticates clients in various ways, one of which is SSL certificate, but it is not always present, some other authentication methods use HTTP headers.

Envoy doesn't seem to allow it right now, because TLS related behaviour is configured in individual filters, which i

[2019-02-10 22:43] htuch commented on #5880
Ack, tagged this enhancement + help wanted.

[2019-02-10 22:58] toddmgreer commented on #868
I have a high-level proposal for an Envoy HTTP caching filter. It handles the full range of HTTP caching, including vary headers, conditionals, ranges, and validation, but delegates actual storage to a set of pluggable interface classes, to enable varied types of caching.

Please see https://docs.google.com/document/d/1WPuim_GzhfdsnIj_tf-fIeutK0jO4aVQfVrLJFoLN3g/view, and let me know what you thin

[2019-02-11 02:26] mattklein123 commented on #5876
I think it should cover this case, agreed. PRs appreciated. Should be a very simple change.

Correct. I would just retry on 5xx or gateway error if you can, otherwise getting this to work for you will require some type of code change.

[2019-02-11 03:59] thevks commented on #5819
@jmarantz, @mattklein123.
I understand the behaviour - where counter will be shown only as part of appropriate HTTP response.

However, I am asking the case, when counters are appearing after hot restart but their values are lesser than what it was before hot restart.

[2019-02-11 04:14] jmarantz commented on #5819
I agree that seems unfortunate. Did you observe that case? I could not find it in what you wrote above.

I would also phrase your description of the behavior differently:

This is subtly different from what you said. But I realize this might not be your main point. And apologies if I missed in your description a case where a single counter decreased in value across hot-restart. Can you remind me?

[2019-02-11 04:23] htuch commented on #868
@toddmgreer can you share from your personal gmail? We recently changed our policy to disallow design proposal that need whitelist ACL to access (I was the terrible person who last tried to do this ;) ). See the second point under Communication at https://github.com/envoyproxy/envoy/blob/master/CONTRIBUTING.md.

[2019-02-11 05:46] thevks commented on #5819
Yes, this exactly what I am talking about. Sometimes, counters are having decreased value across hot-restart. This is not reproducible always, however I observed it.

[2019-02-11 07:14] toddmgreer commented on #868
I had it shared properly, but somehow messed it up when I enabled comments.
I'll fix it when I get home.

On Sun, Feb 10, 2019, 8:23 PM htuch <notifications@github.com wrote:

[2019-02-11 07:45] toddmgreer commented on #868
Fixed permissions--the link I previously sent out should now be working
again:
https://docs.google.com/document/d/1WPuim_GzhfdsnIj_tf-fIeutK0jO4aVQfVrLJFoLN3g/view.
Sorry for the inconvenience.

On Sun, Feb 10, 2019 at 11:14 PM Todd Greer <tgreer@google.com> wrote:

[2019-02-11 10:13] thevks commented on #5819
@jmarantz, @mattklein123

I could able to reproduce the scenario:

1) **Envoy is running with epoch ‘0’**
----------------------------------------
    [root@localhost ~]# ps -eaf | grep envoy | grep -v grep

   envoy      388  7450  0 09:13 ?        00:00:00 /usr/bin/python /opt/envoy/bin/envoy_hot_restarter.py
  /opt/envoy/bin/start_envoy.sh

  envoy      393   388  2 09:13 ?        00:00:24 /opt

[2019-02-11 10:56] thevks commented on #5874
@mattklein123
What is the behaviour of /reset_counters API? Does it reset the whole sort of counters, even if they are not appearing (for the time being) in the context of newly created envoy process, after hot_restart?

[2019-02-11 11:17] unixsurfer commented on #5894
I agree, and this issue was a very good exercise for us as we patched our controlplane in a certain way, which yielded 10x more capacity. But, we can't do have 100% uptime; even 99.99% is quite difficult to achieve. Thus, the initial request/question to make hot-restart of envoy resilient to outages in the controlplane. Envoy does that already during normal operation, so it sacrifices consistency

[2019-02-11 12:52] sjvanrossum commented on #2861
Yep, I'm implementing this. I had planned to wrap up the PR two weeks back, but got caught up in my day to day.

@hagmonk that syntax is a neat way to hint or specify envoy specific connection properties.
@dio do we have any solid requirements for specifying envoy connection properties? Seeing as we can stuff them in different places, we could allow various implementations of routers to exist.

[2019-02-11 14:56] chetanc commented on #5893
I was able to get it working. I was using incorrect prefix rewrite options.

[2019-02-11 14:56] #5893 closed

[2019-02-11 16:10] ramaraochavali opened #5905 "rq_error stat on cluster"
We are debugging a retry failure with reset. Here is what is happening
- The request is sent to Server Envoy. The local service returned 503.
- The Server Envoy Stats `upstream_rq_5xx` is incremented.
- The Server Envoy sends back http status code `200` and gRPC status code `Unavailable`
- The Client Envoy retries the request `upstream_rq_retry` is incremented for the Cluster
- The retry fails wit

[2019-02-11 18:25] liviu-cristea commented on #5876
I am testing gateway-error right now. Results in 24 hours. If it works, then that tells me what code paths we need to hit in order for retriable-status-codes to work.
If we make the retriable-status-codes work, it might become a breaking change for the ones who already took a dependnecy on the fact that retries are made *only when* upstream explicitly returns that status code. If I make the PR cha

[2019-02-11 18:44] mattklein123 commented on #5819
I think what is happening here is that since there are no 503/5xx when the new process starts up, it does not attach to the shared memory stats slot. When the old process shuts down, it deletes the slot. Then when you introduce 503/5xx in the new process it allocates a new slot from scratch.

This is working as intended with the current shared memory system.

[2019-02-11 18:49] mattklein123 commented on #5894
This is dependent on your provisioning system. It's no different than canary, rolling or zonal deployment of anything else.

This is potentially doable, but would require a fair amount of thought, and I'm not sure it's worth the extra complexity.

[2019-02-11 19:01] mattklein123 commented on #5905
Probably just an oversight.

[2019-02-11 20:04] robertpanzer opened #5909 "bazel query fails, also import with Bazel VSCode plugin"
**Issue Template**

*Title*: Call of bazel query fails

*Description*:
The VSCode bazel plugin uses this command to find the targets of a project.
For Envoy it fails when it calls `bazel query`.
Calling the same command in a shell also fails:
[code]

*Repro steps*:
Run the command shown above

*Admin and Stats Output*:
This issue is not runtime related, therefore no admin or stats output

[2019-02-11 20:08] mergeconflict commented on #5909
See #5904. I somehow missed a file in #5886 :(

[2019-02-11 21:31] liviu-cristea commented on #5876
I can confirm gateway-error fixes it.

Thinking out loud:

I will look into making the PR that makes sure retriable-status-codes also covers this case.
I'm on the fence to be honest because then retriable-status-codes of 502,503,504 would become identical with gateway-error. Why have both options then? Why not deprecate gateway-error?

I'm thinking of reset-error to be explicit (finer grained cont

[2019-02-11 21:44] mattklein123 commented on #5876
I agree it's redundant, but TBH I don't think it's worth the deprecation churn in this case.

[2019-02-11 23:36] msukalski commented on #5697
@HenryYYang, @mattklein123, and @htuch -- I've just joined Workday, and I've been asked to extend Envoy to be Redis cluster-aware (Scott C., Sajith K., and Adam K. all say "Hi, Matt!"). Henry's proposal looks great, and I would love to contribute to the effort (including the new cluster and LB extensibililty types), if you can use the help!

[2019-02-11 23:42] troshko111 opened #5914 "http: gRPC-web filter does not clear the route cache"
*Title*: *gRPC-web filter does not clear the route cache*

*Description*:

*Envoy version*: `master @ 97d259d43a4f9b7c6d798804b4b2c9ffbd2d285d` (02/11/2019)

*Repro steps*:
Define a route explicitly matching gRPC traffic:
[code]
Define the http filters in the following order:
[code]

Send a gRPC-web request through Envoy

Expected: the request is upgraded to gRPC proper and routed to `lo_svc_grpc`

[2019-02-12 02:48] mattklein123 commented on #5914
Agreed sounds like a bug, cc @lizan @fengli79

[2019-02-12 03:00] fengli79 commented on #5914
@mattklein123 Agree the user facing behavior sounds not right. Regarding the impl, shouldn't clearRouteCache() something transparent to filters? It sounds error prone if we need each filter to manage the route cache at some point to make the proxying right.

[2019-02-12 03:01] mattklein123 commented on #5914
This is something that has come up before, and there is no great solution. Recomputing the route can be very expensive, and it's hard for the connection manager to know if a filter does something that might effect the route without a huge amount of work. I agree it's worth thinking about more, but for now we should just fix in the filter.

[2019-02-12 03:07] fengli79 commented on #5914
If it's very expensive, we should not clear it for each request.
Compare to lost efficiency and get such a route config be correct, I would prefer to get efficiency.
Is there a better place to support such routing? Like somewhere at config time?

[2019-02-12 03:50] mattklein123 commented on #5914
Sorry what do you mean?

[2019-02-12 03:57] ramaraochavali commented on #5905
Ok. I will fix it to add it to the cluster as well then.

[2019-02-12 03:57] ramaraochavali commented on #5905
/ assign ramaraochavali

[2019-02-12 04:10] fengli79 commented on #5914
I mean this is something should be resolved by the caching at config time. For example, if we can enhance the caching knows that a specific filter will produce a specific content-type, and this make the route cache able.
In this case, the user already has a workaround by defining a grpc mapping separately. If we change the filter to clear the cache, yes, this upgrade case will be supported at a pe

[2019-02-12 04:49] lizan commented on #5914
For this particular case, IMO we can add a flag into [`GrpcRouteMatchOptions`](https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/route/route.proto#L375), such as `include_grpc_web` so the route will match grpc-web request too before the filter, WDYT?

[2019-02-12 05:41] fengli79 commented on #5914
@lizan I don't think we should add any flag for this. It will be harder to deprecate them further.
@mattklein123 I list the potential solutions here:
1. Simply announce this is not supported, user should follow the workaround above.
2. Fix the route caching and remove the clearRouteCache() API from filters. In this case, if the request is modified by a filter, maybe it should trigger a route cache

[2019-02-12 05:43] fengli79 commented on #5914
@wenbozhu to find someone can actively work on this.

[2019-02-12 16:14] nippip commented on #2852
@mattklein123 Prior to #4950's inclusion into Envoy what is the best method for using Istio in a cluster which uses Kafka as the main message broker between the other services in the cluster?

[2019-02-12 16:23] christian-posta commented on #2852
That's probably a more appropriate question for the Istio mailing list

On Tue, Feb 12, 2019 at 9:15 AM Pippin Wallace <notifications@github.com>
wrote:

--
*Christian Posta*
twitter: @christianposta
http://blog.christianposta.com <http://www.christianposta.com/blog>

[2019-02-12 17:32] #5909 closed

[2019-02-12 17:43] ejona86 commented on #4400
@sgammon, that really sounds like a bug in the server. The server should select h2 if it doesn't understand grpc-exp. I'd suggest running wireshark and looking at the server's reply (ServerHello ideally, but it may be an error instead). The ALPN protocol selected is in the ALPN extension.

![screenshot from 2019-02-12 09-41-49](https://user-images.githubusercontent.com/2811396/52656072-7001e080-2e

[2019-02-12 17:50] troshko111 commented on #5914
To give some context from user's perspective, say I have a service, I put Envoy as a reverse proxy in front of it and want to direct all traffic through Envoy.

For historical reasons, the service listens on multiple ports for different types of traffic (e.g. gRPC, regular HTTP), Envoy present an opportunity to unify this and get rid of this port per traffic type pattern.

In addition to that, I'd

[2019-02-12 18:27] venilnoronha commented on #5892
Can you paste your `Dockerfile` here?

[2019-02-12 18:56] hanyu-liu opened #5920 "Multiple http filters don't work"
**Multiple http filters don't work**

*Description*:
I am trying to have multiple filters of http_connection_manager. The first filter doesn't have a http_filter of "envoy.ext_authz", whereas the second one does. In the ideal world, http requests try to match to the the routing configs in the first filter; if nothing found, try the second filter (with ext_authz).

For example, the OPTIONS request

[2019-02-12 19:06] mpuncel commented on #5841
doc: https://docs.google.com/document/d/1OsDjLtKUweQS0kEQDWs9VF4l46_leQ74dk-G2oQJoNI/edit?usp=sharing

[2019-02-12 20:56] #5455 closed

[2019-02-12 21:02] sgammon commented on #4400
@ejona86 if memory serves, it was originally a TLS alert, post-handshake. i've caught it over wireshark. ill try and dig up the screenshot.

in the meantime, it's easy when reading the source to interpret `grpc-exp` as needing to be prioritized, because that's what `grpc-java` itself does (see [here, where it is prioritized both for NPN and ALPN](https://github.com/grpc/grpc-java/blob/32d50eb3b3ed

[2019-02-12 21:02] sgammon commented on #4400
@ejona86 sorry for the russian novel but TLS is thorny 😄
hope that makes sense

[2019-02-12 22:12] #5905 closed

[2019-02-12 23:08] #5567 closed

[2019-02-12 23:17] nippip commented on #2852
Thanks @christian-posta, I will reach out there.

[2019-02-12 23:26] htuch commented on #4400
@sgammon thanks for the analysis. @ejona86 WDYT about either standardizing `grpc-exp` or dropping it? It wold be great if we can avoid this pitfall when using a mix of Google gRPC libs and non-Google.

[2019-02-12 23:33] #4170 closed

[2019-02-13 02:44] subhan-nadeem commented on #5892
@venilnoronha I'm having the same issue. The following is my Dockerfile, straight from the example:

[code]

[2019-02-13 03:38] fengli79 commented on #5914
"grpc" in the route match is more like a shortcut for varies application/grpc content-type headers.
For grpc-web, did you try?
[code]

[2019-02-13 04:27] justancoder commented on #5892
There is no error in dockerfile. The issue is when we generate .key and .crt file then we give passphrase. But we have to provide .key and .crt without passphrase or remove passphrase after creation. I am writing down the steps how to do that.

1. openssl genrsa -des3 -out server.key 2048
2. openssl req -new -key server.key -out server.csr
3. cp server.key server.key.org
4. openssl rsa -in server.

[2019-02-13 04:47] Sai-Adarsh commented on #5856
@lizan i'm interested with the issue, could you guide me through?

[2019-02-13 04:54] lizan commented on #5856
@Sai-Adarsh Thanks, I have some sample [here](https://github.com/envoyproxy/envoy/commit/6a2d2dc24c717a6497849dcb7d427c4b93a3020a), basically just put the whole test into a `namespace {` and `}` across all test files (and remove global `static` if there are), try build and test.

[2019-02-13 05:09] venilnoronha commented on #5892
I had added support for password encrypted certificates a few months ago. See
https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/auth/cert.proto#envoy-api-msg-auth-tlscertificate.

Essentially, you can supply the password (as file or text) via the `password` field similar to the `certificate_chain` and `private_key` parameters..

[2019-02-13 05:39] justancoder commented on #5892
yeah thanks. I should close this issue now.

[2019-02-13 05:56] subhan-nadeem commented on #5892
@venilnoronha I'm still facing the same issue despite inlining a password. Am I missing something?

I generate a certificate + private key using the following command:

`openssl req -x509 -newkey rsa:4096 -keyout example-com.key -out example-com.crt -days 365`

My Dockerfile is as follows (note the added "password" field:

[code]

[2019-02-13 07:20] poyaz opened #5930 "Redis rate limit example"
*Title*: *Redis reatelimit sample*

*Description*:
1) How to use rate limit in redis and tcp network?
2) and how use below configuration?
[code]

3) What is the best replacement for "xxxx", "yyyy"?

Config:
[code]

[2019-02-13 07:46] venilnoronha commented on #5892
@subhan-nadeem can you try generating it as shown in this diff: https://github.com/envoyproxy/envoy/pull/5175/files#diff-fb9b963bd49322dfcbfaf892ae4d45c6.

[2019-02-13 09:11] justancoder commented on #5892
@subhan-nadeem I think bit encryption should be 2048 instead of 4096

[2019-02-13 10:03] winguse opened #5933 "LDS cannot find new cluster because it's still warming up"
We are using an ADS service to deliver LDS/CDS to envoy. We found in some cases, it will fail to add new cluster because of LDS complaining about the newly added cluster is unknown.

Here is the sequence diagram of added a new cluster:

![image](https://user-images.githubusercontent.com/1443504/52702879-138ce700-2fb8-11e9-87ee-56c0dcdc7bb8.png)

So:

1. Is that possible to make Envoy ack CDS after

[2019-02-13 13:50] fkowal opened #5935 "stats_flush_interval ignored"
Hi

When envoy loses connection to the control-plane it starts sending 2 metrics every second:

envoy.test-service.global.XX.test-service_12345.cluster.envoy-control-xds.upstream_cx_length_ms:2|ms
envoy.test-service.global.XX.test-service_12345.cluster.envoy-control-xds.upstream_cx_connect_ms:1|ms

It stops respecting the [status_flush_interval](https://www.envoyproxy.io/docs/envoy/latest/api-v2/c

[2019-02-13 14:29] alyssawilk commented on #5894
I tend to agree that if your management server is down, it'd be better to improve reliability / resiliency there, or have control plane backup like config cached on disk.

That said, not having looked at the hot restart code at all, would it be plausible make that logic pluggable?    Then if folks want to go the other route and try to make Envoy resiliant they can, without making an already compli

[2019-02-13 14:38] alyssawilk commented on #5920
What you have here are 2 L4 filter chains in a row.  All TCP traffic will go into the first HCM, which will translate it into HTTP and send it upstream.  Envoy isn't designed so if route match fails in one HCM it will pass it on to the next network filter.

I believe you can achieve what you're trying for with HCM, one HTTP filter chain with ext_authz always present, then use the ExtAuthzPerRoute

[2019-02-13 15:11] mattklein123 commented on #5894
It's certainly possible, and I would be happy to review a proposal, but I think this will be a significant amount of work and my intuition tells me that it's not cost effective vs. improving the resiliency of the rest of the components in the system (deploy, management, etc.).

[2019-02-13 15:12] mattklein123 commented on #5935
For statsd (which I assume you are using), histograms are flushed immediately.

[2019-02-13 15:43] krishamb opened #5937 "Envoy build fails unable to load package"
**Issue Template**

*Title*: Unable to load package for '@com_lyft_protoc_gen_validate//bazel:pgv_proto_library.bzl' during bazel build

*Description*:

I am getting the following errors repeatedly for multiple packages during bazel build. I did bazel sync and it resolved few but still getting the following. Can we have a clean working scripts for dependencies ?

ERROR: Skipping '//source/exe:envo

[2019-02-13 17:01] poyaz opened #5939 "TCP proxy route by domain name"
*Description*:
I have two different PostgreSQL instance and i want route by domain name in port 5432 like below:

* if use `pg1.example.com` (for X application) got to cluster `pg1_cluster`
* if use `pg2.example.com` (For Y application) got to cluster `pg2_cluster`

and i don't know how to use filter or any other options in **tcp_proxy**

*Config*:
[code]

[2019-02-13 17:09] pedro-tramontin opened #5940 "Support for X-Forwarded-Host header"
*Title*: *Support for X-Forwarded-Host header*

*Description*:
Today envoy does not seem to forward the original host in a X-Forwarded-Host header, it just rewrites the original one and apparently there is no way to get the original host back again.
I found a reference for this header in the source code but it seems it is not being used anywhere else: (https://github.com/envoyproxy/envoy/blob/bbf5

[2019-02-13 18:24] jmarantz commented on #5201
/wait

[2019-02-13 18:36] mattklein123 opened #5942 "Slow network / local rate limit HTTP filter"
At Lyft we have a desire to build a slow network simulation system. This would allow debug versions of our applications to request various slow network profiles, without requiring attachment to a special access point, emulator, etc.

Our plan is to do this via a new HTTP filter that has roughly the following capabilities:
1) Allow latency injection in both the downstream and upstream direction.
2)

[2019-02-13 18:44] junr03 commented on #5939
This is not a feature of the TCP proxy, nor can it be done with the filter chain match as at L4 there is no  knowledge of domain name.

However, if you use the [http connection manager](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_conn_man/http_conn_man) you can create L7 aware routing rules like you describe.

[2019-02-13 18:45] alyssawilk commented on #5942
No opinion on which filter this goes in, but just one thought which is this seems like an L7 filter doing L4 work.  Are we planning on doing any enforcement if one stream on a connection asks for 3G semantics and another requests LTE, or just assume that since this is mainly for test purposes, it's on the operator to have proper client enforcement and just have the last update take precedence?

[2019-02-13 18:49] mattklein123 commented on #5942
My feeling initially is that it's up to the operator. Really the only reason that we propose doing this at the HTTP layer is so that the client can drive the test profile via headers. There isn't any good way to do this at L4 unless we build a proprietary prefix protocol (send some proto before any other data that is then stripped) which I suspect would be substantially more effort for most client

[2019-02-13 19:14] lafonj commented on #1861
I am very interested in this as well. If there is any way I can help, I would love to help push this through.

[2019-02-13 20:22] lavignes commented on #5215
This is on-hold right now since I'm waiting on #5387 to add the libcurl dependency (as mentioned [here](https://github.com/envoyproxy/envoy/pull/5546#issuecomment-452568475)).

[2019-02-13 20:25] htuch opened #5944 "Graceful handling of empty :authority header"
Today, when nghttp2 observes an empty `:authority`, it rejects the HEADERS frame and resets the stream. It seems this is problematic, since it seems legitimate to have an empty `:authority`, similar to an empty `host`, see https://tools.ietf.org/html/rfc7230#section-5.4.

Should we have a default authority configurable for HCM that is used when `:authority` is empty? My inclination is to add this.

[2019-02-13 20:50] troshko111 commented on #5914
True, but it gives a valuable benefit of executing the same logic as the actual filter, one does not need to make sure it's up to date with the filter, that it matches all of the headers in the same way etc. It's a useful abstraction.

Yes, it's in the original post (under work around).

I'd rather not match on headers manually and be worried I did not get everything right, but have these mini-opt

[2019-02-13 21:31] mattklein123 commented on #5944
Did you debug where this is happening? I don't see any obvious check along these lines here: https://github.com/nghttp2/nghttp2/blob/master/lib/nghttp2_http.c which is where nghttp2 does its section 8 checks.

Personally I wouldn't bother unless someone asks for it, but we should probably at least send a 400 or 404 or whatever we do when its not present in an HTTP/1 request. But either way first w

[2019-02-13 21:33] htuch commented on #5944
I think it's happening https://github.com/nghttp2/nghttp2/blob/d93842db3eb481fc6953ec70a81ed2f7863ffb45/lib/nghttp2_http.c#L90.

We might want this feature to ensure we provide compatible semantics between Envoy and non-Envoy proxies.

[2019-02-13 21:34] alyssawilk commented on #5944
@PiotrSikora as our spec expert :-)

We have a default host for HTTP/1.0 where it's explicitly allowed.  I think we reject empty-but-present hosts for 1.1 and I have no idea if it's even allowed for 2.0 but I bet Piotr does!

[2019-02-13 21:37] alyssawilk commented on #5944
FWIW we use default host for all versions of HTTP in-google (because existing behavior is hard to change) and I'd frankly love a configurable option to continue flouting the spec to not cause customers major pain as they adopt Envoy.  :-D
May be harder to sell nghttp2 folk if it's not allowed though

[2019-02-13 21:39] mattklein123 commented on #5944
If it's hitting this, you aren't sending an empty header, the value must only be LWS, right?

If I read the code it is allowed, it just can't start with LWS. That's from a quick skim.

[2019-02-13 21:46] htuch commented on #5944
The `lws` function validates that there is at least one non-whitespace character in the value. An empty string would fail this validation.

[2019-02-13 21:57] mattklein123 commented on #5944
Ah I see. Yes. Yeah I have no idea about the spec on this one.

[2019-02-13 22:02] htuch commented on #5944
@tatsuhiro-t would you be able to weigh in on how `nghttp2` considers this corner of the H2 RFC?

[2019-02-13 22:16] lizan commented on #5914
@troshko111 transcoding filter does clear route cache by default as it changes path/method and mostly change the route, so you can just match the request as normal grpc.

[2019-02-13 22:17] pitiwari commented on #5937
i am also hitting the same issue, we just moved from 1.7 to 1.9

[2019-02-13 22:43] gsserge commented on #3170
@htuch Not sure about all the public methods. `illegalPath()` as defined now cannot be used in `createFile()` because `canonicalPath()` requires the path to exist.

It also looks weird when it comes to the existence checks, e.g.
[code]

Do we actually want to prevent things like `server_->api().fileSystem().fileExists("/dev/null")`? This breaks some tests.

So far it seems that only `fileSize()` c

[2019-02-13 22:53] PiotrSikora commented on #5944
I believe [this](https://github.com/nghttp2/nghttp2/blob/d93842db3eb481fc6953ec70a81ed2f7863ffb45/lib/nghttp2_http.c#L482) is where it gets rejected by nghttp2, though I didn't verify it.

Per [RFC7540, sec. 8.1.2.3](https://tools.ietf.org/html/rfc7540#section-8.1.2.3), a missing `:authority` pseudo-header is allowed:

...but the "origin-form" doesn't apply to proxies (so it's illegal in Envoy, at

[2019-02-13 23:11] htuch commented on #5944
@PiotrSikora it's custom prober code. The point is that we (Google) need to maintain strict compatibility between our Envoy and non-Envoy edge proxies, including corner case behavior like this. I don't see where an empty `:authority` is disallowed, so unless there is an RFC argument to disallow this (and even then), we would like some option to support the behavior.

[2019-02-13 23:17] PiotrSikora commented on #5944
Sorry, got confused by the "origin-form" for a second, per [RFC7230, sec. 5.3.1](https://tools.ietf.org/html/rfc7230#section-5.3.1), "origin-form" should still include the `Host` header:

though it could be empty, per [sec. 5.4](https://tools.ietf.org/html/rfc7230#section-5.4):

So it seems that it's an empty `Host` header in HTTP/1.1 and omitted `:authority` header in HTTP/2.

[2019-02-13 23:29] PiotrSikora commented on #5944
@htuch per [RFC7540, sec. 8.1.2.3](https://tools.ietf.org/html/rfc7540#section-8.1.2.3):

The "authority" is defined in [RFC3986, sec. 3.2](https://tools.ietf.org/html/rfc3986#section-3.2) as:

which with the HTTP/2 clause about deprecated "userinfo" becomes:

"host" is further defined in [sec. 3.2.2](https://tools.ietf.org/html/rfc3986#section-3.2.2) as:

and an empty value is declared as invalid

[2019-02-14 01:04] troshko111 commented on #5914
Yes, that's exactly what I'm doing, I was saying that in the context of my comment [about potentially getting rid of the cache invalidation and using explicit matching](https://github.com/envoyproxy/envoy/issues/5914#issuecomment-462862833).

In both cases, I feel like the transcoding filter's behavior is not ideal as it tries to transcode everything non `application/grpc` which may potentially cl

[2019-02-14 01:19] fengli79 commented on #5914
Maybe even not ture for grpc. For example, if you want to blacklist a specific buggy client version, etc. A clear spec/doc about how to identify grpc/grpc-web is simpler and more transparent.

Sorry, I missed that part. I would suggest to use that work around as the official way to match grpc-web traffics. Clear the route cache doesn't sound a meaningful fix anymore, due to the recompute cost.

[2019-02-14 01:42] lizan commented on #5914
Feel free to open an PR as long as requiring header is opt-in thus not breaking existing users. I don't feel much value as it is a config problem in general, and if you have a proto descriptor defined transcoding clashes with the native HTTP endpoint, you will have your own problem anyway.

[2019-02-14 04:30] ramaraochavali commented on #5933
Related issue https://github.com/envoyproxy/envoy/issues/5174 - if it is implemented, I think it should address this case as well?

[2019-02-14 06:11] tatsuhiro-t commented on #5944
I don't see any reason why empty :authority header field should be allowed.  It seems that HTTP/2 specification only requires :authority header field if it is not empty.  Does any browser send empty :authority header field?  Or some intermediaries failed to produce proper HTTP/2 header field from HTTP/1.x request?
That said, RFC is not super precise about this topic.  It might be better to ask HTT

[2019-02-14 09:43] mase5 opened #5952 "Singularity container"
I wonder if there is any ETA planned for an Envoy singularity container?

[2019-02-14 10:07] #5213 closed

[2019-02-14 11:34] #5442 closed

[2019-02-14 13:15] cube2222 commented on #5742
Hey, has this moved forward somehow?

[2019-02-14 13:28] chopmann commented on #5939
If you use TLS you might get away with using the SNI to do that:

https://www.envoyproxy.io/docs/envoy/latest/configuration/listener_filters/tls_inspector

https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/listener/listener.proto#envoy-api-msg-listener-filterchainmatch

[2019-02-14 15:07] poyaz commented on #5939
Sorry, some of the parts for me not understandable.

 It's possible to take a sample configuration (how use filter)?

[2019-02-14 16:11] chopmann commented on #5939
Maybe something like this can help

[code]

[2019-02-14 16:46] terinjokes commented on #4757
I just got bitten by this.

I don't have the expectation that increasing the log level up one from the default would start exposing private key material. I don't see a reference to this behavior in the docs nor in the help text.

[code]

[2019-02-14 17:20] htuch commented on #5933
Yes, this is a dupe of #5174, so will close.

[2019-02-14 17:20] #5933 closed

[2019-02-14 17:20] hagmonk commented on #2861
@sjvanrossum is there a repo containing your work so far that some of us can poke at? I'm sure whatever state it's in, we have enough interested parties here to provide some feedback :)

[2019-02-14 17:30] htuch commented on #4757
I agree that we should scrub private keys from the config dump and log messages. Turning up logging though is still going to be a minefield for PII and other data leakage, this should be expected; if you switch to trace level, you will start seeing data plane traffic unencrypted. This is WAI, we want to be able to debug at trace level, trace level shouldn't be used in production outside of very co

[2019-02-14 17:34] terinjokes commented on #4757
@htuch I understand. I definitely expect things like this from trace. At debug we expected more logging around timings, memory pressures, and the like.

[2019-02-14 17:45] uromahn commented on #5742
Since this has been dragging on for a while and no obvious progress, I think it is time to comment on it for some clarification.

1. Technically, we resurrected a way to build Envoy for CentOS.
1. One issue left to solve is how to best merge it back into the upstream code and keep maintaining it

Some background:
The build toolchain on Ubuntu, which is the primary development environment, is much

[2019-02-14 17:48] junr03 commented on #5952
afaik there is no eta planned for that. Open to community contributions!

[2019-02-14 18:06] costinm commented on #5739
This is one of the biggest problems experienced by users with TLS certificates - we have no good way to
know when a cert has been distributed to all workloads, so when the LDS config is pushed to envoy the entire update is rejected. Worse - if envoy restarts, it will fail to get an initial config ( because one of the
certs is missing ). We also saw problems on mesh expansion, where one of the port

[2019-02-14 19:09] junr03 opened #5957 "Draft PRs: use github's new draft PR feature to reduce CI load"
*Draft PRs*: *use github's new draft PR feature to reduce CI load*

*Description*:
Github introduced [Draft PRs](https://github.blog/2019-02-14-introducing-draft-pull-requests/) as a way to create PRs that are a WIP. The maintainers were wondering if this could be used as a heuristic by repo kitteh to reduce the CI load on open PRs. For example, as long as the PR is a draft PR we could run no/or a

[2019-02-14 19:12] krishamb commented on #5937
Can someone guide us on this package issue ? Greatly appreciate your help.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: pitiwari <notifications@github.com>
Sent: Wednesday, February 13, 2019 5:17:51 PM
To: envoyproxy/envoy
Cc: krishamb; Author
Subject: Re: [envoyproxy/envoy] Envoy build fails unable to load package (#5937)

i am also hitting the same issu

[2019-02-14 19:38] BarDweller commented on #3763
Note also related to https://github.com/istio/istio/issues/8444

[2019-02-14 20:45] lizan commented on #5742
Sorry I was tied up with other stuff, posted my WIP branch in #5962.

[2019-02-14 21:21] #5559 closed

[2019-02-14 21:22] #5380 closed

[2019-02-14 21:23] #5377 closed

[2019-02-14 22:01] rshriram commented on #5942
1 is useful, though I believe Roman setup Lyft fault filters in the
downstream path using the ingress listener.

On 2/3 - One of the reasons I had initially dumbed the http fault filter to
discrete delays instead of a throughput constrained model was because of
the fact that at application layer (python requests, java lib, etc), these
two are indistinguishable. Http is a message oriented protocol.

[2019-02-14 22:01] luluzhao commented on #5644
Hello @mattklein123 , sorry for pinging you regarding my question since it has been a week no one reply for it. Our basic question is when is the next release for Envoy so that X-Ray tracer can be part of it? Thank you.

[2019-02-14 22:03] mattklein123 commented on #5644
@luluzhao we do releases approximately every 3 months. You can take a look at our last release to see roughly where we are at.

[2019-02-14 22:05] mattklein123 commented on #5942
@rshriram we are definitely going to build all this functionality (I agree that in many cases for a message oriented exchange, latency is all that matters, but for a progressive download even over HTTP it might not always be the case). The question is where to build it. I think you are saying you would like this as part of the fault filter? If so that's fine with me.

[2019-02-14 22:11] lizan commented on #5744
The problem still exists after #5814, after more investigation, I deduced this to https://github.com/protocolbuffers/protobuf/issues/5731.

cc @htuch @AndresGuedez for SRDS framework which might be affected too.

[2019-02-14 22:13] itayd commented on #5957
There is an SOW item where we always launch a minimal set of CI, and upon requirement (a-la-🔬) , launch the rest.

IIUC, you want to add another layer - running an even more minimal set of tests on drafts?

[2019-02-14 22:24] mattklein123 commented on #5957
Yeah exactly, if possible.

[2019-02-14 22:30] lizan commented on #5744
<img width="1970" alt="screen shot 2019-02-14 at 2 26 38 pm" src="https://user-images.githubusercontent.com/1016047/52821834-e9ddc980-3064-11e9-976b-736252ce2a62.png">

attached diff with 2 deterministically serialized sds_config_source.

[2019-02-14 22:31] htuch commented on #5744
@lizan good find, is a mitigation while the protobuf issue is investigated to use Struct?

[2019-02-14 22:36] itayd commented on #5957
I think it is - there is a minimal set of tests that will always run, then if a PR is non-draft more tests are run, and if 🔬 , all tests are run. I consider this part of the SOW.

[2019-02-14 22:37] htuch commented on #4757
@terinjokes PRs welcome. My comment in https://github.com/envoyproxy/envoy/issues/4757#issuecomment-451942197 is aspirational, I think we can just do some manual redaction of protos in config dump and debug log statements for now.

[2019-02-14 22:38] itayd commented on #5957
That said, this only can be done if GitHub has any indication that a PR is draft in the API.

[2019-02-14 22:43] AndresGuedez commented on #5744
Thanks for the ping. This issue affects RDS as well.

[2019-02-14 22:43] dio commented on #2861
@sjvanrossum I'm afraid we don't have it yet. Think we can specify.

[2019-02-14 22:48] htuch commented on #5739
@costinm thanks for sharing the Istio perspective. https://github.com/envoyproxy/envoy/pull/5806 just merged, which might provide some improvement in insight into which resources are failing.

[2019-02-14 22:52] lizan commented on #5744
@htuch Yeah I think that would work. If the ConfigSource doesn't contain an Any then it is fine anyway.

[2019-02-15 00:49] dmitri-d opened #5965 "Memory utilization can grow significantly when struct fields are used for configuration of Envoy components"
*Title*: Memory utilization can grow significantly when struct fields are used for configuration of Envoy components.

*Description*:
In my test bootstrap config with http_connection_manager configuration in "config" field with 50K virtual hosts uses ~1807MB. The same configuration, but put in "typed_config" results in 292MB.
This is due to maps being created to represent struct fields during refl

[2019-02-15 01:51] PiotrSikora opened #5966 "Local Bazel builds with libc++ are broken."
Per discussion in https://github.com/envoyproxy/envoy/pull/5875#discussion_r256319464, local Bazel builds with `--config libc++` are broken since https://github.com/envoyproxy/envoy/pull/5875, though they seem to work fine on the CI.

cc @htuch @lizan

[2019-02-15 01:59] lizan commented on #5966
@PiotrSikora what error are you seeing?

[2019-02-15 02:21] PiotrSikora commented on #5966
[code]
when building dependencies, i.e. it seems that c++ default includes are not included, somehow.

You should be able reproduce this yourself with `--config libc++` (and to rule out that this is an issue with my setup... but it works fine if I revert the offending PR).

[2019-02-15 02:28] lizan commented on #5966
It doesn't break on my env:
[code]

[2019-02-15 03:48] bnlcnd commented on #5292
can someone mark it as help wanted?

[2019-02-15 04:06] PiotrSikora commented on #5966
What's your env?

[code]
[code]
[code]
[code]
[code]

Am I missing anything? As you can see, there are no compiler flags in my env, and I commented out everything in `$HOME/.bazelrc`, so I don't have any custom flags nor cache there either.

[2019-02-15 05:13] steveinatorx opened #5969 "possible to suppress the access log by route ?"
unclear to me if its possible to suppress access logging in the /healthcheck_envoy route below

[code]

[2019-02-15 05:16] lizan commented on #5966
Interesting, with
[code]

I can reproduce:
[code]

With:
[code]

It doesn't break.

[2019-02-15 05:34] PiotrSikora commented on #5966
I can reproduce with and without `$PATH` (I had it before, but removed it to minimize steps required to reproduce).

Did you `bazel clean --expunge` and disable your Bazel caches? Perhaps something keyed on `$PATH` in still cached in your env?

[2019-02-15 05:35] htuch commented on #3170
@gsserge sure, I think we can just do best effort here and then call it a day. Ultimately these checks are helping us avoid the fuzzers running off to la-la land. It's legit to use `/dev/null` for things like access log path, so we don't want to break that working.

[2019-02-15 05:35] PiotrSikora commented on #5966
Oh, wait, I didn't notice the `clang` vs `clang-7` change. Let me test that just to make sure.

[2019-02-15 05:46] lizan commented on #5966
Yes `clang` vs `clang-7` seems make the difference, I do set PATH to `/usr/lib/llvm-7/bin` in both case.

[2019-02-15 05:47] PiotrSikora commented on #5966
OK, this is bizarre, but `CC=clang CXX=clang++` works, and `CC=clang-7 CXX=clang++-7` doesn't. I'll send PR to fix that.

[2019-02-15 05:48] PiotrSikora commented on #5966
(that == instructions)

Thanks for the help, @lizan!

[2019-02-15 07:46] lizan commented on #5292
@bndw do you have the stat from envoy?

[2019-02-15 07:46] #5966 closed

[2019-02-15 09:39] YaminiGoel commented on #3655
@ggreenway I am using Google Colab, there I set  `!TCMALLOC_LARGE_ALLOC_REPORT_THRESHOLD=21329330176 ` and then run my python script in the same cell. Later as I run the script I get the same error that was appearing before setting `TCMALLOC_LARGE_ALLOC_REPORT_THRESHOLD`.

The error is:
`
tcmalloc: large alloc 21329330176 bytes == 0x18e144000 @  0x7f736dbc2001 0x7f736b6f6b85 0x7f736b759b43 0x7f736

[2019-02-15 13:02] enbohm opened #5974 "Possible to configure retry policy for external authorization requests?"
*Title*: *Retry policy for external authorization requests?*

I'm using Envoy 1.9.0 and configured external authorization as described in https://www.envoyproxy.io/docs/envoy/v1.9.0/configuration/http_filters/ext_authz_filter#config-http-filters-ext-authz

It works as expected but sometimes the external authorization server respond with a 5xx status (could be either problems with the server, netwo

[2019-02-15 14:44] ipuustin opened #5976 "Default worker thread number is the amount of HW threads, not the cpuset size."
*Title*: Default worker thread number is the amount of HW threads, not the cpuset size.

*Description*:
If `--concurrency` option is not specified, the default number of worker threads depends on the number of HW threads in the system. However, this number can be overly large, if Envoy is run in an environment where the allowed cpuset is small. The original intent seems to be that the number of wo

[2019-02-15 15:34] ggreenway commented on #3655
I recommend setting the environment variable much larger. Add several more zeros in the end.

[2019-02-15 18:32] junr03 commented on #5969
You could use the [header filter](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/accesslog/v2/accesslog.proto.html?highlight=response%20flag#envoy-api-msg-config-filter-accesslog-v2-headerfilter) and use the path header to filter out based on the path header.

[2019-02-15 18:35] mergeconflict opened #5982 "Locality weighting in Maglev inconsistent with other LBs"
The way Maglev currently implements weighting for any given host and locality is: `effective_weight = host_weight * locality_weight`. This is nice and simple, but it's inconsistent with how the other LBs implement locality weighting. A simple example:

* Locality _A_: locality_weight = 1
     * contains 100 hosts, each with host_weight = 1
* Locality _B_: locality_weight = 1
    * contains 50 host

[2019-02-15 18:43] htuch commented on #5982
Yeah, I think this is legit broken; @snowp do you have any thoughts?

[2019-02-15 18:45] pitiwari opened #5983 "filter build failing because of package dependency"
We are migrating from 1.7-1.9. I am getting the error below when I am trying to build our filter on 1.9, I was able to build envoy 1.9 using the same container. I found a similar problem in old issues which others have faced before but their fixes didn't worked.

docker containter --->envoyproxy/envoy-build-ubuntu:a734887ad06609cf0b3c023d38239bf3e79d3717

// able to build envoy fine but unable to

[2019-02-15 19:12] mattklein123 commented on #5982
I suspect no one has ever used weighted maglev in production but I'm not sure.

[2019-02-15 19:32] pitiwari commented on #5983
was able to resolve it by editing the WORKSPACE file

[2019-02-15 19:32] #5983 closed

[2019-02-15 19:32] pitiwari commented on #5937
was able to resolve it by editing the WORKSPACE file

[2019-02-15 19:33] krishamb commented on #5937
Can you share what you edited and where is the file ?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: pitiwari <notifications@github.com>
Sent: Friday, February 15, 2019 2:32:52 PM
To: envoyproxy/envoy
Cc: krishamb; Author
Subject: Re: [envoyproxy/envoy] Envoy build fails unable to load package (#5937)

was able to resolve it by editing the WORKSPACE file

—