[2021-01-19 23:34] #14420 closed

[2021-01-19 23:50] jrajahalme opened #14756 "All tests segfault on arm64 & clang-10"
All bazel tests SEGFAULT after otherwise completing all test cases successfully when compiled with clang-10 on arm64. This appears to be a clang-10 bug affecting Envoy tests via code in gperftools heap checker. See related bug reports:

- gperftools issue: https://github.com/gperftools/gperftools/issues/1241
- clang Bugzilla: https://bugs.llvm.org/show_bug.cgi?id=48798

Since Envoy binary only cra

[2021-01-20 00:05] vanhtuan0409 commented on #12043
Sure. May I know which slack you prefer?

[2021-01-20 00:36] mattklein123 commented on #9246
Since I'm likely to disappear on leave any moment, here is the current WIP of the change: https://github.com/envoyproxy/envoy/commit/eb702f2ccad1d35fb48a704d231239dfb41b8bc0. It's basically done other than docs and a couple of tests for the runtime flag. I will finish later or tomorrow morning if I have time. cc @snowp @jessicayuen

[2021-01-20 03:02] ankatare commented on #12043
@vanhtuan0409 ahh, are you in envoy community slack ? if yes, we can have there and please tell me your display name (i have account name with same name  as **ankatare**)there. or suggest any channel we can discuss ( other than slack like hangout,skype etc )

[2021-01-20 03:29] esmet commented on #7986
Let's move this to "no stalebot": https://github.com/envoyproxy/envoy/pull/14514 is open for this issue

[2021-01-20 09:06] kailun-qin commented on #13069
Tested using sandboxed environment. The issue can be reproduced w/ gRPC streaming calls.

[2021-01-20 13:32] wbpcode opened #14765 "wildcard match of interface for dubbo proxy"
*Title*: *One line description*

*Description*:

The 'interface' in the current dubbo proxy only support exact matching. That is, if a dubbo service provides multiple interfaces, we need to create multiple route rules.
It would be more flexible if they supported wildcards. For example:
[code]

[2021-01-20 13:42] #14643 closed

[2021-01-20 13:42] #14645 closed

[2021-01-20 14:29] ankatare commented on #14197
@htuch may be this issue can be reopen since it is closed automatically

[2021-01-20 14:31] htuch commented on #2500
I don't think there has been any public work on on-demand EDS.

[2021-01-20 14:38] htuch commented on #5155
@asraa looks compelling, i.e. there is little difference. I think the 1M QPS example probably has a ton of error rate reflecting open loop request drops; it might be a good idea when measuring max QPS achievable to switch NH to closed loop mode (at which point latency is not very interesting). I'd also be curious to see if there is any difference for large request, e.g. 1MB body.

[2021-01-20 15:14] asraa opened #14766 "Possible to enforce required coverage over certain lines?"
***Description***
To validate that `ENVOY_BUG` conditions have code coverage, is it possible to issue warnings or a make a required check that a condition is tested for success and failure by leveraging the existing coverage report?

Motivation:
- Encourages failure condition testing, especially since these are fatal in debug mode
- Ensures that Envoy can continue safely even if hitting an ENVOY_B

[2021-01-20 16:37] #13227 closed

[2021-01-20 16:40] howardjohn commented on #11889
I think its the https://github.com/envoyproxy/envoy/blob/main/tools/stack_decode.py#L28 is looking for a regex that doesn't match Istio's logging format

[2021-01-20 16:51] wangfakang opened #14767 "The order of `access_log` handler settings may not be the best."
*Title*: *The order of `access_log` handler settings may not be the best*

*Description*:
Now `access_log` is always executed before each filter log phase of HTTP, which will cause some operations in the log phase of http filter to not take effect in the access_log handler.
Forexample, if the metadata  `xxx :yy` is set in the log phase of HTTP filter, then `%DYNAMIC_METADATA(xxx :yy)%` in access_l

[2021-01-20 20:27] #11883 closed

[2021-01-20 20:28] #14370 closed

[2021-01-20 20:28] #14372 closed

[2021-01-20 21:29] #13513 closed

[2021-01-20 22:31] mattklein123 commented on #14756
IIRC this is a known issue? @lizan?

[2021-01-20 22:32] mattklein123 opened #14775 "docs: cover timeout scaling in timeout FAQ"
We should cover the new scaled timeout capability in the timeout FAQ: https://www.envoyproxy.io/docs/envoy/latest/faq/configuration/timeouts

We should probably also cover it in the edge best practices guide:
https://www.envoyproxy.io/docs/envoy/latest/configuration/best_practices/edge#best-practices-edge

[2021-01-20 22:33] mattklein123 commented on #14775
@akonradi would you mind covering this when you feel the scaling work is in a good spot? (Or just do it as you go.) Thank you.

cc @antoniovicente

[2021-01-21 03:21] storyicon opened #14776 "VHDS: Is there any way to update resources that have been unsubscribed?"
I found that whenever vhds subscribes to a resource, it will unsubscribe from the previous resource, which causes me to be unable to update the old resource issued through VHDS.

---

## Example

### prepare:
The Listener listened to port `50000` and pointed to the route named `local_route`, which was configured with `vhds`.

### step1:
[code]
VHDS Server will receive:
[code]
Then VHDS Server resp

[2021-01-21 06:31] p53 commented on #13513
.

[2021-01-21 07:34] ankatare commented on #12043
@htuch yeah, now i got to repro this issue.....

[2021-01-21 07:35] ankatare commented on #12043
@vanhtuan0409 thanks a lot for your help on this...... it is reproducible

[2021-01-21 11:52] carlos-fau-etermax commented on #13673
We have a complex mesh with frontend services for specific products and backend services for multi-product functionality.

The involved product code is part of the URL like: "/products/XYZ/some-service/...". Currently we get metrics by "path spec", so we have a metric for the generic "/products/{productCode}/some-service/..." which provides us no clue on the product targeted in the call.

If we ca

[2021-01-21 12:29] ahmedraja26 opened #14780 "Passing data through SDS to Envoy"
Is it possible to pass metadata through to my Secret discovery service through envoy, for example I want to send through the material name of my certificate provider?

[2021-01-21 15:31] akonradi commented on #14775
Yeah I think #13800 is my last PR to add baked-in scaled timers. Just musing, I think things worth covering include:
- the different types of scaled timers
- how to construct scaled timers in custom filters
- warning about too many different scaled timeout values

As for edge best practices, I'm not entirely sure what those are (yet).

[2021-01-21 15:39] #14537 closed

[2021-01-21 15:40] #14639 closed

[2021-01-21 15:58] snowp opened #14781 "Add environment variable DataInput extension"
Tracks adding a DataInput extension that allows matching on an environment variable.

This would allow users to do things such as following a match path only for a specific instance (i.e. by matching on HOSTNAME) while still sending out the same xDS configuration to a large set of Envoy instances.

[2021-01-21 16:01] snowp opened #14782 "Add consistent hashing InputMatcher"
Tracks adding a simple InputMatcher that takes a configurable threshold and will consistently hash the input string, matching if the resulting hash value is above the configured threshold:

[code]

This would allow users to configure a match rule that will consistently match X% of requests based on a random input string (e.g. a tracing header).

[2021-01-21 16:04] snowp commented on #14781
Currently the easiest way to add this would be to add it as a `DataInput<HttpMatchingData>`, but it would be interesting to support this more generically by having a different category of `DataInput`s that doesn't require protocol data (other examples would be things like the current time, information from Envoy's bootstrap, etc.) that would automatically work regardless of which protocol data the

[2021-01-21 16:21] snowp opened #14783 "Optimize match resumption"
Currently the match tree will start from the top every time new data is made available. Instead, we should be able to track the progress and resume matching from last unevaluated node in the tree.

[2021-01-21 17:25] guyco-redis opened #14784 "high CPU in envoy 1.16.0"
After creating some listeners, we saw a spike in the CPU usage of envoy to 600% (8 cores), although there was no traffic.
The listeners we created were set to serve ports that were taken by another process (that eventually released them). Although we created 6 listeners, that serve 6 different ports, we only saw envoy listening to 3 ports.
We didn't have cpu profiling enabled and it's not reproduc

[2021-01-21 19:14] gongcon opened #14785 "Disable tracing to the httpCall() API"
Since 1.15.0, tracing is enabled for `httpCall()` in lua filter. Is there an option to disable it? We have a lua filter calling a sidecar service. It creates too many spans than our limited budget.

[2021-01-21 19:32] rrichardson opened #14787 "In Podman or Docker: Permission denied on SELinux machines"
*Permissions issues when running in Podman or Containerd (DockerCE)*

*Description*: When starting envoy in podman or docker (as a UID other than 0)
[code]

Presumably it's complaining about this line : https://github.com/envoyproxy/envoy/blob/main/ci/docker-entrypoint.sh#L26

Even if you run as root, SELinux takes exception to a container changing ownership of stdout and stderr.

I haven't found

[2021-01-21 22:17] #14644 closed

[2021-01-22 01:54] dandlake opened #14788 "build error in external/com_google_cel_cpp/eval/eval/ternary_step.cc (both main and 1.17 branches)"
*Title*: Build error in ternary_step.cc for both main and 1.17 branches.

build command:
bazel build -c dbg --verbose_explanations --verbose_failures //source/exe:envoy-static --sandbox_debug --copt="-Wno-unused"

*Description*:
My build fails as below for both latest main and release/1.17 branches. The build is fine for release/1.16 branch. My environment is ubuntu 18.04.1. Can someone give some

[2021-01-22 02:12] gbrail opened #14789 "Add knobs for allowed modifications in ext_authz and ext_proc"
*Title*: Add knobs to control which headers ext_authz and ext_proc servers can modify

*Description*:

Today, the ext_authz filter allows the remote server to request that any header,  including internal headers (prefixed with ":"), and x-envoy headers be modified.

The in-progress ext_proc filter does not allow these filters to be modified, but we expect that in some cases users will wish to supp

[2021-01-22 02:13] gbrail commented on #14789
@alyssawilk @htuch we were discussing this for possible usage of ext_authz in an embedded product.

[2021-01-22 02:28] kyessenov commented on #14412
Not stale, but fell off my radar.

[2021-01-22 02:46] #14431 closed

[2021-01-22 03:01] kyessenov commented on #14788
Try building with clang10?

[2021-01-22 04:15] goaway opened #14791 "Error Pathway"
*Title*: Introduce error pathway to optionally replace local reply behavior when Envoy is built and run as a library.
*Description*: This issue is primarily in support of Envoy Mobile, but it applies in any case where Envoy is built into another binary, and it's desirable for errors to be surfaced via a code path that can be handled by the enclosed binary, as opposed to via locally-generated HTTP

[2021-01-22 04:15] goaway commented on #14791
cc @snowp @alyssawilk

[2021-01-22 04:30] #14342 closed

[2021-01-22 05:37] wangfakang commented on #14767
@mattklein123 @htuch Plz review it, I can pull PR if that's ok.

[2021-01-22 08:27] #14176 closed

[2021-01-22 08:54] vinzo99 commented on #11498
Hello, any update on this issue ? thanks

[2021-01-22 09:25] kailun-qin commented on #14782
@snowp
At which level would you prefer this matching should be added to? Supposing there are actually 3 opts:
1) extending as a separate match logic for `SinglePredicate` InputMatcher;
2) extending as a new match rule for `StringMatcher`;
3) adding as a new `ConsistentHashMatcher` type.
Thanks.

[2021-01-22 09:38] phlax commented on #14787
this seems reasonable, do you want to PR this ?

[2021-01-22 09:39] phlax commented on #14787
the other possible improvment here is to check that the user is root and/or is able to chown

[2021-01-22 09:42] JaredTan95 opened #14795 "could not got sw8 value in access log config."
*Title*: *how to get sw8 value in access log config.*

*Description*:
I'm referring [Access logging](https://www.envoyproxy.io/docs/envoy/latest/configuration/observability/access_log/usage#config-access-log)  to record envoy access log as following configs:

[code]

But, I got nothing value.🤔
How to use it? Thanks...

[2021-01-22 09:58] ClavinJune commented on #13962
Have you found the answer yet?

[2021-01-22 13:30] kailun-qin commented on #14781
We might not be able to abstract one single category of `DataInput` for all the potential usages here (env vars, current time, info from bootstrap etc.). I guess the requirement here is to start w/ the env vars at the first place?

[2021-01-22 13:34] kailun-qin commented on #14783
Several questions inline:
1) Should we do a resumption for every (type of ) new data? We may just need a start from the top at some point.
2) Will this impact the current behavior (first-win) of `ListMatcher` at well?

[2021-01-22 14:14] asraa commented on #5155
Thanks! More benchmarks added.
Those benchmarks were actually closed loop, that appears the default in the nighthawk test client. I ran with `--open-loop` again though, and added those benchmarks. Again, didn't see a major difference in open loop latency.

You do see a larger error rate (OR llhttp improvement) in the open loop 500k QPS (1M was enough to break nighthawks stats gathering).

[2021-01-22 16:29] #14376 closed

[2021-01-22 16:29] #14422 closed

[2021-01-22 16:29] #14434 closed

[2021-01-22 16:29] #14436 closed

[2021-01-22 16:29] #14438 closed

[2021-01-22 16:29] #14441 closed

[2021-01-22 16:33] gbrail commented on #14789
Based on some other discussions, we might need another mode, like "DISABLED," which disallows all modifications and just lets the filter only decide whether to accept or reject.

[2021-01-22 18:05] chradcliffe opened #14798 "scaled range timer manager: potential use-after-free when disabling timer during another timer's callback"
*Description*:
During the triggering of a callback for a `ScaledRangeTimerManagerImpl` timer, if another timer in the same queue is disabled such that the queue becomes empty, the queue will be deleted. This will result in a use-after-free error in the loop inside `ScaledRangeTimerManagerImpl::onQueueTimerFired` when checking `!timers.empty()`.

This issue does not seem to be possible in mainline

[2021-01-22 18:07] chradcliffe commented on #14798
cc @akonradi

[2021-01-22 18:11] akonradi commented on #14798
Nice catch, and thanks for the reproducer. I'll start working on a fix unless you've got one, @chradcliffe?

[2021-01-22 18:12] chradcliffe commented on #14798
I can create a PR -- I think it's a relatively simple fix.

[2021-01-22 18:16] dandlake commented on #14788
Thanks, @kyessenov! Changing to clang10 works.

[2021-01-22 18:16] #14788 closed

[2021-01-22 18:23] akonradi commented on #14798
/cc @antoniovicente

[2021-01-22 19:35] htuch commented on #14767
Checking my understanding. You are saying that the per-filter access log handlers run _after_ the access log sink handlers registered with HCM?

It seems reasonable for them to run before, but it seems kind of hacky to be mutating stream state at this point when the stream is undergoing destruction.

[2021-01-22 20:08] derekargueta opened #14801 "Make TLS OIDs accessible to HTTP extensions"
*Title*: Make TLS OIDs accessible to HTTP extensions

*Description*:
HTTP/Network extensions can access the downstream TLS connection info via something like
[code]
However, the `Envoy::Ssl::ConnectionInfo` interface doesn't appear to provide access to querying OIDs. The particular use-case I want to solve with this is OID-matching. For OCSP stapling we already have some utility code for parsing O

[2021-01-22 20:25] jessicayuen commented on #14591
This warning logs are also causing a lot of noise in our current system. Any concerns if we currently move it to a debug/info level log while making the classification strategy more sophisticated?

[2021-01-22 20:28] #13604 closed

[2021-01-22 20:28] #14401 closed

[2021-01-22 20:45] asraa commented on #14776
What version of Envoy are you using?
@dmitri-d Do you think this https://github.com/envoyproxy/envoy/issues/12158 is related?

[2021-01-22 20:49] dmitri-d commented on #14776
It sounds very much like the issue in https://github.com/envoyproxy/envoy/issues/12158, which should be resolved now (see https://github.com/envoyproxy/envoy/pull/12819).

[2021-01-22 20:53] asraa commented on #14785
cc @dio

[2021-01-22 22:05] davinci26 opened #14802 "[Windows] SSL tests fail on Windows with TLS 1.3. enabled"
When TLS 1.3. is enabled a bunch of tests are failing on Windows because a specific assert is hit.
[code]

Repro with `ads_integration_test`

[2021-01-22 23:25] antoniovicente commented on #14798
I would prefer to keep this issue open even after #14799 is merged in.  We should do some followups to provide further defense in depth against this class of bugs.

[2021-01-23 04:27] #14392 closed

[2021-01-23 14:27] storyicon commented on #14776
I encountered this problem in Envoy version `1.15.0`, and it no longer exists in `1.16.0`.
What confuses me is that I did not find the relevant change information in the CHANGELOG of `v1.15.0`~`v1.16.0`. Did I miss something?

[2021-01-23 16:26] #14460 closed

[2021-01-24 01:31] brodmerkle commented on #14735
I've been trying today to configure the envoy.retry_host_predicates.previous_hosts retry host predicate but finding that it never takes effect - I'm suspicious that this is actually due to the same v2/v3 proto issue we're covering in this issue, so I'll describe the problem here and we can sort out if it's worth a new issue or folds into the existing remediation effort.

I'm still on Envoy 1.17.0

[2021-01-24 03:36] achilles-git commented on #14004
Can we apply same Configuration on istio-1.7.3 ?

[2021-01-24 07:05] Xunzhuo opened #14806 "Is Envoy supposed to run outside a Docker container?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

[optional *Relevant Links*:]

[2021-01-24 07:09] #14806 closed

[2021-01-24 07:23] wangfakang commented on #14767
Yeah.  per-filter-log and access-log handler should be runs in the same order as  the `p2` picture.

![image](https://user-images.githubusercontent.com/8215757/105623265-6bdeeb80-5e53-11eb-9920-c212a8c90f44.png)

Usually we might need to do something in the filter log phase and then log it via the `access_log` handler, but this is invalid now. Forexample we create the metadata `xxx :yy` is set in

[2021-01-24 07:41] wangfakang commented on #14438
/help wanted

[2021-01-24 08:44] guyco-redis commented on #14784
another important note I forgot to mention: when restarting envoy, everything worked correctly - we saw it serves all the ports, and the CPU usage dropped.

[2021-01-24 10:09] l8huang opened #14807 "Need to support stat tags in Cluster config"
*Title*: Add tags to cluster stat

*Description*:
Currently cluster stat consists of scope name and stat name, for example:
`cluster.cluster_0.update_success`
in which `cluster.cluster_0` is scope name, and `update_success` is stat name. The `prefix` is empty and tags are not supported.

We have a requirement which need to add additional information to cluster Prometheus metrics. My first thought

[2021-01-24 12:20] #14030 closed

[2021-01-24 13:51] lamualfa-client commented on #13221
Same issue with me. I use Envoy 1.17

[2021-01-24 20:25] #12593 closed

[2021-01-25 00:40] htuch commented on #14789
The bools seem slightly better as they provide mechanism rather than policy, which is preferable in the API.

Arguably, having controls like this would also make sense for dynamic code like Lua/Wasm, since you could control what sandboxed code was capable of. But, if we design this right, and don't make the proto message restricted to `ext_*`, that can always be added later.

[2021-01-25 02:30] htuch commented on #14735
@brodmerkle looking at `test/extensions/retry/host/previous_hosts`, it seems we only have a config test. @snowp are there other tests that demonstrate functional behavior for this extension? We may not have even v2 behavior happening.

Re: the v2/v3 dependency and upgrade issue, I haven't forgotten about this, I didn't have any time last week to tackle it. Happy to have someone else in the communi

[2021-01-25 03:22] huhaipeng commented on #8923
I want to know that if this bug has been fixed ?

[2021-01-25 03:23] huhaipeng commented on #8923
And it was fixed in which version ?

[2021-01-25 07:20] vanhtuan0409 commented on #12043
Just want to give some hint. The problems seem to happen from v1.15 onward. Testing with docker v1.14-latest cannot reproduce the problem

[2021-01-25 09:12] vanhtuan0409 commented on #14630
I'm suspect this failed healthcheck will cause envoy to crash if the CDS is using healthcheck
Ref: https://github.com/envoyproxy/envoy/issues/12043

[2021-01-25 09:18] qinggniq opened #14809 "MySQL codec need to be improved"
*Title*: *MySQL codec need to be improved*

In #14697, we decide to implement the authentication function of MySQL Proxy, but currently the Envoy MySQL Codec has not fully support MySQL Protocol, especially not support the `auth plugin name`, `auth plugin data` fields.  Thus MySQL Proxy will only support [Old Password Authentication](https://dev.mysql.com/doc/internals/en/old-password-authenticati

[2021-01-25 09:20] qinggniq commented on #14809
cc @dio @htuch

[2021-01-25 11:10] sandipb opened #14811 "quick start demo file doesn't enable admin"
https://www.envoyproxy.io/docs/envoy/latest/start/quick-start/run-envoy says that starting envoy with the given demo config `envoy-demo.yaml` should result in:

It doesn't seem to working, as the admin section is not enabled in the config.

[2021-01-25 13:02] snowp commented on #14735
I believe there aren't any integration tests that exercise the previous_hosts one specifically, just one that exercises a test extension. I can look into getting an integration test added, it shouldn't be that hard.

Re whether it's working properly: I know that it worked originally (as users reported a substantial increase in success rate for first retry by using it) and I'm not familiar with any

[2021-01-25 14:02] alyssawilk commented on #14789
As said on email earlier, I think this would be useful in a number of places.    If we do booleans let's encapsulate in a base level proto so we can apply it to other places we do header modifications.  I could imagine a cloud provider tacking on "no changing host" rules to ensure that client xDS config didn't change disallowed fields for per-route config for example.

Since I think bools are fals

[2021-01-25 14:45] jackyh opened #14813 "How to use Envoy to support GRPC protobuf field based load balance"
**If I have a route.proto like this:**

syntax = "proto3";
package routing;
message CopyImageRequest {
    int32 camera_id = 1;
}
message CopyImageResponse {
    string result = 1;
}
service RoutingService {
    rpc service_A_hello(CopyImageRequest) returns (CopyImageResponse) {};
    rpc service_B_hello(CopyImageRequest) returns (CopyImageResponse) {};
    rpc service_C_hello(CopyImageRequest) re

[2021-01-25 16:02] snowp commented on #14807
Conceptually this seems fine but I'm not sure if we have a great way to ensure that it would apply to all cluster stats since there are a lot of per cluster stats that are created throughout the code base.

@jmarantz might have thoughts here

[2021-01-25 19:07] snowp commented on #14813
Are you asking to use a protobuf field value as the hashing key for one of the deterministic load balancers? Or something else?

In general we don't have support for extracting field values from a gRPC payload, though there has been various asks in this space in the past, so I wouldn't be opposed to adding this if someone wants to take own it.

[2021-01-25 21:39] rgs1 opened #14821 "`/config_dump` skips the formatters field in `SubstitutionFormatString`"
We started using formatter extensions (#14512) and I noticed that the config dump endpoint skips the `formatters` field within the `log_format` message field [0], e.g.:

[code]

I suspect it might be either because:

a) `TypedExtensionConfig` fields are skipped
b) the actual message we are using within the `TypedExtensionConfig` message is empty

[0] https://github.com/envoyproxy/envoy/blob/main/a

[2021-01-25 21:39] rgs1 commented on #14821
Not sure if this qualifies as bug or feature request actually.

[2021-01-25 21:50] PiotrSikora commented on #14789
See parameter sanitization in Proxy-Wasm capabilities (#13911).

[2021-01-25 21:56] rgs1 commented on #14821
maybe related to #9669.

[2021-01-25 22:15] jewertow opened #14823 "Export control_plane.identifier as a gauge label"
The `/stats` handler returns `control_plane.identifier`, but `/stats/prometheus` does not.
I need to have this value in prometheus to display it in a pane in grafana.
Since `control_plane.identifier` is not a metric, but a string envoy could export fake gauge with this identifier as a label, for example: `envoy_control_plane{identifier: "CP-identifier"} 1`.

If you agree to add such a gauge, I am

[2021-01-25 22:39] #11426 closed

[2021-01-25 23:38] PiotrSikora commented on #13147
This is effectively a duplicate of #6589, since Envoy is incorrectly forwarding the sanitized URI (used to perform internal access control checks and routing) instead of the original URI.

[2021-01-26 00:59] spacewander commented on #14488
Any reply from the envoy maintainers?

[2021-01-26 06:20] #14780 closed

[2021-01-26 08:05] liuqi-sun opened #14826 "Extend network filters through WASM"
How do I extend network filters through WASM.How is YAML configured.

[2021-01-26 15:58] yanavlasov commented on #14826
I believe you can only create HTTP filters with WASM. See https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/wasm_filter#config-http-filters-wasm

@PiotrSikora for any future plans to support WASM network filters as well.

[2021-01-26 16:11] alyssawilk opened #14829 "Add support for QUIC upstream"
As we close in on https://github.com/envoyproxy/envoy/issues/2557 we want to start thinking about upstream support for QUIC.

The main use case may be for mobile (https://github.com/envoyproxy/envoy-mobile/issues/1033) but it could be used in general for forward proxying and cross-data center hops.

v1 would be hard-coded QUIC with no failover, but for use on the internet it would eventually need

[2021-01-26 16:12] yanavlasov commented on #14811
This is definitely a bug. Either doc needs to be updated or demo configuration.

[2021-01-26 16:14] yanavlasov commented on #14809
@rshriram @venilnoronha @mattklein123 as current codeowners

[2021-01-26 16:27] yanavlasov commented on #14795
The %REQ% operator prints value of a HTTP request header. Do you have "SW8" header in the request?
See doc https://www.envoyproxy.io/docs/envoy/latest/configuration/observability/access_log/usage

[2021-01-26 16:29] phlax commented on #14811
hi i removed the admin section from most examples as it wasnt necessary for the examples and/or exposing admin needed to be documented

i think this one needs it added back

@sandipb do you want to pr a fix ? if not i am happy to

[2021-01-26 17:10] kgumbs commented on #12856
Hello @mattklein123 and @adamkotwasinski, Just wanted to let you know I'm still encountering this error.

[2021-01-26 19:05] PiotrSikora commented on #14826
Network filters are already supported:
https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/network_filters/wasm_filter.html

[2021-01-26 21:31] hania-elayoubi opened #14831 "response_headers_to_add of LocalRateLimit does not take effect on outbound routes"
*Title*: *response_headers_to_add of LocalRateLimit does not take effect on outbound routes*

*Description*:

I'm on Istio 1.8.2 using Envoy 1.16.1

I am able to configure the [HTTP LocalRateLimit filter](https://www.envoyproxy.io/docs/envoy/v1.16.1/configuration/http/http_filters/local_rate_limit_filter.html?highlight=local%20rate%20limit) following the example in the Istio tests here:
1. enablin

[2021-01-26 22:05] markdroth commented on #14789
@alyssawilk gRPC does not have its own equivalent of x-envoy headers; we generally have APIs for the application to configure things instead.  Although interestingly, as part of the xDS support we're adding, there are some cases where we're going to support some x-envoy headers for compatibility with Envoy. :/

Is the idea here that these knobs would be defined in some sort of wrapper that can be

[2021-01-26 23:02] nareddyt commented on #14233
Can we re-open this? We also see similar issues. This results in the request error with HTTP 503, which our retry policy then retries.

[2021-01-26 23:25] b-irwin commented on #10195
My team would like to parse user agents in an envoy filter and use the aspects of the information found within (like browser type and browser version) to dictate filter logic. This issue looks like it might have a lot of overlap with that goal. I've got two questions.

- Is this stats filter expected to parse the user agent into meaningful information?
- Might that parsing logic reside in a static

[2021-01-27 03:02] liuqi-sun commented on #14826
I saw the document before I asked the question，but I don't know how to use it in envoy.yaml.
Now I have tried it successfully and found that there is an error in the document.
The 'config' field is multiple, and the 'name' field is missing the '- character.
The following configuration is in effect:
static_resources:
  listeners:
  - name: mysql_listener
    address:
      socket_address:
        a

[2021-01-27 03:46] sandipb commented on #14811
Please ignore the earlier commit(8f2ba91). The last one is my actual attempt.

[2021-01-27 06:06] mk46 commented on #14531
I would like to take up this issue. If I am correct, need to add max_requests_connection in the *protocol.proto file for the config.

[2021-01-27 06:28] amitkatyal opened #14835 "Disable session ID based TLS session resumption"
Is there a way to disable the session ID based TLS session resumption? The Envoy docs only talk about the session ticket based session resumption but there is no mention of the session ID based TLS session resumption.

[2021-01-27 08:16] liuqi-sun opened #14836 "network filter test fail"
FilterStatus ExampleContext::onDownstreamData(size_t data_length, bool end_stream) {
  WasmDataPtr data = getBufferBytes(WasmBufferType::NetworkDownstreamData, 0, data_length);
  logTrace("onDownstreamData " + std::to_string(id()) + " len=" + std::to_string(data_length) +
           " end_stream=" + std::to_string(end_stream) + "\n" + std::string(data->view()));
  setBuffer(WasmBufferType::Network

[2021-01-27 08:55] JaredTan95 commented on #14795
I used `envoy.config.trace.v3.SkyWalkingConfig`, So, the skywalking tracer provider will generate the `sw8` header in the request during the processing.

[2021-01-27 08:59] ClavinJune commented on #13962
Hi @dantodor I happened to meet the same issue as yours. in the end I implemented my own log rotator manually, and this seems work, just in case you need a reference

[code]

[2021-01-27 13:39] imogenliu opened #14838 "in k8s has port Permission denied after version 15"
got an error: **envoy cannot bind '0.0.0.0:80': Permission denied** when deploy to k8s, but the strange thing is that local docker-compose is working fine.

I have tried version: v1.17.0, v1.16.2,  v1.15.3, which working fine in local docker-compose, but have this error in k8s.
but v1.14.6 working for both k8s and local docker-compose

[2021-01-27 14:32] chrskrchr commented on #13781
@jphx - thank you for capturing the specifics of this problem in such great detail.  My organization is running into the exact same issue at the moment, and your post gave us a hint that we might be able to work around it by requiring clients to provided an `Expect: 100-Continue` header on the request.  We're testing that workaround now.

We're also engaged with Akamai support to see if this is so

[2021-01-27 14:37] jphx commented on #13781
@chrskrchr We've been in contact with Akamai also.  They've been investigating and have said they _think_ they may be able to provide a configuration option to help with this, but they haven't finished their work yet.  If/when I learn more, I'll update this issue.  So far our best workaround is to encourage the use of the `Expect: 100-Continue` header.

[2021-01-27 14:55] chrskrchr commented on #13781
Thanks, @jphx.  We'll do the same.

I also want to point out to anyone else that stumbles across this thread to pay special attention to the case used in the `Expect: 100-Continue` header value.  The value must be `100-Continue` for Akamai to process it correctly.  [RFC 7231](https://tools.ietf.org/html/rfc7231#section-5.1.1) states that this value is case-insensitive, but passing `100-continue` a

[2021-01-27 15:06] wangfakang commented on #14767
ping @htuch

[2021-01-27 16:07] yanavlasov commented on #14835
@PiotrSikora might know

[2021-01-27 16:12] yanavlasov commented on #14836
Looks like this is a WASM filter which only applied to HTTP traffic.

[2021-01-27 16:15] yanavlasov commented on #14838
This does not look like an Envoy bug. You can also ask this question in the `envoy-users` channel on the envoyproxy slack, which may get you a quicker response.

[2021-01-27 16:29] PiotrSikora commented on #14835
There is not.

[2021-01-27 18:59] howardjohn commented on #6589
Is this only about path? Or would something like https://github.com/envoyproxy/envoy/pull/14491 fall in scope? Essentially allowing the original Host header (with port) to be forwarded while routing without the port internally. The current behavior forwards the modified host header, much like the path normalization

[2021-01-27 19:24] alyssawilk commented on #14789
My mental model was we'd have a proto of "what is disallowed" (everything being allowed by default) and different areas of the code base could add it over time to things like request_headers_to_add, or ext_proc.  There'd be a utility which took in that proto (or parsed config) and applied the checks, and that'd be added to sites with the API additions.
Totally open to options if there's a model wh

[2021-01-27 19:28] jewertow commented on #14823
Great, I will submit a PR soon.

[2021-01-27 19:47] markdroth commented on #10363
Looks like we never followed up on this.  Harvey, should I just put together a PR along the lines of what we discussed above?

[2021-01-27 20:14] mpuncel opened #14842 "circuit breaker retry budgets have no defaults (disagreeing with docs)"
*Title*: *circuit breaker retry budgets have no defaults (disagreeing with docs)*

*Description*:
The [docs on retry_budget](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/circuit_breaker.proto#config-cluster-v3-circuitbreakers-thresholds-retrybudget) say that `budget_percent` defaults to 20%, and that `min_retry_concurrency` defaults to 3.

However, it looks like the code do

[2021-01-27 20:31] snowp commented on #14322
Relying on the match tree to skip the filter is a bit awkward since we would still require a filter config to be specified. While we can configure some arbitrary filter in way where it acts like a NOOP filter (e.g. fault filter with 0% fault chance), it seems a bit gross API-wise. Maybe we can make it possible to omit the filter config if the match tree can be reduced to "always skip"?

cc @htuch

[2021-01-27 21:12] mpuncel commented on #14842
Ah I see that if you set these values via Runtime, then the defaults are correct. but not if you set them via xDS:

[code]

[2021-01-27 21:54] lambdai commented on #14784
Port used by other process makes this messy. Envoy won't repeatedly try listen on the port. Also reuse_port determines Envoy create (then bind and listen) socket once, or create N server socket where N=number of workers.

What is the `reuse_port` value within your listener config?

[2021-01-27 22:44] htuch commented on #12274
Agree with the above, we should use the opaque filter name in the HTTP filter chain as the key to join with the per-route overrides. I think this makes most sense. @fuqianggao @markdroth

[2021-01-27 22:47] lambdai commented on #14530
Not sure if it's the question you ask:
For plain tcp stream that is terminated by tcp_proxy, a single downstream tcp will always relayed to a single tcp upstream. LB occurs on upstream host selection so no need to "packet boundary".

Http traffic is handled by HttpConnManager as an L4 network filter. The http request parser within determines the boundary of http request(or parse concurrent streams

[2021-01-27 22:51] esmet commented on #3266
I'll give this a try.

[2021-01-27 22:51] esmet commented on #3266
!assign

[2021-01-27 22:52] esmet commented on #3266
/assign @esmet

[2021-01-27 22:53] esmet commented on #3266
I'll give this a try

[2021-01-27 23:32] fuqianggao commented on #12274
+1. In this case, should Envoy reject a config that has filters with the same filter name and filter type?

[2021-01-28 00:00] lizan commented on #14838
We no longer run Envoy as root by default starting Envoy 1.15.x, you can set ENVOY_UID and ENVOY_GID to 0, or give it right capabilities to listen on a well-known port.

https://www.envoyproxy.io/docs/envoy/latest/version_history/v1.15.0

[2021-01-28 00:50] ggreenway commented on #14835
It wouldn't be difficult to add: add a new config setting for it, then have the context call `SSL_CTX_set_session_cache_mode(ctx, SSL_SESS_CACHE_OFF)`.

[2021-01-28 01:02] ggreenway commented on #14531
There's already an option for this on the upstream side on the cluster config. So you can either add the downstream option on the HCM config, or we could consider deprecating the existing cluster option and adding the new one to `core.v3.HttpProtocolOptions`.

[2021-01-28 01:04] lambdai opened #14845 "Add downstream network filter chain name into StreamInfo"
Filters among various filter chains may share the same config.  Sometimes a small portion of the traffic need diagnose and we want to drill into filter chain(s)

Once Envoy populates the network filter chain name into the StreamInfo, either through a new api or existing dynamicMetadata, any network filter or http filter could utilize this info to debug.

[2021-01-28 02:35] liuqi-sun commented on #14836
This is a network filter example.
http WASM filter example is here: https://github.com/proxy-wasm/proxy-wasm-cpp-sdk/blob/master/example/http_wasm_example.cc
The  "setBuffer(WasmBufferType::HttpResponseBody, 0, 12, "Hello, world");" function is successful.

[2021-01-28 02:46] antoniovicente commented on #14784
If a different process is listening on a port, I think Envoy should have failed either at startup or rejected config since port is not available to listen.

EPOLLHUP events on fds that we are later calling accept on doesn't sound healthy.  I think it explains the CPU spin behavior: epoll_wait immediately returns EPOLLHUP on the invalid listen sockets.  Envoy should at the very least close the list

[2021-01-28 02:51] htuch commented on #14767
This seems reasonable, although I still don't fully grok why you do dynamic metadata creation during destruction.

[2021-01-28 03:01] antoniovicente commented on #14718
Introducing a new config option of BoolValue type or a disable_so_reuseport option that deprecates/replaces the current one may allow us to effectively flip the default.

Is that the direction we want to take?

[2021-01-28 03:09] htuch commented on #10363
Sure

[2021-01-28 03:11] htuch commented on #14718
Prefer BoolValue for anything that needs a default that might change.

[2021-01-28 03:12] stevenzzzz opened #14847 "[xds] ADS reject duplicate resources in grpc_mux"
*Title*: in grpc_mux_impl, let's reject a resonse when we see duplicate resources.

*Description*:
see https://github.com/envoyproxy/envoy/blob/main/source/common/config/grpc_mux_impl.cc#L224
We want to not "dedup" but reject the response here when the emplace fails

new_grpc_mux_impl seems doesnt have same issue as it push dup resources to each xds impl, where the dup resources gets rejected.

*R

[2021-01-28 03:13] stevenzzzz commented on #14847
/cc @fredlas

[2021-01-28 03:13] stevenzzzz commented on #14847
/cc @htuch

[2021-01-28 03:14] stevenzzzz commented on #14847
/cc htuch

[2021-01-28 07:53] wangfakang commented on #14767
@htuch  Forexample, we need to unify the processing time of some http filter, and then record the statistical results to the access log through dynamic metadata.

[2021-01-28 08:31] Demon520-coder opened #14848 "How do I config the load balance in envoy?"
I have some trobules in config load balance. When I follow the [https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto](url) link, it shows me wrong:
[code]
Here is my envoy.yaml about clusters. Can someone help me? Thank you very much.
[code]

[2021-01-28 08:32] #13831 closed

[2021-01-28 08:35] mk46 commented on #9285
This one is marked as deprecated in https://github.com/envoyproxy/envoy/blob/268b94b2b96b99b8a764cc75b2d3e214a410af71/api/envoy/config/core/v3/protocol.proto#L340

[2021-01-28 08:46] #14838 closed

[2021-01-28 08:53] #14490 closed

[2021-01-28 10:41] matinats commented on #10824
Hi @daganibhanu!

I would like to reopen this issue with a feature request to provide the corresponding BoringSSL version in the envoy --version command.
I opened an issue in BoringSSL community but it was advised to open it here.

OS:
$ cat /etc/system-release
CentOS Linux release 8.2.2004 (Core)

Getting the version from envoy (build non-fips) returns only this:
$ envoy --version
envoy  version:

[2021-01-28 10:52] PiotrSikora commented on #10824
Envoy has a lot of core dependencies, none of which are included in the `--version` output.

Why version of BoringSSL should be included there?

It's there:
https://github.com/google/boringssl/tree/1c2769383f027befac5b75b6cedd25daf3bf4dcf

BoringSSL doesn't do releases, so we're tracking versions used in Chromium stable, as explained in the file you linked above:
https://github.com/envoyproxy/envo

[2021-01-28 11:06] liuqi-sun opened #14850 "How to config WASM network filter stats in envoy.yaml"
I have implemented the WASM network filter data statistics via the statistics API, but do not know how to configure it in envoy.yaml. I want to access the statistics results through port 8001. Like TCP proxy,http://10.73.87.58:8001/stats?filter=redis_tcp

Process run result:
[2021-01-28 03:01:35.573][62299][warning][wasm] [source/extensions/common/wasm/context.cc:1174] wasm log: [example/test_cpp.

[2021-01-28 12:39] achilles-git commented on #14004
In istio-1.8.2 after applying above EnvoyFilter the transfer-encoding: chunked issue is resolved but the CDS is not syncing.
`$istioctl proxy-status`
shows status for CDS as STALE (Never Acknowledged)

[code]

[2021-01-28 12:51] medalliaerlich commented on #12969
any news regarding this?

[2021-01-28 13:46] matinats commented on #10824
Thank you so much for your explanation!
Now I understood how to find the correlation I was looking for.
I had been using the github search box with this commit "1c2769383f027befac5b75b6cedd25daf3bf4dcf" and didn't get any results.
I am stating here the steps for future reference:

1. Find the BoringSSL reference in envoy:
https://github.com/envoyproxy/envoy/blob/release/v1.14/bazel/repository_loca

[2021-01-28 14:20] anirudha-oc commented on #14363
We can have the following approach to solve this problem:

1. In the current envoy code, when a downstream header is received by envoy, it creates a header-entry for it in a header-map by calling `addViaMove()` or `addCopy()` header-map functions. A newly created header entry in the header-map stores `key_` and `value_` of the header as HeaderString(s). `key_` stores the header field name in lower

[2021-01-28 14:38] jmarantz commented on #14363
Per @mattklein123 we want to achieve zero-cost when the feature is disabled, so I don't think you want to add a new field to the header structures.

I also don't think you need/want to modify existing filters. You mainly want to modify the H1 codec to (if the new feature is enabled) add some annotation metadata. One way to do this without adding any existing cost (when disabled) is to add hidden h

[2021-01-28 15:02] yanavlasov commented on #14836
I see, look like documentation is out of date. @PiotrSikora @mathetake @lizan for any comments.

[2021-01-28 15:06] chradcliffe commented on #14363
In the `:case-preserve` case, I'm a bit concerned about the cost of tokenizing and iterating on the fields on output. Is there a way to back the hidden header by something like a vector and provide access to each entry in the value? I can't see anything obvious in the current API.

I like the general approach of the `:case-preserve` header, though, since it would allow for adding support for prese

[2021-01-28 15:07] cretz commented on #14363
How about just a `std::vector<std::string> case_preserved_keys_` inside the `HeaderMapImpl`? That can accomplish it without a special header value, or is there concern that it won't be persisted across some map copies?

[2021-01-28 15:11] yanavlasov commented on #14795
I see. Enabling debug or trace level logs may help determine what is happening. @wbpcode @dio @lizan for any more comments.

[2021-01-28 15:12] #14811 closed

[2021-01-28 15:16] PiotrSikora commented on #14836
`setBuffer(WasmBufferType::NetworkDownstreamData, ...)` modifies content of the downstream buffer (which is going to be sent to upstream by other filters chain, e.g. `tcp_proxy`), it's not for sending payload downstream.

In any case, the linked test clearly passes.

Also, you might want to open further issues about using [Proxy-Wasm C++ SDK](https://github.com/proxy-wasm/proxy-wasm-cpp-sdk) in it

[2021-01-28 15:24] yanavlasov commented on #14842
@snowp for any comments

[2021-01-28 15:43] yanavlasov commented on #14848
Are you sure you want to use `logical_dns` service discovery? For clusters with endpoints specified by IP addresses you should use `STATIC` type. For the `auth_app` cluster you may need to use STRICT_DNS unless DNS server loadbalances and returns different results for different queries.

[2021-01-28 15:49] robcatt opened #14851 "Local rate limiting using descriptors not taking effect"
*Description*:
We have an envoy route_config configured to provide a local rate limit of 1 token per minute, with a refill value of 1.

Using actions and descriptors, we are attempting to configure a higher rate limit when a request has a header of `x-product` which matches the value in the descriptor. This rate limit is set to 10 tokens per minute with a refill value of 10. Regardless of whether

[2021-01-28 15:51] jmarantz commented on #14363
RE speed of iterating over the comma-separated string? Let's get some numbers with a microbenchmark. Iterating over a comma-separated string-view I think can be made pretty fast.

RE order-of-headers; that's already preserved, no?

RE new case_preserved_keys_ -- sure but that adds memory footprint even when not in use. I'm also not convinced it would be measurably faster. While you wouldn't need t

[2021-01-28 16:00] snowp commented on #14782
I would add this as a CustomMatcher extension for use within the SinglePredicate. I don't recall off the top of my head whether we've wired up the extension factory logic here, so that might be part of it

[2021-01-28 16:01] r-aravind1997 opened #14852 "How to enable TLS passthrough via envoy config file"
I want the envoy to just delegate https calls to underlying downstream server to handle. In other words, TLS handshake must not happen at the edge where the envoy is, instead of https headers should be passed to the underlying server that is being proxied by the envoy. I found the way to declare tls context is like this:
[code]
I just want the envoy proxy to accept https call at proxy port and TLS

[2021-01-28 16:05] snowp commented on #14781
When I mentioned having a different category of DataInput I was talking about how the templating of DataInput works today.

Right now each DataInput is templated by the protocol specific input (e.g. `DataInput<HttpMatchingData>`), so if we wanted to support an env var input we'd have to make a `EnvironmentInput : public DataInput<HttpMatchingData>` and register it.

This typing means that we'd nee

[2021-01-28 16:11] phlax commented on #14852
hi @r-aravind1997 there is an example of tls passthrough without termination here:

https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/tls#step-5-test-proxying-https-passthrough

you might need to read/work through the rest of the sandbox

[2021-01-28 16:13] chradcliffe commented on #14363
You're right, my mistake.

[2021-01-28 16:23] snowp commented on #14842
I think the mismatch in expected behavior comes from the fact that it requires at least one of the fields in RetryBudget to be set in order to treat RetryBudget as enabled, which differs from other configuration usages where setting the outer message to empty enables the feature. I would have expected

[code]

to enable it with the defaults, but this doesn't seem to be the case.

@tonya11en do you

[2021-01-28 16:26] kyessenov commented on #14851
You need to put rate limits into route since there is no automatic fallback to virtual host rate limits. See this field https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-msg-config-route-v3-routeaction. I got bitten by this, too.

[2021-01-28 20:10] jgunvalson opened #14856 "WASM buffer out of memory"
*Title*: wasm buffer oom on larger data sizes

*Description*:
I am attempting to implement a wasm filter to do some l4 traffic inspection. When testing with larger data inputs I am seeing an oom error coming from the wasm buffer:

[code]

envoy docker container memory usage:
[code]

some tested file sizes:
1001264 (oom)
97609 (oom)
49140 (oom)

I am seeing this when I run it inside of my local doc

[2021-01-28 20:19] kyessenov commented on #14856
Wasm has its own independent linear memory buffer. I think it's supposed to grow dynamically. I wonder if malloc inside VM maybe not handling and reusing free'd memory, and the buffer just keeps growing with number of streams. You can query wasm memory size in pages as the VM processes streams, although I don't remember how to do that in c++. @PiotrSikora

[2021-01-28 21:44] mattklein123 commented on #10195
I think in addition to stat emission we could also think about emitting dynamic metadata which would help with the above cases. I haven't thought yet about the implementation but I think using regex with captures we should be able to do mostly arbitrary string matching and extraction.

[2021-01-28 21:59] mattklein123 commented on #14363
See Slack around here https://envoyproxy.slack.com/archives/C78HA81DH/p1607554081053300. I think we can do this with a header formatter per stream which stores a map. It should be pretty clean, no cost when not used, and cover most cases.

[2021-01-28 22:00] alyssawilk commented on #14587
OK, having tried to standardize on ForwardedProto I am increasingly convinced that's going to cause problems.

So, new plan, go the other way.

1) set :scheme for all requests.  For HTTP/1.1 it will be based on (trusted) forwarded proto, fully qualified urls, and encryption.  For HTTP/2 it'll be the scheme header.
2) Stop Envoy from sending :scheme header upstream based on upstream encryption whic

[2021-01-28 22:01] PiotrSikora commented on #14587
SGTM. Thanks!

[2021-01-28 22:02] PiotrSikora commented on #14856
cc @mathetake since it's Proxy-Wasm Go SDK.

[2021-01-28 22:11] mattklein123 commented on #14587
In general this sgtm but 2 things:

1) I know grpc has certain requirements with scheme. As long as scheme is set in all cases no matter what I think we are fine, but can we check this?
2) I'm very concerned that we will break people in the transition. Can we somehow warn if people are matching on XFP? Anything else we can do? I would also make the transition extra long with warnings first.

[2021-01-28 22:14] mattklein123 commented on #14851
@kyessenov should we have auto fallback or at least an option?

[2021-01-28 22:23] kyessenov commented on #14851
This is a really easy mistake to make, since it's just one extra indent in YAML.
One way might be to add [VH rate limit options](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/ratelimit/v3/rate_limit.proto#enum-extensions-filters-http-ratelimit-v3-ratelimitperroute-vhratelimitsoptions) into local rate limit config.

[2021-01-28 23:02] MikeSchlosser16 commented on #14856
Related: I ran a similar example to what @jgunvalson is describing above with Go and see the same issue. I used the example code found [here](https://github.com/tetratelabs/proxy-wasm-go-sdk/blob/main/examples/network/main.go) and also see the same OOM issues when writing messages to the TCP connection with size of around <1MB.

I wrote an example that mimics the logic in the Go SDK example using

[2021-01-28 23:14] Luciferre commented on #6999
Hi @yangyangpig , I encountered the same problem. Did you resolve it? Thanks!

[2021-01-29 01:17] AdiJohn opened #14859 ""LEAST_REQUEST" lb_policy can possibly select the host with most active requests."
*Title*: "LEAST_REQUEST" lb_policy can possibly select the host with most active requests.

*Description*:
With regarding to unweighted least request loadbalacing, the behavior [described in Envoy doc](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/load_balancers#weighted-least-request):

However, with the [current implementation](https://github.com/envoypr

[2021-01-29 02:32] Demon520-coder commented on #14848
Yes. You are right. Thank you

[2021-01-29 02:32] #14848 closed

[2021-01-29 03:38] htuch commented on #14322
@snowp can you share two example configs here (for posterity and also because I don't think I have the full context paged in)?

[2021-01-29 03:39] htuch commented on #12274
I think that would make sense, but it could break a bunch of existing users (maybe?). Would be worth adding a check and runtime enabling for rollout.

[2021-01-29 03:39] htuch commented on #14847
@dmitri-d in the unified gRPC mux do we still have htis problem? If not, we can try and get that merged (I know, I owe a review).

[2021-01-29 04:37] dmitri-d commented on #14847
@htuch: I'll check.

[2021-01-29 07:42] Abhinavjain2302 commented on #10174
@vkpardava I am also getting the same error. Any update on what could be the reason?

[2021-01-29 08:43] wuhuizuo opened #14860 "How to tunneling raw tcp over websocket, any example?"
*Title*: *How to tunneling raw tcp over websocket, any example?*

*Description*:

Some gw in product will disable connect method for private tcp proxy service for security. websocket is ok.
gw will refuse http connect method using [tcp-over-http](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/upgrades.html?highlight=upgrade_type#tunneling-tcp-over-http)
how to tunnel tcp(sock

[2021-01-29 08:49] grzegorz-mirek commented on #13673
@carlos-fau-etermax, how do you actually get metrics by "path spec"?

[2021-01-29 09:31] robcatt commented on #14851
@kyessenov We tried moving the rate limit config into route as you suggested, which has worked for us. Thank you for your help.

We were previously following this documentation: https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/local_rate_limit_filter#using-rate-limit-descriptors-for-local-rate-limiting, which appears to place it where we had it. Is this incorrect, or hav

[2021-01-29 11:24] carlos-fau-etermax commented on #13673
@grzegorz-mirek currently we use Traefik as an Ingress Controller and we have configured all the valid "path", so traefik report metrics per each "frontend" (each path).
The problems are:

1. we are using an Ingress for Service to Service communication (I do not recommend this practice) to get metrics for requests from one service to another (in new services we configured a Prometheus filter to ex

[2021-01-29 12:58] wd commented on #7795
I have tried the tap thing. I only can get the encrypted SSL data. It took me 1 hour to set up the environments and get the data converted to pcap files. But finally, I found that these are encrypted data ... Am I missed something or this is what it is supposed to?

[2021-01-29 14:23] cretz commented on #14363
@mattklein123 - Can you elaborate on this a tad bit and/or confirm my understanding is correct? So a new concept called a "header formatter" that is stored as a member on stream info? A pure virtual class w/ an overridable `serializeKey(LowerCaseString&)` or some such? Then there is a default no-op formatter impl that leaves lowercase, a "proper case" stateless formatter impl that converts to cano

[2021-01-29 14:23] Alexander1000 opened #14863 "formatting metrics"
*Title*: formatting metrics

*Description*:
Let me show you what me want:
[code]
This will allow you to customize different ways of sending metrics.
For examples:
[code]
or with configure (metric_format: "{prefix}.{name}{tags}:{value}|{type}" and tag_format: start: ";", assign: "=", separator: ";")
[code]

[2021-01-29 14:32] jmarantz commented on #14363
You want to add case-sensitive header names programmatically in a custom C++ filter?

Rewriting to ":case-preserve" would work for that I suppose, though you'd need to be careful if you do that a lot to avoid n^2 manipulation of that header's value.

Otherwise you'd need to have give the filter access to the formatter, which seems plausible. Matt, this formatter doesn't exist currently, right?

[2021-01-29 14:36] snowp commented on #14363
@jmarantz The concept of the formatter exists in the HTTP codec, but nothing exists that propagate the original casings. I think this would all be easily done if we're just storing a map/set of header casings on `StreamInfo` (either via `FilterState` or via explicit `StreamInfo` fields) that can be set to the original upstream/downstream casings if configured to do so. This can be made mutable so

[2021-01-29 14:40] jmarantz commented on #14363
Ah cool -- this sounds reasonable and better than :case-preserve then.

[2021-01-29 16:01] asraa commented on #5155
BTW -- added an adaptive load test (with nighthawk) to find optimal RPS (based on mean latency <= 5ms and 95%+ success rate)
@derekargueta

| - | BASELINE http_parser | llhttp | Factory with http_parser | Factory with llhttp |
| --- | --- | ---| --- | --- |
| Final RPS | 20125 | 20156 | 19531 | 19843 |

the llhttp boost somewhat counteracts the factory, there's a 1% degradation.

[2021-01-29 16:28] markdroth commented on #12274
To be clear, I think it should be reject duplicate filter names, not duplicate types -- it's totally fine to have two instances of the same filter under different names.

[2021-01-29 16:48] phlax commented on #14860
hi @wuhuizuo there are some example configurations in the websockets sandbox here:

https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/websocket

not sure if i understand the question exactly but there is an example of `tcp` proxying a web socket without termination included here:

https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/websocket#step-5-test-proxying-wss-passthrough

[2021-01-29 17:57] jrajahalme commented on #14756
@mattklein123 Upstream fix proposed: https://github.com/gperftools/gperftools/pull/1244.

[2021-01-29 18:47] #8567 closed

[2021-01-29 18:55] #11974 closed

[2021-01-29 19:34] McCoyAle opened #14865 "Request for improved details surrounding Envoy stats and metrics documentation"
*Title*: *Request for improved details surrounding stats and metrics documentation*

*Description*:
When customers are debugging issues such as connection resets failures (Contour/Envoy) deployment there have been requests for more in depth descriptions for metrics and statistics that are available in Envoy and documented on the Envoy page.

One example of this is the “upstream_cx_destroy_with_act

[2021-01-29 19:39] bartebor opened #14866 "Crash when updating UDP clusters through CDS"
*Title*: Envoy crashes after CDS update of multiple clusters

*Description*:
I have an envoy server working with our custom control plane based on current (0.1.27) java-control-plane via ADS (LDS, RDS, CDS, EDS). When there is sudden change in all of our clusters (500+), envoy crashes. I have checked v1.15.3, v1.16.2 and v1.17.0 - all of them crash.

*Repro steps*:
I have no isolated steps to repr

[2021-01-29 19:56] mattklein123 commented on #14363
Yeah, so per @snowp right now the header formatter exists but it's a static concept. What I'm suggesting is that instead of the formatter being static/set by config for all requests, we allow it to be allocated on a per-stream basis. So we would allow allocating an extension formatter on downstream stream creation, which is attached to the stream end-to-end. Then, on the encoding side it can do wh

[2021-01-29 19:59] #11038 closed

[2021-01-29 20:03] mattklein123 commented on #14851
Yeah I would add this config option. If we think the default might change I would probably just define a new enum for the local rate limit case.

[2021-01-29 20:18] lizan commented on #14756
Yeah this is known when I enabled arm64 but I haven't dig it deeply. Thanks for looking into @jrajahalme

[2021-01-29 22:42] gongcon commented on #14785
any update?

[2021-01-30 00:11] sagarkal opened #14869 "Fix for CVE-2020-28928 not absorbed on envoy-alpine docker image yet"
Request to release a new version of envoy-alpine docker image that is based on alpine version >=3.13 in order for the fix for CVE-2020-28928 to be absorbed.

https://hub.docker.com/r/envoyproxy/envoy-alpine/tags?page=1&ordering=last_updated

https://pkgs.alpinelinux.org/packages?name=musl&branch=v3.13

[2021-01-30 02:09] wlhee commented on #14860
https://github.com/envoyproxy/envoy/pull/14552 might help. It supports TCP over HTTP POST.

[2021-01-30 02:54] dogecoin2018 opened #14871 "understanding migrating from nginx to envoy"
Guys, I am new in envoy and I just knew it today.

I wanted to migrate my nginx server to envoy.. But couldn't find any resources on using PHP (app like wordpress) and how "location directive" and "web root" from nginx works in envoy (opening files like css, images, etc). Or do i need an app to run these? Also, I don't want to use laravel to run php.

Is envoy a fully proxy? I wanted to know if th

[2021-01-30 04:06] #14075 closed

[2021-01-30 06:53] dio commented on #14785
Sorry for the late reply. So the current API is:

[code]

Since the tracing option is only enabled for "asynchronous" calls, I think we can allow this last arg as a table as well:

[code]

[2021-01-30 07:26] LukeShu opened #14872 "grpc_http1_bridge sets HTTP status incorrectly for Trailers-Only responses"
*Title*: grpc_http1_bridge sets HTTP status incorrectly for Trailers-Only responses

*Description*:

gRPC responses may optimize and put would-be-trailers in the headers frame if there are no data frames.  The gRPC spec refers to this a a "Trailers-Only" response.

That is, the following two gRPC responses should be considered equivalent:

[code]
[code]

However, the `grpc_http1_bridge` does not t

[2021-01-30 10:51] denisanfimov opened #14873 "Allow envoy to set 'authority' header's value to the endpoint's hostname for clusters with type: STRICT_DNS and lb_policy: MAGLEV/RING_HASH"
*Title*: Currently requests coming to endpoints of cluster with type=STRICT_DNS and lb_policy=MAGLEV have 'authority' header equal to the name of the cluster ('dcs-cluster' as in the example below) and not to the hostname of the endpoint.

*Description*:
In my configuration:
[code]

I would like the 'authority' header in the requests sent to dc1 endpoint was equal to 'dc1' (not 'dcs-cluster') - th

[2021-01-30 12:51] yanavlasov opened #14874 "wasm-cc example uses all available disk space on CI"
We need to figure out what to do:

1. Run CI with more disk space
2. Reduce disk requirements by wasm-cc example
3. Free up disk space by deleting artifacts from previous steps.

For step 3 @phlax has suggested to delete `envoy-docker-images.tar.xz`

[2021-01-30 12:51] yanavlasov commented on #14874
@PiotrSikora for visibility

[2021-01-30 14:05] defool opened #14876 "Reloading dynamic configuration(LDS and CDS) from files not at the same time"
*Title*: *Reloading dynamic configuration from files not at the same time*

*Description*:

if the cluster name changed  in `cds.yaml` and `lds.yaml` at the same time,  envoy may returns 503 response.

*Repro steps*:

[2021-01-30 15:18] chintan-mishra opened #14877 "Files on host accessible to root are not available to envoy user within the container"
*Title*: *Files on host accessible to root are not available to envoy user within the container*

*Description*:
I have certain files, accessible only to the `root` user on the host system, that I mount while starting Envoy for use in the `envoy.yaml`. However, the files are not accessible to the `envoy` user within the container. This is preventing upgrading from `v1.14.6` to any newer release.

[2021-01-30 17:10] phlax commented on #14874
this is difficult to do without a) reducing size of build image, or b) using a custom image with bazel and requirements

the `envoy-docker-images.tar.xz` is pretty large so we could do one/some/all of:

- only put the required docker image into the xz for this step
- delete the xz after loading
- remove any unneccessary docker images after loading

if this doesnt free up enough space a more drasti

[2021-01-30 17:12] phlax commented on #14874
@yanavlasov @lizan if there is any consensus on the above approaches i can PR, im towards the option to separate verify runs, but happy to implement another solution if its helpful

[2021-01-30 18:21] moderation commented on #14869
Should https://github.com/envoyproxy/envoy/blob/main/ci/Dockerfile-envoy-alpine#L1 be updated with [hfrolvlad/alpine-glibc/alpine-3.13_glibc-2.32](https://hub.docker.com/layers/frolvlad/alpine-glibc/alpine-3.13_glibc-2.32/images/sha256-376aa766b9fbb1800c3e0456acbb24a7d75371e070b963e75112c6fcb9381ca0?context=explore) ?

[2021-01-30 18:28] #12278 closed

[2021-01-30 18:52] esnible opened #14878 "WASM httpCall() problems if cluster of type ORIGINAL_DST"
The crash only happens if Envoy is misconfigured with a WASM filter that makes an httpCall() to a cluster with type ORIGINAL_DST.

I am using the Envoy included in Istio daily builds, gcr.io/istio-testing/proxyv2:latest , which has "revision.sha": "36af7412848c274d8b6a5d9ed983b212a0a2d2ba".

My WASM C++ code that crashes Envoy

[code]

(The strange "outbound|80||example.com" "uri" is how Istio enc

[2021-01-31 02:47] sagarkal commented on #14869
Yes

[2021-01-31 18:31] itamarkam opened #14885 "Add CustomTag (metadata) access logger formatters"
*Title*:  Add [CustomTag.Metadata](https://www.envoyproxy.io/docs/envoy/latest/api-v3/type/tracing/v3/custom_tag.proto#envoy-v3-api-msg-type-tracing-v3-customtag-metadata) access logger formatters.

*Description*:
Existing access log formatters only support DYNAMIC_METADATA, but it would be helpful if they could also access request/route/cluster/host metadata (see [CustomTag.MetadataKind](https://

[2021-01-31 19:31] tonya11en commented on #14842
Sorry for the delay. I don't think this behavior was the intent. It would make sense to use the retry budgets over the retry circuit breakers if there is anything set in the runtime (even {}) or over xds.

I'll take a closer look today.

[2021-01-31 21:54] mattklein123 commented on #14859
I think this is by design at least with the current implementation. Feel free to do a doc update. In the future we could consider an option to retry to avoid duplicates but that seems like a different feature request, and I'm not sure it matters in practice. cc @tonya11en

[2021-01-31 21:58] mattklein123 commented on #14876
This is by design given Envoy's eventually consistent configuration model. Generally your control plane would want to sequence updates to avoid this (potentially using ADS).

[2021-01-31 21:58] mattklein123 commented on #14877
cc @phlax

[2021-01-31 22:04] mattklein123 commented on #14873
I've been looking for a related issue to this, but I can't find it, so maybe I'm not remembering correctly. Doesn't auto_host_rewrite do what you want?

[2021-01-31 22:08] mattklein123 commented on #14866
cc @lambdai @snowp

Can you provide more info about your setup? Cluster types? Config? Is there any way to make a self contained repro of the issue?

[2021-01-31 22:11] mattklein123 commented on #14863
This is a reasonable request, though I'm honestly not sure it's going to be worth it to right yet another parser for a custom statsd format string. you might be better off just doing a custom stats extension.

[2021-02-01 00:59] #14465 closed

[2021-02-01 02:11] phlax commented on #14877
if the files are not world readable, or more specifically are not readable by the envoy user, you can set the permissions correctly
before mounting them into the container.

you can do this either by changing their permissions on the host or by creating a custom docker image with the files added to the image with the correct permissions.

restricting the envoy user inside the container is a featur

[2021-02-01 02:12] phlax commented on #14877
see here for more info about container permissions https://www.envoyproxy.io/docs/envoy/latest/start/docker#permissions-for-running-docker-envoy-containers-as-a-non-root-user

[2021-02-01 02:19] udaymadu commented on #13147
Is there any action around it in upcoming releases about it.

[2021-02-01 03:40] feuyeux opened #14888 "WASM header doesn't match in VirtualService"
*Description*:
The [wasm](https://github.com/feuyeux/rust-wasm-4-envoy/blob/main/propaganda-filter/src/lib.rs) and its [envoyfilter](https://github.com/feuyeux/rust-wasm-4-envoy/blob/main/propaganda-filter/sh/istio/mesh/hello1_v2_envoyfilter.yaml) are used to propaganda header in outbound, and the [virtualservice](https://github.com/feuyeux/rust-wasm-4-envoy/blob/main/propaganda-filter/sh/istio/me

[2021-02-01 03:50] wuhuizuo commented on #14860
thanks for your reply, but I need an example of tcp tunneling with websocket prototol. not proxy websocket service with tcp proxy。

wlhee's [comment](https://github.com/envoyproxy/envoy/issues/14860#issuecomment-770137967) may be closed.

[2021-02-01 03:51] feuyeux commented on #14888
I so report the issue to isito https://github.com/istio/istio/issues/30545
If it's

[2021-02-01 03:51] #14888 closed

[2021-02-01 06:13] wbpcode commented on #14795
Do you set `start_child_span` in the route filter? It is necessary for skywalking tracer because only the exit span in envoy will inject context into the request header. @JaredTan95
Please check https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/trace/v3/skywalking.proto

[2021-02-01 06:40] phlax commented on #14860
@wuhuizuo if you have resolved your issue, could you close this ticket

[2021-02-01 07:40] wuhuizuo commented on #14860
ok.

[2021-02-01 07:43] jrajahalme commented on #14756
gperftools fix has been applied: https://github.com/gperftools/gperftools/commit/c5747615da78f7c2d91112f2a6b6b4da4f18540a.

[2021-02-01 08:12] Albibek commented on #14863
What parser do you mean here? The proposed format is the [Carbon tags](https://graphite.readthedocs.io/en/latest/tags.html), format used in Graphite-compatible systems extensively.

[2021-02-01 08:15] tonya11en commented on #14859
We all had a fairly lengthy discussion in a PR submitted to avoid duplicates when going P2C (https://github.com/envoyproxy/envoy/pull/11006). Take a look at the discussion for context, but I believe the gist of it is that the selection probability differences from preventing duplicate selections were negligible if you had >5 hosts. We'd also need to keep a copy of the host vector in each worker th

[2021-02-01 09:35] itamarkam commented on #14885
I also found https://github.com/envoyproxy/envoy/issues/3006 which is very similar.

[2021-02-01 12:19] chintan-mishra commented on #14877
I couldn't agree more over running the EnvoyProxy as a non-root user within the container being a security feature instead of a bug. However, after spending a significant amount of time on LetsEncrypt it is evident that we should not change the permissions of the generated TLS certificates on the host. So, this was not an option. But I could surely try adding the files in a custom container and ch

[2021-02-01 12:19] #14877 closed

[2021-02-01 12:23] chintan-mishra commented on #13221
@lamualfa-client you might find this helpful.

@phlax suggested three possible fix for this on #14877

1. Change the permission of the TLS certs or any other files for that matter before mounting them on the envoy container,
2. Create a custom container and within the container change the file permissions allowing the `envoy` user to work with them
3. Add `-e ENVOY_UID=0` while starting EnvoyProxy

[2021-02-01 12:23] #13221 closed

[2021-02-01 14:28] alyssawilk commented on #14587
yeah, I think this is going to be a multi-release fix, with lots of envoy-announce and warnings.  I plan on auditing all envoy use of XFP, and removing the XFP header accessors to help with downstream C++ filters but I don't think there's much we can do for wasm/lua other than envoy-annouce and slow guarded rollout.

[2021-02-01 14:31] asraa opened #14889 "UDP proxy fuzzing"
**UDP proxy fuzzing**:
*The goal of this fuzzer is to test Envoy’s [UDP proxy listener filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/udp_filters/udp_proxy). Currently, UDP proxy is intended to be [robust against untrusted downstream traffic ](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/udp/udp_proxy/v3/udp_proxy.proto#envoy-v3-api-msg-extensi

[2021-02-01 14:32] asraa commented on #14889
@DavidKorczynski

[2021-02-01 16:37] chradcliffe opened #14890 "Envoy adds content-length header to HTTP/1.1 GET/HEAD/DELETE/TRACE requests"
*Description*:
Envoy adds a `Content-Length: 0` header to HTTP/1.1 requests whose original downstream headers do not specify a `Content-Length` header and whose method does not define semantics for request bodies (confirmed with GET/HEAD, probably also DELETE/TRACE).

According to [RFC7230](https://tools.ietf.org/html/rfc7230):

In the descriptions of methods in [RFC7231](https://tools.ietf.org/ht

[2021-02-01 16:56] stevenzzzz opened #14891 "delta-xds: Add control_plane support to DeltaDiscoveryResponse"
*Title*:  Add control_plane support to DeltaDiscoveryResponse

*Description*:
Similar to control_plane in DiscoveryResponse, let's add control_plane to DeltaDiscoveryResponse

[optional *Relevant Links*:]

[2021-02-01 16:56] stevenzzzz commented on #14891
/assign stevenzzzz

[2021-02-01 17:23] ggreenway commented on #14890
cc @alyssawilk

[2021-02-01 17:29] asraa opened #14893 "Remove unused methods and exceptions from JsonObject"
Remove unused methods and the unsafe code that can throw exceptions such as the get[Type] methods that don't have defaults. https://github.com/envoyproxy/envoy/blob/0d5b470097d5e3645759e43414db8a7104aafb2e/include/envoy/json/json_object.h#L114

Follow-up to https://github.com/envoyproxy/envoy/pull/14467

[2021-02-01 17:42] ggreenway commented on #14871
Envoy does not function as a general-purpose webserver, so there is no direct equivalent for either CGI or  a www root.

[2021-02-01 18:23] htuch opened #14894 "Inconsistency in per-route filter config resolution across filters"
Some filters use `resolveMostSpecificPerFilterConfig()`, others use `mostSpecificPerFilterConfigTyped`. They both have independent logic around most-specific route config resolution, which is hard to follow and possibly keep inline. Is it plausible we can converge these?

[2021-02-01 18:24] htuch commented on #14894
CC @markdroth

[2021-02-01 18:30] esmet commented on #14872
I will take this

[2021-02-01 18:31] esmet commented on #14872
/assign

[2021-02-01 18:44] mattklein123 commented on #14863
The original description in this issue seems to propose some type of configurable output format, so I assume we would need to parse that output string. Maybe I'm misunderstanding what is proposed here.

[2021-02-01 18:46] mattklein123 commented on #14890
For historical context, when I originally wrote Envoy I decided to adhere to the new-style RFC guidelines which remove most/all of the historical per-method differences in handling. This is why we allow GET with bodies, for example. This is all technically allowed by the RFC.

The reality is every time we change anything in this area a ton of stuff breaks and it's super painful. At this point I do

[2021-02-01 18:46] #12759 closed

[2021-02-01 18:54] chradcliffe commented on #14890
I updated the description to clarify that adding headers can break some poorly-written upstreams that don't expect content-length for GET requests (fwiw).

[2021-02-01 18:59] #13799 closed

[2021-02-01 19:01] gongcon commented on #14785
Thanks @dio for the response. There's another problem of it. It does not honor the tracing config in both listener and route. The http call creates spans even we set overall_sampling to 0, which disabled tracing of requests coming into envoy.

[2021-02-01 19:10] alyssawilk commented on #14890
@mattklein123 given Envoy will add back C-L: 0 for "bodyless" methods, what would you think of a runtime-guarded option to remove C-L:0 as we encode headers to the codecs?  It shouldn't cause problems insofar I think servers must interpret "bodyless" headers as having no body, and if the next server is Envoy it'll cheerfully add them right back.  Unless of course your newfangled endpoints behind E

[2021-02-01 19:12] yanavlasov commented on #14874
I'm ok with breaking it up into separate runs. However I think the run with build images would still have same disk space issue right? We will probably need to do the steps you propose above, i.e. delete the archive file, and images that are not going to be used.

[2021-02-01 19:17] yanavlasov commented on #14743
The patch has been minimized in PR #14853 but it still requires a separate build target to build library without files that depend on ICU.

[2021-02-01 19:21] cretz opened #14897 "Passing dynamic state from a filter extension to a cluster extension for use in chooseHost"
*Title*: Passing dynamic state from a filter extension to a cluster extension for use in chooseHost

*Description*:

Opening issue per Slack convo. Problems with options today:

* [State on http conn stream info](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/advanced/data_sharing_between_filters) - you don't have access to the http connection manager stream info in the load balan

[2021-02-01 19:31] snowp commented on #14897
I could imagine being able to set a generic object on the LB context that could be downcast to an extension specific type for use in a custom cluster, though there might be a better way to do this depending on the specific use cases. Is your use case not well handled by setting metadata criteria? If not, could you elaborate on the use case?

cc @htuch since this is somewhat related to extensible l

[2021-02-01 19:44] cretz commented on #14897
I think it is mostly well handled by setting the metadata criteria (especially since we'll update it via VHDS on alterations as we need it). I would prefer a typed approach (similar to FilterState) over proto WKT structs, but it's not a big deal.

Now that I think about it, I can't think of a use case, since I have the headers and downstream connection available to me, where I couldn't handle my d

[2021-02-01 21:18] Luciferre opened #14901 "GRPC JSON TRANSCODER can't generate correct pb file with other proto plugin"
*Title*: *GRPC JSON TRANSCODER can't generate correct pb file with other proto plugin*

*Description*:
We have a private proto plugin to generate grpc related code. It also needs to add an option code block inside the service rpc block, for example:

[code]

Then I used protoc command to generate proto descriptor file and deployed to envoy, but envoy logs has error :" Could not find xxx service in

[2021-02-01 21:24] cretz commented on #14363
Pardon my ignorance again here. I think I am following with regards to setting the header key formatter on `Envoy::Http::Http1::StreamEncoderImpl` (i.e. the impl of stream) and propagating it that way. One thing I am not understanding is how I, in my filter extension, can programmatically mark a key as using a certain case without involving stream info? How do I update that map on the stream to sa

[2021-02-01 21:29] dmitri-d commented on #14847
@htuch: in the unified mux branch delta xDS errors out on a duplicate resource name in an update, but sotw xDS does not. Should be a trivial fix though.

[2021-02-01 21:37] #9246 closed

[2021-02-01 21:56] mattklein123 commented on #14890
Spec-wise I agree it should be fine, but I'm super twitchy about changes like this since every time we make them it breaks someone, and our usage is orders of magnitude larger than when I think we made another change like this. This one in particular seems benign enough to try with runtime, so will defer to your judgement on that.

Did you mean *not* standards compliant? I believe the behavior we

[2021-02-01 22:10] mattklein123 commented on #14363
Here is what I'm concretely suggesting but it may need tweaking depending on the requirements. At this point I think you would be better off creating a gdoc with various options that is easier to iterate on:
- Add a new extension point here for custom formatters that can be specified as HTTP/1 protocol options: https://github.com/envoyproxy/envoy/blob/deed328494064bf28e09055c1cda4e3a3cdd6b67/api/e

[2021-02-01 22:30] cretz commented on #14363
That was where I got confused about "not involving stream info", but my use case is I have externally defined headers that I set in a filter extension programmatically and I must preserve their casing (i.e. this is more than just request casing).

But now that I see that this is a completely new typed extension endpoint that needs to be created, yes, I can choose to have the filter set some state

[2021-02-01 22:36] jmarantz commented on #14363
I think once the infrastructure is plumbed in and a preserve-case formatter is supplied, anyone using Envoy would be able to select case-preservation for HTTP 1.* in configuration, without writing any code.

If you want to add a case-preserved header in a new filter then you'd have to just make different or extra call from the filter implementation.

It's probably worthwhile iterating in a doc fir

[2021-02-01 22:43] mattklein123 commented on #14363
+1 please do a doc before writing code. This is pretty nuanced and I want to make sure we are all on the same page. Thank you!

[2021-02-02 00:10] #14481 closed

[2021-02-02 00:16] mengmichael1 opened #14904 "http conn manager: Support Route Mutability"
*Title*: *StreamFilter: Support Route Mutability*

*Description*:
At Lyft we have a `Http::StreamDecoderFilter` that goes through rewriting the `Host:` header, clearing the route cache, and having the HTTP connection manager [reevaluate the route selection](https://www.envoyproxy.io/docs/envoy/latest/intro/life_of_a_request#http-filter-chain-processing) -- just to update the `routeEntry` [clusterN

[2021-02-02 00:52] mattklein123 commented on #14904
Note I already discussed this with the Lyft team internally. +1 from me. This has been asked for previously, is easy to implement, and will allow filters to fully customize route selection easily. cc @alyssawilk @snowp for thoughts.

[2021-02-02 01:48] ydzhou commented on #14137
Ping here. Also wondering what is the behavior.

[2021-02-02 02:56] #13422 closed

[2021-02-02 03:03] htuch commented on #14735
I finally had some cycles to work on this, https://github.com/envoyproxy/envoy/pull/14907 is the v3 API fix.

[2021-02-02 04:08] #13736 closed

[2021-02-02 04:19] snowp commented on #14904
In general very much in favor of this, just a few immediate thoughts:

I imagine this would not survive a `clearRouteCache`? Documenting this behavior would probably be sufficient, though I can imagine this causing some confusion whenever someone makes use of a filter that modifies the route, followed by another filter that modifies headers + clears the cache. This is similar to the limitations of

[2021-02-02 07:21] ankatare commented on #3091
@htuch ok. Thanks for detailed explanations. let me check this

[2021-02-02 08:31] lambdai commented on #14866
Hmm,  this stacks looks legit. It's probably data race.

Also I realize the cluster destroy on worker thread is not fully resolved by recent changes so I am going to pick up my left over https://github.com/envoyproxy/envoy/pull/14089

Once it is done let's see if that PR helps

[2021-02-02 11:55] bartebor commented on #14866
I have spent more time investigating this and it turns that my initial assumptions were wrong. It is not the CDS size what triggers the crash, but the existence of UDP proxy/clusters. I got to the point where updating single udp listener/cluster is enough to crash envoy. I'm preparing test environment for you to investigate.

[2021-02-02 13:16] bartebor commented on #14866
I created a simple management server capable of crashing envoy on request. You will need to build it, run it and connect envoy instance to it. Having done that a few clicks in "Trigger" button should crash envoy - at least it crashes mine instance :)
I hope this will help you diagnose the problem.

https://github.com/bartebor/crash-management-server

[2021-02-02 13:18] hinawatts opened #14908 "Downstream remote disconnect response"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *What are possible scenarios where we get downstream_remote_disconnect  response ?*

*Description*:

[optional *Relevant Links*:]

[2021-02-02 13:40] denisanfimov commented on #14873
@mattklein123 auto_host_rewrite=true on route allows to use hostname from
'endpoint.address.socket_address.address'
but ignores the value form
'endpoint.hostname'
I would like envoy to
1) resolve IP address from 'endpoint.address.socket_address.address' via custom dns_resolve.
My custom dns_resolver actually resolves CNAME records not for dc1 (alias) but for real FQDN (rewritten in custom dns_reso

[2021-02-02 14:24] paulius-p opened #14909 "max_stream_duration does not match deprecated max_grpc_timeout behaviour"
*Title*: `max_stream_duration` does not match deprecated `max_grpc_timeout` behaviour

*Description*:

Hello, after the deprecation message we've tried to upgrade our config to move from `max_grpc_timeout` to the new options implemented in #12578, but it seems they behave differently. When  `max_grpc_timeout: 0s` is set everything works right and grpc streams do not timeout, but changing that to t

[2021-02-02 14:28] alyssawilk commented on #14904
Definitely a fan of 1)
For 2) is the plan that every stream default to the delegate, and by default it gets the route's tracing config and route entry, but the same way you can setRoute you can setTracingConfig to override bits?  I think this is fine, though I wonder about the pros and cons of doing this programatically, vs a route re-architecture where we refactor the monolithic entry into someth

[2021-02-02 15:33] madhu-shankar opened #14910 "Forward Connection:Close header to downstream"
*Title*: *Preserving the connection: close header after closing the connection with upstream*

*Description*:
We have a Envoy setup which is fronted by a LoadBalancer. Whenever the upstream hosts send a `Connection:close` header, Envoy closes the connection with upstream endpoint(`upstream_cx_close_notify` stat) and removes this header from the response. We want to also close the connection betwee

[2021-02-02 15:48] howardjohn commented on #6589
Another similar question as above: Is header case normalization in scope? I can open a new issue if its both desired and out of scope. https://github.com/istio/istio/issues/30579 for reference

[2021-02-02 16:10] snowp opened #14912 "More descriptive load balancing failure messages"
Currently we assume that if a load balancer implementation returns `nullptr` that this means `no healthy upstream`. For load balancers like the subset lb, it could also mean that no host existed that satisfied the requirement (i.e. no subset found). It would be helpful to provide some mechanism to surface the failure reason, which could be included in some way in the local reply.

This would in tu

[2021-02-02 17:07] ggreenway commented on #14912
That sounds useful. It may be better to make it an enum instead of a string, in case we want to do something like add an access-log flag for some values.

[2021-02-02 17:10] ggreenway commented on #14910
Can you elaborate on why you want the upstream response to cause the downstream connection to close? Are you trying to ensure that the LB->Envoy connection doesn't live forever? Is there a specific failure condition you're trying to deal with?

In general, there isn't a strong relation between the upstream and downstream connection when doing HTTP proxying. The semantics of such a connection could

[2021-02-02 17:13] ggreenway commented on #14909
@dfawley can you take a look?

[2021-02-02 17:23] ggreenway commented on #14901
@lizan or @htuch can you comment on this?

[2021-02-02 17:27] mpuncel commented on #14912
This would be really useful. Today "no healthy upstream" can mean a variety of things:

1) All the upstreams were failing health checks (if panic mode is disabled)
2) There were no upstreams at all (e.g. service discovery issue)
3) subset selector did not match any upstreams

There might be more I'm not thinking of, but if we can distinguish those cases it would save a lot of debugging time!

[2021-02-02 18:01] qiwzhang commented on #14901
Based on grpc transcoding [code](https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/http/grpc_json_transcoder/json_transcoder_filter.cc#L124) , most likely your custom plugin caused wrong format of proto descriptor file.

You can copy these code to form a standalone to parse your generated descriptor file to debug it.

[2021-02-02 18:49] dfawley commented on #14909
Sounds like a bug to me?  @alyssawilk

Setting `max_stream_duration` to 0s should not be causing timeouts:

https://github.com/envoyproxy/envoy/blob/0ba9e045147af4b6a265d6d09b0eabb896b6426f/api/envoy/config/route/v3/route_components.proto#L772-L775

[2021-02-02 19:43] snowp commented on #14912
The main rationale for a string was better supporting custom clusters/load balancers that might want to enrich the information, but perhaps it would be better with an enum capturing the main failure reasons and potentially exposing mutable filter state/metadata to the lb down the line if we actually have a use case for extensions wanting to record more free form failure reasons.

[2021-02-02 20:27] mengmichael1 commented on #14904
Thanks for the feedback everyone!

@mattklein123 Saw you added the "help wanted" tag, to clarify I'll be taking on this implementation work :)

@snowp Correct, this wouldn't survive a `clearRouteCache` in subsequent filters. But like you said, should be fine since `Router::RouteConstSharedPtr route(const Router::RouteCallback& cb)` has the same limitations.

Yes, the plan is to **also** add a `Del

[2021-02-02 20:28] cretz opened #14918 "VHDS continues to fail after invalid resource"
*Title*: VHDS continues to fail after invalid resource

*Description*:

When sending a virtual host from my control plane to Envoy (I push, I don't have the on-demand filter enabled), if I give it a resource w/ a domain that's already in use, I get:

Then, for every "response" I push after that w/ new vhost info (i.e. completely unrelated to the one pushed), I get that same error. Essentially push

[2021-02-02 20:42] #14234 closed

[2021-02-02 22:37] cetanu commented on #14539
Well, you'll be glad to know that this was something completely silly - as you can see in the JSON representation above, the field `healthchecks` is incorrect, it's meant to be `health_checks` :)

[2021-02-02 22:37] #14539 closed

[2021-02-02 23:56] brianwolfe opened #14920 "wasm: allow customization of prometheus namespaces"
*Title*: permit calling of registerPrometheusNamespace from WASM extensions

*Description*:

Currently, prometheus metrics are namespaced by envoy unless the metric prefix is explicitly registered using `registerPrometheusNamespace`. This functionality was added in https://github.com/envoyproxy/envoy/pull/11808. Making this dynamically configurable would allow us to customize the metric naming, re

[2021-02-03 00:23] lambdai commented on #14852
@r-aravind1997  You can choose one of http_connection_manager(HCM) network filter or tcp_proxy network filter to proxy the traffic.

HCM can parses the http request and extract `https://host1.com:9001/some/path` attribute from the incoming traffic, but HCM doesn't support proxying L4 bytes by byte. Instead HCM proxy at per request.

tcp_proxy can relay byte to bytes from downstream connection to u

[2021-02-03 00:41] mattklein123 commented on #14873
I know I had a thread about this in some other issue but I can't find it now. The issue is that STRICT_DNS ignores `hostname` when it's set and always set the hostname of each host to the DNS address in socket_address. IMO the correct behavior is to set the hostname of the host to `hostname` if it's set, otherwise to use the DNS address. I think this is effectively what the other clusters do so I

[2021-02-03 00:45] mattklein123 commented on #14866
@bartebor thanks, is there any chance you could wire this up using docker compose so we don't have to figure out how to build things, etc.? Then I think someone can look at this.

[2021-02-03 01:23] htuch commented on #6589
I think #8463 is tracking this one @howardjohn.

[2021-02-03 01:35] howardjohn opened #14922 "Listener access logs missing %REQUESTED_SERVER_NAME% when no filter chain matches"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:
When I send a request that matches a filter chain, I see access logs:
`{"requested_server_name":"hello.example.com", ...}`

Ho

[2021-02-03 04:57] madhu-shankar commented on #14910
Yes, the intention is to not have the LB->Envoy connection live forever. We are doing migration between two type of stacks, as part of it we add and remove partitions on the LoadBalancer. While doing so, the load is not getting distributed evenly across partitions reason being that the LB->Envoy connections are living forever and the traffic keeps going to the old partitions.

In order to fix the

[2021-02-03 05:35] fai555 commented on #9127
Any update on this?

[2021-02-03 05:48] mattklein123 commented on #14553
Sorry for the long delay in response.

Yes, exactly. I think if we develop a gRPC API that can be optionally called from the TLS code, this will allow arbitrary backend implementations. We have many examples of APIs at this point that are "side-calls" of this nature. Take a look at:
1) https://github.com/envoyproxy/envoy/blob/main/api/envoy/service/ratelimit/v3/rls.proto and how it's used in the v

[2021-02-03 05:53] long1eu commented on #14520
This is still an issue.

[2021-02-03 07:15] bartebor commented on #14866
Oh, I thought that it was easy enough to use - the build process is dockerized, there are no other requirements than docker itself to run this. I also thought that developers would use it against their own built envoy, so I did not  see the reason to use docker-compose. The README has all commands to just copy&paste:
[code]

[2021-02-03 10:57] ankatare commented on #14300
@dio. please reopen it and assign to me. as per your latest comment i will push pr.

[2021-02-03 11:24] Anonymous-Coward commented on #11532
I would also argue for not modifying x-b3-traceid, when it is provided by clients. When traces are stored in the same place across multiple systems, this breaks trace analysis tools - they group spans by x-b3-traceid, and that header's value changes for requests which should belong to the same trace.

[2021-02-03 11:45] ankatare commented on #14300
/no stalebot

[2021-02-03 12:02] phlax commented on #14874
@yanavlasov  have raised a PR to separate the wasm test run

im not sure if deleting the tarball etc is necessary at this stage.

the relevant `df` before/after the main test run:

[code]

and for the wasm/compiler run

[code]

also, if diskspace becomes an issue again, im thinking the better solution  is to reduce the originally created tarball as that has the added bonus of reducing up/download

[2021-02-03 12:04] #14477 closed

[2021-02-03 14:02] davidkornel opened #14925 "Didn't find a registered implementation for name: 'envoy.filters.udp_listener.udp_proxy"
I'm a newcomer to envoy. I'm trying to make a dynamic conf setup from filesystem. I've got a few questions about it. First of all, what is the difference between listener_filters and filter_chains, seems the same at first, but there's gotta be something I miss.

As in the title, you can see I'm having some problems. My cds config file works perfectly, but my lds config is wrong somehow.
An example

[2021-02-03 14:06] noahziheng commented on #14890
I had a similar problem when I was creating a spider. A few DDosS/WAF Provider and historical website(especailly made by ASP.NET) can't handle the GET request with Content-Length: 0.
I think envoy NEED a config knob for us who make request to old-school service(ex. spider to some old .gov website).We need use Istio to manage exgress by envoy but transparent please. @mattklein123
Same issue at Isti

[2021-02-03 16:31] sriyer commented on #11532
Hey @euroelessar @mattklein123 is this something that we can expect in the upcoming release ? we are trying to plan our course of action, would appreciate any update.

[2021-02-03 16:42] mattklein123 commented on #14866
Ah ok, perfect, thanks. I will take a look.

[2021-02-03 19:42] mattklein123 commented on #11532
I don't think anyone is working on this currently. I will try to get this done since it's a frequent request.

[2021-02-03 20:06] xiaobinxbw opened #14929 "Enable the envoy.filters.http.kill_request filter filter to honor Route-level configuration"
*Title*: *Enable the envoy.filters.http.kill_request filter filter to honor Route-level configuration*

*Description*:

[2021-02-03 20:49] bianpengyuan opened #14930 "Segfault from ECDS update"
Got a crash when updating filter config with ECDS.

[code]

[2021-02-03 21:24] snowp commented on #14930
Is there any more information you can provide? A repro would be ideal, but config used for Envoy, config pushed via ECDS, envoy version, etc. would be helpful in debugging this

[2021-02-03 21:45] bianpengyuan commented on #14930
This is from a  running istio cluster. I am not yet able to reproduce it. Trying to get a core dump if this happens again.

[2021-02-03 22:09] alyssawilk commented on #14909
Looking at the original API PR:
https://github.com/envoyproxy/envoy/pull/13018/files
I see
max_stream_duration==0 generally disables stream timeouts
grpc_max_timeout==0 if present means grpc timeout headers apply to gRPC requests.

If you're trying to configure no timeouts, I think you need to not set the second field.  Give that a shot and if it doesn't work I can circle back?  Sorry this was so

[2021-02-04 00:43] ggreenway commented on #14910
Would something different, such as what's requested in #8443 (which recently had some interest), or `max_connection_duration`, be close enough? They're both ways to limit the lifetime of the downstream connection from within Envoy.

[2021-02-04 02:21] madhu-shankar commented on #14910
Yes, `max_connection_duration` and `max_requests_per_connection` are good configuration knobs that we can work with. Can you throw some light on how the connection closing works in this case? Does it use the same connection close header so that the LB can forward this header and force the client->LB connection also to be closed? as we want the whole connection chain(remote_Client -> LB -> Envoy) t

[2021-02-04 04:03] #14484 closed

[2021-02-04 06:05] Shikugawa opened #14933 "SkyWalking tracer extension header support"
In current implementation, it can't accept and use context packed on `sw8-x` header. This feature is already supported on cpp2sky, then just to extract propagated header and use them.

https://github.com/envoyproxy/envoy/blob/main/source/extensions/tracers/skywalking/skywalking_tracer_impl.cc#L53
https://github.com/SkyAPM/cpp2sky/blob/main/source/propagation_impl.h#L55-L63
https://github.com/apach

[2021-02-04 06:32] bianpengyuan opened #14934 "Dynamic filter config provider provides empty config when listener updates"
I am using ECDS to provide dynamic extension configuration. When listener updates, dynamic filter config provider will return empty config for the new listener:
https://github.com/envoyproxy/envoy/blob/4e1146ba4c55ad0ef89e5cf51a0046b998812aa1/source/common/filter/http/filter_config_discovery_impl.cc#L40

I think what happens is that when listener updates, old listener takes time to drain, ECDS sub

[2021-02-04 08:52] zhangguanzhang opened #14935 "failed to add listener on worker: cannot bind '0.0.0.0:53': Permission denied"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.
[code]
*Repro steps*:

required to repr

[2021-02-04 08:52] zhangguanzhang commented on #14935
add `-e ENVOY_UID=0` resolve this

[2021-02-04 08:52] #14935 closed

[2021-02-04 11:44] dongtianyi commented on #9127
Anyone has suggestions ?

[2021-02-04 11:58] davidkornel commented on #14925
I got the solution. Missed this sentence when reading listener_filters docs

Had to change `filter_chains` to `listener_filters` and add `socket_address.protocol: UDP` to my listener's conf

Closing issue

[2021-02-04 11:58] #14925 closed

[2021-02-04 11:59] mk46 commented on #14531
@ggreenway Thanks for the suggestion to move on. Could you please guide me to implement further? See the linked PR.

[2021-02-04 12:14] #14391 closed

[2021-02-04 12:36] mk46 opened #14937 "Docs should be sync with latest commit"
Docs are not rendering the latest commit from https://github.com/envoyproxy/envoy/commit/18db4c90e3295fb2c39bfc7b2ce641cfd6c3fbed

[2021-02-04 12:49] mk46 commented on #12431
Now MaxBodySize is configurable by `route.v3.RouteConfiguration.max_direct_response_body_size_bytes`. I think, we should close this. dup of https://github.com/envoyproxy/envoy/issues/13422

[2021-02-04 14:42] phlax opened #14939 "Websocket sandbox test is flakey"
### description

The websocket test fail on some PRs for  no immediately discernible  reason

example failing logs (copied from slack)

[code]

PRs known to have failing tests #14907 #14915

[2021-02-04 14:47] phlax commented on #14939
possible related https://github.com/vi/websocat/issues/23#issuecomment-545410643

[2021-02-04 16:25] ggreenway commented on #14910
Note that `max_requests_per_connection` isn't (yet) implemented/supported for downstream connections.

For HTTP/1, Envoy will send a `Connection: close` header after `max_connection_duration` if another request comes in. If not, after some period of time, it will just close the connection.

I don't know what your downstream LB is going to do, but note that according to the spec, the `Connection` h

[2021-02-04 17:28] paulius-p commented on #14909
Thanks for the suggestion, but it still didn't work. Also requests do not contain the `grpc-timeout` header.

[2021-02-04 18:29] guyco-redis commented on #14784
`reuse_port` is set to False. Since we cannot reproduce to issue, I don't have strace logs from the listener creation.
Until this issue is resolved, we will try to perform a cleaner transition between the other process and envoy, not making envoy to bind ports that are still in use.

[2021-02-04 19:29] #14939 closed

[2021-02-04 21:12] lambdai commented on #14922
I guess it's because ActiveTcpListener::newConnection didn't populate the REQUESTED_SERVER_NAME.
The logic is tricky there:
If a filter chain is selected, the transport socket in the chosen filter chain should populate the `REQUESTED_SERVER_NAME`. The value sniffed by tls_inspector should be ignored.
If no filter chain is selected, this server name should be populated with the best knowledge, name

[2021-02-04 21:16] lambdai commented on #14873
A related issue is about the different semantic between google-grpc and envoy-grpc.

Envoy-grpc uses cluster backend. Currently it's envoy-grpc client that set :authority, but it's good to have another source of :authority that is bind with cluster.

[2021-02-04 21:18] howardjohn commented on #14922
By the way, real world case that impacted me: I was trying to debug no filter chain match. I concluded, based on log, that client does not set any SNI. However, it actually did, but set to one that did not match any filter chain. I was only able to figure this out by swapping envoy with mitmproxy

[2021-02-04 22:19] #12431 closed

[2021-02-04 22:43] bianpengyuan opened #14947 "Wasm: provides useful response code/flag on VM failure"
Currently when Wasm VM fails due to [any reasons](https://github.com/proxy-wasm/proxy-wasm-cpp-host/blob/02a3ce21c8828d85063a9468e9d39dd8536a5980/include/proxy-wasm/wasm_vm.h#L134), proxy-wasm-cpp-host will close stream, which will result in empty response at Envoy. It will be more user friendly to at least populate response header and flags to indicate errors is from Wasm VM.

cc @PiotrSikora @ma

[2021-02-04 22:57] PiotrSikora commented on #14947
Do you mean in the access logs or as part of the HTTP response (I believe we return 503 in fail close case, correct)?

[2021-02-04 23:01] bianpengyuan commented on #14947
as part of http response. It currently returns empty response. I guess there is some parts of proxy-wasm-cpp-host and envoy that are not hooked up well, but have not yet dug deeper on this.

[2021-02-05 00:06] #14500 closed

[2021-02-05 00:41] qiwzhang commented on #11042
This [PR](https://github.com/envoyproxy/envoy/pull/14715) should solve this issue.

[2021-02-05 02:02] esmet commented on #2092
I may have duplicated this issue in https://github.com/envoyproxy/envoy/issues/14348. The associated PR is merged.

If we feel like the above issue is in fact the same thing and the associated PR fixes it, we can close this out.

[2021-02-05 04:03] #14373 closed

[2021-02-05 04:15] mk46 commented on #14937
cc @phlax

[2021-02-05 06:07] mattklein123 commented on #14937
I think the issue is the netlify config is broken from master -> main switch. I will take a look.

[2021-02-05 06:25] mattklein123 commented on #14937
Fixed

[2021-02-05 06:25] #14937 closed

[2021-02-05 07:55] wbpcode commented on #14560
/no-stale

[2021-02-05 07:55] wbpcode commented on #14560
/no stalebot

[2021-02-05 07:58] wbpcode commented on #14560
/no-stale

[2021-02-05 08:19] Alexander1000 commented on #14863
Yes, we would really like to be able to send metrics in carbon format for use in graphite-compatible systems.
Perhaps it would be great to implement a client like DataDog that will send metrics in a different format.

[2021-02-05 10:16] defool commented on #14876
Thanks, ADS is what I need.

[2021-02-05 10:16] #14876 closed

[2021-02-05 10:20] pantianying opened #14952 "Add env variables to header"
Can we use environment variables in the Envoy configuration? For example, when I use istio, I currently have a requirement that the requester carry namespace information in the header. The namespace information already exists in the container's environment variable. I wish we had something like this to pass the header information.
[code]
However, I have tried many methods now, but I can't dynamica

[2021-02-05 10:28] npuichigo opened #14953 "Is response_payload_too_large configurable?"
I want to ask a question that whether response_payload_too_large is configurable.

The only information I found is envoy is doing non-streaming proxying and the response payload exceeded configured limits, and it till trigger a 500 error.

From the code, max payload seems to be a constant. (https://github.com/envoyproxy/envoy/blob/main/source/common/http/http2/metadata_encoder.h#L77)

[2021-02-05 12:09] srenatus commented on #11042
💯 that's great, thanks for the heads-up, @qiwzhang 😃

[2021-02-05 14:44] moonlightysh commented on #10377
also want to know if there is any progress on this feature request?

[2021-02-05 16:27] asraa opened #14957 "Make ENVOY_BUG only log critical in official debug builds"
Given that WASM has been seeing ENVOY_BUG crashes, we should consider adding a compile time flag that makes ENVOY_BUG only log critical/increment stat and NOT abort, even in debug mode.

We may want release branches to be non-crashing in official debug releases  for the next few releases until extensions are safe and ENVOY_BUG conditions are fixed.

See https://github.com/proxy-wasm/proxy-wasm-cpp

[2021-02-05 16:31] mathetake opened #14958 "wasm: expose env variables to Wasm VMs through environ_get WASI interface"
Reading env variables from inside Wasm VMs are already defined in WASI's environ_get functions, and well supported in various compiler toolchains. However the current implementation of proxy-wasm-cpp-host and envoy does not expose any value to a VM.

There are strong demands from the community for supporting this, and it makes sense to add the new configuration in the Wasm filter's extension to co

[2021-02-05 16:37] #14647 closed

[2021-02-05 16:39] asraa opened #14959 "HTTP/1.1 codec: Audit ASSERTs"
This issue describes a scan of ASSERTs in the HTTP/1.1 codec and recommendations to change some: https://gist.github.com/asraa/9d5d60b0af53dc88ce39d8cfd71ef12a

Those marked with a verdict have been audited or unknown if they need a pair of eyes.

- [ ] Change 2 potential triggerable conditions: https://github.com/envoyproxy/envoy/blob/38ec92e7f717954d2c01e64a47de6946775c9322/source/common/http/ht

[2021-02-05 16:41] asraa commented on #14959
cc @curiouserrandy @htuch

[2021-02-05 16:42] PiotrSikora commented on #14957
Note: it's not only Wasm but also `ext_authz` (and possibly `ext_proc`).

That's a very good point. It might be that we just only to fix this single buggy `ENVOY_BUG`.

[2021-02-05 16:48] asraa opened #14960 "HTTP/2 codec: Audit ASSERTs"
This issue describes a scan of ASSERTs in the HTTP/2 codec and recommendations to change some:  https://gist.github.com/asraa/eb8b90a6398d202dd584cf403e3c6f3a

Those marked with a verdict have been audited or unknown if they need a pair of eyes.

- [ ] Change 1 potentially triggerable condition https://github.com/envoyproxy/envoy/blob/d5e8634edf26dab65218e42f2acfe7c3dc95b72d/source/common/http/htt

[2021-02-05 16:52] asraa opened #14961 "Router: Audit ASSERTs"
This issue describes a scan of ASSERTs in the router filter and recommendations to change some: https://gist.github.com/asraa/859a41a8f5f252d35da58c9ef7502230

Those marked with a verdict have been audited or unknown if they need a pair of eyes.

- [ ] Change 1 refactorable call https://github.com/envoyproxy/envoy/blob/488973532ac72f56473bd2b6f770f0a011bf14a1/source/common/router/router.cc#L276 ad

[2021-02-05 18:03] jamersonchequer commented on #7272
Were you able to solve this problem? I have the same problem

[2021-02-05 20:10] #14874 closed

[2021-02-05 20:23] yanavlasov commented on #14953
The code you are referencing is for encoding HTTP/2 METADATA frames. It is unlikely you are using this. Would you be able to describe the problem in more details and provide your Envoy configuration, please?

[2021-02-05 21:38] #14466 closed

[2021-02-05 21:46] #14649 closed

[2021-02-05 22:01] ggreenway commented on #14920
cc @lizan

[2021-02-05 23:38] howardjohn commented on #14598
From the docs " The server may send additional responses at any time when the subscribed resources change."

I don't see anything suggesting sending two responses in a row without ACK is illegal?

[2021-02-06 01:17] dalegaspi commented on #14363
i think that i'm speaking for a lot of people when i say that i am looking forward to this feature to be available.

[2021-02-06 03:06] omnipo opened #14967 "When would a connection persist through a filter chain change?"
*Title*: *When would a connection persist through a filter chain change?*

*Description*:

*Relevant Links*:

[2] https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto#envoy-v3-api-field-extensions-filters-network-http-connection-manager-v3-httpfilter-config-discovery

[2021-02-06 03:27] charlesxu2000 opened #14968 "When there is no healthy host in cluster, Envoy continue route traffic to unhealthy host in cluster"
*Title*: *When there is no healthy host in cluster, Envoy continue route traffic to unhealthy host in cluster*

*Description*:

Envoy version: 1.17.0.
Have static route with two upstream services within a cluster. Cluster using round robin lb_policy. Have cluster health check configured on service endpint "/healthcheck".

If two services are all healthy, Ingress http traffic is round robin routed

[2021-02-06 04:43] tangyan commented on #11042
This issue is more complex than it looks like.  I don't think the [PR](https://github.com/envoyproxy/envoy/pull/14715) is the right fix.

Here is why: It is possible that a user may want to envoy to route both a regular HTTP REST request and a gRPC HTTP transcode request.  Rejecting an unknown URL with 400 directly prevents those requests to be routed in later of the filter chain.

To give a concr

[2021-02-06 09:29] qinggniq opened #14971 "docker linux multiarch ci test fails randomly"
*Title*: *docker linux multiarch ci test fails randomly*
Hello, the ci always failed at envoy-presubmit (docker linux multiarch), it always failed at the same location:
[code]
the failure appeared at some prs:
pr https://github.com/envoyproxy/envoy/pull/14895
pipelines https://github.com/envoyproxy/envoy/pull/14895/checks?check_run_id=1809760617
pr https://github.com/envoyproxy/envoy/pull/14945
pi

[2021-02-06 18:31] #2092 closed

[2021-02-06 18:50] mattklein123 commented on #14968
This is called panic routing: https://www.envoyproxy.io/docs/envoy/latest/faq/load_balancing/lb_panic_threshold

[2021-02-06 18:50] #14968 closed

[2021-02-06 18:51] mattklein123 commented on #14967
cc @lambdai @phlax agreed we can do better here on docs. This is all pretty complicated.

[2021-02-06 19:23] lambdai commented on #14967
What you mentioned regarding RDS and ECDS is correct.
Network filter chain see the *name* (or protobuf message as you mentioned) of Route and Extension. The route or extension bind to that name is escaped from the change from network filterchain's view. That's the goal of RDS and ECDS(and also CDS), do not trigger the drain at network filter. Meanwhile, even though the L4 connection is not drained

[2021-02-06 20:15] phlax commented on #14971
from my reading of those links it seems like it may be running out of mem.

if it is the same issue, then it seems like running it a second time should fix the problem, but it would be good to know what is the actual cause  and deal with that

[2021-02-07 00:36] htuch commented on #10943
Worth noting that `git blame` analysis is confused by the machine generated protos and can't accurately track origins of API features, pointed out by @asraa.

Also see some straggler v2 uses in 1.17 fixed by https://github.com/envoyproxy/envoy/pull/14907

[2021-02-07 01:06] htuch opened #14973 "proto3 optional for all scalar fields"
As discussed in https://github.com/envoyproxy/envoy/pull/14880#issuecomment-772863659, we would like to both:
* Move to using proto3 `optional` support over WKTs for scalar fields. This should have both wire, memory, text proto and other overhead wins.
* Use `optional` for _all_ scalar fields, since this future proofs client default choices. We can switch from default `true` to `false` in Envoy wi

[2021-02-07 01:11] yishuT commented on #14597
is there wiki page or paper about WRSQ?

[2021-02-07 01:14] tonya11en commented on #14597
@yishuT I dreamed this one up, so unfortunately I don't have any reference material beyond what I wrote in the PR for the scheduler https://github.com/envoyproxy/envoy/pull/14681. I'm happy to answer any questions you  may have, to the best of my ability.

[2021-02-07 01:22] yishuT commented on #14597
ah wow, nice! Thanks for the pointer. I will read through the PR

[2021-02-07 02:44] omnipo commented on #14967
Thanks for the reply @lambdai . To clarify a bit, when you say the route or extension is bound to a name, that's only true for the "fine grained" changes from RDS/ECDS/CDS, right? If the filter updates comes from e.g. LDS, there is no way to escape draining as the protobuf message of the whole chain is considered different, right?

[2021-02-07 05:32] elvizlai opened #14974 "http status 444 not working as excepted"
*Description*:
For nginx or other http server

444 No Response
A 444 No Response error indicates that the server has closed the connection with no returned information from a client request.

when we want deny ip visit, we using nginx.conf
[code]

when we visit and the response looks fine enough:
[code]

so we want similar feature in envoy as configured:
[code]

Visiting `example.com` should respo

[2021-02-07 08:52] qinggniq opened #14975 "mysql proxy: "ignoring out-of-sync packet" message occur when login"
*Title*: *mysql proxy: ignoring out-of-sync packet message occur when login*

*Description*:
When I login mysql server, envoy raises log "ignoring out-of-sync packet message".

*Repro steps*:
- MySQL server version: 5.5.59 [Docker image](https://hub.docker.com/r/cytopia/mysql-5.5/)
- Envoy version: build from [main](https://github.com/envoyproxy/envoy/commit/1942151aafceee50630572c82cc40d220ec4a63

[2021-02-07 08:54] qinggniq commented on #14975
ping @rshriram @venilnoronha @mattklein123 as code owners.

[2021-02-07 09:04] elvizlai commented on #14203
Looks like this feature not woking?
[code]

What I want is when visit https://api.example.com/xxx/yyy with status 500 return convert to status 400

[2021-02-07 18:08] htuch opened #14976 "set_node_on_first_message_only should be implemented for delta xDS"
Currently this option only appears implemented for SotW. It's likely this might be handled in https://github.com/envoyproxy/envoy/pull/14496 for free, but opening a tracking ticket to ensure we validate this behavior with tests. CC @dmitri-d

[2021-02-08 04:03] #14529 closed

[2021-02-08 05:25] alishir opened #14978 "Keeping envoy build cache between reboots"
*Title*: *Keeping build cache between reboots*

*Description*:

[2021-02-08 05:30] caitong93 commented on #14978
You can change the directory by setting [`ENVOY_DOCKER_BUILD_DIR`](https://github.com/envoyproxy/envoy/blob/17e815122ff53d0ac6cb2d64cdbf1bfc547bb7e8/ci/README.md#on-linux) environment.

[2021-02-08 05:47] #14978 closed

[2021-02-08 07:41] lambdai commented on #14974
From nginx rewite doc:
[code]
444 is tricker than other 4XX. `without sending a response header` means curl should not receive such a response code. It's likely you can only see 444 in nginx internal state such as access log. That's not a http standard but highly coupled with http server's implementation.

I am not sure if Envoy has such a directive *within* http conn manager to advise not to send

[2021-02-08 08:11] lambdai commented on #14967
Sorry I don't get your question but let me clarify.

During the LDS update, a network filter chain in a listener config can only see a name in RDS response. See `route_config_0` in the below config.
https://github.com/envoyproxy/envoy/blob/main/test/config/integration/server_xds.lds.typed_struct.yaml#L20

For the only network filter chain in this example
1.  if the name `route_config_0` is updated

[2021-02-08 08:51] omnipo commented on #14967
@lambdai Thanks for being patient with me. My question was to confirm that instead of pushing routes via RDS, if I push via LDS:
[code]
, then push:
[code]
Then connection will be drained since Envoy is doing a:
`diff(**old** full and huge route config with the name route_config_0, **new** full and huge route config with the name route_config_0)`

And the only way to escape the draining is through

[2021-02-08 15:33] emike922 opened #14980 "Running Lua filter as fail closed"
Is there a way to run Lua filters as "fail closed"?
I have observed that the requested resources are served normally if an error/exception occurs in the Lua script. I would rather see 503 (at least for some scripts, s.a. a Lua auth filter).
Can this be done/configured, or do I need to be super defensive (paranoid) when writing the filter?

[2021-02-08 15:46] qinggniq commented on #14975
Closed due to misunderstand the codec behavior of command phase, it will ignore all redundant command responses and ensure parse `command`, so the `dynamic-metadata` will still work.

[2021-02-08 15:47] #14975 closed

[2021-02-08 16:31] aqua777 opened #14981 "Envoy intermittently responds with 503 UC (upstream_reset_before_response_started{connection_termination})"
*Title*: *Envoy intermittently responds with 503 UC (upstream_reset_before_response_started{connection_termination})*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

We have a group of Envoy servers running as an Edge Proxy for a number of backend services. We configure these Envoy servers using in-house built xDS GRPC server. See example con

[2021-02-08 16:31] aqua777 commented on #14981
[envoy_503_upstream_reset_before_response_started.tar.gz](https://github.com/envoyproxy/envoy/files/5945091/envoy_503_upstream_reset_before_response_started.tar.gz)

[2021-02-08 17:02] aemperador commented on #14971
hi, I work with ppc64-le. I will be looking into this

[2021-02-08 17:43] htuch commented on #14973
For (2), this raises the quesiton on whether we can make unilateral client-side default changes.

[2021-02-08 18:53] markdroth commented on #14973
I think we may want to take a step back here and consider the overall strategy for how we handle defaults in xDS.  I have two concerns here.

My first concern is that changing a default is technically always a breaking change.  It's always possible that a client was relying on the default without knowing it, in which case the deployment would not know that it needs to explicitly set a field in the

[2021-02-08 19:10] #4429 closed

[2021-02-08 19:20] antoniovicente commented on #14981
cc @alyssawilk

One possible explanation for this class of problems may be that the upstream server closes the connection as the proxy starts sending the request.  It may be helpful to know how long the upstream connection was open prior to the first request being sent on it.

[2021-02-08 21:08] artificial-aidan opened #14984 "Direct response/Redirect with ext_authz"
*Title*: Unable to run ext_authz filter with direct response and redirect.

*Description*:
From how I read #8436 I should be able to set up a direct response and have it handled by the authorization filter. But when I set it up as follows no call is made to the ext_authz filter, and it just responds as specified

[code]

[2021-02-08 21:21] antoniovicente commented on #14971
cc @lizan

[2021-02-08 21:22] antoniovicente commented on #14958
cc @PiotrSikora @lizan

[2021-02-08 21:22] aqua777 commented on #14981
Thanks for possible explanation. We were considering this and there are factors that are against this assumption. Prior to using Envoys our load balancing were based on hardware Load Balancers. With hardware LBs we haven't seen such behavior, ie. connection terminations by backend servers. After switching to Envoys we started seeing behavior described in this issue across multiple clusters, large

[2021-02-08 21:23] antoniovicente commented on #14958
Do you have a specific proposal in mind?  cc'ing other folks involved in WASM integration.

[2021-02-08 21:25] PiotrSikora commented on #14958
This is already part of WASI spec (see discussion in proxy-wasm/spec#19). The only missing piece is Envoy implementation and exposing it in the configuration.

[2021-02-08 21:30] antoniovicente commented on #14952
cc: @envoyproxy/api-shepherds

Where is the config in question coming from?  Is it provided by a file on disk or an ads/xds config server?

This environment expansion should arguably be expanded through some combination of code that runs during bootstrap or prior to bootstrap.  One potential proposal could involve having the proxy take a list of key-value substitutions that can be referenced in ot

[2021-02-08 21:34] antoniovicente commented on #14958
What are the next steps?
- Do we need any consensus building before implementation can start?
- Is someone on the hook to do the Envoy implementation?

[2021-02-08 21:55] PiotrSikora commented on #14958
Consensus has been reached. @mathetake is already working on it https://github.com/proxy-wasm/proxy-wasm-cpp-host/pull/126.

[2021-02-08 22:00] antoniovicente commented on #14980
cc @dio

[2021-02-08 22:31] jewertow commented on #14788
@kyessenov I encountered the same error when compiling with the clang10 on Ubuntu 18.04.5. I upgraded the library `cel-cpp` to the newest version and then I compiled the project successfully.
What do you think about upgrade this library? I could submit a pull request.

[2021-02-08 23:04] howardjohn opened #14986 "Add additionally debugging information to NOT_REACHED_GCOVR_EXCL_LINE"
*Title*: *Add additionally debugging information to NOT_REACHED_GCOVR_EXCL_LINE

*Description*:
We see crashes fairly frequently like
[code]

This has almost no useful information. It would be greater if this had a stacktrace or at least file/line number. I don't know much about c++ but since crashes have a stacktrace and logs have a filename/line number I suspect its feasible to get this info.

[2021-02-08 23:15] howardjohn commented on #14986
Actually we are probably just filtering this out ourselves by our log format. Looking into this

[2021-02-08 23:18] antoniovicente commented on #14934
cc @htuch @mattklein123

[2021-02-09 01:15] htuch commented on #14973
For this point

Do you mean the server relying on the default? The client just does what it's told to do :)

On the second concern, you are assuming your management server isn't setting the default. I think the idea of multiple client implementations is possible if the server is able to provide guarantees around how it sets default; the heavy lifting is on the server side, not the client.

The one

[2021-02-09 01:20] htuch commented on #14952
We actually have some support for this in tracing today (`EnvironmentCustomTag`).

I'm not against environment variable expansion as a feature in header/access logs; it's probably only used for a small set of use cases. I agree it probably makes sense to evaluate at config load rather than runtime; arguably this is no worse than other kinds of expansions we perform in our formatters.

[2021-02-09 01:21] htuch commented on #14952
This is related to https://github.com/envoyproxy/envoy/issues/12767

[2021-02-09 01:40] erichhsun opened #14988 "Error compiling v1.17.0 in FIPS mode: dubbo_proxy/router:config"
Hi all,

I'm trying to build envoy (v1.17.0 tag, freshly cloned without local changes) in FIPS mode.

This is the command I used:
`IMAGE_NAME=envoyproxy/envoy-build-ubuntu ./ci/run_envoy_docker.sh 'BAZEL_BUILD_EXTRA_OPTIONS=--define=boringssl=fips ./ci/do_ci.sh bazel.release.server_only'`

My host machine is running Ubuntu 18.04.5 (in case the kernel needs to match the container image):
[code]

Th

[2021-02-09 02:03] esmet commented on #14984
I took a look at this and figured out that we the ext_authz filter is in fact invoked in this case, but it does nothing because it cannot find a route entry:

[code]

To support direct replies, we'd need to also check for route->directResponseEntry(). I can't think of a reason why direct entries _shouldn't_ work here so I think this is just a bug that should be fixed. Operators can still configure

[2021-02-09 02:04] esmet commented on #14984
/assign

[2021-02-09 02:18] dmitri-d commented on #14976
It is indeed being handled by GrpcMuxDelta (`skip_subsequent_node` parameter): https://github.com/envoyproxy/envoy/pull/14496/files#diff-3d9b7f541cceecbc0ee4f3ff9972955b13408dd67823e05a1be1a6ed8b6ab064R309

[2021-02-09 02:37] yanavlasov commented on #14981
The error code indicates that it not Envoy that terminated the connection but rather the upstream server (or intervening network infrastructure). Did you look at the counters? For instance any of the `upstream_cx_...` error counters corresponding to disconnects?

[2021-02-09 04:07] esmet commented on #14984
This bit in the ext_authz.cc filter seems to do the trick:

{code}
 Filter::PerRouteFlags Filter::getPerRouteFlags(const Router::RouteConstSharedPtr& route) const {
-  if (route == nullptr || route->routeEntry() == nullptr) {
-    return PerRouteFlags{true /*skip_check_*/, false /*skip_request_body_buffering_*/};
+  if (route == nullptr) {
+    // If there's no route, skip authorization checks. Th

[2021-02-09 05:10] LuyaoZhong commented on #14553
@mattklein123 Thank you for providing these references, I‘ll draft gdoc when I get time, it might take some time since I'll take a vacation about one or two weeks, I'll update when I'm back. Thanks. :)

[2021-02-09 05:16] alishir opened #14990 "Could not build the main branch after pulling the latest changes"
*Title*: Could not build the main branch after pulling the latest changes

*Description*:

[code]

[2021-02-09 08:20] aqua777 commented on #14981
@yanavlasov thank you for suggestion. In our infrastructure we have some restrictions in how many metrics we can send to Prometheus servers so we had to configure Envoy to use inclusion patterns for metrics. `upstream_cx_destroy...` metrics are not on that list, we will add them and will provide more details shortly.

[2021-02-09 08:46] rojkov commented on #14990
This has been already fixed with #14987

[2021-02-09 11:58] r-aravind1997 commented on #14852
Thanks @phlax and @lambdai  , sorry for late reply I will try it and see if it works

[2021-02-09 12:18] #14990 closed

[2021-02-09 12:24] r-aravind1997 opened #14992 "Unable to implement local rate limiting using envoy local rate limit filter"
I'm trying to use local rate filter for a http service, and it doesn't seem to work. I created a small playground setup to understand local rate limiting. Envoy version I'm using is 1.17.0
**BACKGROUND** : I started a simple HTTP server on port 9003 running in background.
`
python -m SimpleHTTPServer 9003
`
**AIM**:  Create a envoy proxy at port 10000 that proxies service at 9003 and does local ra

[2021-02-09 12:57] npamudika opened #14993 "Envoy is getting killed automatically when at around 56K routes and 26K clusters"
*Title*: *Envoy is getting killed automatically when at around 56K routes and 26K clusters*

*Description*:
I ran into an issue where a large number of routes (around 56000 with external auth configurations) and clusters (around 26K) deployed with envoy using the xds grpc server. According to the logs, it looks like a memory-related issue but the envoy still had enough memory to grow (7GB was allo

[2021-02-09 14:51] phlax opened #14995 "Docs are showing an empty dictionary in places"
### description

seems like there is an issue with protodoc that is causing an empty dictionarry to be added to some of the generated docs

for example:

https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/filter/thrift/router/v2alpha1/router.proto#config-filter-thrift-router-v2alpha1-router

[2021-02-09 15:18] yashengy opened #14996 "High contention on runtime feature check with "manually" created dispatcher threads"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *High contention on runtime feature check with "manually" created dispatcher threads*

*Description*:
We have a use case where dispatcher threads are created after t

[2021-02-09 15:29] markdroth commented on #12274
Note that when validating the RDS response, we won't necessarily know which LDS response to use to validate the filter instance names, since there could be a new LDS response that has recently been received but has not yet been swapped in.  So we probably won't be able to validate that the names in the per-route overrides actually exist in the HCM filter list, but we can still validate that the pr

[2021-02-09 15:35] #13069 closed

[2021-02-09 15:37] rojkov commented on #12138
I experimented a bit with a fake xDS server and tried to update 10000 routes containing RE2-based matching rules. It took 1-2 secs to compile them all. Then I tried to load a `STRICT_DNS` cluster with 5000 endpoints and it took more than 20 secs on my machine.

The flamegraph points to `Envoy::Upstream::StrictDnsClusterImpl::ResolveTarget` constructor as the main offender:
![cds-update](https://us

[2021-02-09 15:50] aqua777 commented on #14981
We've managed to capture one of the requests resulting in 503 response code, see the output below:
[code]

[2021-02-09 15:54] jmarantz commented on #12138
Nice catch! Any downside to just making that fix?

[2021-02-09 15:59] invertigo commented on #13708
The closing of this bug implies to me that the cache duration setting applies correctly and equally to all workers.  Is this the case?

[2021-02-09 16:12] rojkov commented on #12138
The fix I tried is
[code]

With it applied Envoy seems to load the update instantly, but `//test/common/upstream:upstream_impl_test` and `//test/integration:hotrestart_test` start to fail. So, probably it's not that trivial :) I'll take a look tomorrow.

[2021-02-09 16:27] jmarantz commented on #12138
Yeah I was wondering about lifetime issues. In a quick scan it looks like there isn't a ton of data pulled from the endpoints structure in this class; maybe it could be pulled out individually in the ctor rather than copying the whole thing?

[2021-02-09 16:49] alyssawilk commented on #14981
So offhand this still looks like an upstream disconnect.  Any chance you
can capture a package trace to see if that's what is happening?

Are you using HTTP/1.1 by any chance? There's a known race where if
upstream sends response1 and closes the connection _without_ sending
normal connection close headers, that Enovy will read the response and can
reassign the connection to a new stream before pic

[2021-02-09 17:28] aqua777 commented on #14981
@alyssawilk AFAIK, these requests are using HTTP/1.1 indeed. By `upstream disconnect` do you mean that in your interpretation the connection is being reset by the upstream side?

What would you recommend to capture package trace? Something like `tcpdump` or do you have other tools in mind?

[2021-02-09 17:37] alyssawilk commented on #14981
Yeah, so if I had to bet I'd guess your upstream is sending a response
without a connection close header, then closing the connection.
a TCP dump will tell you if this is indeed what's happening (if upstream is
sending that TCP FIN), and confirm or deny you're hitting the race I
mentioned. Unfortunately there's not a ton Envoy can do here today -
generally we encourage folks to make sure if the up

[2021-02-09 17:53] antoniovicente commented on #14973
Marking proto3 fields optional does not prevent the control planes from being more explicit about config and relying less on default behavior.  I hear you about the issue of multiple client implementations in multiple languages.  proto3 lack of support for defaults encoded into the proto definition itself means that consistent implementation of default values for bool and integer fields is rather

[2021-02-09 17:58] antoniovicente commented on #14996
When are additional dispatcher threads created?  What is their purpose?

It would be good to have all threads have access to necessary TLS.  Do you have some profiles or more info to share?

[2021-02-09 18:10] esmet commented on #14326
I'll take a look at this. @VirajSalaka would you say that `clear_route_cache_on_headers` is an allow-list of headers that are set, appended, or removed only when `clear_route_cache` is set to true?

[2021-02-09 18:10] esmet commented on #14326
/assign

[2021-02-09 18:23] antoniovicente commented on #14993
cc @htuch

How big is the config proto that is being parsed? What version of config is being used v3 or v2?

I see 6.4GB of mapped memory reported despite actual memory usage being lower.  It may be useful to know some info about the size of the allocation and call stack where malloc fails.

[2021-02-09 18:40] howardjohn commented on #14986
We are just not including the line number in our log format. It would still be nice if this somehow showed it since we don't really care about the line numbers in most case (they make a ~60 character log ~160 characters and wrap around the screen), but do care here, but that is probably a pretty niche case..

[2021-02-09 19:00] yashengy commented on #14996
Our code does the following. There is a long story for our design choice, but basically we use Envoy as our HTTP/2 client library at this point.

- create a Envoy server via MainCommonBase (which creates tls and also calls tls->set
- create dispatcher threads for sending HTTP/2 requests. These are not controlled by Envoy server, but shares the same runtime loader singleton.

[2021-02-09 19:09] freedomljc opened #14997 "Incorrect min_rtt calculation in Adaptive concurrency"
*Title*: *Incorrect min_rtt calculation in Adaptive concurrency*

*Description*:

Inside Lyft, we occasionally observed the extremely large value for the stats [min_rtt](https://github.com/envoyproxy/envoy/blob/eb0ada654812af824bd682050f7d56cf1d591e64/source/extensions/filters/http/adaptive_concurrency/controller/gradient_controller.cc#L117), which seems to be maximum value of unsigned long type (

[2021-02-09 19:17] qiwzhang commented on #13708
Yes,  JWKS cache in each worker thread works independently.  They will use the same cache duration specified in the config.

[2021-02-09 19:55] tonya11en commented on #14997
This can be assigned to me and I'll take a look this evening. Should be straightforward to test the hypothesis via unit tests, so @freedomljc I can do this unless you were hoping to do so.

[2021-02-09 20:10] linarkou opened #14998 "ext_authz: How to add authorization response headers to downstream response?"
*Title*: *How to add authorization response headers to downstream response?*

*Description*:
I have an external authorization service (http service) that sends some cookie in case of successful authorization. I want to send this cookie to the client (downstream). As for now I found way just to send this cookie to upstream using `http_service.authorization_response.allowed_upstream_headers_to_appen

[2021-02-09 20:10] tonya11en commented on #14997
@freedomljc a few questions...

1) How is a large min_rtt value causing blocked requests? Was the concurrency limit being clamped down? This would only happen if the sampled RTT values exceed the minRTT by some threshold, so I'm unsure how that follows.

2) resetSampleWindow() can only occur if we're not currently inside of a minRTT measurement window. The minRTT measurement should be based on a r

[2021-02-09 20:11] alyssawilk commented on #14909
Hm.  Any chance you can get me -l trace logs during a timeout, or are they too intermittent?

[2021-02-09 21:39] markdroth commented on #12274
Since gRPC will be adding support for HTTP filters in the near future, it would be good to get this implemented in Envoy, so that the semantics are the same between the two xDS clients.

[2021-02-09 22:06] antoniovicente commented on #14993
Consider grabbing some heap profiles to get more info about where memory is going while the large config is being loaded.

Some instructions are available at: https://github.com/envoyproxy/envoy/blob/main/bazel/PPROF.md#collecting-cpu-or-heap-profile-for-a-full-execution-of-envoy

[2021-02-09 23:30] freedomljc commented on #14997
Thanks @tonya11en for the follow-ups.

I am also fuzzy about why a large min_rtt value would cause the issue. But here are the metrics about minRTT, sample_rtt and rq_blocked.
<img width="1645" alt="Screen Shot 2021-02-09 at 2 46 10 PM" src="https://user-images.githubusercontent.com/6963707/107438841-0a22b080-6ae6-11eb-8e3a-5114d5b88457.png">
concurrency limit stats is not provided here as I am no

[2021-02-09 23:55] freedomljc commented on #14997
I just put a [draft pr](https://github.com/envoyproxy/envoy/pull/15004/files) to mitigate the issue: only process latency samples when the latency histogram is not empty. WDYT?

[2021-02-10 00:03] antoniovicente commented on #14971
@envoyproxy/maintainers

[2021-02-10 01:17] howardjohn commented on #6767
May be a dumb question - if we have a scenario like
[code]
(from Piotr above)

How can we distinguish from a browser coalescing the request from someone legitimately sending a request with `SNI=ww.example.com HOST=app.example.com`? It seems like from Envoy's perspective, these are identical.

[2021-02-10 01:58] tonya11en commented on #14997
Alright, I think I know what's going on here. This condition is possible. It's not in `resetSampleWindow()`, but calls to `updateMinRTT()`! It's possible that 2 concurrent requests can succeed at the condition necessary to update the minRTT before one of them is able to update and pull us out of the minRTT window:
https://github.com/envoyproxy/envoy/blob/eb0ada654812af824bd682050f7d56cf1d591e64/so

[2021-02-10 03:22] htuch commented on #14934
@kyessenov thoughts here? This seems to be ECDS warming behavior.

[2021-02-10 03:33] htuch commented on #12138
A deeper fix might be to move away from using the proto representation for endpoints inside DNS clusters. For convenience, I think we've inherited this view of endpoints that mostly makes sense for static or EDS endpoints, but the merge costs are non-trivial at scale in this case.

[2021-02-10 04:10] bianpengyuan commented on #14934
@kyessenov is on leave this month. Not sure if there is someone else who are familiar with ecds code path.

[2021-02-10 06:40] npamudika commented on #14993
Envoy version is 1.16.0 and config version is v3

[2021-02-10 08:04] mathetake commented on #14856
Not sure about the root cause, but I'm confident that this is Go-SDK specific (or due to the usage of unfreed global maps in Go/TinyGo). @musaprg is working on this.

[2021-02-10 08:36] rojkov commented on #14993
If you use `STRICT_DNS` cluster type then it could be related to https://github.com/envoyproxy/envoy/issues/12138. Resource consumption there seems to be O(n^2) CPU- and memory-wise.

[2021-02-10 09:12] Shikugawa commented on #14795
@JaredTan95 It works successfully with this configuration on `v1.17.1-dev`, maybe `v1.17.0` also work. This configuration is based on `example/skywalking-tracing` one. Please rewrite it following with your use case.

[code]

[2021-02-10 12:17] twghu commented on #12694
Verified.  It seems that the latest abseil library (6f9d96a1f41439ac172ee2ef7ccd8edf0e5d068c) is identical.  Interestingly the rust version of decode is consistent with the Envoy implementation.  Whereas several other implementations produce varied results including those from server web providers.   Given the variation in implementations it seems logical at this time to continue using the Envoy v

[2021-02-10 13:44] htuch commented on #14934
I can take a shot at this. I think I need to understand in your example which listener and ECDS subscriptions are involved. It's a bit confusing, e.g. are the listeners sharing a filter chain with ECDS subscription to the same resource? Are the listeners pointing at different ECDS resources?

I think in the PR fix this is not quite the right thing, as it's a work-around to maybe a more fundamental

[2021-02-10 13:45] samuelvl opened #15011 "Enable HTTPS only from envoy to upstream server"
**Description**

I am trying to connect to `https://httpbin.org` service trough envoy. The connection must be in plain text from client to envoy and encrypted from envoy to httpbin service but it doesn't seem to be working.

![image](https://user-images.githubusercontent.com/27858594/107517550-2db12e00-6bae-11eb-9c3b-954f6a81734d.png)

I am getting the following error:

[code]

**Configuration**

[2021-02-10 15:27] stevenzzzz opened #15012 "[router]: expose header modifcations protobufs to filters."
*Title*: Expose header modifications to filters.

*Description*:
We have the requirement to let the filter peek into what header modifications would be done to the request/response, right now the modifications are all hidden in router which is at the end of the chain.

[2021-02-10 15:28] stevenzzzz commented on #15012
/cc @htuch

[2021-02-10 15:55] jtway commented on #14363
I've been discussing this with @cretz off-issue. I'm looking into putting a design proposal together on this soon.

[2021-02-10 16:14] esmet commented on #14363
@jtway et. al thanks for discussing this further. I've been meaning to work on this but have some other things on my plate right now. Maintainers, please feel free to reassign as necessary, in case someone ends up being ready to work on this before me.

[2021-02-10 17:20] rojkov commented on #12138
Submitted https://github.com/envoyproxy/envoy/pull/15013 as an attempt to fix it.

[2021-02-10 19:50] dandlake opened #15015 "Can envoy hold HTTP response headers while processing response body? in case filter needs to modify response body/header"
Can envoy hold HTTP response headers while processing response body?

If I have a filter that needs to modify response body, content-length will change. Return code may change too. Can I make envoy hold response headers so in response body filter I can modify content-length or the whole response?

Without holding response header, I got:
[debug][http] [source/common/http/filter_manager.cc:847] [C0]

[2021-02-10 20:02] antoniovicente commented on #15012
What about modifications done by filters, not based on router config?

Would getting access to headers before and after modifications help?

[2021-02-10 20:45] antoniovicente commented on #15011
This line jumps out at me:
[2021-02-10 13:33:36.197][14][debug][connection] [source/common/network/connection_impl.cc:876] [C1] connection in progress
[2021-02-10 13:33:36.288][14][debug][connection] [source/common/network/connection_impl.cc:666] [C1] connected
[2021-02-10 13:33:36.447][14][debug][pool] [source/common/conn_pool/conn_pool_base.cc:519] [C1] connect timeout

Could you try a larger co

[2021-02-10 20:48] antoniovicente commented on #14998
cc @gsagula @dio

[2021-02-10 20:59] stevenzzzz commented on #15012
we want to forward the response mod to another component to make further decisions, so we want to see the original "mods" in protobufs.
OTOH, I'd upvote if we allow filter to do header modifications earlier than router, it'd be useful esp when filters may want to take actions on "modified" headers, right now these "mods" are not visible to filters.

[2021-02-10 21:06] antoniovicente commented on #15015
cc @alyssawilk

It seems to me that you need to stop iteration in decode headers and force buffering in order to be able to do header modifications based on the contents of the body.  It may be helpful to see how the compression filters handle this case, but I expect that they end up removing content-length in order to preserve the capability to stream the modified response.

[2021-02-10 21:09] antoniovicente commented on #14992
cc @rgs1 @mattklein123 @junr03

[2021-02-10 21:13] antoniovicente commented on #14988
cc @lizan

What clang version are you using?

I don't know what this error message could be about.
failed (Exit 1): clang failed: error executing command

Are you able to build in a non-FIPS configuration?

[2021-02-10 21:26] NomadXD opened #15017 "Assert failure when accessing config_dump from admin interface"
*Title*: *Assert failure when accessing config_dump from admin interface*

*Description*:
I have a binary of envoy built with a custom http filter. **The custom filter works without any issue**. However when I access admin interface on localhost:9000 after deploying an API, I get the following assert failure.

```[2021-02-10 14:13:12.485][7][critical][assert] [external/envoy/source/common/protobuf

[2021-02-10 21:57] ahedberg commented on #15012
Specifically, this separate component expects a list of headers to add and a list of headers to remove. So exposing Envoy's view of what headers would be added/removed would be optimal for us; otherwise; we'd have to construct those lists based on a diff of original headers and modified headers, and that feels error-prone.

[2021-02-10 22:48] howardjohn opened #15020 "Allow json output for logging (not access logs)"
This is a recreation of https://github.com/envoyproxy/envoy/issues/13636, which was closed due to https://github.com/envoyproxy/envoy/pull/13832. While that PR got closer, it is still not possible to get full JSON log output as far as I can tell. `%_` just makes new lines escaped, but may still result in invalid JSON.

For example, with a log format of `{"level":"%l","time":"%Y-%m-%dT%T.%fZ","scop

[2021-02-10 22:49] lambdai commented on #14670
Drive by:  per cluster warming might be good.

@ppadevski
Long time ago I remember that strict dns cluster could be warm up by accident, and no healthy upstream will be the error code for Http request. Is this fail-fast not acceptable?

Http filter is an acceptable place but we'd better put it in http router which handles general upstream failure. e.g. add a retry on `no healthy upstream host` if

[2021-02-11 01:00] lambdai commented on #14934
@htuch @bianpengyuan
Based on my perception there are two "benign" dedups prevent filling the providers created along with a new listener. Correct me if I am wrong
1. New providers wait for a config push from ECDS server.
 *NOT* fixed by this PR.
2. Upon new ECDS push, if the dedup on hash may skip to push to the newly created providers.
 Fixed by this PR.

[2021-02-11 01:01] lambdai commented on #6767
I am exploring the relationship among SNI, SAN in cert and Host in Http.
I will share a document after

[2021-02-11 01:38] bianpengyuan commented on #14934
@htuch The old and new listeners share a ECDS subscription.

This is how I understand the object lifecycle: it starts with `listener1` which owns a dynamic filter config provider `provider1`. `provider1` was warmed properly and holds a filter configuration from subscription.

Then a new listener `listener2` comes in, which has the exact same dynamic filter and ECDS config. `listener2` creates a ne

[2021-02-11 02:12] dandlake commented on #15015
Thanks, @antoniovicente. I see the code in decompressor filters to remove content-length and modify content-encoding. Without changing content-encoding, not sure if I can remove content-length without causing problem in the receiving browser.

In cases where I want to change the return code(like from 200 to 4xx or 5xx to drop the body), is there a mechanism to modify/generate the entire response h

[2021-02-11 02:43] antoniovicente commented on #15015
In order to modify response headers based on the computation on the body, I think you need to force buffering and do something to prevent headers being forwarded until the computation on the buffered body is complete.  I don't know of an example of a filter that does that, I can try to dig around a bit later.

[2021-02-11 05:55] ramaraochavali commented on #12138
@rojkov Thanks for that fix. But this happens also when majority of the clusters are EDS. So your PR will not fully fix this issue.

[2021-02-11 06:45] #12841 closed

[2021-02-11 06:45] #14735 closed

[2021-02-11 07:47] samuelvl commented on #15011
You are right, increasing the timeout to 1s solved the issue. Thank you very much for the help!

[2021-02-11 08:34] NomadXD commented on #15017
I added some logs to redactOpaque() method in utility.cc. The assert which fails is **reflection->HasField(*message, type_url_field_descriptor).**  Th issue is with this method in utility.cc . It gets an empty protobuf as the parameter. `ENVOY_LOG_MISC(trace, "protobuf : {}, {}", message->DebugString(), message->GetTypeName())`  returns `[external/envoy/source/common/protobuf/utility.cc:748] proto

[2021-02-11 09:15] JaredTan95 commented on #14795
Yeah, It works well a few days ago.

[2021-02-11 10:16] Shikugawa opened #15023 "Envoy as management target via SkyWalking CDS"
Apache Skywalking introduced Configuration Discovery Service(CDS) feature.

https://github.com/apache/skywalking/issues/6114

It works like Envoy xDS but Skywalking as control plane of Skywalking agent. Today, we can use Envoy as Skywalking agent, then this functionality should be applied to Envoy also. It works not like xDS but establishing unary gRPC periodically, like a healthcheck agent. Curre

[2021-02-11 10:17] Shikugawa commented on #15023
cc @wu-sheng

[2021-02-11 14:34] rojkov commented on #12138
@ramaraochavali Alright, I'll drop the close tag from the PR's description to keep this issue open for now.

[2021-02-11 16:15] markdroth opened #15025 "allow HTTP filters to be marked as optional"
#14982 added new fields to the API to allow HTTP filters to be marked as optional -- i.e., if a filter is not known to a client, the client will ignore that particular filter instead of NACKing the entire config.  gRPC is implementing this now, and we'd like Envoy to have the same behavior.

CC @htuch

[2021-02-11 16:23] esmet commented on #14998
Hi @linarkou - this sounds a lot like https://github.com/envoyproxy/envoy/issues/7986, and there's currently a pull request in review https://github.com/envoyproxy/envoy/pull/14514. Please take a look and let me know if this is what you had in mind.

[2021-02-11 16:25] tigerlily-he opened #15026 "Generic Dynamic Forward Proxy with On Demand CDS"
*Title*: Dynamically forward requests using Cluster / Endpoint Discovery Service (CDS/EDS) to look up endpoint addresses

*Description*:

### Desired behavior:
We would like to have dynamic name resolution where the request is routed to an upstream cluster that is not known ahead of time. This is already possible with HTTP using DNS via the [Dynamic Forward Proxy extension](https://github.com/envo

[2021-02-11 16:54] antoniovicente commented on #15017
cc @htuch @yanavlasov

[2021-02-11 17:42] antoniovicente commented on #15011
Great.  Anything else or should we close this issue?

[2021-02-11 17:45] antoniovicente commented on #15020
@howardjohn What do you see as the next steps?  Would you or someone from istio be interested in taking on this issue?

[2021-02-11 17:47] howardjohn commented on #15020
It would be great if there was some way to fully escape the message, not just newlines. Unfortunately I don't have the technical chops to make this change.

[2021-02-11 17:48] antoniovicente commented on #15023
@Shikugawa are you planning on working on this?

[2021-02-11 17:50] antoniovicente commented on #15026
cc @envoyproxy/api-shepherds

[2021-02-11 17:50] antoniovicente commented on #15026
cc @mattklein123 @alyssawilk

[2021-02-11 17:55] bryce-anderson commented on #15026
cc @hamdiallam @vkostyukov

[2021-02-11 18:23] rockspore commented on #12671
In my use case, the access log service is not seeing the `envoy.filters.http.ext_authz` key in the metadata when ext_authz server sends a deny response.

To make sure the problem is not from my implementation, may I confirm if ext_authz is actually emitting dynamic metadata on denial in your case, @erikbos ?

[2021-02-11 18:34] sagarkal commented on #14869
@moderation I was trying to create a PR for this change (never done it before)..for that purpose, I've forked the Envoy repo and created a branch and I was following the instructions on https://github.com/envoyproxy/envoy/tree/main/ci#macos-build-flow to test the updated Dockerfile for envoy-alpine (only thing I changed is to update the base image to frolvlad/alpine-glibc:alpine-3.13_glibc-2.32)

[2021-02-11 18:48] lambdai commented on #14934
This is exactly what I am referring to. Why does the `listener2` need to wait? Ideally ECDS server doesn't have to push the same config. Envoy may not even have the chance to compare the old ECDS config hashe and the new hash.

[2021-02-11 18:55] #10942 closed

[2021-02-11 19:04] alyssawilk commented on #15015
Yeah, in general once you pass the headers on to a follow-up filter, they may be shipped upstream/downstream so modifying doesn't make sense.
The buffer filter is a useful example both of buffering, and something you may want to put in your filter chain if you want to not process headers until the entire body has been read.

[2021-02-11 19:06] linarkou commented on #14998
@esmet yes, this is what I was looking for! Thanks a lot!

[2021-02-11 19:06] #14998 closed

[2021-02-11 19:18] samuelvl commented on #15011
The doubt is solved so the issue can be closed, thanks

[2021-02-11 19:18] #15011 closed

[2021-02-11 20:06] #7986 closed

[2021-02-11 21:01] Shikugawa commented on #15023
@antoniovicente Yes I'm planning to implement this in the future after skywalking protocol on Envoy had updated to 8.4.0.

[2021-02-11 21:38] mattrobenolt opened #15030 "Support for upstream uwsgi protocol"
It'd be nice to be able to support the uwsgi binary protocol for an upstream cluster when speaking to a service that uses this.

Fundamentally this is a lighter weight protocol when you're running a service behind uwsgi already, you can skip another layer of http processing and speak the native uwsgi protocol.

Prior art: nginx supports a `uwsgi_pass` directive: https://nginx.org/en/docs/http/ngx_

[2021-02-11 22:39] rockspore opened #15031 "ExtAuthz dynamic metadata unavailable for StreamAccessLog service when DenyResponse sent"
*Description*:

This is on Envoy 1.17, which configured with an ExtAuthz service that sends the dynamic metadata for access log purpose whether the call is rejected or not.

When a call goes through and a OkResponse is sent, the dynamic metadata gets collected by the StreamAccessLog service correctly. However, when a call is rejected, the metadata is not available to the service.

Both Envoy docs

[2021-02-11 22:43] antoniovicente commented on #15015
See documentation for StopAllIterationAndBuffer return value from decodeHeaders

[2021-02-11 22:46] AdiJohn commented on #14859
I see. Thanks for the explanation.

[2021-02-11 23:03] akonradi opened #15032 "Support sanity checking of extension configuration without requiring all dependencies"
I want to deploy my Envoys using my custom FooFilter attached to a static listener. FooFilter has a custom configuration with some fields that must be set, with cross-field dependencies (specifically things that can't be checked using PGV annotations). I want to verify that as I add and remove fields, my checked-in bootstrap configs are still valid.

In a world in which all abstractions are correc

[2021-02-11 23:08] noxiouz commented on #15030
I am new to Envoy and I am looking for an opportunity to contribute to it. That one looks like a good feature to dive into Envoy. So the Envoy team is ok with that, I am happy to implement that module.

[2021-02-11 23:44] antoniovicente commented on #15032
cc @envoyproxy/api-shepherds

It seems natural that there will be some components that are available in a production environment but not on an individual developer's workstation.  Possible example: expansion card that provides tamper-proof crypto hardware that holds RSA private key. It seems desirable to have the ability to validate the production config in Mode::Validate on a machine without the

[2021-02-12 00:10] howardjohn opened #15034 "QuicDownstreamTransport never requests SDS certificate"
*Title*: QuicDownstreamTransport never requests SDS certificate

*Description*:
I defined a transport_socket for my quic listener:
[code]

Secret shows up as WARMING in the config dump, but no

*Repro steps*:
See config above

[2021-02-12 00:19] howardjohn commented on #15034
Also never requests RDS routes referenced like:
[code]

[2021-02-12 00:23] howardjohn opened #15035 "HTTP3: no access logs generated"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:
I have access logs configured, but they do not show up.

*Repro steps*:
[code]

[2021-02-12 03:36] mattrobenolt opened #15036 "Add RESP(header-name) header formatter"
Specifically I'm looking for support within `response_headers_to_add`.

I'd like to do something like:

[code]

The usecase is rather petty, because `append: true` can be used. But this yields duplicate headers, which is fine by spec, but it's harder to trace a path since there's no explicit ordering. We use this pattern which ends up being formatted similarly to an `X-Forwarded-For` header where

[2021-02-12 03:57] htuch commented on #12274
Bumped to priority/high.

[2021-02-12 04:02] htuch commented on #15017
Can you share your LDS dynamic config dump? I'm a bit perplexed how we reach this code and ASSERT. Are you embedding inside an `Any` or a `TypedStruct`?

[2021-02-12 04:14] htuch commented on #15032
Yeah, this seems a pretty useful thing to add, you might be able to tackle https://github.com/envoyproxy/envoy/issues/9809 with it. I don't think this gets us a strong guarantee that every filter built into Envoy will have high fidelity offline validation, but as @antoniovicente points out, this is a fundamental flaw of the split between config validation and operational mode.

[2021-02-12 04:23] htuch commented on #15012
I think the hacky way to do this is to look at the current `route()` from stream filter callbacks, and then `finalizeRequestHeaders()` manually from the `routeEntry()`. This is fragile; if you change filter chain ordering or clear routeCache() or modify headers later in the filter chain, things can break.

The clean way to do this would be a long term API change in which we move header add/remove

[2021-02-12 04:34] htuch commented on #14934
Agree with @lambdai here. If we're talking about an ECDS subscription that has already delivered configuration previously, the new listener shouldn't have to warm on this. I'm not super familiar with the code here, but I would expect it to be the responsibility of the dynamic filter config provider system to handle this.

The analogy is with route config providers. When two listeners share a route

[2021-02-12 04:40] htuch commented on #15026
What you describe is on-demand CDS, when you add a new on-demand CDS filter and use option (2). Some discussion at https://github.com/envoyproxy/envoy/issues/2500 but that is stale.

I think this is probably a better approach in terms of how we've been viewing incremental xDS and on-demand vs. integrating with dynamic forward. You will eventually hit a situation when you want to manage the xDS tha

[2021-02-12 04:49] mattklein123 commented on #14918
Cc @dmitri-d @adisuissa @htuch

[2021-02-12 05:03] mattklein123 commented on #14992
Your filter list only contains the router filter. You need to load the rate limit filter.

[2021-02-12 05:14] mattklein123 commented on #15030
I think with the new extension upstream support this should be pretty easy, but it would be good to have a design doc. @alyssawilk wdyt?

[2021-02-12 08:26] antoniovicente commented on #15036
What is the current behavior when you set value to '%HOSTNAME%,%RESP(X-SERVED-BY)%' ?

My read of the code is that multiple %var% expressions are supported.  It's possible you need to set the header name inside the ()'s in lowercase, so something like:  '%HOSTNAME%,%RESP(x-served-by)%'

[2021-02-12 08:44] antoniovicente commented on #15036
cc @zuercher

[2021-02-12 09:12] NomadXD commented on #15017
@htuch The issue is with an empty typed_config field. But what's so confusing to me is it's not throwing an assert failure in the original envoy v1.16.2 pulled from dockerhub. But for the binary that I built with the custom filter using envoy v1.16.2 source, it sends the assert failure when config_dump is accessed from admin interface. I just added an extra http filter and didn't do any modificati

[2021-02-12 09:27] NomadXD commented on #15017
The LDS dynamic config dump
[code]

[2021-02-12 09:35] mattrobenolt commented on #15036
There's no support for `%RESP()%` at all in here. https://github.com/envoyproxy/envoy/blob/main/source/common/router/header_formatter.cc#L234

It has nothing to do with it being combined with another value, there's just literally no support for this.

[2021-02-12 09:37] mattrobenolt commented on #15036
To answer explicitly, any usage results in this error being logged: https://github.com/envoyproxy/envoy/blob/main/source/common/router/header_formatter.cc#L358

[2021-02-12 11:47] twghu commented on #12739
Looking at this.

[2021-02-12 13:11] htuch commented on #15017
@NomadXD behavior difference is probably because Envoy release binaries are built with `-c opt` which removes `ASSERTs`.

I think we should have rejected this config earlier, at LDS ingestion time, since it's not really valid to have a `typed_config` without a type URL.

[2021-02-12 13:28] htuch commented on #14918
I think this somewhat overlaps with https://github.com/envoyproxy/envoy/issues/14847; while we could fix the problem in VHDS, really we should have the gRPC mux reject duplicates much earlier. This only happens with SotW updates I'm guessing and not delta. This is another reason we will be in a much better state when `[New]GrpcMuxImpl` converge. We can fix for now with a small change to `GrpcMuxIm

[2021-02-12 15:02] NomadXD commented on #15017
@htuch Yeah, probably since it's an invalid config. Thanks a lot for the help.

[2021-02-12 15:10] akonradi commented on #15032
Any objections to adding a `CommonFactoryContext::options()` method [here](https://github.com/envoyproxy/envoy/blob/c676c00bbd371b2ad39eb9e01813a3085812edc4/include/envoy/server/factory_context.h#L43)? And similar to ResourceMonitorFactoryContext? I'm not sure that's the absolute best place but it doesn't cost that much to move it around later. Alternatively, I could see an argument to making it a

[2021-02-12 17:29] dmitri-d commented on #14918
I'll take a look.

[2021-02-12 18:27] danzh2010 commented on #15034
Can you provide the whole HCM config?

[2021-02-12 19:05] dandlake commented on #15015
Thank you @antoniovicente @alyssawilk! I got the ideas and will look into it.

[2021-02-12 19:05] #15015 closed

[2021-02-12 19:13] ahedberg commented on #15012
We could call `finalizeResponseHeaders` on the `RouteEntry` object, but we'd still have to compute the headers-to-add and headers-to-remove ourselves, which is also fragile.

I like the idea of a dedicated header modification filter. Is the idea that we can link that separate filter into our filter chain, and now we can add an API where we ask Envoy "what headers would you add to this response" an

[2021-02-12 19:19] davinci26 opened #15042 "Postgress integration test is flaky on Windows"
*Title*: *Postgress integration test is flaky on Windows*

*Description*:

`TEST_P(SSLWrongConfigPostgresIntegrationTest, TerminateSSLNoStartTlsTransportSocket) ` is flaky on Windows

see [pipeline run](https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/66330/logs/134)

cc @rmiller14

[2021-02-12 19:26] mattklein123 commented on #15032
In general I am a big +1 on this. I agree with @htuch that it would be great to solve https://github.com/envoyproxy/envoy/issues/9809 also, since it's basically the same issue, even if part of core code.

Also, if you are feeling like extra bonus points, see also https://github.com/envoyproxy/envoy/issues/2636. It would be *really* nice to make the config_test stuff also go through the same path.

[2021-02-12 19:26] stevenzzzz commented on #2500
cc lambda@

[2021-02-12 19:27] stevenzzzz commented on #2500
cc @lambdai

[2021-02-12 19:32] stevenzzzz commented on #8702
cc @stevenzzzz
cc @lambdai

[2021-02-12 19:38] mattklein123 commented on #15017
@adisuissa or @dmitri-d can you potentially take a look at this? This seems like a legitimate bug somewhere.

[2021-02-12 19:39] mattklein123 commented on #15031
cc @esmet

[2021-02-12 19:47] markdroth opened #15043 "api: Envoy should NACK typed_per_filter_config entries for filters that don't support override configs"
Currently, if an HTTP filter registers a given config type as its top-level config in the HCM filter list, and Envoy receives a RouteConfiguration that has a message of that config type in a `typed_per_filter_config` map, it will ignore that entry instead of NACKing the config, even though that config will never be used.  This seems like it's silently ignoring an error that could cause confusion f

[2021-02-12 19:57] adisuissa commented on #15017
I'll take a look.

[2021-02-12 20:01] antoniovicente commented on #11071
I think that sharing LB structures between clusters is an explicit goal of this effort.  #8702 would provide additional reductions in resource usage, but is no replacement for the changes requested in this issue.

[2021-02-12 20:39] howardjohn commented on #15034
Attached the full dump
[dump.txt](https://github.com/envoyproxy/envoy/files/5974181/dump.txt)

[2021-02-12 20:47] antoniovicente commented on #15032
Sounds like we all think that passing mode options to factories is acceptable.  CommonFactoryContext seems like the source of other similar options like Envoy::Runtime::Loader.  Try it out.

[2021-02-12 21:28] antoniovicente commented on #15043
Seems like a worthwhile improvement as it would help proxy users detect errors in the config they have written.

[2021-02-12 21:30] antoniovicente commented on #15042
Test hits an unexpected disconnect.  Posting error below in case the pipeline run logs expire.

2021-02-11T20:56:37.0520913Z [ RUN      ] IpVersions/SSLWrongConfigPostgresIntegrationTest.TerminateSSLNoStartTlsTransportSocket/0
2021-02-11T20:56:37.0522278Z test/extensions/filters/network/postgres_proxy/postgres_integration_test.cc(175): error: Value of: tcp_client->write(data.toString())
2021-02-11

[2021-02-12 21:47] p53 opened #15045 "Problem [Bug?] Redis authentication"
*Title*: *Redis authentication*

*Description*:
i am trying to setup authentication to redis, have problems with it so i am not sure if am doing it correctly

What i had and it was partially working (sometimes getting errors) was:

(app->envoy redis proxy filter)=downstream ----> (envoy tcp filter->redis with auth in redis.conf)=upstream

redis version: 6.0.8-alpine3.12
envoy 1.15 setup on downstr

[2021-02-12 22:28] tonya11en commented on #14997
@freedomljc will be jumping in to make this change after our conversation on slack, but for posterity I'm posting the planned changes here.

All of the RTT mutations need to just occur on the dispatcher to avoid races and locking on the worker threads. The dispatchers will handle:
* Sample window resets.
* Entering minRTT windows.
* Updating minRTT values.
* Updating sampleRTT values.

There will

[2021-02-13 00:01] dakshinai opened #15046 "Performance difference - Envoy front proxy - alpine linux sandbox vs ubuntu sandbox (envoy binary with debug symbols)"
*Title*:
Performance difference - Envoy front proxy - alpine Linux sandbox vs ubuntu sandbox (envoy binary with debug symbols)
*Description*:
We are testing the performance of envoy front proxy described - https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/front_proxy

The backend service runs on alpine Linux. Our modified setup is built on Ubuntu container image that includes envoy built

[2021-02-13 00:27] davinci26 opened #15047 "Support developer tools on Windows"
*Title*: *Support developer tools on Windows*

*Description*:

It is quite likely that currently I am the only person developing Envoy only on Windows but there are core parts of the developer tooling that don't work on Windows:

- [ ] proto_format.sh to support  `output_base` for long paths
- [ ] ./docs/build.sh to build docs on Windows
- [ ] presummit format tools

Alternative solution is to use

[2021-02-13 00:29] davinci26 commented on #15047
I might pick it up myself if I get free cycles but in the meantime if anyone wants to pick it up happy to help out in any way I can

[2021-02-13 00:48] dmitri-d commented on #14918
It's a legit issue due to how vhds computes RouteConfiguration after an update. I have a fix, but need to clean it up.

[2021-02-13 01:00] andye2004 commented on #14992
The docs on this are pretty sketchy IMHO. The filter is named `envoy.filters.http.local_ratelimit` and is described as a "local" rate limiter but in the section describing the configuration and in the examples it talks about 'global' rate limiting. This led me to be looking at the actual global rate limiter, implemented through an external rate limiting service., not for very long but still frustr

[2021-02-13 10:47] paulius-p commented on #14909
Sure, these are the timeout logs, it happens ~15 secs after initial request.
[code]

This is the initial request:
[code]

This is the routing rule:
[code]

[2021-02-13 22:48] wlhee opened #15049 "Content-Length: 0 is auto-inserted in HTTP requests with empty body"
*Title*: *Content-Length: 0 is auto-inserted in HTTP requests with empty body*

*Description*:
Envoy auto-inserts Content-Length: 0 into HTTP requests with empty body, such HTTP GET and Websocket Upgrade. It would cause some servers to misbehave.

https://github.com/envoyproxy/envoy/issues/5554 is a similar problem but for responses.

*Repro steps*:
1. Run a simple HTTP server listening on port 80

[2021-02-14 00:52] htuch commented on #14918
@dmitri-d is it possible to fix (at least for duplicates) in `GrpcMuxImpl`? That way we also solve #14847 and other resource types that might not have the correct behavior for duplicate resources. Or, are there other possible resource failures that are VHDS specific here and need resolving on the router side?

[2021-02-14 00:58] htuch commented on #15012
I was thinking this filter could actually just sit before the filter that has a need to understand the added headers. Note that even this is fragile; if later filters cause a repick of route, if you make some policy decision earlier in the filter chain you would have done this with stale information. I think a robust configuration might be: `[.. some filters .., header modification filter, some fi

[2021-02-14 01:11] htuch commented on #15043
Yep, this behavior seems to only have an upside. Technically it might break existing users, it might be worth exercising caution and adding a runtime flag. I'm thinking of scenarios in which RouteConfiguration has some typed route config that is supported in Envoy vM but not in vN where N < M. Some operator has a mixed fleet of envoy vM and vN.

[2021-02-14 08:07] lambdai commented on #15049
Duplicate https://github.com/envoyproxy/envoy/issues/14890 ?

[2021-02-14 08:23] lambdai commented on #8702
Sharing connection among threads introduces lock contentions for sure.

I have an alternative approach.
Suppose the cluster has N endpoint and X workers. What if we shard the endpoints among workers?

Each worker load balances upstream request around  N / X endpoints. This can be done either introducing a new load balancer, or as simple as maintain a per-worker view of endpoints in worker's Thread

[2021-02-14 08:31] lambdai commented on #11071
Ideally different clusters would use different connection attributes e.g socket option, tls context. That means even though the endpoint sets are the same, the connection pools should not be shared.

I do agree there are fields vary among the clusters but connection pools can be shared. What is the major pain? LB?

[2021-02-14 09:01] lambdai commented on #15026
Yeah, this is exactly on-demand CDS. The current status is that the XDS transport could support on-demand, however, Envoy as a CDS client doesn't know how to send an appropriate set of cluster name to CDS server. Meanwhile, an end2end on-demand CDS also need XDS server support ondemand CDS request and generate correct CDS response. A joint effort is needed.

I am experimenting a *datapath* on-dema

[2021-02-14 15:00] ikonst commented on #11532
Just wanted to note that at least some tracing implementations do their own sampling decision propagation, e.g. [in Lightstep](https://github.com/lightstep/lightstep-tracer-common/blob/adf4263e074b663174fcd92064872ba3b18ef0c8/lightstep.proto#L20).

[2021-02-14 15:09] ikonst opened #15050 "Better document and/or improve tracing config precedence"
With the introduction of per-route tracing configuration, the precedence is:
- [runtime tracing settings](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/runtime#runtime)
- [per-route settings](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto.html?highlight=random_sampling#config-route-v3-tracing)
- [per-connection manager setti

[2021-02-14 15:11] ikonst commented on #15050
🔨

[2021-02-14 15:42] wlhee commented on #15049
Thanks. Marked it as duplicated as #14890

[2021-02-14 15:44] wlhee commented on #15049
Duplicated of #14890

[2021-02-14 17:56] oschaaf commented on #8702
I wonder if migrating live connection across threads is something that could break extensions. E.g. here's a PoC one that gets back from a foreign thread and posts something to a dispatcher to request a continuation of transaction processing.
https://github.com/apache/incubator-pagespeed-mod/blob/master/pagespeed/envoy/envoy_base_fetch.cc#L64

[2021-02-14 19:14] mattklein123 commented on #15049
Yeah let's track this in the other issue.

[2021-02-14 19:14] #15049 closed

[2021-02-14 19:47] mattklein123 commented on #15026
+1 I think this is on-demand CDS and I think we should just tackle that in a similar way to what we have done with on-demand VHDS.

[2021-02-14 19:48] mattklein123 commented on #8702
Yeah, I agree this could work (internal subsetting), though IMO it's a bit different from what this issue tracks, and I would recommend that we open a different issue for not. I think this issue is still worth considering as I think the lock contention may be worth it in exchange for much reduced memory usage in certain cases.

[2021-02-14 20:04] #4705 closed

[2021-02-14 23:32] jstewmon commented on #13796
I ran into this issue too. Having had problems with the gRPC FUSE file sharing feature in the past, I tried switching back to osxfs file sharing, and the problem vanished.

gRPC FUSE became the default in [Docker Desktop Community 2.4.0.0](https://docs.docker.com/docker-for-mac/release-notes/#docker-desktop-community-2400) (released 2020-09-30). If you have a problem with a mounted volume using Do

[2021-02-14 23:56] darren0h commented on #2763
I can use one light-weight web server backend to access the admin interface back with basic authentication.
Here is my example:

docker-compose.yml(key part):
[code]

envoy(https://github.com/envoyproxy/envoy/blob/main/examples/front-proxy/front-envoy.yaml):
[code]

h2o.conf:
[code]

The "htpasswd" file manages the admin user and password:
[code]

[2021-02-15 00:59] antoniovicente commented on #8702
The contention involved should be minimal since the cross thread communication should only happen as the connection is attached to a request and returned to the pool.  All the writes and event handling would happen on the thread handling the request.

Of course, this mostly makes sense for medium QPS services.  For high QPS services, there is enough traffic to justify separate connections per thre

[2021-02-15 09:17] lambdai opened #15052 "perf: sharding endpoints in the cluster across worker threads"
Goal: reduce the connections to the upstream servers.

Background:
For each active cluster in Envoy, Envoy maintains at least 1 connection to upstream endpoint *per worker* *per endpoint in the cluster* *per connection pool setting*.

Usually, connection pool setting cardinality is decided by cluster attributes. The value can be considered as constant and let's leave it aside.

For a large EDS clu

[2021-02-15 09:45] lambdai commented on #15026
@mattklein123 @htuch Please take a look at #15053.

I can write a design doc describing #15053 and the follow up, including the low hanging fruit that request EDS upon the traffic on a worker thread.

[2021-02-15 13:47] Gsantomaggio commented on #14708
I can confirm that this bus hasn't solved yet.
[code]

conf:
[code]

the

[code]

Thank you for working on it

[2021-02-15 14:12] Coconut105 opened #15055 "ResponseMapper message filter inclusion"
Hi all,

I would like to know whether it is possible to modify responses based on status code AND status message. Specifically, it would be good to be able to override responses like "503, TLS error: Secret is not supplied by SDS" with something more meaningful.

Thanks.

[2021-02-15 16:29] htuch commented on #15026
@lambdai you might want to sync with @adisuissa who is looking at LEDS right now.

[2021-02-15 18:46] dmitri-d commented on #14918
Yep, this is exactly it, an exception is being thrown during `RouteMatcher` instantiation due to presence of duplicate domain names. I don't think I need to make changes on the router side though, I changed when `ConfigImpl` is instantiated (and therefore validated).

[2021-02-15 18:50] lambdai commented on #15026
Thank you @htuch I feel LEDS is a generally orthogonal appproach.
My attempt is to address whether an EDS cluster is needed at all. It's essentially only Envoy could answer.
My hunch is that LEDS addresses how to deliver the endpoints changes in within an EDS cluster, *after* Envoy request that EDS cluster name.

Scheduling an offline chat with @adisuissa

[2021-02-16 00:20] lambdai commented on #15052
Depends on https://github.com/envoyproxy/envoy/issues/14663
This issue can be resolved if we can replace the `client_id` with the `worker_id` in the hash seed

[2021-02-16 01:28] mattklein123 commented on #15052
I think this is an interesting idea and something we should think about, but it's not clear to me that we should invest in functionality like this in Envoy vs. building subsetting into the control plane (especially if we do it in xds-relay which can be shared by everyone).

Also, I think to get the full memory benefits we would also want to consider actually sharding the hosts on each worker vs. j

[2021-02-16 01:44] erikbos commented on #12671
Indeed, you're right: looks like `CheckResponse.DynamicMetadata` for a deny response does not yet emit the metadata. It does for an allowed request.

(tested on go-control-plane `v0.9.9-0.20201210154907-fd9021fe5dad` and `eb99bfc13150fe57405138af3a6f1751fad7d8e2/1.18.0-dev`)

[2021-02-16 01:46] erikbos commented on #15031
Indeed, you're right: looks like CheckResponse.DynamicMetadata for a deny response does not yet emit the metadata. It does for an allowed request.

(tested on go-control-plane v0.9.9-0.20201210154907-fd9021fe5dad and envoy eb99bfc13150fe57405138af3a6f1751fad7d8e2/1.18.0-dev)

[2021-02-16 02:12] htuch commented on #15026
@lambdai on-demand EDS has to remain purely opt-in FWIW. There are concerns around coupling data plane with control plane reliability whenever you use on-demand xDS.

[2021-02-16 02:30] madhu-shankar commented on #14910
Are you considering any other type of configuration of connection termination? like closing fixed number of connections after a fixed period of time, independent of number of requests served on the connections and lifetime of the connection.
Because with `max_requests_per_connection` when the upstream cluster is heterogeneous, with hosts of different capacities, the time taken to serve the same nu

[2021-02-16 03:31] htuch commented on #14918
Why can't we avoid the duplicate domain name by catching the duplicate at the `GrpcMuxImpl` level?

[2021-02-16 04:43] skk2142 opened #15056 "Outlier detection using custom HTTP headers (for Graphql api)"
*Outlier detection for Graphql APIs*

*Description*:
GraphQL apis do not use HTTP error codes. They typically send error as a part of the JSON response (even errors throw on the server). HTTP code is always 200. This makes it hard to use envoy for outlier detection. To make outlier detection work, one can set the error code in the headers, say `graphql-status` (like `grpc-status`). Is it possible

[2021-02-16 05:26] lambdai commented on #15026
Opt-in for sure. I understand the concern. Sorry I didn't make it clear. I will add the design doc before I go beyond the cluster manager API in #15053

[2021-02-16 08:41] bmsan opened #15057 "Load Balancing with network redirect"
*Title*: *Configuring Load Balancing with network redirect*

*Description*:

In nginx there is [ngx_http_split_clients_module](http://nginx.org/en/docs/http/ngx_http_split_clients_module.html)

[code]

[2021-02-16 12:05] lambdai commented on #15057
Can you clarify? This nginx config doesn't seem to bypass nginx. In theory, you cannot because "http request lb" and "bypass HTTP proxy" is contradicting. A L7 proxy cannot determine the http request/response boundary if the byte stream is not parsed by http proxy.

[2021-02-16 12:05] dio commented on #10411
Since https://github.com/envoyproxy/envoy/pull/14467 is merged (thanks to @asraa!), so I'm thinking we can change the way how we assemble JSON string using the new library. WDYT @htuch?

[2021-02-16 12:30] dio commented on #15031
@rockspore @erikbos could you help to send us the trace log? I'm looking at: `Received CheckResponse: ...`. Thank you!

[2021-02-16 12:50] abhinav1998agarwal commented on #345
Hey! I am looking for the api reference corresponding to this TCP routing on https://www.envoyproxy.io/docs/envoy/v1.12.1/configuration/listeners/network_filters/tcp_proxy_filter#config-network-filters-tcp-proxy , but unable to find. @mattklein123 , @enricoschiattarella  can you guide me to the api reference for this TCP routing.

[2021-02-16 13:50] dio commented on #15031
I think I found it, let me try to add a test for this.

[2021-02-16 14:09] asraa commented on #10411
The proposal is to relpace struct to string from protocol buffers `MessageToJsonString` to use serialization from the new library, right? And this is in zipkin extension? I think that sounds fine to me.

(Btw, the new library has not been enabled yet by default! It is disabled by default, my plan was to enable it in fuzzers only, close out the fuzz bugs, and then enable by default.)

[2021-02-16 14:12] dio commented on #10411
Yeap!

[2021-02-16 14:30] alyssawilk commented on #15030
Yeah, I think it should be pretty easy to plug it in.  I think to me the main question is if there's enough interest to land upstream, and if any of the @envoyproxy/maintainers want to sign up to co-own.

(https://github.com/envoyproxy/envoy/blob/main/EXTENSION_POLICY.md#adding-new-extensions)

[2021-02-16 14:31] bmsan commented on #15057
I will try to describe the behavoir I would like to obtain.
We have N identical servers, which should handle data from the users.
When an user contacts my_domain.com I would like the entity behind my_domain.com(could that be envoy?) to select one of the N servers and issue a redirect to the user (you contacted my_domain.com but you should contact serverK).
The user would get redirected and it woul

[2021-02-16 14:34] phlax commented on #15030
throwing in my 2p - this would be hugely beneficial to python communities and i think in terms of users would likely get a lot of adoption

[2021-02-16 15:16] dio commented on #15031
@rockspore @erikbos, when you have time, could you help us to validate the fix? I have it on dio123/envoy:fix-15031 (this is an ubuntu-based image). Thank you very much for your help and time!

[2021-02-16 16:11] rockspore commented on #15031
Yes I have verified that the metadata gets emitted with the fix. Thanks a lot for working on this, @dio!

Also, many thanks for confirming the issue, @erikbos!

[2021-02-16 17:06] sagarkal commented on #14869
@moderation Bumping up this thread

[2021-02-16 18:30] rgs1 opened #15061 "new tcp pool still having issues with upstream writes first"
We picked up #14919 last week and re-enabled the new tcp pool, but still got into a bad state today. (e.g.: Envoy closes connection after upstream writes).

Log excerpts and tcpdump output following in a bit.

cc: @alyssawilk

[2021-02-16 18:34] rgs1 commented on #15061
Here are a few connection attempts from Envoy to is upsteam via 127.0.0.1:

[code]

[2021-02-16 18:35] rgs1 commented on #15061
And logs:

[code]

[2021-02-16 18:44] freedomljc commented on #14997
@tonya11en , I just [drafted the pr](https://github.com/envoyproxy/envoy/pull/15060) to move the logic into the dispatcher thread, but found it might still cause this minRTT issue. Essentially, this minRTT issue was caused by the below event sequence:

1. Invoke the code block https://github.com/envoyproxy/envoy/blob/1b118df9a9ddab835f891b7458b8012f6d454dd8/source/extensions/filters/http/adaptive_

[2021-02-16 19:32] tonya11en commented on #14997
@freedomljc I think there's been a misunderstanding. This change is much more substantial than https://github.com/envoyproxy/envoy/pull/15060.

A few quick notes and then I'll do a beefier writeup when I find some time tonight. I have an in-progress version of the patch I can share as well.
* Posting to the dispatcher is non-blocking. The worker threads do not wait on the dispatcher thread to comp

[2021-02-16 20:05] junr03 commented on #15056
I need to look at the code to refresh my mind. But this is something that has been discussed in the past in the context of gRPC status.

I could imagine how the outlier detection system could have extensions for having custom ways to detect errors. The rest of the code would work the same way in terms of eviction and inclusion.

[2021-02-16 20:54] mandarjog opened #15062 "Enable jwt_claims to header for jwt_based routing"
*Add the ability to copy jwt_claims to headers to enable jwt_based routing*

*Description*:
[jwt_authn_filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/jwt_authn_filter)
validates jwt tokens and rejects a token if it is invalid. May times we want to route a request at ingress based on the jwt-token presented. For example a claim me be related to `canary` in which

[2021-02-16 21:17] bmsan commented on #15057
One more thing to point out in my nginx example, the bypassing nginx and creating a direct connection user<-->backend is done by returning http [code 302](https://en.wikipedia.org/wiki/HTTP_302)

[2021-02-16 21:41] lambdai commented on #15026
Chatted with @adisuissa We all agree LEDS and lazy-EDS are orthogonal

[2021-02-16 21:42] alyssawilk commented on #14909
Ah, that was super helpful - I think I have an idea of the problem.  I'll take a whack at reproducing and fixing

[2021-02-16 22:02] lambdai commented on #9963
This should has been fixed by https://github.com/envoyproxy/envoy/pull/10728

[2021-02-16 22:12] fruffy commented on #2031
Just to get a sense of the current landscape: What is the status on this? I see this comment in the zipkin trace implementation:
https://github.com/envoyproxy/envoy/blob/main/source/extensions/tracers/zipkin/zipkin_tracer_impl.cc#L40

[2021-02-16 22:28] ediezh commented on #7086
We would like to have the option to set x-envoy-decorator-operation too.

[2021-02-16 23:49] freedomljc commented on #14997
Thanks @tonya11en for clarification, look forward to seeing how it works in your patch.
I just added the unit test into https://github.com/envoyproxy/envoy/pull/15004 anyway.

[2021-02-17 00:29] qiwzhang commented on #15062
For A:  we just add following into JwtProvider:
[code]

[2021-02-17 00:51] yangminzhu commented on #15062
for A, after the jwt filter clear the route cache, will the request go through the same filter chain again? If so how does the jwt filter know if should not clear the cache again?

for B, the routing part probably still need to validate the token to some extent, sometimes a path is excluded from the JWT so the jwt filter might be configured to bypass validation of it, in that case, the routing sho

[2021-02-17 06:58] KU348-code opened #15070 "envoy.extensions.resource_monitors.fixed_heap.v3.FixedHeapConfig not recognized"
Envoy is running in CentOS 8.3. Envoy version is as follows.

envoy  version: 5c801b25cae04f06bf48248c90e87d623d7a6283/1.17.0/clean-getenvoy-28ef262-envoy/RELEASE/BoringSSL

Envoy configuration file is validated with the following command.

envoy --mode validate -c envoy.yaml

The contents of envoy.yaml is as follows.

[code]

The output of running the above envoy validation command is as follows.

[2021-02-17 07:49] jimini-lumox commented on #14659
How could coming via a VPN change the behaviour?

[2021-02-17 08:54] debbyku opened #15071 "round robin load balancing issue on TCP_Proxy with envoy.filters.network.sni_cluster"
Currently I am using Istio to form a service mesh on 2 k8s clusters, say, clusterA and clusterB.  15443 port is used for cross cluster communication. i.e. in clusterA, we can access the service in clusterB through the mtls port 15443 on the istio ingressgateway of clusterB.   The problem is the traffic is not evenly distributed to the work load of the service in clusterB.

e.g.

 kubectl logs test

[2021-02-17 10:23] lambdai opened #15072 "allow google grpc local shutdown"
Destroying GoogleAsyncClientThreadLocal put the reset streams in dispatcher deferred deleted list and expect the stream object not destroyed. If these streams are destroyed, the GrpcStream, which hides google grpc and envoy grpc, holds a dangling pointer to the destroyed stream. The xds client maybe call sendMessage and will crash Envoy.

Essentially dispatcher should be able to clean up the defer

[2021-02-17 12:11] jtway commented on #14363
I have been working to put together a basic design doc/proposal for this feature. I do believe there are quite a few outstanding questions, but I believe there is enough to further the discussion.
https://docs.google.com/document/d/1GNL4iaNTwEYpPeWFslGUXnoX5K7mn3tipYAvSQ9_-TE/edit?usp=sharing

[2021-02-17 12:20] mk46 commented on #15036
I would like to open PR to add support for %RESP()% if no one is working on it.

[2021-02-17 15:20] mandarjog commented on #15062
@yangminzhu if you believe “B” is equivalent to a client also populating the header then there is no validation needed during routing. If a route is not protected then it does not need a validated token. Can you help me understand the failure case?

[2021-02-17 17:40] qiwzhang commented on #15062
@yangminzhu clear_route_cache will not cause request to re-pass filter chain.

[2021-02-17 17:43] qiwzhang commented on #15062
I like your `C:  add a metadata_to_header filter`.  So not to put too much specialize code  into jwt_authn.

[2021-02-17 17:50] jmarantz opened #15076 "benchmark: expose google benchmark's intrinsic command-line options"
*Description*:

I think it is sufficient to move the call to `::benchmark::Initialize(&argc, argv);` to the first line of `main()` and then both the Google Benchmark options will be supported, and also the new custom option "skip_expensive_benchmarks". If you do that, then you get this with "benchmark --help":
[code]
So in that case you don't get the help for --skip_expensive_benchmarks. I think i

[2021-02-17 19:32] ahaw opened #15079 "upstream connect error or disconnect when trying to configure front proxy"
*Title*: *upstream connect error or disconnect when trying to configure front proxy*

*Description*:

curl -v localhost:8080/service/1
*   Trying 127.0.0.1:8080...
* TCP_NODELAY set
* Connected to localhost (127.0.0.1) port 8080 (#0)

* Mark bundle as not supporting multiuse
< HTTP/1.1 503 Service Unavailable
< content-length: 91
< content-type: text/plain
< date: Wed, 17 Feb 2021 19:17:57 GMT
< s

[2021-02-17 19:49] dankegel commented on #4373
I'm hitting this now using
[code]
on a 6-core xeon with hyperthreading and 12 GB RAM.
It gets to about
[code]
and then swapd starts using 100% CPU, and load average goes above 50.
Several of the clangs are using 1.5GB resident ram.

I tried
[code]
but that didn't help.  Note that

[code]
still says "building using 12 CPUs" because the echo in ci/build_setup.sh is before that option takes effect.

[2021-02-17 19:56] roelfdutoit commented on #14890
Public example of a site that breaks with `C-L:0`:  https://cr.yp.to (the guy that invented x25519)
His server rejects all requests with `C-L:0` and sends back the following reply:
[code]

[2021-02-17 20:10] skk2142 commented on #15056
Thanks. I found this which is very relevant: https://github.com/envoyproxy/envoy/pull/7942/files

I don't code in go so I'd be hard for me to even attempt to add this feature but this would be a great feature.

[2021-02-17 20:18] dankegel opened #15080 "Docker build aborts early if BAZEL_BUILD_EXTRA_OPTIONS contains a space"
With envoy from git ( a96ebf4a9b4dae50c17469c64b179930e57c802e ) on ubuntu 18.04,
the command
[code]
aborts instantly, but using the alternate syntax
[code]
seems to start off nicely.

It doesn't matter what option you pass, all that matters is the embedded space.  So
[code]
also aborts instantly.

Adding 'bash -x' to the front shows that the last line run is
[code]
so perhaps we're in the 7th cir

[2021-02-17 20:26] dankegel commented on #15080
In the unlikely event anyone needs a quick hack workaround, I just hardcoded build options in build_setup.sh, e.g.
[code]

[2021-02-17 21:00] snowp opened #15081 "Poor error message when extension category missing"
[code]

when the `category` field is missing from `envoy_cc_extension` target.

[2021-02-17 21:01] snowp commented on #15081
@phlax

[2021-02-17 21:12] alyssawilk commented on #15035
cc @danzh2010

[2021-02-17 21:14] alyssawilk commented on #14953
response_payload_too_large is generally the details for an internally generated response when
1) the response is buffering, not streaming
2) the response exceeds the configured buffer limits
You should be able to avoid this either by not buffering the full response, or by increasing the buffer limits:
https://www.envoyproxy.io/docs/envoy/latest/faq/configuration/flow_control