[2019-12-21 18:27] #9020 closed

[2019-12-21 18:29] coffenbacher commented on #9094
Thanks for the workaround idea @domhauton , that is working for me as well.

[2019-12-21 18:43] dmitri-d commented on #9437
I forgot to mention in the original report that the failure occurs when the tests are being built.

[2019-12-21 21:07] oblazek opened #9448 "Envoy 1.12.2 sometimes crashes due to frequent clusters adding/removal?"
Hey guys,

I have been seeing random crashes of envoy in version:

`./envoy-1.12.2  version: 8f2515a19bdcc75bea0bfd7016231a7661d0be6e/1.12.2/Clean/RELEASE/BoringSSL`

*Config*:
[code]

*Repro steps*:

*Call Stack*:

[code]

Any idea what the problem could be? Is our assumption correct?

Thank you.

[2019-12-21 21:20] jmarantz commented on #9448
quick notes from the thread stack trace:
 * crash is on main thread, in a deferred deletion of the TlsCache.
 * none of the other threads are doing stats-related stuff.

[2019-12-22 00:06] htuch commented on #8128
Removing from 1.13.0, since this is unlikely to land given the other tasks and the additional complexity.

[2019-12-22 00:07] htuch commented on #8392
@mattklein123 are you planning on landing this for 1.13.0 and v3, or do we punt?

[2019-12-22 00:08] htuch commented on #8540
I'm moving this out of 1.13.0 as I assume it's not as high priority as landing v3.

[2019-12-22 18:22] eightnoteight commented on #7599
I felt like stats should be supporting summary type of metrics with configurable quantiles. because our problem with the hard coded buckets is that we couldn't properly track 95% percentile and 99% percentile.

making buckets configurable does solve our problem as then we can configure the buckets in such a way that 95% and 99% can be computable, currently even though 95% & 99% are different, beca

[2019-12-22 19:58] ramachaitanyak commented on #9389
@derekargueta thanks for the advise.

Essentially I am trying to log the response on AsyncClientImpl  callback. Having a factory instance is what I have been recommended as well by @zuercher . I will try this approach and get back.

After few discussions; I have learnt that every network operation occurs through some filter in envoy. I think it is about understanding the right filters and use File

[2019-12-22 20:12] htuch commented on #9447
I agree with the problem statement. In terms of solution space, we've also discussed a config status reverse subscription, which I think wold be more aligned with where we are heading in UDPA-TP than a dedicated NACK message. @costinm has also expressed interest here.

[2019-12-22 20:15] htuch opened #9454 "Annotation based mapping between xDS message types and endpoints"
Instead of having to hardcode https://github.com/envoyproxy/envoy/blob/master/source/common/config/type_to_endpoint.cc, we should be able to express this relationship via protobuf option annotations, allowing this mapping to be performed programatically.

CC @lizan

[2019-12-22 21:36] htuch commented on #9359
@tsaarni in older versions of Envoy, we only responded to move inotify events. It looks like https://github.com/envoyproxy/envoy/commit/ba1ecbb95b86aaf87b08b5d4624969fc4357d7c1#diff-fa160b55c5f1fd25e87dfd27cdb98646 added support for watching modification events though.

For (2), yeah, inlining could work. I think you could also either write fresh files and update the reference in the `DiscoveryRes

[2019-12-23 01:58] mailzyok commented on #9417
Thank you all for the support. The trace log is useful, we figured out the timeout values finally.

[2019-12-23 01:58] #9417 closed

[2019-12-23 03:31] #8743 closed

[2019-12-23 06:37] gengleilei opened #9455 "Feature Request: EGDS support"
*Title*: *EGDS support*

*Description*:
The current method of updating endpoints in a cluster through EDS is fine when the cluster size is relatively small, but when the cluster size is huge, suppose we have a 10000+ endpoints, and even a small amount of endpoints get changed it causes a full EDS push. Eventually this leads to a performance issue on Envoy and Pilot.

To fix this issue, Pilot ([#19

[2019-12-23 07:56] wallyatgithub commented on #7403
OK, I get it, here the max streams means max concurrent streams, not max total streams.

[2019-12-23 13:19] jmarantz commented on #9448
per slack DM, @oblazek said:

It makes sense that this is correlated to 1.11 rather than 1.12 because 1.11 included a significant change the stats storage layout. 1.12 includes some code renames but was less suspicious. From the stack-traces it seems like we are not correctly handling the orderly destruction of stats from TLS cache. However, unit-tests I've added in https://github.com/envoyproxy/e

[2019-12-23 13:21] jmarantz commented on #9448
Two ways I can think of making progress on this PR include:
 * running in production under tsan or asan
 * bisecting the PRs that might have introduced this problem.

Both of these may be facilitated by building from source rather than docking image. I'd do the tsan and asan runs first. @oblazek is that feasible?

[2019-12-23 13:24] jmarantz commented on #9448
Also, @oblazek , could you give more detail about what happens to your cluster configuration that correlates with the crashes? Per DM you said:

[2019-12-23 16:08] ggreenway commented on #7403
Right; there's `max_requests_per_connection` on the [cluster](https://www.envoyproxy.io/docs/envoy/v1.12.2/api-v2/api/v2/cds.proto.html), and `http2_protocol_options .max_concurrent_streams` in the [h2 options](https://www.envoyproxy.io/docs/envoy/v1.12.2/api-v2/api/v2/core/protocol.proto#envoy-api-msg-core-http2protocoloptions). Although in the above description, I'd say the H2 client is "busy" i

[2019-12-23 16:25] mattklein123 commented on #8392
No not going to get to this, moving out.

[2019-12-23 16:26] mattklein123 commented on #7867
I think it really depends on the deployment. IMO fail open with a default config will work in many cases, especially since with eventually consistency the config should eventually get loaded later when things are fixed.

[2019-12-23 16:28] yuval-k opened #9458 "access log: file access log memory growth between flush events"
with high throughput, the file access log flush can accumulate many events and cause excessive memory consumption.
Currently it flushes every time interval or 64KB (which ever is sooner). we should consider making this tunable, or add other mechanism (adaptive interval?) to help limit memory consumption.

[2019-12-23 16:32] #7813 closed

[2019-12-23 16:38] mattklein123 commented on #9458
Specifically we should:
1) Add a max buffer size configuration parameter for file access log, with some default (1MiB?)
2) Do not buffer access log data if we already have this amount buffered, just drop it.
3) Increment stat if we drop access log data for operations.

[2019-12-23 17:43] asraa commented on #9401
Hm. The goal of the smallest style of filter fuzzer (rather than a chain fuzzer) would be to get coverage over the implementation of the filter. But even then, like  you said, I think trouble points to getting maximal coverage would be from handling end_stream, filter callbacks, and simulating time.

I made a change in to the POC to take repeated Data and call end_stream on the last encodeHeader (

[2019-12-23 18:38] mabukhovsky opened #9461 "Dynamic forward proxy: "Proto constraint validation failed (FilterConfigValidationError.DnsCacheConfig: ["value is required"])""
*Dynamic forward proxy config validation failure*: *Proto constraint validation failed (FilterConfigValidationError.DnsCacheConfig: ["value is required"])*

*Description*:
Hi, I'm trying to create dynamic forward proxy using your **latest master code** that have introduced
auto_host_rewrite_header for envoy.filters.http.dynamic_forward_proxy. It is supposed to do forwarding to the domain/port defi

[2019-12-23 18:42] uromahn commented on #9304
Adding a commend to bump this up. We are going through an internal security review and our security team is pushing to get this resolved as part of our internal process.

[2019-12-23 18:53] jplevyak opened #9462 "Add end user documentation for WASM extension."
For WASM Extensions https://github.com/envoyproxy/envoy/issues/4272

Add documentation including:

https://github.com/envoyproxy/envoy/pull/9259 - including stats, meaning, uses

[2019-12-23 19:37] tsaarni commented on #9359
Thanks for the tips!  I did some experiments to find out more.

@htuch: I think solving (1) is problematic due to the way how Kubernetes does file updates with symlinking (details follow below).  I wonder would it be acceptable to somehow change `WatcherImpl::onInotifyEvent()` to make it would work with Kubernetes update logic?

### Problem 1: SDS file subscription is never fired on Kubernetes

He

[2019-12-23 21:00] alex3dm commented on #9297
@snowp  does "envoy"  of a retry policy do the checking in the class source /common /router/ retry_state_impl.cc?

[2019-12-23 21:19] mattklein123 commented on #9401
I don't think so, but @htuch might have opened one as this is something I have discussed with him offline. Also, I think @goaway has a patch you might be able to start with from some work he was doing on Envoy Mobile. Let's chat about this after the holidays?

[2019-12-23 21:34] mattklein123 commented on #9447
+1. My fear, just speaking about the Envoy implementation, is that if we try to send a delayed NACK if something fails async it's going to be incredibly complicated.

[2019-12-24 00:11] jplevyak commented on #9462
Place docs here https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/other_features/scripting

[2019-12-24 00:12] jplevyak opened #9465 "Add developer information for WASM."
At https://github.com/envoyproxy/envoy/tree/master/source/docs

[2019-12-24 00:31] jplevyak opened #9466 "Differentiate a Filter's "name" and a "type"."
Currently Filter's have a "name" which is actually more of a type.  Filters need a unique identifier (which is more often called a "name" or "id") different from the "type".

How do you want to proceed on this?  Do we want to change "name" -> "type" and then add a new "name" ?   Do we want to add an "id" which is the non-type name?  Do we want to do this 2 step, where we add  "Id" and "type" which

[2019-12-24 00:57] jplevyak commented on #9466
This is a PR https://github.com/envoyproxy/envoy/pull/9391

[2019-12-24 01:13] wallyatgithub commented on #7403
I think if max_requests_per_connection is reached, it should be moved to draining not busy.

[2019-12-24 08:50] oblazek commented on #9448
@jmarantz sure I can try building from source and run for example both versions tsan and asan on a different machines if that makes sense. Unfortunately after 5th of Jan because I am OOO until then.

[2019-12-24 08:55] oblazek commented on #9448
about the other thing.. so our envoy control plane sits in front of k8s and every time a pod scales up or down or readiness probe changes this triggers an update of appropriate service which means update of clusters backend (for that service). This means in envoy terms removing of a cluster and creating a new one with that update (e.g. backend server added) right after the old one was deleted

[2019-12-24 09:54] denghuancong commented on #9219
@HenryYYang  add -t options ，it works，thanks。you should close this issue、

[2019-12-24 12:42] lizan commented on #9410
blocked by https://github.com/bazelbuild/bazel-toolchains/issues/787

[2019-12-25 01:20] jammerful commented on #9426
@qiwzhang Does https://github.com/envoyproxy/envoy/pull/9441 close this issue?

[2019-12-25 01:22] #9022 closed

[2019-12-25 07:12] supernan1994 opened #9477 "Why grpc code ResourceExhausted maps to URX error"
In the [document](https://www.envoyproxy.io/docs/envoy/v1.10.0/configuration/access_log), response flag URX stands for: The request was rejected because the upstream retry limit (HTTP) or maximum connect attempts (TCP) was reached.

I notice there are at least 2 scenes that will cause URX error:
1. upstream connect error or disconnect/reset before headers. reset reason: connection failure.
2. grpc

[2019-12-25 08:38] supernan1994 commented on #9477
Another thing is confusing me. Grpc server also returns ResourceExhausted sometimes(maybe I should ask in grpc repo)：https://github.com/grpc/grpc/blob/master/doc/statuscodes.md.
1.  Sent or received message was larger than configured limit
2. Server temporarily out of resources (e.g., Flow-control resource limits reached)

If I use ResourceExhausted when a user's request frequency reaches the max

[2019-12-25 12:33] bainiu87 opened #9478 "Whether to support grpc request mirror to specifle cluster？"

[2019-12-25 13:23] snowp commented on #9477
URX simply means that all the retry attempts were exhausted - I'm guessing you're retrying on ResourceExhausted and running out of retry attempts? URX is not tied to any gRPC error in particular

[2019-12-25 14:00] supernan1994 commented on #9477
I think I can reproduce it. I will add a piece of code tomorrow.

[2019-12-25 14:37] supernan1994 commented on #9477
Yes, I retried on ResourceExhausted. Thanks very much.

[2019-12-25 14:37] #9477 closed

[2019-12-25 16:48] htuch opened #9479 "Remove shadow artifacts from API tree"
As part of https://github.com/envoyproxy/envoy/issues/8082, we introduced shadow protos for Envoy internal use (see https://docs.google.com/document/d/1mGO9LtVo7t4Lph7WlmyGCxXye3h6j29z3JZvIBbs_D0/edit# for rationale).

Ultimately, we should not be checking into the repository these generated artifacts. If we want to keep shadowing (for convenience), we should be using `protoxform` to generate the

[2019-12-25 22:37] jmarantz commented on #9448
I have a theory -- I believe the problem is due to 16-bit ref-count overflow, which I was able to repro in a unit-test.

It's also possible that depending on configuration, there's a legitimate reason to have ref-counts >64k, though it's not obvious how. But it might be due to the cross-thread cleanup posts() never getting a chance to finish during an xDS reload. That's my current theory.

[2019-12-25 22:38] jmarantz commented on #9448
Also note that there is a very simple fix in #9457 as well as a unit test a and a bunch of debug stuff.

[2019-12-26 05:21] #9006 closed

[2019-12-26 13:59] alex3dm commented on #9297
@snowp  @dio Do the retry policies "5xx", "gateway-error", "reset" duplicatе  each other?

[2019-12-26 14:33] alex3dm opened #9483 "retry policies "5xx", "gateway-error", "reset""
Do the retry policies "5xx", "gateway-error", "reset" duplicatе each other?

[2019-12-26 17:16] #9426 closed

[2019-12-26 18:10] htuch opened #9485 "Apply CodeQL/LGTM/Semmle static analysis to Envoy code base"
GitHub now has CodeQL for OSS projects (https://securitylab.github.com/tools/codeql). This is Semmle (lgtm.com), a fairly powerful static analysis tool. We should look at setting this up for Envoy, analyzing reports and adding custom queries.

[2019-12-26 18:19] htuch commented on #9485
Apparently we automagically have some this running for our Python, https://lgtm.com/projects/g/envoyproxy/envoy?mode=list. There's apparently some Bazel joy required to get this to work with the C++.

[2019-12-26 18:56] jmarantz commented on #9448
I there's a pretty good chance that increasing the ref-count size to 32-bits will correct these crashes. This is IMO a lot more plausible than there being a race or correctness problem in RefcountPtr itself as that's pretty well tested, especially with the tests added in #9457 . And the crash stack-trace is very similar.

The thing that's worth considering, though, is whether the conditions that c

[2019-12-26 19:39] htuch commented on #9359
For (1), I think trying to figure out which inotify events k8s update actions are implying would be a a good start. I think it should be reasonable to have Envoy inotify watches support these, but it depends on the details.

For (2), it looks like the issue we were hitting before is that SDS (and other APIs) don't refresh a resource if it appears to be identical on the wire. This is WAI, but it's

[2019-12-26 20:50] mattklein123 commented on #9448
I haven't had a chance to look at this yet, but I'm pretty doubtful that ref-count overflow is the issue here. I'm guessing there is some ownership issues with rapid cluster removal/add cycles. If you want to test the ref-count issue you could supply a test binary to @oblazek, though I'm guessing it will just crash in a different way.

[2019-12-26 20:58] #8202 closed

[2019-12-26 21:28] bazel-flag-bot opened #9487 "Flag --incompatible_no_implicit_file_export will break Envoy in a future Bazel release"
Incompatible flag --incompatible_no_implicit_file_export will be enabled by default in a future Bazel release [1], thus breaking Envoy.

The flag is documented here: https://github.com/bazelbuild/bazel/issues/10225

Please check the following CI builds for build and test results:

* <a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/361#ef2f3178-d6d3-4bf6-96d3-2eef673454f

[2019-12-26 21:29] bazel-flag-bot opened #9488 "Flag --incompatible_load_cc_rules_from_bzl will break Envoy in Bazel 4.0"
Incompatible flag --incompatible_load_cc_rules_from_bzl will be enabled by default in Bazel 3.0, thus breaking Envoy.

The flag is documented here: https://github.com/bazelbuild/bazel/issues/8743

Please check the following CI builds for build and test results:

* <a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/361#951f860f-7185-4ea5-ac37-8da4ac33aa5a" target="_blank">

[2019-12-26 21:29] bazel-flag-bot opened #9489 "Flag --incompatible_load_proto_rules_from_bzl will break Envoy in Bazel 4.0"
Incompatible flag --incompatible_load_proto_rules_from_bzl will be enabled by default in Bazel 3.0, thus breaking Envoy.

The flag is documented here: https://github.com/bazelbuild/bazel/issues/8922

Please check the following CI builds for build and test results:

* <a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/361#951f860f-7185-4ea5-ac37-8da4ac33aa5a" target="_blan

[2019-12-26 21:29] bazel-flag-bot opened #9490 "Flag --incompatible_load_python_rules_from_bzl will break Envoy in Bazel 4.0"
Incompatible flag --incompatible_load_python_rules_from_bzl will be enabled by default in Bazel 3.0, thus breaking Envoy.

The flag is documented here: https://github.com/bazelbuild/bazel/issues/9006

Please check the following CI builds for build and test results:

* <a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/361#951f860f-7185-4ea5-ac37-8da4ac33aa5a" target="_bla

[2019-12-26 21:29] bazel-flag-bot opened #9491 "Flag --incompatible_disable_target_provider_fields will break Envoy in Bazel 4.0"
Incompatible flag --incompatible_disable_target_provider_fields will be enabled by default in Bazel 3.0, thus breaking Envoy.

The flag is documented here: https://github.com/bazelbuild/bazel/issues/9014

Please check the following CI builds for build and test results:

* <a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/361#ef2f3178-d6d3-4bf6-96d3-2eef673454fd" target="

[2019-12-26 21:29] bazel-flag-bot opened #9492 "Flag --incompatible_disallow_empty_glob will break Envoy in Bazel 4.0"
Incompatible flag --incompatible_disallow_empty_glob will be enabled by default in Bazel 3.0, thus breaking Envoy.

The flag is documented here: https://github.com/bazelbuild/bazel/issues/8195

Please check the following CI builds for build and test results:

* <a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/361#951f860f-7185-4ea5-ac37-8da4ac33aa5a" target="_blank"><im

[2019-12-26 21:29] bazel-flag-bot opened #9493 "Flag --incompatible_restrict_string_escapes will break Envoy in Bazel 4.0"
Incompatible flag --incompatible_restrict_string_escapes will be enabled by default in Bazel 3.0, thus breaking Envoy.

The flag is documented here: https://github.com/bazelbuild/bazel/issues/8380

Please check the following CI builds for build and test results:

* <a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/361#951f860f-7185-4ea5-ac37-8da4ac33aa5a" target="_blank"

[2019-12-26 21:29] bazel-flag-bot opened #9494 "Flag --incompatible_use_platforms_repo_for_constraints will break Envoy in Bazel 4.0"
Incompatible flag --incompatible_use_platforms_repo_for_constraints will be enabled by default in Bazel 3.0, thus breaking Envoy.

The flag is documented here: https://github.com/bazelbuild/bazel/issues/8622

Please check the following CI builds for build and test results:

* <a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/361#951f860f-7185-4ea5-ac37-8da4ac33aa5a" targ

[2019-12-26 22:06] htuch opened #9496 "Add checks to disallow external use of hidden_envoy_deprecated*"
While we shadow (see https://github.com/envoyproxy/envoy/issues/9479), we should ensure that external folks don't try and bypass Envoy's deprecated by directly using `hidden_envoy_deprecated*` fields and constants. A check at config ingestion should be sufficient here.

[2019-12-26 23:29] mattklein123 commented on #7867
I'm moving this out to 1.14.0, but we still need to move the static filter config into a oneof for v3. cc @lizan @htuch to track the automation around this.

[2019-12-26 23:32] htuch opened #9500 "oneof upgrade for filter config"
As per https://github.com/envoyproxy/envoy/issues/7867#issuecomment-539629634, we should have the `oneof` upgrade happen for filter config in v3.

[2019-12-27 03:18] rfkm opened #9501 "Customizing backlog size"
There seems to be no way to customize backlog size of a socket and it is fixed to 128.
https://github.com/envoyproxy/envoy/blob/7ff7cb4c6a1dd62e43ad9aeaee98bb103971ba6a/source/common/network/listener_impl.cc#L52
https://github.com/libevent/libevent/blob/master/listener.c#L180

It would be nice if you can provide an option to change it.

[2019-12-27 08:16] shixiaoliu commented on #7007
also interested!!! +1

[2019-12-27 16:29] #9070 closed

[2019-12-27 17:48] longkai opened #9507 "gRPC-JSON transcoder produces malformed proto buffer packet"
*Title*: gRPC-JSON transcoder produces malformed proto buffer packet

*Description*:
I am following the official doc for the [gRPC-JSON transcoder](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/grpc_json_transcoder_filter) example, setting up the [hello world gRPC](https://github.com/grpc/grpc-go/tree/master/examples/helloworld) server at localhost:50051, evovy at loc

[2019-12-27 18:02] antoniovicente opened #9508 "HTTP/1: watchdog death when clearing readDisable in onMessageComplete and the upstream connection is closed"
*Description*:
The loop to clear the ConnectionImpl's readDisable flag in ClientConnectionImpl::onMessageComplete fails to terminate in cases where ConnectionImpl::readDisable exits early due to the connection not being in an open state.  It is possible to hit this scenario in some circumstances including when handling a large response framed by connection close and the downstream is slower than t

[2019-12-27 18:12] Yogu commented on #9129
Any comment on the status code? Browsers continuously retrying on timeouts seems like a great way to get DOSsed by accident.

[2019-12-27 18:28] derekargueta commented on #7668
This is no longer an internal requirement for us - I'd be happy to close this unless others think this is still a desirable feature.

[2019-12-27 18:29] #9081 closed

[2019-12-27 20:18] derekargueta opened #9512 "clang-tidy is broken"
There are currently 2 issues with clang-tidy:
1. When clang-tidy has an error, the CI job still reports back "pass"
2. clang-tidy *always* has errors on every PR such as the following:
`error: invalid argument '-std=c++14' not allowed with 'C' [clang-diagnostic-error]`
`error: cannot use 'throw' with exceptions disabled [clang-diagnostic-error]`

I'm still troubleshooting issue 1. [This PR](https:

[2019-12-27 20:29] #9067 closed

[2019-12-27 20:47] asraa opened #9513 "QUIC upstream in health checks"
Right now it is possible to set codec types to HTTP3 in HTTP health checks. Support for QUIC upstream is not enabled in production code, so this blocks users and fuzzers that generate configs with this option. Either
- QUIC support should eventually be enabled
- We should block the option to set this codec type at the API level with a PGV constraint https://github.com/envoyproxy/envoy/blob/9263763

[2019-12-27 20:47] asraa commented on #9513
@goaway

[2019-12-27 20:59] derekargueta commented on #9512
For issue 2, poking around at clang-tidy outputs, I'm growing suspicious that the Bazel upgrade to 1.1.0 may be the culprit - there's numerous runs after the above-mentioned `gen_compilation_database.py` change where clang-tidy runs as expected. But around the Bazel upgrade is where I'm seeing `error: invalid argument '-std=c++14' not allowed with 'C' [clang-diagnostic-error]` and it's the only bu

[2019-12-27 21:10] htuch commented on #7867
@mattklein123 looking at filter config, today, we have:
[code]
Do we need a new `oneof`, or could the dynamic `ConfigSource` just live under `config_type`?

[2019-12-27 21:11] derekargueta commented on #9512
And for issue 1, looks like it was the upgrade to LLVM 9.

clang-tidy-diff.py in LLVM 8 used `sys.exit` to exit with the same error code that clang-tidy exits with ([source](https://github.com/llvm/llvm-project/blob/19a71f6bdf2dddb10764939e7f0ec2b98dba76c9/clang-tools-extra/clang-tidy/tool/clang-tidy-diff.py#L143)) whereas in LLVM 9 that's no longer the case - clang-tidy-diff.py always exits with

[2019-12-27 21:44] markmandel commented on #4384
Just ran into this myself (some issue with ipv6 in the Docker container). That magic command to make things go to ipv4 was:

`./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.dev //test/... --test_env=ENVOY_IP_TEST_VERSIONS=v4only'`

(Thanks to the Slack crew for the pointer)

[2019-12-27 21:46] derekargueta commented on #9389
Ahhh, you want to write the data of an asynchronous http request/response to the access log. So if I understand correctly, you have a custom filter, in which you have an HTTP client that you're making an asynchronous side request, and you want to log data about *that*.

@zuercher can correct me if I'm wrong, but asynchronous requests is the one exception that doesn't go through the filter stack. T

[2019-12-28 00:03] ramachaitanyak commented on #9389
@derekargueta thanks for the comments. I actually made a bit more progress on this topic. I have indentified couple of ways to do it.

Firstly, there is a different requirement in our infrastructure; where these specific logs are parsed by a different engine compared to the regular envoy access logs. Though this is restricted; I have added an access log field to our custom filter's protobuf by doi

[2019-12-28 00:32] markmandel opened #9514 "[UDP][Feature] UDP Content Token Routing"
(Please consider this document a sacrificial draft.  Feedback corrections and comments are very much appreciated, and likely warranted as I am only newley experienced with Envoy)

## Objective

Be able to preemptively route a UDP session to a specific upstream entry in the cluster, based on content available (i.e. a token) within the UDP packet.

This is specifically useful for stateful endpoints

[2019-12-28 00:37] luna-duclos commented on #9514
One thing I'd like to see here is to be able to have a sort of fallback routing for when no specific token is configured.

[2019-12-28 00:45] luna-duclos commented on #9514
I'd also like to add the explicit consideration that tokens could be any length and envoy shouldn't be opinionated on that.

[2019-12-28 07:36] #9080 closed

[2019-12-28 19:36] #9092 closed

[2019-12-29 04:29] YourTechBud opened #9517 "Envoy should poll cds server when no clusters are present"
Currently, envoy sends back a 503 whenever no endpoints are present in the cluster config. To be clear, the cluster is defined, but there are no endpoints present in it.

It would be great if we could make envoy poll the cds server whenever its gets a request. It can buffer the request till the timeout has been reached or an upstream service is available (cds server updated the endpoints).

This c

[2019-12-29 04:36] #9095 closed

[2019-12-29 15:39] eightnoteight commented on #9169
@juanjoku

for autoscaling, can you think of any use cases to scale based on method level stats compared to the upstream level stats like `upstream_rq_active` and `upstream_rq_time` from [cluster stats](https://www.envoyproxy.io/docs/envoy/latest/configuration/upstream/cluster_manager/cluster_stats)

[2019-12-29 18:11] mattklein123 commented on #7668
Let's just close and we can reopen if it is asked for again. Thanks for following up!

[2019-12-29 18:11] #7668 closed

[2019-12-29 18:13] mattklein123 commented on #9513
cc @danzh2010. We will definitely implement this at some point.

[2019-12-29 18:17] mattklein123 commented on #7867
Oops yeah sorry I forget we already have a oneof here from the config -> typed_config conversion. Yeah this oneof should be fine. Sorry for the runaround.

[2019-12-29 18:18] mattklein123 commented on #9512
Thanks for raising this @derekargueta. I think @lizan brought this up recently but to your point it hasn't been fixed yet. We should fix this ASAP and cleanup any issues that have snuck in on master.

[2019-12-29 18:20] mattklein123 commented on #9514
Thanks for raising this @markmandel. This is actually a more general case of what needs to be done for https://github.com/envoyproxy/envoy/issues/1193 in which we need to route UDP packets based on the QUIC connection ID. I have some thoughts on how we can approach this and will reply back when I have some more time. cc @danzh2010

[2019-12-29 18:28] mattklein123 commented on #9517
This is effectively a duplicate of https://github.com/envoyproxy/envoy/issues/2500 which is "on demand" xDS. Note that it is possible to implement this via extensions, but it's not available yet in OSS.

[2019-12-29 18:28] #9517 closed

[2019-12-29 18:34] mattklein123 commented on #9507
cc @lizan

[2019-12-29 21:50] markmandel commented on #9514
@mattklein123 glad to hear it has a more general application than the use cases I am thinking of as well.

I didn't think to look at how QUIC implements this! :man_facepalming: There is so much good prior art there for a variety of use cases (sessions, crypto, etc).

https://quicwg.org/base-drafts/draft-ietf-quic-transport.html#name-connections (for this also subscribed who want to read up)

[2019-12-30 00:29] #9047 closed

[2019-12-30 03:57] #8081 closed

[2019-12-30 14:02] asraa commented on #9513
Gotcha! This issue tracks the TODO in the fuzzers

[2019-12-30 14:19] snowp commented on #9297
They are implemented here: https://github.com/envoyproxy/envoy/blob/master/source/common/router/retry_state_impl.cc#L342

Each  policy sets a flag in a bitmap, which is then checked during various retriable events to  see if the request should be retried.

[2019-12-30 15:18] asraa commented on #9401
Sounds good -- one point I've already come across is dissociating Filter creation from Active Streams.
I can't use the factories to find all filters and create appropriate ones based on the proto without looping in a new active stream. (`createFilterFactoryFromProto` wraps the creation of a filter chain for a new stream).

[2019-12-30 18:23] jaegchoi opened #9523 "Adjust sampling rate of Envoy stats"
Is there a way to adjust the percentage of stats that are generated/pushed to a stats listener using the envoy.dog_statsd stats sink? Similar to how you can specify the sampling method and rate for tracing.

[2019-12-30 20:25] justincely commented on #2763
IMO letting filters be set on a true admin listener would solve this well, but that defaulting to no endpoints enabled and selectively turning them on would be preferable from a security standpoint.  There's just less room for user error if only what's needed is enabled.  For certain setups I don't want anyone, even on the box, to hit things like `/quitquitquit`, or `/certs`, so seems safer to jus

[2019-12-30 22:54] derekargueta commented on #9512
So issue 2 will need to be solved first, because if we fix 1 first, then all CI will just fail clang-tidy, but for issue 1 LLVM is open to a patch to restore the exit code ([communications](https://reviews.llvm.org/D57662#1797607)) but that won't be accessible until the next LLVM release without doing something odd/hacky like pulling that specific script from github, so in the mean time we can run

[2019-12-30 23:30] zerocool-kor commented on #3178
+1

[2019-12-30 23:32] derekargueta opened #9525 "feature request: `skip_if_present` for request/response headers to add"
*Title*: `skip_if_present` for request/response headers to add

*Description*:
When using `request/response_headers_to_add`, the only options are either replace the header or append to it. Sometimes it may be preferable to simply ignore if the header is already set. This would add a boolean `skip_if_present` option to `core.HeaderValueOption` that defaults to `false`.

[2019-12-31 00:23] htuch commented on #9401
I agree that long term we're going to have to have some of the state and sequencing logic that exists in HCM in the fuzzer. Taking a step back, I can see a ton of value in a generic filter fuzzer that is as simple as a stateless `decodeHeaders()` fuzzer. It wouldn't handle complex filters, but it would be a good default filter and probably catch a ton of bugs. It's kind of reasonable to extend thi

[2019-12-31 00:26] htuch commented on #2763
@justincely I think if we had the admin port as a listener, it would be reasonable to add a simple HTTP filter to block this; it's probably entirely doable with something like the RBAC filter today (although probably more complicated than you'd want from a UX perspective).

I don't think anyone is working on this right now, so go ahead. I would recommend moving to admin listener as the first step

[2019-12-31 03:32] vongosling commented on #9431
https://github.com/envoyproxy/envoy/issues/8036, related issues from the community.

[2019-12-31 03:37] #9050 closed

[2019-12-31 09:05] goith opened #9528 "after update cluster.circuit_breakers or cluster.outlier_detection, somtimes accessing encounter 503!"
# envoy version
- envoyproxy/envoy-alpine:v1.12.2

# description
in the front-envoy, i  configured 2 pods.

At the beginning， accessing the front-envoy return ok. and acessing the envoy admin url `http://127.0.0.1:9901/clusters` , as follow:

ime-config-gaozhenan.test.odin.local::outlier::success_rate_ejection_threshold::-1
ime-config-gaozhenan.test.odin.local::outlier::local_origin_success_rate_a

[2019-12-31 15:31] cstrahan commented on #9440
I'm working on this issue at the moment -- let me know if I missed anyone else working on this, or if there's a reason to hold off.

[2019-12-31 15:51] mattklein123 commented on #9523
I'm not sure what adjusting a % of the stats that are emitted actually means in practice. You can use the stats flush_interval to control the flush rate though.

[2019-12-31 15:52] mattklein123 commented on #9525
Makes sense to me.

[2019-12-31 15:53] mattklein123 commented on #2763
+1 let's start by just making the admin listener a real listener.

[2019-12-31 15:54] mattklein123 commented on #9528
Sorry can you better describe what the issue is?

[2019-12-31 15:57] #9437 closed

[2019-12-31 21:23] #9123 closed

[2020-01-01 00:22] pitiwari opened #9530 "envoy 1.9 failing to build due to missing dependency"
we are on envoy 1.9.1 and seems like one of the locations of the build dependency is invalid. I tried looking but cant find archive folder location or contents

api/bazel/repositories.bzl:31:        strip_prefix = "protoc-gen-validate-" + PGV_RELEASE,
api/bazel/repositories.bzl:32:        url = "https://github.com/lyft/protoc-gen-validate/archive/v" + PGV_RELEASE + ".tar.gz",

below is the error m

[2020-01-01 01:43] moderation commented on #9530
1.9.x is super old. You are 3 major versions behind - https://www.envoyproxy.io/docs. Bazel versions have moved on a lot. I'd be surprised if 1.9.x from source compiled at all.

[2020-01-01 14:42] #9120 closed

[2020-01-01 19:42] #8460 closed

[2020-01-01 20:42] #9055 closed

[2020-01-02 07:58] prakhag1 opened #9531 "[Retry Host Predicate][Feature Request] Add a retry host predicate to omit a host based on endpoint metadata match"
Currently supported retry host predicates only allow omitting either previously tried or canary hosts. The FR is to add a new host predicate that looks at the endpoint metadata match and omits the host in case of a match with the host metadata.

Proposed changes are going to be on the lines of:

<pre>
retry_policy:
  ...
  retry_policy:
    retry_host_predicate:
    - name: envoy.retry_host_predic

[2020-01-02 09:38] zyfjeff opened #9532 "Host metadata take up a lot of memory"
*Title*: *Host metadata take up a lot of memory*

*Description*:

The following code is my test

[code]

Output:

[code]

Is it possible to use a Map instead of a Struct, or to use Any nested Struct instead? In addition, we can actually optimize the default values so that we don't have to build Metadata objects when we don't have any metadata information.

@mattklein123

[2020-01-02 09:44] zyfjeff commented on #9532
/assign @zyfjeff

[2020-01-02 14:35] #9304 closed

[2020-01-02 15:35] htuch commented on #9500
I'll close this one out, as we have landed support for `oneof` promotion, but it's not required specifically for #7687 (see https://github.com/envoyproxy/envoy/issues/7867#issuecomment-569529488).

[2020-01-02 15:35] #9500 closed

[2020-01-02 15:56] jmarantz commented on #9448
@mattklein123 I agree that there's some underlying issue and that ref-counts should never got >64k. Nevertheless I thought it might be good to just fix that and issue warnings for high use-counts at the same time. WDYT?  #9533  If @oblazek patches that in or grabs a docker image from head with it try try, and it still crashes in the ref-count code then we'll know it's something else , and if it is

[2020-01-02 16:25] htuch commented on #8933
@derekargueta @kyessenov do either of you have cycles to land this in the next week (prior to 1.13.0)? Would be great to do this and align with #9391.

[2020-01-02 17:02] danzh2010 commented on #9440
Thanks for taking this issue! Currently no one is working this. I think this will be similar to [QUICHE's](https://source.chromium.org/chromium/chromium/src/+/master:net/third_party/quiche/src/quic/core/quic_packet_reader.cc;drc=7329ada29a5820c4186ee567cbb505df77f179b2;bpv=1;bpt=1;l=77?originalUrl=https:%2F%2Fcs.chromium.org%2F) udp reading logic, which might be helpful.

[2020-01-02 17:08] cstrahan commented on #2763
@justincely and I were talking about this earlier today. I'll be working on this shortly -- just now getting a sense of what all needs to be done to get us there. As I work on this, feel free to assign this issue to me whenever you feel confident in my ability to deliver.

[2020-01-02 17:26] ofek commented on #2763
Hello all! For those of us providing monitoring solutions based on `/stats`, could someone please briefly explain what would need to be changed config-wise to retain access to that endpoint once the proposed feature lands?

[2020-01-02 19:23] snowp commented on #9531
Seems like a totally reasonable addition, I'd be happy to review it.

[2020-01-02 20:30] danzh2010 commented on #8794
I just found that SO_REUSEPORT doesn't behave as expected in Mac OS. Mac doesn't dispatch UDP packets according to network 5 tuple within the SO_REUSEPORT socket group. For connection-oriented UDP traffic, this means we don't have stable connection as packets from the same connection can be sent to different sockets.

[2020-01-02 22:24] #9144 closed

[2020-01-02 23:15] antoniovicente opened #9539 "[benchmark] //test/extensions/filters/listener/tls_inspector:tls_inspector_benchmark crashes"
*Description*:
The benchmark for tls_inspector does not run successfully.

*Repro steps*:
$ bazel run -c opt //test/extensions/filters/listener/tls_inspector:tls_inspector_benchmark

Running /usr/local/google/home/avd/.cache/bazel/_bazel_avd/1e20bf3ad6fa0170c07bc768f0392847/execroot/envoy/bazel-out/k8-opt/bin/test/extensions/filters/listener/tls_inspector/tls_inspector_benchmark
Run on (72 X 3700

[2020-01-02 23:24] #9143 closed

[2020-01-02 23:49] antoniovicente opened #9540 "[benchmark] ASSERT failure in //test/common/common/utility_speed_test"
*Description*:
//test/common/common/utility_speed_test fails due to ASSERT failure when run in debug mode.
Relevant code:
  interval_set.insert(-2, 23);
https://github.com/envoyproxy/envoy/blob/master/test/common/common/utility_speed_test.cc#L249

-2 as a size_t which is an unsigned type is larger than 23.

*Repro steps*:
$ bazel run //test/common/common:utility_speed_test

*Logs*:
BM_RemoveTokens

[2020-01-02 23:55] antoniovicente opened #9541 "[benchmark] ASSERT failure in //test/extensions/filters/network/redis_proxy:command_split_speed_test_test"
*Description*:
The redis_proxy:command_split_speed_test_test benchmark hits an ASSERT in extensions/filters/network/common/redis/codec.h when run in debug mode.

*Repro steps*:
bazel run -c dbg //test/extensions/filters/network/redis_proxy:command_split_speed_test

*Logs*:
BM_Split_Copy/64/131072                594388 ns       594386 ns         1124
BM_Split_Copy/100/131072               675364 ns

[2020-01-03 00:23] antoniovicente commented on #9541
@HenryYYang

[2020-01-03 00:24] #9141 closed

[2020-01-03 01:24] #9137 closed

[2020-01-03 07:24] #8410 closed

[2020-01-03 09:59] #8120 closed

[2020-01-03 11:30] marrrcin commented on #5998
+1
What is the current status?

[2020-01-03 14:57] a-sharma11 commented on #7624
Any updates here @rossdylan

[2020-01-03 15:02] #8764 closed

[2020-01-03 15:24] mattklein123 commented on #9532
@zyfjeff this sounds reasonable to me as long as we don't break anyone's existing code. cc @htuch @lizan for comment on this as they are more familiar.

[2020-01-03 15:58] mattklein123 commented on #2763
I think the default behavior is likely to be the same as it is today (fully open), but we will allow for real listener configuration including the RBAC filter, etc. so that certain endpoints can be blocked. It's possible that eventually we would change the default posture but I'm not sure this would happen in the initial version.

[2020-01-03 16:21] htuch opened #9550 "Developer docs for v3 package layout and annotations"
We need to document in STYLE.md the package layout in v3, as well as the new UDPA migration annotations for devs.

[2020-01-03 16:21] htuch commented on #9550
See https://github.com/envoyproxy/envoy/pull/9549

[2020-01-03 16:48] ofek commented on #2763
Excellent, thanks!

[2020-01-03 17:37] slomo commented on #7171
Looking into the latest doc (for 1.13.0-dev) the documentation hasn't been updated. The code also looks like the behaviour hasn't changed and I just ran into this when configuring a new setup with 1.12.2.

[2020-01-03 17:47] justincely opened #9552 "num_retries of 0 still attempts a retry"
*Title*: `num_retries` set to 0 in the `retry_policy` still attempts a retry after a failure.

*Description*:
The only way to completely stop retries seems to be to completely remove the `retry_policy` from the config.  This seems counter intuitive, since I would expect that setting the `num_retries` to 0 would stop the server from doing a retry.  None of the docs seem to indicate this caveat that

[2020-01-03 18:00] slomo opened #9553 "Allow http health checks on https upstreams"
*Title*: *Allow http health checks on https upstreams*

*Description*:

My use case is a cluster that offers (for legacy reasons) health checks via http on a different port than the content which is offered as https. The [documentation](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/health_checking#health-checking) states:

In this feature request I would like to propose

[2020-01-03 18:48] htuch commented on #8084
I have audited the remaining occurences of `[#next-major-version:..]` annotations. They occur in:
[code]
Most of these require structural changes that are not part of the automated cross-version support. Given the timeline of v3, I suggest we punt them to v4. If there are no objections, I will close this out in a few days.

[2020-01-03 18:50] kyessenov commented on #8933
@derekargueta I can take over the branch if you're OK. We just need to  provide empty protos for all filters.

[2020-01-03 20:37] htuch commented on #9532
I think there's two questions here:
1. What does the protobuf wire representation look like?
2. How does Envoy store this internally?

I think any change to (1) would be breaking, so I don't think we can do this within a major version without a deprecation dance. Also, I am hesitant to allow protobuf implementation details guide decisions here, as this is not stable.

For (2), I think we can move

[2020-01-03 22:00] mattklein123 commented on #8084
@htuch sgtm to close this.

[2020-01-04 00:26] derekargueta commented on #8933
@kyessenov yes feel free, I'm currently trying to fix clang-tidy, and have another internal request to implement 😓

[2020-01-04 07:37] Jefle2005 opened #9559 "envoy does not respect the reason phrase for http1.1 call."
*Title*: *envoy does not respect the reason phrase for http1.1 call. *

*Description*:
for http1.1 call, we customized the reason phrase, e.g. 403 = invalid requestorid, instead of forbidden. but when we use envoy, we found such reason phrase is not treated correctly, which is working well in nginx.

on application itself, the curl result to localhost looks like below.
< HTTP/1.1 403 Invalid Reque

[2020-01-04 11:10] zyfjeff commented on #9532
This way of using Any to nest a Struct internally reduces the memory footprint and the code changes are small, but it still takes up a lot of memory space.

[code]

Output:

[code]

[2020-01-04 11:29] zyfjeff commented on #9532
I share @htuch's view that metadata can be stored in a more efficient way, and I'll follow up on that. The main work includes the following two points:

- [ ] Optimize the empty value for existing metadata
- [ ] Add a new field, use a simple key-value map to store metadata, and deprecated the old field

@lizan What do you think?

[2020-01-04 13:18] zyfjeff commented on #9532
Now our host metadata using the Struct way, this way is so flexible, users can configure any type, but right now we're actually subset is simple as a `google::protobuf::Value`, does not understand its actual content, at present only a subset of [list_as_any](https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/cds.proto#L314) will understand the List type. Do we need to add a new field

[2020-01-04 15:18] jmarantz opened #9560 "ENVOY_LOG(warn, ...) vs -l warning inconsistency"
In our C++ code we issue warnings by using the `warn` warg to` ENVOY_LOG*` macros.

But when specifying the loglevel we say `-l warning`, and there is no sanity-check for a reasonable `-l foo` arg.

We should make these consistent (at least allowing `-l warn`) and also issue a startup error if you give a bogus argument to `-l`.

[2020-01-04 19:33] jmuia commented on #9392
I think it's good to merge into #9215.

The only requirement here is that there needs to be a separate stat for requests overflow and for pending requests overflow.  Since the HTTP/1 connection pool already has this, I suspect when the work in #9125 is done the HTTP/2 connection pool will also have it.

Thanks!

[2020-01-05 00:33] #9168 closed

[2020-01-05 00:44] htuch commented on #9532
@zuercher can probably chime in on how subset LB has made use of host metadata.

[2020-01-05 00:44] #8084 closed

[2020-01-05 01:33] #9161 closed

[2020-01-05 04:33] #8639 closed

[2020-01-05 06:38] jpeach commented on #9182
Not stale, see related PRs.

[2020-01-05 17:11] mattklein123 commented on #9552
I haven't looked at the code to see the exact issue but we should fix this. cc @snowp

[2020-01-05 17:12] mattklein123 commented on #9553
There have been various proposals in this area recently, though I haven't tracked all of them. cc @snowp @lizan for further comment.

[2020-01-05 17:17] mattklein123 commented on #9559
Right now we don't proxy the HTTP/1.1 reason phrase. TBH this will be very complicated to do and does not translate to HTTP/1 -> HTTP/2 proxying. If this is an important thing to solve it will require a bunch of thinking on how to do this without requiring major changes.

[2020-01-05 17:19] mattklein123 commented on #9560
Agreed we should make this better.

[2020-01-05 17:33] #9126 closed

[2020-01-05 18:26] mattklein123 opened #9562 "ExtAuthzGrpcIntegrationTest flake"
[code]

[2020-01-05 18:27] mattklein123 commented on #9562
cc @dio

[2020-01-06 01:14] #9162 closed

[2020-01-06 02:24] dsymonds commented on #8614
I was bitten by this over the Christmas break. We have an Envoy setup with SDS and some monitoring that watches days_until_first_cert_expiring to alert us if it accidentally gets too low. Our certs actually did get automatically rotated, but the Envoy instances held onto the old certs too long, kept the days_until_first_cert_expiring metric dropping, and triggering our alert.

(Normally our CD sys

[2020-01-06 03:45] #8082 closed

[2020-01-06 04:00] htuch opened #9567 "API boosting via clang-tidy"
To prevent regression from latest API version, we should regularly run the API booster. If we can transform it to be a standard clang-tidy plugin, we can make this part of the CI clang-tidy phase.

[2020-01-06 04:01] mattklein123 commented on #5558
I think this is done.

[2020-01-06 04:01] #5558 closed

[2020-01-06 04:05] mattklein123 opened #9568 "Reorganize tools directory"
https://github.com/envoyproxy/envoy/tree/master/tools

Is getting a little out of control. We should reorganize this directory so that it is more cleanly split into directories of related things. For example, all of the check format scripts, API boosting tooling, etc.

[2020-01-06 04:40] prakhag1 commented on #9531
@snowp raised a PR for your review.

[2020-01-06 07:59] metalLeveller commented on #9127
@wbpcode thanks for your suggestion, but I got the next details:

[code]
I see only one IP in x-forwarded-for for the same config, but I've updated version of envoy to envoy:v1.12.2

[2020-01-06 11:17] wbpcode commented on #9127
From the logs you provided, there are only two possibilities. First, the client connects directly to envoy, and there is no intermediate proxy. Second, the intermediate proxy exists, but it does not add the client IP to x-forwarded-for.

If you just want to test function of envoy, you can just create a fake request with fake x-forwarded-for and observe the log and IP you get.

[2020-01-06 12:59] goith commented on #9528
i  changes some description.  and  the problem is clear: the front-envoy config is destoryed after updating by xDs.  @mattklein123

[2020-01-06 14:49] wrowe opened #9571 "Review support of AF_UNIX sockets on the Windows port"
Windows introduced AF_UNIX domain socket support to the winsock API with the Insider Build 17063 which dropped in Dec '17. This should now be available mainstream on most deployed Server 2019, although this needs to be validated.

https://devblogs.microsoft.com/commandline/af_unix-comes-to-windows/

In porting this support, Envoy should gracefully degrade where the afunix.sys driver is not install

[2020-01-06 14:50] alyssawilk commented on #9230
Yeah.  Internally I _think_ we have two modes of shut-off.  One for "we would like to turn QUIC off gracefully" which stops reading and sends public resets to active sessions (a few per event loop), and the "UDP is deemed dangerous" which just stops all UDP traffic.
Either way all clients should always fail over to TCP because you can never trust UDP on the internet, so even with silent shut-off i

[2020-01-06 15:18] wrowe commented on #8351
The associated PR was closed Stale;

https://github.com/envoyproxy/envoy/pull/8754

This remains an open issue, given this set of bazel elections;
build --features=fully_static_link
build --features=static_link_msvcrt
build --dynamic_mode=off

It doesn't seem we should have to force-override the linkstatic option to the boringssl component, as illustrated in the PR, but we do on Windows. This woul

[2020-01-06 18:22] htuch opened #9573 "CI check for fuzz coverage"
Similar to what we have today for test coverage, a separate job that measures fuzz coverage and prevents check-in when we drop below a certain level will incentivize more fuzzing work done across the developer community. We could narrow this to just extensions and data plane, or make it proxy wide. It won't start as 98%, but even if only 30%, it would provide a useful measure for how we are fairin

[2020-01-06 18:51] auni53 commented on #9369
Writing up a design doc to explain this better, will post a new issue.

[2020-01-06 18:51] #9369 closed

[2020-01-06 19:03] moderation commented on #9485
Looking at the alerts Semmle is generating for Python it looks like it is defaulting to Python 2. `glob.glob` doesn't support `Recursive` in Python 2 ([doco](https://docs.python.org/2/library/glob.html#glob.glob)) but it is supported in Python 3 ([doco](https://docs.python.org/3/library/glob.html?highlight=glob#glob.glob)).

I think it is being misidentified as Python 2 as there are commits that p

[2020-01-06 19:40] htuch commented on #3091
We should also make use of the resource type annotations in https://github.com/envoyproxy/envoy/pull/9566 here.

[2020-01-06 20:16] mpuncel opened #9575 "proportional reconnect to new host for random load balanced xDS"
*Title*: *proportional reconnect to new host for random load balanced xDS*

*Description*:
When using random load balancing for the xDS cluster, new hosts entering the pool will sit idle until clients reconnect. It'd be a neat feature if each xDS client noticed the new host being added (or going healthy if health checks are used) and did a 1/N "dice roll" to decide whether to reconnect to the new

[2020-01-06 22:58] #9454 closed

[2020-01-06 23:00] jsbucy opened #9577 "STARTTLS support"
**Issue Template**

*Title*: support for protocols that do in-band TLS upgrade (e.g. smtp)

*Description*:
Spinoff from #9133 are there other protocols besides SMTP that are interesting for Envoy that need support for upgrading from cleartext to TLS in-band i.e. STARTTLS? POP and IMAP can work this way but also support tls-wrapped connections on a different port and it seems like most mail clients

[2020-01-07 00:06] mattklein123 commented on #9575
I think this is an interesting idea, though I wonder if this could be generalized to all load balancers. It's somewhat similar to the work that @nezdolik did to drain/close connections on topology changes. cc @snowp for comment also.

[2020-01-07 03:05] htuch commented on #8121
This was completed in #9515 and #9555.

[2020-01-07 03:05] #8121 closed

[2020-01-07 04:03] htuch commented on #9485
@moderation sounds good. I think the results from Python won't be very interesting at all, as these are just developer tools, but if we can setup a dedicated LGTM YAML and start to move it towards something we can be doing C++ analysis with, it'd be useful for sure.

[2020-01-07 04:52] htuch opened #9580 "Add checks to avoid regressing to v2 layout in v3"
Post #9555 and #9515, we have a new directory layout for v3alpha. However, it's easy to accidentally have a v2 proto addition be reflected to v3alpha with the v2 structure, since we require explicit proto migration annotations to achieve the new layout.

We should add some checks to ensure that any new v2 proto either has a migration annotation for v3 or has a matching v2/v3 layout. This will larg

[2020-01-07 13:22] #9448 closed

[2020-01-07 13:26] jmarantz opened #9583 "flake in test/extensions/common/redis:cluster_refresh_manager_test"
[code]

[2020-01-07 16:22] mattklein123 commented on #9583
@HenryYYang @FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg PTAL

[2020-01-07 16:35] #8727 closed

[2020-01-07 17:56] FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg commented on #9583
Josh, I cannot run that command successfully on my OSX laptop. Is there anything special I should be doing?

Also, when I looked up the error I got, it was indicated in some places it could be a bazel version issue. What version of bazel are you using? I say that, because on my latest pull from master for Envoy I found I needed to upgrade to bazel v2 from v1.2 IIRC.

Here's the output of running t

[2020-01-07 18:00] repl-david-winiarski commented on #7753
I worked a bit on the integration test that @alyssawilk wrote and I couldn't get the issue to reproduce either. I also tried using a different set of filter but that also didn't work. The only way I could recreate it was to change makeHeaderOnlyRequest to makeRequestWithBody with an empty body. Unfortunately when I ported this modified test back to v1.10 it produced the same result which was unexp

[2020-01-07 18:14] #9508 closed

[2020-01-07 19:45] kyessenov opened #9587 "allow loading extensions by type URL"
Currently, all filter configs use "name" to lookup an extension. We would like to use "name" for other purposes (e.g. a key in xDS just like all other resources). For that to happen, we would like to be able to load an extension using the config type URL, with a few caveats:
- deprecated Struct not supported (require TypedStruct)
- deprecated google.protobuf.Empty configs are not supported

In cas

[2020-01-07 19:45] kyessenov opened #9588 "allow loading extensions by type URL"
Currently, all filter configs use "name" to lookup an extension. We would like to use "name" for other purposes (e.g. a key in xDS just like all other resources). For that to happen, we would like to be able to load an extension using the config type URL, with a few caveats:
- deprecated Struct not supported (require TypedStruct)
- deprecated google.protobuf.Empty configs are not supported

In cas

[2020-01-07 20:08] dlop4life opened #9590 "Shadow Mirroring to service not working as intended"
So I am rather new to Envoy, so forgive me. But my team is attempting to mirror requests from multiple services, and split the traffic to a Kafka service we have running, as part of a POC for a larger project. As it currently stands this is not working and I would like to ask for some assistance. Below I'll have our front facing Envoy. We have attempted mirroring and in some places have gotten mir

[2020-01-07 22:31] mattklein123 opened #9593 "Rewrite HeaderMap using type safe absl classes"
From a side conversation with @htuch I think that with a combination of:
1) https://github.com/abseil/abseil-cpp/blob/master/absl/types/variant.h
2) https://github.com/abseil/abseil-cpp/blob/master/absl/container/inlined_vector.h

We can almost identically replicate the current behavior with little/no performance delta, and in the process remove all of the manual memory management. I don't think t

[2020-01-07 22:31] mattklein123 commented on #9593
cc @asraa @jmarantz

[2020-01-07 23:30] #9115 closed

[2020-01-07 23:52] zuercher commented on #9532
You're correct that the subset LB only handles values that are simple types or lists of simple types. From that load balancer's point of view the metadata could be stored more efficiently.

Endpoint metadata can be emitted in access logs, which renders structs in the metadata as JSON objects. Further, extensions may use data stored under other namespaces besides the standard "envoy.lb".

Finally,

[2020-01-08 00:08] zuercher opened #9594 "tools: ability to exclude file regions from spell checking"
Would be nice to have some mechanism to disable spell checking on some region of a file. Something like:

[code]

(It's tempting to stuff this into a NOLINT-style comment. Not sure how that interacts with clang-tidy, for which NOLINT/NOLINTNEXTLINE apply only to single lines.)

N.B. https://github.com/envoyproxy/envoy/pull/9424#discussion_r360568010

[2020-01-08 00:24] zuercher commented on #9483
"gateway-error" is a subset of "5xx". Currently, if "gateway-error" or "5xx" is set, upstream resets are retried. There is a comment in the code indicating this may change in the future. So to be future-proof, set "5xx,reset".

[2020-01-08 00:34] jrajahalme opened #9595 "source address bind errors fail all upstream retries"
When upstream connections are used with a specified source address/port, and the upstream request fails, e.g., due to a timeout, it may happen that all retry attempts fail on a bind error. This is due to the new connections trying to bind to the same source address, while the address/port is apparently still in use even though the logs indicate the deferred deletion has been done before the new bi

[2020-01-08 00:38] zuercher commented on #9588
Closing as duplicate of #9587.

[2020-01-08 00:38] #9588 closed

[2020-01-08 01:48] cgilmour commented on #9076
I think this would either not be affected by #7624, or would be affected equally compared to other tracers.

I've implemented this locally, and since it's affecting the common OpenTracingDriver, would appreciate a second opinion on the approach.

At the moment, the opentracing API doesn't have a way of asking the tracer if a span / spancontext represents a trace with a sampling decision. This coul

[2020-01-08 01:48] zyfjeff commented on #9532
@zuercher thanks，I just want to replace the metadata in the endpoint, and I don't intend to change the metadata used elsewhere.

[2020-01-08 01:51] #9083 closed

[2020-01-08 02:40] htuch commented on #8137
Fixed in https://github.com/envoyproxy/envoy/pull/9526

[2020-01-08 02:40] #8137 closed

[2020-01-08 02:41] htuch commented on #8136
Fixed in https://github.com/envoyproxy/envoy/pull/9526

[2020-01-08 02:41] #8136 closed

[2020-01-08 02:41] htuch commented on #8421
Fixed in https://github.com/envoyproxy/envoy/pull/9526

[2020-01-08 03:40] CalbeeMing0530 commented on #9106
I have the same error message, anyone can solve this problem?

enviroment:
1. ubuntu 16.04
2. clang+llvm-9.0.0
3. Bazel: 2.0.0
4. go 1.13.5
5. envoy latest

Trying to build below envoy release with bazel below:
`bazel build //source/exe:envoy-static`

`ERROR: /home/puming/envoy/source/common/config/BUILD:134:1: C++ compilation of rule '//source/common/config:grpc_mux_lib' failed (Exit 1) clang fai

[2020-01-08 04:29] htuch commented on #9532
@zyfjeff you should aim to preserve both the API wire format (so, still structs in `endpoint` for v2) and also the output format, i.e. the same JSON format.

[2020-01-08 04:42] ramaraochavali commented on #9269
not stale. Will work in coming weeks

[2020-01-08 06:40] gengleilei commented on #8400
@kyessenov Refer to your definition of EGDS, I have some different ideas, I hope to communicate with you, as follows:

I think there will only be one EGDS configuration in a cluster, and multiple EndpointGroup resources can be requested through one EGDS, so define endpoint_group_name as repeated, and remove the repeated definition of endpoint_groups.

[2020-01-08 12:05] miracle-jia commented on #8199
Does anyone know how to reproduce the issue? we met the issue, too.

[2020-01-08 14:48] alexandru-ersenie opened #9601 "TCP Proxying not working when using EDS dynamic configuration"
*Title*: *TCP Proxying in combination with EDS not working - no healthy host for TCP connection pool*

*Description*:
I am trying to configure envoy to use EDS, by externalizing the endpoint configuration. The purpose of envoy here is to forward TCP packages. Whenever i try to connect to the envoy server, on the configured listener: localhost:9080, i get an unhealthy upstream response, and the mes

[2020-01-08 15:04] scranen opened #9603 "Content-length header corrupted by ext_authz"
*Description*:
When using ext_authz, requests that specify a content length result in a corrupted content-length header being sent to the authentication application. This seems ~like it is a regression from~ related to #3865. The corruption seems to be due to this line:
https://github.com/envoyproxy/envoy/blob/58e733bfbd0a26e3c86b5de3e6b3a7de436e5269/source/extensions/filters/common/ext_authz/ext_

[2020-01-08 15:10] dio commented on #9603
@scranen thanks for reporting. Sorry, to clarify, could paste here the envoy version? Thanks!

[2020-01-08 15:20] scranen commented on #9603
Yes, sorry, thought about that and then forgot. We're using 1.12.1

[2020-01-08 15:43] scranen commented on #9603
For other readers of this ticket: the workaround is to configure the ext_authz configuration's `http_service.authorization_request.allowed_headers` property to `{patterns: [ { regex: 'ˆ(?!content-length$).*' } ]}`.

[2020-01-08 15:51] htuch opened #9604 "Mismatch of DiscoveryRequest message and transport API version"
A blocking issue for https://github.com/envoyproxy/envoy/pull/9301 is that we're using the v3alpha `DiscoveryRequest` message for REST subscriptions. This is broken, since we're placing deprecated fields on the wire in #9301 (which introduces the first v2 vs. v3 distinction in the transport protocol).

We should scrub `envoy_hidden_` fields prior to sending out both gRPC and REST subscriptions dis

[2020-01-08 15:57] htuch commented on #9604
CC @yanavlasov

[2020-01-08 16:07] htuch opened #9605 "stats_integration_test is failing on Mac"
E.g. see https://dev.azure.com/cncf/envoy/_build/results?buildId=26093&view=logs&j=a5e52b91-c83f-5429-4a68-c246fc63a4f7&t=5852bf5a-5a02-52f3-bee8-4fdc90cda9d0&l=43917

[2020-01-08 16:21] jmarantz commented on #9605
I'm guessing this is a merge-issue from https://github.com/envoyproxy/envoy/pull/9069

[2020-01-08 16:29] jmarantz commented on #9605
In any case this will be fixed when https://github.com/envoyproxy/envoy/pull/9564 merges.

As @mattklein123 seemed OK with the general strategy in that PR and I think I have now successfully delivered on his comment, I'd rather not fix this separately as that would just cause another merge conflict for #9564.

[2020-01-08 17:18] htuch commented on #8933
Fixed in #9581

[2020-01-08 17:18] #8933 closed

[2020-01-08 18:10] lcabancla opened #9606 "Feature: Queue manager for circuit breaker queue"
Currently, circuit breakers enqueue pending requests. A queue manager can be added to manage this queue. For example, algorithms like Adaptive LIFO with CoDel (see links below) have been shown to work well in large systems.

A possible configuration is below.

[code]

Links:
[Adaptive LIFO with Codel ACM talk (video)](https://queue.acm.org/detail.cfm?id=2839461)
[Summary of talk](https://blog.acol

[2020-01-08 18:26] #8909 closed

[2020-01-08 18:45] LK4D4 commented on #9106
@CalbeeMing0530 You could try
[code]
To build against libc++ which is probably shipped with clang. By default `build` builds against libstdc++ from GCC, so GCC upgrade should help as well. As you can see from logs - your gcc version is `5.4.0`.

[2020-01-08 18:48] kyessenov commented on #8400
@gengleilei I think it might be valuable to compose multiple EGDS config sources for a single cluster. I was thinking of some multi-cluster use-case with distinct control planes.

[2020-01-08 19:26] #9118 closed

[2020-01-08 20:04] #8332 closed

[2020-01-08 20:16] mattklein123 commented on #9076
Yup SGTM.

[2020-01-08 20:18] mattklein123 commented on #9595
@jrajahalme I don't have any great ideas on how to fix this. What do you propose? Some kind of fast failure?

[2020-01-08 20:22] mattklein123 commented on #9606
cc @tonya11en who I have discussed this with.

[2020-01-08 20:46] tonya11en commented on #9606
@lcabancla there's been talk here at Lyft on analysis of different queuing disciplines, but it was put on the back-burner because the latencies we're concerned with aren't caused by bufferbloat. I'm personally really interested in this, so if you'll be submitting any PRs or design documents, I'd love to be involved.

Have you instrumented your mesh to see how long requests have spent in the pendin

[2020-01-08 21:08] lcabancla commented on #9606
@tonya11en No we haven't as our company is still in the process of migrating to Envoy. Let me discuss this with my team and see if it something that we can pick up.

[2020-01-08 21:45] #9580 closed

[2020-01-08 21:47] kyessenov opened #9610 "tools: tools/proto_format.sh fix deletes files"
Minor annoyance but I got bitten multiple times: when adding a new config proto, proto_format will delete it unless it's mentioned in api/docs/BUILD.

[2020-01-08 21:56] jplevyak opened #9611 "Generalize and Standardize Wasm cross-Worker Shared Data (KV) and Shared Queues for general Envoy use."
Envoy Wasm has mechanism for sharing data and queuing between threads/workers.  These facilities are of general use and should be standardized and made available for general Envoy usage.

[optional *Relevant Links*:]
https://docs.google.com/document/d/1YPbxuEIPwKsW4Ft73diHRBTUNbYIlrQHNnS9dXdn778/edit?usp=sharing
https://github.com/envoyproxy/envoy-wasm/blob/master/source/extensions/common/wasm/con

[2020-01-08 22:12] htuch opened #9612 "Track original type URL in upgraded protos"
When we upgrade protos during config ingestion, we throw away the original type information. When providing debug representations or trying to recover things like runtime key, this is problematic. We should smuggle in the original type URL in an unknown field and provide some utils in `ApiTypeOracle` to recover the original message.

This is blocking https://github.com/envoyproxy/envoy/pull/9591#i

[2020-01-08 22:29] kyessenov commented on #9612
Is this for something beyond previous_message_type annotation? Or is this about runtime behavior of maintaining a record that config was converted?

[2020-01-08 22:34] htuch commented on #9612
@kyessenov the latter, we want to know whether it was v2 or v3alpha on the wire, regardless of the message descriptor history.

[2020-01-08 23:06] mabukhovsky commented on #9118
help wanted

[2020-01-08 23:08] cetanu commented on #8412
👋 I have some time to collaborate on this now that the holiday season has passed

[2020-01-08 23:13] mabukhovsky opened #9614 "Dynamic forward proxy: "Proto constraint validation failed (FilterConfigValidationError.DnsCacheConfig: ["value is required"])""
*Dynamic forward proxy config validation failure*: *Proto constraint validation failed (FilterConfigValidationError.DnsCacheConfig: ["value is required"])*

*Description*:
Hi, I'm trying to create dynamic forward proxy using your **latest master code** that have introduced
auto_host_rewrite_header for envoy.filters.http.dynamic_forward_proxy. It is supposed to do forwarding to the domain/port defi

[2020-01-08 23:26] #9160 closed

[2020-01-09 02:08] Shikugawa opened #9617 "xDS: API version fallback"
*Title*: *xDS: API version fallback*

I think that API version fallback is needed if envoy specified API version differ from that of Control Plane.
My planning of implementation is that

1. request to management server with specified xDS version. (that can be extracted from `typeUrl` so It is not needed to add additional field on `DiscoveryRequest`)
2. Management server respond with supporting API

[2020-01-09 03:47] htuch commented on #9610
This is WAI, it's supposed to be removing files that are not linked in. I think we need better documentation, and that's on my TODO list.

[2020-01-09 03:48] htuch commented on #9610
CC @lizan

[2020-01-09 03:49] htuch commented on #9617
@Shikugawa the original thinking was that Envoy would attempt to connect to a v3 endpoint (which is a distinct URL), and if that fails, it will attempt to connect to a v2 endpoint. You're describing an in-band fallback, which is a bit different.

[2020-01-09 03:51] htuch opened #9619 "Scrub v3-only fields from v2 DiscoveryRequests"
As a followup to https://github.com/envoyproxy/envoy/issues/9604, the 1.13.0 fix did not include support for scrubbing v3 fields in `DiscoveryRequest` when the transport protocol was v2. This was due to the fact that this was a no-op at the time. Prior to adding new v3 fields, we should add this support.

[2020-01-09 04:16] markmandel commented on #579
I'm taking a stab at this - mostly as a way to learn my way around Envoy's codebase.

First pass is getting a Doxyfile working, so that if you have doxygen installed locally - you can gen some documentation. Long term would like this to be a ci target.

I will probably need some help making sure I've included everything in the documentation as well. Will keep you all up to date with how I go.

[2020-01-09 04:17] gengleilei commented on #8400
@kyessenov yes, It makes sense in some multi-cluster use-case with distinct control planes.

[2020-01-09 04:31] mattklein123 commented on #9614
Please stop opening the same issue multiple times. This is a dup of your question in: https://github.com/envoyproxy/envoy/issues/9461

[2020-01-09 04:31] #9614 closed

[2020-01-09 04:32] mattklein123 opened #9622 "docs: split up configuration overview page into multiple pages"
https://www.envoyproxy.io/docs/envoy/latest/configuration/overview/v2_overview

[2020-01-09 04:33] mattklein123 commented on #9622
cc @kyessenov in case you feel like tackling this as part of https://github.com/envoyproxy/envoy/pull/9618

[2020-01-09 04:34] #9605 closed

[2020-01-09 04:54] derekargueta opened #9623 "replace fmt::format with abseil"
Abseil has all the string processing functionality we need, this would allow us to remove a dependency.

[2020-01-09 04:58] mattklein123 commented on #9623
@derekargueta I would discuss with @jpeach who was also looking into this. FWIW unless we have a plan to replace it also in logging (it is baked into spdlog pretty heavily) I don't see a huge amount of value in the churn here. If we can replace it everywhere that would be nice.

[2020-01-09 05:05] derekargueta commented on #9623
Yeah the idea for this was actually from a slack message @jpeach posted a while ago in #envoy-dev. I'll copy the transcript here:
***jpeach 11:15 PM***
Why does envoy use fmt::format() rather than absl::Substitute? It looks like the use cases are similar and the fmt dependency could be dropped if this change was made.
***lizan 12:01 AM***
mostly due to historical reasons, fmt exists before we intr

[2020-01-09 05:36] jpeach commented on #9623
There's clang tooling to do this here: https://github.com/jpeach/rewrite-fmt-format.
Previous discussion in https://github.com/envoyproxy/envoy/pull/8963

There are a very few places (maybe 5) that use fmt formatting specifiers other than "{}". These need to be done by hand. There are also a couple of cases where the format string isn't a literal, which also need to be done by hand.

[2020-01-09 05:48] budanm opened #9624 "[Query]: Human readability of envoy proxy errors"
I have set up a simple envoy [ads](https://github.com/budanm/Envoy-ADS-Server-Sample) to simulate the possible error scenarios which can occur in any of the components of the snapshot. There is a simple xds callback implementation associated with it which basically handles and monitors the request-response cycle of envoy and also logs the errors if any.

To simulate one simple error, I changed the

[2020-01-09 06:26] zyfjeff commented on #9532
@htuch The wire format unchanged, it seems that the difficulty, we can add an `EndpointMetadata` field, use this field to implement the subset, access log, etc., the original Metadata fields related implementation remains unchanged, set to deprecated.

[2020-01-09 07:14] CalbeeMing0530 commented on #9106
@LK4D4 thks! It works!  In addition，GCC not upgrade：）

[2020-01-09 08:02] #9278 closed

[2020-01-09 11:02] zyfjeff opened #9630 "BUILD: error: In the GNU C Library, "major" is defined"
**Issue Template**

*Title*: *error: In the GNU C Library, "major" is defined*

*Description*:

[code]

[code]

https://github.com/protocolbuffers/protobuf/issues/4654
https://github.com/Zilliqa/Zilliqa/issues/863

[2020-01-09 14:21] asraa commented on #9593
Oh, variant is very cool. I'm assuming inline vector is meant to by a replacement for the `std::list` structure in `HeaderList`?

Happy to start with a PR for using variant in `HeaderString` next week.

[2020-01-09 14:42] alyssawilk opened #9634 "fixups to deprecation tooling"
tools/deprecate_features/deprecate_features.py did old style v2 fatal-by-default annotation

We need a new script that takes protos tagged as deprecated and annotates them as disallowed by default.
Should be fairly simple with protox, though ideally we might want to only tag things which have been in the code base more than N months to avoid the issue where something is deprecated just before rele

[2020-01-09 14:52] TuvaevAndrey commented on #9396
Guys?

[2020-01-09 15:10] alyssawilk commented on #9634
oh, and it'll have to auto-import the deprecation proto and add it to the build package too

[2020-01-09 15:16] stevenzzzz opened #9635 "use the correct message validator for xds in router/..."
*Title*:  Use dynamic validator for SRDS/RDS/VHDS

*Description*:

*Repro steps*:

[2020-01-09 15:17] stevenzzzz commented on #9635
/assign stevenzzzz

[2020-01-09 18:01] htuch commented on #9532
@zyfjeff it's still unclear to me the motivation for the change. There are two things going on:
1. We want a better data model for endpoint metadata, maybe.
2. We want a more efficient in-memory data structure.

You can fix (2) without (1) for the common case where metadata is just a simple key:value string map. For (1), have we surveyed all uses of endpoint metadata? I know that metadata is used

[2020-01-09 18:04] alyssawilk commented on #9274
@yanavlasov this went stale over the break.   is this something you think you can pick up in January, or should I snag it?

[2020-01-09 18:57] htuch commented on #9634
I'll take a look at this as we cut 1.13.0, thanks.

[2020-01-09 20:00] mattklein123 commented on #9593
Sorry what I meant is to replace:

https://github.com/envoyproxy/envoy/blob/8057eed8aceaecc29a28fe1cc3818b67cba32585/include/envoy/http/header_map.h#L194-L206

With essentially `absl::variant<absl::string_view, absl::inlined_vector<char, 128>>`.

I think if we do this (roughly) we get rid of all of the manual memory management, the code will get a ton simpler, and we will have essentially the same

[2020-01-09 20:07] mattklein123 commented on #7915
cc @antoniovicente. Here is the issue we can use to describe the policy updates we have been discussing.

[2020-01-09 21:08] jaricftw opened #9638 "Envoy hot-restart doesn't respect `drain-time-s` and `parent-shutdown-time-s`"
*Title*: Envoy hot restart takes longer than what's specified in `drain-time-s` and `parent-shutdown-time-s`.

*Description*:
We are using the Envoy hot restart feature in production, and noticed a change of behavior in the recent release of Envoy. To be exact, I narrow it down to v1.12.0: https://www.envoyproxy.io/docs/envoy/v1.12.0/intro/version_history.

**TLDR**: before V1.12.0, starting a new

[2020-01-09 22:47] junr03 opened #9639 "protobuf: the linker drops symbols under certain circumstances"
*Description*:
With the v2 -> v3 api migration in Envoy there is a linking issue related to this [one](https://github.com/google/protobuf/issues/4221). Which as noted in #9191 still appears in some circumstances, and thus protobuf_link_hacks.h is still needed.

Symbols for v2 protos which headers are not included in any file in the codebase are being dropped by the linker in some circumstances (e.

[2020-01-09 23:31] kyessenov commented on #9587
One interesting discovery is that per-filter overrides in routes and cluster (protocol options) still use the factory name to lookup. I wonder if it's better to associate overrides with a type URL vs a specific extension. That can help with being able to upgrade the overrides.

[2020-01-09 23:49] kyessenov opened #9640 "xds: typed_struct doesn't work for upstream network filters"
Upstream filter factory appears to unpack typed_config directly into empty config proto (see https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/upstream_impl.cc#L776). What should happen is that the config needs to be converted first.

[2020-01-10 00:15] jrajahalme commented on #9595
@mattklein123 I guess make sure the old socket is closed before retrying an upstream connection to allow bind to the same source address and port? If this is already done, then maybe SO_REUSEADDR on the socket would help?

[2020-01-10 00:39] #9552 closed

[2020-01-10 01:13] kyessenov opened #9643 "deprecate google.protobuf.Struct as the configuration type"
Raised in https://github.com/envoyproxy/envoy/pull/9618.

We would like to prohibit the use of Struct as the configuration type for a filter for the same reason that Empty is not allowed. Each filter needs to version its configuration proto to enable conversion and backwards compatibility.

[2020-01-10 01:38] cetanu opened #9644 "Envoy logs `%ROUTE_NAME%` correctly, but also sets `%RESPONSE_FLAGS%` to `NR` and returns 503??"
We are running envoy as a multi-tenanted edge proxy, which is self-service. One of our customers configured some routes and found that one in particular returned a HTTP 503.

We have analyzed the route which was about as simple as:

[code]

We verified that the cluster name was valid, and deployed a similar route to another service of ours to make sure there was nothing wrong with the prefix match

[2020-01-10 02:53] zyfjeff commented on #9638
/assign @zyfjeff

[2020-01-10 02:59] cdimascio opened #9646 "websocket upgrade via xDS grpc does not work"
*Title*: *websocket upgrade via xDS grpc does not work*

Note that I filed the same bug to [go-control-plane](https://github.com/envoyproxy/go-control-plane/issues/258) - apologies for the dupe.

*Versions*

Envoy version:
[code]
go-control-plane version:
`github.com/envoyproxy/go-control-plane v0.9.1`

Operating system: Mac

*Description*:

`upgrade_configs: websocket` is not honored when provide

[2020-01-10 03:14] zyfjeff commented on #9638
My guess is that this PR #7571 was introduced. Before this PR, if you can't connect to the xDS server, it will drain up immediately. But after this PR is introduced, you will reconnect until timeout. So the total time is about 15 + parent-shutter-time-s.

https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/config_source.proto#envoy-api-field-core-configsource-initial-fetch-timeout

[2020-01-10 03:26] cdimascio commented on #9646
this is fixed in github.com/envoyproxy/go-control-plane v0.9.1

[2020-01-10 03:26] #9646 closed

[2020-01-10 04:04] mandarjog commented on #9587
WASM use case dictates that the override be associated with an instance not a type.

[2020-01-10 04:23] kyessenov commented on #9587
I think @mandarjog means that there may be multiple Wasm filters for the same route, so neither name-based nor config type URL-based key works.

[2020-01-10 04:57] snowp commented on #9644
NR is also set if the cluster wasn't known to the cluster manager, e.g. that `some-cluster` wasn't known to Envoy

[2020-01-10 05:41] jaricftw commented on #9638
@zyfjeff Yeah, that explained why it took `30s + parent-shutdown-time-s`.  The test I did was not connecting to the xDS server.  That in theory shouldn't be block the hot-restart of Envoy, so we probably need a proper fix.

[2020-01-10 05:56] zyfjeff commented on #9638
@jaricftw No, Envoy's hot restart is dependent on the xDS server, always has been, and it's only because of init_fetch_timeout that the entire cycle is longer. We can modify init_fetch_timeout to shorten this time.

[2020-01-10 06:55] jaricftw commented on #9638
@zyfjeff something looks wrong here if that's the case: PR #7571 made the default from `0` to `15s`, and now as the [comment](https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/core/config_source.proto#L172) says:

  // timeout applies). The default is 15s.

That indicates, in the old behavior where default was `0`, Envoy will block indefinitely upon bootstrap --- hence blocking hot-

[2020-01-10 06:56] zyfjeff commented on #9638
@mattklein123 @ramaraochavali

At present, our initial-fetch-timeout parameter only controls the timeout time of a single resource subscription, which makes it difficult to calculate the initialization time of the entire envoy, which may cause the envoy initialization to take a lot of time in serious cases.

[2020-01-10 06:58] zyfjeff commented on #9638
@jaricftw If it is 0, there is no timeout control, so a failure to connect to xDS will cause the initialization to end.

[code]

[2020-01-10 07:13] jaricftw commented on #9638
@zyfjeff thanks for the explanation.

So iiuc, PR #7571 caused the following change of default behaviors:
1. if xDS is connected, block for 15s instead of indefinitely for a response
2. If xDS is not connected, block for 15s instead of abort initialization immediately

1 is a reasonable change, but 2 seems like an unexpected change?

It's not too bad since this is only an issue when xds is not con

[2020-01-10 07:52] kyessenov commented on #9643
Note: struct is used heavily in testing because sharing the config type would cause coverage build to fail (it combines all tests into a single binary leading to double registration). We would need to create a separate proto for each test factory.

[2020-01-10 08:06] ramaraochavali commented on #9638
PR #7571, waits for 15s for Envoy to initialize,  whether there is an initial connection problem or connection problem that happened after exchange of some messages, it does not matter.  So 1 and 2 described above fall in to the same category.

[2020-01-10 09:15] #9127 closed

[2020-01-10 09:16] #9201 closed

[2020-01-10 10:16] #9142 closed

[2020-01-10 11:55] htuch commented on #9640
@yanavlasov FYI re: `TypedStruct`

[2020-01-10 11:59] htuch commented on #9643
After reading through the thread on #9618, I think @mattklein123 and you raise a valid point about the use of non-unique config messages by non-Envoy shipped extensions. I think it might be hard to enforce a unique type given this, since it's possible other WKTs etc. might be used.

WDYT about adopting as our long term policy that we:
1. First look at type URL, if it's unique from a registration p

[2020-01-10 12:07] prakasa-tkpd commented on #4638
Still got this issue using

[code]

[2020-01-10 14:30] heimweh commented on #9436
Thanks @mattklein123, we tried disabling retries and the `RetryPolicy` is now gone from the configuration (for this service) but we're still seeing the increase in memory usage.
Is there anything else we can try, to debug this further?

Happy to share the Envoy heap profiles we performed, if that can help track this down 🙂

Thanks in advance! :pray:

[2020-01-10 15:03] lizan commented on #9436
Just double check, is this only happening in one of your multiple services? Is there anything the service different from others? Can you share the config/stats after you disabled retry policy?

[2020-01-10 15:08] lizan commented on #9610
Yeah I think I did that in to find unlinked protos (especially for those in v3alpha)

[2020-01-10 15:08] yanavlasov commented on #9640
@kyessenov did you mean converted from v2 to v3alpha?

[2020-01-10 15:22] heimweh commented on #9436
The memory usage seems stable on all other services actually (other services in the same namespace is using ~ 300mb). The only thing that is different with this service is that it's serving a bidirectional stream.

The config is huge since other services are there but happy to share the config for this service in particular if that helps? 🙂

For some reason, we have two identical virtual hosts def

[2020-01-10 15:36] lizan commented on #9436
@heimweh what's the traffic pattern of this service? Is the stream is long lived or not? Do you have some estimate how the memory is correlated to? e.g. increase with bytes or number of connections.

[2020-01-10 15:38] #9630 closed

[2020-01-10 15:50] kyessenov commented on #9640
I mean just having TypedStruct in typed_config doesn't work (conversion doesn't either I believe). PTAL at PR.

[2020-01-10 15:51] kyessenov commented on #9610
The reason why it's annoying is that to get a proto show up in build tree (via API shadow), one has to run that script. We can either provide a separate script to copy a new proto to shadow without deletion, or make this script skip deletion unless asked.

[2020-01-10 15:59] kyessenov commented on #9643
I'm not happy about this idea since it leads to non-trivial bugs. E.g. taking a base envoy and adding filters that overlap in type URLs would cause the config that used to work for base envoy stop working. But if this is something that is temporary, we can do that.

[2020-01-10 16:51] nulltrope commented on #8571
Nice, also interesting in following along with this. We recently had to build a separate service that handles the authorization code flow, and speaks to envoy with the ext_authz filter. Would be cool if there was a way to do this all in envoy however.

[2020-01-10 17:09] htuch commented on #9643
Well, the idea is that the base Envoy filters would use unique per-filter config types, so it would be surprising to see anyone reuse them. Then, the contract is with someone specializing Envoy with extensions that they preserve this property.

[2020-01-10 17:18] mattklein123 commented on #9595
@jrajahalme I suspect that doing any of that is going to be pretty difficult given the current structure of the code, but I'm not 100% sure. If you want to try to mock something up for discussion feel free.

[2020-01-10 17:23] mattklein123 commented on #9643
One thing to note here, is that I just saw a comment go by where @kyessenov changed the double registration from a failure to a warning. If we are serious about this being the future, it has to stay an error and not a warning right? If we leave it a warning I think we must do the more relaxed variant that @htuch proposes?

[2020-01-10 17:25] kyessenov commented on #9643
The more relaxed variant is fine with me. Basically, whenever there is a type URL collision, we will not use the type URL and fallback to name. I can drop the warning, but I think it's useful since the end game is that each extension reserves its type URLs.

[2020-01-10 17:30] zuercher commented on #9601
I modified your example config to for my local environment, and I see two problems. The first is a JSON syntax error:

[code]

(There's a comma missing after the `"@type"` entry in the given eds.conf.)

Second, `service_name: local` in the `eds_cluster_config` tells Envoy to use "local" (instead of "kafka-0") as the cluster name for EDS. The eds.conf contains `cluster_name: kafka-0` and is therefo

[2020-01-10 17:38] kathan24 opened #9651 "Missing doc on Load Reporting Service (LRS)"
**Issue Template**

*Title*: *One line description*
How to configure Envoy for Load Reporting Service (LRS)?

*Description*:
Since documentation is [missing](https://www.envoyproxy.io/docs/envoy/latest/api-v2/service/load_stats/v2/lrs.proto) on LRS, I would like to learn and understand how to configure LRS.
- Is it like any other xDS API i.e. you have a management server talking to Envoy mesh?
- H

[2020-01-10 17:40] sunjayBhatia commented on #9288
Has this been addressed in `repokitteh`/the appropriate integration? If we can help out with any issues, let us know

[2020-01-10 17:41] mattklein123 commented on #9643
No I would keep the warning no matter what. My point is that if we aren't going for relaxed, I think it has to be an error and not a warning.

[2020-01-10 17:50] nulltrope opened #9652 "Prevent sensitive request headers from being logged in debug level"
*Description*:
Hey all, first just some quick background before getting into the issue we're experiencing. We wrote a small service that is called by the `ext_authz` filter to perform an OIDC Authorization Flow, and verify existing JWTs stored as cookies in request headers.

The JWT cookie contains sensitive information and therefore shouldn't be logged, however we noticed that when envoy is run w

[2020-01-10 18:01] #8756 closed

[2020-01-10 18:25] mattklein123 commented on #9652
Thanks for raising @nulltrope. In general today we assume that debug/trace logs carry sensitive/trusted information and are primarily used for development, though I think it's reasonable to (optionally) do better here. Marking this as needing a design proposal.

[2020-01-10 18:27] mattklein123 opened #9653 "tracing: revisit perf implication of many trace tags"
We have an increasing amount of trace tags that we emit without any configuration. We should try to profile the cost of doing these tags, especially if there is no tracing configured (null tracer). We should potentially allow for the emitted tags to be configured in high perf scenarios.

[2020-01-10 18:28] #9002 closed

[2020-01-10 18:50] mattklein123 commented on #9436
I took a look at this profile and it's very hard for me to make sense of it. Is it possible that the bidi stream is getting compressed by the zlib filter? I'm wondering if there is a buffering happening there of compression data that needs to get flushed somehow?

[2020-01-10 19:29] htuch commented on #9587
Why does't name work for WASM? If we are using type URL for that filter to indicate type, the name can be "foo", "bar", etc. in the config.

[2020-01-10 19:29] htuch commented on #9587
Oh, I see, yes, not factory name, but instance name.

[2020-01-10 19:30] htuch commented on #9610
At this stage, any proto that shows up in the build tree that isn't added via this script might not be structurally right. Let's go with this flow for now, I will work on documentation shortly.

[2020-01-10 20:48] toddmgreer commented on #5263
There are several required integration points that are not documented. Some are easy to discover by cargo-culting from existing extensions, but others are harder to figure out. Here are the places I've figured out by working on the HTTP caching filter PR.

1. Add extension owners to CODEOWNERS.
2. Add ...:pkg to api/BUILD
3. api/docs/BUILD: Add ...:pkg
4. Write api/envoy/config/filter/http/<filter

[2020-01-10 20:56] htuch commented on #5263
I owe better docs for the API build system, I will work on this shortly.

[2020-01-10 21:02] moderation opened #9655 "docs: add missing protodoc-title entries"
*Title*: *docs: add missing protodoc-title entries*

*Description*:
There are a number of proto entries that are missing the protodoc-title entries and hence show up in the generated documentation as *.proto entries.

![image](https://user-images.githubusercontent.com/246317/72185613-2471f280-33eb-11ea-9c72-6ce82c127764.png)

Example of proto:

- with  - https://github.com/envoyproxy/envoy/blob/ma

[2020-01-10 21:16] #9223 closed

[2020-01-10 21:27] mattklein123 commented on #9655
@moderation I'm actually literally fixing this right now, including making the lack of a protodoc title an error. Do you want to just take over my branch? Also, I think this is a dup of another issue.

[2020-01-10 21:27] mattklein123 commented on #9655
https://github.com/envoyproxy/envoy/issues/8525

[2020-01-10 21:28] mattklein123 commented on #9655
@moderation here is my WIP branch which I'm working on between meetings :)

https://github.com/envoyproxy/envoy/tree/doc_fixes

[2020-01-10 21:35] zuercher commented on #8199
I'm not convinced that `file_event_->setEnabled(enable_half_close_ ? 0 : Event::FileReadyType::Closed);` (where the argument evaluates to 0) triggers this. As far as I can tell, `enable_half_close_` is never set for the HTTP connection manager and `delayed_close_timeout_` is only ever set for the HTTP connection manager. So the HTTP connection manager may trigger that setEnabled call but should al

[2020-01-10 21:35] moderation commented on #9655
This is a dupe and I'll close. Happy to take over your branch

[2020-01-10 21:35] #9655 closed

[2020-01-10 21:56] mattklein123 commented on #9655
@moderation all you need to do is run the formatter and it will update both v3 and the generated API protos.

[2020-01-10 22:26] louiscryan opened #9656 "Support generic protocol routing"
*Title*: *Provide a generic schema and implementation for custom protocol routers*

*Description*:
Looking at the custom protocol filters that have been added to Envoy very few of them support much in the way of routing, for the ones that do (Dubbo, Redis and Thrift ) there is a lot of semantic & impl duplication. It seems like there is an opportunity to provide a generic routing facility to filte

[2020-01-10 22:28] louiscryan commented on #9656
@htuch @PiotrSikora
@nrjpoddar who has expressed interest in prototyping something
@kyessenov re CEL

[2020-01-10 22:41] XanderStrike opened #9657 "Envoy responding with errors despite correct config in `config_dump` endpoint"
We (@astrieanna and I) are running scalability tests of Istio on GKE clusters. Our current results indicate that there's sometimes a significant delay between istio configuring Envoy and Envoy (specifically ingress gateways) successfully serving traffic based on that configuration.

## Our Question
We're wondering why there's such a discrepancy between when envoy's `config_dump` shows a dynamic ro

[2020-01-10 22:43] tonya11en opened #9658 "Admission Control Filter (Client-side Throttling)"
# Admission Control Filter

_**TL; DR:** Probabilistically reject outbound requests based on upstream success-rate._

In scenarios where a single request does not have predictable resource utilization, it can be difficult to configure circuit breaker values. Additionally, circuit breakers are unable to protect against connection thrashing, so we rely on [local ratelimiting](https://www.envoyproxy.

[2020-01-11 00:15] mattklein123 commented on #9657
Are the routes served using RDS or inline using LDS? If they are served using LDS you are likely looking at connection drain time.

[2020-01-11 00:20] #6122 closed

[2020-01-11 00:24] mattklein123 commented on #9656
Yeah would be nice to see something like this happen I agree.

At the same time we have a need on the HTTP side to move to a tree with linear leaves (where each leaf would be the HTTP route table we have today) model.

Optimally this would all happen in UDPA but we will need to see if someone wants to work on that vs. just making this happen within the Envoy API for now.

[2020-01-11 00:28] mattklein123 commented on #9638
Yeah I think that was an intentional change to try to give users a sane set of default timeouts. You could potentially configure shorter fetch timeouts if you don't like this behavior?

[2020-01-11 00:30] #9319 closed

[2020-01-11 00:45] mattklein123 commented on #9466
Dup of https://github.com/envoyproxy/envoy/issues/9587

[2020-01-11 00:45] #9466 closed

[2020-01-11 01:43] jaricftw commented on #9638
okay, closing the issue, since that seems like an intentional change, and don't affect the common happy case --- we probably need to update docs on [hot-restart](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/operations/hot_restart) so people are aware.

[2020-01-11 01:43] #9638 closed

[2020-01-11 13:10] Lookyan opened #9659 "listener TCP backlog queue length isn't equal to Linux defined net.core.somaxconn"
I'm experiencing problems with establishing connections to envoy at a high rate of requests. The first assumption is that we run out of TCP backlog queue for the listener. The default value for net.core.somaxconn is 128. We changed it using sysctl for container to 32428. But when envoy starts and binds to listen 15001 port for incoming connections we can see that this queue is at the previous valu

[2020-01-11 15:25] #9238 closed

[2020-01-11 15:54] alexburnos commented on #9643
Curious, what is the downside of being opinionated and mandate that non-Envoy extension developers use unique config types? @htuch said it would be hard to enforce, but if double registration becomes an error - this would be in the best interest of an extension developer to follow it.

[2020-01-11 21:52] cre4tiv3 opened #9661 "Copying out from Buffer Instance to another one"
Hi,

I've been looking for a way of copying data from a Buffer::OwnedImpl to another one. What I've done so far is below:

[code]
Here I want to copy the first 1024 bytes of the `origin_instance` buffer to `target_instance`. However, I could not find a direct solution for that and applied a workaround using `buff`. The above code snipped copies the content two times (for copyOut and add separately

[2020-01-11 22:22] alexellis commented on #1861
/subscribe

@gizmochief7 what was the other tool you used with ARM HF/64 support?

[2020-01-11 23:35] #9604 closed

[2020-01-12 00:49] htuch commented on #9656
@mattklein123 I think we can make this happen in the UDPA context without a lot of hassle. In general, I would like to make forward progress on moving new key data models over to UDPA in a way that doesn't cause a lot of overhead. Here's my proposal:
1. Develop the protos for this new data model in https://github.com/cncf/udpa. We already consume protos in our xDS APIs from here.
2. Add the new ro

[2020-01-12 00:55] mattklein123 commented on #9643
There is no downside other than we have to go through the entire deprecation test. We can't break existing extensions without a deprecation period.

[2020-01-12 01:01] mattklein123 commented on #9659
This is a dup of https://github.com/envoyproxy/envoy/issues/9501.

[2020-01-12 01:01] #9659 closed

[2020-01-12 01:38] markmandel commented on #579
So I basically have this working over on https://github.com/markmandel/envoy/tree/docs/doxygen (once https://github.com/envoyproxy/envoy-build-tools/pull/26 is approved).

Right now it's integrated with `./ci/run_envoy_docker.sh './ci/do_ci.sh docs'`. It does generate ~800MB of documentation, so I don't know if you want it part of your docset that is generated on every build.

I'm happy to split i

[2020-01-12 05:21] #9263 closed

[2020-01-12 08:01] Skarlso opened #9662 "Tutorial on TLS is not working on the website"
Following the tutorial here:
https://www.envoyproxy.io/learn/ssl

I've got this error:

[code]

With this settings  on the envoy front-end:

[code]

[2020-01-12 15:25] jmarantz commented on #579
There's no envyproxy/envoy PR for this yet, right?

I had started trying to tackle Doxygen here: https://github.com/jmarantz/envoy/tree/doxygen . Here were the hurdles in my way:

 * I did not find the output as useful as I was hoping, but you may have better luck
 * It's easy to get a Doxygen run, and the Envoy codebase does have a lot of Doxygen-ish comments. But given the wide number of code-wr

[2020-01-12 15:26] jmarantz commented on #579
Most importantly, very happy you have taken this on. Thank you! Happy to review as you go forward.

[2020-01-12 18:12] eightnoteight commented on #7599
@postwait
can you please explain a bit more on the output transform and problems in choosing the bins for recording latencies

[2020-01-12 21:33] markmandel commented on #579
No yet no - without Doxygen and graphviz in the build image, there was no way (I could find) to make a PR that would actually pass. So I started with the build image.

Also, given how large a document set Doxygen generates at 800MB+ (I got that down from ~2GB through converting images to SVG, etc), I wasn't sure if that was something we wanted to take live on every push.

As a new person to the En

[2020-01-12 21:35] markmandel commented on #579
Oh forgot to mention - I'll do a diff on your Doxyfile vs mine, and see if there are things I missed in mine that might be super useful :+1: thanks for sharing!

[2020-01-12 22:46] htuch commented on #579
I'm generally of the opinion that the only way to make this scale and be sustainable is if we have precommit checks that ensure validity of Doxygen links. We could start by making them incremental, similar to what was done for `clang-tidy`. Landing some initial docs would be great though, even without this.

[2020-01-13 00:45] #9180 closed

[2020-01-13 01:20] cetanu commented on #9644
I think I might close this one as I don't have enough data on my side to form a timeline of events; what you said makes perfect sense and is likely the cause of the NR/503.

[2020-01-13 01:20] #9644 closed

[2020-01-13 08:29] ak7x13 opened #9664 "How to get domain from Envoy by Lua"
I'd like to route requests by different domains. I've read https://www.envoyproxy.io/docs/envoy/v1.12.2/configuration/http/http_filters/lua_filter, but I can not find any mehod can do that. Is there anyway to get domain from Envoy by Lua?

[2020-01-13 09:30] pzmi commented on #9652
Hi. I was about to report a similar issue.
I was pointed to a related issue https://github.com/envoyproxy/envoy/issues/4757 and a PR https://github.com/envoyproxy/envoy/pull/9315. However these address only logging proto messages.

For sure we need a possibility of specifying sensitive headers through some configuration as there are a variety of different deployment scenarios and some of them find

[2020-01-13 11:00] anpryl commented on #5267
@mmpei can you please share link or configuration example?

[2020-01-13 12:35] nezdolik commented on #9575
Think this is a valuable feature to support ( had to refresh memories of codebase for Envoy load balancing).  Agree with @snowp that it does not make sense for some of Lb types, maybe generalising decision should be based if the feature would make sense for most of existing Lb types? As for development effort is doable (medium) but may touch many parts depending on the route taken.

[2020-01-13 13:54] jmarantz commented on #9593
cross-referencing other related issues:
https://github.com/envoyproxy/envoy/issues/4815
https://github.com/envoyproxy/envoy/issues/8795
https://github.com/envoyproxy/envoy/issues/9221

I understand that this proposal is simply to take the existing algorithmic behavior and make it easier to reason about by re-using some absl classes.

[2020-01-13 13:58] postwait commented on #7599
The "problem with choosing bins" is that Prometheus treats bins as separate series and apparently has limitations around cardinality there.  Envoy uses circllhist which tracks the data in a sparse set of ~43k bins.  The only reason transformation is "required" is to reduce that set of bins down to something Prometheus can cope with.  This transformation is trivial as you can just take the set of p

[2020-01-13 15:22] onemanbucket commented on #8571
We're also in a situation here at spotify where we'd need a filter like this for internal services behind oauth2 / okta

[2020-01-13 15:36] htuch commented on #9664
@ak7x13 you probable want to look at the host/authority header for this.

[2020-01-13 15:38] htuch commented on #9662
@Skarlso what is the full bootstrap you are using? Looks like Envoy is viewing this as a v3 YAML, where `tls_context` is deprecated in favor of TLS transport extension configuration.

[2020-01-13 15:38] htuch commented on #9662
@caniszczyk @mattklein123 who is responsible for keeping https://www.envoyproxy.io/learn/ssl etc. up-to-date going forward given that Turbine Labs are no longer around?

[2020-01-13 15:42] htuch commented on #9661
Depending on your use case, you could use `getRawSlices()` to access the buffer directly and `add` those slices. That would avoid a second copy. Another option is `linearize()`, but that is potentially expensive. Often `move` makes more sense, which is an operation that `Buffer` supports natively, but depends on use case.

[2020-01-13 15:42] Skarlso commented on #9662
Hi @htuch! Thank you for jumping in. It turns out that I didn't indent it correctly. :( It was under filter_chains instead of filters. I switched to the new form of doing this:

[code]

Since it say tls_context is deprecated anyways. :)

But I'll keep an eye out for things. Also, thank you for your help and sorry, I didn't close this issue before hand. I think I can consider it resolved. :)

[2020-01-13 15:49] htuch commented on #9662
Yeah, so just to fully explain what happened here:
1. We had a v2 bootstrap which used a deprecated feature. This config had a whitespace error leading to it being invalid.
2. Envoy tried to parse as v2, it probably failed due to this error.
3. Envoy tried to reparse as v3. I think it failed again, but due to the removed field, rather than the whitespace error. Hard to tell without the precise boo

[2020-01-13 16:16] Skarlso commented on #9662
Thanks! :)

[2020-01-13 17:12] mattklein123 commented on #579
Thanks a ton @markmandel for working on this. Here are my thoughts on how to proceed:

- I agree with @htuch that unless we enforce doxygen in CI, it will get stale. I think we can do this incrementally across the code base. Personally, I would start with https://github.com/envoyproxy/envoy/tree/master/include/envoy as I think this is the biggest bang for the buck as it is the "public interface."

[2020-01-13 17:18] mattklein123 commented on #9662
The content is unowned. cc @lucperkins as it would be really nice if we could get some help with this.

[2020-01-13 17:22] mattklein123 commented on #9575
FWIW I think this is what I was suggesting. Would that be good enough?

[2020-01-13 17:50] mattklein123 commented on #9656
This proposal LGTM. The one thing that I would suggest though is that we just start by copying over the existing Envoy linear route table into UDPA and use that as a forcing function to work out doc issues, tests, etc. We know that we cannot regress any existing Envoy behavior so this will be a great forcing function to figure out which parts are HTTP/Envoy specific, where we need vendor extension

[2020-01-13 17:55] markmandel commented on #579
Right now I'm generating them in `./generated/docs/doxygen/html` - so they are stored in a git ignored location.

So they can be pushed up to the same place the rest of the documentation snapshop can go.

I can submit a PR for review and discussion once https://github.com/envoyproxy/envoy-build-tools/pull/26 is approved and merged. Until then, I'm a bit blocked.

[2020-01-13 18:17] jrajahalme commented on #9595
@mattklein123 I'll play around on the cilium/proxy side, should be pretty easy to add the SO_REUSEADDR option to see if it interferes with anything and if it indeed might help.

[2020-01-13 18:22] lucperkins commented on #9662
@mattklein123 What specifically are you requesting? New ownership for those docs?

[2020-01-13 18:23] mattklein123 commented on #9662
I'm suggesting what I have suggested for a long time: we need some part-time tech writing resources to help fix these type of issues and keep things up to date.

[2020-01-13 19:13] markmandel commented on #579
Thanks for that merge! Will get a PR in early this week I expect :+1:

[2020-01-13 19:24] qiwzhang opened #9665 "gRPC upstream with TLS doens't work"
*Title*: gRPC upstream with TLS doens't work

*Description*:
I tried to setup Envoy proxy to talk to gRPC service deployed in Google Cloud Run, it did not work.

*Repro steps*:
* deployed a grpc service to Google Cloud Run and use a gRpc client to verify it works.
* then deploy a envoy proxy with upstream to the Cloud Run gRPC service.
* point same gRPC client to the envoy listening port. (downstr

[2020-01-13 19:24] qiwzhang commented on #9665
@lizan , @PiotrSikora , @htuch could you help?  Thanks

[2020-01-13 19:35] XanderStrike commented on #9657
I'm pretty sure Istio Pilot pushes routes using RDS. The listeners are already present when the routes are pushed.

[2020-01-13 19:37] mattklein123 commented on #9657
Sorry than not sure off the top of my head. I would ask the Istio team to investigate.

[2020-01-13 19:38] XanderStrike commented on #9657
The istio team directed us here, since it appears that Envoy has configuration but isn't acting on it.

[2020-01-13 19:49] PiotrSikora commented on #9665
@qiwzhang it looks that TLS and HTTP/2 connections are established correctly, but then Envoy sends `GOAWAY` frame to upstream and terminates connection, for some reason. I cannot tell from the logs what's wrong.

[2020-01-13 19:51] qiwzhang commented on #9665
@PiotrSikora will a tcpdump help?  I can capture a tcpdump for you

[2020-01-13 19:55] PiotrSikora commented on #9665
No, tcpdump output will be encrypted. Do you have logs from the Cloud Run instance?

[2020-01-13 19:56] qiwzhang commented on #9665
no much log from the instance.  It did not show anything from the cloud run instance.

[2020-01-13 19:59] qiwzhang commented on #9665
If a grpc call bypassing envoy proxy,  it will have a success log entry in the instance.  A grpc request with the proxy doesn't show anything in the instance log.

[2020-01-13 21:19] #9371 closed

[2020-01-13 21:46] brectanus-sigsci opened #9667 "ext_authz CheckRequest call does not include service.auth.v2.AttributeContext.Request.Time field as expected"
*Description*:

The `service.auth.v2.AttributeContext.Request` object is missing the `google.protobuf.Timestamp time` field in the data passed via the CheckRequest call. Only the `http` field of this object seems to be populated. This prevents using the request time in the authorization and thus prevents calculating any latency for the call in metrics/logs created by the filter.

See: https://gith

[2020-01-13 23:01] bluetechy commented on #5998
The use case that I need this feature for is: User specifies the HTTP header `Accept-Charset` to cause the API to return back the response in the specified encoding (and update HTTP response header `Content-Length`, accordingly).

Similarly, I would like to update the request body so that I can allow users to submit requests using different encoding and handle them all as UTF-8 internally.

[2020-01-13 23:11] htuch opened #9669 "Support field masks across > 1 DynamicListener resource"
https://github.com/envoyproxy/envoy/pull/9633 introduced an assumption that field masks will operate on at most one `Any` resource at a time. A single `DynamicListener`, might legitimately refer to both a warming and active listener by the same name and thus require a field mask capable of indexing through two (or more) `Any` resources.

[2020-01-13 23:21] htuch opened #9670 "Track original config resources in SDS"
Currently SDS stores various pieces of the original config, e.g. TLS certificates, as distinct objects. This makes assembling a config dump challenging, in particular when we have cross v2/v3 versioning concerns. We should probably switch to just storing the SDS resource that was delivered on the wire (with redaction).

[2020-01-13 23:51] jrajahalme commented on #9595
@mattklein123 `SO_REUSEADDR` on the client connection socket alone does not work, since the client sockets remain in `TIME-WAIT` state after being closed, thus preventing the same 5-tuple being reused. Client socket lingering may be a problem in general as it uses up resources in the kernel even after Envoy has closed the connection. I tested the approach of setting the `SO_LINGER` option with 0 t

[2020-01-13 23:53] qiwzhang commented on #9665
@PiotrSikora @lizan

Here is trace log with more nghttp2 log entries:

[code]

[2020-01-14 00:11] htuch opened #9671 "Measure performance impact of Envoy's v2 to v3 internal upgrades"
Now that Envoy is using v3 protos internally, and performing complex wire transformations to move from v2 to v3 during configuration ingestion, there is likely some performance impact. It's unclear whether this is marginal, e.g. single digit percentage, or major. This bug exists to track any learnings here.

[2020-01-14 00:15] mattklein123 commented on #9665
```[2020-01-13 23:21:31.590][32261][debug][http2] [source/common/http/http2/codec_impl.cc:607] [C1] sent goaway code=1```

Is indicating a protocol error:

[code]

It's not clear from the logs what the issue is. Note that we have had issues in the past with gRPC's HTTP/2 implementation not being spec compliant.

[2020-01-14 00:16] htuch commented on #9671
CC @mattklein123 @mum4k

[2020-01-14 00:25] qiwzhang commented on #9665
@mattklein123 the second log has more nghttp2 traces.  It may provide more insights

[2020-01-14 00:27] mattklein123 commented on #9595
At a high level ^ sounds sane to me, but TBH I'm not sure of the implications of doing that. I would be slightly worried that we are not correctly specifying NoFlush vs. Flush in all cases and the other end might start getting RST when it wouldn't before? At minimum I think we would want to runtime/config guard this somehow.

@alyssawilk @PiotrSikora @ggreenway any thoughts on ^?

[2020-01-14 00:28] mattklein123 commented on #9665
I looked at the 2nd log. I don't see anything in there that identifies why nghttp2 is deciding there is a protocol error unfortunately.

[2020-01-14 00:46] PiotrSikora commented on #9595
Why the same source port is being reused? Shouldn't the retrying connection use a new port?

[2020-01-14 00:47] mattklein123 commented on #9595
@PiotrSikora see the original issue, this is when the source port is being forced to the same value.

[2020-01-14 02:02] qiwzhang commented on #9665
Update.

Here is the data dump received from Cloud Run after sending Http2 header.

===
HTTP/1.0 400 Bad Request
Content-Type: text/html; charset=UTF-8
Referrer-Policy: no-referrer
Content-Length: 1555
Date: Tue, 14 Jan 2020 01:56:32 GMT

<!DOCTYPE html>
<html lang=en>
  <meta charset=utf-8>
  <meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width">
  <title>Error 400 (B

[2020-01-14 02:37] popozy opened #9674 "How does span context propagated to upstream cluster when http request is traced by jaeger?"
*Title*: *How does span context propagated to upstream cluster when http request is traced by jaeger?*

*Description*:
Hello! In jaeger, I'm trying to make it clear that how does envoyproxy propagate span context(spanId, tracingid，parentSpanID) when envoy is used in istio-proxy to trace http request, however, it seems that no span context hold in conn_manager_impl.cc after a startSpan() method cal

[2020-01-14 03:11] popozy commented on #9674
I have got an idea by https://github.com/envoyproxy/envoy/issues/6520#issuecomment-484235332, thx to mattklein123. I will have a try for filters tracing in extesion, after wich I will close the issue immediately. (from newbee :-)
+relative code:
https://github.com/envoyproxy/envoy/blob/master/source/common/router/router.cc#L591

[2020-01-14 03:16] JLXIA commented on #9665
some thoughts:

1, gRPC should be HTTP/2, not HTTP/1
2, gRPC Content-Type shouldn't be text/html

[2020-01-14 03:29] #9612 closed

[2020-01-14 04:01] ramaraochavali commented on #9657
Not sure which version of Istio and Envoy you are running, but FWIW, Envoy had a bug https://github.com/envoyproxy/envoy/issues/7939 that used to show the rejected config instead of last applied config at some point. Based on what you are describing here, it seems config_dump might be showing rejected config?

[2020-01-14 05:19] dantuluri commented on #1861
Did anyone trying using buildx to solve this?

[2020-01-14 10:48] andreysm opened #9675 "Envoy gRPC client"
Documentation mentions "Envoy gRPC client" as an alternative to "Google C++ gRPC client" at
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/other_protocols/grpc.html#grpc-services

What is Envoy gRPC client? Is it a gRPC client library? Where do I get it?

[2020-01-14 13:59] acrazing opened #9677 "Proposal: add suggestion for bad configuration field"
*add suggestion for bad configuration field*

*Description*:

The configuration of envoy is very complex, sometimes the words is confusing, for example: the `socket_address.port_value`, if we provide `socket_address: { address: ..., port: ... }`, and then we are going to get an error like this:

It is hard to find out what the problem is. It would be graceful if the error could give some suggestio

[2020-01-14 14:39] PiotrSikora commented on #9665
You're missing `alpn_protocols: h2` in your cluster's TLS config, so HTTP/2 is never negotiated with the upstream.

[2020-01-14 15:32] htuch commented on #9675
This just refers to the fact that Envoy has an in-built gRPC client implementation for issuing requests, e.g. for xDS subscriptions, when connecting to metrics service, when a filter needs to make an RPC call. In addition, Envoy can use the standard Google gRPC libraries to make such calls.

[2020-01-14 15:35] htuch commented on #9677
I agree this would be a useful enhancement. We could build some edit distance ordered data structure at Envoy startup based on the descriptor pool reflection field names for each type.

I think one complexity here is that the error messages don't come directly from Envoy, but instead the C++ protobuf libraries. For binary protos, we actually don't have field names, only field numbers. For JSON/YAM

[2020-01-14 17:18] qiwzhang commented on #9665
@PiotrSikora Thanks.  After add "alpn_protocols:  h2", it works.

[2020-01-14 17:18] #9665 closed

[2020-01-14 17:44] XanderStrike commented on #9657
We're using Istio 1.4.2 which from what I can tell is using Envoy v1.12.1, and that version was cut after the resolution of that issue.

Also, since the config does eventually get implemented I don't think it's rejected, unless there are reasons Envoy might reject configuration other than the validity of the configuration itself.

[2020-01-14 19:09] jrajahalme commented on #9595
@mattklein123 The implementation above is just a rough proof of concept I cooked up quickly :-). Maybe should add a new `ConnectionCloseType::ResetNoFlush` (or similar) that the codec layer would use on client connections after streams are reset? `ClientConnectionImpl::close()` would then detect that, do the SO_LINGER thing, and call `ConnectionImpl::close(ConnectionCloseType::NoFlush)`. This way

[2020-01-14 20:52] #9550 closed

[2020-01-14 21:37] mabukhovsky commented on #9461
@mattklein123 I'm sorry for opening duplicate. I would appreciate if you could tag this one with "help wanted" so it is resolved. It is a blocker for a whole team.

[2020-01-14 21:59] mattklein123 commented on #9461
@derekargueta @rgs1 are familiar with this feature, maybe they have time to check your config.

[2020-01-14 22:03] jsbucy commented on #9577
Strawman proposal: inject a StartTlsProtocol thing into SslSocket. This would be implemented for each protocol and could be configured in say CommonTlsContext proto e.g.
start_tls_protocol = "smtp"
One downside I see is that since SslSocket uses boringssl to do the posix socket IO, you would need a fair amount of code from RawBufferSocket to do the cleartext IO prior to the tls upgrade.

[2020-01-14 22:13] rgs1 commented on #9461
@mabukhovsky i think for the filter part, you it has to be a typed config:

[code]

whereas you have:

[code]

See https://github.com/envoyproxy/envoy/blob/master/docs/root/configuration/http/http_filters/dynamic_forward_proxy_filter.rst.

(not sure tho, that's just from a quick look)

[2020-01-14 23:13] #8888 closed

[2020-01-14 23:31] howardjohn opened #9682 "set_node_on_first_message_only seems to never set node ID"
**Issue Template**

*Title*: set_node_on_first_message_only seems to never set node ID

*Description*:
I turned on `set_node_on_first_message_only`, and now things are breaking because it appears the node id is actually never sent. Turning on verbose logging on the XDS server shows the first requests we get looks like:

[code]

Note the missing node id

@kyessenov

[2020-01-15 00:13] #8952 closed

[2020-01-15 02:25] jmarantz commented on #8795
doc to discuss options: https://docs.google.com/document/d/1yxyRODqaLwMyzBGRkzF_6DJGCGfp4nfjzkUIhtQ8Tc0/edit#

[2020-01-15 02:34] derekargueta opened #9684 "/server_info has empty service_[cluster|node|zone] when configured in bootstrap"
This is a bug report that when one configures service_cluster, service_node, or service_zone using bootstrap configurations (on the `node` object) and not through CLI flags, then the admin interface reports these values as empty on`/server_info`. This is because the admin interface simply dumps whatever is contained in the `CommandLineOptions` struct (https://github.com/envoyproxy/envoy/blob/maste

[2020-01-15 02:44] htuch commented on #9684
Yep, that's broken, it should consume this from the server's `LocalInfo`. @derekargueta are you planning on working on a fix for this?

[2020-01-15 04:38] ak7x13 commented on #9664
Some requests maybe not include the host/authority. Is there something like `http_host` in nginx?

[2020-01-15 15:37] postwait commented on #7599
As a follow-up to this, please have a read of our paper:

https://github.com/circonus-labs/circllhist-paper/blob/master/circllhist.pdf

[2020-01-15 15:44] hakuno opened #9689 "Leak of information about cluster member"
Please, how do I retrieve the `envoy_cluster_internal_upstream_rq_xx` by cluster members?

I have a cluster with 2 members... (load_assignment/lb_endpoints)... but I can't find any information to get errors from each cluster nodes.

One of these cluster members is buggy, but I can't find which node. No tip found.

[2020-01-15 17:16] htuch commented on #9689
@hakuno does the `/clusters` endpoint provide you the information you need?

[2020-01-15 17:45] jaegchoi commented on #9523
Is the size of the buffer for the stats configurable? What is the default size of the buffer? We are trying to lessen the memory used by stats

[2020-01-15 18:19] hakuno commented on #9689
So I can read `rq_error` as bad HTTP code status response. Nice!

[code]

How do I read that with the Prometheus/Grafana?

[2020-01-15 19:22] mattklein123 commented on #9595
@jrajahalme I think in general this all make sense to me, though I still think we should at minimum have a runtime kill switch just in case this causes issues, even for client connections. Do you want to PR up an actual change and we can go from there?

[2020-01-15 19:46] jmarantz commented on #9583
Sorry Nicolas -- was traveling & slow to respond.

You may need to use a Linux VM to repro. Spinning one of those up may be easier than figuring out how to run tsan on Mac, though maybe people on the envoy-macos slack channel may have better advice.

[2020-01-15 19:49] mergeconflict commented on #4757
I just took another look at this... I think this might be trickier than just inserting a call to `MessageUtil::redact()` before logging, because the error message is actually coming from protoc-gen-validate. That looks like:

[code]

I can't think of an obvious way to have pgv redact messages before serializing and populating the error... Any suggestions @mattklein123 @htuch?

[2020-01-15 19:57] htuch commented on #9689
@hakuno I think that question is outside my domain knowledge, so I'll leave this open for others to comment on for the normal question period of time (2 weeks).

[2020-01-15 20:04] alyssawilk commented on #9595
Regarding the proposed fix,isn't the main question if there is outstanding data heading from upstream to Envoy?  If the connection is timing out due to no data from upstream setting SO_LINGER down may be safe, but if I remember that option correctly (it's been a while, I may not) lowering it generally on close seems problematic.  Wouldn't it result in a lot of spurious resets on connections we say

[2020-01-15 21:13] mattklein123 commented on #4757
The only way that I can think of is to have PGV become aware of the redaction annotation, which seems like a reasonable thing to work towards?

[2020-01-15 22:38] mabukhovsky commented on #9461
@rgs1 Thanks for replying. I've tried to make the offered change, but still hitting the same issue for envoy.http_connection_manager: **FilterConfigValidationError.DnsCacheConfig: ["value is required"]**

My new config:
`# xDS Dynamic Configuration
# https://www.envoyproxy.io/docs/envoy/v1.10.0/configuration/overview/v2_overview
admin:
  access_log_path: %WD_HOME%/logs/admin_access.log
  address:

[2020-01-16 00:16] snowp opened #9695 "support decoding gRPC messages with tap filter"
By being given access to the proto descriptor the HTTP tap filter should be able to output gRPC message bodies as human readable (i.e. as JSON).

Note the overlap with https://github.com/envoyproxy/envoy/issues/6109: both issues would rely on the proto descriptors being made available to Envoy (either statically or dynamically somehow), but this issue tracks being able to support a gRPC specific o

[2020-01-16 00:18] nicktrav commented on #8259
Recapping a conversation I had with @snowp on this - in the event that someone wants to pick this up that knows the Envoy codebase better than I.

If `ejections_active_` is filtered out (i.e. not enabled via inclusion of the metric) the following always comes out as zero:

https://github.com/envoyproxy/envoy/blob/7d3c6b2fc4a1b0a5c2e09f4167b13f36d6ac26a2/source/common/upstream/outlier_detection_imp

[2020-01-16 00:19] mattklein123 commented on #9461
See https://github.com/envoyproxy/envoy/pull/9696, there was a typo from a previous fixup. Beyond that, the config on that doc page loads fine for me on current master.

[2020-01-16 01:04] rgs1 opened #9698 "mirroring breaks when the destination cluster doesn't exist"
Consider the following route config:

[code]

where the `does_not_exist`destination cluster isn't present. Is the expectation
for mirroring to still work? It currently doesn't.

I guess one could argue that, if the destination cluster doesn't exist then the route
is effectively broken and thus mirroring is broken too.

If this the case, we can tight up the docs to make that clear. If we still want

[2020-01-16 01:19] mattklein123 commented on #9689
Per-host stats are not currently exported to the stats sinks, due to cardinality issues.

[2020-01-16 02:21] #8777 closed

[2020-01-16 03:17] htuch commented on #8087
I've started work on this, and the first step was to switch from `@envoy_api//docs:protos`, which only has the base v2 protos to `@envoy_api//:protos`, with both v2 and v3 protos, in `docs/build.sh`. Unsurprisingly, there are a ton of unreferenced v3 RST files in `/api-v2/` when run.

This then leads to the question of how we want to structure the API docs in the presence of multiple major version

[2020-01-16 03:22] #9245 closed

[2020-01-16 04:40] npuichigo commented on #5540
I tried to add the logic of httpbody streaming in grpc-gateway repo, and maybe I can try to implement that in envoy. (https://github.com/grpc-ecosystem/grpc-gateway/pull/1088/files) Can you give me some advice?

[2020-01-16 04:48] scottfield commented on #4724
@kenju
your repo is private, we could not have access

[2020-01-16 05:02] kenju commented on #4724
@scottfield

Opps, I've merged into another repository. Thanks for your comment.

Here is the latest one:

https://github.com/kenju/service-mesh-patterns/tree/c22ae3850c2b34515c88a91459542af872d55e24/envoy-lua-filters

and here is the lua filter

https://github.com/kenju/service-mesh-patterns/blob/c22ae3850c2b34515c88a91459542af872d55e24/envoy-lua-filters/envoy/lib/mylibrary.lua

[2020-01-16 06:21] #9242 closed

[2020-01-16 08:42] popomen opened #9700 "Dubbo connection is temporarily interrupted when the configuration is updated."
*Title*: *Dubbo connection is temporarily interrupted when the configuration is updated.*

*Description*:

*Envoy logs*:

(Some details of the new listener...)
[2019-12-31 02:40:31.005][17][debug][config] [external/envoy/source/server/listener_manager_impl.cc:381] add warming listener: name=10.105.248.91_20880, hash=17882840085526265571, address=10.105.248.91:20880
[2019-12-31 02:40:31.005][17][de

[2020-01-16 08:48] bingohuang commented on #9700
+1 Same problem.

[2020-01-16 08:49] zyfjeff commented on #9700
@popomen Could you upload the whole envoy trace log?

[2020-01-16 08:50] zyfjeff commented on #9700
/assign @zyfjeff

[2020-01-16 08:51] popomen commented on #9700
@zyfjeff

[2020-01-16 09:13] popomen commented on #9700
[2020-01-16 09:00:10.116][19][debug][config] [external/envoy/source/common/config/grpc_mux_impl.cc:132] Received gRPC message for type.googleapis.com/envoy.api.v2.Listener at version 2020-01-16T09:00:10Z/32
[2020-01-16 09:00:10.116][19][debug][config] [external/envoy/source/common/config/grpc_mux_impl.cc:101] Pausing discovery requests for type.googleapis.com/envoy.api.v2.RouteConfiguration
[2020-

[2020-01-16 09:27] zyfjeff commented on #9700
@popomen The logs look incomplete and I can't make a judgment

[2020-01-16 09:32] popomen commented on #9700
[2020-01-16 09:00:54.124][19][debug][config] [external/envoy/source/server/listener_manager_impl.cc:381] removing listener: name=10.105.248.91_20880, hash=11155164242519234785, address=10.105.248.91:20880
[2020-01-16 09:00:54.124][28][debug][dubbo] [external/envoy/source/extensions/filters/network/dubbo_proxy/conn_manager.cc:31] **********ConnectionManager::~ConnectionManager
[2020-01-16 09:00:54.

[2020-01-16 09:32] popomen commented on #9700
[2020-01-16 09:00:57.032][26][debug][config] [external/envoy/source/extensions/filters/network/dubbo_proxy/config.cc:136] **********ConfigImpl::createProtocol
[2020-01-16 09:00:57.032][26][debug][dubbo] [external/envoy/source/extensions/filters/network/dubbo_proxy/conn_manager.cc:27] **********ConnectionManager::ConnectionManager

[2020-01-16 11:42] zyfjeff commented on #9700
@popomen Can you upload the full log file?

[2020-01-16 13:14] popozy commented on #9674
Have finish. Thx

[2020-01-16 13:14] #9674 closed

[2020-01-16 15:22] stevenzzzz opened #9701 "router: Add a new hash method to HashPolicyImpl which hashes based on object stored in filterState."
*Title*: * [updated] Add a new hash method which can hash based on object in filter_state generated by customer logic.

*Description*:

 [updated] In HashPolicy, let's add a new hash method "filter_state" which specifies the key of a hashable object stored in streamInfo.FilterState().

[2020-01-16 15:22] stevenzzzz commented on #9701
/cc htuch
/cc AndresGuedez

[2020-01-16 17:24] mattklein123 commented on #8087
Yeah (1) SGTM.

[2020-01-16 17:27] mattklein123 commented on #9698
to work, even when the destination cluster is missing, I'll send a PR to handle that.

I'm confused. How could mirroring possibly work if the mirror cluster does not exist?

[2020-01-16 17:34] clnperez commented on #7221
could we mark this as staleproof?

[2020-01-16 17:36] #9610 closed

[2020-01-16 17:37] rgs1 commented on #9698
@mattklein123 the `does_not_exist`cluster which the route routes to is the one that doesn't exist, the mirror cluster does exist.

[2020-01-16 17:40] rgs1 commented on #9698
Should have used less confusing cluster names, the summary is:

you are routing to A and mirroring to B; but A does not exist -- so mirroring to B breaks too.

Do we want to keep this behavior? Or do we want mirroring to still work when A is not there?

[2020-01-16 17:41] mattklein123 commented on #9698
OK got it, that makes sense. Yeah IMO it's not worth the risk of fixing this. I would probably just do a doc update?

[2020-01-16 18:02] mabukhovsky commented on #9461
@mattklein123 @rgs1 Thank you for fixing the doc. I'm still facing the same issue with my config :(

```Proto constraint validation failed (FilterConfigValidationError.DnsCacheConfig: ["value is required"]):```

Per your proposal, I've also tried your default config (from https://github.com/envoyproxy/envoy/blob/master/docs/root/configuration/http/http_filters/dynamic_forward_proxy_filter.rst) on

[2020-01-16 18:02] amir-hadi commented on #9436
@mattklein123 How can we validate if this is the case?

[2020-01-16 18:04] mattklein123 commented on #9461
You must be using a non-master binary or have some other binary issue. Sorry I don't have any other ideas for you.

[2020-01-16 18:05] mattklein123 commented on #9436
Look at the config/stats/etc. and do some debugging?

[2020-01-16 18:17] jrajahalme commented on #9595
@mattklein123 @alyssawilk trying to minimize my workload here :-)

Would you agree that if the SO_LINGER with 0 timeout is only applied on connections with a specified source address with non-zero port that are being closed due to stream resets initiated locally, we would not need the kill switch?

[2020-01-16 18:30] mattklein123 commented on #9595
Adding a kill switch is very easy, but up to you. If for now you only want to apply SO_LINGER in this very specific case I think that is probably OK. Note to please use the socket option abstraction layer to do this so it can eventually work reasonably well on other platforms. Thanks.

[2020-01-16 19:42] htuch commented on #4757
It could be fixed in PGV. In the interim, we could redact before passing to PGV. Then we continue to use the original message. The main downside there is you then skip PGV of redacted fields.

[2020-01-16 19:45] #9667 closed

[2020-01-16 19:48] cbarbara-okta commented on #9387
@mattklein123 - we finally figured out the problem on our side.
While we had
[code]
set in our `http_connection_manager` but we didn't have it set in our `cluster` settings. Once we added it correctly under `cluster` our upstream connections are not properly being closed when idle and our 503s have gone away.

What really helped us was this new page only on the latest doc pages - https://www.envoy

[2020-01-16 20:12] rgs1 opened #9708 "proxying requests to AWS authenticated services (e.g.: s3)"
We've got some use cases where we need to proxy requests to S3 buckets which require authentication.

#7281 added AWS credential providers, so we could potentially have an `s3_auth` http filter that uses that and adds the needed headers. The filter would probably need to support `per_filter_config`, to allow restricting the functionality to a subset of routes.

I think this sounds like a generally

[2020-01-16 20:17] mattklein123 commented on #9708
Agreed this sounds interesting and generally useful. cc @marcomagdy @lavignes in case AWS would like to help out with this.

[2020-01-16 20:18] #9698 closed

[2020-01-16 21:16] htuch opened #9709 "RTDS should be fully warmed before ClusterManager initialization"
Today, RTDS warms at the same time as the `ClusterManager`, on the server `InitManager`. There may be resources in the first CDS response that require RTDS override. In eventually consistent systems, this makes initialization non-deterministic when override is intended. We should probably add another server init warming stage where we only start CDS after RTDS has succeeded/failed/timed out.

CC @

[2020-01-16 21:20] mattklein123 commented on #9709
Yeah +1

[2020-01-16 22:08] htuch commented on #9701
@stevenzzzz let's sync offline to ensure this is definitely needed, but if so, should be fairly tractable to do.

[2020-01-16 22:55] dastbe commented on #9708
@rgs1 does the supported signature versions matter to you?

[2020-01-16 23:13] rgs1 commented on #9708
@dastbe i think we want sigv4.

[2020-01-16 23:18] rgs1 commented on #9708
@dastbe maybe v2 is ok actually... waiting for a final answer.

[2020-01-16 23:19] mattklein123 commented on #9708
As an aside, will looking briefly through this code again, I noticed that https://github.com/envoyproxy/envoy/tree/master/source/extensions/filters/http/common/aws should probably be moved to here: https://github.com/envoyproxy/envoy/tree/master/source/extensions/common. It would be nice to clean that up as part of this issue, but low priority.

[2020-01-16 23:32] dastbe commented on #9708
@rgs1 sigv4 would actually be preferable, and would allow for a general "sigv4_auth" filter. AFAIK the only extant service that supports sigv2 is S3 and so would only be valuable for that svc.

[2020-01-16 23:40] rgs1 commented on #9708
@dastbe yeah sigv4 is actually what we want -- so great that it's preferable. Thanks!

[2020-01-17 00:21] marcomagdy commented on #9708
couple of things to note (that will potentially save you a lot of head scratching) when dealing with S3 signing:
1. Requests made over plain HTTP to S3 require signing the _entire_ body of the request. However, signing the headers is sufficient when going over HTTPS.
1. I believe the current signing implementation in Envoy does not encode the URL path while calculating the signature. This is usual

[2020-01-17 01:53] junr03 opened #9712 "protobuf: update pertinent sites to anyConvertAndValidate"
*Description*:
There are several places that use anyConvert and then validate the typed message. #9516 introduced `anyConvertAndValidate`. Update call pertinent callsites to the new function.

[2020-01-17 03:10] bingohuang opened #9713 "Does dubbo proxy support Envoyfilter to ApplyTo ROUTE_CONFIGURATION？"
**Description**:
EnvoyFilter provides a mechanism to customize the Envoy configuration generated by Istio Pilot, as for ROUTE_CONFIGURATION：

Does Dubbo proxy support Envoyfilter to ApplyTo ROUTE_CONFIGURATION? And whether the listener will be restarted when ApplyTo ROUTE_CONFIGURATION?

Thanks. @zyfjeff

 **Relevant Links**:
https://istio.io/docs/reference/config/networking/envoy-filter/#EnvoyFil

[2020-01-17 03:30] light-x commented on #9713
Is it that dubbo_proxy does not implement rds dynamic update?

[2020-01-17 03:34] zyfjeff commented on #9713
Yes, currently dubbo does not implement RDS

[2020-01-17 03:36] zyfjeff commented on #9713
@bingohuang Currently, the routing information is embedded in the Dubbo filter, so it can only be updated by modifying the network filter

[2020-01-17 03:36] zyfjeff commented on #9713
/assign @zyfjeff

[2020-01-17 03:47] bingohuang commented on #9713
Thanks @zyfjeff. Is there a plan to implement RDS update in dubbo proxy? We have a problem which need the feature to resolve.

[2020-01-17 03:49] light-x commented on #9713
https://github.com/envoyproxy/envoy/issues/9700
I think this is the same question.

[2020-01-17 03:51] light-x commented on #9713
Duplicate of #9700 I think this is the same question.

[2020-01-17 06:05] #9284 closed

[2020-01-17 06:58] zyfjeff commented on #9713
@bingohuang Currently, HTTP RDS and dubbo are not compatible. To implement dubbo RDS, we need to re-develop a new xDS protocol, which is not in line with the direction of the community. We need to further explore common routing services. #9656

[2020-01-17 07:02] zengyuxing007 opened #9714 "Dubbo Support RDS"
*Title*: *Dubbo Support RDS*

*Description*:

Therefore, it is best to implement a Dubbo RDS similar like http RDS.

We have now implemented RDS support for the Dubbo protocol and hope to contribute it to the community

[2020-01-17 07:05] #9296 closed

[2020-01-17 07:23] bingohuang commented on #9714
Wonderful!

[2020-01-17 07:31] zengyuxing007 commented on #9656
This idea is very good. Within our company, due to the needs of business parties, we have customized Dubbo RDS and Thrift RDS respectively.

There is indeed a large part that can be abstracted to make it universal;

However, it is necessary to consider protocol-level compatibility issues; I recommend designing a new Common RDS in addition to the existing HTTP RDS;

This can do protocol compatibili

[2020-01-17 07:38] popomen commented on #9714
I think you need to coordinate with this issue
[#9656](https://github.com/envoyproxy/envoy/issues/9656)

[2020-01-17 11:40] qbrent opened #9716 "Decode JWT and put “value” into a request header"
Similar to https://discuss.istio.io/t/question-decode-jwt-and-put-sub-into-a-request-header/1213

Looking to do rate limiting off values from JWT

Looking to decode a JWT and put fields into headers; which can then be used by the rate_limit filter when setting descriptors.

Is the only way to approach this in Envoy using Lua scripts?

Thanks

[2020-01-17 11:46] qbrent opened #9717 "Ratelimit configuration: extract multiple headers and send a tuple of descriptors"
Hi,

I am looking to extract values from multiple headers and send it as a tuple of descriptors to the rate limit service,  but I only seem to be able to use `request_headers` once; I have tried both

[code]

or

[code]

With either configuration, I only see one of the `descriptor_key` in the ratelimit service.

Thanks,
Brent

[2020-01-17 14:47] hakuno commented on #9689
All right. Thanks!

[2020-01-17 14:47] #9689 closed

[2020-01-17 17:27] qiwzhang commented on #9716
If specified, jwt_authn filter put the whole payload into the request header.
If you want to use specified payload field,  you can use dynamicMetadata.  Jwt_authn stores the payload into dynamicMetadata (if specified), other filters can use its fields directly.  This is how Istio RBAC filter use it.

[2020-01-17 18:37] mattklein123 commented on #9714
Agreed let's try to figure out if we can have some amount of common routing infra that would cover HTTP/gRPC/Dubbo/Thrift/etc.

[2020-01-17 20:00] piaw commented on #6441
Hi, I'm trying to increase the limit on envoy 1.10, and it doesn't seem to have any effect. Here's what I have (the jinja templates get expanded to reasonable values):
admin:
  access_log_path: {{ logging_prefix }}_envoy_rest_proxy_admin.{{ logging_suffix }}
  address:
    socket_address: { address: 0.0.0.0, port_value: {{ admin_port }} }

static_resources:
  listeners:
  - name: listener
    addr

[2020-01-17 21:06] mergeconflict commented on #4757
@htuch I would guess the main downside to that approach is the runtime cost of preemptively redacting everything (making a copy and iterating over it). There could also be cases where a PGV annotation expresses some constraint that is violated by redaction.

[2020-01-17 21:09] htuch commented on #4757
@mergeconflict yep, I think the long term solution is fixing in PGV.

[2020-01-17 23:23] derekargueta commented on #9684
@htuch yeah I can put together a patch. Do we have any stability guarantees on the admin interface? I think it'd be best to explicitly enumerate fields in [the ServerInfo message](https://github.com/envoyproxy/envoy/blob/5248a4fb7d4c2a3d1fa151f944d3a63f6b7a06cf/api/envoy/admin/v3/server_info.proto#L20) rather than just [embedding command line args directly](https://github.com/envoyproxy/envoy/blob

[2020-01-18 01:11] DrewKiino commented on #7557
bump

[2020-01-18 10:51] heimweh commented on #9436
We managed to track down and mitigate the memory issues by disabling retries on all related services in the mesh. Now we're seeing frequent resets: RST_STREAM(NO_ERROR) and disconnects, not sure if it's related though.

Thank you so much for the help on this issue and the quick replies @mattklein123 @lizan :pray:

[2020-01-18 13:43] marsom commented on #3178
+1

[2020-01-18 19:18] snowp opened #9730 "Support specifying tags at metric creation time"
Currently Envoy supports tags with a "tag extraction" indirection: all metric names are flat strings, but a set of regexes can be configured that extracts out tag values from this metric name. This makes sense when users want to add tags to existing metrics, but in cases where custom metrics are added through extensions, users might be know a priori what metric tags they want for a given metric.

[2020-01-18 22:24] PiotrSikora opened #9731 "wasm: fuzz loading of Wasm modules"
While the loading of Wasm bytecode is covered by fuzzing in V8, there are a few cases (loading precompiled modules and parsing of Custom Sections) that are unique to Envoy and should be fuzzed.

[2020-01-18 22:24] PiotrSikora opened #9732 "wasm: upstream wee8_compile tool"
Either upstream the `wee8_compile` tool to V8 or move it to a separate repo.

[2020-01-18 22:24] PiotrSikora opened #9733 "wasm: generate test data using Bazel rules"
Wasm modules used in tests are currently generated manually, using tools outside of Bazel build system, making them non-hermetic. This should be fixed, so that all test data is generated using Bazel rules.

@jplevyak and myself are already working this.

[2020-01-18 22:53] htuch opened #9734 "Protoxform support for renamed field anchors"
https://github.com/envoyproxy/envoy/pull/9719 has a workaround for the inability for protoxform to intelligently follow field renames in RST links (some minor hardcoding is there for now). We should fix this; either put renames in the type database or make protoxform aware of the entire descriptor pool (similar to how the API booster does it).

[2020-01-18 23:06] htuch opened #9735 "Update documentation and example configs to v3 API"
Initial docs for v3 arrived in https://github.com/envoyproxy/envoy/pull/9719. There is still a large body of existing example configs, either standalone or in configuration fragments, that need to be updated to v3.

[2020-01-19 00:04] dio commented on #9396
@TuvaevAndrey, sorry for the delayed response.

Could you help to try the following?

[code]

I ran this:

[code]

The content of `config.yaml`:

[code]

[2020-01-19 00:43] mattklein123 commented on #9730
See also https://github.com/envoyproxy/envoy/issues/9194 which this might be a dup of.

[2020-01-19 05:31] Emixam23 opened #9738 "Issue while allowing cors origin"
Hey!

Today my envoy proxy stopped working after I rebuild my Docker image

I am getting that error using your example:
[code]

**Dockerfile**

[code]

**envoy.yaml**
[code]

[2020-01-19 05:38] #5292 closed

[2020-01-19 06:38] #5536 closed

[2020-01-19 07:38] #4654 closed

[2020-01-19 08:38] #4349 closed

[2020-01-19 09:38] #4302 closed

[2020-01-19 10:38] #3292 closed

[2020-01-19 11:38] #7116 closed

[2020-01-19 12:38] #9299 closed

[2020-01-19 13:08] CodingSinger commented on #6614
Hello everyone, I have a question, is there any difference between orca_load_report and the original LRS? My understanding is that orca_load_report is the backend server passing load information to envoy, and LRS is passing information between envoy and management server？

[2020-01-19 14:38] #9318 closed

[2020-01-19 15:21] SecurityInsanity commented on #6614
Hey @CodingSinger,

ORCA for now is actually going to be integrated into the LRS when it is implemented. It will provide a richer set of information.

Right now the LRS only provides load info about the number of requests, who it’s routing to and when. ORCA compliments that info by allowing services to report how much a request cost. For example a service can say “processing this request I took up

[2020-01-19 15:38] #9310 closed

[2020-01-19 15:45] htuch opened #9742 "Update API links to dual v2/v3"
The generic configuration section of the Envoy documentation currently links only to the v2 APIs. What we need is a way, ideally driven by the type database information, to generate links to both v2 and v3 messages wherever we have a link. This might take the form of multiple bullet points where links are contained in bullet points, or an inline v2/v3 link alternative.

[2020-01-19 15:45] CodingSinger commented on #6614
@SecurityInsanity
Thanks for your reply. But I think now it seems to be divided into `LoadReportingService` and` OrcaLoadReport`. According to your reply, are both ORCA and LRS acting between the backend server and envoy?

[2020-01-19 15:53] SecurityInsanity commented on #6614
@CodingSinger ,

ORCA metrics will be added to the LoadReportingService (not replacing) stats since we believe it is useful there as well, but the actual ORCA stats are being sent between the thing envoy is sending requests to and envoy.

[2020-01-19 17:03] htuch commented on #8839
Punting to after 1.13.0, since this is only a cosmetic fix and probably requires some API wide changes, I think we need some way to identify root messages to inform the garbage collection.

[2020-01-19 17:38] #9307 closed

[2020-01-19 18:38] #8787 closed

[2020-01-19 18:39] snowp commented on #9730
I think this issue is a bit narrower in scope but yeah I can close this out in favor of the other one. As a V1 I'll just make the tags settable as string pairs on the metric objects, and then down the line we add in tag optimizations around symbol usage as necessary.

[2020-01-19 18:41] #9730 closed

[2020-01-19 19:36] #9640 closed

[2020-01-19 19:38] #9032 closed

[2020-01-19 19:40] mattklein123 commented on #9738
The example was fixed in https://github.com/envoyproxy/envoy/commit/8057eed8aceaecc29a28fe1cc3818b67cba32585

[2020-01-19 19:48] Emixam23 commented on #9738
Hey!

Thanks for your answer. Then (Sorry if I miss understood) if it was fixed, why am I getting this error following my current code state?

Thanks!

[2020-01-19 20:04] stevenzzzz commented on #9254
/assign stevenzzzz
I will grab it

On Sun, Jan 19, 2020, 2:37 PM Matt Klein <notifications@github.com> wrote:

[2020-01-19 21:37] #8525 closed

[2020-01-19 23:16] htuch commented on #9587
Let's push this one out of 1.13.0, I think there's too high a risk of regression if we merge JIT for 1.13.0.

[2020-01-20 00:03] #8087 closed

[2020-01-20 02:18] CodingSinger commented on #6614
@SecurityInsanity Thanks.
I have got it.

[2020-01-20 07:57] #9206 closed

[2020-01-20 08:59] lizan opened #9746 "//test/integration:api_listener_integration_test flakes"
`bazel test //test/integration:api_listener_integration_test --runs_per_test=1000` results:

[code]

*Call Stack*:

[code]

[2020-01-20 11:37] qbrent commented on #9716
Great; thank you very much - I will look into leveraging those features.

[2020-01-20 11:50] nezdolik commented on #8571
@derekargueta could you post link doc/RFC here?

[2020-01-20 15:05] vsharathis opened #9747 "upstream connect error or disconnect/reset before headers. reset reason: connection termination"
Kindly help !! am unable to get the proper response, even in pod also am getting the same error.

admin:
  access_log_path: "/var/DebugTrace/envoylb/envoylb.log"
  address:
    socket_address:
      address: 127.0.0.1
      port_value: 8001
      protocol: TCP
stats_flush_interval:
  seconds: 5
static_resources:
  listeners:
  - name: pod
    address:
      socket_address:
        address: 0000:00

[2020-01-20 15:36] stevenzzzz commented on #9414
sorry for the late response, yes, the number of fragments has to be equal, noteworthy a fragment may not necessarily be a string, though for now a scope key only has string components.

[2020-01-20 15:36] stevenzzzz commented on #9414
/assign stevenzzzz

[2020-01-20 18:40] lavignes commented on #9708
@mattklein123 I think I put it aws stuff under `extensions/filters/http/common/aws` because I misinterpreted a comment #5546 and no one stopped me. :) It *is* kind of buried in the extension tree which makes it hard to find.

[2020-01-20 19:04] htuch commented on #9684
The `v3` message is now stable, so we can't make any breaking changes. We could put the `Node` message held in `LocalInfo` in `ServerInfo`, that should address this issue.

[2020-01-20 20:12] PiotrSikora opened #9749 "hystrix: stop using internal pseudo-headers to disable chunking."
Hystrix stats sink is currently using illegal `:no-chunks` pseudo-header to request codec to disable chunking. This request should be propagated to codec via proper APIs instead.

See discussion in #9093 and #9737.

[2020-01-20 21:13] mattklein123 commented on #9708
Not a big deal, just something worth cleaning up if someone is planning on using this code elsewhere.

[2020-01-20 22:38] rgs1 commented on #9708
@marcomagdy thanks for the notes! I am thinking something like (very WIP) #9751. LMK what you think.

cc: @lavignes

[2020-01-20 23:30] htuch commented on #9339
I believe this has already been fixed in https://github.com/envoyproxy/envoy-build-tools/pull/21, so closing.

[2020-01-20 23:30] #9339 closed

[2020-01-21 03:06] rgs1 commented on #9708
@marcomagdy @lavignes hmm, there's currently no RegionProvider that fetches region from instance metadata:

https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/http/common/aws/region_provider_impl.cc

Any reasons not to add one that gets it from `http://169.254.169.254/latest/dynamic/instance-identity/document` [0]?

[0] e.g.: `curl -s http://169.254.169.254/latest/dynamic/in

[2020-01-21 03:06] y-gupta commented on #9430
Does anyone have any opinions on if this is under the scope of what envoy wants to do or not?

[2020-01-21 03:12] lavignes commented on #9708
@rgs1 The main reason against pulling region from instance metadata was that it is static config. It can be passed in the bootstrap or a stock AWS env var. Plus some services do not exist in all regions. So cross-region calls are necessary. Making it configurable in the bootstrap is MVP to support these use-cases.

[2020-01-21 05:21] rossdylan commented on #7624
I've mostly completed the implementation in a [branch](https://github.com/rossdylan/envoy/commit/37ae5a96e437160e73f8274a10843f8171343327). I've still got a few places that need to be updated to work with my changes, and then add tests. I expect to have a preliminary PR ready in the next day or two.

[2020-01-21 08:49] #9747 closed

[2020-01-21 09:13] Gollam commented on #9416
Hi,
I've ran into the same issue. How did you solve it?

[2020-01-21 13:35] #7003 closed

[2020-01-21 14:57] qbrent opened #9756 "Rate limit: Extract multiple headers to a tuple of descriptors"
I am trying to extract a tuple of descriptors from different headers; but Envoy is only taking one of the headers and setting a single descriptor.

Is this expected?

I have tried both

[code]
and

[code]

Thanks,
Brent

[2020-01-21 16:17] tsaarni commented on #9359
The details of inotify events on K8s when kubelet updates a secret volume mount are following:

Here I have mounted a secret volume on `/run/secrets/certs/`.  Kubernetes sets up the contents of the directory like this:

[code]

So the actual files such as `/run/secrets/certs/envoy.pem` is a symbolic link to `/run/secrets/certs/..data/envoy.pem`.  Note that `/run/secrets/certs/..data/` itself is a

[2020-01-21 16:43] mattklein123 commented on #9756
Dup of https://github.com/envoyproxy/envoy/issues/9717. Please don't open duplicate issues.

[2020-01-21 16:43] #9756 closed

[2020-01-21 16:44] mattklein123 commented on #9430
@y-gupta As long as it's fully implemented in an extension(s) I don't think there will be a strong feeling one way or the other, but I doubt you are going to get much feedback on this from the community so you will likely have to do a proposal.

[2020-01-21 16:49] Jefle2005 commented on #9559
got it. Thanks!

[2020-01-21 16:49] #9559 closed

[2020-01-21 16:52] Jefle2005 opened #9759 "SNI info is hard requirement for SSL passthrough?"
*Title*: *SNI info is hard requirement for SSL passthrough?*

*Description*:
for the SSL passthrough VIPs, i know SNI information need to provided in client hello packet. but since we have some legacy partner which might use quite old lib like even java 1.5, is there some other option or workaround i can go? or is it the mandatory requirement

[2020-01-21 17:48] jamessynge opened #9761 "intro/arch_overview/operations/draining unclear about default"
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/operations/draining has a list of 4 bullets describing times when draining occurs:

* The server has been manually health check failed via the healthcheck/fail admin endpoint. See the health check filter architecture overview for more information.
* The server is being hot restarted.
* Individual listeners are being modified or remove

[2020-01-21 17:55] #9332 closed

[2020-01-21 18:27] junr03 commented on #9746
Thanks for reporting @lizan! I'll look at it today

[2020-01-21 18:58] rgs1 opened #9763 "AMP packager filter"
We are thinking of replicating/wrapping the logic in https://github.com/ampproject/amppackager as an Envoy filter. It consist of two steps:

1) cache friendly transformations (maybe done using something like https://github.com/ampproject/amppackager/tree/releases/transformer via a cgo bridge)
2) signed exchange signing (using either https://github.com/google/libsxg or the go sxg signer via the cgo

[2020-01-21 19:00] cpapazian commented on #9763
cc: @twifkak

[2020-01-21 19:13] htuch commented on #6589
Bumping priority, since today we still have normalization disabled by default.

[2020-01-21 19:14] htuch commented on #6589
Once we have this, we should ensure that normalization occurs by default.

[2020-01-21 19:20] zuercher commented on #9078
This is a warning printed by the package manager in the underlying docker image. ldconfig anticipates multiple glibc versions with a symbolic link from the common name (ld-linux-x86-64.so.2) to the latest installed version (which allows apps that require a specific version to load it directly). In this image, there's exactly one version and no symbolic link. I don't believe this is a bug.

[2020-01-21 19:20] #9078 closed

[2020-01-21 19:29] mattklein123 commented on #2690
I believe this is done.

[2020-01-21 19:29] #2690 closed

[2020-01-21 19:49] rmichela opened #9765 "Segfault when SDS call credential file is missing"
*Description*:
When Istio is configured to use the Secret Discovery Service, it configures Envoy as follows.
If the file `/var/run/secrets/tokens/istio-token` is missing or inaccessible, Envoy segfaults.

[code]

*Repro steps*:
1. Set up SDS similar to above.
2. Remove `/var/run/secrets/tokens/istio-token`

*Logs*:
<details>
<summary>Click to expand full log...</summary>
<p>

[code]

</p>
</detail

[2020-01-21 20:00] kyessenov commented on #9682
Can you point me to a binary and confirm this is a CDS request?

[2020-01-21 20:03] howardjohn commented on #9682
@kyessenov its from this PR on Istio side: https://github.com/istio/istio/pull/19266.

The above is the very first request we see. its possible we are somehow dropping a request, but I was logging right after `Recv` so it would be a pretty low level issue

[2020-01-21 20:09] kyessenov commented on #9682
I'm not seeing an issue with envoy on master, let me check istio build.

[2020-01-21 20:09] twifkak commented on #9763
I would also add a bit of request-side logic to validate the [`Accept`](https://github.com/ampproject/amppackager/tree/releases/packager/accept) and [`AMP-Cache-Transform`](https://github.com/ampproject/amppackager/tree/releases/packager/amp_cache_transform) headers and save that in the StreamInfo for the response filter.

[2020-01-21 20:19] kyessenov commented on #9682
Fetched latest envoy build from istio, and tested both ADS and CDS. I seem to get the node ID supplied. Can you help reproducing this?

[2020-01-21 20:28] mattklein123 commented on #9761
cc @ramaraochavali who implemented the drain_listeners admin option. From quickly trying to page this back in, I'm not sure that drain_listeners on the admin endpoint actually drains them. I think it just directly stops them? I can't remember if the intention was to have them drain, etc. but agreed the docs are broken right now and would definitely appreciate a doc fix.

[2020-01-21 20:50] cpakulski commented on #9695
@snowp Please assign it to me.

[2020-01-21 21:51] Stono commented on #4613
Could we please reopen this as it's an excellent use case?
For example; we wish to write a response handler which logs information about the request in error scenarios!

[2020-01-21 22:10] lizan commented on #7557
Do you have full Xcode installed? Command Line Tools only doesn't work. per #8148.

[2020-01-21 22:15] jsbucy commented on #9577
So the question is whether there's anything else besides smtp that needs this in which case maybe it's worth it to do the more general solution or if it's really just smtp, maybe a one-off is more appropriate.

[2020-01-21 22:18] jsbucy commented on #9133
Blocked on starttls #9577

It seems like just getting envoy to upgrade all of your incoming smtp traffic to tls-wrapped for intra-cluster would be a win since you'd be terminating tls from the public internet with boringssl in envoy.

[2020-01-21 22:54] derekargueta commented on #8571
Here's what I have so far, fleshing out a few details https://docs.google.com/document/d/1-9dbljCRC-xjzi8fFGXIFU_moIJWrtFAnnEyuAbUR_0/edit?usp=sharing

[2020-01-21 23:21] RahulRathodGitHub commented on #9738
Facing the same issue here.

[2020-01-21 23:26] htuch commented on #9359
Cool. I think (a) shouldn't have to be necessary. We should just have inotify watch on the filesystem subscription as one thing, and the inotify watch on the secrets as another.

With that in mind, we should be able to just watch for the events on the `data` dir. Ideally there is no need to modify the filesystem subscription file for that to take effect, since the filenames are always the same.

C

[2020-01-21 23:28] mattklein123 commented on #8838
Fixed by https://github.com/envoyproxy/envoyproxy.github.io/pull/139

[2020-01-21 23:28] #8838 closed

[2020-01-22 02:34] jmarantz opened #9768 "stats: new dynamic stat functionality has an issue with aliasing for StatNames, and its interaction with maps."
In the new system, there are multiple distinct StatName representations for the same string, which can lead to issues with map usage.

I discovered this by modifying source/common/stats/symbol_table_creator.cc to set the default to use real symbol tables, and found crashes in several tests due to unexpected map behavior. One of these was //test/extensions/filters/network/mongo_proxy:proxy_test . T

[2020-01-22 02:43] jmarantz commented on #9768
Two tests that fail even with the re-encoding workaround listed above:

//test/extensions/filters/network/thrift_proxy/filters/ratelimit:ratelimit_test FAILED in 3.3s
  /export/data/jmarantz/bazel-cache/_bazel_jmarantz/ae395351f4dffd6d28b6d1d8f7f4c65d/execroot/envoy/bazel-out/k8-fastbuild/testlogs/test/extensions/filters/network/thrift_proxy/filters/ratelimit/ratelimit_test/test.log
//test/extensi

[2020-01-22 03:13] htuch opened #9769 "Support vNalpha in protoxform and API boosting"
Our current workflow only supports v3 major as a target version, but folks will be wanting to merge alpha APIs ASAP (both cache and Wasm). This issue tracks adding in the requisite support for this.

[2020-01-22 03:27] jmarantz commented on #9768
The two other failures were unrelated (multiple real symbol tables in the tests due to non-mock IsolatedStatsStore instantiated from the test class.

[2020-01-22 06:15] ramaraochavali commented on #9761
Admin initiated drain actually does not drain and it just stops the listeners on workers https://www.envoyproxy.io/docs/envoy/latest/operations/admin#post--drain_listeners - so "default type" docs are confusing. Definitely appreciate a doc fix.

[2020-01-22 06:29] keyolk opened #9772 "segmentation fault from 1.13.0 binary built from centos docker image"
I got segmentation fault  with recent 1.13.0 binary which built with envoy-build-centos docker image.
In case of using envoy-build-ubuntu, it all works well.

Basically centos version also works,
but if I trying to use below flags, it happens
- --version
- --help

Used below command to build the binary
[code]

based on this commit
[code]

message I got
[code]

from gdb
[code]

my system info
[code

[2020-01-22 07:49] erikbozic commented on #9341
I tried out the new 1.13.0 release of envoy and saw these changes.
However now, _sometimes_, I get the timestamp in scientific notation (e.g.: `1.57967750526223e+15`).

The Go client I'm using is expecting something it can treat as `uint64`, however this value can only (safely) be interpreted as a float. (an issue about it in the Go repo: https://github.com/golang/go/issues/5562).

I haven't figur

[2020-01-22 08:14] steeling commented on #2092
We would like to use this for rewriting hostnames.

Our use case is for routing to specific pods within kubernetes statefulsets. We'd like to setup a an external hostname like 3.abc.xyz.com and reroute to -> myservice-3 in kubernetes.

We could even get by if there was a way to prefix match a VirtualHost and strip the unmatched prefix and add it as a header.

Is there another way to do this that I

[2020-01-22 11:06] dio commented on #9341
Thanks @erikbozic for reporting. We should track this one. I’ll try to take a look.

[2020-01-22 14:10] qbrent commented on #9756
Sorry; I completely forgot I had already raised this. Thanks for de-duping me.

[2020-01-22 14:19] #9344 closed

[2020-01-22 14:59] twghu commented on #9328
Looking at this
- review existing use of memcpy
- modify to use macro
- partial buffer copies are a candidate for using MemBlockBuilder.

[2020-01-22 16:12] qbrent commented on #9716
So I have ended up with

[code]

And then I can read it with

[code]
Those logs work; and I'm setting the value into a header with

[code]

And pass to the ratelimit service with

[code]

[2020-01-22 16:12] #9716 closed

[2020-01-22 16:13] klarose commented on #9396
I'm planning on trying this out in my own service today. I wouldn't mind confirming my understanding of the solution.

@dio I'm guessing the difference in your config compared to that in the main issue post is that you are retrying on http 5xx, rather than grpc error codes. Presumably this fixes the problem because a failure to connect to the upstream would give a 5xx, and not a grpc error code, s

[2020-01-22 16:19] #9333 closed

[2020-01-22 16:30] qbrent opened #9776 "Lua script: Reading from dynamicMetadata"
I have some dynamicMetadata set

**key**: envoy.filters.http.jwt_authn
**fields**: jwt_payload.usr

The below produces the following logs

[code]

[code]

But I can't work out the correct syntax to read the value for that filter / key / fields directly

Trying to follow - https://www.envoyproxy.io/docs/envoy/v1.12.2/configuration/http/http_filters/lua_filter.html?highlight=dynamicmetadata#id4
I tr

[2020-01-22 17:17] mattklein123 commented on #9761
@jamessynge @ramaraochavali would appreciate a doc update from one of you. Thank you!

[2020-01-22 17:19] #9335 closed

[2020-01-22 17:22] qiwzhang commented on #9716
@qbrent thanks for sharing your config.  It will definitely help others.

[2020-01-22 18:13] cpapazian commented on #9763
@twifkak are the optimizations/transformations in https://github.com/ampproject/amppackager/tree/releases/transformer the same as those implemented in https://github.com/ampproject/amp-toolbox/tree/master/packages/optimizer? another option is to implement the cache friendly optimizations in our frontend web server as we render the AMP HTML, and only do the SXG packaging/signing in the envoy filter

[2020-01-22 18:19] #9353 closed

[2020-01-22 18:35] jmarantz commented on #9768
Strategy 1 in the description looks like the right one. It does require some more test-helpers so that the proper StatName structure can be conveniently specified in tests. Unit tests that do map lookups of stats will have to know which segments of the stat-name are dynamically created, which seems reasonable in the 3 tests for which this matters.

[2020-01-22 18:43] jaegchoi opened #9778 "Remove x-envoy-decorator-operation response header?"
Is there a way to remove the x-envoy-decorator-operation header from the response to the client? I'm not directly setting that header anywhere, I assume it is being set by Envoy using the decorator value. I've tried setting the response_headers_to_remove setting in the route_config but that has had no effect. Here is the route_config I am using:

          route_config:
            name: xxxx

[2020-01-22 18:43] beriberikix commented on #9514
As another data point, IoT protocols also rely on tokens for routing - and other things, like request/response matching, caching and congestion control. [CoAP](http://coap.technology/) (rfc7252) is based on UDP and one I'm particularly interested in seeing work with Envoy. The way CoAP uses tokens is slightly different than the way Mark/QUIC is describing (it's more a request ID) but hopefully hel

[2020-01-22 19:01] twifkak commented on #9763
@Gregable @honeybadgerdontcare re: transformed AMP validation

They are similar but not exact. Two important differences:
 - amppkg rewrites various subresource URLs to point to the Google AMP Cache ([source](https://github.com/ampproject/amppackager/blob/e4bf0430ba152cfe82ccf063df92021dfc0f26a5/transformer/transformers/urlrewrite.go#L61)) and optimizer doesn't; this is signified by the `<html tra

[2020-01-22 20:27] dcarrigerac opened #9782 "Support for PROXY protocol source IP?"
The Envoy documentation states (https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/listener_filters/proxy_protocol) that "In this mode, the downstream connection is assumed to come from a proxy which places the original coordinates (IP, PORT) into a connection-string. Envoy then extracts these and uses them as the remote address."

However, PROXY protocol headers (https://www.hapr

[2020-01-22 21:17] jmarantz opened #9784 "vhds: tsan failure in test/integration/vhds_integration_test"
I am not too familiar with VHDS, but i testing #9774 locally I ran into this. It's possible the PR I was testing was responsible but it seems likely to be unrelated, given the stack trace.

[code]

[2020-01-22 21:17] stevenzzzz opened #9785 "xds: truncate the error message of MessageUtil::Validate()"
**Bug Template**

*Title*:truncate the error message of MessageUtil::Validate(), to get GRPC response error message size smaller than GRPC trailers/headers size limit.

*Description*:

https://github.com/grpc/grpc/blob/master/src/core/ext/transport/chttp2/transport/chttp2_transport.cc#L1540

*Repro steps*:

[2020-01-22 21:18] stevenzzzz commented on #9785
/cc  AndresGuedez

[2020-01-22 21:46] lambdai commented on #9682
CC: @lambdai

[2020-01-22 21:51] stevenzzzz commented on #9785
/assign stevenzzzz

[2020-01-22 23:10] sunit-saavn opened #9789 "Upstream connections don't increase beyond a certain point"
*Title*: *Redis Cluster - Upstream connections don't increase beyond a certain point*

*Description*:
I am trying to use envoy as a connection pooler for a redis cluster. To load test the setup I am using redis-benchmark to fire concurrent requests. The problem is even after setting up >5000 concurrent connections on redis-benchmark the number of upstream connections opened (as reported by /stats)

[2020-01-22 23:49] mattklein123 commented on #9772
cc @lizan

[2020-01-22 23:51] mattklein123 commented on #9778
IIRC there is no way to do this today. cc @objectiser

[2020-01-22 23:56] mattklein123 commented on #9782
Yes we parse both source and destination: https://github.com/envoyproxy/envoy/blob/d0f7301f7482f45434e3c709f2bc1a5900d871eb/source/extensions/filters/listener/proxy_protocol/proxy_protocol_header.h#L27-L44

[2020-01-22 23:58] mattklein123 commented on #9784
@dmitri-d PTAL

[2020-01-23 00:08] mattklein123 commented on #7869
After thinking about this for a while I'm going to close this for now. It feels too specific to me to build an override like this. I think we either don't do this at all or potentially cover this via a generic merging concept which is being discussed.

I also think that for Lyft's specific use case a type of "overlay load balancer" which can overlay LB information on top of EDS may actually be a c

[2020-01-23 00:08] #7869 closed

[2020-01-23 01:37] Jeskz0rd commented on #8167
Any suggestions for a workaround? :thinking:

[2020-01-23 06:31] sriduth commented on #2967
Hello everyone! A quick update: I've implemented the access log formatter using antlr [here](https://github.com/sriduth/envoy/commit/6053d5bae0567e69ccf0f9f042c48550845a09a1).

To compare the generated parsers, I will try to implement a benchmark  for https://github.com/mysql/mysql-workbench/tree/8.0/library/parsers/grammars based on what we have here: https://github.com/envoyproxy/sql-parser/tree

[2020-01-23 08:12] steeling opened #9793 "Envoy routing to statefulsets"
Does envoy support anyway of mapping a URL to a k8's statefulset, based on the domain name.

An example would be a rule that could translate
`X.my-domain.com -> X.myservice.default.svc.cluster.local`

[2020-01-23 08:18] steeling opened #9794 "Multiple validation_context's"
Is there a way to setup multiple validation_context's with Envoy, particularly for TCP traffic not HTTP?

We'd like to provide a single URL, and use mTLS w/ ~3-10 other external systems. We can't influence the other systems to set unique headers, domains, SNI, or anything else.

We could associate their CA certs with their hostname/IP to match on based on that, or we could eat the cost of trying e

[2020-01-23 08:20] steeling commented on #9793
also to note that this is TCP traffic, not HTTP

[2020-01-23 08:27] oschaaf opened #9795 "Caching monotonic time"
To help achieve a consistent view of "now" across different components of the system, it might be nice to have a time source which returns a cached copy of monotonic time when "now" is queried, which Envoy would then update once per event loop cycle. This may help avoid subtle edge cases caused by small differences in perceptions of "now" when components query the clock independently.

[Similar pr

[2020-01-23 09:30] objectiser commented on #9778
@jaegchoi If you remove,
[code]
from your route config, that should do it. This is specifying the span name/operation to be used in the tracing data produced by the envoy proxy handling the service request - and then the response header is returning the same information to the envoy proxy handling the client side of the request, so that it can use the same span name/operation in its tracing data -

[2020-01-23 09:50] twghu commented on #6589
Looking at this along with https://github.com/envoyproxy/envoy/issues/6588

[2020-01-23 10:03] twghu commented on #6589
Work on finding a library for normalisation progessed on https://github.com/envoyproxy/envoy/issues/6588 seems tied to the solution for this.  Will monitor and action pending outcome of same.

[2020-01-23 12:29] catper opened #9796 "gRPC message conversion seems dependent on config cluster specification"
*Title: gRPC message isn't always converted*

I've created a simple gRPC greeting service and am running it on minikube together with an Envoy config based on the gRPC-JSON transcoder config reference (https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/grpc_json_transcoder_filter) anda am seeing some strange behaviour.

*Config*
[code]

With this setup, routing doesn't wor

[2020-01-23 12:38] jusmaki opened #9797 "HTTP/1.0 Connection: keep-alive header should not be removed from response"
*Title*: *HTTP/1.0 Connection: keep-alive requests are not processed correctly*

*Description*:
The envoy-proxy removes the connection-header for HTTP/1.0 clients causing some HTTP/1.0 clients like apache-bench to stuck when keep-alives are enabled because the envoy-proxy does not copy the connection -header value from the client request to the response.

If envoy is configured to support HTTP/1.0

[2020-01-23 12:59] dcarrigerac commented on #9782
Thanks @mattklein123 - forgive my ignorance, but how would I configure Envoy to then use that IP as the source IP when talking to a remote destination?

ie, 192.168.1.100 (my client) talks to 10.20.30.40 (primary IP of the Envoy server) and has a PROXY protocol header of, say, 10.0.0.1 172.217.13.110. The IP 10.0.0.1 is local to the Envoy server as well, how would I get Envoy to use that IP when c

[2020-01-23 15:09] asraa opened #9798 "Automatic creation of the HTTP Filter Fuzzer dictionary"
The HTTP Filter fuzz target (https://github.com/envoyproxy/envoy/issues/9401, https://github.com/envoyproxy/envoy/pull/9400), ingests an `HttpFilter` protobuf to fuzz. The mesasge contains an embedded `google.protobuf.Any` that encodes the appropriate filter configuration protobuf as a _serialized byte string_.

In order for the fuzz engine to locate interesting (i.e. valid) `HttpFilter` messages

[2020-01-23 16:54] nezdolik opened #9800 "[question] One Envoy instance keeps stale IP set while successfully (?) getting updates from XDS"
We run pool of Envoys that talk to control plane. One instance is showing stale IPs for some of the clusters, we think it is for clusters that had membership updates. All other Envoy instances are up to date and show the same version of hashed config for those clusters:
Normal Envoys:
`cluster_manager.cds.version: 7276718886306672571
`
Suspicious instance:
`cluster_manager.cds.version: 86341127825

[2020-01-23 17:08] mattklein123 commented on #9782
See https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/other_features/ip_transparency

[2020-01-23 17:10] alyssawilk commented on #3819
I think the final fix was solid, and we forgot to close this one out.  Thanks!

[2020-01-23 17:10] #3819 closed

[2020-01-23 17:48] #9587 closed

[2020-01-23 17:53] #9761 closed

[2020-01-23 17:54] rshriram commented on #2967
I now remember the other reason for going to the bison thing.. the license in the mysql parser https://github.com/mysql/mysql-workbench/blob/8.0/library/parsers/grammars/MySQLLexer.g4#L4
I dont know the implications it has on our license (apache). Would be good to get some legal advice. If its okay to do so, then we are good as we can happily skip the custom bison/flex with something official from

[2020-01-23 18:17] mattklein123 commented on #9795
See `EnvoyQuicClock::ApproximateNow()`. There was already some discussion of moving this into the base dispatcher / time source so this sounds reasonable to me. cc @jmarantz @danzh2010

[2020-01-23 18:24] cpapazian commented on #9763
cc: @nainar @jeffjose

[2020-01-23 18:38] jaegchoi commented on #9778
@objectiser We use the decorators to differentiate our different spans in Jaeger. We would like to keep the decorator for the use of tracing, but remove it from the response headers to the client after Envoy has sent all the tracing information to the collector.

If this is not yet possible, could I make this a feature request? We would like to hide all knowledge of Envoy being used from the clien

[2020-01-23 18:51] htuch commented on #9769
@mattklein123 I've started to look into this, and it gets pretty complicated, pretty quickly, when we have multiple alpha and major versions coexisting. For example, do we allow `v3alpha` to reference another `v3alpha` message when a `v3` message exists? What do we do when `v2alpha` and `v3alpha` get frozen to `v2` and `v3`? Do we preserve the existing messages etc.

WDYT about moving to a model w

[2020-01-23 18:55] mattklein123 commented on #9769
Sure that's fine, as long as we have some way of agreeing that a proto can be changed in a breaking way. The annotation approach has the benefit of also allowing automatic documentation production along these lines.

[2020-01-23 19:02] lizan commented on #9769
I thought the plan was boosting `v4alpha` and add new packages in `v4alpha` instead of `v3alpha`?

What's the case for:

If there's a v3 message equivalent why there will be also a v3alpha message?

[2020-01-23 19:16] htuch commented on #9769
@lizan imagine we are adding the cache filter today. It wants to go into `v2alpha`, since it's still experimental. It also wants to be in `v3alpha` potentially. Then, at some points it gets frozen to `v2` and `v3`.

I'm thinking what we really want is for these "alpha" protos to be part of the respective major version, just to be in a well documented "stuff might change" status.

[2020-01-23 19:28] lizan commented on #9769
@htuch what blocks it to be `v3alpha`, and when we boost `v4alpha` and `v4` it could be stabilized then? I don't see any reason it need to be `v2alpha` especially it's an extension config. And there's still no case that "v3alpha to reference another v3alpha message when a v3 message equivalent exists"?

[2020-01-23 19:54] htuch commented on #9769
Folks want to continue to add to the v2 API today. They also will want this v3alpha APIs to be part of v3 when they stabilize.

[2020-01-23 20:35] lizan commented on #9769
It is totally fine to include a filter config from `v3alpha` in v2 Listener/HCM, no?

[2020-01-23 20:47] htuch commented on #9769
@lizan what if it references v3 core data types which also exist in v2? E.g. things in `envoy.type`. We are then violating ODR in some sense. This might technically work at the implementation level, but how do we represent this in documentation and explain to folks how this works? Also, what if a management server wants to start serving this proto but doesn't have any v3 base support yet?

[2020-01-23 20:52] dcarrigerac commented on #9782
I looked through the IP transparency docs and it didn't seem to match my use case. The upstream_bind_config does work from my testing, however.

Can I reference the PROXY protocol source IP in my Envoy configuration file? If so, how do I reference that variable?

[2020-01-23 21:01] lizan commented on #9769
@htuch Hmm, it doesn't violate ODR since at implementation level they are all `v3` now even if you define a `v2alpha` proto at C++ level (specifically to extensions). So the only real issue is how to represent in documentation until we make all v3 docs available, right? My take is that we will have to do that by the next release so it isn't a real blocker.

What do you mean by "v3 base support"? I

[2020-01-23 21:06] htuch commented on #9769
I mean the management server is still using `v2` `envoy.type` instead of `envoy.type.v3`.

The basic problem we're trying to solve is that we want to allow some developer to add a new filter, e.g. cache, to the APIs today, without forcing management servers to have to move to v3 types (until EOQ1).

[2020-01-23 21:12] lizan commented on #9769
@htuch My take of that ODR is that doesn't apply over Any boundary, I think we discussed v3 Listener/HCM contains v2 filters case before as well, and that's one of the motivation of TypedStruct so each Any can be versioned differently.

[2020-01-23 21:34] htuch commented on #9769
I think it's fine to allow v3 to occur in v2, but not to force it. Here's a few scenarios:
1. We allow folks to add protos to `v2alpha`, `v3alpha`, `v4alpha`. If we do this, they need to be able to add to the earlier version they want to support, we need `protoxform` to support chaining through the upgrades in an alpha world, independentish of what is going on for major version, etc. I think this

[2020-01-23 21:52] lizan commented on #9769
After the grace period that we still allow addition to v2 (Q2?), we won't allow either `v2` nor `v2alpha` in either scenario right? So there will be no real difference between 1 and 3 at that time. I think we need the `unstable` annotation at package level anyway for either 1,3,4.

The question is whether we want to force management servers to become aware of any referenced v3 types in new extensi

[2020-01-23 22:04] htuch commented on #9769
OK, I will move ahead with the annotation.

Re: awareness of v3 in the grace period, my main concern is over non-trivial protos. Things like metadata matchers etc. have a bunch of code generation behind them, so I think it could have big impact if we force this right away in order to consume new extensions. But, I think I'd be convinced either way on a case-by-case basis. It would be good to agree

[2020-01-23 22:10] snowp opened #9809 "Config validation without secret validation"
Currently when running Envoy with `--mode validate` it will attempt to load and validate the contents of the secrets referenced by the config. While this might be useful when the config is validated in the context in which Envoy will ultimately run, it makes setting up config validation as part of a CI pipeline tricky due to having to generate various test secrets.

A mode that validates that the

[2020-01-23 22:22] lizan commented on #9769
Did we make big changes between v2 and v3 for those types except packaging? I guess some sort of `wirecast` will work in management server as well?

[2020-01-23 22:45] htuch commented on #9769
Yes, some management servers can do this, but I think we don't want to force that yet. Even if the changes are trivial, there's a lot of boiler plate in some languages (I think Go is one of the more problematic).

[2020-01-23 22:46] lambdai opened #9811 "proposal: api, extend BindConfig to multiple addresses"
*Description*:
For certain clusters I want to [bind local ip address when I create an upstream connection](https://github.com/envoyproxy/envoy/blob/ac88316892cd47b6a9b58e3736e20e8863cd0d27/api/envoy/api/v2/cluster.proto#L700).
It worked well but not in ipv4v6 dual stack.

I wish I could have a single cluster config, when I recreate the upstream connection with ipv6 endpoint, cluster impl binds loc

[2020-01-23 23:07] htuch commented on #9087
@jpeach `-z now` is addressed in #9812.

[2020-01-24 00:00] rsmck opened #9815 "Custom request_headers_to_add Authorization header being ignored"
When setting an Authorization header with `request_headers_to_add` to authenticate against the application behind the proxy this works as expected unless an Authorization header is passed by the user (e.g. in response to ext_authz) when it overwrites the header specified in `request_headers_to_add`

Example config below, I expect the value of the Authorization header to be sent to the backend on h

[2020-01-24 00:19] htuch commented on #6589
@twghu related but not dependent, I think we can add in the controls with the existing `PathUtil` interface.

[2020-01-24 00:36] snowp commented on #9793
This kind of mapping is possible with Envoy, but Envoy itself doesn't have any knowledge about Kubernetes. You'll probably want to look into control planes that integrate Kubernetes with Envoy, for example Istio or Kuma.

[2020-01-24 00:38] snowp commented on #9793
If you're trying to do this kind of mapping on your own you'd just need to generate a virtual host with the desired domain and route that to a cluster that specifies the target (using STRICT_DNS would probably be the easiest).

[2020-01-24 00:43] amre-abb opened #9816 "proposal: add client id to request metrics emitted by kafka filter"
*Title*: Add kafka client id to request metrics emitted by the kafka filter.

*Description*:
Currently, the kafka filter emits metrics with the following format:
`kafka.<stats_prefix>.request.<request_type>`, i.e., values aggregated across all clients.

A more general approach would be to include each request's client ID so one could parse these metrics and create tags.

Here is an example of such

[2020-01-24 00:46] amre-abb commented on #9816
I have a draft PR for such a change since this functionality (ability to gather per-client broker metrics) would be really helpful for my experiments with kafka filter.

[2020-01-24 01:36] #4685 closed

[2020-01-24 03:28] htuch commented on #2967
@caniszczyk would be great to get CNCF license help with ^^ if you can tag the right person. Thanks.

[2020-01-24 03:40] #9342 closed

[2020-01-24 05:31] sriduth commented on #2967
I found the link to the MySQL workbench grammar from here: https://github.com/antlr/grammars-v4/tree/master/sql/mysql. There is an alternative grammar for MySQL 5.{6,7} which has an MIT license.

Blog post by the company that made the MIT licensed parser: http://blog.ptsecurity.com/2018/01/mysql-grammar-in-antlr-4.html

[2020-01-24 09:58] objectiser commented on #9778
@jaegchoi Its not currently possible, so would need to be a feature request.

@mattklein123 Could this be labelled as feature/enhancement?

[2020-01-24 11:21] asze70 opened #9819 "/reset_counter does not reset host statistics"
*Title*:  /reset_counter does not reset host statistics

*Description*:
During troubleshooting if someone  collects  statistics from "/stats" and from "/clusters" then the output may show difference if "/reset_counter" was used beforehand.

It seems so that "/reset_counter" does not reset the host statistics.

It is desirable to keep those stats in sync.

[2020-01-24 16:32] fabriziomello commented on #9107
Hi @ahachete, @dio and @mattklein123,

After some time since last discussion now we have a very first version of a working PostgreSQL Network Filter. We know it lacks of documentation, automated tests, code refactoring and other things I didn't realize yet.

Here is the code I implemented after @dio help me (thanks a lot man) and created a separated repo to us start to work on this: https://github

[2020-01-24 16:40] #8690 closed

[2020-01-24 17:17] curiouserrandy opened #9821 "Envoy should register invalid HTTP as an attempt to send a request"
*Title*: Envoy should register invalid HTTP as an attempt to send a request

*Description*:
If a malformed HTTP1 request is sent (e.g. No headers, just "a\r\n\r\n") the HTTP1.1 code will reject it (https://github.com/envoyproxy/envoy/blob/master/source/common/http/http1/codec_impl.cc#L497) and send a 400 without creating a ConnectionManagerImpl::ActiveStream.  This means that the stats around tota

[2020-01-24 17:19] lizan commented on #9769
We already started the clock deprecating v2 so I'm not keen to keep more compatibility during the grace period than we have to. For new extensions I'm inclined to have the config in v3(alpha) only and have management server do the wirecast for the new extension.

[2020-01-24 17:19] tsaarni commented on #9359
Setting up separate inotify watch for the certificate and key files is a great idea!  I should have thought of that myself :) Thanks!

I added a new watch to SdsApi class which is used for the file resources https://github.com/envoyproxy/envoy/compare/master...Nordix:issue-9359

But the inotify target is still unresolved pain.  It did not help to refer the files by `..data` path.  The reason is th

[2020-01-24 17:33] JulianGriggs opened #9822 "extauthz can't send raw bytes when using with_request_body"
*Description*:

Hello! I'm trying to use the `extauthz` filter with the `with_request_body` option and am running into issues. Specifically, I am trying to forward the body of an incoming GRPC request to an external auth service (so that it can decode the GRPC body and perform auth as necessary). When I do this, I am seeing the following error in the envoy logs:
[code]

I expected the `extauthz` f

[2020-01-24 18:02] #9746 closed

[2020-01-24 18:05] jaegchoi opened #9823 "Example for overriding use of deprecated features?"
This section here describes the use of the runtime configuration to enable the use of deprecated features:

 https://www.envoyproxy.io/docs/envoy/latest/configuration/operations/runtime#using-runtime-overrides-for-deprecated-features

Can anyone provide an example of this? Specifically I'd like to be able to use the Zipkin tracing config with HTTP_JSON_V1 for a little while until we can update our

[2020-01-24 19:12] jyotimahapatra commented on #9246
@mattklein123 I was [grep](https://github.com/envoyproxy/envoy/search?q=x-envoy-immediate-health-check-fail&unscoped_q=x-envoy-immediate-health-check-fail)'ing for `x-envoy-immediate-health-check-fail` and could not find a place in code where it's set.
Also, i performed an experiment:

[code]

I supposed that in the above described sequence we would get back `x-envoy-immediate-health-check-fail`.

[2020-01-24 20:07] mattklein123 commented on #9811
At a high level this makes sense to me. @jrajahalme any thoughts on this?

[2020-01-24 20:11] mattklein123 commented on #9816
@adamkotwasinski PTAL. My only concern here would be cardinality explosion.

[2020-01-24 20:13] dmitri-d commented on #9784
looking into it...

[2020-01-24 20:22] mattklein123 commented on #9821
I agree that we should revisit this short circuit logic for a variety of reasons, not only this one. I think in the future we also want these error responses to be customizable which would be a lot easier if the flow went through the HCM somehow. With that said, I don't think this will be trivial to solve but it's worth it IMO. cc @alyssawilk for further comment.

[2020-01-24 20:23] mattklein123 commented on #9822
Yes this is a problem and we should fix it. However, it will require a deprecation cycle as we can't just change the type on the current field. Marking help wanted.

[2020-01-24 20:26] mattklein123 commented on #9823
@htuch can you potentially weave this into the version upgrade FAQ that you are building? cc @alyssawilk also in case she prefers to do this after you build the structure. I agree this is something we have to better document.

[2020-01-24 20:30] adamkotwasinski commented on #9816
The number of metrics needs to have an upper bound (it could be filter's metrics configuration property).
The Kafka clients can pick absolutely random client-ids, otherwise getting multiple client requests over time would cause metrics explosion.

[2020-01-24 20:40] adamkotwasinski commented on #9816
Same concerns apply to other dimensions where one would want to slice the traffic: topic, topic+partition, group-id (for fetch requests).

[2020-01-24 21:17] htuch commented on #9769
@lizan current advice is to add to v2/v3 at the same time in https://github.com/envoyproxy/envoy/blob/master/api/STYLE.md#adding-an-extension-configuration-to-the-api. This is changeable, I'd like to get @mattklein123's take with his "think of the management server operators" hat on.

[2020-01-24 21:26] mattklein123 commented on #9769
For brand new extensions it probably doesn't matter, so I would just go with whatever is easiest. I don't have an issue with v2/v3 as long as we have the annotation in place that says we can change the protos and they are unstable.

[2020-01-24 21:27] jrajahalme commented on #9811
Seems reasonable, but the policy for source address selection should be well defined. Address family (v4/v6) is clear enough, but the second case implies multiple addresses of the same family. One solution is to try them in order until a bind succeeds? Since a single bind fail will not be a hard fail anymore, maybe it would be valuable to let the stack pick the address and port in case all the pro

[2020-01-24 21:45] howardjohn opened #9827 "Make "gRPC config stream closed" more descriptive"
*Title*: Make "gRPC config stream closed" more descriptive

*Description*:
For various reasons, we may end up with `gRPC config stream closed` logs when xDS connections are lost. It would be useful to add more context here. I am not sure what is available here, but I would at least like to see "SDS config stream closed" or "ADS config stream closed" to distinguish between those two to facilitate d

[2020-01-24 22:39] amre-abb commented on #9816
Thanks @adamkotwasinski  and @mattklein123, it totally makes sense. However, kafka relies on client-id, for example, for rate limiting (https://cwiki.apache.org/confluence/display/KAFKA/KIP-124+-+Request+rate+quotas) so in a real deployment these IDs should not be completely arbitrary (and finite). It could be a configurable option not enabled by default perhaps?

[2020-01-25 00:16] Chuongv opened #9831 "HTTP1 proxy HTTP2 grpc trailers dropped when content-length is present"
## Envoy proxy http grpc unary calls with content-length, trailers are dropped when encoding http1

*Description*:

I have the following setup where the downstream client is http1 and envoy is proxying a http2 unary request
[code]

With `enable_trailers` we can support this without the [http1 grpc bridge](https://www.envoyproxy.io/docs/envoy/v1.5.0/configuration/http_filters/grpc_http1_bridge_filt

[2020-01-25 00:19] snowp commented on #9827
This seems reasonable. Let me put up a quick PR

[2020-01-25 01:19] steeling commented on #9793
Ah, to clarify we would like to do this without specifying each domain individually, such that we could set up autoscaling.

It would be nice to use a regex rule to take (*).<my-domain> and use the capture group for the result.

It's ok if we had to do this in multiple steps with one filter that extracts the data, and places it in dynamic_metadata, and another that routes on that info

[2020-01-25 03:15] toddmgreer opened #9833 "CacheFilter: Fully parse and handle request and response cache-control"
The cache-control header ([RFC7234§5.2](https://httpwg.org/specs/rfc7234.html#header.cache-control)) supports a long list of directives, all of which need to be understood by CacheFilter (#7198). Currently, CacheFilter only parses and handles the _private_, _no-cache_, _max-age_, and _s-maxage_ response directives, and ignores the rest. Some directives (_max-stale_, _min-fresh_, _no-transform_, _o

[2020-01-25 03:31] toddmgreer opened #9834 "CacheFilter: Support customizing whether to cache responses with no cache-control directives"
[RFC7231§6.1](https://httpwg.org/specs/rfc7231.html#overview.of.status.codes) permits caching some responses to GET/HEAD requests without explicit cache-related headers, depending on the status code. To prevent unpleasant surprises, it should be configurable whether CacheFilter (#7198) caches such responses or whether it requires a positive indication of cacheability.