[2018-08-14 02:58] mattklein123 commented on #4140
cc @objectiser

[2018-08-14 03:01] mattklein123 commented on #4139
Code is loaded/JITd once per worker thread and then reused for all requests.

[2018-08-14 03:35] #4112 closed

[2018-08-14 04:03] sirajmansour commented on #4139
Thanks for your prompt response.

[2018-08-14 04:51] #3993 closed

[2018-08-14 08:47] objectiser commented on #4140
I think this is best answered by @rnburn and @isaachier.

@isaachier Will a release including https://github.com/jaegertracing/jaeger-client-cpp/pull/120 fix this?

[2018-08-14 10:55] isaachier commented on #4140
Ya I'll try to get one out today.

[2018-08-14 11:14] CamiloGarciaLaRotta commented on #2441
Just a heads up:

The [latest commit](https://github.com/envoyproxy/envoy/commit/f9cc4e2c3916d1994514d22cfa2eb901589d4726) to [envoy/config/filter/README](https://github.com/envoyproxy/envoy/blob/master/api/envoy/config/filter/README.md), which is pointed to in the `Attention` box in the [TCP proxy documentation](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/tcp_proxy/v2

[2018-08-14 11:34] isaachier commented on #4140
Done. See https://github.com/jaegertracing/jaeger-client-cpp/releases/v0.4.2.

[2018-08-14 11:38] BenPope commented on #4140
I was building this earlier, envoy currently (1.7.1) uses opentracing 1.4.2. Jaeger now uses opentracing 1.5.0. Envoy failed to load the so.

I'll investigate further.

[2018-08-14 13:46] BenPope commented on #4140
I had previously built jaeger-client-cpp v1.4.1 against opentracing-cpp v0.4.2 and had been seeing segfaults.

I updated envoy to use opentracing 1.5.0, libjaegertracing_plugin.so v1.4.2 is successfully loaded, but I'm still getting segfaults.

I'm trying to get a sensible core dump.

[2018-08-14 14:37] jmarantz opened #4142 "QueryParams should be a real class with correct parsing & serialization"
*Description*:

See TODO in https://github.com/envoyproxy/envoy/blob/master/include/envoy/http/query_params.h

This may help ultimately with https://github.com/envoyproxy/envoy/issues/2098 , though I personally don't understand the context for that particular enhancement request.

@rotan96 may look at this.

[2018-08-14 16:27] isaachier commented on #4140
Any luck @BenPope?

[2018-08-14 16:34] BenPope commented on #4140
Not yet.  Previous core dump was full of `??`, I suspect the stack was trashed. I'm trying to build with asan, but struggling to get envoy to run, seems to be an issue with `ld`. Strangely it will run after I've done `apk add --no-cache install bash`,

[2018-08-14 16:36] isaachier commented on #4140
I have had issues in the past with missing symbols/dynamic libs not found. You can try `ldd libjaegertracing_plugin.linux_amd64.so` and post the output.

[2018-08-14 16:36] alyssawilk commented on #4092
summarizing discussions at the community meeting, we're lean towards using http parameterized lists
https://tools.ietf.org/html/draft-ietf-httpbis-header-structure-06#section-3.3
as fairly readable, semi-colon delimited and standards compliant.

[2018-08-14 16:45] gsagula commented on #4124
@michalholecek Thanks for reporting it.

`and tell the check request to return response->status as CheckStatus::Error instead of CheckStatus::Denied`

@dio If I remember correctly this logic has been implemented before my modifications, but I think the original intention here was to return `denied` whenever the authorization server gives a code that is not `OK` unless `failure_mode_allow` is true.

[2018-08-14 17:27] #3930 closed

[2018-08-14 17:41] alyssawilk commented on #4135
@markatou would you be up for taking a look at this?

I think the link in the ASSERT fail* should probably help on the deflaking front, and the instructions for running many times under load (in the same doc) should verify it's fixed.  If not feel free to ping me for help!

*https://github.com/envoyproxy/envoy/blob/master/test/integration/README.md#unparented-upstream-connections

[2018-08-14 17:47] alyssawilk opened #4146 "IpVersions/RoleBasedAccessControlNetworkFilterIntegrationTest.Allowed/IPv4 is flaky"
I've seen a couple of flakes on CI, all of the form

[ RUN      ] IpVersions/RoleBasedAccessControlNetworkFilterIntegrationTest.Allowed/IPv4
test/extensions/filters/network/rbac/integration_test.cc:92: Failure
Expected equality of these values:
  1U
    Which is: 1
  test_server_->counter("tcp.rbac.allowed")->value()
    Which is: 0
[  FAILED  ] IpVersions/RoleBasedAccessControlNetworkFilterIntegr

[2018-08-14 17:56] mattklein123 commented on #4128
@donbowman this is a meaty topic and related to a few other open issues we have. I will respond hopefully later today or Thursday. cc @PiotrSikora and @ggreenway also.

[2018-08-14 18:12] yangminzhu commented on #4146
Thanks for the report alyssawilk, let me try to fix this.

[2018-08-14 18:26] zuercher commented on #3997
I poke around this a bit yesterday evening and it seems to be a race in the AddRemoveListenerTest between the RawConnectionDriver making a connect attempt and the actual listener socket being closed.

It seems like sometimes the listener socket close concurrently with the RawConnectionDriver's connect attempt. The RawConnectionDriver's ConnectionImpl sees a successful connection (write event trigg

[2018-08-14 18:27] markatou commented on #4135
I'm working on it.

[2018-08-14 20:39] taion809 commented on #4052
I think there are some good ideas we could steal from some other projects.

For example:
- Istio :: https://github.com/istio/istio/blob/master/release/create_github_release.sh
- Kubernetes :: https://github.com/kubernetes/kubernetes/tree/master/build
- Etcd :: https://github.com/coreos/etcd/tree/master/scripts
- Jaeger :: https://github.com/jaegertracing/jaeger/tree/master/scripts/travis

I think

[2018-08-14 21:00] alyssawilk commented on #3997
This was failing enough today I'd back disabling first and debugging later, if anyone is willing to own debug

[2018-08-14 21:05] #4146 closed

[2018-08-14 22:05] xmm1989218 commented on #4140
yesterday I try to fix it, use envoy master, then change opentracing to 1.5.0 and use jaeger-client-cpp master(depend on opentracing 1.5.0), will no segfault, but I met a new problem, "param: 1" which in jaeger-native-tracing/front-envoy-jaeger.yaml will parsed as string, finally in envoy log will see "invalid configuration .... at line". it's so strange. I run tests use jaeger-client-cpp, it can

[2018-08-14 22:06] #3966 closed

[2018-08-14 22:08] xmm1989218 commented on #4140
few moments before, I use envoy 1.7.1 and jaeger-client-cpp 0.4.2, it occur segfault

here is coredump stack:

[Current thread is 1 (Thread 0x7f85a6a9f380 (LWP 3193765))]
(gdb) bt
#0  0x00007f85a6271269 in raise (sig=11) at ../sysdeps/unix/sysv/linux/pt-raise.c:35
#1  0x000000000127c360 in Envoy::SignalAction::sigHandler (sig=11, info=0x7f85a6aacbf0, context=0x7f85a6aacac0) at source/exe/signal_ac

[2018-08-14 22:15] isaachier commented on #4140
Please don't use a custom build. Use the release I posted above.

[2018-08-14 22:25] junr03 commented on #4092
re: fitting this into the richer response information design I have been working on.

@goaway and I met, and we agree that this feature fits in nicely into the proposed framework. However, given that I have not shared the document for community comment (and internally at Lyft it is unclear to me when we are going to schedule this work), it seems too vague to me to block adding this feature on that

[2018-08-14 22:54] huggsboson commented on #3837
I don't think this is stale, but I obviously haven't implemented it.  Do you generally close things that are enhancements, but haven't been worked on?

[2018-08-14 22:57] xmm1989218 commented on #4140
@isaachier use envoy master, then change opentracing to 1.5.0 and use https://github.com/jaegertracing/jaeger-client-cpp/releases/download/v0.4.2/libjaegertracing_plugin.linux_amd64.so. it works well. thanks.

[2018-08-15 01:35] #3755 closed

[2018-08-15 03:00] dio commented on #3971
I think @gozali wants to take this.

[2018-08-15 04:16] ramaraochavali commented on #4122
@mattklein123 assign this to me. I will work on it

[2018-08-15 04:44] #4135 closed

[2018-08-15 06:55] lizan commented on #4122
Even we make them lists, the output won't be deterministic in many places where the config is dumped from `std::unordered_{set,map}` internally, (I'm sure routes are backed by unordered_set of pointers, not sure for others). It is still better the client consuming the output do a semantic comparison.

[2018-08-15 12:12] PiotrSikora opened #4158 "Use clang to build release binary."
From the [original PR](https://github.com/envoyproxy/envoy/pull/4138):
[code]
The problem was mitigated by #4117, which reduced number of preallocated elements in the `LcTrie`, though the difference in performance still exists (due to unpacked `LcNode`).

cc @mattklein123 @htuch @alyssawilk @lizan

[2018-08-15 12:12] PiotrSikora opened #4159 "Revisit default compiler flags."
Stack guards, LTO/ThinLTO, debug symbols, etc.

cc @mattklein123 @htuch @alyssawilk @lizan

[2018-08-15 12:36] jmarantz opened #4160 "integration tests should use simulated time"
*Description*:

My feeling is that the root of this problem (and others) is singleton patterns like:
[ProdMonotonicTimeSource::instance_](https://github.com/envoyproxy/envoy/blob/a3c55bf7bc514202b203cc797b504212da797a47/source/common/common/utility.h#L117)

In the past I've used strategies where these get passed downward as the world gets constructed, so singletons are never referenced in code tha

[2018-08-15 12:42] jmarantz commented on #4160
related: I'm wondering if there's a strong reason to have SystemTimeSource and MonotonicTimeSource as separate class hierarchies, as opposed to just having monotoniceTime() and currentTime() as two separate methods on the same classes? This might make injection a little less cumbersome.

[2018-08-15 12:48] htuch commented on #2797
@cmluciano we were considering Prow as a self-hosted CI a while back, but decided to keep things simple and continue with a managed service, hence CircleCI. If Prow would be useful as a bot or non-canonical orchestration (i.e. integrating as a slave to CircleCI), then this sounds like something interesting.

My main concern with Prow is complexity; at the time, it was a big chunk of Go code with k

[2018-08-15 13:28] alyssawilk commented on #4092
Cool.  @junr03 what do you think of making the config for these 2 new options into their own sub-proto in the hcm?  I think both it'd be nice to keep the frontline-info-header options together, and it might make it easier to migrate when we have the rich info framework.

[2018-08-15 14:47] jmwaniki opened #4162 "Initialization failure when TLS context is configured"
*Title*: *Initialization failure when TLS context is configured*

*Description*:

When I add the TLS context as part of the configuration envoy fails to load the private key
from the specified path. Envoy should load the private key from the path provided in the
configuration.

*Repro steps*:

I'm running envoy as a docker image as follows:

[code]

*Config*:
[code]

*Logs*:
[code]

[2018-08-15 14:48] isaachier commented on #4140
@xmm1989218 sorry for the problems you experience and glad they are gone. Would you mind closing this now?

[2018-08-15 16:47] BenPope commented on #4140
@isaachier I haven't been able to spend a great deal of time on this, but the crashing doesn't appear to be due to tracing, so I'm also happy for this to be closed.

[2018-08-15 16:57] isaachier commented on #4140
@BenPope as I explained to @xmm1989218, crashes in Envoy caused by custom builds of Jaeger are likely to occur. This is the reason we release the shared object as part of the release. It seems you had been using a custom build as well, in which case, the same fix should work.

[2018-08-15 17:02] wjessop opened #4163 "more granular 5xx retry policy (again)"
*Title*: *A blanket 5xx retry policy is not granular enough*

*Description*:

This is similar, but not quite the same as [this issue](https://github.com/envoyproxy/envoy/issues/2300).

What I'd like to do is to have a retry policy that allows me to automatically re-try 503 errors, but not 502 or 504 errors which I consider unsafe to retry automatically. We don't want to serve re-try able 503 error

[2018-08-15 17:15] BenPope commented on #4140
@isaachier The custom build was done as I couldn't find a version of the plugin that envoy would load without segfault (which I believed to be due to mismatched opentracing version).

Prior to building the plugin and envoy inside the envoy-build container, I was using something like this and tweaking version numbers:

[code]

[2018-08-15 17:35] #3749 closed

[2018-08-15 18:07] isaachier commented on #4140
OK at least you have not built Jaeger from sources. That's what I thought you had done.

[2018-08-15 19:33] cmluciano commented on #2797
SGTM. I think Prow bot utilities are useful and would be prepared to own the maintenance. In the future i definitely think your idea of using it for supplemental builds would be great too.

I will hack on this now and demo against the envoybot repo.

[2018-08-15 19:35] PiotrSikora commented on #4092
@alyssawilk yeah, which would make sense, but maybe we're biased towards the edge proxy case. The issue description mentions response headers, and there is already `X-Forwarded-Proto` in Envoy, which `x-envoy-downstream-protocol` in request headers would duplicate, so I want to make sure that we're all talking about the same thing, and not just assume that we do.

[2018-08-15 19:49] PiotrSikora commented on #4162
What are the file system permissions for that file (and the whole path, for that matter)?

[2018-08-15 19:55] htuch commented on #4122
@lizan from the client perspective, this is unsatisfying, since we use these protos to serialize to JSON and output for humans. Humans aren't very good at comparing large unordered lists 💩

[2018-08-15 20:05] lizan commented on #4122
Right, so I would suggest use (or should we make one?) a client side tool to sort them instead of doing admin output, to keep admin endpoints lightweight.

[2018-08-15 20:11] jmwaniki commented on #4162
The permissions on the file are: -rwx------  server-key.pem
The whole path to the file is at: /etc/envoy/server-key.pem

[2018-08-15 21:34] qiwzhang opened #4167 "GrpcSubscriptionImpl bug: send another request at destructor"
*Title*: GrpcSubscriptionImpl bug: send another request at destructor

*Description*:
It causes google_grpc implementation to fail at assertion; try to send data when Its completion_queue have been deleted.

When a GrpcMuxWatchImpl is deleted,  it will ask GrpcMuxImpl to send a new request.
<https://github.com/envoyproxy/envoy/blob/master/source/common/config/grpc_mux_impl.h#L68>

GrpcMuxImpl dest

[2018-08-15 21:36] #4140 closed

[2018-08-15 21:51] goaway commented on #4092
@PiotrSikora It's my understanding that X-Forwarded-Proto generally is only used to distinguish between TLS and plaintext connections (i.e. either http or https), whereas x-envoy-downstream-protocol is meant to provide the the HTTP-compatible protocol used for the downstream connection (i.e. http/1, http/2, quic, etc.). I am also specifically proposing a response header, though this doesn't preclu

[2018-08-15 22:45] lizan opened #4170 "Use lld as linker"
As a part of tool chain revisit (#4159, #4158) and also as a part of (#3741). We should consider use [LLD](https://lld.llvm.org/) as default linker. LLD is at least twice faster than gold linker, we have more than 300 test target to link so this will improve CI performance.

Options:
1. Use lld everywhere (it works with gcc)
2. Use lld where clang is used (sanitizers)

A sample benchmark of linkin

[2018-08-15 22:49] miketzian commented on #2852
Lots of great points above, I'd add that ideally the service discovery should be able to pick broker/topic combinations based on client requests for data - so that a consumer/producer could ask envoy for a "log publisher" (or whatever) and be directed to the closest brokers + their configured topic.

This is potentially very powerful, keen to see this!

[2018-08-15 23:38] myidpt opened #4174 "Verify certificates with common name"
*Title*: *Envoy needs to verify certificates using CN instead of SAN*

*Description*:

[2018-08-15 23:50] htuch opened #4175 "IP socket options may be applied to UDS upstream host connections"
While investigating https://oss-fuzz.com/v2/testcase-detail/6542943040045056, @anirudhmurali and I figured out that we were applying IP socket option (specifically the `source_address` in `upstream_bind_config`) to a UDS host. This seems broken.

We can either flag this during config loading or silently ignore/warn at runtime as a resolution. I haven't done a deep dive yet into the code, but I thi

[2018-08-16 00:50] tonya11en opened #4177 "Envoy CI should use an updated GCC version"
**Envoy CI should use an updated GCC version**

*Description*:
[My PR](https://github.com/envoyproxy/envoy/pull/4154) seems to be failing only on Envoy CI's GCC builds, but not on the Clang builds. The offending snippet of code is this guy from `test/tools/router_check/router.cc`:

[code]

I'm able to build locally on `GCC 7.3.0` and Clang, but I'm unable to investigate the versioning on the CI ma

[2018-08-16 00:51] tonya11en commented on #4177
I'm happy to look into this over the weekend if nobody is able to get to it, but a pointer in the right direction would be appreciated.

[2018-08-16 07:59] #3771 closed

[2018-08-16 10:33] RomansWorks commented on #2852
Would it be possible to provide producer backpressure support over Kafka in the proxy?
I'm thinking of something like:
Config - per producer / topic pair - list of consumer groups for lag calculation; lag limit.
Runtime - if sum of lag in configured consumer groups exceeds lag limit, prevent producing.

[2018-08-16 11:28] PiotrSikora commented on #4177
@tonya11en it's [gcc 5.4.0 in the Ubuntu build image used on CircleCI](https://github.com/envoyproxy/envoy/blob/706e26238268fe76c45e2690928aa012869ed679/ci/build_container/build_container_ubuntu.sh#L26).

[2018-08-16 11:37] gdimitrov-vmware commented on #3404
@tmshort @knrc I am evaluating use of Envoy at Vmware and we have the exact same issues with BoringSSL's certification and would prefer to use OpenSSL.

Here are some caveats with the Certified version of BoringSSL:
- BoringSSL didn't include DH or ECDH; ECDH(E) is preferred to RSA nowadays for TLS connections.
-  technically only BoringCrypto built from that exact Git hash is certified. This will

[2018-08-16 12:44] BenPope commented on #3877
I've seen this too, with envoy v1.7.1.  I also have an ASAN trace, which may be related:
[code]

[2018-08-16 14:43] mattklein123 commented on #4177
Adding a more recent GCC target is tracked here: https://github.com/envoyproxy/envoy/issues/3149. Unfortunately, like the current clang upgrade/switch discussion, I don't think it's appropriate for us to completely move away from GCC 5 without some discussion. People build/use Envoy on some pretty old systems and it's unclear to me if we should stop supporting GCC 5 (though I would love to add at

[2018-08-16 14:46] #3555 closed

[2018-08-16 14:52] mattklein123 commented on #4175
TBH I don't remember. Someone will need to look at the code. I don't see any reason why EDS can't expose a UDS host or a mix of hosts.

[2018-08-16 14:55] mattklein123 commented on #4170
@lizan +1 I think we should switch to lld everywhere, especially if we switch the release build over to clang.

[2018-08-16 15:00] #4033 closed

[2018-08-16 15:05] mattklein123 commented on #4160
@jmarantz +1. Kill those statics! :wink:

No reason. I would merge.

[2018-08-16 15:06] #4137 closed

[2018-08-16 15:11] mattklein123 commented on #4163
@wjessop I think this is covered by https://github.com/envoyproxy/envoy/issues/4103. If you agree can you close?

[2018-08-16 15:33] wjessop commented on #4103
I love the idea of being able to specify response codes for retry behaviour:

[code]

Or even just:

[code]

I don't fully understand the idea behind x-envoy-retryable-codes though. This was mentioned as being a request header, but it seems like the place the knowledge about wether something should be retryable or not should be the proxy or the upstream service.

As an aside, I also think getting

[2018-08-16 15:34] wjessop commented on #4163
I've commented there and will close this, thanks!

[2018-08-16 15:34] #4163 closed

[2018-08-16 15:46] mattklein123 commented on #4092
+1

We are going to use a single header with delimiters, right?

[2018-08-16 15:49] mattklein123 commented on #3877
Moving over to bug/help wanted. Thanks for the call stack @BenPope

[2018-08-16 16:46] agl commented on #3404
@gdimitrov-vmware There are certainly valid reasons for wanting to use OpenSSL here, but I don't think any that you listed are correct:

   * BoringSSL certainly supports ECDHE. ECDH is the, extremely obscure, fixed-DH mode of TLS; I'm not sure that OpenSSL supports that. It is the case that BoringSSL doesn't support DHE in TLS, but it's rarely used these days.
   * You have to follow the security

[2018-08-16 17:01] tmshort commented on #3404
ECDH is not recommended, certainly. I think the concern may have been ECDHE in FIPS mode (or am I misreading)?

This is BoringSSL's current tested configurations (the link is in an @agl post above) :

- Ubuntu Linux 14.04 LTS running on Intel Xeon E5 without PAA (clang Compiler Version 4.0.0)
- Ubuntu Linux 15.04 running on POWER8 without PAA (clang Compiler Version 4.0.0)
- Ubuntu Linux 16.04 run

[2018-08-16 17:35] #3871 closed

[2018-08-16 18:35] mattklein123 commented on #2139
Done!

[2018-08-16 18:35] #2139 closed

[2018-08-16 19:58] danzh2010 opened #4186 "MockTransportSocketFactoryContext mock wrong function name."
Description:
MockTransportSocketFactoryContext has a wrong mock function name local_info which mocks nothing as TransportSocketFactoryContext has member function localInfo() rather than local_info(). Unfortunately, un-matching mocked function name won't be caught by compiler.

[2018-08-16 20:11] junr03 commented on #2797
Adding a big +1 to this, it just burned me again with https://github.com/envoyproxy/envoy/pull/2957

[2018-08-16 21:55] lizan commented on #3741
@zuercher Do you have a script to get release build timings from CI? If so can you update the spread sheet numbers with recent builds with remote cache enabled?

[2018-08-16 22:16] kscguru commented on #3404
I work with @gdimitrov-vmware ...

- Some OS modification is allowed but nobody really knows how much. Some users would be okay with the risk, some wouldn't and would contract with a lab and re-certify to alleviate the risk. OpenSSL has a project goal of making "private" validations easy, whereas BoringCrypto ... does not.
- Exact sources are indeed a requirement. One would just have to be clever

[2018-08-16 23:10] aklatt1194 opened #4191 "Escape quotes in header fields of access logs"
By default, access log fields are delimited with quotes and spaces. This is customizable for listener access logs but not for admin access logs. However, it is very difficult to parse logs with such a format in a safe way, since externally controlled header values (e.g. User-Agent) may contain unescaped quotes and spaces. For example a normal access log entry might look something like:

[code]

ho

[2018-08-16 23:13] mattklein123 commented on #4191
Somewhat related to https://github.com/envoyproxy/envoy/issues/2692. Agree we can have more escaping options here. There is also obviously the gRPC access logging service which gives you raw/structured data.

[2018-08-16 23:36] #3937 closed

[2018-08-16 23:36] brirams commented on #3642
*bump*

[2018-08-17 00:09] danielhochman opened #4192 "router: use FractionalPercent for runtime in RouteMatch"
**Description**
Will enable routing traffic among clusters at a sub-percent levels.

[2018-08-17 00:16] tonya11en commented on #4192
I have the cycles to take this on.

[2018-08-17 02:08] qiwzhang commented on #4167
The trace log for the crash

 RUN      ] IpVersionsClientType/SdsDynamicDownstreamIntegrationTest.BasicSuccess/1
[2018-08-17 02:04:32.594][15][info][testing] test/integration/fake_upstream.cc:343] starting fake server on port 38219. Address version is v4
[2018-08-17 02:04:32.594][15][info][testing] test/integration/fake_upstream.cc:343] starting fake server on port 44165. Address version is v4
[20

[2018-08-17 09:31] #3798 closed

[2018-08-17 13:31] jmarantz commented on #4160
Here's my rough plan:

1. https://github.com/envoyproxy/envoy/pull/4180 which adds TimeSource as a container around SystemTimeSource and MonotonicTimeSource and removes the static time-sources, changing zero behavior but touching 120+ files. The production changes here are minimal but the test changes are pervasive, and a new helper class TestTime had to be instantiated in many places, and uses re

[2018-08-17 15:56] mattklein123 commented on #4192
Thanks @tonya11en! I added you to the org so will assign you once you accept the invite.

[2018-08-17 17:12] mancini0 opened #4195 "Envoy unable to be run as normal user after running as a superuser"
To reproduce, using envoy 1.7.1,

#run envoy as privileged user
sudo ./envoy
#run envoy as non-privileged user
./envoy

[code]

This might be related to https://github.com/envoyproxy/envoy/issues/4060

[2018-08-17 17:13] mattklein123 commented on #4195
This is "expected" and I don't think we will aim to fix this. If you have suggestions on how to increase usability let us know. Perhaps a clean exit with a better error message?

[2018-08-17 18:16] agl commented on #3404
It sounds like you really want to use OpenSSL, and that's ok! But if you want to do a validation of BoringSSL on a different platform then I can give you the contacts for it. We're getting pretty good at it now and, for an already evaluated source-code revision, it should be a doable in a day's work. (At least on the external side, I'm sure the lab has to do a chunk of work too.)

As for rendering

[2018-08-17 20:45] mattklein123 commented on #4177
Closing this as we are already tracking newer GCC in #3149

[2018-08-17 20:45] #4177 closed

[2018-08-17 20:53] kscguru commented on #3404
Brilliant. My "FIPS ECDHE eventually" guess became "FIPS ECDHE already done, the paperwork just isn't approved yet". Made my day, my complements.
(@agl, NIST treats hypervisors as a different platform than physical hardware. Given my / @gdimitrov-vmware 's employer... we always re-cert.)

The complexity of a fixed-hash build and dealing with "other" platforms are substantial, but are operational a

[2018-08-17 21:18] mattklein123 commented on #4128
@donbowman in general I think this is a very useful are for development and there has already been a bunch of related work and thinking that we can build on (though nothing has been completed or merged).

- General issue around upstream filters: https://github.com/envoyproxy/envoy/issues/173. @alanconway was working on this and I believe has some working code but I'm not sure of the current status

[2018-08-17 21:20] donbowman commented on #4128
Thank you.
I have a PoC of outbound (transparency to upstream) working. It will need work in the connect pool as you say above to select one w/ the right property.

[2018-08-17 22:15] terinjokes commented on #3951
@mattklein123 I see there's an image tagged "v1.7.0" but not one tagged "v1.7.1".

[code]

[2018-08-18 01:51] agl commented on #3404
(I don't want to put it on a public GitHub issue, but I can point you at the right person at a lab and give you our playbook for running all the required tests as smoothly as possible, if you're interested.)

[2018-08-18 02:05] PiotrSikora commented on #3404
FWIW, Envoy tracks `chromium-stable` branch of BoringSSL that follows Chrome stable releases, which means that we update BoringSSL every 6 weeks, so ~9x per year, in case someone wants to re-certify each version of BoringSSL used in Envoy.

[2018-08-18 10:46] PiotrSikora opened #4196 "Per listener and per cluster memory overhead is too high"
As a result of https://github.com/istio/istio/issues/7912, I've been running bunch of experiments, and it looks that the per listener and per cluster memory overhead is a bit too high...

(numbers with `--concurrency 1 --disable-hot-restart`, include improvements from #4190)

There is ~18KB of memory allocated per each TCP listener (no TLS), ~6KB (~35%) of which is allocated for 5 listener stats (

[2018-08-20 14:37] rotan96 commented on #4142
I was thinking to do the parsing of the url within the QueryParams class (basically move the code from Utility::parseQueryString to QueryParams::parseQueryString). If I do that I would probably need a query_params.cc file to implement everything, would I need to move the file out of the /include folder and if so where should it go?

Or should I just keep the parseQueryString/other more complicated

[2018-08-20 15:32] htuch commented on #4196
@PiotrSikora thanks for the writeup and data, this is a good start to understanding the problem. I'd address the solution differently for clusters/listeners.

For clusters, we already have a plan-of-record to do (3) in the long term, this has been formalized in the incremental xDS API additions in https://github.com/envoyproxy/envoy/blob/e341004f0f1800c7f2a44caa49ad1876f29db848/api/envoy/api/v2/di

[2018-08-20 16:28] #4085 closed

[2018-08-20 16:51] zuercher commented on #3741
Yes. I can do that.

[2018-08-20 18:15] zuercher commented on #3741
@lizan I've updated the data in the spreadsheet. Since there's only been about 260 builds since the last time I did this, I ended up just updating the existing data, since it's contiguous. It's still highly variable, but definitely faster.

[2018-08-20 19:07] #3932 closed

[2018-08-20 20:35] cmluciano commented on #2797
FYI another community member had some ideas on this and should be demo'ing something to me that may not be as heavyweight as prow. I'll continue to poke at assigneebot for now since a coworker can help review my JS.

[2018-08-20 21:13] markusthoemmes opened #4203 "Circuit breakers per host or relative to the number of hosts."
*Title*: Circuit breakers per host or relative to the number of hosts.

*Description*:
Is there a specific reason why the circuit breakers are only available on a per cluster level vs. being available on a per host level?

In my specific use-case, I'm implementing a platform (Function as a Service style), where each of the hosts in a cluster has veeeery tight concurrency constraints. If you take t

[2018-08-20 22:55] zanes2016 opened #4206 "GRPC explicit client proxy returns 404"
**Envoy Returns 404 for all GRPC requests when http_proxy is Set**

*Title*: *When the `http_proxy` environment variable is set, Envoy returns HTTP 404. However, the connection succeeds when we use dnsmasq and transparently proxy the grpc requests to envoy.*

Is this an issue due to the `:authority` and `:path` being set equal when then `http_proxy` port is set?

Envoy Explicit Proxy Decoded Heade

[2018-08-20 23:01] htuch commented on #3919
This showed up again under fuzzing at https://oss-fuzz.com/v2/testcase-detail/5107723602493440?noredirect=1.

@alyssawilk (in the absence of @mattklein123); wondering if we can brainstorm some reasonable solution here. Can we just use https://cs.corp.google.com/piper///depot/google3/third_party/envoy/src/source/common/http/header_map_impl.cc?rcl=209298018&g=0&l=267 to append to the existing entry?

[2018-08-21 03:14] derekperkins commented on #1104
@dasch If you're interested in that, you should check out Vitess, another CNCF project https://vitess.io/

[2018-08-21 04:57] cetanu commented on #3908
I can confirm that switching from logical_dns to strict_dns resulted in my active health checks working.

The behaviour I observed is that the envoy proxy is not sending packets *at all* when set to logical_dns. I suspect this may be because it resolves the hosts as '0.0.0.0', as this is what shows up in the stats endpoint on the envoy admin ui, plus in the debug logs.

[2018-08-21 12:11] PiotrSikora commented on #4196
Agreed, except that (3) is probably months away, and (1) and possibly (2) could be done in a few days.

Istio is using `iptables` interception and `use_original_dst`, so we have 1 virtual listener for each TCP destination, but all HTTP destinations are sent to a wildcard listener, where they are routed based on the `Host` header, so we have only 1 of those for each destination port. Because of tha

[2018-08-21 13:59] alyssawilk commented on #3919
Sure, I totally back changing all the header ByReference functions to comment that the "ByReference" is best effort, and that underlying string may be copied for multi-value/multi-line headers.  I think we'd have to look carefully at the comments for how the existing API works and make sure it's all up to date, and consider it a super-high-risk change and have Lyft (and any others that opt-in) can

[2018-08-21 14:01] jmarantz commented on #4196
The way I think of #3927 <https://github.com/envoyproxy/envoy/pull/3927> is
that it should be very impactful to stat name memory, once we knock off a
bunch of other copies of the stat names first.  That 17% looks
disappointing now, but the absolute byte-count saved on James' benchmark
but will be a much higher percentage when the other copies have been
removed.

However there's still a non-zero pe

[2018-08-21 14:02] htuch commented on #3919
OK, I will take this one on.

[2018-08-21 15:14] snowp opened #4210 "Propagate attempt count in request headers"
We're interested in having the upstream attempt count be included in the request headers, e.g. something like `-x-envoy-attempt-count` which starts at 1 with the first request and is incremented once per retry. Our motivation for this is to provide this information to some of our existing systems that rely on this for their caching strategy.

Seems like this was also [proposed/implemented for gRPC

[2018-08-21 15:59] nicktrav commented on #4103
I'll just chime in to mentioned we're still playing around with some ideas on this proposal and will hopefully offer up a patch soon. Feel free to assign this me for now.

@wjessop - totally agree with you _in principle_ here in that ideally retry configuration should live in the proxy layer. The reason we're proposing this is to attempt to provide feature parity between Envoy and our existing pol

[2018-08-21 16:28] htuch commented on #4196
@PiotrSikora (3) should not take months to implement on Envoy side, the implementation is O(1-2 weeks) IMHO. Support on the management side is probably where the bottleneck is.

I think we're in agreement that the biggest benefit will come from reducing cluster stats. I still think fundamentally, given what we're tracking in both key/value teams, the essential memory overhead is more like O(1kb),

[2018-08-21 16:46] julia-stripe opened #4213 "Envoy segfaults when validating TLS ADS cluster"
*Title*: Envoy segfaults when validating TLS ADS cluster definition

*Description*:

When we run Envoy with `--mode validate` on a configuration file with a TLS ADS cluster, it segfaults. This doesn't happen for a non-TLS ADS cluster, and it doesn't happen when Envoy isn't running in validation mode. This is a problem for us because we use `--mode validate` in production to check before reloading

[2018-08-21 17:06] htuch commented on #4213
@PiotrSikora thoughts? In general, it's entirely possible that `config_validation` gets out of sync with server initialization/teardown in places, because it's a parallel implementation. We should definitely fix.

[2018-08-21 18:39] wjessop commented on #4103
Thanks for the reply @nicktrav. In this situation being able to have both methods of configuration would be great, though the ability to ignore re-try headers set from downstream of Envoy would be essential for us as I could see that having them enabled for public facing infra could be a DoS risk.

[2018-08-21 20:22] snowp opened #4218 "data-plane-api fails to build on master"
CI for data-plane-api has been failing since gogoproto was updated at https://github.com/envoyproxy/data-plane-api/commit/43bc9adb833ceda21fab346e443db0853517e699

Seems like the issue is related to building the go proto libraries, which is why it wasn't caught in envoyproxy/envoy CI. I tried to take a look but I'm not familiar enough with the go/bazel toolchain.

[2018-08-21 21:03] srikailash commented on #865
@mattklein123, feel free to assign this to me.

[2018-08-21 21:10] PiotrSikora commented on #4213
Using current `master` build (i.e. 56a3dc94ae3be13b3264800ed201d62fb85ac643):
[code]

Perhaps content of `/tmp/test.txt` matters? What do you have there, @julia-stripe?

[2018-08-21 21:17] PiotrSikora commented on #4213
Ah, sorry, it seems to be busted only in `dbg` builds, since it crashes on `ASSERT(contexts_.empty());`.

[2018-08-21 21:17] julia-stripe commented on #4213
`/tmp/test.txt` is an empty file. This happened with https://github.com/envoyproxy/envoy/commit/08fadcc41f34b5816f2dc9412a1614efca4d9667 which is a slightly older version -- maybe the validation of certs has changed since then?

[2018-08-21 21:19] #4023 closed

[2018-08-21 22:43] zuercher opened #4221 "refactor HeaderParser to make implementation of formatters easier/saner"
Currently HeaderParser::configure (via the parserInternal helper method) splits a string into fixed and dynamic HeaderFormatter implementations, but delegates parsing of the dynamic HeaderFormatter arguments to the actual Formatter. In practice this means each Formatter has to do its own argument parsing when most of them will likely just take a single string.

I propose to modify the constructor

[2018-08-21 23:11] danielhochman commented on #4218
to fix this, `io_bazel_rules_go` needs to be updated to `>=0.9.0` in [data-plane-api/WORKSPACE](https://github.com/envoyproxy/data-plane-api/blob/8e09edd8fe81be46dc179c678f5f65c40ae7af63/WORKSPACE#L40-L44). however, i think the larger issue is that we're not sharing a WORKSPACE or dependencies from the main project over to the mirror. for example, the main project is on `0.11.1`: https://github.co

[2018-08-21 23:31] lizan commented on #3741
Thanks @zuercher! Yes I expected it to be even higher variable, due to variable cache hit rate caused by changes, happy to see it improved quite a bit.

[2018-08-22 01:28] zyfjeff commented on #4210
Is this issue still no one is working?  If yes then i can start this one

[2018-08-22 04:41] JimmyCYJ opened #4224 "Design a chained init manager"
**Issue Template**

*Title*: *Implement a chained init manager*

*Description*:

[2018-08-22 16:51] andyyin opened #4227 "How is downStream and upStream related?"
How to match the request of envoy asynchronous forwarding with its response one by one, I did not find the relevant source code.
Generally, the correspondence between the request and the response is realized by the map.

[2018-08-22 17:12] andyyin commented on #4227
in other words，How is downStream and upStream related?

[2018-08-22 18:51] snowp commented on #4210
@zyfjeff I have not started this, so assuming the maintainers are okay with this enhancement it should be up for grabs.

[2018-08-22 20:36] htuch commented on #4218
I think we should reduce the amount of duplication here and switch to a single source of truth. Basically, just need to add to the copy script more places where we copy across and also verify this does the right thing. @snowp do you have cycles to work on this? If not, I might be able to get around to it later this week.

[2018-08-22 21:55] yangminzhu commented on #4122
I'm trying to sync Istio with the latest envoy API, Is it always guaranteed that the [`bootstrap`, `listener`, `cluster`, `routes`] will always appear in the `Configs` in this specific order?

cc @liamawhite

[2018-08-22 22:00] snowp commented on #4218
I'm afraid I won't be able to get to it this week, and I'll be OOO the following week

[2018-08-22 22:15] PiotrSikora commented on #4162
Sorry for the delay, I've missed you reply.

Could you paste output of:
[code]
[code]

Also, what user is the Envoy running as? Who's starting the process?

[2018-08-23 01:03] PiotrSikora commented on #4213
@julia-stripe this has been fixed since (as a side-effect of other changes, but still...), so you need to roll forward.

The only remaining issue is that `dbg` builds are crashing on `ASSERT(contexts_.empty())` during teardown, because real `httpAsyncClientForCluster()` is called and started instead of `ValidationClusterManager::httpAsyncClientForCluster()`, when creating `Config::GrpcMuxImpl`, so

[2018-08-23 03:51] ramaraochavali commented on #4122
@yangminzhu It is always guaranteed to return in the order [bootstrap, cluster, listener, routes] (lexicographic order) as documented [here](https://www.envoyproxy.io/docs/envoy/latest/api-v2/admin/v2alpha/config_dump.proto)

[2018-08-23 04:42] PiotrSikora opened #4235 "SIGBUS errors during startup"
*Description*:
We're seeing sporadic `SIGBUS` errors in Istio test suite during startup (see: https://github.com/istio/istio/issues/8133).

I suspect it might be full and/or too small `/dev/shm` partition, but we should be able to catch this sooner and provide some useful error instead of a `SIGBUS`.

*Call Stack*:
[code]

[2018-08-23 13:32] #3908 closed

[2018-08-23 14:28] #4213 closed

[2018-08-23 14:29] julia-stripe commented on #4213
Thanks very much! Verified that this is fixed from our perspective.

[2018-08-23 16:07] jmwaniki commented on #4162
@PiotrSikora
Here is the from running those commands:
$ ls -l /etc/envoy/server-key.*
`drwxr-xr-x    1 root     root          4096 Aug 23 14:41 /etc/
drwxr-xr-x    1 root     root          4096 Aug 21 22:54 /etc/envoy/`

ls -l /etc/envoy/server-key.*
`-rw-rw-r-- 1 root root 1204 Aug 23 14:30 /etc/envoy/server-key.pem`

The envoy process is running as root.

I was able to fix the issue by generatin

[2018-08-23 17:34] #3870 closed

[2018-08-23 17:55] gdoctor commented on #3987
@kyessenov is Istio just using upstream Envoy? So then we could assume they are handling as describe above. We ran into a DNS issue that caused our service routing to break when two clusters had the same name

[2018-08-23 18:14] kyessenov commented on #3987
Yes, it's mostly vanilla+ build. We fixed this in master of istio for obvious cases (TCP/UDP sharing the port), and added a check I think to remove duplicates. (cc @rshriram )

[2018-08-23 18:47] cmluciano commented on #3817
/notstale

[2018-08-23 19:34] #3876 closed

[2018-08-23 19:44] yuval-k commented on #4195
I had that too! the fix was `sudo rm /dev/shm/envoy_shared_memory_0`.

I think the main gap for me was the understanding that `shared memory region /envoy_shared_memory_0` is actually `/dev/shm/envoy_shared_memory_0` in linux.

[2018-08-23 21:44] ggreenway commented on #4076
Sorry I'm chiming in late (was on vacation).

Could you solve this by, in the handling of the outer (tunnel) TLS connection, route to a cluster that connects to another envoy listener? This 2nd listener could be on localhost, or a unix-domain socket. Then you can use the existing tls_inspector to do your routing on the inner TLS connection.

[2018-08-23 21:45] donbowman commented on #4128
Work to add pre-bind & transparent was added previously
https://github.com/envoyproxy/envoy/pull/3682/files/3a23133c900983589cdb77f1de6eba7121445d6c
(e.g. SocketOptionFactory::buildIpTransparentOptions())

[2018-08-23 21:50] #4162 closed

[2018-08-23 21:55] ggreenway commented on #2699
Is this issue covered by https://www.envoyproxy.io/docs/envoy/latest/configuration/http_conn_man/headers.html?highlight=cert#x-forwarded-client-cert, or is this requesting something different?

[2018-08-23 21:59] #3919 closed

[2018-08-23 23:12] joshuarubin opened #4240 "grpc_json_transcoder and http/1.1 doesn't properly handle trailers"
When a client connects to envoy using http/1.1 and the endpoint uses the `grpc_json_transcoder`, nothing is done with the response trailer headers. This is a violation of the http/1.1 spec so long as the transfer encoding isn't chunked (which it isn't in this case).

I've tried stacking the `grpc_json_transcoder` with the `grpc_http1_bridge` (both before and after the transcoder) but that doesn't

[2018-08-24 01:29] vadimeisenbergibm commented on #4076
@ggreenway The question is the performance impact of this solution. Is it like an additional hop on the localhost? Or will the additional "hop" happen in the memory of the Envoy process?

[2018-08-24 02:59] ggreenway commented on #4076
It would be an extra hop on localhost. If it is through a UDS, that will lessen the cost.

In theory, Envoy could implement some sort of VIP redirection mode that does this in memory, but that would require some careful thought on how it is designed.

[2018-08-24 03:05] #3860 closed

[2018-08-24 08:27] ramaraochavali opened #4241 "issue with update_empty stat on clusters"
Let us say we have 5 EDS clusters registered with Envoy. When an Endpoint for a particular cluster (cluster_1) changed, if a management server sends EDS update with resource list as (cluster_1), Envoy updates it stats correctly but it also increments `update_empty` stat for rest of the clusters.
It is because it fires an empty config update at this line
https://github.com/envoyproxy/envoy/blob/mas

[2018-08-24 11:54] dohnto opened #4243 "Incoming HTTP 1.0 traffic needs upgrade"
*Title*: Incomming HTTP 1.0 request is refused by envoy with 426 http status

*Description*:

I try to use envoy as a proxy for incomming HTTP 1.0 requests. I set `accept_http_10` according to [documentation](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/protocol.proto#core-http1protocoloptions), but the envoy refuses to pass the requests and still returns 426 http status code.

*

[2018-08-24 12:55] donbowman commented on #4128
Also referenced in istio:
https://github.com/istio/istio/issues/5679

[2018-08-24 12:57] donbowman commented on #4128
And referenced in https://github.com/envoyproxy/envoy/issues/2659

[2018-08-24 13:15] julia-stripe commented on #4213
@PiotrSikora can you tell me which commit fixed this bug? We'd like to cherry pick it because the latest Envoy master introduces other incompatible protobuf changes that we'd like to avoid.

[2018-08-24 14:16] #3436 closed

[2018-08-24 18:16] ggreenway commented on #4243
I think the error is that you set the http1.0 option on the cluster, not on the http connection manager. Try setting it here: https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/http_connection_manager/v2/http_connection_manager.proto.html?highlight=http_protocol_options

[2018-08-24 21:29] bplotnick opened #4249 "Add request_headers_to_remove"
*Title*: *Add request_headers_to_remove*

*Description*:
We [have](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/rds.proto.html) `request_headers_to_add`, `response_headers_to_add`,  and `response_headers_to_remove`. `internal_only_headers` is related, but not exactly the same as `request_headers_to_remove`.

[2018-08-25 00:37] PiotrSikora opened #4251 "Link against libc++ in the official builds."
Similarly to  #4158, #4170 and #4159, investigate and/or consider using libc++ instead of libstdc++ and friends.

cc @lizan @htuch

[2018-08-25 01:00] PiotrSikora commented on #4213
@julia-stripe it was fixed (by loading the certificate at the config time and not startup time) in 98037ed375edc2e7df34b4ea78acb52b85ed2386 (#4086).

[2018-08-25 01:07] PiotrSikora commented on #4249
I'm going to add this, unless you've already started.

[2018-08-25 01:08] bplotnick commented on #4249
Great! I haven't started

[2018-08-25 01:56] vadimeisenbergibm commented on #4076
@ggreenway Thank you for the idea, it is good that we have this option as a fallback, however we want to save the extra hop on localhost.

[2018-08-25 15:51] dohnto commented on #4243
You are correct. Thank you.

[2018-08-25 15:51] #4243 closed

[2018-08-26 08:45] lizan commented on #4076
+1 to @rshriram's option 3, and avoid #4236, loopback cluster to another listener is slightly better than that.

@elevran The sidecar (sending proxy) has same security boundary within the client, so if it is compromised, egress should treat both client and sending proxy is compromised. Sending proxy could craft a TLS traffic within a mTLS tunnel and send to egress too.

[2018-08-26 09:00] lizan commented on #4240
Can you elaborate a bit more with examples? `grpc_json_transcoder` won't send anything for response trailers if your client connect to Envoy with HTTP/1.1.

You shouldn't be stacking the `grpc_json_transcoder` with the `grpc_http1_bridge`, those won't work together.

[2018-08-26 13:30] vadimeisenbergibm commented on #4076
@lizan I have two problems with the loopback cluster:

1. Wasting performance
2. The identity of the source will be lost, the second listener will report the inner SNI value correctly, but it will not have the source identity to report. I need a mixer check that will report both SNI value and the identity of the source, to apply a mixer policy based on both of them.

[2018-08-26 15:57] mpuncel opened #4259 "Consider unix socket addresses to be internal"
Consider unix socket addresses to be internal

**problem**
Our Envoy mesh design configures Envoy to listen for egress requests over a unix socket. We found that Envoy ignores retry headers in this configuration because it does not consider the requests to be internal.

**context**
Envoy decides whether each incoming request is "internal" or not, based on a variety of criteria (the best descriptio

[2018-08-26 16:53] htuch commented on #4251
@PiotrSikora I have some vague memory about libc++ being less mature and generally usable on Linux than OS X from the early days of the Clang migration, but can't find any issues that cover this. Definitely worth re-examining.

[2018-08-26 16:59] htuch commented on #4076
I wonder if we can loopback and include the outer SNI in a header for filters to work on for (2). I agree that there is some performance hit here for (1); is this a specific concern for your application?

If we do want to go the route in this PR, I think trying to factor out and share as much as possible with the transport socket SNI handling makes sense.

[2018-08-26 17:29] #3906 closed

[2018-08-26 18:47] vadimeisenbergibm commented on #4076
@htuch

Isn't it a more complex solution comparing to the simple filter we propose in #4236 ? The requirement is very simple - we need the value of the inner SNI (the SNI that was used by the application) to be accessible to other filters in a simple way. Here we started a discussion about the scenarios this inner SNI is needed in, which I am not sure are really relevant here. My guess is that TLS

[2018-08-26 23:36] jmarantz commented on #4160
Note to self:
  % rgrepn 'std::chrono::steady_clock::now()' "*.cc"|wc -l
  35

[2018-08-26 23:36] rshriram commented on #4076
Also keep in mind that in your scenario ()https://github.com/envoyproxy/envoy/issues/4076#issuecomment-412322855), if you assume the sidecar is compromized, it could send any arbitrary junk TLS traffic in the inner TLS, and stick any SNI it wants. There is also nothing preventing the compromised sidecar from modifying the SNI set by the client before forwarding it inside the mTLS wrapper. SNI is i

[2018-08-27 02:35] vadimeisenbergibm commented on #4076
@lizan

I need to present the full solution here. Please see this PR https://github.com/istio/istio.github.io/pull/1984, in particular this explanation:

you directed the traffic to _www.wikipedia.org_, and this host was known to your gateway during the configuration.
The gateway, however, cannot know an IP address of an arbitrary host it receives a request for. Would you want to
control access to

[2018-08-27 02:38] vadimeisenbergibm commented on #4076
@rshriram

So I need istio-proxy to report that inner SNI with junk SNI to the Mixer, so the connection will be blocked by a Mixer policy, and the junk SNI will appear in the Mixer logs.

Right, this is why I need that inner SNI to be reported to the Mixer, for the policy checking and for monitoring. With the current Envoy, I cannot know the value of the inner SNI.

See also https://github.com/env

[2018-08-27 03:31] joshuarubin commented on #4240
Here is what I get with curl:

[code]

My envoy http filters are set up like this:
[code]

[2018-08-27 03:46] ramaraochavali commented on #4122
@htuch I guess this issue can closed via https://github.com/envoyproxy/envoy/pull/4197 unless you would like some thing else to be done here.

[2018-08-27 04:42] lizan commented on #4240
@joshuarubin thanks for the example, the curl output matches my expectation. What does your go http client is complaining about? the `trailer` header?

[2018-08-27 04:45] lizan commented on #4240
[code]

Those should be sent by upstream gRPC server, but I think we can trim them in JSON transcoder filter.

[2018-08-27 06:57] cgilmour commented on #3861
Hi, I've been actively working on this, and have changes almost ready to PR.
(We want to test internally, and it'll need a rebase before submitting.)

I don't have a solution for the plugin/driver packaging problem that was mentioned, but if that's something that happens in the future, feel free to @ me on issues or PRs and I'll be able to keep our part of it up-to-date with that.

[2018-08-27 08:00] lizan commented on #4076
Why do you need another SNI proxy on localhost to forward the traffic with inner SNI, instead of using outer SNI directly? Note not all inner TLS have SNI if you assume it could be some legacy clients.

[2018-08-27 09:51] vadimeisenbergibm commented on #4076
@lizan

The use case: enable HTTPS egress traffic to `*.ibm.com` and `*.amazon.com` through an egress gateway. Requests to `*.ibm.com` and to `*.amazon.com` must be allowed and monitored, and policies must be enforced on them, for example, `podA` may access `service1.ibm.com`, while `podB` may access `service2.amazon.com`, podC may access `*.ibm.com`, all other access is forbidden.

How can you co

[2018-08-27 14:41] arianmotamedi commented on #2699
My request was more around providing a way to do ACL based on client certificate information directly in Envoy. It does look like you can do public key pinning using the `verify_certificate_spki` config to grant/deny access, which is what I was looking for :)

[2018-08-27 15:28] htuch opened #4263 "Use ClusterFuzz corpus in CI"
We may be able to avoid regressions such as the one patched in https://github.com/envoyproxy/envoy/pull/4245 if we have CI download the corpus assembled by ClusterFuzz and verify against this prior to merge.

This would require a new CI target, which would be somewhat non-hermetic, as it would fetch from the ClusterFuzz GCS buckets for Envoy on each run.

CC @kcc @dor1s

[2018-08-27 16:16] ggreenway commented on #4251
Last time I looked into it I found the the same thing as @htuch.

[2018-08-27 16:39] joshuarubin commented on #4240
This is the result of a Go client we use:

[code]

There is no way to catch or bypass this error in the Go client. Fortunately, we can fix the issue in this case by using the http/2 client. Still it is an issue that needs to be addressed.

[2018-08-27 17:16] zanes2016 commented on #1932
Update: the `503 - no healthy upstream` intermittent response still exists with full ADS (CDS, LDS, EDS, & RDS). So far the only we to resolve the issue is to either restart the Discovery Server or the Envoy Proxies.

Note that we do not have any Health Checks enabled and the configuration correctly specifies the IP:PORT pairs for the upstream service.

[2018-08-27 19:09] cmluciano opened #4267 "Bazel 0.17.0 not in core homebrew for Mac"
**Issue Template**

*Title*: Mac builds time out if bazel brew pkg is not found

*Description*:
The Bazel homebrew package is currently missing for any version post 0.15.2 . @moderation found the [upstream problem](https://github.com/Homebrew/homebrew-core/pull/31396) is that the Bazel team has not enabled core homebrew packages outside of their own tap.

The Mac build will currently attempt a baz

[2018-08-27 19:16] alyssawilk opened #4268 "unvalidated user defined headers dangerous"
After looking at #4245 I started wondering if we could set up user defined headers which would tickle our new release assert (and formerly OOM).  At least in unit test (coming soon) we can.

While hopefully there's sanity checking of user defined config before it hits Envoy, I also think we need some sane limits on user defined headers to reduce the likelihood of malicious users configuring themse

[2018-08-27 19:20] alyssawilk commented on #4268
@curiouserrandy @PiotrSikora (for folks looking at user defined headers, and not breaking Istio respectively.)

[2018-08-27 19:34] lizan commented on #4076
@vadimeisenbergibm If your sidecar extracts inner SNI and forward it as outer SNI (option 3), mixer can enforce them. The routing is what you do with the another SNI proxy on localhost described above (i.e. by filter chain in the listener receiving outer SNI).

[2018-08-27 19:49] vadimeisenbergibm commented on #4076
Discussing it with @rshriram on slack. How can Envoy in the gateway set the outer SNI to be the SNI of the cluster that forwards the traffic to the SNI proxy, so the SNI proxy will receive the outer SNI? You can have a filter that reads the value of the outer SNI, but can that filter modify the cluster and set the outer SNI to be the SNI of the cluster? Can filters modify clusters?

[2018-08-27 19:51] vadimeisenbergibm commented on #4076
@lizan

How can Envoy set the SNI of the cluster? How can it forward the extracted SNI (unknown beforehand) to the gateway?

[2018-08-27 20:02] ggreenway commented on #4259
I would be in favor of adding configuration for which network addresses are considered internal, and including an option for if UDS should be included.

[2018-08-27 20:49] lizan commented on #4076
Right, that part doesn’t exist today so you need to implement it in tcp_proxy to forward same SNI inspected by the inspector.

That seems a more generic feature than the approach in #4236. It will allow tcp_proxy to forward original SNI if TLS termination is performed, and also support the tunneling case described here if you only inspection. @PiotrSikora @ggreenway?

[2018-08-27 20:50] lizan commented on #4076
Sorry just accidentally hit wrong button :(

[2018-08-27 20:53] kcc commented on #4263
My typical suggestion is to have the corpus in git (the main repo, or a separate repo).
Then the build will be hermetic. This is what many other users of oss-fuzz do.
See e.g. here: https://github.com/google/oss-fuzz/pull/867#issuecomment-390788457 (comment from May 21)

[2018-08-27 20:54] kcc commented on #4263
... and of course sync the corpora periodically.

[2018-08-27 22:19] louiscryan opened #4272 "Support WebAssembly (WASM) in Envoy"
*Title*: *Support WebAssembly (WASM) in Envoy*

*Description*:
WebAssembly [1] provides an embeddable and safe execution environment for platform extensions. While primarily intended for the Web browsers the WASM community is also supportive of [1] other embeddings. WASM is now supported by the major browser vendors and has significant development momentum behind it. In comparison with LuaJit it h

[2018-08-27 22:46] zuercher commented on #4267
I don't follow. The mac build seems to be working fine right now using 0.15.2.

[2018-08-27 22:56] htuch commented on #4272
Also, we could maybe compile and run Envoy in WASM, since we build under Clang today. Not sure of practical applications beyond a form of sandboxing. Will be challenging to deal with threading model and networking.

[2018-08-27 23:09] htuch commented on #4241
@ramaraochavali yeah, this behavior is a bit confusing. `GrpcMuxImpl` treats both CDS and EDS the same, where CDS subscribes with a single watch and EDS with many watches, one per cluster. You want this empty behavior for CDS but not EDS.

I'd consider this a bug, are you interested in taking a look at fixing? It should only be fixed for RDS/EDS, LDS/CDS should maintain their existing behaviors (t

[2018-08-27 23:11] htuch commented on #4122
Well, there are other maps for stats (https://github.com/envoyproxy/envoy/blob/master/api/envoy/admin/v2alpha/clusters.proto#L49), but I think this is a reasonable step and we can open new issues if folks object.

[2018-08-27 23:11] #4122 closed

[2018-08-28 00:21] idiamond-stripe opened #4273 "Envoy exits with "Segmentation Fault" when unparsable JSON is returned from the LDS over the xDS protocol."
**Bug Template**

*Title*: Envoy exits with "Segmentation Fault" when unparsable JSON is returned from the LDS over the xDS protocol.

*Description*
In our implementation of the Listener Discovery Service, we currently use the `endpoint` field of `/api/envoy/config/filter/http/health_check/v2/health_check.proto` that was removed in: https://github.com/envoyproxy/envoy/pull/3511

We currently use a

[2018-08-28 00:40] jmarantz commented on #4160
Jotting down a rough roadmap to resolving this:

1. #4180 and and #4248 merged, establishing TimeSource injection in many places.
2. Cleanup PR #4247  pending, addressing some of @htuch's comments from #4180
3. Will request a review for #4261, to merge MonotonicTimeSource and SystemTimeSource into just TimeSource.
4. Will request a review for #4257, which derives Event::TimeSystem from TimeSource,

[2018-08-28 01:38] louiscryan commented on #4272
FYI @dio

[2018-08-28 03:45] ramaraochavali commented on #4241
Yes. I have a working fix for it. I will push a PR

[2018-08-28 03:50] ramaraochavali commented on #4122
Yeah. I saw that. Let me see if I can fix that as well this week.

[2018-08-28 06:23] Bhawna4tech opened #4274 "Dynamically route prefix_rewrite"
**How to dynamically route prefix_rewrite**

*Description*:

For example: I have two services bookings and orders. I want to route to orders/{valueGiven}/sometask when the system gets the request for bookings/{valueGiven}/sometask. I tried doing below solution. It's not working as expected.

                        {
                            "match": {
                              "regex": "/b

[2018-08-28 06:36] zyfjeff commented on #4274
@Bhawna4tech  the variable is not currently supported, there is no way to use $1 to refer to regular matching to the content

[2018-08-28 06:50] vadimeisenbergibm commented on #4076
@lizan

cc @rshriram

OK, great, so we agree that our requirement cannot be implemented today with Envoy AS IS.
The requirement is pretty straightforward - to extract the inner SNI by a read filter and stick it somewhere in the Envoy's data structures so other filters will be able to read it. The implementation is also very simple.

You propose a more complex change - `tcp_proxy` will get the oute

[2018-08-28 07:37] jeteon opened #4275 "SNI FAQ page subtly incorrect and implementation confusing"
*Title*: **The FAQ page that documents SNI configuration is slightly incorrect and misleading**

*Description*:

The SNI configuration example shown in the FAQ section is incorrect because it shows supplying a string value instead of a list of strings for the `server_names` parameter. This took some time for me to debug since:

- the server itself accepts this configuration without issue (though i

[2018-08-28 07:59] techygarg commented on #4274
@zyfjeff: Thanks for prompt response.  As we have limited knowledge with Envoy so far, do you see any other feasible way, we can achieve it.

[2018-08-28 09:01] dio commented on #4273
I'll try to investigate this.

[2018-08-28 09:33] zyfjeff commented on #4274
@techygarg #3977 This problem is very similar with you

[2018-08-28 10:50] Bhawna4tech commented on #4274
@zyfjeff: Thanks for sharing the link. Yeah, it is same scenario. As no one has responded yet, it looks like it is not feasible currently in envoy, correct ?

[2018-08-28 12:03] vadimeisenbergibm commented on #4076
@lizan @rshriram

This part I am still missing. Can a filter in Envoy set the SNI of a cluster? In the case of the Envoy in the sidecar, we have a cluster that opens mTLS to the gateway. So can a filter change mTLS settings of a cluster?

[2018-08-28 12:57] apsega opened #4277 "Send Proxy Protocol to Upstream over L4"
*Title*: *Send Proxy Protocol to Upstream over L4*

*Description*:
I couldn't find that Envoy Proxy supports sending Proxy protocol to upstreams over L4. This is needed if I have Nginx Ingress Controller under NAT and Envoy Proxy as an edge L4 proxy in front of Kubernetes clusters. In that way my Nginx Ingress controllers would get the correct X-Real-IP and X-Forwarded-For values.

*Relevant Links

[2018-08-28 14:07] lomik opened #4278 "Different unit of timestamp in metrics_service in linux and macos"
*Description*:
Envoy sends a different value for timestamps to metrics_service in linux and macos: nanos in linux and micros in macos.
Problem reproduced in 1.7.0 and in current master.

*Repro steps*:
Sample "metrics_service" and envoy config are here: https://github.com/lomik/envoy-issue/tree/master/metric_service_timestamp

Macos output:
[code]

Linux output:
[code]

[2018-08-28 14:47] cmluciano commented on #4267
ok will close for now

[2018-08-28 14:47] #4267 closed

[2018-08-28 15:13] bplotnick opened #4280 "Endpoints in multiple priorities are treated independently"
*Title*: *Endpoints in multiple priorities are treated independently*

*Description*:
This is mostly a design proposal, since I think it would take a significant rework of the design to make the expected behavior happen

### Current behavior
Currently if you have an endpoint in multiple priorities, they are treated independently wrt stats and healthchecking at the very least, even if they are iden

[2018-08-28 15:31] cmluciano commented on #4275
cc  @PiotrSikora

[2018-08-28 17:05] ggreenway commented on #4277
Duplicate: #1031

[2018-08-28 17:05] #4277 closed

[2018-08-28 17:27] htuch commented on #4280
@bplotnick I'd like to understand how general the concern being mooted here is; is this an artifact of your specific use case and environment?

One way to use priority failover is to switch to a completely distinct set of endpoints, which some Envoy users will be doing. Others might have some overlap.

I agree we can solve with another level of indirection. We'd need to make this backwards compati

[2018-08-28 19:12] junr03 opened #4283 "Framework for Richer Information in Responses"
*Title*: *Framework for Richer Information in Responses*

*Description*:
Envoy contains a lot of rich information for every request and response. Some of this information is currently not easily accessible to service owners looking to understand the network topology, or debug problems. If this information were shared with trusted clients via response headers and body, it could provide for a richer

[2018-08-28 19:13] junr03 commented on #4283
@vilobhmm do you mind adding details of the proposed functionality we discussed last week, and sharing a link to your document?

[2018-08-28 20:16] #3874 closed

[2018-08-28 20:27] vilobhmm commented on #4283
@junr03 : Here is the doc link for Reverse Proxy Response Propagation to downstream

https://docs.google.com/document/d/1TR9i_yD9FI73PSP73OVytJhsR6T2npMw9SfaSDS5ajw/edit#

[2018-08-28 20:52] kumarsubodh commented on #2852
Something on authorization side. We were excited to find sidecar enabling complex authorization patterns at message level, Service A can only consume this message from Service B, if an only if....
With Kafka being message moved between services, we lose the advantage of sidecar, as now kafka becomes responsible for which message can be consumed by which service. Kafka authorization is pretty coars

[2018-08-28 22:36] lizan commented on #4076
The requirement is pretty straightforward - to extract the inner SNI by a read filter and stick it somewhere in the Envoy's data structures so other filters will be able to read it. The implementation is also very simple.

Yes, I think all options listed above need some code change in Envoy, except tunneling to another listener which sacrifices performance.

I would echo @rshriram's comment that t

[2018-08-28 22:39] PiotrSikora commented on #4275
It's correct, `server_names: value` is the same as `server_names: [value]` when dealing with single-element lists in YAML.

It works just fine (it's missing a few required fields in HTTP connection manager, so the config doesn't load as-is, but that's unrelated).

There are no wildcards in the [SNI example](https://www.envoyproxy.io/docs/envoy/latest/faq/sni).

There is no mention of `server_names

[2018-08-28 22:53] dio commented on #4274
It seems it is useful to have captured params to be used for subsequent `prefix_rewrite`-ing.

[2018-08-29 00:28] sirajmansour commented on #2852
@mattklein123 dumping incoming traffic to a kafka stream is a killer feature, we're looking for something like this as a collector for our analytics platform.

[2018-08-29 01:26] vadimeisenbergibm commented on #4076
@lizan

How can a filter set SNI for Envoy's mTLS?

[2018-08-29 02:14] bplotnick commented on #4280
@htuch I've sort of fused two issues into one. The specific problem comes from an implementation detail, but i think it's a reasonable implementation, which i'll explain here.

The main thing is that we assign each endpoint to all priorities/localities that it belongs to.

So let's say I have 3 endpoints of a given service in the following topology:

| endpoint | zone |
| --------- | ----- |
| foo

[2018-08-29 07:10] adriancole opened #4289 "implement "b3 single" header format"
*Title*: implement "b3 single" header format

*Description*:
We should permit at least parsing the more compressed "b3" header format, if not making it possible to propagate it downstream.

ex.  `b3: 4bf92f3577b34da6a3ce929d0e0e4736-00f067aa0ba902b7-1`

This is the same format as will be used in the w3c tracestate

Details are here: https://github.com/openzipkin/b3-propagation/issues/21
Example im

[2018-08-29 10:03] leader-us opened #4290 "when Cluster using EDS service to fectch endpoints ,can't using DNS name in endpoint address"
when Cluster using EDS to fetch endpionts ,I can't using DNS names in endpoint address ,

resource_names: "test-cluster"
type_url: "type.googleapis.com/envoy.api.v2.ClusterLoadAssignment"
response_nonce: "2705"
error_detail {
  code: 13
  message: "**Unknown address resolver: service1. Consider setting resolver_name or setting cluster type to** \'STRICT_DNS\' or \'LOGICAL_DNS\'"
}

is there any ch

[2018-08-29 11:33] dio commented on #4290
@leader-us you can either resolve the domain in your management server or do complete CDS response.

Related: https://github.com/envoyproxy/go-control-plane/issues/87#issuecomment-400739949

[2018-08-29 13:22] jerome-quere opened #4291 "Error with gRPC python server upstream with SSL/TLS enabled."
I Cannot make a gRPC call to an upstream python server with SSL/TLS enabled.

[code]

When calling python server directly with a python or go gRPC client it works fine.
When using envoy to forward the gRPC call, client receive a gRPC `unavailable` error.
When reading logs we have a successfull TLS handshake between envoy and python server.

*Repro steps*:
I made demo repo here: https://github.com/

[2018-08-29 13:31] #4241 closed

[2018-08-29 16:33] Daniel-B-Smith commented on #721
What is the current state of this? We (Datadog) are currently looking into putting Envoy on our edge and would really like to do gRPC retries inside our edge with Envoy but only for certain gRPC status codes.

[2018-08-29 16:41] alyssawilk commented on #721
This was fixed a while back, for the case where the status code is immediately returned in headers.

Hopefully the docs checked in with the associated PR will be helpful in setting it up:
https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/router_filter#x-envoy-retry-grpc-on

[2018-08-29 16:46] Daniel-B-Smith commented on #721
Thanks for the quick response! Yep, that's exactly what I was looking for.

[2018-08-29 16:57] vadimeisenbergibm commented on #4076
@rshriram @lizan @PiotrSikora I decided to document the requirements, the design and the implementation issues for the whole use case in a design proposal In Istio https://goo.gl/cQ29rX.

Let's discuss the whole use case first. While we collected this use case from several customers, and one customer needs this implementation urgently, I think the use case is very straightforward and totally gener

[2018-08-29 16:58] cmluciano commented on #4076
FYI I added REQUESTED_SERVER_NAME within #4144 to the request_info. I'm not sure if that helps as far as populating a variable to pass on, but we at least are able to record the values in the access_log now that this is merged.

[2018-08-29 17:02] vadimeisenbergibm commented on #4076
@cmluciano Thanks, Chris! It is definitely very useful.

[2018-08-29 17:15] zuercher opened #4294 "detect early close not available on non-Linux systems"
ConnectionImpl has a "detect early close" feature that's enabled by default. Under Linux (specifically libevent using epoll), we can detect via `EPOLLRDHUP` that a connection has been closed by the remote host without actually attempting to read from the socket and even if there is readable data pending in the kernel. In this case, libevent generates an `EV_CLOSED` event.

Envoy makes use of this

[2018-08-29 17:34] #3928 closed

[2018-08-29 19:03] #3753 closed

[2018-08-29 20:57] alanconway commented on #4128
On Fri, Aug 17, 2018 at 5:18 PM, Matt Klein <notifications@github.com>
wrote:

separate the upstream filter work and get it beaten into a pull request
ASAP.

[2018-08-29 22:36] lizan commented on #4076
Need to change `tcp_proxy` when it creates connection to upstream, pass the SNI, and plumbing down to here:
https://github.com/envoyproxy/envoy/blob/master/source/common/ssl/context_impl.cc#L493

The SNI is already available in `ReadFilterCallbacks` without the filter proposed in #4236, i.e. read_callbacks_->connection().requestedServerName().

[2018-08-29 22:40] zuercher commented on #3818
This is a background task for me, but I am still working on it.

[2018-08-30 01:35] rshriram commented on #4076
I second @lizan suggestion. Making the tcp proxy forward the SNI from inbound connection to outbound cluster is a far more generic solution than the PR you have. If another customer comes with the requirement that inner tls SNI has to be stripped, and decides to add a filter to Envoy open source, what would you do ?

I also don’t see a clean way to surface this in istio without adding a myriad of

[2018-08-30 01:48] leader-us commented on #4290
Thanks，May be support DNS name in EDS endpoints will better

[2018-08-30 02:16] dio commented on #4290
@leader-us yes true. We hope we can support it eventually. PR is welcome.

[2018-08-30 06:06] lizan commented on #4291
Do you have any logs from the gRPC server output? What is the version of gRPC you are using?

[2018-08-30 07:58] apsega opened #4301 "Redirect traffic to same port as it was received / Listen on several ports"
*Title*: *Redirect traffic to same port as it was received / Listen on several ports*

*Description*:
I couldn't find if Envoy Proxy actually supports the option to listen on all/range of ports and redirect traffic (L4) to the backends on the same port as the traffic has been received. If there's actually a capability can someone share a configuration?

HAProxy actually supports this kind of stuff

[2018-08-30 08:32] lizan opened #4302 "test: add regression test for #4244"
*Description*:
A tracker issue for bugs similar to #4244, better to have a test to make sure no regression on it happens.

[2018-08-30 11:53] jerome-quere commented on #4291
Ok I found the problem. Python gRPC server requires ALPN (Golang gRPC server doesn't).
Enabling it my envoy cluster solved my problem.
[code]

For the record i was using latest version of python grpc `grpcio-1.14.1`

Python Server log with `GRPC_VERBOSITY: debug` and `GRPC_TRACE: all`
[code]

[2018-08-30 14:53] yskopets opened #4305 "Envoy `Lua` filter causes a crash when code in either `envoy_on_request` or `envoy_on_response ` calls `requestInfo():dynamicMetadata()`"
**Issue**

Envoy `Lua` filter causes a crash when code inside `function envoy_on_response(response_handle)` calls `response_handle:requestInfo():dynamicMetadata()`

*Description*:

I'm trying to use `Lua` filter to implement redirect to a Login Page whenever HTTP Status 401 happens.

Here is my `Envoy` config (relevant part):

[code]

and here are Envoy logs:

[code]

**Repro steps**:

1. Use exam

[2018-08-30 15:50] #3940 closed

[2018-08-30 16:29] cmluciano commented on #4076
https://github.com/envoyproxy/envoy/blob/master/source/common/ssl/context_impl.cc#L493

@vadimeisenbergibm do you think ^ will not be sufficient?

[2018-08-30 16:53] joshuarubin commented on #4240
Anything I can do to speed this along? I'm happy to take a stab at a PR. This issue isn't affecting us in production yet, but very soon will be.

[2018-08-30 17:50] #3942 closed

[2018-08-30 19:31] lizan commented on #4278
@jmarantz Can you take a look on this? cc @zuercher for macOS.

[2018-08-30 19:40] lizan commented on #4301
Sounds like iptables REDIRECT (or TPROXY, need more capability and configuration) with original dst cluster will achieve this? See https://github.com/envoyproxy/envoy/tree/master/configs/original-dst-cluster too.

[2018-08-30 20:14] jmarantz commented on #4278
This is already being addressed in https://github.com/envoyproxy/envoy/pull/4288 ?

[2018-08-30 20:45] dio commented on #4305
@yskopets thanks for this.

This happens when the `~RequestInfoWrapper` is called (when the gc kicks in). Need to check the sequence.

[2018-08-30 20:48] lizan commented on #4076
Solution B sounds better, though I don't think you really want to do 2, at egress you can just use outer SNI for both mixer check and routing, then you don't have to worry about inner SNI. It doesn't add much value as long as you don't perform routing based on inner SNI: https://github.com/envoyproxy/envoy/issues/4076#issuecomment-416342017

Add explicit field `forward_original_sni` would be bette

[2018-08-30 21:08] dio commented on #4305
It's missing resetting `dynamic_metadata_wrapper_` when RequestInfoWrapper receives `onMarkDead`. Thinking about tests now.

[2018-08-30 21:16] mpuncel commented on #2456
I'm curious about the interest levels in this as well. Because OpenCensus defines the context propagation format, it seems like getting Envoy to play with that will be critical for anyone who wants to use OpenCensus

[2018-08-30 21:45] #3997 closed

[2018-08-30 21:50] #3945 closed

[2018-08-30 21:56] htuch commented on #2456
@bogdandrutu can you provide the latest thinking here FTR.

[2018-08-30 22:03] dsabeti opened #4310 "Short lived connections causing segmentation fault"
*Description*:
When a client attempts to make a very short connection -- for example, checking that a port is open -- Envoy crashes with a seg fault. For context, we have health check logic that tries to establish these short connections periodically.

*Repro steps*:
1. Start with `envoyproxoy/envoy:3b47cbabb517db69a40f38843a405d1d6f742f5d` docker image.
2. Run Envoy (see config below):
[code]

3.

[2018-08-30 23:56] ggreenway commented on #4310
@PiotrSikora I'm guessing this is the same issue as https://github.com/istio/istio/issues/8310.

[2018-08-31 00:04] ggreenway commented on #4310
Nevermind; not quite the same I don't think.

[2018-08-31 00:17] PiotrSikora commented on #4310
It doesn't look like it is.

Also, it seems that this started very recently (unless I'm misreading this), whereas [TCP proxy changes](https://github.com/envoyproxy/envoy/commit/04616d6764c77f1bb48bf1f3496c8378bb11dd2f) have been merged ~3 weeks ago.

[2018-08-31 00:43] PiotrSikora commented on #4310
Actually, it's the same... I got confused by the `dbg` (with working `ASSERT()`s) vs `opt` stacktrace and new log entries that have been added since istio's envoy.

[2018-08-31 00:51] PiotrSikora commented on #4310
Yeah, I verified that it started happening with 04616d6764c77f1bb48bf1f3496c8378bb11dd2f.

@zuercher do you have a quick fix in mind or should we revert it?

[2018-08-31 02:53] vadimeisenbergibm commented on #4076
@cmluciano @lizan Note that the case of Envoy in the sidecar proxy is different from the case of Envoy in the gateway, with regard to the Solution B.

The sidecar's `tcp_proxy` forwards the traffic to a cluster with `tls_context` (the mTLS). `tcp_proxy` has to fetch the `tls_context` of the upstream connection and set the SNI in it.

The gateway's `tcp_proxy` forwards the traffic to a cluster with

[2018-08-31 03:38] mpuncel commented on #2456
As a potentially smaller step supporting the OpenCensus binary trace context propagation format in the existing Zipkin tracer would be useful in contexts with a Zipkin-compatible backend

[2018-08-31 05:14] lizan commented on #4076
Can you clarify why it has to do them? I think I made it clear you need neither. Just forward as opaque, routing based on outer SNI should suffice.

[2018-08-31 06:34] apsega commented on #4301
I've tried the following config and it seems that Envoy is not receiving traffic on random port:

[code]

The backend listens on port `27439` and when I'm trying to connect through Envoy on that port:

[code]

[2018-08-31 06:53] ramaraochavali opened #4316 "http2.tx_reset increments even when stream is not disconnected with stream_idle_timeout"
We have long running http2 stream and the connection manager is configured like this
[code]
 Before `stream_idle_timeout` is configured, the local reset used to happen and `http2.tx_reset` stat used to be incremented.
After `stream_idle_timeout` is configuration, local reset stopped and  stream is now not disconnected. But still the `http2.tx_reset` is incremented. Is this a bug?

[2018-08-31 06:59] vadimeisenbergibm commented on #4076
@lizan

Two points:
1. Mixer must be reported the host the request will be routed to. Mixer also must be reported the host that will be sent to the destination as the value of the SNI (both values should be the same). Even if Envoy could perform the routing according to the outer SNI, the inner SNI could be different, another discrepancy between what Mixer is reported and what happens in reality.

[2018-08-31 07:37] lizan commented on #4076
This is a workaround, the longer term solution is add that ability to Envoy and use outer SNI to route, not sure if the architecture of adding another SNI proxy is the right way. I'll comment more in your design doc for istio.

The request will be sent by a fake proxy with inner SNI `mongodb1.foo.com` and the outer SNI `mongodb2.foo.com`. The request will pass `*.foo.com` filter chain, the mixer w

[2018-08-31 09:31] lizan commented on #4240
@joshuarubin If you would like to write a PR I'm happy to review. It would be simple to add some code here to do:
https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/http/grpc_json_transcoder/json_transcoder_filter.cc#L401

1. check if downstream is HTTP1.1 `callbacks_->requestInfo().protocol()`
2. remove "trailer" header from `response_headers_`

Also add tests accordingly.

[2018-08-31 13:35] pugachAG opened #4317 "Envoy doesn't add headers in case of Gateway Timeout"
*Description*:

Envoy doesn't add headers specified in the route configuration in case of upstream timeout.

*Repro steps*:

Send request to upstream which doesn't respond within specified route timeout.

Expected: envoy adds headers specified under `response_headers_to_add`

Actual: envoy doesn't add any headers:

[code]

*route config*:

[code]

[2018-08-31 13:41] ggreenway commented on #4310
I agree that not connecting to an upstream until after the TLS handshake completes would improve the behavior.

However, my guess is that this can also happen with non-TLS connections, it just depends on the timing. I think it's a sequence like, or similar to:

* downstream connection established
* upstream connection initiated
* downstream connection disconnected
* upstream connection established

[2018-08-31 14:15] paeschli commented on #4195
I had the exact same err, `sudo rm /dev/shm/envoy_shared_memory_0` solved the problem as described by @yuval-k

[2018-08-31 15:48] yskopets commented on #4305
I found another scenario where call to `requestInfo():dynamicMetadata()` crashes `Envoy`:
* add 2 `Lua` filters in the chain
* call `request_handle:requestInfo():dynamicMetadata()` from `function envoy_on_request(request_handle)` in the second `Lua` filter

**Repro steps**:

1. Use example configuration that comes with `Envoy` (google proxy) and add the following `Lua` code:

[code]

2. Make a few

[2018-08-31 15:58] rshriram commented on #4076
How will you surface this as configuration in Istio? How will Pilot know whether to install the SNI reader filter or not for a given port on a proxy? We do not (and should not) be differentiating ingress/egress gateways. A gateway is simply a gateway.

This whole workaround is being done for the missing capability where envoy cannot send to arbitrary DNS destinations. Once that feature lands, this

[2018-08-31 16:41] vadimeisenbergibm commented on #4076
@rshriram

By specifying EnvoyFilter https://istio.io/docs/reference/config/istio.networking.v1alpha3/#EnvoyFilter-Filter

The customer will specify SNIReader's location by specifying listener's port, port name and the type `GATEWAY`. The customer can choose some convention for the port names, e.g. tis-egress-443 and apply the filter on these ports.

Once this feature lands, I will be the first to

[2018-08-31 17:06] julia-stripe commented on #4011
Can confirm that upgrading Bazel fixed this.

[2018-08-31 17:08] vadimeisenbergibm commented on #4076
@lizan

Once the long term solution is available in Envoy, I will be the first to remove the SNI proxy and simplify the code.

Citadel cannot know if there is some fake proxy running in a pod. The fake proxy will steal the certificates used by the legitimate sidecar proxy in the pod.

You have the control in the sense that the encrypted request will arrive to the hostname by the SNI. This is the r

[2018-08-31 19:02] lizan commented on #4076
From that point, I'd argue inner SNI is also out of scope of egress control, what about if the application doesn't use SNI? It is receiving server's responsibility to verify, as long as you don't route based on it.

This is definitely forwarding, but a common behavior for multitenancy or dynamic hosting has, (which is where you really want to do wildcard without knowing what the host is).
[code]
w

[2018-08-31 19:16] lizan commented on #4076
I think we all agreed in longer term:
- a generic outbound proxy https://github.com/envoyproxy/envoy/issues/1606
- tunneling over HTTP https://github.com/envoyproxy/envoy/issues/1451
along with the metadata of SNI.

In short term, I think having mixer filter to inspect inner SNI is acceptable, though I don't think the data itself is as generic as to be be stored in `ReadFilterCallbacks`.

[2018-08-31 19:28] sesmith177 commented on #129
We've started porting the unit tests to get them running on Windows on our [branch](https://github.com/greenhouse-org/envoy/tree/windows-linux-build). It's set up in our CI, which should be visible here: https://garden-windows.ci.cf-app.com/teams/main/pipelines/envoy/jobs/envoy-windows/builds/45

While porting the tests, we've noticed 2 real issues, both with libevent. First, libevent does not sup

[2018-08-31 19:46] vadimeisenbergibm commented on #4076
@lizan

The requirements we received from our customers is to support TLS with SNI. We were not required to support TLS without SNI.

[2018-08-31 19:47] #4011 closed

[2018-08-31 19:47] lizan commented on #4011
closing as answered.

[2018-08-31 19:47] vadimeisenbergibm commented on #4076
@lizan

OK, agreed for the short term. So where should we store the inner SNI?

[2018-08-31 20:17] lizan commented on #4076
You can do that in mixer filter alone (extracting and verifying) once we agreed on the proposal in istio community to do the short term instead of directly pursuing long term.

[2018-08-31 20:58] dio commented on #4305
@yskopets yes, thanks to you that I can reproduce the issue well. Would you mind building envoy with this patch: https://github.com/envoyproxy/envoy/pull/4312 and see if that fix yours? (If you have a problem on building envoy from the source you can ping me via slack (@dio at https://envoyslack.cncf.io/) or email). Thanks!

[2018-09-01 01:05] lizan commented on #4301
Did you setup iptables to redirect the traffic? Also I don't think you need load_assignment for the cluster.

[2018-09-01 01:08] bndw opened #4324 "v1.7.1 missing from Dockerhub"
#### Missing `v1.7.1` tag in Dockerhub

*Description*:
The [latest release of Envoy](https://github.com/envoyproxy/envoy/releases/tag/v1.7.1) appears to be missing its release tags in Dockerhub, `envoyproxy/envoy:v1.7.1` and `envoyproxy/envoy-alpine:v1.7.1`.

I've attempted to manually dig through the Circle history but haven't been able to locate the job corresponding to the tag event.

*Repro st

[2018-09-01 01:09] lizan commented on #4324
dup of https://github.com/envoyproxy/envoy/issues/4052

[2018-09-01 01:11] bndw commented on #4324
Whoops, I searched `v1.7.1` in issues but it didn't surface that. I'll close this out, thanks @lizan

[2018-09-01 01:11] #4324 closed

[2018-09-01 01:16] bndw commented on #4052
Can someone help me understand why the `v1.7.1` tag didn't make it to Dockerhub? I don't see any code for skipping the publish if its a point release, AFAIK Circle gets the tag event and we run [docker_tag.sh](https://github.com/envoyproxy/envoy/blob/master/ci/docker_tag.sh)

[2018-09-01 07:11] zyfjeff commented on #4317
When upstream timeout, the response should be returned by envoy, and response_headers_to_add should be understood to refer to the addition of header to the content returned by upstream.

[2018-09-01 07:37] zyfjeff commented on #4317
I looked at the code, the current implementation will only add the header when the upstream response is waited.

https://github.com/envoyproxy/envoy/blob/master/source/common/router/router.cc#L638

[2018-09-01 11:55] BlackPineapple opened #4325 "how to config envoy as a Origin server for static content ? just like nginx"
*Description*:

[2018-09-01 12:34] zyfjeff commented on #4325
Envoy is not a web server. It is a modern reverse proxy, similar to haproxy, and nginx is a web server with reverse proxy functionality.

[2018-09-01 13:15] craigbox commented on #1472
This remains an issue.  (/activity)

[2018-09-01 17:17] bmetzdorf opened #4327 "header_to_metadata filter does not work with old style websockets"
Looks like the header_to_metadata HTTP filter does not work with old style websocket connections.

This means that old style websocket connections cannot use header values via header_to_metadata for subset load balancing.

Probably because
[code]
is called after the old style websocket check.

Related: https://github.com/envoyproxy/envoy/pull/3633

@rgs1 @zuercher @alyssawilk @ggreenway What do yo

[2018-09-01 19:17] brian-pane commented on #2247
(Updating to keep the stale-bot from closing.)
This feature is still under active development.

[2018-09-02 05:09] ramaraochavali commented on #4316
Here are some more details
Global http2 level stats does not have tx_reset i.e `http2.tx_reset` does not have any values.
`http2.tx_reset: 0`

Ingress Connection Manager does not have the tx_reset
[code]
And local clusters stats have tx_reset
`cluster.local_cluster.http2.tx_reset: 940`

So definitely looks like some issue. Also could not find the stream_idle_timeout related handling in router. Is

[2018-09-02 06:48] vadimeisenbergibm commented on #4076
@lizan OK, we will perform only the refactoring of tls inspector in Envoy, and add the extracting and verifying functionality to mixer.

[2018-09-02 16:49] mpuncel commented on #4259
I think there's one additional piece that would be needed because it seems like Envoy always looks at the last address from `X-Forwarded-For`. We'd want a mode where Envoy looks at the remote address instead and does not append to `X-Forwarded-For` (because that wouldn't make sense for a unix socket address)

[2018-09-03 02:50] #3977 closed

[2018-09-03 06:49] #4325 closed

[2018-09-03 07:15] huxiaobabaer commented on #3303
May i know how to disable the warning? TKS

[2018-09-03 08:56] zengyuxing007 opened #4330 "Bazel is the Worst Build System，why not supply makefile for build"
**Issue Template**

*Title*: *One line description*

*Description*:

describe the desired behaviour, what scenario it enables and how it
would be used.

when now this project using  bazel build system, and  using a lot of thirdparty  dependences,
run bacel build, get these dependences under github is very slowly!!!

[optional *Relevant Links*:]

**Bug Template**

*Title*: *One line description*

*

[2018-09-03 18:59] ivasonn commented on #4291
May be it similar question.
After replacing go service with python (https://gist.github.com/ivasonn/4a45842af8307d0d3368c54fef13ec06) in grpc-bridge example. I'm getting follow in headers with empty response
`{'content-length': '0', 'grpc-message': 'upstream connect error or disconnect/reset before headers', 'server': 'envoy', 'x-envoy-upstream-service-time': '1', 'grpc-status': '14', 'date': 'Mon

[2018-09-04 02:47] htuch commented on #4330
@zengyuxing007 I understand the frustration you're expressing, but we made the call to move to Bazel as the canonical build system last year and there is large amount of complexity and maintenance burden in maintaining multiple build systems. Not to mention the Envoy "business logic" that we've baked into our Bazel build system over this period (e.g. the extension management system).

So, again, a

[2018-09-04 02:47] #4330 closed

[2018-09-04 02:53] htuch commented on #4052
@bndw this seems like something we should fix, given 1.7.1 was a security release. I'm going to next hop route to @ggreenway who is Envoy maintainer on-call this week, if this ends up being non-trivial one of the maintainers will pick it up.

[2018-09-04 07:55] lizan commented on #4317
Yeah it could be an enhancement, note filters before router could respond to the request too, so the change might be wide. @zuercher (per TODO in the code above) thoughts?

[2018-09-04 07:56] lizan commented on #4291
@ivasonn do you have your envoy config? Does similar config for cluster with ALPN resolve your problem?

[2018-09-04 08:56] ivasonn commented on #4291
I did not change anything in https://github.com/envoyproxy/envoy/blob/master/examples/grpc-bridge/config/s2s-grpc-envoy.yaml. No, ALPN not fix my problem

[2018-09-04 09:40] dunjut commented on #4103
I like this proposal. In our legacy systems, a custom proxy component replies http 570 indicating clients to retry another instance, when such components going into graceful upgrade process. 502 and 503 codes aren't used in this scenario because that would cause ambiguity.

[2018-09-04 10:14] Asisranjan commented on #3388
Hi HappyStoic

I am trying to achieve Rate limiting functionality. I am little confuse on the below config. The sample configuration you provided (as below), where this should will go?

domain: rate_per_ip
descriptors:
  - key: remote_address
    rate_limit:
      unit: minute
      requests_per_unit: 3

Can you please share config?

Thanks
Asisranjan Nayak

[2018-09-04 11:14] jmarantz commented on #3674
ping to keep this alive.

[2018-09-04 13:06] #3639 closed

[2018-09-04 13:48] jmarantz opened #4332 "clean up management of durations in timer_impl"
*Description*:

[code]

bringing it to the attention of @dnoe , who commented:

[code]

I didn't want to rewrite the code as I was just moving it; and then I wound up unmoving it so it really isn't part of #4257, but I'm jotting this down as tech-debt.

[2018-09-04 13:59] lizan commented on #4291
@ivasonn that's a different issue because you're not using TLS, can you open a new issue with all information asked by issue template?

[2018-09-04 13:59] #4291 closed

[2018-09-04 14:08] alyssawilk commented on #4327
AFIK no filters work with old style websocket connections.   That was one of the motivating factors for new style websockets :-)

In addition, old style websockets are deprecated and so may be removed with the next Envoy build (1-2 months), so I'd strongly encourage moving over and seeing how the new ones work out for you

[2018-09-04 15:52] cmluciano commented on #3415
Can we add the "no stalebot" label to this issue @envoyproxy/maintainers

[2018-09-04 17:02] zuercher commented on #4278
I think assignees need to be members of the org. Leaving it unassigned for now.

[2018-09-04 17:06] bmetzdorf commented on #4327
Thanks @alyssawilk. I remember that @ggreenway mentioned that to me before, but I think I just got confused since the router filter (including adding metadata) actually does work for the old style websocket connections.

I'll work on switching over to the new upgrade methods.

[2018-09-04 17:06] #4327 closed

[2018-09-04 17:39] ramaraochavali commented on #4316
I am also confused on this. When I test locally with the latest envoy master I do not see cluster.local_cluster.http2.tx_reset being incremented after we disabled the stream_idle_timeout. However, in one of our production boxes, this is still incremented even after disabling the stream_idle_timeout. Will see if I can get more info on this.

[2018-09-04 17:45] ggreenway commented on #3303
From the warning:

[2018-09-04 19:18] #4305 closed

[2018-09-04 20:46] snowp opened #4337 "Allow disabling circuit breaking"
We're finding ourselves setting circuit breaking limits very high in order to effectively disable circuit breaking in certain cases. It would be nice to have a single flag that allows us to disable circuit breaking instead of hoping that we selected high enough values.

[2018-09-04 22:28] htuch commented on #4316
@ramaraochavali what SHA is your production Envoy at? https://github.com/envoyproxy/envoy/pull/3879 was where we really made clear the final config semantics for timeouts. Are you pre/post #3879?

[2018-09-04 22:32] #4031 closed

[2018-09-04 22:35] zuercher commented on #4294
I was eventually able to develop a hack to fix this bug on OS X. See #4299 -- it involves using `getsockopt(_, IPPROTO_TCP, TCP_CONNECTION_INFO, _, _)` to obtain information about the TCP connection, which includes the TCP finite state machine's current state to determine if the TCP stack is waiting for Envoy to close the connection (which implies that the remote has already done so). It doesn't s

[2018-09-04 22:36] #4294 closed

[2018-09-04 22:39] ramaraochavali commented on #4316
We are post #3879. Actually `stream_idle_timeout` works.  After we have disabled it, the long running streams stopped disconnecting. Functionally it works correctly. But some how this cluster level `cluster.local_cluster.http2.tx_reset` gets incremented where as codec level stat `http2.tx_reset` is 0 and functionally there is no issue. I am still figuring out what makes this cluster level local re

[2018-09-04 23:05] ramaraochavali commented on #4316
@htuch I understand what's happening. The cluster level ` http2.tx_reset` looks like genuine disconnections. so I looked at the stats and the downstream service got disconnected with Envoy and Envoy sent a Local Reset to the upstream connection on the cluster that hosts the long running stream. So that is why we see cluster level http2.tx_reset is incremented. However, I am not clear on why the co

[2018-09-05 02:01] jpfaria commented on #3556
Dennis,

It did not work for me. Did it work for you?

Ambassador Version: 0.39.0
Envoy Version: 1.7.0

`getambassador.io/config: |
      ---
      apiVersion: ambassador/v0
      kind:  Mapping
      name:  pricing_prc-role-v351_v3_mapping
      prefix: /pricing/prc-role/v3/
      service: prc-role-v351.pricing:80
      tls: false
      envoy_override:
        query_parameters:
          - name:

[2018-09-05 04:59] steakknife commented on #4330
Bazel seems decent
https://news.ycombinator.com/item?id=9256844

Maybe under the venier of religulous, fact-free b&m-ing, there's spots of sequential tasks that could be concurrently pipelined to move as fast as say, picking at random, cmake + ninja? (Builds should always be able to run silently on rooftops and throw poison arrows.)

[2018-09-05 07:54] ivasonn opened #4342 "Envoy gRPC-bridge example not working with python service"
After replacing go service with python in grpc-bridge example. I'm getting follow in headers with empty response
[code]
repo - https://github.com/ivasonn/grpc-bridge-python

*Admin and Stats Output*:
[code]

[code]

[code]

*Config*:
[code]

*Logs*:
[code]

[2018-09-05 07:57] ivasonn commented on #4342
Adding `TE` header for request solved this problem

[2018-09-05 07:58] ivasonn commented on #4291
@lizan thanks. New issue - https://github.com/envoyproxy/envoy/issues/4342 and solution for this in comment

[2018-09-05 08:49] lizan commented on #4342
@ivasonn That makes sense, thanks for investigation. gRPC requires `TE` header (value `trailers`).

I think grpc-bridge should add that header, how does this handled at Lyft? @junr03 @ccaraman @danielhochman?

[2018-09-05 14:15] htuch commented on #4316
@ramaraochavali got it, feel free to reopen as needed.

[2018-09-05 14:15] #4316 closed

[2018-09-05 17:55] cmluciano commented on #492
I started making a bit of progress on the listeneroptions in my [local fork](https://github.com/cmluciano/envoy/tree/cml/udplisten).

Once I update the test cases, I will submit these small pieces for review.

[2018-09-05 19:26] ggreenway opened #4349 "Write a test for crash in #4310"
The crash in #4310 involves a downstream connection detecting a closed connection during the same event-loop iteration as the upstream connection becoming established, which makes it difficult to write a reliable test for.

[2018-09-05 19:27] #4310 closed

[2018-09-05 20:01] mpuncel opened #4351 "segfault in Envoy::Http::CodecClient::close()"
*Description*:
We saw a segfault inside of Envoy::Http::CodecClient::close(). It seems like a timed out health check can cause a connection close after it's already been closed.

Raw log output:
[code]

decoded with `stack_decode.py`:
[code]

I don't have the envoy version handy at the moment, I'll follow up in a comment when I determine which Envoy version this was built with. Looking at recent m

[2018-09-05 20:50] zuercher opened #4352 "sporadic timeout in sds_dynamic_integration_test"
//test/integration/sds_dynamic_integration_test fails intermittently. I've seen this in a couple of PRs, but also on master: https://circleci.com/gh/envoyproxy/envoy/91813

Potentially related is the following assertion in the same test file (from https://circleci.com/gh/envoyproxy/envoy/92168):

[code]

[2018-09-05 20:51] zuercher commented on #4352
@JimmyCYJ please take a look

[2018-09-05 21:01] JimmyCYJ commented on #4352
cc @qiwzhang

[2018-09-05 21:07] zuercher commented on #4352
The assertion occurred again in https://circleci.com/gh/envoyproxy/envoy/92306.

I'll stop posting further occurrences, but this one was on master as opposed to a PR.

[2018-09-05 21:33] bplotnick commented on #4132
@julia-stripe, I wasn't able to repro what you are describing, which (correct me if i'm wrong) seems to be that it re-healthchecks all the endpoints in the cluster when an endpoint is added. I had a cluster where I added an endpoint and only the new endpoint is healthchecked. Skimming https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/upstream_impl.cc, this seems to be consiste

[2018-09-05 21:44] snowp commented on #4218
I have some more time on my hand and can pick this up.

@htuch What were you thinking could be copied over in addition to what is already moved? From `ci/api_mirror.sh` it seems like the only things not copied over is `ci/`, `WORKSAPCE`, `LICENSE` and dotfiles. Is your idea to copy over `WORKSPACE` wholesale instead of using `api_dependencies` to share some of the external deps?

[2018-09-05 21:50] htuch commented on #4218
@snowp yeah, I think it might just be `WORKSPACE` based on what you say.

[2018-09-05 21:59] htuch commented on #4352
Yep, multiple fails here, we should fix ASAP as it's blocking other PRs in CI (or we can rollback).

[2018-09-06 01:48] bplotnick opened #4357 "stats: Tag extraction doesn't work if resource name contains dots"
*Title*: *Tag extraction doesn't work if resource name contains dots*

*Description*:
_I've tested this for [CLUSTER_NAME](https://github.com/envoyproxy/envoy/blob/master/source/common/config/well_known_names.h#L103), but I assume it holds for others with similar regexes like listener, vhost, etc._

If you have a cluster name like `foo.bar` (this is every single cluster for us, since they are name

[2018-09-06 02:08] joshuarubin commented on #4240
the code itself is pretty simple, if I've done it properly (at the location you mentioned above):
[code]
However, I don't have a clue how to go about testing this. I'm able to run the tests with bazel, but don't know enough about the framework to be much help yet. Any advice?

[2018-09-06 02:44] lizan commented on #4240
Add trailer to response header here and test if it is removed? https://github.com/envoyproxy/envoy/blob/master/test/extensions/filters/http/grpc_json_transcoder/json_transcoder_filter_test.cc#L314

[2018-09-06 03:06] inetkiller opened #4358 "envoy proxy grpc server over domain not work"
*Title*: *envoy proxy grpc server over domain not work*

*Description*:
I use envoy to proxy multi backend grpc services, so i want to use different domain to distinguish different backend grpc service. when change domain from "*" to "grpc.service.com", It seems that envoy is not working properly, my grpc client get error like this:
[code]

here is my envoy config file:
[code]

[2018-09-06 03:50] #4278 closed

[2018-09-06 05:56] snowp commented on #4351
Possible this is happening due to a timeout triggering following a ```Network::ConnectionEvent::RemoteClose || Network::ConnectionEvent::LocalClose```, which seems to close the connection?

Perhaps `onTimeout` should defensively check for nullptr before closing the connection?

[2018-09-06 14:03] AndresGuedez commented on #2929
Hi All,

I am preparing a PR with a mitigation for the client read/close race as per the approach outlined by @mattklein123 above.

There is a second problem identified in this issue whereby Envoy initiates connection tear down without allowing the read socket buffer to be drained when connection closes are picked up via write()s. I will tackle this next, although I think it should be done under a

[2018-09-06 15:13] lizan commented on #4358
Try use domains with port number, i.e. `grpc.service.com:10000`, gRPC Java is always adding port number to `:authority` header. Or you can use `overrideAuthority` when building channel in your gRPC client.

[2018-09-06 17:06] #4352 closed

[2018-09-06 17:06] #3996 closed

[2018-09-06 18:16] akonradi commented on #2649
I'll take this if nobody is working on it.

[2018-09-06 19:11] PiotrSikora commented on #4196
@htuch it seems that the string optimizations didn't help as much as we hoped, and even with #4281, we're still looking at ~69kB overhead for each static cluster, which is way too high.

Could you please reconsider disabling stats (since we don't have any use for them anyway)? This could be achieved by adding either no-op or lazily-loaded `Stats::Store`.

cc @ambuc

[2018-09-06 19:14] htuch commented on #4196
@PiotrSikora lazy loading `Stats::Store` seems reasonable if you can do it with low complexity.

[2018-09-06 19:30] PiotrSikora commented on #4196
@ambuc yes, disabling per cluster (or all?) stats at compile-time via flags would be by far the fastest thing to implement (and is in fact what I did for the measurements). @htuch would such solution be acceptable to you?

[2018-09-06 19:31] bplotnick commented on #4132
@julia-stripe i think i misunderstood what you were saying. You're saying that adding a new endpoint to the clusters causes all the envoy clients to connect to it at the same time.

I definitely see this and it definitely is a problem

[2018-09-06 19:34] htuch commented on #4196
@PiotrSikora doesn't Istio make use of cluster stats? It's basically impossible to diagnose what goes wrong on Envoy if you don't have cluster level stats. I think almost every user cares about these stats, even if they don't know it.

[2018-09-06 19:45] jmarantz commented on #4196
I thought a fair number of Envoy users use out-of-the-box binaries. Is it hard to do via flag?

Also is what we want to disable stats? Or just make them non-cluster-specific? Or both?

[2018-09-06 19:49] mrice32 commented on #4196
I think a flag to disable all stats (or just cluster stats) and a *targeted* lazy load (lazy loading as a rule for all stats would take a decent amount of work and might add some real overhead to the request path) would both be relatively easy. I think there's already a flag to disable/enable some subset of the stats today, but I can't remember which component.

@htuch I could see a use case where

[2018-09-06 20:10] jmarantz commented on #4196
I am not fully understanding the lazy-loading solution; that may be a great way to go. My first thought on how I would disable stats is I'd make a NullStatAllocator which would provide methods to generate NullCounter, NullGauge, NullHistogram, which would have all the methods and do none of the work and take minimal space, for some definition of 'minimal'.

Maybe truncating all stat names to zero

[2018-09-06 20:26] htuch commented on #4196
After some offline chat with @PiotrSikora, it seems that Istio has in practice not had to rely heavily on /stats due to the availability of a number of other diagnosis mechanisms (e.g. Mixer, access logs). A CLI flag to disable (default enable) seems a reasonable optional for now. It doesn't fix the problem - users shouldn't have to chose between stats and scalability, but it unblocks Istio and ot

[2018-09-06 21:03] mrice32 commented on #4196
@jmarantz That's basically my thought as well.  We'd just create a *single* NullCounter, NullGauge, etc.  Then, the disabled store could give back that one instance to all calls to `counter(name)`, `gauge(name)`, and histogram(`name`).  Assuming these stats are never read back as a part of Envoy's core functionality, we should be able to make all of the increment/set calls into no-ops.

I think th

[2018-09-06 21:06] PiotrSikora commented on #4196
@jmarantz wrt lazily-loading (i.e. allocating on first use) - Istio currently loads routes to all the services in the cluster, which means that even though a particular service might be talking only to a service or two, it has routes and accompanying configuration to all the services, stats for which are allocated but never used, so the savings would be coming from the fact that Envoy is configure

[2018-09-06 21:35] dhbaird commented on #2514
Bump for stale bot. Still interested in this!

[2018-09-06 21:39] qiwzhang commented on #2514
https://github.com/envoyproxy/envoy/pull/4101

[2018-09-06 22:38] ramaraochavali commented on #4196
FWIW, we have debated about this internally as well and we have similar situation like Istio where our Envoys have all the clusters irrespective of whether a service uses a particular cluster or not. One of the options we discussed was to disable mgmt update related metrics like which we really do not care. It might be give us at least 30% reduction and still give the latency/other cluster related

[2018-09-06 23:17] #2649 closed

[2018-09-07 00:51] inetkiller commented on #4358
@lizan yes, it works. It's releated #886.  thx

[2018-09-07 00:51] #4358 closed

[2018-09-07 01:35] bplotnick opened #4367 "healthcheck: Allow non-200 status codes as healthy HTTP healthchecks"
*Title*: *healthcheck: Allow non-200 status codes as HTTP healthchecks*

*Description*:
We have certain services that do not return a 200 on a successful healthcheck. The most common one I've seen is returning an HTTP 204. Envoy marks these as unhealthy because it is checking [explicitly](https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/health_checker_impl.cc#L180) for a 200

[2018-09-07 02:51] zuercher opened #4368 "thrift_proxy: crash when client closes mid-request"
Remote close of a downstream thrift connection mid-request results in a segmentation fault in ConnectionImpl.

*Repro steps*:
Transmit a partial thrift request and then close the connection.

*Admin and Stats Output*:
Crash prevents retrieving admin/stats output.

*Config*:
Not available

*Logs*:
Not available, but call stack is sufficient to diagnose.

*Call Stack*:
[code]

[2018-09-07 15:45] ggreenway commented on #4196
Possible solution: what if, in the config, you set the alt_stat_name to the same string for every cluster? Wouldn't that result in all clusters sharing a common set of stats?

[2018-09-07 16:34] venilnoronha opened #4373 "Docker bazel build fails every alternate time"
The following command errors out every alternate time on macOS.

[code]

The error is as follows.

[code]

This behavior is observed consistently i.e. it works once and fails the next time, and it works again the third time.

[2018-09-07 16:37] lps0535 opened #4374 "gRPC streaming connection dropping after aprrox. 300 seconds"
**Bug Template**

*Title*: *gRPC streaming connection dropping when using Envoy(1.6 and tried latest version also)*

*Description*:
Hi Guys,
I'm doing gRPC streaming and I've seen the connection doesn't drop unless closed when there is no Envoy.
BUT When I use envoy b/w gRPC (c++) client and gRPC (java) server the connection is breaking after approximately 5-6 minutes.
Earlier connection was dropp

[2018-09-07 16:46] ggreenway commented on #4373
I observed the same behavior on linux recently.

[2018-09-07 16:51] qiwzhang commented on #2514
We can mark it as done after #4101

[2018-09-07 17:06] jmarantz commented on #4160
Can we leave this open? We still don't have steps 5 and 6 above done.

[2018-09-07 19:13] htuch commented on #4160
Reopening as suggested by @jmarantz.

[2018-09-07 21:52] venilnoronha commented on #4367
Just to add, a couple of useful `isNxx` functions are available [here](https://github.com/envoyproxy/envoy/blob/73dfedc95f484ccb31d80a8363c2db1bae51cef5/source/common/http/codes.h#L70-L74).

[2018-09-07 23:15] #4008 closed

[2018-09-08 07:15] #1487 closed

[2018-09-08 09:15] #3875 closed

[2018-09-08 16:13] #3652 closed

[2018-09-09 12:59] lizan commented on #4373
Can you paste this file too?

I also suspect this is mostly due to OOM, can you also try if setting NUM_CPUS=1 in environment variables will fix it?

[2018-09-09 15:26] lizan commented on #3998
@zyfjeff is working on this at #4200

[2018-09-09 16:02] #4005 closed

[2018-09-10 05:53] xmm1989218 opened #4380 "is there any way use different sampling strategy for different listener ?"
I use native jaeger tracing, I want different listener use different sampling strategy.
for example:
 listener1 ratelimit 100
 listener2 ratelimit 10
 listener3 no tracing

[2018-09-10 07:01] zyfjeff commented on #3621
Is this issue  no one is working?  If yes then i can start this one

[2018-09-10 12:34] klarose commented on #4128
FYI I'll be taking over the PoC and polishing it up for Don. I'll try to get something along with a rough outline of the design in the next week or two.

[2018-09-10 13:09] mefarazath commented on #3492
I faced the same problem. I changed the 'connect_timeout' value to a higher value(15s) as per @jeteon's suggestion and it worked for me.

Working yaml for me
[code]

[2018-09-10 13:40] mpuncel opened #4383 "Possible discrepancy between docs and implementation for X-Envoy-Internal"
*Title*
 Possible discrepancy between docs and implementation for X-Envoy-Internal

*Description*
I've been taking a look at how Envoy determines whether HTTP requests are internal, and I think there might be a discrepancy between what the docs say and what actually happens, particularly when `use_remote_address` is false on the HTTP connection manager.

The [docs for X-Forwarded-For](https://www.

[2018-09-10 13:48] mshaverdo opened #4384 "1.7.1 build failed due to 43/222 tests failed"
*Title*: *v1.7.1 tests failed*

*Description*:
When building version 1.7.1 docker image  using `./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.release'`, result is "Executed 265 out of 265 tests: 222 tests pass and 43 fail locally."

*Repro steps*:
[code]

*Result*:
[code]

[2018-09-10 13:56] dnoe commented on #4384
Can you paste some of the outputs (like `/build/tmp/_bazel_bazel/436badd4919a15958fa3800a4e21074a/execroot/ci/bazel-out/k8-opt/testlogs/test/common/network/address_impl_test/test.log`). Given the set of tests which failed and which timed out, I suspect some sort of localhost/IPv6 localhost/other address problem, which can sometimes happen due to Docker config.

[2018-09-10 15:24] cmluciano commented on #4100
Following up on the PR that @lizan mentioned above:

We agree that something like ConnectionState would be useful for network filters. My next question is what do we use to propagate the required metadata between filters on different Envoy hosts? For HTTP filters we convert whatever needs passed to headers, but I'm uncertain what method we would use for a connection oriented protocol.

cc @ggreenw

[2018-09-10 15:35] cmluciano commented on #3958
not stale, some work done in #4097

[2018-09-10 15:40] mshaverdo commented on #4384
@dnoe Yes, it seems that IPv6 isn't supported on build machine, but how i could set `ENVOY_IP_TEST_VERSIONS` env var without alternating `./ci/run_envoy_docker.sh`?

[code]

[2018-09-10 15:52] cmluciano commented on #1472
I can work on this but I’m unsure what we settled on. Do we want to just bump the log level or do we want to expose this in the access log?

cc @htuch for feedback

[2018-09-10 16:04] moderation commented on #4384
Details on how to pass environment variable to the build script are at https://github.com/envoyproxy/envoy/tree/master/ci#building-and-running-tests-as-a-developer

[2018-09-10 16:36] venilnoronha commented on #4373
[code]

Same error.

[2018-09-10 17:31] zuercher commented on #4100
I added something similar to the TCP connection pool for upstream connections -- users of the conn pool can attach state to an upstream connection. I doubt that's of use here (where you wish to attach state to downstream connections), but if the new mechanism can be applied to either downstream or upstream connections, the TCP conn pool version could probably be replaced.

[2018-09-10 18:48] #4240 closed

[2018-09-10 18:56] ldemailly commented on #1472
it should be imo a 400s or 500s type error clearly indicated in error log and/or access log
ps: it would be sensational to also have the default log include the transport and protocol (tls vs not)

[2018-09-10 21:17] zuercher opened #4389 "test readme to describe matchers"
Per discussion in #4279, add a README. The initial document should:

* link to gtest/gmock documentation
* document the custom matchers available in Envoy
* link to the integration README

[2018-09-10 21:19] Tang8330 opened #4390 "DogStatsdSink to support Prefixes"
**Issue Template**

*Title*: DogStatsdSink to support Prefixes

*Description*:
Currently, StatsD sink supports Prefixes override for users that do not want metrics to start with `Envoy`.

DogStatsd does not. Proto for DogStatsd: https://github.com/envoyproxy/envoy/blob/master/api/envoy/config/metrics/v2/stats.proto#L193

Statsd sink support: https://github.com/envoyproxy/envoy/blob/master/api/envo

[2018-09-10 23:27] mandarjog opened #4391 "Feature Request: Versioning support for filters"
*Title*: *Versioning support for filters*

*Description*:
Statically linked Envoy filters are registered as various factories such as `NamedListenerFilterConfigFactory` and `NamedHttpFilterConfigFactory`.
All factories implement `virtual std::string name() PURE;` function that identifies its name.

When envoy calls control plane using XDS, it passes along the [`Node`](https://github.com/envoyproxy

[2018-09-10 23:28] mandarjog commented on #4391
/cc @htuch @rshriram

[2018-09-11 03:36] hzxuzhonghu commented on #2659
/reopen

[2018-09-11 03:37] zyfjeff opened #4393 "add CI stage to detect spelling mistakes"
*Title*: *Add CI process to detect spelling mistakes*

*Description*:

api/envoy/api/v2/listener/listener.proto:64:7: "criterias" is a misspelling of "criteria"
api/envoy/config/filter/http/jwt_authn/v2alpha/README.md:29:23: "sucessfully" is a misspelling of "successfully"
api/envoy/config/rbac/v2alpha/rbac.proto:111:20: "psuedo" is a misspelling of "pseudo"
api/envoy/config/rbac/v2alpha/rbac.prot

[2018-09-11 05:38] snowp opened #4396 "Crash in test due to logger mutex use after free"
*Title*: Crash in test due to logger mutex use after free

*Description*:
I've run into issues a couple times with CI builds failing on the coverage build with no apparent cause, e.g. https://circleci.com/gh/envoyproxy/envoy/92887?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

After spending some time debugging this it seems like the issue is due to a use after

[2018-09-11 08:12] mshaverdo commented on #4384
@moderation Yes, i have already tried it: `ENVOY_IP_TEST_VERSIONS=v4only ./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.release'`, but tests still fail on IPv6:

root@dd850415ab99:/# cat /build/tmp/_bazel_bazel/436badd4919a15958fa3800a4e21074a/execroot/ci/bazel-out/k8-opt/testlogs/test/common/network/listen_socket_impl_test/test.log
exec ${PAGER:-/usr/bin/less} "$0" || exit 1
----------------------

[2018-09-11 09:17] jmarantz commented on #4396
Hi.... I'm not remembering at this point what my warning was, but unfortunately I am not going to be about to help further for about a week.

@tschroed is aware of the sync delegate system and may be and to explain stuff, and the code is hopefully not too complicated.

Otherwise I will look around when I can.

[2018-09-11 12:34] marcobebway opened #4397 "Add a configuration option to always generate unique ids for Zipkin trace spans"
**Description**:

The goal is to add a configuration option to always generate unique ids for Zipkin trace spans, and prevent using the parent span id as the child span id.

**Related Links**:
- Full thread on envoy-users group: https://groups.google.com/forum/#!topic/envoy-users/mF0AoYQ7iDE.
- Candidate code to update: https://github.com/envoyproxy/envoy/blob/master/source/extensions/tracers/zipk

[2018-09-11 13:49] dnoe commented on #2659
I think this issue might actually be fixed, since we now provide the ability to set arbitrary socket options in the API. We do in fact use this feature at Google to use a non-local source IP for outgoing connections.

@hzxuzhonghu Can you explain your use case in more detail?

[2018-09-11 14:05] snowp commented on #4396
No problem! For reference the comment I was referring to was:
[code]

which seems suspiciously similar to what I'm experiencing, although I'm not sure how the owning lock could have been destroyed at this point. I'll try to look into it some more today

[2018-09-11 14:48] snowp commented on #4396
Ok, digging into it some more it seems like the issue is that the lock is first set on the global `Registry`, but integration tests that call into `main_common` ends up calling `Registry::Initialized` again, reseting the lock to a temporary one that is freed after the test finishes. This causes subsequent tests that try to acquire the lock to crash.

Should we just ignore subsequent calls to `setL

[2018-09-11 19:58] snowp opened #4400 "gRPC route matching"
Currently Envoy allows matching a gRPC request by matching on the content-type. It would be nice with first-class gRPC matching support to 1) make it less cumbersome to match gRPC traffic and 2) make it easier to handle gRPC content type variations such as `application/grpc+proto`.

I'm imagining it would just be another option on `RouteMatch` which calls into `Envoy::Grpc::Common::hasGrpcContentT

[2018-09-11 23:30] mandarjog commented on #4391
@PiotrSikora

[2018-09-11 23:53] snowp opened #4405 "Log when XDS is performed at startup"
A common issue people seem to be having is that Envoy sits around forever during startup due to an issue with their XDS setup. It would be good to log something like "waiting for initial xDS data" during startup to make it clear to people why Envoy is seemingly not working.

[2018-09-12 00:27] PiotrSikora commented on #4174
@myidpt could you elaborate on why this is needed in Envoy? If Citadel and/or other CAs produce certificates with both CN and SAN, then Envoy can verify SAN and legacy systems can verify CN.

Reading the linked Istio issue, it seems that the problem is that Citadel doesn't produce certificates compatible with legacy systems, not that Envoy cannot verify certificates produces by legacy CAs.

Note:

[2018-09-12 00:45] myidpt commented on #4174
Yes I think the linked issue is not related to this feature. I think we can temporarily close this issue and reopen it when we need.

[2018-09-12 00:45] #4174 closed

[2018-09-12 01:49] lizan opened #4407 "ci: track bazel remote cache related flakiness"
*Description*:
https://github.com/bazelbuild/bazel/issues/5908

Seems happened a couple times, recent failure:
https://circleci.com/gh/envoyproxy/envoy/94262

This manifests as an `ar` link error, e.g.
[code]

[2018-09-12 01:51] dnoe commented on #4407
Seems a pretty clear cut case that these failures are cache related.

[2018-09-12 01:56] hzxuzhonghu commented on #2659
@dnoe Thanks. I just want to get client src ip in my backend. Can you link how to `set arbitrary socket options in the API. `

[2018-09-12 02:06] dnoe commented on #2659
There is a field in the bootstrap config that specifies the bind config when connecting to upstreams (it can also be overridden on a per-cluster basis): See `upstream_bind_config` in https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/bootstrap/v2/bootstrap.proto#envoy-api-msg-config-bootstrap-v2-bootstrap

The bind config has a `SocketOptions` message which allows setting arbitrary options:

[2018-09-12 03:40] hzxuzhonghu commented on #2659
Thanks @dnoe

[2018-09-12 04:04] hzxuzhonghu commented on #2659
@dnoe Do you know how to configure it from istio?

[2018-09-12 13:48] mshaverdo opened #4408 "Incorrect TLS example in documentation"
*Title*: *Incorrect TLS example in documentation*

*Description*:
There is an invalid `tls_context` block In [https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/ssl#example-configuration]()

[code]

When trying to use this example with envoy 1.7.1, error "A single TLS certificate is required for server contexts" occurs. To fix it, `tls_certificates` section should be added:

[code]

A

[2018-09-12 13:55] htuch commented on #4391
This seems reasonable. A few additional considerations:
1. What relationship does filter version have to the filter opaque config proto version (e.g. `v2alpha`)? Is this implied? Could we just use proto version?
2. It's appealing to make the filter version opaque from a design minimalism perspective, but might an ordering between versions be useful to allow for the notion that "anything >= v1.3 is

[2018-09-12 14:18] taiki45 commented on #2100
FYI, I'm working on this. I'm replacing links to v2 ones in all arch overview, configuration, etc. docs. I think 70 % of work was done today.

[2018-09-12 14:35] rshriram commented on #4391
Ooh this is a nice way to tackle the versioning issues in istio. And in terms of version comparisons, I think that’s enabling the filter author to inject old and new configs which while nice, opens up the door for more complexity at filter level doesn’t it? I guess we could always start with version==101 kind of stuff.

[2018-09-12 14:54] jvshahid opened #4409 "TCP connection pool have a mode where unassigned connections are closed (for TCP proxy)"
Envoy version used are

- `envoy  version: d2fa5f3b4c1f09a8e6fa96ecc8f64555d67a85f6/1.8.0-dev/Clean/RELEASE`
- `envoy  version: d2fa5f3b4c1f09a8e6fa96ecc8f64555d67a85f6/1.8.0-dev/Clean/RELEASE`

**Bug Template**

We have noticed that Envoy doesn't always reuse connections from the connection pool and sometimes will open new connections unnecessarily.

**Description**

We discussed this bug in [sla

[2018-09-12 14:56] taion809 commented on #2100
@taiki45 thanks, i ended up getting too busy to get through a bunch of this

[2018-09-12 16:03] grgustaf opened #4411 "Building Bazel with CI Docker image: cannot touch /build/bazel.sentinel"
*Title*: Building Bazel with CI Docker image: cannot touch /build/bazel.sentinel

*Description*:
When I first cloned envoy and followed the "Building Bazel with CI Docker image" instructions on a shared lab machine, it worked fine, and all tests passed I think. Later, my coworker did the same thing on the same box. Now when I try to do it again, I get this output:

[code]
I added `set -x` to the t

[2018-09-12 16:05] cmluciano commented on #4408
I fixed the docs locally and am also adding a more useful exception message if the tls_certificates block is empty

[2018-09-12 16:08] mshaverdo commented on #4408
@cmluciano Thank you!

[2018-09-12 16:08] #4408 closed

[2018-09-12 16:20] zuercher commented on #4407
Looking at bazelbuild/bazel#4558, it seems to imply that using the same flags with different compilers or versions of compilers might cause this problem.

That said in #4404 I experimented with printing compiler package info and it seems that we only ever use different compilers with different combinations of bazel flags (e.g. release is gcc/-c opt, ipv6 and api are clang/-c fastbuild, asan is cla

[2018-09-12 17:00] mandarjog commented on #4391
1. Could be an implementation detail or recommendation.
2. I think we should require a proper `semver` compatible version. It is much cleaner for the control plane to use it in version constraints.

[2018-09-12 17:15] htuch commented on #4391
If we go the path of semver, we should make the range type for the map `int x int x int`.

[2018-09-12 17:17] htuch commented on #4405
@snowp we already log a lot of info at trace level, are you asking to promote log level? Or, could we add a stats gauge indicating something useful? Or some other admin handler?

[2018-09-12 17:18] htuch commented on #1472
Is this a dupe of https://github.com/envoyproxy/envoy/issues/4283 essentially?

[2018-09-12 17:38] snowp commented on #4405
Yeah, I was thinking of promoting this to info so that people see it without having to restart Envoy with a different log level.

If we can get more use out of an admin handler of some sort I'd be open to that, but I'm not sure what more information you'd expose. Maybe which xDS types are still pending?

[2018-09-12 17:39] cmluciano commented on #4283
@vilobhmm Can you share that doc with the [envoy-dev mailing list](https://groups.google.com/forum/#!forum/envoy-dev)

[2018-09-12 17:40] cmluciano commented on #1472
On the surface it sounds related, I requested access to that design proposal to clarify. Can someone assign this issue to me?

[2018-09-12 17:48] zuercher commented on #4409
For the tcp_proxy, the connection pool should always open a new connection to the upstream because Envoy has no knowledge of what protocol is being used and cannot safely reuse connections. This works correctly for the tcp_proxy when the downstream connection actually exchanges data with the upstream.

I believe what's happening here is that your first downstream connection is closing before the u

[2018-09-12 17:50] zuercher commented on #4409
To address the question of determinism, the connection pools are actually maintained per worker thread. So if the one downstream connection is handled by a different worker thread than another, you may see a new connection formed.

[2018-09-12 20:16] #4218 closed

[2018-09-12 22:01] zuercher commented on #4411
I think if you set the `ENVOY_DOCKER_BUILD_DIR` environment variable to distinct values for different users it should work. The default value (if left unset) is /tmp/envoy-docker-build and that's where /build in the docker container is mapped.

You could also just install the dependencies listed in bazel/README.md and run bazel directly without the docker container.

[2018-09-12 22:04] #4368 closed

[2018-09-12 22:04] zuercher commented on #4368
Fixed in #4369

[2018-09-12 22:11] zuercher commented on #4374
It's hard to tell without more of the log, but it looks like C23 is your downstream client's connection and C24 is the upstream connection.

Unless there's some other information about C24 not present above, the line

```[2018-09-05 14:42:08.558][12][debug][connection] source/common/network/connection_impl.cc:448] [C24] remote close```

implies that the upstream server closed its connection. Perha

[2018-09-12 22:41] grgustaf commented on #4411
You're right, that solves it. Thank you. I'm such a newbie to Docker I don't know which way is up.

[2018-09-13 00:38] #4069 closed

[2018-09-13 06:29] ikatson opened #4414 ""No healthy upstream" seen sometimes for static localhost cluster."
*Description*:
We have some "No healthy upstream" errors happening in production. They are rare and we can't reproduce them or figure out why they are happening.
The most concerning case is the one where the remote cluster is a "STATIC" type cluster with 127.0.0.1 host.

Here's the cluster definition we see UH flag with

[code]

Our expectation was that for at least static clusters we should never

[2018-09-13 14:11] jvshahid commented on #4409
That makes sense.

That matches my understanding of the logs.

Why ? Since the connection hasn't been used yet, it is safe to reuse for future connections, what makes you think otherwise ?

[2018-09-13 19:55] zuercher commented on #4411
Great. If shared build hosts using docker is a common thing, we might want to switch the default value for that environment variable to include the current user or uid. But I expect for development most people will build directly.

[2018-09-13 19:55] #4411 closed

[2018-09-13 19:57] zuercher commented on #4409
Most protocols have the client write first, but that's not necessary. If the pending upstream connection sends data expectig there to be a client, Envoy's conn pool will close the connection with an error (and whatever data was sent will be lost).

[2018-09-13 20:18] zuercher opened #4416 "thrift_proxy: integration test is flakes"
**Issue Template**

*Title*: *One line description*

*Description*:

describe the desired behaviour, what scenario it enables and how it
would be used.

[optional *Relevant Links*:]

**Bug Template**

*Title*: *One line description*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

*Repro steps*:

required to reproduce the bug.

gathers a tarba

[2018-09-13 21:55] zuercher commented on #4416
Turns out this is actually a bug. If the downstream client closes after a partial request, but after an upstream connection is formed, it hangs.

[2018-09-14 05:22] AceHack commented on #2247
So excited for this!!

[2018-09-14 05:33] AceHack commented on #2247
May I ask how do you decode thrift without the IDL if it's not a self describing protocol?

[2018-09-14 05:56] ramaraochavali opened #4420 "stats sink push when envoy is not fully initialized"
*Description*:
In one of our prod instances, we found that because of an issue with our management server, we did not provide ClusterLoadAssignment response to an EDS cluster. So that EDSCluster's `onPreInit` is not called and Envoy is still waiting at initializing secondary clusters and listeners are not fully initialized.
At this point, we do not get stats sink push also. What do you think about

[2018-09-14 10:33] ramaraochavali commented on #4374
You may be hitting the stream_idle_timeout https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/http_connection_manager/v2/http_connection_manager.proto.html?highlight=stream_idle_timeout which is defaulted to 5 mins. May be you can try disabling it

[2018-09-14 12:24] derbeneviv opened #4421 "Getting lots of 503's while trying to benchmark a simple envoy front proxy"
*Description*:
context: https://envoyproxy.slack.com/archives/C78M4KW76/p1536852402000100

I have installed a simple front-proxy setup (without sidecar on backends) in our Kubernetes
One front-proxy (envoy) and 22 backends (simple nginx server, which return 200 for all requests)
ring-hash\round robin LB policy(doesn't matter which one, i reproduce it on both)

When i'm trying to benchmark this ins

[2018-09-14 14:58] jvshahid commented on #4409
Do I understand correctly that this bug should remain open or a new one created with a more descriptive title to ensure that tcp connections are closed regardless of whether they were used or not by the downstream connection ?

[2018-09-14 16:24] steeve opened #4424 "Redis PubSub primitives support"
*Description*:
According to [1], Envoy doesn't support the Redis PubSub primitives such as
`BLPOP`, `SUBSCRIBE`, `UNSUBSCRIBE`, `PUBLISH`.

However, looking at [2], it looks like they should be pretty trivial to add.
Since things look pretty simple, I'm wondering if there's a reason they are
not at this time?

*Relevant Links*:
1. https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/red

[2018-09-14 16:45] jmarantz commented on #4396
I can try to take a look today. Really IMO the evil starts with having a static log registry but it would be epic to plumb in contexts everywhere we need to log.

As a compromise, I think maybe what we want is to more fully reset statics -- and the logger registry in particular, between tests.  I will comment in the PR.

[2018-09-14 20:00] mpuncel opened #4427 "Spurious connection failures"
*Title*: *Spurious Connection Failures*

*Description*:
As we're rolling our microservices onto Envoy we've gotten some reports of spurious 503s. These seem to be due to connection failures. Access logs show the UF flag which means there was a connection failure.

Debug logging shows a lot of TLS handshake errors:

[code]

We're unable to reproduce the error with the `nc` or with `openssl s_client

[2018-09-14 21:02] arianmotamedi commented on #3582
I'm encountering the same exact issue here. Was the root cause for this/resolution ever determined?

[2018-09-14 21:32] danielhochman commented on #4424
Currently, the proxy only supports request/response semantics. `SUBSCRIBE` and other PubSub violate this because you need to allocate a single long-lived connection decoding responses as they come.

`BLPOP` and other blocking commands could be supported, though still not trivial as much of the timeout logic would need modification along with connection allocation changes.

Most Redis proxies do no

[2018-09-14 21:37] steeve commented on #4424
That's very clear, thank you! Closing the ticket.

Regarding stateful connection and membership changes, does Envoy have similar semantics for, say, gRPC streams? If so, would a hypothetical support from the Redis proxy "piggy-back" on it or are we talking about a full reimplementation?

[2018-09-14 21:37] #4424 closed

[2018-09-14 21:52] oahayder opened #4428 "Lua HTTP Filter Cookies missing from Headers"
**Issue Template**

*Title*: *Lua HTTP Filter Cookies missing from Headers*

*Description*:

Trying to extract cookies from the incomming headers however they aren't in ```request_handle:headers()```.

I know that they are a part of the request because downstream apps can access the cookies.

We're trying to forward the cookie headers to a downstream auth service via the following code:

[code]

I

[2018-09-14 22:39] zuercher commented on #2247
Envoy mostly doesn't need to know about the details of the message. It's a thrift struct, which has fields (which my contain nested structs) but eventually an end-of-struct indicator appears and that's the end of the message. For stats, Envoy needs to know that reply messages are structs where the presence of field id 0 means "success" and any other field id is an exception (of a type opaque to En

[2018-09-14 22:46] zuercher commented on #4409
We can leave this one open. I can edit the title.

[2018-09-14 22:52] nrshrivatsan opened #4429 "Brotli Compression support in envoy"
**Issue Template**

*Title*: *HTTP Compression Brotli support*

*Description*:

- Envoy is capable for decompressing HTTP payload using Brotli compression/decompression algorithm

*Relevant Links*:

@bmadhavan  @unicell @khgandhi @
/new-feature

[2018-09-14 23:15] nursejason commented on #4421
I've been experiencing very similar results as I attempt to move our code to a production environment using Envoy. Haven't had a chance to create a reproducible example like @derbeneviv, but I can explain my setup. I'm running a single FE Proxy connecting to a single BE Sidecar. No health checks, circuit breaking, or anything fancy (except mutual auth). Jaeger traces show that when successful, bot

[2018-09-15 05:33] ramaraochavali commented on #4420
Update: In this mode when it is waiting on secondary clusters and if not all secondary clusters EDS updates are given, it just flushes the stats once and does not repeat it at `stats_flush_interval` which is kind of surprising

[2018-09-15 21:26] #4095 closed

[2018-09-16 00:41] jmarantz commented on #4160
One of the symptoms of this not being resolved, I suspect, is a tendency for this test to timeout sometimes:

TIMEOUT: //test/extensions/filters/network/thrift_proxy:integration_test (Summary)

[2018-09-16 03:26] #4058 closed

[2018-09-16 13:57] elevran commented on #4076
regarding suggestion by @rshriram

and @lizan:

Could you please clarify the proposed solution?

My understanding of the current flow is as follows:
1. client uses (for example) `target-server.example.org` as the (inner) SNI value;
1. traffic is intercepted by and then encapsulated by client envoy proxy and sent to egress service with (outer) SNI value of (e.g.) `istio-egress`;
1. egress proxy nee

[2018-09-16 23:34] htuch commented on #4175
IIRC, we merged a PR that supported mixed UDS/TCP hosts, so will close this one out.

[2018-09-16 23:34] #4175 closed

[2018-09-17 02:57] htuch commented on #4421
@derbeneviv I think the following lines in stats are key:
[code]
It looks like Envoy is timing out connecting to your Nginx servers. Not sure if that is a problem with the Nginx setup or just the combined load on Envoy and your backends is high enough to be causing problems. You could consider increasing the `connect_timeout` in https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cds.proto#.

[2018-09-17 03:00] htuch commented on #4429
@jmarantz I've heard you talk about Brotli compression a few times in the past, do you want to weigh in on how this might play out in Envoy?

[2018-09-17 11:52] jmarantz commented on #4396
See #4435 as an alternative.

[2018-09-17 14:33] cmluciano commented on #4092
@junr03 @htuch @alyssawilk should we coalesce this with #4283 ?

[2018-09-17 15:08] lps0535 commented on #4374
I'll try to implement basic hello server side streaming and will share here.
@zuercher No server doesn't have its own timeout as connection doesn't drop when gRPC client and server  communicate directly. I'll share more logs once I finish Hello server side streaming.

@ramaraochavali I tried disabling stream_idle_timeout , didn't work.

Will share Client and Server jars along with envoy config in

[2018-09-17 15:58] #4167 closed

[2018-09-17 16:36] auni53 commented on #3654
TODO indicate in API that retries are not currently supported

[2018-09-17 16:43] zuercher commented on #4407
@lizan I posted this in the maintainers slack channel, but is it possible that when the build completes the bazel server process is killed abruptly while still writing cache? And if so, would using `--batch` help?

[2018-09-17 17:01] htuch opened #4440 "ar link issues in CI"
[code]

https://circleci.com/gh/envoyproxy/envoy/96090?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

We've seen multiple of these recently.

[2018-09-17 17:02] htuch commented on #4440
Might be related to https://github.com/envoyproxy/envoy/issues/4407

[2018-09-17 17:02] htuch commented on #4440
@lizan FYI

[2018-09-17 17:04] htuch commented on #4440
This dupes #4407.

[2018-09-17 18:28] #4440 closed

[2018-09-17 18:34] htuch commented on #4428
@oahayder I'm a bit confused about what is upstream and what is downstream in your example. Normally, in Envoy, the client is the downstream and the backends are the upstreams. Can you clarify? There should be no need for any special treatment to access cookies, they should appear to filters as normal headers.

[2018-09-17 18:35] htuch commented on #4427
Do you have `/stats`?

[2018-09-17 18:37] htuch commented on #4420
@ramaraochavali this sounds like a bug. The main thread should not be blocked and should be capable of periodic scheduling of stats flushes. Do you want to investigate?

[2018-09-17 18:39] htuch commented on #4405
@snowp yeah, literally a `/server_state` handler that gives you some value from an enum. Or maybe we could externalize this on the `/healthz`? Not sure. If you want to add some sparing logs at info level, that could be alright, but we are trying to minimize log spew.

[2018-09-17 18:41] htuch commented on #4400
@snowp seems reasonable, Envoy should have first-class gRPC support here. FWIW, there is a little known and used experimental ALPN for gRPC `grpc-exp`. The Google C++ and Java (but not Go) clients support this.

[2018-09-17 18:43] htuch commented on #4390
@taiki45 do you have any thoughts on this ask?

[2018-09-17 18:54] htuch commented on #4384
@mshaverdo try
[code]
Sorry about the confusion here; this flow is mainly geared at CI, but can be used by devs who don't mind dealing with low level details like this. I'd recommend the native Bazel flow described at https://github.com/envoyproxy/envoy/blob/master/bazel/README.md

[2018-09-17 18:58] htuch commented on #4383
I'd need to refresh my mental cache of how this all works. IMHO it's quite complicated and this issue points to the fact we could stand to simplify. I know @PiotrSikora has been poking around at possible changes in this space, any thoughts here Piotr?

[2018-09-17 18:59] htuch commented on #4357
@ambuc could you investigate, since you're now de facto owner of this subsystem? :)

[2018-09-17 19:37] lizan commented on #4407
@zuercher OK let's try `bazel shutdown` and if it doesn't work then we can disable the cache.

[2018-09-17 19:46] cpakulski commented on #3304
Created PR #4442 for this issue. It implements logic which are agreed upon (see conversation above).

However, I think that logic is broken when number of healthy hosts in a priority set drops down to zero. In such case, the priority set goes into panic mode, but is omitted from load calculation. See the following test case: https://github.com/cpakulski/envoy/blob/issue/3304/test/common/upstream/l

[2018-09-17 20:06] oahayder commented on #4428
Apologies this was user error. Thanks for looking @htuch

[2018-09-17 20:06] #4428 closed

[2018-09-17 20:09] ambuc commented on #4357
I think the right answer here is that cluster names can't contain dots. Should we add a check at runtime to reject configs which violate this (and update the docs) ? Like you said, this can't be detected with tests, since it has to fail on a specific "invalid" config.

[2018-09-17 20:14] ggreenway commented on #4357
Honestly, this seems like getting to the point where using a flat-name for the stat, computed from a format string, and then trying to unflatten it later, is breaking down. Should we consider storing/referencing stats by the non-flat name? They would be stored more like prometheus metrics then, where there's a basename and some attached labels.

I want to be able to store an fqdn (or similar) in t

[2018-09-17 21:00] rshriram commented on #4357
+1 to what @ggreenway said.. We use dots extensively in cluster names in Istio.. Heck, we also use '|'s as well. A non-flat name would work much better. Or how about using / as a separator between the components of a stat? WE could have a configurable option in bootstrap/CLI that allows the user to specify the stat separator.

[2018-09-17 21:09] htuch commented on #4357
It sounds to me like everyone is saying we want the stat key to be a proto :)

[2018-09-17 22:05] mleventi opened #4445 "Symmetric Compression/Decompression between Envoys"
Symmetric Compression/Decompression between Envoys

We have a use case where we'd like Envoy (A) to compress a request body and then Envoy (B) to decompress the request body before sending it upstream. This is useful for situations where there is a cross cloud egress charge boundary between Envoy A and B, request payloads are huge, and the receiving service does not support request body compressio

[2018-09-17 22:27] lizan commented on #3582
@arianmotamedi are you using same environment?

[2018-09-17 22:29] dio commented on #4445
I think we can use gzip filter for this. Will find a time to experiment a bit.

[2018-09-17 22:40] danielhochman commented on #4445
cc @gsagula

[2018-09-17 23:06] taiki45 commented on #4390
@htuch I think the sink should support prefixes. I can take this after docs tasks.

[2018-09-18 00:08] shanshanzhu opened #4447 "set x-envoy-expected-rq-timeout-ms in header does not work"
**Issue Template**

*Title*: *One line description*

*Description*:
In the http Request sent to envoy, we set
[code]
In the call stack below, I trunked some sensitive fields in the header but we do see the `x-envoy-upstream-rq-timeout-ms` gets set originally but was overwritten to default value

*Call Stack*:
[code]

[optional *Relevant Links*:]

**Bug Template**

*Title*: *One line description*

[2018-09-18 00:59] shanshanzhu commented on #4447
I ended up setting `timeout: 1000000000s` for each route. It is not very ideal though.
[code]

[2018-09-18 02:33] zyfjeff commented on #4289
Is this issue still open and no one is working?  If yes then i can start this one

[2018-09-18 03:41] ramaraochavali commented on #4420
Yup. That's what I thought. I can investigate but not immediately though. Will update what I find.

[2018-09-18 07:43] gsagula commented on #4445
@dio The current GZIP filter does not support decompression. It only compresses data sent from the upstream. If this is only for gzip, it might be reasonable to just enhance the same filter.

[2018-09-18 07:54] derbeneviv commented on #4421
@htuch
Well, as i stated, exactly the same bench, running through simple kubernetes round-robin works perfectly with 0 errors.
So i don't really think it's backend issue

[2018-09-18 11:09] ramaraochavali opened #4449 "stat to monitor and alert on management server disconnections"
Currently if Envoy is disconnected from management server, there is not a good stat that we can rely on to alert. `upstream_rq_5xx` and `upstream_cx_connect_fail` come close to indicating the problem. But they get incremented for every retry that Envoy makes to connect to the management server.If we have to alert on these we need to alert on probably sufficiently large to avoid spurious alerts on

[2018-09-18 13:17] taion809 commented on #1194
What is the status of this?  I see this specific ticket is closed but there doesn't appear to be any published documentation regarding this feature.

[2018-09-18 16:05] qiwzhang commented on #1194
It has been fully implemented.

Documentation is kind of hiding here
https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/auth/cert.proto#envoy-api-msg-auth-sdssecretconfig

But it may be easier to read integration test on how to use it.
https://github.com/envoyproxy/envoy/blob/master/test/integration/sds_dynamic_integration_test.cc

[2018-09-18 17:14] htuch commented on #4421
@derbeneviv it may be a connection timeout issue, in the setup without Envoy the client connect timeouts might be quite different.

[2018-09-18 17:35] htuch commented on #4449
Let's leave this issue open for discussion. I think a gauge could be reasonable as you suggest.

[2018-09-18 18:15] misterwilliam opened #4453 "Error message for broken upstream connections is too technical"
*Broken upstream connections is too technical*

*Description*:
The current error message in the HTTP response body that Envoy returns when the network connection to the upstream host is broken is "upstream connect error or disconnect/reset before headers".

This is implemented [here](https://github.com/envoyproxy/envoy/blob/fcafc2d87760a6aa01b1d898e568a80cfb568a44/source/common/router/router.cc#L5

[2018-09-18 18:31] lizan opened #4455 "cds: ability to make a cluster private or internal"
*Description*:
Envoy can route traffic to clusters based on external given input, e.g. `cluster_header` in http_conn_manager, and there will be similar proposal for TCP in #4444. We should disallow traffic from listeners going to certain clusters, e.g. xDS API cluster (especially SDS), ratelimit cluster, ext_authz cluster etc.

cc @rshriram

*Relevant Links*:
https://github.com/envoyproxy/envoy/pu

[2018-09-18 19:53] auni53 commented on #3654
TODO make request_timeout default to disabled

[2018-09-18 20:26] curiouserrandy commented on #3654
When you say "overall timeouts on the request path" are you intending the timeouts to apply to all of the filter chain encode, the request to upstream + response back from upstream, and the filter chain decode, or only to a subset of that?

[2018-09-18 20:26] mattklein123 commented on #4203
There is no particular reason, it's just not implemented this way. I will switch this over to enhancement.

[2018-09-18 20:36] mattklein123 commented on #4210
@zyfjeff @snowp yes this sounds generally useful to me, but I think we need it to be a configurable option as some users might not want this behavior for either performance or security reasons.

[2018-09-18 20:40] htuch commented on #4453
There are multiple ways we can fail when making an upstream connection. I think what you're asking for is more a dupe of https://github.com/envoyproxy/envoy/issues/4283. Do you think it makes sense to combine with that?

[2018-09-18 20:43] htuch commented on #4455
@lizan is the more general way to solve this to provide a list of allowed routable clusters (or blacklist) in the RouteConfiguration? I.e. is this more a policy issue best addressed in the control plane, where you would control beyond "private/internal" marking at the cluster level.

[2018-09-18 20:51] lizan commented on #4455
The general allow/deny list is already achievable with RBAC filter for both TCP and HTTP. Making a cluster private/internal is just an additional way to prevent leaking sensitive information from certain clusters (especially SDS) that you would never want traffic routed to.

[2018-09-18 21:13] lizan commented on #4427
`handshake error: 2` is not real error, it is `SSL_ERROR_WANT_READ` returned from BoringSSL means waiting more data. /stats or log from other places might help.

[2018-09-18 21:31] junr03 opened #4457 "filterChainMatch: add support for source IPs and ports"
*filterChainMatch*: *add support for source IPs and ports*

*Description*:
[There exist fields](https://github.com/envoyproxy/envoy/blob/0621763bd00016f91e530412a9a307fca474ad69/api/envoy/api/v2/listener/listener.proto#L91-L102) for this type of matching in the FilterHeadMatch proto already, they just have not been implemented. The implementation should be straightforward, as it should be very sim

[2018-09-18 21:32] junr03 commented on #4457
Will leave unassigned for now. I'll try and get something from the team at Lyft to work on this, but if a member of the OSS community wants to work on this I am happy to help.

[2018-09-18 23:04] mattklein123 commented on #4342
Hmm I guess we aren't hitting this issue for some reason, I'm not sure why.

[2018-09-18 23:39] PiotrSikora opened #4460 "Add ability to drain the listeners using the admin interface"
*Title*: Add ability to drain the listeners using the admin interface

*Description*:
Drain the listeners on demand, with the assumption that we're going to shutdown shortly afterwards, so future updates to those listeners should be ignored.

cc @nmittler

[2018-09-18 23:40] PiotrSikora opened #4461 "Differentiate ingress/egress traffic when acting as a sidecar"
*Title*: Differentiate ingress/egress traffic when acting as a sidecar

*Description*:
Envoy should be able to differentiate ingress and egress traffic (e.g. based on labels in the configuration) and act upon them (e.g. drain ingress listeners, but not egress - see #4460).

cc @nmittler

[2018-09-19 00:06] mattklein123 commented on #4196
Catching up here. In general I think allowing people to disable stats they don't want to save memory is acceptable. I would prefer a solution though that maybe is a bit more flexible (though might be slower). Something along the lines of allowing people to supply a list of stats they either want or don't want, possibly via regex? People that don't want any stats can just exclude them all? This wou

[2018-09-19 02:00] bmetzdorf opened #4462 "Generic string (and bytes) search and replace network filter"
*Description*:
I'm proposing to create a generic string (and bytes) search and replace network filter, that can replace strings and bytes in the payload at the beginning of a downstream connection (readFilter) as well as when sending the response (writeFilter). Sometimes one needs to massage incoming and outgoing payloads just a little bit (e.g. legacy applications or missing control over client b

[2018-09-19 04:02] ramaraochavali commented on #4460
It may be useful/partial solution to address this issue as https://github.com/istio/istio/issues/7665

[2018-09-19 04:07] snowp commented on #4259
I have some time to implement this.

Where would such a config option make the most sense? The HCM config? `use_remote_address` lives there, which similarly affects the internal/external decision.

[2018-09-19 06:08] nrshrivatsan commented on #4429
@jmarantz

Thanks! cc @htuch

[2018-09-19 12:53] jmarantz commented on #4196
All of that sounds fine to me. Here's a spectrum of options:

- Aggressively re-work stat naming so they are not so expensive. E.g. there can be maps, but why do we need a new copy of the name in each map? I'm not at all convinced we've seen the limit of how compact we can get this.
- Use a regex to specify which stats you want to retain, replacing them with Null stats.
- Optionally share stats be

[2018-09-19 16:31] cmluciano commented on #4457
@junr03 Not sure if you found anyone for this yes, but I'm testing a commit locally for this now. Will push up if tests pass.

[2018-09-19 16:33] junr03 commented on #4457
@cmluciano fantastic! Please tag me on the PR once it is up, and I can review. Mind if I assign you the issue?

[2018-09-19 16:34] cmluciano commented on #4457
SGTM @junr03

[2018-09-19 16:45] cmluciano commented on #4460
@PiotrSikora I haven't explored this part deeply, but isn't this supposed to be the desired effect of "/quitquitquit" or is that behavior more synonymous with "/abortabortabort" ?

[2018-09-19 16:53] #4249 closed

[2018-09-19 17:32] misterwilliam commented on #4453
That sounds like a good way to move forward.

[2018-09-19 18:40] mattklein123 commented on #1472
IMO this issue has no concrete ideas on what to actually change. I don't have any high level objection on having better debugging, but I think someone needs to propose an actual change. I will remark this design proposal.

[2018-09-19 19:54] rotan96 commented on #4142
Hi stale bot I am working on this (how do I un-stale this)

[2018-09-19 19:54] mattklein123 commented on #4192
This is fixed.

[2018-09-19 19:54] #4192 closed

[2018-09-19 20:52] ambuc commented on #4196
@ all, there is a WIP PR at #4469 which implements a regex-based exclusion list. This feature would be opt-in, so I feel better about adding a potential performance hit. This PR is not in lieu of a disable-all-stats feature.

[2018-09-19 21:27] mattklein123 commented on #4445
Switching to enhancement. I think we could make the filter also support decompression so that it could be used for symmetrical cases like this. @gsagula any interest in taking this on?

[2018-09-19 21:28] mattklein123 commented on #1194
@qiwzhang it was on my list, but I forget before I went on leave, but we should have arch documentation on this feature. I'm going to open a doc issue on that.

[2018-09-19 21:29] mattklein123 opened #4471 "docs: arch docs for SDS"
We should have arch docs for SDS, both as a high level topic, and in all the cases where we talk about other xDS.

cc @qiwzhang @lizan @PiotrSikora @JimmyCYJ any interest in picking this up?

[2018-09-19 21:33] lizan commented on #4471
I think it is better to have this doc before 1.8.0 release.

[2018-09-19 21:33] lizan commented on #4471
Thanks for @qiwzhang picking this up.

[2018-09-19 21:34] mattklein123 commented on #4455
In general I would also prefer that we handle this in the RBAC filters. Is that what is being proposed here?

[2018-09-19 21:38] venilnoronha commented on #4337
I'd like to work on this.

[2018-09-19 21:39] mattklein123 commented on #4259
@snowp yeah I think that would be the best place. cc also @brian-pane who has done work on this area. Unfortunately this whole area (internal vs. external) is a minefield of potentially disastrous regressions so we need to be super careful and fully consider all the cases.

[2018-09-19 21:41] mattklein123 commented on #4429
+1 on generalizing the gzip filter into a general compression/decompression filter.

[2018-09-19 21:42] lizan commented on #4455
@mattklein123 No, I'm proposing add a flag to cluster level that preventing traffic not generated by Envoy itself being routed to, without relying RBAC to be configured on every listeners/HCM. It is non-trivial to configure every listener/HCM with RBAC correctly to avoid external traffic to a specific cluster.

[2018-09-19 21:45] mattklein123 commented on #4460
This should be pretty easily doable by allowing programmatic access to the existing drain functionality that is kicked off as part of hot restart.

[2018-09-19 21:50] mattklein123 commented on #4453
Agreed this is a dup of the other richer info issue, so closing.

[2018-09-19 21:50] #4453 closed

[2018-09-19 21:59] PiotrSikora commented on #4460
@cmluciano it's the first half of `/quitquitquit`, really. The major use case for use would be to stop accepting incoming connections when acting as a sidecar, but still let the application to make outgoing connections (see #4461).

[2018-09-19 22:03] mattklein123 commented on #4196
FWIW, I think this is intellectually interesting and if people want to work on it, I'm clearly not going to object, but I think effort is better spent on the other efforts, as well as IMO better educating people on how to use Envoy properly (i.e., let's not just send 150K clusters to an Envoy...).

[2018-09-19 22:08] mattklein123 commented on #4455
To play devils advocate, why? This seems like an RBAC problem? Can't we have an RBAC rule to deny traffic that is destined for a particular route? It seems pretty straightforward to me?

In general I would prefer to not add special cases to the router for things like this that IMO should be handled by RBAC?

[2018-09-19 22:39] mattklein123 commented on #4461
@PiotrSikora you probably already know about this but this is related to https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/lds.proto#L103 which I added a while ago to deal with exactly this case. Do you need additional functionality above that?

[2018-09-19 22:49] lizan commented on #4455
Yeah sure it works, but IMO it is too much for just disallowing traffic to a certain clusters. (Note clusters might have credentials configured with it.) In HCM, the RBAC filter comes in front of router, so it need to be configured to match what `cluster_header` configured in router or delivered by RDS.

It is technically possible to let control planes to figure out all of this and install RBAC fi

[2018-09-19 23:18] bplotnick commented on #4460
I think this is related to our need for per-listener shutdown - we run a single shared envoy per host instead of one-per-sidecar. If (our equivalent of) a pod is going down, we want to be able to just shut down that ingress listener. We do this today with our [healthcheck cache](https://github.com/Yelp/hacheck) , but we'll want to do this with Envoy in the future.

I think this might actually make

[2018-09-19 23:28] mattklein123 commented on #4449
Yeah FWIW I think a gauge might be simpler vs. a time. Basically are we currently connected to the management server or not. One other option with existing stats is couldn't you alarm on rate of change of stream creation to the management server? If it's cycling/churning alarm if above some threshold?

[2018-09-19 23:31] mattklein123 commented on #4462
This sounds reasonable to me and generally useful. I thought about it, and I can't think of another filter that this type of functionality would naturally fit in, so this seems like a reasonable place. I think we will want to think carefully about the filter config though to make it extensible enough for the future in which we might want to implement various other types of replacements. E.g., I co

[2018-09-19 23:46] mattklein123 commented on #4455
I see your point. Where I am mainly coming from is it's not clear to me that we should have multiple ways of doing something unless it is really necessary. This feels like an RBAC problem that we should solve with the RBAC filter, even if the management server needs to machine generate more config. @envoyproxy/maintainers anyone have any thoughts on this?

[2018-09-19 23:48] ggreenway commented on #4455
I tend to agree with @mattklein123. I think my objection is that this change assumes there are only 2 classes of clusters. What if I have 3 classes instead, which are "routable from listener1 via header", "routable from listener2 via header", and "envoy-internal (xDS, etc)"?

[2018-09-19 23:54] bplotnick opened #4473 "Changing endpoint priority causes Envoy to lose track of the endpoint"
*Title*: *Changing endpoint priority causes Envoy to lose track of the endpoint*

*Description*:
When moving an endpoint to a new priority, Envoy loses track of that endpoint.

Example before and after eds config:

Before:
[code]

After:
[code]

Envoy will no longer know about `{{service1_2_ip}}`

*Repro steps*:
I've created a repro here: https://github.com/bplotnick/envoy_examples/tree/master/los

[2018-09-20 00:53] lizan commented on #4455
@ggreenway this is only for routable or not, more than that should be RBAC.

Another point: this is also the difference between `GoogleGrpc` and `EnvoyGrpc`. xDS configured by REST or EnvoyGrpc has the risk that a unintended traffic could be routed to by misconfiguration, while `GoogleGrpc` is not routable at all.

[2018-09-20 00:58] gsagula commented on #4445
Yes, I'm interested! In theory, it shouldn't be too complicated, but let me
take a look at what is needed.

On Wed, 19 Sep 2018 at 14:27, Matt Klein <notifications@github.com> wrote:

--
Gabriel Linden Sagula

[2018-09-20 00:59] gsagula commented on #4445
@mattklein123 Yes, I'm interested in this one! In theory, it shouldn't be too complicated, but let me
take a look at what is needed.

[2018-09-20 01:01] rshriram commented on #4455
to throw to this mix, consider the case where the cluster name is taken from the SNI value? RBAC gets more complicated here as well.

[2018-09-20 02:19] jmarantz opened #4474 "Running gzip_filter_integration_test slowly makes it assert-fail"
*Description*:

This can be resolved by switching to simulated time, but I am concerned this is also an indication that slow machines may cause Envoy to crash, or whether this is a property just of the integration test framework. I plan to issue a PR to switch that test to simulated time, but am wary of hiding a bug.

Example assertions:
[code]

Both of these linked comments are about cleanup orde

[2018-09-20 02:59] htuch commented on #4455
My earlier suggestion is really a preference that we put mechanism in Envoy and the policy in the management server. I think the question is how complicated is the implementation of a general whitelist/blacklist? If it's going to be O(100) lines of code, I think its worth making it general, any more complicated and yeah, sure, just a non-routable tag would make sense.

An early API design principl

[2018-09-20 03:01] htuch commented on #4474
@jmarantz assigning to you as you are best positioned to investigate.

[2018-09-20 03:15] htuch opened #4475 "Use Any for opaque extension encoding"
As discussed in various previous issues, e.g. https://github.com/envoyproxy/envoy/issues/3155, and my post at https://blog.envoyproxy.io/dynamic-extensibility-and-protocol-buffers-dcd0bf0b8801, we want to head towards using `Any` as the canonical extension type. This is more efficient on the wire and we're now seeing use cases (e.g. Istio CC @costinm) where `Any` would be bring a real pay-off.

We

[2018-09-20 03:16] htuch commented on #4475
CC @lizan @wora. Hong; would really appreciate your thoughts on this before we move forward.

[2018-09-20 04:34] mattklein123 commented on #4196
IMO even 10K clusters is on the outer edges of what we would expect, at least without moving to incremental with cluster TTLs, but I would be curious what people think about this. In any case, I think we are all in agreement that starting with allowing for stat pruning to get rid of stats people don't care about is probably the way to go? I'm guessing this will save a huge amount of memory, though

[2018-09-20 04:56] ramaraochavali commented on #4449
We could alert based on some threshold but threshold needs to be tuned and is an indirect way. I think a direct stat will be more predictable.

[2018-09-20 06:40] lizan commented on #4475
https://github.com/envoyproxy/envoy/issues/1680 also has a long discussion to be recalled in this context.

For existing opaque configurations, we carefully hid `ProtobufWkt::Struct` itself to extension interfaces (except retry host predicate #4452 added recently), and let factories create MessagePtr that Envoy fills them in [`Config::Utility`](https://github.com/envoyproxy/envoy/blob/master/sourc

[2018-09-20 06:59] lizan opened #4477 "update to clang-7"
*Description*:
LLVM 7 is released. Consider update the build tool chain to clang-7.

cc @PiotrSikora

[2018-09-20 07:12] PiotrSikora commented on #4477
I have this done and pending in my local tree already, but I'm waiting until 7.0 packages are published on `apt.llvm.org` (right now it still installs pre-release snapshots for `clang-7 llvm-7 lldb-7`) before opening a PR.

Feel free to assign this to me, thanks.

[2018-09-20 11:31] jmarantz commented on #4474
Hmm...answering my own question, the assert-statements themselves are in test infra files, so I guess there's no evidence of issues in production, and this can just be fixed with sim-time.

[2018-09-20 12:34] techwizardg opened #4478 "Performance numbers of TCP Load balancing long lived sessions"
This is not an issue and not sure where to ask and hence posting it here.

We are planning to use envoy proxy as TCP Load balancer for long lived sessions and so wanted some information on performance numbers and the hardware details on which this benchmarking exercise was done.

[2018-09-20 14:41] MisterJimson commented on #3301
What does opaque mean in this context?

[2018-09-20 14:55] markvincze opened #4481 "Full scan least request LB alg: would it provide better performance in some cases?"
# Full scan least request LB algorithm

I've been using Envoy as a proxy/load balancer in front of an API with the following characteristics:

 - The requests the API serve are CPU-intensive, and one request more or less utilizes one CPU core completely.
 - The duration of the requests vary between 100ms - 5 seconds (or even a bit more in some edge cases)

Because the requests are CPU intensive, i

[2018-09-20 16:09] mattklein123 commented on #4475
This plan SGTM as long as we can do it without breaking any existing filters.

[2018-09-20 16:10] #4400 closed

[2018-09-20 16:12] mattklein123 commented on #4478
@techwizardg the project unfortunately does not provide official perf data: https://www.envoyproxy.io/docs/envoy/latest/faq/how_fast_is_envoy

[2018-09-20 16:36] nickolaev opened #4483 "Can't build master on OSX"
I am trying to build the latest HEAD (94f5ed6972d1d47d1af1f7a347dac907282e5895) on my MacBook and I get build errors.

After bisecting I found that the last good known commit is 6ce3e1f45005c37e4a951470ee0bcf0381738e76.

The next 75e54d072fa190ab78b9795f9ed7a98e1d2d33a3, which introduces some seemingly irrelevant and small changes in the API protobuffer for `core` and `router` is failing with:

[c

[2018-09-20 16:53] mattklein123 commented on #4483
@nickolaev sorry for the trouble, this revert will fix it: https://github.com/envoyproxy/envoy/pull/4482

[2018-09-20 16:53] #4483 closed

[2018-09-20 16:56] htuch commented on #1472
@mattklein123 AFAICT, we want to mark this dupe of #4283 and leave a note there that we should also make sure any design correctly captures SSL failure details.

[2018-09-20 17:34] mattklein123 commented on #1472
@htuch sure that's fine with me, though I'm not sure that is what @ldemailly was originally after here.

[2018-09-20 17:42] ldemailly commented on #1472
well as long as you can tell with the default config that an incoming connection was rejected and why, it will be fantastic, how that happens doesn't matter to me.

[2018-09-20 18:57] htuch commented on #4475
@lizan that sounds reasonable, @snowp do you want to do what @lizan describes for the retry reselect extensions?

Would love to find someone who can own end-to-end delivery of this issue. This is becoming a big issue for Istio (also CC @louiscryan).

[2018-09-20 19:19] snowp commented on #4475
Yeah I'd be happy to update them, I was only using `Struct` since it seemed to be the way things were already done.

Just so I understand: is the benefit of using `Any` purely about it being more compact over the wire? Or are there other perf concerns with `Struct`?

[2018-09-20 19:31] rfaulk opened #4485 "Empty EDS prevents LDS and RDS requests"
*Description*:
When connecting to a management server over ADS, Envoy is sending the expected CDS and EDS requests. However, if the EDS response is empty, Envoy is repeatedly requesting EDS and never moving on to LDS and RDS.

*Repro steps*:
1. Configure an Envoy to use ADS over gRPC
2. Have the management server return a CDS with a cluster but an empty EDS response for that cluster
3. Envoy will

[2018-09-20 19:45] htuch commented on #4475
@snowp there's also (de)serialization costs. To be clear, we're not asking to switch to `Any`, only to hide the visibility of `Struct` internally in the code base, at this point. The `Any` migration should be somewhat orthogonal, as we need to do it across the entire code base for consistency.

[2018-09-20 19:51] snowp commented on #4475
Got it, I'll take inspiration from `translateToFactoryRouteConfig` and do something similar.

[2018-09-20 19:53] htuch commented on #4283
To satisfy #1472 (which I'm going to close as dupe of this issue), we need to make sure that SSL failures have more fine grained error information reflected in responses. @vilobhmm can you amend your proposal to capture this? CC @ldemailly.

[2018-09-20 19:53] htuch commented on #1472
OK, continuing tracking at https://github.com/envoyproxy/envoy/issues/4283.

[2018-09-20 19:53] #1472 closed

[2018-09-20 20:07] htuch commented on #4481
@markvincze thanks for the thorough analysis here. Sorry if I missed this, but can you comment on how many servers you have as upstreams? I'd think that P2C, like any statistical algorithm, would be better at large numbers and that a full scan would be better with a small number of upstreams.

Do you see a discrepancy if you run the above experiments with a large number of upstreams (e.g. 50)?

[2018-09-20 20:17] markvincze commented on #4481
Hi @htuch,

This benchmark was done with 20 instances.
I'll try to repeat it with more instances, let's say 60, and will post the results.

[2018-09-20 20:18] htuch commented on #4485
@ramaraochavali I wonder if #4276 might have led to this issue? Essentially what is happening AFAICT is that cluster initialization never completes, since an empty EDS response is not sufficient to provide an empty initial update to the cluster.

[2018-09-20 20:19] mattklein123 commented on #4481
FWIW, I think having a full scan algorithm in certain cases like yours (long lived/expensive requests) make sense. These are cases where the probablistic P2C algorithm will not do well. I would point out that there is also an option to have an option to switch P2C to PNC (meaning allow the user to specify N for > 2 choices). This might provide most of the benefit without a full scan.

[2018-09-20 20:36] vilobhmm commented on #4283
@htuch : Will do. Thanks!

[2018-09-20 20:49] vilobhmm commented on #1472
@mattklein123 @htuch @ldemailly : The doc is shared here https://docs.google.com/document/d/1fMEK80KlpHcL4CwhniOupgQu4MDsxK4y4dKhthjjCMA/edit and also shared with Envoy community. I will amend the doc to add the scenario that @ldemailly is describing. Thanks!

[2018-09-20 20:59] vilobhmm commented on #4283
@cmluciano : Here is the link. https://docs.google.com/document/d/1fMEK80KlpHcL4CwhniOupgQu4MDsxK4y4dKhthjjCMA/edit

Shared it via envoy-dev mailing list as well

[2018-09-20 21:28] aa-stripe commented on #2692
Hi @htuch, thanks for your comment! I was wondering if you could clarify what exactly you are referring to with the proto3 logging, and where in the source I might be able to find that and insert the 'convert to json' code.

Additionally, what are your thoughts about an approach where we basically write a version of https://github.com/envoyproxy/envoy/blob/master/source/common/access_log/access_lo

[2018-09-20 21:34] htuch commented on #2692
@aa-stripe you can definitely write an access log formatter that emits JSON. The existing proto logging is in https://github.com/envoyproxy/envoy/blob/master/source/extensions/access_loggers/http_grpc/grpc_access_log_impl.cc. This is actually coupled with gRPC output, so you might want to just take this as inspiration.

[2018-09-20 21:41] zuercher commented on #3795
I did some more research on this, since the error seems to imply this is a problem with /usr/bin/env (and a coreutils replacement is available in homebrew). Forcing "genv" doesn't fix the problem, because this is the result of limit.h's ARG_MAX (c.f. http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/limits.h.html) being set to 262144. ARG_MAX affects exec so it's the exec statement in the c

[2018-09-20 22:15] aa-stripe commented on #2692
Awesome, thanks for clarifying! The proto angle makes more sense now. I'll look at a JSON access log formatter in the spirit of `access_log_formatter.cc`

[2018-09-21 00:59] lizan commented on #4455
With current implementations, it is tricky for control-planes to generate, especially for `cluster_header` in HTTP with the filter order (per route config cannot have multiple configs for same filter) and route cache if filters in middle set that header. If we have upstream filter #173 and RBAC there, I agree that the rule would be pretty simple enough to generate so we don't need this flag.

[2018-09-21 01:09] PiotrSikora commented on #4196
@jmarantz

Generate test files:

[code]
[code]

Start Envoy and collect memory stats:

[code]
[code]

[2018-09-21 01:47] PiotrSikora commented on #4196
(updated the script to calculate per worker thread overhead as well)

[2018-09-21 01:52] lizan commented on #921
Did anyone try this recently? I was able to generate compilation database with https://github.com/grailbio/bazel-compilation-database and then run clang-tidy with it.

[2018-09-21 02:04] PiotrSikora commented on #921
@lizan for compilation database, there is also [Kythe](https://kythe.io), which supports [extracting compilations using Bazel](https://kythe.io/examples/#extracting-compilations-using-bazel), and which  might be potentially slightly more useful for us in the future.

[2018-09-21 02:04] htuch commented on #921
@lizan if you can make this work that would be awesome. Do you want to own this one?

[2018-09-21 02:27] ramaraochavali commented on #4485
@htuch I think you are right. I will revert it for now to get back the old behaviour and fix the empty stat issue later

[2018-09-21 05:00] wora commented on #4475
`Any` should be a good way to express extensions. For example, `google.rpc.Status` uses `Any` for error details. Each extension has a clear proto schema that is well documented, and supported by various infrastructure. Once we build up infrastructure to use `Any` effectively in Envoy context, it should offer much better experience than `Struct`.

I should point out to convert between json and prot

[2018-09-21 05:05] ramaraochavali opened #4492 "configure component log level"
In some scenarios we want to start Envoy with debug logging enabled for some of the sub components in some environments to debug issues. Current CLI does not support this and it is would not be very user friendly to support this CLI layer.

How about supporting it in bootstrap config?

[2018-09-21 05:27] mattklein123 commented on #2514
Done.

[2018-09-21 05:27] #2514 closed

[2018-09-21 05:28] mattklein123 commented on #4170
This is done.

[2018-09-21 05:30] mattklein123 commented on #2100
@taiki45 is this done or is there more to do? Thank you for your effort here!

[2018-09-21 05:31] lizan commented on #4170
@mattklein123 This is done for 2., I would like to still keep this open for 1.?

[2018-09-21 05:32] mattklein123 commented on #4268
@alyssawilk is there more to do here?

[2018-09-21 05:35] mattklein123 commented on #4170
Ah ok. SGTM.

[2018-09-21 05:36] mattklein123 commented on #2941
@PiotrSikora can we consider this issue complete? There is a lot in here but I think your commit fixes the original issue here?

[2018-09-21 05:38] ramaraochavali commented on #4492
Yes. We want subcomponents to also be set. I am OK setting it in CLI also but was thinking it would make CLI cumbersome. I am fine either way

[2018-09-21 05:40] mattklein123 commented on #4455
@lizan sorry I still don't understand why this is hard to do with the existing RBAC filter. Can you describe your use case in more detail?

[2018-09-21 05:41] taiki45 commented on #2100
I was thinking that too. What I'm not getting the meaning is the "anchors" because I'm not familiar reStructuredText yet. Is that something like this?: `.. _config_cluster_manager_v1:`

We've already removed possible v1 links from current docs (except from v1 docs tree), but we didn't remove all of anchors from v1 doc tree. Probably we should remove all of anchors from v1 docs tree when we remove

[2018-09-21 05:43] mattklein123 commented on #2100
Yeah originally I was thinking we would remove all the anchors from the v1 tree just to avoid things we missed, but it's not a big deal. If you already went through and removed all of what you saw, I think that's great and we can track any stragglers later. If you agree we can close this as done?

[2018-09-21 05:52] taiki45 commented on #2100
I see, now I understand that.

Yes, I checked with grep-ing v1 links in generated docs tree and I think all of possible ones were replaced. So I agree we can close this as done.

If anyone find more jobs to do about this, of-course please report that.

[2018-09-21 05:56] mattklein123 commented on #2100
Cool, closing. Thank you!!!

[2018-09-21 05:56] #2100 closed

[2018-09-21 06:00] PiotrSikora commented on #2941
AFAIK, this issue (i.e. number of outgoing streams is limited by `SETTINGS_MAX_CONCURRENT_STREAMS`) isn't fixed yet. I'll consider this fixed once Envoy starts opening new connections to the peer once it hits the `SETTINGS_MAX_CONCURRENT_STREAMS` limit.

#3658 fixed #3076 which made this even worse by incorrectly setting the limit to 100 when `SETTINGS_MAX_CONCURRENT_STREAMS` wasn't advertised by

[2018-09-21 06:03] mattklein123 commented on #2941
OK moving to 1.9.0

[2018-09-21 07:10] DemantT opened #4494 "build error"
I clone code from https://github.com/envoyproxy/envoy.git ,
and then build it with " ./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.release' "
but failed, the failed message is:

root@ubuntu:/home/T/envoy/envoy# ./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.release'
No remote cache bucket is set, skipping setup remote cache.
ENVOY_SRCDIR=/source
HEAD is now at 3e5b733... cleanup: match NOT_IMPLEMEN

[2018-09-21 07:58] ramaraochavali commented on #4492
@mattklein123  are you suggesting that we should enhance the existing flag to support that as well like
-l debug - to enable debug across the board
-l config:debug,upstream:debug - to enable for specific sub components?

[2018-09-21 08:50] vpiduri opened #4495 "CentOs build error"
**Bug Template**

*Title*: *CenOS build image fails*

*Description*:

 #error "Your toolchain has set _GLIBCXX_USE_CXX11_ABI to a value that uses a std::string "

[optional *Relevant Links*:]

IMAGE_NAME=envoyproxy/envoy-build-centos ./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.release.server_only'

Question: Can you please let us know how do we include this ENVOY_IGNORE_GLIBCXX_USE_CXX11_ABI_ERR

[2018-09-21 12:34] 5long opened #4496 "x-forwarded-proto gets overwritten when use_remote_address=true"
**Bug Template**

*Title*: *x-forwarded-proto gets overwritten when use_remote_address=true*

*Description*:
When Envoy is deployed behind a trusted edge load balancer (in my case, it's provided by cloud vendor Aliyun.com), and correspondingly set `xff_num_trusted_hops` greater than 0, it should forward header `x-forwarded-proto` from downstream to upstream without modification. Even with `use_rem

[2018-09-21 13:05] adamkotwasinski commented on #2852
@mattklein123 I think we could consider pure-Envoy (one proxy in front of whole cluster) or Istio-Envoy installations (or to be more generic, one proxy in front of each Kafka broker) separately.

----

With pure Envoy installation, we have the proxy sitting in front of the whole Kafka cluster, with client being aware only of proxy's address (makes it similar to current Redis filter).
[code]
In suc

[2018-09-21 13:39] markvincze commented on #4481
@htuch,

I did the same benchmark with 60 API pods instead of 20. (I increased the benchmark request rate also accordingly.)
I see the same difference between the 3 algorithms:

`ROUND_ROBIN`:

![image](https://user-images.githubusercontent.com/1122274/45884514-67eabc80-bdb4-11e8-8e3d-1ca965fb0124.png)

`LEAST_REQUEST`:

![image](https://user-images.githubusercontent.com/1122274/45884526-6e793400-

[2018-09-21 14:48] nickolaev commented on #3060
@mattklein123
I'm looking into implementing this feature. I've found that I need to assign a new value to `final_host` in `RouteEntryImplBase::newPath`. I know that I can get the listener address from the `address` method of `ListenerImpl` and that i should extend `ListenerManagerImpl` to get access to the concrete Listener by its name. Now the problem that I have is - how to get access to the lis

[2018-09-21 14:58] htuch commented on #4475
@wora yep, thanks for weighing in. We can actually provide folks the flexibility by allowing them to embed `Struct` in `Any`, i.e. `<typed proto> -> Struct -> Any` which allows a descriptorless style, which is one of the reasons we're attracted to rolling over to this.

We're having some internal discussions on whether we can find an owner for this at Google, if anyone is interested in stepping up

[2018-09-21 15:00] htuch commented on #4170
@lizan what if we do this; we point `tools/bazel.rc` at a shell script that detects if `lld` is present and uses that by default, otherwise falls backs to `ld`?

[2018-09-21 15:40] jmarantz commented on #4196
Awesome, thanks Piotr. I learned a bit messing around with these. Just to get a comparison I applied @ambuc's #4469 and used Piotr's script adding `--filter-stats ".*"` to compare against baseline. With 10001 stats I got:

[code]

I was also curious how startup speed scaled. I used a 100001-cluster yaml file and "--mode init_only" and timed startup:

[code]

[2018-09-21 15:53] jmarantz commented on #4196
Also with all stats filter out, the per-cluster overhead measured by @PiotrSikora's script is reduced from 66923/cluster + 1861/thread to 14557/cluster + 1859/thread.

[2018-09-21 16:10] knrc commented on #3404
To give you all a status update we (Red Hat) have been working on this for some time and are at the point where we believe we have a version of envoy using OpenSSL ready for testing, we should be starting this internally next week.  Once we are happy with this we are going to move the discussion to the upstream envoy community and work there to determine the best solution for supporting it, we sus

[2018-09-21 16:45] #4397 closed

[2018-09-21 16:46] htuch commented on #4481
@markvincze yeah, I think either adding a PNC or full scan variant of P2C seems the way to go. The fact that the problem doesn't become better as you scale up the hosts seems surprising to me, presumably at some sufficiently high number of hosts the two would converge or we have some bug?

[2018-09-21 16:50] #4473 closed

[2018-09-21 16:56] ggreenway commented on #4481
I think you need a large number of requests per host to have it even out, so a smaller number of hosts would probably show more even results.

[2018-09-21 17:18] htuch commented on #4494
@DemantT are you able to fetch from golang.org in the Docker container?

[2018-09-21 17:20] zuercher commented on #4494
You can experiment with that by running `./ci/run_envoy_docker.sh 'bash'` (which will give you a command line in the docker container).

[2018-09-21 17:29] htuch commented on #4495
@vpiduri you might want to set this in `SOURCE_DIR/.bazelrc` as a `--copt="-DENVOY_IGNORE_GLIBCXX_USE_CXX11_ABI_ERROR=1 "` build option, see https://docs.bazel.build/versions/master/user-manual.html#bazelrc.

[2018-09-21 17:33] htuch commented on #4496
@mpuncel @mattklein123 can you folks take a look at this? I don't think this is a dupe of https://github.com/envoyproxy/envoy/issues/4383, but it seems another case of confusing XFF semantics.

[2018-09-21 17:58] mattklein123 commented on #4496
Yes this makes sense to me. cc @brian-pane also.

[2018-09-21 18:07] mattklein123 commented on #4492
@ramaraochavali yeah I think something like that would be best and was roughly what I was thinking. Can you potentially provide a firm proposal of what the CLI would look like so we can all discuss? Switching to design proposal.

[2018-09-21 20:35] #4259 closed

[2018-09-21 21:43] ggreenway opened #4500 "Cleanup: rename RequestInfo"
In #4454 we decided that `RequestInfo` should be renamed to `StreamInfo` or similar, or that separate subclasses of it should be created for the Connection vs Http-Request uses of it.

[2018-09-21 21:55] venilnoronha commented on #4500
I can take this up. @ggreenway could you assign it to me?

[2018-09-21 23:04] mattklein123 commented on #3060
@nickolaev from reading back through the issue it's not clear to me that we want to actually implement this. Can you describe the use case in more detail and why a normal redirect can't work?

[2018-09-21 23:05] mattklein123 commented on #2852
@adamkotwasinski agree with your write up. I loosely plan on handling both of those cases.

FWIW, I'm taking a 2 month leave this winter where I plan on doing some part time coding and I'm going to look at getting started at implementing this.

[2018-09-21 23:05] mattklein123 commented on #2852
(Assuming no one else wants to start development sooner)

[2018-09-22 02:43] wora commented on #4475
`google.protobuf.Struct` is a proto message. It can be embedded into `Any`
just like other proto messages. Is there any problem with this approach?

A common way to settle this type of discussions is to create sample code
for critical user journeys. Evaluate the results visually, sometimes by
asking people around you.

[2018-09-22 05:35] ramaraochavali commented on #4492
@mattklein123  Here are the proposed options I could think of with a slight preference to option 2 as it would be more flexible and  clear. But open to other ideas as well.
**Option #1**
Enhance the existing -l flag to support both global log level and sub component log levels. And only one of them can be specified
-l <log-level>  : Continue work the same way it is working today
-l comma separated

[2018-09-22 10:38] ramaraochavali commented on #4449
@mattklein123 @htuch  are we good with adding a gauge that indicates whether Envoy is connected to control plane or not? If yes, please assign this to me. I will work on this.

[2018-09-22 13:34] avereha opened #4504 "crash when mirroring traffic to non-existent cluster"
*Title*: *Envoy crash when trying to mirror traffic to non-existent cluster*

*Description*:

We tried to use the "request_mirror_policy" feature and noticed that we get a crash if the cluster that we try to mirror traffic to doesn't exist. The crash is happening on the first request that is using that route. This bug seems to manifest only if we load the route configuration via RDS. When we try t

[2018-09-22 21:16] #4477 closed

[2018-09-22 21:48] mattklein123 commented on #4504
Thanks for the report. This should be a quick fix so I will see if I can land it for 1.8.0.

[2018-09-23 04:26] mattklein123 commented on #4492
Yeah I like option 2. @envoyproxy/maintainers any opinions?

[2018-09-23 04:56] ramaraochavali commented on #4449
My thinking is it will be under the scope `control_plane.connected_state` and will live at GrpcMux https://github.com/envoyproxy/envoy/blob/master/include/envoy/config/grpc_mux.h. I know it will definitely work for ADS and I am guessing (have not looked at it yes) will work for other subscriptions also as GrpcSubscriptionImpl uses GrpcMux for other subscriptions as well. Does it work?

[2018-09-23 13:55] #4485 closed

[2018-09-23 13:56] htuch commented on #4475
@wora I think we're in exact agreement here.

[2018-09-23 14:03] htuch commented on #4492
@mattklein123 @ramaraochavali +1 on component level configurability. I think it would be ideal to be able to modify this at subcomponent granularity at runtime (via admin console). This would be very helpful when debugging live systems without massive performance impact of putting everything at `-l trace` for example.

[2018-09-23 14:06] htuch commented on #4449
@ramaraochavali this seems reasonable to me, thanks.

[2018-09-23 22:12] mandarjog commented on #4475
From a performance standpoint we know that what we have right now is very inefficient. That is because proto to struct translation is not a first class operation. We have an issue open with gogo proto to address that. Any will imminently bypass this perf issue.

The other part is how does it affect the human readability of the yaml rendered form. Does proto -> encoded as struct -> encoded as Any h

[2018-09-23 23:13] htuch commented on #4475
@mandarjog the only difference is you need to include a type URL in the YAML representation, see https://developers.google.com/protocol-buffers/docs/proto3#json. See the existing xDS resource objects which are represented as Any as an example here (e.g. https://github.com/envoyproxy/envoy/blob/master/test/config/integration/server_xds.cds.yaml).

I think we're all in agreement on what needs to be

[2018-09-23 23:34] #4124 closed

[2018-09-24 02:59] mattklein123 commented on #4449
SGTM also

[2018-09-24 03:00] mattklein123 commented on #4492
@htuch this is already possible at runtime via the `/logging` admin endpoint.

[2018-09-24 04:00] snowp commented on #4396
This was fixed in #4435

[2018-09-24 04:00] #4396 closed

[2018-09-24 07:34] abbi-gaurav commented on #4397
@mattklein123 Would it be possible to know in which envoy version will this be available?

[2018-09-24 08:13] georgi-d commented on #3060
Looking at the RedirectAction https://github.com/envoyproxy/data-plane-api/blob/c82d27e4e5e8c39e8368b2754c4b8825f5d1e84d/envoy/api/v2/route/route.proto#L626

It looks like it can redirect to:

1. different hardcoded host
2. different path
3. change schema to HTTPS
4. remove the query

We need to redirect to:
- a different schema
- on a different port
- preserving the original hostname.

Of the ava

[2018-09-24 10:59] markvincze commented on #4481
@htuch,

I'd be surprised if this was a bug. My intuition was to expect results like this, although this is a pretty specific scenario, because
 - Requests are 100% CPU-intensive
 - Long request duration, with high variance

What could also make my benchmark results this extreme is that the 60 pods I'm testing with are all 1-core instances. So as soon as a node is processing not 1, but 2 requests

[2018-09-24 14:32] alyssawilk commented on #4268
Yes, I believe we should limit the both the number of headers we are willing to alter and the size we are willing to alter.    It's still trivial to configure a user-defined-header config which will cause Envoy crashes and better to put limits in Envoy rather than making everyone do their own.   I think we can get most of the way there by adding max_bytes and max_items validation on the proto, but

[2018-09-24 15:43] stevenzzzz opened #4513 "typed metadata (cluster, route) in Envoy?"
**Issue Template**

*Title*: Having a typed metadata interface help to get/manage config data in metadata.

*Description*:

I think if we could have a feature that:

* Create a TypedMetadataFactory, which may have the following interface:
    * <T> DeserializeFromStruct(protobuf.Struct&).
    * key();  -- This key could be a filter name, or something else (e.g., "com.google.gfe3.serviceProto" whic

[2018-09-24 17:00] rshriram opened #4515 "RBAC: expose SNI as a parameter in permission"
**Issue Template**

*Title*: Expose SNI as a parameter in the permission block

*Description*:
Currently, we expose destination IP/port/HTTP headers. WE need to also expose the SNI value.

cc @yangminzhu

[2018-09-24 18:10] mattklein123 commented on #4268
Sure sounds good. No rush.

[2018-09-24 18:12] mattklein123 commented on #3060
@georgi-d yup exactly. I would just add different redirect types and have a look at whether it makes sense to allow combining them if not allowed already.

[2018-09-24 18:13] mattklein123 commented on #4397
1.8.0 will be tagged in the next 1-2 weeks.

[2018-09-24 19:26] snowp commented on #4210
@zyfjeff Are you still planning on handling this? If not, we can get somebody on our end to implement this

[2018-09-24 19:37] mattklein123 commented on #4513
@curiouserrandy I thought this is what you have been working on with the typed metadata work? Am I off?

[2018-09-24 19:40] curiouserrandy commented on #4513
It's the same mechanism, but a different location.  I implemented RequestInfo::perRequestState() and someone else is working on perConnectionState, but this is per-cluster.

The implementation class could certainly be re-used (though it should be renamed since it's currently called FilterState).

[2018-09-24 19:42] mattklein123 commented on #4513
OK makes sense. That SGTM.