[2020-08-19 09:30] Jeskz0rd commented on #12377
Is there any other options for this issue?

[2020-08-19 10:20] objectiser commented on #12713
@danielkwinsor Agree, should be treated as if no trace context has been supplied, and start a new trace (with new sampling decision).

[2020-08-19 14:22] roelfdutoit opened #12728 "Using ENVOY_LOG in a custom filter does not compile unless the filter is in the Envoy namespace"
Proprietary/custom filters that are not in `namespace Envoy` will get the following compile error when using `ENVOY_LOG()`:
`error: use of undeclared identifier 'getFancyContext'; did you mean 'Envoy::getFancyContext'?`

The `ENVOY_LOG()` macro switched to using `FANCY_LOG()` as part of #12369

[2020-08-19 14:58] roelfdutoit commented on #12728
This is a duplicate of #12707

[2020-08-19 15:20] #12469 closed

[2020-08-19 15:21] stedsome commented on #12469
This issue is now closed. @ahedberg

[2020-08-19 15:23] ggreenway commented on #12698
I'm not sure why that's always printing zero. I have a similar config, but without the `filter` and using `format` instead of `json_format`, and it's working as expected.

[2020-08-19 16:16] mattklein123 commented on #12725
@chadr123 please see https://github.com/envoyproxy/envoy/issues/9514 of which I think this is a duplicate. Would love for you to implement that so let's continue the discussion there?

[2020-08-19 16:16] #12725 closed

[2020-08-19 16:24] mattklein123 commented on #12718
By default Envoy does keep alive upstream connections. You will need to take a look at stats, logs, etc. to see why that is not happening for your use case.

[2020-08-19 16:37] mattklein123 commented on #12724
Cool stuff! I think my main question is whether this needs to live in the main Envoy repo? Could enough functionality be added to the existing Lua filter that then the rest of the framework could be hosted in a different repo?

[2020-08-19 16:58] #12728 closed

[2020-08-19 17:00] dastbe commented on #12505
Ah, yeah! Closing.

[2020-08-19 17:00] #12505 closed

[2020-08-19 17:00] qiwzhang commented on #12377
We can add a new field in jwt_authn `JwtProvider` [config](https://github.com/envoyproxy/envoy/blob/master/api/envoy/extensions/filters/http/jwt_authn/v3/config.proto#L55) to specify field name to extract issuer.    Such as

// The field name in jwt payload to specify issuer.
// Normally "iss" is used.  If other field name is used, use this field to specify it.
string  issuer_field_name = 9;

[2020-08-19 17:01] qiwzhang commented on #12377
Hi @mattklein123 please assign this to me.

[2020-08-19 19:26] NonStatic2014 commented on #12718
I run the test again this morning with Prometheus monitoring the upstream active connection and see below results. The first part was `curl` to the endpoint every 5 seconds; the second part was the use the same connection sending request every 5 seconds. Can you give me a suggestion on which setting(s) I should look into? @mattklein123 , Thank you!

![image](https://user-images.githubusercontent.c

[2020-08-19 19:44] xdzhai commented on #12184
Drew tries many times, but was not able to reproduce the flakiness even if run 1000 times with tsan.
I also had a try and seems not reproducible. But I was able to reproduce it with the code at 2020-07-27, the log shows failure in waitForGrpcMessage().

There was a commit on 8/13: [testing: fix multiple race conditions in simulated time tests (#12527)](https://github.com/envoyproxy/envoy/commit/a4

[2020-08-19 19:45] KBaichoo commented on #12638
After digging around, I think I've hit on a potential reason.

The failures I've encountered have all been under `SimulatedTime` when I run `bazel test //test/server:guarddog_impl_test -c opt --runs_per_test=5000 --test_output=errors` and they're timeouts within tests based off of the test fixture `GuardDogDeathTest`.

This makes things a tad more difficult to poke around since these are death tes

[2020-08-19 19:57] Pchelolo opened #12735 "Proposal: introduce an option to skip JSON keys with null values in json log format"
**Rational**

When emitting access logs in typed JSON format, certain fields can have `null` values, for example if the fields are populated from request headers or dynamic metadata. These fields are emitted to the log as JSON null.

This creates two similar problems:
- If the log destination is logstash, it doesn't support nullable indexed fields, so custom ruby filters need to be written, otherw

[2020-08-19 20:07] ottomata commented on #12735
👍

[2020-08-19 20:08] mbaglole commented on #12686
@mattklein123

I've found the source of the crash -

main thread
[code]

Looking at the state of the listener constructor:

[code]

I see that the listener's `connection_balancer_` with `handlers_` of size `0` - the address is `0x0000000015316b10`.

As we are adding the listener to the workers, if a connection gets balanced, then we observe the crash.

[code]

It looks like the handlers are not co

[2020-08-19 20:13] mattklein123 commented on #12686
Aha! Thank you for tracking this down. @lambdai would you be willing to fix ^? I think this is a regression from the in place update work. If you don't have time I can take a look also.

[2020-08-19 20:32] lambdai commented on #12686
Thanks for raising it up！
Not sure if balancer is a per linstener config. My hunch is the balancer could be reused by new listener at best efforts.

I will fix or give the follow up by EOF.

[2020-08-19 20:40] htuch commented on #12155
Interesting take from Chrome on C++ interop: https://www.chromium.org/Home/chromium-security/memory-safety/rust-and-c-interoperability

[2020-08-19 20:48] mattklein123 commented on #12184
FWIW I've seen failures on main branch since the above fix, on ARM release, which tends to run very fast. I will take a look and see if I can repro.

[2020-08-19 21:00] htuch opened #12739 "Add a test to demonstrate aggregate cluster circuit breaker behavior"
Based on code spelunking, I believe aggregate clusters have a single set of circuit breakers, not per-component cluster. It would be helpful to add some tests to `test/extensions/clusters/aggregate` to demonstrate this.

CC @yxue

[2020-08-19 21:30] jplevyak commented on #12155
The NullVm is nice because it works around the issues that Chrome would be facing as it already has a language level translator including explicit memory management and ownership transfers.

We would have to create a NullVM SDK for rust.  This wouldn't be that hard as most of the work from the C++ NullVM code could be repurposed transparently.  There is a bit of code required in the "VM runtime" w

[2020-08-19 21:31] mbaglole commented on #12686
thank you @lambdai - looking forward to this patch once available :)

[2020-08-19 21:54] LisaLudique opened #12740 "Format checking/fixing script breaks with python3.8"
Description:

Running `tools/code_format/check_format.py check` (or with `fix`) with python3.8.0 or python3.8.7 on MacOS fails with the following error:

[code]

While the argument is correctly parsed into the `operation_type` variable in the main function it is undefined/not visible to the workers running checkFormat. I am guessing this behavior changed with Python3.8 (https://bugs.python.org/iss

[2020-08-19 22:28] mattklein123 commented on #12638
Hmm. I will defer to @antoniovicente on the event loop changes, but wouldn't surprise me if there have been subtle changes here. Regarding the death test forking, shouldn't writing to std::cerr still work? Doesn't the fork still maintain access to output?

[2020-08-19 22:30] mattklein123 commented on #12735
SGTM!

[2020-08-19 22:35] #12499 closed

[2020-08-19 22:35] LisaLudique commented on #12740
This applies to some of the other command line arguments like `build_fixer_check_excluded_paths`; I am working on a PR to pass those variables into the helper functions that use them.

[2020-08-19 22:43] antoniovicente commented on #12638
/assign @antoniovicente

Just so I remember to look, feeling like issues like this are piling on.

[2020-08-19 23:27] dmitri-d opened #12742 "Multiple VHDS subscriptions cannot be multiplexed over ADS"
When multiple VHDS subscriptions are multiplexed over a single connection, the server doesn't have a way to associate a given VHDS subscription with a route config: there's no identifying information in the initial request.

Normally, when a subscription first starts it passes resource name(s) that it subscribes to with the first request. VHDS operates on a collection of vhost resources, however,

[2020-08-20 00:36] Pchelolo commented on #12735
The implementation touches the same areas as #12602 which was already approved, so I will wait for it to get merged before implementing this to avoid conflicts.

[2020-08-20 01:38] lizan commented on #12723
That means the incoming request doesn't have any token, so this is expected behavior? What do you want to achieve?

[2020-08-20 02:52] zengyuxing007 commented on #12724
envoy.resty design goal is similar to openresty, features include lua plugin configuration and lua plugin chain management , itself somewhat similar to the http_connection_manager, of course, there are some other similar lua-ffi, cosocket(coroutine + socket) basic capabilities such as

I think that envoy.lua is well positioned (serverless function), which is different from the envoy.resty oriented

[2020-08-20 03:22] mk46 commented on #2908
@ggreenway Please take a look at #12712.

[2020-08-20 03:49] qiwzhang commented on #12377
It turn out "iss" is not needed in most cases.  Change the code to:  if "iss" is not in the jwt payload,  not to verify it.

[2020-08-20 03:59] chadr123 commented on #9514
I would like to support hash policy in udp proxy.

The udp proxy does not support hash based lb algorithms perfectly because it does not provide LoadBalancerContext when choose a host.
So, the udp proxy with hash based lb algorithms will select a host by random manner.

I have investigated the tcp case and I found that it has the hash policy option.
So, I think that we can support it in udp case a

[2020-08-20 04:35] mattklein123 commented on #12724
I’m not sure I follow why we can’t add whatever hooks you need to the lua filter. These hooks would likely help anyone else that uses the lua filter. Can you outline what the lua filter would need to do differently? cc @dio.

[2020-08-20 06:03] luyisa commented on #12723
No, not expected behavior. token should be feteched from http_uri - "https://<host>/v1.0/endpoint/default/jwks", right?

Following is the json response of my http_uri, I don't know why no token is fetched, or any thing wrong of my settings in yaml.

[code]

[2020-08-20 06:27] qiwzhang commented on #12723
No, since your request doesn't have "Authorization" header with JWT token, but it is required,  Envoy jwt_authn just rejects that request with JwtMissing error.  It doesn't need Jwks to verify the signature,  so remote jwks is not fetched.

[2020-08-20 06:45] zengyuxing007 commented on #12724
@mattklein123

Extending the features described in the proposal to envoy.lua is of course possible， but it will import some dependencies, which is what I said above about envoy.lua's positioning and corresponding solution scenarios.

When constructing an envoy.resty  filter, the lua vm based on the aggra framework is constructed, i.e., it relies on aggra

aggra lua framework will be commonly used

[2020-08-20 06:48] NonStatic2014 commented on #12718
I also noticed: If I have two clients to reach this envoy and eventually reach the same upstream:
1. First one generate 600 QPS, latency looks expected.
2. Second one generate 1 request every 5 seconds using curl (each time create a new connection)

The second one still can repro this issue! I hope this information could be helpful. Thanks!

[2020-08-20 06:59] luyisa commented on #12723
o... do you mean that I should input 'Authorization: Bearer <token>.' into my http request --- GET '/hosts' (in this example)? In OIDC, I would input client_id/client_secret to get access token from IAM server, the fetched access_token would be used in the request in envoy setting?

Thanks.

[2020-08-20 07:56] dmaixner opened #12747 "unable to read config after upgrade to envoy 1.15"
### Title: unable to read config after upgrade to envoy 1.15

### Description:

I'm using Envoy docker image in docker-compose. Docker is running in Ubuntu, which is running in VM, which is running in Windows 10.

I have been using Envoy 1.14 without any problems. After upgrading image to 1.15, Envoy doesn't start and I'm getting this error:
[code]

My docker-compose part for Envoy is simple:
[cod

[2020-08-20 09:24] chadr123 commented on #12747
I think you need to add other read permission to your envoy.yaml file because the envoy will be run as non-root now.
https://github.com/envoyproxy/envoy/commit/e8a2d1e24dc9a0da5273442204ec3cdfad1e7ca8#diff-941c94bc69aed72cfbc79f8a6f366983

[2020-08-20 09:28] luyisa commented on #12723
Thanks for your help. I know the reason, my misunderstanding of JWT authentication. close this issue.

[2020-08-20 09:28] #12723 closed

[2020-08-20 09:43] dmaixner commented on #12747
this helped, thank you @chadr123

[2020-08-20 09:43] #12747 closed

[2020-08-20 12:40] kkHAIKE commented on #12565
disable extension envoy.transport_sockets.alts

[2020-08-20 12:40] #12565 closed

[2020-08-20 12:59] knm3000 opened #12750 "Update lightstep-tracer-cpp dependency version"
Update lightstep-tracer-cpp version to include this fix:
https://github.com/lightstep/lightstep-tracer-cpp/issues/246
https://github.com/lightstep/lightstep-tracer-cpp/pull/249

[2020-08-20 13:49] htuch commented on #5155
@derekargueta any update on progress here?

[2020-08-20 14:42] joshua-rutherford opened #12752 "TLS certificate generation for tests not longer valid"
*Description*:

Running the script [certs.sh](https://github.com/envoyproxy/envoy/blob/master/test/extensions/transport_sockets/tls/test_data/certs.sh) script no longer produces valid constants for the tests in [ssl_socket_test.cc](https://github.com/envoyproxy/envoy/blob/master/test/extensions/transport_sockets/tls/ssl_socket_test.cc).  The header files for a number of certificates were updated m

[2020-08-20 15:25] Shikugawa commented on #11706
It seems that your `max_stream_duration` is configured as downstream protocol options. If you'd like to attach this on upstream connection, you should configure like,

[code]

[2020-08-20 15:43] shivanshu21 commented on #12591
@mattklein123 @alyssawilk Should we convert this from question to an issue? I will raise a PR this week for adding this.

[2020-08-20 15:57] alyssawilk commented on #12591
SGTM, thanks. I'll assign it your way!

[2020-08-20 16:18] moderation commented on #5155
Now @derekargueta 's [presentation](https://kccnceu20.sched.com/event/ZfGp/keynote-building-a-service-mesh-from-scratch-the-pinterest-story-derek-argueta-senior-software-engineer-tesla) at KubeConEU is done he should have some cycles :smile:

[2020-08-20 16:47] mattklein123 commented on #12724
What is the aggra framework? Is it Lua code or C++ code?

I feel pretty strongly that we make the existing Lua filter do what you need to do on the C++ side to support the more expressive Lua framework on top. Can we list out what changes would be needed and we can see what that would look like? It could potentially be an option on the existing Lua filter but it's not clear to me that is required.

[2020-08-20 17:02] mattklein123 commented on #9514
@chadr123 can you open a PR where we can discuss? I want to make sure we built the API in a way that will allow for byte range hashing. I think this can just be a wrapper message with a oneof inside of it that initially just has the general hash policy, and then later we can add byte range hashing on the datagram. Thank you!

[2020-08-20 17:16] #11789 closed

[2020-08-20 17:17] dio commented on #12724
Sorry if this sidetracks the discussion. Just throwing some ideas and perspectives.

To make it to have the same vein with OpenResty, we need something similar to https://github.com/openresty/lua-nginx-module (and https://github.com/openresty/stream-lua-nginx-module if we want to deal with TCP), which to some extent what current Envoy Lua HTTP filter trying to do (also it has a similar approach to

[2020-08-20 18:43] akonradi opened #12759 "Unrecognized listener filter extension causes crash on LDS update"
On an LDS update, the ProdListenerComponentFactory [logs a message](https://github.com/envoyproxy/envoy/blob/3147d91a40d6aca684cfb4fd159c8876995502d1/source/server/listener_manager_impl.cc#L97) with the updated config. It calls MessageUtil::getJsonStringFromMessage, which attempts to convert the message and then [RELEASE_ASSERTs](https://github.com/envoyproxy/envoy/blob/c8c7907bf8518aa15b26e36261e

[2020-08-20 19:10] JKerwood opened #12760 "stats: Ability to not count health checks"
**Title:** Ability to not count health check paths in statistics

**Description:** With multiple nodes and a mesh of upstream and downstream the count of health checks can get high.  Weeding this out the real requests especially during canary deployments / low volume times is difficult.
Having the ability to configure the statistics to ignore /health for example would help us see statistics on the

[2020-08-20 20:27] #10132 closed

[2020-08-20 21:08] #10454 closed

[2020-08-20 22:59] htuch commented on #12043
I don't think TLS is needed. I'd suggest trying to recreate this in one of the integration tests, e.g. `ads_integration_test`.

[2020-08-20 23:04] ankatare commented on #12043
@htuch thanks for your inputs. let me try to reproduce this issue and will back for any doubts etc.

[2020-08-20 23:34] htuch commented on #12742
I chatted with @stevenzzzz and @chaoqin-li1123 about this. In the case of SRDS, they just treat it as a global subscription. Even with a non-ADS connection, how would the server be able to know that the incoming connection correspond to a given route config?

[2020-08-20 23:35] htuch commented on #12742
FWIW, I think https://github.com/envoyproxy/envoy/issues/11264 resolves this, since for the non on-demand case, the Envoy would be subscribing to a named collection, which will be potentially distinct between route configurations.

[2020-08-21 00:04] yanavlasov commented on #12718
Envoy also provides the `upstream_cx_connect_ms` stat that may tell you if connection establishment takes a long time. Other than that I do not think there are any other stats the can help you determining high latency of upstream requests if you are measuring high `upstream_rq_time` values (I assume this is what you are looking at).

[2020-08-21 02:02] zengyuxing007 commented on #12724
Aggra is a lua framework similar to kong, which wraps the common related scaffolding functions.

[2020-08-21 02:27] wlhee commented on #11706
Great, thanks!

[2020-08-21 02:27] #11706 closed

[2020-08-21 02:40] #8770 closed

[2020-08-21 02:52] wbpcode commented on #11050
is there any progress in this work? I very much hope that this work will be completed soon. If there is a need, perhaps I can help as well.

[2020-08-21 03:00] caitong93 commented on #12724
@mattklein123 Thank for your response and suggestions !  @zengyuxing007 and I  have some conversation , and we agreed that it would be a good start to extend the existing Lua filter, will update the doc and add more details.

[2020-08-21 03:04] caitong93 commented on #12724
@dio

Yes, actually there is an internally implementation(we name it EnvoyResty) following the OpenResty design, and we have run it on production for more than half year. Now we hope to push this feature to upstream.

wasm is definitely the future, but from our experience, it's still a while from production availability. I think the two can go together. Many users want to migrate to envoy-based cl

[2020-08-21 03:15] dio commented on #12724
@caitong93 sounds good. Re: leveraging the proxy-wasm interface, I meant to say about adopting the extension points defined in that [vNEXT](https://github.com/proxy-wasm/spec/tree/master/abi-versions/vNEXT) doc.

[2020-08-21 07:20] #12679 closed

[2020-08-21 07:22] packyzbq commented on #12679
I solve the problem after installing the libc++-dev libc++abi-dev and setting clang-7 as the compiler.

[2020-08-21 07:36] #12700 closed

[2020-08-21 08:03] chadr123 commented on #9514
Ok. I will open a PR soon. :)

[2020-08-21 12:34] alkalinecoffee opened #12767 "[Feature Request] Support environment variables in log formatting"
Adding a request to support environment variables in our log formatting, perhaps using the `ENV` key (similar to `REQ`, `RESP`, etc).  `HOSTNAME` is an already supported keyword pulled from the environment--this feature would expand on that.

Some values are known ahead of time and can be baked into the log format.  However, the use case would be for logging runtime values (host IP, AZ, etc) that

[2020-08-21 16:24] kihaloul opened #12768 "Retries are not always performed"
*Title*: *Envoy does not always perform retries*

*Description*:
I have a simple setup, where envoy is listening at 127.0.0.1:10001 (listener called http2_test_listener), and forwards requests with authority sbi-proxy:10001 to a cluster called "service_cluster_insecure", which has 2 endpoints, 127.0.0.1:40002 and 127.0.0.1:40003. The envoy configuration can be seen in the attached envoy.yaml.txt.

[2020-08-22 01:19] efe-selcuk opened #12780 "stats: Provide TLS certificate expiration metric"
#### Description

For organizations that are managing certificate lifecycles, having Envoy provide a metric that surfaces this would allow monitoring across the entire fleet, without relying on the lifecycle management to rotate certificates in time. This is useful whether or not the certificates have short validity periods, but it's especially useful for long validity periods where the certificat

[2020-08-22 15:01] joshua-rutherford opened #12784 "tls: intermediate certificate authority certificate revocation list"
*Description*:
Certificate revocation lists are verified with both X509_V_FLAG_CRL_CHECK and  X509_V_FLAG_CRL_CHECK_ALL.  With both of options enabled, if any certificate revocation list is provided, then a certificate revocation list is required for all authorities in the trust chain. While this is not unreasonable, it is not documented and the test suite does not indicate this behavior either (o

[2020-08-22 19:18] marcosrmendezthd opened #12785 "question: how to log lua exceptions"
Title: How do we log LUA exceptions?

Description:

I'm using Envoy 1.14.3. I'm trying to diagnose issues when running the LUA filter. Aside from the log methods available I haven't been able to find a way to capture the lua exceptions and log them.

Repro steps:

`
envoy -c config.yaml -l trace
`

Config:

Envoy Bootstrap

[code]

Client:

❯ curl -v http://localhost
*   Trying ::1...
* TCP_NODELA

[2020-08-24 01:23] stevenzzzz commented on #12742
could you pls help me to understand how it works?
in the first for loop of that func(line 128-135), will the response be able
to find any interested_watch? as the old aliases were "erased" by the
"bad_guy".
if it cant find any interested_watch, the response is dropped?

On Fri, Aug 21, 2020 at 5:32 PM Dmitri Dolguikh <notifications@github.com>
wrote:

--
Xin Zhuang

[2020-08-24 06:25] kumarvikas2020 commented on #12097
@lizan
I executed test cases using following command on ppc64le:
```bazel test //test/... -k --copt "-Wno-error=type-limits"```

All the test cases passed except 9.
[code]

1. //test/extensions/common/wasm:wasm_vm_test failed to build due to lack of Chromium support on POWER.
2. //test/extensions/filters/network/thrift_proxy:integration_test failed due to timeout, but succeeded after increasing th

[2020-08-24 09:10] pyrl247 commented on #12698
Thank u! I will try it your way.

[2020-08-24 09:10] #12698 closed

[2020-08-24 14:05] wrowe commented on #12560
I believe this is covered at https://github.com/envoyproxy/envoy/blob/master/bazel/README.md#windows

The project is unable to support multiple python interpreter flavors with different OS behaviors. If you have patches to the documentation or the envoy build schema to support another python flavor in addition to the sole recommended and supported package distributed by python.org, patches will ce

[2020-08-24 14:05] #12560 closed

[2020-08-24 14:07] wrowe commented on #12560
This doesn't appear to have much to do with relative paths, the "git.exe" binary from github.org (we have also had some success with msys's) must be on the process path list.

[2020-08-24 14:17] wrowe commented on #11974
We are currently working on a fork locally to determine the major roadblocks, while using the newly created toolchain and docker image. Expecting to create a PR shortly to demonstrate remaining breakage and move this forward.

[2020-08-24 15:54] ggreenway commented on #9514
In addition to the work that @chadr123 is planning to do, if that is combined with a filter similar to header-to-metadata from http and #12594, token-based routing will work.

[2020-08-24 15:59] ggreenway commented on #11184
This may be required for some QUIC use cases. If Envoy is terminating QUIC and sets a Server Preferred Address, packets will start arriving on a different listener, but are part of the same QUIC connection. So packets from different listeners will need to go to the same QUIC connection router.

Same story for QUIC connection migration.

This will also remove duplication if both HTTP/2 and HTTP/3 a

[2020-08-24 15:59] ggreenway commented on #12651
I think this requires #11184.

[2020-08-24 17:05] jaegchoi commented on #12688
That was actually the issue! Thanks so much

[2020-08-24 17:05] #12688 closed

[2020-08-24 17:14] mattklein123 commented on #12767
The code to edit is in here: https://github.com/envoyproxy/envoy/blob/master/source/common/formatter/substitution_formatter.h. And related users.

[2020-08-24 17:20] efe-selcuk commented on #12780
Ah, I missed this, it's on [the statistics page](https://www.envoyproxy.io/docs/envoy/latest/configuration/observability/statistics), thanks. And I'm also now discovering `/certs` endpoint, which provides the metric per cert, which I think is important. I'll take a note to see how I might have found these more easily.

It looks like `days_until_first_cert_expiring` was present from the initial imp

[2020-08-24 17:26] mattklein123 commented on #12780
Because we used it for the type of monitoring you are asking for at Lyft. :+1:

I don't feel strongly about it. There is always the issue of stats cardinality explosion with this type of stuff. A single metric + the certs endpoint has always been good enough for our ops usage but if you want to do a proposal feel free.

[2020-08-24 17:39] #12220 closed

[2020-08-24 17:52] efe-selcuk commented on #12780
I see, appreciate the insight. I'll go back to the team and see if this is sufficient for what we want to deliver.

[2020-08-24 18:28] #12084 closed

[2020-08-24 18:48] ASOPVII commented on #12694
Hi @mattklein123 , I think it might not be possible to remove the original implementation of ```Base64::Encode/Decode```, especially considering the usage of ```encodeBase/encodeLast``` and ```decodeBase/decodeLast``` for ```const Buffer::Instance& buffer``` object. What do you think?

[2020-08-24 19:16] dmitri-d commented on #12742
When a request made, the watch is updated with the alias in the request. When a response arrives one of the first things that happen is the alias in the watch is updated with the resource name. If if was a "not found" response, the alias will be replaced with an empty name (effectively will remove the alias from the watch and convert the watch to a wildcard one) Please keep in mind there's a bug i

[2020-08-24 20:05] stevenzzzz commented on #12742
talked offline, the management server should sends back whatever aliases the client requests for.

a possible attack sequence could be:

normal requests request for host-a,
bad-guy requests for host-bad
normal response came back, its aliases doesnt match any watch, the response is dropped
bad-guy requests for host-bad2, change watch to watch on host-bad2,
normal response for host-bad came back, on

[2020-08-24 20:05] rgs1 commented on #11906
I still want/need this; will circle back in a bit.

[2020-08-24 20:36] htuch commented on #11299
@howardjohn where did you end up with your explorations?

[2020-08-24 20:44] #12532 closed

[2020-08-24 21:42] mattklein123 commented on #12694
Ultimately I think we should try to converge, but it's fine if we can't do it right now. Can you document this issue the problems you ran into and then we can potentially revisit later?

[2020-08-24 21:43] mattklein123 commented on #12760
Which stats are you asking about specifically? Health checks are excluded from certain stats already, like HTTP response codes.

[2020-08-24 22:06] ASOPVII commented on #12694
Sure, it is found that:
1. ```absl::Base64Encode``` and ```absl::WebSafeBase64Encode``` worked well to replace the ```Base64::encode```
2. However, decode in abseil could not help get the same result for strings like ```"Zh=="```, ```"Zm9="```, ```"Zg.."```. In the current base64_test, the decode of these strings should be EMPTY_STRING, while the abseil will return a valid string for them (either

[2020-08-24 22:12] dmitri-d commented on #12097
Opened a PR with a fix for the failure in //test/extensions/filters/listener/proxy_protocol:proxy_protocol_test: https://github.com/envoyproxy/envoy/pull/12800

[2020-08-24 22:45] mattklein123 commented on #12638
This is probably our most active flake right now as it reproduces regularly on ARM release, probably due to speed. @KBaichoo @antoniovicente any thoughts on interim steps here? Maybe mark this test flaky manual? Disable on ARM, etc.? Thoughts?

[2020-08-25 00:29] moderation opened #12804 "Update observability dependency libcircllhist"
*Title*: *Update observability dependency `libcircllhist`*

*Description*:
When trying to update the observability dependencies in https://github.com/envoyproxy/envoy/pull/12799 the latest `libcircllhist` the following tests fail with not returning expected results.

- envoy/bazel-out/k8-fastbuild/testlogs/test/common/stats/thread_local_store_test/test.log
- envoy/bazel-out/k8-fastbuild/testlogs/t

[2020-08-25 00:37] htuch commented on #12742
I think you need to maintain watches on all outstanding requests for their duration, i.e. the superset.

[2020-08-25 00:57] antoniovicente commented on #12638
I think https://github.com/envoyproxy/envoy/pull/12609 should fix this issue.

Without the fix: 20 failures in opt mode out of 1k runs.
With the fix: 0 failures in opt mode out of 10k runs.

[2020-08-25 02:05] luyisa commented on #8571
will your branch be merged into master or any formal release?

[2020-08-25 07:39] dio commented on #12785
How about using `pcall`? https://www.lua.org/pil/8.4.html

[2020-08-25 13:15] VassoSof commented on #11883
@yanavlasov  Any update on this?

@vinzo99  as to be notified

[2020-08-25 14:36] marcosrmendezthd commented on #12785
modified the existing pcall to return the error as well. 😄

[code]

[code]

[2020-08-25 14:37] #12785 closed

[2020-08-25 15:40] wrowe opened #12807 "[Spelling] Mass clean-out of one-off spelling terms"
The https://github.com/envoyproxy/envoy/blob/master/tools/spelling/spelling_dictionary.txt file is littered with single-use keywords, often keywords specific to one platform/implementation.

As pointed out by @ggreenway https://github.com/envoyproxy/envoy/pull/12716#discussion_r475781460 we can resolve most of these on a permanent basis by placing these terms in backticks.

This is a tracking issu

[2020-08-25 15:57] #12752 closed

[2020-08-25 16:31] aogonevskiy opened #12808 "x-b3-sampled is always set to 0 when x-request-id is not formatted as UUID"
I had an issue with jaeger/zipkin tracing not working in Istio when requests to my service were going through kubernetes ingress controller (https://stackoverflow.com/questions/63507749/x-b3-sampled-header-is-always-set-to-0-when-accessing-service-through-ingress-co). Took me few days to figure out that it was caused by a format of x-request-id header used by ingress controller. Envoy proxy expect

[2020-08-25 17:26] howardjohn opened #12809 "No observeability into failures at listener_filter level"
I am trying to get some sort of observability into failures at the listener_filter level. Specifically, we see common issues where users have server first protocols, causing the inspectors to timeout (if timeout enabled) or hang (if no timeout set).

Config:
[code]

Ran with `docker run -p 10000:10000 -v $HOME/kube/local:/config --entrypoint envoy envoyproxy/envoy-dev -c /config/envoy.yaml -l trac

[2020-08-25 19:42] rene-m-hernandez opened #12813 "RBAC Network filter Stat Naming"
When using the RBAC network filter, the following statistics are output:
[code]

Where `{prefix}` is the `stat_prefix` set here: https://www.envoyproxy.io/docs/envoy/v1.14.2/api-v2/config/filter/network/rbac/v2/rbac.proto#config-filter-network-rbac-v2-rbac

This formatting does not seem follow the formatting of other statics e.g. `cluster.*`, `htttp.*`, `listener.*`; this can be problematic for ex

[2020-08-25 19:52] yosrym93 opened #12814 "[Feature Request] Allow HTTP filters to add a body that's not readily available to headers-only responses"
**TL;DR:** For headers-only responses, we need a way to tell the FilterManager in `encodeHeaders` that we want to add body to this response without having it readily available (i.e don't end stream after sending headers downstream).

I am working on the HTTP CacheFilter. When a cached response is being revalidated, a 304 (not modified) response (headers only) means that the cached response is vali

[2020-08-25 19:52] yosrym93 commented on #12814
@alyssawilk

[2020-08-25 19:52] yosrym93 commented on #12814
@capoferro @toddmgreer

[2020-08-25 20:22] alyssawilk commented on #12814
I like the idea of using addEncodedData, but I wonder if rather than changing it to call encodeData for the current filter it'd make more sense to add an end_stream boolean argument (which could default true, or be manually set true for the one use case) to allow for multiple addEncodedData chunks until the cache response is complete.  I'm concerned with the proposed change, there's still no way f

[2020-08-25 20:31] yosrym93 commented on #12814
The problem with using `addEncodedData` is that it only appends data to the buffer. It does not run it through filters. Also, my understanding is that there's more complexity to how `end_stream` is handled (there is local `end_stream`s for each filter's ActiveStream wrappers). That's why I think using `injectEncodedDataToFilterChain` is the right choice here. However, we would still need a way to

[2020-08-25 20:33] yosrym93 commented on #12814
I suppose if an `end_stream` parameter is added to `addEncodedData` we can use it instead of `injectEncodedDataToFilterChain` by calling `addEncodedData(data, end_stream)` then `continueEncoding` each time a chunk is available. But I don't know how that `end_stream` parameter would work.

[2020-08-25 20:40] Augustyniak opened #12816 "[FaultFilter] Inaccurate faults overflow metrics"
### Intro

One of the first operations  Envoy's fault filter performs when it receives an incoming network request is [checking for whether the maximum number of active faults has been reached or not](https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/http/fault/fault_filter.cc#L121). If the number of currently active faults is greater than agreed on maximum limit, [Envoy in

[2020-08-25 20:51] toddmgreer commented on #12814
Side note: We'll need to handle the (noncompliant, but possible) case of the upstream 304 response including a body. We could either discard the body or turn it into some kind of error. It's possible that Envoy's framing code already does this.

[2020-08-25 20:54] yosrym93 commented on #12814
In the proposed approach we should return `StopIterationNoBuffer` from `encodeData` anyway, which I assume will drop any buffered body.

[2020-08-25 21:05] alyssawilk commented on #12814
both run through the filter chain, but to your point if you don't want HCM buffering (and you have to do some internal buffering either way) injectEncodedDataToFilterChain is fine.  I'm less concerned about which function you use,  and more concerned about the plan to start iterating from the current filter.  Maybe I'm just not understanding why you want to halt the flow of data?    I'd think if y

[2020-08-25 21:07] yosrym93 commented on #12814
I do not want to half the stream of data. I only want to half the empty body that would be added by `encodeHeaders`. Then whenever a chunk of cached data is ready we can stream it downstream using `injectEncodedDataToFilterChain`.

[2020-08-25 21:09] yosrym93 commented on #12814
I only want to start iterating from the current filter to invoke `CacheFilter::encodeData` with the empty body to be able to halt it and stop the response encoding. Then start encoding cached chunks of data as they arrive.

[2020-08-25 21:11] alyssawilk commented on #12814
I would think that injectEncodedData with no data but end_stream false would do what you want - it should inform the HCM that there's now a body with the request, and that the body is incomplete.  I wouldn't assume it works without testing it, but I think that would be the ideal way to handle this.

[2020-08-25 21:13] yosrym93 commented on #12814
`injectEncodedData` directly calls `FilterManager::encodeData` which calls subsequent filters' `encodeData`. According to its documentation it should not be used in callback context. Also, subsequent filters then would have `encodeData` called before `encodeHeaders` which might cause problems.

[2020-08-25 21:14] toddmgreer commented on #12814
When we have a 10GiB response in a remote cache, we have to request it in small chunks and send each chunk downstream as soon as we get it. We will call injectEncodedData (or whatever) many times, as soon as the data comes in from the cache. When downstream gets backed up, we need to wait until it's clear before requesting the next chunk from the cache.

[2020-08-25 21:22] yosrym93 commented on #12814
@alyssawilk The main purpose of this issue is "how to tell the HCM in `encodeHeaders` that more data is coming without having it at the moment (i.e don't end stream), then let the headers flow downstream".

Modifying the behavior of calling `addEncodedData` in `encodeHeaders` to use it with an empty body in `CacheFilter::encodeHeaders` and then stopping iteration in `CacheFilter::encodeData` is on

[2020-08-25 21:29] mattklein123 commented on #12814
@yosrym93 I believe I already discussed this issue with you in Slack. I believe using `injectEncodedDataToFilterChain` is the right solution here. Can you summarize the issue with that API? I don't think there is any issue using this in callback context as this is what the fault rate limit filter does. It's called in timer context.

So is the issue that if you set end_stream = false in that API, i

[2020-08-25 21:32] yosrym93 commented on #12814
@mattklein123  In summary, we need a way in `CacheFilter::encodeHeaders` to continue iteration without ending the stream. We want the headers iteration to continue downstream, but then wait until cached chunks start coming in and send them downstream using `injectEncodedDataToFilterChain`.

[2020-08-25 21:35] mattklein123 commented on #12814
Can't you just send the headers with the first cached chunk for now? Yes it's not perfect but it's probably good enough with a TODO. Does that work without changes?

[2020-08-25 21:37] yosrym93 commented on #12814
How would we do that? We could stop iteration in `encodeHeaders` until the first chunk arrives. Then we could add the chunk using `addEncodedData` and `continueEncoding`. If we do that, we will face the same problem, we want to till the HCM this is not the end of the stream to wait for the next chunks.

AFAIK, If we instead use `injectEncodedDataToFilterChain` with the first chunk, then that chunk

[2020-08-25 21:38] mattklein123 commented on #12814
Right I would argue this is a bug. Can we just fix this?

[2020-08-25 21:46] yosrym93 commented on #12814
Is the behavior you are suggesting as the correct behavior is:
Before calling `FilterManager::encodeData`, if headers iteration was stopped, continue headers iteration first?

If so, what happens if another filter downstream stops headers iteration again? The data passed to `injectEncodedDataToFilterChain` is not added to the buffer so what happens then?

Also, what happens if the headers iteratio

[2020-08-25 21:47] howardjohn opened #12818 "Sending EDS before CDS leads to strange EDS ACK behavior"
Note: this bug does not impact us at all, it was found when I introduced a bug into our control plane during testing. As such, if this is not a real bug or intended behavior feel free to close.

Our control plane usually pushes update in order `[]string{v3.ClusterType, v3.EndpointType, v3.ListenerType, v3.RouteType}`. I switched this to EDS before CDS, and got strange results.

Rather than a singl

[2020-08-25 21:47] yosrym93 commented on #12814
I don't believe this is a bug, it's the way the function is implemented. It simply takes a body and directly passes it through the filter chain.

[2020-08-25 21:54] mattklein123 commented on #12814
I implemented it. ;)

I think it's a bug. The way it should work IMO is that if you inject data and headers have not been continued, headers are continued, and then data is injected. If a further filter stops that really doesn't matter. The HCM will take care of it.

The other option would be to add a new response code to `FilterHeadersStatus`, something like `ContinueAndDontEndStream`, to match `

[2020-08-25 21:59] yosrym93 commented on #12814
Well then sorry for any wrong assumption I made about it's intention!

Can you clarify what would happen here? My understanding is that you mean something like:
[code]
What would happen then if another filter stopped headers iteration? Would the HCM check it's iteration status before calling its `encodeData` callback? If so, what does the HCM do since this body is not buffered anywhere? Does it bu

[2020-08-25 22:24] toddmgreer commented on #12814
If we use injectEncodedDataToFilterChain, I presume we'll need to modify it to return FilterDataStatus::StopIterationAndWatermark (or similar) when the downstream buffers are full. Otherwise CacheFilter will just keep pulling more chunks from cache until we run out of either response body or memory.

[2020-08-25 22:30] yosrym93 commented on #12814
According my limited understanding of: https://github.com/envoyproxy/envoy/blob/master/source/docs/flow_control.md#encoder-filters
I think to handle downstream backpressure we need to register to receive watermark events, and implement `DownstreamWatermarkCallbacks::onAboveWriteBufferHighWatermark()` and `DownstreamWatermarkCallbacks::onBelowWriteBufferLowWatermark()`. Which I assume will stop and

[2020-08-25 22:33] mattklein123 commented on #12814
Yes

Buffering or not buffering is on a per filter basis. If one filter injects, and another buffers, that's fine. That should be handled by the HCM without much work, if any.

Yes, no matter what you do you will need to register for watermark callbacks and apply back pressure on the cache fetch.

[2020-08-25 22:42] mattklein123 commented on #12813
cc @kyessenov @yangminzhu

[2020-08-25 22:52] yosrym93 commented on #12814
I am not sure I understand this. My question is, what happens if we change `injectEncodedDataToFilterChain` to doHeaders first if the headers are not yet completed (stopped by some filter). Then another filters stops headers iteration again. Wouldn't this cause the same problem? Some filters will receive data before headers?

Also, isn't it incorrect to force continue headers iteration after some

[2020-08-25 22:55] mattklein123 commented on #12814
Each filters iteration state is on a per filter basis. What one filter does has no basis on further filters. If you continue headers, and some other filter stops it, that is tracked by the HCM. You don't need to deal with this.

[2020-08-25 22:56] yosrym93 commented on #12814
Then why it is a bug when a filter stops headers iteration then another filter injects data?

[2020-08-25 22:58] mattklein123 commented on #12814
What we are discussing has nothing to do with multiple filters. It has to do with a single filter. We are solving the problem of how to deal with injecting data when headers have not been continued. You can either do this implicitly as I have suggested, or do it explicitly with a new return code from the headers callback.

[2020-08-25 23:00] yosrym93 commented on #12814
Oh yeah I got it. So basically if a filter stops headers iteration then tries to inject data we should implicitly continue the headers iteration. Yeah that sounds reasonable.
Anyway I think I will work on implementing the second solution, as it would allow the headers to flow through without having to wait for the second chunk. I will add a TODO for the though so that anyone can get back to it lat

[2020-08-25 23:29] yosrym93 commented on #12814
What types of tests do I need to write for the new `FilterHeaderStatus::ContinueDontEndStream` ?
I looked around the code and I think I can add a test to "https://github.com/envoyproxy/envoy/tree/master/test/integration/filters" of a filter that receives a headers-only request/response, continues headers iteration without ending the stream, then after an alarm or something either:
- Adds encoded/d

[2020-08-26 09:16] objectiser commented on #12808
Not sure of the history behind using `x-request-id` to carry the tracing decision - but this should be the responsibility of the tracing provider using its own trace context format - which I believe is the case now.

So potentially modifying the `x-request-id` is no longer required?

cc @mattklein123

[2020-08-26 11:32] #12750 closed

[2020-08-26 14:05] inf-rno opened #12822 "[Redis] Add support for redis modules"
*Description*:
We at Shopify are looking to add CAS support to redis similar to how it functions in [memcached](https://github.com/memcached/memcached/wiki/Commands#cas). We plan on doing this with the use of redis [modules](https://redis.io/modules). Effectively, we will be adding to the command set with things like `cas.get`, `cas.set`, etc. and would like envoy to be able to route them correctl

[2020-08-26 14:20] htuch commented on #12818
15s matches the default initial fetch timeout. If you push EDS first, Envoy will not know about any of the clusters you are pushing endpoints for, so what will happen is that every cluster that features in CDS will trigger a new EDS request. I think they will all go out in a single EDS request immediately after CDS update completes (when EDS is unpaused). I think your server might not be respondin

[2020-08-26 14:24] htuch opened #12823 "Avoid lossy LRS during cluster updates"
From https://github.com/grpc/proposal/pull/200, when a cluster update for X is received and the new cluster is active after warming, the old X cluster may still be draining for an indefinite period if it has active streams. Only the stats for new requests/streams on X will participate in LRS reporting at this point. This seems to be potentially misleading when reporting load only for the new X.

T

[2020-08-26 14:40] howardjohn commented on #12818
Ah got it. Thanks @htuch !

[2020-08-26 14:40] #12818 closed

[2020-08-26 15:06] snowp commented on #10455
Now that `FilterManager` has been moved out of HCM, I've started looking at what this will require. Some notes:

- FilterManager currently takes ownership over the headers/trailers - this won't work with the upstream case because the headers will be owned by the HCM and we need to keep it that way (due to access logging etc.). Easiest solution here is to
have the FM keep non-owning pointers to the

[2020-08-26 15:32] #12784 closed

[2020-08-26 16:16] va1erian commented on #11883
Hello,

we were able to make this feature work by commenting the following line : https://github.com/envoyproxy/envoy/blob/b33f3cc74ccd0f6e9c01f5ed21bd7d7510646356/source/common/http/conn_manager_utility.cc#L182

However I assume this code is there for a reason... is there something we're missing?

[2020-08-26 16:48] mattklein123 commented on #12808
The history is that using x-request-id allows for stable sampling of access logs as well as tracing. That's why it was done that way originally. This has come up multiple times and now the x-request-id handling is extensible, though there is no other OOB implementation. cc @euroelessar

[2020-08-26 16:48] mattklein123 commented on #12814
You should add both unit tests in conn_manager_impl_test as well as integration tests as you outline. Thank you!

[2020-08-26 16:49] mattklein123 commented on #12822
Yes this makes sense to me. I don't have a strong opinion on where to put it in the config. @HenryYYang @FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg?

[2020-08-26 17:13] #12513 closed

[2020-08-26 17:34] FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg commented on #12822
Seems reasonable. I definitely think it's better to avoid adding non-mainline commands to supported_commands.h. In terms of where to put it, I think the listener makes sense- especially as the same listener can mirror traffic to multiple clusters. I don't have a strong opinion on where to stick it inside the redis config section of the listener.

Another consideration is that we currently don't su

[2020-08-26 18:31] alyssawilk commented on #10455
scattered thoughts :-)

If we change the ownership model we need to be super careful about owner and lifetime. We've already seen one crashing bug for a corner case like original response headers being overwritten by a filter sendLocalReply or some such

Prefer template over hard fail (esp in prod) but launch and iterate is 100% fine, esp in alpha.

I assume for hedging we're going to want a upstr

[2020-08-26 19:11] murray-stripe opened #12826 "Create New Header Matcher"
I'd like to propose (__and implement__) a new header matcher (for `config.route.v3.HeaderMatcher`). Internally we have a need to match a header using the `range_match` (`type.v3.Int64Range`) field. However, the value that is being matched on is actually created by a custom filter on the downstream Envoy.

This filter generates this header by hashing the value of another header. It would be useful

[2020-08-26 19:18] mattklein123 commented on #12826
This feels a bit specific to me. What about making an extension point that could be used for a custom matcher?

[2020-08-26 19:38] snowp commented on #10455
Changing the ownership model is definitely tricky, I'm currently playing with it to see if I can make sense of it :)

Re retries: basically I was trying to frame the retry behavior in terms of existing functionality that the FM already has. I think each attempt should have its own FM, with state shared between attempts using the FilterState object. This would facilitate stuff like adjusting header

[2020-08-26 20:05] ggreenway opened #12829 "quic: remove ability to have pluggable implementation"
The implementation of QUIC is complicated, and the integration of a QUIC library with Envoy is also complicated. There is no sign that anyone will implement a different QUIC implementation in Envoy.

To simplify the implementation, we should consider removing the pluggability of QUIC implementations, and just use QUICHE (but with a build setting to remove it entirely if needed).

If we decide in t

[2020-08-26 20:05] ggreenway commented on #12829
cc @danzh2010 @mattklein123

[2020-08-26 20:16] sunjayBhatia commented on #11655
Bumping to remove stale tag, will do this refactor after more pressing concerns of Envoy Windows Alpha are covered

[2020-08-26 20:23] moderation commented on #12829
On a recent Envoy Community Call @florincoras mentioned that Cisco had or were developing a QUIC implementation that might be integrated with Envoy. Copying him for comment. Also copying @alyssawilk as I recall her being interested in alternative implementations when this was mentioned. No mention of this in the [minutes](https://docs.google.com/document/d/1Yc4zkV-A_cC_R3C0u6D15WQAsRSxADs8p2l8UMMa

[2020-08-26 20:52] murray-stripe commented on #12826
I think that sounds extremely reasonable. I'll start putting something together.

[2020-08-26 20:53] murray-stripe commented on #12826
Please feel free to point me toward any code or anything I should know for building out a new extension point. Otherwise I'll grep around the code-base and attempt to model off of something else that seems similar in shape.

[2020-08-26 20:56] ggreenway commented on #12829
Yep, one of my reasons for posting this here is to solicit opinions on the topic.

[2020-08-26 21:47] moderation commented on #12829
A list of implementations - https://github.com/quicwg/base-drafts/wiki/Implementations

[2020-08-26 21:53] mattklein123 commented on #12829
My vote is to remove pluggability. I don't think it's realistic that we will have a 2nd implementation, both due to the work involved, but also because of being realistic about library supply chain issues.

[2020-08-26 22:26] florincoras commented on #12829
@moderation you're definitely not making this up :-)

The implementation I was talking about is part of fd.io vpp's [host stack](https://wiki.fd.io/view/VPP/HostStack) and is based on/wraps Quicly. All of the transports, i.e., tcp, udp, tls, quic, are consumable by external applications (wrt vpp) by means of posix-like apis exposed through a library (vcl) which applications must link against. That

[2020-08-26 22:35] ggreenway commented on #12829
I think QUIC ends up being harder to plugin than other protocols, because it's not just a transport. It's a transport plus an HTTP codec integrated together, so it's a much larger implementation than just the SocketInterface. For example, there is QUIC-specific code in the HCM, and a setting in `udp_listener_config`, in addition to the transport socket settings.

[2020-08-26 22:47] florincoras commented on #12829
Unfortunately, I'm not familiar with the existing code, but wouldn't it be possible to separate the transport for the other parts? The approach used in vpp for tls/quic transports was to have them explicitly manage the creation/interaction with the underlying tcp/udp connections and to expose byte stream oriented apis towards the apps.

[2020-08-26 22:55] ggreenway commented on #12829
QUIC couples several things that were in separate layers previously. It's a UDP protocol, but it builds lossless bytestreams like HTTP/2 streams on top of that, and couples encryption into the transport layer. So the QUIC transport layer has API interactions with the HTTP layer for things like creating new streams (over an existing connection), etc.

It may be possible to de-couple some of these c

[2020-08-26 22:59] dio commented on #7583
@zuercher do you think we can add another one to the rules in substitution formatter for this?

[2020-08-26 23:07] #11920 closed

[2020-08-26 23:17] mattklein123 commented on #12638
Hopefully fixed by https://github.com/envoyproxy/envoy/pull/12609. :crossed_fingers:

[2020-08-26 23:17] #12638 closed

[2020-08-26 23:17] mattklein123 commented on #12585
Fixed by https://github.com/envoyproxy/envoy/pull/12609

[2020-08-26 23:17] #12585 closed

[2020-08-26 23:21] florincoras commented on #12829
Understood. I guess we'll have to wait and see if people are interested in doing that separation.

Agreed! However, from my limited interactions with the existing implementation, it does seem to want access to the underlying fd in the `UdpGsoBatchWriter`. In fact, together with tls, it's one of the last places that needs access to the `IoHandle`'s fd (see [here](https://github.com/envoyproxy/envoy

[2020-08-27 00:13] lambdai commented on #11725
design doc updated to reflect the dev branch.
https://docs.google.com/document/d/1ok9oyMw-39lUXcO8ihhY2bL6b5gCoyK3-UyFoPEWCgo/edit?usp=sharing

The strawman branch mainly described the bytestream after connection is established.
The connection establishment is somewhat orthogonal

[2020-08-27 03:28] wbpcode commented on #12486
is any process for this work? @lizan We are about to do the same. But I don't know what the community's plans are.

[2020-08-27 03:51] dio commented on #12486
@wbpcode if you’re interested I think you can take this. I can help you on the review.

[2020-08-27 03:55] dio commented on #12486
I actually have an initial code for this. If you think it will be helpful for you to get started, I can share it with you.

[2020-08-27 04:04] wbpcode commented on #12486
@dio Thank you very much. I can try it out. Because we desperately need this feature and are willing to share the end result.
Where can I see your initial version? It would be very helpful.

[2020-08-27 04:16] dio commented on #12486
Here you are: https://github.com/envoyproxy/envoy/compare/master...dio:sky-tracer?expand=1. I think it compiles and I had a docker-compose setup to "manually" test it (two services, with envoys, oap-server, and UI), I'll clean up the test bed and share it with you.

[2020-08-27 05:37] tariq1890 commented on #12245
can we unstale this?

[2020-08-27 07:24] tkovacs-2 opened #12836 "Thrift filter closes downstream connections if problem with an upstream endpoint."
Title: Thrift filter closes downstream connections if problem with an upstream endpoint.

Description:

This is the simplified version of our envoy configuration:

- Listener with thirft filter
    - Routing: match aaa -> cluster1
    - Routing: match bbb -> cluster2

Cluster1 and Cluster2 have some endpoints defined by ip address.
The envoy and the endpoints are in the same kubernetes cluster.

F

[2020-08-27 12:07] snowp commented on #9246
@mattklein123 Looking into this I'm not quite sure how best to reconcile this behavior with a few points:
- the x-envoy-immediate-health-check fail header can be set on any kind of response, even ones that the health checker today considers successful. Should we be looking for this header at all for successful requests? Or should the presence of this header make the response a failure response?
-

[2020-08-27 13:07] #12444 closed

[2020-08-27 13:12] snowp opened #12840 "Reduce code duplication in test/common/http/conn_manager_impl_test.cc"
The tests in this file have a lot of duplication (e.g. around resetting the stream at the end). It would be helpful to go through and extract this into helper functions to improve readability

[2020-08-27 13:12] kumarvikas2020 commented on #12097
@dmitri-d Thanks. PR https://github.com/envoyproxy/envoy/pull/12800 resolved issue in the test case //test/extensions/filters/listener/proxy_protocol:proxy_protocol_test on ppc64le as well.

Similar issue exists in the test case: //test/extensions/quic_listeners/quiche/integration:quic_http_integration_test.

[2020-08-27 14:26] nezdolik opened #12841 "Migrate FixedHeap resource monitor to api v3"
[FixedHeap resource monitor](https://github.com/envoyproxy/envoy/blob/master/source/extensions/resource_monitors/fixed_heap/fixed_heap_monitor.h) is still using api v2. We should provide v3 version for users who are moving away from v2.

[2020-08-27 15:22] ggreenway commented on #12829
The `UdpGsoBatchWriter` is an optimization, using a specific set of linux kernel APIs, to write packets faster (less CPU; only works on linux 4.18 and newer). I think something like that will always need the fd. But it is optional; if it isn't used, normal UDP socket writes are used. If VPP were in use, my guess is that there would be a similar, special implementation to write into VPP as fast as

[2020-08-27 15:24] alyssawilk commented on #12413
both old and new versions fail with deflake instructions and higher parallelism - I think the culprit is https://github.com/envoyproxy/envoy/pull/11842/files and it just takes more than 10s to write that much data when the system is loaded.   Upping the timeout and running many tests in parallel with trace logs, average run time is 16s.

[2020-08-27 15:27] ggreenway commented on #12829
Actually, now that I think about it, is there a clear benefit to using the QUIC support in VPP, vs the QUICHE QUIC support built into Envoy but using VPP for the UDP socket layer? I don't know a lot about VPP, but my guess is that, given that it is an alternative to the kernel stack, it made sense for many applications to include all the needed pieces for reliable transports, like TCP; so it made

[2020-08-27 16:18] mattklein123 commented on #12841
cc @htuch I think it's OK for things to stay at v2 if they haven't changed but I'm not 100% sure.

[2020-08-27 16:22] htuch commented on #12841
That's right. That said, I think we were originally hoping (very reasonably) that mixing leaf versions would allow us to minimize the DAG that is transformed during a major version transition. That has categorically not happened in v3, we upgraded almost everything except for half-a-dozen or so leaf packages. Arguably, it's not worth the complexity/confusion to follow this strategy if we anticipat

[2020-08-27 16:23] htuch commented on #12841
Also tagging https://github.com/envoyproxy/envoy/issues/10943, since I think this is something to discuss in the PM.

[2020-08-27 16:35] markdroth commented on #12841
If we're already winding up creating v3 versions of pretty much everything anyway, it seems like it would be more consistent to just do it uniformly.  This would presumably eliminate a lot of machinery used to determine when a new version of a given proto is needed, because the answer would always be yes.  It would also eliminate surprises that can cause a whole slew of new files to be automatical

[2020-08-27 16:37] ggreenway commented on #11725
A couple ideas on the topic:

* This could combine nicely with multiple addresses per listener (#11184)
* If it's combined with multiple addresses, we could skip TLS for the local case (if the listener was configured for TLS).

[2020-08-27 16:53] florincoras commented on #12829
I should've been clearer above that I'm by no means advocating for changing/replacing the existing QUIC implementation in Envoy. I was only trying to point out that we could have factories for QUIC specific IoHandles, so anybody could in theory insert a custom implementation. Therefore, if we followed this approach, what you're proposing with this issue should not have an impact on QUIC pluggabili

[2020-08-27 17:06] mattklein123 commented on #12841
SGTM to migrate. At this point I'm not sure we are ever going to do v4, or at least not for years as @htuch says, so seems better to be consistent.

[2020-08-27 17:43] #12013 closed

[2020-08-27 18:49] yosrym93 commented on #11734
We don't have enough information for why this is needed at the moment. I'll close the issue.

[2020-08-27 18:49] #11734 closed

[2020-08-27 19:42] dmitri-d commented on #12364
Can we make the HttpGrpcAccessLog ctor synchronous and block in it until tls has been initialized with thread-local loggers? A bonus is that it would probably resolve all corner cases around initialization...

[2020-08-27 19:48] justin-mp commented on #8183
I'm happy to work on this feature as an HTTP filter!

Parsing the CDN-Loop header in an RFC 8586-compliant way is somewhat annoying. You can't just split on `','` because the header allows parameter values that are quoted strings, which themselves can contain commas!  The best solution I've come up with is to go to the ABNF in the RFC and write a recursive descent parser.

Here's the approach I'd

[2020-08-27 20:12] mattklein123 commented on #12364
Unfortunately this is not possible due to the way init works. See linked fix for more discussion on this.

[2020-08-27 20:16] #12413 closed

[2020-08-27 20:18] foreseeable opened #12853 "Get include-what-you-use work for Envoy"
Title: Get include-what-you-use work for Envoy

Description:
There are lots of include-what-you-use violations in Envoy:
 1. over-inclusion: including too many unused headers slows down compilation.
 2. transitive-inclusion:  some of the missing explicit includes will make further development difficult.

[include-what-you-use](https://include-what-you-use.org/) is powerful to address those violati

[2020-08-27 20:27] mattklein123 commented on #12836
cc @zuercher @rgs1

[2020-08-27 20:27] mattklein123 commented on #12853
This would be awesome!

[2020-08-27 20:34] alyssawilk commented on #8183
Excellent, thanks!  Depending on how complicated 1) and 2) are it might be fine to fold them all together but otherwise this all sounds fine to me.

[2020-08-27 20:46] mattklein123 commented on #12826
Take a look at https://github.com/envoyproxy/envoy/blob/d321ede4d262cc2259064337be7b407e463ede24/api/envoy/config/overload/v3/overload.proto#L44 (or just generally search for typed_config) and you can find some good examples.

[2020-08-27 20:57] #12690 closed

[2020-08-27 21:11] mattklein123 commented on #9246
The use of this header today is actually on normal requests, not HC requests. I don't think it changes normal requests. It's true that we don't set this today on HC requests, so, yes, I would argue this should override the response and cause immediate failure on that path also. I don't think this needs to be config guarded as it makes sense, but it's probably worth it to runtime guard to be on the

[2020-08-27 21:29] dmitri-d commented on #12364
Sorry, I don't think I explained that well -- I meant block until callbacks used in set() return. Synchronization in the dtor doesn't require changes in the client code though, so nm.

[2020-08-27 21:41] kgumbs opened #12856 "Unable to perform TLS origination to upstream Kafka broker"
Description:
I'm not sure if this is supported, but I would like to take plaintext from producer and encrypt when sending to upstream Kafka broker. Please see my config below.

Config:

    static_resources:
    listeners:
      address:
        socket_address:
          address: 0.0.0.0   # Host that Kafka clients should connect to.
          port_value: 19092  # Port that Kafka clients should co

[2020-08-27 21:44] #12681 closed

[2020-08-27 22:07] ASOPVII opened #12857 "Error: listener_lds_integration_test v3::discoveryResponce"
**Help-Wanted**
Background: I have introduced new fields for FilterChain message (v3)  to support on-demand(Lazily Warmed) filter chain. https://github.com/envoyproxy/envoy/pull/12599.

When I was trying to write some integration tests based on the ```BasicSuccess```  test in ```listener_lds_integration_test```, I tried to modify the listener config to make all filter chains become on-demand. I al

[2020-08-27 22:37] mattklein123 opened #12861 "Test100AndDisconnectLegacy flake (ARM release)"
[code]

[2020-08-27 22:37] mattklein123 commented on #12861
cc @alyssawilk

[2020-08-27 22:43] lambdai commented on #12857
try add `transport_api_version: v3` in
[code]
?

[2020-08-27 23:16] ASOPVII commented on #12857
Thanks for sharing this idea. But adding this did not solve the problem.

[2020-08-28 00:46] lambdai commented on #12857
set_resource_api_version(V3)

[2020-08-28 01:35] ASOPVII commented on #12857
Thanks a lot. That helps solve the problem.

[2020-08-28 05:48] chadr123 commented on #12853
I think if it is possible to remove the unused includes automatically, it would be great if it works with 'fix_format'.

[2020-08-28 07:39] phlax opened #12868 "MySql filter example shows protocol errors"
### description

While testing the sandbox examples for #12491 i noticed that the mysql filter shows protocol errors, eg:

[code]
despite the errors, all of the mysql commands appear to work as documented

this can be seen on azure here:

https://dev.azure.com/cncf/envoy/_build/results?buildId=49219&view=logs&j=5799eb7e-eba2-5aab-b97e-d4dd72e7ced8&t=1d3119f4-58fb-569d-0a6a-9fe5a7e7686d&l=5322

###

[2020-08-28 14:31] wrowe commented on #12205
cc @envoyproxy/windows-dev

[2020-08-28 14:59] mandarjog opened #12873 "Rbac: Disambiguate between rbac 403 and application 403"
When Rbac filter denies a request, it does not set a reponse flag.
From access logs, it is not possible to disambiguate a 403 emitted by the filter vs 403 emitted by the application.

1. Set response flag(s) to indicate
        a. denied by policy
        b. Potentially indicate that the response was generated within the proxy. This can be more generic than just rbac.
2. Indicate which rule or con

[2020-08-28 16:11] kody-abe commented on #7086
@dio @Dudesons Was there any traction on this in another issue? I could certainly utilize this functionality as kubernetes jobs have timestamps in the span names and each one registers as a separate service.

[2020-08-28 16:27] mattklein123 commented on #12873
+1 for adding response flags and reasons if they are not already set. cc @alyssawilk

[2020-08-28 16:29] alyssawilk commented on #12873
FWIW it is accessible via response code details (https://www.envoyproxy.io/docs/envoy/latest/faq/debugging/why_is_envoy_sending_internal_responses) but adding a flag is fine as well.

[2020-08-28 17:04] danzh2010 commented on #12829
Another reason why we made QUICHE pluggable to begin with is that QUICHE cross platform compatibility is not as good as envoy core code. In some platforms, if QUICHE breaks the build, we still want the rest of the envoy to build.

[2020-08-28 18:13] #12231 closed

[2020-08-28 18:32] wrowe commented on #12205
cc @rmiller14

[2020-08-28 19:18] sunjayBhatia commented on #10420
cc @rmiller14 (some tests that are not yet building but are skipped with the `skip_on_windows` tag, you can see these issues by building the specific targets and not adding a test tag filter)

[2020-08-28 19:23] yangminzhu commented on #12873
@mattklein123

This should be straightforward to add, I can add the flag. Not very clear what do you mean for reasons here, like @alyssawilk mentioned, currently it is in the response_code_details, and the HTTP response body will also have `RBAC: access denied`.

@mandarjog

For HTTP, the response body is `RBAC: access denied`, how do you want to improve this? For TCP I'm not sure what we can do t

[2020-08-28 19:39] mandarjog commented on #12873
@yangminzhu response body is not logged and it is not part of any telemetry, So response_flag should indicate denial

For response reason, I think we can use what @alyssawilk suggested. Do you think it is the appropriate place to put rule_id (if using deny rule) that caused the denial?

[2020-08-28 21:10] abaptiste commented on #12004
From the 8-28-2020 coverage report, the dns_filter has 93.9% coverage

Many changes for https://github.com/envoyproxy/envoy/issues/11789 were targeted for increasing coverage.  I feel this issue can be resolved.

[2020-08-28 21:36] #12683 closed

[2020-08-28 22:34] hnasr opened #12882 "Envoy Round-Robin TCP Proxying is not balancing cluster hosts"
Trying out Envoy for the first time, built a quick TCP Proxy with this config, and it appears that Envoy is not truly balancing new connections evenly.

I have 3 services running on my mac on port 1111, 2222 and 3333 that simply returns their port number, this way I know which service I am hitting. I put an Envoy TCP proxy behind those 3 hosts but notice when I curl envoy frontend (which is establ

[2020-08-28 22:37] mattklein123 commented on #12004
@abaptiste in general we want 97%. Can you get up that high and then remove the exclusion?

[2020-08-28 22:42] mattklein123 commented on #12882
See https://www.envoyproxy.io/docs/envoy/latest/faq/load_balancing/concurrency_lb

[2020-08-28 22:46] mattklein123 commented on #12856
cc @adamkotwasinski

[2020-08-28 22:47] #12857 closed

[2020-08-28 22:47] mattklein123 commented on #12868
cc @dio @rshriram

[2020-08-28 22:54] hnasr commented on #12882
Nice! Running envoy with a ` --concurrency 1` did the trick

[code]

![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/3898305/91621064-a006bc80-e946-11ea-84bc-7687d1c839c3.gif)

So because workers do not communicate with each other they can't share knowledge of the workload. However, it does sound like a much simpler architecture. Interesting design choice

[2020-08-28 22:54] #12882 closed

[2020-08-29 00:30] #12816 closed

[2020-08-29 00:50] hnasr commented on #5121
This is the only location on the whole wide web Internet where I found a sample YAML envoy config showcasing TLS  parameters. Thank you!

What I was searching for is this parent key which is not mentioned anywhere in the doc unfortunately, which turns out to be `tls_params`

https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/transport_sockets/tls/v3/common.proto.html

[2020-08-29 04:09] tony-liuliu opened #12883 "Custom upstrem/backend response"
I want to rewrite the 4xx/5xx returned by the upstrem/backend service.
I see that envoy 1.15.0 has been able to rewrite the error of envoy itself through local_reply_config, but it seems that it cannot rewrite the error returned by upstrem/backend. The function of local_reply_config is very good and can replace haproxy as the front end lb. It would be even better if could rewrite upstrem/backend.

[2020-08-29 18:46] oschaaf opened #12885 "Fine grained logging via FANCY_LOG always evaluates macro arguments"
The ENVOY_LOG macro without fine grained logging doesn't evaluate variadic
arguments when the log level squelches the message. When going through
`FANCY_LOG` however, that no longer holds. Variadic arguments are always evaluated
regardless of the log level involved. This could be problematic from a perf point of view.

Context: https://github.com/envoyproxy/envoy/pull/12830#issuecomment-681918730

[2020-08-29 23:21] #12154 closed

[2020-08-30 00:21] #12195 closed

[2020-08-30 01:21] #12226 closed

[2020-08-30 02:21] #11672 closed

[2020-08-30 03:05] rajma opened #12887 "master branch build fails in Linux"
Title: Building master branch fails in Ubuntu 18.04.

Description:
When I build the master branch of the envoy proxy with bazel build //source/exe:envoy-static, the build fails, however the release tag v1.15.0 builds without errors
Logs:
Here is the error message on the console
ERROR: /home/user/github/envoy/source/common/upstream/BUILD:11:17: C++ compilation of rule '//source/common/upstream:cds_

[2020-08-30 03:17] #11582 closed

[2020-08-30 03:21] #11942 closed

[2020-08-30 04:21] #12230 closed

[2020-08-30 19:08] cpakulski commented on #11905
WIP.

On Mon, Aug 24, 2020, 09:12 stale[bot] <notifications@github.com> wrote:

[2020-08-30 20:02] sharma-sudhakar commented on #5828
@surki , Thanks for the information but at that I used streamInfo:DynamicMetadata() to correlate the requestInfo with the corresponding response.

[2020-08-31 02:08] XuejiaoZhang commented on #12486
Yup, thanks, will followup  there.

[2020-08-31 02:10] XuejiaoZhang commented on #12486
It will be great to have Skywalking integration with Envoy.

[2020-08-31 02:33] #11931 closed

[2020-08-31 03:33] #12028 closed

[2020-08-31 05:00] lizan commented on #12297
Fixed in #12662

[2020-08-31 05:00] #12297 closed

[2020-08-31 05:38] mk46 commented on #12709
Hi @jianwen612, Are working on this issue? If not then I would like to take up it.

[2020-08-31 07:33] #11569 closed

[2020-08-31 08:33] #12074 closed

[2020-08-31 09:33] #11876 closed

[2020-08-31 10:33] #11926 closed

[2020-08-31 12:21] supasteev0 commented on #12022
/remove-lifecycle stale

[2020-08-31 12:22] supasteev0 commented on #12022
Hello, we are still having issues with high number of connections dropped.
I tried many different configuration scenarios, but no luck so far.

[2020-08-31 12:33] #11908 closed

[2020-08-31 14:33] #11881 closed

[2020-08-31 15:33] #11868 closed

[2020-08-31 15:38] cpakulski commented on #12453
@hobbytp Sorry for long silence - I was away. Let me look at the code to refresh my memory.

[2020-08-31 15:40] #12616 closed

[2020-08-31 15:40] #12840 closed

[2020-08-31 16:42] adriank-convoy opened #12891 "Support for deterministic traffic mirroring"
## Description:

We have a use case where we'd like to mirror the same X% of requests from a production endpoint to multiple test endpoints to compare performance. Currently we're forced to mirror a large percentage of traffic to each in order to get enough data for analysis, but ideally we'd only like to mirror something like 5%. Similar to `route.RouteAction.HashPolicy`, we'd like to be able to

[2020-08-31 17:00] du2016 opened #12892 "what's the stage mean in rate limit"
[code]

i have find this in the envoy doc,but what's the stage mean？what is the different of state 0 or state 10?

[2020-08-31 17:01] kyessenov opened #12893 "ecds: add support for access log extensions"
This is a tracking issue to implement ECDS for access log extensions. This can be used to dynamically update access log format without reloading HCM/listener, for example.

[2020-08-31 17:16] adamkotwasinski commented on #12856
I'm not 100% sure, but I think it be doable with any kind of proxy in between Kafka client and a Kafka server.
I'd do the following to make sure that there are no configuration problems with certificates:
1) remove the `envoy.filters.network.kafka_broker` filter from chain (it just collects metrics, so it should not have any effect)
2) increase the log levels on client/server sides to figure out w

[2020-08-31 17:33] #11947 closed

[2020-08-31 17:35] snowp opened #12895 "ext_authz test flake on windows"
https://dev.azure.com/cncf/envoy/_build/results?buildId=49984&view=logs&jobId=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=168f295b-0553-5364-35f7-923225ecd8b3

https://dev.azure.com/cncf/envoy/_build/results?buildId=49872&view=logs&jobId=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=168f295b-0553-5364-35f7-923225ecd8b3

[code]

Seem

[2020-08-31 17:42] kgumbs commented on #12856
@adamkotwasinski, My certificates are okay, they work as expected with the raw Kafka client. Also, I'm able to connect via Envoy when downstream tls is enabled. I will try your recommendations and provide an update.

[2020-08-31 17:42] sunjayBhatia commented on #12895
/assign @sunjayBhatia

[2020-08-31 17:56] mattklein123 opened #12896 "flaky tests: unicode processing bug"
https://github.com/envoyproxy/envoy/pull/12516

[code]

cc @stedsome @asraa @lizan

[2020-08-31 18:03] sunjayBhatia commented on #12887
looks related to https://github.com/envoyproxy/envoy/pull/12828 and some of the issues going on here: https://buildkite.com/bazel/envoy/builds, if youre willing to root these out and make a PR (and introduce a CI check that prevents this from happening on new code) that would be super helpful

[2020-08-31 18:15] asraa commented on #12896
Potential fix would be to open the file with encoding specified https://github.com/envoyproxy/envoy/blob/760a164640acf75a8009ac89b5ff06f78a733221/ci/flaky_test/process_xml.py#L73

My issue is testing this. I thought I was able to ssh into a azp workflow at some points, can't find it now.

[2020-08-31 18:32] mattklein123 commented on #12896
cc @lizan on how to best test. @asraa I would be OK with just trying a fix but up to you.

[2020-08-31 18:33] #11982 closed

[2020-08-31 18:36] sunjayBhatia commented on #10420
See https://github.com/envoyproxy/envoy/pull/12898, PR that demonstrates gist of required quiche changes for MSVC

[2020-08-31 18:51] florincoras opened #12899 "network tls: alternative to using socket BIOs in SslSocket"
TLS sockets are currently using BIOs that rely on access to a socket file descriptor, namely:

[code]

To avoid direct use of the fd and to ensure that `SslSocket`s can work with any type of `IoHandle`s, probably mem BIOs should be used instead. I am willing to do the work but does anybody know if this comes with any significant downsides? Are there any better alternatives?

[2020-08-31 18:52] florincoras commented on #12899
cc @mattklein123 @antoniovicente

[2020-08-31 19:01] kgumbs commented on #12856
Failed Log:

    myclient_1    | [2020-08-31 18:12:03.699][8][debug][upstream] [source/common/upstream/upstream_impl.cc:286] transport socket match, socket default selected for host with address 192.168.80.5:9093
    myclient_1    | [2020-08-31 18:12:03.699][8][debug][upstream] [source/common/upstream/strict_dns_cluster.cc:167] DNS refresh rate reset for kafka1, refresh rate 5000 ms
    myclient_1

[2020-08-31 19:02] asraa commented on #12896
Cool, realized it reproduces if I clone the PR. Testing now, will tag the fix for review hopefully soon https://github.com/envoyproxy/envoy/pull/12900

[2020-08-31 19:03] cbdm opened #12901 "CacheFilter: add an explicit config object with a constructor."
The CacheFilter should have an explicit config object with a constructor; this would allow the config proto to be processed once to serve many requests, avoiding the need for repeated work per-request.

[2020-08-31 19:06] antoniovicente commented on #12899
One possible option would be to add a method to IoHandle that creates an SSL bio that is appropriate for the IoHandle in question.  It does pollute the IoHandle interface in some ways.  We should keep in mind that IoHandle::readv and writev should not be used on IoHandles used by SSL libraries.

[2020-08-31 19:25] florincoras commented on #12899
Interesting idea! Personally, I like the option of being able to abstract any type of transport with IoHandles, i.e., being able to readv/writev to an IoHandle that internally implements TLS/QUIC seems good to me. But, agreed, that could lead to a significant amount of api pollution.

[2020-08-31 19:27] antoniovicente commented on #12899
Writing a BIO that calls into IoHandle for peek/read/write operations may also be an option.

[2020-08-31 19:33] #12283 closed

[2020-08-31 19:50] abaptiste commented on #12004
Ack. Will continue to work on coverage.

[2020-08-31 19:50] alyssawilk commented on #12861
I don't recall this assert having caught anything useful  How would you feel if we just allowed unexpected disconnects?

[2020-08-31 20:01] sunjayBhatia commented on #12895
Passed 100/100 runs locally on my workstation, trying to repro in RBE

[2020-08-31 20:07] stevenzzzz commented on #10776
/cc stevenzzzz

[2020-08-31 20:18] mattklein123 commented on #12861
Big +1

[2020-08-31 20:52] #11398 closed

[2020-08-31 20:53] #12896 closed

[2020-08-31 23:16] cetanu opened #12910 "How is RegexMatchAndSubstitute used within a RouteMatch?"
Hi folks

Hopefully this is an easy one.

Say I have a RouteMatch as follows

[code]

Envoy reports the following

What is the actual syntax for this? I can't find any examples

[2020-08-31 23:34] cetanu commented on #12910
Found some examples in the tests:

[code]

[2020-08-31 23:34] #12910 closed

[2020-08-31 23:48] adamkotwasinski commented on #12856
That's without the kafka filter right?
Then it looks like something related to SSL connection being closed too quickly? Unsure if I understand it fully, but the below part in
[code]
Maybe someone with better knowledge of SSL could help here. It looks like Envoy code actually does invoke `SSL_shutdown`, so no idea why Kafka doesn't see the notify:
[code]
We can see it returned 0 in above log.

[2020-09-01 00:06] mattklein123 commented on #12899
cc @ggreenway @lizan @PiotrSikora @davidben for thoughts.

I don't know about the available options. Some type of shim over an IOHandle would be great if it's possible to implement a custom one as @antoniovicente suggests.

[2020-09-01 00:09] mattklein123 commented on #12891
Do you want a hash policy? Or do you actually want some type of "mirror match policy"? Could tapping somehow be a different way of achieving this if the tap filter supported gRPC output?

[2020-09-01 00:10] mattklein123 commented on #12883
We don't have generic rewrite functionality currently. This could be implemented by a custom filter or Lua potentially.

[2020-09-01 00:11] mattklein123 commented on #12892
It's a mechanism to have multiple rate limits in the filter chain. For example:
pre-auth rate limit -> auth -> post-auth rate limit

[2020-09-01 00:18] antoniovicente commented on #12899
See:
BIO_METHOD acts like a vtable, allows you to specify read/write/etc functions
BIO *BIO_new(const BIO_METHOD *method);

BIO::ptr would point to the IoHandle*

[2020-09-01 00:27] florincoras commented on #12899
Looking at what @antoniovicente suggested!

[2020-09-01 00:55] tony-liuliu commented on #12883
@mattklein123  Thank you very much, I will try to use custom filter. Is there a similar custom filter example.

[2020-09-01 02:07] adriank-convoy commented on #12891
Good point, I guess the phrase 'deterministic mirroring' is actually a bit ambiguous. In our case we don't care which specific requests are mirrored, just that the same requests are mirrored to all endpoints. It doesn't have to be hash based, but  hashing seems like a reasonable fit.

I wasn't aware of tapping, but it sounds like it could be used for the other case where you want to dictate which

[2020-09-01 03:18] florincoras commented on #12899
Surprisingly enough, something as simple as #12911 seems to be working.

[2020-09-01 04:58] yangminzhu commented on #12873
oh, ok, I thought you're referring to the end user experience.

I think it makes sense to set the response code detail to the policy_id. See https://github.com/envoyproxy/envoy/pull/12912

[2020-09-01 06:51] KimJiAh opened #12914 "How does Envoy cache routeConfiguration?"
I wonder if Envoy stores the same RouteConfiguration in duplicate.

![image](https://user-images.githubusercontent.com/30854006/91810593-1d913c00-ec69-11ea-9a52-ed328e175912.png)

When I use 'istioctl proxy-config route' with route name, two identical RouteConfigurations are output as a result.

So I guess Envoy stores RouteConfiguration in duplicate.

But I found that in Envoy code(rds_impl.cc),

[2020-09-01 07:50] du2016 commented on #12892
thanks

[2020-09-01 07:50] #12892 closed

[2020-09-01 08:15] ankur-anand commented on #12665
@mattklein123 Thank you for the help. Didn't received such inconsistency in the newer version.

[2020-09-01 08:15] #12665 closed

[2020-09-01 08:37] waluo opened #12916 "How to split log files?"
All access log write to  access.log, how to split log files by day?

[2020-09-01 10:24] zainhasib opened #12918 "Deny POST request to certain URLs using http filters"
Hello, I want to deny certain https POST requests from the envoy proxy. Can somebody help me with that?

I did check the filters here: https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/http_filters

Which filter should I use in my case?

[2020-09-01 12:06] alyssawilk commented on #12861
Excellent.  I'll pick that up Wednesday

[2020-09-01 13:27] #12223 closed

[2020-09-01 14:11] sunjayBhatia commented on #12895
Ran the test overnight against RBE, passed 2600/2600 times

[2020-09-01 15:04] KiranCS-17 commented on #10804
We have similar requirement for broadcasting the request to multiple endpoints  in the down stream.
Would be good feature if ENVOY provides this

[2020-09-01 15:40] sunjayBhatia commented on #12895
Able to repro, looks like we're getting an upstream timeout flake:

[code]

[2020-09-01 16:16] sunjayBhatia commented on #12895
flake is much more repro-able running just the `IpVersions/ExtAuthzLocalReplyIntegrationTest.DeniedHeaderTest/IPv4` (or IPv6 version) alone

[2020-09-01 16:48] mattklein123 commented on #12916
logrotate

[2020-09-01 17:07] kgumbs commented on #12856
Any further updates?

[2020-09-01 17:31] #9064 closed

[2020-09-01 17:34] mattklein123 commented on #12891
Sorry so the issue is basically that you have multiple mirror policies, but each has an independent fraction?

[2020-09-01 17:45] lhluo opened #12920 "Envoy tap filter threat model clarifications"
Hi Envoy team, we're working on a custom filter extension that models after the Tap filter. In Envoy's [threat model page](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/threat_model#core-and-extensions), I see that `envoy.filters.http.tap` should "only be used when both the downstream and upstream are trusted". One of our top requirements is system security **with untrus

[2020-09-01 18:00] mattklein123 commented on #12920
It's only noted that because it hasn't been hardened. There may be buffering issues that need to be looked at, etc.

[2020-09-01 18:04] danzh2010 commented on #2557
Here are the remaining action items which are blockers to run in production:
Restore QUIC test coverage in Envoy (85% now for QUICHE extension directory).

And below are good to have features for production debugging:
Implement platform API QUIC_SERVER_HISTOGRAM_ENUM, and open source QUICHE internal stats to platform API.
Implement Quic feature flags using Envoy::Runtime to support flipping flags

[2020-09-01 18:05] lhluo commented on #12920
@mattklein123 thanks for the answer. Could you clarify on what hardened means? How can we help tag this filter as hardened?

[2020-09-01 18:08] ggreenway opened #12921 "Make UDP GSO batch writer useful without QUIC/QUICHE"
The current implementation of `UdpGsoBatchWriter` is uses some QUICHE code. This should be untangled such that non-QUIC UDP use cases can use the GSO batch writer. See https://github.com/envoyproxy/envoy/blob/82e5e104e21636aa583f28ccc9232b7af3584ac6/source/extensions/quic_listeners/quiche/udp_gso_batch_writer.h#L74

[2020-09-01 18:25] mattklein123 commented on #12920
Run it in production, audit it for security/unlimited buffering/etc. issues.

[2020-09-01 18:40] danzh2010 commented on #12921
I'm not sure if it's possible to untangle batch writer from QUICHE code without implementing a new GSO batch writer. But even current batch writer can be used for other UDP cases as well. So it's not clear what's the actionable item for this issue.

[2020-09-01 18:51] reselbobasg opened #12922 "Do you all have a a branching and release policy?"
I am doing an article on branching and release policies for the most popular open-source projects. To say Envoy is not popular is an extreme understatement.

Thus, I ask, do you have have a branching and release policy/pattern that I can read? Or is it a matter of convention and tribal knowledge? If so, what is the policy/pattern?

Thanks in advance,
Bob Reselman

[2020-09-01 18:57] mattklein123 commented on #4546
I think this is actually done! Thanks @florincoras!

[2020-09-01 18:57] #4546 closed

[2020-09-01 18:59] mattklein123 opened #12923 "QUIC/HTTP3: docs"
Arch overview docs, config docs, etc.

[2020-09-01 18:59] mattklein123 commented on #12923
cc @ggreenway @danzh2010 @moderation

[2020-09-01 19:56] yubofredwang commented on #5769
@gsagula Hi is there a fix for this? we have two external_authz service, we want to disable one of them for specific routes. From this post seems that it is not achievable? Is there any workaround or plan to fix for this issue?

[2020-09-01 19:59] drunkirishcoder opened #12926 "Not able to extend a yaml anchor in config file"
*Title*: *Not able to extend a yaml anchor in config file*

*Description*:

[code]

[code]

[code]

the expected log output is

[code]

*Config*:

[code]

[2020-09-01 20:29] KBaichoo opened #12927 "Different guard dogs for threads with different behavior"
Different Guarddogs : a guard dog for worker threads and a guard dog for the main thread.

The main thread has different workloads than worker threads, this causes friction in systems that set thresholds for both of them as it’s “one-size fits all”.

For example, the main thread often spends a significant amount of time on parsing new config. That amount of time would be considered excessive for a

[2020-09-01 20:37] cpakulski commented on #12453
@hobbytp I checked the code and logic around how it is used.

First of all the error code you are referring to: `Result::ExtOriginRequestFailed` is used only by Redis filter.
The idea behind splitting external errors and locally generated errors is that you may want to eject nodes when Envoy cannot connect to upstream server, but you do not care if the server returns an error or not after it succe

[2020-09-01 20:55] sunjayBhatia commented on #12895
bumping the ext authz http service timeout to `0.5s` the test succeeds 100/100 runs, whereas with `0.25s` we get 88/100

https://github.com/envoyproxy/envoy/blob/9af9afff54e30cab45ad7a80565ed9e300cda019/test/extensions/filters/http/ext_authz/ext_authz_integration_test.cc#L632

Not sure I'm reading the logs right but it also may be that the http service timeout isn't being fully respected in real w

[2020-09-01 20:58] sunjayBhatia commented on #12895
Maybe a meta-point around this issue, where do we get the timeouts for http services from? Seems like they are arbitrary

[2020-09-01 21:10] sunjayBhatia commented on #12895
The "default config" has a `300s` timeout: https://github.com/envoyproxy/envoy/blob/9af9afff54e30cab45ad7a80565ed9e300cda019/test/extensions/filters/http/ext_authz/ext_authz_integration_test.cc#L497

[2020-09-01 21:11] mattklein123 commented on #12895
@sunjayBhatia I did a similar fix elsewhere. Please just bump the service time to something very long (like 300s). This will either timeout in an obvious way or force sim time.

[2020-09-01 21:11] mattklein123 commented on #12895
Yes I did the fix above but I guess I didn't fix all cases.

[2020-09-01 21:14] snowp commented on #12922
You can find the release policy here: https://github.com/envoyproxy/envoy/blob/master/RELEASES.md

[2020-09-01 21:21] sunjayBhatia commented on #12895
@mattklein123 sweet, PR is here https://github.com/envoyproxy/envoy/pull/12929 thanks for the context, will make sure to take this into account for future flakes

[2020-09-01 21:25] snowp commented on #12914
Envoy only tracks one version of each resource, so I would expect this to be an issue with the Istio tooling or /config_dump rather than an indication that Envoy is storing duplicates.

[2020-09-01 21:29] snowp commented on #12918
The easiest way is probably to use the route configuration (https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route.proto#envoy-v3-api-msg-config-route-v3-routeconfiguration) to specify a DirectResponseAction for the routes you want to exclude. That way you're just using the regular router filter to block traffic matching specific route entries.

[2020-09-01 21:35] antoniovicente opened #12930 "Extend //test/integration tests that run against H1 and H2 so they also run against H3/QUIC"
HTTP integration test cases like those defined in //test/integration:protocol_integration_test should be run against HTTP3/QUIC when the QUIC extension is enabled in order to ensure that H1, H2 and H3 have the same functionality and semantics.  Some of the functionality tested by H2 only tests may also apply to H3/QUIC since the two protocols have similar semantics; also consider extending those t

[2020-09-01 21:38] antoniovicente commented on #12930
cc: @danzh2010

[2020-09-01 22:04] #12895 closed

[2020-09-01 22:11] cpakulski commented on #9577
I noticed that direct function call from upstream filter to the new transport socket does not work. Connection hangs and never switches to TLS. I built a workaround and switch to TLS happens after next write operation at the transport socket. I am going to investigate why it happens and maybe propose a new event which will simulate closing previous connection, clearing all buffered data and then m

[2020-09-01 22:30] lhluo commented on #12920
I'm assuming other "hardened" filters have undergone the above auditing?
Is there a standard process we use to audit envoy filters? Or case-by-case basis?

[2020-09-01 22:36] mattklein123 commented on #9577
I looked over the design doc and I agree the generic wrapped transport socket is the right path forward. I left a few small questions in the document but I think at this point we can move forward to a PR. @cpakulski can we potentially just start with a doc/API PR to make sure we agree on the configuration semantics? And then we can fill in the implementation? Thank you!

[2020-09-01 22:37] mattklein123 commented on #12920
I wish I had a an official checklist for you but I don't. cc @htuch as such a checklist would be pretty nice from an extension maturity level tracking perspective.

[2020-09-01 23:11] yosrym93 commented on #10022
The CacheFilter should also handle slow lookups and fetches, possibly through configurable timeouts.

Slow lookups could be aborted, and decoding the request would be continued bypassing the cache.
Slow fetches are more complicated as we would have already encoded headers. The client could receive a truncated response, which would be an error.

[2020-09-02 00:00] mattklein123 commented on #7753
I have some cycles to look at this. If anyone is still able to repro this is it possible to come up with a docker compose example? I can probably manually set something up with the filters but it would be easier if there was a pre-canned repro even if it's manual.

[2020-09-02 00:07] mattklein123 commented on #8571
This is merged. Let's open new issues for follow ups.

[2020-09-02 00:07] #8571 closed

[2020-09-02 00:15] wrowe commented on #12098
I'll go on the presumption that the documentation revisions cover your frustration, sorry you were tripped up over this frustrating issue. If you have further problems with include files, I'm happy to reopen this ticket, for other questions please feel free to open a new ticket specific to the specific issue. Thanks for participating!

[2020-09-02 00:15] #12098 closed

[2020-09-02 01:01] moderation commented on #9958
[AWS adds observability metrics to the OpenTelemetry C++ library](https://aws.amazon.com/blogs/opensource/aws-adds-observability-metrics-to-the-opentelemetry-c-library/)

[2020-09-02 02:16] wbpcode opened #12936 "Connection closed after a 404 + NR"
When I send a POST request to Envoy, if no suitable route is found, Envoy will send a local response directly (404 + NR). In response, Envoy will send 'connection: close' to close the connection, since the body of the POST request has not been processed.

However, in a real production environment, Envoy, as an API gateway, is often not the entrypoint to the cluster. There is also a L4 proxy betwee

[2020-09-02 05:04] huhaipeng opened #12937 "envoy coredump when print accesslog with filed "DOWNSTREAM_DIRECT_REMOTE_ADDRESS_WITHOUT_PORT""
title: envoy coredump while printing accesslog with filed "DOWNSTREAM_DIRECT_REMOTE_ADDRESS_WITHOUT_PORT"

*Description*:

when print  accesslog with filed "DOWNSTREAM_DIRECT_REMOTE_ADDRESS_WITHOUT_PORT" in tcp proxy filter，envoy will coredump.The reason why coredump is that, `downstream_direct_remote_address_`is inited with null,but envoy has no functions to set `downstream_direct_remote_address_

[2020-09-02 05:05] #12284 closed

[2020-09-02 06:15] leosunmo commented on #7753
I will try to throw something together if I get time this week @mattklein123 , I probably have some old docker-compose files laying around from when I was troubleshooting this last time.

[2020-09-02 07:05] #12259 closed

[2020-09-02 07:07] huhaipeng commented on #12937
this bug has been fixed in v1.14.0

[2020-09-02 07:07] #12937 closed

[2020-09-02 08:05] #12066 closed

[2020-09-02 10:05] #12179 closed

[2020-09-02 10:53] james-thomson commented on #10048
We're seeing the same underlying issue without GRPC.
It seems that the httpCall function allows null byte in the request body but the response body is a null terminated string.

Can this ticket be reopened so that the entire response body can be accessed in the lua script?

[2020-09-02 11:05] #12182 closed

[2020-09-02 11:38] grzegorz-mirek commented on #11308
@irozzo-1A, is that in progress?

I have a scenario where I'v got a plain HTTP request and I need to apply some path matching (HTTP Connection Manager), then route it to a cluster through upstream HTTPS (not Envoy) proxy.

It is basically a scenario similar to [the one described by @chradcliffe](https://github.com/envoyproxy/envoy/issues/1451#issuecomment-610643797):

It seems that `tunneling_conf

[2020-09-02 12:02] irozzo-1A commented on #11308
@grzegorz-mirek unfortunately I had to reshuffle my priorities and I did not manage to start working on this yet. I'm still interested on doing that but I cannot give an ETA right now. If you have urgency feel free to take it over.

[2020-09-02 12:05] #11899 closed

[2020-09-02 13:16] alyssawilk commented on #11308
the config is connect_config on HCM, and tunneling config for TCP proxy.
but yeah, currently Envoy only instantiates CONNECT for HTTP/1.1 so unless your upstream supports CONNECT-over-H2 (which Envoy does but many other servers do not) I don't think your use case will be supported until this issue is closed off as implemented.

[2020-09-02 14:01] chradcliffe commented on #11308
Internally, we had an immediate requirement to inspect CONNECT-tunnelled traffic, but the solution we came up with isn't necessarily the best. We created an HTTP filter that pushes the CONNECT-tunnelled traffic into a `Network::FilterManagerImpl` that owns an "inner" HCM. We had to provide a `Network::Connection` implementation that forwards most of the calls to the real connection, which itself (

[2020-09-02 14:05] #12196 closed

[2020-09-02 14:05] sunjayBhatia opened #12940 "Windows: //test/extensions/clusters/aggregate:cluster_integration_test flake"
See build: https://dev.azure.com/cncf/envoy/_build/results?buildId=50173&view=logs&jobId=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=168f295b-0553-5364-35f7-923225ecd8b3

Raw Logs: https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/50173/logs/87

[code]

[2020-09-02 14:09] sunjayBhatia commented on #12940
@envoyproxy/windows-dev

[2020-09-02 14:47] snowp commented on #12927
This seems reasonable to me, assuming we put this all behind configuration

[2020-09-02 14:50] sunjayBhatia commented on #11974
See https://github.com/envoyproxy/envoy/pull/12946 for some progress, draft PR to add clang-cl to CI

[2020-09-02 14:54] snowp commented on #12926
This probably needs someone to dig into whether this is a yaml-cpp issue or if there is something that can be done on the Envoy side to support this.

[2020-09-02 15:00] ethicalaakash commented on #7148
@esmet can you please share an example of path to inject the current span's context headers into `request_headers`

[2020-09-02 15:11] drunkirishcoder commented on #12926
@snowp it's indeed an [`yaml-cpp`](https://github.com/jbeder/yaml-cpp/pull/300) problem. Doesn't look like they want to support this because it's not in the official 1.2 spec. That's quite unfortunate. I guess this is not an Envoy problem per se.

[2020-09-02 15:25] cpakulski commented on #9577
I am starting this work. Thanks for feedback!

[2020-09-02 15:40] asraa opened #12948 "Make flaky test CI bot exclude cancelled jobs"
Currently the flaky test logic also detects cancelled CI tests as flaking. Remove this, remove noise.

I would also like to include the direct link to the azp logs in the slack bot message.

[2020-09-02 15:59] mattklein123 commented on #7753
@leosunmo great thanks that will help a lot.

[2020-09-02 16:19] cpakulski commented on #12340
WIP.

[2020-09-02 17:05] #12076 closed

[2020-09-02 17:24] htuch opened #12949 "RepoKitteh-based PR checklists"
We can have RK automatically label any change to `source/` or `api/` without a change to `current.rst` with a `release-notes` blocker, requiring manual confirmation from maintainers that the release notes step has been satisfied. Similarly this could work for documentation checks, i.e. validate that at least some change has happened in `docs/`.

I'd propose that we take the existing `ownerscheck.s

[2020-09-02 17:29] alyssawilk commented on #12936
I think the NR is orthogonal - one could send non-HTTP junk over L4 to establish a new connection, and the L7 Envoy would then close the connection because it was parsing junk.  Trying to drain connections rather than close wouldn't help in that case. Fundamentally I think if your fleet doesn't scale to L4 connection establishment you have to be able to DoS block at L4 to blackhole junk traffic ea

[2020-09-02 17:35] htuch opened #12951 "SHA256 pinning of Python requirements.txt"
As a marginal security improvement, we could add SHA256 checksums in all our requirements.txt. Most of these are developer tools, but some packages are used in test.

[2020-09-02 17:36] htuch commented on #12951
CC @moderation

We'll want to update `DEPENDENCY_POLICY.md` (WiP) when this is added.

[2020-09-02 18:05] #11889 closed

[2020-09-02 18:28] #12780 closed

[2020-09-02 18:29] mpuncel opened #12953 "grpc_http1_reverse_bridge filter: support text errors from upstream"
*Title*: *grpc_http1_reverse_bridge filter: support text errors from upstream*

*Description*:
Currently, the grpc_http1_reverse_bridge filter is configured with a single content_type that the upstream must respond with, or the filter stands in its own error (saying that the content type was wrong).

However, gRPC supports sending text error responses (see "Standard error model") here https://grpc

[2020-09-02 18:30] KBaichoo commented on #12927
/assign @KBaichoo

[2020-09-02 18:31] bigdefect opened #12954 "Configuring an ApiConfigSource on a dynamic cluster"
*Title*: Is it possible to configure [ApiConfigSource](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/config_source.proto#envoy-api-msg-core-apiconfigsource) to point to a cluster from CDS?

*Description*:

We'd like to specify a `STATIC` cluster that points to a unix domain socket for SDS, but deliver it via xds. While setting up a POC, we came across an error that suggests the ab

[2020-09-02 18:47] moderation commented on #12951
Makes sense as we move some of the Python dependencies out of `bazel/repository_location.bzl` to the pip3 method. Had a quick look and found https://hasgeek.com/rootconf/2019/proposals/building-reproducible-python-applications-for-secu-7m6q7XaC4yZCL1EP78rNvG.

Also found https://davidwalsh.name/hashin. Running this is for `configs/requirements.txt` outputs:
[code]
I'll look into the multiple entri

[2020-09-02 19:05] #12145 closed

[2020-09-02 19:13] KBaichoo commented on #12927
To implement this I propose the following:

Steps:

1. Encapsulate Watchdog Configuration from in `Server::Configuration::Watchdog` instead of   `Server::Configuration::Main`, though we’ll still allow the Main configuration to have method(s) to return the watchdog config(s). This will look similar to the AdminImpl / Admin interface.
    1. The method to return guarddog configs will likely look lik

[2020-09-02 19:13] deveshkandpal24121990 commented on #11313
@mattklein123 - I would like to work on this issue. Can you please assign this to me ?

[2020-09-02 19:32] rgs1 commented on #12836
@tkovacs-2 what's the ip of the endpoint that you killed in this example? It shouldn't be the one returning the connection refused error (error code 111) since that should be an endpoint in the other cluster right?

[code]

[2020-09-02 19:33] zuercher commented on #2436
Belatedly closing this because I think the header-to-metadata filter fulfilled the origin feature request.

[2020-09-02 19:33] #2436 closed

[2020-09-02 20:05] #6508 closed

[2020-09-02 20:12] mpuncel opened #12957 "grpc_http1_reverse_bridge: support getting message length from upstream header"
*Title*: *grpc_http1_reverse_bridge: support getting message length from upstream header*

*Description*:
Right now the gRPC reverse bridge filter can operate in 2 modes based on the withhold_grpc_frames config option. If it's false, then the upstream must prefix gRPC messages with the message-length frame header. If it's true, then the filter buffers the entire upstream response so it can count t

[2020-09-02 20:24] akonradi commented on #11427
Thought about this some more and came up with YASTI (Yet Antother Scaled Timer Implementation). Instead of the bucket approach, where we bin quantize scaled timers' maximum value and then assign them to bins, we can instead quantize the possible scale factors.

The basic idea is that the scaled timer manager has a series of lanes, each one corresponding to a scale factor. Each lane *L<sub>i</sub>*

[2020-09-02 21:05] #11963 closed

[2020-09-02 21:25] moderation commented on #12951
You can run `hashin` against specific version of Python. `hashin -p 3.8 MarkupSafe` returns only the hashes for Python 3.8.
[code]
Can we match this to the version of Python we use in CI? Need to check if `rules_python` supports equivalent of `pip install --require-hashes`. It looks like this is possible with `extra_pip_args` - https://github.com/bazelbuild/rules_python/blob/master/docs/pip.md#att

[2020-09-02 22:05] #12102 closed

[2020-09-02 22:06] ggreenway commented on #2557
Tracking remaining issues with label `quic-mvp`: https://github.com/envoyproxy/envoy/issues?q=is%3Aopen+is%3Aissue+label%3Aquic-mvp

[2020-09-02 22:07] oschaaf opened #12960 "Test flake in OauthIntegrationTest.UnauthenticatedFlow"
In a CI coverage run for another PR, a flake was caught in OauthIntegrationTest.UnauthenticatedFlow
which I haven't been able to reproduce locally using O(10k) repetitions. Possibly something
that coverage does, like adding pressure on certain system resources, is needed to tease the issue
out.

Relevant CI log: https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/501

[2020-09-02 22:17] rene-m-hernandez commented on #12080
May we please have the `stale` tag removed? I'm curious to know more about the increased CPU utilization that still occurred after the v3 upgrade.

Regarding the v3 upgrade, it would seem there's not much that can be done other than to upgrade as soon as possible. Was this called out in the v14 release notes or documentation? At quick glance, I don't see mention of it & this does seem to be a well

[2020-09-02 23:05] #10849 closed

[2020-09-02 23:15] htuch opened #12962 "Extension maturity checklist"
While we now have explicit extension [security postures](https://github.com/envoyproxy/envoy/blob/f1c0031819ddc7b8a9f6352ad6722f4abf8ab664/bazel/envoy_library.bzl#L37), there is no systematic way to govern how extensions are promoted from untrusted to trusted, i.e. when they are considered robust to downstream or upstream; we generally rely on Envoy maintainer intuition and burn time. We should pr

[2020-09-02 23:16] htuch commented on #12920
I've opened https://github.com/envoyproxy/envoy/issues/12962 to track this, with some suggestions to start things of.

[2020-09-02 23:34] mattklein123 commented on #12080
Probably not, doc updates appreciated. It is a "known issue" at this point. And yes, I would upgrade to v3 as soon as you are able. I don't think there is anything else actionable on this issue unfortunately. @htuch has done a bunch of recent changes to improve v2 -> v3 upgrade perf fwiw.

[2020-09-02 23:49] htuch commented on #12080
Tagging for https://github.com/envoyproxy/envoy/issues/10943 postmortem; I don't think we had clear evidence that performance was problematic at the time of the release, most discussion has taken place since then, but worth keeping in mind for the future.

[2020-09-03 02:08] antoniovicente commented on #12927
My thoughts about API:

Like you mention in item (3) above, we need a Watchdog config message in bootstrap.proto for each type.  One possible option is the one you suggest of having a second field for the worker watchdog parameters.  Some alternate options include having the new parameter specify the auxiliary thread watchdog parameters instead.  Or add 2 new parameters(one for workers, one for au

[2020-09-03 03:05] itayd commented on #12949
+1

[2020-09-03 04:18] kkHAIKE opened #12963 "build failed, "use of undeclared identifier 'IPV6_TRANSPARENT'""
after this commit: https://github.com/envoyproxy/envoy/commit/a2b11b2
in debian,
IPV6_TRANSPARENT defined in "linux/netfilter_ipv6.h"
but envoy only include "linux/netfilter_ipv4.h"

[2020-09-03 05:35] 2dev2 opened #12965 "Envoy server (v3 api) as Front-Edge proxy with http and https both"
*We are running Envoy server [v1.15 50ef0945fa2c5da4bff7627c3abf41fdd3b7cffd/1.15.0/clean-getenvoy-2aa564b-envoy/RELEASE/BoringSSL](https://www.envoyproxy.io/docs/envoy/v1.15.0/version_history/current) on vm which serve the traffic for http and https both as Front Edge Proxy. We have two listener one for http and one for https.

1.We are able to get all the route for application and stats ```http:

[2020-09-03 06:37] fxposter commented on #12080
I will provide a sample control plane this week.

[2020-09-03 07:41] zainhasib commented on #12918
Hi
We have configured envoy using xDS with REST-JSON URL. The problem we have is if we send external request (from postman) to envoy gateway for xDS REST endpoints like v2/discovery:routes it return the envoy DiscoveryResponse from the service.
How can we block this external request for xDS REST Endpoints? I tried adding a route for these REST URL but it doesn’t work.

[2020-09-03 10:18] leosunmo commented on #7753
Alright @mattklein123 , here we go: https://github.com/leosunmo/envoy-chunked-bug.
Please let me know if you need anything else.

[2020-09-03 11:29] JKerwood commented on #12760
I'm asking about application level health checks.  So health checks from Kubernetes, health checks from envoy to another pod.  Would the request into the other pod not be counted as a request?

[2020-09-03 14:24] KBaichoo commented on #12927
Thanks for the input @antoniovicente.

I believe we only create WDs right now for workers, and for the main thread. Perhaps we'd want to in the future create it for other threads with similar workloads (say async io threads)?

We'd be able to keep the existing field (breaking downstream a little less), but it would have additional cognitive load as we'd have a single knob that changes purpose depe

[2020-09-03 14:24] snowp opened #12968 "Conditional/Branching composite HTTP filters"
Today filters can be configured in two ways: a per route configuration that is used when the incoming requests match a specific route entry and a default configuration that is used whenever no per route configuration is used.

One problem with this approach is that if you want to use a specific filter configuration for traffic that might be a sub match of many route entries, all of these route ent

[2020-09-03 14:26] snowp commented on #12963
The build failure should have been fixed via https://github.com/envoyproxy/envoy/pull/12956, but it sounds like we might want to include the appropriate header file to ensure that this works on Debian? Would you be able to submit a PR to fix?

[2020-09-03 14:33] snowp commented on #12968
@htuch @mattklein123 Thoughts on this from an API perspective? I think this would address some limitations of the current per filter config approach

[2020-09-03 15:45] wwillsey opened #12969 "Envoy to pass hits_addend to RateLimitService"
## Description
The [RLS v3 api](https://www.envoyproxy.io/docs/envoy/latest/api-v3/service/ratelimit/v3/rls.proto) describes the RateLimitService as able to injest a hits_addend field to determine number of tokens to use for the rate limiting request.
Envoy should provide a method for extracting a value from a request header (or some other method) to populate this method on a _per request_ basis.

[2020-09-03 15:47] wwillsey commented on #12969
Hey @mattklein123, I've created this issue to follow up on https://github.com/envoyproxy/ratelimit/issues/167. Please let me know if you think any more details would be helpful.

Thanks!

[2020-09-03 15:56] htuch commented on #11427
@akonradi can you comment on how this avoid the pitfalls of the earlier "scaled time" proposal? I think there were some fairness issues there, but don't recall the details.

[2020-09-03 15:56] htuch commented on #12951
I think we may want all possible versions, since if you're building outside of CI you might want some flexibility there.

[2020-09-03 16:02] mattklein123 commented on #7753
@leosunmo awesome, thanks. I will take a look soon!

[2020-09-03 16:03] mattklein123 commented on #12968
@snowp in general I agree we should do this, and also include generic disable support. I think this is a dup though. I will try to find the duplicate(s) later. cc @kyessenov who I think has opened similar issues.

[2020-09-03 16:04] mattklein123 commented on #12969
Yeah this makes sense to me. Marking help wanted.

[2020-09-03 16:07] kyessenov commented on #12968
https://github.com/envoyproxy/envoy/issues/11690 also wants different order of filters.

[2020-09-03 16:13] akonradi commented on #11427
It was less of a question of fairness and more of responsiveness. The scaled time proposal doesn't respond quickly to changes in the scaling factor since those changes only affect consumption of time going forward. What we want instead is for scaled factors to affect the consumption of time since a timer was enabled. This lane proposal is just as responsive as the bucket proposal since we effectiv

[2020-09-03 16:16] sunjayBhatia commented on #11975
Spent some time on this and it seems option (1) above is achievable with relatively low investment/moving parts. A first iteration would be a pool of Windows VMs maintainers can SSH to for rudimentary debugging.
- Works with the existing setup we have in [ci-infra](https://github.com/envoyproxy/ci-infra) whereas VMs (currently for CI workers) are registered and deregistered
  - Maintain a pool of

[2020-09-03 16:28] mattklein123 commented on #12962
This sounds like a great initial list to me. Should we codify this somewhere in the repo and iterate?

[2020-09-03 16:31] antoniovicente commented on #11427
The lane proposal effectively quantizes overload factors to a finite number.  The reaction to overload would be discontinuous:  you'll experience a long timeout while just above some threshold, and then have it drop to a much smaller value all of a sudden.

As you point out, the cost of maintaining the K lanes increases the timer update and removal costs by a fair bit, so we'ld need to keep K smal

[2020-09-03 16:44] junr03 commented on #12962
I, naively, wonder how much of this type of audits could be codified in linters instead of relying solely on the eyes of the sec team.

[2020-09-03 16:47] snowp commented on #12968
#11690 is similar but the key difference is that this issue proposed making this matching logic independent of the route selection. I think this approach is better for certain use cases (for more cross cutting concerns than route resolution) but there would be value in having a per route filter order as well.

Implementation wise this composite filter might be easier, since there are fewer edge ca

[2020-09-03 16:56] sunjayBhatia commented on #12940
/assign @sunjayBhatia

[2020-09-03 16:57] pc-rshetty opened #12970 "Options to maintain sticky session(affinity) should support samesite attribute"
Google Chrome recently enforced a feature(https://blog.heroku.com/chrome-changes-samesite-cookie) which prevents us from sending a cookie to a cross site to avoid CSRF. This is all great and envoy's current mechanism works great. What doesn't work is when we iframe our application within another web application(example salesforce) chrome thinks we are going from salesforce to our domain even thoug

[2020-09-03 16:58] #12809 closed

[2020-09-03 17:03] asraa commented on #12962
On that note, I'm working on a local refactor for the generic HTTP filters, so that the class framework only takes in a filter and then encodes/decodes the HTTP message, without any mock construction unless you specify it. I want to make the interface the library exposes easier for single-fuzz targets to adopt and extend. I'll be following the refactor with a dedicated ext_authz target.

[2020-09-03 17:06] mattklein123 commented on #12760
If you use https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/health_check_filter any incoming health check requests will be marked as such and not count in stats.

[2020-09-03 17:11] sunjayBhatia commented on #12940
So far looks like it is only the `ClusterUpDownUp` test that is flaky

[2020-09-03 17:13] mattklein123 commented on #12968
Here is the generic disabling issue I was thinking about: https://github.com/envoyproxy/envoy/issues/8669. I think it would be good to work that into this proposal.

[2020-09-03 17:14] mattklein123 commented on #12968
(Basically I would make FilterMatch contain an embedded oneof that allows for: 1) inline config, 2) ecds config, 3) disable.

Perhaps (2) is not needed and could be added later.

[2020-09-03 17:27] kyessenov commented on #12968
I wonder if the filter match predicate and disablement is something that should be included inside ECDS, e.g. making the composite filter to be another filter. That's probably least disruptive. Route overrides with ECDS also need https://github.com/envoyproxy/envoy/issues/12575 to be fixed.

[2020-09-03 17:30] mattklein123 commented on #12968
Yeah I think there are multiple ways to go here. @snowp @kyessenov can you collaborate on a design to make sure we are covering as many cases as possible with the next set of changes?

[2020-09-03 17:32] htuch commented on #11427
How many lanes do we practically need? Seems like even two or three could be sufficient, T-shirt sizes.

[2020-09-03 17:40] htuch commented on #12968
Agree on the direction. Re: ECDS, I think this is a good idea or we need a real FCDS. What this proposal does is push a bunch of matching and routing logic into the filter chain, which today can only be loaded dynamically via LDS or (in the proposal) ECDS. LDS with delta updates might be some temporary relief here, but it's logically a bad fit, as request routing has nothing to do with listening.

[2020-09-03 17:42] htuch commented on #12968
Another structural approach that could be taken is to organize the filter chain as a tree, rather than as a list.

[2020-09-03 18:08] snowp commented on #12968
If this was added as a regular filter, in theory they could be composed to create a tree structure, though we might want that to be first class rather than via a filter if that's the direction we want to go in.

The feature that I'm trying to unlock here is to have a management server be able to have a lot of flexibility to influence the request/response processing without being coupled with the m

[2020-09-03 18:20] mattklein123 commented on #12968
IMO the use case makes sense to me. I don't feel very strongly about whether we build this into ECDS itself (it could have matching, disable, etc.) built in or it's a composite filter. I guess if you pushed me I would rather have this be built in.

Given that we all agree on the high level direction can @snowp @kyessenov collaborate offline on an API proposal?

[2020-09-03 20:12] ceastman-ibm opened #12974 "Allow respond in the response path"
*Title*: *One line description*

*Description*:

would be used.

A microservice in the istio service mesh causes a 4xx or 5xx error, instead of just returning the status code to the browser. We have a microservice that renders a nice custom error page. We want to modify the response body to be this nicely rendered custom error page.

nginx has this functionaly, it would be great if envoy had it al

[2020-09-03 20:13] htuch commented on #12927
I'd avoid enum, I think the cleanest here is to add a `MultiWatchdog multi_watchdog = N;` to bootstrap and a new message with:
[code]
This way we can deprecate the existing `watchdog` field. This is similar to what we did with `Runtime` when introducing explicit layer control.

[2020-09-03 20:25] htuch commented on #12962
@junr03 yes, good point, some of this should just be code format or CodeQL checks, but other parts are more subjective, e.g. "is this a scary parser?".

[2020-09-03 21:01] stevenzzzz commented on #10776
question here: can we have both V2 and V3 subscriptions via the same ADS, say

1.   V2 and V3 RDS subscriptions on the same resource name,
2.  V2 subscription sends a request and dies,
3.  management server sends a V2 response back,

what's the correct move now? do we allow V3 subscription to handle the response by upgrading the type-url to v3 and find a watch?
@htuch @chaoqin-li1123

[2020-09-03 21:12] antoniovicente commented on #12927
Adding a new message to group together the multiple watchdog configs seems like a fine plan.  Is that the preferred option?  If yes, let's move on to implementation.

[2020-09-03 21:15] KBaichoo commented on #12927
Yea upon implementation that seemed to be cleaner than repeated field. I've started implementation with the new message.

[2020-09-03 22:11] ccravens commented on #12591
@shivanshu21 this is great work! I'm concerned that if it's only specific to location headers, could this not be more generalized for any HTTP header by just specifying 1) the header to modify (ie - Location) 2) Regex specifying what needs to be replaced and with what.

What are your thoughts? thanks!

[2020-09-03 22:14] nezdolik commented on #12419
@mattklein123 @antoniovicente @akonradi please take a look: https://docs.google.com/document/d/109p2eWereP9i_0XbuiVhsIWoJ6oI_jUhsjG-rHCDjyg/edit?usp=sharing

[2020-09-03 22:20] #12861 closed

[2020-09-03 23:18] snowp commented on #12968
Ok sounds good, I will get a doc started.

[2020-09-04 00:06] htuch commented on #10776
If you want mixed requests/responses, v2 and v3 don't constitute real distinct namespaces IMHO, if you subscribe to resource Foo as v2 in RDS with resource version v2 and Foo on some other RDS with resource version v3, you get back the exact same resource in both cases, even though the management server will see distinct discovery requests. At least, if you want this interop.

Since you raise this

[2020-09-04 00:11] chadr123 commented on #12963
If you don't have much time to make a PR, I can pick this up. :)

[2020-09-04 00:17] sunjayBhatia commented on #12940
Haven't gotten too far on this, I'll be off for a week and pick this up when I'm back

[2020-09-04 02:00] chadr123 commented on #12963
The IPV6_TRANSPARENT should be defined in `netinet/in.h` but debian doesn't. :(
I think it is better to define this in the 'platform.h` if does not exist like as following.

[code]

[2020-09-04 02:10] #12735 closed

[2020-09-04 02:50] stevenzzzz commented on #10776
that sounds good, thanks!

[2020-09-04 04:47] mattklein123 commented on #12419
Thanks @nezdolik! I will take a look next week. OOO for a bit.

[2020-09-04 08:14] srenatus commented on #11042
I've been looking into ways to allow changing the behaviour here. @lych77's approach seems like a good one.

To make this more explicit, what do you think about the grpc_json transcoder setting some dynamic metadata key based on whether it has or has not matched? The configuration could then have a local reply if they key isn't present (or has the wrong value) as desired.

Alternatively, we could

[2020-09-04 08:34] linxuyalun opened #12985 "envoy_on_request: respond() cannot be called if headers have been continued"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *respond() cannot be called if headers have been continued*

*Description*:

I am configuring EnvoyFilter in istio, what I wanna do is:
1. get the method and body of

[2020-09-04 08:35] gawarz opened #12986 "Envoy doesn’t increase rq_xx metrics when upstream_reset_before_response_started occured"
*Title*: *Envoy doesn’t increase rq_xx metrics when upstream_reset_before_response_started occured*

*Description*:

We send all requests to service via envoy. Clients receive responses with 503 http status. These responses aren’t returned by service and there are no metrics increased for these responses.When log level is set up to debug and access log is enabled we can see reason of this behavior

[2020-09-04 08:57] linxuyalun commented on #12985
I also try another method(handle:body()) to get the content of body, which configure file is:
[code]
However, the body content is a userdata like `userdata: 0x41c8c448` and I can't get the real data.

[2020-09-04 12:08] nehap4 opened #12988 "File access log BYTES_RECEIVED come as 0 everytime a site is accessed"
In order to get the access logs of envoyproxy I added following code in my setup :
[code]
I get logs in default format as mentioned in this page : https://www.envoyproxy.io/docs/envoy/latest/configuration/observability/access_log/usage#config-access-log-default-format

 I am able to see the BYTES_SENT counter as non zero value  but the BYTES_RECEIVED count always come as 0 .

Sample Logs
[code]
Is

[2020-09-04 12:47] snowp commented on #12968
Here's a first draft I threw together: https://docs.google.com/document/d/1dOa_v1eMA4F61f0jdFkxtbcO-_TYD76oMfGoY7nzZhk/edit#

@kyessenov ptal

[2020-09-04 14:23] #12403 closed

[2020-09-04 15:47] #12814 closed

[2020-09-04 16:39] snowp commented on #12985
@dio Mind taking a look?

[2020-09-04 20:17] oschaaf commented on #12080
There's a design doc here: https://docs.google.com/document/d/14Iz8j--Mvb06QFB8RurtYlwmy657YbAVfqDr-jKgtaQ/edit#heading=h.grkfe6onmtgv
Also, cross linking github.com/envoyproxy/envoy/issues/11266.

[2020-09-04 21:34] A-And commented on #8292
@ramachaitanyak @gkleiman - is this still planned for 1.16.0? We're super interested in this.

[2020-09-04 22:50] efe-selcuk commented on #12954
I tried switching it from EnvoyGrpc to GoogleGrpc, and can at least confirm that the config is ACK'd. So remove the UDS cluster and change the sds config to:

[code]

I'm not familiar with the difference between the clients.

[2020-09-04 23:24] ASOPVII opened #12992 "Question: Is there any integration test with multiple clients(connections)?"
I am writing integration test for lazily warmed filter chain, and I find more tests contain only one single ```codec_client```. I wonder if there is a test with more than one client using ```httpIntegrationTest : public baseIntegrationTest``` or something similar? I need to test the ability of envoy to accept multiple connections.

[2020-09-05 00:36] #12899 closed

[2020-09-05 04:44] rajma commented on #12887
Apologies for the delay in response. Not familiar with the CI stuff but will take a look and see if I can do something about it. Thanks

[2020-09-05 10:57] kkHAIKE opened #12994 "HTTP filter need use recreateStream when POST a body"
From:
https://github.com/envoyproxy/envoy/blob/0b24c6ac8ebaddfd46852e732d82675b3521d35a/include/envoy/http/filter.h#L497-L503
and:
https://github.com/envoyproxy/envoy/blob/0b24c6ac8ebaddfd46852e732d82675b3521d35a/source/common/http/filter_manager.cc#L1283-L1289
we can found a large commit 2 years ago....https://github.com/envoyproxy/envoy/commit/bbf5674c2c9a901ec4e964e4dd1d845516e672b2

VHDS filte

[2020-09-05 20:37] 2dev2 commented on #12965
is there any reference documentation for same ?

[2020-09-05 21:34] everflux commented on #12511
I believe the docs are wrong:
Stable image is only intel: https://hub.docker.com/r/envoyproxy/envoy/tags/
Development includes arm64: https://hub.docker.com/r/envoyproxy/envoy-dev/tags/
But even the alpine development image is missing arm64 tags/manifest entries: https://hub.docker.com/r/envoyproxy/envoy-alpine-dev/tags

[2020-09-06 01:52] dio commented on #12460
This is done. https://github.com/envoyproxy/envoy/pull/11235.

[2020-09-06 01:52] #12460 closed

[2020-09-06 05:51] #11872 closed

[2020-09-06 06:51] #12272 closed

[2020-09-06 07:51] #12236 closed

[2020-09-06 10:51] #12292 closed

[2020-09-06 11:51] #12375 closed

[2020-09-06 11:56] ramachaitanyak commented on #8292
@A-And ; @gkleiman and I synced up before the pandemic had begun and I had shared a design. Unfortunately either of us did not work together since then.

I have completed an implementation for my company locally and had been moved away from this project. I did not get time to complete this; however if there is interest and @mattklein123 is ready opening some of the unfinished PRs, I could resume w

[2020-09-06 12:05] ramachaitanyak commented on #8292
The other PR is https://github.com/envoyproxy/envoy/pull/9099 which I will need to open, update and merge

[2020-09-06 22:35] nicktrav opened #12996 "Dropped response bodies when using Envoy as an HTTP CONNECT proxy"
*Description*:

I'm using Envoy as an HTTP CONNECT proxy, and observing dropped response bodies. This happens non-deterministically - sometimes the client gets the response payload, sometimes it doesn't.

Specifically, Envoy seems to be associating the response payload from the upstream server with the HTTP response it initially sends back to the client as part of the CONNECT protocol.

[RFC 7231,

[2020-09-07 03:40] #12341 closed

[2020-09-07 04:02] lunighty commented on #6767
I think I managed to find a workaround:

On Envoy instance I added an "envoy.lua" HTTP filter, that checks if the response code is a 404 (the same code, that is being generated for non-existent route) **AND** checks if the *"x-envoy-upstream-service-time"* header is **NOT** present.

The Lua code:
[code]
Example configuration on Envoy (fetched by LDS):
[code]

[2020-09-07 04:40] #12354 closed

[2020-09-07 04:45] mattklein123 commented on #12953
At a high level this makes sense to me.

(Note that i'm not knowledgeable about MIME types so probably that's not an exhaustive list of what should be included, and maybe the exact allowable types should be configurable as well).

This probably needs more thinking. I would potentially chat with the gRPC folks about this. cc @markdroth

[2020-09-07 04:46] mattklein123 commented on #12954
cc @htuch @adisuissa

[2020-09-07 04:47] mattklein123 commented on #12957
Sounds reasonable to me!

[2020-09-07 04:51] mattklein123 commented on #12996
cc @alyssawilk. I'm guessing any issue with timing depending on when the data from upstream arrives. Thanks for the detailed report!

[2020-09-07 05:01] mattklein123 commented on #8292
I believe the current plan is that @gkleiman is going to work on this. He can follow up with @ramachaitanyak on a timeline for figuring out how to converge on something we can get upstream.

[2020-09-07 05:40] #12336 closed

[2020-09-07 06:16] jpeach commented on #6767
Nice! That's a bit cleaner than my [equivalent](https://github.com/projectcontour/contour/blob/main/internal/envoy/listener.go#L432-L470) 👍

[2020-09-07 06:40] #12328 closed

[2020-09-07 06:53] linxuyalun commented on #12985
Hi, I solved the problem, I use the buffer:getBytes() and finally figure it out.

Here is my configuration:

[code]

[2020-09-07 07:40] #12335 closed

[2020-09-07 08:04] aqua777 opened #12997 "Using healthchecks to determine down upstream hosts"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Using healthchecks to determine down upstream hosts*

*Description*:

I am currently researching possibility of using Envoy as a gateway proxy for the environment c

[2020-09-07 08:40] #12348 closed

[2020-09-07 10:04] XuejiaoZhang commented on #3361
@objectiser Hi, I met similar [issue](https://github.com/istio/istio/issues/27104) when using Jaeger on Istio.

Architecture: Istio Ingress Gateway - Service A(HTTP service) - Service B(GRPC service)

Expect the tracing information through the whole way from Istio Ingress Gateway - Service A - Service B
Actually, we. could only see the tracing info on Jaeger from Istio Ingress Gateway to Service A

[2020-09-07 11:40] #12331 closed

[2020-09-07 12:39] zainhasib opened #12999 "Block xDS REST endpoint access from outside"
Hi
We have configured envoy using xDS with REST-JSON URL. The problem we have is if we send external request (from postman) to envoy gateway for xDS REST endpoints like v2/discovery:routes it return the envoy DiscoveryResponse from the service.
How can we block this external request for xDS REST Endpoints? I tried adding a route for these REST URL but it doesn’t work.

[2020-09-07 12:40] #11976 closed

[2020-09-07 13:40] #11560 closed

[2020-09-07 14:40] #11909 closed

[2020-09-07 19:22] ankatare commented on #10535
/no stalest

[2020-09-07 20:57] fxposter commented on #12080
https://gist.github.com/fxposter/8887788a575090601ba6b106e80e3230

this is the go-control-plane that shows the effect of that. when changing only paths under some wildcard domain - it consumes less cpu, when constantly adding/removing domains in routes - all those metric generation starts to consume much more CPU. This was not the case for 1.12.

[2020-09-07 21:00] fxposter commented on #12080
and looking at graphs above - it seems that quite a lot of time is spent in Envoy::Stats::TagProducerImpl::produceTags/etc.

[2020-09-07 21:11] mathewprokos commented on #6686
This is 100% possible with bazel its just poorly documented.

I made a bazel.bbclass that works for yocto to cross-compile to any target.
1. without modifying configuration files for every component/project
2. Using the built-in :all target "bazel build :all" or having a unique target per recipe at a minimum.

Basically you need to generate the toolchain configuration in yocto. And add the ${STAGI

[2020-09-07 21:22] wlhee opened #13001 "mTLS over TCP tunnel via HTTP/2 CONNECT"
Hi, thanks to the [TCP-tunnel via HTTP/2 CONNECT](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/upgrades#tunneling-tcp-over-http-2) in Envoy, we can tunnel TCP over the following set up:

client -> (TCP) -> client-side Envoy -> (HTTP/2 CONNECT) -> server-side Envoy -> (TCP) -> server

Our question is how do we configure the Envoys to enable mTLS? It [seems](https://www.envoy

[2020-09-07 21:22] wlhee commented on #13001
@htuch @alyssawilk

[2020-09-07 23:13] moderation commented on #12965
I _think_ you could achieve this with a `filter_chain_match` based on source port - https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/listener/v3/listener_components.proto.html?highlight=filter_chain_match#envoy-v3-api-msg-config-listener-v3-filterchainmatch

[2020-09-07 23:19] moderation commented on #13001
I've stumbled on this as we were looking for the same functionality for the Kubernetes ingress controller Contour which leverages Envoy for it's data plane. Issue at https://github.com/projectcontour/contour/issues/2885.

I think you'll need `x-forward-client-cert` configured in your HCM to pass the certificate material upstream. See https://www.envoyproxy.io/docs/envoy/latest/configuration/http/h

[2020-09-07 23:57] wlhee commented on #13001
Thanks @moderation for the information! I want to make sure my understanding is correct:

1.  enable tls transport socket in the cluster_0
2. configure x-forwawrded-client-cert is configured in listener_1

[2020-09-08 02:23] XSAM opened #13002 "Add grpc_service_method fields in CEL filter extension"
*Title*: Add grpc_service_method fields in CEL filter extension

*Description*:

|Attribute|Type|Description|
|-|-|-|
|request.grpc_service_method|string|gRPC service methods e.g. "unary" "bidi_streaming"

gRPC provides four kinds of service methods: `unary`, `client_streaming`, `server_streaming`, and `bidi_streaming`. Every method may have different strategies to handle.
For instance, we may fil

[2020-09-08 03:28] moderation commented on #13001
I might have confused things here. Your examples are based on the links from the documentation at https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/upgrades#tunneling-tcp-over-http-2 but it looks like you have added a HCM on the client side

So thinking about this I'm not sure you can do a L4-7 mTLS chain with L3 TCP??? If what you are talking about is possible I would think you

[2020-09-08 03:46] wlhee commented on #13001
Right, my example is based on the [doc](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/upgrades#tunneling-tcp-over-http-2), but I extended in a way that basically the client-side Envoy converts the downstream TCP stream into a HTTP/2 stream (that's why it has two listeners); the server-side Envoy unwraps the TCP stream from the HTTP/2 stream then passes to the server upstream

[2020-09-08 03:47] wlhee commented on #13001
yeah, I think I need to enable xfcc config in cluster_0 in addition to the tls config, do you know if there is a good example to enable xfcc ?

[2020-09-08 04:11] wlhee commented on #3887
I wonder does the App1's Envoy automatically attach the client cert as xfcc header ?

[2020-09-08 07:18] tkovacs-2 commented on #12836
@rgs1 The ip of the restarted endpoint was the 192.168.2.99 since other endpoints were continuously up and ready in both clusters.
The connection refused seems reasonable since there was a short delay while the process supervisor started the process again after kill.

[2020-09-08 08:28] movikbence commented on #11165
@laltralt have you succeeded to build an image with the proper glibc?

[2020-09-08 13:32] htuch commented on #12997
@aqua777 have you looked to see if https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/panic_threshold.html?highlight=panic applies here?

[2020-09-08 13:34] htuch commented on #12999
This question needs some more information to answer. What is "postman"? Why are you routing to your xDS API server external requests through the Envoy gateway? I think this is almost certainly a configuration error.

[2020-09-08 13:47] htuch commented on #13001
I think it's probably worth explaining whose identity you are trying to verify/preserve. If it's only between the two Envoys, then I think you just need to set TLS transport socket for cluster_1 and listener_2.

Why do you want to start the mTLS at cluster_0? I think that would only make sense if you want the TCP stream forwarded from cluster_2 to be TLS.

I think https://github.com/envoyproxy/env

[2020-09-08 13:48] alyssawilk commented on #12994
for the comment that confused you, the HCM may have received body bytes where the router has not received decodeData, or the router may not have received end stream after headers (know there is no body) where the HCM has.

That's somewhat different from the recreateStream with body issue.  There's nothing which actually prevents Envoy from supporting recreateStream, but it's complicated.  Imagine

[2020-09-08 13:50] htuch commented on #13002
I don't think you can determine whether this is unary vs. streaming or even streaming type from wire-level gRPC. You most likely need to have service descriptors, which we don't currently have a way of feeding to the CEL evaluation. CC @kyessenov @markdroth

[2020-09-08 14:35] #12709 closed

[2020-09-08 14:35] rulex123 commented on #11648
Is anybody working on this? Otherwise I would like to give it a go :-)

[2020-09-08 14:39] sschepens opened #13009 "xds: Consistency while handling CDS updates and EDS"
When a cluster is created or updated envoy it enters warming phase and needs a related ClusterLoadAssignement response to fully initialize.
During Envoy startup phase envoy sends requests for those resources to the management server and so the management servers knows it has to respond those.
But, when updating a Cluster via CDS, no EDS re-request is sent to the management server and management se

[2020-09-08 14:53] plallin opened #13010 "The Lua stream handle API should support statusLine() and startLine() methods"
*Title*: *The lua stream handle API should support statusLine() and startLine() methods*

*Description*:

HTTP requests are formatted as follows:
- a start line
- headers
- body

HTTP responses are formatted as follows:
- a status line
- headers
- body

There is currently no support for accessing the start line of HTTP requests, or the status line of HTTP responses. There are however access method

[2020-09-08 15:16] htuch commented on #12954
I believe this is a limit we introduced to simplify some of the bootstrap dependency issues across cluster initialization and warming. @yanavlasov probably has some of the latest context on that. I think we could relax this constraint in some cases, in particular when the config source is not for cluster endpoints.

[2020-09-08 15:42] murray-stripe opened #13011 "Expired SSL cert on 3rd party mirror - Kafka"
*Title*: Expired SSL cert on mirror - external dependency - kafka

*Description*:

The download mirror for the [kafka dependency](https://github.com/envoyproxy/envoy/blob/master/bazel/repository_locations.bzl#L640-L648) seems to have an expired certificate and from-source builds are not currently possible with an empty bazel cache.

There may not actually _be any_ resolution to this from the Envoy

[2020-09-08 15:58] htuch commented on #11266
@abaptiste thanks. My super high-level comment is that as a developer and performance engineer (user story), I'd like to be able to have control over the benchmark execution environment. So, any framework should be capable of running 100% locally. It's fine to make it _also_ available as a SaaS via buckets or e-mail, but I think we're limiting applicability if those are the only options.

[2020-09-08 16:07] alyssawilk commented on #12996
Sorry, reading through this I want to make sure I understand the problem
Is the problem that you want
[envoy headers]
[helloworld payload]
in separate packets and sometimes you get
sometimes you get
[envoy headers][helloworld payload]
in one packet?

If so, I don't think that's illegal.  I think anything after the \r\n\r\n headers is payload content regardless of it lands in the same packet or not

[2020-09-08 16:12] htuch commented on #13009
CC @envoyproxy/api-shepherds

[2020-09-08 16:14] wlhee commented on #13001
Thanks @htuch

I tried to use xfcc in cluster_0, but it doesn't seem like I am configuring things properly. It looks like cluster_0 can't talk to the loopback listener_1 due to cert enabled in cluster_0:

client-side envoy config:
[code]

server-side envoy config:
[code]

[2020-09-08 16:40] kyessenov commented on #13002
Yeah, gRPC method signature does not indicate whether it is streaming or not. At HTTP level, it's always just a single long request. I wonder if what you're looking for is per-frame hooks. grpc_states can emit individual gRPC frames that could be exposed for filters.

[2020-09-08 16:56] aqua777 commented on #12997
@htuch thanks for a hint, let me take a look.

[2020-09-08 17:28] markdroth commented on #13002
Correct.  gRPC does provide 4 different interfaces for these different types of calls, but those are really just API conveniences; under the hood, they are all the same at the wire protocol level.  In fact, even gRPC itself does not have this information down at the layer at which authz checks are done.

[2020-09-08 17:43] nicktrav commented on #12996
Hey @alyssawilk - yeah, that's right.

Agreed on the semantics there.

The reproducer I mentioned was more to show the TCP framing differences (two packets in the response vs. one, as you mention). My true setup is a little more complex:

[code]

Based on the framing, I realized the issue is in the Go `net` package, which doesn't really support CONNECT all that well, and is gobbling up the respons

[2020-09-08 17:43] #12996 closed

[2020-09-08 18:01] markdroth commented on #13009
Why would the management server need to send an update for the EDS resource that has not changed, just because the CDS resource that pointed to it has changed?  This seems like a pretty clear Envoy bug: the CDS and EDS resources should be tracked independently from the perspective of the xDS client code, so that when a new Cluster object is created, it can just pick up the existing data for the ED

[2020-09-08 18:15] htuch commented on #13009
@markdroth I think this was a deliberate choice we made when designing CDS warming. The idea is that you might also be switching the endpoints when changing cluster config, e.g. upgrading from non-TLS to TLS cluster. You can see a pretty detailed discussion in https://github.com/envoyproxy/envoy/issues/5168.

On clarifying protocol semantics, I think we have a PoR to move forward here with https:/

[2020-09-08 18:19] akonradi commented on #13011
I don't see that mirror listed on the [Apache mirrors list](http://ws.apache.org/mirrors.cgi)

[2020-09-08 18:26] htuch commented on #13001
@wlhee I think for `listener_1` to be able to process the HTTP/2 it would need to also be able terminate TLS and have transport socket options that correspond.

[2020-09-08 18:37] cyran-ryan opened #13013 "Accessing tracing information within an HTTP Filter"
Hi, I'm attempting to access the tracing information generated by the HTTP connection manager within one of our custom HTTP filters. Is there any way to access the active trace within an HTTP filter? Or is that not propagated down to a level that's accessible to the filter?

I've tried setting or getting the `x-b3-*` headers but those also seem to not be available.

Specifically I'm looking for th

[2020-09-08 18:45] murray-stripe commented on #13011
I noticed the same thing. I've patched our internal build to use the Berkeley mirror for the time being.

[2020-09-08 19:01] markdroth commented on #13009
Reading the discussion in #5168, the problem there actually seems like another symptom of the fact that Envoy's implementation does not cleanly separate the transport protocol layer (which by necessity includes caching) from the data model layer (in this case, the cluster instance).  IMHO, these should be two different layers with a clear separation between them, so that implementation details in

[2020-09-08 19:20] sschepens commented on #13009
@htuch if one were to make something like change TLS without downtime, we now have `transport_socket_matches` and also, couldn't something be made with `AggregateClusters`?

[2020-09-08 19:20] moderation commented on #13011
Looks like we should switch to the suggested mirror https://mirrors.gigenet.com/apache/kafka/2.4.1/kafka_2.12-2.4.1.tgz
[code]

[2020-09-08 19:23] markdroth commented on #13009
BTW, if you're interested in what the XdsClient API looks like in gRPC, the relevant part is here:

https://github.com/grpc/grpc/blob/139895d2c8a0e52540dfba323970f905a2d29df6/src/core/ext/xds/xds_client.h#L96

In our implementation, there's a separate watch API for each type of resource, mainly because we can't depend on the protobuf library and didn't want to make upb part of this API.  But in En

[2020-09-08 19:28] sschepens commented on #13009
I'm with @markdroth here.

I think from a protocol standpoint it pretty crappy for mangement servers to have to resend a configuration change if nothing really changed. Furthermore, in Incremental, Envoy is subscribed to resource updates and should only get notifiend when those actually change.

In the case of updating clusters to TLS, if it's not doable with current mechanics, maybe we're in need

[2020-09-08 19:29] htuch commented on #13009
As in the original CDS work, our constraints are not greenfield, to some extent we need to be backwards compatible with existing management servers. I don't think it would be particularly hard to add caching to Envoy's existing implementation, the question is really what is the correct behavior on the wire, given Envoy's existing behavior, xDS server implementations and our desired goals. We've be

[2020-09-08 19:32] markdroth commented on #13009
If Envoy stops requiring management servers to proactively send an EDS response after a CDS update, then it's not harmful for management servers that continue to do that (the update will effectively be a no-op on the client if nothing has changed), but it means that new management servers don't need to send that unnecessary update.

[2020-09-08 19:32] htuch commented on #13009
One thing I'd like to point out, going all the way back to the top of this thread, is that in Envoy today, what is going on, is that a cluster is going away and a new one is arriving, which happens to share the same name. When you delete a resource, in CDS, you logically unsubscribe from the EDS resources. We _could_ special case this to talk about what happens over an update, but keep in mind we'

[2020-09-08 19:34] htuch commented on #13009
It's not as simple as this, since some Envoy users will be expecting the warming behavior and want to defer the cluster warming until endpoint update. See the TLS upgrade example, which is not a hypothetical but a valid use of Envoy's existing mechanisms.

[2020-09-08 19:35] htuch commented on #13009
Also worth keeping in mind, this is not some undocumented behavior that people happen to be relying on, we've been guaranteeing this for some time, see https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/cluster_manager.html?highlight=warming#cluster-warming

[2020-09-08 20:02] markdroth commented on #13009
I think the right way to model this is to say that the implicit deletion of RDS and EDS resources happens at the transport protocol layer, not at the data model layer -- which makes sense if you think about it, because this deletion is a cache operation, and caching is dictated by the transport protocol, not the data model.  In other words, inside of the XdsClient, when we receive a CDS update tha

[2020-09-08 20:13] markdroth commented on #13009
Note that if we can find a way to get rid of the existing behavior, then in cases where a management server does not want the new cluster instance to use the old EDS data, it can always use a new EDS service name in the updated CDS resource.

[2020-09-08 20:14] htuch commented on #13009
I see this less as a layering violation as an attempt to bolt on consistency to an eventually consistent model. What warming on EDS is currently doing is saying "we may know the old EDS, but we want another EDS that is temporally fresher than this older one". Which might not even be true in an eventually consistent environment (i.e. not ADS), your warming EDS might be some delayed EDS update of da

[2020-09-08 20:44] fxposter commented on #13009
@htuch @markdroth I am very far from what you both discuss about separating data model and transport model, but - from what I see in APIs perspective - it basically says that dependencies between resources are described in terms of names. This "warming" thing from APIs perspective look like an implementation detail of envoy that is simply not possible to describe in terms of what API provides: clu

[2020-09-08 20:46] htuch commented on #13009
@fxposter Envoy just cares that it sees an EDS update after the CDS update, not which cluster it relates to. I don't see this as an Envoy implementation detail, this is clearly specified in the docs which are part of what currently constitutes the API for folks building control planes.

[2020-09-08 20:48] markdroth commented on #13009
That might very well be a useful migration path.  We could do a phased migration where we initially leave the default alone but provide the field to request the new behavior, then change the default but allow it to be disabled via the field, and then finally remove the field completely.

I just want to make sure that we wind up in a plce where this kind of layering violation is not supported.  Oth

[2020-09-08 20:51] htuch commented on #13009
As discussed with @markdroth offline, this is an area of xDS that is super confusing when we consider the mix of SotW, delta, ADS and non-ADS, different consistency models. From the above thread, it's also apparent that the current behavior is not well understood. I think we should put together a uRFC https://github.com/cncf/udpa/tree/master/proposals to clarify what the existing behavior is and w

[2020-09-08 21:00] fxposter commented on #13009
@htuch I mean a bit different thing. If this feature is intended for envoy not using "partially constructed" clusters in this particular case - then if there are multiple updates to the same cluster - when you receive an update to corresponding endpoints - you still don't know which cluster state that update of endpoints is related. And yes - "warming" will succeed, but it may succeed with wrong s

[2020-09-08 21:07] htuch commented on #13009
@fxposter yes, unless you linearize on ADS you can get various kinds of races happening. This is what I was referring to when the ADS vs. non-ADS case being also pretty confusing above.

[2020-09-08 21:14] htuch commented on #13009
Here's my concrete proposal (which should be turned into a uRFC):
1. We add a field to `Cluster` that says `dont_warm_on_eds_for_updates`. When this is set, Envoy inherits the existing cluster's hosts (I think @snowp mentioned in the original issue that this was plausible).
2. We clarify for future xDS that resource subscriptions for resource Y from resource X remain active across updates to X.

N

[2020-09-08 21:20] markdroth commented on #13009
I think that's a fine proposal, but I would also like to see a migration path for fully eliminating the problematic behavior.  If we don't define such a path, we'll never be rid of it.

[2020-09-08 21:27] mattklein123 commented on #11648
@rulex123 go for it! I will assign you.

[2020-09-08 21:31] mattklein123 commented on #13013
See this API: https://github.com/envoyproxy/envoy/blob/83578ec2760ec823de92200cf169bca2903513a0/include/envoy/http/filter.h#L239

[2020-09-08 21:53] mattklein123 commented on #11427
@akonradi would it be possible to write a short doc on the recommended option, and the alternatives considered? This thread is getting pretty long and I'm having a hard time keeping track. Thank you!

[2020-09-08 22:25] sschepens commented on #13009
@htuch shouldn't this also consider `Listener`? since they also warmup

[2020-09-08 23:07] kb000 commented on #10229
Router_check_tool now uses `request_header_matches` and `response_header_matches`.
The presence check is invoked with `presence_match: true` and can be inverted with `invert_match: true`

[code]

[2020-09-08 23:07] #10229 closed

[2020-09-08 23:16] wlhee commented on #13001
Per offline discussion with @htuch to figure out.

client envoy:

[code]

server envoy:
[code]

[2020-09-08 23:17] #13001 closed

[2020-09-08 23:18] mattklein123 commented on #11266
+1 I left a bunch of comments around this. I also want to make sure we have a clear post-MVP path for CI integration as IMO this is the thing we really want to unlock ASAP. Thank you for working on this!

[2020-09-09 00:20] mattklein123 commented on #13009
The proposal in https://github.com/envoyproxy/envoy/issues/13009#issuecomment-689140016 SGTM. We can discuss the exact field name, etc. in code review.

I agree overall that this is an incredibly confusing detail that has tripped a lot of people up and we should fix this.

On the Envoy side we can talk about potentially flipping the default for the field, but we would have to give a lot of warning

[2020-09-09 00:28] htuch commented on #13011
Agreed, let's just switch mirror, would you be able to submit a PR? Thanks.

[2020-09-09 00:32] htuch commented on #13010
The line oriented view doesn't make a lot of sense in Envoy, since it models everything internally as HTTP/2. What you describe only applies to HTTP/1. The use of `:status` is given in examples in https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/lua_filter. Feel free to enhance the docs with a PR. Arguably a dedicated `statusCode()` method that returned an integer would

[2020-09-09 00:34] #12992 closed

[2020-09-09 00:35] ASOPVII commented on #12992
Updated ```HttpIntegrationTest```, allowing extra clients to make connections.

[2020-09-09 00:50] cyran-ryan commented on #13013
Thanks so much! That's what I was looking for and some how missed it.

[2020-09-09 00:50] #13013 closed

[2020-09-09 05:23] mk46 opened #13020 "Linux-x64 coverage: //test/extensions/filters/network/thrift_proxy:thrift_object_impl_test flake"
Test fails due to Insufficient storage.
[code]
See build: https://dev.azure.com/cncf/envoy/_build/results?buildId=50688&view=logs&jobId=724db6ef-a27f-5b54-bc41-0e2ad1c5e0c3&j=724db6ef-a27f-5b54-bc41-0e2ad1c5e0c3&t=228179bb-5fc5-500b-1a8a-a25f640ced89
Raw logs: https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/50688/logs/99

[2020-09-09 06:32] JulieMei325 commented on #4027
Is there any update on this feature support?

[2020-09-09 07:42] bartebor opened #13021 "No regexp for UDP prometheus stats"
*Title*: There is no default regexp to extract UDP statistics

*Description*:
Envoy emits prometheus statistics like this:
[code]
while it should extract stat prefix and store it in a label:
[code]
It works as expected for TCP listeners.

As a workaround one can supply custom regex:
[code]
but it would be better to add this to `well_known_names.cc`, just like for TCP.

[2020-09-09 09:14] plallin commented on #13010
I will submit a PR for the doc enhancement fr status.

The `statusCode()` is what would be most useful I think. This is the only one from above that I would be using right now anyway. I would like to try and submit a PR for this.

[2020-09-09 09:21] ramaraochavali commented on #13009
FWIW,  https://github.com/envoyproxy/envoy/pull/6021  implemented 1 on the proposal above

[2020-09-09 09:45] dio commented on #11313
@mattklein123 for modifying proxied response (with non-2xx status), do you think it makes sense to have an `error_page` filter? (or to extend the local reply to work in response path; in Nginx, we need to turn on `proxy_intercept_errors` to let non-2xx proxied response to be handled by the proxy's `error_page` config).

I can see it can also be implemented in Lua (with some thinking on how to not

[2020-09-09 10:22] mk46 commented on #13021
@bartebor Are you working on this. If not then I would like to take up this.

[2020-09-09 10:24] zainhasib commented on #12999
Hi @htuch
Postman is an application to make HTTP requests : https://www.postman.com/

The xDS API server accept a post request from envoy that returns the route and cluster information, right? However, what we found was that any client can make request to the API server and fetch those information, so we are asking how can we block that access by anyone other than envoy itself?

[2020-09-09 10:48] snowp commented on #13009
This has always been a surprising thing so I think it would be great to address. Similarly to others I've solved this management server side by making the EDS version dependent on the CDS version.

Without going through all the historical context I recall there being a conceptual point about whether xDS resources are defined just by their name: if we already know the value of EDS for foo, when we

[2020-09-09 11:20] kkHAIKE commented on #12994
thx!

[2020-09-09 11:36] bartebor commented on #13021
@mk46 feel free to take this.

[2020-09-09 12:15] hsuyuming opened #13023 "Oauth2 extention not work"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Oauth2 extention not work*

*Description*:
Hi All:
When I try to follow  the instruction (https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filter

[2020-09-09 13:21] alyssawilk commented on #11308
I've been talking to @grzegorz-mirek about this and it turns out he needs to handle L7 HTTP, then encapsulate that in CONNECT, where previously we were talking about using the TCP proxy session to encapsulate CONNECT, which is a somewhat different thing.

I think the best way to do this long term would be to support TCP HTTP/1.1 CONNECT, then forward the normal upstream serialized HTTP traffic to

[2020-09-09 14:01] HappyCerberus opened #13027 "Example of C++ gRPC non-web load-balancing and sharding use case?"
*Title*: *Example of gRPC non-web load-balancing and sharding use case?*

*Description*:

[2020-09-09 14:48] markdroth commented on #13009
@mattklein123

I understand the need to provide a graceful migration here.  I can live with it taking a while as long as we do have a plan to get there and are actively moving toward that goal.  That way, when people ask about why gRPC and Envoy behave differently here, I can point to that plan and tell people that gRPC is already doing what Envoy will eventually do, and they should adjust their m

[2020-09-09 14:59] linsun commented on #12974
@ceastman-ibm  is this same issue as https://github.com/envoyproxy/envoy/issues/5998 or different?

[2020-09-09 15:23] abaptiste commented on #11266
Thank you for the comments.  These are the major themes I've captured:

- Define all JSON schemas using proto3 messages (this will be done as part of the MVP)
- We need a better authentication mechanism
- CI integration so that builds run nightly or upon master check-in
- Long term storage of results so that we can chart the performance of prior builds
- Ability to do performance runs complementin

[2020-09-09 15:27] ceastman-ibm commented on #12974
@linsun looks to be the same issue, ill close this one.

[2020-09-09 15:27] #12974 closed

[2020-09-09 15:28] #13011 closed

[2020-09-09 15:29] htuch commented on #13020
@lizan can we increase storage capacity?

[2020-09-09 15:34] htuch commented on #13023
@hsuyuming please do not report crashes in public issues without first clearing with envoy-security@googlegroups.com, the issue filing dialog is pretty clear about this. That said, this doesn't look security relevant as it's control plane.

@snowp @derekargueta @rgs1  any idea what might be going on here?

[2020-09-09 15:41] htuch commented on #13027
I'm not sure what you mean by sharding here, Envoy works as part of a sharded solution, but it's not itself a sharding solution.

I don't see an obvious example of what you're looking for in our existing overview, but you could start with just configuring Envoy for HTTP/2 ingress and egress, and then look at gRPC specific fields in the API. If you can contribute back an example when you have one t

[2020-09-09 15:45] #10641 closed

[2020-09-09 15:51] #12962 closed

[2020-09-09 16:28] mattklein123 commented on #13009
Regarding the @snowp comment (https://github.com/envoyproxy/envoy/issues/13009#issuecomment-689482632), I would much prefer we do (2) vs. (1). IMO this is more clear and also more akin to what @markdroth is talking about as xDS as a transport/caching layer. I also think that if we do (2), the TLS upgrade case "just works" since the hosts would get re-added, re-health checked, etc.

[2020-09-09 16:42] htuch commented on #13009
The one concern around building "caching" into the transport layer is that for endpoints, this could add a fair bit of memory overhead. On the plus side, it's only on the main thread and doesn't need to be multiplied by number of workers, but at O(10k) endpoints this could start to show up.

[2020-09-09 17:02] mattklein123 commented on #13009
Yeah this is fair, though I wonder with some config options we could allow the user to make their own trade-offs.

[2020-09-09 17:28] markdroth commented on #13009
It's not clear to me how this caching can really be optional.  The xDS protocol itself requires the client to keep state.  If we don't do that, we wind up violating the protocol, which is why the caching and the transport protocol are so deeply intertwined.

That having been said, there is no reason that the cached data needs to be in the form of the original protos.  If we convert the EDS resourc

[2020-09-09 17:40] asraa opened #13031 "extensions/watchdog coverage"
Hello,
The Envoy project has been collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, source/extensions/watchdog, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when you get a chance? Once this is

[2020-09-09 17:40] asraa opened #13032 "extensions/filters/network/http_connection_manager coverage"
Hello,
The Envoy project has been collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, source/extensions/filters/network/http_connection_manager, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when

[2020-09-09 17:40] asraa opened #13033 "extensions/filters/http/oath2 coverage"
Hello,
The Envoy project has been collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, source/filters/http/oath2, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when you get a chance? Once this is

[2020-09-09 17:46] asraa opened #13034 "extensions/transport_sockets/tls/ocsp coverage"
Hello,
The Envoy project has been collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, source/extensions/transport_sockets/tls/ocsp, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when you get a ch

[2020-09-09 18:00] dio commented on #5998
One way to fix this is to make `BufferWrapper` to be mutable (or probably introduce another class that allows mutation to the buffered data). A quick sketch on making wrapped buffer to be mutable: https://github.com/envoyproxy/envoy/compare/master...dio:mutable-buffer?expand=1#diff-dc19b516207df88d31bc3ee355d58ecaR41

Hence we can do:

[code]

Notice that we need to know the `content-length` in ad

[2020-09-09 18:04] mattklein123 commented on #11313
Sorry what is the use case here? To intercept upstream responses and translate them? This seems out of scope for local reply mapping?

[2020-09-09 18:05] mattklein123 commented on #11266
@abaptiste that list LGTM and also similar to our offline conversation. Thanks for working on this! This will be awesome.

[2020-09-09 18:11] dio commented on #11313
@mattklein123 True, sorry that I wrongly submitted the comment here 😅. Seems like I wanted to reply on this issue: https://github.com/envoyproxy/envoy/issues/12883.

[2020-09-09 18:20] dio commented on #12883
@tony-liuliu do you think you can make it available upstream? Thinking to have a wat to modify the proxied response (with non-2xx status), do you think it makes sense to have an [`error_page`](http://nginx.org/en/docs/http/ngx_http_core_module.html#error_page) "filter" similar to what NGINX has?  (in NGINX, we need to turn on `proxy_intercept_errors` to let non-2xx proxied response to be handled b

[2020-09-09 18:41] stevesloka opened #13037 "Proxying a request to an external DNS name that resolves in an IPv6 address, Envoy fails to route properly"
*Title*: When proxying a request to an external DNS name that resolves in an IPv6 address, Envoy fails to route properly

*Description*:
I have Envoy configured to accept a request over one domain name, then route the request out to another external domain name. When the external name results in an IPv6 address, the request fails with `503` error to the client. However, when the external name reso

[2020-09-09 19:42] moderation commented on #13037
I converted your example to v3 and it works for me. Returns a 301 as google.com redirects to www.google.com.  My guess is that your DNS doesn't resolve ipv6 addresses. Does `ping6 ipv6.google.com` work in your environment? I suspect adding `dns_lookup_family: V4_ONLY` to your cluster definition will get you working. See example at https://github.com/envoyproxy/envoy/blob/master/configs/google_com_

[2020-09-09 20:05] HappyCerberus commented on #13027
Hmm, OK, maybe my low understanding of front-end concepts is really leading me astray here.

This is our setup in a very simplified form (I will treat the front-end here as black box), all of this is gRPC, front-end is javascript, Layer 1, Layer 2 is C++:

- front end sends request to Layer 1 component, some of these requests result in stateful processing, so this traffic needs to be sharded
- Lay

[2020-09-09 20:06] mattklein123 commented on #11308
I just synced up with @alyssawilk on this offline so I think I understand all the permutations now.

It's pretty ugly, but as a stopgap would looping back to a local TCP listener work for your use case? You would essentially use connect_config to loop back to local Envoy. On that listener, you can do whatever you want, and then initiate a CONNECT upstream. We would still need to implement HTTP/1.1

[2020-09-09 20:15] lambdai commented on #11308
Also see #13001 for a concrete example of looping back to local listener configs. Thanks @wlhee

[2020-09-09 20:21] stevesloka commented on #13037
Hey thanks for the quick response @moderation! I was able to update the dns address family and that seems to do the trick!

[2020-09-09 23:32] NonStatic2014 commented on #12718
Get back to this thread with my finding.

I noticed that for each upstream cluster, if I set `tcpKeepalive` setting to some reasonable numbers, then the connection will be persisted and the tail latency in this case could much better than before.

So the follow-up questions would be: Is there any side-effect to make this change? Why envoy does not have this enabled by default?

Thanks!

[2020-09-10 00:06] nicktrav opened #13042 "Allow HTTP CONNECT proxying to route based on HTTP headers"
Currently, [`connect_matcher`](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-msg-config-route-v3-routematch) only supports matching on the HTTP `CONNECT` method.

I'd like to propose / request enhancing this matcher by allowing it to match on the other fields under a route's `match` config. Specifically, we'd like to be able to use the HTTP

[2020-09-10 00:18] snowp commented on #13009
I think there is some concern for possible bugs now and in the future due to reusing `Host` objects. Redoing the whole warming process (with a cached response) will ensure that the new hosts come up properly configured for the cluster, so there is some appeal to doing this.

That said, if the overhead of adding a caching layer might be good enough motivation to attempt to do the lower overhead but

[2020-09-10 00:19] mattklein123 commented on #13009
I would rather we not prematurely optimize. Per @markdroth I think we could translate to a memory optimized structure if required and throw away the proto. I would rather we do the caching approach since it does seem like the most correct solution and we can optimize it later?

[2020-09-10 00:26] nicktrav opened #13044 "HTTP/2 CONNECT implementation is possibly not compliant with h/2 spec"
This is a minor nitpick on some documentation I found for the CONNECT proxy behavior that doesn't like up with the HTTP/2 spec.

The existing documentation for [`connect_matcher`](https://github.com/envoyproxy/envoy/blob/50ef0945fa2c5da4bff7627c3abf41fdd3b7cffd/api/envoy/config/route/v3/route_components.proto#L438-L440) mentions this:

The h/2 spec has this to say in [section 8.3](https://tools.ie

[2020-09-10 01:25] antoniovicente commented on #12718
TCP keep alives do require periodically sending extra packets over the network.  There are costs, specially for endpoints that are part of mobile networks which may not have assigned dedicated channels 100% of the time.

What TCP keepalive parameters are you setting?

Also, where are your upstreams located?  Is it possible that there's a stateful NAT between the envoy and the upstreams that ends u

[2020-09-10 02:15] yangminzhu commented on #9376
@jiangtaoli2016

a policy will have only one action, the current RBAC filter puts the action in the filter level instead of policy level meaning all policies will have the same action, the order of policies doesn't matter.

By moving the action to policy level, we change the evaluation to use the action of the first matched policy, the order of policies now matter if you have both allow and deny a

[2020-09-10 02:30] howardjohn commented on #9682
Any updates? The node info from requests represents a sizeable amount of our network traffic

[2020-09-10 03:11] howardjohn commented on #12647
The only two options I can think of are:
* We could add another option like `strip_any_host_port`
* We could change domain matching to support `*.foo.com:*` in some way, whether that is allowing prefix+suffix wildcard or otherwise
But open to other ideas

[2020-09-10 06:05] zainhasib commented on #12999
Adding http redirect filter to xDS urls did the trick!

[2020-09-10 06:32] ramaraochavali commented on #13009
I agree with @htuch  on caching concern.

 My vote here would be to not  drive this by user config as it is purely an implementation detail and we will have to maintain two implementations.

I agree, Caching approach is the most correct, less riskier and more future proof (handles some use cases like TLS upgrade automatically) but we need to think about memory optimized structure for endpoints fro

[2020-09-10 09:08] mchomin commented on #9822
We ran into the same problem. In our case we decided to re-write the authorization service in plain HTTP and it works fine, i.e. we are able to get the raw bytes from the body now.

[2020-09-10 09:25] Agent-Tao opened #13046 "Alias issue in DeltaXDS，which can cause envoy send request, request, ack"
Alias issue in DeltaXDS，which can cause envoy send request, request, ack

*Description*:
if envoy add a watch for "redis_aaaaa" resource in deltaAPI,
the xds server response like this:
alias: redis_aaaaa
name:""

when envoy get this reponse，convertAliasWatchesToNameWatches will cause updateInterest.
but still can invoke CdsApiImpl::onConfigUpdate.
this strange thing is:
maybe_resume_eds = cm_.adsM

[2020-09-10 10:07] grzegorz-mirek commented on #11308
Thanks for all the replies. @mattklein123, do you mean something like that?

`client --> HCM --> TcpProxy --CONNECT over HTTP/1.1--> upstream proxy`

where `HCM` and `TcpProxy` are on the same Envoy instance.

@lambdai, that's a very good example. Thank you.

[2020-09-10 12:40] alyssawilk commented on #11308
Yes, that's exactly what we'd suggest for now.  It gets you L7 routing, HTTP/1.1 connect with full Envoy filter chain (in case you want to say encrypt the inner payload or outer CONNECT) and hopefully soon you can bypass the loopback listener and save some CPU with @lambdai 's virtual listener route.

[2020-09-10 13:02] irozzo-1A commented on #11308
@alyssawilk Would using UDS instead of a loopback listener to chain the two stages make sense as a small optimisation? I tried a similar approach [here](https://github.com/envoyproxy/envoy/issues/11569#issuecomment-645623588)?

[2020-09-10 13:15] alyssawilk commented on #11308
Yeah, using a pipe is fine too.  Either way it's basically using the kernel to do 2 passes through Envoy filter chains (one L4, one L7) and should work great.  Avoiding the kernel step just helps on performance.

[2020-09-10 13:21] jmarantz commented on #12901
Also, the config object can be used to hold connections to cache backends, or an in-memory map.

Actually I'm not clear how SImpleHttpCache works -- where does that get owned or connected to filters?

[2020-09-10 14:01] coders-kitchen opened #13047 "TLS handshake to upstream fails on CLIENT_HELLO"
*Title*: TLS handshake to upstream fails on CLIENT_HELLO

*Description*:
We are examining currently the usage of Ambassador on one of our Kubernetes clusters.
The cluster will run the WhatsApp business clients (https://developers.facebook.com/docs/whatsapp) and we need to expose endpoints for each WhatsApp business number running on the cluster.

While we're testing we faced the issue, that we can

[2020-09-10 14:25] #13020 closed

[2020-09-10 14:27] htuch commented on #13042
@alyssawilk WDYT?

[2020-09-10 14:28] htuch commented on #13044
@alyssawilk to clarify.

[2020-09-10 14:29] htuch commented on #13046
Can you elaborate on why you are using aliases for CDS? Typically aliases are reserved for VHDS.

[2020-09-10 14:39] alyssawilk commented on #13042
No objection on my part.  I think the problem was that all the other matchers assume the request has a path, and CONNECT HTTP/1.1 does not which is why @mattklein123 preferred separate matching entirely.  Extending the CONNECT matcher to do other header based matching SGTM as long as we're careful to continue supporting nonexistent paths :-)

[2020-09-10 14:43] alyssawilk commented on #13044
Totally fair point by the original RFC.  Envoy also supports extended connect:

https://tools.ietf.org/id/draft-mcmanus-httpbis-h2-websockets-02.html#the-extended-connect-method

On requests that contain the :protocol pseudo-header field, the
      :scheme and :path pseudo-header fields of the target URI (see
      Section 5) MUST also be included.

If you can think of a place to include links whi

[2020-09-10 14:56] nicktrav commented on #13044
Ah! This is great. TIL.

I'll see how the existing documentation could be enhanced. Thanks!

[2020-09-10 15:16] htuch commented on #13047
@ggreenway @lizan @PiotrSikora any thoughts?

[2020-09-10 15:51] kasini3000 opened #13049 "how to configuration RDS with Independent file ？"
*Title*: *how to configuration RDS with file？*

*Description*:

i use file base dynamic configuration with LDS
[code]
# how to configuration RDS with Independent file ？
Looks like there is no “path“ attribute in the route_config?
i mean:
[code]

Can you give an example?

#  ------------
## https://www.envoyproxy.io/docs/envoy/v1.14.4/configuration/overview/extension

[code]

[2020-09-10 15:56] ggreenway commented on #13047
I think the key is the server error message: `no shared cipher`. The server is saying that it has no cipher suites in common with what the client advertised as supported.

To understand why it's not working, look at the configured cipher suites on both the client and the server. Probably one of them is very restrictive. Also, check the version of TLS being used. TLS 1.3 has different rules for cip

[2020-09-10 16:31] cbdm commented on #12901
From my understanding, `CacheFilter` connects to the filter chain and uses an `HttpCache` implementation (in this case, `SimpleHttpCache`) to do inserts and lookups.
This will allow us to change how the cache logic is handled -- in-memory cache like `SimpleHttpCache`, or a remote cache (not implemented yet) -- without modifying the `CacheFilter`.

When we have multiple implementations for `HttpCac

[2020-09-10 16:34] cpakulski commented on #12988
@nehap4 I think it is correct. You application (web browser or curl) forms a connection to Envoy. Whatever your app sends, Envoy receives. BYTES_RECEIVED is number of bytes received from downstream (your app), and BYTES_SENT is the number of bytes sent to downstream (your app). The confusing part is that by looking from your app perspective, Envoy's BYTES_RECEIVED is what your app sent upstream to

[2020-09-10 16:41] jmarantz commented on #12901
Who constructs the SimpleHttpCache? Who destroys it?

[2020-09-10 16:41] mattklein123 commented on #13009
It just occurred to me that aren't we now storing the EDS protos for config_dump? So I think we already have the memory overhead issue? Should we start by just making sure we don't duplicate the data twice before optimizing further?

[2020-09-10 17:22] htuch commented on #13009
No, we rebuild EDS from host data, see https://github.com/envoyproxy/envoy/blob/419428a82945a1a2ab0ab48e054e76ee851c5450/source/server/admin/config_dump_handler.cc#L219. It would be higher fidelity to have these around in a cache.

[2020-09-10 17:22] coders-kitchen commented on #13047
Hi,

thank you for the swift reply.

I made a quick test to see which cipher suite is agreed between `curl` and the service.

My findings so far are

_cipher suite used_ : `ECDHE-RSA-AES256-GCM-SHA384`
_TLS version_ : `1.2`

using `curl -k --ciphers ECDHE-RSA-AES256-GCM-SHA384 https://localhost:9090` works completely fine

in contrast using envoy with this

    admin:
      access_log_path: /tmp/a

[2020-09-10 17:24] mattklein123 commented on #13009
OK, anyway, let's just consider the config_dump aspect when we implement so we don't duplicate data.

[2020-09-10 17:32] htuch commented on #13049
The path should be placed in the `config_source`, e.g.
[code]

[2020-09-10 17:49] ggreenway commented on #13047
It's hard to say what's wrong without knowing how your upstream (nginx) is configured. Check for things like whether you require SNI, supported EC curves, and any other TLS config. If that fails, I'd compare the working and non-working clienthello in wireshark and look for differences, and maybe cross-reference it with the serverhello to see what is being selected in the working case, to figure ou

[2020-09-10 18:51] coders-kitchen commented on #13047
hi,

thanks for the hints, we will investigate on this direction further :)

[2020-09-10 19:27] toddmgreer commented on #12901
SimpleHttpCache is a member of SimpleHttpCacheFactory, which is a member of
Registry::RegisterFactory<SimpleHttpCacheFactory, HttpCacheFactory>, which
is created as a static object at the end of
envoyproxy/envoy/source/extensions/filters/http/cache/simple_http_cache/simple_http_cache.cc.
(I can't remember why it doesn't use the equivalent REGISTER_FACTORY
<https://source.corp.google.com/piper///de

[2020-09-10 19:34] jmarantz commented on #12901
Interesting. I feel like Envoy process lifetime is not the best scope. E.g. I might push a config via xDS that changes the cache size, or maybe changes a cache namespace prefix to a cache instance that's shared by multiiple tenants.

I think there can be a cache factory which maps cache configurations to cache instances. I'm envisioning that we'd want multiple tenants within an Envoy to potentiall

[2020-09-10 19:50] travisgroth opened #13053 "Configurable multi-value header behavior in config.core.v3.HeaderValueOption"
*Title*: Configurable multi-value header behavior in `config.core.v3.HeaderValueOption`

*Description*:
Currently, when one specifies multiple `HeaderValueOption` protobufs with the same `HeaderValue.Key` in something like a `service.auth.v3.CheckResponse` message, the resulting header will be a single comma separated header per [rfc2616](https://tools.ietf.org/html/rfc2616#section-4.2).  However,

[2020-09-10 20:12] PiotrSikora commented on #13047
Per your description, both `curl` and NGINX are connecting to `localhost:9090`, but Envoy is configured to connect to `host.docker.internal:9090`. Maybe that's the issue?

[2020-09-10 23:00] coders-kitchen commented on #13047
Again thanks for the hints.

We found the root cause, the service is configured with `ssl.ec-curve = "secp384r1"`

Envoy is using as default either `X25519` and `P-256` or just `P-256` (https://www.envoyproxy.io/docs/envoy/v1.15.0/api-v2/api/v2/auth/common.proto)

changing the ecdh_curve setting to `P-384` solved the issue.

[2020-09-10 23:45] toddmgreer commented on #12901
CacheFilter certainly needs to support plugins like the form of
SimpleHttpCache that you propose, as well as plugins like the current
SimpleHttpCache.

As for what SimpleHttpCache should do, my preference is to keep it simple
by avoiding per-tenant caches (it's easier to just include tenant name in
the cache key), but I'm not dead set against it. It should probably support
changing cache size dyna

[2020-09-11 00:21] #9859 closed

[2020-09-11 00:21] #12140 closed

[2020-09-11 00:39] mhoran opened #13055 "HTTP/2 CONNECT does not return CONNECT_ERROR on upstream RST"
*Title*: HTTP/2 CONNECT does not return CONNECT_ERROR on upstream RST

*Description*:
I've have a downstream proxy that tunnels TCP via HTTP/2 to a backend service. Envoy is in front of the service and provides an HTTP/2 endpoint which supports the CONNECT method. The backend (Envoy upstream) service sometimes shuts down a connection by sending a TCP RST. According to the [HTTP/2 spec](https://htt

[2020-09-11 01:31] Agent-Tao commented on #13046
We do not intent to use alias, but some  people working on control plane who use alias instead of name by mistake which cause envoy  unusual behavior.  If aliases are for VHDS, should we add some check to prevent using it in other type of xds?

[2020-09-11 02:07] jmarantz commented on #12901
Definitely don't need to make SimpleHttpCache more complex, and expect there will be other HttpCache impls, all of which can be created and owned by the factory, based on the configs

[2020-09-11 02:39] tony-liuliu commented on #12883
Yes, I think this feature is very useful because our back-end services are provided by different languages, such as nginx, tomcat, nodejs, go. If you do not manually compile and configure them, their server information will expose it when an error is encountered, which is prone to insecure factors. Using proxy_intercept_errors like nginx to unify redirect errors seems very suitable for this scenar

[2020-09-11 04:27] jiangtaoli2016 commented on #9376
Having one action per rule is fine. However, making authorization decision based on the first matched rule is error-prone and is bad security practice. It conflicts with internal authorization and will cause more problems in the future. I recommend the following:

- If any DENY rule matches, permission is denied.
- Otherwise, if any ALLOW rule matches, permission is granted.
- Otherwise, if no rul

[2020-09-11 10:30] phlax opened #13058 "Add some docs for `verify_build_configs`"
## Add some docs for `verify_build_configs`

### Description

Since #12491 there is a test for `verify_build_configs`

Its not immediately obvious if you are adding a sandbox how this works, or even that it needs to be added

See here https://github.com/envoyproxy/envoy/pull/12549#issuecomment-690985275 for discussion

[2020-09-11 10:36] phlax commented on #13058
please assign this to me

[2020-09-11 10:58] pp-dsouzajude opened #13059 "How to get "response" data in the HTTP trace at the proxy level"
*Title*: *How to get "response" data in the HTTP trace at the proxy level?*

*Description*:
I have a service mesh setup using Envoy proxy as the data plane. Envoy is configured to send tracing data to `AWS X-Ray` on port 2000. In this setup I have two services `dashboard` and `counter` where the dashboard communicates with the counter service to increase the counter. The two communicate via the en

[2020-09-11 11:14] dio commented on #13058
/assign @phlax

[2020-09-11 12:52] aqua777 commented on #12997
@htuch this worked for me, thanks again for pointing me in right direction.

[2020-09-11 12:52] #12997 closed

[2020-09-11 13:43] dio commented on #12883
@tony-liuliu if you can help us with a design doc, I think I can help you with the implementation.

cc. @mattklein123

[2020-09-11 13:45] dio commented on #5998
@mattklein123 do you think it is OK to let `BufferWrapper` to wrap mutable buffer? Or probably you have other suggestions? Thanks!

[2020-09-11 14:54] HappyCerberus commented on #13027
After asking around, it seems that people are just treating gRPC as plain HTTP traffic.
I was pointed to this [method for injecting custom HTTP headers](https://grpc.github.io/grpc/cpp/classgrpc__impl_1_1_client_context.html#a723eca3a227cffa120108e3fce01c230).

Is this what you would recommend?

[2020-09-11 15:13] akonradi commented on #11427
I've written a short design doc, available [here](https://docs.google.com/document/d/1U6273uAr9m-wxLze23F43UYR2wk2-iZTAPDDJ4s_Q_8/comment) that discusses scaled timers, the recommended option, and alternatives. Please take a look, and feel free to leave feedback here or there.

[2020-09-11 16:31] mattklein123 commented on #13042
SGTM!

[2020-09-11 16:33] #13044 closed

[2020-09-11 16:35] mattklein123 commented on #13055
Thanks for raising this. Agreed this is a bug and we can fix. cc @alyssawilk

[2020-09-11 16:37] #13042 closed

[2020-09-11 17:48] wrowe commented on #11816
PR13063 is another example, which picks up the fix of

  CVE-2020-8231: libcurl: wrong connect-only connection

As Envoy does NOT use the affected CURLOPT_CONNECT_ONLY toggle,
this change simply satisfies overly-simplistic audits.

[2020-09-11 18:35] mattklein123 opened #13065 "testing tools for extauth/rbac/etc policies"
Inspired by https://twitter.com/fuzzyKB/status/1304180270858338309.

I think much like the route test tool, it would be useful to have some tools that can more easily test matching/rbac/extauth/jwt/etc. policies.

This would allow us to more easily write expectation style testing for different policies without having to stand up a full proxy and perform integration testing.

I'm imagining the abil

[2020-09-11 18:36] mattklein123 commented on #13065
cc @yangminzhu @kyessenov @snowp @envoyproxy/security-team

[2020-09-11 19:00] htuch commented on #13059
@marcomagdy @lavignes can you folks shed any light on this? Looks like the X-ray tracer does take into account the status tag.

[2020-09-11 19:11] htuch commented on #13046
I think you should definitely not be sending alias instead of name. It would make sense to add to Envoy some validation that aliases aren't being used outside of VHDS.

[2020-09-11 19:13] #10131 closed

[2020-09-11 19:19] dastbe commented on #13059
@pp-dsouzajude could you try Envoy 1.15? We can take a deeper look at this, but I'm suspecting that you are getting bitten by https://github.com/envoyproxy/envoy/pull/10834 which was merged and made available in the 1.15 release.

[2020-09-11 19:22] kyessenov commented on #12954
This is a bummer for federated xDS. Delegation dependency must be declared in the bootstrap.

[2020-09-11 20:16] htuch commented on #13027
What do you want to use the custom HTTP headers for?

[2020-09-11 20:26] HappyCerberus commented on #13027
Well, to insert the values that Envoy will use to shard / load balance based on.

[2020-09-11 20:37] htuch commented on #13027
Sure, that sounds reasonable.

[2020-09-11 21:01] eziskind opened #13068 "Envoy sometimes returns "upstream response timeout" before an upstream is associated with the stream"
In some of our customer access logs we can see some requests which failed with status code 504 and response code detail "upstream_response_timeout" but there is no upstream host associated with the request. Is this a bug or something that can legitimately happen? If an upstream host has been selected Envoy should be able to associate that host with the stream even if that host's connection pool is

[2020-09-11 21:01] eziskind commented on #13068
/cc htuch

[2020-09-11 21:03] eziskind commented on #13068
@htuch

[2020-09-11 21:04] eziskind commented on #13068
/cc @htuch

[2020-09-11 21:05] markdroth opened #13069 "fault injection: delayed request counts as active fault even after delay is finished"
When the HTTP fault injection filter triggers a delay for a request, that request continues to count as an active fault after the delay has elapsed.  It does not stop counting as an active fault until the request finishes.

For simple short-lived requests, that's probably fine, since the request will not last much longer beyond the end of the delay anyway.  However, for a long-lived stream (e.g.,

[2020-09-11 21:07] mattklein123 commented on #13069
Yeah agreed we should fix this. cc @Augustyniak @snowp

[2020-09-11 21:40] kryzthov-stripe opened #13070 "Transient 503 UH "no healthy upstream" errors during CDS updates"
**Title**: **Envoy briefly fails to route requests during CDS updates**

**Description**:
When a cluster is updated via CDS, we sometimes observe request failures in the form of HTTP 503 "no healthy upstream" with the `UH` response flag.
The membership total for the cluster remains constant throughout the update.
The membership healthy falls down to 0 shortly after the CDS update begins, then swit

[2020-09-11 22:44] mattklein123 commented on #5998
From a quick glance it seems reasonable. Let's discuss in code review? re: content-length, you should also be able to clear it and switch to chunk encoding if necessary. I would definitely have documentation/example about that.

[2020-09-11 22:52] mattklein123 commented on #13070
This sounds like another repeat of https://github.com/envoyproxy/envoy/issues/13009? cc @htuch @ramaraochavali @snowp

[2020-09-11 22:56] mattklein123 commented on #13053
Just to clarify, how did you reproduce this? The reason that I ask is that I think there is a doc bug for extauth and I think `append` defaults to false, not true in that case, so your example above would "set" vs. "append." In the routing case I think "append" does default to true:

https://github.com/envoyproxy/envoy/blob/108d2bcc884a0249eda26213e5dbdd0124134558/source/extensions/filters/common/

[2020-09-12 06:25] tharun208 commented on #10925
@lolin9, I am getting the same issue even though I set the `address.socket_address.protocol` to `UDP`

[2020-09-12 06:31] kasini3000 commented on #13049
it works,thank you very mach.

[2020-09-12 06:31] #13049 closed

[2020-09-12 08:41] #13027 closed

[2020-09-12 10:15] sstubbs commented on #9577
This will be a great feature. Currently I have to use nginx as a mail proxy but am trying to use istio everywhere I can.

[2020-09-12 10:33] pp-dsouzajude commented on #13059
Seems to be so! Unfortunately as of now, Consul only supports versions until v1.14.4 of Envoy, so I won't be able to test with the latest release of Consul, but they've told me that I can atleast try with the [dev](https://hub.docker.com/r/hashicorpdev/consul), so i'll give it a try and see if it works and get back to you on this unless you have some other workaround from the dockerized AWS X-Ray

[2020-09-12 11:29] pp-dsouzajude commented on #13059
@dastbe It works now. Thanks! I just upgraded to Envoy v1.15.0 and it solved the issue.

The trace looks beautiful now!

**Thanks a lot for this awesome piece of software!**

<img width="1099" alt="mesh-xray-trace" src="https://user-images.githubusercontent.com/61741037/92994583-dffba100-f4fb-11ea-86b4-820a1cec02bf.png">

[2020-09-12 11:30] #13059 closed

[2020-09-12 14:07] kiranmeduri opened #13071 "tracing: Sanitize custom annotations added to xray segments before publishing"
AWS X-Ray silently drops annotations with keys containing invalid characters. Currently keys need to be [alphanumeric with underscores allowed](https://docs.aws.amazon.com/xray/latest/devguide/xray-api-segmentdocuments.html#api-segmentdocuments-annotations). This causes problems with tags used by Envoy tracing functionality which have `.` in the key. For e.g. `grpc.status_code`, `grpc.authority`,

[2020-09-12 17:46] ejc3 commented on #12678
While slow start would be ideal, what we've done in our Kubernetes setup is before the readiness check succeeds for the first time, we send a good amount of local load (warm up url's) to the host.

[2020-09-12 20:42] #12520 closed

[2020-09-12 23:44] freeloyerkick opened #13072 "Missing Endpoints after ADS stream re-connection"
*Title*:  Missing Endpoints after ADS stream re-connection

*Description*:

We are using the more recent Envoy version (1.14.1) with most recent envoyproxy/go-control-plane as its ADS control plane. Recently we observed an production incident that, upon deployment of the control plane, some percentage of Envoys has empty endpoints for all known clusters (verified via Envoy /clusters endpoint, all