[2018-10-26 02:31] haoxinst commented on #4854
https://url.spec.whatwg.org/#concept-url-query

clients' behavior should follow the standards.

[2018-10-26 21:14] #4142 closed

[2018-10-26 22:49] jmarantz commented on #4196
Note that since I last run this test, the baseline per-cluster overhead has gone from 68k to 73k. I am not sure where that 5k went, unless a huge amount of stats were added.

Anyone listening have any ideas?

[2018-10-27 00:32] #4383 closed

[2018-10-27 00:39] tonya11en commented on #4826
That approach works for adding a single statistic that tracks whether a request is sent along that priority, so I'll just do that for now.

I really wish there was a better way to break out the top-level stats per-priority. For instance, I want `max_host_weight` broken down for each priority that contains hosts in addition to the value for all hosts in a particular cluster. It's not impossible to

[2018-10-27 02:44] zyfjeff commented on #4863
I am very interested in, I can come to fix the issue

[2018-10-27 02:44] #4619 closed

[2018-10-27 09:53] lizan commented on #4863
@zyfjeff Great, I think you can just run clang-tidy with `-fix` flag with the checks marked as error.

[2018-10-27 14:53] exiaohao commented on #4854
@mattklein123 I've reported issue to ***http-parser***, it would be great if you could help solve it, thx. question label is not suitable in this issue, enhancement label is better.

@haoxinst It's not just a scientific project, but a client-oriented product. As a service provider, we can give out a message explicitly rather than status 400.

[2018-10-27 19:47] #4478 closed

[2018-10-28 06:36] #4380 closed

[2018-10-28 16:19] snowp commented on #4405
Looking into this I'm realizing that there's already `/server_info` which kinda serves a similar purpose:

[code]

("live" will change to "draining" once `healthcheck/fail` is called). Maybe there should be a single endpoint with structured data about the server state? Would it make sense to redo `/server_info` to use a proto, or would we want to add a new endpoint that uses a proto that would eve

[2018-10-28 17:47] snowp commented on #4837
Happy to do the work for this if we're happy with the design, should be fairly straightforward. Would we want to guard this behind a configuration flag? It sounds like a sane default, but there might people relying on the existing behavior?

[2018-10-28 18:36] #4495 closed

[2018-10-28 23:08] mattklein123 commented on #4405
@snowp yeah there is no particular reason the output of this endpoint is this way. It could move to proto/json if you want to do the work. As long as people can use something like jq in scripting output to extract the data it's fine to change IMO.

[2018-10-28 23:47] JimmyCYJ commented on #4763
@myidpt @wattli may have more context about this.

[2018-10-29 02:41] #3429 closed

[2018-10-29 02:45] htuch commented on #4837
AFAIK, you're the only folks who have been specifically interesting in the intersection of subset LB and priorities, @zuercher do you know who else might be using this?

[2018-10-29 06:54] leader-us opened #4890 "ratelimit actions can't function correct"
When two header_value_match actions exists , envoy proxy will not generate any desccripter !

following is my config
__________________________________________
 virtual_hosts:
            - name: backend
              domains:
              - "*"
              rate_limits:
                - stage: 0
                  actions:
                    - header_value_match: {"descriptor_value": "loginuse

[2018-10-29 07:06] huxiaobabaer opened #4891 "[Question]Health check return 426 when sending request to envoy"
*Title*: *Health check return 426 when sending request to envoy*

*Description*:
I placed envoy in front of my application and listening port 8306.
It returns 200 when i use curl cmd to check health
`> curl -s -w %{http_code} -o /dev/null http://localhost:8306/apps/newlogin.do`
`200`

But when i added it to zeus load balance (Stingary) pool and configure health check , it returns 426
There is the

[2018-10-29 12:18] cvigo opened #4897 "Help Wanted: How to resolve this node affinity with Envoy?"
*Description*:

We provide some gRPC services that unfortunately have to have node affinity between `BeginTransaction` and `Commit` API Calls.

The Consumer API calls sequence is typically:

 1. `BeginTransaction()` returns `txnID`
 2. `DoStuff(txnID, moreParams...)`
 3. `DoStuff(txnID, moreParams...)`
 4. `...`
 5. `Commit(txnID)`

Consumers can be multithreaded processes that make simultaneous c

[2018-10-29 16:34] githubYasser commented on #4724
Hi ,

this works for me. I forwarding the request to fluentd service.

               ` inline_code :

                function envoy_on_request(request_handle)

                local body = request_handle:body()
                result = tostring(body)
                request_handle:logDebug(result)

                -- Make an HTTP call.
                local headers, body = request_handle:httpCal

[2018-10-29 16:50] zuercher commented on #4837
cc @rgs1, who is using subset lb iirc

[2018-10-29 16:57] rgs1 commented on #4837
@zuercher thanks for tagging, looking.

[2018-10-29 16:59] rgs1 commented on #4837
@htuch we (Pinterest) are interested too

[2018-10-29 17:35] myidpt commented on #4763
@lizan We don't have issue to track propagating secure naming info through SDS. While I think it's the right direction, I consider this not a short-term effort for Istio.

[2018-10-29 18:41] shivanshu21 opened #4899 "AsyncClient returned by httpAsyncClientForCluster() does not follow lb_policy defined for cluster"
*Title*: *AsyncClient returned by httpAsyncClientForCluster() does not follow lb_policy defined for cluster*

*Symptom*:
LB Policy configured on a test cluster is RING_HASH, and I observed it was honoured by all calls going through HTTP Connection manager.
But any Async call sent using AsyncClient returned by httpAsyncClientForCluster() from a filter is **not following the same LB policy**. Is thi

[2018-10-29 18:47] htuch commented on #4837
@rgs1 can you comment on how the above proposal would affect you?

[2018-10-29 18:55] rgs1 commented on #4837
cc: @fishcakez as well

[2018-10-29 18:59] mattklein123 commented on #4899
It does follow the LB policy, the issue is that AsyncClient/Stream doesn't correctly implement the hash policy interface. I think this should be pretty straightforward to fix by sharing the code w/ the normal router filter.

[2018-10-29 19:00] shivanshu21 commented on #4899
I want to take this up.

[2018-10-29 19:01] rgs1 commented on #4837
@htuch @snowp so scaling locality weight based on host presence due to subset LB matching sounds reasonable. Making it configurable also sounds reasonable (we could start with off by default, and then switch if over once we've gained confidence).

[2018-10-29 19:09] rgs1 commented on #4837
@snowp how would the `default_subset` policy affect this?

[2018-10-29 19:46] snowp commented on #4837
The `default_subset` itself is just another subset, so I'd imagine it would work exactly the same way as the subsets targeted using route metadata (ie it would also have its weights scaled by host presence)

[2018-10-29 20:51] ngrigoriev opened #4900 "[question] streaming gRPC requests or responses and JSON transcoder"
*Title*: *Is it possible to deal with the streaming gRPC requests or responses using JSON transcoder and avoid buffering?*

*Description*:
JSON transcoder seems to be doing a great job of, essentially, allowing people to have a service that only implements gRPC-based API to be accessible via both gRPC and REST/JSON. As we know, gRPC has a streaming feature that can be used for the request, respons

[2018-10-29 20:56] alyssawilk commented on #3250
Ok, first in what is I'm sure a very long series of design choices here, do we recreate the filter chain or rerun?

I'm inclined to recreate.  Where I suspect we will eventually want to allow a given filter to pass information from the first pass to the second pass, I don't think folks are going to correctly make every filter redirect-aware, and so I think creating and re-running the chain "from s

[2018-10-29 21:03] taion809 commented on #4637
Hey,
I was able to reproduce this reliably.  The filter in question is this: [ext-authz http filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/ext_authz_filter.html) and not the network filter of the same name.

Given the following sample envoy config
[code]

I issued the following http request

[code]

The following packet dump was generated by running

[code]
The ip

[2018-10-29 21:07] mattklein123 commented on #3250
+1 recreate.

[2018-10-29 21:09] rgs1 commented on #4837
@snowp sorry, i meant the `fallback_policy` when using `ANY_ENDPOINT` — would that mean disabling scaling locality based on subset LB matching?

[2018-10-29 21:26] rislah opened #4901 "Prefix rewrite and prefix"
For some reason I can't get it working.

[code]
I'm trying to forward `/prefix/hello => /hello` or `/prefix => /`

Envoy shows this:
[code]
its throwing 404 because for some reason its doing `/prefix/hello => //hello`.

Whats the proper way to do it? Thanks

[2018-10-29 21:33] draeron commented on #1947
What's the update on this issue? we're using prometheus and right now (using version 1.9.0-dev-8629ef783) and it's not possible to graph latency since `cluster.<cluster>.upstream_cx_length_ms` is not exported.

[2018-10-29 21:41] lizan commented on #4900
This is right, while

is not always true. The gRPC-JSON filter converts each array element (gRPC frame) when they are available and send to upstream/downstream. In HTTP/2 this will be DATA frames, in HTTP/1.1 this will be chunked transfer encoding.

[2018-10-29 22:30] misterwilliam opened #4902 "unhealthy_interval doesn't work"
*Title*: *unhealthy_interval doesn't work*

*Description*:

For health check config:
[code]

I expect a TCP connection attempt every 0.1 seconds for an unhealthy backend. It looks like it is happening every 1 minute.

*Repro steps*:

1.  I created a health check config like the following:
[code]
     As a reverse proxy to port 8080
[code]
1.  Launch Envoy.
1.  Run tcpdump on 8080
[code]
1.  Look a

[2018-10-29 22:32] snowp opened #4903 "Exclude connection setup in per try timeout"
We've been seeing per try timeouts trigger needlessly during boot due to per try timeout being less than the connection setup (including TLS). To get around this, we need to increase the per try timeout to the point where it becomes meaningless for some of our fast endpoints.

It would be nice to be able to specify the per try timeout for the request/response itself, not including the connection s

[2018-10-29 22:38] snowp commented on #4903
To exclude the connection setup I can imagine starting the timeout timer in `onPoolReady` instead of doing it when the entire downstream request has been written to `UpstreamRequest`

[2018-10-29 22:44] ngrigoriev commented on #4900
@lizan

But a chunk does not really mean a complete fragment, while MIME part does. In HTTP/2 case it would be just a bunch of DATA frames carrying a complete protobuf message.

Anyway, the next question is: does the transcoder buffer the entire message or sends the data as it comes? Lets consider the example when the server sends back a gRPC stream - stream of protobuf messages. Will transcoder w

[2018-10-29 22:49] mattklein123 commented on #4903
@snowp yes this seems reasonable.

[2018-10-29 23:00] mattklein123 commented on #4128
@klarose sorry for the delay. I took an initial pass through the document. My main initial feedback is in how we think about composing the connection pools, and how we can make this work for SNI based transparent routing also which has been a long requested feature. I should be more responsive to doc comments now so we can go back and forth as needed. Also happy to discuss on the next community ca

[2018-10-29 23:03] snowp commented on #4903
Would the best approach here be to add another header to set the new timeout?

I'll be working on this, this is pretty high priority for us.

[2018-10-29 23:07] mattklein123 commented on #4903
No, I would probably just start the per-try timeout in onPoolReady instead of where it is being set now. I think that's probably fine. I don't think you need a new header. Note that this won't help with H2, since onPoolReady returns immediately IIRC.

[2018-10-29 23:12] snowp commented on #4903
How would one approach this for H2 then?

[2018-10-29 23:17] lizan commented on #4900
@ngrigoriev It would buffer each message in the stream, but not the entire request/response. It wouldn't wait for end of stream before sending out first byte in streaming case.

[2018-10-29 23:18] mattklein123 commented on #4903
I can't think of anything other than changing the h2 connection pool to have logic as to whether there is a connected primary connection, and if not, having a pending request queue like we do for h1. Then you would also do the change of starting per-try-timeout in onPoolReady() while leaving the overall timeout to include everything including possible connection. IMO this makes the most sense, but

[2018-10-29 23:47] mattklein123 commented on #4854
I'm going to go ahead and close this as won't fix as it's against RFC spec. If you can convince http-parser to change (extremely doubtful) we can revisit.

[2018-10-29 23:47] #4854 closed

[2018-10-29 23:49] mattklein123 commented on #1947
Current status is someone needs to work on exporting histograms in a format that Prometheus expects.

[2018-10-29 23:57] snowp commented on #4903
@mattklein123 Just to clarify: are you suggesting just modifying the existing behavior? Or introduce an option on the retry policy to specify this? I read it as just modifying the existing behavior, but that will involve straight up deleting existing tests that cover the case where the connect times out, so I wanted to check first.

[2018-10-30 00:00] mattklein123 commented on #4903
I'm OK with just modifying the existing behavior (and release noting it) since I think what you are proposing makes more sense for the intention of the timeout, as long as the outer timeout continues to cover the entire thing. @envoyproxy/maintainers any opinions here?

[2018-10-30 00:03] stevesloka commented on #1947
I'd be happy to help out on this and work on it but would need some tips/pointers of where to integrate (I don't know the internal code base of Envoy all that well, but happy to learn).

[2018-10-30 00:06] postwait commented on #1947
One must be able to specify the bins for the export so that we can degrade the internal histogram into the form.  Once that configuration is in place, I'm happy to provide pointers as to how to munge a circllhist object into those summaries.

[2018-10-30 00:07] postwait commented on #1947
Another option which I've seen people successfully do it just expose all of it.. it only ends up being a hundred or so bin boundaries on average.   I know people doing that with prom.

[2018-10-30 00:09] lizan commented on #4455
Sorry I didn't have a chance to revisit this. On a second thought, with current RBAC filter we at least need add destination cluster `rule` to make this easy. With that it will be fairly easy to setup RBAC rules to prevent traffic to certain cluster, without complexing RBAC rules due to route configuration etc.

[2018-10-30 00:14] stevesloka commented on #1947
@postwait, aren't the histograms already calculated and exposed over `/stats` and just need the Prometheus endpoints? I see the histogram data there which is why I thought maybe it was just a formatting thing to expose the interface (but I could be over simplifying).

[2018-10-30 00:18] postwait commented on #1947
I don't think they are exposed, did I miss that commit?!  I thought it was just summary information.

I think @redhotpenguin is looking at getting that part to work.

[2018-10-30 00:40] ngrigoriev commented on #4900
Thanks for the clarification, I am going to try it this way to see how it behaves. Probably will post a little demo :)

[2018-10-30 01:36] huxiaobabaer commented on #4891
Any suggestion to solve this?
According to `'user-agent', 'HTTP-Monitor/1.1'`, it is NOT http1.0.
Thanks in advance

[2018-10-30 02:02] htuch commented on #4763
@PiotrSikora could we just use merge semantics and have both an SDS and LDS delivered CertificateValidationContext?

[2018-10-30 03:59] ramaraochavali commented on #4855
@mattklein123 Sorry for the delay here. Assign this to me,  I will come up with a proposal and follow up with the implementation whenever I get time.

[2018-10-30 04:14] snowp commented on #4837
@rgs1 `ANY_ENDPOINT` is just a subset with a predicate that matches anything, so the resulting weights should be unaffected by the proposal. Each locality will retain all its hosts, so no adjustment is made.

[2018-10-30 04:52] redhotpenguin commented on #1947
`/stats/` exposes the calculated quantiles, but not the bin counts.

From my dev instance:
`cluster.service1.external.upstream_rq_time: P0(nan,13) P25(nan,13.25) P50(nan,13.5) P75(nan,13.75) P90(nan,13.9) P95(nan,13.95) P99(nan,13.99) P99.5(nan,13.995) P99.9(nan,13.999) P100(nan,14)`

I'm working on exposing the log linear histogram data serialized in a stats sink. Have been trying to wrangle baze

[2018-10-30 05:03] tak2siva commented on #4902
@misterwilliam Is there a traffic on this upstream cluster ? If not `no_traffic_interval `(default 60 sec) will kick in.

@mattklein123 If its not the above case. Can you assign this to me ? will look into it

[2018-10-30 05:12] ramaraochavali commented on #1947
The existing Metrics Service, currently exposes Quantiles only via the gRPC end point. But it is very easy to add the bin support as it follows the Promotheus proto. You should change here https://github.com/envoyproxy/envoy/blob/master/source/extensions/stat_sinks/metrics_service/grpc_metrics_service_impl.cc#L64 to do that. ParentHistogram has the log linear histogram. You can expose it via Paren

[2018-10-30 07:04] itayd commented on #2797
PR out for documenting currently supported behavior: https://github.com/envoyproxy/envoy/pull/4906

Next up activity and rekick-circle bot.

[2018-10-30 07:07] itayd commented on #2797
might as well

/assign @itayd

[2018-10-30 13:16] klarose commented on #4128
@mattklein123 Thanks for taking a look! It looks like you almost got to the fun stuff -- namely the proposal. I'd really appreciate it if you could comment on that part -- the high level and detailed design. It's not quite complete yet, but I think it gives a good overview of what I plan on doing. If you think I'm on the right track there, I'll finish it off with the current strategy. Otherwise, I

[2018-10-30 13:50] alyssawilk commented on #4903
I think we can get away with it for now but in the long run we should probably have policy around non-breaking but behavior altering changes.  I don't want to spam envoy-announce to the point folks filter it out but we don't have a good way of engaging folks running envoy in production who might prefer the existing behavior and might want to weigh in asking for a config option or even an easy way

[2018-10-30 15:01] bansalrajat opened #4909 "Can i use envoy to serve the static content .Can i use envoy as web server"
**Issue Template**

*Title*: *One line description*

*Description*:

describe the desired behaviour, what scenario it enables and how it
would be used.

[optional *Relevant Links*:]

**Bug Template**

*Title*: *One line description*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

*Repro steps*:

required to reproduce the bug.

gathers a tarba

[2018-10-30 15:43] mattklein123 commented on #4903
@alyssawilk agreed. In this case, I think the new behavior is better than the old behavior in all cases, which is why I recommended that we just change it, but am happy to revisit if folks think that is not the right way to go.

[2018-10-30 15:50] mattklein123 commented on #4455
Agreed. This is generally useful. Please add!

[2018-10-30 16:02] qiwzhang commented on #4763
@htuch I like this idea.

[2018-10-30 16:07] mattklein123 commented on #1947
For whoever wants to work on this, here are some code references. I don't think this is too hard to finish, someone just needs to dig in:
1) https://github.com/envoyproxy/envoy/blob/master/source/server/http/admin.cc#L620
2) For an example of how histograms are written out for other things see the gRPC code that @ramaraochavali referenced above or also here: https://github.com/envoyproxy/envoy/blo

[2018-10-30 16:30] cpakulski commented on #3643
Work in progress.

[2018-10-30 17:19] aschran commented on #4902
@tak2siva I think the suggestion here is that when `no_traffic_interval` is not set, then if upstream has never yet passed a health check successfully, `unhealthy_interval` should apply. Does that match your understanding? Or are you saying that there is no way to disable `no_traffic_interval`, and if it's not explicitly set then it will be treated the same as if it were explicitly set to 60 sec?

[2018-10-30 17:22] mattklein123 commented on #4128
@klarose sorry I stopped reading when I did. Yes it sounds like we are on the same page with the 2-level connection pool. My main comment is that I think we can pass LbContext into the CP stream creation function and everything will come together super cleanly across both TCP and HTTP. Assuming you agree this all sounds good to me at a high level.

[2018-10-30 17:30] vladimir22 opened #4912 "jwt_authn filter configuration issue"
**question**

*Title*: * jwt_authn filter : Jwks remote fetch is failed *

*Description*:

I am trying to use different remote_jwks hosts  (internal and www.googleapis.com/oauth2/v1/certs) and in every case I am getting response : "Jwks remote fetch is failed"

Request Example:

curl http://localhost:8000 --header "Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6ImxlZ2FjeS10b2tlbi1rZXkiLCJ0eXAiO

[2018-10-30 17:40] vladimir22 commented on #4912
inside proxy_1 container jwks host  is accessible:

# curl -k https://www.googleapis.com/oauth2/v1/certs
{
  "728f4016652079b9ed99861bb09bafc5a45baa86": "-----BEGIN CERTIFICATE-----\nMIIDJjCCAg6gAwIBAgIIXr5QVQhpB3kwDQYJKoZIhvcNAQEFBQAwNjE0MDIGA1UE\nAxMrZmVkZXJhdGVkLXNpZ25vbi5zeXN0ZW0uZ3NlcnZpY2VhY2NvdW50LmNvbTAe\nFw0xODEwMTYxNDQ5MTFaFw0xODExMDIwMzA0MTFaMDYxNDAyBgNVBAMTK2ZlZGVy\nYXRlZC1zaWdub24uc3l

[2018-10-30 18:10] misterwilliam commented on #4902
@tak2siva what @aschran said is correct. There was no traffic on this upstream cluster. I was hoping that if `no_traffic_interval` was not set set, and the upstream cluster is unhealthy. The `unhealthy_interval` would apply.

[2018-10-30 18:28] qiwzhang commented on #4912
There are two problems.

1) fetching JWKS fails.  You need to use TLS.  cluster googleapis_cluster need to setup TLC certificate to enable TLS.

2) For now,  JWT filter doesn't support this type of JWKS.  It only supports "RS256" and "ES256".  Its JWKS looks like this file:  https://github.com/google/jwt_verify_lib/blob/master/src/jwks_test.cc

[2018-10-30 18:49] flands commented on #4642
@mattklein123 @objectiser apologies on the delayed response. I am attaching the Envoy configuration as requested. While sanitizing the data, I noticed the following configuration for the auth service:

[code]

[2018-10-30 20:05] alexgervais commented on #4642
To add on @flands comment about the need for `start_child_span`;

`{"start_child_span": true}` was added so Zipkin "Client Send" and "Client Receive" events are generated in child spans by Envoy, even if the remote downstream service does not implement tracing.

Such is the case with our dummy "echo" egress route:
<img width="788" alt="start_child_span" src="https://user-images.githubusercontent.c

[2018-10-30 20:06] snowp opened #4916 "Reduce boilerplate and enforce InSequence in RouterTest"
The tests in `RouterTest` (test/common/router/router_test.cc) are very verbose and hard to work with. We should 1) reduce the amount of boilerplate necessary and 2) use `InSequence` in every test.

[2018-10-30 20:36] #4568 closed

[2018-10-30 20:40] arianmotamedi opened #4919 "CORS headers missing from response"
I'm trying to add a CORS policy to my only virtual_host in the ingress listener:

[code]

Based on [implementation details](https://github.com/envoyproxy/envoy/issues/300#issuecomment-296796675) for CORS, having this should allow me to do an OPTIONS request and get a 200 OK back with the corresponding CORS headers in the response. However, it looks like my OPTIONS request is bypassing this filter

[2018-10-30 20:55] mattklein123 commented on #4919
@codesuki @dschaller

[2018-10-30 21:02] #2370 closed

[2018-10-30 22:07] junr03 opened #4921 "websocket upgrade on a per route basis"
*Title*: *websocket upgrades cannot be done on a per route basis*

*Description*:
https://github.com/envoyproxy/envoy/pull/4745 removed `use_websocket` from the route config. This means that now websocket upgrades are now only configurable on a http conn man basis. In order to preserve functionality envoy would need to allow upgrades on a per route basis.

[2018-10-30 22:10] mattklein123 commented on #4921
@alyssawilk are you able to take this one? IMO we should have capability here to what we had previously?

[2018-10-30 22:10] junr03 commented on #4921
@alyssawilk @mattklein123 opening this issue to track what I was talking to both of you today. For Lyft, the current state is ok. However, I am not sure if anyone else in the community was dependent on this feature. This deprecation removed existing functionality, rather than just deprecating the field.

[2018-10-30 22:46] mattklein123 commented on #2557
Alright folks, here is a small update after a meeting that I had with the Google QUIC folks today:

- Google is working on a new library called QUICHE (spelling?) which is the Chromium QUIC code pulled out into a dedicated public GH library. This work is already scoped and being actively worked on. Once the code gets pulled out we can fan out the work to help implement various Envoy platform abstr

[2018-10-30 22:50] shivanshu21 commented on #4899
@mattklein123

I Looked into the code to find ways of implementing hash policy interface in AsyncClient/Stream. HashPolicy is available in route entry as seen before. But it appears like AsyncClient does not receive any information on route or route entry during construction. Route and RouteEntry are a part of StreamDecoderFilterCallbacks. AsyncClient is constructed inside ClusterManager where thi

[2018-10-30 22:52] conqerAtapple commented on #2557
Is there a work item/plan for the the abstraction layer for QUIC? This is so that we can hook in different implementations of QUIC.

[2018-10-30 23:01] codesuki commented on #4919
Did you add the CORS filter to the `http_filters` list?
Similar to this.
[code]

[2018-10-30 23:17] mattklein123 commented on #2557
I think this falls under the "Envoy QUIC listener, HCM, filter stack" item in which we will get an MVP of QUIC/TLS/H2 termination working. As part of this work we will create an interface much like the existing HTTP codec to hide the actual QUIC code from the rest of Envoy, which should make it theoretically possible to swap in a different QUIC implementation if desired.

[2018-10-30 23:29] mattklein123 commented on #4899
I don't think that is the way to go. Ultimately, the router filter will call back into the AsyncStream for all of the things that it needs when constructing its LBContext. You will need to plumb out the various data that it expects such that the computations look normal to the router filter. Unless I'm missing something I think this should be fairly easily doable.

[2018-10-30 23:29] dschaller commented on #4919
It appears you're missing the `Access-Control-Request-Method` header in your options request

[2018-10-30 23:36] PiotrSikora commented on #3404
You're invoking Bazel in a bit weird way, you should be able to simply call `bazel build //source/exe:envoy` from Envoy's directory.

But if the error persists, then perhaps, as the error suggests, the issue is with `~/.cache/bazel` being on NFS, so you might try to put your cache elsewhere, e.g. keep it in `/tmp` with:
[code]

BoringSSL is build and statically linked during Envoy's build process,

[2018-10-31 00:20] qiwzhang opened #4924 "Not to send x-forwarded-for header for AsyncClient"
*Title*: Not to send x-forwarded-for header for AsyncClient

*Description*:

The referred code is [here](https://github.com/envoyproxy/envoy/blob/master/source/common/http/async_client_impl.cc#L125)

X-FORWARDED-FOR is supposedly to be added for a forwarded request. But AsyncClient is for the requests originated by Envoy, not forwarded.   So it should not be added.

Background.  We are trying to f

[2018-10-31 00:30] lizan commented on #4912
for 2, you can just use https://www.googleapis.com/oauth2/v3/certs , this is in JWKS format.

[2018-10-31 00:39] lizan commented on #4897
This sounds like a case when you want use gRPC streaming. If you use gRPC streaming by aggregating the API calls with same txnId into one gRPC stream, then they will be routed to same node behind Envoy.

[2018-10-31 01:52] qiannawang opened #4925 "Can or should decodeData() be triggered before decodeHeaders() continues?"
**Issue Template**

*Title*: Can or should decodeData() be triggered before decodeHeaders() continues?

*Description*:
By reading both the comment of FilterHeadersStatus::StopIteration [1] and HCM code [2], it looks like a continue from the decode data (i.e., FilterDataStatus::Continue) will trigger the iteration to the filter chain. This made our Envoy binary crash because we called both FilterDa

[2018-10-31 02:40] mattklein123 commented on #4925
Yes you should not call continue twice. Please feel free to add whatever documentation/asserts/etc. would have helped avoid this.

[2018-10-31 02:42] mattklein123 commented on #4924
This must be configurable. Envoy itself uses x-forwarded-for to determine internal/external status. The reason x-forwarded-for is added is so that the call is effectively forwarded on behalf of the local host.

This has come up before and IMO the GCP metadata server is broken, but I'm guessing you can't fix that. It's a shame we would have to make this configurable but I think that is what will be

[2018-10-31 02:43] codesuki commented on #4919
Good catch!

[2018-10-31 02:50] qiannawang commented on #4925
Did you mean it is an expected behavior that FilterDataStatus::Continue from decodeData() to trigger decodeHeaders continue? If yes, can you provide an example or the motivation of this use case?

[2018-10-31 02:53] mattklein123 commented on #4925
No, it's just a programmer error that is not being asserted on, failed, etc. There should be more asserts, etc. added to the HCM code. In general the HCM code is light on error checking of bad filter behavior (there are various relevant TODOs in the code).

[2018-10-31 03:11] qiannawang commented on #4902
+1. I would expect unhealthy_interval is independent from the other interval settings and the traffic amount. In particular, it would apply no matter there is traffic or not or whether no_traffic_interval is set or not.

[2018-10-31 03:20] snowp opened #4926 "Expose downstream cert details in gRPC access logs"
We're interested in having downstream cert details (OUs, CNs, SANs) be included in the gRPC access log. We'd be interested in both sides of the TLS handshake, so we want details about both the client cert used to establish the connection and details about the server cert that was used by Envoy.

To accomplish this, we'd probably have to expose either the `Ssl::Connection` or some smaller data stru

[2018-10-31 03:36] mattklein123 commented on #4925
And sorry, I misread this. Yes, this is expected behavior. The use case here is that you filter wants to stop filter iteration until it looks at body (and possible change body) and then continue iteration to subsequent filters, which most get headers, then data, etc.

The idea is that you only call continueDecode/Encode if you are doing it from an async callback, and not from within a filter direc

[2018-10-31 03:44] qiannawang commented on #4925
Thanks for the explanation of the use case. I will take my proposal back of simplifying the filter. It makes sense to depend on the developer to make sure no more than one continue. Adding more assert would help though.

[2018-10-31 03:44] #4925 closed

[2018-10-31 03:57] lizan commented on #4926
This sounds reasonable, while `Ssl::Connection` is named "connection", it is actually a bunch of properties of TLS connection info after I factored out transport socket. So we can just rename it and put into StreamInfo/FilterState (TLS transport socket should be able to write it with "write once" semantics).

[2018-10-31 04:52] conqerAtapple commented on #2557
Great! Thanks for setting this up Matt.

[2018-10-31 08:44] #4827 closed

[2018-10-31 08:44] #4891 closed

[2018-10-31 12:53] vladimir22 commented on #4912
Thank you very much, you helped me to find the local problem.

If you want I can try to make PR changes to [Remote JWKS config example](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/jwt_authn_filter#remote-jwks-config-example)

in [this ](https://github.com/envoyproxy/envoy/blob/master/docs/root/configuration/http_filters/jwt_authn_filter.rst) file:

or you can do it by yo

[2018-10-31 12:53] #4912 closed

[2018-10-31 13:46] thorsten-avaya commented on #3404
Thank you @PiotrSikora for your quick response.  I removed the cache and linked it to the local fs, as you suggested.  Unfortunately the same problem persists (Good news - I no longer see the NFS issue):

git clone https://github.com/istio/envoy
cd envoy
bazel build //source/exe:envoy
...
INFO: Repository rule 'com_github_golang_protobuf' returned: {"remote": "https://github.com/golang/protobuf",

[2018-10-31 15:26] arianmotamedi commented on #4919
Unfortunately still not working even with the `Access-Control-Request-Method` in the request header. Here's my full listener config (converted to yaml for readability):

[code]
I'm referencing `envoy.cors` as part of `http_filters` in `envoy.http_connection_manager`. Does it need to be defined elsewhere?

[2018-10-31 15:33] qiwzhang commented on #4912
@vladimir22 please file a PR to submit your config sample.  It will really help others.

[2018-10-31 15:50] qiwzhang commented on #4924
In that case, we will try to work around this problem without this change from Envoy.

[2018-10-31 15:59] gsagula commented on #4637
@taion809 Thanks for reporting it.

@mattklein123 I'm currently working on this enhancements for ext-authz. I can either include this fix to https://github.com/envoyproxy/envoy/issues/4756 or, if preferable, I can tackle it separately when I finished 4756.

[2018-10-31 16:14] mattklein123 commented on #4637
@gsagula separate PR preferred please!

[2018-10-31 16:37] gsagula commented on #4445
This issue is being worked based on the discussion here:
https://docs.google.com/document/d/16U0i_X4iO8kqjUtrqMd-LgNEFzwAXzqn4JBH-cOx3Aw/edit?usp=sharing

[2018-10-31 16:47] mattklein123 commented on #4855
IMO I think option 1 is better. I really don't think we should be default retrying rate limiting requests.

[2018-10-31 17:33] mattklein123 commented on #4528
I think this is done. I will file a follow up issue to reconcile FilterState w/ dynamic metadata.

[2018-10-31 17:33] #4528 closed

[2018-10-31 17:35] mattklein123 opened #4929 "Reconcile filter state and dynamic metadata"
See started PR here as well as discussion: https://github.com/envoyproxy/envoy/pull/4873

At minimum we need clear docs on when to use each one. Optimally we would merge them. I have some thoughts on how to do this and can work on this if no one gets to it first.

cc @rshriram @htuch

[2018-10-31 17:47] mattklein123 commented on #4832
Fixed.

[2018-10-31 17:48] worldwise001 commented on #4926
I am happy to take this over from @snowp instead since I made the original request to him, and am willing to take a crack at this.

[2018-10-31 21:00] codesuki commented on #4919
No. That is correct.

[2018-10-31 21:46] qiwzhang commented on #4924
@htuch Thanks. I re-open it then.  But I may not have time to work on it since I have a work around.

[2018-10-31 22:15] htuch commented on #4925
@mattklein123 this use case is pretty subtle and not very obvious to filter authors. How can we make this flow clearer?

[2018-10-31 22:17] mattklein123 commented on #4925
As I already mentioned I think we can have more asserts when filters do the wrong thing as well as more verbose documentation.

[2018-10-31 22:47] snowp commented on #4926
/assign @worldwise001

[2018-11-01 00:53] dio commented on #1947
Hey @stevesloka, are you working on this?

[2018-11-01 01:41] stevesloka commented on #1947
No I have not, if you have cycles fee free to take it. If not I can try soon, my week has gotten away from me.

[2018-11-01 10:19] vladimir22 commented on #4912
I've created simple [PR](https://github.com/envoyproxy/envoy/pull/4934),  please check it

[2018-11-01 10:20] dkharrat commented on #3383
I've run into this issue as well. In my opinion, this issue makes handling error messages with REST clients quite inconvenient. There are two aspects to providing error details to REST clients:

  * Error Message (provided by `grpc-message`, and maps to [this Status field](https://github.com/grpc/grpc/blob/master/src/proto/grpc/status/status.proto#L87))
  * Error Details (provided by `grpc-status-

[2018-11-01 11:40] dio commented on #4618
I think I'll try to fix this with multiple PRs, started from docs and examples.

I discovered this: https://github.com/hashicorp/consul/issues/4853 and also the integration tests make use `cluster->hosts()/mutable_hosts()` so I'll convert that later.

[2018-11-01 11:49] yob opened #4936 "nan appearing in /stats histogram values"
We've deployed contour 0.7 as an ingress controller on GKE, which uses envoy 1.7.0. We also run the datadog agent in the cluster to collect metrics, and have configured it to collect envoy metrics using the `/stats` endpoint.

Most data that's returned in the `/stats` response is appearing in datadog, however most of the histogram data does not. Here's a snapshot of the histogram data: note the `n

[2018-11-01 11:51] objectiser commented on #4642
@flands Would it be possible to provide an updated version of the [JaegerTracing sandbox example](https://github.com/envoyproxy/envoy/tree/master/examples/jaeger-tracing) to include the authentication service call?

The example config you provided does not include any of the X-B3-* headers in the allowed headers, so I don't understand how the authentication service would be able to participate in

[2018-11-01 14:44] arianmotamedi commented on #4919
@codesuki boom, that was it. I was using an origin different than the one listed in my config, and my lack of understanding in how CORS works expected me to see Envoy returning some sort of error (saying origin doesn't match or something like that), which is not the case. Passing in an origin that matched the config returned a 200 OK with all the other access-control headers in the response, as ex

[2018-11-01 16:21] arianmotamedi commented on #4919
Ok, I might have found a legit (but minor) bug though: it looks like for `allow_origin_regex` if the regex pattern is invalid, Envoy crashes at startup without any error. This can probably be fixed by checking to make sure each string can be parsed before adding it to the list of expressions, otherwise return an explicit error stating the pattern can't be parsed: https://github.com/envoyproxy/envo

[2018-11-01 16:29] mattklein123 commented on #4855
@ramaraochavali sorry value in providing which option? In general I would prefer to not retry rate limited requests by default at all. If someone wants to opt-in, I guess that's OK, but I don't recommend it.

[2018-11-01 17:56] alyssawilk commented on #4921
Happy to add it if we think it's worthwhile.

[2018-11-01 18:07] mattklein123 commented on #4921
@alyssawilk yeah I think definitely useful. Some folks do not want to expose WS upgrades globally, but want to allow it on a per-route basis.

[2018-11-01 19:08] mpwarres commented on #2557
I think the plan for the first cut is that at the lowest layer, there is the UDP listener being worked on in #4898, on top of which sits an HCM-like layer that speaks QUIC and exports an HTTP codec interface upwards.

[2018-11-01 19:23] dschaller commented on #4919
That seems like a valid request. I think the main concern is how to handle invalid regex patterns since suppressing them will likely result in unexpected behavior.

@arianmotamedi how are you thinking of handling invalid regex patterns?

[2018-11-01 20:04] mattklein123 commented on #2557
@conqerAtapple I think a QUIC codec interface will fall out from the MVP work when we pull it all together. Since I'm guessing the QUIC code you want to plug in is not going to be public, the best thing to do will be to collaborate on those reviews to figure out the right integration points that will work.

[2018-11-01 21:12] flands commented on #4642
@objectiser the original trace was not in raw format so the IDs were merged (i.e. I did not change to `1` that is the behavior of converting from zipkin to jaeger) -- here is an example raw trace:

* [trace2.json.txt](https://github.com/envoyproxy/envoy/files/2540125/trace2.json.txt)

As for implementation:

* Ambassador has tracing on
* svc-auth is the auth service that Ambassador is calling
* sv

[2018-11-01 21:29] arianmotamedi commented on #4919
I need to dig through the code to see how Envoy handles other similar scenarios, but should this be treated as a fatal error during startup? Or just a warning for invalid patterns? I'm thinking a fatal error would be more clear.

[2018-11-01 21:40] auni53 commented on #4863
Not directly relevant, but would be nice for instructions on clang-tidy to be added in the same places as instructions on fix_format, e.g.
https://github.com/envoyproxy/envoy/blob/15706964a29e595c045a5d7ef0646d04f347dcc1/support/README.md

[2018-11-01 21:49] lizan commented on #4863
@auni53 Definitely, do you want to take that part?

[2018-11-01 21:51] lizan commented on #4929
Also see #4100 for recalling early memories, some of them might not be apply anymore though.

[2018-11-01 21:53] lizan commented on #4900
Closing as answered, feel free to open another issue or comment on this one to follow up.

[2018-11-01 21:53] #4900 closed

[2018-11-01 21:54] HenryYYang opened #4942 "Emit healthcheck failure events"
**Issues**
* Currently health check failure events are only log if the HealthFlag for a host transition from non-FAILED_ACTIVE_HC to FAILED_ACTIVE_HC.  However, since hosts are initialized in the FAILED_ACTIVE_HC state, hosts that never became healthy have no events associated with it.
* Since the current health check events only log transitions, we'll have to scan the entire log in order to find

[2018-11-01 22:22] #4092 closed, assigned to nobody

[2018-11-01 22:41] codesuki commented on #4919
Good call!
Similar to https://github.com/envoyproxy/envoy/blob/0f7120968e60da62feb59f00170078611dffc18a/source/common/router/config_impl.cc#L745
you can use
https://github.com/envoyproxy/envoy/blob/0f80888148c581cb4d0c81aba40488d8507a4ca2/source/common/common/utility.cc#L536
to throw an exception if parsing fails.

Just adding the call here
https://github.com/envoyproxy/envoy/blob/0f7120968e60da62

[2018-11-01 23:41] arianmotamedi commented on #4919
Wait, looks like https://github.com/envoyproxy/envoy/blob/0f7120968e60da62feb59f00170078611dffc18a/source/common/router/config_impl.cc#L109 is already doing  `RegexUtil::parseRegex(regex)` which should have thrown an exception, right? 🤔

[2018-11-02 00:16] codesuki commented on #4919
Sorry, these days I am extremely absent-minded. I even linked you to the exact line 😅
So, yes, I would have expected that to throw an exception. I never used exceptions before in C++, so I would have to dig deeper. Maybe this exception gets caught somewhere?
In case you have some spare time, maybe you could check what happens if you provide a broken regex to https://github.com/envoyproxy/envoy/blo

[2018-11-02 00:35] auni53 commented on #4863
Can do :)

[2018-11-02 03:40] ramaraochavali commented on #4855
@mattklein123 I was referring to supporting the value of even the opt-in behaviour. Was thinking should we just go ahead not retry at all? But as you mentioned, opt-in may be OK if some one wants to use it.

[2018-11-02 12:48] auni53 commented on #4863
Reporting this presumably because others will run into the issue. I have no idea how to run the clang-tidy script locally. Documenting here to try and prevent others running into the same...

[code]

[2018-11-02 13:17] auni53 commented on #4863
ah, `rm -rf /tmp/envoy-docker-build` did the trick.

[2018-11-02 15:52] mattklein123 commented on #4855
@ramaraochavali I'm confused. Aren't you implementing this because you want to retry rate limited requests? Or you don't want to retry rate limited requests?

[2018-11-02 16:44] HenryYYang commented on #4942
I’ll work on this, sending an PR soon

[2018-11-02 19:17] bndw commented on #2812
Just got notified that they approved [my patch](https://github.com/aktau/github-release/pull/86) to fix the credential leak. If they decide to merge, and this is still relevant, we could pick this back up.

/cc @taion809

[2018-11-02 19:39] htuch commented on #4602
@tonya11en I'm currently working on per-worker stats for event loop duration. Have you started on any of the others? I can take some of these on as well.

[2018-11-02 19:39] #4273 closed

[2018-11-02 20:07] objectiser commented on #4642
@flands You are right - it is Jaeger changing to `1` when it de-duplicates the shared span ids. I knew it was doing this, but didn't realise it was just using a numeric value for the span id - but it only happens on the trace returned to the UI so I guess it is ok.

The shared span context is actually the problem - when Jaeger modifies the span ids to create unique ids for the client and server sp

[2018-11-02 20:51] flands commented on #4642
@objectiser looking at @alexgervais gist above (https://gist.github.com/alexgervais/21e3492f0b50bf2804b32f6db0a6a8f5) it appears turning this option off will result in the auth service being put directly into the chain (e.g. Ambassador > Auth > Downstream) instead of being shown as children (e.g. Ambassador > Auth and Ambassador > Downstream).

There is a Gitter conversation going on in jaegertrac

[2018-11-02 21:23] htuch opened #4952 "libevent replacement with libev"
libev has a few advantages over libevent:
* It scales better (see http://libev.schmorp.de/bench.html), which could come into play for handling very large numbers of connections (unlikely to make a difference for other situations).
* It supports better loop instrumentation and interception via check/prepare/idle watchers. This is actually my current motivation; I would like to instrument the loop d

[2018-11-02 21:31] lizan commented on #4924
Why do you think metadata server is broken? Metadata server is rejecting the request with 403 Forbidden, it is reasonable for a service like metadata server to reject any forwarded request, as it is intended to be called from local application to get some sensitive information (e.g. auth tokens).

[2018-11-02 21:31] mattklein123 commented on #4952
Makes sense to me to investigate, though I am definitely concerned about the regression risk. If we go down this rode, I would recommend doing this incrementally, for example by starting with getting rid of evconnlistener usage (should be easy).

IIRC right now on Windows we are using the BSD socket compat APIs so IOCP doesn't matter very much (since we now do manual buffer operations). In the fut

[2018-11-02 21:32] mattklein123 commented on #4924
Because the forwarded IP address is the local IP address.

[2018-11-03 01:14] ramaraochavali commented on #4855
@mattklein123 Sorry for the confusion  :-). We do not want to retry rate limited requests. But they are being retried because we have `retry-grpc-policy` policy that includes both `UNAVAILABLE` and `RESOURCE_EXHAUSTED` (and ratelimit server returns currently `UNAVAILABLE` gRPC code. I want to stop that and make it opt-in. So if a request is rate limited, it has to be explicit choice if it has to b

[2018-11-03 05:52] lizan commented on #4863
@auni53 'ci/run_clang_tidy.sh' is written for running from do_ci.sh so it may depend on env vars from there. Usually I do `tools/gen_compilation_database.py --run_bazel_build --include_header && run-clang-tidy-7`, let me know (or ping me on Slack) when you face any issue.

[2018-11-03 13:51] zwl1619 opened #4955 "Is there a binary that coule be installed directly on ubuntu and centos?"
Is there a binary that coule be installed directly on ubuntu and centos?

[2018-11-03 20:36] flands commented on #4642
@objectiser I manually built Ambassador with `start-child-span: false`. As @alexgervais reported above, when you do this, you no longer see the authentication call in the trace. I have included the raw trace below. Note, you will still see an authentication call as `svc-default` (a downstream service) validates calls via `svc-auth` (also interesting how this shows up with `start-child-span: false`

[2018-11-03 21:20] objectiser commented on #4642
@flands I think there is a misunderstanding here - I believe all of the problems you are experiencing are related to zipkin's **shared span context** approach. Nothing to do with `start-child-span`.

If you can please set the `shared_span_context` to `false`, as shown in [JaegerTracing sandbox example](https://github.com/envoyproxy/envoy/blob/master/examples/jaeger-tracing/front-envoy-jaeger.yaml#

[2018-11-03 23:03] taiki45 commented on #4526
Working this but probably I’ll take another approach on this.

[2018-11-03 23:56] itayd commented on #2797
Waiting command now in: https://github.com/envoyproxy/envoy/pull/4956.

[2018-11-04 04:55] bmetzdorf commented on #4462
PR #4764 is updated..

[2018-11-04 15:49] auni53 commented on #4863
hah, took a day to realize that should be `run-clang-tidy -7` (in case anyone else comes along this)

[2018-11-04 17:51] flands commented on #4642
@objectiser indeed, thanks and clearly on my end. When was `shared_span_context` introduced on the Envoy side? I see the changes about a month back. Ambassador is on Envoy 1.7 though they have an EA on Envoy 1.8. Unfortunately, my configuration does not currently work on the Ambassador EA. If Envoy 1.8 is required, then will take me a bit to be able to test and confirm.

[2018-11-04 17:59] alexgervais commented on #4642
@flands , I've started testing Ambassador EA build last Friday. I'll make sure to validate the `shared_span_context` setting and let you know!

[2018-11-04 21:18] ChrisLahaye commented on #125
What did you use alternative?

[2018-11-04 22:45] lizan commented on #4863
@auni53 no `run-clang-tidy-7` (without space) is the right one if you're in envoy-build-docker or have llvm installed via official apt repository.

[2018-11-04 23:13] #4549 closed

[2018-11-05 07:01] wansuiye opened #4961 "how to dynamicly config route to match the header of the request to select the instance"
**Issue Template**
in multi-tenant scene, instances of a service may have different label, we could config roure configuration for every instance to match header, however the config is troublesome and we should update the config in its life-cycle. so if exist a way to config it easy?

*Title*: *One line description*

*Description*:

describe the desired behaviour, what scenario it enables and how

[2018-11-05 14:33] taion809 commented on #4955
there aren't any published binaries.  You can use docker cp to pull the compiled binary from the published docker image though

Ex:

[code]

[2018-11-05 14:45] Oberon00 opened #4963 "How to build a dynamic_opentracing plugin for Envoy"
*Description*:
In issue #4140 it is mentioned that a "A specific build process is required for the dynamic loading [of opentracing plugins] to work.". Is there any documentation of this build process? Are independent vendors even supposed to provide binary opentracing plugins for envoy? Background: I want to build such a plugin, and am thinking about what the best way to package or deploy it would

[2018-11-05 15:35] rgs1 commented on #4648
@jcurlier maybe try:

[code]

[2018-11-05 15:38] rgs1 opened #4964 "Allow setting `retry_policy` at the VirtualHost level"
Curretly, `retry_policy` can only be set at the `RouteAction` level:

https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/route/route.proto#L598

We've got a lot of routes and we need to set the same `retry_host_predicate`  for all of them. Does it sound reasonable to allow setting `retry_policy` at the `VirtualHost` level globally for all routes?

cc: @snowp

[2018-11-05 17:31] rgs1 commented on #4964
@snowp @mattklein123 if it sounds reasonable, i'll send in a PR.

[2018-11-05 17:31] mattklein123 commented on #4964
+1

[2018-11-05 17:33] mattklein123 commented on #4963
@rnburn would be great to get some docs on this or if there are docs better links?

[2018-11-05 17:33] snowp commented on #4964
Yeah, there's been talk about adding this earlier but nobody ever got around to it. Go for it.

[2018-11-05 17:48] tonya11en commented on #4602
@htuch I haven't started work on any of the others yet. Happy to help review.

[2018-11-05 18:06] htuch commented on #4526
@taiki45 thought on this other approach?

[2018-11-05 18:40] rnburn commented on #4963
Envoy statically links in the standard C++ library by default. The _specific build process_ is referring to the additional steps that need to be taken to work with a statically linked standard library. (See this [SO post](https://stackoverflow.com/questions/47841812/how-to-support-dynamic-plugins-when-statically-linking-in-standard-libraries/47926025#47926025) for background).

Basically what you

[2018-11-05 20:03] alexgervais commented on #4642
I have this PR open on Ambassador EA https://github.com/datawire/ambassador/pull/955 allowing us to tweak `shared_span_context`.

[2018-11-06 00:13] ggreenway commented on #4952
In a previous project I worked on, I found that libev had some serious problems on mac, and was barely usable for windows.

I also used libuv. It had much better cross-platform support, but the IO model treats everything as IOCP. This makes windows support work really well, but it meant a lot of code changes to accommodate that.

Note that my experience with both of these is from 5 years ago, so t

[2018-11-06 02:43] htuch commented on #4952
@ggreenway I think libev has not changed much in several years. Neither has libevent. Most of the active development these days is on libuv due to the NodeJS dependency.

My understanding is that libuv started life as a common frontend for libev (on POSIX) and IOCP (Windows). As a result, if we port to either libev or libuv, I think adding the other shouldn't be too hard. For example, libuv also h

[2018-11-06 08:03] #4542 closed

[2018-11-06 16:06] ggreenway commented on #4952
I'm digging deep into my memory, but here's my recollection:

IO readiness (kqueue/epoll) can be emulated in terms of an IOCP-based API, but IOCP cannot be emulated in terms of a readiness-based API. So libuv uses an IOCP-style API, which looks much different from normal BSD-sockets. All socket operations can be async, and have a completion callback. This has effects on the lifetime of various obj

[2018-11-06 17:03] #4567 closed

[2018-11-06 18:00] conqerAtapple commented on #4952
Having recently ported our libev based framework to libUV, some of the advantages are:

- portability
- better API
- good support for timers, signals etc

One thing I found a bit annoying was that the API doesn’t expose read and write ready events separately.

-Jojy

[2018-11-06 18:13] martimarkov commented on #4724
How have you defined `fluentd`? Is it a separate service with a `ClusterId` (kubernates)? I'm wondering how the envoy.yaml is picking it up.

[2018-11-06 18:40] jmarantz opened #4974 "stats: Consider communicating stats across hot-restart via RPC rather than shared memory"
*Description*:

[optional *Relevant Links*:]
https://blog.envoyproxy.io/envoy-stats-b65c7f363342
https://github.com/envoyproxy/envoy/blob/master/source/docs/stats.md

[2018-11-06 19:29] sesmith177 commented on #4952
@htuch Right now, our fork does not have any significant changes from the current Envoy event loop.  This causes an issue because Envoy expects edge-triggered behavior, but libevent on Windows only supports level-triggering. This causes the write-ready callbacks to trigger every time through the event loop, wasting a whole bunch of CPU. There is not an issue on the read side, since we always read

[2018-11-06 20:42] joeyb commented on #3883
Rather than directly encoding spiffe-isms into the SAN verification config, would it make more sense to just add matcher support for SAN verification, using the same matcher plumbing used by the [RBAC system](https://github.com/envoyproxy/envoy/tree/master/api/envoy/type/matcher)?

Strawman proposal:

The SAN validation config would become:
[code]

And the new `envoy.type.matcher.UriMatcher` would

[2018-11-06 21:38] aschran opened #4977 "logging: data race bug because spdlog formatters are not thread-safe"
logging: thread-safety bug in spdlog

*Description*:
spdlog's `pattern_formatter` is used in Envoy to format log output. This class is not thread-safe due to its use of cached precomputed values that are not protected by a mutex or thread-local. For example, see `last_log_secs_` and `cached_tm_` here:
https://github.com/gabime/spdlog/blob/v1.2.1/include/spdlog/details/pattern_formatter.h#L559

We

[2018-11-06 21:39] aschran commented on #4977
@htuch @qiannawang

[2018-11-06 21:54] htuch commented on #4952
@sesmith177 can you share your complete WiP again in some PR? Will https://github.com/envoyproxy/envoy/pull/4970 break you? I'd like to understand how SOCKET and the listen/accept/descriptor watch all interoperate on Windows in your port.

[2018-11-06 22:16] derekargueta commented on #4616
looking at this today

[2018-11-06 23:51] gabime commented on #4977
This is by design and certianly not athread safety bug. see https://github.com/gabime/spdlog/issues/897 for details.

[2018-11-06 23:52] aschran commented on #4977
Yes, sorry for the title. It was not clear to us before that spdlog formatters are (by design) not thread-safe.

[2018-11-06 23:55] aschran commented on #4977
Since gabime is not amenable to making `pattern_formatter` thread-safe in spdlog (see the linked issue),
some other options for us to fix this:
- add a lock around all accesses to `DelegatingLogSink::formatter_`
- fork the spdlog `pattern_formatter` into Envoy and make it thread-safe using thread locals
- implement our own, much smaller thread-safe formatter that just hard codes our pattern and do

[2018-11-07 00:04] htuch commented on #4977
I think just lock around `DelegatingLogSink::formatter_`. @mattklein123 @jmarantz WDYT?

[2018-11-07 00:08] gabime commented on #4977
Why not  just make the sink thread safe? The recommended way in spdlog is to inherit from ```spdlog::base_sink<std::mutex>``` which will make the sink thread safe for you.
See the docs (https://github.com/gabime/spdlog/wiki/4.-Sinks#implementing-your-own-sink)

[2018-11-07 00:31] #4742 closed

[2018-11-07 01:36] #4735 closed

[2018-11-07 01:44] taiki45 commented on #4526
Sorry for confusing, I'm just wondering.

The another approach I mentioned is a proxy approach. That is, prepare community made proxy and users who want to convert POST to GET use the proxy.

The reason is I'm not sure we can make a well-designed feature for Envoy's standard ranther than current gRPC/POST REST design. In other words, I'm wondering this feature can be worth to be merged into mainli

[2018-11-07 01:48] mattklein123 commented on #4977
See the docs (https://github.com/gabime/spdlog/wiki/4.-Sinks#implementing-your-own-sink)

TBH I don't remember the history here. I think we used to derive from basic_sink with our own lockable class to wrap the shared process mutex, but then I think that all changed when we moved to the delegatedSink stuff. I agree it would be better if we could have spdlog do lock management. @jmarantz thoughts o

[2018-11-07 02:13] jmarantz commented on #4977
It wasn't my intention to drop thread-safety when I added DelegatedSink. In any case I'll take a look. @gabime I probably should've consulted you as DelegatedSink was, in the first place, probably not what you envisioned about how people should extend spdlog; you might have some suggestions about how that could've been done more cleanly.

In the meantime, @aschran , is there a way to repro this pr

[2018-11-07 02:18] jmarantz commented on #4977
Also @gabime -- was the cached precomputed values a relatively new addition to spdlog? I'm wondering why I haven't seen this thread safety issue before.

[2018-11-07 02:19] aschran commented on #4977
@jmarantz we have a repro of TSAN errors on this code with some internal Google tests. @htuch said he was going to work on repro-ing in the Envoy tests.

[2018-11-07 02:28] venilnoronha opened #4981 "Document DynamicMetadata Keys"
*Title*: Document DynamicMetadata Keys

*Description*:
PR #4910 introduces a new RBAC filter with keys that can be leveraged on by other filters. These should be documented as well known keys on Envoy.

*Relevant Links*:
Comments like [this](https://github.com/envoyproxy/envoy/pull/4910#pullrequestreview-171255352) and [this](https://github.com/envoyproxy/envoy/pull/4910#discussion_r231360429).

/

[2018-11-07 02:35] jmarantz commented on #4977
BTW there's already a lock, we just are not taking it in DelegatingLogSink::log(). We were taking protecting only StderrSinkDelegate (due to mutliple threads accessing std::cerr) and not the other SinkDelegates with the lock.

Maybe it would be sufficient, though to protect just the call to formatter_->format(), in addition to cerr?

[2018-11-07 02:42] aschran commented on #4977
I think that that would be sufficient to fix this race, yes. (Just protecting the call to format.)

[2018-11-07 03:58] jmarantz commented on #4977
Yeah -- locking around the formatter appears to solve problem, per #4982. @gabime locking around the sink is too broad IMO; would prefer not to lock around I/O when not needed.

It seems like putting formatter in thread-local storage would offer better performance, but I can imagine that if we get into contention-trouble in spdlog we'd (a) probably be logging too much and (b) we should be able to

[2018-11-07 05:59] yob commented on #4936
Thanks, so maybe this should be an issue I open in the datadog integration repo then?

If we look at this line:

[code]

What do the first and second numbers for each percentile indicate?

Is there value in datadog collecting the second values (4, 137.361, 173.182, 284.464, 482.111, etc), even if all the first values are `nan`?

[2018-11-07 06:05] ramaraochavali commented on #4936
Yes. First value represents the value of the histogram in that interval
(from last time it collected, right now it is 1 min) and second value
represents the cumulative value( from the envoy start) - So it depends on
what you are looking for

On Wed, Nov 7, 2018 at 11:29 AM James Healy <notifications@github.com>
wrote:

[2018-11-07 07:09] qiannawang commented on #4977
@jmarantz is admin/contention a new feature just added in Envoy? I have not seen the interface from its admin/ page. Will be nice to have this feature.

[2018-11-07 08:30] markusthoemmes commented on #3837
Yes! I feel like this is an important feature especially in scenarios like Kubernetes where containers are generally killed via SIGTERM. If we'd handle that gracefully as described, that'd be super helpful. Anything I can help with here?

[2018-11-07 09:03] gabime commented on #4977
@jmarantz It was added about 5 months ago

@jmarantz Please note that sinks have 4 methods that must be protected from concurrent access (log(..), flush(..), set_pattern(..), set_formatter(..)), so if you don't use ```base_sink<std::mutex>``` you must take care of them as well.

A quick glance on the code reveals for example that  [DelegatedLogSink::set_pattern](https://github.com/envoyproxy/envoy

[2018-11-07 09:58] markusthoemmes commented on #3837
@huggsboson Is the restarter script maybe an option for you? https://github.com/envoyproxy/envoy/blob/master/restarter/hot-restarter.py

[2018-11-07 11:15] yob commented on #4936
Apologies for cluttering your issue tracker with questions. If there's somewhere else I can direct these, please let me know.

Ah. This is super helpful to know, thanks.

The cluster I'm testing with is roughly  serving a request every few seconds. I notice that if I manually fetch the stats from envoy in a slow loop, I occasionally get a line that has a value for both numbers in the histograms:

[2018-11-07 11:28] ramaraochavali commented on #4936
Sorry. The default flush interval is 5 sec (https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/bootstrap/v2/bootstrap.proto.html?highlight=stats%20flush) not 1 min (that is how we configured our Envoy :-)) as I mentioned earlier. You can change it so you get better histogram values as per your needs.

No. It does not. It resets based on the above flush interval.

[2018-11-07 11:32] BenPope opened #4985 "stack-buffer-overflow during do_read_client_key_exchange"
*Description*:

I have an asan stack for a crash we get fairly often with envoy v1.8.0.  We have active health checking enabled for the cluster, I've seen the crash with http2 and grpc. It looks like the buffer has a length of 0 at the point it's written to, but unfortunately I haven't managed to narrow it down very much.

[code]

[2018-11-07 11:49] yob commented on #4936
ahhh. So, if I was to have no requests in a 5 second interval then I'd be getting a `nan` for the first value in each percentile?

... and if datadog was only fetching the stats every 20 seconds, I'd only be recording values for about 1/4 of the stats intervals?

[2018-11-07 12:09] ramaraochavali commented on #4936
Yes

Yes.
Ideally both should match IMO.

[2018-11-07 13:20] jmarantz commented on #4977
@gabime that makes sense; I think we probably hadn't upgraded spdlog versions since then.

#4982 protects set_pattern by protecting set_formatter. log() and flush() are protected in our wrapper for std::cerr, and don't need to be for our file-based loggers.

It may be better to have the formatter be thread-local, which wouldn't harm single-threaded performance. But it's worth it IMO to see whether

[2018-11-07 13:29] brunsgaard commented on #4203
Is this idea just fully abandoned, we are having the same usecase as @markusthoemmes.

Is there a better way to do per pod (k8s) circuit breakers? For long running (~2sec) and very CPU intensive grpc calls and a very scalable environment? Ideas are welcome ;)

[2018-11-07 14:43] sesmith177 commented on #4952
Here's our current WIP: https://github.com/greenhouse-org/envoy/tree/windows-linux-build

We don't think #4970 would break us. Currently, we use `typedef` to handle the `int` / `SOCKET` difference, though that will probably change by the time we get it upstream (see #4828)

[2018-11-07 14:43] marhatha opened #4986 "Help needed to write EnvoyFilter which can intercepts the packets based upon IP address or interface"
Help needed to write EnvoyFilter which can intercepts the packets based upon IP address or interface of POD

Description:

I wish to write a EnvoyFilter which can intercepts the packets based upon IP address or interface of POD . Can someone please refer me such  examples ? I think the syntax will be something like this below ?But not not sure about the lua code ? If someone can show the examples

[2018-11-07 17:22] auni53 opened #4987 "Support request timeout with retries"
*Description*:

This is pending #4456.

[2018-11-07 17:29] auni53 opened #4988 "Add hanging test filter for timeout integration testing"
Pending #4456, there's a TODO for testing request timeout with a test filter that hangs. This would test the request timeout path in the filter chain.

[(to-be-outdated link)](https://github.com/envoyproxy/envoy/pull/4456/files/18d2f4c98d8a5b050bed25f61851860ca548b708#diff-be2d83a29ce1ab88cc590b9886793056R282)

[2018-11-07 17:37] kindermoumoute opened #4989 "Return grpc status on direct response"
**Return grpc status on direct response**

*Description*:
Currently, if I want to return a direct response on grpc requests I'll do something like that:
[code]

However I can only attach an HTTP status to this direct response. By default grpc status will be `unknown`.

**Solution 1**: match grpc statuses with a [wide range of http status](https://github.com/googleapis/googleapis/blob/master/google

[2018-11-07 17:47] #4855 closed

[2018-11-07 17:49] #4977 closed

[2018-11-07 17:58] mattklein123 commented on #4985
@PiotrSikora any thoughts on this?

[2018-11-07 18:29] htuch commented on #4526
@taiki45 why not have Envoy itself be the proxy and configure a loopback for xDS requests? :)

[2018-11-07 18:52] mattklein123 commented on #4987
@auni53 per my comment in the related issue I'm not sure there is anything to do here. Can you clarify?

[2018-11-07 19:03] sesmith177 commented on #4952
@htuch we'll give it a look -- hopefully we end up in the "much easier/better" bucket

[2018-11-07 19:11] fredlas opened #4991 "Implement incremental xDS in Envoy"
The incremental xDS design has been decided on, and added to the appropriate .proto file (in #3470). Now, incremental xDS clients should be implemented in Envoy. I am currently getting started on CDS.

*Relevant Links*: an early draft proposal for incremental xDS, still relevant for examples and overview of goals: https://docs.google.com/document/d/1dh8ACRzNNUkVYB3exepTPlLQK6CyDrOaP2OwwGlxDB4/edit

[2018-11-07 20:01] huggsboson commented on #3837
I can't quite tell the name of the script seems to point at restarting as the goal, but can it assist with shutdowns as well?

[2018-11-07 20:07] huggsboson commented on #3837
Reading over the script, I don't think it will. What I need is the main executable itself to allow SIGTERM to trigger a very long drain (4 hrs) but to let it exit if all existing connections close sooner.

[2018-11-07 21:02] lizan commented on #4989
You should be able to do that with `response_headers_to_add` by adding `grpc-status` header and/or `grpc-message` header. The direct_response should be status 200 and no body.

[2018-11-07 21:17] markusthoemmes commented on #3837
I agree, wrote the comment at a point in time where I didn‘t have as much context. I think we should implement graceful shutdown when SIGTERM is sent.

[2018-11-07 21:48] kyessenov commented on #3250
What would be the recommendation for network filter chain re-run? I'm thinking of two HTTP connection managers on ports 80/443, and an internal redirect in 80 triggering the HTTP filter chain in 443. Should we restrict this functionality to a single HTTP connection manager?

[2018-11-07 22:02] alyssawilk commented on #3250
Yeah, I don't think cross-scheme redirects should be allowed, due to security concerns.  I mean I guess going from a secure to an insecure response isn't terrible, but serving an https response on an http connection is obviously unsafe and it's easier to be consistent

[2018-11-07 22:08] kyessenov commented on #3250
Right, I didn't think through security implications. I'm more interested in plain http-to-http transition. Istio buckets RDS routes by capture ports, and I'm trying to find a way to jump between those RDS tables.

[2018-11-07 22:41] jmarantz commented on #4977
@gabime great catch. PR coming. Thanks.

[2018-11-07 23:01] jmarantz commented on #4977
@gabime https://github.com/envoyproxy/envoy/pull/4993

[2018-11-08 01:12] #4763 closed

[2018-11-08 03:40] bplotnick commented on #4974
This seems related to #3804. Having a stats RPC protocol that enforces backwards compatibility (e.g. using proto3) should address the hot restart problem, i think.

[2018-11-08 06:27] ramaraochavali opened #4994 "Command Line Options in Admin Interface"
Is there a value in displaying command line options with which Envoy started in Admin interface? If yes, should it a new end point like `/options` or should it be part of `/server_info` ?

[2018-11-08 10:28] gabime commented on #4977
@jmarantz btw2 is to consider using sodlog's async loggers. If used with single backing thread (the default), no locking is needed at all, and throughput would be stable even if some sink fails or delays (e.g. disk becomes slow). I think it might be important for a process like Envoy.
If the log queue becomes full, It can configured to drop oldest messages or block (see the [docs](https://github.c

[2018-11-08 12:48] jmarantz opened #4995 "logger: consider using spdlog's async mode"
*Description*:

*Relevant Links*: https://github.com/gabime/spdlog/wiki/6.-Asynchronous-logging

[2018-11-08 14:04] alyssawilk commented on #3250
Ah, interesting.  We've traditionally done multi-tenant support via VIP rather than port, so can have one (or two) giant listeners and everything in the scope of that.  We have to adapt Envoy to allow per-vip matching there (see scoped rds over on #4704) and it's possible once we have that landed we could add support for some or all listeners sharing scoped rather than duplicating the scopes for a

[2018-11-08 14:56] auni53 opened #4996 "StreamInfo: Preserving the source address on downstreamRemoteAddress"
*Description*:
Our project's logging requirements call for the direct connected host, i.e. the actual physical address on the other side of the downstream connection. The logging interface includes only request headers, response headers/trailers, and StreamInfo. StreamInfo.downstreamRemoteAddress() contains this information at first, but it's potentially modified by x-forwarded-for or a proxy prot

[2018-11-08 17:07] mattklein123 commented on #4987
Closing per related discussion.

[2018-11-08 17:07] #4987 closed

[2018-11-08 17:08] #3654 closed

[2018-11-08 17:22] mattklein123 commented on #4994
I could see this being potentially useful, though, to play devil's advocate the CLI options can also be seen by just looking at the process tree. If this would be used operationally I have no objection but I would prefer to otherwise not add something "nice to have."

[2018-11-08 18:20] kindermoumoute commented on #4989
Thank you @lizan 🙇

[2018-11-08 18:20] #4989 closed

[2018-11-08 19:20] #4586 closed

[2018-11-08 19:47] htuch commented on #4995
I don't think we should use async logging. Here are the reasons:
1. These are debug logs; we want synchronous logging to match behavior with output.
2. These are debug logs; performance does not matter. In production, these are turned off, during debug performance is not an issue.

[2018-11-08 20:56] mattklein123 commented on #4995
+1 to what @htuch said.

[2018-11-08 21:15] wjessop commented on #4103
Did this get fixed? If not then it's still a valid issue and I don't think should be closed.

[2018-11-09 00:07] shivanshu21 commented on #4899
@mattklein123 Sorry about the delay in response.

I am probably missing some link here. I am relatively new, hence the repetitive questions.

The way I see it, *there is no way to access the correct HashPolicy object from within Async client or even the aforementioned //mock router filter//* as it is not the main router filter that is used to call decodeHeaders()/decodeData() here, it is a separat

[2018-11-09 00:18] sbelair2 commented on #4952
@htuch The Envoy interface to VPP will be through a library we will link into Envoy, called VCL. VCL allows the clients (Envoy here) to set up an epoll loop for events from VPP. So libuv should be fine for that interface since it supports poll.

[2018-11-09 02:09] mattklein123 commented on #4899
I would need to look into things in more detail, but I think the key here is that we will need to create a dynamic route for each request that can provide the right hash values. This would be owned by the stream and then router can access it. So there will be some small refactoring needed.

[2018-11-09 03:20] #4554 closed

[2018-11-09 03:55] ramaraochavali commented on #4994
Yes. The CLI options can be looked at process tree. It is little more cumbersome/additional steps if not impossible. The operational flow we typically follow in pre prod envs, when issue comes is, we go to admin and see stats and check other details. At this point if we want to know, what command line options it is running, it would be little easier to look at the admin endpoint. While this is not

[2018-11-09 05:12] moderation commented on #4994
Where I ran into this was running Envoys as sidecars in Kubernetes. Our environment is very locked down. We can't exec into the containers. There is no access to the underlying OS. So there is no accessible way to peruse the process tree.

I understand this isn't the typical situation but it will become more common particularly in Enterprise environments. It is a pet peeve at the moment that almos

[2018-11-09 07:03] hello-ming opened #5002 "Document is inconsistent with code, bazel.dev use clang instead of gcc"
*Description*:

Document is inconsistent with code

in ci/README file,

but in do_ci.sh
[code]

[2018-11-09 08:20] lizan opened #5003 "repokitteh is throwing errors"
https://github.com/envoyproxy/envoy/pull/4947#issuecomment-437280307
https://github.com/envoyproxy/envoy/pull/4934#issuecomment-437271983

@itayd can you take a look?

[2018-11-09 08:57] lizan commented on #4800
This is described in gRPC HTTP2 protocol mapping:
https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md#responses

So a gRPC response in H2 frames should be either:
HEADERS, DATA, HEADERS (end_stream)
or
HEADERS (end_stream)

Sorry I'm late on this, I think you can use `addEncodedTrailers` to add grpc-status/grpc-message after the empty DATA frame to make the gRPC client happy. Though I a

[2018-11-09 09:17] gabime commented on #4995
If logging is never used in production (I see many ```ENVOY_LOG(error/fatal/info,.. )``` in the codebase , are they all switched off in production?) then I agree, it might be an overkill.

[2018-11-09 10:11] #4494 closed

[2018-11-09 10:17] ramaraochavali commented on #4994
If we decide to add it which one do you prefer? separate end point `/options` or part of `/server_info` ?

[2018-11-09 11:00] jbye commented on #2247
Looking forward to this! Are there any progress updates?

[2018-11-09 12:50] githubYasser commented on #4724
Hi marimarkov,

fluentd is defined inside cluster section of _static_resources_:

[code]

[2018-11-09 12:52] githubYasser commented on #4724
closing this issue because it seems that right now request/response body logging is not supported .

[2018-11-09 12:52] #4724 closed

[2018-11-09 14:35] snowp commented on #4800
Yep, that's what I'm currently doing. It works but it means setting a flag in `encodeHeaders` so that I can call `drain` and `addEncodedTrailers`  in `encodeData`. Being able to return immediately makes the API much cleaner

[2018-11-09 15:18] itayd commented on #5003
thanks for the report. sorry for the noise. it now should be fixed. lmk if happens again.

[2018-11-09 15:19] #5003 closed

[2018-11-09 15:55] dfjones opened #5005 "failing health checks when control plane disconnected"
In #4510 a metric was added to indicate whether Envoy is connected to the control plane. It would be great if there was a way to configure Envoy to fail its own health check when this metric indicates a disconnect.

We found ourselves writing something external to monitor this and call the healthcheck fail admin endpoint. If Envoy could do this internally that would be a bit simpler.

[2018-11-09 17:47] mattklein123 commented on #2247
@zuercher @brian-pane  what's the status of Thrift? Can we close this out as fixed and then track additional feature requests as new issues?

[2018-11-09 17:47] mattklein123 commented on #5002
@hello-ming PR appreciated.

[2018-11-09 17:49] mattklein123 commented on #4994
I don't have a strong opinion. @envoyproxy/maintainers?

[2018-11-09 17:58] brian-pane commented on #2247
The Thrift routing implementation is in place (thanks to @zuercher). I haven't yet had a chance to do much interoperability testing, but that should happen over the next couple of months. +1 for closing this and tracking new features and any bugs as new issues.

https://github.com/envoyproxy/envoy/tree/master/source/extensions/filters/network/thrift_proxy

[2018-11-09 18:01] alyssawilk commented on #4994
mild preference for separate end point but either is fine.

[2018-11-09 18:01] mattklein123 commented on #2247
Cool, closing as fixed.

[2018-11-09 18:01] #2247 closed

[2018-11-09 18:12] #4574 closed

[2018-11-09 18:29] bndw commented on #4052
@mattklein123 did you do anything different when creating the [v1.7.1 release](https://github.com/envoyproxy/envoy/releases/tag/v1.7.1) that would have caused it to not be picked up by CircleCI?

[2018-11-09 18:32] mattklein123 commented on #4052
There was no v1.7.1 container built because the current process relies on a master build to have already created the container. We need to fix the tagging process to also do the build so it will work off a branch.

[2018-11-09 19:31] bndw commented on #4052
OK now this makes sense. `v1.7.1` was never brought into `master` but rather lives in [stable/v1.7.1](https://github.com/envoyproxy/envoy/tree/stable/v1.7.1) and the current [Docker publishing code](https://github.com/envoyproxy/envoy/blob/master/ci/docker_push.sh#L9-L15) only cares about `master`.

If we enable Docker image publishing for branches other than `master`, here are a couple considerat

[2018-11-09 20:05] mattklein123 commented on #4052
@bndw I don't have a strong opinion here. Do you want to make a proposal based on what you think the community would most expect?

[2018-11-09 21:07] alyssawilk commented on #4921
Oh man, so I managed to slog through splitting the hcm proto in to multiple files to avoid dependency loop issues hcm->rcs->route->hcm but looking at the similar problem with the includes directory I think we're either have to violate style and do a bunch of pre-declares and file splitting, or we could just say you can enable websocket on a per-hcm basis and override-disable on a per-route basis.

[2018-11-09 21:30] htuch commented on #4994
Since server_info is now proto, I think it's fine to add this there. If this was non-proto, I would be inclined the other way.

[2018-11-10 01:04] jcrowthe commented on #3218
@berlinsaint I've had the same issue. In this case, I'm running Contour, which manages Envoy in a kubernetes cluster. When running multiple Contour (and thus Envoy) containers with `hostNetwork: true`, envoy will exit: 1 without any logs at all (which is incredibly annoying). I managed to get an strace output and found the following:

[code]

Notable section: `sun_path=@"envoy_domain_socket_0\0...

[2018-11-10 03:11] #4589 closed

[2018-11-10 05:29] ramaraochavali commented on #4994
oh.. I did not know that I can use bot. Will do in future :-)

[2018-11-10 20:10] cpakulski commented on #4685
Work in progress....

[2018-11-10 21:45] ashimrana commented on #2927
So referring to the above statistics, cluster.service1.upstream_cx_overflow: 14 seems to be a red herring. Is it supposed to be contributing to 5xx counters?  If so, currently in what conditions does it contribute to 5xx counters?

[2018-11-10 22:44] #4584 closed

[2018-11-11 12:56] zyfjeff commented on #3395
@PiotrSikora Do you have plans to fix this? If not, I can handle this.

[2018-11-11 14:30] toefel18 opened #5010 "grpc-json transcoder: returns 415 instead of 404"
**Bug Template**

*Title*: *grpc-json transcoder returns http status 415 instead of 404 when a route is not configured in the .proto file.*

*Description*:
When I run envoy as a grpc-json transcoder and I try to GET a path that is not mapped by any http option, envoy returns 415 with a body `Content-Type is missing from the request`. If the route is mapped and gRPC service returns NOT_FOUND, then

[2018-11-11 19:13] mattklein123 commented on #5010
@lizan

[2018-11-11 19:16] #4614 closed

[2018-11-11 19:57] lizan commented on #5010
415 is returned from upstream, the gRPC JSON transcoder wouldn't modify unmapped requests so they will go directly to upstream and it is up to upstream to return whatever error code.

[2018-11-11 20:15] toefel18 commented on #5010
I will test that in a little bit. So you suggest adding here?  :
[code]

What does that empty object actually mean?

[2018-11-11 21:23] toefel18 opened #5011 "grpc-json transcoder: stream return type always returns 200 even in case of errors"
**Bug Template**

*Title*: *grpc-json transcoder always returns 200 OK with response body `[]` when rpc return type is stream <type> *

*Description*:
The grpc-json transcoder always returns 200 OK with response body `[]` when rpc return type is of type stream. If the gRPC api returns an error or throws an exception, it still returns 200 with body '[]'. The response content-type is always `'applic

[2018-11-11 21:37] lizan commented on #5011
Yes this is expected behavior and known limitation of gRPC JSON transcoding, there's no way for HTTP/1.1 to change response code after server started body, in gRPC the status is included in trailers but that isn't supported in HTTP/1.1

[2018-11-11 23:01] mattklein123 opened #5012 "docs: FAQ/docs on memory tuning"
We have a bunch of different functionality that can be used to control Envoy's memory usage:
- HTTP/2 stream/connection settings
- Flow control settings
- Overflow manager settings

We need a FAQ entry that introduces all of these concepts at a high level and provides examples on how each of these things might be tuned, as well as links into the detailed documentation for more information.

[2018-11-12 00:06] mattklein123 opened #5013 "crash deleting unknown host from health checker"
We have seen this crash a few times. Somehow we are trying to delete a host that the health checker doesn't know about. I would imagine this somehow has to do with us specifying the same DNS host multiple times but I'm not sure.

cc @dio @snowp for recent work in this area. cc @tonya11en who can explain the config we use that might be causing this. I haven't looked into this in any detail yet.

[c

[2018-11-12 01:11] dio commented on #5013
@tonya11en when you have time please share the config with us. Thanks!

[2018-11-12 03:40] bplotnick commented on #4677
I'd still like to see this happen. Building in a docker container still can be painful, but it's not trivial to install all the tools on the systems, especially some of the newer ones that might not be packaged.

[2018-11-12 05:01] mattklein123 commented on #5013
@snowp yes I think that is exactly what is happening. We specify the same DNS name multiple times I'm assuming to help with load spread. @tonya11en can provide more info.

[2018-11-12 06:15] tonya11en commented on #5013
The failure seen in @snowp's unit test looks plausible for us given what we've configured. Our config looks something like this:
[code]

I can give more specifics if needed tomorrow and help out.

[2018-11-12 06:39] snowp commented on #5013
So we should definitely fix this, and the quickest fix I can think of is to scope `all_hosts_` to each resolve target for STRICT_DNS instead of for the entire cluster (which is what EDS does).

This makes the behavior of STRICT_DNS significantly different from EDS wrt host duplicates, but given the difference between the update mechanism in EDS and STRICT_DNS it might not be reasonable to expect t

[2018-11-12 06:43] snowp commented on #4837
Sounds like the consensus here is that this seems like we should make this configurable (for now at least). I'll try to find the time to get this done sometime this week.

[2018-11-12 06:45] snowp commented on #4903
Per try timeouts should now exclude connection setup for both h/1 and h/2.

[2018-11-12 06:45] #4903 closed

[2018-11-12 07:31] wansuiye commented on #2436
in multi-tenant scene, instances of a service may have different label, we could config roure configuration for every instance to match header, however the config is troublesome because the tenat is  too much and the match is linear not a LB rule, and we should update the config in ever instance's life-cycle. so if exist a way to config it easy?

[2018-11-12 07:57] nzoschke commented on #4357
This is affecting gRPC stats in my usage too.

I have gRPC services defined named with the project name, service name, and service version, e.g.:

[code]

In DataDog I am seeing stats like `envoy.cluster.grpc.widgets.v0.Widgets.failure` with a tag `{envoy.grpc_bridge_service:myapp}`

It seems like I will be able to extract the remaining service name by defining a custom TagSpecifier regex.

[2018-11-12 08:43] toefel18 commented on #5011
I understand.

But if the grpc service immediately responds with an error before sending any content, Envoy could detect that before it starts sending the response headers. Is that possible?

Also: should the response content type not be `application/json` instead of `application/grpc`?

[2018-11-12 13:21] PiotrSikora commented on #3395
@zyfjeff please do, thanks!

[2018-11-12 16:57] #4018 closed

[2018-11-12 17:42] ramaraochavali opened #5017 "b3 headers are duplicated"
After we upgraded to Envoy we are observing that all `x-b3-*` headers are duplicated and with different values. **It breaks our production**.

Look like the commit  with this PR https://github.com/envoyproxy/envoy/pull/4712, is causing the issue.

Any configuration change we need to make?

[2018-11-12 17:47] ramaraochavali commented on #5017
@zyfjeff Can you please take a look and help with it?

@rmichela can you please provide the sample headers we are seeing here?

[2018-11-12 18:32] mattklein123 commented on #5017
cc @objectiser

[2018-11-12 19:47] moderation commented on #5017
I can confirm that I'm seeing the duplicate `x-b3-*` headers in my development environment. This is using a hello world Go app and sending traces to a Jaeger cluster.

[2018-11-12 20:00] GregHanson opened #5018 "Missing new line between JSON access log entries"
*Missing new line between JSON access log entries*

*Description*:

*Config*:
Sample Listener config:
[code]

[2018-11-12 20:00] GregHanson commented on #5018
cc @aa-stripe

[2018-11-12 20:31] jmillikin-stripe commented on #4677
Installing and configuring a Clang toolchain across multiple OSes is extremely difficult, and relies on actively changing internal bits of the Bazel configuration API. I don't think any of the Envoy maintainers have enough time to maintain such a custom toolchain. Certainly it's not worth doing if the Docker approach works well enough to get by on for now.

[2018-11-12 20:35] jmillikin-stripe commented on #4695
Yes, the docs are out of date -- `//source/exe:envoy-static.stripped` is the correct path. You can append `.stripped` to any C++ binary target to get a stripped output, no need to strip manually.

[2018-11-12 21:36] aa-stripe commented on #5018
This is indeed the case, can't believe I missed this, me--. Working on a patch now!

[2018-11-12 23:46] bplotnick commented on #4677
I see. I wasn't aware of the difficulty.

Is it possible to do it piecemeal? e.g. packaging up things like Ninja or libtool or whatever but use the system version of clang?

If not then i'll close this issue and we can revisit at a later time.

[2018-11-13 00:17] ramaraochavali commented on #5017
@moderation Thanks for confirming. We see it with Zipkin cluster.

@mattklein123 what do you think about reverting this commit till the issue is fixed if it is going to take time?

[2018-11-13 02:35] zyfjeff commented on #5017
@ramaraochavali  @mattklein123
I will fix this problem immediately.

[2018-11-13 08:44] qiannawang commented on #4599
Close this issue as the fixes have been enabled (by default). The cleanup will be tracked by a new ticket, as explained in https://github.com/envoyproxy/envoy/pull/4889#issuecomment-438121554

[2018-11-13 08:44] #4599 closed

[2018-11-13 13:56] BenPope commented on #4985
This may be a separate issue and the version I'm currently running is v1.7.1.

The active health checks are h2 (or gRPC), I've noticed that there are multiple connections to the upstream (`cx_active`) and in that scenario we can get quite a few 5xx back.

If the upstream is h2, shouldn't there be only one `cx_active` (per host, per cluster)?  Most of our other services behave and all have 1.  Is i

[2018-11-13 17:44] julia-stripe opened #5022 "TCP connection is reset when HTTP upstream times out"
*Title*: Envoy resets TCP connection when HTTP/1.1 upstream times out

*Description*:

When an upstream times out a HTTP/1.1 request, Envoy resets (with a `RST`) the TCP connection to that upstream.

*Expected behaviour*:

I'd expect Envoy to keep the connection open -- a timeout of a HTTP request doesn't seem to me to indicate that the TCP connection is unhealthy and necessary should be reset. My

[2018-11-13 17:57] julia-stripe opened #5023 "TCP connection is closed when HTTP upstream returns a 503 & retries are enabled"
*Title*: TCP connection is closed when HTTP upstream returns a 503

*Description*:

When a HTTP upstream returns a 503 *and* retries are enabled, Envoy closes the TCP connection to the upstream (with a `FIN` packet). This is really confusing because it *doesn't* happen when retries are disabled, which makes me think that it may be a bug in Envoy.

This is similar to https://github.com/envoyproxy/e

[2018-11-13 18:22] BenPope commented on #4985
I just test envoy v1.8.0 and also see multiple `cx_active` per h2 cluster node.

[2018-11-13 18:22] jmillikin-stripe commented on #4677
Downloading Ninja is practical because it's static, self-contained, and there are official binary builds. I think it could be made into a Bazel toolchain pretty easily.

Libtool is much more difficult because, in typical GNU style, it drops a bunch of components all over the filesystem and relies on other libraries to be available to the dynamic loader.

In general I think it's more practical to k

[2018-11-13 18:31] mattklein123 commented on #5023
Yeah as described this is likely a bug. Will need some research so marking help wanted.

[2018-11-13 18:50] PiotrSikora commented on #4985
@mattklein123 sorry, no idea :(

@davidben does this look familiar at all (see first post)? v1.8.0 shipped with https://github.com/google/boringssl/commit/c7db3232c397aa3feb1d474d63a1c4dd674b6349 (i.e. chromium-69.0.3497.81).

[2018-11-13 18:55] nbroyles opened #5025 "/stats/prometheus generates invalid Prometheus metric names when using abstract unix sockets"
*/stats/prometheus generates invalid Prometheus metric names when using abstract unix sockets*

*Description*:
When using abstract unix sockets for service <-> sidecar communication, `/stats/prometheus` should generate metric names that are consumable by Prometheus.

Sample `/stats/prometheus` output
[code]

When Prometheus attempts to process this data, we get the following error:
`invalid metric

[2018-11-13 19:01] davidben commented on #4985
That looks like a compiler bug. Here is the code in question:
https://github.com/google/boringssl/blob/c7db3232c397aa3feb1d474d63a1c4dd674b6349/crypto/fipsmodule/ec/p256-x86_64.c#L215-L216

`p_str` is pretty solidly a 33-byte buffer and the `memcpy` within bounds. The error says:
[code]

1857 - 1856 is 1, not 33. It seems your compiler's ASan implementation is getting the size of that object wrong

[2018-11-13 19:16] julia-stripe commented on #5022
Thanks so much for the explanation. That's much clearer, and I think you're right that HTTP/2 is the right solution to this :)

[2018-11-13 19:16] #5022 closed

[2018-11-13 19:43] bplotnick commented on #4677
Ok thanks for the info. I'll close this until we find a dedicated person that wants to take this on and own it 😄

[2018-11-13 19:43] #4677 closed

[2018-11-13 19:44] nbroyles commented on #5025
Ahh, should have searched a little harder. Looks like this was already reported and fixed here: https://github.com/envoyproxy/envoy/issues/4568

[2018-11-13 19:44] #5025 closed

[2018-11-13 19:47] julia-stripe commented on #5023
My guess from looking through the code is that the connection is being reset here:

https://github.com/envoyproxy/envoy/blob/6b56612bb39d92451452d564efa797e45a6184bd/source/common/router/router.cc#L768-L770

I don't really understand what the `end_stream` boolean is supposed to signify there, but my best guess is that the intention of that code is to reset the HTTP/2 stream in the case of a retry

[2018-11-13 19:57] BenPope commented on #4985
Interesting. I used envoyproxy/envoy-build:2029afbb36cd1e81340d85e665c68f26fca8355c as build and run container. When I made the release, latest was failing the link step that used ld to write the build version.

[2018-11-13 21:04] sbelair2 commented on #4952
@htuch VCL only supports edge-triggered notifications. Also, VCL has its own poll implementation, so if there are kernel fds and vpp fds we might have to support nested epolls, or something like that. Not optimal, but not entirely sure- I'll look into it more soon.

[2018-11-13 21:47] mattklein123 commented on #5023
`end_stream` indicates whether it is a header-only response or not. If `end_stream` is false, we must reset the upstream stream to indicate that we no longer care about potentially large amounts of body data.

What I suspect is happening here is that in some code paths, HTTP/1.1 responses are raised as headers with `end_stream` as false, followed by an empty body with `end_stream` as true. It migh

[2018-11-14 01:04] yannlandry opened #5029 "/clusters and /clusters?format=json don't match"
*`/clusters` and `/clusters?format=json` don't match*

**Description:**
When querying the `/clusters` endpoint of my envoy instance I'm able to retrieve the `load_balancing_weight` value (named `weight`) that I specified in my endpoint configuration. However, when querying the same endpoint but requesting the JSON format I cannot retrieve the value. There are quite a few more metrics missing at th

[2018-11-14 01:12] mattklein123 commented on #5029
"always print primitive fields" is missing here: https://github.com/envoyproxy/envoy/blob/fcc68f1165d0343891d3ce14c2952019fe403743/source/server/http/admin.cc#L346

[2018-11-14 01:30] yannlandry commented on #5029
Okay, I'm gonna take a stab at it, figure it shouldn't be hard

[2018-11-14 16:30] klarose opened #5033 "thrift_proxy network filter fails coverage build"
### Description:
I'm running code coverage on the envoy source, branched off master at fcc68f1165d0343891d3ce14c2952019fe403743.

#### Command

BAZEL_TEST_OPTIONS="--jobs=3" test/run_envoy_bazel_coverage.sh

#### Output
The coverage build fails with the following error:

[code]

#### Version info

[code]

[2018-11-14 17:49] zuercher commented on #5033
Hm. `auto_transport_lib` depends on `protocol_lib` which depends on `compact_protocol_lib` and `binary_protocol_lib` which have the purportedly missing dependencies in their `hdrs` declarations.

It's certainly possible that I did something that's safe in bazel.  I wonder if this is some change in bazel 0.19.1?

[2018-11-14 18:09] klarose commented on #5033
According to https://docs.bazel.build/versions/master/build-ref.html#actual_and_declared_dependencies it's not safe. The rationale is that since the lib directly depends on those headers, it should have an explicit dependency in the build file so that somebody doesn't indirectly break the dependency change by changing protocol_lib.

I honestly don't understand why I'm seeing this but nobody else s

[2018-11-14 18:18] zuercher commented on #5033
I guess that makes sense. It probably just happened to work until 0.19.1. Once I reproduce it I'll rejigger the build files to fix it.

[2018-11-14 18:22] klarose commented on #5033
FWIW, I think I fixed it by adding the headers to the exports of protocol_lib. I'm not sure offhand if that's considered a good approach, though, and I eventually gave up on the gcov build because it was taking too long anyway lol.

[2018-11-14 18:24] zuercher commented on #5033
This doesn't happen in non-coverage builds?

[2018-11-14 18:32] julia-stripe commented on #5023
Can confirm that:

1. The content length of the HTTP response from the upstream is 0 (the body is empty)
2. `end_stream` is being set to false
3. The line where `end_stream` is being set to `false` in this case is https://github.com/envoyproxy/envoy/blob/6b56612bb39d92451452d564efa797e45a6184bd/source/common/http/http1/codec_impl.cc#L718

I'm confused about this -- why do we need to reset the upst

[2018-11-14 18:40] #5018 closed

[2018-11-14 18:42] klarose commented on #5033
Hmmm. I just built all the UT for thrift_proxy.

[code]
You'd think that would trigger the issue. So, what the heck is the gcov build doing?

[2018-11-14 18:42] htuch commented on #1319
I'm going to take a shot at this one, since we need this sooner than later.

[2018-11-14 18:44] htuch commented on #1319
FTR, I've had internal discussions with @PiotrSikora and @davidben. The PoR is to add in explicit client handshake and certificate type detection to Envoy for the initial implementation, as BoringSSL won't add this for some time. When this feature arrives in BoringSSL, we will replace our implementation with that.

[2018-11-14 18:44] oneleggedredcow opened #5036 "MongoProxy OP_MSG (2013) Support"
**Issue Template**

*MongoProxy OP_MSG (2013) Support*: *MongoProxy does not support the MongoDB message code 2013 (OP_MSG) introduced in MongoDB 3.6*

*Description*:
MongoProxy does not support the MongoDB message code 2013 (OP_MSG) introduced in MongoDB 3.6.  Without support MongoProxy access logs provide very little information, since most of the information about the query and the reply are en

[2018-11-14 18:46] mattklein123 commented on #5023
When retries are disabled, we proxy the 503, with body or not. Thus, nothing is reset. If we are retrying, we must cancel the upstream response so that we can start a new one. They are very different paths.

If there is no body, the appropriate fix here is not in the router, it would be in the HTTP/1.1 codec or the codec client (would need to be investigated) to make sure that the response is rais

[2018-11-14 18:48] mattklein123 commented on #5036
@oneleggedredcow feel free to open a PR with your patch.

[2018-11-14 18:50] klarose commented on #5033
This fails: `bazel test  --jobs=4 --spawn_strategy=standalone   //test/extensions/filters/network/thrift_proxy:*
`

[code]
Seems to be the opposite of what's indicated [here](https://docs.bazel.build/versions/master/user-manual.html)?

[2018-11-14 18:52] julia-stripe commented on #5023
Why are the paths so different? I think there's some basic fact about Envoy's design I'm missing. Is there an invariant like "there can be only be one upstream request at a time per request that Envoy is handling"?

The patch I linked (https://github.com/envoyproxy/envoy/compare/master...julia-stripe:avoid-closing-503s?expand=1) is in the HTTP/1.1 codec -- does that look right to you?

[2018-11-14 19:00] mattklein123 commented on #5023
It's the same reason as why we close HTTP/1.1 connections that timeout. It's the simplest thing to do. If we don't reset the stream, what do we do with it? We need to back hole the data, have an extra timeout, etc. It's a lot of logic for no good reason.

Yes at quick glance that patch looks correct. I would work on some tests and then we can discuss further in code review. This is the only fix we

[2018-11-14 19:33] htuch commented on #1319
Quick design question @mattklein123 @ggreenway @lizan @PiotrSikora. Do we want to do the client handshake capability detection in the TLS inspector or directly in the TLS transport socket?

A reason for TLS inspector include that we're doing `ClientHello` peaking already for SNI/ALPN. A reason against is that mixed certificate type doesn't necessarily imply SNI use, so we will have additional scen

[2018-11-14 19:39] nabeelio opened #5038 "Intermittent 426 Upgrade required"
Hi all, I'm having a strange issue. I'm running Ambassador with Envoy, and there are intermittent 426 errors returned. I'm not quite sure what to make of it. I'm using an Azure internal load balancer, which is on a static IP.

The endpoint is `/api/v1/gateway`, which just returns a 200, and a JSON string. Nothing fancy.

I did see that @huxiaobabaer had a similar issue, but it was closed. Here's s

[2018-11-14 19:49] zuercher commented on #5033
I'm not able to reproduce this on either MacOS or Linux, but the doc seems pretty clear that dependency-only libraries aren't supported. I believe #5039 will fix it by removing the protocol_lib and transport_lib targets.

[2018-11-14 19:57] htuch commented on #1319
Oh right, we inject the TLS inspector automatically anyway, so the above is moot, I see.

[2018-11-14 19:57] klarose commented on #5033
It's kind of sad. I feel like there's a difference between a library whose sole purpose is to aggregate the functionality of other libraries, and one which simply happens to use those other libraries in its implementation. You're a lot less likely to "accidentally" remove dependencies in the former case.

[2018-11-14 20:58] mattklein123 commented on #1319
In general doing it as part of the inspector sounds good to me, and then we can use that data to drive later decisions around which cert to use.

[2018-11-14 21:32] mattklein123 commented on #5029
Looks like weight is missing from here: https://github.com/envoyproxy/envoy/blob/master/api/envoy/admin/v2alpha/clusters.proto. Just go ahead and add it and populate it.

[2018-11-14 22:50] #5033 closed

[2018-11-15 00:06] htuch commented on #1319
A couple more things to bounce off folks on this issue; the resolution order for certificates. What I'm thinking is:
1. We keep track of the first ECDSA and first RSA certs in a certificate chain.
2. For server contexts, we will use the client handshake ECDSA indicators from the group and cipher suite extensions to determine which to use.

Some design choices we can make:
1. We could skip any cert

[2018-11-15 00:08] #4924 closed

[2018-11-15 00:12] mattklein123 commented on #5017
Fixed.

[2018-11-15 00:12] #5017 closed

[2018-11-15 04:32] #4994 closed

[2018-11-15 04:33] #4942 closed

[2018-11-15 07:58] itayd commented on #2797
Retest command: https://github.com/envoyproxy/envoy/pull/5047

[2018-11-15 10:16] bjaglin opened #5048 "Trailers can't be added in Lua filter if the upstream response did not have any trailers"
As of Envoy 1.8.0, the `trailers()` function exposed in Lua returns `nil` (as [documented](https://github.com/envoyproxy/envoy/blob/8389aa27bed76aab26664a3b6ec9e6dc604829fa/source/extensions/filters/http/lua/lua_filter.h#L181)) if the original stream [did not contain any trailer](https://github.com/envoyproxy/envoy/blob/8389aa27bed76aab26664a3b6ec9e6dc604829fa/source/extensions/filters/http/lua/lu

[2018-11-15 10:20] bjaglin commented on #5048
I am guessing that updating the API to return an empty header object in that case (instead of `nil`) is not an option as it will be a breaking change. The only backward-compatible thing I can think of would be to add some kind of `resetTrailers()` function that would:
- create a wrapper if there isn't already one
- remove all pairs in the existing wrapper otherwise

If anyone has a workaround that

[2018-11-15 11:09] nickolaev commented on #4535
We're finalizing #4535, which should solve this issue. Shall we reopen it meanwhile?

[2018-11-15 13:19] lizan commented on #1319
IIUC per https://github.com/envoyproxy/envoy/blob/master/source/server/listener_manager_impl.cc#L243
TLS inspector is only injected when you have certain filter_chain_match. So if a listener is configured for pre-knowledge TLS, then it is valid that no TLS inspector is injected.

Also do we want to select filter chain based on ClientHello certificate type? If no perhaps adding in TLS transport is

[2018-11-15 15:22] taion809 opened #5050 "Additional header modification options"
*Title*: *Additional header modification options*

*Description*:
Today a we have the following header modification options:
  - request_headers_to_add
  - request_headers_to_remove
  - response_headers_to_add
  - response_headers_to_remove

I am proposing that another set of options be added
  - request_headers_to_set
  - response_headers_to_set

This new set of options would allow for deduplicat

[2018-11-15 15:46] taion809 opened #5051 "Access header values by name from header modification options"
**Issue Template**

*Title*: *Access header values by name from header modification options*

*Description*:
Today it is not possible to rename or set a header value based on the value of an existing header.  I propose adding `%REQ("header_key")%` to the header parser.  This will allow us to automatically upgrade legacy headers in older applications.

https://github.com/envoyproxy/envoy/blob/818fc

[2018-11-15 17:07] ggreenway commented on #1319
One thing to keep in mind is how you decide whether to use RSA or EC if both are supported. I *think* openssl decides based on the server cipher-suites config, which are already ordered by priority. I don't know how boringssl plans to implement that detail. But we'll want to sort this out so we don't introduce an unexpected behavior change.

OTOH, does anyone ever want to prefer RSA over EC? I've

[2018-11-15 17:08] mattklein123 commented on #5050
Although I don't have any objection to set options, should we just change the order to remove before add? It doesn't really make sense the other way around and I can't think of any reason not to swap it?

[2018-11-15 17:15] htuch commented on #1319
@ggreenway  Yeah, I was planning on picking EC in preference, but this is actually a small detail local to the code responsible for the picking (at that point we will have both knowledge of client ECDSA cipher suite capability and the list of server cipher suites).

@lizan Yeah, I hear you on this one. I'm inclined to go with TLS inspector based on my PoC work though, since if we do one certificat

[2018-11-15 18:11] taion809 commented on #5050
I think flipping the order of operations solves my immediate need :D

ref: #5052

[2018-11-15 19:06] oneleggedredcow commented on #5036
Created a PR: https://github.com/envoyproxy/envoy/pull/5053

[2018-11-15 19:43] htuch opened #5054 "Make envoyproxy/envoy the source-of-truth for envoy-filter-example"
As discussed in https://github.com/envoyproxy/envoy/pull/5031#issuecomment-438757841, we have a multiple commit dance needed for changes that break the filter API today, where both envoyproxy/envoy and envoyproxy/envoy-filter-example need multiple commits. One way to avoid this would be:

1. We move envoy-filter-example into the main Envoy repo, using a local repository in the WORKSPACE to point t

[2018-11-15 21:11] zuercher commented on #5050
There's also an `append` flag in `core.HeaderValueOption` that helps with this, I think.

[2018-11-15 21:26] tonya11en opened #5056 "Stats inconsistency between membership_healthy and cluster health_flags"
**Stats inconsistency between membership_healthy and cluster health_flags**

*Description*:
A change between bacaa4cdcbf94a8b110b783ae5e72cd2947a8432...5da782c8503aa2664ceac1995628d161bbaa6441 resulted in number of hosts at Lyft falsely reporting `membership_healthy` values as 0. We are running 5da782c8503aa2664ceac1995628d161bbaa6441.

When looking at the `health_flags` for a particular service w

[2018-11-15 21:39] jmarantz commented on #579
I guess I have started working on this. Might as well assign to me.

[2018-11-15 21:41] jmarantz commented on #579
https://gist.github.com/vidavidorra/548ffbcdae99d752da02 has some ideas on how to auto-deploy the generated doxygen to github pages.

[2018-11-15 22:01] julia-stripe opened #5057 "Add circuit breaker for max pending connections"
*Title*: Add circuit breaker for max pending connections

*Description*:

We've repeatedly seen an issue where Envoy will establish hundreds of connections all at once to an upstream. If those connections are TLS connections, this is extremely expensive and can overwhelm the upstream.

Right now there are [circuit breakers](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cluster/circuit_

[2018-11-15 22:51] #5023 closed

[2018-11-15 22:52] mattklein123 commented on #5057
Yup this makes sense to me. I think it should be easy to add if you take a look at how the circuit breakers work in the connection pools. @snowp recent HTTP/2 connection pool refactor to make it work more similarly to HTTP/1 will also make this super easy.

[2018-11-15 22:54] mattklein123 commented on #5056
cc @rgs1

[2018-11-15 23:01] rgs1 commented on #5056
@tonya11en does it eventually converge?

[2018-11-15 23:02] rgs1 commented on #5056
@tonya11en quick way to test if it's #5009 would be by setting:

[code]

[2018-11-16 00:41] rgs1 commented on #5056
@tonya11en these stats might be helpful:

[code]

https://github.com/envoyproxy/envoy/blame/master/docs/root/configuration/cluster_manager/cluster_stats.rst#L22

[2018-11-16 00:47] rgs1 commented on #5056
I am also wondering if the cluster is being frequently added/removed/added via CDS? Because if a cluster is removed, we cancel pending updates. If it's then immediately added again and its endpoints are populated from existing ones (because they haven't been drained yet), they could be stale...

[2018-11-16 03:31] #4557 closed

[2018-11-16 04:48] mattklein123 commented on #5056
FYI I looked at this a little bit and I'm doubtful update merging has anything to do with this, as update merging only prevents updates from going to the workers, it doesn't prevent updates on the main thread, which is where the stats are computed, AFAICT.

I do wonder if this is somehow due to hot restart and the old process writing 0 into the stat or something like that. I would try a fresh star

[2018-11-16 11:55] ramaraochavali commented on #4669
/assign ramaraochavali

[2018-11-16 15:07] snowp opened #5063 ""Degraded" health check"
Right now Envoy health checks are binary yes/no that determine whether a host should receive traffic. A possible extension to this would be to provide additional information in the http health check response that allows the downstream to reprioritize the host.

For instance, you can imagine an upstream responding with `x-envoy-health-degraded` when the host is able to serve most traffic but say a

[2018-11-16 16:29] auni53 commented on #4996
Posted #5064 to add downstreamDirectlyConnectedAddress(). Can probably close this issue?

[2018-11-16 16:41] rayepudi opened #5065 "Envoy SSL Private Key with Passphrase"
I'm trying to expose Envoy as a HTTPS protocol with private key (with passphrase). I'm able to expose it by creating the self signed certificate with public key and private key with no passphrase, But i'm facing issue while exposing the envoy using private key with passphrase.

[code]

[code]

[2018-11-16 17:13] rshriram opened #5066 "BoringSSL - per error stats"
It would be nice to have stats per BoringSSL error like certificate verification failure, SAN validation failure, TLS handshake error due to protocol error, etc. This alleviates the need to start trace logging and grep through the firehose of logs to identify issues related to TLS.

cc @htuch

[2018-11-16 17:14] rshriram commented on #5066
Better yet, it would be nice if failed connections appeared in the TCP access logs with appropriate response codes

[2018-11-16 17:31] mattklein123 commented on #5065
I don't think we have any way to support loading certs with passwords today. @PiotrSikora is this something we should consider?

[2018-11-16 17:33] mattklein123 commented on #5063
@snowp this request has come up in different forms multiple times. The "devil is in the details" on this one as it can get quite complicated, scary, and error prone. If you feel like doing a design proposal that would be great.

[2018-11-16 17:38] rayepudi opened #5067 "Multiple Certificate Validation within a single Cluster"
we're trying to connect to two different end points within a single cluster using load balancing for a fail over scenario. How can we configure multiple certificates within a single cluster for validation_context.

[2018-11-16 18:01] snowp commented on #5063
I have a few high level ideas on how to accomplish this:

- **Reuse priorities:** allow health checks to move hosts between priorities. You could shift it's priority by N where N is the number of priorities. P0 becomes PN, P1 becomes P(N-1). This maintains the relative priority between degraded hosts and reuses all of the existing LB mechanisms like spillover etc.
- **Multiple LBs:** We could main

[2018-11-16 18:02] mattklein123 commented on #277
Closing this as this has never been raised as a real issue by anyone. Can reopen later if needed.

[2018-11-16 18:02] #277 closed

[2018-11-16 18:03] mattklein123 commented on #343
This is already possible via different mechanisms. Closing in favor of more specific issues/requests.

[2018-11-16 18:03] #343 closed

[2018-11-16 18:10] mattklein123 commented on #1572
Closing this out as this has not been an issue in practice. Can reopen more specific actions if needed.

[2018-11-16 18:10] #1572 closed

[2018-11-16 18:11] mattklein123 commented on #2092
I think this is done.

[2018-11-16 18:12] mattklein123 commented on #2305
Going to close this out as this has not been a real issue. We can reopen if needed with a more specific task.

[2018-11-16 18:12] #2305 closed

[2018-11-16 18:19] mattklein123 commented on #2562
Closing this as this issue is being tracked as part of https://github.com/envoyproxy/envoy/issues/4283

[2018-11-16 18:19] #2562 closed

[2018-11-16 18:21] mattklein123 commented on #2762
I think this is largely done. We can track additional issues with specific tickets.

[2018-11-16 18:21] #2762 closed

[2018-11-16 18:30] mattklein123 commented on #3222
This is done.

[2018-11-16 18:30] #3222 closed

[2018-11-16 18:30] danielhochman commented on #5056
it correlated with the deploy of https://github.com/envoyproxy/envoy/compare/bacaa4cdcbf94a8b110b783ae5e72cd2947a8432...5da782c8503aa2664ceac1995628d161bbaa6441. though if it is a hot restart bug i guess it it could be due to the previous deploy's diff.

[2018-11-16 18:33] mattklein123 commented on #5056
Yeah based on that diff, cluster merging does look very suspicious, though I don't see how it could cause the stat discrepancy. Admittedly, I did not look at the code for very long and maybe I am missing something. If we have a host that repros, can we check whether it happens every time? Does it happen without hot restart? Does turning off merging fix it?

[2018-11-16 18:33] jmarantz opened #5068 "stats: names that require truncation cannot be looked up a second time."
*Description*:

[2018-11-16 18:35] jmarantz commented on #5068
This testcase added to thread_local_store_test.cc appears to repro:
[code]

[2018-11-16 18:35] mattklein123 commented on #5068
For context for eveyone else , it's not the subsequent lookup. It's a race condition around the fact in the current code, we don't index on the truncated name, and end up creating the truncated stat in the central store every time. That means a user of the previous allocated stat will crash. Right @jmarantz?

[2018-11-16 18:38] jmarantz commented on #5068
probably; something is going wrong anyway, but @junr03 wrote to me via DM
[code]
which is not exactly what I saw with this testcase. But whatever, if the testcase is accurate enough we'll just fix whatever's broken.

[2018-11-16 18:47] mattklein123 commented on #5068
Yeah I'm pretty sure it's the race condition above. Anyway, let's try this out which I think will fix the issue.

[2018-11-16 19:13] PiotrSikora commented on #5065
We should definitely support it: https://github.com/envoyproxy/envoy/blob/6cc80cb7d759a9da40f65a7d63b5c316214e9e7e/api/envoy/api/v2/auth/cert.proto#L77
It's on my ever-growing TODO list already, so feel free to assign it to me.

[2018-11-16 19:17] PiotrSikora commented on #5066
@rshriram you mean those?

Name | Type | Description
-- | -- | --
ssl.connection_error | Counter | Total TLS connection errors not including failed certificate verifications
ssl.handshake | Counter | Total successful TLS connection handshakes
ssl.session_reused | Counter | Total successful TLS session resumptions
ssl.no_certificate | Counter | Total successul TLS connections with no client certifi

[2018-11-16 19:42] rgs1 commented on #5056
I can think of two ways for this bug to happen:

1) we are failing to fire the merged updates (we'd know if the above stats — `cluster_updated_via_merge`, etc — are not being incremented)
2) `addMemberUpdateCb` is called, but `prioritySet().hostSetsPerPriority()` is not up to date: https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/upstream_impl.cc#L536

[2018-11-16 19:49] rgs1 commented on #5056
Also, we've only used merged updates with the subset LB, which will reconstruct the `hostSetsPerPriority` on every HC change:

https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/subset_lb.cc#L254

If other LBs rely on seeing _every_ HC change to keep `hostSetsPerPriority` up to date, things won't work...

[2018-11-16 20:10] rshriram commented on #1104
Please see #4975
This is a strawman mysql wire protocol decoder. Will add sql parsing capabilities, and other things mentioned here over time..

[2018-11-16 20:50] gsagula commented on #4756
Still looking into this. I will try to get something out on this weekend.

On Fri, Nov 16, 2018 at 11:58 AM stale[bot] <notifications@github.com>
wrote:

--
Gabriel Linden Sagula

[2018-11-16 20:59] htuch commented on #5066
@PiotrSikora would we want finer grained errors, e.g. at the per-elliptic curve error level? See for example https://code.woboq.org/crypto/openssl/crypto/ec/ec.h.html#1116. Same goes with other subsystems, they have more specific reason codes that can be useful in understanding why a cert is rejected.

[2018-11-16 21:05] ivitjuk opened #5071 ""pure virtual method called" in grpc:grpc_client_integration_test"
*Title*: *grpc:grpc_client_integration_test fails randomly with pure virtual method call error*

*Description*:
I am trying to build  Envoy on amazonlinux:2.0.20181010 with gcc (GCC) 7.3.1 20180303 and are running into some flaky tests with Envoy 1.8.0. Specifically grpc:grpc_client_integration_test is failing randomly because of "pure virtual method called" exception. I pasted the test log to: ht

[2018-11-16 21:55] jmarantz commented on #5071
/sub

[2018-11-16 21:57] jmarantz commented on #5071
could we coax a stack-trace out of the system on a pure virtual call?

In the distant past I was able to figure out how to override the pure_virtual handler to something that produced a stack trace, but that was on a vastly different toolchain in a vastly different era.

[2018-11-16 22:32] ivitjuk commented on #5071
Yeah, it's `void __cxa_pure_virtual(void);` as described in http://libcxxabi.llvm.org/spec.html

I'll give it a try.

[2018-11-16 22:51] PiotrSikora opened #5073 "Add ability to configure TLS session cache key"
Add ability to configure TLS session cache key, so that sessions stored in `ClientContextImpl` can be retrieved by a specific key(s) (e.g. `%UPSTREAM_CLUSTER%` - which is effectively what we have right now, `%UPSTREAM_HOST%` or `%REQ(:AUTHORITY)%`).

See: https://github.com/envoyproxy/envoy/pull/4791 for some background.

[2018-11-16 23:03] PiotrSikora commented on #5067
You can't. There was some talk about allowing more specific `CertificateValidationContext` inside `Endpoint` resource, but there is no code for it yet.

cc @lizan @JimmyCYJ @qiwzhang @htuch

[2018-11-16 23:12] ivitjuk commented on #5071
I patched `grpc_client_integration_test.cc` with the diff bellow, results are attached. Not sure if the patch did the right thing as the log doesn't contain much of an additional info.

[code]

[test.log](https://github.com/envoyproxy/envoy/files/2591192/test.log)

[2018-11-16 23:49] tonya11en commented on #5056
I just checked back on that same box and the stats fixed themselves. Looking for another instance of this.

[2018-11-17 01:20] PiotrSikora commented on #5066
@htuch definitely not, those are all errors for malformed certificates that would never hit the wire, and are never (in practice) the errors that you'd need to investigate.

I'm not saying that we don't need any more stats, but I'd rather add them on as-needed basis, since we're pretty well covered, IMHO, and all the cases that @rshriram requested in this issue are covered by existing stats.

[2018-11-17 11:20] toefel18 commented on #5011
@lizan Ok nice :+1:

[2018-11-17 13:15] ramaraochavali commented on #4936
@mattklein123 I think this can be closed as it is working as designed and all questions have been answered.

[2018-11-17 16:33] snowp commented on #5013
/assign @snowp

[2018-11-17 19:44] taion809 opened #5077 "Migrate header_formatter_test.cc to use Route prototype fields"
*Title*: *Migrate header_formatter_test.cc to use Route prototype fields instead of RouteAction*

*Description*:

[optional *Relevant Links*:]
https://github.com/envoyproxy/envoy/blob/master/test/common/router/header_formatter_test.cc

[2018-11-18 19:12] snowp commented on #5063
Here's a more concrete suggestion based on the first high level approach in the previous comment:

Add a `degraded_priority_load_` field to the LB which holds the load given to each priority based on its degraded fields. This should be computed the same way as `priority_load_` but looking at degraded hosts instead of healthy ones. These two should sum to a hundred the same way we're normalizing it

[2018-11-18 19:48] #4936 closed

[2018-11-18 19:52] mattklein123 commented on #5048
Yeah I think the only way to do this is going to be able to do the equivalent of calling addDecoded/EncodedTrailers() in the C++ filter API (filter.h). This would need to be done in the context of headers if end_stream is true, or in the body if end_stream is true. I think it's doable, but this is going to require some thinking on the right API to expose to allow this to happen.

@bjaglin there is

[2018-11-18 19:55] mattklein123 commented on #4669
I would deprecate and make it look just like ExtAuth (maybe there can even be code sharing, not sure).

Yup exactly, there will end up being no RateLimit code directly in the Envoy core at that point (on server or anything else). See some examples here: https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/network/http_connection_manager/config.cc#L66. It's pretty straightforwa

[2018-11-18 20:11] mattklein123 opened #5081 "docs: FAQ/doc on LB overview"
The current LB arch overview guide for load balancing is too detailed and complicated for most new users to make sense of. We need an even high level "getting started with Envoy load balancing" that introduces high level concepts and then links to the more detailed arch documentation. For example, it might flow like:
1) What is load balancing
2) Distributed vs. centralized load balancing
3) Etc.

[2018-11-18 20:12] mattklein123 commented on #5063
@snowp this makes sense to me. I like the idea of reusing priorities for this as I think it makes the implementation a lot simpler and more intuitive given what we already have. Perhaps you could also tackle https://github.com/envoyproxy/envoy/issues/5081 as part of this. :wink:

[2018-11-18 23:06] yob commented on #4936
thanks for your help :heart:

[2018-11-18 23:59] mattklein123 commented on #4988
@talnordan go for it. I sent you org invite so things can be assigned to you.

[2018-11-19 00:56] ramaraochavali commented on #4669
Ok. Great. I plan to do it two steps then
1. Move all the rate limiting stuff to extensions with Singleton manager. At this point, there is no functional change but would enable the next steps.
2. Deprecate bootstrap rate limit config , introduce it to filter config and make it work like ext authz. At this point I will see if there is any code sharing possible across ext authz and rate limiting (w

[2018-11-19 03:34] htuch commented on #5067
Yeah, I think adding per-endpoint CVC makes sense here.

[2018-11-19 03:36] htuch commented on #5066
@PiotrSikora fair enough. @rshriram does this seem satisfactory? If so, we can close this issue out.

[2018-11-19 13:09] ramaraochavali commented on #4669
Looked at it in detail today, we need to add `BootStrapConfig`/ `RateLimitServiceConfig` to `FactoryContext` so that rate limit filter can lookup BootStrap or it's own filter config, build client and register to singleton manager. Is it OK to add `BootStrapConfig` to `FactoryContext`?

Is there any other way?

[2018-11-19 16:09] WIgor commented on #3566
I've caught almost the same problem. Empty hosts leads to partial configuration (only clusters were loaded), no listeners and routes.

Errors in log about misconfiguration would be great.

[2018-11-19 17:59] BenPope opened #5087 "heap-use-after-free during Envoy::TcpProxy::Filter::onUpstreamData"
*Description*:

I have an asan stack for a crash we had with envoy v1.8.0. I haven't narrowed down a repro since I've only seen it once in testing and I'm reticent to roll it to production right now.

This one was built using `gcc version 8.2.0 (Ubuntu 8.2.0-7ubuntu1)` - the build container is a minor update of the `envoy-build` image.

[code]

[2018-11-19 22:32] billybanfield opened #5089 "overprovisioning_factor ignored"
*Title*: *overprovisioning_factor ignored*

*Description*:
We seem to be observing the following behavior:
The control plane is sending an overprovisioning_factor for each cluster_load_assignment of 10000. This is being acknowledged by envoy and displayed in the debug logs. Additionally, we are setting priority, with one locality at priority 0, and all other localities at priority 1. Our expectati

[2018-11-19 23:15] jmarantz commented on #4995
@gabime default loglevel is 'info' and anything that is spewed with any frequency is below that severity.

The noise in the logs is pretty low.  Closing for now.

[2018-11-19 23:15] #4995 closed

[2018-11-19 23:15] #5068 closed

[2018-11-20 00:00] dio commented on #5013
@tonya11en could you please try to apply the changeset at #5075 and test against your env when you have time? Thanks!

[2018-11-20 02:31] mattklein123 commented on #4669
Sorry I don't understand why we need any bootstrap config for rate limit service. The idea is to have it all be configured by the filter. Is the issue that filters might configure different rate limit services such that the singleton manager doesn't work? IMO, I would actually require that all filters have the same RL service config and fail config if this is not the case. This can be checked by t

[2018-11-20 04:06] ramaraochavali commented on #4669
Yes. Agree. I am not thinking that filters would have different rate limit services. In the final state of this implementation, we would remove RLS config from bootstrap and move it to filters. However in the interim, if I have to move the current `rateLimitClient` construction to extensions, I need BootStrapConfig available there - otherwise for some period of time, we need to have keep the code

[2018-11-20 04:19] zyfjeff commented on #5077
If no one is doing it, I am happy to do it.

[2018-11-20 04:38] snowp commented on #5089
Confirming this as a bug, using this config:

[code]

and modifying the /clusters endpoint to read the over provisioning factor from the host_set that contains the host:

[code]

[2018-11-20 08:17] ramaraochavali commented on #4669
I think we can probably add RateLimitServiceConfig to Singleton Manager and use it in the extensions. So currently it gets added from BootStrapConfig from the main code and the client construction in extension can use the same now (after moving the existing code to extensions) and later when we remove BootStrapConfig, it will be added from filter config. That way we can move the code to extensions

[2018-11-20 15:01] mattklein123 commented on #4669
Yup I think that makes sense. Thank you!

[2018-11-20 15:04] mattklein123 commented on #5089
OK thanks @snowp will mark this bug/help wanted. @dio not sure if this is related to some of your changes or not but CC also.

[2018-11-20 15:41] snowp commented on #5089
As for EDS: using the following EDS data:

[code]

That is, P0 has 1 healthy of out 3, P1 has 2/2. Overprovisioning factor is 10000, verified through the same hacked up /clusters endpoint as my previous comment.

The priority load from this setup ends up being {46,54}, so  the overprovisioning factor is clearly ignored. Looking at the code load_balancer_impl.cc it seems to be using 140 when comput

[2018-11-20 21:17] snowp commented on #5081
I can take this. One question: when you say distributed vs centralized, are you then referring to active health checking being distributed and the EDS weights being centralized?

/assign @snowp

[2018-11-20 23:45] mattklein123 commented on #5081
For distributed versus centralized I mean the general concept of doing distributed LB in which each LB operates independently (like in general what Envoy does) vs. having a global load balancer take part in the process (like what more advanced control planes do. A concrete example of this is doing zone aware load balancing either directly in Envoy (option 1 in the docs) vs. in the control plane (o

[2018-11-20 23:46] mattklein123 commented on #5081
Also, thank you very much @snowp for offering to do this!!!

[2018-11-21 09:21] M4rk9696 commented on #4657
Hi, can I take up this issue?

[2018-11-21 09:59] daimoniac commented on #5038
In my case, the HTTP/1.0 requests are health checks issued by digitaloceans loadbalancer.
We need to be able to say "OK" to these health checks, or the service will be marked as DOWN.

[2018-11-21 11:38] oschaaf commented on #5038
@daimoniac It looks like http/1.0 is supported, but it needs explicit configuration: https://github.com/envoyproxy/envoy/blob/02b2e798593ecebc48ef7c4a4f1832d5e533498d/source/common/http/conn_manager_impl.cc#L568

[2018-11-21 19:35] davidcpell commented on #125
@ludov04 @ChrisLahaye I'd also be interested to know!

[2018-11-21 21:01] ashimrana opened #5097 "connect timeout overrides route timeout & per try timeout"
It seems that when per try timeout is less than connect timeout, the connect timeout overrides route timeout.

Version: 1.8.0

Configuration
================================================
admin:
  access_log_path: /var/log/envoy/admin_access.log
  address:
    socket_address:
      address: 0.0.0.0
      port_value: 9903
      protocol: TCP
static_resources:
  clusters:
  - circuit_breakers:

[2018-11-21 21:01] qiannawang commented on #1178
@mattklein123 is there a timeline of adding this feature? Being able to override the response of a routed request became a higher demand to the product my team is working on.

[2018-11-22 00:38] AndresGuedez commented on #4704
Implementation work is ongoing. I am working on tests for the first PR which I am targeting for next week, although US holidays and a higher priority task are likely to delay this until the week after.

[2018-11-22 14:19] mattklein123 commented on #1178
@qiannawang can you sync up with @junr03 next week? I think his work in this area got de-prioritized but I'm not sure. If so, perhaps you can pick this up.

[2018-11-22 14:20] mattklein123 commented on #5097
Right now connect timeout is orthogonal to route timeouts, per-try timeouts, etc. IMO this is the right behavior and changing it will not be easy. Can you explain why you think the behavior should be changed?

[2018-11-22 14:21] mattklein123 commented on #4657
@M4rk9696 yes please!

[2018-11-22 15:41] ashimrana commented on #5097
The documentation does not state that connect timeout has priority over other time outs. Also it seems that the per-try time is supposed to cancel the association between pending request and the underlying connection so that while pending request goes on for a retry (if any) on another connection, the state of the old connection does not interfere with the now disassociated request.

Say, while th

[2018-11-22 17:09] #4716 closed

[2018-11-22 21:46] auni53 commented on #4830
o true I should do this, unstale pls i'll get to it this week

[2018-11-23 00:00] qiannawang commented on #1178
hmm, looks like we can call StreamDecoderFilterCallbacks::sendLocalReply to override the entire HTTP response from the upstream endpoint. At least, my local experiment proves this override works.

This is kind of unexpected to me to call the decoder callbacks in the response path, like encodeHeaders. WDYT, @mattklein123 ? Would the decoder callbacks be destructed once the request is routed (or for

[2018-11-23 03:03] #4733 closed

[2018-11-23 16:03] #4740 closed

[2018-11-23 22:03] #4766 closed

[2018-11-24 12:39] M4rk9696 commented on #4657
I've linted the column length to 100, but there are cases where the length of the cross reference is
greator than 100.

eg)
`envoy_api_field_config.filter.network.http_connection_manager.v2.HttpConnectionManager.request_timeout`

I understand that they were named to be meaningful, but these seem to be too big to fit. Below is a screenshot of another reference.

<img width="962" alt="screen shot 20

[2018-11-24 14:39] mattklein123 commented on #1178
@qiannawang can you describe a bit more about what your exact use case is? I'm a little confused. (It might be true that `sendLocalReply()` can override a response, but that is not what this issue is tracking, which is to override the response that Envoy sends for locally originated responses such as 503, 404, etc.

[2018-11-24 14:48] mattklein123 commented on #4657
Yeah we aren't going to be able to line break everything to 100 col. Thanks for working on this!

[2018-11-24 14:54] mattklein123 commented on #5097
OK I see what you are saying. Sorry, can you clarify why you think the connect timeout is overriding the other timeouts? I don't think it should be.

[2018-11-24 17:39] #4800 closed

[2018-11-24 18:40] snowp opened #5104 "sporadic segfaults in integration tests"
Seen on https://circleci.com/gh/envoyproxy/envoy/126831

in integration_test:
[code]

header_integration_test:

[code]

http2_integration_test:

[code]

[2018-11-24 18:46] snowp commented on #5097
Perhaps this is related to #4903 where a slow connection setup would eat into the per try timeout?

[2018-11-24 18:50] snowp commented on #5089
Here's a theory for the EDS case: the overprovisioning factor from EDS is not being propagated to the worker threads. I think this would explain why inspecting the CM gives the correct value but when the LB weights are calculated on the worker threads the default is still being used.

[2018-11-24 18:51] #4405 closed

[2018-11-24 18:57] #4590 closed

[2018-11-24 18:57] #5013 closed

[2018-11-24 21:46] qiannawang commented on #1178
We use plugged-in filters in the order of X and Y. Then, the envoy.router forwards the request to the upstream endpoint, which might respond with 200s or 500s for example.

In our case, we would like the *encoder* filter X to override the response with a 503, no matter what the response was returned by other filters or the upstream endpoint. It seems that StreamDecoderFilterCallbacks::sendLocalRep

[2018-11-25 23:17] GTB3NW commented on #1104
Great work @rshriram Looking forward to see what more you come up with!

[2018-11-26 03:29] markpritchard opened #5109 "Envoy 1.8.0 front-proxy becomes unresponsive, 100% CPU utilisation"
# Description

We run Envoy as an HTTP/HTTPS front-proxy to a cluster of Java applications (a servlet running in an embedded Jetty instance).

At somewhat regular intervals (2-3 days), Envoy becomes unresponsive - it doesn't respond to requests on the configured listener nor the administration interface. Checking `top` we can see it consuming 100% of a single core.

In an attempt to stabilise Envo

[2018-11-26 03:31] markpritchard commented on #5109
## perf report

# To display the perf.data header info, please use --header/--header-only options.
#
#
# Total Lost Samples: 0
#
# Samples: 3K of event 'cycles:ppp'
# Event count (approx.): 106323284365
#
# Children      Self  Command          Shared Object           Symbol
# ........  ........  ...............  ......................  ..............................................................

[2018-11-26 10:04] rvansa opened #5112 "Static build takes 479 MB"
**Issue Template**

*Title*: *Static build takes 479 MB*

*Description*:
Following https://github.com/envoyproxy/envoy/blob/master/bazel/README.md I've build the server from `master`, using optimized build - `bazel build //source/exe:envoy-static -c opt`. The resulting binary takes 479 MB - isn't this excessive for a lightweight proxy?

[2018-11-26 10:41] markpritchard commented on #5109
Sorry, forgot to wrap this up ... if there is anything else that would help troubleshoot the issue, please let me know.

I'll try to gather some more information next time it locks up (e.g. via strace).

[2018-11-26 11:08] HWPeiyao opened #5113 "Http connection reset, but the TCP is succeed when using Valgrind in Istio"
Http connection reset, but the TCP is succeed when using Valgrind in Istio

### *Description*:
I’m trying to use the tool callgrind in Valgrind to get the real-time call graph of envoy, which is running under the Istio proxy. I revised the envoy start code from _./envoy + parameters_ to _valgrind --tool=callgrind ./envoy + parameters_. But when I use curl to visit nginx http server behind envoy, t

[2018-11-26 12:17] mattklein123 commented on #5112
You will need to strip the symbols. See also: https://github.com/envoyproxy/envoy/issues/4695 if you would like to fix that issue with a PR.

[2018-11-26 12:32] rvansa commented on #5112
Thank you. Stripped variant (21 MB) seems reasonable.

[2018-11-26 12:32] #5112 closed

[2018-11-26 13:55] mattklein123 commented on #1178
@qiannawang you should be able to do what you are looking for with the existing filter interface. E.g., turning a response into headers only, adding trailers, changing/removing body, etc. Can you describe what you can do? It's possible that `sendlocalReply()` "works" but that's likely accidental for your use case. As I said already, this issue tracks a different feature request which is to allow m

[2018-11-26 15:31] mpwarres commented on #492
There are now a couple PRs for UDP socket support, in #5108 and (redundantly) #5115.  Past that, I think we'll need something at the Listener level for actually receiving packets.  Here's a [rough proposal](https://docs.google.com/a/google.com/document/d/e/2PACX-1vTvrfAp7v_tMvwKSyq5kfJGCkRBS47kojkOzvTywujjOuqVKsuUPH0mffr9aW9aIrfHd-gAAzkGTZS6/pub), comments welcome...

[2018-11-26 16:31] annismckenzie commented on #492
Could you make that proposal available publicly or is that not possible? 🙈

[2018-11-26 17:56] #4921 closed

[2018-11-26 18:00] bbigras commented on #96
Any progress on this?

[2018-11-26 18:43] mpuncel opened #5119 "Add access log response flag for downstream request cancel"
*Title*: *Add access log response flag for downstream request cancel*

*Description*:
If a downstream client cancels an HTTP request (for instance if the per try timeout is hit), server-side access logs show a "0" response code and no health flags. Example:

[code]

This is signifying that the request terminated before a response code was sent (because the client hung up), which seems like a nice

[2018-11-26 19:02] markpritchard commented on #5109
Thanks for getting back to me. Sorry, I should have noticed the mangled symbols - I'll generate another version of the callgraph (thanks for the link!) + a flame graph today.

[2018-11-26 19:21] alyssawilk commented on #5104
Also on https://github.com/envoyproxy/envoy/pull/5118

[       OK ] IpVersions/Http2IntegrationTest.GrpcRouterNotFound/IPv4 (89 ms)
[ RUN      ] IpVersions/Http2IntegrationTest.GrpcRouterNotFound/IPv6
[       OK ] IpVersions/Http2IntegrationTest.GrpcRouterNotFound/IPv6 (84 ms)
[ RUN      ] IpVersions/Http2IntegrationTest.RetryHostPredicateFilter/IPv4
[2018-11-26 18:52:27.327][014936][critical][bac

[2018-11-26 20:15] mpwarres commented on #492
Sure, here's a link that should allow comments: https://docs.google.com/document/d/1dEo19y-trABuW2x6-T564LmK7Ld-BPXZOlnR4df9KVU/edit?usp=sharing

Let me know if that doesn't work.

[2018-11-26 20:17] htuch commented on #5119
@mpuncel seems reasonable, so you want to work on this?

[2018-11-26 20:18] jbrongtr opened #5121 "Envoy specifying ciphers"
*Title*: Specifying Envoy ciphers

*Description*:
The issue that we are facing is figuring out how to only allow certain cipher suites to be used with envoy. Is there someway to pass this information in when deploying or will we need to "build" envoy with the specified suites?

[This](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/ssl.html?highlight=ciphers) link to the doc's ment

[2018-11-26 20:30] alyssawilk commented on #5071
[ RUN      ] IpVersionsClientType/GrpcClientIntegrationTest.MissingGrpcStatus/0
pure virtual method called
terminate called without an active exception
[2018-11-26 20:24:56.347][000149][critical][backtrace] [bazel-out/k8-dbg/bin/source/server/_virtual_includes/backtrace_lib/server/backtrace.h:125] Caught Aborted, suspect faulting address 0xad370000000f
[2018-11-26 20:24:56.348][000149][critical][b

[2018-11-26 20:30] tonya11en commented on #4826
I still want to do this. Other work has taken priority at the moment.

[2018-11-26 21:43] markpritchard commented on #5109
Hi @mattklein123 ,

The flamegraph is here - https://github.com/markpritchard/share/blob/envoy-1.8.0-lockup/envoy-flamegraph.svg

And the demangled call graph is here - https://github.com/markpritchard/share/blob/envoy-1.8.0-lockup/envoy-perf-report-demangled.txt

I'll dig out the requests that failed just prior to the lockup.

Thanks,

Mark

[2018-11-26 21:49] moderation commented on #5121
@jbrongtr There is some additional documentation at https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/auth/cert.proto.html?highlight=cipher that might help.

[2018-11-26 21:53] markpritchard commented on #5109
Hi @mattklein123 , I've extract the requests that were executing around the time Envoy became unresponsive. I'll try and replay them through our backup LB and see if I can get Envoy to lockup again.

[2018-11-26 23:26] htuch opened #5126 "Separate out Envoy platform API from extension API"
We currently have a bit of conflation in `api/` between those APIs that are provided a platform abstraction layer (mostly for the benefit of core Envoy, but also extensions) and the APIs that will one day act as a stable interface for extensions. For example:

https://github.com/envoyproxy/envoy/blob/2c0733ad3ffaf3e1630e3a77e822c5d76ad08f0b/include/envoy/api/api.h#L28

is clearly in the second cat

[2018-11-26 23:39] htuch commented on #5121
+1 to what @moderation writes, this is the right way to do it for Envoy. If this answers your question, LMK and we can close this out.

[2018-11-27 00:11] fshewl opened #5127 "Unauthenciated google grpc request crash envoy"
**Issue Template**

*Title*: *Unauthenciated google grpc request crash envoy*

*Description*:
If a google grpc request gets rejected wiht "Unauthencicated" error, envoy crashes.

The reason is, envoy compares the grpc_status code with DATA_LOSS (enum = 15), any error code larger than this number would be converted to InvalidCode (enum = -1)
https://github.com/envoyproxy/envoy/blob/97fa8855d115aed8

[2018-11-27 00:13] mattklein123 commented on #5126
+1 from me. Also related to https://github.com/envoyproxy/envoy/issues/827 and https://github.com/envoyproxy/envoy/issues/3390.

[2018-11-27 00:17] fshewl commented on #5127
Worth noting that DATA_LOSS is not the max grpc error code anymore.

Unauthenticated has enum 16.

[2018-11-27 00:19] fshewl commented on #5127
https://github.com/googleapis/googleapis/blob/3cef6c237ba87a81470b5fdf082ed187cbb23ded/google/rpc/code.proto#L103

[2018-11-27 00:31] jrajahalme commented on #2086
@mattklein123 Using the old closed issue for context... is there a way to use Envoy stream idle timeouts on a route that also handles gRPC streaming connections that may be idle for "a long time" (longer than the stream idle timeout). What I'm looking at (maybe) is to not have a configured stream idle timeout break gRPC streaming connections before grpc-timeout in effect fires?

[2018-11-27 03:08] andyyin opened #5129 "subset load balancer optimize"
Description:
The envoy subset does not satisfy all scenarios. Not all subset keys require fallback to DEFAULT_SUBSET. Can it be optimized to configure fallback_policy for subset keys separately?

E.g
{ "subset_selectors": [
     { "keys": [ "version" ] },
     { "keys": [ "stage", "hardware_type" ] }
]}

Optimized
{ "subset_selectors": [
     { "keys": [ "version" ] , "fallback_policy": NO_FALLBAC

[2018-11-27 03:25] andyyin opened #5130 "subset load balancer optimize"
Description:

The envoy subset does not satisfy all scenarios. Not all subset keys require fallback to DEFAULT_SUBSET. Can it be optimized to configure fallback_policy for subset keys separately?

E.g
{ "subset_selectors": [
     { "keys": [ "version" ] },
     { "keys": [ "stage", "hardware_type" ] }
]}

Optimized
{ "subset_selectors": [
     { "keys": [ "version" ] , "fallback_policy": NO_FALLBA

[2018-11-27 05:14] qiannawang commented on #5127
@mattklein123  and @htuch, I think the fix is to change the validation condition to use Status::GrpcStatus::MaximumValid instead of grpc::StatusCode::DATA_LOSS in envoy/source/common/grpc/google_async_client_impl.cc. In particular, the validation becomes

const Status::GrpcStatus grpc_status =
        status_.error_code() <= Status::GrpcStatus::MaximumValid
            ? static_cast<Status::GrpcSt

[2018-11-27 07:18] markpritchard commented on #5109
We run the same configuration in a different DC, and the Envoy there locked up just now. Same kind of issue - 100% CPU

[code]

I captured the output of lsof, but it doesn't appear to show anything unusual - https://github.com/markpritchard/share/blob/envoy-1.8.0-lockup/lsof-pid-9315

I grabbed an strace which shows it spinning on a futex:
[code]

[2018-11-27 08:46] markpritchard commented on #5109
Here is the flamegraph for the other Envoy instance that crashed - https://github.com/markpritchard/share/blob/envoy-1.8.0-lockup/lb0-sjc/envoy.svg

And the corresponding demangled call graph - https://github.com/markpritchard/share/blob/envoy-1.8.0-lockup/lb0-sjc/perf-report-demangled.txt

[2018-11-27 08:50] weilip1803 commented on #378
Is this still being done? If it isnt is there an example of how I can serve static files from an upstream?

[2018-11-27 12:08] jbrongtr commented on #5121
Hey htuch,

I saw that documentation too. To me that looks like code that you would put into the build of envoy; would that assumption be correct? When you click on [auth.TlsParameters](https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/auth/cert.proto#L17), at the top of that page, it even brings you to the section of api code.

Im unsure of how to let the envoy proxies know, that i

[2018-11-27 12:46] mvrhov opened #5131 "consider using libdeflate instead of libzlib"
**Issue Template**

*Title*: libdeflate, faster zlib replacement

*Description*:
libdeflate is supposed to be a faster & offer better compression at the same level alternative to zlib, it also offers more compression levels, which is not necessary here, while retaining the decompression compatibility.
Unfortunately it's api is not compatible with the one from zlib

[optional *Relevant Links*:]
htt

[2018-11-27 13:19] jmarantz commented on #5126
I didn't realize the purpose of the API was just to provide a stable interface to extensions; I thought it also encapsulated platform functions on behalf of core code as well. If that's true should we think of a slightly different name from api/export?

But +1 on separating the platform API from the additions to Envoy. In the past I've used some variation on the decorator pattern. So for Filesyste

[2018-11-27 13:20] jmarantz commented on #5126
Also I would propose we move TimeSystem/TimeSource into API. Many places where TImeSystem& or TimeSource& is plumbed through, API& is well, and it would seem better to use API as a conduit.

[2018-11-27 13:53] mattklein123 commented on #2086
@jrajahalme I don't think so currently. Please open a fresh issue for discussion.

[2018-11-27 13:56] mattklein123 commented on #5127
@qiannawang yes that sounds about right. Please make sure you add a test also for a code that does not yet exist and we can discuss further in the fix PR.

[2018-11-27 14:15] mattklein123 commented on #5109
I think this is an infinite loop in the other hosts retry plugin. IIRC @snowp may have fixed an issue here since 1.8.0. He can chime in further. You might consider running current master.

[2018-11-27 14:18] mattklein123 commented on #5109
(If there has been no fix this is definitely a bug obviously).

[2018-11-27 14:23] kindermoumoute opened #5133 "Memory leak on health checking"
**Memory leak on health checking**

*Description*:
I'm having a memory leak on production:
![image](https://user-images.githubusercontent.com/10092554/49087229-ba35d700-f256-11e8-9530-5ca7374c8db0.png)

After running the heap profiler I could clearly see the leak comes from health checking:

![image](https://user-images.githubusercontent.com/10092554/49086908-fa488a00-f255-11e8-93b2-cdab0a104427.p

[2018-11-27 14:34] snowp commented on #5109
`onHostAttempted` in the plugin is very simple, no loops: https://github.com/envoyproxy/envoy/blob/master/source/extensions/retry/host/previous_hosts/previous_hosts.h#L16

Wondering if the issue might be that `onHostAttempted` is being called too often for a single request and that the plugin is showing up on the perf output so loudly because of the heap allocation?

My fix previously removed a ca

[2018-11-27 14:47] mattklein123 commented on #5109
@snowp hmm yes, interesting. Both flame graphs are the same though, so it does seem like a tight loop of some kind. I wonder if there is some logic error somewhere that is not respecting max tries or something like that?

[2018-11-27 14:51] mattklein123 commented on #5133
What version are you running? What is your approximate config? There was an issue with unbounded HC hosts for DNS clusters that has been fixed.

[2018-11-27 15:12] mattklein123 commented on #5109
The only other thing I can think of without spending more time with the code would be that the same response is somehow getting redispatched multiple times, but that seems unlikely.

@markpritchard can you potentially remove the other hosts retry plugin from your config (but still configure retries) and see if it still locks up?

The other thing that might be useful would be a core dump. Any chanc

[2018-11-27 15:30] kindermoumoute commented on #5133
Docker container `envoyproxy/envoy-alpine-debug:v1.8.0`

There is my approximate config (anonymised config dump):

[code]

[2018-11-27 16:37] mattklein123 commented on #5133
This is the issue I was talking about, but that fix made it into 1.8.0: https://github.com/envoyproxy/envoy/issues/4548. Looks like this might be an issue with the gRPC health checker. Will need some investigation.

[2018-11-27 16:40] mattklein123 commented on #5109
@snowp I think the issue has to be https://github.com/envoyproxy/envoy/pull/4697. Without this fix, I think retry plugins are basically unusable? I'm guessing we are having a threading issue here which causes some type of infinite loop, but I'm not sure. @markpritchard this fix is not in 1.8.0, I would try master.

[2018-11-27 16:45] snowp commented on #5109
Oh yeah I’d forgotten about that. Yeah, it’s probably hitting undefined
behavior by accessing the vector between threads.

On Tue, Nov 27, 2018 at 9:41 AM Matt Klein <notifications@github.com> wrote:

[2018-11-27 16:58] snowp commented on #5109
And yes, the plugins are not usable without that fix.

On Tue, Nov 27, 2018 at 9:45 AM Snow Pettersen <aickck@gmail.com> wrote:

[2018-11-27 17:16] htuch commented on #5121
These can be configured for listeners and clusters in Envoy's bootstrap or xDS APIs, see https://www.envoyproxy.io/docs/envoy/latest/configuration/overview/v2_overview. There should be no need to rebuild.

[2018-11-27 17:21] htuch commented on #5127
SGTM, please also update the HTTP <-> gRPC status mapping code in https://github.com/envoyproxy/envoy/blob/master/source/common/grpc/status.cc as well.

[2018-11-27 17:21] qiannawang commented on #5127
SG. @mattklein123, @htuch can you assign this issue to @fshewl ? I dont have the permission to do so.

[2018-11-27 17:24] rayepudi opened #5134 "Envoy JWT_Auth Connectivity issue"
We're not able to connect to the envoy using the jwt_Auth token, but we able to hit the target url without the jwt token.

[code]

[2018-11-27 17:37] htuch commented on #4535
Reopening, only partially fixed in #4682.

[2018-11-27 17:38] htuch commented on #5127
@qiannawang done, but check out https://github.com/envoyproxy/envoy/blob/master/source/docs/repokitteh.md for next time, we have a bot to help! :)

[2018-11-27 17:41] qiannawang commented on #5127
Cool, thanks for the pointer!

[2018-11-27 17:44] htuch commented on #378
@weilip1803 you can do basic file serving with https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#route-directresponseaction. This is not a full fledged web server. I think this thread captures current status, which is "help wanted".

[2018-11-27 17:45] moderation commented on #5121
As @htuch points out the documentation refer to the configuration. No rebuild is necessary. Here is a snippet of sample config for a cluster.
[code]

[2018-11-27 17:45] htuch commented on #5131
@gsagula WDYT?

[2018-11-27 17:48] htuch commented on #5134
@qiwzhang can you help out here?

[2018-11-27 17:50] zuercher commented on #5130
I think it's a feasible change. Probably the `SubsetLoadBalancer::ValueSubsetMap` would need to become a struct to encapsulate the `map<HashedValue, LbSubsetEntryPtr>` and an optional fallback policy specific to the subset.

[2018-11-27 18:18] qiwzhang commented on #5134
@rayepudi Are you saying that a request to Envoy listener port 10083 with JWT  is rejected, but the one without JWT can reach the service in cluster "local_service"?   Since your JWT rules has "/Order" prefix,  were your request path has that prefix?

Could you turn on envoy debug with "-l debug" and post the envoy log for me?  One with JWT and one without JWT?

Thanks

[2018-11-27 18:38] jbrongtr commented on #5121
Excellent! Thank you both for the help and the snippit. Could you provide an example of cipher suites in the listener portion of the config?

[2018-11-27 19:39] gsagula commented on #5131
I don't know much about `libdeflate`, but considering that `zlib` project has not been very active lately and IIRC it still has an open issue with the size of sliding window, I would look into alternatives.
I'm working on https://github.com/envoyproxy/envoy/issues/4445, a generic compression filter that will make it easier to plug other compression libraries. We could try it out when I finish it.

[2018-11-27 19:51] mvrhov commented on #5131
We haven't had time to test it yet. However for as is it more important in having smaller file size because we store a lot of xml and json data gzipped, that the browsers can still decompress than the speed.

[2018-11-27 20:37] mattklein123 opened #5138 "Migrate ext_auth away from alpha config"
We need to lock the config as people are starting to use this filter in production.

[2018-11-27 20:57] gsagula commented on #5131
IMO, If performance is the reason for changing this library, we need to make sure that the replacement will produce better results before doing any work. WDYT? Another thing that we need to consider here is that Envoy, in order to reduce latency, it flushes on every data frame which sacrifices the compression a bit. It seems that for your case, the compression engine should be doing the opposite.

[2018-11-27 22:51] htuch commented on #2561
@ggreenway @mattklein123 where are we heading with this one? Should we close it out or create a separate issue for disabling backtrace in prod? I don't think this is still a test flake.

[2018-11-27 22:52] mattklein123 commented on #2561
I would just close it out until someone brings it up again, or open a fresh issue if you like.

[2018-11-27 23:01] #2561 closed

[2018-11-27 23:44] htuch commented on #5104
Well, one thing that is surprising is we hit this on the IPv4 case, should we just be running IPv6 here?

[2018-11-28 00:16] ernestoalejo opened #5141 "gRPC Access Log Service sends invalid UTF-8 in the user agent field"
I have configured a custom gRPC ALS made in Go to log all the requests to Stackdriver. We are continuously receiving bad requests as we have our services exposed to the Internet. From time to time (~40 daily for us) Go reports an error in the gRPC streaming service with this:

[code]

This is probably related to the fact that Go protobuf is [validating the encoding of string fields](https://groups

[2018-11-28 01:39] jrajahalme opened #5142 "Stream idle timeout behavior on gRPC streaming?"
Based on the documentation and reading the code it seems stream idle timeout breaks gRPC streaming streams when no information has been exchanged on the stream for a time longer than the stream idle timeout in effect.

It seems that if `max-grpc-timeout` has been specified (maybe as unlimited), stream idle timeout should not fire before the `grpc-timeout` (specified in gRPC headers) fires.

[2018-11-28 01:39] jrajahalme commented on #2086
Opened #5142

[2018-11-28 05:31] mvrhov commented on #5131
I agree with what have you written. My answer might not have been clear enough. We store the gzipped files on disk and then ATM we configure the nginx to serve them as is.
As we are in a process of redesigning some of the infrastructure I've discovered the above mentioned libdeflate and also the envoy

[2018-11-28 08:16] gsagula commented on #5131
Thanks for elaborating it. I'm not sure that Envoy can serve static files yet. There is an open issue for that https://github.com/envoyproxy/envoy/issues/378.

[2018-11-28 12:14] ramaraochavali opened #5143 "docs: FAQ/doc on Resiliency features"
On the similar lines of the LB overview documentation issue #5081, I think the we need a basic overview of resiliency features Envoys supports with links to the detailed explanation of each of those features.
This should probably include
- Retries (With a high level overview of how http and gRPC status codes are treated and how they are mapped etc)
- Circuit Breaking
- Outlier Detection
- Global R

[2018-11-28 12:14] ramaraochavali commented on #5143
@mattklein123  What do you think about this?

[2018-11-28 12:49] jmarantz opened #5144 "tools: clang-tidy times out in CI"
*Description*:

[code]
Do we need to extend the timeout for this phase, or shard the clang-tidy phase?

*Relevant Links*: https://circleci.com/gh/envoyproxy/envoy/128331?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-11-28 14:20] mattklein123 commented on #5143
i think this sounds awesome! :)

[2018-11-28 14:30] mattklein123 commented on #5142
It seems reasonable to allow gRPC specific timeouts to override Envoy timeouts. @jrajahalme can you put together a specific proposal for how it will all work before implementing? (In terms of what would override what, sanitizing, etc.).

[2018-11-28 14:31] mattklein123 commented on #5141
Hmm yes this seems bad. Marking bug/help wanted for someone to sort through this.

[2018-11-28 14:38] ramaraochavali commented on #5143
Assign this to me. I will write first draft but probably need your help

[2018-11-28 15:25] mpuncel opened #5147 "problems with cluster update merging and load balancing"
*Title*: *problems with cluster update merging and load balancing*

*Description*:
Apologies for the vague title, but we don't have very many details on the issue yet.

Our internal control plane has a suite of integration tests that it runs with Envoy docker images. One of the tests sets up 2 upstream Envoys and 1 downstream, and ensures that requests are evenly divided among the 2 upstreams when

[2018-11-28 15:40] htuch commented on #1319
After some discussion with @davidben and @PiotrSikora, I think it's clear that we should have the ECDSA detection happen in the TLS socket, rather than TLS inspector. The rationale here is that BoringSSL will eventually subsume this capability, so we should try and localize it rather than plumb deprecated ECDSA details (signature algorithms, cipher suites) across the listener socket objects.

[2018-11-28 15:56] snowp commented on #5147
fyi @rgs1

[2018-11-28 15:57] #5071 closed

[2018-11-28 16:05] htuch commented on #5147
This seems a genuine bug, this isn't WAI for cluster merging AFAICT.

[2018-11-28 16:08] htuch commented on #5141
We can't change the types of the field because the API is frozen, so I think we should do (2). We should have some very general UTF-8 scrubbbing utility that we apply across the board when working with untrusted data.

[2018-11-28 16:09] htuch commented on #5144
I think we maybe can just get clang-tidy to be more verbose? This seems to be an idle timeout rather than a hard timeout.

[2018-11-28 16:11] taion809 commented on #5050
this was closed by #5050

thanks!

[2018-11-28 16:11] #5050 closed

[2018-11-28 17:29] jmarantz commented on #5144
It would be great if we could scrape that log too for actionable issues (e.g. new errors). I have to scour it manually.

[2018-11-28 18:46] rgs1 commented on #5147
Thanks for reporting @mpuncel — mind sharing your LB configs? Do requests still go to only one host if you send, say, 100?

@htuch yeah, definitely not expected... My first guess would be that the underlying LB might not be friendly to the fact that some updates are skipped. Note that we've only used merged updates with the subset LB, so they might be some weirdness with other LBs...

[2018-11-28 18:47] rgs1 commented on #5147
cc: @tonya11en given he reported #5056, and this might or might be related.

[2018-11-28 18:49] rgs1 commented on #5147
@mpuncel these stats will be super useful if you can get them during the repro:

[code]

[2018-11-28 20:59] mpuncel commented on #5147
Huh I tried doing a lot more requests and I did end up seeing some hit the other upstream. So maybe it's a weighting issue.

After 139 requests:
[code]

After another 20:
[code]

Here are the stats:

[code]

Here's the cluster's config:
[code]

The relevant route is this:
[code]

[2018-11-28 21:13] mpuncel commented on #5147
After sending a lot of requests and continually measuring the request ratio between the two hosts, it seems like ~10.2% of requests go to the one and the rest to the other. So this seems to confirm it's a weighting issue. Unfortunately Envoy doesn't have endpoints in /config_dump yet so I can't really confirm that we're not doing stupid with the weights in our control plane (but as mentioned earli

[2018-11-28 21:14] mattklein123 commented on #5147
@mpuncel weights are available in `/clusters` output.

[2018-11-28 21:46] htuch commented on #5104
This is still an issue post-#5140, see https://circleci.com/gh/envoyproxy/envoy/128579?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-11-28 22:17] rgs1 commented on #5147
@mpuncel hmm is it possible to run these tests with h1 (instead of h2)? we've only used subsets + update merging with h1....  wonder if that's somehow related.

[2018-11-28 23:15] PiotrSikora opened #5155 "Consider switching from http-parser to llhttp"
Apparently, http_parser is abandonware and node.js started work on a switching to [llhttp](https://llhttp.org/).

cc @alyssawilk @htuch @mattklein123

[2018-11-29 00:39] jrajahalme commented on #5142
@mattklein123 We already override the connection manager level stream idle timeout with route level idle timeout, if available, at the end of `ConnectionManagerImpl::ActiveStream::decodeHeaders()`. Maybe we could check right after decoding the headers (very end of the same function) with Grpc::Common::hasGrpcContentType() if the request is a gRPC request, and simply disable the stream idle timeout

[2018-11-29 03:07] htuch commented on #5155
One concern around llhttp is it uses https://github.com/indutny/llparse and a bunch of TypeScript. I don't want to go down the language war path, but it's probably worth considering the increased build complexity (Bazelifying llparser and dependencies) and developer impedance matching when making the call. All things being equal, I'm a fan of higher level solution to parsing, but switching to this

[2018-11-29 06:38] indutny commented on #5155
If I could be of any help, please do not hesitate to ask me directly.

[2018-11-29 10:38] containscafeine commented on #4740
@alyssawilk sorry, missed the notifications. I just tried this today with the latest image and it works :+1: Thanks for the help! :)

[2018-11-29 11:08] oscarwest opened #5159 "Unable to parse JSON as proto (INVALID_ARGUMENT:check_settings: Cannot find field.)"
**Issue Template**

Excluding ext-auth from route fails to apply.

*Description*:
I'm trying to exclude a route from the ext-auth filter.
I've tried following this but either i'm doing something strange or the docs aren't updated:
https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/ext_authz_filter.html#per-route-configuration

Error:
`
[2018-11-29 10:53:51.563][000009][critical

[2018-11-29 11:22] containscafeine opened #5160 "Unable to specify hostname in `statsd_sinks[].config.address.socket_address.address` with strict/logical cluster"
*Title*: *Unable to specify hostname in `statsd_sinks[].config.address.socket_address.address` with strict/logical DNS cluster*

*Description*:
I have a bootstrap envoy configuration that looks like -
[code]

The cluster type is set to `STRICT_DNS` (`LOGICAL_DNS` exhibits the same behavior), and I have supplied a hostname for statsd sink in `statsd_sinks[0].config.address.socket_address.address`

[2018-11-29 14:12] alyssawilk commented on #5155
@indutny would you mind filing a tracking bug for the migration over on the node.js so interested envoy developers can follow it?  If we opt to migrate we'd probably swap shortly after you, and if we don't it's still important to know when node.js stops using http_parser from a security perspective, so it's good to know either way :-)

[2018-11-29 15:06] mattklein123 commented on #5155
My opinion on this is that we should take a wait and see approach. TBH, HTTP/1.1 at this layer is basically done. I don't really see what changes we would need to make.

[2018-11-29 16:44] pltanhthu opened #5163 "No traces on Jaeger UI in envoy-jaeger examples"
**No traces on Jaeger UI  in envoy-jaeger examples**

*Description*:
 I run the sandbox envoy-jaeger example and the envoy works fine when receiving requests but there is no trace shown in Jaeger UI. Only services' name is shown in UI, but nothing for dependencies or traces. Could you please point me if I missing something? Below is the docker logs for jaeger. Thanks.

*Logs*:
jaeger_1       | {"l

[2018-11-29 18:04] htuch commented on #5163
@rnburn any thoughts here?

[2018-11-29 18:05] htuch commented on #5159
@qiwzhang could you help out here? Thanks.

[2018-11-29 18:09] htuch commented on #5160
@containscafeine the statsd sink is not a cluster here, so is not configured via cluster settings. It only accepts an IP address. If you want to configured statsd sink as a cluster, you'll need to use TCP.

[2018-11-29 18:13] rnburn commented on #5163
Not sure. Maybe @isaachier can help or try asking on https://gitter.im/jaegertracing/Lobby

[2018-11-29 19:22] objectiser commented on #5163
@pltanhthu Can you confirm you ran the example using the instructions [here](https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/jaeger_tracing#running-the-sandbox)?

Once you have performed one or more requests, when you open the Jaeger UI, on the search page - what are the list of services in the `Service` dropdown? If the UI is already started before performing the requests, then just r

[2018-11-29 20:04] indutny commented on #5155
@alyssawilk https://github.com/nodejs/node/issues/24730 - This might do.

[2018-11-29 21:09] ggreenway commented on #5087
My initial guess is that this is an old-style websocket connection, based on the callstacks for new/delete being in the HCM, but the crash is in tcpproxy. @alyssawilk does that sound correct to you? If so, this is code that is deleted in master, so we're unlikely to fix it.

[2018-11-29 21:22] alyssawilk commented on #5087
Yeah, that'd be the most obvious explanation.  @BenPope are you using (now removed) websocket_config?

[2018-11-29 23:10] mattklein123 commented on #5142
@jrajahalme I think this came up last time we did a similar change, but there are security concerns around allowing request headers to override timeouts. I.e., on external requests we can't do this. In general this makes sense to me but I think we are going to have to iterate in code review to make sure we get the sanitizing process correct. It might also need to be optional. How does gRPC today h

[2018-11-29 23:37] syml opened #5166 "Stop and send custom response in encoding filter"
*Title*: *Stop and send custom response in encoding filter*

*Description*:
We have an encoding filter and we would like to send a custom error response if some conditions are met. The conditions might only be available after some wait so we need a way to stop filter processing (StopIteration) then possibly send a custom response instead of calling continueEncoding.

The only alternative I have fo

[2018-11-29 23:54] qiwzhang commented on #5159
I assume you are using jwt_authn filter, but your link points to ext_authz filter.

jwt_authn filter doesn't support per_roue config yet.  So your setting here

per_filter_config:
     envoy.filters.http.jwt_authn:

Cause the parsing fail.

The idea is,  in jwt_authn config, you can use rules to specify per path requirements.  So there is not need to support per-route config.

[2018-11-30 04:14] htuch commented on #5104
So, wtih https://github.com/envoyproxy/envoy/pull/5164, it looks like we do get an actual assertion failure and backtrace in the main log (maybe because of the `tee` changing tty behavior?!). In any case, it looks like this:

https://circleci.com/gh/envoyproxy/envoy/129435#artifacts/containers/0

[code]

I think we just need to deflake the tests for connection timeouts (maybe increase?).  It is po

[2018-11-30 09:43] oscarwest commented on #5159
Indeed we were looking at the wrong filter!
Thank you 👍
This works

[code]

[2018-11-30 09:43] #5159 closed

[2018-11-30 10:16] BenPope commented on #5087
[code]

[2018-11-30 10:46] pltanhthu commented on #5163
Hi @objectiser , I ran the jaeger-tracing example with a small change in port (from "8000:80" to "8005:80") in front-proxy in docker-compose.yaml. Hope that it is not reason for the issue. And after i sent a request "curl localhost:8005/trace/1", I got the hello message. I refreshed Jaeger UI and I just got the list of services, but I didnt see neither traces nor dependencies. Below is the Jaeger

[2018-11-30 12:41] ramaraochavali opened #5168 "load balancer stat inconsistency"
While investigating some 5xx issue in a cluster found the following stats for the cluster that has problems.
[code]
While membership metrics show all the members as healthy, the `cx_none_healthy` and `lb_healthy_panic` incrementing seems to be inconsistent. Is this a bug or is there a scenario where this can happen?

[2018-11-30 13:49] objectiser commented on #5163
@pltanhthu Ok thanks -after starting a fresh environment, could you run a single request and then run the following command:
[code]
and attach the output to this issue.

[2018-11-30 14:53] pltanhthu commented on #5163
hi @objectiser, here is the output:

 {"data":[{"traceID":"14c7cc4ee267dd26","spans":[{"traceID":"14c7cc4ee267dd26","spanID":"669203e8ab34d70d","operationName":"checkStock","references":[{"refType":"CHILD_OF","traceID":"14c7cc4ee267dd26","spanID":"7ea61c3b0643b829"}],"startTime":1543592993641276,"duration":2121,"tags":[{"key":"component","type":"string","value":"proxy"},{"key":"guid:x-request-id",

[2018-11-30 16:35] objectiser commented on #5163
@pltanhthu This is strange - so the data looks like it is being collected by the backend. Can you do the same steps, but this time use the following URL in the browser: `http://localhost:16686/search?service=front-proxy`

Let me know if you now see the trace instances.

[2018-11-30 16:44] mpuncel commented on #5147
Embarrassingly, I realized the last update from me I actually had my breakpoint at a spot where the weights were not even.

I'm now thinking that the only issue here is that my test isn't waiting long enough for the merge to happen. If I add a sleep after making changes before putting requests through it works. Apologies for the false alarm, I really appreciate the quick responses.

[2018-11-30 16:44] #5147 closed

[2018-11-30 18:09] htuch commented on #5166
@syml as discussed internally, you should be able to `StopIteration` during `encodeHeaders()`, keep a reference to the headers,and after the wait, mutate them and `continueEncoding()`.

[2018-11-30 18:12] htuch commented on #5168
@ramaraochavali were the members always healthy? Since membership is a gauge, it only gives you the current state, whereas the other stats are counters, reflecting history.

[2018-11-30 19:58] syml commented on #5166
@htuch Thanks Harvey, what about data? There doesn't seem to be a way to overwrite the data after encodeData() has been called once. I tried what you suggest and I was stuck trying to make data work. There are no encoding callbacks to overwrite the data afterwards.

[2018-11-30 20:01] htuch commented on #5166
@syml once you're at the data encoding stage, you can then directly invoke https://github.com/envoyproxy/envoy/blob/dd2b1d457e97cfd266673489fb8dd7c948bd0d7b/include/envoy/http/filter.h#L431.

[2018-11-30 20:02] htuch commented on #5166
FWIW, I think having some utility or convenience wrapper around this flow could be useful, but I'm not sure if we're missing any actual capability today that would require the multi-filter setup described above.

[2018-11-30 20:08] dschaller commented on #4919
I think this already works as intended. I attempted to repo with invalid regex and an exception was thrown at startup.

[code]

[2018-11-30 20:13] htuch commented on #5104
So, there are still mystery segfaults without stack traces, even after enabling log collection, see https://129746-65214191-gh.circle-artifacts.com/0/tmp/envoy-docker/envoy/generated/failed-testlogs/test/integration/http2_integration_test/test.log.

I think we have multiple things going on; there are some timeout asserts that I can repro under load, these I'll work on fixes for. For the missing st

[2018-11-30 20:48] syml commented on #5166
@htuch the problem is that encodeData() is called before our callback runs. Depending on the result provided by the callback we want:
- just forward the app's data (success case)
- overwrite the app's data (addEncodedData doesn't seem enough, we need to clear the existing body) (error case).
The encoding callback class only allows to add data or get a read-only pointer to the data buffer.

[2018-11-30 21:01] htuch commented on #5166
@syml you should issue `StopIteration` in `enodeData` as well.

[2018-11-30 21:17] htuch commented on #5166
@syml explained this to me just now on a video call. The issue they face is that they issue an RPC for response YES/NO as they encode. They need to be able to buffer both headers/response and then do what is described at https://github.com/envoyproxy/envoy/issues/5166#issuecomment-443334937.

It's not possible to do `StopIterationBuffer/Watermark`, since these don't allow the data to be replaced.

[2018-11-30 22:05] zanes2016 opened #5173 "ADS Server Reconnect Never Occurs After Hard Reboot"
*ADS Server Reconnect Never Occurs After Hard Reboot*: *When the ADS server is abruptly rebooted with `sudo reboot -f` the envoy proxy does not attempt to reconnect to the ADS hosts. However, when using `sudo reboot` (without `-f`) ADS properly attempts a reconnect.*

*Description*:

*Config*:

[code]

[code]

*Environment*:

Envoy Version: v1.8.0

[2018-11-30 23:03] ivitjuk opened #5174 "Support for resource readiness feedback in XDS"
*Title*: Support for resource readiness feedback in XDS.

*Description*:
We are experiencing temporary 503 responses from Envoy when adding a new route. We managed to link those to a scenario where the new route also introduces a new cluster. When the new cluster is added it enters the warming state. As we send the routes immediately after sending clusters, there is a short period of time when req

[2018-12-01 01:09] fshewl commented on #5127
I think it already includes "Unauthenticated" in the map:
https://github.com/envoyproxy/envoy/blob/890f1f13179e74d4b728599da66466acf0338762/source/common/grpc/status.cc#L78

[2018-12-01 01:30] #3469 closed

[2018-12-01 01:45] venilnoronha commented on #5065
/assign @venilnoronha

[2018-12-01 01:56] daurnimator commented on #3469
Please mark this help wanted.

[2018-12-01 07:32] ramaraochavali commented on #5168
Another observation that lead to these inconsistent stats is
- Envoys are running with some configuration
- We redeployed our control plane
- Control plane sent the new cluster definitions (old clusters but with changed circuit breaking stuff)
- Eds Clusters start warming up
- Eds subscription sent
- Because of some network problem, EDS updates were received after a huge delay
- Cluster Warm up co

[2018-12-01 22:52] mattklein123 commented on #5166
That could work, though it might be a bit hard to grok.

The quick thing that comes to mind would be to have a non-const version of `const Buffer::Instance* encodingBuffer()` that allows direct manipulation of the buffered data. This would need some thinking as the reason it's constant currently is that it can see buffered data that was buffered by a previous filter. Perhaps there is a non-const v

[2018-12-02 05:57] qiwzhang commented on #4705
https://github.com/envoyproxy/envoy/pull/5181

This PR will remove rapidjson from jwt_verify_lib.

[2018-12-02 06:40] ramaraochavali commented on #5168
@dio I am debugging this issue and came across this line changed in #3783

https://github.com/envoyproxy/envoy/blob/9dacb47c8d3025191c2dea91f28bda0759bda23c/source/common/upstream/eds.cc#L84

Wondering, why are we setting the host to `FAILED_EDS_HEALTH` to start with instead of passing optional null value? It may not be causing this behaviour of inconsistent stats yet - still debugging that part b

[2018-12-02 15:46] jmarantz opened #5182 "style: consider recommending outlined destructors in codebase to improve compile-time"
The current Envoy de-facto style is to inline destructors in declarations of classes, particularly abstract base classes. The [style guide](https://github.com/envoyproxy/envoy/blob/master/STYLE.md) does not directly mention 'inline' or 'destructor' but it does reference the [Google style guide](https://google.github.io/styleguide/cppguide.html#Inline_Functions) which has an ambiguous warning about

[2018-12-02 15:57] jmarantz opened #5183 "threads: mutex contention test occasionally hangs"
*Description*:
A couple of times I have seen this test hang:
[code]
Having worked  on this with @ambuc on this one, it's not a shock there's a little fallout. More retry logic is probably needed.

[2018-12-02 20:55] #4897 closed

[2018-12-02 22:17] mattklein123 commented on #5182
Note that we already do this for mocks. This is fine with me if we want to change over. Can you update the style guide?

[2018-12-03 05:55] nakabonne opened #5186 "How can I register a resolver?"
*Title*: *How can I register a resolver?*

*Description*:
I want to resolve names dynamically when getting EDS response.
That is, I am looking for a way to set a EDS config to use `LOGICAL_DNS/STRICT_DNS`.
There are multiple discussions on this subject.

- https://github.com/envoyproxy/envoy/issues/4290#issuecomment-416920502
- https://github.com/envoyproxy/go-control-plane/issues/87#issuecomment-

[2018-12-03 07:08] yob opened #5188 "Feature Request: expose stats on TLS versions in use"
*Description*:

We're running envoy to serve customer traffic in GKE clusters, configured by contour. Currently we're using contour 0.7 and envoy 1.7.0.

We would like to monitor the TLS versions that are actively being used by our customers, to determine when it's feasible to ratchet up the minimum version.

I've noticed that the stats exposed by envoy include the ciphers being used, but not the

[2018-12-03 10:53] objectiser commented on #5163
@pltanhthu Looks like it is some form of UI bug - could you raise an issue in https://github.com/jaegertracing/jaeger-ui listing details of your environment (especially browser) and the details you just mentioned.

If you have time, it might be worth experimenting with trying to isolate the query parameter(s) in the URL that is causing the problem, and add any findings to the jaeger-ui issue. Also

[2018-12-03 13:50] jmarantz commented on #5104
Any luck getting a symbolized backtrace? Maybe we could run the tests in CI under the symbolizer?

I tried to repro this earlier just by running it a lot on my workstation a lot and it would not repro, but I might not have been doing it right.

[2018-12-03 13:58] alyssawilk commented on #5104
Yeah, if this is failing the RELEASE_ASSERT(result, result.message()); in waitForNextUpstreamRequest
I agree we should either decrease parallelism or scale the timeouts on the v6 build. In-house we auto-scale TSAN and ASAN builds for similar reasons.

[2018-12-03 14:02] alyssawilk commented on #5087
Yeah, as @ggreenway commented, this is the deprecated way of doing websocket upgrades, and all related code has been removed from Envoy, so we're not going to be able to fix this.

I encourage you to check out the new Envoy generic upgrade support
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/websocket
and migrate on over - hopefully moving to the new (and supported!) code path s

[2018-12-03 14:04] #5087 closed

[2018-12-03 14:04] clyang82 opened #5190 "Envoy reports https traces to jaeger"
Hello Guys,

is it possible to report https request by envoy? if so, could you please point me an example or some sample configurations? Thanks.

[2018-12-03 14:42] junr03 commented on #5186
I think there are two parts to your question:

1. Your actual objective to resolve EDS endpoints via DNS: this is still a feature request, as also presented in #4290. That issue was auto closed, but can be reopened. The solution that @dio suggested there is still valid. Your control plane could do CDS for clusters with DNS-resolved addresses, instead of having EDS-based clusters.
2. Your question

[2018-12-03 14:46] junr03 commented on #5190
related jaeger setup issues: https://github.com/envoyproxy/envoy/issues/4963 https://github.com/envoyproxy/envoy/issues/5163. You will be able to find additional info, and people involved in Jaeger tracing there.

[2018-12-03 16:39] zyfjeff commented on #5029
@yannlandry Are you still deal with this issue?

[2018-12-03 16:59] alyssawilk commented on #5166
Alternately if the problem is that they want to never get that initial data, maybe some return code for encode/decode headers that defers the onData until the filter is ready?   I like the idea of being able to defer all data until the filter is ready to receive any, and I think it'd make the flow from the filter perspective fairly clear.

[2018-12-03 17:21] htuch commented on #5166
Yeah, I like @alyssawilk suggestion the best, since folks are often confused as to why data processing even occurs when headers are blocked.

[2018-12-03 17:23] isaachier commented on #5163
I doubt it is a UI bug. It might make sense to investigate further using logging, but the plugin has no way to configure log level at this time (defaults to null logger). Either way, please submit an issue to https://github.com/jaegertracing/jaeger and provide details so we can investigate it.

[2018-12-03 18:03] cmluciano opened #5193 "question: debugging access log format problems"
*Title*: question: debugging access log format problems

*Description*:
The access log formatter does not appear to work without a null terminator \n . #87 was closed with an [update to the docs](https://github.com/envoyproxy/envoy/pull/93/files) noting the need for a newline separator. It makes sense to not enforce the newline when inserting a custom format, but a colleague and I found it difficu

[2018-12-03 20:13] clnperez opened #5196 "provide ppc64le release binaries"
**Title: provide ppc64le release binaries**

*Description*:
I'm hoping to figure out a way we can get binaries for ppc64le built and hosted by the envoy community. I've been building binaries myself for the past year or so, to be consumed by Power users of istio. Now that it seems that all the bazel + luajit issue are ironed out, it would be great if we could agree on a way to have this be automat

[2018-12-03 21:05] #4695 closed

[2018-12-03 21:08] mattklein123 commented on #5196
@clnperez we would be happy to post GitHub events to an external build hook if you want to run builds on master pushes.

[2018-12-03 21:42] mattklein123 commented on #5174
@ivitjuk this sounds like a useful addition for the ACK process if you want to make a proposal. cc @htuch

[2018-12-03 21:54] yannlandry commented on #5029
@zyfjeff for now I managed to find a workaround so I put this on the backburner for a few weeks and was planning to come back to it at the end of the month. However, if you'd like to take a look at it and attempt to fix it, feel free to do so. The solution I've tried (with "always print primitive fields") didn't work and we're back at square zero.

[2018-12-03 23:27] jmarantz opened #5201 "perf: add memory-usage integration test"
Envoy has a large number of maintainers and contributors, and we've seen that memory usage can increase significantly as features are added, or optimizations are made for other criteria (e.g. speed, readability). In some cases, the right decision is to consume more memory to realize other benefits, but this should be an explicit decision made during PR review, and should not be a silently bloating

[2018-12-04 01:06] nakabonne commented on #5186
Thank you for your politeness.
I thought resolver_name would solve the EDS endpoint via DNS, but it seems not to be the case.
My problem was solved. Thank you!

[2018-12-04 01:09] #5186 closed

[2018-12-04 02:58] hzxuzhonghu commented on #4128
/remove stale

[2018-12-04 05:00] #5119 closed

[2018-12-04 05:08] htuch commented on #5168
@ramaraochavali it's not actually marking them unhealthy, if you follow the code path. Instead, it's saying "this is the flag to use to mark unhealthy, _when_ you detect an unhealthy condition in the host EDS data while loading". It's a bit confusing, I agree..

[2018-12-04 05:10] htuch commented on #5104
@jmarantz I think we'll see a big improvement when #5172 merges. The issue so far is not that we're lacking symbolization, we're not getting _any_ trace in some situations. It might be possible to just collect the core and analyze offline.

[2018-12-04 05:13] htuch commented on #5166
@syml do you want to have a go at implementing this? This would also resolve some of the earlier surprises that @qiannawang encountered.

[2018-12-04 05:30] htuch commented on #5174
A couple of things:

1. If you sequence as per https://github.com/envoyproxy/data-plane-api/blob/master/XDS_PROTOCOL.md#eventual-consistency-considerations, as [CDS, EDS, RDS], if everything ACKs, the clusters should be warm by time the RDS update arrives. This really requires ADS or cross-management replica coordination in practice.

2. We could make an extension to allow for resource status to b

[2018-12-04 06:57] ramaraochavali commented on #5168
@htuch Yeah. I saw that part later but forgot to update here - I think it would be less confusing to pass optional null value here and set the flag if you detect an unhealthy condition in the `PriorityStateManager`.

[2018-12-04 10:24] mangareader opened #5206 "upstream circuit breakers with strict_dns"
*Title*: *upstream circuit breakers with strict_dns*

*Description*:
I use service discovery (strict_dns) and define max_connections, but it doesn't work correct.
When set max_connections=5, i expected each host in cluster (35 hosts) will have max conn 10, and have 350 concurrent request before have pending request.
But when run, connection each host (rq_active) is very low & pending request is ve

[2018-12-04 10:51] nakabonne opened #5208 "Service_name of datadog sets cluster name to default value"
*Title*: *service_name of datadog sets cluster name to default value*

*Description*:
#### proposal
Currently, service_name of [config.trace.v2.DatadogConfig](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/trace/v2/trace.proto#config-trace-v2-datadogconfig) is required.
However, I think that it's better to set cluster of [core.Node](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api

[2018-12-04 12:34] PiotrSikora opened #5209 "Add ability to execute Filters over gRPC to mutate payload."
Add ability to execute Filters over gRPC to mutate payload.

This issue is pretty much just a placeholder for a discussion and to gauge the interest in the community for such feature, no indent to work on it anything soon.

[2018-12-04 13:54] clyang82 commented on #5190
@junr03 Thanks for your response. I have a https enabled nginx service with envoy injected. When I curl this service, the output is
[code]

I have enabled envoy debug mode, there is an error thrown:
`[2018-12-04 13:31:12.560][35][debug][http] external/envoy/source/common/http/conn_manager_impl.cc:233] [C1] dispatch error: http/1.1 protocol error: HPE_INVALID_METHOD`

I guess the problem is have no

[2018-12-04 14:34] #5077 closed

[2018-12-04 15:00] junr03 commented on #5208
As I see it core.Node is a construct to identify the envoy, not to configure an upstream the envoy will connect to. However, I am not sure I understand what you are suggesting. How is this default value shared between different configuration files?

[2018-12-04 15:05] jamessynge opened #5210 "testBindSpecificPort (listen_socket_impl_test.cc) is flaky"
This test (which I wrote in PR #647) has a flakiness warning comment, with a TODO(jamessynge), and has failed with "port already in use" a bunch recently when I've run it.

The TODO comment suggests adding a loop of retries. I think this will also benefit from a specific exception class for the bind failure so that the test can handle just the intended failure case, and not hide other problems.

[2018-12-04 16:03] jamessynge commented on #5210
/assign @jamessynge

[2018-12-04 16:50] mattklein123 commented on #5209
@PiotrSikora is the intention here to make core changes, or to just have a filter that calls out to a gRPC service for each potential hook point? If the latter, makes a lot of sense to me.

[2018-12-04 18:05] ivitjuk commented on #5174
htuch@, in the point 1, when you say "...the clusters should be warm by time the RDS update arrives", is this because there is explicit control in Envoy that ensures this, or do we just opportunistically rely on timing  to work for us?

The reason I'm asking is that we do have ADS which tries to send resources in order, and from what I see in the Envoy logs, order was correct. Nevertheless, it doe

[2018-12-04 18:32] htuch commented on #5174
@ivitjuk you show in your log [CDS, LDS, RDS], where is EDS? you will need an EDS update for the warming to complete? I think you need to have [CDS, EDS, RDS] to make this work.

[2018-12-04 18:39] ivitjuk commented on #5174
This specific setup doesn't use EDS, it uses `LOGICAL_DNS`. Following is the CDS config corresponding to the logs I previously pasted:

[code]

[2018-12-04 18:47] htuch commented on #5174
@ivitjuk yeah, logical DNS is going to take arbitrary time to warm, so sequencing alone won't cut it.

[2018-12-04 19:42] predmore opened #5212 "Allow optionally forwarding the client cert if one is provided"
Allow a client cert to be optionally provided and its details forwarded to the cluster.

*Description*:
Right now Envoy only forwards client cert information (through `forward_client_cert_details`) if a validation context is provided. We would like to allow clients to optionally validate through client certs by having the details forwarded to the backing service that, itself, does the validation.

[2018-12-04 19:52] bbigras opened #5213 "Does envoy.ext_authz support cookies?"
**Issue Template**

*Title*: *Envoy doesn't seem to send the cookie after auth*

*Description*:

[code]

[2018-12-04 20:16] lavignes opened #5215 "xDS gRPC credentials for AWS IAM"
*Title*: xDS gRPC credentials for AWS IAM

*Description*:
I work on the AWS App Mesh team. For our public preview we added a [core.GrpcService.GoogleGrpc.CallCredentials][1] plugin that uses a slightly modified [signature v4][2] signing process to authenticate xDS requests. Essentially, we map the gRPC POST request into an HTTP 1.1-style request and pass follow the signing algorithm as documented.

[2018-12-04 21:50] mattklein123 opened #5217 "Add general listener filter timeout to cover all listener filters"
Currently we have a hard coded one in tls_inspector, but we need one for proxy_proto and per TODO should have a listener manager level timeout to cover them all. I will fix.

[2018-12-05 00:17] mattklein123 commented on #5215
Thanks @lavignes this sounds very useful. @htuch and @lizan are most familiar with the gRPC extensions and can hopefully provide some guidance here.

[2018-12-05 00:18] mattklein123 commented on #5213
@gsagula

[2018-12-05 00:19] mattklein123 commented on #5212
This makes sense to me. @PiotrSikora @lizan any concerns here?

[2018-12-05 00:21] mattklein123 commented on #5206
The circuit breakers are global to the entire cluster, not per-host.

[2018-12-05 00:45] PiotrSikora commented on #5212
Sounds fine to me.

[2018-12-05 00:52] lizan commented on #5212
SGTM

[2018-12-05 04:50] bnlcnd opened #5221 "HTTPS request always return 404"
Description:

I made a Docker file and a yml file to enable the SSL on the Envoy front proxy. But all the traffic returns 404.
[optional Relevant Links:]

Repro steps:

---------------- The very simple dockerfile -------------------

FROM envoyproxy/envoy-alpine:latest

ADD ./pem/envoy-front-ssl.crt /etc/
ADD ./pem/envoy-front-ssl.key /etc/
ADD edge.yaml /etc/

CMD ["/usr/local/bin/envoy", "-c", "

[2018-12-05 05:08] bnlcnd commented on #5221
Description:

I made a Docker file and a yml file to enable the SSL on the Envoy front proxy. But all the traffic returns 404.
[optional Relevant Links:]

Repro steps:

---------------- The very simple dockerfile -------------------

FROM envoyproxy/envoy-alpine:latest

ADD ./pem/envoy-front-ssl.crt /etc/
ADD ./pem/envoy-front-ssl.key /etc/
ADD edge.yaml /etc/

CMD ["/usr/local/bin/envoy", "-c", "