[2020-07-09 19:45] alyssawilk opened #11990 "extensions/filters/http/aws_request_signing coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/filters/http/aws_request_signing, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when y

[2020-07-09 19:45] alyssawilk opened #11991 "extensions/filters/http/cache coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/filters/http/cache, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when you get a chanc

[2020-07-09 19:45] alyssawilk opened #11992 "extensions/filters/http/ext_authz coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/filters/http/ext_authz, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when you get a c

[2020-07-09 19:45] alyssawilk opened #11993 "extensions/filters/http/grpc_json_transcoder coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/filters/http/grpc_json_transcoder, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when

[2020-07-09 19:45] alyssawilk opened #11994 "extensions/filters/http/header_to_metadata coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/filters/http/header_to_metadata, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when yo

[2020-07-09 19:45] alyssawilk opened #11995 "extensions/filters/listener/http_inspector coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/filters/listener/http_inspector, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when yo

[2020-07-09 19:45] alyssawilk opened #11996 "extensions/filters/listener/tls_inspector coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/filters/listener/tls_inspector, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when you

[2020-07-09 19:45] alyssawilk opened #11997 "extensions/common/redis coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/common/redis, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when you get a chance? Onc

[2020-07-09 19:45] alyssawilk opened #11998 "extensions/filters/network/direct_response coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/filters/network/direct_response, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when yo

[2020-07-09 19:45] alyssawilk opened #11999 "extensions/filters/network/dubbo_proxy/router coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/filters/network/dubbo_proxy, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when you ge

[2020-07-09 19:45] alyssawilk opened #12000 "extensions/filters/network/dubbo_proxy coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/filters/network/dubbo_proxy, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when you ge

[2020-07-09 19:45] alyssawilk opened #12001 "extensions/filters/network/sni_cluster coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/filters/network/sni_cluster, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when you ge

[2020-07-09 19:45] alyssawilk opened #12002 "extensions/filters/network/sni_dynamic_forward_proxy coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/filters/network/sni_dynamic_forward_proxy, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tes

[2020-07-09 19:45] alyssawilk opened #12003 "extensions/filters/network/thrift_proxy/router coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/filters/network/thrift_proxy, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when you g

[2020-07-09 19:45] alyssawilk opened #12004 "extensions/filters/udp/dns_filter coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/filters/udp/dns_filter, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when you get a c

[2020-07-09 19:45] alyssawilk opened #12005 "extensions/grpc_credentials/aws_iam coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/grpc_credentials/aws_iam, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when you get a

[2020-07-09 19:45] alyssawilk opened #12006 "extensions/resource_monitors/fixed_heap coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/resource_monitors/fixed_heap, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when you g

[2020-07-09 19:45] alyssawilk opened #12007 "extensions/retry/host/omit_canary_hosts coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/retry/host/omit_canary_hosts, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when you g

[2020-07-09 19:45] alyssawilk opened #12008 "extensions/stat_sinks/dog_statsd coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/stat_sinks/dog_statsd, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when you get a ch

[2020-07-09 19:45] alyssawilk opened #12009 "extensions/tracers/xray coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/tracers/xray, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when you get a chance? Onc

[2020-07-09 20:18] rgs1 commented on #11994
Thanks! I'll send a PR at some point today.

[2020-07-09 20:19] oliveirafilipe commented on #8055
For those trying to run a Sidecar in AWS ECS Fargate with envoy - (not in AWS AppMesh)

This issue is the reason that why you might be getting this error `immediate connection error: 99`

I ran an envoy sidecar, version `envoyproxy/envoy:v1.14.2`, and after setting the address to `127.0.0.1`, in `clusters[].hosts[].socket_address`, the connection occurred normally

[2020-07-09 21:02] rgs1 commented on #11994
It's possible we are already good per the (updated?) report:

[code]

[2020-07-09 21:24] alyssawilk commented on #11994
yeah, sorry, just reran and the source is out of date.  Sorry about the noise!

[2020-07-09 21:26] alyssawilk commented on #11992
Sorry - looks like the numbers were out of date - this one is fine!

[2020-07-09 22:13] snowp opened #12013 "Pure virtual call in SdsApi"
Seems like it's possible to hit a pure virtual call when calling `Envoy::Secret::SecretManagerImpl::findOrCreateGenericSecretProvider` during filter construction with a file-based SDS secret:

[code]

Seems like the SdsApi is initialized and triggers the `init_manager_` callback immediately since we're past the startup sequence, which triggers start -> refresh on the file subscription inline. This

[2020-07-09 23:03] dio opened #12015 "build: Update unicode-org/icu to the latest release"
The current icu BUILD file is adapted from Tensorflow project, which is stable to use. However since org_unicode_icuuc has newer release, need to update it.

[2020-07-09 23:06] dio commented on #12015
cc. @moderation

[2020-07-09 23:45] wlhee commented on #11931
It'sRST_STREAM, NOT a regular end-of-stream.

[2020-07-10 00:35] ldemailly commented on #11426
If i have a tls listener it seems that it will sit there permanently if the client just connects and doesn't ever send anything? is that what we expect? (when I read "For TLS connections, the connect timeout includes the TLS handshake." on https://www.envoyproxy.io/docs/envoy/latest/faq/configuration/timeouts#tcp I mistakenly expect that it applies to my inbound connection too but it isn't?) am I

[2020-07-10 06:35] drumcircle opened #12021 "envoy (docker-compose) not hitting local springboot/grpc on bridge"
SpringBoot grpc service is verified working on port 6565 using BloomRpc

When connecting through Envoy, the socket connection appears blocked:

[code]
The result in the client (grpc-web or postman, same result) is this:

[code]
I'm using `type: static` for my cluster load balancing.

envoy.yaml
[code]

docker-compose.yml

[code]

Dockerfile.envoy

[code]

Many thanks in advance.

[2020-07-10 07:11] supasteev0 opened #12022 "Upstream connections destroyed"
Hi,

I have been experiencing an issue with destroyed upstream connections for a long time now, producing 503 errors and higher response times.
After digging both Envoy, application and Kubernetes nodes system logs, and trying to tweak some Kernel net settings for quite a while, I could find any explanation to this issue.

Envoy 1.14.1 is deployed with hostPort , 3 replicas, in an EKS 1.16 cluster

[2020-07-10 07:36] andrewshaoyu commented on #11899
what's logs could be useful? there too many logs.

connection must be connected, kernel didnot pass the data to envoy or there are some problems during the connection close()

[2020-07-10 07:39] drumcircle commented on #12021
It seems that when calling the localhost from the docker container, 127.0.0.1 does not point to the host, it's an address in the docker container.

A runtime hostname, **docker.for.mac.localhost* (it's a thing not a place-holder), provides easy access to the localhost.  This change does require type: `logical_dns` vs `static`.

Updated `clusters:` section of the envoy.yaml

[code]

[2020-07-10 07:39] #12021 closed

[2020-07-10 08:32] vikaschoudhary16 commented on #11889
@lizan i am sure binary have debug symbols:
[code]

[2020-07-10 11:29] slovdahl commented on #10154
@cpakulski thanks for the clarifications, this was very helpful!

Thanks for the hints about a workaround, it does sound like it would make our lifes easier. I'll see if could manage to get it implemented in the `envoy-hot-restarter.sh` script. Our current workaround for this is to manually drain traffic, and after that deploy the configuration change, stop and start Envoy. As long as there are re

[2020-07-10 13:14] antoniovicente commented on #11426
I think that the idle HTTP connection timeout applies in this case.  Unfortunately it has a very long default value of 1 hour. https://github.com/envoyproxy/envoy/blob/706d9761dd1336ce0b650b34dae649312ec85c0b/api/envoy/config/core/v3/protocol.proto#L78

[2020-07-10 13:35] ChristosKa commented on #11815
Thank you for the reply @snowp!

We'll give active health check a try and see if it works.

Could this be related to https://github.com/envoyproxy/envoy/issues/11498 ?
As we're using the go-control-plane's xds_server to dynamically change the cluster order in the aggregate cluster.

[2020-07-10 15:01] #6588 closed

[2020-07-10 15:33] eightnoteight commented on #3332
came across this issue and wondered about the implementation part in the context of containers and running envoy as a sidecar in an ecs task or in k8s pod,

one way to do this would be to share process namespace, that way the envoy can track cpu of the other container using `/proc/{main-container-pid}/root/sys/fs/cgroup/cpuacct/cpuacct.usage_all`

but this solutions adds too many requirements on t

[2020-07-10 16:28] yxue commented on #11995
/assign @yxue

[2020-07-10 16:36] #11981 closed

[2020-07-10 16:36] #11992 closed

[2020-07-10 16:36] #11994 closed

[2020-07-10 16:37] ScottGuymer opened #12028 "Using jwt_authn filter in an environment behind a proxy."
I started [here](https://github.com/envoyproxy/envoy/issues/1451) but could not find any solution applicable.

I want to be able to use jwt_authn filter in a situation where my envoy instance needs to fetch jwks values from a location that is outside the current network and only accessible via a proxy.

I can't seem to find any place within the filter itself to configure the use of any proxy. As I

[2020-07-10 17:36] dmitri-d commented on #9784
This issue is due to use of libc++ not instrumented for use with thread sanitiser. I couldn't find much information about it there's this though: https://reviews.llvm.org/D21609?id=61547. I followed the suggestion and built an instrumented version of libc++ (see here: https://github.com/google/sanitizers/wiki/MemorySanitizerLibcxxHowTo, replace ```-DLLVM_USE_SANITIZER=MemoryWithOrigins``` with ```

[2020-07-10 17:36] dmitri-d commented on #9784
Ping @alyssawilk

[2020-07-10 17:54] htuch commented on #11931
It probably would be helpful to have some more details on what the need here is. It seems pretty unusual and doesn't fit Envoy's request lifecycle AFAIK, so having any change here would need some more motivation. Also, maybe update the issue title to "when downstream is reset with RST_STREAM".

[2020-07-10 17:57] #11343 closed

[2020-07-10 18:18] kyessenov opened #12032 "Feature request: preserve original headers for logging"
We have a request to record the original URL before Envoy rewrites in an access logging extension. The feature request is to preserve the original headers (or subset of) for the purpose of logging.

[2020-07-10 18:30] cpakulski commented on #10154
@slovdahl I debugged the code and found the root cause. Unfortunately what I described above is not true. Running in config validation mode will always crash when  `envoy.filters.http.tap` filter is specified in the config file, regardless whether there is other Envoy instance running or not. Moving config check to `envoy-hot-restarter.sh` script just masked the problem, but Envoy crashed inside t

[2020-07-10 18:52] ldemailly commented on #11426
thanks @antoniovicente but lets say I would set the idle_timeout to 10s; after the tls handshake completes, I don't want to drop established connections that idle for 10s - I really need a "please complete the layer 7 connection (ie post tls) within X" not a idle timeout for the whole duration (and/or the ability to change the timeout after tls is done)

[2020-07-10 19:05] snowp commented on #11983
This seems reasonable to me, but would require some kind of feedback mechanism added to the LB interface that allows the router to understand why load balancing failed.

Some options:
* Return a string description with the failure
* Return a ptr to a marker interface that allows other code to downcast the ptr to get specific failure reasons
* Return an enum describing the failure

With any of thes

[2020-07-10 19:10] ldemailly commented on #10979
tried `path: "/etc/envoy/..data/clusters.yaml"` but that doesn't work either

[2020-07-10 19:11] asraa commented on #11998
@jianwen612 if you find yourself already diving in to network filter testing, you may be able to help close this issue (and other network/filters). this coverage reports is over unit and integration tests

[2020-07-10 20:21] asraa opened #12036 "[security] Keeping embargoed patches up to HEAD during early disclosure"
Title: Keeping embargoed patches up to HEAD during early disclosure

Description:

Hi all, I wanted to open a community issue up to get some feedback and hopefully reduce the amount of work we're all doing.

During the weeks coming up to a security release, private distributors receive patches against main branch. These patches have the potential to go out-of-sync, especially when there are large

[2020-07-10 20:30] tsaarni commented on #10979
If you would have a real file `clusters.yaml` in directory `/etc/envoy/` and then moved new version of the file over it, then I think the watch will work.  But this is not what happens in Kubernetes, since it uses symlink swap approach. So I afraid the current code will not work for CDS cluster configs on ConfigMaps.

Note that the topic discussed in this issue is specifically certificate and key

[2020-07-10 21:00] ldemailly commented on #10979
@tsaarni thank you for the detailed reply (and I realize I'm hijacking a bit a SDS thread but I would hope all file based *DS would work the same) - in the same vein, we claim envoy is built to work well with kubernetes, so it seems supporting/detecting the way kubernetes does atomic updates would be beneficial (and I do realize many people use full fledged control planes like istio but I believe

[2020-07-10 21:26] qiwzhang commented on #12028
jwt_authn filter is using Envoy http_async_client to call remote_jwks.  Http_async_client is not using route config inside http_connection_manager.   It is using the cluster directly.  I don't see there is a way to config a http_proxy in cluster.  So there is not way jwt_authn can fetch remote jwks via a http proxy.

[2020-07-10 21:38] htuch commented on #11433
I have taken another shot at this in https://github.com/envoyproxy/envoy/pull/12037. The idea now is to _really_ ignore any 1xx that follow the initial 1xx. While working on tests, the treatment of non-100 1xx headers came up, and it seems it's a bit weird. Consider the following sequences of headers:

* [100, 102] - this is simple, we invoke `decode100ContinueHeaders()` and then terminates on the

[2020-07-10 21:48] juanvasquezreyes commented on #4128
is there like an e2e example using tcp_proxy and how to set it up with the proxy protocol?

[2020-07-10 22:01] PiotrSikora commented on #11433
Only `102 Processing` and `103 Early Hints` are informational and could be potentially discarded, but there is no reason why they should be, to be honest.

Both `100 Continue` and `101 Switching Protocols` are critical and would break request flow if not forwarded downstream.

Multiple `100 Continue` could be collapsed into a single one (i.e. the first one would be forwarded, and subsequent `100 C

[2020-07-10 22:11] #7957 closed

[2020-07-10 23:48] #10926 closed

[2020-07-11 02:22] yanavlasov commented on #11976
Duplicate of #11942

[2020-07-11 02:28] jianwen612 commented on #11998
Oh it happens that I am also working on direct_response filter now. There is no unit test for this filter so the coverage it low. I think I can add a simple unit test here the next week.

[2020-07-11 02:37] Shikugawa commented on #10849
nostale

[2020-07-11 03:02] yanavlasov commented on #11942
I see, you are proxying TCP not HTTP. Given your set-up I do not think you can make original source listener filter work without some form of IP encapsulation (i.e. GRE) between Envoy and upstream server. I've never configured it myself, but I would guess that it is non trivial. Maybe someone else can chime in.
Your only other option is to use Proxy protocol as @ggreenway has suggested. You can ma

[2020-07-12 02:55] #11378 closed

[2020-07-12 03:55] #11436 closed

[2020-07-12 04:55] #11417 closed

[2020-07-12 05:55] #11434 closed

[2020-07-12 06:55] #11307 closed

[2020-07-12 07:55] #11415 closed

[2020-07-12 08:01] yoitsro commented on #10514
Hey @eselkin @rogchap - did this issue also surface with you in Envoy 1.13 or was it potentially happening on 1.12 too?

[2020-07-12 08:55] eselkin commented on #10514
Just on 1.13

[2020-07-12 08:55] #11297 closed

[2020-07-12 09:52] ScottGuymer commented on #12028
Do you think it would be possible to configure the jwt filter to a cluster that loops back to envoy on another port that has a correct HTTP filter configuration to use a HTTP proxy?

jwt_authn
[code]
jwks cluster
[code]

router for proxy
[code]

[2020-07-12 09:55] #11397 closed

[2020-07-12 10:55] #10996 closed

[2020-07-12 11:55] #10956 closed

[2020-07-12 14:05] kumaranshu72 commented on #11582
@dio Can you help with @reliveyy questions, They will clear my queries to.

[2020-07-13 02:35] rogchap commented on #10514
Yea, issue was there for 1.13 too, but not 1.12. One theory was that it was related to the upgrade of nghttp2 as it seems fine on http2￼ with chrome and firefox.

[2020-07-13 11:33] Shikugawa commented on #11120
@lambdai @mandarjog Sorry. I missed these discussions! For now, I think that the common ground is to add `disable_init_fetch_timeout` on SDS. This won't break the default behavior of SDS and API compatibility.

[2020-07-13 12:11] VassoSof commented on #11498
Hello, I would like to revive this thread. We are experiencing this issue with 14.1. Is there any analysis outcome. @snowp is this case reproduced? Possibly solved with 1.15?

@mattklein123 as to be notified

Thank you!

[2020-07-13 12:57] vinzo99 opened #12043 "core dump when updating configuration with xDS"
DESCRIPTION

We are reporting a segmentation fault occuring with Envoy 1.14.1, in a situation where successive configuration updates are sent via xDS, successively adding/removing aggregate clusters. This could be related to the respective draining listener routes which reference these aggregate clusters.

Here is the full dump stack after troubleshooting with debug symbols binary :

[code]

Thank

[2020-07-13 13:11] HappyCerberus opened #12044 "les"
!!!ATTENTION!!!

If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.
Thank you in advance for helping to keep Envoy secure.

!!!ATTENTION!!!

If this is not a crash or potential security issue please use
[ISSUES.md](https://github.

[2020-07-13 13:11] #12044 closed

[2020-07-13 13:13] alyssawilk commented on #9784
I'd think we could just add those options to the tsan build?  cc @lizan and @htuch

[2020-07-13 13:50] howardjohn commented on #11120
Why do we need disable_init_fetch_timeout? I think setting it to 0s disabled it already?

Besides, the fact we want it disabled is an implementation detail of our usage of Envoy, it's still a general issue that will impact others

[2020-07-13 14:30] snowp commented on #11498
Hey I haven't had the time to look into this, I'll see if I can find some time this week.

cc @yxue in case you have any idea what might be up

[2020-07-13 14:53] marcosrmendezthd opened #12056 "feature request: header-matcher allow ignore case"
Envoy normalizes header keys, but not their values for good reason. We use a combination of the `:authority` header as well as the request path for H1/1 service routing. We have multiple services tied to a single filter chain and virtual host.

excerpt...
[code]

However, if there's a discrepancy in the header sent by the client, where for example they use an uppercase letter, then our route match

[2020-07-13 15:02] #12006 closed

[2020-07-13 15:16] alyssawilk commented on #11433
The code as written was just to forward literal 100s followed by informational header, or 101 followed by upgrade.

101 is "special" insofar as there shouldn't be response headers after, so treating that like normal headers since they're the only response headers (and important) kind of makes sense to me.

Easiest would be to just drop other 1xx headers and document we don't support them.  Less ea

[2020-07-13 15:30] htuch commented on #11433
Based on what @alyssawilk and @PiotrSikora say, I'm going to go with drop, test and document this behavior. I'm pretty worried about having a `decodeHeaders()` double invocation corner case, since not all filters will be robust to this and most filters won't even be anticipating informational headers outside of `decode100ContiueHeaders()`.

[2020-07-13 15:52] wlhee commented on #11931
Sure. I understand this is definitely unusual.

Our use case is this:
client -> Envoy -> upstream backend

We depend on the client to **start** the stream, but we want to let upstream backend to **end** the stream. The reason is our infrastructure relies on the the stream openness as the signal of upstream backend is still processing.

A half-close (again, reset by the client) doesn't necessarily

[2020-07-13 15:52] htuch commented on #9784
We'll need a dedicated TSAN base image for this in https://github.com/envoyproxy/envoy-build-tools. This is basically the same issue that was blocking us having MSAN working in OSS Envoy.

[2020-07-13 15:54] Shikugawa commented on #11120
@howardjohn Got it. Maybe this is caused by the state management of cluster manager. In general, if we started to create xDS subscription when all of clusters are not initialized, this problem will be occurred. So I think that to resolve this problem, we should fix the implementation of `init_manager`. So this is relatively deep-routed problem. We should have the prevention logic not to use `activ

[2020-07-13 15:56] sschepens commented on #11645
@stevenzzzz @htuch i see that #11739 has been merged but #11674 is still open, what about this issue?
I understand that the interface problem alone will not fix this particular issue.
How will this issue be approached? is there any way i can contribute?

[2020-07-13 16:05] htuch commented on #11645
@sschepens I think #11645 should be fixed by #11739. Can you confirm?

#11674 is more a code technical debt issue, but isn't addressing an active bug at this point. You're welcome to contribute there, probably looking into https://github.com/envoyproxy/envoy/issues/11674#issuecomment-651382085 makes sense first.

[2020-07-13 16:06] dmitri-d commented on #9784
I can look into building a dedicated image.

[2020-07-13 16:08] ScottGuymer commented on #12028
I can see there is some mention of CONNECT in `upstream_config` for cluster config. But no idea how to configure it
https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto.html

[2020-07-13 16:31] qiwzhang commented on #12028
The loop back approach should work.  With a complete listener, Envoy should
be able to route the remote_jwks request to a http proxy. -Wayne

On Mon, Jul 13, 2020 at 9:09 AM Scott Guymer <notifications@github.com>
wrote:

[2020-07-13 17:22] mattklein123 commented on #9662
I haven't had any luck yet with this. I'm going to delete this content and we can bring it back when we find someone.

[2020-07-13 17:25] mattklein123 commented on #11872
Per @jmarantz I have no objection to global state, but I still think we should use runtime for it. For the config knob in question it does seem like it should be per cluster, though I'm confused why it takes 256 bytes vs. 8 for a unique_ptr.

[2020-07-13 17:35] jmarantz commented on #11872
The 256 bytes overhead appear to be due to protobuf data structures, which we keep alive in the running system rather than pulling into STL or whatever. This observation was based on an experiment by @gkleiman where he removed all the C++ changes in https://github.com/envoyproxy/envoy/pull/11252 and left only the protobuf changes.

I am guessing it would be an xDS perf win to pull the data into C+

[2020-07-13 17:36] stevenzzzz commented on #11645
I think it actually resolves this bug already. Please let me if it doesnt.
The RDS is now paused when SRDS gets a resp back from Management server, and that should have solved the problem in this issue.

[2020-07-13 17:58] mattklein123 commented on #11872
OK yes let's please move the other PR forward and leave some TODOs to revisit this? I think per-cluster makes sense there.

[2020-07-13 18:02] kyessenov commented on #7917
Thanks for @snowp finishing https://github.com/envoyproxy/envoy/pull/11787. I think this can be closed now.

[2020-07-13 18:12] snowp commented on #7917
Thanks!

[2020-07-13 18:12] #7917 closed

[2020-07-13 18:22] antoniovicente commented on #11426
I agree with you.  I think we need more specific timeouts for various operations that happen prior to a request being active on the connection.  Currently those specific timeouts don't exist.  See https://github.com/envoyproxy/envoy/issues/11427 for a related feature request.

[2020-07-13 18:32] htuch commented on #11877
I've started to dig into the reproducer from @sschepens. It looks like `WatchMap` builds up a series of `ClusterLoadAssignment` updates to be applied involving `cluster_0`. The first update seems to result in the destruction of the watch for `cluster_0` and the second still references it. I'm not sure how a CLA update can nuked a cluster, so need to do some more poking.

[2020-07-13 18:45] htuch commented on #11877
So, looking at the reproducer, what I think is happening is this:
1. `cluster_0` is initially non-TLS at version 1.
2. `cluster_0` warms successfully and is able to process traffic.
3. `cluster_0` is changed (upgraded to TLS) in version 2 and starts warming. The old `cluster_0` is still active. There are two watches on CLA for `cluster_0`, for both active and warming cluster objects.
4. A `Cluster

[2020-07-13 18:54] kyessenov opened #12061 "allow extension warming in ExtensionConfigDS"
Extensions may request new initialization targets. This works fine with static filter configurations, but not with the dynamic filter re-configuration. This feature is to implement warming for extension configs.

[2020-07-13 19:02] junr03 commented on #12056
The HeaderMatcher is slated to be unified with StringMatcher in the next major version: https://github.com/envoyproxy/envoy/blob/58fc9d2c89af17c5e92db25969cf80ea05ff3845/api/envoy/config/route/v3/route_components.proto#L1589

[2020-07-13 19:06] junr03 commented on #12022
@snowp do you mind taking a look?

[2020-07-13 19:13] marcosrmendezthd commented on #12056
great. thank you @junr03 !

[2020-07-13 19:16] snowp commented on #12022
Could you include more upstream stats? It's not clear from the stats why we're doing local resets. If you're able to reproduce this with debug logging enabled that might also prove useful.

[2020-07-13 19:19] snowp commented on #12043
This seems to be when the aggregate cluster attempts to rebuild its view of the inner clusters, but the TLS cluster for a cluster it cares about doesn't exist:

[code]

[2020-07-13 19:47] sschepens commented on #11645
@stevenzzzz @htuch seems that this issue is solved by #11645 thanks!

[2020-07-13 19:47] #11645 closed

[2020-07-13 19:59] KBaichoo commented on #11389
I'll tackle this issue. I don't see a button to assign it to myself, but I'll just leave a comment to claim it.

[2020-07-13 20:00] antoniovicente commented on #11389
/assign @KBaichoo

[2020-07-13 20:04] antoniovicente commented on #11389
Thanks for the help!
I sent you some info on how to get your github id added to the envoy org so we can assign issues to you.

[2020-07-13 20:12] KBaichoo commented on #11389
I'm now a part of the envoy org

[2020-07-13 20:13] antoniovicente commented on #11389
/assign @KBaichoo

[2020-07-13 20:16] dmitri-d commented on #9784
Had a chat with @lizan, I'll add a tsan-specific build image

[2020-07-13 20:17] lizan commented on #9784
We built MSAN instrumented libc++ in the same image: https://github.com/envoyproxy/envoy-build-tools/blob/master/build_container/build_container_common.sh#L88-L102
and using it with .bazelrc https://github.com/envoyproxy/envoy/blob/master/.bazelrc#L156-L158

TSAN instumented libc++ can be done in a similar way.

[2020-07-13 20:25] htuch commented on #9784
@lizan should we close out #918? Do we have MSAN yet in CI?

[2020-07-13 20:28] lizan commented on #9784
@htuch we didn't enable it full to reduce CI pressure. Though we can enable them if someone is taking the work (fixing MSAN failures in master)

[2020-07-13 21:12] KBaichoo commented on #11389
To implement:

I think this is the way to go as it leverages existing mechanisms:

- Change the watchdog config proto to include a duration for `max_random_kill_duration` (default 0 to disable)
- Modify `GuardDogImpl::kill_timeout_` to be adjusted based on the kill timeout specified in the config, as well as the `max_random_kill_duration` (if killing is enabled) to leverage the existing mechanism

[2020-07-13 21:47] KBaichoo commented on #11389
To implement:

Proposed Changes:
- Change the watchdog config message to include a uint for threshold before a multi-kill (default 2 to preserve current behavior)
- Modify the `step()` function for multi-kill enabled to count the number of unresponsive threads and when we’re >= the threshold, then we can trigger a multi-kill.

[2020-07-13 21:50] cpakulski commented on #9577
@jsbucy @envoyproxy/maintainers I wrote high level design document addressing this issue: https://docs.google.com/document/d/1ajrQpOEuup04V95xDDY8hSigW4B-J3iuhwn8QQEl-q4/edit?usp=sharing.
The document points to 2 working prototypes, which has been tested for SMTP and Postgres. I would appreciate your comments.

[2020-07-13 22:26] snowp commented on #12043
@vinzo99 Would you be able to provide debug logs or a reproducer? That would help the debug process, thanks!

[2020-07-13 22:38] antoniovicente commented on #11389
I was thinking about a percentage of registered threads and preserving current behavior by doing multi-kill on "max(2, registered_threads * multi_kill_percent)" with a default multi_kill_percent of 0.  Having an absolute number of threads required for multi-kill with a default of 2 when multi-kill is enabled also seems fine.

[2020-07-13 23:06] htuch commented on #11477
Another thing to look at while doing this work; today we have some pretty different behaviors for how discovery requests are handled during warming in SotW and delta. In SotW, we send on each new subscription, regardless of existing state. In delta, we take into account whether an existing request is pending and don't send when a new cluster is added (for example). I think this has (to some extent

[2020-07-13 23:10] htuch commented on #11674
I'll take this on in the context of https://github.com/envoyproxy/envoy/issues/11877. I realized that we need to pause/resume the type URL undergoing update there, which means we definitely need ref counting (since we have existing pause/resumes nested inside config updates).

[2020-07-13 23:39] mattklein123 commented on #11982
You can just change the headers directly?

[2020-07-13 23:54] #11948 closed

[2020-07-14 00:04] #11849 closed

[2020-07-14 00:05] #11893 closed

[2020-07-14 00:06] mattrobenolt opened #12066 "Feature Request: Configure consistent hashing balancing behavior"
In haproxy, there is a configuration [`balance`](https://cbonte.github.io/haproxy-dconv/2.0/configuration.html#balance) that allows specifying attributes other than strictly the URL to be used for balancing. Commonly this is used to route based on an HTTP header, a specific url parameter, or the remote IP.

I've been trying to find an existing issue in Envoy or somewhere in existing configuration

[2020-07-14 01:16] htuch commented on #11931
@wlhee I think you need to distinguish between different kinds of half-close here. If you're dealing with HTTP/2, the right client semantics for "half-close" is usually to end stream and wait for reply. Are you talking about a TCP half-close?

[2020-07-14 01:21] wlhee commented on #11931
I was using a wrong term.

What I meant was when the client side stream has a "RST_STERAM".

[2020-07-14 01:48] htuch commented on #11931
@mattklein123 @alyssawilk thoughts?

[2020-07-14 03:21] Augustyniak commented on #11707
@mattklein123 Thanks for chiming in :)

I think that a recently introduced local reply mapper is an acceptable solution here. Let me expand a little bit on why I think it's not the best solution here and propose an alternative one - to modify the implementation of `sendLocalReply` method (more details later on) to make all responses send by Envoy filters include `x-envoy-local-response` HTTP heade

[2020-07-14 06:48] supasteev0 commented on #12022
Thanks a lot for your reply.
Here are the full stats:

[code]

Unfortunately, I'm only able to reproduce this behavior in production, and, when enabling trace log level, I get a lot of lof errors.
I was still able to gather some logs which might prove useful:

[code]

If you need more logs, I will try to enable only debug level again.

[2020-07-14 07:00] ScottGuymer commented on #12028
Can you point me towards how I might configure a listener to use a HTTP proxy?

I have something like this. But cant figure out where i would put the proxy server IP and port
[code]

[2020-07-14 07:51] ramaraochavali commented on #11079
@dio can you mark this help wanted?

[2020-07-14 08:46] #11871 closed

[2020-07-14 10:48] ramaraochavali commented on #11079
Thank you

[2020-07-14 12:30] m-messiah opened #12073 "HPE_INVALID_URL with non-urlencoded args"
I have an envoy as a http1.1 proxy with default config and when I try to access some non-unicode nonencoded params in uri - I have error 400 with HPE_INVALID_URL in debug log without any information. `normalize_path` is off by default and there is not a path - it is query string, so this behaviour looks strange.

*Repro steps*:

[code]

Request: `curl 'http://localhost:12701/test?arg=Юникодные сим

[2020-07-14 12:41] m-messiah commented on #12073
Yes, I have read https://tools.ietf.org/html/rfc3986#section-2 but other tools work with these characters correctly by passing them  further (for example, `curl`, `nginx`, `uwsgi`)

[2020-07-14 12:55] c10b10 opened #12074 "Using envoy with multiple grpc endpoints"
Is it possible to tweak the `envoy.yaml` file to make it proxy multiple gRPC endpoints? If so, how?

[2020-07-14 13:55] alyssawilk commented on #11931
yeah, I think HTTP/2 has pretty clear semantics that when you reset a stream it goes away, and Envoy has very clear lifetime requirements that when the stream is reset the associated memory goes away.  Generally we try to avoid having non-standard features which are unlikely to be reused in the code base, but we're open to making things as extensible as necessary for you to implement this logic in

[2020-07-14 14:00] antoniovicente commented on #11370
/assign @antoniovicente

I started looking into this one.  I expect testing to be one of the big challenges during implementation.

[2020-07-14 14:06] yanavlasov commented on #11899
Ok, let me ask this then. Does this problem happen to all client requests or only to some requests?

[2020-07-14 14:51] yanavlasov commented on #12073
I think by default we compile http1 parser in HTTP_PARSER_STRICT mode, which limits URL characters to US_ASCII if I read the code correctly. This isn't something configuration controlled, you need to rebuild envoy to allow UTF characters in URLs. I have no sense for how important handling of such URLs is. I'll let others chime in.

[2020-07-14 15:22] murray-stripe commented on #11920
I can make a small PR to update the test script if this is reasonable. :-)

[2020-07-14 15:23] mattklein123 commented on #11931
The other thing you might be able to do is use AsyncClient from a custom filter without actually using the router filter. This would allow you to fully control the lifetime of originated streams.

[2020-07-14 15:54] mattklein123 commented on #12036
My 2c on this is that the security team and patch authors should rebase the patches weekly (?) and send them out to the list until the release. This would also help the security team with the scramble at the end to rebase all the patches which happens every time.

[2020-07-14 16:03] CelsoSantos commented on #1861
Realistically speaking, how far are we from an arm64 image that could be considered stable?
From my understanding, we already have an image that runs on arm64, that can be used to build Envoy from arm64 architectures. But then does this produce an arm64 image or just the binary that still needs to be containerized?

Also (though, this one is my fault for not knowing), how long does it take to buil

[2020-07-14 16:15] wlhee commented on #11931
Thanks @alyssawilk and @mattklein123

We do already have a custom filter that does make side channel RPC. It depends on the "filter instance aliveness" (created per stream) as the signal that the upstream is still processing. Basically when the filter is destructed, it sends a side channel RPC to our infrastructure. Typically, this happens when all the "encodingHeader/Data/Trailer" are done, which

[2020-07-14 16:20] carmiac commented on #1861
@CelsoSantos I ran the build just a couple of days ago on my RPi4.  It produced a static non-containerized binary that I was able to drop onto my target device and run.  The build time was around 12 hours, though I did notice that it was just using a single core.

[2020-07-14 16:20] mattklein123 commented on #11931
Right, you can build a "call manager" that outlives the filter instance.

[2020-07-14 16:26] alyssawilk commented on #11931
+1.  on filter OnDestroy, you can detach the state you want to track and your async client, and stick them in something which will last until stream termination.  The TCP UpstreamDrainManager is an example of this type of design.

[2020-07-14 16:32] moderation commented on #1861
@carmiac the single core issue you saw began with a recent release of Bazel. Here is what I posted in the Bazel Slack.

[code]
Setting this flag will allow you to use more than one core. I had a 4G RAM RPi4 and I had to restrict the build using `--jobs=3` or `--jobs=2` to prevent memory exhaustion. I just upgraded to am 8G RAM RPi4 and no longer have this issue and can use all 4 cores. All of the

[2020-07-14 16:42] wlhee commented on #11931
Thanks! Do I also need to stop using the router filter in order to achieve this customer stream lifecycle management?

[2020-07-14 16:56] al45tair commented on #1861
@CelsoSantos It's been a while, but IIRC the command I ran back on the 18th of May worked and generated a Docker image (which I uploaded to Docker Hub as al45tair/envoy-arm64). It seems to work.

@moderation @carmiac It's probably worth getting some time on an ARM64 server machine rather than building on a Pi. Even if you don't have access to one at work (I'm lucky in that regard), you can spin th

[2020-07-14 17:01] qiwzhang commented on #12074
It is possible.  You can create a route config to route the request by service name.  Create a RouteMatch based in path prefix which is the gRPC service name,  each service will route to different gRPC backend defined in different clusters.

[2020-07-14 17:04] qiwzhang commented on #12028
I believe it can be done, but I don't know how. Could you create a separate
issue on how to config Envoy to use http proxy.  The title in this issue is
misleading.

On Tue, Jul 14, 2020 at 12:00 AM Scott Guymer <notifications@github.com>
wrote:

[2020-07-14 17:54] moderation commented on #1861
@al45tair I'm pretty happy with my local RPi4 dev environment. After the initial build the subsequent incremental builds are relatively quick and compiling out all the extensions you don't need works well. I'm in a very small minority of people who don't think Docker helps with anything so I'm building Bazel and Envoy straight on the RPi4

[2020-07-14 18:16] bvandewalle commented on #11492
This can be closed, for anyone else, I can confirm that @snowp  suggestion works.

[2020-07-14 18:17] #11492 closed

[2020-07-14 18:27] bvandewalle opened #12076 "Outlier detection prevents failing Active HealthChecks endpoints to get ejected."
I'm not sure if this is the intended behaviour as I could not find that much documentation on activating both Active and Passive HC together.

**What I'm seeing:**
I have 3 endpoints defined on a cluster. 1 of them is failing the active HTTP healthChecks (503 return code) and this is confirmed on the HealthCheck logs. I would expect that endpoint to get removed but I see my traffic still being pro

[2020-07-14 18:37] junr03 commented on #12066
take a look at the route matching here https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-msg-config-route-v3-routematch and let us know if you are missing specific matchers you'd like to see

[2020-07-14 18:40] mattrobenolt commented on #12066
Yes, those seem applicable. So the logic already exists for routing, it’d be nice to use the same RouteMatch structs then for consistent hashing behavior.

[2020-07-14 19:18] snowp commented on #12076
I suspect you're hitting the panic threshold: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/panic_threshold

[2020-07-14 19:39] nrjpoddar opened #12077 "Ability to configure "max_connection_duration" for TCP traffic"
*Title*: *Configuration setting for maximum duration for a connection for TCP traffic*

*Description*:
For TCP listeners/clusters it's useful to have a maximum connection duration setting which can force rebalancing/re-establishing of connections for long lived sessions. Additionally, it can be used as a good practice measure for edge proxies from keeping a connection resource consumed for a long

[2020-07-14 19:44] mattklein123 commented on #11707
I like the idea of adding an `x-envoy-local-response` header for local replies, as this is a common point of confusion anyway, but I still wonder whether this should be configurable or could just be done with a "catch all" local reply mapper config. If this is not possible with a local reply mapper catch all config today could we just add the capability to add generic headers to local replies? I t

[2020-07-14 19:58] mattklein123 commented on #11725
One other comment is this issue feels very similar to what we have already done with the API listener which is being used by Envoy Mobile. We have already discussed having a TCP variant of the API listener which would work with TCP proxy type setups. I wonder if that would help here? Basically maybe this is a special upstream/socket which actually loops back through an API listener interface? cc @

[2020-07-14 20:12] lizan commented on #10917
@foreseeable the spreadsheet is not publicly accessible

[2020-07-14 20:17] #10154 closed

[2020-07-14 21:00] lambdai commented on #11725
Great to see that looping back to listener has a wider use case! To me the "tcp proxy type" is a little vague.

What I am proposed here is to hide the loop between `the upstream cluster` and `the dest listener`

[2020-07-14 21:16] fxposter opened #12080 "Upgrade from v1.12.3 to v1.14.4 leads to more CPU usage without traffic"
*Description*:
While trying to upgrade to latest version of envoy, we faced the problem (maybe) - envoy started to consume 1.5x more cpu (from 7-9% cpu to 12-20%) when there are no traffic to this particular envoy instance. Also, cpu usage graph now have way more spikes than it had before(previously it looked like a flat line - now it is full of spikes).

We have our own control plane and our boot

[2020-07-14 21:22] mattklein123 commented on #11725
Sorry my point is that you can have an API listener variant that injects raw TCP bytes vs. HTTP messages.

[2020-07-14 21:23] tonya11en commented on #11504
I actually just got done taking a look at this with some colleagues. It's trivial to reproduce. I added the following fault filter config:
[code]

Then simply just curled through the Envoy with the following:
[code]

The `active_faults` stat never decrements. It appears the filter's `onDestroy()` function is being called before the active faults are incremented, so it does not perform a decrement.

[2020-07-14 21:43] lizan commented on #1861
I wouldn't be comfortable saying it is stable until it passes most of our test suite on arm64.

[2020-07-14 21:54] mattklein123 commented on #12080
I'm pretty skeptical of these symbols. Can you get a trace with a binary with debug symbols?

[2020-07-14 22:08] Augustyniak commented on #11504
The issue described here should be fixed as part of https://github.com/envoyproxy/envoy/pull/12083. Thank you for reporting. :)

[2020-07-14 22:09] fxposter commented on #12080
I forgot to mention that I also have a custom envoy (we use some of internal plugins). Currently I build envoy with `ci/do_ci.sh bazel.release.server_only` and take binary from `build_release_stripped` dir. Should I build it differently, ie: `bazel.debug.server_only`? or something else

[2020-07-14 22:10] mattklein123 commented on #12080
If you are stripping the symbols you have to actually make sure perf, etc. can find them, or just don't strip.

[2020-07-14 22:13] juanvasquezreyes commented on #9782
Were you able to solve the issue? if so, can you please share the details? I'm trying to set the same, but the documentation about proxy protocol is really bad

[2020-07-14 22:13] fxposter commented on #12080
I just reused https://github.com/envoyproxy/envoy/blob/master/ci/Dockerfile-envoy, which uses stripped dir, I guess, I need to use `build_release` dir instead. Will update, thanks.

[2020-07-14 22:16] fxposter commented on #12080
btw, are there any performance downsides about using stripped/non-stripped binaries? ie: slower startup due to ~1gb envoy binary size/etc?

[2020-07-14 22:20] jianwen612 opened #12084 "[Fuzz] Make network-layer filter fuzz test generic"
Description:

Envoy project has 20 network-layer filters now and may have more in the future. Writing dedicated fuzzers for each of them are kind of requiring ongoing work to create new fuzz targets as new filters are written. A good way to do this is to make it **generic**, and by doing this we will have as little amount of time and work as possible between the creation of a network filter fuzzer

[2020-07-14 22:22] mattklein123 commented on #12080
No, no downsides other than increased disk cost, transfer, etc.

[2020-07-14 22:37] juanvasquezreyes commented on #11942
Do you know when this is going to be released? #11584

[2020-07-14 23:02] Augustyniak commented on #11707
I really like the idea of using local reply mapper for this. The only issue is that local reply mapper doesn’t currently support addition of http headers - this is something that I’m going to take a look at.  Hopefully, I will be able to add this capability to local reply mapper and use a it to add `x-envoy-local-response` HTTP header to all responses that are sent by any of envoy filters.

[2020-07-14 23:45] junr03 opened #12088 "design proposal: request manipulation between retry attempts"
Over the last few months, a few of us (@alyssawilk @snowp @Augustyniak and the Envoy Mobile team) have talked about Envoy's lack of request manipulation (headers/data/trailers) between retry attempts on outgoing HTTP requests. We would like Envoy to have the same ability to modify requests that HTTP filters provide but to do so between retry attempts.

Currently, this is not possible because retri

[2020-07-15 00:03] lizan commented on #12080
@fxposter Those are just mangled symbol regardless whether you have debug symbols or not. For example

[code]

pprof should be able to demangle it with `--symbols` flag though

[2020-07-15 00:49] lambdai commented on #11725
I brainstorms the usage of ApiListener and it probably works if

1. Support listener update.
2. Could name and reference the listener by socket interface ("api://<api_listener_name>")
3. Expand the api listener to per worker thread.
4. allow to attach more than terminate L4 filter (HCM, maybe TcpProxy).

It require extra complexity added to SyntheticConnection.

I think we are head to the similar

[2020-07-15 01:51] carmiac opened #12090 "Simple gRPC router not working"
I'm trying to setup a envoy proxy as a gRPC fron end, and can't get it to work, so I'm trying to get to as simple a test setup as possible and build from there, but I can't get that to work either.  Here's what my test setup looks like:

Python server (slightly modified gRPC example code)
[code]

Python client (slightly modified gRPC example code)
[code]

And then my two envoy yaml files:
[code]

[2020-07-15 02:09] howardjohn commented on #9682
@wgallagher are you still working on this?

[2020-07-15 02:26] coodie opened #12091 "Setting "user_agent_name" field in bootstrap config"
I tried to set ["user_agent_name"](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/base.proto#envoy-v3-api-msg-config-core-v3-node) in bootstrap json passed to envoy, but it didn't seem like value passed to this field appeared in config_dump and it always appeared as "envoy" regardless of what I put there. Reading the [code](https://github.com/envoyproxy/envoy/blob/master/source/

[2020-07-15 02:42] dio commented on #12091
I see no harm to make it configurable (can be overridden). But I don't have all of the contexts either. This is introduced in https://github.com/envoyproxy/envoy/pull/9301/files#diff-3eda0ff865e056f19775ad626a5c2920R308.

re: context, probably @yanavlasov has the answer.

[2020-07-15 03:28] coodie commented on #12091
I tried to add "user_agent_version" as well, but it suffers [from the same problem](https://github.com/envoyproxy/envoy/blob/master/source/server/server.cc#L362). Except that one cannot have "user_agent_build_version" and "user_agent_version" at the same time, and this code writes to "user_agent_build_version" effectively overriding "user_agent_version" - as it changes the type of that field.

[2020-07-15 05:19] vielmetti commented on #1861
A note that Bazel 3.4.0 now ships with official arm64 binaries -

https://github.com/bazelbuild/bazel/issues/8833#issuecomment-657698507

That may save you a build step, @moderation , if you can adapt to any changes associated with the Bazel point release at 3.4.0.

[2020-07-15 07:30] zengyuxing007 opened #12095 "When the pilot crashes, in some scenarios, the configuration data will be inconsistent, resulting in a request of 503 NR"
When the pilot crashes, in some scenarios, the configuration data will be inconsistent, resulting in a request of 503 NR~

Ads is the final consistency, but in the process of ads pushing, if pilot crash, it will cause abnormal traffic, such as after pushing cds and then the process crash~

It is recommended whether ads (rds, eds, lds, rds) can be accompanied by a version number, and cds can be ass

[2020-07-15 07:45] fxposter commented on #12080
Hm, while running with the non-stripped binary - at the end I get the same flamegraph/top with same symbols :(

[2020-07-15 07:46] fxposter commented on #12080
@lizan yes, I tried c++filt, flamegraph stacktraces are still quite weird though :(

[2020-07-15 07:47] fxposter commented on #12080
Regarding "--symbols" - are you talking about https://github.com/google/pprof? Don't see such option there.

[2020-07-15 07:49] fxposter commented on #12080
BTW, the screenshots are taken from pprof that was ran on mac os x, while envoys were running in docker on linux machines.

[2020-07-15 08:14] fxposter commented on #12080
To this point
1. I collect .prof file by running `/cpuprofiler?enable=y` and `/cpuprofiler?enable=n`
2. Even with release (but non-stripped) version of envoy when I try running pprof in docker with the same image where it was collected - I get this

[code]

[2020-07-15 08:20] fxposter commented on #12080
When running pprof on mac os (without specifying the binary) - it shows mangled names

[2020-07-15 10:36] ramaraochavali commented on #12095
This can happen without control plane crashing also - like if you are removing a cluster that is referenced in a route - traffic to that route might fail till rds is updated. Is that what is happening in your case when you said  requests fail with "cluster_not_found" in the istio issue?

[2020-07-15 11:09] rashmi-ibm opened #12097 "Error building envoy on ppc64le"
Installed Dependencies with version:-

[root@d7f1b4d1bfca /]# gcc --version
gcc (GCC) 8.3.1 20191121 (Red Hat 8.3.1-5)
Copyright (C) 2018 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

[root@d7f1b4d1bfca /]# g++ --version
g++ (GCC) 8.3.1 20191121 (Red Hat 8.3.1-5)

[2020-07-15 12:02] zengyuxing007 commented on #12095
Yes,  In my scenario, I did not remove the cluster operation

 the envoy log like:

[code]

[2020-07-15 12:58] jmarantz commented on #11799
Further thoughts: the atomic ref wrapper methodology above could ideally use something like Scope::iterateCounters(), iterateGauges(), etc, to reduce the memory churn required to find a stat.

Initially it could be built on Store::counters(), Store::gauges(), without enduring the remarkable toil of adding a family of new Scope APIs (there are lots of implementations of Scope).

[2020-07-15 13:02] ajoysinha commented on #11855
Moved on istio section

[2020-07-15 13:02] #11855 closed

[2020-07-15 13:03] ajoysinha commented on #11876
Can anybody help me on this ..

[2020-07-15 13:35] Charana123 opened #12098 "envoy windows build fails: fatal error C1083: Cannot open include file"
After following steps to setup the [build environment](https://github.com/envoyproxy/envoy/blob/master/bazel/README.md) for windows, i've tried building my custom http and the [example-filter](https://github.com/envoyproxy/envoy-filter-example) (without modifications) and both run into the same build error when running `bazel build //:envoy`

[code]

The particular .cc/.h pair can change every bui

[2020-07-15 14:13] moderation commented on #1861
Thanks @vielmetti. Looks like they need to work on their automation a bit as the latest release 3.4.1 isn't yet available. But definitely looks promising

[2020-07-15 14:21] foreseeable commented on #10917
@lizan now the link should be fixed

[2020-07-15 14:41] sqkerner opened #12102 "Coverage runs of fuzzers fail due to an exception which should be caught, but is not"
Running ` test/run_envoy_bazel_coverage.sh` on a fuzz target creates a binary that can't catch exceptions.

[code]

In the test log:

[code]

Hmm, that is odd, because the exception is caught.  From test/extensions/filters/network/local_ratelimit/local_ratelimit_fuzz_test.cc :

[code]

The script `test/run_envoy_bazel_coverage.sh` runs bazel as follows:

[code]

If I add `--config=asan` to the baz

[2020-07-15 14:47] sqkerner commented on #12102
Here is the commit that introduced `--config=plain-fuzzer`:

https://gitlab.staging.cncf.ci/envoyproxy/envoy/commit/6e9273419b598dda99267405d8079ffdc2b5c78c

Its commit message says:

     - Caveat: Avoid linking libfuzzer with `-fsanitize=fuzzer`, since the libfuzzer implementation is built with a private libc++ implementation whose exception handling conflicts with libc++. I had to build it myse

[2020-07-15 14:51] asraa commented on #12102
Yes... it's te libc++/private libc++ conflict when throwing and catching exceptions. Building libfuzzer from scratch in that PR fixed that issue for me, but let me see if I can reproduce the issue and figure this out this afternoon

[2020-07-15 16:29] qiwzhang commented on #12090
Could you run the envoy with "-l trace"?  It may provide more clues.

[2020-07-15 16:29] Augustyniak commented on #11707
The changes to local state mapper - allowing local state mapper to add HTTP headers to local replies - were implemented as part of https://github.com/envoyproxy/envoy/pull/12093

[2020-07-15 17:03] carmiac commented on #12090
Here's the output on the client envoy.
[code]

[2020-07-15 17:16] qiwzhang commented on #12090
Here is the error

[2020-07-15 10:00:18.204][5918][debug][router]
[external/envoy/source/common/router/router.cc:361]
[C0][S3038896316308518185] no cluster match for URL
'/helloworld.Greeter/SayHello'
[2020-07-15 10:00:18.204][5918][debug][http]
[external/envoy/source/common/http/conn_manager_impl.cc:1520]
[C0][S3038896316308518185] Sending local reply with details
route_not_found

Check your rout

[2020-07-15 17:17] drao9 commented on #11889
We are facing the same issue. Any finding? @vikaschoudhary16

[2020-07-15 17:41] htuch commented on #12095
This is a major change to the API consistency model. I'm largely in agreement that we should move towards a model where an xDS resource declares its dependencies in the `Resource` wrapper and a client (e.g. Envoy, gRPC) is then able to interpret this information and decide when the right time is to apply the sub-graph of resources, e.g. once it has received all the transitive deps.

I think gettin

[2020-07-15 17:52] ankatare commented on #10843
@htuch seems it is closed. please reopen

[2020-07-15 18:00] lu4t commented on #11679
@asraa and @dio, this issue should not be closed as it is still happening.
Examples, like front-proxy, are not running if you follow the guide: https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/front_proxy

The exact same problems described on my first post are happening:
(A) Dockerfile-service file should be corrected on line 3:
from: RUN apk update && apk add python3 bash curl
to: RUN

[2020-07-15 18:06] mikedanese commented on #11190
Late comment: envoy "supports" spdy enough to front kube-apiserver. Use a route config that looks like:

[code]

Then enable h2 on `apiserver` cluster. Disable h2 on `apiserver_upgrade`.

Fuller config (that worked a year ago but might need some fiddling): https://gist.github.com/mikedanese/7f1812a328ac43f88d9c49fee7670bce

[2020-07-15 18:45] alyssawilk commented on #10843
@ankatare you can tag your PR with
part of #number
rather than
Fixes #number
and it'll stop closing the issue off :-)

[2020-07-15 18:47] alyssawilk commented on #12088
I think closures are functionally equivalent to upstream HTTP filters, only not as functional so really I think I prefer 1 to 3 after more than 30s of consideration :-P
I do think that folks being able to influence more retry logic is also helpful, so I think you could tackle whichever you will get the most gains from :-)

[2020-07-15 18:51] vikaschoudhary16 commented on #11889
Not yet!

[2020-07-15 18:54] ankatare commented on #10843
@alyssawilk thanks for this suggestion i will tc it from next time.

[2020-07-15 19:05] junr03 commented on #12097
cc @lizan

[2020-07-15 19:05] junr03 commented on #12098
@wrowe @sunjayBhatia

[2020-07-15 19:06] mattklein123 commented on #12088
I think we should just get (1) done.

[2020-07-15 19:26] carmiac commented on #12090
Thanks for the help!  I think I'm getting closer.

I updated the client config to have a domain of [*] and set the correct socket_address, similarly for the server.
Now I see that the message is getting through to the server and the server is replying, but something still seems to be amiss.  It looks like the client envoy is having problems responding to the client?

The client envoy log:
[code]

[2020-07-15 19:26] goaway commented on #12088
I think 1) could be done in a way that doesn't close the door to 2).

I proposed 2) because it would help to decompose one of Envoy's monoliths, retry logic seems very much like a thing that a filter could handle (and maybe should be handling?), and if we were to do it, any HTTP filter that sat in the chain _after_ the RetryFilter would be effectively the same as an Upstream HTTP filter. It could

[2020-07-15 19:27] carmiac commented on #12090
Also, is the constant stream of DNS messages expected? eg:
[code]

[2020-07-15 19:31] yosrym93 opened #12111 "Front Proxy sandbox documentation is outdated"
The docs at: https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/front_proxy are outdated. The mentioned ports for the front-envoy are 8080, 8001, and 8443. While actually the opened ports are 8000 & 8001. Consequently some of the given commands do not run successfully.

[2020-07-15 19:41] eherot commented on #6508
This issue came up for us and I feel like someone should still address it. Our external auth server sends a JSON response **regardless of the content-type of the original request** and it would be nice if Envoy didn't sent the browser back an invalid response...

[2020-07-15 19:45] ASOPVII commented on #11963
**Help Wanted**:
I failed Linux-x64 release pre-submit test with two test cases:
```IpVersions/ClusterMemoryTestRunner.MemoryLargeClusterSizeWithFakeSymbolTable/IPv4, where GetParam() = 4-byte object <00-00 00-00>``` and ```IpVersions/ClusterMemoryTestRunner.MemoryLargeClusterSizeWithRealSymbolTable/IPv4, where GetParam() = 4-byte object
<00-00 00-00>```

Anyone knows the reason of this failure?

[2020-07-15 20:16] #12111 closed

[2020-07-15 20:16] akonradi commented on #12111
The services run on port 8000, but the front Envoy is listening on 8080, 8001, and 8443. Can you try again after patching in #12112?

[2020-07-15 20:17] mk46 commented on #12111
Hi @yosrym93, It's working for me. Could you please share logs or error? It may be mentioned ports in docs are used by other services.

[2020-07-15 20:18] yosrym93 commented on #12111
I was not working on the most updated master, my bad. Issue closed.
Thanks @akonradi and @mk46.

[2020-07-15 20:20] mk46 commented on #12111
@yosrym93 Could you please share logs?

[2020-07-15 20:28] yosrym93 commented on #12111
@mk46 there are no problems or logs, I was just running an older commit. That's why the code did not match the docs. Sorry for the inconvenience.

[2020-07-15 20:34] ankatare commented on #10843
@alyssawilk would you check this PR#12113. hope now it is fine as per your suggestion ?

[2020-07-15 20:43] KBaichoo commented on #11388
/assign @KBaichoo

[2020-07-15 21:26] kyessenov commented on #12095
There was [an attempt](https://github.com/envoyproxy/go-control-plane/issues/8) to create consistent config snapshots and hold ADS until the entire snapshot can be supplied. It suffers from the problem of deletions (e.g. deleting a cluster in CDS is immediate and sending new EDSs requires a new CDS response). The solution would require smoothing old and new states into a blended state so that remo

[2020-07-15 21:45] dio commented on #6508
@eherot did you try https://github.com/envoyproxy/envoy/issues/6508#issuecomment-481139343?

[2020-07-15 21:55] mattklein123 commented on #11832
I took a look at the proposal. My main comment (which I mentioned in the community meeting) is that I think this proposal needs to also cover TAP and its streaming concepts. Can we take a look at that also please?

[2020-07-15 21:56] qiwzhang commented on #12090
Yes, constant DNS debug/trace log is expected.

On Wed, Jul 15, 2020 at 12:28 PM Adam Milner <notifications@github.com>
wrote:

[2020-07-15 21:59] qiwzhang commented on #12090
I did not see any problems in envoy-client response path.  What is the
error in your client script?

On Wed, Jul 15, 2020 at 2:55 PM Wayne Zhang <qiwzhang@google.com> wrote:

[2020-07-15 22:03] yangminzhu commented on #11832
Sure and thanks for the comments Matt. I will look into the tap filter and see how can we support it in the proposal, will do some investigations and update the doc.

[2020-07-15 22:26] eherot commented on #6508
@dio The problem with the solution proposed in https://github.com/envoyproxy/envoy/issues/6508#issuecomment-481139343 is that there is no guarantee the original request will have an `application/json` content type.

[2020-07-15 22:37] carmiac commented on #12090
[code]

[2020-07-15 22:56] mattklein123 commented on #9662
Opened https://github.com/envoyproxy/envoyproxy.github.io/pull/163 to delete the content for now, but will leave this open to track finding a new owner.

[2020-07-15 23:39] #11014 closed

[2020-07-15 23:52] ASOPVII opened #12120 "Unknown presubmit test failed(Linux-64 release)"
I can build and pass all tests on my local machine, but failed when presubmit(Linux-64 realease) [link](https://dev.azure.com/cncf/envoy/_build/results?buildId=45107&view=logs&j=8d802004-fbbb-5f17-b73e-f23de0c1dec8&t=86512d3a-caa5-5e3f-9bce-4070faa3b830)

```IpVersions/ClusterMemoryTestRunner.MemoryLargeClusterSizeWithFakeSymbolTable/IPv4, where GetParam() = 4-byte object <00-00 00-00>```
and ```I

[2020-07-16 00:05] #12120 closed

[2020-07-16 00:14] qiwzhang commented on #12090
envoy-client log did not see the encode_trailers.   could you check
envoy-server to see if encode_trailers is there?

On Wed, Jul 15, 2020 at 3:37 PM Adam Milner <notifications@github.com>
wrote:

[2020-07-16 00:24] lizan commented on #11691
FYI we had a fix before: https://github.com/envoyproxy/envoy/pull/7376 cc @lambdai, I think we should revisit this.

[2020-07-16 00:27] wbpcode commented on #10241
@jmuia You can check to see if this problem has been fixed by #11944 . If it has been fixed, we can close this issue. If this issue still exists, I hope you can provide more information, such as how to reproduce it.

[2020-07-16 02:24] carmiac commented on #12090
Nope, didn't find it. Is there an option to enable it or? Here's the envoy-server log:

[code]

[2020-07-16 02:41] qiwzhang commented on #12090
You have this in envoy-server log

[2020-07-15 19:20:22.220][9742][debug][http]
[external/envoy/source/common/http/conn_manager_impl.cc:1961]
[C2][S713755013889211459] encoding trailers via codec:
'grpc-status', '0'
'grpc-message', ''

But not in envoy-client log

On Wed, Jul 15, 2020 at 7:24 PM Adam Milner <notifications@github.com>
wrote:

[2020-07-16 02:55] qiwzhang commented on #12090
It seems that grpc trailers were not sent by the envoy-server.

On Wed, Jul 15, 2020 at 7:40 PM Wayne Zhang <qiwzhang@google.com> wrote:

[2020-07-16 02:57] qiwzhang commented on #12090
Well,  your two envoy should behave the same.  Could you try client ->
envoy -> server and plugin your envoy config for either client and server
to see which one is wrong

On Wed, Jul 15, 2020 at 7:54 PM Wayne Zhang <qiwzhang@google.com> wrote:

[2020-07-16 08:06] fxposter commented on #12080
Managed to get proper data:
<img width="697" alt="image" src="https://user-images.githubusercontent.com/109216/87642994-f632ee00-c752-11ea-9a97-4871ac9afa83.png">

CPU usage spikes look like:
<img width="512" alt="image" src="https://user-images.githubusercontent.com/109216/87643962-334bb000-c754-11ea-93fc-cb3eb29d807d.png">

I suspect code that applies new envoy configurations coming from control

[2020-07-16 08:42] lizan commented on #12080
macOS has different mangling rule of symbols so if the pprof is from Linux it might not demangle well.

Aside from that, looking at the pprof, it seems the VersionConverter is the source of CPU usage. I believe it's because your control plane is sending Envoy v2 config instead of v3, so Envoy will convert it to v3 internally. The v3 API took in place since 1.13. If your control plane send v3 proto

[2020-07-16 11:04] johnzheng1975 opened #12127 "GRPC does not work in istio 1.4.6. (mtls/ multi-cluster)"
Environment: Istio 1.4.6
- mtls enabled
- multi-cluster installed.
- authentication policy enabled.
- authorization policy enabled.

**Sometimes it will fail.**
Fail request and log:
(Error: URX The request was rejected because the upstream retry limit (HTTP) or maximum connect attempts (TCP) was reached. )
[code]

Successful request and log:
[code]

[2020-07-16 11:25] johnzheng1975 commented on #12127
**Deploy and service**
kubectl create -f deploysvc.yaml -n default;
kubectl create -f deploysvc.yaml -n vr-qa-default;
[code]

[2020-07-16 11:31] johnzheng1975 commented on #12127
grpc client code
[code]

grpc server code
[code]

[2020-07-16 12:07] htuch commented on #12080
@lizan yes, that's right to the extent that is the source of the extra CPU usage. This is tracked in https://github.com/envoyproxy/envoy/issues/10875. Since 1.14 I think we've reduced the overhead from 3.6x down to 2x for v2 ingest vs. v3. So, you might see a real improvement by moving to HEAD @ master. Otherwise, I suggest moving to v3.

[2020-07-16 12:16] goith commented on #11498
i also have the same question.
## envoy version
`envoy --version

envoy  version: 8f2515a19bdcc75bea0bfd7016231a7661d0be6e/1.12.2/Distribution/RELEASE/BoringSSL`

when normal, the `/clusters` like this:
[code]

where update cluster  `foo-02`(like circuit_breakers), the cluster `foo-02`'s members disappeared. the `/clusters` outputs as the follow:
[code]

[2020-07-16 12:17] fxposter commented on #12080
Should it be v3  "all-in", ie: if I just start returning v3 resources while keeping all envoy configs the same (we don't specify it and hence use default AUTO resource version) - it will still be subject to extra CPU usage? ie: in this case control plane will receive request for V2 resource, it will respond with v3 one, envoy will parse it as v3 and convert to v2?

[2020-07-16 12:18] fxposter commented on #12080
cause by just switching to sending v3 resources does not seem like it's helping with CPU usage

[2020-07-16 12:20] htuch commented on #12080
If you send all your resources as v3, there should be no conversion happening in Envoy at all; you should not see `VersionConverter` in the CPU profile. You need to set V3 in the resource version explicitly to make this happen.

[2020-07-16 12:29] fxposter commented on #12080
I mean - I changed my control plane (based on go-control-plane) to still using cache/v2 and server/v2 from the library and register API from discovery/v2 (we use ADS). According to docs - I can do that and envoy will accept v3 resources from v2 APIs. But when I do config_dump afterwards - I see that under, for example, `type.googleapis.com/envoy.admin.v3.ClustersConfigDump` there are `type.googlea

[2020-07-16 12:44] htuch commented on #12080
Envoy can accept v2 APIs and convert internally to v3. The point above is that if you want performance, you need to put v3 resource on the wire at the control plane, so Envoy doesn't need to do the work of converting.

[2020-07-16 12:49] fxposter commented on #12080
Yes, I got that. My question is different. If I send v3 resources on the wire (ie: actual v3 resources are marshaled on the control plane side), but lds/cds/rds references in envoy's config will still be auto (ie: envoy will ask v2 resources from control plane, but will receive v3 resources back on the wire) - is that enough or not to not do conversion all the time?
Cause that's what I did and it

[2020-07-16 12:54] htuch commented on #12080
I think you probably need to change resource versions to v3, otherwise I don't see how it works given https://github.com/envoyproxy/envoy/issues/10776

[2020-07-16 14:04] snowp commented on #12127
I would suggest bringing this to the Istio folks for initial triage, they are likely better equipped to determine whether this is a configuration issue or if there is an underlying Envoy issue.

[2020-07-16 14:27] carmiac commented on #12090
Great idea!  The server config works after poinging my client at the right port!  The client config doesn't, and gives this error:

[code]

[2020-07-16 14:51] jcdavis opened #12131 "Envoy doesn't forward/recognize timeout response codes when proxying 100-continue"
*Description*:
When configured to proxy `Expect: 100-continue` (via `proxy_100_continue`), envoy will not forward timeouts to the client or update internal metrics as expected.

*Config* / *Repro steps*:
Don't have a clean minimal config to share, but I can reliably reproduce in a config where the listener has `proxy_100_continue` set to be true and the upstream cluster for a route has a timeout s

[2020-07-16 14:56] jonmeacham commented on #4540
@lambdai thank you for your work on this! It looks like the result may have landed in [1.15.0](https://www.envoyproxy.io/docs/envoy/v1.15.0/version_history/current). Am I mistaken?

`listener: added in place filter chain update flow for tcp listener update which doesn’t close connections if the corresponding network filter chain is equivalent during the listener update. Can be disabled by setting

[2020-07-16 15:17] johnzheng1975 commented on #12127
Close temprary, maybe caused by
* running a period of istio
* enable istio authoraztion rule.

[2020-07-16 15:17] #12127 closed

[2020-07-16 16:03] fxposter commented on #12080
<img width="691" alt="image" src="https://user-images.githubusercontent.com/109216/87694331-ba217c80-c796-11ea-830d-e4594567525c.png">
this one is for purely v3, cpu graph still has spikes

Now I suspect this part :)
<img width="717" alt="image" src="https://user-images.githubusercontent.com/109216/87694434-e2a97680-c796-11ea-96b6-1ad4661b02cf.png">

Will generate graph for v1.12 with v2 (which wa

[2020-07-16 16:24] mk46 commented on #2908
Hi @ggreenway, Is this feature ready to implement or implemented? If not then I would like to implement it.

[2020-07-16 16:30] mattklein123 commented on #12131
cc @alyssawilk

[2020-07-16 16:47] qiwzhang commented on #12090
What is the difference between two envoy config?   can both use server
config?

On Thu, Jul 16, 2020 at 7:28 AM Adam Milner <notifications@github.com>
wrote:

[2020-07-16 16:58] alyssawilk commented on #12131
Hm, I think we should be willing to send informational headers if only informational headers have been sent, and I could imagine that being a bug.  I'll take a look.

[2020-07-16 16:59] alyssawilk commented on #12131
Incidentally, my guess is Envoy is just sending an H2 reset or an HTTP/1 connection close, as it would if there were a timeout during body processing.  If that's the case it should be a straight-forward fix.

[2020-07-16 17:03] jcdavis commented on #12131
@alyssawilk that is my understanding too. The root cause seems to be that the expectation of `downstream_response_started_` is that the downstream has already received headers/etc and that is no longer safe to send a 503 status code, but of course `100-continue` is a wierd corner case where that behavior is not only allowed, but desired

[2020-07-16 17:13] mk46 commented on #12077
Hi @nrjpoddar, Are you working on this issue. If not then I would like to work on it.

[2020-07-16 17:21] nrjpoddar commented on #12077
I'm not @mk46, please go ahead and assign it yourself. Thanks!

[2020-07-16 17:32] #11934 closed

[2020-07-16 17:36] #9049 closed

[2020-07-16 17:56] htuch commented on #12080
CC @jmarantz for stats overheads.

[2020-07-16 18:22] jmarantz commented on #12080
Thanks for the heads up. Looks like RDS is re-creating a lot of stats on every update?

I suspect this code could be optimized a bit:
[code]
in source/common/router/config_impl.cc function VirtualHostImpl::VirtualHostImpl. I think it's re-creating the same exact block of stats for every virtual cluster in every virtual host.

Not sure of the cardinality of this in general, or for @fxposter's confi

[2020-07-16 18:26] fxposter commented on #12080
Our config may be quite different from others. yes - we have infrequent (once a couple of minutes) updates of clusters and each cluster have separate *path* in same domain in routeconfiguration (or our control plane is a bit broken at this point, this is separate cluster where I was playing with new envoy version - changing envoy configs/versions/control plane code). but with the same control plan

[2020-07-16 18:27] jmarantz commented on #12080
Oh, and the last flame graph looks like regexes in particular, but I don't think there's been a change in that area of stats recently, and that *may* be a side effect of wasteful re-creation of the same stats. I would have thought we'd have skipped tag extraction if a stat of the same name was already known.

[2020-07-16 18:31] fxposter commented on #12080
[code]

If it's needed

[2020-07-16 18:46] htuch commented on #10843
What's super weird is that I manually modify the commit messages and switch them from "Fixes #123456" to "Part of #123456" when I merge. GitHub still seems to close them out.

[2020-07-16 19:15] fxposter commented on #12080
This one is from 1.12, overall structure is the same, but sample time for 1.14 is 10seconds, while for 1.12 it is 3 seconds
<img width="720" alt="image" src="https://user-images.githubusercontent.com/109216/87712617-99b2eb80-c7b1-11ea-9c2e-b1c3e957bc8a.png">

CPU usage (blue and green are 1.14, red is 1.12)
<img width="515" alt="image" src="https://user-images.githubusercontent.com/109216/87712717

[2020-07-16 19:24] jmarantz commented on #12080
Same configs sent to both 1.12 and 1.14?

On Thu, Jul 16, 2020 at 3:15 PM Pavel <notifications@github.com> wrote:

[2020-07-16 19:27] fxposter commented on #12080
in this case - no, but sending same configs result in this behaviour. in this case I send v3 resources instead of v2 (it doesn't matter much - situation is the same in both cases), but content of resources is same

[2020-07-16 19:31] jmarantz commented on #12080
In my recent experiences, translating between API versions during xDS updates has been a significant bottleneck. So from a functional perspective you may be right but I am skeptical that it is a no-op for perf.

Having said that it does look like there's some potential perf improvements, having looked at the code. This will become actionable if we have a testcase to repro though, otherwise we kind

[2020-07-16 19:53] yosrym93 commented on #9859
In #11727 , LookupRequest::requiresValidation calculates some freshness and age info that might be useful when working on this.

[2020-07-16 20:53] alyssawilk commented on #12131
Yeah, I think in the case of sending a reply, it's pretty easy to say if we've sent 1xx but not other response headers, we can send 5xx on upstream failure rather than just resetting the stream.  More interesting is hedging and retries.  I hate to penalize the upstream for sending early non-informational headers, but I am concerned about the complexity of allowing a retry which might send its own

[2020-07-16 20:55] fxposter commented on #12080
After re-checking what is actually in rds/cds - I would say the pattern is to add and remove 2-5 clusters and corresponding routes each 2-10 minutes. 2 resources in RDS (egress/ingress) and path and domain-based mappings for each cluster (ie: for each cluster there is a separate domain and a separate mapping within some single domain).
Overall number of clusters is ~1500 (and ~3000 corresponding r

[2020-07-16 21:01] #9846 closed

[2020-07-16 21:09] Starblade42 opened #12138 "CDS Updates with many clusters often fail"
https://github.com/envoyproxy/envoy/blob/2966597391b9c7743dab1186f214229ca95e0243/source/common/upstream/cds_api_impl.cc#L52-L101

This is a performance issue, not a bug per se.

When doing CDS updates with many clusters, Envoy will often get "stuck" evaluating the CDS update. This manifests as EDS failing, and in more extreme cases, the envoy ceases to receive any XDS updates. When this happens,

[2020-07-16 21:34] jcdavis commented on #12131
Sounds reasonable - I'm certainly not the expert on this :)

[2020-07-16 22:21] dmitri-d commented on #12097
FFIW, we do ppc64le builds, but on RHEL8/gcc 9.3. Envoy CI uses gcc 9 too.

[2020-07-16 22:26] yosrym93 opened #12140 "CacheFilter: Add date metadata/ internal header to cached responses"
When a response is being inserted to the cache, the cache filter should add a date internal header or metadata to the cached response. This should be used instead of the response `Date` header throughout the CacheFilter module as there might be a clock skew between the origin and Envoy.

[2020-07-16 22:32] yosrym93 commented on #12140
Among the updates that should be made when this is implemented:
- Update CacheabilityUtils::isCacheableResponse() has_validation_data conditions.
- Update LookupRequest::requiresValidation() and remove the check for a future response_time.

[2020-07-17 01:32] jpeach commented on #6767
I hacked up a 421 response when the virtual host lookup fails and this works for a simple case that I tried. If this is a reasonable approach I'd need a bit of help to polish it up and figure out how to write tests for it.

https://gist.github.com/jpeach/e01f5f752eed5ffd09ea1f18634d1fc5

[2020-07-17 05:24] #9784 closed

[2020-07-17 05:44] adugeek opened #12145 "How to do when the downstream protocol is http and the upstream service is tcp"
Hello:

  Our existing services are exposed externally using tcp.

 Now, we plan to migrate the system to k8s deployment,

 Considering that the tcp service is not convenient to expose outside the k8s cluster,

 So we need an http gateway to perform protocol conversion operations, and connected to the back-end tcp service

  Please teachl me how to use envoy to done this work conveniently,  THS ~_

[2020-07-17 09:44] lizan commented on #12091
Those fields are not intended to be configurable from via bootstrap JSON/YAML. Those fields are intended to notify what is the user agent (in this case, envoy) and what it is capable of to control-plane, so your control-plane know what binary (xDS client implementation) it is serving config to. i.e. If you implemented different xDS client (such as gRPC), you should set them in your implementation.

[2020-07-17 11:20] c10b10 commented on #12074
@qiwzhang Can you point me to some example code / documentation on this topic?

[2020-07-17 11:37] lizan commented on #12097
Don't add `--cxxopt=-std=gnu++0x`, we're now on C++17, gnu++0x never work

[2020-07-17 12:21] LukeHickling commented on #10514
We're currently experiencing this issue. Is this fixed with any of the later versions of envoy without having to enable ALPN for HTTP/1.1?

[2020-07-17 12:55] rogchap commented on #10514
@LukeHickling Sadly not; still hoping that someone on the envoy core team can look into this.
We've had to roll out with using HTTP/1.1 again 😞.

[2020-07-17 13:04] engineerdev commented on #10514
envoy 1.15.0 the same problem :(

[2020-07-17 13:20] rashmi-ibm commented on #12097
@lizan I removed the --cxxopt option but the error remains the same.

Build command:-
bazel build -c opt //source/exe:envoy-static

ERROR: /root/.cache/bazel/_bazel_root/4e47b77d977b209382cf04b3ae32963e/external/com_lightstep_tracer_cpp/src/common/BUILD:173:21: C++ compilation of rule '@com_lightstep_tracer_cpp//src/common:utility_lib' failed (Exit 1) gcc failed: error executing command /opt/rh/gc

[2020-07-17 13:43] yoitsro commented on #10514
I'm going to start digging into this soon. I have no experience with `envoy`'s source, but I'll start documenting progress here.

Given all of three minutes, I've naïvely headed straight to the `grpc_web` filter code (https://github.com/envoyproxy/envoy/commits/master/source/extensions/filters/http/grpc_web) and I can see there a couple of commits made between the [v1.12.2](https://github.com/envo

[2020-07-17 16:28] #11707 closed

[2020-07-17 16:47] ankitgupta-ag opened #12154 "503s with ADS during cluster discovery"
We are seeing a barrage of the following message in our logs -

2020-07-17T09:46:39.179-07:00 | [2020-07-17  16:46:39.179][14][info][upstream]  [source/common/upstream/cds_api_impl.cc:74] cds: add 1 cluster(s),  remove 1 cluster(s)

Our management server returns the full ADS response and even without any configuration change, the log above seems to suggest that the cluster is getting torn down and

[2020-07-17 17:24] htuch opened #12155 "Rust support in Envoy"
I'm opening this as master issue to track some initial possible projects for incrementally introducing Rust to Envoy. The idea is to benefit from the memory safety and ecosystem growth in Rust while retaining high performance, without boiling the ocean. Given Rust's use in places such as Mozilla, [Tor](https://trac.torproject.org/projects/tor/wiki/RustInTor), [Linkerd](https://linkerd.io/2018/09/1

[2020-07-17 17:26] dmitri-d commented on #12097
I just checked build options we use in maistra builds, and we use "-w" which turns off all warnings. A better approach would be to use "-Wno-error=type-limits", or better still fix the issue in upstream.

[2020-07-17 17:29] vinzo99 commented on #12043
Here are the requested logs :

[code]
Thanks !

[2020-07-17 17:40] dmitri-d commented on #12097
@rashmi-ibm: I'm not exactly sure why gcc build fails for you, it could be down to differences in compiler versions used -- the CI is on gcc 9.3.x, the compiler version in your environment is 9.2.

[2020-07-17 17:53] akonradi commented on #12155
I looked at this briefly using the [cxx](https://github.com/dtolnay/cxx) library for the interop. You can see my attempt [here](https://github.com/akonradi/envoy/commit/4eda6a2f283f6dee14ab516c0826555aaf31d004).

The problems I encountered:

- cxx isn't fully Bazel-ified, and depends on a bunch of Rust crates. To really make it work, we'd want to push on Bazel support for reading Cargo.toml files.

[2020-07-17 17:55] mattklein123 commented on #12155
Thanks @akonradi. FWIW my view is we should avoid C++ interop for now and just stick with C which I think should be not that bad for some initial use cases.

[2020-07-17 18:04] toddmgreer commented on #12140
I think we should add things like this to the plugin API. Plugins can turn them into header if needed, and we can avoid the cost of modifying headers for in-memory caches.

Offhand, I think we should add a Metadata struct (or proto?) that would be included in makeInsertContext and LookupResult.

[2020-07-17 18:04] akonradi commented on #12155
Yeah to be fair, C++ interop isn't a thing because there's no C++ ABI. Everybody just uses C as the lowest common denominator, including Rust. cxx generates bindings in both languages that, at the bottom, use C-style FFI calls, but allow passing things like std::unique_ptr, which has ownership semantics. IMO Rust's lifetime enforcement doesn't offer you much if you're limited to passing ints and r

[2020-07-17 18:06] antoniovicente commented on #12155
We should be clear about what we expect to gain in each case.  Having wrappers that allow implementing filter extensions in other languages including Rust seems a nice thing to have.

Having to jump through C callback APIs in codec dispatch if we attempt to write protocol parsers in Rust seems as brittle as the current interaction between Envoy code and C-based parsers like http-parser and nghttp2

[2020-07-17 18:20] lizan commented on #11945
This is happening when manual stamp is enabled, version_lib invalidates most cache in every new commit.

@sunjayBhatia @wrowe for Windows
cc @junr03

[2020-07-17 18:20] carmiac commented on #12090
So the server one ended up working.  It's weird, because I took these configs from the envoy hello world example directly.  Anyway, I think I've got it from here so thanks for the help!

[2020-07-17 18:20] #12090 closed

[2020-07-17 19:05] KBaichoo commented on #11388
For a general mechanism I'm proposing the following changes:

Bootstrap.proto

[code]

In GuardDogImpl:
- Step() function needs to have vectors that’ll hold the (tid, last time touch) for the different miss categories
    - 3 vectors:
        - Miss
        - Mega Miss
        - MultiKill
    - Have the miss / megamiss callbacks occur outside the critical section, and the multi kill / kill inside

[2020-07-17 19:14] antoniovicente commented on #11388
You may want to have the events be: MultiKill, Kill, Miss and Megamiss to match the current actions.

Getting the full list of threads that are in a miss/megamiss state seems very useful.  Similarly, list of threads involved in the Kill or MultiKill event seems useful and would be consistent with the API used for miss/megamiss, even if the kind of operations I expect we would run on Kill/MultiKill

[2020-07-17 19:21] KBaichoo commented on #11388
Good Idea, that would add more granularity and be more consistent than Abort.

[2020-07-17 19:37] lizan opened #12157 "http: upstream protocol error shouldn't be 503 UC"
Was debugging issues similar to https://github.com/istio/istio/issues/24753, while https://github.com/envoyproxy/envoy/pull/11916 isn't an appropriate fix, though a response in case of upstream protocol error ended up with 503 UC flag is quite confusing.

- We should add reponse flag like UPE (similar to DPE) to indicate that's the reason.
- 502 is a better response code? https://tools.ietf.org/ht

[2020-07-17 20:21] dmitri-d opened #12158 "Repeated on-demand vhds updates unsubscribe from previously resolved vhosts"
Description:
If a vhost named "foo.com" has been previously resolved, an attempt to resolve "bar.com" will result in "foo.com" vhost being unsubscribed from, and all updates for it lost.

This is due to how `GrpcMuxWatch::update` is implemented -- it expects a list of resource names that should be watched. The resources which names are not in the list will be unsubscribed from.

This issue also af

[2020-07-17 20:28] htuch commented on #12158
@dmitri-d shouldn't we have one watch per vhost?

[2020-07-17 21:40] ankitgupta-ag commented on #12154
Additional note - I think https://github.com/envoyproxy/envoy/blob/bc02b7748a69fd3854f74b9e5bec236b5499f7fd/source/common/upstream/cds_api_impl.cc#L62 is noisy and even if the cluster has not been updated, this would always appear in the logs.

[2020-07-17 21:53] dmitri-d commented on #12158
@htuch: it's per subscription right now (handled by GrpcSubscriptionImpl, so the same as other xDS protocols then). I need to think about the implications of what you are suggesting. Are you thinking just VHDS, or for the rest of xDS too?

[2020-07-17 21:54] lambdai commented on #12157
+1
Usually access log is much more wider adopted by debug log.
Additional response flags could allow us get closer to the root cause at a low runtime cost meanwhile significantly reduce the mental load going through the debug log.

[2020-07-17 22:18] howardjohn commented on #11254
cc @linsun @costinm @nmittler since you all independently ran into this same issue

[2020-07-17 22:43] LisaLudique opened #12161 "Exception caused by RTDS misconfiguration not caught by validation server"
We saw a case in which a misconfiguration at the RTDS layer was not caught by the validation server. In staging (running the server in its normal mode) Envoy crashed with the following exception as expected:

`EnvoyException in c-ares callback: envoy.config.core.v3.ApiConfigSource must have a statically defined non-EDS cluster: 'someclustername' does not exist, was added via api, or is an EDS clus

[2020-07-18 00:13] snowp commented on #12138
Are these clusters changing on a regular basis? CDS updates are known to be somewhat expensive (though I wouldn't expect them to block the main thread for as long as you're describing). If most of the clusters are the same then each update should just be a hash of the proto + compare with existing, which still isn't free but >100s update latency sounds like a lot.

I'm not sure if we've been looki

[2020-07-18 00:23] sayrer commented on #12155
I use https://github.com/dtolnay/cxx with Bazel. It works fine. If you want to use external cargo crates, you'll end up using cargo-raze anyway.

This little patch shows you how to update in-tree cargo deps for use with `cxx` and Bazel:

https://github.com/dtolnay/cxx/pull/59/files#diff-c0a5305a356389c2faccfb74e002f153

[2020-07-18 03:58] Starblade42 commented on #12138
Yeah, my understanding is the Project Contour doesn’t use this API yet and
that there would be significant work required to make use of the delta API.

I’m also a bit unclear on the underlying details, but however the XDS apis
are being used in Contour, it seems like some kinds of typical/normal
changes in the state of the kubernetes cluster objects prompt a CDS
evaluation, if not any real update,

[2020-07-18 09:56] #11273 closed

[2020-07-18 10:56] #11474 closed

[2020-07-18 11:05] ramaraochavali commented on #12138
CDS cluster initialization is definitely taking time. For 800 clusters, we have seen `20s ` to initialize

[2020-07-18 12:56] #11472 closed

[2020-07-18 14:56] #11500 closed

[2020-07-18 16:56] #11549 closed

[2020-07-18 18:56] #11515 closed

[2020-07-18 23:04] kushthedude commented on #11234
@songhu I am facing a similar error while building [Envoy's Nighthawk](https://github.com/envoyproxy/nighthawk) which is dependent on Envoy & throwing the similar error of boringssl while building.
Can you let me know how did you fix this?
here are the logs
[code]

[2020-07-19 00:36] #11416 closed

[2020-07-19 01:36] #11447 closed

[2020-07-19 02:36] #11518 closed

[2020-07-19 03:36] #10874 closed

[2020-07-19 07:17] taiki45 commented on #12008
@alyssawilk Thank you for the coordinating. I checked the coverage result of the extension and it seems to show 100% coverage.

![image](https://user-images.githubusercontent.com/1460043/87869379-54bdcd80-c9da-11ea-9858-91163a2dd906.png)

Then, I checked the test/per_file_coverage.sh and the dog_statsd is not listed there.

So can we say the dog_statsd extension has fulfilled per-extension coverag

[2020-07-19 09:39] #9573 closed

[2020-07-19 17:31] indutny commented on #5155
FWIW, that Pull Request has landed and was released in llhttp 2.1.0.

[2020-07-20 00:16] Chuongv commented on #10514
@yoitsro The only thing that might be the issue is that the trailers for the grpc web response might not be encoded which might put Safari in a bad state? But then that does not explain why it works on the other web browsers 🤷 ?

You could try turning on `enable_trailers` on the listener to check and see if that would fix the issue?

[2020-07-20 08:00] VassoSof commented on #11498
@snowp  Did you have the time to check this issue? There are more people reporting this problem. Aggregate cluster is malfunctioning!

[2020-07-20 10:13] dio commented on #10514
Seems like skipping `trailers.clear()` for HTTP/2 could help this. @yoitsro could you try my image: dio123/envoy:grpc-web-debug (note that this one is ubuntu-based, not the alpine one). From my local testing, it seems to be working.

Basically, the following:

[code]

[2020-07-20 10:50] rashmi-ibm commented on #12097
@dmitri-d  as per the below link the official version is 9.2 . Will try to see  gcc 9.3.x...
https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/developing_c_and_cpp_applications_in_rhel_8/gcc-toolset-9_toolsets

[2020-07-20 10:58] yoitsro commented on #10514
I can confirm that this is working :tears_of_joy:

[2020-07-20 11:25] yoitsro commented on #10514
Is there anything I/we can do to help get this released?

[2020-07-20 12:04] Charana123 commented on #12098
@wrowe @sunjayBhatia

[2020-07-20 14:09] dio commented on #10514
@yoitsro sorry for the late reply, but I have submitted a PR: https://github.com/envoyproxy/envoy/pull/12178.

[2020-07-20 14:30] asraa opened #12179 "[fuzz] Reconcile running config_impl_test during route fuzz test build"
Description:

Right now, building `route_fuzz_test` invokes a genrule that executes `config_impl_test` to generate a corpus of route configurations for the fuzz target. This has caused a few problems:
- A build depends on the success of a test execution
- CLI flags that may apply to building fuzzers (-DFUZZING_BUILD_MODE_UNSAFE_FOR_PRODUCTION) would apply to the test execution, causing it to fail

[2020-07-20 15:13] htuch commented on #10875
As of #12026, we're now down to a roughly 2x config ingestion penalty for v3 vs. v2 for `eds_speed_test`. If unknown/deprecated field checking is disabled, the overall overhead of config ingestion drops by roughly 1.5-2x. I've attached a flamegraph showing what `eds_speed_test` looks like during upgrade.

There is one remaining low-hanging fruit for optimization; removing the original version reco

[2020-07-20 15:15] htuch commented on #11362
I think as a result of a combination of the improvements from #11442 and https://github.com/envoyproxy/envoy/issues/10875#issuecomment-661101877, we can close this one out. Please reopen if https://github.com/envoyproxy/envoy/issues/10875#issuecomment-661101877 and HEAD Envoy is not sufficient.

[2020-07-20 15:15] #11362 closed

[2020-07-20 15:40] alyssawilk commented on #12008
Yeah, I'm super sorry for the trouble but I have no idea how this one got filed.  dog_statsd wasn't even in the initial coverage check-in, so it isn't even a question about it having been fixed between then and now*.  I'll look through the open bugs and make sure there aren't other weird ones like that.

*https://github.com/envoyproxy/envoy/pull/11337/files

[2020-07-20 15:40] #12008 closed

[2020-07-20 15:42] taiki45 commented on #12008
No problem, thank you for the confirmation.

[2020-07-20 15:47] alyssawilk commented on #11997
Hmmm, I think this was mis-tagged.  Looks like @HenryYYang co-owns
/*/extensions/clusters/redis
/*/extensions/common/redis

but coverage outliers are
"source/extensions/filters/network/common/redis:96.2"
"source/extensions/health_checkers/redis:95.9"

If the outliers are still in your domain it'd be awesome if you'd be willing to take a look but if they're not just let me know and I'll unassign.

[2020-07-20 16:07] samflattery opened #12182 "test: using Event::TestUsingSimulatedTime in integration tests"
**Description**:

I'm writing an xDS fuzzer and I wanted to use simulated time so that I can properly test removal/draining of listeners.  However, when I try inherit from `Event::TestUsingSimulatedTime`, the server crashes with an assertion error after trying to remove/drain a listener.  The same happens in `ads_integration_test` when you have it as the first base class.

I spent some time diggin

[2020-07-20 16:09] samflattery commented on #12182
/cc @asraa @jmarantz

[2020-07-20 16:17] antoniovicente commented on #11391
I'm not sure how we can best accomplish the desired petting of the watchdog before or after each fd/timer/schedulable callback.  One option would be to wrap the user callback in a callback that calls into the dispatcher.  Another option would be to add a libevent hook for an action to execute between every callback in the work list.  The later approach seems less error prone but does require some

[2020-07-20 16:30] KBaichoo commented on #11388
IIUC, the best way to provide the 'extensions' (for particular watchdog events) is via Factories and using utilities such as `GetAndCheckFactory` to then get the callbacks.

I don't see a class that derives from `TypedFactory` that best suits WatchDog, so I'll create a subclass off of that which all specific factories will derive from similar to `NamedNetworkFilterConfigFactory`.

[2020-07-20 16:38] antoniovicente commented on #11388
@envoyproxy/api-shepherds for input

[2020-07-20 17:22] ankatare commented on #10535
@htuch thanks for assigning me.

[2020-07-20 17:36] ggreenway commented on #2908
I don't believe anybody is working on it. Feel free to work on it.

[2020-07-20 17:57] SecurityInsanity commented on #12155
I'd also like to make sure we  have clear goals for each use case.  I'm excited to get rust in, and it sounds very possible given the state of tooling. But I'd hate to end up in a place where we end up we use rust in perhaps not the best scenario and people just see it as "that thing that's annoying to deal with, or we have to do $X in C interface cause rust needs it :sigh: ".

Ideally we'd start

[2020-07-20 18:05] mattklein123 commented on #11388
+1 to using an extension/typed_config interface if we think that we will want this to be extensible in the future with different actions/events.

[2020-07-20 18:10] ankatare commented on #10535
@htuch thanks a lot for adding milestone. i will get back ASAP for any doubts on requirement understanding.

[2020-07-20 18:11] ASOPVII opened #12183 "[Feature Request]: Early Warm Up Listener"
**Background**:
The envoy as ingressgateway is multi-tenancy, and it's possible that partial of the dependencies are never ready.
1. In istio envoy proxy is now widely used as gateway to terminate SSL connection with lots of unique TLS certificates from everywhere.
2. The wasm-plugin of particular filter chains are broken.

**Description**:
The current logic is that workers can not have listeners

[2020-07-20 18:12] ASOPVII commented on #12183
cc: @lambdai

[2020-07-20 18:18] jmarantz opened #12184 "test: hds_integration_test failures with tsan"
On master as of today, about 20% failure rate. They may have a common root cause but there are different classes of symptoms. E.g. here are 4 different ones: a short assert-failure and some very lengthy tsan reports that are in gist.

[code]

tsan failures:
 * https://gist.github.com/jmarantz/15b5d396c2c34f0b4b0aa672300b25de
 * https://gist.github.com/jmarantz/edc6a4349344c7620f98b00180e69ed7
 * h

[2020-07-20 19:02] akonradi commented on #9479
I think this is something I could take on. I'd love for this to be faster, and building it into our build process should help with that.

[2020-07-20 19:07] mattklein123 commented on #12183
At a high level I'm in favor of this proposal, but I don't want to overcomplicate things more than they need to be.

Most of this is already covered by https://github.com/envoyproxy/envoy/pull/11826. We should extend this functionality out to network filters and then to SDS in a generic way (with similar options to not block warning, etc.).

[2020-07-20 19:48] alyssawilk commented on #12131
I've got a PR out for the error handling case.    I think after @htuch 's work on 100 coalescing we could handle the retry case pretty easily too.  If we coalesce in the HCM we can even handle redirects as well cc @penguingao

[2020-07-20 20:04] jmarantz commented on #12182
is there a draft PR where you have this?

[2020-07-20 20:31] rgs1 opened #12186 "expose stats for time blocked in the main thread"
Last week we had an issue when dealing with huge sets of IPs for the IP tagging filter. The problem is triggered by the fact that we have a few places from where we call `/config_dump` and dumping 100s of megabytes of IP ranges ended up blocking the main thread for a few seconds. This meant that a few important things that we run from the main thread didn’t run on time, most notably the timer call

[2020-07-20 20:34] lambdai commented on #12183
Essentially the blocked targets could be done in two approaches:
1. An intelligent init manager owner early start on partial targets, which is the initial proposal
2. The targets early signals init manager with an dynamic place holder, including #11826 and SDS

Since FDS and SDS invested mainly on the (2) using xDS, we could now assume listener's dependencies are all FDS and SDS.
Listener could ad

[2020-07-20 20:43] kyessenov commented on #12183
We should be able to add/remove filter chains in listeners to allow dynamic tenancy. That way all tenant resources would be dynamically initialized and not block each other.

[2020-07-20 20:44] htuch commented on #12158
For RDS/EDS, there is already one subscription/watch (singleton) per consumer, e.g. each `EdsClusterImpl` owns a subscription for the EDS service or cluster name. These are then multiplexed in ADS to a single EDS request/response. So, in those cases, each subscribed resource has a subscription and watch.

[2020-07-20 21:17] htuch commented on #9479
@akonradi that would be fantastic. Keep in mind that we plan on removing v2 by EOY, so I'd use that to temper how much you invest here. But given your awesome Bazel chops, I'm optimistic :)

[2020-07-20 21:32] zuercher commented on #12186
I'm not 100% sure this covers your case, but have you looked into these: https://www.envoyproxy.io/docs/envoy/latest/operations/performance.html

[2020-07-20 21:48] htuch commented on #12155
Yeah, I agree that the Wasm Nullvm and Rust are likely the ideal filter integration point for extensions. @PiotrSikora @jplevyak do you have any pointers on how folks would be able to get started writing NullVm Rust filters?

[2020-07-20 21:55] codeyq opened #12188 "websocket with dynamic forward proxy"
I have an envoy running as a dynamic reverse proxy where the `Host` header is the upstream target. Everything is working perfectly so far except for websocket connections. I am not seeing any websocket traffic in the access log. This is the configuration I am using. Did I miss anything? Thanks!
[code]

[2020-07-20 22:02] snowp commented on #11498
At this point I have a reproducing test case, and it seems like the issue is that when the aggregate cluster is loaded via the active map (ie not during initial load) the call to populate the TLS clusters happens before the cluster has been initialized, so the TLS cluster doesn't yet exist.

I'm not sure yet what the solution is here, posting the call to `refresh` on the dispatcher fixes the order

[2020-07-20 22:22] akonradi opened #12190 "Overload Manager should monitor epoll loop duration and polling delay as resources"
The Overload Manager has a configurable set of resource monitors that can be used to trigger actions when Envoy is overloaded. Monitoring the epoll loop duration and polling delay would allow proxies to take action when they are over-taxed in terms of CPU, possibly with a large number of pending events to handle. This could be done by polling the epoll stat metric, but I'm not sure that's the most

[2020-07-20 22:28] codeyq commented on #12188
Ah I think websocket does work. Please ignore. Thanks!

[2020-07-20 22:28] #12188 closed

[2020-07-20 22:30] jsbucy commented on #9577
Cool, thanks for taking the lead on this! If we go this route, I will see about moving the smtp inspection code from mine into a new smtp filter.

[2020-07-20 22:32] mattklein123 commented on #12186
Yeah I think the stats that @zuercher mentions should work for the main thread also.

[2020-07-20 22:46] jmarantz commented on #12184
Repro instructions:
[code]

[2020-07-20 22:57] #12036 closed

[2020-07-21 00:27] mattklein123 commented on #12184
From a very quick look at this test, it seems like there is a race condition where after calling `cleanupHdsConnection` Envoy can make a new HDS connection so we have to either handle spurious connections there or shutdown HDS somehow? @htuch @alyssawilk do you have any context here?

[2020-07-21 00:29] mattklein123 commented on #12184
Hmm nevermind I see `hds_upstream_->set_allow_unexpected_disconnects(true);`, will keep looking.

[2020-07-21 00:37] jmarantz commented on #12184
FWIW I find this fails 98% of the time if I switch to simulated time, via:
[code]

I think this might be because this test uses gRPC which does not (afaik) have injectable time. But maybe this change offers a way to get more consistent failures, which might be easier to repro and debug.

[2020-07-21 00:38] mattklein123 commented on #12184
Yeah I'm having trouble reproing. I will try again tomorrow.

[2020-07-21 01:37] bruth opened #12195 "ext_authz injected headers not propagating to HTTP router"
*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

This was tested with v0.12.3 through v0.15.0 with both the v2 and v3 APIs.

I have an external authorization service configured which adds headers to the request on a successful check. This works correctly per the trace logs (see below). However when using header-based matching in HTTP routes, th

[2020-07-21 03:20] mattklein123 commented on #12184
In looking at the traces, I think the problem has to be:

https://github.com/envoyproxy/envoy/blob/796a6745954cd134c6449da2237a99b35d7e8d80/test/integration/hds_integration_test.cc#L298-L305

Envoy can close the connection while the connection is being popped off of the connection queue. There must be some race condition in the framework here. I can look more tomorrow unless @alyssawilk has any qu

[2020-07-21 03:20] mattklein123 commented on #12184
(Most relevant tsan trace: https://gist.github.com/jmarantz/edc6a4349344c7620f98b00180e69ed7)

[2020-07-21 03:31] hq6 opened #12196 "Question: Is decodeData called with end_stream set to true guaranteed to be called even when there are HTTP trailers in the request?"
This [comment](https://github.com/envoyproxy/envoy/blob/568b75960dcf0650cf600d5e1181480ee4f519e0/include/envoy/http/filter.h#L528) states that "end_stream supplies whether this is the last data frame."

If there are HTTP trailers in the request (in some sense, additional data after the last data frame), is it guaranteed that `decodeData` will be called at least once with `end_stream` set to true?

[2020-07-21 03:39] andrewshaoyu commented on #11899
Finally，i find the problem,client idletimeout is greater than envoy idletimeout.

[2020-07-21 03:44] antoniovicente commented on #12184
I think that the Envoy::Event::FileEventImpl::assignEvents in the call stack indicates that we are dealing with real events, not fake events.

I think the sequence here is something along the lines of:
1. proxy creates upstream connection
2. main thread calls waitForHttpConnection to capture the fake http upstream connection
3. proxy times out the connection and sends a fin
4. fake upstream detect

[2020-07-21 03:52] mattklein123 commented on #12184
Yeah agreed this is complicated. From looking at the TSAN trace it actually seems like to fix this we would need to block the fake upstream event loop from running or we have to do more operations on the fake upstream thread. I don't think there is an easy fix here. I will think about it more tomorrow.

[2020-07-21 04:02] jeremybaumont opened #12197 "Whitespace trimmed when header value split across tcp packets"
## Whitespace trimmed when header value split across tcp packets

### Description

Whitespace trimming issue when a header value is split across 2 tcp packets where a whitespace character (or many whitespaces) is the last char of the first packet or the first char of the second packet.

We noticed reports from our users complaining of intermittent 4xx due to corrupted Authorization header value wh

[2020-07-21 04:04] mattklein123 commented on #12184
(The best fix would be to switch the timeout tests to simulated time @jmarantz :) )

[2020-07-21 04:08] jmarantz commented on #12184
I think most of the tests I saw fail in real time involved direct calls to do timed waits on condvats from grpc, which lacks injectable time, afaict.

[2020-07-21 04:17] mattklein123 commented on #12197
cc @antoniovicente who I believe fixed this on purpose recently so there should be a test.

[2020-07-21 04:18] mattklein123 commented on #12196
No, end_stream is only true if there are no trailers. Please feel free to PR a comment fix.

[2020-07-21 04:21] nvcnvn commented on #10301
Hi @danlanxiaohei can you explain this option for `name: 18`? Is it related to `SO_KEEPALIVE` or/and `TCP_KEEPIDLE`?

[2020-07-21 05:52] antoniovicente commented on #12197
See https://github.com/envoyproxy/envoy/pull/10886 also known as
https://github.com/envoyproxy/envoy/commit/b962a8ec63bbb2385ef0577de2ce019ec2ae3437

The fix is part of the v1.15.0 release.

[2020-07-21 07:16] dio commented on #11816
@mattklein123 what is the best way of resolving URI for async client calls without explicitly defining cluster for it?  Is https://github.com/envoyproxy/envoy/pull/3479 the way to do it? Need your advice on this. Thank you?

[2020-07-21 08:31] samflattery commented on #12182
If you wanted the draft PR to try and repro, it's probably easier to repro in `ads_integration_test` than in my fuzzer because there is a lot of external things going on in the fuzzer that aren't really relevant to the crash.

If you just add `public Event::TestUsingSimulatedTime` as the first base class of `AdsIntegrationTest` here https://github.com/envoyproxy/envoy/blob/796a6745954cd134c6449da2

[2020-07-21 08:39] vinzo99 commented on #11883
The same tests have been run with 1.15.0, same result.

[2020-07-21 10:30] numerodix opened #12200 "Proposal for retries on rate limited responses"
Envoy doesn't currently have support for retrying rate limited responses. When the upstream envoy returns a rate limited response it adds the header `x-envoy-ratelimited`, which is special cased to make the response ineligible for retries.

This is unfortunate for services that wish to offload the responsibility for retries to envoy, and that also have to deal with rate limited responses.

Envoy a

[2020-07-21 12:26] andye2004 opened #12203 "Authorization content added twice when using JWT filter"
## Authorization content added twice when using JWT filter
### Version Info
Envoyproxy V1.15.0 installed as native binary on Centos7 using getenvoy.io installation package
### Issue
Router is duplicating `Authorization` header content when using a JWT filter and a rule is matched that has no `requires` tag.

**Example:**
Given the config below, when sending a post request to the server with path `

[2020-07-21 13:53] alyssawilk commented on #11841
2020-07-21T00:06:09.0956342Z [ RUN      ] IpVersions/ConnectionLimitIntegrationTest.TestBothLimits/IPv6
2020-07-21T00:06:09.0957118Z TestRandomGenerator running with seed -1566620465
2021-05-28T20:16:05.5739433Z $TEST_TMPDIR defined: output root default is '/build/tmp' and max_idle_secs default is '15'.
2020-05-28T20:16:05.5748004Z WARNING: The following rc files are no longer being read, please t

[2020-07-21 14:41] alyssawilk commented on #12184
FWIW many tsan failures are just because an assertion fails, and the test doesn't handle things if the unexpected thing occurs.
Looks like something is non-deterministic about the healthcheckEndpoints waitForHttpConnection on 79, but I'm not sure what.

Josh since you can repro, can you dump trace logs of a failure or two?

[2020-07-21 14:47] bvandewalle commented on #12076
Thanks @snowp  it looks like it might have been the panic treshold indeed.

[2020-07-21 15:01] wrowe opened #12205 "Identify required patches for Envoy Windows port public alpha"
This is a placeholder to tag all WIP to get us to a usable alpha state.

Reflects another milestone in the history of issue #129

[2020-07-21 15:11] mattklein123 commented on #12184
@alyssawilk see https://github.com/envoyproxy/envoy/issues/12184#issuecomment-661605788 and https://github.com/envoyproxy/envoy/issues/12184#issuecomment-661605966. It's a race condition around connection timeout/close. I think I have an idea on how to fix. I will try to do it today.

[2020-07-21 15:21] wrowe commented on #12205
#10871 "Replace pipe() with os_sys_calls_impl::socketpair(AF_UNIX,...) in buffer tests"
offers a suggestion of applying the evutil_win_socketpair_afunix() helper of libevent.

[2020-07-21 15:22] wrowe commented on #12205
/tag area/windows

[2020-07-21 15:38] sunjayBhatia commented on #11655
bumping to get rid of the stale tag

[2020-07-21 16:03] #11998 closed

[2020-07-21 16:04] antoniovicente opened #12209 "//test/integration:stats_integration_test is flaky"
~5% flake rate with 100 runs.  Multiple test cases fail.  Sample failures:

[ RUN      ] IpVersions/ClusterMemoryTestRunner.MemoryLargeClusterSizeWithRealSymbolTable/IPv4
test/integration/stats_integration_test.cc:377: Failure
Expected equality of these values:
  m_per_cluster
    Which is: 37114
  37115
Stack trace:
  0x20c1a7e: Envoy::(anonymous namespace)::ClusterMemoryTestRunner_MemoryLargeClu

[2020-07-21 16:06] antoniovicente commented on #12209
Tested as of commit 3e92500dfae541b95f22823b03dfdd711e80538a from Mon Jul 20 14:19:03 2020 -0700

cc @jmarantz @mattklein123

[2020-07-21 16:07] mattklein123 commented on #12209
I will defer to @jmarantz to diagnose. My personal opinion is this test is not worth the pain and we should track the memory usage some other way to look for major regressions.

[2020-07-21 16:09] wrowe commented on #12098
Perhaps we should amend the PORTING.md notes under development as PR #11721, to describe the error encountered (including the related long include paths error fixed in PR #10560) to describe this workaround, and guidance to avoid very long project paths (which occur most often in the source/extensions/... tree structure). Path overrides are already attributes of our suggested docker build containe

[2020-07-21 16:11] yanavlasov commented on #11942
You can ping PR and ask the author when they expect the work to be completed.

[2020-07-21 16:13] zuercher commented on #12195
Envoy chooses and caches the route before executing http filters. There is a mechanism where an HTTP filter can cause the route to be recomputed (at which point I believe it should see the additional headers and select the route you expect). The tradeoff is the performance hit of recomputing the routes. I think the trick will be deciding how to modify the ext_authz filter to trigger route recomput

[2020-07-21 16:18] carmiac opened #12210 "mDNS lookup fails"
I have envoy setup between two machines servers on my local wifi network. The server side is using Avahi for mDNS and all of the normal tools (ping, ssh,etc) on my client machine can find it just fine.  Envoy, however, can't find it using a hostname, but has no problems with the direct ip.  Also, having my hello client directly talk to the server-side envoy without going through the client side en

[2020-07-21 16:38] sunjayBhatia commented on #11657
looks like there are some volunteers to fix the issue in Bazel: https://github.com/bazelbuild/bazel/issues/11636

[2020-07-21 16:49] davinci26 commented on #11841
I was looking into this yesterday and I will continue to look into it today.

I have the debug logs from a repro and I have uploaded them [here](https://gist.github.com/davinci26/6fd3c2073303b0b71ed1244585aa3ef7)

[2020-07-21 16:58] bruth commented on #12195
@zuercher Thanks for the information. I do see there is [`clear_route_cache`](https://www.envoyproxy.io/docs/envoy/v1.15.0/api-v3/extensions/filters/http/ext_authz/v3/ext_authz.proto#envoy-v3-api-field-extensions-filters-http-ext-authz-v3-extauthz-clear-route-cache) as an option. Is this what you are referring to?

Any idea of the magnitude of the performance hit? Are we talking microseconds per r

[2020-07-21 17:31] akonradi commented on #11427
I've been thinking about this for a while and after a couple discombobulated PRs, I've come up with a way to implement adaptive timeouts fairly efficiently. **TL;DR: have the thread-local Overload Manager state hand out timers that can be scaled after the fact, and use a new range trigger and "scale" action to reduce those timeouts when load increases.** Read on for the gory details.

# Range time

[2020-07-21 17:54] bruth commented on #12195
That `clear_route_cache` option appeared to do the trick for routes that have an upstream.

However, a related question, in my real implementation I have an RBAC filter after the authorization filter. I am now noticing that HTTP routes that has a `redirect` appear to be blocked by the RBAC filter, while a route that has the `route` config to a cluster appears to work fine. Is this at all related o

[2020-07-21 18:17] #11710 closed

[2020-07-21 18:49] #11945 closed

[2020-07-21 19:16] htuch commented on #12184
CC @drewsortega

[2020-07-21 19:25] sunjayBhatia commented on #11975
I was hoping something like the existing Linux dev container workflow would work, but looks like VSCode doesn't yet support windows containers: https://code.visualstudio.com/docs/remote/containers#_known-limitations

Setting up a remote docker host and having developers connect to that could be an option as well: https://docs.microsoft.com/en-us/virtualization/windowscontainers/management/manage_r

[2020-07-21 19:35] sunjayBhatia commented on #11975
I can't see anywhere yet that Github codespaces supports windows, but that may be a future option

[2020-07-21 19:54] alyssawilk commented on #11774
I think we're not going to get 431s until we either drop nghttp2 error handling, or at least change the exception error path, but we can definitely get details and have better docs on how to use stats when details don't exist

[2020-07-21 20:05] VassoSof commented on #11498
@snowp Thank you for your detailed feedback. Waiting for your decision to correct. Could we have the solution on top of 1.14.4?

[2020-07-21 20:29] #12131 closed

[2020-07-21 20:32] mattklein123 commented on #12184
@drewsortega I think you are being volunteered to work on this further. :)

I'm able to repro more issues under TSAN that I haven't had a chance to fix yet:

https://github.com/envoyproxy/envoy/blob/ae11ba2402769ce33dfb11096673b72efd6eaa39/test/integration/hds_integration_test.cc#L634

This one is getting stuck in the wait loop in the test. I haven't debugged it.

https://github.com/envoyproxy/env

[2020-07-21 21:56] antoniovicente commented on #11427
Tell me more about how the scaling of timers in a bucket would work.

Let's say that we are operating in the bucket with timers that have timeouts (120 sec, 240 secs]
Let's say that we add the following timers:
240 sec timer added at time N (deadline: N+240)
180 sec timer added at time N+59 (deadline: N+239)
150 sec timer added at time N+88 (deadline: N+238)

At time N+121 we process an event to s

[2020-07-21 22:33] #3621 closed

[2020-07-21 22:33] #10308 closed

[2020-07-21 22:36] jianwen612 opened #12220 "[rocketmq_proxy] assert failure with untrusted buffer when onData()"
#### Since documentation of rocketmq_proxy shows it is still an alpha version, and only accept trusted data, I think this is not a security issue, so I post it here.
The assert failure is here:
`ASSERT(frame_length > header_length);`
(https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/network/rocketmq_proxy/codec.cc#L40)
There is an assert() for input data. I think it should

[2020-07-21 23:35] htuch commented on #11427
Throwing out another alternative, apologies if this is old ground. To simplify, could we just have two clocks effectively, one that is regular real-time for regular timers and another that is scaled. We might have a minimum/maximum scaling factor for the clock, but all timers on the scaled clock are effectively in some EDF queue and maintain relative order. Let's say you want to maintain min bound

[2020-07-22 00:00] htuch commented on #12184
FWIW, I think we discussed in at least one PR the desire for simulated time, there was some 10x slowdown that prevented this from being used at the time, see https://github.com/envoyproxy/envoy/pull/5977.

[2020-07-22 01:15] #11774 closed

[2020-07-22 02:07] jeremybaumont commented on #12197
Nice, thanks for the quick answer folks, we really appreciate.

[2020-07-22 05:38] ankatare commented on #9567
@htuch would like to understand more on requirements.

[2020-07-22 08:08] rtttech opened #12223 "ip match problem"
I want envoy work as a tcp proxy and route packet to destinations if outgoing tcp packet's destination ip in ip_list.
How can I do that?

[2020-07-22 11:26] htuch commented on #11974
@wrowe I've been told that the gmock issue may no longer apply (see https://chromium-review.googlesource.com/c/chromium/src/+/2310189). Unclear if this works in Clang 10 or requires Clang 11.

[2020-07-22 11:55] #9833 closed

[2020-07-22 12:07] #11799 closed

[2020-07-22 14:50] akonradi commented on #11427
@antoniovicente That's consistent with what I'm proposing. Since timers are only added to a bucket once their min time has elapsed, they can be legally triggered anywhere between 0 and their requested max value. The actual triggering sequence is determined only by the time at which the timer is added to a bucket and by which bucket it gets placed in. Bucket intervals should be thought of as [min,

[2020-07-22 15:12] akonradi commented on #11427
@htuch I had been assuming that scaled time was always at least as fast as regular time so I don't think we need the sentinel timer. I'm not familiar with EDF scheduling but it looks like the implementation in Envoy (thanks for the pointer) picks the next task in O(log n) time. Maybe this is a good time to ask what exactly the time complexities should be for this implementation? I've gone through

[2020-07-22 15:31] antoniovicente commented on #11427
I think that the case you're describing ends up rounding the specified timeout up to the top of the range in the bucket.  I think that does work better since at least it ensures that timers don't fire much earlier than intended.  They do fire later than expected.

We should not do an O(n) recomputation of deadlines in each of the buckets when the scaling factor changes.

[2020-07-22 16:30] drewsortega commented on #12184
Sure, I can work on this one further. :)
I'm touching a lot of hds code right now, so it seems reasonable for me to work on this alongside.

[2020-07-22 16:56] chonbash opened #12226 "Can't build docker image because of SSL error."
Hi. I have a CentOS VM and I try to build image.
I follow steps in instruction and when i call `sudo ./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.dev'`

I Get a Error:
`INFO: Repository config_validation_pip3 instantiated at:
  no stack (--record_rule_instantiation_callstack not enabled)
Repository rule pip_import defined at:
  /build/tmp/_bazel_bazel/b570b5ccd0454dc9af9f65ab1833764d/external/rul

[2020-07-22 17:37] akonradi commented on #11427
I'd rather fire the timers early, but within their [min, max] window than much later, since with the proposed bucketing a timer scheduled for [min, max] could end up firing almost at `2 * max` after scheduling time, which seems bad.

Right, O(n) definitely seems bad. O(log n) seems acceptable though?

[2020-07-22 17:58] antoniovicente commented on #11427
I don't know if early or late is preferable, that said it makes some sense to me to have timers trigger at the right value when not in overload which may argue for an implementation similar to the one in my example above, which does results in timers triggering early when under partial overload.

Use of a smaller scaling factor per buckets may be helpful as a way to reduce the delta between time w

[2020-07-22 18:06] mattklein123 commented on #11427
Question: in the initial implementation do we even need to modify existing timers? I'm wondering if only new timers is good enough which would give time for old timers to age out? The system wouldn't be early as responsive but it would be much simpler.

[2020-07-22 18:06] antoniovicente commented on #11427
Use of 120 as the deadline for all of these 3 timers despite the requested values being higher seems very strange.

[2020-07-22 18:07] rgs1 commented on #11990
#12229 should do it.

[2020-07-22 18:22] #12003 closed

[2020-07-22 18:26] zuercher commented on #12220
cc @lizhanhui @lizan

[2020-07-22 18:31] antoniovicente opened #12230 "push checks: <binary> exists, but cannot be executed by other users"
I have seen this problem a few times before with tools like clang.  For some reason tools/code_format/check_format.py checks if the binary in question is executable by other users and fails in cases where the binary in question is on the user's home directory and is executable by the user running the git commands.  Could we weaken this check?  Perhaps by checking if binaries are executable by atte

[2020-07-22 18:31] htuch commented on #12091
Yeah, I think if you override these values, you will have a bad time when working with control planes that try and fix client bugs by conditioning on user agent name.

[2020-07-22 18:31] #12091 closed

[2020-07-22 18:36] yanavlasov commented on #12073
I've asked for opinions from the maintainer and nobody had any. I think the best way for to proceed is to actually implement the feature if you have dev experience. Otherwise I do not think it will gain any traction at this point.

[2020-07-22 18:59] qiwzhang commented on #11672
Please file an issue with Issue.  This is Envoy repo.

[2020-07-22 19:09] akonradi commented on #11427
Yeah if we only instantiate buckets when they're used, and empty buckets are mostly free, then an exponential growth factor of 1.4 isn't that bad, especially if there are very few distinct [min, max] values.

Better for which operations? The ones I'm looking at are enabling a timer, disabling a timer, changing the scale factor, and executing a callback.

That's a fundamental property of the bucket

[2020-07-22 19:59] phlax opened #12231 "GRPC bridge example points to non-existent build scripts"
### description

while testing the examples in the sandboxes documentation i noticed that the example for building the `go` `grpc` bridge service references build scripts that appear to have been removed.

the docs state:

[code]

the docs in question are here:

https://github.com/envoyproxy/envoy/blob/master/docs/root/start/sandboxes/grpc_bridge.rst#building-the-go-service

the sandbox example fo

[2020-07-22 20:32] ahedberg commented on #8770
@foreseeable is working on some of this as part of #10917

[2020-07-22 20:54] zuercher commented on #12230
Seem like we could relax it to take any executable bit.

[2020-07-22 21:13] mattklein123 commented on #12209
@jmarantz thoughts on disabling this tests since it now seems like it's not deterministic? I've seen it flake multiple times now.

[2020-07-22 21:27] jmarantz commented on #12209
Ok... Not going to die on this hill... One quick question.... On clang 10? What other command line options?

[2020-07-22 21:41] mattklein123 commented on #12209
I assume clang-10 as it's failing in CI now (this seems new so something changed). You might be able to fix it.

[2020-07-22 21:56] chaoqin-li1123 opened #12235 "Potential Dangling Reference in On Demand VHDS"
*Title*: *Potential Dangling Reference in On Demand VHDS*

*Description*:

subscription_->updateOnDemand(alias);
In the statement above,  subscription_ is actually a reference to a shared pointer, whose lifetime is dynamic. If it has been destroyed before the callback is run in main thread, this will become a dangling reference and the program may crash. I suggest capturing a weak_ptr in the closu

[2020-07-22 21:58] antoniovicente commented on #12209
This is based on running on my workstation with clang10.

bazel test --config=libc++ --test_env=ENVOY_MEMORY_TEST_EXACT=true //test/...

[2020-07-22 22:06] jmarantz commented on #12209
Do you see flakiness if you use -c opt, out of curiosity?

I can't think of a reason that '-c opt' should affect flakiness... Just
curious as I had not previously observed the flakes.

On Wed, Jul 22, 2020, 5:58 PM antonio <notifications@github.com> wrote:

[2020-07-22 22:09] shashankram commented on #10899
Checking again.

[2020-07-22 22:13] lambdai opened #12236 "HCM route request_headers_to_add cannot evaluate upstream host info correctly"
UPSTREAM_METADATA is referring to the `metadata` in `HostDescription`, which is reasonable IFF
an upstream host is selected.
However, the evaluation is invoked before the upstream is selected so we can never encode the upstream
info into the header to upstream.

Approach:
Instead run header evaluation during route decoding the downstream header, push back to onPoolReady()
beside the `parent_.downs

[2020-07-22 22:14] antoniovicente commented on #12209
I did the local run after seeing it fail in CI, but repoing in CI being really hard.

in -c opt, I see 52 failures out of 1000 test iterations.  Failures look similar to the ones posted in the test description, multiple test cases are affected.

[2020-07-22 22:16] lambdai commented on #12236
I *moved* finalizeRequestHeaders to this place. all test cases except 2 cases expect the function be invoked there failed, which is not hard to update test cases.

Please let me know if you have any concerns on move the `finalizeRequestHeaders` which is not captured by the tests

[2020-07-22 22:33] #11990 closed

[2020-07-22 22:45] jmarantz commented on #12209
Ok... Seeing as I really don't have time to suss out the flake e should just come out the EQ tests

[2020-07-23 00:01] daschott commented on #129
As @wrowe already [mentioned above](https://github.com/envoyproxy/envoy/issues/129#issuecomment-593483697), I'd like to reiterate that the best way to track the effort of Envoy support on Windows OS and participate is to join the #envoy-windows-dev Slack channel in https://envoyslack.cncf.io/

There are weekly meetings with the working group giving updates on the incremental progress and developme

[2020-07-23 00:08] #7599 closed

[2020-07-23 00:13] antoniovicente commented on #12209
@mum4k @oschaaf

[2020-07-23 02:43] mattklein123 opened #12242 "filter_chain_benchmark_test_benchmark_test tsan flake"
[code]

[2020-07-23 02:44] mattklein123 commented on #12242
I've seen this flake multiple times on TSAN. I'm guessing the test is too expensive for that sanitizer. @antoniovicente any recommendations on how to fix?

[2020-07-23 06:13] phlax commented on #12231
@zuercher i can take this - i just wanted to separate it from the other issues that i was already dealing with in the documentation

[2020-07-23 06:16] VassoSof commented on #11498
@snowp  Might you share a date by when you could communicate the decision?

Regards,
Vasso

[2020-07-23 06:49] kyessenov opened #12245 "Incorrect listener readiness reporting"
In the process of debugging #11826 , I found that the usual stats for readiness are mis-leading. It can happen that the initial init manager finishes initializing (LDS/CDS accepted, processed, and active), yet the connections will be refused. This is because there is a delay between when init manager finishes and the workers start accepting traffic. I think this is a problem, since it may lead to

[2020-07-23 07:19] ramaraochavali commented on #12245
This was discussed https://github.com/envoyproxy/envoy/issues/8321 and added `workers_started` stat indicate the correct readiness.

[2020-07-23 13:13] stevenzzzz commented on #12235
/assign @dmitri-d
could you please check if this is a problem?
If it's real, maybe capturing a weakptr instead?

[2020-07-23 13:36] sunjayBhatia commented on #129
Also feel free to follow on any specific issues with the `area/windows` tag and PRs with `Windows:` in the title

[2020-07-23 14:57] yanavlasov commented on #12210
Envoy uses c-ares for DNS lookups and as far as I know c-ares does not support mDNS.

[2020-07-23 15:08] akonradi commented on #11427
I've been talking with a couple of y'all offline about how to implement the ScaledTimerManager. I wanted to circle back and see if the rest of the proposal seemed reasonable though, specifically the augmentation of the Overload Manager's action state and addition of a range trigger.

+ @eziskind who designed the OM and provided feedback on #11697

[2020-07-23 15:58] magederek opened #12252 "Endpoints lost after updating cluster's connection params"
### Description:

While we were doing a stress test, we found that the requests being sent to target upstream cluster triggered the default circuit breaker of 1024 upstream connections. To solve this problem, we adjusted these params: cluster.circuit_breakers.max_connections, cluster.circuit_breakers.max_pending_requests, and cluster.circuit_breakers.max_connection_pools to the value 10240, and th

[2020-07-23 16:09] sunjayBhatia commented on #11974
See https://github.com/envoyproxy/envoy-build-tools/pull/86 for installing `clang` in the Windows build container

[2020-07-23 16:21] sunjayBhatia commented on #11974
Current issues we faced building locally:
- `curl` does not build as expected, extra arguments are passed to the llvm link tool that are not relevant for libraries, this was happening with `fastbuild`, have not yet tried with `opt`, we've seen major differences in foreign cc components with different build modes (CMake projects treatment of debug builds is often faulty) so that could be something

[2020-07-23 16:30] kyessenov commented on #12245
I think https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/operations/init.html needs updating. It does not mention that the delay between LDS acceptance and workers starting.

[2020-07-23 17:06] mattklein123 opened #12253 "tcp tunneling integration flake"
[code]

[2020-07-23 17:06] mattklein123 commented on #12253
cc @alyssawilk

[2020-07-23 17:12] mattklein123 opened #12254 "Test100AndDisconnect integration test flake"
[code]

[2020-07-23 17:12] mattklein123 commented on #12254
cc @alyssawilk

[2020-07-23 17:23] ankatare commented on #12043
@vinzo99 i would like to take this issue.
cc @htuch

[2020-07-23 18:26] alyssawilk commented on #12242
Do we need a benchmark on TSAN?  This is the sort of thing I think we could just compile disable.

[2020-07-23 18:29] mattklein123 commented on #12242
Theoretically it seems like it would catch some issues, but I would be fine disabling this type of thing on TSAN.

[2020-07-23 18:33] #12254 closed

[2020-07-23 18:39] antoniovicente commented on #12242
We have a flag that pgenera added to skip expensive benchmarks when running the smoke tests, I'll look into how to reduce the runtime for this specific test.

[2020-07-23 18:40] antoniovicente commented on #12242
/assign @antoniovicente

[2020-07-23 18:40] alyssawilk opened #12258 "tsan flake in xds_fuzz"
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/45949/logs/90

CorpusExamples/FuzzerCorpusTest.RunOneCorpusFile/6

2020-07-23T18:20:32.8483285Z ==================
2020-07-23T18:20:32.8483632Z WARNING: ThreadSanitizer: data race (pid=15)
followed by *thousands* of lines of tsan gorp.

I've often found when tsan is noisy this way it's because some underlying expect

[2020-07-23 19:20] lambdai opened #12259 "On demand filter chain"
- Motivation

Make better use of resources (RAM, CPU)

- Why

1. We have a huge network filter chain candidates but only very few are actively used.
2. Filter chain dependencies could be retrieved elsewhere (FDS/SDS)

- Possible solution

1. On listener update, build decision tree of filter chain match
2. When packet arrives at worker, use the decision tree to find the filter chain
3. If the filte

[2020-07-23 20:20] jessicayuen commented on #10374
@mattklein123 Can we re-open this issue and repurpose it as adding a config flag to turn off stats in the bridge filter?

[2020-07-23 21:28] #11433 closed

[2020-07-23 21:31] htuch commented on #12258
Another example in https://dev.azure.com/cncf/envoy/_build/results?buildId=45948&view=logs&j=5eb754ee-449a-545e-2b62-07fe525d7cbc&t=1110550d-5f5f-55a9-69fd-d02adf65e59a. @samflattery can you take a look?

[2020-07-23 21:33] #7867 closed

[2020-07-23 21:35] mattklein123 commented on #12258
@htuch this is flaking often enough that if @samflattery doesn't have time to look today I would suggest we disable for right now. Will defer to both of you on fix timing.

[2020-07-23 22:27] nezdolik commented on #11050
@mattklein123 i would like to help with this

[2020-07-23 22:42] htuch commented on #12258
I agree; since this is a fuzzer we can either disable or rollback without impact.

[2020-07-23 23:31] mattklein123 commented on #11050
@nezdolik awesome sounds great. Do you want to put together a short design doc on an implementation proposal?

[2020-07-24 04:03] #11784 closed

[2020-07-24 04:05] #12242 closed

[2020-07-24 04:10] #11674 closed

[2020-07-24 04:10] #11877 closed

[2020-07-24 04:43] zuercher commented on #12236
I think I'd want to see the PR to understand better the effect of the change.

[2020-07-24 08:15] samflattery commented on #12258
Just seeing this now.  I'll take a look and will hopefully push a fix soon

[2020-07-24 09:49] samflattery commented on #12182
@jmarantz friendly ping on this!

[2020-07-24 10:27] yaronf commented on #9300
Just for the record, authentication failures (where the server decides that the client cert is invalid) are in general not retryable. Resending the handshake message is basically guaranteed to fail.

[2020-07-24 11:08] witalisoft opened #12272 "mongo proxy: limited access logs"
*Title*: *mongo proxy limited access logs*

*Description*:
I've configure envoy that acts as mongodb proxy with access logs support, but there is only a little subset of command being logged with one session.

*Repro steps*:
reuse config with:
[code]

*Config*:
[code]

*Logs*:
application connect to mongo, list database, insert data, query data and disconnected, logs only contains:
[code]

[2020-07-24 11:36] mpuncel opened #12274 "allow typed_per_filter_config to refer to "custom" HTTP filter names"
Use case: We'd like to use multiple ext_authz filters configured with different gRPC servers, and would like to be able to toggle them separately via route config. This means we can't just use the canonical filter name, but need to be able to refer to custom names.

https://github.com/envoyproxy/envoy/pull/9618 made Envoy able to infer most extension types from the type URL of the config, which fr

[2020-07-24 11:43] jmarantz commented on #12182
reproing now. I suspect there's a shutdown race in the test that sim-time simply makes more likely.

[2020-07-24 12:08] jmarantz commented on #12182
Was able to repro same symptom. Suggestion for tracking this down:

2 parallel git areas, one with sim-time, one not.
compile both tests for debug
set breakpoint where the sim-time one crashes, in both debuggers
observe timing differences, ordering differences, etc.

If you can do this with your fuzz test rather than the integration test, it might be a much more rapid process to track the issues d

[2020-07-24 12:23] samflattery commented on #12182
Great I'll try that thanks for the advice!  My fuzz test is an integration style test too unfortunately and uses the same framework as the ads_integration_test so it'll probably be similar either way

[2020-07-24 14:27] marcin54321 opened #12277 "Original source IP for UDP protocol"
**Description:**
I need to configure Envoy UDP listeners which prereserve original source IP address of a client.

**Repro steps:**
Use the following config:

[code]
**Logs:**
[code]

[2020-07-24 14:48] chradcliffe commented on #11725
The issue here refers to h2 CONNECT, but am I correct in thinking that this would also apply to HTTP/1.1 CONNECT?

A few months back I [posted to the envoy-dev mailing list](https://groups.google.com/g/envoy-dev/c/bFsaKS2-DPc/m/woUl5bhzEAAJ) asking about the best approach to inspect traffic over HTTP/1.1 CONNECT -- in particular, how we would go about running the CONNECT-tunneled traffic through t

[2020-07-24 15:22] yanavlasov opened #12278 "Harden Envoy against untrusted upstream servers"
This is top level issue for tracking tasks and progress of hardening Envoy against untrusted upstream servers. More specific sub-tasks are split into its own issues and linked to this issue.

### Objective

1. Fix existing known high priority issues with untrusted upstream servers, sufficient to allow Envoy core components to be hardened against untrusted upstream servers.
1. Modify the Envoy OSS

[2020-07-24 15:32] yanavlasov opened #12279 "[HTTP] Refactor protocol constraints checks"
Protocol constraints checks consists of limits of inbound and outbound frames of different types. The implementation is spread out through the codec source code. For readability and sharing between legacy and new codec implementations, protocol constrains checks should be refactored into a dedicated class.

Sub-task of the #12278

[2020-07-24 16:00] yanavlasov opened #12280 "[HTTP/2] implement protocol error handling out of dispatch context"
HTTP/2 codec uses private **sendPendingFrames()** for building outbound wire bytes. This method may fail if higher level protocol constraints are violated. It is also possible that **nghttp2** methods for building frames fail. The high level protocol constraints checked by the codec, consist of limits on the number of outbound frames of different types, and only implemented for server codecs at th

[2020-07-24 16:07] yanavlasov opened #12281 "[HTTP/2] extend flood protection to upstream servers"
Flood protection checks are currently enabled in downstream (server) codecs. These checks need to be extended to the upstream client codecs as well to allow Envoy to work with untrusted upstream servers.

Depends on #12280
Sub-task of #12278

[2020-07-24 16:25] phylake commented on #11027
Is this actually a rename? It doesn't mention or imply connection draining

[2020-07-24 16:29] wrowe opened #12282 "dubbo_proxy clang-tidy CI build regression since 7/20"
The dubbo_proxy was updated on 7/20, and broke pre-commit clang-tidy build.

@alyssawilk

[code]

[2020-07-24 16:29] wrowe commented on #12282
@sunjayBhatia

[2020-07-24 16:30] phylake commented on #11027
Looks like it #8056

[2020-07-24 16:36] yanavlasov opened #12283 "[HTTP] Audit implementation of upstream connections"
Audit implementation of upstream connections for potential problems with untrusted upstream servers

There are several areas that needs to be verified and audited. Specifically:

- [ ] Reuse of connection to H/1 upstream servers. Presently connection is reused very quickly and this may pose a problem with servers that respond twice. TBD: define the end goal. Protecting Envoy? Flagging misbehaving

[2020-07-24 16:43] mattklein123 commented on #12279
@yanavlasov is this a dup of https://github.com/envoyproxy/envoy/issues/10646 or related?

[2020-07-24 16:46] yanavlasov opened #12284 "[CM] Audit cluster manager"
Audit cluster manager and load balancing behavior due to local health checks.

- [ ] Applying updates to endpoint sets as a result of local host checks.
- [ ] Audit load balancing algorithms and structures. Audit effects of changes in upstream server health status on priorities, etc.
- [ ] Make sure that endpoint picking is O(1) even in cases where there is a large number of unhealthy endpoints in

[2020-07-24 16:51] sschepens opened #12285 "rbac: principals evaluation performance"
We want to evaluate RBAC policies and we have 1.3k "principals", users we want to allow, extracted nowadays via jwt_authn metadata, and these users can vary form endpoints allowed.
The actual performance of RBAC is not great for these use cases since it is linear to the amounts of principals.
Current structure allows to define how to extract the value of the principal and only match it against a s

[2020-07-24 16:56] yanavlasov opened #12286 "[Health checks] Audit error and invalid response handling in health checking."
Verify that health checking code gracefully handles invalid responses or abusive server behavior (i.e. H/2 floods).

Sub-task of #12278

[2020-07-24 16:57] phlax opened #12287 "Jaeger native tracing example segfaults"
### description

While testing the examples in the repo, i noticed that the `jaeger-native-tracing` example segfaults when you make an `http` request of it.

### steps to reproduce

Follow the example instructions, eg

[code]

### logs

the logs from the failing container show

[code]

[2020-07-24 17:04] rgs1 commented on #12186
Yes -- works for the main thread too. This is what we need. Thanks!

[2020-07-24 17:04] #12186 closed

[2020-07-24 17:38] LisaLudique commented on #11622
What are your thoughts on logging a warning to avoid failing silently in tracers that do not support baggage (i.e. in the no-op methods)?

[2020-07-24 18:04] PiotrSikora commented on #9300
To the same endpoint, yes. But retries are usually sent to different endpoints than the one that failed.

[2020-07-24 18:22] ASOPVII commented on #12259
A design outline for this feature:
1. Create fake filterchain placeholder when listener calls newListenerWithFilterChain, replace ```ListenerImpl::buildFilterChain()``` with ```ListenerImpl::buildFakeFilterChain()```.
2, On new connection arriving, connection handler find filter chain, (when it is fake) calls dispatcher (of master thread) to post an updateFilterChain request together with a ```ret

[2020-07-24 18:55] sschepens commented on #12285
@mattklein123 i could probably have a go at a PR implementing the set matcher in SringMatcher, but this probably needs some discussion if this is the best approach.

[2020-07-24 19:53] mattklein123 commented on #12285
Thanks for opening. For reference, there is some related efforts here:
- https://github.com/envoyproxy/envoy/issues/6602 (cc @htuch)
- https://github.com/envoyproxy/envoy/issues/11832 (cc @yangminzhu)
- https://github.com/envoyproxy/envoy/issues/7918 (cc @gkleiman @wgallagher)

Optimally, we would come up with a common structure here around matching that allows for the tree with linear leaves stru

[2020-07-24 20:15] sunjayBhatia commented on #11974
See https://github.com/envoyproxy/envoy-build-tools/pull/88 for additions and issues with the `clang-cl` toolchain config

[2020-07-24 20:23] yangminzhu commented on #12285
Thanks @sschepens for starting this.

There is a work in Istio started recently to do a large scale performance test of Istio AuthZ policy that uses the Envoy RBAC filter under the hood, the test is trying to get the performance data (e.g. latency, memory and etc.) of the RBAC filter with large configs (e.g. 10k path rules, principals and etc.). @MichaelEizaguirre is working on this from Istio sid

[2020-07-24 21:54] phylake opened #12291 "Dynamic OT tracing question"
*Title*: *Dynamic OT tracing question*

*Description*:
I'm using https://github.com/jaegertracing/jaeger-client-cpp and have configured `client_sampling=100 random_sampling=0 overall_sampling=100` with the intent that my downstream client can decide when spans should be sent by upstream components, and can't seem to turn spans off. Every request produces one even without the header

I traced the p

[2020-07-24 22:09] lizan commented on #12287
This is known issue because of incompatible C++ ABI:
https://github.com/envoyproxy/envoy/issues/11382#issuecomment-638012072

[2020-07-24 22:15] zuercher commented on #12203
cc  @qiwzhang @lizan

[2020-07-24 23:02] qiwzhang commented on #12203
Hmm,  I don't think jwt_authn has any code to add or modify "Authorization" header.   Are you sure it is from jwt_authn filter?

[2020-07-24 23:17] NonStatic2014 opened #12292 "Debug long tail latency under very low qps"
We use envoy as a public-facing traffic proxy in our product. The envoy server has 5 VMs, each VM has 8 cores. The public traffic currently is around 1 QPS (at peak time 5 QPS). For each request, the upstream processing needs 100-400ms in most of cases(P99). Since our client side timeout is 1000ms, in the envoy setting, I set per_try_timeout to 800ms and up to 3 tries.

With above setup, what we o

[2020-07-25 00:27] mattklein123 opened #12294 "rbac:integration test flake"
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/46126/logs/137

[code]

[2020-07-25 00:28] mattklein123 commented on #9890
I haven't seen this in a while, closing for now.

[2020-07-25 00:28] #9890 closed

[2020-07-25 00:29] mattklein123 commented on #10012
Haven't seen this in a while, closing for now.

[2020-07-25 00:29] #10012 closed

[2020-07-25 00:29] mattklein123 commented on #11841
This is still broken. I am looking into this further.

[2020-07-25 00:37] lizan commented on #12203
@andye2004 I can't replicate this with your config, does your RDS has something like request_headers_to_add or anything? I tried with a simple cluster with `/` prefix route which worked fine:
[code]

[2020-07-25 05:14] cbrisket commented on #11569
We do something similar with the current HTTP/2 CONNECT support; as @alyssawilk suggested. The flow supports SNI at the front-proxy, preserving the TCP stream and hopping that over to a HTTP/2 secondary proxy to prepend the CONNECT, before finally out to an external HTTP 1.x forward proxy, which in turn tunnels the TCP stream out to destination

It's gross, but the motivation in our case is for eg

[2020-07-25 06:48] lizan commented on #12274
To be consistent with #9618, I think 2 is the way to go, if the config isn't typed (i.e. google.protobuf.Struct), then it should be inferred from name.

[2020-07-25 08:00] povesteam commented on #12074
The gRPC services are on TCP layer, not HTTP, therefore it is not possible to differentiate multiple endpoints by path.

Instead, header-based separation is possible, using route configs like this:

[code]

Please share if you find a way to differentiate gRPC by path. Thank you!

[2020-07-25 08:31] dio commented on #11876
@ajoysinha it seems like your request is successful, but you can't log the body?

I'm not sure if the following example could help you: https://github.com/dio/envoy-lua-opa

[2020-07-25 10:28] andye2004 commented on #12203
@lizan So sorry, I was just about to post my RDS file which has nothing out of the ordinary in it, but I decided to go back and check the server we were testing the 1.15.0 upgrade on and there is a rogue RDS file on there which is being pulled in that is adding the additional header. This is an issue with configuration and NOT with the JWT plugin at all so I will close the issue as a consequence.

[2020-07-25 10:28] #12203 closed

[2020-07-25 18:19] #11572 closed

[2020-07-25 19:19] #11592 closed

[2020-07-26 00:19] #11594 closed

[2020-07-26 04:37] lizan opened #12297 "Run docker CI job in pre-submit and"
Currently the docker CI job is only run in post-submit. It is desired to have it also run in pre-submit without push image to dockerhub. It can save the image as artifact with `docker save`. Running ci/verify_examples.sh there will be even better.

[2020-07-26 04:38] lizan commented on #12297
@phlax

[2020-07-26 18:09] yskopets opened #12300 "allow extension factories to be asynchronous"
_Title_: allow extension factories to be asynchronous

_Context_:
* at the moment, extension factories must implement a synchronous `create*(config)` method, assuming that a given configuration itself is enough to return a ready-to-use extension instance or `*FactoryCb`. E.g.
  * `envoy.access_loggers`: `AccessLog::InstanceSharedPtr createAccessLogInstance(config)`
  * `envoy.filters.http`: `Http:

[2020-07-26 20:58] kyessenov commented on #12300
I think the big question is what happens if configuration fails? There is no exit state from warming other than success.

[2020-07-27 05:00] Shikugawa commented on #11706
/nostale

[2020-07-27 07:58] witalisoft commented on #12272
maybe it's could be related to [PR#5053](https://github.com/envoyproxy/envoy/pull/5053)

[2020-07-27 08:45] nezdolik commented on #11050
@mattklein123 will do

[2020-07-27 10:28] Taiters commented on #6016
Hey, is this currently being worked on? I'd be happy to pick this up if not.

Another useful setting here would be a duration before resetting back to the base ejection time. E.g. If 24hrs have passed since the last ejection for a host, return to the base_ejection time (Essentially resetting `num_ejections`)

[2020-07-27 10:40] difro commented on #6016
@Taiters ah. sorry couldnt find time and never finished the patch and forgot about it.  It's all yours.  Your suggestion sounds good to me.

[2020-07-27 13:41] alyssawilk commented on #12282
Sorry about that.  After a few minutes of being baffled (the Hessian option was removed ages ago!) the only way I see this compiling is if the file isn't used at all.  Sent out a PR to remove it.

[2020-07-27 13:55] ppadevski opened #12304 "shouldDrainReadBuffer followed up by readDisable(true) and readDisable(false) strange behaviour"
The behaviour I'm about to describe requires quite a lot of setup in order to reproduce.

To begin with I'm using v1.14.4.

My listeners use the following configuration.

The default value of 1MB just seemed way too big and opened up lots of opportunities for oom so I ended up using 16k.

Then I have a **local** SSL client in which data in sent in chunks, e.g. 400 followed up by 16500 bytes (e.g.

[2020-07-27 13:59] fcfort opened #12305 "Per-request rtt latency metrics in HTTP filters"
The use-case I’d like to address is the ability to measure the rtt latency to upstreams so that this per-request rtt latency can be reported in detailed metrics.

Within the Linux TCP/IP stack, the TCP-level rtt is computed and available (like [this](https://developer.fastly.com/reference/vcl/variables/tcp-info/backend-socket-tcpi-rtt/)) via file descriptors and retrieved via `getsockopt` calls us

[2020-07-27 14:00] alyssawilk commented on #12300
eventually, config based soft-failure or hard-failure?  Presumably the filter owner can decide if they want the server to limp along without that functionality (500 on routes using WASM, fail to access log) or hard-fail (not start up / never listen)

[2020-07-27 15:07] snowp commented on #12300
Would it be sufficient to hook into the listener's `Init::Manager` and use that to defer finalizing the listener load until the filter factory is ready?

[2020-07-27 15:10] #12282 closed

[2020-07-27 15:37] snowp commented on #12305
I think exposing this is fine though I'd probably prefer adding a function to extract the RTT over exposing the FD itself.

I'm not sure exactly what the best way to measure the RTT time for a given request as I imagine it might change over the duration of the request? Sounded like @alyssawilk has some experience here, so I'll let her chime in.

[2020-07-27 15:38] samflattery commented on #12258
Should be fixed with https://github.com/envoyproxy/envoy/pull/12246

[2020-07-27 15:45] alyssawilk commented on #12305
Yeah, I think we're going to want the callbacks to expose a socket like API, which has the rtt function as its first function, and make sure we do our best w.r.t. non-linux builds (cc @wrowe @zuercher for windows and mac respectively, @florincoras for API discussion)

rtt (and measurement accuracy) definitely changes over time but I think we can just comment that it's a current measure in the API,

[2020-07-27 16:03] antoniovicente commented on #11799
I think that the implementation in #12128 does a linear scan over stats, which makes it unsuitable for use in prod code outside some very limited cases.  This internal API should be used with caution.

[2020-07-27 16:05] kyessenov commented on #12300
If a failure happens, it might be desirable to back track to a previously working listener, or fast-track to the next incoming listener update and interrupt the configuration future.

[2020-07-27 16:37] ankatare commented on #11027
@phylake yeah, seems it is mention in #8056 but still there is a need to improve documentation.

[2020-07-27 16:37] mattklein123 commented on #12253
There are still more issues here. I saw the same crash on master after my fix.

[2020-07-27 16:38] mattklein123 commented on #12304
cc @antoniovicente @alyssawilk

[2020-07-27 16:39] mattklein123 commented on #10030
I think this is fixed.

[2020-07-27 16:39] #10030 closed

[2020-07-27 16:40] mattklein123 commented on #11504
Fixed

[2020-07-27 16:40] #11504 closed

[2020-07-27 16:43] mattklein123 commented on #12305
My take on this is that we shouldn't be exposing a socket like API at all, as RTT is very much dependent on the underlying upstream protocol which is fully abstracted. I would recommend instead just exposing an `rtt()` function somewhere on the upstream request/pool request/etc. and then the implementation can be codec/protocol specific? Either way I think we will need a short design doc on this o

[2020-07-27 16:47] mattklein123 commented on #12300
I feel very strongly that we have a holistic design for this issue which also covers https://github.com/envoyproxy/envoy/issues/12183. This is also highly related to the work that @kyessenov already did on the filter config discovery service implementation inside the HCM. At a high level the problem is very similar and we should be very consistent on how we handle it both in terms of config and im

[2020-07-27 16:48] antoniovicente commented on #12304
I think I see the bug in ConnectionImpl::readDisable(false)

the " && read_buffer_.length() > 0" should be removed from the resumption condition.

[2020-07-27 16:52] antoniovicente commented on #12304
But this should be an older bug, the issue is that with SSL we can't assume that resetting the fd mask by calling file_event_->setEnabled(Event::FileReadyType::Read | Event::FileReadyType::Write); will result in correct resumption in all cases.  There may be bytes to read in SSL's internal buffers

[2020-07-27 16:58] antoniovicente commented on #12304
Commit 77cca6b40775fbce1b93eb3ae6189b6e9dede208 is not in v1.14.4, so this should be the older bug.

https://github.com/envoyproxy/envoy/blob/v1.14.4/source/common/network/connection_impl.cc#L364

[2020-07-27 17:33] alyssawilk commented on #12305
Hm, I guess codec vs transport is if you're doing this via kernel checks or ping frame turnaround.  We can do either, but frank suggested checking the kernel which I think is more about transport than codec.

[2020-07-27 17:48] antoniovicente commented on #12304
/assign @antoniovicente

[2020-07-27 17:50] antoniovicente commented on #12304
/backport

[2020-07-27 17:58] mattklein123 commented on #12305
I guess my larger point is that I'm not sure what "per-request RTT" means when talking about multiplexed streams, so we need to clearly specify that?

[2020-07-27 18:08] florincoras commented on #12305
Both `Socket` and `IoHandle` now have a `getSocketOption` function which, in case of the default `SocketInterface` implementations, maps to a `getsockopts` syscall. No need to go to the fd, in fact I would recommend never to work with the raw fd.

To @mattklein123's point, this measurement might not be relevant if the sockets are actually implemented in user space on top of tcp/udp (i.e., tls and

[2020-07-27 18:13] alyssawilk commented on #12305
RTT here is the TCP round trip time between the two endpoints.  It should be the same at any point in time for all streams sharing that TCP connection.  You can also get an application level variant which includes time to read the data from the kernel and respond but that's entirely different, and also not a per-stream construct as it's done with ping frames.
Are you thinking of RT (response time)

[2020-07-27 19:48] yosrym93 commented on #9872
After #11727, the only remaining function that needs more tests is `CacheHeadersUtils::httpTime`.

[2020-07-27 19:58] mattklein123 commented on #12305
Right, understood, but we need to clearly specify what this means on a per-request basis. For long lived streams, is this an RTT averaged over time? At the beginning? End? Etc.

I'm not sure who this is addressed to. If me, no, I'm thinking about RTT but I'm trying to clarify what this will mean in the context of a request/response/stream.

[2020-07-27 20:00] yosrym93 commented on #9835
Refer to: https://github.com/envoyproxy/envoy/blob/master/source/docs/flow_control.md

[2020-07-27 20:49] lambdai commented on #12300
@ASOPVII has switched to ondemand filter chain, which is independent from the proposal here.
The major efforts of ondemand filter chain is to trigger the initialization upon traffic at dataplane(on worker thread),
which can never be addressed by master thread tricks.

[2020-07-27 20:53] lambdai commented on #12300
@yskopets
This looks reasonable except:

The existing code doesn't introduce future concept but envoy does achieved `in the warming state until all extensions are actually ready-to-use` with init manager.

The callback embedded in the watcher of Init::Manager acts as if the `Promise::set_value()`. Could you look into it?

[2020-07-27 21:00] kyessenov commented on #12300
xref: https://github.com/envoyproxy/envoy/issues/12061 (a local init manager for extension config loading was cut out since it's complicated)

[2020-07-27 21:15] mattklein123 commented on #12300
OK.

Please no coding on any of this until we have design documents for discussion. Thank you!

[2020-07-27 21:27] mattklein123 opened #12311 "ActiveQuicListenerTest.ReceiveCHLO/IPv6_UseGQuicWithTLS flake"
[code]

[2020-07-27 21:27] mattklein123 commented on #12311
cc @danzh2010 would appreciate if you could take a look

[2020-07-27 21:57] danzh2010 commented on #12311
/assign @danzh2010

[2020-07-28 00:21] mattklein123 commented on #12285
Awesome!

What I'm getting at here is that I think in general we want to move to a route/etc. matching system in which we have a tree where the lives can be linear matchers. So basically the only types of matchers that would work for the tree portion would be ones that can be expressed as a trie/hash/etc. with the existing linear matching system for routes, rbac, etc. being the leaves. This allows

[2020-07-28 00:27] antoniovicente opened #12314 "Add CI to verify that envoy builds and works correctly when most extensions are disabled."
While trying to import PR #11826 into our environment which disables most extensions, I noticed a direct dependency between //test/integration:extension_discovery_integration_test and //source/extensions/filters/http/rbac:config.  This direct dependency puts us in an difficult situation: either we bring in RBAC despite we not depending on it, or lose coverage for the code added in PR #11826

It se

[2020-07-28 00:30] antoniovicente opened #12315 "//test/integration:extension_discovery_integration_test unconditionally depends on RBAC extension"
While trying to import PR #11826 into an environment that disables most extensions, I noticed a direct dependency between //test/integration:extension_discovery_integration_test and //source/extensions/filters/http/rbac:config.

Are direct dependencies between envoy core and specific extensions allowed?  Is there a minimal subset of extensions that are considered essential and all Envoy consumers

[2020-07-28 01:05] yangminzhu commented on #11832
@mattklein123

I have updated the doc for the support of tap filter and stream-based matching. I also completed a PoC PR here: https://github.com/envoyproxy/envoy/pull/12317, Please let me know your thoughts, thank you.

[2020-07-28 05:19] antoniovicente commented on #12304
Thinking about this one some more, I think that we could consider this being a bug in SslSocket::doRead instead of ConnectionImpl::disableRead.

SslSocket::doRead does not check for additional bytes in SSL_read internal buffers by calling SSL_pending and doing additional SSL_read calls after callbacks_->shouldDrainReadBuffer() returns true. The consequence is that the SSL connection is left in a s

[2020-07-28 06:32] #11825 closed

[2020-07-28 09:56] surki commented on #5828
FYI: `always_set_request_id_in_response` is what I am using to inject x-request-id in the response. Seems to work for direct_response as well.

[2020-07-28 11:25] dio opened #12325 "ci, flake: //test/integration:integration_test failed on coverage build"
The link to the build log: https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/46266/logs/133

[code]

[2020-07-28 13:20] alyssawilk commented on #12305
I think this is just returning the kernel rtt as snapshot when the call is made (though kernel rtt does smooth a bit).  I think it's more a property of the transport than the stream.

[2020-07-28 13:46] atanchev commented on #12304
I cherry-picked commit https://github.com/envoyproxy/envoy/commit/77cca6b40775fbce1b93eb3ae6189b6e9dede208 into our repo of 1.14.4 and it failed to fix the issue. But after removing this condition:

as suggested by @antoniovicente it seems to be working for now. I'll test this a bit more. Just wanted to add some details from our testing so far.

[2020-07-28 13:56] alyssawilk commented on #12325
https://github.com/envoyproxy/envoy/blob/master/test/integration/integration_test.cc#L131

2020-07-27T23:48:10.1709150Z test/integration/integration_test.cc:131: Failure
2020-07-27T23:48:10.1710474Z Expected: (nullptr) != (test_server_->counter("server.worker_0.watchdog_miss")), actual: (nullptr) vs 0
2020-07-27T23:48:10.1711305Z Stack trace:
2020-07-27T23:48:10.1752547Z   0x1dd3af6: (unknown)
202

[2020-07-28 13:58] alyssawilk commented on #12314
I wonder if we can fix this with visibility rules rather than a separate build.  Maybe some envoy extension macros which default to only having visibility to other extensions?
cc @lizan

[2020-07-28 14:08] antoniovicente commented on #9953
Related: #12315 #12314

[2020-07-28 14:17] alyssawilk opened #12326 "IpVersionsClientType/ExtensionDiscoveryIntegrationTest.BasicWithoutWarming flake"
@kyessenov can you check this out?
full log here:
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/46303/logs/137

2020-07-28T11:50:42.4207405Z test/integration/extension_discovery_integration_test.cc:282: Failure
2020-07-28T11:50:42.4208094Z Expected equality of these values:
2020-07-28T11:50:42.4208500Z   "200"
2020-07-28T11:50:42.4208823Z     Which is: 0x26b469

[2020-07-28 14:24] jianwen612 opened #12327 "[zookeeper_proxy]assert failure with untrusted buffer when onWrite()"
The failure happens here:
https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/network/zookeeper_proxy/decoder.cc#L187
The decoder finds the request by `xid` which is obtained by `peekInt32(data, offset)`. If it is not found, an assert failure will crash the program.
This failure will happen on fuzzer or when the upstream server is in an error state.

I'm currently working on

[2020-07-28 14:26] auni53 opened #12328 "Revisiting filterchain dependency"
Related issues: #151, #3559, #3286.
[Original design from Randy](https://docs.google.com/document/d/1GNawM59Pp09WZ34zqJYiO_qmERjuGbOUeAqF1GG6v9Q/)

A couple years ago, @curiouserrandy led a bunch of discussion around dependency in the filterchain. Key issues included the ability to express a filter-to-filter dependency, express a filter-to-filterState() dependency, and for filters to lazily evalua

[2020-07-28 14:26] jianwen612 commented on #12327
@rgs1
The author has already made a pull request to fix it.
https://github.com/envoyproxy/envoy/pull/12308#event-3594519817

[2020-07-28 14:27] foreseeable commented on #10917
I used Bazel to generated a few performance profiles for some test after simplifying some mock library inclusions:
https://drive.google.com/file/d/1O8B0mLy-VjNXLRSqquNHYaa7izp4Sk7b/view?usp=sharing

(one can open them from chrome://tracing with chrome)

The performance bottlenecks for those tests before was building the monolithic mock headers. But now I can not figure out what to optimize for nex

[2020-07-28 14:31] markdroth commented on #9376
@jiangtaoli2016 may want to review this proposal as well.

[2020-07-28 14:50] sunjayBhatia commented on #11974
See also https://github.com/bazelbuild/bazel-toolchains/issues/901

[2020-07-28 15:05] mpuncel opened #12331 "Proposal: add ability to ignore new hosts for trickle/panic calculations until they pass a health check"
This request is very similar to the existing `ignore_new_hosts_until_first_passing_hc` feature, which allows for not including a host in the "total" count used for spillover and panic mode until a health check has completed.

This request proposes another option which is to wait until a _passing_ health check has completed, not assuming that the first health check succeeds.

The goal here is to be

[2020-07-28 15:11] snowp commented on #12328
How would a registration mechanism do better than just a string key here? Would it enforce that only one registered handle could ever exist for a given name, and each consuming filter would have to reference that handle? Trying to see how this would boil down to more than just a C++ wrapper around a string lookup

Without knowing the work done here that well, this seems a bit odd to me: presumably

[2020-07-28 15:26] phylake commented on #12291
@objectiser I found #2787 where you comment

It sounds like this is by design and an issue with https://github.com/jaegertracing/jaeger-client-cpp then, is that right?

[2020-07-28 15:26] stevenzzzz commented on #12235
I  think this is closed by accident.  looks like this race is real, we should revive this issue.

[2020-07-28 15:47] objectiser commented on #12291
Does your root span have a tag with `sampling.priority` set to 0? If so, then the tracer is ignoring the hint. However, as mentioned in the [spec](https://opentracing.io/specification/conventions/), it is only a hint so not guaranteed to be supported by the tracers.

[2020-07-28 16:00] kyessenov commented on #12326
Thanks for the report. Is this happening often? I could get it <1/1000 rate sometimes. I think it's because of a delay between xDS accepted and active, but can look further.

[2020-07-28 16:01] kyessenov commented on #12314
Can we make the list of extensions that are OK to use in integration tests be more visible? It's valuable to use "real" extensions in xDS integrations since the interactions are more complex.

[2020-07-28 16:10] auni53 commented on #12328
Hi Snow, thanks for the feedback!

Given filterState key "com.auni", we have code that has to set `%PER_REQUEST_STATE(com.auni)% in config. I'm worried about maintenance of this going forward, and we kept them in sync with a constant in the filter that our config references. I think this is a little messy, I would rather the constants be registered and managed within Envoy. This is basically a cpp

[2020-07-28 16:12] alyssawilk commented on #12326
Yeah, test flakes are often 1:1000 locally when they're more like 1:50 on CI.   I saw those two plus maybe one more on CI overnight, which is enough we'll probably want to disable the test if you don't think you can get a fix in soon (since flakes tend to get worse at peak).  thanks for taking a look!

[2020-07-28 16:22] alyssawilk commented on #12314
I think the goal is to extend filters test/integration/filters/ as we need to test specific logic.  I think we could have a test filter with config as complex as we need, to avoid the dependency issue, WDYT?

[2020-07-28 16:39] kyessenov commented on #12314
That would work if you want to test things in isolation. But then there are issues with 2 components (a filter and some xDS). For example, we found multiple issues with Wasm + LDS once we put it into a black box that were completely missed by integration tests (mostly around stats). Perhaps, we need several integration tests, one per component, and then some that exercise cross-component interacti

[2020-07-28 16:43] antoniovicente commented on #12314
Without some kind of enforcement, it will eventually become impossible to disable most extensions and the extension mechanism will diminish in value.  There is currently an expectation that you can disable extensions.  There seem to be some exceptions, this is apparently not the first time that envoy core ends up depending on specific extensions.

[2020-07-28 16:47] alyssawilk commented on #12314
I agree some extensions will want their own DS tests, but if it's for testing extension functionality (rather than ds functionality) I think it goes in the extension directory.  So core ds reloads can be tested with synthetic filters in //test/integration/ and extension-specific reloads can be tested along with the extension. make sense?

[2020-07-28 16:48] #11841 closed

[2020-07-28 16:52] kyessenov commented on #12314
Yes, I'd fine if we add more policy enforcement to make sure real extensions are not used in integration tests. I was simply not aware.

[2020-07-28 16:53] jplevyak opened #12335 "V8 precompiled Wasm files are incompatible between opt and dbg builds."

[2020-07-28 16:54] mattklein123 commented on #12325
Yes probably. I will take a look.

[2020-07-28 17:17] alyssawilk commented on #12314
yeah, that's on us for not documenting more clearly.  I mainly know about it because @yanavlasov has been cleaning it up :-)

[2020-07-28 17:34] mattklein123 commented on #12314
All of the exceptions that I know of are for tests (other than possibly some of the transport sockets). We should definitely clean this up where possible.

[2020-07-28 17:36] alyssawilk commented on #12314
Unfortunately, it's not as clean as that.  I'm putting together a visibility PR which at least makes it more clear what's used and what's not, and makes it harder for folks to accidentally add new "core" tests depending on extensions.

I think I'm going to close this off as a dup of #9953 which does include "prevent" and tag my build rules change there.

[2020-07-28 17:36] #12314 closed

[2020-07-28 17:45] kyessenov commented on #12326
I can confirm this is because of the delay between config_reload metric and `tls_->runOnAllThreads`. It looks similar to `workers_started` issue. Is it OK to create another metric and and an atomic int to count TLS updates?

[2020-07-28 17:48] akonradi commented on #11427
I've written an alternate implementation based on the suggestion from Harvey about scaling time itself. You can see this approach [here](https://github.com/akonradi/envoy/commit/scaled-range-scaled-time). It uses the same ScaledTimerManager API, though, so I'd appreciate feedback about the larger proposal outlined [above](https://github.com/envoyproxy/envoy/issues/11427#issuecomment-662001196) (ig

[2020-07-28 17:52] junr03 opened #12336 "compression: report bytes compressed in trailers"
While the compression (compressor/decompressor) filters report stats on bytes compressed/uncompressed in aggregate it would be useful for experimentation purposes to report individual request/response size effects on http trailers so that client/servers can report analytics on compression efficiency between settings.

My suggestion would be to use `x-envoy-<compressor/decompressor>-<filter_name>-<

[2020-07-28 17:52] mattklein123 commented on #12326
@kyessenov optimally the metric would have some operational value, but if we need it for synchronizing tests it's probably fine. The other option would be to make a metric specific to the extension system for when the atomic update is actually applied on each worker (vs. generically for all TLS updates). I mildly prefer this as it's more explicit.

[2020-07-28 17:54] kyessenov commented on #12326
I would prefer `config_reload` to mean config applied (potentially partially). There're already xDS stats for ACKing (acceptance but not applied). Let me see how to fix this. I imagine this is a generic problem, but it just surfaced in this test.

[2020-07-28 17:58] mattklein123 commented on #12331
This seems fine to me but will defer to @snowp on this. cc @nezdolik also who has done work in this area.

[2020-07-28 18:00] mattklein123 commented on #12326
Yes agreed it's likely a generic problem that we are now hitting as we add more features like this. I think a per-worker TLS update stat is probably fine to solve these types of issues, my concern is there are other TLS updates happening and it might be flaky. I wonder if add a test hook for TLS updates is the way to go here, possibly also with naming each TLS slot. This would potentially allow yo

[2020-07-28 18:03] kyessenov commented on #12326
I was thinking of passing a shared decrementing counter and a stat scope. Then each update will decrement and update the stat on 0. This is exactly how it's done for workers_started. Is there an issue with this approach? I think the lifetimes work out since TLS is owned by the provider which outlives the subscription with the stats scope.

[2020-07-28 18:28] snowp commented on #12331
Yeah seems fine to me. I think we'd want to change the API a bit to use a structured `HostWarmingPolicy` or something to that effect instead of a series of bools, but other than that this should be easy to do given the existing `excluded_hosts` concept

[2020-07-28 18:37] mattklein123 commented on #12326
I'm not exactly sure what we are talking about. Like a stat specific to this problem? Or a general one? At a high level this sounds fine so if you want to do a PR we can discuss there.

[2020-07-28 18:55] antoniovicente commented on #12315
https://github.com/envoyproxy/envoy/pull/11826#discussion_r461780464

[2020-07-28 19:52] kyessenov commented on #12326
https://github.com/kyessenov/envoy/pull/new/deflake_ecds_integ_test
Still seeing a flake once every 2000 test runs. So it's not sufficient :(

[2020-07-28 19:55] alyssawilk commented on #12326
Is it an improvement? Incremental change is still good :-)

[2020-07-28 19:57] kyessenov commented on #12326
I am beginning to doubt it's even possible to fully deflake it. I'll try another trick, and see if it helps.

[2020-07-28 20:03] mattklein123 commented on #12326
@kyessenov it must be possible to deflake it, the question is how. Can you potentially chat with @alyssawilk to better understand the problem and brainstorm solutions?

[2020-07-28 20:08] kyessenov commented on #12326
I found a flaw -- it appears there are actually two workers in the integration tests (master is counted?). Trying to see if that helps.

[2020-07-28 20:09] phylake commented on #12291
Thanks for the quick reply @objectiser!

I don't believe so. Do you agree this isn't a problem with the Envoy implementation? If so I'll close this

[2020-07-28 20:14] therealmitchconnors opened #12339 "Allow CSDS Requests to specify status only"
*Title*: *Allow CSDS Requests to specify status only*

*Description*:

*Relevant Links*:

[2020-07-28 20:43] jianwen612 opened #12340 "[postgres_proxy] assert failure with untrusted buffer when onData()"
I'm currently working on fuzz test(which generates random bytes for onData() and onWrite() to see whether we could crash the Envoy) for network-level filters.
When I was testing on postres_proxy filter with some untrusted data, an assert failure occurred inside linearize:
RELEASE_ASSERT(size <= length(), "Linearize size exceeds buffer size");
https://github.com/envoyproxy/envoy/blob/master/source/

[2020-07-28 20:47] ggreenway opened #12341 "Convert absl::string_view to std::string_view and absl::optional to std::optional"
Now that Envoy is using c++17, `std::string_view` is available.

To avoid a huge change to replace all uses in the code, `absl::string_view` will become an alias for `std::string_view` if we `#define ABSL_USES_STD_STRING_VIEW` (see https://github.com/abseil/abseil-cpp/blob/d39fe6cd6f5eb72dc741f17d3a143a6a5a56538a/absl/strings/string_view.h#L45).

New code should use `std::string_view`. Code, as it

[2020-07-28 20:48] alyssawilk commented on #12341
cc @yanavlasov @asraa @ahedberg for any import concerns.

[2020-07-28 21:14] ggreenway commented on #12341
It looks like absl will by default use the `std` version when compiled with c++17 (see https://github.com/abseil/abseil-cpp/blob/master/absl/base/options.h and https://github.com/abseil/abseil-cpp/blob/master/absl/base/config.h).

[2020-07-28 21:55] jianwen612 commented on #12220
To reproduce this failure, this test case can be added to test/extensions/filters/network/rocketmq_proxy/conn_manager_test.cc

[code]

Since no other suggestions were proposed here, I'm going to make a pull request to fix it.

[2020-07-28 22:49] howardjohn opened #12345 "Confusing warning log in default config: envoy.reloadable_features.activate_fds_next_event_loop"
[code]

Out of the box we get this warning as the first line in the logs. Its not very clear to a user what this actually means, and what if any impact there is.

Image SHA I used was `sha256:18ff2a4f69547d91a465239931340bb4eac26183a8665332a19cd1ac1a48bd13`

[2020-07-28 22:49] howardjohn commented on #12345
Tagging @antoniovicente based on https://github.com/istio/istio/issues/25700#issuecomment-663815278

[2020-07-28 23:18] antoniovicente commented on #11427
The proposal in https://github.com/envoyproxy/envoy/issues/11427#issuecomment-662001196 looks good from my perspective.

The only piece of feedback I have is about the "'Scaling' state for overload manager actions" section: You may want to talk about OverloadActionState::isSaturated() which is the new way to determine if it is time to stop accept or other saturation actions.  Boolean actions only

[2020-07-28 23:41] dmitri-d commented on #12235
Yes, this is an issue. I'll take a look at it.

[2020-07-28 23:59] fabriziomello commented on #12340
Hi @jianwen612, thanks for testing it... I totally agree with `return false` approach to handle invalid states.

LGTM

[2020-07-29 00:47] cpakulski commented on #12340
I agree that adding `return false` will help with this one particular test case, but unfortunately is not enough from filter's logic point of view. The reason is that messages pass through the filter one after another. The previous message must be processed successfully in order to start processing the next one. If there is something wrong with one message, for example length indicated in a messag

[2020-07-29 01:00] jianwen612 commented on #12340
Thanks for pointing this out!

[2020-07-29 01:24] jianwen612 commented on #12340
Thank you for sharing this! Okey, then I will temporarily disable the fuzzing for this filter.

[2020-07-29 02:17] antoniovicente commented on #12345
/assign @antoniovicente

I saw the istio issue earlier, been looking at too many things and haven't been able to comment.

[2020-07-29 04:14] lizan commented on #10917
@foreseeable Great job. I think we can call this issue done.For the whole build performance, it

[2020-07-29 04:36] antoniovicente commented on #12304
Thanks for confirming that more eagerly calling setReadBufferReady(); helps.

I'm going to try to continue working on a fix, with focus on making the SslSocket drain internal buffers on read so that resumption based on fd re-registration works correctly.

[2020-07-29 04:57] jiangtaoli2016 commented on #9376
We need to be careful when ALLOW rule mixed with DENY rule in the same policy. If a policy has multiple rules and there is an explicit match in ALLOW rule first and an explicit match in DENY rule later, shall we allow or deny? If deny, we need to evaluate all the rules and make decision carefully.

In the current RBAC, each RBAC has only one action, it is semantically clear and unambiguous.

[2020-07-29 05:06] hinawatts opened #12348 "Access log log_format.text_format field is not printing logs"
I am trying to enable v3 access logs for my application, where I am using text_format option. Logs are not getting printed if I use text_format, however if I use json_format, i can see the logs. Below is the snippet I used for enabling access logs -
[code]
Please suggest how can i enable access logs using text option.

[2020-07-29 08:15] SolovyevAndrei commented on #11313
Hello

We need such feature too. Want to show beatiful error page to customers, when something is wrong with our backends.
It was quite easy with error_page in nginx. But no such possibility in envoy.

[2020-07-29 12:24] mtalbot opened #12351 "config_load_check_tool segfault with sds file"
*Title*: *config_load_check_tool v1.15.0 segfault with sds file*

*Description*:
When validating configs that reference sds resources via files the config_load_check_tool segfaults after loading the static config and starting to load the sds resources. This is specific to 1.15 as this worked fine with prior versions

*Repro steps*:
run config_load_check_tool against a configuration that uses sds f

[2020-07-29 12:26] #12325 closed

[2020-07-29 12:33] #12294 closed

[2020-07-29 13:29] surki commented on #9501
@paulnivin wondering if you are planning to rollout this?
Currently using LD_PRELOAD, just trying to get out of it.

[2020-07-29 13:29] asraa commented on #12341
Thanks for the heads-up! Greg were you planning on taking this?
I'm in the mood to do format coding for some reason, so I'd love to take at least that portion :)

[2020-07-29 13:39] objectiser commented on #12291
@phylake I think the problem is that the `sampling.priority` tag is on a hint, and not mandatory behaviour, so no guarantee that tracers would implement. But it is the only OpenTracing API mechanism where an app can try to influence the sampling decision.

So agree, with the OpenTracing API as currently stands, it is not an issue with envoy.

[2020-07-29 13:44] alyssawilk commented on #12351
I wondered if this was related to https://github.com/envoyproxy/envoy/issues/11877 but if it's 1.15 only I assume not?

[2020-07-29 13:46] akonradi commented on #11427
That's a good idea. I guess there's really no value in having a separate "inactive" state since existing actions will treat the "inactive" and "scaling" states identically. I've updated the proposal above.

[2020-07-29 13:59] cpakulski commented on #12340
/assign @cpakulski

[2020-07-29 14:43] asraa commented on #9091
Fixed by https://github.com/envoyproxy/envoy/pull/12306 and https://github.com/envoyproxy/envoy/pull/11941

[2020-07-29 14:43] #9091 closed

[2020-07-29 15:29] akonradi commented on #11427
Thanks, I've sent #12352 for the OM changes, which can be made independent of the scaled timers.

[2020-07-29 15:33] stedsome opened #12354 "replacing .first/.second names with more meaningful names using structured binding"
This is an expansive cleanup effort, and as it is so expansive, this issue is created to track all the related PRs that are divided into components.
@alyssawilk @asraa

[2020-07-29 15:34] stedsome commented on #12354
This is the PR that started the discussion of needing to split the change further into submodules.
https://github.com/envoyproxy/envoy/pull/12334

[2020-07-29 15:37] mattklein123 commented on #9501
@surki sorry this has been on my list to finish for a while. I will try to finish it soon.

[2020-07-29 15:39] ahedberg commented on #12341
For anyone who doesn't have `ABSL_USES_STD_STRING_VIEW` enabled, this will cause problems of the following form:

- Envoy returns a `std::string_view` from some method
- Internal code wants to pass that `std::string_view` as an argument to another internal method
- That internal method accepts an `absl::string_view`, which is now a different type
- Now the call site to the internal method fails to

[2020-07-29 15:46] nezdolik commented on #12331
+1 for grouping those flags into some sort of struct as they are very similar, not to clutter api. Sounds like a valuable and doable feature, one should probably add new hosts to excluded list by checking specific health flag, which will be used for calculating locality weights/panic mode etc.

[2020-07-29 15:51] mattklein123 opened #12355 "dns_filter_integration_test flake"
[code]

[2020-07-29 15:51] mattklein123 commented on #12355
Haven't looked yet but there may be some issue with how we are initializing UDP tests as I'm pretty sure this is using port 0.

[2020-07-29 16:09] Pchelolo opened #12356 "Proposal: add support for x-ratelimit-* headers"
**Rational**

For the client to be able to actively throttle their requests they need to know their current status with regards to rate limits. A [draft RFC](https://tools.ietf.org/id/draft-polli-ratelimit-headers-00.html) exists specifying `RateLimit-Limit, RateLimit-Remaining, RateLimit-Reset` headers, which seem to have fair adoption.

**Prior art**

A few pull requests were created in the rate

[2020-07-29 16:17] yskopets commented on #12300
Thanks everyone for the feedback!

I will need some time to look into the related issues.

Hopefully, in the end of the week.

[2020-07-29 16:34] mattklein123 commented on #12356
This proposal SGTM. The only thing I would recommend is not deprecating the request/response headers to add fields, as they may have other uses. Since they are already implemented I don't see any reason to remove them. We can add this behavior additionally. Thank you!

[2020-07-29 16:35] Pchelolo commented on #12356
Great, thank you. This makes the job even easier :)

[2020-07-29 17:06] mattklein123 opened #12358 "ci: auto deflake handling"
As discussed in the community meeting, it would be nice to have the following behavior in CI:
1) Enable bazel auto deflake option when running tests
2) Using scripting, determine if a test flaked and then passed later. If so, send an email or post to a slack room the flake details, so it can be monitored and have issues logged by maintainers.
3) If the flake happens on PR builds, consider also pos

[2020-07-29 17:07] mattklein123 commented on #12358
cc @lizan @envoyproxy/maintainers

[2020-07-29 17:11] mattklein123 opened #12360 "ci: new/modified test flake burn-in"
This is an aspirational issue. The immediate tactical plan is covered in https://github.com/envoyproxy/envoy/issues/12358.

This issue covers figuring out which tests (both new and modified) a PR touches. This should be possible via bazel query on touched source files. Once the effected tests are determined, PR CI should burn those tests more aggressively using ``runs_per_test`` to look for flakes

[2020-07-29 17:11] mattklein123 commented on #12360
cc @lizan @envoyproxy/maintainers

[2020-07-29 17:31] kyessenov commented on #12339
I think there are additional issues with CSDS as it stands today:
- unclear semantics of status aggregation (what does it mean for RDS to be accepted if it consists of many individual resource exchanges, what if the same resource accepted by one proxy but not another)
- rigid set of type URLs: it should be possible to query any UDPA type status, including SDS, SRDS, VHDS, ECDS, etc.

[2020-07-29 17:40] jianwen612 opened #12361 "[api] cluster_header in thrift_proxy needs validation"
Assert failure will occur when instantiate an thrift_proxy network-level filter while `config.route_config.route.cluster_header` contains invalid characters for http header.

[assert] [bazel-out/k8-fastbuild/bin/include/envoy/http/_virtual_includes/header_map_interface/envoy/http/header_map.h:54] assert failure: valid().

Need to add a validation `well_known_regex: HTTP_HEADER_VALUE strict: false`