[2019-08-27 04:47] #7945 closed

[2019-08-27 05:56] mmpei commented on #5267
it has supported now.

[2019-08-27 07:26] charanrajb opened #8048 "Mixer Report failed with: UNAVAILABLE:upstream request timeout"
I am getting the following error in istio telemetry and istio-policy pods. The pods are getting restarted or crashLoopbackoff sometimes. I have to delete the istio pods to make it work. Can someone help me out?

Kuberntese version: 1.12.8-gke.10
istio version : client version: 1.2.4

istio-telemetry - istio-proxy logs:
" Mixer Report failed with: UNAVAILABLE:upstream connect error or disconnect/re

[2019-08-27 07:29] charanrajb opened #8049 "Too many sendDiscoveryRequest calls for type.googleapis.com/envoy.api.v2.ClusterLoadAssignment"
When did load test on microservices deployed through istio in GKE the following error occurs:

[warning][upstream] external/envoy/source/common/config/grpc_mux_impl.cc:65] Too many sendDiscoveryRequest calls for type.googleapis.com/envoy.api.v2.ClusterLoadAssignment

Kuberntese version: 1.12.8-gke.10

istio version : client version: 1.2.4
istio is installed as GKE addon

[2019-08-27 12:05] stevenzzzz opened #8050 "cleanup: move utility functions in scoped_rds_integration_test to base class"
*Title*: Move utility functions in scoped_rds_integration_test to base class for code reuse.

*Description*: See comment in PR #7762, we want to reuse the utility functions created in scoped_rds_integration_test.

[2019-08-27 12:49] sp-manuel-jurado opened #8052 "Enable http_filters.envoy.filters.http.grpc_http1_reverse_bridge only for one service"
*Title*: *Enable http_filters.envoy.filters.http.grpc_http1_reverse_bridge only for one service*

*Description*:

Probably I missed some config?
- Service1 is in http1 and requires the reverse bridge
- Service2 is gRPC and does not require the reverse bridge (but is blocked by the .grpc_http1_reverse_bridge)

*Note*:

*Config*:
[code]

[2019-08-27 12:55] sp-manuel-jurado commented on #8052
I'm using v1.11.1 envoy version

[2019-08-27 13:07] elvizlai opened #8053 "grpc_json_transcoder header not handled proply"
`grpc-status` Header is missing when  `gRPC status` > Status::GrpcStatus::MaximumValid

https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/http/grpc_json_transcoder/json_transcoder_filter.cc#L430

Example:
[code]

But when using Trailer, when StatusOK(0), trailer related header is missing, it only shows when error accurred.

[2019-08-27 15:04] rocks4530 opened #8054 "envoy.ext_authz with HTTP with POST method doesn't return the exact status."
envoy.ext_authz with HTTP with the POST method doesn't return the exact status.
We set

- `with_request_body:
                max_request_bytes: 2048
                allow_partial_message: false`

- And do a JSON POST, from the server 200 is returned, but the envoy gets
`':status', '504'
'content-length', '24'
'content-type', 'text/plain'`

[2019-08-27 16:05] kikogolk opened #8055 "Envoy translates localhost to "::1" when no IPv6 stack available"
*Title*: Envoy translates localhost to "::1" when no IPv6 stack available

*Description*:

Hi!

I am trying to get an Envoy configuration to support IPv4 and IPv6 stacks. In a first approach, I only wanted to test that the same configuration is valid for pure IPv4 and IPv6 hosts (not needed dualstack).

First I checked that you were introducing IPv6 support recently, and you already have some open

[2019-08-27 16:16] rocks4530 commented on #8054
it works by increasing the timeout. Thanks!

[2019-08-27 16:16] #8054 closed

[2019-08-27 16:46] snowp opened #8056 "drain_connections_on_host_removal poorly named"
The field `drain_connections_on_host_removal` on the Cluster is poorly named as there are cases
where endpoints are removed from a `HostSet` based on this field being set (ie active hc enabled, endpoint still healthy) without connections being drained (due to the somewhat recent batch update mechanism now supported by EDS).

A better name might be `ignore_health_on_host_removal`, as this better de

[2019-08-27 21:37] sabiurr opened #8060 "RedisProxy active connections not going above 2 connections"
*Title*: *RedisProxy active connections not going above 2 connections*

*Description*:

However, while running some benchmarking of 10000 calls to Envoy using Redis protocol, I noticed that the number of active connections (cx_active::2) does not exceed 2. This was retrieved by running `curl http://localhost:8001/clusters`

These connections also don't expire from being idle. I'm not sure if there

[2019-08-28 03:40] #7649 closed

[2019-08-28 08:02] tonyboxes opened #8064 "How to configure multiple domain name certificates."
*Description*:

*Config*:
[code]

*Logs*:

[2019-08-28 08:44] tonyboxes commented on #8064
https://www.envoyproxy.io/docs/envoy/latest/faq/sni#faq-how-to-setup-sni

[2019-08-28 08:44] #8064 closed

[2019-08-28 09:10] tapika opened #8066 "Give more information on configuration load errors"
*Title*: *Give more information on configuration load errors*

*Description*:

Building envoy proxy using example from this page:
https://www.envoyproxy.io/learn/on-your-laptop

Using windows docker container, of version:
`C:\PrototypingQuick\envoy\examples\front-proxy>docker-compose --version
docker-compose version 1.24.1, build 4667896b`

Creates same problem as described here:
https://github.co

[2019-08-28 09:28] sennyhan commented on #7991
@zyfjeff  Could you step up it's resolution?  We need to use this feature urgently. Thanks alot!

[2019-08-28 10:56] enmasse commented on #1861
Thanks @lizan , I will find the time to try it out.

[2019-08-28 11:19] sumantfordev commented on #129
is it still work in progress? Would like to see this working with windows containers. If there is a preview build available please let me know

[2019-08-28 11:51] tapika commented on #8066
Suspect /etc/front-envoy.yaml is migging in docker file, but missing file should be reported as "file not found".

[2019-08-28 14:32] containscafeine commented on #8025
Hey @mattklein123, so I tried again with getting a fresh build with bazel and tried to decode the logs with `stack_decode.py` but still no luck.

Anyway, here is the repro that you asked for -

1. We update all the configs via XDS. Here is our bootstrap config -

[code]

2. Run 2 auth services and the backend service like the following -
`docker run -d --rm --name example-auth -p 3000:3000 datawir

[2019-08-28 14:46] sp-manuel-jurado commented on #8052
Thx @snowp
I would be very interested in this improvement.
Anything can I do?

[2019-08-28 14:55] #8060 closed, assigned to nobody

[2019-08-28 16:28] tapika commented on #129
Do you have any even draft specs how envoy could be built for windows ?

Trying at the moment with "choco install bazel" +
"C:\tools\msys64\msys2_shell.cmd" > "pacman -S base-devel --needed"

Last time failed without base-devel, but sense there will be more problems after this.

Is it also possible to generate Visual Studio projects / solutions for envoy ?

Would be interested to check if it's pos

[2019-08-28 16:33] tapika commented on #129
command like this:

`bazel build --cxxopt=/wd4819 --cxxopt=/W2 --cxxopt=/wd4624 --cxxopt=/wd4244 --cxxopt=/wd4200 --cxxopt=/wd4267 --cxxopt=/wd4309 --cxxopt=/wd4838 //source/exe:envoy-static`

fails with error:

`ERROR: Skipping '//source/exe:envoy-static': no such package '@com_google_protobuf//': Traceback (most recent call last):
        File "C:/users/user/_bazel_user/3jojcmei/external/bazel_t

[2019-08-28 20:00] moderation opened #8070 "Some extensions not reporting presence in output"
*Title*: *Some extensions not reporting presence in output*

*Description*: Envoy allows the enabling or disabling of extensions during build documented at https://github.com/envoyproxy/envoy/tree/master/bazel#disabling-extensions. There are extensions that do not report their presence.

The following do not report despite being compiled into the "kitchen sink" latest dev image:

[code]

*Repro st

[2019-08-28 21:32] #7631 closed

[2019-08-28 21:51] mikehuston commented on #7946
We also ran into this exact issue.

[2019-08-28 22:32] #7560 closed

[2019-08-28 23:34] l8huang commented on #8046
@ravilr Thanks for your links :)

@mattklein123  After read through `initial_fetch_timeout` related code and doc([Initialization](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/operations/init#initialization)), I understand how it works now. I found its value is default to 0 in our config, that's no timeout.

I also found the root cause for this issue,  gRPC config stream got clos

[2019-08-29 01:32] #7618 closed

[2019-08-29 02:10] #7864 closed

[2019-08-29 02:15] jmarantz commented on #8035
You mean via the "opaque name for contented mutex" here?
https://github.com/abseil/abseil-cpp/blob/a0d1e098c2f99694fa399b175a7ccf920762030e/absl/synchronization/mutex.h#L972

Have you figured out how to map that back to the `absl::Mutex*`? If so we could optionally name our mutexes with some maps. I was thinking to try to capture back-traces at contention. Maybe the opaque handle could be used to

[2019-08-29 07:48] ramaraochavali commented on #8046
@I8huang We fixed similar issue for EDS. See onConfigUpdateFailed in eds.cc . Similar thing should be done here - we should not call ready() on init_target if failure reason is ConnectionFailure

[2019-08-29 08:07] sekaninat commented on #5357
@rocks4530 Slowly getting to it...

[2019-08-29 10:33] pranaypratyush commented on #1861
Could you elaborate on the exact I need to follow? Or better yet give us the binary.

[2019-08-29 14:18] dio commented on #1861
I tried the following:

[code]

It is not stripped so it's about 126MB.

[2019-08-29 14:52] sekaninat commented on #5357
@rocks4530 Sorry, we need to get it running at least in the form I have right now, so there are few things I have to tackle first, but it is pretty high on my priorities. (I forked it already though :sunglasses: :laughing:.)

@dio But I am starting to wonder what's the correct approach here... Adding another mutually exclusive option to grpc_service and http_service ([docs](https://www.envoyproxy.

[2019-08-29 15:32] stevenzzzz opened #8076 "add stats for SRDS/RDS"
*Title*: Add stats for SRDS routing and probably RDS as well.

*Description*:

rough idea:
    srds_scope_not_found
    rds_no_route
etc...

[optional *Relevant Links*:]

[2019-08-29 15:32] stevenzzzz commented on #8076
/assign stevenzzzz

[2019-08-29 15:42] mattklein123 commented on #8046
+1 to what @ramaraochavali said. @ramaraochavali I was under the impression you fixed that for all xDS, but I guess not. Is there any way to generalize this fix to all xDS?

[2019-08-29 16:16] stevenzzzz commented on #7902
I created a concept-proof PR to show how the detachable SlotImpl would be like,
PTAL

https://github.com/stevenzzzz/envoy/pull/11

[2019-08-29 16:35] snowp opened #8078 "allow_absolute_url causes misleading logs"
The `allow_aboslute_url` option on the http1 codec options on the HCM imply that leaving at the default of false will mean that absolute URLs are not allowed. Instead, what happens is that the url is passed unchanged as the `:path` header to the HCM, which results in the full URI being used for route matching. As a result, the common idiom of using `prefix: /` as "match any" doesn't work because i

[2019-08-29 16:41] sabiurr opened #8079 "RedisCluster sending commands to the wrong node resulting in MOVED (redirection) errors"
*Title*: *RedisCluster sending commands to the wrong node resulting in MOVED (redirection) errors *

*Description*:

I am trying to set up envoy proxy for redis cluster using https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/other_protocols/redis.html?highlight=redis#redis-cluster-support-experimental

I know that I can set `enable_redirection` to true but this is not ideal and redir

[2019-08-29 17:36] htuch commented on #1796
@rshriram @mattklein123 is there a final direction we decided on taking on this? In any case, I don't see any major changes around this until v4.

[2019-08-29 17:51] htuch opened #8081 "Rename ConnectionSourceType::LOCAL to SAME_IP_OR_LOOPBACK"
As per https://github.com/envoyproxy/envoy/pull/7840#issuecomment-524002499. Also, should rename `Utility::isLocalConnection()`.

[2019-08-29 18:02] htuch opened #8082 "v2 -> v3 API translation"
- [x] Implement a v2 --> v3 translation code generator. This will take v2 inputs and re-express them as v3. As part of this, an internal only (not API visible) `deprecated_v2` field will be synthesized that can smuggle v2 fields into the mostly v3 Envoy internals.
- [ ] Update Envoy to accept v3 internally, using the above translator output for v2 inputs.

[2019-08-29 18:02] htuch opened #8083 "Create v3alpha protos"
This will be a sweep over v2 APIs, moving to v3alpha any proto that has deprecated fields (and transitively any protos with dependencies on these protos).

- [ ] Start with some simple leaf proto and perform the exercise by hand, identifying the steps necessary to do an update.
- [ ] Implement a tool to automatically move remaining affected protos to v3alpha.

[2019-08-29 18:06] htuch opened #8084 "Audit and fix all [#next-major-version ] comments in v3alpha"
In which we sweep through the v3alpha, after the mechanical v2 -> v3 translation work has landed, and manually address API cleanups.

Since this is the first time through, and this protodoc comment is relatively new, we'll probably also need to do a manual sweep of the comments in the entire API to do fixups. This includes places where we should have `oneof` but don't due to backward compats conce

[2019-08-29 18:06] htuch opened #8085 "v3 API release plan"
Create v3alpha:
- [x] https://github.com/envoyproxy/envoy/issues/8083
- [ ] https://github.com/envoyproxy/envoy/issues/8082
- [ ] https://github.com/envoyproxy/envoy/issues/8084
- [ ] Remaining minor issues in https://github.com/envoyproxy/envoy/issues?q=is%3Aopen+is%3Aissue+label%3A%22v3+API%22+milestone%3A1.12.0
- [ ] https://github.com/envoyproxy/envoy/issues/8087

At the end of Q3, execute on

[2019-08-29 18:07] htuch opened #8086 "Remove v1_deprecated fields from v3alpha"

[2019-08-29 18:15] htuch opened #8087 "v3 API docs"
Need to create v3 docs that live side-by-side with v2 docs. All references to v2 API fields need to be updated to v3 once we snap v3.

[2019-08-29 18:22] htuch commented on #6271
See https://github.com/envoyproxy/envoy/issues/8085 for the v3alpha and v3 release plans. The burndown is at https://github.com/envoyproxy/envoy/issues?q=is%3Aopen+is%3Aissue+label%3A%22v3+API%22+milestone%3A1.12.0

[2019-08-29 18:24] htuch commented on #8085
At the same time as ^^, it would be great to execute on the remaining items in https://github.com/envoyproxy/envoy/issues/6271#issuecomment-499923017.

[2019-08-29 18:32] sbaum1994 commented on #7618
Hi Xavier - just wanted to respond on this issue. From speaking with @jmacd and @rnburn this would require significant effort to expose the streaming tracer from Envoy directly, since Envoy uses some customized options that aren’t available yet for the streaming transport on LightStep's latest C++ tracer.

It may be possible for you to use the streaming tracer via Envoy’s dynamic loading interface

[2019-08-29 18:54] AspirinSJL opened #8088 "doc: clarify priorities can'be skipped in each update"
https://github.com/envoyproxy/envoy/blob/29f199c8625208a42483a1fa2de622c0fa105f49/api/envoy/api/v2/endpoint/endpoint.proto#L119

[2019-08-29 18:57] wrowe commented on #129
@tapika your error is consistent with using a windows cr/lf checkout, we are checking out envoy
in unix file mode ('\n' line endings) and it doesn't have an issue applying patches. You need to be
consistent about the fixed line ending tags checked out from git vs the flavor of the patch utility in use.

[2019-08-29 19:22] krm1312 opened #8090 "os x dns resolution"
Trying out strict_dns resolution on OS X.  It doesn't appear that envoy utilizes OS X's 'native' DNS resolution.  Is this currently not supported?

Specifically:

We can resolve with ping:

[code]

We have told OS to send .consul to 127.0.0.1:8600

[code]

Resolves from consul:
[code]

Envoy

[code]

Doesn't see anything:

[code]

[2019-08-29 19:22] mattklein123 commented on #8079
@HenryYYang @msukalski

[2019-08-29 19:23] mattklein123 commented on #8090
@lizan @zuercher

[2019-08-29 19:25] mattklein123 commented on #8035
I didn't look into the mutex tracer code at all, but yeah, was hoping that we could print out a per-mutex map, at least for certain named mutexes, but I'm not sure what is possible.

[2019-08-29 19:50] sabiurr commented on #8079
Another interesting note is that it seems to be able to send the command to the right node sometimes. From several requests, some of the commands are sent correctly. This makes me think there may be some kind of random load balancing/routing going on?

[2019-08-29 19:51] sabiurr commented on #8079
Is there a way to view the cluster topology/slots that envoy is keeping track of?

[2019-08-29 19:59] htuch commented on #6614
@SecurityInsanity sounds like a plan from my side. Looking forwarding to seeing ORCA support landing :)

[2019-08-29 20:03] snowp commented on #8088
What kind of clarification are you after?

[2019-08-29 20:06] AspirinSJL commented on #8088
1. In each response, the localities should be from 0 without skipping.
2. If a response doesn't obey this, NACK will be sent.

[2019-08-29 20:07] HenryYYang commented on #8079
you'll need to change the loadbalancing policy to this:

That will take the topology into account.

[2019-08-29 20:10] sabiurr commented on #8079
Thanks @HenryYYang. That fixes the issue

[2019-08-29 20:10] #8079 closed

[2019-08-29 20:56] htuch opened #8092 "Unify field deprecation and unknown field handling behind the validation visitor"
Today, unknown field handling is actioned via the validation visitor but deprecated field handling is done inline. Ideally we have consistency here. This would be a nice cleanup, but isn't hugely impacting in any way beyond OCD.

[2019-08-29 21:11] mattklein123 commented on #4602
FYI for those watching I'm chasing an internal performance problem that may be related to this so I will be working on this.

[2019-08-29 21:17] jaychenatr opened #8093 "Implement changes for new added flag of disable_overprovisioning in ClusterLoadAssignment"
*Description*:
As a new API change will be introduced for disable_overprovisioning flag in https://github.com/envoyproxy/envoy/pull/8080. Changes are required to be implemented accordingly in Envoy. If disable_overprovisioning is set to false(default value), Envoy will behave the same as overprovisioning_factor suggests, Otherwise Envoy need to ignore disable_overprovisioning and stop performing g

[2019-08-29 21:19] htuch commented on #6614
@SecurityInsanity assigning issue to you for the ORCA implementation work planned. Feel free to assign back if there is any remaining future work once that lands.

[2019-08-29 21:30] lizan commented on #8090
@krm1312 Which build/version are you on? Can you paste the output of `envoy --version` here?

[2019-08-29 21:41] krm1312 commented on #8090
1.11.1. Downloaded it (binary) in last couple days.  Can get detailed version info tomorrow.

[2019-08-29 21:45] krm1312 commented on #8090
Actually I pulled it from brew.  I’ll double check.

[2019-08-29 22:25] htuch opened #8096 "Move v3 xDS base types to cncf/udpa"
The idea is that having some base types in https://github.com/cncf/udpa moves us towards directly consuming protos structurally, which will allow us to work through any build and tooling quirks as we head towards the deeper integration in v4.

[2019-08-29 22:58] lizan commented on #8090
OK thanks that's enough information, it should be from getenvoy then.

[2019-08-29 23:32] lizan commented on #1861
Here is a non optimized nor stripped binary, not sure if works.
[envoy-armeabihf.tar.gz](https://github.com/envoyproxy/envoy/files/3557650/envoy-armeabihf.tar.gz)

[2019-08-29 23:47] lizan opened #8097 "v3 API: move CorsPolicy to per_filter_configs"
CorsPolicy exists before per_filter_configs, so it is in route directly now.

[2019-08-29 23:58] lizan opened #8098 "v3 API: move tls_context to transport_socket only"
Currently we setup raw_buffer / tls transport_socket based on existence of tls_context (partly as transition).

The motivation to move tls_context to transport socket (extension config) is to better support the proposed transport_socket_matcher: https://github.com/envoyproxy/envoy/issues/8016

[2019-08-30 00:01] lizan commented on #8097
cc @envoyproxy/api-shepherds

[2019-08-30 00:01] lizan commented on #8098
@envoyproxy/api-shepherds WDYT? This one might be controversial.

[2019-08-30 00:10] euroelessar commented on #7624
@mattklein123 Hi, can you have a look or help us to assign somebody who can, please?

[2019-08-30 00:21] HenryYYang opened #8099 "Redis Proxy topology is potentially incorrect during network partition"
**Description:**
In the current implementation, each time Envoy tries to update the Redis Cluster topology, it picks a random node in the Redis Cluster and calls "CLUSTER SLOTS".

In the case of a network partition, if that random node is in the minority side, "CLUSTER SLOTS" will actually return the old(and incorrect) topology.  However, when other commands are sent to the redis node in the minor

[2019-08-30 02:00] l8huang commented on #8046
Looks like that can be generalized, currently only EDS handles `ConnectionFailure`:
[code]
Other xDS subscriptions ignore it.

Considering `GrpcStream<>::onRemoteClose()` retries to establish new stream and `GrpcMuxImpl::onStreamEstablished()` sends discovery request for subscriptions, I guess `ConnectionFailure` can be handled in `GrpcMuxSubscriptionImpl::onConfigUpdateFailed()`, if `init_fetch_t

[2019-08-30 03:37] zx3821ren opened #8102 "[Dubbo] How to use head match in dubbo_proxy.v2alpha1.RouteMatch"
In dubbo proxy RouteMatch defination,it looks like **heads** can be used to route to different clusters.
eg.
[code]

but what is the head exact meaning? In dubbo protocol defination,there is no head can be set by users. Is the head set in meatdata? If so, in which part of variable data part, Attachments?

[2019-08-30 03:38] zx3821ren commented on #8102
cc @zyfjeff

[2019-08-30 03:40] zyfjeff commented on #8102
@zx3821ren The key/value in the context of Dubbo is called the header. Currently, Dubbo does not have a deserialization context, so this feature is not currently supported.

[2019-08-30 03:41] zyfjeff commented on #8102
/assign @zyfjeff

[2019-08-30 04:13] lizan commented on #8090
@krm1312 it doesn't seems c-ares support /etc/resolver IIUC, meanwhile you should be able to use `dns_resolvers` in cluster config to point the cluster to consul resolver: https://www.envoyproxy.io/docs/envoy/v1.11.1/api-v2/api/v2/cds.proto

[2019-08-30 05:05] talnordan commented on #8070
@mattklein123 I think I can help with this one. Please feel free to have this issue assigned to me.

[2019-08-30 06:16] zx3821ren commented on #8102
Although envoy offical doc show dubbo RouteMatch can use headers to route as follow:
https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/dubbo_proxy/v2alpha1/route.proto#envoy-api-msg-config-filter-network-dubbo-proxy-v2alpha1-route
Actually envoy not support it ? The guide does misleading the users.
By the way,How about params_match？Does it currently supported?

[2019-08-30 06:31] hzxuzhonghu commented on #7970
any update, we meet this too.

[2019-08-30 06:43] zyfjeff commented on #8102
@zx3821ren Sorry, parameter matching is currently not supported. Deserialization currently only deserializes service information. We are planning to open this part of the code inside.

[2019-08-30 06:58] zx3821ren commented on #8102
From Dubbo doc:
https://dubbo.apache.org/zh-cn/blog/dubbo-protocol.html
Variable Data Part contains as following:
- Dubbo version
- Service name
- Service version
- Method name
- Method parameter types
- Method arguments
- Attachments
Currently,Envoy only support deserializes Service name,Service version and Method name. When it can deserializes Method arguments and Attachments, the parameter matc

[2019-08-30 07:01] zyfjeff commented on #8102
Your understanding is correct.

[2019-08-30 07:05] zx3821ren commented on #8102
OK.Thanks for your quick reply. Is there time plan to open this part of the code outside(in community)?

[2019-08-30 07:17] ramaraochavali commented on #8046
@mattklein123 No. did not do for all subscriptions
@I8huang this should be done whatever may be the value of init_fetch_timeout not just for zero

[2019-08-30 07:44] zyfjeff commented on #8102
The internal code has been implemented, there are plans to open source, but now the energy is not enough, I hope that there can be people in the community to help complete.

[2019-08-30 08:25] zx3821ren commented on #8102
Since internal code has been implemented, could you share me the code and implementation design? I can help to complete the remaining part.

[2019-08-30 09:05] #4839 closed

[2019-08-30 12:55] sekaninat opened #8104 "Maximum direct response body size"
**Description**
Hello, can someone please explain why is the direct response body limited explicitly to 4096B? See https://github.com/envoyproxy/envoy/blob/master/source/common/router/config_utility.cc#L114

I would like to be at least able to change this value.

Thank you.

[2019-08-30 13:50] jmarantz commented on #8035
It's possible but involves keeping a bunch of maps up-to-date including when mutexes are destructed, I'm leaning against taking this on for two reasons:

1. The important thing for this issue is the string being dynamically symbolized; the mutex will likely be the main symbol-table mutex, or one of the StatNameSet mutexes, and to name those you'd have to pass in the name to the StatNameSet constru

[2019-08-30 14:30] krm1312 commented on #8090
Works create.  Thanks.  Missed that option.

[2019-08-30 14:30] #8090 closed

[2019-08-30 16:03] mattklein123 commented on #8035
Sure sounds good (I still think it would be useful to think about how to make the contention output more useful, but that's a different issue I agree).

[2019-08-30 16:04] mattklein123 commented on #8104
Because Envoy reads this file into memory and does not have any capability to efficiently serve from disk. I have no issue with making this value configurable.

[2019-08-30 16:24] csssuf opened #8105 "Add fixed failure percentage-based outlier detection mode"
*Title*: Add fixed failure percentage-based outlier detection mode.

*Description*:
Add a new outlier detection mode which compares a host's failure rate to a configured fixed threshold, rather than the current success rate method's standard deviation-based threshold. This enables outlier detection to catch failure modes where a node is intermittently failing, but:
a) the node does not trigger the

[2019-08-30 17:43] sp13-hub opened #8107 "FIPS compliant version of docker image in docker repository"
*Title*: *FIPS compliant version of docker image in docker repository*

*Description*:

[optional *Relevant Links*:]

[2019-08-30 18:14] #7707 closed

[2019-08-30 18:32] mattklein123 opened #8109 "perf: make dispatcher loop stats work with statsd"
I've been debugging a perf problem at Lyft and the dispatcher loop stats are indeed incredibly useful. We should make these stats usable with statsd. The best way I can see to do this is to potentially have the ability to tag a histogram as "high rate" so that it gets ignored by statsd for individual flushes, and then statsd could potentially flush high rate histograms as gauges with various perce

[2019-08-30 18:33] mattklein123 commented on #8109
@mergeconflict @jmarantz any thoughts on this?

[2019-08-30 18:57] mergeconflict commented on #8109
Yeah, I think exporting gauges for each entry in `HistogramStatistics::supportedQuantiles` is a fine workaround.

I can't really think of a design that I'm happy with for tagging histograms as "high rate," though. If you added it to the `Histogram` interface, it'd only be meaningful to the statsd sink, and I don't love that. Maybe I'd like it better if we call the histogram-to-gauges transformatio

[2019-08-30 20:14] #7501 closed

[2019-08-30 21:14] #7692 closed

[2019-08-30 21:24] mattklein123 commented on #7624
@euroelessar @rossdylan thanks at a high level this makes sense to me.

[2019-08-30 22:36] mattklein123 commented on #8109
Yeah I agree it's not great. Let me come up with a more concrete proposal when I come back to this. If anyone else wants to work on this in the meantime let me know.

[2019-08-30 23:47] pranaypratyush commented on #1861
Was trying to create a docker-image starting from armv7 ubuntu. Any help?

[2019-08-31 06:25] zyfjeff commented on #8102
@zx3821ren This work will be planned to begin next month.

[2019-08-31 10:30] pranaypratyush commented on #1861
Successfully built the docker-image and ran on odroid-XU4. What tests can I run?

[2019-08-31 10:57] pranaypratyush commented on #1861
https://hub.docker.com/r/pranaypratyush/envoy-arm32v7

[2019-08-31 14:27] wenlxie commented on #7795
I am new to this. Does `traffic_tapping` support to capture full  L4 fields or just have L7 content?
@htuch  @lizan @mattklein123

[2019-08-31 15:29] moderation commented on #7363
0.11.0 released - https://github.com/lightstep/lightstep-tracer-cpp/releases/tag/v0.11.0

[2019-09-01 03:12] mattklein123 commented on #7831
Closing as tracking this in https://github.com/envoyproxy/envoy/issues/4602

[2019-09-01 03:12] #7831 closed

[2019-09-01 03:14] mattklein123 commented on #4602
For anyone watching that cares about this issue, I have hacked up code that adds per-worker connection and watchdog miss stats and also re-balances active TCP connections across listeners. I plan on cleaning this up and upstreaming it, but I'm not sure exactly when I will get to it. If anyone urgently wants to work on this let me know. My WIP branch is here: https://github.com/envoyproxy/envoy/tre

[2019-09-01 13:09] ramaraochavali commented on #4602
@mattklein123 would you be able to share the symptoms of internal performance problem that you think are related to this if it is some thing that can be shared? The reason I am asking that is because we are doing some perf tests of a low latency gRPC service and we see that p99 latencies increase as the req/min increase and at the same we also see the p99 connect_time_ms to upstream cluster increa

[2019-09-01 13:35] #7724 closed

[2019-09-01 19:43] mattklein123 commented on #4602
@ramaraochavali we are chasing a very similar issue. We have a gRPC service which has many downstream callers (so a large number of incoming mesh connections) and a single upstream callee. At P99 the latency do the upstream service is almost double what the upstream service thinks its downstream latency is.

I've been looking at this for days and I can't find any issue here in terms of blocking or

[2019-09-01 19:45] mattklein123 commented on #4602
I forgot to add that balancing the connections and increasing the workers does not seem to improve upstream P99 latency, which is why I think there may be scheduling contention with the service.

[2019-09-01 19:46] mattklein123 commented on #8105
@csssuf sounds reasonable to me.

[2019-09-01 19:47] mattklein123 commented on #8098
This makes sense to me, and I think would also make it easier for people to support other SSL engines with an entire alternate config structure.

[2019-09-01 19:48] mattklein123 commented on #1796
@htuch I haven't thought about this in a while. TBH I think we should just close this until someone asks for it explicitly but up to you.

[2019-09-01 19:59] mattklein123 commented on #8107
This is a reasonable request but realistically I doubt this will happen any time soon. It might be better to reach out to https://www.getenvoy.io/ and see if they will do it? cc @lizan @dio

[2019-09-01 22:30] sp13-hub commented on #8107
@mattklein123 Thank you. I just checked the issues there, and looks like there has been already one in their queue.
https://github.com/tetratelabs/getenvoy-package/issues/20

[2019-09-02 00:08] tonya11en commented on #7789
Keepalive.

On Sun, Sep 1, 2019, 2:35 PM stale[bot] <notifications@github.com> wrote:

[2019-09-02 02:26] tony612 commented on #7715
Any feedback?

[2019-09-02 02:27] dio commented on #8025
I think it's because there is a request (initiated by `ext_authz` here: https://github.com/envoyproxy/envoy/blob/eff020170c6267e6c8dc235473f7fc85c5b1e07d/source/extensions/filters/common/ext_authz/ext_authz_http_impl.cc#L205-L207) that tries to find a removed cluster, hence throwing this: https://github.com/envoyproxy/envoy/blob/678bf8c2300de4987d20312ac1c4cdeeb3cad2fb/source/common/upstream/clust

[2019-09-02 02:30] dio commented on #8025
@containscafeine if you can try to replace your envoy with this image defined in https://github.com/dio/update-lds-cds-when-under-load/blob/6d9ef4998becf9760177cbbd7bd1eb3b78bfcb64/fixed/docker-compose.yaml#L4 That will give us more ideas. Thank you!

[2019-09-02 02:58] jmillikin-stripe opened #8112 "Build failure on macOS due to "urlapi.h""
Building Envoy at current HEAD (678bf8c2300de4987d20312ac1c4cdeeb3cad2fb) on macOS fails with an error in cURL, trying include some header:

[code]

This file does exist at `com_github_curl/include/curl/urlapi.h` so it's probably some weird `-iquote` assumption baked in, but not satisfied by how `rules_foreign_cc` is invoking cmake.

[2019-09-02 05:06] ramaraochavali commented on #4602
@mattklein123 Thanks a lot for the details. This is very useful information. I will share here if we find any thing different from what you have found bases on our tests/tweaks to the config.

[2019-09-02 06:21] bmgoau opened #8114 "Large size of http2_protocol_options initial_stream_window_size causes send/read timeout on ALB/nginx upstream on large responses and slow clients"
We use Envoy as an edge proxy, in front of an AWS ALB with a default read_timeout of 60 seconds, and were having some reports of clients downloads in browser failing around the 150 MB mark.

Unfortunately the envoy logs just showed:
   response_duration: -
   response_ttfb: -
   flags: -

and a 200 OK

We were able to recreate the problem in browsers by limiting our connection speed to ~1 MB/s.

W

[2019-09-02 06:41] bmgoau commented on #8114
initial_stream_window_size is documented here https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/protocol.proto#envoy-api-field-core-http2protocoloptions-initial-connection-window-size and the relevant default size is here https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/core/protocol.proto

[code]

We resolved this issue in two ways which can be used independently or t

[2019-09-02 07:05] sennyhan opened #8115 "[Feature]Support wildcards of interface in Dubbo Proxy"
Interface should support wildcards to simplify configuration. Because a dubbo service can has lots of interfaces.

[2019-09-02 07:05] sennyhan commented on #8115
cc @zyfjeff

[2019-09-02 07:07] zyfjeff commented on #8115
/assign @zyfjeff

[2019-09-02 07:08] zyfjeff commented on #8115
@sennyhan It sounds good and I'll take the time to finish it, and if someone wants to do it, tell me to avoid duplication of work.

[2019-09-02 13:36] nezdolik commented on #7965
@mattklein123  could help with this one.

[2019-09-02 14:44] enmasse commented on #1861
I tried to run it, unsuccessfully. Seems that I have encountered a bug. The link describing how to override the deprecation in the error message also shows 404, so I'm stumped:

[code]

[2019-09-02 14:50] #7980 closed

[2019-09-02 14:52] htuch commented on #4705
@yanavlasov any chance you can take a look at this? It's in the bucket of "reducing our external dependencies".

[2019-09-02 15:59] andrewtikhonov commented on #7025
Activity

[2019-09-02 16:27] htuch opened #8120 "envoy.api.v2 regularization"
One of the hangovers from the package structure introduced in early v2 was that` envoy.api.v2` had some special features that made it hard to treat systematically alongside other package namespaces, e.g. `envoy.config.bootstrap.v2`.

Specifically, it has subpackages that don't have versioning and some of the xDS services live in this package vs. `envoy.service`.

Within the scope of the v3 API mig

[2019-09-02 16:28] htuch commented on #8120
FYI @kyessenov you may remember this.

[2019-09-02 16:34] htuch commented on #8083
My current thinking and WiP here is that we should approach this problem similar to `protodoc`. Specifically, a Python `protoc` plugin that does code generation. Rather than RST, we are generating `.proto` from the `FileDescriptorProto`, and as a starting point, this is really just a pretty-print of the existing protos, alongside the removal of `deprecated` fields.

I think once we have this artif

[2019-09-02 16:37] htuch opened #8121 "Audit v3 proto package structure"
As part of the v3 work, we should re-evaluate the package tree structure to ensure that the decisions made in v2 are still working for us and see what might need tweaking. This should not be a radical restructuring, we should be working along the margins ideally.

[2019-09-02 18:29] lizan commented on #7795
@wenlxie both, transport socket tap is L4: https://www.envoyproxy.io/docs/envoy/latest/operations/traffic_tapping

[2019-09-02 19:25] mattklein123 commented on #4602
@oschaaf see the above thread if you have time. Do we have any NH simulations in which we try to model this type of service mesh use case? The characteristics would be:
- gRPC API with a very small request/response payload, so headers/trailers and header compression dominate the workload.
- Sidecar pattern with a local service both handling the incoming API as well as making a chained outgoing egr

[2019-09-02 19:37] mattklein123 commented on #8114
See https://github.com/envoyproxy/envoy/pull/8001 where we are working on documenting more appropriate edge configurations.

[2019-09-02 20:28] jmarantz commented on #4602
I have some naive questions :)

I'm inferring from the discussion that the Envoy is sharing a host with its single upstream service process. That right?

How compute-intensive vs i/o-bound is the service? How multi-threaded is the service? I know that Envoy by default will create ~ 1 worker per HW thread; is that how you have it set? If the service had (say) 5 threads could you play games like sub

[2019-09-03 01:15] mattklein123 commented on #4705
FYI this will be much easier when all of the v1 code/schemas are deleted, which I think can finally happen once 1.12.0 is cut.

[2019-09-03 01:15] mattklein123 commented on #7965
Thanks @nezdolik!

[2019-09-03 01:21] mattklein123 commented on #4602
Envoy is a sidecar to the service (service mesh ingress/ingress)

`<Many downstreams> -> <Many downstream egress Envoy> -> <Ingress Envoy> -> <Service> -> <Egress Envoy (same as ingress Envoy)> -> Upstream Service`

Running Envoy on more workers does not seem to appreciably improve the situation, and neither does listener connection balancing. I think there are lots of things to try in terms of fo

[2019-09-03 01:30] mfanjie commented on #7955
@htuch can you share any link of `proxy-wide scaling limit` for reference?

[2019-09-03 02:14] htuch commented on #4602
@mattklein123 another approach to tackling this kind of hot spotting is to just add a per-TCP connection timeout and do a graceful GOAWAY after this, e.g. every 10 minutes. This will cause the gRPC client to treat this TCP connection as drained and try another one. The new TCP connection will provide better stochastic balancing behavior.

[2019-09-03 02:17] htuch commented on #8098
Sure, if we don't get any push back on this issue we can do this.

[2019-09-03 02:21] #8112 closed

[2019-09-03 02:26] #8050 closed

[2019-09-03 03:12] htuch commented on #8083
Another advantage of this approach is that the tool should also be reflexive on a given API version, which will allow us to be able to make it a check/fix format tool for our protos, e.g. enforcing import order, Java package options, etc. So far, seems quite reasonable implementation wise.

[2019-09-03 08:02] s-vivien opened #8123 "Question : Custom filter to split PUT in several multipart requests"
Let's say I want to upload a large file to Amazon S3 using their multipart API in which the file is sent in several pieces, but I want to do that in a single upload.

Would it be possible to use Envoy for that ? i.e. the client makes a single PUT request, Envoy splits the request in several pieces (and thus several requests to the upstream), all that in full streaming (no buffering whatsoever).

I

[2019-09-03 09:20] containscafeine commented on #8025
@dio just tried the binary from that image, and it works perfect - no more crashes! Thanks for looking into this ;)

[2019-09-03 10:55] x-fauzan-x opened #8124 "Handshake Error filled Log File"
I 'm using Ambassador API Gateway which is using envoy as the proxy engine

and the log file is filled with handshare error :
`[2019-09-03 10:49:18.735][126][debug][main] [source/server/connection_handler_impl.cc:280] [C2051540] new connection
[2019-09-03 10:49:18.735][126][debug][connection] [source/extensions/transport_sockets/tls/ssl_socket.cc:168] [C2051540] handshake error: 5
[2019-09-03 10:4

[2019-09-03 14:22] yanavlasov commented on #4705
I'll take this one. When is 1.12.0 being released?

On Mon, Sep 2, 2019 at 9:15 PM Matt Klein <notifications@github.com> wrote:

[2019-09-03 14:24] sp-manuel-jurado commented on #8052
Thanks for the tips @snowp (and sorry for the delay).

I'll try to do the PR ASAP but before that, I have some doubts:

I guess doing something like (in filter.cc):
[code]
and in config.proto add enabled field (envoy.config.filter.http.grpc_http1_reverse_bridge.v2alpha1) (if not config.yaml validation fails in execution time):
[code]

I'm checking it using a local build with this config.yaml but I

[2019-09-03 14:52] htuch commented on #4705
@yanavlasov EOQ

[2019-09-03 15:08] mattklein123 commented on #8123
Yeah you could do this with a custom filter.

[2019-09-03 15:09] mattklein123 commented on #8124
Envoy is not designed to be run in production at trace or debug level. Run at info log level.

[2019-09-03 15:22] htuch commented on #8114
@bmgoau should we close this out in favor of #8001?

[2019-09-03 15:23] htuch commented on #8123
@s-vivien does this answer your question? If so, can we close out this issue?

[2019-09-03 15:23] #8124 closed

[2019-09-03 15:37] s-vivien commented on #8123
It does answer my question. Thanks.

[2019-09-03 15:45] htuch commented on #1796
Ack, closing it out for now, will reopen if anyone wants this.

[2019-09-03 15:45] #1796 closed

[2019-09-03 16:02] repenno opened #8127 ""%UPSTREAM_REMOTE_ADDRESS%" does not seem to work."
As far as I can tell "%UPSTREAM_REMOTE_ADDRESS%" is not working as presented in the manual pages.

[code]

I tried envoy proxy in the following configuration modes:

- TPROXY
- Forward Proxy
- Reverse Proxy
- Original Destination

but the upstream IP:port is never added to the HTTP request:

The setup for the specific data below is very simple:

[code]

These are the HTTP headers the server sees.

[2019-09-03 16:25] mattklein123 commented on #4602
I agree this is a good approach in some cases, but not in every case, particularly the side car case in which the local service may only make a very small number of HTTP/2 connections to the side car. This is why I hacked up "perfect" CX balancing, though it didn't make much of a difference to out workload AFAICT.

The only thing that I still want to spend some time looking at (probably not until

[2019-09-03 17:38] #8123 closed

[2019-09-03 17:42] htuch opened #8128 "Make wrapped / native scalar types consistent in v3 API"
In v2, we started of by wrapping everything, but then settled on a policy of only wrapping scalar fields that have non-proto3 defaults. There is a legacy of this across the API that should be cleaned up to be more consistent, v3 is such an opportunity.

[2019-09-03 17:52] davidkilliansc commented on #4602
In our case, I doubt we'd need any rebalancing of active connections if the mapping of brand new connections to Envoy threads was done round-robin or least-conns.  In our cases, the many incoming connections have even request load across them, yet most of our Envoy threads appear to have virtually zero connections assigned to them.    Rebalancing active connections would reactively detect and fix

[2019-09-03 17:53] mattklein123 commented on #4602
Sorry this is what I actually implemented, not rebalancing once accepted. Envoy will likely never support the latter given the architecture.

[2019-09-03 18:41] costinm commented on #7454
I think it would be useful to separate the TLS issue to avoid distraction.

The main case is really mixing EDS for a set of endpoints, and using DNS as fallback. EDS is important because it allows real load balancing - using load/health information and properly distributing  the load. I don't think we can afford to trade that off and use only DNS.

I'm not familiar enough with Envoy to comment on

[2019-09-03 18:58] scheler commented on #7875
This is merged.

[2019-09-03 18:58] #7875 closed

[2019-09-03 19:59] zuercher commented on #8127
I believe what's happening is that `request_headers_to_add` are processed before the upstream host is actually chosen, so `%UPSTREAM_REMOTE_ADDRESS%` is empty and the header is elided. I checked that it works correctly in response headers (which are processed after the upstream responds). I will update the docs to note this (and there are probably expressions that don't produce output for requests

[2019-09-03 20:33] htuch opened #8131 "Add check_format fix to prevent things like v2alpha1 in any package namespace"
The Envoy versioning scheme is vN, vNalpha, v(N+1), v(N+1)alpha. We should avoid irregularities like `v2alpha1` which exist today via a presubmit.

[2019-09-03 20:50] #7970 closed

[2019-09-03 20:58] lizan commented on #8107
Yeah that's in getenvoy roadmap but I don't have an ETA right now

[2019-09-03 21:47] repenno commented on #8127
thanks, is there any other way to add the original http client source IP:port to a header? I would like to pass that information to an external authz server. Adding as a response is too late.

Answering your question: I would like to pass both source/dest IP:port to an external authz server.

[2019-09-03 21:47] tinder-mattheworlove opened #8134 "Support for multiple cluster_names in api_config_source definition"
According to API config source documentation for REST EDS clusters:
https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/config_source.proto#envoy-api-msg-core-apiconfigsource

**cluster_names**
[code]

However, if more than one cluster_name is defined the following error gets thrown:
https://github.com/envoyproxy/envoy/blob/master/source/common/config/utility.cc#L118
[code]

Ideally thi

[2019-09-03 22:01] htuch opened #8136 "Add e2e tests for v(N - M) -> vNalpha"
We should be able to reuse almost all of the xDS client code and tests for v3, but we will need to parameterize the code on API version.

[2019-09-03 22:05] htuch opened #8137 "Hybrid v2/v3 static/dynamic configuration; should we support this?"
A few questions on how to handle hybrid v2/v3 configs for @envoyproxy/api-shepherds:

It's conceivable that an Envoy might have a v3 bootstrap but only be able to ingest dynamic configuration from v2 servers in some operator configuration. Do we want to support these kinds of mixed configurations?

Should we implement fallback support to v2 endpoints if a v3 server is unavailable but configured?

[2019-09-03 22:23] htuch commented on #5569
Within the scope of v4 / UDPA is a more general treatment of matching, see for example the match-action approach in https://github.com/cncf/udpa/pull/4 and https://docs.google.com/document/d/1orxTIL9FXtgmyl5TtPRBqGjgp1ekL7oOKDd95wxeCRY/edit.

@mergeconflict do you have any thoughts on where we might take this at an API level in the scope of v3 (targeted end-of-quarter)? Are there some low hanging

[2019-09-03 22:43] htuch commented on #7955
@jmarantz and @antoniovicente can probably speak to the current status of this scalability work.

[2019-09-03 22:49] dio commented on #8025
@containscafeine yeah, we need to put a proper fix for this. Do you want to take this?

Since today, for the `ext_authz`'s `http_service` the `server_uri`, https://github.com/envoyproxy/envoy/blob/39a4423a274278f9b9e8399c901734fc2e87a0aa/api/envoy/config/filter/http/ext_authz/v2/ext_authz.proto#L131 it is not directly being used, but rather it uses the cluster defined in the [HTTP URI](https://git

[2019-09-03 22:50] htuch commented on #7454
@rshriram wondering if you and @costinm could have a 1:1 to see if you can get to the bottom of the debate here. What @costinm wrote is where I was in terms of understanding before we expanded on this design discussion.

[2019-09-03 22:52] mattklein123 commented on #8025
There are a bunch of examples like this. The general pattern is to get the thread local cluster from the CM. If it doesn't exist, handle, otherwise it should be safe to make an async client call.

[2019-09-03 22:58] zuercher commented on #8127
Your HTTP client is the downstream host. The upstream host is a member of a cluster to which Envoy forwards the request. The various `request_headers_to_add` configurations are all applied before an upstream host is selected, so the `%UPSTREAM_REMOTE_ADDRESS%` expression has no value.

Similarly, the ext_authz filter runs before the router filter and so any `request_headers_to_add` configurations

[2019-09-03 22:59] dio commented on #8025
@mattklein123 Cool. That will be relatively easy to fix. I mixed the the thing in my head with this issue: https://github.com/envoyproxy/envoy/issues/6099 😅

[2019-09-03 23:06] mattklein123 commented on #8137
IMO yes, much like we allowed REST v1 to be called for a while.

IMO we don't need this.

IMO we can ship the API without the implementation.

[2019-09-03 23:48] repenno commented on #8127
thanks, apologize to press this but I want to get this straight for our deployment.

Under %DOWNSTREAM_LOCAL_ADDRESS% is says

"If the original connection was redirected by iptables REDIRECT, this represents the original destination address restored by the...<snip>"

So, what you are saying is that both *upstream_remote_address* and *downstream_local_adress* will give me **destination IPs and port

[2019-09-03 23:58] bmgoau commented on #8114
@htuch cc @mattklein123 If this was closed in favor of #8001 I think we'd be cool, but before you do, please consider the following and let me know your thoughts:

1. It is likely that envoy will be used more and more in conjunction with nginx and ALBs (i mean, we all know it is already 😄  ) and other servers and proxies with default send_timeouts of 60s. And continue to gain popularity in a huge

[2019-09-04 00:06] troshko111 opened #8140 "Compile curl dependency with c-ares support"
*Title*: `curl` is compiled without `c-ares` support and is prone to crashes on DNS timeouts due to `longjmp`.

*Description*: `curl` dependency (via `cmake_external`) was added as part of https://github.com/envoyproxy/envoy/pull/5387 but does not use the already existing `c-ares` library for async DNS resolution and is prone to crashes on modern Linux kernels.

Suggested fix:

- Add ```deps = [//

[2019-09-04 00:14] bmgoau commented on #8114
Sorry, one last comment:
In all the situations where we saw HPE_INVALID_EOF_STATE we also saw %RESPONSE_FLAGS% "-".

It might be a good idea to have something like:

200 OK
RESPONSE_FLAGS =

PR - partial response?
HI - HTTP response payload invalid?
H2R - we sent a http2 rst_stream?

Basically something to make these kinds of failures visible above the level of debug/trace.

(There are already met

[2019-09-04 00:14] troshko111 opened #8141 "Avoid cmake_external for likely transitive dependencies"
*Title*: `cmake_external`-style dependencies in Bazel universe are hard to consume transitively as they have a completely distinct reference style.

*Description*: Even though `cmake_external`-style dependencies are very tempting, they are rather painful to use transitively, imagine Envoy itself is a submodule of project `Parent`, say `Parent` depends on another Bazel-native `Child` library, say `

[2019-09-04 00:21] bmgoau commented on #8114
Also, I want to note it was our fault for relying on the defaults here instead of carefully adjusting them to our use case. We recognize that fully, but still humbly submit the above suggestions.

[2019-09-04 01:25] troshko111 commented on #8140
I just realized that `zlib` available as an Envoy dependency is not used either, curl has an option to use an existing version of `zlib` via `-DHAVE_ZLIB_H`.

So right now Envoy compiles two potentially different versions of `zlib`.

[2019-09-04 03:04] #7421 closed

[2019-09-04 03:08] #7982 closed

[2019-09-04 04:01] htuch commented on #8141
@troshko111 if an external dependency has a native Bazel build, we will use this directly. We explicitly are not in the business though of writing and maintaining BUILD files for external dependencies that don't have this, unless they are totally trivial (e.g. a simple header-only library). We also don't want to vendor/snapshot some random BUILD file, as that way lies bit rot and maintenance overh

[2019-09-04 04:04] htuch commented on #8140
@troshko111 as discussed in https://github.com/envoyproxy/envoy/issues/8141, we are unlikely to take the random Bazel native BUILD file without a clear plan for how it will be updated, maintained and validated against the external dependencies canonical build system for correctness.

I think the problems you point to sound real and we need a solution, but not one that involves us making this chang

[2019-09-04 04:05] htuch commented on #8140
CC @jmillikin-stripe @lizan

[2019-09-04 04:35] repenno commented on #8127
BTW, I changed our code and can verify (as you pointed out) that the source IP:port are in the GRPC message sent to the ext-authz server

[code]

[2019-09-04 05:07] troshko111 commented on #8141
Taking this one step further, what if said dependency has its own Bazel-native dependency, already present in Envoy? Surely we'd want to reuse it making sure we don't compile independent version statically linked together. Precisely this situation has got me starting this conversation. I've been toying with a submoduled Envoy and some custom extensions which rely on first/third party Bazel-native

[2019-09-04 05:25] lizan commented on #8140
Just add a deps to curl cmake_external target, like https://github.com/bazelbuild/rules_foreign_cc/blob/master/README.md#building-cmake-projects does for eigen and openblas.

[2019-09-04 05:31] lizan commented on #8141
Just `bind` in your WORKSPACE? Many `project_dependencies()` checks if there's already a dependency with `existing_rules().keys()`, so you don't really need a select based on that.

[2019-09-04 05:35] troshko111 commented on #8141
https://github.com/bazelbuild/bazel/issues/9325

@htuch feel free to close in favor of the linked issue, I'm still curios what you think of `cmake_external` blackbox problem potentially compiling something you already have compiled, this would not be a problem should all dependencies have a BUILD file. Maintaining a BUILD file is however very expensive and not feasible after some project size thre

[2019-09-04 05:43] troshko111 commented on #8140
You're right, `-DUSE_ARES`, `-DHAVE_ZLIB_H` should be enough + dependencies on both c-`ares` and `zlib` if keeping it `cmake_external` is preferred.

[2019-09-04 05:43] lizan commented on #8141
Right it is not recommended though no alternative yet (without nested workspace, etc). With bind you can reference using //external:dependency syntax unconditionally.

[2019-09-04 07:01] sp13-hub commented on #8107
@lizan Thank you. Glad it is in your road map. I will follow the other issue.

[2019-09-04 07:07] wenlxie commented on #7795
@lizan  Thanks for reply.

I had a try of this feature.

1. L4 packets has many dummy field and not have the whole TCP head.
2. L7 has decrypted http contents, but not TLS field.

`SSLKEYLOGFILE` way can have all of the L4 and L7 fields that can help to debug the issues.

From our operation experience, these info is really helpful when we debug network issues.

[2019-09-04 07:40] sp-manuel-jurado commented on #8052
@snowp I made a WIP PR: https://github.com/envoyproxy/envoy/pull/8145
Before updating the tests related, Am I on the right way?

[2019-09-04 08:11] nezdolik opened #8146 "[question] Envoy to fail requests if ext_authz is unavailable?"
By doing some investigation, looks like this is not supported, but wanted to confirm.
Is it possible to configure Envoy to fail http requests in case ext_authz service is unavailable? This could be useful when one runs cluster of envoys behind L7 LB and LB performs http health checks towards envoy instances. Does envoy support health checking towards ext_authz cluster? Could those maybe be propaga

[2019-09-04 09:55] zhiqli opened #8147 "503 UR when use websocket"
hi：
     I use envoy as the http 1.1 service proxy. When using envoy 1.7 with v1 configuration is ok. After upgrade to envoy 1.9 with  v2 configuration, I have been 503 UR error。
    My service is deployed like this
![image](https://user-images.githubusercontent.com/3350002/64245087-d6c91300-cf3c-11e9-829b-08d2eff3435a.png)

    The complete debug log
[code]

[2019-09-04 09:55] ShannonDing opened #8148 "bazel build //source/exe:envoy-static FAILED in macOS Mojave 10.14.6"
Maybe this is same as #7557
Title:  bazel build fail:zlib FAILED in macOS Mojave 10.14.6
Env:
clang -v
Apple LLVM version 10.0.1 (clang-1001.0.46.4)
Target: x86_64-apple-darwin18.7.0
Thread model: posix
InstalledDir: /Library/Developer/CommandLineTools/usr/bin

Descrition: bazel build //source/exe:envoy-static

_____ BEGIN BUILD LOGS _____
Bazel external C/C++ Rules #0.0.8. Building library 'zlib'

[2019-09-04 10:00] zhiqli commented on #8147
3 envoy have added this configuration
[code]

[2019-09-04 13:23] krm1312 commented on #2763
Based on what products like spring boot and haproxy do with their admin/management interfaces (which allows us to keep them on in production but locked down):

1. By default, disable all management endpoints that allow state mutation.
2. Selectively allow disabling/enabling specific endpoints.
3. Add support for basic auth
4. Add support for TLS

For example, I'd like to scrape prometheus statisti

[2019-09-04 14:40] htuch commented on #8141
@lizan yeah, but the issue is that this is viral IMHO; you basically force bind style on anyone who depends on the project. I think there is a major gap from a usability perspective unless the whole world adapts bind naming rather than direct repository naming. I think that if `cmake_external` could synthesize a pseudo repository with arbitrary name, that might get us to a good place.

[2019-09-04 14:43] htuch commented on #8148
@ShannonDing have you followed the Mac specific instructions at https://github.com/envoyproxy/envoy/blob/master/bazel/README.md#quick-start-bazel-build-for-developers?

[2019-09-04 14:43] htuch commented on #8147
@alyssawilk can you comment on this?

[2019-09-04 15:16] Joker666 commented on #5011
+1

[2019-09-04 15:23] dio commented on #5011
@lizan @qiwzhang should this be reopened?

[2019-09-04 15:34] rgs1 opened #8149 "SSL related leak"
We are seeing a memory leak when using the following tls_context config:

[code]

Per pprof:

[code]

This still happens with master as of yesterday, but apparently started a week or so ago. I'll try to bisect and see if any of the recent BoringSSL updates might be related.

cc: @fishcakez @derekargueta

[2019-09-04 15:38] mattklein123 commented on #8146
ext_authz should be a cluster like any other cluster, meaning that when Envoy goes to send a request to the cluster in the filter, it should handle a no healthy hosts failure condition and fail the request.

[2019-09-04 15:50] nezdolik commented on #8146
Thanks @mattklein123!

[2019-09-04 15:50] #8146 closed

[2019-09-04 16:24] zuercher commented on #8127
I think you've got it all correct. Not having `%DOWNSTREAM_REMOTE_ADDRESS%` seems like an oversight. It wouldn't be difficult to add.

[2019-09-04 16:35] rgs1 commented on #8149
Possible leak per pprof:

[code]

[2019-09-04 16:45] mattklein123 commented on #8121
@htuch one of things I think we should do here is split out extension configs to better match the source code. Right now they are intermingled in the config directory. So I would suggest an extensions directory with the same structure as the source code.

[2019-09-04 17:04] qiwzhang commented on #5011
@dio you can reopen this and assign to me.

[2019-09-04 17:18] htuch commented on #8149
This looks like it's on the config side during context creation. @PiotrSikora any thoughts?

[2019-09-04 17:23] rgs1 commented on #8149
Yep, I am trying to confirm it's actually on the config side. On the data side I am also slightly suspicious of #6326.

[2019-09-04 17:27] kyessenov commented on #8120
Subpackages within v2 were introduced to group endpoint, route, cluster, listener protos. However, we could not move top-level protos for them from v2 package since protobuf Any uses fully qualified proto names in the services.

For new protos, we could create envoy.api.listener.v3, for example, to house all listener-related definitions.

[2019-09-04 17:35] yanavlasov commented on #8147
I assume the log you have provided is from the "front-envoy". Do you have logs from the other 2 envoy processes?

[2019-09-04 17:58] zuercher commented on #8148
I don't have a machine I can test this on, but the doc change suggested by @LisaLudique in #8139 implies that this error occurs when Xcode is not installed.

[2019-09-04 18:46] repenno commented on #8127
thanks, this was extremely useful. My C++ days are way behind me or I would certainly pitch in to get %DOWNSTREAM_REMOTE_ADDRESS%. Nowadays everything I do seems to be in Golang.

[2019-09-04 18:46] #8127 closed

[2019-09-04 20:39] cpakulski commented on #4815
I can implement it if this functionality is still needed.

[2019-09-04 21:24] nareddyt opened #8151 "Proposal: Check-in generated golang protos in envoy/api"
Hi envoy-api shepards,

Given the recent improvement to the golang APIs via #8003 and the upcoming goproto compatible version of go-control-plane via envoyproxy/go-control-plane#213, I wanted to propose another change: Is it possible that we could check in generate golang protos into the `api/` folder?

Most golang code uses the built-in go build system instead of Bazel. This is a standard in the

[2019-09-04 22:23] lizan commented on #8149
Also possibly due to recent BoringSSL upgrade: https://github.com/envoyproxy/envoy/pull/7952

[2019-09-04 22:32] htuch commented on #8151
@nareddyt I get that this is the way that the Go proto ecosystem tends to work. Here is how I can see it being realistic for Envoy if you want this:
1. We do this in a mirror repository, e.g. https://github.com/envoyproxy/data-plane-api. This avoid https://github.com/envoyproxy/envoy noise each time we do some API changes.
2. We figure out how to do this with Bazel (not a parallel ad-hoc proto gen

[2019-09-04 22:35] htuch commented on #8151
CC other @envoyproxy/api-shepherds

[2019-09-04 22:40] kyessenov commented on #8151
I agree that the generated go protobufs need to be published somewhere to avoid bifurcation in go/envoy ecosystem. I was going to add a script to mirror generated go files from bazel to a repo (something like https://github.com/kythe/kythe/blob/master/kythe/proto/generate_go_protobufs.py). The question would remain about versioning scheme. I also had work in progress to move gogo ad-hoc script int

[2019-09-05 00:53] troshko111 commented on #8140
Ended up being a bit more involved due to the level of `CMake` support in curl and totally different options used. I could not get `BoringSSL` to build but it's unused in the `origin/master` version anyway.

For the reference it seems like https://github.com/Kitware/CMake/blob/master/Modules/FindOpenSSL.cmake#L358 was failing on version parsing as the logs otherwise had no failure, the library was

[2019-09-05 00:55] troshko111 commented on #8140
Also worth noting curl CMake build spits this out:
[code]

not very encouraging but checking the activity on the CMake lists it seems maintained rather ok (not kept broken and is updated regularly).

[2019-09-05 01:31] nareddyt commented on #8151
Thanks for the quick reply @htuch. Some of my thoughts:

1) That makes sense. If these could be auto-generated from any changes to envoy/api but checked into only envoyproxy/data-plane-api, that would be perfect.
2) With #8003 merged it, it should be possible to generate golang protos using Bazel. I can work with Kuat on a prototype if needed.
3) I can help maintain the setup (if needed), but I am

[2019-09-05 02:04] l8huang commented on #8046
PR #8152 created, could you please take a look? @mattklein123 @ramaraochavali

[2019-09-05 02:31] zhiqli commented on #8147
hi @yanavlasov
In the middle of envoy, if the log level is info, there is no log, if the log level is debug, too many other log interference, only see this log for this request
`[source/common/http/http2/codec_impl.cc:535] [C1917] invalid frame: Invalid HTTP header field was received`

The sidecar envoy no logs

[2019-09-05 03:04] mattklein123 commented on #8151
I'm strongly in favor of the solution that @htuch proposes which is to mirror the Go protos on every master commit into a new repo. I think this should be pretty easy and would be great for the community. I know we would use this at Lyft and I was actually discussing this with @lita and @ryancox today. It's possible we could help out with this also.

[2019-09-05 03:06] mattklein123 commented on #4815
@cpakulski I would like to implement this, but it will take some thinking on how to do it. I think roughly there needs to be some way for core code / extensions to statically register headers and return some type of map slot ID (it would be opaque) with potentially the well named functions just wrappers around known IDs. All of the registered headers would determine the size of the O(1) memory blo

[2019-09-05 03:13] ShannonDing commented on #8148
Thanks a lot.
After Xcode is installed, the envoy-static can be built success.
[Step 1]: bazel clean --expunge
[Step 2]: bazel build //source/exe:envoy-static

[2019-09-05 03:17] mattklein123 commented on #8114
@bmgoau thanks for the detailed comments. We are definitely considering changing the defaults in future releases, and potentially having "profiles" but this is a really tricky topic as its impossible to make everyone happy.

re: the additional response flags if you could open a specific feature request issue on that it would be great. Thank you!

[2019-09-05 03:47] kyessenov commented on #8151
It should be possible to create a new branch in go-control-plane (v2?) to host the standard protos. The import path would be a bit strange, e.g. `github.com/envoyproxy/go-control-plane/v2/envoy/api/v2/core`.

[2019-09-05 07:46] #8148 closed

[2019-09-05 13:37] ipuustin commented on #8149
@rgs1: I looked at the #6326 changes related to this, but I did not see anything too suspicious. Please tell where the `git bisect` ends. My first thought was that `X509_up_ref()` at `context_impl.cc:117` might be too much, but it has been there for a long time.

[2019-09-05 14:27] cpakulski commented on #4815
@mattklein123 Thanks for explaining. Let me analyze the code and come up with prototype. I assume that because of the direct impact on the performance, O(1) is most crucial factor here,.

[2019-09-05 14:33] alyssawilk commented on #8147
I suspect you didn't enable connect support

https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/websocket#handling-h2-hops
https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/core/protocol.proto#L86

I'll also update the docs to make it more clear this is off by default and needs config to turn on.

[2019-09-05 15:48] mattklein123 commented on #4815
Generally yes, but the main thing that I like about this is we can likely shrink the size of the header block to just the headers that are actually used in the code. There are a bunch of them that are only used by extensions I think.

With that said, I know there have been other proposals for header map performance options including perfect hashes vs. the trie and some other stuff. cc @brian-pane

[2019-09-05 16:25] cpakulski commented on #4815
I am looking at https://github.com/envoyproxy/envoy/blob/master/include/envoy/http/header_map.h. Please correct me if I am wrong - the goal here is to add to the map only whatever is used in core code and allow extensions to add their headers dynamically. Lookup must be O(1).

[2019-09-05 16:47] mattklein123 commented on #4815
Yes that is the rough idea. I'm not sure if it's easily possible. I think it is, but it needs some thinking on approaches.

[2019-09-05 17:37] jmarantz commented on #4815
IMO the first thing to do is to create a microbenchmark for header_map, so
we can talk quantitatively about performance under various scenarios. I
keep meaning to write one but have not gotten the chance to. I would be
happy to be a reviewer on the code if you want to take it on.

Josh

On Thu, Sep 5, 2019, 12:47 PM Matt Klein <notifications@github.com> wrote:

[2019-09-05 18:15] cpakulski commented on #4815
Sounds like good idea. I am staring to work on this.

[2019-09-05 20:59] jessicayuen opened #8161 "Ambiguity between static listener definition and LDS listeners with the same address"
**WARNING: If you want to report crashes, leaking of sensitive information,
and/or other security issues, please consider
[reporting them using appropriate channels](https://github.com/envoyproxy/envoy#reporting-security-vulnerabilities).**

**Issue Template**

*Title*: Inconsistent behavior when defining static listeners and LDS listeners with the same address.

*Description*:
We're in the proces

[2019-09-05 21:28] stevenzzzz commented on #7829
this is still on my radar. Will add a optional initManager (noopManager) similar to the one in scoped_rds.cc

[2019-09-05 22:29] mattklein123 commented on #8161
The uniqueness property is via the name of the listener.

https://github.com/envoyproxy/envoy/blob/d21d92ca21cd827e8ab484244a9eefc31bfd8af4/source/server/listener_manager_impl.cc#L505

As long as you define the same name for the static and dynamic listener, I think it should do what you want.

[2019-09-06 00:08] zuercher commented on #7832
You can suppress all x-envoy filters via the HTTP router filter's config: https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/router/v2/router.proto#envoy-api-msg-config-filter-http-router-v2-router

Otherwise, that particular header is added after header manipulation configs are applied.

[2019-09-06 00:16] #6846 closed

[2019-09-06 00:25] dontreboot commented on #3178
@ggreenway Is this something that is planned for near future?

[2019-09-06 00:35] kyessenov commented on #8151
PR #8163 deleted all gogoproto annotations to help with separating go/gogo proto builds.

[2019-09-06 00:52] troshko111 opened #8164 "stats: [request] expose the underlying histogram unit"
*Title*: Certain stat backends may distinguish between time and generic histograms and need this distinction when flushing.

*Description*: [Atlas](https://github.com/Netflix/atlas) supports general-purpose histograms (distribution summaries) and timers (histograms whose unit is time, in seconds). Furthermore, Atlas expects all units to be base so they can be represented with [Metric prefixes](htt

[2019-09-06 01:16] #7759 closed

[2019-09-06 01:59] scw00 opened #8165 "Envoy performance case"
**WARNING: If you want to report crashes, leaking of sensitive information,
and/or other security issues, please consider
[reporting them using appropriate channels](https://github.com/envoyproxy/envoy#reporting-security-vulnerabilities).**

**Issue Template**

*Title*: *One line description*

*Description*:
Running envoy against nginx it seems Envoy spend more cpus than nginx.

[optional *Relevan

[2019-09-06 02:00] scw00 commented on #8165
linke to https://github.com/istio/istio/issues/16749

[2019-09-06 02:03] scw00 commented on #8165
It seems the bottleneck is in envoy. I use the raw envoy image and run it against nginx without injected. the envoy steal too much cpu cycles from nginx.

 18683 root      20   0  937024 141868  22860 S  3170  0.0  35:11.59 envoy
 24778 root      20   0 1026448   7252   1760 S 177.9  0.0   0:15.07 wrk
 11603 65534     20   0   41604   2768    992 R  68.0  0.0   0:46.85 nginx
 11602 65534     20

[2019-09-06 05:29] #8140 closed

[2019-09-06 06:14] bmgoau commented on #1178
I know this wont suit a lot of the use cases mentioned in this thread, but at least for the complete failure of a set of endpoints being actively health checked by Envoy we did the following:

1. Setup healthchecks on the endpoints for a given cluster:
[code]
2. Have a infinitely high priority endpoint in the cluster that point back at envoy itself on a unique listener:
[code]
3. Have that point a

[2019-09-06 08:10] vadimeisenbergibm opened #8167 "traffic splitting with session affinity"
Can Envoy perform traffic splitting while preserving session affinity? For example, use Ring Hash or Maglev to select the weighted cluster according to its weight? This way, when `route.RouteAction.HashPolicy` is specified, the same weighted cluster and the same endpoint point will be used by applying Ring Hash/Maglev twice, for selecting the weighted cluster and for selecting the endpoint.

[2019-09-06 10:59] lukidzi opened #8168 "Cannot use EDS cluster type for control plane, because ADS only rely on primary clusters"
*Title*: *Cannot use EDS cluster type for control plane, because ADS only rely on primary clusters.*

*Description*:
Currently we are using load balancer address and port to connect to Control-plane, but we observe some problems caused by this setup. We want to switch from STATIC to EDS cluster type for control-plane cluster definition. In code I can see that EDS type cluster is loaded after ADS c

[2019-09-06 16:24] zuercher commented on #8164
I don't think it would be terribly difficult to introduce a notion of unit or the scaling factor (e.g. millis for time histograms). What do you think, @jmarantz?

[2019-09-06 16:52] zuercher commented on #8167
This isn't currently possible. Weighted clusters are chosen based on a random value selected at request time. I'll go ahead and label this as an enhancement request.

[2019-09-06 18:36] vadimeisenbergibm commented on #8167
@zuercher Thanks!

[2019-09-06 18:53] kb000 opened #8171 "Redis proxy traffic mirroring runtime default"
`MirrorPolicyImpl::shouldMirror` will override a default runtime fraction of 0, and instead mirror 100% of the time.
 https://github.com/envoyproxy/envoy/blob/6ca8500b39568049647f4f40a599b8f8bd2afc3d/source/extensions/filters/network/redis_proxy/router_impl.cc#L17-L32

This is at odds with documentation:
https://github.com/envoyproxy/envoy/blob/6ca8500b39568049647f4f40a599b8f8bd2afc3d/api/envoy/ap

[2019-09-06 18:53] kb000 commented on #8171
@HenryYYang

[2019-09-06 19:20] nareddyt opened #8172 "Stackdriver spans via Opencensus are missing metadata"
We are having trouble with spans on stackdriver, specifically with getting all the metadata to show up.

### Configuration

We are using Opencensus config to setup tracing in our bootstrap config:

[code]

We have added traces to our custom envoy filters with the code below:

[code]

We also enabled `start_child_span` in [router.proto](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filt

[2019-09-06 19:24] kyessenov commented on #8172
/sub @kyessenov
The code is here https://github.com/envoyproxy/envoy/blob/master/source/extensions/tracers/opencensus/opencensus_tracer_impl.cc.

[2019-09-06 19:26] #7680 closed

[2019-09-06 21:03] nareddyt commented on #8172
Looking at that code, it looks like our `setTag` calls should definitely be adding attributes to the span:

https://github.com/envoyproxy/envoy/blob/master/source/extensions/tracers/opencensus/opencensus_tracer_impl.cc#L179

[2019-09-06 21:04] nareddyt commented on #8172
I guess that means it's an issue with `opencensus_cpp`, since that `addAttribute` call is defined there?

[2019-09-06 22:24] zuercher commented on #8171
Looks like it completely ignores the deprecated runtime_key field and only heeds runtime_fraction if the default numerator is > 0.

[2019-09-06 22:42] nareddyt commented on #8172
Solved! After an offline discussion with @kyessenov, we found that there Opencensus Tracing config has fields to set the max number of attributes. They were defaulting to 0...

https://github.com/census-instrumentation/opencensus-proto/blob/5cec5ea58c3efa81fa808f2bd38ce182da9ee731/src/opencensus/proto/trace/v1/trace_config.proto#L41

[2019-09-06 22:42] #8172 closed

[2019-09-06 23:49] yanavlasov opened #8174 "Inconsistent naming of API proto targets for go"
Some of them are explicitly named, i.e. //api/envoy/api/v2:v2 or //api/envoy/api/core:core
the rest has the default name "pkg", i.e. //api/envoy/api/auth:pkg

This inconsistency makes it hard to write automated import tools as target mapping have to be explicitly written and maintained.

[2019-09-07 00:41] howardjohn commented on #7919
Confirmed fixed. Thanks @asraa!

[2019-09-07 00:41] #7919 closed

[2019-09-07 05:26] #7771 closed

[2019-09-07 08:49] alochym01 commented on #4227
@andyyin https://www.envoyproxy.io/learn/backpressure you can read the article

[2019-09-07 08:58] Stoakes commented on #7276
For anyone interested in the topic, https://github.com/envoyproxy/envoy/issues/8167 deals with it too.

[2019-09-07 13:03] boncheo opened #8175 "Set basic authentication to the endpoint"
Title: How can I set basic authentication to an endpoint.

Description:
Unfortenly there is no enough document for the envoy proxy, Most of documents are code references, After 3 days search, I could not find a simple way in order to add a basic auth to the endpoint (like Nginx).
How can I set basic authentication to the endpoint?

[2019-09-07 18:07] #7770 closed

[2019-09-08 03:07] #7751 closed

[2019-09-08 06:00] x-fauzan-x commented on #8124
This is not on my production , this is on my development cluster

[2019-09-08 06:53] ravgupms opened #8178 "Developing gRPC external auth service in C#"
Hi, I'm trying to develop an external auth service in C# but when I trying to generate C# classes from envoy proto file, I'm getting following error.

Does anyone has ever successfully complied envoy protos for C# or is there any pre-compiled version available?

[2019-09-08 08:06] jpeach commented on #6297
CLion support the JSON [compilation database](https://www.jetbrains.com/help/clion/compilation-database.html). I tried this and it seemed to index everything, but was still unable to resolve any envoy symbols.

CLion ends up building 2 duplicate file trees - one for the checked-out source tree and one for the symlinked bazel tree. It believes that only the bazel tree is part of the project (i.e. h

[2019-09-08 08:24] derekargueta commented on #8178
Since the error is from `validate/validate.proto`, I'm guessing it's because [protoc-gen-validate](https://github.com/envoyproxy/protoc-gen-validate) does not support C#.

[2019-09-08 09:15] dio commented on #8178
For a language that doesn't support proto2, probably removing the validation annotations will help?

[2019-09-08 12:10] dio commented on #8175
You can try this: https://gist.github.com/dio/7a7aa09ea5027c660e0c1c9905be7ffd for now I think. I know it is not pretty, but surely if it is reasonable we can have a basic auth filter.

The `allow`-and-`deny` thing of nginx basic auth is possible but I need to check if we have that header (client ip) exposed. If not we can extract it through lua API.

It is defined statically in the above config e

[2019-09-09 08:30] dotw commented on #2891
@chintan-mishra Hello, did you resolve the issue? Could you share your config? I have one similar issue.

[2019-09-09 08:43] zhiqli commented on #8147
@alyssawilk thank you。
According to your prompt, front-envoy has no 503 UR.But the middle envoy still has 503 UR。
My sidecar envoy config like this

[code]

[code]

When I requested, the middle envoy appeared have same log like this, and there was no log in sidecar envoy

[code]

[2019-09-09 12:22] sennyhan commented on #8115
waiting for your good news

[2019-09-09 12:22] sennyhan commented on #8115
@zyfjeff waiting for your good news

[2019-09-09 15:36] alyssawilk commented on #8147
So it looks like you made it to the middle Envoy.  Unfortunately there's not much I can say without seeing logs from the Envoy that is rejecting the request because we don't (yet?) convey any details about the cause of the stream reset.  If you had trace logging on in the side car I'd expect at least logs for the connection being established, and ideally logs from nghttp2 about why it was rejectin

[2019-09-09 15:41] costinm opened #8181 "XDS: allow DiscoveryRequest to include Any/Struct optional data."
*Title*: Extend DiscoveryRequest to allow 'any/struct' data to be passed to the ADS server.

*Description*:
xDS allows a server to push arbitrary data, and the xDS client to subscribe to arbitrary
data sources. However when sending requests the client is limited in what info it can
include - the metatada is fixed by bootstrap and should only be sent on the first request.

The xDS protocol - and th

[2019-09-09 16:18] mmckeen commented on #7789
Would there be any chance in this proposal to allow concurrency control at a finer level?  Maybe some form of client_id passed from callers that Envoy could maintain separate concurrency limits for?  There are sets of problems that an approach similar to client side throttling in https://landing.google.com/sre/sre-book/chapters/handling-overload/ might be able to help solve.

[2019-09-09 17:12] emaildanwilson commented on #1451
It looks like this feature is what we would need to configure a tier of envoy servers which would be used as a proxy pool for systems which are unable to have an envoy sidecar and also not change the way they make requests (ie without setting host headers or changing the servers they reach with host file/dns manipulation, etc.). Is that correct?

We can pony up a resource to contribute this featur

[2019-09-09 17:24] junr03 commented on #8174
@kyessenov because you helped a bunch with package naming for go back in the day, and @htuch to flag as something we could potentially fix.

[2019-09-09 17:28] mattklein123 commented on #1451
@emaildanwilson I'm not working on this and won't be working on it soon. If you have someone to work on it please have them reach out and I can guide them.

[2019-09-09 17:31] mattklein123 commented on #7789
@mmckeen I've been discussing this offline with @tonya11en. I think we do want to allow concurrency to be set at a finer level either via upstream cluster, arbitrary header (e.g. client id), etc. We can discsus this once we land the initial support.

[2019-09-09 18:08] wrowe commented on #3795
This remains an issue on Windows, with a much smaller character limitation than OS/X.

The protoc utility allows us to pass an @argsfile input reference, just as the compiler and linker support. It appears even that Bazel's invocation of the protoc generator in the built-in rules uses this construct, so it should be possible to extend Envoy's build to support this.

We are unable to unwind the dep

[2019-09-09 18:11] kyessenov commented on #8174
Yes, it makes sense to keep bazel rule names consistent. Sorry about not making them consistent to begin with. In OSS, the bazel rule names are actually entirely invisible in go world.

[2019-09-09 18:14] krm1312 opened #8182 "CDS with strict/logical_dns"
I would like to have CDS (currently file based) contain clusters of type strict_dns.  It appears the solution in https://github.com/envoyproxy/envoy/issues/5186 no longer works of inlining in the CDS cluster definition.

If this is no longer supported, is it still a valid feature request?  There is at least one issue related to this in the go-control-plane project, but, I suspect it should be here

[2019-09-09 18:29] tonya11en commented on #7789
@mmckeen in addition to what Matt said, what you mention is an approach for implementing QoS using this concurrency control filter. This is under consideration as a next step and I had some thoughts on this - I'll CC you on the brainstorming doc when the time comes if you'd like.

[2019-09-09 18:59] efimki opened #8183 "Implement CDN loop detection"
*Title*: *Implement CDN loop detection*

*Description*:

RFC 8586 [1] proposes CDN providers to develop CDN loop prevention mechanism by using a new CDN-Loop header. While more details are explained in RFC 8586 proposal, here we include a simple TODO list for this feature:

- Add a new CDN-Loop request header with configurable value when proxy is processing a request.
- Check whether a CDN request

[2019-09-09 19:00] danzh2010 opened #8184 "Add quiche code back to coverage test"
Currently, the code under source/extensions/quic_listeners/quiche/ is excluded from coverage test in https://github.com/envoyproxy/envoy/pull/7721. This is necessary because there are a lot of NOT_REACHED_GCOVR_EXCL_LINE, NOT_IMPLEMENTED_GCOVR_EXCL_LINE added in that PR which if included in coverage test would raise the bar of code coverage much higher than required (97%) for other PRs in the futu

[2019-09-09 19:45] naftulikay commented on #7841
Can someone tag this as help-wanted? This is still a desirable function to have and I think the community would benefit from it, even if it isn't implemented in the short term.

[2019-09-09 19:51] davidkilliansc commented on #4602
@mattklein123 Is there visibility into event loop queue depth and/or time spent in queue?  Could hidden latency could be while sitting in the event loop queue, e.g. if the processing on that thread was backed up?  Not sure I'm describing this in a way that even makes sense w/ my limited understanding of Envoy :)

[2019-09-09 21:45] olegshaldibin opened #8185 "Retry policy based on response headers"
Currently Envoy supports multiple retry policies, including one based on 'retriable status codes'. There is a potential use case for another type of retry policy based on response headers.

For example, the backend could be an application server that further proxies the request routed by Envoy to a number of applications that it manages. The backend then may need to communicate back to Envoy that

[2019-09-09 22:03] olegshaldibin commented on #8185
#8187 outlines a simple implementation of this proposal.

[2019-09-09 22:48] mattklein123 commented on #4602
Not currently, though this would be interesting to track potentially. cc @mergeconflict @jmarantz @oschaaf

[2019-09-09 23:18] zuercher commented on #8182
I'll mark this as an enhancement request, but I don't think this has ever been possible.

[2019-09-09 23:22] zuercher commented on #8182
For your case, though, I think you can just use the `hosts` field on the Cluster object instead of `load_assignment`. That won't help if you want to make use of more advanced features available only via `load_assignment` (localities, lb weights, metadata, etc), though.

[2019-09-09 23:28] zuercher commented on #8183
If I understand correctly, you want to use Envoy to implement detection of the CDN-Loop header (responding with an error) and adding the header to the proxied request (for potential detection later if the request is circular).

I think you can already do this by adding routes [that match on the value of the header](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto.html#en

[2019-09-09 23:48] mattklein123 opened #8190 "Revisit xDS API documentation arch overview"
We should have a single arch overview page for xDS that lists out all APIs we currently support and a very high level overview of what they are for, with links to additional information. Today we have https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/operations/dynamic_configuration as well as information sprinkled elsewhere, but given how many APIs we have I think we should have a m

[2019-09-09 23:53] RameshRM opened #8191 "Example related to GRPC Streaming Service for TAP Output Sink"
**Issue Template**

*Title*: *Example related to GRPC Streaming Service for TAP Output Sink*

*Description*:

[2019-09-10 00:15] #8025 closed

[2019-09-10 00:30] troshko111 commented on #8164
Happy to work on this as long as we agree it can be merged and on a specific implementation:

- Include the unit
- Measure in base units (seconds for timers, implies type change to double which would have perf impact)
- Method providing the value in base units (dividing by 1000d for timers, returning as-is for non-timers)
- Potentially something else

[2019-09-10 02:14] zhiqli commented on #8147
@alyssawilk The sidecar's trace log is
`[http2] [source/common/http/http2/codec_impl.cc:535] [C797] invalid frame: Invalid HTTP header field was received`

more log like this
[code]

[2019-09-10 02:59] Jingzhao123 opened #8193 "Signal test failed caused by using signal-unsafe function"
*Title*: *Signal test failed caused by using signal-unsafe function*

*Description*:

When SIGSEGV signal was sent to envoy from OS, it will invoke the sighandler function for print log information. From the following diagram, we could see, eventually, the os/glibc function locatime_r was invoked. But, as we known, the localtime_r function is not suitable for using in signal processing handler. It

[2019-09-10 07:00] awesomelinhhh opened #8195 "hot restart: set drain time value to 1s"
Description:
_As Envoy Doc says, draining is the process by which Envoy attempts to gracefully shed connections in response to various events. Draining occurs at the following times:
1.The server has been manually health check failed via the healthcheck/fail admin endpoint.
2.The server is being hot restarted.
3.Individual listeners are being modified or removed via LDS._

When individual listener

[2019-09-10 08:16] zhiqli commented on #8147
@alyssawilk Thank you very much, the problem has been solved。

[2019-09-10 08:16] #8147 closed

[2019-09-10 09:36] silencehe09 commented on #2692
@aa-stripe  Can  we set the data type for log value, such as  ```%DURATION%``` 、```%BYTES_SENT%``` with data type of ```Integer```, but not ```String```, when using json format for envoy access log ?
For example：
[code]
We hope  to get the json format access log : {"cluster":"service_google",**"duration":55**}, but not: {"cluster":"service_google",**"duration":"55"**}, where the data type of durat

[2019-09-10 13:19] krm1312 commented on #8182
I didn't fully process the note in the docs about inotify on ConfigSource yesterday.  Just editing the file in-place won't work.  When I move a file into the watched path with changes, it does work with 'hosts'.  Thanks.

[2019-09-10 14:00] krm1312 commented on #8182
And, it seems that it works with load_assignment after all (w/ the config above w/o the indentation typo).  So, you can probably close this out.

Since this is CDS, it just logs invalid config at startup, but does not fail startup (just rejects it).

[2019-09-10 15:38] mattklein123 commented on #8191
This is not supported yet. See https://github.com/envoyproxy/envoy/issues/6110.

[2019-09-10 15:39] mattklein123 commented on #8164
My preference is to include a unit only and do nothing else. Is this sufficient?

[2019-09-10 16:29] #8182 closed

[2019-09-10 16:58] antoniovicente commented on #7525
stats_integration_test.cc will soon cover memory usage by hosts, see #8189

I have a change in progress that reduces memory used by host stats that I plan to send out once #8189 is in.  Memory usage before: 2883 after: 1283 https://github.com/envoyproxy/envoy/compare/master...antoniovicente:stats_primitive_host_stats

[2019-09-10 17:10] mamunozgonzalez commented on #886
Is there any progress on this? I'm also facing the issue (ended up here from https://github.com/istio/istio/issues/8807)

[2019-09-10 17:26] lambdai opened #8197 "Feature request: Allow specify application protocol in cluster upstream transport socket"
Istio is endeavor to reduce the burden of config the mesh by specifying service port and protocol. It is great to have a cluster for all upstream protocol.

Actually envoy cluster can be used to create tcp upstream connection, http1 and http2. However the limitation is that the cluster api can only specify one application protocol for those 3 connections.

If envoy provide the api of specifying ap

[2019-09-10 17:27] lambdai commented on #8197
@envoyproxy/api-shepherds Could you take a look?

[2019-09-10 17:43] troshko111 commented on #8164
Absolutely, any of these is perfectly sufficient, just wanted to make sure you're not opposed to and understand your preference. Thanks.

[2019-09-10 18:30] mattklein123 commented on #8197
@lambdai I don't fully understand what you are after. Can you explain at a high level what you want Envoy to do with this information?

[2019-09-10 20:14] kflynn opened #8199 "Envoy crashes with assertion failure due to strange event while handling websocket traffic"
An Ambassador user is seeing a fairly frequent crash while handling websocket traffic. This is  Ambassador 0.75.0, which is built over Datawire's Envoy, which is Envoy v1.11.1 (e349fb613) plus a few filter fixes.

 We got the corefile, and the stack trace looks like this:

[code]

Ignoring frames 1-4 as "Envoy is handling SIGABRT", at frame 5 we're in this callback (`source/common/event/file_event

[2019-09-10 20:27] kflynn commented on #8199
(Ambassador issue 1774 notes that downgrading to Ambassador 0.74.0 fixes the issue. 0.74.0 is built from a much earlier Envoy: 0243ded plus some filter fixes.)

[2019-09-10 20:31] mattklein123 commented on #8199
I think this came up recently in the context of the HTTP/2 security issues. @yanavlasov @PiotrSikora do you remember?

Note that this is a debug only issue.

[2019-09-10 20:35] kflynn commented on #8199
@mattklein123 Good to know, I was wondering how safe it would be to just ignore the `ASSERT`...

[2019-09-10 21:15] #7651 closed

[2019-09-10 21:32] lambdai commented on #8197
The idea is to allow HCM and tcp_proxy specify the same cluster.
tcp_proxy would obtain a ssl connection with application protocol "TCP" while
HCM would obtain a ssl connection with application protocol "HTTP".

You may ask what protocol the endpoint would server: http or non-http. The answer is we don't know. We use sniffer to choose between HCM filter chain and tcp filter chain and embed the pro

[2019-09-10 22:05] mattklein123 commented on #8197
But what are you actually after? Just setting ALPN? Or something else?

[2019-09-10 22:30] lambdai commented on #8197
I would say that's a override/added `cluster.http_protocol_options.application_protocol` other than the default one in `cluster.tls_context.common_tls_context.alpn_protocols`. Yes, for the envoy cluster, it add the alpn in the ssl handshake.
Is there anything I could do?

In the end to end story is, downstream envoy could sniff the plain text protocol, encrypt the traffic between downstream envoy

[2019-09-10 23:13] derekargueta opened #8202 "Support HTTP request mirroring to multiple clusters"
*Title*: Support HTTP request mirroring to multiple clusters

*Description*:
Currently a route action can only have one request mirror policy going to one cluster. This ticket is to file a design proposal // enhancement ticket to be able to specify a list of request mirroring policies. It should be a fairly straightforward-change, the router would have a `std::vector<..>` of ShadowWriters instead

[2019-09-10 23:35] jmarantz commented on #8164
Units sound good to me, but I'm not sure the scope of that proposal.

E.g. should the histogram API require a unit (similar to specifying now the ImportMode for Gauge)? Would this just be a string, e.g. "ms" to be conveyed to the UI somehow via Sinks? Or an integer multiplier against (say) a base unit of nanoseconds or microseconds? I think some metrics may be interesting in microseconds, e.g. his

[2019-09-11 00:11] #8134 closed

[2019-09-11 00:26] troshko111 commented on #8164
IMO it probably should to make the API less surprising, otherwise we'll have to set something by default (assume a non-timer) and require the unit for timers only? No strong preference though. I think assuming a non-timer histogram and base unit is a good default with a possibility to set the unit.

This should probably be an enum or a multiplier to the base? Anything the sinks can utilize to repo

[2019-09-11 01:11] jmarantz commented on #8164
I think we are on the same page. I am not familiar with any of the sinks that you would be targeting but I'm moderately in favor of the enum approach. What do others think?

[2019-09-11 04:46] dotw commented on #5939
@poyaz  hello, did you resolve the issue? I have the same one.

[2019-09-11 05:13] poyaz commented on #5939
@dotw
no, i can't resolve the issue

[2019-09-11 05:32] lizan commented on #1861
@enmasse make sure your config runs on latest on x86_64, i.e. envoyproxy/envoy-dev:6ab225d3c9e24ac22e93d5d12c44b9d4336d0ab4 I think that because cors policy `allow_origin: ` is deprecated. check https://www.envoyproxy.io/docs/envoy/latest/intro/deprecated

[2019-09-11 06:30] dangit815 opened #8211 "[Feature]Support Access logs in Dubbo Proxy"
Now access logs only support **HTTP connection** and **TCP Proxy**, but does not support **Dubbo Proxy**. We need to improve this feature in **Dubbo Proxy**, then we can get access logs feedback when visiting the dubbo service.

[2019-09-11 08:23] #7776 closed

[2019-09-11 12:52] #7550 closed

[2019-09-11 14:13] hfgbarrigas opened #8213 "Layer 7 tls passthrough"
Hi,

 As per the title, is it possible to achieve this with envoy? Went through the docs and searched for a while and didn't find a concrete answer. Found a few issues that touched this subject https://github.com/envoyproxy/envoy/issues/1843 https://github.com/envoyproxy/envoy/issues/5939 and more ... but  only found it achievable through envoy.tcp_proxy which is L4. All in all, it works, but I'd

[2019-09-11 14:54] ahedberg opened #8214 "Make HTTP response code when backend can't be found configurable"
**Issue Template**

*Title*: Make HTTP response code when backend can't be found configurable

*Description*:
We've historically returned 502s when a backend can't be found. Envoy currently returns 503s. It'd be nice if we could configure this rather than it being hard-coded.

I'm not sure where the optimal place to configure this would be, so wanted to start the discussion before implementing it.

[2019-09-11 14:54] Kalimero66 commented on #3296
+1... Any progress on this topic. I need to access downstream cipher suites and pass that info as a header to upstream. Would be great to have a pointer to some doc/examples.

[2019-09-11 16:03] nareddyt commented on #8151
Status Update:
- envoyproxy/go-control-plane#226 updated the `master` branch of go-control-plane with golang/protobuf protos. gogo/protobuf compatible code is in the `gogo` branch.
- These changes were made by _manually_ running the script in #8155. @kyessenov plans on automating this in CI to generate the protos automatically on commits to envoy/api.

@kyessenov: Should this issue be closed now,

[2019-09-11 16:37] mattklein123 commented on #8214
@ahedberg I think this is a duplicate or closely related to https://github.com/envoyproxy/envoy/issues/7537. See also proposed API in https://github.com/envoyproxy/envoy/pull/8126. Would you mind collaborating with @lukidzi on this? I would love to see the entire problem of customizing local replies solved holistically as this keeps coming up.

[2019-09-11 16:46] mattklein123 commented on #8164
My preference would be to use an enum for the unit type, and require that the unit be provided when a histogram is constructed (like we do for gauge import type). There are not that may histograms so IMO this not that big of an ask. WDYT?

[2019-09-11 17:53] zuercher commented on #5939
The config pasted [above](https://github.com/envoyproxy/envoy/issues/5939#issuecomment-463686935) should be sufficient to do SNI based routing of TCP connections made with TLS.

Based on some quick searching, the Postgres protocol [starts unencrypted and then upgrades to SSL](https://www.postgresql.org/docs/current/protocol-flow.html#id-1.10.5.7.11) as part of the protocol. At that point it's too

[2019-09-11 18:02] zuercher commented on #8213
Could you elaborate on what http connection manager features and statistics you want to use?

[2019-09-11 19:10] chopmann commented on #5939
Community already working on it: #2861

[2019-09-11 20:15] mirwide opened #8218 "CORS. Dynamic set access-control-allow-headers from access-control-request-headers"
*Title*: *Feature request. Set access-control-allow-headers dynamically from access-control-request-headers with rule*

*Description*:

describe the desired behaviour, what scenario it enables and how it
would be used.

Now cors filter set response header `access-control-allow-headers` to `allow_headers` value from config. Wildcard not support/work in `access-control-allow-headers` in browser if `

[2019-09-11 20:36] #8171 closed

[2019-09-11 20:59] csssuf opened #8219 "Refactor outlier detection configuration fields"
*Title*: Refactor outlier detection config message fields

*Description*:
As discussed in https://github.com/envoyproxy/envoy/pull/8130#discussion_r320832679, the outlier detection configuration fields are a bit messy and could use a cleanup.

[2019-09-11 21:04] mattklein123 commented on #8151
Let's close this after we get CI auto-merge working.

[2019-09-11 21:39] JimmyCYJ commented on #5744
In Istio, we observe multiple SDS connections for identical SDS config. https://github.com/istio/istio/pull/17027 use Struct instead of Any when generates call credentials for SDS config.

[2019-09-11 21:56] mattklein123 commented on #8197
I discussed this offline with @lambdai and my general feeling here is we should try to build on the existing original src/dst socket option support in both TCP/HTTP to also allow transport socket options to be altered by filters, and then fed into the conn pool creation code (with appropriate hashing). In this way, ALPN could then be modified by filters and everything would "just work"

I like thi

[2019-09-11 22:19] lizan commented on #8197
Adding TransportSocketOptions to override ALPN sounds reasonable to me.

[2019-09-11 22:27] lambdai commented on #8197
Steps:
1. embed transport_socket_option into the upstreamSocketOption, eventually affect select or create ConnPoolImpl
2. ConnPoolImpl should extract the transport_socket_option and pass it to createTransportSocket() if a connection need to be created
3. Since transport_socket_option matters, this newssl need to utilized the provided option https://github.com/envoyproxy/envoy/blob/master/source/ex

[2019-09-11 22:43] lizan commented on #8197
@lambdai I think TransportSocketOptions are already affect select or create ConnPool, no?

[2019-09-12 02:24] stevenzzzz commented on #7902
I believe this can be closed now.

[2019-09-12 15:40] anastayaa opened #8222 "Starting multiple services"
When i'm trying to run more than one service, i'm getting the error:
[code]

I think this is related to Envoy proxy!!!

[2019-09-12 19:21] sabiurr opened #8223 "Envoy proxy stuck in PRE_INITIALIZING state for upstream Encrypted Redis Cluster (Elasticache)"
*Title*: *Envoy proxy stuck in PRE_INITIALIZING state for upstream Encrypted Redis Cluster (Elasticache)*

*Description*:

I am using envoy (v1.11.1) as a redis cluster proxy and running as a sidecar on the client host

*Config*:
[code]

*Logs*:
[code]

[code]

[2019-09-12 20:28] psalaberria002 opened #8224 "Allow setting a list of constant tags for Tracing"
*Title*: *Allow setting a list of constant tags for Tracing*

*Description*:

[code]

It should be an easy task for someone that knows the codebase. Thank you in advance.

[2019-09-12 20:29] stevenzzzz opened #8225 "cleanup: refactor conn_manager code to remove AdminImpl specific logic"
**Issue Template**

*Title*: refactor conn_manager code to remove AdminImpl specific logic

*Description*:
See https://github.com/envoyproxy/envoy/pull/7762#pullrequestreview-284580670
A reminder for myself.

[optional *Relevant Links*:]

[2019-09-12 21:49] wenbozhu opened #8228 "Outlier detection needs to log and handle grpc-status sent as trailers"
*Title*: Outlier detection needs to log and handle grpc-status sent as trailers

*Description*:

*Relevant Links*:

[2019-09-12 22:04] zuercher opened #8229 "HTTP codec auto may incorrectly select http/2"
When the HTTP connection manager codec is set to type AUTO, it searches the first buffer on the connection for the string `PRI * HTTP/2`. If that string occurs anywhere in the buffer, Envoy attempts to negotiate HTTP/2 and fails. If the string appears in an HTTP header or request body it can trigger HTTP/2 incorrectly.

*Repro steps*:

Start envoy with the config below and issue a request containi

[2019-09-13 09:01] anastayaa commented on #8222
@junr03 thanks for the response. I'm using service mesh to communicate between microservices, for example we have two microservices, and when we start each microservice we start with it an Envoy data plane. the problem is when i want to start the second service, Envoy can't run

[2019-09-13 09:54] #7830 closed

[2019-09-13 13:28] mattklein123 commented on #8223
cc @HenryYYang

[2019-09-13 15:38] stevenzzzz opened #8236 "SRDS: return Router::NullConfigImpl if no scope found."
*Title*: Let no-scope queries go through the filter chain when scope not found, currently it sends a 404 via sendLocalReply.

*Description*:

This update will allow some special purpose query (e.g., data-plane Health check queries) pass through the filter chain and gets handled by the filter chain correctly.

[2019-09-13 15:38] stevenzzzz commented on #8236
/assign stevenzzzz

[2019-09-13 16:57] junr03 commented on #8222
From your error it looks like you are running both services (and their corresponding envoy process) on the same machine, is that correct?

Did you take a look at the linked issue, is your issue like that one?

[2019-09-13 17:06] zuercher commented on #8167
That seems like a reasonable feature to add.

[2019-09-13 17:19] anastayaa commented on #8222
Yes you are right i'm trying to run two microservices in the new kuma service mesh witch use Envoy like a dataplane

[2019-09-13 19:20] temporafugiunt commented on #8167
@zuercher Thank you, that is a good idea and I will try that!

Sorry for the n00b question... But can you recommend any good documentation resources on how to debug envoy to determine root cause for an issue like this? If not I will have a discussion with Dr. Google for a while to see if I can find something.

[2019-09-13 20:00] zuercher commented on #8167
I would enable debug logging (`-l debug`). You should be able to see the request and response headers for both the downstream and upstream requests. Beyond that, you might have better luck asking in the Envoy slack channel (with logs & config snippets) or else opening a separate issue.

[2019-09-13 21:08] jyotimahapatra opened #8241 "xds timeout stats"
*Title*: *Need a way to figure the p99 xds initial fetch time*

*Description*:
We are investigating a slowness in envoy's `initialization_time_ms` p50 percentiles.
From our investigation it looks like it is mostly due to the slowness of xds endpoints(most probably eds). However there are no granular stats today to tell if cds/eds is causing the slowness and by how much.
Also, we want to configure

[2019-09-13 21:13] jyotimahapatra commented on #8241
i figure we can use a mechanism similar to this https://github.com/envoyproxy/envoy/blob/master/source/server/server.cc#L300

[2019-09-13 22:15] hfgbarrigas commented on #8213
Thank you clarifying!

[2019-09-13 22:15] #8213 closed

[2019-09-13 22:34] #8241 closed

[2019-09-14 03:46] alochym01 opened #8245 "how to make stat_prefix per domain when envoy as reverse proxy"
envoy as reverse proxy for 2 domains: abc.com, xyz.com
there is only 1 `stat_prefix: ingress_http`
how to assign:
- `stat_prefix: ingress_http_abc` for abc.com
- `stat_prefix: ingress_http_xyz` for xyz.com

envoy.yaml config
[code]

[2019-09-14 07:11] #7794 closed

[2019-09-14 15:59] sergeynilov opened #8246 "I provide password in envoy script but it prompts to enter password manually"
Hello!
With laravel 5.8 envoy command I deploy on remote server and I set password in command line, like:

[code]
and envoy file:

[code]

With credentials in @servers block I expected I will not have to enter password manually, but in command line I see prompt to enter password. I output $server_login_user and $lardeployer_password vars and they have valid values.

Which is valid path ?

[2019-09-15 02:13] rocks4530 commented on #5357
@jcr010910 the proposed solution may be working.
But we will love to see the original issue to be fixed.

[2019-09-15 09:00] liorlevtov opened #8247 "http/1.1 protocol error: HPE_INVALID_METHOD"
*Description*:
I'm exporting legacy service which uses CUSTOM HTTP METHODS XX_IN, YY_OUT which is being used for HTTP polling (the days before WebSockets). does envoy support such a methods?

I'm able to get a page successfully but when using those custom methods I get the following error

my setup is include service (with 1 or 2 instances) and ssl termination.
static_resources:
  listeners:
  - a

[2019-09-15 16:37] gnz00 commented on #886
From the feedback I received, I need to revisit the implementation to
create a map of well known protocols to their common port, and only attempt
to resolve those.

I haven’t had any time lately to revisit this and for my real world
implementation, I’ve just added a wildcard match for the port to my
VirtualHost configurations that are propagated via my control plane.

As this is totally resolvable

[2019-09-15 20:48] #7866 closed

[2019-09-15 21:26] mattklein123 commented on #8219
Fixed in https://github.com/envoyproxy/envoy/pull/8221

[2019-09-16 08:01] yittg commented on #8224
@mattklein123 Does this mean that this feature is accepted, I think it's a proper beginner task to get involved in, I would like to start from it if no one else is working on it.

[2019-09-16 09:14] perlun opened #8249 "Envoy does not release healthcheck log fd on SIGUSR1"
*Title*: *`http_health_check` log file descriptor is not being released on SIGUSR1*

*Description*:
After rotating the logs and sending a `SIGUSR1` to the `envoy` process (technically, to the hot restarter script), we are still seeing healthcheck logs being written to the old (rotated) file. This is validated by looking at the list of open files by the `envoy` process:

[code]

*Repro steps*:
`env

[2019-09-16 09:43] brunsgaard commented on #2692
@silencehe09 @aa-stripe GCP Stackdriver Logging would also work out of the box if integer values could be represented as integers in the json log output.

[2019-09-16 10:57] vgsub opened #8250 "Ext_authz and lua filters in one filter chain"
Hi guys,

I'm trying to add ext_authz filter to the existing filter chain that already have LUA filter. I've faced with a problem, that my auth filter is not invoked. If I change cluster_header to cluster in routes config, ext_authz works. Is there any way to make them work togother? I just want to invoke my auth service before futher processing.

Here is my config snippet:

[code]

[2019-09-16 11:32] fatihusta opened #8251 "[Question] How can I filter json body in lua?"
Hi,
I'm trying to filter json body in POST request.
When I test statically it works. But didn't work with request body.
When I print request:body type return userdata type. How can I decode JSON request body in Envoy with Lua?
Where is my mistake?

Note: I'm newbie in lua.

Thank you.

Statically
[code]
Result
[code]

With request body
[code]

Debug Log

[code]

[2019-09-16 13:01] alyssawilk opened #8252 "ListenerManagerImplQuicOnlyTest.QuicListenerFactory flaky"
Looks like this test is failing occasionally.  Dan, would you mind taking a look?  If you have trouble reproducing, there's a README about flaky integration tests which might help, or you can reach out to me.

Sample runs:

https://circleci.com/gh/envoyproxy/envoy/276808?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification
https://circleci.com/gh/envoyproxy/envoy/276812?utm_campai

[2019-09-16 13:21] alyssawilk opened #8253 "See if we can auto-detect deprecated values"
See discussion on #8207

[2019-09-16 13:45] csssuf commented on #8219
Oops, I see now that I used the wrong title in this issue, sorry! My understanding was that there's some refactoring of the `OutlierDetection` message itself that's desired; #8221 was more of a mechanical fix.

[2019-09-16 14:11] alyssawilk opened #8255 "SslSocketTest.RsaPrivateKeyProviderSyncSignFailure flaky"
Ismo, I think you have the most context on this test - would you be able to take a look?

I can repro locally with
bazel test //test/extensions/transport_sockets/tls:ssl_socket_test --runs_per_test=1000
but if you have trouble the extra flags in test/integration/README.md deflaking section might help.

Sample failure:
https://circleci.com/gh/envoyproxy/envoy/276851?utm_campaign=workflow-failed&utm

[2019-09-16 15:20] danzh2010 commented on #8252
This is caused by non-matching static registered class name in well_known_names enum and test config. It is actually a constant failure rather than flakiness. I fixed it in the new commit https://github.com/envoyproxy/envoy/pull/7896/commits/ce75217163926e9966e232f060d00af6af765364. Thanks for pointing it out!

[2019-09-16 15:22] danzh2010 commented on #8252
/close

[2019-09-16 15:22] danzh2010 commented on #8252
close #8252

[2019-09-16 15:41] alyssawilk commented on #8252
Ah, my bad, was just scanning build breakages this morning and it hadn't looked consistent

[2019-09-16 15:41] #8252 closed

[2019-09-16 15:57] mattklein123 commented on #8224
@yittg yes please go for it.

[2019-09-16 16:01] mattklein123 commented on #8219
Oh right, sorry, let me reopen and I will add some more detail.

[2019-09-16 16:23] zuercher commented on #8246
I think you probably want the https://github.com/laravel/envoy project. This repository is for the Envoy proxy.

[2019-09-16 16:37] zuercher commented on #8247
Custom HTTP methods are not supported.

[2019-09-16 16:38] zuercher commented on #8249
That looks like a bug.

[2019-09-16 16:40] deryck1031 opened #8256 "getting bad gold linker value"
**WARNING: If you want to report crashes, leaking of sensitive information,
and/or other security issues, please consider
[reporting them using appropriate channels](https://github.com/envoyproxy/envoy#reporting-security-vulnerabilities).**

**Issue Template**

*Title*: *getting bad gold linker value*

*Description*:

    gcc: error: unrecognized command line option '-fuse-ld=--enable-gold=yes'

t

[2019-09-16 16:40] #8256 closed

[2019-09-16 17:21] objectiser commented on #8224
@yittg One additional requirement, if I may - it would be good to also enable the tag's value to be obtained from environment variables. So if you could support some form of syntax like `"tagName1=tagValue1,tagName2=${envvar2},tagName3=${envvar3:defaultVal3}"`. So `tagName2` would be set if the environment variable `envvar2` has a value, and `tagName3` would be set to the env variable `envvar3` if

[2019-09-16 18:09] mattklein123 opened #8257 "security policy: allow orgs on early distribution list if they smoke test risky changes"
This issue tracks a discussion/proposal on whether we should allow organizations to join the security pre-announce distribution list in exchange for smoke testing risky patches, both security and otherwise. It comes up occasionally that we need folks to test risky changes (e.g. the new buffer implementation) and this would be a way of getting that testing in exchange for early knowledge of securit

[2019-09-16 19:16] ahmedelbazsc commented on #4602
Thanks @mattklein123 for the details here. A few points to clarify:

Do you expect the bottleneck originates in the egress path `[service -> egress Envoy -> upstream service]` or we see the same behavior with direct response from service even when no upstream is involved? If the former, curious if there is a single persistent connection between the upstream callee (service) and its local egress En

[2019-09-16 19:48] ipuustin commented on #8255
@alyssawilk: Thanks, I can reproduce the issue, and I have a potential fix to the test (it seems that the method for generating an artificial crypto error wasn't very robust). I'll try to prepare a PR when I get the 1000-test run passing.

[2019-09-16 19:50] #8236 closed

[2019-09-16 19:59] alyssawilk commented on #8255
Awesome, thanks so much for diving on this!

[2019-09-16 20:07] sabiurr commented on #8223
Followup question : Does envoy support the SSL connections using the redis protocol in the first place?

[2019-09-16 20:42] htuch commented on #8174
@kyessenov so, it would be safe to just rename them to `pkg` en masse, without any Go source-level breaking changes? If so, I reckon let's just do that.

[2019-09-16 20:51] lizan opened #8259 "outlier detection: max_ejection_percent interfered by stats matcher unexpectedly"
*Description*:
From https://github.com/istio/istio/issues/17004,

(https://github.com/envoyproxy/envoy/blob/38b926c63f347a70c933e0854ee9f31b1d2e85ce/source/common/upstream/outlier_detection_impl.cc#L420)
 `cluster.outbound|80||asm-test-http.default.svc.cluster.local.outlier_detection.ejections_active`  to record the count of the pods that be ejected in the cluster now

[code]

so the counter eject

[2019-09-16 21:11] ascheglov opened #8260 "gRPC metadata gets modified when key is an inline header"
Headers like

    authorization: a
    authorization: b
    x-some: c
    x-some: d

will be proxied as

    authorization: a,b
    x-some: c
    x-some: d

Because `HeaderMapImpl::addViaMove` calls `appendToHeader` for inline headers.

This is fine for HTTP/1.1,
this is somewhat questionable for HTTP/2, as RFC7541 (HPACK) says that "the order of header fields is preserved",
and this is unexpected

[2019-09-16 21:12] zuercher commented on #8249
So the only thing I see is that we loop on the flush timer event. We'll break out of the loop if there's data to be written or if an exit was requested. Seems like it should also check for reopen-requested.

[2019-09-16 22:24] #8246 closed

[2019-09-16 22:47] llchan opened #8262 "direct_response precedence over CORS pre-flight response"
When using `direct_response`, it _seems_ to take effect with higher precedence than the `envoy.cors` filter, even if `envoy.cors` is first in the `http_filters` list.

My http config is essentially:
[code]

If I change `direct_response` to a `route` to a dummy cluster, a pre-flight OPTIONS request returns the right cors response, but with `direct_response` the response is the 200 even for the pre-

[2019-09-16 22:48] bcelenza commented on #8042
Given PR #8067 is merged and the [live docs](https://www.envoyproxy.io/docs/envoy/latest/configuration/security/secret) appear to be updated, I'll close this issue. Please re-open and let me know if I've missed anything else.

Thanks all!

[2019-09-16 22:48] #8042 closed

[2019-09-16 23:08] zuercher commented on #8251
`request_handle:body()` doesn't return a string. It returns a [buffer wrapper](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/lua_filter.html#config-http-filters-lua-buffer-wrapper).

So jsonString ends up with a value that looks like `userdata: 0x01fda8b0` and the json parsing fails.

Try this instead:
[code]

[2019-09-16 23:21] zuercher commented on #8250
Is you config missing an `envoy.router` filter? (Or is it just not in your snippet?) Otherwise, I recommend enabling debug logging to see if that sheds any light on what's happening. I can't think of any reason why the ext_authz and lua filters wouldn't work in this configuration.

[2019-09-17 01:49] yittg commented on #8224
@objectiser Got your point. I'm not quite sure why we need it, would you give some scenarios about it? 😄

[2019-09-17 02:46] cpakulski commented on #8228
Sorry, I was away - will comment within a day or two. Thanks!

[2019-09-17 04:14] #8185 closed

[2019-09-17 07:22] fatihusta commented on #8251
@zuercher thank you so much. It worked.

[2019-09-17 07:22] #8251 closed

[2019-09-17 07:25] vgsub commented on #8250
Hi Stephan,

envoy.router is in my config. I've solved my issue yesterday by moving ext_authz filter after lua. So, my full filter chain is like: lua ->cors -> jwt -> ext_authz. It seems like workaround though - executing lua code before authenticating seems a little bit overheading, but it's acceptable for us.

Also, I've attached a log, where ext_authz filter is on top of a filter chain. I'm not

[2019-09-17 10:08] objectiser commented on #8224
For example, when deploying in Kubernetes, we may want to record the pod name - which is only available in an environment variable.

[2019-09-17 10:13] yittg commented on #8224
@objectiser Got it.
Would we introduce a struct like following to describe it instead of parsing variable.
[code]

[2019-09-17 11:21] objectiser commented on #8224
@yittg Ok sounds good.

Does this mean you are looking to replace the `request_headers_for_tags` as well? If so,

1. Consolidating into the one configuration seems reasonable as long as enough time is given to deprecate the old mechanism.
1. Previously I remember someone requesting the ability to rename a tag based on a request header - which wasn't possible with the current approach - but if the

[2019-09-17 11:29] yittg commented on #8224
@objectiser Thanks for your reply.
I think it's a good idea to unify the inner implementation. But I'm not quite sure whether to expose user with clear extendable structure or simplified expression.

[2019-09-17 16:56] sabiurr commented on #8223
@HenryYYang friendly bump

[2019-09-17 19:19] zuercher commented on #8250
If you look at the "decode headers called" lines (which come after the filter is invoked), I believe ext_authz is being called before lua. It's just not doing anything. There is an if statement in that filter's decodeHeader implementation that skips work without logging if there's no route or cluster. Thus, if you have `cluster_header: cluster` into your config and use the lua filter to set the `c

[2019-09-17 20:29] cetezadi commented on #1451
I am going to start in on this per our earlier conversation.  It'll be slow, but hopefully beneficial.

[2019-09-17 22:48] mattklein123 commented on #8219
I updated the issue description a bit to hopefully have a bit more info.

[2019-09-17 22:58] mattklein123 commented on #8262
cc @dschaller ^

[2019-09-18 00:06] tonya11en opened #8274 "adaptive concurrency: Gradient controller sampling should disregard local replies"
It's possible that local replies and healthchecks can skew the concurrency limit calculation to be larger than it should be. It would be prudent to ignore these types of requests when sampling latencies in the encoder step of the adaptive concurrency filter.

This might requre some modifications to the StreamInfo structure to identify if a request is any type of local reply.

[2019-09-18 04:10] moderation commented on #5155
May be time to revisit this. llhttp now the default in Node 12 and the team are looking to deprecate http-parser https://twitter.com/addaleax/status/1173966000175366144

[2019-09-18 09:00] objectiser commented on #8224
@mattklein123 any thoughts on this?

[2019-09-18 09:17] #8255 closed

[2019-09-18 10:15] yittg commented on #8224
@objectiser I gave a first try about this issue, though still some more work to do, :).

[2019-09-18 13:11] vgsub commented on #8250
Thanks for your answers, Stephan. I'll close the issue.

[2019-09-18 13:11] #8250 closed

[2019-09-18 13:12] vgsub commented on #8250
Issue is solved

[2019-09-18 14:30] alochym01 commented on #8245
Any suggestions

[2019-09-18 15:23] alyssawilk opened #8282 "StatsThreadLocalStoreTestNoFixture.MemoryWithoutTlsFakeSymbolTable flaky?"
Josh, could you take a look?  I don't think this failure is related to the PR it failed on ( https://github.com/envoyproxy/envoy/pull/8281)  so I think it's a random flake.

https://circleci.com/gh/envoyproxy/envoy/278531?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[ RUN      ] StatsThreadLocalStoreTestNoFixture.MemoryWithoutTlsFakeSymbolTable
test/common/st

[2019-09-18 16:10] stevesloka opened #8283 "HeaderMatcher with Regex"
*Title*: HeaderMatcher with Regex

*Description*:
I'm working to get a HeaderMatcher implemented with Regex. The regex match doesn't seem to work like I'd expect.

For instance, if I'm looking for a header with the string `abc` in the value, it seems to be doing an exact match vs applying the regex.

My envoy Route looks like this:
[code]

- **[Fails]** curl -i -H "x-header: aaabcaa"  http://kind.

[2019-09-18 16:35] zuercher commented on #8283
Does the version of Envoy you're running support SafeRegex? It's a relative recent addition?

[2019-09-18 16:56] zuercher commented on #8245
I don't think this is currently possible. HTTP stats are emitted per-cluster and per-listener but neither of those maps directly to domains. I believe this is intentional so that the number of metrics produced by Envoy is bounded.

[2019-09-18 17:04] #8229 closed

[2019-09-18 17:13] alyssawilk commented on #8247
Looks like a fundamental limitation of http_parser
https://github.com/nodejs/http-parser/blob/master/http_parser.c#L953

Apparently longstanding too, as I see a 5 year old custom patch workaround which was never submitted: https://gist.github.com/indutny/3403029c5815fd0799ee

@AndresGuedez

[2019-09-18 17:17] alyssawilk commented on #8183
At first glance that sounds like a viable workaround but my intuition says this is something we may want as a core Envoy feature.
For Envoy cloud providers, customers are likely going to specify their own routes, and the likelihood of the majority of them doing this is roughly zero.    Basically I think loop detection ought to be a global configuration option rather than a per-route thing.

@htuch

[2019-09-18 17:30] htuch commented on #8183
In general, I'm an API minimalist and would recommend the solution @zuercher expressed. I agree with the point that @alyssawilk makes, but I lean on the API philosophy that we are creating a machine expressible language, and that UX improvements should be reflected in frontends to xDS. We're not exactly consistent with this, and @mattklein123 leans closer towards balancing UX with minimalism.

[2019-09-18 17:45] sabiurr commented on #8223
Unsure if this helps but I modified the config file to connect to a single encrypted redis node instead of using redis cluster proxy and I am able to query redis through envoy however the connection seems to be opened and closed for every request from logs

Logs
[code]

envoy.yaml
[code]

[2019-09-18 17:55] zuercher commented on #8262
This happens because the CORS filter checks for a route and route entry:

[code]

In this case, the routeEntry returns nullptr, but `decoder_callbacks_->route()->directResponseEntry()` wouldn't.

[2019-09-18 17:57] moderation commented on #8247
I added a comment to https://github.com/envoyproxy/envoy/issues/5155#issuecomment-532510229 yesterday as it looks like http-parser is going to be deprecated sooner rather than later.

[2019-09-18 17:57] stevesloka commented on #8283
Hey @zuercher you are correct, I was looking at the 1.12 docs and I'm running 1.11.1, so that answers the first question about why the saferegex wasn't working. Thanks!

I still don't understand why the regular regex doesn't match.

[2019-09-18 18:00] zuercher commented on #8183
It could also be implemented as an HTTP filter, I think.

[2019-09-18 18:08] zuercher commented on #8283
[Per the docs](https://www.envoyproxy.io/docs/envoy/v1.11.1/api-v2/api/v2/route/route.proto.html#envoy-api-field-route-headermatcher-regex-match), the regex has to match the entire string. If you want to match the a substring you'll have to use `regex_match: ".*abc.*"`.

[2019-09-18 18:11] stevenzzzz opened #8284 "integration_test: make http_subset_lb_integration_test IP version environment aware"
*Title*: make http_subset_lb_integration_test IP version environment aware

*Description*: right now it fails on IPv6 only machines.

*Repro steps*:

[2019-09-18 18:11] stevenzzzz commented on #8284
/assign stevenzzzz

[2019-09-18 18:16] stevesloka commented on #8283
Ahh I that makes sense now, thanks for clarifying! Sorry for the trouble, I think I've been looking at the docs too long. =)

Appreciate the help, all is working now!

[2019-09-18 18:16] #8283 closed

[2019-09-18 18:43] alyssawilk commented on #8078
I think this may be a bug.  I wouldn't expect  "http://foo.com" to be a valid path.  I think that'd imply we could have a url http://http://foo.com which I'm pretty sure isn't actually valid.  I suspect what's happening is that http_parser (which handles absolute urls) is treating it as a url and we don't do path validation because we trust http parser, so I think I should just go ahead and fix th

[2019-09-18 19:15] alyssawilk commented on #8078
Actually @snowp can you talk more to this problem?
https://github.com/envoyproxy/envoy/blob/master/source/common/http/conn_manager_impl.cc#L734
should be rejecting everything that isn't relative.
If allow_absolute_url is on, the h1 codec should be breaking absolute urls into the relative components.  If it's off, we should fail checks in decodeHeaders and sendLocalReply.

[2019-09-18 19:16] PiotrSikora commented on #8078
`http://foo.com` (i.e. `GET http://foo.com HTTP/1.1`) is a valid form (see: [RFC7230, sec. 5.3.2](https://tools.ietf.org/html/rfc7230#section-5.3.2)).

However, it should be split into `:scheme`, `:authority` and `:path` before it's passed to HCM.

I didn't look at the code, but from what @snowp is saying, it seems that's happening with `allow_aboslute_url: true`, but with `allow_aboslute_url: fal

[2019-09-18 19:27] alyssawilk commented on #8078
Right, everything is passed through, and then immediately rejected by the HCM early on in decodeHeaders, as far as I can tell

TEST_P(IntegrationTest, BadPath)
verifies that the link above is blocking
[C1][S11522070672761765734] Sending local reply with details absolute_path_rejected

Snow: is it possible you read the 404 as your matchers not matching rather than the URL being rejected as absolute

[2019-09-18 19:31] snowp commented on #8078
We sere seeing the `REQ(:path)` access log segment display "http://...", which lead to the conclusion that it was the full URL being used as `:path` when computing the route, so it ended up not matching any of our routes (including our fallback `match_prefix: /`).

[2019-09-18 19:52] stevenzzzz opened #8286 "fix the broken test/common/crypto/utility_test"
**Bug Template**

*Title*: fix the bug in common/crypto/utility.

*Description*:

"allocated with new being deallocated with free"
It's because around source/extensions/common/crypto/utility.cc:62
The wrapper is a dynamically cast pointer to the referenced "key" obj, in this case it's a PublicKeyObject() object "new-d" in the crypto/utility_test.cc
[code]

*Repro steps*:

[2019-09-18 20:08] rene-m-hernandez opened #8287 "Protobuf definition causing Java compilation issues"
This change causes conflict when attempting to compile the proto objects due to a duplicate outer classname: https://github.com/envoyproxy/envoy/pull/7896/files#diff-4c87225965fc01abe93665952e63ada9R5

cc: @danzh2010 @snowp

[2019-09-18 20:15] alyssawilk commented on #8078
gotcha.
this might lead to confusing access logs, but treating the full url as an invalid path is how absolute url lack-of-support has always been implemented.  Even if you match * it's going to 404 due to the linked code.

we could flat out reject it in the codec instead, which AFIK would mean you had no logs data as the stream won't have gotten headers.

[2019-09-18 20:17] zuercher commented on #8282
Saw this on a docs-only PR as well (#8285).

[2019-09-18 20:22] jmarantz commented on #8282
It had been stable I think since June.  I'd love to know what possible sources of non-determinism there might be that could affect this fairly narrow test.

I'm imagining it might be something else recent that got checked in.

[2019-09-18 20:23] PiotrSikora commented on #8078
Is there any reason that we don't allow absolute-form by default?

[2019-09-18 20:24] jmarantz commented on #8282
and in fact the unexpected behavior is that it consumed 336-288 = 48 *fewer* bytes than the golden value.

[2019-09-18 21:03] jmarantz commented on #8282
I have a theory; there are actually real threads happening in this test, although they have nothing to do with the test.

TestRunner::RunTests() instantiates ProcessWide which runs grpc_init() which ultimately calls pthread_create(). In fact it create 3 threads. I suspect there's some allocation going on in there in parallel to the test body, adding some (rare) flakiness.

[2019-09-18 21:27] #7895 closed

[2019-09-18 21:50] jmarantz commented on #4815
@cpakulski I totally overlooked that there is already a header-map microbenchmark:
test/common/http:header_map_impl_speed_test

I'm hoping you saw that before spending too much time writing a new one. Results on my machine:
[code]

[2019-09-18 22:27] #7893 closed

[2019-09-19 01:31] jmarantz commented on #8282
Possible cause: https://github.com/envoyproxy/envoy/pull/8196 -- maybe that new version of gRPC made threads active in the background, which is obviously harmful to memory tests.

[2019-09-19 01:45] jmarantz commented on #8282
Running
[code]
fails 7/100 times. If I comment out the calls to `grpc_init()` and `grpc_shutdown()` in `source/exe/process_wide.cc`, I see 0 failures.

[2019-09-19 01:50] jmarantz commented on #8282
@htuch WDYT about calling grpc_init/grpc_shutdown from the ctor/dtor of GoogleAsyncRequestImpl ?

That would keep it more constrained and avoid having it run threads over the top of unrelated tests?

[2019-09-19 02:19] ramachaitanyak opened #8291 "Socket options wrapper: Expose configuring socket options through envoy at Filters"
*Description*:

https://linux.die.net/man/7/socket
(eg: SO_RECVBUF, SO_LINGER, etc. ..).

Would you folks think it is useful for envoy to expose an API (wrapper on `setsockopt` and `getsockopt`)available at a filter (l4/l7) abstraction to configure these settings?

I have a variation of this implementation used for an internal project. Let me know if this is something that is interesting for upstr

[2019-09-19 02:24] zhizhen5 commented on #7007
also interested +1 :)

[2019-09-19 02:31] ramachaitanyak opened #8292 "Tarpit: HTTP DDOS mitigation through envoy"
*Description*:

I have tested the implementation on envoy with about 200,000 concurrent connections and 20k-40k requests per second on CPU utilization, memory usage and network bandwidth utilization on both attacker and server side.

This implementation on envoy utilized tuning the socket receive buffers and receive buffer low watermarks. It is different than the one implemented in the kernel, hoo

[2019-09-19 03:07] mattklein123 commented on #8245
One thing you could do is use "virtual clusters." This is not a perfect solution but might work for you.

[2019-09-19 03:15] mattklein123 commented on #8291
For the L4 filter stack, yes this sounds like a worthwhile proposal. For the L7 filter stack, I don't think so. Can you potentially provide a complete proposal? Thank you.

[2019-09-19 03:17] mattklein123 commented on #8292
This is something that I would like to see in Envoy, but optimally most of this would be implemented as an independent set of filters. Can you work on a full design proposal?

[2019-09-19 03:18] #8249 closed

[2019-09-19 03:36] #8046 closed

[2019-09-19 03:51] #8151 closed

[2019-09-19 03:56] mattklein123 commented on #8284
Fixed

[2019-09-19 03:56] #8284 closed

[2019-09-19 05:38] #3383 closed

[2019-09-19 10:23] alochym01 commented on #8245
@mattklein123 are you mention https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/route_matching

1. The HTTP request’s host or :authority header is matched to a virtual host.
2. Each route entry in the virtual host is checked, in order. If there is a match, the route is used and no further route checks are made.
3. Independently, each virtual cluster in the virtual host i

[2019-09-19 10:36] dzolotusky commented on #6334
@lizan @mattbailey is there any update on this? I'd be happy with some documentation on how to generate this manually for now. Though, I don't think that that exists at the moment.

[2019-09-19 11:28] ianzhang1988 opened #8295 "How can I config envoy proxy to failover when some upstream being unreachable"
Hi,
I'm new to this, so please bear with me.

What I am trying to do is use envoy as a sidecar proxy for grpc, I have following configuration, basically route grpc client to two service :
[code]

This worked fine, when both service is up and running, but when I stop one service, client call would fail with following log:
[code]

So, How can I config envoy to deal with this scenario?

[2019-09-19 13:06] alyssawilk commented on #8078
Orthogonal from how to make this behavior less confusing when we disallow:

I'm failing to find where it was added but as I recall it was a high-ish risk PR (we didn't fully trust the url splitting utility) and we didn't yet have runtime overrides, so we made it a config option and defaulted to the old, safe, behavior.  There was at least one bug with url parsing (I think it was that query paramet

[2019-09-19 15:38] Remz-Jay opened #8297 "How do I make envoy log to the systemd journal other than using /dev/stdout?"
*Description*:

I'm trying to make Envoy output access logs to my Systemd Journal rather than to a file.

Following #1291 i tried setting `envoy.http_connection_manager.access_log.config.path` to `/dev/stdout`.
This works when I manually run Envoy using `/usr/bin/envoy --config-path /etc/envoy/config.yaml`, but fails when started through `systemctl` with error:

[code]
Turns out that `stdout` is a

[2019-09-19 16:45] zuercher commented on #8295
At a basic level you should configure [retries](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/http_routing#arch-overview-http-routing-retry) so that the request can be retried on another host.

After that, you can configure [health checking](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/health_checking#arch-overview-health-checking) and/or [outlier

[2019-09-19 16:56] cpakulski commented on #4815
Thank you! I was mostly analyzing implementation code hoping to write benchmark in few days. Good timing!

[2019-09-19 17:27] #7899 closed

[2019-09-19 17:30] mattklein123 commented on #8078
Sure makes sense to me to default to on at this point.

[2019-09-19 18:17] mattklein123 commented on #8183
FWIW this sounds like a good filter candidate to me.

[2019-09-19 19:16] lizan commented on #6334
@mattbailey Fix for #3383 is merged yesterday.

[2019-09-19 19:46] lita opened #8299 "Setting runtime fraction of numerator 0 and FractionalPercent_HUNDRED for RequestMirrorPolicy ends up using FractionalPercent_THOUSAND"
**WARNING: If you want to report crashes, leaking of sensitive information,
and/or other security issues, please consider
[reporting them using appropriate channels](https://github.com/envoyproxy/envoy#reporting-security-vulnerabilities).**

**Issue Template**

*Title*: *Setting runtime fraction of numerator 0 and FractionalPercent_HUNDRED for RequestMirrorPolicy ends up using FractionalPercent_TH

[2019-09-19 20:17] mattbailey commented on #6334
Yeah, and it's awesome, been watching it, I just haven't checked whether it maps to what is generated by protoc-gen-swagger yet.

[2019-09-19 20:50] aa-stripe commented on #2692
I think that's a reasonable request - I took a brief look at the code, and this will probably require getting a bit creative with how we populate the output map, considering that things will now be providing different data types. We'll also need to maintain backwards compatibility of the old log formatters for string logs. One idea off the top of my head is to add a function on each formatter that

[2019-09-19 21:44] lizan opened #8301 "Better control on xDS deduplication based on protobuf"
From discussion in https://github.com/envoyproxy/envoy/pull/8231#discussion_r324191998

Key take aways:
- Prefer using version_info instead comparing new xDS delivered config with existing one, this also solves https://github.com/envoyproxy/envoy/issues/7676

- Add a UUID in ConfigSource for deduplication, instead of hashing `ConfigSource` proto to automatically dedup. This means RDS/SDS ConfigSou

[2019-09-19 23:21] mattklein123 commented on #8301
For discussion, what I said is slightly different, which is to make sure that every resource has a name to use for hashing and lookup, and then use the message differencer Envoy side to look for changes.

[2019-09-20 01:37] veshij opened #8302 "http: Allow upper bounding lifetime of downstream connections"
*Description*:
We use envoy as user-facing edge proxy behind lvs/ipvs.
During the restart of the envoy proxy connections tend to migrate to other processes.
This leads to cascading load imbalance (the last process to restart has most connections, typically several times more than in steady mode).

Does it make sense to add configuration option to HTTP Connection Manager to gracefully drain a conne

[2019-09-20 01:40] splilly1987 commented on #7007
also interested! +1

[2019-09-20 02:22] stevenzzzz opened #8303 "rds: make RouteConfigProvider shared among ListenerImpls, or move factory_context_ outside of Listener."
*Title*: To resolve issues like #7923, or migrate RDS to config-provider-framework, we need to make sure RdsRouteConfigProvider "Listener independent".

*Description*:

If we want to save memory on dedup the copy of RDS route config providers (e.g., #7923 ), we would need to make sure the referenced FactoryContext outlives a ListenerImpl.

Besides that, a RDS Subscription is held globally (weak_pt

[2019-09-20 04:23] ramaraochavali commented on #8295
https://www.envoyproxy.io/docs/envoy/latest/faq/transient_failures - This also explains how to handle transient failures

[2019-09-20 04:43] ianzhang1988 commented on #8295
This helped, Thanks for the answer 😊.

Although,

This, got me no where, I tried follow two configuration:
[code]
no one worked.

What I am missing? 😂

[2019-09-20 04:49] llchan opened #8304 "protoc with Non-standard Compiler Toolchain"
In the [docs](https://github.com/envoyproxy/envoy/tree/master/bazel#using-a-compiler-toolchain-in-a-non-standard-location), it says it's possible to use a non-standard compiler by specifying `CC`/`LD_LIBRARY_PATH`.  However, this seems to break host tools:
[code]
Running bazel with `-s`, it seems that `protoc` is compiled with the non-standard compiler but executed in a `exec env -` environment wi

[2019-09-20 05:38] lizan commented on #8304
@llchan can you provide more context of your environment?

Try passing `--action_env=LD_LIBRARY_PATH`, that will propagate LD_LIBRARY_PATH when bazel executes the specified compiler.

[2019-09-20 07:49] dzolotusky commented on #6334
OK, thanks. It'd be great to have something simpler than using protoc-gen-swagger, but that's a good start for now.

[2019-09-20 08:51] mderazon commented on #4613
One use case for this:
datawire/ambassador/issues/1847

[2019-09-20 09:14] alochym01 commented on #8245
i try to config virtual_cluster and it works but not with 100% satisfied

hope it helps for someone

the envoy.yaml config
[code]

[2019-09-20 09:19] kenju commented on #4724
@githubYasser

Thanks for the nice suggestion :clap:

My question is, below line returns Lua's [userdata](https://www.lua.org/pil/28.1.html), which means that has few useful information for debugging since it shows just a single pointer.

[code]

This line will show something like this:

[code]

And, even if you send the data  to fluentd, I though it will be "userdata: 0x418dcf88" string, correct?

[2019-09-20 09:52] #7910 closed

[2019-09-20 09:55] ChangyuWang opened #8305 ""no cluster match for URL" error for grpc service"
**WARNING: If you want to report crashes, leaking of sensitive information,
and/or other security issues, please consider
[reporting them using appropriate channels](https://github.com/envoyproxy/envoy#reporting-security-vulnerabilities).**

**Issue Template**

*Title*: *no cluster match for URL*

*Description*:
envoy version: 1.10

[optional *Relevant Links*:]

**Bug Template**

*Title*: *no clus

[2019-09-20 10:36] alochym01 commented on #8245
i check the metrics and see envoy_virtual_cluster="other"
envoy_vhost_vcluster_upstream_rq{envoy_response_code="200",envoy_virtual_cluster="other",envoy_virtual_host="abc"} 2750

how to assign envoy_virtual_cluster name

thank you

[2019-09-20 13:40] kenju commented on #4724
FYI

I created a reproducible repository to show how to log HTTP POST body using [Lua's HTTP Filter](https://www.envoyproxy.io/docs/envoy/v1.9.0/configuration/http_filters/lua_filter#httpcall).

https://github.com/kenju/envoy-lua-filters-sample

Hope it helps anyone who has same problems with us.

[2019-09-20 14:05] andrewtikhonov commented on #7025
Activity

[2019-09-20 16:22] zuercher commented on #8295
Possibilities include:
- the health check `no_traffic_interval` defaults to 1 minute, so until the cluster receives traffic health checks will happen once per minute, not once per second.
- the default `common_lb_config.healthy_panic_threshold` is 50% -- if more than 50% of hosts are unhealthy, the global panic state will be set and all hosts will be used

check the stats: metrics prefixed with `c

[2019-09-20 16:22] TheSpbra1n opened #8307 "Large timings when using envoy and libjaegertracing_plugin.so for tracing"
*Large timings when using envoy and libjaegertracing_plugin.so  for tracing*

*Description*:
Hi. We use envoy with over 10000 rps in one cluster.  Typically, the query time is kept at:
- full request time(serviceA -> envoy -> serviceB): 0.2-0.5 seconds
- connection establishment time (envoy -> serviceB): 0.48-0.49 milliseconds

After adding libjaegertracing_plugin.so ( www.envoyproxy.io/docs/envoy

[2019-09-20 16:32] zuercher commented on #8302
Sounds like you're asking for a "max connection age" or "max requests" features for http connection manager.

You could also look at using the hot restart mechanism to avoid shutting down listeners. There may periodically be versions of Envoy that cannot be upgraded with hot-restart, though.

[2019-09-20 16:39] zuercher commented on #8305
Is the cluster `outbound|80|s1|eipbinding-service.prj-vnpd-uver2-dev.svc.cluster.local` present? You can curl the admin interface's `/clusters` endpoint and see if it exists.

[2019-09-20 16:43] veshij commented on #8302
Yes, "max connection age" sounds right.

Even with hot restart we'll see imbalance for nodes being allocated/rebooted.

[2019-09-20 16:55] zuercher commented on #8299
The bug is here: https://github.com/envoyproxy/envoy/blob/master/source/common/router/config_impl.cc#L182

The code does not distinguish between a) the deprecated RequestMirrorPolicy.runtime_key field being set with no RequestMirrorPolicy.runtime_fraction and b) RequestMirrorPolicy.runtime_fraction where numerator = 0.

[2019-09-20 17:07] jmarantz opened #8308 "stats: Add some modest UX to admin /stats page"
The Envoy stats system is designed to be connected to a rich statistics visualization system via a stats-sink.

However it might be nice even when looking on a single admin site, without having hooked up other visualization systems, to get a richer view of those stats. It's a balance of course because anything really rich should be handled by a dedicated system. But I just wanted to get a taste-te

[2019-09-20 17:11] lita commented on #8299
Yeah, there is no rush on Lyft's end, as I have change the control plane to use TEN_THOUSAND as a workaround. But wanted to document it. This would be a good starter task for a beginner to do.

[2019-09-20 17:20] mattklein123 commented on #8308
@jmarantz my gut check is this should be an extension. Today I don't think explicitly allow statically loadable admin extensions, but I think it would be pretty trivial to do.

[2019-09-20 17:24] lambdai commented on #8303
Thank you for writing the summary!

WRT InitManager:
It's arguable if the current usage of InitManager is in a good shape. I am seeing
1) undefined behavior: Adding target to initialized InitManager (@ vhds)
2) not adding target to another init manager (@ reusing subscription)
I think we need SharedTarget(see my prototype [here](https://github.com/lambdai/envoy/commit/1da5cbee4df2492febd6e5c5a1908

[2019-09-20 17:28] zuercher commented on #8299
The other half of the breadcrumb is https://github.com/envoyproxy/envoy/blob/master/source/common/router/router.cc#108

[2019-09-20 17:30] stevenzzzz commented on #8303
Thanks for the list, I think except for the per_filter_configs_ in
routeEntry, everything else is simply delegated to Server::Instance from a
ListenerImpl.

On Fri, Sep 20, 2019 at 1:24 PM Yuchen Dai <notifications@github.com> wrote:

--
Xin Zhuang

[2019-09-20 17:30] jmarantz commented on #8308
I like the idea of allowing extensions to add custom admin endpoints. It seems like that might be pretty useful, though most of them probably can do what they need with added stats.

[2019-09-20 17:31] mattklein123 commented on #8303
@stevenzzzz @lambdai I like the idea of splitting the context into effectively a server/global context and a listener context. Can we do that first?

[2019-09-20 17:32] mattklein123 commented on #8308
We do actually allow extensions to add endpoints, see admin.h exposed via most extension contexts. This would be potentially adding specific admin extensions that are statically registered.

[2019-09-20 17:33] mattklein123 commented on #8307
cc @objectiser ^

[2019-09-20 17:37] jmarantz commented on #8308
As a reminder to myself, this functionality can also be mostly realized in an external site that just need to be told where to fetch the Envoy admin json. I think we'd need to add a access-control-allow-origin to the stats json response headers.

[2019-09-20 18:08] #5744 closed

[2019-09-20 18:21] llchan commented on #8304
I'm running on RHEL 7.5 with system gcc 4.8.5.  Envoy requires a newer gcc, so I have a gcc 8.3.0 built in a separate path.

When building, I set CC/LD_LIBRARY_PATH in the shell that's calling bazel, and that seems to be respected.  I've tried it with/without --action_env, but either way the protoc call is invoked with an empty environment.  I also tried various things like LDFLAGS=`-static-libgcc

[2019-09-20 18:27] llchan commented on #8304
Actually this could be related to https://github.com/bazelbuild/bazel/issues/4008. If that is the case, what's the best workaround? I no longer have the cc_wrapper to hijack LDFLAGS the way I used to.

[2019-09-20 18:29] objectiser commented on #8307
@mattklein123 Sorry haven't used the native approach - possibly @rnburn can help.

[2019-09-20 18:33] ramachaitanyak commented on #8291
Hello, thanks for the comments.

There are certain uses cases that we have seen where we would like to tweak the connection based on the http requests that are delivered through it. Specifically, we want to apply some intelligence based on the http headers to conserve the compute resources, memory utilization on server and preserve network bandwidth utilization.

[code]
Please let me know your opi

[2019-09-20 18:46] rnburn commented on #8307
I doubt this has anything to do with the plugin binding code (it just invokes methods on the Tracer class that the plugin returns) -- it's likely a performance problem with the jaeger tracing library.

I'd recommend using [callgrind](https://baptiste-wicht.com/posts/2011/09/profile-c-application-with-callgrind-kcachegrind.html) with envoy to generate a profile -- it will show you  where the time i

[2019-09-20 18:53] lizan commented on #8304
@llchan try pass those LDFLAGS via `--host_linkopt`, i.e. `--host_linkopt=-static-libgcc --host_linkopt=-static-libstdc++`.

[2019-09-20 19:03] TheSpbra1n commented on #8307
Thanks, I'll try

[2019-09-20 19:15] llchan commented on #8304
That worked, thanks for the tip!

We should probably still fix the mismatch between host tool compiler and host tool execution env.  Seems like CC is respected but LD_LIBRARY_PATH is not.  If it's any easier, I think it's acceptable for now to make host tools compile with the system compiler and not make that overridable.

[2019-09-20 19:31] euroelessar commented on #8302
We're using SO_REUSEPORT-based graceful deploy logic, it has exactly the same properties in regard of traffic imbalance as hot restart.

[2019-09-20 19:52] #7912 closed

[2019-09-20 23:46] #7862 closed

[2019-09-21 00:16] venilnoronha opened #8314 "Azure pipelines fail when a proto field is modified in a PR"
*Title*: Azure pipelines fail when a proto field is modified in a PR

*Description*:
When a proto field is modified via incremental commits in a single PR, the Azure pipelines fail.

*Repro steps*:
1\. Create a PR with a change in the `api/` protos. The first change should add a new field to a proto.
2\. Add another commit to the PR by modifying the type of the same field. This should cause the Az

[2019-09-21 00:46] #7748 closed

[2019-09-21 01:15] nareddyt opened #8315 "grpc-json: Handle streaming backend error cases correctly"
The grpc-json-transcoder filter does not handle errors from **streaming** backends correctly. I opened this issue to document the current and proposed downstream responses.

Note that #8009 introduced a new `convert_grpc_status` flag to deduce the HTTP response code and body from the gRPC backend error. This flag introduces another edge case (below).

I think the logic for unary responses is OK. I

[2019-09-21 01:16] nareddyt commented on #8315
FYI the behavior of the first case (streaming error with flag set) is a bug. The `convert_grpc_status` flag does not do anything.

This can be verified by adding the following test case to `//test/extensions/filters/http/grpc_json_transcoder/grpc_json_transcoder_integration_test.cc`, under the `UnaryErrorConvertedToJson` test. It will fail.

[code]

[2019-09-21 02:20] lambdai commented on #8303
My current wip on rds dedup is using the impl of `ListenerContext` but leaving the listener specific stuff unimplemented.
So ugly that I believe no one would approve.

Once I get the PR close to workable, I can propose the granular of `ServerContext`.
The idea is that server context should be naturally compatible with RDS dedup impl, unless we have a strong reason not to

[2019-09-21 02:38] Shikugawa opened #8316 "Routing rule with Lua in route_configuration"
*Title*: *Routing rule with Lua in route_configuration*

*Description*:
I want to use programmable routing configuration in route_configuration.
In my case, I want to route different endpoints by referring connection informations like HTTP Header.

For example, If we want to route two endpoints by referring `x-user-id` header, write config like this.

[code]

Run envoy with this configuration, If

[2019-09-21 03:46] x15zhang commented on #7598
Is there any plan for the issue? I also want to use source ip for hashing for tcp upstreams.
Becasue nginx support the feature:
[code]

[2019-09-21 05:17] lekkalapudi opened #8317 "How to measure the latencies incurred by envoy when processing the incoming requests"
Envoy emits various statistics with respect to request processing times, such as total duration, upstream response time, request time with respect to external authz cluster etc. When envoy proxy is integrated with external authorization system. Was just curious about the best approach to zero in on latencies incurred by envoy proxy it self in processing the request?

[2019-09-21 06:01] ramaraochavali opened #8318 "custom proxy version as stat"
Many deployments would like a custom proxy version pushed as a stat to stats sinks so that is used along with other stats to compare the behaviours. Current envoy pushes part of SHA `server.version` stat that is not fully usable if envoy version is wrapped with custom proxy wrappers.

The proposal is to introduce a new `proxy_version` field in in bootstrap config and when it is set, the `server.ve

[2019-09-21 06:02] ramaraochavali commented on #8318
@mattklein123 @htuch Do you think it is reasonable?

[2019-09-21 06:51] ravgupms opened #8319 "Envoy pre-compiled binaries not working on Windows Subsystem for Linux"
*Title*: *Envoy pre-compiled binaries not working on Windows Subsystem for linux*

*Description*:

![image](https://user-images.githubusercontent.com/32916246/65369276-c3d26600-dbff-11e9-9d90-e6165b19b315.png)

*Repro steps*:

https://www.getenvoy.io/platforms/envoy/ubuntu/

*Config*:

[2019-09-21 07:28] ChangyuWang commented on #8305
@zuercher
the cluster is present.

[code]

[2019-09-21 10:46] ramaraochavali opened #8321 "connection refused error after Envoy server state is Live"
After Envoy server state is Live, for some very short duration we get connection refused errors occasionally while accessing the egress listener port.

This is after we see the line "all dependencies initialized. starting workers".

I think this is because by the time this log line comes, Envoy got all listeners from control plane and init manager is marked "Ready" - After this Envoy creates liste

[2019-09-21 14:31] howardjohn commented on #8318
It could also be any metadata and be generic if that would be more useful, although that may be a bit overkill

[2019-09-21 15:48] hatamiarash7 commented on #7712
I had this problem too. I just changed `ADD` commands  and replace them with `COPY`

[2019-09-21 18:40] mattklein123 commented on #8314
Lets discuss in the PR in question for now.

[2019-09-21 18:40] #8314 closed

[2019-09-21 18:42] mattklein123 commented on #8321
It is technically possible that we would not mark the server live until after all listeners have started listening on their sockets, but I'm not sure it's really worth the code churn. How is this actually effecting your production deployment?

[2019-09-21 18:44] mattklein123 commented on #8318
I've always viewed sticking the SHA into a gauge is a hack, though if we already do that for operational reasons, it seems fine to me to allow that to be overridden via configuration. I think if you do allow via configuration it should be an integer though to make it clear that it is getting converted to a gauge?

[2019-09-21 18:46] mattklein123 commented on #8319
FYI this is not a platform that is likely to receive much community support. I would suggest reporting this to Microsoft.

[2019-09-21 19:53] lizan commented on #8319
@ravgupms are you on WSL 1 or WSL 2? which version are you running? stable?

[2019-09-21 20:26] lizan commented on #8319
I was able to repro this in WSL 1 but not in WSL 2. The crash is due to the RELEASE_ASSERT [here](https://github.com/envoyproxy/envoy/blob/v1.11.1/source/common/network/connection_impl.cc#L239). I think this is because WSL doesn't implement `getsockname` system call correctly in WSL 1.

@ravgupms you may want to report to https://github.com/microsoft/WSL, there are several issues around about `get

[2019-09-21 23:40] #7935 closed

[2019-09-22 01:01] nareddyt commented on #8317
Have you looked into enabling tracing? Traces should contain information about each downstream request, as well as multiple child spans for each upstream request. This information includes request method, path, timing, etc.

This would give you visual data you can manually inspect, not sure if you wanted data that's easier for other programs to read.

https://www.envoyproxy.io/docs/envoy/latest/in

[2019-09-22 02:11] ramaraochavali commented on #8321
Our liveness probes are tied to this server state - so technically it might create problems if Envoy declares it self Live but listeners are not listening sockets. I have not seen this happen in production  yet. However I have seen this happen occasionally on test systems. I am also not sure if it is worth the code churn here - so probably good to wait.

For my education, regarding my second quest

[2019-09-22 03:10] ramaraochavali commented on #8318
@mattklein123 Sorry, if it was not clear from my explanation above, actually the `server.version` is converted in to an int from git SHA like this
https://github.com/envoyproxy/envoy/blob/master/source/server/server.cc#L312

You brought up a very good point about defining it as an integer to make it clear that it is getting converted to a gauge.

Thinking about it more, since typically most of the

[2019-09-22 04:19] lekkalapudi commented on #8317
@nareddyt thanks for your response, i'm actively pursuing distributed tracing approach. Just wanted to check if there is any way to compute the same using stats generated by envoy

[2019-09-22 11:48] zefir01 opened #8322 "grpc-web decoding bug"
Hello.
Im using shema: grpc-web-typescript -> envoy:v1.11.1 -> net.core 3.0 grpc service

My proto:
[code]

Im creating requst:

[code]

then capture request by tcpdump:

[code]

Then i have a broken requst in netcore grpc service:

`{ "Username": "Password01@", "Password": "03AOLTBLQN4xCwXXT5fhM-c6xMyeX0cTx7nBlCSj6izriTAPFJCIB5NiMhixWAYzmP6HskY6kh7TX8o2sC--2cFKydafYg1Upin2qsmCo5ayDnK_9xJ33EUiH8aQ

[2019-09-22 19:37] ascheglov commented on #8315
Here is what happens in case of a trailer-only streaming error:
The transcoder filter gets `encodeHeaders` with end_stream=true, then it
asks the transcoder if it has any data to encode, and transcoder returns that `[]`.
Then since there is some response data, the filter sets its `has_body_` flag and doesn't transcode the gRPC error headers.

Well, we can fix that. There is no need to ask the tran

[2019-09-22 19:40] #7913 closed

[2019-09-22 20:51] mattklein123 commented on #8318
Sure that sounds fine. If we do that I would just make the whole thing optional and just create the stats on demand?

[2019-09-22 20:54] mattklein123 commented on #8321
I don't think it would matter as the event loop needs to run before the listeners would actually start listening, so there would still be a race condition (as the code is written today).

FWIW the readiness probes we use at Lyft actually trying to send a health check request over a listener port, which is why we have not seen this issue.

[2019-09-22 22:47] jmarantz opened #8324 "stats: counter created by name for http1/http2 codecs on every admin access"
When adding integration tests for https://github.com/envoyproxy/envoy/pull/8116 I noticed that a counter named `"http1.metadata_not_supported_error"` was created by name on every admin request. I am not sure if this impacts proxy requests as well.

Of course the `stats.counter(std::string)` methods are not called on production; this is enforced via check_format. However the stats-macros are free t

[2019-09-23 00:19] starchx opened #8325 "Could not fetch AWS metadata with KIAM"
Upgrading Envoy from v.1.9.1-prod to v1.11.1.1-prod breaks the IAM credentials fetch with KIAM. Looking at trace logs from Envoy container:

The initial request was sent to:

    http://169.254.169.254:80/latest/meta-data/iam/security-credentials

and it returns by KIAM:

    <a href="/latest/meta-data/iam/security-credentials/">Moved Permanently</a>

Then Envoy sent request to this invalid URL by

[2019-09-23 00:20] starchx commented on #8325
Full trace log attached in case it helps:

[code]

[2019-09-23 03:02] ramaraochavali commented on #8321
@mattklein123 Thanks. Will close this for now.

[2019-09-23 03:02] #8321 closed

[2019-09-23 03:03] ramaraochavali commented on #8318
Sure. We can do that.

[2019-09-23 05:16] ianzhang1988 commented on #8295
I tried this:
[code]
When I stop one service, log repeated like this:
[code]

I wander if `health_check` care about connection.

[2019-09-23 10:00] sel-vcc opened #8326 "ext_authz: Pass full downstream certificate to the external service"
*Title*: ext_authz: Pass full downstream certificate to the external service

*Description*:
This is a feature request.

Today the ext_authz filter sends the principle of the downstream X.509 certificate in the [Peer AttributeContext](
https://www.envoyproxy.io/docs/envoy/v1.11.1/api-v2/service/auth/v2/attribute_context.proto#service-auth-v2-attributecontext-peer).

In our authorization system we

[2019-09-23 10:10] sel-vcc commented on #8326
I have uploaded #8327 to aid in explanation of the change that we propose.

[2019-09-23 15:01] htuch commented on #8318
@ramaraochavali I don't think we should force semver on this particular effort, since it's likely to be confused with the Envoy semver and not everyone will want it. I would just make this a `repeated uint64` or something and synthesize stats from that. It's a weird hacky encoding, and anyone who wants it really needs to know what they are doing.

[2019-09-23 15:05] mosespx opened #8328 "Redis Proxy isn't reporting INFO (ready) to redis client"
https://github.com/luin/ioredis

the following client is looking for "Ready" state from redis using the `INFO` command
For now, the `INFO` command isn't supported in envoy and I can workaround using the `ioredis.io` option: `enableReadyCheck` but then I waive the waiting to the "Ready" event from redis cluster which can be risky.

[options.enableReadyCheck] | boolean | true | When a connection is

[2019-09-23 15:27] ramaraochavali commented on #8318
@htuch If that is the case, I would just leave it with one int and let people encode the version with in it and override `server.version` with this, if it is set. If a custom encoding is followed, I am not seeing benefit of `repeated uint64` and Envoy employing a special logic to synthesize the stats. Single int may be simpler to deal with.

[2019-09-23 15:30] howardjohn commented on #8318
@ramaraochavali I may be missing something, but how/why do we encode the version as an int? How are you making `1.2.3` into a single int? Or how are you making somethign like `06647a2aa53879cd78414131f256647fbea5e29f/1.12.0-dev/Clean/RELEASE/BoringSSL` into a single int?

[2019-09-23 15:38] howardjohn commented on #8318
In Istio control plane components we set a gauge like `istio_build{component="pilot",tag="1.3.0-152-gf39281b5b"} 1` which seems to work well. What is the benefit of an integer? I think it has a lot of limitations. For example, version `0.1.12` becomes `112` which is the same as `1.1.2`.

[2019-09-23 15:41] mattklein123 commented on #8318
Envoy gauges are integer only and we don't have a direct API for setting tags, as not all stat backends support tags.

@ramaraochavali I'm fine with a single integer that overrides the existing version gauge if that is less controversial (as long as it is well documented).

[2019-09-23 15:43] mattklein123 commented on #8291
@ramachaitanyak to date we don't allow L7 filters to directly modify the connection as there can be multiple streams per-connection, and the abstraction breaks down pretty badly if you allow connection modification.

My suggestion for this would be to create a custom L4/L7 filter pair and have the L7 filter communicate to the L4 filter that it should set socket options.

@alyssawilk any thoughts o

[2019-09-23 15:46] mattklein123 commented on #8324
cc @soya3129

Yeah we should definitely fix this such that these stats are effectively created once at the cluster/HCM level so that they don't have to be looked up for each connection. Nice find!

[2019-09-23 15:47] mattklein123 commented on #8325
cc @bcelenza ^

[2019-09-23 15:48] mattklein123 commented on #8328
@envoyproxy/redis-dev ^

[2019-09-23 15:55] alyssawilk commented on #8291
I have lots of thoughts on this - we've got a couple of options we set in-house from L7-L4 and they have fairly individual behavioral characteristics.  Some we only set early on a connection, some are per-stream and we have a manager which coordinates per-stream settings with live-streams to calculate what the per-connection value ought to be (and tweaks it as streams are created and destroyed).

[2019-09-23 16:06] mattklein123 commented on #8291
Per @alyssawilk, to be clear, the utility of this is obvious to me, but the APIs are tricky since we have to have a sane way for streams to interact with the connection. I will meet with @alyssawilk and discuss some use cases and then let's see if we can come up with some common utilities?

I can imagine generalizing the "L4 filter" I propose above as a generalized connection settings manager that

[2019-09-23 16:37] bcelenza commented on #8325
Thanks @mattklein123 for giving me the heads up, and @starchx for reporting it. I'll have the App Mesh team take a look at this. It appears this bug exists for both our vended image and the upstreamed code to Envoy (it's the same code nowadays). Will assign myself for now.

[2019-09-23 17:06] qiwzhang commented on #8322
Most likely, that you have modified your proto file, specifically, the proto message field index.  Your client and server are using different version, one is before and one is after the change.

[2019-09-23 17:11] zuercher commented on #8316
I think this is closely related to #8167.

[2019-09-23 17:23] zuercher commented on #8305
That cluster name and the one in the config above are different. The route config's cluster ends with `dev.svc.cluster.local` and the cluster name ends with `dev.cluster.local`. (The service_name field is only used by EDS -- routes look up clusters by name.)

[2019-09-23 17:44] zuercher commented on #8295
In that log, the health checker is attempting to connect to 10.19.17.188:12012 and is failing to connect. Errno 111 is ECONNREFUSED.

`cluster.grpc-service.health_check.healthy: 0` means zeros hosts are currently healthy and `cluster.grpc-service.health_check.success: 0` means there has never been a successful response to the health check. Since the attempts, failure, and network_failure counts ar

[2019-09-23 17:50] zefir01 commented on #8322
you're right. memory failed, I was sure that did not change anything.

[2019-09-23 17:50] #8322 closed

[2019-09-23 18:01] ramachaitanyak commented on #8291
Thanks @mattklein123 & @alyssawilk for the feedback. We currently have an internal implementation similar to RBAC filter(L7 filter) to plug into this API. We can improve it based on the feedback. OTOH if it is convenient for you folks; I would enjoy to be a part of the aforementioned discussion if it has not already happened. I can join over a voice call. Please let me know.

Rama

[2019-09-23 18:34] ravgupms commented on #8319
Thanks @lizan for the info!

I have opened a ticket on WSL team.
https://github.com/microsoft/WSL/issues/4538

In the meantime, I will try to check on WSL2 but looks like I have to be on their fast insider ring to get the required build to install WSL2

[2019-09-23 18:50] #8282 closed

[2019-09-23 19:11] PiotrSikora commented on #8078
`REQ(:path)` and others should log the same value regardless of what form was used, i.e.:
[code]
[code]
should evaluate `REQ(:path)` to `/` in both cases.

[2019-09-23 19:11] htuch opened #8332 "Node enhancements for stable Envoy versioning"
As per https://github.com/envoyproxy/envoy/issues/6271, we want `Node` to report:
* API semantic version
* User agent and version
* Client capabilities
* Extensions (including extension version information)

Splitting to a separate task for tracking purposes.

[2019-09-23 19:14] FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg commented on #8328
This is currently unsupported. The INFO command semantics don't make sense with respect to Envoy- you are querying a cluster of Redis nodes, and there is no way to choose which one to use. Different nodes have different INFO responses. What is your preferred behavior from INFO against a cluster of Redis nodes?

[2019-09-23 19:18] htuch commented on #7867
@mattklein123 do you think this is needed for 1.12.0 or can we do this as a v3 add-on once shipped?

[2019-09-23 19:18] htuch commented on #4540
@mattklein123 @lambdai do you think this is needed for 1.12.0 or can we do this as a v3 add-on once shipped?

[2019-09-23 19:58] mattklein123 commented on #7867
We can do it as an add on, but can we do it without any structural changes? I suppose we probably can by just having an optional config source on a filter config? I'm mostly just hoping to avoid deprecation. We might want to look at it briefly and at least put the existing static config in a oneof?

[2019-09-23 19:58] mattklein123 commented on #4540
Add on is fine with me.

[2019-09-23 20:05] dschaller commented on #8262
Sorry I missed this tag in my inbox.

@zuercher is right on the spot here. Ideally we should be checking for any route type. This should be a quick fix. @mattklein123 can you assign this one to me?

[2019-09-23 23:21] ivans3 commented on #5930
I am looking for examples of network rate limit as applied to the default egress PassthroughCluster

[2019-09-23 23:53] tonya11en opened #8337 "adaptive concurrency: Allow configurable jitter to minRTT calculation windows"
The adaptive concurrency control filter periodically recalculates the expected minimum round-trip time for requests. This recalculation drops the allowed concurrency limit to 1 while it measures this value, leading to a drop in success rate.

This effect can be mitigated using a [previous_hosts retry predicate](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/http_connection_ma

[2019-09-23 23:58] tonya11en commented on #7789
@PiotrSikora there's currently a necessary default maximum concurrency in this filter's config proto. In steady-state, the concurrency limit continues to increase until there is a measurable increase in latency.

This might cause more problems for you with regards to https://github.com/istio/istio/issues/17233.

[2019-09-24 00:10] cetanu opened #8338 "Question regarding a potential change to IP Tagging filter"
The docs say

I want to introduce configuration for the IP Tagging filter that would allow it to set the header for addresses from the x-forwarded-for that are NOT trusted.

How well would this be received? I was thinking of writing a PR for this.
Is there a particular way that maintainers would want this to be accomplished, if at all?

Thank you in advance for your advice

[2019-09-24 00:53] cetanu commented on #8338
Actually not really sure if I need to do this. Just having some confusing results when implementing IP Tagging.

Not seeing the header added to the request to the upstream... Will continue investigating.

[2019-09-24 00:53] #8338 closed

[2019-09-24 02:22] sabiurr commented on #8223
Hi @mattklein123, is there any update on this?

Appreciate the help

[2019-09-24 02:33] ramaraochavali commented on #8318
@htuch are you good with single integer approach?

[2019-09-24 03:41] PiotrSikora commented on #7789
@tonya11en thanks!

[2019-09-24 04:44] ianzhang1988 commented on #8295
OK... I think this suggest that my grpc client never satisfy the rule of `health check`, may be start a simple http server alongside would solve this.

But, why `health check` wouldn't just set the services unhealthy, rather left them running? This confuse me.

[2019-09-24 07:42] mosespx commented on #8328
I'm not looking to run `INFO` against the cluster, I just want to make sure the client gets the `Ready` event from the redis cluster before it starts using it.

[2019-09-24 08:44] x15zhang opened #8341 "Use Source IP for hash"
Can envoy support using source ip for hashing for tcp upstreams?
Becasue nginx support the feature:
[code]

[2019-09-24 12:41] Bella4 opened #8343 "Dynamic forward proxy stops forwarding: no healthy upstream host error"
*Title*: *Dynamic forward proxy stops forwarding: no healthy upstream host error*

*Description*:

*Repro steps*:

*Logs*:

![image](https://user-images.githubusercontent.com/29887065/65511687-0635c480-ded8-11e9-8b57-aeefe54dcebe.png)

[2019-09-24 12:56] hzxuzhonghu commented on #8341
@mattklein123 @htuch we need this feature too

[2019-09-24 13:27] alyssawilk commented on #8343
@mattklein123 any thoughts?

[2019-09-24 13:53] #8253 closed

[2019-09-24 14:15] wrowe opened #8344 "Upstream fixes to elect Windows static C runtime"
The Windows build of envoy wants to avoid the dependency on MSVCRT.dll, Microsoft's C Runtime, and associated C++ stdlib .dll's.

Most foreign_cc externals support this on a project-by-project basis; a few do not. This issue is tracking the following pull requests to support this feature, and eliminate our .patch files to the CMake logic of these upstream projects.

The following patches are intro

[2019-09-24 15:18] htuch opened #8348 "hds_integration_test flaky"
See https://dev.azure.com/cncf/envoy/_build/results?buildId=11845, e.g.:

[code]

[2019-09-24 16:02] zuercher commented on #8295
The http health checker is just looking for a 200 response. The grpc server I'm testing with does that and sets grpc-status 8 and an error message. That seems correct from my understanding of GRPC.

If I bring both hosts down, the health checker goes into the panic state (which increments the metric `cluster.<cluster>.lb_healthy_panic` and it always tries to route the request. There's no panic log

[2019-09-24 16:39] danzh2010 commented on #7177
/assign @bencebeky

[2019-09-24 16:40] danzh2010 commented on #7177
/assign @bencebeky

[2019-09-24 16:41] danzh2010 commented on #7177
@mattklein123 It seems that I don't have permission to assign issue. How to get the permission?

[2019-09-24 17:53] stevenzzzz commented on #8303
@alyssawilk  @htuch  FYI

[2019-09-24 18:06] wrowe opened #8351 "Externals boringssl target fails to build on Windows"
Building on windows, the boringssl library dependency is broken, because it attempts to build both a static and dynamic lib. The dynamic lib built is not desired, and actually not functional. The error is;

ERROR: C:/_eb/external/boringssl/BUILD:130:1: output 'external/boringssl/crypto.if.lib' was not created
ERROR: C:/_eb/external/boringssl/BUILD:130:1: not all outputs were created or valid
ERROR

[2019-09-24 18:18] mattklein123 commented on #7177
They need to be added to the org. I will send an invite.

[2019-09-24 18:34] bencebeky commented on #7177
/assign @bencebeky

[2019-09-24 19:07] alyssawilk commented on #8351
also @davidben in case he has ideas offhand

[2019-09-24 19:15] davidben commented on #8351
I'm assuming this is using the `master-with-bazel` branch, rather than some Envoy-specific build? I don't know anything about bazel.

@agl may be able to help here, though I don't see anything in our top-level `BUILD` file that expresses an opinion on shared vs static libraries.

[2019-09-24 19:19] htuch commented on #8318
@ramaraochavali sure. My only concern above was forcing semver on arbitrary end users.

[2019-09-24 19:52] #5011 closed

[2019-09-24 19:53] rgs1 commented on #8149
So, this was just a badly configured connection pool with a huge upstream.. Sorry for the false alarm.

[2019-09-24 19:53] #8149 closed

[2019-09-24 20:38] mattklein123 commented on #8341
IIRC we don't support any hashing currently for tcp_proxy: https://github.com/envoyproxy/envoy/blob/ccb303f6f1337966570e4b445d940ccdf76b8f96/source/common/tcp_proxy/tcp_proxy.h#L194

I think this should be easy/useful to add.

[2019-09-24 20:40] mattklein123 commented on #8343
I believe the issue is this TODO: https://github.com/envoyproxy/envoy/blob/ccb303f6f1337966570e4b445d940ccdf76b8f96/source/extensions/clusters/dynamic_forward_proxy/cluster.cc#L26

I will fix, but can't promise when. If someone wants to work on it let me know.

[2019-09-24 20:45] wrowe commented on #8351
In envoy, we are building "static", I'd expect bazel would carry that preference to the externals
components that are drawn in. It doesn't appear this is the case.

Is there a reason for using the fork-for-bazel, and not localizing an envoy copy
of bazel/externals/boringssl.BUILD? We could then override with a preference for static-only libs.
See https://docs.bazel.build/versions/master/be/c-cpp.h

[2019-09-24 20:48] ramachaitanyak commented on #8291
Hello @mattklein123 and @alyssawilk; thanks for the discussion. I am following up on this thread to gather a summary of design proposals made during the meeting with respect to having a singleton in HCM for exposing this socket options per connection.

In addition, it would be great to get opinion on the common utilities for reading the socket file descriptor.

It would be great if the design is e

[2019-09-24 20:50] wrowe commented on #8351
This is the flavor we are testing (after encountering the same on envoy master's older tag point).
Confirming this is the master-with-bazel branch.

[code]

[2019-09-24 20:59] lizan commented on #8351
@wrowe by default bazel allows both static and dynamic, if your build targets are all using static library (i.e. binary target with linkstatic=1) then it won't bother with dynamic library artifacts. The issue you're seeing from foreign_cc is because curl is trying to pull both: https://github.com/envoyproxy/envoy/blob/master/bazel/foreign_cc/BUILD#L106, if you comment out this line it shouldn't bl

[2019-09-24 21:26] htuch commented on #7867
Sure, I think this aspect of the issue is manageable in the v3 release cycle.

[2019-09-24 21:56] zuercher opened #8355 "ext_authz: config ignored if route does not specify cluster"
As in #8262, the ext_authz filter is a no-op if a route is configured with a direct response action or redirect.

Notably, the filter uses the route/route_entry to obtain a ClusterInfoConstSharedPtr which is used for recording stats. Instead, I think that the filter should produce stats in the context's scope (see the JWT Authn filter, for example) and only produce cluster-specific stats if a clus

[2019-09-24 23:29] ramachaitanyak opened #8357 "Socket Statistics: Proposal for reading and displaying OS socket statistics for connections"
*Description*:

The intention is very similar to that of any tools like `ss` or `netstat` display. It would be useful to maintain this state as debugging becomes easier.

As an example,
`ss -4 state syn-recv` would display all the tcp ipv4 network connections that are in the syn-recv state. With respect to TCP there are several states that a connection moves through, like `listen`, `syn-sent`, `es

[2019-09-24 23:30] ramachaitanyak commented on #8357
@alyssawilk & @mattklein123 I have created this proposal based on the discussion today, please take a look at it.

Thanks!
Rama

[2019-09-25 03:17] ianzhang1988 commented on #8295
Thanks for your patience.

It may be the implementation of my grpc server that cause the difference. In my environment, I got `cluster.grpc-service.lb_healthy_panic: 0` but `cluster.grpc-service.http2.rx_reset: 21` , have no idea for now.

But I got the general idea of how this work, Thanks again.😁

[2019-09-25 06:01] rahulraykor commented on #2746
@mattklein123 :
To disable tracing in envoy for a route I have made the overall_sampling to 0% still it is generating traces in Jaeger. Can you please help in disabling tracing for this route.

[2019-09-25 06:46] rsawer commented on #2692
After looking into json data types https://www.w3schools.com/js/js_json_datatypes.asp, I think that string, number and boolean would be enough

[2019-09-25 09:19] objectiser commented on #2746
@rahulraykor would be good if you could open a new issue that provides more details about your configuration and an example of the tracing your are seeing.

[2019-09-25 13:24] farcaller opened #8363 "envoy.filters.http.jwt_authn: std::terminate called"
*Title*: Trying to auth with a jwt token crashes envoy

*Description*:

I'm following a basic setup for auth0 and envoy. When I submit a GET request to localhost:8080 with a valid jwt bearer token envoy crashes (running version: e349fb6139e4b7a59a9a359be0ea45dd61e589c5/1.11.1/Clean/RELEASE/BoringSSL).

*Repro steps*:

1. Set up envoy for auth0 jwt.
2. Access it with a valid token

*Admin and Stats

[2019-09-25 13:24] alyssawilk commented on #8357
Ah, so checking in, one thing I think can be useful for per-connection state is tracing deltas.

When we imagine making this information available to say access loggers, some things you may want to log snapshots of, like client rtt.  Some things you may want to track over time, like packets retransmitted or data sent.  Even for pipelining H1, if request 1 results in 4 packets retransmitted and req

[2019-09-25 13:25] rshriram opened #8364 "Dynamic reload of filter config without listener drain"
[ If this is already available, please close this issue].

_I am creating this issue for posterity, and do not expect a resolution due to the complexity issues involved._

context: Certain filters like RBAC etc. have the access control rules [something that changes dynamically] embedded inside the filter as static configuration. There are other examples but rbac is a good use case for this problem

[2019-09-25 14:46] farcaller commented on #8363
[code]

Apparently I forgot to define the cluster. I think the actual problem here is that the exception isn't propagated upwards properly.

[2019-09-25 15:49] alyssawilk opened #8366 "UdpListenerImplTest flaked on macos"
[ RUN      ] IpVersions/UdpListenerImplTest.UdpEcho/IPv4
test/common/network/udp_listener_impl_test.cc:217: Failure
Expected: (test_peer_address) != (nullptr), actual: 0x0 vs (nullptr)
Terminated: 15
-- Test timed out at 2019-09-24 22:38:26 UTC --

@danzh2010 @conqerAtapple could one of you check this out?

[2019-09-25 16:21] mattklein123 commented on #8364
@rshriram I think this is a dup of https://github.com/envoyproxy/envoy/issues/7867. We plan on implementing this.

[2019-09-25 16:31] ramachaitanyak commented on #8357
Thanks for the comments @alyssawilk , I totally agree with you on keeping per-connection state. However having overall connection state could also be helpful. There are many use cases and these API must be generic enough with reporting statistics and be supported subject to the OS.

Also there is more kernel state information that can be pulled. I was studying this tool called `conntrack` supporte

[2019-09-25 17:08] #7525 closed

[2019-09-25 17:20] zuercher commented on #8355
/assign @nezdolik

[2019-09-25 17:21] zuercher commented on #8355
@nezdolik is going to work on this.

[2019-09-25 17:23] repl-david-winiarski commented on #7753
We've noticed this issue as well during our upgrade testing. We see it when using a custom http filter and the rate limiting filter together. We found that applying a lua filter to set the content-length based on the body seems to resolve this though as a workaround.

[2019-09-25 17:50] qiwzhang commented on #8363
I will take a look.

[2019-09-25 18:23] kyessenov commented on #2692
RBAC conditions runtime could be re-purposed to produce typed outputs (https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/rbac_filter#condition) if that fills the need.

[2019-09-25 18:50] mattklein123 commented on #8291
This is roughly what I had in mind:

[code]

@alyssawilk WDYT about ^?

[2019-09-25 18:57] mattklein123 commented on #8357
@ramachaitanyak I would start by defining some of the information we would like to fetch and to @alyssawilk point whether we want to allow it to be fetched only on-demand, periodically, etc.

I think we should only look at things we can get from the kernel via API, generally getsockopt fetching TCP_INFO, etc. Also, we need to abstract all of this so it can be stubbed out on OSX, Windows, etc. unti

[2019-09-25 18:58] danzh2010 commented on #8366
`test_peer_address` is populated in onData_(), could it be possible that a write event triggers onWriteReady_() before onData_()?

[2019-09-25 19:38] alyssawilk commented on #8348
Also [ RUN      ] IpVersions/HdsIntegrationTest.SingleEndpointTimeoutTcp/IPv4
test/integration/hds_integration_test.cc:370: Failure
Value of: host_fake_raw_connection_->waitForData(FakeRawConnection::waitForInexactMatch("Ping"))
  Actual: false (Timed out waiting for data.)
Expected: true
Stack trace:
  0x171942a: Envoy::(anonymous namespace)::HdsIntegrationTest_SingleEndpointTimeoutTcp_Test::Test

[2019-09-25 19:41] alyssawilk commented on #6630
I'll say I tend to ignore data races after test failures - our code doesn't always properly clean up when an assertion fails.  Basically this may be dup of the other one insofar as hds seems to have a bunch of waitFor flakiness

[2019-09-25 19:57] htuch opened #8371 "Markdown documentation for Envoy stable API versioning policy"
Translate the key actionable policy decisions in https://github.com/envoyproxy/envoy/issues/6271 to a `.md` suitable for API developers and users. This should be linked to https://github.com/envoyproxy/envoy/blob/master/api/STYLE.md.

We should include as part of this some discussion on when vN changes are frozen once v(N+1) is released. Previous discussion on this suggests 1-2 quarters of leeway.

[2019-09-25 20:06] PiotrSikora opened #8372 "SDS: request certificate for Envoy-generated private key"
One approach to avoid sending private keys over SDS channel is to let Envoy generate private key on-demand, and ask SDS server to mint certificate for it, based on the credentials used to establish the connection between Envoy and SDS server (e.g. JWT token or TLS client certificate).

Generating private key takes from ~5ms (for P-256 ECDSA) to ~100ms (for 2048-bit RSA).

This proposal doesn't req

[2019-09-25 20:26] zuercher opened #8373 "access log: support non-string values in json formatted log output"
Per the discussion in #2692, there's desire for a mechanism by which integer values in JSON formatted access logger output could be represented as JSON numbers vs. strings.

For example `{"cluster":"service_google","duration":55}` not `{"cluster":"service_google","duration":"55"}`.

Per @aa-stripe:

[2019-09-25 20:26] zuercher opened #8374 "access log: support non-string values in json formatted log output"
Per the discussion in #2692, there's desire for a mechanism by which integer values in JSON formatted access logger output could be represented as JSON numbers vs. strings.

For example `{"cluster":"service_google","duration":55}` not `{"cluster":"service_google","duration":"55"}`.

Per @aa-stripe:

[2019-09-25 20:26] zuercher commented on #2692
I went ahead and opened #8374 -- let's continue discussion there.

[2019-09-25 20:38] mattklein123 commented on #8372
@PiotrSikora should we consider just implementing ACME support inside Envoy? This would be a lot more work but would be a hugely popular feature and then there would be no hacks here. WDYT?

[2019-09-25 20:40] mattklein123 commented on #8372
ACME support issue: https://github.com/envoyproxy/envoy/issues/96

[2019-09-25 21:06] lizan commented on #8372
@mattklein123 my take on ACME is we can implement SDS add-on to existing ACME clients (e.g. certbot) so Envoy can talk to it. Full ACME client implementation inside Envoy sounds too much but I'm not against to that.

[2019-09-25 21:06] PiotrSikora commented on #8372
ACME is quite a different beast, and much bigger project. It's mostly concerned about proving that the requester can use requested identity, which we want to ignore in this proposal, and handle out-of-band (in relation to xDS protocol).

Also, there is a discussion to be had to decide which component (Envoy or xDS control plane) should be implementing ACME.

For edge servers, IMHO, it should defin

[2019-09-25 21:08] lizan commented on #8372
re: original request, I'm not fan of hacking on name based on that, is `name` the only field in the xDS request that can be customized?

[2019-09-25 21:12] lizan commented on #6252
Short term fixed by #8231. Long term discussion: #8301.

[2019-09-25 21:12] #6252 closed

[2019-09-25 21:25] costinm commented on #8372
Is it that hard to add another field ?

Re. ACME - I think it would be simpler to have ACME behind SDS, i.e. Envoy uses SDS to talk with the control plane, and that handles ACME. The reason is that you need to create an account, store some keys for revocation, figure out a mapping for the HTTP challenge, possibly store the certificates - things that may require higher privs than envoy workloads.

[2019-09-25 21:27] costinm commented on #8372
Also there is the issue of permissions/authentication of  the workload - ACME with HTTP challenge might work if there is a single envoy with a public IP, but in a distributed system with envoy behind a load balancer it's a bit trickier even for HTTP challenge.

And if DNS challenge is used - you need highly sensitive credentials for DNS, which are probably safer in the XDS or an isolated server, n

[2019-09-25 21:52] htuch commented on #8372
* Prefer not to use resource name. I think for v2, this should not be a pub-sub but instead move to a custom bidi gRPC protocol like LRS/HDS. In UDPA we can revisit as we regularize this.

* If we are going to invent a new protocol (see ^^), then it would be good to rule out whether something like ACME can't address use cases. Prefer to use standards rather than invent new ones.

[2019-09-25 22:16] mattklein123 commented on #8372
I mostly bring up ACME because it seems like we are developing something similar and per @htuch we should use a standard if there is one. I'm not an expert in this space so if we believe that ACME is not the right solution lets document that clearly when we implement whatever we implement. And if we believe that's the case I would like to close https://github.com/envoyproxy/envoy/issues/96 as some

[2019-09-25 22:31] costinm commented on #8372
ACME is great - but I don't think implementing it directly in envoy is ideal. Quite a few servers do this - and it works for the simple case ( single server with public IP ). However advanced cases like getting a wildcard cert require DNS access. There are quite a few implementations of ACME client, and relatively easy to integrate in an XDS server.

SDS is good for pushing certs dynamically to en

[2019-09-25 22:37] derekargueta commented on #8373
@zuercher Looks like this got double-posted (#8374). Wanna close this one?

[2019-09-26 00:57] #7961 closed

[2019-09-26 02:38] rshriram commented on #8364
hmm yeah.. this is a dup for sure

[2019-09-26 02:38] #8364 closed

[2019-09-26 02:39] rshriram commented on #7867
adding another use case that I came across

Certain filters like RBAC etc. have the access control rules [something that changes dynamically] embedded inside the filter as static configuration. When access control rules change, we end up sending an update to the listeners with the updated filter config. This causes all existing connections to drain. A more efficient thing to do would be to reload

[2019-09-26 04:35] ramaraochavali commented on #8318
@howardjohn missed to respond your point

Agree it has some limitations and is not an ideal solution- But if we encode the version as `xxxyyyzzz` form  - `0.1.12` can be encoded `1012` where as `1.1.2` can be encoded as `1001002` - so we always parse from right get the necessary components (3 digits) and set to 0 if we do not have sufficient digits as in case of `1012`. Not ideal but works.

[2019-09-26 05:43] #8363 closed

[2019-09-26 06:14] patsevanton opened #8387 "Add systemd service config to rpm packages envoy"
I installed envoy by instruction
https://www.getenvoy.io/platforms/envoy/centos/
But rpm getenvoy-envoy dont have systemd service config.
Please add systemd service config to rpm packages envoy

[2019-09-26 06:23] lizan commented on #8387
@patsevanton https://github.com/tetratelabs/getenvoy.io/issues/100, we didn't add systemd service and wrappers intentionally because use case varies, a sample systemd config is in the issue.

[2019-09-26 06:57] #7959 closed

[2019-09-26 08:32] spyroslalos opened #8388 "Dynamic configuration of envoy for whitelisted IPs"
Dynamic configuration of envoy for whitelisted IPs

*Description*:
I have a listener like this one below whitelisting some IPs using the RBAC filtering

`  listeners:
  - address:
      socket_address:
        address: 0.0.0.0
        port_value: 8080
    filter_chains:
      use_proxy_proto: true
      filters:
      - name: envoy.tcp_proxy
        config:
          access_log:
          - name:

[2019-09-26 08:49] soheilade commented on #6814
hi @nmjmdr , I followed your path but the graphite stat-admin on port 8126 is not reachable, did you manage to get this port working?

[2019-09-26 10:53] ramaraochavali commented on #4460
@mattklein123 We are interested in this feature. Just want to understand at a high level if the following is sufficient
- add a admin endpoint `/drain_listeners`  that drains all listeners.
- add additional parameter like `/drain_listeners?inboundonly` - will drain only inbound listeners because that is what most people would want when a rolling upgrade happens because incoming connection should b

[2019-09-26 12:56] htuch commented on #8098
Should we tag `tls_context` as deprecated to kick this off? I think this issue boils down to tagging `tls_context` as deprecated, having it auto-deleted by `protoxform` in v3 and then having folks use the transport socket mechanism instead going forward.

[2019-09-26 12:58] htuch commented on #8097
I would like to approach this by adding to v2 the ability to first express `CorsPolicy` as a per_filter_config, deprecating the existing `CorsPolicy` field and then having `protoxform` auto-delete in v3.

I'm going to tag this as "help wanted", since we need to do the bulk of the work v2-side to make this happen first.

[2019-09-26 13:00] htuch commented on #8086
I think this is already handled by `protoxform` to the extent that this is possible (i.e. without drainless filter chain updates for `lds.proto`), so will close this out.

[2019-09-26 13:00] #8086 closed

[2019-09-26 13:02] htuch commented on #8083
This is now done via `protoxform`.

[2019-09-26 13:02] #8083 closed

[2019-09-26 13:04] htuch commented on #8078
Is this still a v3 API renaming ask or should we remove the label?

[2019-09-26 13:06] htuch commented on #5569
@mattklein123 I'm wondering if we can add the new unified matcher to v2 and then deprecate existing matchers, allowing for their removal in v3. This would be the preferable approach IMHO, rather than a radical change in how matching is done alongside the rest of the v3 work. If that makes sense, do you know who might own this specific task?

[2019-09-26 13:09] alyssawilk commented on #8078
I think it's a code fix not an API fix.  label updated.

[2019-09-26 13:17] #8373 closed

[2019-09-26 13:19] htuch opened #8391 "Refactor Listener configuration"
As per the `#next-major-version` tag in `lds.proto`, we want to create a new listener structure for v3. I think this should be done in v2, with the creation of some `NewKindOfListener` resource and the existing `Listener` tagged as `deprecated` at message level. Following this, we can have v3 acting as the deprecation tick to remove.