[2022-07-15 18:20] keith commented on #22217
https://github.com/envoyproxy/envoy/pull/22239

[2022-07-15 23:31] TAOXUY opened #22243 "%GRPC_STATUS_NUMBER% isn't accurate for local reply"
*Title*: %GRPC_STATUS_NUMBER% isn't accurate for local reply

*Description*:
We wanna to log gRPC status code in the local reply. In the filter's interface [`sendLocalReply`](https://github.com/envoyproxy/envoy/blob/main/envoy/http/filter.h#L449), it allows caller to enforce the [gRPC status code](https://github.com/envoyproxy/envoy/blob/main/source/common/http/utility.cc#L572-L656) in the respons

[2022-07-16 07:04] Cloudmersive commented on #22196
Oh fish it out of the docker image!  That is a good idea, will try that

[2022-07-16 08:04] #22051 closed

[2022-07-16 08:04] github-actions[bot] opened #22245 "Newer release available `com_github_grpc_grpc`: v1.47.1 (current: a3ae8e0)"
Package Name: com_github_grpc_grpc@a3ae8e00a2
Current Version: a3ae8e0@2021-06-07
Available Version: v1.47.1@2022-07-15
Upstream releases: https://github.com/grpc/grpc/releases

[2022-07-16 08:04] #21869 closed

[2022-07-16 09:52] hzxuzhonghu commented on #13009
We suffered much from distinguishing **discovery request** or **ACK** in istio. Can envoy add an explicit flag to tell control plane about this?

[2022-07-16 13:15] uglycow commented on #22226
@kyessenov  thanks and
Q1: virtual host level local limit for whole app and route level rate limit for interface within it won't work. any suggestion for my case?

Q2: so if i add two local rate limit filters to HTTP filter chain like this:
[code]
Is it able to configure the details of the limiter at the route level by using `typed_per_filter_config`, maybe like this?
I'm wondering how the config

[2022-07-16 15:34] costinm commented on #13009
+1 - having to guess if a message is an ACK or a request instead of having an explicit type is very uncommon in protocols and leads to a lot of bugs.

It is also pretty easy and low risk to fix by adding a new field to indicate the message is an ACK: for NACK the presence of error_detail is used, but I don't think it is possible to determine if it is an ACK only by the content of the message.
A bo

[2022-07-16 20:01] #20049 closed

[2022-07-16 20:01] #21625 closed

[2022-07-16 20:01] #21630 closed

[2022-07-16 23:32] kyessenov commented on #13009
In general, ACK and REQUEST are immediately called in succession in Envoy because of long poll. So even if there are two messages, it's the same problem.

[2022-07-17 04:12] #21631 closed

[2022-07-17 08:49] ramaraochavali commented on #22217
@keith Thanks for the fix. After your fix, I am getting the following error

[code]

It seems it is trying to use /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX12.1.sdk but I have /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX12.3.sdk.

Did you run in to this issue as well?

[2022-07-17 21:31] KevinBdev opened #22247 "Error while using TLS"
I have a problem connecting NodeJS (as client) to Go (as server) when using TLS with envoy.
Error: Failed to dial target host "localhost:50000" x509: certificate relies on legacy Common Name field, use SANs instead
Envoy config:
[code]

[2022-07-17 23:53] keith commented on #22217
Interesting I do see the same

[2022-07-18 00:05] keith commented on #22217
Ok here's another required fix https://github.com/envoyproxy/envoy/pull/22248

but even with this I find that liburing fails to build for me, as a temporary workaround I found commenting out this line https://github.com/envoyproxy/envoy/blob/1cf5603dc5239c92e5bc38ef321f59ccf6eabc6e/source/common/io/BUILD#L29 breaks the connection in the dependency graph and the file generates

[2022-07-18 00:13] daixiang0 commented on #22151
@phlax sorry for slow response  :( thanks for great job!

[2022-07-18 00:21] daixiang0 commented on #22229
It looks like an issue about vscode not about Envoy, have you installed all necessary vscode extension?

[2022-07-18 01:16] hzxuzhonghu commented on #13009
@kyessenov I can not understand that, after `REQUEST `, istio or other control plane just need to send response. And we will not miss pushing a response.

[2022-07-18 01:47] adisuissa commented on #22162
cc  @weisisea @mattklein123

[2022-07-18 01:55] adisuissa commented on #22213
cc @mattklein123 @marcomagdy @lavignes @tonya11en

[2022-07-18 02:24] Patrick0308 commented on #22218
@kyessenov This is an new metrics file. [stats2.txt](https://github.com/envoyproxy/envoy/files/9129095/stats2.txt)
I still don's see any problem from metrics. I will try to disable stats filters.

[2022-07-18 02:48] Patrick0308 commented on #22218
This is envoy memory graph excluded memory of pilot-agent:
![image](https://user-images.githubusercontent.com/5486149/179438374-b07e127c-a3df-450e-96fe-2113aa15482f.png)

[2022-07-18 03:43] htuch commented on #13009
This ACK/REQUEST discussion is fairly off topic - please open a new issue.

(FWIW, @kyessenov is right - even if we did add this feature, it wouldn't be materially different for Envoy, we would always send both ACK and REQUEST back-to-back. We did discuss making the protocol more explicit way back when we were looking at a breaking transport change for UDPA, but decided against that. There is some

[2022-07-18 04:56] costinm commented on #13009
Confused, why would you send ACK and REQUEST back to back ? The protocol
has REQUEST, response and ACK.
The server needs to respond to a request - but not to an ack.

The root cause for this issue - and many others - is that it is pretty hard
to distinguish between the ack and request, since they have the exact
same content - which is pretty rare in protocols but also very easy to fix
- and would

[2022-07-18 05:03] costinm commented on #13009
This is not about making things materially different for envoy - it is
about making things cleaner on the servers, and following the patterns that
all protocols
follow. XDS is effectively a pubsub protocol, and I don't know of any
similar protocol that doesn't have a clear ACK message, or having identical
message mean different things. Alsoi seems to be the simplest/cleanest fix
to this particular

[2022-07-18 05:56] bryanwux opened #22250 "Add boost as a dynamically-linked dependency for cachelib"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Add boost as a dynamically-linked dependency for cachelib*

*Description*:

I am considering developing an alternative http cache implementation using [cachelib](ht

[2022-07-18 06:34] suniltheta commented on #22213
The aws lambda filter while encoding the [request_response.proto](https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/http/aws_lambda/request_response.proto) into json format is just preserving the proto field names ([json_options.preserve_proto_field_names = true](https://github.com/envoyproxy/envoy/blob/1cf5603dc5239c92e5bc38ef321f59ccf6eabc6e/source/common/protobuf/utility.c

[2022-07-18 07:59] phlax commented on #22247
cc @ggreenway

[2022-07-18 08:01] phlax commented on #22250
cc @lizan @moderation @htuch

[2022-07-18 08:04] #22223 closed, assigned to nobody

[2022-07-18 08:14] phlax commented on #22173
cc @wbpcode

[2022-07-18 08:18] phlax commented on #22195
cc @RyanTheOptimist

[2022-07-18 08:19] phlax commented on #22192
cc @RyanTheOptimist

[2022-07-18 08:21] phlax commented on #22243
cc @cpakulski

[2022-07-18 08:42] caoyukun0430 commented on #21923
Thanks for the reply, sorry the response is delayed for a while. Maybe here I just focus on this point since it's a more promising direction.
So our agreement is to remove "free memory regions" from used heap calculation, i.e. used ==physical - unmapped ==
current_allocated_bytes + fragmentation - unmapped.
Then my follow-up question is what consists of free memory regions? From your indication, i

[2022-07-18 08:50] thomasvargiu commented on #20058
Hi! No news on this issue?

[2022-07-18 09:00] phlax opened #22252 "Make dependency/cves check pluggable (and thin data)"
As downloading CVE data can be flaky we shifted this to only happen once a day in #22161

the problem with this approach is that it forces download of the cve data even if you are not running the cves check

if you are using RBE this makes it download the data every time - and the data is quite large

i think we can use a bazel flag to tell the checker whether to include the cve data, and also thi

[2022-07-18 09:06] #21668 closed

[2022-07-18 10:09] mostafafarzaneh opened #22255 "Envoy does not 70b76262692ea93brespect the x-amzn-trace-id"
*Title*: *70b76262692ea93b*

*Description*:
We're using an envoy behind the AWS Load Balancer. Envoy is used as an API GW and is configured to send traces to AWS X-Ray. As described [here](https://docs.aws.amazon.com/xray/latest/devguide/xray-services-elb.html), LB attach a `x-amzn-trace-id` header to requests. So I am expecting that envoy traces contains parent id, but the parent id field is empt

[2022-07-18 12:03] phlax commented on #21764
this should be resolved now

[2022-07-18 12:03] #21764 closed

[2022-07-18 12:11] wbpcode commented on #22173
I checked code of lua filter. The response headers of httpCall will be stored to key/value table. Multiple same keys is not supported.

But I think we should try to solve this problem.

[2022-07-18 12:54] surki opened #22258 "Envoy v1.23.0 exits on startup if bootstrap config contains stats_config"
*Title*: Envoy v1.23.0 exits on startup if bootstrap config contains stats_config

*Description*:
When Envoy is started with `stats_config.histogram_bucket_settings` in bootstrap configuration, it asserts/exits on startup.

*Repro steps*:
1. Start Envoy with the configuration below
2. Notice that it asserts/exits on initilization, callstack is given below

*Config*:
[code]

*Logs*:
[code]

*Call S

[2022-07-18 13:41] mostafafarzaneh commented on #22255
It was my bad. AWS LB attaches `x-amzn-trace-id` to requests without a parent section because it does not send segments to X-Ray.

[2022-07-18 13:50] #21897 closed

[2022-07-18 13:50] #21889 closed

[2022-07-18 13:50] #21898 closed

[2022-07-18 14:13] alyssawilk commented on #17013
@zuercher thoughts on this?  I'm fairly out of date with subsetting code

[2022-07-18 14:20] howardjohn commented on #22220
The reason for the `istio-` ones is to distinguish between Istio mTLS and application TLS

[2022-07-18 14:21] mattklein123 commented on #22162
Because in general there is no good way to perform a transaction across multiple sharded redis hosts using a stateless proxy like Envoy.

[2022-07-18 15:15] milkcocoa opened #22261 "Docker v1.23-latest armv8 image is built for x86_64"
When I run the v1.23-latest image with my M1 MacBook Pro, I get the following error.

[code]

Installing `file` command, and I investigate the `envoy` command with it, the binary is built for x86-64 like the following.

[code]

`uname` command shows the image itself is the armv8 architecture.

[code]

[2022-07-18 15:19] phlax commented on #22261
@milkcocoa does doing the same thing with v1.22-latest work ?

[2022-07-18 15:24] phlax commented on #22261
cool, just wanted to see if it was a regression before tracking down - ill take a look

[2022-07-18 15:26] milkcocoa commented on #22261
v1.23.0, and distroless v1.23-latest, and v1.23.0 have the same behavior.

[2022-07-18 15:34] phlax commented on #22261
yep problem is caused by this https://github.com/docker/buildx/issues/510 bug in docker buildx

i added a default because it was breaking docs - there is a workaround in that ticket - i will PR a fix asap

[2022-07-18 15:38] milkcocoa commented on #22261
Great, thanks for the quick response, and investigation.

[2022-07-18 15:41] kyessenov commented on #22218
Do you think you could get a heap sample profile during the leak? We might be able to tell from there. The flame chart is for CPU, not clear what stays resident in memory.

[2022-07-18 15:46] phlax opened #22263 "Backport #21972"
as in title, backport Backport #21972

[2022-07-18 15:59] suniltheta commented on #22213
/assign

[2022-07-18 16:03] mbana commented on #21851
We are also interested in this.

We want/need `client_credentials`: <https://auth0.com/docs/get-started/authentication-and-authorization-flow/client-credentials-flow> because Envoy supports only `authorization_code`: <https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/http/oauth2/oauth_client.cc#L25>.

Do you have a branch or image I could use for testing, if you're already im

[2022-07-18 16:10] mbana commented on #14088
Could you please re-open this?

We want/need `client_credentials` - <https://auth0.com/docs/get-started/authentication-and-authorization-flow/client-credentials-flow> - for a Machine-to-Machine application.

Yet Envoy supports `authorization_code`: https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/http/oauth2/oauth_client.cc#L25 - information about this flow is available at <

[2022-07-18 16:15] phlax commented on #22217
@keith can we add a select on the `uring` dep so it is not included or perhaps just hack the `gen_compilation_database.py::is_compile_target` function

[2022-07-18 16:32] zuercher commented on #17013
I'm fine with that. The subsets in the existing Envoy load balancer don't have the same semantic meaning as the subsets in the deterministic aperture load balancer described in the blog post. The former is a way to divide the members of a service into sets of addressable upstream servers based on the properties of the upstream servers. The d-aperture load balancer is a way to reduce the total numb

[2022-07-18 16:58] kyessenov commented on #22218
Yeah, it's a heap sample, sorry. Are you using istio/proxy binary? Which version?

[2022-07-18 17:36] qiwzhang commented on #21994
Jwks from `local_jwks: file_name` is only loaded at Envoy start-up time.

[2022-07-18 17:52] Patrick0308 commented on #22218
@kyessenov The envoy which is build on my own based on 1.19.2 and cherry picked https://github.com/envoyproxy/envoy/pull/17994, Binary is
[envoy.zip](https://github.com/envoyproxy/envoy/files/9134172/envoy.zip) . The symbols‘ file is
[lib.zip](https://github.com/envoyproxy/envoy/files/9134176/lib.zip)

[2022-07-18 18:07] mohitreddy1996 opened #22269 "Envoy returning 500 "Internal Server Error" downstream"
*Title*: Envoy returning 500 "Internal Server Error" downstream

*Description*:
To give some background -

We run an EKS cluster with ~10 pods (with horizontal pod autoscaler configured which puts the number of pods in the range of 8 - 15).

We deploy Envoy on the cluster as the edge/ingress using Emissary (for config management primarily), currently running 2 replicas (for availability mostly).

[2022-07-18 18:39] keith commented on #22217
We are actually doing a select on the target upstream that pulls in the library I linked above. So it's just a side effect of doing `source/...` that still pulls in this library. I'm actually surprised this is the only case of this today.

One option is to use this https://github.com/grailbio/bazel-compilation-database/pull/100 and mark the target as compatible only with Linux. I'm not sure what e

[2022-07-18 19:13] keith commented on #22217
And here's an example of what the incompatible solution would look like if we wanted to go that route https://github.com/envoyproxy/envoy/pull/22273, please ptal

[2022-07-18 21:10] kyessenov commented on #22218
Majority of the memory appears to be related to "RouteConfigUpdateReceiverImpl::onRdsUpdate" so it's churning through xDS updates:
[code]

Are you constantly updating Istio configs? Is the drain duration short on your listeners?

[2022-07-18 21:18] kyessenov commented on #22218
[profile001.pdf](https://github.com/envoyproxy/envoy/files/9135839/profile001.pdf)

[2022-07-18 21:49] ggreenway commented on #22250
One of the objections to boost is compile times being extremely long for code that includes boost. I don't think dynamic linking would help with that concern.

[2022-07-19 02:33] moderation commented on #22250
Boost headers were added as a dep for the Hyperscan input matcher contrib extension at https://github.com/envoyproxy/envoy/blob/main/bazel/repository_locations.bzl#L549-L561=.  In theory as this is a contrib extenstion, it doesn't affect the standard build - https://github.com/envoyproxy/envoy/pull/19473#issuecomment-1063047509=

On one hand, maybe the impact for contrib extensions isn't that sign

[2022-07-19 02:47] Patrick0308 commented on #22218
We sync consul services to istio service entries. If all endpoint are crash, the service entries will be deleted. I think this is reason why sometimes rds config is updating. It is not need to delete service entries. Thanks, You make me discover this problem.
But I think It's not memory leak really reason. I observed that when I excluded outbound 443,80 ports the rate of memory leak has slowed dow

[2022-07-19 03:54] kyessenov commented on #22218
Happy this was helpful. The fact that memory is not released from RDS updates is not normal, so it's worth investigating further. But I think we can make a synthetic test to force high RDS churn to find out why in_use memory is accumulating.

[2022-07-19 05:14] bryanwux commented on #22250
Unfortunately, to build folly whole boost is needed which means only boost headers included is not enough :(

[2022-07-19 06:12] zhxie commented on #22099
I have a high level question, do we really need to add a web UI to Envoy itself?
Embedding fancy dashboard will increase the binary size heavily, while a simple web page is too difficult to use for ops. I think Envoy should only expose RESTful APIs, and leave to other developers to setup their own dashboards, or separate into a new project like envoy-webui owned by ourselves.
For some further thou

[2022-07-19 06:16] phlax commented on #22099
i would generally agree with this point - i think we risk various kinds of bloat, and additiional maintenance including a UI ourselves, whereas an API could be more powerful, and agnostic to the UI tech etc

[2022-07-19 06:26] kfaseela commented on #21941
/assign @ZiyangXiao

[2022-07-19 06:45] phlax commented on #22217
trying to understand the implications of disabling it on all platforms - i guess no code highligting etc for that code

iiuc im also wondering if we could generate in a platform-independent way - it seems strange/arbitrary that someone editing on one arch would see the source code differently to another - irrespective of what was ultimate compiled/deployed

that said - i think it would be good to

[2022-07-19 07:04] phlax commented on #22269
@mohitreddy1996 do you know if this problem still occurs in more recent versions of Envoy?

im noticing that the version you are using is 1.17.4 - currently 1.20.x -> are supported

[2022-07-19 07:19] Patrick0308 commented on #22218
@kyessenov  There is another reason that istio-proxy disconnected istiod every 30 minutes. When istio-proxy reconnect istiod, xds will be sent to proxy again.
I don't think it's memory leak cause, because an another instance has a faster memory leaks.
![image](https://user-images.githubusercontent.com/5486149/179689699-c943e5b1-a9b3-48c2-a68f-3e7288c37600.png)
The memory went up to 300M in an hour

[2022-07-19 07:19] phlax commented on #22200
cc @daixiang0 - any ideas on this ?

[2022-07-19 07:29] daixiang0 commented on #22200
Do you mean that 301 is the health check port and you want to redirect it to multiple servers? Something like https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/locality_load_balancing?

[2022-07-19 07:36] Patrick0308 commented on #22218
May be is another memory leak reason for quote-level.

[2022-07-19 08:05] github-actions opened #22275 "Newer release available `com_github_google_benchmark`: v1.6.2 (current: v1.6.1)"
Package Name: com_github_google_benchmark@1.6.1
Current Version: v1.6.1@2022-01-10
Available Version: v1.6.2@2022-07-18
Upstream releases: https://github.com/google/benchmark/releases

[2022-07-19 08:07] LuyaoZhong opened #22276 "Bazel test fail due to quic error"
8 tests always fail on my local env due to this quic error,
**[error][quic] [external/com_github_google_quiche/quiche/quic/core/quic_connection.cc:3886] Client: Write failed with error: 1 (Operation not permitted)**

Here is the log from one of the failed tests,
[code]
Building envoy binary works well. But tests always complain with this quic error.
I'm using Ubuntu 20.04， clang 10.0.0, libstdc++-

[2022-07-19 08:09] phlax commented on #22276
not sure on the issue @LuyaoZhong but i guess im wondering what is different in envoy CI that means the write operation succeeds

cc @RyanTheOptimist

[2022-07-19 08:22] Neil-Boyle commented on #22166
proxywasm.GetProperty should be json value.

what you need:

value, err := proxywasm.GetProperty([]string{"route_metadata", "filter_metadata", "envoy.lb", "canary"})

ref: github.com/json-iterator/tinygo

to unmarshal it if necessary.

[2022-07-19 08:45] liverbirdkte commented on #22276
Run tests under Ubuntu 18.04 with clang 10.0.0, everything works fine. After switching to another laptop with Ubuntu 20.04, I got the same client write error.

[2022-07-19 08:48] LuyaoZhong commented on #22276
I run `ci/run_envoy_docker.sh 'ci/do_ci.sh bazel.release'` locally, still failed. I'm thinking about if  it is a kernel related issue. Do you know which system that envoy CI is running on?

[2022-07-19 08:54] phlax commented on #22276
interesting

ci is using the azp `ubuntu-18.04` image - altho im not 100% clear about how that is provisioned exactly

you can get some info here https://dev.azure.com/cncf/envoy/_build/results?buildId=113223&view=logs&j=55bc2ab9-36c1-5ab8-58a6-8c258728eeff&t=393b628a-726e-47ac-8691-377d067a0804

but if you have something specific in mind i would probably create a test pr to check the difference

[2022-07-19 09:27] LuyaoZhong commented on #22276
@phlax Thanks.
I'm not familiar with quic, just guessing it's might be some compatibility issue, waiting for quic expert.

Could we create a pr to test on ubuntu 20.04? For CI system, it will be great if we can switch to ubuntu-20.04 in the future, I think more and more engineers will upgrade their ubuntu, 18.04 is old. :)

[2022-07-19 09:29] phlax commented on #22276
cc @lizan

some testing has been done around this - there a few moving parts - and it forces some decisions around compatibility/versions

[2022-07-19 09:36] LuyaoZhong commented on #22276
Got it. Thanks.

[2022-07-19 10:02] Patrick0308 commented on #22218
I seriously suspect `origin_dst` cluster caused memory leak.
[code]

[2022-07-19 11:24] phlax commented on #22099
i guess the upside to embedding a UI is that you dont need to worry about a separate process/container/networking/etc

re API - realizing that is what we have already - i guess there is already tooling that is hooking into this

[2022-07-19 11:31] LuyaoZhong commented on #21953
This feature sounds interesting. I'm curious about the scenario, do you have a concrete example?
And could you elaborate on the traffic type, such  as tls or http, between the entities to help me understand it?

[2022-07-19 11:38] #21526 closed

[2022-07-19 13:06] adisuissa opened #22287 "envoy_reloadable_features_correctly_validate_alpn deprecation"
Your change #19284 (alpn: fixing config validation for socket matchers) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-07-19 13:06] adisuissa opened #22288 "envoy_reloadable_features_handle_stream_reset_during_hcm_encoding deprecation"
Your change #19144 (hcm: handle stream reset during downstream encoding) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-07-19 13:06] adisuissa opened #22289 "envoy_reloadable_features_http2_allow_capacity_increase_by_settings deprecation"
Your change #19161 (http2: allows the capacity to increase with SETTINGS frame) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-07-19 13:06] adisuissa opened #22290 "envoy_reloadable_features_internal_address deprecation"
Your change #18104 (listener: create internal listener) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-07-19 13:06] adisuissa opened #22291 "envoy_reloadable_features_proxy_102_103 deprecation"
Your change #19023 (http: proxying 102s.) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-07-19 13:06] adisuissa opened #22292 "envoy_reloadable_features_sanitize_http_header_referer deprecation"
Your change #17443 (conn_manager: sanitize invalid urls in HTTP header's referer field) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-07-19 13:06] adisuissa opened #22293 "envoy_reloadable_features_update_expected_rq_timeout_on_retry deprecation"
Your change #19002 (router: update expected timeout header on retry) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.
cc @JonathanO

[2022-07-19 13:54] #22275 closed, assigned to phlax

[2022-07-19 13:55] #21511 closed

[2022-07-19 14:14] jmarantz commented on #20952
This was resolved in https://github.com/envoyproxy/envoy/pull/21814

[2022-07-19 14:14] #20952 closed, assigned to jmarantz

[2022-07-19 17:05] #21866 closed

[2022-07-19 18:04] mohitreddy1996 commented on #22269
aah okay, I will try to upgrade our envoy and see if we still see this error. I will try to report back by EoW

[2022-07-19 18:32] kyessenov commented on #22218
@Patrick0308 It's plausible. I think we should see a high number of connections on the passthrough cluster then, but I only see:
```envoy_cluster_upstream_cx_active{cluster_name="PassthroughCluster"} 49```

One experiment we can try is to make clean-up more aggressive with https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto#envoy-v3-api-field-config-cluster-v3-cluste

[2022-07-19 19:15] ankatare commented on #22101
@phlax Clue to repro it would be helpful.

[2022-07-19 19:17] phlax commented on #22101
check CI - eg here https://dev.azure.com/cncf/envoy/_build/results?buildId=113266&view=logs&j=91e633a5-4907-5da1-5862-92a79fe2387a&t=4e621882-ec00-57a9-5411-d6f4a88c2fed

[2022-07-19 19:30] abeyad opened #22303 "Add support for an optional TTL in KeyValueStore"
It would be nice to have the [KeyValueStore](https://github.com/envoyproxy/envoy/blob/main/envoy/common/key_value_store.h) support a TTL (time-to-live) for entries.  If a TTL is set, then when the TTL has elapsed, the entry would be removed from the KV store, and if it's a KV store that persists to disk (e.g. [FileBasedKeyValueStore](https://github.com/envoyproxy/envoy/blob/main/source/extensions/

[2022-07-19 20:14] RyanTheOptimist commented on #22303
Seems like a great idea. Alt-Svc has an explicit TTL so if the KV store itself implement it, that would be simpler.

[2022-07-19 20:45] keith commented on #22217
Yea I'm not sure if it could cascade to something more than just no completion for those 2 files or not. I think that's still the safest one for now https://github.com/envoyproxy/envoy/pull/22272

I think the ideal longer term solution is using https://github.com/envoyproxy/envoy/pull/22273 once the patch in bazel lands, in which case we would just annotate targets as needed and not have to do any

[2022-07-19 23:05] alyssawilk opened #22306 "//contrib/sip_proxy/filters/network/test:conn_manager_test failing"
@durd07 @nearbyfly @dorisd0102

[2022-07-19 23:03:53.080][16][error][connection] [contrib/sip_proxy/filters/network/source/conn_manager.cc:547] sip response application error: MockResponseDecoderAppException
[2022-07-19 23:03:53.081][16][error][connection] [contrib/sip_proxy/filters/network/source/conn_manager.cc:554] [C8] sip response error: MockResponseDecoderEnvoyException
[2022-07-19 23:03:53.

[2022-07-19 23:59] TAOXUY opened #22307 "Command operator for enum string grpc.status.code"
*Title*: Command operator for enum string grpc.status.code

*Description*:
The existing command operator %GRPC_STATUS% only provides [the camel case of gRPC status code](https://github.com/envoyproxy/envoy/blob/main/source/common/grpc/status.cc#L88-L126). We are requesting a command operator to support enum string(snake case) for [grpc.status.code](https://github.com/googleapis/googleapis/blob/mas

[2022-07-20 00:38] durd07 commented on #22306
/assign

[2022-07-20 04:15] #21636 closed

[2022-07-20 05:02] rohrit commented on #18928
Hi @LuyaoZhong, thanks for raising this as it is an important security use case. I have a question about the proposal and the intended support - would this work with HTTP CONNECT like you describe in your presentation video (https://events.istio.io/istiocon-2022/sessions/introducing-tls-bumping/) as well?

[2022-07-20 05:49] LuyaoZhong commented on #18928
Yes, making this work with HTTP CONNECT is one of our goals. We are going to utilize internal listener to terminate HTTP CONNECT. The data flow looks like this: Client -> ListenerA(HCM with CONNECT termination) -> InternalListenerB(TLS Bumping) -> Upstream server.

Would you mind share your use case or scenario? We'd like to know more about requirements from real world.

[2022-07-20 05:57] conqerAtapple commented on #17013
Thanks @zuercher .

@alyssawilk @mattklein123 @zuercher Regarding the specifics of the implementation itself, here is my hight level thought ideas:

- Create d-aperture as  a `ThreadAwareLoadBalancer`
- Since current `ThreadAwareLoadBalancer` implementation assumes  `Ring` or `Maglev` LB, I might have to create a new type for d-aperture LB that directly inherits from `ThreadAwareLoadBalancer`.
- F

[2022-07-20 06:36] tedli commented on #21851
Seriously, I need this feature, and I believe I'm not alone.

There was an out of maintenance service (A) which runs robustly for years. But the service (B) this old service depends on, got updated, that introduced auth for existing apis. (A calls B)
So a proxy is needed to inject credentials into request from A to the consume B, because not willing to touch the code of A.

[2022-07-20 06:44] wbpcode commented on #21851
Sounds reasonable scene.

[2022-07-20 06:49] wbpcode commented on #21851
I tagged this issue to `help wanted`. But based on our contributing policy, we need a maintainer to sponsor this feature. Because we will add a new extension.
Check this https://github.com/envoyproxy/envoy/blob/main/CONTRIBUTING.md#adding-new-extensions for more info.

cc @yskopets

[2022-07-20 06:57] tedli commented on #21851
It would be convenient if this can affect at route level. So in an istio mesh, we can create `EnvoyFilter` cr to patch virtual_host, to tell which route need this, also the workload selector could be used to tell which pod need this.

[2022-07-20 07:38] LuyaoZhong commented on #19326
@bryanwux  is busy on other work. I'd like to take this.

@ggreenway Do we need to introduce a new option? One alternative is making it default just like X509_V_FLAG_CRL_CHECK and X509_V_FLAG_CRL_CHECK_ALL, because it sounds a common usecase.

https://github.com/envoyproxy/envoy/blob/main/source/extensions/transport_sockets/tls/cert_validator/default_validator.cc#L104~#L106

[2022-07-20 08:04] github-actions[bot] opened #22317 "Newer release available `com_github_grpc_grpc`: v1.48.0 (current: a3ae8e0)"
Package Name: com_github_grpc_grpc@a3ae8e00a2
Current Version: a3ae8e0@2021-06-07
Available Version: v1.48.0@2022-07-19
Upstream releases: https://github.com/grpc/grpc/releases

[2022-07-20 08:04] #22245 closed

[2022-07-20 08:04] #18337 closed

[2022-07-20 08:04] github-actions[bot] opened #22318 "Newer release available `io_bazel_rules_go`: v0.34.0 (current: v0.33.0)"
Package Name: io_bazel_rules_go@0.33.0
Current Version: v0.33.0@2022-06-06
Available Version: v0.34.0@2022-07-19
Upstream releases: https://github.com/bazelbuild/rules_go/releases

[2022-07-20 08:28] rohrit commented on #18928
Forward proxy is the main use case where the user points the browser/system proxy at Envoy. One of things that is not optimal in Envoy is the need for the internal listener for the bumping TLS termination but I guess a new custom filter would be needed which can satisfy both CONNECT termination and the payload TLS termination and mimicking.

[2022-07-20 08:49] LuyaoZhong commented on #18928
A new custom filter was an alternative, we had https://github.com/envoyproxy/envoy/pull/19346 as PoC before, but this can only work for HTTP/1.0. To support HTTP/2 even QUIC, a complicated network filter is required, and we can predict that we need to copy a lot of logic from HCM to process http protocol, but the filter is just for handling CONNECT eventually. So we need to evaluate if it is worth

[2022-07-20 09:07] durd07 commented on #22306
I have reproduced it with bazel test //contrib/sip_proxy/filters/network/test:conn_manager_test,
but bazel coverage //contrib/sip_proxy/filters/network/test:conn_manager_test works well.
Let me check it.

[2022-07-20 11:06] phlax commented on #22307
cc @cpakulski

[2022-07-20 11:28] Patrick0308 commented on #22218
I set 1000ms clean-up interval.
[code]
However the rate of memory leak is faster.
![image](https://user-images.githubusercontent.com/5486149/179969631-7dc68766-23ec-4fe9-9cf4-2dc333b61427.png)
profile file:  [envoypprof7.zip](https://github.com/envoyproxy/envoy/files/9149286/envoypprof7.zip)
[code]
Obviously, ` OriginalDstCluster::cleanup()` don't clean up.

[2022-07-20 12:55] alyssawilk commented on #22306
Awesome - thanks for diving on this one!

[2022-07-20 13:36] alyssawilk commented on #22303
SGTM

[2022-07-20 13:45] sschepens commented on #21615
@stevenzzzz sure, I can do that. The only thing i'm a bit weary about query/parameters is that nowadays if someone isn't matching, we're not even parsing them, tough we can probably attach it the first time it's needed, does that seem right?

[2022-07-20 14:34] stevenzzzz commented on #21615
attaching on request sounds good to me. Tho I am wondering if this worth the extra complexity.
Path matching is like 99% of routes we have seens, where by default the path_matcher strips the query parameters (if any) by default anyway.

[2022-07-20 15:54] #22287 closed

[2022-07-20 15:54] #22288 closed

[2022-07-20 15:56] #22289 closed

[2022-07-20 16:01] #21583 closed

[2022-07-20 16:04] phlax opened #22324 "`@envoy//test/extensions/transport_sockets/http_11_proxy:connect_integration_test` is flaky (or always fails?)"
Checking azp analytics the test posted in title appears to always fail (3/3 times in last 14 days)

https://dev.azure.com/cncf/envoy/_test/analytics?definitionId=11&contextType=build

recent azp failure:

https://dev.azure.com/cncf/envoy/_build/results?buildId=113339&view=logs&j=e969334a-0e55-5c18-ac96-8b546753391e&t=b5329a9e-93c7-5412-9f4c-6f8d659e1b57&l=9267

The error log doesnt seem to have an

[2022-07-20 16:06] phlax commented on #22324
cc @alyssawilk

[2022-07-20 16:08] #22293 closed

[2022-07-20 16:15] fishcakez commented on #22062
@bencebeky @alyssawilk now that #22040 is landed, should we "fix" the balsa implementation?

[2022-07-20 17:21] phlax opened #22327 "`//contrib/qat/private_key_providers/test:ops_test` is flaky (or always fails?)"
Checking azp analytics the test posted in title appears to always fail (2/2 times in last 14 days)

https://dev.azure.com/cncf/envoy/_test/analytics?definitionId=11&contextType=build

recent azp failure:

https://dev.azure.com/cncf/envoy/_build/results?buildId=113254&view=logs&j=8c169225-0ae8-53bd-947f-07cb81846cb5&t=6b0ace90-28b2-51d9-2951-b1fd35e67dec&l=2181

the test segfaults:

[code]

https:/

[2022-07-20 17:22] phlax commented on #22327
cc @ipuustin

[2022-07-20 17:31] alyssawilk commented on #22324
weird, almost always passes locally, must be a resource bug.  looks like time_system.waitfor doesn't work in this circumstance because of the readDisable.  Have a fix in the works.

[2022-07-20 17:37] phlax opened #22329 "`//test/extensions/filters/http/kill_request:kill_request_filter_integration_test` times out during coverage run"
Ive noticed this one quite a lot - but ~infrequently

afaict it always fails:

https://dev.azure.com/cncf/envoy/_test/analytics?definitionId=11&contextType=build

altho it doesnt seem to run very often (according to azp)

problems seems to be hanging/timeout - which can eat a lot of ci time (~12mins)

[2022-07-20 17:40] #13068 closed

[2022-07-20 17:51] phlax opened #22331 "`wavm` tests are taking a disproportionately large amount of CI resources"
despite having max sharding and `enormous` settings some of tests are averaging ~10-11mins others are nearly as bad

![hungry-wavm](https://user-images.githubusercontent.com/454682/180048741-023f4c5c-cd14-49be-b67d-8db080aabd78.png)

(from https://dev.azure.com/cncf/envoy/_test/analytics?definitionId=11&contextType=build)

i believe the cause is not using a precompiled wavm  bin - not sure all of

[2022-07-20 17:51] phlax commented on #22331
cc @PiotrSikora

[2022-07-20 17:58] adisuissa commented on #22288
It wasn't me :)
Thanks goes to @giantcroc (who created #22313)!

[2022-07-20 18:03] dnephin commented on #19326
I forgot to mention this in my original post. In Go, https://pkg.go.dev/crypto/x509 always has the behaviour of allowing partial chains. So always setting `X509_V_FLAG_PARTIAL_CHAIN` would match the behaviour of the Go stdlib.

[2022-07-20 19:21] phlax commented on #22331
i see

could we use the published precompiled one to do that? at least on the supported platforms

this is consuming a lot of test cycles i think

[2022-07-20 20:10] howardjohn opened #22335 "DOWNSTREAM_WIRE_BYTES_SENT in listener access logs doesn't work"
*Title*: DOWNSTREAM_WIRE_BYTES_SENT in listener access logs doesn't work

*Description*:
Config:
[code]

Any request will then fail:
[code]

[2022-07-20 20:17] znqjnny opened #22336 "Combined RBAC IP filter with Unified Matcher usage"
Hi! We are trying to do an IP filter for thousands of IPs. We planning to use RBAC for IP filtering and combined it with the Unified Matcher.

We have some questions about RBAC and Unified Matcher:

1. Question about RBAC:
Could you give us some idea about how to extract the IP for matching, and also how to match the IP with the subnet for filtering?

2. Question about UnifiedMatcher
From what I l

[2022-07-20 21:05] kyessenov commented on #22335
This is because of an uninitilized meter for TCP https://github.com/envoyproxy/envoy/blob/main/envoy/stream_info/stream_info.h#L714. I think this also qualifies as "bad config" since you're trying to access HTTP properties for TCP streams.

[2022-07-20 21:07] howardjohn commented on #22335
Agree on both counts. For other HTTP aspects on TCP streams we just log `-` though or similar which I think is reasonable. For our case we have a single format shared among TCP+HTTP so its helpful to have it not crash

[2022-07-20 21:32] zuercher commented on #17013
That sounds right.

[2022-07-21 00:03] #21623 closed

[2022-07-21 01:11] fedya-at-db commented on #21519
I don't have a simple config to repro this with, but I'm seeing the same issue. As part of a test we're sending a local request directly to our envoy using localhost as the target. Our listener sets use_remote_address: true, which appends the client ip to x-forwarded-for as expected, and we can see this in trace logging before executing the ext_authz filter. However as soon as that filter is execu

[2022-07-21 03:14] dio commented on #21519
cc. @wbpcode

[2022-07-21 03:15] fedya-at-db commented on #21519
My rudimentary code navigation points me at [ext_authz_http_impl](https://github.com/envoyproxy/envoy/blob/df5260957fc9446b57114a74ffbdc5d9b5831bfd/source/extensions/filters/common/ext_authz/ext_authz_http_impl.cc#L281) which creates a RequestOptions with send_xff at its default value of true, which then gets used in [AsyncStreamImpl::sendHeaders](https://github.com/envoyproxy/envoy/blob/0782a9e07

[2022-07-21 03:42] wbpcode commented on #21519
This config sounds weird to me also. Why a client set itself's address into the XFF? The address of client should be added to XFF by the next hop by default.

[2022-07-21 04:29] conqerAtapple commented on #17013
Thanks @zuercher

[2022-07-21 07:03] helloord commented on #6695
Is there a solution?

[2022-07-21 07:20] helloord commented on #6695
@junr03 Is there a solution?

[2022-07-21 07:23] helloord commented on #6695
Is there a solution?

[2022-07-21 07:24] helloord commented on #6695
@junr03 Is there a solution?

[2022-07-21 08:01] #21667 closed

[2022-07-21 08:03] github-actions[bot] opened #22341 "Newer release available `com_github_intel_qatlib`: 22.07.0 (current: 21.11.0)"
Package Name: com_github_intel_qatlib@21.11.0
Current Version: 21.11.0@2021-11-10
Available Version: 22.07.0@2022-07-20
Upstream releases: https://github.com/intel/qatlib/releases

[2022-07-21 08:03] github-actions[bot] opened #22342 "Newer release available `com_github_wasmtime`: v0.39.1 (current: v0.38.1)"
Package Name: com_github_wasmtime@0.38.1
Current Version: v0.38.1@2022-06-27
Available Version: v0.39.1@2022-07-21
Upstream releases: https://github.com/bytecodealliance/wasmtime/releases

[2022-07-21 08:03] github-actions[bot] opened #22343 "Newer release available `com_google_protobuf`: v21.3 (current: v3.20.1)"
Package Name: com_google_protobuf@3.20.1
Current Version: v3.20.1@2022-04-22
Available Version: v21.3@2022-07-20
Upstream releases: https://github.com/protocolbuffers/protobuf/releases

[2022-07-21 08:03] #21918 closed

[2022-07-21 08:05] prprdan opened #22344 "How to report resource usage to control plane while using global load balancing?"
In our scenario, we have several envoy replicas and we want to perform a global lb instead of each envoy instance performing lb by itself. I notice that the official doc recommend to achieve this via control plane.
![image](https://user-images.githubusercontent.com/105788743/180162537-7646b57a-da02-4d0c-b3b3-f647fcc2f7c8.png)
I wonder is there an existing API or config to enable this reporting or

[2022-07-21 08:36] helloord opened #22346 "How to log cookie values in access.log"
https://github.com/envoyproxy/envoy/issues/6695
Excuse me, is there a solution for this? Thank you

[2022-07-21 09:39] phlax commented on #22346
cc @cpakulski

[2022-07-21 09:42] phlax commented on #22344
@daixiang0 any ideas on this ?

[2022-07-21 09:44] phlax commented on #22336
cc @snowp

[2022-07-21 09:47] phlax commented on #22329
cc @alyssawilk @KBaichoo this test seems to be really problematic - it would be great to track down why it hangs

[2022-07-21 09:54] shavros opened #22347 "Failing to connect to PostgreSQL with Envoy using TLS"
*Title*: *SSL connection to PostgreSQL via Envoy*

*Description*:
I want to connect to PostgreSQL via envoy.
I need SSL connection to be established between the envoy and the database.
For example: I want to use psql command like this:
`psql -h localhost -p 1999 -d test_db -U postgres`
But I am getting an error:
[code]

At the same time I can successfully connect to database on port 5432 with comm

[2022-07-21 10:24] phlax commented on #22341
@ipuustin PTAL

[2022-07-21 10:25] phlax commented on #21622
@wbpcode PTAL

[2022-07-21 10:31] surki commented on #22263
@phlax wondering if we have any plan the for the 1.23.1 release soon?
(just checking, as our upgrade is blocked on this)

[2022-07-21 10:32] phlax commented on #22263
my expectation is around 1 week - but may be slightly longer - i want to cycle through the other release branches first

[2022-07-21 11:00] phlax opened #22348 "`//test/integration:listener_lds_integration_test` is flaky or failing in CI"
i think this is a relatively recent issue - failing CI can be seen in the check/asan job as here:

https://dev.azure.com/cncf/envoy/_build/results?buildId=113433&view=logs&j=1439b9f7-a348-5b50-b5fe-ea612ea91241&t=37b0a9be-1a71-50b3-594a-4c04a031247d&l=900

i think the relevant part of log is:

[code]

according to azp analytics this test has failed 2/2 times in the last 14 days (on postsubmit, its

[2022-07-21 11:02] phlax commented on #22348
cc @soulxu

[2022-07-21 11:08] soulxu commented on #22348
I will check that after back from vacation next week

[2022-07-21 11:19] phlax opened #22349 "`test/extensions/filters/http/alternate_protocols_cache/filter_integration_test` is flaky or always fails in CI"
This appears to be a relatively new issue in the check/tsan job and seems timeout related

[code]

https://dev.azure.com/cncf/envoy/_build/results?buildId=113432&view=logs&j=d1f76054-8f79-554b-6f4a-11d6a63b8e00&t=266e17e3-d213-54b5-deef-0dcee01da137&l=989

https://source.cloud.google.com/results/invocations/7a3af141-3b2f-4c55-81bd-08ffc58a0e4e/targets/%2F%2Ftest%2Fextensions%2Ffilters%2Fhttp%2Falt

[2022-07-21 11:21] phlax commented on #22349
cc @abeyad not sure if recent changes to this test are related

[2022-07-21 11:33] surki commented on #22263
Thanks

[2022-07-21 11:35] phlax opened #22351 "foreign_cc/ragel build flakes ~frequently in CI"
This one has been cropping up intermittently i think causing the release job to fail - eg:

https://dev.azure.com/cncf/envoy/_build/results?buildId=113439&view=logs&j=8c169225-0ae8-53bd-947f-07cb81846cb5&s=fbb7e3ed-ed2b-5ffd-2e3f-9e68630afbc3&t=6b0ace90-28b2-51d9-2951-b1fd35e67dec&l=1009

https://source.cloud.google.com/results/invocations/f874b85f-2127-4630-8d24-57d33d774c4f/targets

https://sour

[2022-07-21 11:37] phlax commented on #22351
cc @zhxie

[2022-07-21 12:05] Patrick0308 commented on #22218
Setting cleanup_interval  2400h solved my problem.  EnvoyFilter is
[code]

[2022-07-21 12:53] alyssawilk commented on #22329
cc @qqustc are you still around to support this?

[2022-07-21 13:40] wbpcode commented on #21622
IMO, it would be better to update this deps and cpp2sky at same time.

[2022-07-21 13:41] phlax commented on #21622
is it ok to assign other to you also ?

[2022-07-21 13:42] phlax commented on #21622
actually there  is no ticket for it

[2022-07-21 13:43] phlax commented on #21622
ah, because we have the most recent release version

[2022-07-21 13:49] wbpcode commented on #21622
I will try to update the cpp2sky first and ensure the cpp2sky used the same version's `skywalking_data_collect_protocol` with envoy.

[2022-07-21 15:13] kyessenov commented on #22218
Very interesting! I haven't spotted where the leak is but this is a good signal that `cleanup` is leaky.

[2022-07-21 15:17] kyessenov commented on #22336
@zhxie for RBAC and unified matcher integration.

Re 2: We have an LcTrie-based IP matcher implemented https://www.envoyproxy.io/docs/envoy/latest/xds/type/matcher/v3/ip.proto#envoy-v3-api-msg-xds-type-matcher-v3-ipmatcher that could represent large IP sets efficiently.

We don't have any concrete solution for sharing "sub-trees" in the matcher tree in general (e.g. multiple identical OnMatch in p

[2022-07-21 15:53] #22292 closed

[2022-07-21 16:08] abeyad commented on #22349
Seems to fail on the H3 "NoDeferredProcessing" tests, I see failures for both:

`H3PostHandshakeFailoverToTcp/IPv6_Http2Downstream_Http3UpstreamOghttp2NoDeferredProcessing`
`H3PostHandshakeFailoverToTcp/IPv4_Http2Downstream_Http3UpstreamWrappedNghttp2NoDeferredProcessing`

[2022-07-21 16:11] kyessenov commented on #22218
AFAICT the hosts are all shared_ptrs and flat_hash_map stores them in-place. So it shouldn't in theory leak. Mutations are all copy-on-write on the map, so that also excludes concurrent writes. If you can run with `trace` log level, we should see logs on when hosts are removed and added. I've tried running locally with very aggressive cleanup but no luck.

[2022-07-21 16:21] kyessenov commented on #22218
Ok, I think I can reproduce locally on the latest main. I'll debug to find the root cause.

[2022-07-21 16:25] kyessenov commented on #22218
Config (run with concurrency):
[code]

Backend:
[code]

Load:
[code]

Memory grows from 70MB to 140MB.

[2022-07-21 16:31] kyessenov commented on #22218
Interestingly, it's leaking sockets as well.
[code]

Perhaps, cleanup somehow leaves existing connections in a bad state.

[2022-07-21 16:56] kyessenov commented on #22218
[profile002.pdf](https://github.com/envoyproxy/envoy/files/9161268/profile002.pdf)

[2022-07-21 17:51] kyessenov commented on #22218
The root cause is that HTTP conn pool hashes based on `Host` as a pointer. So when it's deleted from ORIGINAL_DST and re-created with the same address, a duplicate is created in HTTP conn pool. The solution is to not delete it while it's being used in the HTTP conn pool.

[2022-07-21 20:01] #21674 closed

[2022-07-21 20:30] yanjunxiang-google commented on #18713
Closed by: https://github.com/envoyproxy/envoy/pull/21884

[2022-07-21 20:30] #18713 closed

[2022-07-21 20:36] cpakulski commented on #22346
@helloord I am afraid that there is no direct way of doing it. By direct way I mean an access log formatter.

I have not tried it, but maybe header-to-metadata filter is what you need: https://www.envoyproxy.io/docs/envoy/v1.23.0/configuration/http/http_filters/header_to_metadata_filter.html?#id4.
You need to construct regex to locate SESSIONID and put it into dynamic metadata under the key say `s

[2022-07-21 20:53] dekimsey commented on #22153
Ah, coworker pointed me to it. The JVM has a `-XX:+MaxFDLimit` option that bumps soft limit to equal hard limit automatically. TBH it's unclear to me what/how the kernel expects soft vs. hard limits to be used.

[2022-07-21 21:54] TAOXUY opened #22359 "Per HTTP filter time overhead"
Per HTTP filter time overhead

*Description*:
We are looking for the stats to break down the total processing time into per filter time overhead, so that we can benchmark each filter and detect any regression.

The decoding time overhead and the encoding time overhead for each HTTP filter.

[2022-07-22 00:02] #21520 closed

[2022-07-22 00:19] kyessenov commented on #20953
Well, I independently came to the same conclusion. Should have read this earlier!
This is showing up as a problem for users: https://github.com/envoyproxy/envoy/issues/22218.
I can try to write a mutex solution since that seems to be the consensus.

[2022-07-22 00:43] daixiang0 commented on #22344
I am not sure there is an API for it.

ping @envoyproxy/api-shepherds

[2022-07-22 00:50] PiotrSikora commented on #22331
If long running tests are a real problem, then I think we could disable tests with WAVM for now (but keep the build with WAVM to verify that there are no build breakages).

WAVM is probably the first Wasm engine that's going to be removed, anyway. We already have WAMR and WasmEdge (which wasn't added to Envoy yet, but it's supported in Proxy-Wasm C++ Host) that also have option to compile Wasm usi

[2022-07-22 00:56] PiotrSikora commented on #22201
Agreed, those HTTP/gRPC callouts are not forwarding the original request (at least, not in majority of cases), so they shouldn't be appending `X-Forwarded-For` header.

@StarryVae it would be great if you want to take care of this one as well. Thank you!

[2022-07-22 01:43] zhxie commented on #22351
Thanks for the reporting. I will take some time to look into the issue. It seems that the error is unexpected and happened randomly, I have never met it in my local Docker environment.
BTW, do you know where I can get the failed Configure.log?

[2022-07-22 02:20] PiotrSikora commented on #21634
We don't support that... I'm not familiar VTune, but wouldn't that require Envoy to be at least aware of it?

[2022-07-22 03:52] StarryVae commented on #22201
@PiotrSikora yes, i would like to take this, and should we just disable the `xff` in `RequestOptions`?

[2022-07-22 04:09] ankatare commented on #22101
@phlax Ok

[2022-07-22 04:51] zhxie commented on #22336
Here is an example for using RBAC with generic matching in network/HTTP RBAC filter which will extract the source IP as inputs for matching.

[code]

[2022-07-22 05:00] kyessenov commented on #22218
@Patrick0308 Yes, it's fairly tricky to solve. If `original_dst` deletes a record for a host and then hands out another `Host` for the same address, the pools will accumulate multiple connections to the same host (since they are based on pointer value of `Host`).

But that's not really the issue here, the leak is caused by double write when adding `Host` from two workers, the second write will be

[2022-07-22 05:26] PiotrSikora commented on #22201
I think so, I cannot think of a good reason to retain it by default, and making it configurable would require changes to the ABI.

Users that want to restore the previous behavior can get the `X-Forwarded-For` header from the proxied request and add it to outgoing HTTP/gRPC callouts.

cc @mpwarres @kyessenov to see if they have any objections.

[2022-07-22 05:49] suniltheta commented on #20272
/assign

[2022-07-22 06:19] helloord commented on #22346
Problem solved, thanks

[2022-07-22 06:19] #22346 closed

[2022-07-22 07:44] quserinn opened #22362 "Allow http health check configure use http or https"
*Description*:
When envoy do http health check, health check occur over the transport socket specified for the cluster.

But some legacy services offer health check via http, and offer contents via https. So it is useful that tls configuration is added to http health check configuration like below.
[code]

Please review if this feature is appropriate for envoy. I will try to implement this feature

[2022-07-22 08:55] DanApostol opened #22363 "State value in Oauth filter"
Hello,

I am noticing that the state value in Oauth Authorization Endpoint url is using the url of secured service called by client app, so, for example, if client app calls https://localhost:10000/app1/secured/url1, then the state value is equal with the url encoded format of the url called, aka https%3A%2F%2Flocalhost%3A10000%2Fapp1%2Fsecured%2Furl1.

What can be done to follow the recommendatio

[2022-07-22 09:10] phlax commented on #22351
i think its a network flake, and fairly infrequent

im not sure i follow which log you are referring to

[2022-07-22 12:01] #21691 closed

[2022-07-22 12:35] robejfarr opened #22365 "Building Envoy version 1.22.x on CentOS 7 and the best approach?"
Yes CentOS 7 is pretty old, but we need to support it and run Envoy as best we can until it nears the end of it's maintenance window.

Building Envoy version 1.21.x onwards we run into the issues documented here: https://github.com/envoyproxy/envoy-build-tools/blob/main/build_container/CENTOS7_BUILD_STATUS.md with tcp_stats.cc using headers that are generally incompatible with CentOS 7. We do not

[2022-07-22 12:58] dhanisahu commented on #8639
hi @amalaruja  could you please provide the details where we have to made changes with sample code.

[2022-07-22 14:06] fgmacedo commented on #21839
@qiwzhang

So the feature is not do map grpc codes to http codes, but to use response metadata like `x-http-code` (custom header) to inform the `grpc_transcoder` the desired HTTP response status code.

On the gRPC server, we'll need to write something like this to define a custom http response:

[code]

Do you consider adding this as a new feature to the `grpc_transcoder`?

The flow can be: We def

[2022-07-22 14:10] #22324 closed

[2022-07-22 14:17] mpwarres commented on #22201
Avoiding appending `X-Forwarded-For` makes sense to me, since as @PiotrSikora said it's not appropriate for the common case of callouts, and there's no way for plugin code to disable it.

Is there any concern about breaking existing plugins that depend on the current behavior? It sounds like we're willing to just require those plugins to be updated to explicitly set it. If it turns out we need an

[2022-07-22 14:58] seblaz commented on #20198
Hi @zhxie! Thanks for implementing this, do you know if this is release in some version of Envoy? Because I couldn't find it in the changelog

[2022-07-22 15:01] zhxie commented on #20198
No, API of prefix matching has been introduced in earlier version, this patch only add the implementation so it does not have a release note.

[2022-07-22 15:32] seblaz commented on #20198
Great, and do you know in which version of Envoy was it included?

[2022-07-22 15:33] zhxie commented on #20198
Since it is merged in March, it should be delivered from v1.22.

[2022-07-22 15:39] seblaz commented on #20198
Thanks!

[2022-07-22 16:03] kyessenov commented on #22201
The standard mechanism to deal with deprecations is [runtime variables](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/operations/runtime). For a version, you would need to support both old and new behaviors. I think the chances this breaks someone are not that high so there is no need to add APIs. That said, I think there's an ABI issue here with lack of HTTP call options similar

[2022-07-22 16:37] ggreenway commented on #22365
If your kernel headers are too old to compile, it seems fine to disable that extension in your build. I don't think it makes sense to change the extension to work with extremely old kernels.

[2022-07-22 16:49] shashankram opened #22368 "Envoy fails to connect to external rate limit service: connection failure, transport failure reason: delayed connect error: 111"
*Title*: *One line description*
Envoy fails to connect to external rate limit service: `connection failure, transport failure reason: delayed connect error: 111`. I have a global network rate limit filter on the ingress listener's filter_chain.

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

I have set up an external Rate Limit Service (RLS)

[2022-07-22 16:57] phlax commented on #22368
cc @wbpcode

[2022-07-22 17:01] craigb-zencore opened #22369 "Compressor filter not found"
*Description*:

[libprotobuf WARNING external/com_google_protobuf/src/google/protobuf/text_format.cc:2139] Can't print proto content: proto type type.googleapis.com/envoy.extensions.filters.http.compressor.v3.Compressor not found

[libprotobuf WARNING external/com_google_protobuf/src/google/protobuf/text_format.cc:2139] Can't print proto content: proto type type.googleapis.com/envoy.extensions.fil

[2022-07-22 17:04] phlax commented on #22347
@shavros can you post your config please

[2022-07-22 17:08] phlax commented on #22359
cc @mattklein123

[2022-07-22 17:12] phlax commented on #22369
cc @KBaichoo

[2022-07-22 17:15] phlax commented on #22363
cc @snowp

[2022-07-22 17:17] phlax commented on #22362
cc @adisuissa

[2022-07-22 17:42] shashankram commented on #22368
Figured out the issue. Envoy is operating correctly. There was a misconfiguration in my environment where the cluster hostname resolved to an IP address that did not have endpoints in k8s. After fixing this misconfiguration, rate limiting works as expected.

Thanks!

[2022-07-22 17:42] #22368 closed

[2022-07-22 18:01] craigb-zencore commented on #22369
We've uncovered that the Evnoy instance does not have gzip extension installed.

[2022-07-22 18:22] PiotrSikora commented on #22201
I don't believe deprecation via runtime variables is required for experimental filters.

[2022-07-22 20:01] #21690 closed

[2022-07-22 21:05] jsbucy commented on #19765
On #9577 I had a proof-of-concept of STARTTLS for SMTP that I have been meaning to rebase on the final StartTls transport socket. Knowing that there's interest may help me motivate to get it done :)

[2022-07-22 21:13] yzhao1012 opened #22372 "How to get SSL socket file descriptor from eBPF uprobes on SSL_{read,write}"
*Title*: *How to get SSL socket file descriptor from eBPF uprobes on SSL_{read,write}*

*Description*:

Pixie uses eBPF to capture network traffic. When tracing Envoy, Pixie uses eBPF uprobes on SSL_{read,write} functions to trace the clear-text network traffic. Envoy uses SSL_{read,write} in a way that does not set file descriptor of the socket connection in the SSL struct. Where is the file desc

[2022-07-23 02:42] wangjianwen opened #22374 "locality_weighted_lb_config has no value by config_dump"
I create DestinationRule like this

[code]

Atfer ,  I used  'config_dump'  to download envoy config,  this cluster config is like this

[code]

My problem is :  why locality_weighted_lb_config is empty object, no value for load_balancing_weight ?

[2022-07-23 03:48] ramaraochavali commented on #22217
@keith Thank you so much. With this now compilation database generates correctly. But in VS code it still says
errors like `cstdint file not found` and `make_unique is not a member of 'std'`  - may be some setup issue. I have all the extensions that .devcontainer.json recommends. Any idea?

[2022-07-23 04:47] cbroglie commented on #9223
Panic mode can explain this: https://github.com/envoyproxy/envoy/issues/12997#issuecomment-688868976

[2022-07-23 08:04] github-actions[bot] opened #22375 "Newer release available `rules_rust`: 0.8.0 (current: 0.3.1)"
Package Name: rules_rust@0.3.1
Current Version: 0.3.1@2022-04-26
Available Version: 0.8.0@2022-07-22
Upstream releases: https://github.com/bazelbuild/rules_rust/releases

[2022-07-23 08:04] #22073 closed

[2022-07-23 11:38] #22374 closed

[2022-07-23 13:33] markdroth commented on #13009
FWIW, I agree that the semantics of ACK vs. request in the transport protocol could be made clearer, and I think that's something we should work on.  However, as @htuch said, I think that's a separate problem from the caching functionality that is the subject of this issue.  In this case, there should not be a subsequent request in the first place, because the client should not be re-requesting a

[2022-07-23 14:58] craigb-zencore commented on #22369
Closing this out. It's due to us running Google Anthos Service Mesh and they removed gzip compression extension from their Envoy build.

[2022-07-23 14:58] #22369 closed

[2022-07-23 18:49] Purushotham233 commented on #13068
Hi @alyssawilk ,

While verifying outlier_detection and failover configuration in a simulated failure scenario, observed similar logs.
Was expecting outlier detection to capture the (upstream_)response_timeout errors but these error were not considered.

EnvoyProxy as part Istio sidecar :
`
 "version": "ed148b62dfb0dc79adc8c8573ced4806883389c0/1.19.2-dev/Clean/RELEASE/BoringSSL"
`

Are we missing

[2022-07-23 22:05] znqjnny commented on #22336
Thanks so much for your help @kyessenov  and @zhxie ! The information is very helpful

[2022-07-24 00:33] keremgocen commented on #21639
@Hexta I'm still interested, could you point me to a place where I can understand what exactly I should do better? Should I look at the `set_real_ip_from` implementation in nginx? Or is there another similar filter I can copy the behaviour from? (disc: I'm new to the project)

[2022-07-24 14:35] dynajoe commented on #19046
Are there presently any workarounds to get the dynamic metadata for TLV from the proxy protocol filter to http connection manager?

[2022-07-24 18:25] htuch commented on #21292
@jamesmulcahy will you folks take on the implementation work here?

[2022-07-24 18:26] mohitreddy1996 commented on #22269
We upgraded our envoy proxy to 1.22 and don't see this anymore. We can close this issue, but just curious on what could be the issue here? Was something fixed/changed in the 1.18.x+ versions?

[2022-07-24 20:01] #21107 closed

[2022-07-25 00:03] #21705 closed

[2022-07-25 00:03] #21726 closed

[2022-07-25 01:51] hzxuzhonghu commented on #13009
Any way could prevent the hack judgement in istio

https://github.com/istio/istio/blob/5f90e4b9ae19800f4c539628ae038ec118835610/pilot/pkg/xds/ads.go#L392-L406

[2022-07-25 06:55] zirain commented on #14696
@kyessenov do you plan to bring back https://github.com/envoyproxy/envoy/pull/14717?

[2022-07-25 07:05] shavros commented on #22347
@phlax I attached envoy and PostgreSQL configs? Or what you are asking for?

[2022-07-25 07:07] phlax commented on #22347
apologies - i didnt see the attachments you added

cc @fabriziomello

[2022-07-25 07:38] soulxu commented on #22348
/assign @soulxu

[2022-07-25 08:16] phlax opened #22382 "`test/common/quic/platform/quic_platform_test` times out and fails"
example failure:

[code]
https://dev.azure.com/cncf/envoy/_build/results?buildId=113584&view=logs&j=8c169225-0ae8-53bd-947f-07cb81846cb5&t=6b0ace90-28b2-51d9-2951-b1fd35e67dec&l=1025

according to azp analytics this test has failed 1/1 times in the last 14 days

https://dev.azure.com/cncf/envoy/_test/analytics?definitionId=11&contextType=build

[2022-07-25 08:17] phlax commented on #22382
cc @RyanTheOptimist

[2022-07-25 09:43] moonheart commented on #17217
Sorry to bother you, is there any progress for this api change ?

[2022-07-25 09:49] phlax commented on #22269
not sure - but if you figure it out please post on the ticket for future reference

[2022-07-25 09:49] #22269 closed

[2022-07-25 11:24] phlax commented on #22348
this will need to be backported as the 1.23 release branch is currently in permafail

[2022-07-25 11:25] phlax commented on #22348
touch #22265

[2022-07-25 13:08] mbana opened #22384 "`docker.io/envoyproxy/envoy:v1.23.0` `arm64` image fails with `./docker-entrypoint.sh: 29: exec: su-exec: Exec format error`"
**Host:**

[code]

**Debug Log:**

[code]

From the above it's obvious it's shipping an x86_64 image:

[code]

[2022-07-25 13:15] phlax commented on #22384
hi @mbana thanks for reporting - im going to close this as duplicate of #22262 which was inadvertently closed

i expect to have a new release out by early next week

[2022-07-25 13:15] #22384 closed

[2022-07-25 13:18] mbana commented on #22384
Thank you for the quick response.

Can you not make an interim build for `docker.io/envoyproxy/envoy:v1.23.0` tagged `envoy:v1.23.1` or `latest` or so. One week a long wait ...

[2022-07-25 13:20] phlax commented on #22384
not as it stands - currently publishing Docker images requires a new patch version, and there are a bunch of other things that need to go into that

there has been some discussion about separating the container publishing from release publishing, but that is not the case today

[2022-07-25 15:13] keith commented on #22217
Can you check the compile_commands.json file for the file you're working in to see if the `-std=` arg looks right??

[2022-07-25 15:24] ramaraochavali commented on #22217
-std=c++17 - This is what it has for all files.

[2022-07-25 15:39] keith commented on #22217
hrms seems right, you can try running one of those commands to see if you get that outside the editor as well

[2022-07-25 17:00] ggreenway commented on #21845
Fixed by #21892

[2022-07-25 17:00] #21845 closed

[2022-07-25 17:39] ggreenway commented on #22130
It would be a big change in several ways:

* Changing all the prometheus names would require all envoy users that use prometheus metrics to change monitoring configuration
* The names are generally shared with all stat sinks (statsd, etc). To change the names only for prometheus and not the others would be difficult in the codebase.

I think the suggestion from @wbpcode is to have an intermediary

[2022-07-25 18:13] jmarantz commented on #22130
Could we put that translation mechanism into the Prometheus sink code, as an off-by-default option? Why would a third process be needed?

Of course we might not be able to augment the system with help-text for every stat. But changing some units (and their corresponding values) seems feasible (though potentially adding significant CPU cost to an already-costly sink).

[2022-07-25 18:26] RyanTheOptimist commented on #22382
Hm. I don't think I understand that data here:

https://dev.azure.com/cncf/envoy/_test/analytics?definitionId=11&contextType=build

This seems to show it only failed once in the last 30 days but shows 0 other runs. Do you understand how to interpret that data? (In particular, I don't think anything has changed with this recently so I don't *think* anything has gotten worse, but who knows :>)

[2022-07-25 18:32] phlax commented on #22382
im pretty sure i have seen this failing previously so i also dont think its new - but the azp evidence suggests that it never passes

not sure why it shows it as only having run once - i have tried putting all filters on (ie include passing etc) and searching for the failing test - but it never seems to show anything different

it could be that its not a direct target so it shows if it fails but n

[2022-07-25 18:33] phlax commented on #22382
also re azp fail analytics - you can post a link with filters or subpages etc - it always just points back to the main page - otherwise i would have posted what i was actually looking at

[2022-07-25 18:50] RyanTheOptimist commented on #22382
Hm, I don't think the azp evidence suggests that it never passes, does it? I think it says that it's failed once in the past 30 days. It could have also failed other times, but there is no data either way on that front, annoyingly. If it *never* passed then it would block PRs, right?

The log shows a timeout in the QuicThread test so a deadlock in that test is certainly plausible. I'll do some dig

[2022-07-25 18:52] phlax commented on #22382
it has failed 1/1 times - 0% pass rate

![quic-fail](https://user-images.githubusercontent.com/454682/180852490-d6203703-b940-4922-9efb-d831395bc6fd.png)

[2022-07-25 18:53] RyanTheOptimist commented on #22382
Heh, sure. But my point is that I'm confident this test has run WAY more than 1 time over the last 30 days.

[2022-07-25 18:54] phlax commented on #22382
i would have thought so too - but that is what im getting from azp - not sure how to understand that

[2022-07-25 19:45] jparklab opened #22390 "active_connections counter in connection limit filter can underflow"
*Title*: *active_connections counter in connection limit filter can underflow*

*Description*:

When both the local rate limit filter and the connection limit filter are used, and local rate limit filter is applied before the connection limit filter, connections rejected by the local rate limit filter can cause the active connection counter in the connection limit filter to be decremented without

[2022-07-25 20:16] ggreenway commented on #22130
`Could we put that translation mechanism into the Prometheus sink code, as an off-by-default option?`

That's a good idea. We can probably get most of the way there with some simple `ends_with` style rules that transform the name and value.

[2022-07-26 01:07] daixiang0 commented on #20180
fixed by #20268

[2022-07-26 01:07] #20180 closed

[2022-07-26 01:45] wbpcode commented on #22130
cc @jmarantz @ggreenway

Then  I think a bootstrap extension would be great for this.

[2022-07-26 01:46] wbpcode commented on #22130
Sorry for the delay response. I think @ggreenway has given a great explanation.

[2022-07-26 05:32] Purushotham233 opened #22395 "Outlier detection not happening for upstream response timeout cases with grpc calls"
*Description*:
While verifying outlier_detection and failover configuration in a simulated failure scenario, observed logs without `UPSTREAM HOST` and grpc-status: `unavailable`.
Was expecting outlier detection to capture the (upstream_)response_timeout errors but these error were not considered.

*Repro steps*:
Setup:
EnvoyProxy as part Istio sidecar : `"version": "ed148b62dfb0dc79adc8c8573ced480

[2022-07-26 05:34] Purushotham233 commented on #13068
Logged https://github.com/envoyproxy/envoy/issues/22395 for the concern with Outlier detection.

[2022-07-26 06:49] giantcroc opened #22397 "Add ISA-L to accelerate gzip compression in case of high network load"
*Title*: *Add ISA-L to accelerate gzip compression in case of high network load*

*Description*:
[ISA-L](https://github.com/intel/isa-l) is a collection of optimized low-level functions targeting storage applications. The low-level functions of ISA-L are written in manual assembly code that many details are tuned to achieve optimal performance.

ISA-L uses efficient SIMD (Single Instruction, Multi

[2022-07-26 07:17] debbiswal opened #22398 "Bypass Ratelimit service , if Ratelimit svc healthcheck fails"
NOTE : This is not an issue . I am asking for a solution if anyone has implemented.
I did not find any community group where I will ask for the solution. So posting here.
-----------------------------

Hi All,
My applications are running in Kubernets with ISTIO .
I working on implementing ratelimiting using Envoy Filters.

I have deployed the Ratelimit service and Redis .
http_health_check is conf

[2022-07-26 08:03] github-actions[bot] opened #22399 "Newer release available `com_github_google_benchmark`: v1.7.0 (current: v1.6.2)"
Package Name: com_github_google_benchmark@1.6.2
Current Version: v1.6.2@2022-07-18
Available Version: v1.7.0@2022-07-25
Upstream releases: https://github.com/google/benchmark/releases

[2022-07-26 08:03] github-actions[bot] opened #22400 "Newer release available `com_google_protobuf`: v21.4 (current: v3.20.1)"
Package Name: com_google_protobuf@3.20.1
Current Version: v3.20.1@2022-04-22
Available Version: v21.4@2022-07-25
Upstream releases: https://github.com/protocolbuffers/protobuf/releases

[2022-07-26 08:03] #22343 closed

[2022-07-26 08:52] mkauf opened #22401 "Lua: request_handle:respond() ignores custom response headers"
It's not possible anymore to set custom response headers with `request_handle:respond()`. Example from the [manual](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/lua_filter):
[code]

Since commit ccd5c74deff305fe7b1b648f682e09368c1e85b1, `respond()` only sets the ":status" header and ignores the other headers like "upstream_foo".

In the code, the headers are only han

[2022-07-26 09:26] tedli commented on #17601
Hi,

I'm trying to add a filter of dubbo, like the Router do, for learning purpose. Current only want to read from config and log something.

So, I created a filter, I want to read config using the `config` field of DubboFilter which is an `Any`. I give my filter a name, and register it with config field type `envoy::extensions::filters::network::http_connection_manager::v3::HttpConnectionManager:

[2022-07-26 10:28] cysnet commented on #14981
@aqua777   why not paste your fix solution to here to help the other users?

[2022-07-26 11:26] phlax opened #22404 "Tests flaking due to dockerhub issues - eg `run_envoy_docker` and sandboxes"
CI fails fairly frequently due to bad dockerhub endpoint:

[code]
https://dev.azure.com/cncf/envoy/_build/results?buildId=113688&view=logs&j=7b6d60aa-b5de-5f9b-678c-063d31881e76&t=0c8bcd19-14ac-5aba-0af8-facf9399c298&l=14

as this seems to be a transient issue that resolves quickly, we could probably mitigate this with a retry in `run_envoy_docker`

[2022-07-26 11:28] phlax commented on #22404
we could also remove any unnecessary use of it - eg in the artefact upload jobs

[2022-07-26 11:28] phlax commented on #22404
cc @lizan

[2022-07-26 11:52] NomadXD commented on #17217
@moonheart No. Proxy-wasm is not actively developed now I guess.

[2022-07-26 13:03] abdolence commented on #19369
I'm not sure why this is closed since it affects a lot of people and causing errors on production systems. We need a proper delay before rejecting new connections while k8s updates its networking/routing configuration (unfortunately for all of us in parallel to our apps).

@rittneje Have you found the solution except hacks with PreStop?

[2022-07-26 14:15] tomjzzhang opened #22406 "Bazel version 6.0.0-pre.20220630.1 is unstable"
Envoy's bazel version was upgraded to 6.0.0-pre.20220630.1 in https://github.com/envoyproxy/envoy/pull/22295.

This version is prone to crashing (See https://github.com/bazelbuild/bazel/commit/107a54edcf75dc026cf643df82c13fe32a1eb043) and crashed when building [nighthawk](https://github.com/envoyproxy/nighthawk). A crash example can be found [here](https://dev.azure.com/cncf/envoy/_build/results?b

[2022-07-26 14:15] niektemme opened #22407 "requested server name in tcp_logs gRPC Access Log Service (ALS)"
**Description**
**context**
- I am using envoy as tls pass through (not terminating the tls connection)
- SNI listner filter is used to route traffic depending on domain
- with logging I would like see the requested server name %REQUESTED_SERVER_NAME%
- to improve our logging setup I would like to log directly to gRPC Access Log Service (ALS)
- given that this is a tcp service I am using type.goog

[2022-07-26 14:16] tomjzzhang commented on #22406
tagging @mum4k as owner of Nighthawk

[2022-07-26 14:28] phlax commented on #22406
cc @keith

@tomjzzhang do you want to raise a PR to address ?

[2022-07-26 14:58] namedanil opened #22411 "Compression filter with gRPC-WEB filter"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Does compression filter [1] work with grpc-web filter [2]?*

*Description*:

I am using the grpc-web client and want to compress the response from the server. As fa

[2022-07-26 15:30] #22348 closed

[2022-07-26 17:10] ggreenway commented on #22130
I think it would probably be cleaner to add an extension point in `stats_config` in the bootstrap config. But it may be sufficient to make a configuration-driven set of rules for renaming/rewriting stats, similar to tag extraction but with the ability to modify non-extracted portions, and scale the values according (like `ms -> sec`, and multiply by 1000).

Also, while thinking about the best way

[2022-07-26 18:33] keith commented on #22406
should be us still, fine to update tho, we can merge https://github.com/envoyproxy/envoy/pull/22412 once it's green

[2022-07-26 19:53] #22406 closed

[2022-07-26 21:07] matiasrege commented on #19069
/no stalest

[2022-07-26 21:15] ohadvano opened #22416 "Envoy does not use all available cores with gRPC transcoder and produces low throughput"
*Title*: Envoy does not use all available cores with gRPC transcoder and produces low throughput

*Description*:
I am running envoy with configuration that has a gRPC transcoder filter on a Kubernetes cluster with nodes that has 48 CPUs.
The envoy process is connected to a gRPC server in the upstream and I am using iperf to measure network performance in matters of throughput.
Two observations fro

[2022-07-26 21:30] stevenctl opened #22417 "EDS deduping endpoints with same address but different metadata"
*Title*: *EDS deduping endpoints with same address but different metadata*

*Description*:

When testing LB behavior and config_dump?include_eds for an EDS cluster with endpoints that have the same address, but different metadata I see that only one endpoint is actually preserved. This behavior makes sense to me, but I can't find documentation that says it should be happening. Assuming it's not co

[2022-07-26 22:07] stevenctl commented on #22417
https://github.com/envoyproxy/envoy/blob/087422b811758f3acc8382ef92582d634aa71d9c/source/common/upstream/eds.cc#L136

Looks like this is intentional. Can we make an exception for internal address? Or will that cause other issues.

[2022-07-26 22:12] kyessenov commented on #22417
Yes, I think an exception makes sense because internal addresses are not unique between the endpoint because of the extra passthrough state from metadata. So maybe just put a guard there that skips internal addresses? WDYT @adisuissa

[2022-07-26 22:22] phylake opened #22418 "xDS protocol question: when can resources be "forgotten"?"
*Title*: *xDS protocol question: when can resources be "forgotten"?*

*Description*:
In the [Subscribing to Resources](https://www.envoyproxy.io/docs/envoy/v1.23.0/api-docs/xds_protocol#subscribing-to-resources) of the xDS protocol spec it says

Under what circumstances can this happen? I think I'm hitting one now when Envoy reconnects and gives me its versions of ClusterLoadAssignment in some cas

[2022-07-26 22:25] zuercher commented on #22372
Take this with a grain of salt, since I've not puzzled all this out before, but as I understand the code:

Envoy is passing a boringssl `SSL*` to SSL_read/write and that struct is actually a `struct ssl_st*`. That `SSL*` contains `rbio` and `wbio` of type `bssl::UniquePtr<BIO>` which are used for reading and writing.

Envoy constructs the `BIO` struct (a `bio_st`) with a `ptr` initialized to an `E

[2022-07-26 22:29] zuercher commented on #22390
cc @mattklein123 @alyssawilk @delong-coder as code owners of the connection limiter

[2022-07-26 22:39] zuercher commented on #22401
cc @wbpcode

[2022-07-26 22:55] zuercher commented on #22411
The `grpc_web` filter changes converts the content-type of the request from `application/grpc-web-text[+proto]` to `applictation/grpc`. I believe you want to put the compressor filter before the grpc_web filter so that it it operates on the response after it has been transcoded to `application/grpc-web-text[+proto]`.

[2022-07-26 23:06] zuercher commented on #22418
After a cluster change Envoy will issue an EDS request and if it doesn't receive a response within the configured `initial_fetch_timeout` it will start using the cluster with no endpoints, which results in the 503 UH responses.

There is a lengthy discussion here: https://github.com/envoyproxy/envoy/issues/13009

[2022-07-27 00:38] mattklein123 commented on #22390
Dup of https://github.com/envoyproxy/envoy/issues/22127

[2022-07-27 00:38] #22390 closed

[2022-07-27 01:07] pgeler opened #22422 "envoy-1.23 issue ExtProcPerRoute override ExtProc with ExtensionWithMatcher"
*Description*:

The following configuration was working in 1.22 while 1.23 seem to have issues:
without ExtensionWithMatcher ExtProcPerRoute working just fine.

main plugin configuration:
[code]
with ExtProcPerRoute route override:
[code]

[2022-07-27 01:29] daixiang0 commented on #22416
Do you run Envoy in a Pod? If so, Envoy will use the CPU resource of the Pod without `--concurrency`.

If you run Envoy as a single process, try with `--concurrency`.

Also, could you provide pprof data refer to https://github.com/envoyproxy/envoy/blob/main/bazel/PPROF.md, that will help us analyze.

[2022-07-27 01:31] wbpcode commented on #22401
Thanks for calling this out.

[2022-07-27 01:33] wbpcode commented on #22401
cc @StarryVae Would you be able to take a look for this?

[2022-07-27 01:37] daixiang0 commented on #22404
Another idea is that we host image tarball at our side if run in CI env, load it when use since CI image won't change often.

[2022-07-27 01:40] cgilmour commented on #21083
Hi @phlax @moderation sorry for the long delay on this topic.

A datadog-specific tracer is still preferred because of differences in trace IDs, trace propagation headers, sampling and a few other details that don't have an equivalent in OTel.

Some users that are using opentelemetry everywhere will be satisfied with the OTel tracing, and exporting to a collector that translates all the OTel detai

[2022-07-27 01:44] StarryVae commented on #22401
Yes, i will fix this, thanks @wbpcode

[2022-07-27 02:00] jparklab commented on #22127
We hit the same issue in #22390, where the bug was triggered by having another listener filter (local rate limit) before connection limit filter. As @mattklein123 mentioned above, I believe it happens because onEvent is called for every connection but onNewConnection is not called because incoming connection was rejected by local rate limit filter before connection limit filter was applied.

[2022-07-27 02:03] daixiang0 commented on #22398
Did you try using https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/health_check_filter#config-http-filters-health-check and exclude health endpoint from ratelimit?

[2022-07-27 02:05] moderation commented on #21083
Thanks @cgilmour. I think an updated Datadog tracer without the OpenTracing dependency sounds good. If MessagePack is still required it should be updated to the latest version (4.1.1).

That allows Envoy to remove a deprecated and unmaintained dependency while still maintaining the Datadog tracing experience.

/cc @envoyproxy/senior-maintainers

[2022-07-27 04:30] #22306 closed

[2022-07-27 05:21] gyohuangxin commented on #22416
It seems you run Envoy in a Pod without CPU resource limitation, right? so it will use full CPU resources by default. I also don't think it's a Kubernetes issue, there are many `recv buffer over limit` and `send buffer over limit` in the log, so the buffer size might be the bottleneck. Does it work if you increase the `initial_stream_window_size` and `initial_connection_window_size`?

[2022-07-27 05:40] phlax commented on #22404
its not that simple - the docker image is huge and the cache is not much faster than the pulling directly from dockerhub

essentially, it _can_ be faster doing this but iff there are no additonal steps required (a big iff)

see #22093 for an implementation

[2022-07-27 08:03] github-actions[bot] opened #22425 "Newer release available `rules_rust`: 0.8.1 (current: 0.3.1)"
Package Name: rules_rust@0.3.1
Current Version: 0.3.1@2022-04-26
Available Version: 0.8.1@2022-07-26
Upstream releases: https://github.com/bazelbuild/rules_rust/releases

[2022-07-27 08:03] #22375 closed

[2022-07-27 12:07] phlax commented on #22404
This problem seems to be happening across images and randomly but fairly frequently so ive opened an upstream ticket here https://github.com/docker/hub-feedback/issues/2262

[2022-07-27 12:10] ohadvano commented on #22416
@daixiang0 I am unable to use this tool because of internal compliance. I am running Envoy in a pod.

@gyohuangxin I did try to increase the buffers, but it didn't help.

Updating on my progress investigating this, as I think I found what caused this:
At first, I created a single HTTP/2 client to the envoy process and used multiplexing to multiplex multiple iperf client connections. I changed the

[2022-07-27 13:45] simha5009 commented on #19685
Can I know the status of this?

Going to merge this sooner?

[2022-07-27 13:57] llu94 commented on #19685
The PR was merged months ago. Don't know why the issue is still open

On Wed, Jul 27, 2022, 09:45 Narasimha Karumanchi ***@***.***>
wrote:

[2022-07-27 13:58] tejaswiniVadlamudi commented on #22130
@wbpcode, @jmarantz and @ggreenway: Thanks for the heads-up, will be looking for the changes :-)

[2022-07-27 14:03] phlax commented on #19685
thanks for headsup - ill close it now

[2022-07-27 14:03] #19685 closed

[2022-07-27 14:04] DanEarnETH commented on #22344
Thank you very much for reply @phlax @daixiang0 . My origin request is to achieve global round robin, and I think even if there are methods to report resource usage to control plane,  it not a good way to achieve round robin by adjusting priority and weights, because that will change the config too frequently and configs may not be updated in time under heavy traffic.
Currently, I'm doing this via

[2022-07-27 14:16] jmarantz commented on #22130
Sorry just want to clarify -- I think we have been brainstorming about how such a feature ought to be built, and have not been talking about prioritizing it as a task yet.  @tejaswiniVadlamudi @eoregua  is this something you would take on? I think we could review.

[2022-07-27 14:36] phlax commented on #22349
another failure on postsubmit here https://dev.azure.com/cncf/envoy/_build/results?buildId=113810&view=logs&j=8c169225-0ae8-53bd-947f-07cb81846cb5&t=6b0ace90-28b2-51d9-2951-b1fd35e67dec&l=1168

[2022-07-27 14:40] tejaswiniVadlamudi commented on #22130
@jmarantz : I'm not on top of Envoy code, else might have surely tried. As an observability practitioner, I would encourage Envoy to be warning-free when checked with 'promtool' utility. But do you think it is feasible to write a little converter in Envoy code (maybe configurable through a deployment flag) that can fix a few warnings?

I posted a question in the Prometheus Community to understand

[2022-07-27 14:47] aqua777 commented on #14981
We just followed [Envoy documentation on Retry policies](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-msg-config-route-v3-retrypolicy):
[code]
You can also specify `num_retries` which by default is 1 which is how we wanted it hence we didn't add it explicitly to configuration.

[2022-07-27 14:47] alyssawilk commented on #22349
fixed by https://github.com/envoyproxy/envoy/pull/22414 which I had tagged incorrectly, oops!

[2022-07-27 14:48] #22291 closed

[2022-07-27 14:51] #22349 closed

[2022-07-27 14:51] alyssawilk commented on #22349
ah, that was postsubmit of the PR 2 before the fix landed.  Please do ping if it fails again now the fix is merged!

[2022-07-27 14:55] jmarantz commented on #22130
Yes I think it's feasible. It's just a chunk of work that needs to be prioritized by someone with skin in the game :)

[2022-07-27 15:46] #17382 closed

[2022-07-27 17:04] TAOXUY opened #22429 "GrpcJsonTranscoder support other HTTP/Json format for gRPC error status"
GrpcJsonTranscoder support other HTTP/Json format for gRPC error status

*Description*:
Currently JsonGrpcTranscoder filter only [translates google.rpc.Status into its default Json format](https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/http/grpc_json_transcoder/json_transcoder_filter.cc#L856). We want it can support translating into other Json format. The context is that w

[2022-07-27 17:08] TAOXUY commented on #22429
One solution is we have our custom filter before GrpcJsonTranscoder be responsible for translate gRPC error specifically but we still want all the translation work can be done within GrpcJsonTranscoder. One approach I can think of is to have some new proto format extension(input is a proto and ouput is a String) to be called during [translating gRPC error](https://github.com/envoyproxy/envoy/blob/

[2022-07-27 17:12] TAOXUY commented on #22429
@lizan WDYT?

[2022-07-27 17:14] TAOXUY commented on #22429
@nareddyt @shuoyang2016

[2022-07-27 17:42] lizan commented on #22429
As long as it is configurable I think we can do that, can you submit a PR?

[2022-07-27 18:15] phylake commented on #22418
Thanks @zuercher for the quick reply. After reading through that discussion I've made a change to always send EDS when CDS changes but I still get `503 UH` as well as increased Envoy CPU usage. It's like sending EDS before Envoy processed the CDS reply and wanted to subscribe is causing a similar issue for a different reason.

[2022-07-27 18:59] qqustc commented on #22329
thank you @alyssawilk .

It looks like the timed out test `Protocols/KillRequestFilterIntegrationTestAllProtocols.KillRequestCrashEnvoyWithCustomKillHeader/IPv4_HttpDownstream_Http2Upstream` has already been disabled in https://github.com/envoyproxy/envoy/pull/19463 and the disabling mechanism seems not work. Is there anyone could help investigate why the disabling mechanism does not work? (since

[2022-07-27 19:37] phylake commented on #22418
Thanks @zuercher for confirming the `503 UH` and for the link. I was surprised it was a `UH` because the endpoint data is gone. I would have expected a `UF,URX` like you get when endpoint data is bad. `UH` confusingly told me that Envoy had the endpoint data and was performing a health check that the upstream was failing

[2022-07-27 20:06] phylake commented on #22418
@zuercher is there any issue sending EDS before Envoy asks for it? I'm wondering if sending EDS after CDS but before the EDS DeltaDiscoveryRequest arrives is ok. I'm using Incremental ADS so I expect the Send calls to arrive in the order I sent them

[2022-07-27 20:43] visweshn92 commented on #19548
Hi,

Re-opening to get traction on this ticket.

@PiotrSikora / @agl : Could you confirm the possibility of removing TLS_CHACHA20_POLY1305_SHA256 in the FIPS build? Or allowing a way to configure the TLS 1.3 ciphers?

[2022-07-27 20:59] PiotrSikora commented on #19548
BoringSSL recently added [`SSL_CTX_set_compliance_policy(ssl_compliance_policy_fips_202205)`](https://boringssl.googlesource.com/boringssl/+/451ea3ca3e0b61273333162564f16d190f6b6d14), which does exactly that, but it won't be available in FIPS builds until BoringCrypto `fips-20220613` is validated, which might take up to a year.

[2022-07-28 02:42] zuercher commented on #22418
IIRC the response flags for the 503s are “no healthy upstream” which in this case means no upstreams.

I think immediately sending a new EDS response after the CDS response is ok, but our control plane is SotW and waits for the EDS request so it’s probably best to test it.

[2022-07-28 04:57] 13567436138 opened #22438 "no accesslog in istio-proxy container when using wasm accesslog"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

main.go

[code]

[code]

envoyfilter实现：

[code]

deploy-productpage-with-sidecar-volume.yaml

kubectl apply -f deploy-product

[2022-07-28 07:03] sclei commented on #22416
I met the problem of low throughput refer to the following Settings,but I didn't find the message about "onBelowWriteBufferLowWatermark" and "onAboveWriteBufferHighWatermark".

I obtained the normal throughput by disabling the config **delayed_close_timeout** of type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager .

ref from file @ api/envoy/extens

[2022-07-28 07:29] Patrick0308 commented on #15152
@wangfakang  How's it going? Waiting for this feature.

[2022-07-28 07:42] Purushotham233 commented on #22395
In HTTP case too, when an explicit route timeout is set, outlier detection is not happening.

[2022-07-28 07:57] ohadvano commented on #22416
@sclei what scenario were you testing when you managed to obtain max throughput? I think that thr config you refered me to is more relevant to a case where a lot of tcp connections are starting and ending. In my case I have a small set of connections and each connection streams a long serie of json messaged to envoy.

[2022-07-28 08:01] #21647 closed

[2022-07-28 08:04] github-actions[bot] opened #22440 "Newer release available `com_github_bufbuild_buf`: v1.7.0 (current: v1.6.0)"
Package Name: com_github_bufbuild_buf@1.6.0
Current Version: v1.6.0@2022-06-21
Available Version: v1.7.0@2022-07-27
Upstream releases: https://github.com/bufbuild/buf/releases

[2022-07-28 08:47] bryanwux commented on #21929
Yes, as @wbpcode said, a wasm filter can help to validate the http request body. You may want to have a look at this https://github.com/intel/modsecurity-wasm-filter.

[2022-07-28 09:08] gyohuangxin commented on #22416
At first, I created a single HTTP/2 client to the envoy process and used multiplexing to multiplex multiple iperf client connections. I changed the implementation to create a new HTTP client per stream and when I did this, the throughput improved and also CPU consumption increased. What I think that happened is that at first, there was only a single HTTP connection with envoy, so there was a singl

[2022-07-28 09:09] bryanwux commented on #9860
Hi @toddmgreer , I am interested in improving the SimpleHttpCache. What do you think of leveraging the existing lru_cache lib from [jwt_verify_lib/simple_lru_cache](https://github.com/google/jwt_verify_lib/tree/master/simple_lru_cache) to make cache eviction work as a starting point？

[2022-07-28 09:19] ohadvano commented on #22416
@gyohuangxin Having multiple streams multiplexed in a single HTTP/2 connection is resonable. However with this architecture envoy will create only a single thread with a single gRPC transcoder which is what created the bottleneck. If envoy had created a filter per stream, and they would have computed in parallel, then this bottleneck wouldn't have been created since there were filter per stream, a

[2022-07-28 09:34] ankatare opened #22443 "Missing Note Section in SXG and VCL Socket interface"
*Title*: *I think Note Section should be present docs in SXG and VCL section which describe "`These features are not supported on Windows."`*

*Description*:
urls are
https://www.envoyproxy.io/docs/envoy/v1.23.0/configuration/http/http_filters/sxg_filter#config-http-filters-sxg
https://www.envoyproxy.io/docs/envoy/v1.23.0/configuration/other_features/vcl#config-sock-interface-vcl

[2022-07-28 10:04] niektemme commented on #22407
I think I found the problem and created a test build to conform a potential solution.
Blow is first the problem and then my solution.

_Problem_
In source/extensions/access_loggers/grpc)/grpc_access_log_utils.cc (https://github.com/envoyproxy/envoy/tree/main/source/extensions/access_loggers/grpc)/grpc_access_log_utils.cc

The requested server name is never filled if the connection is not an ssl co

[2022-07-28 13:19] phlax commented on #22263
backport is here #22446

[2022-07-28 13:19] #22263 closed

[2022-07-28 13:21] phlax commented on #22217
@keith im wondering if this is resolved and im also wondering whether we should backport this to the release/1.23 branch - not sure how likely someone is to be developing on that branch or how necessary this is to do so

[2022-07-28 15:53] LithiumSR opened #22449 "Envoy crashes when IPv4-compat listeners are used"
Hello everyone,
I recently stumbled across an issue that is leading Envoy (tested on the 1.22.2 release) to crash when IPv4-compat listeners are employed.
I already contacted the envoy security team that confirmed that this crash is not exploitable, therefore I'm opening a public GitHub issue.

The crash itself happens quite often (although not every single time) when I initialize multiple connect

[2022-07-28 16:01] #21548 closed

[2022-07-28 16:01] #21731 closed

[2022-07-28 16:01] #21768 closed

[2022-07-28 16:19] Licht-T commented on #21881
Still under review: https://github.com/envoyproxy/envoy/pull/21882

[2022-07-28 16:41] mattmoor commented on #14076
Not sure what Envoy is using for CI, but if it supports OIDC (like Github actions) then you can leverage Sigstore's keyless signing and forgo the key management altogether.  Projects like distroless, which started with key-based signing are now signing things both ways.

[2022-07-28 16:42] zuercher commented on #22438
You'll need to provide the actual Envoy configuration for us to look at this. I recommend filing this issue with Istio and then can help determine whether the issue is there or in Envoy and how to file the bug.

[2022-07-28 16:46] simha5009 opened #22452 "envoy-windows with custom config not working"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

envoy-windows with custom config not working

*Description*:

Tried with multiple configs in windows and all are failing.

*Repro steps*:
`do

[2022-07-28 16:46] simha5009 commented on #22452
Logs
[code]

[2022-07-28 16:48] zuercher commented on #22449
cc @soulxu since #19176 is implicated

[2022-07-28 16:49] markdroth commented on #20634
It looks like Envoy currently requires that the `common_lb_config` field is not set if the new `load_balancing_policy` field is used:

https://cs.github.com/envoyproxy/envoy/blob/6c75133dac08e6db4988d398479dc02a5dd8f11c/source/common/upstream/upstream_impl.cc#L990

I think this needs to be changed such that if the `load_balancing_policy` field is used, Envoy simply ignores the `common_lb_config` f

[2022-07-28 16:51] phlax commented on #14076
@mattmoor - interesting - thanks for pointers - i will look into this

this issue is one that is, i hope, going to be addressed fairly soon

[2022-07-28 16:57] caniszczyk commented on #14076
Matt, if CG wanted to help put this together and show that it can work,
we'd roll this out in CNCF as a recommended option

Do you have concrete examples to point too?

On Thu, Jul 28, 2022 at 12:51 PM phlax ***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-07-28 17:02] simha5009 commented on #22452
`docker run --rm 'envoyproxy/envoy-windows:v1.20-latest' -c 'C:\envoy-configs\envoy.yaml'`

Seems all versions have the trouble?

[2022-07-28 17:05] phlax commented on #22452
@simha5009 my win knowledge is pretty limited - but from a docker pov - you need to mount the custom config as a volume

[2022-07-28 17:54] simha5009 commented on #22452
I was referring to

https://www.envoyproxy.io/docs/envoy/v1.23.0/start/quick-start/run-envoy#run-envoy-with-the-demo-configuration

[2022-07-28 17:57] nickfun commented on #6426
I am also curious for examples of Envoy -> DynamoDB proxy configs & usage. I'm exploring having Envoy used as a circuit breaker in the event of DynamoDB is degraded.

[2022-07-28 18:01] toddmgreer commented on #9860
Hi @bryanwux, I'm excited that you want to improve SimpleHttpCache. My hope is that it can become production-ready and stay simple enough to serve as a reference. I think [jwt_verify_lib/simple_lru_cache](https://github.com/google/jwt_verify_lib/tree/master/simple_lru_cache) isn't thread-safe, so you'll need to deal with that.

@capoferro, you were looking at addressing this--did you put anything

[2022-07-28 18:08] capoferro commented on #9860
@toddmgreer Some work was done here: https://github.com/capoferro/envoy/tree/lru_cache. Cooper Bethea volunteered to put some work into that, but it has gone stale.

[2022-07-28 18:10] capoferro commented on #9860
Can see the diff here: https://github.com/envoyproxy/envoy/compare/main...capoferro:envoy:lru_cache

[2022-07-28 18:59] puerco commented on #14076
Kubernetes images [are signed with Sigstore's keyless signing](https://kubernetes.io/docs/tasks/administer-cluster/verify-signed-images/), we do not do any key management for them. We are already starting work to sign our binaries too. Here's the current plan for the files and binaries: https://github.com/kubernetes/release/issues/2618

I am happy to help over here too!

[2022-07-28 19:43] phylake commented on #22418
When I send EDS right after CDS (before the CDS ACK) I start getting `503 UF,URX`

[2022-07-28 20:01] #21771 closed

[2022-07-28 20:01] #21773 closed

[2022-07-28 20:01] #21791 closed

[2022-07-28 20:02] zamazan4ik commented on #21773
Ping

[2022-07-28 20:02] zamazan4ik commented on #21773
@phlax could you label with "no stalebot" please?

[2022-07-28 20:11] phylake commented on #22418
This is why
`// [warning][config] [source/common/config/new_grpc_mux_impl.cc:83] Dropping received DeltaDiscoveryResponse (with version ) for non-existent subscription type.googleapis.com/envoy.config.endpoint.v3.ClusterLoadAssignment.`

[2022-07-28 23:29] kyessenov commented on #22290
Already done by #22340.

[2022-07-28 23:29] #22290 closed

[2022-07-29 00:33] soulxu commented on #22449
I will check this

/assign @soulxu

[2022-07-29 00:54] soulxu commented on #22449
@LithiumSR does it happened at listener add or update? saw the backtrace is about a listener is in destructing
[code]

[2022-07-29 01:48] qiming-007 commented on #22452
How about change the config path to` /c/envoy-configs/envoy.yaml` or  `c:\\envoy-configs\\envoy.yaml`? The path in win platform always a problem 😢

[2022-07-29 02:01] qiming-007 commented on #22416
@ohadvano Actually we encountered the same issue when benchmarking GRPC, solved by adding more cores to envoy using `--concurrency` which mentioned by @daixiang0. We are using istio to config this value but I think it should be doable without istio.

[2022-07-29 04:19] #21736 closed

[2022-07-29 04:19] #21743 closed

[2022-07-29 04:21] simha5009 commented on #22452
@qiming-007 these were too having the trouble.

I  see win pipeline tests were missing too.

[2022-07-29 05:51] phlax commented on #22452
as the docs suggest - you need to mount a volume

[code]

[2022-07-29 06:29] tedli commented on #17601
Hi @wbpcode ,

If I want to achieve tracing for dubbo_proxy, for the filter's config,  I can just reuse the `Tracing` proto defined in http connection manager, rather than introduce a new proto.

Did I get it wrong?

[2022-07-29 06:39] LithiumSR commented on #22449
HI @soulxu
From my understanding this issue starts at line 122 of the connection_handler_impl.c ([see here](https://github.com/envoyproxy/envoy/blob/v1.22.2/source/server/connection_handler_impl.cc#L122)).
I suspect that inserting to the tcp_listener_map_by_address is leading to another entry being replaced, the entry that got replaced out is the one that is destructed due to going out of scope.

[2022-07-29 07:04] wbpcode commented on #17601
I think it'ok to reuse the exist `Tracing` proto for now. May be we will have protocol-independent proto for tracing in the future, but it will be something just like current `Tracing` proto.

[2022-07-29 07:39] #22452 closed

[2022-07-29 07:58] dataknower commented on #22229
thx and  I found that this is due to vscode configuration error

[2022-07-29 07:58] #22229 closed

[2022-07-29 08:01] #21734 closed

[2022-07-29 08:03] github-actions[bot] opened #22461 "Newer release available `aspect_bazel_lib`: v1.8.1 (current: v1.7.0)"
Package Name: aspect_bazel_lib@1.7.0
Current Version: v1.7.0@2022-07-15
Available Version: v1.8.1@2022-07-29
Upstream releases: https://github.com/aspect-build/bazel-lib/releases

[2022-07-29 08:10] wywan-lv opened #22462 "Is it possible to redirect TCP traffic based on the original destination?"
I use iptables to 'redir ports' to 15001, which envoy listens on. I want to redirect TCP traffic based on the original destination.
[code]
When some process sends TCP packet to 1.1.1.1 (configured as TARGET-IP),  it will be redirect to another destination (e.g. 2.2.2.2). When some process sends TCP packet to other destination (e.g. 10.10.10.10), it will pass through to ORIGINAL_DST (10.10.10.10 in

[2022-07-29 08:33] phlax commented on #21936
correction to above - i think i misread the issue - there is a fix in the pipeline for this - more information can be seen here #22261

[2022-07-29 08:34] phlax commented on #21936
closing as that issue has more information and associatied fixes/backports

[2022-07-29 08:34] #21936 closed

[2022-07-29 08:56] bryanwux commented on #9860
Seems like it's workable right now. Why it has gone stale? @capoferro

[2022-07-29 09:20] tedli commented on #17601
Hi @wbpcode ,

https://github.com/envoyproxy/envoy/blob/5313fa4206217e831367932a21c3e3bc6bf6efb4/source/extensions/filters/network/http_connection_manager/config.cc#L166
https://github.com/envoyproxy/envoy/blob/5313fa4206217e831367932a21c3e3bc6bf6efb4/source/extensions/filters/network/http_connection_manager/config.cc#L190-L195

I want to use the factory to create tracer implementation object like

[2022-07-29 09:46] soulxu commented on #22449
thanks! yes, it seems like failed at a replacement. But the value of tcp_listener_map_by_address is a shared pointer of `ConnectionHandlerImpl::ActiveListenerDetails`, only when the shared pointer was removed both from `tcp_listener_map_by_address_` and `listener_map_by_tag_`. But there won't be a chance for the value of `listener_map_by_tag_` to be replaced since the tag is unique. I also didn't

[2022-07-29 10:12] LithiumSR commented on #22449
Hi @soulxu
Let me know how I can assist, if needed I could add some extra log messages and reproduce the issue.
Sadly, as of now it is not easy for me to provide repro-step as this is related to an Istio release with in-house dual-stack support that is not available upstream yet.

[2022-07-29 10:26] soulxu commented on #22449
@LithiumSR thanks! that will be great to add some log to figure out why a replace of `tcp_listener_map_by_address_` can trigger a destruction of std::shared_ptr<ActiveListenerDetails>.

Since https://github.com/envoyproxy/envoy/blob/5313fa4206217e831367932a21c3e3bc6bf6efb4/source/server/connection_handler_impl.cc#L141 should guarantee both the value of `tcp_listener_map_by_address_` and `listener_

[2022-07-29 12:47] LithiumSR commented on #22449
Hi @soulxu
Perfect, I will make the build and give you the logs by Monday.
Regarding the seg fault in the destructor, I feel it is happening either when it is deferencing the ActiveTCPListener object (*this) or when it accesses config_. I will add a check for this one too 👍

[2022-07-29 16:01] #21503 closed

[2022-07-29 19:38] kyessenov commented on #22462
Yes, you can accomplish this using:
* `original_dst` listener filter https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/listener/original_dst/v3/original_dst.proto#extensions-filters-listener-original-dst-v3-originaldst,
* `original_dst` load balancer https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/original_dst
* listener filter chain matc

[2022-07-29 19:43] kyessenov commented on #22438
I noticed that you are using the wrong property names:
[code]

I think you want `[]string{"request", "time"}` (encoded as int64) based on https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/advanced/attributes.

[2022-07-29 19:58] capoferro commented on #9860
I haven't looked at the branch in much detail since Cooper took it over. If it works for what you need, by all means pull the branch and merge up to current main. Would love to see this get into main in some form.

[2022-07-30 01:34] zirain commented on #22438
IIRC, `github.com/tetratelabs/proxy-wasm-go-sdk/proxywasm` do not support `onLog` for now, @mathetake can you confirmed that?

[2022-07-30 01:37] mathetake commented on #22438
`onLog` is hidden behind our API, and technically supported. But `onLog` is nothing to do with the issue here and not relevant.

[2022-07-30 01:40] mathetake commented on #22438
I don't believe this is the issue of Envoy, you just have to set the proper log level of istio proxies via Istio API. We can close this issue at any time (this person filing this issue always doesn't provide enough detail and is not actionable).

[2022-07-30 03:33] zirain commented on #22438
this is working with following configuration:
[code]

with following output:
[code]

but I not sure the original question is `How to implement as AccessLog extensions with wasm`?

[2022-07-30 08:03] github-actions[bot] opened #22471 "Newer release available `aspect_bazel_lib`: v1.9.1 (current: v1.7.0)"
Package Name: aspect_bazel_lib@1.7.0
Current Version: v1.7.0@2022-07-15
Available Version: v1.9.1@2022-07-30
Upstream releases: https://github.com/aspect-build/bazel-lib/releases

[2022-07-30 08:03] #22461 closed

[2022-07-31 00:03] #21782 closed

[2022-07-31 00:04] #21819 closed

[2022-07-31 04:13] #21822 closed

[2022-07-31 09:21] DanApostol commented on #22363
Hi @snowp ,

just curious, any ideas if this topic can enable an upgraded implementation of oauth filter?

Thanks in advance.
Dan.

[2022-07-31 10:36] giantcroc commented on #22397
@zuercher Hi, zuercher! I find that you added an `area/extension` label. Do you think we could add ISA-L to `source/extensions`?

[2022-07-31 12:02] #21543 closed

[2022-07-31 14:03] snowp commented on #22363
How would this new implementation differ from what we do today? Not immediately clear to me what this change would involve

cc @rgs1

[2022-07-31 14:21] ameily commented on #13578
I am also experiencing this issue, or a similar issue, where line numbers aren't available in both `stack_decode.py` and gdb.

[code]

Notice the `addr2line: DWARF error:` line, which repeats prior to each call site in the stack.

Loading Envoy in GDB has similar results:

[code]

I tried the advise here and changed the `-ggdb3` flag to just `-g`, but that doesn't appear to have fixed the issue. A

[2022-07-31 14:54] marcosrmendezthd commented on #21812
any updates?

[2022-07-31 16:46] DanApostol commented on #22363
Hi @snowp and thanks for your quick reply.

IMHO, an opaque value for state param can be an uuid, for example something like 29ce04b3-1b74-4e23-8e84-d0281067db57. The idea is that state will help the oauth filter to distinguish between 2 different sessions trying to authenticate in the same time (of course, not exactly). Right now, having the state equals with the url accessed by the clients is so

[2022-08-01 03:31] ramaraochavali opened #22475 "Support for header based stateful session"
Currently stateful session supports cookie based [session management](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/stateful_session_filter).

It would be useful to extend this to header based session management as cookies have some assumed default behaviour with browsers and not work well with tabs.

The proposal is to add header based stateful session support in the

[2022-08-01 03:31] ramaraochavali commented on #22475
discussed offline with @wbpcode  and he is generally OK with this.

[2022-08-01 03:45] 13567436138 opened #22476 "header to metadata type PROTOBUF_VALUE not effective"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

ef-header-to-metadata-type-PROTOBUF_VALUE.yaml

kubectl apply -f ef-header-to-metadata-type-PROTOBUF_VALUE.yaml -n istio-syst

[2022-08-01 03:47] 13567436138 opened #22477 "how is header to metadata encode BASE64 work？ rbac not effective"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

ef-header-to-metadata-BASE64.yaml

[code]

ef-rbac-metadata-header-to-metadata-base64.yaml

kubectl apply -f ef-rbac-metadata

[2022-08-01 04:28] #21831 closed

[2022-08-01 08:40] lildeadprince commented on #13147
Is there any updates for the issue?

For my case the problem was that my application were using path parameters routing  (e.g. `/user/:someStringIdentifier/actionHistory`) and in some rare cases values of path parameters were containing the slash characters ("/", ASCII 2F hex).

Also the rewrite was configured in Istio for the service, so Envoy were decoding those slashes and not encoding them bac

[2022-08-01 09:31] saltbo commented on #22099
I found the config_dump API is so slow when the config size is big. This causes seenvoy to load very slowly. I think maybe need a cache for it. but the frontend tech stack maybe not support, eg: localStorage is limit 5MB. Maybe must depends on a backend server to resolve it?

What do you think about it?

[2022-08-01 09:33] saltbo commented on #22099
Or implement the cache for config_dump API, and use a querystring to refresh it?

[2022-08-01 10:02] phlax opened #22478 "CI sync job races"
If 2 PRs are landed in quick succession the "sync" job fails checking out and trying to commit back to the `envoy-filter-example` repo

[2022-08-01 11:18] shanvipanda02 opened #22479 "Bootstrapping is not performing when enable xray tracing with service host instead of pod ip for envoy proxy"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

[optional *Relevant Links*:]

[2022-08-01 11:25] shanvipanda02 commented on #22479
Hi Team,
Our applications are deployed in AWS eks and we are using envoy proxy . To see the trace information, we have added xray Tracer ,when providing service host in daemon-endpoint address , it is returning error like malformed ip address . But when providing the pod ip of xray daemon we can see the trace information.Could any one please suggest how to fix the issue?

[2022-08-01 13:46] jmarantz commented on #22099
@saltbo can you add a separate issue for config_dump being slow? This is parallel to https://github.com/envoyproxy/envoy/issues/18675 which is largely addressed for non-Prometheus cases. Landing https://github.com/envoyproxy/envoy/pull/19898 would finish it off.

I think the solution to slow endpoints is streaming and possibly also filtering. I don't think it should be necessary to add a cache, as

[2022-08-01 13:51] LithiumSR commented on #22449
Hi @soulxu
I think you were correct in saying that there may be an issue in the removeListeners.
From my logs it seems that only the tag is getting removed, but the tcp_listener_map_by_address seems to remain untouched.
I'm attaching the logs of the crashing istio-proxy with my custom messages. [fortio-client-crash.txt](https://github.com/envoyproxy/envoy/files/9234232/fortio-client-crash.txt)
You

[2022-08-01 13:51] LithiumSR commented on #22449
Hi @soulxu
I think you were correct in saying that there may be an issue in the removeListeners.
From my logs it seems that only the tag is getting removed, but the tcp_listener_map_by_address seems to remain untouched.
I'm attaching the logs of the crashing istio-proxy with my custom messages. [fortio-client-crash.txt](https://github.com/envoyproxy/envoy/files/9234232/fortio-client-crash.txt)
You

[2022-08-01 14:16] soulxu commented on #22449
@LithiumSR thanks! this is so great.

It should be one of those three conditions isn't expected
https://github.com/Nordix/envoy/commit/486e791d6d3abd36448b3ebf4252e113de62b56f#diff-fe538327af200510b78cadc759f2c3af989c822a370d3f8a005b92bc59568aa5R160-L157

My guessing is this one `!address->ip()->ipv6()->v6only()`, since this is the address reading back from OS after binding, I doubt the v6only fla

[2022-08-01 14:21] soulxu commented on #22449
quick check the v6only should be set https://github.com/envoyproxy/envoy/blob/0d510b808118afa0073e820409061f6f7ed1aa3a/source/common/network/socket_interface_impl.cc#L89

@LithiumSR would you be able to print out those three conditions
https://github.com/Nordix/envoy/commit/486e791d6d3abd36448b3ebf4252e113de62b56f#diff-fe538327af200510b78cadc759f2c3af989c822a370d3f8a005b92bc59568aa5R160-L157

Then

[2022-08-01 14:25] LithiumSR commented on #22449
Hi @soulxu
There is a mistake in the code that I sent at line 157 https://github.com/Nordix/envoy/commit/486e791d6d3abd36448b3ebf4252e113de62b56f#diff-fe538327af200510b78cadc759f2c3af989c822a370d3f8a005b92bc59568aa5R157
By mistake the error msg in the commit that I sent you was "Planning to remove listener with tag {} and address {}" like in the message at L151 but, the msg that I used was "Remove

[2022-08-01 14:34] #11184 closed

[2022-08-01 15:20] alyssawilk commented on #22475
cc  @cpakulski as the other co-owner

[2022-08-01 15:21] alyssawilk commented on #22476
cc @zuercher @JuniorHsu PTAL?

[2022-08-01 15:22] alyssawilk commented on #22477
cc @zuercher @JuniorHsu

[2022-08-01 15:23] alyssawilk commented on #22479
cc @abaptiste @suniltheta @mattklein123

[2022-08-01 15:48] suksw commented on #7832
In case if anyone is looking for the new location: `suppress_envoy_headers` -> https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/router/v3/router.proto

[2022-08-01 16:03] keith commented on #22217
I think the core issue is fixed

[2022-08-01 16:12] phlax commented on #22217
cool - re backporting - im thinking lets skip it for now and if anyone complains we can backport it

[2022-08-01 16:13] keith commented on #22217
@ramaraochavali please file an new issue if you cant get to the bottom of that one!

[2022-08-01 16:13] #22217 closed

[2022-08-01 16:40] abaptiste commented on #22479
Hi,

It sounds like you are using a hostname for the X-ray endpoint.  If so, this is a known issue with the tracer.

In the X-ray [proto](https://github.com/envoyproxy/envoy/blob/main/api/envoy/config/trace/v3/xray.proto#L41) file the tracer expects the IP and port where the daemon is bound.  The recommended workaround is to use an `IP:port` value.

The App Mesh [documentation](https://docs.aws.am

[2022-08-01 17:22] zuercher commented on #22397
This issue relates to an Envoy extension (the gzip filter) regardless of where the code lives, thus `area\extension`.

The [extension policy](https://github.com/envoyproxy/envoy/blob/main/EXTENSION_POLICY.md) and [dependency policy](https://github.com/envoyproxy/envoy/blob/main/DEPENDENCY_POLICY.md) documents describe the conditions under which such a change would be accepted. Where the code would

[2022-08-01 17:44] zuercher commented on #22477
The docs could probably use some work. The `encode` fields refers to how the header's value is encoded. The actual metadata will contain the decoded header value. So if you're string match contained `v1` it seems like it should match.

Similarly, the `on_header_missing` value of `true` is being base64-decoded. I expect the decoding fails and the operation is aborted and so no metadata is added whe

[2022-08-01 17:48] phlax opened #22483 "Check non-RBE proto_format timing"
In #21750 #21769 and #21754 various optimizations were made proto_format

these optimizations were mostly focused on the RBE use case as that is what is used in CI and most core devs have it available. They were also focused on optimizing the incremental use case (at least for protos that are not depended upon by other protos)

its not clear exactly the impact on the non-RBE case - esp where core

[2022-08-01 17:48] phlax commented on #22483
cc @kyessenov @htuch

[2022-08-01 17:50] zuercher commented on #22476
I believe that PROTOBUF_VALUE needs to be paired with `encode: BASE64`. The filter is attempting to parse the header value into a `google.protobuf.Value`.  believe that decoding step expects the protobuf wire format, which is binary, necessitating the base64 step.

[2022-08-01 19:05] alyssawilk opened #22489 "TcpListenerRemoveFilterChainCalledAfterListenerIsRemoved flake"
https://dev.azure.com/cncf/envoy/_build/results?buildId=114045&view=logs&j=767be981-567e-57d8-68c3-2140ede0a0bd&t=1fb0b72f-6293-562d-a4d1-bb649223eaca&l=2029

[ RUN      ] IpVersionsAndMatcher/LdsStsIntegrationTest.TcpListenerRemoveFilterChainCalledAfterListenerIsRemoved/3
./test/integration/server.h:494: Failure
Value of: TestUtility::waitForGaugeEq(statStore(), name, value, time_system_, timeout

[2022-08-01 19:33] suniltheta commented on #22479
This is an enhancement that is need in X-Ray tracer extension. Typically the X-Ray daemon is run as a sidecar of the application. In that case it is easy to specify 127.0.0.1 as the IP address. But in case where daemon is running as a separate service then it is impractical to give the IP address which can change.

[2022-08-01 19:33] suniltheta commented on #22479
/assign

[2022-08-01 19:39] lizan commented on #13578
Do you have the DWP built along with your binary? i.e `bazel build //source/exe:envoy-static //source/exe:envoy-static.dwp`

[2022-08-01 20:26] jamesmulcahy commented on #21292
@htuch Sorry for the delay in replying; I was out on vacation.

Yes, we plan to take this on, but don't have line of sight to a specific point in time when we will get to this -- we're juggling a few other things at the moment.

[2022-08-01 20:38] LithiumSR commented on #22449
Hi @soulxu
I added the LOG msg to the first "if" at L153-155 and the outcome is as follows.
It seems that the "isSameTag condition" is never satisfied and therefore the map_by_address is never cleaned up: [fortio-client-crash2.txt](https://github.com/envoyproxy/envoy/files/9237285/fortio-client-crash2.txt).
Do you know how that could happen?

[2022-08-01 23:30] tachang commented on #14435
Doesn't this mean the aws_lambda filter should take the port into account when calculating the signature? I assume this is a bug.

[2022-08-02 00:02] #20956 closed

[2022-08-02 00:05] soulxu commented on #22449
thanks!

That is strange. Maybe we can log out what key we used when insert this listener to map

https://github.com/Nordix/envoy/commit/486e791d6d3abd36448b3ebf4252e113de62b56f#diff-fe538327af200510b78cadc759f2c3af989c822a370d3f8a005b92bc59568aa5R104-R105

And dump the map's key-value, when you found the tag doesn't match at

https://github.com/Nordix/envoy/commit/486e791d6d3abd36448b3ebf4252e113

[2022-08-02 01:27] wbpcode commented on #22475
#1 is easy to implemented and useful for some cases. But is there a standard way to notify the client to send a special header like cookie?

Or there will be two configurable header names (one name will be used by the envoy to set response header at first request, one name will be used in the requests) ?

[2022-08-02 01:37] zirain commented on #22398
@debbiswal have you ever try these?
![image](https://user-images.githubusercontent.com/4354057/182273130-1e0e5057-850a-476e-8f7a-9ef77b0905e8.png)

[2022-08-02 02:27] saltbo commented on #22099
Maybe it's different. For the frontend, It needs to parse the JSON data, if we use the streaming, Although the data can be received, it is not complete JSON data and still cannot be parsed, still waiting for received done...

[2022-08-02 02:41] saltbo commented on #22099
I found the influxdb to save the config_dump data, I will try it.

[2022-08-02 02:43] jmarantz commented on #22099
There are two challenges:
 * the server bogs down buffering up the entire config as text, locking up the main thread for a significant time, and holding a significant amount of memory. During this process no other main-thread activities occur, including config updates, stats sinks, and other admin requests
 * browser overhead parsing that monolithic chunk of text and generating DOM structures to p

[2022-08-02 04:21] houhuijian opened #22492 "Forward proxy configuration problem"
I use nginx and envoy to test the proxy. The header passed from the superior contains x-fordwarded-host. In envoy or nginx,  need to configure the host to change to x-fordwarded-host to access it normally. Use nginx to add settings: `proxy_set_header Host $http_x_forwarded_host; `Use envoy to try to increase `host_rewrite_literal: xx.xx.xx` is also possible, but xx.xx.xx is stationary, can it be s

[2022-08-02 05:01] ramaraochavali commented on #22475
I am not aware of any

I was thinking one header where envoy will set if it is not present and client will use the same header name in subsequent requests. Would it complicate things?

[2022-08-02 05:47] wbpcode commented on #22475
IMO, I think a pair of headers would be more clear.

---

But the key point is if there is no way to notify the client, then only some custom clients that aware the configured special headers can get helps from this header based session. Then may be we shouldn't add it to the core envoy but just keep it as a private extension for yourself?

[2022-08-02 06:23] 13567436138 opened #22494 "transport_socket tap no tap data"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

ef-tap-transport_socket.yaml

[code]

[optional *Relevant Links*:]

[2022-08-02 07:52] sjtuzbk opened #22495 "How to use cpu usage as a way of resource monitors？"
Envoy's resource monitors only supports memory.:

`extensions.resource_monitors.fixed_heap.v3.FixedHeapConfig`

So why doesn't envoy support CPU as a resource monitor? Now I want to use cpu usage as resource monitor, how to do it?

[2022-08-02 08:03] github-actions[bot] opened #22496 "Newer release available `aspect_bazel_lib`: v1.9.2 (current: v1.7.0)"
Package Name: aspect_bazel_lib@1.7.0
Current Version: v1.7.0@2022-07-15
Available Version: v1.9.2@2022-08-01
Upstream releases: https://github.com/aspect-build/bazel-lib/releases

[2022-08-02 08:03] #22471 closed

[2022-08-02 08:03] github-actions[bot] opened #22497 "Newer release available `com_github_nlohmann_json`: v3.11.1 (current: v3.10.5)"
Package Name: com_github_nlohmann_json@3.10.5
Current Version: v3.10.5@2022-01-03
Available Version: v3.11.1@2022-08-01
Upstream releases: https://github.com/nlohmann/json/releases

[2022-08-02 08:03] github-actions[bot] opened #22498 "Newer release available `edenhill_librdkafka`: v1.9.2 (current: v1.8.2)"
Package Name: edenhill_librdkafka@1.8.2
Current Version: v1.8.2@2021-10-18
Available Version: v1.9.2@2022-08-01
Upstream releases: https://github.com/edenhill/librdkafka/releases

[2022-08-02 08:04] #22052 closed

[2022-08-02 08:53] LithiumSR commented on #22449
Hi @soulxu
I will add some prints where you suggested but I think I can only manage to do that tomorrow.

[2022-08-02 09:52] #22462 closed

[2022-08-02 09:52] wywan-lv commented on #22462
It works, thanks a lot.   : )

[2022-08-02 10:28] daniel-yaba opened #22500 "Access log extension issue"
*Description*: There is an error while loading the YAML file with the specified extention for access logs
extension: type.googleapis.com/envoy.extensions.access_loggers.file.v3.FileAccessLog

After adding the access log filter under "http_filters" section:
http_filters:
                - name: envoy.access_loggers.file
                  typed_config:
                    "@type": type.googleapis.co

[2022-08-02 11:13] wbpcode opened #22503 "more loosely metadata match of subset load balancing"
*Title*: *more loosely metadata match of subset load balancing*

*Description*:

A strict match is applied for current subset load balancer. It means that the metadata (from `metadata_match` of route or dynamic metadata) of request **must** has same keys with the target subset selector.

Using following config as an example. Then only endpoint has metadata `"envoy.lb": {"a": "x", "b": "x", "c": "x

[2022-08-02 11:13] wbpcode commented on #22503
cc @lizan @snowp

[2022-08-02 12:02] littlegreyzhang opened #22506 "Health check status could not be updated."
*Title*: *Health check status could not be updated.*

*Description*:

*Repro steps*:

[2022-08-02 13:10] giantcroc commented on #22397
OK, thanks for your advice!

OK, thanks for your advice!

[2022-08-02 13:48] alyssawilk commented on #22492
https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-field-config-route-v3-routeaction-host-rewrite-header may be what you're looking for?

[2022-08-02 13:49] alyssawilk commented on #22494
cc @mattklein123 @daixiang0

[2022-08-02 13:50] alyssawilk commented on #22495
cc @KBaichoo

[2022-08-02 13:54] alyssawilk commented on #22500
are you perhaps building envoy without that extension linked in?

https://github.com/envoyproxy/envoy/blob/main/bazel/README.md#enabling-and-disabling-extensions

[2022-08-02 14:04] daniel-yaba commented on #22500
@alyssawilk
I build the container image with the command:
docker build -t envoy . && docker run -dit --name Envoy -p 443:443 envoy

according to the YAML file I specified in first comment is there anything else I should do ?

[2022-08-02 14:08] alyssawilk commented on #22506
looking at who touched that code last I don't think anyone is going to be sure, but you could give it a shot and if it doesn't work, have onInterval return a boolean for "should rearm"

[2022-08-02 14:13] alyssawilk opened #22509 "skywalking-tracing flaked on verify examples"
Pretty sure I've seen this before but here's today's logs:'

https://dev.azure.com/cncf/envoy/_build/results?buildId=114129&view=logs&j=f1a49366-51c0-540f-0294-f73c2bb311a9&t=7fd036c9-61ec-5b59-3645-e90950dc67a6&l=14991

TESTS FAILED:
run_examples@ /home/vsts/work/1/s/ci/verify_examples.sh :39 (./skywalking-tracing)

[2022-08-02 14:16] alyssawilk opened #22510 "ext_authz failed on verify examples"
TESTS FAILED:
run_examples@ /home/vsts/work/1/s/ci/verify_examples.sh :39 (./ext_authz)

##[error]Bash exited with code '1'.

https://dev.azure.com/cncf/envoy/_build/results?buildId=114123&view=logs&j=f1a49366-51c0-540f-0294-f73c2bb311a9&t=7fd036c9-61ec-5b59-3645-e90950dc67a6

given https://github.com/envoyproxy/envoy/issues/22509 I'm wondering if there's an infra issue here?  cc @phlax

[2022-08-02 14:16] alyssawilk commented on #22509
cc @phlax

[2022-08-02 14:19] alyssawilk commented on #21017
https://dev.azure.com/cncf/envoy/_build/results?buildId=114123&view=logs&j=b840a642-5ff3-5357-2e4b-e06e40b0cffd&t=67965174-5100-5631-9dc0-68b9f0aacb53

[       OK ] TransportAndProtocol/ThriftConnManagerIntegrationTest.OnewayEarlyClose/HeaderCompactMultiplexedPassthrough (6952 ms)
[ RUN      ] TransportAndProtocol/ThriftConnManagerIntegrationTest.OnewayEarlyClosePartialRequest/UnframedBinaryMultip

[2022-08-02 14:27] KBaichoo commented on #22495
why doesn't envoy support CPU as a resource monitor?

Now I want to use cpu usage as resource monitor

how to do it?

[2022-08-02 14:55] alyssawilk commented on #22329
right.  it was disabled because it's been flaking out. The goal is to fix the flake and un-disable the test :-)
Hoping as the author of kill filter you could try to figure out what was causing the timeout and fix it
thanks!

[2022-08-02 15:27] #22183 closed

[2022-08-02 15:28] #22318 closed

[2022-08-02 16:22] ramaraochavali commented on #22475
I think as long as the header name (pair of headers as you described) are configurable, I think it is generic enough. It is exactly similar to cookie, but the header names change.

[2022-08-02 16:39] wbpcode commented on #22475
May be as you said, it's does helpful for some users.

[2022-08-02 18:23] lenardpi opened #22522 "One second delay in gRPC load balancing - is it an Envoy or gRPC issue?"
*Title*: *One second delay in gRPC load balancing*

*Description*:
We are using Envoy proxy v1.17.0 as a sidecar container in a Kubernetes service to achieve gRPC load balancing to a backend service.

We launch 3 gRPC operations in parallel on the gRPC channel from 3 C++ threads. Setup and operation sketch:

![image](https://user-images.githubusercontent.com/110488252/182440664-e99c6dc7-577c-4a94-

[2022-08-02 19:30] lizan commented on #22522
[code]

From this line it seems your gRPC client is trying to connect to IPv6 localhost `::1` first, while Envoy only listens to IPv4, that fallback retry could be the reason of the delay. What if you use `127.0.0.1` instead of `localhost`?

[2022-08-02 19:32] lizan commented on #22503
Can you propose a loose matching algorithm that is configurable and doesn't break existing matching? Do you want to add a key selector?

[2022-08-02 19:34] eriksjolund commented on #3596
Interestingly, the communication over a activated socket will run with [native network performance](https://github.com/containers/podman/blob/main/docs/tutorials/socket_activation.md#native-network-performance-over-the-socket-activated-socket) when running rootless Podman. Network traffic is normally passed through the program __slirp4netns__ which comes with a performance penalty.

[2022-08-02 19:38] wrowe commented on #20738
I'm assigning this to the 11yo granddaughter, because, why not?

My thoughts are that we have to also avoid all prior O'Reilly jacket art

Will check in tomorrow.

[2022-08-02 20:14] jdubs11 commented on #10855
P256 is not even recommended by NSA anymore, when will Envoy support P384? The reason given in this thread 2 years ago seems invalid now.

[2022-08-02 20:18] jdubs11 commented on #21053
Necro-ing these threads. NSA removed P256 from CNSA and now recommends P384 for ECDH curves. Does Envoy have plans to allow the use of P384?

[2022-08-02 22:14] lenardpi commented on #22522
It does seem to solve the issue! I've tried to send a good bunch of requests and none of them produced the 1-sec delay in any of the gRPC operations.

What is unclear to me, though, is that if we always attempt to connect to IPv6 localhost first, causing a delay, how can some requests be fast (ie. all 3 associated gRPC calls are served by the backends quickly), and only _some_ slow (ie. some of th

[2022-08-03 00:21] HLueckhoff commented on #22479
One workaround for this problem: create a separate (loop back) listener that then connects to a cluster that does load balancing on top of the xray headless service. In the xray tracer config we simply configure the local IP of the loopback filter (which is stable) - so we don't have to worry about changing IP addresses. Happy to provide sample config if anyone is interested.

[2022-08-03 01:50] lizan commented on #22522
Usually the IPv6 to v4 fallback is cached in some sense, so subsequent connection won't experience delay, also the gRPC connection can serve multiple requests so the delay is only happens on the first request for that connection.

Going to close this as it doesn't seem to be an Envoy issue.

[2022-08-03 01:50] #22522 closed

[2022-08-03 02:35] wbpcode commented on #22503
We can filter the metadata of request with keys of `subset_selector` just as we do for the `fallback_keys_subset`.

More specifically, first, we can sort the `subset_selectors` by the size of keys to ensure the selector has the most keys can be handled first.

And then, for every `subset_selector`, we we filter the request metadata first and then try to match against it. By this way, although ther

[2022-08-03 02:37] wbpcode commented on #22509
[code]

[2022-08-03 02:58] bgardner-noggin opened #22526 "Dynamodb filter - request times out if not valid Dynamodb request"
*Title*: Dynamodb filter, request times out if not valid dynamodb request

*Description*:

*Repro steps*:

*Config*:

*Logs*:

`
[source/common/http/http1/codec_impl.cc:608] [C6] parsing 1312 bytes
[source/common/http/http1/codec_impl.cc:551] [C6] message begin
[source/common/http/conn_manager_impl.cc:304] [C6] new stream
[source/common/http/http1/codec_impl.cc:509] [C6] completed header: key=Host

[2022-08-03 03:01] bgardner-noggin commented on #22526
This is running envoy in a docker container based off of envoyproxy/envoy-contrib:v1.23-latest

[2022-08-03 03:07] wbpcode commented on #22509
Should we change the image pull policy to avoid frequent pulling to the docker hub? cc @phlax

[2022-08-03 03:21] mum4k opened #22527 "Envoy's connection pool can attempt to create a new connection while draining and fail an assertion"
/cc @alyssawilk, since we discussed this previously.

It has been identified that Nighthawk doesn't correctly drain the connection pools: https://github.com/envoyproxy/nighthawk/issues/873

The relevant code is [here](https://github.com/envoyproxy/nighthawk/blob/ed015dd6ceb77f998b34f124613c0fcd33d540e8/source/client/benchmark_client_impl.cc#L110-L131). While we do call `addIdleCallback`, the callb

[2022-08-03 03:21] littlegreyzhang commented on #22506
@mattklein123 Maybe you know?

[2022-08-03 03:27] wbpcode commented on #22503
**Another interesting thing is that when the `single_host_per_subset` is enabled, we will used a more loose matching. We will find the single_key first from the request metadata.**
So it seems that there is an inconsistency. This more like a bug. 🤔

[code]

[2022-08-03 03:54] daixiang0 commented on #22494
I am not familiar with Istio, could you help provide an Envoy config?

/cc @xu1zhou has some experience with Istio tap.

[2022-08-03 03:57] daixiang0 commented on #22509
related to https://github.com/envoyproxy/envoy/issues/22404, I think we can close it since the similar cause.

[2022-08-03 03:59] daixiang0 commented on #22510
Also docker pull EOF: https://dev.azure.com/cncf/envoy/_build/results?buildId=114123&view=logs&j=f1a49366-51c0-540f-0294-f73c2bb311a9&t=7fd036c9-61ec-5b59-3645-e90950dc67a6&l=2792

related to https://github.com/envoyproxy/envoy/issues/22404, I think we can close this since the similar cause.

[2022-08-03 04:00] daixiang0 commented on #22404
@phlax seems we need to add retry step to fix flake tests.

[2022-08-03 04:05] daixiang0 commented on #22500
@daniel-yaba which command do you build for Envoy binary?

[2022-08-03 05:07] #22497 closed

[2022-08-03 06:27] phlax commented on #22509
that is certainly one of the approaches being considered (cf #22093 )

in the case of the sandboxes - caching his harder (huge amounts of diskspace/transfer involved) - and perhaps the best solution to at least mitigate is to make the testing incremental (cf #21935 )

i agree - im going to change the title of #22404 - but lets focus the attention around these dockerhub issues there - and close the

[2022-08-03 06:27] #22509 closed

[2022-08-03 06:30] phlax commented on #22404
the problem with adding a retry - apart from being an imperfect solution that may/not work, is that the envoy-build image is one of many cases where we are pulling images, so just adding a retry on that is not going to resolve the problem

[2022-08-03 06:32] phlax commented on #22510
yep, agreed - lets focus on #22404 as they are all symptoms of the same cause

[2022-08-03 06:32] #22510 closed

[2022-08-03 06:33] lenardpi commented on #22522
OK, thanks for the help and the background info.

[2022-08-03 06:50] phlax commented on #22404
one observation is that the bigger image that its pulling, the more likely to fail - which i think is why we see this more frequently with the envoy-build image and skywalking, jaeger, etc

another point of note here is that while the dockerhub issue is by far the biggest flake atm for verify examples - this can also flake on debian/ubuntu updates and pip downloads

i think shifting the verify tes

[2022-08-03 08:04] github-actions[bot] opened #22528 "Newer release available `com_github_google_perfetto`: v28.0 (current: v22.1)"
Package Name: com_github_google_perfetto@22.1
Current Version: v22.1@2021-12-07
Available Version: v28.0@2022-08-02
Upstream releases: https://github.com/google/perfetto/releases

[2022-08-03 08:04] #22159 closed

[2022-08-03 08:04] github-actions[bot] opened #22529 "Newer release available `rules_foreign_cc`: 0.9.0 (current: 0.8.0)"
Package Name: rules_foreign_cc@0.8.0
Current Version: 0.8.0@2022-04-18
Available Version: 0.9.0@2022-08-02
Upstream releases: https://github.com/bazelbuild/rules_foreign_cc/releases

[2022-08-03 08:14] saltbo commented on #22099
I use influxdb to save the data from config_dump API, then the seenvoy logic is based on it. Now the user experience is very great.

[2022-08-03 09:01] fdfzcq opened #22531 "protobuf NullValue is not properly transcoded"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: `google.protobuf.NullValue` is not properly transcoded

*Description*:
While using `envoy.filters.http.grpc_json_transcoder` with envoy image `envoyproxy/envoy:v1.22

[2022-08-03 09:24] nielsole commented on #21963
I've been seeing the same. I don't think this happens in every case, but I don't quite recall.
I was hesitant to open a ticket, because technically the relevant RFCs don't mandate proxies to close connections and it would be upon the client to reresolve DNS(or honor TTL) before every HTTP request. But I have yet to see a HTTP client library who does this.

I have some notes from trying to reliably

[2022-08-03 13:05] #22440 closed

[2022-08-03 13:06] alyssawilk commented on #22531
cc @qiwzhang @lizan @adisuissa

[2022-08-03 13:09] alyssawilk commented on #22527
at a glance it looks like you have access to the cluster.  Would calling drainConnections on the cluster and letting it handle clean shutdown work, or is there a reason you want to drain only that pool manually?

[2022-08-03 13:11] alyssawilk commented on #22526
unfortunately the dynamo filter was moved to contrib as it's unowned. we'd welcome a fix with tests but there's no one I can assign this issue over to :-(

[2022-08-03 13:39] alyssawilk commented on #22500
cc @phlax

[2022-08-03 13:39] mpuncel commented on #22401
@StarryVae are you still planning on looking into this?

[2022-08-03 14:44] #22496 closed

[2022-08-03 14:45] mum4k commented on #22527
I don't have a complete understanding of the Envoy objects, so might need your advice here.

Currently Nighthawk starts multiple workers, each of the workers has its own instance of a connection pool that it uses to issue requests. The goal here is to drain this pool when each worker is shutting down (while we are still concurrent), so that the worker can collect its individual statistics for all

[2022-08-03 15:05] daniel-yaba commented on #22500
I used version 1.23:latest from docker hub in my Dockerfile
then I created my own docker image with the YAML file as I specified above and then run my docker image

[2022-08-03 15:28] Asisranjan opened #22543 "Envoy verifying certificate even though validation context is not configured"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
Envoy verifying certificate even though validation context is not configured

*Description*:

the bug, for example: Envoy should not crash, th

[2022-08-03 17:10] #22342 closed

[2022-08-03 17:56] mum4k commented on #22527
Thank you @alyssawilk, I will send a PR.

[2022-08-03 18:31] chadm-sq opened #22551 "redis proxy mode (en-)forcing no eviction and configurable&consistent key->server mapping"
This might be a general overview ticket that is split into discrete parts. I consolidate here for discussion.

*Title*: *redis proxy mode with no cluster eviction and configurable&consistent key->server mapping*

*Description*:

Some of us poor souls use Redis as a primary data store, not as a cache.

I'd like to propose a different focus that the redis filter could permit. Namely, 1) different fo

[2022-08-03 18:37] MdSahil-oss commented on #22526
@alyssawilk Do you think? It's a good-first-issue to start contribution to envoy, if so then assign this issue to me, I would like to start contributing to envoy with this issue.

[2022-08-03 18:37] lizan commented on #22531
Per [its doc] the message `google.protobuf.NullValue` is intended to use as `oneof` within `google.protobuf.Value`. What if the message is:
[code]

and you set a null there?

This might be a protobuf issue and I didn't find a proper test case in [its implementation](https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/util/json_util_test.cc).

[2022-08-03 19:59] #22399 closed

[2022-08-03 21:00] kyessenov commented on #22489
I run it with `--runs_per_test=10000` with no luck.

[2022-08-03 21:25] qqustc commented on #22329
From the [log](https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/113483/logs/203), it looks like there is nothing wrong with the test and the issue should be fixed if we increase the timeout threshold.

For each test case in `KillRequestFilterIntegrationTestAllProtocols`, it runs 4 different combinations of protocols [(h1, h2)x(downstream, upstream)] and each run t

[2022-08-03 23:19] soulxu commented on #22449
@LithiumSR by the way, when you generate the new log, would you be able to enable debug or trace log level, which help me understand which operation happened on the listener also. thanks in advance!

[2022-08-04 01:17] alyssawilk commented on #22526
I don't know unfortunately as I'm not familiar with the code.  I'll assign it your way for now, and you can always back out if it turns out to be complex, and thanks for being willing to give it a shot!

[2022-08-04 01:47] StarryVae commented on #22401
Yes, i will push a PR today.

[2022-08-04 02:25] xu1zhou commented on #22494
Tap works fine for me with `format: PROTO_BINARY`. Hope you make sure the `path_prefix` is mount from host correctly.  You can also enable debug mode for envoy for more detail.

[2022-08-04 03:12] #22528 closed

[2022-08-04 05:37] JuniorHsu opened #22555 "Thrift Health Checker support"
This is a design doc for feedback.

We want to introduce a thrift health checker so thrift only cluster could reflect the health-ness more correctly.

It will be a custom health checker. It sends a thrift request with configed method_name and expect a success response.
The Thrift server can respond an exception to cause an immediate health check failure.

Here's the proposed thrift.proto

[code]
N

[2022-08-04 06:50] anuraaga opened #22557 "Expose files to wasm extensions"
*Title*:  Allow files to be specified when enabling a wasm plugin which will be accessible via wasi.

*Description*:

It can be useful to load large-ish data files from a wasm plugin, for example complex WAF rules or neural network parameters used to classify requests. While wasi defines an interface for reading files, Envoy does not expose it to wasm plugins yet. Plugins should not be able to acc

[2022-08-04 06:57] mathetake commented on #22557
@PiotrSikora, this one is really demanded one as we've seen in the corresponding issues in cpp-host, SDK and envoy slack. We (at tetrate) would love to work on the implementation once the API is agreed upon. I know wasi-2 will come but I image it would take a few more years to be stabilized considering that it comes with component model in Wasm spec, but I believe that the semantics of accessing f

[2022-08-04 07:21] fdfzcq commented on #22531
Thank you @lizan using `google.protobuf.Value` returned the correct JSON null, I'll close the issue then.

[2022-08-04 07:21] #22531 closed

[2022-08-04 07:32] bmcalary-atlassian commented on #22127
@cetanu since both we and @jparklab have both experienced connections being dropped prematurely, perhaps a re-title of this bug report is warranted to include that detail?

[2022-08-04 07:41] zarenner opened #22558 "Consistent hashing not consistent for unaffected hosts after other host removal"
***Title*:** Consistent hashing not consistent for unaffected hosts after other host removal

***Description*:**
When `RING_HASH` policy is used and a host is removed, requests don't remain consistently mapped to other unaffected hosts.
e.g. assume 3 hosts `A, B, C`. If `C` is removed, requests which were previously routed to `A` may be remapped to `B`.

The [documentation](https://www.envoyproxy.

[2022-08-04 07:58] PiotrSikora commented on #22557
Indeed, this is needed. I have a hacky WIP, but I've dropped ball on this one numerous times, so if I won't have it out in the next 2 days, then feel free to implement it yourself.

Regarding xDS API, I think it should be pretty similar to the one for environment variables, i.e.
[code]
I can push this proto for review if it looks reasonable to you.

[2022-08-04 08:03] github-actions[bot] opened #22559 "Newer release available `opentelemetry_proto`: v0.19.0 (current: v0.18.0)"
Package Name: opentelemetry_proto@0.18.0
Current Version: v0.18.0@2022-05-17
Available Version: v0.19.0@2022-08-03
Upstream releases: https://github.com/open-telemetry/opentelemetry-proto/releases

[2022-08-04 09:03] gaopeiliang commented on #4543
https://github.com/envoyproxy/envoy/pull/9899

envoy  check  c-ares ARES_ECONNREFUSED status  and reinit channel  to cover  /etc/resolv.conf  DNS server  change ......

but another questions :

some times  DNS server down  a while;    and  DNS recover  envoy  can't  recover auto ?

`
            if ((status != ARES_SUCCESS) || (sendreq->data_storage == NULL))
              {
                /* We

[2022-08-04 09:05] divramod commented on #17484
@sirkubax have you come to a solution? i am facing the same issue.

[2022-08-04 09:08] anuraaga commented on #22557
Thanks @PiotrSikora - wondering should `HostPath` have a writable flag? While initial implementation would probably be only read, when adding support for write we presumably would still want to configure the filesystem with the same proto.

[2022-08-04 09:17] LithiumSR commented on #22449
Hello @soulxu,
As you proposed I added two new logs messages.
I added a "Insert Generic listener with address {} and tag {}" at https://github.com/Nordix/envoy/commit/486e791d6d3abd36448b3ebf4252e113de62b56f#diff-fe538327af200510b78cadc759f2c3af989c822a370d3f8a005b92bc59568aa5R104-R105
I also added an extra print to check which tag was expected and the one that was found when the IF conditions fai

[2022-08-04 09:21] phlax opened #22560 "Automate publishing of tags/releases"
Currently we create releases manually from `main` and other release branches.

This has been error prone and requires manual intervention.

By automating the tagging we can ensure that CI is passing before creating the release, and that the release will be created as soon as CI passes

It will also allow us to remove a load of maintainer documentation

Once this is in place we can look at uploadin

[2022-08-04 09:23] phlax commented on #22560
there are a couple of related Prs over in pytooling that im currently working on to this end:

- https://github.com/envoyproxy/pytooling/pull/601
- https://github.com/envoyproxy/pytooling/pull/598

[2022-08-04 09:30] phlax commented on #14076
any help would definitely be appreciated

we also have developed some gpg-based python code for achieving self-signing in the release pipeline - mostly in anticipation of releasing binaries rather than containers - but also as discussed in the linked k8s ticket to ensure artefacts are stamped/validated throughout pipelines

as this is quite high priority for us we will probably use the gpg approac

[2022-08-04 09:56] soulxu commented on #22449
@LithiumSR I think I know why there is seg fault.

First, we got new listener `virtualInbound`
[code]

Then the `virtualInbound` was updated
[code]
But there is no log for `Inserting IPv4 any_addr 0.0.0.0:15006 with tag 13`. I guess that means this update with `ipv4_compat=false`, maybe this can be ensure by you or from the trace logs.

It means only the `[::]:15006 with tag 13` replaced in the tc

[2022-08-04 10:38] PiotrSikora commented on #22557
@anuraaga what exactly would be the use case for writeable filesystem in Proxy-Wasm?

[2022-08-04 11:54] phlax opened #22561 "Backport wasmtime updates to 1.22 branch"
Currently the 1.22 branch is showing a couple of wasmtime CVES:

- CVE-2022-31104
- CVE-2022-31169

as there is a 1.22 release pending, and already some delays i think we should backport the recent wasmtime update to resolve

[2022-08-04 11:54] phlax commented on #22561
cc @mattklein123 @PiotrSikora

[2022-08-04 12:06] anuraaga commented on #22557
One is to write logs to a separate file. For example with WAF, from what I understand it's fairly standard to write audit logs separate from access or proxy debug logs.

[2022-08-04 12:09] LithiumSR commented on #22449
Hello @soulxu
I have captured the trace logs. You can find them here:
[trace_logs.txt](https://github.com/envoyproxy/envoy/files/9259472/trace_logs.txt)
They are quite "rich" in content :p

[2022-08-04 12:39] soulxu commented on #22449
@LithiumSR I bring up a fix https://github.com/envoyproxy/envoy/pull/22563, let me know if you able to test the fix in your env

[2022-08-04 12:44] LithiumSR commented on #22449
Hi @soulxu
Thank you! I will build it right away and I will have the results by the end of today.

[2022-08-04 13:58] jpmorby commented on #2857
Remember that the matches need to be in order, as it will match the first occurrence... so something like this works

          route_config:
            name: local_route
            virtual_hosts:
            - name: local_service
              domains: ["*"]
              routes:
              - match:
                  prefix: "/api/"
                route:
                  prefix_rewrite: "/

[2022-08-04 14:52] mattklein123 commented on #22558
This a general property of these algorithms. Both Ketama and Maglev do not guarantee total stability, especially with a small number of hosts. You can improve this situation by replicating each host more times at the expense of more memory used and longer build times. What you are looking for if you want guarantees is "sticky sessions."

[2022-08-04 15:10] alyssawilk commented on #22527
it looks like it's not just the case that you're getting an event, it's the case that you're creating new connections. When a pool is draining Envoy will no longer attempt to create streams or connections to that pool.  So I think you need to simply not call drain until you're done doing that.

[2022-08-04 15:17] mum4k commented on #22527
Thank you, I will dig deeper into the Nighthawk's codebase to confirm this, but from what I saw, the Nighthawk worker is no longer creating new connections at that point.

I lack the understanding of the surrounding objects, but when reading just the code of `ConnPoolImplBase::onConnectionEvent`, it looks to me like this function gets called on events too. Specifically `Network::ConnectionEvent::L

[2022-08-04 16:01] #21598 closed

[2022-08-04 16:01] #21888 closed

[2022-08-04 16:14] LithiumSR commented on #22449
I'm afraid the issue is still there.
I will run more tests soon

[2022-08-04 17:21] kyessenov commented on #22527
This is the same crash I'm seeing in https://github.com/envoyproxy/envoy/pull/22371/files.
The reason is that it's trying to create a new stream and drain in quick succession. When there is no connection available, a stream is put into a queue. Drain then closes all connections, and we end up with assertion failure.

[2022-08-04 17:23] kyessenov commented on #22527
FWIW I've been trying to figure out how to solve this for a couple of days already so definitely could use some ideas.

[2022-08-04 17:34] kyessenov commented on #22527
In my experiments, Envoy needs to be sufficiently stressed (I ran with 3kqps on 4 workers to reliably trigger it). It's a race condition, and it probably relies on certain timing between pool creation and network calls. I think since we exposed this drain method, it should be made safe in all conditions.

[2022-08-04 18:06] mum4k commented on #22527
I can confirm that this scenario happens when the code is under stress.

This is what I understand:
Essentially we are asking the pool to drain. However the pool needs to send the remaining pending streams in order to drain. And to send the streams, the pool needs active connections.

If the pool loses a connection while streams are still pending, it will [try to create a new one](https://github.c

[2022-08-04 18:22] kyessenov commented on #22527
I think that makes sense. When the host is put into drain mode, it should reconcile its pending streams first. I'm not sure why we pro-actively close connections actually, when there are pending streams. That or somehow moving those pending streams to some other pool.

[2022-08-04 18:39] mum4k commented on #22527
Do we know for a fact that we pro-actively close connections? I was assuming that the connection got closed due to environmental reasons (network error, timeout, etc.).

[2022-08-04 18:43] kyessenov commented on #22527
I think so, here is the crash stack trace:
[code]

[2022-08-04 19:20] PiotrSikora commented on #22561
Techically, Wasm is still only an experimental feature in Envoy, and Wasmtime isn't even the default Wasm engine.

Note that there are quite a few reliability and security fixes for Wasm since v1.22, both in Envoy and in Proxy-Wasm C++ Host repos, so if we want to backport something, then there are better choices, IMHO.

[2022-08-04 20:01] #21906 closed

[2022-08-04 21:25] PiotrSikora commented on #22557
I agree that's a valid use case, but I don't think that direct file write access is the best way to support it, especially considering multiple workers that might be writting concurrently.

For something like audit logs (i.e. strictly append only), we should definitely have a dedicated API. We could either add a new API or extend the existing logging API with either "source" or "destination", whic

[2022-08-04 22:08] zarenner commented on #22558
Thanks for the quick response.

Sticky sessions / total stability isn't quite what we want, since we do want minimally disruptive redistribution when adding new hosts. I was just under the (perhaps incorrect) assumption that at least some ring hash algorithms like `ketama` didn't disturb untouched hosts at all on removal; the other host positions on the ring remain intact.

In fact, I'm still a bi

[2022-08-04 23:09] mattklein123 commented on #22558
I'm honestly not sure. I haven't looked at this code in years and don't remember the details.

https://github.com/envoyproxy/envoy/blob/main/source/common/upstream/ring_hash_lb.cc if you want to look. It's possible this is an artifact of us not sorting the hosts before building the ring or something else.

[2022-08-04 23:47] soulxu commented on #22449
emm...maybe you can generate the same logs as previously, then I can help for check that. By the way, you can the listener is v6only or not in the log, that will confirm that is the case trigger the bug.

[2022-08-05 01:04] mukundv18 opened #22572 "Any way to retry mirror-ed traffic or know the failed mirror requests?"
We are using Envoy Proxy as Redis Proxy. Is there a way that the failed mirrored requests can be known so that it can be retried? Also, how to retry failed mirror-ed requests?

[2022-08-05 01:26] mattmoor commented on #14076
✨ If you haven't seen the keyless approach, it is pretty magical ✨

@puerco did a lot of the signing work for K8s, so I cannot think of better hands to be in. 🤩

[2022-08-05 06:18] anand-bidwalkar opened #22574 "num_retries is not set to 0 on route through Envoy Filter"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: num_retries is not set to 0 on route through Envoy Filter

*Description*:
Hi Team,
We are trying to set the num_retries to 0 on a route through Envoy Filter. But min

[2022-08-05 08:19] sumitaneja opened #22576 "Intermittent Http1.codec in sidecar error when lua filter enabled on client."
Deployment
Ingress+istio SIdecar (with lua filter attached to outbound).  --> Sidecar Inbound+ µservice

In lua filter
Read bodyChunks to avoid https://github.com/envoyproxy/envoy/issues/16674
Make synchronous call suing httpCall API
Allow the request if API response is OK.

Under stress 1 %  Post request with body  rejected with  400 bad request cause:- http1.codec_error at Inbound sidecar of µSe

[2022-08-05 08:21] sumitaneja commented on #22576
SIDECAR_OUTBOUND

sample lua filter
[code]

[2022-08-05 08:25] sumitaneja commented on #22576
{
  "version": "e6f45abcf874983fbff384459d70b28c072f68b5/1.20.1/Clean/RELEASE/BoringSSL-FIPS"
}

[2022-08-05 08:28] sumitaneja commented on #22576
We had upgrade form 1.14.1 to 1.20.1 couple of months back, not sure if it is related.

istio 1.6 to 1.12.1

[2022-08-05 09:04] soulxu commented on #22449
@LithiumSR I found ListeneSocketFactory::clone doesn't handle ipv6only flag correctly also, you can wait for me fix that before you do another test.

[2022-08-05 09:09] LithiumSR commented on #22449
Hi @soulxu
I was just building the release with the additional logs.
I will wait for your clone() fix and I will start the tests 👍

[2022-08-05 09:36] soulxu commented on #22449
@LithiumSR I updated https://github.com/envoyproxy/envoy/pull/22563, but it is still waiting for the CI

[2022-08-05 10:48] zhanghw0354 commented on #19217
I’m from CMCC(China Mobile Communications Corporation). CMCC are providing customers with a full-stack cloud-native product family, helping customers to apply agile, business intelligence, security and trustworthiness. Details can be found in https://ecloud.10086.cn/home/support/cloudnative (sorry for Chinese only web page)
Security is vital to us and our customers and we have been looking for sec

[2022-08-05 11:26] phlax opened #22579 "Publish binary artefacts to github on tag/release"
Once we have automated publishing (#22578 ) i think we want to add binary uploads for the raw envoy binary, deb packages, and windows exes to the github release page

Before we can do that we need a solution that we can use for signing the binaries - (cf #14076 )

wrt to deb packages - as a follow on plan is to provide these from an apt repo - the deb signatures need to work with reprepro (or simi

[2022-08-05 11:28] phlax opened #22580 "Add richer release page metadata"
Once we have added automated publishing (#22579 ) we probably want to make the release page a bit more informative - eg with possibly:

- description/metadata
- changelog info/links
- contributors

[2022-08-05 12:12] alyssawilk commented on #22543
cc @zuercher @RyanTheOptimist

[2022-08-05 12:12] alyssawilk commented on #22551
cc @msukalski @henryyyang @mattklein123 @weisisea

[2022-08-05 12:13] alyssawilk commented on #22555
cc @zuercher

[2022-08-05 12:13] alyssawilk commented on #22574
cc @mattklein123 @snowp @alyssawilk

[2022-08-05 12:14] alyssawilk commented on #22576
cc @mattklein123 @alyssawilk

[2022-08-05 12:21] liverbirdkte opened #22581 "Add a bumping filter for cert mimicking"
*Title*: *A new bumping filter for cert mimicking*

*Description*:
As discussed in #18928, a bumping filter is needed for TLS bumping scenario. It's a network filter which does the following works:

1. Prefetch upstream server cert(perhaps Envoy::Ssl::ConnectionInfo is enough) before downstream handshake.
2. Interact with cert provider instance to generate mimic cert.
3. Refresh(recreate) downstre

[2022-08-05 13:35] LithiumSR commented on #22449
Hi @soulxu
From what I can tell the issue is still showing up even after the changes to clone().
I will double-check, add back the custom logs and provide you more information.

[2022-08-05 14:30] mattklein123 commented on #19217
Thanks @zhanghw0354 sounds good to me!

[2022-08-05 14:33] mattklein123 commented on #22551
At a high level this sounds reasonable to me. I guess my main question is how much of Redis Cluster are we going to reimplement here? Don't they already do a bunch of this stuff?

[2022-08-05 14:34] mattklein123 commented on #22574
Please raise this with Istio.

[2022-08-05 14:34] #22574 closed

[2022-08-05 15:29] howardjohn opened #22583 "debug assertion failure: `assert failure: isIdleImpl()`"
*Title*: debug assertion failure: `assert failure: isIdleImpl()`

*Description*:
In our CI with debug builds, we are regularly seeing this assertion failure.

[code]

I don't know when this started as we don't have regular runs with debug images (yet)

*Repro steps*:
I don't have a minimal repro but we hit it in our CI easily

Example failiures:
https://storage.googleapis.com/istio-prow/pr-logs/pu

[2022-08-05 16:01] #21902 closed

[2022-08-05 16:37] ghevge opened #22584 "Question: How can I set an envoy local rate limit, on all the paths starting with a given string?"
How can I set an envoy local rate limit, on all the paths starting with a given string?

eg: I want to enforce the same rate limit on the URLs starting with : /swagger-ui/...

I've tried a couple of things, including passing a regex in the path: ^/swagger-ui/.*$ but nothing seems to work.

I've also noticed that if the request contains query params, the rate limit enforced on the base path won't k

[2022-08-05 19:01] zuercher commented on #22543
I think this is working as designed.

By default, the dynamic forward proxy requires `auto_sni: true` and `auto_san_validation: true` on the cluster's `upstream_http_protocol_options`. When no UpstreamHttpProtocolOptions are given those settings default to true for the dynamic forward proxy (but not for a static cluster).

I suspect the auto SAN validation is the issue here: the certificate's SAN

[2022-08-05 19:06] zuercher commented on #22555
cc @rgs1 too

[2022-08-05 19:13] zuercher commented on #22555
I assume this will be a custom health check extension, so no changes to `envoy.config.core.v3.HealthCheck`. If so, I think this is fine.

Also, probably need to explicitly exclude the twitter protocol until it's actually removed. Otherwise the service name becomes necessary.

[2022-08-05 20:01] #21880 closed

[2022-08-05 20:01] #21938 closed

[2022-08-05 21:00] stevenzzzz commented on #21911
eh, @wbpcode @adisuissa I think we want to give this a shot?

[2022-08-05 21:01] Darnesey opened #22587 "Upgrade Ubuntu Base Image to 22.10 to address Trivy Security Vulnerabilities"
Trivy has reported several vulnerabilities for envoy images, but they have primarily only existed within the base images the envoy binaries are built on. Currently from my observations of your dockerhub envoyproxy profile, you have 3 main versions you support*:
- envoy (on Ubuntu)
- envoy-alpine (*supposedly will be dropping this)
- envoy-distroless (debian)

I see that you have upgraded to Ubuntu

[2022-08-05 21:18] wrowe commented on #20738
Perhaps Egret? Live on every continent, they are migratory, fish in sea and fresh waters (and spend plenty of time hoofing it too). Doesn't appear to be an OReilly mascot either.

[2022-08-05 22:02] znqjnny commented on #22336
Hi @zhxie , I met a trouble when I tried to test this feature. During the service up, it returned an error as followed
`
Unable to parse JSON as proto (INVALID_ARGUMENT:(matcher.matcher_tree) custom_match: Proto field is not repeating, cannot start list.):

{"admin":{"address":{"socket_address":{"address":"0.0.0.0","port_value":8001}}},"static_resources":{"listeners":[{"filter_chains":[{"filters":

[2022-08-05 22:35] jespersoderlund opened #22589 "WASM sandbox example is not using correct port"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: WASM sandbox environment is not working due to misconfigured port in echo service

*Description*:
Following the sandbox for WASM sends a request to the envoy instanc

[2022-08-05 22:41] soulxu commented on #22449
@LithiumSR thanks!

[2022-08-05 23:54] JuniorHsu commented on #22555
Yes this is custom health check extension, and thanks for the great suggestion for protocol exclusion, which makes perfect sense. twitter protocol is deprecated and will be removed Q2 2023 so we should be good.

[2022-08-06 00:03] #21914 closed

[2022-08-06 00:03] #21944 closed

[2022-08-06 01:33] soulxu commented on #22449
One thing I can't get an answer is the log showing you update a listener's v4compat flag from true to false, since the first time you add the listener
[code]

It has the log for adding any_addr mapping. It only happened when the v4compat flag as true.

The update of listener, doesn't have that log, it means the v4compat flag is false.

[code]

So the behavior I guess there is an update of v4compat

[2022-08-06 01:59] zirain commented on #22584
try something like:
[code]

if you are using master 1.22.0 or above, you can also custom [descriptor_key](https://www.envoyproxy.io/docs/envoy/v1.22.2/api-v3/config/route/v3/route_components.proto#envoy-v3-api-msg-config-route-v3-ratelimit-action-headervaluematch)

[2022-08-06 02:15] zirain opened #22591 "stats: need tag-extractor support for multiple regexes targeting same tag name"
Istio use ` "regex": "(response_code=\\.=(.+?);\\.;)|_rq(_(\\.d{3}))$"` for response_code stats tag, [here](https://github.com/istio/istio/blob/f0bb371da14af5229cd297c76fc7145771aec6db/tools/packaging/common/envoy_bootstrap.json#L48) is the source code.

## step 1
I test with the following stats, which work as expected:
[code]
output as following:
[code]
## step 2
Change regex string to `"(respons

[2022-08-06 06:38] SunChero opened #22592 "question regarding websocket proxying"
my backend support only websocket with binary data,

can envoy accept websocket connection accept text mode from downstream and convert to binary when talking to upstream ?

something like

<Client Ws: Text> ---<Envoy WS:Binary> ----<Backend>

Thank you

[2022-08-06 08:01] #21513 closed

[2022-08-06 09:28] Asisranjan commented on #22543
Hi @zuercher
Thanks for reply.

I was followed your configuration :
a. allow_insecure_cluster_options: true
b. though i have configured upstream_http_protocol_options as below
`upstream_http_protocol_options:
        auto_san_validation: false`
it is showing as upstream_http_protocol_options: {} in istio configdump.
if you have full configuration please share, it will help me.

Anyway, with your i

[2022-08-06 10:34] #21899 closed

[2022-08-06 11:30] phlax commented on #22587
one question i have about how you are running trivy

as i understand it the recommended way is to ignore bugs with no fixes - on the basis that there is nothing that you can do about it - im guessing that is not how you are running it

[2022-08-06 12:56] alantbarlow commented on #96
The lack of this feature is the exact reason I am considering using Caddy instead. They handle Automatic HTTPS Cert Generation default without any configuration needed. I don't mind configuring the feature as long as it does everything automatically once enabled.

[2022-08-07 00:02] #21684 closed

[2022-08-07 04:05] #21797 closed

[2022-08-07 15:58] ghevge commented on #22584
That's for the reply. But how to I define the rate limits with this approach?

[2022-08-07 19:52] jespersoderlund commented on #7763
Would be very useful to be able to use dynamic Metadata or header values I the re-write rules

[2022-08-08 01:11] mukundv18 opened #22598 "No logs in Envoy Access Logs"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *There are NO logs in the envoy access logs. How to enable access logging*

*Description*:

[code]

[optional *Relevant Links*:]

[2022-08-08 01:12] mukundv18 opened #22599 "Any way to retry mirror-ed traffic or know the failed mirror requests?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Any way to retry mirror-ed traffic or know the failed mirror requests?*

*Description*:

[optional *Relevant Links*:]

[2022-08-08 01:32] zhxie commented on #22336
@znqjnny You can check [RBAC sandbox](https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/rbac) and [match against port and IP](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/advanced/matching/matching_listener#match-against-the-destination-port-and-the-source-ip) for help. You are using `type.googleapis.com/envoy.extensions.matching.input_matchers.ip.v3.Ip` while it is no

[2022-08-08 03:27] sumitaneja commented on #22576
seems this is always an issue.

[2022-08-08 04:30] suniltheta commented on #22500
[code]
Perhaps the access log should be specified under access_log field (envoy [docs](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/accesslog/v3/accesslog.proto#envoy-v3-api-msg-config-accesslog-v3-accesslog))?

[2022-08-08 06:13] phlax commented on #22500
i suspect this is a mismatch issue between the version of Envoy that you are using and the docs you are following - could you check both

[2022-08-08 06:18] phlax commented on #22598
@mukundv18 which version of Envoy are you using?

[2022-08-08 07:19] hxysayhi opened #22602 "When the number of clusters is large, there is a large periodic delay in xds update"
*Title*: *When the number of clusters is large, there is a large periodic delay in xds update*

*Description*:

*Repro steps*:

Sorry, no additional log information is available due to network isolation

[2022-08-08 08:22] rainingmaster commented on #22397
Nice job! It is my pleasure to to sponsor this enhancement. Since ByteDance's traffic needs to be compressed, we've been working with the Intel to offload that pressure to the hardware.

[2022-08-08 08:27] qiming-007 commented on #22397
Thanks @rainingmaster for sponsoring the feature.

[2022-08-08 08:58] daniel-yaba commented on #22500
@suniltheta I changed the access logs to be under filters and not inside http_filters as in your comment and it seems to work fine
thanks a lot !!

[2022-08-08 09:01] #22500 closed

[2022-08-08 09:34] ipuustin commented on #22341
There's a new qatlib build-time dependency: YASM. We have two patches set up -- one adds YASM to Envoy build and another tries to remove YASM dependency from qatlib (since YASM is used only for compression acceleration). We'll next figure out which patch looks nicer and is more future-proof.

[2022-08-08 09:41] HeTvaM opened #22603 "Why no retries for requests enforced by the local ratelimiter?"
**Description**:
I have a situation where I need to retry requests if the request to the upstream host has been enforced by a local rate limiter.

I use the following HTTP filter:
[code]

I configure a local rate limiter:
[code]

In the documentation for `retry_policy`, you can add `retry_on: envoy-ratelimited` [field](https://www.envoyproxy.io/docs/envoy/v1.23.0/configuration/http/http_filters/ro

[2022-08-08 10:08] Asisranjan commented on #8607
Hi @rgs1
can you please share sample filter

[2022-08-08 11:20] livius-ungureanu opened #22605 "Question: Is envoy capable to forward udp traffic as tcp traffic?"
*Description*:

The question is envoy capable  to forward udp traffic as tcp traffic?

My specific use case is that I'd need to implement DNSOverTLs using envoy. This means, for example,  that the local 127.0.01:53  traffic needs to be reverse proxied to 8.8.8.8:853.

Whereas I've got an Envoy config that forwards DNS traffic from localhost:53 to some external DNS server like 8.8.8.8:53 (i.e UDP t

[2022-08-08 13:47] alejandro-colomar opened #22606 "Support abstract unix sockets as `\0socket-name` too"
https://github.com/envoyproxy/envoy/blob/5e4c50b0c50db8877cf7197c1b6c1853e27e783f/source/common/network/address_impl.cc#L339

I think it would be very easy to add support for abstract Unix sockets with the semantics of the kernel (i.e., a leading `\0` instead of a leading `@`).  In JSON that could be written as `\u0000socket-name`.

See the following patch (untested):

[code]

[2022-08-08 14:09] Darnesey commented on #22587
That is a good point. We are technically not using that flag and I can talk with my security managers around whether we want to use that flag at all (there's still value in being aware of unfixed vulnerabilities in our reports). There's only one vulnerability on 22.04 that has a fix now. Generally we like to be aware of unfixed vulnerabilities in case there's a newer base image version which does

[2022-08-08 14:09] #22587 closed

[2022-08-08 14:12] phlax commented on #22587
for reference my PR to add trivy to Envoy CI is here #20779 - i have been running it by hand

not sure if i have the trivy settings optimally configured etc

[2022-08-08 15:53] LithiumSR commented on #22449
Hello @soulxu
Sorry for the delay, here are the new logs with the extra messages as requested.
[istio-mt-esarleo-0_fortioclient-7f885bbd55-t96gp_istio-proxy.log](https://github.com/envoyproxy/envoy/files/9283210/istio-mt-esarleo-0_fortioclient-7f885bbd55-t96gp_istio-proxy.log)
I checked the coredump and the issue is still showing up at the same insert_or_assign due to the replacement of another en

[2022-08-08 16:18] stevenzzzz opened #22609 "printing non-utf8 string from metadata crashes Envoy (when trace enabled)"
*Title*: printing non-utf8 string from metadata crashes Envoy (when trace enabled)

*Description*:
envoy/http/metadata_interface.h seems assume that metadata K:V are in utf8 strings：

[code]

But seems no such constraint in spec for metadata.

We should at least eacape the K:V before passing them into spdglog which expects utf8 string.
https://github.com/abseil/abseil-cpp/blob/master/absl/strings/

[2022-08-08 16:18] stevenzzzz commented on #22609
assign to @yanavlasov for triaging.
/assign @yanavlasov

[2022-08-08 16:19] stevenzzzz commented on #22609
cc @adisuissa

[2022-08-08 16:22] #22589 closed

[2022-08-08 16:29] ggreenway commented on #21739
Not stale; PR in progress: #22036

[2022-08-08 17:05] kyessenov commented on #22583
The stack seems to say that a pool is deferred-deleted while not idle. That's not expected, could be related to lifecycle of CDS / EDS.

[2022-08-08 17:10] kyessenov commented on #22584
@ghevge The rate limit is on the descriptor, so you just need to apply it to `URL|Regex|/swagger-ui/.*`. If you just went to select requests with a certain path prefix, there are many ways to do that:
* create a route for the prefix, with a rate limit override;
* use `prefix_matcher` in `header_matcher` like above;
* use CEL https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/rate_limit_

[2022-08-08 17:22] kyessenov commented on #22591
@zirain Can you please update the description, I think you swapped values for regex in the second and third step?

cc @jmarantz

[2022-08-08 17:22] howardjohn commented on #22583
Anything I can do to get more info here?

[2022-08-08 17:25] kyessenov commented on #22592
Envoy supports websockets. Can you clarify what you mean by text and binary? Envoy can terminate HTTP websocket and then open a TCP stream to a backend.

[2022-08-08 17:29] kyessenov commented on #22599
Envoy implementation for mirroring is "fire-and-forget". I think there's room for improvement for telemetry and retrying of mirror-ed requests, but it's a substantial change due to the implementation.

[2022-08-08 17:37] kyessenov commented on #22602
What version of Envoy are you using? There were several fixes to improve CPU time to process CDS. This issue sounds like main thread CPU is the bottleneck.

[2022-08-08 17:38] kyessenov commented on #22602
cc @adisuissa

[2022-08-08 18:06] dhiaayachi opened #22612 "http inspector filter is not filling `server_name`"
*Title*: *http inspector filter is not filling `server_name` which prevent from using it in conjunction with `filter_chain_match`*

*Description*:

*Repro steps*:

It seems to be as trivial as adding parsing the `Host/Authority` header and adding to the socket in [here](https://github.com/envoyproxy/envoy/blob/4350d44f784aa6ab4c6c505b92a5bddde8f1bc8f/source/extensions/filters/listener/http_inspect

[2022-08-08 18:23] kyessenov commented on #22605
cc @yanjunxiang-google  (as a dns_filter owner)

[2022-08-08 18:26] kyessenov commented on #22612
@dhiaayachi `server_name` refers to SNI in TLS and is populated by [TlsInspector](https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/listener_filters/tls_inspector). HTTP inspector does not parse anything beyond the first line of HTTP requests.

[2022-08-08 18:28] kyessenov commented on #22583
cc @alyssawilk
I cannot point to a reason except guessing it's related to lifecycle of internal sockets. Maybe someone else can have a better idea. The next step is to create a reproducer.

[2022-08-08 18:30] howardjohn commented on #22583
This one is not using internal listener at all, this is just mainline Istio from `master`

[2022-08-08 18:36] dhiaayachi commented on #22612
@kyessenov reading the comment about `server_name` it say:

[code]
It give SNI for TLS as an example and not necessarily the only supported protocol.

I see now that it only parse [until the first header](https://github.com/envoyproxy/envoy/blob/4350d44f784aa6ab4c6c505b92a5bddde8f1bc8f/source/extensions/filters/listener/http_inspector/http_inspector.cc#L85). Is there a reason not to change that to

[2022-08-08 19:07] dhiaayachi commented on #22612
I'm new to envoy so I'm probably understanding this wrong.

I thought that the http inspector filter is executed for every request before the filter chain match. From what you're saying I understand it's not, and executed only once for every connection. Is that right?

[2022-08-08 19:10] kyessenov commented on #22612
Yes, listener filters are execute once per connection before the listener parses the bytes on that connection.

[2022-08-08 19:16] visweshn92 commented on #19548
@PiotrSikora Could you clarify the need to wait for new validation? Looks like the diff touched only the ssl-related files and not anything under `crypto/fipsmodule`, so can we just consume the latest BoringSSL reusing the previously validated BoringCrypto?

[2022-08-09 00:03] znqjnny commented on #22336
Thanks so much for guiding me to that @zhxie . I followed the instruction of RBAC sandbox and the example of IP matcher to run the example, but I got an error again with that. Could you please help me to check again what cause the problem?

[2022-08-08 23:59:50.369][1][warning][misc] [source/common/protobuf/message_validator_impl.cc:35] message 'xds.type.matcher.v3.Matcher' is marked as work-in-pr

[2022-08-09 00:44] hxysayhi commented on #22602
Envoy version is 1.21.1.

I also guessed that replacing the incremental protocol might solve the problem. But what makes me wonder is why envoy does not consume xds data in tcp buffer for a fixed period every half a minute, even though the load is idle and no other configuration changes have been made. In other time periods, continuous changes can still take effect immediately (about 1s). Configur

[2022-08-09 00:46] znqjnny commented on #22336
I also tried to remain the same format as **filter_matcher_chain** rather than use http_filter with RBAC. And it caused a different error.

[2022-08-09 00:44:48.168][1][critical][assert] [source/common/network/utility.cc:491] panic: unset oneof

[2022-08-09 00:44:48.168][1][critical][backtrace] [./source/server/backtrace.h:104] Caught Aborted, suspect faulting address 0x6500000001

[2022-08-09 00:

[2022-08-09 01:13] zirain commented on #22591
@kyessenov retest and update the output.

[2022-08-09 01:19] douglas-reid opened #22617 "rbac: no access to updated connection info on internal listener"
We have a (unique?) set up involving internal listeners that need access to the original ssl connection info. To pass the connection info, we use a filter state object with the "shared with upstream" flag and a single purpose network filter that reads the filter state and updates the connection info via `ReadFilterCallbacks`.

This appears to work as expected for some of our HTTP filters (Wasm-bas

[2022-08-09 01:41] kyessenov commented on #22617
Wasm accesses SSL info via: `StreamInfo::downstreamAddressProvider().sslConnection()`. I think it's just missing setter somewhere.

[2022-08-09 03:17] kyessenov commented on #22617
The problem is that the default implementation of ssl() in Connection uses transport socket directly.

[2022-08-09 03:28] StarryVae commented on #22173
@wbpcode is someone working on this? if no, i would take this, thanks.

[2022-08-09 03:51] wbpcode commented on #22173
Hmm, I am not sure if the @daniel-yaba has done some related work? 🤣

[2022-08-09 03:58] zhxie commented on #22336
You should fix your first configuration with

[code]

I recommend you following the [API documentation](https://www.envoyproxy.io/docs/envoy/latest/api/api) and [RBAC sandbox](https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/rbac) to configure your Envoy.

BTW, it IS a issue that IP matcher does not support match against HTTP context, I will fix that.

[2022-08-09 08:03] github-actions[bot] opened #22620 "Newer release available `rules_rust`: 0.9.0 (current: 0.3.1)"
Package Name: rules_rust@0.3.1
Current Version: 0.3.1@2022-04-26
Available Version: 0.9.0@2022-08-08
Upstream releases: https://github.com/bazelbuild/rules_rust/releases

[2022-08-09 08:03] #22425 closed

[2022-08-09 08:32] daniel-yaba commented on #22173
@wbpcode Sorry I didn't have the time to deal with it
I will appriciate if you will supply a fix for this one

[2022-08-09 08:39] adisuissa commented on #22602
Can you collect some cpu profile while running this?
The ingestion is done by the main thread (not the worker threads), so there is a single thread that is in-charge of that.
What may be happening is that Envoy ingests a large config (which takes a long time), and keeps the data in the gRPC buffer while processing it, but it's challenging to debug without traces and without profiling.

[2022-08-09 09:19] PiotrSikora commented on #19548
I'm absolutely not an authoritative person on the topic, but my conservative interpretation of FIPS validations is that you must use the specific commit SHA that has been validated.

Also, BoringCrypto is the name used for FIPS validated version of BoringSSL, but it's the same library, so you cannot use crypto bits from 2019 with TLS bits from 2022.

[2022-08-09 09:56] LithiumSR commented on #22449
Hi @soulxu
It seems that your new fix did the trick :)
The situation seems stable now, I will expand the scope of testing (It will take around 5 hours more)

Thank you so much for looking into this

[2022-08-09 10:03] bilbof opened #22621 "OpenMetrics Exemplars"
**Title**: Add support for OpenMetrics exemplars

**Description**:

Currently Envoy supports OpenMetrics format but does not export exemplars. Exemplars are very useful for discovering traces.

Envoy exports traces in a few different formats. There's also currently an effort to support OpenTelemetry for tracing https://github.com/envoyproxy/envoy/issues/9958.

https://github.com/OpenObservability/

[2022-08-09 10:14] soulxu commented on #22449
Thanks!
Then I can begin to write the version for the main branch, then backport the fix. Let me know if you still found something wrong.

[2022-08-09 11:55] KrishnaIyer commented on #3887
For anyone who is still here and is having issues with forwarding the client certificate details (via the XFCC header).

I needed to set the following three things for this to work

1. [forward_client_cert_details](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto#envoy-v3-api-enum-extensions-filters-network-http-

[2022-08-09 13:08] LithiumSR commented on #22449
Hi @soulxu
I finished testing, everything came back green. No regression whatsoever from my side :)

[2022-08-09 13:12] caoyukun0430 commented on #21923
@KBaichoo  any further idea or suggestions? thanks

[2022-08-09 13:27] marcosrmendezthd opened #22625 "envoy doesn't request oauth2 secrets via ads or sds"
*Description*:

We're dynamically configuring envoy via a control plane (ads). Sometimes the configuration has the OAuth2 filter enable, sometimes it doesn't. When envoy pulls down it's first configuration and it does have OAuth2 configured, everything works as expected. However, when we start with a configuration that doesn't have OAuth2 and change it to one that does, the token and hmac secrets

[2022-08-09 13:30] marcosrmendezthd commented on #22625
[envoy.yaml](https://github.com/envoyproxy/envoy/files/9291025/envoy.yaml.txt)
[upstream.go](https://github.com/envoyproxy/envoy/files/9291031/upstream.go.txt)
[control-plane.go](https://github.com/envoyproxy/envoy/files/9291036/control-plane.go.txt)
[envoy-no-oauth2.log](https://github.com/envoyproxy/envoy/files/9291040/envoy-no-oauth2.log.txt)
[envoy-oauth2.log](https://github.com/envoyproxy/env

[2022-08-09 14:27] soulxu commented on #22449
@LithiumSR, thanks for all the help on the debug and validation!

[2022-08-09 14:39] Darnesey commented on #22587
From the looks of it, your trivy scans are only flagging vulnerabilities with the HIGH/CRITICAL severity levels. This is certainly fine if you're using it to block pipelines. I don't know what your process is for assigning risk levels for security bugs or bugs in general, but it might be useful to have a separate (unblocking) scan for the remaining severity levels. That way, this information is kn

[2022-08-09 14:44] phlax commented on #22587
its more scheduled/notification pipelines - but yep - i think we are mostly interested in the high/critical issues

well given that these issues are (afaiaa) ones that dont affect us - the issue is more just having the vulnerable software in the container, unused, these are generally regarded as low priority - in fact it wasnt something we tracked at all until recently

perhaps, but i think when d

[2022-08-09 14:45] bencebeky commented on #21245
Note that BalsaParser is being developed to provide feature (and bug) parity with http-parser to the highest reasonable extent.  This includes identical error messages, some of which have "HPE_" prefix (for "http-parser error"), and some of which are hardcoded in an awkward manner, see #22447 for an example.  This is to minimize friction during the transition.  After the transision is complete, th

[2022-08-09 15:09] KBaichoo commented on #21923
From https://github.com/envoyproxy/envoy/pull/22585 we now discount free mapped pages from the utilization calculation.

Then my follow-up question is what consists of free memory regions?

Do you think all heaps are transferred to fragmentation then?

More broadly, to avoid your deployment from freezing up, you could consider some additional overload manager actions that shed memory: https://www.

[2022-08-09 15:50] caoyukun0430 commented on #21923
Hi @KBaichoo  thanks for the PR, I am not sure/afraid it won't solve my issue though. Ofc I will do more tests to verify.
1. my question above was asking what consists of "free memory region"? from my experiments  "allocated" drops from  64747984 to 8812560, but "pageheap_free" stays zero, which mean subtracting totalPageHeapFree(pageheap_free_bytes) in the PR doesn't help release overloadMgr from

[2022-08-09 16:40] kyessenov commented on #22625
@adisuissa This looks like a bug with missing SDS subscriptions.

[2022-08-09 16:46] renuka-fernando opened #22626 "Support for month, year ratelimit units"
*Title*: *Support for month, year ratelimit units*

*Description*:
Rate limits such as `10K req/Month`, `1M req/year` are useful when **the upstream has a business value** (like a per month ***subscription***) and is exposed the client via Envoy.

The existing implementation only supports the following units.
 - SECOND
 - MINUTE
 - HOUR
 - DAY

Maybe MONTH, YEAR units are not useful for local rate

[2022-08-09 16:48] phlax commented on #22422
cc @pradeepcrao @snowp

[2022-08-09 16:59] #22336 closed

[2022-08-09 17:20] gyohuangxin commented on #4863
Did anyone meet this issue when running full clang-tidy under docker?
[code]

[2022-08-09 17:27] jasonmccallister opened #22627 "Add ability to retrieved config files from a URL"
Add a `--config-url` option that will download the configuration from a remote URL.

*Description*:
There are a lot of times where it would be nice to retrieve a static configuration file (no XDS) from a remote URL. A use case would be uploading a configuration to S3 and running the plain `envoyproxy/envoy:v1.23-latest`. As it exists today, the only way to get a configuration file into a container

[2022-08-09 17:59] bilbof commented on #22621
Yes exactly

[2022-08-09 19:43] kyessenov opened #22632 "flake: verify_examples zipkin-tracing"
Noticed this a couple of times today:
[code]

[2022-08-09 20:03] phlax commented on #22632
almost certainly this is a dupe of https://github.com/envoyproxy/envoy/issues/22404

upstream issue is here https://github.com/docker/hub-feedback/issues/2262

[2022-08-09 20:20] phlax commented on #22632
checking CI im not seeing the docker issue - so this may be genuine separate flake - ill look further

[2022-08-09 22:19] znqjnny commented on #22336
Thanks a lot for fixing that @zhxie . I tested the RBAC sandbox again with your last merge and modified it as you recommended, and the service is up successfully now.

But when I test the IP blocking feature locally, it doesn't allow/deny as I expected...

I check my local IP is 10.0.0.74 and the subnet mask is 255.255.255.0. So I set the rbac filter as followed, which should allow my connection t

[2022-08-09 23:32] soulxu opened #22634 "The update of v4_compat flag for the listener will be ignored"
When updating a listener with a different v4_compat flag value, the new value will be ignored. When updating an existing listener, we will clone the socket from the old listener:
https://github.com/envoyproxy/envoy/blob/01fb798af4276da0e4b93ac1a60287fc477598ad/source/server/listener_manager_impl.cc#L505

And the old v4_compat flag value will be clone also. Then the new value is lost.

The possible

[2022-08-10 01:23] zhxie commented on #22336
In your first case, you are matching `127.0.0.1` (I assume your `localhost` will be interpreted to `127.0.0.1`, see `/etc/hosts`) against `10.0.0.74/24`, and the result is not matched. The matching falls back to the `on_no_match` branch and the result is DENY.

In you second case, you are capturing `SourceIPInput`, so `X-Forwarded-For` header does not matter.

[2022-08-10 02:10] StarryVae commented on #22173
i will try fix it.

[2022-08-10 08:03] github-actions[bot] opened #22636 "Newer release available `bazel_toolchains`: v5.1.2 (current: v5.1.1)"
Package Name: bazel_toolchains@5.1.1
Current Version: v5.1.1@2021-11-30
Available Version: v5.1.2@2022-08-09
Upstream releases: https://github.com/bazelbuild/bazel-toolchains/releases

[2022-08-10 08:03] github-actions[bot] opened #22637 "Newer release available `com_github_intel_ipp_crypto_crypto_mb`: ippcp_2021.6 (current: ippcp_2021.5)"
Package Name: com_github_intel_ipp_crypto_crypto_mb@2021.5
Current Version: ippcp_2021.5@2021-12-21
Available Version: ippcp_2021.6@2022-08-09
Upstream releases: https://github.com/intel/ipp-crypto/releases

[2022-08-10 08:03] github-actions[bot] opened #22638 "Newer release available `com_google_protobuf`: v21.5 (current: v3.20.1)"
Package Name: com_google_protobuf@3.20.1
Current Version: v3.20.1@2022-04-22
Available Version: v21.5@2022-08-09
Upstream releases: https://github.com/protocolbuffers/protobuf/releases

[2022-08-10 08:04] #22400 closed

[2022-08-10 08:26] kfaseela commented on #21941
#22396 fixes the issue.. Thanks a lot @ZiyangXiao

[2022-08-10 08:26] #21941 closed

[2022-08-10 13:29] wbpcode opened #22640 "subset lb: create metadata match criteria based on the metadata of route/vhhost"
*Title*: *subset lb: create metadata match criteria based on the metadata of route/vhhost*

The specific `metadata_match` and dynamic metadata will be used to create metadata match criteria which will be used by the subset lb.
But the metadata configured in the route/vhhost is not used for now.

Maybe we can try to merge the route/vhhost metadata that under the `envoy.lb` namespace?

[2022-08-10 15:07] #22449 closed

[2022-08-10 15:32] #20665 closed

[2022-08-10 16:07] phlax commented on #22587
glibc is the key compatibility issue

[2022-08-10 16:10] phlax commented on #22587
also, to be clear, its not too much of a concern

if you use the container with the envoy binary as is - none (afaiaa) of the issues that trivy has flagged are relevant

if you use the container with some other binary that does use those libs it would be a concern - but unless you are rebuilding Envoy in some way, you would already be using it in a way that was not intended and/or defies best prac