[2017-09-07 01:48] htuch commented on #1605
The crash on v1 is basically because we don't have JSON schema guarding against this. The v2 is caveat emptor until we have proto constraints (Real Soon Now). Since @jmillikin-stripe is planning to PR, I think we can leave it as is until the PR.

[2017-09-07 03:06] mattklein123 commented on #1605
Yeah IIRC I think I already did most of the work to make it work, even with hot restart, I just never finished it up and added integration tests. I think other than adding some tests it will be very easy to finish up.

[2017-09-07 03:12] mattklein123 commented on #1606
@jmacd I think you are asking for the feature discussed in this thread? https://groups.google.com/forum/#!topic/envoy-dev/xVvy3Q26VNM

[2017-09-07 03:14] mattklein123 opened #1607 "docs: clarify internal/external header stripping"
https://groups.google.com/forum/#!topic/envoy-users/oxX-4hgtVa8

[2017-09-07 14:33] PiotrSikora commented on #1604
Sorry, I've misread your comment, yes, this is a regression.

I'll fix it next week - I'm traveling this week and unable to test fix properly.

[2017-09-07 15:43] jmillikin-stripe commented on #1606
Yes, it looks like that thread is about pretty much the same feature. I see the DNS resolution issue was already being considered. As to your many-cluster-vs-single-cluster question there, we definitely want (2). Not just for simplicity of implementation, but also because it prevents unbounded growth of metric tags.

[2017-09-07 16:14] mattklein123 commented on #1606
OK. I meant to open an issue to track that thread so here we are. This feature is not easy to add but I think will be useful. I will mark this as "help wanted." If someone wants to work on it please let me know and we can go into the details.

[2017-09-07 19:35] #1560 closed

[2017-09-07 21:52] zuercher commented on #1279
I'm starting to look at this.

I think a reasonable first step is to plumb the LbEndpoint Metadata from EDS into Upstream::HostDescription/Impl. Then it should be possible to use the data from inside the load balancers.

[2017-09-07 22:59] mattklein123 opened #1610 "SIGTERM during init can lead to crash in certain cases"
Specifically, we can exit the run loop:
https://github.com/lyft/envoy/blob/master/source/server/server.cc#L299

But during shutdown, we actually cause the init manager to complete:
https://github.com/lyft/envoy/blob/master/source/server/server.cc#L290

Which will start the workers and race with shutdown. We need to cancel init manager when we get SIGTERM.

[2017-09-11 13:15] marcosrmendezthd commented on #1597
@mattklein123 ^^^^ :)

[2017-09-11 15:18] htuch opened #1619 "Add createFilterFactoryFromProto for all existing network/HTTP filters"
Need to define proto schema and `createFilterFactoryFromProto` variants.

[2017-09-11 16:22] grobinson-blockchain opened #1620 "assert failure: std::find in bazel-out/local-fastbuild/bin/source/common/common/_virtual_includes/linked_object/common/common/linked_object.h:70"
Our installation crashes frequently with the following error:

    Sep 11 16:15:42 backend-generic-rmbk envoy[6237]: [2017-09-11 16:15:42.195][6248][critical][assert] assert failure: std::find(list.begin(), list.end(), *entry_) != list.end(): bazel-out/local-fastbuild/bin/source/common/common/_virtual_includes/linked_object/common/common/linked_object.h:70
    Sep 11 16:15:42 backend-generic-rmbk

[2017-09-11 16:28] mattklein123 commented on #1620
Please first update to current master. If it's still crashing, can you help by providing a core dump and/or resolved symbols? https://github.com/lyft/envoy/tree/master/bazel#stack-trace-symbol-resolution

[2017-09-11 16:29] grobinson-blockchain commented on #1620
Sure! Will let you know 👍

[2017-09-11 16:30] #1597 closed

[2017-09-11 20:58] #150 closed

[2017-09-12 14:46] grobinson-blockchain opened #1623 "504 Gateway Timeouts"
We're looking to use envoy to replace our existing service mesh but are running into a couple of issues during testing.

## Setup

Each backend server runs Envoy with an egress and ingress listener. The egress listener forwards outgoing HTTP requests (i.e. service-to-service) while the ingress listener routes incoming requests from both other egress listeners and NGINX to the correct docker contai

[2017-09-12 16:32] mattklein123 commented on #1623
Please provide output of /stats, /clusters, and /server_info admin endpoints for the envoy that is returning the 504.

[2017-09-12 21:21] grobinson-blockchain commented on #1623
/clusters:

    api-1-egress::10.132.0.43:8181::cx_active::1
    api-1-egress::10.132.0.43:8181::cx_connect_fail::0
    api-1-egress::10.132.0.43:8181::cx_total::8
    api-1-egress::10.132.0.43:8181::rq_active::1
    api-1-egress::10.132.0.43:8181::rq_timeout::4
    api-1-egress::10.132.0.43:8181::rq_total::9
    api-1-egress::10.132.0.43:8181::health_flags::healthy
    api-1-egress::10.132.0.43:8

[2017-09-12 22:02] grobinson-blockchain commented on #1623
One correlation I've observed is that requests tend to timeout on the first request after some idle time (on average somewhere around 30 seconds idle). Subsequent requests do not timeout until the next idle time.

[2017-09-12 22:09] mattklein123 commented on #1623
Can you please provide a full log at debug or trace level that shows the timeouts?

[2017-09-12 22:14] grobinson-blockchain commented on #1620
We are still seeing the same issue with 1.4.0:

    /opt/envoy/v1.4.0/bin/envoy  version: a8507f67225cdd912712971bf72d41f219eb74ed/Modified/DEBUG

I will get a core dump as soon as possible.

[2017-09-12 22:16] grobinson-blockchain commented on #1623
It might be related to https://github.com/lyft/envoy/issues/1620 because we never see the timeouts in the logs, even when running Envoy in debug mode.

We first thought the issue was fixed when we upgraded to 1.4.0 but it appears not. Will update 1620 and we can go from there.

[2017-09-13 01:32] simonsj opened #1630 "Proxy TCP connections over HTTP2 connection pools"
I'd like to use Envoy as something like a `stunnel` replacement, but leveraging long-lived HTTP2 connection pools, like this:

[code]

^ where neither the client nor server speaks any HTTP.

Clients use servers' IP addresses directly, so no DNS is involved.

I was thinking it should be possible to map TCP flows like that over long-lived HTTP2 tunnels.

After reading over issues and the mailing lis

[2017-09-13 02:48] mattklein123 commented on #1630
This is not supported out of the box. What does the HTTP/2 tunneling give you exactly? Are the TCP connections short lived? If this is needed a custom protocol is required. The best bet is probably some type of bi-directional gRPC streaming API that gets converted back to raw TCP on either side. You could build Envoy filters fairly easily to accomplish this.

[2017-09-13 09:52] grobinson-blockchain commented on #1620
I have a stack trace:

    [2017-09-13 09:50:07.445][23678][debug][pool] source/common/http/http1/conn_pool.cc:61] creating a new connection
    [2017-09-13 09:50:07.445][23678][info][client] source/common/http/codec_client.cc:21] [C8452] connecting
    [2017-09-13 09:50:07.445][23678][debug][connection] source/common/network/connection_impl.cc:509] [C8452] connecting to 10.132.0.43:8181
    [2017

[2017-09-13 14:35] mattklein123 commented on #1620
Thanks, I know what the problem is. Will fix. FYI, this race condition is an indication that you are likely cycling upstream hosts fairly aggressively (meaning a host is being removed from an upstream cluster so its connection pools are being drained and destroyed). This may or may not be related to your other issue.

[2017-09-13 15:08] grobinson-blockchain commented on #1620
That is great news. Thanks!

Yes, this is our other issue. In our test environment, the hosts returned by the SDS API are more or less static. In fact, these change ONLY when a service is restarted or a release is made because our container scheduler will spawn new containers and shutdown the old ones.

We've configured Envoy to update its internal routes from both the RDS and SDS every 15 seconds

[2017-09-13 16:18] mattklein123 commented on #1620
I think something is probably fishy with your setup TBH. If you are hitting this race condition hosts are coming and going at a pretty rapid clip. I will obviously fix this issue, but in the meantime, I would take a look at stats related to upstream cluster membership, and potentially see if it's bouncing for some reason. (I don't completely recall your settings in terms of whether you are using a

[2017-09-13 17:19] grobinson-blockchain commented on #1620
I think I might have found the cause. The CDS API would return the clusters in random order rather than sorted order.

For example, the first HTTP request might return:

    {
      "name": "api-1-egress",
      "service_name": "api-1-egress",
      "type": "sds",
      "lb_type": "round_robin",
      "connect_timeout_ms": 250
    },
    {
      "name": "api-1-ingress",
      "service_name": "api-

[2017-09-13 20:46] grobinson-blockchain commented on #1620
Positive. I changed the code in the CDS API, recompiled it, and uploaded it to the VMs. I didn't even restart Envoy, just the systemd unit for the CDS.

[2017-09-13 20:47] grobinson-blockchain commented on #1620
I've not seen a single issue in the last three hours since I made the change, where before I saw the issue at least a minute on average.

[2017-09-13 21:11] mattklein123 commented on #1620
Is your perf issue from your other issue gone also? The only thing I can think of here is somehow the ordering is effecting the hash of the sub message which doesn't make any sense to me. @htuch Do you have any idea about this? This is related to `MessageUtil::hash()`.

[2017-09-13 21:22] grobinson-blockchain commented on #1620
The performance issue also appears to be resolved. I know it sounds crazy, but I promise I made zero other changes.

[2017-09-13 21:23] mattklein123 commented on #1620
I can believe there is some issue here with hashing. We will look into it (and also fix the bug above). Thanks for the report.

[2017-09-13 21:25] htuch commented on #1620
We hash clusters/listeners/route tables independently at the resource level, not based on the list of resources delivered, so I don't see why this should be happening. What do https://lyft.github.io/envoy/docs/configuration/cluster_manager/cluster_manager.html#statistics stats say?

[2017-09-13 21:28] grobinson-blockchain commented on #1620
That's a good question! Let me rollback the version of our CDS API and get back to you.

[2017-09-13 21:47] grobinson-blockchain commented on #1620
I just rolled back our CDS API to the previous version (without sorting) and the issue is back.

RE stats, I see the following under the admin API:

    cluster_manager.cds.update_attempt: 7
    cluster_manager.cds.update_failure: 0
    cluster_manager.cds.update_rejected: 0
    cluster_manager.cds.update_success: 7
    cluster_manager.cluster_added: 59
    cluster_manager.cluster_modified: 0

[2017-09-13 21:48] mattklein123 commented on #1620
OK this isn't a hashing issue. Can you supply full logs at debug level? How many total clusters do you expect to have?

[2017-09-13 21:49] mattklein123 commented on #1620
Full output of /clusters and /stats would be useful also after several CDS update intervals.

[2017-09-13 21:54] htuch commented on #1620
I think it is hashing @mattklein123 (despite my surprise). We're not seeing clusters removed, but they keep getting added. https://github.com/lyft/envoy/blob/master/source/common/upstream/cluster_manager_impl.cc#L251 doesn't increment `cluster_removed`, unlike https://github.com/lyft/envoy/blob/master/source/common/upstream/cluster_manager_impl.cc#L275.

Somehow, we're not getting a hash equality

[2017-09-13 21:54] grobinson-blockchain commented on #1620
We have two clusters per micro-service: one for ingress traffic and another for egress traffic. There are 33 services which makes for 56 clusters and is expected to increase.

    curl -s http://127.0.0.1:8400/v1/clusters/blockchain/backend-generic-60tb | jq '.clusters | length'
    56

[2017-09-13 21:55] mattklein123 commented on #1620
@htuch if we had hashing issues, with same name cluster, we would expect to see modify. I don't see any modification above...

[2017-09-13 21:57] htuch commented on #1620
Good point, forget my above comment.

[2017-09-13 21:59] grobinson-blockchain commented on #1620
I need to obfuscate the names of clusters before posting the output because they match 1-1 with the names of our micro-services. One sec!

[2017-09-13 22:28] delisdeli commented on #1425
This would be great for the following path forwarding use case:
`/foo/{foo_id}/bar/{bar_id}` to `/foodle/{foo_id}/barble/{bar_id}`

[2017-09-13 22:36] grobinson-blockchain commented on #1620
This output from `/stats` include some timeouts:

    cluster.api-1-egress.external.upstream_rq_200: 22
    cluster.api-1-egress.external.upstream_rq_2xx: 22
    cluster.api-1-egress.external.upstream_rq_503: 7
    cluster.api-1-egress.external.upstream_rq_504: 3
    cluster.api-1-egress.external.upstream_rq_5xx: 10
    cluster.api-1-egress.lb_healthy_panic: 6
    cluster.api-1-egress.lb_local_clu

[2017-09-13 22:54] mattklein123 commented on #1620
[code]

Are you sure SDS is not returning different results? All of the above looks normal to me. I think will need full logs to understand what is going on (at debug level).

[2017-09-13 23:20] mattklein123 commented on #1623
Closing since we are tracking same issue in https://github.com/lyft/envoy/issues/1620

[2017-09-13 23:20] #1623 closed

[2017-09-14 01:28] simonsj commented on #1630
What I'm after to is multiplex multiple streams over the single encrypted HTTP/2 connection, trying to avoid needing to set up one new connection per raw TCP flow.  I'd ideally be able to reuse that connection for lots of flows over time.

Yes, in general; at most these connections could last up to 2 hours but most would fall into the seconds range.

Thanks, this is helpful, and good to know there

[2017-09-14 03:08] mattklein123 commented on #1630
@simonsj if you potentially want to implement I can provide tips / rough overview. If this is something that the community would find useful we can upstream also.

[2017-09-14 09:18] grobinson-blockchain commented on #1620
It's starting to look like the CDS ordering was a red herring. It was stable for quite a while, but now we're back to seeing random `no unhealthy upstream` and `upstream request timeout` errors.  However, these are caused by Envoy restarting due the race condition bug above.

[2017-09-14 10:22] grobinson-blockchain commented on #1620
I'm completely lost now. I've deployed a stub version of the CDS and SDS API to return static JSON hardcoded into the API. We're still getting the same race conditions.

[2017-09-14 13:44] rshriram commented on #1623
Just one feedback. You don't need strict dns when the hosts in the cluster
are IP addresses. You can just specify static as the type.
On Wed, Sep 13, 2017 at 7:21 PM Matt Klein <notifications@github.com> wrote:

--

~shriram

[2017-09-14 13:52] #1553 closed

[2017-09-14 14:27] grobinson-blockchain commented on #1623
Oh, we tried that but Envoy doesn't start when using `static`:

    Sep 14 14:26:15 envoy[30044]: [2017-09-14 14:26:15.546][30044][warning][main] source/server/server.cc:151] initializing epoch 0 (hot restart version=8.2490552)
    Sep 14 14:26:15 envoy[30044]: [2017-09-14 14:26:15.549][30044][critical][main] source/server/server.cc:71] error initializing configuration '/etc/envoy/envoy.json': JSO

[2017-09-14 14:45] #1610 closed

[2017-09-14 18:10] zuercher commented on #1279
Ready to take the next steps. This is a proposal for some further modifications (include a change to data-plane-api).

It seems reasonable to me not to have to maintain alternate load balancer implementations (there are currently 5) that differ only by being configurable with subsets. So I propose to

1. Write a subsetting LB that wraps multiple underlying load
balancers, one for each configured s

[2017-09-14 20:58] jmillikin-stripe opened #1650 "lyft.github.io/envoy/ 404s, should redirect to new site at envoyproxy.github.io/envoy/"
This broke pretty much every Google hit for the Envoy docs, so it'd be nice to get a redirect in place.

[2017-09-14 21:11] htuch commented on #1279
We've discussed making LB's pluggable like filters before @rshriram. We could add an opaque config for these so we don't need to keep cramming stuff into CDS.

[2017-09-14 22:08] mattklein123 commented on #1650
Right now the entire repo is redirecting. If we make a repo in lyft org and put in a redirect, I think it will break a bunch more stuff. Not sure if there is a great way to deal with this.

[2017-09-14 22:24] gregdurham commented on #1364
Is there any update on this issue? I seem to have run into this as well.

[2017-09-14 23:25] #1607 closed

[2017-09-14 23:59] simonsj commented on #1630
@mattklein123 that would be awesome, I'd love to give this a try.

[2017-09-15 04:02] mattklein123 commented on #1650
I think we figured out how to put a redirect in.

[2017-09-15 04:02] #1650 closed

[2017-09-15 04:04] #1604 closed

[2017-09-15 13:55] htuch commented on #1452
@mattklein123 @danielhochman should we also add the `versionInfo()` for all APIs to stats/admin? @kmyerson can take a look at this.

[2017-09-15 15:28] mattklein123 commented on #1452
@htuch @kmyerson This is related to https://github.com/envoyproxy/envoy/issues/1453. Optimally, we would have version info and full dump for all the xDS endpoints, as well as a gauge for each version (hash of version) in stats.

This is a little complicated because we have an existing /listeners endpoint which we use only for integration tests currently, as well as the existing /clusters endpoint

[2017-09-15 17:24] #1620 closed

[2017-09-15 17:45] zuercher commented on #1279
I'm not entirely sure I follow. Is this just adding

[code]

to the Cluster message and placing the subset config stuff in a separate file?

[2017-09-15 17:47] mattklein123 commented on #1279
@htuch I agree we should allow for pluggable LBs like we are now allowing for filters, stats, etc. but in this case I see no reason not to add the subsetting support directly mainly because as @zuercher points out it can be done in a way that does not change existing behavior.

@zuercher ^ sounds reasonable/useful to me. My only concern is actually perf. It's not great if we have to compare via re

[2017-09-15 18:34] zuercher commented on #1279
I expect that the structs will usually be flat (e.g., the field values will be string/bool/number and not nested structs or lists). I'm fairly new to protobufs, but it looks like it's possible to treat the struct as map of field names to values where each value has a kind that determines how to extract the typed value. Nested lists and structs would require

That said, I think it makes sense to co

[2017-09-15 18:58] caniszczyk opened #1660 "Update to CNCF Code of Conduct"

[2017-09-15 19:16] #300 closed

[2017-09-15 19:20] caniszczyk opened #1662 "Update Envoy logo in README"
Use the new one :)

[2017-09-15 19:20] caniszczyk opened #1663 "Add DCO"
https://developercertificate.org/

[2017-09-15 19:20] caniszczyk opened #1664 "Add CII Best Practices Badge"
This is for @mattklein123 to fill out: https://bestpractices.coreinfrastructure.org/

[2017-09-15 19:21] caniszczyk opened #1665 "Create GOVERNANCE.md"
Split out what is in the OWNERS file related to governance.

[2017-09-15 19:34] #1662 closed

[2017-09-15 19:35] #1665 closed

[2017-09-15 19:40] caniszczyk opened #1670 "Update GOVERNANCE.md for adding/removing projects"
The governance process should mention adding/removing projects.

[2017-09-15 19:42] mattklein123 commented on #1663
Will call this resolved once bot is active, we remove Lyft CLA bot, etc.

[2017-09-15 19:47] mattklein123 commented on #1660
Done

[2017-09-15 19:47] #1660 closed

[2017-09-15 19:47] caniszczyk commented on #1663
@mattklein123 DCO bot is now active (I forgot about the built in one with GitHub now):

https://github.com/organizations/envoyproxy/settings/installations/53244

All PRs now will need DCO (including in flight PRs)

If we do a quick test today, we can remove the CLA today.

[2017-09-15 19:49] htuch commented on #1279
Yeah, I think we're going to have to invent our own thing here, protobuf's internal representation of Struct is verbose. I agree that flat hashing is what we want for the common case. One idea is that we could build an index hashtable for each LB subset query we encounter as well, so we only pay this penalty once.

[2017-09-15 19:49] mattklein123 commented on #1663
OK I will figure out how to do this and then add instructions in the contributing guide.

[2017-09-15 19:53] caniszczyk commented on #1663
This is done. CLA check is remove, DCO check is enforced.

[2017-09-15 19:57] mattklein123 commented on #1663
I'm still figuring out how to correctly configure git client. Then will update contributing guide and call this fixed.

[2017-09-15 19:57] caniszczyk commented on #1663
@mattklein123

I updated the CONTRIBUTING.md with info: https://github.com/envoyproxy/envoy/pull/1673

[2017-09-15 19:58] zuercher commented on #1279
Ok. I'll put up a review for the data-plane-api change and then get started on the actual implementation.

[2017-09-15 19:59] caniszczyk commented on #1663
@mattklein123 if you want it to be automatic, you can add something like this to your .gitconfig

[alias]
  amend = commit -s --amend
  commit = commit -s

There may be easier ways to do this with git now but I have to check things out.

[2017-09-15 20:00] mattklein123 commented on #1663
Yeah I'm poking around. We can merge this and I will update again when I figure it out.

[2017-09-15 20:14] shalako commented on #95
Any news as to how implementation is progressing?

[2017-09-15 20:22] #1663 closed

[2017-09-15 20:41] caniszczyk opened #1677 "Move to Slack"
I believe @mattklein123 wants to move the Lyft community to Slack

[2017-09-15 20:50] mattklein123 commented on #1677
Dup of https://github.com/envoyproxy/envoy/issues/956

[2017-09-15 20:50] #1677 closed

[2017-09-15 20:53] caniszczyk commented on #956
I'm on it, I'll setup a slackin on envoyslack.cncf.io, give me until next week

[2017-09-15 23:00] mattklein123 opened #1679 "http/1 flow control issue with no upstream keep alive"
There exists a problematic sequence of events:

1. Large response
2. Downstream flow control kicks in
3. Upstream read disable
4. Upstream has actually finished sending response
5. Because we use EPOLLRDHUP we get notified when upstream EOF happens
6. We signal remote close while we still have data when we should probably sit around and wait for flow control to clear.

@alyssawilk it's actually no

[2017-09-15 23:14] mattklein123 commented on #1630
@simonsj here is a rough outline:

1. I would define a gRPC streaming API that basically passes a trivial message back and forth. Each message would just contain raw bytes (you might potentially want to carry some kind of routing data along with the bytes but that's separate).

2. You could follow along with tcp_proxy filter: https://github.com/envoyproxy/envoy/blob/master/source/common/filter/tcp

[2017-09-15 23:35] PiotrSikora opened #1680 "Use typed protobuf messages for configs of builtin filters."
As discussed in https://github.com/envoyproxy/envoy/pull/1495 & https://github.com/envoyproxy/envoy/pull/1657, there should be a proper support for builtin filters, and  `google.protobuf.Struct` should be used only as a necessary evil for 3rd-party filters.

[2017-09-15 23:36] PiotrSikora commented on #1680
@htuch @jrajahalme @jmillikin-stripe

[2017-09-16 02:48] mattklein123 commented on #1679
@alyssawilk I thought about it and IMO the right thing to do here is if a connection is read disabled and we receive EPOLLRDHUP we should try to read off the connection and dispatch any data we get. Any data read would be within the socket buffer so I feel this is safe and would fix the problem pretty cleanly. Thoughts?

[2017-09-16 02:52] #1425 closed

[2017-09-16 07:11] msample opened #1683 "OSX Build: md5sum and /proc/cpuinfo needed"
Followed current build instructions for OSX but building with bazel on OSX/macos also needs a md5sum binary and a /proc/cpuinfo file.

cheap fix (would be better not to grep /proc/cpuinfo or to use 'sysctl -a hw' on OSX):

[code]

Also OSX Sierra (10.12.x) or greater is required to get the required 8.3.3 version of xcode.  The AppStore will spin forever if you try to upgrade xcode on an earlier OS

[2017-09-16 16:17] mattklein123 commented on #1364
I'm marking this issue "help wanted." Someone just needs to step up and fix this. @objectiser any interest?

[2017-09-16 16:51] objectiser commented on #1364
@mattklein123 will have a look early next week to let you know.

[2017-09-17 02:16] msample commented on #1683
I just reviewed my install history and I think this can be closed.   I was looking at fixing these issues and noticed that they occurred before I updating the envoy submodule in envoy-filter-example. After updating, the files with the warnings cited have OS X/Darwin specific fixes.

Sorry for the noise.

[2017-09-17 17:43] mattklein123 commented on #1683
OK closing.

[2017-09-17 17:43] #1683 closed

[2017-09-18 12:22] yacc2007 opened #1684 "when envoy long time running, and handle many requests, it allocated large memory"
when envoy long time running, and handle many requests, it allocated large memory, such as below envoy stat:

**server.memory_allocated: 1709152016
server.memory_heap_size: 1753219072**

cluster_manager.cds.update_attempt: 174864
cluster_manager.cds.update_failure: 9
cluster_manager.cds.update_success: 174855
cluster_manager.cluster_added: 96
cluster_manager.cluster_modified: 1419444
cluster_manag

[2017-09-18 12:55] dnoe opened #1685 "Flake in //test/integration:http2_integration_test (flow control related?)"
This test flaked for me in 7/1000 runs. To reproduce:

`bazel test //test/integration:http2_integration_test --runs_per_test=1000`

The test fails with an assertion, essentially the connection closed unexpectedly:

[code]

Not seen before commit f0cadd754e98bc19f5e6e05859d4f7ed1e7d98b0
Author: alyssawilk <alyssar@google.com>
Date:   Mon Sep 11 16:58:06 2017 -0400

    Flow control for Http::Filter

[2017-09-18 14:20] htuch commented on #1684
Which version of Envoy are you using? It doesn't look like any of the buffer limiting flow control counters are present here. @alyssawilk. One possible explanation is that you have some very large buffer allocated. Alternatively, we are leaking somewhere. I would retry with the latest Envoy build from master and flow control enabled.

[2017-09-18 14:52] htuch commented on #1680
In terms of the design space here, at a high-level we have a choice between treating the builtin filters as opaque, as we do with 3rd party, and as a `oneof` in an extensible proto. The thinking to date has been to do the former, since this simplifies implementation and extension (even with the builtins, which will grow).

There are two concerns that have come up regarding the opaque filter config

[2017-09-18 16:09] mattklein123 commented on #1684
Per @htuch please upgrade to latest master and test again. If it still looks like a leak, please obtain a heap dump via: https://gperftools.github.io/gperftools/heapprofile.html (Just set HEAPPROFILE env var before running envoy along with other env vars to control dump frequency, etc.).

[2017-09-18 18:11] mattklein123 commented on #1680
I don't have a strong preference. If people are willing to do the work maintaining Any/Struct seems reasonable to me.

[2017-09-18 20:36] dnoe commented on #918
We should consider doing this again now that we are under CNCF and have access to more CI resources. MSAN has found a few bugs internally that would have been caught by CI before merging.

[2017-09-19 02:43] yacc2007 commented on #1684
./envoy  version: 0dfe36a1e3f17ace9c85561f1e25084f3a98ec58/Clean/RELEASE

and some top info :
![image](https://user-images.githubusercontent.com/6888202/30573563-357cd53e-9d27-11e7-8f1a-d6fe0c51e707.png)

[2017-09-19 07:36] objectiser commented on #1527
Resolved by #1632 and https://github.com/envoyproxy/data-plane-api/pull/170

[2017-09-19 07:36] #1527 closed

[2017-09-19 15:30] mattklein123 commented on #1684
@yacc2007 please upgrade to current master and retest. If it still looks like it is leaking please provide stats. At that point we will need to look at a heap profile.

[2017-09-19 15:48] vadimeisenbergibm opened #1693 "http/2: correctly disable/handle upstream push promise"
I perform an HTTP/1.1 call to envoy thru iptables. I expect envoy to connect to `nghttp2.org` by HTTP2,  by specifying `"features": "http"` in the cluster configuration. Envoy crushes on an assert:
`source/common/http/http2/codec_impl.cc:762] assert failure: frame->hd.type == NGHTTP2_HEADERS`.

My configuration:
[code]

The client's command:
[code]

Envoy's version: `b0d8095d0cd3c63667997124b9e8ce

[2017-09-19 15:58] mattklein123 commented on #1693
nghttp2.org uses http/2 push (push_promise) which Envoy does not currently support.

[2017-09-19 15:58] mattklein123 commented on #1693
Related to https://github.com/envoyproxy/envoy/issues/1070.

[2017-09-19 16:06] mattklein123 commented on #1693
Arguably we should make this just reset the push and/or use settings to indicate that we don't support push until we have full push support. I will fix this.

[2017-09-19 16:51] vadimeisenbergibm commented on #1693
@mattklein123 This is not urgent, I just wanted to implement an HTTP/2 test for Istio, for testing purposes only.

[2017-09-19 18:35] mattklein123 commented on #975
This is fixed I think.

[2017-09-19 18:35] #975 closed

[2017-09-19 18:36] mattklein123 commented on #661
Closing for now. Will revisit when there are actual issues here. What we have is working OK for now.

[2017-09-19 18:36] #661 closed

[2017-09-19 18:37] mattklein123 opened #1695 "tests: make mock warning clean"
We should be able to do this now that we have the gmock change in to change the default.

@alyssawilk just opening tracking issue so we don't forget.

[2017-09-19 18:38] mattklein123 commented on #1140
will sort this out in context of https://github.com/envoyproxy/envoy/issues/1670

[2017-09-19 18:38] #1140 closed

[2017-09-19 19:36] #1685 closed

[2017-09-19 22:42] tdmackey commented on #1164
I hacked this up and got basic submissions working, https://github.com/tdmackey/envoy/commit/a1e51dce072cc49c4c4fffecfa2211941b19e9ac.

It needs more work that I'm happy to take on to be part of the CI process. However, I have ignored the travis-ci integration pending whatever CI work is seemingly ongoing in the background.

[2017-09-19 22:42] mattklein123 commented on #1164
@tdmackey can you do PR on docs for how you got this thing to run?
https://scan.coverity.com/projects/envoy-proxy?tab=overview

[2017-09-19 22:42] mattklein123 commented on #1164
For now we can't run as part of CI, but can we just get basic instructions on how to run locally?

[2017-09-19 22:46] tdmackey commented on #1164
Yeah, I'll clean up my local cov build process and submit a PR.

[2017-09-19 22:48] mattklein123 commented on #1164
Thank you @tdmackey !!!

[2017-09-20 01:22] #1693 closed

[2017-09-20 02:47] yacc2007 commented on #1684
change current master, but it still looks like it is leaking, memory is growing, and never decrease.
./envoy  version: 725447a079859b7c229d22baeb8bd662d5bcf72d/Clean/RELEASE

root      44095  1.8  0.0 280700 24584 pts/0    Sl   Sep19  21:40 ./envoy -c ../conf/s2s_envoy.json --concurrency 24 --base-id 2194636641 --service-cluster xlchannel.producer --service-node 10.33.11.172:10002

cluster_manager

[2017-09-20 04:15] mattklein123 commented on #1684
Please obtain a heap profile so we can figure out what allocation is leaking.

[2017-09-20 08:30] yacc2007 commented on #1684
Total: 3.3 MB
     0.5  16.5%  16.5%      0.5  16.5% std::string::_Rep::_S_create
     0.5  14.5%  31.0%      0.5  14.5% __gnu_cxx::new_allocator::allocate (inline)
     0.3   7.7%  38.7%      1.0  30.3% std::_Function_handler::_M_invoke (inline)
     0.2   6.7%  45.4%      0.3   8.1% __gnu_cxx::new_allocator::construct (inline)
     0.1   4.3%  49.7%      0.5  16.4% Envoy::Upstream::ClusterManage

[2017-09-20 08:35] yacc2007 commented on #1684
memory grow slowly, several days later, I will collect the HEAP PROFILE  again.

[2017-09-20 08:53] yacc2007 commented on #1684
pprof --text --base=/tmp/mybin.hprof_77606.0001.heap envoy_1.4 /tmp/mybin.hprof_77606.0002.heap
Using local file envoy_1.4.
Using local file /tmp/mybin.hprof_77606.0002.heap.
Total: 0.7 MB
     0.3  38.9%  38.9%      0.3  38.9% Envoy::Stats::HeapRawStatDataAllocator::alloc (inline)
     0.2  23.3%  62.2%      0.2  25.3% std::__shared_count::__shared_count (inline)
     0.1  10.4%  72.6%      0.1

[2017-09-20 09:17] objectiser commented on #1497
@clguimanMSFT This should have been fixed by #1565 - operation_name (Egress/Ingress) is now used to determine whether client/server span. Would you be able to test and let us know?

[2017-09-20 09:23] objectiser commented on #808
@1mentat Can this issue be closed based on the ability to be able to specify an operation name via a decorator on the route: https://github.com/envoyproxy/envoy/blob/master/docs/configuration/http_conn_man/route_config/route.rst ?

[2017-09-20 10:47] yacc2007 commented on #1684
pprof --text envoy_1.4 /tmp/mybin.hprof_77606.0067.heap |more
Using local file envoy_1.4.
Using local file /tmp/mybin.hprof_77606.0067.heap.
Total: 3.9 MB
     0.5  13.0%  13.0%      0.5  13.0% std::string::_Rep::_S_create
     0.4   9.1%  22.1%      0.4   9.1% __gnu_cxx::new_allocator::allocate (inline)
     0.3   7.8%  29.9%      0.3   7.8% Envoy::Stats::HeapRawStatDataAllocator::alloc (inline)

[2017-09-20 10:48] yacc2007 commented on #1684
pprof --text --base=/tmp/mybin.hprof_77606.0067.heap envoy_1.4 /tmp/mybin.hprof_77606.0068.heap |more
Using local file envoy_1.4.
Using local file /tmp/mybin.hprof_77606.0068.heap.
Total: 0.4 MB
     0.1  29.3%  29.3%      0.1  29.3% __gnu_cxx::new_allocator::allocate (inline)
     0.1  28.1%  57.4%      0.1  28.1% std::string::_Rep::_S_create
     0.1  16.1%  73.5%      0.1  18.5% Envoy::Json::::

[2017-09-20 12:58] #1679 closed

[2017-09-20 13:51] alyssawilk commented on #1296
I think it depends on what you're trying to accomplish.  If you're trying for session affinity (a given client likely landing on the same backend, or best-effort "sticky" load balancing) hashing on the 5 tuple doesn't work well for users who are still on HTTP/1, as they're likely to have multiple connections on different ephemeral ports.

[2017-09-20 13:59] #1664 closed

[2017-09-20 14:28] htuch commented on #1296
I think we could extend the bools in the `ConnectionProperties` to allow folks to opt in and out of different tuple indices to support source IP hashing, 5-tuple hashing, or anything in between. The proto is extensible, so let's do source IP first and then build the rest as folks feel the need and can contribute PRs.

[2017-09-20 14:35] htuch commented on #1684
These heaps don't look very big, first column is direct memory use, see http://goog-perftools.sourceforge.net/doc/heap_profiler.html. But, `top` is showing a large resident memory size as well as `/stats` which come from `tcmalloc`. I don't have much experience chasing leaks with `pprof`, but I think getting a believable profile that actually matches the > 1GB memory allocation is a good start.

I

[2017-09-20 15:21] yacc2007 commented on #1684
the memory grow very slowly,  it runs more than 30 days, and it used approach 1.7GB resident memory.
it used for grpc proxy, and the qps is about 500.

[2017-09-20 15:28] mattklein123 commented on #1684
@htuch `server.memory_allocated` above shows 1.7GB allocated so there is definitely an issue. tcmalloc will hold on to big chunks of memory but the allocated stat is accurate. I think there is a leak.

@yacc2007 please let the server run for about 30-60 minutes so the leak is more obvious and then obtain a differential profile (like you did above) that spans the time (not including startup). It sh

[2017-09-20 15:34] rshriram commented on #1296
Okay, I see the issue. Source ip makes more sense. The other issue here is that the downstream to upstream choice when using ketama hash is a function of number of upstream nodes. If we wanted constant mapping, we would need a different hashing function that is independent of the upstream pool size.

[2017-09-20 19:03] akonradi commented on #1422
What are the semantics of multiple hash policies? For example, if both header and cookie hash policies were specified, would the expected behavior be to hash the header and cookie together? If so, what effect does ordering of polices have?

[2017-09-20 19:38] htuch commented on #1422
I think the idea is that the hash is a function of all these individual inputs. Ordering probably doesn't matter; you might get a different hash function if you do header then cookie vs. cookie then header, but for a given policy order you should get the same results each  time for the same request headers.

[2017-09-20 19:49] lcapaldo commented on #170
I'm exploring the possibility of using envoy with a largish codebase that has a tendency to default to using http/1.0. It's not impossible to change all those uses, but one of the appeals of envoy to me in the first place is avoiding having to "touch all the code" to do those sorts of things. It would simplify my exploration greatly if envoy supported http/1.0.

[2017-09-20 20:52] 1mentat commented on #808
Yes, that method should work.

[2017-09-20 21:14] mattklein123 commented on #808
Cool closing.

[2017-09-20 21:14] #808 closed

[2017-09-21 02:31] yacc2007 commented on #1684
-rw-r--r-- 1 root root 1048543 Sep 20 **16:01** /tmp/mybin.hprof_77606.0010.heap
-rw-r--r-- 1 root root 1048574 Sep 20 **16:56** /tmp/mybin.hprof_77606.0030.heap

pprof --text --stacks --base=/tmp/mybin.hprof_77606.0010.heap envoy_1.4 /tmp/mybin.hprof_77606.0030.heap |more
Using local file envoy_1.4.
Using local file /tmp/mybin.hprof_77606.0030.heap.
Total: 0.2 MB
Stacks:

168      (0000000000458c

[2017-09-21 03:01] yacc2007 commented on #1684
[https://github.com/envoyproxy/envoy/issues/1684#issuecomment-330729929](url)

it looks like not leak, today, i see the stat is ：
**server.memory_allocated: 5717232
server.memory_heap_size: 18874368**

I will use the old version(./envoy  version: 0dfe36a1e3f17ace9c85561f1e25084f3a98ec58/Clean/RELEASE) retry and check if it leak.

[2017-09-21 03:41] yacc2007 commented on #1684
heap profile's  pdf file
[2.pdf](https://github.com/envoyproxy/envoy/files/1319900/2.pdf)

[2017-09-21 17:23] objectiser opened #1711 "RFC: Update the tracing docs to better explain options available to service developers"
When using the Zipkin tracer, the [documentation](https://envoyproxy.github.io/envoy/intro/arch_overview/tracing.html#overview) currently indicates that five (B3) header properties need to be manually propagated by the application to enable end to end tracing to work.

In actual fact, regardless of whether using Zipkin or LightStep, the only header property that needs to be propagated is `x-ot-spa

[2017-09-21 17:25] objectiser commented on #1711
cc @fabolive @adriancole

[2017-09-21 17:37] mattklein123 commented on #1711
cc @rshriram @bhs @goaway @RomanDzhabarov

In general, I would love to do a pass on the tracing docs and making them more clear across the features supported for every tracer, and then have specific docs for the currently supported ones (Zipkin and LS). Anything we can do here to simplify/clarify sounds great to me.

[2017-09-21 17:39] mattklein123 commented on #1684
@yacc2007 I'm not see any leak here. Let me know if we can close this for now or if you want to keep it open to see if the leak happens again? If the leak does happen, the differential heap profile will tell us immediately what the issue is.

[2017-09-21 18:40] rosenhouse commented on #1194
This issue came up again in the Istio community call today.  Would you be open to a contribution of this feature?

[2017-09-21 18:45] mattklein123 commented on #1194
Yes. I would like to make progress on this. I've been discussing this off and on with various people. cc @PiotrSikora @myidpt

@PiotrSikora What is currently plan for key delivery on your end? Ultimately I think we want to support dynamic reload via KDS API and also probably via watching FS file.

[2017-09-21 18:47] rosenhouse commented on #1194
Yes, the FS watch is specifically what we were interested in.

[2017-09-21 18:48] mattklein123 commented on #1194
FS watch is unlikely to be part of KDS API. I think it would be a direct addition to Listener/Cluster TLS context. @PiotrSikora can advise.

[2017-09-21 19:03] #1162 closed

[2017-09-21 19:31] #1364 closed

[2017-09-21 20:50] PiotrSikora commented on #1194
I've been thinking about KDS (and cert rotation in general) this week. I'll write up a doc and share it either tomorrow or early next week, but it basically boils down to KDS pushing named `TlsCertificate` ([data-plane-api/api/tls_context.proto#L36](https://github.com/envoyproxy/data-plane-api/blob/9be6aff6da46e024af56cce20cb5d5d3184f19c5/api/tls_context.proto#L36)), and LDS/KDS being able to refe

[2017-09-21 21:01] rosenhouse commented on #1194
@PiotrSikora I see something above ([link](https://github.com/envoyproxy/envoy/issues/1194#issuecomment-320770070)) about

That should address the race-condition concern, no?

[2017-09-21 21:04] #1695 closed

[2017-09-21 21:08] PiotrSikora commented on #1194
Yes, there is no race condition if everything is inlined in the proto.

[2017-09-21 21:09] mattklein123 commented on #1194
I think there are a few things we should ultimately support because I know people will want them:

1) What we have today (just static file reference, load once).
2) Inline (per @rosenhouse)
3) KDS polling with hot swapping
4) FS watch (to workaround race conditions we could potentially watch a directory and require a symlink swap like we do for runtime).

Not all of these have to be done at same t

[2017-09-21 22:34] shalako commented on #1194
@mattklein123 We can create a new issue for FS watch of rolling certs, for which this issue was originally created.

[2017-09-21 22:35] qiwzhang opened #1718 "LDN to support loading huge filter config data separately."
Some filters may need to use huge config data.  For example, grpc-json transcoder filter (https://envoyproxy.github.io/envoy/configuration/http_filters/grpc_json_transcoder_filter.html), needs to use a huge descriptor data.

This config data could not be read from file if LDS is used since LDS could not use file.  It is not good idea to embed these huge config data in the LDS payload either.  1) I

[2017-09-21 22:36] qiwzhang commented on #1718
@lizan @kyessenov what do you think?

[2017-09-21 22:57] ggreenway commented on #1159
I can work on this in the near future.  @dnoe have you started on this yet?

[2017-09-21 23:00] mattklein123 commented on #1159
@ggreenway I don't think anyone is working on this right now. Would really love this feature. We could use it at Lyft but I haven't gotten around to it. I will assign it over to you if you have time.

[2017-09-21 23:04] ggreenway commented on #1159
Sounds good.  I have an implementation already, but it doesn't allow any configuration of the log format.  This has been good enough for me so far because there's not that much to log in the tcp proxy, so logging everything was fine.  However, I expect others will require different formats, even if the content is mostly the same, so I'll see if that's feasible without taking too long or getting to

[2017-09-22 01:08] adriancole commented on #1711
x-ot-span-context is not a standard (defacto or otherwise) header. I would suggest against implying we should proliferate use of this. For example, some use B3 because appliances already permit the headers (or other systems use it). That's certainly not the case with x-ot-span-context

[2017-09-22 01:13] lizan commented on #1718
I'm not sure if it is worth to maintain this complexity.

For gRPC transcoder, the descriptor is not that huge, for example, https://github.com/envoyproxy/envoy/blob/master/test/proto/bookstore.proto generates 10KB descriptor while the proto source itself is 4.4KB. Make gRPC transcoder to take inline protobuf descriptor from LDS, and/or support gRPC reflection is the right way for the transcoder.

[2017-09-22 01:57] linsun opened #1719 "Testing istio route rules with envoy side car and didn't work for the first 10+ refreshes"
my Istio route rule started with all traffic goes to bookinfo review-v1.  Then I applied 50% traffic goes to bookinfo review-v3, e.g. `istioctl replace -f route-rule-reviews-50-v3.yaml`.

The new rules are like below:

[code]

What I noticed is that I hit at least 10 times on the browser, however, all traffic goes to the reviews v1.  I posted this in our #pilot channel and started some discussion

[2017-09-22 02:04] ldemailly commented on #1719
@rshriram mentioned the implementation (pointers welcome to confirm) is basically based on comparing streamID with the requested weights

if instead a lookup tables was made according to the weights (for instance for 15% v1, 30% v2, 55% v3 you fill an array of 100 pointers with 15 v1., 30 v2, 55 v3 and then shuffle the array (once) then use the array with Id%100 you get O(1) and the expected user

[2017-09-22 02:18] mattklein123 commented on #1719
I'm not exactly sure what we are talking about here. The weighted selection is based on randomness: https://github.com/envoyproxy/envoy/blob/master/source/common/router/config_impl.cc#L315

There is a gotcha here. For performance reasons, stream_id is sometimes random and sometimes sequential and is currently based on usesRuntime(): https://github.com/envoyproxy/envoy/blob/master/source/common/rou

[2017-09-22 02:19] mattklein123 commented on #1718
I don't have any conceptual objection to this, but I agree with @lizan that it will be a substantial amount of work.

[2017-09-22 02:21] mattklein123 commented on #1711
From my perspective I like an option that only requires a single header to be propagated. Personally I would just support both and clearly document what is possible. If people in general want to remove x-ot-span-context from Zipkin tracer that's also fine with me.

[2017-09-22 02:22] mattklein123 commented on #1159
@ggreenway FWIW my plan was to reuse most of the code in the existing HTTP log formatter. Not all fields apply of course, but I think with some refactoring it shouldn't be too hard to reuse.

[2017-09-22 02:30] yacc2007 commented on #1684
**I think current master envoy may be fix this problem**, it runs 2 days, and the memory grows not obvious.

At the same time, i run other service with **envoy 1.3, but it looks like leak?** please see the following heap profile file, thank you!
[7.pdf](https://github.com/envoyproxy/envoy/files/1323282/7.pdf)

[2017-09-22 02:34] mattklein123 commented on #1684
It's possible there was an issue in 1.3, but I'm not going to spend time investigating so will close this out. Please reopen and we will absolutely look into the problem if you see an issue on current master.

[2017-09-22 02:34] #1684 closed

[2017-09-22 02:54] yacc2007 commented on #1684
ok, thanks!

[2017-09-22 05:13] adriancole commented on #1711
I think a single header that would be used by multiple vendors is yet to
come albeit in progress (https://github.com/TraceContext/tracecontext-spec)
unless i am mistaken x-ot-context is a lightstep thing. I dont know why it
would be relevant for zipkin or rather B3 compatible systems (of which
arent all zipkin) except for historical reasons in envoy.

[2017-09-22 06:28] lizan commented on #1718
@mattklein123 or @htuch Do you have a rough idea how large blob inlining into [Filter.config](https://github.com/envoyproxy/data-plane-api/blob/master/api/lds.proto#L42) will impact performance etc?

[2017-09-22 14:55] mattklein123 commented on #1718
No I don't. You would need to test. I would recommend measuring on some real use cases and see if there is an issue.

[2017-09-22 15:32] mattklein123 commented on #1711
i don't really care what the single header is called. The fact that no one has been able to pick one is all the more reason to just make it happen in Envoy and push it forward. So my vote here continues to be to support both options and clearly document. To me there is no downside of this approach.

[2017-09-22 16:34] khgandhi opened #1726 "bazel build error on custom http filter"
I am trying to build envoy with a custom http filter and i am seeing the following error:
The custom filter is based on the filter example provided here
https://github.com/envoyproxy/envoy-filter-example

[code]

To reproduce this,  you can do the following:

[code]

[code]

[code]

When i try to look at the logs for protobuf, i see it has been successfully downloaded and built:
[code]

[2017-09-22 17:58] bhs commented on #1711
In the immediate term, I agree with @mattklein123's [pragmatic] reasoning. I also agree with @adriancole in that – in the long term – we should move beyond `x-ot-span-context` towards something that's both "standard" (sic?) and general-purpose. https://github.com/opentracing/specification/issues/86 represents a few thoughts about this... my favorite personal outcome would be the header *name* (`Tr

[2017-09-22 21:47] lizan commented on #1726
```WARNING: /root/.cache/bazel/_bazel_root/98d36195a0ee79abd52c9d0cdadceb3e/external/envoy/bazel/repositories.bzl:28:9:  External dependency build failed, check above log for errors and ensure all prerequisites at https://github.com/lyft/envoy/blob/master/bazel/README.md#quick-start-bazel-build-for-developers are met.```

This is the real error, did you install all dependencies?

[2017-09-23 02:39] khgandhi commented on #1726
@lizan.. i am running the above on the envoy-build docker image, which i assume has all the external dependencies already installed which are not installed by bazel. I am seeing the following in the error message as the real error:

ERROR: error loading package '': Encountered error while reading extension file 'protobuf.bzl': no such package '@protobuf_bzl//': no such package '@envoy_deps//thirdp

[2017-09-23 06:33] adriancole commented on #1711
I feel the frustration, but yeah promoting "x-ot-span-context" because
no-one can "pick one" is disappointing. I hope once you are at a
non-frustrated moment, you could see downsides of amplifying this. If you
did want a "pick one" seems someone at lyft could participate in
trace-context simlarly to how jeff pinner did in http/2 back in the day.
You do have some means to make the reality you desir

[2017-09-23 12:46] tonulr opened #1728 "ProxyProtocol implementation does not accept all valid header formats"
Valid header formats are:
[code]
(Ref: http://www.haproxy.org/download/1.8/doc/proxy-protocol.txt p2.1.)

Currently, only the first two seem to be supported.

I ran into this issue trying to configure a Proxy V1 enabled healthcheck on Google Cloud Platform,
which uses the `PROXY UNKNOWN\r\n` format.
(Ref: https://cloud.google.com/sdk/gcloud/reference/compute/health-checks/create/https)

[2017-09-23 18:52] mattklein123 commented on #1728
@tonulr thanks for the report. If someone would like to fix this the code is here: https://github.com/envoyproxy/envoy/blob/master/source/common/network/proxy_protocol.cc

[2017-09-23 19:18] mattklein123 commented on #1711
@adriancole I'm sorry that you think that me pushing this forward is irresponsible and solely out of frustration. That's really not the case. I'm also more than happy to participate in working groups on this subject, with the caveat being that I would like to make meaningful progress which I have not seen happen so far (so yes you are right I am a little frustrated!).

In this particular case, I d

[2017-09-23 20:05] louiscryan commented on #1711
I'm pretty much with Matt on this and sympathize with his frustration around progress on alignment.  He's frustrated (and me too) not out of some desire for architectural purity but because Envoy is expected to carry a significant implementation and maintenance burden to normalize these issues for our users.

Envoy is a big hammer for projects like Istio and I want to make sure we use it wisely. U

[2017-09-24 02:08] adriancole commented on #1711
Your maintenance burden so far stems from initially making envoy out of the
box lightstep only. Later zipkin was added which is 2, the latter being
supported by far more except that there were bugs that were not prioritized
to fix until recently. I didnt realize that the two formats are
overwhelming your ability to staff the project.. I get it I am one person
and am overwhelmed often.

I have invi

[2017-09-24 02:30] adriancole commented on #1711
concretely, here's my advice:
* do not conflate lightstep's header as opentracing, as it is not
defined there but obviously easy to confuse due to its name
  * this doesn't mean remove it, just please don't propagate this
confusion to new users who are already confused
* recommend B3 as a tactical format, others are anyway and you have code for it
  * ex this format is compatible enough for jaeger

[2017-09-24 02:47] lizan commented on #1726
I tried to reproduce on my machine but it just worked with compile error in your filter:

[code]

The dependency failure may caused by OOM since bazel failed to retrieve the output.
[code]

[2017-09-24 03:37] khgandhi commented on #1726
I tried it on a different computer and it worked as well and went through after i fixed the compilation error. Thanks

[2017-09-24 03:37] #1726 closed

[2017-09-24 06:33] bhs commented on #1711
It's odd that we're getting into the weeds of retry budgets/etc when we lack even a standard header name or a standard format that supports ids of different lengths (since different Tracers presently *use* ids of different lengths).

I would argue for something like https://github.com/TraceContext/tracecontext-spec/pull/19, followed by support within Envoy for same, followed by work to standardize

[2017-09-24 06:41] adriancole commented on #1711
The point is that there has been cries for a single header to carry all
propagated context. I think that is an invalid expectation. Not trying to
thrash on this topic.

[2017-09-24 16:12] htuch commented on #1718
Yeah, +1 on making this feature data driven, i.e. let's see where we have issues before adding the complexity.  I'm open to exploring design changes here, but we need the complexity to be justified by need.

[2017-09-24 16:17] htuch commented on #1194
One thing worth considering is how we could reuse existing Subscription mechanisms to provide the choice between deployments of whether to inline from a server or watch the filesystem with the same API. See the multiple `Subscription` implementations in https://github.com/envoyproxy/envoy/tree/master/source/common/config - we could have the same proto inotify-watched on the filesystem or delivered

[2017-09-24 17:30] mattklein123 commented on #1711
I do not think it's an invalid expectation. To me it's pretty straightforward. I agree with @bhs that it's time to start making progress here and that "the perfect is the enemy of the good."

From my perspective as long as the header format is versioned in some way we can start with something and iterate later. (At minimum versioning could be some version bits. It could also be using something lik

[2017-09-24 21:45] bhs commented on #1711
@mattklein123

Sounds good to me. And I agree that the actual issue here is a lot simpler than the more foundational things it's bringing up.

[2017-09-25 00:18] adriancole commented on #1711
On 25 Sep 2017 01:30, "Matt Klein" <notifications@github.com> wrote:

I think that is an invalid expectation

I do not think it's an invalid expectation. To me it's pretty
straightforward.

If one header to do all things, retries duration, deadlines, feature flags,
baggage etc is expectable and the industry will use this such that you have
one and only one header to ever propagate.. I am on board!

[2017-09-25 02:24] mattklein123 commented on #1711
baggage etc

As @bhs said I think it's premature to start talking about this (though ultimately useful). Trace propagation is the biggest pain point that I see now and we can solve that first. As long as the format is extensible we can add more things later (maybe).

headers except one from now on?

Lot's of people would like to see this happen. It will not happen overnight. If we never start maki

[2017-09-25 02:35] mattklein123 commented on #1497
Going to close this out. We can reopen if not fixed.

[2017-09-25 02:35] #1497 closed

[2017-09-25 03:38] adriancole commented on #1711
This is the point of contention, though. The effort was already scoped to
handle just trace propagation (and not try to include arbitrary fields as a
part of the same header). The expectation that one header will obviate any
need for other request-scoped fields is what I said was unrealistic, which
seems we don't actually disagree with!

If we are talking about a trace context header, then clearly

[2017-09-25 03:48] adriancole commented on #1711
agreed. it is better held elsewhere.

sure, sounds fair. Thanks for that

[2017-09-25 15:52] #1016 closed

[2017-09-25 18:22] louiscryan commented on #1711
@adriancole @bhs

given the amount of background reading to come up to date on all the issues perhaps the best next step for me is to provide review feedback on the TraceContext spec ?

If there were some cliff notes for the outstanding points of disagreement that would be helpful too. Pointers welcome

[2017-09-25 19:26] mattklein123 commented on #956
Done!

[2017-09-25 19:26] #956 closed

[2017-09-25 23:53] adriancole commented on #1711
given the amount of background reading to come up to date on all the issues
perhaps the best next step for me is to provide review feedback on the
TraceContext spec ?

Sounds great

If there were some cliff notes for the outstanding points of disagreement
that would be helpful too. Pointers welcome

Will send things your way.

[2017-09-26 00:11] mattklein123 commented on #1711
@adriancole can you send to me also. Thank you.

[2017-09-26 05:13] bndw opened #1742 "Publish release tags to Dockerhub"
It would be nice if there were tagged versions in Dockerhub for releases, in addition to the SHA tags. e.g. `lyft/envoy:v1.4.0`

[2017-09-26 15:57] #1421 closed

[2017-09-26 20:47] htuch opened #1750 "Add other Locality info, e.g. sub-zone and region into HostDescription"
Today, we only plumb upstream host zone into `HostDescription`, which limits what we can use to compute host `Locality`. Ideally we can access the full `envoy::api::v2::Locality` for the `Host` that was delivered via EDS update.

[2017-09-27 03:33] shalako opened #1752 "Upgrade websocket request when header present, otherwise do not reject"
The current websocket support appears to offer two choices:
- When route is configured with `use_websocket:true` upgrade if header is present, otherwise reject
- The spec doesn't say what the behavior is when `use_websocket:false`; are requests with the upgrade header rejected or is the header ignored and the request forwarded over http?

The behavior of Cloud Foundry's current edge proxy is:
- If

[2017-09-27 08:07] ikruglov commented on #1607
@mattklein123 thanks for the patches!

[2017-09-27 14:11] htuch opened #1754 "Adopt absl common libraries"
Google's common C++ libraries are now OSS: https://github.com/abseil/abseil-cpp. This a lightweight alternative to something like Boost which can replace existing adhoc utils such as string join/split with standard implementations.

This issue will track a proposal to:
1. Add absl as an external dependency to Envoy (it already has Bazel support).
2. Replace existing implementation of duplicate fun

[2017-09-27 18:31] mattklein123 commented on #1754
@htuch are there any API docs? I can't find any? Or should I just browse the source?

[2017-09-27 18:32] htuch commented on #1754
https://abseil.io/docs/

[2017-09-27 19:24] #1750 closed

[2017-09-27 19:58] ggreenway commented on #1752
I'll need this also, eventually.  If eventually arrives and it isn't done yet, I can help on this, but I don't have time to do it right now.

[2017-09-27 21:05] mattklein123 commented on #1754
I took a brief look through and the code looks sane and not Boost like to me so no objections from me. I have a small preference to wait until there is a thing we really want to use from here (string view sounds pretty useful, not sure what else there is), but not a big deal.

[2017-09-27 21:07] #1711 closed

[2017-09-27 21:08] ggreenway commented on #1754
I looked at some of the thread annotations, and it would allow annotating the lock-ordering I committed yesterday, and it looks like clang would warn if the order is violated, so that would be useful (https://github.com/envoyproxy/envoy/blob/c52afae2f54ebc5dddc545300d030e9d1e41349c/source/common/filesystem/filesystem_impl.h#L97)

[2017-09-27 21:08] #1422 closed

[2017-09-27 21:10] mattklein123 commented on #1754
I looked at the annotation stuff very briefly. How does that work? Does clang have pluggable annotations? Or these are annotations already implemented by clang?

[2017-09-27 21:34] ggreenway commented on #1754
There's some nifty stuff built into clang: https://clang.llvm.org/docs/ThreadSafetyAnalysis.html

abseil adds macros for using it, and has the appropriate checks for if the compiler supports the annotations.

[2017-09-27 21:39] mattklein123 commented on #1754
Cool that's pretty neat. SGTM.

[2017-09-27 22:16] ggreenway opened #1761 "Number of stats and length of stat name should be configurable"
Envoy currently hardcodes a limit of 16k individual stats, with a fixed maximum name length.  These values should be tunable.

[2017-09-27 22:22] mattklein123 commented on #1761
+1

[2017-09-27 22:27] ggreenway commented on #1761
Defaults should be settable at compile-time via .bazelrc (or similar), and overridable via CLI flag at startup.

[2017-09-27 23:25] shalako commented on #1752
@mattklein123 By adding the label `help_wanted` does that mean you approve of the proposed semantic change?

[2017-09-28 00:23] shalako opened #1762 "How to control frequency of metrics emission"
Looking at docs like: https://envoyproxy.github.io/envoy/configuration/cluster_manager/cluster_stats.html

I can't tell how often each metric is emitted. My hope is no metric is emitted on each request (as this will overwhelm aggregation and visualization systems), and that the frequency with which they are emitted is configurable, but I haven't figured out how.

If all metrics are emitted on a pe

[2017-09-28 02:40] mattklein123 commented on #1762
Please see this blog post for how stats currently work: https://medium.com/@mattklein123/envoy-stats-b65c7f363342

The stat flush interval is configurable. See: https://envoyproxy.github.io/envoy/configuration/overview/overview.html

[2017-09-28 04:27] rosenhouse opened #1764 "check_format fails on master on MacOS"
setup:

- a clean checkout of the `master` branch
- `clang-format --version` showing
[code]
- `clang --version` showing
[code]

when I run

[code]
then I see
[code]

and then with `fix` I get this diff against `master`:

[code]

If I instead run
[code]
on a clean checkout of `master`, then `check_format` succeeds.  But if I run it against what the Mac version `fix`ed (i.e. the diff above), then th

[2017-09-28 14:55] mattklein123 commented on #1764
Yeah looks like mismatch between OSX version and Linux version.

[2017-09-28 22:27] tdmackey commented on #1164
https://github.com/envoyproxy/envoy/pull/1775 adds the ability to locally build Envoy and submit the results for analysis

[2017-09-28 22:28] rshriram commented on #1752
Hi, sorry for the delay (missed this in the millions of notifications that GH sends me every day). Will comment in detail on the rationale for choosing the connection rejection behavior in an hour.

[2017-09-29 02:41] cdelguercio opened #1778 "router: per data frame timeouts"
When using gRPC streams, the connection times out after the route's timeout_ms is hit. Is the proper solution to make a route for only my streaming endpoints and to set timeout_ms to 0? Seems very hacky to me and the docs don't mention much about handling gRPC streams.

[2017-09-29 02:45] mattklein123 commented on #1778
Yeah, we don't have a great solution here today. Really the only solution right now for streams is to disable timeouts on the route. So yes, I think given the current code this is what you have to do. Ultimately, I would like to create a different type of timeout which operates at the granularity of data frames. So you can say something like: "reset if we don't get any data within X milliseconds."

[2017-09-29 02:52] cdelguercio commented on #1778
Thanks for your quick reply!

[2017-09-29 03:07] mattklein123 commented on #1778
I'm going to reopen this to track the feature request.

[2017-09-29 03:45] mattklein123 commented on #1742
Fixed thank you @bndw!

[2017-09-29 03:45] #1742 closed

[2017-09-29 11:12] jwfang opened #1780 "support verify_certificate_hash/verify_subject_alt_name config in routes"
currently *verify_certificate_hash/verify_subject_alt_name* are in global listener,
if we also support them in route, we may accomplish per-route SSL verify IMHO.

to accomplish, i guess we just can just don't do verify on SSL-handshake by leave listener/verify_* empty,
and somehow pass the SSL context down to route and do the verify there.

[2017-09-29 11:22] jwfang commented on #1780
the issue with this approach is how to generate a proper error respone for different request.

this problem doesn’t exist for listener since application level protocol has not started.

[2017-09-29 11:25] jwfang commented on #1780
if we consider verify failure in routes is abnormal, may be just close the  downstream connection is acceptable ?

[2017-09-29 15:36] mattklein123 commented on #151
@alyssawilk this is the issue I was chatting with you about. I think you want "CLS" (connection local storage). IMO it could work very much like TLS where filters at config load time allocate a slot: https://github.com/envoyproxy/envoy/blob/master/include/envoy/thread_local/thread_local.h

[2017-09-29 15:38] htuch commented on #151
Would there be any relationship with connection/request metadata? Or do we want to treat them as read-only and a distinct concept.

[2017-09-29 15:39] ggreenway commented on #1752
@rshriram if you need the current behavior, I'd say we should move the setting to a tri-state: required, allowed, and prohibited (possibly with better names than that).

[2017-09-29 15:40] htuch commented on #1780
Can you elaborate on the use case that would require SSL validation on a per-route basis? In general, SSL validation is a concept that applies somewhere between L4 and L7, but routing is performed at L7.

[2017-09-29 16:12] jwfang commented on #1780
thanks for replying.

we are trying to do s2s service authorization via mTLS, and would like to have control at method level.

[2017-09-29 16:20] mattklein123 commented on #151
We could probably put the metadata into a slot. Not sure. Needs some thinking. This is a way that filters can pass arbitrary data between.

[2017-09-29 16:23] mattklein123 commented on #1780
I don't see any particular reason that we couldn't enforce something like this on a per-HTTP route basis and then respond with 403 at HTTP layer. I would prefer this is a discrete filter if there is interest in actually doing this.

[2017-09-29 16:29] htuch commented on #1780
In the existing API, I think this makes sense in two scenarios:
1. Some routes you just don't care about doing any validation on, and some subset you do.
2. You share `RouteConfiguration` objects across listeners, and want to know which SSL cert/listener combo was used when doing the route selection.
In v2, since we'll have multiple certs, I can see this being useful on a per-route basis in genera

[2017-09-29 16:31] mattklein123 commented on #1780
Note that HTTP filters have access to connection/SSL data so this would be very easy to add in general as a filter.

[2017-09-29 20:24] htuch commented on #1761
@hennna

[2017-09-29 20:27] mattklein123 opened #1782 "remove ':' restriction in cluster names"
@hennna @htuch I need to refresh my memory of this whole situation. I will put some notes in over the weekend.

Related to https://github.com/envoyproxy/envoy/issues/1761

[2017-09-29 20:37] hennna commented on #1782
Searching through past issues I'm seeing #667 #573.

I think the proposal would be to remove the json check here: https://github.com/envoyproxy/envoy/blob/8a09d86383c3c177eddcf8b1265900769540a4aa/source/common/json/config_schemas.cc#L1350

and do a character replace here: https://github.com/envoyproxy/envoy/blob/0efa18c36d6f789562690b5053c2c4b00987979e/source/common/stats/stats_impl.cc#L35 as we d

[2017-09-29 20:40] hennna commented on #1782
To make the cluster name length variable, the stats name length must also be variable. Is the 127 character stats name a hard limit? https://github.com/envoyproxy/envoy/blob/master/source/common/stats/stats_impl.h#L29

[2017-09-29 20:43] mattklein123 commented on #1782
Making the name variable length is what is being discussed in #1761. Yes, what you have above sounds about right. We basically just need to make sure the stats themselves don't have ':' in it. (In a perfect world this would only be a statsd thing but not sure it's worth dealing with right now. I think replacing with '_' is fine). So yeah if you want to work on this part go for it.

I think @ggreen

[2017-09-29 20:47] hennna commented on #1782
Okay. I'll take this one.

[2017-09-29 20:47] jsedgwick opened #1784 "Benchmarking/load testing tools for envoy"
Hi, apologies if I missed it, but is there any sort of benchmarking and/or load testing tool for envoy? How is perf tested?

[2017-09-29 21:07] ggreenway commented on #1782
I'm halfway through making the sizes configurable.  Hopefully will have a PR up for it next week sometime.

[2017-09-30 01:00] jmillikin-stripe opened #1789 "Build fails on MacOS with Clang 9 due to _POSIX_C_SOURCE in boringssl test"
The top of boringssl/blob/master/crypto/bio/bio_test.cc contains this define:

[code]

... which breaks the Clang 9 C++ standard library:

[code]

We'll want to patch boringssl until they've shipped a fix, then upgrade the Envoy boringssl dependency pin.

[2017-09-30 01:51] mattklein123 commented on #1784
We have some tooling built by Google here: https://github.com/envoyproxy/envoy-perf

But it's still early days for anything official. We don't currently publish any numbers. For better or worse all the current tuning that I have done has been against live systems and some microbenchmarks for specific cases.

Obviously there are the usual load testing tools out there including h2load, wrk, etc.

[2017-09-30 01:52] mattklein123 commented on #1789
See https://github.com/envoyproxy/envoy/pull/1785

[2017-09-30 02:01] mattklein123 commented on #1585
Closing for now. Let's make a new issue if there is a particular feature request.

[2017-09-30 02:01] #1585 closed

[2017-09-30 03:01] jwfang commented on #1780
@mattklein123 i like the idea of seperate filter, it made the ssl auth config more explicit and seperate.

if we are going to do it in filter, does the *tls-verify* config still goes to *http_connection_manager* and we only access selected route config from the filter ?
otherwise (*tls-verify* config in filter), we may have to reduplicate the virtual-host/route selection logic in the filter.

[2017-09-30 20:49] mattklein123 commented on #1789
Fixed by https://github.com/envoyproxy/envoy/pull/1785

[2017-09-30 20:49] #1789 closed

[2017-09-30 20:53] mattklein123 commented on #1780
Yeah I'm not sure. That's a good point. The current stuff that is built just does redirection. It doesn't actually do any 403, etc. so we might be able to split it there. If we want redirection at the route level we should just build that into the existing router.

[2017-10-02 16:45] mattklein123 commented on #1761
If we want to do this, I would recommend doing it as a totally independent change from the length stuff. Given how low frequency stat allocation is from shared memory the current situation is probably not that big of a deal for most people.

[2017-10-02 17:02] ggreenway commented on #1761
I was going to benchmark filling up a somewhat big number of stats, maybe 1M or something, and see how long it takes.  That should simulate the worst likely-case, which is startup with a large configuration.  But I'm expecting that would be pretty slow: n^2 is 1 trillion operations.

But I agree that it can be done in a separate change.  Making the sizes tunable won't cause any degradation to exis

[2017-10-02 19:13] davidben commented on #1789
This is a bug in Apple's headers, not BoringSSL. The fix is this change here:
https://github.com/llvm-mirror/libcxx/commit/bcc92d75df0274b9593ebd097fcae60494e3bffc

I'm unable to reproduce it myself in Xcode. It appears they've instead hacked their pthread.h to add a `defined(__cplusplus)` to the long list of conditions where they provide `mach_port_t`. But the standalone command-line tools you're

[2017-10-02 21:12] rshriram commented on #1752
Sadly, I cannot recall why we decided to have the strict mode. But I am in favor of removing the restriction as it simplifies configuration overall (in Istio) and perhaps elsewhere as well.

[2017-10-02 22:30] htuch opened #1796 "Support multi-level locality aware routing"
Now that Envoy is aware of hierarchical locality (region, zone, sub_zone), it may be useful to be able to perform LB in a region, zone and sub_zone aware fashion. The current implementation groups these into a single flat locality identifier, so is effectively concatenating the locality names across levels.

[2017-10-03 01:55] hennna commented on #1782
Actually doing the character replacement during stats initialization alone may not be enough.  The stats name is used during lookup, caching and flushing.

https://github.com/envoyproxy/envoy/blob/master/source/common/stats/stats_impl.h#L185

https://github.com/envoyproxy/envoy/blob/63a88acb01e3fbfcb0fe129c53003cd2be713590/source/common/stats/thread_local_store.cc#L134

https://github.com/envoypro

[2017-10-03 02:14] shalako commented on #1752
Hooray! Thank you, @rshriram!0

[2017-10-03 02:29] davidben commented on #1789
This should work around it:
https://boringssl.googlesource.com/boringssl/+/63a0797ff247f13870b649c3f6239d80be202752

Hope that helps!

[2017-10-03 11:37] PiotrSikora commented on #1780
Note that in order for clients to send any certificates, server must request them during initial TLS handshake, which means that we'd need to configure listeners with `trusted_ca` (possibly ignoring result of verification) if any of the routes are going to require client certificates.

[2017-10-03 14:56] mattklein123 commented on #1782
Yeah you definitely can't just change it during init. As you point out it either has to be done at the "top" (before stat is created) or at the "bottom" (at the sink).

This problem is going to occur with any user defined name. (RDS is probably broken once @junr03 adds route specific stats if they were to include ':'). So we should probably try to fix

There are a few different ways I can think of

[2017-10-03 18:25] mattklein123 commented on #369
I think @craffert0 is going to implement this as an onboarding project as there is a place we can make use of this at Lyft and this is a generally useful feature.

@htuch @fengli79 @lizan  do you know if the proto listed in the above MD file is hosted anywhere official? Or should we copy into data-plane-api? (That seems not great).

[2017-10-03 18:27] mattklein123 commented on #1762
Closing this out. Please reopen if you have further questions.

[2017-10-03 18:27] #1762 closed

[2017-10-03 18:29] mattklein123 commented on #374
@fengli79 can we close this out now? Anything else immediate being tracked?

[2017-10-03 18:37] htuch commented on #369
https://github.com/grpc/grpc/blob/master/src/proto/grpc/health/v1/health.proto

[2017-10-03 18:43] lizan commented on #369
I believe https://github.com/grpc/grpc-proto is for proto-only purpose but looks like health.proto is not there.

[2017-10-03 18:46] akonradi opened #1798 "Hashing load balancer routes to only one host"
The hashing load balancer distributes the hosts in a cluster on a 64-bit ring. When no hash is produced by the hash policy for a route, the load balancer selects a random number as the hash. The 16 high bits of the random number are uniformly 0, because the generator only produces 48-bit values. Because the high 10 bits of the hash are the ones actually used, this results in exactly one host being

[2017-10-03 18:48] fengli79 commented on #374
Yes, we can close it. It's ready to use.
Further features can be tracked by separate issues.

[2017-10-03 18:48] #374 closed

[2017-10-03 19:21] alyssawilk commented on #1000
I have a build with have lcov "working" (horribly hackery generating HTML reports) but it currently claims we don't have coverage for a whole bunch of trailing braces despite a number of attempts to minimize code optimization.  As far I can tell is a known issue with clang and lcov and you "fix" by using coverage annotations to functionally comment out all of the optimized end braces

We could go

[2017-10-03 19:55] mattklein123 commented on #1000
@alyssawilk yeah I agree. Now that we have the ability to easily generate coverage for people as part of CI, it seems this is less urgent. Perhaps we can just leave this issues open for tracking and wait for clang/lcov/bazel to fix this properly?

[2017-10-03 20:10] alyssawilk commented on #1000
SGTM.

My horrible horrible horrible hacks documented for posterity over in https://github.com/envoyproxy/envoy/pull/1800

Basically:
*comment out all the tests that crashed coverage runs
*create a docker image with lcov installed.  I created a local one and tagged the image ID 'latest'
I suggest just adding it upstream and rolling back to avoid the extra docker hassle.
*edit bazel/envoy_build_sys

[2017-10-03 21:00] mattklein123 commented on #369
@htuch what is the best way of importing this into Envoy? Just make the repo a dependency in bazel just like we do for data-plane-api?

[2017-10-03 21:03] mattklein123 commented on #1188
Fixed via https://github.com/envoyproxy/envoy/pull/1783

[2017-10-03 21:03] #1188 closed

[2017-10-03 21:04] mattklein123 commented on #1573
Fixed via https://github.com/envoyproxy/envoy/pull/1793

[2017-10-03 21:04] #1573 closed

[2017-10-04 13:47] akonradi commented on #1296
Fixed by #1727.

[2017-10-04 14:05] alyssawilk opened #1808 "Allow inject-able Singletons for test"
As disused briefly in #1802 if we need to mock out more system calls it'd probably be worthwhile instead of plumbing the OsSysCallsImpl through all relevant class hierarchies to have it be a singleton and have the Envoy Singleton class allow injection.  Then for tests we could replace the static instance with a test-only  instance which could do custom things like mock out bind calls and it would

[2017-10-04 14:06] #1296 closed

[2017-10-04 21:46] #1782 closed

[2017-10-04 21:46] #1752 closed

[2017-10-04 22:28] mattklein123 commented on #1452
Fixed by https://github.com/envoyproxy/envoy/pull/1805

[2017-10-04 22:28] #1452 closed

[2017-10-05 02:27] bobbytables opened #1813 "Tracing sample rates"
Hi, I'm wondering if there's a configuration option that I'm missing from the docs for adding sample rates for OpenTracing headers to requests. Right now it seems all requests are sampled and thats not what we want exactly.

I've read this schema for the config file but I don't see anything related to what I'm curious about: https://github.com/envoyproxy/envoy/blob/master/source/common/json/config

[2017-10-05 13:33] moderation commented on #1196
Lightstep C++ tracer 0.4.0 released - https://github.com/lightstep/lightstep-tracer-cpp/releases/tag/v0.4.0. Envoy still using 0.36 from February 2017. /cc @tedsuo

[2017-10-05 14:53] rshriram commented on #1196
I am fine with this, as long as functionality is maintained, and the output remains consistent with what we have in Istio today. I am mostly concerned about the steps that we take today to ensure that the tags are not duplicated between client and server [some of these steps have been undone, as me and @fabolive noticed yesterday].

Put more generally, (this might be a dumb question): do all traci

[2017-10-05 14:53] rshriram commented on #1196
cc @objectiser

[2017-10-05 15:26] akonradi commented on #1798
Superseded by #1812 .

[2017-10-05 16:17] objectiser opened #1815 "tracing: Enable metadata to be specified in CLI that can be added to tracing data"
As suggested by @htuch in https://github.com/envoyproxy/data-plane-api/pull/187#discussion_r142982630 it would be useful to enable metadata to be supplied to a proxy for inclusion in reported tracing data.

The initial use case is to enable version information, associated with the cluster being managed by the proxy, to be included.

[2017-10-05 16:37] htuch commented on #1815
One suggestion; I would keep it simple to start with, and only support basic `key: <string|int|bool>` metadata to start with. Metadata is a tree of nested structures/arrays (it's basically a JSON object), so keeping it flat would simplify implementation. Later on, if folks want hierarchical keys or representation of nested values, it could be added as an additional issue.

[2017-10-05 17:49] akonradi commented on #1477
This seemed straightforward until I started looking at the already-existing-but-unrelated DNS resolver, which resolves names asynchronously. It seems like that's the right way to resolve names in general, but the code paths that would use this expect config parsing to be a synchronous affair.

[2017-10-05 17:57] rnburn opened #1816 "docker_build.sh fails with unexpected compiler version error"
When I run these steps:
[code]
I get the error:
[code]
For reference, this is the expected version from [build_container_ubuntu.sh](https://github.com/envoyproxy/envoy/blob/master/ci/build_container/build_container_ubuntu.sh#L25):
[code]

[2017-10-05 18:48] mattklein123 commented on #1813
Right now the tracing sample rate is only configurable via "runtime": https://envoyproxy.github.io/envoy/configuration/http_conn_man/runtime.html

This has been raised before and it would be a very trivial change to add config options for this. cc @rshriram @objectiser

[2017-10-05 19:30] htuch commented on #1477
I guess the question is how dynamic do we need to be? We could do resolution at config ingestion time, which would probably be fine for Google, but the general resolver scheme would probably also support this happening at bind/connect time. I'd be fine with a synchronous config time load resolution as a first step, because that's all that Google needs.

The use cases for the resolver so far have b

[2017-10-05 19:32] htuch commented on #1477
Thinking about how `onConfigUpdate()` works today, the interface is very synchronous. Would it be simpler to do the resolution at `bind` time?

[2017-10-05 19:54] akonradi commented on #1477
We could defer resolution until `bind()`, `connect()`, or `ip()` are called if they're already treated as blocking methods. A fancier implementation could even start an asynchronous request when the Instance is first created to reduce the amount of time spent blocking, but that might be overkill.

[2017-10-05 20:09] rochdev commented on #95
SNI support is scheduled for Istio 0.3 (end of November) but is blocked by this. Will support in Envoy land before then?

[2017-10-05 20:47] mattklein123 commented on #95
@PiotrSikora can you potentially update us on progress/timelines? Thank you.

[2017-10-05 20:53] PiotrSikora commented on #95
@rochdev yeah, I'm actively working on it... next week at the latest.

[2017-10-05 21:45] akonradi commented on #1477
After talking with @htuch in person, this is going to stay completely synchronous for now - no remote lookups, no network access. The calling code could be modified to support asynchronous lookups, but it would require significant changes and a lot more callbacks sprinkled around.

[2017-10-05 22:26] EwanValentine opened #1819 "Getting started example not working"
Hi there,

I've ran the following Dockerfile

[code]

With the following config...

[code]
I then run...
[code]

But I'm getting a no response when I run `$ curl localhost:8080`.

Cheers in advance!

[2017-10-05 22:34] EwanValentine commented on #1819
Sorted, needed to change `127.0.0.1` to `0.0.0.0`.

[2017-10-05 22:34] #1819 closed

[2017-10-05 22:40] rnburn commented on #1196
Hey @rshriram, not all tracing systems use the cs/sr/ss/cr fields -- LightStep, for example, doesn't have them.

 I'm not a Zipkin expert, but I believe they can controlled in Zipkin via OpenTracing by specifying the [span.kind tag](https://github.com/openzipkin-contrib/brave-opentracing/issues/18).

[2017-10-05 22:47] mattklein123 commented on #1477
@htuch @akonradi +1 let's keep it simple/synchronous unless we have a clear need for something else.

[2017-10-05 23:23] ldemailly opened #1820 "configurable error code when route points to unkown/invalid cluster"
Right now it returns a 404

The argument can be made for a 503 as 404 could cause the caller to consider the entry permanently deleted (cc @costinm to fill that part in - but basically imagine /calendar/meeting123 getting polled for refresh and suddenly getting a (transient) 404 during rule change, it thens disappear from the users calendar)

If it's configurable everyone is happy :-)

[2017-10-05 23:45] mattklein123 opened #1821 "outlier: destroy upstream pool connections on eject"
With HTTP/2, if the underlying TCP connection is faulty, but does not terminate, we will keep reusing the connection until we hit max streams. If the underlying infra is having issues (either due to ECMP, virtualization, etc.), making fresh connections may help. This change will track destroying all connection pool connections if we detect an outlier event.

[2017-10-06 00:20] adriancole commented on #1196
When folks ask about "if only zipkin does x" remember there are a lot of
proxies for existing systems, including jaeger, influx, google cloud,
datadog, and soon dynatrace and AWS.. all accept zipkin format. Oracle even
demod zipkin integration at javaone this year though I am unsure if they
are also a proxy. Point is there is a heck of a lot of interop, and many of
these have no opentracing altern

[2017-10-06 00:21] mattklein123 commented on #1196
All: I'm going to put it in my GH bio. We are not deleting direct Zipkin format, probably ever.

[2017-10-06 00:23] adriancole commented on #1196
Ps has anyone done a benchmark test on the implicit proposal to switch to
translators? I know the zipkin code got a lot of scrutiny wrt performance
and you cant see all of the code as it is in another repo. Do we have
integrated microbenchmarks?

[2017-10-06 00:25] mattklein123 commented on #1196
re: performance, all of the tracers need perf work. There are quite a few issues in both cases. There are not currently any integrated microbenchmarks. Would love for someone to work on this.

[2017-10-06 18:33] ggreenway opened #1824 "Performance: Allocating stats is O(n)"
Allocating a single stat is O(n) where n is the maximum number of stats that the shared memory can hold.  So allocating all of the stats takes O(n^2).

For the default value of 16k stats, this took approximately 1 second, which isn't unreasonable to pay when starting up and/or loading a large config.

When the maximum number of stats is 100k, my benchmark took approximately 2 minutes.

[2017-10-06 18:37] ggreenway commented on #1824
The likely fix for this is to create a lookup table for names and a freelist, so that allocating a single stat is O(log(n)) or O(1) (depending on hash-table vs binary-search-tree implementation).

This will be somewhat ugly because it must be implemented in shared-memory.

Probable implementation of hash-table:

* Make each RawStatData into a linked-list element by having a uint64_t prev and next,

[2017-10-06 19:46] songole commented on #779
Just came across this thread.

We are evaluating between nginx & envoy for transforming HTTP/1.x REST calls to gRPC servers on the backend with support for external auth mechanisms such as Okta. ngnix doesn't support gRPC and auth support in envoy is in the works.

Any further insights on the availability of this feature?

[2017-10-06 20:07] mattklein123 commented on #263
@danielhochman I'm calling this done. We can open individual issues as they come up for new features.

[2017-10-06 20:07] #263 closed

[2017-10-06 22:12] kflynn commented on #779
There's an open PR that I need to get tests written for, but it works. If you're interested, I can get you information about how to test with it.

[2017-10-06 22:30] #1761 closed

[2017-10-06 22:47] songole commented on #779
Definitely. Will help with our eval.

[2017-10-06 23:05] kflynn commented on #779
OK — I’ll make sure the PR is up to date and send you notes over the weekend. :)

[2017-10-06 23:18] jmillikin-stripe commented on #1816
Ubuntu updated their GCC package. https://github.com/envoyproxy/envoy/pull/1827 should fix.

[2017-10-06 23:28] mattklein123 commented on #1816
Fixed by https://github.com/envoyproxy/envoy/pull/1827

[2017-10-06 23:28] #1816 closed

[2017-10-08 14:12] unisqu opened #1828 "protocol proxy not working with varnish / not working"
protocol proxy not working with varnish / not working? i've tried making it true

can anyone pls give some example / guidance why making it true and it doesnt return anything?

[2017-10-08 20:13] rw-rs opened #1829 "Request: add Envoy to the Homebrew package manager"
For local development, it would be very useful to add Envoy to the macosx Homebrew package manager.

[2017-10-09 00:54] htuch commented on #1828
You're going to have a to provide a more detailed bug report @unisqu. In particular, we'll need to see what the underlying Envoy config, statistics and logs look like.

[2017-10-09 00:58] htuch commented on #1829
@rw-rs The core Envoy development team doesn't work on package management, we'd like the distributions themselves to own this. We definitely welcome community contributions here, perhaps you could drive this or file an issue with the Homebrew folks to add Envoy as a supported package?

[2017-10-09 00:59] htuch commented on #1829
@zuercher for OS X visibility.

[2017-10-09 02:27] unisqu commented on #1828
https://pastebin.com/p5ZsmEVH
i used a config of google proxy i've gotten online.
it's a great piece of software. everything works until you need to use the
"use_proxy_proto": true,

pls help give some idea why it's not working from here onwards.

[2017-10-09 04:17] htuch commented on #1828
Is your client correctly setting the PROXY protocol header on the connection? Also, it doesn't make much sense to be doing `logical_dns` for `lb_type` when you have resolved IPs, you probably want `static` there.

If you're trying to have your Varnish hosts see the actual client IP, you probably want them to pick up on the XFF headers rather than source IP as well.

[2017-10-09 06:25] kflynn commented on #779
@songole I lied -- I haven't created the PR yet. It's currently committed as https://github.com/datawire/envoy/tree/flynn/feature/extauth; you can grab a built Docker image from DockerHub as `dwflynn/ambassador-envoy:201710090214`.

The extauth filter is an HTTP connection filter, with a config that looks like this:

[code]

The `extauth` filter  works by taking every incoming request, stripping t

[2017-10-09 10:54] jwfang commented on #1780
sorry for the late, just back from holidays.

thanks for your help and suggestion, i did a early draft in #1830 which mimic the redirection behaviour in Router::Filter.

@PiotrSikora , from https://github.com/envoyproxy/envoy/blob/a0adb668f0cb51d7aeea2f79246209d24a10cd64/source/common/ssl/context_impl.cc#L38 it seems as long as there is *caCertFile*, *SSL_VERIFY_PEER* will be set, but not necessar

[2017-10-09 14:19] unisqu commented on #1828
I'm too new to this envoy thing. It's not easy to understand the documentation as well. Can you help with the "static" you mentioned? how should i do that? and how do i forward the XFF headers rather than the source IP too?

Please help. appreciate this. if this is done, i'll be one of the early adopter and supporter of this project.

[2017-10-09 16:24] #1798 closed

[2017-10-09 16:39] htuch commented on #1828
Sorry, I actually meant `type`, not `lb_type`. For docs here, see https://envoyproxy.github.io/envoy/intro/arch_overview/service_discovery.html and https://envoyproxy.github.io/envoy/configuration/cluster_manager/cluster.html#config-cluster-manager-cluster.

I think it would be helpful to take a step back and understand better the problem you're trying to solve. I don't know anything about Varnish

[2017-10-09 19:32] rshriram opened #1833 "Make xDS request timeout configurable"
Async Client uses NullRetryPolicy and the API fetcher hardcodes the upstream request timeout to 1s. This is too low in some environments, and it would be nice to make this configurable.
(https://github.com/envoyproxy/envoy/blob/master/source/common/http/rest_api_fetcher.cc#L56)

[2017-10-09 19:32] rshriram commented on #1833
please assign this to me

[2017-10-09 20:23] songole commented on #779
Thank you. I will check it out.

[2017-10-09 22:00] markschmid commented on #779
Thanks @kflynn , I will also test it in the next few days.

[2017-10-09 22:20] PiotrSikora commented on #1780
`SSL_VERIFY_FAIL_IF_NO_PEER_CERT` shouldn't be set, because it would mean that at least one of: `require_client_certificate`, `verify_certificate_hash`, `verify_subject_alt_name  ` is enforced server-wide for all routes, so existing behavior is fine.

[2017-10-10 05:48] unisqu commented on #1828
i'm running this envoy, (172.17.0.12) as a docker container forwarding "shadow traffic" to two instances of varnish of 172.17.0.2 and 172.17.0.7
not working with the use_proxy_proto. works without but shows the container ip instead of the real ip of client.
the reported ip of varnish (172.17.0.2 and 172.17.0.7) is 172.17.0.12, the ip of the docker container where envoy resides. how can i make envo

[2017-10-11 00:45] mattklein123 commented on #1828
@unisqu I'm sorry but it's very difficult to help you with the information you are providing. It almost sounds to me like you want Envoy to speak proxy proto to the backend? That is not currently supported. Can you please try to provide a lot more detail on your setup and what you are trying to accomplish?

[2017-10-11 04:00] unisqu commented on #1828
envoy is running within a docker container on the same host with ip of (172.17.0.12)
i would like to duplicate traffic on envoy to two varnish instances running on the same hosts too 172.17.0.1 and 172.17.0.2
varnish is showing the originating ip address of the http traffic to be from 172.17.0.12 instead of the client's ip address (remoteaddr)

how do i resolve this?

[2017-10-11 06:46] yancl commented on #1107
Hi, any plans for support sending spans to kafka? should I implement an adaptor service receive http requests and then send to kafka? thanks.

[2017-10-11 14:51] markschmid commented on #779
I've started getting my env ready for the testing. Currently stuck somewhere in-between:
How would I configure envoy to apply this filter to all paths e.g. `/api/*` with the exception of e.g. `/api/login`?
I've tried to with two distinct `http_connection_manager` filters in my listener for port 80, but somehow envoy crashes.
I know it's not directly related with the issue but merely general envoy

[2017-10-11 15:01] kflynn commented on #779
@markschmid The way we would do that is to configure the `extauth` _filter_ to use an external auth _service_ that simply returned 200 for `/api/login`, but did an actual auth check for other things under `/api`. Part of the point of the `extauth` filter is to have a very simple interface on the Envoy side (the external part might need arbitrarily-complex business logic, after all).

[2017-10-11 15:11] markschmid commented on #779
@kflynn Great, thanks! I'm having an external auth service in place already. I'm gonna implement the path based distinction there now.

[2017-10-11 18:18] mattklein123 commented on #1107
No one is working on this. Marking help wanted.

[2017-10-11 19:01] lizan opened #1840 "Make transport security pluggable"
Envoy hardcoded its BoringSSL implementation for transport security. It is hard to provide other protocols or implementations without modifying Envoy core code base. We have use cases and POC work to link alternative protocols internally which is based on [gRPC's Transport Security Interface](https://github.com/grpc/grpc/blob/master/src/core/tsi/transport_security_interface.h).

My proposal is to

[2017-10-11 19:22] htuch commented on #1840
@alyssawilk this will make you happy.

[2017-10-11 19:43] slimshady986 opened #1841 "Https Client in envoy"
Hello guys,

I am building a simple Decoder Filter. I need to do a **blocking** call to an **HTTPS** external endpoint to access an information an to embed the response into the incoming HTTP request header. Is there any code in envoy that can be leveraged to do this call ? If yes, can you pinpoint the code part(s) to use ?

Thanks in advance,

[2017-10-11 20:30] lizan commented on #1159
@ggreenway What is the status of this, or do you have a rough ETA?

[2017-10-11 20:34] alyssawilk commented on #1840
Indeed!  Beyond the internal use cases, it'll also be nice for QUIC (assuming QUIC-envoy integration happens before QUIC-TLS/1.3 integration is complete)  Wrappering all our non-SSL-agnostic APIs internally for QUIC was Not Fun (TM)

[2017-10-11 21:16] ggreenway commented on #1159
Sorry, I meant to work on this when I claimed it but haven't started yet, but it's nearing the top of my priority queue.  I hope to start on it next week or the week after.

[2017-10-11 23:43] PiotrSikora opened #1843 "SNI-based routing without TLS termination"
Pre-read TLS ClientHello and extract requested SNI, which then can be used for routing, blocked on #95.

cc @louiscryan

[2017-10-12 01:14] lizan commented on #1680
@htuch Can you elaborate this? `Any` has JSON representation without binary, (it is just an JSON object with `@type`). A non-gRPC xDS can issue a JSON like that and Envoy can parse it.

[2017-10-12 02:08] mattklein123 commented on #1841
You want to use AsyncClient:
https://github.com/envoyproxy/envoy/blob/master/include/envoy/http/async_client.h

Wrapper code used in various places:
https://github.com/envoyproxy/envoy/blob/master/source/common/http/rest_api_fetcher.h

[2017-10-12 02:09] mattklein123 commented on #1840
This sounds reasonable to me. Please sync with @PiotrSikora on this also.

[2017-10-12 02:20] louiscryan commented on #1843
@rshriram FYI

Useful for end-to-end mutual TLS where traffic is routed through edge without TLS termination.

[2017-10-12 02:33] rshriram commented on #1843
Ooh.. interesting.

[2017-10-12 04:04] htuch commented on #1680
Well, let's say you want to convert from a binary proto containing `Any` to the JSON representation. You can only do this with the proto descriptor for the embedded message. Same vice-versa. With `Struct`, there is no such concern. This means you can write tools that can (de)serialize Envoy configs without having to know every single opaque filter config that might ever exist, only the well-known

[2017-10-12 04:10] htuch commented on #1843
@PiotrSikora can you elaborate for the non-Istio folks? Why is the client in this scenario presenting a ClientHelo if there is no TLS termination?

[2017-10-12 07:37] lizan commented on #1680
Theoretically I understand the examples. But I doubt it in real use cases. Since Envoy and xDS have to understand every proto messages it might encounter, so having conversions between JSON and binary there is enough. Envoy can consume both JSON configs or binaries, .

If a tool or web app want to inspect an envoy config (not simply converting binary to JSON, or vice-versa) then it would need to u

[2017-10-12 08:49] PiotrSikora commented on #1843
The idea is that the client establishes TLS connection "directly" with the backend service, without TLS termination at the proxy, i.e. Envoy is simply doing L4 proxying of TCP packets.

However, instead of making routing decisions only based on the listening and/or destination IP:port, we want to take advantage of the fact that the ClientHello (i.e. first message in the TLS handshake) is unencrypt

[2017-10-12 09:26] markschmid commented on #779
@kflynn Testing done, everything works as expected, awesome! My goal was to replace nginx with envoy for that specific `extauth` use case and I was now able to do exactly that.
Besides the `extauth` workflow per se, I've also positively tested `path_prefix ` and `allowed_headers `. Very happy, please let me know if/how I can assist further in order to get a PR asap.

[2017-10-12 13:41] htuch commented on #1680
I think I just provided one? Let's say I'm building a tool to generate Envoy configs, and I want to let users view or modify a `Listener` config. It's totally feasible to let you go in and flip a boolean or a string in an auth filter without needing to have the filter's schema available. This is just dynamic vs. static typing manifesting itself in another venue; what we're saying with `Struct` is

[2017-10-12 13:44] htuch commented on #1843
Yes, this makes sense. Our team also has a need for being able to interpret the initial TCP stream prefix when proxying to extract out additional info, we should sync about this.

[2017-10-12 17:00] louiscryan opened #1845 "Leverage HDS to implement endpoint registration when running as side-car"
In orchestrated systems like Kubernetes an endpoint is not registered as available until it passes a local health check. For folks who are using bare-metal/VMs however they have to roll this type of support themselves.

We could in theory have Envoy carry this responsibility instead. The HDS API is designed to handle health-checking remote services but there's not reason we cant use it to have Env

[2017-10-12 19:19] lizan commented on #1680
The "theoretical" part is not folks are going to build tools to manipulate the protos and make Envoy configuration easier. It is theoretical that you need dynamic typing while dealing with a static typed binary serialized photos. If they don't always have proto descriptors they can always use JSON which allows dynamic typing, and Envoy has first class support of it. Having a dynamic typed `Struct`

[2017-10-12 20:59] rshriram commented on #1845
what do we do about script based health checks?
Secondly, this would mean that we bootstrap envoy with endpoint metadata (labels, port mappings, etc.).

If I wanted health checks on multiple ports before registering my endpoint, then these health checks have to be hard coded in the initial boot strap configuration supplied with the endpoint. And since its typical for applications (java ones specif

[2017-10-12 21:20] htuch commented on #1845
@louiscryan This seems a reasonable use of HDS. What is the ask in this issue though? Are you after any HDS API changes to support this? Should we be describing a reference architecture for this in the docs somewhere? Is there a concrete implementation change we want to see? Note that HDS is not implemented today yet.

I don't quite follow the last paragraph. The way HDS works today, Envoy reaches

[2017-10-12 23:16] lizan opened #1847 "build: Unable to build with bazel native proto_library"
When we migrate https://github.com/istio/api/pull/199 to a bazel native proto_library and want to link them against bazel, without using `envoy_proto_library`, it will result link errors because envoy use custom protobuf. There is no way to workaround it.

We have options:
1. Migrate envoy build to use bazel native `proto_library`.
2. Have a easy workaround to bind external proto_library. The `pro

[2017-10-13 03:30] richardor opened #1848 "Extending Envoy for custom load balance strategy"
How to extend envoy for my own load balance strategy?
I want to proxy the clients which contains the same infomation to the special server.
thank you.

[2017-10-13 03:36] mattklein123 commented on #1845
I think we can consider this a duplicate of https://github.com/envoyproxy/envoy/issues/1533? IMO HDS can be effectively used for registration if we consider Envoy HCing a backend (or even itself if an edge node).

[2017-10-13 09:31] objectiser opened #1849 "tracing: Enable inbound request header to override tracing operation name"
I have an open PR in istio https://github.com/istio/pilot/pull/1406 that uses the Envoy decorator configuration to specify the operation name on client and server spans. It currently uses the route name by default.

However there is one problem with the current PR - if multiple route rules are defined for the same destination service (i.e. with different source service criteria), but with the same

[2017-10-13 12:37] grobinson-blockchain opened #1850 "Build error: no such package '@protobuf_bzl//'"
I get the following build error with Bazel:

    bazel build //source/exe:envoy-static
    External dependency cache directory /root/.cache/bazel/_bazel_root/4e47b77d977b209382cf04b3ae32963e/external/envoy_deps_cache_2c744dffd279d7e9e0910ce594eb4f4f
    make: Entering directory '/root/.cache/bazel/_bazel_root/4e47b77d977b209382cf04b3ae32963e/external/envoy_deps'
    Building in /root/.cache/bazel/

[2017-10-13 12:45] grobinson-blockchain commented on #1850
Sometimes, the protobuf dep passes, and I get this error:

    bazel build //source/exe:envoy-static
    External dependency cache directory /root/.cache/bazel/_bazel_root/4e47b77d977b209382cf04b3ae32963e/external/envoy_deps_cache_2c744dffd279d7e9e0910ce594eb4f4f
    make: Entering directory '/root/.cache/bazel/_bazel_root/4e47b77d977b209382cf04b3ae32963e/external/envoy_deps'
    make: '/root/.cac

[2017-10-13 13:35] grobinson-blockchain commented on #1850
Small update: The build fails with this error for tag `v1.4.0` but not for master.

[2017-10-13 13:39] htuch commented on #1847
As discussed offline, we need to eventually support some fairly heavy `.bzl` customization for the `proto_library` in order to allow proto constraints code generation via https://github.com/lyft/protoc-gen-validate. See https://github.com/lyft/protoc-gen-validate/blob/master/bazel/pgv_proto_library.bzl and https://github.com/lyft/protoc-gen-validate/blob/master/bazel/protobuf.bzl.

[2017-10-13 13:40] htuch commented on #1850
Bazel 0.6.1 will work with master. For v1.4.0, you probably want something more like 0.5.2 or 0.5.3.

[2017-10-13 13:42] akonradi commented on #1808
It would be nice to do something similar for the static factory registries as well.

[2017-10-13 14:10] akonradi opened #1851 "Consider moving HeaderMap to STL iterators"
The Http::HeaderMap interface supports iteration via callback via the `iterate()` and `iterateReverse()` methods, each of which takes a function pointer and a context and calls the function for each header in the HeaderMap. Since `iterate()` and `iterateReverse()` are implemented using C++ iterators, it might make more sense to expose these externally as it offers calling code more flexibility.

[2017-10-13 14:16] akonradi commented on #1851
Based on my very recent attempt to implement this, the simple, non-templated version would look like this:
1. define an abstract class `HeaderMap::IteratorImpl`
1. define a concrete class `HeaderMap::Iterator` (or `iterator` for consistency with the stl) that delegates to a `HeaderMap::IteratorImpl*`
1. create `HeaderMapImpl::IteratorImpl` that subclasses `HeaderMap::IteratorImpl` and delegates to

[2017-10-13 17:37] lizan commented on #1847
Took a quick look on `protoc-gen-validate`, and it doesn't look like it will conflict with native proto_library that much.

The essential problem is envoy tries to link against prebuilt protobuf runtime library, while native proto library tries to look up runtime library in different path. (for C++ its defaulted to `@com_google_protobuf_cc//:protobuf`.

I think in short term 2. will be achievable

[2017-10-13 17:46] htuch commented on #1847
I agree, I think we are fine consuming off-the-shelf protoc and libs from some single canonical source. Where we need customization is in the `protobuf.bzl` rules for invoking `protoc`. Let's make #1682 the plan-of-record (@jmilikin-stripe) and while that's being merged I'll try and surface `protoc-gen-validate` in the `data-plane-api` and `envoy` build systems for C++.

[2017-10-13 18:50] mattklein123 commented on #1848
@richardor I'm sorry I don't understand the question. Please provide a lot more detail regarding what you are after.

[2017-10-13 18:51] mattklein123 commented on #1849
This seems reasonable to me and fits with the other override headers we already support: https://envoyproxy.github.io/envoy/configuration/http_filters/router_filter.html#http-headers

Have at it.

[2017-10-13 18:52] mattklein123 commented on #1849
Note: This header should be sanitized for external requests. See how we handle other similar headers.

[2017-10-13 19:07] bndw opened #1854 "Logging: Startup messages log level"
Startup messages are currently logged at a `warning` level, but should probably be at a `debug` or `info` level.

[code]

Simply changing their level will likely hide them by default and that is probably undesirable (these messages should probably _always_ be printed).

[2017-10-13 21:35] natetarrh opened #1855 "Load balancing and persistent connections"
Hi! I looked for documentation around this and wasn't able to find anything salient.

How does Envoy behave when load balancing persistent HTTP/2 connections to an upstream cluster? Specifically, how does it handle cases where hosts are added or removed to a cluster that uses strict DNS service discovery? Will it rebalance traffic when hosts are added, or will it only balance new connections to ne

[2017-10-13 22:10] rshriram commented on #1849
To phrase this in generic way: multiple clients accessing a service through different URLs. While the server has a generic inbound listener (prefix /) that matches many URLs. The proposal here is to allow the callers to override the preconfigured decorator on the ingress listener)

[2017-10-14 01:07] mattklein123 commented on #1854
Most of these messages used to be "notice" level before spdlog removed that level and we switched them all to warn.

[2017-10-14 01:09] mattklein123 commented on #1855
I thought we had docs on this but I can't quickly find them. Will do an update at some point.

The answer is that load balancing is at the request level, not the connection level. Traffic will be rebalanced as hosts are added and removed.

[2017-10-14 03:44] richardor commented on #1848
@mattklein123
Thanks for your reply.
For example, we are developing a video meeting product with gRPC.  I want to route the clients of the same room to the same erver.
But the envoy's load balance doesnot support it. May be I can extend the http filter for grpc, I donot know.

[2017-10-14 07:05] richardor commented on #1848
@mattklein123
maybe I can use subset load balancer, verified by the room id.
Does it support grpc？
https://github.com/envoyproxy/envoy/blob/master/source/docs/subset_load_balancer.md

[2017-10-14 23:35] mattklein123 commented on #1848
Subset LB is currently under development by @zuercher. By the sounds of it, I think your best bet is probably to ring hash on  a header and stick your room ID in a header. This could be gRPC "metadata" (HTTP headers).https://envoyproxy.github.io/envoy/configuration/http_conn_man/route_config/route.html#config-http-conn-man-route-table-hash-policy

[2017-10-16 01:09] gizmochief7 opened #1861 "Provide an official ARM docker image and/or provide documentation for building on ARM"
Would it be possible to get an official Docker image of Envoy on ARM or at least some documentation on how to build it?
My team and I have tried off and on to build Envoy on ARM using the Bazel build process without any luck. Its challenging to say the least. I just saw a PR #1795 by @costinm dated a couple weeks ago based on the issue #1781 that talked about building it on ARM successfully after

[2017-10-16 04:14] ramaraochavali opened #1862 "Support additional output format in stats admin interface"
Currently `admin/stats` spits out statistics in an unstructured way. This makes it difficult to process them programmatically. Can we support some thing like `admin/stats?format=json` which outputs the same stats in json which will enable easy programmatic access.

[2017-10-16 05:38] jwfang commented on #1780
@mattklein123

i am planning to:
1. add request cert info fields to *RequestInfo*
2. duplicate *verify_certificate_hash/verify_subject_alt_name* configs in *RouteEntry*
3. copy cert info from SSL connection to *RequestInfo* in *ActiveStream::decodeHeaders*
4. check *RequestInfo* against *RouteEntry* in *Router::Filter::decodeHeaders*

is the above approach reasonable ?

[2017-10-16 08:00] unisqu opened #1863 "How do I clone traffic (shadow proxy) while still able to keep the XFF and remote client ip?"
How do I clone traffic (shadow proxy) while still able to keep the XFF and remote client ip?

Currently I'm running envoy inside a docker container (172.17.0.1) but the forwarded traffic to varnish etc always show originating IP from 172.17.0.1 instead from the end user client ip. Please help. Thanks

[2017-10-16 13:06] grobinson-blockchain opened #1864 "Envoy routes requests to service registrations with failing health checks"
While attempting to debug an issue with timeouts in Envoy I've discovered that Envoy is routing HTTP requests to services which are failing their active health checks.

## Setup

We have two VMs. Both VMs provide a `greeter` service: a simple Flask app to greet users by their name. We refer to these two `greeters` as `greeter 1` and `greeter 2`:

    from flask import Flask
    from flask import j

[2017-10-16 15:49] mattklein123 commented on #1863
The shadow feature does not alter XFF. It uses whatever has already been defined by the connection manager settings.

[2017-10-16 16:00] ramaraochavali commented on #1862
@mattklein123  Implemented this [PR](https://github.com/envoyproxy/envoy/pull/1865). Please review and let me know your comments

[2017-10-16 16:04] mattklein123 commented on #1864
See here: https://envoyproxy.github.io/envoy/intro/arch_overview/load_balancing.html?highlight=panic#panic-threshold

[2017-10-16 16:07] mattklein123 commented on #1630
Switching this to a feature request. I think Google needs this also so they might implement. cc @alyssawilk

[2017-10-16 16:08] mattklein123 commented on #1784
Closing this out for now. Please reopen if there are other questions.

[2017-10-16 16:08] #1784 closed

[2017-10-16 16:08] mattklein123 commented on #1841
Closing. Please reopen if you have further questions.

[2017-10-16 16:08] #1841 closed

[2017-10-16 16:53] mattklein123 commented on #1780
@jwfang I don't think you need to copy anything to RequestInfo. You have access to a const connection from the filter: https://github.com/envoyproxy/envoy/blob/master/include/envoy/http/filter.h#L93 (You can get the TLS connection off of that if it's a TLS connection). Then you can use properties of the TLS connection to perform various types of matching and then return 403, etc. if it doesn't mat

[2017-10-16 17:34] jwfang commented on #1780
@mattklein123

thanks, access connection directly is much cleaner.

do we have acess to the current matched *routeentry* in filter ? if so, we may keep the config in router, but do the verify logic in seperate filter.

[2017-10-16 18:05] mattklein123 commented on #1780
Yes https://github.com/envoyproxy/envoy/blob/master/include/envoy/http/filter.h#L112

A dedicated filter is better IMO if there is no technical reason not to do it.

[2017-10-16 18:56] mattklein123 opened #1866 "v2 doc tooling"
@htuch opening ticket here so we can track what we need. IMO the minimum tooling is:
1) Build RST tree for v2 docs.
2) Merge auto generated tree into static tree
3) Build docs as a single block

^ will allow cross linking between auto generated docs and arch docs and vice versa. The tooling would optimally allow auto generation of the type of JSON/YAML overviews we have now, followed by some basic

[2017-10-16 19:47] #1295 closed

[2017-10-16 20:56] mattklein123 commented on #1780
@danielhochman can you please work with @jwfang on this. This has the potential to be a general RBAC filter where we can do things based on TLS, Istio RBAC rules, etc.

[2017-10-17 12:12] htuch opened #1873 "Envoy API proto build rules via Bazel native proto support"
Bazel has _some_ support for generating protos via its inbuilt `proto_library` and `cc_proto_library` rules today (see https://docs.bazel.build/versions/master/be/protocol-buffer.html). We've so far been using the imported rules for `cc_proto_library` etc from https://github.com/google/protobuf/blob/master/protobuf.bzl, because we wanted a high degree of control over the protobuf compiler and runt

[2017-10-17 12:15] htuch commented on #1873
This is already suggested in #1847 as option 1, will close that out and continue here, as I have a bit more Envoy specific context in the issue description.

[2017-10-17 12:16] htuch commented on #1847
I think we need option 1 for a few other reasons as well, so closing this issue out and following up with the concrete tracking issue for this in #1873.

[2017-10-17 12:16] #1847 closed

[2017-10-17 13:34] htuch commented on #1873
I have a WiP moving `data-plane-api` to native Bazel and `proto_library` for C++. However, there is no Python native support. We don't really care that much about Python, but it would be good to work through support for this to see how it might work for Go and also for plugin customization.

The native Bazel rule is baked in via Java, see https://github.com/bazelbuild/bazel/tree/master/src/main/ja

[2017-10-17 16:08] tbird321 commented on #779
Is there any plan on incorporating this into the master branch... it is a very common use case.

[2017-10-17 16:40] jmillikin-stripe commented on #1873
The native `proto_library` rule is still primitive, and language-specific Protobuf libraries don't really support it well. go_rules HEAD can handle `proto_library` deps, I think. It might be worth offering multiple targets (`//api/filter:mongo_proxy` as `proto_library`, `//api/filter:mongo_proxy_cc` as `cc_proto_library`, etc) until the upstream rules have consolidated.

[2017-10-17 17:17] kflynn commented on #779
@markschmid, @tbird321, totally agreed about getting this into the base product! Here's the issue: we need to write tests for this functionality to get the PR done, and I simply haven't had bandwidth for that. ☹️ That's definitely something where more hands could help out -- if you have any interest, drop me a line at flynn@datawire.io!

[2017-10-17 17:30] htuch commented on #1873
Which languages do we want to support? If we can provide rules for C++, Java (both of these using the native Bazel), Python (custom Skylark), Go (https://github.com/bazelbuild/rules_go) for `data-plane-api`, can we call it good enough for now? I think if we can provide an example of how to do this for Python, we're basically there for anyone who wants to extend.

[2017-10-17 20:07] ggreenway commented on #1159
I'm hoping to start implementation this week.

[2017-10-17 21:25] tedsuo commented on #1196
We'll definitely be benchmarking this work, and the OT C++ API in general. Related to that, we're discussing adding key lookup interface for Carriers on Extract, to avoid iterating over all of the keys. This is the only place so far where we have seen the current API cause an implementation difference. Please have a look if you are interested: https://github.com/opentracing/opentracing-cpp/pull/25

[2017-10-17 21:56] rshriram commented on #1873
cc @kyessenov FYI

[2017-10-17 21:58] kyessenov commented on #1873
I can help out with go_rules once you move to native proto libraries.

[2017-10-18 07:13] EwanValentine opened #1887 "Issue returning a get request with gRPC -> JSON bridge"
Hi there,

I have two microservices, both exposing a gRPC server. I have an envoy front-proxy set-up, with the following config:

[code]

The first service exposes two methods, one GET, one POST. Both of those work. Then I have an almost identical second service, exposing two methods, both GET.

The first service works as expected, however the second service returns a 200, but nothing for the body

[2017-10-18 08:31] lizan commented on #1887
The route config doesn't looks correct, it should be:

[code]

route calculation happens after transcoder, so the gRPC native path in route config is fine.

I don't remember what is the behavior if two route have same prefix. Is the first one always picked @mattklein123 ?

Also, you can consolidate two transcoder filter into one, by generating a single proto descriptor contains both from multiple

[2017-10-18 08:46] EwanValentine commented on #1887
Possibly, just wondering how to do that from a practical standpoint. If you have say several microservices, each with their own protobuf definition. Do you have any suggestion on how I could merge those into one?

[2017-10-18 09:05] lizan commented on #1887
You can feed multiple proto source to one `protoc` call. You can also try cat the descriptor binaries into one file, since the `FileDescriptorSet` just has one repeated field, I didn't try this but it might just work.

Though I don't think having two filters is the real problem in your case, if it turns out to be the root cause, just file me a bug then I can fix it.

[2017-10-18 11:42] EwanValentine commented on #1887
@lizan I added those route prefixes, however the second service still hung, no response at all this time?

So I tried to merge all the protobuf files together, but because I'm importing google.api.annotations, it ends up importing this twice, thus causes a multiple import error :(

[2017-10-18 13:40] rshriram commented on #1289
can you try the weighted routing again? we removed the stream ID based load balancing.. You should now get fully random load distribution across the weighted clusters, such that the net distribution at any point obeys the weights per cluster.

[2017-10-18 15:35] mattklein123 commented on #1719
Closing out as fixed.

[2017-10-18 15:35] #1719 closed

[2017-10-18 15:54] ldemailly commented on #1719
fixed ? where/how ?

[2017-10-18 15:58] mattklein123 commented on #1719
https://github.com/envoyproxy/envoy/pull/1878

[2017-10-18 15:59] mattklein123 commented on #1887
Yes, matching is FIFO. @EwanValentine can you provide a log with "-l 1" (debug) level logging?

[2017-10-18 16:04] ldemailly commented on #1719
nice, thanks

[2017-10-18 17:24] natetarrh commented on #1855
Thanks Matt!

[2017-10-18 17:24] #1855 closed

[2017-10-18 18:00] objectiser opened #1889 "tracing: Investigate supporting header sanitization for x-envoy-decorator-operation"
Tried adding this in #1858 but it prevented the header being propagated from the egress to ingress listeners between services in the jaegertracing (and therefore probably zipkin) example.

[2017-10-18 18:26] lizan commented on #1887
@EwanValentine

Is this going through Envoy or directly to the service? With the previous route it shouldn't be through Envoy.

Providing log with debug would be very helpful, thanks.

[2017-10-18 18:52] #1849 closed

[2017-10-18 22:06] mattklein123 opened #1891 "LuaJIT tracking"
Tracking issue for landing https://github.com/envoyproxy/envoy/pull/1859 and follow ups:

- [ ] add msleep() API
- [x] clear route cache if header map is modified
- [ ] L4 filter
- [ ] cluster manager raw TCP connection API

[2017-10-18 23:08] mattklein123 commented on #1848
Closing this out as answered. Please reopen if not.

[2017-10-18 23:08] #1848 closed

[2017-10-18 23:47] EwanValentine commented on #1887
I added "-l 1" to my Dockerfile, like:
`CMD /usr/local/bin/envoy -l 1 -c /etc/envoy.json --service-cluster front-proxy`

And I'm getting...

[code]

Nothing outputted on request

[2017-10-19 00:55] mattklein123 commented on #1887
What version of envoy are you running? Please make sure you are using current master if using docker images where trace/debug messages are compiled in by default. There should be tons of messages at -l 1.

[2017-10-19 01:08] mattklein123 commented on #1518
@alyssawilk are we still tracking stuff with this? Or should we call it done for now?

[2017-10-19 06:38] PiotrSikora opened #1895 "Initial read events are ignored."
Envoy ignores initial read events. While this assumption works fine for the traditional HTTP workloads with request/response sequence, it breaks protocols in which servers can send initial data (MySQL, optimized HTTP/2 servers, etc.).

See: https://github.com/istio/proxy/issues/588

cc @ldemailly @fengli79 @louiscryan

[2017-10-19 06:41] PiotrSikora commented on #1895
cc @ldemailly @fengli79 @louiscryan

[2017-10-19 07:46] EwanValentine commented on #1887
[code]

That's my Dockerfile.

Here's all my output when I run the service and make a couple of requests...

[code]

As you can see they are both POST requests, but in Postman I'm making a GET request, and in my protobuf, I'm doing...

[code]

The first service works, the second just hangs indefinitely.

[2017-10-19 08:12] EwanValentine commented on #1887
So I fixed it, I changed my hostnames from `service_1` and `hello_1` to `service` and `hello` and ensured both docker containers had `container_name` set respectively in docker-compose. So I suspect it was a Docker/dns 'thing'. The fact they all seem to be POST requests was a red herring.

Thanks for your time and help on this! Seems it was something my end after all 😅

[2017-10-19 08:12] #1887 closed

[2017-10-19 09:50] objectiser opened #1897 "tracing: Use openapi definition for service to enhance tracing information"
As mentioned by @rshriram in https://github.com/envoyproxy/envoy/pull/1858#discussion_r145196231 it would be good to use an openapi description of the service to enhance the tracing information.

This could include:
* setting the operation name to the operationId, or if not available, the method and path template
* using any path parameters to extract the parameter values and associate them as tag

[2017-10-19 13:00] alyssawilk commented on #1518
Yeah, I have one last fix I'd like to get in.  There's still one race I was debugging but I'll ship it out for early inspection / critiques while I track that down

[2017-10-19 13:05] jwfang commented on #1780
@mattklein123 @htuch @danielhochman
create #1900 ,  early push to get your early feedback.

[2017-10-19 18:36] lmolkova opened #1904 "Zipkin tracer always sets http schema for the http.url"
https://github.com/envoyproxy/envoy/blob/22495511076a0904d5465413e706d73d82fe79f6/test/common/tracing/http_tracer_impl_test.cc#L239

For https urls, envoy reports 'http'.

While it pretty minor, it could be misleading

[2017-10-19 20:25] mattklein123 commented on #1904
@objectiser @rshriram ^

[2017-10-19 21:55] #1895 closed

[2017-10-19 22:18] mattklein123 opened #1907 "regression in circuit breaking runtime key names"
See here. https://github.com/envoyproxy/envoy/pull/1899

[2017-10-19 22:46] #1535 closed

[2017-10-19 22:55] htuch commented on #1873
Was busy this week, but I did play around a bit with Python generation a bit. This seems almost possible but hard to do with existing Bazel tech, see https://github.com/bazelbuild/bazel/issues/3935.

I think a good compromise would be to `proto_library` support, switch to this for C++ and keep the existing use of `py_proto_library` from `@com_google_protobuf`.

[2017-10-19 23:39] mattklein123 commented on #530
Closing this as fixed for now.

[2017-10-19 23:39] #530 closed

[2017-10-20 03:37] syukur91 opened #1908 "[ASK] Can envoy send grpc error code in REST response"
I have a case that when I send grpc request via REST the log said that it 200 code which mean success, but I'm not sure it's clearly success becaus when I look the grpc log it said error 401. So can envoy  send also grpc error code response?

[2017-10-20 07:41] objectiser commented on #1904
Not sure I see the issue - this is just a test which happens to use the `http` protocol value. The protocol used in the `path_prefix` matches the `x-forwarded-proto` header used in the test.

The protocol used in building the actual `http.url` tag is obtained from the [request headers](https://github.com/envoyproxy/envoy/blob/master/source/common/tracing/http_tracer_impl.cc#L38), so could be `http

[2017-10-20 16:13] mattklein123 commented on #1908
I'm sorry I don't understand the question. Can you rephrase with more detail?

[2017-10-20 16:16] mattklein123 commented on #1904
Ah thanks @objectiser. Sorry did not look at this in detail.

[2017-10-20 16:51] #1889 closed

[2017-10-20 20:32] mattklein123 commented on #1204
CNCF is going to sponsor something official here. We are also looking into setting up a bug bounty. Assigning over to @caniszczyk.

[2017-10-20 20:48] tlhunter opened #1912 "Does this situation call for SDS, CDS, or RDS Discovery?"
I have an existing discovery service which provides a giant array of information about service instances. Here's a truncated example of this list:

[code]

I'm currently building a "discovery translation" service to transform my existing data to the format required by Envoy, exposing data via the CDS `/v1/clusters` or SDS `/v1/registration` or RDS `/v1/routes` endpoints.

My goal is to create a Do

[2017-10-21 17:17] mattklein123 commented on #1912
@tlhunter there is really no "right" answer to this question. If I understand your setup, it sounds like you have a single application cluster and a potentially very simple route table, so it sounds like potentially you only need SDS. Does this help? https://envoyproxy.github.io/envoy/intro/arch_overview/dynamic_configuration.html. If not, what would make it better?

[2017-10-23 15:02] mattklein123 commented on #1862
Fixed

[2017-10-23 15:02] #1862 closed

[2017-10-23 15:14] #1873 closed

[2017-10-23 17:12] alyssawilk opened #1922 "Documentation for integration test framework"
As mentioned in #1901

[2017-10-23 19:45] htuch commented on #1413
Are we going to dump to pcap here btw?

[2017-10-23 19:58] mattklein123 commented on #1413
I haven't thought about output formats yet. I don't think we can dump explicitly to pcap since we don't have full packet data. I need to investigate different formats to see what would be the best option.

[2017-10-23 23:36] mattklein123 commented on #1866
Reminder, replace https://github.com/envoyproxy/envoy/pull/1857/files#diff-cc3bfd0cbce08a759df63ad8e2f01b5fR147 with real docs cross linking when tools are ready. cc @zuercher

[2017-10-23 23:40] zuercher opened #1927 "access log for upstream requests"
Would like the ability to log the host, outcome (response code, headers, upstream-related response flags) and timing (start time, duration) of individual requests to upstreams, particularly in the event of a retry.

I think we'd have a slight preference for a separate log file, but merging this information into the main access log is also a possibility.

[2017-10-24 00:02] mattklein123 commented on #1927
Implementing a totally new log file would be a lot easier, as it could be done directly from the router and not involve the connection manager at all. This one will require a bunch of design thought around config, reusing existing code, etc. Going to mark help wanted until someone firmly signs up for this.

[2017-10-24 00:09] mattklein123 commented on #743
@dnoe @mrice32  let's chat offline, but we are going to need this at Lyft soon. Basically I want to create a gRPC logging API with a new logging provider that writes over the network to a streaming API. I talked to @htuch briefly and I'm not sure what overlap there is (if any) with what you are doing beyond just using the same log proto.

[2017-10-24 00:12] mattklein123 commented on #1590
Closing this out for now. Please reopen if there are further questions.

[2017-10-24 00:12] #1590 closed

[2017-10-24 00:13] mattklein123 commented on #1828
Closing this out for now. Please reopen if there are further questions.

[2017-10-24 00:13] #1828 closed

[2017-10-24 00:13] mattklein123 commented on #1850
Closing as answered.

[2017-10-24 00:13] #1850 closed

[2017-10-24 00:13] mattklein123 commented on #1863
Closing as answered.

[2017-10-24 00:13] #1863 closed

[2017-10-24 00:14] mattklein123 commented on #1864
Closing as answered. Please reopen if there are further questions.

[2017-10-24 00:14] #1864 closed

[2017-10-24 00:14] mattklein123 commented on #1904
Closing as answered. Please reopen if it looks like there is an issue here.

[2017-10-24 00:14] #1904 closed

[2017-10-24 00:14] crhino opened #1928 "Connection hanging when using ssl_context"
Given an envoy running with a config.json such as:
[code]

and a upstream server such as:
[code]
a curl request to `curl -vvvk https://localhost:61001` will hang forever, generating envoy debug logs as follows:

[code]

after CTRL-C'ing the curl request, envoy logs:
[code]

I expect the curl request to complete and return `hello, envoy`.

I can make the curl request succeed by adding `-q 1` to the

[2017-10-24 04:24] htuch commented on #1866
Work started in https://github.com/envoyproxy/data-plane-api/pull/205.

[2017-10-24 12:32] surki opened #1929 "Add support for N levels of failover endpoints"
I would like to use Envoy to load balance long lived TCP connections under the following setup:
Say, I have 2 machines m1 and m2. I would like all traffic to go to m1. The traffic should go to m2 only if m1 fails (either active/passive healthcheck)  Or if it exceeds certain number of connections defined per host.

This is similar to the "first" load balancer in HAProxy: https://cbonte.github.io/ha

[2017-10-24 13:13] surki commented on #1929
So I did quick PoC to see what it would take to add this feature, here are the changes:

Envoy changes: https://github.com/envoyproxy/envoy/compare/master...surki:load_balancer_standby
Envoy-api changes: https://github.com/envoyproxy/data-plane-api/compare/master...surki:load_balancer_standby

and corresponding config file:
(it is a proxy for mysql for read only traffic, it sends read only queries

[2017-10-24 18:10] tlhunter commented on #1912
Thanks for linking me to that document. I thought I'd read all the docs but somehow missed that page.

In our case we have dozens of types of services ("clusters", in Envoy terminology, I believe) and hundreds of service instances at any point in time. Typically an individual service would know which services it needs to find ahead of time. However we'd like to build a generic envoy configuration,

[2017-10-24 18:30] mattklein123 commented on #1866
@junr03 can you please help @htuch with the conversion of examples from v1 to v2 in the repo. It's similar to the work we have to do at Lyft internally anyway.

[2017-10-24 18:52] junr03 commented on #1866
👌

[2017-10-24 18:54] mattklein123 commented on #1928
There are a couple of different issues here.

1) There is a bug where when we try to flush write on close and are still in the middle of the TLS handshake, we will hang and never finish the handshake if we need to read bytes.

2) In general the TCP proxy code has issues around immediate close and making sure all the data gets written to the other side. From upstream to downstream, we could fix the

[2017-10-24 18:56] mattklein123 commented on #1912
You will likely need to use RDS unless you do routing via header. Otherwise you will need to have dynamic route tables for the clusters.

[2017-10-24 19:04] mattklein123 opened #1930 "CDS: Support cluster update warming"
https://groups.google.com/forum/#!topic/envoy-users/jn3VJJBGoPo

[2017-10-24 19:21] mattklein123 commented on #1929
Some quick questions:

1) Why is ID needed?
2) Do we really need max connections on a per host basis? Or can it be the same for all hosts in a cluster?

[2017-10-24 19:25] tlhunter commented on #1912
I think what we'll do is have service make a request to localhost:80 where Envoy will be listening and have the application override the `Host` header.

[2017-10-24 22:14] #1279 closed

[2017-10-24 22:44] tlhunter opened #1932 "No Healthy Upstream error when health_check property omitted"
This is a bit of a follow up to #1912. I'm currently using only CDS. My CDS endpoint returns information about hundreds services. Here's a truncated result:

[code]

Note that there is no `health_check` property defined (on any entry) which should mean that health checks are disabled.

However, when I run the application, I notice two things. The first thing is that Envoy takes about 4 minutes bef

[2017-10-24 22:45] #1912 closed

[2017-10-25 00:52] lizan opened #1933 "Crash in TCP proxy with flow control"
Stack trace: https://github.com/istio/proxy/issues/593#issuecomment-338859258

It looks like when tcp_proxy successfully write buffer to downstream after once it was above watermark, then the below watermark callback calls `readDisable(false)` for upstream connection, but at that moment the upstream connection could be already closed. The default `per_connection_buffer_limit_bytes` is 1MiB so larg

[2017-10-25 03:08] mattklein123 commented on #1933
This is loosely related to https://github.com/envoyproxy/envoy/issues/1928.

@alyssawilk I can fix this quickly if you are busy with other stuff. We can chat about it tomorrow.

[2017-10-25 03:10] mattklein123 commented on #1932
A few things:

1) It sounds to me like DNS is hanging/failing at large scale.
2) You should be able to see status once Envoy boots by looking at /stats and /clusters.
3) For large CPU, it might have to do with the rate of DNS refresh and the number of DNS queries you are doing. You may have to lower the rate. See cluster settings for how to lower the DNS refresh interval. A perf profile / flame gr

[2017-10-25 03:24] mattklein123 commented on #1603
I'm going to guess this is a local docker specific issue as I haven't heard anyone else mention this. Going to close. If this is still an issue please reopen or hop into slack and we can debug.

[2017-10-25 03:24] #1603 closed

[2017-10-25 07:57] surki commented on #1929
ID: Need a way to deterministically pick up the host from first to last. Since the DNS resolving happens async for all hosts concurrently, the values populated in LoadBalancerBase::host_set_ will have random order. Any other way to achieve the order? (I need to choose hosts in the exact order specified in the json config file)

max_connections per host basis: I thought it will be more flexible sin

[2017-10-25 17:30] egoldschmidt opened #1934 "Envoy error handling causes calling grpc clients confusion"
I've been struggling with intermittent gRPC errors of the form `transport: received the unexpected content-type "text/plain"` when making calls from our Go service to a Python backend -- through a pair of Envoy instances in the "service-to-service" model. The error itself is emitted by the [header handling logic in the Go gRPC client library](https://github.com/grpc/grpc-go/blob/8214c28a62e1bd83da

[2017-10-25 17:38] mattklein123 commented on #1934
Nonsense is a matter of context.

There are many things we can do here (optionally via config):
1) Indicate to router that errors should be returned as gRPC errors (DEADLINE_EXCEEDED).
2) Auto-detect that a call is a gRPC call and return gRPC errors without any config switch.
3) Configuration over local error generation (no body, custom body, etc.)

Someone will need to work on ^. Marking help wan

[2017-10-25 17:39] mattklein123 commented on #1934
Related to https://github.com/envoyproxy/envoy/issues/1178

[2017-10-25 19:53] mattklein123 commented on #1933
I think @alyssawilk is busy with other stuff right now. I will fix this later today.

[2017-10-25 20:18] zuercher opened #1937 "hang in http2_integration_test's CookieRoutingNoCookieNoTtl"
It's somewhat difficult to reproduce outside of CI. Locally, hung copies of the test are stuck in `FakeUpstream::waitForHttpConnection(client_dispatcher, upstreams)`. Unlike the hang that @alyssawilk debugged last week, this test does invoke the client dispatcher.

In practice, when running the test repeatedly, macOS ends up with roughly 7,000 connections in the TIME_WAIT state. At that point, the

[2017-10-25 20:22] zuercher commented on #1937
To be clear, I don't think the problem in CI has to do with connections in TIME_WAIT. As far as I can tell, the entire test suite only creates about 1500 connections. It is the case that the large number of TIME_WAIT connections seems to slow down the connection rate and I surmise that if the CI host is sufficiently bogged down, integration test connections may timeout.

[2017-10-25 21:27] tlhunter commented on #1932
@mattklein123 you were right, there were largscale DNS issues. They've been resolved and the 3 minute pause has been reduced to 15 seconds.

[2017-10-25 21:27] #1932 closed

[2017-10-25 21:53] zuercher commented on #1927
I'm going to start looking at this.

At first blush, it looks like most of `Envoy::Http::AccessLog` can be reused. Some of the `RequestInfo` doesn't entirely make sense[1]. But given a `RequestInfo` and the headers from `Envoy::Router::Filter::UpstreamRequest` I think you can get what I intended. I'm not sure it makes sense to allow filters to be configured, but it seems like they'd work.

That le

[2017-10-25 21:57] ggreenway commented on #1927
FYI: I'm touching a bunch of the same stuff for tcp access logs (implementation in progress).  I'm making some of the fields Optional<> as I go.  We might end up with a big merge conflict if we're both doing this at once.

[2017-10-25 22:40] mattklein123 commented on #1927
@zuercher IMO I would just reuse all of it, including filters, etc. I see no reason to not include them as they would be generally useful. Yes I think this makes sense. I would do a PR in data-plane-api to refactor the logging messages so that they can be included in the new router protos that we have defined. When @rshriram does the work to wire that up you could then add in the new logging suppo

[2017-10-25 23:13] crhino commented on #1928
(1) is definitely more concerning, I agree.

We found this issue in a couple of automated test suites, so not a super real use case. To clarify, is (2) a timing issue related to how quickly the upstream services close their connections, or is it about upstream services not reading any data from the connection and only writing/closing?

I would be more concerned if it was a timing issue which could

[2017-10-25 23:16] zuercher commented on #1937
In my proof-of-concept I added a setConnectTimeout function to the config helper. The call site can be `#ifdef __APPLE__`. Or we could so something similar within the helper so that it's set for all tests.

Ultimately, I think this is just an example of "your CI box will always find a way to occasionally take longer to perform a task than you can possibly imagine." I think this can actually happen

[2017-10-25 23:17] mattklein123 commented on #1937
On CI I buy it, I'm just surprised you can actually repro it locally. That seems surprising to me.

[2017-10-25 23:23] mattklein123 commented on #1929
I think there is a general question here as to whether this should be a new load balancing policy, or actually built directly into the tcp_proxy code. For example, one could imagine adding the concept of a fallback cluster to tcp_proxy routing, and then having rules on when the fallback is actually used. I think @rshriram and @ggreenway had some thoughts on this. In some ways it fits a bit better

[2017-10-25 23:59] mattklein123 opened #1941 "redis: ring rehash perf"
@danielhochman has done some experimentation and with very large ring sizes rehash can take a long time (1+ seconds on a fast processor) which blocks the workers. We also use a lot of memory for the ring which we duplicate on every worker. We should consider calculating the ring on the main thread and then sharing it across all worker threads. This is a bit different from how the other load balanc

[2017-10-26 00:13] mattklein123 commented on #1928
(2) is a fundamental design issue in how the tcp_proxy filter is written. Basically, when downstream disconnects, the entire filter stack is going away. There is no way to keep the upstream connection around to wait for a flush. It's technically possible of course, but someone would need to build code to hand the connection off to a flush worker, etc. I had talked to @ggreenway about handling this

[2017-10-26 00:22] ggreenway commented on #1928
I do have a fix for upstream flushing; it's in my queue of things to make PRs for.

[2017-10-26 02:50] rshriram commented on #1929
I wish we could somehow use the max connections settings from the circuit breaker. This use case seems a bit niche, to create a special load balancer (if there are other scenarios where this bin packing style LB is needed, I would love to hear them).

Even in this use case, what would you do if you have multiple slaves? It seems that the only requirement here is to use the master after slaves are

[2017-10-26 09:18] surki commented on #1929
On 10/26/2017 04:53 AM, Matt Klein wrote:

Yes, ID is the only remaining part (we can move out or drop
max_connections, please see below). Or only if I could find another way
to deterministically get the host sorted.

That should be fine. Or probably we can drop off max_connections
altogether, it can be just a true standby load balancing (i.e., load
balance only on active/passive health check fail

[2017-10-26 10:04] surki commented on #1929
On 10/26/2017 08:20 AM, Shriram Rajagopalan wrote:

Thinking about bit more on this, probably we don't need max_connections
(please see the above reply). All I wanted is: "if m1 fails, switch over
to m2. If m2 fails switch over to m3" etc.

There can be more than 2 machines. I am okay either way: LB or some kind
of cluster fallback/tcp proxy routing. LB seemed simple enough to
implement (and it co

[2017-10-26 15:05] #1536 closed

[2017-10-26 15:35] alyssawilk commented on #1937
Yeah, I definitely buy that overloaded boxes are going to run slow.

If it were time-wait based, SO_REUSEADDR on test sockets might help.  We've
had problems on our inteneral proxy test suite where we used up all the
available ports on 127.0.0.1 (which is why I tend towards using alternate
loopback) but then it wouldn't wait out time_wait, it'd fast-fail on
failing to listen.

I think it's totally

[2017-10-26 17:19] #1518 closed

[2017-10-26 17:20] spikecurtis commented on #1780
I really like the idea of adding authorization to Envoy's data plane API.  For those who don't know me, I have been thinking a lot about the topic of authorization in distributed applications.  Where I would like for us to get to is a mechanism that is general enough to build authorization systems that support a wide variety of use cases.

The first high-level comment I have about [the current dat

[2017-10-26 17:22] spikecurtis commented on #1780
cc @lxpollitt @saumoh

[2017-10-26 17:39] mattklein123 commented on #1929
If you don't need max connections lets just drop that. Also, I just looked at the code and the hosts actually should remain ordered for static/strict_dns clusters. For strict_dns this is truly only if DNS for each "host" returns a single IP, which I'm guessing is your use case: https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/upstream_impl.cc#L483

Assuming the above is OK fo

[2017-10-26 17:49] #1933 closed

[2017-10-26 18:46] mattklein123 opened #1947 "stats: native prometheus export support"
Things that need sorting out:

- [x] Push vs. pull
- [ ] If we do native pull, Envoy will need a built-in histogram implementation. We need this for outlier detection also. The implementation I was planning on using is an HDR histogram implemented here: https://github.com/circonus-labs/libcircllhist (https://github.com/envoyproxy/envoy/issues/1965)

[2017-10-26 18:47] mattklein123 commented on #1947
Related to https://github.com/envoyproxy/data-plane-api/pull/210

[2017-10-26 18:47] mattklein123 commented on #1947
cc @mrice32

[2017-10-26 18:49] emmanuel commented on #1947
Some broad context and a few points of discussion are here: https://github.com/christian-posta/envoy-microservices-patterns/issues/2 (probably not terribly relevant).

[2017-10-26 19:03] mattklein123 commented on #1908
Closing this out. Feel free to reopen with more info.

[2017-10-26 19:03] #1908 closed

[2017-10-26 19:34] rshriram opened #1948 "Sync to data plane API master (io_bazel_rules_go)"
master in data-plane-api has some go stuff in bazel files. Its not straightforward import into Envoy. It requires copy pasting the io_bazel_rules_go into WORKSPACE or doing some stuff in the *.bzl files. I've only synced up to the non go part of the tree. Someone with bazel smarts needs to do the bazel magic to sync with master, going forward. This is an issue to track that work.

[2017-10-26 19:36] kyessenov commented on #1948
/assign @kyessenov

[2017-10-26 20:29] ggreenway commented on #1929
The more general solution is priority groups (at least that's what f5 called it).

Basically, you have multiple groups/pools of machines, and the groups are priority ordered.  So you try to pick a host from the first group; if that fails, try from the next group, etc.

To represent that in envoy, I think it makes more sense to put it in the cluster/lb side than in the tcp_proxy.  This could also b

[2017-10-26 20:59] #1922 closed

[2017-10-26 22:09] #1948 closed

[2017-10-26 22:24] mattklein123 commented on #1929
Agreed with @ggreenway that would be a nice general solution. I like (2). It's somewhat similar/related to what @zuercher did with the subset LB.

[2017-10-26 23:09] rshriram commented on #1929
You mean (1)? Using metadata is 1. You could have reserved metadata
keywords that define priority.

On Thu, Oct 26, 2017 at 6:24 PM Matt Klein <notifications@github.com> wrote:

[2017-10-27 03:16] mattklein123 commented on #1929
Yes I guess we could use metadata for (1), though this does not work with DNS which I think is going to be quite common for this. Personally I kind of like (2) which is a wrapper cluster and a wrapper LB which operate on sub-clusters.

I think there are several ways to implement this that are fine with me.

[2017-10-27 06:10] khgandhi opened #1956 "HTTP custom filter integration test does not see response came back from upstream cluster at the encodeHeaders"
I am trying to implement a custom HTTP filter in envoy which is very similar to the rate limit HTTP filter in envoy.. I am trying to write an integration test for that filter based on the ratelimit_integration_test.cc.

The custom filter has an implementation of `StreamDecodeFilter` for the filter to intercept incoming request from the downstream client and also an implementation `StreamEncodeFilt

[2017-10-27 07:31] brancz commented on #1947
Why would Envoy need to implement this itself? The [C++ lib](https://github.com/jupp0r/prometheus-cpp) for Prometheus that we promote on [prometheus.io](https://prometheus.io/docs/instrumenting/clientlibs/) seems to have histogram support.

I would encourage to improve the existing libraries instead of rolling a custom implementation for native Prometheus support.

[2017-10-27 15:49] kflynn commented on #779
Just to keep everyone in the loop: yup, still moving here. I'm currently doing a bit of cleanup to help out the folks who've so graciously offered to help with tests (thanks!), and Datawire has a guy starting in early November who'll be able to put a lot more cycles on this issue. Onward!

[2017-10-27 16:54] mattklein123 commented on #1947
I just synced up with the Prometheus team. Here is the update:

- We will go with a pull model for Prometheus stats in Envoy.
- We will start with a text endpoint to output counter and gauges only. This will take me about 2 hours so I'm just going to do this.
- Later we will need help for
  - HDR histogram support in Envoy stat store (may get done orthogonally for other reasons)
  - Output histogr

[2017-10-27 17:32] mattklein123 commented on #1780
The proposal as it stands now I think will work for multiple use cases. It's defined as a separate auth concept, which is then used as part of route lookup. This doesn't mean that needs to be done in the router filter. It will likely be implemented in its own filter. We can also build an L4 auth filter using the same set of auth primitives.

I think we can do both here. At Lyft, we have no need to

[2017-10-27 19:11] mattwoodyard commented on #151
+1 for a unified CLS and RLS design. I've implemented both internally, but with the current APIs its not the cleanest design.

[2017-10-27 19:34] spikecurtis commented on #1780
@mattklein123 can you say more about what you are imagining?  What I see of the current proposal is that while `AuthAction`s are independently defined, you can only pass them to Envoy over the RDS.

[2017-10-27 19:35] mattklein123 opened #1957 "build: push images to new envoyproxy dockerhub org"

[2017-10-27 19:37] mattklein123 commented on #1780
That's because that is our (Lyft/QQ/?) immediate need. It doesn't preclude building an L4 filter that consumes the same structures.

[2017-10-27 19:45] #1937 closed

[2017-10-27 20:51] mattklein123 commented on #1956
Sorry don't know off the top of my head. I would recommend running the test at `-l trace` and `-l debug` and following things as they go along.

[2017-10-27 23:22] spikecurtis opened #1961 "Fail to create Unix Domain Socket (UDS) cluster using CDS"
**Bug Template**

*Title*: Fail to create Unix Domain Socket (UDS) cluster using CDS

*Description*:
Attempting to create an upstream cluster that uses a Unix Domain Socket (UDS) fails when creating it over the CDS. [Envoy Docs](https://www.envoyproxy.io/envoy/configuration/cluster_manager/cluster.html#config-cluster-manager-cluster) suggest UDS should be supported.

However, I get
```[2017-10-27

[2017-10-28 01:33] mattklein123 commented on #1961
I think this should work. It's the same code for CDS and for initial load and we use UDS at Lyft. Are you specifying "static" cluster type vs. DNS? Can you provide the full cluster definition?

[2017-10-28 14:51] fabianfett commented on #1534
@bplotnick Did you find anything? I need information on how to enforce my envoy to register with my sds service. The envoy does lookups but does not register the service that I want to advertise.

[2017-10-28 15:48] spikecurtis commented on #1961
My cluster looks like this
[code]

Changing it to be `"type": "static"` seems to work.  Docs bug/bad error message?

[2017-10-28 15:55] fabianfett commented on #865
@egoldschmidt Have you found anything? How did you solve your problem?

[2017-10-28 17:54] mattklein123 commented on #1961
The docs do indicate that unix:// is only usable for "static" clusters, but perhaps it could be more clear? We could try to make the error message better also but it would take a bit of thinking on how to do that given how the code is structured. If you feel like doing a doc PR for clarity that would be appreciated.

[2017-10-28 18:09] mattklein123 commented on #1947
@lita @jmphilli the first part of this (counter/gauge output) is a really good beginner ticket so if you want to give it a go that would be great. Basically we need to do the following:

- Add a new `/stats` handler for Prometheus format here: https://github.com/envoyproxy/envoy/blob/master/source/server/http/admin.cc#L303
- Write the stats out in the following format: https://prometheus.io/docs/i

[2017-10-28 18:21] mattklein123 commented on #1477
I think this is done. Closing.

[2017-10-28 18:21] #1477 closed

[2017-10-28 18:22] mattklein123 commented on #1384
I think this is done. Closing.

[2017-10-28 18:22] #1384 closed

[2017-10-28 18:22] mattklein123 commented on #1338
This is done. Closing.

[2017-10-28 18:22] #1338 closed

[2017-10-28 18:23] mattklein123 commented on #1287
This is done. Closing.

[2017-10-28 18:23] #1287 closed

[2017-10-28 18:24] mattklein123 commented on #1286
Done. Closing.

[2017-10-28 18:24] #1286 closed

[2017-10-28 18:25] mattklein123 commented on #1284
Done.

[2017-10-28 18:25] #1284 closed

[2017-10-28 18:27] mattklein123 commented on #641
I'm calling this done. We are doing the right thing now and can clean things up as they cause actual issues.

[2017-10-28 18:27] #641 closed

[2017-10-28 19:14] timxi opened #1962 "How should I config a custom rds api url"
I want to implement a custom rds api, where should I config the rest api url? Suppose my rest api url is http://192.168.0.1/v1/routes/(string: route_config_name)/(string: service_cluster)/(string: service_node)

[2017-10-28 21:21] mattklein123 commented on #1962
Looks like you cross posted on envoy-users. someone will answer there. Please don't cross post.

[2017-10-28 21:21] #1962 closed

[2017-10-28 21:24] mattklein123 commented on #664
@dnoe @htuch anyone else, thoughts at this point on moving minimum required compiler to GCC 5+ and turning on C++14?

[2017-10-28 21:25] mattklein123 commented on #840
I think this is fixed via @jmillikin-stripe

[2017-10-28 21:25] #840 closed

[2017-10-28 21:29] mattklein123 commented on #1309
Dup of https://github.com/envoyproxy/envoy/issues/1866

[2017-10-28 21:29] #1309 closed

[2017-10-28 21:30] mattklein123 commented on #1680
Dup of https://github.com/envoyproxy/envoy/issues/1619. @rshriram is working on this.

[2017-10-28 21:36] mattklein123 commented on #1515
This is fixed in v2 via sending Node as part of every request. Closing as won't fix.

[2017-10-28 21:36] #1515 closed

[2017-10-28 21:40] mattklein123 commented on #1514
Closing this as won't fix as I haven't seen anyone else ask for this. We can reconsider if we get more requests for this feature.

[2017-10-28 21:40] #1514 closed

[2017-10-28 21:41] mattklein123 commented on #1549
I think this is fixed.

[2017-10-28 23:18] mattklein123 opened #1963 "beginner: add coverage"
Going to leave open a persistent beginner ticket for adding coverage:
https://s3.amazonaws.com/lyft-envoy/coverage/report-master/coverage.html

There are always a few missing things here and there especially regarding random error handling. If you are a beginner this is a great way to learn and do something valuable.

[2017-10-29 00:48] mattklein123 opened #1965 "stats: add built-in HDR histogram support"
Needed for:
- Stats backends that expect precomputed histograms
- Per-host latency outlier detection
- Per-host latency load balancing

[2017-10-29 07:25] brancz commented on #1947
If at all possible, `/metrics` is the default for Prometheus. It's configurable con Prometheus side, but usually when there is native Prometheus support projects adapt this convention.

Description and type information about a metric is technically optional, however it is best practice to have, as it will allow Prometheus to do certain optimizations based on the type. A description could be helpfu

[2017-10-29 19:36] jippi opened #1966 "HTTP Filter - NewRelic Request Queueing (X-Request-Start header)"
*Title*: Add support for the `X-Request-Start` header

*Description*:
This header allow NewRelic (and other similar services) to measure routing latency as part of the request duration, rather than just the time taken to process the request in the HTTP handler

It basically only require a header named `X-Request-Start` with the value of  ["${msec}"](http://nginx.org/en/docs/http/ngx_http_log_modul

[2017-10-30 01:48] mattklein123 commented on #1966
@jippi I'm sorry I don't understand what time the header is supposed to track. Can you describe in more detail? I looked at the linked documentation but it did not clear it up for me. Does it track the time in milliseconds between when the request is fully received and when the request starts being proxied to upstream?

[2017-10-30 14:29] nmittler opened #1967 "Add Runtime config API"
*Title*: *Add Runtime config API*

*Description*:
As part of some ongoing work in Istio to support Spring Boot applications using Hystrix circuit breakers, there is a desire to allow the application to override the circuit breaking configuration of it's Envoy instance.

I think to be safe, we'd want to be able to change any of Istio's circuit breaker params:

- cluster.MaxRequestsPerConnection
- c

[2017-10-30 18:50] mattklein123 commented on #1966
cc @PiotrSikora if you know off the top of your head what the nginx header variable ^ actually means.

[2017-10-30 19:45] caniszczyk commented on #992
Just to followup, I suggested we cargo cult this: https://github.com/kubernetes/community/blob/master/contributors/devel/security-release-process.md

@mattklein123 seems cool with it

[2017-10-30 22:21] mattklein123 commented on #1967
I suggest handling this via https://github.com/envoyproxy/envoy/issues/514. All of the above settings are currently configurable (or will be with a few minor alterations) via the runtime system built into Envoy. If we had an easy to use admin API which allowed you to query/set runtime keys would that satisfy what you need? Then you could hit the local API via an interceptor.

[2017-10-30 22:21] mattklein123 commented on #1907
Taking this from @htuch

[2017-10-30 23:43] nmittler commented on #1967
@mattklein123 whatever you think ... I only raised this issue because you had suggested it.

[2017-10-31 00:07] mattklein123 commented on #1967
@nmittler I'm asking if the above solution will satisfy you. :)

[2017-10-31 00:17] nmittler commented on #1967
@mattklein123 yeah AFAIK that should work

[2017-10-31 00:21] ldemailly commented on #1549
Nope, same - with bazel (0.7.0) :
[code]
can you reopen ?

[2017-10-31 00:27] PiotrSikora commented on #1966
`$msec` is UNIX time with milliseconds precision after a dot, i.e. `1509409603.723`.

[2017-10-31 03:36] #1907 closed

[2017-10-31 10:29] jippi commented on #1966
@mattklein123 the value should be when envoy starts sending the request to a cluster backend, so when the request leaves envoy and goes to the network for an application backend server.

The NewRelic APM tool will then read this value when the application SDK runs (e.g. PHP start to serve the request) and compare it to the current time, thus having a time difference for how long the request waited

[2017-10-31 15:23] SuperQ commented on #1947
:+1: for having `/metrics` be the Prometheus output path.

[2017-10-31 15:32] mattklein123 commented on #1947
Sure doing `/metrics` for the Prometheus admin path is easy enough.

[2017-10-31 15:33] mattklein123 commented on #1966
OK easy enough. Marking help wanted.

[2017-10-31 15:53] lita commented on #1947
I can update the path to be /metrics then. Right now, I have implemented to be /status?fomat= prometheus

[2017-10-31 18:51] kevintchan opened #1975 "stats: add universal tag support"
I'd like to tag all metrics exported by Envoy with a tag unique to that instance. This tag would allow me to isolate metrics to debug an instance. The tag value would be based on a command line argument (e.g. --service-node) or environment variable so that each Envoy instance could share a config file.

Thanks!

[2017-10-31 19:08] ggreenway commented on #664
I'm in favor of this change.

[2017-10-31 21:30] shalako commented on #492
Has there been any progress made on this effort? Is it in active development or open to contribution?

[2017-10-31 22:01] mattklein123 commented on #492
No one is working on this that I know of. This did come up today in the context of something that would be good to work on. This is actually a fairly complicated feature and needs some thinking.

@shalako can you provide more color on what you need here actually? Do you just need UDP -> UDP? UDP -> TCP? Should datagram boundaries be preserved? Etc.

[2017-10-31 22:42] mattklein123 commented on #1967
OK I'm going to resolve this in favor of #514 as that will solve your issue and is already open.

[2017-10-31 22:42] #1967 closed

[2017-10-31 22:43] mattklein123 commented on #1606
Retitled from: Support something like `ORIGINAL_DST` but based on the `:authority` header

[2017-10-31 22:44] mattklein123 commented on #1606
FYI unless this somehow gets picked up soon I may do this as my "holiday programming project."

[2017-10-31 23:15] nmittler commented on #1967
@mattklein123 SGTM, thanks!

[2017-11-01 05:29] khgandhi commented on #1956
@mattklein123 i was able to figure out the issue. I had not registered the encoder correctly in the filter config.

[2017-11-01 05:29] #1956 closed

[2017-11-01 10:10] jbrunclik opened #1979 "Retrying requests on Keep-Alive timeout instead of throwing HTTP 503"
## Description

When a request is sent to an upstream host just before the HTTP Keep-Alive timeout expires and the connection is closed by the upstream, Envoy returns a HTTP 503 response to the client. It is possible to overcome this by setting `retry_on` policy to `5xx`. However in this particular case I do not want to retry on any HTTP 5xx response from the upstream. I would like Envoy to only r

[2017-11-01 15:13] mattklein123 commented on #1979
Currently no, but it would be easy to add a new retry policy which only retries on upstream reset. (Right now we only have a "refused stream" reset policy).

[2017-11-01 15:45] SuperQ commented on #1947
@lita  Cool, thanks.

Typically for Prometheus, we use `Content-Type` headers, rather than URL params to adjust transport formats.  We use the text format as the fallback method.

[2017-11-01 19:11] mattklein123 commented on #1929
FYI having a long convo with @alyssawilk about this offline. I think we are potentially converging on doing (1) above (adding priority group per endpoint), but will update this ticket after some more discussion.

[2017-11-01 20:42] rosenhouse commented on #492
@shalako can keep me honest here, but I suspect our expectations are:
- preserve datagram boundaries
- UDP to UDP
- [conntrack-like behavior is probably fine](https://rlworkman.net/howtos/iptables/chunkyhtml/x1555.html).  i don't know if it is necessary to start with.

[2017-11-02 01:04] kyessenov opened #1988 "Stateless ADS push semantics"
**Issue Template**

*Title*: Push semantics in ADS/xDS

*Description*:
Seems that the aggressive EDS/RDS request behavior makes it hard to implement a stateless management server.

Currently, Envoy requests EDS aggressively. As soon as it receives a response, it makes another request. For a server that's trying to push an EDS update, this creates a lot of complexity. First, the server needs to lea

[2017-11-02 01:36] mattklein123 commented on #1988
@kyessenov I'm sorry but this is a very complicated issue and you will need to be much more specific. Can you please provide the exact sequence of events (in as much detail as possible) that is problematic.

Is the issue in ADS that Envoy collapses all of the EDS requests into a single request? E.g., First {E1}, then {E1, E2}, etc.?

Is the issue that you don't know when Envoy doesn't care about a

[2017-11-02 02:10] mattklein123 commented on #1988
@kyessenov I talked to @htuch offline and I think the concerns are basically ^ and he has a good plan to fix, but for other readers probably useful if you can provide more color.

[2017-11-02 02:26] kyessenov commented on #1988
Sorry about limited context in the question. I filed it right after chatting with @htuch. The basic premise is that we are looking to implement a management server that can safely ignore `resource_names`.  If the config server is pre-populated with some responses, then we need to push them to proxies with a fresh version. That works well for LDS/CDS since the response should have all new listeners

[2017-11-02 04:16] jinuxstyle opened #1989 "envoy clusters problem when cx_connect_fail not zero"
Envoy took a long time (sometimes nearly 1 minute) to get hosts for all upstream clusters (~30) ready via sds in my environment. I found the cx_connect_fail was not zero when the issue occurred. I suspected it may be caused by connection timeout, so I adjusted the connect_timeout_ms of sds settings from 250 ms to 2500 ms. The problem never appeared again during my test.

[code]
Although the proble

[2017-11-02 12:53] jinuxstyle commented on #1989
update: found connect_timeout in stats

$ curl xxx/stats|grep sds |grep timeout

cluster.sds_cluster.upstream_cx_connect_timeout: 15

[2017-11-02 14:24] alyssawilk commented on #1929
Really long update over here:
https://github.com/envoyproxy/envoy/pull/1980#issuecomment-341436710

tl;dr I'll rewrite 1980 to address this use case as well :-)

[2017-11-02 15:49] kmyerson opened #1990 "Add a graceful shutdown mechanism"
Add a graceful shutdown mechanism.

We would like to have a way to gracefully shutdown/lame-duck an Envoy, similar to how Envoy drains the old process' listeners during hot restart. Ideally we'd like to specify the drain time when initiating the graceful shutdown.

I discussed offline with @htuch and @mrice32 , we think it would be fairly straightforward to implement this using the existing drainL

[2017-11-02 16:24] mattklein123 commented on #1990
`/healthcheck/fail` already basically does this. Can you describe how what you want is different?

[2017-11-02 16:24] mattklein123 commented on #1989
Sounds like you are having networking problems between Envoy and the SDS server. I would take a look at that.

[2017-11-02 16:56] htuch commented on #1990
@mattklein123 it looks like `/healthcheck/fail` just marks the Envoy as unhealthy, it doesn't prevent the listener from accepting new connections does it?

[2017-11-02 17:01] mattklein123 commented on #1990
It does, and starts the draining process. (It doesn't make sense to stop accepting connections, as if your L4 LB is still sending you connections, you need to accept them). So basically it:
1) Starts sending HC failures
2) Starts drain closing connections so the server will drain

Follow this thread: https://github.com/envoyproxy/envoy/blob/master/source/server/server.cc#L151

the health check sta

[2017-11-02 18:01] kmyerson commented on #1990
Is `/healthcheck/fail` just the first step in the shutdown process at Lyft? Do you use `/quitquitquit` some amount of time after `/healthcheck/fail`? It seems like there's no indication of when the server becomes drained.

[2017-11-02 18:05] mattklein123 commented on #1990
At Lyft we just do a timed drain. Roughly our process manager does:
1) Get shutdown notice
2) /healthcheck/fail
3) Wait X time
4) Shutdown

If we want something that is self contained we could definitely build that on top of the existing functionality easily.

[2017-11-02 18:24] kmyerson commented on #1990
Thanks Matt, the process you described should work for us.

[2017-11-02 19:26] ryangardner opened #1994 "Add an option to have healthchecks not re-use connections after succeeding"
*Description*:

(discussed in slack earlier)

When sending health checks against an HTTP2 endpoint, the initial connection to a prior-knowledge http2 service first passes in the magic string followed by the http2 frames.

With the current behavior of envoy, the connection is re-used between health checks. With the way the HTTP2 protocol works, the "magic" bytes are not allowed after the first conn

[2017-11-03 00:20] mattklein123 commented on #1432
Done!

[2017-11-03 00:20] #1432 closed

[2017-11-03 00:42] rajcheval opened #1997 "google_com_proxy.json sample fails with validation error"
**Issue Template**

*Title*: *Schema validation error on google_com.json sample*

*Description*:

I was on macbook pro.

Dockerfile
FROM lyft/envoy:latest
RUN apt-get update
COPY envoy.json /etc/envoy.json
CMD /usr/local/bin/envoy -c /etc/envoy.json

Build using command
 docker build -t envoy:v3 .

docker run  -p 8080:10000 envoy:v3
[2017-11-03 00:33:44.964][7][warning][main] source/server/server.

[2017-11-03 09:21] linchunquan opened #1998 "Dynamically create cluster while the router decoding Headers"
**Issue Template**

*Title*: *Dynamically create cluster while the router decoding http headers*

*Description*:

      "routes": [{
          "timeout_ms": 0,
          "prefix": "/",
          "headers": [
             {"name": "content-type", "value": "application/grpc"}
          ],
          /**no cluster name defined here*/
      }]

Each gRPC request sent by the consumer would hold a target

[2017-11-03 16:05] mattklein123 commented on #1947
@lita FYI you can use https://github.com/envoyproxy/envoy/pull/1919 to optionally compress the output. I would do this as a follow up.

[2017-11-03 16:19] mattklein123 commented on #1990
OK closing. Let's reopen if this doesn't work out.

[2017-11-03 16:19] #1990 closed

[2017-11-03 16:53] mattklein123 commented on #1997
[code]

Are you sure the JSON is getting copied properly into wherever Envoy is running? We test these configs as part of our CI system so I'm doubtful they are broken.

[2017-11-03 17:11] mattklein123 commented on #1998
I don't think this is something we are likely to support in Envoy any time soon. It's not that it's impossible, it's more that it's a big departure from the separation of concerns between data plane and control plane that we have in Envoy today. We already support header routing, but assume that an external CDS server is providing the clusters that the Envoy needs.

I would recommend taking a look

[2017-11-03 17:13] #1927 closed

[2017-11-03 17:28] mattklein123 commented on #664
Calling this done as we just moved to C++14. C++17 won't likely happen for a while.

[2017-11-03 17:28] #664 closed

[2017-11-03 18:55] #1988 closed

[2017-11-05 13:26] rshriram commented on #1998
This is basically what we do in istio. A core tenet  of Envoy’s design is to eliminate expensive operations from the data plane, shove all the complexity into the control plane.

In istio, we watch k8s api server, and push new clusters per service and update routes accordingly. You then write route rules that match based on http header and pick the target cluster. All this gets materialized in Env

[2017-11-05 16:20] slimshady986 commented on #1841
Hello Matt, Thanks for your answer. I am trying to use the async client as suggested.
1) In order to use the client in a blocking manner as explained in my first question, I suppose  that I need to use the FactoryContext dispatcher with a _Block_ RunType  ?
2) I am trying to test it as follow but I have a segmentation fault (on the sending line) when running the server:
[code]

with

[code]
Thanks

[2017-11-06 00:59] linchunquan commented on #1998
Hi Rshriram, Istio  is really cool. However, I don't want to watch all services changes in k8s, because we have had a k8s cluster which contains more than 2000 services. In my case, I just need to check the http header which containers the target service ID. And, only when the cluster not existing in envoy’s clusters pool, then check k8s APIs and create a new one.

[2017-11-06 03:35] mattklein123 commented on #1841
@slimshady986 nothing blocks in Envoy. Everything must be async. If you are looking for a simple blocking programming model please take a look at the LuaJIT filter in https://github.com/envoyproxy/envoy/pull/1859. This will merge for alpha usage this week.

The best I can offer you for how to make a call in inline in a filter is the RL filter, but that is gRPC: https://github.com/envoyproxy/envoy/

[2017-11-06 10:03] linchunquan commented on #1998
I have tried to add codes of dynamically creating cluster in the function ConnectionManagerImpl::ActiveStream::decodeHeaders(HeaderMapPtr&& headers, bool end_stream) of
/source/common/http/conn_manager_impl.cc
[code]
Then, fetch the fresh-create cluster in the function Http::FilterHeadersStatus Filter::decodeHeaders(Http::HeaderMap& headers, bool end_stream) of /source/common/router/router.cc
[cod

[2017-11-06 13:24] rshriram commented on #1998
On Mon, Nov 6, 2017 at 5:04 AM linchunquan <notifications@github.com> wrote:

It won’t work. Envoy creates clusters during init or during CDs update.
There is a separate code path for that. And this is also pretty much
against envoys core design. Also this is just the beginning of the problem.
You have to do dns srv to resolve pods for the service (support doesn’t
exist in Envoy yet). Querying Kub

[2017-11-06 21:37] 9len opened #2002 "Add ResponseHeadersToAdd/Remove to VirtualHost and RouteAction"
Currently`ResponseHeadersToAdd/Remove` is settable on the `RouteConfiguration`. We'd like to add these fields to the `VirtualHost` and `RouteAction` as well, with the same precedence behavior as `RequestHeadersToAdd`.

@rshriram also [notes](https://envoyproxy.slack.com/archives/C78HA81DH/p1510003753000039) that it would be nice to have both `RequestHeadersToUpdate` and `ResponseHeadersToUpdate` t

[2017-11-06 21:45] zuercher commented on #2002
The existing `HeaderValueOption` protobuf message has an `append` field to control whether it appends to existing values or replaces them (the default). So I think the add/update part is already in place for request headers.

[2017-11-06 21:53] zuercher commented on #2002
(Though the append flag seems to be ignored.)

[2017-11-06 22:26] zuercher opened #2003 "API v2 HeaderValueOption append flag is ignored"
API v2 HeaderValueOption is used for modifying request and response headers in the RouteConfiguration, VirtualHosts, and RouteAction messages. The v2 documentation indicates that the default behavior is to replace headers with the given value. In practice, Envoy appends values to existing headers and the replace behavior cannot be enabled.

[HeaderValueOption definition](https://github.com/envoypr

[2017-11-06 22:31] zuercher opened #2004 "Envoy inline headers do not support appending values"
For performance reasons, the headers that Envoy uses internally are stored inline in the Http::HeaderMap implementation. Appending values is not supported for these headers. The v2 API, however, allows them to be configured for append or replace at various levels (see #2003).

Currently, requests to append values are ignored and the header value is simply replaced. It can be argued that even this

[2017-11-06 23:17] zuercher commented on #2004
N.B. The comment in `source/common/http/header_map_impl.cc`:

[code]

[2017-11-07 00:02] jmarantz commented on #1854
Hi... Was interested in trying an easy task as an intro to envoy.  This one looks like it might be appropriate.  What's the thinking on strategy here?  Make the startup messages be 'info' and have info messages visible during startup by default and and hidden afterward?  Other ideas?

[2017-11-07 01:02] cmluciano commented on #492
I’m interested in moving this forward. Are there anymore pertinent discussions that I should take a look at before starting some of the changes mentioned above?

[2017-11-07 01:07] mattklein123 commented on #1854
@jmarantz my thinking on this is:
1) Audit all messages that are warnings. Move things to info that aren't really warnings.
2) Audit all messages that are info. (There actually aren't that many I don't think). Move anything that prints regularly (every connection, on a periodic schedule, etc.) to debug.
3) Switch default log level to info.

[2017-11-07 01:09] mattklein123 commented on #492
@cmluciano I don't think anyone is actively working on this. This one probably is best served by a short design doc (1-2 pages, nothing fancy). Do you want to browse the code and then maybe we can collaborate on the doc contents? Would love to get this being worked on. FYI there is some interest from Cisco in also helping out with this but unclear on when they would have time. I think we can get s

[2017-11-07 02:11] jmarantz commented on #1854
Got it.I will scope this out. It seems simple enough but likely touches a bunch of files.  If the messages can be reasonably judged on text alone, context-free, it may be straightforward enough, and would take me on a nickel your through the code.

[2017-11-07 09:01] #1998 closed

[2017-11-07 13:13] jmarantz commented on #1854
There appear to 37 info messages and 31 warnings.  Default loglevel is established in ./exe/main.cc:45 I believe.  Looks like a good intro task.

[2017-11-07 13:28] jmarantz commented on #1854
11 references to ListenerImpl::infoLog as well.

There are a handful of info messages that appear to be startup-time only.  Leaving those as is, assuming a little startup noise is OK, but that we are trying to avoid a lot of per-connection logging.

I also found 3 instances of this:

  if (e) {
    ENVOY_LOG(warn, "cds: fetch failure: {}", e->what());
  } else {
    ENVOY_LOG(info, "cds: fetch fai

[2017-11-07 15:26] arifsetiawan opened #2006 "Return appropriate HTTP error code when using gRPC-JSON Transcoder"
**Issue Template**

*Title*: *Return appropriate HTTP error code when using gRPC-JSON Transcoder*

*Description*:

I have a .proto
[code]

And a Node.js server
[code]

Then I run Envoy with following config
[code]

Test with curl
[code]

Then with error case `("name":"Error")`
[code]

gRPC server returning error with status code 7 (PERMISSION_DENIED) but HTTP status code is 200 (OK). I expect HTTP

[2017-11-07 15:40] jevonearth commented on #492
FYIY; I'm interested in this work for the purpose of proxying SIP traffic and RTP media streams in and out of a k8s kluster. When appropriate, I'll be happy to assist with setting up some services, and doing some testing, if that's helpful to you @cmluciano & @mattklein123

[2017-11-07 15:56] yunchih opened #2007 "Cannot run tests because of wrong library path"
*Title*: Cannot run tests because of wrong library path

*Description*
I'm not able to run any test because `libgtest.a` and `libgmock.a` cannot be found by bazel.  The two static libraries were installed into `thirdparty_build/lib64`, instead of the `thirdparty_build/lib` specified in `ci/prebuilt/BUILD`.  This happens on both x86-64 Fedora 26 and ArchLinux.  The patch attached solves the issue.

[2017-11-07 16:36] cmluciano commented on #492
@mattklein123 Sounds good to me. I will take a look through the codebase and let you know when I'm ready for the doc.

@jevonearth Thanks! I will ping you when ready

[2017-11-07 17:55] mattklein123 commented on #1854
@jmarantz yup all of ^ LGTM.

[2017-11-07 17:55] mattklein123 commented on #2006
@lizan can you please take a look at this?

[2017-11-07 17:55] mattklein123 commented on #2007
@htuch @jmillikin-stripe patch ^ seems reasonable to me?

[2017-11-07 18:02] htuch commented on #2007
It seems like something we might be able to fix in https://github.com/envoyproxy/envoy/blob/master/ci/build_container/build_recipes/googletest.sh, but this would also fix it.

[2017-11-07 18:10] zuercher commented on #2003
I started working on this one, since I want this behavior for #2002.

[2017-11-07 18:19] jmillikin-stripe commented on #2007
`googletest/BUILD.bazel` exists, lets try using it directly: https://github.com/envoyproxy/envoy/pull/2009

[2017-11-07 18:28] htuch commented on #2007
Yes, much better.

[2017-11-07 18:54] jmarantz commented on #1854
Great.  I have a change which passes tests, I think, but I would like to see a server under load and measure impact on log size.  What's the best way to do that?

[2017-11-07 19:14] #2007 closed

[2017-11-07 19:18] mattklein123 commented on #1854
@jmarantz not sure, you could try running integration tests at info level potentially and see what prints. You could also try out https://github.com/envoyproxy/envoy-perf.

[2017-11-07 19:18] mattklein123 commented on #1854
(In general there should be almost no logging at info level once the server starts up and is forwarding traffic).

[2017-11-07 19:45] #1957 closed

[2017-11-07 19:54] mattklein123 commented on #1961
Fixed

[2017-11-07 19:54] #1961 closed

[2017-11-07 19:54] mattklein123 commented on #1989
Closing. Please reopen if there is more to look at it here.

[2017-11-07 19:54] #1989 closed

[2017-11-07 21:42] hagbard5235 commented on #492
Let me ask a few questions here about functional behavior that I don't see in the issue yet.

I presume we want to be able to specify:

udp://${proxyip}:${proxyport} -> udp://${proxiedToIp}:${proxiedToPort}

correct?  So a packet's headers would be transformed like this:

dstip = ${proxyIp} -> ${proxyToIp}
dstport = ${proxyPort} -> ${proxyToPort}
srcip = ${clientIp} -> ${proxyIp}
srcport = ${clien

[2017-11-07 23:32] mattklein123 commented on #492
@hagbard5235 ^ is my assumption, but part of the reason that I think we need a design doc on this one is that it's honestly not clear to me exactly what the behavior should be. For example, it's easy enough to fit UDP into Envoy filter chain semantics by raising onData() for each datagram, but what if the user tries to send a datagram that is too large for the target MTU? (Either because path MTU

[2017-11-07 23:35] hagbard5235 commented on #492
Oh good... so I wasn't the only one not seeing clarity then ;)

Sounds like there's a desire to do TCP -> UDP and UDP -> TCP proxying as well.  Does anyone have an example use case for those transitions?  I'm curious how we anticipate them being used :)

[2017-11-07 23:38] rosenhouse commented on #492
Is it ok to start with UDP -> UDP and to allow packets to fragment on the way out, if there's an MTU issue?

[2017-11-07 23:38] mattklein123 commented on #492
No idea if this is needed or not, I just want to make sure we consider it in the design and exclude with appropriate thinking. Either way the MTU mismatch issue and threading issues will need to be dealt with.

[2017-11-07 23:39] mattklein123 commented on #492
Fragging may not be supported in the environment. In v1 we can likely ignore MTU issues and just document. This leaves threading. Anyway, just want to capture all of this in the design. :)

[2017-11-07 23:46] hagbard5235 commented on #492
@mattklein123 I'm cool capturing TCP -> UDP and UDP -> TCP in the design :)  I was asking because if one has more concrete examples available it often helps in the design process :)

Question, are we doing a pure UDP proxy (ie, we make our decisions on ip proto=UDP and port) or and purely mutate ip:port fields or are we looking to look into the datagrams to make proxy decisions?

#socraticdesign ;

[2017-11-08 00:03] rshriram commented on #492
I am not sure how threading becomes an issue. For first cut, it’s basically
a dumb datagram proxy.

A more fundamental issue is the semantics. Are we going to load balance per
datagram? Seems strange. We might need to reuse the Ketama hash or the ip
hash and send packets to same destination host. Any other load balancing
algorithm seems unintuitive imo.

The cluster will have to change as well. It

[2017-11-08 00:04] hagbard5235 commented on #492
@mattklein123 One way to think about it is as a *session*, not a connection.  Define a session as (srcip, dstip, srcport, dstport) and map that to your threads.  This way of thinking likely also solves @rshriram 's point about handling LB.  A session goes to the same place.

[2017-11-08 00:08] mattklein123 commented on #492
Yes, but I don't know how this works if you don't know all your callers (which you almost never will). Some kind of pre-routing or forwarding is needed potentially in the kernel or between workers. Note again that we have this same problem in QUIC and solving it here first will be useful.

[2017-11-08 00:38] htuch opened #2015 "Filter modification of request routing"
There are various applications where we would want to be able to modify the route in an L7 filter, e.g. based on a gRPC call to an external server, decide which cluster to send the cluster to, and continue with the normal request filter pipeline. This issue will track work here. @mattklein123 for SWAG and history.

[2017-11-08 00:52] mattklein123 commented on #2015
This is a straightforward feature to add. Basically I would do the following:

Add new filter callback API `setRoute(Router::RouteConstSharedPtr)` here: https://github.com/envoyproxy/envoy/blob/master/include/envoy/http/filter.h#L118

Any future filters will see this route. If you are only going to use this from private code, this is all you need to do (+ basic tests obviously). If you want to hav

[2017-11-08 01:13] moderation commented on #1196
Lightstep 0.5.0 C++ tracer released - https://github.com/lightstep/lightstep-tracer-cpp/releases/tag/v0.5.0. Envoy still using 0.36 from February 2017. /cc @tedsuo.

I suggest we keep this issue focused on upgrading Lightstep and not about Zipkin (@mattklein123 has it in his Github bio that we are not deleting Zipkin).

[2017-11-08 01:16] mattklein123 commented on #1196
I will defer to @tedsuo on how to proceed. I think the focus is to deprecate the existing LS tracer and use the new OT one.

[2017-11-08 01:41] rnburn commented on #1196
I just put in #2017. It adds common OpenTracing instrumentation that can be shared across tracers and switches the LightStep tracer to use it.

[2017-11-08 03:04] shalako commented on #492
Evidence I have is that load balancing per datagram would suffice. I'll
will attempt to get clarifying info.

Shannon Coen
Product Manager, Cloud Foundry
Pivotal, Inc.

On Tue, Nov 7, 2017 at 4:08 PM, Matt Klein <notifications@github.com> wrote:

[2017-11-08 03:06] lizan commented on #2006
Ah yes this is in my TODO list... @mattklein123 can you label this "enhancement"?

[2017-11-08 04:51] mattklein123 commented on #492
@shalako @rosenhouse the more concrete you can get w/ initial use cases would be really helpful. Please provide as much detail as possible.

@hagbard5235 @rshriram re: datagram routing, from talking with @jpinner, starting in 3.9 there is some type of UDP reuse port option, however this doesn't actually solve our datagram routing problem. The way one would want the kernel to work is that datagrams

[2017-11-08 05:06] hagbard5235 commented on #492
@mattklein123 This:  https://lwn.net/Articles/542629/ seems to indicate that since 3.9 SO_REUSEPORT for UDP does hash on the 4-tuple.

[2017-11-08 05:14] toaler opened #2020 "8001/clusters?format=json doesn't support json response encoding"
Response format: 8001/clusters?format=json doesn't support json response encoding

*Description*:

Nope, just curl a request against 8001/clusters?format=json doesn't support json response encoding.

*Repro steps*:

curl "http://<host>:8001/clusters?format=json

Returns just a list of metric/value pairs.

[2017-11-08 05:15] mattklein123 commented on #2020
Related to https://github.com/envoyproxy/envoy/issues/1522. We would like to define all the admin outputs in proto which will allow auto JSON output.

[2017-11-08 07:37] richardor opened #2021 "How to config the ring hash min size of the cluster runtime?"
@mattklein123
refer to ： https://www.envoyproxy.io/envoy/configuration/cluster_manager/cluster_runtime
cause the default size of ring hash is 1024, I want to set it larger. how to config it?

my configuations are as follows:
  "cluster_manager": {
    "clusters": [
      {
        "name": "service1",
        "connect_timeout_ms": 250,
        "type": "strict_dns",
        "lb_type": "ring_hash",

[2017-11-08 11:20] ramaraochavali opened #2022 "Generic Cluster Definition for multiple services - Support for Service_Name_Header"
Currently if we have multiple services (say for example grpc services) to be configured for egress traffic using envoy, we need to define multiple routes ,clusters and map the route to its corresponding cluster.
This feature request is support a generic cluster as defined below.

The route definition for all the services would look like this - This configures Envoy to route all requests to a clust

[2017-11-08 14:10] rshriram commented on #492
We have had this feature in the kernel for a while haven’t we?

Anyway why should it matter much ? If we hash deterministically based on
the 4 tuple, we will always be sending to same upstream ip. We just need
this sticky capability in cluster manager. Am I missing something?

On Wed, Nov 8, 2017 at 12:06 AM Ed Warnicke <notifications@github.com>
wrote:

[2017-11-08 17:58] #1928 closed

[2017-11-08 18:27] mattklein123 commented on #492
@hagbard5235 I don't see any indication in that article that UDP packets are hashed such that a flow goes to the same thread/recv call. I can do some kernel splunking if needed but won't have time for a bit.

@rshriram the reason why it matters is because of the Envoy threading model. If we assume that there will be filters, and state, per flow/session (which will for sure happen with QUIC), we ne

[2017-11-08 18:28] mattklein123 commented on #492
@hagbard5235 I don't see any indication in that article that UDP packets are hashed such that a flow goes to the same thread/recv call. I can do some kernel splunking if needed but won't have time for a bit.

@rshriram the reason why it matters is because of the Envoy threading model. If we assume that there will be filters, and state, per flow/session (which will for sure happen with QUIC), we ne

[2017-11-08 18:49] kevintchan opened #2024 "stats: native datadog tagged metric support"
I'd like to take advantage of recently introduced tag support [Add configurable stats tags #1852](https://github.com/envoyproxy/envoy/pull/1852), but there's no sink support yet. Is it possible to extend the current statsd sink or create a new statsd sink which includes tags?

[2017-11-08 19:17] alyssawilk commented on #492
The upstream linux kernel should be routing 4 tuples consistently but I
don't recall if it's always been the case, and I have no idea if one can
consistently assume this works cross-platform.  We'll definitely want to
add some tests of the behavior earlier rather than later, and have a
warning one should not use UDP proxying on any hosts which don't pass the
tests.  It won't stop folks who have di

[2017-11-08 19:20] zuercher commented on #2002
Starting on this one too.

[2017-11-08 19:25] shalako commented on #492
@hagbard5235 Nice to run into you again.

@mattklein123 With regard to "Envoy features" I don't think we don't need anything more than proxying datagrams initially.

Is UDP similar to TCP in that a generic UDP router wouldn't be able to look up backends based on a hostname, as that data is at the application layer? If so, I assume each Route would be represented by a listener on a different port?

[2017-11-08 19:27] mattklein123 commented on #492
Right, but why do you want to use Envoy? What is it providing? Dynamic config? Health checking? Etc. Just trying to get a feel for what this will be used for. If you could provide the exact use case that would be really helpful.

[2017-11-08 19:45] shalako commented on #492
1. Edge router
Fully dynamic configuration, HTTP, HTTP/2, Websockets, TCP, UDP (CoAP, LWM2M). External clients sending data to applications running on Cloud Foundry. These Envoys will be dynamically configured via Pilot. Envoys fronted by infrastructure load balancers enabling horizontal scaling for capacity and HA. AWS, GCP, Azure, vSphere, OpenStack.

I suspect we'll be modeling CF applications

[2017-11-08 20:18] mattklein123 commented on #2024
@kevintchan the statsd protocol does not support tags, so it's impossible to add it. When speaking about tags, the stats backend you are talking to must support it. E.g., we are adding Prometheus support which supports tagging. What actual backend are you talking to?

[2017-11-08 20:19] mattklein123 commented on #2024
Sorry I see it in the title: Datadog. OK will live it open to track native Datadog support.

[2017-11-08 20:21] moderation commented on #492
We are interested in proxying UDP for protocol upgrade on untrusted networks (public cloud). We could route ICMP, NTP, LDAP, Kerberos etc. traffic over a secure TLS mesh with an egress proxy to the relevant backend systems.

[2017-11-08 20:47] mattklein123 commented on #492
@shalako yes that helps. Presumably you want load balancing? How would that work? Hash flow to one of the available backed servers I assume?

@moderation so you want UDP -> TCP?

[2017-11-08 21:35] #1821 closed

[2017-11-08 22:07] tedsuo commented on #1196
Thanks Ryan! Yes, I would like us to use lightstep behind OT, and vet the performance.

[2017-11-08 22:13] tedsuo commented on #1196
Also, while we can continue to compile tracers directly into envoy, I would encourage Envoy maintainers to consider some form of dynamic loading to allow users to install instrumentation of their choosing. There's a discussion on this issue here: https://github.com/opentracing/opentracing-cpp/issues/28

[2017-11-08 23:47] danielhochman opened #2028 "active healthchecking: add logging"
Similar to the [outlier detection log](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/outlier#ejection-event-logging), a healthchecking log would be useful for observing production behavior at more detail than stats provide.

[2017-11-09 00:13] tlhunter commented on #88
Docs moved to https://www.envoyproxy.io/envoy/operations/cli.html?highlight=base%20id#cmdoption-base-id

[2017-11-09 00:43] tlhunter opened #2029 "Add CLI flag to disable hot restart"
Hot Restart should be disable-able via a CLI argument

not currently, we could add a CLI option to disable hot restart
[4:29]
please file an issue on that

https://envoyproxy.slack.com/archives/C78M4KW76/p1510187339000151

[2017-11-09 01:03] mattklein123 commented on #858
Closing as dup of https://github.com/envoyproxy/envoy/issues/1000

[2017-11-09 01:03] #858 closed

[2017-11-09 04:30] shalako commented on #492
So far I've heard round-robin datagrams across backend hosts. I am actively
soliciting requirements.

We'd want UDP->UDP

Shannon Coen
Product Manager, Cloud Foundry
Pivotal, Inc.

On Wed, Nov 8, 2017 at 12:47 PM, Matt Klein <notifications@github.com>
wrote:

[2017-11-09 09:27] jippi commented on #2024
if prometheus tagged metrics land, then using telegraf or similar tool to scrape it out and emit it to datadog is trivial 30line config, thats how we've done it everywhere in our infra so far :)

especially since there are way more projects supporting prometheus than datadog these days :)

[2017-11-09 11:55] mumoshu opened #2031 "Send custom key-value pairs in ot-span-context to Zipkin"
**Issue Template**

*Title*: *Send custom key-value pairs in ot-span-context to Zipkin*

*Description*:
Thanks for maintaining the great project 👍

Envoy does seem to propagate ot-span-context but drops most of the key-values included in it before sending it to Zipkin.

Would it be possible to send those key-values as binary annotations of Zipkin spans?
Could I contribute it?

Context:

- [After l

[2017-11-09 14:20] surki commented on #1929
Sorry was on vacation for last week+.

@alyssawilk @mattklein123 I see that we are going to do priority grouping. Is this being worked on currently? If this is being implemented currently, do let me know if I could help in anyway (testing etc). If it is not being implemented/planned yet, I could help with the implementation as well (though it looks like it is being clubbed with larger re-factoring