[2022-06-16 16:11] ggreenway commented on #21739
In general, I'd be fine with adding support for multiple certs and selecting the correct one based on SNI. There are a few questions we'd need to sort out:

* What happens if the SNI value doesn't match the names in any of the certs, or there is no SNI? Which cert do we choose?
* What if certs have overlapping names? Is that a config-load error, or do we allow it and have some criteria for which c

[2022-06-16 16:13] ggreenway commented on #18928
@LuyaoZhong I think you're missing a chunk of work in your proposed solution: You will need a way to delay the TLS handshake until you have the cert. This will probably involve a custom handshaker, which will have the integration points with your other code that fetches/generates the cert.

[2022-06-16 16:48] ankatare commented on #19069
/no-stale

[2022-06-16 16:53] evilpapa opened #21743 "x-envoy-upstream-service-time is more longer than expected respond time"
*Title*: *x-envoy-upstream-service-time is more longer than expected respond time*

*Description*:

[code]

here we use tcpdump & wireshark trace tcp within ambassador pod, **it just cost _1ms_ as expect**.

<img width="1344" alt="截图_8a2c21ca-9083-4ba4-a166-b6f4673bd90a" src="https://user-images.githubusercontent.com/59088873/174082915-29b58344-6a1a-4a48-8ec3-44f2f160032b.png">

**but from logs be

[2022-06-16 17:17] ankatare commented on #19069
/no stalest

[2022-06-16 18:44] shashankram commented on #20113
@soulxu, which release has this fix?

[2022-06-16 18:47] shashankram commented on #20113
Seems like this is available on v1.22.0 and v1.22.2

[2022-06-16 18:54] adisuissa commented on #21726
I might be missing something here, so feel free to correct me.

I think the "main" thread in this fuzzer is essentially the "worker" thread in Envoy.
The fuzzer is single-threaded, and has a single dispatcher. Do you think the issue is that the callback isn't being delayed, or is there some assumption in the filter implementation on how the dispatcher should map the callback to a specific AsyncFil

[2022-06-16 19:40] ravenblackx commented on #21726
Ah, sorry - the thing is that a *real* dispatcher exclusively runs its callback on the main thread. So when the AsyncFileManagerThread calls dispatcher->post, the AsyncFileManagerThread should be *done* with that callback - it passed the callback to the dispatcher and goes back into its own inactive wait loop.

With the MockDispatcher, instead, when dispatcher->post is called, the AsyncFileManager

[2022-06-17 00:03] #21229 closed

[2022-06-17 00:04] soulxu commented on #20113
you are right, it is on v1.22.0, and greater than 1.22.0

[2022-06-17 00:37] #20623 closed

[2022-06-17 00:44] daixiang0 commented on #21705
Does your environment has a complex DNS setting? If so, Envoy would load all of them for potential use.

[2022-06-17 05:55] StarryVae commented on #21705
here is the DNS setting:

search it.org
nameserver 127.0.0.11
options ndots:0

if i remove the `search it.org`, Envoy will start normaly.

[2022-06-17 06:49] ramaraochavali commented on #6537
not stale

[2022-06-17 06:50] ramaraochavali commented on #6537
@alyssawilk can you please reopen this? We need this behaviour as well

[2022-06-17 07:37] LuyaoZhong commented on #21739
sure

custom validator does not have multiple certs issue, multiple certs in this feature is indentity certs used for TLS handshake, validator is to use a trusted ca to validate peer certificate.

[2022-06-17 09:30] LuyaoZhong commented on #21739
If there is no SNI, we can fallback to only RSA/ECDSA selection, this will not break existing logic.
If no certs matches the SNI, we should let the selection fail.

I think it should be a config-load error. It sounds weird that multiple certs have the same SNI.

https://github.com/envoyproxy/envoy/blob/8259b33fea720672835d5c46722f0b97dfd69470/source/extensions/transport_sockets/tls/context_impl.cc

[2022-06-17 10:17] renuka-fernando commented on #21107
We have enabled debug logs of the component "config" with command line option `--component-log-level config:debug`. Is there any other configuration that will help to identify the issue if it occurs again?

[2022-06-17 11:16] acarlson0000 opened #21755 "Unable to build v1.20.3+ on Centos 7 - Failure building wee8"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Unable to build v1.20.3+ on Centos 7 - Failure building wee8*

*Description*:
When attempting to build envoy from source on v1.20.3 or v1.20.4 (the latest 2 version

[2022-06-17 11:20] acarlson0000 commented on #21755
We would ideally like to move to the latest and greatest of Envoy - but are currently unable to build that for other reasons (however: don't want to complicate this ticket regarding this issue)

[2022-06-17 11:58] soulxu commented on #18928
Thanks! Not sure I understand correctly, Is the problem that currently each TlsCertificateConfigProvider only return one secret? Not sure if that possible to change `TlsCertificateConfigProvider ` to enable to return multiple secrets.

Actually, I'm thinking it will be great if the custom certificate provider can return the same tls certicate config (https://www.envoyproxy.io/docs/envoy/latest/api

[2022-06-17 12:20] LuyaoZhong commented on #18928
Yes, my plan is to let the cert provider returen a tls certificate config list https://github.com/envoyproxy/envoy/pull/19582#discussion_r876788500. This is not updated to the cert provider PR yet.

Control plane can not mimic the certs based on real server cert, so this must be handle in Envoy after connecting upstream.

Yes, we will allow admin/operator to set a bumping list or a list that we do

[2022-06-17 15:57] jtway commented on #288
Would upstream request time to first bytes be something the community would be open to as well? I get that this would be more effort and maybe even a follow up to leveraging response time from the upstream.

[2022-06-17 16:54] shashankram opened #21758 "When will the v1.22.2 envoy-alpine image be available on Dockerhub?"
When will the v1.22.2 envoy-alpine image be available on Dockerhub? It has been a few days since the release but I can't find the image at https://hub.docker.com/r/envoyproxy/envoy-alpine/tags.

Thanks

[2022-06-17 17:55] RyanTheOptimist commented on #21758
@mattklein123 Do you know the status of docker images?

[2022-06-17 17:57] phlax commented on #21758
hi @shashankram alpine was deprecated some time ago and has now been discontinued

i would encourage you to check out the `distroless` image instead

[2022-06-17 17:58] RyanTheOptimist commented on #21755
@phlax do you happen to have any insight here?

[2022-06-17 18:00] phlax commented on #21755
nothing immediately - @PiotrSikora may have some idea

[2022-06-17 18:11] RyanTheOptimist commented on #21736
@ggreenway This might be a bit far afield, but do you have any insight here?

[2022-06-17 18:15] RyanTheOptimist commented on #21734
@htuch do you have any thoughts here?

[2022-06-17 18:19] RyanTheOptimist commented on #21743
@alyssawilk Do you have any insight here?

[2022-06-17 18:21] RyanTheOptimist commented on #21731
@mattklein123 any thoughts on who would be good to take a look at this?

[2022-06-17 18:28] shashankram opened #21759 "Clearly document whether filter names matter"
It seems like Envoy does not care about the filter name, but uses the TypeUrl in the config to determine which filter to use.

Relevant commit:
[code]

Also discussions in the following issues seem to indicate the same:
https://github.com/envoyproxy/go-control-plane/issues/552
https://github.com/envoyproxy/go-control-plane/issues/293

However, there still exists confusion based on the wording in t

[2022-06-17 18:31] phlax commented on #21759
cc @kyessenov

@shashankram my understanding is that this is kinda slowly transitioning and the docs probably need to catch up

i would be happy to follow up or review PRs - i think the issue you raise is important

[2022-06-17 18:31] yanjunxiang-google opened #21760 "Adding an extension in dynamic forward proxy config to further process the returned address"
*Title*: Adding an extension in dynamic forward proxy config to further process the returned address

*Description*:
After DFP resolves an target and get the address[es], sometimes application may want to further process the address, for example, perform an address conversion for the IPv4 address based on certain network requirement, and return that converted address to DNS cache manager.

[option

[2022-06-17 18:32] yanjunxiang-google commented on #21760
/assign @htuch

[2022-06-17 18:35] kyessenov commented on #21759
Yes, we need to make a thorough pass to remove the clauses saying "this filter should be configured with name XXX". I want to get https://github.com/envoyproxy/envoy/pull/21707 first since it's really important to also say what type URL to use, and that was the reason.

[2022-06-17 18:35] martinezlucas98 opened #21761 "Bootstrap_extension error -- Unable to parse JSON as proto(INVALID_ARGUMENT)"
**Title**: *Bootstrap_extension error -- Unable to parse JSON as proto(INVALID_ARGUMENT)*

**Description**:
I'm trying out the bootstrap extension internal listener with it's [example config](https://www.envoyproxy.io/docs/envoy/latest/configuration/other_features/internal_listener) but it keeps throwing the following error:

[code]

Any idea why this is happening?

**My step-by-step**:
1. `bazel

[2022-06-17 18:42] kyessenov commented on #21761
The build says that it doesn't include the bootstrap extension. Mine says:
`envoy.bootstrap: envoy.bootstrap.internal_listener, envoy.bootstrap.wasm, envoy.extensions.network.socket_interface.default_socket_interface`

[2022-06-17 18:45] shashankram commented on #21759
That's a super useful change, as I have also been wondering if there is a doc for the exact same purpose.

[2022-06-17 18:46] martinezlucas98 commented on #21761
Is there a special way to include boostrap extension in my build? @kyessenov

[2022-06-17 18:46] shashankram commented on #21759
@phlax @kyessenov so starting v1.22, is it safe to assume filter names are irrelevant?

[2022-06-17 18:52] kyessenov commented on #21761
Where are you getting your build?
Extensions are allow-listed in `extensions_build_config.bzl`, so it's probably just not listed there.

[2022-06-17 18:54] kyessenov commented on #21759
@shashankram The fallback to use type_url was there for a very long time. The only concern is when they are not matching, in which case, v1.22 will use type_url instead of name (and ignore name) as the primary lookup.

[2022-06-17 18:55] kyessenov commented on #21759
This works for all _typed_ extensions which is almost everything in Envoy except few exceptions (mostly internal to Envoy and not user facing).

[2022-06-17 19:26] martinezlucas98 commented on #21761
I have `   "envoy.bootstrap.internal_listener":                "//source/extensions/bootstrap/internal_listener:config",`
in `extensions_build_config.bzl` but it's not working for me

I've built it many times (`bazel build //source/exe:envoy-static`) from *main* branch just in case but the output is still the same error

[2022-06-17 19:37] shashankram commented on #21759
What about types that are not under the extensions category? Do the filters corresponding to the names defined in https://github.com/envoyproxy/go-control-plane/blob/main/pkg/wellknown/wellknown.go need to use a well defined name?

Please document for every filter, regardless of whether is an extension or not, if it needs to be defined with a specific name.

[2022-06-17 19:39] shashankram commented on #21758
Thanks for letting me know, I wasn't aware alpine support was dropped!

[2022-06-17 19:39] kyessenov commented on #21759
Every filter is an extension, and every extension that has a protobuf type is uniquely identified by that protobuf type. The name can be anything as long as you use protobuf type for `typed_config`. Does that make sense?

[2022-06-17 19:43] shashankram commented on #21759
That makes sense, thanks.

[2022-06-17 19:46] #21758 closed

[2022-06-17 20:01] #21194 closed

[2022-06-17 20:01] #21215 closed

[2022-06-17 20:27] jlb6740 commented on #21634
Hi @daixiang0 and @PiotrSikora, an update here:

Wasmtime has the ability to support profiling jitted code using VTune or perf.
In order to do this you need to (1) build in the support using a feature flag at build time and (2) then at runtime you have to pass another flag to actually turn on the profiling.
I modified the envoy-private/bazel/external/wasmtime.BUILD file to hopefully support the bu

[2022-06-17 20:48] PiotrSikora commented on #21634
@jlb6740 you need to make this changes in Proxy-Wasm C++ Host repo (see [my previous comment](https://github.com/envoyproxy/envoy/issues/21634#issuecomment-1151790006)).

[2022-06-17 21:00] shashankram commented on #21759
@kyessenov, also in the Envoy config dump I see references to wellknown names in the `extensions` field.
[code]

Do the names here not matter or are these fallback names?

[2022-06-17 21:36] shashankram commented on #21759
@kyessenov @phlax, I tried an experiment where I changed the [HTTP RBACPerRoute filter](https://www.envoyproxy.io/docs/envoy/v1.22.2/api-v3/extensions/filters/http/rbac/v3/rbac.proto#extensions-filters-http-rbac-v3-rbacperroute) name from `envoy.filters.http.rbac` to `http_rbac_per_route`.

I started seeing XDS error logs:
[code]

When I changed the filter name back to the wellnown name `envoy.fil

[2022-06-18 00:02] #21219 closed

[2022-06-18 00:02] #21234 closed

[2022-06-18 04:04] ejc3 opened #21764 "Release note link broken in release announcement"
https://www.envoyproxy.io/docs/envoy/v1.20.5/version_history/current

![Uploading Screen Shot 2022-06-17 at 9.03.53 PM.png…]()

[2022-06-18 05:15] #21675 closed

[2022-06-18 05:15] #21672 closed

[2022-06-18 05:51] soulxu commented on #21640
I prefer to add a network filter to add metadata, it is generic and can be used for other usecase.

[2022-06-18 05:52] soulxu commented on #21640
May I get some feedback from you @mattklein123 @ggreenway ? also @RyanTheOptimist for HappyEyeBallConnection, thanks in advance!

[2022-06-18 07:53] phlax commented on #21764
@ejc3 thanks for reporting it seems like we have had another failed release - we are working to prevent this in the future - ill follow up to resolve

[2022-06-18 09:36] phlax opened #21768 "Resolve release pipeline issues (1.20.5 post-mortem)"
### description

we have been hit by an issue on our various release branches of running out of disk space when building the docker images - this then prevents the release from publishing

#### what failed ?

we were again hit by docker disk space issues on the release branch

#### could it have been prevented ?

yes, but the issue was complicated by the fact that the PR to the release branch pass

[2022-06-18 09:38] phlax commented on #21768
cc @mattklein123 @lizan

[2022-06-18 09:39] phlax commented on #21764
@ejc3 fyi i added a postmortem here #21768 - we will follow up to resolve early next week

[2022-06-18 19:51] ankatare commented on #19069
@wbpcode need help to understand code behaviour here.

Summary : header modified with lua script by `inline_code` , following code section is executed which causes **clear the route catche.**

https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/http/lua/lua_filter.cc#L381-L399

and due to which following code is not executing.

https://github.com/envoyproxy/envoy/blob/5c8300181

[2022-06-18 20:01] #21251 closed

[2022-06-18 21:03] martinezlucas98 commented on #21761
Solved it.
Basically I was building envoy on the *main* branch but I was running a built from another (out-dated) branch.
A silly mistake.

[2022-06-18 21:03] #21761 closed

[2022-06-19 00:03] #21256 closed

[2022-06-19 07:20] TTashev commented on #11318
Hello, anybody still working on this, I would like to participate.

[2022-06-19 16:30] gnalsa opened #21771 "openmetrics metric name clash"
Hello,

It is my understanding from the [openmetrics documentation](https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#suffixes) that metric names should not conflict if suffix is removed. I have found the following two metrics have a conflict:
envoy_cluster_upstream_rq{envoy_response_code="200",envoy_cluster_name="my-service"} 5628
envoy_cluster_upstream_rq_to

[2022-06-19 20:05] zamazan4ik opened #21773 "Document supported hardware architectures"
*Title*: *Document supported hardware architectures*

*Description*:
I have checked the documentation but did not find any word about supported architectures - only about supported operating systems.

Could you please put the information about supported architectures to the documentation please? E.e. about supported architectures for different operating systems, some specific requirements to the s

[2022-06-20 01:35] daixiang0 commented on #21634
@PiotrSikora now do we support adding runtime flag with WASM like below:
[code]

[2022-06-20 05:35] odidev commented on #21503
Any updates on this?

[2022-06-20 05:55] wbpcode commented on #19069
@ankatare The `traceRequest` will be called before the lua filter callbacks. So I am not sure that is the direct reason that cause this problem.

[2022-06-20 12:11] SpecialYang commented on #21734
Any ideas?

[2022-06-20 12:22] ohadvano opened #21782 "Envoy wraps http response errors"
*Title*: Envoy wraps http error response

*Description*:
I am using an envoy configuration with a gRPC transcoder filter and http route filter. When the upstream server responds with a bad request or any other error response, the response code that passed to the downstream is 503, and envoy logs do not print the original error code and message.
Expected: the envoy proxy will respond to downstream

[2022-06-20 13:06] Jacobien1 opened #21783 "BLPOP, PIPLINE commands"
I'm currently using Envoy for a project but I came across an Error where the redis client 'Redis-py' crushes at pipeline and also it shows an error at BLPOP are those commands not supported by Envoy?

[2022-06-20 14:15] phlax commented on #21647
@giantcroc can i assign this to you ? it would be good to get the example back, not sure of the best solution myself

[2022-06-20 14:36] tpetkov-VMW commented on #21663
Took the change from your fork, and things look good on our end, thanks for the quick response!

[2022-06-20 14:45] phlax commented on #21503
not as yet, ive been busy with other things, but its v much on my todo list

[2022-06-20 17:04] shashankram commented on #21759
@phlax @kyessenov could you comment whether the RBACPerRoute filter needs to be configured with the filter name `envoy.filters.http.rbac` in the typed_per_filter_config and `http_filter` list on the listener? From my testing, specifying a random name here does not work.

[2022-06-20 22:33] michaljemala opened #21791 "gRPC-JSON transcoder returns text/plain for transcoding error"
*Title*: *gRPC-JSON transcoder returns text/plain for transcoding error*

*Description*:

Our APIs use enumerations heavily. If an invalid enum value is sent the gRPC-JSON transcoder returns 400 - Bad request using MIME type `text/plain` which is completely fine. However, we would like to also have an option to tell the transcoder to returned these error using the gRPC error JSON structure using t

[2022-06-21 00:55] daixiang0 commented on #21782
I think log the original error code and message is useful. Could you provide the config here to reproduce?

[2022-06-21 00:56] daixiang0 commented on #21783
Could you share the detailed error log here?

[2022-06-21 01:12] daixiang0 commented on #21791
Is `convert_grpc_status` helpful, like https://stackoverflow.com/questions/61962716/how-to-send-error-response-as-json-in-grpc-using-envoy-proxy?

[2022-06-21 05:02] giantcroc commented on #21647
OK, I can help with it.

[2022-06-21 07:44] Jacobien1 commented on #21783
hey,
redis-cli>> blpop list1 list2 list3
command is not supported

[2022-06-21 10:42] phlax opened #21797 "`resultstore`/BEP streaming events are timing out in CI"
As suspected some `resultstore` events are timing out:

https://dev.azure.com/cncf/envoy/_build/results?buildId=111023&view=logs&j=b7634614-24f3-5416-e791-4f3affaaed6c&t=21e6aa7d-f369-5abd-5e4e-e888cac18e9c&l=526

now that we know that this is an issue - since we added #21775 - we will need to figure out what to about it - perhaps revert for now - i dont see a way to make this warning only

relate

[2022-06-21 10:42] phlax commented on #21797
cc @lizan @alyssawilk

[2022-06-21 11:20] LuyaoZhong commented on #18928
@ggreenway kindly ping :)

[2022-06-21 12:46] michaljemala commented on #21791
`convert_grpc_status` does not help in this case as it translates from headers returned from upstream. In the case I describe the upstream is not reached at all.

[2022-06-21 13:25] alyssawilk commented on #11318
Feel free to send out PRs!

[2022-06-21 13:39] alyssawilk commented on #21797
Sorry, when you say revert it, do you mean resultstore use or the timeout?  I think having a timeout is fine.  If it's not respected and it's still breaking CI I can go ask resultstore devs to help investigate.

[2022-06-21 14:32] mattklein123 commented on #21768
I agree it would be really nice to fully automate the tagging/release so that it only gets tagged if it actually passes. I'm not sure how to do this though. I think we would probably have to have a manually triggered GH action that somehow does this?

[2022-06-21 14:34] mattklein123 commented on #21731
What's the question here? If the stream max duration is reached Envoy will terminate the stream? Please provide more information, a properly formatted config, etc. if you would like more help. Thank you.

[2022-06-21 14:34] highwayliu commented on #21731
你好，我是刘海伟，QQ 806864128，1310627032，微博 http://weibo.com/1688577641是华南理工09网络工程的学生，你的来信我已收到！请放心！！！

[2022-06-21 14:39] markdroth commented on #10455
We've run into a use-case in gRPC that requires something like this.  We need to configure fault-injection on a per-locality basis.  This requires running the fault injection filter after load balancing is complete, so that we know what locality the request is going to be routed to and can use that as input to decide whether to inject a fault.

What is the current state of this work?  Note that fo

[2022-06-21 14:43] phlax commented on #21768
i think we could have azp CI trigger a branch tag when it gets far enough through - not sure exactly - but it seems likely - @lizan ?

[2022-06-21 15:35] howardjohn opened #21800 "field `envoy.config.listener.v3.FilterChain.name` unexpected marked as WIP"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: field `envoy.config.listener.v3.FilterChain.name` unexpected marked as WIP

*Description*:
[code]

is now logged. I believe this is incorrect.

The `name` field has

[2022-06-21 16:56] ggreenway commented on #21783
cc @msukalski @henryyyang @mattklein123 @weisisea

[2022-06-21 16:57] ggreenway commented on #21773
cc @phlax

[2022-06-21 17:08] phlax commented on #21773
@zamazan4ik thanks for raising this issue - it would be good to clarify any docs that need to be

could you be more specific wrt which docs are not so clear - for the starter/install/example docs i added some info about architectures and compatibility

i would definitely be happy to review any PRs that clarfiied this

[2022-06-21 17:08] howardjohn opened #21804 "tunneling_config: support dynamic Hostname"
*Title*: tunneling_config: support dynamic Hostname

*Description*:
We have a use case to have the tunnel Hostname dynamically configurable. We previously did this in custom headers (which use HeaderValueOption), but thanks to https://github.com/envoyproxy/envoy/pull/21440 we can now use the proper `:authority` header for this. However, `hostname` is just a string. We would like it to support dyna

[2022-06-21 17:23] zamazan4ik commented on #21773
Not sure, where exactly will be better to place such description. Maybe somewhere in "Install" section? And their describe which platforms are supported. If you have different support levels for different platforms - describe it too.

[2022-06-21 17:53] yanavlasov commented on #21639
Yes, looks like it can be an original_ip_detection extension.

[2022-06-21 19:10] yanavlasov commented on #21598
You can do it, but it is complicated and we do not have ready made examples. You will need two listeners for this:
1. Listener 1 terminated http CONNECT, there is example in `configs/terminate_http1_connect.yaml`
2. Listener 2 for terminating TLS decapsulated from CONNECT request.
3. Cluster1 for sending CONNECT payload through a loopback socket to listener 2. Listener 1 will use cluster 1.
4. Clu

[2022-06-21 19:12] yanavlasov commented on #21010
The work on this is in progress.

[2022-06-21 19:18] alyssawilk commented on #21598
Not that I know of sorry :-(

[2022-06-21 19:21] ggreenway commented on #21739
But if there are many certs, and no SNI (or no matching SNI), which of the many certs should be used? We'd probably need to specify which one, maybe the first in the list of configured certs.

Sounds good to me. You'll also need to account for wildcards, and make sure to use a more-specific cert before considering a wildcard.

No, it is not safe to assume there is always an RSA cert. But currently

[2022-06-21 19:24] ggreenway commented on #21736
I don't think there's any way to do this currently, but it makes sense to be able to put logic in the middle to mutate the name. Either you could write a custom filter to do it, or maybe consider adding a way to add the logic with Lua. This kind of thing is a great use case for a small Lua script.

[2022-06-21 19:32] ggreenway commented on #21640
My understanding is that the use case is to support both v4 and v6 downstream and upstream, and use the matching version for the downstream and upstream connection. BUT, don't have two mostly-duplicate listeners and clusters. Is that summary correct?

Assuming it is correct, I'd say that this should be implemented with a downstream filter, as suggested by @soulxu, and subset load balancer in the c

[2022-06-21 19:38] yuanzhe-ge opened #21807 "Lazy evaluation of compression decision in compressor_filter for http response w/o content-length"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
Buffer response header in **compressor_filter**  and perform compression decision when receiving first data frame (encode_data)

*Description*

[2022-06-21 19:43] ggreenway commented on #21800
It looks like it was changed from `#not-implemented-hide` to `work_in_progrss in #20110. From this report, it sounds like it was incorrectly marked `#not-implemented-hide` before because it was being used in logging. @kyessenov should we remove the `work_in_progress` flag on this field?

[2022-06-21 19:59] kzorfy commented on #21736
@ggreenway Lua script is only available as HTTP filter but not at layer 4. Can you providing some starting pointers on how I can add custom filter. It would be great if you can share some examples.

[2022-06-21 20:16] alyssawilk commented on #21410
Gah yeah, waitForAccessLogs was _not_ doing what I thought it was. Now it is, and I've fixed up a handful of other confused tests.

[2022-06-21 20:35] ggreenway commented on #21736
I would look at source/extensions/filters/network/sni_dynamic_forward_proxy/proxy_filter.cc. You'll need to make a copy of that with some logic to mutate the SNI name, or you could consider adding an extension point to that filter so that it can include run some specified code to do the mutation.

[2022-06-21 20:36] alyssawilk commented on #21743
just to make sure I'm understanding the problem, you got the reply in 1ms and think it took 39ms for Envoy to process it?  If so the first thing I'd look at is monitoring event loop stats https://www.envoyproxy.io/docs/envoy/latest/operations/performance#event-loop-statistics and see if you're seeing spikes.

[2022-06-21 20:47] casperisfine commented on #17571
I just had a quick look at what it would take since I just ran into the same issue. Unfortunately it's quite a lot of work:

  - `HELLO` has to be forwarded to the backends, but that changes the response protocol. So if a proxy is used by different clients, some using RESP3, some RESP2, we'd need to keep two pools of connections.
  - Then RESP3 contains many more types (e.g. `float`, `boolean`, et

[2022-06-21 21:35] mattklein123 commented on #17571
Not that I know of.

[2022-06-21 22:02] kyessenov commented on #21800
Ack, I was going to do that, but feel free to go ahead.

[2022-06-21 23:05] marcosrmendezthd opened #21812 "EnvoyMetricsService receiving empty histograms and summaries"
*Description*:

Using Envoy 1.22.2 and hooking it up to a grpc metric sink for prometheus to scrape later. I'm noticing that while the counters and gauges are coming in correctly, the summaries and histograms are empty. The histograms have buckets, but no samples. If I check on the envoy prometheus metrics, the histograms have values and there are no summaries (not sure why I'm getting those on th

[2022-06-21 23:06] marcosrmendezthd commented on #21812
some screenshots of my empty histograms.

<img width="531" alt="Screen Shot 2022-06-21 at 7 00 04 PM" src="https://user-images.githubusercontent.com/13423168/174911031-9a77b903-c3b7-41ff-9b93-d52c4a9bfc14.png">
<img width="487" alt="Screen Shot 2022-06-21 at 7 00 14 PM" src="https://user-images.githubusercontent.com/13423168/174911038-7202e2ce-8399-49ff-a2d4-746e8715946b.png">
<img width="618" alt

[2022-06-21 23:36] suniltheta commented on #20272
no stalebot

[2022-06-22 00:19] htuch commented on #21760
I think this makes sense, CC @envoyproxy/api-shepherds.The idea would be a DFP resolver plugin performs the moral equivalent of what an EDS address resolver would do. Basically, wherever we have a socket address, whether it comes from xDS or is resolved via DNS, we might want an opportunity to apply a local resolver.

[2022-06-22 00:22] htuch commented on #21734
This isn't something I'm super familiar with, tagging @mattklein123 @wbpcode

[2022-06-22 01:02] kamranmohammed commented on #21598
Hey guys I will be taking over this request from @dvu714. Would it be possible to create a example config with two listners and loopback?

[2022-06-22 01:39] renuka-fernando commented on #8857
Hi @lizan, @prune998

Is there a pre-build envoy docker image (https://www.envoyproxy.io/docs/envoy/latest/start/install#pre-built-envoy-docker-images) for troubleshooting envoy memory issues? what is the docker you have used in this issue?

Or should we build an envoy binary, statistically linking `gperftools` and create a docker image with that binary?

[code]

[2022-06-22 02:31] kamranmohammed commented on #21598
so this is the config that I could make:
`admin:
  access_log_path: /tmp/admin_access.log
  address:
    socket_address:
      address: 0.0.0.0
      protocol: TCP
      port_value: 9901
static_resources:
  listeners:
    - name: listener_0
      address:
        socket_address:
          address: 0.0.0.0
          protocol: TCP
          port_value: 31000
      filter_chains:
        - filters:

[2022-06-22 02:33] kamranmohammed commented on #21598
@yanavlasov and @alyssawilk please help!

[2022-06-22 02:43] daixiang0 commented on #21807
Sounds great that avoid compression of small data, my concern is what is the "best" threshold for most cases then we can use it as default.

[2022-06-22 04:08] RassulYunussov commented on #2388
Is there any way to control the number of http2 connections untied from workers amount?
The issue may arise when we have more than 100 different upstreams and those 100 upstreams may have by 1000 hosts.
It would be beneficial to have this parameter configurable.

[2022-06-22 04:38] soulxu commented on #21640
Yes, that is what I said also, thanks!

Yes, this is good question. Therea are two cases I can imagine are:
* An Ipv4 Application doesn't support Ipv6 client well
* The Application tracking the clients based on the IP address. The loadbalance will switch the client address randomly between the ipv4 and ipv6 address.

@jacob-delgado append anything if you have.

I thought the major thing is we need

[2022-06-22 05:43] wbpcode commented on #21734
Sorry. It seems that the limiter for per remote address is not supported for now.

[2022-06-22 05:53] #21518 closed

[2022-06-22 07:11] Jacobien1 commented on #21783
can you add the missing commands?

[2022-06-22 07:28] acarlson0000 commented on #21755
Hi @PiotrSikora - I was using the container from build-tools in the commit that was relevant to 1.20.2 (which we built and tagged some time back - and I was pulling down v1.20.4 directly into that container to build the latest version).

To confirm: v1.20.2 builds fine in that container, but 1.20.3 / 1.20.4 do not.

Just noticed the LLVM commit on the build-tools repo - I'll give that a go by rege

[2022-06-22 08:03] #21352 closed

[2022-06-22 08:41] Stono opened #21819 "With the oauth2 filter, forward_bearer_token combined with large tokens easily blows most default max-header-size"
*Title*: Ability to be specific about which tokens are returned from the oauth2 filter

I'm currently trying to replace our nginx -> oauth2-proxy setup with just using envoy (istio) directly.  I managed to get this working using `type.googleapis.com/envoy.extensions.filters.http.oauth2.v3.OAuth2`, however I do need access to the original token.

`forward_bearer_token` does that (adds the token to

[2022-06-22 09:25] Jacobien1 opened #21820 "Important command Redis"
Where in a very need of a proxy to use for our architecture and envoy is the best solution, but there is a lack of some commands Like Blpop and  PIPLINE is there any possible way to add those commands please

[2022-06-22 11:00] odidev commented on #21503
I understand, let me know if I can help when you are ready

[2022-06-22 11:05] ztgoto opened #21822 "I want evnoy to return "connection: keep-alive" header"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *I want evnoy to return "connection: keep-alive" header*

*Description*:

[2022-06-22 11:09] ztgoto opened #21823 "I want evnoy to return "connection: keep-alive" header"
*Title*: *I want evnoy to return "connection: keep-alive" header*

*Description*:

[2022-06-22 11:39] LuyaoZhong commented on #18928
@ggreenway Thanks for your comments. Please have a look at my reply in [bumping doc](https://docs.google.com/document/d/1B6TaqkwjlUqIOYTLqcprwtsQsg8TXitLQQnvXg2WIbU/edit#).

[2022-06-22 12:13] #21823 closed

[2022-06-22 13:01] LuyaoZhong commented on #21739
I'm ok with that selecting first cert if there is no SNI in CLIENT_HELLO. If no matching SNI I think we need raise error, because one cert with wrong SNI will cause the tls handshake fail, right?

After thinking about this for a while, It should be possible that multiple certs has the same SNI, e.g. EC and RSA certs, they both serves for the same SNI.
For wildcard, do you mean SAN(subjectAltName)

[2022-06-22 13:10] yuhaoliu77 opened #21828 "Header Invert Match Rule Does Not Work When Header Does Not Exist"
*Description*:
In https://github.com/envoyproxy/envoy/blob/154a7a865c064870f500a11d2772b2ca106337ac/source/common/http/header_utility.cc#L140-L146, the code shows that when header does not exist, Envoy would ignore any header match rule.

However, when there is a invert match rule, the header match rule could still match even when the header does not exist.

[2022-06-22 14:49] #21410 closed

[2022-06-22 15:03] wbpcode opened #21830 "dubbo proxy: big dubbo response body (>1MB) cannot be processed"
*Title*: *dubbo proxy: big dubbo response body (>1MB) cannot be processed*

*Description*:

The dubbo proxy needs to read the whole response body and then decode the body. However, the the dubbo proxy will not move the response body from the connection buffer before it can read the whole body.
So, if the response body size is larger than 1MB (default connection buffer limit), then the `onReadBuffe

[2022-06-22 15:16] Samhom opened #21831 "accessLog is not supported when using the redis_proxy filter"
*Title*: *accessLog is not supported when using the redis_proxy filter*

*Description*:

[2022-06-22 15:21] Samhom commented on #21831
We are implementing this feature now and will submit a new PR in the near future...

[2022-06-22 15:24] marcosrmendezthd commented on #21812
a better example:

this is what envoy exposes on /stats/prometheus

[code]

this is what the sample program sees:

[code]

[2022-06-22 15:27] marcosrmendezthd commented on #21812
to reproduce this run envoy 1.22.0 with the following configuration.

$ envoy --version
   envoy  version: c919bdec19d79e97f4f56e4095706f8e6a383f1c/1.22.2/Modified/RELEASE/BoringSSL

$ envoy -c envoy.yaml

[code]

[2022-06-22 15:28] marcosrmendezthd commented on #21812
then start a simple python server that will serve as the upstream

[code]

and run this go program to serve as the metrics sink

[code]

[2022-06-22 15:50] ggreenway commented on #21739
This isn't correct. The current code tries to find a match, and if one isn't found, it uses certificate 0. There's no guarantee that this is an RSA cert. But I agree that we can keep this same logic.

That is incorrect. The SANs should be checked first, and if there are none, then the CN should be used, according to RFC 6125. https://www.rfc-editor.org/rfc/rfc6125#section-6.4.4

[2022-06-22 16:16] #21618 closed

[2022-06-22 17:07] vandyvilla commented on #21685
Thanks @jmarantz and @mattklein123 ! I will take a look at the pointers and see if we want to proceed.

[2022-06-22 17:16] yuanzhe-ge commented on #21807
Snap has ABed multiple min threshold. for messaging service with 1024 bytes as min threshold, we are looking at 40% egress bandwidth saving with slight regression in P50(1-2ms) for e2e network latency.

[2022-06-22 18:09] ankatare commented on #19069
@wbpcode yes, the same case which i mentioned above. Can we discuss it tomorrow on slack.  let me know once you are available.

[2022-06-22 18:52] silverstar194 opened #21833 "linux_x64 coverage times out"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*:
linux_x64 coverage times out after 120 minutes

*Description*:
[linux_x64 coverage times out](https://github.com/envoyproxy/envoy/pull/21725/checks?check_run_id=7009

[2022-06-22 18:59] phlax commented on #21833
hi @silverstar194 ive been trying to track down these issues with coverage timing out

i believe that precompiled protoc (#21588 ) makes a small amount of difference but doesnt resolve i think (not sure if your pr was merged with this update, but worth rebasing/merging to current main)

another possible candidate is resulstore streaming of build data - im trying to follow up on this also

[2022-06-22 19:01] silverstar194 commented on #21833
@phlax  I just merged in latest main. Fingers crossed

[2022-06-22 20:01] #21295 closed

[2022-06-22 20:30] kyessenov commented on #21759
@shashankram Yes, you are right that we use qualified names for per_filter_config at the moment. That's changing per https://github.com/envoyproxy/envoy/issues/12274, but it'll take an effort to transition.

[2022-06-22 21:49] augustomarinho opened #21839 "Is there a way to return a custom HTTP response code using the grpc_json_transcoder filter?"
I'm implementing an API using the _grpc_json_transcoder_ filter and working well. I know the HTTP response code is mapped to _grpc-status_ according to the [code.proto ](https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto ) definition. But, I have a doubt if it would be possible to customize the HTTP return code, like answering HTTP 201 (Created) or HTTP 202 (Accepted) in a

[2022-06-23 00:02] #21252 closed

[2022-06-23 00:02] #21279 closed

[2022-06-23 00:44] daixiang0 commented on #21822
Could you provide the Envoy version you used and detailed logs?

I use main HEAD and `fortio` to test it(`fortio` use keepalive conntions as default) and it will reuse connections.

[2022-06-23 00:45] daixiang0 commented on #21820
duplicate with #21783

[2022-06-23 01:25] daixiang0 commented on #21783
PIPLINE is not really a command in Redis, see https://redis.io/docs/manual/pipelining/. Now Envoy support it see https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/other_protocols/redis#supported-commands:

Now we support commands that can be reliably hashed to a server. Since we support LPOP and BLPOP is a blocking version for it(https://redis.io/commands/blpop/), seems we can suppor

[2022-06-23 01:56] ztgoto commented on #21822
The problem comes from performance testing #17266

I found that nginx will return "connection: keep-alive" header to client, but envoy will not, and I cannot set "connection: keep-alive" header in envoy. I suspect the performance difference has something to do with this.
The latest test I used is evnoy:v1.22.2, but the result is still the same.

[2022-06-23 02:28] hzxuzhonghu opened #21845 "WeightedCluster.TotalWeight looks redundant"
[code]

Actually this value can be inferred from all the clusters. Enforcing the management server to set this value is a bad UX. No sure why it was required.

[2022-06-23 02:49] daixiang0 commented on #21822
I guess it is not the root cause, could you try with `fortio load -c 4 -n 100 ` and `fortio load -keepalive=false -c 4 -n 100`?

You can enable admin endpoint `admin/stats/prometheus` and get stats about `downstream_cx_total`, if enable keepalive, you can see only 4 connections, if disable, you can see 100 connections.

[2022-06-23 03:09] ztgoto commented on #21822
You're right, but if it weren't for the "connection:keep-alive" header, then I really can't think of a reason for such a big gap. Is the processing flow of envoy really much more complicated than that of nginx?

[2022-06-23 04:03] binpatel31 commented on #6076
@jcr010910 can you share the example if you were able to forward request dynamically as you expected?

[2022-06-23 04:11] #21308 closed

[2022-06-23 04:17] daixiang0 commented on #21822
I am not familiar with Nginx, hard to say it.

BTW, you can test via `fortio` again to get a new benchmark.

[2022-06-23 04:44] #19274 closed

[2022-06-23 06:19] daixiang0 opened #21847 "Coverity Scan long time no update"
*Title*: *Coverity Scan long time no update*

*Description*:

The last update of https://scan.coverity.com/projects/envoy-proxy is from 2017, now is 2022.

The ci target `bazel.coverity` is not in the current CI flow and no one can run it with `ci/do_coverity_local.sh` since developers cannot get token.

I tried with my repo and create a new project in Coverity, download it at local but failed to

[2022-06-23 06:32] ztgoto commented on #21822
I use fortio to test, the performance of nginx is still much better than that of envoy (nginx:envoy=4:1), but fortio is not like wrk, which can overwhelm the cpu of nginx, or it may be that I am using it incorrectly.
fortio load -c 8  -qps 0   'http://127.0.0.1:9101'

[2022-06-23 08:08] leosunmo commented on #6110
@abasitt No, nothing on this. I've moved on from the team that needed this.

[2022-06-23 10:43] LuyaoZhong commented on #18928
@ggreenway Thanks for your comments to help make the design details clear, I reply in [bumping doc](https://docs.google.com/document/d/1B6TaqkwjlUqIOYTLqcprwtsQsg8TXitLQQnvXg2WIbU/edit#). Please have a look and let me know if you have any concern about this design.

[2022-06-23 11:30] ramaraochavali commented on #3351
@mattklein123 This can be closed now

[2022-06-23 12:42] LuyaoZhong commented on #21739
So for SNI matching:
1. How do we organize the certs/tls contexts when loading config?
When loading the cert with SANs and constructing TlsContext, add it to the `map<SAN, list<TlsContext>>`
When loading the cert without SANs and constructing TlsContext, add it to the `map<CN, list<TlsContext>>`
2. How do we select the cert based on SNI when doing TLS handshake?
First, do exact matching with `map<

[2022-06-23 14:04] matiasrege commented on #19069
@ankatare the problem not only happens with `lua`, happens too with any `http_filters` that modify the header used in the `match`

[2022-06-23 14:08] wbpcode commented on #19069
It is OK for me. But it seems that there is a jet lag.

[2022-06-23 14:09] aktzbn commented on #16219
Have the same issue.

[2022-06-23 14:25] #3351 closed

[2022-06-23 15:30] #21601 closed

[2022-06-23 15:30] #21509 closed

[2022-06-23 16:24] yskopets opened #21851 "proposal: add a filter for injecting credentials into outgoing HTTP requests"
*Title*: Add a filter for injecting credentials into outgoing HTTP requests

*Description*:

It would be conventient to have a standard filter that can inject credentials into outgoing HTTP requests (as a value of `Authorization` header).

The most common use cases:

1. OAuth2 access token credential
2. basic auth credential
3. opaque bearer token credential

The primary focus of this proposal is

[2022-06-23 16:28] ggreenway commented on #21845
I'm not sure what the history of this is. My first guess was that it made some algorithm less expensive, but when loading the config, there's a loop that adds up all the weights and then:

[code]

Maybe we should make the field optional, and if not specified then don't do this check and use the sums.

@mattklein123 do you know the history of this?

[2022-06-23 16:29] ggreenway commented on #21839
cc @lizan @qiwzhang

[2022-06-23 16:40] shashankram commented on #21759
@kyessenov this clarifies my concern.

I am referring to the `typed_per_filter_config` field on the `virtual_host` and `route` protos, where a `map[name]*any.Any` needs to be configured. It looks like qualified names are still necessary here as you highlighted.

I am unsure what you mean in https://github.com/envoyproxy/envoy/issues/21759#issuecomment-1163573304, but I was conveying that the filte

[2022-06-23 16:48] bsarvan commented on #11592
This could be due to logging level not set right for the proxy. For lua, it is required to enable debugging for Lua scripts in the IstioOperator custom resource. Below command using istioctl enables debug, info level logging for lua scripts

istioctl proxy-config log <pod>.<namespace> --level lua:info

Options for --level are lua:debug, lua:info, lua:warning. Hope this helps

[2022-06-23 17:32] jamesmulcahy commented on #21292
Yeah, that works for us!

[2022-06-23 17:49] mattklein123 commented on #21845
Sorry I don't remember. This might even be pre-OSS. My guess is it's to avoid a mistake in which people change the weights and don't realize what they are actually doing without knowing the entire sum. So for example, raising one and lowering another. This mistake probably happened and led to this check. :)

[2022-06-23 17:57] ggreenway opened #21854 "test flakes in //test/extensions/common/async_files:async_file_handle_thread_pool_test"
Saw this in CI, and was able to reproduce locally.

`bazel test -c fastbuild --config=clang --test_output=errors //test/extensions/common/async_files:async_file_handle_thread_pool_test --runs_per_test=100`

[code]

[2022-06-23 17:57] ggreenway commented on #21854
cc @ravenblackx

[2022-06-23 17:58] kyessenov opened #21855 "api: not-implemented-hide should warn"
A field with `[#not-implemented-hide:]` protodoc annotation is considered stable in xDS sense, e.g. it does not trigger WIP warnings. That seems wrong, and causes issues when a hidden field is promoted to WIP alpha.

[2022-06-23 17:59] ggreenway opened #21856 "Test flake in //test/extensions/filters/http/file_system_buffer:file_system_buffer_integration_test"
Failed in CI, able to reproduce locally:

`bazel test -c fastbuild --config=clang --test_output=errors //test/extensions/filters/http/file_system_buffer:file_system_buffer_integration_test --runs_per_test=100`

[code]

[2022-06-23 18:13] ggreenway commented on #21782
cc @qiwzhang @lizan

[2022-06-23 18:32] #21510 closed

[2022-06-23 18:44] yanavlasov commented on #21598
You need to remove `connect_config` from you route and add TLS `transport_socket` configuration to the filter chain in the `listener_1`. See https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/listener/v3/listener_components.proto#config-listener-v3-filterchain

[2022-06-23 20:46] qiwzhang commented on #21839
your desired http_status code will be based on what?  a field from response_body?   or grpc status code in the response headers?  But for a successfully grpc response, there will not be grpc_status code in the response header.

[2022-06-23 20:58] ggreenway commented on #21819
cc @derekargueta @snowp

[2022-06-23 21:05] ggreenway commented on #21820
Closing as duplicate

[2022-06-23 21:05] #21820 closed

[2022-06-23 21:07] ggreenway commented on #21822
Unless you have configured envoy to not re-use connections, it will reuse by default. Can you post your envoy config that is resulting in lack of connection reuse?

[2022-06-23 21:19] mattklein123 commented on #21845
If there is a request to do so seems fine, though we might want to have a warning if it's not set? I'm not sure.

[2022-06-23 21:20] mattklein123 commented on #21807
Sure this sounds like a good idea!

[2022-06-23 21:53] augustomarinho commented on #21839
@qiwzhang Reading the [code.proto ](https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto) I understood that isn't possible to use _grpc-status_ because doesn't have this mapping. Is there another native way in Envoy to do that?

To make this feasible, I implemented a Lua script to change the HTTP response based on a custom header returned by the application, more and less lik

[2022-06-23 21:59] #21800 closed

[2022-06-23 22:06] qiwzhang commented on #21839
So you are requesting a feature that allowing gRPC server to set the HTTP status code after transcode the response to HTTP/json,  is that correct?   Current envoy grpc_transcoder doesn't support anything like this.  For your idea of using a response header,  it is not supported by grpc_transcoder either.

But it should be easy to add it.

[2022-06-24 00:44] augustomarinho commented on #21839
In fact, my goal is to understand if the transcoder can customize HTTP codes that don't have mapped in [code.proto](https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto).

As the transcoding specs talk about "... RESTful JSON API client to send requests to a gRPC service ...", I'd like to design my APIs returning HTTP codes more connected with this paradigm (REST). As I imple

[2022-06-24 00:47] davinci26 commented on #21595
Next target `local_ratelimit`

[2022-06-24 01:15] hzxuzhonghu commented on #21845
Loose a validation seems no harm to existing users.

[2022-06-24 01:22] #14366 closed

[2022-06-24 02:44] ztgoto commented on #21822
This is my misunderstanding, from the downstream_cx_total metric, envoy does have reused connections. I'm just curious where this performance difference between nginx and envoy comes from.

[2022-06-24 03:13] WestEnlarged commented on #13068
Is this solved? I get like this. general , the http requst is ok, but sometime get upstream_response_timeout that the upstream didn't received the envoy request.

there is my log: (some sensitive data i manually replaced with ***)
`
[2022-06-22 15:35:56.157][14][debug][conn_handler] [source/server/active_tcp_listener.cc:140] [C124] new connection from 10.42.**:34112
[2022-06-22 15:35:56.157][14][d

[2022-06-24 03:38] daixiang0 commented on #21783
@Jacobien1 do you use BLPOP with the block indefinitely(zero timeout)?

[2022-06-24 04:27] rohrit commented on #21543
The authentication would need to work in context of a HTTP CONNECT request which use HCM. (https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/upgrades#connect-support, https://github.com/envoyproxy/envoy/blob/28d4286a22c1db574ce68d0722bf5acea5dc3d05/configs/terminate_http1_connect.yaml).

It is not quite clear what is needed here as I am not familiar with the internals of Envoy a

[2022-06-24 05:10] ankatare commented on #19069
@wbpcode Thanks for response. as per slack seems your tz is 3 hrs ahead to mine. pls suggest if we can find some common time to discuss.. today we have some dev env issues , may be on coming Monday we can connect.

[2022-06-24 05:11] ankatare commented on #19069
Yeah..

[2022-06-24 06:44] NaveenGokavarapu19 commented on #21855
Hi i am beginner. i want to take up this issue. Are there any prerequisites for taking up the issue.

[2022-06-24 07:38] kamranmohammed commented on #21598
so it kinda works but I do not understand it fully. So here is the working configuration:
[code]

so when I run this:
[code]

but when I run this:
[code]

it works I get back google.com html page.
But I don't understand why I need the `-k` flag for it to run? Because my corp proxy is not HTTPS and https://www.google.com should have a valid and legitimate cert so why do I need to even provide a ser

[2022-06-24 08:03] github-actions[bot] opened #21865 "Newer release available `aspect_bazel_lib`: v1.3.1 (current: v1.0.0)"
Package Name: aspect_bazel_lib@1.0.0
Current Version: v1.0.0@2022-06-06
Available Version: v1.3.1@2022-06-21
Upstream releases: https://github.com/aspect-build/bazel-lib/releases

[2022-06-24 08:03] github-actions[bot] opened #21866 "Newer release available `build_bazel_rules_apple`: 1.0.1 (current: 0.34.2)"
Package Name: build_bazel_rules_apple@0.34.2
Current Version: 0.34.2@2022-05-02
Available Version: 1.0.1@2022-06-17
Upstream releases: https://github.com/bazelbuild/rules_apple/releases

[2022-06-24 08:03] github-actions[bot] opened #21867 "Newer release available `com_github_bufbuild_buf`: v1.6.0 (current: v1.5.0)"
Package Name: com_github_bufbuild_buf@1.5.0
Current Version: v1.5.0@2022-05-30
Available Version: v1.6.0@2022-06-21
Upstream releases: https://github.com/bufbuild/buf/releases

[2022-06-24 08:03] github-actions[bot] opened #21868 "Newer release available `com_github_google_perfetto`: v26.1 (current: v22.1)"
Package Name: com_github_google_perfetto@22.1
Current Version: v22.1@2021-12-07
Available Version: v26.1@2022-06-13
Upstream releases: https://github.com/google/perfetto/releases

[2022-06-24 08:03] #20668 closed

[2022-06-24 08:03] github-actions[bot] opened #21869 "Newer release available `com_github_grpc_grpc`: v1.47.0 (current: a3ae8e0)"
Package Name: com_github_grpc_grpc@a3ae8e00a2
Current Version: a3ae8e0@2021-06-07
Available Version: v1.47.0@2022-06-22
Upstream releases: https://github.com/grpc/grpc/releases

[2022-06-24 08:03] #21400 closed

[2022-06-24 08:03] github-actions[bot] opened #21870 "Newer release available `com_github_wasmtime`: v0.38.0 (current: v0.35.2)"
Package Name: com_github_wasmtime@0.35.2
Current Version: v0.35.2@2022-03-31
Available Version: v0.38.0@2022-06-21
Upstream releases: https://github.com/bytecodealliance/wasmtime/releases

[2022-06-24 08:03] #21401 closed

[2022-06-24 08:04] github-actions[bot] opened #21871 "Newer release available `com_google_googletest`: release-1.12.0 (current: a4ab0ab)"
Package Name: com_google_googletest@a4ab0abb93
Current Version: a4ab0ab@2020-09-10
Available Version: release-1.12.0@2022-06-23
Upstream releases: https://github.com/google/googletest/releases

[2022-06-24 08:04] github-actions[bot] opened #21872 "Newer release available `edenhill_librdkafka`: v1.9.0 (current: v1.8.2)"
Package Name: edenhill_librdkafka@1.8.2
Current Version: v1.8.2@2021-10-18
Available Version: v1.9.0@2022-06-16
Upstream releases: https://github.com/edenhill/librdkafka/releases

[2022-06-24 08:04] #21351 closed

[2022-06-24 08:04] github-actions[bot] opened #21873 "Newer release available `org_llvm_llvm`: llvmorg-14.0.5 (current: llvmorg-12.0.1)"
Package Name: org_llvm_llvm@12.0.1
Current Version: llvmorg-12.0.1@2021-07-09
Available Version: llvmorg-14.0.5@2022-06-11
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-06-24 08:04] #21433 closed

[2022-06-24 08:04] github-actions[bot] opened #21874 "Newer release available `org_llvm_releases_compiler_rt`: llvmorg-14.0.5 (current: llvmorg-14.0.0)"
Package Name: org_llvm_releases_compiler_rt@14.0.0
Current Version: llvmorg-14.0.0@2022-03-23
Available Version: llvmorg-14.0.5@2022-06-11
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-06-24 08:04] #21434 closed

[2022-06-24 08:04] github-actions[bot] opened #21875 "Newer release available `rules_python`: 0.9.0 (current: 0.8.1)"
Package Name: rules_python@0.8.1
Current Version: 0.8.1@2022-04-22
Available Version: 0.9.0@2022-06-12
Upstream releases: https://github.com/bazelbuild/rules_python/releases

[2022-06-24 08:04] github-actions[bot] opened #21876 "Newer release available `rules_rust`: 0.6.0 (current: 0.3.1)"
Package Name: rules_rust@0.3.1
Current Version: 0.3.1@2022-04-26
Available Version: 0.6.0@2022-06-14
Upstream releases: https://github.com/bazelbuild/rules_rust/releases

[2022-06-24 08:04] #21435 closed

[2022-06-24 08:14] wbpcode commented on #19069
I read the previous discussions. I am not sure I get all the important info. So, if I miss anything, please call it out.

IMO, this is because the `refreshCachedRoute`  do not handle the tracing config and decorator.

The request doesn't match any route entry at first. So the Envoy does nothing about tracing or decorator. After the filters (lua or any other filter) update the header, the `refreshC

[2022-06-24 09:09] phlax opened #21877 "Improve error handling of `config_validation` check"
Since updating the config_validation, errors (yaml/validation) are not being handled very well

[2022-06-24 09:09] phlax opened #21878 "Improve `config_validation` error handling"
Since updating the config_validation, errors (yaml/validation) are not being handled very well

[2022-06-24 09:10] phlax commented on #21878
arrgh rainbow unicorns -duplicates #21877

[2022-06-24 09:10] #21878 closed

[2022-06-24 09:10] phlax commented on #21877
cc @tyxia

[2022-06-24 09:57] phlax opened #21879 "`buf` dependency only support linux x86/64 currently"
We should probably add a download and `select` for all supported dev envs

[2022-06-24 11:37] phlax opened #21880 "What happened to the `format_pre` ci job ?"
As part of ongoing efforts to optimize and integrate the formatting and linting tooling, the `format_pre` job has now been integrated with the `format` job - running:

[code]

will run all of the existing `format_pre` checks plus the checks that were previously run in `format`, with the exception of the `protobuf` formatting test

wrt the protobuf formatting test, this can in some cases be very sl

[2022-06-24 11:39] phlax commented on #21880
cc @RyanTheOptimist

[2022-06-24 11:40] Licht-T opened #21881 "MySQL filter does not support Extra Authentication Data packet"
*MySQL filter does not support Extra Authentication Data packet*: *Ditto*

*Description*:

MySQL filter cannot handle the [Extra Authentication Data](https://dev.mysql.com/doc/internals/en/connection-phase-packets.html#packet-Protocol::AuthMoreData) packet correctly. As a result, the filter cannot parse packets if we utilize any authentication plugin.

Reference:
- https://dev.mysql.com/doc/intern

[2022-06-24 13:02] moderation commented on #21879
I think`buf` has good multiplatform support - https://github.com/bufbuild/buf/releases/tag/v1.6.0

Is this limitation how we implemented it in Envoy?

Maybe https://buf.build/blog/bazel-rules helps?

[2022-06-24 13:13] phlax commented on #21879
yep just limitation of current implementation

[2022-06-24 13:14] phlax commented on #21879
see https://github.com/envoyproxy/envoy/blob/main/api/bazel/repository_locations.bzl#L117

its a kinda similar one to the one discussed about protoc - adding multiple "deps" for a single release

[2022-06-24 14:24] howardjohn commented on #21845
One thing to note as well it seems TcpProxy_WeightedCluster_ClusterWeight has no TotalWeight

[2022-06-24 15:50] kamranmohammed commented on #21598
Thank you for your quick response. I have a follow-up question:
Is this setup terminating the TLS tunnel for CONNECT only or all the subsequent communication too?
Our use case is we are fine with TLS termination for CONNECT request but the actual HTTP request between the client and destination (https://www.google.com) should still be secure with the client verifying Google's cert. Is this how it w

[2022-06-24 17:02] qiwzhang commented on #21839
Sorry,  grpc transcoder could not customize http code from grpc status-code. I also feel it is not the right approach, in grpc world, only 0 means success,  non-zero codes mean errors. I guess your requirement doesn't fit into grpc world.

[2022-06-24 17:51] augustomarinho commented on #21839
Thanks,  @qiwzhang  for your time to talk about a little of this topic. Feel free to close this comment or let me know if can do that.

[2022-06-24 20:01] #21329 closed

[2022-06-24 20:01] #21350 closed

[2022-06-25 02:51] andresmargalef opened #21888 "Dynamic metadata match not working"
*Title*: *Dynamic metadata match not working*

*Description*:
I'm using the lua filter to analize some headers and set some dynamic metadata. That metadata is used in `config.route.v3.RouteMatch.dynamic_metadata` for route matching.
Using the following configuration with `curl localhost:8080 -i` then the result is:
[code]
but if I uncomment these lines in lua method
[code]
then the result for the

[2022-06-25 08:03] github-actions[bot] opened #21889 "Newer release available `com_github_nghttp2_nghttp2`: v1.48.0 (current: v1.47.0)"
Package Name: com_github_nghttp2_nghttp2@1.47.0
Current Version: v1.47.0@2022-02-23
Available Version: v1.48.0@2022-06-24
Upstream releases: https://github.com/nghttp2/nghttp2/releases

[2022-06-25 08:03] github-actions[bot] opened #21890 "Newer release available `org_llvm_llvm`: llvmorg-14.0.6 (current: llvmorg-12.0.1)"
Package Name: org_llvm_llvm@12.0.1
Current Version: llvmorg-12.0.1@2021-07-09
Available Version: llvmorg-14.0.6@2022-06-25
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-06-25 08:03] #21873 closed

[2022-06-25 08:03] github-actions[bot] opened #21891 "Newer release available `org_llvm_releases_compiler_rt`: llvmorg-14.0.6 (current: llvmorg-14.0.0)"
Package Name: org_llvm_releases_compiler_rt@14.0.0
Current Version: llvmorg-14.0.0@2022-03-23
Available Version: llvmorg-14.0.6@2022-06-25
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-06-25 08:03] #21874 closed

[2022-06-25 08:35] yankunsam commented on #21368
I need a new label, "help wanted".

[2022-06-25 08:55] bryanwux commented on #21586
Hi, I am interested in picking this up. If I understand correctly, we should add a new config knob for XFP so that :
1. If `XFP-enable` (or named something else)  is set to True, then we should see all of the three headers (_X-Forwarded-Proto_, _X-Forwarded-Port_, _X-Forwarded-Host_ ) come together
2. If `XFP-enable`  is set to False, then we should not expect _X-Forwarded-Proto_ appearing as HTTP

[2022-06-25 15:59] AlexanderEllis commented on #9958
Hi all, just wanted to give a quick update here.

The bare bones tracer PR has been merged (🎉 ), which represents most of the work to get the tracer in place. There are a few more items to bring this from WIP to alpha (imo), and I'm planning to follow up with a few PRs to implement these (but happy to also review/help if anyone else wants to send PRs as well). A short list includes:

- Fleshing ou

[2022-06-25 16:01] #21298 closed

[2022-06-25 16:01] #21346 closed

[2022-06-25 16:01] #21349 closed

[2022-06-25 16:27] gyohuangxin commented on #20956
@slahirucd7 Hi, we also performed some benchmark using large payloads requests, but didn't observe the performance dropped. We use fortio to send large files (100KB to 1MB) with connections ranging from 1 to 128, the test lasts 90s per connection. We give Envoy 4 CPUs and 4000Mi memory. So your case may reproduce only when the long term and uninterrupted requests, did you monitor the CPU/Memory us

[2022-06-26 08:01] #21334 closed

[2022-06-27 01:00] WestEnlarged commented on #13068
does anyone can help me, or give some tips .  @mattklein123

[2022-06-27 07:44] iglin commented on #21586
Yes! This would be prefect.

[2022-06-27 08:03] github-actions[bot] opened #21897 "Newer release available `bazel_gazelle`: v0.26.0 (current: v0.24.0)"
Package Name: bazel_gazelle@0.24.0
Current Version: v0.24.0@2021-10-11
Available Version: v0.26.0@2022-06-26
Upstream releases: https://github.com/bazelbuild/bazel-gazelle/releases

[2022-06-27 08:03] #20501 closed

[2022-06-27 08:03] github-actions[bot] opened #21898 "Newer release available `com_github_curl`: curl-7_84_0 (current: curl-7_83_1)"
Package Name: com_github_curl@7.83.1
Current Version: curl-7_83_1@2022-05-11
Available Version: curl-7_84_0@2022-06-27
Upstream releases: https://github.com/curl/curl/releases

[2022-06-27 08:22] Jacobien1 commented on #21783
Hello, sorry for the late response, I use it with  timeout and without zero timeout

[2022-06-27 09:06] sreekanth-bg commented on #19895
@ns-asriram how were you able to achieve this using global rate limits? ie rate limiting based on the {id} which is in the URL?

[2022-06-27 10:50] Jacobien1 opened #21899 "docker image building error"
Hello,
I'm trying to do some modifications to the repo and test a local docker image that I want to build but I'm facing some issues.
I'm following the steps from as shown on this page:
https://www.envoyproxy.io/docs/envoy/latest/start/building/local_docker_build

but I have the following error:

could not download Bazel: HTTP GET https://github.com/bazelbuild/bazel/releases/download/6.0.0-pre.202

[2022-06-27 11:01] phlax commented on #21899
hi @Jacobien1 can you post output from:

[code]

[2022-06-27 11:11] 13567436138 opened #21900 "can not use json library in envoy lua"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.
[code]
*Repro steps*:

required to repr

[2022-06-27 11:13] 13567436138 opened #21902 "lua can not call math mod"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
lua can not call math mod
*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.
[code]
*Repro

[2022-06-27 11:21] Jacobien1 commented on #21899
could not download Bazel: could not create temporary file: open /build/.cache/bazelisk/downloads/bazelbuild/bazel-6.0.0-pre.20220421.3-linux-x86_64/bin/download239869929: permission denied
./ci/../bazel/setup_clang.sh: line 32: /clang.bazelrc: Permission denied

I get this error

[2022-06-27 11:21] Jacobien1 commented on #21899
@phlax  I get this error

could not download Bazel: could not create temporary file: open /build/.cache/bazelisk/downloads/bazelbuild/bazel-6.0.0-pre.20220421.3-linux-x86_64/bin/download239869929: permission denied
./ci/../bazel/setup_clang.sh: line 32: /clang.bazelrc: Permission denied

[2022-06-27 11:24] phlax commented on #21899
hmm - are you running docker build on the host ?

i think that maybe these docs need updating - my guess is that this only works running inside the build container now

[2022-06-27 11:28] Jacobien1 commented on #21899
@phlax what do you mean by the host?

[2022-06-27 11:30] phlax commented on #21899
the instructions in the docs that you posted above - they first suggest building the envoy binary _inside_ a build container, and then build the container _outside_ of the build container - ie on the host - i dont think this works any more, but not sure

[2022-06-27 11:35] Jacobien1 commented on #21899
I think my problem comes from the virtual machine that I'm working from as it's secured so I suppose I don't have access to a public github repo

[2022-06-27 12:00] LuyaoZhong commented on #18928
@ggreenway kindly ping :)

[2022-06-27 12:19] alyssawilk commented on #13068
yeah sorry this detail is confusingly named, I'll look into improving it.
When the router finishes processing the request, it sets up onResponseTimeout() to fire after the configured global timeout expires.  onResponsetimeout triggers sending a local reply with UpstreamTimeout even though if the global timeout is short and the time to establish connection is long, the upstream may not be assigned.

[2022-06-27 12:24] alyssawilk commented on #21586
SGTM.  I think we'll also have to runtime guard, since the default behavior will change.  Please tag @yanavlasov on review as I think we want to consolidate header sanitization in one API section going forward so we configure UHV (unified header validation) in one place.

[2022-06-27 13:50] Asisranjan opened #21906 "retry request using envoy filter"
my use case is to retry sending request from envoy_on_response method when response code >= 5XX received .
Please help

Thanks
Asis

[2022-06-27 16:33] atterdag commented on #15235
I'm still getting this issues with docker.io/envoyproxy/envoy:v1.22.2

I'm trying on RP4 model B rev 1.2 with Debian Bullseye using K3S.

Did envoy switch back from gperftools because I can just use Ubuntu Focal (CONFIG_PGTABLE_LEVELS=4) instead of Debian Bullseye (CONFIG_PGTABLE_LEVELS=3)?

[code]

[2022-06-27 17:18] stevenzzzz commented on #19908
close this issue now.

[2022-06-27 17:18] #19908 closed

[2022-06-27 19:05] paul-r-gall opened #21910 "Per-XDS type callbacks"
*Title*: Add per-xds callback extensions that can run arbitrary code after an XDS response has been accepted.

*Description*:
Currently, Envoy contains `ClusterUpdateCallbacks` which allows users to supply extensions that are run when clusters are added or removed. Similar functionality would be very useful for other XDS resources. This could be implemented either as a general XDS update hook, or

[2022-06-27 19:46] yanavlasov commented on #21598
CONNECT request is not encrypted. listener_1 terminates TLS connection that will be encapsulated in the CONNECT request.

You have conflicting requirements. You said that Envoy should send unecrypted traffic to your internal proxy.

[2022-06-27 19:56] kamranmohammed commented on #21598
So our requirement is this:
Our corp proxy is still HTTP (not HTTPS) but it should create a TLS tunnel for the client to server (destination) communication.
so we are okay if the connect TLS connection is terminated by the loopback listener but the tunnel that it creates for client server communication should still be secure. Is that happening with the above configuration or no? If not, then how c

[2022-06-27 19:57] stevenzzzz opened #21911 "[xds]: export discoveryReq/Resp resource count, payload size metrics to help understand network bandwidth cost of control plane."
*Title*: *export discoveryReq/Resp resource count, payload size metrics to help understand network bandwidth cost of control plane.*

*Description*:
export discoveryReq/Resp resource count, payload size metrics to help understand network bandwidth cost of control plane.

Metrics could be:
  Per request/response resource{added, removed} count,
  Raw protobuf config size

this way we can better unde

[2022-06-27 19:58] stevenzzzz commented on #21911
@AndresGuedez @adisuissa @htuch

[2022-06-27 21:15] stevenzzzz opened #21914 "re2: depend on the abseil branch instead"
*Title*:  re2: depend on the abseil branch instead.

*Description*:
Right now Envoy depends on the default branch of re2 which uses re2::StringPiece for absl::string_view like operation, we should consider use the "abseil" branch instead so we don't need to take care of re2::stringpiece within Envoy codebase.

[optional *Relevant Links*:]

[2022-06-27 21:16] stevenzzzz commented on #21914
@yanavlasov

[2022-06-27 21:16] stevenzzzz commented on #21914
@jmarantz

[2022-06-27 21:44] nrmitchi commented on #3143
Is these any desire to "fix" this behaviour in the dog_statsd/statsd sinks? This is somewhat inconvenient (and also confusing since it isn't really reflected in the proto)

[2022-06-27 22:21] #21856 closed, assigned to nobody

[2022-06-27 22:50] juwatanabe commented on #14070
Any updates on the POC?

[2022-06-28 00:07] daixiang0 commented on #21783
@Jacobien1 for now you need to build it at local, then modify Dockerfile-proxy in redis example like below:
[code]
Then you can run via `docker-compose build && docker compose up` to try.

[2022-06-28 00:17] daixiang0 commented on #21914
Share link https://github.com/google/re2/tree/abseil while no details about what it cover.

[2022-06-28 00:24] daixiang0 commented on #21900
Could you share your config here? And could you run it successfully at local outside Envoy?

[2022-06-28 00:25] daixiang0 commented on #21902
cross with #21900

[2022-06-28 01:04] jmarantz commented on #21914
HI @daixiang0 -- not sure what you are asking. This is just a variant of the absl library that uses absl::string_view for representing char data, rather than re2::StringPiece, which is essentially the same class, but replicated inside re2. It's a more convenient to be able to interface to the re2 library view absl::string_view.

[2022-06-28 02:24] 13567436138 commented on #21900
[code]

[2022-06-28 02:26] 13567436138 commented on #21902
[code]

[2022-06-28 03:16] WestEnlarged commented on #13068
@eziskind thanks , your answer give me huge help.
before i not specify the global timeout (default route timeout is 15s) and tested my upstream endpoint service directly (without envoy) that average time about 300ms response and stablely .

so it's strange that i just want to ensure every request throuth envoy can send to upstream service and not to omit.

with your proposal, i change some global

[2022-06-28 04:44] kyessenov commented on #14070
There has not been much activity so this issue is looking for someone willing to commit to fixing Envoy ABI.

[2022-06-28 06:32] Jacobien1 commented on #21783
@daixiang0 that's the problem I'm facing to build it locally, the documentation is vague and I don't know how to build an image locally

[2022-06-28 06:35] Jacobien1 opened #21915 "Build a local image of an envoy repository"
I have a non-official repository that I'm interested in testing, so I thought of making a local docker image but the documentation that I found is a bit vague so can someone explain please how can I have a local docker image of a repo

[2022-06-28 06:45] daixiang0 commented on #21783
Just replace binary in envoyproxy/envoy:latest is enough for tests.

[2022-06-28 06:50] #21865 closed

[2022-06-28 07:19] Jacobien1 commented on #21783
@ggreenway I did but I have the following error, do you know why?
![image](https://user-images.githubusercontent.com/38212679/176117619-733d41fa-aed9-4084-acb9-54b47c4e968e.png)

[2022-06-28 07:32] daixiang0 commented on #21783
Never met, here is my log:
[code]

[2022-06-28 08:03] github-actions[bot] opened #21916 "Newer release available `aspect_bazel_lib`: v1.4.0 (current: v1.3.1)"
Package Name: aspect_bazel_lib@1.3.1
Current Version: v1.3.1@2022-06-21
Available Version: v1.4.0@2022-06-28
Upstream releases: https://github.com/aspect-build/bazel-lib/releases

[2022-06-28 08:03] github-actions[bot] opened #21917 "Newer release available `com_github_wasmtime`: v0.38.1 (current: v0.35.2)"
Package Name: com_github_wasmtime@0.35.2
Current Version: v0.35.2@2022-03-31
Available Version: v0.38.1@2022-06-27
Upstream releases: https://github.com/bytecodealliance/wasmtime/releases

[2022-06-28 08:03] github-actions[bot] opened #21918 "Newer release available `com_google_protobuf`: v21.2 (current: v3.19.4)"
Package Name: com_google_protobuf@3.19.4
Current Version: v3.19.4@2022-01-28
Available Version: v21.2@2022-06-24
Upstream releases: https://github.com/protocolbuffers/protobuf/releases

[2022-06-28 08:03] #21495 closed

[2022-06-28 08:17] Jacobien1 commented on #21783
AHHH so I have to build a binary first

[2022-06-28 09:04] VivekSubr opened #21919 "build fails for 1.19.4 release"
*Description*:
Build fails for 1.19.4, with error,
ERROR: /home/vivek/new_envoy/envoy/source/extensions/filters/network/kafka/BUILD:235:8: Executing genrule //source/extensions/filters/network/kafka:serialization_composite_generated_source failed: (Exit 127): bash failed: error executing command
  (cd /root/.cache/bazel/_bazel_root/031accc3d4334e973810b7005aae01bb/execroot/envoy && \
  exec env -

[2022-06-28 09:24] wbpcode commented on #21900
Please install the `cjson` in the image first.

[2022-06-28 09:29] gogowaiting opened #21920 "envoy start error deploy way is sidecar in my app"
*Title*: *One line description*
deploy envoy sidecar in my app ，but envoy contianer start error。
I want to configure the external OPA authentication function through envoy and start the error reporting through sidecar,
*Description*:

uri is my opa sidecar access url
this is my envoy.yaml file

`static_resources:
  listeners:
    - name: listener_0
      address:
        socket_address: { address:

[2022-06-28 09:32] wbpcode commented on #21881
@rshriram @venilnoronha

[2022-06-28 09:55] VivekSubr commented on #21919
It required python2, rather than python3

[2022-06-28 09:55] #21919 closed

[2022-06-28 10:20] LuyaoZhong commented on #18928
@ggreenway Thanks. We will explore implementation based on design clarified in [bumping doc](https://docs.google.com/document/d/1B6TaqkwjlUqIOYTLqcprwtsQsg8TXitLQQnvXg2WIbU/edit#).

4 work items were worked out:
1. Certificate Provider framework
2. SNI-based cert selection in tls transport socket
3. A new network filter - BumpingFilter
4. Certificate Provider instance - LocalMimicCertProvider

We

[2022-06-28 10:32] wbpcode commented on #21888
The requests cannot match any route entry at first because the `dynamic_metadata` match. Although you update the dynamic metadata by the `Lua` code, the initial match result (null) will not be changed. So `404 Not Found` will be return by the Envoy.

But if you uncomment the headers updating code, the lua filter will clear the inital match result and for Envoy to re-match the route entry.  So `200

[2022-06-28 10:33] cobb-tx commented on #19927
@shubhammittal90  i hava same problem,How did you solve it

[2022-06-28 11:49] LuyaoZhong commented on #21739
@ggreenway kindly ping :)

[2022-06-28 11:58] Jacobien1 commented on #21783
@daixiang0 sorry for bothering, is there anyway to build the binary without making the tests, it looks like it takes a long time to build one

[2022-06-28 11:59] caoyukun0430 opened #21923 "memory heap not released long after overload manager actions triggered"
*Title*: *memory heap not released long(~24h) after overload manager actions stop_accepting_connections/requests triggered*

*Description*:
We are recently testing overload manager with istio and have questions about memory release behaviors. Our scenario is to overload the ingressgateway heap_size configured via sending requests from large number of concurrent connections, then we see stop_accept

[2022-06-28 13:01] wbpcode commented on #21906
Could you just use the `httpcall` in the `envoy_on_response`?

[2022-06-28 13:02] wbpcode commented on #21910
cc @mattklein123

[2022-06-28 13:10] wbpcode commented on #21915
May be you can build you binary locally first and then build the image with `https://github.com/envoyproxy/envoy/blob/main/ci/Dockerfile-envoy`.

[2022-06-28 13:17] phlax commented on #21915
this seems to be a duplicate of https://github.com/envoyproxy/envoy/issues/21899

@Jacobien1 can we focus the conversation there - i am following up and will post more shortly

[2022-06-28 13:17] #21915 closed

[2022-06-28 13:49] yanavlasov commented on #21598
You have 3 connections. Connection between client and Envoy is encrypted. Connection between Envoy and corp proxy is not encrypted. And only you can answer if connection between corp proxy is origin server is encrypted or not, since you have configured it.

[2022-06-28 13:56] aqua777 commented on #21092
We noticed that enabling the heap profiler by `POST /heapprofiler?enabled=y` causes significant delays on Prometheus stats endpoint. With heap profiler enabled running `GET /stats/prometheus` takes ~8-9 seconds, without heap profiler it takes just ~100 milliseconds.

Is that expected?

[2022-06-28 14:06] jmarantz commented on #21092
seems plausible. Prometheus stats allocate a very large amount of temp storage so it's not surprising it stresses the memory profiler.

[2022-06-28 14:14] aqua777 commented on #21092
@jmarantz thanks for clarification!

[2022-06-28 14:31] #21755 closed

[2022-06-28 14:43] phlax commented on #21899
most likely yes, but the docced command also builds other artefacts for docker build - i dont think there is an existing code path that does that - or a flag that skips the tests

its taking me a while to run through because i wanted to run exactly what is in the docs from a clean env, which can take a long time

[2022-06-28 15:58] phlax commented on #21652
this should be resolved in https://github.com/envoyproxy/envoy/pull/21657

[2022-06-28 15:58] #21652 closed

[2022-06-28 16:01] #20964 closed

[2022-06-28 16:02] phlax commented on #21650
this should be fixed in #21657

[2022-06-28 16:02] #21650 closed

[2022-06-28 16:18] #21877 closed

[2022-06-28 16:22] aanshul22 opened #21929 "Request Body Validation"
For a POST request, is it possible to validate the request body by using a JSON/YAML config model?

I would like to use schema matching to validate the request payload. I cannot find anything that lets me access the request body and check for required /missing parameters and check for the data types of the parameter values.

[2022-06-28 16:38] aanshul22 commented on #21929
@phlax Could you please assist? I would really appreciate it.

[2022-06-28 16:42] phlax commented on #21929
im not aware of any existing extension that does this - but i may be wrong

[2022-06-28 16:43] phlax commented on #21929
see https://www.tetrate.io/blog/validating-a-request-payload-with-wasm/

[2022-06-28 16:47] howardjohn opened #21930 "Support 500 error for cluster not found"
*Title*: *One line description*

*Description*:
In v0.5.0 of gateway-api, 500 should be returned for invalid references: https://github.com/kubernetes-sigs/gateway-api/blob/cea484e38e078a2c1997d8c7a62f410a1540f519/apis/v1beta1/httproute_types.go#L204-L221

Fault injection is not viable to implement this, afaik, since we may want a weighted cluster and only have it apply to one of the clusters. Ins

[2022-06-28 16:59] jparklab commented on #19910
I also hit this issue. I am using ext_auth filter to set dynamic metadata and envoy fails to match route using the dynamic metadata unless I add the lua filter that sets a dummy header. I've tested with envoy 1.20 and 1.21 and both showed the issue

[2022-06-28 17:00] jparklab commented on #19910
/reopen

[2022-06-28 17:09] #21867 closed

[2022-06-28 17:44] jparklab commented on #19910
In my case, it was because clear_route_cache is not triggered when there is no additional header set by the filter(see https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/ext_authz/v3/ext_authz.proto.html), but I only set metadata from ext_authz filter. Route matching works as expected after I set a header from ext_authz filter.
@lucallero you'd want to check if you are sett

[2022-06-28 18:47] phlax commented on #21899
@Jacobien1 after several attempts at directly following the docs i gave up trying to get the tests to work and commented them out - with:

[code]

with that i could get the bulid, and hit the docker issues that i ~expected

i have opened a PR here #21933 to address the issues i found

it would be great if you could test that PR and see if it resolves your issues

[2022-06-28 19:48] lizan commented on #21899
bazel.release.server_only is the target of ci/do_ci.sh?

[2022-06-28 19:53] phlax commented on #21899
lets update the docs to use that

[2022-06-28 23:08] Jacobien1 commented on #21899
@lizan @phlax i got the following error while compiling

Server terminated abruptly (error code: 14, error message: 'Socket closed', log file: '/build/tmp/_bazel_envoybuild/b570b5ccd0454dc9af9f65ab1833764d/server/jvm.out')

anybody knows why

[2022-06-29 01:09] daixiang0 commented on #21920
The route filter should be the last, please check https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/ext_authz.html?highlight=envoy%20filters%20http%20ext_authz and try.

[2022-06-29 02:45] jacob-delgado commented on #21640
I talked with a respected network solutions architect at F5, here's what he had to say as he understands the topic a lot better than I ever would:

[2022-06-29 04:16] #21377 closed

[2022-06-29 04:16] #21389 closed

[2022-06-29 05:34] phlax commented on #21899
i got the same when i tried to run with the tests also - i think it is bazel OOMing

was the above log from running:

[code]
?

[2022-06-29 05:51] phlax opened #21935 "Test examples incrementally"
currently we test all examples every time and do so outside of bazel

its not really possible (or at least not easy) to make the examples truly hermetic - mostly because they rely on system docker - if we were to switch to `rules_docker` they would still need to parse/translate the `docker-compose` instructions into docker rules

we can however make it almost hermetic - by using a bazel sourced do

[2022-06-29 06:31] phlax commented on #21935
one downside to using docker-compose from pypi is that it doesnt easily work on ARM (due to pynacl compile issues)

[2022-06-29 06:36] phlax commented on #21935
actually seems docker-compose release binaries - so that should resolve that issue i think

[2022-06-29 07:25] yankay opened #21936 "Support "envoyproxy/envoy-distroless" image in arm64"
*Title*:  Support "envoyproxy/envoy-distroless" image in arm64

*Description*:

In the doc, it shows Support "envoyproxy/envoy-distroless" image in arm64.

![image](https://user-images.githubusercontent.com/1469319/176376986-db918eb4-bf7d-41bf-b031-73bff3fee0ef.png)

But in the docker hub, there are no arm64 image.

![image](https://user-images.githubusercontent.com/1469319/176377095-aaaa19cc-0a47

[2022-06-29 07:30] lizan commented on #21899
What's your machine spec?

[2022-06-29 07:44] phlax commented on #21899
[code]

[2022-06-29 07:54] phlax commented on #21936
hi @yankay this was fixed in https://github.com/envoyproxy/envoy/pull/21134

the docs you posted are for `latest` - i dont think the 1.20 branch has the fix

im thinking it would probably not be so difficult to backport it

[2022-06-29 08:03] github-actions[bot] opened #21937 "Newer release available `aspect_bazel_lib`: v1.5.0 (current: v1.3.1)"
Package Name: aspect_bazel_lib@1.3.1
Current Version: v1.3.1@2022-06-21
Available Version: v1.5.0@2022-06-28
Upstream releases: https://github.com/aspect-build/bazel-lib/releases

[2022-06-29 08:14] catalin-me opened #21938 "Is it possible to manipulate the initial request headers while using ext_authz?"
Is it possible to adjust the original request headers while using an external authorization filter after the request is validated?

For example, I have tried to edit the `r.HTTPRequest.Attributes.Request.Http.Headers[k] = v` structure using custom values, but the initial request seems to remain intact.

[2022-06-29 08:29] 13567436138 commented on #21902
ok,I will try

[2022-06-29 12:16] kfaseela opened #21941 "local reply modification: support non-string values in Substitution format string in json_format"
*Description*:

We configure “local reply modification” to modify status codes for certain local replies (“local” means that Envoy generates these replies, not an upstream host).
Documentation here: https://www.envoyproxy.io/docs/envoy/v1.22.2/configuration/http/http_conn_man/local_reply.html

We also add a body with content-type application/problem+json according to RFC 7807 (https://www.rfc-edit

[2022-06-29 13:10] gogowaiting commented on #21920
ok，thanks

[2022-06-29 13:17] wbpcode commented on #21851
Could you give some more descriptions about the specific scenes?

IMO, this may be useful in the mesh where the mTLS is disabled and authentication is necessary.

[2022-06-29 13:20] wbpcode commented on #21920
I think this may be can be closed directly now? @gogowaiting

[2022-06-29 13:31] wbpcode commented on #21914
IMO, this is sounds great. But will the "abseil" branch gets the same level of support as the default one?

[2022-06-29 13:40] phlax commented on #20915
ive managed to repro this one of the examples (`cors`) - not sure why exactly - but will try to track down (ci skips the `--pull` step)

[2022-06-29 13:59] wbpcode commented on #21923
And could you check your `shrink_count` to ensure the shrink action is triggered. Thanks.

[2022-06-29 14:13] wbpcode commented on #21930
IMO, I thinks it is reasonable to support custom 5xx response code for the `cluster_not_found`.

And `LocalReplyConfig` may can be a alternative.

[2022-06-29 14:14] wbpcode commented on #21930
cc @mattklein123

[2022-06-29 14:30] wbpcode commented on #21938
Yeah. You can override the original request headers by set `headers` in the ok response.

https://www.envoyproxy.io/docs/envoy/latest/api-v3/service/auth/v3/external_auth.proto#service-auth-v3-okhttpresponse

[2022-06-29 14:42] wbpcode commented on #21941
Yeah, it seems that it's a bug indeed. For now, only string/struct/list are supported for the Json formatter and this is not matched with the docs.

[2022-06-29 14:59] wbpcode commented on #21941
Looks like the "%RESPONSE_CODE%" can be handled as number, and the "400" can only be treated as string.

[2022-06-29 16:02] moderation commented on #21914
It looks like the `abseil` branch is significantly out of step with main
![image](https://user-images.githubusercontent.com/246317/176482508-cede8b4e-dbb0-493c-9d09-afe32d3cc844.png)

Is there any context on why the `abseil` branch exists, who maintains it, gotcha's etc.?

[2022-06-29 16:09] phlax opened #21944 "Improve diff messaging for non-ci use of (ci) format task"
Currently it shows you the diff, and suggests applying it and then recommends checking the ci artefacts

none of which is helpful when you are running this locally, and the diff _is_ the diff of your actual fs

[2022-06-29 16:09] phlax commented on #21944
cc @tyxia

[2022-06-29 17:02] ameily opened #21946 "ci: proto_format.sh script fails on git push"
*Title*: ci: proto_format.sh script fails on git push

*Description*:
I'm attempting to push to a fork of Envoy and the `proto_format.sh` script is failing. This also occurs when I run the script manually, outside of a `git push`.

[code]

Prior to clearing my bazel cache, the `data_pickle.P` file referenced in the error did exist. After clearing the cache, the file no longer exists.

One of the d

[2022-06-29 18:30] toddmgreer commented on #9860
Resolving this will at least require implementing a cap on estimated or actual memory usage, including evicting entries and rejecting excessively large insertions. Most likely, whoever decides to be the first to use SimpleHttpCache in production will find and fix whatever issues we haven't thought of (as with all software, it's buggy until proven otherwise). If you'd like to pursue this, I'll happ

[2022-06-29 20:01] #20335 closed

[2022-06-29 20:01] #21290 closed

[2022-06-29 20:32] KBaichoo commented on #21923
So let's get this straight:
Max Heap Size is: 30MB
heapShrinkPercent: 0.5
heapStopAcceptConnPercent: 0.7

Your application heap size ranges from 10MB - 22MB from the data provided, and for most of the provided samples page heap free is 0.

As this is Istio, we're using gperftools, as such we can see that our call to https://github.com/gperftools/gperftools/blob/bf8b714bf5075d0a6f2f28504b43095e2b1e

[2022-06-29 20:38] wlhee opened #21952 "Is it possible to configure Envoy to not start listening until all upstreams is healthy?"
*Title*: *Is it possible to configure Envoy to not start listening until all upstreams is healthy?*

*Description*:
We configured a static upstream cluster with active health check enabled, and we want Envoy to not start listening util the upstream is healthy.

[2022-06-29 20:38] DanStough opened #21953 "forward_downstream_sni Filter for Forward Proxy Egress"
*Title*: *Add a filter to forward downstream SNI to an upstream cluster that is also an envoy proxy (egress proxy)*

*Description*:
This feature was already discussed as part of #4076 and declined as part of #4334 as [istio-specific](https://github.com/envoyproxy/envoy/pull/4334#issuecomment-436478343), but I was trying to do something similar with bare Envoy and couldn't figure out a better way t

[2022-06-29 21:22] drorke commented on #21575
@daixiang0 Thanks - I'll take a closer look at #20268 now that it's merged to see if it will help with my usecase.  Leaving this issue open for now because I suspect we'll still need some more changes to address my issue even if #20268 provides a foundation for it.

[2022-06-29 22:41] qiwzhang commented on #21490
it could be the lower level protobuf converter library did not return any errors, silently abort the conversion, so the end result is an empty proto message.

So far there is not a known work around for this.

Will take a look.

[2022-06-29 22:44] marcosrmendezthd commented on #21812
any updates on this?

[2022-06-29 23:09] kyessenov commented on #19470
Confirming this was fixed:

[code]

[2022-06-30 01:38] daixiang0 commented on #21946
Is it related to remote cache? It works at my local without remote cache.

[2022-06-30 02:41] kyessenov commented on #21930
503 is more appropriate for transient cluster-not-yet-found errors. Why not just direct respond with 500 if cluster is known to be permanently missing?

[2022-06-30 07:10] phlax commented on #21946
i believe it to be related to RBE - im going to try and repro locally

[2022-06-30 07:55] saltbo commented on #21513
Maybe implement it by lua:
[code]

[2022-06-30 08:02] Jacobien1 commented on #21899
@lizan you're right that was a machine spec problem.

@lizan @phlax, after a long time waiting for the binary to be build I finally have one, how can I build a docker image that I can use? I've my binary in a build file so as I saw in the documentation the binary is at /build/envoy/source/exe/envoy

[2022-06-30 08:13] phlax commented on #21899
you will need to merge/rebase current `main` and then assuming all is correct with your build - running

[code]

should work

[2022-06-30 08:19] Jacobien1 commented on #21899
@phlax even if the binary is not tmp file?

[2022-06-30 08:24] phlax commented on #21899
with updated `main` it should look in the right place

[2022-06-30 09:54] phlax commented on #21899
@Jacobien1 can you let me know if you were successful

if you were up for updating the docs to switch `bazel.release` -> `bazel.release.server_only` in the build instructions, that would be helpful - if not, i can do it.

[2022-06-30 10:37] Jacobien1 commented on #21899
I have to compile an other time to see some changes, I'll let you know when I do

[2022-06-30 10:42] jcchavezs opened #21959 "Enrich proxy spans with filter data"
I was looking at envoy traces generated both when you run a filter and when you don’t and I see traces are pretty much the same except for the fact that when a filter blocks a request, no upstream_cluster/upstream_cluster.name is set (which makes sense). Also there is no clue on the duration of the filter execution (at least in traces) which keeps you blind about the duration of the filter executi

[2022-06-30 11:00] LuyaoZhong commented on #21739
After thinking about this for a while, we don't need to create a map, we can just add a member `SANs` and `CN` to TlsContext, just like [is_ecdsa_](https://github.com/envoyproxy/envoy/blob/f14eee844d47bcd0429e5b6c31e3a51d54dd13ae/source/extensions/transport_sockets/tls/context_impl.h#L46) in TlsContext, then we look up these TlsContext objects, and do SNI matching.

@ggreenway What do you think ab

[2022-06-30 12:01] #21355 closed

[2022-06-30 12:29] drouhana opened #21961 "Porting BoringSSL-OQS Fork Into Envoy"
Hi everyone, firstly apologies if this is the wrong place to open a discussion on this.

## What I'm Trying To Do

I'm currently working on an open source implementation of a post-quantum enabled service mesh. This effort is in 3 parts:

- Nginx-oqs (finished in march of this year)
- Envoy (in progress)
- Istio (contingent on completion of envoy)

Nginx was fairly straightforward to port the OpenS

[2022-06-30 12:43] huanghuangzym commented on #14930
2022-06-29T08:40:44.324552Z critical    envoy assert    assert failure: Thread::MainThread::isMainThread().
2022-06-29T08:40:44.324633Z critical    envoy backtrace Caught Aborted, suspect faulting address 0x53900000022
2022-06-29T08:40:44.324644Z critical    envoy backtrace Backtrace (use tools/stack_decode.py to get line numbers):
2022-06-29T08:40:44.324653Z critical    envoy backtrace Envoy vers

[2022-06-30 14:17] phlax commented on #20915
i think i have a fix for this - i need to test further to confirm but looks promising - i will PRing some cleanups for the examples and will include there

[2022-06-30 14:40] stevenzzzz commented on #21684
/cc stevenzzzz

[2022-06-30 15:22] spappier opened #21963 "Respond with connection: close on upstream connect failures in original dst"
*Title*: Respond with connection: close on upstream connect failures in original dst

*Description*:
When intercepting traffic with original destination there is a change in behavior where traffic that would have failed the connect previously now connects to envoy successfully but receives a 503 from envoy. Some clients close the connection after receiving a 503 but others don't. Envoy could respo

[2022-06-30 16:05] howardjohn commented on #21930
I am fine with solutions like direct_response if we can do it on a weighted cluster basis btw (and keep the transient cluster-not-yet-found errors as 503), the proposed solution just seemed the simplest

[2022-06-30 16:14] kyessenov commented on #14930
Can you confirm this is on latest Envoy? The error is about removal of a filter from a non-main worker, which I think we handled.

[2022-06-30 17:45] alyssawilk commented on #21684
FWIW after some discussion with the team on their design constraints, upstream filters aren't sufficient for a couple of reasons.  I'm working with paul on design and will take first pass on reviews.

[2022-06-30 17:57] Hexta commented on #21639
@keremgocen Hey, are you going to implement this?

[2022-06-30 19:15] freedomljc opened #21967 "Allow immediate health check failure without active health check configured"
*Title*: *Allow immediate health check failure without active health check configured*

*Description*:
Based on [x-envoy-immediate-health-check-fail](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/router_filter#x-envoy-immediate-health-check-fail), it will exclude the host from load balancing only when the healthcheck is configured in the cluster. Currently we are expl

[2022-06-30 20:01] #21416 closed

[2022-06-30 20:27] jwineinger commented on #14233
@jmarantz I see you closed this as completed. Was this issue fixed somewhere else?

[2022-06-30 22:15] phlax commented on #21797
https://source.cloud.google.com/results/invocations/0544fabd-21fd-46b7-b7d6-65cd907d72b0/targets

[2022-07-01 01:27] huanghuangzym commented on #14930
we used  envoy version is
version: edfec5636eb3494b1e5728891f8c0a6eba3e7d9f/1.20.3-dev/Clean/DEBUG/BoringSSL

and we cherry-pick  this pr
https://github.com/envoyproxy/envoy/pull/19630    build it self
can help to show which commit  remove of a filter from a non-main worker?

[2022-07-01 04:00] 13567436138 commented on #21900
thanks

[2022-07-01 04:00] #21900 closed

[2022-07-01 04:02] 13567436138 opened #21975 "http rbac metadata config is not effectve"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

I configured jwt auth,with header to metadata ,then using this metadata to rbac,but not work
[optional *Relevant Links*:]

ef

[2022-07-01 04:23] #21425 closed

[2022-07-01 06:07] daixiang0 opened #21976 "CI failure log is not clear"
*Title*: *CI failure log is not clear*

*Description*:
https://dev.azure.com/cncf/envoy/_build/results?buildId=111877&view=logs&j=55bc2ab9-36c1-5ab8-58a6-8c258728eeff&t=33b57bf9-ef13-58c8-bc2b-f804aeb16d39&l=108

[code]

The `buf` here misleads me, after check format_pre script, I get it means `buf` command.

[2022-07-01 07:31] Edimo24 opened #21979 "Remove HTTP request/response headers from DEBUG LOGs"
I am trying to remove completely HTTP request/response headers from debug logs to avoid leakage of sensitive information. Do you have any suggestion where is the best option to do the changes?

I was thinking probably at https://github.com/envoyproxy/envoy/blob/main/source/common/router/upstream_request.cc or https://github.com/envoyproxy/envoy/blob/main/source/common/router/debug_config.cc.

I wo

[2022-07-01 07:56] caoyukun0430 commented on #21923
Thanks for the hint! But where can I use the  `shrink_count` parameter to check? Is it exposed as a stat?

[2022-07-01 08:03] github-actions[bot] opened #21980 "Newer release available `com_google_absl`: 20220623.0 (current: 6f43f5b)"
Package Name: com_google_absl@6f43f5bb39
Current Version: 6f43f5b@2022-04-04
Available Version: 20220623.0@2022-06-23
Upstream releases: https://github.com/abseil/abseil-cpp/releases

[2022-07-01 08:03] github-actions[bot] opened #21981 "Newer release available `com_google_googletest`: release-1.12.1 (current: a4ab0ab)"
Package Name: com_google_googletest@a4ab0abb93
Current Version: a4ab0ab@2020-09-10
Available Version: release-1.12.1@2022-06-30
Upstream releases: https://github.com/google/googletest/releases

[2022-07-01 09:02] kfaseela commented on #21941
We cannot use %RESPONSE_CODE% when modifying the local reply because we need to replace the current value of %RESPONSE_CODE% with a value of our own

[2022-07-01 10:08] tpetkov-VMW commented on #20578
Looks like the best solution will be to extend
api/envoy/type/matcher/v3/string.proto and put the relevant code in
source/common/common/matchers.h (cc)
However, with a simple patch to frame it, I'm getting a compile error, because api/envoy/type/matcher/v3/string.proto and
https://github.com/cncf/xds/blob/main/xds/type/matcher/v3/string.proto start to differ:
[code]
@htuch  - Can you help out? The

[2022-07-01 10:10] saltbo opened #21982 "Do we have any plans to support OIDC?"
*Title*: *Do we have any plans to support OIDC?*

*Description*:

[optional *Relevant Links*:]
- https://developers.google.com/identity/protocols/oauth2/openid-connect#discovery
- https://openid.net/specs/openid-connect-core-1_0.html

[2022-07-01 10:51] shavros opened #21983 "failing trying to build envoy with bazel"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:
A few months ago I built envoy with bazel successfully.
Now I tried several times, but every build ends with same error:
<img

[2022-07-01 11:04] shavros commented on #21983
additional:
I'm cloning main branch of envoy repository and do all steps from bazel/README.md

[2022-07-01 11:08] shavros commented on #21983
root@vm-env:~/envoy# cat VERSION.txt
1.23.0-dev

[2022-07-01 11:12] phlax commented on #21983
hi @shavros please post actual log not screenshots - use ` ``` ` to mark code-blocks

[2022-07-01 11:13] phlax commented on #21983
could you also post the exact command that fails

[2022-07-01 11:16] shavros commented on #21983
command that fails:
`bazel build envoy`

log:
[code]

[2022-07-01 12:52] caoyukun0430 commented on #21923
Hi @KBaichoo  thank you very much for your explaination of pageheap_unmapped  and pageheap_free. So if I understand correctly, pageheap_free bytes is what the shrink_heap actions(or ReleaseFreeMemory() function) can release.

But still it doesn't solve our issue: "heap_size" is increased due to traffic, now traffic has ended for ~24h, what's the reason to still keep the "heap_size" high? OR what i

[2022-07-01 13:04] Jacobien1 commented on #21899
@phlax it works perfectly with
[code]

[2022-07-01 13:27] phlax commented on #21899
great. do you want to update the docs? once that is done i reckon we can close this

[2022-07-01 14:24] KBaichoo commented on #21923
There are structures that get created from traffic e.g. stats that did exist in the initial state; as such we'd never go back to the initial heap size. I would recommend taking a heap profile to see where the memory is by following steps in this thread: https://github.com/envoyproxy/envoy/issues/21092#issuecomment-1147578405 to see exactly where your 10MB that remains after no traffic is.

[2022-07-01 15:40] phlax commented on #21946
ive managed to repro and have  good idea of the problem, not sure of the solution yet

[2022-07-01 16:20] phlax commented on #21946
@ameily #21986 fixes for me with RBE - can you confirm ?

[2022-07-01 16:28] phlax commented on #20915
this will be fixed in #21962

for avoidance of doubt, and contrary to what i said previously

- there was an issue
- `docker compose` may work altho is untested atm

apologies if it seemed i doubted - not sure why i didnt manage to repro - either way this should be fixed shortly

[2022-07-01 18:39] markdroth commented on #10455
Just thinking out loud here, based on a discussion I had on the gRPC side with @ejona86 and @dfawley:

Looking at the list of use-cases described above, it seems like most of them require only intercepting the start of an upstream request (i.e., headers), not looking at the payload of the request.  Do we know of any use-cases that would require looking at the request payloads?

If all of the expec

[2022-07-01 19:06] #20991 closed

[2022-07-01 20:01] #20425 closed

[2022-07-01 20:49] howardjohn commented on #13009
One area we are seeing this as well is around Envoy's reconnecting to a control plane.

The two flows in Istio currently are:
* start of connection, expect CDS request and send EDS when its request
* Spontaneous push, we will always send CDS+EDS

This handles this issue sufficiently.

However, what we are seeing is that if Envoy disconnects from the control plane partially through processing a EDS

[2022-07-01 20:51] howardjohn opened #21991 "EDS pause seems to be skipped in some cases"
*Title*: EDS pause seems to be skipped in some cases

*Description*:
We are seeing storms of identical EDS requests. Expected behavior is they are grouped together.

*Repro steps*:
I am currently seeing this on large Istio clusters where we change clusters often and trigger a lot of reconnects from envoy to the control plane. I think there are some race conditions around reconnections here (see ht

[2022-07-01 22:10] htuch commented on #13009
I kind of feel this is WAI but willing to be persuaded otherwise. Basically, when Envoy reconnects I don't think there are any restrictions on xDS ordering. Should there be? CC @markdroth @adisuissa

[2022-07-01 22:13] howardjohn commented on #13009
I am willing to believe this is WAI as well :slightly_smiling_face: however, I was quite surprised when I did see this (first time every in years of working with Envoy) so thought it was worth at least mentioning here

[2022-07-01 22:15] kyessenov commented on #13009
@htuch At some point, the bug with EDS update warming CDS cluster needs to be addressed. It complicates every control plane since they have to keep track of CDS/EDS update consistency, and it also makes it impossible to run them separately.

[2022-07-01 22:25] markdroth commented on #13009
No, I don't think there should be any restrictions on what order subscriptions occur in after a stream restart (or any other time, for that matter).  I think the underlying problem here is still the same one described in this issue: it's that Envoy currently expects EDS to be resent after a CDS update.  If we fix that underlying problem, then this latest problem goes away, because it's just a side

[2022-07-01 22:36] htuch commented on #13009
@kyessenov yes, these are separate issues I think and the warming issues needs to be addressed. Caching layer will generally help.

[2022-07-01 22:55] htuch commented on #20578
I'm not sure if the addition of just `path_separated_prefix` speaks fully to this issue. It might also be a bit too specific to add to `StringMatcher`.

Taking a step back, I think the way to wrap this in a sensible way is to have both RDS and JWT use generic matchers, where you have inherent sharing of code @snowp @kyessenov @qiwzhang

[2022-07-02 02:07] satishnaidu opened #21994 "Jwt AuthN filter dynamic remote_jwks: http_uri or local_jwks: file_name"
Dynamic JWT provider jwks configuration to validate JWT token based on claim values from JWT header.
*Description*:

- We would like to validate the JWT token based on dynamic remote_jwks: http_uri configuration or local_jwks:file_name

- Instead of validating against multiple public keys at the JWKS endpoint, we would like to fetch the right public key based on the x_policy claim value(from the h

[2022-07-02 02:10] dastbe commented on #21644
this would especially be useful for deployments of envoy where the lifecycle of envoy is independent of what it's serving traffic for, ex. being able to bootstrap a host agent with a recent state rather regardless of control plane availability.

it looks like you could build this yourself on top of the [config dump api|https://www.envoyproxy.io/docs/envoy/latest/api-v3/admin/v3/config_dump.proto#e

[2022-07-02 02:51] #21975 closed

[2022-07-02 03:48] adisuissa commented on #13009
@howardjohn I might be missing something, but is the `response_nonce` the same for the EDS request and the ACK?

I think we should add more tests in this area, clarify the expected behavior, and change if needed.

[2022-07-02 05:01] 13567436138 opened #21996 "where to get the value of x-envoy-downstream-service-node?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

[code]
[optional *Relevant Links*:]

[2022-07-02 07:48] #21465 closed

[2022-07-02 08:03] github-actions[bot] opened #21997 "Newer release available `com_google_googletest`: release-1.12.1 (current: a4ab0ab)"
Package Name: com_google_googletest@a4ab0abb93
Current Version: a4ab0ab@2020-09-10
Available Version: release-1.12.1@2022-06-30
Upstream releases: https://github.com/google/googletest/releases

[2022-07-02 08:03] #21871 closed

[2022-07-02 12:01] #21393 closed

[2022-07-02 13:00] howardjohn commented on #13009
Yes, there are two identical DiscoveryRequests (I would call these "ack" and "re-request EDS")

[2022-07-02 15:15] #21920 closed

[2022-07-02 20:01] #21365 closed

[2022-07-03 00:03] #20650 closed

[2022-07-03 06:13] 13567436138 opened #21999 "how to send connect method connection?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
how to send connect method connection?
*Description*:

[root@node01 httpmatch]# curl -X CONNECT 192.168.229.128:30639 -I
HTTP/1.1 400 Bad Requ

[2022-07-03 06:59] 13567436138 opened #22000 "jwt_authn payloadInMetadata not work?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
jwt_authn payloadInMetadata not work?
configured jwt_authn  and route match dynamic_metadata not work ,got 404??
*Description*:

the bug, for

[2022-07-03 08:03] github-actions[bot] opened #22001 "Newer release available `rules_python`: 0.10.0 (current: 0.9.0)"
Package Name: rules_python@0.9.0
Current Version: 0.9.0@2022-06-12
Available Version: 0.10.0@2022-07-02
Upstream releases: https://github.com/bazelbuild/rules_python/releases

[2022-07-03 12:01] #21454 closed

[2022-07-03 16:01] #21455 closed

[2022-07-03 19:22] #21538 closed

[2022-07-03 23:55] duedal commented on #21154
I couldn't get it to stop segfaulting, but it seems to be a regression in 1.22.x - downgrading to 1.21.4 stopped the crashing with same config (though changed `path_config_source` to `path`, since that syntax had changed)

[2022-07-04 01:06] daixiang0 commented on #21979
I am curious that why you enable DEBUG level in production, which is for debugging and will introduce extra resource costs I think.

[2022-07-04 01:08] daixiang0 commented on #21983
Could you add `--sandbox_debug` to share more details?

[2022-07-04 06:39] bryanwux commented on #21996
As the docs said, `x-envoy-downstream-service-node` usually comes with internal http request from downstream. It is similar with `x-envoy-downstream-service-cluster`.

[2022-07-04 06:50] bryanwux commented on #21983
Have you tried to build envoy with docker container using `ENVOY_DOCKER_BUILD_DIR=~/build ./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.debug.server_only'`

[2022-07-04 07:13] Edimo24 commented on #21979
Thanks for your reply, the DEBUG level is not enabled in production but just for debugging. I still have to consider removing HTTP request/response headers from DEBUG logs or adding a tag before some sensitive information (just to make it clear that it is sensitive information) but I am not sure where would it be the best option to do this changes.

[2022-07-04 07:15] phlax opened #22008 "Limit use of `pkg_tar` in bazel"
I have added `pkg_tars` quite liberally on the basis that it is a declarative and convenient method for grouping files passed from one bazel job to others

this works well running locally

testing this with RBE and it downloads all of the the tarballs not just the final product (even setting `remote_download_outputs` to minimal)

this can be expensive particularly where dl represents the biggest R

[2022-07-04 07:25] figroc opened #22009 "The oauth2_filter should use client_secret_basic to access token endpoint by default."
*Title*:

The oauth2_filter should use client_secret_basic to access token endpoint by default.

*Description*:

Currently the oauth2_filter use client_secret_post as the default authentication method to access oauth2 token endpoint. By RFC6749 and RFC8414, client_secret_basic is the default authentication method. And the client_secret_post method is not recommended and should be limited.

[2022-07-04 08:08] #21847 closed

[2022-07-04 08:11] #20362 closed

[2022-07-04 08:28] 13567436138 opened #22016 "envoyfilter config cannot change lb_policy??"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
I use random ,can be changed.
*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.
[code]

![

[2022-07-04 08:55] wbpcode commented on #10455
🤔  If we don't consider the route entry refresh, then when the requests are coming, we can simple create a filter chain which contains downstream filters and upstream filters for the requests.

For example, `downstream lua` -> `downstream fault` -> `upstream lua` -> `upstream fault` -> `router`.

It would be very easy to implement.

[2022-07-04 10:14] DiamondJoseph commented on #14542
It seems this is still an issue when attempting to authenticate against Github.

[code]

Frustrating issue that wasn't too clear until I found this thread: it's very hard to find results for debugging GIthub's own products!

[2022-07-04 11:28] Jacobien1 commented on #21899
@phlax what do you want to update on the docs?

[2022-07-04 11:30] Jacobien1 opened #22018 "number of connection pools"
I'm using envoy as a forward proxy to my redis database, is there anyway to decide the number of open connection pools to the database?

[2022-07-04 12:09] ramaraochavali commented on #22016
This is istio specific issue. You should ask in Istio

[2022-07-05 00:46] jasonmccallister commented on #21541
Is it possible to get this marked as hep wanted to implement so it’s not marked as stale?

[2022-07-05 01:15] suniltheta commented on #21541
We can see how `typed_per_filter_config` is implemented on AWS lambda filter and try to do the same for AWS request signing filter. Let us know if you would have time to work on this issue. Else we would be glad to help on this.

[2022-07-05 01:35] wbpcode commented on #21952
Sorry, it seems that's not supported for now.

[2022-07-05 01:37] wbpcode commented on #21953
cc @lizan Could you take a look when you have free time?

[2022-07-05 01:44] wbpcode commented on #21959
Sound great. But it would bring some additional overhead. 🤔

May be response flag or response detail string is better for this requirement?

[2022-07-05 01:58] wbpcode commented on #21963
I am not sure. 🤔  But the client may sends some new requests in the connection and these requests may can be proxied correctly?

[2022-07-05 02:28] wbpcode commented on #21967
If the active health checking is not enabled, when will the host will resume to be healthy after we set it to unhealthy?

[2022-07-05 03:17] #22016 closed

[2022-07-05 06:00] wbpcode commented on #21982
cc @snowp

[2022-07-05 06:03] wbpcode commented on #21991
cc @snowp Could you take a look for this when you have free time? Thanks.

[2022-07-05 06:52] wbpcode commented on #21994
Could you create multiple providers based on your  x_policy claim values. And then choose right provider for every request based on the `RequirementRule` match?

[2022-07-05 06:53] wbpcode commented on #21994
cc @lizan

[2022-07-05 07:00] wbpcode commented on #21996
This header is set by the Envoy and be send to upstream. The value is the configured node info of Envoy.

[2022-07-05 07:16] wbpcode commented on #21979
If you have your internal fork of Envoy, I think you can just remove the log code or guard the code by special runtime config.

[2022-07-05 07:34] wbpcode commented on #21999
Typically, when the client requests to HTTPS server by the proxy, the client may send a connect request first. If you want send it by yourself, may be you can try to use the telnet and send the raw content by yourself.

[2022-07-05 08:03] github-actions[bot] opened #22021 "Newer release available `com_github_google_perfetto`: v27.0 (current: v22.1)"
Package Name: com_github_google_perfetto@22.1
Current Version: v22.1@2021-12-07
Available Version: v27.0@2022-07-04
Upstream releases: https://github.com/google/perfetto/releases

[2022-07-05 08:03] #21868 closed

[2022-07-05 08:29] wbpcode commented on #22000
Routing matching is occurring prior to the application of the filter chain. So, because there is no any dynamic metadata when the route entry is matching, so 404 will be returned.

[2022-07-05 09:15] phlax opened #22023 "Fix `depdendency.check` flakes"
The sha check test can be flakey as it downloads tarballs from github

While it is useful for updating the shas it is duplicating the sha checking that bazel does (and can fail for that reason)

Im thinking this tool would be more useful standalone and not run as a check

---

broadening this ticket to include the flakey downloads of NIST data

[2022-07-05 09:15] phlax commented on #22023
cc @kfaseela

[2022-07-05 09:24] wbpcode commented on #22009
cc @snowp

[2022-07-05 10:03] shavros commented on #21983
@daixiang0 logs with --sandbox-debug flag:
[code]

[2022-07-05 11:22] ramaraochavali commented on #21363
@alyssawilk Is it possible to "initiate" CONNECT in http_connection_manager instead of in tcp_proxy? Is this valid per http connect spec? My reading of the spec just talks about creating TCP tunnel from downstream. If we have to use http connection manager, do we have to use upgrade_config with client initiating the CONNECT request?

The reason I am asking is, if we initiate CONNECT at Envoy in ht

[2022-07-05 13:54] phlax commented on #22008
seems like this was a misconfiguration on my part - my bazelrc was not picking up the `remote_downloads_toplevel` setting

we probably want to reduce the use of pkg_tars all the same so ill leave this open to follow up

[2022-07-05 14:14] terorie commented on #14542
@orHayoun @DiamondJoseph I am working on fixing #14625 today.

[2022-07-05 14:15] snowp commented on #21982
I'm not aware of any plans, so it will likely require someone to do the work. PRs welcome!

cc @rgs1

[2022-07-05 15:07] mattklein123 commented on #18520
No one is working on this that I know of.

[2022-07-05 17:57] ggreenway commented on #21961
Without looking more closely, my first guess is that because you're using a BoringSSL from 2019, it doesn't support one of the default ciphersuites that envoy tries to configure.

Unless you can get this branch of BoringSSL rebased onto a recent release, I think this is probably a dead-end.

[2022-07-05 20:16] shashankram commented on #18168
@alyssawilk, The examples in https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/common/ratelimit/v3/ratelimit.proto#envoy-v3-api-msg-extensions-common-ratelimit-v3-ratelimitdescriptor can be a bit misleading because the descriptor entries are simply key-value pairs expressed as strings. However, the examples make it appear as though the key has a special meaning.

For e.g.
[code]

The a

[2022-07-05 20:33] drouhana commented on #21961
@ggreenway yes, that was a big concern of mine when I saw that the only master-with-bazel branch was from 2019.

However, envoy builds completely fine with it, passes the tests (some functionalities are disabled, like jwt-auth, quic, etc), and is able to initialize a TLS server using standard RSA encryption. The certificate and keys for the standard RSA are generated using the Boringssl fork from

[2022-07-05 20:41] ggreenway commented on #21961
Without digging in further, I don't know exactly what the issue is. But you've already identified several incompatibilies (jwt, quic, etc). I believe there have been CVEs fixed in BoringSSL since 2019, so I think any path forward using BoringSSL will need a more recent version. I don't think it is worth any time trying to make current Envoy work with old BoringSSL.

[2022-07-05 20:57] visualzhou commented on #18940
@amitgupta85 Thanks for your comments! I already have a functional patch that passes all TLVs regardless of the configuration. I'd love to put it up in a PR in a week while still figuring out what configuration makes the most sense. I feel I need some guidance on the config format.

[2022-07-05 21:04] mburtless opened #22028 "Datadog Headers not propagated in GRPC requests from WASM filter"
*Title*: *Datadog Tracing Headers not propagated in GRPC requests in WASM filter*

*Description*:
Envoy appears to omit Datadog trace context propagation in GRPC metadata of GRPC requests made to an external server from the WASM filter.  This means that the trace context is not propagated to upstream servers called by the filter and any resulting traffic is unable to be stitched to the parent span

[2022-07-05 21:04] drouhana commented on #21961
@ggreenway That's fair, i appreciate your input on this.

I reached out to the bssl-oqs to discuss an updated master-with-bazel, but I think the easiest solution would be envoy that works with openssl.

Interestingly, the incompatibilities I found were the same ones identified by the envoyproxy team that was working on full [openssl integration](https://github.com/envoyproxy/envoy-openssl/issues/1

[2022-07-06 01:08] daixiang0 commented on #22023
Agree, GH download may be flakey.

[2022-07-06 02:00] wbpcode commented on #21967
Then I think it's hard to convince users to accept this behavior.

[2022-07-06 03:13] 13567436138 commented on #18366
\reopen

[2022-07-06 03:14] 13567436138 commented on #18369
/reopen

[2022-07-06 03:58] 13567436138 opened #22032 "dubbo-proxy route_config group not effective"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
dubbo-proxy route_config group not effective
*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned,

[2022-07-06 08:02] 13567436138 opened #22033 "dubbo proxy header match is not effective"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
dubbo proxy header match is not effective
*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc

[2022-07-06 08:13] github-actions[bot] opened #22034 "Newer release available `com_github_fmtlib_fmt`: 9.0.0 (current: 8.1.1)"
Package Name: com_github_fmtlib_fmt@8.1.1
Current Version: 8.1.1@2022-01-06
Available Version: 9.0.0@2022-07-05
Upstream releases: https://github.com/fmtlib/fmt/releases

[2022-07-06 08:36] phlax commented on #22008
after experimenting with this further - `pkg_tar` is actually v useful in rbe pipeline if the tarballs are compressed, so closing this

[2022-07-06 08:36] #22008 closed

[2022-07-06 11:02] LuyaoZhong commented on #21739
@ggreenway  could you have a look at the code? Let us nail down the matching criteria

I don't introduce any cert loading error, because I think the users or control plane should consider what certificates they provide. And it's hard to define which condition should raise loading error, two certs have overlapped SANs or overlapped subject common name? It's should be enough that we select a correct

[2022-07-06 11:31] 13567436138 commented on #22000
i do not understand

[2022-07-06 12:58] eugenk commented on #8262
I don't like to ping thread, but it seems appropriate here:

[2022-07-06 13:15] Edimo24 commented on #21979
I do have the internal fork of Envoy but I am looking for suggestions where to do the changes in which file from Envoy repo? I mean where to edit the debug logs? (never done it before)

[2022-07-06 13:30] Edimo24 commented on #21979
@ggreenway Please have a look and I would appreciate any suggestion

[2022-07-06 13:43] alyssawilk commented on #10455
I think we're going to want payload filters in the long run, in case say some cluster doesn't support compressed data and we want to decompress to a given cluster.  And I think it's nice to be able to write a filter once and reuse it in multiple places (route refresh aside)

[2022-07-06 14:19] wbpcode commented on #10455
@alyssawilk is there any related proposal for this feature? or is anyone working on this?

[2022-07-06 14:21] alyssawilk commented on #10455
Snow did about half the work a few years back.  I was toying around with picking it up this quarter - was looking last week to see how horrendous it'd be.  I'll probably sign on for some of the clean up refactoring at least so we're in a better position to land it.

[2022-07-06 14:35] wbpcode commented on #22000
HTTP requests are processed as follows.

[code]

[2022-07-06 15:40] markdroth commented on #10455
@alyssawilk

Okay, that's kind of what I was figuring the answer would be.  In that case, I think it does make sense for the xDS API to actually be a full HTTP filter, using the same API that we use in the HCM.

@wbpcode

I don't think it will work for the upstream filters to be invoked before the router filter, because some of these use-cases require the upstream filters to run after load balanci

[2022-07-06 15:43] ggreenway commented on #21979
Have you considered disabling the logs you don't want with https://www.envoyproxy.io/docs/envoy/latest/operations/cli#cmdoption-enable-fine-grain-logging?

[2022-07-06 16:04] wbpcode commented on #10455
@markdroth Yeah, it has lots of shortages except it is easy to implement.

It would be very complex to create additional filter chain for upstream HTTP filters. I didn't come up a good way to manage this new filter chain.

Or we can try to split router to two different parts. One for load balancing, this one will be called before upstream filters. One for sending upstream request, at the end of wh

[2022-07-06 16:05] freedomljc commented on #21967
I guess the inconvenience could be related to the naming `/healthcheck/fail` VS `/healthcheck/ok`, as developers might expect `/healthcheck/ok` to work for this case as well. However, in practice `/healthcheck/fail` is mainly used to drain the host when it is being terminated. It is not that common to invoke `/healthcheck/ok` to un-drain the host afterwards.

Alternatively, we can add another admi

[2022-07-06 16:21] markdroth commented on #10455
@wbpcode I think being easy to implement isn't actually an advantage if it doesn't solve many of the use cases that we're considering here. :)  If you look at the use-cases described above, there are also several that require invoking the upstream filters separately for each call attempt done for retries or hedging, which I think also requires running them after the router filter.

I'll let folks

[2022-07-06 16:22] mattklein123 commented on #21967
I don't see any good way of making this work well when there is implicit linking of configuration between upstream and downstream.

It sounds like perhaps passive health checking / outlier detection might be a better fit here? Perhaps the immediate health check fail could feed into passive health checking which might be good enough for your use case.

I do think it happens that people health check

[2022-07-06 17:25] wbpcode commented on #10455
@markdroth It would be perfect if we can get a independent and fully functional upstream HTTP filter chain.

But the state of a complete HTTP filter chain is just too complicated orz.

[2022-07-06 20:01] #21083 closed

[2022-07-06 22:55] freedomljc commented on #21967
Got it, I'll seek other options then.

[2022-07-06 22:55] #21967 closed

[2022-07-06 23:37] satishnaidu commented on #21994
@wbpcode
I tried that approach, there are two problems

1. There are no way to configure the requirement rule match based on JWT header value to choose the right provider

( I mean, the match: prefix: / URL is same for all the requests, i need to chose the provider based on decode jwt header value )

2. If configure the filter with multiple require provider configurations, In future for any new pr

[2022-07-07 00:48] daixiang0 commented on #22033
/cc @wbpcode

[2022-07-07 00:48] daixiang0 commented on #22032
/cc @wbpcode

[2022-07-07 01:50] tmsnan commented on #22033
In my local tests, the header matching works, I'm guessing that header key values ​​starting with: are causing the problem in your framework, you can check your framework

[2022-07-07 02:02] wbpcode commented on #22032
Could you also provide the  log of sidecar proxy (envoy)?
You can enable the debug log for dubbo proxy by call `curl localhost:15000/logging?dubbo=debug -X POST` in the proxy container.

[2022-07-07 03:33] hanjm commented on #17345
still valid

[2022-07-07 03:35] StarryVae commented on #22028
i think it maybe the problem of implemention of `grpcCall` in WASM filter, it always uses the instance of NullSpan (https://github.com/envoyproxy/envoy/blob/c103845992abc4d2bc2710bd23ea305e833c48e5/source/extensions/common/wasm/context.cc#L1019), which will not use Datadog. If this is a certain problem to fix, i can try this.

[2022-07-07 03:44] StarryVae commented on #22028
cc @PiotrSikora

[2022-07-07 03:48] 13567436138 commented on #22032
[code]

[2022-07-07 04:17] #21491 closed

[2022-07-07 05:00] 13567436138 opened #22049 "redis proxy case_insensitive is not work"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

*Repro steps*:

required to reproduce

[2022-07-07 05:38] PiotrSikora commented on #22028
@mburtless thanks for the report! It sounds like there 2 separate issues:
- Missing tracing info in callouts from Wasm (`httpCall`, `grpcCall` and `grpcStream`) - this seems like a real issue, and we should definitely match behavior of `ext_authz` and `lua`.
cc @chaoqin-li1123 for `ext_proc`, which doesn't seem to set it either.
- Tracing info not visible in Wasm plugins - this is a bit more trick

[2022-07-07 05:40] lizan commented on #21994
With the current implementation Lua is probably the best way to do it. This requirement rules seems too complex, having a token exchange (via ext_authz perhaps) might be a better solution overall though.

[2022-07-07 05:44] StarryVae commented on #22028
@PiotrSikora Yeah, i will try to submit a PR to fix this, thanks.

[2022-07-07 06:55] phlax opened #22050 "Improve code block higlighting colors in docs"
Currently the color scheme for code block highlighting just doesnt look right to me:

![code-block-colors](https://user-images.githubusercontent.com/454682/177710393-6a18f1fe-d9fa-4c0e-97e8-5116f30c4ea0.png)

while i dont think red and green should _never_ be seen its probably not the best visual contrast and is known to be troubling to people with color blindness and/or dyslexia

i also think red

[2022-07-07 08:03] github-actions[bot] opened #22051 "Newer release available `aspect_bazel_lib`: v1.5.1 (current: v1.3.1)"
Package Name: aspect_bazel_lib@1.3.1
Current Version: v1.3.1@2022-06-21
Available Version: v1.5.1@2022-07-06
Upstream releases: https://github.com/aspect-build/bazel-lib/releases

[2022-07-07 08:03] #21937 closed

[2022-07-07 08:03] github-actions[bot] opened #22052 "Newer release available `edenhill_librdkafka`: v1.9.1 (current: v1.8.2)"
Package Name: edenhill_librdkafka@1.8.2
Current Version: v1.8.2@2021-10-18
Available Version: v1.9.1@2022-07-06
Upstream releases: https://github.com/edenhill/librdkafka/releases

[2022-07-07 09:11] 13567436138 commented on #22000
so how can I use metadata here generated by some filter

[2022-07-07 11:26] soulxu commented on #17345
@hanjm I tested this on the main branch, it works as expected. Would you like show your envoy config? and which version you are running on?

I tested with config:
[code]

Then without header, it will match:
[code]

[2022-07-07 14:10] wbpcode opened #22055 "load balancer: earlyExitNonLocalityRouting support for the thread aware load balancer"
*Title*: *load balancer: earlyExitNonLocalityRouting support for the thread aware load balancer*

*Description*:

If the `locality_weighted_lb_config` in cluster is set, but the `locality` in the `LocalityLbEndpoints` is not set, then the thread aware load balancer may create empty hash ring.

It would be better to support some pre-check for the thread aware load balancer, like the zone aware load

[2022-07-07 14:10] wbpcode commented on #22055
In fact, this like a bug. 🤣

[2022-07-07 14:10] wbpcode commented on #22055
cc @snowp

[2022-07-07 15:03] wbpcode commented on #22000
For this scene, we need clear the cached route to force envoy to re-match routes.

To achieve this, you can write a simple lua script to update HTTP headers and set the lua filter after the jwt auth filter.
Then the lua filter will clear the cached route automatically.

[2022-07-07 15:49] alyssawilk commented on #21363
Right now I think there's not a great way to take an HTTP request an encap it in CONNECT without doing 2 passes through Envoy but what Istio is doing is a L7 pass through for HTTP processing, then setting "upstream" to a loopback TCP listener and using the TCP connect path to encapsulate.    https://github.com/envoyproxy/envoy/pull/21942 will allow skipping the double pass in a very narrow set of

[2022-07-07 20:00] fishcakez opened #22062 "Header validation: referer validation santizes referers with schemes allowed by RFC 3986"
*Description*:
The URI RFC allows schemas to include digits . - + (as well as alphabetical characters) but currently the validation only allows schemes to have alphabetical characters, otherwise if enabled will sanitize the header.
[code]
Source:  https://datatracker.ietf.org/doc/html/rfc3986#section-3.1.

*Repro steps*:
Referers using scheme such as app-info:// and android-app:// will be removed

[2022-07-07 20:02] alyssawilk commented on #22062
+ @bencebeky (though I think this will fall under UHV rather than a balsa util)

[2022-07-07 20:13] fishcakez commented on #22062
Can workaround this by disabling the feature via https://github.com/envoyproxy/envoy/blob/b67a3fc250cd9f74fde744d400d7c6857ea80dea/source/common/http/conn_manager_utility.cc#L106

[2022-07-07 21:01] #21946 closed

[2022-07-07 21:06] bencebeky commented on #22062
Thanks for the heads up.  In fact I wrote an URL validator that matches http-parser behavior, it's out for review at https://github.com/envoyproxy/envoy/pull/22040.  It would be very easy to change it to comply with the spec.  Then moving from http-parser to Balsa would automatically solve this issue.

[2022-07-07 21:48] dakshinai opened #22063 "Question on nlohmann JSON parser usage in envoy"
*Title*: *Question on nlohmann JSON parser usage in envoy*

*Description*:

1. What is the exact usage if nlohmann JSON parser library - https://github.com/nlohmann/json, specifically sax_parse function
https://github.com/envoyproxy/envoy/blob/0fd80eef63bc9770186c4f4aa345ee63e464cab3/source/common/json/json_internal.cc#L680

2. Any app usage recommended to test out code paths to this function?

[2022-07-07 22:00] nareddyt opened #22064 "double continue on data after `inject*DataToFilterChain()`"
### Bug
Currently the filter manager has a bug where it iterates data on a single filter multiple times. This occurs when a filter:

1) Stops iteration of body and trailers.
2) Calls `injectDecodedDataToFilterChain()` to inject body to the next filter (implicitly continuing iteration of the body).
3) Calls `continueDecoding()` to continue iteration of the trailers.

After further debugging, I foun

[2022-07-07 23:58] daixiang0 commented on #22050
Agree

[2022-07-08 00:07] soulxu commented on #21640
@mattklein123 gently ping

[2022-07-08 02:35] mattklein123 commented on #22064
Thanks for raising. I don't think we should any new APIs until we understand what exactly is broken here. It would be good to understand that first as I would much prefer to fix the bug. I will mark this help wanted.

[2022-07-08 02:35] mattklein123 commented on #22064
cc @alyssawilk

[2022-07-08 02:37] mattklein123 commented on #21640
Sorry what input are you looking for?

[2022-07-08 02:40] soulxu commented on #21640
Sorry, both I and @jacob-delgado give some input at above for the reason why people want the ipv4 to ipv4 and ipv6 to ipv6. Do those reasons make sense and are something we want to support?

[2022-07-08 02:41] mattklein123 commented on #21640
Kind of? Is there an actual customer that has a use case? I would rather not make changes here unless there is a blocked use case and then I would like to hear more about that specific use case.

[2022-07-08 02:50] soulxu commented on #21640
I believe AspenMesh/F5 has customer wants that, I leave this to @jacob-delgado

I think I can begin to prepare the item 2, it is a blocker for the dual-stack if people want to choose a local bind ipv4 and ipv6 address for upstream.

[2022-07-08 02:54] mattklein123 commented on #21640
Yes I agree working on (2) makes sense to me and seems independent. For the rest I would prefer to wait until we here about a specific blocked use case? Is that ok?

[2022-07-08 02:58] moderation commented on #22050
Also agree. Not good from an accessibility and color blindness point of view. And not great aesthetically

[2022-07-08 02:59] soulxu commented on #21640
Thanks for all the feedback! that sounds good to me. For the rest, we also can see if @jacob-delgado has more input here.

[2022-07-08 04:08] markmsmith commented on #21755
@acarlson0000 I think I'm following a similar path to you and hitting the same error with Envoy `1.20.6` and `envoyproxy/envoy-build-centos:2635f3db824bb06340102da51ea7e292133af038`.
Why did you close this - did you find a solution for building Envoy `1.20.3+` for CentOS 7?

[2022-07-08 04:42] #21663 closed

[2022-07-08 05:26] phlax opened #22065 "Document changes to docs and examples build"
There have been quite a few recent changes to how the docs and examples are built

Mostly, things will work as they did before, but there are some changes to how artefacts are included - this needs to be documented

related #21962  #22013

[2022-07-08 05:27] #20915 closed

[2022-07-08 08:03] #21980 closed

[2022-07-08 08:03] github-actions[bot] opened #22073 "Newer release available `rules_rust`: 0.7.0 (current: 0.3.1)"
Package Name: rules_rust@0.3.1
Current Version: 0.3.1@2022-04-26
Available Version: 0.7.0@2022-07-07
Upstream releases: https://github.com/bazelbuild/rules_rust/releases

[2022-07-08 08:03] #21876 closed

[2022-07-08 09:08] abhi93104 commented on #3732
@sherifkayad @rdelcampog

I was facing the same issue with Springboot admin and Istio. Springboot admin actuator api calls are failing due to incorrect port management by Istio sidecar. But I have fixed this issue by using envoy lua filter. Here is the code.

[code]

Using this for /actuator* path url I am able to add "X-Forwarded-Port" with correct downstream port. Now the communication is workin

[2022-07-08 09:08] ramaraochavali commented on #21363
@alyssawilk Thank you .

[2022-07-08 10:38] cobb-tx opened #22074 "when delete istio sidecar service get 502"
i writed Description in istio

https://github.com/istio/istio/issues/39837

[2022-07-08 14:38] #12274 closed

[2022-07-08 15:28] caoyukun0430 commented on #21923
Sorry for the late reply, it took some time for us to gather data. I build envoy with "-c dbg" and gather the heap profiler while I am making traffic until the ingressgateway overloaded.

So serveral questions are still in my head:
1. during the traffic we saw "pageheap_free" drops from some bytes to zero, why is the heap_size remains the same?
[code]
Maybe you could explain what is the "heap_size

[2022-07-08 16:44] qiwzhang commented on #21994
Your idea of dynamic "remote_jwks" will not work.  Normally, remote jwks is fetched at the start of Envoy, and periodically re-fetched in a interval at the main thread, worker threads of processing requests are read-only for these remote jwks data.

[2022-07-08 16:50] nareddyt commented on #22064
Thanks, I would appreciate any help on this. I updated https://github.com/envoyproxy/envoy/pull/22056 to comment out my attempted fix. Anyone can reproduce the problem by running the new tests I added in `test/integration/http_async_inject_body_test.cc`

[2022-07-08 18:16] kyessenov commented on #14930
I don't seem to have SHA `edfec563`.
I have trouble understanding how this happens. ECDS should delete Wasm filter config last on main thread due to `runOnAllThreads`. Is there any way to reproduce this issue?

[2022-07-08 18:19] kyessenov commented on #22074
This seems like a control plane issue with missing cluster? There is not enough details for Envoy team to provide an answer.

[2022-07-08 20:42] kyessenov commented on #10455
@wbpcode We have some use-cases where we could use upstream HTTP filters for CONNECT streams initiated by `tcp_proxy`. I think that prevents reliance on `router` for upstream HTTP filters.

[2022-07-08 21:32] markmsmith commented on #21755
Thank you very much!  After switching to that version I've finally been able to get a successful build of Envoy 1.20.6 for CentOS 7, after fighting with it for several days.

For the FIPS build I still had to patch out the Clang version checks [here](https://github.com/envoyproxy/envoy/blob/v1.20.6/bazel/external/boringssl_fips.genrule_cmd#L27-L42), since it fails with 10.0.0 instead of 7.0.1, but

[2022-07-09 05:58] 13567436138 opened #22083 "internal_redirect_policy got 502 response"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

*Repro steps*:

required to reproduce

[2022-07-09 08:35] 13567436138 opened #22086 "requrire_tls EXTERNAL_ONLY ALL,but client do not provider certs,it can access also??"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

*Repro steps*:

required to reproduce

[2022-07-09 11:00] 13567436138 opened #22087 "what is local_reply_config 's function,I test the request,with productpage result,not local_reply_config body?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

[code]

curl -H "test: test" http://192.168.229.128:30563/productpage
[optional *Relevant Links*:]

[2022-07-09 20:17] phlax commented on #21588
fixed in https://github.com/envoyproxy/envoy/pull/21669

[2022-07-09 20:17] #21588 closed

[2022-07-10 04:07] #21531 closed

[2022-07-10 08:01] #21523 closed

[2022-07-10 15:01] uglycow commented on #17891
is this fixed now ?

[2022-07-10 16:42] Amila-Rukshan commented on #22009
I'm working on this ticket. going to support Basic auth as the default method and keep the existing method (sending credentials as url encoded body values) to set under a config.
[code]

[2022-07-11 00:05] #21103 closed

[2022-07-11 01:37] wbpcode commented on #10455
This sounds reasonable scene. But as far as I know, We may implement a independent upstream filter chain in the router. The scene of `tcp_proxy` is not taken into  account.

@alyssawilk is working on this. And we can wait the concrete proposal to be completed and make some more discussions.

[2022-07-11 02:11] ZiyangXiao commented on #21941
Hi I'm a beginner of envoy, can I try this?

[2022-07-11 02:59] #22023 closed

[2022-07-11 03:18] sumitaneja opened #22094 "Retries for httpCall from EnvoyFilter"
Deployment:  OKE+istio-proxy enabled for pods..

We have EnvoyFilter defined in Istio,  From this filter, Http call is made µService deployed in OKE container,
Query 1: how can i configure retries here.   I observed virtual service retry not kicking if call is from Envoyfilter http client.
As part of envoyfilter definition a cluster was defined to create route to µService deployment within OKE fro

[2022-07-11 04:41] 13567436138 opened #22095 "why this config is 404"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

[code]
[optional *Relevant Links*:]

[2022-07-11 04:45] 13567436138 commented on #22000
can you give me some sample code how to clear cache?

[2022-07-11 07:06] egerkke commented on #21637
no stalebot

[2022-07-11 09:15] saltbo opened #22099 "Embed a visualize dashboard for envoy is possible？"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Embed a visible dashboard for envoy is possible？*

*Description*:

[optional *Relevant Links*:]

![image](https://user-images.githubusercontent.com/17308208/1782301

[2022-07-11 09:41] zirain commented on #12893
@kyessenov are you still working on this? I think we need this for #21718

[2022-07-11 11:20] phlax opened #22100 "Downloading NIST data in dependency.checker can be flakey"
currently we download the NIST data on every CI/dep.check run

this can be flakey as the data is huge and the service is not always reliable

im figuring there are a couple of things we can do to resolve

- accept filepath arguments in the dep.checker for NIST urls
- add a bazel job to download the data

as the data rarely changes this should speed things up a lot for the dep.checker

[2022-07-11 11:23] phlax opened #22101 "Uploading CI data to GCS can be slow due to missing `crcmod` issues"
Currently uploading docs can take a while (i guess similar with coverage and other upload jobs)

seems like this warning gives clues why:

[code]

i looked at this a long time ago and i think i got the crcmod part resolved but dont rem exactly

[2022-07-11 12:22] kfaseela commented on #21941
Would be happy if you do so 🙂

[2022-07-11 14:10] adisuissa commented on #22049
IIUC the [`case_insensitive ` field](https://github.com/envoyproxy/envoy/blob/f2c832b9656da1494b16aeffc8e7f399633faabb/api/envoy/extensions/filters/network/redis_proxy/v3/redis_proxy.proto#L179) is only relevant for the prefix (relevant code [here](https://github.com/envoyproxy/envoy/blob/0fae6970ddaf93f024908ba304bbd2b34e997a51/source/extensions/filters/network/redis_proxy/router_impl.cc#L64-L66)

[2022-07-11 14:31] phlax commented on #22065
this one was for me, i was following up on PR discussion, but also would be good to get this in with release

[2022-07-11 14:50] adisuissa commented on #22086
Can you please clarify the question?

[2022-07-11 15:15] mattklein123 commented on #22049
Please provide a well formed problem report. It's hard for me to understand what the expected behavior is and what you are seeing instead. Thanks.

[2022-07-11 15:16] adisuissa commented on #22087
I've compiled the latest Envoy and executed with the following config:
[code]

Then I ran the following and got the result:
[code]

Note that I needed to add `stat_prefix: ingress_http` to the config, otherwise the config was rejected.

[2022-07-11 15:25] adisuissa commented on #22094
Hi, not sure I fully grok your questions but I'll try to answer:
1. Retry configurations are typically done for a [route](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-field-config-route-v3-routeaction-retry-policy), so you should be able to set the policy for the route to your `lua_cluster` cluster.

2. IIUC your programmatic retry is defin

[2022-07-11 16:00] ohadvano opened #22109 "Simple envoy configuration does not work with "netperf""
*Title*: Netperf fails to connect to netserver when proxied through envoy process

*Description*:
I have a scenario where I'm using three machines:
1. Machine with netperf process
2. Machine with Envoy proxy
3. Machine with netserver process

When running the client, the connection fails with the error: "Connection Refused".
Few observations:

1. Traffic arrived at the Envoy process but does not g

[2022-07-11 16:00] jmarantz commented on #21092
Were you triggering the overload manager?

[2022-07-11 16:25] aqua777 commented on #21092
We have a configuration in place to trigger:
* `envoy.overload_actions.shrink_heap` when reached 95% of max memory
* `envoy.overload_actions.stop_accepting_requests` when reached 98% of max memory

These recommendations were taken from https://www.envoyproxy.io/docs/envoy/latest/configuration/best_practices/edge guidance.
We saw `stop_accepting_requests` triggered once, on version v1.19.1. At the

[2022-07-11 17:28] adisuissa commented on #22099
cc @mattklein123 @alyssawilk @htuch

[2022-07-11 18:13] phlax opened #22113 "Dynamic config examples can be flaky"
Both of the dyanmic config examples can fail for a similar reason - essentially not updating quicly enough

not sure why they have both started failing now, but i think the best solution is to use a wait script

[2022-07-11 21:47] barnhill commented on #21068
It would be nice to label this as help wanted

[2022-07-11 22:34] mattklein123 commented on #21930
No objection to me to add an option to return 500 for that case.

[2022-07-11 23:27] jmarantz commented on #22099
+1 this is very cool. I am a bit torn as it would be more convenient for us to have this tightly integrated, and having a richer UI expression integrated into the stats declaration can help keep it in sync with the code a little bit easier than having it be in its own repo.

I was going to re-open #19546 soon; just need a couple small tweaks. Now that I'm through a long planning cycle and just got

[2022-07-11 23:44] kyessenov commented on #12285
Unified matchers have the built-in exact match map which I think solves the issue of hash-map lookup by a principal. I think we are missing some "DataInputs" (e.g. dynamic metadata from jwt_authn) but that's a work in progress and can be added incrementally.

[2022-07-12 00:20] #21490 closed

[2022-07-12 01:50] saltbo commented on #22099
Thank you for your recognition. I do want to integrate more closely with the envoy. For example, maybe we can use `seenvoy` instead of the current HTML admin page. However, I also have some concerns because `seenvoy` is
 developed using SPA. As a result, it may be larger in size than the SSR HTML admin page.

[2022-07-12 02:05] saltbo commented on #22099
It's easy to integrate SPA like https://github.com/saltbo/seenvoy/blob/master/main.go

I want to transfer the saltbo/seenvoy to the envoyproxy/dashboard. Then compile the dist directory of dashboard into envoy

[2022-07-12 02:16] jmarantz commented on #22099
Take a look also at https://github.com/envoyproxy/envoy/pull/18670 - that won't be functional right now but look at the description and screenshot. I think you need deeper C++ integration to build a usable view of the stats like that for, say, 100k clusters, which would be 10M stats. I want to get https://github.com/envoyproxy/envoy/pull/19546 merged first though and then we can get a high-perform

[2022-07-12 02:38] yfming opened #22119 "How envoy handle old and new quic connections when reload？"
how envoy handle old and new quic connections when reload.
when reload, if envoy can keep quic connections open to complete old connections.
and if new connections can not still be handled by old workers.

[2022-07-12 02:40] saltbo commented on #22099
My skill in C++ is weak. I do not intend to go deep into the development of C++ in the short term. I hope to develop the front code using envoy API.

[2022-07-12 02:50] jmarantz commented on #22099
Thinking about this further, a couple of options look feasible.

You've clearly got a lot of value-add in this visualization (css, js etc), but the Go part is pretty small. Would you consider translating that to C++ and integrating it with admin.cc etc? The benefit is that anyone that compiles Envoy (without the flag to disable admin HTML) would get your visualization for free, without changing th

[2022-07-12 03:17] ramaraochavali opened #22120 "Add additional health status to Endpoints"
When a controlplane has to send "Unready" k8s endpoints to Envoy, when Envoy runs in to panic mode, Envoy sends traffic to "Unready" endpoints. This breaks the Kubernetes contract that "Unready" endpoints should never receive traffic.

In Istio, we send "Unready" endpoints with "Unhealthy" status. So the panic threshold algorithm can not distinguish between "Unready" vs. "Unhealthy".

Please refer

[2022-07-12 03:18] ramaraochavali commented on #22120
@howardjohn fyi

[2022-07-12 03:23] saltbo commented on #22099
Yes, I agree.  I would translate the 90 lines of Go into C++ and integrate it with admin.cc.

[2022-07-12 03:47] jmarantz commented on #22099
Great! You might want to scan through https://github.com/envoyproxy/envoy/pull/19546 (which I just opened for review; it was previously in draft) which will help you get familiar with the mechanism it adds to embed CSS and HTML files into the C++ binary at build time, simplifying deployment. It will also show you some of the hook-points for your transliterated Go. I don't think that part will be c

[2022-07-12 04:26] #21171 closed

[2022-07-12 04:26] #21564 closed

[2022-07-12 04:42] sumitaneja commented on #22094
Thanks @adisuissa
For 1 can you help with more concrete example.  I am not sure how this can be achieved

For 2 this is my sample code in lua filter. Even though above cluster is round robin and STRICT_DNS, all requests are landing on same host from lua filter

[code]

[2022-07-12 05:42] saltbo commented on #22099
Don't worry, I'm not using 3rd party JS libraries.

#19546 Thank you, I will try it.

[2022-07-12 06:31] phlax commented on #20467
one thing i  have noticed - it would seem Engflow have "remote persistent workers"

this pattern would be a _huge_ benefit to us - would speed up bazel massively for RBE, simplify aspect/worker patterns, and by extension potentially speed up just about everything

it would also make a massive difference to the projects carbon footprint

[2022-07-12 06:36] cetanu opened #22127 "Connection Limit filter reporting 18 quintillion active connections"
We have observed that Envoy with the Connection Limit Filter configured, at some point will report 2**64 active connections for the metric `envoy.connection_limit.<listener>.active_connections`.

This seems suspicious and could be indicative of some integer overflow.

This did not result in a crash, but did result in some connections being limited when it was not intended.

[2022-07-12 06:44] cetanu commented on #22127
![image](https://user-images.githubusercontent.com/2289018/178425626-c4ab5370-edac-4d66-a64a-082a3e65658b.png)

Screenshot of the admin endpoint `/stats` on a problematic instance

[2022-07-12 07:41] 13567436138 opened #22128 "envoy.clusters.aggregate endpoint is none?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

[code]
[optional *Relevant Links*:]

![image](https://user-images.githubusercontent.com/31508490/178436150-2673fc88-3230-4eab

[2022-07-12 07:56] daixiang0 commented on #20467
related link:
- https://docs.engflow.com/docs/re/client/remote-persistent-workers.html

[2022-07-12 07:58] gzeronet commented on #14826
I just test network.echo with my sample here, it works by telnet:

[code]

[2022-07-12 08:02] Edimo24 commented on #21979
I have checked the documentation you provided and it is not really clear how to use fine grain logging for my case- I will continue digging around for more info.
What if I want to add a string to the log operators containing sensitive information in debug logs? (i.e. lets say I consider that "DOWNSTREAM_LOCAL_ADDRESS" has some sensitive information and, in debug logs I want it to be not only the I

[2022-07-12 09:18] kfaseela commented on #21941
Thank you so much @mattklein123 @ZiyangXiao !

[2022-07-12 12:37] eoregua opened #22130 "Align metrics to follow Prometheus Best Practices"
Hello Envoy community!

Is there any plan to align metrics to follow Prometheus Best Practices like getting zero errors from promtool for the exposed metrics from Envoy?
e.g see below issues reported from promtool check:
[promtool_check_exposed_envoy_metrics.txt](https://github.com/envoyproxy/envoy/files/9092829/promtool_check_exposed_envoy_metrics.txt)

Thanks!

[2022-07-12 14:21] spappier commented on #21963
@wbpcode if the ip is no longer being returned by the dns it's unlikely it will ever work again, the case I've seen like this is reaching an ELB via original dst, ips in the ELB change every once in a while and if the connection is never closed the client application keeps trying to use an old ip.

[2022-07-12 14:25] bnadim opened #22133 "Bug or misuse not sure : Issue using envoy with upgrade connect and npm"
*Title*: *Issue using envoy with upgrade connect and npm*

*Description*:
I am trying to use envoy as an outgoing proxy, the one that you define through http_proxy env vars.
I can not use it as a "transparent" proxy (aka forwarding) for internal reasons.

For some reasong whenever i try to run an npm install of provided package.json, it never succeed even if i run it 2 or 3 times in a row. You can

[2022-07-12 14:50] mattklein123 commented on #22099
One other thing to keep in mind is that for the non embedded parts we could potentially bundle what is needed in the full sized (ubuntu) docker images. That would make it easy to try/use for the average user. IMO we should keep it out of the slim (distroless) images. cc @phlax

[2022-07-12 15:02] jmarantz commented on #22099
That's a good point -- Docker probably makes it feasible to serve JS & CSS
from files provided alongside the binary.

Is it sufficient, though, to rely on the compile-time option to cut out the
HTML entirely? Or do you want to be able to be able to enable the HTML but
leave the text out of the binary? The total amount of text is pretty small
compared to the binary, and would be in 'text' space whe

[2022-07-12 15:20] tejaswiniVadlamudi commented on #22130
Good finding, seems like the below errors can be fixed for good reasons?
- no help text
- should have "_total" suffix
- use base unit "seconds" instead of "days"
- metric names should not contain abbreviated units

[2022-07-12 15:51] mattklein123 commented on #22099
HTML entirely? Or do you want to be able to be able to enable the HTML but
leave the text out of the binary? The total amount of text is pretty small
compared to the binary, and would be in 'text' space when declared as a
static constexpr char[].

IMO it's probably fine to just have all of it be guarded by the compile time flag. As long as people can compile it out I'm fine with having it all be u

[2022-07-12 15:56] phlax opened #22137 "Contrib codeownership is not currently being checked correctly"
Currently it is supposed to check that all of the "top level" contrib dirs are "owned"

the algo is broken and the only path it checks is `/` - if there are any codeowners listed for contrib extensions at all then they all pass

i was intending to shift this to a bazel tool anyhow so i guess ill prio this so it is fixed

[2022-07-12 15:56] wbpcode commented on #21963
Sounds reasonable for me to close the downstream connection if the upstream connection is failed. 🤔 But I am not very familiar to this.

cc @zuercher hi, could you take a look for this when you have free time?

[2022-07-12 15:56] phlax commented on #22137
cc @alyssawilk

[2022-07-12 16:24] jmarantz commented on #22099
I think dev is not too bad when compiling it in; you can also tweak the build to allow reading files when serving so you can edit them without recompiling or even restarting Envoy.

[2022-07-12 17:02] kyessenov commented on #12893
@zirain No, I'm not. I agree this is useful for fine-grained access log configuration.

[2022-07-12 18:31] znqjnny commented on #12285
Thanks so much for the information, @mattklein123  and @kyessenov.

[2022-07-12 19:12] phlax opened #22149 "`distroless` image is showing (unrelated) openssl vulns (again)"
we should update the source image

[2022-07-12 19:34] phlax opened #22151 "Improve titles in docs"
currently there are quite a few titles that come up as `<no title>` when you search and others that are poorly differentiated

mostly these should be fairly easy to find and fix, would be good to sweep through before release

[2022-07-12 19:35] phlax commented on #22151
cc @daixiang0

[2022-07-12 19:57] yanavlasov commented on #22064
@KBaichoo as well

[2022-07-12 20:04] fredericpougnault opened #22152 "Is it possible to use variable environment in envoy configfile ?"
I want to use environment variable in cors to specify the source adresse.
But I don't know if it is possible.

Regards,

[2022-07-12 20:30] dekimsey opened #22153 "Add a metric for nofile usage/max"
*Title*: Expose envoy's ulimit nofile usage/max

*Description*:

Related: For what it's worth envoy doesn't try to increase it's ulimit, it runs afoul of the soft limit and dies. Perhaps it could `setrlimit` and bump the soft limit for itself?

[2022-07-12 21:43] KBaichoo commented on #21923
I think it's comparable to O(100Mb) use cases. I tested today with 1000 connections so that "heap_size" reaches >100 MB.

I am not sure what contains in fragmentation

In my view "used==current_allocated_bytes + fragmentation - unmapped" is more reasonable

"From your in space profile it seems like you still have connections pools allocated."

“ Perhaps measuring fragmentation and switching to usi

[2022-07-13 01:36] daixiang0 commented on #22151
/assign

[2022-07-13 03:41] 13567436138 opened #22158 "why this config is no healthy upstreams"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

[code]
[optional *Relevant Links*:]

[2022-07-13 04:54] zuercher commented on #21963
It seems reasonable. One question would be if the original behavior is ever desirable?

[2022-07-13 05:29] wbpcode commented on #22158
You can try run a `ping` command to ensure the dns resolver is working as your expect.

[2022-07-13 05:30] wbpcode commented on #22158
cc @yanavlasov

[2022-07-13 05:38] wbpcode commented on #22153
In my personal opinion, I don't think change the limit in the envoy internally is good choice. It may break some resource manage policies that set by the PE/SRE.

[2022-07-13 05:42] wbpcode commented on #22153
The fd's number used by the envoy sounds like a metric that should provided by the OS/external monitor?

cc @jmarantz

[2022-07-13 05:49] wbpcode commented on #22152
What do you mean by `source adresse`?

As I know, It's not supported to create cors config by the env for now. In most of cases, the config of envoy is created by a control plane and then send to the envoy. Could you achieve your target by the control plane?

[2022-07-13 06:01] wbpcode commented on #22133
It seems that you client send a request with connection: close?

[code]

[2022-07-13 06:02] wbpcode commented on #22130
cc @jmarantz

[2022-07-13 06:16] wbpcode commented on #22130
It would be big change for all the envoy stats users. And in my personal opinion, it would be better to achieve it by some third-party exporter rather than update core envoy.

[2022-07-13 06:29] wbpcode commented on #22128
The endpoints of aggregate is come from all the sub clusters.

[2022-07-13 06:33] wbpcode commented on #22127
cc @mattklein123

[2022-07-13 06:35] wbpcode commented on #22120
cc @snowp

[2022-07-13 06:55] wbpcode commented on #22120
Thanks for your suggestions. I have some questions. 🤔 For a endpoint, when will you treat it as unready? If there are some intermittent readiness failures, how the Istio distinguish unready and unhealthy? If a endpoint is killed by the liveness and then is restarted, how the Istio distinguish unready and unhealthy?

[2022-07-13 06:57] wbpcode commented on #22119
cc @alyssawilk @danzh2010

[2022-07-13 06:59] wbpcode commented on #22109
cc @alyssawilk hi, could you take a look for this when you have free time? Thanks.

[2022-07-13 07:26] fredericpougnault commented on #22152
By source address I mean allow_origin_string_match.
I'll generate the config by control plane.

[2022-07-13 08:03] github-actions[bot] opened #22159 "Newer release available `com_github_google_perfetto`: v27.1 (current: v22.1)"
Package Name: com_github_google_perfetto@22.1
Current Version: v22.1@2021-12-07
Available Version: v27.1@2022-07-12
Upstream releases: https://github.com/google/perfetto/releases

[2022-07-13 08:03] #22021 closed

[2022-07-13 08:03] github-actions[bot] opened #22160 "Newer release available `rules_python`: 0.10.1 (current: 0.9.0)"
Package Name: rules_python@0.9.0
Current Version: 0.9.0@2022-06-12
Available Version: 0.10.1@2022-07-13
Upstream releases: https://github.com/bazelbuild/rules_python/releases

[2022-07-13 08:04] tejaswiniVadlamudi commented on #22130
@wbpcode : Is it a big change because of code complexity or is it because of backward compatibility with users & dashboards?
What do you mean by 3PP exporter, an extra process that filters and exposes Envoy metrics? Do we have one available for use?

[2022-07-13 08:29] Jacobien1 opened #22162 "transaction mode redis"
why does the redis transaction mode is not supported by envoy?

[2022-07-13 08:33] bmcalary-atlassian opened #22163 "Successive per_downstream_connection http local_ratelimit filters seem to reduce effective tokens, rate limit too early"
*Title*: Successive per_downstream_connection http local_ratelimit filters seem to reduce effective tokens, rate limit too early

*Description*:

On Envoy 1.22.x and 1.21.x, when adding multiple local_ratelimit filters to either the listener or vhost config, or both, with `per_downstream_connection=true` set, the effective rate is lower than any of the defined token buckets alone.

The expected be

[2022-07-13 08:43] phlax commented on #22050
Preview of various styles:

https://www.florian-diesch.de/doc/sphinx/themes-and-pygments-styles/index.html#theme-default

[2022-07-13 08:44] bmcalary-atlassian commented on #22163
I have also observed that the stats will attribute a rate limit decision to multiple distinct rate limit filters/stat prefixes.

In this image 1173 429's would have been returned t clients, but the statistic is incremented for every single token bucket/filter.

<img width="927" alt="image-20220701-033737" src="https://user-images.githubusercontent.com/60675367/178690650-0b7e7d7c-6f68-4f8c-92e4-f14

[2022-07-13 08:50] phlax commented on #22050
https://dt.iki.fi/pygments-gallery

[2022-07-13 09:02] 13567436138 opened #22166 "how to get route_metadata in wasm?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

[code]

[code]

[code]

[optional *Relevant Links*:]

[2022-07-13 09:08] 13567436138 commented on #22087
when I use merge It already has stat_prefix

[2022-07-13 09:13] phlax opened #22167 "Some code-block highlighting is wonky in docs"
would be good to clean up

[2022-07-13 09:34] Jacobien1 commented on #21783
@daixiang0 the blpop works more or less well in my case, I have only one issue and you are the only one who may help. I need to have to work the transaction mode in redis, I found out that for the transaction mode I need 4 commands multi, exec, discard, watch can you tell me or help on where to add those commands to have the transaction mode

[2022-07-13 09:37] jewertow commented on #19612
@scrocquesel I'm glad I could help you.

[2022-07-13 11:14] ohadvano commented on #22109
Updating with few more observations:

- If I update the envoy's upstream cluster IP to the proxy machine (and not the third machine in the list) then it works.
- If I make direct netperf connection from the proxy machine to the server machine, without envoy, then netperf works - this is to rule out problems of firewall configurations

In other words - Envoy successfully creates the netperf connect

[2022-07-13 12:22] dekimsey commented on #22153
Understandable. To be clear, I only mean to bump the soft cap to the hard cap (which envoy cannot raise anyway). It's my understanding that's why there are two caps. I'm not an expert on the subject, just a thought. It may be entirely not appropriate.

[2022-07-13 12:23] dekimsey commented on #22153
In seem places I can do just that with a bit of effort. We use node_exporter on our ec2 instances, but it doesn't provide per process fd's as that's too noisy. I could drop in a textfile exporter to enumerate our envoy sidecars and expose the information. To my knowledge however, in our containers I don't have any ability to pull this information.

Regarding prior art I'm going to double check my

[2022-07-13 13:48] daniel-yaba opened #22173 "Lua HttpCall response cookies are missing"
*Title*: *HttpCall response cookies are missing*

*Description*:

*Code*:

headers[":method"] = method
headers[":path"] = path
headers[":authority"] = request_handle:headers():get("Host")
local rheaders, rbody = request_handle:httpCall("cluster_external_api",headers, body, timeout)
for key, value in pairs(rheaders) do
    print(key, value)
end

*Sample of tcpdump response*:

Content-Type: text/htm

[2022-07-13 14:45] uglycow opened #22175 "will envoy try to consume tokens from all matched LocalRateLlimit descriptors ?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

[code]

did I take anything wrong?

[optional *Relevant Links*:]

[2022-07-13 15:24] kyessenov commented on #22175
Can you point to the mis-leading statement in the docs? This seems to explain it https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/local_rate_limit_filter#using-rate-limit-descriptors-for-local-rate-limiting.

[2022-07-13 15:32] kyessenov commented on #22163
There is a blurb about matching on overfill here: https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/local_rate_limit_filter#using-rate-limit-descriptors-for-local-rate-limiting. Is that consistent with what you're seeing?

[2022-07-13 15:43] mattklein123 commented on #22127
From a quick look there is a bug if the filter is not enabled via runtime. Not sure if you are using that.

https://github.com/envoyproxy/envoy/blob/0d1781492579cfa0791babc010bef2555f30d31c/source/extensions/filters/network/connection_limit/connection_limit.cc#L62-L67

In that case inc() only happens after the check, but the dec always happens:

https://github.com/envoyproxy/envoy/blob/0d178149257

[2022-07-13 16:01] danzh2010 commented on #22119
What kind of reload? If the config update requires tearing down the old listener, currently QUIC still not support both old and new listeners listening on the same port. The old one will abruptly tear down its connections.
If the config update doesn't requires tearing down the old listener, quic support in-place filter chain update.

[2022-07-13 16:18] kyessenov commented on #22166
It should be available as `{"route_metadata"}` attribute in a serialized proto form. I'm not familiar with Go SDK though.

[2022-07-13 16:36] jacob-delgado commented on #21640
We've been working lately with large telecommunication companies that have expressed apprehension about an approach that uses IPv4 downstream and IPv6 upstream.

These customers have setup packet captures endpoints both before and after each proxy to understand the behavior of their system (and to look for opportunities to optimize various settings even at the kernel level). Some settings, such th

[2022-07-13 17:28] ggreenway commented on #21640
It doesn't sound like there's any blocked use-case; it's just that to configure envoy to behave how they want, they would need an ipv4 listener -> ipv4 cluster, and ipv6 listener -> ipv6 cluster. So it sounds like the concern is the doubling of config size. So does it make sense to add a mechanism to avoid the duplicate config for this specific use-case, and is there anything more generally useful

[2022-07-13 17:56] jmacd opened #22183 "OpenTelemetry extension should set service.name resource attribute"
*Title*: *Set the OpenTelemetry service.name resource attribute*

*Description*:
OpenTelemetry specifies semantic conventions for services to meet, [the most basic being the service's name](https://opentelemetry.io/docs/reference/specification/resource/semantic_conventions/#service).

*Repro steps*:
First reported here: https://github.com/envoyproxy/envoy/pull/21370#issuecomment-1165023985

The En

[2022-07-13 22:19] #14229 closed

[2022-07-14 00:22] soulxu commented on #21640
For the item1, I think it is enough to resolve the @jacob-delgado usecase, since their control plane is istio. The item 3 I added for completion for this case if people want to use it with DNS host name, but I think istio won't need that.

For the item1, as I propose above, we can add a network filter here, it will convert some l4 stream info into dynamic metadata, then people can use that for cho

[2022-07-14 00:44] daixiang0 commented on #21783
Please check https://github.com/envoyproxy/envoy/pull/21843

[2022-07-14 00:49] 13567436138 commented on #22166
how to unserialized proto

[2022-07-14 01:31] bmcalary-atlassian commented on #22163
If the following config is used (no `local_rate_limit_per_downstream_connection: true`):

[code]

The effective rate applied to a single client connection sending ~1000/s for 10s is:
[code]
[code]

Which is expected.

If `local_rate_limit_per_downstream_connection: true` is added, the expectation is that (in this 1 client, 1 connection situation) the allowed requests should be roughly similar to a

[2022-07-14 01:52] wbpcode commented on #22153
cc @mattklein123 Could you take a look for this when you have free time? Thanks.

[2022-07-14 02:14] #22100 closed

[2022-07-14 02:29] 13567436138 commented on #22166
[code]

got
[code]

[2022-07-14 03:00] zhxie commented on #22151
Have a suggestions here. Many [contrib extensions](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/contrib/contrib.html)' docs do not have titles because they have their own hierarchy [here](https://github.com/envoyproxy/envoy/blob/main/docs/root/api-v3/config/contrib/contrib.rst). Maybe we can remove these specified hierarchy and use `../../extensions/**/v3alpha/*` to include all contri

[2022-07-14 03:12] 13567436138 commented on #22158
[code]

[2022-07-14 03:15] 13567436138 commented on #22158
[code]

[2022-07-14 03:17] 13567436138 commented on #22158
/ # nslookup productpage.istio.svc.cluster.local 10.68.0.2
Server:         10.68.0.2
Address:        10.68.0.2:53

*** Can't find productpage.istio.svc.cluster.local: No answer

[2022-07-14 03:44] 13567436138 opened #22189 "Unable to unpack as envoy.extensions.transport_sockets.starttls.v3.UpstreamStartTlsConfig"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

[code]

2022-07-14T03:42:19.558546Z     warn    ads     ADS:CDS: ACK ERROR istio-ingressgateway-7845746bf7-xpg7k.istio-system

[2022-07-14 04:07] 13567436138 opened #22190 "how to use envoy.transport_sockets.upstream_proxy_protocol?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

[code]

upstream connect error or disconnect/reset before headers. reset reason: connection failure, transport failure reason

[2022-07-14 04:18] #20536 closed

[2022-07-14 04:28] 13567436138 opened #22191 "Unable to unpack as envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

[code]

2022-07-14T04:21:12.996753Z     warn    ads     ADS:CDS: ACK ERROR istio-ingressgateway-7845746bf7-xpg7k.istio-system

[2022-07-14 04:45] 13567436138 opened #22192 "connection_failure,QUIC_NO_ERROR_with_details:_Closed_by_application"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

[code]

[2022-07-14T04:43:39.602Z] "GET / HTTP/1.1" 503 UF upstream_reset_before_response_started{connection_failure,QUIC_NO_

[2022-07-14 04:49] kyessenov commented on #22191
I think the error is pretty clear - you're putting Downstream into the Upstream TLS context. In general, this is not an appropriate place to resolve Istio's EnvoyFilter issues. Those are control plane issues that Envoy is not responsible for.

[2022-07-14 04:49] #22191 closed

[2022-07-14 04:50] kyessenov commented on #22189
This is the same issue - wrong proto type used.

[2022-07-14 04:50] #22189 closed

[2022-07-14 04:52] kyessenov commented on #22190
What's the downstream configuration? You should use PROXY listener filter to strip the prefix, and then make sure there is no incompatible minimum version requirement set on TLS. Closing as this is an Istio EnvoyFilter issue.

[2022-07-14 04:52] #22190 closed

[2022-07-14 04:52] 13567436138 opened #22193 "Unable to unpack as envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

[code]

2022-07-14T04:51:27.195560Z     warn    ads     ADS:CDS: ACK ERROR istio-ingressgateway-7845746bf7-xpg7k.istio-system

[2022-07-14 05:24] conqerAtapple commented on #17013
@zuercher @alyssawilk . I have finally got some time block to focus on this.  After some thought into this, I feel that we could be better off by keeping the existing subsetting mechanism and add a new `aperture` load balancing algorithm. This allows existing subsetting mechanism to work with the new aperture load balancer. For example - we can  have subsets of endpoints based on header metadata a

[2022-07-14 05:27] 13567436138 opened #22195 "how to config QuicDownstreamTransport ,got connection refused"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

set env

[code]

[code]

create secret

httpbin.cnf

[code]

[code]

[code]

ef-filter_chains-quic_downstream.yaml

kubectl a

[2022-07-14 06:08] StarryVae commented on #22175
Yeah, all matched LocalRateLlimit descriptors will be consumed here in main branch:

https://github.com/envoyproxy/envoy/blob/516b3f304bccf451691224c71a357f9c62840b2b/source/extensions/filters/common/local_ratelimit/local_ratelimit_impl.cc#L168

[2022-07-14 06:18] Cloudmersive opened #22196 "Provide pre-built binaries in GitHub Releases"
Today, Envoy provides pre-built docker containers but not pre-built binaries.  In the releases page of GitHub, no binaries are available.  In the envoy website, if you click on "Download" it takes you to a page telling you how to build from source.  This is pretty broken as all other major OSS projects provide pre-built binaries so as to ease adoption and to also provide official binaries for use.

[2022-07-14 06:25] yfming commented on #22119
restart.

[2022-07-14 06:26] yfming commented on #22119
how envoy handle old and new quic connections when restart.
when restart, if envoy can keep quic connections open to complete old connections.
and if new connections can not still be handled by old workers.

[2022-07-14 07:10] ohadvano commented on #22109
After debugging, I can confirm that the problem is not with Envoy.
netperf is by design listening on a random port for the data connection on each test, so Envoy blocked the data connection traffic, as the destination port was not defined in the yaml

[2022-07-14 07:10] #22109 closed

[2022-07-14 07:44] cetanu commented on #22127
We left the `runtime_enabled` field empty, as the docs say this enables the filter by default.
So am I correct in understanding that we just fill in that field? I'll give it a shot and report back here if we see the same behavior

[2022-07-14 08:52] #21917 closed

[2022-07-14 08:56] phlax commented on #22196
hi @Cloudmersive thanks for raising this - i think this is defnitely something we want, and something that has been discussed previously

if you were able to raise a PR i would be happy to review - otherwise i can look at it as time is available - i think its unlikely we are going to get this in place for the imminent 1.23.0 release

[2022-07-14 08:57] phlax commented on #22196
in the meantime the standard advice to get the binary is to fish it out of the docker image - it is built statically so will work in many situations

[2022-07-14 09:51] uglycow commented on #22175
so sorry that I checked old code and thanks to your reply  @kyessenov  @StarryVae  , I'll just close this.

[2022-07-14 09:51] #22175 closed

[2022-07-14 10:11] tommie commented on #21670
Stale bump.

[2022-07-14 10:17] phlax commented on #22151
almost certainly a good idea, but i think we should see it to get a better idea

im currently tidying up docs as much as poss before release - @zhxie @daixiang0  if you were able to PR this suggestion that would be amazing. otherwise i can look at it once i have cleared some of the things im currently working on

[2022-07-14 11:22] pratikbin opened #22200 "Redirect load balancing with health checking in envoy"
*Title*: Redirect load balancing with health checking in envoy

*Description*:
I want to `301` redirect to multiple endpoints, It's somehow possible in nginx but no health checking is available. I tried others, caddy and HAProxy, they don't even provide multiple redirect. Since envoy is extensively configurable, I don't have much experience in envoy, is that possible in envoy to redirect to multip

[2022-07-14 11:27] 13567436138 commented on #22128
why not come

[2022-07-14 11:30] phlax commented on #22151
i ran scrapy against the site latest docs - seems like this issue is not as bad as i thought:

[code]

[2022-07-14 11:57] cgrotz opened #22201 "WASM extension appends X-Forwarded-For header for non-proxy HTTP requests"
*Description*:
I also raised this problem in [proxy-wasm-go-sdk](https://github.com/tetratelabs/proxy-wasm-go-sdk/issues/300), but I think this is actually a bug in envoy.

When making a http call from a WASM filter, the `ProxyHttpCall` method is used (sorry I was not able to locate the implementation on the envoy side). It seems that this always appends a `X-Forwarded-For` header, ignoring other

[2022-07-14 13:36] phlax commented on #22151
for ref this was the scraper:

[code]

[2022-07-14 13:49] wbpcode commented on #21910
It would be great if we can make it some things like resource monitors. If there are some new config are accepted or rejected, we can post a event to the monitors. And the monitor then can do some extendable actions based on the type of event/xds.

[2022-07-14 13:51] wu-sheng commented on #21910
Would like to see the progress in this direction. An xds-oriented callback hook seems a great idea.

[2022-07-14 14:35] mattklein123 commented on #22127
So am I correct in understanding that we just fill in that field? I'll give it a shot and report back here if we see the same behavior

If you aren't using runtime, I don't think that's the bug you are hitting, though it's definitely a bug.

The only other thing I can think of is that I think depending on what filters you are using it's possible for onNewConnection() to not be called but onEvent t

[2022-07-14 16:13] phlax opened #22208 "Lua example has sprung a flake"
not sure if its related to the recent lua config change or one of those flakes that is exposed by fixing others - either way verify_examples has (i think) just started flaking on the lua example

[2022-07-14 16:14] phlax commented on #22208
cc @wbpcode

[2022-07-14 16:20] #22208 closed

[2022-07-14 16:57] #22050 closed

[2022-07-14 17:17] stevenzzzz commented on #21615
@adisuissa do you think this worth a nostale tag?

[2022-07-14 17:46] #22113 closed

[2022-07-14 18:03] phlax commented on #22065
ive removed this from the milestone as there is a pending PR to address the release part - there is some follow up on the dev READMEs so i will leave the ticket open

[2022-07-14 18:54] cthain opened #22213 "AWS Lambda filter JSON property names don't match the docs"
*Description*:
The [AWS Lambda filter doc](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/aws_lambda_filter) describes the JSON schema for the payload sent to the Lambda function when `payload_passthrough` is set to `false`'; however, the following properties aren't named according to the docs:

- `rawPath` is received by the Lamdba function as `raw_path`
- `queryStrin

[2022-07-14 20:33] #21930 closed

[2022-07-14 21:08] #21759 closed

[2022-07-14 21:43] howardjohn commented on #21930
Thanks :+1:

[2022-07-14 22:18] phlax opened #22215 "Add retry in distribution envoy `GET` request test"
The distribution test installs the envoy binary and then tests it starting, responding, stopping, and uninstalling

it fails pretty regularly on the responding part

the reason (i believe) is that the default config is pointing to the Envoy website - for whatever reason, it fails to respond

one possible solution - probably my preferred - is to make the default config proxy to an internal server t

[2022-07-14 22:20] phlax commented on #22215
tentatively adding this to the 1.23.0 milestone as if we can resolve it would reduce flakiness on the release branch

[2022-07-14 22:30] satishnaidu commented on #21994
Thanks @qiwzhang for the update, I got the point that we cannot use the remote_jwks endpoint dynamically.
Is it possible to use local_jwks: file_name: <<file_path>> configuration dynamically.

I mean, in Lua filter I can download all the public keys into the envoy file system during startup,
For instance,
/var/lib/publickeys/A_key.pem
/var/lib/publickeys/B_key.pem, etc

Is there any way to modify

[2022-07-15 01:41] douglas-reid commented on #14071
@jmarantz have you had any updated thoughts on the stats ABI? one thing that comes up repeatedly for us is the desire of our users to dynamically add tags. many of end users want to tailor our base telemetry extension to precisely meet their needs -- often this means using different labels for, ultimately, the same information, as well as augmenting with information that is custom to their install

[2022-07-15 01:52] xjtian opened #22217 "Can't generate compilation DB on M1 Mac"
*Description*:

`/tools/vscode/refresh_compdb.sh` doesn't succeed on an M1 MBP due to toolchain selection failure. This happens if I run the script directly on the host and inside the devcontainer, although for different reasons. Unfortunately I don't have an Intel Mac to attempt a repro on.

Toolchain debug output on the *devcontainer*:

[code]

Toolchain debug output on the *local host*:

[code]

[2022-07-15 01:58] xjtian commented on #22217
I found https://github.com/aspect-build/bazel-lib/issues/174 for the local dev issue. Let me see what happens if I use `yq` instead of `jq` rules locally.

[2022-07-15 03:09] Patrick0308 opened #22218 "Memory leak as a Istio sidecar"
*Title*: *Memory leak as a Istio sidecar *

*Description*:
We are migrating some services to Istio. However, we found many service are in memory leaks at different rates.
below you can see graphs showing istio-proxy container memory utilization metrics:

![image](https://user-images.githubusercontent.com/5486149/179139057-48a6ce62-999d-4f10-8906-ccaad6be3db0.png)

I enable heap profiler for few ho

[2022-07-15 03:36] StarryVae commented on #22201
yeah, `httpCall` in WASM will always add `X-Forwarded-For` header here:

https://github.com/envoyproxy/envoy/blob/9b6bbf28f1db9519be1f85461f5d14030c5a3864/source/common/http/async_client_impl.cc#L144

becase `RequestOptions` will never set `Xff` to false here:

https://github.com/envoyproxy/envoy/blob/9b6bbf28f1db9519be1f85461f5d14030c5a3864/source/extensions/common/wasm/context.cc#L968

cc @Piotr

[2022-07-15 05:46] 13567436138 opened #22220 "what's the difference betweeen istio-http/1.1 and http/1.1?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

what's the difference betweeen istio-http/1.1 and http/1.1?
[optional *Relevant Links*:]

[2022-07-15 06:35] phlax commented on #22151
@daixiang0 im going to work on this as i would like at least a bit of a cleanup before release

[2022-07-15 06:40] #21828 closed

[2022-07-15 07:05] phlax opened #22222 "Improve changelog linting"
A couple of issues are cropping up in the changelog files

Currently it doesnt check for the text type (ie missing `|`) on the change strings

there is also a regression where it no longer checks for capitalization on the first word

there may be others that we want to add

---

- check structure of changelogs - ie have area/change for every entry
- prevent editing of historical changelogs

[2022-07-15 07:06] phlax commented on #22222
cc @alyssawilk

[2022-07-15 07:32] soulxu commented on #22193
[code]

You write this as `DownstreamTlsContext`, have you try to use `UpstreamTlsContext`?

[2022-07-15 08:03] github-actions opened #22223 "Newer release available `rules_python`: 0.10.2 (current: 0.9.0)"
Package Name: rules_python@0.9.0
Current Version: 0.9.0@2022-06-12
Available Version: 0.10.2@2022-07-14
Upstream releases: https://github.com/bazelbuild/rules_python/releases

[2022-07-15 08:03] #22160 closed

[2022-07-15 08:59] phlax commented on #22151
not sure why my crawler didnt get this page but there are other `<no titles>`

https://storage.googleapis.com/envoy-pr/7d977b1/docs/intro/arch_overview/security/secpos_requires_trusted_downstream_and_upstream.html

[2022-07-15 10:06] Patrick0308 commented on #22218
metrics file: [stats.txt](https://github.com/envoyproxy/envoy/files/9119904/stats.txt)

[2022-07-15 14:01] uglycow opened #22226 "confusions about rate limiter configuration"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

[envoy/source/extensions/filters/http/ratelimit/ratelimit.cc](https://github.com/envoyproxy/envoy/blob/main/source/extensions

[2022-07-15 14:35] phlax commented on #22217
i think my hesitation - apart from just finding time to test it is that jq is (i believe) faster - which matters for large files

that said - if we can workaround the arm issue just now either by just switching it out, or by using arch selects i think lets do it

[2022-07-15 14:49] #22167 closed

[2022-07-15 14:49] #22151 closed

[2022-07-15 16:01] #21294 closed

[2022-07-15 16:24] kyessenov commented on #22220
It's used in ALPN for this filter https://github.com/istio/api/blob/master/envoy/config/filter/http/alpn/v2alpha1/config.proto. I don't recall the original purpose of inventing a new ALPN, @howardjohn might know.

[2022-07-15 16:26] kyessenov commented on #22226
Q1: This is a gap in implementation, there's no reason why it shouldn't support the same options.
Q2: Yes, it allows disjoint sets of rate limit policies, similar to global rate limiting.

[2022-07-15 16:32] kyessenov commented on #21718
This is a duplicate of #12893

[2022-07-15 16:32] #21718 closed

[2022-07-15 16:52] #22215 closed

[2022-07-15 16:54] dataknower opened #22229 "failed to load MI debugger"
i want to debug envoy with vscode in Mac , after success build with `tools/vscode/generate_debug_config.py //source/exe:envoy-static --args "-c envoy.yaml"`  , i try to start debugger, but got such error below. is there anyone can help me ?
<img width="395" alt="image" src="https://user-images.githubusercontent.com/19550451/179271273-49367b51-59f7-4b64-ac61-46bb767ba441.png">

[2022-07-15 17:23] kyessenov commented on #22218
Could you disable istio stats filters (istio.stats Wasm extension)? There's a known memory leak with `istio_request_total` never garbage collected.

[2022-07-15 17:52] adisuissa opened #22237 "release-tool: removal of entries that share the same category"
*Title*: release-tool: removal of entries that share the same category

*Description*:
The release tool (`bazel run //tools/project:release`) removes entries in the changelog if multiple entries belong to the same category.

Example:
https://github.com/envoyproxy/envoy/pull/22227/commits/27e7a013cfc601a7239792d37f69a283a00ecfe8

We should either force a category for each individual entry, or fix t

[2022-07-15 17:53] adisuissa commented on #22222
Related issue: #22237

[2022-07-15 17:54] phlax commented on #22237
was this not just my bad commit here https://github.com/envoyproxy/envoy/pull/22204/files#diff-6f9c718224c533c13c2c0ba1d5abaab86be9d0cc73808749c77934e9f9b0d5d0L243

i think we just need to lint it better (#22222 )

[2022-07-15 18:18] keith commented on #22217
Looks like we just need to update bazel-lib to include this commit? https://github.com/aspect-build/bazel-lib/commit/32882befdf20f3011482fb5971c5747f69e732ca