[2020-07-29 17:42] jianwen612 commented on #12361
PR is here
https://github.com/envoyproxy/envoy/pull/12362#issuecomment-665804005

[2020-07-29 17:48] #12253 closed

[2020-07-29 18:22] #12327 closed

[2020-07-29 18:40] chriskuehl opened #12364 "Envoy segfaults when a dynamic listener fails to bind to a port and gRPC access logging is enabled"
Envoy segfaults for me when a dynamic listener fails to bind to a port (e.g. because another process is already bound to that port) and gRPC access logging is enabled for that listener. This is happening since at least Envoy 07fa5e0a43b489d907e402d0bcb0ff85d40f823a (Jan 15 2020) and continues today on master (f958d39fcd927603e15460870d36febd27156e05).

I'm not sure if this is truly related to gRPC

[2020-07-29 20:24] #11065 closed

[2020-07-29 20:48] fcfort commented on #12305
I think having some way of exposing the rtt of the underlying connection would be sufficient. This way it isn't connected to the request or stream at all. That is we could add a method like `int Connection::lastRoundTripTime() const` to `src/include/envoy/network/connection.h`

This would always report the current value of `tcpi_rtt` on Linux from the kernel's TCP/IP stack. It would be up to the c

[2020-07-29 21:04] mattklein123 commented on #12305
@fcfort yup sgtm

[2020-07-29 23:39] chradcliffe opened #12370 "Support one-to-one mapping of upstream/downstream connections"
I’d like to have the ability to have exactly one upstream connection for every downstream connection that we decide to route. That is, streams on the same downstream connection should share the same upstream connection, but no other streams should use that upstream connection.

The rationale for this is twofold:
1. I want to ensure that only the traffic for a single downstream client is carried ov

[2020-07-30 01:54] roelfdutoit opened #12373 "Extend Envoy::Buffer to allow for transfer of ownership of buffer slices without copying"
I am building a network filter that has to move the content of an `Envoy::Buffer` into a proprietary library (calling it X in the rest of this description) while avoiding copies as far as possible.  The filter has to convert from an `Envoy::Buffer` to a `X::Buffer` and then allow the library to access the content beyond the scope of the current `onData()` call.  The `X::Buffer` interface is very s

[2020-07-30 03:16] dio opened #12374 "hcm: Allow filter to control on emitting trailers (e.g. to skip encoding trailers when empty)"
Context: Some of the filters, e.g. gRPC Web requires to skip encoding trailers due to https://github.com/envoyproxy/envoy/issues/10514.

i.e. currently, we have the following "problematic" response frames.

[code]

What we want is something like:

[code]

We have the current data frames since we always encode trailers. The proposed solution will be to have control from the filter side.

A couple o

[2020-07-30 09:02] manogarsubramaniyam opened #12375 "bypass_cors_preflight=true flag is still applying authentication filter to preflight calls and returning 401"
Here's the definition of envoy proxy. Can someone help me on this?

[code]

[2020-07-30 09:24] #1861 closed

[2020-07-30 12:32] asraa commented on #12354
Thanks! My impression is that (a) at least the PRs should be split into subcomponents (please label the PRs based on the components), and that (b) this is a great clean-up for things that will have a big readability impact. I'd love to see ones where .first/.second are used extensively be replaced, over ones that are only used once.

[2020-07-30 12:38] hinawatts opened #12377 "JWT authentication issuer not configured error"
Hi,
I am trying to enable JWT authentication in envoy.yaml. The token passed in request is generated by service hosted by our company. And in this token, we don't use 'iss' (issuer) claim. And when I use envoy with configuration for JWT, I get an error "Jwt issuer is not configured". Can I skip the issuer validation in JWT auth in envoy?

[2020-07-30 12:53] alyssawilk commented on #12370
@mattklein123 @snowp

I don't think this is going to be an easy one given the design of how we do upstream selection (where it's easy to select the host by all sorts of rules, but there's no transparency on how to select the connection) but I can easily imagine other folks wanting it so I think it's reasonable to land upstream.  WDYT?

[2020-07-30 12:54] alyssawilk commented on #12373
cc @antoniovicente

[2020-07-30 13:13] #12258 closed

[2020-07-30 13:20] snowp commented on #12370
Yeah I think it will require a bit of work due to the existing abstractions. One way I can imagine doing this is as follows:

- introduce a new conn pool that keys off the downstream connection id, potentially wrapping the existing h1/h2 conn pools (this needs some fleshing out)
- extend the Http::ConnectionPool::newStream function so that additional information can be passed (to pass the connecti

[2020-07-30 13:38] stedsome commented on #12354
Thanks for the message, I will add the component labels to PRs, and I certainly agree that in some instances, the impacts are pretty small. However, do you mind quantifying "used extensively" so that I can have an idea when I am trimming down the PRs.

[2020-07-30 13:42] lretrain91 commented on #12043
hello @ankatare any news about the fix ?

[2020-07-30 13:44] lretrain91 commented on #11883
hi i'm a colleague of @vinzo99.
what should we do now since 1.15.0 is not fixing the issue ?

[2020-07-30 13:49] asraa commented on #12354
Sure! I really like the factory/factory name one, and things like deprecated/canonical, but for ones that are simply going over key/value pairs without a significant meaning, i think it's ok to leave as is (the metadata one and json one comes to mind).

[2020-07-30 13:49] antoniovicente commented on #12373
What API do you have in mind?

std::unique_ptr<Slice> transferFrontSlice();
std::unique_ptr<BufferFragment> transferFrontSlice();

something else?
Note these APIs may need to change in the future, the roadmap of improvements to the Envoy buffer class is not well defined.

[2020-07-30 14:34] stedsome commented on #12354
Yes that is what I planned to do! Also I believe in the new PR (pretty small just to test the water), there are no such cases.

[2020-07-30 14:55] #11790 closed

[2020-07-30 15:36] stedsome commented on #12341
@ggreenway @asraa  I would love to take on this if this hasn't already been taken. Also, in response to Ashley's concern, Asra has suggested sending an email to envoy-announce to notify users of this potential problem. @ahedberg Is this going to be sufficient in addressing the issue?

[2020-07-30 15:47] kyessenov commented on #12326
Can we close this now? I could not get any more flakes after the last fix.

[2020-07-30 16:05] #12326 closed

[2020-07-30 16:19] mattklein123 opened #12379 "IdleTimeoutIntegrationTest flake"
[code]

[2020-07-30 16:41] roelfdutoit commented on #12373
I appreciate your feedback!

The `BufferFragment` variant should work given that the external library just needs a read-only object that provides access to the slice data and length.   It would probably be a special implementation of `BufferFragment` that wraps a `Slice`, and not just `BufferFragmentImpl`.  The downside of using `BufferFragment` is that its purpose (to wrap externally owned data)

[2020-07-30 16:49] #12291 closed

[2020-07-30 17:04] antoniovicente commented on #12373
The thing you're proposing seems similar to moving the definition of the Slice interface class to the header defined in the includes directory.  The only real difference between the BufferFragment and Slice version of the API I mentioned is wherever or not you need to call an explicit method to do cleanup or rely on destructor to do the needful.  So the Slice version is probably the way to go.

I

[2020-07-30 17:11] ahedberg commented on #12341
That seems reasonable.

I've also been informed that my data was out of date, and Google does actually use `ABSL_USES_STD_STRING_VIEW` now. So we don't have any specific import concerns.

[2020-07-30 17:27] stedsome commented on #12341
Oh that sounds great.

[2020-07-30 17:29] ankatare commented on #12043
@lretrain91 currently investigating it and will update soon.

[2020-07-30 17:34] ankatare commented on #12043
@vinzo99 Hi, would you please help me by providing steps to reproduce it.

[2020-07-30 17:37] ankatare commented on #10843
@junr03 Hi,  would you please review PR #12058 . it will close this issue if all goes good :)

[2020-07-30 17:41] ggreenway commented on #12341
@stedsome I think the only work we want to do now is to lint on new uses of absl::string_view/optional. I don't think we want an enormous change that rewrites from one type to the other. It just creates churn without much value, and makes it harder to read the code history in git.

[2020-07-30 17:46] stedsome commented on #12341
Yes, this is something I am aware of

[2020-07-30 18:19] mattklein123 commented on #12370
Do we even need a new conn pool for this? Couldn't we use the existing hash functionality in conn pool selection to make sure that a different pool is created for each downstream connection?

[2020-07-30 18:29] roelfdutoit commented on #12373
The cleanup-via-destructor model is good enough for my use case.

If you are open to defining the `Slice` interface in `buffer.h` then I would propose the following, keeping in mind that class naming is probably one of the hardest problems in computer science :)

`class SliceData` that provides a read-only view on the usable content of the slice.
`class Slice : public SliceData` that defines the r

[2020-07-30 18:31] antoniovicente commented on #12373
I agree that naming is the only remaining problem in computer science.

I was going for Slice and MutableSlice, but SliceData and Slice would also work.

[2020-07-30 18:33] #11691 closed

[2020-07-30 18:33] roelfdutoit commented on #12373
I will work on getting a PR ready.

[2020-07-30 18:37] snowp commented on #12370
I think the hash functionality is just for selecting which host to route to, the connection pools will always just attach the request to the first ready connection for the selected host.

[2020-07-30 18:47] Magnitus- commented on #1514
@mattklein123

I'm using envoy as an edge reverse proxy for its udp capabilities (something haproxy can't do).

However, I'm mapping to port 53 and am getting the same permission problem.

I run it in docker (seems like the simplest way to run Envoy) and could do a port mapping instead of using the host network, but in our case the dns proxy is a single point of failure (dictated by our extremely

[2020-07-30 18:48] mattklein123 commented on #12370
The hash functions go beyond that, they allow separating pools by many things including downstream protocol, etc. If we separate them by downstream client, I think we guarantee what is requested?

[2020-07-30 18:50] snowp commented on #12370
Ah sorry yeah I conflated this with the LB hashing. I think that would work, though some work might be required to ensure that unused conn pools get cleaned up? Otherwise this would just grow until the max_conn_pools cb is hit or the process ooms.

[2020-07-30 18:51] mattklein123 commented on #12370
Yeah, this would be an issue, though it might be nice to solve this problem anyway as I think every use of this method has the same issue.

[2020-07-30 19:15] mook-as opened #12383 "inotify_fd_ assertion is misleading"
*Description*:
#9098 added a description on the assertion for when `inotify_fd_` failed to initialize.  [The assertion] says to `Consider increasing value of user.max_inotify_watches via sysctl`; however, it's asserting that [`inotify_init1(IN_NONBLOCK)`] succeeds, which [creates new inotify instances] instead of watches.  So the user should be increasing `user.max_inotify_instances` instead.

[Th

[2020-07-30 19:24] sunjayBhatia opened #12384 "Clean up proliferation of std::chrono duration types"
In https://github.com/envoyproxy/envoy/pull/12225 we ensured that arbitrary `std::chrono::{clock_type}::duration` constructors cannot be used as it introduces differences in time representation/units between different platforms. @lizan suggested also ensuring that `TimeSystem` (used in test infrastructure) should provide a concrete duration type to reduce the proliferation of `std::chrono` duratio

[2020-07-30 19:24] sunjayBhatia commented on #12384
cc @wrowe @lizan

[2020-07-30 19:29] sunjayBhatia commented on #12384
proposed tags: "help wanted", "tech debt"

[2020-07-30 19:35] chradcliffe commented on #12370
Would there be a significant memory/data structure size cost to having a pool per downstream connection? The original suggestion (as I understand it) of keeping a id-to-upstream-connection map in a pool seems like it would be more memory efficient. I don't have the firmest grasp on the memory overhead introduced per pool, so it could be a non-issue.

[2020-07-30 19:49] mattklein123 commented on #12370
I haven't measured it but I don't expect the overhead of a pool to be that high. It would certainly be a lot simpler than a new conn pool impl (modulo the "leak" issue that Snow raises), but feel free to take a look at both options.

[2020-07-30 20:20] PatrickDuncan opened #12387 "envoyMetricsService Istio Histograms are Missing +Inf Upper Bound"
**Title**: envoyMetricsService Istio Histograms are Missing +Inf Upper Bound

**Description**:
This is a problem with istio/proxyv2

With a normal sidecar/Kiali/Prometheus setup the Istio histogram metrics (ex. `istio_request_duration_milliseconds_bucket`) include the `+Inf` bucket.

With the metrics received by the gRPC envoyMetricsService the +Inf bucket is missing. This is a major issue for the

[2020-07-30 20:39] EdwinBetanc0urt commented on #12345
The same happens to me, the message is displayed in the log ```Unable to use runtime singleton for feature envoy.reloadable_features.activate_fds_next_event_loop```

[2020-07-30 20:46] fcfort commented on #12305
Given that this implementation is going to be platform-specific, what should I do for the other platforms like Win32/MacOS?

@wrowe, @zuercher, do you think there is an equivalent implementation for Windows and MacOS respectively?

Otherwise I could just return some default value and emit a warning log saying this feature is unimplemented on that platform.

[2020-07-30 20:56] mattklein123 commented on #12305
I would just return an optional and allow the caller to determine what to do if the value is not available.

[2020-07-30 21:44] #11989 closed

[2020-07-30 21:48] rgs1 opened #12389 "Should HC activation be delayed until needed secrets are available?"
I did a cursory walk through the code in charge of activating HCs and I don't think it waits for secrets to be ready.

Furthermore, the `initial_fetch_timeout` broadly refers to the config gRPC stream becoming active (not necessarily to the actual payloads being received):

https://github.com/envoyproxy/envoy/blob/master/docs/root/intro/arch_overview/operations/init.rst

So for clusters where we d

[2020-07-30 21:56] lavignes commented on #11989
thanks @landesherr

[2020-07-30 22:12] mattklein123 commented on #12387
cc @ggreenway who I think is our Prometheus expert at this point.

[2020-07-30 22:48] ggreenway commented on #12387
This is actually a completely different code-path than the admin prometheus stats handler. I've never looked at this before, but I think it should be a simpler fix. In `MetricsServiceSink::flushHistogram()`, we have this:

[code]

The `+Inf` bucket is implied by the format, and isn't included in the config for buckets. So after the loop, add another bucket with bound `+Inf` and count of `hist_stat

[2020-07-30 22:49] mattklein123 opened #12391 "TimerImplTest flake"
[code]

[2020-07-30 22:50] mattklein123 commented on #12391
cc @antoniovicente

[2020-07-30 22:53] howardjohn opened #12392 "Address changing localities results in corrupted EDS"
When an address is switched to a different locality, it appears something goes wrong in the update, resulting in the EDS update not being applied correctly.

Initial EDS:
[code]

Later send:
[code]

Resulting EDS (from config_dump, but I originally found this in a real cluster and verified traffic was incorrect as well, proving its not just a config_dump bug)
[code]

Here you can see the `20.20.20

[2020-07-30 23:01] howardjohn opened #12393 "enhance router_check_tool to allow going through listeners as well"
Currently, `router_check_tool` takes in a route as input. This makes the tool somewhat whitebox - the user first needs to figure out which route they care about, then they can write a test for it. Ideally, its completely black box - the user gives the full Envoy config (really just Listeners and Routes) and a set of queries, and checks the result.

This is useful as well to test complex listeners

[2020-07-30 23:07] landesherr commented on #12005
Hi there! I failed to mention this on the other issue: #11989, but I'm a new developer with AWS App Mesh, and I'll be taking care of this issue.

[2020-07-30 23:25] #11389 closed

[2020-07-30 23:48] antoniovicente commented on #12391
/assign @antoniovicente

[2020-07-30 23:59] mattklein123 commented on #12393
cc @LisaLudique who might have some thoughts here.

[2020-07-31 00:00] mattklein123 commented on #12392
cc @snowp. There have been multiple similar issues in this area.

[2020-07-31 00:00] mattklein123 commented on #12389
Yeah I think we should fix this somehow. cc @snowp for thoughts.

[2020-07-31 00:01] mattklein123 commented on #12389
(Sorry I think we should do (a) somehow)

[2020-07-31 01:19] lizan opened #12397 "Support hot_restart on ARM"
Hot restart is disabled in arm64 build currently because hotrestart_test fails on it:
https://github.com/envoyproxy/envoy/blob/master/ci/build_setup.sh#L86

cc @Jingzhao123

[2020-07-31 01:26] dio opened #12398 "//test/integration:tcp_tunneling_integration_test segmentation fault on aarch64-opt (flake?)"
From this PR: https://github.com/envoyproxy/envoy/pull/12376. Not sure if it is just a flake.

[code]

Runner logs: https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/46686/logs/67

[2020-07-31 07:20] vorticalbox opened #12403 "manifest unknown"
I am trying to set up envoy in docker but I am getting this error.

[code]

I also get this error with docker pull

[code]

[2020-07-31 09:27] supasteev0 commented on #12022
Hi. Any chance someone would have some time to take a look ?
Thanks a lot.

[2020-07-31 12:42] snowp commented on #12392
Thanks for the reproducer. I assume this is yet another issue with moving endpoints between priorities. Should be easy enough to reproduce by plugging this sequence of updates into the eds_integration_test, then dig through the code to see why we're not properly updating the endpoint weight.

[2020-07-31 13:30] stedsome commented on #12341
@lizan Lizan raises an interesting point that forcing the switch to std::string_view/optional will break
"Envoy Mobile on iOS 11 (which is its minimum iOS target), where std::string_view and std::optional doesn't exist in the runtime library. There's a compatibility layer in absl to handle C++17 for those platform:
https://github.com/abseil/abseil-cpp/blob/302b250e1d917ede77b5ff00a6fd9f28430f1563/

[2020-07-31 14:21] snowp commented on #12389
Yeah I agree, we should be sequencing the cluster warming so that we don't set/start the health checker for a cluster until its secrets have warmed.

[2020-07-31 14:31] antoniovicente commented on #12391
I now see the error in my reasoning regarding use of sleep to ensure enough separation between registrations and Dispatcher::run.  I looked at the libevent API in the hope of there being some way to ensure that the monotonic time advances past the necessary points, but the gettime functions used by the event loop are not exposed via libevent's public API.  Another alternative would be to rewrite t

[2020-07-31 14:35] rojkov commented on #8448
Finally I've got some time to look into it. Below is the output of Intel profiler

![compression_profile](https://user-images.githubusercontent.com/33377/89042802-2c29c200-d350-11ea-9e95-1c406a3ad972.png)

It seems Envoy's code is hardly the problem. All hotspots are in zlib itself.

I tried to replace zlib with zlib-ng with all optimizations switched on and for the majority of cases performance i

[2020-07-31 14:39] nezdolik commented on #11050
@costimuraru @mattklein123 @snowp @tonya11en please take a look at RFC: https://docs.google.com/document/d/1NiG1X0gbfFChjl1aL-EE1hdfYxKErjJ2688wJZaj5a0/edit?usp=sharing

[2020-07-31 14:41] snowp commented on #11498
I haven't had the time to dig into this further, so I can't really give an estimate. Happy to share my reproducer if anyone wants to pick this up.

Re 1.14.4 it's unlikely that we'd back port a fix for this, as we generally only back port security and reliability fixes

[2020-07-31 14:51] dio commented on #8448
@rojkov What do you think of adding a build flag for choosing zlib-ng (similar to https://github.com/envoyproxy/envoy/blob/68f7288413df640415e5a29e4e4480bc860aa49c/source/extensions/filters/common/lua/BUILD#L35)?

[2020-07-31 14:54] ggreenway commented on #12341
Does the toolchain for iOS 11 support c++17 in general? If not, what's the overall plan for c++17 language features (not library additions, which can be added via absl)?

[2020-07-31 14:56] rojkov commented on #8448
That could be a good starting point.

I'm on holidays at the moment, will submit a patch later.

[2020-07-31 15:00] stedsome commented on #12341
I believe envoy-mobile now compiles and builds with toolchain for iOS13.5. So the language features should be supported without a problem. But envoy-mobile aims to be backward-compatible to iOS10.0. If the binary were to run on these systems, we would probably encounter problems described by Lizan.

[2020-07-31 15:06] ggreenway commented on #12341
I wonder if envoy-mobile could add something to an always-included header like `namespace std { using string_view = absl::string_view; using optional<T> = abls::optional<T>; }`?

[2020-07-31 15:11] stedsome commented on #12341
@junr03

[2020-07-31 15:30] PatrickDuncan commented on #12387
@ggreenway @mattklein123 Thank you. I should be able to make this change at some point

[2020-07-31 16:04] dio commented on #8448
Awesome. Enjoy your holiday!

https://github.com/dio/envoy/pull/new/zlib-ng it builds but not sure how to switch the `madler_zlib` native.binding for gRPC to use zlib-ng using a build option. (Since we don't want to have mixed zlib in one binary, right?)

[2020-07-31 16:10] rgs1 commented on #8448
@dio nice -- go ahead and create the PR so I can test it locally 👍

[2020-07-31 16:28] mattklein123 commented on #8448
Nice! I think we can likely switch to zlib-ng, but maybe initially it should be a compile option as we discussed. Per @dio we may need other patches also to other code that uses zlib.

[2020-07-31 16:32] mattklein123 commented on #12398
This is a dup of https://github.com/envoyproxy/envoy/issues/12253 which somehow get closed. Anyway, I've tried to repro this locally but have been haven't been able to hit it. Let's live this open to track.

[2020-07-31 17:19] junr03 commented on #12341
This is true. Although earlier this week we bumped the min requirement to iOS 11.0 https://github.com/lyft/envoy-mobile/pull/976

certainly open to that.

[2020-07-31 17:21] pitiwari opened #12409 "sending reset from upstream to envoy in integration test"
I am trying to write an integration test in which client send requests to envoy and envoy sends it  to upstream and upstream will send reset to the envoy in response.  I looked into existing IT'S and seems like " codec_client_->sendReset(*request_encoder_)" will do the job. Seems like this test is doing the same, can anybody confirm. I am confused about whether sendReset is resetting the upstream

[2020-07-31 17:22] mattklein123 commented on #10053
Now that we are on C++17 I think we can go ahead and add this as a build option? It would be nice to use this on x86_64 builds even if we can't use it on ARM64 builds yet.

cc @ahedberg @lizan @dio @stedsome

[2020-07-31 17:33] #10021 closed

[2020-07-31 17:37] asraa commented on #11044
/cc @arthuryan-k

[2020-07-31 17:38] antoniovicente commented on #11427
/assign @akonradi

[2020-07-31 18:27] mattklein123 opened #12413 "TcpProxyIntegrationTest flake"
[code]

[2020-07-31 18:33] PiotrSikora commented on #12157
Yes, `502 Bad Gateway` is more appropriate here.

[2020-07-31 19:04] mattklein123 commented on #11050
Thanks @nezdolik for working on this! Overall looks great. There are a few comment threads to work through in the doc but very excited to see this being worked on.

[2020-07-31 19:28] bochuxt commented on #10125
Please help by provide example.  I found a [wamse](https://github.com/envoyproxy/envoy-wasm/blob/master/examples/wasm/envoy_filter_http_wasm_example.cc) c++ but there is no onResponseBody function.

class ExampleContext : public Context {
public:
  explicit ExampleContext(uint32_t id, RootContext* root) : Context(id, root) {}

  void onCreate() override;
  FilterHeadersStatus onRequestHeaders(uint

[2020-07-31 19:41] KBaichoo commented on #11388
I've turned the Extension PR from a draft into an actual PR. Since it was getting quite big I've decided to implement one of the extensions in another PR.

For implementing CPU profiling based on WatchDogEvents:

- Add WD’s dispatcher ref to the context that can be used by WDActions to plan callbacks
    - We’ll be able to trigger the action from the GuardDog’s `step()` which will StartProfiling,

[2020-07-31 19:52] lizan commented on #12341
@ggreenway It's not the toolchain doesn't support C++17, it's the runtime library installed in iOS 11 doesn't have symbols needed for `std::optional`, so it fails at runtime. https://github.com/envoyproxy/envoy/pull/9654#issuecomment-580003294

From absl/base/config.h, we need workaround for std::any, std::variant and std::optional. `std::string_view` should be OK.

[2020-07-31 20:11] junr03 commented on #12341
Alright I discussed with @rebello95 and @goaway and we think that if the Envoy project is ok with it we would like to keep the Envoy codebase using absl types until Envoy Mobile drops support for iOS 11. We don't see a large disadvantage for doing so, and it would prevent hairy type aliases in the Envoy Mobile codebase. Envoy Mobile will support iOS 11 through at least the end of the year, but if

[2020-07-31 20:27] goaway commented on #12341
Just to chime in, while I see reasoning behind some of the arguments against this approach in a general sense, I do think it's worth considering that iOS isn't just a random platform - it's one of the most widely-deployed operating systems in the world. And for now, this is what's required for Envoy (not just Envoy mobile) to be able to run on recent versions of iOS (granted, probably most cases o

[2020-07-31 20:43] antoniovicente opened #12419 "overload manager: overload signals based on number of downstream connections and active requests"
It would be helpful to add resource monitors to track the number of sockets used for (1) downstream connections, (2) active requests and (3) possibly upstream connections in order to provide better protection against resource attacks against configured fd rlimits. Tracking these counts proxy-wide should be sufficient.  The motivations behind this enhancement include a desire for more consistent co

[2020-07-31 20:45] antoniovicente commented on #12419
cc: @nezdolik

[2020-07-31 20:49] mattklein123 commented on #12419
@nezdolik once you accept the org invite we can assign the issue. Thank you for working on this!

[2020-07-31 20:55] mattklein123 commented on #12341
I don't see any reason not to just stick with absl for these types. There is no really difference to the project or dev productivity. Please do the linter!

[2020-07-31 21:05] ggreenway commented on #12341
I agree.

Even if it meant whole-sale no c++17 support, I'd be ok with delaying that until platforms we want/need to support have the toolchain/runtime support required. (But fortunately, it sounds like only a few types in the standard library, which have drop-in absl equivalents, are missing).

[2020-07-31 21:19] lizan commented on #12341
Agreed, I don't see any strong reason to do replace them immediately if it poses problem on iOS/macOS.

+1, we should do this for the three types (any, optional, variant).

[2020-07-31 21:20] junr03 commented on #12341
@stedsome let me know if you'd like to take that given you authored #12388. Otherwise, I can take it.

[2020-07-31 21:28] stedsome commented on #12341
@junr03 I am happy to do the work. What about std::string_view v.s. absl::string_view? It seems that string_view differs from the other three types (any, optional, variant) in that it is functional on iOS11 according to this. https://github.com/abseil/abseil-cpp/blob/302b250e1d917ede77b5ff00a6fd9f28430f1563/absl/base/config.h#L460-L479

[2020-07-31 21:31] florincoras commented on #11618
@yanavlasov can we consider the issue solved after #12189?

[2020-07-31 21:43] junr03 commented on #12341
Awesome, thanks! I can create an issue for the eventual migration of those three types.

Yep, it is not necessarily blocked by iOS/MacOS.

My personal opinion from above is:

So I would commit to only one usage, either std because it is not blocked right now, or absl and defer migration until we tackle the three types currently blocked. But I know @ggreenway or @lizan might have a different opinio

[2020-07-31 21:50] #10843 closed

[2020-07-31 22:20] #12005 closed

[2020-07-31 23:35] #12345 closed

[2020-08-01 05:36] dio commented on #12403
As commented here: https://github.com/envoyproxy/envoy/issues/10738#issuecomment-612184855

[2020-08-01 05:39] dio commented on #12383
cc. @sriduth

[2020-08-01 08:06] nezdolik commented on #12419
Thanks @mattklein123 @antoniovicente, I believe issue assignment should work now.

[2020-08-01 08:46] sriduth commented on #12383
The assertion message is misleading - I will open a PR to fix this, will also try to see if we can use `errno` to deliver a better error message.

[2020-08-01 14:46] wrowe commented on #11659
This was resolved by https://github.com/envoyproxy/envoy/pull/12381#event-3605975396 - the internal test substitution wrote back binary istream as a text istream, resulting in \r\r\n sequences. Arguable but not really a problem for yaml-cpp to accept.

[2020-08-01 16:58] #11262 closed

[2020-08-01 17:12] rshriram opened #12427 "DNS filter segfault when nameserver is not reachable"
In one of the pods, the resolv.conf was set to

[code]

the Envoy on this pod segfaults when the DNS filter is active (presumably when trying to connect to the nameserver)

[code]

cc @abaptiste

A fix for this needs to be backported to 1.15 release (as well as to envoy-wasm->istio-proxy) [cc @lambdai / @PiotrSikora ]

[2020-08-01 17:37] rshriram commented on #12427
Update.. the segfault is not jsut for the invalid nameserver..

I setup the pod with the following nameserver
[code]

and the stack trace is
[code]

[2020-08-01 17:38] rshriram commented on #12427
The pod has the following IPtables setup

[code]

So it is possible that this setup is blocking some traffic but despite that, segfault shouldn't be happening. Need a better way of recovering from the issue.

[2020-08-01 17:58] #11673 closed

[2020-08-01 18:09] rshriram commented on #12427
So the problem seems to be that packets were looping. which probably caused recursive dns queries to the same envoy, and confused c-ares in some way or other.. I doubt anything can be done at envoy level for this. closing for now.

[2020-08-01 18:09] #12427 closed

[2020-08-01 19:58] #11587 closed

[2020-08-01 20:58] #11722 closed

[2020-08-01 21:58] #11684 closed

[2020-08-01 23:12] sqkerner commented on #11802
@asraa solved this issue with https://github.com/envoyproxy/envoy/pull/11045 .

[2020-08-01 23:12] #11802 closed

[2020-08-01 23:24] dio commented on #12398
Another run (post-submit for https://github.com/envoyproxy/envoy/commit/4f85591457c73a56efb171ec021d1f80b09205fe): https://github.com/envoyproxy/envoy/runs/934639524 with the same failure.

[2020-08-02 15:58] Pchelolo opened #12430 "Proposal: Introduce host_rewrite_path support in route config"
**Rational**

Using subdomains for tenant-id in a multi-tenant application is a relatively popular strategy, our own MediaWiki (the software behind Wikipedia) uses `Host` header to distinguish between different language wikis. Ability to rewrite `Host` based on path would provide flexibility in moving the tenant-id from subdomain to path when deploying existing software behind the proxy.

**Propos

[2020-08-02 16:47] sumukhs opened #12431 "MaxBodySize as config or cmd line parameter in source/common/router/config_utility.cc"
We are using envoy as a web server to serve up some static file content.
We had to tweak the above constant to respond with some of the larger image files.

Would it be useful to expose this as a config (or cmd line param) rather than a hard coded constant?

[2020-08-02 18:02] #11755 closed

[2020-08-02 19:00] rshriram opened #12432 "DNS filter: O(n2) domain search"
the DNS filter uses the standard dns resolver that the dispatcher creates. The Dispatcher creates the c-ares resolver with default options. In the case of the DNS filter whose job is to receive and resolve DNS queries from the app (on a VM or k8s pod), the following happens:

1. app container has resolv.conf with 4 search domains ( ns1.svc.cluster.local svc.cluster.local cluster.local google.inter

[2020-08-02 19:02] #11664 closed

[2020-08-02 22:25] dio commented on #12430
cc. @snowp

[2020-08-02 23:50] yskopets commented on #12300
Here is the draft version of proposal.

It takes into account this issue, #12183 and FCDS.

If you find that the overall direction is correct, then I will it move into a doc to continue with more focused threads of discussion.

---

#### Objectives
* a `Listener`/`FilterChain` should remain in the `warming` state until all its extensions have been warmed up

#### Proposal

Outline:

1. Hierarchy o

[2020-08-03 00:43] ASOPVII commented on #12300
Hi yskopets, great proposal. I just want to introduce the current progress of the on-demand filter chain as well.

As you mentioned, in the default warming mode, the listener's init manager will wait for filter chain's init manager.

In the current implementation for on-demand filter chain, the filter chain will not pass its init manager to the ```transport_factory_context```. Instead, we just pro

[2020-08-03 03:27] dio commented on #12432
It seems like this is not directly related to the DNS filter (sorry for tagging you too early, @abaptiste). And I would like to highlight: https://github.com/envoyproxy/envoy/pull/8588#discussion_r334281975 and https://github.com/envoyproxy/envoy/issues/8084#issuecomment-570662364. If someone wants to work on this, seems like we need to rectify "Reconcile DNS options in a single message" e.g. to h

[2020-08-03 08:15] lizan commented on #12432
As long as we follow normal deprecation / non-breaking policy, that sounds reasonable.

[2020-08-03 09:56] yskopets commented on #12300
@ASOPVII Having per-`FilterChain` `Init::Manager`s from the beginning (as opposed to only at a time of `PerFilterChainRebuilder `) is meant to:
* to do the most of `Listener` config processing while in the context of `onUpdate` of the `LDS` subscription (so that invalid `Listener` config could be rejected asap)
* to avoid reprocessing `FilterChain` configs twice (once without `Init::Manager` and a

[2020-08-03 14:43] antoniovicente commented on #11618
Could we make this change before calling it done? https://github.com/envoyproxy/envoy/pull/12189#discussion_r463906210

[2020-08-03 15:12] akonradi commented on #12419
Do we have any established patterns for aggregating counts of objects across multiple workers efficiently?

[2020-08-03 16:11] #12287 closed

[2020-08-03 16:11] mattklein123 commented on #12432
Yup +1

[2020-08-03 16:15] mattklein123 commented on #12431
Yeah +1 to making this configurable. This was hard coded a while ago to just prevent accidental problems.

[2020-08-03 16:17] florincoras commented on #11618
Replying here although it might be better to move the conversation back to #12189. I just took a very quick look at what would be needed to keep `SocketInterface` pointers in `Address::Instance`s and the biggest problem are going to be cyclic inclusions. Namely, `SocketInterface` needs `Address::InstanceConstSharedPtr` to build sockets.

Assuming `Address::Instance` factories properly validate soc

[2020-08-03 16:23] mattklein123 commented on #12430
At a high level this feature makes sense to me.

I'm a little hazy on this part. Can you explain in more detail. Could adding additional parameters to `RegexMatchAndSubstitute` also help change the behavior in a way that would work for you?

[2020-08-03 16:28] Pchelolo commented on #12430
On a second thought, `RegexMatchAndSubstitute` would work just fine as is. I was being too worried about missconfiguring this, but introducing new flags wouldn't really make it any easier to configure. I'll implement a version with just `RegexMatchAndSubstitute`.

[2020-08-03 17:15] lambdai commented on #12300
@yskopets

Sorry this is the core value of on-demand.

What's more. I am not sure if I get the story of init failure. Under the scenario of LDS, why should listener address the failure?
If LDS server cannot respond to a failure, the listener should not be aware of that failure.

A complete-or-block init manager is supporting the listener behavior that the listener is always fully initialized. You

[2020-08-03 18:22] rumanzo opened #12436 "Prometheus format for /cluster in administration interface"
Hi! We want to count requests to each upstreams in cluster. It's possible by /cluster in admin interface, but is it possible to make an interface for prometheus like for stats?format=prometheus (/stats/prometheus) ?

[2020-08-03 18:45] antoniovicente commented on #12419
It may make sense to keep an atomic counter with the aggregate number of active client connections across all listeners and clusters.

It may make sense to think of that number as separate from stats.

[2020-08-03 18:53] antoniovicente commented on #12281
While we're at it, we should rethink how flood protection is implemented.  We have seen that throwing an exception when triggering the flood condition  is risky.

https://github.com/envoyproxy/envoy/issues/11370 may be the best way to address data frame flooding cases.  Control frame flooding requires more thought.

[2020-08-03 19:09] akonradi commented on #12419
What about having aggregate counts in the individual worker threads via a TLS object, then having the resource monitor aggregate those using an atomic counter when the overload manager initiates a poll?

[2020-08-03 19:09] antoniovicente commented on #12278
Could we update the Envoy threat model to mention our goal to defend against untrusted upstreams? Bonus points for specifying a target completion date for this effort.

The reason for the update in threat model is to increase awareness about this effort.  Going forward we should try to harden downstream and upstream at the same time. In cases where doing the upstream improvements at the same time

[2020-08-03 19:14] XanderStrike opened #12437 "Per-request time spent in Envoy in Access Logs"
Hello from Cloud Foundry! We are using Istio with Envoy in our efforts to move to Kubernetes. As part of that, we are trying to make envoy's access logs feature compatible with our existing ingress router, Gorouter. [Docs here for the curious](https://docs.cloudfoundry.org/concepts/architecture/router.html#about-access-logs), but the specific field we're interested in emulating is:

Our users find

[2020-08-03 19:18] antoniovicente commented on #12190
Would it make more sense to monitor CPU usage which should be a smoother measure of load?

Are there specific overload manager actions that make sense when under CPU pressure?

[2020-08-03 19:26] yskopets commented on #12300
@lambdai

From the description of #12183 I understand that the problem it is solving is how to enable individual `FilterChain`s to start serving requests as soon as they are ready. I assume that you still need all `FilterChain`s, just at a different speed.

Regarding why to handle configuration errors and discard invalid `Listener` configurations:

1.  To release unused resources timely

    `wasm

[2020-08-03 20:01] mattklein123 opened #12442 "Http2IntegrationTest flake"
[code]

[2020-08-03 20:02] mattklein123 opened #12443 "DnsFilterIntegrationTest flake"
[code]

[2020-08-03 20:27] mattklein123 commented on #12300
At a high level this proposal makes sense to me and I think we should move it into a doc which also covers ECDS (sorry I was calling it FCDS before) as well as #12183. See also: https://docs.google.com/document/d/1OT7L5GbsJ03njPsSscZVnh-bz-t80z4rzdX8a4ICd8A/edit?ts=5f20b724.

A few comments:
1) Per @lambdai I agree that we need to handle a mode in which we don't start initializing the filter chain

[2020-08-03 21:10] lambdai commented on #12300
@yskopets

I am afraid not. There are several follow ups on top of on-demand feature.There is no concrete roadmap, but
definitely are unblocked once we have on-demand.
1. We might introduce further parameters to restrict M filter chains could be loaded though we provide N where M < N.
2. Retention policy which unload filter chains when the filter chain idle timeout is hit.

[2020-08-03 21:20] lambdai commented on #12300
@mattklein123
From what we discussed offline I think what you want is
1. upon on demand filter chain, provide a fallback strategy(e.g close connection if filter chain cannot be loaded in X second). The idea is that we cannot sit and hope user would provide a the best config at ECDS.
2. Clearly document the expected behavior, such as
  a) listener will fail the request if the timeout in on-demand i

[2020-08-03 21:29] lambdai commented on #12300
@yskopets
I feel you may want to add the asynchronous factory interface before introducing the failure callback at init manager.

The failure callback at init manager is an optimization it could be done lagter.
Currently we can simulate the failure calling ready() but provide a not-working stuff such as `NotReadyTransportSocket`.  https://github.com/envoyproxy/envoy/blob/a5d56f5c2e027fa3a3965487a0

[2020-08-03 21:29] antoniovicente commented on #12253
Trying to repo under ASAN.  I suspect it has something to do with FakeUpstream post callbacks which may result in use-after-free.

[2020-08-03 21:44] rgs1 opened #12444 "visibility issues after #12337"
After picking up #12337, I can't get our visibility overrides going.

For context, we don't have Envoy as a git submodule and instead it we fetch it via bazel as a tarball using http_archive.

Doing something like:

[code]

in our extensions_build_config.bzl fails with:

[code]

cc: @lizan @alyssawilk

[2020-08-03 21:48] rgs1 commented on #12444
In case it wasn't clear from the initial description, I am trying to get our filters to see core extensions, e.g.:

[code]

[2020-08-03 21:52] mattklein123 commented on #12253
@antoniovicente I was able to repro on an ARM machine with opt build (???). I have a fix soon.

[2020-08-03 22:03] antoniovicente commented on #11618
I think that Address::Instance can forward declare SocketInterface and accept a plain pointer to SocketInterface.  SocketInterface can continue including the full definition of the address interface defined at include/envoy/network/address.h

[2020-08-03 22:42] lizan commented on #12444
I'll look into this later today. With some workable solution in envoy-filter-example.

In general ``//source/extensions/filters/http/common:pass_through_filter_lib` should be public though.

[2020-08-03 23:01] #12361 closed

[2020-08-03 23:09] #12398 closed

[2020-08-03 23:11] rgs1 commented on #12444
If we can't figure out a solution by EOD, we could merge #12451 to workaround this in the meanwhile.

[2020-08-03 23:13] #12391 closed

[2020-08-03 23:29] mattklein123 commented on #12300
@lambdai yes. Please look at https://github.com/envoyproxy/envoy/blob/5fb236b4c3376e2b761d540a54b4772d620740aa/api/envoy/config/core/v3/extension.proto#L48-L56 and discuss with @kyessenov. We need to be consistent with how we handle failure across all of these features.

[2020-08-03 23:46] #12442 closed

[2020-08-04 01:34] hobbytp opened #12453 "why Result::ExtOriginRequestFailed map to different HTTP codes between local and ext origin error"
Description:
    Question for [outlier detection](https://www.envoyproxy.io/docs/envoy/v1.15.0/intro/arch_overview/upstream/outlier.html) behaviors.
* When local origin error and external origin error are not split (`outlier_detection.split_external_local_origin_errors` is false), the `Result::ExtOriginRequestFailed` will mapped to `Http::Code::InternalServerError` (500)
* When local origin error

[2020-08-04 03:39] ASOPVII opened #12454 "stack_decode.py getting line number does not work"
I tried to use stack_decode to track the line number where error occurs, but it seems that using ```./tools/stack_decode.py binary_file``` does not shows the line number. The binary file was generated when "-l debug" is set.
[code]

[2020-08-04 04:01] wbpcode commented on #12437
Is there some misunderstanding here?

https://github.com/envoyproxy/envoy/blob/d58bdcf86e1fe9ec843c126e778b44e33102bb7a/source/common/router/router.cc#L1268

It seems that %RESP(X-ENVOY-UPSTREAM-SERVICE-TIME)% includes the latency of the network from Envoy to workload and the time cost of workload generating responses.

So, we can subtract %RESP(X-ENVOY-UPSTREAM-SERVICE-TIME)% from %DURATION% (not

[2020-08-04 04:49] Shikugawa opened #12455 "build: resource is restricted by Bazel scheduler"
Build is not worked parallelly. We can find `[Sched]` and CPU is not fully used, so that it might be caused by Bazel scheduler behavior. This error can be found after [this commit](https://github.com/envoyproxy/envoy/pull/11955/commits/e7440bed50e0867cc2eba5fc25a4485c5a99b693).

[code]

![Screenshot from 2020-08-04 13-49-15](https://user-images.githubusercontent.com/17607122/89254110-51247a80-d659

[2020-08-04 04:54] lizan commented on #12455
I can't reproduce this. Do you have anything in user.bazelrc or ~/.bazerc?

[2020-08-04 05:00] Shikugawa commented on #12455
`user.bazelrc` is only this.

[code]

The commits before two weeks ago is worked fine. So It might not be a problem on my environment.

[2020-08-04 07:32] gituserjava opened #12457 "Envoy filter to extract JWT fields"
Is there a Envoy filter that can extract information from JWT? Our JWT has some custom fields which we would like to extract and process the request only if the JWT has those fields and then pass along them for subsequent downstream requests.

[2020-08-04 09:02] lizan commented on #12455
What if you don't specify --jobs?

[2020-08-04 09:04] lizan commented on #12454
You need to compile with `-c dbg`, is that the case?

[2020-08-04 09:18] Shikugawa commented on #12455
It may be caused by `--experimental_local_memory_estimate` in .bazelrc. It might have a confusional bug. So we prefer to destroy it.

[2020-08-04 10:14] dio opened #12459 "ci: flake on arm64 //test/integration:integration_test"
Post submit: https://dev.azure.com/cncf/envoy/_build/results?buildId=47098&view=results

Logs: https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/47098/logs/129

[code]

[code]

[2020-08-04 11:01] johnzheng1975 commented on #11870
It works.
For inter-service grpc access, you need change your service name begin with grpc. (not http, not tcp)
For cross multi-cluster access, you need change service entry protocal to grpc. (not tcp)

[2020-08-04 11:01] #11870 closed

[2020-08-04 12:27] tmshort commented on #11120
Any update on this? This is an intermittent problem on our istio deployment that stalls pods.

[2020-08-04 13:00] rgs1 commented on #12444
We still need to make the pass through filter public visible, will send a PR shortly.

[2020-08-04 13:04] wbpcode opened #12460 "Dispatch inline Lua code in per filter config of Lua filter by RDS"
This is a supplement to  PR #11235. Due to thread safety issues, the function of directly dispatch Lua code in per filter config through RDS is removed from #11235. Now, I am going to take some time to finalize it.

Although I have done some tests in my own environment, I am still worried about whether there will be problems that I have not considered. So I hope to get some opinions from the commu

[2020-08-04 13:15] wbpcode commented on #12460
https://github.com/wbpcode/envoy/blob/ba370561fae8c7392c272a1fe60d6ce996c1f505/source/extensions/filters/common/lua/lua.h#L361

https://github.com/wbpcode/envoy/blob/ba370561fae8c7392c272a1fe60d6ce996c1f505/source/extensions/filters/http/lua/lua_filter.h#L23-L46

In order to ensure that TLS will not be modified on the worker thread, I destroy ThreadLocalState by using the dispatcher of the main th

[2020-08-04 14:41] yanavlasov commented on #12409
The code you have linked will reset stream from client to Envoy. If you need to reset stream from upstream to envoy take a look at the HttpIntegrationTest::sendRequestAndWaitForResponse() method https://github.com/envoyproxy/envoy/blob/2a6a4b8d758b4bf4238cb6d2babdd3d83fbf45bc/test/integration/http_integration.cc#L286

The `upstream_request_` is the encoder you can use to send the data from upstrea

[2020-08-04 14:49] yanavlasov commented on #12457
I do not think a filter like this is part of Envoy. You can write your own either in C++, LUA or WASM (WASM is alpha at this point).

[2020-08-04 15:36] rgs1 commented on #12444
Regardless of the fix here we definitely want the pass through filter to be public I'd think (see #12463).

[2020-08-04 15:58] asraa opened #12465 "CodeQL failing on init"
CodeQL is failing on initialization:

[code]

@jhutchings1 Have you seen this in other CodeQL build right now?

PRs: https://github.com/envoyproxy/envoy/pull/12417/checks?check_run_id=945498206
https://github.com/envoyproxy/envoy/pull/12416/checks?check_run_id=945428645

[2020-08-04 16:20] mattklein123 commented on #12453
cc @cpakulski who wrote this code. I remember going back and forth on this during code review and I think it has to do with historical compatibility but I'm not sure.

[2020-08-04 16:24] mattklein123 commented on #12455
Yes I hit this also recently. On my underpowered laptop it decided to only run one job with this set. I haven't seen it as an issue on my bigger cloud machine.

[2020-08-04 16:32] ASOPVII commented on #12454
Thanks Lizan!!! Get it

[2020-08-04 16:32] #12454 closed

[2020-08-04 16:51] chradcliffe commented on #12370
I'm starting to look at how we could ensure that connection pools are cleaned up. There are two general approaches I can think of:

1. For my current use case, I think the best option would be to clean up the pool when the downstream connection closes. This obviously doesn't solve the general case; however.

2. Another option that would solve the general case would be to have some sort of idle tim

[2020-08-04 16:51] #12397 closed

[2020-08-04 17:03] XanderStrike commented on #12437
Our impression was that the `%RESP(???)%` command was reading the headers off of the _upstream_ response. In the Istio case there's an Envoy gateway and an Envoy sidecar before the app; we believed that `X-ENVOY-UPSTREAM-SERVICE-TIME` was coming from the sidecar Envoy. We observe that responses from the gateway include this header, but they are different from what is rendered in our access log:

!

[2020-08-04 17:18] moderation commented on #12455
I've commented on this in Slack and at https://github.com/envoyproxy/envoy/issues/1861#issuecomment-658282306. The behavior changed in Bazel 3.2.0 and any machine without much memory will scale back to a single CPU. I've had to override this setting in `.bazelrc` on my RPI4 with 4 cores and 8G of RAM and my Lenovo X1 Carbon with 12 cores and 16G of RAM

[2020-08-04 19:01] rgs1 commented on #10813
FYI: we ended up doing an internal implementation -- for this since we were in a bit of a hurry -- and it's been in prod for > 2 months and turned out pretty useful. I am happy to upstream, it at least for reference purpose since it'll take a bit to get agreement on the config API/interface, if there's any interest.

[2020-08-04 19:31] stedsome opened #12469 "No throwing exceptions in header files"
Google internally forbids the use of exception and having exceptions thrown in envoy header files can cause trouble when google code tries to include envoy library.

This is to raise this issue of possibly rewriting all the instances where exceptions are thrown in header files. It primarily involves getting rid of template functions that are throwing exceptions, which may or may not be a significa

[2020-08-04 19:31] stedsome commented on #12469
@ahedberg is more knowledgeable on this issue.

[2020-08-04 20:36] mattklein123 commented on #12469
As I mentioned this is fine with me as long as all the fixes are simple which it sounds like they should be. If they aren't simple let's circle back and discuss.

[2020-08-04 20:50] jhutchings1 commented on #12465
Thanks for the heads up @asraa! This looks like it's no longer reproducing based on https://github.com/envoyproxy/envoy/runs/946307314?check_suite_focus=true. Let me know if you're still seeing it, and I can ask engineering to drill in.

[2020-08-04 20:52] asraa commented on #12469
I just added an exception linter in this PR https://github.com/envoyproxy/envoy/pull/12471
Maybe the lint portion of this could just extend the deny list.

[2020-08-04 20:54] asraa commented on #12465
Will do! @antoniovicente I wonder if this is a flake. If we continue to see it, maybe we can add some automatic re-try.

[2020-08-04 21:22] abaptiste commented on #12355
I think this could be due to a missing `reuse_port` option in the test config.  I've added this in https://github.com/envoyproxy/envoy/pull/12085.  I'll keep an eye out to see whether I this is still reproducible.

[2020-08-04 21:36] sumukhs commented on #12431
Given this config is inside the router, would LDS be the right place for it?

[2020-08-04 21:40] mattklein123 commented on #12431
I think it should probably be on a per-route basis. Can it just sit next to the direct response config itself?

[2020-08-04 22:09] #12459 closed

[2020-08-04 23:09] pitiwari commented on #12409
thanks

[2020-08-04 23:12] mattklein123 commented on #12355
Yeah I think reuse_port would likely fix it. The issue is fundamentally that https://github.com/envoyproxy/envoy/blob/544a414ff26a6bda516a48651d64b50226b43cb5/test/extensions/filters/udp/dns_filter/dns_filter_integration_test.cc#L63 is flaky.

[2020-08-04 23:13] mattklein123 opened #12480 "FaultIntegrationTestAllProtocols / Timed out waiting for listeners flake"
[code]

[2020-08-05 00:27] mattklein123 commented on #12460
Sorry I'm not sure I follow the proposal. Can you explain in more detail potentially?

[2020-08-05 01:49] wbpcode commented on #12437
Since the Access Log is rendered after the request is completed, %RESP(...)% should read data from the headers returned from the envoy gateway to the client (not the headers returned by the upstream, our plugin may make some modifications) .
I try it locally to see what the problem is. In addition, if you can, I hope you can provide the format of the access log.

[2020-08-05 02:40] #10514 closed

[2020-08-05 02:51] wbpcode commented on #12437
Since I do not have a suitable environment locally, I directly access httpbin.org through the envoy gateway. By specifying `/response-headers`, httpbin.org will return a response with `x-envoy-upstream-time` to the envoy gateway, but eventually the header data will be overwritten by the envoy gateway. And the upstrem service time in the Access log is the rewritten data.

Access Log format:
[code]

[2020-08-05 02:58] wbpcode commented on #12437
But it is really strange that the results obtained by your curl command do not match the Access Log data. I recommend that you use the following command to open the debug log of the envoy gateway, and then check what the gateway returns to the client. At the same time, compare `x-envoy-upsteam-time` in the debug log and `x-envoy-upstream-service-time` in the Access Log. They should be consistent.

[2020-08-05 03:18] wbpcode commented on #12460
In Lua filter, we use PerLuaCodeSetup (PerLuaCodeSetup contains a ThreadLocalState member) to parse and manage a Lua script.
When we need to dynamically deliver Lua scripts through RDS, we will also create a PerLuaCodeSetup object associated with a specific route.
The problem is that when the routes table is updated, the PerLuaCodeSetup in the route configuration will be destructed in the worker t

[2020-08-05 04:41] mattklein123 opened #12484 "ProtocolIntegrationTest.LargeRequestMethod (ARM release)"
[code]

[2020-08-05 04:44] mattklein123 opened #12485 "Using lua_pushlightuserdata() might be broken on ARM"
[code]

[2020-08-05 04:45] mattklein123 commented on #12485
cc @dio I think this is code you recently added. FWIW I've had luck with reproducing ARM release failures on x86 with `-c opt`. I think on ARM we are actually hitting flakes due to tests running *faster* (sigh).

[2020-08-05 04:54] #12356 closed

[2020-08-05 04:56] dio commented on #12485
Oops! I think this is added for supporting [verifying digital signature from Lua by @yxue](https://github.com/envoyproxy/envoy/commit/9749194de54b5c83b6c1e0e40e4402d631bc14be). Anyway, I'll take a look.

[2020-08-05 04:58] mattklein123 commented on #12485
Ah OK nevermind. If this wasn't the recent PR I can take a look later this week. Up to you.

[2020-08-05 05:06] zyfjeff opened #12486 "Integrate with SkyWalking distributed tracing framework"
I am from Alibaba Cloud team. We provide cloud service for hosted Istio/Envoy as a mesh solution.
Some of our users are using Apache SkyWalking language agents in their services, now, they want to migrate to the Istio mesh solution.Apache SkyWalking has provided fully topology, metrics, and alarms solution in the service mesh scenario,
but we still want the Envoy could support tracing by following

[2020-08-05 07:21] raonitimo opened #12488 "Envoy crashes with "assert failure: !api_state.paused_.""
*Title*: *Envoy crashes with "assert failure: !api_state.paused_."*

*Description*:

*Repro steps*:

*Call Stack*:
[code]

[2020-08-05 07:51] lizan commented on #12486
Thanks for raising this, we do also have similar use case. I'm happy to sponsor.

[2020-08-05 12:11] edjohn1987 opened #12492 "Need help for net core SignalR sample to connect to SignalR hub through Envoy proxy"
I apologize for my novice knowledge & if this question isn't meant to be here but I am desperate to get this simple sample working.

**Description:**
The idea is simply as below:
C# SignalR client  -->  Envoy  -->  SignalR Hub

I have a windows application that is just trying to connect to the hub via a front envoy. There is no side-car proxy for the hub. Apart from envoy & hub being deployed as d

[2020-08-05 12:15] ankatare commented on #10535
@SecurityInsanity would you please guide me script file to enforce  in CI.

[2020-08-05 12:19] ankatare commented on #12043
@snowp  please help to reproduce it.

[2020-08-05 13:06] v1b1 commented on #11322
Anyone?

[2020-08-05 13:29] wu-sheng commented on #11322
Hi, @dio @v1b1, sorry for the late. I am not watching the repo always.

When a timeout happens, no successful handshake. So, most likely, Envoy can't have the strategy to assign these values.

Your question context is making me feel, you want to measure the latency cataloged by the envoy, network, and upstream service. This can't be resolved by envoy itself. The topology analysis based on distribu

[2020-08-05 13:53] SecurityInsanity commented on #10535
@ankatare be more than happy too! Feel free to reach out to me on slack with any particular questions/guidance you need.

[2020-08-05 14:01] ankatare commented on #10535
@SecurityInsanity sure. Thanks for quick response :)

[2020-08-05 14:56] stedsome commented on #12469
Yes. But I probably want to do the linting part last after all corresponding changes have been made.

[2020-08-05 16:45] mattklein123 commented on #12488
What version of Envoy is this? Some issues in this area were recently fixed. Please try on latest main branch. If this is not possible please take this up with the AppMesh team and they can try.

[2020-08-05 16:52] mattklein123 opened #12497 "GlobalConnectionLimitEnforcement test flake (gcc)"
[code]

[2020-08-05 18:05] mattklein123 commented on #12370
I think (2) is a more general solution that would likely work for all of the other reasons we might make a connection pool via hashing. I think (2) could potentially become safer also if we only GC it if the pool itself doesn't have any connections. This would encourage configuring idle timeouts on pool connections. WDYT?

[2020-08-05 18:15] mattklein123 commented on #12460
Don't you need a notification of route change though? I think that is what is missing. Otherwise you have to do a dance in which you bounce back and forth between the workers and main thread. I think that if you were able to get a callback when the route table is updated you could potentially walk the table and pre-create Lua code for all routes and then TLS update that out to worker threads? cc @

[2020-08-05 18:19] #12455 closed

[2020-08-05 18:40] kishan-patel opened #12499 "How to avoid communication between threads?"
We have a requirement where the server will tell our Envoy network filter which source IP and port to use for the outgoing egress TCP connection.

The obvious issue that we need to solve is potential address already in use errors (i.e. when a message is received on one thread, and there is already a connection established on another thread with the same IP and port that we are instructed to use).

[2020-08-05 19:29] v1b1 commented on #11322
Thanks @wu-sheng

I guess that means there's no way within Envoy to timestamp the moment before an HTTP connection is attempted/opened, but after an upstream host is selected?

[2020-08-05 19:51] chradcliffe commented on #12370
That seems reasonable, but I'd just like to check my understanding before proceeding: we'd like to refcount `Http::ConnectionPool::Instance` and schedule an idle timer to delete the pool unless another reference is acquired. This approach will ensure that the pools will be GC'd after being idle with no associated downstream stream (or other user of the pool). This, however, won't guarantee that a

[2020-08-05 20:42] dastbe opened #12505 "Race between active healthchecks and secrets delivery"
*WIP: getting some reference configuration and logs to better illustrate the problem*

We've been testing Envoy initialization times and we noticed that under certain scenarios Envoy takes much longer (60+s) to initialize. We were able to root cause this down to what we believe is a race condition between when TLS is configured on a cluster (ex. validation context) and when active healthcheck begi

[2020-08-05 20:52] mattklein123 commented on #12505
I think this is a dup of https://github.com/envoyproxy/envoy/issues/12389?

[2020-08-05 21:13] mattklein123 commented on #12370
What about just have an `onIdle()` callback? Then the cluster manager could schedule the timer and check if it's actually idle before deleting? I think this might be simpler than dealing with ref counting?

Right, if the downstream idle is larger then the upstream idle it could lead to a new pool/connection in this implementation.

[2020-08-05 21:30] florincoras commented on #11618
@antoniovicente apologies for the delay! That works for me, what do you think @mattklein123 @yanavlasov ?

[2020-08-05 22:26] mike1808 commented on #12437
Hey @wbpcode . I work with @XanderStrike on this task and we double checked our results and we saw that numbers from access log and from `curl` match. I guess, we were looking the wrong log line.

[2020-08-05 23:25] mike1808 commented on #12437
Also @wbpcode ,  you said:

However, the docs say:

And it looks like that the docs are not right, it's the time in milliseconds spent by the upstream host processing the request and the networking delay, right?

[2020-08-06 00:02] rshriram opened #12508 "Envoy dns_filter causes OOM"
[code]

We have had this happen repeatedly. Thanks to @howardjohn , there is some correlation..

[code]

xds update of the DNS (udp) listener.
https://github.com/istio/istio/issues/26171

[2020-08-06 00:16] wu-sheng commented on #11322
From my understanding, envoy can't.

What do you mean selected? Do you mean based on a load balance strategy? If so, I don't think it is related to the metrics.

[2020-08-06 00:20] howardjohn commented on #12508
[code]

Also a crash ^ on request. I don't have more info on that one, was doing a lot of stuff that the time

[code]

This is reproduce in plain envoy, with just a single DNS listener changing address rapidly. I will post full reproducer soon

[2020-08-06 00:21] dio commented on #12508
Thanks, @howardjohn! Yes, a reproducer will be very helpful!

[2020-08-06 00:25] rshriram commented on #12508
It is possible that it is related to the race condition discussed here (https://github.com/envoyproxy/envoy/pull/11914#discussion_r465885114).

[2020-08-06 00:46] howardjohn commented on #12508
[code]

envoy-dns.yaml:
[code]

lds-dns.yaml
[code]

switch lds-dns.yaml back and forth repeatedly between what is posted above and the other.fake.local removed. At the time same,

[code]

[2020-08-06 00:48] howardjohn commented on #12508
While I have the reproducer for ^ above, this was artificial. The OOM and other panic are seen in real environment.

I can trivially reproduce the OOM but only in an Istio environment, haven't gotten it in pure Envoy env

[2020-08-06 01:28] BitRacer opened #12511 "envoy on arm64"
any chance an arm64 build will be made available?  im looking to get envoy and istio running on an arm64 cluster.

[2020-08-06 01:31] wbpcode commented on #12437
The description of the docs does appear to be somewhat inaccurate

[2020-08-06 01:40] dio commented on #12508
Seems like the PR linked by @rshriram fixes it. I baked that to this image: dio123/envoy:11914-dns-fix

[2020-08-06 03:50] goith commented on #12252
i have the same problem,  please how to solve?

[2020-08-06 03:50] mattklein123 commented on #11618
Sure SGTM.

[2020-08-06 03:53] mattklein123 commented on #12480
Saw this on an ARM run:
[code]

There must be same race on listener startup.

[2020-08-06 04:19] chadr123 opened #12513 "Transparent udp proxy"
I'm working on the transparent udp proxy for envoy.
By my understanding, the udp filter system supports only one filter.

  if (!config_.listener_filters().empty()) {
    switch (socket_type) {
    case Network::Socket::Type::Datagram:
      if (config_.listener_filters().size() > 1) {
        // Currently supports only 1 UDP listener filter.
        throw EnvoyException(fmt::format(
            "

[2020-08-06 04:29] howardjohn commented on #12508
@dio thanks! I couldn't reproduce this issue: https://github.com/envoyproxy/envoy/issues/12508#issuecomment-669618203

But I do still see the main issue of OOM:

[code]

[2020-08-06 05:44] howardjohn commented on #12508
I also disabled our iptables capturing of DNS and just directly forwarded the DNS Requests, same issue. I believe this proves its not some infinite iptables loop type issue

[2020-08-06 06:23] dio commented on #12508
@howardjohn I’m interested in your setup for Istio for reproducing this. Probably share it in the that Istio ticket? Thanks!

[2020-08-06 07:35] raonitimo commented on #12488
Will try with the latest version. Closing this.

[2020-08-06 07:35] #12488 closed

[2020-08-06 08:53] dio commented on #12511
@BitRacer do you think https://www.envoyproxy.io/docs/envoy/latest/install/building#arm64-binaries will help you?

[2020-08-06 09:46] wbpcode commented on #12460
If I understand what you mean correctly, in fact, this is what I do now.

When the route table is updated, all Lua codes in the new route table will be parsed and corresponding `PerLuaCodeSetup` will be created (the dispatcher of the main thread will also be referenced by PerLuaCodeSetup at this time).

When all the creation is completed, TLS will update the route table to each worker thread. At t

[2020-08-06 09:51] magederek commented on #12252
It seems this problem occurs when the envoyproxy is under a high pressure. It reappeared when we adjusted the cluster's circuit_breaker config when the CPU is high.

[2020-08-06 10:46] columbus9963 commented on #11587
@mattklein123 Hi, I had upgraded my envoy from v1.10.0 to v1.14.4 for production usage. After running 17 days, such behavior appears again. I think there may be some corner case that envoy doesn't handle with  using http2. Any ideas?
![image](https://user-images.githubusercontent.com/57693768/89522815-685b9780-d814-11ea-8f68-efc88aa4ea7c.png)

[2020-08-06 10:52] molardsouvenirs commented on #9050
Same on my [geneva souvenirs](https://www.molardsouvenirs.com) site made with Wix...

[2020-08-06 12:11] yvespp commented on #9958
Probably also depends on the C++ otel library so it can be used in envoy.
https://github.com/open-telemetry/opentelemetry-cpp is still in active development and has no releases yet.

[2020-08-06 12:22] snehakpersistent commented on #12097
@dmitri-d I am able to build envoy using "-Wno-error=type-limits". However I am getting below error while executing tests:
`ERROR: /root/envoy/test/mocks/upstream/BUILD:11:14: C++ compilation of rule '//test/mocks/upstream:cluster_info_mocks' failed (Exit 1) gcc failed: error executing command /opt/rh/gcc-toolset-9/root/usr/bin/gcc -U_FORTIFY_SOURCE -fstack-protector -Wall -Wunused-but-set-paramet

[2020-08-06 12:57] BitRacer commented on #12511
@dio ill take a look. Im new to this part of k8s and really hoping to use my budget home microk8s cluster to envoy, istio, service mesh etc.  thanks for the lead.

[2020-08-06 13:02] mk46 commented on #2908
@ggreenway Hi, Is it good to stay with hardcoded added if it's not specified by command-line argument?
 CL argument should take file permission along with path?

[2020-08-06 14:20] howardjohn commented on #12508
@dio if you check out istio/istio (I ran at bc1ea95017bd7ef99994998de2c2aeeccfda1736), then run:

[code]

This will deploy a bunch of pods to `echo-********` namespace

It may take a few tries, but eventually you should see all the pods crash. `kubectl logs c-v1-7bb495cfbf-p22dz -c istio-proxy -p` will show the crash.

One interesting thing I found is that I just ran it and it took a few minutes t

[2020-08-06 14:50] peterwhitesell opened #12519 "JWT Authentication Filter - add validation results to Attribute Context"
In our Kubernetes and Istio based microservice platform, we capture traffic telemetry with dimensions derived from Envoy Attributes. This is a feature request to add attributes to the Attribute Context [1] based on the results from JWT Token Validation performed by the JWT Authentication Filter [2].
Without this information, we don't have visibility into _why_ authentication fails. We'd like to be

[2020-08-06 15:13] ggreenway commented on #2908
Yes. By default, it must be compatible with older versions of envoy.

Yes, that makes sense to me.

[2020-08-06 15:58] mattklein123 commented on #12460
You mean in the current code or in your proposed patch? We don't have any route table update callbacks right now. I think to allow RDS updates you would need this.

[2020-08-06 16:53] qiwzhang commented on #12519
jwt_authn verification status defined [here](https://github.com/google/jwt_verify_lib/blob/master/jwt_verify_lib/status.h)  should have enough info.   We can save such status into filter metadata.  Will that be good eought?

[2020-08-06 17:07] dmitri-d commented on #12097
Could you post a complete contents of the error log? The message that you posted doesn't contain enough details to explain what went wrong.

[2020-08-06 17:42] qiwzhang commented on #12032
One idea is to use header_to_matadata http filter to save original headers into Metadata before they are modified. The metadata can be used in the access log
This http filter will add some cpu/memory overhead by copying the data,  but it will be application choice to decide if it will be added.

[2020-08-06 17:43] asraa opened #12520 "grpc factory methods throw uncaught exceptions after server initialization"
A number of fuzzing testcases produce crashes after server initialization is successful. They appear from invoking pending events on the main thread's dispatcher. In three cases, they're due to exceptions somewhere in the callstack of [factoryForGrpcApiConfigSource](https://github.com/envoyproxy/envoy/blob/6a71f16c664f2e3a874d2a991262d49e6ed485c8/source/common/config/utility.h#L364), due to bad co

[2020-08-06 18:14] kyessenov commented on #12032
Envoy actually adds x-original-url (by filter chain redirect) and x-original-path (by HCM) headers. However, they don't capture changes done by the filters. I'd prefer using stream info or header maps over protobuf due to performance.

[2020-08-06 18:16] mattklein123 commented on #12480
I think this is an issue w/ simulated time and waiting for listeners to come up. We probably need to actually do a real sleep while waiting for listeners to come up. cc @jmarantz

[2020-08-06 18:30] mattklein123 commented on #12480
Discussed with @jmarantz offline. I will work on some type of fix here.

[2020-08-06 20:24] sunjayBhatia commented on #12480
To connect the dots back in case anyone needs this info, see https://github.com/envoyproxy/envoy/pull/11904#issuecomment-670154865

We're seeing generally on Windows as well (the issue seems exacerbated there) that integration tests are not actually waiting for real time as fake/simulated time systems are in use in these tests

[2020-08-06 22:57] mandarjog opened #12524 "ShrinkHeap: make MAX_UNFREED_MEMORY_BYTE configurable"
At present, MAX_UNFREED_MEMORY_BYTE is hard coded to 100MB.
https://github.com/envoyproxy/envoy/blob/0422f644228968a2af2383fd0b917b146976759c/source/common/memory/utils.cc#L28

In tests with V8/Wasm we are consistently observing 60MB+ of `pageheap_free`. This is a huge tax  in a large fleet.

1. Make this number configurable in bootstrap. (and/or admin/runtime)
2. Attach  `shrink_counter_` to shri

[2020-08-07 00:06] #11984 closed

[2020-08-07 00:21] arberx opened #12526 "gRPC client request fails when including authorization header."
### Description

`envoy` version: master branch.

Simply trying to send a `grpc` request to `envoy`, setup with jwt authentication.

The gRPC client sets the authentication header with the token, unfortunately, it seems this field is seen as invalid by envoy:
[code]

This works if I simply send a `curl` request with the header, and `grpc` request without the header also succeeds.

[2020-08-07 00:22] #12015 closed

[2020-08-07 01:11] arberx commented on #12526
Seems this is not related to `grpc` specifically and is/or is related to https://github.com/envoyproxy/envoy/issues/12197

[2020-08-07 02:02] dio commented on #12526
@arberx sorry, could you give a snippet on how you send the JWT header? I tested it with Go implementation, i.e. using [`WithPerRPCCredentials`](https://github.com/grpc/grpc-go/blob/7419b444ee1718a247695a367bb0ef292e512187/dialoptions.go#L331), it works fine.

[2020-08-07 02:21] arberx commented on #12526
The C++ client code I'm using is quite involved, but it sets up a secure channel and sets `grpc::AccessTokenCredentials`.
A simple curl request works though:
[code]

Do you think it's an issue with the client?

[2020-08-07 02:28] wbpcode commented on #12437
@XanderStrike may be we can close this issue?

[2020-08-07 04:59] dio opened #12532 "TSAN DelayActivation/TimerImplTest.ChangeTimerForwardsToNonZeroBeforeRun/0 flake"
[code]

[code]

[2020-08-07 05:04] phlax opened #12533 "Avoid use of pyyaml.load"
### description

Use of `yaml.load` is generally discouraged as it allows execution of arbitrary code from a crafted config.

Where its actually necessary to activate these yaml features the load function  should be called with a `Loader` argument

There are 2 cases in the source code where the `yaml.load` is used - one is called with the `Loader` arg the other not - eliciting warnings.

[code]
in

[2020-08-07 05:32] snehakpersistent commented on #12097
[envoyBuildLog.txt](https://github.com/envoyproxy/envoy/files/5039499/envoyBuildLog.txt)
[envoyTestLog.txt](https://github.com/envoyproxy/envoy/files/5039501/envoyTestLog.txt)
@dmitri-d I have attached build and test logs for reference.

[2020-08-07 06:36] dio commented on #12526
Yes. I modified the `helloworld` example to employ `CompositeChannelCredentials`, as follows:

[code]

In Envoy decoding side, the debug log:

[code]

[2020-08-07 08:25] goith commented on #12252
when thie problem occurs, i found  the callback.OnStreamRequest exec more than one times, as follow：

[code]
it's not normal.

[2020-08-07 08:26] phlax commented on #7793
@mattklein123 im happy to take this

[2020-08-07 08:55] cz-it opened #12535 "IMAGE_NAME=envoyproxy/envoy-build-centos failed for incorrect $PATH"
Description:

When I followed [Developer use of CI Docker images](https://github.com/envoyproxy/envoy/tree/master/ci) and set IMAGE_NAME to
"envoyproxy/envoy-build-centos", then got error message:

	No remote cache is set, skipping setup remote cache.
	ENVOY_SRCDIR=/source
	ENVOY_BUILD_TARGET=//source/exe:envoy-static
	./ci/../bazel/setup_clang.sh: line 3: bazel: command not found
	./ci/build_setu

[2020-08-07 09:10] #12533 closed

[2020-08-07 09:19] #9976 closed

[2020-08-07 12:01] verysonglaa opened #12538 "tracing: Set span.kind tag for opencensus tracer when creating client/server spans"
Currently  OpenTracing tracers and the zipkin tracer derives the span.kind (or cs/cr/ss/sr annotations) from the tracing config "operation_name" - however opencensus tracer doesn't have this tag set.

The proxy needs to explicitly set this tag when creating the span. This is similiar to #3435 which was resolved in 42a9cae38dd3bf5264fb83f64e310b0d76ea4257 (but this time just for opencensus)

[2020-08-07 12:03] surki commented on #9822
We ran into this as well but in header (we are in the process of moving large workload into Envoy from another system, and found small no. of clients making these problematic requests).

[2020-08-07 12:14] arberx commented on #12526
Thanks for the detailed response! What version of envoy are you using?

[2020-08-07 13:17] dio commented on #12538
cc. @objectiser

[2020-08-07 13:18] dio opened #12540 "zipkin: Missing annotations serialization when verbose=true"
As reported here: https://envoyproxy.slack.com/archives/C78M4KW76/p1596768743383400

I’m trying to use Envoy tracing with Zipkin — Envoy is successfully sending tracing information to Zipkin, but I’m not getting what I expected. I enabled “verbose” in the HCM tracing, expecting to get fields like last_downstream_rx_byte_received sent in the POST request to Zipkin, but I don’t seem to be getting an

[2020-08-07 14:26] eziskind commented on #12524
/cc @zyfjeff

[2020-08-07 14:44] obeleh commented on #4526
Since this is still being worked out. This is my (a bit dirty) workaround:
WARNING: since it's forwarding to its own listener, the dynamic listener wil start after the 2nd config request.

[code]

[2020-08-07 14:53] brantlk opened #12542 "upstream_cx_rx_bytes_buffered grows larger than the 1MiB default limit"
We've got an application that runs in Kubernetes with istio and the envoy sidecar container memory for pods for a particular deployment keeps increasing to where the pod eventually hits its memory limit and Kubernetes kills it.

I've been watching the stats for the process and one that keeps growing (besides server.memory_heap_size and the usual counts) is

cluster.outbound|80||app2.services.svc.c

[2020-08-07 14:55] zyfjeff commented on #12524
#12489 This PR seems to meet this need

[2020-08-07 14:57] zyfjeff commented on #12524
/cc @lambdai

[2020-08-07 15:01] dmitri-d commented on #12097
There's no error in envoyTestLog, just the message that a test failed to build. You could try adding `--sandbox_debug` to the `bazel test`, or try running just the test that's failing to building.

[2020-08-07 15:15] arberx commented on #12526
The client seems fine on my end, but the code path my request is taking, seems a little different than yours:
[code]

Notably, this path:
[code]

Does this have anything to do with it? I can post my config if necessary.

[2020-08-07 16:24] mattklein123 commented on #12532
cc @antoniovicente

[2020-08-07 16:25] mattklein123 commented on #7793
Nice! Thanks.

[2020-08-07 16:28] mattklein123 commented on #12542
cc @alyssawilk @antoniovicente

[2020-08-07 16:38] cuonglm opened #12543 "Envoy does external DNS request for hostname in /etc/hosts"
I set my domain name in `/etc/hosts`, but envoy still does external DNS query for that domain:

[code]

I expect envoy to skip the DNS query and always use the IP set in `/etc/hosts`. I can't find anywhere in the doc mention about envoy behavior with `/etc/hosts`.

[2020-08-07 17:00] antoniovicente commented on #11266
Any updates?

[2020-08-07 17:17] ggreenway commented on #9434
@danzh2010 Is this complete, or is there other work still to be done?

[2020-08-07 17:21] antoniovicente commented on #12542
How many connections are involved?  My understanding is that the per_connection_buffer_limit_bytes is per H1 connection or H2 stream.

Also, there are two per_connection_buffer_limit_bytes config knobs: one in the listener config and one in the cluster config.  It works best to set these two knobs to the same value since each controls the read/write buffer behavior at one side of the connection.

[2020-08-07 17:27] oschaaf commented on #11266
Well, I got sidetracked for a but, but this has been happily test-driving in NHs own CI. So far so good.

For example see the .html files in the [artefacts of a recent PR](https://app.circleci.com/pipelines/github/envoyproxy/nighthawk/2022/workflows/48ff7ef6-bf0b-4c35-aebd-a8195f1c5b7e/jobs/16706).
We could consider wiring up the current state in Envoy's CI as an MVP based on the [docker-based flo

[2020-08-07 17:43] lavasana opened #12545 "There is currently no support for encoding grpc trailers in HTTP responses using the GRPC HTTP1 Reverse Bridge"
In the [GRPC HTTP1 Reverse Bridge](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/grpc_http1_reverse_bridge_filter), there is currently no support to encode custom trailers in the GrpcWeb responses, that will be translated back to GRPC Response trailers.  Currently, it seems that just the grpc-status is auto-inferred using the HTTP response code.

Is this something tha

[2020-08-07 18:00] peterwhitesell commented on #12519
@qiwzhang the statuses enumerated in that file are exactly (and well above and beyond!) the information I'm looking for. I'm swimming a bit over my head to understand if "saving such status into filter metadata" is the same as adding them to the attributes.

My end goal is to leverage them as attributes with Istio and [in their docs](https://istio.io/latest/docs/tasks/observability/metrics/customi

[2020-08-07 18:16] qiwzhang commented on #12519
Yes,  once Envoy jwt_authn filter writes jwt_verify_status into metadata,  it think it will be part of `listerner_metadata`.

[2020-08-07 18:30] christine-gong opened #12548 "[Document clarification] tracing sampling range"
### Description
https://www.envoyproxy.io/docs/envoy/v1.14.3/configuration/http/http_conn_man/runtime#config-http-conn-man-runtime-global-enabled says
```This runtime control is specified in the range 0-10000 and defaults to 10000. Thus, trace sampling can be specified in 0.01% increments.```
does this apply to random_sampling only?
since both v2 and v3 apis say the all sampling types are percent

[2020-08-07 18:39] brantlk commented on #12542
I'll just post all the stats for this connection. I think according to this there are many (418) connections:

`
cluster.outbound|80||app2.services.svc.cluster.local.upstream_cx_active: 418
cluster.outbound|80||app2.services.svc.cluster.local.upstream_cx_close_notify: 0
cluster.outbound|80||app2.services.svc.cluster.local.upstream_cx_connect_attempts_exceeded: 0
cluster.outbound|80||app2.services.

[2020-08-07 18:52] antoniovicente commented on #12542
The default per_connection_buffer_limit_bytes is 1MB.

If the RTT to both downstreams and upstreams is small, I would recommend reducing per_connection_buffer_limit_bytes in both the listener config and cluster config.

[2020-08-07 19:02] brantlk commented on #12542
The RTT is small it's all running in the k8s cluster which is all colocated for us.

[2020-08-07 20:04] florincoras commented on #11618
@antoniovicente would #12550 work?

[2020-08-07 20:12] danzh2010 commented on #9434
/assign @danzh2010

[2020-08-07 20:20] arberx commented on #12526
Wow, turns out the issue was with a newline in the jwt file.

Thank you!

[2020-08-07 20:20] #12526 closed

[2020-08-07 21:15] danzh2010 commented on #9434
need one more change about key enforcement.

[2020-08-07 21:36] antoniovicente commented on #12499
What is the intended behavior when the requested source IP and port is already in use?

You may need to set some socket options to allow multiple connections to bind to the same local ip:port, and fail on connect if a connection with the same src and dest ip:port already exists.

It sounds like you need a locked data structure.  If you run into contention problems, I think the most you can do in t

[2020-08-07 22:05] kishan-patel commented on #12499
Thank you for taking the time to reply.

We are expected to send the message over the already established connection (even though it may have been created on a different thread).

This is the way that it has been implemented so far in the prototype that we are developing. However, we weren't sure whether it was the best approach due to all of the locking and communication between filters on differ

[2020-08-07 22:14] antoniovicente commented on #12499
IIRC Buffer::Instance and Network::Connection objects are not thread safe.  I expect you will run into some problems unless you do sends by posting to the thread that owns the relevant connection and verify that the connection still exists in that thread prior to writing to it's output buffer.

[2020-08-08 02:07] yugantrana commented on #11925
Design details for the fix can be found [here](https://docs.google.com/document/d/16ePbgkfrzQ6v-cOVMSnKDja3dUdZvX-mxT9jw29rx4g/edit#)

[2020-08-08 05:00] jeremybaumont opened #12556 "[Question] - (route) metadata vs dynamic metadata"
## Context
We were reviewing the change log of v1.15.0 and we noted some changes that could improve our rate limiting setup. We decided to spike one the new feature, and make sure we understand it correctly:

* ratelimit: added support for use of dynamic metadata [dynamic_metadata](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-field-config-r

[2020-08-08 05:07] #12197 closed

[2020-08-08 06:53] rafaeldasilva commented on #8167
By I could understand the point is apply weight rule only on first call.
Since the client connected the next calls goes through the stick rule.
Is it feasible?
Any one see any drawback on this logic?

[2020-08-08 13:42] sriduth commented on #12383
I made a patch here: https://github.com/sriduth/envoy/commit/acf3831b4b2a4d636db0033c955e30f74a9ea6d5
but based on the original issue reported #7130, it looks like `inotify_init1` can fail of either `user.max_inotify_watches` is set to a low value - ill dig deeper into this.

Also, we could improve the message logged if `inotify_add_watch` fails in the `WatcherImpl::addWatch` method, currently it

[2020-08-08 14:05] fabriziomello commented on #9577
Awesome... do we have an agreement about this design?

[2020-08-08 14:29] #11809 closed

[2020-08-08 15:29] #11814 closed

[2020-08-08 18:29] #11821 closed

[2020-08-08 20:29] #11602 closed

[2020-08-08 23:29] #11834 closed

[2020-08-09 01:13] Jaskaranbir opened #12559 "Reverse-proxy with Envoy - Enable internal-redirects"
I am trying to redirect all traffic going to a K8s pod to Envoy, with a later goal to perform some operations on that traffic (such as monitoring etc.). For this, I have added an IPTable rule to redirect traffic from network-interface to Envoy's address/port. Until here, it seems to work fine (I can see the requests coming into Envoy). Also, I am _not_ using Istio, just Envoy.

However, I get 302

[2020-08-09 07:29] #11522 closed

[2020-08-09 08:29] #11533 closed

[2020-08-09 11:50] rtttech opened #12560 "build failed on windows10"
error running 'git init C:/users/rtttech/_bazel_rtttech/u3xypprs/external/org_golang_x_tools' while working with @org_golang_x_tools:
java.io.IOException: ERROR: src/main/native/windows/process.cc(199): CreateProcessW("git" init C:/users/rtttech/_bazel_rtttech/u3xypprs/external/org_golang_x_tools): ???????????
 (error: 2)

It seemed that create process with relative path does not work on windows,

[2020-08-09 19:31] Jaskaranbir commented on #12559
Found the issue. I was using the config-version V2, and it worked after adding `--bootstrap-config 3` to startup-options (had to also change a few things in config-yaml due to API-changes).

[2020-08-09 19:31] #12559 closed

[2020-08-10 02:35] chadr123 commented on #12513
Could you review my idea?

[2020-08-10 06:51] perlun commented on #10154
Thanks a lot for this, @cpakulski! Looking forward to 1.15.0 where this fix will be available.

[2020-08-10 07:22] kkHAIKE opened #12565 "build failed with `google_grpc=disabled`"
commit: d58f702
system: centos7
gcc: 8.3.1
cmdline: `bazel build -c dbg //source/exe:envoy-static --define google_grpc=disabled --override_repository envoy_build_config=xxxx --define exported_symbols=enabled --copt="-DENVOY_IGNORE_GLIBCXX_USE_CXX11_ABI_ERROR=1"`
error:
[code]
any other thing?

[2020-08-10 12:50] snehakpersistent commented on #12097
@dmitri-d I can see below error in the log that I posted:
`ERROR: /root/envoy/test/common/http/BUILD:351:19: C++ compilation of rule '//test/common/http:utility_fuzz_test_lib' failed (Exit 1) gcc failed: error executing command /opt/rh/gcc-toolset-9/root/usr/bin/gcc -U_FORTIFY_SOURCE -fstack-protector -Wall -Wunused-but-set-parameter -Wno-free-nonheap-object -fno-omit-frame-pointer '-std=c++0x' -M

[2020-08-10 13:24] sunjayBhatia commented on #11659
Closing this as per comment above

[2020-08-10 13:24] #11659 closed

[2020-08-10 13:26] samflattery opened #12568 "[fuzz] Router Fuzzing"
**Title**:
Router fuzzing proposal

**Background**:
I’m working with @asraa on a router fuzzer.  The fuzzer will be modelled around replicating and catching interesting scenarios that caused availability issues and zero-days for Envoy in the past. Currently, no fuzzer executes these codepaths. A vm-exploitable query-of-death (https://github.com/envoyproxy/envoy/issues/7154) was caused due to an is

[2020-08-10 13:31] asraa commented on #12568
/cc @envoyproxy/security-team
for any suggestions here (especially with testing issues. it is very hard to reproduce these scenarios outside integration test frameworks)

[2020-08-10 13:50] akonradi commented on #11427
I've got a PR out for the bucket timer approach that could use some more eyes, specifically [this comment thread](https://github.com/envoyproxy/envoy/pull/12414#discussion_r465455063) about what guarantees we want to provide. For instance:

- Do we want to prioritize timers taking the full duration when not in overload, or taking the minimum duration when in overload?
- What runtime overhead are w

[2020-08-10 13:53] lretrain91 commented on #11883
Hello, any new ?

[2020-08-10 14:28] hinawatts commented on #12377
Please let me know if there is any suggestion here.

[2020-08-10 14:30] foreseeable opened #12570 "tools: improve tools/envoy_headersplit"
`tools/envoy_headersplit` is a tool to break the monolithic mock headers into different mock classes and refactor the code base (see PR #12150).

This tool works but there are still some shortcomings that would be nice to address.

1. The llvm library path is hard coded in `tools/envoy_headersplit/headersplit.py`. It would be better to configure it out automatically.
2. libclang will fail in parsi

[2020-08-10 14:35] foreseeable commented on #12570
/cc @ahedberg

[2020-08-10 14:35] brantlk commented on #12542
I haven't had a chance to look into setting the per_connection_buffer_limit_bytes yet.

I asked the application developer to take a look at their code and make sure that they were reading the response from the server and they did find a place where the app wasn't reading the response. It's a Go application and the problem was essentially the first answer here: https://stackoverflow.com/questions/1

[2020-08-10 14:42] VassoSof commented on #11498
@snowp Any update on the fix to be provided? Planned release for as well?

[2020-08-10 15:23] antoniovicente commented on #11427
We should remember that libevent uses a priority queue for real timers, so enableTimer on real timers is O(lg n). Use of a priority queue for scaled timers would provide the same performance bound.

[2020-08-10 16:05] mattklein123 commented on #12556
cc @clarakosi @Pchelolo

[2020-08-10 16:06] mattklein123 commented on #12513
@chadr123 at a high level this LGTM, though you will need to use the socket open abstractions in the final PR (see https://github.com/envoyproxy/envoy/blob/master/source/common/network/socket_option_impl.h). Thank you!

[2020-08-10 16:23] antoniovicente commented on #12532
/assign @antoniovicente

I can reproduce misc flakiness in TimerImplTest across multiple test cases.  I don't understand the failures yet, but will try to get to the bottom of it as soon as I can.

[2020-08-10 16:33] christine-gong commented on #12548
anyone can confirm if envoy tracing works when sampling rate is under 1%? I can help update the documentation if my understanding is correct

[2020-08-10 16:45] howardjohn opened #12572 "filter_chain_match difference between {} and null is confusing/under documented"
If I have config (example 1):
[code]

All h2 traffic matches filter 1, and everything else matches filter 2. If I then change this to (example 2)
[code]

No traffic matches filter 2. I would expect filter 2 to still catch all unmatched traffic. It seems in order to do this, I need to specify: (example 3)
[code]

I think this contradicts the docs a bit. Transport protocol says "If non-empty, a tran

[2020-08-10 16:57] Pchelolo commented on #12556
Hi @jeremybaumont

You are correct in your understanding. `dynamic_metadata` != `filter_metadata`. They reuse the same structure internally, thus the confusing integration test. In my understanding the difference is that filter_metadata is configured statically while the dynamic_metadata can be set/modified within each request context by the filters.

Our original goal was to implement support for

[2020-08-10 17:22] #12373 closed

[2020-08-10 17:35] #9434 closed

[2020-08-10 17:53] jplevyak opened #12574 "Convert WAVM Wasm runtime to an extension"
Currently the WAVM Wasm runtime support is a define option: --define wasm=enabled or --define wasm=wavm.

Instead we can convert the WAVM runtime support to an extension and then use a registry to resolve it.  We can
do the same thing for V8 and any other Wasm runtimes.

[2020-08-10 17:58] dmitri-d commented on #12097
You can try building/running a particular test suite by specifying the path to it in bazel test command: `bazel test //test/common/http:test_suite`.

I'd try executing the failing command shown in the debug output, but using gcc directly (I think you can skip everything up to `/opt/rh/gcc-toolset-9/root/usr/bin/gcc`).

[2020-08-10 18:05] mandarjog opened #12575 "`SpecificPerFilterConfig` should support semantic names"
Filter names no longer encode filter types, so the name `envoy.filters.http.ext_authz` is not strictly required.
note: `myco.ext_authz` in the example.

[code]

However,  route specific config name is hardcoded in the filter code, which forces the route config to continue using `envoy.filters.http.ext_authz` compatibility name.
[code]
https://github.com/envoyproxy/envoy/blob/67c5b435fd4723198091a6

[2020-08-10 18:10] kyessenov commented on #12575
Maybe use some combination of type URL and config name?

[2020-08-10 18:12] qiwzhang commented on #12377
Unfortunately,  "iss" is a required field in Envoy jwt_authn filter.

[2020-08-10 20:06] howardjohn commented on #12572
Actually original issue was not fully accurate. If my matches are like:
[code]

Raw TCP traffic traffic will match neither

In order to get it to match I need to set up two matches:
[code]

I have not yet found a way to have a real "match everything" FCM

[2020-08-10 20:09] brantlk commented on #12542
I'll look into the buffer size setting... seems like this could help a lot.

I'm also looking at setting the active request limit since the active request count kept increasing. I think that according to https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/router_filter#config-http-filters-router-x-envoy-overloaded-set that if I set a max_pending_requests limit requests over

[2020-08-10 20:35] htuch commented on #12339
CSDS as it exists today is really just a gRPC wrapper around the admin config dump. I think this proposal is reasonable, but I would also suggest we include version, last synced time, name for resources as well. In terms of the set of types, I would hope we could reasonably have this status provided for all types Envoy supports, but it should ideally be done for the admin interface as well.

[2020-08-10 20:44] dfawley opened #12578 "gRPC timeout processing does not match gRPC semantics"
Description:

In gRPC, the client chooses a deadline before starting an RPC; this is a fixed point in time.  When sending the RPC, gRPC attaches a header (`grpc-timeout`) containing the remaining timeout as a duration (e.g. "10s").  Envoy reads this timeout duration and applies it internally, but only starts the timer after the client finishes sending the request data.  This may never happen in th

[2020-08-10 21:45] mattklein123 commented on #9501
cc @florincoras who I think that volunteered (been volunteered?) to fix this. @florincoras I would add a config option on the Listener proto object which I think should be pretty easy to plumb through to where you need it.

If unset, I would probably do what @paulnivin did here: https://github.com/paulnivin/envoy/compare/master...paulnivin:listen_somaxconn?expand=1 which is to make it -1 on linux

[2020-08-10 21:52] Pchelolo opened #12582 "Proposal: Support nested structures JSON formatted in access_log"
**Background**
The `format_json` support was implemented in #2692 but it only allows flat single-level objects as JSON output. As I understand from the discussion on the issue, nesting was left out because there was no clear need for it at the time, but the API was designed to be future proof to support it.

**Rational**
At Wikimedia, we ingest all the access logs into Kafka, funneling them into H

[2020-08-10 21:57] aa-stripe commented on #12582
I agree, nested objects are totally reasonable, and if you need that support, we should add it natively.

Imo we should definitely avoid any kind of "flatten when emitted, but re-nest upon ingestion type of solution".

I'd be curious of what your specific use case is - what nesting would you like to introduce?

[2020-08-10 22:00] mattklein123 commented on #12508
I think this was fixed by https://github.com/envoyproxy/envoy/pull/11914

[2020-08-10 22:01] howardjohn commented on #12508
@mattklein123 I have tried with #11914, still broken. See https://github.com/envoyproxy/envoy/issues/12508#issuecomment-669677645. It fixed one crash but not the main OOM issue we see

[2020-08-10 22:02] Pchelolo commented on #12582
[Here](https://gerrit.wikimedia.org/r/plugins/gitiles/schemas/event/primary/+/refs/heads/master/jsonschema/mediawiki/api/request/0.0.1.yaml) is an example of the schema we are using for some other access logs, the one we're planning to use for envoy would be very similar. So eventually the config in our case should look somewhat like [this](https://gerrit.wikimedia.org/r/c/operations/deployment-ch

[2020-08-10 22:03] mattklein123 commented on #12508
cc @abaptiste

[2020-08-10 22:56] mattklein123 commented on #12235
FYI I think I can now reliably repro this with the changes here: https://github.com/envoyproxy/envoy/pull/12527

[2020-08-10 23:11] mattklein123 commented on #12235
Hmm, this might not be the same issue, but would still like to merge the fix to see if it helps or not. This trace doesn't make much sense to me:
[code]

[2020-08-10 23:21] htuch commented on #12578
Discussed earlier, but FTR I think I'm in favor of (3), since (1) might potentially break existing unary gRPC users and (2) adds special casing that can be avoided.

[2020-08-11 00:01] #3098 closed

[2020-08-11 00:03] mattklein123 opened #12585 "simtime alarm race condition"
This got exposed and/or became easier to repro via https://github.com/envoyproxy/envoy/pull/12527. Basically the alarm is getting deleted in parallel to it being scheduled. We need to rethink the locking here to make sure the time system mutex is held across all operations and objects are kept alive if already scheduled and the callback should just not be called, etc.

[code]

[2020-08-11 00:03] mattklein123 commented on #12585
cc @antoniovicente not sure if this was pre-existing or introduced as part of your recent changes. @jmarantz is going to take a look.

[2020-08-11 00:07] mattklein123 commented on #12585
Repro with the associated PR and:
[code]

[2020-08-11 00:34] jeremybaumont commented on #12556
Hey @Pchelolo

Thank you for the quick answer :smile: we really appreciate.

Yes we have considered that at the beginning. The problem with GenericKey rate limit action is that we cannot choose the descriptor key name. We would need to ask the rate limit service team to support the mapping between the descriptor key "generic_key" and "operation" (in the gRPC service but also in the rate limit poli

[2020-08-11 00:36] #12556 closed

[2020-08-11 00:40] XanderStrike commented on #12437
Thanks for all your help!

[2020-08-11 00:40] #12437 closed

[2020-08-11 00:52] chadr123 commented on #12513
Thank you for your review.
I will revise my patch and will send a PR. :)

[2020-08-11 01:01] jmarantz commented on #12585
Repro (I think) in a unit test:
[code]

Failed for we with debug+tsan 14/100 times. Works 100% of the time if I swap the last 2 lines of the test.

[2020-08-11 02:02] Arnold1 commented on #7599
@ggreenway why did you close it?

[2020-08-11 02:19] lizan commented on #12572
Yes I was confused a lot by this, I think we also need to revisit whole FCM proto. cc @envoyproxy/api-shepherds

[2020-08-11 03:07] lambdai commented on #12572
It's the natural of "best match" implemented by decision tree. I can explain match mechanism using sieve mode which is less confusing than
 https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/listener/v3/listener_components.proto.html?highlight=filterchainmatch#config-listener-v3-filterchainmatch

Let me write an formal one

[2020-08-11 04:30] lizan commented on #12097
I think you're seeing same error as https://github.com/envoyproxy/envoy/pull/12299, in short, pass `--copt=-Wno-error=type-limits` or `--copt=-fsigned-char`  to bazel, or write it to `user.bazelrc`.

[2020-08-11 04:47] mattklein123 commented on #12582
+1 this sounds like a good thing to add.

[2020-08-11 04:50] mattklein123 commented on #12572
I will admit I don't fully grok the details here but just from my quick read it sounds confusing. If there is any way we can fix this without proto changes that would be really appreciated.

[2020-08-11 05:38] florincoras commented on #9501
@mattklein123 :-) Will do once we're done with #12547!

[2020-08-11 11:24] htuch commented on #11427
@akonradi it might help to enumerate the complete list of timers we plan on applying the adaptive timers to; for example, whether or not maintaining original ordering matters might depend on exactly which timers we're talking about and their relationship to each other.

[2020-08-11 12:26] htuch commented on #12572
I'm not sure why this is so complicated or hard to understand. The current documentation seems clear. You first match transport protocol, and then match on ALPN. In your first example, definitely the ALPN one doesn't work for pure TCP. I'm not sure about the `null`; this is not part of the FCM match algorithm. We should clarify semantics around that.

[2020-08-11 12:30] #12430 closed

[2020-08-11 13:53] howardjohn commented on #12572
@htuch all I want to do is have a "fallback" filter chain that will match everything not matched by a previous chain. As far as I can tell this is not actually possible although the doc implies it is by leaving all fields empty and it does not mention that someone changing a different FC impacts others matching behavior.

The doc suggests an empty application protocol will match any application pr

[2020-08-11 14:10] sumeetoc commented on #1843
@tortuoise can you please help me with the final configuration file of yours? I seems to have the similar requirement

[2020-08-11 14:47] antoniovicente commented on #12585
After talking to jmarantz offline and looking through the code more closely, I think the issue is related to SetMonotonicTime doing activate calls on multiple dispatchers on objects that are owned by their respective dispatchers and may be on any stage of their lifetime.  The call stack on this bug is a good example: A call to Alarm::activateLockHeld that races with the destructor for the same ala

[2020-08-11 14:48] antoniovicente commented on #12585
/assign @antoniovicente

[2020-08-11 14:50] jmarantz commented on #12585
Thanks @antoniovicente

[2020-08-11 16:35] antoniovicente commented on #12532
I should add: this is not a TSAN issue.  Flakiness happens outside TSAN.  At least 4 different test cases are affected, ChangeTimerForwardsToZeroBeforeRun just happens to be the one that is most likely to flake.  I don't fully understand the flakiness yet or how to mitigate it.  It may make sense to disable some of these very picky and relatively unessential tests to avoid presubmit problems.

[2020-08-11 16:44] aa-stripe commented on #12582
:shipit:

[2020-08-11 17:10] lambdai commented on #12572
From istio's point of view, a fallback filter chain could save lots of logic.

I am not sure once we introduce the "fallback" filter chain to `the listener`, how could we support the case to reject a connection

[2020-08-11 17:12] howardjohn commented on #12572
@lambdai the whole point of having a "match everything"/"fallback" filter chain is that we do *not* ever want to reject it

[2020-08-11 17:19] howardjohn commented on #12572
So based on the sieve model in https://github.com/envoyproxy/envoy/pull/12587, my understand is if I want two filter chains:

* FC 1 matches on some complex criteria, say destination_port=80,transport_protocol=tls,application_protocols=[h2]
* FC 2 matches everything else

If I want to do this, instead of a single FC2, I need to make every possible permutation of FCMs? So I need 65535 (destination

[2020-08-11 18:46] shivanshu21 opened #12590 "Introduce New header match type to avoid Regex - Contains"
Title: Introduce New header match type to avoid Regex - Contains

Description:
For matching values in the header that might be somewhere in the middle of the header, the present option is to use Regex in the form `.*Search-Pattern.*`. This can cause catastrophic backtracking as described here:
https://github.com/envoyproxy/envoy/issues/7728

As a solution, in our build used in eBay Traffic enginee

[2020-08-11 18:56] shivanshu21 opened #12591 "Need 3XX Location URL rewrite feature"
Title:

Description:
We use an encode filter to rewrite location URL today in eBay traffic engineering, but this looks like a feature that should be supported from upstream Envoy side.

We are using Envoy 1.13. Is this feature already available in master? Is it required upstream?

What we are looking for is:
1. Upstream sends some location header and 302.
2. Envoy has an option for the route where

[2020-08-11 18:58] lambdai commented on #12572
A little bit less: we need
1. FC 2 with no destination port. So FC2 matches any port other than 80.
2. FC 3 with destination_port=80, nothing else. FC3 matches destination_port=80 and transport_protocol != tls
4. FC 4 with destination_port=80, transport_protocol=tls, and nothing else. FC3 matches destination_port=80 and transport_protocol = tls, and alpn != h2

[2020-08-11 19:04] murray-stripe opened #12592 "Failed LDS update results in invalid configuration state"
*Title*: __Failed LDS update results in invalid configuration state__

_**Description**_:
Our production control-plane experienced and issue that caused us to deliver an invalid LDS update. Specifically this update deleted one listener and added a new listener that contained a configuration that passed protobuf validation but failed when [creating the listener][creation_exception]. The xDS API ret

[2020-08-11 19:10] howardjohn commented on #12572
So when we move to a single outbound listener, and we have 100s or 1000s of different FCM in play, in order to get a real "match all" will we need some huge combinatoric explosion of FCMs? Because at that point, we will have FCs for a bunch of different ports, server names, etc

[2020-08-11 19:11] shivanshu21 commented on #12591
https://github.com/envoyproxy/envoy/issues/10259

[2020-08-11 19:13] skambashi opened #12593 "Attach connection dynamic metadata to request as HTTP header"
*Title*: *Attach connection dynamic metadata to request as HTTP header*

*Description*:
We are currently using envoy v1.15.0

I am using a proxy protocol listener filter to extract TLV values, which I then want to attach as an HTTP header to the request. I'm hoping to use this request header in the external auth service to do some additional validation on the TLV value.

In particular this is for

[2020-08-11 20:25] lambdai commented on #12572
Fallback filter chain is preferred not only b/c single outbound listener.

We even without single outbound listener, a 0.0.0.0:80 outbound has multiple filter chains and an *imagined* fallback filter chain.

The fallback filter chain is "imagined" because in massive cases that filter chain works as a fallback. However, in the cases you mentioned, none filter chain is chosen.

In all, in istio(espe

[2020-08-11 20:36] mailofapideveloper opened #12596 "issue when adding custom headers for External Authorization"
I am trying to send a custom header from each route to External Authorization server , this header will be used to identify the service and do Authorization .When I try adding the header at route level , getting unable to unpack error.
Can you please help in figuring out what is missing ?

**Below is the config in Yaml**
`virtual_hosts:
              - name: local_service
                domains:

[2020-08-11 20:38] mattklein123 commented on #12585
Yeah this is an interesting option and I think makes sense.

[2020-08-11 22:37] mattklein123 commented on #12235
Nevermind regarding ^ this is the same TSAN issue that is fixed with instrumented TSAN which I am not using. :(

[2020-08-11 22:55] htuch opened #12598 "Standardized abstraction for sharing gRPC async clients across filter instances of a given type/config"
Similar to gRPC access logging, we want to avoid recreating a gRPC AsyncClient each time we have a new request; with Google gRPC this implies a new gRPC channel creation, which is expensive. We should factor out the pattern in gRPC access logger for the TLS client cache and make easy to use across all filters that perform gRPC on the runtime plane.

[2020-08-11 23:12] htuch commented on #12572
FWIW, if FCM matching has the existing sequencing logic but was structured in the API like a trie (including how CIDR ranges are treated), i.e. as a bunch of nested trees, rather than linear list of alternative FCM criteria, we would not have any combinatorial explosion as we scale up.

[2020-08-11 23:13] htuch commented on #12572
I think we should just standardize something for catch-all; empty match criteria matches all.

[2020-08-11 23:17] mattklein123 commented on #12590
Yes this sounds fine. I would also add this to StringMatcher in parallel if possible. Ultimately we would like to converge these 2 matchers. Thank you!

[2020-08-11 23:29] mattklein123 opened #12600 "TSAN: fail libc++ build if not using the TSAN specific version of libc"
I killed a bunch of time on this since I didn't realize this wasn't baked into `--config=clang-tsan`. It would be nice if somehow if in a TSAN/libc++ build we had a test that verified the right library is being used and if not has instructions pointing people to either using docker or building the library locally.

[2020-08-11 23:29] mattklein123 commented on #12600
cc @lizan @dmitri-d

[2020-08-11 23:30] howardjohn commented on #12572
I am a bit concerned if we just special case catch-all we are just delaying the problem until we end up with a more complicated match where we end up in a similar state.

What would be more intuitive/flexible to me, as well as consistent with the (current) docs is to add some form of "backtracking". Hopefully I can explain this right:

Today, for each criteria we decide if its a match and go down

[2020-08-11 23:33] mattklein123 opened #12601 "build: convenience script for analyzing an Envoy commit range"
Many organizations regularly pull in Envoy changes and run them. The project has grown quite a bit however, and a weeks worth of changes can easily be 100+ commits. Many of these commits don't actually matter to the organization that pulls them in. I think we can create a script using a combination of Python/Bazel that would do something like the following:
- Take a commit range as an argument
- T

[2020-08-11 23:33] mattklein123 commented on #12601
cc @junr03 per offline convo.

cc @envoyproxy/maintainers

[2020-08-11 23:42] htuch commented on #12572
I think back tracking is pretty hard to reason about and would introduce unpredictable match cost. Looking at the example, we end up basically abandoning the strict matching criteria you were after. Is the issue really that port match happens before IP match? I seem to recall some discussion we had around possibly allowing flexible ordering of matchers, which might mitigate this.

[2020-08-11 23:51] howardjohn commented on #12572
@htuch I am not sure its hard to reason about for the *user*, which is what I am optimizing for. Yes, my explanation is complicated, as its based on the implementation - but the user facing results are not. We have a *ton* of bugs reviewed by a ton of people, including many very familiar with Envoy, because of this "quirk" in the API - no one identified that it was totally broken, and we spent man

[2020-08-12 00:22] htuch commented on #12572
@howardjohn I think this makes sense, but I think there is a simpler explanation. Can we just say that if a match criteria is not set, it's effectively wildcard, and we always match on the most specific criteria first, with precedence towards the earlier matchers as tie breaker?

[2020-08-12 00:24] howardjohn commented on #12572
@htuch That makes sense to me. If we throw an example or 2 in the doc I think it will clear things up as well

[2020-08-12 00:26] htuch commented on #12572
@lambdai @PiotrSikora WDYT?

[2020-08-12 01:13] stevenzzzz commented on #12235
hi Matt, I think this is because the weakptr still holds the control block and update the weak_count while the shared_ptr in the worker thread is updating the reference count inside the control block, depends on which happens first, the control may be erased by either thread.

We can switch the order where we pop the iter and send the callback, that would fix the race issue. @dmitri-d @mattklein12

[2020-08-12 03:41] PiotrSikora commented on #12572
Adding more examples and explanation sounds fine. I think the missing piece of information is that once the criteria is matched, only filter chains containing that criteria are going to be considered. I thought it was documented, but it doesn't look like it is.

I have no idea what `{}` vs `null` is. Shouldn't `FilterChainMatch` be always present (i.e. non-null) in the proto?

[2020-08-12 07:59] pyrl247 opened #12605 "build:embedded_binaries/A-server.jar is missing or modified"
I use envoy1.10 build with docker in centos.It work fine in the past,but today it report this error "FATAL: corrupt installation: file '/build/tmp/_bazel_bazel/install/7da6a92c096ada842b8d48c251312343/_embedded_binaries/A-server.jar' is missing or modified.  Please remove '/build/tmp/_bazel_bazel/install/7da6a92c096ada842b8d48c251312343' and try again."
I haven't change anything about ci script.
H

[2020-08-12 08:03] pyrl247 commented on #12605
It doesn't work when I remove tmp/_bazel_bazel/install/7da6a92c096ada842b8d48c251312343 and try again.

[2020-08-12 08:20] ks864148379 commented on #7187
@derekargueta  Why should use host networking between containers? If I mount /dev and share IPC namespace and mount .sock between containers, envoy can hot restart too?

[2020-08-12 08:35] #12605 closed

[2020-08-12 08:36] pyrl247 commented on #12605
I have found out why ,some url have been disabled.

[2020-08-12 08:52] ChristosKa commented on #12043
Hello,

From what I've seen on our environment, the main way to reproduce this is to remove and reintroduce an existing aggregate cluster configuration using the CDS (xDS). The crush does not occur immediately after the removal, as envoy is still trying to request what it considers as missing cluster information from the xDS server. The crash occurs during the next subsequent xDS cluster update.

[2020-08-12 11:17] ankatare commented on #12043
@ChristosKa  Thanks a lot for your inputs.

[2020-08-12 11:18] ankatare commented on #12043
@snowp would you please check comments and confirm if TLS need to configure here ?

[2020-08-12 14:31] wjuan-AFK opened #12610 "Test:If client_ is not null, benchmark_http_client_test does not call setupBenchmarkClient"
Description:

Inside our BenchmarkHttpClient Test Code, if the client_ member is null, we have an if condition that says to not reset resource manager and not to call setupBenchmarkClient. I'm not sure what benefit this provides. I think that it is more likely to lead to confusion as to why the benchmarkClient and resourceManager wasn't setup with the passed in parameters.

Relevant Links:
[BenchM

[2020-08-12 14:31] #12610 closed

[2020-08-12 14:46] rshriram commented on #12572
This is the semantics that we had assumed. But it does not seem to be the case. i.e.

[code]

indicates that one needs to enumerate the state space of values for the NOT-MATCH in order to emulate the wildcard catch all. Note that wildcard catch all is not just one FC. There are different levels of wildcards (any plaintext http but not tls, any tcp but not tls, any tls irrespective of alpns set by

[2020-08-12 15:32] jmarantz commented on #12585
avd's draft impl: https://github.com/envoyproxy/envoy/pull/12609

[2020-08-12 15:52] rshriram commented on #12543
I think this is because of c-ares (the DNS library that envoy uses). You might want to look at the c-ares docs to see why it doesn't pick up the /etc/hosts.. They have some env vars to control the behavior

[2020-08-12 16:01] therealmitchconnors commented on #12339
@htuch when you refer to version, last synced, and name, are you referring to the per-collection values, or per-resource values?  I think it would be inexpensive to output:

[code]

but if you're looking for these values on a per-resource level, that could a very large payload for large service meshes.  Perhaps what we need is an enum controlling the verbosity of output?

[2020-08-12 16:14] mattklein123 commented on #12235
Sorry for the false alarm. See https://github.com/envoyproxy/envoy/issues/12600. @dmitri-d already spent a bunch of time fixing this and we should just make sure that other people don't wind up confused like I did.

[2020-08-12 16:16] #12235 closed

[2020-08-12 18:11] erikbos opened #12615 "Access logging of emitted dynamic metadata by ext_authz?"
I am trying to have an ext_authz authorization server emit dynamic metadata (https://github.com/envoyproxy/envoy/pull/11820) and log those fields in access log.

I am using:
- envoy 1.15.0
- go-control-plane github.com/envoyproxy/go-control-plane v0.9.7-0.20200811182123-112a4904c4b0 with the following test code snippet:

[code]

filter chain:
[code]

With envoyproxy accesslog configured:

[code]
f

[2020-08-12 18:15] mattklein123 commented on #12592
cc @lambdai @htuch

I think this is the general problem that we have where listeners can fail when they are applied to a worker, but after XDS ACK. There may be other bugs here also. @ggreenway had the idea to perform more processing on the main thread before we ack which I think would make the number of possible errors that can happen on the worker much smaller. It's probably worth doing this.

[2020-08-12 18:15] erikbos commented on #12615
Oh crap, I just notice #11820 was merged before `envoy 1.15.0` was released, let me master :)

[2020-08-12 18:15] #12615 closed

[2020-08-12 18:53] erikbos commented on #12615
The above configuration works when running a version of Envoy containing #11820 👍

[2020-08-12 18:53] jplevyak opened #12616 "log() called for filters registering via addAccessLogHandler after the filter chain has been destroyed"
Description:

See the title.

The ActiveStream is being destroyed by a deferred delete and it is occurring after the filter chain  has been destroyed. It looks like the UpstreamRequest destructor is calling the upstream_logs_ ->log() call which in turn is calling the log() API in the filter for a filter chain which is already destroyed.  While it is easy enough to detect this and avoid using state

[2020-08-12 18:58] kyessenov commented on #12616
This is related to ECDS. Perhaps, some assumptions were made that filters outlast upstream calls?

[2020-08-12 18:59] mattklein123 commented on #12616
I think this is just a bug from when we didn't have filter extension logging. I think the HCM log phase should happen before deferred delete.

[2020-08-12 19:01] PiotrSikora commented on #12572
It sounds like all your problems could be solved with a `default` / `fallback` filter chain that's used in case of `no_filter_chain_match`. Is that correct?

[2020-08-12 19:09] howardjohn commented on #12572
@PiotrSikora that solves a specific issue, but not all issues. We could just as easily have different case. For example:

I start with filter chains

[code]

Then I decide I want to add a `transportProtocol=tls` to the first match. You would think you could just add that to the first match -- but that is not the case anymore. I need to duplicate ALL my other filters and come up with:

[code]

The

[2020-08-12 19:30] kyessenov commented on #12572
Maybe we should just have an actual if/then/else lists? At least it'll be comprehensible by regular souls. I'm thinking of something like
[code]

[2020-08-12 19:46] PiotrSikora commented on #12572
You mean nested matches in an ordered list? Linear search won't work with on-demand / incremental FCDS.

[2020-08-12 19:51] kyessenov commented on #12572
@PiotrSikora You can represent a trie of predicates in this form and materialize filter chains on demand. It's just not automatic. I really dislike magic in the config, so in my opinion being explicit and letting then control plane plan smartly the decision tree is better. I think incremental updates would be scoped to sub-trees in this representation.

As John says, current incremental FCDS has a

[2020-08-12 20:01] PiotrSikora commented on #12572
Where is this expectation coming from?

Imagine that you have:
[code]
now, you add another filter chain with:
[code]
in what world would 2nd filter chain be not expected to take over all the traffic destined to `www.example.com`, which was previously routed via 1st filter chain?

[2020-08-12 20:04] howardjohn commented on #12572
@PiotrSikora I don't think there is confusion about more specific matches taking place over a different. think its more that something matches, then we add a new match and *nothing* matches:

I have a
[code]

And TCP request matches the 2nd filter chain

Now I add
[code]

And the same TCP request now matches no filter chain

[2020-08-12 20:04] kyessenov commented on #12572
@PiotrSikora in a world where the first control plane that sends listenerupdate  does not expect the second control plane that sends a FCDS delta to take over.

[2020-08-12 20:06] PiotrSikora commented on #12572
That's not a real world, though, is it?

[2020-08-12 20:12] kyessenov commented on #12572
@PiotrSikora Let's not digress. I just provided a reason why the ability to scope effects is important with federating control planes. I don't know if that's the world that Envoy want to bring to reality, or how it applies specifically to FCDS and LDS interaction. I just see a problem that it's getting many people confused and two developers working on Pilot code may not always communicate on spec

[2020-08-12 20:21] ggreenway commented on #11925
I think this should have been closed when #12219 was merged. Reopen (or ping me) if this is incorrect.

[2020-08-12 20:21] #11925 closed

[2020-08-12 20:24] PiotrSikora commented on #12572
This is a decision tree, the 2nd update added a valid branch for `raw_buffer` which previously didn't exist which only accepts HTTP/2 traffic. There is no "magic" here.

Also, there are options to make sure that other filter chain updates won't affect others, including specifying listening port and/or CIDR ranges... or always defining all criteria, instead of matching on `transport_protocol` in on

[2020-08-12 20:33] howardjohn commented on #12572
@PiotrSikora I understand how it works (now, after trying to wrap my head around it for quite a while). My primary issues are that:

1. I would be surprised if anyone other than the people on the issue/that implemented the code understand this
2. The behavior makes it functionally impossible to use filter chain match in any complex scenarios

How? We want to match any transport protocol. The way t

[2020-08-12 20:35] PiotrSikora commented on #12572
Why Pilot cannot generate complete and/or non-overlapping filter chain matches?

Also, I don't see how the if/else/then list changes anything, e.g. using John's example, you could write it either as:
[code]
which is _exactly_ the same as the existing decision making tree.

or as:
[code]
which is illegal, because you have 2 `match: application_protocols=h2` at the top level.

[2020-08-12 20:37] howardjohn commented on #12572
If we want to do this, we need to have a huge explosion of duplicate filter chains - see https://github.com/envoyproxy/envoy/issues/12572#issuecomment-672916226 for a clear explanation of this. Its not *impossible* - but it will be extremely painful in terms of the complexity for devs/users and the performance cost on both envoy and the control plane. I strongly suspect these are not Istio only co

[2020-08-12 20:46] PiotrSikora commented on #12572
You might be misreading my comments. I don't really care, if you have anything better, then go for it. I'm just trying to help you achieve what you need using the existing implementation.

That specific case, again, could be solved with a filter chain for `no_filter_chain_match`.

Do you have a _real_ example that we could us and that would not be solved with the default filter?

[2020-08-12 20:49] lambdai commented on #11254
Envoy start to allow override host in envoy grpc.
Google grpc could extract host in grpc url. Something like the "www.google.com" in url "www.google.com/method".

See
https://github.com/envoyproxy/envoy/pull/12338

[2020-08-12 20:49] #11254 closed

[2020-08-12 20:58] howardjohn commented on #12572
I don't have a specific case right now for how we would use this in Istio today - I bet @rshriram does though, and I strongly suspect we will in the near future, especially if we move to a single listener which seems inevitable. For example, same example as above but applying ports:

[code]

And TCP request on port 90 matches the 2nd filter chain

Now I add
[code]

And the same TCP request on port

[2020-08-12 21:17] PiotrSikora commented on #12572
That's not a full sub-tree, though, what you should add is:
[code]

But what are you trying to achieve adding this 2nd filter chain independently from the 1st filter chain?

[2020-08-12 21:21] howardjohn commented on #12572
@PiotrSikora

[code]

is not correct, we want to match all non plaintext,h2,port=90 traffic. So to do this, we need a third filter chain:

[code]

double the filter chains isn't the end of the world, but it is easy to see how it can get more complicated.

Btw, we allow adding arbitrary filters, etc, so its a bit of a split brain scenario. We essentially need go through all filter chains, see what

[2020-08-12 21:33] PiotrSikora commented on #12572
I'm pretty sure that `match: port=90,transport=tls` case is covered by `match: port=90` from the 1st filter chain... unless your intention was to add a separate filter chain, but then you don't need `match: port=90`.

Double != huge explosion.

You mean via `EnvoyFilter`? That's Istio's self-inflicted issue.

[2020-08-12 21:38] howardjohn commented on #12572
double is an example. Just because Istio doesn't currently use all 8 of the match types doesn't mean its not a valid use case of Envoy. Maybe 2x is fine, but is 4x? 64x?

[2020-08-12 21:51] PiotrSikora commented on #12572
But that explosion is only happening because you're insisting on creating fallback "catch-all" filter chain matches covering all possible combinations...

[2020-08-12 21:54] kyessenov commented on #12616
I looked into this a bit. It looks like `filter_manager_.destroyFilters()` is called before `deferredDelete` which tries to iterate over access log handlers (one of which is a filter). The solution seems to be to perform stats accounting that is currently done in the destructor outside of deferred deletion, before filter destruction. I see that the code in the area got refactored recently by @snow

[2020-08-12 22:02] rshriram commented on #12572
@PiotrSikora He is not talking about Envoy filter. He is talking about TLS authentication, authz, etc. Long story short, what you are advocating is to have a very very long trie and that envoy will ensure that the memory usage and performance remains within the 5% threshold of what we have today with orig dst listeners?

The basic numbers we have is about this:
1000 services, about 100 unique port

[2020-08-12 22:15] PiotrSikora commented on #12572
Again, there is no pushback, I'm just trying to explain that what you need can be achieved using existing implementation.

You're more than welcome to either suggest a better selection algorithm or send a PR with the implementation.

[2020-08-12 22:20] howardjohn commented on #12572
@PiotrSikora I have suggested a better (or different, at least :slightly_smiling_face: ) selection mechanism: https://github.com/envoyproxy/envoy/issues/12572#issuecomment-672355207. I think @htuch may have responded "I think this makes sense" in response to that, but I am not sure if it was about changing the implementation or about the docs comment, so I could be wrong. If we can get some consen

[2020-08-12 22:38] #9872 closed

[2020-08-12 23:07] PiotrSikora commented on #12572
I think that @htuch said "this makes sense" about the improved docs, not about backtracking. But he can confirm that.

Usually, breaking changes are introduced by adding a new field (e.g. `filter_chain_backtracking_match`). It's definitely worth discussing the algorithm and implementation before working on a PR.

[2020-08-12 23:54] shivanshu21 commented on #12590
https://github.com/envoyproxy/envoy/pull/12623

I will add the StringMatcher changes to this PR as well, hence kept the PR as WIP.

[2020-08-13 01:36] ankane commented on #11949
I fixed the error but it came up in another place as well (I think inside abseil?).

[code]

Will try to figure out what's different between Homebrew and the project's CI, but will close this for now.

[2020-08-13 01:36] #11949 closed

[2020-08-13 02:11] ashoke-cube opened #12626 "gRPC - Request/Response body as byte array/JSON"
I have set up a lua filter for accessing the request/response details [headers and body] for a gRPC service. I am able to see proper headers data.  The request/response data is of the form _'userdata : xxxxxxxxxxx'_

For example:

`print (request_handle:body()) -> userdata: 0x40dae6a0`

1. Is there a utility to get the data in byte array/JSON format?
2. I understand the conversion requires .proto

[2020-08-13 07:34] lizan commented on #10053
@mattklein123 there's certain difference between gperftools / tcmalloc noted here: https://github.com/google/tcmalloc/blob/master/docs/gperftools.md#differences . Likely it means we won't have profiler with tcmalloc

[2020-08-13 08:22] AmaliMatharaarachchi opened #12629 "Error while running macos asan"
*Title*: *asan error while running in macos*

*Repro steps*:
Error when running the following command.
`bazel test -c dbg //test/extensions/filters/http/jwt_authn:filter_integration_test --test_arg="-l trace" --config=macos-asan`

*Logs*:
[code]

[2020-08-13 14:44] snehakpersistent commented on #12097
@dmitri-d  as per your suggestion, I tried executing individually tests that fail to build and they are passing. When I execute all tests together, some or the other test fails to build(not sure why). I tried passing higher timeout value but that didn't help. So I am now executing tests module wise (eg. common, exe and so on) and saving the test results in cache using --cache_test_results=yes. Thi

[2020-08-13 15:10] htuch commented on #12339
Collection is fine for now I think.

[2020-08-13 15:13] htuch commented on #12592
I think the general solution is https://github.com/envoyproxy/envoy/issues/11396 and allowing the server to subscribe to the state of listeners on the client. Today, the best you can do is query stats, which is OOB for xDS.

[2020-08-13 15:30] htuch commented on #12572
Yeah, I think we can both improve docs and consider a new field/algorithm for folks who want efficient support for wildcards at arbitrary levels, e.g. filter chains with destination port with literals and wildcards, most specific matches. The wildcard matching would support some of the intuition that the Istio folks are looking for and avoid some potential combinatorial blowout in the configuratio

[2020-08-13 16:10] aydanjiwani opened #12632 "StopIterationAndWatermark not stopping message flow"
Using envoy with pubsub streamingPullResponse. When StopIterationAndWatermark is returned, messages continue even though continueencoding is never called and the encodeData function also returns StopIterationAndWatermark

[2020-08-13 16:32] rshriram commented on #12572
If we do a dumb sequential match mode within FCM, wont the complexity be O(N) (where N is number of filter chains) ? We can add most specific filter chains first, and then the least specific ones in the end

[2020-08-13 16:36] rshriram commented on #12572
to clarify, with proper wildcard semantics, if we have sequential match, then we get the same behavior as the listeners today, except with more conditions

[2020-08-13 16:58] mattklein123 commented on #10053
IMO we can drop the profiler support. I don't know why anyone would ever use it given how much better perf works.

[2020-08-13 17:11] #11388 closed

[2020-08-13 17:33] lambdai commented on #12572
The current implementation is O(level) time complexity which utilize the assumption that all the subtree are equally good.

What is the case that
FC1 dest port 80, dest ip range 10.0.0.0/24
vs
FC dest port empty, dest ip range 10.0.0.1
when the traffic is
{dest port = 80, dest ip = 10.0.0.1}

[2020-08-13 17:42] #11874 closed

[2020-08-13 18:02] lambdai commented on #12592
I see another problem: the execution of the new configuration is not atomic.
When the config A is updating the config B
Regardless what the config version (A or B) is used, the reality is that the execution stopped at somewhere between A and B.
While transaction support commit and rollback, which we probably wont' support b/c best efforts are also preferred in certain cases

[2020-08-13 18:09] lambdai commented on #12592
In some way, the state between config A and config B
listener manager may want to see config unknown so that the new update should always be allowed regardless the ack/nack was sent to xDS server.

So that at least the new config is never rejected, at the cost of duplicated update. The good new is that duplicated update is somewhat addressed by smart listener update.

[2020-08-13 18:12] brantlk commented on #12542
I noticed that there's also idle stream timeouts: https://www.envoyproxy.io/docs/envoy/latest/faq/configuration/timeouts

I wonder why this didn't cause these requests to be closed and the memory to be freed? The developer said there was no activity on these requests after the initial request was made.

[2020-08-13 18:51] jplevyak opened #12634 "Upstream changes in bazel/foreign_cc/llvm.patch to llvm proper and remove the patch."

[2020-08-13 19:14] dmitri-d commented on #12097
@snehakpersistent: this sounds like it might be an issue with bazel. Have you tried asking about in https://github.com/bazelbuild/bazel?

[2020-08-13 20:18] PiotrSikora commented on #12572
No, it would be `O(N * X)`, where X is the cost of `3 int + 2 CIDR + 3 string (inc. 1 wildcard)` comparisons.

Also, a dumb sequential match is even worse at cross-polluting other filter chain rules, and it is order dependent, i.e. it would solve the "human readability" problem, but it would be a regression for everything else.

[2020-08-13 20:23] PiotrSikora commented on #12572
That's not true, unless you write the sequential match in an order that matches the logic of the current decision tree, but then I'm not sure what would be the benefit of doing that.

[2020-08-13 20:29] stevenzzzz commented on #11071
/cc chaoqin-li1123

[2020-08-13 20:35] lizan commented on #12572
In the Istio meeting today I proposed something like this:

1. We still do sieve for the 8 criteria in same order, instead of just keep the best match ones, we keep all match (i.e. including wildcard)
2. When all sieves are done, there will be multiple filter chains left, chose the most matched FCM in the sieve (need a definition of "most matched"). If there's no FCMs left, reject with "no match".

[2020-08-13 20:44] PiotrSikora commented on #12572
OK, what problem are we trying to solve here? Incremental / federation, fallback filter chains or "human readability"?

[2020-08-13 20:52] lizan commented on #12572
Sorry I meant same user-facing behavior to back-tracking, the goal here is for fallback filter chains, without adding much complexity. I don't think we aimed for "human readability".

[2020-08-13 20:56] lizan commented on #12097
@snehakpersistent it looks like the compiler OOMed, what if you limiting concurrency by pass less number to `--jobs`? it can be a hardcoded number or `--jobs="HOST_CPUS*0.5"`

[2020-08-13 20:56] lambdai commented on #12572
Reorder make some cases easier but will definitely surface other corner cases. Even Envoy could support self define order, it should be the low priority.

[2020-08-13 20:58] PiotrSikora commented on #12572
What about cross-polluting (that @howardjohn mentioned) and federation (that @kyessenov mentioned)? Are those not problems we want to solve? Backtracking makes both worse, IMHO.

[2020-08-13 21:06] howardjohn commented on #12572
I am not concerned with the cross-polluting case if we do Lizan's proposal. My main concern is that if someone injects a new match suddenly the others behave differently - someone injecting a new match and it taking precedent is perfectly fine, because they are explicitly defining the match so if the make it broad enough to capture certain types of traffic we should respect that

[2020-08-13 21:08] lambdai commented on #12572
If we put complexity aside for now,
is there any solid proof that istio will benefit from a new implementation?

We only have piece of potential cases implying alternative match might be better.
However, from human's pespective, there is no straightforward answer to the below question
which is better FC to a traffic attrA = X and attrB = Y.
[code]

[2020-08-13 21:15] mattklein123 commented on #12572
Hi folks, friendly request for a doc? This issue/comment thread is getting very long. :)

[2020-08-13 21:18] PiotrSikora commented on #12572
From the Istio doc, the main issue with the current implementation (which we presumably want to solve) is literally this:

[2020-08-13 21:18] PiotrSikora commented on #12572
@mattklein123 https://docs.google.com/document/d/1Uda_lFRD2pKPWmSStMmba3lLYKVHIajBL1t9Mcyiod4/edit

[2020-08-13 21:22] lizan commented on #12572
@PiotrSikora "human-friendly" != "human readability", that question is literally just about how to address fallback/wildcard in levels.

[2020-08-13 21:41] jsbucy commented on #9577
It sounds like we need an expert on the TransportSocket stack to verify that the wrapper socket approach here is sound, doesn't have subtle lifetime issues, etc.

[2020-08-13 22:31] ggreenway commented on #9577
Is there any possible issue with a filter between the TransportSocket and the filter initiating the switch having any buffered data? Or the connection itself having buffered data?

Is there any need for mTLS support? If so what happens if client cert validation fails?

There are other examples of a transport socket wrapping another, so I don't think lifetimes will be an issue.

[2020-08-13 22:37] dfawley commented on #12578
What are the next steps here?

If there are new fields to specify a maximum grpc timeout & offset (3), but according to gRPC semantics, what will they be called and how will they work?  Who would be able to implement these changes?

[2020-08-13 22:40] markdroth commented on #12578
I think we can probably propose whatever field names and semantics we want.  We don't necessarily have to implement them in Envoy just to add them to the API (although it would be good if we have someone signed up to work on that as a follow-up item).

[2020-08-13 22:58] mattklein123 commented on #9501
Fixed by https://github.com/envoyproxy/envoy/pull/12625

[2020-08-13 22:58] #9501 closed

[2020-08-13 23:05] dfawley commented on #12578
Here would be my proposal for implementing (3):

[code]

[2020-08-13 23:51] mattklein123 opened #12638 "GuardDogActionsTest flake (ARM optimized)"
[code]

[2020-08-13 23:52] mattklein123 commented on #12638
@KBaichoo do you mind taking a look? I've seen a few flakes on these tests. You should be able to repro on x86 with `-c opt` if it doesn't repro on fastbuild. Thank you!

[2020-08-14 00:23] junhuangli opened #12641 "Add user auth for outbound http request"
I am trying to create a outbound http envoy proxy to access a elastic cluster.

Everything is working, except, I would like to add user auth info(like a username and passoword) to the cluster config like the following, is this supported?

      clusters:
      - name: es_out_http
        connect_timeout: 30s
        type: STRICT_DNS
        lb_policy: round_robin
        tls_context:
          com

[2020-08-14 00:35] htuch commented on #12578
@lizan @mattklein123 do you folks have any thoughts on this one?

[2020-08-14 01:08] numerodix commented on #12200
This has been accepted as both PRs have been merged.

[2020-08-14 01:08] #12200 closed

[2020-08-14 02:45] #10568 closed

[2020-08-14 02:45] #12480 closed

[2020-08-14 07:42] AmaliMatharaarachchi opened #12644 "Add JWT cache"
**Title**:
Add token cache for the jwt authentication.

**Description**
JWT verification adds a significant latency. So it's better to have token cache: to cache the tokens with their verification results. Currently, jwt_authn filter only has jwks cache [1].

[1] https://github.com/envoyproxy/envoy/blob/a42a67773c74dc288c960563f21b6d89eb19fa6e/source/extensions/filters/http/jwt_authn/filter_config

[2020-08-14 07:43] Shikugawa commented on #11706
@wlhee This is resolved by https://github.com/envoyproxy/envoy/pull/12228.

[2020-08-14 10:29] storyicon commented on #12157
Is there any plan to correct the 502/503 return code? We expect that when an upstream error occurs, the return code of envoy should be consistent with nginx.

[2020-08-14 13:11] KBaichoo commented on #12638
Running with fastbuild on x86: no issues.

Running on x86 with -c opt on 1000 runs, I ran into failure on 2 of them.

Both were timeouts that occurred when running under `SimulatedTimeSystem`, while the arm failure above seems to be on `RealTimeSystem`.

Error log of failure:
[code]

[2020-08-14 13:28] KBaichoo commented on #12638
I'm able to find some flake running under `-c opt` with tsan. Looking into it.

[2020-08-14 14:34] snehakpersistent commented on #12097
@lizan thanks for your suggestion. I am using `--jobs` option now and it has reduced test build failures. However I'm still executing tests module wise. If I execute them all together using `//test/...` then still some or the test is failing to build. I tried it with `--jobs 8`(HOST_CPU=16) and even reduced it `--jobs 1`. Is there any way to proceed with execution of rest tests even if one fails t

[2020-08-14 14:44] stevenzzzz opened #12646 "[xDS]: document the precedence between resource_names_subscribe and resource_names_unsubscribe in case they have overlap"
in delta XDS, seems deletions take precedence over additions. https://github.com/envoyproxy/envoy/blob/master/source/common/config/delta_subscription_state.cc#L19-L35
we need to document this clearly in doc and let management server side follow the same order when returning resources back.

[2020-08-14 14:44] stevenzzzz commented on #12646
/cc htuch

[2020-08-14 14:45] stevenzzzz commented on #12646
@htuch WDYT

[2020-08-14 14:50] howardjohn opened #12647 "Allow ignoring port in virtualHosts.domain"
In our environments, sometimes ports are included in HTTP headers (ie `curl foo -H "Host: foo:1234"`). The tricky thing here is we do not know what port will be set here - due to fronting LBs, especially Kubernetes node ports, the port may be completely different from the listener port.

Envoy provides two mechanism to work around this problem:
* `strip_matching_host_port` - this does not work as

[2020-08-14 14:51] s-vivien commented on #8785
Hello,

I encountered the same bug with the 1.10.0 version, I tried with the latest version 1.15.0 and the bug is still here.

Here is the envoy_on_response function I'm using :

[code]

And this is the logs I get, starting from after the chunking is done.

[code]

**Expected behavior** : the LUA script waits for the httpCall to end and after that the client finally gets the response
**Observed be

[2020-08-14 15:58] htuch commented on #12646
My thinking is that it's the client's responsibility to maintain disjoint sets here, since we don't want to have to over-specify behaviors when we're outside the normal operational envelope. @envoyproxy/api-shepherds CC.

[2020-08-14 16:12] ggreenway opened #12651 "quic: server preferred address"
The QUIC spec supports the server specifying a different address for the client to communicate with it (https://github.com/quicwg/base-drafts/blob/master/draft-ietf-quic-transport.md#servers-preferred-address-preferred-address):

This can be used when Envoy is behind an L4 load balancer, so ensure that connections continue to flow to the same node even if the client migrates to a different address

[2020-08-14 16:20] stedsome opened #12652 "bumping the version of protobuf"
When trying to bump the version of cel-cpp, it broke the current version of protobuf that envoy uses, which leads me to look into this issue.

It turns out that protobuf 3.10.1, which is at this point, 10 months old. It would nice if someone is willing to take on this. I tried to do this on my own but it seems that it is more involving than just updating in repository_locations.bzl. Can someone fa

[2020-08-14 16:29] mattklein123 opened #12653 "HttpTimeoutIntegrationTest flake (x86 release)"
Probably regression from my previous change. I will fix.

[code]

[2020-08-14 16:32] stevenzzzz commented on #12646
sounds good. For now, on the client side, we do remove firstly added resources when update subscription interests, they are supposed to be disjointed already unless the resource_versions_ has an overlap with resource_names_unsubscribe on a reconnection scenario.

[2020-08-14 16:36] markdroth commented on #12646
FWIW, my $0.02:

- The client should definitely be responsible for keeping these two sets disjoint; it really does not make sense to tell the server to both subscribe and unsubscribe to the same resource at the same time.
- For the server behavior, I would actually be fine with saying that the server should consider this as a no-op, as if the client subscribed and then immediately unsubscribed fro

[2020-08-14 16:45] howardjohn commented on #12393
Especially useful in light of the complexity around FCM matching logic: https://github.com/envoyproxy/envoy/issues/12572

[2020-08-14 16:50] Shikugawa commented on #11120
@howardjohn Hey. I'd like to take confirmation about this. I don't completely understand what is the problem. Our problem is,

Attached cluster will be immidiately active after SDS subscription on attached cluster sent DiscoveryRequest to SDS Cluster until init_fetch_timeout on attached cluster when DiscoveryResponse from SDS cluster didn't have CA. We expect to work that attached cluster is warmi

[2020-08-14 16:52] howardjohn commented on #11120
Yep. The cluster should be warming until the secret is fetched, but its active immediately

[2020-08-14 16:55] stevenzzzz commented on #12646
make sense. Let me close this issue as client guarantees disjointed sets are sent to management server.

[2020-08-14 16:55] #12646 closed

[2020-08-14 17:12] moderation commented on #12652
There was a short chat with @antoniovicente on Slack about this https://envoyproxy.slack.com/archives/C78HA81DH/p1595887714282900. I've also found that the latest protobuf breaks the build. @antoniovicente mentioned he had some local patches for this to work. It would be great if we could raise a PR to bump the protobuf version. I'm still planning on some PRs to bump other dependencies shortly.

[2020-08-14 17:41] qiwzhang commented on #12644
It is a reasonable request.   Thanks

[2020-08-14 18:06] KBaichoo commented on #12638
I have a draft fix that should be less flakey (i.e. passes 1000x in tsan with -c opt), but because of how `RealTimeSystem` works with `advanceWaitTime`which sleeps the thread we aren't 100% guaranteed to have no races / flakes.

Thoughts @mattklein123 ?

[2020-08-14 18:10] mattklein123 commented on #12638
Optimally we should fix the test to be flake free. Can you describe the problem? Can you use simulated time?

[2020-08-14 18:16] #12653 closed

[2020-08-14 18:19] mattklein123 commented on #12364
This is the same problem we have had multiple times now where we do a TLS set, capture this, and have it go away before the set completes. I'm going to see if I can figure out a safer way of handling this generically.

[code]

[2020-08-14 18:19] mattklein123 commented on #12364
(Thanks for the awesome repro instructions btw!)

[2020-08-14 19:36] KBaichoo commented on #12638
I think the reason we’re having trouble with the `RealTimeSystem` is that there’s no good mechanism to synchronize with the guarddog thread and the test thread using real time. The guarddog on construction creates its own thread that runs its own dispatcher that it runs a timer on to call `step()`.

We have two time systems within the test, and primarily advance them using `advanceTimeWait`, howev

[2020-08-14 19:55] mattklein123 opened #12657 "ExtAuthzGrpcIntegrationTest flake (TSAN)"
[code]

[2020-08-14 20:02] mattklein123 commented on #12638
I will leave it up to you on how to handle. If you want to better synchronize with real time you could potentially use https://github.com/envoyproxy/envoy/blob/master/source/common/common/thread_synchronizer.h. Otherwise using simtime seems like a good solution.

If you have a patch that makes it better I would take that now while you work on a better solution since the flake rate is pretty high.

[2020-08-14 20:14] petrukngantuk commented on #8167
personally not, but not sure from maintainer / other

btw, why don't we detect it through Header Upgrade and or Connection Upgrade?

[2020-08-14 20:23] lizan commented on #12097
pass `-k` to bazel

[2020-08-14 20:30] KBaichoo commented on #12638
Added a patch that makes it better. Perhaps we can see how much that decreases flakiness in practice and go from there.

[2020-08-14 23:25] #12657 closed

[2020-08-14 23:56] lizan commented on #12157
Yes I think this should be fixed. I have partial fix locally. cc @alyssawilk

[2020-08-15 00:14] mattklein123 commented on #12485
This seems bad: https://github.com/LuaJIT/LuaJIT/issues/450#issuecomment-433659873

cc @dio @lizan. I think this issue might actually be ARM specific.

[2020-08-15 00:15] mattklein123 commented on #12485
(And it's probably a real bug.)

[2020-08-15 00:17] mattklein123 commented on #12485
cc @yxue ^

[2020-08-15 01:13] #12484 closed

[2020-08-15 03:32] mattklein123 commented on #12638
New flake after your fix (on ARM release):

[code]

[2020-08-15 03:34] mattklein123 opened #12663 "//test/integration:h1_capture_fuzz_test flake (ASAN)"
[code]

[2020-08-15 06:56] ankur-anand opened #12665 "Timeout sometimes gives 408 instead of 504"
Description:

Repro steps:

[code]
Admin and Stats Output:

<details>
<summary>Stats</summary>
cluster.testt1.assignment_stale: 0
cluster.testt1.assignment_timeout_received: 0
cluster.testt1.bind_errors: 0
cluster.testt1.circuit_breakers.default.cx_open: 0
cluster.testt1.circuit_breakers.default.cx_pool_open: 0
cluster.testt1.circuit_breakers.default.rq_open: 0
cluster.testt1.circuit_breakers.defa

[2020-08-15 09:18] hobbytp commented on #12453
@cpakulski any comments? thanks,

[2020-08-15 15:47] danielmittelman opened #12666 "ext_authz: Support filter naming and per-filter statistics"
*Title*: Support filter naming and per-filter statistics

*Description*:
My HTTP filter chain contains multiple instances of `ext_authz`, each fulfilling a completely different task.

My real-life use case:
[code]

In this case, I can access relevant statistics about the External Authorization executions in general, but I cannot distinguish between the two external services, and most importantly I

[2020-08-15 16:08] snowp commented on #12616
This would mean that we'd have to move the filter destruction into the deferred cleanup phase as well, which might be fine but is a little bit scary as there might be code in & out of tree that relies on `onDestroy` being called when it is.

To start with we could try it out and see how the in tree integration tests like it.

[2020-08-15 16:17] dio commented on #12666
I think this is a reasonable ask. And i believe saw some TODOs related to this.

[2020-08-15 16:59] davidfetter commented on #10942
With utmost respect, I ask you to reconsider the first non-goal of supporting encrypted communication to the PostgreSQL server.

Terminating TLS in the hope that the onward network is free of attackers is pretty similar to not using TLS at all. Is there some way you could, say, make reconnecting with TLS an optional feature with opt-in so that you're not obligating people to choose `soft chewy cen

[2020-08-15 18:14] ahachete commented on #10942
I see very valid use cases for terminating SSL and having a plain text upstream connection, @davidfetter. For example, when using Envoy as a sidecar, and connecting to the upstream Postgres server via Unix Domain Sockets. Also offloading SSL certificate management to Envoy (and the management layers and software above) brings significant advantages (for example avoid Postgres restarts).

That does

[2020-08-16 01:29] lych77 commented on #11042
After some exploration I've found the 503's are originated from the upstream gRPC server, as it sees an malformed request bypassed by Envoy (specifically, lacking the `content-type` header), it resets the stream with the error code `INTERNAL_ERROR`, and that consequently causes Envoy to generate a 503 response. If you try manually adding a `content-type: application/grpc` header field to your orig

[2020-08-16 04:49] dio commented on #12626
I'm started to think probably we need to consolidate C++ implemented utilities (that is exposed to the Lua world) into a dedicated "wrapper", either to be attached to the stream handle or available globally.

We see e.g.

1. https://github.com/envoyproxy/envoy/pull/12552 to add base64 encoding helper
2. https://github.com/envoyproxy/envoy/pull/10329 to add timestamping helper
3. This issue to add

[2020-08-16 07:50] Shikugawa opened #12670 "cluster manager: dynamically inserted clusters should be warming at first"
This is related issue of https://github.com/envoyproxy/envoy/issues/11120.
I think that the startup behavior of clusters which are triggered by `addOrUpdate()` is strange.
Facing problem is that dynamically inserted cluster which depends on SDS is always `active` even though depending TLS certificate is not initialized because some of issue occurred, like there is no cert info on DiscoveryResponse

[2020-08-16 15:56] sriduth commented on #12383
in initial report for #7130 `sysctl -w user.max_inotify_watches=524288` was mentioned as the fix used

[2020-08-16 19:15] erikbos opened #12671 "ext_authz: Support emit dynamic metadata in CheckResponse/DeniedHttpResponse"
Envoy's recently added support for for adding dynamic metadata in `CheckResponse`'s `OkHttpResponse` is great! I would love to see it being able to add dynamic metadata in `DeniedHttpResponse` as well. (I overlooked this while https://github.com/envoyproxy/envoy/pull/11820 was WIP :( )

An example use case would be where the authorization service received correct credentials, that fact should be l

[2020-08-16 20:23] mattklein123 commented on #12670
I think this is a duplicate of https://github.com/envoyproxy/envoy/issues/11120 or a more general solution to it? Can we track this issue in one place?

[2020-08-16 20:26] mattklein123 commented on #12616
Why can't we just log when we do `onDestroy()` versus when we actually delete? That seems safer?

[2020-08-16 20:29] mattklein123 commented on #12663
cc @snowp this might be a real bug as a result of your refactor. I'm not sure. I can look into it next week. I haven't tried to repro yet.

[2020-08-16 21:00] mattklein123 commented on #12626
Sure all of that SGTM @dio

[2020-08-16 21:01] mattklein123 commented on #12629
cc @florincoras @lizan this might be a real bug, not sure.

[2020-08-16 21:04] mattklein123 commented on #12647
IIRC This was discussed when strip_matching_host_port was added, and we decided to go for the less invasive option. Suggestions appreciated here of options that would work.

[2020-08-16 21:07] mattklein123 commented on #12665
There have been various changes in this area over the months. Please try with a more recent build and report back. In general though a 408 can happen if idle timeouts, buffer timeouts, etc. are hit.

[2020-08-16 21:34] kishan-patel commented on #12499
How would I go about posting from one worker thread to another? I was looking at the `runOnAllThreads(Event::PostCb cb)` method inside the `thread_local.h` interface, but it seems like you would only be able to invoke this method from the main thread.

[2020-08-16 21:41] mattklein123 opened #12672 "UdpListenerImplTest.UdpGroBasic flake"
[code]

[2020-08-16 21:41] mattklein123 commented on #12672
cc @danzh2010

[2020-08-16 21:53] mattklein123 commented on #12364
I'm going to prototype a change to TLS that I think will make this type of problem impossible: I'm going to cause slot destruction on the main thread to block until any pending callbacks have run on the workers. This has the downside of introducing blocking behavior that could conceivably deadlock. On the upside, it is a rare operation and should make this type of bug impossible. If we do this a l

[2020-08-16 21:55] mattklein123 commented on #8416
I haven't received any further comments on this proposal so I think we can consider this approved. I will be working with @htuch to figure out when this will be implemented (likely Q4).

[2020-08-16 23:09] htuch opened #12673 "Enhance external dependency documentation"
https://github.com/envoyproxy/envoy/pull/12639 introduced a dashboard documenting our external dependencies and their version/CPE. There's a number of followup improvements that this issue tracks:

- [x] Add project description field that is human readable.
- [x] Improve handling of version strings that require mangling to different forms, see https://github.com/envoyproxy/envoy/pull/12639#issueco

[2020-08-16 23:21] htuch commented on #10471
Fun fact, we now have over 60 dependencies total and over 30 on the data plane (if you include Thrift/Kafka/Wasm/LuaJIT etc.). We (Google) will be doing some work in the next few months in this area and want to help drive the policy forward. The first step is to understand what we have today, which is what https://github.com/envoyproxy/envoy/pull/12639 is aimed at.

[2020-08-17 00:40] lita opened #12674 "admin: Certain clusters/listeners objects in config_dump don't give @type field when they are of Any type"
*admin*: Certain *clusters/listeners objects in config_dump don't give `@type` field when they are of `Any` type*

*Description*:
I am trying to marshal the output of /config_dump back to its proto object, but the marshaling fails because  [`StaticListener`](https://github.com/envoyproxy/data-plane-api/blob/master/envoy/admin/v3/config_dump.proto#L88), [`DynamicListenerState`](https://github.com/e

[2020-08-17 00:56] florincoras commented on #12629
Hm, interesting, macos does't guarantee `*ifa->ifa_addr` is 8B aligned.

As far as I can tell, `ifa_addr` is pointing to a `sockaddr_in6` with ::1 in it. I'm guessing that because `sockaddr_in6` is 28B, it gets a 4B pad at the start, instead of the end, and that leads to the misalignment.

Since this doesn't seem to be an issue on linux, should we copy the address to a stack local for macos?

[2020-08-17 02:27] leosunmo commented on #9094
In my current setup, routing the traffic around to a second listener is not possible without a lot of extra infrastructure changes. Is anyone looking at this PR to add a boolean to disable rewrites?
I have however realised that I will probably have to rewrite the Authority header anyway since the staging/testing setup won't be listening for the production Authority header anyway...

Would still be

[2020-08-17 03:15] Shikugawa commented on #12670
I think that this is a part of #11120. So not duplicate. More general solution is required. This issue should be focused on Cluster Management. And #11120 should be focused on SDS.

[2020-08-17 05:16] shyamradhakrishnan opened #12675 "Stats filtering inclusion list is not working for server level metrics"
We have the following configuration in envoy

[code]
In this case, the metrics with suffix upstream_cx_total is emitted properly, but the metric envoy_server_state is never emitted. Please check if this a bug, we have a large config and metrics is slowing envoy down, hence wanted to include only the required metrics which is a combination of cluster and server level metrics.

[2020-08-17 06:28] dio commented on #12671
Sorry for this. Seems like we need to deprecate the added `OkHttpResponse` dynamic metadata in favor of `CheckResponse`'s.

[2020-08-17 06:43] wbpcode opened #12678 "Warmup of host for Java Applications"
For applications developed using Java, when a new host starts, it takes a period of warmup to achieve the best performance. This leads to a possible demand scenario: For the newly started host, its weight in the load balancing process should be reduced. However, all current Envoy load balancing strategies do not support host warmup.
Is it possible to add a new type of load balancing? Or turn the l

[2020-08-17 07:39] packyzbq opened #12679 "Bazel build with error “/usr/bin/ld.gold: error: cannot find libc++.a”"
Hi, I am building envoy on mips and enconter an error when compiling net_zlib. The error is as follows:
[code]
I find the bazel uses rules_foreign_cc and will start a sandbox to compile zlib. The PATH env is set to `/root/.cache/bazel/_bazel_root/99befe685ff48e352428f1d9cabb5dd7/sandbox/processwrapper-sandbox/3/execroot/io_istio_proxy:/bin:/usr/bin:/usr/local/bin`,which doesn't include any libs su

[2020-08-17 10:19] rinormaloku opened #12681 "Log which Policy rejected a request"
## The issue
Currently, when rejecting a request envoy logs only "enforced denied" with the code below:

[code]

There is no means for a proxy user (operator) to find out which rule exactly denied the request (esp. when many rules are affecting the proxy). Knowing which rule denied the request would make troubleshooting much easier.

Fixing this would help resolve the following issue https://githu

[2020-08-17 11:45] snowp commented on #12616
Oh yeah we could move the logging out of the dtor, you're right. We might want to add some assertions to make sure that we always call `log`, as that's one nice property we have of the logging being done in the dtor.

[2020-08-17 11:57] kkHAIKE opened #12683 "on-demand VHDS not work correctly"
sorry my poor eng :)
On branch master,  the vhds http filter will skip handle all request, it cause allways get 404 code(empty main route)
in other words, let me show you the code...

https://github.com/envoyproxy/envoy/blob/51551ae944c642e6fc61563cbea8653087e70f1f/source/extensions/filters/http/on_demand/on_demand_update.cc#L12-L24
1. all request will continue to empty router, because of the code

[2020-08-17 13:00] snowp commented on #12678
Would this be satisfied by #11050 ?

[2020-08-17 13:40] snowp commented on #12663
Easy to reproduce locally, I'll take a look

[2020-08-17 14:06] VassoSof commented on #11883
Hello @yanavlasov,

Any plans for that?

Regards,
Vasso

[2020-08-17 15:42] KBaichoo commented on #12638
I tried all combinations of `clang-tsan and -c opt` running `500x` running on x86 to see if I could reproduce this timeout issue, but I haven't been able to.

@mattklein123 what can I do then to try to reproduce it? / is it still an issue? I'm building from commit 49aedfdd00743bb463b43

[2020-08-17 16:24] #11933 closed

[2020-08-17 16:31] mattklein123 commented on #12616
Yes agreed, though that shouldn't be that hard.

[2020-08-17 16:35] mattklein123 commented on #12638
If you can't repro I would ignore for now. I can try to repro sometime this week and get back to you.

[2020-08-17 16:55] mattklein123 commented on #12629
I think there was some conversation about making all of this less fragile, since we have had other issues with not initialized memory, etc. I will defer to @lizan on the best thing to do here.

[2020-08-17 17:11] mattklein123 commented on #12578
I don't have a strong opinion on this one way or the other. If we do (1) we could put it behind a runtime flag in Envoy and call it a bug fix and see if anyone complains. (3) is also fine with me. Note that in Envoy we have the HCM request_timeout as well as the idle timeouts to protect against slow clients.

[2020-08-17 17:20] kyessenov commented on #12616
Does this affect some timings recorded in the destructor? I am hoping that we don't have some response flag that is updated in the destructor. Some logging extensions depend on the final measurements.

[2020-08-17 17:25] mattklein123 commented on #12616
It will actually be more accurate to do logging alongside onDestroy(). The destructor is delayed due to deferred deletion and is more of a memory management issue.

[2020-08-17 17:35] snowp commented on #12616
Do filter dtors run before the access logging today? I think the filters are destructed as part of the ActiveStream destruction, in which case the filter dtors would run after the ActiveStream/FilterManager dtor which performs the logging today.

[2020-08-17 18:12] mbaglole opened #12686 "Listener Crash on Start after enabling exact_balance"
Listener Crash on Start after enabling exact_balance

_NOTE: emailed envoy-security@ and was asked to create an issue by @mattklein123 - I'm in the process of extracting more information, wanted to kick-off the discussion in the interim._

Envoy crashes on startup with exact_balance configuration enabled.

       "connection_balance_config": {

        "exact_balance": {}

       }

Envoy version:

[2020-08-17 18:25] jianwen612 opened #12687 "[kafka_broker] potential out of memory with untrusted buffer when onData()"
#### Since documentation of kafka_broker shows it is still an alpha version, and only accept trusted data, I think this is not a security issue, so I post it here.

The `ArrayDeserializer` reads an integer from the buffer and uses it as the size of a new vector(variable name: required_):
https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/network/kafka/serialization.h#L466

I

[2020-08-17 18:28] jaegchoi opened #12688 "Using Rate Limiting with Dynamic Metadata"
Hi, I'm trying to configure the Rate Limiting Filter using Dynamic Metadata information as the key value descriptor being sent (as documented here: https://www.envoyproxy.io/docs/envoy/v1.15.0/api-v3/config/route/v3/route_components.proto#envoy-v3-api-msg-config-route-v3-ratelimit-action-dynamicmetadata). However when I try this, I get the following error and it seems like the "dynamic_metadata" f

[2020-08-17 18:32] jianwen612 opened #12689 "[redis_proxy] potential out of memory/ with untrusted buffer when onData()"
#### Since documentation of redis_proxy shows it is only accepts trusted data now, I think this is not a security issue, so I post it here.

In the decoder of redis_proxy filter, it reads an integer from the buffer and constructs a vector with size equal to it(pending_integer_.integer_).
https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/network/common/redis/codec_impl.cc#L4

[2020-08-17 19:24] alkov-ibm opened #12690 "Envoy does not modify `content-length` header after applying BodyFormat to error responses from External Authorization service"
*Title*: *Envoy does not modify `content-length` header after applying BodyFormat to error responses from External Authorization service.*

*Description*:
When using a [localReply](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/local_reply) Envoy treats responses from External Authorization Service as 'local' (I might argue that external authorization responses should

[2020-08-17 19:40] #12485 closed

[2020-08-17 19:54] snowp commented on #12663
I git bisected this between before I started the refactoring and HEAD, seems like it's been around since 360e0803a (which is when the ASSERT was added). cc @alyssawilk

[2020-08-17 20:24] alyssawilk commented on #12663
ccing @asraa as well.
The goal of this assert is that (except on Envoy shutdown), all (HTTP/1.1) streams should have details set either when the router filter sends a reply, when sendLocalReply is called, or the stream is reset.  I'm not sure if this is a fuzz test bug or it caught a case where the details simply aren't set.  Can take a look tomorrow.

[2020-08-17 20:31] mattklein123 opened #12694 "replace envoy base64 code with abseil library code"
It seems that Abseil supports base64. We should look into replacing Envoy's base64 code with what is provided by Abseil.

[2020-08-17 20:48] lizan commented on #12629
I believe this is because we do `reinterpret_cast` in https://github.com/envoyproxy/envoy/blob/master/source/common/network/utility.cc#L239

It should be possible to process getifaddrs result without doing reinterpret_cast.

[2020-08-17 20:49] qiwzhang commented on #12690
Found the problem:

In this sendLocalReply [function](https://github.com/envoyproxy/envoy/blob/cf2df8cbe1f5aff726d6b8ea54d5ad716023b70d/source/common/http/utility.cc#L431).

ContentType and ContentLength response headers set by this [line](https://github.com/envoyproxy/envoy/blob/cf2df8cbe1f5aff726d6b8ea54d5ad716023b70d/source/common/http/utility.cc#L471)

may be overrided by encode_header call in

[2020-08-17 21:37] shivanshu21 commented on #12591
Tried posting this in Slack too. No response.

How about we introduce a new route action called `3xx_location_rewrite` here:
https://github.com/envoyproxy/envoy/blob/master/api/envoy/config/route/v3/route_components.proto#L837

And implement this over here:
`Filter::onUpstreamHeaders()`
https://github.com/envoyproxy/envoy/blob/master/source/common/router/router.cc#L1295
Based on whether `response_

[2020-08-17 21:40] mattklein123 commented on #12591
cc @alyssawilk any thoughts on ^?

[2020-08-17 22:11] lambdai commented on #12364
+1 for TLS change.
If TLS could make the destroy in master thread, there might be some code be simplified by maintaining a shared_ptr at main thread. I think I used it beside TLS before bookkeeper.

CC @stevenzzzz who initially introduced bookkeeper. I forgot the very first cases where bookkeeper is used.

[2020-08-17 22:13] jsbucy commented on #9577
In terms of SMTP, the client must not send any data after the starttls command until the server returns "220 ready for tls" since the server might instead return an error and smtp remains in "command mode" so if the client buffered the start of the tls handshake, that desynchronizes the protocol. So that's a buggy client and the tls upgrade will fail.

I'm not very familiar with use of mTLS for sm

[2020-08-18 01:06] htuch commented on #12674
I wonder if it's somehow being lost around https://github.com/envoyproxy/envoy/blob/master/source/server/admin/admin.cc#L640, i.e. in the JSON rendering. Is it reasonable to add an `ENVOY_LOG` and dump out `dump.DebugString()` as well as the JSON after conversion?

[2020-08-18 01:23] stevenzzzz commented on #12364
I need some more context, does this happen on the envoy quit path?

this doesnt seems like a bookeeper problem,rather a problem tries to resolve :P

Bookkeeper is there to defense the race when a callback on a slotimpl is flying in worker threads while the slotimpl is destructed on the main thread, it achieves this by storing the slotimpl instance in a deferred deletion queue.
when this deferred d

[2020-08-18 01:52] roelfdutoit opened #12696 "Build fails when thrift proxy extensions are disabled"
The following build command fails:
`bazel test //test/extensions/filters/network/...`

.. when the following extensions are disabled in `source/extensions/extensions_build_config.bzl`:
`envoy.filters.network.thrift_proxy`
`envoy.filters.thrift.router`
`envoy.filters.thrift.ratelimit`

Build failure:
[code]

I believe it is because the target in `test/extensions/filters/network/thrift_proxy/filters

[2020-08-18 01:53] roelfdutoit commented on #12696
The build command above succeeds with my local changes.  I will submit a PR

[2020-08-18 01:55] roelfdutoit commented on #12696
@zuercher: This seems to be related to #12003.

[2020-08-18 01:58] stevenzzzz commented on #12364
/cc stevenzzzz

[2020-08-18 03:33] pyrl247 opened #12698 "[question] Can accesslog record each upstream_host and upstream_response_code when retrypolicy on?"
Hello:
   I want ask some question about envoy http accesslog.
   Can accesslog record each upstream_host and it's response_code when retry?
   I use the %UPSTREAM_HOST% , it only record the last reqeust upstream_host.
   I want to the log show like this:
      upstream_host:"192.168.1.1:80","192.168.1.2:80","192.168.1.3:80"
      response_code:     503 ,                       503      ,

[2020-08-18 03:36] lita commented on #12674
Sure, I can try to get that.

[2020-08-18 03:44] ASOPVII opened #12700 "Error: Two different types of time-systems allocated."
I had an error saying ```Two different types of time-systems allocated. If deriving from Event::TestUsingSimulatedTime make sure it is the first base class.``` when I was writing tests for my project **[on-demand filter chain](https://github.com/envoyproxy/envoy/pull/12310)**.

The basic idea of on-demand filter chain is that the initialization of filter chains will be postponed to the arrival of

[2020-08-18 03:53] cetanu commented on #7583
Can we please reopen this :)

[2020-08-18 05:05] Pchelolo opened #12702 "Proposal: ability to change rate limit descriptor key generated by generic_key action"
**Rational**

The `generic_key` rate limit action allows to set a descriptor value to a configured value, however the key is always `"generic_key"`. This makes the ratelimit service config less expressive. Descriptor `(generic_key: route_name_XXX)` looks much less expressive then descriptor `(route_name: XXX)`

**Proposal**

Add optional `descriptor_key` string property to the generic_key action.

[2020-08-18 07:00] ASOPVII commented on #12694
Hi matt, I've tried to update part of the current code base. Hope that could help~

[2020-08-18 07:41] kkHAIKE commented on #12683
i was make a simple patch, need review https://github.com/kkHAIKE/envoy/commit/a09c9552bc01de9cb617c5a395e7cb91c3006f5f

[2020-08-18 08:27] objectiser commented on #12538
Sorry for delay in looking at this - having trouble with build environment since upgrading to Fedora 32 due to docker issues :disappointed:

[2020-08-18 08:30] paawan01 commented on #12626
Is there anything currently available to achieve this in lua filter ?

[2020-08-18 08:47] erikbos commented on #12671
No worries, thanks for working on this!

[2020-08-18 11:03] lizan commented on #12675
@shyamradhakrishnan I believe what you want is `exact: server.state`, the stats matcher is based on their canonical name, names in Prometheus exporter are normalized to Prometheus naming convention (with envoy prefix).

[2020-08-18 11:05] lizan commented on #12679
Can you paste the command you ran to build and the full output log? If you're using gcc/gold you shouldn't use libc++.

[2020-08-18 11:08] lizan commented on #12683
@dmitri-d

[2020-08-18 12:34] sp-manuel-jurado opened #12704 "Help: unhandled exceptions and custom content-type in the reverse bridge."
*Title*: *Help: unhandled exceptions and custom content-type in the reverse bridge.*

*Description*:

[code]

Would It be possible to do some workaround to convert that response header into application/grpc+proto; since we have no control over those exceptions (upstream not available or envoy timeout exceptions) and we cannot modify the content-type?

Thanks

*Relevant Links*:

*Config*:
[code]

*

[2020-08-18 13:34] snowp commented on #12704
Yeah I think we could do a better job here. I think there might be an option to extend the local reply mapper to support this use case, but I think some changes would be necessary to make it possible to convert the local reply to `application/grpc+proto`. Alternatively we could add some functionality to the filter itself so that it would accept multiple upstream content types and convert it into t

[2020-08-18 13:48] alyssawilk commented on #12591
I think it's reasonable, especially if we can use the same API and libraries that we use for rewrites on the request URL.

Is there anything which might vary based for location headers based on incoming requests such that we'd want to perform the rewrite for cache responses as well? I'd hope not, but ynk.

[2020-08-18 14:41] jianwen612 opened #12708 "[mongo_proxy]potential heap_buffer_overflow with untrusted buffer when onData()"
#### Since the docs of mongo_proxy shows it is still an alpha version and doesn't allow untrusted input now, I think it is not a security issue, so I post it here.

An invalid input/untrusted input can cause heap_buffer_overflow if the buffer contains a "string" which doesn't end with `\0`.
[code]
For example, in the failed test case, `length`=16 and `start` should be a string with length=16, howe

[2020-08-18 14:48] wrowe commented on #11841
This appears to be resolved now on Windows with the work on simtime, proposing to reenable the test on windows with https://github.com/envoyproxy/envoy/pull/12695

[2020-08-18 14:51] jianwen612 opened #12709 "[http_conn_manage]missing protobuf validation for config.serverName()"
In the line
`headers.setReferenceServer(connection_manager_.config_.serverName());`
(the code is here: https://github.com/envoyproxy/envoy/blob/master/source/common/http/conn_manager_impl.cc#L1824)

It adds the serverName of config to headers. However, header doesn't allow `\0\r\n` here:

[code]

We may consider adding PGV constraint that the `serverName` field should not contain `\0\r\n`, or stri

[2020-08-18 15:03] wrowe commented on #12305
I haven't done much collecting this data, but know it's available on Windows.

cc: @nigriMSFT @davinci26 @sunjayBhatia

[2020-08-18 15:10] sunjayBhatia commented on #12098
@Charana123 are you still having issues with this? Or any responses to the previous comment? Your instinct about max path lengths is correct and is mostly a Bazel issue (due to the deep filesystem tree it generates for builds) rather than an Envoy-specific one

[2020-08-18 15:11] wrowe commented on #11975
We could potentially set this up with Azure, but the risk is that many tests including the ginormous mock tests still fail to compile in the small-ish azure containers. If this were restricted to only senior maintainers, it might be possible to rely on the gcp rbe environment for the heavy lifting. Knowing how large the resulting symbol tables are, I'm not sure if the Azure instances we've stood u

[2020-08-18 15:11] wrowe commented on #11975
cc @envoyproxy/windows-dev to bring you all into this dialog

[2020-08-18 15:14] sunjayBhatia commented on #11974
Still blocked on https://github.com/envoyproxy/envoy-build-tools/pull/88 getting merged, cc @lizan when you get a chance

[2020-08-18 15:15] wrowe commented on #12205
https://github.com/envoyproxy/envoy/issues/11655 doesn't seem critical for alpha, but should probably be implemented before the first beta candidate.

[2020-08-18 15:18] sunjayBhatia commented on #10917
Closing this as per this comment, if this needs to be reopened, I can do so

[2020-08-18 15:18] #10917 closed

[2020-08-18 15:20] sunjayBhatia commented on #8770
@lizan assessed https://github.com/envoyproxy/envoy/issues/10917 as closeable, can we close this one as well?

[2020-08-18 15:21] wrowe commented on #9571
It appears we've made enough progress to consider this placeholder completed.

[2020-08-18 15:21] #9571 closed

[2020-08-18 15:22] nigriMSFT commented on #12305
On Windows, RTT statistics can be gathered via [SIO_TCP_INFO](https://docs.microsoft.com/en-us/previous-versions/windows/desktop/legacy/mt823415(v=vs.85)) or [GetPerTcpConnectionEStats](https://docs.microsoft.com/en-us/windows/win32/api/iphlpapi/nf-iphlpapi-getpertcpconnectionestats) in either the TCP_ESTATS_PATH_ROD or TCP_ESTATS_FINE_RTT_ROD structure.

[2020-08-18 15:41] mbaglole commented on #12686
Running via Valgrind, I get the following:

[code]

[2020-08-18 15:42] wrowe commented on #7903
Confirming that this remains a sore point, we killed off WINDOWS_EXTENSIONS, but the extension_cc_test is still not looking at the platform's /exclusion/ list.

[2020-08-18 15:49] sunjayBhatia commented on #10420
Could we get this issue reopened and maybe a "no stale" tag added? This is still an ongoing problem

[2020-08-18 16:10] sunjayBhatia commented on #10420
cc @danzh2010 since we tagged you before on https://github.com/envoyproxy/envoy/issues/10239

[2020-08-18 16:13] sp-manuel-jurado commented on #12704
It would be very useful.
I am not an expert in c++ but if I could help with something please let me know, I would be interested in this functionality.

[2020-08-18 16:16] mattklein123 commented on #12364
No, this is during normal operation, for instance during listener/filter chain tear down due to listener add failure, LDS update, etc.

Right, that's what I'm trying to fix. :) We have had a variant of this bug at least 3 times if not more. I'm proposing that instead of the Bookkeeper model, we just block the main thread during slot destruction until all pending worker callbacks drain. This will d

[2020-08-18 16:17] mattklein123 commented on #12702
SGTM!

[2020-08-18 16:29] mattklein123 commented on #12686
@mbaglole as I mentioned in email, we initialize a handler in the constructor of `ActiveTcpListener`, so I don't see how this can happen. Is there anything about your config that is special that you can share? Does this repro every time or is it a race condition? Can you potentially run a debug build and privately get me a core dump?

[2020-08-18 17:17] mattklein123 commented on #12690
cc @alyssawilk

[2020-08-18 17:25] ggreenway commented on #12698
Not exactly like that, but if you specify an `upstream_log` in the http connection manager, it will log each upstream attempt on a separate entry. The downstream and upstream logs can be linked by including a common field (downstream address:port, trace-id, etc).

[2020-08-18 18:01] stevenzzzz commented on #12364
is there an integration test that could reproduce this? I am curious how the race could form.

If a worker thread holds a reference to the slot and never let go, we cant block forever in the main thread. I'd say it's a anti pattern to actually hold something that's supposed to be owned(create/teardown) by mainthread only.

[2020-08-18 18:06] mattklein123 commented on #12364
I will make one as part of this fix. It's not that complicated. Basically:
1) Create slot
2) Initiate run/update on workers, capturing this.
3) Delete slot.
4) Crash. Bookeeper does not help here.

This is not how I will implement it. The blocking will only be until the callback runs or has already run. The worker will not be able to control the lifetime. I think this is acceptable, and as an addi

[2020-08-18 18:10] stevenzzzz commented on #12364
sounds good, thanks(

[2020-08-18 18:16] sunjayBhatia commented on #10420
cc @envoyproxy/windows-dev

[2020-08-18 18:18] dmitri-d commented on #12683
It looks like the issue you are seeing will be triggered every time both rds and vhds configurations change together. I think the change you are proposing should resolve the problem; could you create a PR and also add a test for the change?

[2020-08-18 18:43] asraa commented on #12663
Saw this flake on unreproducible fuzz bugs as well https://oss-fuzz.com/testcase-detail/6016079277850624
I have some time to take a look right now, let me know if you find something before I do!

[2020-08-18 18:46] snowp commented on #12663
My suspicion from looking at the code + debug logs is that some stream reset flow during connection tear down isn't setting response code details, though I didn't go deep enough understand which flow. This could also be a red herring, so don't buy too much into it :)

[2020-08-18 19:02] alyssawilk commented on #12663
Given the log I'm wondering if it's just a shutdown bug - that if we tear down with open connections (something that will happen in prod but less likely in test) it fails the detail check.

[2020-08-18 19:15] sunjayBhatia commented on #10420
Current `quiche` build issues:

Not all control paths return a value:
[code]

Illegal indirection:
[code]

Including a Linux socket utils file on Windows:
[code]

conversion from `size_t` to `quic::QuicPacketLength` possible loss of data:
[code]

[2020-08-18 19:28] mbaglole commented on #12686
ack - looking into getting this information. I will follow-up here @mattklein123. Appreciate the help.

[2020-08-18 19:54] matthewgrossman commented on #11622
with #12260 merged do we want to close this issue? Or we do we want to leave it as a tracker for other Tracer's not-yet-implemented functionality?

[2020-08-18 20:17] mattklein123 commented on #11622
I think we can close for now, thank you!

[2020-08-18 20:17] #11622 closed

[2020-08-18 20:20] wrowe commented on #12205
Open question of whether https://github.com/envoyproxy/envoy/issues/10420 is needed before alpha.

[2020-08-18 20:42] alyssawilk commented on #12663
Yeah, looks like that's the problem.

On shutdown, the ActiveTcpListener does a local close of the connection.
Generally any time we close the connection we note a reason why (that's the point of the assert) at L7 before we close L4.

two options - we could have a catchall unexplained local close, or we can explicitly inform the connection it's closing due to shutdown.  I really like clean shutdow

[2020-08-18 20:55] danielkwinsor opened #12713 "Feature request for modifying how zipkin tracer acts upon receiving bad headers"
Description:

Send non hex characters as request header x-b3-traceid or x-b3-spanid, or send headers that are not of 64/128bit hex length.
The tracer operates correctly and securely in the sense that it was not a sampled trace and was not submitted to zipkin collector.

However, this unverified data can then be sent to upstream, to access logs, added in headers_to_add, etc, with a small possible r

[2020-08-18 21:00] qiwzhang commented on #12690
Hi @mattklein123 you can assign this one to me.  I am working on it now

[2020-08-18 21:11] Pchelolo opened #12714 "Proposal: introduce ignore_vh_rate_limits setting for a route"
**Rational**

We have a virtual host setup with a fairly complex routing configuration and all routes have the same rate limits. We want to exempt a couple of routes from the limits (in our case routes for docs, but it's easy to imagine other examples of routes that need to be excluded from rate limiting). Currently, it's possible to achieve this in 2 ways:
- Copy the rate limiting config to each

[2020-08-18 21:29] Pchelolo commented on #12688
I wonder if you are indeed using v3 config for the `http_connection_manager`? Try specifying

[code]

We are using it [successfully](https://gerrit.wikimedia.org/r/plugins/gitiles/operations/deployment-charts/+/refs/heads/master/charts/api-gateway/templates/_config.yaml#123) with v3 config and envoy 1.15

[2020-08-18 23:05] htuch commented on #11264
To focus the implementation work here, and address some use cases we think are more immediately useful, I'm going to start by implementing LDS glob collections via delta xDS. This will involve building out most of the delta xDS machinery for UDPA URLs and the new context parameter mechanism.

Following this, a rough implementation sketch is:
- [ ] CDS glob collection support
- [ ] RDS/EDS/SDS sing

[2020-08-18 23:17] dmitri-d opened #12717 "Trying to generate clang.bazelrc using bazel/setup_clang.sh results in an error"
The error is `ERROR: at most one key may be specified` and it's due to bazel unable to handle starlark flags in bazerc (see https://github.com/bazelbuild/bazel/issues/11301).

https://github.com/envoyproxy/envoy/pull/12376 is the commit that introduced the breaking change. The issue has been fixed in bazel 3.3.0.

[2020-08-18 23:28] NonStatic2014 opened #12718 "Tail latency of envoy proxy is bad if every request create a new connection"
We have envoy running as the front door service basically doing
1. JWT token validation for auth
2. Routing based on dynamic routing config

We have monitored the upstream duration and total duration (envoy + upstream duration). What we noticed was: if sending request to this service every 5 seconds and each time use a new connection, we could see ~2% requests have significant long latency of upst

[2020-08-18 23:43] wlhee commented on #11706
Thanks, I confirmed with the new change. Is "downstream duration timeout" an expected timeout? It looks like it's "upstream" instead?

curl -i localhost:8081/sleep?duration=10s

HTTP/1.1 408 Request Timeout
content-length: 27
content-type: text/plain
date: Tue, 18 Aug 2020 23:42:40 GMT
server: envoy
downstream duration timeout

[2020-08-19 00:13] mattklein123 commented on #12638
I'm able to trivially repro lots of failures via `bazel test //test/server:guarddog_impl_test  -c opt --runs_per_test=5000 --test_output=errors  --jobs=200 --local_test_jobs=200` on my 36 core machine. I will take a look tomorrow.

[2020-08-19 00:23] mattklein123 commented on #12687
cc @adamkotwasinski

[2020-08-19 00:23] mattklein123 commented on #12689
cc @envoyproxy/redis-dev

[2020-08-19 00:24] #12696 closed

[2020-08-19 00:25] mattklein123 commented on #12700
cc @jmarantz

[2020-08-19 00:26] mattklein123 commented on #12713
cc @objectiser

[2020-08-19 00:26] mattklein123 commented on #12717
cc @lizan

[2020-08-19 00:28] mattklein123 commented on #12714
+1 on the 2nd option, thank you!

[2020-08-19 00:28] mattklein123 commented on #12718
This seems generally expected. Creating new connections is costly. Can you explain why you think this shouldn't be the case?

[2020-08-19 00:33] NonStatic2014 commented on #12718
I expect once a connection between envoy to upstream cluster is created, it will be alive for a long while(e.g. 1hr). When a request comes to envoy, envoy will reuse the existing connection to talk to upstream cluster and get back result. Is this not the case?

[2020-08-19 00:33] adamkotwasinski commented on #12687
I think the simplest solution (not requiring any major refactor) would be to extend `Deserializer::feed` command with some immutable context parameter.
Context would contain at least a field such as `request_len` that could be checked in places like these (what is pretty similar to `SerializationContext` struct that's passed when we write request.
Most probably affects Nullable/Compact/ArrayDe~, N

[2020-08-19 00:37] jmarantz commented on #12700
To debug this I'd just run this in the debugger, putting breakpoints at the assertion point, to see where the two time-systems are created.

Depending on init-order, you may get a lazy-initialized default running before an explicit instantation, which would cause this. Almost always the resolution is making the test's first inheritance be from `Event::TestUsingSimulatedTime` or similar.

[2020-08-19 00:37] KBaichoo commented on #12638
Running with `bazel test //test/server:guarddog_impl_test -c opt --runs_per_test=5000 --test_output=errors` I was able to get 3 flakes out of 5000.

Guess I didn't cast a wide enough net the first time?

All of the flakes were timeouts under `SimulatedTime` and they were also all Death Tests.

Now that I'm able to create the issue I'll be able to debug it. Thanks for pointers for reproducing the i

[2020-08-19 00:40] lita commented on #12674
Okay, so I added these logs line in the admin code:

[code]

And it does look like the dump does contain the type information.
[code]

But the json output does not:

[code]

I turned off pretty print and that didn't help.

[code]

[2020-08-19 01:51] NonStatic2014 commented on #12718
I would expect the connection creation latency on the client <--> envoy side, but not envoy <--> upstream side.

If every time a new connection from client is created, envoy <--> upstream need to recreate connection, I would expect all requests having longer upstream duration, but now we only see ~2% of them.

[2020-08-19 02:08] dio commented on #12674
@lita @htuch do you think having an option to return proto text format (instead of JSON) will be helpful here?

[2020-08-19 02:49] wbpcode commented on #12678
Thanks. That's what I want.

[2020-08-19 02:49] #12678 closed

[2020-08-19 03:05] luyisa opened #12723 "Question: remote JWT can't GET token by URI with 'jwt is missing' error"
I want to use remote JWT for remote identity server, with exposed jwks URI

My config in envoy.yaml
[code]

Debug info in my container:
[code]
I can't see Any Authorization: Bearer <token> in my request, so I assume no GET for jwks URI... any thing wrong with my settings or not support?

Note: The remote JWT server is using OpenID connect 1.0

[2020-08-19 03:33] ASOPVII commented on #12700
Wow, thanks for your reply. I found that if I instantiate the connection before onAccept, it won't cause error, otherwise if I do that after onAccept, there will be error. And the onAccept in my code will call master_thread_dispatcher, which will switch to a different time systems. So I have to put it before onAccept.

[2020-08-19 04:12] dio commented on #12674
I'm not sure but seems like the part you have highlighted in https://github.com/envoyproxy/envoy/issues/12674#issuecomment-675786843 is part or `BootstrapConfigDump`, i.e. [BootstrapConfigDump.bootstrap](https://github.com/envoyproxy/data-plane-api/blob/a89e7e0ace1474032e3775808429cbebc8a7efd9/envoy/admin/v3/config_dump.proto#L69), which has `config.bootstrap.v3.Bootstrap` type where the `static_r

[2020-08-19 04:34] shyamradhakrishnan commented on #12675
Thanks @lizan , that was the issue.

[2020-08-19 04:34] #12675 closed

[2020-08-19 05:06] lita commented on #12674
Ah yeah, my bad @dio. It looks like I was looking in the wrong field. Seems like this is not a problem with vanilla envoy. Let me try upgrading the istio and seeing if it is a problem there.

[2020-08-19 05:44] dio commented on #12674
I can see that when running `istio/proxyv2:1.4.9` which is `envoyproxy/envoy v1.12.x`. Looking at the proto at that time: https://github.com/envoyproxy/envoy/blob/a624dee970f41f1c4030d6d5c368692b30417aca/api/envoy/admin/v2alpha/config_dump.proto#L109 it is "unwrapped" [`api.v2.Cluster`](https://github.com/envoyproxy/envoy/blob/a624dee970f41f1c4030d6d5c368692b30417aca/api/envoy/admin/v2alpha/config

[2020-08-19 05:51] lita commented on #12674
Ohh I see. My bad. So I just need to use the older proto objects and use jsonpb. My bad. Thanks @dio for pointing this out. Ended up being an issue with version mismatch.

[2020-08-19 05:51] #12674 closed

[2020-08-19 06:17] pyrl247 commented on #12698
I see,Thank u~ But here r some other problem , I set upstream_log like this:
`

          http_filters:
          - name: front-router
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
              upstream_log:
                name: envoy.file_upstream_log
                filter:
                  status_code_filter:

[2020-08-19 07:24] zengyuxing007 opened #12724 "Envoy resty framework like OpenResty"
Envoy extension is a threshold for developers who do not have C++ foundation.

Although the community currently has a wasm extension development method, but it currently supports relatively few languages (C++, Rust, assembly scripts),using these languages to extend development is still not that simple.

Reverse proxy software with functions similar to Envoy, we know that there is Nginx. Based on N

[2020-08-19 09:12] chadr123 opened #12725 "Support hash policy in the udp proxy"
The udp proxy does not support hash based lb algorithms perfectly because it does not provide LoadBalancerContext when choose a host.
So, the udp proxy with hash based lb algorithms will select a host by random manner.

I have investigated the tcp case and I found that it has the hash policy option.
So, I think that we can support it in udp case as well simply.

Here is the my draft version of imp