[2020-11-17 13:11] phlax commented on #13221
im not sure. it might  take me a day or two but i can set up podman locally and see if i can repro the problem

[2020-11-17 13:25] chintan-mishra commented on #13221
Do let me know any issues you face while working with Podman. I have raised this issue with the Podman team on IRC.

Podman has better tooling for SELinux. The tool `udica` only generates SELinux policies. It doesn't cover AppArmor. I believe AppArmor ships by default in Debian 10 and its derivatives.

[2020-11-17 13:39] nezdolik commented on #13965
@mhoran and me will pair to work on this

[2020-11-17 13:42] micheleselea opened #14063 "PAUSE session while making a long request"
Hi all, I have my libevent-server that runs monothread event server. If I have a request that need a long blocking operation to complete I can make it in a separate thread. In this scenario what have I to return from on_frame_recv_callback in order to make request wait until I signal the data ready? what do you think is the best way to do such long request?

[2020-11-17 14:21] jmarantz commented on #14051
Thinking about this further, I think it would be a lot of toil to change (say) the COUNTER macro to include a new bool, or to add a new COUNTER macro variant for always-enabled stats. But we could add new Scope APIs or optional args to the existing ones to force construction regardless of stats disablement settings.

Maybe we don't need to worry about supporting force-enabled stats for the conveni

[2020-11-17 16:45] junr03 commented on #14033
`unknown type: envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext` means that the type registry does not know about that type. Have you set up your extensions build system to include the required types per: https://github.com/envoyproxy/envoy/blob/master/bazel/README.md#disabling-extensions?

[2020-11-17 16:48] junr03 commented on #14049
@tydurd do you mind formatting the config so that it is easy to read?

[2020-11-17 16:49] junr03 commented on #14057
Sorry, this seems like a problem with the file permissions on your setup, or even how pilot-agent (outside of the envoy project) deals with your local filesystem. I am not sure how the envoy maintainers can assist you.

[2020-11-17 16:51] gontard commented on #14026
@qiwzhang thanks a lot for your help.
I do not have a lot of time for the moment but i will give you more details in the next weeks.

[2020-11-17 16:56] junr03 commented on #14063
How is envoy involved in this setup?

[2020-11-17 16:59] junr03 commented on #14032
From logs all I can gathered is the 104 error with connection reset by peer. If you can repro in isolation and gather a stat dump we could probably see more detail?

[2020-11-17 18:57] efimki commented on #13986
@htuch thanks for the great questions.
I'm not really sure about a proper way to implement this, so will appreciate any guidance.

Here are some ideas:

Can they be derived from `RouteSpecificFilterConfig` and registered similarly?

Yes, I think that would make sense.

[2020-11-17 19:11] stevenzzzz commented on #13986
I would proposed to put an Any alongside the Struct, and reusing the existing typedMetadata trick for structured config data stored in Route/Cluster metadata.

With Any we saved the deserialization from struct to protobuf, but we need some factories to validate the protobuf is correct during config loading, plus users could add more semantics to the data structure returned from the factory.

[2020-11-17 19:14] fabriziomello opened #14065 "postgres: filter is not computing explicit transaction metrics correctly"
**Postgres Network Filter is not computing explicit transactions metrics correctly**

In Postgres all single statements are considered as an implicit transaction if they are not executed inside an explicit transaction block. For example:

[code]

The example above should be considered as 3 (three) distinct transactions, then the envoy metrics should be something like:

[code]

The metrics above ar

[2020-11-17 19:46] #14008 closed

[2020-11-17 19:50] nitgoy commented on #13604
I'm also interested in a bandwidth limiting filter. I'm working on a design doc based off the fault filter design and other requirements. I'll upload it soon for review.

[2020-11-17 20:08] lambdai commented on #14060
The target cluster 'server/server' can be found by RDS only if the cluster is warmed up.
If you can enable debug log, you can probably see the validation passed after "warming cluster server/server complete" shows up.

[2020-11-17 20:22] yanavlasov commented on #14049
The symptom indicates that the upstream can not keep up with the load.

[2020-11-17 20:30] yanavlasov commented on #14032
Does HAProxy have any logs that would explain why it reset the connection?

[2020-11-17 21:37] shashankram opened #14069 "Behavior filter_chain's application_protocols when the listener has both tls_inspector and http_inspector filters"
*Description*:
As per the documentation in https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/listener_filters/http_inspector and https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/listener_filters/tls_inspector, it seems like both the tls_inspecter and http_inspector listener filters set the application_protocols field that a filter chain can match on.

Per my un

[2020-11-17 22:15] lambdai commented on #14069
http inspector is skipped when tls_inspector sniff out the traffic is TLS. The reason is that http inspector cannot really inspect TLS traffic.

If it is TLS traffic both servername and transport socket name is set while http inspector wont set transport socket name

[2020-11-17 22:24] lambdai commented on #14049
your upstream cluster is localhost. It is highly possible that there is a spike of new tcp SYN to localhost upstream, and both the SYN queue and accept queue are full.
Then envoy will resend SYN packet in 3 seconds while your envoy connect timeout is 2.25s.

Try increase connect time out to 5 or 10 seconds to see if number of upstream_cx_destroy_with_active_rq is reduced

[2020-11-17 22:28] skydoctor commented on #10377
Wondering if this was ever implemented?

[2020-11-17 22:28] shashankram commented on #14069
Thanks @lambdai. What are the allowed values for application_protocols that http_inspector can set (ex. [http/1.0, http/1.1, http/2, h2c ..])?

[2020-11-17 22:36] lambdai commented on #14069
http inspect has very limited value space, you can find it in the code.
For tls inspector, the value space is way much wider. I don't know if there is an allowlist
https://tools.ietf.org/html/rfc7301

[2020-11-17 22:47] shashankram commented on #14069
Per the docs the http_inspector only sets application_protocol and not the transport socket. Is that correct?
What are the allowed values for application_protocol that http_inspector can set? From the code it looks like one of `[http/1.0, http/1.1, http/2, h2c]`.

[2020-11-17 22:59] htuch commented on #13986
SG. I think the descriptors just need to be linked in somehow, but they don't need to be registered, protobuf takes care of static initialization of all linked descriptors.

[2020-11-17 23:12] shashankram commented on #14069
Ok I found the values here: https://github.com/envoyproxy/envoy/blob/da403fa7b67b9331ca1d129a4035950d2e23c752/source/common/http/utility.h#L37

[2020-11-17 23:51] kyessenov opened #14070 "wasm: metrics never expire and accumulate"
Wasm filter implements the stats by allocating Envoy stats in the context and never de-allocating them. Since ABI encourages dynamic values, the stats accumulate and eventually leak (also, potentially exposing a security leak if stat values are untrusted).

[2020-11-17 23:58] kyessenov opened #14071 "stats: allow pre-defined tags"
The internal API to create tags has two versions:
1. Create from qualified stat name.
2. Create from stat name plus a set of tags.

We'd like to have a third version:
1. Create from stat name plus a set of tag names. Tag names match against the content of the stat to obtain values. For example, stat "a.b.c" with tag names "d.e" produces "a{d=b,e=c}". Here the separator is a dot, but could be any s

[2020-11-18 00:07] eduser25 commented on #14060
Confirmed that's the case. Thanks lambdai.

[2020-11-18 00:07] #14060 closed

[2020-11-18 00:59] tbarrella commented on #9682
Is anyone still working on this? I think I found the reason and a fix, but the time-consuming part would probably be writing a test and confirming the fix works; don't want to duplicate effort...

[2020-11-18 04:00] cre8ivejp commented on #14033
@junr03 thank you for replying.
The problem turned out to be the version of envoy. One of all services was running an old version.

[2020-11-18 04:00] #14033 closed

[2020-11-18 06:23] feimeng1029 commented on #14057
Oracle is installed on my server, and Oracle contains a directory with 750 permissions. This error was reported when I installed pilot agent on this machine. In this case, I can't install pilot agent on this machine.
![image](https://user-images.githubusercontent.com/37317258/99493106-9f138300-29a9-11eb-95a3-32889240c3b0.png)

![image](https://user-images.githubusercontent.com/37317258/99493071-8e

[2020-11-18 06:26] feimeng1029 commented on #14057
I understand that /dev/shm is a public shared memory directory, so pilot-agent should not prevent other applications from installing or accessing it

[2020-11-18 07:45] micheleselea commented on #14063
Sorry you are right wrong place

[2020-11-18 07:45] #14063 closed

[2020-11-18 08:17] chinaran opened #14074 "Why http 4xx status code not set error tag"
https://github.com/envoyproxy/envoy/blob/master/source/common/tracing/http_tracer_impl.cc#L256
The 5xx status code has error tag.
But why without 4xx?

[2020-11-18 11:07] andye2004 opened #14075 "Questions re OAuth2 plugin behaviour"
In the docs for the OAuth2 plugin it contains the following bullet point:-

I'm wondering what this means in practical terms, e.g. is the access token sent back to the client as part of the cookie content? Or, is it an 'opaque' cookie that is sent and when subsequent requests are received from the client the access token is retrieved from some internal cache and added to the upstream requests?

Th

[2020-11-18 11:10] sanathpholla commented on #13980
Thanks @PiotrSikora
Also is there a way to disable stateful session resumption as well in envoy currently? I was not able to find this in the api docs.

[2020-11-18 11:26] PiotrSikora commented on #13980
No, currently there is no way to control the built-in session cache.

[2020-11-18 11:38] sanathpholla commented on #13980
Thanks once again @PiotrSikora .
Would be closing this issue.

[2020-11-18 11:38] #13980 closed

[2020-11-18 12:39] fabriziomello commented on #14065
IMHO it should be back-patched to 1.15 when we release the first version of the filter

[2020-11-18 15:05] htuch opened #14076 "Signed releases"
Running https://github.com/ossf/scorecard against https://github.com/envoyproxy/envoy gives generally a high score, but we are missing [signed](https://wiki.debian.org/Creating%20signed%20GitHub%20releases) releases/tags. The idea is to attach a GPG ASCII signature to the release/tag artifacts.

Arguably the benefit is marginal if we trust GitHub security, but this seems a reasonable defense-in-de

[2020-11-18 16:29] htuch opened #14078 "Separate repositories for Envoy core and extensions"
One of the significant contributors to Envoy’s continued dependency and SLOC growth is C++ extensions.  Visualizations of this are provided in “Understanding, maintaining and securing Envoy's supply chain” EnvoyCon 2020 talk ([slides](https://static.sched.com/hosted_files/envoycon2020/42/Understanding%2C%20maintaining%20and%20securing%20Envoy%27s%20supply%20chain.pdf), [video](https://www.youtube.

[2020-11-18 16:40] tydurd commented on #14049
Thanks a lot for the quick heads-up guys. After a full day of testing I've found out that the cause is that, occasionally, the mirrored service (which writes to an NFS volume) can't keep up with the load and hence the spikes in upstream_cx_active.

[2020-11-18 16:40] #14049 closed

[2020-11-18 17:10] antoniovicente commented on #12960
cc @lizan

Saw this flake on a recent coverage run.  I think the main difference between coverage and regular runs is related to log levels.  It being reproducible in dbg mode seems interesting.

[2020-11-18 17:15] sunjayBhatia commented on #13492
@lodejard did you have any updates on this issue? were you able to perform any of the debugging steps listed above?

If not, I'm inclined to close this due to inactivity

[2020-11-18 17:26] sunjayBhatia commented on #13273
Should be solved by https://github.com/envoyproxy/envoy/pull/13787

[2020-11-18 18:11] lodejard commented on #13492
Hi, sorry for the long delay!

I'll try to reproduce with above on the latest code this week and I'll close if this issue is gone.

[2020-11-18 18:28] shashankram commented on #14069
@lambdai, on the inbound filter chain is there a way to distinguish between HTTP TLS vs TCP TLS traffic?
Since the TLS traffic is decrypted based on the `DownstreamTlsContext`specified in the filter chain, I am not sure if there is a way to even distinguish between TCP vs HTTP when the incoming traffic is TLS encrypted.

[2020-11-18 19:40] nitgoy commented on #13604
@mattklein123 @htuch @tonya11en forgot to ask before - are you guys ok with me taking a stab at this extension and that it is not already under development. Please also let me know if there's any specific design template to be followed.

[2020-11-18 20:08] tonya11en commented on #13604
I don't think anyone has started on this yet. How do you imagine the proto config should look?

[2020-11-18 21:35] #13091 closed

[2020-11-18 21:52] nitgoy commented on #13604
Thanks @tonya11en. Here's my planned proto config:

`
message BandwidthLimit {
  // Defines the mode for the bandwidth limit filter.
  // Values represent bitmasks.
  enum EnableMode {
      // Filter is disabled.
      Disabled = 0;
      // Filter enabled only for Ingress traffic.
      Ingress = 1;
      // Filter enabled only for Egress traffic.
      Egress = 2;
      // Filter enabled for bo

[2020-11-18 23:05] tbarrella opened #14085 "listener: deprecate use_proxy_proto"
*Title*: ~~Check all filter chains before injecting proxy proto listener filter~~ deprecate use_proxy_proto

*Description*: See discussion [here](https://github.com/envoyproxy/envoy/pull/14025#discussion_r526442863)

[2020-11-18 23:29] mattklein123 commented on #14085
Yes, we should deprecate it, but I'm more concerned about whether we block it or not right now. Do we have a check that it's all or none? If not can we add it behind a runtime guard?

[2020-11-18 23:38] tbarrella commented on #14085
Incidentally, it seems this behavior has been around for a while, it looks like since #1471 if I'm interpreting the code right

[2020-11-18 23:43] lambdai commented on #14085
+1 for runtime guard and add warning message

[2020-11-18 23:55] ggreenway commented on #14085
I'd say don't change the behavior, deprecate it, and make sure docs show how to add it to the listener filters explicitly.

[2020-11-18 23:58] ggreenway opened #14087 "Wrong %DOWNSTREAM_REMOTE_ADDRESS% logged when using proxy-protocol with tcp-proxy"
When using proxy-protocol as a listener filter, tcp-proxy as the network filter, and access logging, the wrong downstream address is logged. The logged address should be the one from the proxy protocol header on the connection, but the direct peer address is logged instead.

[2020-11-18 23:58] lambdai commented on #13852
Chatted with @xudesheng offline and confirmed the limit is defined in
`/etc/security/limits.conf`

[2020-11-18 23:59] mattklein123 commented on #14085
My concern is the existing behavior makes absolutely no sense. How can it work at all? I'm fine with whatever approach we want, definitely deprecation, but I'm also potentially in favor of warn/fail on mismatch behind a runtime flag.

[2020-11-19 00:02] ggreenway commented on #14087
`stream_info_->setDownstreamLocalAddress(socket_->localAddress());
      stream_info_->setDownstreamRemoteAddress(socket_->remoteAddress());` is called in `ActiveTcpSocket::ActiveTcpSocket`, but this runs before the listener filters are run.

[2020-11-19 00:04] juanvasquezreyes opened #14088 "oauth2 filter: Allow multiple grant_types"
I'm currently using keycloak as my oauth2 provider, in my current keycloak I'm using different mechanisms to authenticate and one of them is with client_credentials

Currently at this file https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/http/oauth2/oauth_client.cc, grant_type is hardcoded with authorization_code, which works fine, but will be nice to use multiple grant ty

[2020-11-19 00:08] ggreenway commented on #14087
It's possible this is a regression from fa2a7dbe5f1a0847e0bcbdcb001bac5f80bc92d9, but I'm not sure. There's no test coverage for this path. It works for http because the HCM sets the streaminfo's downstrema address in `ConnectionManagerImpl::ActiveStream::ActiveStream()`.

[2020-11-19 00:11] ggreenway commented on #14085
I agree it makes no sense, but changing it has the risk of breaking someone's config that currently works (even if it doesn't make sense). And if we're deprecating it, the risk doesn't seem worth it. If we weren't going to deprecate it, I'd say definitely fix it (with runtime guard).

[2020-11-19 00:13] mattklein123 commented on #14085
OK sounds good. I'm fine either way, but let's definitely do the deprecation.

[2020-11-19 00:15] htuch commented on #10471
I've put together a proposal for discussion at https://docs.google.com/document/d/1HbREo7pv7rgeIIjQn6mNpySzQE5rx2Yv9dXm5NqR2N8/edit#, feedback and further input welcome.

[2020-11-19 00:32] ggreenway commented on #14087
Confirmed that this is a regression from fa2a7dbe5f1a0847e0bcbdcb001bac5f80bc92d9. @kyessenov can you take a look?

[2020-11-19 01:18] nitgoy commented on #13604
Let me know any feedback on it. Regarding the last param, any pointers on the best way to monitor the current total bandwidth usage?

[2020-11-19 01:35] junr03 commented on #14075
@williamsfu99 perhaps you can address these questions?

[2020-11-19 01:36] junr03 commented on #14074
Sorry, do you mean why does 4xx not have an error tag?

[2020-11-19 02:01] koustubh25 opened #14090 "Disabling extensions on envoy"
**Title**: *What's the correct way to disable extensions?*

**Description**:

Following this documentation https://www.envoyproxy.io/docs/envoy/v1.15.0/operations/cli.html?highlight=disable%20extensions#cmdoption-disable-extensions, I tried to start envoy with

[code]

However, I see this error message in the console
[code]
Following the logs on startup I can see this

[code]

I am using envoy ver

[2020-11-19 02:14] nic-chen commented on #14030
gentle ping @wbpcode

[2020-11-19 02:32] moderation commented on #14090
I don't have experience disabling the extensions at the command line but I think you want to use the specific string at https://github.com/envoyproxy/envoy/blob/master/source/extensions/extensions_build_config.bzl#L31 `envoy.grpc_credentials.file_based_metadata`

[2020-11-19 02:40] williamsfu99 commented on #14075
@junr03 Thanks for the tag.

@andye2004

After the OAuth flow completely finishes, the client receives a response with SetCookie headers for an HMAC value and an Expiry epoch. The HMAC value is calculated by concatenating the domain, expiration, and token together before hashing it using the hmac-sha256(hmac_secret, data) function. Consequently, when that same user visits the domain again, the fil

[2020-11-19 03:05] koustubh25 commented on #14090
@moderation
I tried this as well

[code]
with no luck
[code]

Am I missing something?

[2020-11-19 03:26] inf-rno commented on #13862
bump

[2020-11-19 03:38] udaymadu commented on #13147
Thanks for the update.

[2020-11-19 04:30] tonya11en commented on #13604
@nitgoy this looks great! Let's have the discussion in a PR though so we can comment on lines and whatnot. I think you can just open up a draft PR with that proto and then publish it with the implementation when you're ready for folks to review.

[2020-11-19 06:00] chinaran commented on #14074
@junr03 yes, thanks for your answer.
eg. a jaeger span's http.status_code is 404, but without error tag, jaeger ui will not show the red warning "!".

[2020-11-19 07:57] bjaglin commented on #14026
I am working with @gontard and ran an initial test before following the list above.

I spawned an instance of envoy with a different remote jwks `cache_duration` behind the same load balancer as existing production instances (thus the difference of offset and the different axis to better compare) and observed no difference in the amount of leak per hour.

![cacheduration](https://user-images.githu

[2020-11-19 08:43] MarcinFalkowski opened #14091 "Lua filter causes a crash when the script uses streamInfo():downstreamSslConnection()"
Envoy crashes with segmentation fault, when Lua script contains `streamInfo():downstreamSslConnection()`.
The crash happens after issuing many https requests.

The bug exists in v1.16.0 as well as in the latest master version.

I have a permission from envoy-security@googlegroups.com for fixing this publicly.

*Repro steps*:
Run envoy with attached config and make 1000 https requests.

*Config*:
<

[2020-11-19 10:00] lambdai commented on #14069
The inspection happens before a network filter chain is selected. The major goal of inspector is to determine the network filter chain.
Since `DownstreamTlsContext` is provided in filter chain which is *after* the inspection, there is no tls context for the inspectors.

[2020-11-19 10:01] lambdai commented on #14057
@feimeng1029 Can you create an issue in github.com/istio/istio and close this one?

[2020-11-19 10:25] lambdai commented on #14090
Hmm, looking at the code, the correct magic string is **envoy.** grpc_credentials/envoy.grpc_credentials.file_based_metadata`

`$ docker run -it --entrypoint sh envoyproxy/envoy:v1.15.1 -- /docker-entrypoint.sh -c /etc/envoy/envoy.yaml --disable-extensions envoy.grpc_credentials/envoy.grpc_credentials.file_based_metadata`
[2020-11-19 10:18:34.391][7][info][misc] disabled extension 'envoy.grpc_cred

[2020-11-19 11:40] nitgoy commented on #13604
Sure, here you go: https://github.com/envoyproxy/envoy/pull/14096

[2020-11-19 12:00] bobvanderlinden opened #14098 "Allow usage of xDS data from LUA"
*Title*: Allow usage of xDS data from LUA

*Description*:

Currently we are using LUA to do URL mapping. It requires a large list of URL patterns and for each a replacement pattern. We have around 1000+ of these. It cannot make use of regex, as this would not be performant enough.

The LUA script initially loads a local file (which is filled by `consul-template`) and sets up a lookup tree for the

[2020-11-19 16:35] danzh2010 commented on #13273
Can you explain about the cause? Is it because Windows socket is level triggered?

[2020-11-19 16:38] sunjayBhatia commented on #13273
@danzh2010 basically yeah, the socket events don't always get fired when running tests in non-blocking mode with the code as-is, we had to use `EVLOOP_ONCE` with level mode

We had to either do something like this: https://github.com/envoyproxy/envoy/pull/13918

or emulate edge triggering as in https://github.com/envoyproxy/envoy/pull/13787

[2020-11-19 16:46] mattklein123 commented on #13862
@inf-rno sorry what are you looking for? The proposal sounds reasonable to me.

[2020-11-19 16:49] #14090 closed

[2020-11-19 16:56] inf-rno commented on #13862
Oh sorry. I was just looking for approval of the proposal as well. I will tackle this next. Thank you!

[2020-11-19 17:05] yanavlasov commented on #13831
I have looked through this again and I can not figure out where the problem is. The only way Envoy would skip reading from socket is when it is read disabled, but there would be a log message when reads were disabled, which is not present in the log.
All I can suggest at this point is to reproduce it without docker with the latest build and see if it is possible to provide repro case to Envoy devs

[2020-11-19 17:08] ggreenway commented on #14087
One thought on implementing fix: Perhaps we should make a `ConnectionStreamInfoImpl` which holds a reference to a connection, and gets the downstream addresses directly from the connection instead of storing them separately. The existing `StreamInfoImpl` would still be used for http requests, as that can have addresses overridden per-request by XFF. Then the ordering of the operations isn't critic

[2020-11-19 17:22] #13685 closed

[2020-11-19 17:29] shashankram commented on #14069
Got it, thank you.

[2020-11-19 17:37] mcieplak commented on #13553
@kyessenov I agree that response protocol sounds a little bit confusing as I meant the protocol in terms of the upstream. It makes sense to call it upstream protocol instead. Is this attribute already available or is this something that will need to be added?

[2020-11-19 17:53] qiwzhang commented on #14026
Thanks @bjaglin. Your test result implies that the leak is not from Jwks fetching and cache.

Could you help to run two tests with different qps? one QPS is the double of another one to see if the leak is the same

Thanks

[2020-11-19 17:57] lambdai commented on #13209
The clusterInfo is referenced by quit a lot of filter and unclear stuff.

My concerning is that clusterInfo seems snapped by not only upstream `Host` but also downstream such as `ConnectionManagerImpl::ActiveStream::cached_cluster_info_`
This means close connections prior to destroy ClusterInfo may not work.

[2020-11-19 18:02] lambdai commented on #13209
The incomplete list in `ClusterInfoImpl` which might want ClusterInfo destroyed in master threads are
[code]
And the crashes frames on my hands are all on top of `TransportSocketMatcherImpl`

[2020-11-19 18:08] lambdai commented on #13209
But callback is not the only violation. See this one.
[code]

[2020-11-19 18:17] mattklein123 commented on #13209
I'm wondering, could all of ^ actually be moved to the cluster and removed from ClusterInfo and we could access via some other API? I'm pretty sure that all of the things ^ are completely broken if they are accessed after a cluster is removed?

Or could we start with just the thing that we know is causing issues?

[2020-11-19 18:26] antoniovicente commented on #12960
I seem to have repo'ed under ASAN

[ RUN      ] OauthIntegrationTest.UnauthenticatedFlow
=================================================================
==12==ERROR: AddressSanitizer: heap-use-after-free on address 0x6190000cc528 at pc 0x000017db0c94 bp 0x7ffc46b3b3b0 sp 0x7ffc46b3b3a8
READ of size 8 at 0x6190000cc528 thread T0
    #0 0x17db0c93 in Envoy::Extensions::HttpFilters::Oauth::(anonymo

[2020-11-19 18:28] lambdai commented on #13209
Are you saying the access to ClusterInfo in work thread *should* not be common read/write, but just unfortunate destroy?
That means we can let Cluster owns these, and ClusterInfo contains weak reference to them?

[2020-11-19 18:32] mattklein123 commented on #13209
What I'm saying is that I think there are things in ClusterInfo that probably should not be in there, and I'm wondering if we can move them. I would start with just the thing that is causing the crash which I think is the socket_matcher_. I think that code is already thread safe, so yes, I'm wondering if it can be owned by the cluster and maybe accessed via ThreadLocalCluster vs. ClustetInfo?

[2020-11-19 18:43] lambdai commented on #13209
Make perfect sense to me. I was trapped in the zone that these things need to be destroyed later.
I didn't realize they could be destroyed earlier with Cluster/threadLocalCluster(Sorry I don't have a clean concept of these `cluster`s)

[2020-11-19 19:31] lizan commented on #12960
Yeah I can see that this is highest flaky test in master branch (crash):
https://dev.azure.com/cncf/envoy/_test/analytics?definitionId=11&contextType=build

[2020-11-19 19:35] mattklein123 commented on #14071
cc @jmarantz to work with you on this hopefully.

[2020-11-19 19:36] #14057 closed

[2020-11-19 19:36] mattklein123 commented on #14045
This is a reasonable request.

[2020-11-19 19:38] antoniovicente commented on #12960
I think I understand the bug.  Attempt to send end stream in the test boddy after the client got a fully reply for that stream and deleted it.

[2020-11-19 20:01] bharath-12345 opened #14104 "Decompressor Http filter does not decompress complete response"
*Title*: *Decompressor Http filter does not decompress complete response on envoy 1.15.1-dev*

*Description*:
**What is happening:**
The Envoy decompressor does not completely decompress the gzipped response. We have noticed that for gzipped responses with a size larger than the chunk_size specified in the gzip decompressor, we get back the decompressed response with a size nearly equal to chunk_s

[2020-11-19 20:02] jmarantz commented on #14071
Questions:

1. what's the potential space advantage? Note that given that symbol tables are already integrated it might be less than you expect.
2. when using the interface to create from stat name plus a set of tags, do we need a regex? I didn't think we did.

[2020-11-19 20:04] bharath-12345 commented on #14104
Have discussed with @rojkov on slack who suggested that this might be a potential bug.

[2020-11-19 20:14] mattklein123 commented on #7582
@htuch should this be folded into https://github.com/envoyproxy/envoy/issues/14078?

[2020-11-19 20:35] htuch commented on #7582
@mattklein123 I think it's related but not exactly the same. To the extent we're shipping release images, we can do what you describe above with multiple repositories or a single one.

[2020-11-19 21:05] lizan commented on #14078
From CI perspective, IMO it is hard to support a separate repository and that reduces the product velocity, instead we might just do another directory (e.g. `contrib`) with different set of bazel workspace / build rules?

[2020-11-19 21:06] lizan commented on #7582
Related to this as well as #14078, drafted https://github.com/envoyproxy/envoy/pull/14094 last night to allow enable / disable extension easier, with some possibilities to define flavors.

[2020-11-19 21:12] #12960 closed

[2020-11-19 22:13] junr03 commented on #14104
How are you _compressing_ the response that envoy receives? It is possible that the configuration of the compressor's window bits is incompatible with the configuration of the decompressor's window bits and thus your data is getting truncated. For reference:

[2020-11-19 22:58] htuch commented on #14078
This makes sense to me; it's challenging as a developer flow as well to have multiple repos. I like the idea of `contrib` and then having a clear path to migration to `source/extensions` based on specific criteria. I think by default we would not include contrib in the Envoy binaries built, but optionally using something like #7582.

[2020-11-19 23:01] mattklein123 commented on #14078
Yeah +1 on contrib and we can generate 2 different images, one with contrib and one without? That should be really easy.

[2020-11-19 23:04] htuch commented on #14078
A couple of questions:
* How do we structure things API wise? Do we have a contrib API, or place the extensions in the official Envoy API from the get go? I think there is a balance between API stability and API review overhead here.
* Do we have differences in review policy in contrib? Pros are allowing faster experimentation and iteration (as you would have in a separate repo). The (very) big co

[2020-11-19 23:21] ggreenway commented on #14078
I'd say have contrib API in a separate directory, but in the same proto namespace so it can be moved from contrib to core without changing on-the-wire format, or really any source changes except maybe include paths.

[2020-11-19 23:34] tbarrella commented on #14085
I have a few questions about how to deprecate something (referring to the [breaking change policy](https://github.com/envoyproxy/envoy/blob/master/CONTRIBUTING.md#breaking-change-policy))

What does this mean in this case? For examples that use `use_proxy_proto` like  [this](https://github.com/envoyproxy/envoy/blob/master/docs/root/configuration/best_practices/_include/edge.yaml) it seems like I j

[2020-11-19 23:37] antoniovicente commented on #14078
There has been the occasional issue of extensions that envoy core ends up having a tight dependency on, and build/test of Envoy core can't happen if the relevant extension is disabled and related code deleted.  Having a separate directory for contrib and having an explicit goal of releasing with and without contrib sounds like a good step forward.  Would it also make sense to have an envoy release

[2020-11-19 23:40] antoniovicente commented on #14078
Regarding API and extensions: Would it make sense to define config protos for extensions in that extension's extension source directory?  Nothing outside the extension needs to understand their config proto.

[2020-11-19 23:50] davinci26 commented on #10871
Think more about this and I realized that we are using `socketpair` in production in:
1. `watcher_impl`
2. `signal_impl` (see #13954)

It would be a perf win not only for tests but also for production code to go through UDS instead of loopback.

[2020-11-20 00:06] lambdai commented on #14085
You only need to add for v3 and run  `tools/proto_format/proto_format.sh fix` to sync to other versions.

Not fully sure about the fuzzer CC @asraa

[2020-11-20 00:22] lizan commented on #14078
We tightened the dependency enforcement and only a few extensions that Envoy core can depend on. I don't think the goal is to move all extensions to contrib, we need to define tiers of the extensions and decide which gets to the default image / additional flavored image, and supported by security team or not, etc.

[2020-11-20 00:29] antoniovicente commented on #11427
IIRC #13475 added scaling for this timeout

Not sure what plans we have for this case.  I know a timeout exists, do we want to provide a way to scale this timeout?  I think we could go either way here.

Do we have plans to scale this timeout?  If we expect this to be configured to a small value most of the time, I think it would be fine to omit scaling.

Issue #11426 covers the SSL connection case

[2020-11-20 00:32] htuch commented on #14085
+1 on deprecate. The less magic in the filter chains the better IMHO (as well as existing behavior being broken).

[2020-11-20 01:21] #13189 closed

[2020-11-20 01:44] lambdai commented on #13209
Let me add more detailed description. Conclusion: there is no destroy order error. Both the stack are data race [1][2].

@mattklein123 There is no sync between ClusterImplBase and ThreadLocalCluster(ClusterEntry)/ClusterInfo. The ClusterImplBase is always destroyed on master thread first because clusterInfo hold the necessary shared ptr to ClusterImplBase.
The typical destroy order is below. Not a

[2020-11-20 05:09] bharath-12345 commented on #14104
The compression, in this case, is not happening by the envoy compressor filter. It is happening by the server who happens to support gzip compression.

Does the decompressor only support decompression of responses compressed by the envoy compressor filter?

[2020-11-20 05:27] bharath-12345 commented on #14104
I have increased the window size of the decompressor to a max of 15. This solved the problem I was facing.

Will this solve for all other cases where compression is not just happening by the envoy compressor?

[2020-11-20 05:41] 3ks opened #14113 "crash when udp packet size large than 1500"
# crash when udp packet size large than 1500

## Description

envoy crash when udp packet size large than 1500.

## Repro steps

- start envoy
- envoy crash when receive packget that size larger than 1500

[code]

## Config

[code]

## Logs

[code]

[2020-11-20 05:45] guoruijing commented on #14044
also we need to include shared_ptr

[2020-11-20 05:56] bharath-12345 commented on #14104
The default window_size of deflateInit2 used by envoy according to the zlib docs seems to be 15 but envoy is setting it to 12. Any reason for that? If I am right was the decision taken around saving memory?

[2020-11-20 08:06] phlax commented on #14078
seems like there is consensus not to move to a separate repo, so perhaps this point is moot...

the downside i see with that is that we would need to separate examples that required extensions, and i guess then replicate the ci for that

[2020-11-20 08:35] guoruijing commented on #13833
admin can look statistics to find out the issue so that debug level should be ok.
    stats_.dropped_headers_with_underscores_.inc();

[2020-11-20 08:53] wangfakang opened #14116 "Could support backlog Settings in the Configuration file for the Listener."
Support backlog Settings in the Configuration file for the Listener. The final listener queue size depends on `min(Backlog, net.core.somaxconn)`.

[code]

[2020-11-20 09:17] Brunomachadob commented on #13833
The problem is that I have an open gateway that is called by dozens of other companies integrating with us.
I have a dashboard with this metric in place, but this does not tell us anything else other than "a fail happened" and nothing else to help me understand where it came from, path and this sort of things.

But that is fine. This was something I was wondering if this should be really debug or

[2020-11-20 10:46] maksim-paskal opened #14119 "Can't initializate Envoy v1.16+ with CDS message"
We have our implementation of go-control-plane, it's work great on envoy v1.15.2 - but upgrading to envoy v1.16.0 - got a Caught Segmentation fault on CDS message with aggregated cluster

[code]

**envoy.yaml**
[code]

**cds.json**
[code]

**rds.json**
[code]

**envoy output**
[code]

[2020-11-20 13:31] htuch commented on #14078
These are all good points. I've updated the title/top-level description to capture the `contrib/` alternative.

[2020-11-20 15:04] akonradi commented on #11427
Scaling the stream idle timeout should be pretty trivial, and should help with resource attacks since otherwise the connection idle timeout is useless for preventing resource attacks. I don't have a strong opinion about the header processing timeout since it's supposed to be small.

[2020-11-20 18:30] SaveTheRbtz opened #14121 "compression doesn't work with a streaming HTTP/2 upstream"
*Title*: compression doesn't work with an HTTP/2 backend

*Description*:
If I understand existing code correctly then compression won't be applied to streaming responses returned by an HTTP/2-capable backend:
https://github.com/envoyproxy/envoy/blob/ca6e246336a6c454132b5c832d483b8e9aa10ca2/source/extensions/filters/http/common/compressor/compressor.cc#L396-L397

*Repro steps*:
Enable h2 to the bac

[2020-11-20 18:34] mattklein123 commented on #14113
Note this is a zero day that was under embargo. Fixes are going out now: https://github.com/envoyproxy/envoy/pull/14122

[2020-11-20 18:55] lambdai commented on #14116
I see it is implemented on master
[code]
[code]

[2020-11-20 18:57] mattklein123 commented on #14116
This was fixed here https://github.com/envoyproxy/envoy/pull/12625/files

[2020-11-20 18:57] #14116 closed

[2020-11-20 19:18] mattklein123 commented on #14085
I think we should a) deprecate and also b) warn on mismatch (not all or nothing).

I think this will give us good coverage.

[2020-11-20 19:20] sunjayBhatia commented on #13955
/assign @sunjayBhatia

[2020-11-20 19:21] sunjayBhatia commented on #10871
/assign @sunjayBhatia

[2020-11-20 19:22] mattklein123 commented on #13209
I had thought that SocketMatcher would only be used on connection creation, but even there I agree there is a race. I think technically it's possible for a cluster to be removed on the main thread while a connection is being created on a worker (before thread local cluster removal).

Given ^ it might be pretty difficult to do this sanely without either destroying cluster info on the main thread as

[2020-11-20 19:42] kyessenov opened #14126 "wasm: protect against blocking scripts"
An infinite loop in a Wasm script causes envoy worker to spin and block. Envoy does not respond to ^C.
A well-meaning module might have long loops that are potentially taking too much of work. Ideally, the module should be able to `yield` pack strategically and let Envoy handle book keeping business (e.g. potentially stopping the script if the request is interrupted).

[2020-11-20 19:43] lambdai commented on #13209
I am back on #14089 which addresses the latter.

So the whole picture is
1. Cluster can be removed anytime. What a client connection need are supposed to put in ClusterInfo.
2. ClusterInfo outlives the connections in this cluster. Actually it is achieved by host/connectionpool as the container of connections.
3. ClusterInfo will be destroyed on master.

I think this is a user friendly threading mo

[2020-11-20 19:58] kyessenov commented on #14087
I think this is similar to original_dst issue we saw earlier. If so, we fixed it by setting it again after the listener filters (https://github.com/envoyproxy/envoy/pull/13581/files). Would that approach work here, as well?

I'm a bit worried about RBAC implications. I believe this field could be used in a policy https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/rbac/v3/rbac.proto#config-r

[2020-11-20 20:12] mattklein123 commented on #13209
Yes I agree this is OK. Let's review in the other PR. Can you clean that up and we can go from there?

[2020-11-20 20:47] asraa opened #14128 "[grpc/api] Avoiding API mis-use / illegal header keys in grpc configuration"
*Avoiding illegal header keys in grpc configuration*:

A grpc config contains [initial metadata](https://github.com/envoyproxy/envoy/blob/e5aa69658c6182dd41b6217ec7f6c4c00cac84b4/api/envoy/config/core/v3/grpc_service.proto#L294) which can eventually be evaluated by a header parser [here](https://github.com/envoyproxy/envoy/blob/d9af0e985a2fef2c921641b12f4786a658ad0923/source/common/grpc/google_asy

[2020-11-20 21:03] htuch commented on #14128
IMHO (3) is the right place, since we're processing config at that point in a factory, so presumably it's safe to throw an exception to reject.

[2020-11-20 21:04] asraa commented on #14128
Thanks!
Their compliant headers chars are a subset of what http will technically allow (0-9a-zA-Z_-.) and so long as stream info won't have headers outside those, that will suffice.

[2020-11-20 22:00] #14113 closed

[2020-11-20 23:06] mandarjog commented on #14126
We could either use [`TerminateExecution`] (https://source.chromium.org/chromium/chromium/src/+/master:v8/include/v8.h;drc=9f5b10b19e8885010a72b6690275fe0211d8d3b7;l=9056) oe [ `RequestInterrupt`](https://source.chromium.org/chromium/chromium/src/+/master:v8/include/v8.h;drc=9f5b10b19e8885010a72b6690275fe0211d8d3b7;l=9092) if supported in Wasm API.

[2020-11-20 23:23] junr03 commented on #14104
No, the filter uses zlib for gzip decompression so it should decompress properly any valid gzipped data stream

Not necessarily, it depends on how the compressor was configured per the docs above.

I am not sure why 12 was originally picked for the compressor. But in the decompressor case it was to match the compressor.

[2020-11-20 23:42] lambdai commented on #13209
Thanks! I updated that PR.

[2020-11-21 00:29] ggreenway opened #14133 "Audit handling of addresses when listener filters (proxy protocol, etc) modify it"
The handling of downstreamLocalAddress and downstreamRemoteAddress is messy and unclear. Audit uses of the address on both the connection and StreamInfo. Clean up code so it is easier to understand.

* Specifically, the addresses are set twice on the connection StreamInfo, once before listener filters are run and once after. Try to find a better way to handle this.
* HCM sets the downstream addres

[2020-11-21 01:09] gokulnair commented on #8443
There's `max_connection_duration` and `max_stream_duration`. Not a 100% how these 2 differ but that's the closest setting that envoy seems to have to max_requests_per_connection.

[2020-11-21 01:54] antoniovicente commented on #14121
You're right, the compression filter doesn't seem to like to process responses without content-length or transfer-encoding: chunked.  It's possible that the fix is as simple as returning true if the response doesn't have a content length, but we should also consider the case of HEAD requests and 204 no content responses.

[2020-11-21 02:00] antoniovicente commented on #13978
I could see an admin API hook that can be config enabled and provides a way to cause a misbehaving proxy to abort().

Is accepting the request on the serving port instead of the admin port a hard requirement?

[2020-11-21 02:08] antoniovicente commented on #13153
This may be due to some duration to millisecond conversion not rounding up.  I assume this happens somewhere in the HCM, not in the timer creation functions provided by the dispatcher.

[2020-11-21 02:38] #14087 closed

[2020-11-21 03:38] Harrryyy opened #14136 "Where Could we find the waiting queue?"
Currently, we want to figure out where Envoy store requests, Is there any waiting queue in Envoy before the request is sent to the service? The reason for locating the waiting queue is that we attempt to calculate the average request wait time, or is it already provided as a metric? Thank you

[2020-11-21 03:39] Kagamia-MS opened #14137 "Health status in EDS with active health check"
version: 1.15.0

I'm trying to update dynamic endpoints with EDS, but the behavior in practice is inconsistent with the docs. Here's my questions:

1> What's the relationship between [active health check](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/health_check.proto#core-healthcheck) and [LBEndpoint.heath_status](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/endpoin

[2020-11-21 08:25] 3ks commented on #14113
Incredible speed of restoration, Thanks for your work!

[2020-11-21 20:33] mattklein123 commented on #14113
@3ks

This issue was under embargo and you explicitly *did not follow* our security policy to report crashing issues to envoy-security@. *Do not do this again.*

[2020-11-22 00:12] mattklein123 commented on #14119
It's hard to tell what is going on here from the stack trace, though this may be a regression from https://github.com/envoyproxy/envoy/pull/12833. I will take a look.

[2020-11-22 06:12] ToniCipriani opened #14138 "Container will not start when deployed to OpenShift 3.11 with chmod /dev/stdout /dev/stderr permission error"
*Description*:

*Repro steps*:

*Admin and Stats Output*:

*Config*:

          - name: envoy.access_loggers.file
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.access_loggers.file.v3.FileAccessLog
              path: /dev/stdout

*Logs*:

  chown: /dev/stderr: Permission denied

[2020-11-22 10:01] phlax commented on #14138
/assign phlax

[2020-11-22 10:01] phlax commented on #14138
hi @ToniCipriani can you tell me the user you are starting the container as

[2020-11-22 11:15] 3ks commented on #14113
@mattklein123 I'm sorry about that and I won't do it again.

[2020-11-22 12:46] ccannell67 commented on #14091
Experiencing the same SegFault when using downstreamSslConnection:subjectPeerCertificate(), but at a lower request threshold. SegFaults at < 20 requests. Can provide config if  needed.

[2020-11-22 21:34] ToniCipriani commented on #14138
On OpenShift, it runs as a randomly generated user ID. I haven't specified ENVOY_UID or GID.

[2020-11-22 22:22] ToniCipriani commented on #14138
I also tried downgrading to the 1.15 and 1.14 containers, and managed to get 1.14.5 working without the error. However I don't think this is ideal.

[2020-11-22 22:40] phlax commented on #14138
it needs to run as root - the entrypoint script drops permission to the envoy user

[2020-11-22 22:41] phlax commented on #14138
see here for more info https://www.envoyproxy.io/docs/envoy/latest/start/docker#permissions-for-running-docker-envoy-containers-as-a-non-root-user

[2020-11-23 01:29] ToniCipriani commented on #14138
Running as root is not an option here, this will be flagged by the company's security. I do see in the gateway-proxy of Gloo (which I believe is based on Envoy) has an option of using the container as a floating user? I think that is the issue here. Is it possible to configure Envoy to run as such?

```Gloo provides support for running the gateway-proxy (i.e. Envoy) as an unprivileged container an

[2020-11-23 02:37] htuch commented on #10471
@envoyproxy/dependency-shepherds have reviewed https://github.com/envoyproxy/envoy/issues/10471#issuecomment-730038773, it might be also a good idea to get feedback from @envoyproxy/maintainers on this proposal as it has implications for future dependencies as well as existing ones.

[2020-11-23 03:06] ToniCipriani commented on #14138
I also tried taking your advice to set ENVOY_UID/GID as 0, now the container starts but no logs are observed in /dev/stdout. Ideally  we want these logs to be there to be picked up by ELK.

[2020-11-23 05:38] phlax commented on #14138
hi - so to clarify envoy/user id

Envoy has an entrypoint that drops permissions from root to envoy inside the container.

This means to use this container it *must* be started as root - ie non-optional

If you do not want to start the container as root you will need to change the entrypoint - that would work fine - you should be able to run as the envoy uid (101) and things will mostly work. you

[2020-11-23 05:43] phlax commented on #14138
and to be clear - im not suggesting setting ENVOY_UID which would actually make the container run as root

[2020-11-23 05:49] phlax opened #14141 "Handle container started as non-root better"
### description

It seems like a common issue that people try to start the container as non-root, which doesnt work with the `ENTRYPOINT` currently.

Users then seem to set `ENVOY_UID` and that only confuses the issue further.

I think we can do a couple of things.

- print a very big warning in the entrypoint if it  detects that it has been started by a user other than root - perhaps with link to

[2020-11-23 05:50] phlax commented on #14138
@ToniCipriani see  #14141

[2020-11-23 05:56] phlax commented on #14141
this may be an issue for some specific frameworks or at least common setups - eg openshift

[2020-11-23 05:57] phlax commented on #14141
one idea i was thinking of for starting as non-root is that if the ENVOY_UID is set *and* the container is started with the same uid, perhaps it could skip the permissions dropping etc

[2020-11-23 05:58] phlax commented on #14141
@lizan any thoughts on this ?

[2020-11-23 06:31] wangfakang opened #14142 "Could suppport variables mode for `via` directive and like logformat."
Could suppport variables mode for `via` directive and like logformat. forexample：

[code]

[2020-11-23 08:46] rojkov commented on #14104
I don't know the reasoning behind the current default for window_size. Perhaps memory consumption was one of the reasons, then it may happen that not all decompressing clients default to 15...

Nginx sets window_size dynamically and for big enough files (> 100k) it's always 15. So, we'd better set window_size to 15 as well in the decompressor by default to avoid surprises like this.

[2020-11-23 08:54] #14091 closed

[2020-11-23 09:10] phlax commented on #14119
is this a permissions issue with the cds.json file ?

[2020-11-23 09:26] membphis commented on #13791
I think you can split this example to multiple mini examples, it is easier to understand.

[2020-11-23 09:26] maksim-paskal commented on #14119
@phlax I have no permission issues - my case:

docker 19.03.13 - darwin/amd64

all files in /tmp/envoy-issue folder
[code]

I thinks, its some dns issue on initialising secondary cluster

[2020-11-23 10:15] dio commented on #14030
I think `inline_code` is required since it is the fallback, the global one. Before we have `source_codes` defined, we only have that `inline_code`. We need to test a couple of use-cases to catch if removing that global function will be fine.

[2020-11-23 10:21] nic-chen commented on #14030
Thanks for the explanation.

I would like to try this.

[2020-11-23 10:43] nic-chen commented on #13791
updated.

[2020-11-23 12:18] phlax commented on #14119
ah, k - apologies for noise

[2020-11-23 14:35] juanvasquezreyes commented on #14075
Another enhancement is to add authorization mechanism such as group validations or roles validation and based on that deny or approved the request

[2020-11-23 14:35] juanvasquezreyes commented on #14075
Another enhancement is to add authorization mechanism such as group validations or roles validation and based on that deny or approved the request and forward to the cluster

[2020-11-23 15:58] alyssawilk commented on #11308
oops - leaving this open until the last TODOs are done and config is not hidden.

[2020-11-23 16:00] irozzo-1A commented on #11308
thx @alyssawilk, I will try to address the open points ASAP

[2020-11-23 16:28] #13397 closed

[2020-11-23 16:35] qqustc commented on #13978
Thanks Antonio.
The hard requirement is to simulate a misbehaving users sending a kill request and simulate noisy-neighbor scenarios in a multi-tenent setup so to us it seems the serving port is the ideal way to simulate that. We will ensure that the filer is not built into the binary by default to mitigate the concern of misbehaving admin hook

[2020-11-23 16:51] sagital opened #14148 "aws_request_signing and aws_lambda not working for Lambda invocations having request body"
*Title*:  Lambda and AWS Signature not working

*Description*:
If I use the `envoy.filters.http.aws_lambda` filter to call a remote lambda using POST and a JSON body, AWS responds with
`"The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult the service documentation for details."`

*Repro steps*:

`curl -X POST -

[2020-11-23 17:08] sagital opened #14149 "envoy.filters.http.aws_lambda payload_passthrough false not working"
*Title*: *payload_passthrough* parameter is not changing the request

*Description*:
Setting the `payload_passthrough` parameter to `true` or `false` doesn't change the request. As I understood, setting it to false should convert the request to a JSON payload
[code]

*Repro steps*:
 ```curl -X POST -H "Content-Type:application/json" localhost:10000/2015-03-31/functions/link-token-development/invoc

[2020-11-23 18:01] antoniovicente commented on #13857
cc @asraa @htuch

Should we file an issue requesting the implementation of safety nets in envoy core to protect against this kind of issue?

[2020-11-23 18:14] asraa commented on #13857
I think that is this issue https://github.com/envoyproxy/envoy/issues/13737 number (2), but right now I'm not sure who the owner is. @rgs1 are you thinking of adding protections against continuing after end stream/direct response? I may have bandwidth to give it a stab, but want to check.

[2020-11-23 18:36] aejeet opened #14151 "Error using certificate rotation support for certificates in static resources."
**Description**

**Envoy version: 1.15.2**

I am trying to make envoy pickup the renewed certs automatically. My envoy config looks like following

Relevant portions of envoy config
[code]

Contents of envoy-sds.yaml
[code]

This works as expected but sometimes envoy fails to start with following error
[code]

This goes away restarting the erring pods.
Has others encountered similar issue ? If so

[2020-11-23 18:54] akonradi commented on #13110
Closing this out. All compatible actions now support scaling.

[2020-11-23 18:54] #13110 closed

[2020-11-23 18:55] #13860 closed

[2020-11-23 19:18] phlax commented on #14141
/assign phlax

[2020-11-23 22:13] juanvasquezreyes opened #14153 "Oauth Group validation"
Add group validation in oauth filter

Will be nice that after authenticate, we can validate that the user is part of x group comma separated, this could be added at the oauth config

config:
  token_endpoint:
    cluster: oauth
    uri: oauth.com/token
    timeout: 3s
  authorization_endpoint: https://oauth.com/oauth/authorize/
  **authorization_groups**: /app/admin,/app/ro

In order to do that, a

[2020-11-23 22:15] phlax opened #14154 "[RFC] Decide on preferred CI provider across Envoy projects"
### description

Envoy has pretty complex needs when it comes to CI, and uses quite a lot of resources.

It can also take up a lot of developer time in term of debugging and adding to CI

Current the Envoy project uses `Azure` and `Github Actions` - `CircleCI` was removed simply for reasons of consolidating/rationalizing the pipelines

Deciding on a long term strategy regarding CI - and potentiall

[2020-11-23 22:53] hamdiallam commented on #14007
@ramaraochavali ahh, I wasn't aware you were going to patch this

[2020-11-24 02:04] yanavlasov commented on #14136
In normal case there is no queue, the request is immediately sent to the upstream server if there is available upstream connection. If there is no available connection the request will wait until one is established, you can observe this wait time through the [upstream_cx_connect_ms](https://www.envoyproxy.io/docs/envoy/latest/configuration/upstream/cluster_manager/cluster_stats#general) histogram.

[2020-11-24 05:29] max0ne opened #14160 "HttpConnectionManager.idle_timeout documentation deprecation unclear"
*Description*:
The `idle_timeout` field description in [this page](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/http_connection_manager/v2/http_connection_manager.proto#envoy-api-field-config-filter-network-http-connection-manager-v2-httpconnectionmanager-common-http-protocol-options) has a *This field is deprecated. Use idle_timeout instead* note, but the `idle_timeout

[2020-11-24 05:59] sagital commented on #14149
Closing this, looks like I was missing a configuration option:

[code]

[2020-11-24 05:59] #14149 closed

[2020-11-24 06:56] ydh926 opened #14161 "How about add HeaderMatch for http local ratelimit?"
*Title*: *HeaderMatch for http local ratelimit*

*Description*:

For example, limit a special user's request, we may need HeaderMatch in limit config , like this:
[code]

[2020-11-24 08:17] sagital commented on #14148
Closing this, the problem solved itself when I sent  a dummy host header

[2020-11-24 08:17] #14148 closed

[2020-11-24 09:30] mk46 commented on #14160
I think link redirect to [common_http_protocol_options](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/http_connection_manager/v2/http_connection_manager.proto#envoy-api-field-config-filter-network-http-connection-manager-v2-httpconnectionmanager-common-http-protocol-options) is valid one. The `idle_timeout` can be config as
[code]
 See the link below to common_http_proto

[2020-11-24 09:49] bharath-12345 commented on #14104
+1 with @rojkov I think we should set the default of window_bits of envoy to 15.

If its all fine with you guys, I would like to raise a PR to do this :)

[2020-11-24 09:58] rojkov commented on #14104
Sure, your PR is welcome!

[2020-11-24 10:55] mk46 commented on #14151
@aejeet  I think this issue is related to your host machine. It seems that is running out of inotify watches.

[2020-11-24 10:56] hellraisercenobit commented on #7025
@vemod my bad the problem was coming from an old chrome cors extension.
forgot to uninstall ^^
Your solution is ok ;) thx a lot!
Will be better to have a native support 👍
Anyway JWT filter is awesome 😄.

[2020-11-24 13:47] wangfakang opened #14163 "why not support localTimeZone for START_TIME?"
why not support localTimeZone for START_TIME ?

[2020-11-24 17:11] zuercher commented on #14160
`idle_timeout` in `common_http_protocol_options` is the replacement for `idle_timeout` in the HttpConnectionManager. I was going to suggest we point the link to the actual field that replaces idle_timeout, but since this problem only exists in the v2 api, which is scheduled to be removed soon, I'm not sure if it's worth the time.

[2020-11-24 17:18] mk46 commented on #13399
Hi @jmarantz, I would like to take it if you're not working on it.

[2020-11-24 17:20] zuercher commented on #14142
I think this could be useful, but I think we'd really want to undertake a refactoring of the way that these expressions are handled -- there are already most-separate implementations for logging vs. header replacement and I don't want to add a third for via.

[2020-11-24 17:32] zuercher commented on #14163
This is by design. c.f. #3546

[2020-11-24 17:32] #14163 closed

[2020-11-24 17:35] zuercher commented on #14153
cc @rgs1 @derekargueta as oauth codeowners.

[2020-11-24 18:11] jmarantz commented on #13399
You are welcome to take it; I expect it will be pretty easy and I can review. However, I think it would be better to wait a bit, because removing an option can break production setups, potentially. @mattklein123 when do you think would be appropriate? Maybe 1-2 weeks prior to the cut-date for 1.17?

[2020-11-24 18:50] mattklein123 commented on #13399
If the code was removed in the last release IMO it can be removed any time during this cycle so fine to do it now.

[2020-11-24 19:27] qiwzhang commented on #14026
Hi @bjaglin Any update on your test?

BTW,  we have load tests with this filter.  Our tests did not show any memory leak.   Could you try to disable jwt_authn filter to make sure the leak is from this filter?

[2020-11-24 20:43] rgs1 commented on #14153
cc: @williamsfu99

[2020-11-24 22:44] htuch commented on #13857
I think anything we can do to make it easier for filters to do the right things and hard to do the wrong there here makes sense. Agree with @asraa that this is in scope plausibly for the error handling policy implementation, providing it's not already being worked on.

[2020-11-25 01:35] kyessenov commented on #14071
My issue is not the space, but the requirement to supply regexes to post-factum extract the tags.
As for 2), Wasm ABI does all or nothing, and I think today it's not using the set of tags option. We may need to re-design the stats parts of ABI to expose the alternative version to create a metic.

[2020-11-25 01:41] moderation opened #14174 "Dependency: upgrade nghttp2 to 1.42.0"
*Title*: Dependency: upgrade nghttp2 to 1.42.0

*Description*: Latest version 1.42.0 ([release notes](https://github.com/nghttp2/nghttp2/releases/tag/v1.42.0)) does not contain the PR that would upstream the patch at https://github.com/envoyproxy/envoy/blob/master/bazel/repositories.bzl#L389-L394. Patch needs to be updated for Windows and new nghttp2 version.

Assign @wrowe, @sunjayBhatia

CC @env

[2020-11-25 02:43] jmarantz commented on #14071
Why do you need the RE if you use `counterFromStatNameWithTags`?

[2020-11-25 02:57] haniceboy opened #14176 "Envoy suddenly stop accepting tcp connection in ports 15001 and 15006"
Envoy suddenly stop accepting tcp connection in ports 15001 and 15006

*Description*:
We have a k8s cluster in a production environment with istio installed. Some of pods enabled istio。 Now I have a weird problem that an instance of a service enabled istio was working normally, but it will suddenly restart continuously. The service configured with k8s liveness probe (i.e. ip:8080/healthy/heartbeat

[2020-11-25 04:49] mk46 commented on #12708
@jianwen612  Could you please provide steps to reproduce this bug? I would like to take a look on it.

[2020-11-25 11:45] zero77 opened #14180 "[Feature Request] 2FA"
*Title*: *One line description*

*Description*:
 Can you please add 2FA to provide additional security before clients are able to establish a connection to the end device.

[optional *Relevant Links*:]
Google already provide a 2FA module that can be integrated with protocols like SSH and OpenVPN.
https://github.com/google/google-authenticator-libpam

[2020-11-25 11:58] yanniszark commented on #14001
kind ping @derekargueta @mattklein123

[2020-11-25 14:35] discovery-NukulSharma commented on #6815
We are facing this issue on envoy 1.15, where server is sending FIN, but sidecar/envoy is not passing it back to downstream/client.
Any idea to get away with this, we would like to avoid keeping small timeouts than service.
@alyssawilk

[2020-11-25 16:40] esmet opened #14186 "Support setting hostname on the Zipkin collector config"
Envoy should support setting the hostname used when sending spans to a Zipkin collector. Currently, the cluster name is used, but this isn't always the hostname that the upstream collector wants.

This should be a straightforward change to the Zipkin tracing config and the `zipkin_tracer_impl`.

[2020-11-25 17:10] kyessenov commented on #14071
@jmarantz REs are needed for Wasm extensions because the ABI only has a simple by-name stat: https://github.com/proxy-wasm/proxy-wasm-cpp-sdk/blob/master/proxy_wasm_externs.h#L142. I agree that we could fix it via an ABI change and Wasm filter improvements. Do you think the ABI should just expose `counterFromStatNameWithTags`? I think the challenge is to make the lifecycle easy to use from extensi

[2020-11-25 18:34] esmet opened #14188 "Support returning custom HTTP response bodies in the ratelimit filter"
*Title*: Support returning custom HTTP response bodies in the ratelimit filter

*Description*:
When using the ratelimit HTTP filter, Envoy should be able to return a custom response body provided by the external, gRPC ratelimit service. This behavior would be similar to ext_authz.

[optional *Relevant Links*:]
External authorization supports sending a response body from the auth service to the dow

[2020-11-25 18:48] jmarantz commented on #14071
Honestly I feel like we should deep-dive on the wasm stats ABI. I have been concerned about it for some time because I think by going for maximum simplicity it is going to potentially impact performance and contention in particular.

Why don't we set up some time to talk after thanksgiving?

As background, it's probably worth going over Splunk's KubeCon slides from last year where severe stats sca

[2020-11-25 19:17] htuch commented on #10471
I've run OSSF Scorecard criteria that we might adopt against all of the eligible deps, results at https://docs.google.com/spreadsheets/d/1caO4qMmG8o5i2nGoEof1qMpD5_WicfiC5WcxA_5isTY/edit#gid=0.

[2020-11-25 19:39] asraa opened #14190 "[security] Error handling policy and macro usage clarification"
**Error Handling and Macro Usage Policy Updates and Clarifications**

**Description**:
Envoy contains over 1000 ASSERTs in core code, and over 400 exist in router and HTTP components. In some cases, ASSERTs are not used as statements of true invariants, but used incorrectly to indicate possible errors on the data plane. Especially as Envoy moves towards a hardened posture against extensions, depen

[2020-11-25 20:32] zuercher commented on #14180
Could you provide a little more context about your use case?

[2020-11-25 21:17] htuch commented on #14190
@envoyproxy/maintainers for review

[2020-11-25 21:50] mattklein123 commented on #14190
Overall looks fine to me. I left one comment in the doc about ENVOY_BUG_INTERNAL vs. ASSERT and how we might avoid bike-shedding.

[2020-11-26 00:07] #13973 closed

[2020-11-26 03:43] mjaow opened #14196 "Does envoy have envoy_response_code for metrics like envoy_cluster_upstream_rq_time_sum"
*Title*: *One line description*

*Description*: Doese envoy have envoy_response_code for metrics for duration , something like envoy_cluster_upstream_rq_time_sum?  I don't find it , is it reasonable to have one?

would be used.

is it reasonable to have envoy_response_code in envoy_cluster_upstream_rq_time_sum , to group request duration by response code

[2020-11-26 07:22] ankatare opened #14197 "tracking issue to continue v2 support for upgraded protos in Q1."
*Title*: *Opening this issue to track  v2 support for protos in Q1.*

*Description*: Opening this issue to track  v2 support for following protos in Q1.
refer #12841  for details.

protos:
 "//envoy/config/filter/thrift/router/v2alpha1:pkg",
"//envoy/config/health_checker/redis/v2:pkg",
"//envoy/config/resource_monitor/fixed_heap/v2alpha:pkg",
"//envoy/config/resource_monitor/injected_resource/v2a

[2020-11-26 07:59] #14160 closed

[2020-11-26 09:16] wbpcode commented on #14030
@nic-chen  This is designed to be compatible with old APIs.
I do want to remove the `inline_code`, but it is not desirable if it affects some existing users. However, I am in favor of deprecating it gradually.

[2020-11-26 09:20] wbpcode commented on #14030
@nic-chen Sorry for delayed response. I just realized that this is an issue from ten days ago.

[2020-11-26 21:44] ToniCipriani commented on #14141
I think this is the only pattern where I see the user is created at the entrypoint. Should the `envoy` user be created as part of the container build, if it's always going to be `envoy`?

[2020-11-26 23:39] grial1 commented on #13751
Hi 👋 , do you still need help with this? I was looking at #13454 and got redirected to this issue. The idea would be to refactor the header matching operations without reintroducing the vulnerability found, is that correct?

[2020-11-27 00:53] nic-chen commented on #14030
@wbpcode
Thanks for your reply and sharing your idea！

[2020-11-27 06:46] phlax commented on #14138
@ToniCipriani there is an underlying problem here i think in that if you start the container as non-root it doesnt work and doesnt notify you why not

Its not an uncommon pattern to drop root in the entrypoint (otherwise gosu and suexec would not  exist)

It *is* also possible to run  this container (with some big caveats/limitations) as non-root without the entrypoint - but its not currently set

[2020-11-27 08:38] mk46 commented on #2306
I think we should close this now. Since #11222 clang-format-10 is used.

[2020-11-27 08:53] mk46 commented on #2144
@phlax I think need to comment here https://github.com/envoyproxy/envoy/blob/0f7952d1850be92620f2add304c8d95fce028f93/examples/front-proxy/service.py#L36
that Route is used in Zipkin tracing.

[2020-11-27 09:07] phlax commented on #2144
@mk46 is this bug still an issue ?

im thinking that it was probably fixed when the examples were updated.

if not, i can follow up

[2020-11-27 09:15] mk46 commented on #2144
https://github.com/envoyproxy/envoy/blob/0f7952d1850be92620f2add304c8d95fce028f93/examples/front-proxy/service.py#L44 still containing `9000/trace/2` which is used by zipkin-tracing. Port 9000 is not used in front-proxy (checked in service and envoy yaml)

[2020-11-27 09:32] phlax commented on #2144
/assign phlax

[2020-11-27 09:46] mk46 commented on #2958
@mattklein123 I don't think anyone is working on this and want to open a PR.

[2020-11-27 10:36] mk46 commented on #3270
/assign mk46

[2020-11-27 11:33] wangfakang opened #14201 "Why the response status use 503 instead of 502 when the connection reset by peer scenario?"
Why the response status is 503 instead of 502 when the connection reset by peer scenario?
503 is means the server is currently unable to handle the request `due to a temporary overloading or maintenance of the server`.
502 is means the server, while acting as a gateway or proxy, `received an invalid response` from the upstream server it accessed in attempting to fulfill the request.

[2020-11-27 11:45] AndreyFlyAway opened #14202 "Build envoy for MacOS"
*Title*:  Cant build envoy for MacOS

*Description*:
I try to build envoy without using the Docker. I use instruction from readme but I get error below. It cause when Bazel build external dependencies - com_googlesource_chromium_v8. I don't know what to do with this.

*Repro steps*:
Also I installed latest Xcode.
Check new updates for my MacOS.
To build I used command from README.md:
`bazel build

[2020-11-27 14:14] #2306 closed

[2020-11-27 18:13] moderation commented on #14202
I build on MacOS without issue (however I'm not building the WASM extension). The version of Bazel you are using is very old. I would consider using 3.6.0 or greater with the latest being 3.7.1

[2020-11-28 07:26] karthequian opened #14203 "Using Local reply modification"
How do you use the Local Reply Modification feature?

I was reading about the local reply modification feature: https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/local_reply.html?highlight=mapper and was looking to add the mapper to change the HTTP Response text that would be returned in a fault scenario.

[code]

However, I'm not sure where to add this in the envoy conf

[2020-11-28 21:55] #13399 closed

[2020-11-29 23:46] grial1 commented on #14076
Hi @htuch, I have some questions regarding the key used to signed the releases. What type would you like it to be? For how long should it stay valid? What its UID should be?

Following the Debian's guide on [how to create signed github releases](https://wiki.debian.org/Creating%20signed%20GitHub%20releases), I manage to put together a [demo/POC](https://github.com/grial1/envoy/releases/tag/v1.16.0

[2020-11-29 23:55] htuch commented on #14076
Thanks @grial1. TBH I'm not sure how we want to deal with key management. @alyssawilk @mattklein123 since you folks tend to cut the releases, is there a preferred methodology around key management and signing?

[2020-11-29 23:57] htuch commented on #13751
@grial1 I'd sync with @snowp on Slack on what might be possible, #12968 related work is the plan-of-record.

[2020-11-30 07:05] yanjunli76 opened #14208 "SSL handshake fails because of too many certificate authorities"
*Title*: Initial ssl handshake fails because the ca cert file contains too many certificates (e.g more than 500 certificate authorities) in server side

*Description*:
During Initial ssl handshake if client authentication is enabled, envoy server will request client certificate by sending **CertificateRequest** msg\[1\]. A list of the distinguished names [X501] of certificates in ca cert file will

[2020-11-30 07:44] simeongr opened #14209 "Access logs format"
*Title*: *Access logs format is suspicious*

*Description*:
We are seeing logs like this one:
`[2020-11-26T14:25:49.160Z] "POST /istio.mcp.v1alpha1.ResourceSource/EstablishResourceStream HTTP/2" 200 - 1671 9758 300008 - "-" "grpc-go/1.24.0" "f88ece7f-e28f-454b-9bd0-2bf22b0a2260" "localhost:15019" "100.68.194.145:15019"`

It looks like the format of the log is:
`"[%START_TIME%] \"%REQ(:METHOD)% %RE

[2020-11-30 08:21] dio commented on #14209
According to https://www.envoyproxy.io/docs/envoy/latest/configuration/observability/access_log/usage.html?highlight=duration `%DURATION%` gives you "Total duration in milliseconds of the request from the start time to the last byte out."

What makes you think `300008` in milliseconds is wrong?

[2020-11-30 09:30] zero77 commented on #14180
@zuercher
There isn't a specific case, its more about increasing the security of a reverse proxy when vpn is not an option.

[2020-11-30 11:51] mk46 commented on #14203
@karthequian I think you're adding it to the wrong place. HCM has local_reply_config and config should be added like below.
[code]

[2020-11-30 12:08] simeongr commented on #14209
From what I know, this is internal communication within the K8s cluster, and 300 000ms equal to 5m, which sounds way too much.

[2020-11-30 12:31] htuch commented on #14174
@wrowe would you be able to help out with updating this patch?

[2020-11-30 12:33] #13350 closed

[2020-11-30 12:47] panzhongxian opened #14211 "What will happen when `Envoy::logger::DelegatingLogSink` is destructed?"
I read the code in logger.h.  There is a comment in line [logger.h#153](https://github.com/envoyproxy/envoy/blob/master/source/common/common/logger.h#L153):

There is no class named "DelegatingSink", so I think it's maybe a typo.

I can't find the destructor of `DelegatingLogSink`. My question is what will happen when `Envoy::logger::DelegatingLogSink` is destructed. Or the `SinkDelegate* sink_` b

[2020-11-30 13:20] alyssawilk commented on #14076
No preference from me.  If @grial1 is up for helping out, maybe he can doc up his PoC steps in the GOVERNANCE release instructions once we get the questions settled.

[2020-11-30 14:04] BigBigos opened #14212 "Linux: Build fails at luajit if /tmp is mounted with noexec"
*Title*: *Linux: Build fails at luajit if /tmp is mounted with noexec*

*Description*:
It seems that envoy-1.16.0 fails to build on RHEL7 because `/tmp` is mounted with `noexec` option. It's possible that this is caused by the fix to issue 6188, which has changed the temporary directory from bazel cache to `/tmp`.
Remounting `/tmp` with `exec` option (including `/var/tmp` as `/tmp` is just a bind-

[2020-11-30 15:39] yanavlasov commented on #14209
Looks like request was closed due to a time out.

[2020-11-30 15:43] nvasilev98 commented on #14209
In continuation of Simeon's thought, we have researched the envoy's implementation and we figured out that the duration is returned in nanoseconds. Here are the following functions that are responsible for returning duration:

[code]

And in the test function, they compare it to nanoseconds:

https://github.com/envoyproxy/envoy/blob/105e3f1559c51f5098de1e021abefeee40844dfb/test/common/formatter/su

[2020-11-30 16:14] rapatchi opened #14214 "Does envoy support TCP-SNI proxy"
*Title*: *Does envoy support TCP-SNI proxy*

*Description*:
We need a TCP proxy where we can want to route connections based on SNI hello packet without doing SSL termination. Is this supported in envoy?. We need something as mentioned in relevant links.

*Relevant Links*:

[2020-11-30 16:23] asraa commented on #10878
Just updating: the codec default was new right after 1.16 (merged on 10/16). If people are running the code in staging for a few weeks and haven't reported any crashes, maybe we can clean up before the 1.17 release?

[2020-11-30 16:25] phlax commented on #14214
hi @rapatchi - yes it does

there is an example in a PR waiting to land

you can see the docs for the PR here https://storage.googleapis.com/envoy-pr/ced9f8e/docs/start/sandboxes/tls-sni.html

the docs need some work, specifically regarding tls/sni passthrough (not 100% if that is what you were looking for)

the examples in the PR should work, or you can just look at their config

the PR is here #

[2020-11-30 16:28] karthequian commented on #14203
Thank you so much @mk46! Really useful to see the whole config. Will try it today and close this issue!

[2020-11-30 16:46] rapatchi commented on #14214
@phlax Could you help me understand one thing in the example mentioned above?. There is no SSL termination happening on envoy right ?. The only SSL termination that is happening is on the domain endpoints right ?

[2020-11-30 16:50] phlax commented on #14214
@rapatchi yes that is a possibility - tls/sni passthrough

in the examples the third one is an example of this

[2020-11-30 16:50] grial1 commented on #14076
Sure 🙂 . Once decided how to handle the key management, I can submit a PR to GOVERNANCE.md with the steps to follow to create a signed release.

[2020-11-30 16:59] mattklein123 commented on #14076
Can you summarize what kind of key management is required? Is this a flow that someone runs on their dev machine? Or something else? What type of key(s) need to be stored? I think a bit more details would help. Thank you.

[2020-11-30 17:15] mattklein123 commented on #10878
@asraa yeah IMO I would just clean it up. We can always revert if an issue comes up.

[2020-11-30 17:23] wangfakang opened #14215 "lb_subset_config: fallback policy support next selector mode."
@mattklein123 plz help,thx.  The fallback policy could support next （`NEXT_SUBSET`）selector mode? In other words, fallback policy could supports cascading mode. forexample：
`[stage, idc, zone] —fallback—> [stage, zone] —fallback—>  [stage] `

[code]

[2020-11-30 17:43] descalzi commented on #125
Same here, I need ip/port (SRV records) from Consul. Thanks!

[2020-11-30 18:27] alyssawilk commented on #6815
Sorry, need a bit more detail to be able to help here.
I assume upstream is sending a TCP FIN, and you want the downstream connection to be FIN'd as well?
That will depend on what version of the protocols you're using.  If upstream is framing a response by connection close, for example, the downstream connection may do chunked framing at which point Envoy would send a terminal chunk, not a FIN.
If

[2020-11-30 18:44] FallenWarrior2k commented on #125
Any particular reason you want to use SRV records for that?

Don't get me wrong, I definitely want to see support for SRV records myself, but Consul and Envoy have a native integration already, so I'm wondering what your reason is for not using that.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Monday, 30 November 2020 18:43, Martin <notifications@github.com> wrote:

[2020-11-30 18:47] grial1 commented on #14076
For instance, when creating the key, as explained by this [guide](https://ekaia.org/blog/2009/05/10/creating-new-gpgkey/), an UID is needed to be provided. Which should be that UID? Then, the key needs to be uploaded to a public keyserver, so, which one should I use? For the example I uploaded the key to pool.sks-keyservers.net.

[2020-11-30 18:58] htuch commented on #14076
I think we might need some maintainer oriented flow around a shared signing key, maybe backed with Lastpass. But there are probably alternatives, e.g. a signing VM.

[2020-11-30 18:59] sunjayBhatia commented on #12940
Closing in favor of https://github.com/envoyproxy/envoy/pull/14102, we will see new flaky tests reported

[2020-11-30 18:59] #12940 closed

[2020-11-30 19:00] #13082 closed

[2020-11-30 19:10] mattklein123 commented on #14076
A signing process that is built into a VM or cloud hosted workflow (lambda, whatever) would be optimal, but a lot more work unless there is some service out there we can use for this (cc @caniszczyk who might know of something). In the interim, we could host the key in our shared LastPass per @htuch. I don't have any strong preference on key server for the public key. This is not something that I

[2020-11-30 19:18] htuch commented on #10943
A pain point around the v2 -> v3 translation is the removal of support for `std::regex` regexes, since this couples the major version transition with removal of previously but not longer supported functionality.

[2020-11-30 19:53] htuch commented on #10943
Similar problem to https://github.com/envoyproxy/envoy/issues/10943#issuecomment-697053507 happened with fatal-by-default migration.

[2020-11-30 20:00] davinci26 opened #14218 "Windows: reverse_bridge_integration_test is flaky"
*Description*:

`//test/extensions/filters/http/grpc_http1_reverse_bridge:reverse_bridge_integration_test` is flaky on Windows Platform.

See #13954 and pipeline run https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/59181/logs/109

[2020-11-30 21:10] kyessenov opened #14219 "docs: provide a reference of extension type names"
Documentation lacks a list of all extension type names. This hurts the adoption of using `type_url` over names in extension configuration. Code-wise, it seems to be hard to extract this information statically since registration is done at runtime.

[2020-11-30 21:20] esmet commented on #12883
I ended up implementing this as an HTTP filter before I knew this issue (or any design documents/requirements) existed. For that reason, my approach may be different than what's being discussed here but I'm very much open to feedback. Please see https://github.com/envoyproxy/envoy/pull/14221 ( cc @mattklein123 / @tony-liuliu )

[2020-11-30 21:40] mattklein123 commented on #14219
Dup of https://github.com/envoyproxy/envoy/issues/13167. cc @phlax

[2020-11-30 21:40] #14219 closed

[2020-11-30 22:40] pallas commented on #5155
FYI, nodejs/llhttp#69 was just closed with a fix in v3.0.0

[2020-11-30 22:53] moderation commented on #5155
I added a link to the release at the now stale WIP PR at https://github.com/envoyproxy/envoy/pull/9033#discussion_r532955677

[2020-11-30 23:09] kyessenov opened #14222 "rate limit: add support for expression descriptors"
CEL expressions would allow extensive customization of rate limit descriptors beyond what is offered https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-msg-config-route-v3-ratelimit-action. In particular, they can be conditional (either/or).

cc @gargnupur

[2020-11-30 23:09] kyessenov commented on #14222
/assign @kyessenov

[2020-12-01 01:57] jmarantz commented on #14214
Looks like this has been answered.

[2020-12-01 01:57] #14214 closed

[2020-12-01 03:16] yiyouguisu opened #14224 "Hot restart SharedMemory size mismatch"
*Title*: *Hot restart SharedMemory size mismatch*

*Description*:

![image](https://user-images.githubusercontent.com/11996269/100692551-1263be80-33c6-11eb-8263-52f84b60faae.png)

![image](https://user-images.githubusercontent.com/11996269/100692599-27405200-33c6-11eb-920e-98c940d20149.png)

Hot Restart command:
[code]

Hot Restart script：
[code]

Start Envoy script
[code]

[2020-12-01 03:19] SaveTheRbtz opened #14225 "compression: GET and HEAD headers do not match"
*Title*: Content-Encoding header is not added to HEAD responses.

*Description*:
Following header is not present in HEAD responses:
```content-encoding: gzip```

[RFC7231](https://tools.ietf.org/html/rfc7231#section-4.3.2) specifies the following:

(NB! Content-Encoding is not in the list of payload-specific headers.)

Therefore this may cause issues with clients that follow RFC and expect HEAD an

[2020-12-01 04:39] jmarantz commented on #14211
There's no explicit destructor of DelegatingLogSink, but that class includes a unique_ptr<StderrSinkDelegate>, and StderrSinkDelegate has a destructor which calls restoreDelegate().

This code is a bit confusing however. I think it might be easiest to understand it by grepping for use-cases. If you do you'll find that mostly it is used during tests to redirect logging into a string so that log con

[2020-12-01 04:50] antoniovicente commented on #14225
Could you provide some details about how the envoy is configured?  Is the response compression done by the Envoy by means of a filter or by the upstream that generated the response?

[2020-12-01 05:41] wrowe commented on #14174
I'm happy to help with the patch, today I evaluated the entire patch... and am looking to replace the windows bits with priming the cmake cache with the appropriate flags, and dropping the patch with a single-target define. It doesn't help that bazel is unmaintained and hasn't addressed the missing copts parameter in the year since we identified https://github.com/bazelbuild/rules_foreign_cc/issue

[2020-12-01 05:47] wrowe commented on #14174
The patch in question, for reference;
https://github.com/envoyproxy/envoy/blob/master/bazel/foreign_cc/nghttp2.patch

[2020-12-01 06:38] panzhongxian commented on #14211
Thanks for your quick explaination~ @jmarantz

I had excluded the testing files which made me miss some details. I will find more use-cases in testing files for more detail.

I am going to close the issue. Once I find more detail, I will append the explaination here.

[2020-12-01 06:38] #14211 closed

[2020-12-01 07:29] lizan commented on #14208
I don't think we have a configuration to do this. @PiotrSikora from the spec this seems valid?

A proper workaround will be reducing the number of the certificate authorities in the TLS config, instead have a common root CA signing all them as intermediate.

[2020-12-01 08:37] caitong93 commented on #13085
add ref to https://github.com/envoyproxy/envoy/pull/14175 , which might be related to this issue

[2020-12-01 10:42] s-vivien opened #14226 "Create upstream response body in LUA when it is NIL"
The LUA filter documentation states that you can override the upstream response body by doing this :

[code]

However, in some cases, the upstream response has no body, thus making it impossible to change its content.

Is there a workaround for this ? If not, that could be an interesting feature.

[2020-12-01 13:58] jmarantz commented on #14224
I think hot-restarting between any version-change has got to be considered *best effort* :) . Is there doc suggesting otherwise?

I think one that changed from 1.9 is that stats are transferred now via RPC between parent and child and not held in shared memory, so there's no way that's going to be compatible.

[2020-12-01 13:58] #14224 closed

[2020-12-01 14:29] descalzi commented on #125
Just because I think I'll be able to get the records on SRV (and non-Consul services) before I can get the necesary changes in my Consul agent for the whole sidecar thing needed ... :)

[2020-12-01 15:00] salrashid123 opened #14229 "Surface connection SSL peer certificate information to CEL"
FR to surface the ssl cert information such that it is available for use within `wasm`.

eg, the fields surfaced to wasm that pertain to the upstream/downstream SSL certs is here:
   https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/common/expr/context.cc#L43-L64

but it omits some additional fields visible to the tls conn:
   https://github.com/envoyproxy/envoy/blob/master

[2020-12-01 15:08] tomboc opened #14230 "Access log command operator for HTTP request size including headers"
*Title*: *Access log command operator for HTTP request size including headers*

*Description*:
Add a way to include the full size of a HTTP request, including headers, in access log entries.

Currently the command operators %BYTES_SENT% and %BYTES_RECEIVED% render the size of HTTP body, excluding headers. Add new command operators or specifiers for the existing ones to render the size of a HTTP re

[2020-12-01 15:58] wrowe commented on #14174
@asraa could you validate that your proposed fixes, as still recorded in nghttp2.patch, can all be dropped in favor of the code adopted in 1.42.0?
https://github.com/nghttp2/nghttp2/pull/1468/files
vs.
https://github.com/nghttp2/nghttp2/commit/78a56cf66f3bbe29f70b19eeaff0dbc63908c677
https://github.com/nghttp2/nghttp2/commit/cf094bd56bd3fbe0037fc72a2ebcee3cb7724b90
https://github.com/nghttp2/nghtt

[2020-12-01 16:16] sunjayBhatia opened #14231 "Windows: Add Windows per-master commit debug container"
Add an analogous Windows container image to https://hub.docker.com/r/envoyproxy/envoy-debug-dev now that we have a PDB file for envoy-static.exe

Action item from Windows dev community meeting

[2020-12-01 16:17] asraa commented on #14174
@wrowe I think they should be fine. They were to fix a runtime error when building and running tests with clang-10. Instead of checking if the pointer was null, the fixes seem to check if the offset is zero.

[2020-12-01 16:17] sunjayBhatia commented on #14231
/assign @sunjayBhatia

[2020-12-01 16:35] josheinhorn commented on #14230
Alternatively to a new field for the full request/response sizes, could we do the same thing being done in the gRPC Access Logger i.e. add new log command operators for [request header bytes](https://github.com/envoyproxy/envoy/blob/7985d815e49f7bd899998436f615ae5497bfff8c/api/envoy/data/accesslog/v3/accesslog.proto#L384) and [response header bytes](https://github.com/envoyproxy/envoy/blob/7985d81

[2020-12-01 17:29] wrowe commented on #14174
@asraa That's what concerns me. NULL+0 is no different than NULL, so it wouldn't be an interesting test, but ensuring we don't play with any math modulo NULL is actually rather important. The resulting patch looks like quite a few no-ops.

[2020-12-01 18:26] nezdolik opened #14232 "Envoy failing requests toward rate limit service"
We are in process of setting up rate limit service for our edge Envoys and so far looks like Envoy is failing to send requests to rate limit service:
[code]

Rate limit service config:
[code]

Envoy rate limit cluster config:
[code]

Envoy filter chain config:
[code]
Per vhost/route config:
[code]
Error in rate limit service log:
[code]
Testing with following command and getting 500 as response.
[

[2020-12-01 18:31] PiotrSikora commented on #14208
This feature request is valid per spec, although I'm not sure if all clients support it, but like @lizan said, if you're sending 500 names (those are names of the issuers, not subject names), then it seems like your signing policies and/or TLS configuration should be redesigned a bit.

[2020-12-01 19:19] VirajSalaka opened #14233 "CORS: The preflight request is forwarded to the upstream if the origin is not allowed."
*Description*:

When the CORS filter is engaged and the preflight request reaches the filter, that request should be handled via the CORS filter despite the request should be rejected or not.

While testing, I have had the following observations.
- When I am sending the preflight request, with one of the allowed origins as the origin header It works perfectly fine. Cors filter responds for the req

[2020-12-01 19:26] yanavlasov commented on #14209
It is converted to milliseconds here: https://github.com/envoyproxy/envoy/blob/ae7d84132858d831286a6b079fab8271faa451f5/source/common/formatter/substitution_formatter.cc#L450

[2020-12-01 19:43] wlhee opened #14234 "Support TCP Proxy over HTTP/2 POST (Encap and Decap)"
*Title*: *Support TCP Proxy over HTTP/2 POST*

*Description*:
https://github.com/envoyproxy/envoy/issues/13185 has original context. With https://github.com/envoyproxy/envoy/pull/13548, Envoy could supports the encapping TCP over HTTP/2 POST with a custom TCP upstream.

Based on our further investigation, we notice that in addition to a custom TCP upstream  for encapping for the client side envoy,

[2020-12-01 19:43] wlhee commented on #14234
@htuch @alyssawilk

[2020-12-01 19:47] qiwzhang commented on #14230
It should be easy to add following operators:
* %REQUEST_HEADER_BYTES%
* %RESPONSE_HEADER_BYTES%
* %RESPONSE_TRAILER_BYTES%

But it will require more work to add size for request/status line.

It it is OK, please assign issue to me,  I can work on it.

[2020-12-01 20:32] alyssawilk commented on #14234
I'll let other maintainers weigh in on if this goes upstream or not :-)

but to the other questions, the HTTP filter would go in
source/extensions/filters/http/filter_name/
and the tcp work (if not done inline, with a config option) would go in
source/extensions/upstreams/tcp/custom_name

[2020-12-01 21:44] draeron commented on #12556
I've been trying to setup an override limit, but i can't seems to find anyplace where it possible configure dynamic metadata. In my case, I'd like to override rate limits statically inside the

[code]

[2020-12-01 21:45] twreid commented on #125
For me the main reason is because my company would rather pay AWS for infrastructure than spin up a consul cluster and AWS service discovery uses SRV records.

[2020-12-01 21:48] draeron commented on #12556
I've been trying to setup an override limit but i can't seems to find anyplace where it possible configure dynamic metadata, even statically. I don't quite understand why you're forced to pass through this very new and under documented dynamic metadata for something that should be more easily configurable.

This is what my cfg looks like. Maybe i missed something...

[code]

[2020-12-01 22:00] andrascz commented on #12556
You are defining your limits in the route metadata ssection, but that is different from dynamic_metadata. You need a Lua filter before your rate limit filter to fetch the route metadata and inject it as dynamic metadata for the request.

Something similar to this (we are using it to provide input for actions, but the concept is the same):
[code]

[2020-12-01 22:18] draeron commented on #12556
thanks a lot... i guessed

[code]

[2020-12-01 22:25] andrascz commented on #12556
Great that the workaround works for you!

My proposal is exactly the suggestion you made, just in a bit more formalized form.

[2020-12-01 23:29] mattklein123 commented on #14234
So is the proposal here to have:
1) TCP -> HTTP Post for upstream
2) HTTP filter -> raw TCP (tcp_proxy) decap in place of the router filter? I wonder could this somehow be turned into a terminated "websocket" connection and get most of that for free?

[2020-12-02 00:16] wlhee commented on #14234
Correct, basically we need to set the method to POST and stop setting "protocol: bytestream" header:
https://github.com/envoyproxy/envoy/blob/1c0696770325926cd1498bb0c991ca85aa42b050/source/common/tcp_proxy/upstream.cc#L250-L251

nghttp2 rejects requests when method = POST and protocol header is also set.

My thought was to add a new HTTP filter which overrides the method to CONNECT and also set t

[2020-12-02 00:22] mattklein123 commented on #14234
OK it seems like (1) could just be a config option versus something new if all it needs to do is some header changes?

For (2) I will defer to @alyssawilk who is the expert here, but we already have code that terminates CONNECT and I think also WebSocket, and translates to raw tcp_proxy. I just didn't want us to reimplment that part of the code. If a small filter would do the trick so the normal c

[2020-12-02 00:29] juanvasquezreyes commented on #14153
is there any update on this enhancement?

this is an example of the JWT Token and the group I'm trying to validate in order to grant or deny access
[code]

[2020-12-02 00:46] wrowe commented on #14174
Before I take this further, @htuch (or @lizan) can you point out what I'm doing wrong in attempting to use a select in this emulation of copts for foreign_cc cmake logic below?
https://github.com/wrowe/envoy/commit/edeb9457072c7375675c9f674c4f2ce58fa0d955

If we can work around that, we seem ready to drop nghttp2 exception handling.

My current results are unfortunate, select isn't evaluated;
[cod

[2020-12-02 05:02] dio commented on #14232
I think looking at the envoy debug logs could be very helpful to see what's going on.

Seems like Envoy reaches the service?

[2020-12-02 05:12] davinci26 commented on #13273
Can we close now that #13787 is in? From a code inspection it looks like the tests are not marked as `fails_on_windows` anymore.

[2020-12-02 09:08] rulex123 commented on #14045
I can help out with implementing this if you'd like.

If I understand correctly, we want to add a new `port_value` config to ` config.core.v3.HealthCheck`, and if set this would determine the health check port for any endpoints whose `port_value` in `config.endpoint.v3.Endpoint.HealthCheckConfig` is not configured; any value set at the endpoint level would take precedence over this new option.
If

[2020-12-02 13:45] jmarantz opened #14242 "stats: pre-symbolize 'zone_name' to avoid config or hot-path contention issues."
Currently, every time a route is configured, all worker-threads need to instantiate Router::FilterConfig. This uses the stats symbol table to create a symbol for the zone, which would be fine on startup or even on the main thread. But this happens in all workers, so we really should use a dynamic stat name.

This change is very easy to make, but needs to be done in its own small PR as it does have

[2020-12-02 13:54] alyssawilk commented on #14234
yeah, I think it'll be more work than the in-house PR I saw, because we'll want the full suite of CONNECT integraiton tests running for both CONNECT and POST, and checks on the new HTTP/1.1 implementation plus new corner cases like making sure we handle pipelined tunneling-POSTs in a way we're happy with.
If Matt is happy with it being a config option we could have an optional enum in tunneling co

[2020-12-02 14:22] wrowe commented on #13273
Appears #13787 has resolved, closing.

[2020-12-02 14:22] #13273 closed

[2020-12-02 15:02] nezdolik commented on #14232
Debug log for single request:
[code]

[2020-12-02 15:02] nezdolik commented on #14232
Oh maybe this is hint "no rate limit configuration loaded"

[2020-12-02 15:52] nezdolik commented on #14232
Interesting, when rate limiter starts up, it logs:
[code]
But when i query config endpoint with `curl 127.0.0.1:6070/rlconfig` am getting:
[code]

[2020-12-02 15:54] nezdolik commented on #14232
Oh! All this time i did not notice error in rate limit log:
[code]

[2020-12-02 16:17] nezdolik commented on #14232
After fixing the duplicated descriptor in config, the requests are still failing with:
[code]

[2020-12-02 17:22] nezdolik commented on #14232
The issue is resolved now, had to switch to single node in Docker deployment for Redis (instead of 6 nodes as a cluster) and rate limiting works now :)
[code]

[2020-12-02 17:22] #14232 closed

[2020-12-02 17:58] davinci26 opened #14244 "[Events] Add a Event Wakeup method with socketpair"
*Description*:

The goal is to create a premitive in `source/common/event` that wakes up (schedules) an event using  a socketpair instead of `scheduleCallbackCurrentIteration`. The reason for that is that `scheduleCallbackCurrentIteration` is using ` event_active(&raw_event_, EV_TIMEOUT, 0);` which takes a lock.

See comment in: https://github.com/envoyproxy/envoy/pull/13954#discussion_r533796896

[2020-12-02 17:59] davinci26 commented on #14244
cc @antoniovicente

[2020-12-02 18:38] stevenzzzz commented on #8702
/cc stevenzzzz

[2020-12-02 19:28] ankatare opened #14247 "typo in redis configuration docs"
*Title*: *typo in redis configuration docs*

*Description*: > there is typo in https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/other_protocols/redis#redis-cluster-support-experimental
 For topology configuration details, see the Redis Cluster v2 API reference.
url is given for v3 however it is written as v2 API

optional *Relevant Links*: https://www.envoyproxy.io/docs/envoy/latest

[2020-12-02 19:48] KBaichoo opened #14249 "Expand the area of ScopeTrackedObject usage"
Expand the area of `ScopeTrackedObject` usage.

Currently the `ScopeTrackedObject` is used at the L7 stream level. The mechanism essentially registers that the dispatcher is doing some particular work.

When a Fatal Error occurs on a thread, we invoke several debug actions on the dispatcher that encountered the error, trying to also leverage the `ScopeTrackedObject` (what it was working on at the

[2020-12-02 20:08] mattklein123 commented on #14249
+1 this makes sense to me. I agree that we should be able to track multiple scopes and then just have them all dump at once.

[2020-12-02 20:54] snowp opened #14250 "Investigate reset after end_stream with HTTP over TCP tunneling"
https://github.com/envoyproxy/envoy/pull/14106 introduced some defensive programming to guard against the behavior where the TcpUpstream receives an upstream end_stream followed by a reset. This tracks looking into the root cause and fixing

[2020-12-02 20:56] dio commented on #14232
:tada:

[2020-12-03 00:54] htuch commented on #14174
@wrowe see https://docs.bazel.build/versions/master/configurable-attributes.html#why-doesnt-select-work-in-macros re: the use of `copt_str`.

[2020-12-03 00:56] #3458 closed

[2020-12-03 02:50] orangeji11 commented on #10552
@popozy hi,i meet this question,too.
Have you solved it？

[2020-12-03 06:30] wlhee commented on #14234
Thanks, I am open to add an enum to tunneling config.

I wonder what would be decapping side? should I add a dedicated HTTP filter or bundle the logic in an existing filter?

[2020-12-03 11:49] #14065 closed

[2020-12-03 12:12] mk46 commented on #12644
@qiwzhang Could you please suggest where to start? Similar to jwks_cache.h/cc

[2020-12-03 14:02] KBaichoo commented on #14249
/assign @KBaichoo

[2020-12-03 15:38] popozy commented on #10552
pity for us, I didn't found a effective solution to solve it. I found that the proposal to support envoy project on arm arch. was  not an urgent thing.

[2020-12-03 17:24] mattklein123 commented on #14234
This is the part that I would discuss with @alyssawilk. It seems like this could also be a config option that just translates POST to CONNECT? Otherwise yeah I think we need some kind of small filter that effectively does this.

[2020-12-03 17:31] moderation commented on #9958
Announced at re:invent December 2020 - AWS Distro for OpenTelemetry - https://aws-otel.github.io/

[2020-12-03 17:43] wlhee commented on #14234
I would think the filter does three simple things:

1. overrides the method header from POST to connect
2. adds "protocol: bytestream" header
3. a configuration that control the filter to do the above, for example, a configurable header match. Same config on the encap tcp proxy side.

[2020-12-03 17:44] #11044 closed

[2020-12-03 18:07] mattklein123 commented on #14234
The only part that I don't know about is whether a filter can actually convert POST to CONNECT and have it work. You might have to do an internal redirect but I'm not sure. @alyssawilk will know the details.

[2020-12-03 18:11] alyssawilk commented on #14234
If Matt's OK with config, I think the same way we allow CONNECT as a one off in upgrade configs, we can allow POST
Again it'll need some extra docs and testing, but start there and throw something my way?

[2020-12-03 18:13] mattklein123 commented on #14234
Yeah I think for this config seems reasonable.

[2020-12-03 18:22] Chuongv opened #14260 "Update max_stream_duration dynamically"
# Allow ability to update max_stream_duration dynamically

## Description

We want to do some work at the start of the decodeHeaders of our downstream request and not count it against our `max_stream_duration`. We can dynamically update the request timeout by setting `x-envoy-upstream-rq-timeout-ms` in our decodeHeaders to account for this. However the timer is stopped after the request decoder fi

[2020-12-03 18:31] wlhee commented on #14234
Thanks for the suggestion, so I will start with:

1. add configs to the tcp proxy
2. add a new small filter
3. add integration tests

[2020-12-03 18:51] antoniovicente commented on #14249
Tracking a stack of ScopeTrackedObjects makes sense to me.  I would suggest changing the fatal action debug interface to take a list/vector of tracked objects rather than invoking the interface for each object in the stack.

[2020-12-03 18:54] antoniovicente commented on #14249
Another possible question is if it would be possible to dump the HTTP context when there's a crash at the connection level.  This could be possible if there was a way for objects to register trackers with their parent object.  Note that there would have to be some indirections in the ScopeTrackedObjects registration, so that an HTTP context that is added or removed after connection processing star

[2020-12-03 19:44] qiwzhang commented on #12644
The easier way is to add token cache feature into JwksCache [class](https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/http/jwt_authn/jwks_cache.h#L60).
The  the class name may be confusing,  we could rename it to "Cache".

Add two functions:
[code]
class TokenResult,  may need to store
token payload, payStruct, etc. for successful token,  or failure status

[2020-12-03 19:56] nitgoy opened #14264 "Add delay feature to the local rate limit filter"
*Title*: *Add delay feature to the local rate limit filter*

*Description*:

I believe the RLS service called by the rate limit filter can implement a delay on its end but it would be nice to have that functionality in Envoy especially for the local rate limit filter but could be shared by the global rate limit filter as well.

[2020-12-03 20:51] sunjayBhatia commented on #13492
@lodejard any luck?

[2020-12-03 22:23] nitgoy opened #14268 "Rate limit: add soft limiting capability to local rate limit filter"
*Title*: *Add soft limiting capability to local rate limit filter*

*Description*:

I'm not sure if we can use the signals from resource monitors to be used as a sign of under stress but it would be ideal. That way the rate limit filter can be hooked with various resource monitors such as memory, connections, cpu, network, etc.
Alternatively, we can have a separate config that can be compared agai

[2020-12-03 22:23] phlax opened #14269 "Some of the docker images referred to in the docs are no longer available"
### description

some of the docs refer to images that arent available on dockerhub, eg:

https://www.envoyproxy.io/docs/envoy/v1.14.0/start/start#quick-start-to-run-simple-example

[2020-12-03 22:49] #13634 closed

[2020-12-03 22:50] htuch commented on #10471
Feedback has been incorporated in https://docs.google.com/document/d/1HbREo7pv7rgeIIjQn6mNpySzQE5rx2Yv9dXm5NqR2N8/edit#. I'm wondering if there is anything else left before we can turn this into plan-of-record and start building out metadata/tooling for enforcement?

[2020-12-04 01:43] derekargueta commented on #5155
Confirmed all tests pass with the new llhttp update 🎉 reviving the abstractions I initially had for supporting both parsers through a command line flag

[2020-12-04 07:51] moderation commented on #5155
Woohoo

[2020-12-04 11:37] neonelect opened #14272 "Error running the example from Documentations"
*Title*: *Error parsing envoy config from documentation*

*Description*:
I'm trying to run the EDS example from https://www.envoyproxy.io/docs/envoy/latest/configuration/overview/examples

Envoy gives me an error:

my config is just copy-paste from the exmples:
[code]

I've only changed the port at the end

[2020-12-04 12:03] phlax commented on #14272
@neonelect i think the problem  is that there is incorrect indentation on `load_assignment`

it should be a child of `upstream_connection_options`

could you test and confirm that fixes the issue ?

if it does - feel free to PR  - or i can

[2020-12-04 12:03] phlax commented on #14272
im wondering why it isnt picked up by config tests

[2020-12-04 12:35] phlax commented on #14272
Testing locally - i also see this error

the problem seems to be with
[code]

Checking the docs there are quite a few occurrences of this and they seem to fail with the same problem

[2020-12-04 12:41] phlax commented on #14272
Im also  checking configs in the `/configs` dir that use `HttpProtocolOptions` and they are also failing locally

[2020-12-04 12:43] phlax commented on #14272
seems related to changes here https://github.com/envoyproxy/envoy/commit/7554d61bccf136638bdfb383c10d049dc8bd3790

[2020-12-04 12:47] phlax commented on #14272
@neonelect pull the latest docker image and it should work

[2020-12-04 12:54] neonelect commented on #14272
Ok checking

[2020-12-04 13:01] neonelect commented on #14272
Now:

type.googleapis.com/envoy.api.v2.ClusterLoadAssignment: node 'id' and 'cluster' are required.

[2020-12-04 13:04] phlax commented on #14272
you need to either:

- add to envoy start command
- add to config

[2020-12-04 13:06] phlax commented on #14272
see here https://www.envoyproxy.io/docs/envoy/latest/start/quick-start/configuration-dynamic-filesystem#node

[2020-12-04 13:17] neonelect commented on #14272
Works :) Thanks!!

[2020-12-04 13:17] #14272 closed

[2020-12-04 17:02] jhernand opened #14277 "JWT examples in the documentation don't use the mandatory http_uri.timeout field"
*Title*: JWT examples in the documentation don't include the mandatory http_uri.timeout field

*Description*:
The examples in the documentation of the JWT authentication filter don't include the mandatory http_uri.timeout field and the tls_transport field that is needed to fetch signature validation keys from HTTPS servers.

[2020-12-04 18:07] snowp opened #14281 "Specify -Wdeprecated-declarations for proto targets"
The deprecated proto fields are generating a whole lot of warnings:

[code]

We should set the `-Wdeprecated-declarations` for proto targets to suppress this warning.

[2020-12-04 20:11] nitgoy commented on #13513
I'm leaning towards using the filter chain match based on SNI after learning that [filter chain only update](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/listeners/network_filter_chain#filter-chain-only-update) don't affect the entire listener but only the filter chains updated.

Follow up question: is an update to a filter considered a filter chain update? Let's say you update

[2020-12-04 21:32] hsw48 opened #14285 "ForbiddenException calling AWS public or private API through Envoy"
I have a public AWS API set up that returns a 403 Forbidden response when called through Envoy. I can access it successfully going directly from Postman and through my API Gateway when bypassing Envoy. So the issue seems to be with how Envoy is making the request.

This API is meant to be private, but was made public to debug why it was unaccessible even from within the VPC. It turns out to not ev

[2020-12-04 21:38] htuch opened #14286 "Deflake xds_integration_test for Windows release builds"
#13688 enabled xds_integration_test for Windows, but this appears to be flaking, see:

* (Presubmit) https://dev.azure.com/cncf/envoy/_build/results?buildId=59693&view=logs&j=4afecb4c-71c7-5b5c-ab99-a70ed4c927ad&t=4cd2fc51-3314-5d69-4df3-f765ae0c08dc
* (Postsubmit) https://dev.azure.com/cncf/envoy/_build/results?buildId=59350&view=logs&s=27eddb93-7805-576c-c80f-37b2176e40f7&j=b840a642-5ff3-5357-2e

[2020-12-04 23:07] kyessenov opened #14291 "logs: add expressions to textual logs"
Consider adding CEL-based expressions to stdout loggers either as an extension to file access logger or a separate logger. The expressions could be passed as parsed ASTs or raw text to be parsed locally with ANTLR.

There are two benefits:
- conditional expressions (log this or that based on some clause);
- consistency with other CEL-based integrations, e.g. rbac or istio's telemetry customizatons

[2020-12-05 04:25] yanjunli76 commented on #14208
Hi @lizan @PiotrSikora, thanks for your reply.

Do you think if we can use an external Auth server to verify the client certificates, instead of verifying the client certificate by envoy during SSL handshake?

The message sent to the external Auth server can include the peer certificate (https://www.envoyproxy.io/docs/envoy/latest/api-v3/service/auth/v3/attribute_context.proto#envoy-v3-api-msg-ser

[2020-12-05 06:41] li-guest commented on #13796
Same error in Mac, do you have other solution? @aakatev

[2020-12-05 10:05] ssimard24 commented on #14026
Any movement on this topic? Using Envoy 1.3, we have just released a change to use multiple providers for JWT and we are also seeing constant memory leak:

apiVersion: v1
kind: ConfigMap
metadata:
  name: presence-envoy-config
  namespace: __DEPLOY_KUBERNETES_NAMESPACE__
data:
  envoy.yaml: |
    admin:
      access_log_path: /dev/null
      address:
        socket_address:
          address: 0.0.

[2020-12-05 22:09] aakatev commented on #13796
@li-guest I gave up trying to build on Mac. The solution is digging into [this script](https://github.com/envoyproxy/envoy/blob/master/ci/do_ci.sh). It was not worth it for me, since the build agents used for Envoy builds are running Linux.

[2020-12-06 05:35] qiwzhang commented on #14026
This is a lot of memory leak, from 15MB to 800MB in two days.  What is your traffic qps?

Could you ping point the cause:
1) remove lua filter, but keep jwt filter, or even remove both filters.
2) if indeed it is jwt,  then just keep one provider.

Thanks

[2020-12-06 09:02] caitong93 opened #14295 "hot restart: child should wait sockets to be created when reuse_port is enabled"
*hot restart: child should wait  when reuse_port is enabled*

*Description*:

In https://github.com/envoyproxy/envoy/blob/release/v1.16/source/server/server.cc#L569 , if reuse_port is enabled, `listener_manager_->startWorkers(*worker_guard_dog_)` does not wait actual sockets to be created.  it's possible when parent stops listeners, child listeners are not listening.

*Repro steps*:

See repro ste

[2020-12-06 13:02] VirajSalaka commented on #14233
As per [w3c](https://fetch.spec.whatwg.org/#cors-preflight-request), I think we can separate the preflight request from other Options calls via `Access-Control-Request-Method` and  `Access-Control-Request-Headers` headers.  Rather than allowing the request to proceed to the next filter, we could simply stop from there and reply back with 2XX response code. (204 most likely)

https://github.com/env

[2020-12-07 01:31] dio commented on #14295
cc. @KBaichoo

[2020-12-07 01:36] dio commented on #14285
For my understanding:

You have:

1. client -> API Gateway
2. client -> Envoy -> API Gateway

and you fail only when doing #2? Could you compare what are being sent from client to API Gateway vs envoy to API Gateway?

[2020-12-07 05:31] mattklein123 commented on #14295
This is true, and I'm surprised no one has reported this before, but I guess reuse_port has not been commonly used with hot restart. We should not start parent drain until the workers are fully running. I will assign this to myself and try to take a look at some point unless anyone gets there first.

[2020-12-07 05:36] #14247 closed

[2020-12-07 05:43] mattklein123 commented on #14281
I noticed this also. I took a very quick look and I thought we already do disable it when compiling cc libraries:
https://github.com/envoyproxy/envoy/blob/e7323c3a5ff9f00d2a97af7788bb654952ced7d1/bazel/envoy_internal.bzl#L17

But maybe this is not used when compiling proto generated code? I find that strange though.

cc @lizan @htuch?

[2020-12-07 05:54] mattklein123 commented on #14196
This doesn't exist today.

[2020-12-07 05:55] mattklein123 commented on #14201
Historical reasons. You can remap it using the local reply mapper if you want.

[2020-12-07 05:59] mattklein123 commented on #14233
cc @dschaller

[2020-12-07 06:02] mattklein123 commented on #14260
Seems reasonable to allow this to be modified by a filter somehow. Feel free to propose something concrete!

[2020-12-07 06:03] mattklein123 commented on #14264
I think this is a reasonable request, though I would personally rather see this get built into a generic WAF filter that supports multiple actions (tar pit being one): https://github.com/envoyproxy/envoy/issues/7918

[2020-12-07 06:05] mattklein123 commented on #14268
Interesting idea. I wonder if we could use a bunch of the scalable timer work that was implemented by @akonradi to also scale local rate limits?

[2020-12-07 06:05] mattklein123 commented on #14269
@phlax is this due to the DockerHub changes? This seems bad but I'm not sure there is much we can do about it?

[2020-12-07 06:07] mattklein123 commented on #14291
@kyessenov can't this just be a new access log filter that is a CelFilter?

[2020-12-07 07:12] phlax commented on #14269
it could be - might be due to their new retention policies

if we know why the images have disappeared we could maybe do something about it - like republish them

[2020-12-07 08:05] dio commented on #14285
I think @lavignes from AWS has an answer here: https://envoyproxy.slack.com/archives/C78M4KW76/p1607119841154300?thread_ts=1607118102.154200&cid=C78M4KW76. Thank you @lavignes!

[2020-12-07 08:30] wangfakang commented on #14215
Now it can be solved by `KEYS_SUBSET` fallback policy,  What better way? Such as `NEXT_SUBSET`.
[code]

[2020-12-07 08:33] wangfakang commented on #14201
ok, thx. And will later versions solve this problem?

[2020-12-07 09:32] bjaglin commented on #14026
@qiwzhang sorry for the lack of updates.

1. It's very hard for us to try with different QPS unfortunately as we don't have a true staging environment, and the envoy instances are behind a load balancer we don't control (AWS ELB).
1. I have been able to reproduce the problem on Envoy 1.16.1.
1. Disabling the `jwt_authn` filter does make the problem disappear.
1. Our use-case requires `allow_missin

[2020-12-07 10:09] hzxuzhonghu opened #14299 "Support cached ratelimit"
*Title*: *One line description*

*Description*:

[optional *Relevant Links*:]

[2020-12-07 10:09] ankatare opened #14300 "incomplete comment in script file"
*Title*: *Incomplete comment found in script proto_format.sh*

*Description*: incomplete comments in proto_format.sh script it says "# Generate //versioning:active_protos."
                       However it produces both active and frozen_protos as well.
                       url: https://github.com/envoyproxy/envoy/blob/master/tools/proto_format/proto_format.sh#L27

[optional *Relevant Links*:]

[2020-12-07 10:16] ankatare commented on #14300
though it is very trivial bug to report but i thought it should be corrected for clarity of code.

[2020-12-07 12:50] wbpcode commented on #14161
I think it's valuable. Sometimes we do need to do some extra match to decide if we need to make a flow control.
If the community approves, perhaps I can complete it.

[2020-12-07 14:45] mk46 commented on #12644
@qiwzhang Thanks!. I've some quick questions.

Needs to add in JwksData or in JwksCache class?

Could we use ::google::jwt_verify::Jwt instead of TokenResult?

[2020-12-07 15:01] akonradi commented on #14268
This sounds like the inverse use case for the scaled timers: as the load increases, the "allow next request" timeout should go up, not down. I don't know how the rate limiting is implemented though, so there might be an opportunity I'm missing. If not, we should still be able to use the scaling overload action trigger to produce a load factor percentage, and use that to change the rate limit timeo

[2020-12-07 15:51] KBaichoo commented on #14295
IIUC, this has been a latent bug for a while. The issue is that there's no synchronization between the sockets actually being created in the child and the parent draining traffic, so it's possible that the parent drains, but the children aren't ready **bad things** could happen to the traffic.

I don't think the change to `startWorkers()` that I made should really affect this, since it I just swap

[2020-12-07 16:41] snowp commented on #14281
I don't think we pass `envoy_copts` to the API targets, just the regular `envoy_cc_library` targets. I'm guessing there's just some target that needs to be updated to include `envoy_copts` (or a different set of flags, not sure).

[2020-12-07 16:56] jkendzorra commented on #5769
@gsagula @mattklein123 is there a way of selectively disabling a particular instance of ext_authz in a filter when multiple configurations have been stacked? @carlosmayer did you successfully spend further time on this?

[2020-12-07 17:16] NomadXD commented on #10422
@thomas1984 Thanks for the reply and sorry I didn't have time to check for couple of weeks. I tried that but still no luck. I did the following steps.

[code]
I am getting the following error.

[code]
I think clang doesn't get configured and thats why there's a gcc error there. Any idea ?

[2020-12-07 17:26] mattklein123 commented on #14201
No, I doubt we will change the default here as I don't think the churn is worth it. HTTP status codes are somewhat arbitrary across the internet to be honest.

[2020-12-07 17:27] mattklein123 commented on #14299
Yeah I've thought about this before and I agree this would be nice to have. One interesting thing to think about would be how to combine the local rate limit filter and global rate limit filter depending on the use case.

[2020-12-07 17:29] mattklein123 commented on #14161
The goal here should be to use the new generic matching support that @snowp is working on. I think we are making good progress on that.

[2020-12-07 17:29] mattklein123 commented on #14268
Yeah I was mostly just suggesting that the scaling infra could be used for this as it sounds pretty similar.

[2020-12-07 17:32] mattklein123 commented on #14281
It seems like a bug that we don't use envoy_copts to compile the proto targets?

[2020-12-07 17:54] qiwzhang commented on #12644
1) in JwksData, so it is a per-provider cache.  it is fine to separate token cache by provider
2) We could save Jwt struct ( the parsed jwt ) into cache for a good token.  For a bad token, we also need to store `Status`

Thanks

[2020-12-07 19:15] davinci26 opened #14307 "Remove memory allocation in Win32 WatcherImpl::directoryChangeCompletion"
In `WatcherImpl::directoryChangeCompletion` we allocate a `Buffer::OwnedImpl` to call `ioHandle` `write`.

This should be changed to `writev` to prevent memory allocation or we should implement and use #14244

[2020-12-07 19:15] davinci26 commented on #14307
cc @envoyproxy/windows-dev

[2020-12-07 21:11] antoniovicente commented on #13933
What if the negotiated number of streams is different for every upstream connection created to a specific endpoint?

[2020-12-07 21:21] alyssawilk commented on #13933
That's fine - the ALPN pool already adjusts the per-connection limits on connection establishment (in that case, max streams for H2, 1 for H1) so it shouldn't be different to adjust the per-connection limits for H2 to the min of (pool-wide concurrent streams cap, settings negotiated cap)

[2020-12-07 21:26] htuch commented on #14281
The copts used by the APIs come from `api/bazel`, which, for reasons of `data-plane-api` mirroring, was part of the standalone `api/` tree. We should probably push these options there. It's possible also, with some Bazel magic, to append envoy_copts during WORKSPACE inclusion.

[2020-12-07 21:28] mattklein123 commented on #14281
This might be a better option but I will leave it to you build gurus to sort out. :)

[2020-12-07 22:22] akonradi commented on #11427
From discussion on #14290: Should we consider scaling the drain timeout for HTTP connections? From Antonio:

[2020-12-07 22:34] PiotrSikora commented on #5355
Per the chat today, we're going to un-deprecate `bind_to_port` and `use_original_dst`.

cc @tbarrella

[2020-12-07 22:48] randavidovitz commented on #6486
@markschmid are you sure that the HOST is not manipulated ?

[2020-12-07 23:25] nmalika5 commented on #5677
Hi @PiotrSikora , I ran into the same issue recently. I'm using Envoy 1.12 as an edge proxy to terminate TLS. It's powered by LDS grpc server that dynamically retrieves TLS certificate and builds a listener snapshot. The issue I observed recently is that in case if one of the certs is corrupted, Envoy starts error-ing out with this following error:

`Failed to load private key from <inline>` and i

[2020-12-07 23:38] htuch opened #14309 "alt_stat_name as a standardized observability label for clusters"
Currently, `Cluster` has an `alt_stat_name` field that is used for stats only. It seems that this would be useful for both tracing and access logs (to the extent that service names appear that at all). This allows for a semantically meaningful label to be consumed by monitoring and humans, regardless of the resource name (which might be reflecting addressing or config pipeline artifacts, e.g. when

[2020-12-07 23:47] htuch opened #14310 "DNS resolver as an extension point"
We currently have c-ares and Apple iOS DNS resolver support as compile time options. We might also be interested in a site-specific DNS resolver library. I think it's reasonable to make this a standard extension point.

@junr03 since you were last digging into this, any thoughts on whether it would be feasible to accommodate the various DNS resolvers this way?

CC @yanavlasov @antoniovicente @asra

[2020-12-07 23:55] htuch commented on #11967
FWIW, we're starting to see the "convert the proto to text and then hash it" show up as non-trivial in config update profiles.

[2020-12-08 00:11] nitgoy commented on #14264
Regarding WAF, what if the action needs to be taken based on the rate of requests? That means you might need to duplicate the logic of the rate limit filter in WAF. Or did you mean the rate limit filter's decision could be hooked to WAF filter which can then take a appropriate action? IMO that could introduce a lot of coupling between the filters but would be worthwhile if a lot of WAF actions are

[2020-12-08 00:16] junr03 commented on #14310
It would certainly be feasible. @mattklein123 and I discussed it somewhere  (I am trying to find where) when I was adding the Apple Resolver, and decided for the current setup for expediency. However, there aren't any **major** technical reasons why the resolvers couldn't be formalized as an extension point. In fact, it would help clean up configuration that doesn't apply to all resolvers.

Resolv

[2020-12-08 01:23] rgs1 commented on #13737
Hmm I was just debugging a filter used a long with direct responses and noted that:

[code]

after a direct response in a route match, encodeHeaders() for the filter still ran.

So filter writers should explicitly check if they are within a `route->directResponseEntry()` before sending yet another local response?

cc: @mattklein123

[2020-12-08 01:43] htuch commented on #14281
Actually, I think PGV creates this rule, https://github.com/envoyproxy/envoy/blob/master/api/bazel/api_build_system.bzl#L125.

[2020-12-08 02:32] linsun commented on #13868
subscribe

[2020-12-08 03:01] thmic opened #14313 "build envoy-1.16 ld.gold: fatal error: --build-id argument '0xHEAD' not a valid hex number"
build env：
Ubuntu 16.04.4 or  Ubuntu 18.04.5
envoy-release-v1.16
gcc-9/g++-g
bazel 3.4.1
-------------
build envoy-v1.16 :
bazel build -c opt //source/exe:envoy-static
-------------
details:
root@50f33cae0dfa:/envoy-filter-example# bazel build -c opt //source/exe:envoy-static  --cxxopt="-Wno-sign-compare" --cxxopt="-Wno-error=maybe-uninitialized"
INFO: Build option --copt has changed, discarding a

[2020-12-08 07:06] drawing opened #14316 "subset_selectors: fallback policy support healthy threshold"
*Title*: *subset_selectors: fallback policy support healthy threshold*

*Description*:

When using the subset fallback capability, is it possible to add an option fallback_healthy_threshold, if the number of healthy nodes in the current subset is lower than the threshold, the fallback will be forced, for example

[code]

Subset uses the site and area to filter the upstream nodes. When the current

[2020-12-08 07:37] lizan commented on #14291
Yeah this could be a access log filter

[2020-12-08 07:38] dio commented on #14316
cc. @snowp

[2020-12-08 12:03] snowp commented on #14316
This wouldn't be that hard to get working in some fashion, but the presence of multiple priorities etc., make it trickier to come up with a great solution that doesn't have odd edge cases. For example, if the primary subset has two priorities, and all the unhealthy hosts are in the second priority that would normally get 0 traffic, do you still want to fail over?

It kinda seems like we'd want thi

[2020-12-08 13:11] Keramblock commented on #8944
Is there any news about it? We need that too.

[2020-12-08 14:29] htuch opened #14320 "Static/dynamic analysis of data plane exceptions on worker threads"
In general, there should be no exceptions on worker threads, and they should only happen on the main thread. To validate this at runtime (and during test runs which should catch most instances), I propose we replace all:
[code]
in Envoy with
[code]
where `envoy_try` is something like:
[code]
This bug tracks this proposal and implementation work. There's probably a number of data plane exceptions w

[2020-12-08 14:40] alyssawilk commented on #14320
I like it, but wouldn't we need an integration test to catch the failure?  Maybe swap it for ENVOY_BUG so if there are any slip-ups they're caught (without crashing) in prod?

 If someone is willing to doc up the current use cases, we could maybe run a fixit, or encourage new Envoy devs to pick them up - things like fixing Utility::getResponseStatus would be good intro projects to Envoy

Do you th

[2020-12-08 14:47] snowp opened #14322 "Noop HTTP Filter"
When using ECDS to provide a filter configuration, it would be helpful to be able to provide a noop filter that would act as a passthrough. This would allow management servers to respond with a noop config most of the time and replacing it with another filter whenever necessary.

With the unified matching work and support for skipping filter execution this would be possible to express via an alway

[2020-12-08 14:49] snowp commented on #14322
Another option would be to handle an ECDS response that doesn't contain a filter config as indicating that a noop filter should be used, though this seems less explicit.

[2020-12-08 14:51] htuch commented on #5355
@costinm @PiotrSikora can you folks summarize the key issues around why Istio has been unable to move to non-virtual listeners? Since we're making a fairly big exception here, it would be good to record for posterity why this deprecation didn't work as planned.

[2020-12-08 15:16] VirajSalaka opened #14326 "Ext-Authz: Perform clear route cache based on specific headers."
*Description*:
The concern here is as same as mentioned in #12195. In my usecase, I would like to make the routing decision based on a specific header (using `cluster-header` property) for some routes only. And those headers would be injected from the external Auth filter. To make this work, we need to set the `clear_route_cache` property to true at the moment. As per the current design, the cache

[2020-12-08 15:31] htuch commented on #14320
Why wouldn't existing integration tests catch many of the failures? The only issue is that coverage is often in unit tests vs. integration tests, but it's probably not in scope to increase integration test coverage to 100%. Agreed on the ENVOY_BUG instead of ASSERT.

[2020-12-08 15:43] alyssawilk commented on #14320
We only throw on unexpected/invalid  behavior and those corner cases are frequently unit tested rather than integration tested.  I'd be pleasantly surprised if even with ENVOY_BUG it caught even half the issues in CI, especially after a quick scan of where we throw exceptions.

[2020-12-08 16:02] EItanya commented on #14119
Could this be a result of this [capture](https://github.com/envoyproxy/envoy/blob/8188e232a9e0b15111d30f4724cbc7bf77d3964a/source/extensions/clusters/aggregate/cluster.cc#L94). Would this be easily transitioned to a `shared_this`?

[2020-12-08 16:03] htuch commented on #14320
The aim of wrapping the `try`, vs. the throw, is that we catch every site that might potentially flow, rather than wait until we actually see exceptions.

[2020-12-08 16:32] alyssawilk commented on #14320
oh yeah, you're right, I totally misread this.

So to do this, we'd have to remove the catch we still have in the codec dispatch.  I think that's pretty dangerous unless we have plenty more safeguards making sure utilities (like the example I posted) don't throw.  Alternately we could leave in that catchall, but I think it mostly defeats the purpose if we still have a catchall catch since I think

[2020-12-08 16:33] htuch commented on #14320
After some offline discussion with @alyssawilk the goal here is not to remove top-level `try`, but rather to look for localized uses of `try`/throw` patterns, e.g. in utilities that indicate a failure path by throw.

Another suggestion here is to write a CodeQL scanner that ensures that every `throw` has an enclosing `try`, and we can mark top-level `try` blocks (e.g. around dispatch) as indicativ

[2020-12-08 16:46] htuch commented on #14320
An example of this class of data plane exception use is https://github.com/envoyproxy/envoy/blob/8188e232a9e0b15111d30f4724cbc7bf77d3964a/source/common/network/io_socket_handle_impl.cc#L283. Ideally we can identify and fix these cases and stop them creeping back in.

[2020-12-08 16:46] mattklein123 commented on #14309
I think it would be fine to use `alt_stat_name` for general observability naming and tag the field for a name change in the next major version. I'm not sure it's worth the churn to change the name now.

[2020-12-08 16:56] antoniovicente commented on #14320
Seems like a good direction.  Can we also have a clang-tidy check for use of try?

[2020-12-08 17:21] alyssawilk commented on #14320
I'm not sure how we'd do that if we continue allow try to be used for control plane code (hence why I suggested splitting files out)  Or maybe it would be possible to just say new data plane code should avoid try/catch as well, and blacklist new instances, but I think that'd be more controversial.

[2020-12-08 17:23] mattklein123 commented on #14281
Yeah I saw that. Would it be best to just plumb through being able to pass in copts into those rules and then we can pass the main Envoy ones in? We really should be compiling the protos with the same compile options as the rest of the code.

[2020-12-08 17:24] mattklein123 commented on #14119
I'm not sure. I don't see why that would be broken when that is what it was before, but I haven't debugged yet.

[2020-12-08 17:30] snowp commented on #14320
Yeah without some delineation between "this code is ok to run on the data plane" it's hard to prevent accidental usage of throwing utility functions. It's very easy to throw in something like a status code conversion function that appear innocent in code review but that was actually intended for use within a try-catch.

Splitting the code base between data/control plane seems a bit heavy handed (w

[2020-12-08 17:30] htuch commented on #14320
Control plane uses happen on the main thread (at least those that should be allowed to throw), data plane on worker threads. So, if we assert based on TID we can catch this.

I agree that new data plane code should avoid try/catch, the main issue is around utilities and nested stacks. Better structure as well would help here, but it will be a lot of work to get to the point that we could use thing

[2020-12-08 17:32] mattklein123 commented on #13737
I think running encodeHeaders() for a direct response makes sense. How is this different from any other response that is received from upstream from the perspective of your filter?

[2020-12-08 17:33] mattklein123 commented on #14310
Yes I agree making the DNS resolver a full extension would be good.

[2020-12-08 17:34] EItanya commented on #14119
Fair point. For what it's worth we've been seeing a crash in [Istio](https://github.com/istio/istio/issues/28620) from the same pointer

[2020-12-08 17:34] mattklein123 commented on #14264
I think we could use metadata to allow other filters to cause WAF actions and chain them this way.

I would rather just build the WAF filter even if initially it just does one thing and we allow actions to be triggered by metadata from other filters. But I think it would be good to do a short design proposal.

[2020-12-08 17:36] mattklein123 commented on #14322
Per your point, if the config is optimized down to always skip, can't we just remove the filter entirely?

[2020-12-08 17:39] mattklein123 commented on #13513
Yes. A better long term solution is going to be to implement ECDS for network filters. This is needed for a lot of different scenarios so I'm sure someone will implement this at some point but I'm not sure when. cc @kyessenov

[2020-12-08 17:41] alyssawilk commented on #14320
" So, if we assert based on TID we can catch this."

where "this" is new try blocks being added, not new exceptions being added, right?.  I don't object, but I'm convinced it'll catch enough to be worth the churn.

If we agree that new data plane code should avoid try/catch, I think check_format or clang tidy checks which disallow try/catch by default but could be overridden for legit reasons woul

[2020-12-08 17:47] rgs1 commented on #13737
When running encodeHeaders you could, in theory, still return a local response and decide to ignore the upstream response from your filter. Whereas from a DR it's too late, because the local response already happened after the decodeHeaders() calls (per the above log)... no?

[2020-12-08 17:48] #14186 closed

[2020-12-08 17:51] mattklein123 commented on #13737
If that's the case I would call that a bug and not expected behavior. It seems like it should be able to modify a local response of a filter that ran before the current filter.

[2020-12-08 17:52] htuch commented on #14320
How do we know if a utility is safe to use on data plane or control plane? I think this is the crux of the problem.

[2020-12-08 18:05] GoelDeepak commented on #6767
@jpeach @lunighty Is there a plan to have a fix in Envoy code or do you think the current approach with EnvoyFilter is sufficient?

[2020-12-08 18:12] alyssawilk commented on #14320
How many utilities have local try-catch blocks, and wouldn't be caught by the audit you'd need to do to land that macro in the first place?  I'm guessing not many, even without restricting what we look at to not-obviously based utilities..  Based on my knowledge of what's integration tested I'm dubious there'd be value add beyond the audit and fix_format checks.  I'm not going to block the PR if y

[2020-12-08 18:20] htuch commented on #14320
I think 100% of them would be caught, that is the plan outlined today. The idea is to provide a regression framework for new ones.

I think it's becoming clear that a combination of things would make sense here. Worker thread ENVOY_BUG for both try/throw uses. CodeQL checks to verify that all throws are in fact caught (and not by the top-level dispatch). Annotations at a function level indicating

[2020-12-08 18:46] nitgoy commented on #14264
Is there an approximate ETA for the WAF filter? Asking since I don't see any updates on the WAF issue/PR. The WAF design would also need to include triggers from filter metadata - I didn't see that in the proposed design/proto of that filter.

[2020-12-08 18:56] mattklein123 commented on #14264
There is no ETA. It needs to get worked on.

[2020-12-08 19:17] alyssawilk commented on #11439
Hm, this makes me wonder if we should have required that one of
explicit | downstream | alpn be configured when using the new protocol options.
I think it's new enough we could force one of them to be set.  It wouldn't necessarily prevent misconfiguration but it would at least make it visible at a glance that the cluster had http/1 config vs http/2 config.
@mattklein123 @htuch  think it's worth it

[2020-12-08 19:28] htuch commented on #14320
@chaoqin-li1123 has kindly volunteered to do some initial work on this issue.

[2020-12-08 19:32] chaoqin-li1123 commented on #14320
Thanks! I will start with the thread id assertion macros and try to replace the raw try catch block one by one.

[2020-12-08 19:57] nitgoy commented on #14264
I can create a simple WAF filter that does just this. Then someone can actually add the other functionalities of WAF outlined [here](https://github.com/envoyproxy/envoy/pull/11386). How does that sound? cc @kprakasam

[2020-12-08 20:00] nitgoy commented on #14268
I'm not familiar with the scaling infra. Can you point to its documentation/design?

[2020-12-08 20:09] mattklein123 commented on #14264
Yup that would be great.

[2020-12-08 20:23] nitgoy commented on #13513
What about http filters? Is it the same for them since http connection mgr is a network filter and any update to http filters will construe as an update to the http connection network filter?

[2020-12-08 20:26] akonradi commented on #14268
I think what you want is to be able to use a range trigger to set an overload action's value. https://github.com/envoyproxy/envoy/pull/12352 added the range trigger, and https://github.com/envoyproxy/envoy/pull/13120 shows how you can use it with an existing overload action. There's a scaled timer infra that is built on top of that, but I don't think you want that since it scales in the wrong dire

[2020-12-08 21:27] kyessenov commented on #13690
Confirmed this is not happening on master (istio/proxy and envoy). Extensions usually assumed eternal root, so they need to be fixed to clean up properly on termination. For example, telemetry should be pushed or it gets dropped.

[2020-12-08 21:44] mattklein123 commented on #13513
Yes, but HTTP filters already support ECDS if you can make use of that.

[2020-12-08 22:30] tbarrella commented on #5355
It looks like `bind_to_port` is a hidden field that has been part of `DeprecatedV1` ever since it was introduced to the proto API (https://github.com/envoyproxy/data-plane-api/pull/143). Just to make sure, it should be exposed and moved to the top level of config.listener.v3.Listener as in #329? Does this need extra API approval?

Undeprecating `use_original_dst` will cause `hidden_envoy_deprecate

[2020-12-08 23:42] howardjohn commented on #5355
I think there are a few primary issues:

1) Draining granularity - this is already fixed by what Yuchen did to make draining per filter chain
2) Time + Risk - we simply haven't had the time to migrate everything over, and when we do it will be a massive change that introduces substantial risk, which also likely means two code+testing paths for quite some time
3) I suspect, but have not proven eith

[2020-12-08 23:52] htuch commented on #14309
Sounds good. I imagine we should set a runtime flag to control its use in tracing/logs, in case this breaks anyone, but we can default it true?

[2020-12-09 00:05] htuch commented on #14281
I think the easiest way to do this might be to factor out compile options to its own .bzl, and then copy it in with the repository rule in https://github.com/envoyproxy/envoy/blob/61d80ba86c1d9e01072a1d9b14e8b84c4229b919/bazel/api_binding.bzl#L15.

[2020-12-09 00:09] htuch commented on #11439
It would definitely be clearer, would this be a breaking change though?

[2020-12-09 00:39] mattklein123 commented on #14309
Sure runtime flag sgtm but IMO we can default it to on as you say.

[2020-12-09 00:41] mattklein123 commented on #11439
Yeah it sounds like a breaking change to me. Often gRPC would be configured as prior knowledge H2 and plenty of time without TLS/ALPN, so it seems like just checking for H2 would be great?

[2020-12-09 02:58] kyessenov commented on #13929
@PiotrSikora I hope this is not stale because istio filter uses and depends on it :)

[2020-12-09 03:00] Shikugawa commented on #13799
nostale

[2020-12-09 03:04] junr03 commented on #13779
being worked in https://github.com/envoyproxy/envoy/pull/14302

[2020-12-09 03:08] dsymonds commented on #13500
no stalebot

[2020-12-09 03:33] agupta-cb commented on #13073
It would be great if anyone can provide help related to this issue. Still waiting for its solution.

[2020-12-09 03:40] wbpcode commented on #14161
@mattklein123 I've been looking forward to generic matching support for a long time, where can I get the latest progress?

[2020-12-09 04:14] #13226 closed

[2020-12-09 05:09] antoniovicente commented on #13335
cc @cpakulski

[2020-12-09 06:59] lizan commented on #13212
already fixed

[2020-12-09 06:59] #13212 closed

[2020-12-09 08:01] ikingye commented on #7059
What is the "correctly pass the ads flag" means?

[2020-12-09 08:14] dio commented on #13500
For `/stats`, adding an additional version as text readout should not be a problem. However, for Prometheus as mentioned in https://github.com/envoyproxy/envoy/issues/13500#issuecomment-707214699. We need to expose the version as a gauge with version text as a label of that gauge,  e.g.

[code]

A quick solution for this probably handle text readout in `PrometheusStatsFormatter::statsAsPrometheus`

[2020-12-09 12:23] itamarkam commented on #13801
@yanavlasov @htuch Can we tag it with one of the above so it's not closed?

[2020-12-09 14:16] marcosrmendezthd commented on #13834
thanks @mattklein123 !

[2020-12-09 14:29] mk46 commented on #14203
Hi @karthequian, LMK if you still facing any issue with configuration otherwise we should close this.

[2020-12-09 14:34] mpuncel commented on #10943
One thing to consider would be separate versioning for non-xds services. At Square we have 2 gRPC access log servers, 2 gRPC ext_authz servers, and a gRPC rate limit server that all had to be upgraded to expose v3 and v2 and then have the transport version switched over. I don't think there were meaningful changes in those particular APIs from v2 to v3, and a lot of these are owned by teams other

[2020-12-09 15:42] alyssawilk commented on #11439
It would be a breaking change on config which landed 7 days ago: https://github.com/envoyproxy/envoy/pull/14079

I'm good either way, making it explicit (now, before folks pick up the new config) or someone can just do the H2 checks later on.

[2020-12-09 16:17] #13403 closed

[2020-12-09 17:05] ndavydovdev opened #14342 "Async gRPC service under envoy. A lot of concurrent requests"
I have async gRPC service written on Python

My envoy.yaml:
[code]

As I understand properly, envoy will send request to host if it sees any available open socket(because it's async gRPC it doens't use pending requests queue, because async socket could keep number connection, not only one as single-threaded sync gRPC server), so I tried to make 200rps and I got very high latency for N requests ->

[2020-12-09 17:35] ankatare commented on #12841
/no stalebot

[2020-12-09 17:54] vinzo99 commented on #11883
Reviving thread to remain open.

[2020-12-09 18:08] rgs1 opened #14346 "decodeData() isn't call when using a direct response"
We have the following routes config for an Envoy instance meant to act as /dev/null:

[code]

Along with the above, we also have a filter that implements decodeHeaders() and decodeData() to analyze the incoming requests. However, we only see decodeHeaders() being called:

[code]

Possible options to work around this:

a) Fix the way we handle direct responses to ensure decodeData() is called too (

[2020-12-09 18:08] rgs1 commented on #13737
Opened #14346 to follow-up on direct responses behavior wrt decodeData().

[2020-12-09 18:10] mattklein123 commented on #14161
@snowp should be able to summarize and/or point you to current status. I think we are pretty close to having something we can start to build on in different filters.

[2020-12-09 18:22] ndavydovdev commented on #14342
Also, I have to say that I tried to use example configuration of adaptive concurrency and I got exception that concurrency limit is reached

[2020-12-09 18:27] HenryYYang commented on #13625
Sorry for the delayed response on this one.  The issue here is how the redis cluster is defined as strict_dns type.  It's basically trying to treat the redis as a dumb client, so the commands are sent to a random node.  It then depends on redirection command for almost every command, which is far from ideal in either case.  In the mirrored request case, the command are sent without checking the re

[2020-12-09 18:27] alyssawilk commented on #14346
Just one check before I dig into this, it looks like you didn't have a direct response body configured.  Have you tried adding that and seeing if it fixes your problem?  At first glance I wouldn't expect decodeData to be called for a headers only response.

[2020-12-09 18:31] rgs1 commented on #14346
Ah! Let me try that.

[2020-12-09 18:38] mattklein123 commented on #14346
Do you mean encodeData()? I'm confused.

[2020-12-09 18:53] rgs1 commented on #14346
you == Alyssa or me?

I meant decodeData(), per the above log excerpt. But now that you mention this, I actually not sure how adding a body response to DR would trigger decodeData() into running....

[2020-12-09 18:54] aviramha commented on #13625
@HenryYYang Thanks for your response.
In my use case there's no redis clusters and the issue isn't the Expire being sent to the wrong node rather than it being sent before the actual data.

[2020-12-09 18:55] alyssawilk commented on #14346
yeah, I had encode data and decode swapped, sorry, sigh.   Let me actually take a look

[2020-12-09 18:55] mattklein123 commented on #14346
Yeah I'm asking you. :)

I'm confused about the issue you are reporting. Why would decodeData run here? I wouldn't expect encodeData to run either without a body.

[2020-12-09 18:57] rgs1 commented on #14346
If it's a POST request and I have a filter running that inspects the body... why would that not run just because it matches a route that is configured to have a direct response? That sounds counter intuitive no?

[2020-12-09 18:58] alyssawilk commented on #14346
Yeah, so to make things clear,
when the router decodes the header, it immediately looks to see what the action is.  If there's a direct response configured, it immediately starts sending the response, and calls StopIteration on the request pipeline.   It's basically treated like a local reply, where we assume it's not worth processing the POST body.  If you folks have a need for the body to pass t

[2020-12-09 18:58] rgs1 commented on #14346
Ok, maybe not that counter intuitive given the body is going to /dev/null.... Unless you have a filter that's doing inspection stuff (think a WAF).

[2020-12-09 19:01] rgs1 commented on #14346
We do have a use case... but I am starting to think it might be a bit too contrived and maybe we shouldn't be using DR for it 🤔 .

[2020-12-09 19:19] mattklein123 commented on #14346
If you put the buffer filter in front of your filter, decodeData() will run. You may or may not be able to do that in your scenario.

[2020-12-09 19:26] esmet opened #14348 "Support regex rewrites for paths during HTTP redirects"
Envoy supports regex rewrites for paths when proxying to upstream clusters using `regex_rewrite` on the RouteAction https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#config-route-v3-routeaction

It should be possible to also rewrite the Location header returned for redirects using the same regex rewrite config by adding `regex_rewrite` to the RedirecAction h

[2020-12-09 19:33] rgs1 commented on #14346
That's great, let me try that. Thanks!

[2020-12-09 20:20] rgs1 commented on #14346
Adding the buffer filter did not do make decodeData() run....:

[code]

[2020-12-09 20:38] murray-stripe opened #14350 "connection draining is non-graceful for low-volume listeners"
*Title*: *HTTP 2 connection draining is non-graceful for low-volume listeners*

### Description:

When a listener enters into a draining state _either) due to a hot-restart or an LDS update, it __should not__  accept new requests but should let existing requests finish gracefully. There is a drain-time limit that, when reached will terminate any open connections non-gracefully.

For HTTP 2, puttin

[2020-12-09 21:04] perlun commented on #13726
Sorry, I haven't gotten around to doing this. @mattklein123 - feel free to add the "help wanted" label and we might get someone to pick it up.

[2020-12-09 21:40] karanvasnani commented on #11532
Hey @euroelessar, wanted to know if you have been able to make progress on a fix for this?

[2020-12-09 21:47] dio commented on #14350
cc. @ggreenway @alyssawilk

[2020-12-09 22:02] alyssawilk commented on #14350
Yeah, I think the HCM checks in at certain points in the request life cycle to see if it should drain, and if it's totally idle it doesn't pick it up very fast.  It would be plausible to proactively inform the various HCMs to start drain, it'd just need to be done carefully (possibly batching, as doing them all at once could be labor intensive for high-QPS listeners)

[2020-12-09 22:10] mattklein123 commented on #14346
Oh hmm, you are right, sorry. The router will respond right away even if the data is buffered.

You could potentially buffer the response in your filter if the request is not complete?

[2020-12-09 22:14] mattklein123 commented on #14350
Yeah this is a known issue. We have discussed in the past allowing the drain process to loop through all open connections. Also sending GOAWAY at request start would probably also work OK.

[2020-12-09 22:16] alyssawilk commented on #14346
yeah, I think you'd have to subclass the buffer filter, and block the headers from going to the router until the buffer filter got end stream.  As soon as the router sees the headers it's all over :-)

[2020-12-09 22:18] alyssawilk commented on #14350
I think goaway at request start would just reduce the impact a bit - we'd have the same race for a number of other circumstances  (idle connection used shortly before drain completes, hanging GETs etc)

[2020-12-09 22:55] mattklein123 commented on #14350
Yeah I agree it's just a slightly better bandaid. The iterate through all connections approach would be better.

[2020-12-10 00:13] howardjohn commented on #13900
@htuch I agree that seems like what is happening - is this expected though? I cannot actually think of anything that would break by this, but I would think the optimal behavior is it doesn't send these, perhaps its a very low priority though.

[2020-12-10 00:21] rgs1 commented on #14346
Alright we went with forwarding to a local process that acts as /dev/null for HTTP. Thanks nonetheless!

P.S.: an envoy.router filter replacement but that acts as /dev/null could be fun/useful...

[2020-12-10 00:21] #14346 closed

[2020-12-10 00:26] htuch commented on #13166
@eziskind are you planning on tackling this in the short term or should we park it as help wanted?

[2020-12-10 00:31] eziskind commented on #13166
Yes, I'll probably get to this next quarter. You can mark it "no stalebot"?

[2020-12-10 00:31] htuch commented on #10943
Thanks @mpuncel. We have similar feedback on coupling transport/resource version bumps from @markdroth. I'd add to your observation that there are third party libraries like OPA for ext_authz that had to upgrade, and in the OPA case they [changed](https://github.com/open-policy-agent/opa-envoy-plugin#envoy-xds-v2-and-v2) their configuration model, so this wouldn't be transparent projects/operators

[2020-12-10 00:35] htuch commented on #11439
It's a good point that this landed only recently. For security issues we have a defined window where we just fix on master. @envoyproxy/api-shepherds should we add some similar grace period for breaking changes or is this going to be hard for consumers?

[2020-12-10 00:39] markdroth commented on #11439
I'd be in favor of a small grace period, like maybe a couple of weeks.  It seems like within that window, anyone who has started using the new fields will still have enough context to make whatever changes are needed fairly easily.  And I'd rather do that than have to deprecate something that we just recently added.

[2020-12-10 00:41] htuch commented on #12138
We have similar understanding around cluster scalability. I think it would be helpful to have some flamegraphs from folks where possible so we can validate whether these are the same root cause. @pgenera is working on landing https://github.com/envoyproxy/envoy/pull/14167 to benchmark. We have known overheads in stats processing that @jmarantz has landed some recent PRs to address, see https://git

[2020-12-10 00:54] htuch commented on #13900
Ideally we have some strong notion of the last place on the shutdown path its safe to be doing this and ensure it happens before then. On graceful shutdowns we should cleanly teardown and release our subscriptions. I think this probably needs more investigation and definitely more comments/documentation.

[2020-12-10 01:08] mattklein123 commented on #11439
Sorry I just read this thread again and I didn't fully understand before what was being proposed.'

I think I suggested this during the original code review so +1 from me.

[2020-12-10 01:15] htuch commented on #11439
I'm good with this, but we should clarify this and make it explicit in https://github.com/envoyproxy/envoy/blob/master/api/API_VERSIONING.md. I'll take it offline with API shepherds.

[2020-12-10 01:42] costinm commented on #5355
I suspect (4) is  a major problem - we really only have 2 listeners, one for iptables inbound and one for outbound.
Even if Envoy can still start the listener and ignore filter chains that are broken ( which I don't think happens now), the
error reporting and metrics will be off, meaning users will need to adjust alerts and debugging.

[2020-12-10 04:39] nic-chen commented on #13307
we are still working on it.

[2020-12-10 04:47] nic-chen commented on #13347
It is still a point that can be optimized.
Hope someone in the community could help with optimization.
Thanks.

[2020-12-10 06:00] qingyunha opened #14354 "Failed to load incomplete certificate from"
*Title*: *Failed to load incomplete certificate from*

*Repro steps*:

*Config*:
[code]

*Logs*:
[code]

[2020-12-10 06:44] lizongshen commented on #14354
/bug

[2020-12-10 08:41] verysonglaa commented on #12538
/remove stale

[2020-12-10 08:49] Shikugawa commented on #11120
@lizan Can we close this?

[2020-12-10 09:46] lizan commented on #11120
@Shikugawa no this is not fixed, I'll have a fix soon.

[2020-12-10 10:54] rohitagg2020 opened #14358 "Exact Configuration for x-envoy-external-address"
*Relevant configuration for x-envoy-external-address*

*Description*:
We are using envoy as edge proxy. I want to get the original Client IP Address in the downstream application.

As per the documentation, https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/headers#config-http-conn-man-headers-x-envoy-external-address

I tried getting it with various combination but unabl

[2020-12-10 14:38] ankatare commented on #11027
changing heading of this issue as found more docs related glitch.

[2020-12-10 14:52] snowp opened #14360 "Changes in host weight does not transition load balancer between weighted and unweighted mode"
Some of the load balancers (random, LR, etc.) operate in different modes when all the hosts within a host source (all hosts, individual localities, etc.) are weighted or unweighted. The check to see which mode to operate in happens in
[code]
which is triggered by the `updateHosts` calls propagated from the main thread on a config update.

The problem arises when considering a host weight only chan

[2020-12-10 15:27] htuch commented on #13951
I agree with this directionally, suggest waiting until we have minor versioning working to execute.

[2020-12-10 16:59] mattklein123 commented on #14360
@snowp the latest convo in #edf-jitter Slack I think has us forcing a full refresh for any weight change which I think would also fix this? I was going to add this to my queue so I can assign this to myself unless you want to do this. cc @tonya11en @antoniovicente @htuch

[2020-12-10 17:26] snowp commented on #14360
Yep always doing a full update is the simplest way to solve this since it sounds like we're okay with losing atomic weight updates.

[2020-12-10 17:27] antoniovicente commented on #14360
I think I missed that host weights could change in such ways when I implemented the unweighted round robin memory optimization, but I wonder if the issue was pre-existing since the decision to process using weighted and unweighted depended on some stat that contained the highest weight.

[2020-12-10 17:29] antoniovicente commented on #14360
Doing incremental updates on weight changes seems like a fair bit of work, but may be worth the performance and pick continuity benefit.  If doing full updates on weight changes, picking could devolve to random picking if weight updates are frequent enough.

[2020-12-10 18:09] duderino commented on #5355
@howardjohn @PiotrSikora @costinm @htuch could one of you tell @tbarrella how the undeprecation should work?  I take it that the 'hidden_envoy_deprecated_' fields should themselves go through a deprecation process?

[2020-12-10 18:11] howardjohn commented on #5355
I don't think renaming a field breaks protobuf compatibility (just like adding `hidden_envoy_deprecated_` didn't break it in the first place), so it should be fine to just rename it I would guess, without being familiar with Envoy api process.

[2020-12-10 18:44] esmet opened #14363 "Envoy should be able to preserve header casing in HTTP/1.1"
This ticket continues the various discussions that have happened over the years on the topic of header casing in HTTP/1.1

In short, while the spec does not require header casing to be preserved, many legacy applications were written to assume the casing of HTTP headers and may be hard or impossible for some organizations to fix.

I will (soon) be preparing a design doc for this feature. The high-

[2020-12-10 18:56] lizan commented on #14027
@PiotrSikora wasm-cpp-host failed to build on Windows:

https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/60523/logs/15

[2020-12-10 19:06] howardjohn commented on #13601
Just a followup: we did the workaround in the control plane and shipped a major regression despite writing (what we thought were) extensive tests, caused by my favorite other issue https://github.com/envoyproxy/envoy/issues/12572. So yes, a smart control plane could workaround this, but not Istio :slightly_smiling_face:

[2020-12-10 19:09] ggreenway commented on #5355
Renaming a field breaks loading the config via yaml. Documentation on envoy processes around this are here: https://github.com/envoyproxy/envoy/blob/master/api/API_VERSIONING.md#backwards-compatibility

[2020-12-10 19:21] mpuncel opened #14366 "test flake in overload_integration_test"
It looks like `OverloadScaledTimerIntegrationTest.CloseIdleHttpConnections` is flakey on the master branch:

[code]

Test output:

[code]

[2020-12-10 19:28] htuch opened #14367 "Use per-resource version to avoid hashing protos in xDS updates"
xDS APIs today use hashes of incoming resource protos to compare against the existing resource version when determining if any updates needs to be made. This is expensive (we're measuring ~8% CPU in some workloads), since we need to flatten to text for Envoy-canonical proto hashing (protobuf doesn't do its own hashing).

It's also unnecessary when delivered resources are provided via delta xDS (or

[2020-12-10 19:34] howardjohn commented on #13601
Also, the behavior to inject it seems inconsistent. If I set all my filter chain matches to have `"transportProtocol":"raw_buffer"`, one might expect this to reject all TLS traffic, since the tls_inspector is automagically injected in other cases. However, it isn't.

So if I don't set tls_inspector, `raw_buffer` will match anything, until I decide to add a field with app_protocol to *any* match in

[2020-12-10 19:46] tbarrella commented on #5355
Thank you, yeah, maybe it was an easy fix but I noticed the field name showed up in Istio code (https://github.com/istio/istio/pull/25159)

So then according to the policy the hidden field should only be removed in v4alpha. If it's important, maybe the non-hidden field could be added in v3 by removing the reserve field [here](https://github.com/envoyproxy/envoy/blob/master/api/envoy/config/listene

[2020-12-10 19:49] howardjohn commented on #5355
I think if you do this you break wire compatibility. We don't want a new field, right? We just want the existing one to no longer be deprecated.

Does this still apply for a field that already requires an explicit runtime override to be able to even configure it? It was already broken in this manner, to change it back would just be to "un-break" it from my point of view

[2020-12-10 20:06] vinzo99 commented on #13897
Reviving thread

[2020-12-10 20:17] howardjohn commented on #13601
The logic in https://github.com/envoyproxy/envoy/blob/22683a0a24ffbb0cdeb4111eec5ec90246bec9cb/source/server/listener_impl.cc#L41 also doesn't take into account ListenerFilterChainMatchPredicate such that it may give false negatives

[2020-12-10 20:56] chradcliffe commented on #14363
Would you be open to designing this in such a way that would preserve the input order as well (or at least allow for preserving input order)? We've seen cases where poorly-written clients/servers can break on header ordering as well as case changes.

[2020-12-10 20:57] mattklein123 commented on #14363
As long as the feature has zero cost when disabled I don't have a strong opinion about how it's done. I think the header formatter per stream with appropriate callbacks from the codec could probably allow order to be modified somehow but it would require a bit more thinking.

[2020-12-10 21:00] mattklein123 commented on #14360
Yeah I agree. My thinking though is that weight changes are not very common in practice and I feel we can optimize this later if necessary. I think that is what we roughly agreed to in the Slack chat also.

[2020-12-10 21:03] esmet commented on #14001
This issue https://github.com/envoyproxy/envoy/issues/4124 and the associated PR https://github.com/envoyproxy/envoy/pull/4199 introduced this behavior, I think.

[2020-12-10 21:13] esmet commented on #12596
The yaml you provided is using `@type: "type.googleapis.com/envoy.extensions.filters.http.ext_authz.v3.AuthorizationRequest"` for the per filter config, but I think you actually want `@type: "envoy.extensions.filters.http.ext_authz.v3.ExtAuthzPerRoute"`

Instead of sending a custom header to the external authorization server to identify the source route, I believe you need to instead use the conte

[2020-12-10 21:41] yanniszark commented on #14001
Thanks @esmet! I see this is triaged as a question and I don't think it's correct.
@mattklein123 @derekargueta would you agree this is a bug, as described here:
https://github.com/envoyproxy/envoy/issues/14001#issuecomment-727187082

The `ext_authz` filter needs to distinguish between a network error and getting back HTTP 500, in which case it could reach the AuthService successfully.

[2020-12-10 21:46] rmiller14 commented on #14218
Duplicate of #14106

I confirmed that this issue no longer repros on the latest master.  I investigated this issue for a few days, and the failure had the same symptoms as #14106.

[2020-12-10 21:51] #14218 closed

[2020-12-10 22:00] esmet commented on #7986
I think `allowed_client_headers_on_success` is the right option to add, and we can implement it by saving the external authorization server's response and adding those headers to the downstream client request during `encodeHeaders()`. Thoughts @RichiCoder1 + @hisener ?

@dio can you assign this one to me?

[2020-12-10 22:15] PiotrSikora commented on #13601
Without `tls_inspector`, Envoy doesn't have the ability to detect TLS traffic, so it cannot reject it.

That's indeed unfortunate, but the simple solution is to always include `tls_inspector`.

The `tls_inspector` auto-injection was added to support backwards compatibility when we were adding support for multiple filter chains a few years ago, and it includes a warning since users were expected to

[2020-12-10 22:16] mattklein123 commented on #13601
I would remove it but put the removal behind a feature flag. Then after a release we can remove it entirely.

[2020-12-10 22:21] esmet commented on #14001
@yanniszark I agree. It sounds like we want to add configuration to set the definitino of an error for the external authorization server. Similar to https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/router_filter#x-envoy-retry-on but of course we can tweak it so that it makes the most sense for the ext_authz use case. What do you think?

@alyssawilk feel free to assign th

[2020-12-10 22:29] esmet opened #14370 "Question: Should the maximum size of response headers be configurable?"
It looks like we added configuration for max_request_headers_kb and talked about the response header max size use case, but didn't implement it in https://github.com/envoyproxy/envoy/pull/5859

Do we still want this to be configurable?

[2020-12-10 22:40] yanniszark commented on #14001
@esmet sorry, I'm not sure I understood that. IMO, all error returned by the AuthService should be surfaced to the downstream client. So if the AuthService returns 503 with a body, this response will be proxied back to the client, same as other (3xx, 4xx) codes.

[2020-12-10 22:45] esmet commented on #14001
By definition of error, I mean the case where a call to the authorization service is considered "failed" as opposed to "completed, but with an error".

Today, the ext_authz filter considers "completed, but with a 5xx error" to be "failed" though one could argue that the call succeeded, it just came back with a 5xx denial. This would fit the use case that you are describing.

We could add configura

[2020-12-10 22:57] yanniszark commented on #14001
@esmet got it! IMO the current behavior of

is a bug, but if you feel it makes sense to keep as a feature then all the power to you!

[2020-12-11 00:05] #10471 closed

[2020-12-11 00:33] dio commented on #14001
I agree that probably making the "definition of errors" to be configurable seems useful.

[2020-12-11 01:24] mattklein123 commented on #14119
I will look at this tomorrow. I have a related change I'm working on and can probably fix this at the same time.

[2020-12-11 01:28] htuch commented on #5355
@howardjohn @costinm thanks for the explanation, super helpful.

I think we can just rename the `hidden_` fields; any use of them outside of Envoy is illegal, and you can update their names in the Envoy source. Istio's current use of this is outside-of-contract. Please do this in the v3 API. For the v2 API, I'm not sure if we need to make any changes, since the fields still exist there, they are j

[2020-12-11 01:31] esmet commented on #14001
I could see why someone would want 5XX errors to be considered failures and not legitimate responses to send downstream. For example, one might not want someone to know that their auth service is actually down (or dying) or if some proxy between Envoy and the auth service is unhealthy.

At any rate, the existing behavior is now canon so that's the primary reason we'd to keep it as the default. @di

[2020-12-11 01:35] htuch commented on #14360
Yeah, IIRC we agreed that there are few localities, so a rebuild is fine at that level, and we don't _currently_ have compelling reason to be doing weighted intra-locality (from Google side).

However, should we open this up to the community to verify? I'm pretty sure I've seen issues and questions in the past involved intra-locality weighting.

[2020-12-11 01:41] mathetake commented on #14202
@AndreyFlyAway V8 has been updated to the newer version in https://github.com/envoyproxy/envoy/pull/14298 4 days ago, so could you please try again with HEAD ?

cc @PiotrSikora

[2020-12-11 01:43] mathetake commented on #14202
yeah, this could be the cause actually.

[2020-12-11 02:07] lizan commented on #14119
@EItanya @mattklein123 I've been debugging this a bit, it's not result of the capture. It's a misuse of TLS slot in aggregate cluster implementation, it never call `Slot::set` so the thread_local_data_ is never allocated for it, so the ASSERT will fail. Aggregate cluster just uses the TLS slot to do `runOnAllThreads` to update all `ThreadLocalCluster` in cluster manager.

[2020-12-11 02:40] qingyunha commented on #14354
`8fb3cb86082b17144a80402f5367ae65f06083bd/1.16.0/clean-getenvoy-a5345f6-envoy/RELEASE/BoringSSL`  does not hava this issue.

[2020-12-11 04:25] mattklein123 commented on #14119
Ok. I can fix this tomorrow if you don't get to it tonight. Seems like we need better tests for this cluster? Is there an integration test?

[2020-12-11 04:27] mattklein123 commented on #14360
Yeah I think it's worth a discussion. I think within locality weights are ok, it's just a matter of how often they change. I'm practice I doubt they change very often. Also, we may be able to optimize both cases adaptively. I synced up with @tonya11en today and he is going to write up a summary of the entire issue for discussion.

[2020-12-11 05:11] #14277 closed

[2020-12-11 06:27] PiotrSikora commented on #14027
Could you try https://github.com/proxy-wasm/proxy-wasm-cpp-host/pull/117? I don't have a way to test it.

Also, please keep it mind that `wee8.genrule_cmd` wasn't tested on Windows, so it might need some fixes as well.

[2020-12-11 06:49] liujiyuan opened #14372 "Header propagation over tcp"
How to propagation Header over tcp in envoy.
Service A is WebServer.
Service B is NettyServer.
How to propagation Header from Service A to Service B.
Thanks a lot.

[2020-12-11 06:55] dio commented on #14001
I think so. Yes, it actually controlled by an array of pre-defined strings. Probably we can have something like: `failed_on: ['gateway-error', '5xx']`?. Thoughts?

[2020-12-11 06:57] dio commented on #14354
@qingyunha what is the envoy version which has this issue?

[2020-12-11 07:00] qingyunha commented on #14354
The current master branch  bed0262ae96a40040dfd7403b5ad6392c3bfa20c

[2020-12-11 07:28] dio commented on #14354
A quick code skimming: Seems like that part of the code hasn't changed.

https://github.com/envoyproxy/envoy/blob/bed0262ae96a40040dfd7403b5ad6392c3bfa20c/source/common/ssl/tls_certificate_config_impl.cc#L55-L58

Unless one of the provided files is empty, it won't be triggered.

[2020-12-11 08:03] qingyunha commented on #14354
Sorry,  you are right, the certs/servercert.pem is empty for some reason.

[2020-12-11 08:03] #14354 closed

[2020-12-11 08:15] storyicon opened #14373 "status code when retrying"
When a request is retried several times and responds, only the status code of the last response can be seen in the envoy log. Is there any way to obtain the status code of each response?

[2020-12-11 09:06] wbpcode commented on #13085
Is there any progress here ?  GRPC does make this problem very complex. Perhaps we could start by creating a generic file access logger for none HTTP protocol and gradually extend it to other access loggers such as GRPC.

@cpakulski @lizan @mattklein123

[2020-12-11 09:11] wbpcode commented on #6138
See #13085
May be we need a universal design for all protocols.

[2020-12-11 12:30] tonya11en commented on #14360
If it's ok to do full updates on weight changes, I think there's a way to avoid devolving into a uniform selection probability even on the first pick. I think this can be used for picking both localities and endpoints. Dig this:

For each unique weight among all the objects, you create a queue and add all objects with that weight to the queue. The queue now gets its own weight which is the sum of

[2020-12-11 13:44] cscott27 opened #14376 "Are dynamic descriptor_key values possible?"
I'd like the ability to create rate limiting against multiple attributes of a request using the [rate limit](https://github.com/envoyproxy/ratelimit) service. For example:  Per remote_address, per path, per method.  As far as I can tell, to make that work with the rate limit service, the descriptor keys would have be generated dynamically per request so the rate limit service can build a cache key

[2020-12-11 13:58] dio commented on #6138
@cpakulski thoughts?

[2020-12-11 14:23] drawing commented on #14316
I'm describing the usage scenarios, such as using the subset label to distinguish between us-east and us-west machines. In normal scenarios, the envoy of us-east forwards to the us-east machine of the service, and the minimum delay can be obtained. When the service us-east machine is abnormal, in order to ensure availability, the service can sacrifice time delay and go to the fallback logic withou

[2020-12-11 15:42] mgiessing opened #14377 "Envoy v1.12.2 compilation fails on IBM Power ppc64le"
Hi,
I'm trying to compile envoy v1.12.2 on IBM Power architecture (ppc64le), but it fails when running the bazel build command `bazel build //source/exe:envoy-static`

Compilation itself seems to have worked:

[code]

But when I try to execute it, it fails with an illegal instruction error:

[code]

Here additional information regarding different versions:

[code]

Thanks!

[2020-12-11 17:15] #13779 closed

[2020-12-11 17:24] mattklein123 commented on #14360
IMO moving to explicit refresh for weight changes will give us more algorithmic options. We can always optimize it further later (for example by fanning out weight deltas somehow).

The only thing I'm not sure of about the algorithm Tony proposes is whether it would be feasible to use it with weighted least request where effective weights are changing all the time. We can take it up in the other i

[2020-12-11 18:55] #11427 closed

[2020-12-11 18:56] howardjohn opened #14378 "ALPN documentation could use some clarifications"
*Title*: ALPN documentation could use some clarifications

*Description*:
The current documentation for https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/transport_sockets/tls/v3/tls.proto.html?highlight=upstreamtlscontext#extensions-transport-sockets-tls-v3-commontlscontext `alpn_protocols` seems to be missing some information

The doc mentions:

However, this field is also present fo

[2020-12-11 19:29] cgthayer commented on #13718
@dio Not sure I follow.  Can we clarify if ext_authz servers can no longer be implemented in http and *must* be ported gRPC?  Or is that in the works and coming soon for v3?
If it's going away, can someone update the examples to remove the external auth servers that work over http? (I can create a separate issue if we need one for that)
I have one that I'll need to port to gRPC in c# (don't ask) a

[2020-12-11 21:36] htuch commented on #13601
The less magic in config transformation by Envoy the better, so I'm in favor of that.

[2020-12-11 21:38] htuch commented on #14360
SG. I guess we could runtime guard explicit refresh and leave a grace period for folks to be able to raise any concerns, if there aren't any issues filed we can delete.

[2020-12-11 22:45] tbarrella commented on #5355
Thank you. What about `deprecated_v1.bind_to_port`? Should that and a new `bind_to_port` coexist in v3, with both being valid, or with the old option being ignored? `deprecated_v1.bind_to_port` wasn't marked deprecated in v2 proto, so if I try to remove it in v3, `proto_format.sh fix` complains

[2020-12-11 23:17] hxn36 commented on #13868
Hi, any update on this? Will there be a feature to add those flags automatically through a configmap?

[2020-12-12 01:37] PiotrSikora commented on #13601
It seems that we've reached consensus, thanks! @howardjohn does this work for Istio?

@tbarrella could you take care of this? We need to add a runtime flag to guard auto-injection of TLS inspector (it requires adding runtime flag check in `ListenerImpl::buildTlsInspectorListenerFilter` and adding relevant tests).

[2020-12-12 01:41] howardjohn commented on #13601
@PiotrSikora that will work for us, I think we will be fine with it auto injected or not by working around it in the control plane with explicit raw-buffer (except doing it right this time...). So it's not strictly required but it seems like the preferred behavior for us and others.

[2020-12-12 01:47] dio commented on #14378
cc. @lizan

[2020-12-12 03:02] PiotrSikora commented on #5677
I believe this is fixed if you're using SDS, since then only filter chain(s) with broken TLS certificate(s) won't work.

With LDS alone, I think it's still "broken", since the whole LDS update would be rejected, but there were so many changes to listeners over the past year that I'm not 100% if that's the case. You could always verify it yourself.

In any case, your control plane should verify tha

[2020-12-12 04:17] esmet commented on #14348
@dio feel free to assign this one to me

[2020-12-12 04:19] esmet commented on #14001
Sounds right. I'll try this soon.

[2020-12-12 06:45] lizan commented on #14378
Isn't this a dup of https://github.com/envoyproxy/envoy/issues/3431? In short, upstream ALPN isn't supported now and there's ongoing work #14239

I didn't fully get this part, are you saying Envoy listener isn't sending ` a fatal "no_application_protocol" alert.` when client advertises protocol it doesn't support?

[2020-12-12 06:53] lizan commented on #14141
I forgot why we had chown in the first place, in most environment it isn't needed anyway... /dev/stdout is a symlink to /proc/self/fd/1

[2020-12-12 07:06] phlax commented on #14141
im trying to rem too - my vague recollection was that it was needed

i guess there are two options that might improve this - remove it (if unneeded), or add some logic to conditionally do whatever perms/user checking/dropping

i think the  main issue is that users are trying to start the container (from outside) as non-root, which can work i think, but wont with the current permission dropping

[2020-12-12 10:24] lizan commented on #14141
agreed, I'm ok with either way.

[2020-12-12 12:53] wbpcode commented on #12486
It's over. May be we can close it. @zyfjeff

[2020-12-12 13:30] zyfjeff commented on #12486
@wbpcode Great work, I'll close it

[2020-12-12 13:30] #12486 closed

[2020-12-12 15:45] howardjohn commented on #14378
So the field doesn't do anything whatsoever in the upstreamtlscontext?
 What I have seen is my upstream and downstream alpn do not match but I don't get
a fatal "no_application_protocol" alert, but if upstream tls context does nothing maybe that explains it.

[2020-12-12 21:29] mattklein123 commented on #4196
I'm going to close this as we have made a lot of progress here thanks to @jmarantz. Let's open new issues on specific enhancements.

[2020-12-12 21:29] #4196 closed

[2020-12-12 21:30] mattklein123 commented on #5301
We have made a lot of changes in this area so let's open new issues on specific changes needed.

[2020-12-12 21:30] #5301 closed

[2020-12-12 21:31] #7476 closed

[2020-12-12 21:33] mattklein123 commented on #8795
This is fixed with the other issue opened to lock in a default for the mixed inline / map implementation.

[2020-12-12 21:33] #8795 closed

[2020-12-12 21:35] mattklein123 commented on #9401
This is done at a high level. Let's open issues for specific new fuzzing we want.

[2020-12-12 21:35] #9401 closed

[2020-12-12 21:37] mattklein123 commented on #10988
I think we have a plan forward here with a Google provided h2 codec in QUICHE.

[2020-12-12 21:37] #10988 closed

[2020-12-12 21:41] mattklein123 commented on #1424
Going to close this given how old it is and how many changes have been made. We can revisit if there is new interest and new data.

[2020-12-12 21:41] #1424 closed

[2020-12-12 21:45] mattklein123 commented on #2829
I don't think this can be fixed so let's track specific issues that come up instead (like the recent admin tap issue).

[2020-12-12 21:45] #2829 closed

[2020-12-12 21:47] mattklein123 commented on #3373
I think this was added.

[2020-12-12 21:47] #3373 closed

[2020-12-12 23:00] htuch commented on #5355
@tbarrella I guess the question is what is the long term story here. Does https://github.com/envoyproxy/envoy/issues/5355#issuecomment-741245451 suggest that we're better off long term retaining `bind_to_port` (i.e. we tried and realized this is really more hassle than its worth full stop) or that we're better off in the short-medium term (i.e. past v2 removal but not indefinitely) with `bind_to_p

[2020-12-13 21:23] WesleyBatista commented on #13476
Thanks for the answer and example! nice to see it working :D

[2020-12-13 21:23] #13476 closed

[2020-12-13 21:50] #14348 closed

[2020-12-14 00:02] tonya11en commented on #14360
The approach I mentioned above isn't feasible for something like WLR, but EDF seems to be working just fine for that, no? My guess is that the first-pick determinism shouldn't matter for WLR because the weights are being adjusted constantly which would quickly change the ordering of the hosts based on the outstanding requests. There's not really a reason to discard EDF for WLR.

I wrote up the res

[2020-12-14 06:08] wbpcode opened #14391 "more complete dubbo protocol support"
*Title*: *more complete dubbo protocol support such as group/headers match*

*Description*:

[2020-12-14 08:48] slonka commented on #13504
Is it possible to get rid of this warning now or do we have to wait for a fix in Envoy?

[2020-12-14 08:48] cooperkuo commented on #10422
Same issue when using [envoyproxy image](https://hub.docker.com/layers/envoyproxy/envoy-build-ubuntu/92724fc858a46499b41a9383178dcd012aa77030/images/sha256-bf9c4343665d6433b64a8463e216a60cad6cceba57ebf16f9c213b61d682ef98?context=explore) with gcc9 inside.
The reason I have to use gcc is that our project links some libraries compiled by gcc instead of clang, it seems that it's as difficult to re-co

[2020-12-14 08:57] phlax commented on #13504
my understanding is that we have to wait for a fix

[2020-12-14 12:53] salrashid123 opened #14392 "network.client_ssl_auth.v3.ClientSSLAuth.auth_api_cluster caches signature list on service failure"
[extensions.filters.network.client_ssl_auth.v3.ClientSSLAuth](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/client_ssl_auth/v3/client_ssl_auth.proto#extensions-filters-network-client-ssl-auth-v3-clientsslauth)

Describes an external serivce that will return a list of valid client cert signatures to allow.   However, once a client envoy service contacts the server an

[2020-12-14 14:25] pgenera commented on #14005
I promise I am actively working on this, robot.

[2020-12-14 14:32] alyssawilk commented on #14363
cc @jmarantz

[2020-12-14 14:34] mpuncel opened #14394 "Classifying connection timeouts as local reset"
*Title*: *Classifying connect timeouts as local reset*

*Description*:
For a few months we've been seeing occasional 503 errors in our client side sidecars with the `LR` response flag, and the latency on these calls was always equal to the connect timeout we set. It looks like the router filter classifies connect timeouts this way: https://github.com/envoyproxy/envoy/blob/master/source/common/rout

[2020-12-14 14:34] alyssawilk commented on #14370
I think it'd be good to have, looks like there just hasn't been a pressing need.
Could be considered part of untrusted downstreams, cc @yanavlasov

[2020-12-14 14:44] NomadXD commented on #13227
@dio Have you tried to built it with ubuntu 20.04 with clang ? Appreciate if you could provide some steps to build envoy with clang. I tried with gcc and the build fails due to a known issue that hasn't fixed so far i guess.

[https://github.com/envoyproxy/envoy/issues/10422](url)

[2020-12-14 15:27] markdroth commented on #13925
I think this is still something that should be fixed.

[2020-12-14 16:07] snowp commented on #14394
@alyssawilk fyi

[2020-12-14 16:44] danzh2010 commented on #10422
This issue should have been fixed in QUICHE and merged into Envoy in #13949.

[2020-12-14 17:39] #14119 closed

[2020-12-14 17:43] yanavlasov commented on #14373
You mean in the access log? There is currently no way to do it.

[2020-12-14 17:46] yanavlasov commented on #14372
Please provide more details.

[2020-12-14 17:49] yanavlasov commented on #14370
Currently it is hardcoded to 60Kb, whichi we considered to be ok for untrusted downstreams. I will bring it up in our internal discussion to see if there other use case where it may be needed.

[2020-12-14 18:49] dlorenc commented on #14076
Many cloud providers support asymmetric signing. Here's GCP's version: https://cloud.google.com/kms/docs/asymmetric-encryption

If you're already using a cloud provider's IAM for maintainers somewhere, this is probably a straightforward method.

[2020-12-14 18:51] tbarrella commented on #5355
Hm, I don't really have context on this beyond what @PiotrSikora @howardjohn @costinm already said; they'd probably be able to answer better than me. My understanding though is that `bind_to_port` should be retained in the long term

[2020-12-14 18:52] cpakulski commented on #9577
StartTls transport socket has been implemented and merged to master: #13112.
Individual issues should be opened to track development for specific protocols.

[2020-12-14 18:52] #9577 closed

[2020-12-14 18:53] #14007 closed

[2020-12-14 18:58] yanavlasov commented on #11883
Sorry for not responding sooner. I've reread the issue and it does not look like a bug. Envoy allows x-envoy-... headers from trusted downstream servers only. It uses the combination of the [use_remote_address in the HTTP connection manager](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/http_connection_manager/v2/http_connection_manager.proto) value of the XFF header and

[2020-12-14 19:06] sunjayBhatia opened #14400 "Envoy v1.16.2 release image not pushed to Dockerhub"
Moving from slack thread: https://envoyproxy.slack.com/archives/C78HA81DH/p1607556532055200

The job failed on the initial backport PR push but passed on a [subsequent retry,](https://dev.azure.com/cncf/envoy/_build/results?buildId=60158&view=logs&jobId=703bebaa-c8b3-579f-1e1c-845f8cf67043&j=703bebaa-c8b3-579f-1e1c-845f8cf67043&t=24c5c8d8-c9f4-551a-ba59-33a0004adbfa) ([raw log here](https://dev.az

[2020-12-14 19:09] akonradi opened #14401 "Refactor Envoy's Dispatcher abstraction"
This FR was initiated by a discussion on moving scaled timer creation into the Dispatcher interface (https://github.com/envoyproxy/envoy/pull/13800#discussion_r517023573). I've been working on exactly that, but was having some trouble with testing that scaled timer creation was occurring without duplicating the tests for the ScaledRangeTimerManager. The problem is that ScaledRangeTimerManager is b

[2020-12-14 19:10] cpakulski commented on #6138
I am targeting this for release 1.18. Not sure about the final form yet. It may be totally flexible or maybe a class would have to derived from a base class. The final goal is to have access log common to various databases understood by Envoy filters: postgres, mysql, redis, mongo, etc.

[2020-12-14 19:15] sunjayBhatia commented on #14400
@envoyproxy/stable-maintainers

[2020-12-14 19:16] sunjayBhatia commented on #14400
@cpakulski

[2020-12-14 19:31] antoniovicente commented on #14401
Consider using the Scheduler interface in include/envoy/event/timer.h to create low-level timers and thus resolve the circular dependency on dispatcher.

[2020-12-14 20:00] tbarrella commented on #13601
Yep, I think I can do this

[2020-12-14 20:12] NomadXD commented on #10422
@cooperkuo yeah it's a valid issue i think. lot of people had the same issue and noone gave a proper answer or a way to fix. I tried using clang also but still no luck. :-(

[2020-12-14 20:28] akonradi commented on #14401
Thanks, that'll solve my scaled timer issue. I'm still wondering if it's worth splitting up the Dispatcher, though, since it seems to export abstractions that could be built entirely using some of the lower-level abstractions it also exports.

[2020-12-14 20:35] alyssawilk commented on #14391
cc @zyfjeff @lizan

[2020-12-14 20:36] antoniovicente commented on #14401
Possibly, but we would need to make sure to limit use of the lower level interface.    Most code should interact with the full dispatcher interface.

[2020-12-14 20:40] alyssawilk commented on #14392
I think that's the behavior I would expect as well, but I suspect documentation about fail-open vs fail-closed would be helpful.
cc @ggreenway

[2020-12-14 20:42] alyssawilk commented on #13868
I don't think anyone signed up to add a second flag.  cc @zuercher

[2020-12-14 20:47] dmitri-d commented on #10422
gcc: error: unrecognized command line option '-fno-limit-debug-info'
gcc: error: unrecognized command line option '-Wgnu-conditional-omitted-operand'
gcc: error: unrecognized command line option '-Wc++2a-extensions'; did you mean '-fms-extensions'?
gcc: error: unrecognized command line option '-Wrange-loop-analysis'

clang config generated in envoy submodule isn't being picked up by bazel when bui

[2020-12-14 20:57] akonradi commented on #14401
Actually, the Scheduler interface doesn't resolve the circular dependency since Scheduler::createTimer's second argument is a Dispatcher& 🤦

[2020-12-14 20:58] akonradi commented on #14401
...though it looks like that might be easy enough to remove since the scheduler comes from the dispatcher.

[2020-12-14 21:01] antoniovicente commented on #14401
Could be resolved by adding setTrackedObject to the scheduler interface, or some new interface related to tracking current state in the event of a crash.

[2020-12-14 21:37] #14018 closed

[2020-12-14 23:34] rmiller14 commented on #14307
I don't have the ability to assign this, but I went ahead and submitted a PR for this issue.

[2020-12-14 23:52] ggreenway commented on #14392
Yeah, I think I would expect this to fail also, but to do so reasonably, I think we need at least one more configuration knob: the TTL of the cached response. I don't know that I would classify this as a bug or not though; it's under-specified in the documentation.

[2020-12-15 00:30] salrashid123 commented on #14392
not to intentionally throw a whole wrench into this but is there a specific reason why a _list_ of valid certs are returned here anyway (vs something like an making an outbound OCSP request or alternatively the configuration for `ClientSSLAuth` accepts  CAs as a dataSource and locally verifies ocsp-stapled requests from the downstream?

any of the above would take a signifiant rewor for this filte

[2020-12-15 01:34] costinm commented on #5355
We use bind_to_port on the outbound chain - and if we are allowed we'll likely keep it. We are exploring other modes
of interception besides iptables REDIRECT - like raw binding to the IP, which will look exactly like the current config but with
real binding to each IP:port. And it's cleaner/simpler.

On the inbound chain - we will make big changes when we move to BTS, i.e. everything will move to

[2020-12-15 01:53] kyessenov opened #14412 "Resolve python dependency patch in protobuf"
Complete the discussion in https://github.com/envoyproxy/envoy/pull/14253#discussion_r536912177.

The issue is conflicting python module definitions for `google.protobuf` and `google.rpc` under `google` coming from two repos, which requires patching in the module lookup code.

cc @htuch

[2020-12-15 02:43] udaymadu commented on #13147
@yanavlasov Have you defined any milestone for it or do we defined any ETA as it became severe now.

[2020-12-15 07:03] PiotrSikora commented on #13806
Fixed / worked around in #13836.

[2020-12-15 07:03] #13806 closed

[2020-12-15 07:32] mathetake commented on #13835
once update cpp-host to the latest, this is closed via https://github.com/proxy-wasm/proxy-wasm-cpp-host/pull/114

[2020-12-15 08:46] PiotrSikora commented on #14027
@lizan did it help?

[2020-12-15 08:47] PiotrSikora commented on #14202
Do you have Xcode command line tools installed?

[2020-12-15 10:21] kanongil commented on #13349
No one is interested in fixing this payload corruption issue?

[2020-12-15 11:38] kanongil commented on #13349
Btw. this is probably a worser issue than it appears, since he standard nghttp2 client does not report transmission errors for partial responses where the content-length is more than actually transferred, and the server closes the stream with RST_STREAM code 0. See https://github.com/nghttp2/nghttp2/pull/1508 for details and a potential client fix.

[2020-12-15 14:32] m1o1 commented on #10823
I was looking for this as well. My use case is that Kubernetes currently load balances TCP connections, not requests, so persistent connections between services meant not all replicas were handling requests evenly.

I used Envoy with STRICT_DNS following [this guide](https://blog.markvincze.com/how-to-use-envoy-as-a-load-balancer-in-kubernetes/) which fixed the balancing issue. We would prefer not

[2020-12-15 15:51] corydolphin opened #14417 "Redis server-assisted client side caching"
### Feature Request:[ Redis server-assisted client side caching](https://redis.io/topics/client-side-caching)
Envoy is an incredible tool that we've found critical for proxying redis connections, with the release of Redis 6, there seems to be an opportunity to take Envoy's redis capabilities to the next level by acting as an even faster local cache to Redis through the support of server-assisted c

[2020-12-15 17:19] mattklein123 commented on #14417
This sounds interesting. Definitely needs a design proposal. cc @envoyproxy/redis-dev

[2020-12-15 17:40] NomadXD commented on #10422
@dmitri-d Thanks a lot for the tip. Was able to build successfully. Can you build it successfully using gcc as well ? I'm kinda new to envoy and it's ecosystem, so just trying explore everything.

[2020-12-15 18:01] qiwzhang commented on #14026
@bjaglin, @ssimard24 both your envoy config are using static listener,  are they your real envoy config?  My question is: do you use xDS to load dynamic listeners?  One area my memory leak test did not cover is using xDS dynamic listeners and filter chain with jwt_authn filter_config is constantly replaced due to xDS update.   are you using xDS?

Another area is: signature algorithm. I only tested