[2022-03-22 20:33] #19946 closed

[2022-03-22 20:40] lambdai commented on #18928
re: `connect upstream and get server certificate`

Can this job achieved as part of the cert provider bootstrap(or another extension)? If so, you only need ref the new component in the listener filter and register a resume path to drive the listener filter on cert fetched

[2022-03-22 20:55] alyssawilk commented on #9953
Down from ~30 to ~6 but not compelte

source/extensions/filters/network/common/BUILD:    # Used by core.  TODO(#9953) clean up.
source/extensions/filters/http/buffer/BUILD:    # Legacy test use. TODO(#9953) clean up.
source/extensions/filters/http/ip_tagging/BUILD:    # TODO(#9953) clean up.
source/extensions/filters/listener/tls_inspector/BUILD:    # TODO(#9953) clean up.
source/extensions/filter

[2022-03-22 20:58] alyssawilk commented on #20437
@yanavlasov is working on codifying header sanitization so it's possible going forward this could be configurable.

[2022-03-22 21:10] lambdai commented on #16503
@htuch
* fixed port value
This is an optimization which saves a few clusters in istio as described as the initial post.

* ip from header and port from header
This is used to terminate http CONNECT request. The current HCM route can only select cluster as the upstream.
I am expecting the cluster is OriginalDst cluster.

In my proposed Config,
the below CONNECT request
[code]
Can be routed to clust

[2022-03-22 21:16] jmarantz commented on #20467
in the spirit of brainstorming, I want to +1 the bullet in particular that evaluates intensive tests in terms of ram/cpu-time, however IMO that's orthogonal to "flaky". My personal feeling is that flaky tests are much worse than slow tests.

I have another suggestion I think not covered by ^ -- enumerate and triage the flaky tests to maintainers and folks that have expressed interest in becoming o

[2022-03-22 21:30] kyessenov commented on #20437
Thanks. Having more lax HTTP handling will cover more real-life HTTP traffic without resorting to plain TCP.

[2022-03-23 00:20] asuffield opened #20474 "filesystem dynamic config only triggers on rename events"
https://github.com/envoyproxy/envoy/blob/e58c890ded5c13e60eba3285c96ffefd6f7215cf/source/common/config/filesystem_subscription_impl.cc#L30 only subscribes to MovedTo events, not Modified events.

This means that if the file is overwritten directly, rather than with the traditional "write to temporary file and then rename into place" approach, envoy will ignore the config change. That is at least s

[2022-03-23 00:56] daixiang0 commented on #20437
Oh, I thought that it is more powerful,  thank you to point it out.

Happy to see it!

[2022-03-23 01:06] daixiang0 commented on #20467
Agree, many flaky tests are related to time, they pass at local but fail in CI, add wait time is only a workaround.

I have another suggestion as https://github.com/envoyproxy/envoy/pull/20443#issuecomment-1074883531, it would reduce some resources as more and more PRs of contrib become.

[2022-03-23 02:38] mattklein123 commented on #20474
This is very much on purpose as atomic renames are the only way to achieve consistency. Doc update PRs very much appreciated.

[2022-03-23 02:56] daixiang0 commented on #20474
/assign

[2022-03-23 03:07] daixiang0 commented on #20464
BTW, is the "contrib" label also for "help wanted"?

[2022-03-23 03:18] zhxie commented on #20467
I would like to suggest only run unit tests with code changes in a PR, but I think it is difficult to determine which tests have been affected by.

[2022-03-23 03:26] #20039 closed

[2022-03-23 03:33] htuch commented on #16503
Shouldn't CONNECT be able to replace wholesale the original dst information? I'm not sure I follow what you have in (1). In any case, I think it would be good for Istio folks to achieve consensus on the preferred option.

[2022-03-23 03:47] wbpcode commented on #20467
This sounds great. May be it possible by analyzing bazel pkg dependencies.

[2022-03-23 03:48] wbpcode commented on #20467
This sounds great. May be it possible by analyzing bazel pkg dependencies.

[2022-03-23 04:01] #19776 closed

[2022-03-23 04:01] #19884 closed

[2022-03-23 04:22] asuffield commented on #20474
Makes total sense once you know about it, took about four hours to learn because it doesn't seem to be mentioned anywhere - fixing the documentation is fine.

[2022-03-23 05:16] kyessenov opened #20476 "cleanup: add proto definition for test extensions"
Currently, lookup-by-name for extensions is used for internal extensions. This is inconsistent with actual extensions which exclusively use lookup-by-type-URL. The cleanup is to add protos for all internal extensions, and remove the runtime guard usage in the tests.

[2022-03-23 06:18] LuyaoZhong commented on #18928
add @liverbirdkte

[2022-03-23 06:50] 13567436138 opened #20477 "type.googleapis.com/envoy.extensions.stat_sinks.graphite_statsd.v3.GraphiteStatsdSink not support"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
type.googleapis.com/envoy.extensions.stat_sinks.graphite_statsd.v3.GraphiteStatsdSink not support
*Description*:

the bug, for example: Envoy

[2022-03-23 07:11] 13567436138 opened #20478 "type.googleapis.com/envoy.extensions.stat_sinks.wasm.v3.Wasm not work"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
type.googleapis.com/envoy.extensions.stat_sinks.wasm.v3.Wasm  not work
*Description*:

the bug, for example: Envoy should not crash, the expec

[2022-03-23 07:24] phlax commented on #20478
Hi @13567436138 for a bug report to be useful it needs a little more information than you have provided

what are you trying to achieve ?

what different approaches have you tried ?

also the logs you have posted are not afaict envoy logs

[2022-03-23 07:35] phlax commented on #20477
@13567436138 please see comment on the other issue you just raised

i would also suggest trying a little harder to achieve your expected outcome before posting issues stating that things "dont work" or are "not supported"

[2022-03-23 08:03] github-actions[bot] opened #20479 "Newer release available `org_llvm_llvm`: llvmorg-14.0.0 (current: llvmorg-12.0.1)"
Package Name: org_llvm_llvm@12.0.1
Current Version: llvmorg-12.0.1@2021-07-09
Available Version: llvmorg-14.0.0@2022-03-23
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-03-23 08:03] #19833 closed

[2022-03-23 08:03] github-actions[bot] opened #20480 "Newer release available `org_llvm_releases_compiler_rt`: llvmorg-14.0.0 (current: llvmorg-12.0.1)"
Package Name: org_llvm_releases_compiler_rt@12.0.1
Current Version: llvmorg-12.0.1@2021-07-09
Available Version: llvmorg-14.0.0@2022-03-23
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-03-23 08:03] #19834 closed

[2022-03-23 08:24] 13567436138 opened #20481 "what watchdog event extensionconfig do we have the doc is not saying any,config.core.v3.TypedExtensionConfig"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
what watchdog event extensionconfig do we have the doc is not saying any,config.core.v3.TypedExtensionConfig
*Description*:

[code]
[optional

[2022-03-23 08:39] 13567436138 opened #20482 "how to use bootstrap watchdog,I can not start the envoy sidecar with error"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
how to use bootstrap watchdog,I can not start the envoy sidecar with error.
is my action config right?
*Description*:

I have the following co

[2022-03-23 09:03] phlax commented on #20482
this seems to be more of a question for istio  - no ?

[2022-03-23 09:29] Neil-Boyle opened #20483 "Fail to load wasm filter built by tinygo"
**Fail to load wasm filter built by tinygo**

*Description*:

I used tinygo to build wasm filter
command :	@tinygo build -o ./build/envoy_filter.wasm -scheduler=none -target=wasi ./cmd/main.go

errors occured when i starting envoy

ctitical error info:
` Failed to load Wasm module due to a missing import: wasi_snapshot_preview1.fd_prestat_get`

detail info:

[code]

i push this filter path by xds,

[2022-03-23 09:40] 13567436138 commented on #20482
it is a envoy question,because my major problem is how to config watchdogs?

[2022-03-23 09:45] Neil-Boyle commented on #20483
I have google it, one suspect of importing _unsupport package_ ,but I travel through all my filter code import; they are

[code]
used http.Header{}  http.Request{Header: header}

simple, nothing  special

[2022-03-23 09:49] phlax commented on #20467
I think the UI idea is a good one. I have thought about this previously and vaguely came to the conclusion that any ui would need to provide better information than what we get already from azure (prob not v hard!)

Not quite sure the best way to raise/notify failures, but i do know that i often go through some ~systematic steps to fish out errors so anything we can do to surface that would be a g

[2022-03-23 10:58] wbpcode commented on #20483
cc @PiotrSikora

[2022-03-23 12:45] phlax commented on #20199
@keith im just looking at https://github.com/aignas/rules_shellcheck as a possible solution to this

im noticing that it hasnt had any dev for quite some time (maybe it just doesnt need much dev), but that you have contributed to it in the past - wondering if you are still using it, and any thoughts on adding to Envoy code base

[2022-03-23 12:47] KBaichoo commented on #20481
This is where the watchdog extensions are listed: https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/watchdog/watchdog.html?highlight=watchdog

[2022-03-23 13:16] marcosrmendezthd commented on #18905
@gbrail can we reopen this?

[2022-03-23 13:32] seventhscream opened #20485 "router check tool: eliminate testonly dependencies"
*Title*: eliminate testonly dependencies in the router check tool.

*Description*:
At the present, the tool's library and binary targets are marked as testonly (as they're envoy_cc_test_library and envoy_cc_test_binary) and have testonly dependencies. We'd like to use the tool in validation workflows in production, but unable to comply with our internal policies while this tool is testonly.

As th

[2022-03-23 13:46] #20413 closed

[2022-03-23 15:00] mattklein123 commented on #20485
FWIW I don't think this is a good use of time. You are just going to end up reimplementing a bunch of the test dependencies as "production code." Certainly this is doable, but it seems like busy work to me.

Note that this same issue applies to the schema validator tool which we are now shipping in the tools image. I would actually love it if the route check tool were also shipped in the tools ima

[2022-03-23 16:01] #19929 closed

[2022-03-23 16:20] sha-rath commented on #19527
I'm very much interested in this feature as well. Do you have any further updates on this @cpakulski ?

[2022-03-23 16:21] medhat-ramadan opened #20490 "lua ,response body parsing issue for one upstream"
I am parsing response body in lua script using following code which is working for all upstream but one have issue parsing the body looks gibberish . instead it should have string json data .
`                     local body = response_handle:body()
                      local jsonString = tostring(body:getBytes(0, body:length()))
                      response_handle:logInfo(jsonString)`

![envoy

[2022-03-23 17:08] PiotrSikora commented on #20483
You need a more recent version of Envoy. This was fixed in v1.21.0 (proxy-wasm/proxy-wasm-cpp-host#201, and envoyproxy/envoy#19074).

[2022-03-23 17:15] ryanmr opened #20492 "support absolute path redirects for location header in route config"
*Title*: support absolute path redirects for location header in route config

*Description*:

would be used.

I asked [a related question on the Slack](https://envoyproxy.slack.com/archives/C78M4KW76/p1647617786518219).

Our users use our application at `example.com`, and we are using Envoy as a front proxy. It also sits behind Cloudflare and then on a K8S cluster with its own DNS name at `prod.ex

[2022-03-23 17:50] lambdai commented on #16503
@htuch
re: Shouldn't CONNECT be able to replace wholesale the original dst information?
connect method can support `host` as www.example.com:443, where dns need to be involved. If we concede the original dst should cover the format of domain name, a dns resolver need to introduced in original_dst. Part of me think that's beyond what my case needs because my case guarantees ip formart. On other han

[2022-03-23 18:11] stevenzzzz commented on #18361
nope, it is not.
the glob resource names require more work on matching received resource names.

[2022-03-23 18:22] #20438 closed

[2022-03-23 18:31] seventhscream commented on #20485
Unfortunately, the docker image wouldn't make things easier for us.
Also, packaging the tool in the docker image would technically help us to work around the issue, but actually wouldn't remove the test-only dependencies.
I understand the complexity of the task, but if we end up with no other way to use this tool in prod, would you mind if we make an attempt to solve this issue?
Another thing to c

[2022-03-23 18:45] mattklein123 commented on #20485
If you want to put together a design doc of what would be required feel free, but I will be honest that I'm skeptical that this churn is a good use of time.

[2022-03-23 19:57] kyessenov commented on #16503
The extended form of CONNECT that aims to support UDP now uses URL templates in the 8th draft, e.g. `https://masque.example.org/.well-known/masque/udp/{target_host}/{target_port}/`.

The authority is the proxy authority, and the original destination is templatized in the path. Given that Envoy lacks an ability to parse arbitrary path templates, there is no simple way to standardize this in Envoy y

[2022-03-23 20:47] alyssawilk commented on #20467
I mean for triage, maintainer on call is supposed to be looking at flaky tests, creating tracking bugs, and making sure they're assigned.  I don't think we've been particularly rigorous about that and I think it'd make a big difference (based on the fact that when I go through and fix up tests, CI is way happier for weeks-to-months)

[2022-03-23 21:46] TAOXUY opened #20495 "sendLocalReply supports google.rpc.Status details"
*Title*: FR to make http filters' [sendLocalReply](https://source.corp.google.com/piper///depot/google3/third_party/envoy/src/envoy/http/filter.h;l=437?q=sendlocalReply) support google.rpc.Status `details` field.

*Description*:
[google.rpc.Status](https://github.com/googleapis/googleapis/blob/master/google/rpc/status.proto#L35) is the canonical error for gRPC protocol. Currently, for `sendLocalRe

[2022-03-23 21:47] TAOXUY commented on #20495
@nareddyt @qiwzhang @shuoyang2016

[2022-03-23 22:16] TAOXUY opened #20496 "Check if it is grpc request on the spot during sendLocalReply"
*Title*: *Check if it is grpc request on the spot during sendLocalReply *

*Description*:
For HTTP requests, when they are transoded into gRPC requests by JsonGrpcTranscoder filter and get rejected by `sendLocalReply` in filters after, the filter manager will [treat requests as HTTP requests](https://github.com/envoyproxy/envoy/blob/main/source/common/http/filter_manager.cc#L904) and send HTTP res

[2022-03-23 22:25] JuniorHsu opened #20497 "Encoder support in thrift_proxy filter"
*Title*: Encoder support in thrift_proxy filter

*Description*:
Here's some planing
1. Extract a FilterBase (onDestroy and passthroughSupport maybe), let DecoderFilter inherit it. new interfaces EncodeFilter and BidirectionFilter
2. Let connection manager keep a list of filters
3. Plumbing needed to execute filters from ResponseDecoder for encodeFilters

The most controversial part might be the cl

[2022-03-23 22:29] TAOXUY commented on #20496
@nareddyt @qiwzhang @shuoyang2016

[2022-03-24 00:02] keith commented on #20199
We actually never ended up using it. We're using https://github.com/shellcheck-py/shellcheck-py instead for some stuff like this. I think doing something like those rules, or pre-commit, so we can lock versions on things like this is a good idea though. We similarly have a setup for this with buildifier https://github.com/keith/buildifier-prebuilt/ https://github.com/keith/pre-commit-buildifier

[2022-03-24 00:07] keith commented on #20467
We could definitely use something like https://github.com/Tinder/bazel-diff to generate this for us, running fewer tests, even if it was pretty conservative about selection, could probably help a lot. Although theoretically bazel caching should be kicking in here for many cases, I haven't looked to see if that's not happening as much as we'd expect though?

[2022-03-24 00:32] 13567436138 opened #20499 "how to config apple DNS resolver,the envoy proxy doc is blank"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
how to config apple DNS resolver,the envoy proxy doc is blank
*Description*:

I want to config bootstrap typed_dns_resolver_config,use apple d

[2022-03-24 00:55] 13567436138 opened #20500 "what TypedExtensionConfig does config.bootstrap.v3.FatalAction has the doc is empty？"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
what TypedExtensionConfig does config.bootstrap.v3.FatalAction has the doc is empty？
*Description*:

I want to config bootstrap fatal_actions，

[2022-03-24 02:10] daixiang0 commented on #20500
Maybe you miss https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/bootstrap/v3/bootstrap.proto.html?highlight=fatal_actions#config-bootstrap-v3-fatalaction.

[2022-03-24 02:13] daixiang0 commented on #20499
Yes, it is blank, refer to https://github.com/envoyproxy/envoy/blob/0b769f6e299dac9115cba10008ce984d0ebf951a/api/envoy/extensions/network/dns_resolver/apple/v3/apple_dns_resolver.proto#L16.

Read cross the codes, seems we make default config for it, we really need docs for this,

[2022-03-24 02:15] daixiang0 commented on #20496
Agree, it is really an enhancement.

[2022-03-24 03:30] Neil-Boyle commented on #20483
good job! thx!

[2022-03-24 03:30] #20483 closed

[2022-03-24 05:57] motiejus commented on #19535
Also, keep in mind that the glibc headers in zig are always latest (of glibc), but the symbol definitions are pointing to the right glibc version. So if you are compiling for `gnu.2.17`, even thought the symbol does not exist in that version, the function prototype will be included in the headers anyway:

[code]

However, linking phase will fail, like it does now.

The fact that the function proto

[2022-03-24 08:02] github-actions[bot] opened #20501 "Newer release available `bazel_gazelle`: v0.25.0 (current: v0.24.0)"
Package Name: bazel_gazelle@0.24.0
Current Version: v0.24.0@2021-10-11
Available Version: v0.25.0@2022-03-23
Upstream releases: https://github.com/bazelbuild/bazel-gazelle/releases

[2022-03-24 08:02] github-actions[bot] opened #20502 "Newer release available `build_bazel_rules_apple`: 0.34.0 (current: 0.33.0)"
Package Name: build_bazel_rules_apple@0.33.0
Current Version: 0.33.0@2022-01-22
Available Version: 0.34.0@2022-03-23
Upstream releases: https://github.com/bazelbuild/rules_apple/releases

[2022-03-24 09:22] lizan commented on #20467
The RBE cache should effectively doing this for CI, but that makes sense for local build improvement.

[2022-03-24 11:48] phlax commented on #20492
cc @mattklein123

[2022-03-24 11:52] phlax commented on #20490
cc @wbpcode

[2022-03-24 12:09] wbpcode commented on #20490
Hi, @medhat-ramadan It seems that the upstream responses are some binary data. Would you like to ensure the upstream response body again? If it's possible, can you provide the content of response body?

[2022-03-24 12:21] phlax opened #20506 "Single backticks are no longer being caught in version_history"
The code in `tools/docs/rst_check.py` is a bit brittle and is earmarked to be moved/improved to pytooling fairly soon

One thing that seems to have stopped working is the single backtick checker, and as a result we are getting quite a few PRs landing with only single backticks

Ideally we dont do this with regexes - altho in this particular case i havent found any of the static rst(check/lint) too

[2022-03-24 12:22] phlax commented on #20506
cc @danzh2010

[2022-03-24 12:35] medhat-ramadan commented on #20490
Hi @wbpcode the body is json data
removing request header  accept-encoding solved the problem seems like decoding/compression problem
`                request_headers_to_remove:
                - accept-encoding  `

[2022-03-24 12:46] SimonVleugels commented on #20229
It also took me a while to figure it out how to run bazel using the local installed jdk. Not sure if it helps or not, but this is what I did for using a local installed jdk17 on CentOS7 with Bazel 5.0.0:
[code]

[2022-03-24 12:54] wbpcode commented on #20490
Sound you are right. Based on the `accept-encoding` header, the upstream server responds with conpressed/encoded body to Envoy.

[2022-03-24 14:44] UlasSAYGINIM commented on #20229
thank you for answer. i found out this command is not working if project has bazel.rc file and it disregards your commands.
you should edit bazel.rc  like this command you gave or change what is required for you.

in addition this, bazel has problem about charset. if i use another charset than C.utf8 on freebsd like turkish.utf8 it will not work starlark as intenteded it will give error but it wil

[2022-03-24 14:44] UlasSAYGINIM commented on #20229
@SimonVleugels i forgot to tag you sorry. thank you for your help. have a nice day.

[2022-03-24 17:03] TAOXUY commented on #20496
`is_grpc_request` is introduced by

https://github.com/envoyproxy/envoy/commit/fb7bdbe45cc04ef504b1092f037b45a45cad2714

[2022-03-24 19:22] #20064 closed

[2022-03-24 19:51] #20490 closed

[2022-03-24 20:01] #19807 closed

[2022-03-24 20:26] lfpino commented on #20467
Side note on the Engflow UI: https://github.com/envoyproxy/envoy-mobile already uses Engflow's UI for this. If you invoke bazel with --runs_per_test, for instance, you can see the runs/flakiness in the UI ([invocation](https://envoy.cluster.engflow.com/invocation/410141c5-c465-448f-86ba-49ab74c7224d#targets-Ly90ZXN0L2tvdGxpbi9pby9lbnZveXByb3h5L2Vudm95bW9iaWxlOmdycGNfcmVxdWVzdF9oZWFkZXJzX2J1aWxkZXJ

[2022-03-24 21:22] agrawroh opened #20514 "Support Dry-Run RDS Configuration"
## Background

We currently use a static YAML configuration to bootstrap Envoy. With the recent growth in the number of services, it's becoming quite unmanageable to have everything in a single YAML file. We have started to look at RDS and CDS to sync the routes and clusters. Before we turn on RDS in production, we'd like to dry-run it for some time to make sure the routes that we are getting back

[2022-03-24 22:03] kvcache commented on #19761
I just had to disable this feature on my grpc service due to memory exhaustion exactly in this manner: https://github.com/envoyproxy/envoy/issues/8857

I am using `envoyproxy/envoy-dev:latest`, which on my server is:
[code]

The workaround I applied in `config.yml`:
[code]

Without this configuration envoy takes _unbounded memory_ (explodes after a few _gigabytes_). With this stanza in my configur

[2022-03-24 22:32] mattklein123 commented on #19761
cc @alyssawilk @birenroy ^^^ I think we need to disable it again. :(

[2022-03-24 22:49] salliewalecka commented on #20207
I was looking for a feature like this to help protect my slow-to-scale applications. I have many applications that each can support different amounts of traffic. I was hoping to use rate limiting to enforce that one application pod only gets n requests per second from one type of client and limit a less important client to only get n/10 requests per second. I realized I could not get that sort of

[2022-03-25 00:02] #19617 closed

[2022-03-25 00:31] htuch commented on #16503
SGTM. One thing we should be aware of though is that at some point this degenerates into just regular dynamic forward proxy. How far are we from that?

[2022-03-25 00:58] daixiang0 commented on #20514
How does the `dry_run` work? If mismatch, it will use initial route config and if not, does it update? If so, how about the update in the third time?

[2022-03-25 01:26] agrawroh commented on #20514
@daixiang0 In `dry-run` it would only emit the stats on whether the config received from RDS was a match to the initial config or not. It'd always use the initial config supplied. We could setup some alerts on the stats to notify us if there are any mismatches but we don't ever expect Envoy to use the config received from RDS in the `dry-run` mode.

[2022-03-25 01:52] mattklein123 commented on #20514
In general I'm inclined to push back on implementing this. This feature seems very specific to your migration and I think it could be implemented in other ways. For example, canary and then comparisons using config_dump or something like that. It's also non-trivial to implement. cc @envoyproxy/api-shepherds for thoughts.

[2022-03-25 02:01] agrawroh commented on #20514
@mattklein123 Thanks for the feedback. I wasn't aware of the config-dump thing. I was thinking it could be useful for big migrations in general.

I did a POC to try it out but it is for version v1.21 and it seems that some things moved in v1.22:
https://github.com/agrawroh/envoy/commit/29f5d8ab5c3fd819a73ce5a5d456e21a3576d2d6

[2022-03-25 02:08] mattklein123 commented on #20492
cc @alyssawilk @RyanTheOptimist for more HTTP expertise. It seems like host_redirect and https_redirect do what you need? Is there a functionality gap or is the issue that you feel the config is too verbose? Sorry if I'm not following.

[2022-03-25 02:23] supermanhuyu opened #20519 "route match different path and proxy to different endpoints."
*Description*:

for example:
when user use /api/v1/svcA , it will connect to svcA
when user use /api/v1/svcB , it will connect to svcB

and i have nginx config example:

[code]

how can i use envoy config to replace it ？

[2022-03-25 02:36] ryanmr commented on #20492
I was thinking about it [like this example](https://en.wikipedia.org/wiki/HTTP_location#Relative_URL_absolute_path_example)

We only have example.com right now pointing to this envoy instance, but maybe someday there might be other domains pointing to the same instance, and it would be nice to rely on the `/home` absolute path redirect vs having to configure special rules per domain with host_redi

[2022-03-25 03:09] wbpcode commented on #20519
May be simple route can achieve this:

[code]

[2022-03-25 04:04] supermanhuyu commented on #20519
@wbpcode  We can't define services one by one, because we have too many services and they are constantly increasing.

[2022-03-25 04:10] kyessenov commented on #18035
This is probably still a useful feature, but we can do something better with matcher API and aligned transport / regular sockets.

[2022-03-25 05:59] wbpcode commented on #20519
Then may be [cluster_header](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto) helps? Can you add your svc name to the http header?

[2022-03-25 07:34] SimonVleugels commented on #20229
No it does not.

.bazelrc:
[code]

Bazel test:
[code]

As you can see in the output I get the `ToolchainResolution` info I requested in the `.bazelrc` with the flag `--toolchain_resolution_debug` and bazel is fetching `remotejdk17_linux` as requested with the `java` command line options.
This also works when using a local installed jdk.

[2022-03-25 08:02] github-actions[bot] opened #20521 "Newer release available `com_github_bufbuild_buf`: v1.2.1 (current: v0.53.0)"
Package Name: com_github_bufbuild_buf@0.53.0
Current Version: v0.53.0@2021-08-25
Available Version: v1.2.1@2022-03-25
Upstream releases: https://github.com/bufbuild/buf/releases

[2022-03-25 08:02] #20447 closed

[2022-03-25 09:41] 13567436138 commented on #20500
I have exactly readed the doc above ,but not have more informations

[2022-03-25 09:44] 13567436138 opened #20524 "is enabled runtime_key random or it has some rules"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
is enabled runtime_key random or it has some rules*Description*:

sometime I have to config enabled field,It has a sub field runtime_key,I don

[2022-03-25 11:15] phlax commented on #20497
cc @rgs1

[2022-03-25 12:03] rgs1 commented on #20497
This LGTM, thanks @JuniorHsu – we can sort out some of the details over the initial PR.

[2022-03-25 14:34] UlasSAYGINIM commented on #20229
thank you for information. i knew that. it is good to you explained detailed version, it will help someone who needs later.
i am sharing the github issue about language problem.

i was facing the error below. i solved the error by changing langueage as C.UTF-8 as locale in login.conf.

i am sharing the issue is not related to my problem but similary error and changing language idea solved my probl

[2022-03-25 14:42] robejfarr commented on #19535
Thanks @motiejus for continuing to look into this.

Yes glibc 2.17 is the CentOS 7 default and why we're trying to compile using it until the maintenance window expires (probably a bit before).

Atm we can get Envoy to build using glibc 2.17 just on CentOS 7 disabling the tcp_stats extension (see comment above). We use the Envoy CentOS 7 build container script located here (https://github.com/envo

[2022-03-25 14:57] birenroy commented on #19761
@kvcache Can you say anything about your traffic pattern? Are they long-lived gRPC streams, or short-lived?

Is there a way for me to run your synthetic test setup?

In the meantime, we'll get a PR out to default-disable the feature.

[2022-03-25 15:02] #20466 closed

[2022-03-25 16:06] #19955 closed

[2022-03-25 17:02] lambdai commented on #16503
There are a few unknowns chaining with dynamic forward proxy.
DFP cluster might work if we make similar changes there and unify DFP and original_dst.

Are you aware of a discussion to replace original_dst by DFP? Should I create one?

[2022-03-25 17:56] RyanTheOptimist commented on #20492
Let me make sure I understand the request. When you say "absolute path redirect", I think what you're asking for is that the URL in the location header be a relative URL with an absolute path ("/home") as opposed to what Envoy does today by constructing an absolute URL. I can understand the use case and can understand why this approach would simplify configuration. As you pointed out, it seems lik

[2022-03-25 18:34] kyessenov commented on #20476
In addition, the lookup-by-name is used internally in the core. E.g.

We should hide visibility of getFactoryByName only for the runtime guard use.

[2022-03-25 19:13] darshanpatel29 commented on #20187
@mattklein123 Sorry for the delayed response. I can get another heap dump to confirm that symbols are correct. I was following this page to get the memory profile - https://github.com/istio/istio/wiki/Analyzing-Istio-Performance

@AlexRoman  Can you please explain to me how did you disable tracing?

[2022-03-25 19:35] ryanmr commented on #20492
Yes @RyanTheOptimist, you have it exactly right.

A small note in the docs about the current behavior, and alternatives might be a good enough solution too.

Thanks all.

[2022-03-25 19:54] kvcache commented on #19761
I'll describe my load pattern, and I'm happy to give you as much detail as I can but this is a production/closed-source application:

* Long-lived H2 **_connections_**
* New H2 **_stream_** per request (suspect this is related)
* 120 physical connections, confirmed via AWS NLB connection metrics
* NLB just doing bare TCP routing
* TLS with a `letsencrypt` cert on Envoy
* When Envoy hits the memory

[2022-03-25 21:04] batistado opened #20533 "[Forward proxy mode] Allow only client connections that match a CN from the client certificate"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: Allow only client connections that match a CN from the client certificate

*Description*:
We have a use case where we run envoy in forwarding proxy mode and block al

[2022-03-25 21:41] htuch commented on #20514
You could also, for this case, consider using a secondary filter chain or listener with both new/old configuration, you should be able to config dump or send traffic across both to compare.

[2022-03-25 21:52] #20459 closed

[2022-03-25 21:53] htuch commented on #16503
I'm not familiar with this, but it seems like a place there might be reasonable convergence when we're using CONNECT as the basis for overriding. Vanilla original_dst is different enough I can imagine never unifying, it really depends how far you will go with the CONNECT stuff here.

[2022-03-26 00:37] TAOXUY opened #20535 "local reply during encoding should continue encoding from the encoder filters hasn't encoded"
*Title*: local reply during encoding should continue encoding from the encoder filter before the one raises local reply

*Description*:

Currently, when the local reply is raised by encoder filter during encoding header time, it will send the local reply directly to downsteam. We want the local reply to continue going through the filters that haven't encoded.

https://github.com/envoyproxy/envoy/b

[2022-03-26 02:06] zhangbo1882 opened #20536 "Linked packet capture feature provided by hardware Loadbalancer(Netscaler/BigIP)"
Current the hardware load balancer (HLB) such as Netscaler/BigIP provide the linked packet capture functionality to make the packet capture more convenient. It mainly solves two pain points when we do packet capture.

If you set the filter with client IP and VIP, it can capture all the packets from client to vip and also from LB to all upstream servers. So we can get a full picture about the whole

[2022-03-26 02:07] zhangbo1882 commented on #20536
https://github.com/envoyproxy/envoy/pull/20525

[2022-03-26 02:49] mattklein123 commented on #20492
OK thanks for the further explanation. For now let's mark this docs and help wanted and hopefully we can at least start by making the docs better.

[2022-03-26 08:03] github-actions[bot] opened #20537 "Newer release available `com_github_bufbuild_buf`: v1.3.0 (current: v0.53.0)"
Package Name: com_github_bufbuild_buf@0.53.0
Current Version: v0.53.0@2021-08-25
Available Version: v1.3.0@2022-03-25
Upstream releases: https://github.com/bufbuild/buf/releases

[2022-03-26 08:03] #20521 closed

[2022-03-27 00:46] tensorchen commented on #20430
@alyssawilk @lambdai  Thanks for the reply.  @wbpcode exactly what you understand.

 Downstream send http request, Upstream receive tcp request.

HTTP Request
[code]

TCP Request
[code]

I need to convert in envoy. I also I also expected to use the http.router filter and rds feature. I am trying to find the most elegant solution.

[2022-03-27 02:10] vitruvvius opened #20539 "RDMA over the internet"
RDMA

*Description*:
Has the envoy team considered embedding RDMA into transport layer?

[2022-03-27 04:02] 13567436138 opened #20540 "what is bootstrap bootstrap_extensions used for？"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
what is bootstrap bootstrap_extensions used for？*Description*:

I don't know what is the config usage.the doc don't explain ,anybody knows?
[o

[2022-03-27 07:52] phlax commented on #20539
interesting question

im not clear if you are asking about:

- Envoy making use of RDMA (which is my reading of the description)
- Envoy proxying RDMA (which title seems to suggest)

cc @mattklein123

[2022-03-27 08:01] phlax commented on #20540
https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/bootstrap/v3/bootstrap.proto.html?highlight=bootstrap_extensions

there are a couple of existing extensions listed there (wasm/vcl)

im sure this is an area that could have better documentation

[2022-03-27 08:18] phlax commented on #20524
searching the docs and grepping the code it seems there are quite a few different uses of `runtime_key`

my reading is that the key names are significant, and as documented

(eg try `$ git grep shadow_enabled` )

[2022-03-27 08:32] phlax commented on #20535
cc @snowp

[2022-03-27 08:44] phlax commented on #20533
cc @ggreenway

[2022-03-27 09:06] 13567436138 opened #20541 "how many overload action typed_config are threre？"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
how many overload anction typed_config are threre？
*Description*:

I want to config overload action，the typed_config in the doc I discoveried

[2022-03-27 14:42] vitruvvius commented on #20539
Any commentary on whether there are plans to introduce RDMA in the ecosystem - downstream or upstream clusters.

Eventually will need it for an open source video streaming / computer vision platform. curious whether or not this has been thought of yet so we would not need to copy modules out of envoy to acquire duplicate functionality.

[2022-03-27 20:03] #19978 closed

[2022-03-27 20:03] #20008 closed

[2022-03-28 01:36] daixiang0 commented on #20541
I think now only support it.

[2022-03-28 01:42] daixiang0 commented on #20539
In my knowledge, it is hard to proxy RDMA as it uses its own transport way, more like point-to-point. As Envoy mostly works as a sidecar/gateway to proxy, RDMA is not intended for proxy.

I am curious about the design of the video streaming / computer vision platform and how do you want to use Envoy, including how to use RDMA.

[2022-03-28 01:50] daixiang0 commented on #20533
It is an interesting question, does it use to deny fake connections? In that case, certs are fake as well, is there a really case that fakes other fields except CN?

[2022-03-28 02:52] xichengliudui opened #20542 "Using fileystem to dynamic configure the envoy failed according to the documentation"
*Title*: *One line description*
Using fileystem to dynamic configure the envoy failed according to the documentation

*Description*:
Error access `127.0.0.1:10000`
[code]
command
[code]
envoy-dynamic-filesystem-demo.yaml
[code]
cds.yaml
[code]
lds.yaml
[code]

[2022-03-28 02:53] xichengliudui commented on #20542
As a beginner I don't know what went wrong

[2022-03-28 03:06] xichengliudui commented on #20542
some of the log
[code]

[2022-03-28 03:29] rainingmaster opened #20543 "Zstd compression support in envoy"
*Title*: *Zstd compression support in envoy*

*Description*:

cc @rojkov

[2022-03-28 06:20] batistado commented on #20533
@daixiang0 In addition to this CN check in the client cert, we will also accept connections from a specified list of hosts/IP addresses. So even a cert CN is compromised, the proxy shouldn't allow connects based on host/IP filtering. Is this possible with envoy running as forward proxy? If yes, can you share example config?

[2022-03-28 07:18] wbpcode commented on #20542
From log, it seems that envoy cannot allocates new local client address/port?

[2022-03-28 07:22] phlax commented on #20542
is it an ip4/6 issue do you think @wbpcode ?

[2022-03-28 07:35] daixiang0 commented on #20543
cross with https://github.com/envoyproxy/envoy/pull/20434

[2022-03-28 07:37] wbpcode commented on #20542
Yeah. Looks like some ip4/6 issues. The DNS return a ipv6 address `[2406:da18:880:3800:3cf7:d90b:9468:f4a6]:443` of server but Envoy cannot allocate ipv6 client address from os.

[2022-03-28 07:42] wbpcode commented on #20542
Hi, @xichengliudui, can you update this admin adress to ipv6 wildcard address and re-run the docker command? If the Envoy bootstrap failed, then may be you need check your local docker config to ensure that your env supports ipv6?

[2022-03-28 08:58] rojkov commented on #20543
As stated in the PR already I'm OK to sponsor this enhancement. Intel needs it as a benchmark for the upcoming zstd acceleration in QuickAssist HW and is willing to support it together with ByteDance.

[2022-03-28 09:20] vitruvvius commented on #20539
# purpose

rdma infiniband - and its equivalent dma alternatives - helps solve a cost problem when rebroadcasting video/lidar data to upstream/downstream clusters. it also helps solve a scaling problem in computer vision / ml workloads. most notably seen as one of the reasons behind NVIDIA buying Mellanox.

# context

(1) we view envoy - irrespective to its singularity of focus of an L7 proxy - as

[2022-03-28 11:09] sologgfun opened #20545 "svc with dot in end is not support in envoy"
*Title*: *svc with dot in end is not support in envoy*

*Description*:

<img width="1062" alt="image" src="https://user-images.githubusercontent.com/13819034/160385700-44dd3d85-23a9-4f7c-9492-1129b7440982.png">

[optional *Relevant Links*:]

[2022-03-28 11:44] ankatare commented on #20077
/assign

[2022-03-28 11:46] sunbinnnnn commented on #19629
The same problem happend to me, any comments?

[2022-03-28 11:54] soulxu commented on #20539
We have thought about Envoy + RDMA, using the IP network to route the node, then setup RDMA connection to transfer the data.

[2022-03-28 12:19] caoyukun0430 commented on #20251
Hi FYI, the istio parameter ISTIO_META_IDLE_TIMEOUT changes both http and tcp level idle timeout and has the limitation that it only works for the OUTBOUND direction, but not the INBOUND direction (https://github.com/istio/istio/issues/24387#issuecomment-713600319).

[2022-03-28 12:27] chinaran commented on #18168
@alyssawilk no, still need global tcp ratelimit examples, like http

[2022-03-28 12:30] vitruvvius commented on #20539
for the use case noted, internet was not the most accurate term

good to note, though, rdma over ip has been developed

rdma in general has followed an equivalent roadmap as dpdk. the only difference - for those curious - was separating the cpu & forming dedicated hardware

[2022-03-28 13:09] adisuissa commented on #20545
@alyssawilk hostname ending with `.`, do you think this should be truncated or preserved?

[2022-03-28 15:07] andrewrmiller commented on #19645
This is still an issue for us.

[2022-03-28 15:13] phlax commented on #19645
cc @alyssawilk

[2022-03-28 15:40] alyssawilk commented on #20545
(I mean it's not necessarily the case that Envoy hosts have to abide by the hostname in the URL RFC but they're used for SNI and DNS and other things so I think they ought to, rather than doing the more complicated feature of rejecting config if we're using the hostname as a literal hostname aywhere0

[2022-03-28 15:47] alyssawilk commented on #20430
can you make it a POST request?  If so you can do something like
configs/terminate_http2_post.yaml
only use HTTP/1.1 config instead of HTTP/2

[2022-03-28 16:00] birenroy commented on #19761
@diannahu did some investigation and found the likely cause. We'll have a fix upstream in QUICHE soon. Thanks for the report!

[2022-03-28 16:17] tensorchen commented on #20430
@alyssawilk

envoy  version: 1.21.1

Envoy is installed via brew

Step 1: start tcp echo server

envoy -l trace -c server.yaml

[code]

step 2: start http upgrade server

[code]

step3: send http1.1 post request

[code]

**Expect http body to be hahaha, but actual body size is 0.
Where is this going wrong, or am I understanding http upgrade incorrectly?**

Result 1: curl

[code]

Result 2: http up

[2022-03-28 16:19] eguzki opened #20553 "Ratelimit domain at filter in the filterchain level limits multitenancy"
*Title*: Ratelimit domain at HTTP filter level limits multitenancy

*Description*:
The rate limiting [domain(s)](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/ratelimit/v3/rate_limit.proto#envoy-v3-api-msg-extensions-filters-http-ratelimit-v3-ratelimit) used in the global rate limiting filter in Envoy are shared across all traffic domains that hit the gateway. The glob

[2022-03-28 17:28] lambdai commented on #20430
I don't think any HTTP related RFC defines this transformation.
I would suggest you rethink wether you want to stay on this framing method since it's not trivial.

1. The first thing you need is to decide if the upstream is http-ish request or tcp-ish. The router http filter config can only choose from 2.
    The TCP-ish upstream cannot support connection reuse right now. But I guess it's a must i

[2022-03-28 17:33] mattklein123 commented on #20536
Sorry I don't think I have enough information to have an opinion on how this might work in Envoy. In general though, we fully decouple upstream and downstream, so we are never going to directly connect them.

The way we typically handle such issues is to pass metadata between downstream and upstream. This might be the way to go for your use case. For example take a look at https://github.com/envoy

[2022-03-28 17:37] mattklein123 commented on #20539
To be honest I haven't thought about RDMA since my HPC days at Amazon in the early 10s. I think it's conceivable that this could work with Envoy, but it would need a lot of thinking. Fundamentally, Envoy is used to operating on streams of data. If we consider RDMA a stream of put/get operations, it might layer in similar to how we do UDP today.

My advice would be to do a design document on how th

[2022-03-28 18:52] kyessenov commented on #20100
Not stale, need a doc at a minimum.

[2022-03-28 19:49] ggreenway commented on #20362
As a starting point, I'd recommend replacing memcpy with the hw acceleration, make a build, and produce some benchmark results. Then share the code changes and benchmark results here, and we can figure out the next steps. It might make more sense as a compile-time option than a configuration option.

[2022-03-28 19:54] #18510 closed

[2022-03-28 19:55] ggreenway commented on #18715
That sounds reasonable to me.

[2022-03-28 20:28] JuniorHsu opened #20559 "Reject thrift router config if cluster/weighted clusters/mirror cluster doesnt exist"
Thrift router impl does not check clusters exist while the config is created
 https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/network/thrift_proxy/router/router_impl.cc#L21
Thrift uses the the rds in
https://github.com/envoyproxy/envoy/tree/main/source/common/rds

However http router impl does check these:
 https://github.com/envoyproxy/envoy/blob/fcf2c551465bc5fae280c8fffc

[2022-03-28 21:30] lambdai opened #20561 "v1.19 CI is failing on macos"
It seems the macos failure is unrelated

[code]

_Originally posted by @lambdai in https://github.com/envoyproxy/envoy/issues/20192#issuecomment-1063645854_

[2022-03-28 21:33] howardjohn opened #20562 "On-demand DNS resolution"
*Title*: On-demand DNS resolution

*Description*:
Currently, DNS clusters (LOGICAL and STRICT), constantly resolve DNS in the background.

We see fairly common reports of DNS servers being overloaded due to having a large explosion of these clusters across many Envoy workloads sharing the same DNS server (typically this is kube-dns).

Often, these workloads are either infrequently or never actuall

[2022-03-28 21:39] #20267 closed

[2022-03-28 23:00] batistado opened #20563 "ExtAuthz: Client cert not available to the external Authz service"
*Title*: ExtAuthz: Client cert not available to the external Authz service

*Description*:
Our usecase is mentioned here: https://github.com/envoyproxy/envoy/issues/20533 and I was exploring if I can use an external gRPC service that can get an ext authz request from envoy with the client cert and extract the CN to make a decision of proxying or not.

I tried to follow this guide: https://medium.c

[2022-03-28 23:01] batistado commented on #20533
@daixiang0 Please let me know if https://github.com/envoyproxy/envoy/issues/20563 can work.

[2022-03-29 00:55] daixiang0 commented on #20562
Could you share more details about the case that never actually send requests, I do not hear it before. Do you mean health check?

Is there a cache inconsistency issue when `1/QPS > TTL` if I understand correctly?

[2022-03-29 00:57] howardjohn commented on #20562
I mean a user creates a config that results in a envoy cluster for googeapis.com being sent to a bunch of Envoy instances in the mesh. However, only 1/2 of their applications actually call googleapis.com, so we have a bunch of excess DNS requests.

Even in the 50% of instances we do depend on googleapis.com, we may call googleapis.com infrequently.

No, this just means we would need to perform a s

[2022-03-29 01:02] howardjohn opened #20564 "x_inspector: log inspected value"
*Title*: x_inspector: log inspected value

*Description*:

currently, a request using original dst, tls, and http inspector looks like:
[code]

With trace logs enabled.

It would be great if all of thee filters logged the final detected result. For example...:

[code]

[optional *Relevant Links*:]

[2022-03-29 02:43] sunbinnnnn commented on #19629
I got the high performance when I set more clients in redis benchmark(1000+), the same as directly connect, but low performance in less clients scene.

[2022-03-29 03:25] mattklein123 commented on #20562
Could you use dynamic forward proxy for this? Dynamic forward proxy is effectively on demand DNS. :)

[2022-03-29 03:30] xichengliudui commented on #20542
Does this have something to do with my system? How do I set the admin address?

[2022-03-29 03:37] xichengliudui commented on #20542
got it
![image](https://user-images.githubusercontent.com/40875627/160528220-01e02ffe-b641-46aa-a216-e25aac1fc7d8.png)

[2022-03-29 03:42] howardjohn commented on #20562
Interesting, hadn't thought of that before but does seem close to what we want. One concern would be it only works for HTTP (I think?), and we would likely need cluster-per-hostname for a lot of cases to have more control. The dynamic proxy could be used in some cases though, I think

[2022-03-29 03:46] xichengliudui commented on #20542
I run envoy using the same `static configuration` and it worked fine, how is this different from dynamic configuration? why can't dynamic configuration assign IP addresses

[2022-03-29 03:48] wbpcode commented on #20542
Can your provide some logs about your `static configuration` running?

[2022-03-29 03:55] daixiang0 commented on #20564
I agree that add IP info helps.

[2022-03-29 04:11] daixiang0 commented on #20564
@howardjohn after checking codes, we always set transport protocol to raw_buffer in tls_inspector, anyway I still add trace log in the pr, you can see it there.

[2022-03-29 04:15] howardjohn commented on #20564
For the transport socket one I was thinking in the tls_inspector filter, it is split from the http inspector

[2022-03-29 05:44] xichengliudui commented on #20542
[code]

[2022-03-29 05:47] xichengliudui commented on #20542
I noticed that an IP was assigned `178.128.126.116:443`, i thought dynamic configuration should also assign an IP, unexpectedly they are different
command
[code]
static config
[code]

[2022-03-29 05:56] wbpcode commented on #20542
![image](https://user-images.githubusercontent.com/12389633/160542715-e7e3d050-75e4-439e-a264-f65dfb4f0f3e.png)

![image](https://user-images.githubusercontent.com/12389633/160542762-1e701633-585e-4ed9-a556-e9241cff9741.png)

![image](https://user-images.githubusercontent.com/12389633/160542809-4608332b-e10f-40d9-ac9e-6557236013e7.png)

An ipv6 address is resolved by the dns in your dynamic config

[2022-03-29 06:19] xichengliudui commented on #20542
@wbpcode I added `dns_lookup_family` to the cds.yaml and now envoy works properly

[code]

[2022-03-29 06:22] xichengliudui commented on #20542
@wbpcode Thank you for your help
do we need to update `cds.yaml` in the documentation? more beginners are likely to ask this question
https://www.envoyproxy.io/docs/envoy/latest/start/quick-start/configuration-dynamic-filesystem#configuration-dynamic-from-filesystem

[2022-03-29 06:23] #20542 closed

[2022-03-29 07:59] wbpcode commented on #20542
Sounds reasonable. May be we can add some additional notes to helpe the beginners. 🤔

[2022-03-29 08:03] tkovacs-2 commented on #20559
The `common/router` is using `common/rds` (at least the routing discovery part). The classes have same name because they are for the same purpose, the ones in `Router` extend the ones in `Rds` for extra needs of the http.

To pass additional information to `ConfigTraits::createConfig` should be done through the constructor of the implementing class. https://github.com/envoyproxy/envoy/blob/b77651d

[2022-03-29 08:07] github-actions[bot] opened #20566 "Newer release available `com_github_skyapm_cpp2sky`: v0.4.0 (current: v0.3.1)"
Package Name: com_github_skyapm_cpp2sky@0.3.1
Current Version: v0.3.1@2021-06-17
Available Version: v0.4.0@2022-03-28
Upstream releases: https://github.com/SkyAPM/cpp2sky/releases

[2022-03-29 08:52] hundredbag commented on #20034
Hello,
I have a question regarding the proper location to apply this API.

This issus is about generic byte hashing for UDP (N bytes from a certain startpoint) to create/find a session to upstream host. In addition, I need a function to perform a specific action for certain matching values.

In my opinion, it is good to add an optional configuration for generic hashing inside the existing UdpProxy

[2022-03-29 09:20] LuyaoZhong commented on #18928
@lambdai @ggreenway

It sounds moving the implementation from listener filter to cert provider, while cert provider has less components than listener filter and it's not ready for now. Which design do you like, cert provider + listener filter, or a stand-along listener filter?

We have to connect upstream in downstream subsystem of Envoy. Besides, we need to store that socket to somewhere and use

[2022-03-29 13:15] adisuissa commented on #20563
@pradeepcrao this seems to be in an area you worked on, thoughts?
cc @mattklein123

[2022-03-29 15:19] mattklein123 commented on #20536
I'm not suggesting that you use original_src as a solution to your problem. I'm explaining that is an example of how we carry ancillary data between downstream and upstream in Envoy. Envoy's architecture fully decouples downstream for upstream and we won't allow the type of direct connection you are proposing for abstraction and encapsulation reasons. With that said, between something like the ori

[2022-03-29 15:20] marcosrmendezthd opened #20569 "Is it possible to skip OAuth2 filter when using mTLS"
*Description*:

We've configured envoy (af50070ee60866874b0a9383daf9364e884ded22/1.21.1) to support both JWT and mTLS via ext auth. We're now trying to add an OAuth2 flow, however, I'm unable to find a way to tell the OAuth2 filter to not process requests where a client certificate is being used. The OAuth2 filter is on a separate filter chain.

So for example, given an excerpt of the configuratio

[2022-03-29 15:26] mattklein123 commented on #20562
L4 has a variant called the SNI forward proxy which works the same way. I would take a look at that also. Almost certainly we can make one of these work how you want it to.

[2022-03-29 15:31] howardjohn commented on #20562
We also support just raw TCP without TLS. An example in Istio API:

[code]

What this sets up in Envoy terms is a Listener on 1.2.3.4:1234 which forwards to a STRICT_DNS cluster resolving `some-sql-instance.aws.com`.

That may just be a minor edge case though. Let me play around with the HTTP/SNI forms and see if there are any gaps

[2022-03-29 15:33] mattklein123 commented on #20562
If you really needed it we could add an option to the "SNI" filter to just hard code a target if none is supplied or not TLS, etc.

[2022-03-29 16:59] shashankram commented on #20113
Still blocked on this to be able to update to the latest Envoy version. Please let me know if there is a workaround.

[2022-03-29 18:12] alyssawilk commented on #19645
Sorry I'm not clear what the problem is, is it that Websockets don't work with the buffer filer?  This is called out explicitly in the docs "Note that buffering is generally not compatible with upgrades, so if the Buffer filter is configured in the default HTTP filter chain it should probably be excluded for upgrades by using upgrade filters and not including the buffer filter in that list."

http

[2022-03-29 18:15] uromahn opened #20573 "days_until_expiration incorrectly reported by the /certs endpoint for expired certs"
*Description*:
Envoy reports the status of certificates via the admin endpoint by returning a JSON object from the `/certs` endpoint. One important property that is being reported for each cert is the `days_until_expiration`. However, once a certificate expired, i.e. the `expiration_time` is before the current time, the `days_until_expiration` is still reported as a positive number, albeit very la

[2022-03-29 19:41] yanavlasov opened #20575 "H/2 header validation error handling is not RFC compliant"
Per [RFC 7540 section 8.1.2.6](https://datatracker.ietf.org/doc/html/rfc7540#section-8.1.2.6) header validation errors are stream level errors. However Envoy's behavior is configurable and by default such errors are treated as connection level errors.

**Proposal:** always treat H/2 header validation errors as stream errors per RFC. This change will be flag protected and eventually deprecated per

[2022-03-29 21:40] kinghrothgar commented on #13962
Leaving this for future people finding this via Googling. This is the logrotate config I ended up with that worked:
[code]

[2022-03-29 22:53] #17229 closed

[2022-03-29 22:53] JuniorHsu commented on #20559
Thanks for the great input @tkovacs-2 especially the traits flag!
It's implicit that the validation is enabled in static provider [1] but disabled in rds [2], which I missed before.
[1] https://github.com/envoyproxy/envoy/blob/main/source/common/router/rds_impl.cc#L257
[2] https://github.com/envoyproxy/envoy/blob/main/source/common/router/route_config_update_receiver_impl.h#L46

To clarify the nam

[2022-03-30 01:35] zhangbo1882 commented on #20536
Thanks. I will investigate more.

[2022-03-30 02:04] mukundv18 commented on #11025
Does Envoy proxy support Redis Streams?

[2022-03-30 02:44] kyessenov commented on #18035
Some additional thoughts that we had in this area:
* delaying inspectors until middle of the decision tree in the unified matchers: helps with reducing duplication with per-listener filter conditions
* this feels a lot like internal redirect in HTTP; perhaps, a better way to frame it is as a re-evaluation of the matcher tree.

[2022-03-30 04:05] shashankram commented on #20113
See https://github.com/envoyproxy/envoy/issues/20113#issuecomment-1055930033 for repro steps.

[2022-03-30 04:12] htuch opened #20578 "Refactor JWT matching logic"
As per https://github.com/envoyproxy/envoy/pull/20145, we have duplicative matching logic in core router and JWT filter. This seems a maintenance, testing and security concern. I think with some modest refactoring, we could move this match logic to a common library. This is a fairly straightforward refactoring I think (famous last words).

[2022-03-30 04:12] htuch commented on #20578
CC @qiwzhang @envoyproxy/api-shepherds

[2022-03-30 05:12] daixiang0 commented on #20573
/assign

[2022-03-30 05:41] tpetkov-VMW commented on #20578
I can try to do it

[2022-03-30 05:48] daixiang0 commented on #20573
I thought when cert expires, it returns the MAX, after checking the code, the MAX is 2147483647 as vscode shows, not what I think.

[2022-03-30 05:49] daixiang0 commented on #20573
The above MAX is from default validitor, but for SNIFFER, it uses SIZE MAX(18446744073709551615UL).

[2022-03-30 05:53] daixiang0 commented on #20573
/assign

[2022-03-30 05:54] daixiang0 commented on #20573
@uromahn do you use SNIFFER cert validator?

[2022-03-30 06:24] daixiang0 commented on #20573
The root cause is that size_t is unsigned, and can thus only express positive numbers. Comparing it to a negative will have wacky results.

[2022-03-30 07:24] nmeessen commented on #13435
In case anyone bumps into this, I managed to work around the issue with Lua and make Envoy forward to squid for both "CONNECT" and non-CONNECT using absolute URLs (in my case that's for non-TLS traffic)
`static_resources:
  listeners:
  - name: listener_0
    address:
      socket_address:
        protocol: TCP
        address: 0.0.0.0
        port_value: 10000
    filter_chains:
    - filters:

[2022-03-30 11:52] mukundv18 commented on #19629
Same problem here. Tried the following settings, but still observed the same performance.
[code]
Passed `--concurrency 10` as the parameter when running envoy

Let me know if I am missing something. Our config is mentioned below.
[code]

[2022-03-30 12:01] hamza-maqsood commented on #11551
has anybody fixed this issue?

[2022-03-30 12:03] NirmalP29 opened #20583 "Redis Benchmark Performance"
I compared the envoy performance with redis cluster using redis benchmark and found the following results for client and server in different vms in same region -

redis-benchmark -t set,get -n 2000000 -q -h ip -p 6379 --cluster --csv -r 100000
"test","rps","avg_latency_ms","min_latency_ms","p50_latency_ms","p95_latency_ms","p99_latency_ms","max_latency_ms"
"SET","64470.38","0.722","0.216","0.623",

[2022-03-30 12:19] phlax commented on #11551
the best solution i think is to use the distroless image - which is permissionless anyway

the solutions posted above are not really solutions imho - they are just disabling the dropping of permissions - which is not in most cases desirable i think

[2022-03-30 12:22] pablocompagni-contractorvp commented on #11551
Setting ENVOY_UID as an env var as suggested previously worked for me

<img width="677" alt="image" src="https://user-images.githubusercontent.com/82176706/160833297-14bcd071-8f1a-47ff-a77b-30685075ca2f.png">

[2022-03-30 12:33] phlax commented on #11551
setting it to `0` is also the equivalent of saying - run as root (ie the same as overriding the entrypoint and preventing permissions being dropped)

this is probably not going to make the container that much less secure - but its not generally a good idea for production

a much better solution is to use the distroless image (note: alpine image has been deprecated for some time and is no longer su

[2022-03-30 12:36] jparklab opened #20584 "Envoy fails to bind to a port after hot restart when the port is used for both UDP and TCP"
*Title*: *Envoy fails to bind to a port after hot restart when the port is used for both UDP and TCP*

*Description*:
After a hot restart, envoy fails to finish initialization with the following error message

[code]

It happens to listener using TCP protocol that binds to a port that is also bound to by another listener using UDP protocol.

*Repro steps*:

The issue can be reproduced by running e

[2022-03-30 12:52] hamza-maqsood commented on #11551
I tried using the distroless image now

here's my dockerfile
FROM envoyproxy/envoy-distroless:v1.20-latest
COPY envoy-stag.yml /etc/envoy/envoy.yml
RUN apk --no-cache add ca-certificates
ENTRYPOINT /usr/local/bin/envoy -c /etc/envoy/envoy.yaml -l trace

but when I run it through github actions and try deploying to google run, I get the following error:
OCI runtime create failed: container_linux.go

[2022-03-30 12:56] phlax commented on #11551
it also doesnt have apk - so that recipe wont work

i think you will need a multi-stage recipe and to use `COPY --from` to get the certs

see here https://stackoverflow.com/questions/52636213/docker-distroless-image-how-to-add-customize-certificate-to-trust-store for discussion

[2022-03-30 13:12] adisuissa commented on #20569
@rgs1 @snowp as oauth2 filter owners who may be able to shed some light.

[2022-03-30 13:20] adisuissa commented on #20583
cc @msukalski @henryyyang @mattklein123 @weisisea as redis extension owners

@NirmalP29 I wonder if it's related to the redis config or the non-redis Envoy config.
Do you see similar performance issues If you have a simple echo upstream cluster (e.g., using [nighthawk-server](https://github.com/envoyproxy/nighthawk))?

[2022-03-30 13:22] adisuissa commented on #20584
cc @mattklein123 @alyssawilk

[2022-03-30 13:31] alyssawilk opened #20585 "Flake in AdjustUpstreamSettingsMaxStreams"
flaked on the windows build:

https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/104802/logs/124

[ RUN      ] IpVersions/Http2FrameIntegrationTest.AdjustUpstreamSettingsMaxStreams/IPv4
.\test/integration/server.h(484): error: Value of: TestUtility::waitForCounterEq(statStore(), name, value, time_system_, timeout, dispatcher)
  Actual: false (timed out waiting for c

[2022-03-30 13:36] alyssawilk opened #20586 "StreamingProtocols/StreamingIntegrationTest.PostAndProcessBufferedRequestBodyTooBig/IPv4_GoogleGrpc_WithDeferredProcessing"
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/104872/logs/221

cc @gbrail

[2022-03-30 14:15] rgs1 commented on #20569
I think we should support this.

cc: @fishcakez @derekargueta

[2022-03-30 14:32] alyssawilk opened #20589 "forward fix extensions being depended on by core code/tests"
so way back when I fixed the default visibility rules so extensions were in general not visible to core code and non-extension tests.

That said, it relies on maintainers remembering to not let folks fix visibility rules, as individual contributors don't know it's problematic (e.g. https://github.com/envoyproxy/envoy/pull/20560#discussion_r837623827) and that's clearly not a good plan.

I think as

[2022-03-30 14:36] phlax commented on #20589
im happy to pick it up - but i have a bit of a backlog atm so if you want to resolve more quickly

also, from my pov its probably quicker translating existing code into the pytooling libs - so would be happy to review

[2022-03-30 15:21] alyssawilk commented on #20589
"happy to review" clearly you have not reviewed much of my python :-P  Thanks, PR sent your way.

[2022-03-30 15:28] adisuissa opened #20591 "flaky QUIC integration TSAN test - ManyLargeRequestHeadersAccepted"
*Title*: flaky QUIC integration TSAN test

*Description*:

Link to CI output: https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/104966/logs/220
Test is in target: `//test/integration:quic_protocol_integration_test`

Here's an excerpt from the above link:
[code]

It could be that using the above test configuration (TSAN, wrapped-H2, no-deferred-processing), resulted

[2022-03-30 15:29] adisuissa commented on #20591
cc @alyssawilk any suggestions for an owner?

[2022-03-30 15:42] tensorchen commented on #20430
envoy version 1.21.1

**Scene 1**

[curl with http body "hahaha"] --> [Envoy with terminate_http1_post] --> [Envoy envoy.filters.network.echo]

Expect http response body to be "hahaha", but actual body size is 0.

[code]

**Scene 2**

The following link is as expected

[nc tool] --> [Envoy with encapsulate_in_http1_post] --> [Envoy with terminate_http1_post] --> [Envoy envoy.filters.network.echo]

[2022-03-30 15:43] alyssawilk commented on #20591
upstream defaults to me, downstream to Dan (and I've assigned it her way)

[2022-03-30 16:05] batistado commented on #20563
Hey @pradeepcrao @mattklein123 @adisuissa, Did you guys get a chance to look at this?

[2022-03-30 16:06] #19945 closed

[2022-03-30 16:11] mattklein123 commented on #20584
I think the issue is this function needs to be aware of TCP vs. UDP:

https://github.com/envoyproxy/envoy/blob/ff24017783df8cb0f342d7532b565bd0cd54f106/source/server/hot_restarting_parent.cc#L111

I think TCP vs. UDP is being passed across the hot restart RPC but AFAICT it's being stripped before doing the actual lookup.

[2022-03-30 17:14] fishy opened #20595 "Envoy should not alter thrift THeader key"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Currently envoy always lowercase thrift THeader key and this is wrong*

*Description*:
Thrift THeader keys are case-sensitive according to [the spec](https://github.com/apac

[2022-03-30 18:22] marcoferrer commented on #20595
Linking thrift issue requesting clarification on key format in the header spec
https://issues.apache.org/jira/browse/THRIFT-5541

[2022-03-30 18:48] lambdai commented on #20430
Both scenarios work as I expected :)

First, wireshark is doing correct. The request is indeed plain POST request. It's Envoy's special setting that
[code]
treating POST as CONNECT.

Second, the curl close the request with TCP FIN in packet 863 because curl knows there is no data for in this POST.
When Envoy received this HTTP POST request ending with FIN, Envoy do half close to the upstream serve

[2022-03-30 19:49] htuch commented on #20578
@tpetkov-VMW really appreciated, I've assigned the issue to you.

[2022-03-30 20:01] #19498 closed

[2022-03-30 20:01] mkbehr opened #20599 "CI test builds failing with "invalid action cache entry""
*Title*: CI test builds failing with "invalid action cache entry"

*Description*:
I'm seeing CI runs fail to build changed files with messages like:

`ERROR: /source/test/extensions/filters/http/cache/BUILD:71:24: Compiling test/extensions/filters/http/cache/cache_filter_test.cc failed: (Exit 34): Invalid action cache entry 0da235ebddfcb79aa14ea81f1aa904e9fdf4b016e4fb535094a666317649c5b5: expected

[2022-03-30 20:16] keith commented on #20599
According to that bazel issue it is fixed in bazel 5.1, which I updated main too yesterday https://github.com/envoyproxy/envoy/commit/fd92486e4c751b29cd92412fd862ced6c6bae073 🤔

[2022-03-30 20:19] keith commented on #20599
In case the CI log rotates here's more of the stack:

[code]

[2022-03-30 20:28] RyanTheOptimist commented on #20545
I think we want [Section 3.2.2 of RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2.2).

[code]

As such, I would have thought that it would be fine to have trailing dots in hostnames.

[2022-03-30 22:42] jparklab commented on #20584
@mattklein123 I think you are right. I no longer see the issue when I change the if statement as below to compare socket type
[code]

[2022-03-31 00:27] lambdai opened #20602 "100-continue should be case insensitive per rfc 7231"
[5.1.1](https://datatracker.ietf.org/doc/html/rfc7231#section-5.1.1).  Expect

   The "Expect" header field in a request indicates a certain set of
   behaviors (expectations) that need to be supported by the server in
   order to properly handle this request.  The only such expectation
   defined by this specification is 100-continue.

     Expect  = "100-continue"

   The Expect field-value is c

[2022-03-31 00:50] mukundv18 commented on #20583
@adisuissa We haven't tried nighthawk-server yet. Are you saying that the envoy config is fine? We need not update anything in the config? Also, we tried setting '--concurrency 10', but didn't observe any performance improvements.

[2022-03-31 00:52] keith commented on #20599
I'm wondering now if this degraded in Bazel 5.1 and we should downgrade back to 5.0 🤔

[2022-03-31 02:37] soulxu commented on #20113
Yes, I try that steps, but I can't reproduce them.

I update the config to remove listener
[code]

Then the connection will be refused directly.
[code]

[2022-03-31 02:41] jparklab commented on #20584
@soulxu I created a PR: https://github.com/envoyproxy/envoy/pull/20605, can you take a look?

[2022-03-31 03:44] soulxu commented on #20113
hmn...I can't reproduce with this image also https://hub.docker.com/layers/envoy-alpine/envoyproxy/envoy-alpine/v1.20-latest/images/sha256-7b35149b22a2a00f3c244853eea071bebde985882088fc9b7e8d0e8d198138b7?context=explore

[2022-03-31 04:27] hugo-zhang-uipath opened #20606 "Can we have "counter-key" option in configuring bandwidth limit filter"
Hi
Not sure if Envoy have this feature in bandwidth limit filter already or not.  I am trying to limit every user to only get or post limit amount of data per day. And I kind of want to counter the data by every user's id in the request header.

Like some thing in Azure APIM
<quota-by-key calls="1000000" bandwidth="10000000" renewal-period="86400" counter-key="@(context.Request.Headers.GetValueOrD

[2022-03-31 06:02] zhangbo1882 opened #20607 "generate compile_commands.json fail"
[Wed Mar 30 22:59:31][#120# ] (main)$./tools/gen_compilation_database.py
ERROR: /mnt/cache/_bazel_stack/5a617312af51e0dbefb3398d3212136c/external/base_pip3_sphinx/BUILD.bazel:22:11: no such package '@base_pip3_importlib_metadata//': The repository '@base_pip3_importlib_metadata' could not be resolved: Repository '@base_pip3_importlib_metadata' is not defined and referenced by '@base_pip3_sphinx//:

[2022-03-31 06:10] zhxie commented on #20607
You may require Python 3.10 to refresh compilation database.

[2022-03-31 06:43] gadinaor-r7 opened #20608 "[Question] External Authz behavior with gRPC"
*Title*: *External Authz with gRPC behavior - authz service called for each gRPC method*

*Description*:

We are gRPC with a persistent connection that runs multiple gRPC calls (unary and streaming) through the Envoy Proxy.
We have ext_authz configured (via the relevant contour resources)

Everything works great with one caveat - we see the external authorization service being called for every HTT

[2022-03-31 07:25] wbpcode opened #20609 "matcher helper for mutiple http route entry matching"
*Title*: *matcher helper for mutiple http route entry matching*

*Description*:

If we have mutiple routes with query match, regex path match, prefix path match, etc, we may call `removeQueryAndFragment`, `parseQueryString`, etc repeatedly. When I have a large number of routes, this may introduces some non-negligible overhead.

May be we can create a simple matcher helper which will lazily create

[2022-03-31 08:04] github-actions[bot] opened #20610 "Newer release available `com_github_bufbuild_buf`: v1.3.1 (current: v0.53.0)"
Package Name: com_github_bufbuild_buf@0.53.0
Current Version: v0.53.0@2021-08-25
Available Version: v1.3.1@2022-03-31
Upstream releases: https://github.com/bufbuild/buf/releases

[2022-03-31 08:04] #20537 closed

[2022-03-31 08:04] github-actions[bot] opened #20611 "Newer release available `rules_rust`: 0.2.0 (current: 82b650d)"
Package Name: rules_rust@82b650d5d0
Current Version: 82b650d@2021-10-19
Available Version: 0.2.0@2022-03-30
Upstream releases: https://github.com/bazelbuild/rules_rust/releases

[2022-03-31 08:04] #20427 closed

[2022-03-31 08:06] wbpcode commented on #20607
cc @phlax

[2022-03-31 08:18] #20179 closed

[2022-03-31 09:10] phlax commented on #20607
yes, this is the issue - python3.10 _doesnt_ require `importlib-metadata` (and its deps) so it is not listed/pinned in the requirements file

[2022-03-31 09:36] phlax commented on #19686
cc @keith

closing this as we have removed the build tools for now

[2022-03-31 09:36] #19686 closed

[2022-03-31 09:39] lucallero commented on #19910
I got the same problem but using an external auth-server, which adds the `user-id` to the dynamic metadata. For later on routing based on user-ids patterns, using the `dynamic_metadata` match. However, it doesn't work as expected, I managed to print the user-id with Lua, but the matcher apparently is not seeing the user-id metadata, it never matches.

This Lua is reading and logging the user-id fr

[2022-03-31 11:29] zhangbo1882 commented on #20607
Thanks @zhxie.  It works now after I upgrade the python to 3.10.

[2022-03-31 11:29] #20607 closed

[2022-03-31 13:10] #20589 closed, assigned to alyssawilk

[2022-03-31 15:31] keith commented on #19686
If we ever want to revisit this I think we could use something like https://github.com/keith/buildifier-prebuilt/ to make vendoring these trivial

[2022-03-31 15:33] keith commented on #20599
https://github.com/envoyproxy/envoy/pull/20615

[2022-03-31 16:27] shashankram commented on #20113
I can still reproduce this using the `latest-dev` image exactly as described in https://github.com/envoyproxy/envoy/issues/20113#issuecomment-1055930033

I can confirm that this issue seems to be introduced by the change https://github.com/envoyproxy/envoy/commit/ba474ac375418d5529a30a9510a8ff5f0a5ada9a (/cc @mattklein123)

I cannot reproduce this issue with the previous commit https://github.com/

[2022-03-31 16:39] #9953 closed

[2022-03-31 17:25] yanavlasov commented on #20467
For improving build times we should look into using fastbuild mode. It is maybe an easy saving of 15-20% in build time. Some of our builds are in release mode and some are in dbg mode. I've tried to change this but our build config is shared between presubmit and postsubmit  jobs which we then use to create artifacts for docker images and it was not easy to just flip build modes.

[2022-03-31 17:30] phlax commented on #20467
surfacing a suggestion from @wbpcode - adding some logic to detect which files changed, and only triggering relevant bits of CI for docs-only changes would allow those PRs to go through faster, and relieve some resource pressures

[2022-03-31 17:39] sulavvr opened #20618 "Envoy only registers the admin port on server (re)boot"
*Title*: Envoy setup as a systemd service doesn't seem to register the listeners, just registers the admin port.

*Description*:
We seem to have an issue with Envoy not registering the listeners. We have envoy setup as a systemd service, and when the server starts/reboots, only the admin port is registered. The upstream is a Redis cluster.

- `envoy.service`

[code]

- `config.yaml`
[code]

Scanni

[2022-03-31 18:05] adisuissa opened #20619 "CI linux multiarch out of disk space"
We've recently encountered a few "no space left on device" errors for the linux multiarch CI target.

[Example 1](https://dev.azure.com/cncf/envoy/_build/results?buildId=105101&view=logs&j=2229703b-209a-5c70-43aa-3eacf674f12a&t=06218374-b1ef-5f45-4455-5a78d6d63b65):
[code]

[Example 2](https://dev.azure.com/cncf/envoy/_build/results?buildId=105103&view=logs&j=2229703b-209a-5c70-43aa-3eacf674f12a&t

[2022-03-31 18:05] adisuissa commented on #20619
cc @phlax @lizan you may have a better understanding of what's going on here.

[2022-03-31 18:14] phlax commented on #20619
yep - it used to clear disk space for all jobs, but was adding a lot of ci time - so i removed it on the basis that we can readd for any jobs that need it

that said, i think this is one of the jobs where it still does this - so i guess we can clear some more space

[2022-03-31 20:39] #20077 closed

[2022-03-31 21:54] fishcakez commented on #20569
@marcosrmendezthd for your use case I believe that `pass_through_matcher` would allow you pass through the oauth filter if the `x-forwarded-client-cert` is set or matches a pattern. Note you'd need to be careful to configure the http configuration manager to have secure behavior and set the pattern accordingly.

[2022-03-31 23:52] #20602 closed

[2022-04-01 00:35] #18148 closed

[2022-04-01 01:25] daixiang0 commented on #20609
/cc @zhxie

[2022-04-01 01:49] jmarantz commented on #16139
@ggreenway

[2022-04-01 02:00] adisuissa commented on #20583
I don't have enough experience using the redis extension nor the redis-benchmark.
If you increase the concurrency, and you don't see a higher CPU utilization, then it's not the number of worker threads that Envoy uses.

Another thing to check is if the connections from Envoy to the redis clusters are closed, and if so, why.

[2022-04-01 02:51] zhxie commented on #20609
Yes, I agree that we need to remove these overheads. Since the issue is marked as beginner, I may leave to someone new to the community to have a try.

[2022-04-01 04:02] wbpcode commented on #20609
This may need updates all the match method of route entry and related tests. I am not sure it's easy enough for beginner.

[2022-04-01 04:34] RyanTheOptimist commented on #14743
/retest

[2022-04-01 04:34] RyanTheOptimist commented on #14743
/retest

[2022-04-01 04:52] zhangbo1882 commented on #20618
I think you can set log level to get more debug information to see what happens.

ExecStart=/usr/bin/envoy -c /etc/envoy/config.yaml --log-level trace

[2022-04-01 05:03] zhangbo1882 commented on #20536
@mattklein123 , I have read the doc/code about the original_dst and also dynamic metadata. I have the following thinkings, if I am wrong, correct me.
Currently dynamic metadata is saved in streamInfo and it can be produced and consumed by each filter. But there is no code to pass the metadata from downstream streamInfo to upstream streamInfo, right ?  So I think I can add a new network filter to s

[2022-04-01 07:00] zhxie opened #20623 "rbac: add unified matcher for RBAC filters"
*Title*: rbac: add unified matcher for RBAC filters

*Description*:

There are tons of issues marked as help wanted around RBAC. Some of them asking for new matchers (#4455, #6193, #15631), some of them requesting a unified, flexible and efficient matching mechanism for RBAC (#5569, #7918, #9376, #11832, #12285, #18064). Now, we already have a unified matching API, which can match network inputs (

[2022-04-01 07:17] tedli commented on #20061
Here is config I tried:

[code]

I want to set sampling rate to 0% at connection manager level, 100% at route level, also I tried 100% at connection manager, and 0% at route. None of those work.

Result is if `tracing` of connection manager is not null, then 0% won't affect.

[2022-04-01 07:19] zhxie commented on #20623
I may help to add unified matcher and there are still a lot of work to do in the future for RBAC like a flexible action.
cc @htuch

[2022-04-01 08:04] github-actions[bot] opened #20624 "Newer release available `com_github_wasmtime`: v0.35.2 (current: v0.35.1)"
Package Name: com_github_wasmtime@0.35.1
Current Version: v0.35.1@2022-03-09
Available Version: v0.35.2@2022-03-31
Upstream releases: https://github.com/bytecodealliance/wasmtime/releases

[2022-04-01 08:04] github-actions[bot] opened #20625 "Newer release available `com_googlesource_code_re2`: 2022-04-01 (current: 2022-02-01)"
Package Name: com_googlesource_code_re2@2022-02-01
Current Version: 2022-02-01@2022-01-31
Available Version: 2022-04-01@2022-03-31
Upstream releases: https://github.com/google/re2/releases

[2022-04-01 08:08] zhxie commented on #20609
Since `removeQueryAndFragment` and `parseQueryString` only happen to `RequestHeaderMap`, maybe we can just add some lazy methods in `RequestHeaderMap` like `justPath` and `queryParams`?

[2022-04-01 08:24] batistado commented on #20563
Hey guys bumping this again as I am urgent need of this feature to correctly work! Thank you!

[2022-04-01 10:01] wbpcode commented on #20609
I prefer a simple helper to do this, which avoids modifying the RequestHeaderMap API. That's a bigger impact. 🤔

[2022-04-01 13:43] dio commented on #20563
@batistado

There are several factors to make it work here:

1. The `CheckRequestUtils::setAttrContextPeer` asks for `urlEncodedPemEncodedPeerCertificate()` from the underlying (downstream) connection, and it needs to be a TLS connection. Hence the downstream connection needs to be TLS'd and ask for a valid client cert pair.
2. Given the point above, you need to send the client cert pair, optional

[2022-04-01 14:44] marcosrmendezthd commented on #20569
understood @fishcakez . i'll give that a try and see if it works.

[2022-04-01 15:13] NirmalP29 commented on #20583
[code]
1224 / 170 = 7.2ms
I am getting this latency when proxy and redis are deployed on same vm. What is the expected latency in this scenario?

[2022-04-01 15:36] feature-id opened #20628 "Cluster common_http_protocol_options requires explicit_http_config"
Hi.

Trying to configure http/1 cluster with common_http_protocol_options set and getting:
[code]
But, if I have _explicit_http_config_ option set (with nested _http_protocol_options_ or _http2_protocol_options_), then envoy starts as expected. Also everything is fine if I completely remove _common_http_protocol_options_.

Is _explicit_http_config_ required for _common_http_protocol_options_ in cl

[2022-04-01 18:19] lambdai commented on #20545
https://www.envoyproxy.io/docs/envoy/latest/search.html?q=strip_trailing_host_dot&check_keywords=yes&area=default

Is `strip_trailing_host_dot` working or not?

([bool](https://developers.google.com/protocol-buffers/docs/proto#scalar)) Determines if trailing dot of the host should be removed from host/authority header before any processing of request by HTTP filters or routing. This affects the up

[2022-04-01 19:16] lambdai opened #20633 "The semantic of TcpProxy on demand cluster lookup timeout"
As a follow up of https://github.com/envoyproxy/envoy/pull/20409

When the ondemand cluster up is enabled at TcpProxy, It's reasonable to introduce the timeout for cluster lookup.

I'd like to know how people feel about the semantic about the timeout value.

Currently ClusterManagerImpl provides a timeout for along with the requestOnDemandClusterDiscovery interface.

It maintains a timer for each

[2022-04-01 20:01] #20023 closed

[2022-04-01 20:01] #20058 closed

[2022-04-01 21:20] markdroth opened #20634 "xds: Envoy should support its built-in LB policies as extensions"
LB extensibility was originally described in #5598.  The infrastructure for this has been implemented, but there are a few missing pieces.  Here's the relevant history:
- A new field for LB policy extensibility was added to xDS in #7744.
- The extension mechanism was added to Envoy in #17400.
- The semantics of the xDS field were changed slightly in #18419.
- xDS extension protos were added for RO

[2022-04-01 22:47] matthewgrossman opened #20635 "tracing: Apply custom tags after common tags"
*Title*: *Apply custom tags after common tags*

*Description*:
When emitting spans, envoy adds some tags automatically. Some of these tags are set upon initialization in `startSpan` (ex. [`zone`](https://github.com/envoyproxy/envoy/blob/62f3f52c13e3ca785f820087fb30e12cf8c4e691/source/common/tracing/http_tracer_impl.cc#L298), `span.kind` for [opentracing](https://github.com/envoyproxy/envoy/blob/62

[2022-04-01 23:14] Shahid-Roofi-Khan opened #20636 "Remote JWKS fetch failing"
![image](https://user-images.githubusercontent.com/65172780/161353186-dd2049ca-b41c-4046-82b7-4987b34842b6.png)

![image](https://user-images.githubusercontent.com/65172780/161353154-6bf97f79-04e9-440c-93b6-e90cabc305d8.png)

It goes http/port 80 and won't respect cluster configuration so remote JWKS fetch is failing always

[2022-04-01 23:20] Shahid-Roofi-Khan commented on #20636
Fixed. it was just that it was going for IPv6. Forced it for IPv4 lookup and fixed the issue. Scheme is just misleading here

[2022-04-01 23:20] #20636 closed

[2022-04-01 23:52] gbrail commented on #20586
I've studied this for a bit but it's sure not obvious. I bet it's crashing when the gRPC mechanism is trying to delete the stream, and when we changed ext_proc a while back to let gRPC recycle its clients, I recall it was hard to get it to work right. Any suggestions for a way to track it down? Should I add more tracing in a PR?

[2022-04-01 23:55] gbrail commented on #20435
Can you try setting the "clear_route_cache" flag on the response? It's part of the CommonResponse proto. That tells ext_proc to tell the filter machinery to re-do the routing decision. Otherwise, the route stays cached.

[2022-04-02 01:10] daixiang0 commented on #20634
Compared with enum, I prefer LB policies.

[2022-04-02 02:48] sulavvr commented on #20618
Ahh yes, thanks @zhangbo1882! I probably could've done just that. :facepalm:  Seems like it can't connect to Redis just yet.

[code]

[2022-04-02 02:59] wbpcode commented on #20634
Great. This can make the envoy lb policies to be easy extended.

[2022-04-02 03:08] #20618 closed

[2022-04-02 03:36] 631068264 commented on #4613
change context to envoy.lua

[2022-04-02 04:01] #20091 closed

[2022-04-02 08:03] github-actions[bot] opened #20639 "Newer release available `com_github_grpc_grpc`: v1.45.1 (current: a3ae8e0)"
Package Name: com_github_grpc_grpc@a3ae8e00a2
Current Version: a3ae8e0@2021-06-07
Available Version: v1.45.1@2022-04-01
Upstream releases: https://github.com/grpc/grpc/releases

[2022-04-02 08:03] #20426 closed

[2022-04-02 08:03] github-actions[bot] opened #20640 "Newer release available `com_google_protobuf`: v3.20.0 (current: v3.19.4)"
Package Name: com_google_protobuf@3.19.4
Current Version: v3.19.4@2022-01-28
Available Version: v3.20.0@2022-03-25
Upstream releases: https://github.com/protocolbuffers/protobuf/releases

[2022-04-02 08:03] github-actions[bot] opened #20641 "Newer release available `opentelemetry_proto`: v0.16.0 (current: v0.11.0)"
Package Name: opentelemetry_proto@0.11.0
Current Version: v0.11.0@2021-10-07
Available Version: v0.16.0@2022-04-01
Upstream releases: https://github.com/open-telemetry/opentelemetry-proto/releases

[2022-04-02 08:03] #20429 closed

[2022-04-02 08:18] zhxie commented on #20609
I have evaluated the code path. `removeQueryAndFragment` and `parseQueryString` are majorly called by router which takes the `RequestHeaderMap` for routing and headers modification. Since the router can be used by multiple requests, I think it is impossible to store `path` and `queryParams` in the router itself if we do not want to modify the `RequestHeaderMap`.

[2022-04-02 08:22] bincxz opened #20642 "TLS handshake connection been reset by envoy after client-hello"
*Title*: *TLS handshake connection been reset by envoy after client-hello *

*Description*:

Hi guys, I have met some really confusing problem. I'm trying to use envoy as a https upstream server proxy.   To achieve this, I have create a listener which listen on  port 10102 to accept https requests. The flowing picture is my envoy config.
<img width="1094" alt="9c6815aed417ce4503bb8359177ba53" src=

[2022-04-02 09:21] wbpcode commented on #20609
For each request, only once path rewrite is triggered. But if we have mutiple routes, the matching will be triggered repeatly. So I am still inclined to solve the problem in the matching process. In this way, our modifications to the core code will be relatively small, and we can obtain good benefits.

[2022-04-02 11:02] rauanmayemir commented on #19645
@alyssawilk I'm guessing you mean buffer filters can't be used for websockets.
In our case, buffer filter is needed for its own thing (i.e limiting the inbound request size in regular http requests), but it's breaking the websockets altogether (that are used in different context).

Can envoy be configured in a way that would allow applying the buffer filter only for regular http requests and ignor

[2022-04-02 17:08] sircinek commented on #20435
@gbrail ofcourse it works now.. I feel dumb. Thanks for the reply, everything works as expected, this is well documented in the code.. https://github.com/envoyproxy/go-control-plane/blob/main/envoy/service/ext_proc/v3/external_processor.pb.go#L826-L829

[2022-04-02 17:08] #20435 closed

[2022-04-02 20:01] #20062 closed

[2022-04-03 04:01] #20070 closed

[2022-04-03 04:01] #20109 closed

[2022-04-03 16:01] #20088 closed

[2022-04-03 16:45] mattklein123 commented on #20635
Yup this sounds reasonable to me. Please feel free to do a PR. cc @wbpcode @Shikugawa as other training experts.

[2022-04-03 17:05] mattklein123 commented on #20536
See stream_info.h and you will see that we already pass stream info between downstream and upstream. I'm guessing what you need to do is already supported but I'm hazy on the details so I'm not 100% sure. cc @alyssawilk who has worked on the upstream stream info split and cleanup and @kyessenov @lambdai who are doing similar info passing for Istio.

[2022-04-03 17:15] mattklein123 commented on #20539
Envoy is very extensible. There is already a config extension for VPP/VCL which is similar to DPDK: https://github.com/envoyproxy/envoy/tree/main/contrib/vcl/source. I know there are some people doing DPDK with Envoy but I'm not sure if any of it is open.

We already support unix domain sockets, and I don't think it would be difficult to support other things similar to the VPP/VCL stuff. I think t

[2022-04-03 18:00] lambdai commented on #20642
1. Can you confirm this filter chain should be selected? If *all* the filter chains in this listener has only "server_names" as the filter chain match, you should be good. Otherwise, you need to read the filter chain document or dump the `filter_chain` name in the access log to confirm.

2. Have you set downstream tls context for this filter chain?

3. Have you enable the tls_inspector listener fi

[2022-04-03 18:01] lambdai commented on #20633
/retest

[2022-04-03 18:55] mattklein123 commented on #20289
Sorry for the delay. I took a look at the doc and in general this makes sense to me, though we have to sort out the details. Whatever we do I think we have to continue to support both flat names and taggified names for a while.

IMO the best way to do this is in line with what you have proposed. Effectively for new call sites allow both the flat and taggified variants to be specified, so we can av

[2022-04-04 02:36] Lee-Jong-Woo opened #20647 "How to use authenticated for principal in RBAC?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *How to use authenticated for principal in RBAC?*

*Description*:

I already refer to Doc. in envoy

Looking at the examples in that document, authenticated seems to

[2022-04-04 05:03] NirmalP29 commented on #20583
Got the right latency when I removed this from the envoy config.
[code]
[code]

[2022-04-04 05:50] mukundv18 commented on #20583
@adisuissa @HenryYYang Can we setup a quick call to go over the configuration and see if we are missing anything (since this is a little urgent)? Do you want any specific details for the same? Is it valid to expect the following latencies via Envoy?

[code]

[2022-04-04 07:52] ramaraochavali commented on #6223
@alyssawilk Is it possible to disable delayed close timeout for http 1.0 completely via flag in HCM? or at-least give an option of separate delayed close timeout for 1.0? We are also running in to above issue (and we do not have control over client) and Envoy does not close the http 1.0 connection before delayed close timeout adding latency overhead to http 1.0 clients?

[2022-04-04 12:39] dev-chirag opened #20650 "Intermittent 503 Errors with HTTP2 Client"
*Description*:
I am running a load test with Envoy as load balancer and an HTTP2 client. The test is mostly stable, but intermittently I see a lot of 503 errors on the client. For the same requests, I can see that my backend server sends a 200 to Envoy.

In the TCP dump I see 503 errors with an error - **[upstream connect error or disconnect/reset before headers. reset reason: remote refused strea

[2022-04-04 13:18] alyssawilk commented on #19645
That's exactly what I'm saying.  Please read the links I added in the last comment, and let me know if that does not explain things sufficiciently.

[2022-04-04 13:35] adisuissa commented on #20583
@mukundv18 I can try to assist, but I've never used redis nor the redis-proxy extension, so not sure how much I can contribute here.

[2022-04-04 14:08] mukundv18 commented on #20583
Thanks @adisuissa if you can help us with the answers for the following questions. That will be helpful.
1) Can redis-benchmark be used to test Envoy with Redis Cluster?
2) When using redis-benchmark with Envoy what latency values are considered 'good' ?
3) Can we compare the performance stats of Envoy directly with Redis Cluster? Is that a valid comparison?
4) Are there any specific configuration

[2022-04-04 14:19] #20611 closed

[2022-04-04 14:30] stevenzzzz commented on #20157
ping

[2022-04-04 14:31] stevenzzzz commented on #20157
can we nostale-bot this issue please.

[2022-04-04 15:09] rojkov opened #20651 "Enable heap-profiling with the current tcmalloc"
The latest tcmalloc has got support for heap-profiling, but it's not going to deal with file dumps for it. So, Envoy should be responsible for writing files with profiling results. If implemented we'd have fewer reasons to keep the dependency on gperftools.

[`::tcmalloc::MallocExtension::StartAllocationProfiling()`](https://github.com/google/tcmalloc/blob/537932ef8582881cbd8ea1e86c22860d658c6748/

[2022-04-04 16:38] #14743 closed

[2022-04-04 17:10] kyessenov commented on #20536
Upstream host selection is mostly driven by transport socket options. I recently added capture of host metadata and downstream filter state so that might be a better route to propagate info to upstream.

[2022-04-04 17:54] #19844 closed

[2022-04-04 18:49] lambdai commented on #20651
+1 I am not aware of the google tcmalloc Marshal() can now produce pprof consumable file.

I recommend enable the heap profiling admin handler when google::tcmalloc is linked

Then the admin_handler + pprof operation would be working regardless it's google or gperftools tcmalloc

[2022-04-04 18:58] lambdai commented on #20650
IIUC, when Envoy reports `upstream connect error or disconnect/reset before headers. reset reason: remote refused stream`, Envoy won't encode the request to backend *unless Envoy does retry*, there is no chance to see the backend send 200 to Envoy.

Can you confirm Envoy-Backend 200 and client-Envoy-503 are the corresponding request? I believe the trace id can be used to identify the downstream up

[2022-04-04 19:20] iglin opened #20658 "Cannot use stateful session on route level without enabling it on listener level"
Cannot use stateful session on route level without enabling it on listener level, affecting all the other routes.

*Description*:
We are using envoy as an API gateway according to the API gateway pattern. One listener serves multiple microservices (clusters), routes are matched by path prefixes - see the configuration example in "Config" section.

**The case is:** one of the microservices requires

[2022-04-04 19:30] mattklein123 commented on #20651
I think this should be built-in and not an extension? Can we just do it directly from the existing core admin handling code?

[2022-04-04 19:31] mattklein123 commented on #20651
Sorry +1 to what @lambdai said.

[2022-04-04 22:51] balena opened #20659 "`request_mirror_policies` does not honor runtime keys"
*Title*: `request_mirror_policies` does not honor runtime keys

*Description*:
Documentation says that `request_mirror_policies` can contain runtime keys, but they are not being honored.

*Repro steps*:
At the virtual domains section, we want to mirror from canary to default clusters and vice-versa by using runtime keys.

However modifying the `request_mirror_policies` runtime keys has to effect.

[2022-04-05 00:49] vorishirne commented on #2500
@krnowak any On-demand loading for TLS certs. Any way to acheive this, given that I have multiple SNIs.

[2022-04-05 00:55] batistado commented on #20563
This worked like a charm. Thank you so much!!

[2022-04-05 00:55] #20563 closed

[2022-04-05 01:05] vorishirne commented on #4540
@htuch will this support on-demand filter-chain, based on SNI or similar param

[2022-04-05 01:08] vorishirne commented on #10899
@shashankram I beleive filter chain draining is fixed. I read in some other issues.

[2022-04-05 01:28] #20458 closed

[2022-04-05 03:39] htuch commented on #4540
We've pivoted towards not doing filter-chain discovery, instead relying on improvements to LDS update (i.e. drainless updates) and ECDS. I'm going to close this out, as I think the original goals we were shooting towards are satisfied by the aforementioned. Feel free to reopen if this is not the case.

[2022-04-05 04:30] kyessenov opened #20665 "corrupt stats for internal listener"
Stats produced by an internal listener seem to have "envoy://" in their name, which is confusing. Example:
[code]

/cc @lambdai

[2022-04-05 04:35] kyessenov opened #20666 "matchers: add firstOf matcher"
For something like ALPN list matching, we need a way to say: iterate over the input, which is a list, until the inner matches accepts.
The core API does not provision this use case, so this has to be done as a meta-matcher with a custom matcher.

[2022-04-05 05:22] dev-chirag commented on #20650
@lambdai you are correct. My bad, I messed up my tracing in Wireshark. I can see that the backend sent a RST_STREAM (REFUSED_STREAM) on which Envoy sends a 503, which is acceptable.

Now this maybe a wild guess but I am wondering why the backend will send a REFUSED_STREAM. Could [this](https://datatracker.ietf.org/doc/html/rfc7540#section-5.1.2) be the reason for this?

Does Envoy honor the MAX_CO

[2022-04-05 05:34] PiotrSikora commented on #5209
This materialized as [ext_proc filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/ext_proc_filter).

[2022-04-05 05:34] #5209 closed

[2022-04-05 08:03] github-actions[bot] opened #20667 "Newer release available `com_github_gabime_spdlog`: v1.10.0 (current: v1.9.2)"
Package Name: com_github_gabime_spdlog@1.9.2
Current Version: v1.9.2@2021-08-12
Available Version: v1.10.0@2022-04-04
Upstream releases: https://github.com/gabime/spdlog/releases

[2022-04-05 08:03] github-actions[bot] opened #20668 "Newer release available `com_github_google_perfetto`: v25.0 (current: v22.1)"
Package Name: com_github_google_perfetto@22.1
Current Version: v22.1@2021-12-07
Available Version: v25.0@2022-04-04
Upstream releases: https://github.com/google/perfetto/releases

[2022-04-05 08:03] #19919 closed

[2022-04-05 08:03] github-actions[bot] opened #20669 "Newer release available `rules_rust`: 0.2.1 (current: 0.2.0)"
Package Name: rules_rust@0.2.0
Current Version: 0.2.0@2022-03-30
Available Version: 0.2.1@2022-04-04
Upstream releases: https://github.com/bazelbuild/rules_rust/releases

[2022-04-05 11:16] tpetkov-VMW commented on #18606
I'm willing to work on this, if it's still considered a bug.

[2022-04-05 12:34] alyssawilk commented on #20586
I'd check out the test/intetration/ README file to see if you can repro with the flaky test instructions.  If not, adding more trace logging SGTM.  it's possible to turn up logging by default in CI for one test too if you need to

[2022-04-05 12:36] alyssawilk commented on #6223
can you give me  a trace log for #19863  not helping?  I'd like to understand what's going on there before we add another knob.

[2022-04-05 12:54] alyssawilk commented on #20633
also cc @itayd in case he wants a more user friendly response when there's PR repokitteh command on issues, and vice versa

[2022-04-05 14:27] wbpcode commented on #20289
Yeah, it is what I want. A stats system that can support flat flattened name and also flexible tags.
I am still thinking about the implementation details. May be the first step, we should design new scope api to support additional tag annotations.

[2022-04-05 15:21] #20619 closed

[2022-04-05 15:47] #17652 closed

[2022-04-05 15:49] #20584 closed

[2022-04-05 15:59] amitgupta85 commented on #18940
@visualzhou Our team is also interested for this feature in Envoy. Is this something you are actively working on? If not, we can help here if you can share the work that you have done on this. Thanks.

[2022-04-05 17:38] phylake commented on #4540
Perhaps a goal that I should have mentioned sooner and the reason I've been tracking this issue is to reduce the blast radius of a LDS NACK. My current NACK handling breaks up Resources into individual DeltaDiscoveryResponses to see which of the Resources produced the NACK and not resend it. This works well for granular resources like SDS, EDS, and CDS which may only affect a single service.

A LD

[2022-04-05 19:22] danzh2010 commented on #20591
I couldn't reproduce it with 5000 runs of the test case on RBE. There are several places send local reply with 504(GatewayError) but with different response body. I will make this test print out response body to figure out which timeout fired, and rely on CI to catch the failure.

BTW, we didn't test HTTP/2 upstream on DownstreamProtocolIntegrationTest, is it intended to test h3 upstream? @alyssaw

[2022-04-05 19:24] alyssawilk commented on #20591
DownstreamProtocolIntegrationTest tests client-envoy interaction so doesn't do the mesh of upstream / downstream combinations

[2022-04-05 20:56] danzh2010 commented on #20591
The failing test is testing H3 upstream though: UpstreamProtocols/DownstreamProtocolIntegrationTest.ManyLargeRequestHeadersAccepted/IPv6_Http2Downstream_Http3UpstreamWrappedHttp2NoDeferredProcessing

[2022-04-05 22:11] lambdai commented on #20633
I strongly incline to use per tcp_proxy now.
The reason is that a tcp proxy instance may set timeout to a significant large timeout. If the lookup depends on the timer within the on demand cluster manager,
the first timer essentially disables all the timeout for any follow up tcp proxy instance.

[2022-04-06 00:00] lambdai commented on #20642
Thanks .
`readacted` is expected. That's how config_dump is supposed to be working.
Now that this filter chains configures downstream tls context, It's very likely the filter chain is not selected. Otherwise, a tls packet record should be sent back, not a RST

[2022-04-06 00:09] lambdai commented on #20665
As a workaround, stat_prefix can be specified
[code]

The goal of address `envoy://` as listener name is to avoid conflicting.
There is no guaranteed collision by default, I think I will simply remove "//" in the default address representation.

Note that `:` is replaced to `_` as part of the metric name sanitize. This sanitize is enforce anyway b/c ipv6 address contains ":"

[2022-04-06 00:35] keith commented on #918
It seems like a lot has changed since this issue originated, I see some configuration for msan on CI and a few bazel configs for it, has anyone tried this recently? I'm curious about how many false positives we would find

[2022-04-06 00:36] keith commented on #918
It looks like at this point libc++ is setup correctly for this at least https://github.com/envoyproxy/envoy-build-tools/commit/f741613fc395cc489a630122eeb5e611b3cb1a5e

[2022-04-06 01:32] daixiang0 commented on #20665
/assign

[2022-04-06 02:11] zhangbo1882 commented on #20536
@kyessenov , could you help tell me the PR so that I can have a better understanding, thanks.

[2022-04-06 02:44] zhangbo1882 commented on #20536
@mattklein123 , it is supposed that you are talking about

/**
   * @return the downstream connection info provider.
*/
  virtual const Network::ConnectionInfoProvider& downstreamAddressProvider() const PURE;

From the name convention for the function downstreamAddressProvider(), it seems that it can get what I want. Actually, this function does NOT get what it seems to be.

For example, a downstr

[2022-04-06 03:03] kyessenov commented on #20536
This [PR](https://github.com/envoyproxy/envoy/pull/19435/checks?check_run_id=5827390482) adds `host()` to transport socket options. Transport socket options also has `filterState()` accessor. That seems like a natural way to bridge from downstream to upstream.

[2022-04-06 03:28] soulxu commented on #20113
Sorry for the reply late, also thanks for those reproduce steps! I can reproduce now.

Previously I only startup with lds-2.yaml, then remove the listener, it won't reproduce the problem. Now with one more step with lds-1.yaml, it can be reproduce now. I will dig into it.

[2022-04-06 04:27] htuch commented on #20633
Yeah, agree on per-TCP proxy session as that is what makes sense semantically. The existing API doesn't preclude these semantics AFAICT (it doesn't have this level of detail). Would be good to clarify when you do make the change.

[2022-04-06 04:30] htuch commented on #4540
@phylake what typically causes these NACKs? I'm wondering if you move to ECDS whether enough of the config is out of the `Listener` resource that this will make a material difference. If not, maybe we should reopen.

[2022-04-06 04:46] moderation commented on #5301
Interesting blog post and orange site comments about NGINX and kTLS - https://news.ycombinator.com/item?id=30902744

[2022-04-06 05:55] ramaraochavali commented on #6223
@alyssawilk Sorry. It seems #19863 is actually helping - I have tested with wrong sha. Sorry for the confusion.

[2022-04-06 06:11] lambdai commented on #20650
Thank you for the confirmation.

The answer should be yes but I also find this comment:

https://github.com/envoyproxy/envoy/blob/main/source/common/http/conn_pool_base.cc#L113-L116
[code]
Since you are running load testing, it's possible you are hitting it.

CC @alyssawilk

[2022-04-06 06:19] vorishirne commented on #4540
We will never have on-demand update of filter chain.

[2022-04-06 07:44] zhangbo1882 commented on #20536
@kyessenov,  no matter use dynamic metadata or filter state to pass the information I need, the key point is that for the same upstream, there are multiple downstreams and the information which is  passed to the same upstream will change continuously after the upstream connection is established. In your PR, transport socket options for upstream should be unchanged once the upstream connection is e

[2022-04-06 08:19] zhangbo1882 commented on #20536
It seems that what I want is like the PR https://github.com/envoyproxy/envoy/pull/19668

[2022-04-06 08:19] smwyzi opened #20685 "Implement other protocol as a HTTP codec"
Now, in source/extensions/filters/network/http_connection_manager/config.cc,
we createCodec according to codec_type_, so if we want to extend a codec, we have to add codes in tree.

How about createCodec using a factory like many other extensions, e.g. network filters extensions, in this way, anyone can extend a new codec in a separate code rep，and static link to envoy using REGISTER_FACTORY when

[2022-04-06 08:29] soulxu commented on #20113
/assign @soulxu

[2022-04-06 08:34] amorozkin opened #20686 "num_retries_auto (bool) AND update_frequency_auto (bool) for Nginx-like retries behavior"
*Title*: *num_retries_auto (bool) AND update_frequency_auto (bool) for Nginx-like retries behavior *

*Description*:

I'm trying to get kind of "Nginx-like" retries behavior with envoy
For example I have cluster like this one:
[code]

Let's consider the moment the cluster is just started/created and all its hosts are considred healthy but the only really alive host is a host21.
I want to ensure th

[2022-04-06 13:38] alyssawilk commented on #20591
Gah you're totally right, I "knew" the downstream tests use H1 upsream and I was wrong.
I think it's time to combine the tests anyway, so I'll pick this up.

[2022-04-06 14:00] alyssawilk opened #20696 "cache H2 availability and settings"
for the auto_http pool especially (but h2 in general) it'd be good to know if the server spoke H2 last time it was connected to, and what the stream limits were, and prefetching connections / capping stream limits based on that.
cc @jpsim @goaway

I think I want to do this by extending the alt-svc cache (which already tracks alt-svc headers, quic srtt, quic 0-rtt credentials) to track generic serv

[2022-04-06 14:00] alyssawilk commented on #20650
if you know what the setting is going to be, you can configure concurrent stream limits for upstream H2 to not exceed the cap.  Otherwise I think you'd just have to configure retries.  @diannahu was just asking about Envoy retry behavior for going over the stream limits and it'd be kinda cool if we auto-retried like @danzh2010 is doing for various early HTTP/3 behaviors, but that's not implemented

[2022-04-06 14:01] alyssawilk commented on #20696
also it makes sense to always have this for DFP, but I'm less sure how we want to handle it for non-dfp clusters for optimal behavior.  appreciate folks' thoughts

[2022-04-06 15:09] #20502 closed

[2022-04-06 15:09] #20448 closed

[2022-04-06 15:10] alyssawilk commented on #20467
FWIW also have resultstore working.  sample succes run and failed runs here

https://source.cloud.google.com/results/invocations/7b06830e-36ce-497e-94c1-770fe085f26a/targets
https://source.cloud.google.com/results/invocations/02cf0584-eabd-442a-a6bd-64c037f946e3/targets

[2022-04-06 15:56] #20669 closed

[2022-04-06 16:05] phlax commented on #20211
i should be able to address this soon

[2022-04-06 17:54] lambdai commented on #20172
Expecting a `cm init: all clusters initialized` after `starting main dispatch loop`. It aligns with what @rojkov found

So the cluster warm up is the blocker of listener

[2022-04-06 18:15] marcosrmendezthd commented on #20569
is the header matching criteria an `or` or an `and`. for example if i set the pass thru matcher to look for either the `authorization` or the `x-forwarded-client-cert` will it work or just fail if one of those headers is not set?

[2022-04-06 18:38] lambdai commented on #20665
CC @daixiang0
Same for pipe: when the address if "/tmp/testpipe". See below

So we'd better sanitize the address string in `listener_impl` rather than changing the `Address::asString()`;
[code]

[2022-04-06 21:18] adisuissa opened #20699 "delta-xDS doesn't update the known resource version for wildcard resources"
*Title*: delta-xDS doesn't update the known resource version for wildcard resources

*Description*:
The current implementation of the delta-xDS for wildcard responses only stores the initial version for a resource name that Envoy observes, instead of the version of the latest update.
See here:
https://github.com/envoyproxy/envoy/blob/04aae9f17b0223013cff7285539b5ee2485c5bc1/source/common/config/ne

[2022-04-06 21:19] stevenzzzz commented on #20699
/cc stevenzzzz

[2022-04-06 22:01] mattklein123 commented on #20696
+1 this makes sense to me and would be great. We should probably rename alt-svc cache to connection properties cache or something like that, but that's a minor point.

[2022-04-06 22:38] theganyo commented on #19910
I'm seeing the same thing when just using Lua to set the metadata string_match value.

[2022-04-06 23:02] gbrail commented on #20586
It's reproducible... But I don't know how long it will take to find in my limited time. Working on it!

[2022-04-07 00:24] daixiang0 commented on #20665
I will take a look and update, thanks!

[2022-04-07 02:27] htuch commented on #4540
Have you considered doing more extensive validation offline or via canary? I think what you describe is a valid reason to have finer grained resources in the model, but other mechanisms to ensure that NACK is unlikely to happen will pay off more broadly.

[2022-04-07 03:02] zhangbo1882 commented on #20536
@alyssawilk , do you have any comments how to propagate the l4 downstream streamInfo to l4 upstream streamInfo ?

[2022-04-07 03:14] mitchsw opened #20703 "MaglevLoadBalancer consistent hashing implementation is NOT stable"
*Title*: `MaglevLoadBalancer` consistent hashing implementation is NOT stable

*Description*:
The `MaglevLoadBalancer` builds a lookup table (LUT) of consistent hashing routes using an algorithm that hashes hostnames/hashKeys/etc for each host. An important prerequisite for this algorithm to be consistent is that **the input vector of hosts are in a stable order**.  This requirement isn't well sta

[2022-04-07 03:36] kyessenov commented on #20536
That PR had a problem that you mentioned - it's not possible to always correlate downstream and upstream stream info since multiple streams map into one. The internal upstream PR solves this via two mechanisms:
1) it's only a subset of downstream info that will be shared;
2) that subset participates in the upstream connection pool hash, so that they are all the same for downstream stream infos.

[2022-04-07 03:55] zhangbo1882 commented on #20536
Let me clarify my requirement.

1. Two clients 1.1.1.1:port1 and 1.1.1.2:port2 will access the same listener 2.2.2.2:80.

2. Envoy(3.3.3.3) creates a connection to access the upstream server 4.4.4.4:8080.  Both client1 and client2 will share the same connection between envoy and upstream server.

3. Now for each http/tcp request from client1/client2 to envoy, envoy will send request to upstream se

[2022-04-07 03:57] derekguo001 opened #20704 "tls: support for validating custom extensions in peer certificate"
External CA may add custom extensions in certificate when it signs the CSR.
We can implement new custom cert validator to verify these extensions in peer cert.

Could we extend the default validator to make it a generic option?
So that we don't need to write the custom cert validator.
Instead, what we need to do is specify the fields that need to be matched.

For example,
[code]

Does it make sens

[2022-04-07 05:30] jvlahari opened #20706 "Recommended Warm up functionality with envoy proxy"
Is there any documentation on how warmup is done with Redis nodes ? We have just started our development on using Open source Redis with Envoy proxy and are looking at different scripts which can help with warming up different replicas in Redis cluster with Envoy proxy.

[2022-04-07 06:57] vorishirne opened #20708 "Custom handshaker extension: can it be used to implement dynamic tls termination"
Description: I want to implement client side forward proxy, for which i may need to generate certificates for each domain that user has requested at runtime. Need help if Custom handshaker extension is not what I am looking for. If yes, what are your suggestions to make my requirement possible with envoy

[2022-04-07 08:02] github-actions[bot] opened #20709 "Newer release available `skywalking_data_collect_protocol`: v9.0.0 (current: v8.9.1)"
Package Name: skywalking_data_collect_protocol@8.9.1
Current Version: v8.9.1@2021-12-11
Available Version: v9.0.0@2022-04-06
Upstream releases: https://github.com/apache/skywalking-data-collect-protocol/releases

[2022-04-07 10:33] phlax opened #20712 "Local ratelimit sandbox is flakey"
### description

The new local rate limit sandbox is failing verification fairly frequently in CI

for example here https://dev.azure.com/cncf/envoy/_build/results?buildId=105533&view=logs&j=f1a49366-51c0-540f-0294-f73c2bb311a9&s=9703e969-5193-5265-9b36-ed5b6d7fdc01&t=7fd036c9-61ec-5b59-3645-e90950dc67a6&l=8485

[2022-04-07 12:15] fengyangdi opened #20713 "inline_string encode"
*Title*: *What is the encode for inline_string*

*Description*:

[2022-04-07 15:14] phlax opened #20714 "Add gcloud resultstore to CI"
### description

@alyssawilk has tested out the resultstore ui with our CI and it seems this would be a very useful/welcome addition

there are 2 things that need to happen

- add bazel CI flags
- ensure CI gcloud acc has the relevant IAM set up

[2022-04-07 15:16] #20624 closed

[2022-04-07 15:18] alyssawilk commented on #20714
I think I granted the correct permissions for the account, though I'm less sure of how to run the steps with the script to verify.  happy to help if you run into problems.
cc @keith @lizan for visibility

[2022-04-07 15:46] mattklein123 commented on #20703
Thanks for the really detailed report! Super interesting. The fix seems simple enough if you would like to do a PR. Thank you!

[2022-04-07 17:06] mitchsw commented on #20703
Yes glad to take a look @mattklein123

[2022-04-07 21:24] htuch commented on #4540
I'm going to reopen as this is a valid consideration, plus if we did want to lazy load the filter chains, we would need this.

[2022-04-07 22:40] jacob-delgado opened #20723 "XFCC in APPEND_FORWARD or SANITIZE_SET only uses the first URI present"
*Title*: XFCC in APPEND_FORWARD or SANITIZE_SET only uses the first URI present

*Description*:

Presently only the first SAN URI is preserved in XFCC headers. For users that have multiple SAN URIs no information is propagated in the `By=` and `URI=` portion of the XFCC header.

While some users use `spiffe://` and `spiffe://` only there are others that need other URI information.

[optional *Rele

[2022-04-07 22:41] #18972 closed

[2022-04-07 22:51] stevenzzzz commented on #20157
/nostalebot

[2022-04-07 22:52] stevenzzzz commented on #19824
/nostalebot

[2022-04-07 23:10] RyanTheOptimist commented on #20696
The Chrome data structure for this is "HttpServerProperties", for what it's worth. Alt-Svc is HTTP specific, so a name with "HTTP" in it makes sense to me. But I'm not married to anything specific.

[2022-04-07 23:23] stevenzzzz commented on #19824
/no stalebot

[2022-04-08 00:12] aveekroy opened #20725 "Query"
*Title*: Meaning of some terms in the codebase

*Description*:
Just need to understand the below code - is it a `copy constructor` of C++? - the `Listener Config` part or is it `pass by reference`

<img width="727" alt="image" src="https://user-images.githubusercontent.com/1896820/162339010-562f87be-d0c3-43d4-b97f-4f69560ce868.png">

and for the below, is this `move constructor` for `unique_ptr` a

[2022-04-08 04:01] #20087 closed

[2022-04-08 04:01] #20124 closed

[2022-04-08 04:42] htuch opened #20727 "Improve TLS handshake treatment in overload manager"
Consider adding a resource monitor for partially negotiated connections to improve overload behavior when these connections play a significant role.

CC @ggreenway @PiotrSikora @KBaichoo

[2022-04-08 04:56] suniltheta commented on #15429
Hi @cocotyty  is this still an issue?

[2022-04-08 06:22] zhxie commented on #20623
I have done some code works but I also have some comments on my exploration,

1. I would like to add a matcher in `envoy.extensions.filters.network.rbac.v3.RBAC` and `envoy.extensions.filters.network.rbac.v3.RBAC`, and the syntax of rules will be changed (see the code block below). It is obviously that the mapping relation `action->policy name->policy` will be changed to `matcher->matcher name + a

[2022-04-08 06:40] vorishirne commented on #4540
again, can the on-demand loading of filter chain be a part of this? If everything is on-demand, can u please make this also.

[2022-04-08 07:08] lizan commented on #20714
Let's see how it goes https://github.com/envoyproxy/envoy/pull/20729

@alyssawilk I don't see permission is added to the two used in azp, that might needed.

[2022-04-08 07:55] 13567436138 opened #20730 "where to set runtime settings and what runtime settings do we have？"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
where to set runtime settings and what runtime settings do we have？*Description*:

where to set runtime settings and what runtime settings do

[2022-04-08 08:01] #20123 closed

[2022-04-08 08:02] github-actions[bot] opened #20731 "Newer release available `rules_pkg`: 0.7.0 (current: 0.6.0)"
Package Name: rules_pkg@0.6.0
Current Version: 0.6.0@2022-01-24
Available Version: 0.7.0@2022-04-07
Upstream releases: https://github.com/bazelbuild/rules_pkg/releases

[2022-04-08 08:11] lizan commented on #20713
https://developers.google.com/protocol-buffers/docs/encoding protobuf string is UTF-8. You might want to use `inline_bytes` instead for specific encoding.

[2022-04-08 08:25] rahulanand16nov commented on #20553
A `domain` extension at the virtual host level will also fix this problem similar to https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/ratelimit/v3/rate_limit.proto#extensions-filters-http-ratelimit-v3-ratelimitperroute

[2022-04-08 09:30] zhangbo1882 commented on #20536
@mattklein123  could you help have a quick review https://github.com/envoyproxy/envoy/issues/20536.  It mainly includes two changes.

1. Add a new network filter to set the dynamic metadata.
2. copy the metadata from downstream to l4 upstream streamInfo. (It only add one function https://github.com/envoyproxy/envoy/pull/20733/files#diff-b61a05a18225decb27f5620aefda1646c259e314547a7d985c369f62a684c

[2022-04-08 11:08] #20625 closed

[2022-04-08 15:08] yanavlasov commented on #2967
+1 on replacing what we have today with ANTLR generated parser, since we already use in Envoy anyway. I think the formatter code is getting less and less readable.

[2022-04-08 15:42] kyessenov commented on #2967
There have been some improvements in C++ ANTLR runtime lately thanks to @jcking. He might be interested in the above performance numbers if there's some low hanging fruit before the next release.

[2022-04-08 16:51] pradeepcrao opened #20737 "filter_fuzz_test fails for ext_proc filter"
*Description*:
filter_fuzz_test picks http filters by random to fuzz. The test fails when it picks the ext_proc filter, as the filter is instantiated with a mock Grpc::AsyncClientManager, which returns a null grpc client. The test seg faults when invoking a method on the null grpc client.

*Repro steps*:
Replace `seed % filter_names.size()` with `5` [here] (https://github.com/envoyproxy/envoy/blob

[2022-04-08 16:54] mattklein123 opened #20738 "[community input needed] Envoy "Phippy" character"
Hi all,

We have the opportunity to have an Envoy "Phippy" character created, as in the characters here: https://www.cncf.io/phippy/

The guidelines are here: https://github.com/cncf/foundation/blob/main/phippy-guidelines.md

The TL/DR is we need both an animal and a character name.
* The character name must start with 'E'.
* The animal name can start with 'E' but doesn't have to. (It would be nic

[2022-04-08 17:24] pradeepcrao commented on #20737
The test also fails for `envoy.filters.http.alternate_protocols_cache`. See CI failure for #20112

[2022-04-08 18:06] plallin commented on #20738
Edwige the owl

Reference to Hedwig the owl from Harry Potter. In the Harry Potter world, owls are used to deliver letters.

Crows, pigeons have also been used to deliver letters and messages in the real world (but that doesn't start with an E! Sorry, I just find those relate to networking quite nicely :-) )

[2022-04-08 19:09] keith commented on #20599
https://github.com/envoyproxy/envoy/pull/20741

[2022-04-08 19:20] kyessenov commented on #20623
Re: network inputs. Yes, I'm aware. We can implement those inputs for HTTP
context using StreamInfo. I'll take a stab at that soon-ish.

On Thu, Apr 7, 2022 at 11:22 PM Xie Zhihao ***@***.***> wrote:

[2022-04-08 20:06] #20134 closed

[2022-04-08 20:21] yanavlasov commented on #2967
We also do not care about performance in this specific case as parsing happens when config is ingested, which is not performance critical path.

[2022-04-08 20:22] owenammann commented on #19747
Um, this slack message is password protected...

[2022-04-08 20:25] ggreenway commented on #20727
I think this could be handled generically, not specific to TLS.

There is currently a timer to limit how long this can take `transport_socket_connect_timeout`, and one for finishing all listener filters `listener_filters_timeout`. Having an integration with the overload manager to limit how many connections can be in these stats concurrently, and maybe scaling these timers, will probably cover thi

[2022-04-08 20:26] yanavlasov commented on #20737
Note that this pre-existing condition. Filters are selected randomly and apparently we were lucky up to now.

I think we need to address two things:

1. Fix failing filters.
2. Remove randomness from the test. It should really cover all filters.

[2022-04-08 21:26] #20610 closed

[2022-04-08 21:30] adisuissa opened #20746 "Re-enable buf for API breaking change detection"
*Title*: Re-enable buf for API breaking change detection

*Description*:
buf was introduced in #17793 to validate that a proto change doesn't include a breaking change.
Id was later disabled due to an issue with keeping the buf dependencies in buf's registry (BSR).
This should be fixed now, and we need to re-enable the validation.

[2022-04-08 23:33] jmuia opened #20748 "Do not close health check connections when draining"
*Description*:
When Envoy is draining (via `/healthcheck/fail`) the [HttpConnectionManager will send a GOAWAY](https://github.com/envoyproxy/envoy/blob/main/source/common/http/conn_manager_impl.cc#L1434-L1445) or [Connection:close](https://github.com/envoyproxy/envoy/blob/main/source/common/http/conn_manager_impl.cc#L1476-L1485) on both application and health check connections – even if the health

[2022-04-09 00:59] darkstone-delivery commented on #20738
Eddie, the "cat"
https://img-9gag-fun.9cache.com/photo/avAxGbb_700bwp.webp

[2022-04-09 01:00] darkstone-delivery commented on #20738
Eddite, the "cat"
![cat](https://user-images.githubusercontent.com/50255902/162550360-b664eb7d-ebb3-48fc-90ef-9f41f24f851a.png)

[2022-04-09 07:12] ydzhou opened #20750 "generate compile_commands.json fail with python 3.10.3"
*Description*:
Run `./tools/gen_compilation_database.py` and getting errors on `importlib.metadata`

* Python version: `pyenv 3.10.3`
* OS: `mac os 12.3`
* Arch: `arm64 M1 Mac`

I searched one issues before and looks like this dependency is not required for `python 3.10+`. But I am getting this error. Any help please?

[code]

[optional *Relevant Links*:]

[2022-04-09 07:15] phlax commented on #20750
assuming you are using vscode - i think the problem is that you need to rebuild the container image used by vscode

https://code.visualstudio.com/docs/remote/create-dev-container#_rebuild

[2022-04-09 07:16] ydzhou commented on #20750
I do not use vscode

[2022-04-09 07:22] phlax commented on #20750
the problem is that bazel is not using python 3.10 - the importlib-metadata demonstrates that

beneath it says python3.10 because that is what is being invoked with the script, but not by bazel

i also dont use vscode, but i helped debug this for a vscode user - and it seems as tho the reason for them at least was that the container that vscode uses to run ci commands in needed rebuilding

not sur

[2022-04-09 07:26] ydzhou commented on #20750
Interesting... I am using `pyenv` to manage python version.
[code]
Also I tried to use homebrew one, still facing the same error:
[code]

[code]

[2022-04-09 07:28] phlax commented on #20750
so i think the it doesnt see your user install when running bazel - you need to make that the system-wide python3 - not sure beyond that, im also not a mac user

what does root get for python3 ?

[2022-04-09 07:47] ydzhou commented on #20750
I am not sure if there is a way (or I am allowed) to switch to root in the mac os

[2022-04-09 07:54] phlax commented on #20750
one option is to use the ci build image (requires docker)

[code]

we are currently working on adding bazel python toolchains (#20432 ) which should resolve this for bazel more correctly/portably

for now tho - you will need to ensure - one way or other - that when you invoke bazel it sees the correct python3

[2022-04-09 08:03] github-actions[bot] opened #20751 "Newer release available `com_github_grpc_grpc`: v1.45.2 (current: a3ae8e0)"
Package Name: com_github_grpc_grpc@a3ae8e00a2
Current Version: a3ae8e0@2021-06-07
Available Version: v1.45.2@2022-04-08
Upstream releases: https://github.com/grpc/grpc/releases

[2022-04-09 08:03] #20639 closed

[2022-04-09 08:03] github-actions[bot] opened #20752 "Newer release available `proxy_wasm_rust_sdk`: v0.2.0 (current: cf7894e)"
Package Name: proxy_wasm_rust_sdk@cf7894e3f8
Current Version: cf7894e@2022-01-31
Available Version: v0.2.0@2022-04-08
Upstream releases: https://github.com/proxy-wasm/proxy-wasm-rust-sdk/releases

[2022-04-09 12:01] #20147 closed

[2022-04-09 16:01] #20195 closed

[2022-04-10 00:02] #19687 closed

[2022-04-10 00:55] ydzhou commented on #20750
Do you have a guidance on how to use CI build image for mac os? I only see the linux or windows options.

I tried to apply your toolchain change and is getting a new error on `Building wheel for multidict (pyproject.toml) did not run successfully`.

Do you happen to have any insight?

[2022-04-10 02:20] Shikugawa commented on #20635
It seems good to refactor for me.

[2022-04-10 18:19] keith commented on #20738
I suggest Ellory the Elephant. [Ellory](https://babynames.com/name/ellery) is a gender neutral name that means  cheerful and provides some fun alliteration. There's also a wide variety of different art styles that work well for elephants, here are some examples that I think fit well with the other characters:

<img width="588" alt="PNG image" src="https://user-images.githubusercontent.com/283886/1

[2022-04-11 00:02] #19768 closed

[2022-04-11 00:04] daixiang0 commented on #20738
I like the Elephant, it is related to the network(elephant flow).

[2022-04-11 01:57] wbpcode commented on #20220
This should replaced by the #20289

[2022-04-11 01:57] #20220 closed

[2022-04-11 03:31] fengyangdi commented on #20713
I have tried inline_bytes, it will download a file

[2022-04-11 09:30] phlax commented on #20738
im very opposed to using an elephant - it has all the wrong associates - large, big footprint, lots of memory, slow and unwieldy - the reasons why it is a good association for something like postgres

looking through animals that start with "e" im also thinking that we should broaden the search to other animals as the options are too limited and i think the associations of the animal are more impo

[2022-04-11 10:48] phlax opened #20760 "Current docker release images (for distroless) have vulnerabilities"
An issue raised by @ericofusco is that current distroless docker images have vulnerabilities

I think its important to publish this known issue (even if it has a low risk of affecting envoy users)

I have raised a PR to sha pin the distroless image in the envoy repo - im hoping that this will allow dependabot to pick up any issues - altho not certain this will work

We may also want to add CI to r

[2022-04-11 10:51] phlax commented on #20760
[code]

[2022-04-11 10:53] phlax commented on #20760
[code]

[2022-04-11 10:55] phlax commented on #20760
[code]

[2022-04-11 11:45] phlax commented on #20760
related to #20759

[2022-04-11 13:14] alyssawilk commented on #20714
I thought I added it to all our user agent accounts.  can you let me know which I misssed?

[2022-04-11 13:18] adisuissa opened #20762 "Update yaml-cpp"
*Title*: Update yaml-cpp

*Description*:
Recent additions to yaml-cpp help with some fuzz issues corner cases (example, #20544).
The yaml-cpp lib in Envoy was last updated in July 2021, and we should upgrade it to the latest [main sha](https://github.com/jbeder/yaml-cpp/commit/7d066556112e6899783608ef917b9b326fb6497a)

[2022-04-11 14:02] adisuissa opened #20763 "io_uring tests fail on non-supported Linux kernels"
*Title*: io_uring tests fail on non-supported Linux kernels

*Description*:
When running the [io_uring tests](https://github.com/envoyproxy/envoy/blob/main/test/common/io/io_uring_impl_test.cc) on a machine that doesn't support io_uring, we get the "Function not implemented" error:
[code]

The io_uring lib should not be used if io_uring isn't supported, and the test should not be executed or pass.

[2022-04-11 14:11] adisuissa opened #20764 "io_uring tests run locally fail on tear-down"
*Title*: io_uring tests run locally fail on tear-down

*Description*:
When running the io_uring tests locally (`bazel test //test/common/io:io_uring_impl_test`) we get the following error:
[code]

This seems to be an issue with the test fixture when removing the temporary directory.

This isn't reproduced when executing the test using RBE, and the tests pass.

[2022-04-11 14:11] adisuissa commented on #20764
@rojkov Can you PTAL?

[2022-04-11 14:15] rojkov commented on #20764
Hm... I can't reproduce it locally. Will try to figure out why it may fail.

[2022-04-11 14:20] mattklein123 commented on #20764
FYI I see the same thing locally but haven't debugged yet.

[2022-04-11 14:22] adisuissa commented on #20764
Note it may be dependent to env vars settings:
https://github.com/envoyproxy/envoy/blob/a844bafc3130667f79fc1846a2e4b25831bbb5c8/test/test_common/environment.cc#L70-L81

I don't think we set anything on my local machine.

[2022-04-11 14:50] danzh2010 commented on #20275
needs a non-stale tag

[2022-04-11 15:20] lizan commented on #20714
@alyssawilk azure-pipelines@envoy-ci.iam.gserviceaccount.com andazure-pipelines-release@envoy-ci.iam.gserviceaccount.com

[2022-04-11 15:23] rainingmaster commented on #20543
Done with https://github.com/envoyproxy/envoy/pull/20434 now!

[2022-04-11 15:23] #20543 closed

[2022-04-11 15:23] mattklein123 commented on #20748
I think this is a reasonable change to make. We already tag health check requests as such in StreamInfo (this is used in various places to alter behavior for health check requests). I think we could optionally avoid doing drain close on connections that are carrying health check requests pretty easily.

[2022-04-11 15:34] alyssawilk commented on #20714
cloud projects add-iam-policy-binding envoy-ci --role roles/cloudsourcetoolscore.developer --member serviceAccount:azure-pipelines@envoy-ci.iam.gserviceaccount.com
worked happily

on the other I got
  detail: Service account azure-pipelines-release@envoy-ci.iam.gserviceaccount.com
    does not exist ?

[2022-04-11 15:39] lizan commented on #20714
@alyssawilk the release service account is `azure-pipeline-release@envoy-ci.iam.gserviceaccount.com`  (no s after pipeline)

[2022-04-11 15:41] alyssawilk commented on #20714
gah sorry, done for that one as well

[2022-04-11 16:27] CelsoSantos opened #20767 "Bazel build targets dependent on v3 APIs from go-control-plane fail to build"
*Title*: Bazel build targets dependent on v3 APIs from go-control-plane fail to build

*Description*:
I have a custom ext-authz server implementation that is dependant/imports envoy's `go-control-plane` module and that generates a custom jwt based of the information present on a given header.
On this server I have implementations for both of Envoy's v2 and v3 API.

Recently, due to the [removal of

[2022-04-11 17:07] adisuissa opened #20768 "Enforce prevention of multiple instances of a locality in the same priority"
*Title*: Enforce prevention of multiple instances of a locality in the same priority

*Description*:
PR #20574 refined the `LocalityLbEndpoints` structure to be defined as:
[code]
but Envoy allows to have multiple `LocalityLbEndpoints` for a locality if the different groups have different weights or different priorities.

Envoy should be more restrictive, and confirm to the revised comment.

cc @m

[2022-04-11 17:10] bincxz commented on #20642
This problem has been solved.And yes , it caused by not setting the tls_inspector filter.  After add this filter to listener. The handshake established successfully.

And there is one small question left,  After I set tls_inspector, the tls worked,  but this filter configuration seems not appeared in config_dump. That is to say, compared to before setting tls_inspector, the config_dump of this Lis

[2022-04-11 17:53] matthewgrossman commented on #20635
linked my WIP draft PR, just need to get testing working on my m1 and will ping this week when ready for review

[2022-04-11 20:15] zuercher commented on #20013
Actually, it already copies that file, so I'm going to close this.

[2022-04-11 20:15] #20013 closed

[2022-04-11 20:40] rmilejcz opened #20772 "Question: How to properly use google.api.httpBody with gRPC-JSON transcoder to accept arbitrary content?"
I am trying to accept arbitrary data via a post request, but I am unable to progress

relevant envoy config:

[code]

service definition:

[code]

I have tried altering the service definition in various ways (e.g. using google.api.HttpBody as the message input and specifying "data" as the body mapping target, not specifying a mapping target etc). The above configuration results in 500 internal ser

[2022-04-11 21:03] #20599 closed

[2022-04-11 21:26] zuercher commented on #20730
Runtime feature flags are typically documented with the field in the control plane API that they modify. They should also appear in the release notes for Envoy versions when they are added, when their default values are modified, and when they are removed. That said, they're [enumerated in the code](https://github.com/envoyproxy/envoy/blob/main/source/common/runtime/runtime_features.cc).

There ar

[2022-04-11 21:40] zuercher commented on #20725
`Network::ListenerConfig&` is passing an object by reference.

`std:unique_ptr<GenericUpstream>&&` is an rvalue reference, which enables using `std::move` to efficiently transfer ownership of the `std::unique_ptr<GenericUpstream>` to the called function.

In the future, please seek out a C++ forum for C++ questions, rather than opening issues with generic C++ questions here.

[2022-04-11 21:40] #20725 closed

[2022-04-11 21:46] zuercher commented on #20704
I'm not sure this is a common-enough use-case to just putting a completely generic validation mechanism into the main API. I think we'd be more likely to accept that as a custom validator.

[2022-04-11 21:53] zuercher commented on #20685
In this case, codec type is an HTTP major version (or the AUTO special case). For what protocol are you trying to add a new codec type?

[2022-04-11 22:44] jdfcio opened #20773 "Rate limit update to v3 API failing > 1.18.0"
**Updating envoy to 1.21.0 (or anything post 1.18.0)**

*Title*: *Envoy update - issue with rate limiter*

*Description*:

*Repro steps*:

*Config*:

[code]

*Logs*:
[code]

I've searched for anything remotely similar to the issue i'm having and can't see anything so can only imagine it's something i'm missing or is misconfigured, but when I revert the version of envoy back to 1.17.4 and remove th

[2022-04-12 02:19] zhxie commented on #20623
@htuch shall we make a small change, adding a matcher to the policy to provide with an alternative choice for policy matching which will not affect the "single action" mechanism,
[code]
or shall we make a big change, replacing the whole `rules` with matcher to support "multiple action"?
[code]

[2022-04-12 03:58] htuch commented on #20623
I think the second model is more flexible. I think the first was the result of deliberative consideration, CC @qiwzhang, so I'll let those folks weigh in. Also CC @wjtracey

[2022-04-12 04:04] #20723 closed

[2022-04-12 04:43] thangnn4688 opened #20776 "Can not use extensions in "listener_filters" to get remote IP address in Envoy TCP Proxy"
Hello,

I have to build Envoy TCP Proxy as load balancer to forward TCP packets (logs) from some systems to Splunk server.
I configured TCP proxy in envoy.yaml as below:

=====
static_resources:
  listeners:
  - name: listener_528tcp
    reuse_port: true
    address:
      socket_address:
        protocol: TCP
        address: 0.0.0.0
        port_value: 528

    listener_filters:
      - name: en

[2022-04-12 07:25] jiangshantao-dbg opened #20778 "preserve_case header formatter support inner formatter on unknown headers which are added by envoy"
*Title*: *preserve_case header formatter support inner formatter on unknown headers which are added by envoy*

*Description*:
our services have the case that headers is case sensitive.  so need to preserve header case, but now headers added by envoy is still lowercase by default, like `x-forwarded-for` etc.  i notice there is a TODO, so i want to give a PR on this issue.

[code]
[optional *Relevan

[2022-04-12 08:02] github-actions[bot] opened #20781 "Newer release available `antlr4_runtimes`: 4.10 (current: 4.7.2)"
Package Name: antlr4_runtimes@4.7.2
Current Version: 4.7.2@2018-12-18
Available Version: 4.10@2022-04-11
Upstream releases: https://github.com/antlr/antlr4/releases

[2022-04-12 08:02] github-actions[bot] opened #20782 "Newer release available `com_github_wasmtime`: v0.35.3 (current: v0.35.2)"
Package Name: com_github_wasmtime@0.35.2
Current Version: v0.35.2@2022-03-31
Available Version: v0.35.3@2022-04-11
Upstream releases: https://github.com/bytecodealliance/wasmtime/releases

[2022-04-12 08:30] zirain opened #20784 "get `bootstrap.node.metadata` in access logs?"
*Title*: *One line description*

get `bootstrap.node.metadata` in access logs?

*Description*:

want to output some metadata to access log, can I get `bootstrap.node.metadata` in access logs?

[2022-04-12 08:47] phlax commented on #20760
i have opened a PR to automate scanning of release/dev images

as expected the dev images pass but the release images fail

would be good to cut releases for currently supported versions to update the docker images

we also need to remedy the issue with docs not being built and iirc show dev version on the `envoy` binary

cc @mattklein123 @RyanTheOptimist @pradeepcrao

[2022-04-12 08:48] phlax commented on #20760
ci scan results can be seen here https://github.com/envoyproxy/envoy/runs/5986458515?check_suite_focus=true

[2022-04-12 08:55] zackzhangkai opened #20785 "cannot open source file "envoy/config/route/v3/route_components.pb.h"C/C++(1696)"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

Cannot find some pkg in code.

*Description*:

1. cannot open source file "envoy/config/route/v3/route_components.pb.h"C/C++(1696)

![image](

[2022-04-12 10:09] phlax commented on #20760
add `--ignore-unfixed` reduces the number of errors in current images - but we are stil hit with 3 critical `libc6` vulns in `1.19` and `1.20` images

[2022-04-12 12:02] phlax commented on #20712
@daixiang0 it would be v helpful if we resolve this asap - im seeing quite a lot of flakes for this and if we fix before 1.22 is cut we will avoid adding a flake on the release branch

[2022-04-12 12:09] smwyzi commented on #20685
some private RPC protocol

[2022-04-12 13:15] bjk-reddit commented on #20201
Oops, this is not stale.

[2022-04-12 13:59] GregTheHun commented on #16867
Has there been any recent updates on this? I'd love to have this as well.

[2022-04-12 14:29] #3411 closed

[2022-04-12 16:05] stevenzzzz opened #20790 "[delta-XDS] delta-XDS state tracking is broken when there is an exception thrown when watchmap loading the config."
*Title*: state tracking is broken when there is a partial accept

*Description*:
if there is a partial accept in Delta-XDS, i.e. route-table #50's loading throws an exception, out of 100 routeConfigurations in the batch, the RDS state is updated with the other 50 route tables not yet updated/inserted.

Even reconnection won't fix this issue, as the client believes it has the 50 not loaded route ta

[2022-04-12 16:06] stevenzzzz commented on #20790
/cc @yanavlasov
Please add a no-stale-bot to this issue.

[2022-04-12 16:08] stevenzzzz commented on #20790
One way to resolve this would be tracking state of resources using the actual per-resource subscriptions, with the state dictionary taking resource_name->reference to the source of truth.  Requires quite some plumbing tho.

[2022-04-12 17:04] stevenzzzz opened #20792 "remove the exception throwing in filterState data fetching, maybe use statusOr instead."
*Title*: remove the exception throwing in filterState data fetching, maybe use statusOr instead.

*Description*:
https://github.com/envoyproxy/envoy/pull/20791 changed the rule of exception throwing in Envoy data-plane, let's remove the exception-throwing code in FilterState.  Presumably return StatusOr or Status to indicate the error instead.

[code]

[2022-04-12 17:05] stevenzzzz commented on #20792
cc @adisuissa @yanavlasov

[2022-04-12 17:10] zuercher commented on #20628
The error messages are hard to decipher, but the error is that [the upstream_protocol_options one-of](https://github.com/envoyproxy/envoy/blob/7845ef4a466e9a6c4df5667c84eab308a6834424/api/envoy/extensions/upstreams/http/v3/http_protocol_options.proto#L137), which is required, is missing a value. The oneof field name doesn't appear in the yaml, but you need to choose one of:
1. explicit upstream ht

[2022-04-12 17:13] rmilejcz commented on #20772
it seems to be related to this longstanding issue: #16629

[2022-04-12 17:20] tyxia opened #20793 "Use `getResponseStatusNoThrow` instead of `getResponseStatus` which throws exception in dataplane path"
Use getResponseStatusNoThrow instead of getResponseStatus which throws exception in dataplane path

This conforms to guideline in #20791

[2022-04-12 17:23] matthewgrossman commented on #20635
should be ready for review, pretty straightforward https://github.com/envoyproxy/envoy/pull/20645

[2022-04-12 17:25] zuercher commented on #20658
@wbpcode please have a look

[2022-04-12 17:38] zuercher commented on #20773
@esmet as code owner, do you have any advice here?

[2022-04-12 17:44] zuercher commented on #20776
cc @ggreenway @soulxu @rgs1

[2022-04-12 17:45] feature-id commented on #20628
Thanks for the reply. The problem is that i need to use http/1 to the upstream (so, not a 1st option from your list), but downstream protocol is http/2 (so, not the 2nd option) and upstream doesn't support alpn (so, 3rd option doesn't work too).

client - (http2) -> envoy (edge proxy) -> (http/1) -> upstream-without-alpn

[2022-04-12 17:48] zuercher commented on #20785
That file is generated during the build. See `.devcontainer/README.md` -- I think that might help, but I don't use VScode. Another option might be to ask in the Envoy slack.

[2022-04-12 17:51] rgs1 commented on #20776
Note that this won't work unless the load balancer in front of Envoy is speaking `ProxyProtocol`. The way the ProxyProtocol filter works – and the spec itself mandates this too – is that if it fails to parse the header at the start of the connection, it'll give up and refuse it.

So if things work when you remove the `ProxyProtocol` listener filter it probably is because your load balancer indeed

[2022-04-12 17:56] jmarantz commented on #20792
I haven't looked at this in detail, but I suspect that if this filter throws it would crash Envoy. We don't have mechanical protection against throwing in the data plane, but we have lint checks against *try* in the data plane. At least in core code.

[2022-04-12 20:24] stevenzzzz commented on #20792
I can confirm it would throw exception: in our staging environment, when we tried to setData with immutable StateType, it threw and crashed Envoy.

[2022-04-12 20:26] jmarantz commented on #20792
Yeah -- in the data plane if you throw, it's basically like RELEASE_ASSERT. Unless you also wrote the 'try/catch' in which case the lint checks should block you from submitting unless you take action to subvert those.

[2022-04-12 20:31] kyessenov opened #20798 "cleanup: move internal listener out of the core"
Currently, there's a dependency loop between `InternalListener` defined in the core and `io_sockets/user_space` extension. They only work together but one is an extension and another is in the core. This makes it problematic to build upon without exposing something public in the extension (for core import), or core casting dynamically to an extension (for extension import) (see https://github.com/

[2022-04-12 20:39] kyessenov commented on #20792
Extensions that are not in upstream repo don't have the same lint checks, and we also saw crashes due to missing try/catch. I think it's a good idea to start using `StatusOr<reference_wrapper<_>>` but that will affect many downstream extensions.

[2022-04-12 20:44] kyessenov commented on #20781
/assign @kyessenov

There's a plan to implement rules_antlr by antlr org. That's a blocker for now.

[2022-04-12 22:34] gschier opened #20800 "Memory Leak After 19->21 Upgrade"
We're using Envoy as our edge proxy at [Railway](https://railway.app) (20k routes, virtual hosts, cluster; 5k secrets) and started running into an issue where heap grows uncontrollably. There was already some leaking, but it increased dramatically after switching from Dockerized Envoy 1.19 to Linux Brew Envoy 1.21. We're currently restarting each of our nodes every few hours to get around this (as

[2022-04-13 01:20] daixiang0 commented on #20712
Will do it this week.

[2022-04-13 01:25] daixiang0 commented on #20785
Please check `tools/vscode`, then you can run task to refresh comdb.

[2022-04-13 02:24] smwyzi commented on #20685
@zuercher yes, i agree with you.

But in the other hand, each protocol is implemented as a separate network filter, has the following defects:

- Each network filter need to implement some commen filters(like HTTP filters), e.g. RateLimit, Router, wasm, fault etc.
- Istio can't config other network filters, VirtualService and DestinationRule can only config HTTP connection manager

[2022-04-13 02:30] wbpcode commented on #20658
This is not a bug. In the original design, the stateful session is configuabled in the `http_filters`. And the route level config can be used to override or disable the configuration in the `http_filters`. The configuration in the `http_filters` is the main configuration. (Just like some other filters like ext_authz, lua, etc.)

Here are some possible solutions for your scene:

- Create a global c

[2022-04-13 02:36] fengyangdi commented on #20713
same as inline_string or will download a file

[2022-04-13 03:47] mattklein123 commented on #20712
@phlax if this is flaky let's just revert and we can reapply after the release?

[2022-04-13 03:59] thangnn4688 commented on #20776
My Envoy Proxy does not have any LBs in front of it for this case. I use Envoy as UDP Proxy too and the endpoints can get the remote/client IP address normally from packets are sent by Envoy. My UDP Proxy configuration as below:
========
 - name: listener_528udp
    reuse_port: true
    address:
      socket_address:
        protocol: UDP
        address: 0.0.0.0
        port_value: 528
    udp_li

[2022-04-13 04:05] daixiang0 commented on #20712
I think the cause is the small token refresh time makes the limit unexpected, I will post a fix to enlarge time today.

Feel free to revert it before the release.

[2022-04-13 04:08] daixiang0 commented on #20712
BTW, does it mean that one requirement of the release is no flaky tests, or has it been marked as flaky?

[2022-04-13 04:19] daixiang0 commented on #11816
Is it still in process?

[2022-04-13 04:22] suniltheta commented on #11816
Yes, working on this. At testing stage now. I will start with couple of PRs in next few weeks.

[2022-04-13 06:30] lizan commented on #20713
whether your browser downloads a file depends on `content-type` header, you need to specify that in your route.

[2022-04-13 07:47] doujiang24 commented on #10030
I reproduced this error when the certificate pem file path is missing:
[code]

with such a YAML:

[code]

I'm not sure if it's related, hope it helps.

[2022-04-13 08:07] github-actions[bot] opened #20802 "Newer release available `com_github_unicode_org_icu`: release-71-1 (current: release-70-1)"
Package Name: com_github_unicode_org_icu@70-1
Current Version: release-70-1@2021-10-28
Available Version: release-71-1@2022-04-06
Upstream releases: https://github.com/unicode-org/icu/releases

[2022-04-13 08:07] github-actions[bot] opened #20803 "Newer release available `org_llvm_llvm`: llvmorg-14.0.1 (current: llvmorg-12.0.1)"
Package Name: org_llvm_llvm@12.0.1
Current Version: llvmorg-12.0.1@2021-07-09
Available Version: llvmorg-14.0.1@2022-04-13
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-04-13 08:07] #20479 closed

[2022-04-13 08:07] github-actions[bot] opened #20804 "Newer release available `org_llvm_releases_compiler_rt`: llvmorg-14.0.1 (current: llvmorg-12.0.1)"
Package Name: org_llvm_releases_compiler_rt@12.0.1
Current Version: llvmorg-12.0.1@2021-07-09
Available Version: llvmorg-14.0.1@2022-04-13
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-04-13 08:07] #20480 closed

[2022-04-13 09:15] #20712 closed

[2022-04-13 09:18] jdfcio commented on #13813
Did you get to the bottom of this @rohitagg2020 ? I'm seeing someting similar here;

https://github.com/envoyproxy/envoy/issues/20773

[2022-04-13 12:21] nikita96 opened #20806 "Significant performance degradation observed with increase in number of clients."
**Setup :**

LB used : Envoy (running on RHEL 8, 8 core machine)

Benchmarking tool used :
[Cppserver](https://github.com/chronoxor/CppServer)
TCP echo server
[cppserver-performance-tcp_echo_server](https://github.com/chronoxor/CppServer/blob/master/performance/tcp_echo_server.cpp)
[cppserver-performance-tcp_echo_client](https://github.com/chronoxor/CppServer/blob/master/performance/tcp_echo_clien

[2022-04-13 14:33] mattklein123 commented on #20800
Can you list what extensions you are using? Are you using tracing? There have been other reports of memory leaks using tracing and it would be nice to understand if that might be involved here.

Also, can you get a memory profile? We are still working on getting memory profile dumps working using the new tcmalloc so you may have to recompile using gperftools until we get that working. cc @jmarantz

[2022-04-13 20:03] kyessenov commented on #20335
not stale. I'm wondering it myself as I'm noticing presumably validated samples that shouldn't be right.

[2022-04-13 21:25] #20585 closed

[2022-04-14 01:15] asaha123 opened #20817 "Question: Circuit breaker - Understanding the role of `max_pending_requests` for HTTP /1.1 traffic"
*Title*: *Role of `max_pending_requests` configuration*

*Description*:

I updated the [front proxy sandbox](https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/front_proxy.html) example to have the following in `service-envoy.yaml`:

[code]

With the above configuration, a single request gets a 503:

[code]

I ran some further experiments, by setting `max_pending_requests` to non-zero val

[2022-04-14 01:56] llu94 opened #20818 "Substitution Formatters That Don't Required Headers/HTTP Components"
*Title*: Substitution Formatters That Don't Required Headers/HTTP Components

*Description*:

[optional *Relevant Links*:]
https://github.com/envoyproxy/envoy/issues/19685
https://github.com/envoyproxy/envoy/tree/main/source/common/formatter

[2022-04-14 02:48] wbpcode commented on #20800
As matt said, can you provide some more configs about your scene.

[2022-04-14 03:29] zhangbo1882 opened #20820 ""append_action" for header append"
https://github.com/envoyproxy/envoy/blob/7ab53aed3e42a3ce842690fc14a7a884a51b66ab/api/envoy/config/core/v3/base.proto#L357
[code]
It shows that this feature is in [#not-implemented-hide:]. Do we have anyone to follow up this feature ?

[2022-04-14 04:01] #19273 closed

[2022-04-14 04:01] #20117 closed

[2022-04-14 04:01] #20245 closed

[2022-04-14 06:36] durd07 opened #20821 "tools: dependency cffi==1.14.6 should be updated to cffi==1.15.0"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *dependency cffi==1.14.6 should be updated to cffi==1.15.0*

*Description*:
./tools/gen_compilation_database.py failed with error message:
[code]

`tools/base/requir

[2022-04-14 07:07] daixiang0 commented on #20821
Do you run it at host? I use devcontainer by vscode and it works in it.
What is your python version? 3.8 or above is expected.

[2022-04-14 07:33] phlax commented on #20821
**3.10 is expected**

not sure what the cffi issue is - doesnt seem to be the python version at first glance

we use dependabot to keep these up-to-date - either way, i dont think the issue is with the cffi version.

if that was the issue you could try updating the dependency (requires pip-compile) to see if that resolves

it seems like its failing trying to compile - im wondering if clang version

[2022-04-14 07:41] durd07 commented on #20821
I run it in build container, the python version is python 3.10.2. when I updated the cffi version of `tools/base/requirements.txt` into `cffi==1.15.0` manually, and it works.

BTW, I use `--config=libc++` in user.bazelrc as the build option.
Seems when there is no prebuilt version of cffi for python3.10 in pypi `https://pypi.org/project/cffi/1.14.6/`, so here it will trying to build one with gcc a

[2022-04-14 07:47] durd07 commented on #20821
The procedure to reproduce it:

./ci/run_envoy_docker.sh bash
cd /source
./bazel/setup_clang.sh /opt/llvm
echo "build --config=libc++" > user.bazelrc
./tools/gen_compilation_database.py

[2022-04-14 07:51] phlax commented on #20821
in the official envoy build container ?

can you post the hash/version of the build container you are using if so

does it work if you dont set the `--confg=libc++` ?

[2022-04-14 07:55] durd07 commented on #20821
envoyproxy/envoy-build-ubuntu:142e6d5662b98277a84c327da26ed266ab0e3191

I haven't try. But I think it should be OK. Because the error is `x86_64-linux-gnu-gcc: error: unrecognized command line option ‘-stdlib=libc++’`   seems pip compile wheel still use our build option `--config=libc++` but use gcc instead of clang.

[2022-04-14 07:56] phlax commented on #20821
no objections to updating the cffi package if this fixes/worksaround

im curious as to why dependabot hasnt flagged this update

do you want to raise a PR to update ? if not i am happy to

[2022-04-14 07:56] daixiang0 commented on #20821
My mistake.

Build container is always valid for clang build I think.

[2022-04-14 07:59] durd07 commented on #20821
I don't know how to slove this. you can go ahead to raise a PR to fix it. @phlax

[2022-04-14 07:59] phlax commented on #20821
probably wont make any difference but seems like there is a newer build image

[2022-04-14 08:11] durd07 commented on #20821
Thanks @phlax,

I'm also curious why `--config=libc++` is passed into gcc as attribute? I don't think it should do like this.

[2022-04-14 08:35] durd07 commented on #20821
@phlax Shall we try to solve this? or figure out why? Maybe this is one common issue. Once the pip-pkg need to compile, it will trigger this case.

[2022-04-14 08:41] phlax commented on #20821
yep - there are quite a few deps that could potentially do likewise (yarl, uvloop, orjson, etc) i guess it deps on which tools you use and what is in their wheels, and what platform etc

i think we should update cffi anyway - not sure at all what is happening with dependabot

but as you say i think this issue is a more generic one - why are bazel clang flags being passed to pip's gcc invokation

a

[2022-04-14 08:52] phlax commented on #20821
hmm, actually, re yarl <> clang - i think this is only when we add python toolchains that it is using/expecting clang - i have had to add it in my local tooling container

with the python deps that require binaries it comes down to what there is available on pypi, and if it does require compiling then pip requires different things from the host/env

[2022-04-14 09:04] phlax opened #20823 "Where can I see Envoy's release schedule?"
Information regarding releases and the release schedule can be seen here:

https://github.com/envoyproxy/envoy/blob/main/RELEASES.md

Please note that release dates are planned and may not be the actual release date.

[2022-04-14 09:48] phlax opened #20826 "Patch releases for supported versions"
### Description

The current docker images have flagged CVE issues (at least some of which are known not to affect us)

There were also some issue with the last patch releases related to docs and the version reported by the binary

For above reasons we will be releasing some patch versions:

- [x] 1.19.4 - https://github.com/envoyproxy/envoy/milestone/23
- [x] 1.20.3 - https://github.com/envoyprox

[2022-04-14 09:51] phlax commented on #20760
see #20826

[2022-04-14 09:56] phlax commented on #20826
cc @pradeepcrao

[2022-04-14 10:28] wbpcode commented on #20806
Does the client running in the same matchine with Envoy proxy? And how about the CPU usage of Envoy?

[2022-04-14 11:01] ericofusco commented on #20760
Thanks @phlax.

Regarding pinning distroless to a specific digest. I believe Dependabot might not get the right image because distroless pushes many tags with different variants under the same repository (nonroot, debug, latest and tags for each architecture), so the latest digest from the repo could be whatever distroless pushes last.

I created a [ticket related to that](https://github.com/depen

[2022-04-14 11:05] phlax commented on #20760
re dependabot - nightmare - i think we still need to pin - im fixing unpinned deps on historical release branches as we speak

we will need to keep an eye on this and potentially figure out some way to monitor changes here

related to this - even if dependabot does work, it wont atm run on the release branches anyway - so wouldnt pick up the issues you raised

i think the better fix for releases i

[2022-04-14 11:51] ericofusco commented on #20760
Agree it needs to pin so builds are reproducible. It's just trick to monitor for updates in an automated fashion via digest using Dependabot. Distroless doesn't have a release process unfortunately, all tags are mutable and the tagging structure they have can be messy to work with.

[2022-04-14 12:05] nikita96 commented on #20806
No, the client is not running on the same machine as of envoy proxy.

The connection flow is as follows :
Direct connection : host1(cppserver tcp_echo_client) -> host2(cppserver tcp_echo_server)
Indirect connection (via envoy) : host1(cppserver tcp_echo_client) -> host2(envoy) -> host1(cppserver tcp_echo_server)

CPU usage is going upto 243.5% in case of 100 clients.
[code]

CPU usage is going upt

[2022-04-14 13:42] #20763 closed

[2022-04-14 14:21] stevenzzzz commented on #19858
@adisuissa could you pls nostalebot this one?

[2022-04-14 14:31] tensorchen commented on #20430
I solved this problem using custom http filter instead of http router, It's a pity that I couldn't reuse the http router.

[2022-04-14 14:31] #20430 closed

[2022-04-14 14:47] adisuissa commented on #19858
IIUC we now support customized behavior on config loading for use cases that do not modify the config.

IMHO config modification could lead to subtle issues that will result in invalid config state, so it should be avoided.

Is there anything else this issue covers?

[2022-04-14 18:40] #20764 closed

[2022-04-14 20:48] hochuenw-dd opened #20836 "Envoy cluster switch protocol based on what protocol upstream can speak"
Hi team,
We have a client using one HTTP library ([armeria](https://github.com/line/armeria)) to talk to an HTTP/1.1 server. By default, it sends the HTTP/2 connection preface packet first even if the server is an HTTP/1.1 server since it doesn't know what protocol the server can speak. [link](https://github.com/line/armeria/issues/1891), then the connection is downgraded back to HTTP/1.1.

Client

[2022-04-14 21:24] gschier commented on #20800
Thanks for the quick response!

In a previous issue around performance, you can find more info on our setup, as well as a snippet of our `config_dump` https://github.com/envoyproxy/envoy/issues/19946. We're not doing anything fancy. We can start working on getting a memory profile next week.

[2022-04-15 00:00] lambdai commented on #19458
@alyssawilk Can you reopen this? 1 downstream conn with 1 upstream conn pool does not fully resolve the problem.

We need to convert some of the upstream failure (e.g. connect failure) into a downstream connection error.

This behavior may not make sense for all cluster types, but it align with the original_dst cluster as upstream

[2022-04-15 00:41] JuniorHsu opened #20838 "thrift: struct name are decoded as empty strings, which impacts decoderFilter"
*Title*:  struct name are decoded as empty strings for thrift decoder

*Description*:
thrift decoder wrongly decodes the struct name, field name and other container name to empty string.
(FYI decoder works for metadata and stringValue)

As a result, all the filters would get the empty struct name.

*Repro steps*:
I use this test as example
https://github.com/envoyproxy/envoy/blob/007eb3f5d80df65a9

[2022-04-15 01:21] durd07 commented on #20821
With a further debugging, I printted out the `env` before run `gcc`, we can see `CXXFLAGS=-stdlib=libc++` and `LDFLAGS=-stdlib=libc++`. This is what lead to the issue.

[code]

[2022-04-15 01:53] daixiang0 commented on #20826
Do we have something like cherry-pick bot in Istio like https://github.com/istio/istio/pull/37873#issuecomment-1065814764? I think it is useful and make backport easier and clearer.

[2022-04-15 03:09] zackzhangkai commented on #20785
Thanks for your warmly replying. Because of my GreatWall Internet in China, I cannot download some packages by executing the shell as the tools/vscode.

By the way, which IDE your are using and recommend.

[2022-04-15 03:19] daixiang0 commented on #20785
I think you need a proxy server to download the necessary dependencies.

The vscode is official support, others I have no ideas.

[2022-04-15 04:24] zuercher commented on #20628
In the first option, set `http_protocol_options` Instead to force http/1 to the upstream.

[2022-04-15 06:54] doujiang24 commented on #16174
I'm interested in this feature, and I have implemented a demo of custom TLS handshake extension, that can load/set certificates/keys by SNI server name, on-demand.

I think custom TLS handshake is very powerful.

I have an idea, (like @htuch said here: https://github.com/envoyproxy/envoy/issues/16174#issuecomment-828865092)
that we can make TLS certificate selector more flexible, **without** a cus

[2022-04-15 07:51] siyigao1212 opened #20842 "Large tail latency when using sync HttpCall function in lua filter"
*Description*:
We are using lua filter **sync** HttpCall function in lua filter to call a thirdParty service, the script is just like this
[code]
We found that with a higher QPS like 500, there will be a large tail latency like P99=20-40ms when envoy concurrency > 1, after breaking down the latency, we found that the bottleneck is the latency from the third party service respond to envoy.

When we

[2022-04-15 10:07] feature-id commented on #20628
That's exactly what I do, but docs say that http/1 is a default. So I assume that I don't need to explicitly set http_protocol_options. Do I get it wrong?

From docs:
**explicit_http_config**
To explicitly configure either HTTP/1 or HTTP/2 (but not both!) use explicit_http_config. **If the explicit_http_config is empty, HTTP/1.1 is used.**

[2022-04-15 13:06] stevenzzzz commented on #19858
it adds the capability for users to manage the config from the client side, the end user is responsible for what the co-processor could bring.

Some use cases could be: logging resources received, reject config with some customized logic, or even just store/snapshot the config local for fail-static handling.

[2022-04-15 13:46] vrajannagari commented on #17571
Any workarounds or updates on this, we see a similar issue "io.lettuce.core.RedisCommandExecutionException: unsupported command 'CLUSTER'
	at io.lettuce.core.ExceptionFactory.createExecutionException(" ?

[2022-04-15 14:32] soulxu commented on #20776
When you enable original src filter, it will set `IP_TRANSPARENT` option on the upstream socket. But `IP_TRANSPARENT` required `CAP_NET_ADMIN` capability. so you need to ensure your envoy process has `CAP_NET_ADMIN ` capability

[2022-04-15 16:17] #20776 closed

[2022-04-15 16:26] zuercher commented on #20820
cc @agrawroh -- is this still being worked on?

[2022-04-15 16:31] #20113 closed

[2022-04-15 16:46] zuercher commented on #20838
The struct names aren't used in any of the currently supported protocols. They're not generally available at runtime. IIRC, the original plan had been to support the JSON protocol, where they're necessary.

[2022-04-15 16:47] zuercher commented on #20842
cc @wbpcode

[2022-04-15 16:49] agrawroh commented on #20820
@zuercher Yes, sorry for the delay on this. Let me create a new clean PR against the latest master as the earlier PR have a lot of conflicts and it's probably easier to just create a new one. Could you assign this item to me?

[2022-04-15 17:14] bbensen commented on #19747
![Screen Shot 2022-04-15 at 10 13 01 AM](https://user-images.githubusercontent.com/3228906/163600442-34b232ac-14d1-49b9-9595-a8d31c5711aa.png)

Not that it helps that much but the slack message above just indicates that this error means "the (wasm?) vm has failed"

[2022-04-15 17:24] jcetkov opened #20850 "WASM runtime telemetry"
*Description*:
Currently there is not possible to alert on (WASM) extension failure.
It would be very desirable to  to allow monitoring of WASM extensions, particularly failing in `fail_open` state.
(it would be nice to have _fail close_ as well; while that's inferable from no traffic, it would help faster diagnostics)

it would also be helpful to have indication of how many distinct filters are a

[2022-04-15 17:57] kyessenov commented on #19458
I think we can narrow it down to a specific problem: ORIGINAL_DST (IP-based) HCM should be able to appear transparent at L4, by propagating the connection events downstream. This is because the common usage for ORIGINAL_DST is to avoid any upstream decision making by Envoy so there is no need for Envoy to manage upstream connections. This can be used, for example, to collect pure L7 telemetry for

[2022-04-15 20:18] andrewstucki opened #20853 "ARM64 Distroless Images"
*Title*: Release ARM64 distroless images

*Description*:

I noticed that the [current `envoyproxy/envoy`](https://hub.docker.com/r/envoyproxy/envoy/tags) Docker containers are built for both Intel and ARM architectures. Looking at the [distroless containers](https://hub.docker.com/r/envoyproxy/envoy-distroless/tags), only Intel architectures are supported.

From the looks of it, the distroless pro

[2022-04-15 20:32] kvcache commented on #20772
We actually had to work around this by adding a subdomain for `option(http)` services.

Separate filter chains let us provide separate common_tls_context.alpn_protocols. Our grpc alpns are only "h2" and our option(http) services only advertise 'http/1.1" to work around this. In the fullness of time we'll put h2 back in the option(http) services' alpn list but this at least works around the issue f

[2022-04-15 23:15] lambdai commented on #20818
Now that your input is stream info, Could you use the StreamInfoHeaderFormatter? https://github.com/envoyproxy/envoy/blob/main/source/common/router/header_formatter.h#L36

Note that the *Header* is actually string, not a http header map.

[2022-04-15 23:21] mattklein123 commented on #20853
cc @phlax this probably isn't too difficult.

[2022-04-15 23:24] lambdai commented on #20800
re: Heap size doesn't seem to be correlated to num active connections, num draining listeners, or anything else I could find in the stats

How about number of stats ? There are some dynamic allocated stats that may never be destroyed

[2022-04-15 23:37] #20785 closed

[2022-04-16 00:03] #13809 closed

[2022-04-16 00:20] gschier commented on #20800
We disable all stats for our custom resources. Here's a full dump of `/stats`

<details>
<summary>/stats</summary>

[code]

</details>

[2022-04-16 03:49] thangnn4688 commented on #20776
I have tried to set CAP_NET_ADMIN for Envoy processes as below: <br>
=====
root@test-envoy:/etc/envoy# getcap /usr/local/bin/func-e
/usr/local/bin/func-e = cap_net_admin+ep
root@test-envoy:/etc/envoy#
root@test-envoy:/etc/envoy# getcap /root/.func-e/versions/1.21.1/bin/envoy
/root/.func-e/versions/1.21.1/bin/envoy = cap_net_admin+ep
root@test-envoy:/etc/envoy#
root@test-envoy:/etc/envoy# ./status.

[2022-04-16 06:48] #19948 closed

[2022-04-16 08:03] github-actions[bot] opened #20857 "Newer release available `antlr4_runtimes`: 4.10.1 (current: 4.7.2)"
Package Name: antlr4_runtimes@4.7.2
Current Version: 4.7.2@2018-12-18
Available Version: 4.10.1@2022-04-15
Upstream releases: https://github.com/antlr/antlr4/releases

[2022-04-16 08:03] #20781 closed

[2022-04-16 08:03] #20752 closed

[2022-04-16 10:40] wbpcode commented on #20842
The async request does not care about the third-party response, it will be quickly of course. So I think the sync or async does not mattter.

The performance of third-party service is the key point. Can you provide some more stats about your scene? For example:
- qps of the third-party service? will it be different when set envoy concurrency > 1?
- envoy metrics data of your target cluster (third-

[2022-04-16 12:01] #20283 closed

[2022-04-16 12:46] derekguo001 commented on #20704
Thanks, @zuercher . I would implement it as a custom validator.

[2022-04-16 16:22] norbjd opened #20859 "Install and use Lua modules in Lua filters"
*Title*: *Install and use Lua modules in Lua filters*

*Description*:

Is it possible to install Lua modules to use in Lua filter? My specific use case is to retrieve the nanoseconds using the [`luaposix`](https://github.com/luaposix/luaposix) module (see example below), but in fact, it can be anything else with any module.

Example:

[code]

Obviously, this module is not installed so I get the er

[2022-04-17 06:03] 13567436138 opened #20861 "what's the difference between cache filter and buffer filter?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
what's the difference between cache filter and buffer filter?
*Description*:

what's the difference between cache filter and buffer filter?
[o

[2022-04-17 07:19] soulxu commented on #20776
@thangnn4688 do you have log of envoy? Then we can we the connection was rejected. You can run the envoy with parameter ‘-l trace’, then we can get the log.

[2022-04-17 12:01] #19554 closed

[2022-04-17 12:14] soulxu commented on #20776
Also note, those listener filter doesn't have any effect on UDP. So the proxy filter can reject your request due to no proxy protocol header, and no `CAP_NET_ADMIN` can lead your upstream request failed. That is why your TCP failed, but UDP works.

[2022-04-17 21:07] jdfcio commented on #20773
FYI after some digging I found this which looks like a potential suspect for my issue.

https://github.com/hashicorp/consul/issues/11382

[2022-04-18 00:23] stevenzzzz commented on #20352
@adisuissa pls unstale this.

[2022-04-18 02:20] wbpcode commented on #20861
Envoy http filters will handle HTTP requests in a streamlined manner by default.
[code]

The buffer filter will stop the filter iteration. And continue the iteration after the whole http request is buffered.
The cache filter will cache the http responses to reduce accesses to the backend services and get higher throughput and lower latency.

[2022-04-18 02:25] wbpcode commented on #20859
Hi, how did you run the Envoy? Run Envoy with a docker? From the logs, you may need install the [luaposix](https://github.com/luaposix/luaposix) wich luarocks in your container or host.

[2022-04-18 02:26] wbpcode commented on #20850
cc @PiotrSikora

[2022-04-18 03:20] thangnn4688 commented on #20776
I just run Envoy process (/usr/local/sbin/envoy = cap_net_admin+ep) with parameter ‘-l trace’ then i can see below logs when i send TCP packet to Envoy server:

=====
[2022-04-18 10:05:53.129][23332][debug][main] [external/envoy/source/server/server.cc:209] flushing stats
[2022-04-18 10:05:58.129][23332][debug][main] [external/envoy/source/server/server.cc:209] flushing stats
[2022-04-18 10:06:00.

[2022-04-18 03:45] siyigao1212 commented on #20842
Thanks @wbpcode , very happy to know there is no problem with sync mode for lua filter.

After checking the third party service, we found that it's some problem with the tcp_nodelay settings. Thanks for your response anyway.

[2022-04-18 04:04] #20286 closed

[2022-04-18 04:13] ramaraochavali commented on #19612
@jewertow just a ping, you are working on this?  We have been waiting for this. It seems there is a consensus on auto_sni?

[2022-04-18 05:50] wbpcode opened #20866 "possible opt to filter match wrapper and http filter chain"
*Title*: *some possible opts to composite filter and http filter chain*

*Description*:

Current composite filter may inject match tree to the `ActiveStreamFilterBase` instances. And then when we iterate the http filters, the match tree will be evalated and decide to skip the composite filter or not.

This way is very flexible but make the http filter chain APIs more complex. Why could we add a ne

[2022-04-18 05:50] wbpcode commented on #20866
cc @snowp

[2022-04-18 06:30] wbpcode opened #20867 "route level http filter chain"
*Title*: *route level http filter chain*

*Description*:
Now, http filter chain is defined in the HCM. We will iterate every filter in the chain for every request. But in some scenes, we may need different filters for different routes. **For example, the route A may need buffer filter to be enabled, and the route B may only need cache filter to be enabled.**

Although we provide composite filter a

[2022-04-18 06:33] wbpcode commented on #20867
This would be a useful function for gateway/lb. Because they may have lots of routes and different routes may need different filters.

[2022-04-18 06:35] wbpcode commented on #20867
cc @mattklein123 @snowp

[2022-04-18 06:56] #20784 closed

[2022-04-18 07:30] zhxie commented on #20867
I think every HTTP filters can use `ExtensionWithMatcher` to provide a filter selection (See [Filter Integration](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/advanced/matching/matching_api#filter-integration)). But you are right, if we have many filters which need to be selected, it will become a nervous work.

Instead of `enabled_or_disabled_filters`, I suggest adding a filter

[2022-04-18 07:34] bryanwux commented on #20850
I agree this feature will be very helpful.

[2022-04-18 07:43] wbpcode commented on #20867
@zhxie This is a way I have thinked about. However, for example, if we has ten different routes, then their may need different filters (an common scene in gateway), then we need created ten different filter bundle. And every request need to match this filter bundle repeatly to ensure if this filter bundle is enabled.

[2022-04-18 08:58] norbjd commented on #20859
@wbpcode :wave:  thanks for the answer. I'm running Envoy with Docker. To my surprise, I don't see Lua installed in the container:

[code]

So I tried to install it myself, alongside with `luaposix` via `luarocks`.

[code]

But when doing a request to Envoy, I get an error:

[code]

I've also tried installing `lua5.1 liblua5.1-dev` instead of `luajit libluajit-5.1-dev`, but got the same error.

I'

[2022-04-18 09:44] wbpcode commented on #20859
Envoy buid and link luajit staticly. So luajit is not installed in the container.

In my scene, I installed `luarocks` with apt directly. And you may be need rebuild envoy binary with external flags `--define exported_symbols=enabled`.

[code]
https://github.com/envoyproxy/envoy/blob/main/bazel/README.md

[2022-04-18 09:56] iglin commented on #20658
Hi, @wbpcode ! Thank you for your response!

I still consider this a bug, or design gap, if you say so.

1. There are http_filters that CAN contain empty configuration to be overriden on route level, e.g. rate limit filter.
2. Having **disabled** cookie session state on the listener level makes much more sense than creating cookie for the entire proxy server because of one single route that really

[2022-04-18 11:11] wbpcode commented on #20658
There is no much constraits for filter design. Different filters may have different designs. And filter config of rate limit filter cannot be empty.

`a cookie path that that can never be matched` means no any cookie will be added by the filter/listener level config. And please check my third suggestion, it also would be a solution.

Because the route config is designed to override filter config i

[2022-04-18 11:14] ayasha05 opened #20870 "Warm-up/ Data Migration Functionality with envoy proxy"
Need the suggestions and recommendations for doing warm-up with envoy proxy on open source Redis. We have explored some open-source tools for warm-up but the performance is very slow, looking for more fast and reliable approaches.

[2022-04-18 11:55] soulxu commented on #20776
This is due to you enable the `proxy filter`, but your request doesn't include the `proxy protocol header`, you can remove the proxy filter.

[2022-04-18 12:04] iglin commented on #20658
Thank you for the quick response.

Sorry, I am not really a C/C++ developer. Does it mean I need to rebuild envoy with this custom code somehow? So I will no longer be able to use release images provided by envoyproxy team?
And I will still need to teach go-control-plane lib to work with this new session state class somehow? And again, new library releases will lack this custom feature so I will b

[2022-04-18 12:31] snowp commented on #20867
I think this could be implemented with minimal changes to the HCM/router: either the composite filter or something like it could be used to specify an optional filter which only applies if the per route config contains a specific entry/config. This way only optional filters have to evaluate whether or not they should be executed

FWIW my original design for composite filters allowed specifying mul

[2022-04-18 12:32] snowp commented on #20867
+ @htuch

[2022-04-18 13:03] wbpcode commented on #20658
If no data plane developer in your team, then this solution is hard to use.

Although it is dirty, it would be a quick solution, haha.

[2022-04-18 13:10] wbpcode commented on #20867
Yeah. We can design the new proto API first for the `specific entry/config`. And then we can iterate the implementation.

`EnabledOrDisabledFilters` is my initial idea for the new proto API.

[2022-04-18 13:54] matiasrege commented on #19069
Hi @ankatare ! Do you have any update on this bug?

tks!

[2022-04-18 14:04] thangnn4688 commented on #20776
But if i remove listener_filters configuration of TCP proxy, the TCP proxy
(a part of Envoy server) can not get remote/client IP address to insert it
into log content that is forwarded to the  endpoints.
Do you have any ideas to solve my case if don't use listener_filters for
TCP proxy?
Thanks very much!

On Mon, Apr 18, 2022, 18:55 Alex Xu ***@***.***> wrote:

[2022-04-18 14:36] soulxu commented on #20776
not remove `TCP proxy` filter, remove the `proxy filter` under `listener_filters`
[code]

[2022-04-18 14:52] wbpcode commented on #20859
I cannot promise it. But it would be work after rebuilding. I build our envoy with this flag and its ok to use libs installed by the luarocks.

[2022-04-18 14:53] mattklein123 commented on #20859
See also this PR: https://github.com/envoyproxy/envoy/pull/17492#issuecomment-1098834259.

I would like to get this fixed in the official builds by just permanently exporting all Lua symbols. This will require sending an export table to the linker with a specific set of symbols. If someone could do this that would be awesome.

[2022-04-18 14:53] wbpcode commented on #20859
And don't think you need install luarocks when you building envoy binary.

[2022-04-18 15:02] thangnn4688 commented on #20776
I just remove extension original_src_ip and use only extention
proxy_protocol, the result is TCP proxy still drop/filter all TCP packets
are sent to Envoy server.
Only when i remove listener_filters block, the TCP packets are able to be
forwarded to the endpoints.
This case is so hard!

On Mon, Apr 18, 2022, 21:37 Alex Xu ***@***.***> wrote:

[2022-04-18 15:15] norbjd commented on #20859
@wbpcode I'll try to tweak envoy build then, thanks :stuck_out_tongue: I thought that the module should be installed before the build, but you're right, this makes no sense. Sorry about the newbie question.

@mattklein123 so you mean that with the PR you linked, there will be no more needs to rebuild envoy with a specific option? That would be great! :raised_hands:

[2022-04-18 15:27] mattklein123 commented on #20859
Yes. The issue with the linked PR is it exported *all* symbols which adds a huge amount to the binary size. We can't ship that. But if we only export the Lua symbols it should be a pretty small size addition and will be worth it. cc @keith

[2022-04-18 16:04] adisuissa commented on #19858
The fix fr this could be very simple (removing the constness of the custom config validators).
I'm still not sure if I'd want to see something like that, as we shift the "ownership" of the config from being provided and known by the config-management server to be split between the server and the client.
This could lead to subtle bugs as the client may remove a resource (e.g., cluster), and will se

[2022-04-18 16:21] stevenzzzz commented on #19858
it'd be useful in the case that management server is not owned by the user, but some cloud service provider.
which allows much faster turnaround if the user needs to have some feature faster than the management server could offer, or not generalized enough for the management server to work on.

[2022-04-18 17:01] #20355 closed

[2022-04-18 17:12] PiotrSikora commented on #20850
Yeah, I agree that we should add it. It might be a good starter issue. cc @daixiang0

[2022-04-18 19:05] JuniorHsu commented on #20838
Thanks @.zuercher for the helpful information.
I'll make the test in #20816 reflect this fact.

[2022-04-18 19:05] #20838 closed

[2022-04-18 19:30] jmarantz commented on #19858
@jmarantz

[2022-04-18 20:54] zuercher commented on #20096
I think #20406 fixed this.

[2022-04-18 20:54] #20096 closed

[2022-04-18 23:54] lambdai opened #20873 "The requests may fail when on demand CDS returns clusters"
*Description*:

Upon OnDemand cluster returns an available cluster, the requests waiting for that cluster may fail due to hosts are not added to the cluster.

Detected by Test case TcpProxyOdcdsIntegrationTest, SingleTcpClient
https://github.com/envoyproxy/envoy/blob/main/test/integration/tcp_proxy_odcds_integration_test.cc#L130

*Background*
Currently a cluster is fully functional after cluster i

[2022-04-19 00:34] daixiang0 commented on #20850
@bryanwux I am busy with something else, do you want to pick it up?

[2022-04-19 01:57] wbpcode commented on #20866
Hi @snowp, any suggestion to this issue? will it be a possible approach? May be we can even add inner filter/filters to filter chain directly to avoid delegating. 🤔

[2022-04-19 02:27] snowp commented on #20866
How would one specify the match here? Would it be up to the filter implementation to specify the match criteria? If so how would this differ from just having the filter noop when it sees these headers?

There has been some discussions around this kind of flexible HTTP filter chains (cc @mattklein123 @htuch who were previously involved), and iiuc the concern was making it too hard to reason about t

[2022-04-19 02:28] snowp commented on #2377
Implemented in https://github.com/envoyproxy/envoy/pull/12529

[2022-04-19 02:28] #2377 closed

[2022-04-19 03:00] bryanwux commented on #20850
Yes, I can pick up this issue.

[2022-04-19 04:08] wbpcode commented on #20866
The composite filter factory will complete this matching and then decide to add inner filter to chain or not. So all the other filters needn't do this  headers check. Any filter/filters that need optioanl semantics can use the composite filter as the checker.

[2022-04-19 04:15] wbpcode commented on #20866
Yeah. I can create a quick draft PR to drive the discussion. But this need to wait for me to complete some current works.

[2022-04-19 04:29] htuch commented on #20867
Is this something we need a new `Route` feature for? Or can it just be per-route filter configuration?

[2022-04-19 05:41] wbpcode commented on #20867
cc @htuch It is a new `Route` feature used to tell that which http filters should be enabled for current route.

[2022-04-19 06:25] zhxie opened #20876 "docs: wrong release notes in recent merge"
*Title*: docs: wrong release notes in recent merge

*Description*:
Commit 0e8899c90213b39d8f4a1a083d4fd31e9c2fe8c1 introduced in #20757 contains new features of the previous version in the release notes.

In the file changes, we can see nearly 50 new features are introduced, while they are exactly the new features of v1.22.0 except the ext_proc one which is the real new feature.

[2022-04-19 06:29] MarcinFalkowski commented on #20063
Please do not close this issue, implementation is in progress

[2022-04-19 06:41] wbpcode commented on #20876
cc @phlax @htuch

[2022-04-19 06:43] wbpcode commented on #20876
May be we can revert the single file and just add the correct release note to the file to fix it?

[2022-04-19 06:44] zhxie commented on #20876
Ok, I will submit a quick fix.

[2022-04-19 06:49] Crazyigor1987 opened #20878 "Missing TLS1.2 Cipher Suite "ECDHE-ECDSA-CHACHA20-POLY1305""
### Bug Description

The Ciphersuite "ECDHE-ECDSA-CHACHA20-POLY1305" is not available if using TLS1.2 as Protocol. I've also raised this problem to istio, but there they referred to you. [https://github.com/istio/istio/issues/38292](https://github.com/istio/istio/issues/38292)

Our Gateway Spec:
[code]

As a result, we only get CHACHA20_POLY1305 only with RSA
[code]

How can we implement the missi

[2022-04-19 07:58] wbpcode commented on #20866
Sorry for my mistake. I think I got the match wrapper and composite filter mixed up. 😞 I will do some more investigation and then create a draft PR.

[2022-04-19 08:42] thangnn4688 commented on #20776
This is the log content of Envoy process when i use only extention "original_src" for TCP proxy:

------
[2022-04-19 15:37:46.416][24571][debug][main] [external/envoy/source/server/server.cc:209] flushing stats
[2022-04-19 15:37:50.846][24581][debug][filter] [external/envoy/source/extensions/filters/listener/original_src/original_src.cc:24] Got a new connection in the original_src filter for addre

[2022-04-19 10:03] na-ga opened #20884 "How to change the User-Agent for gRPC HealthCheck"
*Title*:

Is there a way to change the User-Agent for gRPC HealthCheck?

*Description*:

The User-Agent for gRPC HealthCheck is "Envoy/HC". gRPC HealthCheck uses the following `service_name` option You can change the `service` in `grpc.health.v1.HealthCheckRequest`, but not the UserAgent.

- https://www.envoyproxy.io/docs/envoy/v1.21.0/api-v3/config/core/v3/health_check.proto.html#config-core-v3-h

[2022-04-19 13:10] mpwarres commented on #20876
Oof, sorry about that. It didn't occur to me to doublecheck release notes after a conflict-free merge from main. Lesson learned!

[2022-04-19 14:36] moderation commented on #20878
Not sure if this helps but this is how I'm specifying the ciphers for h2:
[code]

[2022-04-19 15:20] howardjohn opened #20885 "respect_dns_ttl does not apply to negative DNS responses"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: respect_dns_ttl does not apply to negative DNS responses

*Description*:
We create a STRICT_DNS cluster with respect_dns_ttl=true and dns_refresh_rate=5s. The DNS na

[2022-04-19 16:14] #20876 closed

[2022-04-19 17:21] keith commented on #20859
Yea I think that PR was on the right track, is anyone interested in picking up that work? I imagine the biggest piece will be enumerating the required symbols, and measuring the size difference.

[2022-04-19 20:01] howardjohn commented on #20885
I should add - I don't think this is that big of a deal. Setting dns_refresh_rate to a high(er) value largely resolves the impact of this, at least for our use case. But I did figure I would report it since it seems like it may not be obvious behavior.

[2022-04-19 20:32] howardjohn commented on #20564
https://github.com/envoyproxy/envoy/pull/20565 fixes this. Thanks!

[2022-04-19 20:32] #20564 closed

[2022-04-19 20:33] jamesmulcahy opened #20890 "STRICT_DNS clusters are incorrectly handling DNS responses with no records"
The [Envoy docs state](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/service_discovery):

In practice, the second part of this statement doesn't seem to hold true.  We use `STRICT_DNS` clusters, and when all the records go away, envoy retains the previous set of hosts as upstreams.  If you bring back just one DNS response, then envoy will process the response and remove

[2022-04-19 22:19] scrocquesel commented on #13809
@lambdai any progress on this one ?

[2022-04-19 22:24] lambdai commented on #20748
How could we determine the connection carries health check request?
if we could, i'd like to use the similar another tag to safely add "connection: close" in the scenario of https://github.com/envoyproxy/envoy/issues/19458

[2022-04-20 01:00] Kumassy opened #20894 "Question: Why traffic_direction is set to OUTBOUND"
*Title*: *traffic_direction in config.listener.v3.Listener*

*Description*:

I looked at [front-envoy](https://github.com/envoyproxy/envoy/blob/main/examples/front-proxy/front-envoy.yaml) and [jaeger-native-tracing](https://github.com/envoyproxy/envoy/blob/main/examples/jaeger-native-tracing/front-envoy-jaeger.yaml).
Both example uses front-envoy, which handles request from remote user.

Front env

[2022-04-20 01:40] matthewgrossman opened #20895 "How to traffic-shift tracing collector clusters?"
*Title*: *How to traffic-shift tracing collector clusters?*

*Description*:
We are in the process of migrating from one tracing collector cluster to another for our Lightstep-tracing setup:

[code]
We are trying to change the `collector_cluster` field from `OLDCLUSTER` to `NEWCLUSTER` in a gradual way, similar to the strategy defined in [Traffic Shifting/Splitting](https://www.envoyproxy.io/docs/e

[2022-04-20 01:54] 13567436138 opened #20897 "docker compose up fail"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

[code]

*Description*:

[optional *Relevant Links*:]

[2022-04-20 02:56] railsonsousa106 opened #20898 "Envoy lua filter httpCall fails for external https request."
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Envoy lua filter httpCall fails for external https request.*

*Description*:
I tried to run external HTTPS call in envoy lua filter as follows.
[code]

But I get 40