[2018-09-24 20:12] stevenzzzz commented on #4513
the perRequestState seems provided a good tool for this feature, the difference is that this time the structured data/object is not generated by another filter, but from a config, and hopefully by the *DS that reloads the {cluster, filter, route}.metadata.

[2018-09-24 21:16] htuch commented on #4513
I've chatted with @stevenzzzz offline and I'm persuaded by the motivation. This design (or something like it) would address the problems of consistency and duplicated work that occur if you repeatedly transform the metadata into a type representation across the filter chain.

One question I have is why restrict this to just metadata? What we're really doing is building up an object on each xDS res

[2018-09-24 22:49] htuch commented on #4481
Yes, the fact that your backends are basically only capable of effectively handling a single request at full capacity and are CPU bound would lend itself to being more problematic. It seems totally reasonable to do full-scan as an alternative LB for least-loaded.

[2018-09-24 23:05] mattklein123 commented on #4513
I don't have a specific use case for this feature but IMO it makes a lot of sense and seems sufficiently general to me, FWIW.

[2018-09-24 23:07] #2929 closed

[2018-09-24 23:29] jordanhurwitz commented on #4206
I believe Envoy not supporting CONNECT is the route of the problem, and is an open issue: https://github.com/envoyproxy/envoy/issues/1451

[2018-09-24 23:33] qiwzhang opened #4522 "Support proper initialization order for static SDS clusters"
*Title*: Support proper initialization order for static SDS clusters

*Description*:
If a static cluster is using SDS (fetching certificates from remote), and it is using envoy_grpc which requires another static sds cluster.  It needs to initialize sds cluster first before initializing the cluster using sds.

[2018-09-24 23:59] daurnimator commented on #3469
This issue is not abandoned.

[2018-09-25 03:03] #4227 closed

[2018-09-25 06:36] huxiaobabaer opened #4523 "How can i find out centos build image tag to build envoy v1.7.1"
**Issue Template**

*Title*: *How can i find out centos build image tag to build envoy v1.7.1*

*Description*:

ERROR: missing input file '@envoy//ci/prebuilt:thirdparty_build/lib/libevent_pthreads.a'
ERROR: /source/source/exe/BUILD:21:1: //source/exe:envoy-static: missing input file '@envoy//ci/prebuilt:thirdparty_build/lib/libevent_pthreads.a'
Target //source/exe:envoy-static failed to build
ERR

[2018-09-25 08:09] huxiaobabaer opened #4524 "Envoy exit with [2018-09-24 22:28:05.101][21934][critical][main] source/server/server.cc:78] error initializing configuration './tc01_envoy-ratelimit.json': Unable to parse JSON as proto (INVALID_ARGUMENT:admin.address: invalid value "tcp://0.0.0.0:8901" for type type.googleapis.com/envoy.api.v2.core.Address):"
**Issue Template**

*Title*: *[2018-09-24 22:28:05.101][21934][critical][main] source/server/server.cc:78] error initializing configuration './tc01_envoy-ratelimit.json': Unable to parse JSON as proto (INVALID_ARGUMENT:admin.address: invalid value "tcp://0.0.0.0:8901" for type type.googleapis.com/envoy.api.v2.core.Address):*

*Description*:
[!65 01:09:10 ]# envoy --version
envoy  version: 84592371

[2018-09-25 08:14] huxiaobabaer commented on #4524
My json file is
{
  "listeners": [
    {
      "name": "internal-api",
      "address": "tcp://0.0.0.0:8701",
      "filters": [
        {
          "name": "http_connection_manager",
          "config": {
            "codec_type": "auto",
            "stat_prefix": "webapp-ingress",
            "route_config": {
              "virtual_hosts": [
                {
                  "name": "webapp"

[2018-09-25 09:28] zyfjeff commented on #4524
You look is v1 configuration file format, this is now does not support, please use the v2 version of the configuration format

reference: [front-envoy.yaml](https://github.com/envoyproxy/envoy/blob/master/examples/front-proxy/front-envoy.yaml)

[2018-09-25 14:11] daganibhanu commented on #4494
Is this something related to [https://github.com/golang/lint/issues/397](url). ? I see the issue being solved in latest version i.e 1.8.1dev, but I'm facing the same issue on 1.7.1 which is stable version.
I guess the bazel rules must have been changed? or can someone help me in understanding the change/fix?

[2018-09-25 14:27] dnoe commented on #2659
`level = 0` doesn't look right. You probably want the value corresponding to `IPPROTO_TCP`, right?

[2018-09-25 15:03] hzxuzhonghu commented on #2659
[code]

I have tried both, but all failed.

[2018-09-25 15:12] cpakulski commented on #3643
@htuch, @ggreenway I can look at this issue.

[2018-09-25 15:54] junr03 commented on #4522
@qiwzhang what is the current behavior. Will the cluster using SDS retry getting certificates from the remote, so that eventually after the SDS cluster is setup the cluster using SDS will succeed?

[2018-09-25 15:59] junr03 commented on #4524
@zyfjeff is correct. Please convert your configuration to v2. You can use [this bazel](https://github.com/envoyproxy/envoy/blob/e999cfaccfc5a0fc99d16d7ed7f1248f60546a73/tools/v1_to_bootstrap.cc#L2) tool to do so.

I will close this issue, as the problem source is known. Let us know if you have any other questions.

[2018-09-25 15:59] #4524 closed

[2018-09-25 16:22] taiki45 opened #4526 "REST xDS API with HTTP GET requests"
*Description*:

In some cases, some of Envoy users want to use a object storage like Amazon S3 as a control plane. This is mainly for that simplicity and most of Envoy configurations are almost static in that case. For example, if one wants to use only Envoy's failure recovery features, the one can deliver that configuration to Envoy instances via RDS and CDS. That CDS response can point to a DNS

[2018-09-25 16:36] mattklein123 commented on #4526
@taiki45 is the issue here basically that the v2 xDS REST mappings use POST? Is that the only issue?

[2018-09-25 16:39] taiki45 commented on #4526
@mattklein123 Yes, current v2 xDS REST mappings only support POST requests. This issue is a proposal for having GET requests support along with current POST support.

[2018-09-25 16:39] dnoe commented on #2659
Without knowing more about the particular custom option you are trying to set it's hard to be sure. But the error returned from setsockopt system call was "Protocol not available".

[2018-09-25 16:40] #4389 closed

[2018-09-25 16:53] mattklein123 commented on #4526
OK, sure that sounds reasonable to me and should be a really simple change w/ configuration.

[2018-09-25 17:03] htuch commented on #4526
Can someone who understands the nuance of REST HTTP verb mapping chime in? Is it valid to use GET if we have stateful changes, my high-level understanding of this topic indicates maybe not? Would we offer a simplified version of the API without the version + ACK/NACK dance?

[2018-09-25 17:45] tonya11en commented on #4445
I'm also interested in taking this one up. @gsagula let me know if you get busy with other things or need help with review/testing.

[2018-09-25 17:52] qiwzhang commented on #4522
Yes,  subscription will retry right away after the first failure.  the cluster of using SDS will get the certificate. I even have an integration test to test this case.  https://github.com/envoyproxy/envoy/blob/master/test/integration/sds_dynamic_integration_test.cc#L367

[2018-09-25 17:54] uromahn commented on #4158
We are planning to introduce Envoy across our entire system and CentOS support is an absolute "must" for us. We are running our entire system on it and having everything re-certified with a different OS is just too expensive and time consuming.

I personally don't object the switch to clang as long as the current build for CentOS stays there.
I have experimented building a newer toolchain with cla

[2018-09-25 18:00] jmarantz commented on #4196
The intellectual challenge is too much fine. I spent some time poking around. Through a series of unreviewable hacks in https://github.com/jmarantz/envoy/commits/symbol-table-hacking I have brought the per-cluster overhead from 67439 bytes to 38522 bytes. Also note that disabling stats completely gives 14557 bytes per-cluster overhead. So from a  stats-only perspective, those hacks reduce 52882 by

[2018-09-25 18:03] rshriram opened #4528 "Generic attribute bag shared by all filters"
I was under the impression that the RequestInfo::FilterState (per request or per connection) is an object that can be modified by multiple (successive) filters. It turns out that its a write-once and read only object. @curiouserrandy any reason why you set the shared requestInfo::Filterstate to be a write-once thing instead of a model where multiple filters can write to same object?

I propose we

[2018-09-25 18:11] jmarantz commented on #4196
Actually I should point out the hacks in that branch built on jbuckland's SymbolTable, which is table stakes; though there are some tweaks to that in the branch.

[2018-09-25 19:01] jmarantz commented on #4196
More specific ideas:
  - do we really need to dynamically delete stats individually, as opposed to by scope? if not, we could
     arguably get rid of refcnt and the pointer from each stat back to the alloc. We could also potentially
     hide the flags in the high-order bits of the value, I suppose.
  - do we really need to have a small map in each scope? Or could we do a scope lookup by prependi

[2018-09-25 19:39] mattklein123 commented on #4526
TBH it really doesn't make any difference, it just angers hard core REST people. The HTTP standard says that GET requests can have a body, etc. IMO we should just add a config flag to switch the method and document why it's there.

[2018-09-25 20:04] mattklein123 commented on #4528
Allowing multiple writers seems reasonable to me. It could also probably be expressed as part of the dependency/policy graph. @curiouserrandy thoughts?

[2018-09-25 20:17] fredlas opened #4531 "Clean up tests that start an admin HTTP server just to get by"
After #4486 is submitted, it will be possible to create an instance of the Admin admin console class without automatically starting an HTTP listener. Tests that specify an admin address in a bootstrap config - and so start an HTTP listener - just to get through startup correctly can now have that listening address removed. At least one example (I think?) is in test/config/utility.cc, ConfigHelper

[2018-09-25 20:34] jmarantz commented on #4196
Also it seems like it might be worth looking at that 14557 bytes of per-cluster overhead that exists even with stats disabled. Perhaps in LB structures?

[2018-09-25 21:02] goaway commented on #4092
Sorry for the delay/inactivity - I still am working on this as a low priority change, but since we reached a general consensus here, I don't mind closing the issue or coalescing.

[2018-09-25 21:46] curiouserrandy commented on #4528
[Just to clarify something that I think is understood: FilterState as a whole isn't write-once, but each object stored within FilterState is indeed write-once.]

Our experience at Google was that having a lot of filters all writing to the same objects made dependencies very hard to keep separate as the number of filters grew.  The goal of FilterState wasn't to create state that was shared between

[2018-09-25 21:50] #4449 closed

[2018-09-25 22:01] ggreenway commented on #4528
FWIW, in the [PR](https://github.com/envoyproxy/envoy/pull/4489) that @rshriram just put in, I suggested doing a similar, but oppositely directed version: a key that anyone can write to, and that tcp_proxy would consume (if set). But that still maintains the property that it is easy to reason about, because it is (as currently written) a directed message from one filter to another. I'd be curious

[2018-09-25 22:10] rshriram commented on #4528
@curiouserrandy the use case I have is mentioned in the description above. I would like filters to add one or more attributes to a connection state (e.g., mongo adds some attributes, then tcp proxy adds some more, and finally access log uses it to create a log entry or the RBAC filter uses both to do some policy enforcement.). For example, lets say the RBAC filter looks for  "envoy.rbac.attributes

[2018-09-25 22:13] #4474 closed

[2018-09-25 22:17] htuch commented on #4528
@ggreenway that was the original idea behind the post box style of the metadata namespace; the filter name was intended as the destination. It seems there are useful cases for both 1:N and N:1 communication.

[2018-09-25 22:33] curiouserrandy commented on #4528
@rshriram : Ah, sorry, somehow missed that section of your initial writeup.  I think I'm with @htuch / @ggreenway that 1:N and N:1 data flows would both have their use.  I'll note that one concern I have around N:1 is that I still don't think that it makes sense (at least based on what I understand of your use case) for multiple filters to overwrite the  *same* piece of data; what you want is for

[2018-09-25 23:14] tekumara commented on #4526
This would be really nice, we'd like to use S3 as the control plane too. One potential gotcha might be auth, which I don't think is supported by the REST client? (correct me if I'm wrong). Which means the S3 bucket needs to be publicly readable, which isn't great, especially for secrets. Unless there's a workaround?

[2018-09-25 23:19] rshriram commented on #4528
I am not looking for overwrite semantics. Append should do..

[2018-09-25 23:36] monsterrev commented on #3876
I am facing a similar issue and was wondering if this has been solved
@mancini0  Were you able to get this resolved ?

[2018-09-25 23:46] mancini0 commented on #3876
I ended up doing it in c++ as a custom filter. I will provide more details
tomorrow. What are you using for discovery?

On Tue, Sep 25, 2018, 6:36 PM monsterrev <notifications@github.com> wrote:

[2018-09-25 23:59] gsagula commented on #4445
@tonya11en, thank you. Same here! I've wanted to revisit this filter for a long time. Are you interested in just fix this issue or maybe go for a longer stretch? Either way, I would be happy to help with.

[2018-09-26 03:03] huxiaobabaer commented on #4524
@junr03 Could you please point me the doc how to use [v1_to_bootstrap.cc](https://github.com/envoyproxy/envoy/blob/e999cfaccfc5a0fc99d16d7ed7f1248f60546a73/tools/v1_to_bootstrap.cc#L2). Do i need to compile it by myself?  I don‘t have any c/c++ background.

[2018-09-26 03:45] mattklein123 commented on #4471
Done! Thank you @qiwzhang!

[2018-09-26 03:45] #4471 closed

[2018-09-26 09:59] zyfjeff commented on #4210
@snowp I haven't start, I'm working on another issue

[2018-09-26 12:47] snowp commented on #4210
No problem, I'll put something together

[2018-09-26 15:10] dio commented on #4445
@gsagula ah thanks for the clarification.

[2018-09-26 15:21] auni53 opened #4534 "toolchain: prepare-commit-msg hook works incorrectly in editor"
**Issue Template**

*Title*: prepare-commit-msg works incorrectly with `git commit`

*Description*:
This hook was created for the use-case of `git commit -m <message>`, but this works incorrectly when you use `git commit`. i.e. create commit message in editor. The sign-off gets appended to the comment-only section (in vim anyway).

I'll investigate how to fix this myself as well.

[2018-09-26 15:33] curiouserrandy commented on #4528
I would reasonably strongly prefer that we avoid that solution.  Let's craft a solution that's more targeted towards appending as opposed to allowing mutation.

One easy way to do that, either as another accessor or as a change to the existing situation, is to allow multiple setData<> of the same type on the same name, and have a getData<> that returns a vector of results.  Would that address this

[2018-09-26 15:37] georgi-d opened #4535 "Extend RouteMatch to support matching based on the request source"
We have a use case where for the same virtual host different the request needs to be routed differently based on the source of the request.

There are two different ways to distinguish the source:
1) Whether the the request comes from the same node where Envoy is running. Where for the request socket: `tcp.src_address == tcp.dst_address`. This check catches local connections on all interfaces.
2)

[2018-09-26 15:38] georgi-d commented on #4535
@nickolaev

[2018-09-26 15:46] rshriram commented on #4528
neither of these would satisfy this use case though.. What I want is a bag of attributes.. Like a map within a map..
 e.g.,
[code]

[2018-09-26 15:48] curiouserrandy commented on #4528
Why wouldn't it satisfy the use case?  You just have objects with the same name (e.g. the destination filter that will consume the information) and those objects have an attributeName() accessor and the FilterState interface allows the ability to iterate through all of those objects.

[2018-09-26 15:53] rshriram commented on #4528
sorry, i messed up the example.. here is the right one
[code]

[2018-09-26 15:54] mattklein123 commented on #4535
This sounds reasonable but please see how we are doing CIDR matching elsewhere in RBAC, filter chain matching, etc. We should use the same constructs.

[2018-09-26 15:55] mattklein123 commented on #4535
Also, I'm not sure I agree we should support the "same host" semantics. IMO this can be configured by the operator with appropriate CIDR matches?

[2018-09-26 15:55] rshriram commented on #4528
Ah I see what you are saying.. return vector of objects instead of a single object..
that could work.

[2018-09-26 16:01] rshriram commented on #4528
should I change the getData to always return a vector instead of another variant?

[2018-09-26 16:36] mandarjog commented on #4528
We have been wanting a mixer-esque attribute bag for a while. I think it makes a lot of sense.
This proposal will have to decide on issues of attribute vocabulary that mixer had to before. Is it purely defined by the producer of the attribute, are attributes  namespaced ?

[2018-09-26 16:39] vielmetti commented on #1861
Several upstream issues in `bazel` have been resolved, specifically https://github.com/bazelbuild/rules_go/pull/1550 which might make this worth a retry.

[2018-09-26 16:57] georgi-d commented on #4535
@mattklein123

I assume you are talking about: https://www.envoyproxy.io/docs/envoy/v1.7.0/api-v2/config/rbac/v2alpha/rbac.proto

I am fine with using the same constructs as in RBAC for the matching.

The same host is crucial for my use case. I am not there is a way to achieve this without explicit support from envoy. It is not possible to pre-configure all the IPs that are on the host because int

[2018-09-26 17:02] mattklein123 commented on #4535
OK fair enough re: same host. Sounds like it might be generally useful. Can you propose the final config changes so we can discuss if you are planning on doing the work?

[2018-09-26 17:07] htuch commented on #4526
@tekumara is this just the ability to add some extra headers with static tokens in the Envoy config for auth? That exists today for gRPC but not REST as you say. Or, do you need something more sophisticated, to deal with token lifetimes, refresh, integration with AWS SDK etc?

[2018-09-26 17:44] georgi-d commented on #4535
I will think over it and propose final changes most likely tomorrow.

Thanks

[2018-09-26 17:57] dio commented on #4273
Sorry for a very late response.

I tried this and I couldn't reproduce it from the latest master.

I did get the error message, but not the crash.

[code]

@idiamond-stripe could you check again with the latest? Thank you!

[2018-09-26 18:16] dio commented on #4526
To @tekumara point, we need to calculate the value for the Authorization header[1] and it seems it has lifetimes as pointed by @htuch.

Do you think to let envoy somehow to get the value e.g. from file worth to have (map a value of a header entry from an external source)?

[1] The format would be something like: `Authorization: <Algorithm> Credential=<Access Key ID/Scope>, SignedHeaders=<SignedHea

[2018-09-26 18:42] stevenzzzz opened #4537 "Add mock method body for MockRequestInfo.perRequestState()"
**Issue Template**

*Title*: Add mock method body for MockRequestInfo.perRequestState()
*Description*:

[2018-09-26 18:57] monsterrev commented on #3876
We are using XDS - https://github.com/envoyproxy/data-plane-api/blob/master/XDS_PROTOCOL.md for discovery, but the issue that I am trying to resolve is to figure out a way at http_filter level (ext_authz) to figure out the destinationHostname before the request hits the http_connection_manager filter.

[2018-09-26 19:29] htuch commented on #4526
At some point you want to be as expressive as https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/core/grpc_service.proto#L35, including the ability to write arbitrary extension plugins for credential handling. I'm wondering if we can head towards this incrementally and what the minimum needed would be?

[2018-09-26 20:27] htuch opened #4540 "FilterChain Discovery Service (FDS)"
In order to support filter chain updates without forcing a full listener drain, it's been suggested we add a FilterChain Discovery Service. This would allow individual FilterChains belonging to a Listener to be independently discovered and updated.

This would also lend support to finer grained Listener resource naming for incremental and on-demand xDS (generalizing https://github.com/envoyproxy/e

[2018-09-26 20:31] andraxylia commented on #4540
We need this fix for Istio for long-lived connections with SNI @rshriram @costinm .

[2018-09-26 20:33] polivbr opened #4541 "unbalanced high/low write buffer watermark callbacks"
**Issue Template**

*Title*: unbalanced high/low write buffer watermark callbacks

*Description*:
Full disclaimer: I barely understand this code and I could be completely off base, but this is what I've found...

I've discovered an issue with passing concurrent server-streaming GRPC requests through the Istio Ingress Gateway (which uses Envoy), in which some of the streams from the server, through

[2018-09-26 20:36] ggreenway commented on #4540
Related add-on feature: lazy-loading of FilterChains, triggered by a listener-filter that is watching for unknown SNI values.

[2018-09-26 20:51] andraxylia commented on #4540
@htuch does the drain happen when a particular FilterChain is updated, and also when any FilterChain is added or deleted in the listener?

[2018-09-26 20:55] gupash opened #4542 "RBAC Filter Envoy Proxy Usage"
**Help Wanted**

*Title*: *I want some sample example of RBAC network filter usage with complete envoy yml configuration*

*Description*:

Below is just a sudo config of what I want:
[code]

[2018-09-26 21:53] mattklein123 commented on #4541
Yikes this sounds bad. Thanks for the outstanding report and investigation. I'm tagging @alyssawilk who can hopefully triage this tomorrow in case we want to get a fix in before we tag 1.8.0 (@alyssawilk if you are too busy LMK and I can take a look also). Thank you!

[2018-09-26 21:54] mattklein123 commented on #4540
@andraxylia the intention here is to only effect new connections, right? Obviously previous connections will use the old filter chain? I just want to make sure we are on the same page. If so this sounds like a useful and straightforward feature to me.

[2018-09-26 23:42] andraxylia commented on #4540
@mattklein123 All is good if a change in the FilterChain  does not affect existing TCP and GRPC connections - for instance the addition of a host in server_names in the FilterMatch.

@rshriram @costinm told me that because of issues with full drain we cannot move Istio from multiple listeners to 1 listener with multiple FilterChains.

[2018-09-27 00:43] taiki45 commented on #4526
I missed one important point in PR description: I think changing HTTP method of xDS API requests from Envoy is not enough. As far as I know, most of object storage HTTP endpoints don't parse request body. Instead we have to encode Envoy's node identifier and/or xDS API type into HTTP request path like v1 xDS does. Something like: `/v2/discovery:clusters/${cluster_name}/${node_id}`. In v2 xDS API

[2018-09-27 01:51] taiki45 commented on #4526
For authorization, it’s good Envoy has that extensibility, but for now I think we can work-around with source-IP based restrictions (S3 has the feature) or simple HTTP proxy which handles authorization.

[2018-09-27 03:06] #4537 closed

[2018-09-27 03:29] ramaraochavali opened #4543 "dns: DnsResolverImpl keeps using a "broken" c-ares channel"
We have a `STRICT_DNS` type of a cluster defined in bootstrap config. In one of our test Pods, the membership count of this cluster became zero. This is understandable because the DNS resolution might have resulted in zero hosts. However this remained like this for quite a long time and after killing the container, Envoy is able to successfully resolve the DNS.

I have taken debug logs when Envoy

[2018-09-27 13:36] stevenzzzz commented on #4513
I talked with @htuch and he agreed we can proceed on this rough idea. I will come up with an more detailed design doc, thanks @htuch!

[2018-09-27 14:10] zyfjeff commented on #4289
@adriancole Need to make it configurable, or automatic identification using "b3 single" header format  or b3, if is the automatic identification, then b3 single header and b3 which higher priority?

[2018-09-27 14:14] adriancole commented on #4289
single header wins
https://github.com/openzipkin/b3-propagation/blob/master/README.md#http-encodings

On Thu, 27 Sep 2018, 10:11 tianqian.zyf, <notifications@github.com> wrote:

[2018-09-27 14:15] polivbr commented on #4541
Thank you for the quick response! If there's anything I can do to assist, please let me know.

[2018-09-27 14:53] #4492 closed

[2018-09-27 14:56] #4393 closed

[2018-09-27 15:23] mattklein123 opened #4544 "docs: arch docs for retry plugins"
Some example configurations for the built-in plugins would be great. cc @snowp

[2018-09-27 15:28] soya3129 commented on #2394
Hi @tatsuhiro-t , I am assuming you referred to the following sentence in the draft:

"If the END_METADATA bit is not set, this frame MUST be followed by another METADATA frame."

I can see it is a little misleading. But we don't require METADATA frames to be sent contiguously. I think the sentence tries to say there must be following METADATA frames if  END_METADATA is not set. METADATA can inter

[2018-09-27 15:54] alyssawilk commented on #4541
I think there may be a bug here but I don't think it's solely in the HCM.

On inspection it seems plausible that both the h2 codec and the HCM are as you say giving duplicate notification of high watermark callbacks:
  if (connection_.aboveHighWatermark()) {
    stream->runHighWatermarkCallbacks();
  }
in ServerConnectionImpl::onBeginHeaders plus the
if (read_callbacks_->connection().aboveHighWate

[2018-09-27 16:09] polivbr commented on #4541
I have a test app that I was using to trigger this bug:

https://github.com/polivbr/istio-stream-hang

Basically, the client sends concurrent down the same GRPC connection, each of which results in the server sending back very large streams of data in response. In the case where the server and Istio gateway are on the same 10GB network and the client is on a separate 1GB network, this test is able

[2018-09-27 16:59] sbelair2 opened #4546 "Refactor fd() callback in transport sockets to a generalized I/O handle."
**Issue Template**

*Title*: *Transport socket callback fd() needs to be generalized to an I/O handle for more generalized connections*

*Description*:
Back towards the end of 2017 the transport_socket interface was introduced. In  PR #2116, which added the transport_socket interface, @mattklein123 had the following comments:
"Not all transport sockets are going to have a fd. Can this be removed f

[2018-09-27 17:09] junr03 commented on #4546
@mattklein123 @alyssawilk @htuch iirc there is someone involved in the VPP work that has been working towards this generalization/refactor, right? Just want to assign the right person to this issue

[2018-09-27 17:10] qiannawang opened #4547 "Support to track the timestamps at a per-filter basis"
**Issue Template**

*Title*: Support to track the timestamps at a per-filter basis, including plugin filters

*Description*:
Envoy does not record the timestamps at each filter level. It will be very helpful to debug the request latency bottleneck if we know following information at each filter: the request arrival time, request departure time, response arrival time and response departure time.

[2018-09-27 17:14] devshorts opened #4548 "Envoy leaks cluster members when using STRICT_DNS and ClusterLoadAssignment"
*Title*: Envoy leaks cluster members when using  STRICT_DNS and ClusterLoadAssignment

*Description*:
We are using envoy sha f1aee97b079ad4a0130583ef7cd656351dd70bd7 with a configuration that sets up DNS entries in our cluster load assignment registered via a CDS

[code]

When we had this envoy would resolve the DNS and continuously say in the debug logs that the hosts have changed, and so it woul

[2018-09-27 17:28] qiannawang opened #4549 "Can envoy tcp health check to the upstream cluster be triggered by requests only?"
**Issue Template**

*Title*: Can envoy tcp health check to the upstream cluster be triggered by requests instead of by periodically?

*Description*:
In our use case, the periodic tcp health check (with some configuration like [1]) to the upstream cluster gives us false alarms when it happens outside of the request-serving scope. Is there a way we can config the envoy such that the health check is

[2018-09-27 17:29] htuch commented on #4546
I think @sbelair2 is the right person to assign to.

[2018-09-27 17:31] zyfjeff commented on #4289
@htuch  please assign to me, i will take some time to implement the recently

[2018-09-27 17:36] htuch commented on #4547
This seems a reasonable generalization of what `RequestInfo` tracks today and could be done in HCM.

[2018-09-27 17:44] vilobhmm commented on #4283
@htuch : Amended the design doc to capture the failure scenario reported in #1472

[2018-09-27 17:45] vilobhmm commented on #4283
CC @ldemailly

[2018-09-27 19:56] mattklein123 commented on #4547
Agreed this sounds very useful perhaps on an opt-in basis.

[2018-09-27 19:56] htuch opened #4552 "Migrate to python3"
What do folks think about moving to Python 3 across the board? We're going to need this at Google in the short-medium term. I'm not an expert on what the best practices are here, how we can best maintain Python 2/3 mixed compatibility etc. @danielhochman do you have any thoughts?

[2018-09-27 19:57] cpakulski commented on #3643
@htuch. Would you mind explaining why

outlierDetector has a specific handler for 5xx: https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/outlier_detection_impl.cc#L70. This is called directly when upstream host returns 5xx.

But router also calls outlier detector with its internal code https://github.com/envoyproxy/envoy/blob/master/source/common/router/router.cc#L464-L466 whi

[2018-09-27 19:59] mattklein123 commented on #4552
:popcorn:

[2018-09-27 20:06] htuch commented on #3643
If the error comes from router.cc, then it should count towards outlier detection. If it comes from the backend, it should be ignored for this purpose.

The use case is when you only want to exclude those backends that have network connectivity issues, but where 5xx might be a normal part of their behavior that we don't want to be opinionated on.

[2018-09-27 20:18] cpakulski commented on #3643
@htuch Thanks, I assume that another handler for connectivity errors is needed plus configuration item, let us call it "consecutive_connection_failure", so you can distinguish those two cases and switch them on/off separately, correct?

[2018-09-28 03:59] ramaraochavali commented on #2259
@snowp I am starting to experiment with this and have n't looked at all your PRs yet. We use LEAST REQUEST LB. Do we have to tweak any config/plugins to get the behaviour of a retry going to a different host than it failed for the first time?

[2018-09-28 04:43] taiki45 commented on #4526
@tekumara No, envoy's eventual consistency model covers S3's limitation well.

[2018-09-28 05:18] ramaraochavali commented on #2259
@snowp nm.. looked at your recent PRs and got the info. We need to use envoy.retry_host_predicates.other_hosts predicate and try. Will try that

[2018-09-28 11:49] DemantT opened #4554 "what should I do for adding a new function"
I want to add a new plugin to filter some bad url or something, can I add a custom function in this code?just like a plugin
What should I do?

[2018-09-28 12:03] adamkotwasinski commented on #2852
(continuing the minimal sidecar-per-broker idea)
Assume we have a Kafka read/write filter that can process both incoming data (requests sent to broker by clients) and outgoing data (responses).

Would it be possible then to use Envoy as egress proxy sitting as a sidecar next to client, so we could capture the client's outbound data? (it would give users visibility into client-level metrics e.g. wh

[2018-09-28 16:09] junr03 commented on #4554
Hi, without more details it is unclear to me where your proposed functionality would go (or if this is functionality that envoy might already have), i.e in a separate filter, as an enhancement of an existing filter. So a few more details would be helpful.

In terms of adding new functionality via an extension, if you think the added functionality would be of use to the community as a whole we have

[2018-09-28 17:15] dio commented on #4548
Sure @mattklein123 I've been trying to look at the issue. Will do on the weekend if required since I'm travelling back today.

Paging @snowp too just in case you have spare cycles for this 🙂. Thanks!

[2018-09-28 18:17] lizan commented on #921
Sure I will take this one if no one is working on that.

@PiotrSikora I tried Kythe for a bit but it requires too many Java dependencies to generate compilation db.

[2018-09-28 19:13] rbkumar88 opened #4557 "Envoy Lua filter request_handle get http method and path"
Hi,

Is there any way I can get HTTP method(GET/POST etc) and the request path(context path) from the request_handle object?

Thanks

[2018-09-28 20:03] stevenzzzz opened #4558 "cluster metadata consistency among filters."
**Bug Template**

*Title*: We need a mechanism to make sure cluster(a service)'s metadata is consistent between filters.

*Description*:

This is not thread-safe as the metadata may get updated between different filters' de/encodeHeaders() call.
Consider the following scenario:

-     FilterA read metadata, get "version 1"  metadata.
-     CDS update the metadata of the cluster to "version 2".
-

[2018-09-28 21:53] mattklein123 commented on #4557
Yes they are contained in the `:method` and `:path` pseudo headers.

[2018-09-28 21:56] mattklein123 commented on #4549
Why not just use passive health checking then? I think that should be enough? I'm mainly wondering if this feature is generally useful enough that other people would want it?

[2018-09-28 22:02] qiannawang commented on #4549
What's the passive health checking? Can you elaborate? Is this configurable to enable this in envoy?

[2018-09-28 22:04] mattklein123 commented on #4549
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/outlier#arch-overview-outlier-detection

[2018-09-28 22:27] mattklein123 commented on #4558
Sorry to be pedantic but it is thread safe, it's just not consistent across filter invocations, right?

 I agree that in general what you are saying makes sense to me. My concern is that someone might actually be expecting the alternate behavior which is/was immediate update. Can you come up with a more fleshed out API proposal/change that we can discuss?

[2018-09-29 01:05] #4407 closed

[2018-09-29 01:42] qiannawang opened #4563 "Support to be able to write customized string message to RequestInfo and AccessLog"
**Issue Template**

*Title*: Support a method of  RequestInfo to set customized message, which can then be propagated to the AccessLog.

*Description*:
The RequestInfo currently only supports to set the response flag via setResponseFlag(), which then converted to the response_flags field of the access log. In our use case, the filter needs to write customized message to the access log.

It will be

[2018-09-29 02:04] DemantT commented on #4554
@junr03 Sorry, I didn't make myself clear，I want to add a new plugin for filter something I want  .
I want to know whether envoy support adding custom plugins like nginx  and how

[2018-09-29 11:54] jmarantz commented on #4196
Update: I incorporated absl's just released flat_hash_map/set in a few places. This required some further refactoring (which was good to do anyway), and brought us to 40552 bytes per cluster with a TLS cache, and 35743 per cluster with TLS cache disabled. It's all in https://github.com/jmarantz/envoy/commits/symbol-table-hacking , which has a variety of pretty clean wins and some hacks that may be

[2018-09-29 19:42] mattklein123 commented on #4280
Adding help wanted as I don't think we want to lose this tracking issue.

[2018-09-29 19:45] mattklein123 commented on #4196
@jmarantz re: TLS caching, I suspect that we do need it for dynamic stats that are high frequency (in particular the HTTP response code stats). However, I thought of potentially a nice optimization on that front that would be easy to implement. Basically, I don't think all stats need to be in the TLS cache. This is because many stats are allocated in a non-perf critical path and never looked up ag

[2018-09-29 19:51] mattklein123 commented on #4563
This sounds reasonable to me as a high level concept, along with a set of access log extractors. Though, I wonder if this could be done today with the existing metadata concepts we have? cc @zuercher @ggreenway

[2018-09-29 20:01] mattklein123 commented on #3643
@htuch @cpakulski the intention is to make this change configurable, right? I can see a scenario in which the user wants to configure this but I also think that the current behavior is a more sensible default for the way most users intend to use outlier detection?

[2018-09-29 20:38] cpakulski commented on #3643
@htuch @mattklein123 I am implementing it by adding counters and config items parallel to consecutive5xx. They will be called consecutive_conn_failure..... The defaults will be as for 5xx. It means that if a user uses just defaults there will be no difference in outlier detector's behavior. After several consecutive attempts to connect, a host will be ejected. Just different statistics counter wil

[2018-09-29 20:43] cpakulski commented on #3304
@mattklein123 @alyssawilk @dnoe I have PR for this issue in "stale" mode: #4442. Can one of you review it? As I mentioned above, I think that load calculation algorithm could be improved for situations when number of healthy hosts is really low and all priority levels are in panic.

[2018-09-29 20:44] jmarantz commented on #4196
@mattklein123 yes I love that idea; and agree that's the way to go. Of course there's a long journey to get all this stuff into reviewable shape; and it would be good to understand whether this would be of sufficient impact to projects besides Istio, as they will likely disable stats regardless of how small we make them.

[2018-09-29 21:38] dio commented on #4548
Hum, seems false positive. Will investigate more.

[2018-09-30 04:35] kjanshair opened #4567 "upstream connect error or disconnect/reset before headers"
*Title*: *upstream connect error or disconnect/reset before headers*

*Description*:
I downloaded the Docker image for Envoy and simply tried to run:
`docker container run --rm -d -p 10000:10000 --name envoy envoyproxy/envoy`
I tried to visit localhost:10000 on my browser to check redirection but threw an error saying:
**upstream connect error or disconnect/reset before headers**
Also tried with `

[2018-09-30 07:08] jinuxstyle opened #4568 "prometheus fails to scrape metrics"
We are trying to use envoy native support for promethues metrics, but prometheus fails to scrape the metrics because our cluster name contains characters '@' and '=', like following:

`xlsoa.example.greeter@v=v2.2.1`

It works fine previously when using statsd exporter which replaces all the illegal characters for prometheus(https://github.com/prometheus/statsd_exporter/blob/master/exporter.go#L25

[2018-09-30 07:45] mimiasd commented on #4542
[code]
@gupash can do like this.  RBAC is a great feature. @mattklein123

[2018-09-30 11:34] htuch commented on #3643
@cpakulski SGTM

[2018-09-30 14:35] jmarantz commented on #4196
Thinking more about this; I see around 3 categories of stats:

  - data-path-critical stats that are intrinsic to the core of Envoy (e.g. those in source/common/http/codes.cc as well as overload_manager, grpc, etc.
  - data-path-critical stats that are in optional filters, including extensions, e.g. hystrix, redix, mongo
  - stats that are not used in the data-path generally. Maybe guard_dog misse

[2018-09-30 16:00] mattklein123 commented on #2456
Marking help wanted. This should be a straightforward change to add a new OC trace driver.

[2018-09-30 19:18] stevenzzzz commented on #4558
Ah, right. Sorry for the inaccurate description.

If we ever use the clusterManager.clusters() interface to get a cluster from the returned dict, it might be thread-unsafe. As the CDS operates on the clustermanager.active_clusters_ directly as well. But indeed with clusterManager.get() we have only the consistency problem.

Our use case is that a protobuf contains config data that'd be used by dif

[2018-09-30 22:32] bogdandrutu commented on #2456
@g-easy can you please take care of this?

[2018-09-30 23:27] rbkumar88 commented on #4557
Thanks that worked..Another question.while I am writing a custom filter instead of Lua..can cluster_manager.h httpAsyncClientForCluster be used to call any other cluster (which is defined-basically want to do an ext http call) apart from the one which is currently being processed by the filter. Say am calling a route(belonging to cluster A) for which a custom filter is called, inside which I want

[2018-10-01 01:24] jmarantz opened #4572 "test: order dependency on unordered_map in thread_local_store_test.cc"
*Description*: When serializing a vector from an unordered_map by iterating over it, the results are, well, unordered. But in https://github.com/envoyproxy/envoy/blob/bcc7a96d9e66bc0f70e3ed52161ec3471f835bdb/test/common/stats/thread_local_store_test.cc#L187
we have:
[code]
and similar patterns exist elsewhere in the file. This test-pattern breaks when the hash function or container changes, say, t

[2018-10-01 02:17] dio commented on #4548
There are at least to issues here:

1. The `updateDynamicHostList` is called per resolve async process, hence the `all_hosts_` is not updated properly by the `updated_hosts`.
2. The final_hosts can have duplicated hosts.

[2018-10-01 07:30] wrfly opened #4574 "[Discussion] How to convince the boss to use envoy"
**How to convince our team leader to use envoy**

*Description*:
I read envoy's docs and used it in my testing environment, it works great, but how to convince the team leader to use it? They thought envoy is new, cannot trust it, and the team needs to make extra efforts to write c++ for implementing the new features or fix bugs, but I think new features are not essentially and bugs can be fixed b

[2018-10-01 09:18] ramaraochavali commented on #4574
https://www.envoyproxy.io/ - Go through this link and search for "USED BY" that tells who all are using Envoy in production

[2018-10-01 09:39] wrfly commented on #4574
Hi @ramaraochavali , this is obvious, but the boss still cannot trust it since there is no public blogs or something like that shows that these companies use envoy

[2018-10-01 13:49] dio commented on #4574
I believe @nrshrivatsan can help to answer this 🙂.

[2018-10-01 16:13] mattklein123 commented on #4557
Yes it's possible. See other example filters. We do this in quite a few places.

[2018-10-01 16:28] nickolaev commented on #4535
After some discussions with @georgi-d we came up with the following proposal:

[code]

@mattklein123 what do you think?

[2018-10-01 17:55] sesmith177 commented on #129
@mattklein123  At this point, it looks like all the PGV related blockers have been resolved. There is one outstanding PR (https://github.com/envoyproxy/envoy/pull/4556) to bump `rules_go` and `google\protobuf` to versions that work on Windows. Once that is resolved, the only differences between our fork and the master branch will be source code changes.

Currently, the list of tests that we have p

[2018-10-01 18:17] mattklein123 commented on #129
I would try to get as many of the core integration tests passing as possible. Those are the most important to verify the Windows build likely works.

Without digging into the diff it's hard to say. The main thing I would like to avoid is a bunch of `#ifdef` statements around the code. What type of changes are we mainly talking about? Do we need more abstractions in place or can it generally be sol

[2018-10-01 18:19] mattklein123 commented on #4535
This sounds reasonable to me. How are you going to concretely determine SAME_HOST? It should work regardless of address type and platform. cc @envoyproxy/maintainers

[2018-10-01 18:35] quanjielin opened #4578 "GoogleGrpcValidationError thrown in envoy when setting ChannelCredentials to LocalCredentials"
*Description*:
below error is thrown in envoy when setting ChannelCredentials to LocalCredentials
[code]

*Repro steps*:
1. setup a gRPC server in golang(istio pilot), which constructs and distributes SDS config to envoy
2. start the gRPC server and envoy sidecars, error in above bug description is thrown in envoy, which prevents envoy updated config, error is pilot is
[code]

3. add logs in pilot

[2018-10-01 18:36] mattklein123 commented on #4558
The issue is that I don't think we should require an allocation to be performed to return a new route entry that wraps the underlying data unless the user cares about this type of consistency. So it could either be opt-in via an API, or, I suspect there is some way we can do this with TLS such that the cluster info ends up being picked up by RDS and merged into the route table in a stable way.

[2018-10-01 18:40] quanjielin commented on #4578
/cc @JimmyCYJ @htuch @qiwzhang

[2018-10-01 20:41] fredlas commented on #3674
Fixed by #4486, I believe.

[2018-10-01 20:47] htuch commented on #4558
@mattklein123 are you asking to avoid the allocation overhead here for performance reasons (e.g. don't add unnecessary overhead to the null request path as it's Envoy's data plane fast path)?

Is there an example you can think of where someone would expect the inconsistent view of ClusterInfo and be making use of it?

[2018-10-01 20:52] mattklein123 commented on #4558
Yes. I think we can satisfy this case without adding extra overhead in the basic forwarding path.

I'm not sure, but it wouldn't surprise me if there was a case of people wanting the freshest data for some reason. I agree that in general it seems fine to change this behavior, and if someone wants the freshest data they can always call directly into the CM to get it. The key is really how to latch

[2018-10-01 20:58] lizan commented on #4578
I think you're using a enovy (or istio proxy) that doesn't contain #4395, the proto built into it doesn't contain local_credentials so you see numbers in:
[code]

[2018-10-01 20:59] stevenzzzz commented on #4558
Loop in alyssawilk@.

Although I feel strongly there should be consistency of cluster config a request sees among filters' invocations, I can see the other ends as well.

Your TLS idea is inspiring, but there might be some details I am not fully clear:

It's possible to latch clusterinfo to a routeEntry when creating the routeEntries, but not for route entry with a route_specifier = "cluster_heade

[2018-10-01 21:06] fernandodiassp opened #4580 "Is it possible to do an http health check, for each member of the cluster ?"
*Description*:

In my scenario I have 200 clusters with 5 servers each (with xds).

Is there a feature that makes it possible to create an "http health check" for each server (member of a cluster), pointing to a check path (example: "/ healthcheck")?

Suggestion:
  If "endpoint.Endpoint.HealthCheckConfig" has the path of the "healthcheck" route I believe it would suffice.

Thanks for the help.

[2018-10-01 21:08] mattklein123 commented on #4558
This is actually a major problem in the sense that there is no guarantee that a cluster continue to exist between filter invocations. It's possible that you latch cluster info when the request chain starts, but if a filter pauses, the cluster might be deleted before the request chain resumes. Filters need to handle this.

Would be happy for an upstream solution but I don't think there is any easy

[2018-10-01 21:12] stevenzzzz commented on #4513
I have a proposed design doc, comments welcome.

https://docs.google.com/a/google.com/document/d/e/2PACX-1vTHbr68I2_XeAcBxgqSPls0_7I6lDRzJYnaHUDvQGIaRkL1WZ1VixA3U8KvV7hjiFPRFQimSweGDFxj/pub

[2018-10-01 21:13] quanjielin commented on #4578
thanks Lizan, I used latest istio master with proxy sha ```f49833732cab7e6f249760d1ec9d3ec19d19fe2c```, points to envoy SHA ```f49833732cab7e6f249760d1ec9d3ec19d19fe2c``` without that PR, will try to update and try.

[2018-10-01 21:13] #4578 closed

[2018-10-01 21:58] snowp commented on #4548
I think there is an issue in that the `all_hosts_` stuff was based around the idea that the entire cluster is updated at once. This holds true for EDS where the entire cluster EDS update comes at once, but not true for STRICT_DNS since it's callback based per resolve target.

I think we probably want to not use the `updated_hosts` mechanism for STRICT_EDS (since it's based around updating an entir

[2018-10-01 22:00] sesmith177 commented on #129
We agree that centralizing / removing `#ifdef` as much as possible should be a goal. I'll try to group them as much as possible below:

The first and most widespread change is that the data type for a socket on Windows is an unsigned integer as opposed to an integer on Linux. Our solution to this has been to add a header with

[code]

Then, all the code that handles socket file descriptors is upda

[2018-10-01 23:18] qiannawang commented on #4563
@mattklein123 can we take this one and start to implement the feature?

[2018-10-01 23:32] mattklein123 commented on #4196
@jmarantz I'm not sure I fully follow your last comment. We already store many/most data path critical stats in a struct which is looked up once. Are you talking about a way to also optimize the dynamic lookup cases?

[2018-10-01 23:33] mattklein123 commented on #4557
See this filter which does something similar: https://github.com/envoyproxy/envoy/tree/master/source/extensions/filters/network/client_ssl_auth

[2018-10-01 23:35] mattklein123 commented on #4563
@qiannawang what about the existing metadata? We already have an extractor for that. Do you really need any code changes here? Filters can already add abstract metadata on request info and then print it.

[2018-10-01 23:40] mattklein123 commented on #129
re: FD handle types see related work in https://github.com/envoyproxy/envoy/pull/4579 which we will need to reconcile. It might be worth it to wait until that lands and/or please chime in as you see that work evolving so that hopefully we can handle the NT case also. cc @sbelair2 @jmarantz

In general of the above changes seem reasonable to me. Can we start carving them out into small PRs? The MSV

[2018-10-02 00:28] jmarantz commented on #4196
I don't have a broad enough understanding of the stats usage patterns yet and how they relate to the data path, but what I noticed was https://github.com/envoyproxy/envoy/blob/26e2a31650fe14db7e55a3136f9ae75db667bf5c/source/common/http/codes.cc#L21

Those look like they might be data-path critical and are looked up at request-time AFAICT.

Here the stat is per-scope, and thus looked up at runtime.

[2018-10-02 01:10] AndresGuedez opened #4583 "Investigate crash introduced in #4382"
*Description*:
Code merged in https://github.com/envoyproxy/envoy/pull/4382 is causing a SEGV in source/common/network/connection_impl.cc:586.

My comment from #4581:

[2018-10-02 01:15] AndresGuedez commented on #4583
@junr03 Can you provide steps to reproduce? I just want to verify my assumptions are correct about the timing that caused this.

A comprehensive fix should be a nullptr check for _connection_stats__ in `ConnectionImpl::onDelayedCloseTimeout()` along with disabling the delayed close timer in `ConnectionImpl::closeSocket()`.

[2018-10-02 02:05] snowp commented on #4544
I can handle this, feel free to assign.

Where would it make sense to add these docs? Inline with the proto defs or on its own page? I’m not very familiar with how the docs are set up in general

[2018-10-02 03:37] rbkumar88 opened #4584 "jwt_authn filter Jwt header [alg] field value is invalid"
Hi,

I know this filter is still not released yet. But when I try to validate a JWT token with  the following  header
[code]
, it fails saying "Jwt header [alg] field value is invalid"
Is this expected, if so how to get around this.

Thanks
Bharath

[2018-10-02 06:33] tonya11en commented on #4481
I'm a bit late here, but it makes total sense that at 8 requests per second at the experiments peak, the overhead of a full scan would be trivial for 60 instances given the timescale for which each request is running.

Have you tested the results of Matt's suggestion of using more than 2 choices on your actual workload?

[2018-10-02 12:16] #4541 closed

[2018-10-02 13:40] junr03 commented on #4583
I agree with your timing comment (re: the cb being triggered while we are in deferred deletion), and with your proposal to fix.

Unfortunately this was happening in production boxes, so I don't have local repro steps.

Thanks for looking into it @AndresGuedez

[2018-10-02 15:02] stevenzzzz commented on #4513
sorry, should've create the link with a personal account. Link updated:
https://docs.google.com/document/d/1AKA_5iMSR6WZaDbjQfLFbK9maO_la_MZgVtYdD9gWtA/edit?usp=sharing

[2018-10-02 15:49] ggreenway commented on #4554
Yes, you can add custom code as a filter, either at the http or network level. I'd start with https://www.envoyproxy.io/docs/envoy/latest/extending/extending.

[2018-10-02 16:01] mattklein123 commented on #4583
@AndresGuedez per @junr03 your assessment is correct. I verified via the crashing call stack and code inspection. I agree the right fix is disabling the timer in `closeSocket()`. I would recommend creating a crashing test and then fixing the bug.

[2018-10-02 16:05] alyssawilk commented on #4558
I'd really like it if refreshCachedRoute could optionally cache cluster info, either based on config or based on a filter telling it to, so filters can snag the "consistent" info for their current route.     We have a bunch of filters already which latch the cluster info, and it's not clear to me if any thought was put into the route and cluster maybe changing mid-request and the local latched sta

[2018-10-02 16:32] ggreenway commented on #4563
Yes, I think this can be done with dynamic metadata already. See https://www.envoyproxy.io/docs/envoy/latest/configuration/access_log#config-access-log-format for how to extract the metadata into the logs, and https://github.com/envoyproxy/envoy/blob/master/include/envoy/request_info/request_info.h#L305 for how to set the metadata from a filter.

[2018-10-02 16:44] mattklein123 commented on #4558
Yeah, I think that might be the way to go. What if we just have the HCM cache cluster info at the same time, and then expose it via a filter callback? That would be a nice cleanup and allow filters to just grab cluster info via callbacks instead of fetching each time themselves?

[2018-10-02 17:14] mattklein123 commented on #4544
@snowp I would probably do the following:

- Add an overview of configurable retries here: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http_routing#retry-semantics
- Then maybe a new section on custom retry configuration plugins under here (at the same level as route matching, etc.)? https://www.envoyproxy.io/docs/envoy/latest/configuration/http_conn_man/http_conn_man

I think

[2018-10-02 17:16] mattklein123 commented on #4196
Some of those stats could likely be lifted out, but some of them are fully dynamic and based on the HTTP response code which is why they are runtime looked up.

[2018-10-02 17:18] devshorts commented on #4548
@dio its tough for me to test out a new build unfortunately,  we use a custom fork here at stripe and we pull in the main line patches as necessary. Basically its a pain in the butt for me to fire off new builds :/ . If you do need a beta tester let me know and I can go through the process to do it, but just wanted to respond and let you know I wasn't ignoring your request

[2018-10-02 17:44] nrshrivatsan commented on #4574
## Reasons to use Software LBs

- Horizontal Scalability
- Vendor Neutral
- Lowered TCO (Capex & Opex)

## Why Envoy
- C++ is excellent for Network and HTTP processing
- Envoy's [filter designs](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/network_filters) are modular and open for modification
- C++ provide performance
- Envoy's resource utilizations are frugal compared to Hardw

[2018-10-02 17:51] stevenzzzz commented on #4558
This will do. It also avoids overhead.
I can work on it if everybody happy about it.

[2018-10-02 17:52] rbkumar88 opened #4586 "Envoy filter config only at route level and not at global level"
Hi,

I could see buffer and rbac filters where we define at global level and are overridable/controllable at per route level. Are there any filters which we don't define at global level but available only at route level. In short, the filter exists/applies only for that route.

Thanks

[2018-10-02 17:52] nrshrivatsan commented on #4574
Why use Software LBs

- Horizontal scalability
- Vendor Neutrality
- Observability

Why Envoy

- C++

[2018-10-02 18:32] #4504 closed

[2018-10-02 18:59] sesmith177 commented on #129
Sure, sounds good to us. We'll definitely wait on #4579 before PR'ing any of the fd / SOCKET changes.

[2018-10-02 19:07] wrowe commented on #4409
AIUI, the root of this issue is that the test app in question in a single-threaded, single connection python script? It seems that a response including closing the connection following a "Connection: close" response from this app would return the app to a listening state, and solve the problem of a keep-alive connection. I don't believe keep-alives are compatible with having an insufficient number

[2018-10-02 19:54] kkimdev commented on #96
Traefik for example makes the acme integration very seamless.  This is all user has to do:

[code]

I think it greatly improves user experience, and it will be awesome to have a similar support in Istio.

[2018-10-02 20:07] klarose commented on #4128
I have the beginnings of a design up here: https://docs.google.com/document/d/1md08XUBfVG9FwPUZixhR3f77dFRCVGJz2359plhzXxo/edit?usp=sharing

It's probably a bit more verbose than needed, but I felt that summarising the prototype and its findings would be worthwhile.

The meat of the proposal is at the end, in the Design section. To start the discussion, I have given a high level overview of the th

[2018-10-02 21:34] lizan commented on #4584
Only `ES256` and `RS256` is supported algorithm currently. @qiwzhang I think we should explicitly document it.

@rbkumar88 are you trying to use JWT with RS512?

[2018-10-02 21:47] qiwzhang commented on #4584
Yes,  only ES256 and RS256 are supported in the current implementation.

The code is here:  https://github.com/google/jwt_verify_lib/blob/master/src/jwt.cc#L67

You are welcomed to enhance it.

[2018-10-02 21:49] tonya11en commented on #4548
@dio I'm pretty we're hitting this issue here at Lyft and I can try to test it out.

[2018-10-02 22:00] dio commented on #4548
@tonya11en much appreciated! That will be really helpful. Thank you!

[2018-10-03 00:05] tonya11en commented on #4548
@dio I was in the process of building/testing the change, but I have to revert the change that introduces this bug for now. I can see if we can introduce the issue to a subset of our fleet, but if the change looks OK to merge, I think we should just go ahead and then I can just deploy it and monitor.

Let me know if that works for you.

[2018-10-03 00:57] dio commented on #4548
@tonya11en I think that’s fine. Out of curiosity, which commit do you think introducing this bug?

[2018-10-03 01:12] tonya11en commented on #4548
Sorry, I meant I'm reverting the configuration that allows this bug to manifest. It's hard to tell exactly which commit introduces this, but my first guess is that when `b32eabfc141760ec14622a4a2a2f0ab0a741cd6c` went out:
[code]

it didn't check for duplicate entries in the envoy config introduced via something like:
[code]

But I didn't really do the necessary forensics. I'm still not sure whethe

[2018-10-03 02:05] DemantT commented on #4554
@ggreenway yes,I have found it , But an error was reported when compiling the http filter example，Have you ever met one？？

[2018-10-03 02:06] DemantT commented on #4554
@ggreenway  my err msg is
 build error no such package '@envoy_deps//': External dep build failed and referenced by '//external:tcmalloc_and_profiler'
I build it on macOS

[2018-10-03 02:34] dio commented on #4548
@tonya11en thanks! Please let me know how it goes.

Yeah, I think the assumption of getting full hosts set update vs. partial (in `STRICT_DNS` due to the async DNS resolve process) led some confusions when I implemented that. Sorry.

Basically, the aim is good: to streamline the API and let CDS to have, somehow, EDS capabilities.

[2018-10-03 02:51] snowp commented on #4548
I think we might want to follow up with figuring out how to reconcile the differences in behavior between STRICT_DNS and EDS, either by getting rid of the differences or acknowledging that they'll be different and making that clearer in code. For instance, EDS guarantees that a host only exists in one priority and will reuse the host instance (and consequently HC status etc.) when a host moves bet

[2018-10-03 03:07] wrfly commented on #4574
Thanks @nrshrivatsan

I know that Nginx can hot load some lua scripts as its sub-logic-processor, such as insert some user token(en/decode or encrypt), traffic to different endpoints by the user's token or some complex logic, I'm not sure this is right(use Nginx as a framework and the project management is quite annoying, you know, scripts...)

But is there any way for envoy to do this? By writing

[2018-10-03 03:58] rbkumar88 opened #4589 "Envoy external dependency libcrypto"
Hi,

Am trying to use the following library inside an envoy filter.
https://github.com/arun11299/cpp-jwt/tree/master

While I created a Bazel build file as follows.
[code]

The library contains a libcrypto dependency, it passes through compilation phase, but fails during linking phase with the below error.
[code]

Do I need to add anything more in the BUILD file or in some other location/bazel fil

[2018-10-03 04:40] #4390 closed

[2018-10-03 06:24] dio opened #4590 "Reconcile the differences in behavior between STRICT_DNS and EDS"
*Description*:

This is a follow-up discussion of https://github.com/envoyproxy/envoy/issues/4548 and https://github.com/envoyproxy/envoy/pull/4575.

From @snowp in https://github.com/envoyproxy/envoy/issues/4548#issuecomment-426495302: I think we might want to follow up with figuring out how to reconcile the differences in behavior between STRICT_DNS and EDS, either by getting rid of the differen

[2018-10-03 08:18] #3861 closed

[2018-10-03 10:20] nickolaev commented on #4535
@htuch Wouldn't comparing `Network::Connection`'s `localAddress()` and `remoteAddress()` be sufficient enough in this case?

[2018-10-03 16:40] snowp commented on #4590
I see two options: We could update all priorities on every STRICT_DNS update and reuse hosts with the same address, similar to how we iterate over each priority during EDS updates. Doing this STRICT_DNS would behave the same way as EDS when it comes to managing existing hosts. A consequence of this would be that each host address can only occur once in each cluster. This gets a little tricky since

[2018-10-03 17:00] #3459 closed

[2018-10-03 17:27] nrshrivatsan commented on #4574
@wrfly

- Envoy support hot-restarts [Blog link](https://blog.envoyproxy.io/envoy-hot-restart-1d16b14555b5  )
- Envoy Lua support is [in flight](https://github.com/envoyproxy/envoy/issues/3296).
- Envoy was designed to be a Programmable L7 Proxy - ground up with support for GRPC at control plane in a cloud-native-way. PDLC of SLB is so sound it has been automated : [Envoy-Operator](https://github.

[2018-10-03 19:57] bmetzdorf commented on #4462
@mattklein123 What do you think about the idea of introducing a type of version into the filter config, so that we can iterate and adapt easier in the future?

Example:

[code]

The filter could then pick the newest configuration, or we could introduce an `active_config` field that specifies which version to use:

[code]

I think it might be worthwhile to consider something along these lines, sinc

[2018-10-03 20:11] lizan commented on #96
Now we have secret discovery service ready, it should be straight forward to implement an envoy plugin in certbot.

[2018-10-03 20:18] mattklein123 commented on #4462
I think we can do this using proto namespace versions so we don't need to embed it into the proto IMO. With that said, I would still try to future proof the proto. I don't think it will be that difficult to do if we make sure that we use messages for configuration and possibly embed within a oneof. We can discuss during code review?

[2018-10-03 21:42] htuch commented on #4535
@nickolaev I'm curious if we can make this happen without any code changes today. The idea is you would have two distinct filter chains.

[2018-10-03 22:12] #4544 closed

[2018-10-03 23:36] mattklein123 commented on #3674
Yeah this is done.

[2018-10-03 23:36] #3674 closed

[2018-10-03 23:52] tonya11en commented on #4589
Looks like `BIO_f_base64` is in `openssl/bio.h`. Have you tried adding something like:
[code]

[2018-10-04 00:28] louiscryan commented on #4272
@rianhunter (Wasmjit)
@AndrewScheidecker (WAVM)
@titzer @binji (WABT & v8)

Hey WASM folks! Wondering if you'd be willing to provide your 2c about the suitability of your projects for this effort.

John Plevyak did a little tire kicking with WAVM and I've chatted a bit with Ben Smith & Ben Titzer about the roadmap for v8 and progress on a [standard embedding proposal ](https://github.com/rossberg/

[2018-10-04 00:56] rbkumar88 commented on #4589
I doubt external_deps can be used out of the "envoy_cc_library" scope, with that I have already added this external dependency in my filter's BUILD
[code]

So I can't make the cppjwt.BUILD file as envoy_cc_library,it has to be plain cc_library. Just to re-iterate, it is failing during linking phase, if I have to directly include the libcrypto.a, how to approach that. I tried adding the following i

[2018-10-04 01:12] rianhunter commented on #4272
Hey thanks for adding me. Wasmjit can be suitable for this with a couple of caveats:

1. You may need to provide your own runtime environment, Wasmjit allows for this.
2. Wasmjit currently only supports x86_64, an interpreter will be added in the not too distant future.

On the first point, I'm currently in the process of building out an emscripten-compatible runtime in Wasmjit. This essentially m

[2018-10-04 02:15] AndrewScheidecker commented on #4272
WAVM is also meant to be used in this kind of scenario where it is embedded in another application, though I think with quite different trade-offs from wasmjit. It uses libc and LLVM.

LLVM is quite heavy-weight in terms of both code size and the time it takes to translate the WebAssembly code to native code. It wouldn't make sense in a browser VM, but may be well-suited to an application that com

[2018-10-04 02:50] rianhunter commented on #4272
Wasmjit is somewhat targeted at constrained environments where all the code can be relatively easily audited, memory allocation is tight, and advanced facilities like signals aren't provided. The trade off here is that the generated code will perform worse, but not sure how much worse than say, LLVM (which is probably the high end of Wasm code generation). The upside is that we have a shot of gett

[2018-10-04 05:44] taiki45 commented on #4526
I'm planning to take this. At first, I'll make a design proposal for URL mapping and request paramter encoding.

[2018-10-04 15:42] #4548 closed

[2018-10-04 15:45] #4583 closed

[2018-10-04 16:02] curiouserrandy commented on #4547
As per offline conversation, I think it's worthwhile thinking about this at the connection level as well.

[2018-10-04 18:05] mitar commented on #3356
Hm, I just found this and I would like this as well inside Docker container so that I can configure through environment variable to where a container should connect.

[2018-10-04 18:15] binji commented on #4272
cc @sunfishcode and @lukewagner for more info about WebAssembly/reference-sysroot.

it would save recompiling on every node.

Depending on how far you'd want to push this, there is also the possibility of using tools like [wasm2c](https://github.com/WebAssembly/wabt/tree/master/wasm2c).

[2018-10-04 18:27] sunfishcode commented on #4272
The reference-sysroot project is meant as a first step in that direction. It doesn't yet specify any syscalls, but these are the kinds of discussions it's aiming to support.

[2018-10-04 19:59] qiannawang opened #4599 "Envoy http filters have the *same* order in decode and encode methods"
**Issue Template**

*Title*:  Request and response go through the same http filter order in the chain

*Description*:
We've found that, in the http filter chain, the request and response (to and from the upstream end point) go through the same filter order.

Filters are added to decode and encode in the same order: https://github.com/envoyproxy/envoy/blob/b90fd4bd470e2c48c3f3c6614835bb001cc6b230/s

[2018-10-04 20:01] rbkumar88 commented on #4584
Sure thanks for the help. Is this filter configurable(enable/disable) or overrideable at route level like buffer filter?

[2018-10-04 20:02] stevenzzzz commented on #4599
this is surprising and yet true.
I think the straightforward solution is when adding to encode_filters_, use moveIntoList instead of moveIntoListLast().

[2018-10-04 20:04] rianhunter commented on #4272
@sunfishcode Can we move this discussion somewhere else? I have a few comments I'd like to make on a potential design. Also maybe worth pulling in the relevant people from emscripten? Not sure if @kripken is the one who designed the emscripten interface.

[2018-10-04 20:08] sunfishcode commented on #4272
@rianhunter Sure, we can open an issue [here](https://github.com/WebAssembly/reference-sysroot/issues).

[2018-10-04 21:10] qiwzhang commented on #4584
Currently it doesn't take config from route table.   But its requirement is based on the RouteMatch:

https://github.com/envoyproxy/envoy/blob/d101ae7decfdae148f53ea9d2220444c726dfbfd/api/envoy/config/filter/http/jwt_authn/v2alpha/config.proto#L309

[2018-10-04 21:34] mattklein123 commented on #4599
This is an unfortunate oversight that I'm kicking myself for right now. Oops! :cry:

The code fix itself is easy, and I agree should be done. The problem here is whether anyone is depending on this odd behavior. I suspect not since no one has complained about it before, but I think we probably have to make this behavior opt-in with some type of deprecation period in which we would do the switch. T

[2018-10-04 21:54] qiannawang commented on #4599
I would like to contribute to the fix. Opt-in feature sounds a better solution for me because:
1) it can avoid to break anyone;
2) it help a faster release.

What do you think?

[2018-10-04 21:56] mattklein123 commented on #4599
Yes I think that's the way to go. I think it should be straightforward. The only tests I can think of that might break are the conn_manager_impl multiple filter tests, but you will need to add some new tests anyway.

[2018-10-04 22:06] htuch commented on #4599
@mattklein123 would a HCM filter config field to control behavior make sense, with eventual deprecation? I think we want to have folks experience the correct behavior by default as soon as is reasonable.

[2018-10-04 22:07] mattklein123 commented on #4599
Yeah that's what I suggested above.

[2018-10-04 22:08] htuch commented on #4599
@mattklein123 just wanted to validate we're talking about filter config vs. CLI.

[2018-10-04 22:13] mattklein123 commented on #4599
Oh yes I meant config, not CLI.

[2018-10-04 22:28] mattklein123 opened #4602 "Investigate worker connection accept balance"
See relevant envoy-dev thread: https://groups.google.com/forum/#!topic/envoy-dev/33QvlXyBinw

Some potential work here:
- Performance profile different application loads against Envoy running on different numbers of cores.
- Per worker CPU pinning.
- Adding EPOLLEXCLUSIVE and EPOLLROUNDROBIN support to libevent and consume them in Envoy
- Adding per worker stats for connection load, accept rate, e

[2018-10-04 22:28] mattklein123 commented on #4602
cc @tonya11en

[2018-10-04 22:45] tonya11en commented on #4602
This can be broken out into a bunch of different tasks, so we can probably have multiple assignees here. I'll volunteer myself to be the first.

An important first step will be to get per-worker stats, so that's where I'll begin working. From there we'll have a basis to begin a more thorough investigation into the performance impact of the items above.

[2018-10-04 23:21] mattklein123 opened #4605 "[v1.8.0 (Oct 4, 2018) deprecation] Remove features marked deprecated in #3675"
#3675 ( ratelimit: add support for data-plane-api proto) introduced a deprecation notice for v1.8.0 (Oct 4, 2018). This issue tracks source code cleanup.

[2018-10-04 23:21] mattklein123 opened #4606 "[v1.8.0 (Oct 4, 2018) deprecation] Remove features marked deprecated in #3690"
#3690 (release: creating 1.8 dev branch and placeholder docs) introduced a deprecation notice for v1.8.0 (Oct 4, 2018). This issue tracks source code cleanup.

[2018-10-04 23:27] tonya11en opened #4607 "routes: RouteMatch runtime keys do not take effect after snapshot updates"
*Description*:
RouteMatch runtime keys are frozen to the values calculated in the RouteEntryImplBase constructor due to:
https://github.com/envoyproxy/envoy/commit/bcc7a96d9e66bc0f70e3ed52161ec3471f835bdb#diff-e1ba5ba2b98b12e1bd4aaa74e9b61a80R352

Since `loader_.snapshot().featureEnabled` is not being called, the value is frozen once the object is created. The impact here is that a user will have

[2018-10-04 23:27] tonya11en commented on #4607
I'll be submitting a PR to fix this shortly.

CC @danielhochman

[2018-10-05 00:01] mattklein123 commented on #4272
All, one high level question from me: Does WASM support coroutines? IMO this is what makes the Lua support so amazing from and and user standpoint. Mainly curious if we can replicate this programming simplicity in WASM or if the WASM plugins will need to follow the standard Envoy async filter API model.

In terms of arch support, x86_64 is highest priority, but demand for ARM will increase steadil

[2018-10-05 00:18] aa-stripe commented on #2692
Hi @htuch and others, just wanted to outline my basic approach to JSON logging here, and get any thoughts or comments from folks. I propose the following:

1. Currently, in [`config.accesslog.v2.FileAccessLog`](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/accesslog/v2/file.proto#envoy-api-msg-config-accesslog-v2-fileaccesslog), we allow you to specify a `format` key, in which you can

[2018-10-05 00:19] tonya11en commented on #4607
@htuch we had discussed representing the fractional percent runtime value as a JSON/YAML string in https://github.com/envoyproxy/envoy/pull/4217#discussion_r214192442.

My concern with continuing to do that for this fix is that we'll have to parse the string into a protobuf before calculating if the feature is enabled for every route match. See what's happening in:
https://github.com/envoyproxy/en

[2018-10-05 00:29] rickeyski opened #4608 "Shasum not found when building on linux"
#4594 breaks non osx builds

I tried to do a clean build of master on amazon linux and build fails being unable to build dependencies because shasum is not found

Command:
[code]

Ouput:
[code]

after running
[code]

the build completes successfully

Letting osx users alias sha256sum='shasum -a 256' seems to be much more portable than relying solely on shasum. Please let me know if I am missing so

[2018-10-05 00:30] mattklein123 commented on #4608
@lizan

[2018-10-05 00:37] #4500 closed

[2018-10-05 00:52] binji commented on #4272
Not yet, but there have been [plans to add it for a while](https://github.com/WebAssembly/design/blob/master/FutureFeatures.md#coroutines), and [some ideas](https://github.com/WebAssembly/exception-handling/blob/master/proposals/Level-1%2BN.md#example-coroutines) how it might work.

Golang wasm implements their coroutines by wrapping the functions in a `switch(basic_block)` construct, and providin

[2018-10-05 01:08] dio commented on #4272
What is the blessed way of letting .wasm access host's APIs (envoy will be the host)? Host bindings (https://github.com/WebAssembly/design/issues/1148)?

[2018-10-05 01:14] dio commented on #4608
IIRC, sha256sum for osx is in coreutils (/usr/local/opt/coreutils/libexec/gnubin/sha256sum) it is one of the requirements to be installed as listed in: https://github.com/envoyproxy/envoy/blob/master/bazel/README.md#quick-start-bazel-build-for-developers.

[2018-10-05 01:40] jmarantz commented on #4572
this can be closed.

[2018-10-05 01:58] moderation commented on #4608
That is what we (my PR with help from @zuercher) relied on when we added https://github.com/envoyproxy/envoy/pull/4594/files#diff-9edaf9e02ff4feba62dd04460bd3a6eeL5. This was still working for me in 10.14. it seems like the move to `shasum` is causing the issue on some Linux distros.

[2018-10-05 04:56] binji commented on #4272
@dio: currently it depends on how you embed the wasm VM in your application. That said, we have discussed creating a C/C++ embedding API to standardize this. You can see the current work-in-progress at [rossberg/wasm-c-api](https://github.com/rossberg/wasm-c-api/), though AFAIK it only supports v8 at the moment.

[2018-10-05 06:35] lizan commented on #4608
Hmm I thought shasum with -a works both mac and Linux but seems only ubuntu has it by default. Let me revert that part and comes with better solution. a PR will be out soon.

[2018-10-05 09:46] ashwinphatak opened #4613 "Accessing request headers in envoy_on_response (lua HTTP filter)."
I'm trying to use a [lua HTTP filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/lua_filter) to set a response header whose value depends on a request header.

As a simple example, suppose we want to copy a header from the request to the response. How can we do this using a lua filter?

Maybe we can store the request header in a "global" table during `envoy_on_request`

[2018-10-05 12:42] curiouserrandy commented on #4599
Have we looked at this behavior for network (L4) filters?  Glancing at the code without experience, it seems like the same problem (both read and write filters put on the end of the chain, both executed in start-to-end order.)

[2018-10-05 13:11] fernandodiassp opened #4614 "134/5000 Do you intend to add the member health check configuration per cluster using route, for example: "/ health"?"
I really like envoy, but I think the lack of http check per member of the cluster makes a lot of people keep using haproxy.

[2018-10-05 14:30] georgi-d commented on #4535
@htuch I have though about the separate listener option but it does not cover the same use case. We want to cover the case where the client makes a DNS request and gets the IP of the endpoint it needs to connect to. The IP it gets is the public address of the host and we need to catch this case. It is not possible to modify the DNS record to return localhost address and it would not be correct.

[2018-10-05 14:57] snowp commented on #4614
Envoy supports HTTP health checking: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/health_checking

[2018-10-05 16:13] ggreenway commented on #2692
Another idea to think about. (I'm not claiming it's necessarily better, just different).

Add a config for escape-type, default value of None. If you set it to Json, then all replacement strings get json-escaping applied. The structure of the json is written in the existing format string. This would have the downside of having to explicitly format the json in the config, but the upside of more con

[2018-10-05 16:22] #4608 closed

[2018-10-05 16:25] #4572 closed, assigned to nobody

[2018-10-05 16:28] fernandodiassp commented on #4614
I know the envoy has health check, but in my case the check has to check every member of the cluster.
Currently the envoy allows me to register only one host (check url) for cluster checking.
In my case I have 1 cluster with 5 servers.
The http check should be for each of these servers, automatically removing them from the cluster if they are not healthy.

If it were on Haproxy it would be:

liste

[2018-10-05 16:29] mattklein123 commented on #4614
@fernandodiassp what you are describing is how Envoy works. Please take a look at the docs again.

[2018-10-05 17:00] mattklein123 commented on #2692
This is actually the solution I was envisioning, so +1 from me.

[2018-10-05 17:10] aa-stripe commented on #2692
Thanks for your comment @ggreenway @mattklein123. I did consider this approach, but went against it for two reasons:

1. I imagine the primary use case for this being parsing the logs into some further downstream service (like Splunk) for aggregation and searching. In that case the specific formatting wouldn't matter, rather it would matter that the JSON is well formatted. If you are manually pars

[2018-10-05 17:19] mattklein123 commented on #2692
OK, that's a fair point. Can you potentially propose the config changes so that we can review/discuss?

[2018-10-05 17:31] georgi-d commented on #4535
@htuch  There is one more reason a separate listener cannot be used. It is not possible to have one listener on localhost:80 and another listener on all other interfaces :80

[2018-10-05 17:33] mattklein123 opened #4616 "[v1.8.0 (Oct 4, 2018) deprecation] Remove features marked deprecated in #3838"
#3838 (add response/request header options at route level) introduced a deprecation notice for v1.8.0 (Oct 4, 2018). This issue tracks source code cleanup.

[2018-10-05 17:33] mattklein123 opened #4617 "[v1.8.0 (Oct 4, 2018) deprecation] turn down v1 API"
#3847 (config: making v2-config-only a boolean flag) introduced a deprecation notice for v1.8.0 (Oct 4, 2018). This issue tracks source code cleanup.

[2018-10-05 17:33] mattklein123 opened #4618 "[v1.8.0 (Oct 4, 2018) deprecation] Remove features marked deprecated in #3864"
#3864 (upstream: implement Cluster's load_assignment field) introduced a deprecation notice for v1.8.0 (Oct 4, 2018). This issue tracks source code cleanup.

[2018-10-05 17:33] mattklein123 opened #4619 "[v1.8.0 (Oct 4, 2018) deprecation] Remove deprecated old style websockets"
#3867 (websocket: deprecating old style websocket) introduced a deprecation notice for v1.8.0 (Oct 4, 2018). This issue tracks source code cleanup.

[2018-10-05 17:33] mattklein123 opened #4620 "[v1.8.0 (Oct 4, 2018) deprecation] Remove features marked deprecated in #3978"
#3978 (fault: use FractionalPercent for percent) introduced a deprecation notice for v1.8.0 (Oct 4, 2018). This issue tracks source code cleanup.

[2018-10-05 17:33] mattklein123 opened #4621 "[v1.8.0 (Oct 4, 2018) deprecation] Remove features marked deprecated in #4250"
#4250 (rbac: update the authenticated.user to a StringMatcher.) introduced a deprecation notice for v1.8.0 (Oct 4, 2018). This issue tracks source code cleanup.

[2018-10-05 17:33] mattklein123 opened #4622 "[v1.8.0 (Oct 4, 2018) deprecation] Remove features marked deprecated in #4487"
#4487 (Highlight deprecation of *.deprecated_v1 fields in notice) introduced a deprecation notice for v1.8.0 (Oct 4, 2018). This issue tracks source code cleanup.

[2018-10-05 17:33] mattklein123 opened #4623 "[v1.8.0 (Oct 4, 2018) deprecation] Remove features marked deprecated in #4560"
#4560 (route match: Add runtime_fraction field for more granular routing) introduced a deprecation notice for v1.8.0 (Oct 4, 2018). This issue tracks source code cleanup.

[2018-10-05 17:34] mattklein123 commented on #4606
This is not a real deprecation. Closing.

[2018-10-05 17:34] #4606 closed

[2018-10-05 17:35] mattklein123 commented on #373
@eziskind should we close this issue as complete and track further work in new issues? I think the main feature is done?

[2018-10-05 18:20] aa-stripe commented on #2692
Sure! I'm happy to do that. I am working on getting a full example config set up, but the relevant section would look like this:

[code]

For this example I borrowed this snippet from another github issue (3185) where someone posted a simple config. I will follow up with a more fleshed out config when I have it ready, but hopefully this is a good start for discussion.

[2018-10-05 18:28] mattklein123 commented on #2692
Sorry I meant the actual API config changes in the protos.

[2018-10-05 18:29] fernandodiassp commented on #4614
632/5000
Hello Matt, what I found in the closest documentation would be

"**http_health_check**" in the "https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/health_check.proto#envoy-api-msg-core-healthcheck-httphealthcheck" link.

But in the documentation itself says that if you do not inform a "host" it will consider the name of the cluster (informing only one host does not solve my pr

[2018-10-05 18:39] yangminzhu commented on #4621
@mattklein123
The old field is actually removed completely in #4250 so there is no source code to clean now.
I think the statement in `DEPRECATED.md` is not very accurate (sorry about this), should we update the `DEPRECATED.md` to reflect it's already removed?

[2018-10-05 18:45] eziskind commented on #373
@mattklein123 I'm working on overload action to stop accepting new network connections, mentioned in [this comment](https://github.com/envoyproxy/envoy/issues/373#issuecomment-376225147). After that I think we can call this done.

[2018-10-05 18:55] mattklein123 commented on #4621
It's fine, we can just close this. Thank you for following up!

[2018-10-05 18:55] #4621 closed

[2018-10-05 19:00] TylerZale opened #4624 "Feature Request: Notify gRPC service of downstream response codes - Useful for multi-tenant Rate Limiting and Concurrency Limits"
Background:

We would like to use envoy + a custom gRPC rate limiting service to replace our existing custom proxy stack.

We service requests in a mutli-tenant manner and require custom global rate limits (per tenant) and global concurrency limits (per tenant).

We are also required to omit error response codes from our rate limits. (Cannot be determined by proxy prior to downstream response).

C

[2018-10-05 19:12] htuch commented on #4607
Yeah, we don't need to change this. I think that the lack of atomicity here isn't as serious - it probably only happens over a short window if doing automated update and so won't affect that much traffic.

[2018-10-05 19:12] aa-stripe commented on #2692
Ah gotcha. That looks like this:

[code]

[2018-10-05 19:13] aa-stripe commented on #2692
(It has to be a separate message type because you can't have a `map` directly in a `oneof`)

[2018-10-05 19:53] htuch commented on #4535
@georgi-d sorry, I wasn't clear. The idea is that we have one listener but multiple filter chains. Each filter chain matches on distinct source IP criteria in its FilterChainMatch (e.g. local vs. non-local).

[2018-10-05 19:58] htuch commented on #2692
@aa-stripe will you ever need nesting, or is flat likely be sufficient for all use cases?

[2018-10-05 20:05] aa-stripe commented on #2692
@htuch I think for now, a flat format is sufficient. I think we can wait until there's a clear need for a more nested format. If that need arises in the future, the code is compartmentalized enough such that this will be a small, contained change. I am happy to advise and/or be a part of that in the future.

[2018-10-05 20:09] aa-stripe commented on #2692
Such a change in the future would also be backwards compatible, since a flat dict is just a subset of a more nested dict.

[2018-10-05 20:21] snowp opened #4628 "gRPC requests and per try timeout"
From reading the source, it seems like when `max_grpc_timeout` is set we use `grpc-timeout` as the global timeout, but if we additionally specify a `per_retry_timeout` then the upstream will see the global timeout as `grpc-timeout` even though Envoy will reset the stream after the per try timeout has been reached.

If I'm understanding this correctly, then it seems to me like `grpc-timeout` should

[2018-10-05 20:36] rshriram commented on #4515
@venilnoronha says he wants to take a crack at this.

[2018-10-05 20:40] htuch commented on #2692
@aa-stripe yep, it would be log compatible for sure. I think you would want to evolve `FileAccessLogJsonFormat` to be a `google.protobuf.Struct` rather than a simple map. You could even do that today and just say "only flat formats are supported for now", rejecting anything nested at config ingestion time.

[2018-10-05 21:02] mattklein123 commented on #2692
+1. Let's future proof for nesting in the config even if we reject nesting right now during config load.

[2018-10-05 21:04] aa-stripe commented on #2692
I agree with this. I can change it to be a struct, and then validate at load time that it is a map of strings to strings, and throw an exception if otherwise.

[2018-10-05 21:07] jvshahid commented on #4409
I think this is orthogonal to the issue reported here, I honestly don't know whether the application closes the connection after sending back a response or not. The issue that we originally reported on slack (and didn't do a good job explaining in this github issue) is a result of the following steps:

1. CF tcp healthcheck checking the envoy port (The tcp healthcheck only checks that something is

[2018-10-05 21:13] yangminzhu commented on #4515
@rshriram @venilnoronha
Are you planning to add this as a first-class field in [Permission rule](https://github.com/envoyproxy/envoy/blob/4d149e6d1550694ab2cc44aa6d97b7294286aaf7/api/envoy/config/rbac/v2alpha/rbac.proto#L99) and the RBAC filter finds out the SNI from the connection (or somewhere else, I'm not familiar about this part)?

[2018-10-05 22:47] jmarantz commented on #4196
Crazy impractical idea Matt -- could response-code stats be histograms? I'm not sure that would save any memory or be analogous to a latency-histogram or have any other real benefit :)  But it seems unexpected to me to have a large potential space of stat names whose existence depends on traffic. Moreover, if you could enumerate all possible stat names for a configuration up front, and pre-allocat

[2018-10-05 22:52] snowp commented on #4628
Not quite, what I'm saying is that if you send a gRPC request like this:

[code]

then with the following HCM config:

[code]

you end up setting `grpc-timeout` much higher than the actual timeout imposed by Envoy:

[code]

This means that an upstream gRPC server would look at it's gRPC timeout and think that it has 5 seconds to complete the request even though Envoy will fail the request with a t

[2018-10-05 23:04] mattklein123 commented on #4196
Maybe. TBH these are some of the most useful stats that Envoy provides and I think many users would be upset to see them change. Note that there is already a config option to turn them off in ultra high perf scenarios in which people don't care about them.

[2018-10-05 23:07] quanjielin opened #4630 "plugin call credentials is supported by default today ?"
*Description*:
In one our user case, we want to set gRPC call credential from some file content(the file is in envoy container). My question is there any extra work needs to be done to make plugin call credentials work ? Or it should work by default with correct configuration (and how to) ?

From code, comment inside function [callCredentials](https://github.com/envoyproxy/envoy/blob/master/source

[2018-10-05 23:07] quanjielin commented on #4630
/cc @qiwzhang @lizan @htuch

[2018-10-05 23:08] mattklein123 commented on #4628
Ah, yes. I see. Yes that clearly seems like a bug. Switching the label over. Do you want to fix?

[2018-10-05 23:10] #4620 closed

[2018-10-05 23:31] snowp commented on #4628
Yeah I’ll take it

On Fri, Oct 5, 2018 at 7:08 PM Matt Klein <notifications@github.com> wrote:

[2018-10-05 23:31] yegoratpinterest opened #4631 "SIGUSR1 only reopens access log"
*Title*: SIGUSR1 only reopens access log

*Description*:

*Repro Steps*

[2018-10-06 00:00] aa-stripe commented on #2692
I've got a working example of a config and some output that results from this change. I just used the 'proxy localhost:10000 to google.com' example from the envoy docs:

Config:
[code]

Output in `/tmp/envoy.log`:
[code]
This is pretty much what we have discussed so far, except there's the small annoyance of that `mapping` key under `json_format`, because of the `FileAccessLogJsonFormat`. I'm hopi

[2018-10-06 00:34] jasonmartens commented on #4543
I have just experienced a very similar situation to this. Our proxy was deployed in an environment experiencing a lot of DNS failures, and at some point all DNS lookups just stopped working. We fixed the DNS issue, but the envoy instances never recovered and we had to kill them and restart. The new instances worked just fine.

We also had logs similar to the above:
[code]
It seems like after some

[2018-10-06 00:41] jasonmartens commented on #4543
Looking a little more, the sequence of events in our situation is:
1. DNS starts failing, we don't notice because Envoy keeps the hosts in the cluster.
2. Active health checks fail on those clusters, gradually all hosts are removed from the clusters.
3. Some time later (maybe an hour?) the DNS issues are fixed, but even though manual lookups are working on the Envoy host, the `DNS request timed ou

[2018-10-06 02:04] dio commented on #4543
@jasonmartens, sorry, are you testing on master now?

[2018-10-06 02:29] dio commented on #2692
@aa-stripe I think that makes sense. I think, in regard to checking for not accepting nested for now, with struct you can iterate and try to check if the kind of value each pair is a string.

[2018-10-06 12:09] ramaraochavali commented on #1606
@bplotnick I have added `x-envoy-original-dst-host` exactly as a replacement for dtab overrides in linkerd .However, in our case fortunately we know the IP address. So limited it to use IPs. Before that we were experimenting by adding a cluster dynamically on the request path with the host that request needs to be routed to, which is some what complicated. Here is the partial PR https://github.com

[2018-10-06 13:06] georgi-d commented on #4535
@htuch Having multiple filter chains based on the source address would also work. I like the idea so if it is the preffered solution by the rest of the team I am fine with switching to it.

[2018-10-06 20:51] #4290 closed

[2018-10-07 07:50] georgi-d commented on #4535
@htuch After some more looking the source network functionality  is already there in `FilterChainMatch`. We only need to add the SameHost functionality.

[2018-10-07 09:16] georgi-d commented on #4535
I also see that the functionality has not been implemented

[code]

Since it has: `[#not-implemented-hide:]` and I do not see this parameter being used anywhere in the code

[2018-10-07 15:08] #4195 closed

[2018-10-07 20:27] mattklein123 commented on #4535
@georgi-d yeah would be great to get that implemented, it should be very straightforward. cc @PiotrSikora who might already be planning on implementing it. I'm not sure. (He has done the rest of the matching work in that area).

[2018-10-07 20:28] mattklein123 commented on #4132
Will switch this to help wanted since I do think adding initial health checking jitter makes sense, though the implementation definitely needs some thinking.

[2018-10-07 20:29] mattklein123 commented on #2692
@aa-stripe yeah LGTM in general. I think we can cover the rest in normal PR review. Thank you!

[2018-10-07 20:34] mattklein123 commented on #4631
@yegoratpinterest sorry I'm not sure what you are asking here. Do you mean that Envoy should also try to reopen the application log file when it gets SIGUSR1? If so that makes sense I'm just trying to make sure I understand.

[2018-10-08 01:34] rosenhouse commented on #4409
I've been playing with this issue [in this repo](https://github.com/rosenhouse/envoy-too-many-connections).

When the Envoy listener is configured to terminate TLS, then I see lingering ESTABLISHED connections from Envoy to upstream and the occasional slow request.  However when the listener is not doing TLS termination, then everything seems fine.

I didn't see this TLS bit mentioned anywhere els

[2018-10-08 02:08] #4301 closed

[2018-10-08 05:27] yegoratpinterest commented on #4631
Sorry for the confusion @mattklein123 . You are correct, Envoy should reopen the application log on SIGUSR1.
I can make the change if you guys up to it.

[2018-10-08 05:31] qiwzhang commented on #4630
@quanjielin could you add following line into your google_grpc config

credentials_factory_name: envoy.grpc_credentials.file_based_metadata

it should be at the same level as targer_uri

[2018-10-08 06:19] lizan opened #4635 "tls: refactor tls tests"
*Description*:
From #4566 review:
- [ ] use v2 config
- [ ] use `bssl::UniquePtr` wherever possible
- [ ] read from file using `TestEnvironment::readFileToStringForTest`
- [ ] extract cert / private key read to a function

[2018-10-08 13:30] taion809 opened #4637 "ext-authz cannot be used with DNS."
**Issue Template**

*Title*: *ext-authz cannot be used with DNS.*

*Description*:

*Repro steps*:
  - Statically configure a cluster for accepting ext-authz traffic.  This cluster must use DNS as its cluster type.
  - Configure any routes (ex: "foo.local", "bar.local")
  - send requests to "foo.local".  Requests intended for auth.local will instead be routed to `foo.local`.

*Config*:
[code]

[2018-10-08 13:42] githubYasser opened #4638 "Front-Envoy example not working anymore"
**Bug Template**

*Title*: *Front-Envoy example is not working anymore*

*Description*:

*Logs*:

Creating network "front-proxy_envoymesh" with the default driver
Creating front-proxy_service1_1    ... done
Creating front-proxy_service2_1    ... done
Creating front-proxy_front-envoy_1 ... done
Attaching to front-proxy_service1_1, front-proxy_service2_1, front-proxy_front-envoy_1
service1_1     | [

[2018-10-08 15:55] ggreenway commented on #4631
If envoy is logging to a file (set by CLI option), it will already re-open on SIGUSR1. If envoy is logging to /dev/stderr (the default), I don't know if there's a way to re-open; I'm unfamiliar with that bit of unix.  See `--log-path` on https://www.envoyproxy.io/docs/envoy/latest/operations/cli.

[2018-10-08 16:16] mattklein123 commented on #4631
Yeah if we are already opening --log-path on SIGUSR1 it seems like that is what we should be doing? As @ggreenway says I'm not sure it's possible to reopen stderr or if it makes sense to do so?

[2018-10-08 16:30] huxiaobabaer opened #4640 "How to run multi envoy process on one linux server"
*Title*: *One line description*
How to run multi envoy process on one linux server

*Description*:
I am not using docker container.
I have the need to want to start two envoy processes on one linux server.

Steps:
1) create two folder on a centos server
/root/envoy1 and /root/envoy2
2) scp envoy binary (built on centos7) to the server under /root/envoy1 and /root/envoy2
3) Prepare config.yaml file

[2018-10-08 16:36] moderation commented on #4640
@huxiaobabaer from `envoy --help`. Works well and I run multiple Envoy's on a single host.

[code]

[2018-10-08 16:43] huxiaobabaer commented on #4640
@moderation What is the default value of base id if not specified? TKS

[2018-10-08 16:52] moderation commented on #4640
I don't believe there is a default. I start with 0 and count up from there.From 0 to 4294967295 works.

[2018-10-08 16:59] quanjielin commented on #4630
after adding that, envoy failed in validation step(validate against real k8s sa jwt token)
[code]

[2018-10-08 16:59] huxiaobabaer commented on #4640
Thank you very much for your help!!! @moderation

[2018-10-08 17:10] mattklein123 commented on #4543
It sounds like there might be a bug here in how we are interacting with c-ares but I'm not sure. I would definitely try on current master and see if we can come up with a repro.

[2018-10-08 17:20] flands opened #4642 "Span incorrectly marked as child of"
**Bug Template**

*Title*: *One line description*

Span being marked as a child of a service it is not a child of (should be peers)

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

We have enabled tracing in an Ambassador instance that has authentication enabled. In this configuration, Ambassador requires that *all* calls go through the authen

[2018-10-08 17:37] yegoratpinterest commented on #4631
Sorry, my bad.
Please close this ticket.

[2018-10-08 17:37] #4631 closed

[2018-10-08 17:58] mattklein123 opened #4643 "use new cached clusterInfo() in built-in filters"
Tracking follow up from https://github.com/envoyproxy/envoy/pull/4600

[2018-10-08 18:00] mattklein123 commented on #4642
@flands is this Zipkin? cc @objectiser

[2018-10-08 18:03] rosenhouse commented on #4409
@zuercher are you still planning to work on this issue?  It is blocking us, and we're considering trying to tackle it... but we haven't made any contributions to Envoy before, and aren't sure quite where to start.

[2018-10-08 18:43] #4628 closed

[2018-10-08 18:44] #4337 closed

[2018-10-08 18:46] gsagula commented on #4637
@taion809 The ext-authz filter does not use host header for routing requests. It passes the attributes in the HTTP request to the authorization server. See check request: https://www.envoyproxy.io/docs/envoy/latest/configuration/network_filters/ext_authz_filter.html?highlight=authz%20filter

[2018-10-08 19:33] aa-stripe commented on #2692
Great! I am moving forward with prepping the code for review.

[2018-10-08 21:30] #4210 closed

[2018-10-08 23:58] venilnoronha commented on #4515
@yangminzhu yes, that's right.

[2018-10-09 00:54] aa-stripe commented on #2692
Fyi, switching to a protobuf struct removed the need for that intermediate `mapping` key.

[2018-10-09 01:10] htuch commented on #4535
@georgi-d if that can work with you it seems this is ideal, as we then avoid implementing the functionality again in the route table. I agree with @mattklein123 that given the CIDR match support for destination VIPs, this should not be much work to do.

[2018-10-09 01:39] lizan commented on #4635
@ramaraochavali do you want to take this?

[2018-10-09 03:52] ramaraochavali commented on #4635
@lizan Yes. Please assign it to me

[2018-10-09 04:10] qiannawang commented on #4599
is FilterManagerImpl::addWriteFilter the place adding the write filters to the network filter chain?

https://github.com/envoyproxy/envoy/blob/fdfa5bde3343372ad662a830da0bdc3aea806f4d/source/common/network/filter_manager_impl.cc#L14

I believe the change is to replace  emplace_back with emplace_front when adding the write filters.

[2018-10-09 04:34] dio commented on #4543
@ramaraochavali got it, I'll take a look at it.

[2018-10-09 06:22] jcurlier opened #4648 "Intermittent 503 error upstream connect error or disconnect/reset before headers"
*Description*:

I am using kubeflow (https://github.com/kubeflow/kubeflow) which uses envoy at its proxy on Kubernetes (following the documentation for the GKE installation). When making a request through envoy, sometimes the request is successful, sometimes it fails with `503` `upstream connect error or disconnect/reset before headers` . The tracing log shows the error:  `delayed connection error

[2018-10-09 10:08] objectiser commented on #4642
Not sure how this would be possible, unless somehow the `ambassador-auth-service` was creating a span and then passing back the trace context which was then used to create the subsequent child span.

Is it possible to get the envoy proxy configuration, and a copy of the trace instance json?

[2018-10-09 10:13] georgi-d commented on #4535
@htuch I will look into implementing the SAME_HOST functionality first since it is the feature I am blocked on. Will post a draft change when I have something working.

[2018-10-09 13:13] githubYasser opened #4651 "jwt-authn exception"
**Issue Template**

*Title*: *jwt-authn exception*

*Description*:

[critical][main] source/server/server.cc:80] error initializing configuration '/etc/front-envoy.yaml': Didn't find a registered implementation for name: 'envoy.jwt_authn'

*config*:
[code]

Am i using the wrong name ?

thanks

[2018-10-09 13:37] perlun commented on #1109
For people reading this who might be unfamiliar with logrotate, it's configuration files are kept in `/etc/logrotate.d` on a typical Debian/Ubuntu machine. `man logrotate` will give you some more information about how it works, including an example rotate config you can use as template for building your own, personalized configuration.

[2018-10-09 14:14] skyrocknroll opened #4654 "Not able to make x-envoy-upstream-rq-timeout-ms if we have both egress and ingress envoy in service mesh"
**Issue Template**

*Title*: *Not able to make  x-envoy-upstream-rq-timeout-ms if we have both egress and ingress envoy in service mesh*

*Description*:
We are facing the exact same issue  discussed in this thread. https://groups.google.com/forum/#!topic/envoy-users/lf2up8V2Cn8

is it possible to provide an flag so that the egress envoy does not strip the ` x-envoy-upstream-rq-timeout-ms` and ingr

[2018-10-09 16:04] qiwzhang commented on #4651
It should be:  envoy.filters.http.jwt_authn

[2018-10-09 16:15] rbkumar88 commented on #4557
Can I create a "network" filter like client ssl auth and parse the response from RestApiMatcher and set it in some object and use it on a custom "http" filter. Is that possible, if so, do we have any examples already.

[2018-10-09 16:21] enzoferrari commented on #4557
U think? U from?

On Oct 10, 2018 00:15, "Bharath Kumar Ramasubramanian" <
notifications@github.com> wrote:

[2018-10-09 16:29] githubYasser commented on #4651
thank you , working now.

[2018-10-09 16:29] #4651 closed

[2018-10-09 16:34] mattklein123 commented on #4599
@qiannawang yes that's right.

[2018-10-09 16:49] TylerZale opened #4656 "Feature Request: Pass request url to gRPC rate limit service"
Background
===

We would like to be able to do rate limiting logic based on the request url inside the custom gRPC service.

The Feature Request
===

Create a new route.RateLimit.Action [https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#envoy-api-msg-route-ratelimit]

to pass the request url to the gRPC service.

[2018-10-09 17:01] zuercher commented on #4409
I intended to tackle this at some point. I'll try to take a look at it today.

[2018-10-09 18:20] mattklein123 opened #4657 "docs: version history linting"
https://github.com/envoyproxy/envoy/blob/master/docs/root/intro/version_history.rst

Modify check/fix format to lint this file:

- ~100 col line breaks
- All items start with lower case subsystem followed by colon
- Alpha order for subsystems within the section
- Maybe even an approved list of subsystems for consistency

[2018-10-09 18:46] mattklein123 commented on #4656
@TylerZale can't you already send a header as a key? https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#route-ratelimit-action-requestheaders and then send the ":path" header?

[2018-10-09 20:28] ggreenway commented on #4568
Shouldn't the cluster name be a label, like `envoy_cluster_update_success_counter{cluster="xlsoa.example.greeter@v=v2.2.1"}`, or similar?

[2018-10-09 21:49] #4103 closed

[2018-10-09 21:58] TylerZale commented on #4656
Hi @mattklein123 ,

Thank you, you are right, that worked.

[code]

I'll make mention of that in the slack channel. You might want to add that to the documentation (or link to it if its there somewhere.)

TZ

[2018-10-09 21:58] #4656 closed

[2018-10-09 22:03] mattklein123 commented on #4656
Documentation PRs appreciated!

[2018-10-09 22:14] lizan commented on #4624
Will [gRPC access logs](https://www.envoyproxy.io/docs/envoy/latest/api-v2/data/accesslog/v2/accesslog.proto) works for that? Do you need to change the response after envoy receive from upstream?

[2018-10-09 22:17] nikolay-pshenichny opened #4660 "Question: `UNAVAILABLE` vs `RESOURCE_EXHAUSTED` when rate limited (`OVER_LIMIT`)"
I am seeing `grpc-status: 14` (`UNAVAILABLE`) in the responses from Envoy when a request was "rate limited" (ie. rate limiting service responded with `OVER_LIMIT`).

[HTTP to gRPC Status Code Mapping](https://github.com/grpc/grpc/blob/master/doc/http-grpc-status-mapping.md) states that the HTTP Status Code `429` should be mapped to `UNAVAILABLE`.
But [Google Cloud's documentation](https://cloud.go

[2018-10-09 22:18] lizan opened #4661 "admin: /certs should dump all certificates"
*Description*:
From PR #4566, /certs only dump first X509 certificate information in CA certificates and certificate chain for every TLS context, it should dump everything.

[2018-10-09 22:38] junr03 commented on #4656
Of course! Thanks @mattklein123 I had a total brain fart this morning. @TylerZale, like Matt said documentation PRs are appreciated. It would be pretty great to add this example to illustrate the request_header action to the documentation here: https://github.com/envoyproxy/envoy/blob/3b00c8ee37caddca2215c5f61489d17ed2733890/api/envoy/api/v2/route/route.proto#L932

I think that is probably one of

[2018-10-09 23:27] mattklein123 commented on #4660
Right now Envoy follows the status code mapping as specified, so it is the expected behavior at least as the spec defines it.

We can consider having the mappings be configurable I suppose?

[2018-10-09 23:45] lizan commented on #3883
Reopening this per convo: https://envoyproxy.slack.com/conversation/C78M4KW76/p1539048347000100

[2018-10-10 00:19] valarauca commented on #4429
+1 on generalizing gzip filter into a general compression/decompression.

Also if `zstd` could be included, it provides similar trades-offs to brotli as it also uses similar encoding schemes for compressed data.

[2018-10-10 03:11] jinuxstyle commented on #4568
Yes, it should be a label. I checked the metrics for cluster "xlsoa.example.greeter@v=v2.2.1" again, and it looks envoy only extracted the part before the first dot as the value of label envoy_cluster_name.
[code]
The expected metric should be:

[code]

[2018-10-10 03:18] ggreenway commented on #4568
I think this is caused by https://github.com/envoyproxy/envoy/issues/4357

[2018-10-10 03:51] jinuxstyle commented on #4568
The issue is informative. Thanks.

[2018-10-10 03:55] qiannawang commented on #4563
That helps!

[2018-10-10 03:55] #4563 closed

[2018-10-10 05:37] AssafKatz3 commented on #2852
@solsson Do you have more links about it?

[2018-10-10 05:52] solsson commented on #2852
Knative's abstraction on top of messaging systems is briefly mentioned in https://github.com/knative/docs/tree/master/eventing#buses, but afaik the implementation is being reworked.

Pivotal are backers of Knative, and maybe their mentions of Kafka were in https://springoneplatform.io/2018/sessions/introducing-knative or https://www.youtube.com/watch?v=_OiGt4QwdlM or https://content.pivotal.io/pod

[2018-10-10 06:02] AssafKatz3 commented on #2852
@solsson I found [The document how to set it](https://github.com/knative/eventing/tree/master/config/buses/kafka), but it seems still work in progress.

[2018-10-10 08:00] ramaraochavali opened #4669 "rate limiting service definition in bootstrap configuration"
currently rate limiting service needs to be defined in bootstrap configuration. Can we move this to filter configuration, similar to how external_auth is configured (or support both?), so that we can configure it dynamically via management server?

[2018-10-10 14:19] #4640 closed

[2018-10-10 14:28] huxiaobabaer opened #4672 "[Question] /envoy_shared_memory_110 check user permissions. Error: File exists"
**Issue Template**

*Title*: *One line description*

*Description*:
I started envoy with root user by mistake. I killed it.
Then when i start envoy again with my own user, it says:
[!184 06:42:56  ~]$ [2018-10-10 06:42:56.702][23046][critical][assert] source/server/hot_restart_impl.cc:62] panic: cannot open shared memory region /envoy_shared_memory_110 check user permissions. Error: File exists

W

[2018-10-10 14:30] huxiaobabaer commented on #4672
Full screen output
===============
[!185 07:29:28  ~]$ /home/zapp/apps/envoy -c /home/zapp/apps/11/envoy/config.yaml --base-id 11 --v2-config-only
[2018-10-10 07:29:31.869][26733][critical][assert] source/server/hot_restart_impl.cc:62] panic: cannot open shared memory region /envoy_shared_memory_110 check user permissions. Error: File exists
[2018-10-10 07:29:31.871][26733][critical][backtrace] ba

[2018-10-10 14:41] alyssawilk commented on #4619
My thought was to do a small PR removing the config option, wait a week, and see who missed the deprecation notice.

As far as you know @ggreenway @rshriram am I good to go here?

[2018-10-10 16:30] mattklein123 commented on #4672
`/dev/shm/envoy_shared_memory_110` on Linux.

[2018-10-10 16:33] snowp commented on #3958
Both host selection and retry priority modifications has been implemented, including example implementations.

[2018-10-10 16:33] #3958 closed

[2018-10-10 16:35] TylerZale commented on #4624
We don't need to change the response at that point in time. This is an interested idea that may work. Thank you.

I will experiment with it and report back.

[2018-10-10 17:21] mhite opened #4673 "Downstream metric vs. upstream mismatch during route addition"
*Description*:

When adding a new route, upstream cluster metrics spike (for example, `envoy.cluster.upstream_rq_xx`) with a corresponding HTTP connection manager downstream drop.

The following graph from Datadog represents upstream responses from an impacted microservice API in our Kubernetes cluster. While we do expect some brief spikes as we roll envoy (we do not use a control plane to configu

[2018-10-10 17:37] ggreenway commented on #173
@alanconway Are you planning ton continue work on this anytime soon? If not, I may pick this up in order to implement upstream proxy_protocol.

[2018-10-10 17:59] lizan opened #4676 "//test/integration:h1_capture_direct_response_fuzz_test is flaky in tsan"
https://circleci.com/gh/envoyproxy/envoy/105201
https://circleci.com/gh/envoyproxy/envoy/105096

Seems happening often, @htuch?

[2018-10-10 18:05] mattklein123 commented on #4669
@ramaraochavali yes, this is a historical artifact that should be cleaned up. Ultimately, we should move all of https://github.com/envoyproxy/envoy/tree/master/source/common/ratelimit into the extensions directory where it can be commonly shared with the various filters that use it. I think now that we have the singleton manager, we can still have a single rate limit client shared by all filters,

[2018-10-10 18:31] bplotnick opened #4677 "Pre-built bazel toolchain"
*Title*: *Pre-built bazel toolchain*

*Description*:
There are a number of [requirements](https://github.com/envoyproxy/envoy/blob/master/bazel/README.md#quick-start-bazel-build-for-developers) for building Envoy, and they change somewhat frequently, so it's hard to keep up. This is particularly tricky with newer versions of the packages, which might not be available in a given package manager.

O

[2018-10-10 20:19] mattklein123 commented on #4673
How are you rolling? Are you doing hot restart? What stats backend are you using?

[2018-10-10 21:10] jasonmartens commented on #4543
I was not testing on master, using 1.7.0 from the Envoy docker image repo.

[2018-10-10 21:22] mhite commented on #4673
A new container image with the updated configuration is deployed through the Kubernetes deployment.

Here's what the deployment looks like:

[code]

Basic idea is that 1 new pod is brought into service and an old pod drained. Once the new pod is up and taking traffic, the old pod it was replacing is killed. Rinse, repeat, in rolling Kubernetes upgrade style. We additionally use helm to manage the

[2018-10-10 21:30] mhite commented on #4673
Here's another data point that I think supports the idea that actual traffic is normal but the metrics are incorrect. We feed envoy access logs into BigQuery and I was able to run the following to segment our access log count by minute. I specifically targeted the URL path that hits the cluster that I previously posted the graph with the giant traffic spikes in.

[code]

I then dropped the result

[2018-10-10 21:41] htuch commented on #4676
@lizan I'll take this and work on it tomorrow. It turns out the fuzzers are a never ending supply of bugs, it's surprising to be seeing them hit on the limited test corpus though.

[2018-10-10 21:43] htuch commented on #4100
@curiouserrandy is there something we should be doing with this issue? Looks like we had agreement earlier in the thread that we can't do the impedance match.

[2018-10-10 21:50] curiouserrandy commented on #4100
Yup.  From my perspective, this issue was resolved with our agreement that the impedance match was too large (and in picking the name :-}).  I didn't really track the discussion after that around ConnectionState, so I didn't respond to the stale marker figuring the other folks commenting on the issue could revive it if needed.

[2018-10-10 21:58] htuch commented on #4100
Closing out as resolved, thanks @curiouserrandy.

[2018-10-10 21:58] #4100 closed

[2018-10-10 22:06] mattklein123 commented on #4543
@dio, @htuch made the DNS resolver use c-ares a long time ago, and the code really hasn't changed since then. The timeout handling is complicated in that library so I would probably start with some auditing of all the timeout code. I suspect there might be some case in which we aren't handling timeouts properly. IIRC c-areas has default timeouts in place, but I would check that also. @htuch might

[2018-10-10 22:08] mattklein123 commented on #4673
I suspect this has to do somehow with both processes writing to your stats backend and how the stats backend works, but I'm not sure. That's my best guess. You can look at envoy stats directly via the admin endpoint during a rollout if that helps debug.

[2018-10-10 22:17] #4635 closed

[2018-10-10 22:18] mhite commented on #4673
The important detail is that nothing recovers until I manually intervene and rollback. So when I introduce the route addition, downstream metrics go down, upstream metrics go up. Upstream will stay elevated and downstream decreased until I roll the deploy back, removing the route addition. Once this is done, metrics recover. The two dips and spikes in the graphs above are two tests that were perfo

[2018-10-10 22:27] #3902 closed

[2018-10-10 22:30] mhite commented on #4673
I think the next test we will attempt is to introduce the route addition via the control plane API rather than rolling new pods.

[2018-10-10 22:31] zuercher commented on #4409
@rosenhouse Is it possible for you to test with #4684 and see if it fixes your issue?

[2018-10-10 22:32] mhite commented on #4673
Also interesting to note is that I can introduce other changes and perform the rolling deployment without issue. For example, I enabled gzip and did a deploy with no issue. Similarly, I added just the `cluster` part of the route addition on its own (without the accompanying `route`) and deployed -- no issue. It's only when the route is added that things go pear shaped.

[2018-10-10 22:38] mhite commented on #4673
I'm also really confused on how downstream (the part facing the client) _spikes_ with 200s but upstream (to the cluster microservice) _floors_ itself. The metrics, to me, imply that more traffic should get through to the upstream microservice.

[2018-10-10 22:52] evan2645 commented on #3883
I signed up for envoyproxy slack organization to view the link above... for those who aren't a member of that organization already, please find below the conversation that was linked

[2018-10-10 22:57] cpakulski opened #4685 "upstream: redesign per priority load calculation when all priority levels are in panic mode"
Description:
Currently per priority traffic load distribution is calculated based on number of healthy hosts in each priority level. When there is zero healthy hosts in all priority levels, 100% of traffic goes to priority 0.
This behavior should be changed for situation when all priority levels are in panic mode. It means that there is very low number of healthy hosts in each priority, possibly n

[2018-10-11 01:10] huxiaobabaer commented on #4672
@mattklein123   Thank you very much!!!

[2018-10-11 01:10] #4672 closed

[2018-10-11 01:27] htuch commented on #4685
CC @mattklein123 @alyssawilk

[2018-10-11 05:48] dio commented on #4543
@mattklein123 @htuch got it. Let see what I can do to help.

[2018-10-11 08:54] ramaraochavali opened #4687 "issue with allow-unknown-fields"
If we have a new field in envoy bootstrap config, and start Envoy with --allow-unknown-fields arg, Envoy still complains that the field is not known.

Looks like the problem is here

https://github.com/envoyproxy/envoy/blob/bcc7a96d9e66bc0f70e3ed52161ec3471f835bdb/source/common/protobuf/utility.cc#L55

 Instead of passing `ProtoUnknownFieldsMode::Strict`, shouldn't we pass what is set via options

[2018-10-11 08:55] ramaraochavali commented on #4687
@kyessenov Do you have any suggestions on this? If that is the intended behaviour or is this a bug?

[2018-10-11 08:57] ramaraochavali commented on #4669
@mattklein123 Thank you. Sure I will let you know if I can pick this up and create the design proposal.

[2018-10-11 09:34] ramaraochavali commented on #4687
Ok. I see in the comments in the PR #4096, you mentioned about not changing this function. So looks like bootstrap configuration parsing is done via this method. Not a big deal.

[2018-10-11 09:58] #4687 closed

[2018-10-11 13:31] taion809 commented on #4637
I'm going to close this for now; there is some shenanigans with curl that need further investigation.  I wasn't able to reproduce this when deployed out to the cluster only locally.

[2018-10-11 14:10] rosenhouse commented on #4409
I’m out for the next few days.  Perhaps @tylerschultz could give it s whirl?

[2018-10-11 15:05] snowp opened #4690 "Allow changing header matched on for virtual hosts"
We'd like to be able to specify which header(s) should be consulted when determining what virtual host to route to. Currently this reads the Host header, which means that for clients that don't allow overriding the Host header on a per-call basis (e.g. gRPC) we end up having to maintain one client per Host header we want to use. Since we're not using TLS in this case the extra clients are unnecess

[2018-10-11 15:59] mattklein123 commented on #4690
Having the `domain_header` option which defaults to `:authority` makes sense to me. @envoyproxy/maintainers any thoughts?

[2018-10-11 16:59] #4268 closed

[2018-10-11 17:09] tylerschultz commented on #4409
We're working with @jvshahid's teammates this morning to try it out.

[2018-10-11 18:19] aschran opened #4692 "Method to override filter-generated responses"
Method to override filter-generated responses:
Need a way to override filter-generated local replies in filters higher up the chain.

*Description*:
Filters sometimes use `sendLocalReply` to create locally generated responses. For example, the Envoy router will send a 503 with body text `upstream connect error or disconnect/reset before headers` if it can't connect.

It seems like there's no great

[2018-10-11 19:17] mattklein123 commented on #4692
I think this is a dup of https://github.com/envoyproxy/envoy/issues/1178? Also related to https://github.com/envoyproxy/envoy/issues/4283. If you agree can we close and track in those issues? I agree this is something that we need to add.

[2018-10-11 20:14] mhite commented on #4673
Here's another attempt today to introduce an additional route, this time to an http/1.1 destination.

<img width="1468" alt="screen shot 2018-10-11 at 1 10 06 pm" src="https://user-images.githubusercontent.com/1464385/46831046-22883200-cd57-11e8-948c-3a504647c78b.png">

Notice that the upstream metric and downstream metrics seem to swap values. I've left it running like this for over 2+ hours with

[2018-10-11 20:41] aschran commented on #4692
Yes, I think those issues cover my request, ty! If there's a better existing approach than the response flags and encoder hacks I'm using now that would be cool, but if the answer is just, "it's a known feature request," I'm happy!

[2018-10-11 20:41] #4692 closed

[2018-10-11 20:42] tehranian opened #4695 "bazel/README.md references "envoy-static.stripped.stamped" which doesn't exist"
*Title*: `bazel/README.md` references `envoy-static.stripped.stamped` which doesn't exist

*Description*:
From the instructions for building a Release Build at https://github.com/envoyproxy/envoy/blame/master/bazel/README.md#L333 :

But when I run this I get:
[code]

From https://github.com/envoyproxy/envoy/blob/master/ci/do_ci.sh#L17, looks like the correct instructions for a release build are to

[2018-10-11 21:28] htuch commented on #4695
I think this was in https://github.com/envoyproxy/envoy/pull/3021, @jmillikin-stripe can probably provide the insight. Yeah, I think a doc fix is the right thing here.

[2018-10-11 21:39] htuch commented on #4690
@AndresGuedez has a design proposal that provides a superset of this capability. I think stay tuned for him to share the doc ("Scoped RDS").

[2018-10-11 21:53] #3304 closed

[2018-10-11 22:03] mattklein123 commented on #2852
Status here:

@adamkotwasinski is beginning work on a basic sniffing filter than can run in front of a broker. This will include encoder/decoder, stats, etc. I will help him review/merge, etc. that. Then this winter I plan on working on a full L7 client filter in which Envoy itself becomes the only broker the client knows about, and handles everything else behind the scenes.

[2018-10-12 00:03] n4wei commented on #4409
@zuercher We did some testing with your PR and the reproductions steps outlined in [the repo](https://github.com/rosenhouse/envoy-too-many-connections) from @rosenhouse. We found that upstream connections are now closed. We did not see any connections in the "ESTABLISHED" state. Further, we also did some testing in our own environment and we are seeing that previously opened upstream connections a

[2018-10-12 13:37] jmarantz opened #4703 "//test/common/ssl:utility_test appears broken for me in clean checkout"
*Description*:

[code]

It also is failing in CI on unrelated PRs. This appears to be related to @ramaraochavali 's #4686

I'm also not sure if that's somehow measuring against the current time. I peeked at the code and didn't see how it was pulling the current time; maybe it's in
[code]

*Repro steps*: `bazel test //test/common/ssl:utility_test`

[2018-10-12 14:16] ramaraochavali commented on #4703
@jmarantz  @lizan  has fixed it alredy. The PR for the fix https://github.com/envoyproxy/envoy/pull/4701.

[2018-10-12 15:01] AndresGuedez opened #4704 "Support multi tenant route configuration selection based on HTTP attributes"
*Problem Statement*

Envoy currently supports route configuration isolation in multi tenant environments by allowing a Listener FilterChain to specify a FilterChainMatch based on IP, TCP and TLS layer attributes.

When tenancy can be determined via these types of attributes, a FilterChain can be instantiated with a corresponding HttpConnectionManager RouteConfiguration proto (via static config or

[2018-10-12 15:16] AndresGuedez commented on #4690
@snowp PTAL at #4704, where I propose API enhancements that could support your use case. You would need to create a routing configuration scope per `virtual-host`, and clone the `RouteConfiguration` for each scope, changing the `Route`'s action as needed per `virtual-host`.

I recognize the increase in configuration complexity may not be worth it for this particular use case, and the proposed `dom

[2018-10-12 15:19] htuch commented on #4690
I think we want economy of mechanism in the API, so if #4704 works for @snowp, we can close this out as dupe.

[2018-10-12 15:24] htuch commented on #4704
This has +1 from me and other Googlers, so looking for community input.

[2018-10-12 15:35] htuch opened #4705 "Remove RapidJSON from Envoy"
Now that v1 has been officially deprecated and is on track for removal in the near future, we shouldn't need RapidJSON anymore. All JSON parsing and printing should be possible via the protobuf library. This will simplify dependencies and reduce the trusted compute base.

[2018-10-12 15:35] htuch commented on #4705
@mattklein123 WDYT?

[2018-10-12 15:36] htuch commented on #4705
(CC @jmarantz who reminded me we can do this now ;) )

[2018-10-12 16:02] snowp commented on #4690
If I understand the proposal correctly, I would change my current setup of (1 RouteConfiguration with N vhosts) to (N RCs with one vhost), deciding which RC to use by defining an scoped key builder that inspects Host or `virtual-host` ?

Sounds like it would work for us. We might even want to use the new API for perf reasons (we sometimes end up with a lot of vhosts) so I'm not concerned about the

[2018-10-12 16:02] #4690 closed

[2018-10-12 16:42] mattklein123 commented on #4705
Sure, though I'm not sure we want to start ripping anything out until we wait a bit and see if anyone complains about v1 being gone? (Note also that RapidJSON is used for v1 schema)

[2018-10-12 16:44] #4703 closed

[2018-10-12 16:45] mattklein123 opened #4706 "format: check/fix braces for all control statements"
See https://github.com/envoyproxy/envoy/commit/c4291868bacc3be92f36dd4bfe2aa616dacbb2ba#commitcomment-30879761.

I would have though clang-format could do this, or maybe clang-tidy, but I've never seen such an option. cc @jmarantz @lizan

[2018-10-12 17:04] lizan commented on #4706
clang-tidy can do this: [readability-braces-around-statements](https://clang.llvm.org/extra/clang-tidy/checks/readability-braces-around-statements.html), not ware of any clang-format option can do.

[2018-10-12 17:06] lizan commented on #4705
FWIW, JWT auth filter still use it.

[2018-10-12 17:06] mattklein123 commented on #4706
Nice! Turn it on. :)

[2018-10-12 17:33] htuch commented on #4705
@lizan I think any users can be converted fairly mechanically to using protobuf, since they can just switch to using `Struct` and then doing (de)serialization.

[2018-10-12 17:33] htuch commented on #4705
Also CC @aa-stripe in the context of https://github.com/envoyproxy/envoy/pull/4693

[2018-10-12 17:34] htuch commented on #4676
@eziskind knows the root cause and is working on a fix, reassigning.

[2018-10-12 17:58] qiwzhang commented on #4705
In that case, I need to switch this repo: https://github.com/google/jwt_verify_lib
to use protobuf first before you can give ride of RapidJson

[2018-10-12 18:34] AndresGuedez commented on #4690
That's pretty close to what I'm envisioning, except that the ScopeKeyBuilder config would only need to deal with the 'virtual-host' header. E.g., with config defined as follows:

(This config doesn't actually map to valid Envoy YAML or JSON, but should be sufficient for this example)
RC1: { domains: [ www.service.com ], routes: [ { ..., cluster: clusterA } ] }

Virtual-Host: service1
Host: www.ser

[2018-10-12 18:38] #4515 closed

[2018-10-12 18:48] AndresGuedez commented on #4690
That's pretty close to what I'm envisioning, except that the ScopeKeyBuilder config would only need to deal with the 'virtual-host' header.

E.g., with config defined as follows:

(NOTE: this RouteConfiguration config doesn't actually map to valid Envoy YAML or JSON, but should be sufficient for this example)
[code]

(The following would actually be valid YAML)
[code]

Requests would be routed as

[2018-10-12 19:20] mattklein123 commented on #4704
+1. I had one question about SRDS vs. building directly into RDS, and it seems to me the real problem is incremental delivery. There was discussion in the doc about field deprecation for this approach which I didn't fully understand and might be clarified a bit.

[2018-10-12 19:32] htuch opened #4709 "Fix bugs discovered by Envoy's fuzzers on bugs.chromium.org"
Our fuzzers run continuously on ClusterFuzz and bugs are embargoed for 90 days. We have a significant backlog and we've allowed some of the non-critical fuzz bugs (functional vs. security related) to age out past the embargo. These can be seen at:

https://bugs.chromium.org/p/oss-fuzz/issues/list?can=2&q=envoy

This GH issue is intended to remain open for anyone interested in tackling an issue her

[2018-10-12 19:58] htuch opened #4710 "Stronger API semantic versioning guarantees"
Today, we use proto namespaces to express versioning, with `v2alpha` reserved for experimental protos and `v2` for stable.

By "stable", we mean that protos are subject to the normal restrictions on wire-level backwards compatibility for proto, see https://github.com/envoyproxy/envoy/blob/master/api/STYLE.md, and that any field removal or semantic change is subject to Envoy's breaking change polic

[2018-10-12 19:59] htuch commented on #4710
For consideration by @envoyproxy/maintainers and community.

[2018-10-12 20:16] mattklein123 commented on #4710
Yes I think this makes sense. In practice, I think this is largely what we have done, though it hasn't been codified. (When we did v2, I know there were a few small things that were dropped from v1, but those were things that we hard a strong feeling that only Lyft was using).

If someone wants to codify this into a PR change to https://github.com/envoyproxy/envoy/blob/master/CONTRIBUTING.md#break

[2018-10-12 21:05] htuch commented on #4710
@mattklein123 SGTM, will work on a PR next week to codify the semantic no break for `v2`. I think the idea is that if we do feature removal, at the API level, we must bump to `v2`+.

I think for practical purposes, we should always say something like "v2 + <Envoy point release version>" when referring to an Envoy API state, since that is the clearest characterization of the expected field semantic

[2018-10-12 21:12] htuch commented on #4705
@qiwzhang ack. I think if we can at least try and avoid any new users of RapidJSON we can make this easier. @qiwzhang do you think it's reasonable to rewrite to using Struct + Protobuf<->JSON?

If this turns out to be too much of a pain, or there are other advantages of RapidJSON (better formatting, better error messages), we can stick with status quo.

[2018-10-12 22:45] mattklein123 commented on #4676
I think this is fixed.

[2018-10-12 22:45] #4676 closed

[2018-10-12 23:03] qiwzhang commented on #4705
I can try, it should not be that difficult.

[2018-10-12 23:17] snowp commented on #4690
Awesome, that sounds like it would work for us

[2018-10-13 07:47] qiannawang commented on #4599
Which proto is a good place to add a field to config the order of write filters?

@htuch suggested http_connection_manager.proto for http filters, what about tcp ones?

[2018-10-13 14:32] ramaraochavali opened #4713 "Envoy dropping Version in when a config is rejected"
When Envoy rejects a configuration sent by Management Server for any reason, it is dropping the version (resetting it to empty string) while sending the next discovery request indicating the failure.

It is because , the version is being set here which may not happen incase of config update failure

https://github.com/envoyproxy/envoy/blob/master/source/common/config/grpc_mux_impl.cc#L224

[2018-10-13 14:33] ramaraochavali commented on #4713
@htuch Is this intended or regression? If it is not intended, Please assign this to me. I will fix it.

[2018-10-13 14:36] ramaraochavali commented on #4705
admin interface that displays stats in json format still uses it

[2018-10-14 03:36] ramaraochavali commented on #4713
nm..it is working as expected. initial update rejected only empty version is sent which is correct. so closing this...

[2018-10-14 03:36] #4713 closed

[2018-10-14 06:38] ramaraochavali opened #4716 "ads protocol violation makes Envoy hang for 5 mins before closing stream"
*Description*:
We have a EDS type of cluster defined in bootstrap config that uses ADS for discovery.
  - name: zipkin_cluster
    connect_timeout: 0.25s
    type: EDS
    eds_cluster_config:
      eds_config: {ads: {}}
      service_name: zipkin
    lb_policy: LEAST_REQUEST

When Envoy starts and there are network issues and connection to management server is fragile, we see the following behavio

[2018-10-14 06:40] ramaraochavali commented on #4716
I think it is better to reset the stream when such protocol issue happens, so that it can establish connection immediately with out waiting for stream_idle_timeout.
Also is there a way to to control the stream_idle_timeout for AsyncClient and Stream used for ADS?

[2018-10-14 10:05] ramaraochavali opened #4718 "continuous update rejects could flood envoy with discovery requests"
If for a particular reason, an update is rejected, Envoy sends back a response immediately indicating the failure to management server. However if management server, responds again with incorrect data with possibility of update being rejected, Envoy would send the update rejected response immediately.
This continuous flow of rejections can be quite chatty and could flood envoy with discovery reque

[2018-10-15 00:57] htuch commented on #4599
@qiannawang you want the HCM proto for L7 filters and the Listener FilterChain for L4.

[2018-10-15 00:57] htuch commented on #4705
@ramaraochavali yeah, but that should be possible to convert. I think everything internal to Envoy should not be a huge problem, it's more sticky with external deps though.

[2018-10-15 01:53] htuch commented on #4718
Arguably the management server should implement back-off here @ramaraochavali.

[2018-10-15 01:56] htuch commented on #4716
@ramaraochavali I think the correct behavior here is for Envoy to accept Clusters earlier. It should always be listening for Clusters/Listeners, even if the ClusterManager isn't initialized yet; these early assignments should be stored for later initialization. It seems fragile to have the management server needing to be aware of the minutae of Envoy's initialization sequence.

[2018-10-15 03:18] ramaraochavali commented on #4718
@htuch I was also thinking that management server should implement the back-off here. However following (especially the first one) was the motivation for the issue and the PR.
- Should Envoy protect itself from a management server misbehaviour possibly because of a bug in it's implementation or some other conditions?
- Would it be useful for all management servers if Envoy implements this instead

[2018-10-15 12:19] ramaraochavali commented on #4718
Another point to consider here request back-off vs. response back-off which one is better as a design choice? I tried both with this PR in envoy and implementing it in our management server on the response side - request side looked more natural to me, but it's just me.
LMK what you think?

[2018-10-15 13:14] githubYasser opened #4724 "Request Body logging"
*Title*: *Request Body logging*

*Description*:

I want to send the body content (decoded) lets say to elastic-search or write in to a file.

One could use lua-script to get the request object and send  the request to an upstream cluster !

Or are there better ways for doing this ?

thanks

[2018-10-15 14:45] klarose commented on #4128
@mattklein123 would you be able to look over my design doc? If not, could you nominate someone to do so? :) It's still pretty rough, but I have sketched out the overall solution, and have begun to flesh out some of the more complication portions.

[2018-10-15 15:20] rshriram commented on #4513
Please make the doc public..

[2018-10-15 15:44] stevenzzzz commented on #4513
Hey @rshriram are you looking at
https://docs.google.com/document/d/1AKA_5iMSR6WZaDbjQfLFbK9maO_la_MZgVtYdD9gWtA/edit?usp=sharing
?

[2018-10-15 16:46] junr03 commented on #4718
@htuch jumping in from the left field here. ~I vaguely remember someone bringing up a similar line of conversation a few months ago. I think we discussed "ratelimiting" discovery interactions back then.~ Found the discussion in #2169 (if you are interested, @ramaraochavali).

[2018-10-15 17:18] htuch commented on #4716
@ramaraochavali I think we could have ClusterManager/ListenerManager listen-and-accumulate at construction.

I think ADS specific stream timeouts aren't possible today. This is because we instantiate the HTTP async client using a synthetic configuration that doesn't look at the HCM or router settings. We'd probably want some additional setting in `ApiConfigSource`; there exists https://github.com/

[2018-10-15 18:34] alyssawilk commented on #2557
AFIK the Google-QUIC team that had picked this up got diverted from working on it, but are hoping to get back to it and land QUIC-Envoy integration in Q1.  That said I wouldn't say that's anywhere near guaranteed - if you have interest or cycles in helping out help would definitely be appreciated :-)

[2018-10-15 18:39] vinothchandar commented on #2557
Thanks for the prompt response.. Is there any POC from Google's side that can give us more context? For e.g,  if this needs changes to Chromium. (we contributed a small reverse proxy to chromium quic and had to move around some classes to make way)

Definitely love to contribute, once we flesh out any dependencies :)

[2018-10-15 18:41] #4660 closed

[2018-10-15 18:50] alyssawilk commented on #2557
Well I'm the one who generally pings the QUIC team when there's questions but @ianswett @RyanAtGoogle who are actually deciding who does what.

For contributions, I think we're going to want to reuse the google-QUIC code where we can for congestion control and crypto because (there's so many subtle things to get wrong and it'd be nice to not repeat mistakes!) but AFIK no one ever got around to ope

[2018-10-15 19:09] RyanAtGoogle commented on #2557
As @alyssawilk alluded to, we're currently working to take Google's QUIC code which is shared between Chromium and our internal proxy and export it to a stand-alone repository where it should be easier to consume for other projects. This repository will be DEPS'd into chromium (meaning we'll pull the contents of this repo directly instead of having duplicate or slightly modified files in Chromium)

[2018-10-15 19:28] yangminzhu commented on #4528
As this FitlerState is being implemented, what's the plan for the dynamic metadata? will the dynamic metadata be deprecated and removed sometime? If so when will this happen? Thanks.

[2018-10-15 19:36] htuch commented on #4718
Yeah, I think we can do back-off in Envoy, we just need to make sure it doesn't affect normal rapid successful updates. I still think Envoy doesn't need to protect itself as the management server is essentially trusted (a broken management server can do a lot more bad things than cause Envoy to spin..). But, if you want to add this, seems legit.

[2018-10-15 19:46] htuch commented on #4528
@yangminzhu looks like it will be around for some time due to dependencies in JWT/RBAC filters IIRC.

[2018-10-15 20:01] rshriram commented on #4528
We are planning to remove dynamic metadata from RBAC
and use the filter state instead.

[2018-10-15 20:20] patricia92fa commented on #4724
I am facing a similar issue. For now I have configured a route with a generic "/*" prefix plus shadow annotation so that all incoming HTTP requests are forwarded from Envoy to a Logstash instance that in turn ingests data to an Elasticsearch cluster:

[code]
This works fine for HTTP requests, but responses are not forwarded. I would like to avoid custom script execution on Envoy and just forward a

[2018-10-15 20:32] conqer commented on #2557
Has anyone looked at [https://github.com/ngtcp2/ngtcp2] ? Their event loop model fits envoy so might be a natural fit.

[2018-10-15 21:02] tony-shi opened #4733 "Building a shared library?"
**Issue Template**

*Title*: *Building a shared library?*

*Description*:
Is there a way to ask the build system to build a shared library that one can link a program written using the C++ API against? Since in my company, we already have a plugin manager works with .so to handle the life cycle of a shared library, so we want to take the best effort to reuse it.

*Relevant Links*:
After several su

[2018-10-15 22:01] vinothchandar commented on #2557
@alyssawilk Thanks. agree on reusing chromium impl as much as possible for the same reasons. On flip side, something like ngtcp2 is very promising but not sure how production hardened it is, at this point. Given envoy is used by so many, it may be a lil premature to pull it into envoy and certify support.

@RyanAtGoogle The standalone repo makes total sense.. I remember you moved a lot of code alr

[2018-10-15 22:43] lizan commented on #4251
FWIW: https://groups.google.com/a/chromium.org/forum/#!topic/chromium-os-dev/e8pJRHLisIg

Actually I found `--define=force_libcpp=enabled` doesn't actually link to libc++, the flag is only provided at link time, though libstdc++ and libc++ is not ABI compatible. Also, prebuilt libraries are built against libstdc++.

[2018-10-15 22:55] nikolay-pshenichny opened #4735 "Make gRPC response code configurable when rate limiting occurs"
Current envoy implementation returns `UNAVAILABLE` if a gRPC call was rate-limited (rate limit service responded with `OVER_LIMIT`). This behavior matches the [HTTP to gRPC Status Code Mapping](https://github.com/grpc/grpc/blob/master/doc/http-grpc-status-mapping.md) , but may not always be what a "client" wants to see ( [Google Cloud documentation](https://cloud.google.com/apis/design/errors#gene

[2018-10-16 00:59] ramaraochavali commented on #4716
@htuch Ok. So we need to change the initialisation of ClusterManager/ListenerManager. I will see when I can get to it. Let us keep this issue open for that.
Regarding ADS stream timeouts, thinking further I am not sure if we want to configure a lower value because it is long running stream with possible periods of in activity and lower value could make it disconnected quite regularly and a higher

[2018-10-16 01:08] RyanAtGoogle commented on #2557
@vinothchandar The primary work remaining is to remove a whole pile of minor diffs between the internal and external versions of the code which have crept in over the years. This is a raft of CLs like:

https://chromium-review.googlesource.com/c/chromium/src/+/1273814

Once that's complete it's mostly a simple matter of just moving the files to a new repo. We do not believe there is any careful re

[2018-10-16 01:31] yangminzhu commented on #4528
Thanks for the comment, one more thing to confirm, currently the `FilterState` only has a generic [Object](https://github.com/envoyproxy/envoy/blob/ce634f4be8929f42366ea729fb098afdc139766a/include/envoy/stream_info/filter_state.h#L17) interface.
To make it useful for sharing data between filters, should we define some well-known classes sub-classing the Object? For example, StringObject, NumberObj

[2018-10-16 02:39] 29x10 opened #4736 "Build fails when using a compiler toolchain in a non-standard location"
*Title*: *Build fails when using a compiler toolchain in a non-standard location*

*Description*:

Here is the error logs
[code]

[code]

[2018-10-16 02:44] ramaraochavali commented on #4716
@htuch Another similar thing happened at one point to us, after the initial stream established, no exchange happened - So cluster scraper also could not send any clusters because of network. And the stream timed out after 5 mins, after that every thing is normal. So I am guessing, does the stream get in to some hung state? Why the network disconnection is not detected and ADS restablish the connec

[2018-10-16 07:16] georgi-d commented on #3404
@knrc Could you also share some details on the approach you are using for adding OpenSSL support?

Thanks

[2018-10-16 10:43] baranov1ch commented on #3383
I've looked at this a bit.

2 caveats here:
1) we need to send body (serialized `rpc.Status`) from `encodeTrailers()`. When doing unary grpc calls, transcoder buffers everything up to `encodeTrailers()` call, which means that response headers are still buffered.
If one just calls `encoder_callbacks_->addEncodedData()`, response body will be put into the wire before response headers, due to how `Co

[2018-10-16 11:51] containscafeine opened #4740 "Unable to get new style (websocket) upgrades work"
*Description*:

I was trying to get websockets to work with the new style upgrade support as detailed at https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/websocket#new-style-upgrade-support

Well, the old style support works when I use `use_websocket` field, but the new style does not.

I am getting 403 return codes like such -
[code]

The right connection looks like -
[code]

*Conf

[2018-10-16 12:57] knrc commented on #3404
@georgi-d You can take a look at the work Bill has been doing, he's tidying up a few final things but it is working and passing the tests.

https://github.com/bdecoste/envoy/tree/openssl

https://github.com/bdecoste/proxy/tree/openssl

This work is a PoC to investigate the scope of the changes, we still need to discuss this with the community and @bdecoste will be driving that.

[2018-10-16 13:51] jmarantz opened #4742 "perf: export mutex contention in a stat"
*Description*:

This would enable us to evaluate how much contention are we getting currently and what would we get in the face of proposed changse.

@ambuc do you want to take a look in your spare time?

[2018-10-16 13:52] ambuc commented on #4742
Yes, please assign this issue to me.

[2018-10-16 13:59] alyssawilk commented on #4740
Any chance you can dump the headers wscat is sending?

[2018-10-16 14:18] containscafeine commented on #4740
Sure. FWIW here are the complete envoy debug logs - https://paste.fedoraproject.org/paste/kzlq8rlvqJvbEjzfWlMK8g

The headers that I got from the logs are -
[code]

[2018-10-16 14:18] rshriram commented on #4528
Looking at RBAC filter, its simply a set of string matches isn't it? A string/NumberObject seems like a good start.

[2018-10-16 15:15] ramaraochavali commented on #4716
Ok. Thank you. Will check the TCP settings part but I doubt because with the same settings we did not see any issues till now. Is there any to know if it the case of stream hang after establishment? While based on what I have seen in these two instances, I am positive that it could the case, but not sure how to confirm that. Will let you know if I find any thing.

[2018-10-16 15:29] htuch commented on #4716
@ramaraochavali not that I know of. If it's not network level, it's likely related to some race or interaction with Envoy init. If you can capture the network activity when this happens it would be awesome.

[2018-10-16 15:32] ramaraochavali commented on #4716
@htuch Ok. Sure..Will let you know what I can find.

[2018-10-16 15:44] containscafeine commented on #4740
Hey, thanks for the quick response @alyssawilk, really appreciate it :)

I am running with `envoyproxy/envoy:latest` container image, with the command - `docker run --name envoy --rm -p 10000:10000 -p 9901:9901 -v /tmp/test.yaml:/test.yaml envoyproxy/envoy:latest envoy -c test.yaml -l trace`, I _assume_ it points to HEAD.

Here are the logs with `-l trace` - https://paste.fedoraproject.org/paste/6

[2018-10-16 15:56] containscafeine commented on #4740
Wait, it could be a bug. I just tried this with `envoyproxy/envoy:v1.8.0` image and it worked :thinking:

[2018-10-16 16:00] mattklein123 commented on #4128
@klarose sorry for the delay. I'm OOO for 2 weeks and not working much. I might have time to take a look but no guarantees. In the meantime if either @ggreenway or @alyssawilk could take a look that would be great, otherwise I will take a look when I get back.

[2018-10-16 16:06] mattklein123 commented on #2557
@conqer @vinothchandar I'm out for two weeks but sorting out a firm plan for QUIC is high on my priority list when I get back. If you would to be involved please send me email at `mklein@lyft.com` so that we can coordinate and we can learn how you might want to contribute.

From my perspective, both https://github.com/ngtcp2/ngtcp2 and https://github.com/h2o/quicly are on the table is viable optio

[2018-10-16 16:15] mattklein123 commented on #3404
@knrc @bdecoste can you email me at `mklein@lyft.com` so that we can discuss this and I can loop in various folks? I would like to get a conversation going sooner rather than later before we get to the larger community conversation. Thank you!

[2018-10-16 16:40] wrowe commented on #2920
Coming back to this ticket (sorry for the long pause), I think we want to take 3. GET request to /healthcheck/fail out of consideration for this behavior change.

While cases 1. and 2. strongly suggest closing most listening sockets immediately, which I'll get into in a follow-up post, Case 3. doesn't fit this pattern.

If we consider the Note: behind this documented feature, the listening endpoin

[2018-10-16 16:46] conqer commented on #2557
@mattklein123 sent you email.

[2018-10-16 17:37] moderation opened #4744 "Upgrade fmtlib/fmt & gabime/spdlog dependencies"
*Title*: Upgrade fmtlib/fmt & gabime/spdlog dependencies

*Description*:
`fmt` and `spdlog` have been recently been updated and have undergone significant changes. `fmt` had a major version change to 5.0.0 ([changelog](https://github.com/fmtlib/fmt/releases/tag/5.0.0)) and was released in May 2018. The layout of the library changed

I was able to have the new layout recognized by changing https://

[2018-10-16 17:38] junr03 commented on #4457
@PiotrSikora I failed to update this issue with a question that I had, and @cmluciano just reminded me of it. In the original V1 tcp proxy config both source and destination ports allowed for multiple ports https://www.envoyproxy.io/docs/envoy/latest/api-v1/network_filters/tcp_proxy_filter#route.

However, the filter change match [proto](https://github.com/envoyproxy/envoy/blob/0621763bd00016f91e5

[2018-10-16 18:14] PiotrSikora commented on #4457
That's more of a question to @htuch, who authored the proto, but it looks that the single `destination_port` was driven by `use_original_dst` (see: https://github.com/envoyproxy/data-plane-api/pull/143), while the repeated `source_ports` were driven by the capabilities of v1 tcp proxy (see: https://github.com/envoyproxy/data-plane-api/pull/49).

Do we have any users of v1 tcp proxy that use multip

[2018-10-16 18:19] vinothchandar commented on #2557
@RyanAtGoogle that sounds promising.. We can try our hand at this then, looks like. If we atleast have a PoC version with Chromium working, then may be as bad to redo it with the new repo/independent lib. Correct me if I am missing something.

@mattklein123 yes will send you an email to coordinate. It'd be awesome if you can also get @alyssawilk looped in. I have reasonable handle on the chromium

[2018-10-16 18:47] mattklein123 commented on #2557
Yup we won't do anything in isolation of the Google folks as they are an integral part of this. I'm going to meet with Google right when I get back and then we will pull together a larger meeting with interested folks and get work assigned.

Thank you everyone for being willing to help!

[2018-10-16 18:53] cmluciano commented on #4457
I can potentially create a new field that is just source_port & mark the source_ports for deprecation if that works.

[2018-10-16 19:08] 29x10 commented on #4736
fixed by modify PosixLocalEnvProvider in bazel

[2018-10-16 19:08] #4736 closed

[2018-10-16 20:02] zuercher commented on #4409
Fixed in #4684

[2018-10-16 20:02] #4409 closed

[2018-10-16 20:16] alyssawilk commented on #4617
Ok, command line config is gone, and docs links are pruned.
I started in on removing all the v1 API docs, but unfortunately if we're going to keep the REST APIs around for one more version that gets fairly hairy given some things like v1SDS don't have docs outside of the v2 tree.  I think this is done enough for this release, and we should do some more clean up after we cut 1.9.

[2018-10-16 20:16] #4617 closed

[2018-10-16 20:31] zuercher commented on #4744
I'll take a look at this.

[2018-10-16 21:59] alanconway commented on #173
@ggreenway that would be great; I want to get back to this but am juggling a bunch of other stuff so can't reliably promise to do this soon.

The pull request #3571 is working and tested by my AMQP prototype, but it lacks independent tests in the envoy test harness. There are probably a bunch of other rough edges, the comment on  #3571 mentions the ones that are obvious to me.

[2018-10-16 22:31] htuch commented on #4457
@cmluciano is there a good reason for this API churn? @PiotrSikora is correct about how this came to be in the v2 API, but I'm not sure there is much benefit from turning this back to a singleton.

[2018-10-16 22:44] tonya11en commented on #4607
#4632 fixes this.

[2018-10-16 22:44] #4607 closed

[2018-10-16 23:08] RyanAtGoogle commented on #2557
@vinothchandar Oh, that'd be exciting! If you're able to cook up a PoC based on the chromium code, I would imagine it would be quite easy to convert it to use the new repo. If you start on this effort, please let me know if I can help out...

[2018-10-17 07:09] gsagula opened #4756 "ext_authz: whitelist headers in the context of auth/authz or other configuration options"
**By default** ext-authz extension only allows **Content-Length, Authority, Method and Path** headers to be passed from the filter to the server, or vice-versa. In most cases, the operator still needs to manually whitelist headers that are typically used on the context of auth/authz (e.g. Authorization header). In other cases, if these headers are not whitelisted, even errors may occur (see Locati

[2018-10-17 07:10] cetanu opened #4757 "Leak of private key inline_string when specifying multiple tls certificates"
Issue summary
---------------
Specifying more than one auth.TlsCertificate causes Envoy to dump the proto of the affected listener to the logs; if there is an inline private key, it is not redacted prior to logging.

Api Config Source for LDS = REST, not gRPC/file

Error produced by Envoy
-------------------------
newline separated to enhance readability
[code]

Example configuration
-------------

[2018-10-17 08:13] lizan commented on #3383
@baranov1ch Thanks for investigating on this.

1. This sounds like a bug of HCM, which have to be fixed.

Aside from that, to be more clear, I think the grpc-message would be converted into http body _iff_ the response is trailer-only. If we already converted some of body, then it will be in header for unary and (unfortunately with the possibility to be swallowed) in trailer for streaming case.

2

[2018-10-17 09:02] containscafeine commented on #4740
@mattklein123 not sure if this is a question anymore, it's a bug, no?

[2018-10-17 13:18] vinothchandar commented on #2557
Will give it a shot and def would need your help, along the way. :) Will loop you in once we have a basic plan.

[2018-10-17 13:34] baranov1ch commented on #3383
Will always buffering the body (received from `StreamEncoderFilterCallbacks::addEncodedData()`) be the acceptable fix? This is how HCM behaves when data is pushed from `encodeHeaders/encodeData` Or HCM should learn to push headers if addEncodedData is called from encodeTrailers callback?

in this case possible custom details (which are `google.protobuf.Any`s) will fail to transcode.

[2018-10-17 13:59] htuch commented on #4528
@rshriram I'm confused. How can the attributes be known well enough to be useful while the namespaces aren't known? At some point there is a contract over naming between producer and consumer, and that can include a namespace.

In your mixer example, why can't filter emit attributes under `istio.mixer` for example?

[2018-10-17 14:02] alyssawilk commented on #4740
Are you still able to replicate the failed behavior?

[2018-10-17 14:12] containscafeine commented on #4740
@alyssawilk yep, fails on `envoy:latest` but works on `envoy:v1.8.0`

[2018-10-17 14:13] moderation commented on #4740
nghttp2 1.34.0 contains a websocket fix that @alyssawilk worked on ([PR](https://github.com/nghttp2/nghttp2/pull/1231) and [issue](https://github.com/nghttp2/nghttp2/issues/1181)). Does this have bearing on this issue?

[2018-10-17 14:18] alyssawilk commented on #4740
I think that should be for H2 websocket support, which is still hidden in Envoy configs due to us not pulling nghttp2 latest.  I believe this problem is with HTTP/1.1 so probably not related

I'll see if I can repro with envoy:latest today

[2018-10-17 14:33] alyssawilk commented on #4740
Sadly, I still can't repro.  Can you determine if you can reproduce on envoy:latest with the telnet command I ran?
When I run against docker latest I still get an upgrade response and I'm unsure if we're still somehow running something different or if there's some subtle difference in what wscat is doing and what I'm doing.

[2018-10-17 14:47] alyssawilk commented on #4740
Also bonus points if you're willing to remove your local copy of envoy:latest.  I usually just kill all docker state with

docker rm $(docker ps -a -q)
docker rmi $(docker images -q)
rm -rf /tmp/envoy-docker-build/*

but that's probably overkill.  I'm wondering if somehow your docker:latest got pinned to a stale/bad version?

[2018-10-17 16:28] PiotrSikora commented on #4457
@htuch I guess this is more about unwanted asymmetry between similar features, i.e. perhaps adding repeated `destination_ports` (and eventually deprecating singleton `destination_port`) would be a way to go about this?

[2018-10-17 16:41] htuch commented on #4457
@PiotrSikora sure. You can actually safely upgrade a singleton to repeated without breaking wire compatibility.

[2018-10-17 17:21] venilnoronha opened #4762 "Expose Live Circuit Breaker State"
*Title*: Expose Live Circuit Breaker State

*Description*: Currently, Envoy doesn't expose the "live" Circuit Breaker state (open/closed), and it'd be useful to export that (probably via [stats](https://www.envoyproxy.io/docs/envoy/latest/configuration/cluster_manager/cluster_stats#config-cluster-manager-cluster-stats)).

*Relevant Links*:
istio/istio#8902
https://issues.jboss.org/browse/KIALI-470

[2018-10-17 18:15] PiotrSikora commented on #4457
@htuch but then we have repeated `destination_port`, which doesn't follow API conventions.

[2018-10-17 18:19] #4373 closed

[2018-10-17 18:20] qiwzhang opened #4763 "SDS feature request: only fetch trusted CA from SDS for CertificateValidationContext"
*Title*: only fetch trusted CA from SDS for CertificateValidationContext

*Description*:
Istio likes to use SDS to send trusted CA for CertificateValidationContext.  But its SDS server doesn't have info for other fields, such as verify_subject_alt_name.  The discovery server has the info for "verify_subject_alt_name".

Like to change SDS that:
* Only trusted CA can be fetched from SDS,  the other

[2018-10-17 18:28] #4374 closed

[2018-10-17 18:29] pmarhatha opened #4766 "Intercepting of traffic based on the interface when Multus plugin is used"
Intercepting of traffic based on the interface when Multus plugin is used

Description:
For telecom apps which are utilizing the multus plugin in order to have multiple interfaces inside container / PODS , how Envoy/ Istio will intercept the traffic ? How it will identify the packets pertaining to an interface etc ?  Can envoy/istio offer features like rate limiting , timeout , error check , traci

[2018-10-17 18:33] mhite commented on #4673
We were able to resolve this issue by upgrading our Datadog Agent DaemonSet from 5.17.2 to 6.5.2. Something was magnificently wrong with either the dogstatsd implementation in 5.17.2 or the actual running state of the daemon. Things are back to normal with 6.5.2.

Now how do I get the last two weeks of my life back? 😄

[2018-10-17 18:33] #4673 closed

[2018-10-17 19:32] zuercher commented on #4766
I don't believe Envoy ever deals directly with specific network interfaces (e.g. eth0 vs eth1). It can bind Listeners to specific IP addresses, which might be good enough for your purposes. Each Listener has a separate filter chain, which makes a separate configuration for those feature possible.

[2018-10-17 19:35] zuercher commented on #4757
Seems like this would happen with gRPC or file as the LDS source as well. And also in CDS for tls_context data in Cluster.

[2018-10-17 20:38] pmarhatha commented on #4766
thanks zuercher  for your valuable inputs.How do i use the envoy filter to bind the listeners to specific IP address ? May be via  "ip tagging filter" ?  thanks in advance..

[2018-10-17 22:03] lizan commented on #3383
I think that is fine, it should match what addDecodedData for decoder path as well.

Are you trying to translate (non-well-documented) `grpc-status-details-bin` header?  If not `grpc-message` is only an utf8 string so it goes to Status.message, and details will be always empty.

[2018-10-17 23:01] htuch commented on #4457
@PiotrSikora I don't mind that much. Nobody is using these features right now, so unless there is a compelling case to make it more complicated, just make them singletons.

[2018-10-18 02:07] yangminzhu opened #4772 "Should HeaderUtility::matchHeders() also check predefined inline headers?"
*Title*: Should HeaderUtility::matchHeders() also check predefined inline headers?

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

[HeaderUtility::matchHeders](https://github.com/envoyproxy/envoy/blob/86790c2367558160282d8b0afa1c5e4698e2fed3/source/common/http/header_utility.cc#L83) gets header value from HeaderMap using the [get](https://git

[2018-10-18 03:50] ggalihpp commented on #3388
I have this exact problem, is it solved yet? where the configuration should go

[2018-10-18 04:28] snowp commented on #4405
Still interested in having this, I think a new endpoint would be good. Something easy like

[code]

which correspond to pre InitManager, during InitMananger and after all the init callbacks have run would be nice (which I think is when Envoy starts listening on its listeners?). Anything else that might be interesting to include?

Is json serialized protobuf the preferred way of outputting data now

[2018-10-18 04:46] yangminzhu commented on #4772
Ah, I see, thanks for the explanation. I will use `:authority` instead.

[2018-10-18 04:46] #4772 closed

[2018-10-18 05:04] lizan commented on #4763
Looking at [CertificateValidationContext](https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/auth/cert.proto#L113), is `trusted_ca` the only one you want to deliver from SDS? Perhaps `crl` should be delivered together? @PiotrSikora

[2018-10-18 05:05] kramerul commented on #1220
We are also interested in supporting this scenario. But in our case I think it looks a little bit different.
We would like to have an intermediate CA ( ```subca.crt``` signed by a root CA ```ca.crt```), which is not known to envoy, but envoy is aware of the root CA ```ca.crt```. It should be possible to open the connection to envoy with a client certificate ```subca-client.crt```, which is signed

[2018-10-18 06:57] cetanu opened #4775 "SSL handshake failure when specifying server_names in a filter_chain_match (1.7.0)"
Issue Summary
---------------
When specifying ANY server_names inside a filter_chain_match, envoy sends a RST immediately after receiving an SSL handshake attempt.

What does the error look like
-----------------------------
*Clientside:* Connection Reset by peer.
*Serverside:* Radio silence

Configuration to reproduce
---------------------------
The following file resides in a repo with an entire

[2018-10-18 07:50] lizan commented on #4775
From your repo it doesn't seems your client send SNI, does it? If no you will need a catch all filter chain too otherwise it will end up with no filter chain matched.

[2018-10-18 10:31] baranov1ch commented on #3383
Yes. While it is indeed non-documented, C-based runtimes and grpc-go use it for serializing status with non-empty details, so de-facto it will work in most cases. Do you think it does not worth doing?

[2018-10-18 13:01] perlun opened #4777 "docs: external auth missing service definition"
The documentation for the (Authorization Service](https://www.envoyproxy.io/docs/envoy/latest/api-v2/service/auth/v2alpha/external_auth.proto#envoy-api-msg-service-auth-v2alpha-checkrequest) has a few issues:

- The `Authorization` service itself is entirely MIA in the docs, which is strange given that it exists in the `.proto` definition file (https://github.com/envoyproxy/envoy/blob/master/api/e

[2018-10-18 13:05] cetanu commented on #4775
tavern uses the requests library which has supported SNI since version 2.2.1 on Python 3, the tests run with version 2.19.1

https://travis-ci.com/cetanu/haggard/builds/88400225

[2018-10-18 14:04] JeckyTian commented on #4373
Hi, I encountered the same error on Linux today.
To be precise, it occurs every alternative time in Docker container of Ubuntu 16.04.

[2018-10-18 14:51] cmluciano commented on #4457
@htuch To confirm, are you saying it's ok for me to drop repeated from the source_ports? Also should we rename it to be `source_port` ?

[2018-10-18 16:11] lizan commented on #4775
IIUC the yaml:
https://github.com/cetanu/haggard/blob/master/envoy/filter_chain_match/test/acceptance/test_envoy_proxy.tavern.yaml#L23
You're sending SNI with value "envoy", which doesn't match your filter chain match.

[2018-10-18 17:58] JimmyCYJ commented on #4763
cc @wattli

[2018-10-18 18:32] qiwzhang commented on #4763
@PiotrSikora @lizan raised a good point that there are other fields in CertificateValidationContext needs to be fetched from SDS.   We don't want to add many oneof with sds_config for each field that potentially could be fetched from SDS.

Please look at my proposal (with is the current state of  #[4730](https://github.com/envoyproxy/envoy/pull/4730)

It allows users to send any number of fields a

[2018-10-18 18:40] venilnoronha commented on #4735
I'd like to work on this.

[2018-10-18 18:42] htuch commented on #4457
@cmluciano I guess what I want to know now is why we care about source port at all? Is anyone using this feature?

[2018-10-18 19:02] cmluciano commented on #4457
@htuch Ah! I suppose that IS the question. I'll await more answers here / followup on #4682 before continuing

[2018-10-18 21:53] wattli commented on #4763
CRL is not something Istio security support as of now, but we want the design to be as generic as possible since Istio is not the only customer of Envoy and going forward we might support CRL as well.

@PiotrSikora , please let us know if you have better suggestions and your thought on Wayne's proposal.

[2018-10-18 23:10] #2692 closed

[2018-10-19 03:33] ramaraochavali commented on #4735
@venilnoronha How are you planning to fix this? Are you planning to introduce the config in rate limiting service configuration for this specific status and return the status accordingly or are you planning to provide a higher level config that selects one of grpc code state mapping that applies to all services/status codes?

[2018-10-19 04:53] zuercher commented on #4744
Closed in #4753

[2018-10-19 04:53] #4744 closed

[2018-10-19 09:07] mrostecki opened #4786 "check_format.py crashes infinitely when clang-format-7 is not in $PATH"
*Title*: *check_format.py crashes infinitely when clang-format-7 is not in $PATH*

*Description*:

That's the current output of `check_format.py` if the binary cannot be found:

[code]

[2018-10-19 17:31] #4710 closed

[2018-10-19 18:14] AndresGuedez commented on #4704
@htuch @mattklein123 thanks for the reviews and feedback.

I responded to comments in the doc and made some adjustments based on the feedback. I have been tied up with other work, but will be starting with implementation work on this shortly.

[2018-10-19 19:01] htuch commented on #4391
Reopening, we should do this.

[2018-10-19 19:01] htuch commented on #4391
@mandarjog are you going to drive this?

[2018-10-19 19:51] wjackson opened #4792 "tracing + 'generate_request_id: false' = segfault"
**Bug**

*Title*: *tracing + 'generate_request_id: false' = segfault*

*Description*:

When upgrading from Envoy 1.6.0 to Envoy 1.8.,0 I found that Envoy 1.8.0 segfaults when running with tracing on and ``generate_request_id`` set to ``false``.

Below is the log on segfault. I generated this using a debug build of Envoy from the v1.8.0 tag. The binary from the official docker image segfaults too b

[2018-10-19 23:47] biefy opened #4797 "Hot restarter kill sidecar immediately when current Envoy process is in INITIALIZING state"
**Bug Template**

*Title*: *Hot restarter kill sidecar immediately when current Envoy process is in INITIALIZING state*

*Description*:

When hot_restarter.py receives HUP while the current envoy process is still having `flags = INITIALIZING`, hot_restarter.py simply exit with ABORT error (this is a silent death with nothing printed to stderr).  This would kill Envoy sidecar container immediately.

[2018-10-19 23:49] biefy commented on #4797
@brian-pane This is the issue I mentioned earlier.

[2018-10-20 00:31] mattklein123 commented on #4777
cc @gsagula

[2018-10-20 00:33] #3060 closed

[2018-10-20 02:37] gsagula commented on #4777
I will look into it.

@zuercher Could you assign it to me, please? Thanks.

[2018-10-20 13:47] blaggacao commented on #96
Is there any hard design argument for NOT dis-intermediating cert-manager?

[2018-10-20 16:22] snowp opened #4800 "Turning upstream response into header only downstream response"
I've been trying to use a StreamEncodingFilter to turn a bad upstream response into a header only gRPC response that sets `grpc-message` to something useful. The point is to provide a understandable error message rather than having the gRPC client attempt to parse what I can tell from the headers is not going to be the correct format.

The problem I'm running into is that I'm not able to get the f

[2018-10-20 16:35] mattklein123 commented on #4800
Yeah, this is a reasonable thing to add. It would require some thinking on the best way to do this. Fundamentally, the filter needs to be able to change the end_stream field during propagation. This won't be trivial.

As an aside, have you tried just having the 0 length data frame sent with end stream true? I suspect most clients will deal with this correctly without complaining, but I'm not sure.

[2018-10-20 16:48] snowp commented on #4800
I think the data frame is being set with end stream true already since the upstream response doesn't have any trailers to begin with (I'm transforming http/1.1 into gRPC). The Go client in particular complains about missing trailers:

[code]

The go-grpc debug log line that I posted seems to agree (note the `flags=END_STREAM` part):
[code]

Does Envoy even allow me to modify the flags on h/2 frame

[2018-10-20 21:08] #4414 closed

[2018-10-21 02:36] mattklein123 commented on #4800
OK, nevermind then. :)

No, we will have to make a code change as you suggest.

I think what you are proposing would work, but I wonder if it would be simpler to have this be a return code from decode/encode headers. Basically something like "continue iteration and end stream." This would avoid introducing another callback function. @alyssawilk WDYT?

[2018-10-22 14:13] alyssawilk commented on #4800
Yeah, I think adding a response code or changing bool end_stream -> bool& end_stream is the way to go.  The one other thing we'll have to be careful about is either draining or closing the upstream connection if we send a local end stream without consuming the whole HTTP/1.1 error body.

[2018-10-22 15:32] mattklein123 opened #4815 "header map: allow extensions to statically register O(1) headers"
Right now if we want an O(1) header it has to be added to the core header map. This is unfortunate for extension writers who might want this perf boost but either can't add it due to private code, or as we move away from having extensions modify the core code in any way, will be blocked from adding it.

I believe it should be possible to allow extension O(1) headers to be added. A rough implementa

[2018-10-22 16:59] JimmyCYJ commented on #4763
Hi @PiotrSikora , could you provide some feedbacks and let us know your concerns about #4730?

[2018-10-22 21:47] PiotrSikora commented on #4763
@wattli @JimmyCYJ @qiwzhang Per the discussion we had last week, trusted CA delivery for Istio can be implemented as either:
1) Trusted CA (and CRL) being delivered via SDS from NodeAgent and referred to in LDS/CDS from Pilot (i.e. this PR). This requires a new message containing trusted CA and CRL, and potentially some refactoring of the existing APIs, but is more of less what I suggested in http

[2018-10-22 23:03] htuch commented on #4704
LGTM, anyone else wants to weigh in before we move forward? CC @envoyproxy/maintainers

[2018-10-22 23:05] venilnoronha commented on #4735
I'm thinking in the direction of a generic status mapping approach, as there are a few statuses that map to `UNAVAILABLE`. See https://github.com/grpc/grpc/blob/master/doc/http-grpc-status-mapping.md.

[2018-10-22 23:56] #4623 closed

[2018-10-23 01:05] berlinsaint opened #4824 "Allow changing prefix of xDS REST URLs"
**Issue Template**

*Title*: *One line description*

*Description*:
 when implement xDS service myself, for example , i will implement interface` POST /v2/discovery:clusters`
, when integrate it to our code , for some reasons, we must give it a urlprefix,  `/api/v2/discovery:clusters`,
so how can i configure this prefix in the `envoy.yaml`, i find that only support for` ip`, or a` hostname`, not s

[2018-10-23 01:52] lizan commented on #4735
Looks like gRPC C core does map 429 to `RESOURCE_EXHAUSTED`:
https://github.com/grpc/grpc/blob/master/src/core/lib/transport/status_conversion.cc#L82

But Java and Go does map 429 to `UNAVAILABLE`:
https://github.com/grpc/grpc-java/blame/master/core/src/main/java/io/grpc/internal/GrpcUtil.java#L305
https://github.com/grpc/grpc-go/blob/cfb96008516cbda549042f43fdd23befea331172/internal/transport/htt

[2018-10-23 02:34] PiotrSikora commented on #4763
I just remembered that CRLs can be provided (once #4825 is merged) as part of trusted CA (i.e. for a file-based data source, CA list and CRL list can be concatenated and loaded with trusted CA), so perhaps we can ignore the separate CRL field for the purpose of SDS? What do you think, @lizan?

[2018-10-23 07:10] tonya11en opened #4826 "Add priority level LB stats"
*Title*:
Add Priority level LB stats.

*Description*:
It's my understanding that there are currently no stats that indicate when traffic has begun to trickle to lower [priority levels](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/load_balancing.html#priority-levels). I've taken a first pass at implementing this, but that approach [plumbs a stats scope down from the cluster manag

[2018-10-23 07:39] huxiaobabaer opened #4827 "[Question]Health check return 400 when sending request to envoy"
*Title*: *Health check return 400 when sending request to envoy*

*Description*:
I placed envoy in front of my application and listening port 8306.
It returns 200 when i use curl cmd to check health
`> curl -s -w %{http_code} -o /dev/null http://localhost:8306/apps/newlogin.do`
`200`

But  when i added it to zeus load balance (Stingary) pool and configure health check , it returns 400。
There is th

[2018-10-23 07:46] huxiaobabaer commented on #4523
Any update on this? TKS

[2018-10-23 08:49] ramaraochavali commented on #4735
@lizan Yes, We should check with gRPC maintainers and sort that confusion. On the Envoy side implementation instead of doing specific status code mappings at specific services as needed, can we have couple of well known mappings and allow the user to choose one via CLI/bootstrap? This may be more generic than implementing some thing specific to rate limit. WDYT?

[2018-10-23 10:10] lizan commented on #4735
@ramaraochavali Given the only deviation is mapping of HTTP 429 Too Many Requests, I doubt there is a need for generic code mapping override. IMO making rate limit service respond custom status code is more usable in long term, just like we added header there before.

[2018-10-23 10:28] ramaraochavali commented on #4735
@lizan See the status mapping here in Envoy https://github.com/envoyproxy/envoy/blob/15706964a29e595c045a5d7ef0646d04f347dcc1/source/common/grpc/status.cc#L6. It maps currently maps 429, 502,503 and 504 to UNAVAILABLE as per https://github.com/grpc/grpc/blob/master/doc/http-grpc-status-mapping.md. However this https://cloud.google.com/apis/design/errors#generating_errors maps 504 to DEAD_LINE_EXCE

[2018-10-23 13:30] futangw commented on #3566
@mattklein123
If the CDS file without host, the envoy would memory leak. i'm using envoy 1.6.
example cds file:
version_info: "0"
resources:
- "@type": type.googleapis.com/envoy.api.v2.Cluster
  name: grpc1
  connect_timeout: { nanos: 250000000 }
  type: STRICT_DNS
  lb_policy: ROUND_ROBIN

- "@type": type.googleapis.com/envoy.api.v2.Cluster
  name: grpc2
  connect_timeout: { nanos: 250000000 }

[2018-10-23 13:38] perlun opened #4829 "ext-authz not honoring connect_timeout"
I am using the ext-authz filter using an http_filters setting like this:

[code]

The cluster looks like this:

[code]

However, Envoy still seems to use the default timeout of 200ms, by looking at the timestamps (this is from Envoy started with `loglevel=debug` in my `docker-compose.yml` file):

[code]

Am I missing something obvious here or is this a bug in Envoy?

This causes the first request

[2018-10-23 13:57] auni53 opened #4830 "Deprecate buffer filter timeout"
*Title*: *Mark buffer filter timeout as deprecated*

*Description*:

Pending #4456. Someone assign this to me please.

[2018-10-23 14:29] nickolaev commented on #3484
I believe that after merging #4570 and closing #3060, this one is obsolete.
@mattklein123 shall we close it?

[2018-10-23 14:53] #4076 closed

[2018-10-23 15:03] mattklein123 commented on #3484
Yup, thanks.

[2018-10-23 15:03] #3484 closed

[2018-10-23 15:32] mattklein123 commented on #4826
Instead of directly modifying the cluster stats, I would maintain a separate array of dynamically allocated stats inside of the PrioritySet for each cluster, and then access that through the cluster info in the LB (roughly). This avoids having to plumb through the scope everywhere and avoids a dynamic stat look up on each LB attempt. I didn't look into the code in detail but I think this would be

[2018-10-23 15:34] mattklein123 commented on #4824
IIRC this is not currently possible but could be added. I thought that maybe a hack/workaround would be to proxy XDS through Envoy itself and do a prefix rewrite, but I don't think that will work well during startup.

[2018-10-23 15:37] alyssawilk commented on #4827
Is your /apps/newlogin.do request missing a Host header?  I believe Envoy requires the Host header be present for HTTP > 1.0

[2018-10-23 15:39] georgi-d opened #4832 "https_redirect does not correctly handle presence of a port in the request Host header"
When a route action is configured to do https_redirect and a request is send with a port specified in the Host header the port is preserved in the response leading to incorrect behavior.

*Repro steps*:
- Configure a route to do https_redirect
- send a request which includes Host header with port `:80` in it.

[code]

It can be seen that the original port 80 was pereserved in the Location header.

[2018-10-23 15:45] zyfjeff commented on #4832
I don't think this is a problem, if HTTPS in a non-default port work, remove the port number in the Host also can cause problems.  to the following this way, whether can you solve the problem?

`curl -v http://localhost:80/redirect_to_https   -H "Host: localhost"`

[2018-10-23 15:47] zyfjeff commented on #4832
I don't think this is a problem, if HTTPS in a non-default port work, remove the port number in the Host also can cause problems. But can be optimized place is for the default port 80 can be removed.

[2018-10-23 16:00] dnoe commented on #4829
Looking at the code, I think you want to specify the timeout in the `grpc_service` associated with the filter config, not as `connect_timeout` in the cluster. Something like:

[code]

[2018-10-23 16:35] nickolaev commented on #4832
Hmm maybe you could just add `port_redirect: 443`?

[2018-10-23 16:59] georgi-d commented on #4832
This will work but it is a workaround. We should at least handle the trivial 80 -> 443 case with the `https_redirect`

What I saw is that `curl` does not put the port in the Host header by default when the port is 80 but python urllib does. Due to this I hit this very unexpectedly because the curl based tests were working while the python based tests were failing.

[2018-10-23 20:45] abhi9git opened #4834 "Envoy Ext Auth Filter does not add/modify original headers in the client in v1.6"
*Description*:

Notes:
1. auth svc is a GRPC service
2. Client is a rails app.

*Config*:
Ingress listener
{
                      "name": "envoy.ext_authz",
                      "config": {
                        "grpc_service": {
                          "envoy_grpc": { "cluster_name": "auth" }
                        }
}

cluster:
"name": "auth",
"connect_timeout": "0.25s",
"type": "EDS",

T

[2018-10-23 20:55] huxiaobabaer commented on #4827
Can we configure to allow host header missing? Thanks

[2018-10-23 21:00] cdelguercio commented on #3724
I'm running into this problem as well, but a gRPC endpoint that only streams from the server side.

rpc Subscriber(SubscriberRequest) returns (stream SubscriberResponse)

What's also strange is that I only have issues when using the Python client; the Go client works fine. Anyone have any insight into why?

[2018-10-23 21:02] alyssawilk commented on #4827
Not currently.  The HTTP connection manager allows configuring a default host for 1.0 but there was resistance to allowing a default host for HTTP > 1.0 as it does violate the HTTP/1.1 spec.  I'd support it being added as a default-off as I think that there's enough non-standards compliant HTTP/1.0 but you'd have to convince the community it's worth adding as I lost that argument myself over in #2

[2018-10-23 21:29] gsagula commented on #4829
Actually, I think it's a bug. `timeout` is not being picked up anywhere. @mattklein123 could you assign it to me, please?

[2018-10-23 21:31] gsagula commented on #4829
It's not a bug.

[2018-10-23 21:38] kyessenov commented on #3250
Does anyone know if there's been any progress on this issue?

[2018-10-23 22:03] mattklein123 commented on #3250
I talked to @alyssawilk about this recently and I think we roughly sketched out an implementation. Not sure of timelines but it sounds like someone from Google might implement this.

[2018-10-24 00:50] snowp opened #4837 "Exclude non-matching localities in subset LB"
We're using the subset lb with locality weights, and ran into an issue where where requests would fail when a subset excluded an entire locality. For example:

[code]

The subset matching A results in:
[code]

and as a result 50% of requests fail because they get routed to L2.

A thing to note is that in the case where a subset ends up with an empty LB, this assert triggers: https://github.com/env

[2018-10-24 00:59] #4792 closed

[2018-10-24 01:06] mattklein123 commented on #4834
Please use 1.8.0/current master. There has been a lot of changes since the version you are using.

[2018-10-24 02:17] huxiaobabaer commented on #4827
Thank you very much for this explanation.
I added this in configure file
`default_host_for_http_10: unknown_host:8306 `
Still 400.
Log changes to
[code]

[2018-10-24 03:50] snowp commented on #4837
A thing to note is that in the case where a subset ends up with an empty LB, this assert triggers: https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/upstream_impl.cc#L276

This makes me think that the better solution might be to adjust the locality load in this case (maybe behind a flag?) instead of having people accidentally running into this `ASSERT`.

[2018-10-24 13:01] alyssawilk commented on #4827
Yes, as I said the default host will only apply to HTTP/1.0 requests. It will not help for HTTP/1.1 which is likely what you are sending.
I believe you need to make sure your health checks have a host/authority header.

[2018-10-24 13:15] adriancole opened #4839 "Add support for sending data in Zipkin v2 format"
*Title*:  Add support for sending data in Zipkin format

*Description*:
It would be really helpful to support sending data in zipkin v2 json for reasons of efficiency and reduced tech debt in trace data pipelines. This could go alongside the existing functionality. While proto3 is even more efficient, it could be optional as most don't use that.

---

Zipkin's data format has been historically cri

[2018-10-24 15:04] snowp commented on #4837
Put up https://github.com/envoyproxy/envoy/pull/4840 as an example of how 2) can be implemented

[2018-10-24 15:18] abhi9git commented on #4834
Thanks @mattklein123. It seems to work with the latest envoy binary on docker. Can I find Envoy 1.8 build somewhere?

[2018-10-24 15:39] alyssawilk commented on #3250
Well my question for Matt had been if we could replace 1 with 2 (in the context of wanting custom filter chains, and custom filter chains being 'dangerous' with 1 since you'd not get the new filter chain) and the answer I got was 'probably not' since some folks probably actually want the preexisting behavior, so we'll have to document to not use (theoretical) custom filter chains with style-1 rout

[2018-10-24 16:11] alyssawilk commented on #4826
The one other suggestion I'd make is that this be configured on/off - I'm a big fan of detailed backend stats, but I know of deployments where folks opt to have fewer stats for memory/cpu/monitoring savings.

[2018-10-24 16:28] huxiaobabaer commented on #4827
I feel confused i am using http1.0 or http1.1
Per your analysis, i am using http1.1, but if i **removed** accept_http_10 = true in envoy config
[code]

Log shows 426 <Require upgrade>.
[code]

[2018-10-24 21:17] lizan commented on #4763
I prefer this or the whole CertificateValidationContext from NodeAgent via SDS. (i.e. not breaking CertificateValidationContext). On the second thought, via SDS actually make more sense. It is more efficient when there are changes to secure naming mapping, delivering via SDS wouldn't draining connection from cluster/listener.

IIRC, having pilot delivering secure naming mapping is an interim solut

[2018-10-24 21:28] #4289 closed

[2018-10-24 23:18] htuch commented on #4837
@snowp I'm thinking (2) sounds sane, but I wonder about edge cases. For example, imagine a locality L2 in your above example that has zero hosts in one EDS update, and then gains a single host in the next. We go from 100% traffic to L1 to 50% of traffic to L1 and 50% to L2, which seems a bit step function. Maybe this corner case isn't super interesting in your case, but just throwing it out there.

[2018-10-24 23:36] snowp commented on #4837
Yeah, we're somewhat safe from that my aligning localities with subsets. While someone could set up a locality with only one host in it, that's not specific to the subset lb.

Would you be more comfortable if I put this behind a flag?

[2018-10-25 00:51] daurnimator commented on #3469
help wanted

[2018-10-25 02:32] futangw commented on #3566
@ggreenway @mattklein123 I had confirmed even with 'hosts: []' in cds file, the memory leak also exists.

[2018-10-25 04:34] snowp commented on #4837
One option that comes to mind in order to smooth out the change in LB is to scale the weight of each locality with (number of hosts in filtered locality / number of hosts in original locality). Then, in the case you mentioned you get:
[code]

which gets you a 66/33 split between the two localities. This would work for our case since we'd always have 0 as the numerator and would help even out the l

[2018-10-25 05:19] itayd commented on #2797
Heads up, first PR inbound: https://github.com/envoyproxy/envoy/pull/4852. This brings the assign module in.

[2018-10-25 07:51] exiaohao opened #4854 "Envoy cannot parse non-alphanumeric characters if not urlencoded"
*Description*:
Enovy cannot parse Chinese characters in GET requests. (I not sure if other request method have same problem)

*Envoy version*
`82e3541b0cd847724d5088e888ea90fc3f0cb418/1.8.0-dev/Clean/RELEASE`

When envoy received a GET request with Chinese characters like this:
[code]

Envoy log:
[code]

It seems that envoy cannot parse requests with non-urlencoded Chinese characters.

I know http

[2018-10-25 08:56] perlun commented on #4829
@gsagula @dnoe Thanks! Like you say, it works correctly when you configure a `timeout` instead of ` connect_timeout`. I've added a docs PR to try and clarify this a bit: https://github.com/envoyproxy/envoy/pull/4853

Closing this issue, greatly appreciated your quick answers. :+1:

[2018-10-25 08:56] #4829 closed

[2018-10-25 09:22] ramaraochavali opened #4855 "retry of rate limited requests"
Currently Envoy returns `UnAvailable` to client if a request is rate limited by the rate limited service. However if client Envoy's retry policy says  that `UnAvailable` requests need to retried, the rate limited request will be retried. And once https://github.com/envoyproxy/envoy/issues/4735, we could probably configure it to return `RESOURCE_EXHAUSTED`, But `RESOURCE_EXHAUSTED` can it self be a

[2018-10-25 10:57] gleb-s commented on #3388
Hi, having the same problems. Could not understand, how to combine those configs.
Please someone share the example of configuring the rate limiter. There is nothing helpful in google regarding this.
Thanks!

[2018-10-25 14:08] #4513 closed

[2018-10-25 15:12] berlinsaint commented on #3218
the same issue , this indeed show anything when run multi instanace of envoy on the same host with host mode.
show nothing, it indeed not friendly , make me very annoyed

[2018-10-25 15:55] #921 closed

[2018-10-25 16:12] mattklein123 commented on #4855
@ramaraochavali at Lyft we don't run into this as we do very limited rate limiting between services in the mesh (mostly use rate limiting at the edge), but agree this is something we can handle better. I agree something like an x-envoy-ratelimited header could make sense here, or potentially a retry policy that handles this better? Feel free to put together a proposal!

[2018-10-25 16:37] snowp opened #4859 "Improving other_host retry plugin interaction with RR lb policy"
The `other_hosts` retry plugin attempts to select another host N times (configurable) until it finds a host that hasn't been attempted before. There is a degenerate case here when using the RR LB:

Consider a scenario where all the endpoints in a cluster have been attempted (ie this is not the first set of retries) and still have several retry attempts remaining. Let the number of endpoints be 2,

[2018-10-25 16:49] snowp commented on #4859
Filed this because I've know about it for a while but haven't gotten around to fixing it. I'll get to it eventually, but if someone else is interested the fix should be pretty simple.

[2018-10-25 17:31] htuch commented on #4837
@snowp maybe the system assigning weights should also be aware of the number of healthy endpoints in the locality and do this calculation itself? I think that would also avoid the adverse situation I described by not maintaining 50/50. Of course, that doesn't work when you have Envoys themselves HCing vs. a centralized HC and health status via EDS. Which situation do you have?

[2018-10-25 17:47] snowp commented on #4837
We have Envoys health checking.

Don't we already account for % of health hosts in a locality here https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/upstream_impl.cc#L271 ?

Sounds like we're talking about two different issues: scaling locality weight based on host *health*, and scaling locality weight based on host *presence* due to being filtered out by the subset LB.

I thi

[2018-10-25 18:11] lizan commented on #4706
addressed in #4666

[2018-10-25 18:11] #4706 closed

[2018-10-25 18:36] mattklein123 commented on #4854
No, not currently. This would require a change to upstream http_parser which I think would end up being very difficult to get them to take.

[2018-10-25 18:52] HappyStoic commented on #3388
@Asisranjan @ggalihpp  @gleb-s
Hi guys, sorry for my late response.
The configuration you're mentioning is configuration of your rate limit service (service the envoy connects to). In this case [reference implementation](https://github.com/lyft/ratelimit) by lift. You can see how to proceed with configuration in their documentation.

Basically if you start the rate limit service with provided step

[2018-10-25 19:20] #4421 closed

[2018-10-25 20:04] itayd commented on #2797
@cmluciano not yet - i'm busy writing the new modules per the sow. when these are operational, next step is docs (after some refactoring i have in mind that might affect docs).

that said - you can have a go at it now, play with it in envoybot - you can use the existing modules for examples and you can always ask me questions.

[2018-10-25 21:52] mattklein123 commented on #373
Per previous comment, calling this done. We can track further overload actions in new issues.

[2018-10-25 21:52] #373 closed

[2018-10-25 21:54] mattklein123 commented on #4599
@qiannawang are you planning on doing another PR for network filters as well?

[2018-10-25 21:54] mattklein123 commented on #4643
Done

[2018-10-25 21:54] #4643 closed

[2018-10-25 21:55] qiannawang commented on #4599
Yes. Do you have any suggestion of the change to network filters?

[2018-10-25 22:05] mattklein123 commented on #4599
I would put a similar deprecated boolean field here: https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/listener/listener.proto#L157 to go along with the filters?

[2018-10-25 22:18] htuch commented on #4837
@snowp yeah, that actually seems pretty nice, I misunderstood in the above reply. Do any other @envoyproxy/maintainers or other community members want to opine before we commit?

[2018-10-25 23:14] #4427 closed

[2018-10-26 00:14] #4203 closed

[2018-10-26 01:32] #4762 closed

[2018-10-26 01:33] #4786 closed

[2018-10-26 01:55] lizan opened #4863 "fix clang-tidy reported errors on master"
*Description*:
clang-tidy runs against diffs in CI, but it will caught all errors on the lines the PR author touched. Ideally we should make a full clang-tidy run error free.