[2017-03-31 16:34] htuch commented on #467
Can we close this given #415? For dev and test builds, we can use dynamic linking for both tests and the Envoy binary, which seems fast enough with gold. The static link for release and CI use doesn't really need to be the that fast.

[2017-03-31 16:39] mattklein123 commented on #467
Sure sounds good. Closing.

[2017-03-31 16:39] #467 closed

[2017-03-31 17:49] mattklein123 opened #664 "C++14/17 upgrade compiler requirements"
There are some features in 14/17 that would be useful. It's unclear what is a reasonable minimum compiler version. We should start thinking about what an upgrade path would look like, first probably to 14.

[2017-04-01 22:34] #637 closed

[2017-04-01 23:11] mattklein123 commented on #614
Fixed by https://github.com/lyft/envoy/pull/655

[2017-04-01 23:11] #614 closed

[2017-04-01 23:16] htuch opened #673 "Make namespace end comments more consistent"
In various places we have

[code]

in others we have

[code]

This would be best to make consistent. In recent versions of `clang-format` (https://clang.llvm.org/docs/ClangFormatStyleOptions.html) this can be enforced automatically with the `FixNamespaceComments` option. The version in the Docker CI image is too old, so we need to upgrade this first.

[2017-04-01 23:21] htuch commented on #664
It would be good to spec out both a valid version of `clang` and `gcc` at the same time. `clang` would be good for #443 and saner compiler error messages.

[2017-04-01 23:22] mattklein123 commented on #664
Agreed. Let's discuss soon.

[2017-04-02 00:02] dnoe commented on #664
This will be useful: http://en.cppreference.com/w/cpp/compiler_support

Looks like the minimum to support all C++14 features is GCC 5.0/Clang 3.4.
The minimum to support all C++17 features is GCC 7, and Clang supports everything but splicing maps and sets as of version 5 which is not yet formally released.  Almost all of the C++17 features are available by version 4, however, so we might want to p

[2017-04-02 00:59] htuch commented on #664
That's a neat resource. I'd also be interested in understanding the baseline `lib[std]c++` version for various features. I think the regex issue in earlier versions of `gcc` isn't just about compiler version but also `libstdc++` support.

I hit this when trying to build and test with Clang 3.4 and the older `libstdc++` on my workstation. Usually the compiler and standard libraries are somewhat clo

[2017-04-02 01:31] mattklein123 commented on #664
Yes, it's incredibly frustrating. For example, GCC 4.8 will compile std::regex but then it crashes at runtime.

I think C++17 is probably too new, but starting to allow C++14 seems reasonable if we want to have a minimum of GCC 5.

[2017-04-02 03:03] dnoe commented on #664
Looks like there is an option to statically link libstdc++ as of gcc 4.5
with the -static-libstdc++ compiler option.  This maybe a possible solution
especially since  I understand the default is to statically link Envoy
anyway. I think it is possible for Clang as well (on Linux) with a
different option.

On Apr 1, 2017 21:31, "Matt Klein" <notifications@github.com> wrote:

Yes, it's incredibly fru

[2017-04-02 12:21] htuch commented on #664
Yeah, that will decouple from the runtime environment but we still need to ensure the toolchain itself has the right library - standard installs will likely but it's possible to get into weird situations when you have multiple toolchains on the same machine and they either share libraries or flags are incorrectly set. So, as long as we specify clearly the baseline versions of `lib[std]c++` I think

[2017-04-02 18:03] mattklein123 commented on #664
The cmake build already statically links libstdc++ for this reason. Presumably the bazel build does also, but I haven't been tracking how close we are to parity there yet.

[2017-04-02 18:05] htuch commented on #664
Not yet with Bazel, it's only linking in "mostly static" configuration right now, I'll take an action item to add this in the next few days.

[2017-04-03 23:05] mattklein123 commented on #312
@danielhochman can you work on this as another warm up task.

[2017-04-03 23:06] danielhochman commented on #312
will do @mattklein123

[2017-04-03 23:06] mattklein123 commented on #336
@danielhochman another useful warm up

[2017-04-03 23:07] mattklein123 commented on #454
@danielhochman there is already an internal JIRA tracking this one.

[2017-04-04 08:40] abadiaharon opened #683 "Does Envoy support TCP proxy?"
Hello can you please let me know if Envoy support TCP proxy? I saw that external clients can connect to the “Front” Envoy Edge Proxy using HTTP,TLS. Can you please let me know if there is any possibility for external clients to connect using TCP connection? Some kind of HAProxy replacement. For example:
============================================
  request                 forwarded
tcp ip:port

[2017-04-04 08:42] #683 closed

[2017-04-04 08:44] abadiaharon opened #684 "Does Envoy support TCP proxy?"
Hello can you please let me know if Envoy support TCP proxy? I saw that external clients can connect to the “Front” Envoy Edge Proxy using HTTP,TLS. Can you please let me know if there is any possibility for external clients to connect using TCP connection? Some kind of HAProxy replacement. For example:

Request tcp ip:port
                0.0.0.0:7000
Forwarded  tcp ip:port
               192.168

[2017-04-04 12:45] richarddli commented on #568
I think there's value in both HOWTOs and FAQs. A lot of people we speak with don't understand why you need a L7 proxy and aren't familiar with a service mesh.

So answering the question of "Why would I want to use Envoy?" in a non-feature-oriented way, e.g., "if you have a network of services, you're going to need observability and resilience, and you want to do this in a way that's transparent-is

[2017-04-04 13:48] dnoe commented on #568
I think this is a great idea, a good starting point is just turning the
What is Envoy page (
https://lyft.github.io/envoy/docs/intro/what_is_envoy.html) into a Q&A
style document.  I can take a first crack at that some time today.  Then
users will have questions that aren't in the FAQ and we can add the answers
once we know what new users are curious about.

I did not find any of the YouTube video

[2017-04-04 14:07] richarddli commented on #568
Not sure how many people like transcripts, but for that talk, the transcript is also here: https://www.microservices.com/talks/lyfts-envoy-monolith-service-mesh-matt-klein/.

[2017-04-04 15:00] mattklein123 commented on #684
Yes, Envoy supports TCP proxy. Overview with links to config details here: https://lyft.github.io/envoy/docs/intro/arch_overview/tcp_proxy.html

[2017-04-04 15:00] #684 closed

[2017-04-04 15:40] mattklein123 opened #686 "config: make error messages less bad"
There are 2 major issues right now:

1) There are no line numbers that get associated with a JsonException. This is fixable if we switch to using the SAX API and build the DOM directly. Then we can feed in the config file one line at a time.

2) Some of the error messages output either by the main parser or the schema validator are terrible. In particular the schema validator. We need to look at t

[2017-04-05 00:48] junr03 commented on #658
@vijayendrabvs both alpine images are getting built, tested, and pushed in ci.

[2017-04-05 00:48] #658 closed

[2017-04-05 02:15] mattklein123 commented on #620
fixed in https://github.com/lyft/envoy/pull/643

[2017-04-05 02:15] #620 closed

[2017-04-05 02:16] mattklein123 commented on #539
fixed by https://github.com/lyft/envoy/pull/630

[2017-04-05 02:16] #539 closed

[2017-04-05 18:05] vijayendrabvs commented on #658
Thanks @junr03 ! However, when I checked the lyft dockerhub repo, I realized I had missed out adding these two lines in the patch -

[code]
in ci/docker_push.sh, so docker pull lyft/envoy-alpine will fail thus -

[code]

Can I submit a quick patch with the above two lines in a separate PR? Sorry for the inconvenience.

Also, can a note be added in the envoy tutorials to make a mention of the alpin

[2017-04-05 18:56] #573 closed

[2017-04-05 19:23] dnoe opened #704 "ContextImplTest fails if it has been more than one day since last clean build"
The ContextImplTest failed for me this afternoon:

test/common/ssl/context_impl_test.cc:93: Failure
Value of: 15 == context->daysUntilFirstCertExpires() || 14 == context->daysUntilFirstCertExpires()
 Actual: false
Expected: true

It has been about a day since I last did a bazel clean, so it appears the problem is that the SSL certs are no longer expiring in the expected timeframe.  I will fix this

[2017-04-05 19:29] htuch commented on #704
This tests could use a `setup_cmds` to run a script for a custom cert that gets regenerated each time. I don't want to rebuild all certs, since we should not trigger other tests to rerun.

[2017-04-06 01:27] moderation opened #705 "Consider supporting newer TLS cipher suites"
https://github.com/lyft/envoy/blob/master/source/common/ssl/context_config_impl.cc specifies supported cipher suites for Envoy.

The recent Go 1.8 release included support for the CHACHA20_POLY1305 cipher suites.

The following modern cipher suites are recommended by the [Mozilla SSL Configuration Generator](https://mozilla.github.io/server-side-tls/ssl-config-generator/)
[code]
BoringSSL support

[2017-04-06 16:56] moderation commented on #705
Have done some testing and the following ChaCha ciphers result in a  runtime failure
[code]
Error
[code]
In theory BoringSSL [supports these ciphers](https://boringssl.googlesource.com/boringssl/+/2924/include/openssl/tls1.h#602). Will do further testing.

[2017-04-06 18:46] kflynn opened #710 "Consider publishing a debug build along with the release build"
Since the release builds turn off `trace` and `debug` logging, but those loglevels can be helpful for debugging things in development, publishing a debug build might make things easier for development.

[2017-04-06 20:35] mattklein123 commented on #404
https://github.com/htuch/envoy-consumer

Need to figure out how/where to make the official.

[2017-04-06 20:36] mattklein123 commented on #625
@htuch let's use this issue to track a general refresh of the contribution guidelines. We can discuss offline and then do a proposal here.

[2017-04-07 17:00] htuch commented on #415
Documenting the observed existing cmake build flags for different build types so we can then determine what the Bazel equivalents should be:

debug: `-DDEBUG -DTCMALLOC -ggdb3 -fno-omit-frame-pointer -Wall -Wextra -Werror -Wnon-virtual-dtor -Woverloaded-virtual -Wold-style-cast -std=c++0x -O0 -Winvalid-pch`

normal: `-DNDEBUG -DTCMALLOC -ggdb3 -fno-omit-frame-pointer -Wall -Wextra -Werror -Wnon-vi

[2017-04-07 17:05] htuch commented on #415
So, the common cmake flags (which are also discoverable from `common.cmake`) are: ` -ggdb3 -fno-omit-frame-pointer -Wall -Wextra -Werror -Wnon-virtual-dtor -Woverloaded-virtual -Wold-style-cast -std=c++0x -Winvalid-pch`

Each build type then adds the following..

debug: `-DDEBUG -DTCMALLOC -O0`
normal: `-DNDEBUG -DTCMALLOC -O2`
server_only: `-DNDEBUG -DTCMALLOC -O2` (this is really just normal wit

[2017-04-07 17:07] htuch commented on #415
As link options, `-static-libstdc++ -static-libgcc` are also set across all build types.

[2017-04-07 18:04] mattklein123 opened #718 "ci: push CI coverage results to S3/other"
We just compute % right now for pass, but the actual HTML results are not saved as build artifacts.

[2017-04-07 18:19] htuch commented on #415
Remaining items before Bazel hits cmake parity (at the request of @mattklein123, putting it here as I can't edit the top-level comment):

- [ ] Setup desired production, debug, fastbuild, asan, etc. build flag and build types. Document how to get a stripped, optimized production build.
- [ ] Coverage builds with Bazel
- [ ] tcmalloc and gperftools external dep.
- [ ] Figure out why ASAN tests fail

[2017-04-07 20:53] twoism opened #721 "Add retry policies for gRPC error codes"
From the [documentation](https://lyft.github.io/envoy/docs/configuration/http_filters/router_filter.html#x-envoy-retry-on) on retries, the `x-envoy-retry-on` header can be configured for handling `HTTP` status codes like `5XX` and `4XX`. This works great for `HTTP` services. However, with `gRPC` all `HTTP` status codes (if the server is running properly) will return a `200 OK`. The actual error co

[2017-04-08 00:38] mattklein123 commented on #721
This makes sense to me. @louiscryan @lizan @fengli79 @ctiller do you have any thoughts comments on this?

[2017-04-08 01:23] mattklein123 commented on #704
fixed by https://github.com/lyft/envoy/pull/723

[2017-04-08 01:23] #704 closed

[2017-04-08 02:52] fengli79 commented on #721
Make sense to me, also need to clarify whether these headers will be eliminated by envoy or will be propragated to next hop in a multiple layers proxying case.
A per URL config in envoy is also a good complementary.

[2017-04-08 10:12] htuch commented on #415
@lizan You mentioned in an early comment that Bazel does well "especially for attaching debuggers". @mattklein123 and I were wondering what the best practice is for getting an interactive `gdb` session with a Bazel test, do you know? I'm familiar with `--run_under`, but there is no stdin so you have to script `gdb` for that.

[2017-04-08 15:58] fengli79 commented on #415
For debugging, I think the best experience is use eclipse cdt instead of a
gdb script. That will need a make file which works locally instead of in a
docker container. Today, I have to install all the dependencies manually,
and it's cumbersome. Ideally it should be initialize all submodules and
make. All envoy dependencies are able to be downloaded by git already.
On Sat, Apr 8, 2017 at 3:12 AM ht

[2017-04-08 16:03] htuch commented on #415
Thanks @fengli79. I don't think it will fly to tell developers to use Eclipse, many (including myself) prefer standard CLI tools for their development flow (without getting into religious wars over IDEs vs. editors). We also have no immediate plans to have a make file going forward, we want a 100% native Bazel build now that we've invested the time in getting to this point.

[2017-04-08 22:02] ctiller commented on #721
Probably worth thinking through how this interacts with
https://github.com/grpc/proposal/blob/master/A6-client-retries.md.

@markroth probably has some thoughts.

On Fri, Apr 7, 2017, 7:52 PM Feng Li <notifications@github.com> wrote:

[2017-04-08 23:03] kyessenov opened #726 "hot restart: a config error in the child causes the parent to never initialize"
From gitter:
it seems that when a child envoy has a broken config, the parent initialization does not complete. That is if epoch 1 starts and then quits due to config error, epoch 0 remains in initialization phase, and no future restart is possible. Here is a sample log https://gist.github.com/kyessenov/04e8dca3f5b176683fa219d3dca27cf3

[2017-04-09 01:01] lizan commented on #415
You can always use `gdb` with bazel test binaries, e.g. `gdb bazel-bin/test/server/server_test`, of course this runs test out of sandbox. I usually use `gdbserver` with CLion attached to it.

[2017-04-10 03:52] mattklein123 commented on #415
@lizan I believe that will not work for tests that require setup commands, env vars, etc. Is that not the case? I think it's a blocker if we cannot easily run gdb against all tests, including ones that have setup.

[2017-04-10 11:48] htuch commented on #415
@mattklein123 It will work as long as we don't need the `setup_cmds` business in the `envoy_cc_test`. I think we need to get rid of `setup_cmds` in any case to build a single unified test binary for https://github.com/bazelbuild/bazel/issues/1118, so I'll look at this today.

[2017-04-10 20:26] lizan commented on #415
@mattklein123 For tests require setup commands you might need to setup env vars manually, but it should run if you do that.

@htuch For coverage, I don't think you need a single unified test binary. FYI, we have bazel run multiple nginx-tests (perl tests runs nginx binary, all bazel built) and aggregate them into one. However, it needed some hacks, so it would be nice to see it can be solved from

[2017-04-11 14:45] hennna opened #730 "Additional features for the Route Table Check Tool"
v1 of the route table check tool can be found at https://github.com/lyft/envoy/pull/682. The original issue discussion can be found at https://github.com/lyft/envoy/issues/538.

The features that have been identified to be included in v2 are:

1. auto_host_rewrite
2. valid runtime value support
3. allow users to load a full config and extract the route configuration from it

[2017-04-11 16:27] fengli79 opened #733 "heap-use-after-free when shutting down envoy."
[code]

I get a tsan heap use after free error. Which happens when shutting down envoy with sigterm.

[2017-04-11 17:04] mattklein123 commented on #733
@fengli79 per offline discussion are you going to post PR to fix? Otherwise I can do it.

[2017-04-11 17:19] fengli79 commented on #733
Yes, I'm going to submit a PR to fix this.

[2017-04-11 17:58] mattklein123 commented on #172
I'm going to close this as won't fix until there is a compelling reason to implement.

[2017-04-11 17:58] #172 closed

[2017-04-12 17:20] tschroed opened #743 "Support protobuf logging"
Initial change in. Items remaining:

- [ ] Docs
- [x] RequestInfo time cleanup and populate remaining fields
- [ ] Stats
- [ ] Plumb sample rate through from runtime filter to access log
- [x] Allow ability to set custom metadata from filters into access log and then send it as part of log (e.g., user ID, etc.).
- [ ] Populate TLS properties into access log
- [x] support HTTP custom request/respon

[2017-04-12 17:43] rshriram opened #744 "JSON schema for hosts in cluster allows duplicate keys"
The current configuration for hosts in the cluster JSON schema allows the user to add any number of arbitrary fields, including duplicate keys. This results in undefined behavior in Envoy. For example, the following cluster entry is valid and Envoy does not complain. It has undefined routing behavior unfortunately.

[code]

[2017-04-12 18:07] mattklein123 opened #746 "License: Add license header to every file"
In order to have this be sustainable, we need to:
a) write a script that can do this for every file.
b) enforce this in check_format.py

cc @PiotrSikora

[2017-04-12 18:08] mattklein123 commented on #743
@tschroed big +1 from me. Can we potentially work on defining the initial proto here to get agreement? Then we can implement.

[2017-04-12 19:22] PiotrSikora commented on #705
Thanks for bringing this up, @moderation. I'll look into why it doesn't work and update defaults.

@mattklein123 what are you thoughts on keeping OpenSSL support around? I'm asking, because if we're adding `CHACHA20-POLY1305`, then it would be useful to do that using "equal-preference groups", which allow clients to chose between CHACHA20 & AES-GCM (depending on hardware support for AES-NI, etc.).

[2017-04-12 19:40] mattklein123 commented on #705
@PiotrSikora I'm not sure how much people care about openssl. Personally, I feel like if we tell people what SHA of boringssl to use it's probably fine for us to drop openssl support. Let me poll a few people.

[2017-04-12 19:44] mattklein123 commented on #705
@PiotrSikora as part of this, can you also advise on how best to handle TLS 1.3? Should we make it opt in on the context for now?

[2017-04-12 21:52] moderation commented on #705
@PiotrSikora interesting that you mention equal preference groups as I just saw AGL on Twitter [mention them](https://twitter.com/agl__/status/851462096185303040). I was going to retest the ChaCha Poly ciphers with BoringSSL master but I can't see why they fail with the current SHA.  My current working config is:
[code]

[2017-04-13 02:25] PiotrSikora commented on #705
See: https://github.com/lyft/envoy/pull/750, https://github.com/lyft/envoy/pull/751 & https://github.com/lyft/envoy/pull/752.

@moderation For some reason, I was unable to cc you on those pull requests.

[2017-04-13 02:46] moderation commented on #705
Looks great @PiotrSikora. Do you think we need to add the additional curves as per my edited comment at the [top of this thread](https://github.com/lyft/envoy/issues/705#issue-219761154)?

[2017-04-13 03:00] PiotrSikora commented on #705
They are all included in #752.

[2017-04-13 15:02] #744 closed

[2017-04-13 17:13] #519 closed

[2017-04-13 21:44] mattklein123 opened #759 "ssl: remove openssl support, require boringssl"
We are planning to remove openssl support and making boringssl required for compiling Envoy.

Please speak up soon if this is going to be a problem.

[2017-04-13 23:14] mattklein123 opened #761 "ssl: poll boringssl in ci to see of chromium-stable has changed"
There is no notification, so let's figure out a way to get notified if the SHA has changed.

[2017-04-13 23:27] mattklein123 commented on #733
fixed by https://github.com/lyft/envoy/pull/758

[2017-04-13 23:27] #733 closed

[2017-04-13 23:37] fengli79 opened #762 "AddressSanitizer: initialization-order-fiasco in source/common/http/filter/ratelimit.cc"
==946550==ERROR: AddressSanitizer: initialization-order-fiasco on address 0x000002691ff8 at pc 0x00000077bce6 bp 0x7fff3f79d000 sp 0x7fff3f79cff8
READ of size 8 at 0x000002691ff8 thread T0
    #0 0x77bce5 in std::unique_ptr<Http::HeaderMapImpl::StaticLookupEntry, std::default_delete<Http::HeaderMapImpl::StaticLookupEntry> >::get() const bits/unique_ptr.h:305:16
    #1 0x7783cd in Http::HeaderMapIm

[2017-04-13 23:50] fengli79 commented on #762
Close this, as it has been fixed already.

[2017-04-13 23:50] #762 closed

[2017-04-14 03:03] #705 closed

[2017-04-14 06:58] PiotrSikora commented on #761
Why do we single out BoringSSL here? There are other important dependencies that are not updated (i.e. nghttp2).

[2017-04-14 20:43] mattklein123 commented on #761
Mostly because of the security implications of not being up to date. We should probably figure out a notification system for all dependencies.

[2017-04-14 21:02] #590 closed

[2017-04-14 22:16] moderation commented on #761
You can get a programmatic notification of a nghttp2 release at https://github.com/nghttp2/nghttp2/releases.atom. Where ideally would these notifications get sent to @mattklein123 ? Gitter, mailing list, RSS etc.?

[2017-04-15 00:05] mattklein123 commented on #761
Optimally mailing list. Just need to find some time to get someone to set something up. We could do something in CI, write an AWS lambda, etc.

[2017-04-15 00:17] PiotrSikora opened #773 "config: require non-empty strings"
`source/common/json/config_schemas.cc` should enforce `minLength: 1` on majority of the fields.

cc @mattklein123

[2017-04-15 00:18] mattklein123 commented on #773
cc @danielhochman something to take a look at when we are looking at better error messages.

[2017-04-15 00:48] jwfang opened #774 "difference between --service-cluster and 'local_cluster_name'"
reading through the doc, seems to be the same to me.
a quick grep of the code show the former is only used in zone aware routing, and the later everything else.

so why there are two configuration?

BTW: should we emphasis that there should be only one kind service behind each ingress s2s instance ?  it's implied by lots of features, but can't find that in the doc.

[2017-04-15 01:09] mattklein123 commented on #774
This is unfortunate and frankly is due to internal Lyft infra design. Basically, --service-cluster and local_cluster_name are not necessarily the same. --service-cluster is abstract and can be set to anything and is used in various places. 'local_cluster_name' must match the SDS/CDS cluster name. I think in fresh infras, these are going to be the same, but not always. We will try to make the docs

[2017-04-15 01:14] louiscryan opened #775 "When proxying iptables captured traffic support proxying to arbitrary destinations"
When acting as a side-car Envoy can receive all outbound socket connections via iptables capture. In situations where there is no configured route to the DST_IP Envoy will currently just drop the connection. This makes it hard to use Envoy in situations where the set of possible upstream clusters is hard or impossible to know and configure for in advance.

Requested feature is to allow Envoy to op

[2017-04-15 01:15] louiscryan commented on #775
@PiotrSikora @rshriram @ayj @kyessenov

[2017-04-15 02:20] jwfang commented on #774
thanks for so quick response.

we are considering share a single envoy per host for multiple different service on the same host, but reading through the doc i seems lots of feature depends on --cluster-name.

since there are multiple different service,
1) is this supported ? if so, how should i name my envoy ?
2) should i better use one envoy for one service on the same host, which means multiple

[2017-04-15 06:14] jwfang commented on #774
can you give me an example where --service-cluster and local_cluster_name **really need** to be different ?

below are my understanding:

for my front envoy, i can just name it "front-envoy", for both configuration.

for my s2s envoy per host, then
1. if there is only one service, i can name both configuration after the service;
2. if there are multiple service
    1. name both config after one of

[2017-04-17 19:28] mattklein123 commented on #775
In thinking about this more, I could go either way on whether to just add this functionality to tcp_proxy or to make a new filter and reuse most of the code. I guess at this point I'm leaning towards just adding this directly to tcp_proxy and having a routing rule that points to "pass-through via original destination" vs. cluster. We will need to store the original destination in the connection in

[2017-04-17 20:40] PiotrSikora commented on #773
Actually, how is this going to work with the proto-based APIs? Presumably, those are going to bypass JSON config schema, right?

[2017-04-17 20:50] mattklein123 commented on #773
Yes. I haven't thought about this much yet. Fundamentally, the core code will work on only JSON or proto. We will need to either convert proto to JSON and send it through the schema, or do it the other way around and convert JSON to proto. Originally, I had thought we would convert JSON to proto, but you make a valid point that JSON schema is more expressive in some ways than proto so we might wan

[2017-04-17 21:23] PiotrSikora commented on #773
Maybe let's put this on hold until we figured it out, then?

For the record, I'd rather avoid conversion (one way or the other) and retain checks in the code.

[2017-04-17 21:25] mattklein123 commented on #773
Yes, we can figure this out in the context of figuring out how we do proto handling. At some level, we will have to convert to something, since we don't want to write parallel implementations of code that just convert data to objects. But yes, agreed, the gRPC/proto/JSON handling as it relates to schema and other stuff needs a lot of thinking.

[2017-04-17 21:49] #312 closed

[2017-04-17 22:21] #625 closed

[2017-04-18 02:39] xiaomi-tc opened #779 "Generic auth filter"
Just like in nginx, I can set ngx_http_auth_request_module module to implement authorization when clients connecting in with a bypass authorization server. Does envoy support this or will support?  If not ,what shall I do?

[2017-04-18 14:55] mattklein123 commented on #779
I'm sorry but I don't understand what you are asking. Can you clarify what feature you want and/or what changes are required to what is currently implemented?

[2017-04-18 15:03] mattklein123 commented on #774
I'm sorry but I don't think I can give you any detailed guidance. Names are just ... names. You can arrange things however you like. In terms of one Envoy for multiple services on a host, there is nothing about this that inherently won't work.

If you want to use zone local routing, you might to use a synthetic name for the group of services on each host. E.g., "envoy_service_group_a", along with

[2017-04-18 15:09] hennna commented on #654
I can take this one.

[2017-04-18 15:20] mattklein123 commented on #773
From offline back and forth, it seems like we are converging on:

- gRPC APIs become the canonical v2 APIs
- We will use coming Envoy gRPC/JSON transcoder support to call JSON versions of the APIs. This will allow a single API definition for both gRPC and JSON.
- The existing v1 APIs will remain as legacy APIs. Internally, we will likely need to convert the responses to proto before processing.
-

[2017-04-18 18:59] bndw opened #784 "ci: Docker build failing on macOS"
I'm attempting to build a debug Envoy image from the tip of master following the [instructions](https://github.com/lyft/envoy/tree/master/ci#building-a-debug-image) for OSX, however it fails while [presumably] building tests.

Any help would be appreciated and I'm happy to provide any software version info needed.

[code]

[2017-04-18 22:33] #454 closed

[2017-04-18 22:34] mattklein123 commented on #538
Added in https://github.com/lyft/envoy/issues/682. Thanks @hennna !

[2017-04-18 22:34] #538 closed

[2017-04-18 22:35] mattklein123 commented on #572
Testing facility added in https://github.com/lyft/envoy/pull/715. Thanks @danielhochman !

[2017-04-18 22:35] #572 closed

[2017-04-19 02:59] jwfang commented on #774
thanks for your advice.

sorry for not make my concerns more clear.

when we're running multiple different services behind one envoy instance, i guess we must give our shared envoy some generic name.
by different services, i mean different services for each host: some hosts may have A,B,C, some may have C,D,E, ...

what i am concerning about is *will any feature not work **optimally** when deploye

[2017-04-19 03:09] jwfang commented on #784
since you are using the official envoy-build docker, so i guess this is not a gcc bugs as suggested.
i got this error when compiling on some virtual machine with not enough memory, but for docker on Mac i am not sure.

[2017-04-19 03:14] mattklein123 commented on #784
Sorry no idea. Possibly OOM issue as @jwfang says. We have people that compile on OSX without issue.

[2017-04-19 17:44] bndw commented on #784
@jwfang @mattklein123 It was an OOM issue. Docker for Mac by default reserves 2GB and after increasing that, the build was able to complete.

Thanks for your help!

[2017-04-19 17:44] #784 closed

[2017-04-19 20:19] nicocesar opened #791 "include could not find load file cotire"
to reproduce the error do the following Dockerfile:

[code]
and run it this way:
`docker build --rm=false .`

you'll get a

[code]

[2017-04-19 21:22] PiotrSikora commented on #791
You need to install [cotire](https://github.com/sakra/cotire).

[2017-04-19 21:24] mattklein123 commented on #791
Beyond what @PiotrSikora said, the only build flows we support are the official ones in the CI directory. See the docs there. If you go outside of that we can't offer support.

[2017-04-19 21:24] #791 closed

[2017-04-19 21:30] mattklein123 opened #792 "ci: auto build ci container if builds_container scripts change"
It should be possible to build a new container automatically on master commit within Travis if we detect that the commit includes changes to files in that directory. Obviously this takes a long time so we should only do this if files in there change.

cc @junr03 @PiotrSikora @htuch

[2017-04-19 21:33] PiotrSikora commented on #779
Translation: ngx_http_auth_request_module does a lookaside HTTP request, result of which (2xx or 403) decides whether or not the request should be processed / proxied.

[2017-04-19 22:01] myidpt opened #794 "Passing auth result (client identity) to backend"
When mTLS is enabled, Sever side Envoy needs to send the client identity to the backend through HTTP header, so that backend can do its own check/processing based on the client identity.
Questions:
What HTTP header do we use?
How do we support this for non-HTTP requests (This is a stretch goal)?

[2017-04-19 22:21] mattklein123 commented on #779
Yes, async request processing is possible in a filter via the AsyncClient mechanism. We have 2 auth filters at Lyft that work this way. There are other examples in the public code base. Beyond that, I'm not sure if this is an ask for a particular auth protocol being implemented.

[2017-04-19 22:36] mattklein123 commented on #794
@myidpt I'm not sure that this an Envoy specific question exactly. It seems like you need to write a filter to set some header based on some parameters of the client connection. Unless you are asking to specify some format that we would perform automatically for all requests? Can you expand please?

[2017-04-19 22:55] myidpt commented on #794
I think it would be good to automatically set the client identity for all requests that did mTLS. But it also works for us if we use a filter to achieve the goal.
I think this is a question for Envoy whether to automatically set the header for all mTLS requests.

[2017-04-19 23:01] mattklein123 commented on #794
I'm open to setting a header by default, but:

1) What would the header be.
2) What would be in it?

Can you propose something?

[2017-04-19 23:16] PiotrSikora opened #796 "Forward information about client's SSL Certificate."
cc @louiscryan

[2017-04-19 23:18] PiotrSikora commented on #773
@mattklein123 do we have any parameters where it makes sense to use empty values? If not, then maybe just require _all_ strings to be non-empty if set?

cc @louiscryan

[2017-04-19 23:21] lookuptable commented on #796
Is this a duplicate of #794 ?

[2017-04-19 23:23] mattklein123 commented on #796
Yes, closing as dup.

[2017-04-19 23:23] #796 closed

[2017-04-19 23:23] myidpt commented on #794
@lookuptable @lizan @wlu2016
I think we need more discussion on that.
Some options:
"from" header (https://en.wikipedia.org/wiki/List_of_HTTP_header_fields)
"x-ssl-" headers that some people used, probably not standardized.
Currently, we should have the client identity in it, resolved from client-cert SAN.

[2017-04-19 23:35] PiotrSikora commented on #794
`From` is supposed to contain reachable email address, so we probably shouldn't use it, see [RFC7231, sec. 5.5.1](https://tools.ietf.org/html/rfc7231#section-5.5.1).

[2017-04-19 23:41] lookuptable commented on #794
Thinking more about this, does it make more sense for us to have our own filter to do header injection? This allows us to do Istio specific sanitization (e.g. ignore non-URI identities in the SAN list) and use headers like "x-istio-service-account".

[2017-04-19 23:49] mattklein123 commented on #794
I am skeptical that we are going to find a common header to fit this use case, and will probably need to make one up like the other x-envoy headers. However, since you already have your mixer filter, you could probably just do it there if you want specific functionality.

[2017-04-20 02:05] wlu2016 commented on #794
we should give this a more generic name, x-service-account will be better than x-istio-service-account. We should also consider a consistent story passing other auth info to the backend like email address, group, issuer, etc. We have been using jwt token or json object to convey these info in the past. Since this is not an urgent feature, lets prepare a design to cover all these scenarios first.

[2017-04-20 03:44] mattklein123 commented on #773
I don't know. Probably not but I'm not sure? We will need to go through stuff and look carefully.

[2017-04-20 03:46] mattklein123 commented on #613
@rlazarus can we sync up on this tomorrow? @htuch mentioned that you all might not need this anymore? I would like to close as won't fix or do the switch by the end of next week if possible. I'm trying to close out all the major churn so we can ship 1.3.0 in a couple of weeks.

[2017-04-20 16:00] louiscryan commented on #794
I think there is utility in making this generic to Envoy. In advanced deployments having an edge proxy forward details about the TLS negotiation to backends can be useful x-forwarded-proto is an example of doing this but it doesn't help with mutual auth.

Theres some doc with HAProxy which is still pretty generic but it doesn't cover SANs

https://raymii.org/s/tutorials/haproxy_client_side_ssl_cer

[2017-04-20 17:47] htuch commented on #794
One issue to think about if we add fixed support into Envoy is how we handle multi-level proxying. XFF gets appended as you go, so you would have to be able to do something similar with the client cert info and make sure you keep all headers in sync (e.g. every proxy would have to insert all headers).

By generic header rewriting capabilities are you talking about something like https://support.ci

[2017-04-20 18:02] mattklein123 commented on #499
FYI, we need something like this pretty soon for our internal tooling. @rlazarus where are you on this? Can @junr03 help out? Another short term option is to just build a separate binary similar to what @hennna did using the full mocks.

[2017-04-20 20:01] 1mentat opened #804 "Configure tag name when specifying tags to create based on headers using tracing"
I would like to configure tags with arbitrary names that have values filled from the specified header instead of just using the header name at the tag name. Specifically this would allow me to create "join" and "guid" prefixed tags for use with LightStep trace assembly features.

Instead of
"request_headers_for_tags": ["Request-Id"]

I'd like to be able to do
"request_headers_for_tags": [{"guid:re

[2017-04-20 20:41] 1mentat opened #806 "Configure opentracing header prefixes when using tracing"
Implementations of opentracing may place the tracer headers in different places. I would like a way to configure the prefix to look for opentracing headers (currently "x-ot-", would like to be able to specify other ones.)

[2017-04-20 21:55] mattklein123 commented on #300
@adamcmiel will be working on this and will propose a design soon.

[2017-04-21 00:08] 1mentat opened #808 "Allow specification of operation name when configuring tracing for a http manager"
For our current integration with haproxy, the applications address localhost and a port number. There is other information currently only held in metadata that provides information about what the configured destination service is (though this is also already embedded in the cluster name). We'd like to either be able to specify operation name by destination cluster or be able to explicitly specify

[2017-04-21 00:11] 1mentat opened #809 "Be able to specify filtering on tracing tags"
Some automatically inserted tracing tags may contain sensitive information for instance query parameters in the request. We would like to be able to specify a filter to remove that information before the tag for the span is applied. This could be in the form of totally removing using a regex match or selectively removing with a regex substitution or something specific for the use case like GET que

[2017-04-21 00:30] louiscryan commented on #794
I think side-car proxies might be the exception to XFF appending rules, there's not much use to the extra appending if the proxy is logically part of the receiving application.

Beyond that I _think_ appending is the desired behavior though it clearly becomes tricky when were talking about appending details about things which are auth related. There is potential for the ultimate receiver to have c

[2017-04-21 03:27] yacc2007 opened #811 "add ability to query route table using admin interface"
when i use RDS to create the route table dynamic， but i want to know the route table in envoy runtime, how can i do that?

[2017-04-21 04:04] mattklein123 commented on #811
You can't, this is a feature request.

[2017-04-21 15:08] #759 closed

[2017-04-21 16:28] mattklein123 commented on #443
@htuch just dropping note here per our private discussion. We need to reconcile what version of clang we can reasonably use since google internal clang != public clang without some work. Needs investigation.

[2017-04-21 19:18] kyessenov commented on #499
It would be nice to verify RDS and CDS configs as well since the base config can be fairly small and most of it is fetched dynamically.

[2017-04-21 19:34] mattklein123 commented on #499
@kyessenov +1 one we need that also. cc @junr03

[2017-04-22 01:56] vijayendrabvs opened #815 "Address field in listener not working (upstream connect error or disconnect/reset before headers)"
Am not sure if this is related to #326 , still referencing the issue since it has the same error message, but on the face of it they seem to be different.

I'm trying to get the address field in a listener to work and I'm unable to do that. I've written a simple shell script as a test harness that will do the following - (this will work only on linux) -

1. Spins up an envoy container named `envoy

[2017-04-23 11:51] PiotrSikora commented on #615
@mattklein123 could you re-open this, since the change was reverted in #668?

[2017-04-23 15:13] mattklein123 commented on #815
"upstream connect error or disconnect/reset before headers" means that Envoy cannot connect to the upstream that is being routed to. Your listener config is probably fine. I would use a combination of the /stats and /clusters admin endpoint output to debug further, and verify that you can connect to your backend services from within the Envoy container.

[2017-04-23 15:15] mattklein123 commented on #774
At Lyft we have one Envoy per service, and a dedicated Edge Envoy front/middle proxy layer. In general I think there are no major blockers for having Envoy work with multiple local services. I would work your way through building a config and see how it goes. Going to close this out.

[2017-04-23 15:15] #774 closed

[2017-04-23 22:01] vijayendrabvs commented on #815
@mattklein123 Thanks for taking a look! The text below is a bit long owing to the outputs I've pasted - thanks in advance for reading through them!

When I look at the /clusters output, I see service1 and service 2 there, with a series of entries for 127.0.0.1:9001 (the python backend service), but for it, I see the `cx_connect_fail` stat set to 0 - if it were a connectivity issue from the envoy s

[2017-04-24 02:36] mattklein123 commented on #815
I skimmed through this quickly and I don't see any call to service1 at all in the stats above, so they are probably going to service2. I can't tell without seeing the full config, full dump of stats, and full dump of clusters output. I won't be able to help you further in this issue. If someone else doesn't help I would try Gitter for more interactive help. This is a configuration or docker setup

[2017-04-24 13:31] htuch commented on #794
Envoy isn't just used as a side-car though, so we need to support a number of different topologies, including classical multi-level proxies.

I like the idea of combining into a single XFCC. If I understand your proposal correctly, there is an extensible list of key/values for the client cert which are semi-colon separated, and then each level of proxy is able to either append a header or use a co

[2017-04-24 17:48] mattklein123 commented on #726
Per offline discussion closing as won't fix for now. (See PR for more info).

[2017-04-24 17:48] #726 closed

[2017-04-24 17:56] vijayendrabvs commented on #815
Np, thanks @mattklein123 ! I'll post this on gitter.

[2017-04-24 19:25] AdamCmiel commented on #300
thanks for the intro @mattklein123 here's my proposed cors filter

### CORS support in envoy

_Background_

Currently, it is up to services to properly implement CORS.  As web clients seek to consume APIs served by envoy, it is clear that envoy should include a CORS filter, allowing backend services to scale without concern for platform-specific clients. This makes for easier scalability, maintain

[2017-04-24 20:09] htuch opened #827 "Restrict visibility to Envoy internals in consuming projects"
Today, the Bazel visibility for all targets (from source, to test support to the tests themselves) is public. This means that a project that consumes Envoy and adds its own filters etc., might rely on internal implementation details that are not intended to be stable aspects of the API.

We should restrict visibility outside of Envoy to only its interfaces, well defined library/binary exports (`//

[2017-04-24 20:14] htuch commented on #404
Should also add a version (or indirect) to https://github.com/lyft/envoy/blob/master/bazel/DEVELOPER.md to help folks get bootstrapped with Bazel. @rshriram

[2017-04-24 20:29] mattklein123 commented on #827
The first step here is to make all of the filters in the tree only use public interfaces, this will force us to go through ::Api:: for access to utilities, which is a good thing to do.

[2017-04-24 22:51] myidpt commented on #794
Thanks @louiscryan and @htuch.

I think according to https://tools.ietf.org/html/rfc7230#section-3.2.2, we should always concatenate the info of additional certs to the end of the XFCC field, separated by comma.

When conveying the authentication results such as cert info, we need to think about the security risks. What if a non-frontline Envoy instance receives traffic from a malicious user, and

[2017-04-24 22:55] vijayendrabvs commented on #815
@mattklein123 This issue was being caused because I plumbed subinterfaces but didn't configure any routing on them. Going via the docker network create and connect commands resolved connectivity issues and we were able to bring up multiple listeners. Thanks for your help on this!

[2017-04-24 22:55] #815 closed

[2017-04-24 22:56] mattklein123 commented on #794
We should apply the same scrubbing that we use for other "trusted" headers already. If we do that, we won't have any issues.

[2017-04-24 23:07] PiotrSikora commented on #794
What would be the practical use for multiple XFCC values? Even with tiered proxies and service mesh, backend is only interested in the client's SSL certificate and not that of middle proxies that handled the traffic.

IMHO, we should create XF* headers only at the "frontline".

[2017-04-24 23:23] htuch commented on #794
This is mostly just future proofing. It's probably fine to just do XFCC for frontline in a typical service mesh or Envoy deployment today.

Maybe one day some backend wants to verify the certs used by intermediary proxies are all of a certain vintage or provenance in some very large deployment.

I think it makes sense though to think about how this could be extended if we're defining an implicit s

[2017-04-25 00:07] htuch opened #834 "Figure out the right way to handle stack unwinding with gperftools"
Today we use frame pointers, which don't extend into the underlying C/C++ libraries (libc, libgcc, libstdc++), so we probably lose some performance visibility. We could improve visibility by using libunwind and the appropriate  https://github.com/gperftools/gperftools/wiki/gperftools'-stacktrace-capturing-methods-and-their-issues. This comes at some performance hit and we'd need to verify it works

[2017-04-25 00:22] htuch commented on #834
@alk

[2017-04-25 11:47] htuch commented on #415
I've verified the Bazel test cases are a strict superset of those in the cmake build:

[code]

[2017-04-25 12:31] htuch opened #836 "Remove use of custom protobuf.bzl"
At the next protobuf release (post 3.2.0), where we gain the benefit of https://github.com/google/protobuf/pull/2508, we no longer need to rely on https://github.com/htuch/protobuf.git and the `protobuf_bzl` repository in `bazel/repositories.bzl` to be able to use arbitrary `CC/CXX/LD_LIBRARY_FLAGS`. We should remove this adhoc import of protobuf at this time.

[2017-04-25 17:49] mattklein123 commented on #300
@AdamCmiel this looks great to me. Thanks for the detailed write up. I think we can get started on the implementation. I will move into the 1.4.0 milestone but we can move into 1.3.0 if it lands in that timeframe.

[2017-04-25 18:18] htuch opened #838 "Figure out what build options belong in tools/bazel.rc and which in envoy_build_system.bzl"
Today, we have some part of our build story (e.g. additional flags for different build types such as `opt`) in `bazel/envoy_build_system.bzl`. Others (e.g. the settings for `--config=asan` in `tools/bazel.rc`). It's somewhat easier to express these settings in `bazel.rc`, but this becomes problematic when consuming Envoy as a `git_repository` in other builds (e.g. Istio, https://github.com/htuch/e

[2017-04-25 18:19] htuch commented on #838
@lizan @kyessenov @fengli79 for Istio perspective.

[2017-04-25 20:16] lizan opened #839 "bazel/cc_configure.bzl breaks builds for C libraries"
It forces use of `g++` to even compile `.c` files, causes failure.

@htuch

[2017-04-25 20:17] lizan commented on #839
cc https://github.com/istio/proxy/pull/260

[2017-04-25 20:20] lizan opened #840 "bazel: lightstep doesn't build when switching protobuf to bazel native build"
I will take a look on the build script when I have time.
cc @htuch https://github.com/istio/proxy/pull/260

[2017-04-25 20:21] htuch commented on #839
Which C libraries are these?

[2017-04-25 20:22] lizan commented on #839
gRPC

[2017-04-25 20:25] htuch commented on #839
Basically, Bazel is completely broken today and tries to build C files with `gcc` instead of `g++` (see https://github.com/bazelbuild/bazel/issues/2840). We needed to override this for C++. I think it wouldn't be much work to convert `bazel/cc_configure.bzl` to sanely handle both C and C++ with `gcc` and `g++` respectively. I can do this, but not for a few days as I'm committed right now to the cm

[2017-04-25 20:34] lizan commented on #839
Yes I understand. For now we can live without using cc_configure so it is not urgent, will do a PR if I have cycle.

[2017-04-26 16:05] hennna commented on #351
@mattklein123 I'll be continuing the Ipv6 work from @jamessynge.

I think a good place to start would be to add ipv6 address parsing to Utility::resolveUrl: https://github.com/lyft/envoy/blob/master/source/common/network/utility.cc#L89. For pipes, just s/unix/pipe.

The next step would be to incrementally updates tests to include ipv6 addresses. Thoughts?

[2017-04-26 16:43] htuch opened #842 "Improve build experience when consuming prebuilts outside of CI"
Today, we consume prebuilt external deps in CI via `ci/WORKSPACE` and `ci/prebuilt/BUILD`. Other folks who want to build Envoy are also interested in using their own versions of these libraries.

We should both document how to follow the CI prebuilt flow, make it less clunky (e.g. add some .gitignore entries so that folks don't have dirty trees) and make `ci/prebuild/BUILD` less verbose - ideally

[2017-04-26 16:47] mattklein123 commented on #351
@hennna if you want to start from a test first perspective, I think that's fine, but I would decide whether you want to start from a unit test first perspective or an integration test first perspective. @jamessynge has been making good progress basically tackling various pieces and making sure there are unit tests for each piece.

If you want to start from an integration test perspective, the simp

[2017-04-26 16:58] hennna commented on #351
Yes that sounds good. I can start looking at the echo test.

I'm still looking into bazel and environment variables to see how users can have the option to run tests for ipv4 only, ipv6 only or both.

[2017-04-26 21:17] htuch opened #845 "//test/common/http:async_client_impl_test is flaky"
[code]

I see a few fails per thousand with the following failed test case:

[code]

[2017-04-26 21:25] lizan commented on #845
Hmm, this is probably my fault, the test shouldn't expect `x-envoy-upstream-service-time` with exact value.

[2017-04-26 21:28] htuch commented on #845
It's blocking https://github.com/lyft/envoy/pull/837, for whatever reason I seem to hit it reliably in Travis on my ASAN runs (it happens with both ASAN and without). @lizan do you have a quick fix PR or want to disable?

[2017-04-26 21:30] lizan commented on #845
@htuch I should be able to get a fix PR by end of today, feel free to disable if that doesn't work for you.

[2017-04-26 21:34] mattklein123 commented on #845
I will fix @lizan don't worry about it. I don't think this is your fault but I can't remember.

[2017-04-26 21:41] mattklein123 commented on #845
I think you copied them from tests I wrote :) The flake exists elsewhere also.

[2017-04-26 23:47] #845 closed

[2017-04-27 13:29] htuch commented on #834
@qiwzhang experienced an issue during the external dep build where the `gperftools` dep was also failing due to a local install of `libunwind8`. I'm not sure why it breaks with `gperftools` 2.5, but if we go down the route of `--disable-libunwind`, we might avoid this problem for other developers.

[2017-04-27 17:23] #415 closed

[2017-04-27 18:40] mattklein123 commented on #792
per @ryan-lane we could also trigger the container build if we manually tag a SHA "build-image-*" or something like that. Needs more thinking but we should make this automatic. Assigning over to @junr03 to take a look.

[2017-04-27 20:05] #654 closed

[2017-04-27 22:59] mattklein123 opened #858 "build: coverage does not work with clang"
It looks like clang coverage output is not compatible with gcov/gcovr. Need to ultimately figure out some solution here. (This is true at least as of 4.0 release).

[2017-04-28 19:55] junr03 opened #860 "Inspect response grpc status code to determine host success rate"
Right now we base success rate outlier detection only on HTTP status codes, which excludes request failures based on grpc status codes.

The router filter should look for grpc status codes and feed a failure to the outlier detector in cases when the HTTP status code is a success.

Related to #721

[2017-04-28 19:57] mattklein123 commented on #860
cc @louiscryan

[2017-04-28 21:46] sushilks opened #862 "Accessing Source IP Address in HTTP Filter"
Hi,
   I was looking to access the Source IP address for the stream in the HTTP filter implementation, possibly in the decodeHeaders(..) callback.
What is the best way to get access to this information ?
Thanks and any help is much appreciated,
-SK

[2017-04-29 18:08] mattklein123 commented on #862
https://github.com/lyft/envoy/blob/master/include/envoy/http/filter.h#L123

[2017-04-29 18:08] #862 closed

[2017-04-29 19:38] sushilks commented on #862
Thanks for your quick response @mattklein123,
I verified the function you pointed to in filter.h, This function " downstreamAddress()" returns the destination address for the packet.
However I am looking to find the source address of the packet which is the address of the client that initiated the connection.
Can you point to the function that has the source address information.

[2017-04-29 20:27] mattklein123 commented on #862
downstreamAddress() is the source address.

[2017-04-30 01:22] egoldschmidt opened #865 "Minimal gRPC service-to-service config example with health checking"
Envoy is impressive, and its documentation is far-reaching, but the wealth of configuration options means its difficult to know if you're setting things up right. In my case, all I want is automatic health-check driven connection draining to ensure zero-downtime deploys. Yet after setting up an SDS server, health check listeners, retry policies, and more I still see requests being forwarded to Env

[2017-04-30 21:28] mattklein123 commented on #865
We would like to have more examples, but unfortunately don't have resources to have someone work on refining all of the getting started/example documentation. Will leave this open to track us doing it at some point or perhaps someone contributing an example. In the meantime, we can help you debug on Gitter if you ask questions there.

[2017-04-30 22:46] htuch opened #867 "Tests should not depend on RandomGeneratorImpl() but instead a PRNG variant"
For better test failure reproducibility, tests should use a PRNG with known seed, which we log at test startup.

When we run in CI and as part of continuous testing, we will see failures in tests that have random number generation. Some of these failure will be due to the specific random numbers. To be able to repeat, we need to know the exact random sequence that was generated. Hence, having PRNG

[2017-04-30 22:50] htuch commented on #867
This may be overkill, we already have `MockRandomGenerator`.

[2017-04-30 22:50] #867 closed

[2017-04-30 23:29] tschroed opened #868 "Support http caching"
As a generic http proxy, it would be useful for Envoy to support http caching. It seems like this could probably implemented as a filter.

[2017-04-30 23:58] myidpt commented on #794
I agree with htuch@. Maybe micro-services need to control quota, do logging or even authz based on the intermediary services? For example:
End user -> ... -> Service A -> ... -> Service C
End user -> ... -> Service B -> ... -> Service C
If Service C provisions high QPS for Service A, or only allows Service A to access some core data, XFCC chaining can be helpful.
Considering all use cases, IMHO, f

[2017-05-01 01:35] PiotrSikora commented on #794
Please keep in mind that the biggest issue with XF* headers (and the reason behind `Forwarded` header) is that there is no way to match XF* headers together, i.e. in both "forward only" and "append and forward" options, there is no guarantee that all hops will set **all** XF* headers, and receiving end might see different number of various XF* headers with no ability to infer which proxy sent whic

[2017-05-01 03:00] mattklein123 commented on #794
I don't have a strong preference on whether to make up a new header called XFCC or to use Forwarded, but I agree we should optionally support append like we currently do for XFF.

For reference, the current trusting/scrubbing behavior in the HTTP connection manager is controlled by the "use_remote_address" option and is used here:
https://github.com/lyft/envoy/blob/master/source/common/http/conn_m

[2017-05-01 13:06] ctrlrsf commented on #868
I agree! This would be a killer feature. Right now using an nginx proxy to cache some API calls.

[2017-05-01 17:05] sushilks commented on #862
Got it, Thanks
I guess I got confused on the integration testing as I was expecting the ip address to be 127.0.0.1, but the integration test was showing 10.0.0.1 which was hardcoded into the test Mock object.

[2017-05-01 20:02] #487 closed

[2017-05-01 20:40] dnoe commented on #743
I'll take this one next.  @mattklein123 Do you have any wishlist items for using this at Lyft I should take into account?  Otherwise I will use the existing access log as a starting point for defining the proto.

[2017-05-01 21:02] mattklein123 opened #872 "outlier detection: canary specific stats"
If we eject some/all canaries, alarms may not fire to indicate that there was a problem and then a deploy may continue to production. We should have canary specific outlier ejection stats to help create alarms around this scenario.

[2017-05-01 21:25] PiotrSikora commented on #868
Do we want to cache inside Envoy or "one RPC away"?

[2017-05-01 22:27] htuch commented on #579
@dnoe

[2017-05-01 22:31] dnoe commented on #579
I'll take this, and probably also clean up some tech debt related to things that could be Doxygen annotated but aren't right now (with strong emphasis only on public API components).  For example the Http::AccessLog::ResponseFlag enum has some nice details on what each piece of the enum means but the comments aren't in Doxygen style.

[2017-05-02 00:24] robertfreund opened #874 "CDS API is not called when setting up cluster manager"
Im attempting to setup the CDS API with envoy. I have succeeded with static config first and see my static configs work fine.

Version: /usr/local/bin/envoy  version: 3bc959c440a7e6903110faf4fd53942ca2ac8a07/Clean/RELEASE

I have confirmed that SDS and RDS API both make requests to service.

Please see the following config as what I am using:

[code]

[2017-05-02 13:47] tschroed commented on #868
Yes?

It would be nice to have an in-memory L1 for hot objects and larger out-of-process L2 for less-popular content. Obviously caching policy would need to be context dependent as it typically doesn't make sense to cache the result of API calls while user-facing web pages can be cached even an RPC away without imposing user-perceivable delay.

[2017-05-02 14:52] mattklein123 commented on #874
I'm guessing `tcp://some.host:8085` is not the host you want for the CDS server. /clusters and /stats admin output will typically help you debug.

[2017-05-02 16:54] robertfreund commented on #874
Ok thanks. I removed actual host. I tried with "static" and "192.168.99.100:8085" as well and see requests made. In my desired config RDS , SDS, CDS all point at same server. I tried "static" "192.168.99.100:8085" for all. Again the RDS and SDS properly request. I can't seem to get CDS to make any requests.

[2017-05-02 16:57] mattklein123 commented on #874
Sorry don't know. Will need complete final config, and admin output of /clusters and /stats to help further. Or you can ask for help in gitter.

[2017-05-02 16:59] mattklein123 commented on #868
If we end up doing this, it should definitely be a filter. Also, I would like to investigate whether we can avoid reinventing the wheel and potentially use some existing caching library. At some point I think I looked into it and the actual caching portion of varnish is exposed as a library, but I can't remember now.

[2017-05-02 17:18] josephjacks commented on #868
@mattklein123 Fastly's h2o is taking over a lot of the prior use around Varnish and there is a library: https://github.com/h2o/h2o/labels/libh2o -- there may be some h2o overlap with Envoy but I do agree that reinventing wheel could be bad.

[2017-05-02 17:28] robertfreund commented on #874
Thanks! /clusters helped. For completeness here is the final config that worked for me to get SDS,RDS,CDS all working.

[code]
time="2017-05-02T17:23:35Z" level=info msg="ListRoutes for: serviceCluster:\"envoy_cluster\" serviceNode:\"envoy_node\" routeConfigName:\"envoyCluster\"
time="2017-05-02T17:23:35Z" level=info msg="Got request for: /v1/clusters/envoy_cluster/envoy_node"

time="2017-05-02T17

[2017-05-02 17:28] #874 closed

[2017-05-03 10:55] PiotrSikora commented on #868
@josephjacks like you said, Fastly is using h2o in front of Varnish (mostly for HTTP/2 and TLS termination), and (lib)h2o doesn't provide any support for caching (see: https://github.com/h2o/h2o/issues/776), so using it wouldn't help us.

[2017-05-03 16:13] robertfreund opened #886 "Better handling for domain matching with ports"
When explicitly adding port 80 to host such as http://host:80 it will not allow a redirect to https://host:443.

require_ssl of the virtualHost will redirect to https://host:80. What is desired is a redirect to https://host:443 when :80 is explicit.

[2017-05-03 16:17] mattklein123 commented on #886
I'm not completely clear on the right behaviors here per RFCs. Needs some research. This would be a good opportunity to generally look at how we handle port inside the host/authority header.

[2017-05-03 17:14] bndw opened #887 "SDS: Provide additional info in requests"
As a front proxy, it would be helpful if Envoy could include additional metadata (tags) in its requests to the SDS, such as `region` and `az`.

For example, a front proxy in `az=a` should only receive upstream hosts in `az=a` from the SDS. This would likely require an update to both Envoy and the SDS API.

[2017-05-03 21:11] rshriram opened #890 "Tracing: Allow filters to add/overwrite span information"
In certain deployments, it is not possible to know the service-cluster apriori (e.g., kubernetes pods). In such cases, the service to which the pod belongs do, has to be resolved dynamically, and the span data generated by the tracing subsystem needs to be updated with this info.

High level Implementation proposal:
We need the StreamFilterCallback to expose a span interface, that would allow the

[2017-05-03 21:53] PiotrSikora opened #891 "SSL: automatically reload SSL certificates"
We should watch SSL certificates on disk and reload them (and recreate `SSL_CTX`) when they change.

It's unclear whether this is the perfect solution (vs LDS with encrypted private keys).

Needed by Istio.

cc @kyessenov @louiscryan

[2017-05-03 22:24] louiscryan commented on #891
We also need to support the appropriate draining behaviors as certificates approach their expirations. This is true for both the client and server certificates in mTLS.

[2017-05-03 22:26] kyessenov commented on #891
There is also some need for coordination between impending LDS and kube volume mounter. Or add some way to fetch the actual certs from the discovery service rather than expecting it to be on a local file system.

[2017-05-03 22:27] mattklein123 commented on #891
IMO it would be much better to just do this via LDS, which will natively support draining of the old listener. If we have LDS, do we need explicit support for cert reloading?

[2017-05-03 22:46] kyessenov commented on #891
Are certs going to be inlined in the LDS response?

[2017-05-03 22:49] PiotrSikora commented on #891
Yes, that will be one of the options (unclear if the only one, though).

[2017-05-03 22:50] mattklein123 commented on #891
@htuch is working on API specification now. If we need that we should have that option. We will also obviously have the option to read from disk.

[2017-05-03 22:52] mattklein123 commented on #792
Fixed by https://github.com/lyft/envoy/pull/882

[2017-05-03 22:52] #792 closed

[2017-05-03 22:53] mattklein123 commented on #887
Will be covered in v2 API. Can potentially add v1.5 API if urgent.

[2017-05-03 22:55] PiotrSikora commented on #615
@mattklein123 can you re-assign this to me? Thanks!

[2017-05-03 22:55] louiscryan commented on #891
Will need to assess the security properties of key distribution vs common
best practices. Kubernetes has 'secrets' which it makes some assertions
about that we are currently leveraging in Istio when we ship certificates
as files. We'll need to have some authentication mechanism in place to be
able to rely on an API for fetching certs. Perhaps we use the filesystem as
a bootstrap for the API?

On W

[2017-05-03 22:58] mattklein123 commented on #891
Yup will need thinking. Obviously, we will discovery LDS typically via LDS, and could do mTLS to config servers via on disk cert.

[2017-05-03 23:34] lizan commented on #624
@mattklein123 I would like to re-open this issue, #633 doesn't work in real case:

1. `router` returns `StopIteration` even it was successful.
https://github.com/lyft/envoy/blob/master/source/common/router/router.cc#L252

2. when `ConnectionManager` get `StopIteration` it doesn't continue on data.
https://github.com/lyft/envoy/blob/master/source/common/http/conn_manager_impl.cc#L490

Changing rout

[2017-05-04 00:53] mattklein123 commented on #624
@lizan reopening. I will fix.

[2017-05-04 22:10] mattklein123 opened #897 "stats: add overflow/max buffer handling to statsd output"

[2017-05-04 22:11] mattklein123 opened #898 "build: compile all deps with frame pointers"

[2017-05-05 15:15] htuch commented on #404
https://github.com/lyft/envoy-filter-example is now populated. @mattklein123 @rshriram want to take a look and let me know what to add further? I didn't do a PR on this as this was just the initial checkin.

[2017-05-05 16:07] bndw commented on #887
Hi Matt,

If this could make it in a v1.5 that would be really helpful. Are these parameters going to be passed in a query string to the SDS?

[2017-05-05 18:10] htuch commented on #443
MSAN isn't going to be easy, and probably not worth doing in our current CI environment. You basically need to rebuild lib[std]c++ and all external deps, see https://github.com/google/sanitizers/wiki/MemorySanitizerLibcxxHowTo. I tried it without this and I see false positives such as:

[code]

TSAN/ASAN work fine though with clang-5.0.

[2017-05-05 19:33] bndw opened #903 "Bad SDS Host URL causes seg fault"
If an unresolvable URL is specified in the Cluster Manger SDS Hosts URL, a Segmentation fault will be raised without any helpful error text, even at a debug log level.

Below is an example `Dockerfile` and `front-envoy.config` for repro. Replacing `tcp://does-not-exist.amazonaws.com:80` with a valid SDS host resolves the issue.

**Dockerfile**
[code]

**front-envoy.json**
[code]

[2017-05-05 20:33] dnoe commented on #903
Output from a debug build with backtrace decoded:

[code]

[2017-05-05 21:33] dnoe commented on #903
The segfault is caused by the secondary_init_clusters_ list being modified within the for loop that traverses it inside ClusterManagerInitHelper::maybeFinishInitialize().

[code]
In frame #24, we are inside the for loop over secondary clusters.  In frame #4 we are in removeCluster which modifies the list of secondary clusters by removing the only element. After returning to the loop invalid memory

[2017-05-05 21:59] dnoe commented on #903
I have a working fix for this specific issue but I need to understand the code better and think a bit more to decide if it's the right solution.

[2017-05-05 23:14] timperrett opened #908 "Add bazel debug target to replace TEST_TYPE=debug"
As discussed on Gitter with @htuch, logging this issue here to have a dedicated debug target in the build such that builders have a way to produce both debug and release binaries from CI.

[2017-05-06 00:44] moderation opened #909 "Support multiple tracing drivers"
With the addition of Zipkin support https://github.com/lyft/envoy/pull/905 it would be nice to be able to specify multiple drivers ie. Zipkin _and_ Lightstep.

[2017-05-06 02:44] mattklein123 commented on #903
Thanks for fixing my bug @dnoe! Let me know if you need help with anything.

[2017-05-06 03:13] mattklein123 commented on #404
@htuch that looks awesome to me. I think we should just do some doc linking and it's good enough for now and can just see what Qs people ask. I would at minimum add a link to from here: https://lyft.github.io/envoy/docs/extending/extending.html

[2017-05-06 04:18] hennna commented on #351
The following tests currently fail in an Ipv6 only environment:
test/common/network:address_impl_test
	Ipv4InstanceTest.SocketBindAndConnect
test/common/network:connection_impl_test
test/common/network:dns_impl_test
test/common/network:listener_impl_test
test/common/network:proxy_protocol_test
test/common/network:utility_test
	NetworkUtility.getLocalAddress
test/common/event:file_event_impl_test
t

[2017-05-06 19:28] #890 closed

[2017-05-06 19:34] mattklein123 commented on #887
The new API is gRPC based and will have a parallel JSON version. We should have something published for initial review next week. Realistically, it will take a couple of months before this is fully implemented. I'm happy to provide guidance if someone wants to contribute a small addition to the current SDS JSON API, but I don't think we will have resources to do the work.

[2017-05-07 01:13] mattklein123 opened #912 "clean up Network::ConnectionEvent"
Because of libevent, it used to be possible for events to be combined, so Network::ConnectionEvent is a bitfield. That can no longer happen. We should fix it so that it's a real enum which will make a bunch of code simpler and easier to read.

[2017-05-07 14:35] htuch opened #914 "Fix misaligned pointers in various places"
The UBSAN alignment test is currently disable https://github.com/lyft/envoy/pull/904, since it triggers a bunch of failures. Most of these are related to taking some `Buffer` slice address and using it directly for `uint16_t` or `uint32_t`. It's probably functionally not a big issue to have these misalignments, even though technically undefined behavior at the C++ level, on x86, but it hurts archi

[2017-05-07 20:29] #404 closed

[2017-05-07 21:29] bndw commented on #887
If you're referring to lyft/discovery SDS JSON API, I could likely contribute that update if you can provide the changes to the API.

[2017-05-07 23:00] #898 closed

[2017-05-07 23:03] mattklein123 commented on #887
@bndw I think the easiest thing to do right now is not to change the URL of the REST call, but to just add the additional info in headers when the call is made. This is not super great from a consistency perspective, but it won't be a breaking change. It will all be cleaned up in the v2 API.

https://github.com/lyft/envoy/blob/master/source/common/upstream/sds.cc#L98

Basically, when the SDS is cr

[2017-05-07 23:26] htuch opened #918 "Clang msan support"
Clang ASAN/TSAN support was introduced under https://github.com/lyft/envoy/issues/443 and https://github.com/lyft/envoy/pull/904.

MSAN isn't going to be easy, and questionably worth doing in our current CI environment. You basically need to rebuild lib[std]c++ and all external deps, see https://github.com/google/sanitizers/wiki/MemorySanitizerLibcxxHowTo. I tried it without this and I see false p

[2017-05-07 23:27] htuch commented on #443
The remaining work on MSAN is now tracked in https://github.com/lyft/envoy/issues/918.

[2017-05-07 23:27] #443 closed

[2017-05-08 15:37] tschroed opened #920 "Namespace Envoy code"
Envoy code currently occupies the global namespace which can cause collisions when integrating with third party code. Moving all of Envoy into a top-level namespace with reasonably low probability of collision (e.g. lyft) would fix that.

[2017-05-08 15:49] PiotrSikora opened #921 "Run clang-tidy as part of CI."
Now, that we have Clang in CI, it would be good idea to catch common mistakes with `clang-tidy`.

@htuch

[2017-05-08 15:55] mattklein123 commented on #921
I'm not sure what clang-tidy does but we should run as part of check/fix format flows.

[2017-05-08 15:57] mattklein123 commented on #920
@tschroed is this theoretical? Or it's causing you a real issue? Just trying to figure out how urgent it is to fix this. Will need to automate and make it part of check/fix format flow.

[2017-05-08 16:49] tschroed commented on #920
Sadly, actual. Some collisions that I've run into already: proto = google::protobuf (can be fixed by changing a new short namespace name) and Thread.

I expect that we'd take on the work to update the code. Check/fix is an interesting consideration that hadn't occurred to me.

[2017-05-08 16:50] mattklein123 commented on #920
OK one interim option is to just fix the real collisions you have now while figuring out a better long term option. The two you mentioned should be simple.

[2017-05-08 18:12] #624 closed

[2017-05-08 19:02] RomanDzhabarov commented on #887
"For example, a front proxy in az=a should only receive upstream hosts in az=a from the SDS" although this is good in terms of cost/latency perspective, this will create uneven per-host load on the upstream cluster behind the front envoy (in case of imbalance of hosts per AZ)

For example, 2 front envoy hosts route to 5 upstream hosts in 2 AZs (1 host in first az, 4 hosts in second AZ), per host R

[2017-05-08 20:00] #908 closed

[2017-05-08 21:23] #903 closed

[2017-05-08 21:50] lizan opened #925 "Ability to encode additonal DATA during encodeTrailers"
In gRPC transcoding, we translate streamed gRPC message to JSON objects like:

[code]

Is there anyway to encode additional DATA frame in encodeTrailers, while encodeData(data, false) returned `Continue`? We need this to encode the `]` at the end.

cc #501

[2017-05-08 22:32] myidpt commented on #794
@PiotrSikora (Please correct me if I'm wrong)

So as I understand, the advantage of using `Forwarded` is to be able to mark "by whom" for each forwarded header, using `by`. Other than that, forwarded header should have same security concerns as `XFCC` [RFC 7239](https://tools.ietf.org/html/rfc7239#section-8). However, I think the security concerns can be alleviated with mTLS chain between proxies,

[2017-05-08 23:19] fengli79 commented on #925
+1, for grpc-web, I also need to encode the upstream http2 trailers in the downstream http1 response body.
There's a StreamEncoderFilterCallbacks, with a buffer inside. It will be nice if we can use that buffer to carry the data translated from trailers.

[2017-05-09 00:04] mattklein123 commented on #925
@lizan @fengli79 this is in encoder filter case, right? So per @fengli79 if I make it so that if you populate encodingBuffer() from inside encodeTrailers(), that buffer gets flushed first, I assume that will solve your problem?

[2017-05-09 00:05] fengli79 commented on #925
Yes for my case.

[2017-05-09 00:08] lizan commented on #925
@mattklein123 Yes, that works. I tried that approach in current envoy, it didn't work (crashed).

[2017-05-09 15:17] mattklein123 commented on #368
For those following along, we will be iterating on the v2 APIs in the https://github.com/lyft/envoy-api repo where we will build out real protos, JSON versions, etc.

[2017-05-09 15:19] mattklein123 commented on #710
We are no longer building a pure debug build due to CI pressure so its not easy to publish a docker image from CI. It's buildable locally and documented. Going to punt on this for now until we are on a less crappy CI system.

[2017-05-09 15:26] mattklein123 commented on #527
This is going to be covered by the v2 configuration/API for LDS. There will be "routing rules" that will allow selecting different filter stacks within a listener. I'm going to close this in favor of that work. cc @htuch

[2017-05-09 15:26] #527 closed

[2017-05-09 15:29] mattklein123 commented on #595
We are working on the v2 API now. This can be implemented by either multiple listeners or the new matching rules for filter stacks we are designing. Closing this out as won't fix. cc @htuch

[2017-05-09 15:29] #595 closed

[2017-05-09 15:31] mattklein123 commented on #773
Going to close this out in favor of the v2 design work that is going on, including constraints. I think we have a good path forward on all of the issues raised here. cc @htuch

[2017-05-09 15:31] #773 closed

[2017-05-09 18:57] #336 closed

[2017-05-09 23:33] #394 closed

[2017-05-10 14:13] bryanlarsen opened #938 "Documentation: overlapping route prefixes"
re: https://lyft.github.io/envoy/docs/configuration/http_conn_man/route_config/route.html

Please document the algorithm that is used when route prefixes overlap.

For example, if I route /api to apisvc and / to appsvc, how do I ensure that no /api requests are sent to appsvc?

@kflynn on gitter suggests that the algorithm is first match.    This may be surprising to users who are used to other al

[2017-05-10 14:37] hennna opened #939 "Network utility function getLocalAddress() doesn't support multiple interfaces and link local IPv6 addresses"
The network utility function getLocalAddress() (https://github.com/lyft/envoy/blob/master/source/common/network/utility.cc#L136) currently returns the first non-loopback IPv4 interface address. This is done by looping through the linked list returned by getifaddrs (http://man7.org/linux/man-pages/man3/getifaddrs.3.html). This poses two problems when adding IPv6 support:
1. In the case of multiple

[2017-05-10 14:39] hennna commented on #939
For (2), does it make sense to convert from MAC to IPv6 address?
 This conversion seems to work for my workstation but I'm not sure about the general case and if this will change in the future (http://stackoverflow.com/questions/27693120/convert-from-mac-to-ipv6)?

[2017-05-10 15:07] mattklein123 commented on #938
This is documented here: https://lyft.github.io/envoy/docs/configuration/http_conn_man/route_config/route_matching.html

PRs appreciated if you would like to add any cross linking from elsewhere.

[2017-05-10 15:07] #938 closed

[2017-05-10 15:10] mattklein123 commented on #939
I discussed this with @htuch offline. The result of this function is used for various things including populating XFF if needed. My feeling is that ultimately we should probably allow the value that this function returns to be alternatively set on the CLI so that operators can do what they want if needed. In light of that, IMO, I would just make it do something somewhat sane in the interim and put

[2017-05-10 15:21] tomwans opened #940 "supporting custom resolvers per cluster"
My team has a need for Envoy to support custom DNS resolvers per cluster (we need different `strict_dns` clusters to query specific resolvers). We have a small PoC working internally, but to do it right would involve quite a bit of surgery. Namely, we'd need to create a Network::DnsResolver per cluster vs. creating it up-front in the server and passing that one down to all the cluster managers and

[2017-05-10 15:37] mattklein123 commented on #940
This is not a feature request that I've heard before. With that said, if you need it in production, it sounds like something we should explore.

I think we can probably simplify by not changing the global resolver, but instead just allow a custom resolver to be optionally created and used on a per cluster basis. This should be a lot less surgery. I assume fundamentally you need to specify a resolv

[2017-05-10 15:42] dnoe commented on #939
You can't guarantee that a MAC address is used for link-local IPv6
generation in the RFC 4862 way.  RFC 4941 specifies an alternate mechanism
that uses randomized address selection.  We should probably stay away from
assuming RFC 4862 link local addresses exist.

https://tools.ietf.org/html/rfc4941

On Wed, May 10, 2017 at 11:10 AM, Matt Klein <notifications@github.com>
wrote:

[2017-05-10 17:30] #897 closed

[2017-05-10 17:59] mattklein123 commented on #925
I don't think modifying the decoding/encoding buffer inline is going to work here without some super confusing behavior where we keep track of what was already in the buffer and then only dispatch the delta. This is because we could have already been buffering, so just checking the existence of the buffer and dispatching all of it doesn't make sense. I'm thinking through this to figure out if this

[2017-05-10 19:02] mattklein123 commented on #925
@lizan @fengli79 I think I have a solution, but I'm going to change the filter API a little bit to remove write access to decoding/encodingBuffer and add an explicit addBodyData() function. This will require a slight code change on your part but I think will make all of this a lot simpler to grok. I will figure this out locally and then put up a PR for you both to look at.

[2017-05-10 20:09] tomwans commented on #940
Yep, that's the plan. What's the need for the global resolver? I was able to comment it out (dns_resolver_) from the InstanceImpl without an issue. Maybe I'm not understanding exactly what the global resolver is?

Yep, as far as the configuration changes go, I think we'd have a new entry inside of the cluster type, similar to "dns_refresh_rate_ms", called "dns_resolvers". It would take an array of

[2017-05-11 01:23] htuch commented on #940
@mattklein123 We're also thinking it might be useful to have more flexible resolver configuration. Specifically, the ability to transform arbitrary `Address` in the v2 API via a plugin for both listeners and upstream addresses. The plugin might use DNS or something else. This goes beyond what @tomwans is talking about, but just something to keep in mind. @tschroed.

[2017-05-11 03:56] htuch opened #944 "TSAN error triggered by std::string race in FakeRawConnection::write"
From debugging prints etc. it seems that `memcpy` from `data.c_str()` in the closure in `FakeRawConnection::write()` is racing with `delete` on `std::string` in the main thread execution action closure.

In gcc-4.9, the `std::basic_string` implementation is using reference counting and CoW. It's unclear exactly why the reference counting is not working correctly across threads, but there are some

[2017-05-11 05:29] mattklein123 commented on #944
AFAIK this repros using GCC 5.4 stdlib on 16.04 in CI, so it's definitely not fixed by GCC 5 unless i'm missing something. I haven't looked into this in detail, but I would be utterly shocked if this bug exists even in 4.9 on normally compiled code. I strongly suspect that this is somehow related to TSAN clang compilation. We probably need to compare the generated unoptimized code from TSAN to bot

[2017-05-11 05:32] mattklein123 commented on #940
@htuch OK let's sync offline a bit. Not totally clear what you mean.

@tomwans the only reason to keep the global resolver around is that in the general case, it will use less memory and connections for many DNS clusters. I think it's probably worth it to keep it, but could be convinced otherwise. Also, qq, are we sure that c-ares doesn't have an API that would allow us to specify resolver details

[2017-05-11 11:53] htuch commented on #944
Did you set `-D _GLIBCXX_USE_CXX11_ABI=1`? This is needed to use the new `std::string` in GCC 5.0+ since it is ABI incompatible. We explicitly disable this in Clang in the build for this reason, since it breaks the prebuilts, which are compiled with the old ABI.

[2017-05-11 15:05] mattklein123 commented on #944
I see. Wow. Learned something new today. Kind of amazed that I never encountered this before. I did a bunch of reading and I concur this is busted before GCC 5.

My suggestion is that we drop GCC 4.9 and move to 5.4. On trusty we already make people install the PPA to get 4.9. 5.4 is available. On Xenial it's the default. RH is so far behind that people have to compile the toolchain anyway to get

[2017-05-11 15:09] mattklein123 commented on #721
@alyssawilk is going to take this one. @alyssawilk feel free to follow up with me if you need any extra context.

[2017-05-11 15:13] #914 closed

[2017-05-11 16:41] dnoe commented on #944
Additional data point: This issue did not reproduce in repeated runs of 1000 simultaneous tests with "-c opt" build mode.  It only occurs in debug builds.

[2017-05-11 17:56] mattklein123 commented on #718
Fixed!

[2017-05-11 17:56] #718 closed

[2017-05-11 18:57] timperrett commented on #615
@PiotrSikora just looking into this and was looking for a bit of clarification about the following use cases:

* 1-way SSL with an externally rooted CA: satisfied by the use of `cert_chain_file` and `private_key_file`
* 1-way SSL with a privately rooted CA: satisfied by the use of `cert_chain_file` and `private_key_file`, but the client will have to trust the private CA (this is normal and fine)
*

[2017-05-11 20:04] htuch commented on #940
c-ares does allow you to set the DNS servers on a per-ares_channel basis (https://c-ares.haxx.se/ares_set_servers_ports_csv.html), we have one channel per resolver today.

[2017-05-11 20:04] htuch commented on #940
https://c-ares.haxx.se/ares_set_servers.html as well

[2017-05-11 23:44] lizan opened #947 "Support cancel upstream request in a filter decodeData"
If a filter returns `Continue` in `decodeHeaders`, then in `decodeData` returns `StopIterationNoBuffer` and do `sendLocalReply`, envoy crashes after complete the request:

[code]

Is there a proper way to cancel the upstream request in `decodeData`? I tried `decoder_callbacks->resetStream`, it will result another crash.

This is needed for handling transcoding error during decoding JSON.

[2017-05-12 01:29] mattklein123 commented on #947
@lizan this is probably a bug I'm going to have to look at. Can you link me to your filter code that is doing this?

[2017-05-12 01:42] lizan commented on #947
@mattklein123 https://github.com/istio/proxy/pull/305 Here is the filter code.

[2017-05-12 05:34] omnilinguist commented on #903
@dnoe may I ask how did you generate the `Output from a debug build with backtrace decoded:`? I am running into a similar issue with the example given in https://www.datawire.io/guide/traffic/envoy-flask-kubernetes/ on a recent `latest`, wondering how I can generate the same debug log.

[2017-05-12 13:56] jylin opened #948 "Remote UDP statsd support"
Envoy seems to currently only support TCP statsd server with the property "statsd_tcp_cluster_name". The default server for statsd is the UDP one (https://github.com/etsy/statsd/blob/master/docs/server.md). It would be nice to support flushing stats to the statsd UDP server.

[2017-05-12 14:35] kflynn opened #950 "Tag lyft/envoy images with release numbers, not just commit hashes"
It'll make it much, much easier to report issues and figure out where things broke with actual version numbers, rather than just the commit hashes and `latest`.

[2017-05-12 14:56] mattklein123 commented on #948
Already supported, see statsd_local_udp_port here: https://lyft.github.io/envoy/docs/configuration/overview/overview.html

[2017-05-12 14:58] jylin commented on #948
Doesn't that option require that statsd or a listener be running on the same machine as Envoy? I was more interested in having a remote statsd server that is listening on UDP.

[2017-05-12 15:00] mattklein123 commented on #948
Yeah, not supported now. Reopening and clarifying request.

[2017-05-12 15:29] tomwans commented on #940
Yep, it seems like c-ares only allows you to set the resolvers per-channel; that's what I've done in our internal fork.

Here's the diff from our internal fork, and provides an overview of the general change I'm proposing: https://gist.github.com/tomwans/ef569b9fc070c9b9b56c797a679abacd.

TL;DR most of the work is done inside of `ClusterImplBase::create` (https://gist.github.com/tomwans/ef569b9fc0

[2017-05-12 16:52] #944 closed

[2017-05-12 17:09] kflynn opened #952 "Segfault with extra / on admin address"
If you have

[code]

(note the trailing `/` on the `address`) then Envoy will segfault. Deleting the trailing `/` cures the segfault.

Segfault is arguably a bit harsh as a misconfiguration diagnostic. ;)

[2017-05-12 20:40] mattklein123 commented on #940
@tomwans there are a few issues in the diff, but at a high level it looks fine to me. Feel free to do a PR and we can cover the issues during the normal code review process.

[2017-05-12 21:10] tomwans commented on #940
@mattklein123 word, will do next week

[2017-05-12 22:10] mattklein123 opened #956 "Switch to slack for community chat"
I registered envoyproxy.slack.com. We need to figure out:

1) How to handle auto-registration.
2) How to get full history (either by paying for it or asking Slack to help us out).

Then we will likely deprecate IRC/Gitter.

[2017-05-12 22:12] mattklein123 commented on #956
Can use https://github.com/rauchg/slackin for (1)

[2017-05-12 23:03] geeknoid commented on #956
On the Istio team, we've been using Slack and just this morning started experimenting with Gitter instead. We have some issues with Slack and one of the good things about Gitter is that this is where the Envoy folks are.

So what is motivating you from wanting to switch to Slack?

[2017-05-12 23:05] mattklein123 commented on #956
@geeknoid gitter is pretty bad just in terms of usability. It's not easy to have break out conversations, no search, pinned items, etc. I wonder if Istio/Envoy should share a slack? That might make most sense.

[2017-05-12 23:21] geeknoid commented on #956
Whoa, I hadn't noticed the lack of search. That's a killer, Gitter is out.

Our goal is to have a general "users" channel and then N channels exclusively for use by the developers working on Istio. Turns out this kind of control in Slack is only available when you pay for the service. We have an issue in GitHub to the effect we need to figure out how to pay for Slack in order to get infinite reten

[2017-05-12 23:23] mattklein123 commented on #956
Yeah, we have the same issue around figuring out payment. I still think with multiple rooms, it's at least worth considering sharing. We could have istio-users room, envoy-users room, and then as many break out rooms as we want. Not a super huge deal but worth thinking about.

[2017-05-12 23:35] hennna commented on #952
The reason this is probably happening is because of my change to Network::Utility::resolveUrl that returns a nullptr when the address cannot be parsed. An easy fix would be to throw an exception instead. Do you want me take this or is there already a patch?

[2017-05-12 23:48] mattklein123 commented on #952
@hennna @ccaraman is working on a fix to refactor stuff to use exceptions. Feel free to sync up with each other offline.

[2017-05-12 23:49] moderation commented on #956
I'm not keen on using Slack for open source projects. This article does a good job laying out some of the considerations - https://dave.cheney.net/2017/04/11/why-slack-is-inappropriate-for-open-source-communications. Slack is a proprietary walled garden.

[2017-05-12 23:56] moderation commented on #956
Mattermost and Rocket Chat are mentioned as possible good alternatives in the HN discussion of the link above https://news.ycombinator.com/item?id=14087002

[2017-05-13 00:09] hennna commented on #952
Okay. @ccaraman feel free to ping me on any related changes.

[2017-05-13 22:23] mattklein123 commented on #430
Done!

[2017-05-13 22:23] #430 closed

[2017-05-14 03:31] adriancole commented on #430
cool. is there an example somewhere that wires this up?

[2017-05-14 05:06] timperrett commented on #430
Awesome! +1 for an example or docs :-)

[2017-05-14 10:57] kameshsampath commented on #430
Awesome! +1 great work!

[2017-05-14 12:22] omnilinguist commented on #956
Should we already start registering accounts in the Slack with the intention that that will soon/eventually become the new official chat? It sounds like there is still some discussion on whether this will be the final call; please advise when this is decided.

[2017-05-14 19:16] rshriram commented on #430
Will upload that by this evening.
On Sun, May 14, 2017 at 6:57 AM Kamesh Sampath <notifications@github.com>
wrote:

--

~shriram

[2017-05-14 20:27] mattklein123 commented on #956
@omnilinguist no, not yet. Unless we can get full paid slack features we won't switch. I'm working on it.

[2017-05-14 20:28] mattklein123 commented on #430
@adriancole @timperrett @rshriram @fabolive yes it would be really amazing to have a full docker end to end example for tracing, service discovery, etc. I will open a separate GH on that.

[2017-05-14 20:32] mattklein123 opened #960 "Zipkin follow ups"
- [ ] JSON interface TODO
- [ ] Perf pass
- [ ] End to end docker example would be super amazing (https://lyft.github.io/envoy/docs/install/sandboxes.html)

Might be a few other things missing. Feel free to add.

cc @adriancole @timperrett @rshriram @fabolive

[2017-05-14 20:59] mattklein123 opened #961 "perf: perf testing framework / regression testing"
@htuch I made this issue for the intern to cover OSS stuff. We can keep track of items here as they come up.

[2017-05-15 08:35] yacc2007 opened #963 "http/2: make MAX_CONCURRENT_STREAMS configurable"
many long connection continuous connect to envoy, and call use grpc stream channel to backend grp stream server, when after many connections(about 6000 connections) connected and send call, but the envoy return 503 to client, and not pass request to backend server

such as below:
client -> envoy -> grp_strean_server

some log : [debug][pool] max requests overflow

the envoy circuit_breaks config :

[2017-05-15 10:52] jwfang opened #964 "bazel build failed ?"
do a fresh clone & build from project root:

[2017-05-15 14:07] fabolive commented on #960
@mattklein123 Your list sounds like a great starting point for improvements. I should be able to start tackling that next week.

[2017-05-15 14:23] htuch commented on #964
Can you normally fetch https://github.com/htuch/protobuf.git without any authentication? What happens if you clone that git repository and attempt to checkout d490587268931da78c942a6372ef57bb53db80da manually?

[2017-05-15 16:45] mattklein123 commented on #963
Please post full config and output of /stats and /clusters in a gist when this problem happens.

With that said, this is likely due to: https://github.com/lyft/envoy/blob/master/source/common/http/http2/conn_pool.cc#L249

Right now we effectively hard code max concurrent streams to 1024 for http/2 connection, and we only have 1 http/2 connection per connection pool (times concurrency in the server

[2017-05-15 18:15] #925 closed

[2017-05-15 19:59] tschroed opened #967 "Generalize concrete implementation registration and lookup."
Tracing, stats, and logging should have dynamic registration for runtime lookup of specific implementations.

For example, right now there is a lightstep and a zipkin tracing implementation. These are selected using config values and if/else in MainImpl::initializeTracers.

Sometimes it's undesirable to even attempt to link against specific implementations. For example, Lightstep introduces a symb

[2017-05-15 20:20] htuch commented on #967
Do we want to call this static registration to distinguish from fully dynamic registration (e.g. using ELF loadable objects?).

[2017-05-15 20:29] tschroed commented on #967
I'm name agnostic. We could even just call it "registration".

[2017-05-15 20:31] mattklein123 commented on #967
+1 to this, and also doing the bazel work to make it easy to compile things in and out. The static registration can be modeled after the existing filter stuff.

[2017-05-15 20:33] htuch commented on #967
Should we use reverse DNS naming notation? Also see https://github.com/lyft/envoy-api/issues/34.

[2017-05-16 02:17] jwfang commented on #964
my output from your suggest test:

[code]

[2017-05-16 03:08] timperrett commented on #794
Folks, just chiming in here with a use case as this sounds like a feature we also need for a couple of systems. Specifically what we would like is, when receiving a mTLS request, have the ability to extract the CN, the DN and, less importantly, the SANs on the inbound client certificate, and then remap them onto a header that is propagated to the downstream cluster.

Personally I don't much care i

[2017-05-16 04:13] jwfang commented on #964
sorry, our internal github mirror didn't use the --mirror clone option.

this can be closed now.

thanks you all.

[2017-05-16 04:35] #964 closed

[2017-05-16 04:39] RomanDzhabarov commented on #909
@moderation what is the motivation here? Is that just in case one of the systems down?

[2017-05-16 13:52] tschroed commented on #967
Works for me.

Slightly more crazy: we could have a single registry for all of this stuff to make it readily extensible to new classes of things. However, retrieval probably ends up involving a static_cast which makes me a bit uncomfortable.

[2017-05-16 15:03] htuch opened #975 "Don't depend on spdlog for `fmt::format`"
There's a number of places where we depend on `spdlog` just to get at the string formatter `fmt::format`. This is not actually part of `spdlog`, it's from https://github.com/fmtlib/fmt, which `spdlog` bundles. In the interest of logging abstraction down the track, we should make the dependency more explicit and import `fmtlib/fmt` directly.

[2017-05-16 15:22] mattklein123 commented on #967
I think you mean ```dynamic_cast```, but the single registry is an interesting idea and might remove duplication. Don't feel strongly either way.

[2017-05-16 15:41] #920 closed

[2017-05-16 16:10] #952 closed

[2017-05-16 16:44] #947 closed

[2017-05-16 21:31] hennna opened #978 "DnsResolver v4/v6 selection"
In adding v6 support to DnsResolver (https://github.com/lyft/envoy/blob/master/source/common/network/dns_impl.cc#L123), what would be the best way to handle v4/v6 address selection.

1. Default to v4/v6
2. Configurable option

For (1) something like try v6. If failed, try v4
For (2) something like a json parameter or CLI option that gets plumbed through to DnsResolver

[2017-05-16 22:08] hennna commented on #978
Proposal: We can introduce the boolean **fallback_v4** in DnsResolver. When true, return the v4 address if available and the v6 address if not. When false, return the v6 address if available, and the v4 address when if not.

This should be set when the DnsResolver is created (https://github.com/lyft/envoy/blob/master/source/server/server.cc#L70)

However, should this be a CLI option or configurabl

[2017-05-16 23:48] mattklein123 commented on #978
@hennna I think definitely configurable on a per cluster basis. IMO I would probably just have an enum of different options, basically v4only, v6only, auto (default).

[2017-05-17 00:08] hennna commented on #978
@mattklein123 Do you mean add an additional optional json field to every host? (https://github.com/lyft/envoy/blob/master/test/config/integration/server.json#L285)?

Also, should the default behavior be programmable or fixed? Prefer to try v4 or v6 first?

[2017-05-17 00:16] mattklein123 commented on #978
No, I would probably add it as something on each cluster, kind of like this: https://github.com/lyft/envoy/blob/master/source/common/json/config_schemas.cc#L1208

Maybe "dns_fetch_type" or something? Not sure of best name. Theoretically it's possible that it could be done on a per host basis, but I find it hard to believe that people would actually use that, and this fits into the config model bet

[2017-05-17 00:23] hennna commented on #978
Yes, I was wondering whether splitting auto into prefer_v4 and prefer_v6 would be useful. Ok this sounds good. I'll starting working on this.

[2017-05-17 00:34] mattklein123 commented on #978
IMO I would just do one version of auto since it's simpler and if people ask for the other version it can be added later, but either way.

[2017-05-17 00:51] yacc2007 commented on #963
Thanks for reply.
My case is like that, many front client(grpc stream) connect to envoy, when connected, the client send a request to envoy which forward to backend server. The connection do not close and the http2 stream do not destroy, because i want to use envoy as a long connection access server, and the backend server is grpc stream service.
When i use --concurrency 1, the max connections is

[2017-05-17 01:02] hennna opened #979 "Add local address IP version as CLI option"
Thoughts on whether this can be used for both:

1. Initializing LocalInfo (https://github.com/lyft/envoy/blob/master/source/exe/main.cc#L67) and
2. UdpStatsdSink local address
https://github.com/lyft/envoy/blob/master/source/common/stats/statsd.cc#L23

Or should the UdpStatsdSink local address version be a separate json field?

[2017-05-17 01:11] moderation commented on #909
This is super low priority as the use cases are theoretical. I can imagine that different tracing backends could offer different benefits in terms of reporting, querying, functionality etc. Cost and access could be factors ie. Lightstep is a commercial service. However to really have those levers makes sense you might want to have tracing backend selection choice per listener filter which is proba

[2017-05-17 02:35] mattklein123 commented on #979
For (1), I agree we should add a CLI option that can optionally populate LocalInfo.

For (2), this is related to https://github.com/lyft/envoy/issues/948. This is not going to make the 1.3.0 config freeze, but we could deprecate the local UDP port field and add a local UDP address field instead which would fix both your issue as well as the other issue.

[2017-05-17 02:38] mattklein123 commented on #963
If you are asking will we add config support so this is configurable, I think we should, but someone has to do it. Also, note that you are at the whim of the http/2 stack on the other side. If they limit stream concurrency, you will have a similar issue: https://tools.ietf.org/html/rfc7540#section-6.5.2

[2017-05-17 02:46] mattklein123 commented on #794
@myidpt @PiotrSikora how should we move the ball forward on this one? The actual implementation here is not difficult. We just need to decide on which header to use and the various semantics. Can the two of you a final proposal and we can get some +1s on it and then implement?

[2017-05-17 05:35] myidpt commented on #794
@PiotrSikora as I haven't heard from you, please comment on the following proposal:

For the security nature of the client cert info, I think it is better to choose the dedicated header (XFCC) for forwarding auth result, so that it is decoupled from other forwarded info, thus can be controlled more strictly.

The definition of XFCC ("x-forwarded-client-cert") is very similar to the "[Forwarded](ht

[2017-05-17 06:36] yacc2007 commented on #963
thanks!
i changethe MAX_CONCURRENT_STREAMS , set a very large number, and then rebuild, at the same time i set the backend grpc server change the limit is very large number, and then it work ok.

[2017-05-17 08:22] PiotrSikora opened #980 "Gracefully handle EMFILE (too many open files) errors."
Running out of file descriptors when accepting new connections is perfectly fine and acts as circuit breaker, so Envoy shouldn't be crashing when it cannot accept new connections.

[2017-05-17 12:10] jwfang commented on #963
add a pull request  #981  , work in progress.

[2017-05-17 13:19] dnoe commented on #978
I'd call it dns_lookup_type, seems to match typical DNS terminology better than "fetch"

[2017-05-17 15:06] mattklein123 commented on #980
From an operational perspective, I'm fundamentally opposed to this behavior. I've been burned by this too many times. When a process runs out of FDs and attempts to gracefully handle, bizarre things can happen including not being able to write logs, not being able to emit stats, etc. The fact that Envoy treats a lack of FDs as an OOM condition and crashes is very much on purpose.

On a properly co

[2017-05-17 15:28] dnoe commented on #980
We have an internal bug ticket assigned to me for designing a mechanism that does connection resource tracking including memory and FD usage and gracefully terminates some of the most idle connections when we start to get under resource pressure with the goal of preventing this scenario.  I think properly implementing this is a better solution than trying to handle EMFILE when it occurs.  I don't

[2017-05-17 15:37] mattklein123 commented on #980
@dnoe agreed. Here is your GH: https://github.com/lyft/envoy/issues/373 :)

Please put design notes there.

[2017-05-17 15:41] mattklein123 commented on #373
@dnoe assigning to you.

[2017-05-17 16:36] mattklein123 commented on #794
@myidpt +1 from me. @timperrett can you look at ^. @louiscryan @htuch @PiotrSikora ?

[2017-05-17 17:02] louiscryan commented on #794
+1 from me with a few suggestions

- Can we give folks control over which fields are forwarded. I suspect Envoy will be asked to support others over time and the header could get quite unwieldly without some contro, particularly when appending is enabledl. A list of the cert field names to include should suffice. We should also decide what the default set is. Suggested name "forward_client_cert_de

[2017-05-17 17:09] htuch commented on #794
This all seems reasonable. I'm wondering for the v2 gRPC APIs whether we want to support this via https://github.com/lyft/envoy-api/issues/4?

[2017-05-17 17:12] PiotrSikora commented on #794
1. I don't buy the argument that decoupling this from the`Forwarded` header provides any security advantage. On the contrary, proxies and their operators need to sanitize multiple headers and keep the whole set in consistent state.

2. Right now, there is no concept of trusted downstreams, and `forward_client_cert: forward_only` and `forward_client_cert: append_forward` cannot work without adding

[2017-05-17 17:24] mattklein123 commented on #686
Resolving this for now via https://github.com/lyft/envoy/pull/972

We can open new issues depending on how this goes. Line numbers will help a ton. Thanks @danielhochman !

[2017-05-17 17:24] #686 closed

[2017-05-17 17:49] mattklein123 commented on #794
@PiotrSikora what do you mean exactly? We do implicitly have this support today via the poorly named "use_remote_address" field, and in fact we implement trusted downstreams with Envoy in Lyft today via mTLS for our POP edge proxies. In this case, we trust the downtream proxy to have correctly set XFF, etc.

[2017-05-17 18:26] PiotrSikora commented on #794
@mattklein123 ah, sorry, I've missed that... but unless I'm misreading it, listener either trusts all accepted connections or none of them, correct?

[2017-05-17 18:27] myidpt commented on #794
@louiscryan
1. We can add a field `forward_client_cert_details`, and currently it supports values: `Subject`, `SAN` (`BY` and `Hash` should be mandatory).
2. What is the purpose of the hash of client cert? Is it generated using the private key of the proxy, or it's the hash value in the cert?
3. I guess `forward_only` can keep the XFCC header cleaner, by omitting less-important mTLS conections (su

[2017-05-17 18:53] myidpt commented on #794
@PiotrSikora
1. Envoy supports per-downstream `ssl_context` (TLS/mTLS) config. So I think envoy should trust a downstream connection iff. it is a mTLS connection.
2. Your point that "the identity in cert depends on the CA" is great. The `BY` value scopes the cert information on the specific connection. Also, normally, I suppose the trusted root CAs configured on each proxy should be well controlle

[2017-05-17 18:56] PiotrSikora commented on #794
@myidpt SPKI value doesn't change when certs are rotated (at least, it shouldn't).

[2017-05-17 18:59] myidpt commented on #794
@PiotrSikora
I see. But in our case, the cert content may change, for example, a `SAN` may be added/removed in a cert. Does the SPKI change in this case?

[2017-05-17 19:04] PiotrSikora commented on #794
@myidpt that, I don't know... It might not... But `SAN` will change, so `SPKI` isn't worse in this case.

[2017-05-17 20:45] mattklein123 commented on #794
Yes, basically. How else could it work though? As @myidpt points out it really needs mTLS to be trusted. The current implementation doesn't enforce that, and IMO I don't think we should make that required since people have different types of deployments. I would rather get rid of "use_remote_address" and make it much more explicit what is done with XFF, etc. like we are discussing here for XFCC. I

[2017-05-17 20:59] myidpt commented on #794
@PiotrSikora
Sorry I'm not very familiar with SPKI. What does SPKI actually look like? I can only find [this](https://tools.ietf.org/html/rfc2693) but it's not related to X.509 ...

[2017-05-17 21:19] PiotrSikora commented on #794
@myidpt check:
- https://www.owasp.org/index.php/Certificate_and_Public_Key_Pinning
- https://www.imperialviolet.org/2011/05/04/pinning.html
- https://en.wikipedia.org/wiki/HTTP_Public_Key_Pinning
- https://tools.ietf.org/html/rfc7469

[2017-05-18 08:16] myidpt commented on #794
@PiotrSikora
Thanks for the pointers. The idea seems to be putting the CA's public key info in the XFCC elements so that the receiver is able to verify if the CA in the certification chain is really allowed to issue the client's identity.

I think this can be useful for enforcing strong security, and we can consider it as a TODO. I think we may need to solve some implementation issues here, such a

[2017-05-18 09:39] jwfang opened #987 "http/2 SETTINGS_MAX_CONCURRENT_STREAMS : upstream"
quoted @mattklein123 from #981 :

[2017-05-18 09:41] jwfang opened #988 "http/2 SETTINGS_MAX_CONCURRENT_STREAMS : downstream/listener"
quoted @mattklein123 from #981 :

[2017-05-18 11:29] jwfang commented on #988
i will try this one

[2017-05-18 12:40] jwfang commented on #988
created PR #989

[2017-05-18 15:44] rossabaker opened #990 "Make ratelimit timeout configurable"
Ratelimit calls have a [hardcoded timeout of 20 milliseconds](https://github.com/lyft/envoy/blob/23d1acd7ec5836bc1a754047ca18d0ec4998eeda/source/server/config/http/ratelimit.cc#L25).  When latency is too high, the ratelimit service gets called, but envoy receives a 504 and allows the request proceed.  This timeout should be configurable.

[2017-05-18 16:56] mattklein123 commented on #950
This is done for 1.3.0. will make this part of the normal release process.

[2017-05-18 16:56] #950 closed

[2017-05-18 17:26] mattklein123 commented on #794
@myidpt @louiscryan @PiotrSikora I think we are pretty much converged here in terms of control options. As long as we have the ability to specify what fields get populated in XFCC we can always add more fields later. So I the only remaining question is whether to use XFCC or Forwarded as the header name? Can we resolve that today? I don't personally care that much, though I think I would vote for

[2017-05-18 17:41] myidpt commented on #794
I vote for `XFCC`.

The basic idea is to decouple the security-related headers from the non-security headers, so that special rules can be applied to them. Because we introduce `BY` into `XFCC`, `XFCC` can address the writer of each element, just like the `Forwarded` header.

[2017-05-18 17:58] myidpt commented on #794
@louiscryan @PiotrSikora @mattklein123 @htuch
I have also updated the proposal according to our feedback, by appending to the original one. Please review the appended part by searching for "Added according to feedback". Thanks!

[2017-05-18 18:09] timperrett commented on #794
@myidpt this looks good for the most part. One question: what's the rational for choosing the CN *or* the SAN(s)? I'm guessing the working assumption is that the latter is a superset of the former? Is that part of the spec? Whilst I don't think it would break our usage, just want to make sure we're making a valid assumption, as im not sure there is any requirement from a cert perspective for SANs

[2017-05-18 18:27] louiscryan commented on #794
I am fine with proceeding with XFCC, we can always support config to use Forwarded later if/when it gets some traction.

[2017-05-18 18:29] myidpt commented on #794
@timperrett
SubjectAltName (SAN) is not a superset of CN. We use SAN because CN is deprecated in favor of SAN for identity checks: https://tools.ietf.org/html/rfc6125#section-2.3

[2017-05-18 18:46] mattklein123 commented on #794
@myidpt OK. I think we are closed on the design here. Feel free to implement. Looking forward to landing this! :)

[2017-05-18 19:26] mattklein123 opened #992 "Formalize CVE process"
Some high level issues:

- Do we have a pre-announce list. Who is on it?
- Announce process. envoy-announce@?
- Explicit policy around what is documented, what severity levels mean, etc.

Should look at boringssl, openssl, and nginx for inspiration. Others?

[2017-05-18 19:29] jtaylor32 commented on #319
Is there a potential timeline or update whether or not Envoy will support websockets?

[2017-05-18 19:37] mattklein123 commented on #319
@jtaylor32 no, no update. Need someone to sign up to implement this.

[2017-05-18 19:37] mattklein123 commented on #992
@woodrow not sure if you feel like helping with this. Can chat when I'm back from vacation.

[2017-05-18 19:45] mattklein123 commented on #980
@PiotrSikora I would like to close this in favor of #373. Or do you prefer to keep this open and make the behavior configurable?

[2017-05-18 21:14] myidpt commented on #794
Cool, thanks everyone! I will start implementing it :)

[2017-05-19 14:37] dnoe commented on #743
I'm wrapping up the initial pass at this this and will push something for review to the API repo, it's taken a bit longer due to me learning about all the systems that will digest this on our side.  One mismatch that remains is that all of our internal logging keeps track of request+response bytes inclusive of headers but Envoy's format is exclusive of headers - just body bytes.  I can resolve thi

[2017-05-19 15:47] mattklein123 commented on #743
@dnoe hmm. Good question. I think maybe we should support it both ways and allow different substitution variables to pick which one in RequestInfo? I can see people wanting both types. The current type roughly matches Apache logging style.

[2017-05-19 18:00] mattklein123 commented on #963
Closing in favor of other issues and open PRs.

[2017-05-19 18:00] #963 closed

[2017-05-19 18:04] mattklein123 commented on #891
@kyessenov @louiscryan @PiotrSikora would like to won't fix this in favor of forthcoming LDS API. Do we need independent support for this? cc @htuch

[2017-05-19 18:06] mattklein123 commented on #502
I'm going to close out this general item. We are already working on a general registration pattern as well as the ability to not compile lightstep driver, etc. so will have a pattern for this moving forward. cc @tschroed @htuch

[2017-05-19 18:06] #502 closed

[2017-05-19 18:08] mattklein123 commented on #511
@fengli79 @ctiller @louiscryan I'm closing this for now. I don't see any near term reasonable path forward on this. We will reimplement the ability to make streaming gRPC calls within Envoy like we do for unary calls. We can revisit if/when we explicitly need functionality that would require substantial code duplication. cc @htuch

[2017-05-19 18:08] #511 closed

[2017-05-19 18:09] mattklein123 commented on #551
@kyessenov going to won't fix this for new in favor of LDS API. cc @htuch

[2017-05-19 18:09] #551 closed

[2017-05-19 18:11] mattklein123 commented on #664
@dnoe @htuch now that we are basically telling people to use GCC > 5 (and using 5.4 in CI) I think we can turn on C++14 if we want. What does this mean for G internal builds?

[2017-05-19 18:14] mattklein123 commented on #980
Closing in favor of #373. We can reopen if there is widespread disagreement on this. cc @dnoe

[2017-05-19 18:14] #980 closed

[2017-05-19 18:14] dnoe commented on #664
@htuch and I will discuss offline and get back to you.

[2017-05-19 18:20] mattklein123 commented on #834
@htuch @dnoe I feel like we are kind of done with this issue since we fixed dependencies to have frame pointers. It's not perfect, but to me it's good enough. Should we keep this open? Or do we need to do the ```disable-libunwind``` thing above?

[2017-05-19 19:04] dnoe commented on #664
We'll need a little bit longer to make this move internally - perhaps the end of the quarter.  Is that OK with you?

[2017-05-19 19:32] mattklein123 commented on #664
Sure, I'm in no rush on this at all, was just going through and cleaning up issues.

[2017-05-19 19:54] htuch opened #1000 "Switch coverage from gcov to lcov"
We need this for two reasons:

1. clang coverage.

2. Excluding lines such as `NOT_IMPLEMENTED` and `NOT_REACHED`.

We know `lcov` is really slow from https://github.com/bazelbuild/bazel/issues/1118, but since we use a single test binary it shouldn't be too bad, maybe a couple of minutes for the test (vs. 30 mins + when running with all the tests producing individual lcov reports).

[2017-05-19 19:58] mattklein123 commented on #1000
Sweet. This would also resolve https://github.com/lyft/envoy/issues/858

[2017-05-19 20:00] mattklein123 opened #1001 "IP tagging filter"
@junr03 @ccaraman can you add general description of what we are doing here in case anyone has any comments on the plan. Thanks.

[2017-05-19 20:03] htuch commented on #1000
Now we just need to find someone enthusiastic enough to enter the Bazel coverage vortex of doom. Count me in as a P2 if there is no such volunteer.

[2017-05-19 20:05] htuch commented on #1000
This would also probably have the nice side effect that we wouldn't need to be forcing gcovr 3.3, which isn't standard in Ubuntu 14.04.

[2017-05-19 20:17] mattklein123 commented on #1000
Frankly, I think someone from the Bazel team should enter their own vortex of doom and deal with this so they can "eat their own dogfood."

[2017-05-19 21:31] htuch commented on #978
Do we want to prefer IPv4 in auto or IPv6? It seems that https://tools.ietf.org/html/rfc3484 has "The default policy table gives IPv6 addresses higher precedence than
   IPv4 addresses.  This means that applications will use IPv6 in
   preference to IPv4 when the two are equally suitable. ", but I think that's a pretty complex set of rules in the full RFC that we won't implement.

[2017-05-19 21:42] htuch commented on #978
The reason I point to that RFC is it's how getaddrinfo is supposed to work, and that's what we're implementing here. Principle of least surprise would suggest we are consistent with it.

[2017-05-19 21:54] htuch commented on #978
Actually, thinking about this further `getaddrinfo` returns a list of addresses. We probably should do this as well, and allow the consumer to fallback to IPv4 if `connect()` fails as suggest in the RFC.

[2017-05-19 23:01] mattklein123 commented on #956
💥 through some magic we now have full featured slack on envoyproxy.slack.com 💥

Will figure out signup and switch over from Gitter when I am back from vacation in June.

[2017-05-19 23:06] mattklein123 commented on #978
I don't have a super strong opinion on this. I guess my vote would be:

- Prefer v6 over v4 in auto mode per RFC, but for now just return a single type of address.
- File a follow up issue to have a mode where we return multiple types of addresses, and actually allow the calling code to do fallback processes if connect() fails. This is super non-trivial so would rather not conflate in the initial

[2017-05-21 22:01] htuch commented on #1000
So, one issue we have today in a non-CI setting is that the clang runs actually fail silently, with the only symptom a 0.00 coverage results and empty coverage HTML for the Envoy sources. It looks like under the hood that gcov segfaults, gcovr hides it. I'm going to make some doc and add some `run_envoy_bazel_coverage.sh` safeguards to deal with this. @rlazarus @hennna.

[2017-05-21 22:02] htuch commented on #978
+1 on what @mattklein123 says above. @hennna if you think this makes sense, can you update https://github.com/lyft/envoy/pull/1002 to reflect and file the follow-up issue? Otherwise, please chime in with your thoughts.

[2017-05-22 15:25] hennna commented on #978
Yes that sounds good. I'll create an new issue to track.

[2017-05-22 15:46] hennna opened #1005 "DNS IPv6 fallback support follow-up"
In #978 , we discussed the changes necessary to begin DNS IPv6 support which are reflected #1002 . For the fallback "auto" policy, we decided to query ares_gethostbyname twice. Once with parameter AF_INET6 and then with parameter AF_INET if the original query failed.

An alternative option would be to use the AF_UNSPEC option provided in the c-ares library. This should ideally implement the "auto"

[2017-05-22 18:30] tschroed opened #1006 "Make zipkin and lightstep optional based on bazel --define"
Following PR #994 make it possible to --define lightstep_tracing=disabled and zipkin_tracing=disabled so that they're not linked into the Envoy binary. PR #982 was doing this, but the build dependencies are slightly restructured and the ifdefs are no longer necessary.

@mrice32

[2017-05-22 18:32] mrice32 commented on #1006
Sounds good.  I'll look into #982 to figure out how to add this on top.

[2017-05-22 23:58] ccaraman commented on #1001
# IP Tagging filter config
IP tagging data will be stored in the envoy config as a part of the HTTP Filter config. It is installed as a part of the HTTP Connection Manager filter chain.
[code]

# HTTP IP Tagging filter
### Maintain the IP Tags
When the IP Tagging filter is loaded, a level compressed trie(LC-trie) will be used to maintain the IP addresses and the associated tags. I will use these l

[2017-05-23 00:00] kyessenov commented on #960
Is there some plan to filter or sample traces for zipkin?

[2017-05-23 02:35] alk commented on #834
So I've fixed libunwind detection in gperftools 2.6 release candidate. But my advise would be to link with libunwind especially if you actually plan to use cpu profiler, debug allocator etc. Apparently libunwind is not abandoned and isn't that slow and has very decent chance of working in all cases.

[2017-05-23 05:53] htuch commented on #1001
@junr03 @ccaraman It would be helpful to have the trie somewhat generic/reusable in some other contexts. In particular, I'm thinking that in the v2 LDS API, we have a notion of multiple CIDR ranges in the `FilterChainMatch` table (see https://github.com/lyft/envoy-api/blob/master/api/lds.proto#L73). We'll want to do longest prefix matching against a set of IP ranges there, so hopefully the trie im

[2017-05-23 06:04] htuch commented on #1006
I'm wondering if we want to go down the path of `--define` or we want to just make it easy to declare build targets that take the core Envoy (without any filters) and then link in the filters/tracers that are actually wanted? We could define libraries of common filters. #994 makes the second option more plausible, since there are no longer any deep dependency relationships and all filters/tracers

[2017-05-23 12:28] tschroed commented on #1006
I think the combinatorial explosion becomes problematic when we have lightstep, zipkin, and dapper for monitoring. Text, proto, and Cloud Logging. Statsd and Stackdriver for monitoring.

Certainly anyone who wants to could mix and match and maintain their own build targets, but at that point it's not really any different than just having a build config that supplies some --defines.

That said, I d

[2017-05-23 20:03] mrice32 opened #1011 "Potential switch to/add glog logging"
It would be nice if we could discuss envoy logging utilities.  What are the reasons for choosing spdlog over other external open source loggers, like glog?  We are interested in using glog because it provides some valuable metadata, like line numbers and filenames.  We could potentially add glog via the sort of generalization of logging implementation that was suggested in issue #967 or make it th

[2017-05-23 20:06] jamessynge commented on #1011
I'd be interested in hearing from other users whether they depend on the existing log formats (e.g. have tools that parse them, dash boards that consume them).

@rshriram @RomanDzhabarov @mattklein123 How does this strike you?

[2017-05-23 20:58] hennna commented on #1005
Another follow-up issue: adding support for DNS caching

[2017-05-23 22:40] RomanDzhabarov commented on #1011
We really rarely depend on the logs produced by the spdlog. Observability relies on stats, access logging and tracing, but I doubt there is any automation to parse those logs.

[2017-05-24 04:26] htuch commented on #1006
Since we're the main folks who have this requirement today and have a good solution that will also generalize to other site specific Bazel builds I'm going to close this one out. Please reopen if this is needed in the future for any reason.

[2017-05-24 04:26] #1006 closed

[2017-05-24 04:28] htuch commented on #1005
I think another bigger issue is that you want to have the caller receive both IPv6/IPv4 addresses if available and be in a position to do its own fallback to IPv4 if the IPv6 address isn't routable. This is a change that would impact multiple call sites today, but something we should consider doing in the future to avoid surprising behavior.

[2017-05-24 04:40] htuch opened #1012 "Create formal deprecation process"
As suggested by @RomanDzhabarov, we should have a clearer way to track deprecated features (e.g. #994, #979). We agreed to add a `DEPERECATED.md` to track deprecations in the Envoy source root.

In addition, maybe we can consider flag protection of deprecated features so we can turn them off easily on the CLI and validate behavior. This would be easy with gflags, not sure about using tclap.

[2017-05-24 04:42] htuch commented on #1012
Another idea: have a `log().warning` requirement to appear once only the first time a deprecated feature is used.

[2017-05-24 04:47] htuch commented on #1012
Also, require commit messages to mention deprecation.

[2017-05-24 05:04] htuch commented on #1011
I think logging is a breaking change per the policy, it's user-visible since we document we use spdlog for the log format. It's helpful to know that this has no impact to Lyft.

I think we should probably open this up during business hours on Gitter for discussion. In addition to the folks @jamessynge mentions, there are a number of other users I'd like to check with that are active, including @ma

[2017-05-24 05:18] timperrett commented on #1011
@htuch thanks for the consideration. Currently we're not specifically processing envoys logging format, so no objections from our end :-)

[2017-05-24 06:15] rshriram commented on #1011
If this is for debugging, then I support this effort fully. It would be
nice to have glog.v(level) throughout the code so that when we debug Envoy
we can turn on appropriate level of logging. Right now, it's sort of all or
nothing debug logging with Envoy. And it's making it pretty difficult for
us to debug envoy issues.

cc @kyessenov
On Tue, May 23, 2017 at 4:40 PM Roman Dzhabarov <notifications

[2017-05-24 06:18] rshriram commented on #1011
While doing this, would it be possible to send these logs to syslog ?
Polluting stderr doesn't help much.
On Wed, May 24, 2017 at 12:15 AM htuch <notifications@github.com> wrote:

--

~shriram

[2017-05-24 06:31] timperrett commented on #1011
@rshriram you mean optionally send to syslog right? Syslog wouldn't work for folks running envoy with containers - stdout is preferable there IMHO. With that being said its already a bit wierd with some logging to files on disk and having to sweep those files up.

[2017-05-24 11:12] rshriram commented on #1011
Oh yes optionally log to syslog. The point is that we need a way to control
the firehose of logs that Envoy spews if we turn debugging on. Different
logging levels 1 through N.

On Wed, May 24, 2017 at 12:31 AM Timothy Perrett <notifications@github.com>
wrote:

--

~shriram

[2017-05-24 12:32] mattwoodyard commented on #1011
While we're not parsing (or planning to parse) the built in logs, being able to easily add a custom log facility in a filter is important. Our internal filters(authn, atuhz related) add a facility that we redirect to a file.

I'm kind of -0.5 for switching to glog(performance related). It's mostly personal preference though. Spdlog has a couple of nice knobs and switches envoy isn't using/exposing

[2017-05-24 18:44] mrice32 commented on #1011
It would be difficult to do a per-facility log levels managed by glog as far as I'm aware, but glog would allow a per-file log levels that could be modified at runtime.  There are also ways to log to a particular sink given a reference to the sink, which we might be able to configure to work similarly to the multiple instances of spd::logger that exist now.

[2017-05-25 04:21] jwfang commented on #1012
#988 DEPRECATED  http_codec_options config.

[2017-05-25 08:24] mwitkow commented on #501
@lizan out of sheer curiosity: how do you transcode Protobuf field identifiers into JSON field names without the Envoy needing to know the `descriptor.proto` of the relevant protocol?

We had a similar problemwith our gRPC endpoints, as our proxy needed to be rebuilt whenever the schema changed, and we went with using gRPC-Web:
https://github.com/improbable-eng/grpc-web

[2017-05-25 08:53] lizan commented on #501
It will need the protobuf descriptors to be loaded in Envoy, the proxy doesn't have to be rebuilt, but need to be reconfigured when schema change.

You can take a look at current implementation and try out it from https://github.com/istio/proxy/tree/master/src/envoy/transcoding . I'm writing docs then will make a PR in envoy. I'll be OOO next week, so it will be here the week after next.

[2017-05-25 14:00] jamessynge commented on #1011
@rshriram Regarding not sending to STDERR, glog will definitely support that. In normal use, I rarely see anything written to stderr or stdout from a server using glog, and instead logs go 3 files by severity of the message: ERROR, WARNING and INFO, with each log file including the messages from the more serious levels above it. And there is a FATAL log if the program crashes. You can choose to se

[2017-05-25 16:47] #978 closed

[2017-05-25 17:25] htuch opened #1016 "Allow access log variables in {request,response}_headers_to_add"
In the v2 API  https://github.com/lyft/envoy-api/blob/master/api/rds.proto#L325 we would like to support access to the access log variable in the custom header values. This issue will track implementation work on this feature.

[2017-05-25 17:41] alyssawilk commented on #721
Hey Matt, can I get some guidance on this one?

Having spent some time figuring out the code base, I believe that in order
to retry based on trailers we can't simply extend the current retry logic
based on Http::StreamDecoder callbacks to enable buffering the response
until we've gotten trailers.  As such I think we need to extend the router
filter to be an StreamFilter rather than just an StreamD

[2017-05-25 18:19] fengli79 commented on #501
@lizan , you can use the reflection service to get the metadata from grpc backend.
https://github.com/grpc/grpc/blob/master/src/proto/grpc/reflection/v1alpha/reflection.proto

[2017-05-25 19:15] timperrett commented on #794
@myidpt just so i'm not polling and annoying you, what's a rough ETA for this feature? Many thanks in advance!

[2017-05-25 20:53] lizan commented on #501
@fengli79 That's in our future plan and not implemented yet.

[2017-05-25 22:44] myidpt commented on #794
@timperrett
Yeah sorry I was distracted by the Istio launch and other stuff this week. Hopefully within next week.

[2017-05-26 03:45] htuch commented on #721
@alyssawilk Can we just not do retries unless the user configures the router filter as `both`? I think it's fair to expect a config change to opt into new behavior. I agree we don't want to break existing users by requiring `both` for existing behavior, this would be a breaking change according to https://github.com/lyft/envoy/blob/master/CONTRIBUTING.md#breaking-change-policy. We can document thi

[2017-05-26 03:59] htuch commented on #1016
This will entail adding to https://github.com/lyft/envoy/blob/master/source/common/router/config_impl.cc#L184 (and lines below) as well as https://github.com/lyft/envoy/blob/master/source/common/http/conn_manager_utility.cc#L141 a call to https://github.com/lyft/envoy/blob/master/source/common/http/access_log/access_log_formatter.cc#L124.

The trick is that during request (and to some extent respo

[2017-05-26 05:30] jbgi commented on #501
@lizan, @fengli79 what about swagger documentation, does the reflection API allows to retrieve the proto file comments that are used for generating the swagger doc?

[2017-05-26 14:56] alyssawilk commented on #721
tl;dr I think I'm going to sit on this until Matt's back from vacation and
stick it on the agenda of the weekly sync

@htuch, we totally can support dual modes int he router, it just makes the
code a bit more fragile.  I think the cleanest route would be if we end up
opting to not explicitly configure encode/decode and rather have the
filters do the right thing.  We'll see how that discussion goes

[2017-05-26 18:54] rlazarus commented on #921
Despite the name, [clang-tidy](http://clang.llvm.org/extra/clang-tidy/) isn't a formatter -- it's a static analyzer that catches common correctness and performance issues. For example, see #1023 where it flags all the times our loop variables could have been const references but were instead causing unnecessary copies.

I agree this should be part of CI but offhand I don't think it's simple to do

[2017-05-26 20:37] louiscryan commented on #721
An alternative would be to punt to grpc itself. If the goal is to allow
operators to inject retry behavior where there was none previously then it
might be reasonable to inject a signal in the response trailers passed back
to the grpc client. We'd need to standardize how that works of course but
it could be useful behavior outside the context of envoy

-louis (from phone)

On May 26, 2017 8:57 AM,

[2017-05-26 21:54] #948 closed

[2017-05-30 04:07] RomanDzhabarov commented on #1012
covered by https://github.com/lyft/envoy/pull/1019 and https://github.com/lyft/envoy/pull/1026

[2017-05-30 14:38] htuch opened #1028 "UDP cluster support for statsd addresses"
From @jylin in https://github.com/lyft/envoy/pull/1019:

Would it make sense to try to make the "statsd_tcp_cluster_name" then support UDP too (i.e. a "statsd_udp_cluster_name")?

(in reference to avoiding hardcoding IP addresses in config files for statsd)

This seems reasonable from a config/API perspective, but will involve a bit of work to make work. Currently the cluster implementations such

[2017-05-30 16:42] RomanDzhabarov commented on #1012
There is one open question on whether we should have soft deprecation in place.

"I'm still wondering about flag protection for deprecated features. Not to restart the tclap vs. gflags discussion, but with gflags it's fairly cheap to add CLI startup flags to enable/disable deprecated features, it might allow us to perform a softer deprecation. WDYT?"

"Having soft deprecation would mean for us to

[2017-05-30 17:03] htuch commented on #1012
I'm not advocating we keep flags around forever. Instead, we can flag protect the deprecated feature in master up to the next release X, turn the flag off at release X, and then remove the flag and deprecated code at X+1.

[2017-05-30 17:21] htuch opened #1030 "Add Via header for proxied requests"
As per https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html 14.45:

"The Via general-header field MUST be used by gateways and proxies to indicate the intermediate protocols and recipients between the user agent and the server on requests, and between the origin server and the client on responses. It is analogous to the "Received" field of RFC 822 [9] and is intended to be used for tracking mes

[2017-05-30 20:22] htuch opened #1031 "Proxy proto header generation"
Today, Envoy supports consuming the http://www.haproxy.org/download/1.8/doc/proxy-protocol.txt PROXY header in new connections in the Listener. It would also be useful (we'll need it at Google) to be able to generate the PROXY header when performing TCP proxying.

[2017-05-30 21:42] mrice32 commented on #1011
Is anyone actively using the API calls to modify log levels at runtime?

[2017-05-31 00:50] mattwoodyard commented on #1011
We use it occasionally for debugging, as our deployment has matured I find
myself using it less and less.

On May 24, 2017 1:04 AM, "htuch" <notifications@github.com> wrote:

[2017-05-31 13:31] alyssawilk commented on #721
I suspect one can implement retries at the gRPC client fairly easily but by punting to the client you end up adding latency of the (usually longer haul) proxy-to-client RTT.  It would be nice to avoid if there's a clean way to refactor.

[2017-05-31 15:51] aguilbau opened #1033 "bad performance during load test"
Hello,

When doing load testing, I find some odd behaviour :
the first 30 secondes of testing will have very bad results.

Here is a graph of the latencies on an aws m4.xlarge instance, sending 400 req/s.
http://i.imgur.com/E0t4CcF.png

[2017-05-31 15:59] htuch commented on #961
We should also investigate #1033 as part of this work.

[2017-05-31 17:51] junr03 opened #1034 "Move from ratelimit.proto to rls.proto"
As part of the V2 API work we have renamed ratelimit to RLDS (RateLimitDiscoveryService) and moved the proto to envoy-api.

@htuch will do the work to consume envoy-api into envoy.
@junr03 will do the work to migrate envoy to use rlds.proto instead of ratelimit.proto

[2017-05-31 22:35] vijayendrabvs opened #1035 "1.3.0 tag for alpine image"
A 1.3.0 tag was cut for envoy but only for the ubuntu image on dockerhub. Can one be pushed for the alpine images as well? It'll help lock down stable releases in an identifiable format rather than use long/unreadable tags. Thanks!

[2017-06-01 12:00] #988 closed

[2017-06-01 14:33] #987 closed

[2017-06-02 03:30] jwfang opened #1040 "zipkin annotations not correct when access service1 from examples/zipkin-tracing directly"
how to reproduce:
1. expose service1 from examples/zipkin-tracing
2. curl service1 directly

the resulting zipkin spans json is here: https://gist.github.com/jwfang/281393178ac3f77b6f09c2a253f3ca35

i guess the reason for this is that the cs/sr assumptions not hold when access service1 directly.

it may seem weird to bypass front-envoy and access s2s envoy directly,
if this is expected, should we

[2017-06-02 03:38] #1040 closed

[2017-06-05 05:03] timperrett commented on #794
@myidpt any news on this good sir?

[2017-06-05 15:37] hennna opened #1044 "isInternalAddress network utility function ipv6 support"
Should the network utility function isInternalAddress be upgraded to support IPv6 or is it stale code?

[2017-06-05 15:39] hennna opened #1045 "replace IpList with CidrRange"
CidrRange seems to support both IPv4 and IPv6. Is the intention to replace IpList with CidrRange?

[2017-06-05 17:01] myidpt commented on #794
Working on implementing integration tests. Will send the PR out today or tomorrow.

[2017-06-05 21:09] mattklein123 commented on #960
@kyessenov what do you mean exactly? Sampling is already supported (only via runtime, can be trivially added to the config). What do you mean by filtering?

[2017-06-05 21:23] mattklein123 commented on #501
@jbgi we have a general requirement for dealing with how to auto generate REST API documentation from proto for the new v2 envoy APIs. We are going to have a solution for this one way or the other. I've been on vacation for a while, not sure if there are any updated details. cc @htuch

[2017-06-05 21:34] mattklein123 commented on #1028
I think we should do this, and it wouldn't be that hard. Basically we can initially introduce a ```udpConnForCluster``` function inside the cluster manager. We will need this for UDP proxy eventually anyway.

[2017-06-05 21:38] mattklein123 commented on #1012
IMO it's not worth the effort to have CLI options to control the deprecation. It will just lead to more tests needing to be written and more code complexity during the deprecation interval. IMO it's simpler to just have tests for both paths, then just nuke the old code and tests when we snap the next release as one of the first work items. I think we should start with the simple approach, and then

[2017-06-05 21:40] mattklein123 commented on #1030
I think this should be an optional / config driven behavior. It's fairly common that users want to hide the backend servers and overwrite the server header (and not have via). So it seems like we should provide both options.

[2017-06-05 21:52] mattklein123 commented on #1011
I'm not in favor of this proposal. spdlog was chosen because I've used many logging frameworks, and I like the design/performance of spdlog. It's very flexible and I like that it's built on top of the fmt library.

Swapping out spdlog for glog will yield a tremendous amount of code churn for dubious benefit. I would much rather have a discussion about what the complaints are regarding the current

[2017-06-05 21:56] mattklein123 commented on #1033
Hi @aguilbau. I'm sorry but there isn't enough actionable info in this report to help out. In general, I'm very skeptical that Envoy itself is the issue here given its architecture. We would need to do more debugging to see where the time is being spent. Envoy stats may help.

I'm going to close this issue. Feel free to reopen if you can provide more info that implicates a particular problem. We w

[2017-06-05 21:56] #1033 closed

[2017-06-05 22:06] mattklein123 commented on #1035
Tag already exists here: https://hub.docker.com/r/lyft/envoy-alpine/tags/

[2017-06-05 22:06] #1035 closed

[2017-06-05 22:31] mattklein123 commented on #1044
It is being used: https://github.com/lyft/envoy/blob/master/source/common/http/utility.cc#L136

And yes, definitely needs to be updated to support IPv6.

[2017-06-05 22:44] mattklein123 commented on #1045
Yes, IIRC IpList is only used now in the client SSL auth filter (not sure where else). Anywhere we have a list of IP ranges and subnet masks, we should support both v4 and v6.

[2017-06-05 23:06] mattklein123 commented on #887
Closing per gitter chat. The v2 EDS API will cover this and is coming soon.

[2017-06-05 23:06] #887 closed

[2017-06-06 01:30] mattklein123 commented on #615
@PiotrSikora @myidpt  are either of you still planning on doing this? Would love to get this closed out as it's only a revert of the revert and adding a config option. If you don't have time that's fine, but please let me know and we can find someone else to take care of it.

[2017-06-06 01:35] PiotrSikora commented on #615
@mattklein123 I'm going to do it this week. Got sidetracked, sorry!

[2017-06-06 01:36] mattklein123 commented on #615
@PiotrSikora awesome thanks and np.

[2017-06-06 01:41] mattklein123 commented on #721
@alyssawilk I was envisioning a much simpler v1 implementation of this. Basically, we only handle gRPC errors where the gRPC error is part of a header only response (immediate failure). Essentially, don't handle the trailers case at all. I think this will cover a large portion of the cases that people actually want to retry on and be very simple to implement (essentially identical to the HTTP vari

[2017-06-06 03:06] negator opened #1053 "Http Buffer Filter buffers GRPC streaming requests indefinitely"
This may be intended behavior, but enabling the http [buffer filter](https://lyft.github.io/envoy/docs/configuration/http_filters/buffer_filter.html?highlight=buffer#) (type = "decoder") appears to buffer grpc streaming requests until of an END_STREAM data frame is sent. This can be seen in the access log (after the client closes the connection due to timeout), which shows that a backend was not s

[2017-06-06 13:19] jamessynge commented on #1045
Yes, CidrRange was added expressly to support generalizing the support in
envoy for lists of IP addresses of either type.

On Jun 5, 2017 3:44 PM, "Matt Klein" <notifications@github.com> wrote:

[2017-06-06 13:33] htuch commented on #1011
@mattklein123 Another argument that comes up from folks (including myself) is that glog makes debugging a lot easier and adding log statements lightweight. Adding a new log statement is a one line change, without having to muck with class structure and inheritance, which doesn't play well when trying to instrument a static utility function.

The argument might be made that we should just use `cerr

[2017-06-06 18:08] hennna commented on #1045
Question about two input cases:

1. Currently, IpList does not allow the input IP address to set bits that are set in the mask. For example: 192.168.1.1/24 will throw. The current functionality of CidrRange allows this input behavior and will return a truncated address. For example 192.168.1.0 without error. Which is preferred?
2. Similarly, IpList doesn't allow mask lengths > 32 for Ipv4 addresse

[2017-06-06 20:22] mattklein123 commented on #1011
TBH, IMO I think too much logging is just as bad as too little logging. Having to think about which logs to keep is important, and I think a little friction is not terrible. Using std::cerr for temp debugging is a good indication to remove stuff when done.

With that said, I think friction for single line debugging is a reasonable complaint. What if we had macros for quick debugging that pull a de

[2017-06-06 20:33] mattklein123 commented on #1045
@hennna re: (1) and (2) above, I don't have a strong opinion and would need to refresh my memory on the different call sites. Can you take a look at where things are used and make a proposal based on what makes the most sense? As long as the behavior is well documented I don't think it matters that much. (I would probably go with more permissive as long as the result is the same).

[2017-06-06 20:42] mattklein123 commented on #1053
This is by design. The buffer filter doesn't know anything about gRPC and just buffers the entire request. It probably should not be used in streaming API scenarios. About the only thing I can think of would be to have some type of header that shuts off the buffer.

[2017-06-06 21:50] hennna commented on #1045
Seems to be instantiated in three places
1. TcpProxy source_ip
2. TcpProxy destination_ip
3. SSL ip_white_list

[2017-06-07 00:20] mattklein123 commented on #499
Going to close this out as the initial impl is done. We can open new issues with new requests.

[2017-06-07 00:20] #499 closed

[2017-06-07 00:22] mattklein123 commented on #967
@tschroed I'm going to close this as done. I think we have general agreement on approach here. We can add new registration for things like stats as needed.

[2017-06-07 00:22] #967 closed

[2017-06-07 03:25] mattklein123 commented on #761
Google is now generally managing our use of boringssl so going to close this out.

[2017-06-07 03:25] #761 closed

[2017-06-07 03:27] mattklein123 commented on #891
I'm closing this for now in favor of LDS and OOB conversations. We can reopen if this is needed.

[2017-06-07 03:27] #891 closed

[2017-06-07 17:24] #979 closed

[2017-06-07 17:54] kavyako commented on #129
Are there any plans for adding Windows support? If yes, any timeline..

[2017-06-07 18:17] mattklein123 commented on #129
@kavyako no one is working on this. If we can find resources would love to do it. Happy to chat offline if MSFT is interested.

[2017-06-07 18:55] mattklein123 commented on #1016
@khgandhi just looked at the code. To add onto what @htuch said, here is what I would recommend doing:

- I don't think it's worth trying to use RequestInfo in this context. There are too many things that don't make sense. I think I would define a new interface called ```RequestHeaderFillContext``` or something like that.
- We should define a new set of replacement variables. If any of them are th

[2017-06-07 18:56] mattklein123 commented on #940
Fixed.

[2017-06-07 18:56] #940 closed

[2017-06-07 19:05] khgandhi commented on #1016
@mattklein123.. thanks for the input.. which replacement variables do you think we should support to begin with ? I can think of a few:
- CLIENT_IP
- %REQ(X?Y):Z (which covers all the headers in the incoming request for the clients)

[2017-06-07 19:14] khgandhi commented on #1016
@mattklein123 .. also request_headers_to_add are supported at three different levels:

- route_config level
- virtual_host level
- route level

Do we want to add support at all levels ?

[2017-06-07 19:40] mattklein123 commented on #1016
Is this useful? The headers are about to be forwarded? Is the for composing?

I would use the same code/expansion for all levels.

[2017-06-07 19:56] khgandhi commented on #1016
%REQ(X?Y):Z is the way we define the format. What i meant to ask is do we want to support arbitrary request headers found on the client request to be forwarded to the cluster ?

CLIENT_IP is something that might not be in the client's request headers and we are already populating it in XFF header. I was wondering if we could do something like as follows
`{
    "request_headers_to_add" : [
       /

[2017-06-07 19:59] mattklein123 commented on #1016
Yes I understand the CLIENT_IP case, as well as other variables we might add in the future. I don't understand why you would allow other request headers to be inserted, as they are about to be forwarded to the upstream cluster. What's the point? The only thing I can think of is you want to compose multiple headers into a new header.

[2017-06-07 20:11] khgandhi commented on #1016
i see.. so all the request headers in the client that are custom are anyways forwarded to the upstream clusters.

So the use case is only for variables like client ip.

[2017-06-07 22:08] tomwans commented on #940
Thanks for all ya'lls help. Feels good to not have to run a fork anymore :)

Feel free to ping me with any questions or if issues arise from this change, I'm happy to help!

[2017-06-08 13:57] htuch commented on #1012
Sounds reasonable. However, I think that we still may see surprises at the point a release gets cut when features that were relied upon disappear, I don't expect everyone to pay close attention to DEPRECATED.md. But, let's see how this goes, the simplest thing is not to add it yet.

[2017-06-08 15:26] #1012 closed

[2017-06-08 15:42] alyssawilk commented on #721
Hm, that would certainly be a lot easier, but my intuition is that most
gRPC errors (especially time outs etc.) would be in trailers rather than
headers.  Maybe @ctiller can comment on if a header-only solution would be
a useful step?

On Mon, Jun 5, 2017 at 9:41 PM, Matt Klein <notifications@github.com> wrote:

[2017-06-08 16:09] mattklein123 commented on #721
gRPC errors (especially time outs etc.) would be in trailers rather than
headers

In Lyft's case, I think almost all of them would be header only responses FWIW (even timeout would be header only if app does not respond to unary request during deadline). cc @twoism and @rodaine for further comment for Lyft.

[2017-06-08 16:22] mattklein123 commented on #1053
I'm going to go ahead and close this out.

[2017-06-08 16:22] #1053 closed

[2017-06-08 16:52] hzariv opened #1064 "Caught Segmentation fault"
I am running docker image lyft/envoy:latest and getting the following crash using a config file is front proxy: docker run -p 8080:8080 -p 8001:8001 envoy-test
[2017-06-08 16:25:44.200][1][warning][main] initializing epoch 0 (hot restart version=8.2490552)
[2017-06-08 16:25:44.204][1][warning][main] all clusters initialized. initializing init manager
[2017-06-08 16:25:44.204][1][warning][main] all

[2017-06-08 17:23] mattklein123 commented on #1064
@hzariv this config file loads OK for me. Please get a stack trace w/ symbols either using GDB or the references decode stack python script.

[2017-06-08 17:29] rshriram commented on #1064
also @hzariv can you try on a non-CE version of Docker? I have had seg faults on CE version.

[2017-06-08 18:31] mattwoodyard commented on #95
@PiotrSikora - are you actively working on this?

[2017-06-08 18:44] rshriram commented on #960
btw, part 3 of this is done.. #993

[2017-06-08 18:53] mattklein123 commented on #1064
I can repro, looking.

[2017-06-08 19:00] mattklein123 commented on #1064
Likely regression from https://github.com/lyft/envoy/pull/932

[code]

[2017-06-08 19:05] alyssawilk commented on #721
Ah, if it'll be useful to you folks I'll go ahead and do it, especially as
it'd be a nice clean first step if we opt to do trailers later down the
road.

On Thu, Jun 8, 2017 at 12:09 PM, Matt Klein <notifications@github.com>
wrote:

[2017-06-08 19:20] mattklein123 commented on #1064
@hzariv the main issue right now is that you have tracing configured on the HTTP listeners, but no tracing driver specified. I'm not sure if the crash is a regression or not. https://github.com/lyft/envoy/pull/1029/files will actually fix this crash. @goaway is on vacation right now and will finish when he gets back. @RomanDzhabarov can you potentially take a look at this just to make sure there i

[2017-06-08 19:27] RomanDzhabarov commented on #1064
Yup, the issue is that startSpan will return nullptr right now in case global (server) tracer is not configured.

Mike's PR was pretty close to be done, I'll take a look/fix/merge it.

The problem is well scoped and does not affect anything if there is a proper configuration.

[2017-06-08 21:10] hzariv commented on #1064
@mattklein123 is there a workaround to unblock me? if not what is the ETA for merging the PR fix?

[2017-06-08 21:19] jrajahalme opened #1069 "Build of envoy-static fails when system has libunwind installed."
Envoy build fails when the build system has libunwind installed:

[code]

This is due to glog, which in this case uses libunwind, but fails to add it to the link options, see [glog issue 207](https://github.com/tejasmanohar/glog/issues/207). That issue has a proposed patch that fixes this, but in the meanwhile I have locally solved this by:

[code]

[2017-06-08 21:20] mattklein123 commented on #1064
Delete all tracing config like:
[code]

It's a NOP

[2017-06-08 21:23] mattklein123 commented on #1069
We are removing glog in https://github.com/lyft/envoy/pull/1061. Will just  merge it now.

[2017-06-08 21:23] mattklein123 commented on #1069
Merged. Closing.

[2017-06-08 21:23] #1069 closed

[2017-06-08 21:49] vturecek commented on #129
@mattklein123 yeah we'd be interested to see what's possible. Send me your contact info and I'll set up some time to chat. My email is vturecek@microsoft.com. Cheers!

[2017-06-08 22:01] mattklein123 commented on #129
@vturecek sweet. Will send email. FYI all Lyft people working on Envoy are based in Seattle so we can meet in person if needed.

[2017-06-08 22:02] PiotrSikora commented on #95
@mattwoodyard nope, I didn't want to touch it before LDS is finalized, since it's most likely going to result in significant changes to the design.

[2017-06-08 22:37] hzariv commented on #1064
Thanks that fixed the crash but now I am getting:
upstream connect error or disconnect/reset before headers

Any hint how to debug this?

[2017-06-08 23:37] hzariv commented on #1064
Never mind upstream connect error above. It is a docker networking issue :-(

[2017-06-08 23:47] mattklein123 opened #1070 "http/2: implement push promise and link header following"
cc @htuch @tschroed we are going to do this for Lyft use in Q3 FYI. Let us know if you have specific requirements.

[2017-06-09 01:30] jrajahalme commented on #1069
Unfortunately also tcmalloc links to unwind if it is found at configure time, I had to do the following to get envoy to link:

[code]

libunwind is disabled for gperftools by default on ARM and OSX. My reading of the configure.ac is that when frame pointers are available libunwind is not needed. We explicitly enable frame pointers already, so this change should be harmless. With this change envoy

[2017-06-09 01:36] jrajahalme opened #1071 "gperftools depends on libunwind if available and causes envoy build failure."
Envoy build fails when the build system has libunwind installed:

[code]

tcmalloc uses libunwind if it is found at configure time, I had to do the following to get envoy to link:

[code]

libunwind is disabled in gperftools by default on ARM and OSX. My reading of the configure.ac is that when frame pointers are available libunwind is not needed. We explicitly enable frame pointers already, so th

[2017-06-09 01:37] jrajahalme commented on #1069
Not sure if anyone sees comments on closed issues, so I opened a new one (#1071).

[2017-06-09 01:38] lizan commented on #1069
This was the problem that @qiwzhang faced before.

I don't think #1061 resolved this, since glog was never involved in any real build targets yet. @mattklein123 can reopen the issue.

[2017-06-09 06:51] adriancole commented on #960
looks great https://twitter.com/zipkinproject/status/873065607826071553

On Fri, Jun 9, 2017 at 2:44 AM, Shriram Rajagopalan <
notifications@github.com> wrote:

[2017-06-09 07:07] adriancole commented on #960
anybody want to update zipkin's website to show envoy support is in?
https://github.com/openzipkin/openzipkin.github.io/blob/master/_data/community_instrumentations.yml

[2017-06-09 15:10] mattklein123 commented on #1069
We can just work from the other issue.

[2017-06-09 15:12] mattklein123 commented on #1071
@htuch @dnoe this is related to https://github.com/lyft/envoy/issues/834. At this point is there any reason to not just set --disable-libunwind and call both issues good? Things seem to be working pretty well with frame pointers.

[2017-06-09 15:19] htuch commented on #1071
Well, @alk in #834 recommends switching to libunwind if you want any insight into libraries that are provided by the system/compiler. If we're comfortable not including these for now, we can set `--disable-libunwind` and call it done for now. We probably should do this anyway regardless actually, as we have random inconsistent behavior today during the build, the question is do we close out #834 o

[2017-06-09 15:24] mattklein123 commented on #1071
I don't have a strong opinion. I guess my vote would be to just set ```--disable-libunwind``` and close both issues for now until someone is trying to debug something that annoys them due to lack of libunwind support.

[2017-06-09 15:25] mattklein123 commented on #1071
@jrajahalme either way can you please do a PR with your patch? We will take it.

[2017-06-09 16:06] jrajahalme commented on #1071
Will do,

  Jarno

[2017-06-09 20:50] mattklein123 commented on #1071
Fixed by https://github.com/lyft/envoy/pull/1077

[2017-06-09 20:50] #1071 closed

[2017-06-09 20:50] mattklein123 commented on #834
Closing this for now via https://github.com/lyft/envoy/pull/1077. If frame pointer unwind becomes an issue for some reason in the future we can revisit.

[2017-06-09 20:50] #834 closed

[2017-06-09 21:03] mattklein123 commented on #1064
Should be fixed by https://github.com/lyft/envoy/pull/1029 with original config.

[2017-06-09 21:03] #1064 closed

[2017-06-10 05:53] skippy opened #1082 "TLS: Split client/server cipher/curve defaults"
hey folks,

this follows up a conversation from the [envy-users google group](https://groups.google.com/forum/#!topic/envoy-users/Y9NhplORK-A).

I ran into an issue trying to use EC 384 certs for SSL when using the `lyft/envoy:1.3.0` docker image on kubernetes.  [vault](https://www.vaultproject.io/) is used to produce the certs (the vault role config files are included as a reference)

I run a gro

[2017-06-12 14:49] mattklein123 commented on #1082
I think we have gotten to the bottom of this in the linked email thread.

@PiotrSikora I will leave this open for a bit in case we want to use it to change any defaults.

[2017-06-12 14:53] mattklein123 opened #1088 "Add option to compile trace/debug messages on release builds"
We should add a define that allows compilation of trace/debug messages independent of NDEBUG. I'm undecided on whether this should be the default, but we should probably set it in CI for the release images that get pushed. I think this creates too much friction for new people that expect more logging.

@mrice32 not sure if you feel like covering this in the context of the other logging work you ar

[2017-06-12 14:54] mattklein123 commented on #1088
Note to whoever does this, there are some places where logging is guarded via NDEBUG for multiple lines of code. Those cases need to be fixed also to look at the new define.

[2017-06-12 15:29] mrice32 commented on #1088
Sure, this shouldn't be too bad.  I can add it to my current PR.

[2017-06-12 16:04] mattklein123 commented on #1011
OK I think we closed on this and we aren't doing it. We can reopen if we decide to do it later.

[2017-06-12 16:04] #1011 closed

[2017-06-12 16:07] mattklein123 commented on #568
I will use this issue to start a basic FAQ and "getting help" guide so that we can have something and then go from there.

[2017-06-12 16:56] markdroth commented on #721
Sorry for not chiming in this sooner -- someone tried to tag me above with the wrong username, so I only saw this on Thursday.  I spent some time on Thursday and Friday talking with other folks on gRPC team about this, so that I could give you a clear picture of what we're planning to do for our retry implementation.

To avoid confusion, I'm going to use the terms defined in the [gRPC wire protoco

[2017-06-12 17:31] mattklein123 commented on #574
I think we have what we need here per @htuch so closing this out.

[2017-06-12 17:31] #574 closed

[2017-06-12 18:08] gfrankliu opened #1092 "build error on centos 6"
I tried to build envoy-1.3.0 release on centos 6, but some third party failed:

[code]
Now if I try to build envoy static, it gives git error
[code]

Next I tried the git master branch instead of 1.3.0 release.
external third party build fails with different errors
[code]

but this time, the envoy-static build seems to complete
[code]

[2017-06-12 18:11] gfrankliu commented on #1092
Two questions:
1) is bazel build not supported with the release version 1.3.0?
2) are those third party fetch/build errors harmless and should they be ignored?

[2017-06-12 18:40] mattwoodyard opened #1093 "Segfault when cds/rds connections fail on startup"
Config and backtrace here:
https://gist.github.com/mattwoodyard/aedc9cd486cb626626fa6a2b36f7bbc4

It appears to be related to name resolution - using a resolvable name in the config yields a running envoy (albeit obviously not working).

[2017-06-12 18:43] mattklein123 commented on #721
@markdroth the Go impl does send trailers-only right? Because I've definitely seen that here at Lyft.

I'm happy to be swayed that we shouldn't do it, but I think there are 2 compelling reasons to add this support directly to envoy even for the trailers-only case.

1. For clients that are not using the actually gRPC client. We do this at Lyft for example since the Python clients don't work for us

[2017-06-12 18:44] ccaraman commented on #1093
I'll work on fixing this issue today. Thank  you for reporting it.

[2017-06-12 18:49] mattklein123 commented on #721
P.S., this is pretty cool, and we could easily implement this also in envoy if needed.

[2017-06-12 19:06] skippy commented on #1082
hey @mattklein123 and @PiotrSikora

The suggestions in the email chain worked btw.  Thanks for that!!  I never would have figured that out.

As an end-user, it would help a ton if there was debug or trace level logging of the tls/ssl connections.  It is telling that not only did I miss what the configuration tweak, but that most folks on the development side did as well.  tls can get complex reall

[2017-06-12 19:35] mattklein123 commented on #1082
debug/trace messages are compiled out of release builds currently. See https://github.com/lyft/envoy/issues/1088

[2017-06-12 19:44] #721 closed

[2017-06-12 19:48] markdroth commented on #721
Yes, the gRPC Go implementation does send Trailers-Only, as long as the application has not explicitly chosen to send initial metadata.  I believe that the Java implementation does the same thing.

Out of curiosity, what do you use instead?  Did you write your own python gRPC client?

Does Envoy use the gRPC C-core implementation for its outgoing client connections?  If so, it should be possible t

[2017-06-12 20:29] hennna commented on #1044
@mattklein123 Do you know what I need to #include for IP6T_SO_ORIGINAL_DST? That seems to be the IPv6 equivalent of SO_ORIGINAL_DST. I tried <linux/netfilter_ipv6/ip6_tables.h> but it doesn't come in cleanly.

[2017-06-12 20:30] hennna opened #1094 "Update network utility function getOriginalDst for IPv6"
Anyone know what I need to #include for IP6T_SO_ORIGINAL_DST? That seems to be the IPv6 equivalent of SO_ORIGINAL_DST. I tried <linux/netfilter_ipv6/ip6_tables.h> but it doesn't come in cleanly.

[2017-06-12 20:38] hennna opened #1095 "proxy protcol follow up"
From #1032
@hennna FWIW, I'm not a huge fan of this type of error checking of the C++ runtime functions by catching std exceptions. It can be really unclear what throws and why, and we might catch something that we don't intend. It's not a huge deal, but in this case, would rather see us just verify things using standard if length checks, and then using StringUtil::atoul which is a lot faster than

[2017-06-12 20:39] hennna commented on #1095
@mattklein123 question on what you mean by "using standard if length checks"?

[2017-06-12 21:14] mattklein123 commented on #1094
I don't know off the top of my head. I would look at the system headers and see how it's defined.

[2017-06-12 21:16] mattklein123 commented on #1095
I just mean that for this code:

[code]
I would check the cases that you think would/should cause an invalid_argument/out_of_range exception directly, and then let the process crash if some other invariant is not met. Basically, with this type of code and the way the std lib is written, you may be masking problems that you don't know you had.

[2017-06-12 21:18] htuch commented on #1095
Aren't the exceptions documented at http://en.cppreference.com/w/cpp/string/basic_string/stoul?

[2017-06-12 21:26] mattklein123 commented on #1095
They are, but IMO it's very easy to accidentally mask behavior that "shouldn't happen" when catching the std exceptions (for example if line_parts has been accessed with at() which could also throw an exception if the logic was wrong above). This might not be the case here, and you can feel free to ignore, as it's really just a style preference. (However StringUtil::atoul will be faster as it does

[2017-06-13 00:29] hennna commented on #1094
Any objections to the following suggestion:

[code]

Seems simpler than importing linux/netfilter_ipv6/ip6_tables.h and it's dependencies.

[2017-06-13 02:31] mattklein123 commented on #1094
meh not really a fan of the hack include. What's the issue with a proper include? Is it not present in the headers? Has it only been added in recent kernel versions? Do we need to detect support for it?

[2017-06-13 14:33] mattklein123 commented on #721
We use the Envoy HTTP/1.1 bridge filter along with machine generated clients. https://lyft.github.io/envoy/docs/configuration/http_filters/grpc_http1_bridge_filter.html. This will be replaced probably with grpc-web that @fengli79 is working on, which I think still has the same general retry problem.

No (unfortunately). This is a very long conversation that I'm happy to have out of band, but we ha

[2017-06-13 14:38] hennna commented on #1094
linux/netfilter_ipv6/ip6_tables.h gives a compiler error:

[code]

I believe the function is supported in sys/socket.h : https://github.com/lyft/envoy/blob/master/source/common/network/utility.cc#L7. The problem is the flag IP6T_SO_ORIGINAL_DST isn't defined in the current included headers.

[2017-06-13 14:48] mattklein123 commented on #1094
@hennna I'm not sure what to do without looking into it more. Can you sync up with some of the folks around you to see if they have any ideas. In general I would prefer to not do something hacky. If there are header issues, it's a good indication no one uses this feature, and we can potentially just not support it for now on IPv6?

[2017-06-13 14:49] hennna commented on #1094
Emailed an internal list at google and others have seen the same problem. They ended up giving up on the #include and defined the constant. I can wait for additional feedback to see if there is a better solution.

[2017-06-13 14:49] mattklein123 commented on #1094
I think the question is whether we just skip supporting this for now on IPv6?

[2017-06-13 14:50] htuch commented on #1070
@alyssawilk

[2017-06-13 14:51] hennna commented on #1094
Sure. I'll just add a TODO to explain why this isn't going to be supported now.

[2017-06-13 14:53] hennna commented on #1094
I have tried the hack and am able to get the original IPv6 destination. But since this doesn't seem to be necessary now, I'll leave it as a TODO.

[2017-06-13 14:59] hennna commented on #1095
I'll close for now and revisit when we add more functionality to the proxy protocol code.

[2017-06-13 14:59] #1095 closed

[2017-06-13 15:00] markdroth commented on #721
Ah, okay, I didn't realize that you weren't actually using our implementation.  That makes the decision about whether or not to use our retry code pretty clear. :)

[2017-06-13 16:14] davidben commented on #1082
On the BoringSSL side the things, I believe the error would have been surfaced out of the client code `SSL_R_BAD_ECC_CERT` in the funny OpenSSL [error queue](https://commondatastorage.googleapis.com/chromium-boringssl-docs/err.h.html) thingy.

[2017-06-13 16:32] mattklein123 commented on #1082
Yeah the error would have printed by default on debug level now that #1088 has been merged. I'm going to change this issue to track an enhancement to fix the client side cipher/curve defaults.

[2017-06-13 20:32] mattklein123 opened #1101 "test: add unit tests for DnsResolverImpl"
See https://github.com/lyft/envoy/pull/1096

[2017-06-13 20:36] negator commented on #1053
Ok thanks @mattklein123, thats what I assumed initially. Perhaps a small note in the docs would suffice for now.

[2017-06-13 20:54] htuch opened #1102 "Deprecate RpcChannel for unary gRPC"
Now that we have a general purpose gRPC client in Envoy (https://github.com/lyft/envoy/pull/1054), there is no need to use the legacy gRPC interface for unary RPCs. This issue will track converting users of `RpcChannel` to `Grpc::AsyncClient`.

[2017-06-13 21:00] #1044 closed

[2017-06-13 21:00] mattklein123 commented on #351
Closing this out as I believe are done with basic IPv6 support. Awesome work @hennna !

[2017-06-13 21:00] #351 closed

[2017-06-13 22:23] GTB3NW opened #1104 "MySQL proxy"
It would be great to get a MySQL proxy support so that slaves can be taken out of load when they meet a threshold criteria for behind master for example.

[2017-06-14 02:46] gfrankliu opened #1106 "HSM support"
What's the plan for HSM support?

[2017-06-14 04:17] jwfang opened #1107 "zipkin tracing reports to Kafka ?"
currently zipkin tracing only support emit to HTTP collector AFAIK.

[2017-06-14 04:27] adriancole commented on #1107
Some mechanism to report to kafka would be a good idea. Kafka is the most robust span transport in zipkin sites.

[2017-06-14 04:28] mattklein123 commented on #1107
@rshriram @fabolive ^

[2017-06-14 04:28] mattklein123 commented on #1106
For what exactly? Loading keys? There is no plan currently. cc @PiotrSikora

[2017-06-14 04:29] mattklein123 commented on #1092
In general the only officially supported builds are what we provide in CI. For everything else you are on your own. But for RH stuff I think we are going to try to get some help from RH sometime soon so stay tuned. cc @christian-posta

[2017-06-14 04:32] adriancole commented on #1107
ps thinking aloud, if image size/deps is of issue, an envoy proxy (somewhere) that forwards http messages as kafka messages would work.

[2017-06-14 04:34] mattklein123 commented on #1107
We have already had multiple requests to support L7 kafka in Envoy directly. That's not necessarily required here, but if we did that, it would be very easy to send directly to kafka.

[2017-06-14 04:36] rshriram commented on #1107
Wow. This is going to pull in Kafka client complexities into Envoy. Cant we front a stateless zipkin proxy that takes the trace and dumps it into Kafka ?

From integration perspective:
Here is the most popular c lib for Kafka: https://github.com/edenhill/librdkafka

This has to be bazelfied and then integrated.

[2017-06-14 04:38] adriancole commented on #1107
most important thing here is.. it is bazelfied or bebazzled?

[2017-06-14 04:39] mattklein123 commented on #1107
It's a side point, but it doesn't need to be bazelified. We have good/easy support for non-bazel thirdparty deps. The bigger question is should we do this at all, and then we can figure out how, etc. So let's sort that out first.

[2017-06-14 04:39] rshriram commented on #1107
I do like the idea, But how would you do the L7 filter for Kafka ?
 serve as a proxy that talks Kafka protocol to clients while doing the actual stuff in the backend ?
Or offload specific parts of Kafka lib into Envoy ?

Essentially, are we adding async messaging support in Envoy (need to think of semantics) or are we providing something else ?

[2017-06-14 04:43] mattklein123 commented on #1107
I know very little about kafka and I think we shouldn't sidetrack this issue with L7 talk of kafka. I was just pointing out that people have asked for L7 support for the same reasons that want L7 support for every other protocol.

Sending zipkin spans direct to kafka is a much simpler problem.

[2017-06-14 04:44] rshriram commented on #1107
The complexities of Kafka are many. I have been through pains of working with language libraries with varying amounts of Kafka support (in go and Python) - personally if the app would just dump the message in a generic format to Envoy and Envoy takes care of the actual Kafka dance, it would make life simple. This is where semantics come in. do we expose req response semantics or pub sub semantics?

[2017-06-14 04:48] rshriram commented on #1107
FWIW I raised this topic at Gluecon. And the discussion halted. It might be worth restarting it and seeing how a pub sub system (independent of implementation) would integrate in Envoy mesh. Sorry @adriancole for hijacking the discussion.

But I am for exploring this option and seeing where it takes us. A lot of traditional systems rely on a message bus for the application.

[2017-06-14 04:53] adriancole commented on #1107
@rshriram yeah I really kindof hoped we could setting on spelling of bazeling things, but where this is going is OK :D

[2017-06-14 13:16] anticpp opened #1109 "How to deal with the increasing access log?"
We deploy a 'service pod' along with a sidecar envoy. The problem is the access log of envoy, there is no size-limit or log-rotate supported by envoy. So we have to clean out the access log when it grow too large, e.g. launch another shell/program to rename access log and reload the envoy(Just like what we do with nginx access log).

However,  dealing with hundreds or thousands of 'service pod' is

[2017-06-14 13:25] fabolive commented on #1107
In general, the idea of sending tracing reports to Kafka (setting aside the discussion on how, what the implementation implications are, etc.) is really good. Kafka is widely used as a scalable entry point for all sorts of operational data in sophisticated data pipelines. Adding tracing reports to that mix greatly broadens the range of analytics one can write within the context of already-existing

[2017-06-14 13:31] dnoe commented on #1109
I am doing some ongoing work to ship Access Logs in proto format to a gRPC log sink which should be properly formed up into to a PR later this week.  One canonical example of this is the Google Stackdriver public API, but you could develop your own gRPC service and send the logs to it.  This will give you the ability to collect all access logs centrally and decide what you want to keep and for how

[2017-06-14 15:12] mattklein123 commented on #1109
per @dnoe we will likely not implement any sysadmin type functionality like this directly in envoy when well known solutions already exist (in this case logrotate).

[2017-06-14 16:59] mattklein123 commented on #319
@rshriram I looked through the code and IMO this is the easiest/cleanest way to implement the required functionality. Let's discuss here if there are questions. cc @htuch

- We should explicitly specify in the route configuration whether a route is a WS route or not. Meaning, we will not support attempting to detect if it is WS all the way back to the backend. If we receive a WS upgrade over HTTP/

[2017-06-14 18:33] gfrankliu commented on #1106
Yes, this is for private keys.
Do you have other ways to securely store keys for envoy to load, or is the local filesystem the only way we have put the keys?

[2017-06-14 18:45] mattklein123 commented on #1106
Right now all we have is filesystem support. The v2 API will allow inline cert delivery from the management server. There are no plans that I know of right now to explicitly add HSM support directly into envoy.

[2017-06-14 18:56] gfrankliu commented on #1106
What about Google KMS? Any plans?

[2017-06-14 19:21] dnoe commented on #1106
No concrete plans but you're asking at the right time.  We (Google) have been discussing various certificate management solutions internally and I'd certainly be interested to hear how you'd like to use KMS with Envoy.

[2017-06-14 19:23] tschroed commented on #1070
If it would be useful we could probably arrange some VC time for your folks to chat with our folks who have relevant experience and ideas.

[2017-06-14 20:20] gfrankliu commented on #1106
I am currently using nginx with HSM since HSM seems to be industrial standard and is available on-prem and most cloud providers. Just started evaluating envoy and hence the HSM support questions. Without HSM, the next choice is some cloud specific solutions (e.g.: Google KMS). Putting keys on the server filesystem seems least secure.

[2017-06-14 21:28] mattklein123 commented on #1070
Sure sounds good re: meeting over vc.

[2017-06-14 23:34] jammerful commented on #1107
+1 Support for Kafka transport to Zipkin is one of the main reasons I didn't use envoy. Most of my thoughts on why it is a good idea are succinctly summarized by fabolive above.

[2017-06-15 02:23] anticpp commented on #1109
@dnoe Thanks for that. Actually, logging to remote is a workable solution, but I think it's too heavy to handle the access log situation.

I am looking forward to solution like logrotate, not invaded to envoy itself.

[2017-06-15 16:47] #1101 closed

[2017-06-15 21:58] richunger opened #1125 "grpc success/failure stat should count more than 0 as success"
https://github.com/lyft/envoy/blob/3e62653863125c07fc78fcc4bd967a10f026114b/source/common/grpc/common.cc#L34

We use this success stat to calculate our services' success rate. In the REST world, I've generally seen success rate calculated as 2xx+3xx+4xx/total_count. What envoy does now for grpc seems like the equivalent of just having 2xx in the numerator. For example, FailedPrecondition should no

[2017-06-15 22:00] mattklein123 commented on #1125
I think @fengli79 and @lizan have some thoughts on future work on the gRPC stats. Perhaps they have some thoughts here.

[2017-06-15 22:48] fengli79 commented on #1125
It depends on how you define the "success".
gRPC always use 200 as response code, and its status is encoded in grpc-status header, a "0" value means the rpc is success and others are failure.
In that sense, the stats is correct.

However, if you want to count FailedPrecondition as success when calculating SR, you have to do that by yourself. It's not feasible, as today, we only record either succe

[2017-06-16 00:59] ddragosd commented on #1033
are there any official performance tests posted somewhere along with their results ? I'd be interested to see them, if any.

[2017-06-16 01:32] khgandhi commented on #1016
@mattklein123 i have started working on this issue and i am trying to get the remote address (client ip address)
in [router.cc](https://github.com/lyft/envoy/blob/master/source/common/router/router.cc#L227) where we are calling the finalizeHeaders method. ?

[2017-06-16 15:01] mattklein123 commented on #1033
No, there is nothing officially published currently. Maintaining and publishing reliable perf results takes a considerable amount of effort which historically we have not had resources for. However we do have some work going on at Google on performance profiling which should result in repeatable and publishable numbers. ETA couple of months most likely. cc @htuch

[2017-06-16 15:19] mattklein123 commented on #1125
@richunger yeah it's a little unclear to me how FailedPrecondition is not an app error here so it does seem to me like the stats are correct for gross success/fail. In any case, as @fengli79 says we will soon have per code stats like we do for HTTP so can do custom stuff as needed.

[2017-06-16 15:30] richunger commented on #1125
Yeah, per-code stats seem like the best path overall.
IMHO FailedPrecondition is a client error (the moral equivalent of an HTTP 400), and not a failure of the service being measured.

[2017-06-16 18:00] #1093 closed

[2017-06-16 18:09] mattwoodyard commented on #95
I need this for some internal migration support. Here's my proposal:

- Allow configuration which can specify an array of ssl_context.
- ServerContextPtr becomes shared_ptr
- A std::unordered_map is added to ContextManager which maps (listen_address, hostnames) to contexts.
- ContextManager gets an added function to return a context given a hostname and listener.
- When loading the listener the fi

[2017-06-16 18:24] mattklein123 commented on #1125
@richunger I agree with you that from app perspective, it's an error. From sever perspective, it's not. Let's get the per code stats in place then we can figure out how to change our internal alarms to be better.

[2017-06-16 18:38] mattklein123 commented on #95
@mattwoodyard I would much prefer that we have a single logical SslContext, and just handle SNI inside of it via multiple certs, etc. Why do we need multiple contexts? I think just doing it inside the existing context object is much simpler.

[2017-06-16 20:22] mattklein123 commented on #1016
https://github.com/lyft/envoy/blob/master/include/envoy/http/filter.h#L125

[2017-06-16 20:26] mattwoodyard commented on #95
That will certainly work. I'll extend the schema to have a list of certificates for a ssl_context and then do all of the work in SslContext instead of ContextManager.

[2017-06-16 21:06] khgandhi commented on #1016
I actually tried that and the value seems to be empty. do we know if the value is actually getting set ?

i try the following in router.cc:
log().debug("downstream address: '{}'\n", callbacks_->downstreamAddress());
route_entry_->finalizeRequestHeaders(headers, callbacks_->requestInfo());

i and see an empty string..

[2017-06-16 14:03:49.059][21041][debug][router] downstream address: ''

[2017-06-16 22:42] mattklein123 commented on #1125
@richunger calling this fixed via https://github.com/lyft/envoy/issues/1125. Will get deployed next week. We can discuss alarm/graph changes internally.

[2017-06-16 22:42] #1125 closed

[2017-06-17 07:21] markschmid commented on #779
We also use the ngx_http_auth_request_module mechanism of nginx. In case of a positive auth result (2xx), we inject custom HTTP headers (e.g. user id etc.) for the service to work with.
Is custom header injection based on the result of a subrequest possible in envoy? Any chance such a generic "auth subrequest" filter could be one of the standard filters of envoy?

[2017-06-17 14:14] jwfang commented on #779
+1 for this.

it's nice to have a generic auth filter

[2017-06-17 14:27] jwfang commented on #779
@markschmid

you can take a look at the istio project's mixer filter, from their istio/proxy project.

[2017-06-17 18:03] mattklein123 commented on #779
@jwfang @markschmid if there is a generic way to do an auth filter that is useful to folks, I'm totally open to it. Feel free to drop a proposed design here. We have multiple auth filters internally at Lyft, but they contain Lyft specific functionality so it's not reasonable to open source them. I will reopen this issue to track seeing if there is a way to do a generic filter.

[2017-06-18 17:48] markschmid commented on #779
Thanks!

OK so I propose the following generic authentication mechanism for Envoy, implemented as a filter.
It would basically mimic the "client authorization based on the result of a subrequest" mechanism of the nginx ngx_http_auth_request_module module [1], which is, in a nutshell:

Authenticate each request with an external auth service. To perform authentication, an HTTP subrequest is sent to

[2017-06-18 20:04] mattklein123 commented on #779
In general this seems reasonable to me (there are some details to sort out in terms of what should be configurable, etc.). If someone wants to sign up to implementing the filter let me know. It's not difficult and can be modeled after existing filters.

[2017-06-19 06:49] jwfang commented on #779
@markschmid good job

@mattklein123 while we are at it, should we be a little more ambitious about these ?
in my understanding, envoy should shift *system level* functions from user service as much as possible,
authorization is certainly one of them.

i looked at https://github.com/istio/proxy a while back ago, their mixer/transcoding filters are really interesting. transcoding soon will be in cor

[2017-06-19 14:33] rshriram opened #1133 "dns_impl_test fails when localhost does not resolve to ::1"
I have Ubuntu 16.04 xenial (xubuntu). My /etc/hosts file looks as follows

[code]

Adding localhost to ::1 makes the test pass. Perhaps it might be worthwhile to check if ::1 resolves to ip6-localhost or ip6-loopback ?

Here is the error from dns_impl_test
[code]

I can confirm that ipv6 is not disabled in the kernel. and ifconfig shows valid(?) inet6 addr
[code]

@hennna ^^^

[2017-06-19 14:57] kyessenov commented on #779
If you want a generic out-of-process auth validation, then I suggest using mixer filter. We have already modified envoy to insert a precondition check over gRPC to a golang "Mixer" server that further dispatches it to a set of plugins. There are details to be worked out regarding caching and TTLs that would need to be solved in your architecture as well.

I still see the benefit of an in-process a

[2017-06-19 15:27] hennna commented on #1133
From discussion on gitter, my proposal is to require localhost v6 resolution and give a more descriptive error message when the dns_impl test fails here: https://github.com/lyft/envoy/blob/master/test/common/network/dns_impl_test.cc#L376

Ongoing issue is that the integration tests are probably failing silently when address_list returns empty here: https://github.com/lyft/envoy/blob/master/source/

[2017-06-19 15:29] mattklein123 commented on #779
I've mentioned this elsewhere but medium/long term I would like to move mixer filter into envoy repo and the API into envoy-api repo. Can continue to discuss with @kyessenov and @louiscryan.

I would suggest not polluting this issue since I think that some people would use a basic HTTP auth filter also.

[2017-06-19 18:05] andrewvd opened #1138 "SIGSEGV Segmentation fault"
We're running envoy in Kubernetes, latest tag. We were evaluating envoy a while back and had the same issue. Could be something unique to our environment

Envoy is running as a daemonset, using hostNetwork, with each client connecting to 127.0.0.1:4142 for access (avoiding iptables and service proxy)
Envoy is running as a daemonset, using hostNetwork, with each client connecting to 127.0.0.1:4142

[2017-06-19 18:11] mattklein123 commented on #1138
If possible, please run envoy at -l trace logging level on current master, and post a gist of the logs. We might be able to figure it out from that without a repro.

[2017-06-19 19:11] andrewvd commented on #1138
Thanks. When I run with -l trace it hangs after receiving traffic (huge amount of logging). -l info doesn't hang. Seeing what else I can do

[2017-06-19 19:15] mattklein123 commented on #1138
You could try -l debug. Does the crash happen right away? Or it's a timing thing?

[2017-06-19 19:29] andrewvd commented on #1138
Same with -l debug, it actually seems like it's just the /stats page that stops responding (unacked keeps going up). But also the docker container stops logging output so that doesn't help

core@kube-068 ~ $ ss -lti '( sport = :9990 )' #admin port
State       Recv-Q Send-Q                                                                                                               Local Address:Po

[2017-06-19 19:33] mattklein123 commented on #1138
Can you make sure to build with `-c dbg` and possibly put the binary and core dump somewhere? I might be able to figure it out if I can look at the dumb with full debug info and symbols.

[2017-06-19 19:34] mattklein123 commented on #1138
Otherwise trying to figure out a self contained repro is probably the only thing that is going to get it fixed without you doing all the debugging.

[2017-06-19 20:23] andrewvd commented on #1138
Uploaded 3 dumps here (we're running latest lyft/envoy-alpine-debug)

https://ufile.io/sfhwz

[2017-06-19 20:27] mattklein123 commented on #1138
Can you tell me which SHA specifically? We are merging all the time.

[2017-06-19 20:44] andrewvd commented on #1138
SHA f4d4f9566a50a58162d41388b37b47be6fa09755

Also uploaded the binary here: https://ufile.io/93ogl

[2017-06-19 21:04] mattklein123 commented on #1138
OK thanks I have the symbols lined up. I can probably figure it out from the dump. Will let you know.

[2017-06-19 21:10] andrewvd commented on #1138
Great thanks. It's easily reproducible from our side for more testing

[2017-06-19 21:11] mattklein123 commented on #1138
I think I already know what the problem roughly is. Still looking.

As an aside, why does the process have so many threads? That seems kind of curious.

[2017-06-19 21:16] andrewvd commented on #1138
We're running  2 x E5-2699 v4 (22 core CPU's), having a total of 88 threads to the OS

We're on bare metal / CoreOS

[2017-06-19 21:23] mattklein123 opened #1140 "Governance refinement / voting"
It's been recommended to me that we do some more work now on tightening up our governance process. This would mainly involve coming up with an official dispute resolution process with some kind of voting structure to break any kind of deadlocks. I'm going to start investigating what other projects have done but will use this issue for tracking and discussion.

The rough idea is probably to end up

[2017-06-19 21:36] mattklein123 commented on #1138
That's awesome. I bet you are hitting atomic contention on the stats stuff. Would love to profile that!

re: this issue, I know what the bug is, working on a fix.

[2017-06-19 21:52] andrewvd commented on #1138
Sure we can arrange something if you would like to profile

[2017-06-19 22:21] mattklein123 commented on #1138
@andrewvd I know what the bug is, but I'm a little confused what scenario is getting us into this situation. If possible, can you post a gist of your config and/or any info about your overall setup which might give some insight into that (like if you are using any router headers to effect retry, etc.)?

[2017-06-19 22:26] htuch opened #1141 "Flake in guarddog_impl_test"
Triggered in https://github.com/lyft/envoy/pull/1134, see https://travis-ci.org/lyft/envoy/jobs/244689841:

[----------] 2 tests from GuardDogMissTest
[ RUN      ] GuardDogMissTest.MissTest
external/envoy/test/server/guarddog_impl_test.cc:164: Failure
      Expected: 1UL
      Which is: 1
To be equal to: stats_store_.counter("server.watchdog_miss").value()
      Which is: 2
[  FAILED  ] GuardDogMi

[2017-06-19 22:27] htuch commented on #1141
@dnoe What do you reckon?

[2017-06-19 22:27] andrewvd commented on #1138
We're using straight grpc, here is the config: https://gist.github.com/andrewvd/de4154bf2a243e8f0e85c93d8410f1ef

[2017-06-19 22:59] aambhaik commented on #815
@vijayendrabvs I am running into the same problem. My golang service is accessible from within the service container on port 9096 but not accessible through the envoy front-proxy container, with exactly the same response as you reported.

Can you provide any details on the resolution please?

[2017-06-19 23:45] mattklein123 commented on #1133
fixed via https://github.com/lyft/envoy/pull/1135

[2017-06-19 23:45] #1133 closed

[2017-06-20 02:10] dnoe commented on #1141
I took a look at the code to refresh my memory.  The test uses a mock timer and over-rides the condition_variable.wait_for() timeout by early triggering the condition variable after advancing the mock timer.  But the condition variable timeout IS still active, and it's 500ms per the test.  So I suspect the scenario is that under heavy load the wait_for timeout is expiring and then the loop runs ag

[2017-06-20 05:36] andrewvd commented on #1138
We encountered another issue (with the patch applied), here is the coredump and binary: https://ufile.io/05h7n

And logs from container:
[2017-06-20 05:00:37.646][95][critical][assert] assert failure: inserted_: bazel-out/local-dbg/bin/source/common/common/_virtual_includes/linked_object/common/common/linked_object.h:69
[2017-06-20 05:00:37.647][95][critical][backtrace] bazel-out/local-dbg/bin/sou

[2017-06-20 09:17] jwfang commented on #1016
@khgandhi can you add CLIENT_PORT support for this ? :)

[2017-06-20 10:31] anticpp opened #1146 "What suggest to deploy a 'service pod' on non-docker environment?"
We deploy a 'service pod' with a service instance and the sidecar envoy, and other surrounding stuff.

ServicePod => |Service|Envoy |

It's very easy to deploy in k8s or other docker situation, though, not so easy in non-docker machine or vm. We have develop a tool to patch everything required in the service home directory. However,  It's to too weird, I think.

Any good solutions?

[2017-06-20 13:36] dnoe commented on #1141
(I decided against "fixing" the test.  I have a test case for this scenario and 90% of the implementing done, expect a PR shortly)

[2017-06-20 13:38] htuch commented on #1141
Most of these sound reasonable. In an ideal world, our CVs would be mockable and we could introduce a mock time source for those as well, but that's probably outside the scope of this work.

[2017-06-20 14:55] mattklein123 commented on #1138
@andrewvd the symbols don't line up for me. Also seeing this warning in gdb: "warning: exec file is newer than core file." Are you sure the core and binary you gave me match?

[2017-06-20 16:14] mattklein123 commented on #1146
@anticpp this is a bit out of scope for what the Envoy project can provide. It really comes down to the specifics of your deployment (e.g., puppet vs. salt, how you do deploys, etc.). cc @louiscryan

[2017-06-20 18:39] #1138 closed

[2017-06-20 18:41] mattklein123 commented on #1138
@andrewvd the referenced commit definitely fixes one of your issues. For the next issue, can you please open a fresh GH issue with crash info and I will debug it.

[2017-06-20 18:45] andrewvd commented on #1138
Thanks I'll get back to you soon

[2017-06-20 18:59] louiscryan commented on #1146
Are you using anything for deployment / orchestration? Chef, Puppet etc ?

[2017-06-20 20:28] #1141 closed

[2017-06-20 21:08] hennna commented on #1133
Actually I think integration tests are not failing because we use fake upstreams.

[2017-06-20 21:57] andrewvd commented on #1138
Update: no crashes yet! Want to say a big thanks for a quick resolution!

[2017-06-20 21:59] mattklein123 commented on #1138
@andrewvd the fact that you hit an assert in a debug build is still problematic and means that something is probably still potentially broken. If you do feel like running a `-c dbg` build at some point to see if it still asserts I'm happy to debug if that happens (and in fact would like to see if that is the case).

[2017-06-21 02:18] anticpp commented on #1146
No, we are not yet using any deployment. It will be in our future plan.

[2017-06-21 02:22] anticpp commented on #1146
The point is, we have implemented an initial version to our project, we don't want to introduce a 'heavy' deployment in our system at this moment. So, we are looking forward a relative 'light' solution.

[2017-06-21 04:52] andrewvd commented on #1138
May have been something with our custom build we were testing, running the latest from master and hasn't crashed since my last comment

[2017-06-21 04:54] mattklein123 commented on #1138
@andrewvd are you running the release docker build though? (Even though it says dbg that just means it has symbols, it still doesn't compile asserts). It's still probably worth running a real dbg build with asserts at some point, but as long as it's working for you that's great.

[2017-06-21 15:00] #1045 closed

[2017-06-21 17:38] andrewvd commented on #1138
We've been running docker image lyft/envoy:cfd7a400921ea4da6ddb4bb87a51f1b0866d5c24 for 15hr and haven't had an issue yet

[2017-06-21 17:43] mattklein123 commented on #1138
Alright thanks. Like I said before, I still am concerned some logic is not correct since the last crash you hit was actually a debug ASSERT which should not happen. It's possible it's benign, but it makes me uneasy. If you have time to run a debug build per above I would appreciate it, but NBD if you don't have time. We don't have official docker images of full debug builds currently so you would

[2017-06-21 17:45] mattklein123 opened #1159 "tcp proxy: add access log"
We need to add some kind of access log for the TCP proxy. @dnoe do we want proto version of this also?

[2017-06-21 17:56] dnoe commented on #1159
A good bit of the work that I'm doing will be useful for TCP proxy access logs as well.  We have less of an immediate need for TCP proxying at Google, so this will be a lower priority from me at the moment. But I'll keep the future use case in mind as I move forward with HTTP access logging implementation.

[2017-06-21 21:20] politician commented on #319
@mattklein123 Can you clarify whether the plan is to terminate HTTP/WebSockets at envoy or whether you're going to pass the protocol through? I can't tell from the last bullet whether a backend needs to be a full HTTP/WebSockets server or just a basic TCP socket server that supports a handshake containing the upgrade headers.

For my use case, the latter is preferable.