[2021-12-14 09:21] #19157 closed

[2021-12-14 09:22] #19092 closed

[2021-12-14 10:44] YaoZengzeng commented on #19257
@sha-rath I will:)

[2021-12-14 11:12] sha-rath commented on #19257
Thank you!

[2021-12-14 11:34] Zsolt-LazarZsolt commented on #19219
Please also consider that the documentation about max_requests_per_connection does say that it is by default unlimited while in reality it is set to be 1>>29
This is the smallest of the problems, but the easiest to fix.

[2021-12-14 13:52] phlax commented on #19278
cc @jmarantz

[2021-12-14 13:55] jmarantz commented on #19278
I'm not too familiar with Istio operation. Can you describe the sequence of of events, with the expected/actual results just in terms of Envoy calls?

Thanks!

[2021-12-14 13:55] phlax commented on #19273
cc @mathetake

[2021-12-14 14:03] alyssawilk commented on #19228
building on the 15th puts outside of the window of "acceptable delay".  If we expect to regularly build mid month to give the binary soak time I think communicating the actual planned build time is better for downstream distributors.

[2021-12-14 14:11] alyssawilk commented on #19257
If this has been observed for other nghttp2 servers I think filing an issue with nghttp2 might make sense?
cc @birenroy to make sure oghttp2 handles this gracefully.

[2021-12-14 14:12] alyssawilk commented on #19230
cc @danzh2010

[2021-12-14 14:13] alyssawilk commented on #19257
Is this a duplicate of https://github.com/envoyproxy/envoy/issues/19257 ?

[2021-12-14 14:25] alyssawilk commented on #19183
If there's no retry policy, Envoy will not retry.  If there is, the host for the retry will be selected based on the load balancing configured (least loaded, round robin etc)

[2021-12-14 14:34] alyssawilk commented on #19149
given that auto_config only works for transport sockets with ALPN I'm not convinced allowing it for transport socket match is going to be safe.  We could arguably change the config validation to runtime failures, but I don't think that would be desireable for the common case.
The tap and proxy proto cases do seem buggy - they both use passthrough socket which doesn't actually return ALPN support b

[2021-12-14 14:36] #19248 closed

[2021-12-14 14:53] phlax commented on #19268
cc @wbpcode

[2021-12-14 14:57] kyessenov commented on #19278
This is due to regex for tag extraction being in the bootstrap while the
tag production being in xDS. That means that without a restart the two are
inconsistent. One way to solve it is to allow dynamic tags in production
and avoid bootstrap.

On Tue, Dec 14, 2021, 5:55 AM Joshua Marantz ***@***.***>
wrote:

[2021-12-14 15:32] phlax commented on #19246
cc @dio

[2021-12-14 15:32] phlax commented on #19276
cc @dio

[2021-12-14 15:52] alyssawilk commented on #19149
OK for the matcher case, I think the problem is actually the inverse - the matcher ALPN is not considered at all, only the "default socket config".  I'll go fix this.  This makes the validation more strict rather than more permissive and will not help.

Reading ClusterImplBase though, it looks like the default socket matcher is always config.transport_socket() and if no transport socket is configu

[2021-12-14 16:29] wrowe commented on #19208
OpenSSL is not used by the stock envoy, scroll back to see whether boringssl failed to be downloaded and unpacked? Something in your build tool chain seems to be leading the Bazel compilation steps in the wrong direction?

[2021-12-14 16:34] wrowe commented on #19189
Tagging as enhancement, let me know if you wanted other labels

[2021-12-14 16:40] danzh2010 opened #19283 "udp: default-on SO_REUSEPORT doesn't work with listening on port 0"
This is for tracking the issue we discussed about SO_REUSEPORT in https://github.com/envoyproxy/envoy/pull/19188. In Linux, if multiple Envoy instances are all configured to listen on port 0, they may end up sharing the same port with default-on SO_REUSEPORT socket option if they are under the same user ID. This kernel behavior somewhat aligns with the contract of binding port 0 and SO_REUSEPORT.

[2021-12-14 18:25] ggreenway commented on #19218
Why not just put `[tag]` directly into the format string? Why does the replacement formatting need to change?

[2021-12-14 18:54] PiotrSikora commented on #19228
I agree that it needs to be communicated, but for all practical reasons, it's effectively a no-op. Hence "in spirit".

[2021-12-14 19:35] Edimo24 commented on #19218
How to do it? Because I only find the command operators under envoy/source/common/formatter/substitution_formatter.cc
And the way how these command operators are generated are as below: (line 838)

  **} else if (field_name == "DOWNSTREAM_LOCAL_ADDRESS") {
    field_extractor_ =
        StreamInfoAddressFieldExtractor::withPort([](const StreamInfo::StreamInfo& stream_info) {
          return strea

[2021-12-14 19:42] kfaseela commented on #19154
Should we close this issue? @phlax

[2021-12-14 19:44] phlax commented on #19154
i think it will auto close when the dep updates

[2021-12-14 20:03] kyessenov commented on #19274
@alyssawilk For thoughts since it's related to ALPN propagation in transport socket options.

[2021-12-14 20:26] alyssawilk commented on #19274
will that be relevant?  I thought the config was basically
one envoy filter chain --- internal upstream transport socket -- internal listener --- another envoy filter chain --- upstream
where there would be no ALPN on the intenal hop, and the upstream hop wouldn't have any internal config?

[2021-12-14 20:34] junr03 commented on #19231
@danzh2010 sorry for the bug. I have fixed and modified tests in #19286 ptal

[2021-12-14 21:14] noah8713 commented on #19149
Thanks. So it seems transportSocket under transportSocketMatches can now be read correctly with this fix at-least ; pending tests on istio for this.

However for second match for raw socket ,
[code]
 are you proposing to even skip/over-ride rawsocket/default injectiom from istio itself so that we can leverage auto_config transportsocket from transportmatches or rather set the ones under transportm

[2021-12-14 21:14] gbrail commented on #19148
@ajaymandvekar This is something we'd have to think about in order to complete async mode support.

[2021-12-14 21:51] howardjohn commented on #19149
I don't think Istio is likely to make changes to our core logic to support this use case as we explicitly plan to use HTTP2 everywhere in the very near future, which means no more header case preservation.

Please keep Istio discussions out of Envoy issues, it adds confusion and wastes Envoy maintainers time.

[2021-12-14 22:01] noah8713 commented on #19149
Thanks @howardjohn : Noted so that we can plan accordingly on our side.

Ack. Yes. Its more generic/healthy conversation as to what layer to propagate the changes to as we have case preserve for http1 which is valid case and some services will continue to use so; more of how vs who/what layer should do it.

[2021-12-14 22:26] bbassingthwaite commented on #19149
For users who want to use both `transport_socket_matches` and `auto_config`. Could envoy not validate that all sockets provided in `transport_socket_matches` supports ALPN? That would be sufficient to support our use case.

[2021-12-15 01:43] StarryVae commented on #19170
cc @mathetake

[2021-12-15 04:48] Shikugawa commented on #19262
@hzxuzhonghu Could you share the debug log? I'd like to check how the warming cluster initialization walked the execution step.

[2021-12-15 09:04] Edimo24 commented on #19218
@ggreenway I also realized that in the default format string there are not all the command operators so I am not sure if I can add the tag directly there... (for instance the DOWNSTREAM_LOCAL_ADDRESS is not there)

[2021-12-15 09:35] #19083 closed

[2021-12-15 09:35] mramakrishnaprasad commented on #19083
Its working with the upgraded gcc version. Thanks.

[2021-12-15 10:55] ankatare commented on #19229
@alyssawilk its to wait code to be merged for #19204  ?

[2021-12-15 11:29] Demon520-coder opened #19292 "How can I set the hostname for upstream"
I have met a issue that : When I set the IPAddress for the upstream's address,envoy works fine. But when I set the hostname for the upstream's address,it show me 'no healthy upstream'. Have someone met this? This is my envoy.yaml. Any help for me will
be appreciated.
Thank you so much.
[code]

[2021-12-15 11:31] Demon520-coder commented on #19292
This is the response when I use the hostname for the upstream.
[
![image](https://user-images.githubusercontent.com/35925774/146178990-11b35b64-1814-4c80-b64c-67ec31414c7f.png)
](url)

[2021-12-15 11:46] jdomag commented on #12892
@mattklein123 @du2016
Any idea how to use it? I'm wondering if I can have 2 different rate limiting services and point few workloads to rateLimitService1 and few workloads to rateLimitService2  - not sure if it's possible though.

[2021-12-15 12:25] nehap4 opened #19293 "Request/response header bytes calculation content"
I tried enabling Access log for envoy-proxy by adding REQUEST_HEADERS_BYTES & RESPONSE_HEADERS_BYTES parameters after referring https://www.envoyproxy.io/docs/envoy/latest/configuration/observability/access_log/usage#. However I am unable to the map the request/response header size of HTTPS request sent by browser with what is getting printed in the access log. Calculating the bytes using the requ

[2021-12-15 12:35] #19250 closed

[2021-12-15 12:53] #19223 closed

[2021-12-15 13:03] phlax commented on #19292
does the DNS resolve correctly from inside the Envoy container ?

does it work using a different DNS name ?

[2021-12-15 13:08] phlax commented on #19283
cc @alyssawilk @wrowe

[2021-12-15 13:44] phlax commented on #19154
hmm, seems like it didnt, not sure why, lets close...

[2021-12-15 13:44] #19154 closed

[2021-12-15 13:54] alyssawilk commented on #19149
It's possible to use transport_socket_matches and auto_config today.
I think what you're asking is "for those of us who want to use auto_config, transport_socket_matches, and have some of the transport_socket_matches not use ALPN can we allow that?"
I think it would help me to understand why you'd want non-ALPN transport sockets for an auto_config cluster, and what you would want the cluster to do

[2021-12-15 14:06] ramaraochavali commented on #19246
I guess the upstream cluster when you have used envoy_grpc, does not have http2_protocol_options set. https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto#config-cluster-v3-cluster

[2021-12-15 14:35] bbassingthwaite commented on #19149
I believe [this says otherwise](https://github.com/envoyproxy/envoy/issues/19149#issuecomment-985757768) or are you suggesting in addition to using `transport_socket_matches`, you also have to supply `transport_socket` to get around the validation? I was hoping that you could use `transport_socket_matches` without `transport_socket` and if you did that, all of the sockets provided in that list wou

[2021-12-15 14:57] sha-rath commented on #19257
@alyssawilk sorry my question was wrongly framed. I have updated my question now. I'm not sure if there is an issue with nghttp2 as such, would like to hear it from @birenroy as well. I think you meant #19219. If so, yes, it is mostly similar except for the error handling part.

[2021-12-15 15:32] alyssawilk commented on #19149
Ah, gotcha.  I had misunderstood, thanks for making your request more clear :-)

If you look here: https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto

"If an endpoint metadata’s value under envoy.transport_socket_match does not match any TransportSocketMatch, socket configuration fallbacks to use the tls_context or transport_socket specified in this cluster."

If yo

[2021-12-15 16:01] #18756 closed

[2021-12-15 16:06] bbassingthwaite commented on #19149
This is also from the docs :)

This makes it seem that if someone configures `transport_socket_matches` without an empty `match`, it would default to the `transport_socket` which makes sense IMO.

In the our use case, since we do supply a transport socket with an empty match to `transport_socket_matches` or a "default", the `transport_socket` never gets used.

[2021-12-15 16:11] ricosega opened #19296 "oauth2 filter not working in istio with Keycloak"
Hi there,

I am using the stack "Istio - oauth2-proxy - Keycloak" for authentication in my apps and as I have seen the [oauth2 filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/oauth2_filter) I wanted to get rid of oauth2-proxy.

I followed this [post](https://getindata.com/blog/oauth2-based-authentication-on-istio-powered-kubernetes-clusters/) in order to make it

[2021-12-15 16:14] gbrail commented on #10646
It would be great to clarify this. The situation right now with ext_proc is
that I think that certain header manipulations will result in an assertion
failure that crashes Envoy, which really worries me! It'd be great if we
could instead have a standard library that returns a status as to whether a
particular header manipulation is valid, and configuration in ext_proc and
ext_authz that says what

[2021-12-15 17:34] esmet commented on #19276
I think you can use something like https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/grpc_http1_reverse_bridge_filter to support a server that still understands protobuf and HTTP 1.1

This isn't the JSON solution you suggested, but it does remove gRPC.

[2021-12-15 17:40] esmet commented on #18926
@gituserjava I believe authorization request headers need to be allowlisted https://github.com/envoyproxy/envoy/blob/e98f39b1b3729c8ee507cf4b64cbbe72e3991457/api/envoy/extensions/filters/http/ext_authz/v3/ext_authz.proto#L241 though certain ones like Authorization, etc are included automatically.

[2021-12-15 18:04] danzh2010 commented on #10646
cc @birenroy for oghttp2

[2021-12-15 18:53] bbassingthwaite commented on #19149
Was just thinking on this some more. We can move away from an empty match and rely on no matches defaulting to `transport_socket`.

It does seems like a mistake to have two ways to default a transport socket and users should opt to not use the empty match and instead rely on the default being `transport_socket`. You might consider deprecating that feature but it may not be worth the effort. Thanks

[2021-12-15 18:54] noah8713 commented on #19149
Thanks . Because
 as per alpn bool in [code](https://github.com/envoyproxy/envoy/blob/8598c3f3b3ed9ff0090dbcb1c83464551300bd18/source/common/upstream/upstream_impl.cc#L1066) , it indicated that it always reads default raw socket vs the one in transportsocketmatches as alpn is always set to true and doesnt have over-ride option. Hence, raised if we can disabling this validation would fix the issue

[2021-12-15 19:40] alyssawilk commented on #19149
oh interesting, I'd missed that (scanning too fast).
Looking at the code, it's true but really not clear.  TransportSocketMatcherImpl always takes a default match as part of the constructor, the default match is created from transport_socket, and explicit hard-coded to the raw socket if transport_socket is not present.
TransportSocketMatcherImpl::resolve returns a match based on metadata, and if t

[2021-12-15 19:43] alyssawilk commented on #19149
(and/or clean up the APIS so there's not 2 ways to configure defaults)
Anyway, marking as help wanted as I think there's work worth doing here (even if I still sadly can't sign on to do it)

[2021-12-15 19:46] #19231 closed

[2021-12-15 20:04] jmarantz commented on #19264
@asraa FYI

[2021-12-15 20:12] #19264 closed

[2021-12-15 21:28] #19067 closed

[2021-12-16 00:42] jspeiser commented on #1182
I'm also very interested in this!

[2021-12-16 01:06] ankatare commented on #19228
@alyssawilk Hi, Just for my understanding, this will be effective for current ongoing release ?

[2021-12-16 01:21] chinaran commented on #19278
@kmyerson You are right. It's better if envoy allows dynamic tags in production
and avoid bootstrap.

[2021-12-16 01:37] jmarantz commented on #19278
So currently when Envoy registers a new stat, it starts with a fully elaborated stat-name. When the stat is constructed in memory, it goes through a tag extraction process using the currently-known tag-extraction regexes.

Are you suggesting that when a new tag-extraction regex is added, that Envoy should re-iterate through all known stats and perform tag extraction again?

[2021-12-16 02:10] chinaran commented on #19278
@jmarantz I'm suggest envoy can support dynamic udpate stats_tags configuration.
If using istio, and a k8s cluster has hundreds of pods, when adding a new stat tag, you need restart all pods.
During the restart time(may be very long), some services monitoring data is abnormal, because metrics name changed by the new stat tag.
After all pods restarted, Monitoring data becomes normal.

[2021-12-16 02:20] jmarantz commented on #19278
This is worth thinking about, but I'm not optimistic. I'd have to think about it more. The main trouble is the existing stat objects (counters etc) are referenced from lots of structures in Envoy, so we have to keep the same objects. The question is whether we can contrive to mutate their tags and tag_extracted_name without disturbing operations on other threads.

I'm guessing this cannot be made

[2021-12-16 02:26] birenroy commented on #19257
I don't have much detailed knowledge of nghttp2 or its internals. I would expect it to send a GOAWAY as indicated in the spec, but I haven't investigated the source code.

I'll make a note to ensure our replacement library does the right thing.

[2021-12-16 02:36] hzxuzhonghu commented on #19262
I have no debug log, it is run in ci, I could not reproduce in local env. I can open `debug` and have a test with ci.

[2021-12-16 02:59] chinaran commented on #19278
@jmarantz I understand. Envoy stats system is complex. The design porpuse is using low memory and thread safe.

[2021-12-16 03:03] CrossingTheRiverPeole opened #19299 "Will the slowstart mode be supported in the future?"
slow start mode：
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/slow_start.html?highlight=slowstart

[2021-12-16 03:07] tonya11en commented on #19299
Can you elaborate a bit on what you mean? Slow start can already be configured via the [cluster configuration](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto#envoy-v3-api-field-config-cluster-v3-cluster-slowstartconfig-slow-start-window).

[2021-12-16 03:20] CrossingTheRiverPeole commented on #19299
Sorry, I made a mistake, please ignore this question

[2021-12-16 03:25] #19299 closed

[2021-12-16 04:09] mathetake commented on #19170
cc @PiotrSikora as I won't be able to work on this for next few months

[2021-12-16 04:18] Shikugawa commented on #19262
I have a lot of unknown settings to reproduce this problem... It has reproduced at first on https://github.com/istio/istio/pull/36446?

[2021-12-16 04:21] Demon520-coder commented on #19292
Thanks for your reply. I have find the answer that I should configure the host's dns.  I just configure the /etc/hosts, it will not pass to the envoy container.

[2021-12-16 04:21] #19292 closed

[2021-12-16 05:11] derekguo001 commented on #19217
@lizan @ggreenway @asraa @mattklein123 Could you help to review the proposal, please?

[2021-12-16 07:01] hzxuzhonghu commented on #19262
@Shikugawa

config_dump https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/36446/integ-security-k8s-tests_istio/1471322947493826560/artifacts/security-mtls-first-party-jwt-0/_suite_context/istio-state-1998788007/cluster-0/istio-egressgateway-78dbb9489f-hfh7b_proxy-config.json

envoy debug log:  https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/36446/integ-security-

[2021-12-16 08:28] phlax commented on #19236
cc @mattklein123

[2021-12-16 08:34] phlax commented on #19184
cc @zuercher

[2021-12-16 08:37] phlax commented on #19296
cc @snowp

[2021-12-16 08:46] bboshiZ opened #19301 "configure histogram buckets, the stats results are not as expected"
*Title*:  the stats results are not as expected when  custom histogram buckets

*Description*:

But ,by customizing the bucket[1,10,90,100,103,104,105,106,108,109,110,111,112], the request fell to 110, which did not meet expectations.
Expecte to fall to 105, 104 or other buckets

*Repro steps*:

*env*

envoy  version: d362e791eb9e4efa8d87f6d878740e72dc8330ac/1.18.2/clean-getenvoy-76c310e-envoy/REL

[2021-12-16 08:50] phlax commented on #19293
cc @TAOXUY

[2021-12-16 09:18] Spoonbender opened #19302 "headers_with_underscores_action isn't applied for Clusters (upstreams)"
*Title*: headers_with_underscores_action isn't applied for Clusters (upstreams)

*Description*:
The `HttpProtocolOptions.headers_with_underscores_action` action can be configured in two separate places:
1. As part of the Listener's HTTP Connection Manager settings, under `common_http_protocol_options.headers_with_underscores_action`
2. As part of the Cluster settings, under `common_http_protocol_o

[2021-12-16 10:25] ankatare commented on #18633
@rojkov pls suggest on closure

[2021-12-16 10:33] Shikugawa commented on #19262
This behavior is a bug caused by the Init Manager. After examining the logs, the following facts were found.

1. this is not caused by the initialization of the EDS cluster. As far as I can see, `ClusterImplBase::onPreInitComplete()` is called normally.
2. Probably, `ClusterImplBase::onInitDone()` is not called. Therefore, `ClusterImplBase::finishInitialization()` is not called, and the handler `i

[2021-12-16 12:14] phlax commented on #19207
closing this as pre-release

[2021-12-16 12:14] #19207 closed

[2021-12-16 12:14] phlax commented on #19156
closing this as pre-release

[2021-12-16 12:14] #19156 closed

[2021-12-16 12:14] phlax commented on #19155
closing this as pre-release

[2021-12-16 12:14] #19155 closed

[2021-12-16 14:12] alyssawilk commented on #19228
We've had more requests for the 15th than end of month so plan A is to do this next build exactly on the 15th, which is in-SLO for both the old schedule and the new schedule.

[2021-12-16 16:05] alyssawilk commented on #19229
yeah sorry it's taking longer than expected

[2021-12-16 16:29] cpakulski commented on #19293
@nehap4 Can you elaborate a bit where did you observe the mismatch? For example, the expected value of request header was X and access log printed Y. Just would like to get some info to help me start investigation.

[2021-12-16 18:26] jtrbs opened #19305 "For Clarification on OCSP response expiration in OCSP Stapling"
Hi, "OCSP response expires" related behaviors are described at https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/transport_sockets/tls/v3/tls.proto#envoy-v3-api-enum-extensions-transport-sockets-tls-v3-downstreamtlscontext-ocspstaplepolicy. And in Envoy, it relies on the "nextUpdate" field within OCSP response to check whether a response "expires" https://github.com/envoyproxy/envoy/bl

[2021-12-16 18:31] rgs1 opened #19306 "support request mirror policies at the virtual host and/or route configuration level"
Currently you can only set request mirror policies at the route level:

https://github.com/envoyproxy/envoy/blob/main/api/envoy/config/route/v3/route_components.proto#L1101

We have a use case where we'd like to set this for all routes in a given vhost or set of vhosts, thus it would be nice to support this at a higher scope than just route level.

[2021-12-16 18:33] rgs1 commented on #19306
cc: @htuch for API thoughts.

[2021-12-16 22:15] Edimo24 commented on #19218
@ggreenway any suggestion?

[2021-12-16 22:29] esmet commented on #19255
I mentioned this in the PR but I think this is a reasonable use case for dynamic metadata. We can have the ext_authz and ext_proc emit timing information as part of their dynamic metadata (possibly guarded by config) and then have users consume that dynamic metadata, which may end up being the access log or other filters.

[2021-12-16 22:35] llu94 commented on #19255
I agree with this now that you've pointed it out and am willing to rework this. Do you have any examples for guarding dynamic metadata via configs just so I am clear what you are talking about?

[2021-12-16 22:50] ggreenway commented on #19255
Unless it will consume a non-trivial amount of CPU or memory, I think you can just add the dynamic metadata by default without config. My guess is that it will be far less expensive than the actual grpc request for ext_auth or ext_proc.

[2021-12-17 02:11] flyingyang commented on #19261
The root cause is the invalid state packets are sent to the application. This is not the envoy issue, so close it,

[2021-12-17 02:11] #19261 closed

[2021-12-17 03:08] htuch commented on #19306
This keeps coming up for different routing policy - there is a general desire to be able to apply policy at different scopes across [entire route config, virtual host, route, weighted cluster]. I think it's totally fine. If we had to do this all over again, I think we might think about doing it in a more principled way, but for now, examples like CORS and hedge policy point the way to just adding

[2021-12-17 03:23] #19159 closed

[2021-12-17 03:26] htuch commented on #10646
@yanavlasov this is a nice summary - it might be easier to read as a table in which rows were equivalent-ish things, e.g. header keys, header values, host/:authority, and then protocol specific.

[2021-12-17 03:35] htuch commented on #19059
So, I figured out what is going on and it's kind of hilarious (specifically funny that I didn't spot this earlier). Redaction _is_ taking place, if you base64 decode `W3JlZGFjdGVkXQ==`, you get `[redacted]`. So, we're not actually failing to update config dump or redact. It's a bit confusing but makes sense when you think of the underlying proto JSON representation for `bytes`. You can also see th

[2021-12-17 03:35] #19059 closed

[2021-12-17 04:47] nehap4 commented on #19293
The request header looks something like below in browser:

GET /api/xxx HTTP/1.1
Host: xxx
Connection: keep-alive
sec-ch-ua:
sec-ch-ua-mobile: ?0
User-Agent: xxxx
sec-ch-ua-platform: "macOS"
Accept: */*
Sec-Fetch-Site: same-origin
Sec-Fetch-Mode: no-cors
Sec-Fetch-Dest: script
Referer: FQDN
Accept-Encoding: gzip, deflate, br
Accept-Language: en-GB,en;q=0.9
Cookie: xxxx

Expected bytes : 829

and t

[2021-12-17 05:38] LuyaoZhong opened #19308 "Implement CertificateProvider mechanism"
*Title*: *Implement CertificateProvider extension point*

*Description*:
CertificateProvider is in not-implemented-hide status, to support feature[1], we need to implement CertificateProvider extension point

*Relevant Links*:

[2021-12-17 05:51] ankatare commented on #19229
@alyssawilk Oh Ok. Sure.

[2021-12-17 05:51] ankatare commented on #19229
@tommyp1ckles whould you still be working on this ?

[2021-12-17 05:52] ankatare commented on #19228
@alyssawilk Ok. Thanks

[2021-12-17 05:57] LuyaoZhong commented on #19308
[code]

These names really confused me. What's the difference? From the comment, they are all used for fetching TLS certificates. Anybody can provide more context? How do we define a understandable classes name when implementation?

[2021-12-17 07:00] #19004 closed

[2021-12-17 09:01] spacewander opened #19309 "Envoy doesn't escape HTTP response header name writing by Wasm filter"
*Title*: *Envoy doesn't escape HTTP response header name writing by Wasm filter*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

Envoy should escape separator in the HTTP response header writing by Wasm filter

*Repro steps*:

required to reproduce the bug.

Configure the Wasm filter with the Wasm code below:

[code]

Hit the Wasm filter with

[2021-12-17 10:24] phlax commented on #19301
this seems to be a question of what resolution the histogram buckets can provide

cc @jmarantz

[2021-12-17 10:31] #19309 closed

[2021-12-17 10:40] phlax commented on #19302
cc @yanavlasov @danzh2010

[2021-12-17 10:42] phlax commented on #19305
cc @ggreenway

[2021-12-17 10:47] phlax commented on #19308
cc @ggreenway

[2021-12-17 14:14] yanavlasov opened #19312 "Consistent picks from weighted cluster across multiple proxy levels"
In our configuration we have two proxy levels. If a route uses weighted cluster to pick a service, we would like to have consistent picks in both L1 and L2 proxies. The use case is the following:

1. L1 makes a pick from weighted cluster, which contains services in multiple zones, and determines the zone where the service is located
2. L1 forwards request  to L2 in that zone
3. L2 needs to make th

[2021-12-17 14:15] yanavlasov commented on #19312
@snowp for comments.

[2021-12-17 14:33] #19017 closed

[2021-12-17 14:35] yanavlasov commented on #10646
@gbrail I think this is outside of the scope of this change. Envoy checks that required request or response headers are present and responds with an error status if the check fails. It should not ASSERT. If this is not the case I suggest opening a separate issue.
I think a lot of what you have listed is ext_proc specific. For clarification we could:

1. Document the required headers in the request

[2021-12-17 16:53] tommyp1ckles commented on #19229
@alyssawilk yes. I think I need some clarification though. Are we expecting to replace all panic_due_to_corrupt_enum or just where it makes sense?

[2021-12-17 17:19] rgs1 commented on #19306
cc: @JuniorHsu

[2021-12-17 17:44] #19228 closed

[2021-12-17 23:21] haitch opened #19315 "sni-dynamic-forward-proxy-filter example not working, empty server name"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *[sni-dynamic-forward-proxy-filter](https://github.com/envoyproxy/envoy/blob/release/v1.20/docs/root/configuration/listeners/network_filters/_include/sni-dynamic-for

[2021-12-18 00:00] zuercher commented on #19184
I think most users delegate validation to the upstream application and just use query param matching for cluster selection.

Currently, you'd have to provide 4 routes: foo only, foo+baz, foo+bee, and foo+baz+bee to handle optional baz and bee. The ability to reject queries with arbitrary additional parameters doesn't exist at all. If I recall correctly, Envoy path matching used to include the quer

[2021-12-18 00:15] haitch commented on #19315
tag @lizan based on  https://github.com/envoyproxy/envoy/pull/10448

[2021-12-18 08:01] #18797 closed

[2021-12-19 01:40] llu94 commented on #19255
@ggreenway @phlax @esmet I reworked the feature in line with the dynamic metadata approach. I stumbled upon a comment in the ext_proc filter code indicating that dynamic metadata is not completely configured for ext_proc and a quick skin of the Well Known Dynamic Metadata docs indicates that this is probably true.

I'm willing to cut a PR to add dynamic metadata to the external processing filter a

[2021-12-19 04:01] #18867 closed

[2021-12-20 02:33] visualzhou commented on #18940
@alyssawilk @wez470 I'm still working on the patch, could you please tag this with "help wanted" or "no stalebot", so that it won't be closed in the next few days?

[2021-12-20 06:09] zhangbo1882 opened #19317 "How to re-compile the .proto file"
I change the .proto file and then use
./tools/proto_format/proto_format.sh fix

But my new added fields are still not there.   The *.pb.h is not updated.

[2021-12-20 07:00] zhangbo1882 commented on #19317
re-run the script. It works now.

[2021-12-20 07:00] #19317 closed

[2021-12-20 09:56] phlax commented on #19315
@haitch just looking through to try and figure out how this should work

it would be good if we had a working example to compare against

im just checking the existing tls/sni sandbox that we have and im wondering about the correct curl command

this is how its done in the example:

https://github.com/envoyproxy/envoy/blob/5e7740823128445afe6fb193172a01f3615f2761/examples/tls-sni/verify.sh#L29-L32

[2021-12-20 10:18] phlax commented on #19315
following the same path suggested in ticket, but with v1.19, and adjusting the config, i get the same result

[2021-12-20 10:20] phlax commented on #19315
[code]

[2021-12-20 15:38] yanavlasov commented on #10646
The unified header validation (UHF) component will do the following:
1. Validate header map for standard compliance. The validator will be protocol aware and do both validations common to all protocols and protocol specific validations.
1. Perform header map transformations before request is processed through the filter chain. These include:
   - Path normalization
   - TBD

The UHF component will

[2021-12-20 16:16] howardjohn commented on #18958
Not stale, maybe we can add "help wanted"? Unless this feature would not be accepted

[2021-12-20 16:40] ggreenway commented on #19305
cc @zuercher

[2021-12-20 16:45] ggreenway commented on #19308
I'm not sure what the history is here. @lizan do you know? But the ones that are marked as deprecated can be ignored; please don't implement any new behavior for the deprecated fields.

[2021-12-20 17:18] danzh2010 commented on #10646
We are adding to QUICHE its own header validation logics. Would these verification preferred to be no-op in Envoy?

Do we have an estimated timeline for UHF? QUIC team is pushing hard to add its own header validation because of the existing gap between Envoy Http2 and Http3 validation. But if we are adding UHF soon, QUIC team can adjust the priority.

[2021-12-20 17:51] yanavlasov opened #19324 "protocol_integration_test does not include H/3"
There are test in the protocol_integration_test.cc file that assume that there is H/3 downstream. However neither ProtocolIntegrationTest nor DownstreamProtocolIntegrationTest include H/3 in the list of tested protocols.

[2021-12-20 17:51] yanavlasov commented on #19324
@alyssawilk

[2021-12-20 18:27] zuercher commented on #19305
For reference:

1. Perhaps I'm missing something, but I think the a stapled OCSP response without next-update is not useful for OCSP stapling. If an SSL certificate is compromised and the pre-revocation OCSP responses have no next-update value then it seems to me the attacker can use the revoked certificate and staple the pre-revocation OCSP response. Client would continue to accept the certificat

[2021-12-20 18:30] danzh2010 commented on #19302
Thanks for reporting this issue! Adding the support in cluster makes more sense to me. Is it a blocker for you?
cc @alyssawilk

[2021-12-20 18:31] danzh2010 commented on #19027
This is likely a result of https://github.com/envoyproxy/envoy/issues/19283. Close it here.

[2021-12-20 18:31] #19027 closed

[2021-12-20 18:33] Spoonbender commented on #19302
No, not a blocker, mostly a matter of convenience and flexibility.

[2021-12-20 22:32] petedmarsh opened #19325 "Empty reply when rate limit grpc service initial_metadata uses certain command operators"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Empty reply when rate limit grpc service initial_metadata uses certain command operators*

*Description*:

If you attempt to use certain command operators (e.g. %RO

[2021-12-20 22:38] petedmarsh commented on #19325
I believe the actual issue is that %ROUTE_NAME% was never supported and I mixed up access log command operators and custom header command operators.

[2021-12-20 22:38] #19325 closed

[2021-12-21 00:21] dnephin opened #19326 "Add support for intermediate CA as trusted_ca with X509_V_FLAG_PARTIAL_CHAIN"
*Title*: Add support for intermediate CA as trusted_ca with X509_V_FLAG_PARTIAL_CHAIN

*Description*:
I am attempting to use Envoy with a `common_tls_context.validation_context.trusted_ca` where the PEM encoded certificate at that path is an intermediate (not self signed) certificate. Envoy is failing to communicate with the upstream with error:

After looking around a bit, and trying to use `open

[2021-12-21 01:31] stevenzzzz opened #19327 "headermap: allow headermap to addReference(HeaderString, HeaderString)"
*Title*: headermap: allow headermap to addReference(HeaderString, HeaderString)

We have a use case where we'd like to "move-copy" a headerMapImpl into another (e.g. adds headers from one headerMap into the current activeStream headermap), unfortunately headermap doesn't support move.

On the other hand, we have a really rich set of APIs for adding entries via reference into headerMap, but unfortu

[2021-12-21 03:43] bboshiZ commented on #19301
I guess it's the problem here

https://github.com/openhistogram/libcircllhist/blob/d0e9039569bc8dcb87875f76beaf40c024589cee/src/circllhist.c#L807
[code]

[2021-12-21 03:45] Shikugawa commented on #19326
I think it would be nice to have the ability to use intermediate certificates as trust anchors.

[2021-12-21 04:39] LuyaoZhong commented on #19308
@ggreenway @lizan
In PR https://github.com/envoyproxy/envoy/pull/19137, you mentioned and suggested CertificateProvider, but it is marked as deprecated, I think we still need this field and we can remove  the "deprecated" flag,  does it make sense?

And I tried to understand these similar definition, CertificateProviderPluginInstance is used to provide tls certificates directly, but CertificatePro

[2021-12-21 04:59] htuch commented on #18958
@howardjohn which variant? The original proposal or what we ended up discussing?

[2021-12-21 04:59] #19134 closed

[2021-12-21 06:29] anvo1115 opened #19329 "Customize service name for Zipkin/Jaeger"
Hi,
We want to add Zipkin/Jaeger tracing to our project. According to docs https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/observability/tracing#arch-overview-tracing
"originating service cluster set via --service-cluster".
The problem is that we already use this property in many cases and can't change it.
And on tracing server we need to display different "service name" , not equa

[2021-12-21 08:56] verysonglaa commented on #9958
@gramidt @gramidt  helpwanted label was removed, but I am not sure somebody is working on it. Could you give a progress update?

[2021-12-21 08:58] verysonglaa commented on #12538
If we get opentelemetry support directly in envoy/istio I guess this would be even better. Unfortunately I don't see much progress there.

[2021-12-21 12:14] carolinestere commented on #17085
Hello! Any news on this issue? I saw that @esmet opened a PR [async_client: add trace sampling preference](https://github.com/envoyproxy/envoy/pull/18261), but it got closed due to inactivity.

[2021-12-21 14:08] yanavlasov commented on #10646
@danzh2010  The plan is to start working on it early in Q1 22, as it also has impact on H/1 codec transition.

[2021-12-21 14:52] yanavlasov commented on #19302
This is an artifact of using the same configuration for both listener and cluster protocols. The doc needs to be clarified that the setting only applies to downstream connections and is ignored in cluster configuration. This setting is to mitigate confusion attacks in access control based on headers and as such not applicable for responses.

[2021-12-21 15:19] AlexanderEllis commented on #9958
I've been working on adding OpenTelemetry tracing and can give a quick update. I currently have a rough draft of adding a new tracer that sends OTLP traces via Envoy's async gRPC client with configurable batching (similar to how the Zipkin tracer works), and I'm planning on wrapping it up and sending a PR after the holidays in early/mid January.

[2021-12-21 15:36] carolinestere commented on #17085
I was thinking of opening a PR with the following changes:

[code]

Does it make sense?

[2021-12-21 16:24] howardjohn commented on #18958
I am fine with either one, I think both will satisfy our issue

[2021-12-21 16:27] ppadevski opened #19332 "Reduce used cluster memory by initialising http_async_client_ lazily"
*Title*: *Reduce used cluster memory by initialising http_async_client_ lazily*

*Description*:
I've been trying to put my envoy on a diet and noticed that most (if not all) of my clusters do not seemingly use httpAsyncClient() but I am paying a price for it in terms of used memory. I have 2500 TLS clusters and by default I end up with about ~249.7m used memory in idle state. If I were to make htt

[2021-12-21 17:51] junr03 commented on #19329
Not that I know of. However, it shouldn't be too complicated to add configurability via the proto configuration.

[2021-12-21 17:55] Stono commented on #19262
Hey!
So I've been chatting with @howardjohn as I believe we're seeing this, or something similar in production on istio `1.12.1`, and also saw it on `1.11.x`.

We have an alert that fires when we see sync issues between `istiod` and proxies.  It's very rare, maybe once every other week.  We have a high churn environment (300-500 deployments a day).  There's been no correlation between the affected

[2021-12-21 18:09] s-jlatusek opened #19335 "TOS forward"
*Title*: *Envoy TOS field forward support*

*Description*:

I would like to propose TOS field forwarding in IP datagram for UDP protocol. I've managed to simply implement this mechanism (fow now without any tests), because I would like to know if proposed solution is reasonable. If so, I would like to get a code review. Is there any chance this functionality could be merged to master?

[2021-12-21 18:13] s-jlatusek commented on #19335
linked pull request #19334

[2021-12-21 18:58] gongcon commented on #18633
Looks good to me. I have a couple questions.
* How do we check program size in the control plane (Java)?
* Do you have plan to make `in` operator (opposed to `contains`) in [string matcher](https://www.envoyproxy.io/docs/envoy/latest/api-v3/type/matcher/v3/string.proto#envoy-v3-api-msg-type-matcher-v3-stringmatcher)? Shall I open a feature request?

[2021-12-21 21:20] #18792 closed

[2021-12-21 23:55] bianpengyuan commented on #14930
I can easily reproduce this now by deleting and recreating a filter which uses ECDS. I added some log instrument and find that crash is from this line at `factory_context.messageValidationContext().dynamicValidationVisitor()`.

https://github.com/envoyproxy/envoy/blob/8c2da0553ea93b3cd13857d113543c18894457f7/source/common/filter/config_discovery_impl.cc#L251

I enabled debug log and found there is

[2021-12-22 00:23] kyessenov commented on #14930
The factory context looks like server factory context, right? So it's the same across listeners.

[2021-12-22 01:53] Shikugawa commented on #19262
@Stono I've been investigating this issue with @hzxuzhonghu for a few days now. After examining the logs provided, we have found that in the initialization step of the cluster, the trigger to go to Active is not being called and therefore is not transitioning to warming. According to the logs provided by @hzxuzhonghu, it is only the EDS clusters that are warming, and these clusters will not become

[2021-12-22 02:04] ankatare commented on #18633
@gongcon Thanks. On queries i am not much aware of the control planes.
cc @snowp @rojkov please help.

[2021-12-22 02:07] howardjohn commented on #19262
So sending 2 CDS push in a row without EDS may trigger this? I could see
this plausibly happening in Karl's case

On Tue, Dec 21, 2021, 5:53 PM Rei Shimizu ***@***.***> wrote:

[2021-12-22 03:20] bianpengyuan commented on #14930
@kyessenov I am not sure.. you and @lambdai know this better than me : )

Could someone please reopen this issue? Maybe @snowp ?

[2021-12-22 04:11] ankatare commented on #18633
@gongcon @rojkov  can you close this issue now ?

[2021-12-22 07:10] rseasta opened #19337 "Getting reset reason: protocol error when working with nodejs"
Hi!
I used to work with envoy as a proxy and load balancer for nginx servers and everything worked fine.
When I try use it for nodejs project I get strange error `upstream connect error or disconnect/reset before headers. reset reason: protocol error` (http code 502).
Thats my config:
[code]
For static it works great. But for `backend_nodejs_cluster` I get this error.
If I request server-ip:801/80

[2021-12-22 08:02] github-actions[bot] opened #19338 "Newer release available `com_github_intel_ipp_crypto_crypto_mb`: ippcp_2021.5 (current: ippcp_2021.4)"
Package Name: com_github_intel_ipp_crypto_crypto_mb
Current Version: ippcp_2021.4@2021-10-01 16:10:00
Available Version: ippcp_2021.5@2021-12-17 11:26:40
Upstream releases: https://github.com/intel/ipp-crypto/releases

[2021-12-22 10:24] rojkov commented on #19338
/cc @ipuustin

[2021-12-22 10:44] arbfay commented on #13221
Had the same issue. `ENVOY_UID=0` worked for me. Thanks @chintan-mishra

[2021-12-22 14:06] ppadevski commented on #19332
I will unfortunately will not be able to submit this patch myself, at least not from this account, and I'd have to go through some bureaucracy if I am to submit any code in this repository, so for the time being please do not assign this issue to me and ask if someone else is interested in making these changes.

In the meantime I took another stab and noticed other things that can be initialised l

[2021-12-22 14:56] rgs1 commented on #19293
Hmm I wonder if this is somewhat similar to what was fixed in #15908.

[2021-12-22 15:39] ppadevski commented on #19332
With a rather tiny patch in HostSetImpl we can end up with:

[code]

The decrease is due to making the following changes in HostSetImpl:
1. make member_update_cb_helper_ lazy
2. wrap healthy_locality_entries_, healthy_locality_scheduler_, degraded_locality_entries_ and degraded_locality_scheduler_ in a Lazy struct as not all clusters use locality weights and std::vectors are ... expensive.

Althou

[2021-12-22 16:01] #18912 closed

[2021-12-22 16:01] #18952 closed

[2021-12-22 16:01] #18979 closed

[2021-12-22 16:01] #18980 closed

[2021-12-22 16:01] #18981 closed

[2021-12-22 16:01] #18985 closed

[2021-12-22 16:01] #18986 closed

[2021-12-22 16:33] danzh2010 commented on #18935
need a non-stable label

[2021-12-22 18:37] kyessenov commented on #14930
Ok, feel free to assign to me or @lambdai.

[2021-12-22 21:56] jeremybaumont opened #19344 "Tracing Custom Tags in HTTP Filters Spans"
Title: Tracing Custom Tags in HTTP Filters Spans seems not working

*Description*:
 I setup the following tracing configuration to the HTTP connection manager:
[code]
I have an ext_authz HTTP filter and a Rate Limit HTTP filter configured as HTTP filters (see all envoy config below).
I send traces from Envoy with Opencensus tracer to a opentelementry-collector.
I can see the traces received within

[2021-12-23 02:13] Shikugawa commented on #19344
I think this is the expected behavior because the Custom Tag is what is assigned to the Exit Span when closing a single trace context (one Entry Span and multiple Exit Spans).

[2021-12-23 03:39] hzxuzhonghu commented on #19262
***
In the incremental protocol variants, the server sends each resource in its own response. This means that if the server has previously sent 100 resources and only one of them has changed, it may send a response containing only the changed resource; it does not need to resend the 99 resources that have not changed, and the client must not delete the unchanged resources.

In the SotW protocol va

[2021-12-23 04:01] #18973 closed

[2021-12-23 04:01] #18988 closed

[2021-12-23 09:03] zhangbo1882 opened #19345 "[Question] Where can I find the CI log"
Where can I find the file for the CI error such as

/build/tmp/_bazel_envoybuild/b570b5ccd0454dc9af9f65ab1833764d/execroot/envoy/bazel-out/k8-opt/testlogs/test/extensions/transport_sockets/starttls/upstream_starttls_integration_test/test.log

[2021-12-23 11:44] arielouziel commented on #18807
Hi @triThirty, I ran into the same issue, have you found a solution ?

[2021-12-23 12:01] #18917 closed

[2021-12-23 12:14] carolinestere commented on #17085
@alyssawilk @esmet @kyessenov I opened a [PR](https://github.com/envoyproxy/envoy/pull/19343) that fixes this issue, could you please take a look when you've got time?

[2021-12-23 15:09] snowp commented on #19312
The idea of making the source of the random value be configurable makes sense to me (it was the idea that came to mind as I was reading the problem statement as well).

Would you implement this by inserting a random value into a header at L1 and re-evaluating the route, or would you you have L1 just insert a header containing the random number via a filter?

Would you want some kind of mechanism t

[2021-12-23 15:22] yanavlasov commented on #19312
Thanks @snowp
I was thinking of adding a filter to insert a header with random value at L1.

I think Envoy already has a mechanism for detecting internal requests and cleaning internal only headers if it is not internal. I think this should be enough for now.

[2021-12-23 15:47] mattklein123 commented on #19332
I agree this is a great thing to explore. There may be some very easy wins here for many configurations. cc @rojkov @jmarantz

[2021-12-23 16:01] #18822 closed

[2021-12-23 16:01] #19015 closed

[2021-12-23 16:04] ppadevski commented on #19332
I think that I have a working solution to get rid of almost all stateless LoadBalancers. For the record they are stateless as I use the filterstate in chooseHost. The sample code is below in case anyone else has this problem. The placement new in operator delete is mandatory as otherwise we seem to reset the vptr and crash.

[code]

[2021-12-23 16:16] cwdsuzhou opened #19348 "Will we support connection transfer when hot restart?"
*Title*: Will we support connection transfer when host restart?

*Description*:

Mosn has supported connection  transfer when hot restart? will envoy support this?

[optional *Relevant Links*:]

[2021-12-23 17:42] llu94 commented on #19255
I need a reviewer to authorize the merge.

[2021-12-23 18:22] junr03 commented on #19345
The files are not accessible, but the test output is streamed to CI. So if you search for the test name and scrollback on the CI logs you will see the same output that would be in the file you are looking for.

[2021-12-23 18:22] #19345 closed

[2021-12-23 19:17] jmarantz commented on #19332
At a high level this makes sense to me -- we should avoid allocating a ton of memory for features we are not using. What's the usage scenario, though, for not using an http async client? Would we not need those for getting origin data from upstreams? Seems plausible but I just wanted to understand why that would be common.

The tradeoff is complexity/risk/cost due to indirection for those who are

[2021-12-23 23:18] matiasrege commented on #19069
No stale

[2021-12-24 05:23] wbpcode commented on #19332
Here are something may be we can have a try.  But the most important thing is what @jmarantz  said: `complexity/risk/cost`.

In fact, the current cm/lb/eds code is already very complicated, and it is not a good thing to continue to add new complexity.

It seems that aggregating shared memebers may reduce some memory overhead while simplifying the code. 🤔

[2021-12-24 05:33] anvo1115 commented on #19329
Unfortunately for Zipkin I don't see a field for Service Name:
https://github.com/envoyproxy/envoy/blob/9d5627a0879b0a029e90515137c108e1d2884bfc/api/envoy/config/trace/v3/zipkin.proto

[2021-12-24 05:40] wbpcode commented on #19268
Sorry for the delayed reply. I occasionally miss some news. 😞

About this question, I think Envoy has provided request time bucket. Or are `downstream_rq_time` and `upstream_rq_time` not enough for you?

[2021-12-24 06:48] soulxu commented on #11184
I'm trying to work out a PoC for this issue

[2021-12-24 12:01] #2066 closed

[2021-12-25 00:02] #18905 closed

[2021-12-25 08:02] github-actions[bot] opened #19352 "Newer release available `com_github_zlib_ng_zlib_ng`: 2.0.6 (current: 2.0.5)"
Package Name: com_github_zlib_ng_zlib_ng
Current Version: 2.0.5@2021-06-25 17:58:39
Available Version: 2.0.6@2021-12-24 11:52:14
Upstream releases: https://github.com/zlib-ng/zlib-ng/releases

[2021-12-25 09:47] zirain commented on #11816
@tonya11en are you still working on this?

[2021-12-25 20:01] #19040 closed

[2021-12-26 00:02] #18636 closed

[2021-12-26 00:02] #19037 closed

[2021-12-26 00:02] #19052 closed

[2021-12-26 08:06] tonya11en commented on #11816
@zirain no, this turned out to be more work than I was expecting to do in my free time :(. Feel free to pick it up and I'll happily help review.

[2021-12-26 20:02] #19061 closed

[2021-12-27 00:03] #19065 closed

[2021-12-27 00:56] htuch commented on #18958
I'd be interested in hearing from @mattklein123 and @adisuissa here, but I think what would be ideal would be to open an issue to track making the xDS system more cache like and using that structure to then accommodate the resource staging (probably two issues). I can file them if there is general agreement on this approach. It would then need to be help wanted as I'm not sure if anyone in the xDS

[2021-12-27 06:26] junr03 commented on #19329
That's right. I meant to add it to the a new field to the config to be able to set the name.

[2021-12-27 12:35] rojkov commented on #19332
If we guaranty that all accesses to a lazy member happens through a getter which controls the state (checks for existence and instantiates the member safely) like in the first patch then complexity can be kept under control.

[2021-12-27 14:10] marcosrmendezthd commented on #18905
any comments/updates on this issue @gbrail ?

[2021-12-28 08:30] #19338 closed

[2021-12-28 08:47] VA-PLE commented on #19103
Thank you for this information. We use envoy in high-load projects. It's amazing to see such a drop in performance in the new version.

I hope the test will be replenished with new versions of the envoy and performance will improve over time

[2021-12-28 08:51] ankatare commented on #19283
seems interesting. I would like to take this.

[2021-12-28 09:26] wbpcode commented on #19103
@VA-PLE We are working towards this.

[2021-12-28 10:08] haitch commented on #19315
thanks, --resolve does works.

[2021-12-28 10:08] #19315 closed

[2021-12-28 13:05] jiangdongzi opened #19356 "Hi, I test the performace of v1.3 and v1.7 and the result is the performance of v1.3 is 20% better than v1.7."
Is the result reasonable? I use the docker hub image to test.  I use the client and server of nighthawk to test the latency and wrk test the throughput.  Both the performance of latency and throughtput of v1.3 is 20% better than 1.7.
I also test v2.0, the latency performance  between v1.7 and v2.0 is nearly the same.
I only use the
I don't think it should be this result.
I only use the http_connec

[2021-12-29 12:01] #18897 closed

[2021-12-29 13:14] jdomag commented on #16219
@parkedwards
Have you solved that eventually?
I'm getting same error when I try to implement my own rate-limiting service on top of gRPC. The call goes like this:
client curl http -> envoy (istio sidecar proxy) -> grcp service
and I get 500 most of the times - like 1 of 10 requests is successful, the rest gets a http 500 and http stream closed: 0 error.

[2021-12-29 15:03] Freyert commented on #13254
@phlax if you would like an "alpha" tester I would love to try this out. Any pointers on getting it up and dumping that you can share? (I'm a total envoy novice).

[2021-12-29 16:21] danzh2010 commented on #19051
need no stablebot

[2021-12-29 20:01] #18709 closed

[2021-12-29 20:16] efimki commented on #19079
Fixed by #19126

[2021-12-29 20:16] #19079 closed

[2021-12-29 21:05] wrowe commented on #19112
This is the nature of Windows dns, and would be worth examining a workaround/hardcoded hack. Whether that belongs in c-ares or envoy itself is a topic worth discussing first.

[2021-12-30 00:02] #19042 closed

[2021-12-30 00:02] #19076 closed

[2021-12-30 04:01] salrashid123 commented on #14229
the `sha256PeerCertificateDigest` info part would be really useful for wasm to help with mTLS cert-bound tokens (ie., validate the peer certificate presented in a bearer token)

i don't really know cpp (if i did, i'd file a PR :) ),
  but the i think the following would be parts where the change would take place:

[code]

- `envoy/source/extensions/filters/common/expr/context.h`
[code]

Available

[2021-12-30 05:30] jinnypark9393 commented on #12073
Hi, we have this issue as well. Did anyone resolve this issue or find bypass of this issue?

3-wide query params works fine with Envoy on Chrome browser and IE11 with https protocol but we have 400 error when we use IE11 with http protocol.

[2021-12-30 05:37] suniltheta commented on #15429
Could this issue be same as https://github.com/envoyproxy/envoy/issues/16401 which is closed due to staleness. May be we should revisit this problem.

I also notice that if we are using latest image from https://hub.docker.com/r/jaegertracing/all-in-one then the zipkin traces sent to this jaeger collector doesn't show up on jaeger UI.

cc: @darox

[2021-12-30 18:04] brianbegy opened #19365 "https://www.envoyproxy.io/ links 404"
*Title*: https://www.envoyproxy.io/ links 404

*Description*:
Call to action buttons "Get Started" and "Download" on the home page of https://www.envoyproxy.io/ 404.

*Repro steps*:
Visit https://www.envoyproxy.io/, click "Get Started"
![image](https://user-images.githubusercontent.com/17928652/147776985-bf4f7a06-e8c6-49af-9499-2f6250cd8c8e.png)

(Chrome Version 96.0.4664.110 (Official Build) (x86

[2021-12-30 19:01] suniltheta commented on #19329
I can take a look into this if no one else is already working on this task.

[2021-12-30 20:34] jaketerrito commented on #19365
Seems to only be an issue when on "latest", using something specific like "v1.20.1" seems to work.
https://www.envoyproxy.io/docs/envoy/latest VS https://www.envoyproxy.io/docs/envoy/v1.20.1

[2021-12-30 20:40] phlax commented on #19365
yep, something corrupted the latest docs build, ill look into it tomorrow, apologies for outage

[2021-12-30 22:15] salrashid123 commented on #14229
ok, bit it working by modifying the two files cited above

[code]

once thats done, the `wasm` filter can read the jwt claims and [compare that to the fingerprint from TLS](https://github.com/salrashid123/envoy_cert_bound_token/blob/main/wasm-cc/envoy_filter_http_wasm_tokenbinding.cc#L106-L120)

[code]

[2021-12-31 00:02] #19075 closed

[2021-12-31 00:11] suniltheta commented on #15429
So setting `COLLECTOR_ZIPKIN_HOST_PORT` instead of `COLLECTOR_ZIPKIN_HTTP_PORT` fixed the issue for me.
A deprecated variable `COLLECTOR_ZIPKIN_HTTP_PORT` was removed from v1.22
ref: https://github.com/jaegertracing/jaeger/releases/tag/v1.22.0

[2021-12-31 01:32] Shikugawa commented on #19356
This issue may be a duplicate of https://github.com/envoyproxy/envoy/issues/19103.

[2021-12-31 02:35] LuyaoZhong commented on #18928
This is not stale.

[2021-12-31 08:07] sefaphlvn opened #19368 "Wrong x-forwarded-for address"
*Wrong x_forwarded_for address*

*Description*:

Client

Control Plane Server

There is no route issue. Just x-forwarded-for header is not include correct address. Traffic source address is 10.216.14.4 you can see in image.

![image](https://user-images.githubusercontent.com/45564783/147810339-f5ae8362-2bb6-489f-8779-f082ae03c657.png)

[2021-12-31 12:18] phlax commented on #19365
it seems like there is an issue with a config example in the docs, ill raise a PR to resolve shortly

not immediately clear yet why this did not get caught in CI, but ill try and track down

[2021-12-31 12:30] phlax commented on #19365
seems like this is the culprit (or at least the change that is causing the issue) https://github.com/pygments/pygments/releases/tag/2.11.0

also seems like this is a reoccurrence of a similar problem:

https://github.com/envoyproxy/envoy/pull/13343

the reason its not picked up by ci is that ci is only building the rst, and not the html - probs we want to at least test rst -> html in ci

[2021-12-31 13:19] phlax commented on #19365
workaround is here https://github.com/envoyproxy/pytooling/pull/151

docs should be rebuilt shortly, if all goes well...

[2021-12-31 13:19] phlax commented on #19365
/assign @kfaseela

[2021-12-31 15:03] phlax commented on #19365
site is back up, fix/workaround:

- https://github.com/envoyproxy/pytooling/pull/152
- https://github.com/envoyproxy/envoyproxy.github.io/pull/212

apologies again for inconvenience

[2021-12-31 15:03] #19365 closed

[2021-12-31 15:13] phlax commented on #19365
this is not quite correct, just that envoy ci pins hashes whereas docs is not - probs we should pin deps there also

[2022-01-01 04:01] #19094 closed

[2022-01-01 19:19] rittneje opened #19369 "Behavior of inbound listeners during graceful drain"
I have found some conflicting answers online, so I am hoping for an authoritative answer.

When Envoy is drained via ` POST /drain_listeners?inboundonly&graceful`:
1. Are inbound listeners closed immediately, or will new inbound connections be accepted until the graceful drain period ends?
2. Does it make a difference whether the number of inbound connections reaches zero before the graceful drain

[2022-01-03 00:02] #19055 closed

[2022-01-03 08:02] github-actions[bot] opened #19370 "Newer release available `com_github_fmtlib_fmt`: 8.1.0 (current: 7.0.3)"
Package Name: com_github_fmtlib_fmt
Current Version: 7.0.3@2020-08-07 13:39:57
Available Version: 8.1.0@2022-01-02 16:34:01
Upstream releases: https://github.com/fmtlib/fmt/releases

[2022-01-03 08:02] #18321 closed

[2022-01-03 08:02] github-actions[bot] opened #19371 "Newer release available `com_github_nlohmann_json`: v3.10.5 (current: v3.10.4)"
Package Name: com_github_nlohmann_json
Current Version: v3.10.4@2021-10-16 12:49:30
Available Version: v3.10.5@2022-01-03 05:40:13
Upstream releases: https://github.com/nlohmann/json/releases

[2022-01-03 10:00] kfaseela commented on #19279
/assign Faseela

[2022-01-03 10:01] kfaseela commented on #19279
@phlax  could you please assign this to me?

[2022-01-03 11:04] robinp-tw commented on #19107
@htuch I owe an actual repro that if the config snippet above would use V3 proto, Envoy 1.17 would be unhappy about it.

For now I have to believe that based on a comment in our code, and after brief searching https://github.com/envoyproxy/envoy/issues/14735 might also point to something similar?

You commented https://github.com/envoyproxy/envoy/issues/14735#issuecomment-761927789 so probably hav

[2022-01-03 14:16] joberdick-rcd commented on #18980
Hi @rojkov, is this issue still valid? Do I need to clarify anything?

[2022-01-03 14:44] rojkov commented on #18980
I'm not an expert in oauth, but the issue sounds legit. It seems all the devs are just too busy with other tasks. Would you like to submit a patch?

[2022-01-03 18:29] arhamahmed commented on #18716
Bump, since issue was not resolved

[2022-01-03 19:03] #18633 closed

[2022-01-03 19:05] #19279 closed

[2022-01-03 21:40] scrocquesel commented on #13809
@lambdai any ongoing work around evaluating the hostname of tunneling_config ? Should another issue be created ?

[2022-01-03 22:55] haitch opened #19374 "envoy.filters.network.ext_authz populate unexpected destination with tls_inspector listener"
*Title*: envoy.filters.network.ext_authz populate wrong destination with tls_inspector listener

*Description*:

*Repro steps*:

*Config*:

*Logs*:

[2022-01-03 23:04] suniltheta commented on #19329
We can introduce a field `service_name` in the zipkins.proto similar to what we have in DatadogConfig https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/trace/v3/datadog.proto?highlight=service_name

I am trying to get more clarity on the use case that we want to address, so that we know what we are solving here.
From a typical zipkins formatted jarger trace [TRACE.md](https://github.com/en

[2022-01-04 01:44] zhangbo1882 opened #19375 "Linked packet capture feature as the same with Netscaler/BigIP"
Current the hardware load balancer (HLB) such as Netscaler/BigIP provide the linked packet capture functionality to make the packet capture more convenient. It mainly solves two pain points when we do packet capture.

1.  If you set the filter with client IP and VIP, it can capture all the packets from client to vip and also from LB to all upstream servers. So we can get a full picture about the w

[2022-01-04 02:17] jiangdongzi commented on #19103
I test and test and get another result:
1.  Using wrk test: v1.7 uses much more cpu and memory and gives better performance. Both latency and tps
2. Using wrk test: If envoy is the bottleneck, ie. envoy cpu using hit 100%, then v1.3 is better than v1.7. Both latency and tps.
3. Using nighthawk: Whatever I do, v1.3 is better than v1.7

[2022-01-04 02:27] jmarantz commented on #19103
Are 1.3 and 1.7 versions of something other than Envoy? Those seem like very low version numbers.

I think it probably makes sense to do more benchmarking on HEAD once #19115 lands. Then we should capture more traces to find the next bottleneck.

[2022-01-04 02:56] zhxie opened #19376 "Add Hyperscan regex engine to accelerate regex matching"
*Title*: Add Hyperscan regex engine to accelerate regex matching

*Description*:

[Hyperscan](https://www.hyperscan.io/) is a high-performance multiple regex matching library. Hyperscan uses hybrid automata techniques to allow simultaneous matching of large numbers of regular expressions, as well as matching of regular expressions across streams of data.

Hyperscan takes more time in compilation b

[2022-01-04 03:04] jiangdongzi commented on #19103
Sorry, please just ignore my previous commont. When I use wrk test, I always test v1.3 first(The cache may be cold)  This may gave me wrong answer. Just now, I retest, the result is the tps between v1.3 and v1.7 is very close;  and from latency aspect, the v1.7 is slightly better.  But v1.7 uses 20% much more cpu than v1.3.  But the nighthawk result is always that v1.3 is 20% better than v1.7.
I'l

[2022-01-04 03:44] wbpcode commented on #19103
It would be better to compare some new versions. `v1.3` and `v1.7` look like too old.

[2022-01-04 03:58] jmarantz commented on #19103
Yeah they way too old to be useful Envoy versions. I suspect @jiangdongzi is referring to an Istio version number or some other packaging of Envoy.

In any case, there are a lot of complexities to benchmarking Envoy well, and it's worth reading up on:
 * https://github.com/envoyproxy/envoy/blob/main/bazel/PPROF.md
 *  I thought @htuch wrote a white-paper on best practices for benchmarking Envoy bu

[2022-01-04 04:14] jmarantz commented on #19103
I found the material @htuch wrote but it's in a formal doc, not a white paper: https://www.envoyproxy.io/docs/envoy/latest/faq/performance/how_to_benchmark_envoy

[2022-01-04 08:03] github-actions[bot] opened #19377 "Newer release available `rules_foreign_cc`: 0.7.1 (current: 6c0c2af)"
Package Name: rules_foreign_cc
Current Version: 6c0c2af@2021-09-22 00:35:40
Available Version: 0.7.1@2022-01-02 16:42:56
Upstream releases: https://github.com/bazelbuild/rules_foreign_cc/releases

[2022-01-04 08:03] #19190 closed

[2022-01-04 09:05] LuoRongLuoRong commented on #15165
Hi，could you please tell me how to get the chinese documentation in my own computer? Currently, it is on the Internet and I can't acquire it conveniently. Thanks in advance :)

[2022-01-04 09:58] LuyaoZhong commented on #19308
@ggreenway  @lizan Happy new year!
I'd like to push forward this proposal, see my last comment, do you have any comments?

[2022-01-04 10:30] VillePihlava opened #19378 "Add detail about histogram buckets to the /stats endpoint"
*Title*: Add detail about histogram buckets to the `/stats` endpoint

*Description*:

Currently there is no way of seeing how many values an individual histogram bucket (with an upper and lower bound) contains from the `/stats` endpoint.

The `/stats` endpoint currently only prints a summary that can look like this:

`listener.0.0.0.0_9000.cryptomb.rsa_queue_sizes: P0(nan,1.0) P25(nan,8.0249872138

[2022-01-04 10:41] VillePihlava commented on #19378
@jmarantz @ggreenway

[2022-01-04 12:28] Barborica-Alexandru opened #19379 "Building fails"
Hi guys, sorry to bother you with building issues again. A quick rundown of everything i tried up to now:

Windows 10 + Docker desktop

Docker ubuntu 18 + clang+llvm 10 through 13
Docker ubuntu 20 + clang+llvm 10 through 11
Fedora 34 + clang+llvm 10 thought 13
Fedora 34 + package manager clang

(I then tried LXC ubuntu 18 + clang+llvm 11 and that one was real bad. failed on some kind of filesystem

[2022-01-04 13:42] KBaichoo commented on #19068
Can we no stalebot this @alyssawilk ? Thanks!

[2022-01-04 15:22] yanavlasov commented on #19379
You can try posting your build errors on Slack envoy-dev channel. This type of problem is not going to get attention here.

[2022-01-04 15:30] ppadevski commented on #19332
This is the most common usage scenario. In most cases when you only have the router http filter this http client is not used by it. This particular http async client is used in case you have e.g. a filter that does StopIterationAndWatermark, then uses the http async client to make an RPC, and then continues decoding on success.

I believe that none of the patches that were shared require synchroni

[2022-01-04 15:43] yanavlasov commented on #19376
The second option is only needed if you want to support use case where different regex pattern use different engines. If you want to allow engine selection for all patterns than option 3 or 4 would work best.

For simplicity I would suggest first implementing option 4.

It would also be good to add some benchmarks for each engine type. I'm unsure what patterns to use, but I think the more importan

[2022-01-04 16:13] jmarantz commented on #19332
RE "hasn't crashed yet" implies "no threading issues": I would like a more principled reasoning :)

RE "can't afford to upstream this": I feel like the cost of upstreaming is much less than the cost of regularly patching updates and possibly dealing with merge conflicts.

Having said this I'm definitely in favor of memory improvements, but (again) I want to make sure we are optimizing for the comm

[2022-01-04 16:15] jmarantz commented on #19332
Oh sorry I missed "This is the most common usage scenario. In most cases when you only have the router http filter this http client is not used" as it was formatted like it was part of the question rather than the response.

[2022-01-04 16:15] yanavlasov commented on #19369
Draining stops new connections to be accepted. Graceful drain waits for existing connections to be completed until the drain timeout expires, after which they are forcibly closed.

[2022-01-04 16:31] yanavlasov commented on #19368
You will need to explain more about your test set-up before anyone can help you.

[2022-01-04 17:12] alyssawilk commented on #19302
https://github.com/envoyproxy/envoy/blob/main/api/envoy/config/core/v3/protocol.proto#L214

  // Action to take when a client request with a header name containing underscore characters is received.
  // If this setting is not specified, the value defaults to ALLOW.
  // Note: upstream responses are not affected by this setting.

I think the documentation is pretty clear here.

[2022-01-04 17:24] mattklein123 commented on #18958
Yes this is the approach that I would recommend. @htuch I marked this help wanted and reopened, but fee free to close this out and replace with a fresh issue if you prefer.

[2022-01-04 17:27] mattklein123 commented on #15152
I would be interested in seeing this land. As we have contrib now can we just start out with a contrib extension and go from there?

[2022-01-04 17:57] rittneje commented on #19369
@yanavlasov Sorry, I'm still not quite clear on the matter. With a graceful drain, are listeners closed at the start of the drain period, or at the end?

[2022-01-04 18:26] adisuissa commented on #18958
I also think the approach of using an xDS internal cache and explicitly setting the dependencies in the resource will make things easier to understand, and generalize this cross-xDS dependency requirement for other use-cases.

[2022-01-04 18:53] ggreenway commented on #19308
@markdroth it looks like you made some changes in these protos last year. Do you know the history here, and which field is the correct one to use?

[2022-01-04 19:05] lizan commented on #19308
I believe `tls_certificate_provider_instance` is the one to use, and we don't need to undeprecate the rest.

[2022-01-04 19:43] markdroth commented on #19308
Yeah, there was a bunch of churn around the field names here, mostly due to us not fully understanding how the config was structured when we started working on supporting certificate providers in gRPC.  So there are a bunch of fields that we added but never used and are marked as deprecated because they turned out to not be what we actually wanted.  For history, see #11061, #12237, and #17201.

At

[2022-01-04 19:55] anvo1115 commented on #19329
As I see in https://github.com/envoyproxy/envoy/blob/9d5627a0879b0a029e90515137c108e1d2884bfc/source/extensions/tracers/zipkin/tracer.h#L62
in zipkin sources it seems that
https://github.com/envoyproxy/envoy/blob/9d5627a0879b0a029e90515137c108e1d2884bfc/source/extensions/tracers/zipkin/zipkin_tracer_impl.cc#L101
local_info_.clusterName() is set in service_name.
I'm not sure but probably upstream_c

[2022-01-04 20:03] ggreenway commented on #19378
This sounds good to me; I like it.

[2022-01-04 20:07] suniltheta commented on #19329
I looked at the same. It is true that in [Tracer's](https://github.com/envoyproxy/envoy/blob/9d5627a0879b0a029e90515137c108e1d2884bfc/source/extensions/tracers/zipkin/tracer.h#L62) `service_name` arg we [set](https://github.com/envoyproxy/envoy/blob/9d5627a0879b0a029e90515137c108e1d2884bfc/source/extensions/tracers/zipkin/zipkin_tracer_impl.cc#L101) the `local_info_.clusterName()`. But I am not su

[2022-01-04 20:36] Spoonbender commented on #19302
@alyssawilk my (incorrect) understanding from the configuration schema and the docs was that if I configure this field for a cluster, then the `headers_with_underscores_action` would be applied to headers of requests routed to that cluster. The docs only explicitly specify that response headers will not be affected.

[2022-01-04 20:43] ggreenway commented on #19035
I think for flexibility and consistency with http, it makes the most sense to add `repeated config.accesslog.v3.AccessLog upstream_access_log`, instead of adding a formatter that tries to log the history for all attempts in one log line.

Thinking through how to implement, and use cases, I think it will only be useful in the failure cases, so would it make sense to name the field something like `u

[2022-01-04 21:00] alyssawilk commented on #19035
hmmm, I have something different in mind which ideally we'd find a way to have overlap but may just not.

IMO we should have generic details for disconnect reasons.  Often the reason for disconnect may be upstream connection failure, but there are other disconnect details that would presumably be relevant like RBAC nacking or DNS failure that I think we'd want to track.  But those would presumably

[2022-01-04 21:19] ggreenway commented on #19035
Are you thinking about something like adding `%UPSTREAM_CONNECTION_TERMINATION_DETAILS%`?

[2022-01-04 21:25] ggreenway commented on #19348
We don't have any plans to support this.

To implement, it is neccessary to transfer all of the state of connection handling from the old process to the new process. For all cases except a very simple tcp_proxy configuration, this is extremely complicated. In the case of http and TLS, it is probably not possible because the libraries we use for those protocols don't support this.

So given that it

[2022-01-04 21:26] ppadevski commented on #19332
My bad.

[2022-01-04 21:49] kfaseela commented on #19371
@phlax you can assign this to me

[2022-01-04 21:55] kfaseela commented on #19352
@phlax you can assign this

[2022-01-04 22:03] GNUGradyn commented on #378
I found this from an (older?) Envoy docs page. Is this module still maintained? https://jteso.github.io/envoy/documentation/site/modules/static/

[2022-01-04 22:26] kfaseela commented on #19352
/assign kfasela

[2022-01-04 22:27] kfaseela commented on #19352
/assign Faseela

[2022-01-04 22:29] kfaseela commented on #19371
/assign kfaseela

[2022-01-05 00:20] haitch commented on #19374
Did a little dig into the source code, here are couple findings:
1. It seems ```Filters::Common::ExtAuthz::CheckRequestUtils::createTcpCheck``` is only used in this envoy.filters.network.ext_authz.
2. If possible, I think we can attach hostName to AttributeContext.Peer.service
[code]
3. this would result to request.Attributes.Request.Destination.Service
[code]

[2022-01-05 00:39] sudopablosilva opened #19387 "How to configure GrpcJsonTranscoder to not replace accentuation with special characters?"
*Title*: *How to configure GrpcJsonTranscoder to not replace accentuation with special characters?*

*Description*:

Find attached the EnvoyFilter configuration for reference
<img width="1130" alt="image" src="https://user-images.githubusercontent.com/87768873/148142411-5dada796-af01-4ee5-bec2-8e38b03ed43d.png">

GRPC request and response
<img width="1036" alt="image" src="https://user-images.gith

[2022-01-05 02:04] daixiang0 commented on #15152
@mattklein123 I am willing to take it if possible.

[2022-01-05 02:57] wangfakang commented on #15152
hi @mattklein123 We have used this proposal of [Envoy’s GoLang extension](https://docs.google.com/document/d/1noApyS0IfmOGmEOHdWk2-BOp0V37zgXMM4MdByr1lQk/edit?usp=sharing) in our [internal gateway](https://gw.alipayobjects.com/os/bmw-prod/decd8c79-7367-4956-a0c0-58d4db09add4.pdf) scenario in 2021 and have achieved good results. We are currently using it to land in the ServiceMesh scenario, and the

[2022-01-05 05:57] timonwong commented on #17100
Nope, it's still segement fault...

[2022-01-05 05:57] timonwong commented on #19089
Also #17100

[2022-01-05 07:22] YaoZengzeng commented on #19219
As a client, if no max_requests_per_connection is configured, it would set the to `DEFAULT_MAX_STREAMS` which is 1 << 29 (ref: https://github.com/envoyproxy/envoy/blob/main/source/common/http/conn_pool_base.cc#L180).

Then it would become the `remaining_streams_` of `ActiveClient` (ref: https://github.com/envoyproxy/envoy/blob/main/source/common/conn_pool/conn_pool_base.cc#L600), every time before

[2022-01-05 08:02] github-actions[bot] opened #19389 "Newer release available `com_github_curl`: curl-7_81_0 (current: curl-7_80_0)"
Package Name: com_github_curl
Current Version: curl-7_80_0@2021-11-10 06:42:29
Available Version: curl-7_81_0@2022-01-05 07:48:46
Upstream releases: https://github.com/curl/curl/releases

[2022-01-05 08:02] github-actions[bot] opened #19390 "Newer release available `com_github_wasmtime`: v0.32.1 (current: v0.32.0)"
Package Name: com_github_wasmtime
Current Version: v0.32.0@2021-12-13 19:56:49
Available Version: v0.32.1@2022-01-04 20:50:33
Upstream releases: https://github.com/bytecodealliance/wasmtime/releases

[2022-01-05 08:03] github-actions[bot] opened #19391 "Newer release available `rules_python`: 0.6.0 (current: 0.5.0)"
Package Name: rules_python
Current Version: 0.5.0@2021-10-26 02:28:10
Available Version: 0.6.0@2022-01-05 00:03:12
Upstream releases: https://github.com/bazelbuild/rules_python/releases

[2022-01-05 11:00] kfaseela commented on #19390
/assign kfaseela

[2022-01-05 14:03] alyssawilk commented on #19035
I'm thinking I want information not just about why upstream terminated, I want information about why the session in general was terminated, so I guess downstream termination details.  Often downstream will be "because upstream connectivity failed" but there are other reasons like those I mentioned above.

[2022-01-05 14:04] alyssawilk commented on #19229
I think in general we don't want panics in the Envoy code base, especially ones that could be hit by accident.
If it's the control plane, we should throw an error, and if it's the data plane we should have error handling.

[2022-01-05 14:35] naaly17 opened #19396 "Best way to create a RPM for 1.21"
Hi!

I need a RPM for 1.21, looked at using https://github.com/tetratelabs/func-e/blob/master/USAGE.md, but their latest version is 1.20, I think I can build it if I get the binary? What is the best way to get this?

Or open to any other ideas!

Thank you so much for the help! We use envoy for our production and I need a new feature for 1.21, already late on our release, so need to get everything

[2022-01-05 14:39] phlax commented on #19396
i have a very WIP PR to build RPMs altho its blocked by other PRs so im not expecting it to land quickly

it also needs quite a bit of updating

the PR is here https://github.com/envoyproxy/envoy/pull/16899

the current focus for packaging is this https://github.com/envoyproxy/envoy/pull/17979

once debian packaging is setup i will focus on rpm packaging

[2022-01-05 15:08] LuyaoZhong commented on #19308
@markdroth Could you provide a config example yaml to help me understand it?

And certificate_provider_instance must be a gRPC service, correct? What I should start with?

[2022-01-05 15:10] alyssawilk commented on #19302
"Action to take when a *client* request with a header name containing underscore characters is received."
If the client request had underscores, those actions will be taken.
If a filter alters the request, but the client request didn't have underscores, the action won't be taken.

So I think the docs do state that today but it sounds like it'd be helpful to make it more explicit for folks who don'

[2022-01-05 16:03] ggreenway commented on #19035
I think we're trying to solve different problems. I just want to have a log of the failed upstream attempts.

[2022-01-05 16:06] Spoonbender commented on #19302
@alyssawilk I think it is better

[2022-01-05 16:14] verysonglaa commented on #12538
@m-mijatovic I can see only this solution at the moment. So we have this OpenCensus Tracer with W3C trace running until open telemetry is directly supported.

[2022-01-05 16:38] markdroth commented on #19308
There's no requirement that certificate provider instances be gRPC services.  The idea is that there will be a new Envoy extension point for certificate providers, and you can write an extention that gets the data from wherever you want.

For example, in gRPC, we support a certificate provider plugin that reads the certs from a local file, as described in the [gRPC spec for xDS-configured TLS](htt

[2022-01-05 17:33] danzh2010 commented on #19283
@ankatare this issue is mitigated in test already. Are you running into the same issue in production so that a more comprehensive solution is needed?

[2022-01-05 17:37] moderation commented on #17100
I'm building on aarch64 Linux on a Raspberry Pi and MacOS M1. I don't use Docker to build and I compile out a bunch of functionality I don't need include the WASM support that causes your segfault. From my ~/.bazelrc

`build --define wasm=disabled`

More info at https://github.com/envoyproxy/envoy/tree/main/bazel#enabling-and-disabling-extensions

This doesn't fix the segfault and is a work around

[2022-01-05 17:51] qiwzhang commented on #19387
Per JSON standard,  unitcode has to be escaped in JSON.  Here is my [digging](https://stackoverflow.com/questions/13107329/how-to-handle-unicode-values-in-json-strings/13107892).

I checked transcoding code [here](https://github.com/protocolbuffers/protobuf/blob/master/src/google/protobuf/util/internal/json_escaping.cc#L347), I dont see any options to alter this behaviors.

[2022-01-05 17:56] alyssawilk commented on #19302
Awesome, thanks.  lmk if you have any suggestions for improvements, otherwise I'll leave it to Lizan :-)

[2022-01-05 20:07] kfaseela commented on #19389
There is a discussion ongoing at #11816 "Remove curl as an Envoy dependency ". Would like to hear feedback from others to really know whether we want do an upgrade, or wait for the removal

[2022-01-05 21:13] haitch commented on #19374
@yanavlasov @dio @esmet @ramaraochavali
saw you guys recently contribute to this file.

[2022-01-05 21:47] l8huang commented on #10377
Looks like https://github.com/envoyproxy/envoy/pull/19182 is about this feature.

[2022-01-05 22:21] moderation commented on #19389
I'd vote for keeping curl up to date until removal

[2022-01-06 00:01] #19096 closed

[2022-01-06 00:02] #19098 closed

[2022-01-06 00:02] #19100 closed

[2022-01-06 00:02] #19110 closed

[2022-01-06 01:13] l8huang commented on #19375
If I understand it correctly, for packets outgoing to upstream, the ancillary data is downstream source port number. Could you please also elaborate the ancillary data you used in your solution?

[2022-01-06 02:22] LuyaoZhong commented on #19308
@markdroth Thanks! This is very helpful.

[2022-01-06 04:01] #19113 closed

[2022-01-06 04:41] khayyamsaleem commented on #12739
@Belyenochi if it is alright with you, may I take this issue off your hands?

[2022-01-06 05:05] zhangbo1882 commented on #19375
Yes. Just use the downstream src port as the ancillary data.

[2022-01-06 05:11] zhangbo1882 commented on #7795
@wd you can try https://github.com/envoyproxy/envoy/pull/19182

[2022-01-06 05:12] zhangbo1882 commented on #7795
@Darkest you can try https://github.com/envoyproxy/envoy/pull/19182

[2022-01-06 05:41] htuch commented on #19107
I see, thanks for the reminder. As per https://github.com/envoyproxy/envoy/pull/14907, the v3 API was there before 1.17, but there was as bug in how we were using it in the extension. #14907 landed right after the 1.17 release.

Given how old the releases we'er talking about are, I suggest the right approach would be to go straight to 1.18.

Tagging this for https://github.com/envoyproxy/envoy/iss

[2022-01-06 06:52] ramaraochavali commented on #8440
@HenryYYang gentle ping ^^

[2022-01-06 07:49] cwdsuzhou commented on #19348
@ggreenway thanks for your reply!

[2022-01-06 07:49] #19348 closed

[2022-01-06 08:01] #18783 closed

[2022-01-06 08:02] github-actions[bot] opened #19416 "Newer release available `com_github_wasmtime`: v0.33.0 (current: v0.32.0)"
Package Name: com_github_wasmtime
Current Version: v0.32.0@2021-12-13 19:56:49
Available Version: v0.33.0@2022-01-05 19:26:50
Upstream releases: https://github.com/bytecodealliance/wasmtime/releases

[2022-01-06 08:02] #19390 closed

[2022-01-06 08:02] github-actions[bot] opened #19417 "Newer release available `com_google_protobuf`: v3.19.2 (current: v3.19.1)"
Package Name: com_google_protobuf
Current Version: v3.19.1@2021-10-29 00:04:02
Available Version: v3.19.2@2022-01-05 18:05:11
Upstream releases: https://github.com/protocolbuffers/protobuf/releases

[2022-01-06 08:31] timonwong commented on #17100
@moderation thanks, I did have success building without any wasm support for arm64 builds. But we are looking for build with wasm support...

The last update is I have successfully built wee8 under huaweicloud Kunpeng. (still cannot build with AWS Graviton, very strange...)

[2022-01-06 08:47] ktalg opened #19418 "HTTP/1.1 Header Casing - Stateful formatters NOT working"
*Title*: *Stateful formatters NOT working*

*Description*:
I use EnvoyFilter to deploy a config like [this](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/header_casing#stateful-formatters) and it seem that it didn't work,I can confirm the configuration has been successfully delivered with configDump

[code]
and the config_dump.json:
[code]
when I use curl to request

[2022-01-06 08:48] bryanwux opened #19419 "Add roadmap to Envoy?"
Currently, envoy doesn't have a roadmap feature. In terms of project management, I think adding this feature will greatly help maintainers prioritize tasks. Contributors can also find what features they are interested in contributing to more intuitively.

Examples:
[https://github.com/orgs/dapr/projects/52](https://github.com/orgs/dapr/projects/52)
[https://github.com/kubernetes/kubernetes/project

[2022-01-06 08:50] CrossingTheRiverPeole opened #19420 "About the slow start mode test"
My envoy configuration on slow start is as follows：
![image](https://user-images.githubusercontent.com/14304221/148354956-f9c3f709-d035-4d56-b25f-be88339988cc.png)

test case：
At the beginning, my Kubernetes service was associated with a pod, and then I added another pod to the service, the load strategy was RoundRobin, and the request was made after the operation was completed. The net effect is

[2022-01-06 09:00] robinp-tw commented on #19107
Thanks! Not sure what going straight to 1.18 means, but I think we were doing that. We patched 1.18 (see https://github.com/transferwise/envoy/commit/b8c209e1d7b49091812cdedd1aafa0955c3b5846) to allow this missing upgrade path. Gradually releasing that version works for us.

[2022-01-06 09:21] #19391 closed

[2022-01-06 09:22] #19352 closed

[2022-01-06 10:32] ankatare commented on #19283
@danzh2010 Ohh.got it. We are not using envoy in production

[2022-01-06 12:45] lxv458 commented on #18959
hi, @wbpcode @theganyo

I went through the code of envoy and draw the flow of some kind of durations reported in accesslog, I think it is very useful for debuging latency errors. And would you like to double check whether it is correct?

 ![accesslog](https://user-images.githubusercontent.com/11827241/148384360-9d9ce3c7-c1ac-4b90-b8bf-198666cdcca1.png)

[2022-01-06 15:06] yanavlasov commented on #8826
I have constructed tests that I wanted to run and also looked deeper into the integration between Envoy and QUIC. All of my test shave passed, meaning that there I do not currently see a way to abuse QUIC to consume more memory than flow control would allow. It even works for local responses. However I think some missing coverage needs to be improved, without blocking GA. Specifically:

1. There a

[2022-01-06 15:22] belyalov commented on #8440
@ramaraochavali
I've got draft PR: #19192
It is not finished yet, there is one known bug.
Feel free to participate :)

[2022-01-06 15:37] yanavlasov commented on #19219
Makes sense. I think we should harmonize upstream and downstream behavior.

[2022-01-06 15:39] yanavlasov commented on #19369
New connections stop to be accepted at the beginning of the drain.

[2022-01-06 16:37] rittneje commented on #19369
@yanavlasov If that's true, then the [Envoy docs](https://www.envoyproxy.io/docs/envoy/latest/operations/admin#post--drain_listeners?graceful) for `POST /drain_listeners?graceful` need to be fixed.

[2022-01-06 16:59] moderation commented on #17100
Any ideas for WASM support for aarch64 @lizan @PiotrSikora @mathetake ?

[2022-01-06 17:04] RyanTheOptimist opened #19423 "Post-handshake HTTP/3 errors should result in fallback to TCP"
When an HTTP/3 connection encounters errors after the handshake completes there is no longer a TCP vs QUIC race running and the request can not fallback to TCP. The retry should happen up at the HTTP layer, and should result in HTTP/3 being marked as "broken" if the fallback just ends up succeeding.

[2022-01-06 17:06] RyanTheOptimist opened #19425 "Cache QUIC RTT estimates and use the from TCP failover"
We should record the observed RTT for QUIC connections and use them to inform the decision about how long to wait before attempting TCP fallback.

[2022-01-06 17:08] RyanTheOptimist opened #19426 "Support changing hostnames and ports via Alt-Svc"
When a server advertises alternate services which change the hostname or port for the request, Envoy should honor these advertisements instead of simply ignoring them.

[2022-01-06 17:10] RyanTheOptimist opened #19427 "Support pre-populating the Alternate Protocols Cache"
Envoy should support pre-populating the Alternate Protocols Cache to allow it to attempt QUIC connections immediately to servers that are known to supports QUIC.

[2022-01-06 17:12] RyanTheOptimist commented on #18715
@danzh2010 I think you're working on this in #19388. Is that right?

[2022-01-06 17:12] PiotrSikora commented on #17100
It builds and passes all the tests on the CI on Linux-aarch64, so I have no idea what could be the issue. Perhaps too little memory on RPi?

You could try building from https://github.com/envoyproxy/envoy/pull/19275. Maybe that will work, or at least provide a more helpful error.

[2022-01-06 17:16] danzh2010 commented on #18715
Right, and we probably need an issue to track upstream 0-RRT support along aside this one.

[2022-01-06 17:30] RyanTheOptimist commented on #18715
I think this issue talks about both 0-RTT needing to working in general, and about be specific to safe methods. What would the other issue be tracking?

[2022-01-06 17:44] htuch opened #19429 "Document Dynamic Forward Proxy misconfiguration pitfalls"
DFP presents a potential confused deputy attack vector against networks if not correctly configured. For example, it's possible to reach private network, loopback or link-local addresses (including cloud metadata servers), unless either Envoy RBAC or external kernel / container / network firewall rules prevent this. There are best practices, e.g. using a default deny RBAC with DFP, that prevent th

[2022-01-06 17:44] qiwzhang commented on #5507
If you are using ESPv2,  it is supported by https://github.com/GoogleCloudPlatform/esp-v2/pull/640

[2022-01-06 17:44] danzh2010 commented on #19147
Mark as fix for now.

[2022-01-06 17:44] #19147 closed

[2022-01-06 18:00] alyssawilk opened #19430 "HandleUpstreamSocketFail flakes on windows"
[ RUN      ] UpstreamProtocols/ProtocolIntegrationTest.HandleUpstreamSocketFail/IPv4_HttpDownstream_Http3UpstreamBareHttp2
[2022-01-05 14:55:01.580][308][error][quic] [bazel-out/x64_windows-opt/bin/external/com_github_google_quiche/quiche/quic/core/quic_connection.cc:3619] Client: Failed writing packet 7 of 33 bytes from 127.0.0.1 to 127.0.0.1:64487, with error code 10009. long_term_mtu_:1250, pre

[2022-01-06 19:28] #19302 closed

[2022-01-06 20:01] #19073 closed

[2022-01-06 20:58] alyssawilk commented on #19418
I think you may want to file an istio issue. We have integration tests verifying that if you have preserve case formatters upstream and downstream that case is preserved.

[2022-01-06 20:59] alyssawilk commented on #19418
cc @lambdai

[2022-01-06 23:23] bkadatz opened #19436 "Our journey switching from twemproxy to Envoy Redis Proxy (and some perf issues)"
Some background: we have 20 Redis instances serving our API plus various other backend jobs (collectively, our "applications"). In front of this, we had 10 twemproxy instances proxying traffic based on consistent hash of the key. All of this is within Kubernetes. Our applications access the proxy via Kubernetes internal service based on a label selector. Our Redis instances are setup as a stateful

[2022-01-06 23:53] danzh2010 commented on #11184
I think supporting dual-stack ipv6 sockets and QUIC server migration are different things. The former only needs a 2nd listener with the same config but listening on a different socket. But QUIC server migration requires one connection lands on the same listener. #19367 seems to implement the former, but I don't see how it helps with the latter. QUIC server migration might be easier to implement i

[2022-01-07 00:02] #19129 closed

[2022-01-07 00:15] derekguo001 commented on #5398
/assign derekguo001

[2022-01-07 00:53] gpoothia-stripe commented on #11049
Wondering if this  statement is also true for unary gRPC?

The points noted above seem to apply equally to unary gRPC :
1.gRPC always sends grpc-status as a trailer and does not send it as a response header
2.x-envoy-retry-grpc-on does not look at trailer status

I am confused because presumably the knob has to useful for something?

The only usecase that remains might be gRPC over H/1 bridge wher

[2022-01-07 00:59] snowp commented on #11049
That case comes down to a naming discrepancy between Envoy and gRPC: when gRPC responds with a trailer only error response (the typical way unary gRPC fails, as it allows it to omit a response body) is classified as a headers only response from Envoy. It's the same thing, but Envoy treats it as response headers, not response trailers, allowing the retry to take place

[2022-01-07 02:35] ktalg commented on #19418
@alyssawilk thanks for reply.I think istio is work well and the expected config is sent to envoy properly,so I come here

I added the comments about "Stateless formatters" config.When using that formatter,everything is going well

[2022-01-07 02:48] du2016 opened #19437 "slow start mod on 1.20.1 is invalid"
*Title*: *One line description*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

slow start mode at version 1.20.1 is invalid,when i use lb policy with `LEAST_REQUEST `, the new endpoint not receive any traffic in slow start window，if use round robin,the new endpoint has the same weight and receive same requests in slow start window

*Repro st

[2022-01-07 04:28] timonwong commented on #17100
@PiotrSikora
I think it's not a build system issue, maybe some hardware or host machine operating system related problem:
I just copied the `bytecode_builtins_list_generator` binary to the environment which fails, it still gives me SIGSEGV even without giving any command line arguments.

It should:
[code]

However it produces:
[code]

[2022-01-07 04:55] timonwong commented on #17100
It's interesting that on machine that's ok running ldd gives me:

[code]

However on break one:

[code]

[2022-01-07 05:19] PiotrSikora commented on #17100
@timonwong thanks for investigating!

It's not only about the build system, but those builds are quite different in terms of compiler flags, etc., so you never know.

Could you see if debug build helps? Perhaps run `./bytecode_builtins_list_generator` under `gdb`?

On the `main` branch:
[code]

In #19275:
[code]

[2022-01-07 06:40] gpoothia-stripe commented on #11049
Thanks @snowp!

Isn't this the case for streaming too:

Is your expectation that x-envoy-retry-grpc-on  will only work for unary and not streaming gRPC.
If yes, can you pls explain why the difference. thanks!

Sodenote: If you are right then the language [here](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/router_filter#x-envoy-retry-grpc-on) is quite misleading when

[2022-01-07 07:37] daixiang0 opened #19438 "Add local ratelimit example"
*Title*: *Add local rate limit example*

*Description*:
Now we have [an implement](https://github.com/envoyproxy/ratelimit) for global rate limit, but no examples for local rate limit.

I want to add one under the sandbox in the doc web if possible.

[2022-01-07 07:38] #19420 closed

[2022-01-07 07:40] du2016 commented on #19437
i also test by eds file as blow:
envoy.yaml:
[code]

eds.yaml,open or close to add or remove endpoints:
[code]

with 700qps the LEAST_REQUEST loadbalance policy have work with slow start ,but is not standard linear growth, as blow,the two pods print the requests every seconds:

slowstart-test-597595c8d5-t45xc(10.23.1.199) is the old endpoint,slowstart-test-597595c8d5-tjfxk(10.23.0.155) is the new

[2022-01-07 08:02] github-actions[bot] opened #19439 "Newer release available `com_github_fmtlib_fmt`: 8.1.1 (current: 7.0.3)"
Package Name: com_github_fmtlib_fmt
Current Version: 7.0.3@2020-08-07 13:39:57
Available Version: 8.1.1@2022-01-06 22:35:15
Upstream releases: https://github.com/fmtlib/fmt/releases

[2022-01-07 08:02] #19370 closed

[2022-01-07 09:17] sefaphlvn commented on #19368
Envoy discover all resources from my management server(REST). This scenario happening during any resource requests(lds, cds, eds). when I check access logs from management server I saw this wrong ip address in "x-forwarded-for" header.

my lab environment:
[code]
client route config like that:
[code]

[code]
tracepath result:

[code]
nmcli result:
[code]
in this scenario I don't have any route pro

[2022-01-07 09:32] timonwong commented on #17100
@PiotrSikora

gdb does not help much, the bytecode_builtins_list_generator crash during startup, even before loading any :

[code]

What is more interesting is, after I compile the `bytecode_builtins_list_generator` using g++, it just works...

The build ⌘:
[code]

[2022-01-07 10:11] phlax commented on #19438
sounds like a good plan, i would be happy to review

[2022-01-07 10:17] timonwong commented on #17100
Maybe it's a PAGESIZE issue?

on good host machine (debian/ubuntu):
[code]

on problem host machine (CentOS/RHEL):
[code]

Some issues maybe related after searching:
- https://github.com/electron/electron/issues/25387
- https://github.com/electron/electron/issues/21395
- https://github.com/microsoft/vscode/issues/108509

[2022-01-07 12:01] #19077 closed

[2022-01-07 13:07] ramaraochavali commented on #18838
@scrocquesel I see the problem

@lambdai  Looks like tunneling config also uses this code https://github.com/envoyproxy/envoy/blob/main/source/common/router/header_parser.cc#L52 and it rejects host header modification. Do you think we need to fix this for tunneling config separately or handle it differently?

[2022-01-07 13:54] timonwong commented on #17100
The sections headers from the generated binary (using llvm+clang):

[code]

Generated `(PT_)LOAD` overlaps for 64k page size:
PT_LOAD (RE)  0x1ea50 + 0x0b750 = 0x2a1a0
PT_LOAD (RW) Starts at 0x2b1a0. (0x2a1a0 - 0x2a1a0) = 4096 which is just 4k and overlaps with 64k page with different purpurse (execute & write).

However, for gcc builds:

[code]

As you can see, PT_LOAD(RW) - PT_LOAD(RE) = 66024 >

[2022-01-07 14:44] timonwong commented on #17100
It's basically caused by the gn (or ninja) add `max-page-size=4096' to the linker options:

[code]

Maybe switching to bazel will solve this problem, I'll try it later in a few days.

[2022-01-07 14:55] cpakulski commented on #18950
I will try to construct a unit test to simulate timeouts and see if it triggers the bug (as suggested in #19205 comment).

[2022-01-07 16:01] #19160 closed

[2022-01-07 16:18] nosmo commented on #19268
No problem, thanks for your response! In our usecase they're not quite accurate enough - in theory you should be able to estimate by subtracting the required quantile (0.99 in our case) in `upstream_rq_time` from `downstream_rq_time` but in practice variations between the two histograms means that the numbers don't fully align properly when subtracted.

[2022-01-07 16:57] ravenblackx opened #19443 "envoy_bug triggered, causing abort() crash in debug builds (TLS error and connection error)"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *ConnectionImpl::transportFailureReason crashing in debug builds*

*Description*:
This is an error that triggers only flakily, making it awkward to reproduce.

In En

[2022-01-07 18:10] lambdai commented on #19274
@kyessenov @alyssawilk

The ALPN concern should be extended to any "out-of-band" connection data.

If we zoom into the connection establish phase, we can see it's asynchronous
1. router request a "connection" from the cluster providing the transport socket
2. the cluster return the router a established "connection" asynchronously. The transport socket object of the returned connection may not be t

[2022-01-07 18:53] ravenblackx commented on #19443
The patch I'm applying that works around the issue:

[code]

[2022-01-07 19:00] #18910 closed

[2022-01-07 22:28] tkennedy1-godaddy commented on #19273
Hi friends!

It's after the holiday season, figured I'd check up on this to see if this is a configuration issues on our end, expected behavior, or a bug?

If it is a bug, I would be willing to try to resolve this but would love to know what the proper direction is from the project so that we don't "resolve" this in a way that doesn't comport with the project goals.

Thanks!

[2022-01-08 00:02] #19120 closed

[2022-01-08 00:03] mathetake commented on #19273
cc @PiotrSikora as I won't be able to take a look

[2022-01-08 04:01] #19165 closed

[2022-01-08 09:44] ramaraochavali commented on #8440
@belyalov Thank you. I will follow the PR. My knowledge of redis protocol is very poor so will not be able contribute much. :-)

[2022-01-09 03:32] timonwong commented on #19089
@maikoulin
Ad discussed in #17100, you can patch `wee8.genrule_cmd`

[code]

[2022-01-09 06:02] jiangdongzi opened #19451 "Why the official example cannot serve as http2 edge proxy?"
https://www.envoyproxy.io/docs/envoy/latest/configuration/best_practices/edge#configuring-envoy-as-an-edge-proxy

I use the example configuration and curl the envoy, and always show http1.1 header.
![image](https://user-images.githubusercontent.com/17529657/148671160-9e400771-98a1-4266-b6fe-e30f0ee54870.png)

and below is my configuration almost the same as official example configuration.

![image

[2022-01-10 01:40] daixiang0 commented on #19438
/assign

[2022-01-10 07:23] daixiang0 commented on #18447
@alyssawilk still available?

[2022-01-10 09:06] keshavprasadms opened #19453 "Invoking external authorization on grpc protocol selectively based on certain headers"
Hi there,

Is it possible to invoke the external authorization grpc endpoint based on certain headers and skip the auth check if header is missing?

I am using OPA as external authorization service on grpc protocol. I want to invoke this auth check only if I receive headers which contains `Content-Type: application/json` since I am performing checks in OPA only on json contents.

Now if I get bina

[2022-01-10 09:26] Zsolt-LazarZsolt commented on #19219
I would agree, a sync between upstream and downstream behavior would be great.

[2022-01-10 10:48] jiangdongzi commented on #19451
@alyssawilk , sorry, but does the envoy doc need update?

[2022-01-10 11:32] Sooryaa-A commented on #17016
Any update on this ticket? I have configured respect_expected_req_timeout to true and use_remote_address also to true. But the timeout being send in -envoy-expected-rq-timeout-ms is not getting considered for upstream connection timeout. time ot happening according to the route timeout configured
![image](https://user-images.githubusercontent.com/50395444/148759312-eb33b49e-7bae-45bc-aea4-4cd6b546

[2022-01-10 14:55] alyssawilk commented on #19418
I think you would need to provide full config dump.  You excerpt a section and it's not clear it is being set up correctly.

[2022-01-10 15:09] alyssawilk opened #19454 "HTTP/3 should support hot restart"
(This space has been seized by @ravenblackx)

Some loose design was agreed with @RyanTheOptimist and @danzh2010
Work in progress on no-eBPF implementation, with intent for a PR for each checkbox:
- parent quic socket must send unroutable packets to hot restart for sending to child instance
  - [X] implementation of quic callback (#28664)
  - [X] pass the hot restart object to the quic callback whe

[2022-01-10 15:18] alyssawilk commented on #19356
Yeah I think @wbpcode is working on it there so I'm closing this off as a duplicate.

[2022-01-10 15:18] #19356 closed

[2022-01-10 15:19] alyssawilk commented on #19375
I think just about anything can go in contrib so you're welcome to put something together there :-)

[2022-01-10 15:22] alyssawilk commented on #19419
Envoy does have a roadmap feature but doesn't use it heavily.  I'm not sure how kubernetes manages but in Enovy Maintainers are generally sponsored by companies and are going to prioritize the tasks their companies want then to work on, and contributors generally are doing the same.

[2022-01-10 15:23] alyssawilk commented on #19436
cc @wbpcode

[2022-01-10 15:40] alyssawilk commented on #19451
Can you dump logs from curl -v?

I see
*   Trying 127.0.0.1:10443...
* Connected to localhost (127.0.0.1) port 10443 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1

which looks like it's offering HTTP/2

[2022-01-10 15:45] alyssawilk commented on #19443
Thanks for the report - we'll update the code per Matt's TODO!

[2022-01-10 16:03] howardjohn opened #19458 "Allow disabling connection pooling and use 1:1 connection with upstream and downstream"
*Title*: Allow disabling connection pooling and use 1:1 connection with upstream and downstream

*Description*:
It would be great to have an option (on cluster?) to allow HTTP proxying to follow connection properties like tcp_proxy. That is:
* When downstream opens a connection, we open a connection to upstream.
* We never share an upstream connection with multiple downstream connections, and the

[2022-01-10 16:43] alyssawilk commented on #19458
Can you comment a bit more about how this differs from setting max_requests_per_connection to 1?

https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto#envoy-v3-api-field-config-cluster-v3-cluster-max-requests-per-connection

[2022-01-10 16:44] alyssawilk commented on #19453
cc @esmet @gsagula @dio

[2022-01-10 16:51] alyssawilk commented on #19274
This may be naive but I'm not sure if we can do all of that?  I would think we'd be doing a literal replacement of the 2 hop system with a 1 hop system.  right now you generally wouldn't configure the loopback upstream with "do alpn" or "add a proxy protocol header", you'd rely on the actual upstream to do that.  Similarly we wouldn't expect the loopback upstream to be able to infer what the next

[2022-01-10 16:54] howardjohn commented on #19458
Yes, the difference is we want the downstream/upstream to explicitly control connection handling, not Envoy.
 For example, consider this client:
[code]

`max_requests_per_connection` will result in 2 different upstream connections. With this proposal, there would be 1 single connection.

[2022-01-10 16:54] alyssawilk commented on #19274
alternately, potentially also naive, do we need the full listener stack for this? in-house when we do http/2 over http/2 we don't mock out the equivalent of the entire filter chain, we do a more simple pre-processing.  The Envoy mobile stack has the ability to create a virtual codec getting headers, body, and data, and put them through an HCM, and _if_ the use case here is 2 rounds of HTTP process

[2022-01-10 16:56] alyssawilk commented on #19458
ah, totally makes sense.  I think this is a dup of https://github.com/envoyproxy/envoy/issues/12370 then?

[2022-01-10 17:00] wbpcode commented on #19436
🤔 It would help us understand this better if you could provide some runtime Envoy metrics (connection changes, some metrics provided by the Redis proxy itself, etc.).

it is recommend to set `--concurrency` based on the CPU resource that allocated to Envoy.

How do you count the commands ?
I am not familiar with Redis Proxy. But could it have been because envoy had split a set of Redis commands?

[2022-01-10 17:14] kyessenov commented on #19274
@alyssawilk In general, I agree that "flattened" version would probably be simpler and more efficient. E.g. something like upstream network filters for muxing and listener filters for de-muxing. We are not ruling out that option long term. We actually spent a long time arguing that. But currently, we think it's more flexible to have 2 hop solution because it lets us do things:
- avoid complete re-

[2022-01-10 18:00] lambdai commented on #19274
In short term we'd like to assume all the downstream traffic is tcp, so 2 rounds of HTTP processing does not happen.

The longer term plan is to support parsing downstream http GET to upstream http CONNECT.

What is the shortest path to achieve? My understanding is that HCM cannot magically create CONNECT request from a non-CONNECT request.

[2022-01-10 19:26] alyssawilk commented on #18569
@qqustc could you take a look at this?

[2022-01-10 19:33] moderation commented on #19436
The most detailed documentation I've found on this is from @mattklein123 's old article at https://blog.envoyproxy.io/envoy-threading-model-a8d44b922310#b30c.

Tuning `--concurrency` is particularly important in Kubernetes environments that are running on VM's. For example if your Envoy container is running on a VM where the underlying node has 64 cores, the concurrency level will be detected as 6

[2022-01-10 19:47] #19198 closed

[2022-01-10 19:50] esmet commented on #19453
I think one way to do this is to create a specific route that uses header matching. Then, configure that route to skip authorization checks.

[2022-01-10 22:16] lambdai commented on #19418
@ktalg Istio by default has two proxies if you run curl in an pod. One proxy is the sidecar proxy of the curl running pod, and the other is the sidecar proxy at the echo-server.

Can you verify *each* proxy is applying "Stateless formatters"?

[2022-01-10 22:45] belyalov opened #19469 "tls: alpn setup does not work when using custom handshaker with "provides_certificates" capability"
*Title*: tls: alpn setup does not work when using custom handshaker with "provides_certificates" capability

*Description*: When TLS listener configured with `ALPN` and Custom TLS Handshaker extension (therefore no certificates defined in the config) - `alpn` settings being ignored.

*Repro steps*:
- Configure TLS listener with `alpn` preferences, custom handshaker, but no certificates.
- Make TLS

[2022-01-10 22:51] adisuissa commented on #18259
Fixed by #18628, closing.

[2022-01-10 22:51] #18259 closed

[2022-01-11 00:25] bkadatz commented on #19436
Thanks, I'll tweak this value.

The number of commands shown in the graph is what Redis is reporting itself via [Datadog's Redis agent](https://docs.datadoghq.com/integrations/redisdb/?tab=host). The docs claim "The number of commands processed by the server", but ​I'll see if I can get some more granular information on this.

It's possible, but Envoy's Redis Proxy should split the commands in the

[2022-01-11 00:42] juliaogris commented on #1182
In a Kubernetes and Istio context we have built the Kubernetes Operator [transflect](https://github.com/cashapp/transflect) to automate gRPC/JSON transcoding updates via the gRPC server reflection API. For annotated deployments transflect creates [Istio EnvoyFilter resources](https://istio.io/latest/docs/reference/config/networking/envoy-filter/), which update the [gRPC JSON transcoder filter](htt

[2022-01-11 01:24] bkadatz commented on #19436
With an explicitly set concurrency setting, performance is now substantially faster than it was yesterday and roughly equivalent to what we had with twemproxy:
![Screen Shot 2022-01-10 at 5 19 04 PM](https://user-images.githubusercontent.com/591998/148864517-685447e2-4c8b-4f59-9a57-6d04011e7d2b.png)

Plus, we are using fewer (and now smaller) Envoy instances which is a net win.

Regarding the numb

[2022-01-11 02:49] #19376 closed

[2022-01-11 03:02] bkadatz commented on #19436
Okay, so I collected some stats after switching back to twemproxy and then again running via Envoy. After normalizing for the time difference to produce a constant rate the main difference is in how each system handles `GET` vs `MGET`.

twemproxy:

- MGET: 41,606 commands issued
- GET: 13,628 commands issued.

Envoy:

- MGET: 13,618 commands issued
- GET: 74,711 commands issued.

The similarity of

[2022-01-11 03:19] wbpcode commented on #19436
@bkadatz I have done a quick check to the Envoy codes. Envoy will splits MGET command to multiple GET. So there should be no MGET for Envoy. 🤔

[code]

[2022-01-11 03:36] bkadatz commented on #19436
I double-checked the stats and since switching back exclusively to Envoy about an hour ago and shutting down twemproxy, there haven't been any new MGET commands reported on the instance I've been checking. I probably messed something up in leaving twemproxy running unnecessarily when retrieving these stats.

But as this now explains the command count difference and there aren't any remaining perfo

[2022-01-11 03:57] daixiang0 commented on #18447
I'd like to take it.

[2022-01-11 04:05] moderation commented on #19436
Glad to help. I suspect there are a ton of people running Envoy in Kubernetes inheriting the underlying node CPU counts and therefore having way more threads than they require

[2022-01-11 04:13] kyessenov opened #19470 "internal listener: unsteady flow control"
We have observed that chaining internal listeners after `tcp_proxy` produces unsteady throughput. Sample iperf3 output:

[code]

The falling throughput over time and high retry count indicates problems with the flow control when going through the user space socket.

To reproduce:
1. Merge https://github.com/envoyproxy/envoy/pull/19467.
2. Use [envoy config](https://gist.github.com/kyessenov/dbc19e

[2022-01-11 05:14] jiangdongzi commented on #19451
Sorry, I found my error.  the `”` in my alpn_protocols configuration is wrong,  it should be `"`.  But I think the official example need update,  as there is no `alpn_protocols` filed,  and in this condition it cannot serve as http2.  If adding this configuration correctly, envoy can serve as an http2 edge proxy.

![image](https://user-images.githubusercontent.com/17529657/148884634-560ebedb-f716-

[2022-01-11 06:05] zhxie opened #19472 "Add Hyperscan input matcher to accelerate regex matching"
*Title*: Add Hyperscan input matcher to accelerate regex matching

*Description*:

[Hyperscan](https://www.hyperscan.io/) is a high-performance multiple regex matching library. Hyperscan uses hybrid automata techniques to allow simultaneous matching of large numbers of regular expressions, as well as matching of regular expressions across streams of data.

In the previous discussion of #19168 and

[2022-01-11 06:21] JerryYanisLuo opened #19474 "Unexpected local rate limit error when using descriptor"
*Title*: Unexpected local rate limit error when using descriptor

*Description*:

We are using Istio EnvoyFilter to test Envoy local rate limit feature.
The envoy proxy version is v1.18.4
We set `fill_interval` as 10s, `max_tokens` and `tokens_per_fill` as 100 for descriptor token bucket.
We set `fill_interval` as 10s, `max_tokens` and `tokens_per_fill` as 10000 for default rate limit token bucket

[2022-01-11 07:04] fatedier commented on #19458
@alyssawilk I'm not sure if #12370 is already completed and solve this issue.

`connect_pool_per_downstream_connection` flag is added to the cluster config to use a separate connection pool for every downstream connection. But if the upstream connection closes, the downstream still won't.

#12370 is not active for 14 months. Is there any more develop plan?

[2022-01-11 07:58] derekguo001 commented on #19217
As @mattklein123 suggested in https://github.com/envoyproxy/envoy/issues/1106#issuecomment-357450316 , "I would loosely suggest that we offer loadable "HSM" modules that can be plugged in. E.g., a static module could use a local HW HSM, another could call an external API, etc."

Could we do it like this? @htuch @PiotrSikora @ggreenway @ipuustin  What do you think about it?

[2022-01-11 08:02] github-actions[bot] opened #19476 "Newer release available `com_github_google_benchmark`: v1.6.1 (current: v1.5.1)"
Package Name: com_github_google_benchmark
Current Version: v1.5.1@2020-06-09 08:54:15
Available Version: v1.6.1@2022-01-10 19:19:31
Upstream releases: https://github.com/google/benchmark/releases

[2022-01-11 08:02] #18323 closed

[2022-01-11 08:02] hq6 opened #19477 "Is it possible to get a handle to the current upstream gRPC channel inside a C++ filter?"
I'm using Envoy as a sidecar and trying to build an Envoy filter that uses gRPC reflection.

As far as I know (please correct if wrong), Envoy already has a pool of channels for speaking gRPC to upstream when Envoy is configured to proxy gRPC.
Is there a way to retrieve a pointer to one of the channels from inside a filter?
Alternately, is there a way to retrieve the configured gPRC ingress port?

[2022-01-11 08:20] DeroSavage opened #19478 "OAuth flow failed - Oauth breaks at /callback route"
Hey there,

im facing some issues with the oauth filter. The authorize requests works correctly, i'm redirected to the auth server and then come back to the /callback route. Here is where im getting the message "OAuth flow failed" all the time.

Im running envoy as a sidecar in a kubernetes deployment which is running on port 8123. In the same deployment is a nginx with a hello world page running

[2022-01-11 08:55] rojkov commented on #19472
Sounds promising. I'd sponsor the extension.

[2022-01-11 09:20] rojkov commented on #19436
Also you may consider pinning Envoy to a certain CPU core(s) with `taskset` to reduce cache trashing a bit. In Kubernetes with kubelets configured to use the static CPU management policy this should work automatically.

[2022-01-11 09:36] zhangbo1882 commented on #19375
@alyssawilk , thanks. I will submit a PR for review.

[2022-01-11 13:50] alyssawilk commented on #19451
huh, reading the docs it does look like that should be set.  I wonder how or why it worked in the past?  I'll add it in, and thanks for the report!

[2022-01-11 13:56] alyssawilk commented on #19458
It's not complete, it just has more explanation and discussion so better to have that tracking the desired feature.
AFIK no one is actively working on it.  If your company has a need for it it'd be great for you to pick it up!

[2022-01-11 14:09] fatedier commented on #19458
I'd love to but am not familiar with c++.

[2022-01-11 14:11] linhuatan commented on #16401
maybe related with  https://github.com/istio/istio/issues/32026

[2022-01-11 14:19] keshavprasadms commented on #19453
I would want to route all traffic (prefix as `/` ) to the authorization service. There are some routes which can accept multiple type of payloads (json, binary, URL etc). And also adding multiple urls would be difficult to maintain in long run. I will give it a try to see if header matching works for my situation or not. If there is any other way, please let me know. Not sure if using lua filters

[2022-01-11 14:56] #17085 closed

[2022-01-11 15:12] alyssawilk commented on #19478
cc @rgs1 @derekargueta @snowp

[2022-01-11 15:13] alyssawilk commented on #19469
cc @asraa @lizan @ggreenway

[2022-01-11 15:15] alyssawilk commented on #19474
cc @kyessenov @lizan

[2022-01-11 15:16] alyssawilk commented on #19477
Unfortunately there's no way for a downstream filter to gt access to the upstream connection, and upstream filters are not implemented yet.
There should be address info once the upstream connection is established - check out stream info for upstream address etc.

[2022-01-11 15:42] phlax opened #19484 "Document/sandbox `alpn_protocols` config setting"
### Description

it would be helpful if the `alpn_protocols` setting was better documented somewhere - docs/sandvoox

follow up from https://github.com/envoyproxy/envoy/pull/19481#discussion_r782258800

[2022-01-11 16:12] #19451 closed

[2022-01-11 17:18] alyssawilk commented on #11816
@lavignes as the other AWS filter owner, would you be able to take a look? If not we may need to bump the aws filter to contrib/

[2022-01-11 17:24] suniltheta commented on #11816
If we decide to move it to contrib due to not able to provide fix at the right time, I can take up the action item to move it to contrib.

[2022-01-11 17:40] lambdai commented on #19470
The user space socket buffer size is unlimited in the tested PR.
It's probably reasonable to set use a default size 1MB as the default connection buffer size. Updating the PR and verifying

[2022-01-11 18:03] kyessenov commented on #19470
It's probably worth making that configurable in the proposed factory extension since it's not clear what the best value for the buffer size is at the moment.

[2022-01-11 18:04] vikaskumar11 commented on #19142
@ggreenway Can you please add label "help wanted".

[2022-01-11 18:20] alyssawilk commented on #11816
Awesome, thank you!

[2022-01-11 18:38] hq6 commented on #19477
Thanks for explaining! :)

[2022-01-11 19:09] ggreenway commented on #19142
cc @htuch. This is related to the discussion of libcurl in the community meeting this morning. Is the recommended approach for the extension to create a cluster for each CRL host it needs to connect to, and then use AsyncHttpClient on that cluster? I've never looked at how to do this; can extensions dynamically create clusters that aren't in the config?

[2022-01-11 20:45] lambdai commented on #19470
In https://github.com/envoyproxy/envoy/pull/19467/commits/fbe3e73b3cde0fb1de715d8dcf1e8d0c4ff50d43 a 1MB high watermark is set (previous unlimited), along with a 16MB as h2 window (previous 256MB), the heap size (think of the peak usage).

[code]

[2022-01-12 02:34] mum4k commented on #11266
Hi @gyohuangxin, we will gladly accept help. We expect to be able to staff this work in about 6 months, but I would gladly work with you in the meantime if you have the cycles. If you are able to help, it would be good to get in touch and discuss priorities and the direction. Are you on the Envoy's Slack by any chance?

[2022-01-12 04:47] gyohuangxin commented on #11266
@mum4k Thank you yes, you can find me in Envoy's Slack by username: "Huang Xin".

[2022-01-12 05:46] htuch commented on #19142
I think this is a place we could make use of the dynamic forward cluster, but I'm not aware of any place in Envoy that does this beside the data forwarding plane. If someone can establish this pattern, I think it will be useful in many places.

[2022-01-12 06:47] javid-dastgoshadeh opened #19496 "external authorization adding data to body"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *external authorization adding data to body*

*Description*:

Recently, we have been working on a decoupled access control mechanism for backend applications deploye

[2022-01-12 07:40] upgle commented on #6767
@maennchen

Thank you for sharing.
Unfortunately, some Safari doesn't seem to support 421 response code.

Browser | OS | Version | 421 Response code supported | Protocol
-- | -- | -- | -- | --
Safari | macOS Monterey | 15.1 | YES | HTTP/2 (h2)
Safari | macOS Big Sur | 14.1 | NO | HTTP/2 (h2)
Safari | macOS Catalina | 13.1 | NO | HTTP/2 (h2)
Safari | macOS Mojave | 12.1 | NO | HTTP/2 (h2)

- https:

[2022-01-12 08:03] github-actions[bot] opened #19497 "Newer release available `com_google_protobuf`: v3.19.3 (current: v3.19.1)"
Package Name: com_google_protobuf
Current Version: v3.19.1@2021-10-29 00:04:02
Available Version: v3.19.3@2022-01-11 02:08:15
Upstream releases: https://github.com/protocolbuffers/protobuf/releases

[2022-01-12 08:03] #19417 closed

[2022-01-12 08:32] Sooryaa-A opened #19498 "Setting x-envoy-upstream-rq-timeout-ms header does not work"
*Title*: Setting  x-envoy-upstream-rq-timeout-ms header does not work

*Description*:
          From the application client , x-envoy-upstream-rq-timeout-ms  header is filled and send to egress envoy. But envoy is not considering this timeout value send for the upstream connection timeout.Its using the timeout value configured in route .
But the document says, if x-envoy-upstream-rq-timeout-ms is

[2022-01-12 09:23] jiangshantao-dbg commented on #19437
i meet the problem too.
1. round robin not work at all. just use the unweighted. because `lb_round_robin_config_` in `upstream_impl.cc` is never assigned in constructor.
[code]
2. in slow start window, endpoints need slow start receives no traffic and beyond the slow start window, they still receive no traffic. because endpoints which need slow start will have a very high `deadline_` in edf schedu

[2022-01-12 09:39] jiangdongzi opened #19499 "Is there an easy way to transfer config_dump from running envoy to static configuration?"
Our production config largely from dynamic configuration. I want to debug in my local machine.  Now my method is to extract the config manually. For example, I copy the dynamic_listeners to static config and route the same way.

[2022-01-12 09:51] wbpcode commented on #19498
Hi, only 'x-envoy-expected-rq-timeout-ms' from trust client (with internal address) will be used. Can you confirm that the client is using the internal network?

[2022-01-12 12:23] libbkmz commented on #19379
The same issue. Trying to build http-filter-example, and getting the same error with this commandline:
[code]

Looks like copts and cxxopts are not propagating into the v8 genrule, cause I can't see these options under that commandline:
[code]

[2022-01-12 12:39] Sooryaa-A commented on #19498
tried sending x-envoy-expected-rq-timeout-ms also from application to  envoy. Still this header is getting modified with router configured timeout when sending out to  server.  Application and envoy are runnning in different containers.do we have to set this headers in ingress envoy using luc script ?

![MicrosoftTeams-image](https://user-images.githubusercontent.com/50395444/149137013-42796c1b-dc

[2022-01-12 13:56] alyssawilk commented on #19496
cc  @esmet @gsagula @dio

[2022-01-12 14:00] alyssawilk commented on #19498
I don't think that addresses the point @wbpcode made.
When envoy gets a request if the downstream is not trusted it'll clear all x-envoy headers in the ConnectionManagerUtility::cleanInternalHeaders function.  Are you sure you set up your Enovy to trust the downstream you're sending requests from?

[2022-01-12 14:01] alyssawilk commented on #19499
Not that I know of. cc @htuch @adisuissa

[2022-01-12 14:07] alyssawilk commented on #19454
@danzh2010 @RyanTheOptimist would one of you be up for outlining what the steps might look like here?

[2022-01-12 14:13] Sooryaa-A commented on #19498
if we set
"use_remote_address": true, the immediate source will be trusted right

[2022-01-12 14:23] phlax commented on #19499
i dont think there is but it would be an interesting tool, im thinking there would be a few variable involved in how the runtime config was interpreted as static in the general case

[2022-01-12 14:52] RyanTheOptimist commented on #19454
Sure, I'll take a stab!

[2022-01-12 14:54] alyssawilk opened #19501 "integration test retry config on and off"
https://github.com/envoyproxy/envoy/pull/19500 fixed a bug in the access loggers which was always creating retry config.  It'd be good to have an integration regression test as well.
@Shikugawa would you be up for regression testing?

[2022-01-12 15:09] adisuissa commented on #19499
Also note that the config dump may not cover all fields, for example for endpoints we rebuild the contents [here](https://github.com/envoyproxy/envoy/blob/b38f7ea5088fdd239cf2fd4379c776ccd7d1a949/source/server/admin/config_dump_handler.cc#L294).

[2022-01-12 15:12] RyanTheOptimist commented on #19454
+@ggreenway who was also interested in this behavior.

So the challenge here is that HTTP/3 runs on top of QUIC + UDP which is quite different from TCP. With TCP each accepted connection results in a new socket and a new file description. Closing the listening socket does not close the accepted per-connection sockets. This means that the "old" listening socket can be closed and a "new" listening s

[2022-01-12 15:16] dio commented on #19496
@javid-dastgoshadeh how about leveraging https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/ext_proc_filter here? cc. @gbrail

[2022-01-12 15:17] alyssawilk opened #19503 "envoy.reloadable_features.grpc_bridge_stats_disabled deprecation"
Your change #16284 (grpc: block stat collection in grpc bridge filter with runtime) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-01-12 15:17] alyssawilk opened #19504 "envoy.reloadable_features.hash_multiple_header_values deprecation"
Your change #15486 (http: make HeaderHashMethod hashing all the header values) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-01-12 15:17] alyssawilk opened #19505 "envoy.reloadable_features.http2_consume_stream_refused_errors deprecation"
Your change #16895 (http/2: correctly handle stream refusal error) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-01-12 15:17] alyssawilk opened #19506 "envoy.reloadable_features.internal_redirects_with_body deprecation"
Your change #15634 (http: Internal redirects with request body) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-01-12 15:17] alyssawilk opened #19507 "envoy.reloadable_features.listener_wildcard_match_ip_family deprecation"
Your change #16914 (listener: match rebalancer to listener IP family type) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.
cc @jacob-delgado

[2022-01-12 15:17] alyssawilk opened #19508 "envoy.reloadable_features.no_chunked_encoding_header_for_304 deprecation"
Your change #16545 (http1: do not add Transfer-Encoding header to 304 response) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.
cc @boringuy

[2022-01-12 15:17] alyssawilk opened #19509 "envoy.reloadable_features.require_strict_1xx_and_204_response_headers deprecation"
Your change #15880 (http: split strict_1xx_and_204_response_headers into two settings) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-01-12 15:17] alyssawilk opened #19510 "envoy.reloadable_features.send_strict_1xx_and_204_response_headers deprecation"
Your change #15880 (http: split strict_1xx_and_204_response_headers into two settings) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-01-12 15:17] alyssawilk opened #19511 "envoy.reloadable_features.strip_port_from_connect deprecation"
Your change #15975 (port stripping for CONNECT) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-01-12 15:17] alyssawilk opened #19512 "envoy.reloadable_features.udp_per_event_loop_read_limit deprecation"
Your change #16180 (udp: limit number of reads per event loop) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-01-12 15:17] alyssawilk opened #19513 "envoy.reloadable_features.unquote_log_string_values deprecation"
Your change #16736 (Remove extra quotes for strings in metadata formatter) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-01-12 15:20] #19443 closed

[2022-01-12 15:28] yanavlasov commented on #19379
I saw these build failures as well on my workstation. Not sure about the root cause. CI builds seem to be fine. For now workaround is not to build WASM. Add `--define=wasm=disabled` to the bazel command line.

@PiotrSikora if this build problem is known.

[2022-01-12 15:37] PiotrSikora commented on #19379
I never saw this error when bulding Envoy, and it doesn't happen on the CI, but I think @alyssawilk saw it a while ago.

@Barborica-Alexandru @libbkmz could you test with https://github.com/envoyproxy/envoy/pull/19514? It should fix the issue.

[2022-01-12 16:05] #19379 closed

[2022-01-12 16:57] corpix opened #19515 "How do I actually hot restart?"
*Title*: Can not understand what actions should be done to hot restart the process.

*Description*:
I've sent SIGHUP to envoy process and got: `caught and eating SIGHUP. See documentation for how to hot restart.`
Then I [went to docs](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/operations/hot_restart).
Where I see only hot restart description, not HOW to hot restart.

So... wha

[2022-01-12 17:10] ggreenway commented on #19142
It may make more sense to make a simpler API, that doesn't do any connection pooling, that just does an http request to a given url asynchronously. It could make a cluster under the hood if needed as an implementation detail.

[2022-01-12 17:30] boringuy commented on #19508
Thanks! Will do that after #19502

[2022-01-12 17:35] ggreenway commented on #19454
It would be ideal if we could route the packets correctly in the kernel via EBPF, but I don't know if that is possible or not. If it's not, we could forward packets over the hot-restart communication channel between the envoy instances, but that would have an extra CPU cost.

[2022-01-12 17:56] nezdolik commented on #19437
@jiangshantao-dbg @du2016 thanks for reporting the issue, this is unfortunate that the bug has not been caught in tests. I've submitted [patch](https://github.com/envoyproxy/envoy/pull/19518) for fixing slow start config propagation in Round Robin Lb.
Would suggest to open a dedicated issue for revisiting the slow start formula. cc @tonya11en @wbpcode

[2022-01-12 18:01] RyanTheOptimist commented on #19454
Oh, right! I keep forgetting about BPF. Yes, good point. AIUI, Envoy has the ability today to route packets to the correct thread using BPF based on the first word of the connection id. https://github.com/envoyproxy/envoy/blob/main/source/common/quic/active_quic_listener.cc#L286
I suspect that could be extended to detect the old vs new connection ID state. I'm not familiar enough, though, with BPF

[2022-01-12 18:02] danzh2010 commented on #19454
I remember we discussed with @mattklein123 about this topic not too long ago. Since there was a refectory of listener socket factory and socket life time change made in #17259, the reuse_port listeners actually duplicate the socket during hot start. So theoretically new listener and old listener listen on the same socket as apposed to creating a new listen socket for the new listener. Essentially

[2022-01-12 18:27] alyssawilk commented on #19515
cc @phlax for if there's more relevant docs

[2022-01-12 18:42] alyssawilk commented on #19217
cc @yanavlasov as well

[2022-01-12 19:25] phlax commented on #19515
i dont think there is - i think this is something we could sandbox - i have some example configs for it somewhere i think, altho i cant locate them immediately

[2022-01-12 19:42] kyessenov commented on #19474
I have tried to reproduce with a standalone envoy and couldn't replicate. See [config](https://gist.github.com/kyessenov/e5fdfb302ac38309e00f2ab56703fa9d).

fortio load -qps 7 -c 1 -t 1m localhost:8081
Code 200 : 420 (100.0 %)

fortio load -qps 10 -c 1 -t 1m localhost:8081
Code 200 : 440 (73.3 %)
Code 429 : 160 (26.7 %)
(expected since 10s refill is rather long)

[2022-01-12 19:50] #19371 closed

[2022-01-12 20:57] corpix commented on #19515
I have found this [wrapper script in Python](https://www.envoyproxy.io/docs/envoy/latest/operations/hot_restarter), it is working. But this looks like I should implement hot restarts on my own and probably it could be useful to mention this on page [where hot restart described](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/operations/hot_restart), at least for people like me who

[2022-01-12 20:59] ggreenway commented on #19454
Regardless of whether we can accelerate it with EBPF, we'll probably need a non-kernel solution for systems that don't support EBPF (older linux kernels, windows, mac).

I imagine we'll need some code in QUICHE to look at a packet and decline to process it, but signal that it is intended for the older envoy.

[2022-01-12 23:33] dsidirop commented on #13877
Would you be kind enough to share your methodology for rate-limiting websockets? What was the impact on latency and error-rates for all web-socket connections?

[2022-01-13 02:20] jiangshantao-dbg commented on #19437
how about change slow start formula to just a static percent. just use `aggression` as `new_weight=weight*aggression`. default aggression to 0.5, which means slow start endpoint just receive 50% of traffic to the normal one.

use formula can't avoid a too small new_weight which will cause unexpected situation.

[2022-01-13 02:33] wbpcode commented on #19437
@jiangshantao-dbg may we can open a new issue to discuss this formula just as @nezdolik suggested.

[2022-01-13 02:43] jiangshantao-dbg opened #19526 "slow start mode formula result very big edf dealine_ cause slow start invalid"
in slow start window, endpoints need slow start receives no traffic and beyond the slow start window, they still receive no traffic. because endpoints which need slow start will have a very high `deadline_` in edf scheduler.
[code]
if host_weight=1, then `weight=host_weight * applyAggressionFactor(time_factor)` will be less than 1, but `deadline_ = current_time_+1/weight` will be too big.
and the

[2022-01-13 02:44] jiangshantao-dbg commented on #19437
@wbpcode  open the issue [slow start mode formula result very big edf dealine_ cause slow start invalid](https://github.com/envoyproxy/envoy/issues/19526)

[2022-01-13 02:51] wbpcode commented on #19526
cc @nezdolik may be we can create a configurable min factor to compute new weight just as my previous comment?

[2022-01-13 02:56] htuch commented on #19499
I have some vague recollection that Istio built a tool like this. @kyessenov @mandarjog do you know?

[2022-01-13 02:57] htuch commented on #19142
Yeah, we could have an implicit "Envoy internal service dynamic forward proxy cluster" for this.

[2022-01-13 02:59] tonya11en commented on #19526
The purpose of the aggression term is to control the curve of the ramp-up. Changing the formula to be linear would defeat the purpose.

If my understanding of the problem is correct, this is an unfortunate side effect of the EDF scheduler. The weights can't be adjusted until the host is selected and re-added to the scheduler, but the slow-starting host is being starved out by the normal weight hos

[2022-01-13 03:37] jiangshantao-dbg commented on #19526
yes, add a config field to allow user setting a minimum allowable weight is ok to me.

[2022-01-13 04:21] terorie opened #19527 "postgres: Support StartTLS upstream and plain-text downstream"
*Title*: *Allow Postgres proxy to upgrade unencrypted downstream connection into encrypted upstream connection*

*Description*:

The PostgreSQL filter supports TLS termination: https://github.com/envoyproxy/envoy/pull/14634 In this mode, it accepts an encrypted client connection (downstream), strips TLS, and creates an outgoing unencrypted connection to the SQL DB (upstream).

Conversely, it shoul

[2022-01-13 05:27] anvo1115 commented on #19329
Unfortunately I don't know how to intercept Zipkin trace that goes from the service.
But in Jaeger UI see in Service field - the value that was set in --service-cluster .

[2022-01-13 06:02] elvizlai opened #19529 "chown: changing ownership of '/build': Permission denied"
build can not start with error:
chown: changing ownership of '/build': Permission denied

*Repro steps*:
[code]

[2022-01-13 06:26] daixiang0 commented on #18441
@alyssawilk Could I take it if possible?

[2022-01-13 06:27] daixiang0 commented on #16008
Could I take it if possible?

[2022-01-13 06:27] daixiang0 commented on #18438
Could I take it if possible?

[2022-01-13 06:27] daixiang0 commented on #16005
Could I take it if possible?

[2022-01-13 06:27] daixiang0 commented on #17326
Could I take it if possible?

[2022-01-13 08:02] github-actions[bot] opened #19530 "Newer release available `com_github_google_perfetto`: v23.0 (current: v22.1)"
Package Name: com_github_google_perfetto
Current Version: v22.1@2021-12-07 20:57:12
Available Version: v23.0@2022-01-12 17:38:41
Upstream releases: https://github.com/google/perfetto/releases

[2022-01-13 08:03] github-actions[bot] opened #19531 "Newer release available `com_envoyproxy_protoc_gen_validate`: v0.6.3 (current: v0.6.2)"
Package Name: com_envoyproxy_protoc_gen_validate
Current Version: v0.6.2@2021-10-21 19:17:00
Available Version: v0.6.3@2022-01-12 21:05:58
Upstream releases: https://github.com/envoyproxy/protoc-gen-validate/releases

[2022-01-13 08:28] elias4ty commented on #14981
I encounter this problem too! my upstream server is nginx，and the log of nginx that back to envoy is : **"PRI * HTTP/2.0" 400 157 "-" "-" "-"**. That is so wired that envoy send a request to nginx base on http1.1, why nginx treat it as http2.0 or grpc request

[2022-01-13 11:29] lxv458 commented on #4547
So, how's the matter going? Is there any improvement or implementation on that?

I would be helpful if can record fine-grained duraton in downstream connection/stream, such as filter and router.

[2022-01-13 11:58] LuyaoZhong commented on #19308
Currently certificate_provider_instance is in bootstrap, at the same level with static_resources, so I need to implement a CertificateProviderManager and construct it in [Envoy::Server::Configuration::MainImpl::initialize](https://github.com/envoyproxy/envoy/blob/e903a6e3adcc21618cb2315c58699b3f0d04c42b/source/server/configuration_impl.cc#L92), right?

I saw SecretManager also designed for provide

[2022-01-13 13:22] alyssawilk opened #19533 "IpVersions/IntegrationTest.AllWorkersAreHandlingLoad/IPv4 flake"
[ RUN      ] IpVersions/IntegrationTest.AllWorkersAreHandlingLoad/IPv4
test/integration/integration_test.cc:205: Failure
Value of: w1_ctr > 1
  Actual: false
Expected: true
Stack trace:
  0x10616da0c: Envoy::IntegrationTest_AllWorkersAreHandlingLoad_Test::TestBody()
  0x1112c10bb: testing::internal::HandleSehExceptionsInMethodIfSupported<>()
  0x111297dea: testing::internal::HandleExceptionsInMeth

[2022-01-13 13:28] #19509 closed

[2022-01-13 13:45] #18880 closed

[2022-01-13 13:55] alyssawilk commented on #18441
oh I already have the change queued up and ready to go, just waiting for the merge conflicts to die down.  generally we have the PR author do their own clean up but we're happy to have folks help with stale ones.

[2022-01-13 13:56] alyssawilk commented on #16008
SG - please take all the stale ones you want :-)

[2022-01-13 13:56] alyssawilk commented on #18441
oops - this one looked stale but we actually intentionally defered it one release so I'm on it now :-)

[2022-01-13 14:23] alyssawilk commented on #19529
cc @phlax @lizan

[2022-01-13 14:24] alyssawilk commented on #19527
cc @fabriziomello @cpakulski @dio

[2022-01-13 15:10] phlax commented on #19529
i think the problem is the `TEST_TMPDIR` flag

[2022-01-13 16:34] howardjohn opened #19535 "Add build logic for `zig cc`"
*Title*: Add build logic for `zig cc`

*Description*:
https://andrewkelley.me/post/zig-cc-powerful-drop-in-replacement-gcc-clang.html can act as a drop in replacement for clang. This offers a few benefits over Envoy's current build:
* Simplified cross-compiling - this would be pretty useful for us in particular, as our CI only has access to amd64 machines. Basic tests can be done under emulation b

[2022-01-13 16:51] kfaseela commented on #19416
/assign kfaseela

[2022-01-13 16:54] ggreenway commented on #19217
Caveat: I've never directly worked with an HSM; I'm making some educated guesses.

Your diagram for the dataplane portion of this looks how I would expect it to work.

For the control plane, does Envoy need to be involved in the flow for generating the key/cert, and getting them signed? That seems like it could be handled entirely out-of-band of Envoy as strictly a control-plane function. I imagin

[2022-01-13 17:26] alyssawilk opened #19540 "stateful_session_integration_test flakes"
==================== Test output for //test/extensions/filters/http/stateful_session:stateful_session_integration_test:
[==========] Running 4 tests from 1 test suite.
[----------] Global test environment set-up.
[----------] 4 tests from StatefulSessionIntegrationTest
[ RUN      ] StatefulSessionIntegrationTest.NormalStatefulSession
unknown file: Failure
C++ exception with description "cannot bin

[2022-01-13 18:16] lizan commented on #19308
`certificate_provider_instance` is in `CommonTlsContext` so it might not be always in bootstrap. It might delivered via xDS as well.

SecretManager is designed for SDS (Secret Discovery Service).

[2022-01-13 18:31] ankatare commented on #19069
@matiasrege i would like to work on this. I might need help for more understanding of this bug.

[2022-01-13 18:39] #19504 closed

[2022-01-13 20:35] kyessenov commented on #19189
#19274

[2022-01-13 21:43] alyssawilk opened #19542 "make 0-rtt configurable"
In case folks want to do it for non-idempotent requests, etc.

[2022-01-13 23:48] alyssawilk opened #19544 "envoy.reloadable_features.http2_new_codec_wrapper log spamming when true"
reported on slack (https://app.slack.com/client/T5CALEVRN/threads/thread/CKQ2LK23G-1642102812.002100)

Hi, we see large volume of errors like [2022-01-13 20:16:40.391][299][error][quic] [.../external/com_github_google_quiche/quiche/http2/adapter/callback_visitor.cc:72] OnConnectionError not implemented since early Dec. 2021.  A quick looking back to change history shows a QUICHE sync back to Nov.

[2022-01-13 23:55] birenroy commented on #19544
It's a spurious log line, we'll remove it.

[2022-01-14 00:25] radnair commented on #12954
I am facing something similar right now, would you know if there are any other changes that need to made to get this working?

[2022-01-14 01:42] cpakulski commented on #19527
Seems that there is demand for this feature. I will try to implement this.

[2022-01-14 01:42] wbpcode commented on #19540
get it, i will check it as soon as possible

[2022-01-14 01:43] daixiang0 commented on #18441
Thanks, I will work on other things.

[2022-01-14 02:08] yanavlasov commented on #19217
I agree with @ggreenway that this proposal assumes tight coupling between Envoy process and HCM. This is not going to be true for all cases. I think it is better that control plane is responsible for the dance of generating and signing key pair and then just handing Envoy enough information to use HSM (this will require changes to SDS response message).
For something like SoftHSM one solution is t

[2022-01-14 05:19] htuch commented on #19217
Generally agree with folks above, I'd actually be interested in getting the take from Istio folks on this; they have spent a fair bit of time thinking about how to do CSRs and key issuance with local agents which are then reflected back to Envoy via SDS. @lambdai @howardjohn @nick-cloudnatix

[2022-01-14 05:39] howardjohn commented on #19217
We have some discussion in https://github.com/istio/istio/issues/36296 regarding this - not sure it's reached resolution though

[2022-01-14 06:48] linwuz-db opened #19548 "Is there a way to specify cipher suites for TLS 1.3"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Is there a way to specify cipher suites for TLS 1.3?*

*Description*:

[optional *Relevant Links*:]

[2022-01-14 07:08] moderation commented on #19548
I'll leave this for the TLS experts however my understanding is that the cipher's for TLS 1.3 are not configurable by design. I recall a discussion with @PiotrSikora where he confirmed that specifying cipher suites like below would be ignored in TLS 1.3
[code]

[2022-01-14 07:39] Lee-Jong-Woo opened #19549 "Need more guidance on success_rate_stdev_factor of Outlier_Detection"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: Need more guidance on success_rate_stdev_factor of Outlier_Detection

*Description*:

I'm conducting a test related to the success rate, but it is difficult to under

[2022-01-14 07:54] DeroSavage commented on #19478
Im sorry, this can be closed. I checked the logs once again and i was using the wrong token endpoint. Instead of /token it is /oauth2/token

[2022-01-14 07:54] #19478 closed

[2022-01-14 08:03] github-actions[bot] opened #19550 "Newer release available `com_github_bazelbuild_buildtools`: 4.2.5 (current: 4.2.4)"
Package Name: com_github_bazelbuild_buildtools
Current Version: 4.2.4@2021-12-03 11:07:42
Available Version: 4.2.5@2022-01-13 12:30:53
Upstream releases: https://github.com/bazelbuild/buildtools/releases

[2022-01-14 09:34] #19437 closed

[2022-01-14 09:43] cetanu opened #19551 "ExtAuthz: HttpRequest id field seems to be integer instead of UUID"
*Description*:
From the Envoy docs for [service.auth.v3.AttributeContext.HttpRequest](https://www.envoyproxy.io/docs/envoy/latest/api-v3/service/auth/v3/attribute_context.proto.html#envoy-v3-api-msg-service-auth-v3-attributecontext-httprequest)

The `id` field is described as follows:

However, in an example setup I have noticed that the id is a string of digits, such as `"11351951127518978566"`,

[2022-01-14 10:33] PiotrSikora commented on #19548
Correct, TLS 1.3 ciphersuites in BoringSSL are hardcoded (see:  [BoringSSL's ssl.h#1496](https://boringssl.googlesource.com/boringssl/+/f7975703204c738144990efb8406eee0668fbf2e/include/openssl/ssl.h#1496)).

OpenSSL added `SSL_set_ciphersuites` to configure TLS 1.3 ciphesuites, but that API is missing in BoringSSL. cc @davidben

It's a good question regarding TLS 1.3 and `TLS_CHACHA20_POLY1305_SHA

[2022-01-14 11:01] #19416 closed

[2022-01-14 12:48] alyssawilk commented on #19535
I'm inclined to think the costs are higher than the benefits but cc @lizan @htuch @phlax for opinions

[2022-01-14 12:52] alyssawilk commented on #19551
cc  @esmet @gsagula @dio

[2022-01-14 12:59] shash222 opened #19552 "Deployed Web App Not Secure with Valid Certificate"
I have a web app written in the following tech stack:

- Web Server: Nginx
- UI: Flutter/Dart
- Backend: Go
- Communication Protocol: gRPC/gRPC-Web
- HTTP1.1 to HTTP2 Proxy: Envoy Proxy (Dockerized)
- SSL Certificate Provider: LetsEncrypt Certbot
- Environment: Ubuntu 20.10

When I access the site, initially I see the lock on chrome showing the site is secure, however when the page actually loads,

[2022-01-14 14:28] Shikugawa opened #19553 "Controlling the timing for Listener socket to bind to the port to simulate Connection Failure in integration tests"
Related with https://github.com/envoyproxy/envoy/issues/19501.

This is a proposal for a change to manually control when ListenerSocket is actually bound to a port and listened to. The reason we need this feature is that we want to simulate a Connection Failure in our integration tests by initially assuming that the Listener and port are not actually bound.
If there is a more efficient way to do t

[2022-01-14 14:32] cjp421 opened #19554 "Provide necessary license and documentation for envoy Jaeger tracing plugin to ensure open source designation"
*Title*: *Provide necessary license and documentation for envoy Jaeger tracing plugin to ensure open source designation*

*Description*:

*Relevant Links*:

   Reference to plugin in envoy examples: https://github.com/envoyproxy/envoy/blob/main/examples/jaeger-native-tracing/Dockerfile-frontenvoy#L14-L17

[2022-01-14 14:52] alyssawilk commented on #19553
Sorry if I'm not understanding the request, but any reason to just not start up the Envoy instance if you want a connection failure?

[2022-01-14 14:53] alyssawilk commented on #19554
cc @htuch @phlax

[2022-01-14 15:01] pxpnetworks opened #19555 "Transport Socket TCP stats - emitted counters stay at 0"
Hello,
Transport Socket TCP stats  - emitted counters stay at 0, please find below info about the setup.

Envoy: version: a9d72603c68da3a10a1c0d021d01c7877e6f2a30/1.21.0/Clean/RELEASE/BoringSSL
OS: CentOS Linux 7

Cluster config:
..
[code]

stats emitted:
envoy_cluster_tcp_stats_cx_rx_data_segments{envoy_cluster_name="abc"} 0
TYPE envoy_cluster_tcp_stats_cx_rx_segments counter
envoy_cluster_tcp_st

[2022-01-14 15:06] Shikugawa commented on #19553
Since we want to test the request from Envoy to Upstream, Envoy needs to be up and running, and the number of clusters of BootStrap config and FakeUpstream needs to match when `BaseIntegrationTest::initialize()` is called. So it is impossible to not launch FakeUpstream that we want to simulate Connection Failure.
Therefore, it is necessary to create a state in which FakeUpstream is launched and Li

[2022-01-14 15:27] #9975 closed

[2022-01-14 15:39] wbpcode commented on #19540
Looks like it's hard reproduce this issue in my local env.
I will try to update this test to use random port.

[2022-01-14 15:44] fabriziomello commented on #19527
@cpakulski doing that we'll loose the ability to decode the protocol and expose metrics. We introduced starttls into Postgres filter to terminate the SSL and able us to decode the protocol even for encrypted client connections.

[2022-01-14 15:46] terorie commented on #19527
@fabriziomello I would disagree here – Envoy can also dial to HTTPS upstreams while still being able to expose HTTP metrics.

[2022-01-14 15:48] cpakulski commented on #19527
Correct. Encryption happens in the very last step, when packets are sent upstream. Postgres filter will see traffic in clear-text.

[2022-01-14 15:51] fabriziomello commented on #19527
@cpakulski hmmm ... I was not aware of that. Thanks to you and @terorie for the clarification.

[2022-01-14 16:02] #19215 closed

[2022-01-14 16:05] anas-hassari-jemmic commented on #15260
re-open pls/ same issue here

[2022-01-14 17:20] anas-hassari-jemmic opened #19556 "Working with Lua and EnvoyFilter in Istio environment"
Description:
I'm trying to add the client certificate URL encoded as an header to my service using EnvoyFilter.

[code]
And when I try to address to my service I get that a peer certificate wasn't presented.
The client request works in nginx which I pass the certificate using the following configuration:
proxy_set_header X-SSL-Client-Certificate $ssl_client_escaped_cert;
Am I missing something wit

[2022-01-14 17:44] birenroy commented on #19544
I've removed both of those log lines in the upstream code. You should no longer see them after the next Envoy import.

[2022-01-14 17:55] lizan commented on #19535
If `zig cc` can be a complete drop-in replacement, I would experiment by replacing clang binary with a shell script invoke `zig cc`. That doesn't involve bazel integration.

For the benefits, the biggest concern is the C++ standard library (libc++ and libstdc++), it seems `zig cc` provides libc for the cross compiling and support older glibcs, take C++ standard library and C++ features there could

[2022-01-14 18:42] biefy commented on #19544
Thank you for the quick response and fix.

[2022-01-14 19:02] linwuz-db commented on #19548
It will be great for BoringSSL to provide the API to configure TLS 1.3 ciphersuites just like OpenSSL. It's ok for us to allow TLS 1.3 in FIPS builds and we could manually set the maximum TLS version to TLS 1.2 if it's really needed.

[2022-01-14 20:01] #18866 closed

[2022-01-14 20:13] danhcole commented on #19046
Sorry, kind of lost track of this with the holidays, but definitely still want help on the issue, can this get tagged help wanted?

[2022-01-14 20:20] RyanTheOptimist commented on #19046
Done!

[2022-01-14 23:52] kyessenov commented on #14930
Asan logs:
[code]

Seems like the raw pointer from subscription to provider is used because of async cross thread post and deleted from main as owned by a listener. Will need to restructure using shared and weak pointers.

[2022-01-14 23:52] kyessenov commented on #14930
/reopen

[2022-01-15 04:01] #18380 closed

[2022-01-15 06:48] hq6 opened #19559 "How can I use gRPC libraries in an Envoy filter?"
I am attempting to write a filter that uses the gRPC C++ libraries.

The BUILD file specifies gRPC libraries as dependencies:

[code]

When I compile the filter in isolation, it compiles fine.
When I try to compile it as part of Envoy, I get the following multiple definition errors:

[code]

**How can I include these dependencies in a way that does not cause definition collisions?**

[2022-01-15 19:54] andrewwebber commented on #19296
Not sure if this helps but I had a similar issue with knative. It helped to configure an envoy instance manually (oauth2) to confirm it is was an envoy issue, istio issue or "key cloak" configuration issue. In the end i found it to be a knative/istio issue as when configured directly in envoy everything worked. For me the issue was the state being incorrect (http authority) resulting in the final

[2022-01-15 21:27] s-maj opened #19561 "https only backend service"
Folks,

I'm looking for some guidance on how to configure sidecar to talk to the backend service that only understands https. By design, all traffic between the sidecar and the service is plaintext, which results in `upstream connect error or disconnect/reset before headers. reset reason: connection failure`, since the service expects TLS handshake.

From the sidecar I can execute:
[code]

I recko

[2022-01-15 21:33] #19561 closed

[2022-01-16 08:10] hq6 opened #19562 "Is encodeData guaranteed to be called only once per response message sent by the upstream?"
For an Envoy HTTP filter, if the upstream sends a large unary response (let's say it's a 4 MB HTTP body), will encodeData be called only once, or will the data be broken up into multiple calls to encodeData?

[2022-01-16 11:42] itamarkam commented on #19215
@yanavlasov can you please mark this as "no stalebot"? I can work on this in a couple of weeks.

[2022-01-17 01:23] htuch commented on #19535
Yeah, I'm wondering if we can use Bazel's automatic toolchain discoevry with the right env vars to make this work. Then it's just a question of whether we want a CI job, which would be a lower bar.

[2022-01-17 06:20] ankatare commented on #19069
/assign

[2022-01-17 07:29] pyrl247 opened #19565 "No stack info when use admin API cpuprofiler."
I complie envoy use centos7.2,and collect the cpuprofiler with admin api(curl -X POST localhost:15000/cpuprofiler?enable=y).But thers is no stack info about envoy.
Here is the output.
[code]
I have builded envoy with no strip ,and even complie dwp file in pprof work directory.
Any help will be appreciated!!

[2022-01-17 08:00] lxv458 opened #19566 "downstream connection maps to wrong upstream connection"
*Title*: *downstream connection maps to wrong upstream connection*

*Description*:
Recently, I got some extraordinary access logs, such as 503LR with short duration and 200/403 with long duration.
Thus, I change the log level to trace and found something interesting.

I doubt that the mapping of downstream and upstream is incorrect or disordered. That is to say, the downstream connection D1 waitin

[2022-01-17 09:40] xajhljq opened #19567 "bazel build the http filter with envoy v1.16.0 failed by "execv: Argument list too long""
I am trying to build the http filter with envoy v1.16.0 with following commands:
bazel build //http-filter-example:envoy

the result of building is following with gnu7 or gnu9:

gnu7
with bazel "fatal error: cannot execute '/usr/lib/gcc/x86_64-linux-gnu/7/cc1plus': execv: Argument list too long"

gnu9
with bazel "fatal error: cannot execute '/usr/lib/gcc/x86_64-linux-gnu/9/cc1plus': execv: Argumen

[2022-01-17 11:57] meteorcloudy opened #19569 "Bazel CI: llvm.sh now fails on Bazel CI"
https://buildkite.com/bazel/envoy/builds/1804#b67079f5-4ab5-47f4-bf92-1b945ede61d7
[code]

It looks like https://apt.llvm.org/llvm.sh now takes two arguments instead of just one, which is caused by https://github.com/opencollab/llvm-jenkins.debian.net/commit/1a65a6e9becb23789dcb37c1b0948f1a458cfc2c

[2022-01-17 12:00] meteorcloudy commented on #19569
If the upstream isn't fixed in time, we can add a dummy second argument here:
https://github.com/envoyproxy/envoy/blob/04255ae205f19fc65cb95052e69554005fd51537/.bazelci/presubmit.yml#L20

[2022-01-17 14:40] ramaraochavali commented on #18838
@lambdai ^^ Can you please take a look?

[2022-01-17 16:09] meteorcloudy commented on #19569
Looks like it's fixed: https://github.com/opencollab/llvm-jenkins.debian.net/pull/13

[2022-01-17 16:09] #19569 closed

[2022-01-17 17:36] amortensen opened #19578 "Can't use internal redirect with websocket connection upgrade requests"
Under certain circumstances I would like to redirect a websocket connection upgrade request from one private location to another, in which the initial connection upgrade request is internally redirected after receiving a 302 from the service host fielding the initial request. It appears Envoy should support this, but does not due to a specific condition in the internal redirect handling code.

The

[2022-01-17 18:09] matiasrege commented on #19069
Hi @ankatare!, is the bug understandable?

[2022-01-17 20:01] #18983 closed

[2022-01-17 20:37] phlax commented on #19222
my guess is that it just wants to run:

[code]
in do_ci.sh re the first issue

[2022-01-18 01:40] burnerlee commented on #19229
@alyssawilk can I take up this issue, if no-one is working on this currently?

[2022-01-18 06:49] tommyp1ckles commented on #19229
@burnerlee I'm working on this now, was busy with other things. We could split up the work if you'd like.

[2022-01-18 06:50] #16181 closed

[2022-01-18 06:57] #18312 closed

[2022-01-18 07:27] LuyaoZhong commented on #19308
I'd like to briefly introduce several key classes we need.
1. `CertificateProviderManager` is constructed during config initialization, each entry of certificate_provider_instances in bootstrap will be constructed as a `CertificateProvider` through `CertificateProviderFactory` and then managed by `CertificateProviderManager`
2. `CertificateProviderFactory` is base factory to create `CertificatePro

[2022-01-18 09:16] bryanwux commented on #18877
I'd like to work on this.

[2022-01-18 10:45] burnerlee commented on #19229
@tommyp1ckles oh I see. Sure, we can split up the work. Thank you so much

[2022-01-18 11:42] #19562 closed

[2022-01-18 14:55] #19427 closed

[2022-01-18 15:06] Edimo24 opened #19587 "General question about headers"
Hello,

I need to modify a bit the one specific part of the header (to be more precise a command operator). I think I found the exact line where I can do the changes (already tested) but I want to modify only one command operator and not the whole header.

https://github.com/envoyproxy/envoy/blob/main/source/common/formatter/substitution_formatter.cc#L1194

I see the "val" variable is converted as

[2022-01-18 16:06] stevenzzzz opened #19589 "strip_any_host_port in HCM also strip port number in redirected URL"
*Title*: strip_any_host_port in HCM also strip port number in redirected URL

*Description*: I'd think this is a bug: when we configure strip_any_host_port in HCM, the port number is stripped from :host.
when it's a URL redirect, this setting removes the port number from the redirected URL as well.

*Repro steps*:
sets strip_any_host_port to true in HCM, sets a path-only-redirect route, and the re

[2022-01-18 16:16] chaoqin-li1123 commented on #19148
IIUC, calling [closeStream()](https://github.com/envoyproxy/envoy/blob/5424c7e357e6841213267651c8fa5bd2a7669813/source/common/grpc/google_async_client_impl.cc#L230) actually don't delete the raw grpc stream,  neither does it cancel any queued or inflight write request. If you don't want to wait for a ext_proc response, calling closeStream() after all ext_proc requests have been sent and always ret

[2022-01-18 16:17] ggreenway commented on #5398
Fixed in #19330

[2022-01-18 16:51] #16715 closed

[2022-01-18 17:06] tommyp1ckles commented on #19229
@burnerlee great, I'm currently working on all the uses in common/upstream. I was going to move onto access_log and config next.

[2022-01-18 17:19] #19540 closed

[2022-01-18 20:25] danzh2010 opened #19593 "quic: conn pool grid marks Http3 status correctly with 0-RTT"
Currently Http3 status tracker is updated by conn pool grid upon `WrapperCallbacks::onConnectionAttemptReady()` and `onConnectionAttemptFailed()` which are called when conn pool is connected with pending streams. But with 0-RTT, there might not be any pending streams because 0-RRT safe requests can be sent before the client gets connected (handshake completion). And 0-RTT handshake failure doesn't

[2022-01-18 20:39] alyssawilk opened #19595 "coverage flake in multiplexed_integration_test"
Finally!  Trace logs!

https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/99107/logs/148

IpVersions/MultiplexedIntegrationTest.FlowControlOnAndGiantBody/IPv4_Http3Downstream_HttpUpstreamBareHttp2

cc @danzh2010 do you think we should either disable these for the coverage build, or try turning down verbosity?  Coverage build runes with trace on, and we're literally

[2022-01-18 21:10] andrewjjenkins commented on #16314
This current behavior is a problem for some of my users.  They were expecting that once the DNS result TTL expired, stale endpoints would not receive any new connections.

My team saw some other tickets like this one: https://github.com/envoyproxy/envoy/issues/2691 and we're not sure what the desired behavior is.

Does the below describe the goal here?

If DNS resolution fails:
1.  The stale endpo

[2022-01-18 21:43] alyssawilk commented on #16314
Oh hey I totally failed to update this issue.

As of https://github.com/envoyproxy/envoy/pull/18408 Envoy is closer to respecting TTL.  DNS reresolve will be more aggressive based on the DNS TTL, The main DNS cache will remove stale entries but I don't think it propagates the non-null to null address resolution to worker threads to really ensure no additional traffic.  I think it'd be a fairly sim

[2022-01-18 22:06] andrewjjenkins commented on #16314
Thank you!  Didn't notice that issue, sorry.

Understood.  That's the opposite of what this user wants in this particular case but I understand as a general principle the desire to allow the use of stale entries.

[2022-01-18 23:20] mengmichael1 commented on #11262
@pheely Did you ever figure out how to get this working?

[2022-01-18 23:38] lambdai commented on #19262
ClusterImplBase::onInitDone() is[ the only statement in the init_watcher of the cluster ](https://github.com/envoyproxy/envoy/blob/main/source/common/upstream/upstream_impl.cc#L1055)

IMO, this lambda is not called IFF the init_watcher_ is destroyed during the cluster destroyed.

Particularly, any early destroyed/ready target doesn't cause the callback of watcher lost.

I confirmed by adding ready

[2022-01-19 00:51] acruise opened #19599 "How to let ext_authz see destination hosts?"
*Title*: How can an ExtAuthz service see which destination host the request is supposed to be sent to?

*Description*:
I'm building an API gateway that will be handling requests for a reasonably large number (10-100) of backend services. I'm using ExtAuthz to authenticate and authorize requests before forwarding, but now I'd like my authorization logic to be able to react to which backend service

[2022-01-19 01:08] KfreeZ commented on #19472
Will there be any doc changes for this enhancement?

[2022-01-19 01:50] hzxuzhonghu commented on #19262
I would be better if this can be improved, I think both xds server and envoy can benefit.

[2022-01-19 02:22] daixiang0 commented on #19559
I think you can check global rate limit filter as it calls outside server via gRPC.

[2022-01-19 04:13] Shikugawa commented on #17629
The ALS retry process is currently only done when a connection cannot be established, but I think it would be useful to have a process to retry when Unavailable is listed in the Trailer. However, this feature needs to be implemented for this purpose, and we hope to implement it in the future.

[2022-01-19 09:37] sha-rath opened #19604 "Add logs to indicate connection loss on downstream TCP and HTTP requests"
*Title*: *Add logs to indicate connection loss on downstream TCP and HTTP requests*

*Description*:
We have a couple of internal security design rules and one of them suggests including logs for connection loss on downstream TCP and HTTP requests. It may be a suitable indicator for possible security threats. Envoy currently does NOT implement such logs and hence submitting this feature request.

F

[2022-01-19 09:53] prajith-nair opened #19605 "Questions on Envoy Cache Config"
*Title*: *working with query parameters and POST requests*

*Description*:

**Questions** :

1. can Envoy be configured to take query parameters into account when it looks for cached document? That is, we need it to recognise the “/v2/ui/net/1/reports/discovery?limit=10" and "/v2/ui/net/1/reports/discovery?offset10&limit=10" as different requests.

2. can Envoy be configured to cache idempotent PO

[2022-01-19 10:02] #19605 closed

[2022-01-19 10:06] prajith-nair opened #19606 "Questions on Caching based on query param and POST requests"
Title: working with query parameters and POST requests

Description:

Questions :

1. can Envoy be configured to take query parameters into account when it looks for cached document? That is, we need it to recognise the “/v2/ui/net/1/reports/discovery?limit=10" and "/v2/ui/net/1/reports/discovery?offset10&limit=10" as different requests ?

2. can Envoy be configured to cache idempotent POST reques

[2022-01-19 10:16] huanghuangzym opened #19607 "istio-operator can not uninstall when istiod not deploy success"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*:
i deploy istio in k8s singe node, and node has tatints
1 then i create istiooperator cr
2 istio-operator is pending
3  delete istiooperator cr
4 istio-operator is ru

[2022-01-19 14:11] stevenzzzz commented on #19589
@yanavlasov

[2022-01-19 14:28] #19497 closed

[2022-01-19 16:21] #19389 closed

[2022-01-19 18:00] jewertow opened #19612 "Dynamic setting value of TcpProxy.tunneling_config.hostname"
*Description*:
I have a case where applications running in Kubernetes communicate with external services (outside Kubernetes and in another network) through a dedicated forward proxy. Apps send HTTP CONNECT request and the proxy opens a TCP tunnel. The flow is illustrated below.
![scenario](https://user-images.githubusercontent.com/17457695/150183373-923c6759-2e7e-4d7b-9528-78762d893054.jpg)

I wo

[2022-01-19 18:40] #19377 closed

[2022-01-19 21:14] jmarantz opened #19617 "stats: add new API to get a Stats::Store from a ServerFactoryContext"
Currently the mechanism to add a stats sink predicate is available to applications that create their own main() rather than using source/exe/main.cc, as they will be able to call MainCommon::server().stats().setSinkPredicate.

However, extension-writers don't get any clear method of getting at a Stats::Store  -- they get a ServerFactoryContext.

A possible workaround exists: `server_factory_contex

[2022-01-19 21:19] pradeepcrao commented on #19617
I had protoyped a solution for this that involves specifying the predicates in the bootstrap as part of the stats config. I can create a PR for further feedback.

[2022-01-19 21:21] shash222 commented on #19552
I was hoping to follow up on this, I haven't been able to find a solution yet. Any ideas why this is happening?

[2022-01-19 21:46] belyalov opened #19618 "tls/validation_context_sds_secret_config does not work with ADS"
*Title*: tls/validation_context_sds_secret_config does not work when configured with ADS

*Description*:
When configuring `UpstreamTlsContext/common_tls_context` with `validation_context_sds_secret_config` set to fetch secrets from `ADS` envoy fails to start (crashes)

*Repro steps*:
Use config below (literally you can use any config but use `validation_context_sds_secret_config` on upstream clust

[2022-01-19 21:55] ravenblackx commented on #19617
I was surprised that sink predicates weren't a config thing, so I'd be very happy for it to be that rather than code as I was thinking of doing. :)

[2022-01-19 21:56] belyalov commented on #19469
@asraa / @lizan / @ggreenway is it something that you'd like me to open PR for?

[2022-01-19 22:04] ggreenway commented on #19552
Trying to make sure I understand correctly: everything works EXCEPT chrome says it is "not secure"?

[2022-01-19 22:07] ggreenway commented on #19469
Yes, PR sounds good. I haven't looked in detail at your proposed fix, but we can discuss/review it in PR.

[2022-01-19 22:09] shash222 commented on #19552
@ggreenway Correct. After attaching the certbot-generated SSL/TLS certificate, I am able to load the web app on `https`, and am able to make gRPC calls as well over https, and I get the expected responses. The only issue is that chrome says "Not secure"

[2022-01-19 22:12] belyalov commented on #19469
SG, will work on it
Please assign this issue to me

[2022-01-19 22:30] jmarantz commented on #19617
Yeah this is a good time to open your PR to allow configuration of sink-predicates. I'm interested to see what that config will look like if soemone wants to (say) include a few hundred stats that don't have a convenient simple regex that covers them exactly.

[2022-01-19 22:48] ggreenway commented on #19552
I don't know what criteria chrome uses to determine whether a site is "secure" or not. I wonder if it's related to Certificate Transparency?

[2022-01-19 23:15] shash222 commented on #19552
So I tried loading the application on Chrome, Chrome Incognito, Firefox, and Edge and got different behaviors for each one:

Chrome:
As mentioned above, page loads, API calls are successful, but Chrome says "Not Secure"

Chrome Incognito:
Same as Chrome

Firefox:
Application loads and site is secure, but gRPC calls failed
`OPTIONS` call failed with `CORS Failed`
`POST` call failed

Microsoft Edge

[2022-01-19 23:15] #19552 closed

[2022-01-19 23:30] jcchavezs commented on #13254
I just created this tool for achieving it https://github.com/jcchavezs/envoy-config-schema. Does that look like something you would like to adopt?

[2022-01-19 23:30] jcchavezs commented on #13078
I just created this tool for generating the json schemas from proto https://github.com/jcchavezs/envoy-config-schema. Does that look like something you would like to adopt?

[2022-01-19 23:44] jcchavezs commented on #9655
Quick question: is `protodoc-title` some sort of standard?

[2022-01-20 00:04] eaufavor opened #19624 "dl.getenvoy.io 402 error"
*Title*: *dl.getenvoy.io 402 error*

*Description*:

Links from https://www.envoyproxy.io/docs/envoy/latest/start/install are returning 402 now.
[code]

[2022-01-20 00:54] acruise opened #19625 "virtual_host/domains: "infix" wildcards?"
*Title*: Is there a way to use "infix" wildcards in a virtual_host/domains list? e.g. `foo-*.example.com`

*Description*:
I tried it and it doesn't work, but maybe I'm missing something?

[2022-01-20 00:57] acruise commented on #19599
For now I guess I can copypasta a new `route_config/virtual_hosts` entry, as well as a matching `cluster` entry, per backend service

[2022-01-20 01:18] mignaulo commented on #19624
I'm guessing the envoy account at cloudsmith.io might be past due or the repository was disabled?
[code]

[2022-01-20 02:32] dio commented on #13078
Seems like this example here: https://github.com/jcchavezs/envoy-config-schema#examples helps?

[2022-01-20 02:33] zhaohuabing opened #19626 "Close a connection and remove it from the connection pool after a specified "idle time""
*Title*: *Close a connection and remove it from the connection pool after a specified "idle time"*

*Description*:

After a connection is released back to the pool and not reused for a while, close it and remove it from the pool. The time should be set in the cluster configuration.

*Background*

We have some services which will close connections at the server-side if that connection is idle for a

[2022-01-20 02:54] LuyaoZhong commented on #19308
After some discussion on the PoC [PR](https://github.com/envoyproxy/envoy/pull/19582), this issue can be implemented by 3 PRs:

1. implement `certificate_provider_instances` in bootstrap (current PR)
For short it implements certificate_provider_instances management.`CertificateProviderManager` is constructed during config initialization, each entry of certificate_provider_instances in bootstrap wi

[2022-01-20 03:38] johnlanni opened #19628 "Bug of Extension Config Discovery Service"
*Title*: *Bug of Extension Config Discovery Service*

*Description*:
This bug is triggered when istio's  [WasmPlugin](https://istio.io/latest/docs/reference/config/proxy_extensions/wasm-plugin/) resource is created and deleted multiple times.

*Repro steps*:
istio verison: 1.12.1
envoy version: 1.20.1 (istio-proxy used)

step1.  create a WasmPlugin resource, like this

[code]
[code]
step2. delete

[2022-01-20 03:45] bianpengyuan commented on #19628
Same issue as https://github.com/envoyproxy/envoy/issues/14930 which @kyessenov has been working on.

[2022-01-20 05:28] kyessenov commented on #19628
Yeah, I have a fix but it's quite tricky to validate.

[2022-01-20 06:29] hughxia opened #19629 "The performance of Envoy when it as the redis cluster proxy"
*Title*: *The performance of Envoy when it as the redis cluster proxy*

*Description*:

The worse thing is the performance output can't be better when i increase the envoy pod resources.

Is this the limit of Envoy?
How can i improve the performance of Envoy when it as the redis cluster proxy?

Envoy Version: 1.20.0  This is my envoy config:
[code]

[optional *Relevant Links*:]

[2022-01-20 07:37] reddymr3 commented on #19624
I too noticed this as well

[code]

[2022-01-20 08:01] #19252 closed

[2022-01-20 08:04] github-actions[bot] opened #19631 "Newer release available `rules_fuzzing`: v0.3.0 (current: v0.2.0)"
Package Name: rules_fuzzing
Current Version: v0.2.0@2021-07-12 17:55:46
Available Version: v0.3.0@2022-01-07 15:55:35
Upstream releases: https://github.com/bazelbuild/rules_fuzzing/releases

[2022-01-20 08:25] Sooryaa-A commented on #19498
@alyssawilk , can u let me know how we can make sure the downstream is trusted? Is there any other configuration , so that these headers wont get sanitized?

[2022-01-20 09:18] Junsheng-Wu commented on #19629
I had the same question.

[2022-01-20 09:47] Edimo24 commented on #19587
@phlax

[2022-01-20 10:11] vitorgil commented on #19624
The repositories have been moved to https://dl.getenvoy.io/public instead of https://deb.dl.getenvoy.io/public

[2022-01-20 12:47] phlax commented on #6634
i think this is resolved, closing

[2022-01-20 12:47] #6634 closed

[2022-01-20 12:53] ramaraochavali commented on #19612
+1 for this. @lambdai mentioned that should be supported already but it seems it is not. Host header in this case I think should be mutable and we should relax this restriction.

@lambdai @alyssawilk WDYT?

[2022-01-20 12:57] phlax opened #19633 "Improve rst/docs linting/checks"
### description

There are a number of issues with the docs that could benefit from a cleanup and some CI to prevent recurrence.

One good example is the use of single `` ` `` rather than double ` `` ` for `inline-literals` in rst

Currently we have a rst checker which only checks the version_history file and not any other part of the docs

One complexity here is that the rst is dynamically built

[2022-01-20 12:57] phlax commented on #19633
cc @kfaseela

[2022-01-20 13:02] phlax opened #19634 "Fix inline literals in the docs"
### description

historically it was the policy to use single backticks for `inline-literals` in the docs, which has the effect of making them italics.

the correct rst spec for these is to use double-backticks.

i have been cleaning these up in docs i have worked on or in prs i have reviewed but there are still a lot of places that have italicized _inline-literals_

we can probably break this up

[2022-01-20 13:02] phlax commented on #19634
cc @kfaseela

[2022-01-20 13:04] phlax commented on #19634
prior art: https://github.com/envoyproxy/envoy/pull/16458

[2022-01-20 13:41] phlax opened #19636 "[RFC] Dependency checking in CI"
### Description

We are currently landing an integrated `envoy.dependency.check` tool in https://github.com/envoyproxy/pytooling

This will run almost all of the existing dependency checks, fixes some issues, adds some flexibility, and runs much faster by virtue of async preloading of data

This will give us more flexibility about which checks we run where in CI, and will also allow us to integrat

[2022-01-20 13:43] phlax commented on #19636
cc @htuch @moderation @kfaseela

[2022-01-20 13:51] Tarick commented on #14233
I also think that this should be reopened - the filter is hardly usable this way.

[2022-01-20 14:01] jewertow commented on #19612
Another solution could be to to use `"%REQUESTED_SERVER_NAME%"` placeholder as a value of hostname:
[code]
WDYT?

[2022-01-20 14:06] alyssawilk commented on #19612
yeah 100% this would be useful

[2022-01-20 14:10] alyssawilk commented on #19626
For HTTP variants, the cluster's protocol config already includes an idle timeout, which I think is what you're looking for.
I don't think there's a config knob for this for TCP proxy sessions, but unless you have prefetching on the connection is only fetched when there's a downstream connection and is closed afterwards so I don't think there has been a need.

[2022-01-20 14:16] ramaraochavali commented on #19612
Yes. That would also be a good option.

[2022-01-20 14:17] #19374 closed

[2022-01-20 14:43] #18441 closed

[2022-01-20 14:55] alyssawilk commented on #19498
https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/headers#x-forwarded-for should have docs on use_remote_address as well as example configs.  please let us know if the docs are not clear here.

[2022-01-20 16:12] #19624 closed

[2022-01-20 16:56] ggreenway commented on #19326
I agree, allowing trust of intermediate certs would be useful.

[2022-01-20 17:01] ankatare commented on #19069
@matiasrege Thanks !!!
Need to investigate it. Currently on Vacation till next week. so will connect you once back.

[2022-01-20 17:13] ggreenway commented on #19555
Do all of the `tcp_stats` stats stay at zero, or just these? What version of the linux kernel are you using?

[2022-01-20 18:05] acruise commented on #19246
That's true! It would be good if the docs for envoy_grpc mentioned that. :)

[2022-01-20 18:10] acruise commented on #19276
yeah, that would be better, but still pretty alien. I'm going ahead with gRPC for now so this enhancement isn't a high priority for me anyway. :)

[2022-01-20 20:01] #19183 closed

[2022-01-20 20:01] #19208 closed

[2022-01-20 20:01] #19230 closed

[2022-01-20 20:01] #19272 closed, assigned to nobody

[2022-01-20 20:11] kyessenov opened #19638 "ECDS stats reuse stale listener stat prefix"
Per https://github.com/envoyproxy/envoy/pull/19630, ECDS stat prefix is set from the first listener that creates a subscription. If that listener is deleted and the subscription is still active because other listeners use it, ECDS stat prefix continue referring to the deleted first listener.

[2022-01-20 20:59] lizan commented on #19625
It is not supported https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-field-config-route-v3-virtualhost-domains

You might be able to use regex match on `:authority` header with header matcher though.

[2022-01-20 21:04] lizan commented on #19618
Thanks for reporting. This sounds like a bug from the initialization order because when the static cluster initializes the ADS subscription doesn't exist yet.

[2022-01-20 21:05] lizan commented on #19607
This is not an Envoy issue but istio issue. Please open an issue in github.com/istio/istio

[2022-01-20 21:05] #19607 closed

[2022-01-20 21:07] lizan commented on #19606
cc @toddmgreer @jmarantz

[2022-01-20 21:12] lizan commented on #19556
It seems Lua filter doesn't see client certificate, any idea @dio?

[2022-01-20 21:14] lizan commented on #19559
It might be an issue of how your proto libraries are built, what's the BUILD looks like for `"//envoy_extensions/protos/squareup/envoy:sq_extensions_cc_proto"`?

[2022-01-20 21:17] lizan commented on #19565
https://github.com/envoyproxy/envoy/blob/main/bazel/PPROF.md#collecting-cpu-or-heap-profile-for-a-full-execution-of-envoy

Did you build Envoy with `--define tcmalloc=gperftools`?

[2022-01-20 21:18] lizan commented on #19567
What's the `ulimit` of your environment?

[2022-01-20 22:10] ldemailly commented on #2066
ping

[2022-01-20 22:44] gbrail commented on #19148
Right -- as I recall my problem was with resetStream(), which I had to
start calling because we switched to using a pooled gRPC client. But I have
some other things I want to experiment with to improve performance in that
area, so let me see what happens first.

On Tue, Jan 18, 2022 at 8:16 AM chaoqin-li1123 ***@***.***>
wrote:

[2022-01-20 23:43] ggreenway commented on #2066
@ldemailly this is unlikely to see any movement unless someone shows a need for it and is willing to work on the fix.

[2022-01-21 00:57] zhaohuabing commented on #19626
@alyssawilk Thanks for the clarification. I'm implementing a custom TCP filter that needs to reuse connections in a connection pool, that's why I raise this question. I'll look into the idle timeout implementation in the HTTP and see if I could do something similar in my custom TCP filter.

[2022-01-21 01:44] unicell commented on #13254
@jcchavezs Would it be more useful if you publish json schemas for all resources in a single file I think? That way it'll be easier to configure in IDE / Editor for validation.

[2022-01-21 02:50] lizan commented on #19566
Upstream and downstream connection are not 1:1 mapped in HTTP connection manager so this might happen. The problem is U1 exceed connection timeout which is irrelevant to which downstream connection it maps to. So you might want to adjust timeout for the upstream cluster.

[2022-01-21 02:55] lizan commented on #19604
Is the `listener access logs` what you're looking for?

[2022-01-21 03:07] lxv458 commented on #19566
@lizan Yes, you're absolutely right.
After going through the code of envoy, we also verify the conclusion of downstream and upstream are not exact match.

Now, we are indeed digging into the truth of why connect timeout.
We observed that the server envoy did not answer SYN ACK after receiving SYN, but we don't know why.............
The next request is answered correctly.
Do you have any ideas?

He

[2022-01-21 03:14] zhaohuabing commented on #19626
@alyssawilk The [online docs](https://www.envoyproxy.io/docs/envoy/latest/faq/configuration/timeouts) say that both the downstream and upstream connections have an idle time. I went through the code and only found idle time for downstream in the [HTTP connection manager](https://github.com/envoyproxy/envoy/blob/35d18c932a325bf62a67b2d95021a18e0e32d167/source/common/http/conn_manager_impl.cc#L140).

[2022-01-21 03:40] pyrl247 commented on #19565
Yes，I have define tcmalloc=gperftools,or the cpuprofiler admin api can not be posted.

[2022-01-21 03:49] zhaohuabing commented on #19626
Update： Never mind. I found a clue here: https://github.com/envoyproxy/data-plane-api/pull/513

[2022-01-21 04:04] htuch commented on #19636
What is the distinction between error/warning here? Could we also use required vs. non-required GH checks to do the same?

[2022-01-21 05:37] hughxia commented on #19629
I have set the `--concurrency` as same as the CPU resources, but It's not getting better.

[2022-01-21 05:48] hq6 commented on #19559
[code]

[2022-01-21 05:49] hq6 commented on #19559
Looks like removing the following line fixed it:
[code]

[2022-01-21 05:49] #19559 closed

[2022-01-21 05:52] hq6 commented on #1182
I'm interested in possibly working on this, if nobody else has already started work on it.

However, I haven't yet read the contribution guidelines, so it'll take me a bit of time to get up to speed on procedures.

[2022-01-21 06:23] ramaraochavali commented on #19612
@jewertow are you working on this?

[2022-01-21 06:40] pxpnetworks commented on #19555
@ggreenway , thanks for the hint - turns out on this particular server the kernel was old version (3.10).
Tested this transport socket on another server with kernel version >5 and now i see Envoy stats for all _tcp_stats_ metrics !

[2022-01-21 06:40] #19555 closed

[2022-01-21 07:16] giantcroc commented on #19503
Hi, I have done it.
#19627

[2022-01-21 07:24] toddmgreer commented on #19606
1. Envoy's CacheFilter takes query parameters into account. “/v2/ui/net/1/reports/discovery?limit=10" and "/v2/ui/net/1/reports/discovery?offset10&limit=10" are different URLs and produce different cache keys. (envoy.extensions.filters.http.cache.v3.CacheConfig.KeyCreatorParams defines config settings to override this, but those settings aren't yet implemented.)
2. Envoy does not cache POST reques

[2022-01-21 08:03] github-actions[bot] opened #19642 "Newer release available `opentelemetry_proto`: v0.12.0 (current: v0.11.0)"
Package Name: opentelemetry_proto
Current Version: v0.11.0@2021-10-07 20:59:41
Available Version: v0.12.0@2022-01-20 17:39:32
Upstream releases: https://github.com/open-telemetry/opentelemetry-proto/releases

[2022-01-21 09:09] hughxia commented on #19629
I have set the --concurrency as same as the CPU resources, but It's not getting better.

[2022-01-21 09:53] phlax commented on #19636
the checkers emit/collect 3 types of result - success, warning, error

if there are any errors - the return code from the checker is >0 - if there are any warnings and `-werror` the return code is >0

not sure, but i think this is more to do with the return code of the checker

ie - atm - if the cve scanner finds a failing dep, it errors, and continues to error until someone fixes it (ie bumps dep

[2022-01-21 10:08] chritiene opened #19643 "make use of gcompat for glibc in alpine"
The [envoyproxy/envoy-alpine](https://hub.docker.com/layers/envoyproxy/envoy-alpine/v1.21-latest/images/sha256-9e8e3f13bf6132358577370a1faf079779b9bb3077f76e938464db029f65abdc?context=explore) official docker image is using [sgerrand/alpine-pkg-glibc](https://github.com/sgerrand/alpine-pkg-glibc) to add glibc.

Why not using [gcompat](https://pkgs.alpinelinux.org/package/edge/community/x86_64/gcom

[2022-01-21 11:36] jewertow commented on #19612
@ramaraochavali I didn't start yet, but I'm going to work on this the next week. But first I would like to dive into the implementation of TcpProxy and SNI inspector filter to figure out a better solution than just overwriting the host header. It's a hack rather than a good and long term solution, so I would like to suggest some more elegant API that will somehow inject SNI automatically when SNI

[2022-01-21 12:26] phlax commented on #19636
So the following would be the initial configuration in Envoy CI, with a couple of exceptions:

- the github job has been hacked to trigger on PR, rather than by cron
- the `issues` check should have `--fix` set to actually sync the release issues

#### github-action/dependency-checks

this is the bazel commands that are run:

[code]

and these are the checks it triggers in CI:

https://github.com/

[2022-01-21 14:51] cliveseldon commented on #14813
@mitchsw did you get anywhere with as I'm interested in doing something similar?

[2022-01-21 14:53] andrewrmiller opened #19645 "WebSockets with WSS are not working due to EnvoyFilter conflicts"
*Title*: *Websockets with WSS are not working due to EnvoyFilter conflicts*

*Description*:

*Repro steps*:

[code]

If this filter is removed WebSocket functionality returns to normal.

*Related Links*

https://github.com/istio/istio/issues/36545

[2022-01-21 16:49] moderation commented on #19629
As per the thread details, you likely don't want to match the CPU core count. You want to set your concurrency level to a much lower number like `1`. Redis is single threaded.

[2022-01-21 17:03] sha-rath commented on #19604
@lizan Thanks for the quick response.  A small correction in my description...is it possible to include connection loss logs under generic logs and not access logs? (I mean, I prefer to see these logs at the info level without enabling access logging, just like how we see details like envoyproxy is ready etc.)

From our security design rule point of view, it is apparently not advisable to have con

[2022-01-21 17:05] DzianisH opened #19650 "Can't add from_cookies config to the v3.JwtProvider, v1.19.1"
I have config like the following for envoy v1.19.1.

[code]
And when I run  - envoy fails to starts with the message: `Protobuf message (type envoy.config.bootstrap.v3.Bootstrap reason INVALID_ARGUMENT:(providers[0].value) from_cookies: Cannot find field.) has unknown fields`

I don't understand why I can't configure `from_cookies` as writer here https://www.envoyproxy.io/docs/envoy/latest/api-v3/

[2022-01-21 17:12] phlax commented on #19587
im probably not the best person to answer this question - i would suggest asking on the slack dev channel

[2022-01-21 17:14] phlax commented on #15403
closing this, as this is mostly resolved

[2022-01-21 17:14] #15403 closed

[2022-01-21 19:08] lizan commented on #19650
@qiwzhang

[2022-01-21 19:15] lizan commented on #19643
Have you tried use gcompat instead of glibc? AFAIK using musl comes with performance drop and I'm not sure if gcompat could make fully glibc compatible.

[2022-01-21 19:18] pradeepcrao commented on #19617
Aah, my solution would not solve this. This would still require someone to define the sink predicates in an extension.

What my PR would enable is being able to instantiate such an object using the bootstrap. The PR will also define sink predicates based on the StatsMatcher, that Envoy users can instantiate, without having to write their own predicates in an extension.

[2022-01-21 19:33] chritiene commented on #19643
Don't think we stress envoy to a level to notice any performance difference.  First (small) test showed envoy was working with gcompat.

[2022-01-21 20:21] andrewrk commented on #19535
If I understand correctly you are concerned with how to provide libc++. In case it is not clear, [zig provides libc++ in addition to libc](https://ziglang.org/download/0.9.0/release-notes.html#zig-c). It will be compiled lazily from source according to the target and command line flags and then cached for reuse.

If you decide to go this route in envoy and run into trouble, don't hesitate to reach