[2021-03-10 13:43] phlax opened #15403 "Format python as python"
### foreword/warning

i have put off raising this issue mostly because to paraphrase einstein:

but as i need to work with these files and the problem is imho pretty bad now, i dont want to make it worse and want to be able to use the standard tooling

(i also dont want to start world war V! )

### description

as a long term python programmer i find the envoy python very hard to work with - its a

[2021-03-10 14:15] nezdolik commented on #13965
@euroelessar if we go with first option (always treating `+` as a space), could it potentially affect existing users who rely on Envoy passing `+` as plus? Am thinking what would be the impact.
I would go with config option approach to change/fix this issue. @mattklein123 @mhoran any thoughts?

Wrote a test that reproduces mentioned above behaviour: https://github.com/nezdolik/envoy/commit/e9f07d5

[2021-03-10 14:20] sschepens opened #15405 "jwt_authn: stats by provider or stats_prefix"
It would be great o have stats that distinguish allows/denies for each provider.
This could be done with a single filter or with multiple filters and a `stats_prefix` attribute which is kind of normal for filters already.

I can probably take this, what seems like the best approach?

[2021-03-10 14:21] dio commented on #13965
cc. @qiwzhang @nareddyt

[2021-03-10 14:23] alyssawilk commented on #15356
There shouldn't be perf differences, one simply can't use HTTP/3

[2021-03-10 14:24] dio commented on #7583
Yes, this one I think we can use: https://github.com/envoyproxy/envoy/pull/14512. cc. @awangc

[2021-03-10 14:24] alyssawilk commented on #12829
yeah, in other areas of the code base we compile things out with bazel flags, like the hot restart code, so I think the theory is we can remove some of the extension complexity but we'll still preserve compiling without QUIC.

[2021-03-10 14:28] snowp commented on #15403
I think we should definitely have a consistent style that works with the available tooling. Does the pylintrc provided at https://google.github.io/styleguide/pyguide.html not provide us with proper support for linting Google style?

@lizan @htuch @jmarantz for thoughts on whether it makes sense to stick to Google style or if we should adopt a more common set of guidelines.

[2021-03-10 15:01] mhoran commented on #13965
I also started looking at this again today and similarly devised a test that covers the issue: https://github.com/mhoran/envoy/commit/ad88335137f9d74ef0d8b416c566188411a69e69.

I think the current behavior is a bit of an edge case, but I'm hesitant to hide it behind a new option. Perhaps it's rather rare for the `+` to be used in the real world; however, in our case, it was the default browser beh

[2021-03-10 15:09] aSapien commented on #15348
Adding @mattklein123 @alyssawilk, the code owners of `dynamic_forward_proxy` 🙂

Dear code owners, I would love to have your blessing on the idea of enabling the `filter-chain-match` functionality (or equivalent) in the `dynamic_forward_proxy`. Any objections? Limitations? Complexity? WDYT?

[2021-03-10 15:15] auni53 opened #15407 "Flaky test: //test/extensions/quic_listeners/quiche/integration:quic_http_integration_test"
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/68704/logs/212

//test/extensions/quic_listeners/quiche/integration:quic_http_integration_test failed with a timeout on TSAN on my PR with unrelated changes.

[2021-03-10 16:01] nezdolik commented on #13965
Agree @mhoran. We could have a config option that would default to RFC expected behaviour with possibility to fallback to current behaviour.

[2021-03-10 16:17] zihuaweng commented on #15356
Thanks for your response!

[2021-03-10 16:17] #15356 closed

[2021-03-10 17:05] juanvasquezreyes opened #15408 "serviceName not being sent to jaeger"
I was using envoy version 1.17 and I just upgraded it to 1.18, its installed in a redhat vm

when using 1.17 and sending spans using this approach https://github.com/envoyproxy/envoy/tree/main/examples/jaeger-tracing, I was able to see the spans in jaeger

but now after upgrading it I cannot see them because they are being sent without the service name

this is the way I'm running envoy
`/usr/bin/

[2021-03-10 17:07] auni53 commented on #10943
I understand this may not have been feasible to fix, but one issue I ran into when dealing with our migration was hidden settings of config source proto, which were implicitly set to AUTO -> V2 and not printed by the default proto printing API. I think setting AUTO -> V3 and forcing everyone to explicitly set those to V2 during the deprecated/migration phase might have been helpful.

[2021-03-10 17:28] krnowak commented on #2500
Hi, I'd like to take the part of lazy (on-demand) loading of clusters. Will write a document and share here and on slack.

[2021-03-10 17:35] mattklein123 commented on #15389
Health is a complicated topic as it depends on priority, locality, and a bunch of other things. You can get at the cluster's current priority set through https://github.com/envoyproxy/envoy/blob/498d65b2fabceebbda9c0b993ba63c127fd16f27/include/envoy/upstream/thread_local_cluster.h#L24 which may be enough for what you need? cc @snowp

[2021-03-10 17:39] #14454 closed

[2021-03-10 17:47] mattklein123 commented on #2500
@krnowak SGTM. At a high level we need a filter that can hold requests (for HTTP) or connections (for network) and perform a cluster lookup and wait on various callbacks until it's complete, times out, or fails. All of the plumbing exists it just needs to be put together in OSS. Would love to see this happen.

[2021-03-10 18:17] snowp opened #15409 "Make use of match tree in HCM route table"
There's a few different ways of implementing this, but the most likely one seems to be to oneof it with the existing route table implementation. There are some challenges here due to existing couplings between the route table and filter APIs, e.g.

[code]

, but if we can skip supporting this for the new match tree this might be relatively easy.

One open question would be to see if we want to ret

[2021-03-10 18:27] juanvasquezreyes commented on #15408
Not sure what happened, I restarted envoy and restarted jaeger and now I can see the spans

[2021-03-10 18:27] #15408 closed

[2021-03-10 18:42] mattklein123 commented on #15409
cc @euroelessar as we were just discussing this.

[2021-03-10 18:50] krnowak commented on #2500
@mattklein123: My idea was to extend envoy.filters.http.on_demand to perform the lookup and waiting. And extend RouteAction with a "odcds" field containing "SourceConfig". But I think I'll flesh it all out in the design document. Will share it here ASAP.

[2021-03-10 18:57] RameshKandukuriB opened #15411 "Add digital signature to envoy.exe windows artifacts."
As a envoy-proxy windows user, I want the binaries (envoy.exe) to be digitally signed with the version number, description & other information so that I can deploy in production with a valid digital signature.

[2021-03-10 18:59] davinci26 commented on #15411
cc @envoyproxy/windows-dev

[2021-03-10 19:21] phlax commented on #15403
tbh that points towards using `black`

i just dont like the code that it produces, and *readability counts*

imho some of the rules which are afaict non-configurable are not the most readable forms, but it does remove the need for the reviewer to even think about formats

[2021-03-10 19:29] ankatare opened #15413 "Missing header "age" for "valid-for-minute" response in cache filter."
*Title*: *Not getting "age" header for "valid-for-minute" resonse in cache filter.*

*Description*: After 30 sec resending curl request (curl -i localhost:8000/service/1/valid-for-minute) In cache filter for response type "valid-for-minute" not getting age header.
ref : https://www.envoyproxy.io/docs/envoy/v1.17.1/start/sandboxes/cache#valid-for-minute

[optional *Relevant Links*:] https://www.env

[2021-03-10 19:57] danzh2010 opened #15414 "quiche: TSAN failure in quic_protocol_integration_test"
There is a use after free case in EnvoyQuicClientSessionWithExtra. The EnvoyQuicConnectionHelper in this class needs to out live its base class actually. conn_helper_, alarm_factory_ and supported_versions_ are configured per connection pool. So the best way to fix it is to move them out of EnvoyQuicClientSessionWithExtra into a standalone object living in connection pool.

At the same time, the o

[2021-03-10 19:59] lambdai commented on #15120
Close this one in favor of lazy CDS as per community meeting 03/09/2021: https://docs.google.com/document/d/1Yc4zkV-A_cC_R3C0u6D15WQAsRSxADs8p2l8UMMa4P4/edit#

[2021-03-10 19:59] #15120 closed

[2021-03-10 20:07] #14871 closed

[2021-03-10 20:10] rblumen-desk opened #15415 "documentation for circuit breaker cx_open statistic is misleading or possibly incorrect"
In the file [cluster_stats.rst](https://github.com/envoyproxy/envoy/blob/main/docs/root/configuration/upstream/cluster_manager/cluster_stats.rst)

The documentation for cx_open says: "Whether the connection circuit breaker is closed (0) or open (1)"

I am observing that when the circuit breaker is allowing traffic provides a 0 for the cx_open statistics.  I had interpreted the documentation to mea

[2021-03-10 21:34] htuch commented on #15403
@phlax can you point to some example of readability-challenge code the tooling provides? It would help to see. I don't see this being a hard constraint, but something we'd ideally do. Since we use clang-format for C++ code, we have zero discussions over indenting etc. Sometime people mess up things like casing, and clang-tidy has helped us out there but it's not fully formattable.

Is there a midd

[2021-03-10 21:45] mattklein123 commented on #15348
Is there a TL/DR summary of the changes you would like to see?

[2021-03-10 21:47] mattklein123 commented on #13965
If we think we are not spec compliant and we think the risk of breaking people is relatively low, I would fix it but but the fix behind a runtime feature flag. If no one complains we can just delete the old code path.

[2021-03-10 21:59] moderation commented on #15403
I don't do a lot of Python^ but really like `black` as like `go fmt` it just removes the topic of formatting all together.

^ I maintain a Garmin Connect activity exporter that has quite a few users

[2021-03-10 22:03] mattklein123 commented on #15415
Thanks, docs PRs appreciated.

[2021-03-10 22:05] tonya11en commented on #15415
lol, I'll take care of this tonight. Feel free to assign.

[2021-03-10 22:38] mattklein123 opened #15418 "udp: make GRO configurable"
Right now GRO is hard coded to enabled if the OS supports it. This should be configurable. Per discussion with @ggreenway the best option may be to have a toggle: auto/on/off, in which auto is off for downstream (server) connections and on for upstream (client) connections. It's unclear whether GRO provides benefit when dealing with lots of discrete datagrams which may not be easily coalesced.

[2021-03-10 23:02] lambdai commented on #15354
It's hard to classify a swap-in is fine or not.
At listener, we are pretty sure the filter-chain only change should support swap-in, and filter chain only update does cover the majority of the update.

Does the cluster follow the same pattern? To me, the majority of the cluster update is delegated to EDS so plain cluster update is rare.
And EDS update also introduced `close_connections_on_host_set

[2021-03-11 00:06] #14897 closed

[2021-03-11 00:28] qiwzhang commented on #15304
@moderation
1) CI is added
2) security policy is added.

Could you check again?

Thanks

[2021-03-11 00:43] moderation commented on #15304
`scorecard` is picking up your security policy. Not sure why your CI score is unchanged.
[code]
@envoyproxy/dependency-shepherds for review

[2021-03-11 00:49] phlax commented on #15403
I think if you write a lot of code then you are more emotionally iinvested in how it should look and what makes it easiest to read

it *does* remove the conversation tho so perhaps we should move towards it

not without a long and opinionated take down of black

(see here for a related discussion i was involved in recently - )

yep we can just use flake8 more strictly

lets tidy up the code and th

[2021-03-11 00:52] mattklein123 commented on #15380
cc @markdroth @htuch

[2021-03-11 00:55] mattklein123 commented on #12358
This is done.

[2021-03-11 00:55] #12358 closed

[2021-03-11 00:56] antoniovicente commented on #15304
Is it worth considering splitting the url_template code into a separate library that can be consumed by core?

Do we have benchmarks that compare the url_template implementation from grpc_httpjson_transcoder to equivalent RE2 regexps that match the same inputs?

[2021-03-11 01:03] qiwzhang commented on #15304
It is a good idea to split `path_matcher` code used for url_template match from grpc_httpjson_transcoder.  I will explore that.

[2021-03-11 01:04] qiwzhang commented on #15304
For performance,  @nareddyt has a performance test.  Maybe he can add url_template perf test with the pending pr to get the number

[2021-03-11 01:07] lwpyr commented on #15389
Thanks for your reply, I'm kind of a novice to this project, your advice can help a lot.
To narrow the definition, if there is no endpoint could serve the request, we think the cluster is down. Do you think it is OK to just follow the no-pass-through logic in the health check filter, which checks the cluster info stats.

[2021-03-11 02:08] WeavingGao commented on #15354
No, I'm not using EDS since it's not an endpoint specific config.

I think what @mattklein123 said above might really solve my problem.

Another reason I'm not doing that is that there might be over 1000 clusters, an update to any of these will cause the update to the whole config map.

Can we add a configuration to flag whether swap-in is available or not.

[2021-03-11 02:29] woluohenga commented on #1070
Hi, in some occasions server push is necessary.
If we have some clients connected to envoy by TCP, back end services need send notify to client, I don't know if this can be achieved through envoy.

[2021-03-11 05:03] F21 commented on #12538
I am also looking at using istio with opentelemetry. Since Opencensus is pretty much deprecated at this point in favor of Opentelemetry, would it make sense to focus our efforts on Opentelemetry instead?

I noticed there's an open issue to directly embed the opentelemetry collector into istio: https://github.com/istio/istio/issues/30503 , however there are still a fair bit of design decisions to m

[2021-03-11 07:58] cocotyty opened #15429 "Tracing: support jaeger-agent tracer"
*Title*: *One line description*
When we used envoy and jaeger together, we found that envoy does not support sending data directly to jaeger-agent.
*Description*:

would be used.

[optional *Relevant Links*:]

[2021-03-11 08:47] phlax commented on #15403
/assign phlax

[2021-03-11 10:49] ds-clearago commented on #3125
Still same issue in our private repo... PR with 15 commits, Showing 243 changed files with 2,295 additions and 1,465 deletions.

Interestingly the compare view works just fine, but not the PR view.

✅ works fine: https://github.com/.../.../compare/CL-2025
❌ 🦄 unicorn: https://github.com/.../.../pull/2774

Incognito doesn't help...

[2021-03-11 11:40] rohrit opened #15438 "Proxying with HTTP CONNECT does not pass to ext_authz filter as expected"
*Title*: Proxying with HTTP CONNECT does not pass to ext_authz filter as expected

*Description*:

*** Initially tested with OPA but is reproducible for ext_authz filters in general ****

I have a dynamic forward proxy as described in https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/dynamic_forward_proxy_filter#config-http-filters-dynamic-forward-proxy being used to impl

[2021-03-11 13:58] asraa opened #15439 "ENVOY_BUG improvement for tracking: unique identifier"
Counters are held in the `EnvoyBugRegistrationImpl` keyed by filename:lineno.

In anticipation of monitoring per ENVOY_BUG hits over time, ideally ENVOY_BUGs should have a unique identifier. This change would be better made sooner rather than later while its still in early adoption. Filename:lineno isn't stable over changes.

Proposal:
Migrate `ENVOY_BUG(condition, msg)` to `ENVOY_BUG(bug_id, cond

[2021-03-11 14:23] jtou100 opened #15440 "How to configure envoy short link just as the configurtion keepalive in nginx"
I use envoy as a forward proxy. How can I set up short link transmission, that is, when the data transmission is completed, the link will automatically end. Just like the keepalive attribute of nginx

[2021-03-11 14:29] tsaarni commented on #7583
I might be able to help implement this.

I was checking #14512 for the new command formatter extension API. I don't find any examples on custom formatters in the code base yet (outside the test case) but if I understood correctly, a custom formatter would be first **(a)** registered with `CommandParserFactory` and then **(b)** activated by the user, by listing the registered name in `config.core.v

[2021-03-11 14:29] alyssawilk commented on #1070
I think traditionally features like this are handled by hanging get, to be compatible with lower versions of HTTP and the fact not all clients support server push

[2021-03-11 14:59] aSapien commented on #15348
@mattklein123

The idea is to have an ability to configure an ACL to filter the target upstream of a request coming out of the `dynamic_forward_proxy` cluster.
So that when a client connects through Envoy's `dynamic_forward_proxy`, I would be able to configure allowed/disallowed upstream IPs/ports.

For example:
[code]

The cluster configuration could look as follows:
[code]

[2021-03-11 15:05] Coconut105 opened #15441 "Dynamic Forward Proxy: No endpoint added to cluster with same IP but different port"
Hi,

I have configured a cluster that uses dynamic forward proxy and also EDS. If I send requests to envoy with the same FQDN but different ports, only the first resolved IP and port are added in the endpoints of the cluster. Eg:

1) Request: google.com:80  -> Endpoint: 10.0.0.1:80 added to cluster
2) Request: google.com:8081 -> 503 Service unavailable

In the envoy logs I can see a cache hit for

[2021-03-11 15:10] #15415 closed

[2021-03-11 15:51] snowp commented on #7583
@tsaarni Extensions would go in source/extensions/formatters or something like that (maybe source/extensions/access_log_formatters if this is limited to access logging?).

For b) yea it needs to be listed next to the access log string that uses it: presumably this is a small cost since the access log string would also need to be updated to make use of the new formatter.

[2021-03-11 16:13] htuch commented on #15380
I think we would benefit from @markdroth input on how channel lifetime/creation and DNS resolution play together here.

[2021-03-11 16:26] phlax opened #15442 "Improve general text file linting"
### description

there are some rules that we probably want to apply to all *text* files (maybe with some specific exceptions)

for example:

- new line at the end of file
- no mixture of tabs and spaces (maybe just no tabs)

there may be others

most lang linters will pick up these issues - but eg yaml files are failing this and we could/should just make a general rule

we probs only want to lint

[2021-03-11 16:32] moderation commented on #12538
@F21 related open issue at https://github.com/envoyproxy/envoy/issues/9958

[2021-03-11 16:40] phlax commented on #15442
and trailing whitespace

[2021-03-11 16:57] markdroth commented on #15380
A gRPC channel using the default `pick_first` LB policy should re-resolve the name whenever the underlying connection fails.

Can you try running with the env vars `GRPC_VERBOSITY=DEBUG` and `GRPC_TRACE=client_channel_routing,pick_first`, and then share the resulting logs?  That should provide some clue as to what's going wrong here.

[2021-03-11 17:28] mattklein123 commented on #15348
Would a more general solution for ^ be upstream HTTP filters? https://github.com/envoyproxy/envoy/issues/10455 cc @snowp

[2021-03-11 17:46] #14971 closed

[2021-03-11 17:58] Green7 commented on #15309
@alyssawilk:
I'm using grpc-web so I expected it to work with Envoy without a problem.
But you're right: the problem is on the javascript side.
I checked 'pure' javascript http request and it gets the answer immediately. But grpc-web is based on google closure library. So I also checked this lib and the answer in js arrives after the stream is closed. So here is the cause of the problems ..

On th

[2021-03-11 18:11] mattklein123 commented on #15389
This could work also depending on your needs.

[2021-03-11 18:28] snowp commented on #15348
Yeah I think it would be a good fit, we'd be able to couple this with the unified matching and composite filters to provide per match filter application

[2021-03-11 19:02] antoniovicente commented on #15439
Giving ENVOY_BUGs a name seems very attractive.  The file + line as IDs are not stable and thus not great for use in monitoring/stats.

Giving ASSERTs names seems much harder, but that may be fine since they really shouldn't ever trigger.

[2021-03-11 20:20] kb000 opened #15447 "AsyncClientFactory getThreadLocalCluster failure under validation_server"
We're seeing an issue validating our grpc access logging config
[code]

I think these lines should be using the helper `ClusterInfoMaps.getCluster()` instead of iterating the map manually.

https://github.com/envoyproxy/envoy/blob/e20957c011b11a4f9f935ec7556ed89d1d8c22d7/source/common/grpc/async_client_manager_impl.cc#L41-L42

[2021-03-11 20:26] sschepens commented on #15405
@qiwzhang there are a ton of `Verifier` impls and they are sort of nested which means we would have to propagate the filters `stats_prefix` and `scope` to all Verifiers so the can then pass them to their children.

Does this seem right? or is there another way?

[2021-03-11 20:27] lambdai opened #15448 "add no cluster found error detail"
As of today, no route found and the route is found but the cluster in that route is not ready are sharing the same error detail.
However, this make big difference. The latter is likely a RDS config problem or explicit blackhole.
The latter might be a slow CDS.

The follow up is to introduce the API within a route: something like `wait at most X seconds` if the cluster doesn't exist yet.

And we ca

[2021-03-11 20:31] mattklein123 commented on #15447
This is a regression from https://github.com/envoyproxy/envoy/pull/15227/files.

@wozz can you take a look? I think the issue is related to: https://github.com/envoyproxy/envoy/pull/15227/files#diff-e4857a8d978c47fcbd3f06c256cffad8e65c573cb77fe7fb5e3cc3c6f510f323R290-R291

I think that should be using the bootstrap option (I think probably). And now that I think about it should this really actuall

[2021-03-11 20:48] wozz commented on #15447
will look into this

[2021-03-11 20:58] mattklein123 commented on #15447
@wozz in looking a bit more I think we may need to fix the validation cluster manager to return clusters when getThreadLocalCluster() is called? I still think what @kb000 points out is also probably a bug (though preexisting), but I don't think it's the issue he is facing, which I think would impact other callsites also.

[2021-03-11 21:21] qiwzhang commented on #15405
Yes, that is correct.  Instead of passing two parameters, you can pass a `StatFactory` object to hide them
[code]

[2021-03-11 21:47] wozz commented on #15447
I had changed the grpc access log validation to not use main thread because I hit the ASSERT in tests:

[code]

This implies it was one of the cases broken previously because it used methods meant for the main thread on worker threads.

[2021-03-11 21:50] mattklein123 commented on #15447
@wozz OK, if that's the case then I think we have to fix the validation server to return clusters from getThreadLocalCluster()? https://github.com/envoyproxy/envoy/blob/e20957c011b11a4f9f935ec7556ed89d1d8c22d7/source/server/config_validation/cluster_manager.h#L58-L63

I'm not really sure the best way to fix this without digging in a bunch more. :(

[2021-03-11 21:51] mattklein123 commented on #15447
(I guess in general I don't understand how we can be throwing exceptions at all on the workers so I'm not sure this change is right in general, should we revert while we sort this out?)

[2021-03-11 22:12] snowp commented on #15447
Since there doesn't seem like a fix is immediately clear I think we should revert for now and redo this change (with appropriate regression testing added) once we understand the problem better.

[2021-03-11 22:50] wozz commented on #15447
Ok, we can revert. The workaround is to disable the static cluster validation.

[2021-03-11 23:42] evan2645 commented on #15392
Hmm that's a good question @mathetake!

Many SPIFFE implementations can mint SPIFFE certs that have DNS SANs in them. The typical use case for this though is to enable interop with software performing [RFC 6125](https://tools.ietf.org/html/rfc6125) validation. It's a little harder for me to reason about for validators that are SPIFFE-aware.

My instinct is that matching on URI SAN only when the SP

[2021-03-12 00:07] #14901 closed

[2021-03-12 00:07] lambdai commented on #15448
Also tech debt in the access log test. The full `error list` duplicated 10+ times. I will get it fixed in the next PR

[2021-03-12 06:13] phlax opened #15453 "Add (more) unit tests for python tooling"
### description

some of the python tooling could do with some unit tests.

there are some tests already, but some code has no tests and is not necessarily triggered during a ci run so can be broken without detection (cf #15427 )

i would suggest using pytest as a general approach

related #15403

[2021-03-12 07:34] Zsolt-LazarZsolt commented on #10159
Hi

I poked around the issue, as a novice.
I recorded some tcpdumps that I unfortunately can not share.
To my eye it seemed like the following happening:
1. Envoy starts up as a part of a contour cluster
2. when the pod starts in a v6 only cluster, the interface not immediately receives a global address, for a little while the only address on the interface is ::1
3. as soon as envoy starts it star

[2021-03-12 11:18] aSapien commented on #15348
@mattklein123 Of course, I would always prefer the general solution as long as it provides the building blocks to compose for a specific use-case :)

@snowp I see that there hadn't been much activity in #10455 recently. What can be done to push it forward?

[2021-03-12 12:05] snowp commented on #15348
I haven't had the time to work on it in a bit, though if someone wants to pick it up I would happily review. There is still quite a bit of work left, I had https://github.com/envoyproxy/envoy/pull/13095 open as a POC of integrating the filter manager with the router, which opens up for making upstream HTTP filters configurable via the API.

[2021-03-12 12:08] #14520 closed

[2021-03-12 12:23] snowp opened #15456 "docs: Improve error output for config validation"
https://dev.azure.com/cncf/envoy/_build/results?buildId=68915&view=logs&jobId=a9c3f16a-7a41-5cb0-a55b-0d11e9c98c50&j=a9c3f16a-7a41-5cb0-a55b-0d11e9c98c50&t=044b2326-1800-5bcd-b44b-584adc5b0b85

failed due to validation of included YAML snippets, but the errors appear in the middle of the output, making it not obvious where the error was. Ideally we can bring this error message closer to the end of

[2021-03-12 12:42] phlax commented on #15456
related #15313

[2021-03-12 14:35] sschepens opened #15457 "strict_dns: allow to keep stale targets for a specified amount of time"
Problem:
When a DNS does not return all targets on each resolve, `strict_dns` will continually be adding and draining targets. For this case `logical_dns` is better, but it's still not great, it keeps track of a single logical target even though connections are made to several, for the given resolution interval all connections and traffic will flow to a single IP address, also I really don't know

[2021-03-12 16:05] wrowe commented on #15411
There is specific logic within bazel for stamped deps. It's an additional link step implemented
differently on linux vs. macOS, and needing a unique implementation on Windows. Embedding
that in the .rc/.res file and linking the .res to the binary object is pretty obvious, and we can
pursue this. You can grep on `build_id` for what envoy is doing today.

Self-signing the binary with an untrusted se

[2021-03-12 16:29] wozz opened #15458 "AsyncClientFactory potentially calls ClusterManager::clusters() outside main thread"
*Title*: AsyncClientFactory potentially calls ClusterManager::clusters() outside main thread

*Description*:
An example of this is [grpc access logger](https://github.com/envoyproxy/envoy/blob/40964cc30d4e691df5c5f0c32a449a7b4462115a/source/extensions/access_loggers/common/grpc_access_logger.h#L291).

Another example is a filter implementation similar to [ext_authz](https://github.com/envoyproxy/e

[2021-03-12 16:29] sschepens commented on #15405
@qiwzhang i was thinking, if we add provider stats in `ProviderVerifierImpl` when using `allow_missing` or `allow_missing_or_failed` then we would actually generate `denied` stats which maybe are not actually denied because we allow failed or missing.

Whereas if we add a simple `stats_prefix` to the filter, we could get real allowed, denied stats.

Just a thought.

[2021-03-12 16:29] wozz commented on #15447
this issue can be closed. I've opened a new issue to track the original concern: https://github.com/envoyproxy/envoy/issues/15458

[2021-03-12 16:49] stevenzzzz commented on #14891
this is still on the radar.

[2021-03-12 16:58] krnowak commented on #2500
The document: https://docs.google.com/document/d/1AqhQnrX_7SS6PAkNwoaA2peCtk9htgwSBTRg1gzFPNw/edit?usp=sharing

[2021-03-12 17:20] dghermanNS1 opened #15463 "Expose PROXY protocol headers for HTTP Connection Manager"
*Title*: *Expose PROXY protocol headers for HCM too, not just tcp_proxy*

*Description*:

We run Envoy on the edge, with the Downstream listener using HCM. The Upstream cluster nodes use PROXY protocol, however Envoy does not propagate to the upstreams the DOWNSTREAM_REMOTE_ADDRESS of the client - it sends Envoy's own IP instead.
Would like to have Envoy send the DOWNSTREAM_REMOTE_ADDRESS in the S

[2021-03-12 17:38] StefanYohansson opened #15464 "WebSocket over HTTP/2"
*Title*: WebSocket over HTTP/2

*Description*:
As far I understand, Envoy doesn't support WebSocket over HTTP/2 as stated by @alyssawilk on this thread:
https://github.com/envoyproxy/envoy/issues/8547#issuecomment-540559530
I want to know if it remains true and if there's any plan to implement it or if I can help in any way to implement it (directions needed since I am new to Envoy).

[optional *R

[2021-03-12 17:42] mattklein123 commented on #15457
I think this is a reasonable request. Adding some type of `cleanup_interval` parameter makes sense to me.

[2021-03-12 17:45] mattklein123 commented on #15463
Per my comment in email, PROXY proto doesn't often make sense for L7/HTTP traffic, as you will need to force each unique downstream client to have a dedicated connection pool. Is this really what you want? Generally XFF is a better solution.

[2021-03-12 17:54] MarcPow opened #15465 "PyYaml should be updated to 5.4.1"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: PyYaml should be updated to 5.4.1

*Description*:
Envoy's tree includes PyYAML 5.3.1.

This causes some scanners to report on CVE-2020-14343.

A vulnerability was di

[2021-03-12 18:04] phlax commented on #15465
@MarcPow do you want to PR - if not im happy to - vulns that only (might) affect devs are still vulns, so lets update

[2021-03-12 18:42] qiwzhang commented on #15405
Definitely, it is easy and simple to add provider prefixed `stats` in `filter` level.  But it doesn't have `provider` info when its code is called.  When it is called, it will be an aggregated result, e.g. for RequireAll case,  multiple providers may have verified.

You raised a good point of `allowed` and `denied` for provider prefixed stats may not be accurate if `allow_missing` or `allow_missin

[2021-03-12 19:19] moderation commented on #15465
SGTM - just ran the latest hashes and get
[code]

[2021-03-12 19:20] sschepens commented on #15405
For our use case it would probably be OK and simpler to just add a prefixed stat at a filter level and just two filters one for each provider. But if anyone think it's worth pursuing the second option I could ahead and do that too.

Sure, seems more logical, do you think we should pursue this option or the filter prefixed stats?

[2021-03-12 19:23] wrowe commented on #13322
@sunjayBhatia was #15298 sufficient?

[2021-03-12 19:43] caoyukun0430 opened #15467 "Envoy is interrutped and exits immediately when handling multiple (sigterm) signals"
*Title*: *Envoy exits immediately when handling multiple (sigterm) signals, instead of waiting for the handling of the first signal to finish.*

*Description*:
We use envoy with istio 1.8.3 and we know that there is issue in Isitio/Envoy that during worker node reboot, envoy can't be gracefully terminated https://github.com/istio/istio/issues/28738.
https://github.com/envoyproxy/envoy/blob/d753c8e

[2021-03-12 20:28] qiwzhang commented on #15405
Let us go with the latter.  Thanks

[2021-03-12 23:03] tbarrella opened #15472 "Upstream extension mapping cluster metadata to HTTP headers"
*Title*: Upstream extension mapping cluster metadata to HTTP headers

*Description*:
Something more general than #13897 but lighter than #10455 would be an [upstream_config](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto.html?highlight=upstream_config) extension that allows injecting HTTP headers based on cluster metadata.

For an example usage other than #13897

[2021-03-13 04:22] sunnoy opened #15477 "Custom headers are all converted to lowercase"
*Title*: *Custom headers are all converted to lowercase*

*Description*:
https://github.com/istio/istio/issues/31360

Does envoy support this ？

[2021-03-13 06:52] #14809 closed

[2021-03-13 12:52] CAFxX commented on #14531
Can we reopen? This is still relevant.

[2021-03-13 23:14] ghevge opened #15480 "How can I download a .zip file over a http to grpc transcoded endpoint?"
I have the endpoint defined as below in my .proto file. The grpc endpoint returns a .zip file. It works OK over a grpc channel, but I'm having issues downloading it over the REST endpoint.

I use envoy to do the http transcoding.

My problem right now, on the REST endpoint, is that the download response header is always set to application/json instead of application/zip so my zip download is not p

[2021-03-14 00:07] #14784 closed

[2021-03-14 04:05] pantianying commented on #3732
I think this is the problem of Envoy himself. I want to know why it hasn't been resolved yet.

[2021-03-14 04:09] fabriziomello commented on #15270
Moving to here a discussion we started by email this week to keep this issue updated:

First @cpakulski answer after @mattklein123 ask for more information:

Then @mattklein123 said:

[2021-03-14 05:37] #15465 closed

[2021-03-14 08:15] PiotrSikora commented on #14947
Not stale.

[2021-03-14 09:23] maksim-paskal opened #15482 "[Question] How to use vh_rate_limits"
*Title*: *How to use vh_rate_limits*

*Description*:
since envoy v1.16.0 include_vh_rate_limits field has been deprecated in favor of vh_rate_limits. Please provide any example of using vh_rate_limits ?

https://github.com/envoyproxy/envoy/pull/12855

[2021-03-14 16:04] #14863 closed

[2021-03-15 03:24] wbpcode commented on #15477
Nope. And as @howardjohn said, at this point, fixing the application to ensure that it is case insensitive would be a little better.

[2021-03-15 03:31] #15389 closed

[2021-03-15 04:22] kev1n11 commented on #14622
@esmet `DYNAMIC_METADATA` would definitely address my use case 👍 🙏

Sorry for some reason I never received notification on this issue 🤦 Switching to gRPC (from HTTP) would be a little heavy for us at this stage just to support this use case (as we would need to perform proper load testing and migrate our endpoint.

[2021-03-15 06:56] emike922 commented on #14980
Still interested

[2021-03-15 07:39] mathetake commented on #15392
Nice, I will follow this path.

I don't think the inconsistency of the behavior of match_subject_alt_names is not that problem since we already document that the behavior of existing parameters [depends on the custom validators](https://github.com/envoyproxy/envoy/blob/main/api/envoy/extensions/transport_sockets/tls/v3/common.proto#L378). So I think this is fine.

As for the question about the val

[2021-03-15 07:42] wuhuizuo commented on #14860
tunneling by HTTP POST is blocked by my company's firewall. The request is chunked-encoded, the the firewall buffer the request, and then timeouted for waitting the rest request fragments.

I have no right to setting the firewall.
kubectl is using websocket to portward pod or service's tcp port, and kubectl port-forward is allowed.

I think i need reopen the issue, maybe this issue should be treat

[2021-03-15 08:08] woluohenga commented on #1070
@alyssawilk Thanks for reply.
In some business area, such as development of online game（especially FPS/MOBA/MMO，ex COD、LOL、PUBG...), server push is necessary, because the message sent by server to client are send very frequent(almost reach 20-30/s for one client). It's impossible to work if message is only get by client.
Because some of our server deploy in istio now, we plan to discuss if envoy c

[2021-03-15 08:26] phlax commented on #14860
@alyssawilk do you know if Envoy can support this ?

[2021-03-15 09:24] mathetake opened #15487 "wasm: crashes when removing ":status" header in the response."
Currently Envoy does not limit which headers can be modified from Wasm plugins, so if a plugin removes, for example, :status header from the response headers, then Envoy crashes. Ideally, we should verify the final headers in the Wasm plugin in Envoy. In any way, Envoy should not crash even when the processed headers from filters are invalid in terms of the "contents".

This is a potential securit

[2021-03-15 09:46] PiotrSikora commented on #15487
There should be an issue for that already, but I cannot find it either.

I recall that @asraa was working on Envoy-wide guards against misbehaving filters/plugins, including removing `:status` header, but that was a while ago, I'm not sure what's the status of that work. Perhaps, that's the reason for the crash.

[2021-03-15 10:43] wzshiming opened #15488 "[enhancement] Customize the rejection code and information of the access denied (RBAC)"
Discussion https://github.com/istio/istio/issues/31452

*Description*:

Customize the rejection code and information of the access denied (RBAC).

*User Story*:

In a public cluster,  Istio to isolate different tenants so that they are invisible to each other, want to hide the existence of the workload from the access by presenting 404.

[2021-03-15 10:53] wzshiming commented on #15488
https://github.com/envoyproxy/envoy/blob/031f75dd113e2f7be41b94a0365145e7bf1e6c12/api/envoy/config/rbac/v3/rbac.proto#L110-L140

Maybe need to add a field, but I'm not sure about the process and how to do it properly.

[2021-03-15 12:01] feature-id commented on #6930
For all, who got the same problem: there's also per_connection_buffer_limit_bytes option on a listener level, which is 1MB by default.

[2021-03-15 13:41] ghevge commented on #15480
OK I found this: https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/grpc_json_transcoder_filter#sending-arbitrary-content which seems to partially work, in the sense that I'm still not sure how to set the filename header

[2021-03-15 14:27] alyssawilk commented on #15309
IMO turning time-offs is a dangerous choice yes.  I don't think there's much we could do apart from adding a config warning.

[2021-03-15 14:37] sschepens commented on #15405
@qiwzhang one more thing, regarding what i raised last week, couldn't there be issues if a provider is specified more than once in the requirements? That would mean we have several `ProviderVerifierImpl` each one with it's own struct of stats but having the same stat names.

Not sure how envoy stats handle this cases.

[2021-03-15 14:47] mburtless commented on #15463
Just to clarify, is this comment specific to Envoy's implementation?  Can you provide more detail why each unique downstream client requires a dedicated connection pool in order to use PROXY proto?

I thought one of the values provided by PROXY proto is that it's protocol agnostic and can work natively with L7 protocols.  There are certainly a lot of solutions out there that support this use case

[2021-03-15 15:07] alyssawilk commented on #15464
I don't think anyone has plans to address the translation errors called out in #8547, the problem was that if the client is doing HTTP/2 websocket and the upstream is doing HTTP/1, Envoy doesn't implement the differences between the specs.  I would expect HTTP/2-HTTP/2 to work though I have not used it myself.

[2021-03-15 15:11] alyssawilk commented on #14860
The last folks who ran into issues with CONNECT being unsupported added POST tunneling which is another option you might consider.
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/upgrades

Envoy doesn't currently allow upgrades from raw TCP to websocket, though it could be implemented fairly easily as another option on the CONNECT path, especially if you crib off of the PR whi

[2021-03-15 15:17] markdroth commented on #15025
@htuch, can we tag this so that it doesn't go stale?  Thanks!

[2021-03-15 15:24] alyssawilk commented on #1070
I thought most of the gaming industry used bespoke UDP protocols?  I don't know of any game services which use HTTP, let alone server push, do you have a use case of a customer who actually does?

[2021-03-15 15:48] lewismacdonald opened #15489 "[OAUTH2] Forward ID Token and Refresh Token"
*Title*: *Allow oauth2 forwarding of refresh/id token*

*Description*:

[2021-03-15 16:11] mattklein123 commented on #15463
PROXY proto is per connection, not per request/stream. Thus, for it to make any sense upstream connections need to be dedicated to downstream clients. This is possible (Envoy has ways of doing this) but it's not typically what you want: you want to use XFF to learn the IP/port info on a per stream basis.

[2021-03-15 16:16] shashankram commented on #11020
@zuercher would you know why this would happen? I haven't been able to find this in the docs.

[2021-03-15 16:29] #12157 closed

[2021-03-15 16:30] #13862 closed

[2021-03-15 16:53] bianpengyuan commented on #14957
Can we please reopen this? Thanks!

[2021-03-15 16:55] qiwzhang commented on #15405
That is a good point.  Then, provider prefixed stat should not be constructed at `ProviderVerifierImpl`, it should be at filter_config.  [here](https://github.com/envoyproxy/envoy/blob/1d1b708c7bf6efa02c41d9ce22cbf1e4a1aeec2c/source/extensions/filters/http/jwt_authn/filter_config.h#L81)

then how do we pass it to authenticator to update it?

maybe pass it as callback interface like [setPayload](ht

[2021-03-15 17:02] nareddyt commented on #15304
Sure, I'll get started on that today.

[2021-03-15 17:32] snowp commented on #15488
I believe you can use the https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/local_reply feature to rewrite the local reply sent by the rbac filter.

[2021-03-15 18:07] nareddyt commented on #15304
@antoniovicente @qiwzhang the benchmark is added in #15493. Fairly interesting - I expected it to be slow, but not slower than the equivalent regex route matchers. I guess building the whole tree structure but not taking advantage of combining multiple routes adds a lot of overhead.

[2021-03-15 18:11] mattklein123 commented on #14957
I think per above we decided to just fix the buggy ENVOY_BUGs? Do we need to reopen this?

[2021-03-15 18:25] jmarantz commented on #15477
Duplicate of https://github.com/envoyproxy/envoy/issues/14363

[2021-03-15 18:25] #15477 closed

[2021-03-15 18:48] sunjayBhatia commented on #13322
Yeah I think we could close this since we have documentation for the various things that are disabled and have plans to have some automated generation around those docs

[2021-03-15 18:49] sschepens commented on #15405
@qiwzhang should we then store the stats in a map or is there another way to the identify the fields in the struct?

[2021-03-15 19:26] PiotrSikora commented on #14957
@mattklein123 yeah, but that didn't happen yet, so let's reopen until the offending `ENVOY_BUG` is fixed (see: #15496).

[2021-03-15 21:40] xiaobinxbw opened #15499 "Override createRouteSpecificFilterConfig in kill_request http filter"
When kill_request http filter is passed in as the route level typed_filter_config, the error below is detected:
<img width="1341" alt="Screen Shot 2021-03-15 at 2 37 34 PM" src="https://user-images.githubusercontent.com/78503218/111224665-029a6f80-859c-11eb-836f-f75ed1528a07.png">

As per the troubleshooting result, createRouteSpecificFilterConfig needs to be overriden in https://github.com/xiaobi

[2021-03-15 21:41] xiaobinxbw commented on #15499
cc @stevenzzz

[2021-03-15 21:43] stevenzzzz commented on #15499
cc @stevenzzzz

[2021-03-15 22:02] #15327 closed

[2021-03-15 22:24] szhou42 opened #15500 "how to properly set UpstreamTlsContext for forward proxy"
Hi,

I am trying to configure envoy as a forward proxy with the following yaml config:
(modified from https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/dynamic_forward_proxy_filter)
[code]
This config work fine when not setting the `transport_socket` field.
However when `transport_socket` is present and configured as above, tls connection to the upstream will fail, could

[2021-03-15 22:47] qiwzhang commented on #15405
Yes,  it will be faster if we use map.

We can define a new Stats struct just like [this](https://github.com/envoyproxy/envoy/blob/1d1b708c7bf6efa02c41d9ce22cbf1e4a1aeec2c/source/extensions/filters/http/jwt_authn/filter_config.h#L53) for each provider prefixed stat and loop through all providers to create the map

[2021-03-16 00:58] kev1n11 opened #15504 "Support referencing http_filter name that is not the default type name in `per_filter_config` or `type_per_filter_config`"
## Problem
We have 2 types of HTTP traffic, with different auth request headers. We would like to apply `ext_authz` filter with different values of `failure_mode_allow` based on the header.

## Attempts
Within a `http_connection_manager`, I've attempted the following:
1.  different filters of the _same_ type, _same_ name --> allowed 🟢, but obviously, I cant disable just one of them 🔴
2. different

[2021-03-16 01:58] kev1n11 commented on #15504
Config snippets
[code]

and this is what results in an error
[code]

[2021-03-16 02:03] woluohenga commented on #1070
Yes, we use TCP and UDP protocols most time. we need server push in these protocols, but I don't find reference of how to push message by TCP\UDP,  I search 'server push' and find this issue, so ask here directly.
In backend server, is there easy way to push message to given client?

[2021-03-16 02:52] wuhuizuo commented on #14860
@alyssawilk I have tried, it used empty http chunked body to establish the tunnel connect, firewall will failed with timeout.The firewall want to buffer the full request body.

[2021-03-16 02:56] wzshiming commented on #15488
Thanks, It sounds like it should work, let me try.

[2021-03-16 03:28] qiwzhang opened #15506 "Add http_pattern_matcher as dependency for envoy dataplane_core"
This is for [#15299](https://github.com/envoyproxy/envoy/pull/15299) to address[ #7763](https://github.com/envoyproxy/envoy/issues/7763)

This issue replaced issue https://github.com/envoyproxy/envoy/issues/15304

Description:
url_template is implemented in this http_pattern_matcher [repo](https://github.com/google/http_pattern_matcher)
In order to support url_template in RouteMatch, need to add t

[2021-03-16 03:28] qiwzhang commented on #15506
@envoyproxy/dependency-shepherds @envoyproxy/security-team

[2021-03-16 03:29] qiwzhang commented on #15304
This issue can be replaced by https://github.com/envoyproxy/envoy/issues/15506

[2021-03-16 03:32] nareddyt commented on #7763
#15493 updates the router benchmarks for URL templates. Surprisingly, the URL template path matcher is much slower than regex based matching. Most likely because route matches are FIFO (as noted above). So we search a separate tree for every single route instead of a single tree.

[2021-03-16 06:37] mathetake commented on #15392
Now I opened a PR for this: https://github.com/envoyproxy/envoy/pull/15509

[2021-03-16 06:49] yiyouguisu commented on #15045
**No password is set for Envoy Listener, but the command is not allowed**

I used go-control-plane to send the configuration to envoy and there was an authorization error.

Envoy starts successfully first and waits for the Pilot to deliver the configuration. After the pilot delivers the configuration, proxy Redis through the envoy。

I test envoyv1.17.0, envoy-1.15.4, the same result under test

![

[2021-03-16 06:55] yiyouguisu opened #15510 "No password is set for Envoy Listener, but the command is not allowed"
**No password is set for Envoy Listener, but the command is not allowed**

@mattklein123 @envoyproxy/redis-dev
 I used go-control-plane to send the configuration to envoy and there was an authorization error.

Envoy starts successfully first and wai for the Pilot to deliver the configuration. After the pilot delivers the configuration, proxy Redis through the envoy。

I test envoyv1.17.0, envoy-1.1

[2021-03-16 07:25] phlax opened #15511 "Switch upda -> xds causing dependency issues"
### description

the `dynamic-config-cp` example is failing in ci - i think because it doesnt have a go.sum entry for cncf/xds (only the old udpa repo)

also the `ext_authz` still refers to the older repo - altho doesnt seem to be failing

as im trying to track that issue im noticing that there may be dep issues with other packages

eg `go-control-plane` has all of the go imports apparently update

[2021-03-16 07:26] phlax commented on #15511
/assign phlax

[2021-03-16 08:24] obeleh opened #15512 "Question: What is the maximum number of routes"
We're using Envoy 15.3 with XDS cluster configuration. 12 vhosts and 1663 routes per vhost. It's for a migration project and that number should go down later. Before that we had a lot fewer routes. We noticed that the first `232` routes work but the rest didn't. I googled a lot but I couldn't find any indication what the limit with regards to configuration are. I tried reading a bit of the C++ cod

[2021-03-16 10:23] jakubdyszkiewicz commented on #15380
@markdroth

thanks for the answer. Just a heads up, I'm on PTO, I'll reproduce it again and deliver logs on next Monday.

[2021-03-16 11:24] mk46 commented on #15357
I think you had skipped any toolchain. Please see https://github.com/envoyproxy/envoy/blob/main/bazel/README.md#building-envoy-with-bazel.

[2021-03-16 11:32] phlax commented on #14971
@arkodg seems like your fix worked! nice one

[2021-03-16 12:03] goudai opened #15514 "I want to act as a proxy for rocketmq, is there any example configuration for reference"
I want to act as a proxy for rocketmq, is there any example configuration for reference。

[2021-03-16 12:28] jmarantz commented on #15510
Is there a specific question or bug here? I think this is just a question, but please clarify if you think this is a bug.

[2021-03-16 12:32] phlax commented on #15514
checking the docs i dont see any https://www.envoyproxy.io/docs/envoy/latest/search.html?q=rocket&check_keywords=yes&area=default

it would be great to add an example or even better a sandbox demonstrating how it works

[2021-03-16 12:51] davidkornel opened #15516 "protobuf: upstream_bind_config is a core.v3.BindConfig instead of an UpsteamBindConfig"
*Description*:
I'm not sure if it's just "misspelt" or it has to be like this, but cluster.upstream_bind_config is a [core.v3.BindConfig](https://github.com/envoyproxy/envoy/blob/main/api/envoy/config/cluster/v3/cluster.proto#L885). I think it should be a [UpstreamBindConfig](https://github.com/envoyproxy/envoy/blob/main/api/envoy/config/cluster/v3/cluster.proto#L1073). This way UpstreameBindConfi

[2021-03-16 13:13] #15511 closed

[2021-03-16 13:23] gster50 opened #15517 "Envoy 1.17 crashing with validation context secret discovery in ads mode on start up"
*Title*: *Envoy 1.17 crashing with validation context secret discovery in ads mode on start up*

*Description*:

*Repro steps*:

*Admin and Stats Output*:

*Config*:

  id: TEST

  cluster: test

  locality:

    region: tor

    zone: dev

admin:

  access_log_path: /apps/valrs/valrs_dev_usr/logs/envoyproxy.admin.access.log

  address:

    socket_address:

      address: 0.0.0.0

      port_valu

[2021-03-16 13:24] Green7 commented on #15309
Yes its is dangerous but now we have no choice. With enabled idle_timeout GRPC streams are closed if no GRPC messages are sent. Is it possible for Envoy not to close streams if pings are sent at the HTTP2 level?
If not, we need to add additional messages for keeping connections.

[2021-03-16 13:24] yiyouguisu commented on #15510
Sorry, I didn’t write it clearly. I think this should be a bug. I didn’t configure  downstream authentication password, but Envoy asked me for password authorization, and when I tried to execute the auth command, Envoy returned "ERR Client sent AUTH, but no password is"

[2021-03-16 13:30] jmarantz commented on #15510
Is Envoy sending that response itself? Or proxying it from origin?

[2021-03-16 13:35] yiyouguisu commented on #15510
Upstream server is configured Redis password, Listener is not configured,
[code]
And I direct to connect upstream Redis server is ok.

[2021-03-16 14:05] goudai commented on #15514
Can you have a RedisClister example similar to the following, can you tell me how to configure RocketMQ proxy
[code]

[2021-03-16 14:31] alyssawilk commented on #1070
HTTP/2 server push is orthogonal of raw pushing raw TCP and UDP from server to client.  I think you're trying to tackle a different problem :-)

[2021-03-16 14:42] twghu commented on #15283
I've been reviewing
- [#77efb4799d906400b97b43d6c2ed0b5d8369b2fc](https://github.com/envoyproxy/envoy/pull/11639)
- [#8c7df0f08bd86bbeebaee3773b79cf6e3949fe3c](https://github.com/envoyproxy/envoy/pull/11403)
The implementation of a drain-speed implies the concept of *rate* Additionally the code in   listener_manager.cc stopListeners() would on first inspection seem a logical place to implement any

[2021-03-16 15:11] delong-coder commented on #15325
Hi @mattklein123 @alyssawilk
I created a PR for the short design doc, please take a look:
https://github.com/envoyproxy/envoy/pull/15519/files
After that we can contribute our code, thanks.

[2021-03-16 17:06] juanvasquezreyes opened #15522 "Retries Tracing Question"
I'm running envoy with jaeger native tracing

is it possible to get the number of retries of a request and store it in jaeger with a tag?

This is my current retry mechanism
[code]

and I would like to see in jaeger UI how many times we retry with a tag or something

[2021-03-16 18:08] mattklein123 commented on #15448
I think this is fixed via https://github.com/envoyproxy/envoy/pull/15431

[2021-03-16 18:08] #15448 closed

[2021-03-16 18:32] auni53 commented on #15283
The suggestions in this thread sound reasonable to me. I'm not clear on where you're seeing `drain-speed`; `drain-time` refers to the duration of the drain period. See my [original design doc](https://github.com/envoyproxy/envoy/issues/10592) which might be a useful illustration.

The original draining behaviour, i.e., drain-strategy=immediate, does an algorithm where the probability of a request

[2021-03-16 19:07] alyssawilk commented on #15309
Arguably you can have high timeouts instead of no timeouts, but then there's the risk as you say of closing out hanging connections. AFIK there's no way to keep an individual stream alive with an H2 ping, though I could imagine having no stream level timeout, a connection timeout which applied even with streams present to avoid leaks, and a ping keeping that one alive.

[2021-03-16 19:21] yangminzhu commented on #15488
The `local_reply` in HCM should work.

I feel it might worth to still add first-class supports in the RBAC filter for customizing the local response?
One benefit is it could potentially give more flexibility, for example, different response for different RBAC rules, embed policy name in response for debugging purpose. Just commenting the idea here for some more comments from the community.

[2021-03-16 20:24] mattklein123 commented on #15504
@kyessenov @htuch I've lost the thread on this issue but IIRC the plan here is to allow the name field to be used for disambiguation. Right? Are there code changes required to make that happen? Do we have an issue tracking that?

cc @phlax

[2021-03-16 20:26] mattklein123 commented on #15512
There is no explicit limit on the number of routes, other than memory usage and the fact that right now route picking is a linear FIFO scan.

[2021-03-16 21:37] efimki opened #15528 "~GrpcMuxWatchImpl() uses watches_.remove(this) which traverses the list."
*Title*: ~GrpcMuxWatchImpl() uses watches_.remove(this) which traverses the list.

*Description*:

~GrpcMuxWatchImpl() uses std::list::remove() to remove itself from `watches_` list.
This traverses the list and takes O(N) for each destruction.
We could speed things up to O(1) if GrpcMuxWatchImpl would keep a list iterator for itself and used std::list::erase() instead.

[2021-03-16 21:39] stevenzzzz commented on #15528
cc @htuch @chaoqin-li1123 @stevenzzzz

[2021-03-16 21:39] stevenzzzz commented on #15528
let's do similar trick as is done in https://github.com/envoyproxy/envoy/pull/11751

[2021-03-16 21:40] stevenzzzz commented on #15528
cc @htuch
cc @chaoqin-li1123

[2021-03-16 21:41] stevenzzzz commented on #15528
/cc @htuch

[2021-03-16 22:01] chaoqin-li1123 commented on #15528
Yeah, I think we can store the list iterator and use it for constant time removal.

[2021-03-16 23:12] #9328 closed

[2021-03-16 23:57] lambdai commented on #15516
Good catch. I think we should deprecate `UpstreamBindConfig`  though it's more accurate. Cc @htuch

[2021-03-17 00:01] #15188 closed

[2021-03-17 00:03] lambdai commented on #15516
I use BindConfig to bind source ip.
BindConfig::SockAddress contains port (source port) as you need
`uint32 port_value = 3 [(validate.rules).uint32 = {lte: 65535}];

[2021-03-17 00:14] lambdai commented on #15283
IIRC the current DrainManager controls drain hint, but end up with an action `close all connection`.

A partial drain requires both controllable deterministic hint, e.g. not ideal if it answers "should drain" and answer "should not drain" on the same connection.
Also the action should be close the preselected connections

[2021-03-17 00:17] lambdai commented on #15517
Is this a feature request that SDS should support ADS as config source?

[2021-03-17 00:24] lambdai commented on #10159
Looks like the underlying ares library create the socket fd to dns server.
It's not clear to me when that socket is created, what source address is bind. It's would be nice if Envoy has an ares channel rotation

A workround would be a  bootloader for envoy, heuristically, the bootloader starts envoy after a non ::1 address on nic

[2021-03-17 01:20] htuch commented on #7763
@nareddyt I understand from https://github.com/envoyproxy/envoy/issues/7763#issuecomment-789260026 the possible advantage of grouping related matches into a tree, but in #15493 we're racing RE2 and the path matcher head:head, surely they should, for a single match, be comparable?

[2021-03-17 01:47] htuch commented on #15504
I think this is https://github.com/envoyproxy/envoy/issues/12575 CC @mandarjog @markdroth

[2021-03-17 01:50] htuch commented on #15528
Sure, makes sense.

[2021-03-17 01:56] htuch commented on #15516
Yes, this should be marked as deprecated at message level and comments added to that effect. This is pretty confusing, I agree.

[2021-03-17 04:13] ramaraochavali opened #15530 "routes timeout is ignored if we set max stream duration"
It looks like when we set `timeout` at route and specify `max_stream_duration` for ` grpc_timeout_header_max`  Envoy is ignoring the timeout value and never timing out the route because max_stream_duration's max_stream_duration is not set for http1 requests. Is this intended behaviour?

Here is the route config
[code]
In this case, we are expecting http1 requests to honour the timeout specified. B

[2021-03-17 04:16] ramaraochavali commented on #15530
@alyssawilk thoughts?

[2021-03-17 04:27] ramaraochavali commented on #15530
https://github.com/envoyproxy/envoy/blob/main/source/common/router/router.cc#L157 - Specifically this is not set if usingNewTimeouts i.e. MaxStreamDuration is set.

[2021-03-17 05:01] rohrit commented on #15438
Any clues as to why OPA does not get called for HTTP CONNECT requests? Is there any obvious issue with the configuration used. Any help would be greatly appreciated!

[2021-03-17 08:32] nickolaev commented on #10552
On ubuntu 20.04 I had to install `python-is-python3` for a similar problem. Might not be related though.

[2021-03-17 09:31] YaoZengzeng opened #15533 "/usr/bin/ld.gold: out of memory"
I tried to build [vpp-envoy](https://github.com/florincoras/envoy-vpp) but the following problem is encountered:

[code]

My building environment is as follows：

8 CPU, 30GB Memory

[code]

Any ideas?

Thanks!:)

[2021-03-17 09:35] mk46 commented on #15528
I am taking this. PTAL to linked PR.

[2021-03-17 10:01] littlegreyzhang commented on #15510
@jmarantz If I start envoy before starting pilot .
[https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/network/redis_proxy/conn_pool_impl.cc](url)
[code]
The cluster can’t be gotten . So the auth_password_ will be empty when using it later .

[2021-03-17 11:54] mk46 opened #15536 "Unable to build docs locally."
Followed https://github.com/envoyproxy/envoy/tree/main/docs#building-documentation-locally.
Command `./docs/build.sh`  throw exception
[code]

[2021-03-17 11:55] mk46 commented on #15536
CC @phlax

[2021-03-17 13:16] phlax commented on #15536
hmm - as a workaround for now you can do

[code]

[2021-03-17 13:42] guillaumemaka commented on #15219
Hi @dio I put a work in progress repo [https://github.com/guillaumemaka/envoy_external_auth_protoc_ts/tree/add_bazel_build_tool](https://github.com/guillaumemaka/envoy_external_auth_protoc_ts/tree/add_bazel_build_tool)

Instead of copy/pasting all .proto files, I put the envoyproxy/data-plane-api project as a bazel dependencies like that:

bazel/repository_locations.bzl
[code]

bazel/repositories.

[2021-03-17 14:00] mk46 commented on #15536
@phlax Thanks. Should we mention the same in https://github.com/envoyproxy/envoy/tree/main/docs#building-documentation-locally as of now?

[2021-03-17 15:10] mattklein123 commented on #15517
No matter what it shouldn't crash, so let's at least fix that?

[2021-03-17 15:14] mattklein123 commented on #15536
I think the error message is pretty clear but please feel free to update the link above.

[2021-03-17 15:14] #15536 closed

[2021-03-17 15:26] mk46 commented on #15413
Hi @ankatare, First response from service1_1  (curl -i localhost:8000/service/1/valid-for-minute) will contains no age header as expected. After that, any request from service1 will be served cache filter for 60s will have `age header`.
I have verified the above. Please see service1 log
[code]
Please LMK how you're producing?

[2021-03-17 15:35] markdroth commented on #15504
See also #12274.  Maybe this and #12575 are both dups of #12274?

[2021-03-17 15:37] markdroth commented on #12575
Is this a dup of #12274?

[2021-03-17 15:48] alyssawilk commented on #15500
I think this is the same issue as in https://github.com/envoyproxy/envoy/issues/11308

Basically the upstream TLS is applied to the entire HTTP request including the CONNECT
I suspect what you want, is to have the CONNECT in plaintext, and payload encrypted, which is not currently supported without doing 2 passes.  In this case I think it'd be forwarding the HTTP payload over an "upstream" loopbac

[2021-03-17 15:56] #15414 closed, assigned to nobody

[2021-03-17 15:59] #15400 closed, assigned to nobody

[2021-03-17 16:30] auni53 commented on #15407
Ah I just meant that the test failed due to a timeout, not a test failure.

[2021-03-17 16:40] mattklein123 commented on #15504
Yeah agreed. Dup of https://github.com/envoyproxy/envoy/issues/12274.

[2021-03-17 16:40] #15504 closed

[2021-03-17 16:40] mattklein123 commented on #12575
Yeah dup of https://github.com/envoyproxy/envoy/issues/12274

[2021-03-17 16:40] #12575 closed

[2021-03-17 16:52] #14934 closed

[2021-03-17 17:40] ankatare commented on #15413
@mk46 yeah. next and subsequent request < 60 Sec for service_1 should have age header (i.e. cached response).

[2021-03-17 17:40] ankatare commented on #15413
also it seems working fine now on latest code. Thanks !!!

[2021-03-17 17:41] #15413 closed

[2021-03-17 17:42] ankatare commented on #15413
We can close this now as it is non repro on latest code.

[2021-03-17 17:44] elithrar commented on #7763
@qiwzhang - since #15299 tackles the path matching only - do you also intend to include expanding the RouteAction to support template-based rewrites as part of this overall effort?

We may also need to clarify how `prefix_rewrite` works (if at all) in conjunction with `url_template`, and decide on the Envoy-side design (naming, behaviour) for a `url_template_rewrite` (or similar) field.

[2021-03-17 18:18] RobIsHere commented on #15207
How should you find an error when an error message looks like
" Unknown field in: { ...dump of whole config file... }"

Could at least the name of the offending field be put into the error message?
" Unknown field 'some.offending.field' in: { ...dump of whole config file... }"

Sorry that reminds me of some linux tools in the 90s when you had to use m4 macro compiler to compile a config and got ba

[2021-03-17 18:35] RobIsHere commented on #15207
Downgraded to envoy 1.16.2 - that shows a lot more error messages with details.

[2021-03-17 19:54] jessicayuen opened #15541 "Invalid metric format emitted for stats where to-zone/from-zone is empty"
*Title*: *Invalid metric format emitted for stats where to-zone/from-zone is empty*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

Stats are being emitted from Envoy with consecutive `..` between namespaces due to empty to-zone,
for example:
[code]

*Repro steps*:

required to reproduce the bug.

Do not specify an AZ for an upstream cluster.

[2021-03-17 20:22] #15156 closed

[2021-03-17 20:30] danzh2010 commented on #15407
The test is already sharded. I'll increase test_size to give it longer time.

[2021-03-17 20:57] hugree commented on #14831
@hania-elayoubi how were you able to apply the rate limit option on outbound routes?

the only working local rate limit config I have is for this setup:
[code]

when I true to use outbound or any other route from Istio config i.e. `my-service.svc.cluster.local:8080` the rate limit listeners are not being propagated to Envoy and it stops working.

[2021-03-17 21:30] hania-elayoubi commented on #14831
@hugree  I learned this the hard way :)  The syntax of
[code]
is for **inbound** traffic at port 8080.

For **outbound**, look up the vhost name like this:

[code]

(That is $PODNAME DOT $NAMESPACE )

You will see all the virtualHosts and routes for your sidecar.

For example, for the following **outbound** virtual host from my pod to **prometheus**

[code]

I would configure it this way for **out

[2021-03-17 21:39] hugree commented on #14831
@hania-elayoubi thanks for the response. I've already tried that
[code]
this is my service. Even if I stick to inbound which is pretty much my goal here this works:
[code]
but this doesn't
[code]

I think my setup is correct but for some reason only the "inbound|http|8080" route works but not the one I need.

In general I'm trying to exclude my prometheus endpoint in this service from being thrott

[2021-03-17 21:44] hania-elayoubi commented on #14831
@hugree so you want to apply this http filter between this pod and payment-service

May I suggest `context: SIDECAR_OUTBOUND` or even `context: ANY` ? I am pretty sure `SIDECAR_INBOUND` won't work for outbound traffic between pod and payment-service.

1. Also, which Envoy are you applying this to? istio-ingressgateway or the sidecar in your namespace?
2. What do you have for `spec.workloadSelector

[2021-03-17 21:46] jimaek commented on #12043
Any news on this issue? We are running into it in production as well

[2021-03-17 21:47] hugree commented on #14831
My workload selector is based on the app (pod) I'm applying the config to. I think I want to use inbound because it's for the incoming traffic. I'm applying it to the sidecar.

This is my whole config
[code]

[2021-03-17 21:55] mattklein123 commented on #12043
I think this is probably fixed by https://github.com/envoyproxy/envoy/pull/15195. Please try on a version that has that commit.

[2021-03-17 21:55] hania-elayoubi commented on #14831
@hugree  ok so for inbound traffic, "payment-service.devops.svc.cluster.local:8080" is the wrong syntax.

Your original question was about outbound. The inbound or outbound depends where you set it (istio-ingressgateway or pod)

If you want to set the http filter in istio-ingressgateway, then that is outbound from that Envoy.

If you want to set it for all traffic going into pods with label `app=p

[2021-03-17 22:07] hugree commented on #14831
Thank you for clearing that up ❤️ . This makes sense :)

One last question... is there any way I can filter this inbound traffic and apply the rate limit config but only for a certain path? Or at least exclude some paths like /prometheus that I'd like NOT to be throttled?

[2021-03-17 22:17] hania-elayoubi commented on #14831
I recently tried to do this inbound in the sidecar pod, and my conclusion was if `/prometheus` is served on the same port, to the Envoy sidecar, it is all at `"inbound|http|8080"`, and I wasn't able to exclude it from rate limiting for that reason.

If you want to make this http filter exclusive for different paths, I suggest serving them on a separate **ports** (you'll probably need to update you

[2021-03-17 22:29] davinci26 commented on #13322
Closing based on the discussion in the windows-dev group and the comment above.

[2021-03-17 22:29] #13322 closed

[2021-03-17 22:45] hugree commented on #14831
Actually I can change this port and I guess that will work just fine.

I still would like to be able to select the path but I will play around with a proper ingressgateway -> sidecar proxy config that will allow me to apply the outbound rules. Which should also mean I can apply a dedicated virtual service that should allow me to specify the path too 🤞

Thanks for the advice!

[2021-03-17 22:49] hania-elayoubi commented on #14831
Yes! I recall this was possible outbound from ingressgateway by enhancing the Istio VirtualService with paths.

In my case, I didn't want to update the ingress gateway for every rate limit config in the cluster, so I had to do this on the sidecar over separate ports.

Good luck! :)

[2021-03-17 23:03] mattklein123 commented on #15541
cc @jmarantz I think Jess is going to fix this but may reach out to you for tips.

[2021-03-17 23:07] #15528 closed

[2021-03-18 01:04] shashankram commented on #9310
Hey @budanm, I have seen this issue as well. Was this root caused, if yes - what was the problem?

[2021-03-18 03:30] YaoZengzeng commented on #15533
It will be ok to link against libc++, weired :)

[code]

[2021-03-18 03:30] #15533 closed

[2021-03-18 03:57] littlegreyzhang commented on #15510
@jmarantz
Why put the auth_username_&auth_password_ in the construction ?

If I update the password of Cluster by cds when Listener and Cluster are running normally . And then the auth_password_ of ThreadLocalPool may not change .

So can I change these 2 lines into the function [**void InstanceImpl::ThreadLocalPool::onClusterAddOrUpdateNonVirtual(
    Upstream::ThreadLocalCluster& cluster)**] ?

[2021-03-18 05:01] ankatare commented on #12043
Great News. Thanks @mattklein123 .

[2021-03-18 05:08] mathetake commented on #15487
^ @asraa any comments?

[2021-03-18 07:25] phlax commented on #15456
/assign phlax

[2021-03-18 07:26] phlax opened #15552 "Flake8 linter in CI is trying to use python 2"
### description

the flake8 linter in CI is trying to use python 2 and failing

its also not failing CI when it fails - related #15313 #15456

[2021-03-18 07:39] hobbytp commented on #15467
@caoyukun0430 The sleep function will be interrupted by signal, and dispatcher does not disable signal, that is why the 2nd signalterm interrupt the sleep function.

[2021-03-18 07:48] vinzo99 commented on #12043
Hi,
this means the next freeze including that fix will be `v1.17.2`, right ?

[2021-03-18 08:08] #14952 closed

[2021-03-18 08:11] ankatare commented on #12043
@vanhtuan0409 Hi, could you pls check  #15195

[2021-03-18 10:59] ramaraochavali commented on #15530
Looking at the original API PR https://github.com/envoyproxy/envoy/pull/13018 - looks like its primarily intended for grpc timeouts and streams. It accidentally changing the behaviour of the original `timeout` field for http requests seems to be undesirable atleast from what I understand from the conversation.

@snowp @mattklein123 @htuch Is that correct or it is intentional that we when we specif

[2021-03-18 11:54] zarianec commented on #12043
We just tested our setup with the latest dev build of envoy and it still crashes.

Version:
[code]

**How we configure the envoy:**
We use filesystem xDS and trigger the changes with:

[code]

**Static config:**

[code]

Initial `lds-config.yaml` and `cds-config.yaml` are empty.

**Add some configs:**

`cds-config.yaml`:

[code]

`lds-config.yaml`:

We start with the TCP on 3000 port for both clus

[2021-03-18 12:03] #14852 closed

[2021-03-18 12:05] ankatare commented on #12043
@zarianec Would you please try on a version that has that commit. see #15195

[2021-03-18 12:18] zarianec commented on #12043
Isn't it merge to the main branch yet? I tried with the official dev build from main branch and thought it already contains this fix.

https://hub.docker.com/layers/envoyproxy/envoy-dev/2c8f6639ba2fc1b83af5c95115045fb8b1b9fc88/images/sha256-e76cd3baac22315fd44bed20338194a93d73247bbfce0814967bfbeeed893a72?context=explore

[2021-03-18 12:26] ankatare commented on #12043
@zarianec humm. Ideally it should have merged in main. Let @mattklein123 to check this.

[2021-03-18 12:43] jmarantz commented on #15541
@jessicayuen if you've started on this please lmk if you have any questions. I had forgotten the details on why the loop in SymbolTableImpl::addTokensToEncoding does not just skip empty tokens.

[2021-03-18 12:43] davidkornel commented on #15516
@lambdai UpstreamBindConfig works with HTTP, but not with UDP.
I tried using it with UDP, but it looks like it doesn't work with it.

I extended my cluster's config with the following code :

upstream_bind_config:
      source_address:
        address: 127.0.0.2
        port_value: 9999

After that I setup a socat sender to my envoy listener `socat -d -d - udp:127.0.0.1:10020` and a socat receiver

[2021-03-18 12:58] phlax opened #15555 "Occasional openssl flake in CI"
### description

there is sometimes failures generating ssl certificates, eg:

[code]

not sure what the cause is but perhaps an openssl bug

if it is the same as described here:

https://github.com/openssl/openssl/issues/7754#issuecomment-598808341

then doing:

[code]

before generating the certifcates seems to fix

[2021-03-18 12:59] jmarantz commented on #15510
Sorry -- I'm actually not going to be able to go deep on this particular bug; I was just trying to triage the issue briefly. Hopefully someone more familiar with the Envoy redis integration will be able to help.

[2021-03-18 13:06] #15407 closed

[2021-03-18 13:08] #15313 closed

[2021-03-18 13:08] littlegreyzhang commented on #15510
That's ok . I will submit a PR for discussion on this issue .

[2021-03-18 13:08] #15456 closed

[2021-03-18 13:08] #15552 closed

[2021-03-18 13:10] htuch commented on #15516
I think there is confusion here. There is the `UpstreamBindConfig` message, which nothing references, and should be deprecated, and the `upstream_bind_config` field, which actually has message type `BindConfig`. Re: UDP support, tagging @danzh1989 @alyssawilk

[2021-03-18 13:16] davidkornel commented on #15516
Yeah sorry, you are right. I meant upstream_bind_config instead of UpstreamBindConfig. I understand that it should be deprecated. Thanks for tagging them.

[2021-03-18 14:34] mk46 commented on #15555
Is this failing only in `verify example`?

[2021-03-18 14:53] asraa commented on #15487
Found the issue
https://github.com/envoyproxy/envoy/issues/13756

[2021-03-18 14:54] phlax commented on #15555
as far as i have seen - yep

[2021-03-18 15:08] phlax commented on #15555
here is an example fail on the post-submit queue

https://dev.azure.com/cncf/envoy/_build/results?buildId=69466&view=logs&j=f1a49366-51c0-540f-0294-f73c2bb311a9&t=7fd036c9-61ec-5b59-3645-e90950dc67a6&l=2073

[2021-03-18 15:20] asraa commented on #15555
I see this issue in https://github.com/envoyproxy/envoy/pull/15263
but I've re-ran about 6-7 times now with no luck on success. It says that grpc-bridge is failing, any advice for debugging?

[2021-03-18 15:32] phlax commented on #15555
so further info re this bug

- it doesnt happen when i run the examples locally
- it happens on every ci run - even those that pass

im going to add the `touch` workaround to see if that makes a difference...

[2021-03-18 16:11] phlax commented on #15030
bump

[2021-03-18 16:49] gramidt commented on #9958
As a member of the OpenTelemetry community, I thought I would share that the OpenTelemetry Tracing specification 1.0.1 has been released.

Long term support includes:

* API: 3 year support guarantee
* Plugin Interfaces: 1 year support guarantee
* Constructors: 1 year support guarantee

Announcement blog: https://medium.com/opentelemetry/opentelemetry-specification-v1-0-0-tracing-edition-72dd08936

[2021-03-18 16:59] mattklein123 commented on #12043
OK if it still crashes with the fix it's a different issue. I will try the repro instructions later today.

[2021-03-18 17:05] yashwant121 commented on #15453
Hi @phlax
Can I work on this issue?

[2021-03-18 17:12] phlax commented on #15453
hi @yashwant121 - yep that would be great

i think the `tools/dependency/release_dates.py` requires some tests

are you familiar with using pytest already ? and bazel ?

[2021-03-18 17:18] sonhal opened #15558 "Error in example config for WASM"
*Description*:
Example configuration at: https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/wasm_filter#example-configuration has two config labels. Envoy crashes with the example config.

[2021-03-18 17:30] yashwant121 commented on #15453
I have some experience of adding coverage via Gtest, in cpp, Learning abt pytest & bazel will be fun.

[2021-03-18 17:34] phlax commented on #15453
k - so probably the initial challenge is getting the test runner in place.

as pytest is not currently used in the envoy codebase we dont have a working example/setup to copy from.

perhaps i should raise a PR to add a test runner and then you can pick my commit once its working ?

[2021-03-18 17:40] yashwant121 commented on #15453
that's great.

[2021-03-18 17:51] sanya2022 commented on #11174
Hello. @nbeny Did you find any solutions? I have the same problem and I don't want to split eds on a big number of files.
I know that we can use the same list in one file for clusters and it's working perfectly. Why we can't use it for eds?

[2021-03-18 17:54] phlax commented on #15453
give me a day or so to add the PR and i will ping you

[2021-03-18 17:57] mattklein123 commented on #15516
Can you open a separate issue on this? I can fix this. I assume your full config is using udp_proxy? The problem with bind config with a single port is it breaks session tracking, so it needs some thinking. Let's discuss in a different issue.

[2021-03-18 18:26] PiotrSikora commented on #15487
@asraa thanks!

@mathetake we should probably fix this at the Wasm level anyway, not only to avoid the crash (since that's going to be fixed in #13756), but also to notify the plugin.

The issue is that currently we return `WasmResult::BadArgument` in case of bad `map_type` value, so I'm not convinced if we should reuse the same value in case of missing `:status` (or `:authority`, `:path` or `:sch

[2021-03-18 18:38] mattklein123 commented on #12043
@zarianec can you provide your bootstrap config so there is a self contained repro that I can do?

[2021-03-18 18:42] zarianec commented on #12043
`/app/envoy/envoy.yaml`:

[code]

And I start it with the command:

[code]

No additional flags or anything.

[2021-03-18 18:46] davinci26 opened #15559 "Various configs use http2_protocol_options deprecated field"
Various configs use (see `front-envoy-*.yaml` and others):

` http2_protocol_options: {}` which is deprecated instead of
[code]

[2021-03-18 18:51] davinci26 commented on #15559
I identified the following configs:

[code]

[2021-03-18 18:57] mattklein123 commented on #12043
OK thanks I will take a look.

[2021-03-18 18:59] phlax commented on #15559
@davinci26 what is the default ?

im wondering if we can just remove them - the newer way seems complicated to just set an empty `{}`

[2021-03-18 18:59] mattklein123 commented on #15559
cc @alyssawilk ^. How did this pass CI in the first place? I thought we force fixing all deprecated configs?

[2021-03-18 19:03] jmarantz commented on #15541
Making the above change results in just two unit tests failing that just need regolds I think, and the fuzz test.

Do you have a unit test for this specific issue?

[2021-03-18 19:12] alyssawilk commented on #15559
setting http2 protocol options in the cluster config is deprecated
https://github.com/envoyproxy/envoy/blob/main/api/envoy/config/cluster/v3/cluster.proto#L798
but setting http2 protocol options in the *http* config is not.
https://github.com/envoyproxy/envoy/blob/main/api/envoy/extensions/upstreams/http/v3/http_protocol_options.proto#L69

If you take a look at the config you pasted it's using the

[2021-03-18 19:36] davinci26 commented on #15559
I probably got confused somewhere when I was reading the `examples\cors\frontend\front-envoy.yaml`

[code]

[2021-03-18 19:54] alyssawilk commented on #15559
hm, yeah, that's way definitely concerning.

bazel test --define deprecated_features=disabled  //test/config_test:example_configs_test  should be failing for bad configs and I checked that file is definitely run by the test.

[2021-03-18 20:03] #14986 closed

[2021-03-18 20:11] davinci26 commented on #15559
I think that this test is loading the configs as v2 in some cases but I don't understand why. I observed that in #15461 which adds a new property in `bootstrap` proto and one test in `example_configs_test` is failing with:

[code]

[2021-03-18 20:19] phlax commented on #15559
i hit this before it loads as v2 and then tries to upgrade iirc #13817

[2021-03-18 20:52] mattklein123 commented on #12043
I'm able to repro this but I'm pretty sure that the issue that @zarianec reports is a different issue than the other crashes which I think are fixed by my other change. I will debug this new config crash.

[2021-03-18 21:28] jessicayuen commented on #15541
Thanks @jmarantz I plan to make the fix over the week. I don't believe there is a unit test for this issue since we internally caught this via a metrics audit of the /stats endpoint. I'll add a test though. Will reach out to you if I have any questions!

[2021-03-18 21:35] jmarantz commented on #15541
For a unit test I was thinking something in upstream_impl_test that poked in an empty zone and verified that the right stat-names get created.

The fix should be easy.

[2021-03-18 23:33] #15418 closed

[2021-03-18 23:38] davinci26 commented on #15559
That would explain what I am seeing. The configs above can be loaded as v2 and in v2 the features are not deprecated so no update takes place and the test passes.

When I add a new property that is forced to load it as v3 and then I see:

[code]

[2021-03-19 00:48] jessicayuen commented on #15541
perfect, looking for something small to help me get acquainted with the codebase :)

[2021-03-19 00:52] mattklein123 opened #15562 "listener: replacing a listener with same port but TCP -> UDP crashes"
The following code needs to take into account TCP vs. UDP otherwise we end up trying to create a new TCP listener for a UDP configuration.

https://github.com/envoyproxy/envoy/blob/9a89e312432de6ce26b9e125e4711d4445f9f2c3/source/server/listener_manager_impl.cc#L502-L509

[2021-03-19 00:53] mattklein123 commented on #15562
This is a follow on from the issue reported here: https://github.com/envoyproxy/envoy/issues/12043#issuecomment-801862107 by @zarianec.

cc @lambdai FYI

[2021-03-19 00:54] mattklein123 commented on #12043
The issue reported by @zarianec is new so I opened https://github.com/envoyproxy/envoy/issues/15562 to track that. I'm going to close this issue because I the originally reported crash has been fixed.

[2021-03-19 00:54] #12043 closed

[2021-03-19 01:36] jmarantz commented on #15541
Great. Happy to help. Quick suggestion; if you haven't seen it, you might wan to take a quick look at https://github.com/envoyproxy/envoy/blob/main/source/docs/stats.md#stat-naming-infrastructure-and-memory-consumption to get an idea of the StatName structure.

[2021-03-19 02:02] style95 commented on #15305
Does anyone have any idea about this?

[2021-03-19 03:33] qinggniq opened #15565 "Question: Is there are any way to determine whether is a terminal filter at runtime?"
*Title*: *Is there are any way to determine whether is a terminal filter at runtime*

*Description*:
Put `is_terminal` flag at proto file, and return deferent filter logic base on the flag.

[2021-03-19 06:12] Asdprom opened #15566 "Upstream TLS to gRPC doesn't work"
I have gRPC backend service with TLS enabled, and the client is using REST API.

envoy-conf.yaml:
[code]

Certificates are correctly forwarded, and the downstream works, at first glance, normally.
But I still get an error that apparently occurs when trying to establish TLS handshake with gRPC backend.
[code]
gRPC Backend TLS is working correctly when not using envoy.
 I am unable to find what is g

[2021-03-19 07:51] xocodergit commented on #6453
@mergeconflict Hi dan, your proposal in this Issue is greate and thanks to your contribution, it looks very useful. I've read your code and noticed I need to create and install it manually, since I really not well known about Envoy, I totally have no idea about how to do these things, If there are any example or documentations i would very appreciated

[2021-03-19 08:00] sunnoy commented on #14363
Our equipment is distributed all over the world, code changes are convenient, but equipment updates are almost impossible to complete

[2021-03-19 10:01] jefflaifu opened #15569 "can't get any informations from request header when process request body ? (ext_proc)"
I'm using ext_proc to implement some functions with ext_proc. An important case is that I want to get request_headers when I process request_body, but I can't.  Is there any solution?

[2021-03-19 10:46] durzo opened #15571 "Redis custom health check config not working as per documentation"
envoy version: 9a89e312432de6ce26b9e125e4711d4445f9f2c3/1.18.0-dev/clean-getenvoy-76c310e-envoy/RELEASE/BoringSSL

Going off these docs pages:
  * https://www.envoyproxy.io/docs/envoy/latest/configuration/upstream/health_checkers/redis
  * https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/health_checkers/redis/v3/redis.proto

My yaml config:
[code]

produces:
[code]

Am I doing somethi

[2021-03-19 11:39] jtway commented on #14363
I plan on circling back to this, but have been delayed by a few other priorities.

[2021-03-19 12:33] snowp commented on #15569
@gbrail

[2021-03-19 12:47] jmarantz commented on #15530
@adamsjob FYI

[2021-03-19 13:14] #15555 closed

[2021-03-19 14:25] snowp commented on #15565
What do you mean by runtime here? I believe the terminal filter check is for a config load check to prevent people from putting a terminal filter in the middle of their filter chain, so I'm not sure if being able to change this on a per request basis would be helpful?

[2021-03-19 14:55] wrowe commented on #9019
Please refer to the controlling RFC;  https://tools.ietf.org/html/rfc7230#section-3.2.2

the Proxy is behaving correctly, per this specification.

The RFC is very specific that the server (the -origin- server) is responsible for the
correct representation, and the proxy could be configured to 1) reject such
responses entirely or 2) allow the user to configure transformation of that particular
head

[2021-03-19 14:58] phlax opened #15572 "Verify examples flake (removing network)"
### description

not sure of the cause of this one, but i have seen the following fail in the verify examples ci run:

[code]

[2021-03-19 15:13] wrowe commented on #9019
If you would rename this issue as "Filter request: Deduplicate response header tokens" as the subject, that would be helpful.

TIA.

[2021-03-19 15:16] mk46 commented on #15571
Thanks @durzo, Seems like the wrong `typed_config` mention in the configuration.  https://www.envoyproxy.io/docs/envoy/latest/configuration/upstream/health_checkers/redis
Please use `type.googleapis.com/envoy.extensions.health_checkers.redis.v3.Redis`. I will update the same.

[2021-03-19 15:56] lambdai commented on #15472
@vinzo99 Since you are the author of #13897
Do you think this proposal is helpful before the http upstream filter(#10455)?

[2021-03-19 16:17] gbrail commented on #15569
Glad you're interested in the new filter!

That's why the filter uses a gRPC stream. The idea is that your external processor will first receive a request_headers message, send back a reply, and then receive a request_body message. If it needs access to the request headers while processing the body, it needs to store them. However, since the request headers and body both arrive on the same stream,

[2021-03-19 17:07] davinci26 commented on #11975
I have an unfortunate update. I have been looking some solutions internally at Microsoft and I looked into Codespaces for Windows. Unfortunately their timelines are not matching ours and this is not going to solve our problem for the foreseeable future.

[2021-03-19 17:27] mattklein123 commented on #14363
@jtway I would like to see this closed out so I can potentially work on this. Let me know if you won't get to it soon.

[2021-03-19 17:31] mattklein123 commented on #15530
@ramaraochavali yeah I agree this is a bug. Can you work on a proposed fix?

[2021-03-19 17:35] jtway commented on #14363
How soon were you thinking? As I am still figuring out the specifics of how the suggested approach would work, I would be open to you taking this on. This will largely be a "as time permits" task for me, as we have a work around. I'm still relatively new to the Envoy ecosystem, and the suggested approach contained a lot more moving parts than I was thinking it did at first glance.

I can definitel

[2021-03-19 17:47] #15571 closed

[2021-03-19 17:48] mattklein123 commented on #14363
I can probably work on this next week, so if you want to clean up the gdoc that would be helpful.

[2021-03-19 17:51] jtway commented on #14363
I will try to make the time to update as much as I can, and flush some areas out by CoB Monday. It no doubt will still be woefully incomplete, but I do hope it will at least save a little time.

[2021-03-19 18:14] wrowe commented on #13964
Addressed in PR #15202, closing

[2021-03-19 18:14] #13964 closed

[2021-03-19 18:41] gster50 commented on #15517
I've seen that tls_certificates sds does support ads mode. Is it correct, that validation_context sds does not? I didn't know that.

And if so, is there a reason that it's supported for tls but not validation_context? Thanks

[2021-03-19 20:07] nareddyt commented on #15345
No, file upload like this is not supported by the filter or gRPC itself.

If your gRPC backend needs to handle file upload, you would do something like this: https://stackoverflow.com/a/47385602/4402434

Then based on the transcoder configuration, you can send client-streaming HTTP requests with the metadata+data in the request body. Something simple like `curl -F data=@file.targz` will not work.

[2021-03-19 20:29] ejona86 opened #15579 "Behavior for CidrRange with unspecified prefix_len"
As part of https://github.com/grpc/proposal/pull/231 I was digging through some detailed behavior of Envoy.

CidrRange has a `google.protobuf.UInt32Value prefix_len`. Since UInt32Value was used instead of `uint32` it would imply that if prefix_len is not set some reasonable default behavior should be made. There is no documentation describing what should happen in this case.

https://github.com/en

[2021-03-19 21:06] jsanford-toast commented on #15177
Closing this issue. We have found the root cause. Our issue was with eventual consistency of our cluster subscriptions across ADS instances.

[2021-03-19 21:06] #15177 closed

[2021-03-19 21:07] mattklein123 commented on #14363
@jtway don't worry about it. I have a good idea of what needs to be done and I will report back!

[2021-03-19 21:17] lambdai commented on #14860
I am wondering if the grpc streaming request is able to go through the firewall at your side. The underlying of grpc request is also POST method.

If grpc request is allowed, you should be able to borrow something from grpc request

[2021-03-19 22:47] markdroth commented on #15530
This sounds like a bug to me as well.  We probably missed this case in #13302.

[2021-03-19 23:21] nareddyt commented on #13672
Hi @hazelnutsgz, did you have any luck with this? I also cannot get envoy to output the cpu profile file.

[2021-03-20 00:06] #14993 closed

[2021-03-20 04:22] yuzujoe opened #15584 "[Question] upstream connect error or disconnect/reset before headers. reset reason: connection failure, transport failure reason: TLS error: 268435703:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER"
I'm trying to proxy communication using grpc on kubernetes with envoy.
the following error occurred

[code]

My Environment
[code]

Here is my envoy configuration.
[code]

also removed the `transport_socket` setting from `cluster_grpc`, which caused another problem.
[code]

I don't really know what's causing it, but does anyone know what is?

Thank you.

[2021-03-20 08:39] phlax commented on #12868
i can confirm that this bug appears to be fixed

[2021-03-20 14:12] phlax opened #15589 "Prevent addition of redundant protobuf imports"
### description

we have a lot of redundant import warnings when generating protos

i have raised a pr to fix this upstream in cncf/xds (https://github.com/cncf/xds/pull/3)

i have previously removed them from the envoy codebase (#15329 ) and have just opened another PR to remove more recently added ones (#15588 )

it would be great if we prevented these from being added

the obvious way would be

[2021-03-20 16:10] davidkornel opened #15590 "upstream_bind_config does not work with UDP. (Connected to #15516)"
This issue was opened because @mattklein123 [asked](https://github.com/envoyproxy/envoy/issues/15516#issuecomment-802166001) to do it in #15516
Using `upstream_bind_config` field with UDP doesn't seem to work.

*Repro steps + Config*:
Tested the following config with a socat UDP sender sending datagrams to `127.0.0.1:1234`, and socat receiver listening at `127.0.0.1:1235`
My full static config is:

[2021-03-20 19:49] derekargueta commented on #15365
There's currently no built-in Basic Auth filter, but this could be accomplished either by:
1) using [this Lua snippet](https://gist.github.com/dio/7a7aa09ea5027c660e0c1c9905be7ffd) (courtesy of @dio) from https://github.com/envoyproxy/envoy/issues/8175
2) using [External Authorization](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/ext_authz_filter.html) to do a look-asid

[2021-03-20 20:03] derekargueta commented on #15499
Seems this ticket was completed with https://github.com/envoyproxy/envoy/pull/15503 ?

[2021-03-21 00:07] #14859 closed

[2021-03-21 01:09] miroswan commented on #11121
Was this ever completed?

[2021-03-21 01:18] lpan commented on #11121
Ehhh please remove me from the assignment. I never got a chance to look
into it 😅

On Sat, Mar 20, 2021 at 6:09 PM Demitri Swan ***@***.***>
wrote:

[2021-03-21 02:07] miroswan commented on #11121
I'd be happy to give this a shot if no one else is interested.

[2021-03-21 08:03] #14920 closed

[2021-03-21 08:03] #14929 closed

[2021-03-21 08:03] #14930 closed

[2021-03-21 08:03] #14974 closed

[2021-03-21 08:03] #14988 closed

[2021-03-21 13:56] sp0cket commented on #13240
Can we please reopen this? I have the same issue with https://github.com/istio/istio/issues/27373

[2021-03-21 16:28] jmarantz commented on #11121
@alyssawilk 's #15521 partially addresses this, though I don't think it tackles a file-system watcher or access log watcher yet. I'll let her comment on how we should take that forward.

[2021-03-21 18:44] kprakasam opened #15592 "Broken Prefix Route Match"
*Title*: *Broken Prefix Route Match*

*Description*:

[Documentation](https://www.envoyproxy.io/docs/envoy/v1.17.1/api-v3/config/route/v3/route_components.proto#envoy-v3-api-msg-config-route-v3-routematch) has not changed, wonder if this is intended!

[2021-03-21 20:03] #14981 closed

[2021-03-22 00:32] jefflaifu commented on #15569
Got it!
I'm new to gRPC, and not familiar with Go. I'm using Java to implement ext_proc.
I think I am right with the code below:
[code]

[2021-03-22 01:54] htuch commented on #15579
I don't think there is a lot of intentionality behind the default choice, and we probably have to live with what Envoy has as default here to avoid breaking people, although technically, since it's a WKT, we could change it.

Early in Envoy history, we used WKTs everywhere even when default scalar values made sense. We then changed to using scalars, which itself is being revisited in light of secu

[2021-03-22 02:49] qinggniq commented on #15565
@snowp  Sorry for not fully explained, recently I make a exist filter from non-terminal filter to terminal filter in this pr #15485 because the new feature require the filter to maintain connection, for api backward compatibility, it's not accepted. So I'm trying to find out a way to make it backward compatible, I'm trying to add a  `is_terminal` field to control whether this filter is a terminal

[2021-03-22 03:18] qinggniq commented on #15565
@snowp Maybe a stupid question, can I make `is_terminal` to be a filed of my filter factory,  and determine it's value when call `createFilterFactoryFromProto`, then change the sequence of *validateTerminalFilters* and *createFilterFactoryFromProto* in the related function like https://github.com/envoyproxy/envoy/blob/a240824c376693b16ca8be51e435b95c42f3449f/source/server/listener_manager_impl.cc#

[2021-03-22 06:54] yuzujoe commented on #15584
This was a problem with the Ingress I was using.
Close.

[2021-03-22 06:54] #15584 closed

[2021-03-22 07:02] vsharathis commented on #15279
RADIUS stands for Remote Authentication Dial-In User Service, is a security protocol used in the AAA framework to provide centralized authentication for users who want to gain access to the network.
Features – Some of the features of RADIUS are:

Open standard protocol for AAA framework i.e it can use between any vendor device and Cisco ACS server.
It uses UDP as a transmission protocol.
It uses U

[2021-03-22 07:17] Agent-Tao opened #15596 "HRW Hash Load Balancing"
HRW Hash Load Balancing

(Highest Random Weight, HRW) hashing, an alternative to the ring based, consistent hashing, allows clients to achieve distributed agreement on which node (or proxy) a given key is to be placed in.

this hash has two advantages

1、Load balancing: Since the hash function is randomizing, each of the n nodes is equally likely to receive the key K. Loads are uniform across the

[2021-03-22 08:55] vinzo99 commented on #15472
Hi @lambdai
I just asked the original reporter of this issue to have a look at the proposal. Waiting for her comments.
Thanks !

[2021-03-22 09:16] qinggniq opened #15597 "enhancement, api: consider create a unify fault type for database filter?"
*Title*: *consider create a unify fault type for database filter*

*Description*:

[optional *Relevant Links*:]

[2021-03-22 09:56] Asdprom commented on #15566
Sorry for the inconvenience, it turned out that grpc service was incorrectly configured. Now it's working, problem resolved.

[2021-03-22 09:56] #15566 closed

[2021-03-22 10:31] filipdavidovic opened #15598 "Can envoyproxy run as a dynamic HTTPS terminating transparent proxy"
Hi,

I am currently running Envoy as a transparent proxy. I use the `iptables -j TPROXY` feature to route requests to Envoy, log them, and finally forward them to the original destination. This works like a charm for HTTP and TCP. I'd like to do the same for TLS secured traffic as well.

In order to inspect all traffic, I need Envoy to establish a TLS connection with the downstream and a TLS conne

[2021-03-22 10:43] twghu commented on #15283
@auni53 If we are going to drain a percentage of connections, ideally we should be able to know, at the time of the drain call how many connections there are.  There are two problems that i see with this:
1) the DrainManagerImpl::drainClose() is called frequently in header processing so latency is important and
2) in determining if a connections should be drained off relies on the knowledge of the

[2021-03-22 11:20] aSapien commented on #15348
I would pick it up but I'm afraid I need to catch up on my cpp first 😅

[2021-03-22 11:38] Asdprom opened #15599 "Prefer values in URL over values in request body"
I have a gRPC service with a method declared, for example, like this
[code]
Envoy is configured exactly like in [sample](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/grpc_json_transcoder_filter#sample-envoy-configuration) config, except some ports, service names and addresses.

I am sending the following request:
[code]
and request body:
[code]
In result, gRPC servic

[2021-03-22 13:06] alyssawilk commented on #15559
Does this get solved when we remove v2 in a few weeks?  Losing testing of config migration will be a huge pain for maintainers.  cc @adisuissa

[2021-03-22 13:57] snowp commented on #15565
I think there are two main options: what you said to pass additional information to `isTerminal` or have this new filter functionality of yours be configured via a different config type, allowing you to use a different factory.

@alyssawilk any thoughts here?

[2021-03-22 14:03] snowp commented on #15597
I don't believe anyone is working on this, but it seems like a reasonable idea at a high level. Marking help wanted in case anyone wants to pick this up

[2021-03-22 14:14] snowp commented on #15596
I think we would be amendable to adding this as a cluster or lb extension (doesn't exist yet, but I believe someone might be working on it) if someone is able to pick up the work.

[2021-03-22 14:20] alyssawilk commented on #15565
yeah, this seems an invasive enough change I wonder if it'd be easier to clone and support both for the deprecation window.  If not having config for old mode vs new seems reasonable.

[2021-03-22 14:25] esmet commented on #14622
Great. https://github.com/envoyproxy/envoy/pull/14843 should now allow for setting dynamic metadata when using an HTTP authorization server to prevent needing to move to gRPC.

[2021-03-22 14:29] esmet commented on #14984
Can we unstale this and associate it with a work in progress https://github.com/envoyproxy/envoy/pull/14989?

[2021-03-22 14:29] jakubdyszkiewicz commented on #15380
[log-grpc-debug.txt](https://github.com/envoyproxy/envoy/files/6182891/log-grpc-debug.txt)

@markdroth here are logs with Envoy trace level and those env vars that you asked about.

I first connected successfully to one instance, then stopped it and it tries to reconnect only to this one instance.

If it helps to read logs, my 2 CP instances are at (65.21.0.83, 65.21.48.56) and hidden behind `kuma

[2021-03-22 15:38] markdroth commented on #15380
The log shows that the gRPC `pick_first` LB policy is receiving only one of the two addresses.

@apolcyn, does the c-ares DNS resolver read /etc/hosts?

[2021-03-22 15:42] fr33kvanderwand commented on #12074
@povesteam thanks, but can you please provide a bit more detailed example?

[2021-03-22 16:34] mattklein123 commented on #15559
IIRC this will be solved when we lose v2, because the config will still be tested but there will be no fallback, so I think as long as we fail on deprecated fields we are OK? cc @htuch

[2021-03-22 16:36] apolcyn commented on #15380
Yes, the c-ares resolver will read from the `/etc/hosts` file first, and proceed to DNS lookups only if the local file lookups don't yield a result.

Also see [this c-ares resolver logic](https://github.com/c-ares/c-ares/blob/fd890e92468d54fbed82e06206a35c5f11ef1add/src/lib/ares_gethostbyname.c#L156) and the [c-ares default initialization which configures file lookups to be followed by DNS lookups

[2021-03-22 16:38] markdroth commented on #15380
@jakubdyszkiewicz, try adding "cares_resolver,cares_address_sorting" to the `GRPC_TRACE` environment variable, and let's see what the resolver thinks is happening here.

[2021-03-22 16:41] davinci26 commented on #15559
Based on what I have observed, when v2 is deleted configs with deprecated properties will fail

[2021-03-22 16:42] alyssawilk commented on #15559
Might make the v2 removal more arduous if our "fail on deprecated config" tests are now "upgrade or fail" but I guess that's on whoever does the v2 removal.  Has anyone signed on for that?

[2021-03-22 16:45] davinci26 commented on #15559
With my PR here https://github.com/envoyproxy/envoy/pull/15461, I have added in all the configs a property that is v3 only and as part of this process I saw the config tests failing.

I have implicitly forced the configs to load as v3 with the PR above and I removed the deprecated property on  #15563. I am not sure if there will be more configs failing due to the above.

[2021-03-22 16:47] mattklein123 commented on #15590
The issue is that udp_proxy requires a different source port for every "session" (downstream IP/port) in order to correctly associate upstream datagrams with the right downstream client. I'm not sure what bind config actually means in this case. Would you want to just use the IP part of the bind config and not the port?

[2021-03-22 16:47] #15499 closed

[2021-03-22 16:47] alyssawilk commented on #15559
For sure it'll help to have the example configs cleaned up - thanks for tackling those :-)

[2021-03-22 16:49] mattklein123 commented on #15592
Yeah I think this should be updated.

[2021-03-22 16:50] juanvasquezreyes commented on #15522
is it possible to use lua and have the retry counter with lua?

[2021-03-22 17:00] qiwzhang commented on #13965
I am about to move path_matcher code to a new repo with this pr https://github.com/envoyproxy/envoy/pull/15299

[2021-03-22 17:03] htuch commented on #15559
I'm going to coordinate and oversee the v2 removal, I don't anticipate writing every PR. Can you elaborate on what the pain point here is? The current plan is to incrementally remove v2 features and their deprecated tests, we have support for existing v2  deprecated tests with an internal-only runtime flag.

[2021-03-22 17:06] alyssawilk commented on #15559
The problem is that somewhere along the line the v2 conversation code started compensating for the CI flags which verified we removed deprecated fields, so we lost CI verification that when folks deprecated fields, they migrated test and example config over to the new.
It just means instead of folks deprecating configs doing the work, whoever does v2 removal will have to do so (minus the bits @dav

[2021-03-22 17:07] #15392 closed

[2021-03-22 17:08] caoyukun0430 commented on #15467
Thanks @hobbytp for the explanation!
So the reason is that dispatcher handles signals asynchronously. it generates event to dispatch the queue and then returns so that the following signals can be handled.  But sleep function will be interrupted by the following signals.
Our workaround is to apply a while loop to force the envoy to continue waiting/sleeping until drain duration reaches.

But this

[2021-03-22 17:08] #15467 closed

[2021-03-22 17:09] #15510 closed

[2021-03-22 17:15] phlax opened #15605 "Improve docs around http 1.0 <> 2, and make clear the default"
### description

it might be helpful to add some docs around

- the default HTTP protocol (ie `1.0`)
- how to switch to `2` (or other http protocols)

to the getting started section

ref #15577

[2021-03-22 17:26] lambdai opened #15608 "http2: add per connection(stream 0) HTTP/2 METADATA frames"
*Description*:
Envoy added per stream metadata frame #2394

It's a naive requirement to extend the METADATA frame support to stream 0.

Below metadata fit per connection metadata category.

1. NodeInfo: the node info is supposed to be stable during the life of the connection.
2. Connection trace context.

Where to put the new config?
A `ConnectionMetaData` message and field within `Http2ProtocolOp

[2021-03-22 17:41] jtway commented on #14363
Understood. I would very much like to stay involved with further discussion and looking at the PR. I do not know if you plan on updating the document at all, however, if you do, I'll use it to better gauge the level of detail you all are looking for in the future.

[2021-03-22 18:43] lambdai commented on #15562
I see... I guess we can reject new listener config if tcp listener and udp listener cannot use the same port.
Or find listener by both L4 address and L4 protocol

[2021-03-22 19:15] gramidt commented on #9958
@mattklein123 - Thoughts on next steps for this? I'm happy to coordinate with members of the OpenTelemetry community to help with the implementation.

[2021-03-22 19:16] lambdai commented on #15598
If you can foresee the SNI before the connection arrives(and hopefully the space of the SNI is not too huge), you can pre-generate the certs and bind each cert with a network filter chain and attach a FilterChainMatch. FilterChainMatch has the server name field so that the connection with the correct cert can be created.

There is not yet a dynamic cert generation at the connection serve phase.

T

[2021-03-22 19:36] mattklein123 commented on #9958
@gramidt in general the tracing work tends to be driven by vendors and those with a vested interest. We are more than happy to see this work done so please go for it once resources are found! Thank you.

[2021-03-22 19:37] mattklein123 commented on #15562
Yeah I think ^. IMO it's fine to have different protocols on the same port.

[2021-03-22 19:37] gramidt commented on #9958
Sounds like a plan, @mattklein123! Thank you for the prompt response.

[2021-03-22 19:47] mattklein123 commented on #12829
I will work on this cc @alyssawilk

[2021-03-22 20:29] sunjayBhatia opened #15612 "Rewritten Path and Domain in Set-Cookie headers should be corrected by Envoy"
*Description*:
Using host or path rewrite rules in conjunction with Cookies with `Domain` or `Path` attributes can result in what can be considered incorrect behavior.

Given a route config that matches the prefix `/foo` to `/bar` an upstream server will likely return a `Set-Cookie` header with the `Path` attribute set to `/bar<rest-of-match>`. However this may be an internal-only path, an impleme

[2021-03-22 20:30] sunjayBhatia commented on #15612
Note I (or some other resources at my company) am willing to work on this if it is deemed an acceptable change by the community

[2021-03-22 21:09] lambdai commented on #15608
CC @tbarrella This might affect the **eventual** shape of our upstream cluster config

[2021-03-22 21:26] filipdavidovic commented on #15598
@lambdai Thank you for the answer. I cannot foresee the CNI before it arrives. The idea is to have Envoy be completely dynamic and agnostic of the upstream. I think I will opt for a "super certificate" using wildcards and hope that it covers the whole CNI space.

[2021-03-22 21:27] nezdolik commented on #12419
I think this task needs to be splitted into 3 parts:
* Introduce reactive checks into overload manager
* Plug OM into dispatcher
* Write the actual resource monitor & migrate code from TCP Listener

[2021-03-22 22:41] #15304 closed

[2021-03-22 22:43] qiwzhang commented on #15506
We have added CI and fuzz tested into this repo.

@moderation could you help to score it?

[2021-03-22 22:50] tbarrella commented on #15472
After discussing with @PiotrSikora and @htuch, planning to start adding code for this, as experimental for now since an API isn't finalized.

[2021-03-23 00:03] moderation commented on #15506
Even though I can see the fuzzing added to the repo the score is unchanged - https://github.com/grpc-ecosystem/grpc-httpjson-transcoding/commit/0b74abcd88a5df3ca2f1b0fe59e32df0eb930561. The fuzzing check is at https://github.com/ossf/scorecard/blob/main/checks/fuzzing.go and I think you need to follow some more steps including adding a `project.yaml` file documented at https://google.github.io/oss

[2021-03-23 00:05] tbarrella commented on #15472
Just noticed the extension policy... @htuch or @alyssawilk, would you be interested in sponsoring this?

[2021-03-23 00:07] #14992 closed

[2021-03-23 00:07] qiwzhang commented on #15506
@moderation were you checking grpc_httpjson-transcoding repo?   If so,  it is wrong.  We should check http_pattern_matcher [repo](https://github.com/google/http_pattern_matcher) under google.

[2021-03-23 01:40] htuch commented on #15559
Ack, yes, I think this is the case. Another item for https://github.com/envoyproxy/envoy/issues/10943

[2021-03-23 01:45] #14646 closed

[2021-03-23 01:48] davinci26 opened #15618 "Asserts are causing gcc pipeline to fail but not linux_x64"
I observe that in run [69927](https://dev.azure.com/cncf/envoy/_build/results?buildId=69927&view=logs&j=8c169225-0ae8-53bd-947f-07cb81846cb5&t=6b0ace90-28b2-51d9-2951-b1fd35e67dec)

https://github.com/envoyproxy/envoy/blob/0d9e808910ae6a85b5bb501a8b2584e29af86147/source/server/transport_socket_config_impl.h#L46

is causing a test failure in `gcc` but not `linux_x64`

Is this expected?

[2021-03-23 02:07] lambdai commented on #15071
Sorry I missed this one.
For light weight request the major cost will be tls handshake. I usually use 5ms cpu time to estimate. YMMV

[2021-03-23 03:16] lambdai commented on #15517
Yeah,  SDS supports ads. We don't use ads with SDS for unrelated reason.

[2021-03-23 03:23] antoniovicente commented on #12419
Splitting sounds fine.  I'm curious about the details behind each of the 3 parts you describe above.

[2021-03-23 03:45] lambdai commented on #15517
I can reproduce now. SDS may use an envoy_grpc on a ready cluster. If it happens, sds api use the grpc_mux_ by registering watchers before the grpc_mux_ is created.

[2021-03-23 03:45] tomastigera commented on #15402
Afaict envoy does not use ` getsockname()`  but `SO_ORIGINAL_DST` which requires the connection to be conntracked.

[2021-03-23 04:08] moderation commented on #15506
Yes! Wrong repo. `scorecard --repo=https://github.com/google/http_pattern_matcher`
[code]
Your CI and Fuzzing are not being picked up by the OSS Scorecard

[2021-03-23 04:35] qinggniq commented on #15565
I think adding a new method `virtual bool isTerminalByConfig(const Protobuf::Message& proto_config, Server::Configuration::FactoryContext& context)` to `NamedHttpFilterConfigFactory` like below:
[code]
And replace `isTerminalFilter()` call with `isTerminalFilterByConfig(message, context)`, that will not affect the current implementation of other filters and give ability to determine a filter wheth

[2021-03-23 04:40] qiwzhang commented on #15506
@nareddyt could you help to check with CI and Fuzzing not been picked up?

[2021-03-23 05:10] qinggniq opened #15620 "build: can not build quiche at latest commit"
*Title*: *can not build quiche at commit 531c6ac*

*Description*:

*Repro steps*:

required to reproduce the bug.
- clang/clang++ version  11.0.1
- system Linux rancher01 5.4.0-48-generic #52~18.04.1-Ubuntu SMP Thu Sep 10 12:50:22 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- code at main branch, commit 531c6ac

*Config*:

*Logs*:

[code]

*Note*
After `git reset --hard commit && bazel build ...` few

[2021-03-23 05:12] qinggniq commented on #15620
cc @DavidSchinazi as this pr author.

[2021-03-23 06:24] su225 opened #15622 "Support generic CSDS types"
*Title*: *Support generic CSDS types*

*Description*:
Currently, Client Status Discovery Service supports only 5 types of config status listed below
* Listener Config
* Cluster Config
* Route Config
* Scoped Route Config
* Endpoint Config

However, more features were added to envoy like _Extension Configuration Discovery Service_ (ECDS). Besides this, some projects like Istio add additional xDS ty

[2021-03-23 07:12] Agent-Tao commented on #15514
you can refer this config:

static_resources:
  listeners:
    - name: rocketmq_listener
      address:
        socket_address:
          address: 0.0.0.0
          port_value: 1999
      filter_chains:
        - filters:
            - name: envoy.filters.network.rocketmq_proxy
              typed_config:
                "@type": type.googleapis.com/envoy.extensions.filters.network.rocketmq_proxy.

[2021-03-23 08:17] povesteam commented on #12074
Meanwhile we changed our approach, because envoy was overly complex to configure (from my point of view as a developer; maybe an experienced devops would have done better).
Now gRPC calls are only made server-to-server, without any proxy. So we ditched envoy, at least for now.
I don't have an example anymore, @fr33kvanderwand. Sorry about that.

[2021-03-23 08:18] alishir commented on #15402
@tomastigera Thanks for your reply. I'm using the TPROXY module to redirect the traffic to the envoy proxy. I've checked the configuration with the attached python script and I can capture the origianl_dst and origianl_src IP addresses and ports of received packets.

[2021-03-23 08:19] maksim-paskal commented on #15482
try to use it as `envoy.filters.http` with this config

_envoy.yaml_
[code]

run with

[code]

got exception

[code]

[2021-03-23 08:27] sunnoy opened #15625 "How does envoy respond after receiving a packet from the listener 127.0.0.1:15001"
*Title*: *How does envoy respond after receiving a packet from the listener 127.0.0.1:15001*

*Description*:
client IP <22.168.15.38> -> svc ip <21.100.85.147>

The first socket is  `22.168.15.38:49104->21.100.85.147:1989` to send [syn]

iptables redirect

[code]

then the socket is  `22.168.15.38:49104->127.0.0.1:15001` to send [syn]

The socket that the client expects to receive is `21.100.85.14

[2021-03-23 09:07] twghu commented on #15517
Problem is in ClusterManagerImpl::

[code]

[2021-03-23 09:26] phlax commented on #15514
@Agent-Tao if you surround your example with "```" it will make it much more readable

would you mind updating - you may also need to fix the indentation for it to be usable

[2021-03-23 09:28] twghu commented on #15283
The test case
TEST_P(AdsIntegrationTest, ClusterSharingSecretWarming)  in test/integration/ads_integration_test.cc has the following configuration:

[code]
In the case of the supplied configuration file, the `resource_api_version: V3` was missing.  The SegV still occurs with this addition.

[2021-03-23 09:32] twghu commented on #15517
The test case
TEST_P(AdsIntegrationTest, ClusterSharingSecretWarming)  in test/integration/ads_integration_test.cc has the following configuration:

[code]
In the case of the supplied configuration file, the `resource_api_version: V3` was missing.  The SegV still occurs with this addition.

[2021-03-23 09:48] fr33kvanderwand commented on #12074
Thanks for the reply, @povesteam  :D
I, for now, after reading a lot of envoy documentation, ended up with something like that:
[code]
but I'm sure it could be done better, like define CORS for all route, define one transport_socket for all cluster, and so on...

[2021-03-23 10:19] jakubdyszkiewicz commented on #15380
There you go, log with `GRPC_TRACE=client_channel_routing,pick_first,cares_resolver,cares_address_sorting`

[envoy-log.txt](https://github.com/envoyproxy/envoy/files/6188660/envoy-log.txt)

[2021-03-23 11:13] phlax opened #15628 "Not all dependencies are being updated by dependabot"
### description

currently we have several `requirements.txt` files for different python bazel targets

dependabot should update all of them (one way or another)

i created a test repo to figure out how to get it to do so - but i seem to have hit a bug which i created a ticket for upstream:

https://github.com/dependabot/dependabot-core/issues/3324

[2021-03-23 11:14] phlax commented on #15628
cc @moderation

[2021-03-23 13:01] alyssawilk commented on #15608
I don't think any of the teams currently using metadata have a need for it.
Can you flesh out the use case a bit more? Who would receive that metadata and what would they do with it

[2021-03-23 13:16] alyssawilk commented on #15472
At first pass is this something needed temporarily while we don't have upstream filters?  It seems like something that could be done fairly easily with an upstream filter and if so I'm mildly inclined to push for the long term solution over short term.  cc @mattklein123 @snowp

[2021-03-23 14:36] wrowe commented on #15612
I've added cors because of the implications of wrong domain headers, and http since I didn't see another reverse-proxy topic that seemed more focused. Design proposal would be helpful.

Since the lua solution is solved with appropriate examples, but is more heavy-weight than required 99% of the time, could you tune this ticket to non-lua, baked-in solutions for envoy? A different "Better examples

[2021-03-23 15:04] davidkornel commented on #15590
I see the problem now thanks.

The opposite. We want to use the port part of the bind config mostly.
Our use case so you can see our main goal and problems:
The upstream is a proprietary UDP/RTP proxy. The RTP specification recommends even port numbers for RTP, and the use of the next odd number for the associated RTCP session. And that is why we want to control the upstream socket's port.

In our

[2021-03-23 16:16] tomastigera commented on #15402
@alishir all I am saying is that your python script uses a different method to get the original dest than what envoy uses. Try ro change the `getsockname` to use `orig = c.getsockopt(socket.SOL_IP, 80, 16)`. You are likely to get an error `ENOENT`. 80 is socket.SO_ORIGINAL_DST afaik python does not define it (me no python guru though :-) )

[2021-03-23 16:35] mattklein123 commented on #15590
I see, OK, thanks. I think it's probably fine to support bind config with the clearly documented understanding that it can only work with a single session. I will leave this marked as help wanted. I'm not sure when I will be able to get to this but can help someone work through it if they are interested.

[2021-03-23 16:46] nareddyt commented on #15506
I assume fuzzing will be picked up once https://github.com/google/oss-fuzz/pull/5427 is merged.
Not sure why CI is not detected. We are using prow, which is listed as a supported system in the documentation: https://github.com/ossf/scorecard/blob/main/checks.md#ci-tests

[2021-03-23 17:07] kameshchauhan commented on #14004
We are also facing the same issue the above envoy filter is causing. In fact not even the issue of sync but rather the istio-proxy are not coming up.

[2021-03-23 17:23] mattklein123 commented on #15472
+1 I would rather just see upstream filters finished. @snowp can you potentially hand the work off to someone that has more cycles?

[2021-03-23 17:36] tbarrella commented on #15472
Yeah, I think upstream filters would address this and I see why we'd want to favor the long-term solution. Looking at #10455 though, it seems like part of the reason there hasn't been a design or road map after a year is that it's a difficult and nuanced problem that requires expertise and time.

This would be significantly easier and lighter weight (the implementation except for an extensible API

[2021-03-23 17:46] mattklein123 commented on #15472
I think I significant amount of work has already been done on upstream filters and I think we should just finish them.

If you want to solve this short term do we really need any core changes? Could you just have a custom filter that looks at cluster metadata for the current route and adds a header?

[2021-03-23 17:49] snowp commented on #15472
@mattklein123 I'm happy to hand it over if someone is willing to pick it up! The main things that remain are updating the router to make use of the FM and to make it possible to configure upstream filters via the API.

https://github.com/envoyproxy/envoy/pull/13095 is a WIP branch that makes us of the FM in the router

Happy to sync with whoever is interested in picking this up.

[2021-03-23 17:56] lambdai commented on #15472
@mattklein123 @alyssawilk It has been a while since I add the test case #13915 and wait for http upstream filter.

My perception is that the engineering cost is somehow high comparing to the requirement.

Also the upstream extension proposed here is not a core change. This extension contains its own config and can be injected using existing factory.

@tbarrella wants to do more than #13915 to reso

[2021-03-23 18:01] mattklein123 commented on #15472
What is the actual core change you are asking for here? What you all do in the Istio filters is up to you obviously.

[2021-03-23 18:14] lambdai commented on #15472
Do we have different view on the core? There is no core change requested. We provide to an new extension that can fulfill some of the known feature requests regarding encoding per host info into the upstream request. It's is a strict subset of http upstream filter so we can migrate in the future

[2021-03-23 18:23] pravb commented on #14605
@rmiller14 can you please work on this? I will review.

[2021-03-23 18:26] mattklein123 commented on #15472
Right so can you add the extension in Istio and we can close this issue?

[2021-03-23 18:30] TristonianJones opened #15631 "Replace Envoy RBAC's CEL AST with human-readable expression"
*Title*: *Replace CEL AST with human-readable expression*

*Description*:
The Envoy RBAC API exposes the `google/api/expr/v1alpha1` abstract syntax tree for a parsed CEL expression, but if this AST were replaced  with a human-readable CEL expression string this would provide key benefits for the API:

* Improved readability and diffing of expressions in config files.
* Greater flexibility in optim

[2021-03-23 18:32] TristonianJones commented on #15631
@htuch @markdroth @kyessenov I think this is strongly worth considering given that it will reduce the API surface complexity, improve the correctness of configurations, and allow us to make improvements in expression representation (performance) over time.

[2021-03-23 18:44] kyessenov commented on #15631
Text representation has been exposed in rate limiting descriptor: https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/rate_limit_descriptors/expr/v3/expr.proto. It is a oneof between `text` and `parsed`. In RBAC, the field `condition` is taken to be the parsed version. Is there any preference how to name the field holding the text condition?

[2021-03-23 19:14] DavidSchinazi commented on #15620
Thanks for the report, I'm investigating

[2021-03-23 19:28] mattklein123 commented on #15559
I think this is fixed so we can just assume v2 deletion will improve the overall situation.

[2021-03-23 19:28] #15559 closed

[2021-03-23 19:31] mattklein123 commented on #15599
cc @qiwzhang

[2021-03-23 19:33] mattklein123 commented on #15618
Possibly a timing issue?

[2021-03-23 19:34] mattklein123 commented on #15618
Or does it repro every time? Does the GCC build not enable asserts?

[2021-03-23 19:52] markdroth commented on #15380
Looks like to me that the c-ares library is returning only a single IP address to gRPC.  @apolcyn, can you please take a look?  Thanks!

[2021-03-23 20:06] Monkeyanator commented on #13868
Friendly bump on this, think we're still interested.

From [here](https://github.com/envoyproxy/envoy/issues/14651) it seems like the `strict_1xx_and_204_response_headers` is targeted for removal in 1.18.0? IIUC, if we removed the flag altogether without adding separate flags for upstream and downstream, there would be no way for old proxies using `strict_1xx_and_204_response_headers=false` to sta

[2021-03-23 20:12] apolcyn commented on #15380
I'm wondering if the assumption that two IP addresses are resolvable is valid.

A few question:
a) What does `/etc/hosts` look like?
b) What does `/etc/resolve.conf` look like?
c) What's the output from: ` python -c "import socket; print(socket.getaddrinfo('localhost', 443, socket.AF_UNSPEC, socket.SOCK_STREAM, 0, socket.AI_PASSIVE))"`, when ran from the same environment that gRPC is ran from?

[2021-03-23 20:15] apolcyn commented on #15380
Edit above comment ^, for c) I meant to ask what's the output of `python -c "import socket; print(socket.getaddrinfo('kumacp', 5678, socket.AF_UNSPEC, socket.SOCK_STREAM, 0, socket.AI_PASSIVE))"`?

A side note - it looks like an older version of gRPC is being used here - more recent version of gRPC have more detailed logs and error messages coming from the DNS resolver.

[2021-03-23 20:16] mattklein123 commented on #13868
cc @alyssawilk wdyt?

[2021-03-23 21:04] lambdai commented on #15608
stream 0 metadata is going to address issue that per stream metadata is sent again and again.

Assume the both end is Envoy,
1. The async client can encode the client node info into the stream 0. The server side HCM can create fake stream 0 to decode metadata and put in conneciton stream info, so that stream 1,3,... can get these per connection info without decoding.
2. For the metadata from serve

[2021-03-23 21:10] kyessenov opened #15633 "rate limit: modularize the extension configuration"
Currently, rate limit in envoy requires `actions` field that is defined in the virtual host and route configuration. This puts a pressure on the control plane to couple core networking configuration with the rate limit configuration (e.g. it's impossible to customize actions with ECDS). The proposal is to move actions into the extension configuration itself.

[2021-03-23 21:22] mattklein123 commented on #15633
@kyessenov I thought there was an issue tracking this, but I can't find it. We definitely need to deprecate this stuff out of the route config and move it into the extension config. This tech debt has been known for a while and I would love to clean it up.

[2021-03-23 21:59] esmet commented on #14872
@snowp I'll take a look at the comments/guidance you left on the PR 👍

[2021-03-23 22:33] DavidSchinazi commented on #15620
I think the reason that this is failing for you and not for our continuous integration is because you're compiling Envoy with C++11 and we're using something more recent. But I have a fix at #15635 that should resolve the issue. Could you try out that patch and let me know if it works on your machine?

[2021-03-23 22:46] zuercher commented on #14650
Fixed the title, since my change only added strict_1xx_and_204_response_headers (but I guess I sorted the list so stop_faking_paths moved).

[2021-03-23 22:57] lambdai commented on #15625
Yes

No. Envoy would consider the accepted socket has local address `21.100.85.147:1989` and then relooks up the listeners with options `bind_to_port=false`.

[2021-03-23 23:04] lambdai commented on #15517
@twghu Your initial config has to fix. I used below and saw the crash in https://github.com/envoyproxy/envoy/issues/15517#issuecomment-804594299 as well :(

[code]

[2021-03-23 23:12] antoniovicente commented on #13948
Somewhat related: https://github.com/envoyproxy/envoy/issues/13933 and https://github.com/envoyproxy/envoy/pull/14820

[2021-03-23 23:52] yangminzhu commented on #15631
+1, I think this will make it much easier to use the CEL expression in RBAC.

The [checked_condition](https://github.com/envoyproxy/envoy/blob/main/api/envoy/config/rbac/v3/rbac.proto#L138) was added sometime ago to replace the `condition`, is it still going to be implemented (e.g. as one_of) or replaced by the text expression proposed in this issue? cc @jiangtaoli2016

[2021-03-24 00:07] #13796 closed

[2021-03-24 00:29] gokulnair opened #15637 "Per connection rate limiting of HTTP requests"
Currently, the HTTP local rate limiter's token bucket is shared across all workers, thus causing the rate limits to be applied per Envoy instance/process. This could potentially result in bad actors quickly exhausting limits on a given instance before legitimate users have had a fair chance and in extreme cases even lead to starvation. We need a way to allocate token buckets for each connection th

[2021-03-24 01:02] jiangtaoli2016 commented on #15631
It makes sense to keep both checked_condition and text expression, and removed condition (AST). User can use checked_condition for better efficiency.

[2021-03-24 01:37] moderation commented on #15620
I was getting the same errors using Clang 10 on Red Hat 7. I can confirm that your fix removes the error. We would like to be able to compile from main without modification so will track this PR

[2021-03-24 01:41] moderation commented on #15620
What is interesting is that I have the following in my `~/.bazelrc` file and I'm still hitting the error above and can see the QUICHE code compiling. Is this expected @alyssawilk

[code]

[2021-03-24 01:47] #15271 closed

[2021-03-24 02:01] goudai commented on #15514
No need to configure the nameserver of rocketmqproxy？

[2021-03-24 02:58] qinggniq commented on #15620
@DavidSchinazi thks, your fix removes the error.

[2021-03-24 02:59] Agent-Tao commented on #15514
Yes，the rocketmq client sdk will  talk to name server. The envoy rocketmq filter can only enhance observability，it can not replace client sdk.

[2021-03-24 03:56] sunnoy commented on #15625
@lambdai  You seem to have misunderstood my question，My question is how the socket `21.100.85.147:1989->22.168.15.38:49104`  seen by the client was generated during the three-way handshake,packet 6 in wirshark

[2021-03-24 05:51] goudai commented on #15514
If I want to use it as a complete proxy, such as using SDK to connect to envoy for message sending and consumption, is this supported?

[2021-03-24 07:59] mathetake commented on #13756
I've started looking into this, and it looks like only the response path is not guarded from misbehaving filters (the request path is guarded by `HeaderUtility::checkRequiredHeaders` and the requirement check result is gracefully handled in onPool).

After this is fixed, let's revisit to https://github.com/envoyproxy/envoy/issues/15487 and think about what we can do at Wasm level. cc @PiotrSikora

[2021-03-24 09:12] Agent-Tao commented on #15514
the producer seems ok,  but the long pulling consumer has not supported yet.

[2021-03-24 09:14] phlax commented on #15453
@yashwant121 i have been working on this but havent quite figured out a good pattern yet - apologies for delay

[2021-03-24 09:29] yashwant121 commented on #15453
its alright @phlax, thanks for the efforts. I can wait :p

[2021-03-24 09:45] Alan-buaa commented on #4543
I use 1.11.0, still has this issue

[2021-03-24 11:28] filipdavidovic commented on #15598
@lambdai I will put my thoughts and understandings from researching about the potential solution. As it stands, I don't think dynamic certificate generation is possible with Envoy.

Whenever Envoy gets a new packet/request I want it to read the SNI and ask a configuration server for a secret/listener for that specific SNI. Neither of the following features can solve my problem because they don't q

[2021-03-24 12:36] junr03 commented on #4543
Yes, [1.11.0](https://www.envoyproxy.io/docs/envoy/latest/version_history/v1.11.0) was released before this commit went in. I believe 1.14.0 is the first version where this is fixed.

[2021-03-24 12:51] #13166 closed

[2021-03-24 13:22] snowp commented on #15637
Seems like a reasonable enhancement, marking help wanted.

cc @rgs1

[2021-03-24 13:47] alyssawilk commented on #15565
Yeah, I think that's fine, though I'd lean towards just replacing isTerminalFilter entirely, having isTerminalFilterByConfig return false by default and updating our internal filters.

[2021-03-24 13:51] jefflaifu commented on #15569
I got another question like this.
If I change request_body, from json to xml, the request_body's length has been changed, but "content-length" in request_header is still the old one. So, the client can't get the request correctly. The same situation is with "change response-body but 'conent-length' in response_header is still".
I have no idea about this. How can I change the Headers after I change

[2021-03-24 13:52] alyssawilk commented on #13868
Yeah, I think we ought to split them up.
@lambdai as this was first reported as an issue with istio would you be willing to (and have cycles to) do the split?

[2021-03-24 13:56] WeavingGao opened #15643 "Universal dynamic configuration capability"
*Description*:

[2021-03-24 14:03] seils opened #15644 "access_loggers.stdoutput.v3.StdoutputAccessLog unknown type in 1.17.1"
*Title*: *unknown type: envoy.extensions.access_loggers.stdoutput.v3.StdoutputAccessLog on version 1.17.1*

*Description*:

*Environment*:

[code]

[code]

[code]

[2021-03-24 14:04] snowp commented on #15644
You probably want to use the 1.17.1 specific documentation: https://www.envoyproxy.io/docs/envoy/v1.17.1/start/quick-start/run-envoy#run-envoy-with-the-demo-configuration

[2021-03-24 14:08] seils commented on #15644
🤦

Thanks @snowp

[2021-03-24 14:08] #15644 closed

[2021-03-24 14:09] alyssawilk commented on #15608
"stream 0 metadata is going to address issue that per stream metadata is sent again and again."

Again, what stream metadata is sent again and again?  I don't think I understand the use case yet.

The use cases I know of metadata are to send things like RTT, which changes over the course of the stream and session lifetime so it's useful to resend.  Alternately if you want to send once and have it

[2021-03-24 14:11] snowp commented on #15643
Can you speak a bit to the specific use case you have in mind? Between RTDS and ECDS we have plenty of options for dynamic configuration, so your use case might already be solved by them.

[2021-03-24 16:23] lizan commented on #15622
Sounds reasonable to me. cc @envoyproxy/api-shepherds

[2021-03-24 16:42] alyssawilk opened #15649 "Connectivity grid for upstream connections"
As https://github.com/envoyproxy/envoy/issues/14829 nears completion we need to have support in Envoy for trying QUIC connections and failing over to TCP.  This sort of "try something and fail over" is also needed for mobile and dynamic forward proxy for ipv6 vs ipv4, and for mobile cellular vs wifi so we need something which can at worst handle the full grid of [QUIC vs TCP][IPv4 vs IPv4][cellula

[2021-03-24 17:15] alyssawilk commented on #15620
@moderation I believe you're looking for --//bazel:http3=False
(but there's a bug with that too.)
I'll fix and make sure we have CI regression for that option.

[2021-03-24 18:14] markdroth commented on #15622
Would it make more sense to just add a more generic and simpler message structure for CSDS, similar to what I suggested in https://github.com/envoyproxy/envoy/issues/14431#issuecomment-746728834?  We might even be able to migrate the existing types to this more generic structure over time.

[2021-03-24 18:15] phlax opened #15652 "Add logging section to getting-started docs"
### description

since the config for logging has changed i think we need to add a logging section to explain how to use it

im also a little concerned that this is going to be a headache for anyone upgrading docs so we might need to add some info in other places too

[2021-03-24 18:29] gbrail commented on #15569
I would like, someday, to be able to change headers after examining or
modifying the body. However, right now that isn't possible -- it might
require some changes to how HTTP filters are handled and I don't know
whether that will be possible.

For this particular case, however, the solution isn't too bad -- if you
think you're going to modify the body, then REMOVE the content-length
header when yo

[2021-03-24 19:27] zuercher commented on #14650
#14651 is the ticket for envoy.reloadable_features.strict_1xx_and_204_response_headers. I think this one should be for envoy.reloadable_features.stop_faking_paths but references the wrong PRs.

[2021-03-24 19:29] zuercher commented on #14650
@alyssawilk I'm going to reassign this to you. Whatever script created this and #14651 got confused because I sorted the flag names in #11458.

[2021-03-24 19:31] alyssawilk commented on #14650
ah yeah, the script uses git blame so moving it would do it.
thanks for checking, I'm happy to pick it up.

[2021-03-24 19:32] zuercher commented on #13868
I'll close the PR I just created (for #14650, because it referenced my PRs I thought it was just misnamed, fixed now). I'm on PTO starting tomorrow so I won't have time to look at this.

[2021-03-24 19:48] PiotrSikora opened #15654 "Skip unnecssary work after sending a local reply."
Follow-up from https://github.com/envoyproxy/envoy/pull/15496#discussion_r600605879 - it's possible that we could skip a lot of work in `FilterManager::decodeHeaders()` in case local reply was sent.

[2021-03-24 20:02] #14957 closed

[2021-03-24 20:03] TristonianJones commented on #15631
The are a  few concerns with keeping the `CheckedExpr` visible on the API:

1. There are no guarantees that the `CheckedExpr` is actually a valid AST. I can construct invalid ones by hand.
2. We have started making AST optimizations which means semantically equivalent `CheckedExpr` values may not be protobuf equivalent.
3. The textual expression will reap the benefit of software upgrades to Envoy

[2021-03-24 22:01] mattklein123 commented on #15637
+1 I would like to see this happen. I think doing it via filter data sounds like a good plan.

[2021-03-24 22:06] nezdolik commented on #12419
1. _Introduce reactive checks into overload manager:_ OM currently only supports periodic recalculations of resource usage + flushing updates to action callbacks.  For the case of global connection limit overflow this type of check may be too slow, so we should support "immediate/reactive" check. If we proceed with example of global downstream connections, every time before TCP listener accepts ne

[2021-03-24 22:21] mattklein123 commented on #15612
cc @alyssawilk for thoughts on this.

[2021-03-24 22:28] mattklein123 commented on #15283
We don't have this today, but we could add it. A couple of quick ideas: 1) Give access to connections on current worker only (simple, might be good enough). 2) Do some periodic calculation that puts total connections into am atomic variable that can be read, potentially specific to the listener, server, etc. We already basically do this here:

https://github.com/envoyproxy/envoy/blob/38f673821df18

[2021-03-24 22:50] lambdai commented on #15608
Thanks!  This kind of metadata is shared by all streams within the parent connection, ideally we want a dedicate stream 0 which follows how stream 0 is defined.
I think this should work: The first stream set and the rest of the rest of the streams consume to avoid HCM change

[2021-03-24 22:51] lambdai commented on #15126
wip

[2021-03-24 22:53] mattklein123 commented on #15608
@lambdai per Alyssa, do you have an actual use case for this? If so, what is it? We don't want to add a feature like this unless there is a real use case that someone is going to implement.

[2021-03-24 23:02] antoniovicente commented on #12419
I wonder if the listener can get the thread local overload state from thread-local-storage in some way.  If that approach is not possible we may want to consider plumbing OM to dispatcher creation in a way that is similar to the plumbing done in https://github.com/envoyproxy/envoy/pull/14679 to add extra arguments to the factory method that creates dispatchers in worker threads.

[2021-03-24 23:19] lambdai commented on #15608
The use case is to transmit connection attributes and node attributes bidirectionally.

I see node metadata and connection metadata can be delivered without metadata but using header.

stream 0 is easier to build "wait for certain metadata" before the normal http stream, but the first stream to carry and set should work. Please consider the stream 0 metadata as "nice to have" and we can wait for m

[2021-03-24 23:20] mattklein123 commented on #15608
I understand what it can theoretically do, but what I want to know is if someone has a production use case they are going to implement. Until that exists let's hold on this.

[2021-03-24 23:21] lambdai commented on #13868
@tbarrella Do you have the bandwidth for this?

[2021-03-25 00:45] ntgsx92 opened #15657 "Support custom DNS resolvers in DNS cache used by DynamicForwardProxy filter"
*Support custom DNS resolvers in DNS cache used by DynamicForwardProxy filter*

*Description*:

Context:
We're trying out [Dynamic Forward Proxy filter](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/http_proxy#arch-overview-http-dynamic-forward-proxy) to proxy HTTP requests to upstream clusters as a replacement for one of our internal service. One of the requirement for the

[2021-03-25 01:24] htuch commented on #15472
@tbarrella I can't commit to sponsoring any new extensions at this point. There are other EPT members who might be able to, let's chat internally on how to approach this best. @mattklein123 @alyssawilk if we had a Google maintainer sponsor for the extension and an agreement to move to upstream HTTP filters when available, would that work in principle? Based on some offline chats, I think the upstr

[2021-03-25 01:27] htuch commented on #15631
@TristonianJones having text CEL makes sense to me as an option. We've discussed before the idea of separating out type checking and parsing in a config pipeline from the Envoy-side work as an architectural feature. https://github.com/envoyproxy/envoy/issues/15631#issuecomment-806151392 seems to indicate the thinking here might be changing?

[2021-03-25 01:45] wbpcode commented on #15131
/no-stale

[2021-03-25 01:51] Agent-Tao commented on #15596
so how about adding this hrw hash to lb policy? to be specific，
in cluster.proto, add HrwHash to LbPolicy：
 enum LbPolicy {
   HRW_HASH = 8;
}

and implement hrw hash lb as one type of HashingLoadBalancer？ @snowp
cc @mattklein123

[2021-03-25 01:53] WeavingGao commented on #15643
I developed a universal component that can be used in L4 or L7 Filter or any other component. This universal component relies on complex dynamic configurations. These configurations have nothing to do with cluster or listener, so we found that RTDS is relatively suitable. Any other suggestions?

[2021-03-25 02:00] mattklein123 commented on #15472
The general filter I apply is will multiple people care about this extension. Every extension adds maintenance debt for the project. Given that we know the right solution here (upstream filters) why would we want to take on a temporary solution that we have to maintain? If istio can host a private extension in the interim that seems optimal, unless there is desire from other customers.

[2021-03-25 02:14] mattklein123 commented on #15472
Also, could https://github.com/envoyproxy/envoy/issues/13897 work as an interim solution? That one seems pretty generic and broadly useful?

[2021-03-25 02:41] htuch commented on #15472
@mattklein123 re: concerns about maintainer debt, would https://github.com/envoyproxy/envoy/issues/14078 change the balance, i.e. the `contrib/` directory?

[2021-03-25 02:48] qinggniq commented on #15565
I'm not sure whether some users might implement their own filters in the meanwhile implement `isTerminalFilter`, replace `isTerminalFilter` entirely might cause their filters to be fail to build. A well known case is that in
 https://github.com/envoyproxy/envoy-filter-example/blob/8f0f8bba38868e875613b74f57df38f543e764ba/echo2_config.cc#L30
, we need modify *envoy-filter-example* repo at the same

[2021-03-25 02:53] #15579 closed

[2021-03-25 04:03] #14910 closed

[2021-03-25 04:20] twghu commented on #15283
Hey @mattklein123  I like the "So could add that information on the stats flush interval or some other interval. I doubt your use case requires it to be exact?".  Thanks.

[2021-03-25 06:35] lambdai commented on #15472
My earliest attempt can be tracked to #12271

The feedback is that it's adding a new phase of the rewrite header which requires broader and router api redefinition.

The upstream extension gives it a chance to add the dedicated phase and avoid coupling with http route api.

I thought if the code is here we can solve #13897 and potential other cases before the arrival of http upstream filter

[2021-03-25 06:47] lambdai commented on #15608
Istio does use https://github.com/istio/proxy/tree/master/src/envoy/tcp/metadata_exchange as a workaround. Think of it as an extended PROXY protocol.
Istio also has http version which currently repeatedly exchanges metadata for each stream.

Also istio is pushing all tcp traffic to be tunnelled in http/2, so per connection metadata serve both http traffic and tcp traffic in istio world.

I create

[2021-03-25 10:17] goudai commented on #15514
When can we support a complete proxy? We want to build a data grid based on this。

[2021-03-25 10:20] qinggniq opened #15659 "redis proxy: auth not work when using file monitor cds"
*Title*: *redis proxy: auth not work when using cds*

*Description*:

When I using cds to dynamic config my cluster config, auth is failed.

*Repro steps*:
- run `docker-compose up --build -d` at examples/redis/ dir with below config.
I put the configs into my [branch](https://github.com/qinggniq/envoy/blob/redis-env/examples/redis/docker-compose.yaml)
*Config*:

- envoy-dynamic.yaml
[code]
- cds.

[2021-03-25 10:42] qinggniq commented on #15659
seems solved by recent commit.

[2021-03-25 10:42] #15659 closed

[2021-03-25 12:27] alyssawilk commented on #15565
I'm fine with it being multi-phase but for now include is not expected to be backwards compatible and I'd prefer to not have cruft and potentially confusing multiple APIs in the long run.

cc @mattklein123 @snowp for thoughts (on retaining both isTerminalFilter and isTerminalFilterByConfig in the long run)

[2021-03-25 14:00] twghu commented on #15517
It seems the problem is related to:
1) missing configuration of dynamic resources that could be affected by unintended [deprecation](https://www.envoyproxy.io/docs/envoy/latest/api-v2/service/discovery/v2/ads.proto).
2) there should be an error message for ads config error which is thrown before startup
3) add test for null.

[2021-03-25 14:09] htuch commented on #15622
Either this or #14431, agree with the idea of extending to opaque Any.

[2021-03-25 14:20] sanya2022 commented on #4854
@cl51287 Hello. Did you find a resolution for this problem?

[2021-03-25 14:31] wrowe commented on #15411
To clarify, package signatures are unrelated to this ask for Code Signed executables.

The GPG ascii armored signature for a tarball is generated and attached after the fact and can be done independently of the CI. The code signing of a binary artifact is an attached signature embedded in the binary and is prepared on the target build environment, and then replaces any earlier unsigned binary arti

[2021-03-25 15:24] alyssawilk commented on #15608
Is the per connection data something you want to send once at the beginning of the connection, or something you need optional updates on?  You said node info remains constant and I'm not sure if you'd be passing actual trace events, or just a trace ID.

While conceptually I like the idea of connection metadata on stream 0, one problem offhand with doing this at the HTTP/2 layer, is where we'd stic

[2021-03-25 16:33] pianiststickman opened #15663 "Custom clusters do not support endpoint discovery through EDS"
*Title*: Custom clusters do not support endpoint discovery through EDS

*Description*:
Usage of eds_cluster_config is restricted to clusters that have type explicitly set to `EDS`. Envoy also uses this type for determining whether clusters are initialized during the primary or secondary phase, meaning it is not possible to write a custom cluster type that performs endpoint discovery via EDS.

Inst

[2021-03-25 16:48] cretz commented on #10855
Both nist/fips and browsers support P-384 and I personally would opt-in to it even with impl perf concerns Is it reasonable to revive this conversation? Would opt-in be acceptable? Has anything changed from a BoringSSL perspective on P-384 support since a year ago?

[2021-03-25 16:49] ggreenway commented on #10855
I would be fine with the perf concerns, but I am concerned about the side-channel resistance.

[2021-03-25 16:52] davidben commented on #10855
BoringSSL's position has not changed from https://github.com/envoyproxy/envoy/issues/10855#issuecomment-618023133. While we support P-384 and do aim for side channel resistance in our generic implementation, it is still the case that P-256 is a more important curve and gets far more attention. P-256 is the right answer for TLS ECDSA leaf keys.

[2021-03-25 17:00] cretz commented on #10855
The question becomes, should non-default, opt-in support for P-384 be allowed for the discerning admin that is aware of the tradeoffs? When I say opt-in, I don't mean if it happens to be on the cert, I mean a literal curve list that defaults to P-256 only but allows a list of P-256 + P-384 akin to what is done on the connection side at https://github.com/envoyproxy/envoy/blob/v1.17.1/api/envoy/ext

[2021-03-25 17:03] bifr0ns opened #15664 "Install repo is DOWN: https://getenvoy.io/linux/centos/tetrate-getenvoy.repo"
*Title*: Install repo is DOWN

*Description*:
Install repo is down and getting timeout, while trying to add the repo on console I also get the timeout, so we can't install envoy.

`Adding repo from: https://getenvoy.io/linux/rhel/tetrate-getenvoy.repo
Curl error (28): Timeout was reached for https://getenvoy.io/linux/rhel/tetrate-getenvoy.repo [Connection timed out after 30000 milliseconds]
Error:

[2021-03-25 17:08] alyssawilk commented on #15612
I think in-house with similar features we usually expect the upstream to be rewrite-aware, but I think it'd be nice to have it as a configurable feature in Envoy.  I think it's going to be a tricky one to not miss corner cases for though. @sunjayBhatia if you're up for picking it up please feel free to /assign it my way.
cc @antoniovicente as well.

[2021-03-25 17:18] davidben commented on #10855
I think you're confusing two different (but, in TLS 1.2, related) things. There's the ECDH curve in the key exchange, and the ECDSA curve in the leaf certificate.

For ECDH in TLS, X25519 is the right answer, but P-256 is also fine for compatibility. Though note that, P-256 ECDH in TLS 1.3 will cost an extra round-trip against some clients, including Chrome, due to HelloRetryRequest.
For ECDSA in

[2021-03-25 17:25] davinci26 commented on #14802
Verified that this has been fixed by https://github.com/envoyproxy/envoy/pull/14676 (thanks @asraa!)

[2021-03-25 17:25] #14802 closed

[2021-03-25 17:33] cretz commented on #10855
Sorry. For the last part, I wasn't trying to conflate the ECDH curve and the ECDSA curve choice in any way except to say "it can be configurable with a default" like other aspects of TLS.

The question is, is Envoy adamantly against even allowing P-384 ECDSA cert ability to be opted into via configuration? Many use cases for Envoy are transparent proxies where they accept the origin's cert choice

[2021-03-25 17:44] mattklein123 commented on #15657
This sounds reasonable to me!

[2021-03-25 17:44] mattklein123 commented on #15596
I think we are trying not add new stuff like this to the core unless necessary. It shouldn't be too much work to add an LB extension point and it would be good to go ahead and do that.

[2021-03-25 17:47] mattklein123 commented on #15565
Sorry I don't fully understand the use case. The issue is there is a private filter which has to support both terminal and non terminal modes and we want config to drive that?

[2021-03-25 17:49] mattklein123 commented on #15608
Yeah it does seem like we would need stream 0/connection filters for this kind of thing. Overall I like this idea, but we should flesh it out into a full design doc I think.

[2021-03-25 17:56] mattklein123 commented on #15472
Marginally I guess? The point I'm getting at is Istio already ships their own proxy out of https://github.com/istio/proxy and maintains their own extensions. Unless we have demand for this outside of Istio, why is this extension different from the other extensions, especially when we have the way we would like to do this properly already known and being worked towards?

I think this is only true i

[2021-03-25 18:29] rmiller14 commented on #15047
I attempted to build the docs on Windows recently, so I thought I'd leave my progress before I gave up.

First issue is that in tools\shell_utils.sh, the source_venv function references `${VENV_DIR}/venv/bin/activate`, which doesn't exist in a local Windows copy, specifically the bin folder.  The path on my Windows machine that worked for me is `${VENV_DIR}/venv/Scripts/activate`.

Next is running

[2021-03-25 19:01] bifr0ns commented on #15664
Is up again :)

[2021-03-25 19:01] #15664 closed

[2021-03-25 19:12] phlax opened #15665 "Add some CI to ensure that dependabot.yml is up to date"
Once #15651 lands we want to make sure that entries are added/removed as required

[2021-03-25 19:26] alyssawilk commented on #15565
context: https://github.com/envoyproxy/envoy/pull/15485
changing the msql proxy to support terminal and non-terminal

[2021-03-25 19:35] mattklein123 commented on #15565
OK thanks. Yeah I would be fine just replacing `isTerminal` and adding params.

[2021-03-25 20:41] lambdai commented on #15608
The trace id is what I was referring to. All of my existing production use cases are send-once-shared-by-all-stream.
Delivering occasional trace event during the full life cycle of h2 connection is attractive but I don't have a timeline for this requirement. The stream 0 filter api is obscure for this scenario. I believe a congestion control is a hard dependency.

I prefer build the "metadata exch

[2021-03-25 21:00] EdAtomicRaccon commented on #3125
Hi,

Same here on a large PR.
48 files changed. +15k lines, -142 lines.
39 pending comments.
We just lost a lot of comments today.

[2021-03-25 21:33] amukherj1 commented on #15402
Could you share what your iptables rule looks like? Also assuming you're using a nat REDIRECT, what happens if you listen on 0.0.0.0:50080 instead of 127.0.0.1:50080?

[2021-03-25 21:35] #15126 closed

[2021-03-25 21:37] #15628 closed

[2021-03-25 21:51] lambdai commented on #15472
Thank you @mattklein123

Incorporate endpoint metadata in the upstream stream header is the core motivation of this extension.
My earliest exploration of the approach is #12236 I think I replied to several other issues which also could be addressed by customiezed cluster upstream extension or http upstream filter. I guess these issues are in the pre-production phase or the author could wait. But f

[2021-03-25 22:23] lambdai commented on #15472
For future revisit, I link more issues here that can be addressed by cluster upstream extensions
https://github.com/envoyproxy/envoy/issues/15057
https://github.com/envoyproxy/envoy/issues/14873

[2021-03-25 22:32] tbarrella commented on #15472
I want to apologize for misassessing #10455 - I didn't realize this was almost done and the knowledge that it is is helpful.

@htuch Thank you!

@mattklein123 To me, if it's known that finishing upstream filters will be prioritized (and that this solution is really only temporary) I'd be less concerned about having this extension within Istio code. In discussion with @alyssawilk, it sounded like t

[2021-03-25 22:47] lambdai commented on #13209
#14954 should have fixed this.

[2021-03-25 22:47] #13209 closed

[2021-03-25 22:52] lambdai commented on #14967
Sorry for the late response:

Yes. I guess that's probably the motivation that RDS was introduced.

[2021-03-25 22:59] mattklein123 commented on #15472
Thanks @tbarrella that would be great. From this issue it's really hard for me to tell how general this solution is, and as I mentioned above, if we decide to move forward with this it would need end-user understandable docs, examples, etc. As I said, given that Istio still does maintain the private repo, and we know that we want this to be a temporary solution, it still feels better suited for th

[2021-03-25 23:17] dalegaspi commented on #14487
Note that this is still an issue for me when running Envoy in MacOS (at least when using Big Sur).  The issue goes away when I downgrade to v1.12.2...i cannot use `static` since the cluster is not an IP address.

although for the most part i can get around it by running Envoy as a Docker container.

[2021-03-25 23:44] lizan commented on #15663
Yes this is a valid point, we didn't expose that because no one raised it before. It shouldn't be hard to implement.

[2021-03-26 00:11] akhilgoel09 opened #15698 "Getting error: NR filter_chain_not_found and 404 NR route_not_found - "-" on my istio ingressgateway and grpc ingressgateway"
Hi,
I am getting the below error on new istio 1.9.1 on kubernetes, can you please help:

[2021-03-25T23:59:51.372Z] "- - -" 0 NR filter_chain_not_found - "-" 0 0 0 - "-" "-" "-" "-" "-" - - 100.97.92.14:8443 172.20.49.60:57605 - -
[2021-03-26T00:01:25.979Z] "GET /.env HTTP/1.1" 404 NR route_not_found - "-" 0 0 0 - "100.117.94.128" "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Ge

[2021-03-26 04:06] #15055 closed

[2021-03-26 07:17] rmiller14 commented on #14605
For now I've just added a section referring to the envoy-windows-dev Docker image.

It should possible to pull down the EXE from the post-submit pipeline using [this API](https://docs.microsoft.com/sv-se/rest/api/azure/devops/build/artifacts/get%20artifact?view=azure-devops-rest-5.0).  The missing piece is the build ID, which can be passed in to docs/build.sh.  What's tripping me up mentally is th

[2021-03-26 10:35] phlax opened #15700 "Clang tidy fails in CI for dependabot"
### description

clang-tidy-diff is failing in CI for depenadabot although afaict the tidy script (ie from upstream) doesnt actually fail - it exits `0`  - so not obvious what is failing or why

example failure:

[code]

This is the line in the upstream `clang-tidy-diff.py` that exits 0 printing "No relevant..."

https://github.com/llvm/llvm-project/blob/d92b4956d6db8904f6a21c0e037dd5161b843b87/cl

[2021-03-26 10:37] phlax commented on #15700
all of the dependabot prs failed on this - so there should be some clue there as to why it fails

something to do with the type of diff i guess

[2021-03-26 11:03] rialg opened #15701 "Embedding MemBlockBuilder into the data representation for Buffer::Instance"
*Description*:
As suggested by @jmarantz in #13770, having the BufferImpl, `OwnedImpl`,(and related classes - i.e.`Slice` - ) to store its raw data in members of the type `MemBlockBuilder` could improve memory safety at the class level.

[2021-03-26 11:07] phlax commented on #15700
on further inspection this seems to be a problem only for dependabot - so defo to do with the type of diff which dependabot creates

not sure how best to track this - we could add some debugging to main and force one of the PRs to rebase i guess

[2021-03-26 11:09] rialg commented on #15701
Hi @jmarantz,

I have started to refactor the `Slice` class in `source/common/buffer/buffer_impl.h`. I wanted to check with you if replacing the `storage_` type would be a good start since doing so might imply that the `base_` attribute would have to be removed, as the reference to the beginning of the Slice can be store in the `MemBlockBuilder`'s `data_` member. wdyt?

[code]

[2021-03-26 11:11] phlax commented on #15700
cc @moderation

[2021-03-26 12:00] Agent-Tao commented on #15514
I am not sure yet. I think the owner of the rocketmq  filter may have a plan.

[2021-03-26 12:01] #14659 closed

[2021-03-26 12:04] Agent-Tao commented on #15596
I am not sure how to add LB extension. can you tell me how to do it or give me some reference ?  if it is not too much work and nobody work on it, i can take this. thanks. @mattklein123

[2021-03-26 12:09] jmarantz commented on #15701
@antoniovicente @KBaichoo for visibility, as they are also looking at changes to BufferImpl for other reasons.

@rialg one thing we want to make sure that this change is "instruction-neutral" and "memory-layout-neutral" while adding better abstraction boundaries and strict control of use of memcpy. I *think* what you have achieves that but I just wanted to have Antonio & Kevin in the loop for this

[2021-03-26 13:11] twghu commented on #15517
Resolved the SegV issue, working on the failing integration test.

[2021-03-26 13:50] dalegaspi commented on #2098
i just assumed this is supported out of the box.  😞

is there a plan to get this feature added?

[2021-03-26 14:06] n0b0d3 commented on #2692
filter_chains:
    - filters:
      - name: envoy.filters.network.http_connection_manager
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
          access_log:
          - name: envoy.file_access_log
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.access_loggers.file

[2021-03-26 14:25] sunjayBhatia commented on #15612
I should be able to get started on this next week, I'll write up a little design here and get some feedback before coding it up fully

[2021-03-26 14:55] amirkhonov opened #15704 "Redis extension accepts only slots with IPv4"
*Title*: *Redis extension accepts only slots with IPv4*

*Description*:
I'm using this config to define Elasticache as a cluster in Envoy instance:
[code]
As per https://github.com/envoyproxy/envoy/blob/c04a75efe9d601ebcb9650f274b5adde60181f1c/source/extensions/clusters/redis/redis_cluster.cc#L228 it is not allowed to receive DNS hostnames in the Elasticache response with CLUSTER SLOTS.

I'm recei

[2021-03-26 15:56] phlax opened #15708 "Use `Stdout` and `Stderr` in canonical proto urls for logging"
### description

we recently added protos for logging that use the names `Stderror` and `Stdoutput` - these are derived from the unix names which are actually `stderr` and `stdout`

i think if we dont change these we are going to confuse/annoy people who will not be familiar with this name, and make it harder to remember

if down the road (eg after documenting #15652 ) we decide to change to the c

[2021-03-26 15:57] phlax commented on #15708
cc @davinci26 @mattklein123

[2021-03-26 16:12] mattklein123 commented on #15708
I believe this was done on purpose for some reason but I can't remember. @phlax? I would be fine renaming if we do it quickly since it just landed.

[2021-03-26 16:21] davinci26 commented on #15708
The reason that I did is that stdout and stderr are defined with (`#define`) in Windows so when the url is translated to a C++ namespace it causes collisions.

[2021-03-26 16:24] phlax commented on #15708
would it be possible to just change the canonical names?

grepping i see its in paths, filenames and files so theres quite a bit of change

mho is that we should change now and avoid regret

[2021-03-26 16:32] Diatrus commented on #13261
An update on this, zlib-ng was released as stable 10 days ago.

[2021-03-26 16:37] davinci26 commented on #15708
would envoy.extensions.access_loggers.**stdoutput**.v3.**StdoutAccessLog** work?

The reason I did not went for this approach is that there are two different names for stdout in the same type. The problem is envoy.extensions.access_loggers.**stdoutput**.v3.StdoutputAccessLog is translated into `envoy::extensions::access_loggers::stdoutput::v3::StdoutputAccessLog` and there is a namespace collision

[2021-03-26 16:39] phlax commented on #15708
i think that is more confusing tbh

is there no way to workaround the ns clash  ?

[2021-03-26 16:48] phlax opened #15710 "Broken `refs` in api docs"
### description

some of the api docs are rendering unmarked up refs

eg:

https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto.html

[2021-03-26 17:01] davinci26 commented on #15708
I have tried undefing it but this breaks fmt.

Another alternative would be to use envoy.extensions.access_loggers.standardstreams.v3.StdoutAccessLog

[2021-03-26 17:02] ishustava commented on #7783
Could we re-open this issue? This seems like a good question.

Right now if I'm using TCP checks for a service fronted by Envoy and that cannot be reached directly, the TCP check will pass regardless of the port I'm checking because it always has to go to the Envoy's port. It feels like something that would be good to have so that if I do have a TCP service, I can check that it's running on its po

[2021-03-26 17:10] phlax commented on #15708
what about `envoy.extensions.access_loggers.access.v3.StdoutAccessLog`

not sure if this would then clash with stderr - but perhaps they could be merged in that way - which i think would also be easier to remember

[2021-03-26 17:11] phlax commented on #15708
iiuc this would have the same problem/solution as using standardstreams

[2021-03-26 17:12] davinci26 commented on #15708
Not sure on top of my head. I will have to validate it myself

[2021-03-26 17:13] phlax commented on #15708
im just looking at the dir  - perhaps just `stream` would be closer to `file` which is the closest comparison i think

[2021-03-26 17:20] moderation commented on #13261
https://github.com/zlib-ng/zlib-ng/releases/tag/2.0.2
`bazel/repository_locations.bzl`
[code]

[2021-03-26 17:25] davinci26 commented on #15708
I think there will be clash but a way around it is to have two types in the same proto under the the stream package

[2021-03-26 17:30] phlax commented on #15708
[code]
and
[code]
wfm if its possible to do it that way

@mattklein123 - any thoughts on this ?

[2021-03-26 17:32] phlax commented on #15708
tbh i would even leave off the final AccessLog if that was possible - shorter the better i think - and it dupes

[2021-03-26 17:33] phlax commented on #15708
hmm - maybe that would be inconsistent with others

[2021-03-26 17:38] james-mathiesen commented on #10855
When I last looked at this envoy had disabled not only handling P-384 private keys, but pretty much any operation that involved P-384 public keys.  For example it could not be an HTTP client if the foreign HTTP server had a P-384 server certificate. Is that still the case?  It was very awkward as many enterprise type organizations use EC for internal CAs.

[2021-03-26 17:46] lizan commented on #15704
@HenryYYang

[2021-03-26 17:49] lizan commented on #15700
yeah it's weird to see those fails on clang tidy

[2021-03-26 19:00] mattklein123 commented on #15708
I don't have a strong opinion. Whatever you both agree to is fine but we need to change it ASAP if we are going to change it.

[2021-03-26 19:02] davinci26 commented on #15708
I am working on this now, I will try to get at it today.

[2021-03-26 19:21] PiotrSikora commented on #10855
I don't believe that was ever the case. The only place where P-384 is rejected is in Envoy's locally configured certificates.

[2021-03-26 19:50] derekargueta commented on #14801
@mattklein123 @PiotrSikora so I was thinking about this a bit more, and I should start with what the actual desired feature is - ability to match against TLS OIDs and reject connections that don't match. I started with this ticket thinking to use this in an HTTP filter that would reject with HTTP 400 (currently what we have in Nginx, checks certain variables and rejects with HTTP 400) but since th

[2021-03-26 19:59] NomadXD opened #15712 "[Question] Envoy WASM gRPC bidi streaming from a HTTP filter"
*Title*: *Envoy WASM gRPC bidi streaming from a HTTP filter*

*Description*:
TLDR : How can we create a gRPC bidi stream **from a filter** and use the created bidi stream to send messages **when by the design of proxy-wasm-cpp-sdk won't allow us to have a pointer to the `GrpcStreamHandler` in our filter** ?

My use case is fairly simple and straightforward. I just want to create a gRPC bidi stream

[2021-03-26 20:04] cretz commented on #10855
I confirmed in my local fork, with an integration test, that with the following removed, P-384 works: https://github.com/envoyproxy/envoy/blob/2eb63590357ffe9689256184fde74eda5d21a648/source/extensions/transport_sockets/tls/context_impl.cc#L227-L237

(granted I had to `SSL_set1_curves` on the client side of the http integration test inside of envoy to have it work)

[2021-03-26 20:16] ggreenway commented on #10855
That isn't a sufficient fix to fully support it. There is also some code used to support dual-cert (RSA and EC) that is looking through the ClientHello to figure out which cert to offer.

[2021-03-26 20:30] wrowe opened #15713 "Promote the Windows port to GA with release 1.18.0"
*Title*: *Promote the Windows port to GA with release 1.18.0*

*Description*:
This is a tracking bug to gather input from @envoyproxy/senior-maintainers for the @envoyproxy/windows-dev with concerns or roadblocks to promoting the general availability of a Windows envoy-static.exe to the windows user community. It's the intent of that community to announce GA of the 1.18.0 binary build, based on cu

[2021-03-26 20:56] mattklein123 commented on #7783
Can you describe how you want this to work? Something like the HTTP health check filter but for listeners?

[2021-03-26 23:16] mattklein123 commented on #15596
The basic idea is you need to add a new TypedExtension configuration point for LB. It might be worth it to take a look at this ongoing PR which adds a new extension points and wires everything up. I will admit it's not trivial, but following an example it might not be too bad for the uninitiated. https://github.com/envoyproxy/envoy/pull/15619

[2021-03-26 23:16] mattklein123 commented on #15596
Cross reference https://github.com/envoyproxy/envoy/issues/5598

[2021-03-26 23:20] mattklein123 commented on #14801
I think either is reasonable. I think it really depends on what type of rejection you want (connection close, nice HTTP response, etc.).

[2021-03-27 03:04] CameronNemo commented on #12829
I would like to point out that there are **two QUIC implementations named quiche**. Apparently the pun was two too clever to pass up.

https://github.com/cloudflare/quiche

https://quiche.googlesource.com/quiche/

[2021-03-27 04:01] #14908 closed

[2021-03-27 04:02] #15046 closed

[2021-03-27 04:02] #15056 closed

[2021-03-27 08:10] wbpcode commented on #15163
/no-stale

[2021-03-27 11:50] rialg commented on #15701
The PR #15722 was created to keep track of the changes for this issue. Atm, I've only applied the patch for `mem_block_builder.h` which was taken from the previous PR.

My plan is to modify other classes to use the `MemBlockBuilder` resource mgmt objects, such as BufferImpl, as previously agreed. wdyt?

[2021-03-27 12:01] #14953 closed

[2021-03-27 12:01] #15057 closed

[2021-03-27 16:02] #15080 closed

[2021-03-28 00:03] #15084 closed

[2021-03-28 04:39] alishir commented on #15402
@toddmgreer Thanks a lot for the explanation. So you mean that the redirection method that I use does not set the original_dst correctly?

@amukherj1 Here is the rules that I used for redirecting incoming traffic to the envoy listener:

[code]

[2021-03-28 06:47] liuqi-sun opened #15724 "http ：Inconsistent number of HTTP request response callbacks"
OnRequestHeaders and onResponseHeaders are called the same number of times when I test by "sudo curl http://10.73.87.60:8000/", but OnRequestHeaders and onResponseHeaders are called differently when I perform stress testsby "./wrk -t4 -c400 -d1s --latency http://10.73.87.60:8000/", why?

[2021-03-28 16:50] Pepo-BG opened #15727 ""upstream connect error or disconnect/reset before headers. reset reason: connection failure" error for .NET Core apps run in docker-compose"
*Description*:
Hello, I have 2 .NET Core apps (Razor-pages web app and GRPC Service) running in docker-compose. Both are running in different localhost ports. If I access them via localhost, like:
* **http://localhost:5105/**  or **http://127.0.0.1:5105** - for the web app,
* **http://localhost:5104/** or **http://127.0.0.1:5104** - for the GRPC
both are working. But when I added the envoy configu

[2021-03-28 16:51] #14363 closed

[2021-03-28 20:01] #15095 closed

[2021-03-29 00:03] #15099 closed

[2021-03-29 01:39] Agent-Tao commented on #15596
thanks

[2021-03-29 02:41] #15346 closed

[2021-03-29 04:03] #15118 closed

[2021-03-29 07:48] liuqi-sun commented on #15724
![envoy_statistics](https://user-images.githubusercontent.com/48784730/112803706-2c788980-90a6-11eb-9b0c-ba3f151da492.png)
![my_log_1](https://user-images.githubusercontent.com/48784730/112803709-2da9b680-90a6-11eb-8c07-5e8f30349ee2.png)
![my_log_2](https://user-images.githubusercontent.com/48784730/112803712-2e424d00-90a6-11eb-946d-4808c14283c1.png)
![pressure_measuring_tools](https://user-images

[2021-03-29 07:51] liuqi-sun commented on #15724
![envoy_statistics](https://user-images.githubusercontent.com/48784730/112804103-942ed480-90a6-11eb-8f0a-88dc2236ec6b.png)
![my_log_1](https://user-images.githubusercontent.com/48784730/112804112-95600180-90a6-11eb-92ff-3506a9524e25.png)
![my_log_2](https://user-images.githubusercontent.com/48784730/112804114-95f89800-90a6-11eb-885b-d44cfd9bd47b.png)
![pressure_measuring_tools](https://user-images

[2021-03-29 08:19] phlax opened #15730 "Show non-dev image installation on getting-started/install page"
### description

currently in the docker section on the install page it shows instructions for installing the dev image not the stable image

eg here https://www.envoyproxy.io/docs/envoy/v1.17.1/start/install#install-envoy-using-docker

whereas the getenvoy images point to stable

this is kinda inconsistent and confusing and its not clear in historical docs which image it is pointing to

i would p

[2021-03-29 09:07] cl51287 commented on #4854
@sanya2022 No, we let the user urlencode the request

[2021-03-29 09:10] phlax commented on #15730
also, the images shown in the table are wrong - it seems to be stuck on version v1.16-lates

i guess we should show all of the legacy images (at least supported ones)

[2021-03-29 09:44] zhangguanzhang commented on #3732
Is this still the case in january 2021 , 😢 @mattklein123 @phlax

[2021-03-29 10:41] phlax commented on #15700
even more wierdly - this one has passed #15729 - while others still seem to be failing

[2021-03-29 11:35] NomadXD commented on #15148
@Gsantomaggio Does getDynamicdata works in WASM ? i'm trying to set up dynamic metadata from ext_authz filter and then consume those metadata from my WASM http filter. I was trying to use the method which is defined for that but it's not working for me. What I'm doing is,

[code]
I tried it with `google::protobuf::Value` also. That method returns false and the log gets printed as below.

[code]
An

[2021-03-29 12:36] victorhaggqvist opened #15744 "Docs for recent tags show pre-release banner"
*Title*: Docs for recent tags show pre-release banner

*Description*:
All recent tags after https://www.envoyproxy.io/docs/envoy/v1.16.0/ appears to now show the pre-release banner, which  I believe previously was only there for https://www.envoyproxy.io/docs/envoy/latest/. Not sure about the correctness of the actual docs in relation to the tag, or if it is only the banner that is incorrectly ren

[2021-03-29 12:39] phlax commented on #15744
thanks for reporting @victorhaggqvist i can look at fixing unless you want to ?

[2021-03-29 12:55] victorhaggqvist commented on #15744
you feel free to, I briefly looked and concluded it is probably related to the build/CI process env somewhere, as it looks like it is conditionally rendered on `release_level`  in https://github.com/envoyproxy/envoy/blob/main/docs/root/index.rst https://github.com/envoyproxy/envoy/blob/486cd88789625afe786de80d0b3f3b07576f3557/docs/conf.py#L46

but post that I'm rather clueless about how that works

[2021-03-29 13:01] alyssawilk commented on #15608
Ok, so right now and for the foreseeable future you only need to transmit data at the beginning of the connection.

for the receive-side-aware argument, if you try to negotiate h2-with-medata and the peer rejects it, is Enovy savvy enough to not send metadata, or does it fail to connect entirely?  I would think it would fail to connect, or send invalid frames at which point both solutions have the

[2021-03-29 13:16] phlax commented on #15744
@Shikugawa from my reading of source (maybe incorrect) this is happening because the release tag is not set correctly - not sure how that relates to the backport/release workflow exactly

[code]

[2021-03-29 13:20] phlax commented on #15744
cc @lizan

[2021-03-29 13:21] phlax commented on #15744
or the regex match might be wrong

[2021-03-29 14:41] VirajSalaka commented on #15207
@RobIsHere I also have come across the same scenario. And then I tried with `--bootstrap-version 3` [argument](https://www.envoyproxy.io/docs/envoy/v1.17.1/operations/cli.html?highlight=component%20log%20level#cmdoption-component-log-level). Then it provided a meaningful message indicating where exactly is the issue.

[2021-03-29 16:10] mattklein123 commented on #15744
I believe @lizan already fixed this, but I'm not positive.

[2021-03-29 16:27] #15708 closed

[2021-03-29 16:28] phlax commented on #15744
if/once this is fixed it would be good if we can update the docs to remove these on historical versions etc

[2021-03-29 16:31] petedmarsh opened #15747 "Envoy 1.17.1 crashes when a ratelimit cluster is configured, but is unavailable"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*:  Envoy 1.17.1 crashes when a ratelimit cluster is configured, but is unavailable

*Description*:

I believe there is a regression in Envoy 1.17.x where if ratelimiti

[2021-03-29 16:49] mattklein123 commented on #12829
note: follow up on https://github.com/envoyproxy/envoy/pull/15720#discussion_r603450858 before this is closed.

[2021-03-29 18:24] esmet commented on #15747
I'll take a look.

I was able to reproduce this locally with Envoy v1.17.0, but not with a build of Envoy based on v1.15.1. Either way, I'm waiting for a recent build from main and then I'll figure out why this is crashing.

[2021-03-29 19:13] esmet commented on #15747
/assign

[2021-03-29 19:48] phlax commented on #15730
related #13755

[2021-03-29 20:39] howardjohn opened #15750 "EDS+ORIGINAL_DEST hybrid"
*Title*: EDS+ORIGINAL_DEST hybrid

*Description*:
It would be useful to have some sort of hybrid of EDS and original dest clusters. The intent here would be to give ORIGINAL_DEST behavior, but allow affixing per-endpoint metadata which is used by various components - for example, transport_socket_match.

One way this could be used is to allow explicitly setting the destination IP, but configuring

[2021-03-29 20:39] lambdai commented on #15698
NR filter_chain_not found
It seems the request is hitting 100.97.92.14:8443 but I don't see the 8443 port defined in istio Gateway CR

[2021-03-29 20:45] lambdai commented on #15698
404 NR route_not_found
It's either no Envoy http route found, or http route is found but the destination cluster is not ready.
You may want to check if the RDS/CDS/EDS is SYNCed. Also double check if the SYNCed route matches your http/grpc request.

[2021-03-29 20:48] lambdai commented on #15140
Mitigated by running at low bazel concurrency. I't's likely my kernel or unstable hardware or device driver

[2021-03-29 20:48] #15140 closed

[2021-03-29 21:04] mattklein123 commented on #15747
This is a dup of https://github.com/envoyproxy/envoy/issues/15083 and fixed by https://github.com/envoyproxy/envoy/pull/15548. @htuch it would be really great to land that other PR.

[2021-03-29 21:04] #15747 closed

[2021-03-29 21:11] lambdai commented on #15750
It seems the existing end 2 end flow without this hybrid req is to create a listener(bind_to_port==false, probably) for each subset of endpoints.

What you are proposing is to use one listener but create subsets/matchers in original_dst cluster.

 @howardjohn  Can you explain the pain of using listener is traffic multiplexer? I remember istio did have flags to experimenting listener-as-dispatcher

[2021-03-29 21:20] howardjohn commented on #15750
Creating multiple listeners still doesn't help unless you also create a dedicated cluster for each one as well? I am thinking about upstream TLS settings (and in future upstream cluster filter??), not the downstream settings

[2021-03-29 21:23] lambdai commented on #7783
@ishustava Do you mean envoy start listening on certain port too early? I am aware of some cases, including listener config that uses reuse_port == false.
Envoy doesn't listen on all port so I want to understand why the tcp check was failing when hitting your Envoy instance.

[2021-03-29 22:19] lambdai commented on #15750
Good point! To rephase it, we have N (N>>1) upstream TLS settings and we assume the matcher(  ip:port collection to a upstream tls setting) in one original_dst should reduce cpu/ram consumption, meanwhile, updating that original_dst cluster should not damaging the existing connection.  Actually the latter part is not clear to me yet

[2021-03-29 22:33] lambdai commented on #15608
Thank you for the help to clarify it!

I wish the control plane can deliver if the metadata is expected at the peer to avoid handshake. The handshake adds roundtrip and complexity of state machine. Meanwhile,  either Envoy as client or Envoy as server should not crash (need to verify but I trust our existing code) when unexpected metadata receives.
I have two cases:
In one case the rest of the str

[2021-03-29 23:17] howardjohn commented on #15750
Consider another case, ignoring Istio. I just have a single listener and am using HTTP Routes. I may want to send 50% of traffic to cluster `foo_original_dest` and 50% to `foo_round_robin`. In this case, I cannot create a dedicated cluster for each transport_socket_match, since I need envoy to do the load balancing.

Another case is I have 100 endpoints, and I want to set up TLS termination, some

[2021-03-30 01:52] htuch commented on #15747
@mattklein123 I've updated #15548, fixed the fuzz issue.

[2021-03-30 04:48] ngtuna commented on #6297
I got no luck with this. My mac (8 core, 16GB ram) always running out of memory with `<bazel-cmakelists dir>/bazel-cmakelists --targets //source/exe:envoy-static`, even though `bazel build` got success. Any hint ?

[2021-03-30 05:32] jpeach commented on #6297
IIRC you can use a `user.bazelrc` to limit how many resources bazel uses on the build host. Here's an [example](https://github.com/jpeach/envoy-build/blob/master/user.bazelrc).

[2021-03-30 06:49] leyao-daily commented on #14788
@kyessenov @jewertow Meet the same error too when built based on the main branch.

[2021-03-30 06:50] qinggniq opened #15754 "pip: failed when running ./tools/vscode/refresh_compdb.sh"
*Title*: *failed when running ./tools/vscode/refresh_compdb.sh*

*Description*:
[code]

*Repro steps*:
- python version `Python 3.6.9`
- pip version `pip 21.0.1`

I use below `requirement.txt` in my machine, and run `/usr/bin/python3  -m pip wheel -r ./requirements.txt --require-hashes`
[code]

When I replace `importlib-metadata` version from `3.9.0` to `2.0.0` at https://github.com/envoyproxy/env

[2021-03-30 06:53] qinggniq commented on #15754
cc @phlax, Does ci work well? I am not clear what causes it.

[2021-03-30 06:59] darkstone-delivery commented on #9656
please provide update on this work, it's important

[2021-03-30 07:20] sunnoy commented on #15625
it use conntrack

[code]

[2021-03-30 07:20] #15625 closed

[2021-03-30 07:28] ngtuna commented on #6297
Nice it works thank you @jpeach Sorry I'm new to Bazel

[2021-03-30 08:07] su225 commented on #15622
@markdroth - Based on ideas from #14431 and looking around the PRs related to it, it can be enhanced without breaking lot of existing things. I'll create a PR for this.
[code]

[2021-03-30 08:20] phlax commented on #15754
yep ci works well

i think the python version - altho not clear why 3.6.9 would pull typing-extensions - ill test later today with different versions of python

[2021-03-30 08:23] su225 commented on #15622
@markdroth @htuch @lizan - raised https://github.com/envoyproxy/envoy/pull/15760 . This is the first implementation. Once the API is refined, I'll copy it over to other API versions and add docs.

[2021-03-30 08:48] qinggniq commented on #15754
It works on python 3.8.0

[2021-03-30 09:08] petedmarsh commented on #15747
I can confirm that this fixes it for me too, thanks!

[2021-03-30 09:19] lovingcodesk opened #15761 "An admin access log path is required for a listening server."
*Title*: *An admin access log path is required for a listening server.*

*Description*:

[code]

[2021-03-30 09:26] phlax commented on #15761
hi @lovingcodesk these are docs for the latest development version - you either need to update or use the docs for the last stable here:

https://www.envoyproxy.io/docs/envoy/v1.17.1/

(please ignore the incorrect pre-release message)

[2021-03-30 09:32] phlax commented on #15761
to clarify the problem - access_log_path has been deprecated and replaced with a `typed_config` and is also no longer required to be set at all if you dont want access logging

[2021-03-30 09:47] phlax opened #15763 "Make use of version_added, version_changed, deprecated etc sphinx directives"
### description

if we included in the documentation the version information - ie when added, changed, deprecated or removed it would be very helpful for users.

it would also might make it clearer why problems coming from version/configuration mis/matches do/not work

i think we can get most of this information from protos - not sure immediately how we show removed - but that would be v helpful w

[2021-03-30 09:48] phlax commented on #15763
sphinx docs are here https://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html#directive-versionadded

[2021-03-30 10:04] phlax commented on #15763
related (deprecation) pr - #15564

[2021-03-30 11:45] asarafi1 opened #15765 "how can envoy be configured so as not to remove x-envoy-max-retries header"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *how can envoy be configured so as not to remove x-envoy-max-retries header*

*Description*:

[optional *Relevant Links*:]

[2021-03-30 12:56] phlax commented on #15730
part of this problem is #15744 but i think it also needs to separate production/dev in the dev docs

[2021-03-30 13:00] phlax commented on #15744
this is a list of the docs that currently have the problem described here (latest also have problem described here #15730)

- https://www.envoyproxy.io/docs/envoy/v1.17.1/
- https://www.envoyproxy.io/docs/envoy/v1.17.0/
- https://www.envoyproxy.io/docs/envoy/v1.16.2/
- https://www.envoyproxy.io/docs/envoy/v1.16.1/
- https://www.envoyproxy.io/docs/envoy/v1.15.3/
- https://www.envoyproxy.io/docs/env

[2021-03-30 13:05] phlax commented on #15744
@lizan can you confirm whether this is fixed ?

afaict the `AZP_BRANCH` env var is passed through - so either the wrong branch is being passed or the regex match isnt working

[2021-03-30 13:43] zufardhiyaulhaq commented on #15159
@jasonstitt correct me, you want to escape `%` when input custom access log format right?

[2021-03-30 13:48] zufardhiyaulhaq commented on #15159
or you want to input something like this to be recognized as well?
[code]

[2021-03-30 14:04] stevenzzzz opened #15767 "[delta-xds] reset nonces for XDSes on reconnection"
*Title*: the "stale" ACK/NACK nonces are used on reconnection in deltaXDS
*Description*:

We should reset the Nonces in pausable_ack_queue_ at onStreamEstablished() on a reconnection event.

*Repro steps*:

[2021-03-30 14:04] stevenzzzz commented on #15767
/cc @htuch

[2021-03-30 14:08] stevenzzzz commented on #15767
cc @yanavlasov

[2021-03-30 14:18] rbtcollins opened #15768 "prometheus metric exporter ignores units"
The [current exporter](https://github.com/envoyproxy/envoy/blob/1d1b708c7bf6efa02c41d9ce22cbf1e4a1aeec2c/source/server/admin/prometheus_stats.cc#L158)
[code]

outputs the bucket name without consideration for the units. However Prometheus has [strong conventions for metrics](https://prometheus.io/docs/practices/naming/) which require the metric to be in base units. That is a time metric should hav

[2021-03-30 14:21] DerekStrickland opened #15769 "wasm filters: Add entropy source"
*Title*: *Add an entropy source for wasm filters*

*Description*:

[2021-03-30 14:28] picatz commented on #15769
I would also be interested in this feature. There doesn't seem to be an ABI function that would allow access to a "secure" source of entropy from the Envoy host. Having access to one would allow things like generating UUIDs from a WASM filter. My understanding is that in order to do this safely at the moment, I need to call an external service that has an entropy source.

[2021-03-30 15:10] stevenzzzz opened #15770 "[xds] Relax the CHECK on factories for typed per-filter config"
*Title*: Do not reject the typed per-filter-config if a factory can't be found, remove binaries version coupling.

*Description*:
Right now for the typedConfig in route we demand the factory class to be linked in at Envoy, otherwise it rejects the whole DiscoveryResponse.
This adds coupling between management server and Envoy, which introduces complexity to rollout/backs of these binaries.

Let's

[2021-03-30 15:10] stevenzzzz commented on #15770
cc @htuch

[2021-03-30 15:14] stevenzzzz commented on #15770
the check we want to remove: https://github.com/envoyproxy/envoy/blob/main/source/common/router/config_impl.cc#L1532-L1533

[2021-03-30 15:15] stevenzzzz commented on #15770
cc @AndresGuedez

[2021-03-30 15:31] grzegorz-mirek opened #15771 "How to strip host port for HTTP CONNECT"
*Description*:

I have configured dynamic forward proxy that terminates HTTP/1.1 CONNECT and I have the following flow:

[code]

The HTTP client (Micronaut app) uses HTTP CONNECT even for **plain HTTP** requests (as opposed to most HTTP clients that use [extended HTTP](https://docs.mitmproxy.org/stable/concepts-howmitmproxyworks/#explicit-http) request that includes a schema and host specification

[2021-03-30 16:18] phlax commented on #15652
maybe related #15646

[2021-03-30 16:48] moderation commented on #5155
https://nodejs.org/en/blog/release/v12.22.0/

[2021-03-30 17:43] phlax opened #15777 "Add autofix for general linting and yaml"
### description

once #15641 lands it would be helfpul if it also provided an autofix feature

see https://github.com/envoyproxy/envoy/pull/15641#discussion_r604283201 for further discussion

[2021-03-30 17:57] #15083 closed

[2021-03-30 18:40] cretz commented on #10855
This still sets the `ctx.is_ecdsa_` value so it'll be chosen (default to) on client ECDSA support. But yes, if there are additional checks we have to do to determine client P-384 support beyond the is-ecdsa, then changes would be needed there.

[2021-03-30 18:49] mattklein123 commented on #15712
cc @PiotrSikora

[2021-03-30 18:49] mattklein123 commented on #15724
cc @PiotrSikora

[2021-03-30 18:52] mattklein123 commented on #15765
I assume you mean for incoming traffic? Right now Envoy will sanitize headers that are of external origin, so it may not be possible to do what you want: https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/header_sanitizing

[2021-03-30 18:53] mattklein123 commented on #15767
cc @dmitri-d

[2021-03-30 18:54] mattklein123 commented on #15768
cc @jmarantz

[2021-03-30 18:55] mattklein123 commented on #15770
I think it would be reasonable for this to be configurable, much like we do for other validation options. cc @dmitri-d

[2021-03-30 18:57] htuch commented on #15767
Fully agree that nonces should be reset on reconnect.

[2021-03-30 19:04] stevenzzzz commented on #15767
cc @antoniovicente

[2021-03-30 19:06] jasonstitt commented on #15159
My use case is for escaping `%` (to insert a literal % in the output)

[2021-03-30 19:40] PiotrSikora commented on #15724
From the screenshots, it looks that the number of `onRequestHeaders()` callbacks matches `downstream_rq_total`, and the number of `onResponseHeaders()` callbacks matches `downstream_rq_completed`. Since those stats are generated by core Envoy, the issue seems unrelated to Wasm.

Also, both of those numbers are higher than the number of requests reported by `wrk`, so I imagine that after the reques

[2021-03-30 20:08] DerekStrickland commented on #15769
Sweet. Thanks!  I'll take a look!

[2021-03-30 22:26] freddygv commented on #7783
@lambdai The TCP check isn't failing. The issue is that it always passes as long as Envoy is listening, which is independent from whether the local application is listening.

@mattklein123 That sounds about right from looking at this documentation: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/health_checking#http-health-checking-filter.

For inbound TCP checks the curre

[2021-03-30 22:42] mattklein123 commented on #7783
Yeah this makes sense and would be a nice feature. I will mark help wanted.

[2021-03-30 22:48] antoniovicente commented on #15767
What are the consequences of this bug?  How urgent is it to fix?

[2021-03-30 22:57] #15442 closed

[2021-03-30 23:21] nezdolik commented on #12419
@antoniovicente the listener would get thread local overload state but it should also be able to trigger reactive check in OM (which would recalculate overload action state on demand and post it to all interested callbacks on worker threads), so is bidirectional interaction.
How about something like this:
[code]
The listener would register for action in overload manager via `registerForAction(cons