[2020-10-23 17:01] qiwzhang commented on #12377
It has been fixed. Now "iss" is optional.  Unless you use "allow_fail_or_mssing" or "allow_missing" flag.

[2020-10-23 17:08] rgs1 commented on #13736
Maybe related to #13637.

cc: @williamsfu99

[2020-10-23 17:12] wrowe commented on #13539
Just for clarification, 1.16.x and earlier would be unaffected (but not receive any security updates, as htuch mentions above, since moonjit has no maintainers.) 1.17.0 would be arriving in January, so if anyone takes on pushing moonjit fixes to the luajit project, I'm personally happy to help transition to a newer commit or release tag of 2.1.x branch of luajit in the process of deprecating moonj

[2020-10-23 17:17] phlax commented on #13597
fixed in #13651

[2020-10-23 17:17] #13597 closed

[2020-10-23 18:09] rgs1 opened #13737 "filters: improve docs & protections around callbacks"
We recently ran into an internal problem where an in-house filter was returning a local reply and immediately after returning `FilterHeaderStatus::Continue`, which ends up confusing the Router filter machinery.

A few things can be done to improve the experience for filter developers:

1) improve docs around the contract with filters (e.g.: #13678, I'll send another one for docs/root/faq/extension

[2020-10-23 18:14] rgs1 opened #13738 "debugging opt binaries with symbols using DWARF/Fission"
I've been unable to get a usable (non zero bytes) .dwp files for optimized build after #12569, so maybe docs can be improved around that.

cc: @lizan @foreseeable

[2020-10-23 19:12] andreyprezotto commented on #13637
@juanvasquezreyes  thanks for your reply. Do you mind posting your current full confg so I can take a look into it?
Thanks

[2020-10-23 19:23] juanvasquezreyes commented on #13637
sure, but is not working as I want
[code]

in the tokensecret.yaml I have this, and its similar to what I have in hmacsecret.yaml
[code]

[2020-10-23 19:57] moderation commented on #4705
SGTM too

[2020-10-23 20:20] andreyprezotto commented on #13637
@juanvasquezreyes using your config file I'm now able to run envoy, at least. Thank you!.
But it is not working yet.
I'm running the docker image locally, and when I request localhost:8080 I get an empty response from the server (envoy)...this is not even going through the filter yet.
And I don't see errors in the log.

[2020-10-23 20:46] htuch commented on #12841
Might be worth looking at the git history of some of the v3 files.

[2020-10-23 20:57] #13564 closed

[2020-10-23 20:59] PiotrSikora commented on #13566
Fixed in #13615. Not sure why it didn't pick it up.

[2020-10-23 20:59] #13566 closed

[2020-10-23 21:14] juanvasquezreyes commented on #13637
that is because the listener I'm using is not using port 8080

[2020-10-23 22:58] clundquist-stripe commented on #11369
Just wanted to check on this issue as it has been a while.
We're eager for this fix, and want to know if we should explore some other work arounds if it won't make it in 1.17

[2020-10-23 23:25] dmitri-d commented on #13602
Hmm, I'm not even sure what dependency raises this error; without looking at the code -- it may or may not be an actual issue, it depends on the possible range of values for `size`. Probably worth checking with the dependecy project itself.

[2020-10-24 00:31] #13408 closed

[2020-10-24 00:37] mattklein123 commented on #11369
Unfortunately from code inspection we have no idea how this can happen. Without a repro it's going to be very hard to fix this. Are you able to easily repro this? Can you come up with a self-contained docker compose repro? If not, is it easy enough to repro that you could capture trace logs of a repro?

[2020-10-24 00:40] mattklein123 commented on #13625
cc @envoyproxy/redis-dev PTAL

[2020-10-24 00:42] mattklein123 commented on #13659
This seems bad. cc @alyssawilk

[2020-10-24 00:43] mattklein123 commented on #13673
I think it would be fine to opt-in to extra stats based on route name (probably). This is what we have discussed in the past. I think there are other issues already tracking this.

[2020-10-24 00:46] mattklein123 commented on #13716
cc @jmarantz @oschaaf

[2020-10-24 00:47] mattklein123 commented on #13726
IMO a better way to handle this would be to allow a CLI flag to force a particular file format. I think this would avoid wackamole on file extensions?

[2020-10-24 00:49] mattklein123 commented on #13718
@dio ?

[2020-10-24 01:54] yanavlasov commented on #13672
Hmm, I'm not sure what the problem is. You can also try to enable profiler through the admin interface [like so](https://www.envoyproxy.io/docs/envoy/latest/operations/admin#post--cpuprofiler) and see if it works.

[2020-10-24 02:32] lizan commented on #13725
This is due to the [outage of AZP](https://status.dev.azure.com/_event/210657400) that doesn't report `envoy-presubmit` check status (but subchecks). #13744 should includes a workaround and for cancelled tests.

[2020-10-24 02:34] lizan commented on #13738
@rgs1 I think you missed some options from our `.bazelrc`. Make sure you have the following:

[code]

[2020-10-24 03:16] lambdai commented on #13672
By default we switched to google tcmalloc but the cpu/heap profiler is provided by gperf tcmalloc

run `bazel build --define tcmalloc=gperftools //source/exe:envoy` to build envoy and the profiler will be back

[2020-10-24 04:53] zjd87 commented on #13602
@dmitri-d https://github.com/v8/v8/blob/dc712da548c7fb433caed56af9a021d964952728/src/base/macros.h#L339     github v8 should fix this err, you maybe try to depend last version.

[2020-10-24 08:53] lambdai commented on #13376
I remember elder envoy didn't support http pipelining in http1.
When envoy is not done with the current response, the early next request bytes delivered to envoy.
These new bytes is not lost but the dispatcher lost the notification.

Somehow the dispatcher may be notified by unrelated events or timer.

Your minutes of delay fit this pattern. And you should be able to confirm if your requests form

[2020-10-24 09:01] PiotrSikora commented on #13690
I'm working on this.

[2020-10-24 09:50] phlax commented on #13586
in the absence of anywhere else to put these ive created a wiki page in my repo to collate links for now

https://github.com/phlax/envoy/wiki/Useful-links

[2020-10-24 10:10] phlax commented on #13532
i havent gone through all the service discovery types completely, and some of the terms may not be 100% correct, but ive created a wiki page here to get started

https://github.com/phlax/envoy/wiki/Glossary

[2020-10-24 14:40] Coconut105 commented on #12377
You have only fixed the case where "iss" is not present in JWT but "issuer" field is configured in envoy.
Verification should still not happen if "iss" is present in JWT but "issuer" field not present in envoy. But you don't allow not having "issuer" set in envoy. This is against RFC 7515 and needs to be fixed.

[2020-10-24 20:02] kyessenov commented on #13690
@PiotrSikora Can you share how you want to plan to fix this? I proposed a few options and not sure which one is the preference. I'm curious how we can make it work in the upcoming istio release.

[2020-10-25 15:36] #13488 closed

[2020-10-25 16:42] rchernobelskiy commented on #13659
It seems that since tcp connection pooling was introduced, there have been a number of workarounds for use cases that need 1:1 semantics so one idea that seems attractive would be to make non-pooled tcp proxy functionality available as an option.

[2020-10-25 17:03] williamsfu99 commented on #13637
@krubot
Looks like the OAuth filter's token_endpoint client was committed with some bugs. I'll send a PR today with the promised documentation.

[2020-10-25 17:49] grial1 commented on #9328
Hi 👋  @jmarantz, I would like to work on this issue.

[2020-10-25 19:09] jmarantz commented on #9328
Sounds good @gria1 -- please give it a go! Happy to review.

[2020-10-25 20:57] grial1 commented on #9328
Great, thanks! So as to clarify ideas, it is expected the *SAFE_MEMCPY* macro to be added and changes to the use of ```memcpy(...)``` for either this or MemBlockBuilder in the source. Then, a set of tests (in the check_format.py script) must be included for a couple of this changes. Did I missed something? Does the macro ought to be written in its own header file or is it prefered to be under *sou

[2020-10-25 21:05] htuch commented on #13726
Agreed on CLI flag for file format. We can still guess using extension as we do today but override with this flag.

[2020-10-25 21:10] htuch opened #13751 "Multi-value header matching API"
While the mechanics of plumbing multiple-valued headers to matchers have been taken care of by https://github.com/envoyproxy/envoy/security/advisories/GHSA-2v25-cjjq-5f4w and its aftermath, we still do not have a particularly ergonomic way to match on multiple header values. We now have a canonicalized flat string of all header values, which requires gymnastics with regular expressions etc. to do

[2020-10-25 21:10] htuch commented on #13454
Created https://github.com/envoyproxy/envoy/issues/13751 to continue discussion there on the API issues.

[2020-10-25 21:11] htuch commented on #13751
The work that @snowp is doing in https://github.com/envoyproxy/envoy/issues/12968 is step in this direction, but does not cover all existing match sites yet.

[2020-10-25 21:14] jmarantz commented on #9328
I think I'd put that new macro in source/common/common/macros.h.

[2020-10-26 01:24] clundquist-stripe commented on #11369
Oh, are the repro steps from Tan's post not working?
I can dig into it if that's the case!

[2020-10-26 01:46] Chwetion commented on #13668
@sunjayBhatia I use `"./ci/do_ci.sh build"`(at envoy-filter-example dir) replace `bazel build //:envoy`(at envoy-filter-example/envoy dir) step, still error:
[code]
maybe I should ask in another project

[2020-10-26 02:01] qiwzhang commented on #12377
I see.  In jwt_authn filter config,  "issuer" is a required field now.  This should be changed to be optional.

[2020-10-26 02:02] qiwzhang commented on #12377
Hi can someone reopen this issue, and assign it to me?   Thanks

[2020-10-26 07:09] hazelnutsgz commented on #13672
I enabled it, yo

[2020-10-26 07:09] #13672 closed

[2020-10-26 08:08] PiotrSikora commented on #13690
Second option from https://github.com/istio/istio/issues/28017#issuecomment-713391694, i.e. create a new root context for each plugin configuration.

See those PRs: https://github.com/proxy-wasm/proxy-wasm-cpp-host/pull/78 and https://github.com/envoyproxy/envoy/pull/13753. Could you give them a try?

Note that those PRs are still WIP, and plugin instances are not garbage collected, but other than

[2020-10-26 08:15] Chwetion commented on #13668
@sunjayBhatia sorry i found out that this is a problem caused by the development branch I pulled, when I switched to `git checkout v1.16.0`, all ok. thx.

[2020-10-26 08:15] #13668 closed

[2020-10-26 08:44] dimitraPat commented on #13627
Hi,
Since the issue is closed, what is the milestone for the fix?

[2020-10-26 12:56] alyssawilk commented on #3431
I'll go ahead and fix the FIXMES and get some tests working before I send it out.  Just wanted to check in early in since it sounded to me like it was a different plan than folks had already agreed on :-)

[2020-10-26 13:05] snowp commented on #3431
Yeah the idea was to make a raw connection to perform ALPN negotiation before deciding which delegated pool to use, then handing that connection over to the pool once ALPN was decided. My motivation for doing a delegated pool was to be able to reuse the protocol specific handling in each pool (e.g. number of allowed concurrent streams), but if the consolidation of the connection pool has come far

[2020-10-26 13:55] phlax opened #13755 "Automate generation of docker image table in docs"
### description

When we landed #13490 it hardcoded the availablle  docker images.

This should be generated automatically according to tag/branch

[2020-10-26 14:02] yanavlasov opened #13756 "Gracefully handle removal of critical headers by filters"
It happened on several occasions that buggy filters modify or remove headers critical to Envoy's internals (or other filters in the chain). Envoy should check if required request or response headers are still present and valid after invoking filter's `decodeHeaders()` or `encodeHeaders()` method. If a filter has modified or deleted critical header the request should be aborted with 500 response.

[2020-10-26 14:24] anst270125 opened #13757 "Allow any headers in AuthorizationRequest/AuthorizationResponse of ext_authz filter"
Envoy config:
[code]

I'm trying to allow any header in the allowed_[xxx]_headers parameter using the safe_regex string matcher. Is this the proper way to allow all headers ? Envoy crashes with some strange output:

[code]

[2020-10-26 14:59] dio commented on #13757
@ anst270125 could you share your envoy binary version?

[2020-10-26 15:01] anst270125 commented on #13757
I'm using Envoy in Kubernetes:
`  image: envoyproxy/envoy-alpine:v1.13.1`

[2020-10-26 15:09] hsuyuming commented on #13736
Thank you, i think it is similar

[2020-10-26 16:25] abaptiste commented on #13733
I am able to reproduce the delay.  Using dig or any tool (python3-dnspython) to interact with the filter directly does not show the issue.

Let me dig into this a bit and I'll let you know what I find out.

[2020-10-26 16:25] abaptiste commented on #13733
/assign abaptiste

[2020-10-26 16:34] markdroth commented on #13370
FYI, gRPC is going to support this without depending on `readlink(2)`, for two reasons:

1. `readlink(2)` isn't portable, and we didn't want to have to provide a separate solution for Windows.
2. We didn't want to force people to use a symlink in cases where it might not be necessary.  For example, it's actually fully possible to do this swap safely without a symlink by creating a new directory wi

[2020-10-26 17:05] leyvReyn opened #13761 "Unable to use HTTP local rate limit"
Good day.

Trying to follow guide for HTTP local rate limit on [documentation page](https://www.envoyproxy.io/docs/envoy/v1.16.0/configuration/http/http_filters/local_rate_limit_filter#config-http-filters-local-rate-limit)

But getting error on envoy start:
[code]

Envoy version: docker container envoyproxy/envoy-alpine:v1.16.0

I guess the problem might be because [well known names](https://githu

[2020-10-26 17:23] alyssawilk commented on #13737
cc @snowp who has been tweaking the filter manager logic most recently.
I wonder if there's simple checks and error handling we can put in there to catch continue-after-end-stream

[2020-10-26 17:24] htuch commented on #13370
Interesting. A few questions / comments:
* The current design doesn't require a symlink, or even `readlink` really, just some form of path canonicalization.
* How do you know there has been an update in gRPC? Are you still using inotify?
* Why not hash? We're actually hash already in the watcher, so we could do a hash based scheme similar to what you describe that is even more robust and doesn't r

[2020-10-26 17:30] snowp commented on #13737
I think we could set a flag (or ASSERT on an existing flag?) that prevents filter iteration after we've issued a local reply. Conceptually I think any filter that issues a local reply is presenting the full response for this stream, so continuation at this point is unnecessary.

[2020-10-26 17:58] markdroth commented on #13370
Initially, we are not planning to use inotify, although we might switch to it later, once we've finished migrating to EventManager-based polling.  For now, we're planning to do a polling-based approach where we check for changes periodically via a timer.

Reading the files twice and comparing the hashes of their contents could work as an alternative to using timestamps.  But it does seem like a mo

[2020-10-26 18:04] abaptiste commented on #13733
It turns out that the client is sending 2 queries with two different Query ID's.  When the response for the first query is being generated it is erroneously using the ID for the second Query.

I am working on tests for this and will create a PR shortly.

[2020-10-26 18:12] grial1 commented on #9328
Hi, I am facing some difficulties when trying to compile the project locally using the docker container (with *envoyproxy/envoy-build-ubuntu:b480535e8423b5fd7c102fd30c92f4785519e33a* as its image). It seems there is an issue with some external dependency (mainly, zlib), so I was wondering whether you have seen this before.

[code]

[2020-10-26 18:14] htuch commented on #13370
I'm not sure if this filesystem access is a real bottleneck here given that rotations are relatively rare, the files are tiny and in may cases only live in a tmpfs or other virtual filesystem. But yeah, timestamps can work at the expense of risking some corner cases (e.g. if last modified timestamp is coarse grained, two files might be last modified at the same time).

I think I'll give this hash-

[2020-10-26 18:19] jmarantz commented on #9328
I haven't but I confess I do not use docker. Not sure if that's related.

[2020-10-26 18:22] tsaarni commented on #13370
Just to double check since I'm not familiar with the total picture: are all the files related to a secret `read()` to memory during the watch callback?  I ask since of course hashing before and after could only catch changes during callback.

[2020-10-26 18:23] andreyprezotto commented on #13637
I changed to use 8080 in my config file, and I have and app listening to this port.
I see this warning in envoy logs: `[warning][config] [source/common/config/filesystem_subscription_impl.cc:43] Filesystem config update rejected: Unexpected SDS secret (expecting hmac): token`

[2020-10-26 18:34] clundquist-stripe commented on #11369
Working from @tan-stripe 's example and updating it to Envoy 1.16 I still see the reported behavior.

[code]

I did have to:
- `go get golang.org/x/net/http2/h2c` for `server.go` to build which isn't too surprising
- `docker run  -p 10000:10000/tcp -it <sha>` to get the port forwarding to work locally

[2020-10-26 18:54] yanavlasov commented on #13761
@rgs1 for any comments.

[2020-10-26 19:08] htuch commented on #13370
Right now, we pass both contents read and path to the update callbacks. However, we can read files into memory and pass a pseudo-`DataSource` with the contents "inlined". This ensures that any consumer of the `DataSource` does not look at the filesystem outside of `sds_api.cc`.

[2020-10-26 19:25] snowp opened #13762 "RTDS stats are not scoped"
RTDS stats are scoped to the root level, resulting in stats being generated without much context:

[code]

The fix is easy enough and just involves passing the appropriate stats scope when creating the subscription callbacks.

[2020-10-26 19:27] grial1 commented on #9328
Anyway, another more relevant question hehe 😅 ,  personally, I am struggling a bit when deciding whether to choose SAFE_MEMCPY or MemBlockBuilder. For instance, would you (@jmarantz) consider the following a valid usage of either of those? And in case it is not, would you you provide a simple example to clear our some ideas?
(Thxs in advanced 👍 )
[code]

[2020-10-26 19:35] jmarantz commented on #9328
I think SAFE_MEMCPY seems appropriate, if the types match. And in that case we should be able to drop the `void*` cast. I'm skeptical of the safety of anything that requires the void* cast.

If we need to we should be able to put the `void*` cast into the `SAFE_MEMCPY` macro definition, after first having validated that the source/dest sizes are the same.

[2020-10-26 20:02] rgs1 commented on #13761
@leyvReyn the http local rate limiter is an HTTP filter, not a network filter (there an L4 filter too, but that's not what we are talking about here). So:

[code]

is wrong. You want it within the http filters, e.g.:

[code]

[2020-10-26 20:36] chengdol commented on #13704
Fixed by referring this issue #13630 , currently the doc get updated only in latest verion, for CONNECT method support, the domain filter must have port added:
[code]

[2020-10-26 20:37] #13704 closed

[2020-10-26 20:56] derekargueta opened #13766 "Make OAuth scopes configurable"
*Title*: Make OAuth scopes configurable

*Description*:
It's [currently hard-coded to `scope`](https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/http/oauth2/filter.cc#L51) but the scopes can vary widely, e.g. see Github's OAuth scopes: https://developer.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/#available-scopes

cc @rgs1 @fishcakez @williamsfu

[2020-10-26 22:46] williamsfu99 commented on #13766
FYI you tagged a random William

[2020-10-26 22:50] eltalkarim commented on #13510
@htuch yes I can

[2020-10-26 23:05] derekargueta commented on #13766
🤦 woops, fixed

[2020-10-26 23:46] htuch commented on #13586
I think this would be reasonable to take on the official Envoy wiki page, what do we need to do to set some allowlist of contributors to edit it?

[2020-10-27 01:20] #13725 closed

[2020-10-27 06:48] perlun commented on #13726
Works for me, sounds good. :+1: Would you like me to give it a try?

[2020-10-27 08:16] phlax commented on #13586
on further investigation it seems that is not possible

https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/changing-access-permissions-for-wikis

it seems like the edit options are `collaborators` OR `everyone` - and i think collaborators is defined as commit access

not sure if this will work. pity.

feel free to close the ticket as #wontfix

[2020-10-27 08:17] phlax commented on #13586
we could still move the page to the envoy wiki - just less people will be able to update

[2020-10-27 08:20] leyvReyn commented on #13761
Awesome, thank you!
The issue can be closed.
This configuration worked well:
[code]

[2020-10-27 08:48] phlax commented on #13586
or everyone can, but im not  sure about that - might  work

[2020-10-27 08:57] Brunomachadob opened #13774 "x-request-id is being modified when using tracing"
*Description*:
The issue is that even by simply adding an empty `tracing: {}`, Envoy is modifying the `x-request-id` that was sent in the request, changing the version from `4` to `9` 🤷‍♂️

I have noticed this before in our logs from another gateway we have, which contains this configuration, but I had no idea that `tracing` was the cause, yesterday by luck I managed to track down the problem to t

[2020-10-27 11:50] anst270125 commented on #13757
I replaced the 1.13.1 envoy image with the 1.16.0 version, and the problem is solved.  Thanks Dio for mentioning the binary version ;)

[2020-10-27 11:50] #13757 closed

[2020-10-27 12:07] ppadevski opened #13776 "Allow access to upstream peer certificate in HTTP filters"
Suppose we have the following static configuration

            http_filters:
            - name: envoy.filters.http.returns_526
            - name: envoy.filters.http.router

where the **returns_526** HTTP filter would like to change the status code from 5XX to e.g. 526 and set the response body to the upstream peer certificate whenever envoy is unable to connect to an upstream TLS cluster due to

[2020-10-27 12:41] htuch commented on #13726
Sure @perlun, I've assigned the issue to you.

[2020-10-27 12:43] Shikugawa opened #13777 "cluster manager: cluster activation after it failed because of secure transport socket not ready"
Related with https://github.com/envoyproxy/envoy/pull/13344.
In the current implementation, it doesn't keep warming if SDS based secret entity can't be extracted because of the existence of runtime feature flag. `envoy.reloadable_features.cluster_keep_warming_no_secret_entity`.
To remove this, we should have delayed activate behavior on `clusterInit`. I'm considering implementing with this approac

[2020-10-27 13:00] htuch commented on #13586
Yeah, I don't fully understand the ACLs here, GitHub isn't super clear. Can we just make this a `.md` that we edit via PRs? This seems to be the easiest to reason about. Maybe open a PR for your set of links?

[2020-10-27 13:57] perlun commented on #13726
Thanks @htuch. A pointer or two about where to start in this case wouldn't hurt. :smile: I haven't contributed any (code) changes to Envoy previously, but I'm probably able to figure the basics out if you point me in the right direction.

[2020-10-27 15:11] mattklein123 commented on #11369
@clundquist-stripe can you put docker a self-contained docker compose based repro using current main branch and I will take a look? Thank you.

[2020-10-27 15:23] phlax opened #13778 "Docs are published before Docker images - leaving dangling links"
### description

raised by a user in the slack channel...

when docs are published, they publish links/instructions for a docker image `envoy-dev:SHA` with the `sha` corresponding to the last commit on master

unfortunately when the docs are published the Docker images are still cooking, and the links dont work (for maybe an hour or so)

as we are constantly updating master, i would imagine that w

[2020-10-27 15:27] mattklein123 commented on #13778
cc @lizan I think it would be reasonable to split out docs publish from docs CI and do that after docker publish?

[2020-10-27 15:41] mattklein123 commented on #13751
+1 to trying to cover this via the @snowp work.

[2020-10-27 15:44] mattklein123 commented on #13737
+1 I think we should have more ASSERTS around bad behavior. We can start there and then potentially think about more robust error handling to protect against bad filters. I know that @asraa and @yanavlasov have been thinking about this issue in the context of header removal.

[2020-10-27 16:01] #8614 closed

[2020-10-27 16:28] junr03 opened #13779 "compression: support request compression"
compression: support request compression

*Description*:
Currently the [compressor filter](https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/http/common/compressor/compressor.cc) only supports _response_ compression.

On the other hand the decompressor filter is bidirectional, i.e., it supports _both_ request and response decompression.

In order to use envoy as a full bide

[2020-10-27 17:04] jphx opened #13781 "Incorrect error responses for large HTTP POST request bodies when routing through Akamai"
My organization is running into a problem for HTTP POST requests that are routed through the Akamai content delivery network when the server returns a response without reading the entire request body.  The circumstances where this is a problem are the following:

1. The client does _not_ include the `Expect: 100-Continue` request header, or
2. The client does include the `Expect: 100-Continue` req

[2020-10-27 17:51] sschepens opened #13782 "metrics service: reduce amount of time queries?"
*Description*:
Metrics service requests a timestamp for each metric it has to push, once for [counters](https://github.com/envoyproxy/envoy/blob/master/source/extensions/stat_sinks/metrics_service/grpc_metrics_service_impl.cc#L52) and [gauges](https://github.com/envoyproxy/envoy/blob/master/source/extensions/stat_sinks/metrics_service/grpc_metrics_service_impl.cc#L68) and [twice](https://github.co

[2020-10-27 21:17] lizan commented on #13778
yeah that sgtm.

[2020-10-27 21:46] davinci26 opened #13786 "Increase test coverage for io_socket_handle_impl event handling"
*Description*:
see discussion in https://github.com/envoyproxy/envoy/pull/13478#discussion_r512835272

Add tests to validate the logic when `file_event_` is a nullptr.

[2020-10-27 21:47] davinci26 commented on #13786
cc @mattklein123 @antoniovicente

[2020-10-28 00:44] Shikugawa commented on #13777
/assign @Shikugawa

[2020-10-28 00:51] NonStatic2014 opened #13790 "Some requests were dropped by envoy?"
*Title*: *Some requests were dropped by envoy?*

*Description*:
In our envoy, we log twice:

1. at very beginning when request arrives, we log a unique id in the request header in the lua filter;
[code]
2. the access log, including the same request header.

After run a while, we see some of requests could only be found in the #1 log above. Is there any clue to debug this issue? Currently the issue

[2020-10-28 01:15] dio commented on #13790
@NonStatic2014 probably the access logs are not flushed yet?

[2020-10-28 01:49] htuch commented on #13726
@perlun check out https://github.com/envoyproxy/envoy/blob/b9ed0a991d90363ad04da2191891f54790482dcf/source/common/protobuf/utility.cc#L392.

[2020-10-28 02:02] antoniovicente commented on #13716
There are few code changes between 1.14.4 and 1.14.5.  What environment is envoy running in?  What envoy binaries are you using?

[2020-10-28 02:41] ckennelly commented on #10053
TCMalloc now has an ARM64 implementation for its per-CPU caches, as of google/tcmalloc@4c6e2e3bf96878bf2c87055ae14c87df9531200f

[2020-10-28 04:32] nic-chen opened #13791 "proposal: Implement `uri blocker` by Lua filter"
## Background

We are developing a Lua framework that support Apache APISIX plugins run directly in Envoy Lua filter without modify Envoy. #13307

## Goals

Implementing the `uri blocker` plugin running on envoy.

Through uri blocking rules configuration, intercept invalid uri requests

## Implementation

1. Configure block rules and rejected code through `metadata`

2. Check whether the accessed

[2020-10-28 05:34] membphis commented on #13791
How to enable the plugin `uri-blocker` in routes? Can you provide an example?

[2020-10-28 08:55] ieugen commented on #125
I'm also looking into using SRV for service discovery with envoy.

[2020-10-28 09:06] phlax commented on #13586
ok. ill let it incubate a while longer first, im adding links pretty frequently, and dont want to create a lot of PR noise

[2020-10-28 09:08] rumanzo opened #13794 "Envoy stops use dns_resolvers from cluster after network restart"
*Description*:
We use standalone envoy on centos 8 with kubernetes installation. When on node happens restart network (systemctl restart network.service for example), envoy stops query resolvers defined in dns_resolvers section, and start to use system resolve (dns servers defined in /etc/resolv.conf).From the documentation it looks like the behavior is reset to use the default resolver
https://ww

[2020-10-28 10:56] p53 opened #13795 "Rate limiting before Scheme redirection"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Rate limiting before Scheme redirection*

*Description*: i have http to https redirection, i am using envoy as front proxy, i would like to rate limit before redire

[2020-10-28 11:27] ramaraochavali commented on #13782
Yes. I think that makes sense for metrics service - MetricSnapshotImpl having the time when snapshot was created and using it across all metrics.

[2020-10-28 11:59] headshot289 opened #13796 "use envoy-build-ubuntu image build error"
### I tried to compile with envoyproxy/envoy-build-ubuntu image, but I encountered some errors..
### The following is the terminal output
root@99159dbae7b0:/source# ./ci/do_ci.sh bazel.dev
No remote cache bucket is set, skipping setup remote cache.
ENVOY_SRCDIR=/source
start setup_clang.sh
$TEST_TMPDIR defined: output root default is '/build/tmp' and max_idle_secs default is '15'.
WARNING: The fol

[2020-10-28 15:11] nic-chen commented on #13791
@membphis

It should be:

### source codes
[code]

### per_filter_config
[code]

### config
[code]

When it's done, I will write a real usable example here.

[2020-10-28 15:22] membphis commented on #13791
Is it possible to use a name that is easier to understand? eg: `http.lua.plugins.test_uri_blocker`

[2020-10-28 15:54] Shikugawa opened #13799 "tracing: Apache SkyWalking C++ SDK integration"
We have SkyWalking tracer in Envoy. https://github.com/envoyproxy/envoy/pull/13060#pullrequestreview-518395216
I think that this feature should be provided by the external library. So I'm creating C++ SDK for Apache SkyWalking focusing on Envoy integration. https://github.com/SkyAPM/cpp2sky
I'd like to track this movement on this issue. cc @wbpcode @dio @lizan

[2020-10-28 17:37] itamarkam opened #13801 "Add an OTLP (gRPC) logger to Envoy"
Adding the OTLP logger will allow integration with more 3rd party monitoring frameworks, especially when using OT collector to convert them to whichever format needed.

Although OpenTelemetry logging isn't going to be part of the GA and the C++ SDK isn't ready yet, we don't actually need them in order to export OTLP logs - as long as the [OTLP logs proto](https://github.com/open-telemetry/opentele

[2020-10-28 18:24] moderation commented on #5155
This commit on 2020-10-02 confirms that the last remaining maintainer for http-parser has moved on and http-parser is no longer maintained - https://github.com/nodejs/http-parser/commit/ec8b5ee63f0e51191ea43bb0c6eac7bfbff3141d.

From an @envoyproxy/dependency-shepherds POV it would be great if we could get https://github.com/envoyproxy/envoy/pull/9033 over the line /cc @derekargueta @htuch

[2020-10-28 18:41] yanavlasov commented on #13796
Do you have `/build/tmp` directory? Is it writable?

[2020-10-28 18:47] ingluife commented on #13240
Hi guys.
Is there any solution here?
I have the same problem.
I'm uploading a long file (More than 120 Mb) and when the uploading process is 4% the connection is closed with the same message:

[code]
Additional context:
It works when I upload a small file (less than 100 Gb).

Tested:
I tried to simulate the upload process from inside the POD, using `curl` and the same long file pointing directly t

[2020-10-28 18:51] jphx opened #13802 "TCP traffic tapping with streaming uses max_buffered_rx_byte and max_buffered_tx_bytes"
I've configured an upstream cluster to enable TCP traffic tapping, using the [admin-style](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/tap_filter#admin-handler) configuration that streams the data to the [/tap](https://www.envoyproxy.io/docs/envoy/latest/operations/admin#post--tap) admin endpoint.  My upstream cluster configuration includes:

[code]

Then I post thi

[2020-10-28 19:06] yanavlasov commented on #13794
@junr03 for any comments

[2020-10-28 19:14] jphx opened #13803 "TCP traffic tapping doesn't support any matching other than "any""
I've been experimenting with TCP traffic tapping of an upstream cluster.  E.g.,:
[code]
This example uses the `admin_config`, but that's not important.  My question concerns the `static_config` alternative as well.  Continuing with the admin config example, however, if I post this document to the `/tap` endpoint, if captures traffic:
[code]
But if I post this document, with different match criteri

[2020-10-28 19:22] yanavlasov commented on #13781
I do not think there is anything you can do with Envoy's configuration.
However I believe the filter is possible, it can delay response header encoding until it sees the request stream has ended. It would lead to a lot of wasted bandwidth though.
@alyssawilk @mattklein123 @antoniovicente  for any additional comments.

[2020-10-28 19:39] #13191 closed

[2020-10-28 19:41] #13157 closed

[2020-10-28 19:51] #13761 closed

[2020-10-28 20:00] antoniovicente commented on #13781
As far as I know early error responses wiith "Connection: Close" headers is a valid way to handle these POSTs.  You should encourage Akamai to improve their implementation.

The work around that you describe involving a filter that discards the rest of the body when the body is below some size threshold with a timeout would likely work most of the time, but won't work for errors generated before H

[2020-10-28 20:20] altexdim commented on #12704
You can use lua plugin as a workaround

`          - name: envoy.filters.http.lua
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.http.lua.v3.Lua
              inline_code: |
                function envoy_on_response(response_handle)
                  if (response_handle:headers())
                  then
                    response_handle:headers():r

[2020-10-28 20:26] altexdim commented on #12545
You can use a lua script as a workaround

[code]

[2020-10-28 20:35] altexdim commented on #12953
There's workaround to use a lua script to pass over the headers you need

[code]

[2020-10-28 20:36] mattklein123 commented on #13781
You could use the buffer filter with some max size. This is very wasteful for bandwidth and memory, but might work for you. Note that this will not cover *all* early return cases per @antoniovicente but would cover most of them.

[2020-10-28 20:43] jphx commented on #13781
Thanks for the advice.  We considered using buffering, but some services support extremely large request bodies, so it didn't seem practical for us due to the increased memory usage.  Thanks also for the observations that a filter wouldn't cover all situations.  That hadn't occurred to me.  I don't really _want_ to write a new filter to deal with this, and the fact that it wouldn't cover all situa

[2020-10-28 20:57] gargnupur opened #13805 "Route specific HTTP Local Rate limiter not working"
*Title*: *Route specific HTTP Rate limiter not working*

*Description*:
Using new Http Local Rate Limiter(https://github.com/envoyproxy/envoy/pull/13395) and it's working at the global config but not at route specific one.

I added debug logs in the Local Rate Limiter Code and it seems to reach the generateStats and FilterConfig methods but not the runtime decodeHeaders method.

*Repro steps*:
Sam

[2020-10-28 20:59] gargnupur commented on #13805
/cc @rgs1 @kyessenov @mandarjog

[2020-10-28 21:03] rgs1 commented on #13805
@gargnupur hmm that's pretty much how we use it. Can you share your listener config too?

[2020-10-28 21:04] rgs1 commented on #13805
@gargnupur can you share the generated stats under the `local_rate_limit` prefix?

[2020-10-28 21:09] gargnupur commented on #13805
Everything is 0...

# TYPE envoy_local_rate_limit_http_local_rate_limit_enabled counter
envoy_local_rate_limit_http_local_rate_limit_enabled{} 0

# TYPE envoy_local_rate_limit_http_local_rate_limit_enforced counter
envoy_local_rate_limit_http_local_rate_limit_enforced{} 0

# TYPE envoy_local_rate_limit_http_local_rate_limit_not_enabled counter
envoy_local_rate_limit_http_local_rate_limit_not_enabl

[2020-10-28 21:13] rgs1 commented on #13805
Note that you still need to add the filter, with an empty-ish config, to the list of http filters in the http conn manager config.

[2020-10-28 21:20] gargnupur commented on #13805
Thanks.. That worked!

I see in the documentation now that you have included an empty one for HTTPConnectionManage, but can we make this clear that this is required. Also, why is this needed?

[2020-10-28 21:29] rgs1 commented on #13805
It's needed because you need to declare up front your HTTP filters (order matters). You can't enable a filter via a per route config (in what order would it be evaluated?).

[2020-10-28 21:31] gargnupur commented on #13805
Got it thanks much!

[2020-10-28 21:31] #13805 closed

[2020-10-28 21:36] rgs1 commented on #13805
If you think docs could improve, please send a PR. Happy to review!

[2020-10-28 21:39] #12304 closed

[2020-10-28 22:24] kyessenov opened #13806 "wasm: onLog is not always called for network streams on upstream failure"
Ref: https://github.com/istio/istio/issues/24720
Validated with a flakey upstream that becomes unavailable at an interval.
Recording number of calls to onLog and onNewConnection, we see that onLog is not always called:
connection_count: 11030 log_count: 10662

/cc @PiotrSikora

[2020-10-28 22:34] kyessenov commented on #13806
Note: stream contexts are also leaking (they are not destroyed in null VM after the stream is gone).

[2020-10-28 23:02] mattklein123 commented on #13803
Transport level tapping doesn't support HTTP matching. I think we can do 2 things here:
1) Better docs
2) Possibly fail if a configuration that we can't actually match on is specified.

[2020-10-28 23:04] mattklein123 commented on #13802
This is a doc bug. The intention is to avoid the tap traces getting too large. I think you could basically supply "max int" for the values to tap everything.

[2020-10-28 23:12] kyessenov commented on #13806
We chatted briefly and believe that we should probably simplify the ABI to stop trying to figure out who closed the connection (upstream and downstream) and then wait for both. Instead, we should just emit closure event if either upstream or downstream closes.

[2020-10-28 23:50] junr03 commented on #13794
@rumanzo I see the bug. The problem is that the c-ares channel only gets pointed to the configured resolvers on construction. However, if there is a subsequent channel destruction (due to a network error for instance) the channel is not pointed back to the custom resolvers.

I will put up a PR to fix this ASAP.

[2020-10-29 00:53] howardjohn commented on #13070
I am fairly sure this is the cause of https://github.com/istio/istio/issues/23029. I can reproduce this pretty reliably (not 100% of time, but within a few minutes).

The test I am doing is updating a cluster every 2s, changing some field in metadata that does not matter. In the mean time, I send 2k QPS.

Cluster, which notable has no TLS or health check:
[code]

note: 3s initial fetch timeout was

[2020-10-29 00:58] #13762 closed

[2020-10-29 01:46] mk46 commented on #12807
Hi @wrowe,  I would like to take up this.

[2020-10-29 02:28] headshot289 commented on #13796
Thanks for your reply.

This directory exists and writable.

root@99159dbae7b0:/build/tmp# pwd
/build/tmp
root@99159dbae7b0:/build/tmp# ls -ll
total 0
drwxr-xr-x 5 root root 160 Oct 26 09:10 _bazel_bazel
drwxr-xr-x 5 root root 160 Oct 28 03:36 _bazel_envoybuild

[2020-10-29 02:35] udaymadu commented on #13147
@yanavlasov Do we have any update on it and would like to know which release would it be part of.

[2020-10-29 03:37] PiotrSikora commented on #13806
You can do this right now, there is nothing at the ABI level that is stopping you from performing actions on downstream or upstream connection close.

It looks that the guard to wait for both connections being closed was added here: https://github.com/envoyproxy/envoy-wasm/pull/453, though I don't see anything wrong there.

Note that the "upstream connection close" event implementation in Envoy is

[2020-10-29 04:35] larryrun opened #13809 "Support dynamic host rewrite and Proxy-Authorization Header injection via SDS in TCPProxy tunneling"
Hi team,

We use the TCPProxy filter to tunneling TCP traffic to upstream services. The upstream service is also an Envoy, it does the authn/authz check and then forward the packets to the real port.

When a client calls a service, the traffic flow looks like :
[Client(call 2.2.2.2:80)] -> [Iptables redirect to \:8000] -> [ClientSide Envoy TCPProxy (listens on 8000, Will do tunneling based on the

[2020-10-29 04:55] meringu commented on #1106
AWS has announced ACM support in for their Nitro instances: https://aws.amazon.com/about-aws/whats-new/2020/10/announcing-aws-certificate-manager-for-nitro-enclaves/

Is this issue what's needed for TLS and mTLS certificates from ACM in Envoy? This would be a big win for us in reducing certificate management overhead.

[2020-10-29 05:17] PiotrSikora commented on #1106
@meringu it looks that ACM it's using PKCS#11, so yeah.

[2020-10-29 05:59] mk46 opened #13811 "CodeQL-Build fails."
CodeQL-Build fails due to out of space.
  Ref [#13671](https://github.com/envoyproxy/envoy/pull/13671/checks?check_run_id=1317196107)
[code]

[2020-10-29 06:30] hazelnutsgz opened #13812 "About Source code Documentation"
I was wondering does envoy provide the doxygen-like doc for the whole codebase, which could help with analyzing the source code layout (especially for class inheritance).

Thanks.

[2020-10-29 07:01] zjd87 commented on #13502
@htuch "Configurable ciphers: Each TLS listener and client can specify the ciphers that it supports."   how to configure ciphers, and  here isn't   configure demo in https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/ssl

[2020-10-29 07:32] lizan commented on #13085
This seems a valid feature request but need design proposal. @mattklein123 the extension filter is about how we filter log entries, but it doesn't let access log support generic protocol, other than TCP / HTTP.

@cpakulski was looking into how to integrate MySQL logs (e.g. transaction logs which is in different layers than TCP), we saw same issue with current logging structure including ALS. It ma

[2020-10-29 07:33] rohitagg2020 opened #13813 "Invalid config on Specifying gRPC Access Log Service to V3"
*Title*: *Specifying GRPC Access Log Service to V3 crashes Envoy.*

*Description*:

Envoy Documentation mentions that we can specify which version to use for gRPC ALS by specifying *transport_api_version*.
https://www.envoyproxy.io/docs/envoy/latest/faq/api/envoy_v3
https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/access_loggers/grpc/v3/als.proto.html?highlight=common_config#envoy-v3-

[2020-10-29 07:34] lizan commented on #13796
Which image are you using and what version of Envoy are you trying to compile?

[2020-10-29 07:37] govale commented on #11308
Are there any optimistic plans to support this in the near future? 🙂

[2020-10-29 08:22] headshot289 commented on #13796
It's my problem, resolved after removing the /tmp/envoy-docker-build/tmp/  directory on my host.

[2020-10-29 08:30] dio commented on #13813
@rohitagg2020 I think it is not crashing, but as the error message suggests: "Protobuf message (type envoy.config.bootstrap.v3.Bootstrap reason INVALID_ARGUMENT:(common_config) transport_api_version: Cannot find field.) has unknown fields
"

What is your envoy binary version? I believe this is added from v1.15.0.

[2020-10-29 09:34] hustshawn opened #13815 "The size of the envoy binary built from source code is extrordinary large"
*Title*: *One line description*

*Description*:
Hi, I tried to build the code but find the size of the binary is extremely large. I used the script inside of `ci` directory, and built with options `bazel.release.server_only`. Anyone knows why? and where I did wrong?

[code]
The size of binary goes to 1.2GB, is it normal? I expect it should be no more than 100MB as I saw in the istio-proxy.
[code]

[2020-10-29 09:56] mk46 commented on #13779
Hi @junr03, I would like to work on this issue.

[2020-10-29 10:14] rojkov commented on #8448
So, I did one more try to solve this mystery. Turned out I was measuring wrong numbers. Flamegraphs and profilers show where CPU cycles are spent, not where wall time is spent. I used `PerfAnnotationContext` to measure exactly how long it takes to `deflate()` 157k of JSON in a running Envoy instance. On my machine the average is 6.6ms (out of >14ms connection life span). The same measurement for n

[2020-10-29 10:24] dio commented on #8448
Wow. So awesome!

[2020-10-29 10:27] headshot289 commented on #13796
@lizan  I used image is envoyproxy/envoy-build-ubuntu tag:b480535e8423b5fd7c102fd30c92f4785519e33a, Envoy on release/v1.16 branch

[2020-10-29 10:32] phlax opened #13817 "Configured static clusters appear to default to V2"
### description

configuring the static_resources for xDS to consume dynamic config, i `config_dump` ed the `static_clusters` and the cluster is shown as `V2`

not sure if there is something i could add to tell it to use v3, but either way the default seems to be v2

### steps to reproduce

start envoy with the following config

[code]

dump the config as follows

[code]
you should get the followi

[2020-10-29 10:34] rojkov commented on #10053
Yeap, I'll take care.

[2020-10-29 11:28] p53 commented on #13513
i think this is related https://github.com/envoyproxy/envoy/issues/6502

[2020-10-29 12:02] jmarantz commented on #8448
Great work!

The only change you made was to set per_connection_buffer_limit_bytes to 8192? What was it prevously?

[2020-10-29 12:16] rojkov commented on #8448
Yes, only this change.  Initially there was nothing in my config and the default is 1M.

[2020-10-29 12:23] rgs1 commented on #8448
@rojkov hmm, interesting. Could it a problem that we have different limits for listeners and clusters:

[code]

?

This is all using zlib-ng right?

[2020-10-29 12:24] rgs1 commented on #8448
Our settings:

[code]

So mostly the same, I don't expect that memory_level:9 vs memory_level:8 would make such a big change...

[2020-10-29 12:34] rojkov commented on #8448
No, I compiled Envoy with the same old zlib used by Nginx.

I don't think different limits matter so much. Neither memlevel 9. Then I don't understand why your results are so different :(

[2020-10-29 12:43] rgs1 commented on #8448
@rojkov let me dig a bit more on our side, regardless of our case this is a great finding -- thanks! Shall we document this somewhere?

[2020-10-29 13:15] rojkov commented on #8448
Yeah,  adding some notes to `compressor_filter.rst` won't harm. I'll think how to formulate it better.

By the way, at some point I experimented with CPU frequency a bit: while benchmarking compression with k6 I artificially loaded all the cores to 100% (with a full envoy rebuild). This made Envoy serve twice as fast and Nginx showed a similar dynamics. Which can be counterintuitive yet explainabl

[2020-10-29 13:18] kkatrio commented on #13708
@qiannawang @asraa So is this a bug? Are there any plans to fix it? For performance reasons, it seems kind of important that the key is not fetched for every message, no?

[2020-10-29 13:43] yanavlasov commented on #13774
It looks like this is how stable tracing IDs work. @mattklein123 for more info

[2020-10-29 14:11] yanavlasov commented on #13815
I think this build includes debug symbols in the binary file. You can define `BAZEL_BUILD_OPTIONS=--strip=always` to build binary without symbols.

[2020-10-29 14:21] yanavlasov commented on #13811
It has been working for recent PRs. It could be that /retest on your PR did not rebuild codeQL. You can try adding an empty commit to your PR to kick off the codeQL rebuild.

[2020-10-29 14:22] yanavlasov commented on #13811
Please re-open if this is still a problem.

[2020-10-29 14:22] #13811 closed

[2020-10-29 14:27] yanavlasov commented on #13809
I think this is a problem that @lambdai is trying to solve as well. @alyssawilk for any more comments as well.

[2020-10-29 14:28] jphx commented on #13802
Thanks for the info.  I was afraid that specifying a large number for `max_buffered_rx_bytes` and `max_buffered_tx_bytes` would cause large as chunks of memory to be allocated, but if you're suggesting "max int", that must not be the case.

[2020-10-29 15:00] mattklein123 commented on #13085
I agree. We actually need access logs for the DNS filter also at Lyft (cc @abaptiste) so whatever we come up with here can be used for that.

Naively I would think that the general HTTP/TCP system should work with possible protocol specific data extensions?

[2020-10-29 15:19] cpakulski commented on #13085
I am working on a prototype. The idea is to emit fairly flexible messages describing non-HTTP transactions, like database interactions. I could not fit them into gRPC message, as it is very HTTP specific.

[2020-10-29 15:22] mattklein123 commented on #8448
Thanks @rojkov this is amazing work and a really great finding around how buffer sizes effect the overall throughput.

I'm a little confused and have a few questions that we can follow up on:
1) In the compressed case, are we basically doing a single writev with a single slice which is giant?
2) In the uncompressed case, are we doing a single writev with multiple slices? Or is the data spread over

[2020-10-29 15:27] alyssawilk commented on #13114
IPv4 was fixed a ways back.  IPv6 was fixed by #13798 so you should be good to go!

[2020-10-29 15:39] mattklein123 commented on #13774
See the docs https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/observability/tracing and https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/headers#config-http-conn-man-headers-x-request-id.

Better docs appreciated, but this is "stable sampling" kicking in. You might be able to disable this by controlling random sampling. This is also why we made this compo

[2020-10-29 15:58] mattklein123 commented on #13812
This is a dup of https://github.com/envoyproxy/envoy/issues/579

[2020-10-29 15:58] #13812 closed

[2020-10-29 15:59] phlax commented on #579
@mattklein123 i can take a look at this if you want

[2020-10-29 16:05] mattklein123 commented on #579
IMO this is not super urgent but would certainly be nice to have. I know that @jmarantz looked at this at some point.

[2020-10-29 16:06] markmandel commented on #579
I started this, but ended up moving on to other things -- more than happy to have someone take this over :+1:

[2020-10-29 16:07] phlax commented on #579
i was thinking it could be a nice addition to the dev docs (#13745) but yep, got the point about not being high prio

[2020-10-29 16:08] phlax commented on #579
@markmandel ill look over the work  you did already when i get chance

[2020-10-29 16:13] mattklein123 commented on #13070
I can take a look at fixing this.

[2020-10-29 16:58] rojkov commented on #8448
I understood that there is one single write with a single slice in both cases. This is how it looks in logs:
1. compressed
[code]
2. uncompressed
[code]

`ts` is a timestamp in microseconds since a `ActiveTcpConnection` creation.
`C2` is a downstream connection.

A-ha. I should have asked this question myself... So, I did closed loop testing, that is a new connection to the listener is not created

[2020-10-29 17:14] mk46 commented on #13811
Hi @yanavlasov, still have the same problem. Do you have any idea about 'retest-circle' that isn't working for all Github user or deprecated [CONTRIBUTING.md](https://github.com/envoyproxy/envoy/blob/master/CONTRIBUTING.md)?)

[2020-10-29 17:16] phlax commented on #13811
@mk46 feel free to PR to remove the circle reference, its no longer used/available

[2020-10-29 17:21] mattklein123 commented on #8448
I actually do wonder if some of the fixes @ggreenway is working on may impact what we are seeing. Something still doesn't add up to me here.

[2020-10-29 17:46] alyssawilk commented on #13809
Hm, I like the idea of allowing a filter chain for tcp tunneled over HTTP.
It smells more like upstream filters to me, which would imply using the work @snowp is doing there.
Alternately a simpler but hacker solution (which wouldn't go upstream but you could use in the interim)  I think you could use pluggable upstreams (almost landed -see https://github.com/envoyproxy/envoy/pull/13548) to put you

[2020-10-29 17:48] junr03 commented on #13794
@rumanzo fixed in #13820, give it a try if you want to verify locally, I am confident this is your issue.

[2020-10-29 17:49] junr03 commented on #13794
(sorry @yanavlasov I removed the wrong label by accident, I intended to remove triage but ended up removing bug. This is definitely a bug, updated)

[2020-10-29 18:14] gargnupur commented on #13806
At the time of envoyproxy/envoy-wasm#453 the lifecycles were not very clear and hence the guard was added to make sure, we don't close preemptively. But looks like now, it's ok to close if downstream close event is reached..

[2020-10-29 18:35] qiwzhang commented on #13708
No, this is per-design.  This is not a bug.

In envoy threading model,  it is important not to use any mutex to wait for a shared resource.  That is why cache is designed as per-thread,  per worker thread.

If you are using 8 cores cpu,  there will be 8 worker threads.  jwks needs to be fetched 8 times since there are 8 caches.

[2020-10-29 18:40] PiotrSikora commented on #13806
From what @kyessenov mentioned yesterday, I was under the impression that downstream close events are getting lost, and if that's the case, then relying on them might not solve anything.

[2020-10-29 18:47] kyessenov commented on #13806
I think we might be lost in the terminology here. Upstream with respect to the downstream connection is the proxy, so upstream close really is downstream local close from the client perspective. From reading other network filters, either Local or Remote close is guaranteed for a connection (but not both). I suggest we follow this practice and initiate termination once any close event is received.

[2020-10-29 21:56] PinchasLev commented on #13716
[2020-10-29-15_36.envoy-public-8664769c97-55mzz.config.gz](https://github.com/envoyproxy/envoy/files/5461480/2020-10-29-15_36.envoy-public-8664769c97-55mzz.config.gz)
[2020-10-29-15_36.envoy-public-8664769c97-55mzz.clusters.gz](https://github.com/envoyproxy/envoy/files/5461482/2020-10-29-15_36.envoy-public-8664769c97-55mzz.clusters.gz)
[2020-10-29-15_48.envoy-public-8664769c97-55mzz.server_info.gz

[2020-10-29 21:57] PinchasLev commented on #13716
@antoniovicente Do the included tarballs provide the info you're seeking?

[2020-10-29 21:57] Starblade42 commented on #13716
I'm the one who assisted @PinchasLev to get the dumps, so feel free to bother me if something is missing!

[2020-10-30 01:13] mk46 commented on #13811
@phlax Done [#13824](https://github.com/envoyproxy/envoy/pull/13824).

[2020-10-30 01:33] jyotimahapatra commented on #7529
I can confirm that the repro above is still happening. Im working on xdsrelay and we get a ton of key mapper errors because the eds request has no resource hint.
Trace logs are attached:
[eds.log](https://github.com/envoyproxy/envoy/files/5462465/eds.log)

[2020-10-30 03:01] hustshawn commented on #13815
Hi @yanavlasov , thanks for your suggestion. I tried with the `BAZEL_BUILD_OPTIONS`, but the result is still 1.1.G

[2020-10-30 03:11] larryrun commented on #13809
@alyssawilk @yanavlasov thanks for your reply!
I'll check @snowp and @lambdai 's work, and I'll also see how the pluggable upstreams can help.
And for the token via SDS, any ideas for this [feature request#6654](https://github.com/envoyproxy/envoy/issues/6654) ?

[2020-10-30 04:51] jyotimahapatra commented on #7529
I suspect a combination of these 2 code blocks is causing the issue
https://github.com/envoyproxy/envoy/blob/master/source/common/config/grpc_mux_impl.h#L90-L95

https://github.com/envoyproxy/envoy/blob/master/source/common/config/grpc_mux_impl.cc#L41-L48

[2020-10-30 06:04] lizan commented on #13815
@hustshawn you should be able to find stripped binary at `linux/amd64/build_release_stripped/envoy` without any option. The unstripped one is at `linux/amd64/build_release/envoy` which could be 1+GB

[2020-10-30 06:15] hustshawn commented on #13815
@lizan Yes. you are right. I find the stripped binary even though the path is not exactly the same as mine. I am able to find it by searching for `build_release_stripped` path pattern. Thank you so much.

[2020-10-30 06:57] #13815 closed

[2020-10-30 07:41] dio commented on #13817
I think it is related to https://github.com/envoyproxy/envoy/commit/233838a39fb8310ea145e7d758d428d5a37b0306 which introduced `API_RECOVER_ORIGINAL` (and used here: https://github.com/envoyproxy/envoy/blob/233838a39fb8310ea145e7d758d428d5a37b0306/source/common/upstream/cluster_manager_impl.cc#L879). The behavior of it can be observed here: https://github.com/envoyproxy/envoy/blob/233838a39fb8310ea

[2020-10-30 07:48] dio commented on #13801
Seems like we need to also implement the client-side of collector service: https://github.com/open-telemetry/opentelemetry-proto/tree/master/opentelemetry/proto/collector/logs/v1 (gRPC and HTTP).

[2020-10-30 07:49] dio commented on #13791
@nic-chen sorry, do we need to introduce changes inside Envoy for supporting this?

[2020-10-30 08:01] dio commented on #13718
@cgthayer Seems like we don't have `http_service` options for network filter since https://github.com/envoyproxy/envoy/blob/release/v1.12/api/envoy/config/filter/network/ext_authz/v2/ext_authz.proto until now (including the v3 API). Currently, we only support `http_service` for HTTP filter https://github.com/envoyproxy/envoy/blob/8281dd61867bfa7cf67c54389190c29ecac8d76d/api/envoy/extensions/filter

[2020-10-30 08:19] dio commented on #13623
Sorry how do you know the call is not happening? Probably you can log `response_headers[:status]`?

[2020-10-30 09:36] weixiao-huang opened #13827 "How to set max resposne header limit"
I use envoy as a reverse proxy but I found that it has a max response header limit. I use envoy to proxy an upstream server, which will use this codes to add a lot of response headers:

[code]

And I noticed that if I set `headerNum` to `98` and request envoy proxy for accessing this upstream server, I will get an error and have a 503 status code:

[code]

It seems that envoy has a limit for the n

[2020-10-30 09:47] phlax opened #13828 "Add an ACME/letsencrypt sandbox"
### description

Even though Envoy doesnt have native support for ACME (at least not in the way traefik eg does), i think its a very popular concern

As i understand it, ACME support atm relies on a `certbot` sidecar to do renewal etc

I think it would be useful to provide a sandbox implementation of this method at least, and in the future if #96 is resolved we can update

I believe it would be po

[2020-10-30 09:50] kkatrio commented on #13708
It makes sense, many thanks!

[2020-10-30 09:50] #13708 closed

[2020-10-30 10:18] phlax commented on #13532
thanks @moderation added, and ive opened a wip PR to progress this #13829

[2020-10-30 10:26] nic-chen commented on #13791
@dio

Thanks for reply.

I think not. But after start development, there may be issues that require your help.

And, do you have some suggestions for this?  : )

[2020-10-30 11:11] mk46 commented on #13817
@phlax I think `--bootstrap-version 3`  will help you to config it as v3.

[2020-10-30 11:14] phlax commented on #13817
thanks @mk46 thats really helpful

reading the docs for the flag tho, im still thinking it should arrive at v3, unless something in the way i have configured it is preventing "upgrade":

[2020-10-30 12:12] phlax commented on #13828
one thing im not clear about is whether an additional file/web server is required to serve the `.well-known` dir

[2020-10-30 12:20] Brunomachadob commented on #13774
Thanks for the reply...

But what couldn't understand is why the value is being mutated.
I configured Envoy with
[code]

So I guess it should obey my configuration and if the header was provided, it should use it as it is.

My use case is related to PSD2 regulations for Open Banking and specifically about the Berlin Group specification, where every party calling our gateway will provide an UUIDv4

[2020-10-30 12:25] Brunomachadob commented on #13774
Oh, okay, now after navigating [here](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto#envoy-v3-api-field-extensions-filters-network-http-connection-manager-v3-httpconnectionmanager-request-id-extension) I saw it
[code]

[2020-10-30 12:45] Brunomachadob commented on #13774
So the decision of sampling and the actual sampling happens in different points in time?
You first need to tag the request that you want to sample with something, then later in time you check that tag in order to sample it?

[2020-10-30 12:59] Brunomachadob commented on #13774
Maybe I can try to come up with an extension based on `UUIDRequestIDExtension` that actually does the same, but specifically for the `getTraceStatus` & `setTraceStatus` uses a different header to keep track of the sampling.

[2020-10-30 13:36] jheaff1 opened #13831 "grpc-web RPC blocks forever if gRPC server terminates"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *grpc-web RPC blocks forever if gRPC server terminates*

*Description*:
I have a gRPC-web client and a C++ gRPC server. When using envoy v1.14, if a gRPC server died

[2020-10-30 14:34] Brunomachadob opened #13833 "INFO level logs for dropped requests due to underscores in the name"
*Description*:
I wonder if the level `INFO` would be more suitable for when this important consequence happens.
We usually don't have low log level as `debug` in production environments.

[optional *Relevant Links*:]
https://github.com/envoyproxy/envoy/blob/f7f870917bd25dc8200bcce8c259bd588cafb559/source/common/http/http1/codec_impl_legacy.cc#L1052

[2020-10-30 15:31] mattklein123 commented on #7529
cc @snowp and @dmitri-d who have been in this code recently and might be able to figure this out based on the new info.

[2020-10-30 15:51] mk46 commented on #13827
@weixiao-huang Http connections have an option `max_headers_count` to it. See [max_headers_count](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/protocol.proto.html?highlight=max_headers_count#config-core-v3-httpprotocoloptions) and [max_response_headers_count](https://www.envoyproxy.io/docs/envoy/latest/version_history/v1.11.2.html?highlight=max_response_headers_count#).

[2020-10-30 16:01] marcosrmendezthd opened #13834 "question: is the original original authority before host rewrite?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *is the original original authority before host rewrite?*

*Description*:
I'm trying to add the original destination (authority) of a request via an access log, or e

[2020-10-30 16:23] yanavlasov commented on #13833
This may be very noisy. I think if you need to log the headers that were dropped (or caused 503) you may want to write a custom filter. Arguably this functionality should have been implemented as a filter to begin with.

[2020-10-30 16:25] antoniovicente commented on #13716
I think that the provided stats are only for a run with the 1.14.4 binary.  In order to compare results, we also need info from 1.14.5

The other question is what distribution mechanism you use to get envoy binaries?

[2020-10-30 16:31] rojkov commented on #10053
@ckennelly we build Envoy with clang v10.0.0 still, but the current RSEQ implementation checks for `__AARCH64_CMODEL_SMALL__` introduced in v11.0.0. As a result arm64 builds fail.

I've submitted https://github.com/google/tcmalloc/pull/58

[2020-10-30 16:33] yanavlasov commented on #13827
You set it through `common_http_protocol_options` in your [cluster configuration](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto#config-cluster-v3-cluster)

[2020-10-30 16:55] kyessenov opened #13835 "wasm: shared data and shared queue leak on VM change"
`vm_id` is used as part of the key in the shared data and shared queue. When a VM is gone, the state is not cleaned up.
Ref: https://github.com/istio/istio/issues/27783

[2020-10-30 16:57] #13794 closed

[2020-10-30 18:42] enyo commented on #1291
Out of interest... is this a bad idea to leave in production? It was a bit surprising to me that I wasn't able to see the actual routing done by envoy, so I was looking for exactly this solution, but is it actually bad practice? How am I supposed to view the access log otherwise in a kubernetes cluster for example?

[2020-10-30 19:40] phlax commented on #1291
hi @enyo - iiuc - no using stdout/err is the recommended way if you are running inside a container

[2020-10-30 20:27] #7868 closed

[2020-10-30 22:10] dmitri-d commented on #7529
I'm working on bringing back the changes by @fredlas that unified mux implementations, which should resolve this issue (looking at the code). If this can wait, I'd prefer if we took another look when the unification work PR has been created. I can add a test though.

[2020-10-30 23:02] mattklein123 commented on #13070
I looked at this and the fix is not difficult. I will fix soon.

[2020-10-30 23:22] mattklein123 commented on #7529
@dmitri-d this has been broken for a long time so I think we can wait. Are we reasonably sure we understand the issue at this point? Please do add a test for whatever fixes this.

[2020-10-31 03:40] dio commented on #865
cc. @phlax

[2020-10-31 03:43] weixiao-huang commented on #13827
It works! Thanks for your answer!

[2020-10-31 03:43] #13827 closed

[2020-10-31 05:24] phlax commented on #13295
bump

[2020-10-31 08:16] phlax opened #13843 "Unnecessary redirects in docs"
### description

its not immediately  clear why, but it seems like a redirect from `some-page.rst` to `some-page/index.rst` is not working correctly and causes unncessary redirects

### refs

- https://github.com/wpilibsuite/sphinxext-rediraffe

[2020-10-31 08:16] phlax commented on #13843
/assign phlax

[2020-10-31 10:06] phlax opened #13845 "Add MongoDB sandbox"
### description

it would be great if we had a mongodb sandbox example

[2020-10-31 13:35] phlax commented on #13461
i think this was mostly resolved in #13490

[2020-10-31 13:35] #13461 closed

[2020-10-31 18:25] moderation commented on #13295
Dropbox talk about leveraging the Cache filter for static serving from S3 in https://dropbox.tech/infrastructure/how-we-migrated-dropbox-from-nginx-to-envoy

[2020-10-31 23:25] austin-zhu commented on #13551
Sorry for the late response. Yes, Marcelo and Jason are both my teammates (at least, were). We tried to implement this years ago but did not get a chance to merge it to master. I believe the code structure has been changed a lot over years so it might be easier to redo the work based on Marcelo's earlier logic and make it as another extension endpoint. This issue is just to understand how communit

[2020-11-01 05:49] xudesheng opened #13852 "How to avoid "panic: listener accept failure: Too many open files""
I'm running Envoy 1.5 on Ubuntu 18.04 (2 cores, 8G) and I have increased FD to a very large number. However, Envoy always crashes when WebSocket connection reaches about 500.  This is such a small number.

Upstream is a cluster of 2 servers. Really confused by this annoying issue. I have checked similar issues in history but I couldn't get through it.

if I simply replace Envoy with Haproxy, it ca

[2020-11-01 06:05] dio commented on #13551
@austin-zhu I think so yeah. Do you have plan to work on this?

[2020-11-01 10:02] phlax commented on #13295
thanks @moderation, that is really helpful.

that post is like a goldmine!

[2020-11-01 10:08] phlax commented on #13828
seems like we may be able to use the `cache` filter to provide the well-known key

any thoughts on this @mattklein123 ?

[2020-11-01 10:43] phlax commented on #13295
implementing this is beyond my current c++ knowledge, altho i have been tempted to  try and prototype something very basic with wasm.

design-wise i think we would want some kind of vfs/plugin architecture to make it easy as possible to implement  different backends

[2020-11-01 11:11] piscisaureus commented on #13189
In lieu of windows/wepoll support  for EPOLLET, I'd suggest to use EPOLLONESHOT instead.

EPOLLONESHOT is similar to EPOLLET in the sense that when an event (like EPOLLIN) is reported, it is also automatically disabled.

The difference is that in edge triggered mode the event is also automatically re-enabled, whereas in ONESHOT mode this needs to be done "manually" by envoy.

So every time you're

[2020-11-01 12:39] uablrek commented on #11184
FYI the same for `contour` which also uses envoy https://github.com/projectcontour/contour/pull/1162

[2020-11-01 15:07] dili91 opened #13853 "File based dynamic configuration, cluster not updating"
I've been struggling a few hours to make [this sample](https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/dynamic-configuration-filesystem) work, but no luck. Originally I implemented something very similar on my own: I could see the **cds.yaml** file properly updated across host and container's filesystem, but envoy did not pick the updated file at runtime.

This is the only update I cou

[2020-11-01 15:13] phlax commented on #13853
hi @dili91 not sure why its not working on your system exactly, but keen to figure out. It wfm locally and in CI

I have the same version of docker as you so i dont think that is the problem.

regarding removing `-i` from the `sed` command - does this not just prevent it from updating ? certainly that would be the effect on linux

[2020-11-01 15:17] phlax commented on #13853
...also if you test this sandbox with the `./verify.sh` locally (and the sed command is working) then you will need to do something like:

[code]
if you want to test it more than once

[2020-11-01 15:18] phlax commented on #13853
/assign phlax

[2020-11-01 16:13] mattklein123 commented on #13828
I think a better plan would probably be to just use the SDS API (or raw file system watches) to watch a directory that gets rotated with the secrets? I think that is how most people do this.

[2020-11-01 16:16] phlax commented on #13828
is that for the `well-known` dir as well as the certs (assuming certbot uses webroot) ?

[2020-11-01 16:21] mattklein123 commented on #13828
TBH I don't know much about this. I would probably take a look at what Ambassador and Contour do and try to simplify/replicate that?

[2020-11-01 16:29] dili91 commented on #13853
Hey @phlax thanks for the prompt reply. Mac comes with a slightly different version of sed compared to GNU's one.

Below command inside verify.sh returns an error and does not replace **service1** with **service2** on cds.yaml file.
`sed -i s/service1/service2/ configs/cds.yaml`

I can easily overcome this by either replacing `-i` with `-e` or using gsed, that is GNU sed. Earlier I wrote _removing

[2020-11-01 16:36] phlax commented on #13853
@dichen16 so 2 things

### fixing the sed command

im keen to update the verify.sh script to make it work on mac (i have no easy access to any versions atm)

this has always been a bit of a mess on mac, and seems to still be

i dont think `-e` cuts it - it just outputs to the term.

does a variant of this work ?
[code]
if i can get a decent command to work on both ill update the script

### debugg

[2020-11-01 16:52] phlax commented on #13853
if the file is getting updated and the example is still not working then my guess is its something to do with file inodes and envoy not seeing the file as changed (its the only thing i can think of atm)

if this is the case, the first question would be whether the timestamp has changed inside the container

[2020-11-01 16:56] phlax commented on #13853
maybe relevant https://github.com/moby/moby/issues/15793#issuecomment-197480403

[2020-11-01 17:31] dili91 commented on #13853
Hey, so:

Yeah sorry, you're right. But afterwards I manually changed the file with **vim**.

This one applies the desired changes to the file: `sed -i'.bak' -e 's/service1/service2/g' configs/cds.yaml`. But envoy process in the container does not pick it up

Yes, timestamp is updated:
[code]

Last but not least, during my manual changes I used vim. I just found out that vim and inotify seem not t

[2020-11-01 17:39] phlax commented on #13853
great solution!

this also removes the need to give the umask warning in the docs

can you PR to update ?

if not, im happy to

[2020-11-01 17:40] phlax commented on #13853
(...just read rest of post...)

yep please! do PR!

[2020-11-01 17:40] phlax commented on #13853
on the exec its better to add `-T` for ci

[2020-11-01 18:00] dili91 commented on #13853
Sure, will raise a PR then !

[2020-11-01 19:27] xudesheng commented on #13852
After upgrade to 1.16, error is similar
[code]

[2020-11-01 19:34] xudesheng commented on #13852
when crash happens:
[code]

[2020-11-01 19:44] xudesheng commented on #13852
What bothered me most is: on this machine, I can easily connect thousands of Websockets clients with **Nginx** or **Haproxy**. So, I guess I have missed some settings in Envoy but not on the OS side.

[2020-11-01 21:25] davinci26 commented on #13189
@piscisaureus thanks a lot for your input! Highly appreciated.

Conceptually this is pretty similar to what we are trying to do. This is good validation for what we are trying to achieve.

Does libevent give you access to modify the flags of the backend? I have to investigate that further. @nigriMSFT do you happen to know?

I am not sure I fully understand what you mean here.

I have implemented t

[2020-11-02 03:57] PiotrSikora opened #13856 "onUpstreamData(end_stream=true) is never raised when using cluster with TLS transport socket"
It looks that `onUpstreamData(..., end_stream=true)` and `onWrite(..., end_stream=true)` events are never raised when using cluster with TLS transport socket.

*Repro steps*:

Start Envoy:
[code]

Proxy HTTPS request as TCP using raw buffer (TLS established between curl and httpbin.org):
[code]

Proxy HTTP request as TCP using TLS transport socket (TLS established between Envoy and httpbin.org):
[

[2020-11-02 04:10] PiotrSikora commented on #13806
See: #13856.

[2020-11-02 07:36] phlax commented on #96
from my understanding cert-manager depends on kubernetes.

i think ideally we want something that can work outside of kubernetes

[2020-11-02 07:41] phlax commented on #13828
afaict Ambassador and Contour both use cert-manager which is a kubernetes thing

cert-manager (afaict from quick view of source) uses webroot under the hood

to use webroot, we need to be able to (from vague memory):

1. initiate a request, and receive a token
2. place the token in the specified `.well-known` public http path that the ACME server can see
3. request and receive the actual cert
4. s

[2020-11-02 07:57] phlax commented on #13828
i think to move forward on this i will set it up initially with nginx to serve the dir, and once its working that way we can figure out if/how to remove the web server bit

[2020-11-02 08:37] rumanzo commented on #13794
I checked it, and fix works. Thank you, it was very fast.
When will be new release (1.16.X or 1.17.0)?

[2020-11-02 09:23] eloycoto opened #13857 "Crash using wasm-filter"
*Description*:

Working with a wasm filter, when you return 1 on proxy_on_request_headers and at the same time, you send back a 403 message, Envoy crashes with the following stacktrace.

[code]
*Repro*:

[code]

*Config*:
[code]

More info:

https://github.com/proxy-wasm/proxy-wasm-rust-sdk/issues/44

Regards

[2020-11-02 09:36] PiotrSikora commented on #13857
Envoy crashes when the processing is not stopped after sending local reply.

[2020-11-02 09:36] PiotrSikora commented on #13857
@mathetake is this something that you want to take a look at?

[2020-11-02 09:38] mathetake commented on #13857
Will do tomorrow(hopefully)

[2020-11-02 10:03] PiotrSikora commented on #13857
@mathetake Thanks! Note that this is triggered by an invalid code deployed in Envoy, so it's not a top priority.

[2020-11-02 10:34] PiotrSikora commented on #13806
The issue is that the upstream close event is not raised if the connection to upstream was never established (e.g. connection timeout, connection refused), but the context destruction is gated on that event, so it leaks in case of failures.

[2020-11-02 10:46] kanongil commented on #13349
This can definitely be improved. I have seen cases where a downstream client receives `RST_STREAM` with code 0 (NO_ERROR), when only part of the upstream data has been delivered. This is a serious issue, as without a `content-length` header, or application level checks (eg. checksum or structural checks), there is no way for a client to know that it received a partial response.

[2020-11-02 15:23] junr03 commented on #13794
Nice! We don't do releases for bug fixes like this. Most likely the next release won't happen for a few months given 1.16 came out at the beginning of October, and we do releases every quarter or so. Sorry about that!

[2020-11-02 15:36] phylake commented on #13716
We build our own from source because we have a couple of filters we wrote. They've been ruled out as contributors because nothing changed in them or how we build Envoy between 1.14.4 and 1.14.5

[2020-11-02 15:41] rojkov opened #13860 "Extend PerfAnnotationContext with begin and end events."
*Title*: *Extend `PerfAnnotationContext` with begin and end events.*

*Description*:
The current interface of PerfAnnotationContext allows easy recording of durations for a region of code inside a single lexical scope with `PERF_OPERATION` and `PERF_RECORD` annotations. But sometimes it might be useful to record durations between events happening in different scopes, e.g. how long it takes to dest

[2020-11-02 15:42] rojkov commented on #13860
/cc @jmarantz for reality check

[2020-11-02 15:53] antoniovicente commented on #13860
Possible concern: ending up with an unbounded number of open perf measurements.  We may want to consider creating an RAII object that starts perf collection on construction and stops at destruction time to handle the case you describe.

[2020-11-02 15:57] jmarantz commented on #13860
@rojkov sgtm. go for it.

@antoniovicente an RAII implementation is what we have now: https://github.com/envoyproxy/envoy/blob/3a6e4a26480721207799c502c666874cc8b3784b/source/common/common/perf_annotation.h#L163

It is just wrapped by macros so we can leave it in production code and give it zero cost when compiled out.

[2020-11-02 16:00] #13853 closed

[2020-11-02 16:01] antoniovicente commented on #13860
I assume that the cross scope version would need to persist the object somewhere.

[2020-11-02 16:02] rojkov commented on #13860
Yes. In `PerfAnnotationContext` I guess which is a singleton.

[2020-11-02 16:04] jmarantz commented on #13860
We'd have to persist a little more than that: specifically the start-time of the operation, so you could subtract that off of the end-time when you record.

[2020-11-02 16:39] antoniovicente commented on #13716
Are there any obvious differences between your 1.14.4 and 1.14.5 binaries?  For example, any significant differences in binary size?

[2020-11-02 16:52] inf-rno opened #13862 "lb: Add custom consistent hashing key for Endpoints"
*Title*: Add custom consistent hashing key for Endpoints

*Description*:
This API change comes out of the discussion in https://github.com/envoyproxy/envoy/pull/13656. Which tries to address the original problem in #9074 that I tried to solve via #10233. The core of the problem is the need to have a semantic name for Endpoints in a cluster that identify it uniquely without piggy backing things lik

[2020-11-02 16:52] inf-rno commented on #13862
cc @mattklein123

[2020-11-02 17:21] udaymadu commented on #13147
I am just checking to see any one working on it.

[2020-11-02 17:51] phylake commented on #13716
Nothing obvious to me. The binary in `build_release_stripped` is 36M on 1.14.4 and 1.14.5

[2020-11-02 19:09] howardjohn opened #13864 "v2 <-> v3 TlsContext causes temporary downtime"
*Title*: v2 <-> v3 TlsContext causes temporary downtime

*Description*:
Switching the TLS context version on a cluster causes a downtime

Apply this change (full cluster below) to a v2 cluster via XDS:
[code]

Fails a few requests with `client disconnected, failure reason: TLS error: Secret is not supplied by SDS`.

*Repro steps*:
I can easily reproduce this with Istio control plane just swapping

[2020-11-02 19:46] lambdai opened #13865 "Support level trigger user space event and resolve `fails_on_windows` introduced in #13418"
@davinci26
Absolutely. I will add immediately after the PR is merged.

_Originally posted by @lambdai in https://github.com/envoyproxy/envoy/pull/13418#issuecomment-718886166_

[2020-11-02 20:26] ggreenway commented on #12807
@mk46 Go for it. I'd recommend doing it in reasonable sized chunks, not one enormous PR. It makes it much easier to review.

[2020-11-02 22:22] lambdai opened #13868 "[feature request] Fault-in-standard-out option on TE header at 1xx and 204"
#11458 and #10811 fixed the `transfer-encoding: chunked` behavior.

Unfortunately the runtime-key is controlling both upstream and downstream.

Zero down time cannot be achieved unless the entire Envoy are upgraded atomically.

Is it possible to provide an option to tolerate non-standard upstream response and provide standard TE?

See the ideal state here.
https://github.com/istio/istio/pull/28450

[2020-11-02 22:23] lambdai commented on #13868
CC @zuercher

[2020-11-02 22:53] #5396 closed

[2020-11-02 22:54] #5397 closed

[2020-11-03 03:54] mattklein123 commented on #13868
cc @alyssawilk to advise

[2020-11-03 05:40] lambdai opened #13874 "Cluster initialization issue. Envoy start could be blocked forever"
If a cluster is warming during server start, a second update on this cluster may put the envoy in the state that start never happen.

Notes that another update must be "real" which means the config cannot be determined as duplicated config.

The full story is

1. cluster A is warming up
2. CDS deliver a new config on cluster A
3. Envoy removes the old warming cluster [1], but the warming secondary

[2020-11-03 06:01] lambdai commented on #13874
#13875 should fix to the 2nd issue.

[2020-11-03 09:18] NomadXD opened #13877 "Rate limiting support for web socket connections"
### Rate limiting support for web socket connections

Is there a recommended way to rate limit the web socket connections ? I went through the docs and some other resources and seems like there's no straight forward way to have the rate limiting for web socket connections.(Maybe use the network rate limit filter? ) **So basically my requirement is to capture web socket frames and possibly decode t

[2020-11-03 09:52] phlax commented on #13295
yep, i think it would need this.

im wondering what other shared resources/specifications this might need. Some kind of `typed_config` i guess and setup/teardown routines.

one thing im not totally clear is in terms of Envoy architecture. This seems like a type of filter in terms of it requiring an `http <> fs`
adapter, but i guess the upstreams themselves would be more like clusters.

Trying to t

[2020-11-03 09:59] MilosSlavic opened #13878 "CORS and gRPC-JSON transcoder are not working correctly. OPTIONS returns 404 Not found"
Hi,

I am using envoy as a front proxy. I have multiple grpc services behind the proxy.
My goal is to support REST API functionality for these grpc services.
I succeeded in configuring envoy for this use case, it works when I use Postman.
My web app needs to communicate with envoy with CORS enabled, so I followed the documentation, other issues on github and some example configurations. At the end

[2020-11-03 10:58] hazelnutsgz opened #13879 "The design of tcp_proxy"
I just checked the source code of how envoy implements the tcp_proxy, and find that after receiving the data from downstream, it would copy the data from read_buffer to write_buffer ```write_buffer_->move(data);``` (internal is ```memcpy(dest, data, copy_size);```). Here are 3 questions I didn't figure out:

1. Why do we need the time-consuming data copy? Is that because we need modify the content

[2020-11-03 13:54] alyssawilk commented on #13868
I think it's less about upgrading atomically and more about updating the value of that flag atomically.

If atomic flag flips are problematic, I think it's plausible to break the runtime guards into upstream and downstream variants, and backport, given that Istio has done substantial work on stable releases.  cc @PiotrSikora for that.

I'll definitely keep such things in mind for future data plane

[2020-11-03 15:06] #6387 closed

[2020-11-03 15:13] mattklein123 commented on #13877
cc @alyssawilk I think using the HTTP ratelimit filter in the upgrade filter chain would work here? cc @phlax also for potential doc opportunities.

[2020-11-03 15:20] mattklein123 commented on #13879
cc @ggreenway @antoniovicente

Move doesn't actually copy in cases of large slices. Modification can happen via interim filters.

What all of that said, we have discussed recently the potential concept of a CoW buffer with slicing capabilities, but would need to figure out whether the complexity is worth the perf gain depending on the use case.

[2020-11-03 16:07] antoniovicente commented on #13879
write_buffer write_buffer_->move(data); does a move, does not copy the data.

[2020-11-03 16:08] alyssawilk commented on #13877
So your first request was to limit WebSocket connections, which as Matt says can be done with the existing rate limit filter.  Your follow-up comment makes it look like you actually want to rate limit not just WebSocket connections but actual WebSocket work, which can't be done with Envoy today as Envoy doesn't frame WebSocket.  Which are you hoping for?  You could arguably write a filter which do

[2020-11-03 16:37] NomadXD commented on #13877
@mattklein123 @alyssawilk Thanks a lot for the quick response. So yeah I want to rate limit web socket work not just the number of web socket connections. So can I achieve that by writing a network filter to capture the web socket frames ? I mean will the web socket frames hit the network filters before proxying to upstream clusters ?

[2020-11-03 16:49] alyssawilk commented on #13877
Again I think you want to write an HTTP filter, not a network filter, since you want to take the HTTP payload and parse WebSocket frames from there.
There may also be some work to get RateLimit code to do what you want - I'm less familiar with that part of the stack.

[2020-11-03 16:57] NomadXD commented on #13877
@alyssawilk okay but will the web socket frames go that far to the http filters ? As I read only the initial upgrade request go to http filters and then after the connection establishment it behaves more like a raw TCP proxy.

[2020-11-03 16:59] mattklein123 commented on #13877
You can use an upgrade filter chain to use normal HTTP filters before the data hits the tcp_proxy layer.

I think your best bet would be to write a custom filter that sets dynamic metadata with some business logic, and then uses the normal HTTP rate limit filter to rate limit on dynamic metadata.

[2020-11-03 18:07] howardjohn commented on #13874
Confirmed that this breaks with only https://github.com/istio/envoy/pull/281 which corresponds to https://github.com/envoyproxy/envoy/pull/12783 and https://github.com/envoyproxy/envoy/pull/13344

[2020-11-03 18:18] krsri commented on #13637
@krubot

Checked from the master am still getting "Oauth response code: 400". Please update here if it is working for you. Thanks
I used "envoyproxy/envoy-dev" docker image.

[2020-11-03 18:19] krsri commented on #13637
Check whether you are using the same name in both tokensecret.yaml and hmac.yaml, If yes change the name .

[2020-11-03 19:03] juanvasquezreyes commented on #13637
I just tested it and looks like is working for me

[2020-11-03 19:08] lambdai commented on #13874
reproduced the failure in clang-asan config. The secondary_init_clusters_ contains wild pointer
[code]
[code]

[2020-11-03 19:34] mattklein123 commented on #13874
cc @rgs1 this is causing multiple issues. We are going to revert the original PR, so let's go from there.

[2020-11-03 19:35] qiwzhang commented on #13878
You can try to set this `match_incoming_request_route` [flag](https://github.com/envoyproxy/envoy/blob/master/api/envoy/extensions/filters/http/grpc_json_transcoder/v3/transcoder.proto#L77)

Envoy may be using the http  json content type before the transcoding to match the route.  But your route has `grpc {}`,  I am not sure what it means, it may want to match grpc content type.

Or you can just r

[2020-11-03 19:39] lambdai commented on #13874
@mattklein123 @rgs1
hold on... Let me see if I can have a quick fix on the 2nd issue

[2020-11-03 19:41] lambdai commented on #13874
And I suspect the first bug (early remove cluster) is not a regression

[2020-11-03 22:02] sunjayBhatia commented on #13865
@lambdai could you add some more detail about why the test is marked as failing and how the test fails? (error output, failed expectations, etc.)

[2020-11-03 22:03] PiotrSikora opened #13890 "close(FlushWrite) doesn't write pending data"
From: https://github.com/envoyproxy/envoy/pull/13858#discussion_r516958931

*Description*:

It looks that `close(FlushWrite)` doesn't flush any pending data.

*Repro steps*:

1. Checkout https://github.com/envoyproxy/envoy/pull/13858 (uses `close(NoFlush)`).
2. `$ bazel test //test/extensions/transport_sockets/tls:ssl_socket_test --test_arg="--gtest_filter=*Shutdown*"`
3. Apply patch from https://

[2020-11-03 22:08] lambdai commented on #13865
@sunjayBhatia  I can add more details or fixed it when the PR is landed.

Basically I am creating a user space event implementation. And the implementation in that PR only support edge trigger.

It's an ASSERT failure "level trigger type" is passed in.

My entire PR is an extension so it's completely safe if you don't enable it.

[2020-11-03 22:15] davinci26 commented on #13865
I think I can get this "for free" with #13787 feel free to assign this to me

[2020-11-03 22:16] sunjayBhatia commented on #13865
/assign davinci26

[2020-11-03 22:22] udaymadu commented on #13147
@yanavlasov is there a timeline when will it get fixed.

[2020-11-03 22:56] antoniovicente commented on #13890
This seems a bit mysterious.

Could it be related to SslSocket doing the following:
bool canFlushClose() override { return info_->state() == Ssl::SocketState::HandshakeComplete; }

Pre-handshake complete FlushWrite and NoFlush should be equivalent for SSL sockets given how ConnectionImpl::close is implemented.

[2020-11-03 23:06] danzh2010 commented on #12930
/assign @danzh2010

[2020-11-03 23:09] danzh2010 commented on #12923
/assign @danzh2010

[2020-11-04 01:38] PiotrSikora commented on #13890
@antoniovicente this is after the handshake.

But looking at `ConnectionImpl::close()`, I'm a bit puzzled by the current implementation. Why is it data flushed only for `NoFlush`? Shouldn't it be something like this: https://github.com/envoyproxy/envoy/pull/13892?

[2020-11-04 07:01] hazelnutsgz commented on #13879
When I traced the  implementation of ```write_buffer write_buffer_->move(data)```, and find that in ```void OwnedImpl::coalesceOrAddSlice(SlicePtr&& other_slice)```, if the requirement of ```other_slice->canCoalesce() && !slices_.empty() && slice_size < CopyThreshold &&
      slices_.back()->reservableSize() >= slice_size)``` met, it will make the real data copy, say, at https://github.com/envoypr

[2020-11-04 07:51] NomadXD commented on #10422
Hi I am getting the same build failure. I'm trying to build on ubuntu 20.04. My specs are as follows.

- bazel 3.4.1
- gcc 9.3.0
- g++ 9.3.0

When I try to run `bazel build //:envoy` I get the following error.
`
ERROR: /home/khadija/.cache/bazel/_bazel_khadija/67b71b3527ed4854635b017e6b6cd642/external/com_googlesource_quiche/BUILD.bazel:2170:17: C++ compilation of rule '@com_googlesource_quiche//:

[2020-11-04 08:27] dio commented on #13114
Thanks, Alyssa!

On Thu, 29 Oct 2020 at 22.27 alyssawilk <notifications@github.com> wrote:

[2020-11-04 08:46] Chwetion opened #13896 "High CPU resource usage makes the management port inaccessible (not return)"
*Description*:
Envoy should not hang with high cpu(1c), curl envoy management port should return correct data

*Repro steps*:
1. I compiled envoy on arm with my filter, steps as follow:
[code]
2. run envoy bin in this pc, steps as follow:
[code]
3. I have three configuration files, one of which may cause the cpu to be too high
**NORMAL CONFIGURATION** as follow:
[code]
**High CPU USAGE CONFIGURATI

[2020-11-04 08:52] NomadXD commented on #13877
@mattklein123 thanks a lot. will try it out and see.

[2020-11-04 09:27] MilosSlavic commented on #13878
Hi.

Probably there is some issue with preflight request when not using / but instead using routes that consist of /PackageName.Service/.
The only thing that worked for me was adding the "fake" route:
- match: { prefix: "/", headers: [ { name: ":method", exact_match: "OPTIONS" } ] }
  route: { cluster: "organization_unit_grpc", timeout: 120s }

I tried to use direct_response and it didn't work, th

[2020-11-04 09:31] #13878 closed

[2020-11-04 09:39] #13659 closed

[2020-11-04 10:36] vinzo99 opened #13897 "Add support of additional %UPSTREAM% variables to custom headers"
One of our customers is using the Envoy tap filter to retrieve transport information and add them to their request/response headers, as documented here : https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/headers.html#custom-request-response-headers

At this point, very few %UPSTREAM% variable names are supported :
%UPSTREAM_METADATA([“namespace”, “key”, …])%
%UPSTREAM_RE

[2020-11-04 14:18] alyssawilk commented on #13831
+1  If you can provide something we can reproduce, and or trace logs I'll see if I can sort out what the problem is.

[2020-11-04 14:53] JaredTan95 opened #13899 "how to use `typed_per_filter_config`."
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
how to use `typed_per_filter_config`.

*Description*:

I tried `typed_per_filter_config` on `virtual_hosts---> routes`  as follows:

[code]

b

[2020-11-04 15:11] antoniovicente commented on #13879
The key condition is "slice_size < CopyThreshold".  CopyThreshold is currently 512 bytes.

Copies are done to coalesce small fragments only.  The reader side of the connection attempts to read multiples of 16KB and push that through the filter pipeline.  The typical size of blocks moved between buffers is about 20KB due to some quirks of the buffer implementation.

[2020-11-04 15:41] moonming commented on #13791
nic-chen if you don’t need to modify the envoy code, I think it’s a good solution.
@dio what do you think？

[2020-11-04 16:03] howardjohn opened #13900 "EDS requests sent after receiving SIGTERM"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: EDS requests sent after receiving SIGTERM

*Description*:
When envoy is sent SIGTERM, it will start tearing down clusters and then send new EDS requests dropping tho

[2020-11-04 16:15] #13782 closed

[2020-11-04 16:51] Stono commented on #11050
As an organisation that is 75% Java; we'd love this.

[2020-11-04 17:50] wkochman commented on #6199
Hi,

Is there any plan to fix this issue?

Thx

[2020-11-04 18:28] #11391 closed

[2020-11-04 18:57] #13535 closed

[2020-11-04 19:56] antoniovicente commented on #13890
The flush paths reset the event registration mask so it includes Write, so the dispatcher should do a event wakeup on the connection if the connection was already writable or becomes writable before the close timeout elapses. It would be good to understand why some of that is not happening, or if the event that gets delivered is Close instead of Write.  I'll try to checkout your changes sometime t

[2020-11-04 20:11] dio commented on #13791
I think I have no objection on this. Probably creating an example sandbox will be useful for others.

[2020-11-04 20:26] juanvasquezreyes opened #13904 "AWS Request Signing Documentation enhancement"
Can you please update the current documentation and explain how the client_id, client_secret, grant_type, refresh_token can be send using this filer? these are used to generate the token in amazon api first

The current documentation doesnt explain that
https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/aws_request_signing_filter#config-http-filters-aws-request-signing

al

[2020-11-04 20:51] kyessenov commented on #13553
@mcieplak It makes sense to record the upstream protocol. I'm not sure if it's correct to call it response protocol, since it would be strange to have request and response have mismatched protocols (e.g. http/1.1 and h2). Maybe upstream.protocol?

[2020-11-04 21:20] #13856 closed

[2020-11-04 21:38] juanvasquezreyes commented on #13904
Currrently I'm seeing this issue, not sure where should I put the Credentials

[2020-11-04 21:33:13.833][13][debug][aws] [source/extensions/common/aws/credentials_provider_impl.cc:41] Getting AWS credentials from the environment
[2020-11-04 21:33:13.833][13][debug][aws] [source/extensions/common/aws/credentials_provider_impl.cc:71] Getting AWS credentials from the instance metadata
...
[2020-11-04

[2020-11-04 22:43] htuch commented on #13801
What is meant by "take the existing gRPC logger and just output a different format"? I think OTLP has a totally different gRPC service definition/endpoint as well as data model. I'd suggest making this a dedicated access logger built for OTLP that may borrow concepts (and potentially refactor) with gRPC access logger.

[2020-11-04 23:02] nic-chen commented on #13791
@moonming  sure, that's what we are working on.

@dio  Thanks for suggestion. I will post an example that can be run quickly when it's done.

[2020-11-04 23:25] brunsgaard commented on #9094
Workaround

[code]

[2020-11-04 23:30] antoniovicente commented on #13890
See: https://github.com/envoyproxy/envoy/pull/13858/files/ca79634eb889c3de0c51b74989d3d6704ef4265f#r517692030

[2020-11-05 00:10] #13637 closed

[2020-11-05 00:50] lambdai commented on #13897
See my previously raised issue https://github.com/envoyproxy/envoy/issues/12236 , the PR is proposed and the discussion.

The major blocker is that retry would change the upstream info and there is no well defined api.

So we need either evolve the route action or see how to adopt this requirement in Http upstream filter upstream http filter

[2020-11-05 01:07] lambdai commented on #13896
Is it a regression? 1.16 switch to google tcmalloc by default. It doesn't support ARM
Try using gperftcmalloc and get a cpu profile

[2020-11-05 01:13] lambdai opened #13907 "Presubmit pipeline is failing"
CI on azure runs an apt-get update but below error occurs.
It lasted hours.
[code]

[2020-11-05 01:17] lambdai commented on #13907
Chat with @lizan offline and
https://github.com/envoyproxy/envoy/pull/13908 as the mitigation

[2020-11-05 01:38] Chwetion commented on #13896
how can i use gperftcmalloc replace tcmalloc?

[2020-11-05 03:05] JaredTan95 commented on #13899
This is resolved in the following way:

[code]

[2020-11-05 03:05] #13899 closed

[2020-11-05 03:50] #13907 closed

[2020-11-05 03:56] #13733 closed

[2020-11-05 06:28] wbpcode opened #13910 "503 + NR due to the inconsistency between the order in which the configuration takes effect and the order in xDS push"
We currently use a control plane software to dynamically create clusters and routes. However, in practice, we have found that if we create a route immediately after creating a cluster. For a very small period of time, requests to access the route return 503 + NR.

We speculate that the process of cluster warming causes the cluster configuration to take effect later than the route configuration tak

[2020-11-05 06:58] lizan commented on #13864
@howardjohn I could only reproduce (w a mocking config) this behavior on 1.14.x branch, i.e. istio proxy 1.6.x, but not with 1.15.x, 1.16.x or latest master. Can you confirm that's the case? If that's the case the upgrade path will be update to 1.7.x proxy first then migrate to v3 transport socket.

I'll try to figure out which commit exactly fixes this and report back.

[2020-11-05 09:40] PiotrSikora commented on #13890
Thanks, @antoniovicente! Nice debugging. Since this issue can happen only with mocks, I think we can close this now.

(Feel free to reopen if you disagree).

[2020-11-05 09:40] #13890 closed

[2020-11-05 09:49] serverglen opened #13913 "dubbo_proxy parse hessian missing some case in switch"
- HessianUtils::peekLong missing case 0xeb、0xec、0xed、0xfc、0xfd
- HessianUtils::peekInt missing case 0xcc

[2020-11-05 11:31] jheaff1 commented on #13831
Please see trace log below:

# A collapsible section containing code
<details>
  <summary>Envoy trace log</summary>

[code]
</details>

Note that when i killed the upstream gRPC server, the following trace log was written:

[code]

[2020-11-05 12:32] NomadXD commented on #13668
I am having the same issue as above. I tried it on Ubuntu 20.04 and Manjaro linux as well. Still no luck. So as I think it occurs because gcc doesn't know about -Wrange-loop-analysis flag and it raises the error. I'm using gcc 9.30. Maybe should try it with gcc 10

[2020-11-05 12:46] zyfjeff commented on #13913
At present, the implementation of Hessian2 in the Envoy has been poorly completed. We plan to open the internal hessian2 code and then replace the implementation of Hessian2 in the Envoy.

[2020-11-05 14:09] phlax commented on #13221
@chintan-mishra can you check the permissions of the files inside the container.

im wondering if the problem is that the `envoy` user cannot read these files. iirc letsencrypt creates non-other-user permissions for certs, so i guess that is why

[2020-11-05 14:12] phlax commented on #13221
sorry, reading issue properly (and title) and realising that the envoy user *can* read these files, so not sure

just to check can you do

[code]

inside container as envoy user

[2020-11-05 14:15] phlax commented on #13221
im not so familiar with podman - but my understanding is that it will use entrypoints ~the same as docker

on that basis, you dont want to start the container using the `--user` flag - let the entrypoint change user

on docker, eg:

[code]

[2020-11-05 14:16] phlax commented on #13221
not sure if that is related to your  problem, but would be good to just exclude as source of confusion at least

[2020-11-05 14:45] juanvasquezreyes commented on #13904
I was able to load the credentials

One question, the current authorization is appending x-amz-security-token is there a way to change it to use x-amz-access-token instead?

cause using x-amz-security-token its breaking for me

[2020-11-05 16:34] #13185 closed

[2020-11-05 17:07] antoniovicente commented on #13890
One thing to consider is detecting this case where a call to close can lead to weird behavior.  I don't know what operations are expected/allowed from certain callback hooks. Should we have a goal to avoid doing work in arbitrarily nested stacks in order to reduce code complexity?

We also need good ways to write tests like the one you wrote. I think that a possible work around is to use dispatche

[2020-11-05 19:40] yuval-k commented on #13580
started working on ths

[2020-11-05 20:29] euroelessar opened #13920 "grpc-json-transcoder: Filter replaces the last colon in the path by slash"
*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

*Repro steps*:
Have an envoy transcoding config with `HttpRule{post: "/a/{arg=**}"}`.
Send request with `:path` header set to `/a/b:c:d`.

Expected: `arg` value in request message is set to `b:c:d`.
Actual: `arg` value in request message is set to `b:c/d`.

*Theory*:
Underlying `grpc-httpjson-tra

[2020-11-05 21:48] lizan commented on #13920
cc @qiwzhang can you get more clarification on this spec re: path matcher? https://github.com/googleapis/googleapis/blob/master/google/api/http.proto#L224-L231

[2020-11-05 23:37] qiwzhang commented on #13920
Yes,  Google http_template supports custom verb which is the last portion in the path; e.g. `/path:verb`.   But the way we handle it is not right, hence it is the bug.

Here is the correct [way](https://github.com/cloudendpoints/esp/blob/master/src/api_manager/path_matcher.h#L345) of handling it.

We should remember a list of custom verbs that configured.   If and only if the last path segment is

[2020-11-05 23:45] euroelessar commented on #13920
@qiwzhang
So it's a bug in [grpc-httpjson-transcoding](https://github.com/grpc-ecosystem/grpc-httpjson-transcoding/blob/faf8af1e9788cd4385b94c8f85edab5ea5d4b2d6/src/include/grpc_transcoding/path_matcher.h#L335)?
I can send a path to that repo to copy behavior from [api_manager](https://github.com/cloudendpoints/esp/blob/master/src/api_manager/path_matcher.h#L345).

[2020-11-06 00:08] qiwzhang commented on #13920
Yes, it is a bug.  In the grpc proto,  if we have:

a) option.http.rule {
    get: /foo/{x=**}:d
}

b) option.http.rule {
    get: /foo/{x=**}
}

for path = /foo/a:b:d

for a) x=a:b
for b) x=a:b:d

[2020-11-06 00:10] qiwzhang commented on #13920
If you like, I can help to fix this.

[2020-11-06 00:49] euroelessar commented on #13920
Added https://github.com/grpc-ecosystem/grpc-httpjson-transcoding/pull/43 with a fix

[2020-11-06 00:54] qiwzhang commented on #13920
Cool.   grpc-ecosystem/grpc-httpjson-transcoding#43 is the correct fix.  Approved.

[2020-11-06 00:55] euroelessar commented on #13920
Thanks for the prompt response.

[2020-11-06 00:56] euroelessar commented on #13920
BTW, Can you share what are use cases for this feature, please?

[2020-11-06 01:33] lavignes commented on #13904
Hey @juanvasquezreyes the things you are referring to above:

- client_id
- client_secret
- grant_type
- refresh_token

Seem to be related to OAuth/WebIdentity credentials.

The credentials provider in Envoy doesn't support those credential sources right now. If you notice the logs you pasted, Envoy chose to use environment variables to get its credentials.

Perhaps those credentials were expired?

[2020-11-06 02:14] serverglen commented on #13913
@zyfjeff Thank for your reply, I communicated with you two weeks ago. you open the internal hessian2(refactor) code until the end of the year at least, I understand that this PR does not conflict with your refactoring code, because this is really a bug

[2020-11-06 04:00] mattklein123 commented on #13580
@yuval-k great, thanks. I actually had it on my list to revert the original PR so I will hold off on that. :)

[2020-11-06 04:37] qiwzhang commented on #13920
https://cloud.google.com/apis/design/custom_methods

[2020-11-06 05:02] wlhee opened #13925 "Return gRPC error status when max_stream_duration is reached for gRPC requests"
*Title*: *Return gRPC error status when max_stream_duration is reached for gRPC requests*

*Description*:
When max_stream_duration is set in the listener_config or cluster_config, it would be helpful to return an gRPC error status when the duration is reached, so that the client can get a better signal and choose to handle it gracefully.

[2020-11-06 05:02] wlhee commented on #13925
@htuch

[2020-11-06 11:22] PiotrSikora commented on #13690
Thinking about this now, the existing PRs have one-to-many relationship between in-VM RootContext and Plugins/FilterConfigs, where `plugin_root_id` and `plugin_configuration` are used as the sharing key.

But perhaps it makes sense to make this relationship one-to-one, to simplify lifecycle and make the reasoning about what's configured in Envoy and what's available within WasmVM a bit more sane?

[2020-11-06 13:19] sriyer commented on #11532
@mattklein123 @euroelessar +1 on the opt out config option.

Would it be possible to include this on the up coming release for envoy ? We are kind of in a situation where we are moving away from our existing edge router to Envoy and apparently there are business tools that are breaking due to the value being altered.

preserve_external_request_id even when set true does not seem to prevent the mod

[2020-11-06 13:52] juanvasquezreyes commented on #13904
They are not expired cause I'm using those using postman and their AWS Signature authorization

I think the issue I'm facing is related to headers I'm sending and some headers are being signed too

In this authorization I see content-length and x-request-id being signed, so my guess is that
'authorization', 'AWS4-HMAC-SHA256 Credential=AKIARYJ2SNXBEZAL526C/20201106/us-east-1/execute-api/aws4_reque

[2020-11-06 13:53] juanvasquezreyes commented on #13904
They are not expired cause I'm using those using postman and their AWS Signature authorization

I think the issue I'm facing is related to headers I'm sending and some headers are being signed too

In this authorization I see content-length and x-request-id being signed, so my guess is that
'authorization', 'AWS4-HMAC-SHA256 Credential=AKIARYJ2SNXBEZAL526C/20201106/us-east-1/execute-api/aws4_reque

[2020-11-06 15:37] kyessenov commented on #13690
I think that would have too much effect on existing plugins. The root context is used as a per-worker singleton already, so changing the semantics would change that. It's not easy to tell the performance cost of having many roots.

[2020-11-06 15:52] mattklein123 commented on #11532
I would be very happy to have a different built-in implementation which does something more basic, since this comes up quite often, but someone will have to implement it. @euroelessar if your internal impl is this basic thing perhaps you can just upstream it?

[2020-11-06 16:11] yanavlasov commented on #13925
I think it is already doing this with the `envoy.reloadable_features.allow_response_for_timeout` runtime flag enabled.

[source code link](https://github.com/envoyproxy/envoy/blob/d5e8634edf26dab65218e42f2acfe7c3dc95b72d/source/common/http/conn_manager_impl.cc#L742)

[2020-11-06 16:56] lavignes commented on #13904
Oh I see. So the value

[code]

Is the hash of the empty string. In SigV4, if the `x-amz-content-sha256` header is passed to the service as a signed header then it is implied that the client and server are using the request body to calculate the signature.

It is very common for this header to *not* be passed. So many SigV4 implementations have this value hard-coded, as it is expected to be used w

[2020-11-06 17:04] abaptiste commented on #13904
Looking a bit closer, the empty hash string is used if the specified service is not one of  ['s3', 'glacier' or 'es'](https://github.com/envoyproxy/envoy/blob/master/source/extensions/common/aws/signer_impl.h#L59-L60).

What does your filter config look like?  Specifically looking at the (service name](https://github.com/envoyproxy/envoy/blob/master/api/envoy/config/filter/http/aws_request_signing

[2020-11-06 17:35] juanvasquezreyes commented on #13904
- name: envoy.filters.http.aws_request_signing
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.http.aws_request_signing.v3.AwsRequestSigning
              service_name: execute-api
              region: us-east-1
          - name: envoy.router

[2020-11-06 17:47] abaptiste commented on #13904
As @lavignes  mentioned, this is likely a bug.  The filter needs to be extended to include API Gateway, since requests to that service can have a body.

[2020-11-06 18:05] lavignes commented on #13904
I'd vote to not add API Gateway to that list and instead just add a boolean option to the extension to enable/disable body signing. But even then it looks like the extension doesn't even support body signing: https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/http/aws_request_signing/aws_request_signing_filter.cc#L36

`s3` should be the only service that requires special tre

[2020-11-06 18:46] nightmareze1 commented on #11050
+1

[2020-11-06 19:03] ejc3 commented on #11050
This would be a great feature!

In the meantime, what we've done for some apps is basically run a little mini load test from within the pod to warm them up. Even with slow start, a per pod warm up would still be useful in situations where all Pods / VM's behind Envoy were restarted at the same time to ensure they can properly start serving traffic and won't instantly be overwhelmed when they are p

[2020-11-06 20:59] danludwig opened #13928 "Question: Can I front proxy from a wildcard subdomain to upstream cluster with matching wildcard subdomain host pattern?"
*Title*: *Question: Can envoy front proxy from a wildcard subdomain to upstream cluster with matching wildcard subdomain host pattern?*

*Description*:

I have a goal of serving a front-proxy for an existing web service that is traditionally hosted at a wildcard domain such as *.my-service.com, so that it can also be accessed from an alternate wildcarded hostname such as *.my-service.services.my-c

[2020-11-06 21:04] kyessenov opened #13929 "wasm: support cluster network filters"
It appears that Wasm does not support network filters on upstream clusters. This is a feature request to provide support.

cc @PiotrSikora @mandarjog @gargnupur

[2020-11-06 23:31] Smirl commented on #13766
I am getting `openid is required scope` from my IdP (actually a [locally running test one](https://hub.docker.com/r/qlik/simple-oidc-provider)).

`openid` is a required scope for `oidc`. Would be great to be able to specify them.

Is this filter intended to be used for oidc (i.e. propegating ID tokens, cookies, etc.) or only for oauth2 (subtle difference I know).

[2020-11-07 00:26] williamsfu99 commented on #13766
@Smirl
I don't see an issue running this filter with OIDC/SAML for enterprise apps, although I don't have any experience running the filter with any sort of SSO gateway to speak more on the subject. I would not recommend federating the access tokens for consumer apps though, as internal admins of the filter should be the ones controlling who can access what.

[2020-11-07 16:35] caleygoff-invitae commented on #8325
hi @lavignes I am seeing this also when trying to use kiam with envoy and aws appmesh and I'm seeing this same thing
[code]

[2020-11-07 17:02] lavignes commented on #8325
Hey @caleygoff-invitae Im really not sure. I would try running curl from the Envoy container in your pod to the metadata endpoint to see if KIAM is properly responding to requests.

My guess is something is wrong with KIAM itself.

Regardless, I'd also recommend using IRSA: https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html instead of KIAM since it is directly sup

[2020-11-07 18:01] kryzthov-stripe commented on #11369
This nghttp2 change might be relevant: https://github.com/nghttp2/nghttp2/pull/1477

[2020-11-07 19:28] kryzthov-stripe opened #13933 "Envoy ignores H/2 max concurrent streams advertised by peers"
*Title*: Envoy ignores H/2 max concurrent streams advertised by peers

*Description*:
Envoy does not seem to correctly calculate the proper max concurrent streams to use.
Envoy seems to always use the max concurrent streams from its own configuration, and disregards the max concurrent streams advertised by a backend through the H/2 settings frames.
This can lead to situations where Envoy does not

[2020-11-07 21:53] kamelkev commented on #11259
Any updates here?

[2020-11-08 08:37] NomadXD commented on #13877
@mattklein123 @alyssawilk I implemented a http decoder filter to log data when decodeData() is called. Web socket frames are getting captured with that filter as you said.
`[2020-11-08 13:19:52.464][49714][trace][filter] [http-filter-example/http_filter.cc:44] Filter sample-filter decoded DATA : ����Am�`

Since web socket frames don't contain any meta data or header , is there any other connection

[2020-11-08 14:38] hisener commented on #7986
@dio, should we open this issue or https://github.com/envoyproxy/envoy/issues/10396 to get some attention?

[2020-11-09 01:41] PiotrSikora opened #13939 "Mid-stream I/O errors are silently ignored in TCP proxy and other network filters"
Mid-stream I/O errors (e.g. `Connection reset by peer`) are never propagated out of transport sockets, and connections terminated because of those errors are closed exactly the same way as in case of a clean shutdown, which results in silent truncation, and the information about that is not available in neither `%CONNECTION_TERMINATION_DETAILS%`, `%UPSTREAM_TRANSPORT_FAILURE_REASON%`, nor `%RESPON

[2020-11-09 01:41] PiotrSikora opened #13940 "Upstream connection events, EOF and I/O errors are never propagated to network filters"
The read/write network filters never receive information about:

- upstream connection events (connected, local/remote close),
- mid-stream I/O errors (see: #13939),
- EOF (in case of connections without half-close semantics),

which significantly limits robustness and capabilities of WebAssembly and `ext_proc` extensions.

cc @mattklein123 @gbrail @kyessenov

[2020-11-09 01:54] PiotrSikora commented on #13939
See #13941 for my attempt at fixing it.

[2020-11-09 02:16] Chwetion commented on #13896
solve this problem by upgrading glibc from 2.17 to 2.23

[2020-11-09 02:16] #13896 closed

[2020-11-09 02:49] kyessenov commented on #13940
Thanks for digging into it. I wonder if it is possible to solve this fully for raw byte streams without application-level semantics on framing. I think there's some just some inherent non-determinism in closure with TIME_WAIT and proxy in the middle.

[2020-11-09 04:00] euroelessar commented on #11532
Sounds good, let me have a look at it

[2020-11-09 05:43] WestEnlarged commented on #13194
@sunjayBhatia  yes, i retry sometimes then build success.  Thans a lot!

[2020-11-09 05:43] #13194 closed

[2020-11-09 09:39] oquenchil opened #13943 "Update rules_foreign_cc"
Envoy is failing after a flag flip which affects rules_foreign_cc
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1752#1430dbb5-ec1d-4fff-9394-3d623f259aff

The flag flip went in here:
https://github.com/bazelbuild/bazel/commit/9a2893dc84cf8e05c1472c5ecff094e8da1d2049

The description of the incompatible change is here:
https://github.com/bazelbuild/bazel/issues/10860

Envoy is no

[2020-11-09 11:37] itamarkam commented on #13801
Some clarifications:

Yes, that's exactly what we need to do.

Yes, the idea is to create a dedicated access logger built for OTLP (i.e implements the client side of the collector service).
I was referring to the implementation details, which I understand how it can be unclear.

As for the implementation, we can re-use functionalities from existing loggers:
1. gRPC - the existing gRPC HTTP/TCP log

[2020-11-09 13:19] anatolebeuzon opened #13944 "Envoy in container does not get PID 1 / does not receive SIGTERM"
When using one of the official Envoy Docker images like `envoyproxy/envoy-alpine`, by default Envoy will start as a child of PID 1 instead of PID 1 directly. This will prevent a graceful shutdown of the container, as Envoy will never receive the SIGTERMs sent by the container runtime.

## Repro steps

[code]

This issue affects images v1.15.0 onwards and affects non-Alpine images as well.

## Caus

[2020-11-09 14:20] phlax commented on #13944
hi @anatolebeuzon thanks for raising this.

im kinda surprised that `su-exec` is not working as `exec` does - i thought that was its purpose.

i  can confirm  what you have shown above - ill look into this a bit further

[2020-11-09 14:31] phlax commented on #13944
@anatolebeuzon

i did a quick rebuild and replace the `su-exec` line with the following

[code]
and all seems to be correct.

can you confirm this fixes the problem?

if it works and you are happy to PR, please do - otherwise, i can.

[2020-11-09 14:37] juanvasquezreyes commented on #13904
Hello @lavignes thank you for your reply
so, who should we talk to in order to do the changes required to make it work?

[2020-11-09 17:10] #13874 closed

[2020-11-09 17:19] anatolebeuzon commented on #13944
This fixes the problem indeed. Thanks! PR: https://github.com/envoyproxy/envoy/pull/13946

[2020-11-09 17:45] udaymadu commented on #13147
Is anyone actively looking at it.

[2020-11-09 17:49] caleygoff-invitae commented on #8325
@lavignes  thanks for the hint. I was able to whitelist the path `/latest/meta-data/iam/security-credentials.*` after sleuthing around and then attaching the KIAM annotation to the Deployment spec like normal, (vs the service account eks annotation from the OIDC/IRSA docs), envoy started fine.

[2020-11-09 19:42] jphx opened #13947 "Envoy doesn't always send complete request body on POST request"
### Description

My organization has been struggling to isolate an intermittent problem we've been experiencing.  We have a legacy -- but still important -- request path that uses an [HAProxy](http://www.haproxy.org/) server downstream of Envoy.

[code]

When this arrangement is used -- and only when this arrangement is used, so far as we can tell -- the upstream service occasionally hangs trying

[2020-11-09 19:58] htuch commented on #5155
I've tagged this as both priority and security in response to the above comment.

[2020-11-09 20:04] #13502 closed

[2020-11-09 20:44] ggreenway commented on #13933
Prior to early 2020, Envoy's http/2 connection pool could only have 1 active upstream connection. This has been fixed to support many connections, but it was never fixed to respect the peer settings frame. I don't think this would be too hard to implement. A few things I can see that would need doing (this list may be incompletey):

* In `source/common/http/http2/codec_impl.cc`, in `ConnectionImpl

[2020-11-09 20:48] ggreenway commented on #13933
Also, consider removing the following, and making the `ActiveClient` use an initial value of 100.

https://github.com/envoyproxy/envoy/blob/master/source/common/http/http2/codec_impl.cc#L1376
[code]

[2020-11-09 21:12] ggreenway commented on #6199
Nobody has said they are working on it, but a PR to fix this would be appreciated.

[2020-11-09 21:59] kryzthov-stripe opened #13948 "Envoy abruptly closes new listener H/2 connection before sending max concurrent streams settings"
*Title*: Envoy abruptly closes new listener H/2 connection before sending max concurrent streams settings

*Description*:
When an Envoy listener accepts a new H/2 connection and is configured with a low max concurrent streams limit, there is a race between the client receiving the H/2 max concurrent streams setting from Envoy and the client opening an arbitrary number of streams.
If the clients op

[2020-11-09 22:25] antoniovicente commented on #13857
It sounds like you're pursuing a fix in the extension defined in proxy-wasm.  Should we also consider some fixes to envoy core components to project about similar crashes caused by hard-to-avoid mistakes in extension implementations?

[2020-11-09 22:31] PiotrSikora commented on #13857
I don't think there is any value in masking programming errors in native extensions. Wasm and `ext_proc` are a bit different, since we're expected to run untrusted/hostile third-party code in not too distant future, so we need to protect against anything that could crash the proxy.

[2020-11-09 23:07] antoniovicente commented on #13857
cc @asraa

[2020-11-09 23:36] derekargueta commented on #5155
I have a ["drop-in replacement" branch](https://github.com/envoyproxy/envoy/compare/master...derekargueta:llhttp-swap-in) with everything passing _except_ the new functionality that was introduced via http-parser for allowing `transfer-encoding: chunked` + `content-length: N`. There's an llhttp issue for this where I've started a small investigation and the fix seems pretty straightforward: https:

[2020-11-09 23:36] antoniovicente commented on #13897
@vinzo99 Do you expect to need the ability to populate %UPSTREAM_LOCAL_ADDRESS% on the request headers sent to the upstream or only on the reply headers proxied back to the downstream?  The later is doable, it just needs to be implemented.  Are there other pieces of information about the upstream that you'ld like to communicate to the downstream via added reply headers?

@lambdai Yeah, we would ne

[2020-11-09 23:52] antoniovicente commented on #13900
cc @yanavlasov @htuch @lambdai @junr03

It doesn't seem ideal that Envoy is sending spurious eds requests during shutdown.

[2020-11-09 23:58] htuch commented on #13900
I think this occurs as EDS is being destructed and is unsubscribing from the resources it was previously subscribed to.

[2020-11-10 00:00] markdroth opened #13951 "deprecate config using the One True ADS Server(tm)"
Today, the way ADS is configured is as follows:
- The bootstrap file has an [`ads_config`](https://github.com/envoyproxy/envoy/blob/d9af0e985a2fef2c921641b12f4786a658ad0923/api/envoy/config/bootstrap/v3/bootstrap.proto#L100) field indicating the One True ADS Server(tm).
- The bootstrap file has its [`lds_resource_locator`](https://github.com/envoyproxy/envoy/blob/d9af0e985a2fef2c921641b12f4786a658

[2020-11-10 00:03] antoniovicente commented on #13947
cc @cpakulski @antoniovicente

Thanks for the detailed report.

This seems very similar to this recently fixed issue which is waiting backport to v1.16 https://github.com/envoyproxy/envoy/issues/12304

Reason: it involves a stall while processing HTTPS bodies with specific watermark limits configured via per_connection_buffer_limit_bytes

cpakulski: let me know if you need some help with backports

[2020-11-10 00:12] antoniovicente commented on #13904
@lavignes @abaptiste: Sounds like this is not just a documentation issue, could you update the issue title and provide a summary of what the fix would involve?

[2020-11-10 00:14] antoniovicente commented on #13910
cc @htuch @junr03 @yanavlasov @lambdai

[2020-11-10 00:17] htuch commented on #13910
Sure, this is a possible explanation, Envoy APIs are eventually consistent. You need to sequence using ADS and pay attention to warming state etc. to avoid this. Also, there are some known bugs, e.g. https://github.com/envoyproxy/envoy/issues/13070.

[2020-11-10 00:21] derekargueta commented on #5401
@moderation there's a github repo for the project, and an open issue for Envoy support https://github.com/mozilla/ssl-config-generator/issues/29

[2020-11-10 00:28] antoniovicente commented on #13925
@wlhee: could you provide more information about the cases that don't work as expected?  Is the problem when:
- the stream timeout triggers before the upstream starts sending a response
- the stream timeout triggers after the upstream starts sending a response but before the response completes

What does the downstream see?  A stream reset?

[2020-11-10 00:28] lizan opened #13952 "sds: make sds subscriptions as init target to warm clusters"
*Description*:

Currently SDS subscriptions are not in init target so the filter chain or cluster depends on SDS secrets which is not loaded will result connection terminating or not initiate connections. This is a tech debt from when we implemented, related https://github.com/envoyproxy/envoy/issues/4522.

[2020-11-10 00:29] lizan commented on #13952
cc @howardjohn @lambdai this should be the long term fix for the SDS issue.

[2020-11-10 00:29] wlhee commented on #13925
I didn't realize the option exists already as @yanavlasov brought up. I will try it out and report it back.

[2020-11-10 00:31] #13944 closed

[2020-11-10 00:36] antoniovicente commented on #13933
cc @alyssawilk

Relying on internal nghttp2 buffering for this case doesn't seem great.  I think that a possible source of complexity is if the upstream does not provide a consistent max_streams value across connections; the upstream connection selection code needs to be aware of individual connection capacities and only select connections that are below the saturation value.  This also has implic

[2020-11-10 00:45] antoniovicente commented on #13940
What actions would wasm filters want to take of midstream errors or EOF?

I assume that there's also a logging issue; are HTTP requests that fail after partial response tagged appropriately?

[2020-11-10 00:50] qiwzhang opened #13953 "TSAN report: Data race in AccessLogFileImpl::write_lock_"
*Title*: TSAN report: Data race in AccessLogFileImpl::write_lock_

*Description*:
Our Tsan test has data race warning

[code]

By looking at the code,  it seems the race is inside mutex write_lock_.

Main thread is at write_lock_ destructor of [here](https://github.com/envoyproxy/envoy/blob/c555587abea7addf3b8b3989231826d7e8fcf8ed/source/common/access_log/access_log_manager_impl.cc#L73)

AccessLog

[2020-11-10 00:55] mattklein123 commented on #13953
This is an issue in TSAN itself. See https://github.com/envoyproxy/envoy/issues/12600

[2020-11-10 01:04] antoniovicente commented on #13943
cc @benjaminp @lizan

I'm not sure what's causing the problem you describe.

The https://github.com/bazelbuild/rules_foreign_cc was updated to the most recent change in that repo 14 days ago thank to https://github.com/envoyproxy/envoy/pull/13758

[2020-11-10 01:09] htuch commented on #10471
The OSSF Scorecards project just released some automatable checks, see https://github.com/ossf/scorecard#checks. This seems like a good baseline to adopt.

[2020-11-10 01:18] antoniovicente commented on #13948
@asraa @yanavlasov @antoniovicente @akonradi @alyssawilk

Yes, that sounds like a race.  I think that a possible way to avoid losing the connection is to limit the number of streams created before the remote endpoint settings are received.  Another mitigation may include preferring stream reset over connection close in cases where the remote endpoint has not ACKed SETTINGs.  Preferring stream rese

[2020-11-10 01:26] benjaminp commented on #13943
I think it's because this has been red for a few weeks: https://buildkite.com/bazel/envoy

[2020-11-10 01:28] antoniovicente commented on #13925
That runtime feature is enabled by default.  The relevant fixes were made in August, so I expect that your binary already contains the relevant changes.

[2020-11-10 01:31] pravb opened #13955 "Support Original Destination Redirect support on Windows for service mesh scenario"
*Title*: *Support Original Destination Redirect support on Windows for service mesh scenario*

*Description*:
In service mesh scenario the sidecar proxy needs to intercept traffic and this is accomplished on Linux using Iptables REDIRECT in conjunction with use of the Original Destination API. Windows platform had added support for outbound and inbound redirection using  Windows Filtering Platform

[2020-11-10 02:12] PiotrSikora commented on #13940
Because upstream connection events are not propagated to network filters, Wasm is currently using `end_stream=true` (which is missing in case of mid-stream error) as a signal for upstream connection close events.

More generally, I'd like to be able to log that the connection was prematurely closed from within Wasm plugins.

[2020-11-10 03:12] yanavlasov commented on #13948
It looks like nghttp2 applies limits before new settings were ACKed, from the log it looks like it did not even send the SETTINGS yet. It is not strictly speaking a bug as the [standard does not explicitly say](https://tools.ietf.org/html/rfc7540#section-6.5.3) that new setting MUST be enforced only after receiving ACK. But I would argue that this implementation is not very friendly to race condit

[2020-11-10 03:12] qiwzhang commented on #13953
It turns out it is tsan issue:  https://github.com/google/sanitizers/issues/953

[2020-11-10 03:12] #13953 closed

[2020-11-10 03:42] yanavlasov commented on #13147
We have the first part in review right now, PR #13808 This PR will not solve this issue, however. I think it will need some additional work. I do not have ETA for you right now.

[2020-11-10 04:55] antoniovicente commented on #13948
Thanks for confirming.  This being enforced by nghttp2 means that in order to change behavior we'll need to make some changes to the nghttp2 implementation.

[2020-11-10 05:36] #13913 closed

[2020-11-10 05:44] #13778 closed

[2020-11-10 07:59] sha-rath commented on #9300
Yes, I applied the EnvoyFilter to enable TLSv1.3 and it seems to be working fine. I did a couple of tests after applying the retry policies both in the simple TLS and mTLS modes, but could not find any issues you were mentioning @PiotrSikora . I also tried certificate rotation and querying the server with an invalid certificate, but they seem to work fine as expected. Could you please explain thos

[2020-11-10 12:13] hazelnutsgz opened #13961 "Where did envoy allocate the read/write buffer?"
When checking the buffer implementation, I traced the implementation of ```OwnedSlice``` and ```Slice```, and find the initialization
[code]

But by search the whole codebase, I have no clues about where ```storage_``` is assigned with the allocated memory, which confused me for quite a long time. Is there any clues for that?

Thanks, @brian-pane

[2020-11-10 13:13] hazelnutsgz commented on #13961
Is this related to the placement-new stuff? Like
``` std::unique_ptr<OwnedSlice> slice(new (slice_capacity) OwnedSlice(slice_capacity));```

[2020-11-10 13:30] asraa commented on #13857
I agree, I think core code should guard against continuation after a local reply is sent. This seems like the same error @rgs1 encountered with a custom filter (https://github.com/envoyproxy/envoy/issues/13737).

Yan and I worked on guarding against filter misbehavior in the context of header removal (https://github.com/envoyproxy/envoy/issues/13756), but not around additional code guards around f

[2020-11-10 14:59] dantodor opened #13962 "Problems with logrotate"
I am trying to configure log rotation for access logs.
Here are relevant parts of the config:

Envoy yaml:
[code]

logrotate.d conf file:
[code]

Running logrotate by hand:

[code]

Yet, envoy.log is still in place and growing ... Any idea what I'm doing wrong ?
Thank you!

[2020-11-10 15:10] yanavlasov commented on #13831
From the log it look like the [socket read call](https://github.com/envoyproxy/envoy/blob/1d6d68bd659a78ad53b46799efa2f810c3eb2dd7/source/common/network/raw_buffer_socket.cc#L22) for upstream connection hanging. Is there anything in particular about your environment? Do you use IP Tables for anything?

[2020-11-10 15:39] alyssawilk commented on #13933
Yeah, the H2 connection pool should totally adjust max streams per connection to be min(configured, settings-negotiated).
I'll probably be adding helper functions to adjust max stream per connections for the ALPN pool (once the prefetch and ALPN PS combine) so then it'd just be a case of intercepting SETTINGS and passing the new limit from the codec client to the connection pool.

[2020-11-10 16:01] rgs1 commented on #13737
Also relevant: #13873

[2020-11-10 16:36] jphx commented on #13947
The referenced bug fix does sound promising.  I ran our standalone test case using the `envoyproxy/envoy-dev:1d6d68bd659a78ad53b46799efa2f810c3eb2dd7` image, and so far I've been unable to reproduce the problem.  Thanks very much for the quick advice.  I'm now going to try that image in a real environment where we see the problem with an actual service.

[2020-11-10 17:28] lambdai commented on #10455
The ownership is too hard for me to understand.

I want to add the use case that upstream filter manager should be able to reflect the latest host after retry.

This feature is wanted
https://github.com/envoyproxy/envoy/issues/12236
https://github.com/envoyproxy/envoy/issues/13897

And currently cluster upstream extension could be used to rewrite header after HCM router filter rewrite the header.

[2020-11-10 17:34] lambdai commented on #13897
There are several workaround or plans
1. As @antoniovicente mentioned, if the upstream header need to be populated by HCM router filter, the api need to be consistent on execution per-retry mutation, sanitize on retry(append or override)...
2. Done by cluster upstream extension: See example here https://github.com/envoyproxy/envoy/pull/13915. This header rewrite is strictly after router rewrite so

[2020-11-10 17:56] nitgoy commented on #13513
I have a confusion reading the code for the L4 local rate limit filter. Let's say we do use the SNI based filter chain match. That means the local rate limit filter's limits will be specific to that SNI. But the actual token bucket is inside the shared config which seems to be shared across all instances of the filter. Does that mean the token bucket used is the same one irrespective of the filter

[2020-11-10 17:57] NomadXD commented on #13877
@mattklein123 @alyssawilk I created a custom http filter and trying to send the web socket frames through that after the upgrade. The connection gets upgraded successfully but the custom filters are not applied. Only the usual http filter chain is applied. Anything wrong with the configuration ? Thanks
[code]

[2020-11-10 17:58] ggreenway commented on #13513
The config object is shared by all instances of that filter in that filter chain. A filter in a different filter chain has it's own config.

[2020-11-10 18:01] lambdai commented on #13910
Use cluster before creating the cluster is supposed to be 503 as Harvey mentioned explained

HCM router may support retry on no-healthy-upstream but I am not sure

[2020-11-10 18:04] mattklein123 commented on #13877
That looks correct to me at a glance, would have to defer to @alyssawilk for any missing details.

[2020-11-10 18:07] nitgoy commented on #13513
Thanks @ggreenway. I guess that means that the filter's instances for different connections will share the config object as long as they share the same SNI (with SNI based filter chain match). Is this statement correct?

[2020-11-10 18:08] snowp commented on #10455
To support this we'd either want all filters to run after host selection (this precludes some features that would want pre-host selection filters) or have filters run during both. For the latter we could either have two lists of filters or have a host selection filter that can be inserted in the middle to handle selection. I don't think any work has been done so far to exclude either option, this

[2020-11-10 18:31] jheaff1 commented on #13831
I don’t use IP Tables but Envoy is running in a docker-compose environment. The gRPC web client is running in a Docker container, as is Envoy, as is the gRPC server. Docker-compose provides the networking between the containers

[2020-11-10 19:00] phlax opened #13963 "Add dump and exit mode"
### description

it would be useful if we had a `dump` mode, similar to `validate` that instead dumps bootstrap config or other information and then exits

it would be particularly useful for getting `components` for logging as currently you have to check the header file

im imagining it could work like

[code]

[2020-11-10 19:01] lavignes commented on #13904
Hey @antoniovicente I don't think I have permissions to update the title or the issue content.

The gist of this is that the AWS Request Signing filter always adds the header `x-amz-content-sha256`. The value of this header is always being set to `HexEncode(SHA256("")` that is, the SHA-256 of the empty string. The string in question being encoded is supposed to the be body of the http request. The

[2020-11-10 19:04] phlax opened #13964 "(Windows) Cannot Redirect the access_log output to (stderr/stdout/null)"
### description

On Windows there is no easy way to redirect access log output to standard output/error.

original description:

[2020-11-10 19:05] phlax commented on #13964
@envoyproxy/windows-dev ive shifted the conversation about `/dev/null/stdout/stderr` to a new ticket

[2020-11-10 19:06] phlax commented on #13964
ref #13935

[2020-11-10 19:07] phlax commented on #13964
i guess this could also potentially apply to stdin although im not aware of it being used by envoy

[2020-11-10 19:09] phlax commented on #13963
potentially also useful for merging config files, eg

[code]

[2020-11-10 19:12] mhoran opened #13965 "Unexpected space encoding of query string parameters in gRPC-JSON transcoder"
*Title*: Unexpected space encoding of query string parameters in gRPC-JSON transcoder

*Description*:
When using gRPC-JSON transcoding, query string parameters which contain the literal `+` character are sent to the gRPC upstream retaining the `+` character. Contrast this to query string parameters containing a percent encoded space, `%20`, which are sent to the gRPC upstream as a space. Unfortuna

[2020-11-10 19:13] alyssawilk commented on #13877
I was confused too - we have regression tests for this!

After a whole bunch of frustrating debugging, it turns out the difference is between

              - upgrade_type: websocket
                filters:
                - name: sample
                  config:
                    key: via
                    val: sample-filter-upgrade

Which configures a custom filter chain for "websocket"
and

[2020-11-10 19:20] alyssawilk commented on #13877
Actually cc @envoyproxy/api-shepherds since there's an @ for that.

[2020-11-10 19:21] htuch commented on #13877
Would adding a `min_len` PGV constraint work?

[2020-11-10 19:22] antoniovicente commented on #13904
cc @azihsoyn @dio @rgs1 @derekargueta @mattklein123 @marcomagdy

cc'ing aws signing filter owners.  @lavignes  thanks for the explanation.  I don't see an issue associated with #12020, just some claims during the review that x-amz-content-sha256 is needed for some requests to es and glacier.

[2020-11-10 19:27] mattklein123 commented on #13877
Yeah IMO we should just add the constraint as it is implied and broken without it.

[2020-11-10 19:31] alyssawilk commented on #13877
+1, but I wasn't sure if adding constraints after the fact was "legal"
Agree it's broken if you're doing any zero length fields, just not sure if failing to accept on invalid-but-previously-accepted-config is OK.

[2020-11-10 20:16] phlax commented on #13963
could also be a platform for dumping extensions (#13167)

[2020-11-10 20:52] yanavlasov commented on #13877
I think in this case it is ok to just add the constraint. I would not expect anyone to use empty upgrade type.

[2020-11-10 20:59] yanavlasov commented on #13948
@tatsuhiro-t for any additional comments.

[2020-11-10 21:13] #13114 closed

[2020-11-10 21:14] alyssawilk commented on #13537
#13684 documents this pretty cleanly so I'm going to call it resolved for now.

[2020-11-10 21:14] #13537 closed

[2020-11-10 21:55] antoniovicente commented on #8771
cc @htuch @jmarantz

[2020-11-10 21:57] bianpengyuan commented on #13720
@lizan I'd like to take a stab on this.

[2020-11-10 22:21] jphx commented on #13947
A follow-up:  After deploying the mentioned Envoy image to our staging environment, we can no longer reproduce the problem.  I'd say it's a pretty good bet that the referenced pull request fixed it for us.  We'll have to figure out what to do until there's an official release that contains the fix.

Thanks again for the help!  Closing this issue is okay with me.

[2020-11-10 22:49] chrismoos commented on #3887
I know this is closed, but if anyone is looking, you can get Envoy to pass through client certificate details (via XFCC header) without performing any validation on the client certificate with the following in `common_tls_context`:

[code]

The above will let you establish a TLS session with any client certificate, letting an upstream server consume the XFCC header and perform any authentication/v

[2020-11-11 00:14] lambdai commented on #13961
This is probably a c++ question.
`storage_` is an array name but not a pointer.
Actually array name is a non-modifiable lvalue. You cannot assign it value.

[2020-11-11 00:56] #13920 closed

[2020-11-11 01:26] tatsuhiro-t commented on #13948
Do you have any evidence that connection close is done by nghttp2?

[2020-11-11 02:34] yanavlasov commented on #13831
Hmm, the only other suggestion that I have is to collect core dump of the process when it gets into this state. It **may** help explain what is going.
You can also try running it without docker and see if this problem persists.

[2020-11-11 03:02] hazelnutsgz commented on #13961
The declaration of storage_ is ```uint8_t storage_[]```, so where did envoy allocate the memory for this array? (There should be some stuff like new/malloc, or memory pool to associate with ```storage_```, but I did not find it).

[2020-11-11 03:06] hazelnutsgz commented on #13879
Yes, this one makes a lot of sense, I was wondering whether 512 a randomly set number or a result conducted by a lot of experiments.

What's the intuition behind this design? Given that large packet we dont need real copying, why do we need to copy small fragments?

Thanks for you help.

[2020-11-11 05:19] wlhee commented on #13925
Okay, I think I tested all the combinations and have the following observations:

**1. when only max_stream_duration is set in the listeners -> filter_chains -> filters config:**

1a. for unary gRPC request, response headers are NOT sent before timeout, I get DEADLINE_EXCEEDED status:
Rpc failed with status code 4, error message: downstream duration timeout

1b. for server-streaming gRPC request,

[2020-11-11 05:22] wlhee commented on #13925
I would expect all these cases return DEADLINE_EXCEEDED, but it seems only one of them returns it, which is that when max_stream_duration is set in listener config and response headers are NOT sent before the timeout is reached.

[2020-11-11 06:35] kushthedude commented on #7238
I would like to work on it

[2020-11-11 07:29] Wyverald commented on #13943
The buildkite pipeline is failing to pull the docker image `gcr.io/bazel-public/ubuntu1804-java11`.

@philwo, any ideas?

[2020-11-11 07:34] #13857 closed

[2020-11-11 08:32] philwo commented on #13943
@Wyverald Can you quote the error message and link to a job where the error can be seen? I had a quick look at Buildkite from my phone but couldn’t see anything pointing to Docker.

[2020-11-11 08:41] Wyverald commented on #13943
https://buildkite.com/bazel/envoy/builds/1360#f0b7d037-077d-46c6-bb67-6aafecb8617a

[code]

[2020-11-11 08:41] gklingler commented on #9055
@lazy-always, we work around this issue with appropriate "bridge-tracer libraries" (one for each ABI) which translates the opentracing C++ API calls to Dynatrace internal C API calls.

[2020-11-11 10:01] rojkov opened #13973 "compile_time_options CI job fails with the latest Abseil lib"
*Title*: *compile_time_options CI job fails with the latest Abseil lib*

*Description*:
The int128 support in SimpleAtoi introduced in https://github.com/abseil/abseil-cpp/commit/4b915e70929ca2d6152240facc83d3d38c5d5f28 triggers this bug in Clang: [__int128_t multiply with -fsanitize=undefined fails to link (undefined reference to __muloti4)](https://bugs.llvm.org/show_bug.cgi?id=16404)

*Repro st

[2020-11-11 10:07] lizan commented on #13943
@benjaminp @philwo looking at the bazel CI failure and last green, the reason that RBE is failing is because we started use multipool and that isn't match what bazelci does. We have a couple of large machines labeled `size=large` for V8 build because they times out in normal machines. This results:

[code]

A short-term fix will be exclude those build target from bazel-ci.

[2020-11-11 10:52] lizan commented on #13973
Seems like it's an abseil issue? Can you open an issue there too?

[2020-11-11 14:37] malphi opened #13977 "Can Envoy support IPVS?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: Can Envoy support IPVS networking mode? Or only support iptables?

*Description*:

[optional *Relevant Links*:]

[2020-11-11 15:30] rojkov commented on #13973
Yeap, filed https://github.com/abseil/abseil-cpp/issues/841

[2020-11-11 15:41] jheaff1 commented on #13831
Sadly I won't be able to provide a core dump as it will contain sensitive proprietary information. I'll see If i can get the system running without docker

[2020-11-11 16:03] antoniovicente commented on #9328
Is this something that can be accomplished by a template function instead of a macro?

[2020-11-11 16:21] jmarantz commented on #9328
Agreed: I don't know why I didn't suggest that in the first place. We should use a template function rather than a macro for this. I think (other than renames for style) it will otherwise be a drop-in replacement.

[2020-11-11 16:26] prestonvanloon commented on #6110
Bump: how can I help contribute to this feature?

[2020-11-11 17:00] qqustc opened #13978 "Add a Kill Request HTTP filter"
*Title*: *Add a Kill Request HTTP filter which can crash Envoy when enabled by a Kill request*

*Description*:

The new KillRequest filter will be disabled at build time by default in Envoy by comment out the KillRequest filter extension in [extensions_build_config.bzl](https://github.com/envoyproxy/envoy/blob/master/source/extensions/extensions_build_config.bzl)

## KillRequest API
KillRequest fi

[2020-11-11 17:21] mattklein123 commented on #6110
Note that (1) is already handled using ECDS. We just need a gRPC streaming output (2). I will update the title.

[2020-11-11 17:36] hellraisercenobit commented on #7025
@vemod thx a lot for your "patch"
how did you deal with grpc-web withCredentials call?
with envoy i got this error:

as been blocked by CORS policy: Response to preflight request doesn't pass access control check: The value of the 'Access-Control-Allow-Origin' header in the response must not be the wildcard '*' when the request's credentials mode is 'include'. The credentials mode of requests init

[2020-11-11 17:52] #13373 closed

[2020-11-11 18:03] sanathpholla opened #13980 "TLS session resumption does not seem to happening with TLSv 1.2"
*Title*: *TLS session resumption does not seem to happening with TLSv 1.2*

*Description*:

Envoy was deployed as apt package on Linux ubuntu based system.
Was trying to disable the TLS session reuse for HTTPS listener and even when the disable_stateless_session_resumption of tls_context is set to True and the TLS version used is TLSv1.2, the TLS session ID is being reused for the connections made

[2020-11-11 18:07] grial1 commented on #9328
Ok, I will try to make the replacement in the [PR](https://github.com/envoyproxy/envoy/pull/13770#pullrequestreview-528251561).

[2020-11-11 18:19] mpuncel opened #13981 "Protocol detection after terminating CONNECT"
*Title*: *Protocol detection after terminating CONNECT*

*Description*:
When using Envoy as an outbound CONNECT-terminating proxy, it forwards the payload of the HTTP request to the upstream as raw TCP. It would be useful to be able to detect the tunneled protocol for telemetry purposes, or even to block certain protocols (e.g. to block any plaintext traffic).

I'd guess the easiest way to accompl

[2020-11-11 20:56] #10816 closed

[2020-11-11 21:34] ceastman-ibm opened #13985 "response - setBytes() generates lua error"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
Trying to use setBytes() but get this error: cannot call body() after body has been streamed

*Description*:

the bug, for example: Envoy shou

[2020-11-11 21:44] efimki opened #13986 "Allow http route and cluster metadata to contain typed metadata in `Any` in addition to `Struct` format"
*Title*: *Allow route and cluster metadata to contain typed metadata in `Any` in addition to `Struct` format*

*Description*:
Currently http route and cluster xds elements can have a metadata attached, which is nice. Unfortunately it is currently serialized using key-value format, for example:

[code]

It is inefficient from the point of view of serialization / deserialization, as well as visual r

[2020-11-11 21:56] mattklein123 commented on #13978
I'm a little skeptical this has enough utility to be a standalone filter. Could this be done out of band by just sending an abort signal? Or is the idea that you want it to be in the request path? Alternatively could we add ab `abort()` function to Lua?

[2020-11-11 22:02] stevenzzzz commented on #13986
to be exact, we want to make Metadata support protobuf.Any and possibly sunset use of Struct, in route and cluster metadata.

[2020-11-11 23:01] phlax commented on #13964
one thing im still not clear about is whether the "note" about `CON` here https://www.envoyproxy.io/docs/envoy/latest/start/quick-start/run-envoy#debugging-envoy (just above the linked title) is correct

im happy to update/remove if it is not

[2020-11-11 23:12] vemod commented on #7025
you can force response headers by setting them in lua like in my example with auth request headers. to do that you need to implement
`function `envoy_on_response(response_handle)`

[2020-11-11 23:19] vemod commented on #7025
have you tried to set `allow_credentials`? you might need to set that in order correct headers are included or set them in lua

[2020-11-11 23:40] dio commented on #13985
@ceastman-ibm would you mind trying:

[code]

[2020-11-12 00:05] htuch commented on #8771
There are multiple approaches to fix this:
1. Document and add validation check to disallow excluding core stats with stats matcher. This removes some flexibility from the stats matching, but there's probably not that many stats in this category.
2. We could avoid relying directly on stats in methods like `ClusterManagerImpl::warmingClusterCount()`. This means we need to do double accounting to tr

[2020-11-12 00:10] htuch commented on #13925
It seems there's a bunch of gaps here in our treatment of gRPC timeouts. Tagging @markdroth to confirm intended behavior.

[2020-11-12 00:37] qqustc commented on #13978
The reason we want it to be a standalone filter is to be able to easily disable the filter extension at build time so that users don't accidentally turn it on to crash Envoy. Yes, we want it to be in the request path so that we can send requests to a large pool of Envoys with different probability of killing Envoy.

[2020-11-12 00:37] qqustc commented on #13978
Thanks Matt. The reason we want it to be a standalone filter is to be able to easily disable the filter extension at build time so that users don't accidentally turn it on to crash Envoy. Yes, we want it to be in the request path so that we can send requests to a large pool of Envoys with different probability of killing Envoy.

[2020-11-12 00:40] mattklein123 commented on #13978
With an `abort()` function in Lua couldn't you do pretty much what you need? You would control the Lua scripts that get run?

If that's not going to work no major objection from me, I'm just skeptical this is going to get very wide use to justify maintaining this in the upstream tree vs. as a private filter.

[2020-11-12 00:57] lizan commented on #13720
@bianpengyuan I doubt it will work well after taking a brief look there. It will introduce unnecessary bazel dependencies from rule_nodejs, and it hardcodes Linux x64 binaries which will break macOS (and also arm64 / Windows in future).

[2020-11-12 01:04] qqustc commented on #13978
Thanks Matt for the note. Another reason to implement it in Envoy is to provide an universal OSS API for our users to inject the kill request.

[2020-11-12 01:04] nic-chen commented on #13791
I have been quite busy during this period of time, will continue this work today, hope it coming soon.  : )

[2020-11-12 01:10] PiotrSikora commented on #13720
Could one of you report those issues to Emscripten folks? They should ship unusable rules, and we shouldn't need to maintain Emscripten rules in Envoy.

[2020-11-12 02:55] bianpengyuan commented on #13720
Created https://github.com/emscripten-core/emsdk/issues/650 to track this. Meanwhile, I am going to move wasm_cc_binary rule to proxy-wasm-cpp-sdk, so that it does not require importing envoy repo to use that.

[2020-11-12 03:40] thomas1984 commented on #10422
@NomadXD
Hello! Please check the Readme document and perform some operations on the Linux system:
Linux
On Linux, we recommend using the prebuilt Clang+LLVM package from LLVM official site. Extract the tar.xz and run the following:

bazel/setup_clang.sh <PATH_TO_EXTRACTED_CLANG_LLVM>
This will setup a clang.bazelrc file in Envoy source root. If you want to make clang as default, run the following:

[2020-11-12 07:30] rkbalgi opened #13992 "[Question] prefix_rewrite based on selected host in the upstream cluster"
*Title*: prefix_rewrite based on selected upstream cluster

*Description*:
Is there anyway possible to rewrite the prefix based on the selected host in a cluster?
I have a static cluster of 4 hosts - 1,2,3,4 and when I receive a request with prefix `/msg.host_x/`, I want the `x` to be replaced by 1,2,3 or 4 based on whichever host is selected in the cluster.

[2020-11-12 07:37] lambdai opened #13994 "warming cluster is not removed at new CDS response"
If the cluster "foo" is warming, and the next CDS response doesn't contains "foo",
the cluster "foo" will not be removed.

This doesn't follow the concept of wildcard subscription. Also, LDS api doesn't
act like this.

CC @htuch

[2020-11-12 07:41] lambdai commented on #13994
Although this behavior is even guarded by integration test.
https://github.com/envoyproxy/envoy/blob/0e42452a48a8e8d10f5a230a94acb7e5fe84e38f/test/integration/ads_integration_test.cc#L544-L575

IMHO it's a bug. Should we create a flag to optionally introduce new behavior.

[2020-11-12 08:00] silencehe09 opened #13995 "How to see the circuit breaker statistics of dynamic cluster from SDS ?"
@mattklein123  Looking forward to your help.
The envoy version is 1.10.  By following the wiki  [Statistics overview](https://www.envoyproxy.io/docs/envoy/v1.10.0/operations/stats_overview), I can't see the circuit breaker  statistics of dynamic cluster from SDS, such as `my-foo-cluster` , via the `GET /stats` command in envoy container, but I can see the statistics  of  the cluster `xds-grpc` tha

[2020-11-12 08:21] hellraisercenobit commented on #7025
@vemod allow_credentials: true into cors config not working at all with something like this on client side:
[code]
Can i declare multiple function with inline_code?

[2020-11-12 08:50] phlax commented on #13817
i updated the config in the description as it was missing an `admin` section

i had wondered if this would be resolved by #13950 but it doesnt appear  to be

[2020-11-12 09:07] phlax commented on #13843
seems like this isnt actually a problem with sphinext-rediraffe its a problem i think with the mangling that happens when the docs are output to the website.

atm, afaict,  we generate docs in `html` mode and then mangle them on the actual website to more like `dirhtml` mode when the docs are published to the site.

this is causing some inconsitency - eg this bug - and means that the docs we look

[2020-11-12 09:19] nic-chen commented on #13791
Here is a full example config:

[code]

What do you think ? Just make sure I'm on the right way. Thanks!

@dio @membphis @moonming

[2020-11-12 09:19] aheadmode opened #13998 "Add support for musl libc"
WIP

[2020-11-12 09:52] lizan commented on #13998
What's the goal of supporting musl libc? I did an native build in Alpine a year-ish ago (https://github.com/tetratelabs/getenvoy-package/tree/master/alpine) but didn't find it really useful. There will be a heavy performance drawback (I didn't precisely measure it but about 30% in my benchmark), because musl malloc/free cannot be safely replaced, see https://github.com/gperftools/gperftools/issues

[2020-11-12 10:02] antoniovicente commented on #13961
Yes, OwnedSlice uses an exotic, custom C++ new operator defined by the [InlineStorage](https://github.com/envoyproxy/envoy/blob/d62a3882e584c591cddb2d7a5d0752312bd07344/source/common/common/utility.h#L631) mixin base class which allocates a memory block for for the size of the object plus an extra variable size region.  Note the OwnedSlice::storage_ array data member that doesn't have a pre-define

[2020-11-12 10:39] aheadmode commented on #13998
I wasn't aware about your native Alpine port. Did you try to build it with musl + [mimalloc](https://github.com/microsoft/mimalloc)?

Let me know what you think

https://www.linkedin.com/pulse/testing-alternative-c-memory-allocators-pt-2-musl-mystery-gomes/

[2020-11-12 11:03] lizan commented on #13998
No, I don't think mimalloc exists at that time. I'm not sure how its performance characteristic will be, but you should be able to try it out by building Envoy without tcmalloc (`--define=tcmalloc=disabled`), and use `LD_PRELOAD` to load mimalloc. It would be nice to see whether it can provide comparable performance.

[2020-11-12 11:06] lizan commented on #13943
Seems fixed https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1761#1e9f82e4-91f4-4b11-8f0d-afdab0fa3c6d

[2020-11-12 11:06] #13943 closed

[2020-11-12 11:08] lizan commented on #13981
Sounds like this is another use case of https://github.com/envoyproxy/envoy/issues/11725. cc @lambdai

[2020-11-12 11:11] mk46 commented on #3458
I would like to take up this. @ggreenway Could please suggest where to start? I think need to modify `tools/protodoc/protodoc.py`

[2020-11-12 12:06] PiotrSikora commented on #13980
`disable_stateless_session_resumption` disables stateless session resumption (via TLS Session Tickets), but not stateful session resumption (cache on the server-side).

[2020-11-12 15:16] #13142 closed

[2020-11-12 15:17] markdroth commented on #13925
I think the right behavior is for Envoy to send an HTTP/2 HEADERS frame with the `grpc-status` header set to DEADLINE_EXCEEDED followed by a RST_STREAM.  This should work for both unary and streaming.

[2020-11-12 15:17] markdroth commented on #13925
CC @dfawley

[2020-11-12 15:19] wlhee commented on #13925
For streaming-case, do you mean sending grpc-status in the trailer? Coz headers were sent already.

[2020-11-12 15:29] markdroth commented on #13925
Headers and trailers are basically the same thing at the HTTP/2 layer: they're both just HEADERS frames.  But either one can be the last frame on the stream.

The timeout can occur at any time.  If it happens to occur before headers have been sent, then sending a HEADERS frame containing `grpc-status` followed by a RST_STREAM means that the stream will have basically have had only headers sent, no

[2020-11-12 16:27] yanavlasov commented on #13831
Sure, you could provide stack traces, which should be free of PII. This may help confirm that the `recv` is haging.

[2020-11-12 16:46] andreyprezotto commented on #13766
@Smirl I'm currently working on a fix to make the scope parameter configurable, and I'll open a pull request soon. Let you all know by posting it here.
In my local tests, I can see the cookies and Authorization header forwarded in the headers to the upstream service.

[2020-11-12 17:41] ggreenway commented on #3458
That would be great if you could work on this. I don't know where the docs are generated from, so I can't offer much guidance. @htuch did you write this originally?

[2020-11-12 18:02] aheadmode commented on #13998
I'm looking into that and I'll let you know here

[2020-11-12 18:23] dfawley commented on #13925
cc @ejona86

Note that there are some implications of sending headers in the middle of a stream - e.g. messages could be truncated.

I agree this is fine, but we would need to be sure to send all the data required in an initial response headers or trailers-only frame.  I.e. HTTP status 200 and Content-Typ application/grpc.

https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md#responses

[2020-11-12 18:51] mpuncel opened #14000 "SDS warming stuck after SDS server outage (and recovery)"
*Title*: *SDS warming stuck without retrying*

*Description*:
After an outage of our SDS server and subsequent recovery, we found an Envoy instance that seemed to be permanently stuck on warming secrets.

Info logs look like this (repeated forever):
[code]

Turning the log level to `debug` after the fact doesn't yield anything interesting, it's as if no SDS is being attempted at all.

This shows u

[2020-11-12 19:23] mpuncel commented on #13981
agreed, if we had a way of dispatching to an "internal listener" that would be even better so that all of the normal listener filters could be used

[2020-11-12 19:49] yanniszark opened #14001 "ext_authz(http): Envoy turns AuthorizationResponse status 500 into 403 and drops body"
*Title*: ext_authz(http): Envoy turns AuthorizationResponse status 500 into 403 and drops body

*Description*:
1. User makes an HTTP request against Envoy.
1. Envoy makes AuthorizationRequest to ext_authz filter's http server.
1. ext_authz server replies with 503 and a body.
1. Envoy returns 403 and no body.

*Repro steps*:
This came up as part of a project so it's easier to include instructions f

[2020-11-12 19:58] #13690 closed

[2020-11-12 20:16] ceastman-ibm opened #14004 "Request with Transfer-Encoding: chunked and Content-Length is valid per RFC, but rejected with protocol error: http/1.1 protocol error: both 'Content-Length' and 'Transfer-Encoding' are set."
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: Request with Transfer-Encoding: chunked and Content-Length is valid per RFC, but rejected with protocol error: http/1.1 protocol error: both 'Content-Length' and 'Tr

[2020-11-12 20:38] lambdai commented on #13981
My experimental code at internal listener supports listener filter including tls inspector. It take time to land though

[2020-11-12 20:48] pgenera opened #14005 "Create benchmark tests for CDS"
*Title*: speed tests for CDS.

*Description*: #10982 introduced a benchmark_test for EDS, I'd like to do the same for CDS, and work on whatever non-linear performance it finds, if any.

[2020-11-12 20:49] #13636 closed

[2020-11-12 20:50] #13458 closed

[2020-11-12 21:20] jaegchoi opened #14006 "Dynamic gRPC call credentials"
Hi, I'm trying to make a gRPC call using the google_grpc service so I can add credentials to the requests. Specifically I'm trying to use the access_token call credential option, but it only accepts a string. However I'd like to set the access_token value dynamically by using the response body from an HTTP call in a Lua script. Is this possible? I would think that the access_token should not have

[2020-11-12 22:04] ceastman-ibm commented on #14004
setting allow_chunked_length to true based upon https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/protocol.proto#config-core-v3-http1protocoloptions has resolved the issue.

For others running into this in istio. this was fixed in istio-1.8.0-alpha.2 with this envoyfilter:

[code]

[2020-11-12 22:04] #14004 closed

[2020-11-12 22:18] dontlaugh commented on #1291
I've only been able to log to the systemd journal with this hack

https://github.com/envoyproxy/envoy/issues/8297#issuecomment-620659781

[2020-11-12 23:18] antoniovicente commented on #14006
cc @htuch  @JimmyCYJ who may be able to provide a better answer.

I think the closest I can find is gRPC Security Token Service (STS) to get call credentials.  https://github.com/envoyproxy/envoy/blob/master/api/envoy/config/core/v3/grpc_service.proto#L132

[2020-11-13 00:37] hamdiallam opened #14007 "Interval Latched Histograms"
Histogram: Support flushing histograms on /stats instead of on a timer

From the documentation : "_The output for each quantile will be in the form of (interval,cumulative) where interval value represents the summary since last flush interval and cumulative value represents the summary since the start of Envoy instance_"

The cumulative metrics doesn't do a good job in reflecting the current laten

[2020-11-13 00:45] htuch commented on #3458
Yes, protodoc.py, thanks for taking this on @mk46.

[2020-11-13 00:48] htuch commented on #13978
@mattklein123 we don't run Lua so that's not an option, so this needs to be a C++ filter. The question is whether this is going to be found useful by anyone else or we should maintain this ourselves.

[2020-11-13 00:52] htuch commented on #13994
Seems broken, probably don't even need a runtime flag.

[2020-11-13 01:07] mattklein123 commented on #13978
Dunno. I don't have a strong opinion. I'm fine either way.

[2020-11-13 01:41] lambdai commented on #13995
It's likely you didn't have the correct [statsMatches](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/metrics/v2/stats.proto#config-metrics-v2-statsmatcher) including what you expected.

BTW: 1.10 is an ancient version and it has been EOL for more than 6 months.

[2020-11-13 02:28] NonStatic2014 commented on #13790
After debugging into the network setup, it was due to the access log was dropped by our logging system.

[2020-11-13 02:28] #13790 closed

[2020-11-13 04:27] ysawa0 commented on #13233
Hey @phlax, didn't realize you posted it here. I updated the site to now run against Envoy binaries with three different versions supported (1.16, 1.14, 1.12).

[2020-11-13 06:02] NonStatic2014 opened #14008 "When will envoy return "100-continue" to the client and write it into access log?"
In our production environment, we recently noticed there are some access log record showing envoy return `RESPONSE_CODE:100` to the client. But from client side, we got confirmed they never send any `Expect: 100-continue` header. Also I have tried if I added the `-H "Expect: 100-continue"` in the `curl` command with `-v`, I can see the response including a HTTP 100 response code followed by a HTTP

[2020-11-13 07:59] phlax commented on #13233
yep, i still think a static analysis tool could be useful, and was collating related info here

cool, ive pointed a couple people towards it already

[2020-11-13 09:31] mathetake opened #14012 "Wasm: Resolve symbol collisions between (V8, WAVM) and Wasmtime"
Currently, some of Wasmtime's symbols collide with WAVM and V8, therefore we cannot produce "runtime-all-included" Envoy executable due to link time failure. Practically this is not a big issue because users will stick to one runtime and are less likely to use multiple ones at the same time. However, from Envoy developer's perspective, it would be useful if we could produce all-included one. For e

[2020-11-13 09:35] ramaraochavali commented on #14007
I think it is reasonable to add `/stats?flushHistograms` with out disturbing the existing `/stats` endpoint.

@mattklein123 WDYT?

[2020-11-13 09:48] derekargueta commented on #14001
I don't think this a bug, handling errors from the auth service service is either fail-open or fail-closed (default).
https://github.com/envoyproxy/envoy/blob/2a252964ecd5e790aaac3a4d08d43bd3cad4b6c8/source/extensions/filters/http/ext_authz/ext_authz.cc#L292-L307

Proxying an auth service error to the client may just be a feature request. You can set the error status code with [`status_on_error`](

[2020-11-13 10:00] RafalJachimczyk opened #14013 "Dynamically overriding rate limit with data from headers and dynamic metadata"
**Title**: Dynamically overriding rate limit with headers and dynamic metadata

**Description**:

Hello!

Apologies in advance if this is something trivial. We are spiking use of Envoy to replace our in-house api-management solution.

We're trying to make use of `ExtAuthz` filter for api key validation and `ratelimit` filter for limiting. The `ratelimit` should make use of information returned by

[2020-11-13 10:32] jheaff1 commented on #13831
I ran envoy in GDB, invoked the blocking issue to occur and then paused execution.

GDB reported that there were 15 threads, here is the bracktrace for each thread

[code]

[2020-11-13 13:47] jaegchoi commented on #14006
Hey, thanks for responding. Yeah I saw the sts_service option, but it looks like that is for token exchange only, while the token I am trying to get is through the Client Credentials grant. So at this moment I guess this isn't possible?

[2020-11-13 14:49] mpuncel commented on #14000
I encountered another one of these. Any tips for further investigation would be appreciated. It looks like from the code that it's using the standard gRPC subscription stuff which should be pretty battle tested, so that makes me wonder if a secret update callback was missed somehow

[2020-11-13 16:31] NomadXD commented on #13877
Hi , I have just one more question regarding the upgrade mode for web sockets. (Sorry if i'm spamming the thread with tons of questions 😅)

So the access logging (`envoy.access_loggers.http_grpc`) is applied for every http connection when i configure it in the http connection manager config. **But for web sockets since the connection stays open , the access logging filter is not applied per web so

[2020-11-13 18:01] chradcliffe opened #14018 "Poor DNS cache performance with large number of unique domains"
*Description*:
We are using Envoy as a dynamic forward proxy and are looking to connect upstream to a large number of hosts at unique domains (>> 100k).

We ran across performance issues in the implementation of the DNS cache when scaling to >40k hosts.

The primary issue is that both the DNS cache implementation and the dynamic forward proxy implementation each create a new copy of the entire cac

[2020-11-13 18:07] NomadXD opened #14019 "Send data to envoy using gRPC and store it globally"
Title: Send data to envoy using gRPC and store it globally

Description:

I want to send data to envoy through a gRPC connection from an external gRPC client and save data in envoy in a global scope so that any filter can use these data. Envoy does not know when the data will be sent.

So will this be possible with current implementation of Envoy ?

The following image shows what I need exactly.
h

[2020-11-13 18:26] hamdiallam commented on #14007
I think here we'd want to expand on the Bootstrap config? Something like `stats_flush_on_endpoint` so that envoy does not setup a timer at all to flush the histograms and instead triggers the flush on /stats? The endpoints can remain the same

[2020-11-13 18:49] #13947 closed

[2020-11-13 18:50] #13781 closed

[2020-11-13 19:03] htuch commented on #6909
I'm wondering if this kind of functionality would be best homed out of proxy, perhaps in something like https://github.com/envoyproxy/xds-relay?

[2020-11-13 19:04] htuch commented on #8416
Assigning to @adisuissa who is working on this.

[2020-11-13 19:06] htuch commented on #8421
I think this is obsoleted by https://github.com/envoyproxy/envoy/issues/10776.

[2020-11-13 19:06] #8421 closed

[2020-11-13 19:08] htuch commented on #9634
@alyssawilk is there something we still need here? Trying to figure out what we want out of tooling as we move to the minor/patch versioning policy. CC @adisuissa

[2020-11-13 19:09] htuch commented on #8491
I think the v3 API structure has largely obsoleted the need for this. We have clear inter-package relationships and given the coarse grained nature of dependencies now operating at package level, Bazel cycles appear the moment that these relationships are violated. Will close this out as a result.

[2020-11-13 19:09] #8491 closed

[2020-11-13 20:44] qudongfang opened #14022 "Error message could be better when TLS cert is not matched with the private key"
*Title*: Error message could be better when TLS cert is not matched with the private key

*Description*:

The error message is

when we configure with a mismatched pair of TLS cert and private key.

It would be nice to have the internal OpenSSL internal error which helps the user understand what's going on.
The error message could be something like this:

*Repro steps*:

I had a test case in this

[2020-11-13 21:23] #13370 closed

[2020-11-13 21:23] #13663 closed

[2020-11-13 22:01] antoniovicente commented on #14022
cc @ggreenway @PiotrSikora

[2020-11-13 22:23] mattklein123 commented on #14018
In general I wouldn't assume the implementation has to be the way that it is. Definitely open to perf improvements. Do you want to suggest some concrete changes?

I don't recall the history of why I implemented it like this, but I'm guessing with some thought it could be merged into a single structure and accessed via locking.

This part I find surprising. I believe the implementation is using map

[2020-11-13 22:38] mattklein123 commented on #13965
cc @lizan @qiwzhang @euroelessar

[2020-11-13 22:40] mattklein123 commented on #13981
cc @alyssawilk I think this has come up multiple times. I'm not sure if we are tracking all of these requests in some holistic way.

[2020-11-13 22:43] mattklein123 commented on #13986
I think this is reasonable. In the past we have done this by allowing a struct to be contained within an Any. cc @envoyproxy/api-shepherds

[2020-11-13 22:44] mattklein123 commented on #14000
cc @lizan @lambdai I know we have a bunch of outstanding issues around SDS init. Is this one already known/tracked?

[2020-11-13 22:47] mattklein123 commented on #14007
Sure this sounds reasonable to me.

[2020-11-13 22:48] mattklein123 commented on #14008
cc @alyssawilk

[2020-11-13 22:56] mattklein123 commented on #961
This is in progress and covered by Salvo and various design documents. Closing this and we can track elsewhere.

[2020-11-13 22:56] #961 closed

[2020-11-13 23:05] #13994 closed

[2020-11-14 00:37] chradcliffe commented on #14018
In our use case, we expect frequent cache updates, which makes maintaining a global map with locking less attractive. For us, it seems to make sense to have each worker thread maintain their own local cache and receive updates from the main thread. This adds a bit of complexity since each worker would have to manage its own cache expiry (and there would be some memory overhead for the additional m

[2020-11-14 00:58] mattklein123 commented on #14018
The downside of this is you will multiply your memory usage by the number of workers which for a large cache seems not great. (I suppose you could evict things faster from the workers but it still seems sub-optimal).

In paging back in this code, I think I was mostly trying to avoid locking, but I'm not sure that is the best design choice given your use case. I think if you had a RW lock on the ma

[2020-11-14 02:09] smwyzi commented on #13796
i met the same problem, @headshot289 @mattklein123

[2020-11-14 04:28] aakatev commented on #13796
same error. do you guys have any advice?

[2020-11-14 05:58] aakatev commented on #13796
Just tried to build it on Linux machine and it works fine. The issue persists on Mac Docker host on all the releases including 1.14-1.16.

[2020-11-14 06:56] smwyzi commented on #13796
my docker version is 1.19, here is docker info output:
`
docker info
Client:
 Debug Mode: false
 Plugins:
  scan: Docker Scan (Docker Inc., v0.3.4)

Server:
 Containers: 24
  Running: 0
  Paused: 0
  Stopped: 24
 Images: 67
 Server Version: 19.03.13
 Storage Driver: overlay2
  Backing Filesystem: extfs
  Supports d_type: true
  Native Overlay Diff: true
 Logging Driver: json-file
 Cgroup Driver: c

[2020-11-14 09:36] phlax commented on #13992
quoting @antoniovicente on slack channel:

[2020-11-14 10:52] yanniszark commented on #14001
@derekargueta the documentation for [status_on_error](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/ext_authz/v2/ext_authz.proto) says:

However, this is not the case. If I understand correctly, filter == Envoy and authorization server == my http authservice. In this case, there is no network error between them, but something went wrong in the authservice.

In addition, whe

[2020-11-14 11:35] gontard opened #14026 "Probable memory leak with JWT authentication with fetched public JWKS"
*Title*: *Probable memory leak with JWT authentication with fetched public JWKS*

*Description*:
We have recently setup [JWT authentication](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/jwt_authn/v3/config.proto) and since we have observed that the allocated memory (`memory_allocated`) was increasing _lineary_. The growth is slow, ~5Mb per day, but still.
May be there

[2020-11-14 16:44] rkbalgi commented on #13992
Closing as this is not possible at the moment. Thanks guys.

[2020-11-14 16:44] #13992 closed

[2020-11-15 00:25] kryzthov-stripe commented on #13948
My limited understanding of what happens is that Envoy's H/2 codec receives an invalid frame callback on `onInvalidFrame` with error code `NGHTTP2_ERR_REFUSED_STREAM` in:
https://github.com/envoyproxy/envoy/blob/e9d85da91fcc504265b0cded8b4df101bc35603c/source/common/http/http2/codec_impl.cc#L894-L920

This error code is not handled specifically, leading Envoy to return `NGHTTP2_ERR_CALLBACK_FAILUR

[2020-11-15 01:36] PiotrSikora opened #14027 "Enable Wasm with V8 runtime on CI for both Windows and Linux/arm64."
Enable Wasm with V8 runtime on CI for both Windows and Linux/arm64.

cc @lizan

[2020-11-15 01:36] PiotrSikora commented on #13806
See: #13939 and #13940.

[2020-11-15 01:37] PiotrSikora commented on #9733
This is already fixed.

[2020-11-15 01:37] #9733 closed

[2020-11-15 04:37] euroelessar commented on #13965
Is it a standard behavior? (looks like browsers/http libraries in general treat `+` as space, but I can't find any rfc/spec which would specify this behavior.
Any preference - if we should unconditionally treat `+` as space or introduce additional option to never decode query/path arguments and allow server to deal with it?

Also, it opens another question - it looks like Envoy in general doesn't

[2020-11-15 05:58] ramaraochavali commented on #14007
Ah. Sorry I did not realise that you only wanted stats flush on admin access. Yeah. Bootstrap change makes sense to me

[2020-11-15 20:07] htuch commented on #14006
The other possibility is using a metadata credentials plugin, https://github.com/envoyproxy/envoy/blob/master/api/envoy/config/core/v3/grpc_service.proto#L200, to perform the call and then populating metadata (which is basically HTTP/2 headers) with the values where the access token is expected. Lua is not supported today fo metadata credentials plugins.

[2020-11-15 20:26] htuch commented on #13986
Yes, Struct-in-Any is the flexible arrangement here, and the ask makes sense, but I'd like to better understand what is proposed. For Envoy extensions, it makes sense to have Any as the baseline as the extensions necessarily have the proto descriptors linked in for configuration. How would we provide descriptors to Envoy in this use case? Would there be some explicit mechanism for supply descripto

[2020-11-16 01:02] nic-chen opened #14030 "Lua: in Lua filter, should require one of `inline_code` and `source_codes` , but not just require `inline_code`"
Hi, Community

For reusing codes, I am used to writing the code in a file and referencing it through `source_codes`:

[code]
But it cause an error

[code]

To avoid this error, I had to add an empty function in `inline_code`

[code]

So, I think it should require one of `inline_code` and `source_codes` , but not just require `inline_code`.

What do you think? Thanks.

[2020-11-16 01:11] nic-chen commented on #13791
Hi, @dio

I submitted a discuss issue about Lua filter. Please have a look when you have time #14030. Thanks!

[2020-11-16 01:53] smwyzi commented on #13796
i have to install virtualbox in my mac, then install ubuntu in virtualbox, then install docker in ubuntu, finally, build envoy in docker in ubuntu in virtualbox in mac ^ω^

[2020-11-16 02:16] aakatev commented on #13796
Interesting.

I wonder if there is some known and undocumented (or missed by me) reason why docker builds on mac hosts are failing.

[2020-11-16 02:27] smwyzi commented on #13796
it seems like that envoy developpers do not use Mac， or this problem can't apeer

[2020-11-16 04:19] bettafish15 opened #14032 "envoy as a layer 2 proxy with downstream from HAproxy"
I have a HAproxy to route http2 grpc to server. But because grpc-web needs envoy so i configured envoy as a small reverse proxy with docker in server . HAproxy will reverse https connection to envoy which envoy will tls terminate it. But it got errors following:
[code]
My envoy yml config:
[code]
any ideas what happened?

[2020-11-16 07:14] cre8ivejp opened #14033 "Invalid value Invalid type URL on TLS implementation"
Hi

I am trying to migrate my envoy settings from API V2 to V3.
I have followed the example on this [page](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/ssl#example-configuration) to set the TLS, but I am getting this `invalid value Invalid type URL` error.

I am no sure what exactly is wrong. If I remove the TLS settings from the cluster settings, the same error shows i

[2020-11-16 08:12] dio commented on #14030
cc. @wbpcode

[2020-11-16 09:31] NomadXD commented on #13877
@mattklein123 @alyssawilk As matt said I am trying to set up a custom header and use that header to send the web socket frames to an external rate limit service using the global rate limit filter. (See the upgrade filter chain).

But only the initial upgrade request hits the global rate limit filter. The web socket frames contain the custom header `"via: sample-filter-upgrade"` and I have configur

[2020-11-16 11:33] #13998 closed

[2020-11-16 12:21] xring commented on #4724
@kenju
[code]
for each chunk from `handle:bodyChunks()`, read from index to len, why should index update to `index + len` ? per my understanding index should always be 0, any ref about this?

[2020-11-16 14:03] alyssawilk commented on #9634
AFIK we still want folks to incrementally migrate off deprecated config, so make old config fields warn-by-default then fatal-by-default in-envoy, or we'll reintroduce the problem we had years back, which is that people don't migrate until we remove old fields, and only then find bugs.

Now that we have all the fancy proto introspection code I think we just want to be able to annotate the protos f

[2020-11-16 14:12] alyssawilk commented on #13877
Regarding access logging, I think if you want per-WebSocket logging you're going to want to include that in  your filter.  Both HTTP and TCP proxy sessions log relevant information per-stream, and there's nothing saying your filter (which is doing the framing) couldn't determine the relevant loggers and logger->log(per-WebSocket info) on each frame.

[2020-11-16 14:54] alyssawilk commented on #14008
My intuition was that 100-followed-by-200 would result in a 200, and 100 followed by disconnect would result in the 100 being logged, and looks correct according to a quick regression test.   I wonder if you have an upstream sending unexpected 100s, and your client is disconnecting?

[2020-11-16 15:25] derekmauro commented on #13973
If I recall correctly, Abseil also ran into this problem. I think the solution was to pass `--copt=-fsanitize-link-c++-runtime --linkopt=-fsanitize-link-c++-runtime` to Bazel in the sanitizer build.

[2020-11-16 15:50] chradcliffe commented on #14018
Seems like that's a good minimal change -- if we find there's a lot of lock contention in our use case, we can always introduce a thread-local cache on the filter side of things.

This is an important change for us, so I'm going to take a preliminary pass at what you suggested this week. Feel free to assign this issue to me.

[2020-11-16 16:16] Brunomachadob commented on #11532
I have created this issue a while ago pointing the same problem: https://github.com/envoyproxy/envoy/issues/13774
I guess I can close that one if you're moving forward with this one here now.
It will be much better for me (and probably more people) than creating a C++ extension for this.

[2020-11-16 16:16] #13774 closed

[2020-11-16 16:18] Brunomachadob commented on #13774
Closing this one in favor of the other issue that I linked here.

[2020-11-16 16:28] yanavlasov commented on #13948
I think you are correct in your assessment. According to [RFC](https://tools.ietf.org/html/rfc7540#section-5.1.2) exceeding the limit of concurrent streams must result in stream level error, not connection level error. The change you are suggesting should fix the issue with connection closure. It will however not address the issue of the race condition in enforcing the setting.

[2020-11-16 16:40] mhoran commented on #13965
The `URI` object in particular behaves this way; when leveraging `#searchParams.append(...)`, spaces will be replaced with `+`. It seems this behavior is documented in [RFC 1866](https://tools.ietf.org/html/rfc1866#section-8.2.1) (HTML 2.0) and the behavior has persisted ever since. I tried encoding the space as `%20` before passing to `#searchParams.append` but unfortunately that results in doubl

[2020-11-16 16:55] yanavlasov commented on #13831
Ok thanks. Is envoy concurrency set to 4? I saw only 4 I/O threads and none of them were hanging in the `recv`. Hmm, this does not confirm my theory.

[2020-11-16 17:20] #14022 closed

[2020-11-16 17:27] rojkov commented on #13973
@derekmauro Thank you! It looks like in our case it's enough to enforce linking with libc++ instead of libstdc++ when sanitizers are enabled. I'll submit a patch to Envoy.

[2020-11-16 17:35] mattklein123 commented on #14018
OK sounds good. I can potentially work on it also if you run into issues but will assign to you for now.

[2020-11-16 17:46] NonStatic2014 commented on #14008
We don't see any 100 from upstream (an istio in kubernetes cluster) logs.

"100 followed by disconnect": do you mean envoy received all headers but not start receiving body and then client disconnected somehow? In this case shouldn't I expect response code 0 with a DC flag?

[2020-11-16 17:59] alyssawilk commented on #14008
if an upstream sends 100-continue, and Envoy forwards it on, then the client disconnects, the 100 goes to the access logs.

I don't know how 100 could end up in your access logs if neither Envoy nor your upstream is sending 100s, and AFIK Envoy only sends 100s when prompted, so I suspect either your client is occasionally sending expect 100-continue or your upstream is occasionally sending 100s.

[2020-11-16 18:35] nezdolik opened #14044 "Consistently use make_shared, make_unique utilities to avoid potential memory leaks"
Currently in code there is no consistent strategy for creating new objects wrapped into smart pointers. Is it recommended to use make_shared, make_unique utils to gracefully handle exceptions upon object construction: https://en.cppreference.com/w/cpp/memory/shared_ptr/make_shared
https://en.cppreference.com/w/cpp/memory/unique_ptr/make_unique

Example of code to be fixed:  https://github.com/envo

[2020-11-16 18:45] qiwzhang commented on #14026
I just double checked Jwks cache code, it is using unique_ptr,  it is difficult to have memory leak.   Could you help to do following tests:
* turn on/off jwt_authn filter to make sure the leak is from that filter.
* use inline_jwks, instead of remote jwks
* remove `allow_missing` to see if its implementation may have leak.  Its implementation just changed recently, make sure to get the latest Env

[2020-11-16 18:50] mpuncel commented on #14000
I think this may have been an issue on the SDS server side after all, closing the issue, apologies for the noise!

[2020-11-16 18:50] #14000 closed

[2020-11-16 18:54] chintan-mishra commented on #13221
As mentioned earlier, I started the container after deleting the `listener_https` in the attached Envoy YAML config.

Yes. For most parts, Podman is a drop in replacement for Docker

Here is the output of `whoami` command
[code]

[code]

[2020-11-16 19:08] phlax commented on #13221
so its showing symlinks - can you do `ls -lh` to the actual files

[2020-11-16 19:27] #10422 closed

[2020-11-16 19:46] mattrobenolt opened #14045 "feature: Cluster level HTTP health check port setting"
*Description*:
There's currently a configuration option within [config.endpoint.v3.Endpoint.HealthCheckConfig](https://www.envoyproxy.io/docs/envoy/v1.16.0/api-v3/config/endpoint/v3/endpoint_components.proto.html) for overriding the `port_value`.

The issue with this, or rather, the inconvenience, is that this is configurable per-endpoint. Ideally, we'd have the ability to configure this also at t

[2020-11-16 19:57] tbarrella opened #14047 "(ci) CodeQL-Build is failing in PR tests"
*Title*: CodeQL-Build is failing in PR tests

*Description*: Tests seem to be failing for PRs with failures like [this](https://github.com/envoyproxy/envoy/pull/14025/checks?check_run_id=1408306295)

Error: The `set-env` command is disabled. Please upgrade to using Environment Files or opt into unsecure command execution by setting the `ACTIONS_ALLOW_UNSECURE_COMMANDS` environment variable to `tru

[2020-11-16 20:11] phlax opened #14048 "Use EC certs for TLS examples"
### description

following up from https://github.com/envoyproxy/envoy/pull/13975#discussion_r524518410 - update examples to use `ec` certs

[2020-11-16 20:11] phlax commented on #14048
/assign phlax

[2020-11-16 20:21] chintan-mishra commented on #13221
Here is the output you requested
[code]

[2020-11-16 20:33] phlax commented on #13221
hmm. not sure - it seems like `cert.pem` is readable so that doesnt seem to be the trouble

[2020-11-16 20:38] phlax commented on #13221
its not ideal but how about trying with the non-symlinked path and seeing if that works ?

[2020-11-16 20:59] alyssawilk commented on #13981
By this one do you mean protocol introspection, or for CONNECT specifically?  I hadn't seen either so no tracking that I know of.  I agree that while an HTTP filter inspecting data would be easiest, upstream TCP filters modeled off of the TLS inspector would be cleanest.

[2020-11-16 22:36] tydurd opened #14049 "upstream_cx_active skyrocketing"
*Title*: *Envoy 1:12.2 within an AKS cluster randomly generates high number of _upstream_cx_active_  producing _upstream_cx_destroy_with_active_rq_ and _upstream_rq_pending_failure_eject_ with traffic mirroring*

*Description*:
I'm running Envoy 1:12.2 as a sidecar within an AKS cluster and I'm trying to mirror traffic to another pod within the same cluster. The mirrored pod is behind an headless

[2020-11-16 23:16] #13681 closed

[2020-11-17 00:04] #14047 closed

[2020-11-17 00:24] jmarantz opened #14051 "stats: prevent disabling some stats"
*Description*:

*Relevant Links*:

[2020-11-17 00:26] jmarantz commented on #14051
https://github.com/envoyproxy/envoy/pull/13684#issuecomment-728461466 is an example of a case where it would be convenient to have stats that can be relied on.

[2020-11-17 01:01] htuch commented on #9634
I see, we basically need to make this script operates via explicit proto annotation update. I'm assigning this @adisuissa's way, since he'll be working in these tools as part of the minor version annotations.

[2020-11-17 03:18] feimeng1029 opened #14057 "open /dev/shm some files error：permission denied"
if /dev/shm/ directory has some dirs not files and these dirs have 750 permissions，pilot-agent will error and then will delete
 config file envoy-recv0.yaml.It will make envoy not work.

[2020-11-17 04:29] eduser25 opened #14060 "NACK RDS rejections for a cluster that seems available in CDS"
*Title*: Seeing NACK RDS rejections for a cluster that seems available in CDS

*Description*:
Using `envoyproxy/envoy-alpine:v1.15.0`
We are seeing NACK rejections from RDS in certain circumstances when populating both CDS and RDS to reach a remote cluster, with error looking like `route: unknown weighted cluster '<server/server>'`, from the client cluster, uwing `validate_clusters` in RDS config.

[2020-11-17 05:25] lizan commented on #14027
For arm64 the issue is we don't have emscripten, though we can enable wasm without emscripten tests, WDYT?

[2020-11-17 05:28] PiotrSikora commented on #14027
Sounds good, majority of tests have both C++ and Rust versions.

[2020-11-17 08:59] jheaff1 commented on #13831
I have not set the concurrency explicitly, therefore envoy will use as many threads as my PC has available, which is indeed 4

[2020-11-17 11:58] NomadXD commented on #13877
@alyssawilk Thanks a lot. I went through the code and still couldn't figure it out how to include access logger in my filter and call that logger_->log() method.

[2020-11-17 13:02] chintan-mishra commented on #13221
[code]

I got called into some work yesterday. Here is the output after switching from symlinks to the source files