[2022-11-03 17:25] alyssawilk opened #23823 "allow compiling out the admin code"
Largely for envoy mobile, where it cuts down on code footprint, but also solves some cross platform issues with the profiler code and tcmalloc deps

cc @envoyproxy/envoy-mobile-maintainers

[2022-11-03 17:45] gabrielgiussi commented on #13673
@Brunomachadob
I asked for a similar thing recently since I didn't see this ticket and matt provided me two alternatives: virtual_clusters and stat_prefix, both work in a similar way and provide the same stats but they are configured at different places (I don't know in which cases one is better than the other).
https://github.com/envoyproxy/envoy/issues/23642

[2022-11-03 17:48] gabrielgiussi commented on #23642
@mattklein123 why the per-route feature was added if virtual_clusters was already implemented?
I can't understand in which case I should use one or the other, I'm about to use virtual_clusters but it wasn't an educated choice, I just picked one.

[2022-11-03 17:53] KBaichoo commented on #23774
I agree, the documentation could be improved in this area. If you look at the protos for example you'd see:
[code]

In listener.proto, it mentions the specific buffer this configures.

As there's already confusion about this buffer, I think adding another general purpose buffer knob will
push the complexity to even more users. Right now our current approach works well transparently which is great

[2022-11-03 18:36] KBaichoo commented on #23739
At the end of the day these are just layering tcmalloc measurements which can be found: https://gperftools.github.io/gperftools/tcmalloc.html , other tcmalloc documentation

You can chase the layers in source/common/memory/stats.cc and source/server/server.cc

[code]

My hunch is you have a lot of memory unmapped.

[2022-11-03 18:38] kyessenov commented on #22583
Seems like it's in tcp pool (filtered to connection):
[code]

[2022-11-03 19:22] #23552 closed

[2022-11-03 19:24] lizan commented on #23773
+1, or we can shorten tag CI runs to publish + verify, that's what Envoy Gateway does https://github.com/envoyproxy/gateway/blob/main/.github/workflows/release.yaml#L28

[2022-11-03 20:08] nareddyt commented on #23774
I see, I did not realize other filters already had configs for it. I thought this was a one-off solution for the transcoder.

Also a great point. I like this idea of changing the API to allow setting minimum buffer levels.

OK, with these two points I am happy with your solution 2 as well.

[2022-11-03 20:17] alyssawilk commented on #22583
Looking at this one thing that I notice is each upstream connection seems to trigger a new inbound connection.  @howardjohn can you talk me through your data flow here?  My integration tests used original_dst with a port override so the traffic didn't go through the Envoy twice so I wonder if that's why my test case didn't repro and there's some reentrant style bug.

[2022-11-03 20:22] alyssawilk commented on #23786
Definitely we need to be able to handle adding headers and then selecting a route and turning up and down tracing.
For routes, I believe  the canonical way to do this for routes is to have an early filter which tweaks the headers, then clear the route cache at the HCM* which will trigger eventually reselecting the route.  if this doesn't work for tracing I think it'd be easier to adapt route resel

[2022-11-03 20:27] howardjohn commented on #22583
I am not quite sure I follow. Wouldn't that mean there is a loop?

The request flow should just be `app -> outbound sidecar -> inbound sidecar -> other app`. The test is basically sending a bunch of different requests between client+server pairs. Looking more closely though, there is 1 pair that can be both the client+server - `log1.txt`. Note I am not sure the crash happens when calling itself, j

[2022-11-03 20:27] #23653 closed

[2022-11-03 20:31] tyxia commented on #23278
PR https://github.com/envoyproxy/envoy/pull/23366 will address this issue.
We can close this issue as FIXED once that PR is merged.

[2022-11-03 20:58] phlax commented on #23353
cc @lizan @plallin

not sure if this is something we prioritize - im aware the getenvoy tetrate builds provided this and that is no longer the case

as i have said elsewhere my main concern is that we multiply the number of binaries/builds that we publish but perhaps this is something we should look at

[2022-11-03 21:36] mattklein123 commented on #23642
I can't understand in which case I should use one or the other, I'm about to use virtual_clusters but it wasn't an educated choice, I just picked one.

I can't remember the exact rationale. @ramaraochavali can provide more info.

[2022-11-03 21:52] ravenblackx commented on #23774
Strongly agree that setDecoderBufferLimit should be changed to grow-only to prevent accidental (and again surprising) conflict between filter configs. I can't think of a situation where reducing the buffer max would be a requirement for a filter.

(Though I'm not sure about the name, ensure means more like assert rather than change. increaseDecoderBufferLimitToAtLeast(value), maybe?)

[2022-11-03 21:52] justinyjsong opened #23827 "Serving static files to url mapping using Envoy"
*Title*: *serve static files to url using Envoy*

*Description*:
I am currently using gRPC server with Envoy in golang. Is there any way to serve http files to specific url using Envoy?

Current workaround is using `net/http` to set up separate server to serve and listen using different port that is different from gRPC server, but was wondering if there is a simpler way to resolve this without set

[2022-11-03 22:07] mattklein123 commented on #23786
What @alyssawilk says is true, though I think @wbpcode is saying that in some cases this can require 2 route table searches which might be expensive. I think what is being suggested is some type of modification mechanism very early in the request cycle before any filter processing has happened or any route selection has been made.

I'm not clear though on how this would work. @wbpcode can you prop

[2022-11-03 22:12] #23604 closed

[2022-11-04 01:00] yanjunxiang-google commented on #20086
FYI, I am looking at this now, will send out PR soon.

[2022-11-04 01:29] wbpcode commented on #23786
Exactly, that's what I want.

And, especially, the tracing system could benefit from it. For example, if an external request is traced by the skywalking APM, and zinkin is used in our inner gateway/mesh, we can covert the `sw8` (header for skywalking tracing) to the `x-b3*` (headers for zipkin) before `traceRequest` is called to avoid generating new trace id or making a different tracing decision.

[2022-11-04 01:35] wbpcode commented on #23786
I think it would an optional extension to the HCM configuration. This extension will be applied before routing/tracing.

There is a similar extension for HCM for now, `original_ip_detection`. I think this new extension will have similar design.

[2022-11-04 02:38] YvesZHI opened #23830 "How to make a direct response with RBAC"
I need to set a RBAC rule in my Envoy http-config: Only several segments of IPs have the right to access my cluster, others would be denied. Here is the part of my config file:
[code]
As you see, now only `44.33.55.22/16` can access my http cluster. It works as exptected.
However, for the others, who are not `44.33.55.22/16`, they will get such a response with the status code `403` on their browse

[2022-11-04 03:05] AtticusLv commented on #23650
Get it! That makes sense my sample failed to re-route to other service. Thanks for your patient help!

BTW, due to outbound listener mechanism, same port is used to route the request, how can we re-route the request to a differenct port in outbound filters?

[2022-11-04 03:26] wbpcode commented on #23650
May be `ignore_port_in_host_matching` or `strip_any_host_port` could help.

[2022-11-04 03:43] YvesZHI commented on #23755
@wbpcode  Dude, I don't think this is what I need. If you know about Nginx, you could check the `alias` configuration, which allows Nginx to respond a static resource to clients, such as a html file directly. However, `direct_response` with `body`, it means that do the response with HTTP protocol, whose body is the static resource. In this case, you would see the http code on the browser of client

[2022-11-04 04:31] sbanala12 commented on #19315
@haitch  I bit confuse with [sni-dynamic-forward-proxy-filter]  file because I do not see any prefix or path to route the request .  can you please brief how this SNI -dynamic forward proxy  works ?

[2022-11-04 07:59] soulxu commented on #23827
maybe this can help you https://github.com/envoyproxy/envoy/issues/23755

[2022-11-04 08:03] github-actions[bot] opened #23833 "Newer release available `com_github_msgpack_msgpack_c`: cpp-4.1.3 (current: cpp-3.3.0)"
Package Name: com_github_msgpack_msgpack_c@3.3.0
Current Version: cpp-3.3.0@2020-06-05
Available Version: cpp-4.1.3@2022-11-02
Upstream releases: https://github.com/msgpack/msgpack-c/releases

[2022-11-04 08:03] #23006 closed

[2022-11-04 08:53] phlax commented on #23755
iiuc the problem - you are not getting the `Content-Type` header set so the browser doesnt know the mime type

as the docs say you can add a header manually - but be aware that this functionality is at the edge of what Envoy provides - serving static files is not currently one of its features

[2022-11-04 10:07] YvesZHI commented on #23830
https://github.com/envoyproxy/envoy/issues/14203

[2022-11-04 10:07] #23830 closed

[2022-11-04 10:58] truehhart opened #23839 "How would one return CORS headers along with a 404 via Envoy?"
*Title*: *How would one return CORS headers along with a 404 via Envoy?*

*Description*:
We are using Envoy as our API Gateway. Every filter chain only has one virtual_host under its route_config and when the traffic gets there, we are using routes to figure out where to send traffic next.

If a route has not been defined under the configuration - a 404 will automatically be returned by Envoy (sin

[2022-11-04 11:28] Brunomachadob commented on #13673
Hey @gabrielgiussi, thanks for the heads up.

Yeah, I actually use the `virtual_clusters` for a couple of use cases on smaller proxies, but I was avoiding adding it to our main API Gateway with hundreds of routes and thousands of requests per second.

Specially due to how you need to match the path again on the `virtual_cluster` and the note on "not recommend adding for every route".

As far as I

[2022-11-04 11:28] kihaloul commented on #23283
Hello,

I got two cpuprofiles with a release build, one from v1.17.3 and one from 1.23.1. The test parameters were the same as in the initial comment. However this time I built the debug version of envoy, with the command:
./ci/run_envoy_docker.sh 'BAZEL_BUILD_EXTRA_OPTIONS="--define tcmalloc=gperftools" ./ci/do_ci.sh bazel.release.server_only'

The results of the test were:

<html xmlns:v="urn:sc

[2022-11-04 12:22] edubonifs commented on #23753
Hi sorry, by rejected I mean that the h2 header will not appear with the conditional form: "%REQ(x-h1)%%REQ(x-h3?x-h2)%"

But seeing that you managed to make it work, let me comment it in Istio in case this is an Istio problem

[2022-11-04 14:33] ravenblackx commented on #23821
What sort of environment is it that exhibits this failure? (Thinking maybe an NTFS filesystem on Linux?)

I would suggest this could be fixed by having the fallback behavior create a named temporary file (unfortunately), keeping track of that file in the AsyncFileContext object, moving it in lieu of linkat or deleting it during close. It should maybe be a distinct AsyncFileContext (though perhaps

[2022-11-04 14:36] jwendell commented on #23821
The env is a docker container running in a k8s cluster probably running in an old kernel.

[2022-11-04 14:45] mattklein123 commented on #23786
At a high level this makes sense to me.

[2022-11-04 16:00] gabriel9895 opened #23843 "Overload manager doesn't exclude probes from stop_accepting_* actions"
*Title*: *Overload manager should exclude probes from stop_accept_* actions*

*Description*:
We are recently testing overload manager with istio. Our scenario is to overload the ingressgateway heap_size configured via sending requests from large number of concurrent connections, then we see stop_accepting_connections/requests actions triggered and new requests will fail.
But we found stop_acceptin

[2022-11-04 16:46] renuka-fernando opened #23844 "Support for Month, Year rate limit units for business subscriptions"
*Title*: *Support for Month, Year rate limit units for business subscriptions*

*Description*:
It is possible to have business cases with per Month, per Year rate limits (for global rate limiting). These rate limit policies are not to protect upstream from attacks like DDoS, but to have some business advantages like a monthly subscription or yearly subscription for a customer to use the upstream.

[2022-11-04 16:46] renuka-fernando commented on #23844
@tyxia

[2022-11-04 16:51] tyxia commented on #23844
/assign @tyxia

[2022-11-04 21:11] tyxia commented on #23844
@renuka-fernando  Let's continue our offline discussion here so that anyone has opinion about this request can chime in and comment.

For us, `month` and `year` unit are too coarse-grained unit and we want to control rate liming more tightly on a more frequent basis.

With that said, I am open to add this in the API for your business need. But out of curiosity: 1) It seems that it will be huge num

[2022-11-04 23:56] gbrail commented on #23652
Thanks for tracking this down! I'm glad to know that it at least works in BUFFERED mode and I agree that it should work the same way in BUFFERED_PARTIAL.

[2022-11-05 00:03] #22858 closed

[2022-11-05 00:03] #23215 closed

[2022-11-05 01:42] zirain commented on #20086
ok, thanks

[2022-11-05 05:24] zengyuxing007 commented on #21513
Ok, it''s a minor change, I will submit a PR

[2022-11-05 05:40] michaelbor commented on #9332
@baojr @snowp is it possible to reopen this issue? Configurable retry backoff is would be very beneficial for our use case.

[2022-11-05 08:03] github-actions[bot] opened #23848 "Newer release available `rules_rust`: 0.12.0 (current: 0.3.1)"
Package Name: rules_rust@0.3.1
Current Version: 0.3.1@2022-04-26
Available Version: 0.12.0@2022-11-04
Upstream releases: https://github.com/bazelbuild/rules_rust/releases

[2022-11-05 08:03] #23467 closed

[2022-11-05 08:48] ramaraochavali commented on #23642
VirtualClusters are VirtualHost level and supports only header matches where as the stat prefix at route level can help to get stats for various match conditions including path/prefix etc. The route stat prefix works on matched route so no additional matching conditions required like Virtual Clusters

[2022-11-05 14:27] renuka-fernando commented on #23844
@tyxia thank you for your comment.

Yes, the traffic to the upstream will be small, and planning to control it with another rate limit policy applied together with this monthly/yearly subscription.

For example:
Route: /weather/v1/location - (10K Per Month + 20 Per Min)

So downstream clients can't use the whole 10K within a short period of time. it is controlled with "20 Per Min", the second rate

[2022-11-06 05:32] toddmgreer opened #23850 "CompressorFilter compresses 206 Partial responses into invalid HTTP"
CompressorFilter compresses 206 Partial responses. The result is not valid HTTP, and has no defined meaning. CompressorFilter should instead forward 206 Partial responses without modification.

[2022-11-06 09:01] #23262 closed

[2022-11-06 09:01] #23303 closed

[2022-11-06 15:39] tyxia commented on #23732
cc @tyxia

I am also having similar issue and discussing it with phlax.

[2022-11-06 16:01] #22906 closed

[2022-11-07 01:48] daixiang0 commented on #23769
@josephjacks @johnousterhout I find it supports gRPC and Envoy already supports gRPC proxy, if there is a benchmark about gRPC + Homa + Envoy, it would be more attractive.

[2022-11-07 02:47] AtticusLv commented on #23650
do you know how to config those parameters in istio?

[2022-11-07 03:23] asaha123 commented on #865
The example repo currently doesn't have a LICENSE so not sure how the code contribution will work @dio advise here when youy get a chance. Of course, can create my own examples.

To summarize, what should the sandbox demonstrate? Are they:

- Static configuration (i.e. considers CDS out of scope) for gRPC service to service communication
   - Will verify if TLS is required for some reason
- Active

[2022-11-07 06:44] kss95 commented on #23745
Hi @KBaichoo/All,
Please let me know if there is any update regarding above query.
Thanks in advance

[2022-11-07 07:49] wbpcode commented on #23650
hmmm，I am not sure, maybe only `EnvoyFilter` could be used to set these configrations by writing a complex patch.

[2022-11-07 09:13] phlax commented on #23850
cc @KBaichoo

[2022-11-07 09:16] phlax commented on #23843
cc @KBaichoo

[2022-11-07 09:19] phlax commented on #23839
cc @wbpcode @daixiang0

[2022-11-07 09:25] phlax commented on #23797
cc @lizan

[2022-11-07 09:30] phlax commented on #23778
@sbanala12 can you clarify what you are trying to do please - perhaps you could show your Envoy config so far

if i understand correctly - you want the upstream cluster to be determined according to the requested hostname ?

[2022-11-07 10:31] wbpcode commented on #23839
@truehhart So you want add cors headers to the 404 response? right?

As far as I know, cors is only enabled for the requests that will match routes that have a `route` action.

[2022-11-07 11:04] PragyaGpt commented on #23581
@here found similar kind of issue https://github.com/envoyproxy/envoy/issues/11174. Where the EDS response file has been split into three since it has 3 resources. In my case firstly I will be having multiple large number of EDS response and Splitting up the file won’t be possible. Secondly I can not configure filesystem based EDS as my EDS response will be dynamically changing due to change in fr

[2022-11-07 11:27] rohrit opened #23857 "Does QUIC work with UDP proxy?"
*Title*: *Is it possible to use QUIC support in Envoy with a upstream server that handles QUIC datagrams*

*Description*:
It was not clear from the documentation whether this use case is supported or if this works only with HTTP/3. Nevertheless, I tried to see if this works with the configuration shown below and I see the error "error building network filter chain for quic listener: requires exact

[2022-11-07 14:36] jmarantz opened #23862 "Stats::Store should not inherit from Stats::Scope"
I don't believe the "Store is a kind of Scope" inheritance fits the usual OO definitions of what inheritance should be. A Stats::Store object contains state across all the scopes (tls caches, histogram updating); it shouldn't really be a scope itself, IMO. It should *contain* a root scope, as well as the ability to iterate through the other scopes.

It's hard to tease this apart now, and until rec

[2022-11-07 14:46] amthorn commented on #18928
I was asking about the latter. You answered my question, I think changes would be required to a handshaker that already does it's own SNI-based certificate lookup (It is not enabled for certificate bumping).

If i understand correctly, the two options we have are that either:
1) The TLS bumping logic could send SNI to custom handshakers to generate the certificate (But would then need to ignore an

[2022-11-07 14:47] alyssawilk commented on #22583
sorry by loop I meant does the request traverse Envoy twice? It looked to me like in log1 that creating an upstream connection on your envoy resulted in creating a downstream connection for the same envoy (unless I'm misreading?)

[2022-11-07 15:01] alyssawilk opened #23863 "don't run tag extraction checks by default"
https://github.com/envoyproxy/envoy/pull/21397 doubled the queries we run under most integration tests and makes them significantly harder to debug. We should turn this off by default and on for only one of the CI bots.

[2022-11-07 15:11] mattklein123 commented on #23862
Seems fine to change if you have the motivation!

[2022-11-07 15:18] howardjohn commented on #22583
Yes, in `log1.txt` the app can be calling itself. So we have `app -> outbound envoy -> inbound envoy (the same envoy instance!) -> app (the same app!)`.

For the other logs, this shouldn't be happening.

[2022-11-07 15:33] hanem100k opened #23865 "Rate limit does not close connection and forwards via proxy"
*Description*:

I might be missing something here, ( The L7 rate limiter works out of the box, however, this L4 one does not seem to impose any limits. Do I need to add circuit breaking instead of this? )

Current envoy config
[code]

[2022-11-07 15:49] Augustyniak opened #23866 "Add a virtual cluster stat for when a downstream stream termination occurs."
*Description*:
Add a virtual cluster stat that's emitted when a downstream stream is terminated before a given stream (request) completes. This is important from the perspective of Envoy Mobile and mobile clients in general. In mobile environment it a request - an Envoy downstream stream - can be started and terminated soon after (before the stream has a chance to finish) as a result of certain us

[2022-11-07 15:53] tomscarlato commented on #23353
Is there currently a way for users to enable FIPS on envoy without bazel? I'd be glad to change the code on a local fork if that's an option but I don't know where that change would need to happen.

[2022-11-07 16:02] plallin commented on #23353
@tomscarlato In order to be FIPS-compliant, Envoy needs to be compiled with a FIPS-compliant version of BoringSSL. The build tool for Envoy is Bazel and afaik there is no other supported build tool, which means you will have to use Bazel to build Envoy with FIPS compliance. I would be delighted to be wrong.

I have not yet manage to build Envoy offline either, so far

[2022-11-07 16:08] Augustyniak opened #23867 "Revamp `upstream_rq_timeout` virtual cluster stat"
*Description*:
Envoy Mobile does not increment `upstream_rq_timeout` virtual cluster counter when any of the request it perform times out. For the record, the Envoy Mobile library enables the two following types of timeouts: `per_try_timeout` and `per_try_idle_timeout`.

Instead of incrementing `upstream_rq_timeout` stat, every time Envoy Mobile's request times out  `upstream_rx_5xx` and `upstream

[2022-11-07 16:37] rgs1 opened #23868 "redis: enable DNS lookups on redirections by default"
Once #23764 has been fixed and DNS lookups have been used heavily in deployments, it might be a good idea to have it on by default.

[2022-11-07 17:54] haitch commented on #19315
@sbanala12 I am pretty sure you got confused on L4 and L7 proxy, your question is not directly related to this issue itself.

[2022-11-07 18:34] justinyjsong commented on #23827
how do I reroute such that assuming we have three files (a, b, c) under folder named `templates`

so that calling `localhost:8080/templates/` can auto-detect and map all of files from that directory?

[2022-11-07 20:42] irab commented on #21851
I'm keen to have this feature as well. There's a great use case for an outbound edge proxy, adding some protection against malicious code.

Say for example an internal service A needs to access an external service like GitHub. Current practice is to inject a PAT into the container, which can be retrieved by either code execution on the container or privileged access at a node or cluster level. If

[2022-11-07 20:49] #23764 closed

[2022-11-08 00:22] baojr commented on #9332
@michaelbor I'm no longer involved with this project so I unfortunately cannot help.

[2022-11-08 00:41] michaelbor commented on #9332
Thanks, @baojr. I will open a new issue then since I don't see an option to reopen this one. BTW, please let me know if you have by chance any drafts for the code you planned to add for this feature.

[2022-11-08 00:44] lizan commented on #23797
This seems `dwp` command failed with segmentation fault and no error information.

@zonghaishang what if you comment out these two lines? https://github.com/envoyproxy/envoy/blob/main/.bazelrc#L43-L44

[2022-11-08 01:09] soulxu commented on #23827
Envoy doesn't support that, actually, envoy doesn't support static files. Above it is just a workaround, you can return a static file simply.

[2022-11-08 01:53] hobbytp commented on #23843
@caoyukun0430  I think this is an istio ingress gateway issue instead of envoy problem?

From my view, when overload manager stop_accepting_* actions are triggered, the istio ingress gateway readinessProbe would also be disabled, but livenessProbe should still work to avoid the pod is deleted by k8s.

[2022-11-08 02:26] zonghaishang commented on #23797
Thanks for your reply, I'm trying

[2022-11-08 03:05] kyessenov commented on #9023
This is also unfortunately affecting internal listener routing as well. Ideally, we want to derive some x509-based attributes before establishing an internal connection (e.g. compute the principal, prior to re-using a pooled HTTP internal connection).

[2022-11-08 05:01] dio commented on #22996
Thanks, @klarose. Will do check this.

[2022-11-08 05:09] zonghaishang commented on #23797
It works for me, But the debugging speed in vscode is very slow (lldb), which is very strange

![image](https://user-images.githubusercontent.com/15549777/200480189-5deabca6-fe32-411c-ae50-8e1b268a91d3.png)

[2022-11-08 06:12] gbrail commented on #23652
Thanks for sharing this! I was able to reproduce it using a new test in the existing test suite, so now let me think about how to adjust the logic so that this use case works.

[2022-11-08 07:58] #22637 closed

[2022-11-08 08:01] #22963 closed

[2022-11-08 08:04] github-actions[bot] opened #23875 "Newer release available `aspect_bazel_lib`: v1.16.1 (current: v1.15.0)"
Package Name: aspect_bazel_lib@1.15.0
Current Version: v1.15.0@2022-10-27
Available Version: v1.16.1@2022-11-08
Upstream releases: https://github.com/aspect-build/bazel-lib/releases

[2022-11-08 08:04] #23813 closed

[2022-11-08 08:04] github-actions[bot] opened #23876 "Newer release available `com_envoyproxy_protoc_gen_validate`: v0.9.0 (current: v0.6.13)"
Package Name: com_envoyproxy_protoc_gen_validate@0.6.13
Current Version: v0.6.13@2022-10-03
Available Version: v0.9.0@2022-11-07
Upstream releases: https://github.com/bufbuild/protoc-gen-validate/releases

[2022-11-08 08:33] phlax commented on #23857
cc @RyanTheOptimist

[2022-11-08 08:36] phlax commented on #23865
@wbpcode any insight here ?

[2022-11-08 08:38] phlax commented on #23866
cc @jmarantz

[2022-11-08 08:46] phlax commented on #23867
cc @jmarantz

related to #23866

[2022-11-08 08:46] phlax commented on #23868
cc @mattklein123

[2022-11-08 09:32] wbpcode commented on #23865
The network local limiter will block new connection when the token is exhausted.

So, I am not sure what's you mean by `despite local rate limit filter kicking in`.
Does it mean that there still new connections could be created, or just new traffic could be proxied?

[2022-11-08 09:52] truehhart commented on #23839
Hey there,

We basically wanted to make sure that when we are deploying new applications under the same virtual host - we would receive a 404 from a front-end application as opposed to the CORS error if a route wasn’t defined for it in Envoy.
What was happening is that since envoy returned a blank 404 - there was no header information and browsers would treat it as a CORS failure.

@wbpcode I do a

[2022-11-08 09:52] #23839 closed

[2022-11-08 09:53] alphamarket opened #23883 "upstream connect error or disconnect/reset before headers. reset reason: connection termination"
We have deployed the envoy proxy in k8s. This is the output of the pods

[code]

As you can see all the envoy's replicas and the app is in `Running` state, but when we bench mark the `app` using apache AB tool:

[code]
We observe some 503 error responses from the envoy:

[code]

[code]
Although that all pods are active and **every single pod of the `app` can easily handle 1000 requests**, why are

[2022-11-08 10:48] hanem100k commented on #23865
Kicking in I mean that testing with curl, I could actually have the rate limit break the connection:

![image](https://user-images.githubusercontent.com/24683520/200543484-99598817-44d4-4a56-875f-139c2dc30bf2.png)

However, using an HTTP client with keep-alive seems to not respect constraints.

![image](https://user-images.githubusercontent.com/24683520/200544887-fda2a208-810f-4e66-a76a-8cdc824256

[2022-11-08 11:37] wbpcode commented on #23865
@hanem100k When the network local rate limit is used, the limitation is applied to `new connection creation`, rather than `new request creation`.

When a keep-live connection is used, it still just **one** connection, no matter how many requests there are.
And the local rate limit will not be trigged.

[2022-11-08 11:37] siyigao1212 opened #23884 "Json format Access log consume much more CPU than default text format?"
Recently we did some changes to change the envoy access log from default text to json format, but we noticed that there was a
large CPU usage increase after changing, the number of log fields and also the way to get the value. At 5k QPS, the CPU uage of envoy increased from 8% to 15% (8cores), which caused our end-to-end p95 latency increased nearly 5ms. Below are the interfaces. Please help ident

[2022-11-08 12:15] caoyukun0430 commented on #23843
@hobbytp it is a bit vague and could be also related to istio, issue raised. It would be nice to have opinions from both sides.
@KBaichoo would there be any possible improvement that envoy could do to improve the probes so that when overload manager is enabled, probes are excluded from being rejected? Thanks

[2022-11-08 13:07] ameily opened #23885 "uhv: config option to not reject invalid percent-encoded octets"
*Title*: uhv: config option to not reject invalid percent-encoded octets

*Description*:
UHV currently rejects all requests with a `:path` that contains an invalid percent-encoded octet. This is a breaking change so we need a new configuration option that controls this behavior.

[2022-11-08 13:12] ameily opened #23886 "uhv: config option to control path fragment handling"
*Title*: uhv: config option to control path fragment handling

*Description*:
UHV currently accepts and validates the fragment component of the request `:path`. There needs to be a new config option that controls this behavior (accept, reject, strip).

[2022-11-08 13:19] ameily opened #23887 "uhv: determine if slash merging and percent decoding should be independent of path normalization"
*Title*: uhv: determine if slash merging and percent decoding should be independent of path normalization

*Description*:
UHV path normalization performs slash merging and percent decoding, these operations used to be separate and could be toggled independently outside of UHV. This is a breaking change so we need to determine if we should separate these options from path normalization so that user

[2022-11-08 13:19] rgs1 commented on #23868
Pretty sure we should do this, the tricky part might be figuring out the `dns_lookup_family` until we get happy eyeballs support:

https://github.com/envoyproxy/envoy/blob/main/api/envoy/extensions/common/dynamic_forward_proxy/v3/dns_cache.proto#L56

I guess one way would be to have two caches (IPv4 and IPv6), and just try one after the other and then remember what succeeded for that host.

[2022-11-08 13:23] KBaichoo commented on #23843
This is reasonable, we can augment the action more broadly to either allow debug IP /  headers to decide whether the traffic should be rejected if there's some mechanism the probe traffic has to identify it; This would make sense in fully controlled environments or if there's a scrubbing proxy beforehand.

[2022-11-08 13:24] KBaichoo commented on #23843
This is similar to https://github.com/envoyproxy/envoy/issues/20002

cc @nezdolik who might also be interested

[2022-11-08 13:46] untitaker commented on #23651
So I think this is fixed by https://github.com/envoyproxy/envoy/pull/23710

[2022-11-08 13:46] #23651 closed

[2022-11-08 14:07] kdarw opened #23888 "Metrics names in envoyproxy documentation"
*Metrics names in envoyproxy documentation*

*Description*:

I am currently investigating usage of envoyproxy metrics/statistics together with prometheus and Istio.
Envoyproxy has hundreds of metrics (statistics) but the names in the documentation are different to the once that are scraped by prometheus. In prometheus the metrics contain in addition to the documented statistics names different pre

[2022-11-08 14:15] #23865 closed

[2022-11-08 14:53] LithiumSR commented on #23314
Hello @ameily and @yanavlasov
Can this issue be reopened as it still applies?

Thank you

[2022-11-08 15:46] acarlson0000 commented on #23534
After reading around the issue, as well as lots more further debugging - we have identified the issue we were seeing here.

Our proxies were behind an AWS NLB, which was terminating the socket remotely, but the calling proxy did not receive the RST until it attempted to call again - leading to the error seen (ie. broken pipe!)

We have found lots of information relating to this around (such as htt

[2022-11-08 15:46] #23534 closed

[2022-11-08 15:52] RyanTheOptimist commented on #23857
Upstream QUIC support is specifically for use with HTTP/3. The QUIC server may also support QUIC DATAGRAMS, though it is not required to and Envoy will not make use of them. But it is required to support HTTP/3.

I'm not sure about the TLS inspector supports different upstreams based on SNI (@alyssawilk), but the dynamic forward proxy does this https://www.envoyproxy.io/docs/envoy/latest/intro/arc

[2022-11-08 16:20] botengyao opened #23891 "CodeQL tcmalloc build failure clang-11"
*Title*: *CodeQL tcmalloc build failure clang-11*

*Description*:
My recent PR ran into a CodeQL build failure for an external `tcmalloc` package. Looks like it is not related to my changes, but not sure about that. Can someone also help investigate? Thank you!

Other than that, we are using clang-11 to build targets in CodeQL pipeline. Should we upgrade it?

[code]
[optional *Relevant Links*:]
ht

[2022-11-08 19:06] botengyao commented on #23891
Thanks! My today's main merge doesn't work, and looks like this PR is also impacted https://github.com/envoyproxy/envoy/pull/23835

[2022-11-08 19:41] JuniorHsu opened #23901 "constant view of Buffer:Instance or Buffer::OwnedImpl"
*Title*: constant view of `Buffer:Instance` or `Buffer::OwnedImpl`

*Description*:
We have use case to traverse the `Buffer::OwnedImpl` twice but we don't want to copy the buffer since the first traversal is constant operation.

Hence, it is ideal if we're able to traverse the "view" of the buffer at the first time.

To the best of my knowledge we don't have `OwnedImplView` to access the `SliceDeq

[2022-11-08 19:49] kyessenov commented on #9023
@mattklein123 Sorry to resurrect this old thread, but I think there's a fairly simple fix: we can just wait to read data by the chain until `Connected` is raised.  There's a visible side effect that whatever work was done in `onNewConnection` will be done later, with extra latency I suppose. Should I just make this fix and deal with possible downstream effects? Or should we just add another callba

[2022-11-08 20:25] mattklein123 commented on #9023
Sorry I've lost the thread. Can you summarize the issue again and how the fix works and doesn't break MySQL?

[2022-11-08 20:37] kyessenov commented on #9023
@mattklein123

The issue is that `onNewConnection` is called before TLS handshake completes. What I'm proposing is that we wait for TLS handshake to complete instead of immediately when socket is created. This can be done by waiting for `Connected` connection event, which TLS socket correctly issues . I think this should work fine for server-first protocols:
* TLS socket issues `Connected`
* tcp_p

[2022-11-08 20:44] mattklein123 commented on #9023
At face value it sounds like that should work, though I'm not sure why we wouldn't have considered this before so maybe there is some edge case we are not thinking about? But we can definitely try it.

[2022-11-08 20:47] kyessenov commented on #9023
Ok, then I will open a PR after I fix the test breakages (looks like mocks need to be updated). I don't understand why this wouldn't work, so if anyone remembers any subtle issues, let me know :)

[2022-11-09 03:56] rohrit commented on #23857
@RyanTheOptimist , are there any plans to add support for QUIC based upstream servers that are not HTTP based? The TLS inspector would be helpful in sending QUIC traffic to different upstreams based on SNI where the upstream servers are not HTTP/3 based.

[2022-11-09 04:32] Alexcei88 commented on #23007
Could you add the tag "help wanted" please?

[2022-11-09 04:59] drinkbeer commented on #23759
Hey @weisisea @msukalski @HenryYYang, do you have some suggestions about the detailed commands states in non-Cluster mode? Thank you

[2022-11-09 08:01] #22479 closed

[2022-11-09 09:22] phlax commented on #23891
https://github.com/google/tcmalloc/issues/148

[2022-11-09 09:32] phlax commented on #23891
checking through the actions im wondering why its only triggering on some PRs - i guess depending on what they need to be built - but there are few failing this check

cc @keith im wondering whether we need to back out the last tcmalloc update until we figure out the problem

[2022-11-09 09:45] phlax commented on #23883
@alphamarket could you provide some more information - esp the Envoy version - it might be helpful to see the config also

did you try debug logging the Envoy proxies? Are there any clues in the app log?

[2022-11-09 09:57] phlax commented on #23884
cc @yanavlasov

[2022-11-09 10:31] phlax commented on #23901
cc @zuercher @antoniovicente

[2022-11-09 10:36] phlax commented on #23886
cc @yanavlasov @mattklein123

[2022-11-09 10:37] phlax commented on #23885
cc @yanavlasov @mattklein123

[2022-11-09 10:54] alphamarket commented on #23883
@phlax Envoy version: `envoyproxy/envoy:v1.23-latest`

How can I do that?

`app` is a very robust C++ engine, each `app` instance is capable of handling 6,000 requests per second, `app` is not a bottleneck here...

[2022-11-09 10:57] phlax commented on #23883
https://www.envoyproxy.io/docs/envoy/latest/start/quick-start/run-envoy#debugging-envoy

no but it might give some indication as to why the connection is being terminated

[2022-11-09 10:59] alphamarket commented on #23883
@phlax Enovy's config:

[code]

[code]

[2022-11-09 11:15] phlax opened #23912 "Use bazel to generate test certificates"
There have been a round of cert expiry that has had to be dealt with in CI recently

This has led to a lot of failed pipelines and the need to backport various fixes

One discussion around this has been to generate the certificates dynamically with bazel, and i guess some kind of `action_env` that expires/rebuilds at certain times

[2022-11-09 11:31] kdarw commented on #23888
Hi @phlax,

I was comparing the metrics printout from Istio and envoyproxy from Prometheus. The Istio documentation describes the metrics/statistics name as it appears in Prometheus, like:
- istio_requests_total
- istio_request_duration_milliseconds
- istio_request_messages_total

Metrics from envoyproxy are represented by Prometheus like:
- envoy_cluster_circuit_breakers_default_cx_open
- envoy_c

[2022-11-09 11:35] phlax commented on #23888
let me think about this a bit further - as a start i will do some general tidying up on the formatting of that page

i need to grok your suggestion a bit better and understand the relation between istio and prometheus metrics a bit better

if you wanted to raise a PR to address your suggestion i would be very happy to review and/or help as required

[2022-11-09 11:54] kdarw commented on #23888
Hi,
I just recognized that the description before statistics/names tables contain a sentence like:
- The cluster manager has a statistics tree rooted at **cluster_manager**. with the following statistics
- Every cluster has a statistics tree rooted at **cluster**.<name>. with the following statistics:
- If health check is configured, the cluster has an additional statistics tree rooted at **cluste

[2022-11-09 11:55] phlax commented on #23888
iiuc - yep - the docs do kinda cover what you are asking about - but its not very clear and not helped by the bad formatting

[2022-11-09 16:18] ggreenway commented on #23912
I'm strongly in favor of this. I don't know bazel well enough to do it myself.

[2022-11-09 18:31] rjhuijsman opened #23919 "Changing the upstream destination in a filter"
*Title*: Changing the upstream destination in a filter

*Description*:
I have requests coming into an Envoy gateway (set up via Istio on Kubernetes). I'd like to write a filter to...
1. Inspect the `host` or `:authority` headers and do some arbitrary business logic (do push-ups, make a charitable donation, [...], you name it - anything that's not a built-in Envoy feature yet).
2. Rewrite the `host

[2022-11-09 21:08] weisisea commented on #23759
Hi @drinkbeer, I tried starting Envoy in non-cluster mode using the [sample config file](https://github.com/envoyproxy/envoy/blob/main/examples/redis/envoy.yaml) and was able to see per-command stats:

[code]

Are these stats what you are looking for?

Please also feel free to try out the [Redis filter guide](https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/redis) and run `curl localhos

[2022-11-09 21:56] spencer-p commented on #23003
I would add the tag "help wanted" if I could, but it seems I can't through the UI, and can't find a bot invocation in other issues to do so.

[2022-11-10 00:52] lizan commented on #23891
Any reason we pinned at clang 11 for CodeQL?

[2022-11-10 02:13] #23797 closed

[2022-11-10 05:05] daixiang0 commented on #23912
Now they are generated by bash script, easily implement them in CI, just need one schedule job to update. I think no need to generate them every time in CI.

[2022-11-10 06:29] bmcalary-atlassian commented on #22163
I've also found that if you have a local rate limit defined at the http_connection_manager level as one of the first (or the first) http_filters and the request, and the request will match a separate http_local_rate_limit at the vhost/route level, then the http_connection_manager level local_rate_limit is not hit, no matter whether the request rate is exceeding it's token bucket or not.

Should sh

[2022-11-10 08:03] github-actions[bot] opened #23924 "Newer release available `build_bazel_rules_apple`: 1.1.3 (current: 1.1.2)"
Package Name: build_bazel_rules_apple@1.1.2
Current Version: 1.1.2@2022-09-16
Available Version: 1.1.3@2022-11-09
Upstream releases: https://github.com/bazelbuild/rules_apple/releases

[2022-11-10 08:03] github-actions[bot] opened #23925 "Newer release available `com_github_google_perfetto`: v31.0 (current: v30.0)"
Package Name: com_github_google_perfetto@30.0
Current Version: v30.0@2022-10-06
Available Version: v31.0@2022-11-09
Upstream releases: https://github.com/google/perfetto/releases

[2022-11-10 08:31] #20934 closed

[2022-11-10 09:24] #23753 closed

[2022-11-10 09:41] phlax commented on #23891
i suspect that it just hasnt been updated when the other places its installed were

[2022-11-10 10:56] phlax commented on #23919
cc @gbrail @pradeepcrao

[2022-11-10 11:02] phlax commented on #23912
the first challenge is getting access to an openssl bin _in_ bazel - we could use the system bin but it would be better not to - something im realizing rebuilding the certs now - they require a very specific version

we certainly dont need to generate them every time in CI but im wondering if we need to somehow cause them to be rebuilt sometimes

[2022-11-10 11:13] phlax commented on #23156
i will backport #21110 if i can to the 1.22 branch as that is a known issue with a resolution

not sure if we want to also backport to 1.21 - im hoping to cut a release of this branch first so probably wont include it unless someone suggests its necessary

[2022-11-10 11:19] phlax commented on #23891
i guess the next question is - if we bump clang can we add back the tcmalloc update - i can give it a try - not sure how we ensure the issue is triggered tho

[2022-11-10 12:04] phlax commented on #23912
seems like it should be pretty easy to get a boringssl bin https://github.com/google/boringssl/blob/master-with-bazel/BUILD#L181

[2022-11-10 12:36] pfl opened #23928 "Recording dependencies"
*Title*: *Record components used when Envoy was built*

*Description*:
From a software supply chain viewpoint it is desirable to record all dependencies used by a build of Envoy. As different configuration/compile time options include different dependencies, this information should be made available and installed with the Envoy binary. As the software dependencies contain different copyright and a

[2022-11-10 12:39] phlax commented on #23928
hi @pfl this is something we already doing if not comprehensively - see https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/external_deps.html for what we currently have

when this was added `rules_license` was not available (at least not installed) but now it is (https://github.com/envoyproxy/envoy/pull/23678)

i didnt get so far as looking at how we can make use of `rules_li

[2022-11-10 13:03] caoyukun0430 commented on #23843
Hi @KBaichoo thanks for the reply! As what we understand from Istio https://github.com/istio/istio/issues/41859#issuecomment-1308972468, the probe health checking logic on port 15021 first reach envoy then request to pilot-agent on port 15020 to get stats from envoy to see if started or not. But in overload condition, the first step, which is request to 15021 is rejected by overload action.
We wan

[2022-11-10 13:59] wbpcode commented on #23912
considering the rebuilding is super-fast, I prefer the way just to generate it when we run the ci. Then any external robot/schedular is unnecessary for this.

[2022-11-10 14:03] #23601 closed

[2022-11-10 16:01] YvesZHI opened #23934 "A large http request will lose its body"
I'm using Envoy V1.22 as the gateway of my backend web servers. The web servers provided http POST requests, one of them is about uploading files to server.

To my surprise, if I upload a tiny file, such as a 3KB file, it works as expected but if I upload a larger file, such as a 20KB file, it would fail.

So I'm trying to add a Lua script to figure out what happened.

Here is my config file of En

[2022-11-10 16:23] botengyao commented on #23891
Great, thanks for fixing it!

[2022-11-10 16:34] phlax commented on #23912
i think we want to use bazel for all the reasons that we use bazel - which means i think that it will be built hermetically and cached - and not rebuilt unless its "inputs" change

not sure exactly how the certs are used in the tests or what expectations are - we could probably make the build have never expiring certs and not worry about needing to ever rebuild

(if the expiry was say 5 years then

[2022-11-10 17:11] kyessenov commented on #23809
cc @RyanTheOptimist

[2022-11-10 17:14] ggreenway commented on #23912
I leave it up to the bazel-people whether 5 years in a cache could ever happen.

I wonder if we could make an input to the step be a file that contains the `year:month` (even though the step doesn't use the file) to force it to refresh monthly.

[2022-11-10 17:14] kyessenov commented on #23919
Routes are cached in Envoy, and must be explicitly reset by a filter to re-compute if the route matching changes. So the cluster is chosen the first time a route is requested, and I would guess ext_proc does not clear the route.

If you just want to route to IP:PORT, ORIGINAL_DST can also accept a filter override via a filter state. But that does not support EDS/VIP resolution by Envoy.

[2022-11-10 17:16] phlax commented on #23912
yep that would be an `action_env` i think - altho it might also make other stuff expire too

relatedly im wondering if we can use similar to expire coverage/tests caches and resolve the ongoing timeout/server disappearring issues

[2022-11-10 17:50] gbrail commented on #23919
Yes -- routes are cached in Envoy, and ext_proc does not invalidate the cache by default... but you can ensure that it does by setting the "clear_route_cache" field on the header or body response from your external processing server to the proxy. Most people who have encountered this issue have found that this does the trick, and furthermore I recall that ext_authz uses the same process.

[2022-11-10 17:51] gbrail commented on #23919
https://github.com/envoyproxy/envoy/blob/main/api/envoy/service/ext_proc/v3/external_processor.proto#L276

[2022-11-10 18:02] plallin commented on #23353
Error message on trying to build FIPS-Envoy "offline"

[code]

`bazel` sync did not fetch all dependencies for it. I think it just fetch the usual dependencies but the not FIPS-specific ones. I don't believe there is a flag I could pass for it.

[2022-11-10 18:08] plallin commented on #23353
`bazel sync` logs (this always results in a failure even though offline build is later possible)

[code]

[2022-11-10 18:09] plallin commented on #23353
Logs on trying to use the the `repository_cache` from `bazel sync` as Envoy's `distdir`:

[code]

[2022-11-10 18:11] phlax commented on #23353
re the errors syncing it might be worth bumping that to its own issue - not sure of the problem - but looks like something with our setup - not sure

[2022-11-10 18:12] phlax commented on #23353
re issues with using distdir - putting above errors aside - im wondering if its because the api depdendencies are in their own (bazel) namespace

[2022-11-10 18:39] rjhuijsman commented on #23919
That was it! 🎉

Thank you all for the help! Much appreciated!

[2022-11-10 18:39] #23919 closed

[2022-11-10 20:29] danzh2010 opened #23940 "quic: configuring access log %DOWNSTREAM_PEER_URI_SAN% causes crash."
HTTP/3 crashes upon local and peer certs retrieval. Below is an example crash call stack:

F1102 20:47:54.651913    8626 logging.cc:58] assert.h assertion failed at [third_party/openssl/boringssl/src/ssl/ssl_x509.cc:163](https://cs.corp.google.com/piper///depot/google3/third_party/openssl/boringssl/src/ssl/ssl_x509.cc?l=163&ws=danzh/5626&snapshot=462) in void bssl::check_ssl_x509_method(const SSL

[2022-11-10 20:36] nezdolik commented on #23843
So far looks like the use case has been about letting in liveness probes to Envoy during overload.
To what @KBaichoo has already said, am thinking if we could be more flexible here in terms of configuration to accommodate for broader use cases.
The problem could be generalised to accept certain categories of traffic during overload state based on certain criteria.
Examples of criteria could be lis

[2022-11-10 20:39] arkodg commented on #7918
Stopping by to say that It would be great if there was a native filter implementation for WAF !
Envoy Gateway would like to support WAF and the first iteration is considering providing the functionality using a WASM module https://github.com/envoyproxy/gateway/issues/671

[2022-11-10 20:46] yxue opened #23942 "Rate limit number of messages per second for streaming gRPC"
*Title*: *Rate limit number of messages per second for streaming gRPC*

*Description*:

Envoy has the rate limit for the downstream connections. For the streaming gRPC, could Envoy rate limit the message rate per stream?

[2022-11-10 21:00] yxue commented on #23942
Could Envoy read the message in a slow rate and take advantage of the gRPC flow control? Envoy doesn't need to respond to the client. The client's send could get blocked until the message is consumed by the Envoy.

[2022-11-10 21:03] kyessenov commented on #23942
Yeah, that is plausible, but that's more of a flow control decision, so it's a soft push back, rather than hard 429.

[2022-11-10 21:07] yanickbelanger commented on #23080
Thank you guys! Can't wait to remove the workaround we had to setup.

[2022-11-10 21:27] yxue commented on #23942
Yeah, I was thinking about the soft push back. For hard 429, could Envoy return the grpc status to the client and reset the upstream connection?

[2022-11-10 21:34] kyessenov commented on #23942
Sure, we have grpc_stats filter that can count requests/responses without having the protobufs. This sounds more like a bandwidth rate limit, except using messages instead of bytes.

[2022-11-10 21:43] asaha123 commented on #865
I have started working on this with two example gRPC services - `hello` and `world` custom made for this sandbox. Will create a PR when I am ready.

[2022-11-10 22:45] yxue commented on #23942
Yes, I think the rate limiter could be the combination of grpc_stats and leaky bucket. If the message rate limit can be achieved, the bandwidth rate limit could be similar?

[2022-11-10 23:57] lizan commented on #23353
The key part for building FIPS mode in offline is https://github.com/envoyproxy/envoy/blob/main/bazel/external/boringssl_fips.genrule_cmd

Those curl command are not managed by Bazel, so bazel sync doesn't know anything about those dependencies. Without patching this file it won't work.

[2022-11-11 00:30] plallin commented on #23353
That modifies the output of `envoy --version` ; if you build from a clean branch then the output of `envoy --version` will state that (documented [here](https://www.envoyproxy.io/docs/envoy/latest/operations/cli#cmdoption-version))

[2022-11-11 02:03] carlin-q-scott commented on #13736
The documentation is wrong regarding the token and hmac. If you want to reference a file for the token and hmac, they have to be in separate files that look like this:

[code]

The example "yaml file" provided for defining the credentials only works if it's defined in your envoy.yaml config file where the oauth filter is defined.

Please fix the documentation. I spent probably 4 hours trying to fi

[2022-11-11 02:14] zirain opened #23948 "automatic Trace Context Fields in OpenTelemetry accesslogger"
*Title*:

automatic Trace Context Fields in OpenTelemetry accesslogger

*Description*:

automatic set trace context fields when using opentelemetry accesslogger as much as possible?

cc @itamarkam as code owner

[optional *Relevant Links*:]

https://opentelemetry.io/docs/reference/specification/logs/data-model/#trace-context-fields

[2022-11-11 06:49] zema-MSFT commented on #20086
hi, Yanjun, could you share the PR for this fix? is there any ETA for this feature fix? currently it's painful for us to debug issues when applying ECDS. Thanks!

[2022-11-11 07:10] zirain commented on #20086
@zema-MSFT https://github.com/envoyproxy/envoy/pull/23902

[2022-11-11 07:16] zema-MSFT commented on #20086
thanks

[2022-11-11 08:04] github-actions[bot] opened #23950 "Newer release available `com_github_wasmtime`: v2.0.2 (current: v1.0.0)"
Package Name: com_github_wasmtime@1.0.0
Current Version: v1.0.0@2022-09-20
Available Version: v2.0.2@2022-11-10
Upstream releases: https://github.com/bytecodealliance/wasmtime/releases

[2022-11-11 08:04] #23730 closed

[2022-11-11 09:47] dozer47528 commented on #23238
I have the same problem.

[2022-11-11 11:44] plallin commented on #23353
And additionally even for non-FIPS I am not managing to make offline builds work unless I am fetching the dependencies on the same node as I run the build on. Fetching the dependencies and storing them in some file system (such as mounted EBS) for reuse by offline nodes does not work.

On advice from Phlax I was using [this issue](https://github.com/bazelbuild/bazel/issues/11123 ) which might help

[2022-11-11 12:37] relvira commented on #19454
Hey there @alyssawilk 👋🏼 are you aware if there is any ongoing work on this issue?

Thank you! 🙇🏼

[2022-11-11 13:55] phlax commented on #23948
cc @AlexanderEllis

[2022-11-11 13:58] phlax commented on #23934
cc @dio

[2022-11-11 14:00] phlax commented on #23940
cc @alyssawilk

[2022-11-11 15:36] plallin commented on #23353
On reading the documentation more, `bazel sync` downloads the dependencies to the [output directory](https://bazel.build/remote/output-directories) ; I'm still not quite sure what `--distdir` is used for but it's unsufficient for offline builds.

If the output directory is moved or shared with an offline instance, then it's possible to (1) use a middlebox to run `bazel sync`, (2) save the output d

[2022-11-11 15:45] mattklein123 commented on #7918
I'm in favor of the OWASP approach now that I have learned more about it. My main concerns involve the reliance on WASM due to:
1) Performance
2) The fact that WASM is still considered alpha in Envoy and recent investment appears to be limited.

We will need to reconcile both of the above moving forward.

[2022-11-11 15:47] danzh2010 commented on #19454
We currently are not actively working on this. @relvira do you have any use case for this feature?

[2022-11-11 15:56] YvesZHI commented on #23934
Please notice that
1. The phenomenon / bug still happens without any Lua script;
2. It seems that the phenomenon / bug would be gone if I deploy the Envoy with binary, instead of Docker.

[2022-11-11 16:00] mattklein123 commented on #9023
Sorry I have no idea. :( The only thing I can quickly think of it has to do with flow control and not wanting to keep reading before the upstream is ready. Perhaps we have to check whether it's TLS so that the handshake processor will deal with bad data? And for raw TCP do what we do today? cc @alyssawilk @ggreenway

[2022-11-11 16:15] fcrisciani opened #23952 "Cleanup IP parsing logic"
*Title*: *Cleanup IP parsing logic*

*Description*:
This bug is to track the cleanup of the IP parsing logic. Currently it is spread across s/c/n/utility.cc and s/c/n/address_impl.cc
Another thing to notice is that if we simply move the parsing logic from utility to address_impl we have the following circular dependency:
[code]

It would also be nice to leverage a single parsing method like the `g

[2022-11-11 17:31] PiotrSikora commented on #9023
There is some additional discussion / edge case in https://github.com/envoyproxy/envoy/issues/2800.

[2022-11-11 20:01] #23078 closed

[2022-11-11 20:53] kyessenov commented on #9023
@PiotrSikora thanks, early data seems like something that requires a read buffer if we want to delay upstream connection until the handshake completes. Will need to look into details of the SSL socket.

[2022-11-11 22:37] kyessenov commented on #23940
Likely related to https://github.com/envoyproxy/envoy/issues/23809, since this is mTLS.

[2022-11-12 00:08] diannahu commented on #23054
no stalebot

[2022-11-12 00:23] dceravigupta opened #23962 "Redis Proxy: Auth password per endpoint in a cluster?"
Hi, is it possible to use different auth passwords for connecting to different redis endpoints as part of a single redis upstream clusters?

[code]

In the example config above, both redis instances i.e. abc.redis.net and xyz.redis.net have different auth passwords.

[2022-11-12 02:52] toddmgreer opened #23963 "Compressor Filter: Upgrade security posture to robust_to_untrusted_downstream_and_upstream"
[envoy.filters.http.compressor](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/compressor/v3/compressor.proto#extension-envoy-filters-http-compressor) has a security posture of robust_to_untrusted_downstream. In order to support use by multi-tenant proxies (such as CDNs), it needs to handle untrusted upstream servers, and to document this with a security posture of robu

[2022-11-12 08:03] github-actions[bot] opened #23964 "Newer release available `com_github_google_benchmark`: v1.7.1 (current: v1.7.0)"
Package Name: com_github_google_benchmark@1.7.0
Current Version: v1.7.0@2022-07-25
Available Version: v1.7.1@2022-11-11
Upstream releases: https://github.com/google/benchmark/releases

[2022-11-12 08:03] github-actions[bot] opened #23965 "Newer release available `rules_rust`: 0.13.0 (current: 0.3.1)"
Package Name: rules_rust@0.3.1
Current Version: 0.3.1@2022-04-26
Available Version: 0.13.0@2022-11-11
Upstream releases: https://github.com/bazelbuild/rules_rust/releases

[2022-11-12 08:03] #23848 closed

[2022-11-12 16:46] yuedongze opened #23968 "Kernel TLS Offload (kTLS) support in Envoy"
*Title*: Kernel TLS Offload (kTLS) support in Envoy

*Description*:
kTLS was added into the kernel lately and it enables high performance use cases such as using `sendfile` to send data. It also supports potential hardware/NIC offloads to make things even faster. It would be really nice to have this feature in Envoy also. I looked up previous issues and found ~2 issues briefly mentioning kTLS, but

[2022-11-13 00:03] #23370 closed

[2022-11-13 00:03] #23375 closed

[2022-11-13 00:03] #23387 closed

[2022-11-13 04:10] #22945 closed

[2022-11-13 04:10] #23398 closed

[2022-11-13 08:03] github-actions[bot] opened #23970 "Newer release available `com_github_nghttp2_nghttp2`: v1.51.0 (current: v1.50.0)"
Package Name: com_github_nghttp2_nghttp2@1.50.0
Current Version: v1.50.0@2022-09-21
Available Version: v1.51.0@2022-11-13
Upstream releases: https://github.com/nghttp2/nghttp2/releases

[2022-11-13 12:01] #23386 closed

[2022-11-13 22:41] lbhdc opened #23971 "Opentelmetry example doesn't start"
Opentelmetry example doesn't start. Following [the guide](https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/opentelemetry) I ran into an issue where the docker-compose file runs into a port conflict.

*Description*:
On a fresh clone of master the `opentelemetry` example docker-compose file fails to start because of a port conflict.

*Repro steps*:
Environment
[code]
Setup workspace and c

[2022-11-14 03:24] #23934 closed

[2022-11-14 05:39] jacobneiltaylor opened #23972 "No Longer Able To Duplicate The Value of the X-B3-Traceid Header using request_headers_to_add"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: No Longer Able To Duplicate The Value of the X-B3-Traceid Header using `request_headers_to_add`

*Description*:
Under previously released versions of Envoy (<1.22) w

[2022-11-14 07:08] daixiang0 commented on #23971
You can check `verify.sh`:
[code]

I test it at local via `bash verify.sh`, it works without any changes.

[2022-11-14 07:42] pxpnetworks opened #23973 "internal_listener config can't run (panic: unset oneof)"
Hi, i have an issue running envoy config with internal_listener...
Tried with [this official](https://github.com/envoyproxy/envoy/blob/ff49762696b2e6ed3f408a22e1f7a1b7d2487318/configs/terminate_http_in_http2_connect.yaml) config and it still fails with the same error
[code]
This is tested with envoy 1.23.0 and 1.23.1 and results are the same.
Running the binary on Oracle Linux 8.6 Kernel 5.4.17

C

[2022-11-14 08:11] liverbirdkte commented on #23973
I also met problems with internal listeners on Envoy 1.23, although I forgot the exact error encountered, seems related to a configuration check.

When I switched to Envoy 1.24, everything works fine.  Does 1.24 work for you?

[2022-11-14 08:32] relvira commented on #19454
hey @danzh2010! thanks for getting back to me. We are exploring rolling our QUIC support to all our ingress stacks, one of which is based off mainly of long lived connections.

We rely on hot restart to gracefully close connections when a process restart is needed.

[2022-11-14 09:59] pxpnetworks commented on #23973
Yeah, i confirm... on 1.24.0 it works.
My issue is some of the VMs i run it use glibc <2.30 which is needed for v1.24.0 to run :)

BR,
Stoyan

[2022-11-14 10:01] or-adar opened #23974 "Question: Route dynamically by source ip"
Hi,
I have a use case where I'm trying to figure out if Envoy can help.
I have multiple UDP services in my k8s cluster and I want to have an envoy proxy that will route incoming traffic depending on the source IP.
I also will be dealing with a ton of IP addresses that will increase/decrease dynamically.

I've read that Envoy support a new API known as xDS to configure envoy dynamically.
What I'm t

[2022-11-14 11:03] zhangbo1882 opened #23976 "Use different thread to export metrics"
Now envoy will use main thread to export the metrics with admin interface ((stats_handler_.handlerPrometheusStats). In normal case, it is OK.
However, if there are huge metrics need to be exported,  it will cost much time so that main thread will be blocked to handle some critical event such as the xDS configuration.

In our production environment, we have met such issues. When the endpoint change

[2022-11-14 11:44] rgs1 commented on #23868
If the default dns cache approach ends up being more complicated than necessary, we could fallback to making the `dns_cache_config` field mandatory (this might be API breakage, not sure what the policy for doing that is).

But this approach is certainly less error prone than trying to build a default DNS cache and guessing the IP settings, with the only downside of requiring more configuration.

[2022-11-14 14:27] stevenzzzz opened #23979 "[stats, xds] disable per-resource update_duration tracking, add per-API update_duration tracking (if necessary)."
*Title*: disable per-resource update_duration tracking, add per-API update_duration tracking (if necessary).

*Description*: right now there is a histogram tracking per-resource update duration, i.e. how long it takes Envoy to consume and update a resource's config.

This stat is of less value when there are tons of resources in Envoy, what matters more is how long does Envoy take to load each dis

[2022-11-14 14:27] stevenzzzz commented on #23979
@jmarantz @pradeepcrao

[2022-11-14 15:18] stevenzzzz commented on #23979
@yanavlasov

[2022-11-14 16:34] mattklein123 commented on #23968
Seems like an interesting area to explore.

[2022-11-14 18:30] phylake commented on #22418
@htuch @markdroth I see significant contributions to `xds_protocol.rst` as well. Can you help? As of right now I can't use `initial_resource_versions` which was a significant optimization for reconnecting Envoys

[2022-11-14 19:06] ggreenway commented on #9023
There are a number of subtleties I remember, although I don't recall all the details:

* tcp_proxy doesn't do any buffering, so any data it receives immediately is passed to the upstream connection
* we can't write any data to the upstream connection before it's established, because if that connection fails and we retry, any data written to that connection (which is buffered in the Connection or t

[2022-11-14 19:16] adisuissa commented on #22418
I'm not certain why those assignment disappear.
Assuming there's no TTL, and that these ClusterLoadAssignments are not fetched from a wildcard, the only thing I can think of is that an update for the Clusters is received (which causes some of the clusters to move to a warming state), and the relevant ClusterLoadAssignments do not arrive on time, and so the problem mentioned in #13009 occurs.

[2022-11-14 19:38] KBaichoo opened #23985 "CI: Coverage is currently broken"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

CI: Coverage pages 404

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

404 when going to GCS bucket for coverage repor

[2022-11-14 19:41] markdroth commented on #22418
I suspect that the majority of the problem here is the bad behavior in Envoy described in #13009.  Once Envoy implements the caching layer described there, there should no longer be any cases where the client is subscribed to a resource but does not have it locally cached.

[2022-11-14 19:49] phlax commented on #23985
i have followed this up quite far already - the problem is essentially bazel - the result of the `bazel coverage ...` command/s is returning empty files - not sure why that is but that is how far i got (#23930)

[2022-11-14 20:02] KBaichoo commented on #23985
Yea looking at the gcs bucket I see:
[code]

[2022-11-14 20:04] phlax commented on #23985
at that point we should loads of html files

if you track back the bazel command is outputting the empty dat file

[2022-11-14 20:07] phlax commented on #23985
i suspect the issue is with `bazel/coverage/collect_cc_coverage.sh` not being updated in line with bazel changes or somesuch

[2022-11-14 21:34] zuercher commented on #23962
cc @weisisea perhaps you can answer?

[2022-11-14 23:08] zuercher commented on #23972
Hm. I think this is probably the likely culprit: #20503. The `request_headers_to_add` operations are performed in that call to `finalizeRequestHeaders` and the injection of the tracing span's context into the request headers no longer happens before that point. That explains why the tracing headers make it upstream but your copy to an alternate name fails. cc @wbpcode

[2022-11-14 23:24] zuercher commented on #23976
cc @jmarantz

[2022-11-14 23:55] zuercher commented on #23973
In the future, please report crashing bugs to the envoy-security@googlegroups.com mailing list so that it can be appropriately triaged before public release. In this case, the crash appears to be caused by using a feature that was not fully implemented in v1.23. Since the crash is triggered by operator-controlled configuration, this issue doesn't need an embargo.

Internal listener support was int

[2022-11-14 23:55] #23973 closed

[2022-11-15 01:58] jmarantz commented on #23976
Before we add more threads I think there's some low-hanging fruit optimizing the Prometheus handler in a manner parallel to the other handlers.

See https://github.com/envoyproxy/envoy/issues/16139 -- I can help review this but would prefer for someone else to drive it, as we do not use Prometheus format.

[2022-11-15 08:01] #23300 closed

[2022-11-15 08:04] wbpcode commented on #23972
Yeah, it's my mistake. It' an unexpected behavior change. It's easy to revert the behavior but there may be repeated injecting.

[2022-11-15 10:14] kdarw commented on #23888
Hi @phlax,

I still struggle with the envoyproxy metrics name format that will appear in prometheus.
In prometheus I see metrics names like:
- envoy_<function/protocol>_<stat_name>.
For example:
envoy_cluster_default_total_match_count
envoy_cluster_http2_rx_messaging_error
envoy_cluster_internal_upstream_rq

When I check the envoyproxy statistics documentation, it states:
- "The cluster manager ha

[2022-11-15 10:18] phlax commented on #23888
thanks for the detailed questions - they will be helpful in updating the docs

i havent got around to looking at this and dont know the answers immediately

my vague plan as stated above is to first look at the formatting of the page to make it easier to read and then to review it from an understandibility pov etc

im quite busy atm with releases so wont be able to look at this immediately

[2022-11-15 11:18] wbpcode commented on #23972
/assign I will try to make a fix.

[2022-11-15 12:34] ashishb-solo commented on #21429
I'm currently making an attempt at this using the strategy outlined above, namely storing everything in microseconds, but providing the option to display in milliseconds (as default to preserve backward compatibility). I'm finding it fairly straightforward to modify how data is stored in the histogram, however it's not immediately obvious to me how I would display the histogram in milliseconds if

[2022-11-15 13:09] vitruvvius opened #23994 "Multiplexing all the way through - edge (http/2 + http/3) -> envoy -> (tcp) server"
tl;dr **How does envoy multiplex into raw TCP connections from inbound http/2 & http/3 requests (if at all)?**

I've read numerous discussions on terminating HTTP/2 + HTTP/1 & re-writing bytes to raw TCP connections.
https://github.com/envoyproxy/envoy/pull/14552
Still confused *how* the envoy decap (http/2 -> tcp) multiplexes (or pipelines) requests into TCP clusters.
Comments reference pipelinin

[2022-11-15 13:54] alyssawilk commented on #9023
coming back to this, any reason we didn't just have a config option / runtime guard to establishUpstreamConnection when the data reached the TCP proxy session?

[2022-11-15 14:31] alyssawilk commented on #23809
cc @RyanTheOptimist can do we do a quick PR rejecting require_client_certificate if we don't support?

[2022-11-15 15:43] phlax opened #24001 "Improve non-RBE caching for release branches (inc `main`)"
Currently we are having to manually disable local caching on non-`main` release branches

this is a bit of a kludge as it needs to be applied to new release branches as they are created and is easily forgotten

also it would be good for them to have their own caches - per-`VERSION` perhaps

[2022-11-15 15:43] phlax commented on #24001
cc @alyssawilk @lizan

[2022-11-15 16:49] ggreenway commented on #21429
Can you post a PR with what you have so far? That will make it easier to understand what specifically you need help with.

[2022-11-15 17:03] kyessenov commented on #9023
@alyssawilk I think we could add such uan option to tcp_proxy. But today, the downstream TLS handshake does not start/finish until upstream is selected (tcp_proxy has to call `read` for the transport socket which it doesn't until after upstream is selected).  Issues (3) and (4) in @ggreenway's post are present AFAICT.

[2022-11-15 17:07] madpsy opened #24004 "Failing to build 1.21.4 (possibly others) due to 404 for protoc-gen-validate"
*Description*:
When trying to build Envoy 1.21.4 (and possibly others), it's fetching an archive which doesn't appear to exist any more:

`WARNING: Download from https://github.com/envoyproxy/protoc-gen-validate/archive/v0.6.2.tar.gz failed: class com.google.devtools.build.lib.bazel.repository.downloader.UnrecoverableHttpException GET returned 404 Not Found`

*Repro steps*:
Attempt to build Envoy

[2022-11-15 17:10] jmarantz opened #24007 "stats: remove temporary cast operator added to Scope to help land #23851"
To address https://github.com/envoyproxy/envoy/issues/23862 , #23851 removes an inheritance, which affects a fairly large number of call-sites.

To make #23851 reviewable, a horrible implicit cast `operator Scope&` was added to Stats::Store. This keeps keeps a lot of noisy changes out of that PR, but leaves behind tech-debt. This bug tracks that tech-debt, which should be resolvable in a huge PR w

[2022-11-15 17:15] phlax commented on #24004
thanks @madpsy - just in time for the next 1.21 release - ill address this now

what is odd is that this has not triggered in our CI - did this just start happening ?

the underlying cause is that protoc-gen-validate has moved -> bufbuild

[2022-11-15 17:17] madpsy commented on #24004
Yup within the past hour (was working earlier today).

[2022-11-15 17:19] phlax commented on #24004
yep - got it in CI now also - https://dev.azure.com/cncf/envoy/_build/results?buildId=120555&view=logs&j=e969334a-0e55-5c18-ac96-8b546753391e&t=b5329a9e-93c7-5412-9f4c-6f8d659e1b57&l=116

[2022-11-15 17:21] madpsy commented on #24004
Thanks for confirming. I'm up for any kind of bodge fix for now (even sed'ing the source in my pipeline) or a patch release version etc. If you have any ideas I'm all ears!

[2022-11-15 17:23] keith commented on #24004
I thought redirects solve this? Did they delete the release archive?

[2022-11-15 17:25] phlax commented on #24004
seems so

correcting the url makes the dl work

[2022-11-15 17:25] madpsy commented on #24004
`curl -v https://github.com/envoyproxy/protoc-gen-validate/archive/v0.6.2.tar.gz` results in a 302 for:

`location: https://codeload.github.com/envoyproxy/protoc-gen-validate/tar.gz/v0.6.2`

which results in a 404

[2022-11-15 17:26] phlax commented on #24004
@madpsy  fix is in #23997

[2022-11-15 17:41] RyanTheOptimist commented on #23809
Sure that sounds reasonable!

[2022-11-15 17:48] madpsy commented on #24004
Not going to recommend anyone does this but I needed a very quick fix so in my Dockerfile I added this after a `git clone`

`RUN sed -i 's#envoyproxy/protoc-gen-validate#bufbuild/protoc-gen-validate#' /source/api/bazel/repository_locations.bzl`

[2022-11-15 17:48] yanjunxiang-google opened #24010 "The UpstreamHttpFilterConfigProviderManagerImpl has same stats prefix as HttpFilterConfigProviderManagerImpl"
This might be a cosmetic issue, but it does not look right to have same stats prefix for two different filters:

1) https://github.com/envoyproxy/envoy/blob/6e349d9d6c0a18fadd8f8dc81c74aee1b810ac4e/source/common/filter/config_discovery_impl.h#L516

2) https://github.com/envoyproxy/envoy/blob/6e349d9d6c0a18fadd8f8dc81c74aee1b810ac4e/source/common/filter/config_discovery_impl.h#L542

[2022-11-15 17:50] yanjunxiang-google commented on #24010
@kyessenov @alyssawilk

[2022-11-15 17:55] kyessenov commented on #9023
@alyssawilk How would this suggestion to establish upstream in `onData` work for server-first protocols? We can't wait for downstream data to establish an upstream connection.

[2022-11-15 18:51] sunjayBhatia commented on #14231
I'm unlikely to work on this any time soon, un-assigning myself

[2022-11-15 18:53] kyessenov commented on #24010
Thinking out loud, the subscriptions are shared, so if the same filter works as both upstream and downstream HTTP, I think it's fine to reuse the prefix, no?

[2022-11-15 19:15] yanjunxiang-google commented on #24010
IIUC, even the subscriptions can be shared, and the downstream HTTP filter and upstream HTTP filter could get same configurations from control plane, but the two filters are different.They each should have their own stats counters and stats prefix.

[2022-11-15 19:18] kyessenov opened #24013 "Reflection for the filter state"
The main advantage of the dynamic metadata over the filter state is the ability to introspect the content without having the definition struct compiled-in. That enables a bunch of applications: access logs can traverse fields, CEL can operate on it as JSON, Wasm filters can avoid full content serialization. I think it's time to add the same capability to the filter state objects. The simplest prop

[2022-11-15 19:30] alyssawilk commented on #9023
the original concern was establishing upstream connection for RBAC block. RBAC happens onData, so for that use case I don't see a way you could block on RBAC processing onData and handle upstream-writes-first connections at all.  That's why I was suggesting it be configurable - folks who know downstream sends first and wait to not stablish on RBAC block can configure that option (though yeah would

[2022-11-15 19:32] sorazy commented on #24004
Seeing the same issue on 1.22.5. Can we do a backport for that version too? @phlax

[2022-11-15 19:33] phlax commented on #24004
fixes for all stable branches are just waiting on CI now to land

[2022-11-15 19:33] phlax commented on #24004
cc @ggreenway

[2022-11-15 19:34] kyessenov commented on #9023
@alyssawilk I think the fact that RBAC happens in `onData` was a workaround for the issue that TLS handshake data is not available in `onNewConnection`. It seems best to apply it as early as possible at first, so that malicious clients don't consume inordinate amount of Envoy time and resources (as @ggreenway suggested, creating upstream with TLS is much more expensive than just opening a client c

[2022-11-15 21:29] zuercher commented on #23994
@alyssawilk maybe?

[2022-11-15 23:14] cetanu commented on #8297
@dio (sorry, not sure who else to ping)
Could we get this re-opened, or should we submit a new issue to track the work to support stdout logging on linux?

[2022-11-15 23:46] gsustek opened #24017 "make and example envoy yaml for TlsKeyLog"
@zhangbo1882
would you be so kind to add some example of [TlsKeyLog](https://github.com/envoyproxy/envoy/pull/19182) on a cluster?

thank you so much!!
Regards,
Goran.

`static_resources:
  listeners:
  - address:
      socket_address:
        address: 0.0.0.0
        port_value: 10000
    filter_chains:
    - filters:
      - name: envoy.filters.network.http_connection_manager
        typed_confi

[2022-11-16 00:12] #23823 closed

[2022-11-16 03:19] #23719 closed

[2022-11-16 03:24] #15062 closed

[2022-11-16 05:02] icerockq opened #24019 "GrpcJsonTranscoder error 415 when matching similar path"
For settings:
[code]
And if we have this proto:
[code]
And when I try get ```/api/v1/service/2/history?data=some_data``` then I get error 415 Unsupported media type

[2022-11-16 08:03] #23623 closed

[2022-11-16 08:03] github-actions[bot] opened #24020 "Newer release available `org_llvm_llvm`: llvmorg-15.0.5 (current: llvmorg-12.0.1)"
Package Name: org_llvm_llvm@12.0.1
Current Version: llvmorg-12.0.1@2021-07-09
Available Version: llvmorg-15.0.5@2022-11-16
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-11-16 08:03] #23789 closed

[2022-11-16 08:03] github-actions[bot] opened #24021 "Newer release available `org_llvm_releases_compiler_rt`: llvmorg-15.0.5 (current: llvmorg-14.0.0)"
Package Name: org_llvm_releases_compiler_rt@14.0.0
Current Version: llvmorg-14.0.0@2022-03-23
Available Version: llvmorg-15.0.5@2022-11-16
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-11-16 08:03] #23790 closed

[2022-11-16 08:29] karataliu opened #24022 "Config validation command fails when deprecated regex engine property not present"
*Title*: Config validation command fails when deprecated regex engine property not present

*Description*:
Since 1.23, regex engine is no longer needed per https://github.com/envoyproxy/envoy/pull/21633
But removing it will fail validation command, potential related to https://github.com/envoyproxy/envoy/pull/21972
Note it can run well in standard mode.

[code]

*Repro steps*:
Use below config.yam

[2022-11-16 08:56] #24004 closed

[2022-11-16 09:42] smartnews-weitao opened #24025 "envoy as sidecar failed since we switch to containerd"
Previously we have been using envoy as a sidecar in our kubernetes service to do the client side loadbalance. However since our kubernetes upgrade to use containerd as runtime. We no longer can connect to backend successfully via envoy. But envoy itself has no error log. I am wondering have anyone encountered this before?

[2022-11-16 09:44] smartnews-weitao commented on #24025
And this is my envoy configuration:

`static_resources:
  listeners:
    - address:
        socket_address:
          address: 0.0.0.0
          port_value: 8500
      filter_chains:
        - filters:
            - name: envoy.http_connection_manager
              config:
                codec_type: auto
                stat_prefix: ingress_http
                route_config:
                  nam

[2022-11-16 09:46] phlax commented on #24025
are connections getting into the container? can the container connect to the upstream cluster?

if both of those are yes - it might be worth trying to use debug logging https://www.envoyproxy.io/docs/envoy/latest/start/quick-start/run-envoy#debugging-envoy

[2022-11-16 09:49] smartnews-weitao commented on #24025
Sorry i am not familiar with the container runtime. Can you instruct me how to make sure whether connections getting into the container?

[2022-11-16 09:51] phlax commented on #24025
it depends on your environment and setup

i guess firstly i would check Envoy access logs to see if there is incoming connections

[2022-11-16 10:23] zhangbo1882 commented on #23976
Any suggestions? @jmarantz

[2022-11-16 10:29] smartnews-weitao commented on #24025
I am running my envoy as a side-car, and here's the part of my k8s deployment yaml related with envoy:

[code]

After i log into the envoy container, do you know how can i check the access logs? i didn't find any log file in /var/log/

[2022-11-16 10:31] smartnews-weitao commented on #24025
BTW, my envoy configuration always report error whenever i try to upgrade to latest envoy version, and the error message is:

Protobuf message (type envoy.config.bootstrap.v3.Bootstrap reason INVALID_ARGUMENT:(static_resources.listeners[0].filter_chains[0].filters[0]) config: Cannot find field.) has unknown fields

[code]

[2022-11-16 10:32] phlax commented on #24025
you will need to change:

[code]

to either output to a file or stdout/stderr - then you can either check the file or container logs

the reason im asking about connectivity is that if your setup worked previously and the only thing that changed is the container runtime it suggest to me that there is a network issue rather than an Envoy issue

[2022-11-16 10:41] smartnews-weitao commented on #24025
After i changed the log path to: access_log_path: "stdout"

I still can't get errors from container's log except following log:

[code]

[2022-11-16 10:41] phlax commented on #24025
see - my update to the comment

[2022-11-16 10:53] smartnews-weitao commented on #24025
By saying there might be a connection issue, you mean my main container can't connect to my envoy container? And about my envoy's configuration no longer work after i upgraded envoy, i didn't change the config. So i am guessing there might be some deprecation which no longer supports in latest envoy? Wondering where can i quickly find them and modify them accordingly.

[2022-11-16 11:05] smartnews-weitao commented on #24025
I am able to successfully get access log now.
So if my pod is running on docker container, it successfully getting requests like these:
`"POST /tensorflow.serving.PredictionService/Predict HTTP/2" 200 - 3920 410 1 1 "-" "grpc-java-netty/1.48.0" "3fcdb114-e3e8-4a78-a8f9-bcb81726d5b2" "0.0.0.0:8500" "10.7.67.131:8500"`

if my pod is running on containerd runtime, there's no logs at all, only the ini

[2022-11-16 11:08] phlax commented on #24025
which suggests the connection is not getting through - try just connecting 2 containers to figure out whether/what connection issue might be

[2022-11-16 11:28] phlax commented on #24025
that is not really an Envoy question - it depends on too many things - you need to track that with either your k8s setup or your CNI setup

[2022-11-16 11:40] weissne commented on #23524
Sorry, @qiwzhang  & @cboitel, I didn't see your comments until now. My appologies.
Yes, if it's not too much trouble for you then please go ahead.

[2022-11-16 12:01] #22951 closed

[2022-11-16 16:08] wytrych opened #24027 "Envoy cannot match a path if it has a trailing slash"
*Title*: *Not starting if route definition has a trailing slash when using gRPC transcoder*

*Description*:
When specifying a route with trailing slash, Envoy will not start.

*Repro steps*:
Define a gRPC service as follows:

[code]

It will not work. Envoy will only start if we remove the trailing slash (so the path will become `/example/api`)

[2022-11-16 17:25] jmarantz commented on #23862
Related: I do not see why Stats::Store and Stats::StoreRoot need to be different classes, and I'm inclined to merge them if there's no compelling reason to keep them separate.

[2022-11-16 18:35] gabrielgiussi opened #24030 "How to set authentication header with jwt token for outgoing requests?"
### Description:
I need to set the `Authorization` header with a jwt token for outgoing requests (i.e. when the service deployed alongside envoy acts as an http client).
The token is already generated by another process and we are fetching and storing it in a file.

Currently I'm doing setting the header with a Lua filter but it has two disadvantages
1. I'm using the Lua io package to read the fil

[2022-11-16 19:57] qiwzhang commented on #24030
You could use [gcp_authn](https://github.com/envoyproxy/envoy/blob/main/api/envoy/extensions/filters/http/gcp_authn/v3/gcp_authn.proto) filter if you can start a http server alone side with envoy process to send the token.

[2022-11-16 21:05] justinyjsong opened #24032 "Send Encoded data for gRPC-JSON transcoding"
*Title*: *Handle encoded protobuf data in gRPC-JSON transcoding request*

*Description*:
I have a gRPC-go server running with Envoy for gRPC-JSON transcoding.
Our proto looks like below;

[code]

Now we can create a request as follows for any object;
[code]

Here in this request, I used `anypb.UnmarshalNew()` which requires the type url to be specified in the request with `@type`.

But instead of

[2022-11-17 01:14] zuercher commented on #24022
As noted in the issue template, please report crashing bugs to envoy-security@googlegroups.com so we can triage it _before_ public disclosure.

This looks to be a config-related crash, so it's ok to report and fix in the open.

[2022-11-17 01:19] zuercher commented on #24022
cc @zhxie since you made some changes here

[2022-11-17 01:21] zuercher commented on #24025
I'm going to close this since the issue seems to be outside of Envoy.

[2022-11-17 01:21] #24025 closed

[2022-11-17 01:26] zuercher commented on #24032
To be honest this sounds like a protobuf and/or gRPC question, not an Envoy question.

[2022-11-17 01:51] zhxie commented on #24022
/assign

[2022-11-17 01:51] jmarantz commented on #23976
Are you asking for suggestions on which particular people could do this C++ work? Or are you thinking of doing it and want suggestions on how to get started?

[2022-11-17 01:53] jmarantz commented on #16139
@rulex123 are you thinking of working on this? There definitely seems to be some interest in it.

[2022-11-17 01:59] zhangbo1882 commented on #23976
From my side, we met the performance issue in our production environment.  The first thing is that how  to avoid such issue or some workaround.  From previous comment, you mentioned that we can optimize the prometheus handler. Is there anybody working on it?

[2022-11-17 02:43] YvesZHI opened #24036 "When does route timeout start"
I just read the doc about route timeout:

Well, it said, "This timeout does not start until the entire downstream request stream has been received.". I just want to know "by whom":

or

[2022-11-17 04:02] #23363 closed

[2022-11-17 04:02] #23413 closed

[2022-11-17 08:28] ohadvano opened #24038 "Path cannot be overwritten when using TCP tunneling"
*Title*: Path is hardcoded as "/" and cannot be overwritten when using TCP tunneling

*Description*: When using HTTP upgrades for TCP tunneling it is sometimes required to select a custom path, for HTTP POST request, for instance. Currently path is hard coded as "/" in the source code. Feature suggested is adding an option to overwrite the path by configuration.

[optional *Relevant Links*:]
Slack

[2022-11-17 10:54] soulxu commented on #24038
seems simple to support, submit a pr directly https://github.com/envoyproxy/envoy/pull/24045

[2022-11-17 12:01] #23417 closed

[2022-11-17 12:08] phlax commented on #23156
fixed #23951

[2022-11-17 12:08] #23156 closed

[2022-11-17 14:59] gabrielgiussi commented on #24030
@qiwzhang I'm not sure about using that filter that it is intended for a very specific use case of GCP. Besides that, it doesn't seem to provide any token refresh feature and I don't know if it is based on jwt tokens, if it is not then how can decide when to remove the token from the cache?

[2022-11-17 15:00] gabrielgiussi commented on #24030
I've found [this](https://github.com/solo-io/proxy-runtime/tree/3cdeddde8e4b21f1691c58fc1ec8358ccfbbbba5/examples/singleton) wasm example with assemblyscript and it is really close to what I need to I'll write my own based on that unless there is any existing alternative to avoid having to create wasm vm which seems to be the biggest disadvantage for this approach.

[2022-11-17 17:38] zuercher commented on #24036
The route timeout starts when the entire downstream request has been received by Envoy.

[2022-11-17 18:53] rulex123 commented on #16139
@jmarantz happy to help out with this. I see you already started work on a streaming implementation for stats.. do you have a rough plan in mind already? What should I focus on?

[2022-11-17 20:01] #23412 closed

[2022-11-17 20:29] nclr commented on #15235
Hi this issue is still ongoing with Radxa Rock5b and envoyproxy 24.0 and previous versions.

[2022-11-17 20:34] phlax commented on #15235
if you want to use rpi os you need to either recompile the kernel or recompile Envoy without tcmalloc

[2022-11-17 21:44] kyessenov commented on #10326
A single access log filter can perform async work by holding onto some state post-request. But this doesn't compose well when there are many access log filters. For example, the first access log filter may fetch some additional metadata out-of-band, that can be used by the second access log filter. This coordination needs some API support.

[2022-11-17 23:35] justinyjsong commented on #24032
This is related to envoy because, its grpc-json transcoding does not seem to allow conversion of byte object correctly.

[2022-11-17 23:40] zuercher commented on #24032
Can you show an example of the JSON that isn't correctly handled by Envoy?

[2022-11-17 23:46] zuercher commented on #24032
But if I understand the question correctly, and by my reading of https://developers.google.com/protocol-buffers/docs/proto3#json, the JSON encoding for an Any message (that isn't one of the special well-known types like google.protobuf.Empty) is a `@type` field alongside the JSON encoded message. So I'm not sure encoding it as `@type` and `bytes` will work for any server that accepts JSON-encoded

[2022-11-18 01:47] jmarantz commented on #16139
Oh great! Do you want to ping me on Slack tomorrow and we can chat? I can outline what needs to be done.

[2022-11-18 03:07] yangyulele opened #24063 "Envoy returns 200 directly without waiting for the end of the request"
Hi community,
I am running a server which using the envoy as a api gateway to convert the http request to grpc and distribute it to the service.
It was a smooth start,but recently I found some problems.I found envoy aways return 200 without waiting for the end of the request.
for example，I added sleep time to my code，the server did return response while sleeping but envoy returned 200 whith empty

[2022-11-18 05:09] cetanu commented on #8297
I was able to get envoy to log to stdout with the following systemd unit

[code]

[2022-11-18 12:01] #23429 closed

[2022-11-18 12:22] gabrielgiussi opened #24067 "How to debug a wasm error?"
*Description*:
I wrote a wasm filter in assemblyscript v 0.19.23 and using https://github.com/solo-io/proxy-runtime v 0.1.15 and it loads correctly but the http call is returning a result code 2 and `proxy_on_http_call_response` is never called.

These are the logs
[code]

The proxy-runtime source code documents that result code as a [BadArgument](https://github.com/solo-io/proxy-runtime/blob/3cde

[2022-11-18 12:42] gabrielgiussi commented on #24067
I removed the authority header because I didn't think it was needed and I thought I've tested putting it back and making no difference, but I've tested again putting the header back and now it is working.
Anyway the question still applies about how should I have debugged this "result 2" if I didn't have the example as a basis, for example where I could find that the authority header is required?

[2022-11-18 15:39] narendrapatel commented on #22365
Hi @robejfarr
Were you able to test the version upgrade.
We currently have some systems on Centos 7 and need to upgrade envoy from 1.20 to 1.21+.

[2022-11-18 16:42] gabrielgiussi commented on #24067
Another thing that I couldn't find documented is the semantic of the returned value `proxy_action_t` in many of the functions like [proxy_on_http_request_headers](https://github.com/proxy-wasm/spec/tree/master/abi-versions/vNEXT#proxy_on_http_request_headers).

The assemblyscript sdk [has meaningful names](https://github.com/solo-io/proxy-runtime/blob/3cdeddde8e4b21f1691c58fc1ec8358ccfbbbba5/assem

[2022-11-18 17:06] rulex123 commented on #16139
I can ping you on Monday and we can catch up then, if that works for you?

[2022-11-18 17:28] sharmamona opened #24073 "RELEASE_ASSERT when creating upstream connection and socket call failed with ENOBUFS"
*Title*: *Envoy is hitting RELEASE_ASSERT when creating upstream connection and socket call failed with ENOBUFS*

*Description*:

From envoy service log
assert failure: SOCKET_VALID(result.return_value_). Details: socket(2) failed, got error: No buffer space available

https://github.com/envoyproxy/envoy/blob/main/source/common/network/socket_interface_impl.cc#L71

Need to add error handling in th

[2022-11-18 17:58] gbrail commented on #23652
https://github.com/envoyproxy/envoy/pull/24064

addresses this and I THINK fixes it. I want to test a bit more with another test case just to verify, and then start to get this reviewed next week and the week after.

[2022-11-18 18:02] acarlson0000 commented on #22365
@narendrapatel - we ended up just building the latest versions and disabling the extensions which don't compile (ie. `tcp_stats` as mentioned in Robs initial PR issue)

[2022-11-18 18:44] dceravigupta commented on #23962
@weisisea would you be able to help me out on this one?

[2022-11-18 20:26] ericorth commented on #23564
Update for the sake of creating activity and keeping this open...  I've been working on research and planning for this.  I plan to start adding a bunch more details soon to the design doc David linked above.

[2022-11-18 23:12] kyessenov commented on #18520
Is anyone working on this? This has come up for us, and it seems fairly low-hanging for cluster name (not so easy for request metadata).

[2022-11-19 00:16] jteplitz opened #24082 "starttls should set ssl info for other filters"
*Title*:  starttls should set the ssl info (such as enabled, ssi, etc...) so that downstream filters can use it

*Description*:

I'm currently using the postgres proxy filter with ssl termination via starttls. This works really well for ssl connections, but I also want to disable cleartext connections. Since postgres connections start in cleartext and upgrade to tls, I can't just use a filter_chai

[2022-11-19 00:26] tehnerd opened #24083 "Question related to delayed connection close and TCP CONNECT"
in https://github.com/envoyproxy/envoy/pull/21423 that delay option was removed for proxy working in CONNECT mode.
Question is: were there any ongoing issues related to this? because in our environment we had an issue w/ npm client connecting through proxy. The issue was that npm registry were clossing connections w/ TCP RST time to time and envoy was sending reset downstream to the npm client.
Cl

[2022-11-19 01:33] #23579 closed

[2022-11-19 08:03] github-actions[bot] opened #24085 "Newer release available `aspect_bazel_lib`: v1.16.3 (current: v1.15.0)"
Package Name: aspect_bazel_lib@1.15.0
Current Version: v1.15.0@2022-10-27
Available Version: v1.16.3@2022-11-18
Upstream releases: https://github.com/aspect-build/bazel-lib/releases

[2022-11-19 08:03] #23875 closed

[2022-11-19 11:44] wbpcode commented on #23213
active

[2022-11-19 20:01] #23471 closed

[2022-11-20 09:47] phlax commented on #23985
tracking trough ci history seems to confirm https://github.com/envoyproxy/envoy/pull/23678 as the culprit

cc @keith

[2022-11-20 14:59] phlax commented on #23985
and reverting that commit reveals that its not just the upload broken but coverage itself.

[2022-11-20 15:39] shilpa87-khushi opened #24095 "envoy process is consuming consistant memory both during idle (no traffic) and drastic memory during traffic with envoy-alpine 1.21.5"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *envoy getting OOM killed during load testing*

*Description*:

previous version 1.17.4 with v2 config did not had any such issue whereas its getting killed 30min -1

[2022-11-20 16:01] #23492 closed

[2022-11-21 02:08] Shuanglu commented on #23559
In addition, would you mind testing the 'stats_tag' in your environment if possible to check if it can be reproduced or there is something wrong with my configuration?

[2022-11-21 03:20] wbpcode commented on #23559
@Shuanglu sorry for the delayed reply.

Seems the root cause is the exist extractor:

![image](https://user-images.githubusercontent.com/12389633/202956579-f97f4974-c4e0-4253-8824-956bd5119a0c.png)

[2022-11-21 03:47] htuch commented on #6614
gRPC has adopted ORCA (and its xDS definitions) as the basis of load reporting for gRPC-LB v2 CC @markdroth. We still do not have any Envoy implementation though, very much open to any contribution PRs here.

[2022-11-21 04:17] ktnrn opened #24097 "OAuth2 - Cookies are not marked httpOnly=true"
*Title*:  OAuth2 filter doesn't mark the cookie as httpOnly=true

*Description*:

*Repro steps*:

Test the application by logging in from the browser.
Open the browser's developer tool and check the cookies set by the envoy's oauth2 filters.
Those cookies are not marked httpOnly=true.

The bug and fix:
File: envoy-1.23.1/source/extensions/filters/http/oauth2/filter.cc

Function: finishFlow
if (con

[2022-11-21 05:49] wbpcode opened #24098 "only apply part of tag extractors to scope prefix of stats"
*Title*: *only apply part of tag extractors to scope prefix of stats*

Regex extractors or token extractors are used to extract tag/tag value from the full stat names. However, the commonly used extractors (cluster name, etc.) could only be applied to the scope prefix to avoid calling extraction to every stat.

It means we can store some tags in the scopes and add them to the final Prometheus tags

[2022-11-21 05:49] wbpcode commented on #24098
cc @jmarantz

[2022-11-21 06:28] Shuanglu commented on #23559
No worries and thanks for the update. May I know the logic behind the conflict of these two extractor like the 1st regex extracts the tag and the 2nd won't be able to find the matched string anymore from the metrics? The reason I ask this is because another two tags 'response_code' and 'evnoy.response_code' work however.

[2022-11-21 06:30] Shuanglu commented on #23559
No worries and thanks for the update.
May I know the logic behind the conflict of these two extractors. Like the 1st one extract the tag and the 2nd regex won't be able to find the matched string in the metrics? The reason I ask this is because other two tags 'response_code' and 'envoy.response_code' work fine.

[2022-11-21 06:36] wbpcode commented on #23559
Sorry, I am not very sure. Seems the dup extractor just will be ignored.

[2022-11-21 08:03] github-actions[bot] opened #24099 "Newer release available `rules_python`: 0.14.0 (current: 0.13.0)"
Package Name: rules_python@0.13.0
Current Version: 0.13.0@2022-09-25
Available Version: 0.14.0@2022-11-20
Upstream releases: https://github.com/bazelbuild/rules_python/releases

[2022-11-21 08:04] wbpcode opened #24100 "http filter: header mutation filter that could be used as normal downstream filter or upstream filter"
*Title*: *http filter: header mutation filter that could be used as normal downstream filter or upstream filter*

*Description*:
`request_headers_to_add` and `response_headers_to_add` and so on in the route are used to mutate request or response headers. However, all these mutations are applied in fixed position.

It would be more flexible because these mutations could run in any position of http

[2022-11-21 08:34] caoyukun0430 commented on #23843
Hi @nezdolik  @KBaichoo is there any update here or is there any plan for some PR/fix for this one?

[2022-11-21 09:09] phlax opened #24101 "` //test/extensions/filters/http/ext_proc:ext_proc_integration_test` is flakey"
example failure:

[code]

https://dev.azure.com/cncf/envoy/_build/results?buildId=120849&view=logs&j=bbe4b42d-86e6-5e9c-8a0b-fea01d818a24&t=e00c5a13-c6dc-5e9a-6104-69976170e881&l=11744

[2022-11-21 09:09] phlax commented on #24101
cc @mpwarres @gbrail

[2022-11-21 09:12] phlax commented on #24101
cc @tkovacs2

[2022-11-21 10:57] #24036 closed

[2022-11-21 12:23] columbus9963 opened #24103 "envoy h3 support with chrome web failed"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
I‘m using chrome client(107.0.5304.107) and quic enabled envoy proxy(v1.23.1)  for h3 web testing, but facing version negotiation error
![imag

[2022-11-21 13:56] jmarantz commented on #24098
This is an interesting idea. But do we have data (flame-graphs) showing that tag-extraction is the bottleneck here?

There's been a lot of optimization around tag-extraction already and it's not clear that working on this can move the needle, at least in the scenarios I looked at.

[2022-11-21 14:32] alyssawilk commented on #15953
hmmm, this should work with modern chrome.  cc @danzh2010 @RyanTheOptimist

[2022-11-21 14:45] wbpcode commented on #24098
Rather than `bottleneck`, I just think this is a point that we could do better.

[2022-11-21 14:51] wbpcode commented on #24098
If flame graph is necessary, any suggestion to this graph generation? I have no much experience about the performance evaluations of main thread.

[2022-11-21 14:59] renuka-fernando commented on #23844
Hi @tyxia,
Thank you very much for working on this.

[2022-11-21 15:49] tehnerd commented on #24083
That would be awesome. Thanks

[2022-11-21 16:16] tyxia commented on #23844
No problem. You can close this issue now. If you have other problems or needs, just let me know

[2022-11-21 16:34] yanavlasov commented on #24082
The postgress filter needs to be enhanced to set metadata that RBAC can match on.

[2022-11-21 16:48] cshah04 commented on #23353
Facing a similar issue when building for FIPS mode
@plallin were you able to build it successfully ?

`Repository rule http_archive defined at:
  /build/tmp/_bazel_root/b570b5ccd0454dc9af9f65ab1833764d/external/bazel_tools/tools/build_defs/repo/http.bzl:336:31: in <toplevel>
WARNING: Download from https://github.com/googleapis/googleapis/archive/82944da21578a53b74e547774cf62ed31a05b841.tar.gz fail

[2022-11-21 17:01] plallin commented on #23353
So I'm not sure what exactly is your set up so I have to take assumptions...

So my guess here is you are behind a proxy and you've edited the `repository_locations.bzl` to point to your proxy. This does not work, because of recursive dependencies. You get over the first layer of dependencies (the ones from `repository_locations.bzl`) and then those dependencies download more dependencies and thos

[2022-11-21 17:10] mpwarres commented on #24101
cc @pradeepcrao

[2022-11-21 17:29] cshah04 commented on #23353
I tried both ways with proxy and without proxy, in both ways I had the same issue. And I even tried with the FIPS mode and you were right, I got similar issue. Anyway, I tried with your the above patch and still having issues, Do I need to pass any arguments ?

No remote cache is set, skipping setup remote cache.
ENVOY_SRCDIR=/source
ENVOY_BUILD_TARGET=//source/exe:envoy-static
ENVOY_BUILD_ARCH=x8

[2022-11-21 17:30] vitruvvius commented on #23994
Thanks @alyssawilk!

Great to hear. I'll note 16 / K connections opened into a pool, requests sent w/ out ordering.

[2022-11-21 17:30] #23994 closed

[2022-11-21 17:45] rakeshdatta opened #24111 "xDS: Ability for old connection to see the new config"
*Title*: Ability for old connection to see the new config after an xDS (eg LDS) config update.

*Description*:
While implementing ListenerFCDS, I am pondering an idea. I want to provide a command line option to optionally disable draining
on filter chain updates.
- This would allow the connection to close on its own
- Long-running connection to remain unimpacted.

However, am unsure if the old con

[2022-11-21 17:49] kyessenov commented on #23583
This is true, we need https://github.com/envoyproxy/envoy/issues/20666 to support lists as matching data. My PR https://github.com/envoyproxy/envoy/pull/22139 went stale so if anyone wants to complete, all the pieces are ready.

[2022-11-21 18:16] jmarantz commented on #13068
/sub

[2022-11-21 18:21] plallin commented on #23353
So it appears the server you are running this from does not have Internet access. You could try the following curl to confirm:
[code]

As far as I'm aware this is not doable. I have tried for a while to build envoy "offline" or behind proxies and this always fail due to recursive dependencies.

I don't know how to fix it - and if I'm honest I don't think this can be fixed.

I would recommend that

[2022-11-21 18:27] phlax commented on #23353
i might be wrong but i think the issue is that you are only fetching the envoy deps not the api ones

not sure exactly how `bazel sync` works - but i would try running it on/from the api dir if poss

[2022-11-21 18:38] kyessenov commented on #24111
I think this would be great for something like RBAC. The generic filter API doesn't have a provision to re-apply new config for old streams (and stream data is not cached), so that's probably to focus on. ECDS is also similar in that it can be reloaded while stream is in progress.

[2022-11-21 18:50] moderation commented on #15953
Looks like @columbus9963 opened issue https://github.com/envoyproxy/envoy/issues/24103

[2022-11-21 19:48] or-adar opened #24113 "Question regarding tcp proxy src ip"
Hi,
I have a use case where I want to use envoy as a proxy to forward TCP & TLS traffic to a service (running in my k8s cluster).
for the following traffic flow: `client -> envoy -> service`
I need the src ip to remain the same (based on the client IP) for TCP & TLS traffic that is meant for my service.
is it possible? how do I configure such thing for TCP proxy? does envoy handles responses on th

[2022-11-21 19:48] danzh2010 commented on #24103
Envoy only support QUIC RCF v1 and we are not planning to support earlier version of QUIC. Chrome version 107.0.5304.107 is fairly new and it should support RCF v1, from the above netlog it is still hard to tell why it didn't finish the version negotiation.

[2022-11-21 20:00] RyanTheOptimist commented on #24103
Draft-29 is explicitly disabled in Envoy here:

https://sourcegraph.com/github.com/envoyproxy/envoy/-/blob/source/common/quic/platform/quiche_flags_impl.cc?L31

As Dan say, RFC v1 should be enabled by default in Chrome. Did you explicitly enable -29 with a command line flag? Envoy should also not be advertising support for -29, so I'm quite surprised that Chrome attempted a -29 handshake.

[2022-11-21 20:49] phlax opened #24119 "Ensure coverage is working continuously"
A recent bazel update broke coverage, so we could do with some tests to ensure it doesnt happen again

[2022-11-21 20:52] phlax opened #24120 "Catch up missing coverage"
Coverage has been failing recently and this has led to some files landing without sufficient coverage

[2022-11-21 20:53] phlax commented on #24120
cc @alyssawilk

[2022-11-21 22:58] phlax opened #24133 "CI cache is fu, windows CI is permafailing (with warning) - related to caching and EM integration"
[code]

https://dev.azure.com/cncf/envoy/_build/results?buildId=121234&view=logs&j=b840a642-5ff3-5357-2e4b-e06e40b0cffd&t=e43dc67b-4e7c-5265-2fdd-c7f2fc0e1894&l=12

[2022-11-21 22:59] phlax commented on #24133
cc @alyssawilk @lizan

[2022-11-21 23:00] #23985 closed

[2022-11-21 23:05] marcbachmann commented on #10139
Looks like it's still required. There's an error if `--restart-epoch` is not provided
[code]

[2022-11-21 23:23] phlax commented on #24101
this seems to affect ~all stable branches

example fail on 1.22 branch

[code]

https://dev.azure.com/cncf/envoy/_build/results?buildId=121226&view=logs&j=bbe4b42d-86e6-5e9c-8a0b-fea01d818a24&t=e00c5a13-c6dc-5e9a-6104-69976170e881&l=929

we have been tracking down and fixing other flakes on these branches - im wondering if fixing one issue is exposing another

[2022-11-21 23:24] phlax commented on #24101
actually - noticing its not the same test (apologies for noise if that is the case)

[2022-11-22 00:49] weisisea commented on #23962
Sorry for the late reply.

Envoy supports individual passwords for different clusters:
https://github.com/envoyproxy/envoy/blob/dede92e6e5888cdf27320bf3b6bc9987657d6e22/test/extensions/filters/network/redis_proxy/redis_proxy_integration_test.cc#L238-L271

But I don't think Envoy currently supports different passwords for different endpoints in the same cluster. Envoy Redis filter authenticates the

[2022-11-22 00:51] daixiang0 commented on #23238
Seems it can not detect platform:
[code]

[2022-11-22 00:52] daixiang0 commented on #23238
/cc @phlax  @zirain

[2022-11-22 00:55] daixiang0 commented on #23238
The expected platform is `linux-amd64-impl`

[2022-11-22 00:58] wbpcode commented on #24063
It's UPE.

[code]

May be there are some protocol errors?

[2022-11-22 00:59] yangyulele commented on #24063
Hello  我会尽快回复的。

[2022-11-22 00:59] wbpcode commented on #24063
cc @qiwzhang

[2022-11-22 01:11] arjunsingriuber opened #24135 "Measure/Detect client side timeout"
*Title*: Measure/Detect downstream timeout (client side timeout)

*Description*:
How can we detect if the caller/client of EnvoyProxy has timed out on a request? Is there a way to detect this from EnvoyProxy?

[2022-11-22 01:19] #23844 closed

[2022-11-22 01:52] PeterL328 opened #24136 "CURL fails to make call to IMDS in AWS request signing filter if Envoy process uses over 1024 file descriptors"
*Title*: *CURL fails to make call to IMDS in AWS request signing filter if Envoy process uses over 1024 file/socket descriptors*

*Description*:
CURL fails to make call to IMDSv1 in [AWS request signing filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/aws_request_signing_filter) if Envoy process uses over 1024 file/socket descriptors.

*Potential cause*:
From my

[2022-11-22 02:03] columbus9963 commented on #24103
when chrome has enabled quic as above, trying h3 stream to envoy proxy still failed, the packet and error as below:
![image](https://user-images.githubusercontent.com/57693768/203197428-0188e875-a566-4467-a593-dea4ccac5b59.png)
![image](https://user-images.githubusercontent.com/57693768/203197277-4c9f0b5c-bdf0-466b-b0d3-3ab4e50eca46.png)
Meanwhile I'm using firefox client(enabled quic, version: 10

[2022-11-22 03:57] sc0ttbeardsley commented on #24136
great find @PeterL328 ! 👏

[2022-11-22 04:23] YvesZHI opened #24137 "How to control the timeout of response from Envoy to downstream"
I used Envoy as the gateway of my backend HTTP web servers. Here is a common req/res chain:
[code]
So `a + b` is the request chain, and `c + d` is the response chain.

For now I know we have two kinds of timeout: [http request timeout](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto#envoy-v3-api-field-extensions

[2022-11-22 04:46] shibin-george commented on #23811
@hbagdi - would you mind sharing the config for this? I was able to get envoy work as a forward proxy for http calls, but I get a 404 with the https ones.
Here's the config I'm currently working with and can't figure why https results in a 404
[code]

[2022-11-22 06:49] shibin-george opened #24139 "Dynamic forward proxy with connect termination"
*Description*:
I am trying to set up Envoy to act as a forward proxy for my internet-outbound needs.
essentially, `curl -x <Envoy-service's public IP>:<listener port> xyz.com`
should result in Envoy starting a TCP tunnel between client (curl) and destination.

Here's the config that I'm using:
[code]

When I run `curl -x IP:10010 https://api.ipify.org -v`, here's the output I get:
[code]
If the de

[2022-11-22 07:31] weisisea commented on #23962
After reading the code a little more, I realized that the previous comment is related to the downstream authentication, instead of the upstream authentication, which the question is about.

Currently, an upstream connection pool has one password:
https://github.com/envoyproxy/envoy/blob/dede92e6e5888cdf27320bf3b6bc9987657d6e22/source/extensions/filters/network/redis_proxy/conn_pool_impl.h#L183
htt

[2022-11-22 07:43] phlax opened #24140 "`//test/extensions/filters/http/tap:tap_filter_integration_test` is flakey"
I havent seen this on `main` recently but i have seen it on (iirc) all the other branches

not sure if that means its fixed or just rare/mittigated

example failure:

[code]

https://dev.azure.com/cncf/envoy/_build/results?buildId=121167&view=logs&j=767be981-567e-57d8-68c3-2140ede0a0bd&t=1fb0b72f-6293-562d-a4d1-bb649223eaca&l=1905

[2022-11-22 07:48] phlax opened #24141 "`//test/integration:sds_dynamic_integration_test` is flakey (at least on 1.23.x)"
Example failure:

[code]

https://dev.azure.com/cncf/envoy/_build/results?buildId=121255&view=logs&j=767be981-567e-57d8-68c3-2140ede0a0bd&t=1fb0b72f-6293-562d-a4d1-bb649223eaca&l=2106

[2022-11-22 08:03] github-actions[bot] opened #24142 "Newer release available `com_github_grpc_grpc`: v1.51.0 (current: v1.49.0)"
Package Name: com_github_grpc_grpc@1.49.0
Current Version: v1.49.0@2022-09-14
Available Version: v1.51.0@2022-11-21
Upstream releases: https://github.com/grpc/grpc/releases

[2022-11-22 08:03] #23729 closed

[2022-11-22 08:03] #23950 closed

[2022-11-22 08:03] #23815 closed

[2022-11-22 08:22] phlax commented on #23238
i dont have any mac hardware to test anything on so probs cant help too much - agreed it looks like its not detecting the platform correctly

[2022-11-22 08:54] phlax commented on #24133
this is also blowing the cache on other jobs even if its not failing (just warning)

[code]
https://dev.azure.com/cncf/envoy/_build/results?buildId=121265&view=logs&j=d56d8cbf-a81f-59e6-8c88-0420601e1aa0&t=7b26cdff-ffa2-5068-0ba0-e5918bce8157&l=12

[2022-11-22 09:09] phlax commented on #24133
this is messing up all caches

https://dev.azure.com/cncf/envoy/_build/results?buildId=121277&view=logs&j=55bc2ab9-36c1-5ab8-58a6-8c258728eeff&t=0202f152-2735-54e0-4297-c9b62e85c3ac&l=2842

[2022-11-22 11:05] chlunde commented on #17613
I wonder if enabling this header as a boolean flag should be supported (which would set it to the configured downstream idle timeout), not just "setting the header including the timeout value"?
This way we could enable "send_keepalive_timeout" by default, without knowing the actual value, and then have other configuration setting the actual idle_timeout depending on the needs of each service.

If

[2022-11-22 12:01] #22905 closed

[2022-11-22 12:53] phlax opened #24147 "Some mobile CI jobs are timing out"
Probably we just need to bump some timeouts

Example fail:

https://github.com/envoyproxy/envoy/actions/runs/3523128731/attempts/1

[2022-11-22 12:56] phlax commented on #24147
https://github.com/envoyproxy/envoy/actions/runs/3523301616/attempts/1

[2022-11-22 13:51] #24133 closed

[2022-11-22 14:18] shoot16625 opened #24149 "Redis: SELECT command is not supported ?"
*Title*: *Redis: SELECT command Is not supported ?*

*Description*:
Hi community,
I want to use envoy proxy by specifying redis database number.
However, when using envoy proxy, if you specify more than DB No.1, `unsupported command 'select'` error will occur.
And [SELECT](https://redis.io/commands/select/) command is not listed in [redis.rst#supported-commands](https://github.com/envoyproxy/envoy

[2022-11-22 16:01] cshah04 commented on #23353
The server I am running this does have internet access & I tried the above command and was able to get the content.
But somehow when I run the bazel command, something is goes wrong and I end up with the above errors

[2022-11-22 17:07] suniltheta commented on #23076
no stale

[2022-11-22 19:58] yurykats opened #24154 "Improve memory efficiency of config data structures"
When XDS config is converted from protobuf into C++ data structures, those data structures are not always as memory efficient as the protobufs, leading to large memory consumption.

Optional sub-messages are often stored as full blown objects, even when the config for them isn't present.

An example of that is RetryPolicy in RDS:
* Route holds an instance of RetryPolicyImpl class: https://github.c

[2022-11-22 20:00] mkauf opened #24155 "Different stream IDs in the application log (ENVOY_STREAM_LOG) and the access log (%STREAM_ID%)"
Commit 04dd76b051c99f82abda081e1d04cac38667ef88 added `%STREAM_ID%` for the access log. But this stream ID is not the same as in the application log: `ENVOY_STREAM_LOG()` and `%STREAM_ID%` log different stream IDs. This is confusing.

*Example from the application log:*
[code]
Here, `S16272860808686838220` is the stream ID, logged with the macro `ENVOY_STREAM_LOG()`.

*Example from the access log,

[2022-11-22 20:57] tyxia opened #24156 "CI github actions are not associated with repokitteh `/retest`"
*Title*: *The new eng-flow work is not associated with repokitteh retest*

*Description*:

Envoy CD/CI has new eng-flow tests like `python_test` or `objc_helloworld` but they are flaky sometimes and could be failed due to test infra issue. (e.g. https://github.com/envoyproxy/envoy/actions/runs/3525319287/jobs/5911893897)

Re-running the test can fix them sometimes (at least both of failures are fi

[2022-11-22 21:13] tyxia commented on #24156
cc @phlax

Just FYI, I am not sure if it is something that you are in charge of.

[2022-11-22 21:40] l8huang commented on #23976
https://github.com/envoyproxy/envoy/issues/16139 is about memory issue, which is different from this issue.

This issue is about CPU usage, one option is splitting Admin API and XDS config update to different threads(Admin API on main thread, moves XDS config update to another thread; vice versa). What's your thought? @jmarantz

[2022-11-22 22:54] jmarantz commented on #23976
#16139 's title is about memory but it's just as much about CPU. @rulex123 is going to work on this (yay!). I believe the CPU overhead will be reduced considerably once we are not copying the entire set of stats three times (once into maps, the second time into a giant string, the third time into a giant Buffer). Once that lands lets re-measure and see if we want to use another thread.

Another th

[2022-11-23 00:08] gbrail commented on #24101
On my machine, two particular tests in ext_proc_integration_test were failing often enough.

One is related to the "partial buffering" mode. I'm also working on some issues with that mode in:

https://github.com/envoyproxy/envoy/issues/23652

Furthermore, the PR I submitted to fix that issue eliminates test flakes for one of the two that fails for me:

https://github.com/envoyproxy/envoy/pull/2406

[2022-11-23 01:49] l8huang commented on #23976
@jmarantz Thank you and @rulex123, it's great to hear that CPU consumed by Admin API call(especially `/stats/promethues`) will be reduced by streaming.

IMHO, splitting admin handlers and XDS update to different thread is still desirable -- considering the scenario which has multiple scrapers call `/stats/promethues` in short interval and the number of metrics is large, the XDS update(state-of-wor

[2022-11-23 02:17] blakeromano opened #24159 "OpenTelemetry/Tracing Service Name Override"
The ability to configure the structure of service names for opentelemetry data gathered by envoy.

*Description*:
Currently Envoy only supports one naming convention for services sending opentelemetry data `localEndpoint.ServiceName` and I'd love to see a way to override this default naming convention. Using some sort of syntax like `%SERVICE_NAME%-%LOCAL_ENDPOINT%` to turn it into `ServiceName-lo

[2022-11-23 02:35] columbus9963 commented on #24103
The same cert file works fine with chrome client in h2 procotol，but sent certificate unknown error in h3 tls handshake. I think there may be some gap between chrome and envoy in h3 implementation. Could you give some help for sharing a simple testcase using chrome + envoy to implement h3 web comunication? I had already tried my best to make envoy for h3 production use, but still failed with chrome

[2022-11-23 03:18] batchamalick commented on #19612
Just in case if anyone is looking for a working config ,I'm sharing which worked for me for `curl -x http://ip:10000 https://google.com`
[code]

[2022-11-23 05:31] shibin-george commented on #24139
@batchamalick I noticed that you posted a config [here](https://github.com/envoyproxy/envoy/issues/19612#issuecomment-1324500543) that terminated CONNECT and creates tunnel to destination. I amt rying basically the same thing but all I get is 404s for some reason.
Any ideas on where am I going wrong? Thanks!

[2022-11-23 05:55] asaha123 commented on #865
Sharing some in progress work.

I currently have a verification script: https://github.com/atlassian-forks/envoy/blob/314f274a62461a4fb1f52ad891363c0b0b79188f/examples/grpc-s2s/verify.sh - the comments sort of explain what is currently happening.

[2022-11-23 07:26] shibin-george commented on #24139
Oh yeah, 10010 is the kubernetes service's port that exposes the envoy deployment. My envoy port is 10000, and the service's port 10010 gets translated to 10000

[2022-11-23 07:31] batchamalick commented on #24139
I'm not sure what envoy you are running but with the same config you shared I can do the test.
[code]
My envoy version
[code]

[2022-11-23 07:57] phlax commented on #24156
i think we need this - tracking through the github actions is a PITA

ive changed the title to make it clearer the issue - altho im now wondering if `/retest` works with any of the github actions

@itayd is this something we can address?

[2022-11-23 08:01] #23464 closed

[2022-11-23 08:01] #23473 closed

[2022-11-23 08:01] #23477 closed

[2022-11-23 08:03] github-actions[bot] opened #24162 "Newer release available `com_github_google_flatbuffers`: v22.11.22 (current: v22.10.26)"
Package Name: com_github_google_flatbuffers@22.10.26
Current Version: v22.10.26@2022-10-26
Available Version: v22.11.22@2022-11-22
Upstream releases: https://github.com/google/flatbuffers/releases

[2022-11-23 08:03] github-actions[bot] opened #24163 "Newer release available `proxy_wasm_rust_sdk`: v0.2.1 (current: v0.2.0)"
Package Name: proxy_wasm_rust_sdk@0.2.0
Current Version: v0.2.0@2022-04-08
Available Version: v0.2.1@2022-11-22
Upstream releases: https://github.com/proxy-wasm/proxy-wasm-rust-sdk/releases

[2022-11-23 08:05] phlax commented on #24163
@PiotrSikora im wondering if we should pick this up while upgrading proxy-wasm-host/wasmtime

[2022-11-23 08:18] phlax opened #24164 "Wasm coverage disabled due to `rules_rust` update"
Not sure why CI didnt fail in presubmit, but the recent update to `rules_rust` has broken ci (#22253 )

Fail is:

[code]

https://dev.azure.com/cncf/envoy/_build/results?buildId=121396&view=logs&j=bbe4b42d-86e6-5e9c-8a0b-fea01d818a24&s=4f7d954b-a765-565f-91a2-c04870dab43f&t=e00c5a13-c6dc-5e9a-6104-69976170e881&l=147

[2022-11-23 08:20] phlax commented on #24164
cc @PiotrSikora

[2022-11-23 08:22] phlax commented on #24164
possibly related https://github.com/rust-lang/rust/issues/81684

[2022-11-23 09:22] phlax commented on #24164
seems we may need to add `--linkopt=-noprofilelib` somewhere

https://github.com/bazelbuild/rules_rust/pull/1324#issuecomment-1120467263

[2022-11-23 10:00] phlax commented on #24164
test pr here - #24168

[2022-11-23 10:03] wbpcode commented on #24164
I am not sure how to disable some specified test cases.

But it wouldn't be hard to add additional linkopts to some test cases.

[2022-11-23 10:04] phlax commented on #24164
im grepping around but not sure where to add - i have tried adding to the wasm binary rule in my test PR but not sure that is correct

[2022-11-23 10:32] wbpcode commented on #24164
Hmmm, I just readed the error log. Seems that it's error from the rust runtime. But you added opts to the normal c++ wasm.

[2022-11-23 10:34] phlax commented on #24164
clutching at straws 8/

can you point me to where it should go ?

[2022-11-23 10:37] phlax commented on #24164
perhaps in `test/extensions/common/wasm/test_data/BUILD`

[2022-11-23 10:39] phlax commented on #24164
hmm - not sure about ^^ - they just seem to point to the rules i already hacked (which didnt work incidentally)

[2022-11-23 10:43] wbpcode commented on #24164
In fact, I am also searching rust rule for now and find nothing about the linkopts

[2022-11-23 10:46] phlax commented on #24164
`rustc_flags` perhaps

[2022-11-23 10:47] phlax commented on #24164
its this that is failing

[code]
in `test/extensions/common/wasm/test_data/BUILD`

altho i guess it would fail elsewhere so if this fixes - i think we want to put it in the `wasm.bzl` file

[2022-11-23 10:54] phlax commented on #24164
testing this on test PR

[code]

[2022-11-23 10:54] wbpcode commented on #24164
I don't know how to disable the whole test case. But seems that the `rust wasm` is an optional data input of test case, we can just disable this data input for coverage test to fix the ci first. Maybe we can give it a try?

[code]

[2022-11-23 10:55] phlax commented on #24164
cool - if my hack above doent work then lets do that

[2022-11-23 11:09] phlax commented on #24164
for ref `rustc_flags` implementation is here

https://github.com/bazelbuild/rules_rust/blob/61b99cdd18dc918c9023e02431b40496b229e67c/rust/private/rustc.bzl#L1847-L1857

[2022-11-23 11:47] phlax commented on #24140
this seems to be pretty frequent on all of the branches - i think `main` just benefits from more caching

[2022-11-23 14:38] alyssawilk commented on #23758
Known missing things
-- swift lint because I can't get it to work.
-- perf (https://github.com/envoyproxy/envoy/pull/24153)
-- release validation
-- release

-- all cron workflows (weekly release, release, etc)

[2022-11-23 15:35] PiotrSikora commented on #24163
@phlax sure, it's a tiny release, so hopefully it should be a trivial update.

[2022-11-23 15:39] alyssawilk commented on #23758
perf turned up in  (https://github.com/envoyproxy/envoy/pull/24153)

[2022-11-23 15:41] alyssawilk commented on #23758
@jpsim @Augustyniak I think we're at a point we should flip source of truth to the Envoy repo, and do a weekly copy into the E-M repo until we fix up tagging and releases.  I've snagged some time on JP's calendar to talk about it next week on the assumption he'll find a time that works and invite whoever is relevant on the Lyft side.

[2022-11-23 16:01] #23459 closed

[2022-11-23 17:00] RyanTheOptimist commented on #24103
Please collect a Chrome net log. https://www.chromium.org/for-testers/providing-network-details/

[2022-11-23 17:17] #23594 closed, assigned to agrawroh

[2022-11-23 17:54] nulltrope opened #24180 "Documentation: runtime tracing.random_sampling inaccurate with Datadog provider"
*Title*: *Documentation: runtime tracing.random_sampling inaccurate*

*Description*:
The [Runtime documentation](https://www.envoyproxy.io/docs/envoy/v1.20.0/configuration/http/http_conn_man/runtime#config-http-conn-man-runtime-random-sampling) for `tracing.random_sampling` states that the value should be between 0-10000, however in my testing it seems that in reality, any value >= 100 will result

[2022-11-23 21:32] keertk opened #24183 "Flag --incompatible_config_setting_private_default_visibility will break Envoy in Bazel 7.0"
Incompatible flag `--incompatible_config_setting_private_default_visibility` will be enabled by default in the next major release (Bazel 7.0), thus breaking Envoy. Please migrate to fix this and unblock the flip of this flag.

The flag is documented here: https://github.com/bazelbuild/bazel/issues/12933.

Please check the following CI builds for build and test results:

- [Ubuntu 20.04, OpenJDK 11

[2022-11-23 22:38] dvob commented on #19664
@prateek0394 we have similar problems in our environment. To avoid such errors you should set the max connection time of the HTTP client (your customer) lower then the max connection time on Envoy. This way the client will terminate the connection and you don't have the case where Envoy is closing the connection and at the same time the client tries to send data.
In many cases it probably also mak

[2022-11-23 22:43] #24022 closed

[2022-11-24 00:09] yurykats commented on #24154
/assign @yurykats

[2022-11-24 01:58] deva26 commented on #21851
We would be very much interested in this feature getting implemented. +100

[2022-11-24 02:05] htuch commented on #6602
@snowp @mattklein123 should we consider this work closed by the generic matchers?

[2022-11-24 02:17] wbpcode opened #24186 "generic proxy: drain support"
Add drain support to the generic proxy.

[2022-11-24 02:36] wbpcode commented on #24067
This is more like a conventional rule. `:path`, `:authority`, and `:method` are required headers for normal http call.

[2022-11-24 02:39] wbpcode commented on #24067
And If want debug `result 2` (BadArgument), some backgrond knowledge of Envoy is necessary.

You can find `WasmResult::BadArgument` easily from envoy source code. Sometimes a quick `grep` can solve lots of problems.
For example:
[code]

[2022-11-24 02:41] wbpcode commented on #24067
cc @PiotrSikora

[2022-11-24 02:49] wbpcode commented on #24073
When a socket call fails, we always think it a extream unusual case and quick down is best choice for now (just like memory allocation failure).
It's a little hard to find a better and sound solution for this problem.

cc @mattklein123

[2022-11-24 02:50] euroelessar commented on #6602
Does it allow making sub-linear route matching for action selection? (e.g. we are interested in an ability to select cluster & add some per-route metadata for stats/access logs)

[2022-11-24 02:54] wbpcode commented on #24095
A profile would always be helpful for the  performance problem or potential memory leak.

See https://github.com/envoyproxy/envoy/blob/main/bazel/PPROF.md

[2022-11-24 02:56] wbpcode commented on #24095
And could you provide your load test config? (And it would also be great if you can try the latest envoy version 1.24.0 first to see if this problem is fixed or not

[2022-11-24 03:14] wbpcode commented on #24113
As far as I know, seems it's impossible? 🤔

cc @alyssawilk

[2022-11-24 03:17] wbpcode commented on #24135
If the caller timeout, the caller should cancel the request, right? Then envoy will presume that the caller is timeout.

And if the caller is envoy, an `expect-rq-timeout` header would be also helpful.

[2022-11-24 03:20] wbpcode commented on #24136
Thanks for this great find. And could you also create a RP for this fix (may be after the curl releases a new version)?

[2022-11-24 03:21] wbpcode commented on #24136
cc @derekargueta

[2022-11-24 03:26] wangfakang commented on #24164
I'm alose meet the same issue:
https://dev.azure.com/cncf/envoy/_build/results?buildId=121458&view=logs&j=bbe4b42d-86e6-5e9c-8a0b-fea01d818a24&t=e00c5a13-c6dc-5e9a-6104-69976170e881&l=224

[2022-11-24 03:30] wbpcode commented on #24137
Is there any requirement that need to control the timeout of d?

d is the time that the envoy send response to the client. The client may care about this time. But envoy doesn't care about it.

[2022-11-24 03:33] arjunsingriuber commented on #24135
Is there a metric emitted when the caller is timed out and it cancels the request?

[2022-11-24 03:35] wbpcode commented on #24139
cc @alyssawilk

[2022-11-24 03:37] wbpcode commented on #24149
cc @weisisea @mattklein123

[2022-11-24 03:52] euroelessar commented on #6602
Actually, scratch my comment, I've just noticed that envoy has generic matchers support for routing, which covers my use case.
Should marking it as stable be considered as a pre-requisite for closing the issue though?

[2022-11-24 03:55] wbpcode commented on #24155
As the document explained, %STREAM_ID% is unique id for abstract stream (HTTP request, long-live HTTP2 stream, TCP connection, etc.). It's used for logging, tracing and any external observability. **It's unique even cross different envoy instances.**

And the id in the ENVOY_STREAM_lOG is the inner state of HTTP stream. It's make no big sense for external observe system. In most case, it just used

[2022-11-24 04:01] #21812 closed

[2022-11-24 04:21] wbpcode commented on #24180
Seems that the imlementation is different with the docs' description. You can try to specify a fractional percent directly with a proto struct. Or the integer value will be treat as percent value with a denominator 100.

[code]

Should we fix the implementation or just update the doc? @phlax (Seems update doc)

[2022-11-24 04:25] wbpcode commented on #24183
Hi, @keith could you take a look for this when you have free time? Thanks.

[2022-11-24 04:51] wbpcode commented on #24135
There are no direct stats for it. But `downstream_cx_destroy_remote_active_rq` could be used as a reference.

[2022-11-24 05:27] itayd commented on #24156
If there is an endpoint in github's API that allows to retry an action that shouldn't be an issue. I guess this might be it? https://docs.github.com/en/rest/actions/workflow-runs#re-run-a-job-from-a-workflow-run

[2022-11-24 07:49] dspo opened #24188 "the envoy panic when I `proxywasm.GetProperty([]string{"request", "headers"})` in go-wasm plugin"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

the envoy panic when I `proxywasm.GetProperty([]string{"request", "headers"})` in go-wasm plugin

the logs

[code]

[optional

[2022-11-24 07:51] Naskitu opened #24189 "independent filters be made depending on the target"
hello.

can independent filters be made depending on the target?

For example

   regex: "/.*.test".
                route:
                  cluster: target
          http_filters:
          - name: envoy.filters.http.jwt_authn
              - name: envoy.grpc_web

   regex: "/.*/hello"
                route:
                  cluster: target2
          http_filters:
              - name: envoy.c

[2022-11-24 07:58] Naskitu opened #24191 "CORS allowmethods not working"
I am trying to test allowmethods,
however envoy, setting whatever method it is, keeps going, so it doesn't work.

I have tried these two configurations, always with the same result, the back is returning unsupported method, instead of envoy.

              cors:
                allow_origin_string_match:
                - safe_regex:
                    google_re2: {}
                    regex: \*

[2022-11-24 08:01] #23461 closed

[2022-11-24 08:03] github-actions[bot] opened #24192 "Newer release available `com_github_google_flatbuffers`: v22.11.23 (current: v22.10.26)"
Package Name: com_github_google_flatbuffers@22.10.26
Current Version: v22.10.26@2022-10-26
Available Version: v22.11.23@2022-11-23
Upstream releases: https://github.com/google/flatbuffers/releases

[2022-11-24 08:03] #24162 closed

[2022-11-24 08:03] github-actions[bot] opened #24193 "Newer release available `io_bazel_rules_go`: v0.36.0 (current: v0.35.0)"
Package Name: io_bazel_rules_go@0.35.0
Current Version: v0.35.0@2022-09-11
Available Version: v0.36.0@2022-11-23
Upstream releases: https://github.com/bazelbuild/rules_go/releases

[2022-11-24 08:13] dspo opened #24194 "`proxywasm.GetProperty([]string{"request", "path"})` got an empty result and and error in the response processing phase"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

zh_CN: 我想获取到上游服务接收到的 request path (被重写后的 path), 但是我用 `proxywasm.GetProperty([]string{"request", "path"}) ` 只得到了一个 空的结果和一个 err

[2022-11-24 08:33] phlax opened #24195 "Yamllint is only checking `.yaml` files (and not `.yml`)"
This has allowed the inclusion of a lot of files that fail linting

I can fix the linter and the files

[2022-11-24 08:45] phlax commented on #24194
which version of Envoy are you using ?

[2022-11-24 08:50] YasiruShaminda opened #24196 "Set multiple AWS Lambda Filter credentials"
Right now, only single credentials can be provided for the aws lambda filter, right? Is it possible to assign Multiple AWS Credentials to it?

[2022-11-24 10:58] phlax commented on #24147
this can happen even when there is almost no contention on the pipelines so i think we need to increase the timeouts anyway

the problem seems to get a lot worse when there is more contention (ie us wakes up and submits prs) so not sure if this will fully resolve

[2022-11-24 11:03] LuyaoZhong commented on #23811
@hbagdi Is this what you required? https://github.com/envoyproxy/envoy/issues/18928

[2022-11-24 11:22] PeterL328 commented on #24136
Sure, no problem.

[2022-11-24 11:24] LuyaoZhong commented on #23811
@shibin-george https://github.com/LuyaoZhong/envoy/edit/bumping-integ/tls_bumping/splicing_w_connect.yaml?pr=%2Fenvoyproxy%2Fenvoy%2Fpull%2F23192 this might help, you could give it a try.

[2022-11-24 12:01] #23514 closed

[2022-11-24 14:57] #24119 closed

[2022-11-24 15:30] #24147 closed

[2022-11-24 16:35] gabrielgiussi commented on #24030
I wrote the wasm filter and run a very simple load test using k6 to compare against the envoy sidecar using the lua filter and I'm having a slightly worst 99 percentile with the wasm filter, specially at the beginning of the load test.
I wonder if at least in theory my implementation in the wasm filter is better than the lua filter, mainly because avoids blocking io by doing an http call in the ba

[2022-11-24 16:45] rulex123 opened #24205 "[gcp_authn] Support for ahead-of-time fetching of tokens"
*Title*: Have gcp_authn filter support ahead-of-time fetching of tokens

*Description*:
Right now, the filter supports fetching tokens in an "on-demand" fashion, with the value for audience
being the URL of the destination service. Thus, the first incoming request that will be routed to
the destination service will incur the extra cost of fetching the token from the GCE metadata server.
Similarly,

[2022-11-24 22:48] shibin-george commented on #24139
alright, so this is tricky and I don't quite know how to explain this. Here's what is happening:
- I deploy envoy forward-proxy (with config same as what I mentioned at the top) in a kubernetes cluster.
- Then, I expose the deployment as a Kubernetes service.
  - `kubectl expose deployment envoy-forward-proxy --type=LoadBalancer --name=envoy-forward-proxy --port=10010 --target-port=10000`
  - This

[2022-11-25 03:34] GitHubAmos commented on #18038
/etc/security/limits.conf  add as fllows :
   root    soft     nofile  65535
   root    hard    nofile  65535
reboot host ,`ulimit -n` is `65535`,but envoy crashes under high load, actual connect number is 1000 - 2000.
How config valid?

[2022-11-25 08:01] #23499 closed

[2022-11-25 08:01] #23516 closed

[2022-11-25 11:05] Naski86 opened #24213 "generate token JWT in envoy"
hello.

I'm trying to make it depend on each regex to use filters for each use case, but at compile time it fails me,

is it possible to have filters for each "route" ?

[2022-11-25 11:24] Naski86 commented on #23535
but the libs can´t execute inside of the envoy, always call oustisde....

[2022-11-25 12:19] suniltheta commented on #24196
The credentials used by aws lambda filter to sign the requests to obtained from
1. AWS Access key & Secret access key Env variables
2. IMDS metadata store
3. ECS Task metadata

So only a single AWS credentials can be assume by Envoy.  If you want Envoy to assume multiple credentials then the better approach would be to create multiple managed policies, attached them to the same IAM role , then att

[2022-11-25 13:27] nezdolik commented on #23843
@caoyukun0430 at the moment no one is working on this issue. I may pick it up in couple of weeks unless someone else does. You are also welcome to submit a patch :)

[2022-11-25 14:04] MyCADDev opened #24214 "envoy.filters.http.dynamic_forward_proxy can it support host_rewrite_regex in addition to host_rewrite_literal"
I want to rewrite the route like this and lookup DNS

http://example.com/guid/getstuff

http://guid.example.internal/guid/getstuff

So can something like this be supported - host_rewrite_regex instead of host_rewrite_literal which is currently supported
[code]

The full listener

[code]

[2022-11-25 20:01] #23158 closed

[2022-11-26 00:03] #23565 closed

[2022-11-26 05:42] ramaraochavali opened #24215 "redis outlier detection when redis is down but Envoy is up"
In the  current implementation , when server Envoy is up but redis down, we send proper error response with "UpstreamFailure" - as a result of the this Client Envoy does not detect this as outlier and eject even when outlier detection is enabled on client side.

So in cases where redis container is down but Envoy is up - Should n't this failure treated as outlier from client side (similar to 503 i

[2022-11-26 05:43] ramaraochavali commented on #24215
@mattklein123 any thoughts?

[2022-11-26 08:02] github-actions[bot] opened #24216 "Newer release available `aspect_bazel_lib`: v1.17.0 (current: v1.15.0)"
Package Name: aspect_bazel_lib@1.15.0
Current Version: v1.15.0@2022-10-27
Available Version: v1.17.0@2022-11-26
Upstream releases: https://github.com/aspect-build/bazel-lib/releases

[2022-11-26 08:03] #24085 closed

[2022-11-26 08:40] ramaraochavali opened #24217 "consider host as active when active health check passes with both active/passive HC are enabled"
When we have both active and passive health checks enabled, when host is ejected out of pool by passive health check failure, it will come back to pool only after ejection time is over, even though in between active health checks pass. Consider a case a where the ejection time is 2 min, the host wont be considered again for load balancing even if active health checks detect it healthy after say 30

[2022-11-26 16:01] #23584 closed

[2022-11-26 18:28] mattklein123 commented on #24073
We discussed this on the security mailing list. In general we treat OOM conditions as fatal and crash. In this case, the poster says that in certain system configurations socket buffers are disjoint from main memory and theoretically there could be recovery. I'm fine if someone wants to take this on but not sure how difficult it will be to fix/test.

[2022-11-26 18:30] mattklein123 commented on #24149
SELECT is not supported for redis cluster and for similar reasons I'm not sure how it would be implemented for non-redis cluster sharded connections. Feel free to propose a design.

[2022-11-26 18:31] mattklein123 commented on #6602
Should marking it as stable be considered as a pre-requisite for closing the issue though?

Yeah we should just go ahead and mark this stable IMO. It's been out for long enough. cc @snowp @kyessenov

[2022-11-26 18:37] mattklein123 commented on #24215
I don't recall why it was implemented the way it was. I think it's reasonable to rethink this so feel free to propose a design/enhancement.

[2022-11-26 18:37] mattklein123 commented on #24217
Seems reasonable to me.

[2022-11-26 19:17] #24163 closed

[2022-11-27 04:01] #23614 closed

[2022-11-27 05:56] MichaelSasser opened #24218 "Add filename to "Filesystem config update failure" warning"
*Title*: *Misconfigured file is hard to find on "Filesystem config update failure"*

*Description*:

When I deploy a new service to the testing environment and I misconfigured something, I find a line like the following in the logs.
[code]
The line tells me, I made a mistake and where in the file the mistake happened, but doesn't describe which file has issues.

If the warning was changed to somet

[2022-11-27 08:01] #23532 closed

[2022-11-27 08:01] #23549 closed

[2022-11-27 08:01] #23551 closed

[2022-11-27 08:01] #23560 closed

[2022-11-27 08:01] #23562 closed

[2022-11-27 08:01] #23576 closed

[2022-11-27 09:03] ramaraochavali commented on #23558
@wbpcode can you please mark it help wanted?

[2022-11-27 11:03] wbpcode commented on #24191
🤔  what are your test requests look like?

[2022-11-27 11:05] wbpcode commented on #24188
do you have a more detailed log about which line code call the PANIC? It would be helpful, thanks.

[2022-11-27 11:07] wbpcode commented on #24189
May be upstream filters could be helpful in the future. Or the https://github.com/envoyproxy/envoy/issues/20867 could be possible solution. But the first one is not ready for production and second one is not implemented for now.

[2022-11-27 11:10] wbpcode commented on #24194
The header name of request path is ":path", not the "path". There is a colon.

[2022-11-27 11:13] wbpcode commented on #24213
Like https://github.com/envoyproxy/envoy/issues/20867?

And if the title is error?

[2022-11-27 11:13] Naski86 commented on #24191
hello
thanks for you reply

curl -X POST http://localhost:8080/rest/test
and curl -X POST http://localhost:8080/rest/test2
and the back-end return 405 method not allowed, but not envoy... :(

[2022-11-27 11:17] Naski86 commented on #24213
Yes, I was wrong,

I think you can't make independent filters depending on the use case.

i close the issue!
thankis!!!

[2022-11-27 11:17] #24213 closed

[2022-11-27 11:17] Naski86 commented on #24213
resolved

[2022-11-27 11:22] wbpcode commented on #24218
Sounds reasonable requirement.

[2022-11-27 11:22] wbpcode commented on #24214
cc @alyssawilk

[2022-11-27 11:31] wbpcode commented on #24205
cc @yanavlasov

[2022-11-27 11:37] tcohen01 commented on #23652
Sorry, misclick!
Just wanted to say I'm glad seeing the progress in resolving this issue.

If I understand correctly, with this fix if it works correctly, as long as the buffer can be fully sent to ext_proc we'll be able to set a proper ImmediateResponse? And the same guarantee still won't be made for truncated buffer with the chunked response?

[2022-11-27 14:00] VishalDamgude opened #24219 "SMTP Proxy network filter in envoy"
*Title*: *Add SMTP Proxy support in Envoy *

*Description*:

[optional *Relevant Links*:]

[2022-11-27 16:01] #23556 closed

[2022-11-27 20:01] #23531 closed

[2022-11-27 20:01] #23548 closed

[2022-11-27 20:01] #23585 closed

[2022-11-28 01:33] euroelessar commented on #6602
Looking more into the implementation, it looks like current matcher api in route config has no support for runtime fractions (as well as other existing matcher flavors). It's somehow complicated by the fact that it does not support embedding existing routing config (or a list of routes) as a final leaf as well.

Should a new issue (issues) be created to track it?

[2022-11-28 01:42] wbpcode commented on #23535
sorry, I am not sure what is your mean by `call outside`, couldn't we compile and link the lib with envoy to make it part of envoy binary?
May be some wrapper code is necessary to make the lib easy to be called. 🤔

[2022-11-28 01:48] wbpcode commented on #24191
`cors` filter is used to reply `OPTION` request of browser. It can't be used as a blocker, actually. 🤣

[2022-11-28 04:08] ramaraochavali commented on #24217
Should we have api config to drive this or runtime override is good enough?

[2022-11-28 07:25] Naski86 commented on #24191
mmm it´s true , but envoy does not allow certain methods to be used in the paths, if a post comes instead of a get, skip a method not allowed ?

thanks :)

[2022-11-28 07:29] Naski86 commented on #23535
yes, I mean, the examples that there are for generation, are always external.
I mean, is there an example of a library that generates it, or should I make one in lua/wasm to generate a Jwt token from envoy?
I just want to get an idea if it is possible or not.

maybe now I explain better what I want to test

[2022-11-28 08:50] wbpcode commented on #24191
If you just want to block requests with specified methods in specified routes. Then simple header match is enough.
Name `:method` is used to represent method of HTTP request.

[code]

[2022-11-28 08:53] wbpcode commented on #23535
I think there is no exist example for it for now. But it's possible. And lua/wasm is a choice to do that.

[2022-11-28 09:14] rakeshdatta commented on #24111
Thanks, @kyessenov for acknowledging this as an enhancement. I have basically two part asks:
- making draining optional; introducing a CLI for it
- ensuring old connections are able to see the new filters.

I hope both of them would be covered.

[2022-11-28 09:27] Naski86 commented on #24191
thanks for u reply

I have tried these values you have given me.

but it still does not validate, it gives me a 404, since it does not find the back(it is correct because I do not have it up), however I am putting a POST and it does not validate it.

the code
[code]

the curl :
curl -X POST -vki  http://localhost:8080/rest/test

[2022-11-28 09:22:30.057][17][debug][http] [source/common/http/conn_m

[2022-11-28 10:46] wbpcode commented on #24191
The result is as expected. When the header match is added, **only 'DELETE' request will match the route**. This could be used to block requests with unexpected methods.

[2022-11-28 11:10] Naski86 commented on #24191
ok I understand, the method that you put is the one that does not support, and returns a 403, I understood that it was the one that allowed, if I do a DELETE it gives me a 403 and does not let me continue.

thanks for your help :)

[2022-11-28 14:31] jpsim commented on #24156
There isn't a single endpoint, no. Here's how we handle this for the Envoy Mobile repo: https://github.com/jpsim/retest/blob/c158dec0a7f67cb85f8367468dc8a9a75308bb7f/retest.ts#L34-L64

[2022-11-28 15:15] jpsim commented on #23758
Some other migration tasks that come to mind:

* Update references to `envoyproxy/envoy-mobile` repo in source code and docs
* Enable `/retest` for GitHub Actions: https://github.com/envoyproxy/envoy/issues/24156
* Archive `envoyproxy/envoy-mobile` repo

[2022-11-28 16:11] ramaraochavali commented on #24217
+ 1. This is what I was thinking as well. I will push a change.

[2022-11-28 16:15] #23076 closed

[2022-11-28 16:49] Augustyniak commented on #23758
Related fix: https://github.com/envoyproxy/envoy/pull/24228

[2022-11-28 16:50] tyxia commented on #24205
/assign @tyxia

Just back from Thanksgiving holiday, I will take a look

[2022-11-28 17:21] dmitriyilin opened #24230 "Extension mechanism for HTTP filters based on dynamic loading"
Envoy currently provides extension mechanisms based on WASM and Lua. Approach for GoLang is under discussion as well: #15152.

Taking into account that small footprint, high performance are essential for using Envoy as a sidecar and ongoing work on GoLang extension (#22573), it looks reasonable to work on support for extension mechanism based on dynamic loading as well. For example, for using Rust

[2022-11-28 17:26] mattklein123 commented on #24230
Dynamic loading is tracked here: https://github.com/envoyproxy/envoy/issues/2053.

There is no objection to add this but someone needs to do the work.

I would like to see native Rust filter support but that is orthogonal IMO. Static linking for that would work fine also.

[2022-11-28 17:40] dmitriyilin commented on #24230
Thanks for the link to the original dynamic loading issue!

Indeed, "support" for Rust in not tightly coupled. Added it just as one of the possible ways to start adoption of the language.

Can we leave this issue open? It's nice to keep a global goal of supporting various loadable Envoy modules during design, but can be handy to have smaller goal to make some progress.

[2022-11-28 17:43] mattklein123 commented on #24230
Sure that's fine.

[2022-11-28 17:54] or-adar commented on #24113
Great, thanks!
I was actually trying to understand if envoy could be a suitable replacement to stunnel.
Good to know!

[2022-11-28 19:02] #19326 closed

[2022-11-28 20:51] tyxia commented on #24205
@rulex123

Ahead-of-time fetching makes sense. Actually this is part of `future improvement` in my design doc that was shared internally. We just want to get MVP working and shipped first.

Regarding ahead-of-time fetching, my design is fetching the token after cluster warming (i.e., before first request) by leveraging `Init::Manager` which is the part of factory context.

Is this also something i

[2022-11-28 21:42] kb000 commented on #23976
I suggest investigating what immediate performance gains could be had by using a non-http stat sink. For example, configuring https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/metrics/v3/metrics_service.proto appears to stream metrics in prometheus-format protos via gRPC. You may need some other piece of infra to bridge the gap between your current collector/scraper and this gRPC `stat_sin

[2022-11-28 22:05] fuhry commented on #24083
To add some further context to this - we found that this behavior is pretty easy to reproduce with Node.js clients using Envoy as a CONNECT proxy. Running `npm ci` in a medium-to-large project checkout, with the `HTTP_PROXY` and `HTTPS_PROXY` env vars set to an Envoy plaintext listener configured with the `dynamic_forward_proxy` http filter, is sufficient to reproduce the behavior 95-100% of the t

[2022-11-28 22:11] jmarantz commented on #23976
This is an interesting idea. I would not expect moving to gRPC would make anything more efficient. Actually given it's gRPC (built on http2 built on SSL) it might be *less* efficient, but kicking the collection off to another thread will at least free up the main thread for xDS handling, if that's the main goal.

I have not looked at the metrics service code at all and I'm not sure how it scales w

[2022-11-28 23:19] #24038 closed

[2022-11-28 23:41] jmarantz commented on #23976
One other idea: we could leave admin on the main thread if that's easy, and have another dedicated thread for collect stats in chunks, and post them back to the main thread.

Note that Prometheus stats handler does not yet provide chunked responses, but @rulex123 is working on that. The other stats handlers provide 2M chunks (compile-time constant).

If the collection of stats is done on worker th

[2022-11-28 23:50] shibin-george commented on #24139
Hi @alyssawilk , would you know what's going wrong here? Thanks!

[2022-11-29 00:03] #22661 closed

[2022-11-29 04:57] michaelbor opened #24236 "Make xDS retry backoff configurable"
*Title: Add configuration parameters for xDS retry backoff strategy*

**This issue is a revival of the same issue that became stale:** https://github.com/envoyproxy/envoy/issues/9332

_Description:_
The gRPC xDS implementation uses hardcoded retry durations for re-establishing the gRPC channel. This introduces a problem when a fast failover is required from one control-plane instance to another.
I

[2022-11-29 05:10] keith commented on #24183
WIP here https://github.com/envoyproxy/envoy/pull/24237

[2022-11-29 06:35] columbus9963 commented on #24103
@RyanTheOptimist Thanks For your advised suggestion!

Using the network tool mention above, I saw a quic error below:
![image](https://user-images.githubusercontent.com/57693768/204453910-0f1da4db-84ba-4985-b18f-7ad07f7ec045.png)

Then digging a few bit further research, finally I found that chrome.exe provide a command line option `--origin-to-force-quic-on` to force a chrome client using quic vi

[2022-11-29 07:07] #24191 closed

[2022-11-29 07:08] Naskitu commented on #24189
ok thankius, i check these

sorry for my English :D

[2022-11-29 07:08] #24189 closed

[2022-11-29 07:29] swathikatlaparti commented on #23745
Hi All,
Please let us know if there is any update on the query.
Thanks in advance

[2022-11-29 08:13] tony612 opened #24238 "Support route list for route matcher action"
*Title*: Support route list in route matcher action

*Description*:

Now only a single `Route` can be used in router matcher as this code shows: https://github.com/envoyproxy/envoy/blob/4e40d6ad5f98cd3c86f1398bb8990b1d88bdfe92/source/common/router/config_impl.cc#L1880-L1883

But we may need a list of routes under a branch of the matcher tree. `matcher_list` is similar, but not flexible like `Route

[2022-11-29 08:21] euroelessar opened #24239 "Matcher-based route config should support `runtime_fraction`"
*Description*:
Currently XDS matcher in route configuration context can route based on headers only, but routing based on `runtime_fraction` is desired for gradual rollouts.

One way to implement is to expose `streamId` (or `randomId`) in `HttpMatchingData` alongside `requestHeaders`:  https://github.com/envoyproxy/envoy/blob/4e40d6ad5f98cd3c86f1398bb8990b1d88bdfe92/envoy/http/filter.h#L1078-L1084

[2022-11-29 08:22] euroelessar commented on #24239
Followup on discussion in #6602, cc: @mattklein123 @snowp @kyessenov

[2022-11-29 13:14] phlax opened #24241 "Clarify use of `!` in repokitteh ownerscheck"
Follow up from #24232

**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

[optional *Relevant Links*:]

[2022-11-29 13:28] #24195 closed

[2022-11-29 13:43] danliznh opened #24242 "why do not customize load balance strategy by developers"
customize load balance strategy by developers

sometimes, in ours system, there is a load balance strategy, we can not configure the load balance strategy in our system to istio's yaml

[2022-11-29 14:52] RyanTheOptimist commented on #24103
Hm. You should not need to use --origin-to-force-quic-on in normal
operation. If you are able to collect a Chrome net log, I would be happy to
investigate more thoroughly.

On Mon, Nov 28, 2022 at 10:35 PM Columbus.Manu ***@***.***>
wrote:

[2022-11-29 15:01] wdauchy commented on #14045
it makes sense to me. I wonder if we could consider this to simplify cluster config, as specifying a different port number is not a rare case.

[2022-11-29 15:16] #3732 closed

[2022-11-29 15:16] #21586 closed

[2022-11-29 16:05] mattklein123 commented on #24239
This makes sense to me.

[2022-11-29 16:09] mattklein123 commented on #24238
Yeah this makes sense. I thought this was already implemented but I guess not. cc @kyessenov @snowp

[2022-11-29 16:19] schonbachler commented on #23508
I also find it problematic to use this filter with unencrypted cookies with tokens in production.

[2022-11-29 16:24] snowp commented on #23508
I don't see any problem with adding support for this, though somebody will have to do the work.

FWIW I believe the filter is being used in production already, maybe @fishcakez can speak to this?

[2022-11-29 17:23] stevenzzzz opened #24246 "test framework: set default concurrency, and make concurrency an explicit option in integration test framework"
*Title*: test framework: set default concurrency, and make concurrency an explicit option in integration test framework

*Description*:
Envoy by default starts a worker for every hardware thread,
https://blog.envoyproxy.io/envoy-threading-model-a8d44b922310

for tests run on a beefy machine, this usually means either 64/72 or even 128 workers are started in an integration test.

I am not sure so m

[2022-11-29 17:41] kyessenov commented on #24242
Is this a question about Istio? I believe this needs to be asked in Istio forums. DestinationRule should have a field to select a strategy.

[2022-11-29 17:41] #24242 closed

[2022-11-29 23:54] qls152 opened #24255 "Report woker thread cpu usage"
*Title*: *Report woker thread cpu usage*

*Description*:

[optional *Relevant Links*:]

[2022-11-30 01:30] zirain commented on #20086
fixed by https://github.com/envoyproxy/envoy/pull/23902

[2022-11-30 01:47] danliznh commented on #24242
i think i should clarify this question, there is a field in dr we can configure a strategy, that is right. but my requirement is we can configure a new strategy we want, i think there is something like filter to support this requirement.

[2022-11-30 02:48] aesophor opened #24256 "Please clarify type.matcher.v3.RegexMatcher's deprecated but required field: google_re2"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Please clarify type.matcher.v3.RegexMatcher's deprecated but required field: google_re2*

*Description*:

[2022-11-30 08:03] github-actions[bot] opened #24259 "Newer release available `com_github_grpc_grpc`: v1.51.1 (current: v1.49.0)"
Package Name: com_github_grpc_grpc@1.49.0
Current Version: v1.49.0@2022-09-14
Available Version: v1.51.1@2022-11-29
Upstream releases: https://github.com/grpc/grpc/releases

[2022-11-30 08:03] #24142 closed

[2022-11-30 08:03] #24193 closed

[2022-11-30 08:03] github-actions[bot] opened #24260 "Newer release available `org_llvm_llvm`: llvmorg-15.0.6 (current: llvmorg-12.0.1)"
Package Name: org_llvm_llvm@12.0.1
Current Version: llvmorg-12.0.1@2021-07-09
Available Version: llvmorg-15.0.6@2022-11-29
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-11-30 08:03] #24020 closed

[2022-11-30 08:03] github-actions[bot] opened #24261 "Newer release available `org_llvm_releases_compiler_rt`: llvmorg-15.0.6 (current: llvmorg-14.0.0)"
Package Name: org_llvm_releases_compiler_rt@14.0.0
Current Version: llvmorg-14.0.0@2022-03-23
Available Version: llvmorg-15.0.6@2022-11-29
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-11-30 08:03] github-actions[bot] opened #24262 "Newer release available `rules_python`: 0.15.0 (current: 0.13.0)"
Package Name: rules_python@0.13.0
Current Version: 0.13.0@2022-09-25
Available Version: 0.15.0@2022-11-29
Upstream releases: https://github.com/bazelbuild/rules_python/releases

[2022-11-30 08:03] #24099 closed

[2022-11-30 08:06] cyanogen12 commented on #14981
Hi All,

I am also facing similar issue with Envoy version 1.24.
I am running envoy on my local machine - Macbook Pro

I have created three upstream  clusters:
Cluster 1 & 2 are **hosted locally** on the same machine as https endpoints. and **they are working well**.

For third cluster **I am using public service https://httpbin.org/ip and with this I am facing issue.**

I am getting 503 UC/UF/UH

[2022-11-30 10:12] pxpnetworks commented on #24214
Hello,
host_rewrite_regex with dfp will also be very useful in my forward proxy installations :)

[2022-11-30 10:41] junyer commented on #24256
From following commit https://github.com/envoyproxy/envoy/commit/0a92cc86e7f8b88d5af0eb2e27b5c7ef64719e56 → PR https://github.com/envoyproxy/envoy/pull/21633 → issue https://github.com/envoyproxy/envoy/issues/21618, it seems to me that @zhxie has been working on making the regular expression engine configurable at runtime. I presume that this work paves the way for plugging in Hyperscan? :D

[2022-11-30 12:14] alexlep opened #24265 "JWT plugin is not adding HOST header for a validation call"
*Title*: JWT plugin is not adding HOST header for a validation call

*Description*:
ATM we are preparing a setup where envoy, together with JWT plugin, is acting as an API gateway, and the JWT tokens are being generated by Keycloak. Infrastructure is fully built in AWS, and Keycloak instance is fronted with ALB (application load balancer).
The problem is that JWT plugin is not adding a HOST header

[2022-11-30 13:17] fabiomnk commented on #23221
Sorry for the delay , still need time to answer the previous query. please don't close this issue.

[2022-11-30 14:08] jpsim commented on #24156
`/retest` now works for GitHub Actions as of #24251

![9BFA06BB-0571-4EDC-81FB-7E32C8393D4D](https://user-images.githubusercontent.com/474794/204816925-5d3de352-f741-41cf-8a50-0ac88fcb8b44.jpeg)

However it would still be better to move it to Repokitteh which would probably make it kick in faster, since the existing action has a 10-20s delay to spin up the GitHub Actions job that processes the com

[2022-11-30 14:10] phlax commented on #21758
yep @gabrielgiussi for sure!

perhaps we can also add something about `distroless` also

we desperately need some metadata on our dockerhub pages for this too

[2022-11-30 14:11] meteorcloudy commented on #24183
The fix didn't get into downstream because https://buildkite.com/bazel/envoy/builds/2118#01849d85-5a46-4688-9dc4-2e30d6659b1b is failing and prevented the update of last green commit for Envoy.

[2022-11-30 14:12] phlax commented on #24156
should we close this ticket @jpsim ?

[2022-11-30 14:25] jpsim commented on #24156
Sure let's close this and we can re-open a new issue if moving the functionality to Repokitteh ever becomes a priority.

[2022-11-30 14:25] #24156 closed

[2022-11-30 16:24] a1lu opened #24269 "[gcp_authn] How to configure authn cluster"
Hi,
I am trying to get the [GCP Authn Filter working](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/gcp_authn_filter) working with gRPC requests.
I copied the authn examples from the docs but I don't know how to configure the gcp_authn endpoint. The example uses `0.0.0.0:8000` like the fake service and envoy itself.

* In envoy logs I find this error related to gcp_au

[2022-11-30 16:30] tyxia commented on #23278
PR #23366 has been merged. @fiadliel, this issue can be closed as fixed now. Please let me know if you have any questions.

[2022-11-30 16:37] #17662 closed

[2022-11-30 16:39] keith commented on #24183
https://github.com/envoyproxy/envoy/pull/24270

[2022-11-30 16:42] kyessenov commented on #24255
I'm not aware of Envoy per-thread performance measurements. I think system perf could probably help here but I've never tried to measure that myself.

[2022-11-30 16:48] keith commented on #24183
looking at the build failure, interesting that it's hit there but not on our CI, maybe a compiler version difference

[2022-11-30 16:50] bladedancer opened #24271 "Using Envoy XDS TTL causes envoy to crash"
(Already triaged by the security and ok to open an issue).

*Title*: *Using Envoy XDS TTL causes envoy to crash*

*Description*:
Hi,
I was just playing around to get an idea of what’s possible with XDSTTL. My config, in all recent versions (1.23->1.25), crashes Envoy when a ttl is reached (apparently). Though I only have the stack for 1.25 (full log attached).

Caught Segmentation fault, suspect f

[2022-11-30 17:03] keith commented on #23891
this same error breaks bazel CI https://buildkite.com/bazel/envoy/builds/2118#01849d85-5a46-4688-9dc4-2e30d6659b1b, looking at fixes since upgrading clang is harder there

[2022-11-30 17:05] keith commented on #24183
the actual build failure is https://github.com/envoyproxy/envoy/issues/23891

[2022-11-30 17:21] gabrielgiussi opened #24275 "Why upstream filters are only available for L3/L4 layers?"
*Title*: Why upstream filters are only available for L3/L4 layers?

*Description*:
Filters can be defined in upstream clusters only at the [network](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/upstream_filters) L3/L4 level. Why is that? Is there any technical limitation or they were not just implemented for L7 layer yet?

I think I have a use case for such thing althou

[2022-11-30 17:22] botengyao commented on #24183
We can keep track of this issue here: https://github.com/google/tcmalloc/issues/148

[2022-11-30 17:22] kyessenov commented on #24265
CC @qiwzhang
I believe the host header must be set explicitly in side calls, so it might be a feature request for some reasonable defaults.

[2022-11-30 17:25] keith commented on #16542
this test is still disabled, we should probably fix at some point

[2022-11-30 17:28] keith commented on #24183
bumping the clang version for bazel CI here https://github.com/bazelbuild/continuous-integration/pull/1502

[2022-11-30 17:28] keith commented on #23891
trying to bump the clang version for bazel CI here https://github.com/bazelbuild/continuous-integration/pull/1502

[2022-11-30 18:04] kyessenov commented on #24275
Upstream HTTP filters are available as an alpha feature. They are defined [here as http_filters](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/upstreams/http/v3/http_protocol_options.proto#extensions-upstreams-http-v3-httpprotocoloptions).

[2022-11-30 18:25] sharkannon opened #24276 "Migrating from v2 -> v3 config (currently running envoy v1.16.0, want to upgrade to latest)"
Currently running v1.16.0 of envoy and looking to upgrade it, but having a hard time finding any documentation that really explains the differences and upgrade path from v2 -> v3.  Maybe I'm blind, but that's me.  Our current config is:

[code]

I'd like to upgrade that to v3 format, but get errors like `INVALID_ARGUMENT:(static_resources.listeners[0].filter_chains[0].filters[0]) config: Cannot fi

[2022-11-30 19:15] llu94 commented on #24239
I'd like to work on this unless @euroelessar is already working on this?

[2022-11-30 19:53] #21345 closed

[2022-11-30 21:12] #21739 closed

[2022-11-30 21:57] keith commented on #23239
the issue here is actually the cc toolchain, i think we need to define a aarch64 version over here to start https://github.com/envoyproxy/envoy-build-tools/blob/main/toolchains/configs/linux/clang/cc/BUILD

im not going to dig into this one anymore right now though

[2022-11-30 21:57] keith commented on #23238
similar comment to here i think https://github.com/envoyproxy/envoy/issues/23239#issuecomment-1332783412, we're just not providing these toolchains, with rbe it might be more complicated though

[2022-11-30 23:17] kyessenov commented on #24276
Yeah, the biggest thing is the usage of the "typed_config" consistently:

[code]

There were some field renames that can be found by looking at the protobuf annotations, so you probably want to gradually convert config and enable strict validation (disallow unknown fields in static and dynamic configs).

[2022-11-30 23:53] sharkannon commented on #24276
I'm not really impressed with the logging messages about the deprications, but I *think* I got it.  I basically had to fix deprication warnings in 1.16, then upgrade toi 1.17, then fix those.. all the way up to 1.21.. then in 1.22 there was a couple of those type_config issues that came up...

[code]

That starts up, is it the same as my original, I'm not 100% sure.. but it at least starts up, I'l

[2022-11-30 23:57] kyessenov commented on #24276
I don't see anything wrong but it's always worth testing before deploying. One piece of good news for you is that v3 is forever, there'll be no v4 migration.