[2022-01-21 20:30] moderation commented on #19643
My $0.02 - trying to use Alpine which is a musl environment for a binary like Envoy that explicitly requires glibc is not good practice. As it is we use a random Alpine base image - https://github.com/envoyproxy/envoy/blob/main/ci/Dockerfile-envoy-alpine#L1. Should we trust this?

I recommend using the Distroless containers that support glibc natively, come from a trusted source and are similarly

[2022-01-21 20:54] howardjohn opened #19655 "`stateful_session` not working on chrome due to favicons"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: `stateful_session` not working on chrome

*Description*:

The initial symptom is that `stateful_session` seems to work with curl and firefox, but not with Chrome.

A

[2022-01-21 20:55] yeranosyanvahan opened #19656 "How to secure and virtualize database connections with proxies"
Hello everyone, I have planned a mysql database consolidation strategy (i.e. bringing databases to one big bulky server) and here lies the problem.  Let's call this server The Big Bulky Database Server  (BBDS)
There are a heck ton of application on my servers and some user postrgesql, mysql5.7, mariadb10 and so on.
To make it simple let's say that each application has a dedicated server with it's

[2022-01-22 01:03] howardjohn commented on #19535
Played around with this a bit.

Command:
[code]

Got up to this point:
[code]

Fails with:
[code]

If I remove `-lc++` from zig-cc, I get a different issue:
[code]

I assume the first issue is bazel not recognizing zig's libc+ somehow and the latter is not using libc++ at all...?

[2022-01-22 03:34] qiwzhang commented on #1182
@hq6  you can start to work on it.  I can help to review the change.  But I like to hear your design first.

the key is to build this [descriptor_pool_](https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/http/grpc_json_transcoder/json_transcoder_filter.cc#L152) by calling backend grpc server reflection.

I assume you will do that in the main thread when JsonTranscoderConfig is

[2022-01-22 04:01] #18926 closed

[2022-01-22 04:17] ramaraochavali commented on #19612
@jewertow Sure. thanks. This is also high priority for us - so wanted to know :-)

[2022-01-22 05:37] wbpcode commented on #19655
According to you config, the `stateful_session` will always set cookie with cookie path `/path` for any URL. But when the browsers send new request with URL which has no `/path`, browsers will not attach the cookie to the request make Envoy choose new host and create new cookie again.

In the expected scenario, the global config should use the generic path "/", and if special handling for a certai

[2022-01-22 05:40] wbpcode commented on #19655
But thank you for pointing this out. Although we currently have no plans to support dynamic cookie paths. However, we can still do some optimizations to ensure that the existing persistence is not affected.

[2022-01-22 05:46] Sooryaa-A commented on #19498
According to the below statement, the message send from immediate downstream node's connection to Envoy is Trusted.
In our case the down stream is directly connected to envoy no hops in between and the downstream is having internal IP which is not exposed to internet. So the header sanitization should not happens , when use_remote_address is set to true.

Is this understanding correct?

"The value

[2022-01-22 06:16] hq6 commented on #1182
@qiwzhang Thanks for offering to review my design! I've outlined my proposed design below.

Yes, my plan is to add another case to the switch on [descriptor_set_case](https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/http/grpc_json_transcoder/json_transcoder_filter.cc#L123).
Specifically, I intend to add a `proto_descriptor_channel_uri` which corresponds to the URI passed to

[2022-01-22 06:36] hq6 commented on #1182
Another area where guidance would be greatly appreciated is whether there is prior art for and a requirement to write automated E2E tests involving a real gRPC service.

I will certainly run manual tests, ensure that existing unit tests pass, and attempt to write new unit tests by mocking out the reflection service, but not yet sure where to write the code or script to spin up a real service.

Wit

[2022-01-22 08:01] #19170 closed

[2022-01-22 08:01] #19257 closed

[2022-01-22 08:01] #19278 closed

[2022-01-22 08:02] github-actions[bot] opened #19658 "Newer release available `build_bazel_rules_apple`: 0.33.0 (current: 0.32.0)"
Package Name: build_bazel_rules_apple
Current Version: 0.32.0@2021-10-29 20:38:24
Available Version: 0.33.0@2022-01-22 02:15:10
Upstream releases: https://github.com/bazelbuild/rules_apple/releases

[2022-01-22 16:01] #19236 closed

[2022-01-22 16:37] wbpcode commented on #19655
/assign

[2022-01-23 04:01] #19218 closed

[2022-01-23 16:41] chritiene commented on #19643
Ouch. I was not aware of that. When does this become effective? We use envoy in combination with some other tools (to set up and update envoy config files) on an Alpine image. Not sure what the impact of using a distroless image is.

Which could be another reason to use an official alpine image and use the gcompat package.

FWIW we use an official Alpine image and have a similar ~horrible~ elabora

[2022-01-24 00:01] #19306 closed

[2022-01-24 02:41] hughxia commented on #19629
I tried it, but the result is worse.

At https://github.com/envoyproxy/envoy/issues/19436#issuecomment-1009481160, The advice is the concurrency level based on the CPU resource that allocated to Envoy. In my test, this is indeed the most effective.

I am confused.

[2022-01-24 03:10] wbpcode opened #19663 "stats for route/virtual host/host or any resource with metadata"
Now Envoy provides users larger number of metrics of listener and upstream cluster. It helps a lot.

But we still want some more detailed request stats for route or host. For example, `5xx` number of `/route1`, `4xx` number of `1.2.3.4:80`.

Now we have `virtual cluster` which can provides some more stats. But It's hard to create a `virtual cluster` for every route and the `virtual cluster` also n

[2022-01-24 03:16] wbpcode commented on #19663
I have an idea. We can generate more metrics with the metadata of route/host. And if we use typed metadata, we can also get a very good performance.

I would like to see if the community has any suggestions. If the community thinks this make sense, I will provide a more detailed doc to iterate this proposal and then try to land it. @mattklein123 @alyssawilk

[2022-01-24 04:01] #19184 closed

[2022-01-24 05:34] htuch commented on #19636
SGTM, thanks for the explanation.

[2022-01-24 07:17] lizan commented on #19656
https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/double-proxy I think this is the example you want to look into?

[2022-01-24 07:51] anas-hassari-jemmic commented on #19556
Is it a bug in envoy or is something not done right on my side?

[2022-01-24 09:18] jcchavezs commented on #9655
Curious about which tool you use to generate protodoc.

[2022-01-24 09:21] jcchavezs commented on #13254
Hi @unicell that soudns reasonable, my only question would be: do we need all schemas? As of now I am just publishing Bootstrap schemas for v2 and v3 because that was mainly what I wanted but if you could confirm what are the schemas you are looking for here I could make that work.

[2022-01-24 10:16] phlax commented on #9655
`protoc` altho the generation is somewhat complex - involving a bazel aspect  - see the `tools/protodoc` directory for more info

[2022-01-24 10:18] phlax commented on #13254
@jcchavezs i got quite far with this (ie generating vscode schemas)

i hit a few snags mangling the proto info, but mostly got it working

see #15100 for my earlier WIP attempts

[2022-01-24 10:40] #19587 closed

[2022-01-24 12:28] prateek0394 opened #19664 "Connection reset generated by Envoy"
I am using **EnvoyProxy version : 1.15.2**. My usecase is a reverse proxy solution meant for multi-tenant system.

As part of my connection manager configuration :

[code]

Intermittently, my customers are seeing "Connection reset by Peer" exception in their code. I took TCPDump for one such customer, and saw following behavior :

[code]

In this, because Envoy didnt generate ```[F.]``` flag, clie

[2022-01-24 14:35] DzianisH commented on #19650
UPD: I fixed this issue just by upgrading the Envoy from 1.19 to 1.21.

It looks like for some reason Envoy 1.19 has v2alpha.JwtProvider instead of v3.JwtProvider.

[2022-01-24 18:59] #19512 closed

[2022-01-24 19:24] alyssawilk commented on #19663
cc @jmarantz for stats suggestions :-)

[2022-01-24 19:56] #19503 closed

[2022-01-24 19:58] markdroth commented on #5739
Is this still needed if we implement #11396?  In general, it seems like the mechanism described there might essentially replace the current ACK/NACK mechanism completely in terms of determining the overall health of the client's config.  However, depending on how we do it, it might not address the use-case of needing to know when a client has actually switched to a new, valid config.

[2022-01-24 20:00] markdroth commented on #11396
I plan to work on a design for this later this quarter.

[2022-01-25 00:01] howardjohn commented on #19535
I also played around with https://sr.ht/~motiejus/bazel-zig-cc/ in https://github.com/envoyproxy/envoy/compare/main...howardjohn:zig2?expand=1, but struggled to actually get the toolchain used. It was registered but zig never actually executed.

[2022-01-25 00:14] lizan commented on #19643
@chritiene You may still build your own image based on Alpine and gcompat and copy Envoy binary from distroless or other official image, all image contain same binary built on Ubuntu container.

[2022-01-25 00:47] hq6 commented on #1182
@qiwzhang I have a working prototype of the design above (no unit tests, and  not importing the correct way).

Would it be helpful to see that in a Draft PR (not sure if Envoy community does that) as part of the design review, or do you prefer to offer comments first based on my description above, and then I can polish more before putting up a PR?

[2022-01-25 00:50] qiwzhang commented on #1182
Envoy is all about async calls.  I believe Envoy is strongly against blocking calls, even it is on the init phase. Envoy supports two ways to make async gRPC calls.

* envoy grpc_call:  [async_client_impl](https://github.com/envoyproxy/envoy/blob/main/source/common/grpc/async_client_impl.h).  It is not calling any grpc c++ library,  it is using http2 with grpc frame.   You have to define a envoy c

[2022-01-25 00:58] qiwzhang commented on #1182
There are some extension codes using these async grpc calls.  e.g. rate_limiting, and ext_authz.    Please take a look.

Still prefer to use async call if it is possible.

[2022-01-25 01:00] hq6 commented on #1182
Excellent, thanks for the pointers!
I'll look into how hard it is to use async calls for this usage, although my current suspicion is that it might require rewriting substantial portions of code I had intended to copy from gRPC.

[2022-01-25 02:52] daixiang0 commented on #19636
It would be perfect to generate a CVE issue by CI, while it may bring repeated alarms :(

[2022-01-25 02:55] daixiang0 commented on #19634
If there are too many places to change, feel better to give a list and change part by part, then anyone interested can directly pick up one of them.

[2022-01-25 02:58] daixiang0 commented on #19633
I think we should pick up a rst style, document it. As it is much complex, we can use specific lint tools for specific problems.

[2022-01-25 04:36] #16005 closed

[2022-01-25 04:56] daixiang0 commented on #19618
Check https://github.com/envoyproxy/envoy/blob/main/test/integration/ads_integration_test.cc#L177-L188,
`tls/validation_context_sds_secret_config` can work with ADS.

[2022-01-25 05:03] daixiang0 commented on #14961
@asraa is it still available?

[2022-01-25 05:06] daixiang0 commented on #14299
@yanavlasov is it fixed by #16942? I do not find related docs about cached ratelimit.

[2022-01-25 05:09] daixiang0 commented on #14664
@kyessenov hi, is it still available?

[2022-01-25 05:10] daixiang0 commented on #15113
Any update for this?

[2022-01-25 05:25] hq6 commented on #1182
Also, is there a specific reason for Envoy to be against blocking calls **during initialization**?

I totally get why we don't want to consume limited threads while actually serving requests, but the reasoning for avoiding blocking calls during initialization is less clear to me. It's particularly puzzling because code that is written in a blocking style is usually easier to read, and a few ms of

[2022-01-25 05:33] htuch commented on #5739
@markdroth I see #11396 as providing a way to reflect asynchronously changes to config state. The partial rejection is for synchronous rejections and provides immediate management server / config pipeline feedback.

[2022-01-25 08:03] github-actions[bot] opened #19673 "Newer release available `io_bazel_rules_go`: v0.30.0 (current: v0.29.0)"
Package Name: io_bazel_rules_go
Current Version: v0.29.0@2021-10-06 23:46:26
Available Version: v0.30.0@2022-01-24 21:09:55
Upstream releases: https://github.com/bazelbuild/rules_go/releases

[2022-01-25 08:03] github-actions[bot] opened #19674 "Newer release available `rules_fuzzing`: v0.3.1 (current: v0.2.0)"
Package Name: rules_fuzzing
Current Version: v0.2.0@2021-07-12 17:55:46
Available Version: v0.3.1@2022-01-21 14:59:14
Upstream releases: https://github.com/bazelbuild/rules_fuzzing/releases

[2022-01-25 08:03] #19631 closed

[2022-01-25 08:03] github-actions[bot] opened #19675 "Newer release available `rules_pkg`: 0.6.0 (current: e5d1ed4)"
Package Name: rules_pkg
Current Version: e5d1ed4@2021-12-15 17:24:26
Available Version: 0.6.0@2022-01-20 23:19:08
Upstream releases: https://github.com/bazelbuild/rules_pkg/releases

[2022-01-25 09:12] zirain opened #19676 "question: custom sampling on different response code?"
*Title*: *custom sampling on different response code*

*Description*:

can I set up something as following:
- when response_code==5xx report every single request
- when response_code==200 report request depends on sampling percent?

[2022-01-25 09:59] motiejus commented on #19535
You seem to be missing

[code]

I added that, and it seemed to be doing something (not an expert in envoy, not sure if the target is the right way to go at all):

![zigcc](https://user-images.githubusercontent.com/107720/150954802-ef582ac1-225e-480e-a178-86a70494fcdf.png)

I've added [a note](https://git.sr.ht/~motiejus/bazel-zig-cc/commit/1d9f8c41c1758bc98ed1e934d9ce214cb3d9147a) about it to the

[2022-01-25 13:50] alyssawilk commented on #19430
ugh, all that debug info and now there's a different test with the same problem:
[ RUN      ] Protocols/DownstreamProtocolIntegrationTest.OverflowDecoderBufferFromDecodeData/IPv4_HttpDownstream_HttpUpstreamBareHttp2
test/integration/protocol_integration_test.cc(3069): error: Value of: response->complete()
  Actual: false
Expected: true
Stack trace:
  00007FF709E850D6: (unknown)
  00007FF709E9E6C8:

[2022-01-25 14:14] kdowney-cloudwallcapital opened #19682 "Unable to get internal redirect policy working (docs / examples lacking)"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: internal redirect of 307 bubbles up to browser rather than being handled

*Description*:
We have an Envoy router sitting in front of Consul's UI and two GraphQL-base

[2022-01-25 14:20] phlax commented on #19682
skim reading your config its not immediately obvious to me what is/not working - im not so familiar with the internal redirect config

if you resolve your problem i would be happy to review any updates to the docs or examples that might make this clearer

[2022-01-25 14:37] soulxu commented on #19430
@alyssawilk the different is windows doesn't support edge triggered event. so we have some emulation for edge triggered event. That is asking the caller to drain all the data from the socket, otherwise the read event will keep send to the envoy, then we got a busy loop.

It is really late for me now, I can take a look at this tomorrow morning also. Before that, hope those info ^ can help you.

[2022-01-25 14:41] soulxu commented on #19430
We will unregister the file event before read data, then we only re-register the file event after no data in the socket, you can see here
https://github.com/envoyproxy/envoy/blob/b88fd5805118665f748c343dedd97161ca73f116/source/common/network/win32_socket_handle_impl.cc#L119-L124

[2022-01-25 15:10] phlax commented on #19658
cc @keith

[2022-01-25 16:10] DzianisH commented on #19650
UPD: I think my question can be resolved now.

I found this stuff in the [release note of Envoy 1.20](https://www.envoyproxy.io/docs/envoy/latest/version_history/v1.20.0) `jwt_authn: added support for extracting JWTs from request cookies using from_cookies.`

[2022-01-25 16:10] #19650 closed

[2022-01-25 16:19] asraa commented on #14961
Yes I think so -- feel free! to take on one of those two points.

[2022-01-25 16:41] howardjohn commented on #19535
Nice, thanks @motiejus . That got me to a complete build.

Initial I had a full build and had issues on v8 failing. I noticed while `zig` was used for most things, cc1plus was used for v8 for some reason, which I assume is what led to the failure. I disabled all the wasm extensions, and was able to complete a build.

The binary is failing with `"illegal hardware instruction"` though. Still looking

[2022-01-25 16:52] motiejus commented on #19535
Illegal instruction is most likely UBSAN: `zig cc` enables it by default: https://github.com/ziglang/zig/issues/4830#issuecomment-605491606

You may confirm the hypothesis by adding `-fno-sanitize=undefined` to CFLAGS. If it starts working, it is UB. If the hypothesis is confirmed, it is often recommended to fix the undefined behavior and add `-fsanitize=undefined` to the CFLAGS, so it is turned o

[2022-01-25 17:09] rapatchi opened #19685 "network rate limit: allow limiting by client IP"
Allow the network rate limit filter to have dynamic descriptors, such as downstream IP.

[2022-01-25 17:25] belyalov commented on #19618
I see the test, @daixiang0
But as you can see from the output - it real run it crashes.
Did I misconfigured something?

[2022-01-25 17:37] andrewrk commented on #19535
Here's an issue that would make discovery of the fact that "illegal hardware instruction" is in fact UBSAN tripping: https://github.com/ziglang/zig/issues/5163

[2022-01-25 17:45] mattklein123 commented on #19676
Yes you can use access log filters and the runtime filter: https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/accesslog/v3/accesslog.proto#envoy-v3-api-msg-config-accesslog-v3-runtimefilter

[2022-01-25 17:46] howardjohn commented on #19535
[code]

Awesome, we have a running binary now! Currently failing on https://github.com/envoyproxy/envoy/blob/450631b8e19a0bf8121a7338c4ecc0612731e68e/source/common/signal/signal_action.cc#L109 but we can run it

[2022-01-25 17:47] mattklein123 commented on #19682
cc @alyssawilk who knows about internal redirects.

[2022-01-25 17:56] qiwzhang commented on #1182
Hi @htuch @mattklein123

what is your take on using blocking calls in the main thread when building up a listener?

Agreed that the task will be much easier, and the code is easier to read.

[2022-01-25 18:07] alyssawilk commented on #19682
did you check stats?  If you're hitting the route with internal redirects configured, failures to redirect should get tagged with one of the stats here: https://github.com/envoyproxy/envoy/blob/main/source/common/router/context_impl.h#L18

If that doesn't turn up anything if you could dump trace logs from a single request it may help show what's going on

[2022-01-25 18:09] mattklein123 commented on #19685
This is not possible today. The network ratelimit filter just allows fixed keys/values: https://github.com/envoyproxy/envoy/blob/450631b8e19a0bf8121a7338c4ecc0612731e68e/source/extensions/filters/network/ratelimit/ratelimit.cc#L22-L27

This is a reasonable feature request if you want to open a feature request issue?

[2022-01-25 18:18] andrewrk commented on #19535
Thanks, I'll look into these linker warnings.

[2022-01-25 18:24] mattklein123 commented on #1182
Not a good idea. Blocking the main thread will have follow on consequences for metrics output, admin requests, etc. We really can't block so anything like this would need to be async and then use completions as already suggested.

[2022-01-25 18:24] rapatchi commented on #19685
Okay thanks for confirming. Not sure if the existing issue can be converted to a feature request. If not I will open a new one.

[2022-01-25 18:32] hq6 commented on #1182
Just want to be clear, the question is not around blocking the main thread
during Envoy's actual execution, only during initialization of the config
which should happen exactly once when Envoy loads, and not on a recurring
basis.

That is, I know the listener is constructed for every request, but the
factory is constructed only once, as far as I can tell.

Do those consequences still apply in this

[2022-01-25 18:34] mattklein123 commented on #1182
Yes, as this can happen when the server is already operating due to an xDS update, etc. Even during initialization this can block health checking and other important things.

[2022-01-25 18:38] hq6 commented on #1182
Thanks for the clarification about the xDS updates, that makes sense!

[2022-01-25 18:42] phlax opened #19686 "Consider necessity of `bazel_buildtools`"
### description

bazel buildtools - ie `buildozer` and `buildifier` was previously added as a requirement for building docs from the api

this is no longer necessary as the information is taken directly from bazel and/or config files now.

we may wish to remove it as its not used anywhere by CI, otoh we might want to update docs and potentially even the scripts triggered by the git hooks to make u

[2022-01-25 18:42] phlax commented on #19686
cc @moderation

[2022-01-25 18:44] #19550 closed

[2022-01-25 18:56] kdowney-cloudwallcapital commented on #19682
Thanks Alyssa, I can see the stats now. We found a workaround for the GraphQL issue (a regex rewrite to avoid the trailing slash, and switching away from the embedded GraphiQL tool) and so it's just Consul that's a problem now. Give me a couple hours to play with this and if I figure it out I will add a comment and close. Thanks for the tips!

[2022-01-25 20:28] ghevge opened #19687 "In the /stats/prometheus statistics list is there a method that will allow me to monitor http to grpc transcoded request per endpoint?"
I'm trying to monitor at the envoy level all the http calls per endpoint that are grpc transcoded, but so far I was not able to locate a proper method to do this in the /stats/prometheus list.

This is what I'm using for grpc service, but I want something similar for envoy, if possible
`sum (increase(grpc_server_processing_duration_seconds_count{namespace=~\"$Namespace\",job=~\"$Service\"}[1m])) b

[2022-01-25 23:06] lizan commented on #19535
We do run all tests with Clang UBSAN so I think it is unlikely unless zig enables something extra.

[2022-01-25 23:25] moderation commented on #19535
Not sure if the same but others finding UBSAN error's when using `zig cc` - https://twitter.com/FlohOfWoe/status/1483778821912514560

[2022-01-26 00:25] #12392 closed

[2022-01-26 00:33] kdowney-cloudwallcapital commented on #19682
OK, so I have a bit more information. For one of those cases returning 307, I do see this stat updated:

`cluster.serenity_portfolio_summary_ws.upstream_internal_redirect_failed_total: 2
`

and I also see this, which suggests *why* those two requests failed:

`http.ingress_http.passthrough_internal_redirect_no_route: 2
`

@alyssawilk, what I would like is for a 307 sent back to Envoy to be followe

[2022-01-26 00:58] kdowney-cloudwallcapital commented on #19682
Trace logs you requested for this scenario:

`
[2022-01-26 00:56:10.851][23989][trace][connection] [external/envoy/source/common/network/raw_buffer_socket.cc:24] [C1] read returns: 163
[2022-01-26 00:56:10.851][23989][trace][connection] [external/envoy/source/common/network/raw_buffer_socket.cc:38] [C1] read error: Resource temporarily unavailable
[2022-01-26 00:56:10.851][23989][trace][http] [ext

[2022-01-26 01:14] zirain commented on #19676
thanks matt, accesslog support cel-filter, can we do same on tracing?

[2022-01-26 01:39] kdowney-cloudwallcapital commented on #19682
The trace logs seem to match the stats: you can see that it gets the 307 at the top and then in the last line it bails out on the redirect. So I don't think Envoy has a bug; this is a configuration problem our end causing it to not process the redirect.

[2022-01-26 02:24] zhxie commented on #4547
So what exactly do we want, a log print happens on every entrance and exit of HTTP filters to track per request/response, or a histogram for statistics?

[2022-01-26 02:52] zhxie commented on #4160
As mentioned in #18157, `TestRealTimeSystem` (generated by `GlobalTimeSystem`) in `MockDispatcher` and `SimulatedTimeSystem` in `MockStreamInfo` are conflict and may cause errors in tests. Since we have planned to switch the time system in `GlobalTimeSystem`, I can take a try if no one is working on it.

[2022-01-26 03:56] motiejus commented on #19535
Thank you @andrewrk for https://github.com/ziglang/zig/commit/50905d88518f92a9b8e492daf8dbb6d38b7c61bf. Once the [CI](https://builds.sr.ht/~motiejus/job/681114) passes, I will cut a new bazel-zig-cc with this new version.

[2022-01-26 03:57] andrewrk commented on #19535
No problem. I was planning on solving those other two as well - will make a note here when those land.

[2022-01-26 05:54] rapatchi commented on #19685
@mattklein123  updated the description and title. Let me know if i missed something.

[2022-01-26 06:50] Mariappan opened #19696 "Using HTTP_PROXY with ext authz http filter"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Using HTTP-PROXY with ext authz http filter*

*Description*:
Our setup:

                                 Service
                                     ^

[2022-01-26 10:15] sha-rath commented on #19604
@lizan @htuch Any opinion on this?

[2022-01-26 13:45] alyssawilk opened #19699 "memory leak in gRPC access logs"
Access-logs-with-retries have a memory leak, discovered by Raven @dropbox

This leak was set on by default in https://github.com/envoyproxy/envoy/pull/17469 and fixed to only be problematic for retries (grpc_stream_retry_policy set) in  https://github.com/envoyproxy/envoy/pull/19500

[2022-01-26 13:56] alyssawilk commented on #19682
so the internal redirect is supposed to save the round trip between Envoy and Client of  doing the redirect.
If you redirect from /foo to http://loopback.com/bar you still need Envoy to have a route configured for loopback.com/bar, so it knows where to send the request.  The error you send indicates you don't have a route configured for the redirect URL.

[2022-01-26 14:02] kdowney-cloudwallcapital commented on #19682
OK. I had a hunch that was the case. How is the route expressed? http://localhost:9090/foo/metrics -> http://localhost:9001/metrics/ redirects to http://localhost:9001/metrics. The latter is a *cluster* address. Do I need to put in a match that references localhost:9001? Or is it a match that uses a header? This is why I raised this as a documentation issue: I read the docs and examples and could

[2022-01-26 14:07] kdowney-cloudwallcapital commented on #19682
Also, small thing: it would be nice if the trace actually logged the path that had no route. :-)

[2022-01-26 14:28] jmarantz commented on #4160
We can only use one time system at a time, either a Simulated one or a Real one.

The "GlobalTimeSystem" is just a helper class to get access to a time-system reference to the Real or Simulated system that already has been declared (or to declare a default real-time system if one is not already declared).

To make a particular test use SimulatedTime you should only need to make its test-class deri

[2022-01-26 14:43] Brunomachadob opened #19702 "Large amounts of `Sampling priority locked, trace already propagated` in the logs"
*Title*: Large amounts of `Sampling priority locked, trace already propagated` in the logs

*Description*:
We are seeing a bunch of these lines in our logs, it is not clear if this is a problem, a warning or just an info.
I'm not sure if this is coming from Envoy itself or maybe the Datadog provider we use for tracing?

Usually this message sneaks in the middle of other logs we are printing, for e

[2022-01-26 15:15] kdowney-cloudwallcapital commented on #19682
OK, I figured out a way to fix our config. It's a bit ugly, but it works! I had to add matching rules that keyed off the x-envoy-original-path header. If it matches the original inbound request path, it kicks the 307 back where it came from.

Thanks for the help, @alyssawilk, the tips helped me find this.

[code]

[2022-01-26 15:19] alyssawilk commented on #19682
Glad you're set.  You should just be able to match on the new path, but really whatever works :-P
Fair point on the logs - I'll throw together a quick PR to improve that, and close this out if that works for you

[2022-01-26 15:34] kdowney-cloudwallcapital commented on #19682
Thanks @alyssawilk, closing this issue now. Matching on new path would work too, but I had to do it this way because all our microservices sitting behind Envoy expose the same set of paths: /metrics, /graphql, etc.. So I need to disambiguate to pick the right cluster, and the x-envoy-original-path header does that nicely. :-)

[2022-01-26 15:34] #19682 closed

[2022-01-26 15:54] ricosega commented on #19296
@andrewwebber , yes, I should maybe ask this directly in istio because it could me more an istio issue.

[2022-01-26 15:54] #19296 closed

[2022-01-26 16:06] mattklein123 commented on #19676
I'm not sure. cc @mathetake who has been doing work in this area.

[2022-01-26 16:37] #19505 closed

[2022-01-26 17:27] kyessenov commented on #19676
CC @douglas-reid. Runtime and logic filters for tracing sound nice.

[2022-01-26 18:24] mattklein123 commented on #19687
cc @qiwzhang

[2022-01-26 18:26] mattklein123 commented on #19702
I don't see this string in the Envoy codebase so I'm not sure.

[2022-01-26 18:30] rectified95 commented on #17232
I'd like to pick up this issue as a way of getting started contributing to the repo. Do people have any reservations about moving forward with this change?

cc @wrowe @mattklein123 @codefromthecrypt
Who else can I tag to gather opinions?

[2022-01-26 20:05] unicell commented on #13254
@jcchavezs My main use case is to config validation, auto completion. Basically what `vscode-yaml` can offer, but I'm using `coc-yaml` (the coc fork of it).

Currently I'm using https://gist.githubusercontent.com/linux-china/66da28383a096a4675a44f1d212ba41e/raw/60f351d268d14ebcd128caae3e280425005b58c5/envoy-schema.json but that's not versioned.

I'm hoping to have full Envoy jsonschema available i

[2022-01-26 22:10] andrewrk commented on #19535
`--hash-style` is implemented in https://github.com/ziglang/zig/commit/40c9ce2caf8f024a249b3524813eb495cf1341b3.

May I see the contents of `bazel-out/k8-fastbuild/bin/bazel/gnu_build_id.ldscript`?

[2022-01-26 22:15] howardjohn commented on #19535
[code]

[2022-01-26 22:23] andrewrk commented on #19535
Thanks. The issue to track for that one is https://github.com/ziglang/zig/issues/3047, however it's not a high priority at the moment.

Do I understand correctly that this use case is unblocked?

[2022-01-26 22:37] douglas-reid opened #19710 "FR(tracing): add attribute-based sampling"
*Title*: Attribute-based trace sampling

*Description*:
In addition to the existing trace sampling configurations (`client`, `random`, and `overall`), it would be useful for Envoy to support some form of sampling based on **request** attributes. This would allow more flexible sampling logic, without the need for custom filters and shared metadata (for example).

This could work similar to the [fil

[2022-01-26 23:14] howardjohn commented on #19535
I haven't had a chance to try with https://github.com/ziglang/zig/commit/40c9ce2caf8f024a249b3524813eb495cf1341b3 yet. I did, however, disable the --hash-style flag from being set in the Envoy build config. This makes the build succeed without any errors.

However, running it immediately fails on https://github.com/envoyproxy/envoy/blob/450631b8e19a0bf8121a7338c4ecc0612731e68e/source/common/signal

[2022-01-26 23:15] tkennedy1-godaddy commented on #19273
Is there any guidance on how this should be resolved? Would love to assist!

Thanks!

[2022-01-26 23:40] andrewrk commented on #19535
Neither `--hash-style` nor `--build-id` are related to those mprotect/sigaltstack calls. I'm not sure why you would get different behavior with `zig cc` vs `clang`. I would advise against removing those asserts. They are ensuring that your stack has a guard page which is a security hardening technique. It would be useful to know the errno value that mprotect is returning when it fails.

[2022-01-26 23:49] howardjohn commented on #19535
Certainly - was mostly removing them temporarily to see if it would unblock the rest of the process.

[code]

[2022-01-27 00:01] #19305 closed

[2022-01-27 00:02] mattklein123 commented on #19710
Yup I think this would be a great feature. I think it would be great if we could unify the access log and trace filtering to the greatest extent possible.

[2022-01-27 00:15] andrewrk commented on #19535
[code]

this address is not properly aligned: `0x7fd97da92fff`

from the mmap call with `8191` I can deduced that `mapSizeWithGuards()` is using `-1` for the value of `altstack_size_`.

Not sure why that would happen but that's clearly the wrong value for altstack_size_ to have.

[2022-01-27 01:13] percenuage commented on #11551
For those who already have the issue with Cloud Run, I've found the origin : Docker Entrypoint. You can check the file -> [docker-entrypoint.sh](https://github.com/envoyproxy/envoy/blob/main/ci/docker-entrypoint.sh).
I just override the entrypoint like that :
[code]
(I'm using my own entrypoint for another use)

[2022-01-27 05:10] htuch commented on #19604
Re: connection logs as generic logs, can you just point the access logs at `/dev/stdout` or `/dev/stderr`? I.e. can we just leverage standard Unix paradigms here rather than having Envoy add special case support for sending access logs to the debug log stream?

[2022-01-27 08:01] #19301 closed

[2022-01-27 08:03] github-actions[bot] opened #19715 "Newer release available `com_github_grpc_grpc`: v1.43.2 (current: a3ae8e0)"
Package Name: com_github_grpc_grpc
Current Version: a3ae8e0@2021-06-07 22:24:54
Available Version: v1.43.2@2022-01-26 18:24:34
Upstream releases: https://github.com/grpc/grpc/releases

[2022-01-27 08:03] #19039 closed

[2022-01-27 08:39] s-jlatusek commented on #19335
Is there anyone who would like to help me solve this issue?

[2022-01-27 08:47] motiejus commented on #19535
When Bazel is configured to use a C/C++ toolchain, it defaults to a "more hermetic" build (for the lack of better word, or lack of my understanding how it actually works). I.e. it will refuse to include anything that's not explicitly allowlisted, and `/usr/include/linux/*` isn't. However, zig bundles the linux headers and should be able to find them. What happens if you just remove `/usr/include/`

[2022-01-27 09:16] motiejus commented on #19535
[bazel-zig-cc 0.4.2 is now released][1], which includes this change.

[1]: https://lists.sr.ht/~motiejus/bazel-zig-cc/%3C20220127091527.oe53s3gm75354rdm%40mtpad.i.jakstys.lt%3E

[2022-01-27 11:10] Brunomachadob commented on #19702
Yes, I've also looked into it but couldn't find it.
That's why I mentioned about being inside DD plugin or something like that 🤷🏻‍♂️

[2022-01-27 11:23] Brunomachadob commented on #19702
I've found this after searching inside DataDog's org, looks promising, even though I couldn't find the exact message, maybe its from an older version or the string is build dynamically 🤷🏻‍♂️

https://github.com/DataDog/dd-trace-go/blob/f00313c28fc84ff4d85cecaba74279588e1d2d7f/ddtrace/tracer/span.go#L163

Maybe it should be sensible to open an issue there and link to this one.

[2022-01-27 14:11] yanavlasov opened #19717 "Critical perf regression in getifaddrs syscall under load"
This affects Ubuntu. Causes latency SLO violations.

There were multiple PRs but the one that finally put it all together is PR #19336

The getifaddrs call to get interface names for each connecting socket adds a lot of latency when the system is under heavy load or during bursts of requests. This was confirmed by internal profiling. Additional latency can be tens of milliseconds.

There needs to

[2022-01-27 14:12] yanavlasov commented on #19717
@junr03

[2022-01-27 14:50] xajhljq commented on #19567
the default value of "ulimit -s " is 8192. Then I set “ulimit -s 65536”, can't solve this problem yet. How can I solve this problem in another way?

[2022-01-27 14:56] xajhljq opened #19718 "What's the `ulimit` of your environment?"
What's the `ulimit` of your environment?

_Originally posted by @lizan in https://github.com/envoyproxy/envoy/issues/19567#issuecomment-1017936093_

the default value of "ulimit -s " is 8192. Then I set “ulimit -s 65536”, can't solve this problem yet. How can I solve this problem in another way?

[2022-01-27 14:57] #19718 closed

[2022-01-27 15:08] xajhljq opened #19719 "bazel build the http filter with envoy v1.16.0 failed by "execv: Argument list too long""
I am trying to build the http filter with envoy v1.16.0 with following commands:
bazel build //http-filter-example:envoy

the result of building is following with gnu7 or gnu9:

gnu7
with bazel "fatal error: cannot execute '/usr/lib/gcc/x86_64-linux-gnu/7/cc1plus': execv: Argument list too long"

gnu9
with bazel "fatal error: cannot execute '/usr/lib/gcc/x86_64-linux-gnu/9/cc1plus': execv: Argumen

[2022-01-27 15:52] howardjohn commented on #19535
Thanks for the pointer @andrewrk ! It turns out https://github.com/envoyproxy/envoy/blob/450631b8e19a0bf8121a7338c4ecc0612731e68e/source/common/signal/signal_action.h#L55

evaluates to `-1` as `MINSIGSTKSZ` is -1. This can be reproduced with the following program:

[code]

For now, I have just replaced it with `guard_size_ * 4` which gets things back to the `Didn't find a registered implementation

[2022-01-27 15:57] mattklein123 commented on #19719
I'm pretty sure this has been fixed somehow in newer releases but I'm not completely sure. cc @yanavlasov @wrowe

[2022-01-27 16:08] johnlanni opened #19720 "v8 runtime crashed when creating lots of wasm vms"
*Description*:
v8 runtime crashed when creating lots of wasm vms.

*Repro steps*:
envoy version: 1.21.0
I enabled 5 wasm filters with different wasm file, and run envoy with `--concurrency 50`

*Config*:
[code]

*Logs*:
last few lines of log:
[code]

*Call Stack*:

coredump backtrace:
[code]

[2022-01-27 17:01] sabomichal commented on #11049
The gRPC/HTTP2 transport documentation [here](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md) seems to be strict - gRPC always sends grpc-status as a trailer. So the [reference documentation](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/router_filter#x-envoy-retry-grpc-on) is really misleading.
Nevertheless if it is correct that Envoy treats trailers

[2022-01-27 18:57] mattklein123 commented on #19710
Yeah I think if possible we should directly reuse the filters if possible. I admit the naming is poor (access log vs. tracing) but I'm not sure it's worth a giant renaming project since IMO it's close enough.

[2022-01-27 19:15] kyessenov commented on #19710
I'd be curious how we would resolve duplication of `runtime_filter` sampling and the [HCM sampling](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto#extensions-filters-network-http-connection-manager-v3-httpconnectionmanager-tracing). They seem to serve the same purpose. I think it would be great to modularize tr

[2022-01-27 19:35] sergiitk opened #19724 "Support `request.query` request attribute"
*Title*: Support`request.query` request attribute

*Description*:
Envoy [Request attributes](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/advanced/attributes#request-attributes) are missing `request.query`, which is commonly used to retrieve the query part of HTTP url. Some examples:

1. googleapi's `attribute_context.proto` serves a purpose similar to Envoy's attributes. It pro

[2022-01-27 22:40] lambdai opened #19725 "improper 408 http status code"
Envoy is returning 408 on lots of timeout cases. However, the 408 status code implies that [the client did not produce a request within the time that the server was prepared to wait. ](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html)

However, even the client does deliver the full request to envoy, envoy still returns status 408.

Example: when the backend of port 9080 is httpbin on 8080
`

[2022-01-27 22:48] lambdai commented on #19725
In this example, envoy should have recieved the full request from curl. The more reasonable response code should be "504 Gateway Timeout"

[code]

[2022-01-27 23:07] douglas-reid commented on #19710
@kyessenov would you mind clarifying what you mean when you say "modularize tracing out of HCM"?

Are you suggesting something like using [RouteMatch](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#config-route-v3-routematch) mechanisms to (exclusively) control tracing (and sampling) at the route-level instead? Or did you have something else in mind (like

[2022-01-27 23:21] kyessenov commented on #19710
I was thinking that the [tracing field in route](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-msg-config-route-v3-route) does not align well with access log filter configuration in HCM. Basically, the more self-contained we can make tracing configuration, that would be better over having little pieces of config spread over HCM components.

[2022-01-27 23:37] mattklein123 commented on #19710
I agree. Any clean up we can do here would be useful, albeit it might be a painful deprecation. Tracing is some of the oldest code/config we have and it definitely has not been modernized to the extend that other code/config has.

[2022-01-27 23:42] mattklein123 commented on #19725
Can you provide trace logs of the failing sequence? Envoy should not be returning a 408 if the request was fully received.

[2022-01-28 00:01] #19327 closed

[2022-01-28 00:43] noahgoldman opened #19727 "Add new tap output sink type BufferedAdminSink"
*Title*: *Add new tap output sink type `BufferedAdminSink`*

*Description*:

The existing `/tap` admin endpoint makes it easy to setup ad-hoc captures on an Envoy instance with minimal dependencies (an HTTP client such as `curl` being all that's required).  There are however, some cases where the streaming approach taken by this endpoint becomes more challenging to use:
* As an Envoy operator, I o

[2022-01-28 00:45] lambdai commented on #19725
Thank you for the response

The trace log is
https://gist.github.com/lambdai/aa2b4d8b9c0e4bffe4d08c46c628d533

Envoy binary is from image envoyproxy/envoy:v1.21.0
./envoy121  version: a9d72603c68da3a10a1c0d021d01c7877e6f2a30/1.21.0/Clean/RELEASE/BoringSSL

[2022-01-28 07:30] lizan commented on #19535
This is why you miss extensions, extensions registry needed to be linked with `--whole-archive`: https://stackoverflow.com/questions/805555/ld-linker-question-the-whole-archive-option

[2022-01-28 09:08] dorisd0102 opened #19729 "code coverage for contrib extension"
*Title*: code coverage for contrib extension

*Description*:
The "bazel coverage" could not generate the code coverage report of contrib extension,  is there any plan to implement it?

[optional *Relevant Links*:]
No

[2022-01-28 13:40] darmawan01 opened #19732 "[Help] Got ERR_TOO_MANY_REDIRECTS"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Got ERR_TOO_MANY_REDIRECTS*

*Description*:
Here is the envoy config:
[code]

Using the envoy to pass the request to dhis2 services, dhis2 is java app that using to

[2022-01-28 14:59] yanavlasov commented on #19719
Fixed in PR #16711

[2022-01-28 14:59] #19719 closed

[2022-01-28 15:20] howardjohn commented on #19535
Hmm interesting. Since https://github.com/envoyproxy/envoy/issues/19535#issuecomment-1021837857 I think those warnings should no longer happening. Let me double check next week that I didn't somehow disable it another way

[2022-01-28 15:53] mattklein123 commented on #19729
This would be nice to have somehow, but it's not implemented yet. I will mark it help wanted.

[2022-01-28 16:05] #19293 closed

[2022-01-28 16:11] mattklein123 commented on #19727
I think this a fine feature request, though my initial reaction is that if the admin call blocks, you still have a high likelihood that clients may give up before you get the response you are looking for. I suppose you are OK with configuring client max hanging GET / response time?

[2022-01-28 16:12] mattklein123 commented on #19720
cc @PiotrSikora

[2022-01-28 16:14] mattklein123 commented on #19724
cc @kyessenov @douglas-reid

[2022-01-28 16:14] mattklein123 commented on #19732
cc @alyssawilk

[2022-01-28 17:46] noahgoldman commented on #19727
Yeah, that's definitely possible.  Particularly in the case I listed above, where the `/tap` request might be proxied through a hop with a lower request timeout.

In my opinion however, a case where the call blocks for a very long time would probably occur in a situation where one of the other output sinks would be more appropriate.  I can imagine a use-case where you'd want to do an ad-hoc captur

[2022-01-28 18:48] andrewrk commented on #19535
I noticed an issue upstream with -whole-archive on the ELF linker code, one moment please...

[2022-01-28 19:21] andrewrk commented on #19535
Confirmed, this was an issue on Zig's end. Fixed in https://github.com/ziglang/zig/commit/d7deffee8d1861720ba4f9d3cb6a7f6dfb7ccb33

(In summary, only the Mach-O linker backend was paying attention to -whole-archive; now ELF, COFF, and WASM linker backends honor the setting)

[2022-01-28 19:29] motiejus commented on #19535
On my end, I will not release bazel-zig-cc — you may specify alternative version and download URLs when registering the toolchain.

The API will improve, but you can use those today.

[2022-01-28 19:46] andrewrk commented on #19535
Thank you for the repro on MINSIGSTKSZ. I filed https://github.com/ziglang/zig/issues/10713 and will be looking into it today. Pretty strange that it works fine with musl, and works fine with C code. It's the combo of C++ and glibc that triggers the issue.

[2022-01-28 21:42] lambdai commented on #19725
Another concern along with the side effect of http code 408 is to set "connection: close", or reset the connection. But I see neither.

* rfc7231:
[code]

* keep alive implicitly requested as the protocol is http1.1
[code]

* tcp dump shows neither FIN or RST

[2022-01-28 22:34] glebarez commented on #19527
indeed there's a need for this.
I stumbled upon this ```Postgres STARTTLS``` thing while trying to get nginx to do the subject.

[2022-01-28 23:05] lambdai commented on #19612
There is an config verification that  header name "host" or ":authority"  can not be added or removed.

I comment that line and it works.

So I guess the only thing we need here is to keep maintain the restriction in http router but allow the mutation in tcp proxy tunnel setting

[2022-01-29 00:31] gbrail commented on #14789
As of https://github.com/envoyproxy/envoy/pull/19622, this has now been merged to main and is supported. See the new "mutation_rules" field in the filter configuration.

[2022-01-29 00:31] #14789 closed

[2022-01-29 01:40] andrewrk commented on #19535
The issue with MINSIGSTKSZ was a bug in Zig, fixed in https://github.com/ziglang/zig/commit/39083c31a550ed80f369f60d35791e98904b8096. Thanks again for the reduction.

[2022-01-29 02:45] daixiang0 commented on #19729
/assign

[2022-01-29 02:49] daixiang0 commented on #19729
@dorisd0102 you can run `bazel.coverage //contrib/...` to get it.

[2022-01-29 04:01] #19344 closed

[2022-01-29 04:57] daixiang0 commented on #19724
Very curious about the mentioned compatibility reasons.

[2022-01-29 08:05] github-actions[bot] opened #19736 "Newer release available `com_google_protobuf`: v3.19.4 (current: v3.19.3)"
Package Name: com_google_protobuf
Current Version: v3.19.3@2022-01-11 17:17:30
Available Version: v3.19.4@2022-01-28 03:35:56
Upstream releases: https://github.com/protocolbuffers/protobuf/releases

[2022-01-29 20:01] #19255 closed

[2022-01-29 20:01] #19312 closed

[2022-01-29 20:01] #19337 closed

[2022-01-30 13:24] unleashed commented on #14299
The current design does not communicate back to the rate limiting service how much of the quota has actually been consumed. Providing this information is key for the service to size the (potentially refreshed) quota it can allocate to a proxy instance at a time, as well as for reporting purposes.

[2022-01-31 03:50] #19674 closed

[2022-01-31 03:56] Mariappan commented on #19696
Ok I finally managed to compose envoy config using the above examples, which works for my setup. I post my config below for  reference in future.
I have some ugly lua filters to replace Host header. I tried host_rewrite which break my use-case.

One other thing to note is that it works with `envoy 1.21.0` and not with `1.16.0`. So i upgraded our envoy version.

[code]

[2022-01-31 03:56] #19696 closed

[2022-01-31 05:31] hq6 commented on #1182
@qiwzhang I have examined the provided example code and links. Here's a new, non-blocking design proposal.

 * New logic flow for JsonTranscoderConfig constructor
   * The logic after the switch() statement gets extracted into a function
     called `processDescriptorPool`.
   * If services are empty, then we return immediately as before.
   * If we are not using reflection, then just read the fil

[2022-01-31 13:42] ramaraochavali commented on #19369
@yanavlasov Is that true that envoy stops accepting new connections at drain start? If yes as suggested by @rittneje we may have to update the docs?

[2022-01-31 14:10] #19051 closed

[2022-01-31 14:14] alyssawilk commented on #19732
I assume that Envoy is serving a bunch of redirects.  I suggest you check out access logs, using the response code details in https://www.envoyproxy.io/docs/envoy/latest/faq/debugging/why_is_envoy_sending_internal_responses to see if Envoy or your upstream is generating the redirects.

[2022-01-31 14:15] prateek0394 commented on #19664
Hi guys,

Can someone help me in this?

Thanks.

[2022-01-31 14:21] ramaraochavali commented on #19612
@lambdai Yes. That is what my original idea for the fix and it makes sense to me.

@jewertow Can we do that instead of thinking about changing/adding additional behaviours to hostname field?

[2022-01-31 14:33] alyssawilk commented on #19725
Agree on the response code being incorrect - @lambdai you want to fix or should I add it to my queue?
Regarding response code that's an artifact of the type of timeout.  408 is request timeout and that means the full request isn't read, so you have to kill the connection (no follow-up requests allowed).  If the full request is read and and a full error response is sent, it's fine to reuse the conn

[2022-01-31 15:38] minopolous opened #19739 "Question to init state of ring hash based LB"
The documentation says nothing, if for two ports in a deployment the same hash ring is set up (if the hosts are for both ports at the same place in the ring and, if using the same input to the hash function we'd expect the same targeted host), or if the positioning in the ring is random.
What can be seen is, that different ports defined in istio are targeting different hosts (stickyness is isolate

[2022-01-31 19:03] kyessenov commented on #19724
Makes a lot of sense. I think it would be nice to have that attribute parsed and presented as a map for usability, but that probably needs extra care due to potentially malformed inputs.

[2022-01-31 19:07] howardjohn commented on #19535
Awesome - thanks for all of the fixes. With that I am able to fully build with:
[code]

Branch: https://github.com/howardjohn/envoy/tree/zig2

I had to disable WASM since its using `cc1plus` for builds for some reason - I didn't look much into v8's build setup to see why since it was easier to just skip it for now. I also tried with `--copt "-flto"` which made lua break (
[code]
), so I disabled t

[2022-01-31 19:14] hq6 commented on #1182
The first point I agree with.

The second point I believe might cause problems, if the servers that are hit have a mixture of builds, as described in the [gRPC reflection doc](https://github.com/grpc/grpc/blob/master/doc/server-reflection.md).

According to that doc, the only reason why the ServerReflection Rpc is structured as a streaming Rpc is to ensure that all requests go to the same backend,

[2022-01-31 19:24] llu94 commented on #19685
If you don't mind, I'd be willing to take a look at this.

[2022-01-31 19:43] alyssawilk opened #19744 "flake in BindToPortUpdate"
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/100324/logs/219

2022-01-31T04:47:06.1174335Z test/integration/listener_lds_integration_test.cc:631: Failure
2022-01-31T04:47:06.1174787Z Expected equality of these values:
2022-01-31T04:47:06.1175628Z   TestUtility::findCounter(test_server_->statStore(), absl::StrCat("listener.", target_listener_prefix_, ".worker_0

[2022-01-31 20:26] qiwzhang commented on #1182
There is not concern for Envoy.   Most likely,  these multiple requests will share the same TCP connection.

I assume you will not use google_grpc_async_client,  you will use envoy grpc_async_client: which is not calling c++ grpc client library, you will use envoy upstream code to talk to grpc server.  You need to create a envoy `cluster` config for your grpc server.  Even for this case, envoy wil

[2022-01-31 20:29] hq6 commented on #1182
Yes, I plan to use the the Envoy version of the client, not the Google version.
The concern is that if someone tries to use this filter when Envoy is not a sidecar, could there be more than one backend in the specified cluster?

[2022-01-31 20:41] qiwzhang commented on #1182
I believe envoy will try to re-use same connection for [http2](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/connection_pooling#http-2).  It should be fine.

[2022-01-31 21:27] cetanu opened #19747 "What does `wasm_fail_stream` mean exactly, as a response code detail?"
We've rolled out a WASM filter to our envoy infrastructure and noticed that occasionally, a single node will gradually start failing requests with a response code detail of `wasm_fail_stream`.

I am wondering, what does this mean exactly? It's unclear and doesn't appear to be documented. We are trying to determine a cause and fix for this.

This seems to be the relevant block of code in envoy:
htt

[2022-01-31 21:44] ameily commented on #10646
I'll be creating multiple issues to track each task for the larger goal of a unified header validation (uhv) component, based on the tech spec.

[2022-01-31 21:52] ameily opened #19749 "uhv: move http-parser to envoy"
Envoy will need to use a modified version of http-parser as part of the unified header validation component. The first step would be to bring in http-parser into Envoy. Then, as part of a separate issue, http-parser will be modified to add a configuration setting that skip header validation.

Right now,  [http-parser](https://github.com/envoyproxy/envoy-setec/blob/main/bazel/external/http-parser.B

[2022-01-31 21:55] howardjohn commented on #19535
Also tested the explicit glibc version building, worked great without issues! One question I had for @motiejus is how to specify the glibc version from a bazel flag (or if you can)? Currently I just only register one version in `zig_register_toolchains`

[2022-01-31 21:58] ameily opened #19750 "uhv: http-parser: add option to skip header validation"
As part of the unified header validation component, the http-parser library will be modified to add an option to disable header validation on a per-request basis. The intent is that header validation will be performed by the UHV and not by each codec / library.

http-parser currently controls how header validation is performed on the compile-time [`HTTP_PARSER_STRICT`](https://github.com/nodejs/ht

[2022-01-31 22:05] ameily opened #19751 "uhv: nghttp2 patch: add option to disable header validation"
As part of the unified header validation component, nghttp2 will need to be modified at build time to include a new option that disables header validation on a per-request basis. This issue is similar to #19750, which is targeting HTTP 1 parsing. The intent is that nghttp2 will be configured to disable header validation when the UHV is being used.

The result will be a [patch](https://github.com/e

[2022-01-31 22:09] ameily opened #19752 "uhv: define extensible validation API"
As part of the unified header validation component, Envoy will need to define an extensible API. The tech spec describes a simple API that will be initially implemented.

[code]

The goal of this issue is to define the API, get feedback from the team and community, document the API, and potentially create factory stubs for the support HTTP codecs.

[2022-01-31 22:19] ameily opened #19753 "uhv: implement default protocol header validations"
As part of the unified header validation component, Envoy will maintain a header validation implementation for each supported codec (h1, h2, h3/quic). This issue will develop concrete implementations for the UHV API (#19752) that include all current header validations. Header validation is currently performed in multiple locations within Envoy and within the underlying parsing libraries. So, part

[2022-01-31 22:25] ameily opened #19754 "uhv: hcm header validation policy configuration"
As part of the unified header validation component, the HTTP connection manager will be updated to honor the configured header validation policy on a per-request basis. Initial policies available will include:

- Legacy (default) - use the current, non-UHV, codec and library specific header validations
- UHV - use the Envoy maintained unified header validation component within Envoy

Eventually th

[2022-01-31 22:36] ameily opened #19755 "uhv: codec honor legacy header validation configuration"
As part of the unified header validation component, each HTTP codec will need to honor the header validation policy configuration and use the legacy parsing/validation when the policy is configured. Each codec will need to be updated to check the configured policy and either use or skip the legacy validations. Additionally, the policy will determine how the underlying library is configured (see #1

[2022-01-31 22:43] dastbe opened #19756 "Supporting "Delegated Identity API" from SPIRE via SDS"
*Title*:  Supporting "Delegated Identity API" from SPIRE via SDS

*Description*:

Hi! Recently, SPIRE added support for a [Delegated Identity API](https://spiffe.io/docs/latest/deploying/spire_agent/#delegated-identity-api), which adds support for a trusted workload to retrieve certificates on-behalf-of other workloads on the host. From looking at the current [XDS integration with SPIRE](https://s

[2022-01-31 22:54] ameily opened #19757 "uhv: http-parser: allow extension methods"
As part of the unified header validation component, http-parser needs to be updated to allow the use of extension methods, similar to how nghttp2 allows them. http-parser will be modified to add a new configuration setting that does not validate the method. This will allow similar behavior between the h1 and h2 codecs.

Within Envoy, a new configuration setting may need to be added as well that co

[2022-01-31 22:58] ameily commented on #10646
I've created the issues. Here is the rough order that I think we will work on them:

1. https://github.com/envoyproxy/envoy/issues/19749
2. https://github.com/envoyproxy/envoy/issues/19750
3. https://github.com/envoyproxy/envoy/issues/19751
4. https://github.com/envoyproxy/envoy/issues/19752
5. https://github.com/envoyproxy/envoy/issues/19753
6. https://github.com/envoyproxy/envoy/issues/19754
7.

[2022-01-31 23:06] ameily commented on #19752
@yanavlasov Would it make sense to include a boolean flag for requests that differentiates between downstream (client-originated) and upstream requests? I could see it being useful in custom implementations to have a different behavior for upstream requests, although I don't think it would be used by the Envoy-maintained UHV implementation.

[2022-01-31 23:14] junr03 opened #19759 "upstream connections: implement caching of interface table."
upstream connections:  implement caching of interface table.

*Description*:
There are situations where knowing the local interface name of an upstream connection (https://github.com/envoyproxy/envoy/pull/19336) is useful debugging information. However, accessing that information usually requires syscalls that can become too expensive under load (https://github.com/envoyproxy/envoy/issues/19717).

[2022-01-31 23:25] keith commented on #18718
Landed in https://github.com/envoyproxy/envoy/pull/19706#event-5983133239

[2022-01-31 23:25] #18718 closed

[2022-01-31 23:45] cetanu commented on #19747
https://envoyproxy.slack.com/archives/CM2CQ4XJ5/p1643672245850239

[2022-01-31 23:45] #19747 closed

[2022-02-01 01:38] abhinavdahiya opened #19761 "memory leak when HTTP/2 codec wrapper API turned on by default"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *envoy keep using more memory until OOMKill after HTTP/2 codec wrapper API turned on by default*

*Description*:

the bug, for example: Envoy should not crash, the e

[2022-02-01 01:51] xjtian commented on #19761
For context - we saw Envoy sidecars which typically use ~300MB memory at steady-state eventually get OOMKilled after hitting their 4GB memory limit upon pulling the linked change in.

[2022-02-01 03:43] tommyp1ckles commented on #19229
@burnerlee What files where you planning on working through?

[2022-02-01 06:03] rapatchi commented on #19685
Thanks @llu94 , for taking a look into this. Any idea on how much time it will take for this feature to be available ?.

[2022-02-01 06:22] ramaraochavali commented on #19369
@mattklein123 I thought drain?graceful does not stop new connections from accepting and that is the difference between that and normal drain (without graceful) - Looks like it is not case based on above^^?

[2022-02-01 08:03] github-actions[bot] opened #19762 "Newer release available `com_googlesource_code_re2`: 2022-02-01 (current: 2021-11-01)"
Package Name: com_googlesource_code_re2
Current Version: 2021-11-01@2021-11-01 04:07:43
Available Version: 2022-02-01@2022-01-31 13:00:00
Upstream releases: https://github.com/google/re2/releases

[2022-02-01 08:58] PiotrSikora commented on #19720
@johnlanni thanks for the report, fixed in #19763.

[2022-02-01 10:41] PiotrSikora commented on #19273
Could you provide a minimal reporducer (full Envoy config + Proxy-Wasm plugin)? You could also try to replicate the issue using [`direct_response`](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-field-config-route-v3-route-direct-response) and/or similar code in Lua in order to narrow down the source of the issue.

[2022-02-01 11:09] jewertow commented on #19612
I know that I suggested this workaround, but to be honest, I really don't like this idea.
Please take a look at this config:
[code]
This configuration is really bad, because:
1. if `filter_chain_match.server_names` is set, then `hostname` will never be used, because `%REQUESTED_SERVER_NAME%` is always present, so setting this value is redundant and completely useless;
2. if `filter_chain_match.ser

[2022-02-01 12:08] eoregua opened #19764 "envoy 1.20.0 build: context.cc failed: (Aborted): clang failed"
Hi,

The build of envoy 1.20.0 is failed with the following reason:

[code]
Below is a section of the dockerfile used to build envoy:

[code]
Do you have any clue for such issue and any possible fix?

Meanwhile I'm also trying to build again envoy checking if the issue is systematic or not.

Thanks!

[2022-02-01 12:59] ghevge commented on #19687
@qiwzhang any idea? Thanks

[2022-02-01 13:11] alyssawilk commented on #19759
I think we're still going to want a config knob for doing it at all, given it's not useful for the common case.

[2022-02-01 13:31] NotoriousBIT opened #19765 "STARTTLS for SMTP"
*Title*: *How to set up STARTTLS for SMTP?*

*Description*:
Has anyone ever used STARTTLS extension for use with SMTP? I have a setup where envoy is handling TLS termination in front of postfix. Now I would like to also support STARTTLS, but could not get it to work. I’m wondering if the extension even is supposed to work with SMTP.

I googled for hours but couldn’t find an example. Did anyone eve

[2022-02-01 14:10] motiejus commented on #19535
I got ill, will reply in detail in a couple of days.

[2022-02-01 15:23] ankitkumarr opened #19768 "Initial health check per connection"
*Title*: An option for an initial health when creating a connection to any host in a cluster.

*Description*:
If [active health checking](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/health_checking) is configured for a cluster, an initial active health check is performed for all hosts as part of [cluster warming](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_o

[2022-02-01 15:26] efimki commented on #19768
@yanavlasov FYI

[2022-02-01 16:05] mattklein123 commented on #19761
cc @alyssawilk @birenroy can you take a look at this? Should we revert the flag while we sort this out? Unfortunately I think this also went into the last release so either the revert or the fix will need to be backported. cc @oschaaf

[2022-02-01 16:59] DzianisH opened #19772 "Default JWT locations in JwtProvider does not overrides by explicit from_cookie location. v1.21.0"
In the `extensions.filters.http.jwt_authn.v3.JwtAuthentication` confing I have a `extensions.filters.http.jwt_authn.v3.JwtProvider` config like the followin:

[code]

When I run config with such provider on Envoy 1.21.0 I see that Envoy accepts authorization via `my_jwt_cookie`, but it also accepts authorization via default locations (query param `access_token` and HTTP header `Authorization` with

[2022-02-01 17:54] birenroy commented on #19761
I think we found the leak. We'll give the fix some time to bake internally before enabling the runtime feature again.

[2022-02-01 18:08] JoseAlvarezSonos opened #19773 "Can envoy queue requests while rate limiting?"
*Title*: Can envoy queue requests while rate limiting?

*Description*:
We have setup an Envoy proxy configured with Envoy RateLimit. We have a simple setup where we have 3 paths, and each one of them has a global rate limit, something like this:

[code]

Then we have the envoy proxy conf like this:

[code]

My question is, could we have some sort of queueing in the proxy, so when the ratelimit rep

[2022-02-01 18:17] dastbe commented on #19756
Not sure what you mean by Envoy level, I would phrase it as "...have an Envoy that is proxying outbound requests on behalf of multiple clients". Given we have a way of determining the client workload from the inbound connection, we would like to select the client cert dynamically based on the client identity.

[2022-02-01 18:25] howardjohn opened #19774 "Slow startup speed triggered by "Secret is updated""
*Title*: Slow startup speed triggered by "Secret is updated"

*Description*:
We have had a few reports of slow startup speed of Envoy. They seem primarily revolving around slow SDS processing.

This has been reported by multiple users. In one case, we see 1600 clusters with SDS references to two shared certificates.

If we look at a plot of "Secret is updated" logs, we see an interesting pattern:

[2022-02-01 18:26] mattklein123 commented on #19768
cc @alyssawilk. I think this is going to be tricky to implement so I would recommend doing a design before writing any code. The main reason it will be tricky is that the health checking system is disjoint from the connection pooling system and linking them up is not going to be easy.

The other thing I would mention is this feature is somewhat similar to the existing HTTP/2 keep alive feature whi

[2022-02-01 18:31] kyessenov commented on #19756
We have a similar request to dynamically select a client TLS context based on per-connection metadata to avoid the explosion of "client identity x destination" that was mentioned. There is a precedent of using endpoint labels (https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto#envoy-v3-api-msg-config-cluster-v3-cluster-transportsocketmatch). In our case, we'd want d

[2022-02-01 21:15] alyssawilk commented on #19725
cc @DavidSchinazi alternately depending on your hire's start time this would be a good intro issue

[2022-02-01 21:16] #19544 closed

[2022-02-01 21:31] alyssawilk commented on #19768
AFIK the h2 ping options are for making sure long lived connections are still around, but the inline health check is more for new connections to make sure that the upstream is suitable for traffic.  I think this is going to be needed for a number of internal use cases, but +1 to doing an early design doc as it's likely going to be a series of non-trivial changes

[2022-02-01 21:50] alyssawilk commented on #19430
OK, _finally_ got logs for this

key bit

2022-02-01T14:42:29.8260172Z [2022-02-01 14:41:33.793][3532][debug][connection] [source/common/network/connection_impl.cc:138] [C497] closing data_to_write=248 type=2
...
2022-02-01T14:42:29.8298775Z [2022-02-01 14:41:33.793][4204][trace][connection] [source/common/network/raw_buffer_socket.cc:38] [C496] read error: An existing connection was forcibly clos

[2022-02-01 22:11] dastbe commented on #19756
@kyessenov do you have need for selection from a fixed set of certs or something fully dynamic? one of the caveats is that we need to be able to do the equivalent SDS templating ala:

[code]

where `client-identity` is extracted from the inbound connection, which I think is why @mattklein123 suggested DFP. I'll take a look at that and see if there's a sensical extension.

[2022-02-01 22:31] mattklein123 commented on #19768
Yeah that's true, though the conn pool has logic I'm pretty sure to hold the connection until it has been verified (streams are not sent there) so in that sense I think there is a bunch of overlap.

My larger point is that it may be easier to have an independent "inline conn pool health check" config vs. the async active health checking. Perhaps they can share some of the same protos. Anyway a bun

[2022-02-01 23:00] kyessenov commented on #19756
The set of certs is dynamic based on the set of workloads that Envoy forwards traffic on behalf of. We're using service accounts, so it's not excessively dynamic. Instead of DFP, we rely on ORIGINAL_DST cluster in an internal listener with a custom metadata populated destination. Without the selection, we need to have as many listeners as there are service accounts each with its own ORIGINAL_DST c

[2022-02-01 23:21] pcj opened #19776 "Traffic shifting with envoy.extensions.filters.http.stateful_session.v3.StatefulSession"
# Summary

I'm trying to get the following scenario to work (copied from a slack thread):

This is an important invariant to hold when doing blue/green or canary deployments, because the javascript and css files are likely only internally consistent between app versions.  It does not make sense to serve half the application from v1 and the other half from v2.

I am trying to demonstrate this using

[2022-02-01 23:22] pcj commented on #19776
If this issue is more appropriate for istio, happy to move it.

[2022-02-01 23:23] howardjohn commented on #19776
Just to double check - on subsequent curl requests did you send the cookie? Curl doesn't automatically. I think you mentioned browser which should do that automatically but just checking

[2022-02-01 23:25] pcj commented on #19776
Good point, on subsequent curl requests I did forget to do that, but I was mostly using the browser for testing, but copying the curl output for the issue.  So I think the issue is valid (but I will go double-check this).

[2022-02-01 23:29] pcj commented on #19776
Request 1:

![image](https://user-images.githubusercontent.com/50580/152068599-2eee339e-2ac2-489d-8d2a-ffdb59a2d36c.png)

Request 2:

![image](https://user-images.githubusercontent.com/50580/152068708-73f0ca13-0955-460c-b185-ad6122138b26.png)

[2022-02-01 23:51] Tenaria commented on #9958
Hello 👋 just wondering if there's been any update on this from the last comment 👀 ? Thanks!

[2022-02-02 00:10] lambdai commented on #19756
In addition to @kyessenov 's comment,

We are less dynamic because the number of unique tls_context is not concerning. Our concern is the flexibility of matching mechanism that choosing the best known tls_context.

@dastbe My impression is that it's either impossible or not economic to enumerate client-identity. And then you hit the match criteria as our case.

[2022-02-02 00:27] mattklein123 commented on #19756
I would also point you to https://github.com/envoyproxy/envoy/pull/18723 which is dynamic loading of clusters. We do similar dynamic loading of scoped routes on the on_demand filter. I think one other option is to somehow have a filter that can dynamically load a TLS context over SDS and then make that available to further filters via matching.

[2022-02-02 01:11] qiwzhang commented on #19772
It is a bug,  this [code](https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/http/jwt_authn/extractor.cc#L211)
only check `from_headers` and `from_params`.  it did not check `from_cookies`

I will send out a pr

[2022-02-02 02:14] douglas-reid commented on #19710
@mattklein123 @kyessenov is something like https://github.com/douglas-reid/envoy/commit/c1266d8e683cd56bf6e6ff34eaef0a5094d046b0 more along the lines you would like to see ?  I want to establish general API agreement before spinning on the implementation.

[2022-02-02 06:56] ramaraochavali commented on #19612
@jewertow TBH, We do not need that much of complexity for our usecase. - we know SNI will be there and we setup that config that @lambdai shared for such cases only. But I do not have much knowledge on the different possible usecases with CONNECT - So may be @alyssawilk can weigh in here?

[2022-02-02 13:21] motiejus commented on #19535
I've never heard about `dwp`, and it's hard to find documentation about it. I am successfully using `-c opt` internally and it does not complain.

If we want dwp, it will need to be included to the zig distribution (`zig dwp`?), but the arguments will need to be more convincing. I had a similar request for [`zig ar`](https://github.com/ziglang/zig/issues/7915) which made bazel-zig-cc possible, and

[2022-02-02 13:32] motiejus commented on #19535
I also [released v0.4.3](https://lists.sr.ht/~motiejus/bazel-zig-cc/%3C20220202133213.g6c66zwont7qyrr4%40mtpad.i.jakstys.lt%3E) while at it.

[2022-02-02 15:18] phlax opened #19781 "Remove alpine images"
It has been planned for some time to remove the alpine images as we now have distroless that are better suited for the same purpose, and as it adds some maintenance overhead.

We have some contention for diskspace in envoy's CI builder, and the distroless images have been around for a while, so now would seem to be the time to remove.

related tasks:

- [x] Remove alpine build CI
- [x] Remove alpi

[2022-02-02 15:19] jdomag commented on #7484
@aclowkey @alyssawilk
I use envoy via Istio and I'm just curious - which component or logic in envoy remove or doesn't honor "x-envoy-force-trace" header? My first though was that it makes sense to protect the system so nobody from outside don't flood envoy/istio mesh with "x-envoy-force-trace" - but if the workaround is to use  `x-client-trace-id: 0`  then it doesn't make any sense to me

[2022-02-02 16:09] hmettendorf commented on #19612
Hello guys,
I have a question about the use case in this issue. There may be similarities to our current problem.

As I understand it, the gateway should dynamically accept several (instead of a single static) hostnames and forward them accordingly via the TCP proxy.

My question now is whether completely different target hosts (different IP addresses) can be addressed here, or whether it is a sin

[2022-02-02 16:20] alyssawilk commented on #19612
I think we'd want to replace the old fixed hostname with a oneof, where one of the options could be downstream hostname (from SNI, or some pre-populated field), one of the options could be auto_sni (for CONNECT for DFP) and one of them could be static config.  But I'd be interested in the thoughts of some of the @envoyproxy/api-shepherds , specifically @htuch and @mattklein123

[2022-02-02 16:23] mattklein123 commented on #19710
I left a few comments but this looks directionally correct to me. Perhaps open an API only PR in this repo and we can discuss more formally before implementing?

[2022-02-02 16:50] mattklein123 commented on #19369
From looking at the existing code I think the docs are correct:

https://github.com/envoyproxy/envoy/blob/fe5d87c44114f8ca64c594b39bd7921d8ac67023/source/server/admin/listeners_handler.cc#L24-L31

Whether this is the right thing to do or not I'm not quite sure. I don't recall the intent of this feature as without some external mechanism to stop incoming connections it seems not that useful.

[2022-02-02 16:52] cpakulski commented on #19765
You cannot do it by configuration only. It requires development of a filter which understands SMTP traffic. That filter at some point of SMTP protocol negotiation would detect that TLS needs to be turned on and would signal to STARTTLS socket to switch from cleartext to TLS.
What happens in your case, is that STARTTLS transport socket is attached to ingress, but never receives the signal to switch

[2022-02-02 16:57] mattklein123 commented on #19612
Yeah I think deprecating and replacing with a oneof would be the right way of approaching this. It's not great but you could also relax the requirement that hostname be non-empty, and then add a oneof for the new values, and then just check in code that only 1 of them is set if you want to avoid a deprecation.

[2022-02-02 17:17] howardjohn commented on #19535
Good idea on -O2 instead, with that:
clang: 136k qps
`-O2`: 142k qps
`-O2 lto`: 146k qps

Benchmarks done here were extremely crude, so I wouldn't make the claim "zig build is faster than clang", but rather that they are in the same ballpark.

[2022-02-02 17:20] rittneje commented on #19369
@mattklein123 In the case of Kubernetes, the envoy drain is happening in parallel to the load balancer updating, so eventually new connections will stop coming. Hence the documented behavior is desirable in such use cases.

[2022-02-02 17:37] sergiitk commented on #19724
cc @tyxia

[2022-02-02 17:39] #19720 closed

[2022-02-02 17:43] phlax opened #19784 "Add Dockerhub metadata (page)"
### description

currently, the dockerhub page doesnt provide any information about Envoy or the images, which given the number of downloads is not very helpful.

dockerhub page is here:

https://hub.docker.com/r/envoyproxy/envoy

[2022-02-02 17:43] phlax commented on #19784
cc @kfaseela

[2022-02-02 17:43] jmarantz commented on #14007
I realize I reviewed the PR that implemented this, but why did we make flushOnAdmin default to true?

It basically  means we need to do a full stats sink any time you access any /stats endpoint, which may double the cost or worse. The functionality seems useful but why did we decide to make this the default?

[2022-02-02 20:30] howardjohn commented on #19774
![2022-02-02_11-18-51](https://user-images.githubusercontent.com/623453/152232340-b723f339-8981-486d-aeda-c23beffdf5ad.png)

loadPrivateKey and loadCertificateChain called for every cluster seems excessive perhaps. Can it just do it once and pass to all clusters maybe?

Not sure why removeEmptyContexts is so slow either, investigating

[2022-02-02 21:02] arhamahmed commented on #18716
Bump, since issue was not resolved

[2022-02-02 22:04] PiotrSikora commented on #19535
@motiejus small world! I was looking at `bazel-zig-cc` for a different project.

Note that cross-compiling to Linux/aarch64 is currently broken with `zig c++` (see: https://github.com/ziglang/zig/issues/10086#issuecomment-1013979896).

Yeah, it's unfortunate that C/C++ examples are missing (see: https://github.com/PiotrSikora/bazel-zig-cc/commit/88ec7f86ceaa771faee0ddae04bc05fba5b10ea7).

This par

[2022-02-02 22:19] howardjohn commented on #19774
`removeEmptyContexts` is O(clusters^2) lookup. Simply removing this brings init from 56s to 7s in one test. This probably leaves a memory leak to do this, but shows how much it can improve.

cc @ramaraochavali as well since you have had issues with large number of clusters init

[2022-02-02 22:26] kyessenov commented on #19774
I've been looking at this code in the context of ECDS, and I think it needs
more precise lifecycle tracking for contexts. It's a linear scan. A simple
solution would be to apply it less often (even timer).

On Wed, Feb 2, 2022 at 2:20 PM John Howard ***@***.***> wrote:

[2022-02-02 23:47] ydzhou commented on #9958
Exciting update! Hi @AlexanderEllis , what's the benefit of your proposed approach versus existing envoy opencensus to open telemetry collector approach?

[2022-02-03 02:06] moderation commented on #19749
I thought the plan was to stop using the deprecated `http-parser`. See:
- https://github.com/envoyproxy/envoy/issues/5155
- https://github.com/envoyproxy/envoy/issues/15290

It looks like all of the [uhv issues](https://github.com/envoyproxy/envoy/issues/created_by/ameily) rely on bringing the deprecated code into Envoy?

[2022-02-03 02:27] #19430 closed

[2022-02-03 05:27] htuch commented on #19612
+1 to https://github.com/envoyproxy/envoy/issues/19612#issuecomment-1028147274

[2022-02-03 05:28] #19675 closed

[2022-02-03 09:12] pxpnetworks opened #19794 "proxy_connect.yaml - example not working"
Hi,

I'm trying to proxy a CONNECT request from a L1 envoy to a L2 envoy which will terminate it.

However when applying the configuration provided in **envoy/configs/proxy_connect.yam**l the L1 envoy is not forwarding the CONNECT upstream... the upstream L2 envoy  (configured with **terminate_http2_connect.yaml**) receives the raw tcp payload and logs **dispatch error: http/1.1 protocol error: HP

[2022-02-03 09:23] 53jk1 opened #19795 "Override the default configuration problem"
I'm trying to override the default configuration based on examples in the documentation. I don't know if this is exclusively in my case, but I do everything one by one as it is in the documentation to get to know Envoy better.

Command that I am trying to execute.
[code]
File with config:
$ cat envoy-override.yaml
[code]

Error message
[code]

OS: Ubuntu 20.04 LTS
Using Docker (Linux image)

[2022-02-03 09:28] 53jk1 commented on #19795
Nevermind, just used TABS instead of spaces in `envoy-override.yaml` file. 🤦

[2022-02-03 09:28] #19795 closed

[2022-02-03 09:40] 53jk1 commented on #19794
Can you provide configuration files and reproduce steps?

[2022-02-03 09:52] pxpnetworks commented on #19794
**proxy_connect.yaml**

[code]

**terminate_http2_connect.yaml**
[code]

tcpdump on port 10002 shows receiving Client Hello after the tcp handshake. I guess it should be the HTTP CONNECT req.
so i think proxy_connect.yaml is not forwarding the CONNECT req upstream somehow.

Testing this with curl -XGET https;//www.google.com -x http://127.0.0.1:10001
*   Trying 127.0.0.1:10001...
* Connected to 12

[2022-02-03 13:24] ameily commented on #19749
We are working with Yan on the unified header validation component and he shared a technical specification to start working against, which I was under the impression had been approved. There is more discussion going on about this issue in the PR, #19786.

[2022-02-03 14:00] charuhans opened #19798 "upstream timeout is not working, if value is greater than 30 secs"
*Title*: *timeout_ms is not working, if value is greater than 30 secs*

*Description*:
I am using Ambassador for external authentication and rerouting, which in turn uses envoy proxy.
I have deployed a service in the cluster which sleeps for 31 secs and returns 200 HTTP status code.

All my HTTP calls are failing with 502 bad gateway. Looking at logs, it seems to be timing out after 30 secs:
"POST

[2022-02-03 14:12] phlax opened #19799 "Dependabot is ~broken due to python version issue"
### description

`importlib-metadata` is gradually being integrated into python stdlib, but it is still maintained as a separate package for compatibility reasons

one of our deps requires it for python <3.10 so we have had to (re)add it

dependabot is running with python 3.10 so thinks we dont need it and keeps trying to remove, breaking its own prs

i tried to fix by setting the `.python-version

[2022-02-03 14:12] phlax commented on #19799
cc @kfaseela

[2022-02-03 14:16] phlax commented on #19799
related #19730

[2022-02-03 16:13] alyssawilk commented on #7484
I'm not sure offhand, sorry.  If you've got cycles to dig into the code that would be fantastic!

[2022-02-03 16:51] jewertow commented on #19612
Thank you for your feedback. I will submit a pull request with a prototype soon.

[2022-02-03 17:29] NotoriousBIT commented on #19765
I tried the following with no success.

Enabling STARTTLS in postfix
`smtpd_tls_security_level = may`

Testing using telnet
[code]

During connect I get the following logs from envoy:
[code]

Is my configuration for STARTTLS in envoy correct? It seems like it's not intercepting the STARTTLS command and just passes trough to postfix where I get `postfix/smtpd[96]: warning: No server certs available

[2022-02-03 17:45] asayah opened #19803 "route mach on # not working"
using a config like this:

[code]

`curl localhost:10000/something/#/status` doesn't work
Tested with Prefix and Exact matching

[2022-02-03 18:10] scrocquesel commented on #13809
Still not fixed

[2022-02-03 18:53] PiotrSikora commented on #19535
@howardjohn was able to successfully cross-compile Envoy to Linux/aarch64, and it turns out that it works fine unless you have `gcc-cross` tools installed (see: https://github.com/ziglang/zig/issues/10777).

[2022-02-03 20:02] #19736 closed

[2022-02-03 21:02] RyanTheOptimist opened #19807 "IpVersions/IntegrationTest.AllWorkersAreHandlingLoad/IPv6 is flaky"
I have a PR out which simply changes contents of a .md file. However, it had a failure of [IpVersions/IntegrationTest.AllWorkersAreHandlingLoad/IPv6 in macos test](https://dev.azure.com/cncf/envoy/_build/results?buildId=100605&view=logs&jobId=fa3d3e18-6969-5713-c3e7-3581195704fd&j=fa3d3e18-6969-5713-c3e7-3581195704fd&t=ba370bef-ca49-52f5-0c93-7c0c0f27c465). Since this PR did not change any code, I

[2022-02-03 21:02] RyanTheOptimist commented on #19807
@YaoZengzeng it looks like you may have worked on this test recently. Can you take a look?

[2022-02-03 21:06] RyanTheOptimist opened #19808 "IpVersions/Http2FrameIntegrationTest.AdjustUpstreamSettingsMaxStreams/IPv4 is Flaky"
I have a PR out which simply changes contents of a .md file. However, it had a failure of [IpVersions/Http2FrameIntegrationTest.AdjustUpstreamSettingsMaxStreams/IPv4 in linux_arm64 release](https://dev.azure.com/cncf/envoy/_build/results?buildId=100605&view=logs&jobId=767be981-567e-57d8-68c3-2140ede0a0bd&j=767be981-567e-57d8-68c3-2140ede0a0bd&t=1fb0b72f-6293-562d-a4d1-bb649223eaca). Since this PR

[2022-02-03 21:09] RyanTheOptimist commented on #19808
@anrossi it looks like this test was originally created by @davinci26 who is no longer on the project. Is this something you could take a look at?

[2022-02-03 21:09] RyanTheOptimist commented on #19808
/assign @anrossi

[2022-02-03 21:10] RyanTheOptimist commented on #19807
/assign @YaoZengzeng

[2022-02-03 22:26] anrossi commented on #19808
@rectified95 FYI, this might be something to take a look at to learn more.

[2022-02-04 01:20] #18235 closed

[2022-02-04 01:58] nitgoy opened #19812 "Dynamic label values with stats"
*Title*: *Is it possible to emit stats from a filter with dynamic values for labels?*

*Description*:

Is there a way for a custom extension to initialize separate scope/stats based on a dynamic list of values?

[2022-02-04 05:38] Mythra opened #19814 "`ruby_package` syntax for proto packages that export it are not using valid identifiers"
*Description*:

Ever since: https://github.com/envoyproxy/envoy/commit/08b123a8321d359ea66cbbc0e2926545798dabd3 (the protoxform upgrader), we started writing the `ruby_package` lines as invalid ruby identifiers: https://github.com/envoyproxy/envoy/commit/08b123a8321d359ea66cbbc0e2926545798dabd3#diff-1a29a28d0715e9dd3053d113225d6d24807dcd4fe497f3d503f49a76621a8000L9 . Specifically note the change f

[2022-02-04 05:42] Mythra commented on #19814
Looks like this originally worked, but was changed in 2019 (before the commit was to be added though -- still not sure why protoxform changed it): https://github.com/protocolbuffers/protobuf/pull/5735

[2022-02-04 06:58] pxpnetworks commented on #19794
more clarifications from my side:

I'm after proxying http1.1 CONNECT on L7 to an upstream like this:

client ---- http1.1 CONNECT host.com---> L1_Envoy_HCM ---- http1.1 CONNECT host.com --->L2_Envoy_HCM --- TCP ---> host.com

What is happening with the configs is that L2 Envoy receives the ClientHello insted of the http1.1 CONNECT host.com to terminate it.

From the Docs it seems that to terminat

[2022-02-04 10:55] PiotrSikora commented on #19535
There are a few remaining issues when cross-compiling, mostly around Bazel rules.

1) BoringSSL fails to build, because it tries to compile assembly for the host and not target architecture. This is because it uses Bazel's old `--cpu` based platform detection (same as Envoy, so perhaps that's also something to look at).
Fixed in https://boringssl-review.googlesource.com/c/boringssl/+/51265.

2) Lu

[2022-02-04 10:57] jvgutierrez opened #19821 "HTTP/1.0 performance issues"
*Title*: *HTTP/1.0 performance issues*

*Description*:
At Wikimedia Foundation we are currently evaluating Envoy as a TLS termination layer for our CDN. We've sucessfully deployed it on a 12.5% of our CDN servers but we are running into some issues with HTTP/1.0 clients (PHP 7.3's file_get_contents() use HTTP/1.0 by default).
*Repro steps*:
As a client I'm using the php:7.3-cli docker image from h

[2022-02-04 11:25] motiejus commented on #19535
Perhaps this can be provided as a linker flag instead? `-s`/`-S`

From a quick grep I can see we (my company) are cross-compiling at least libjpeg-turbo, libpng, libwebp and zlib with `rules_foreign_cc` and cmake. Either it works as expected, or I am not aware of any issues (because both build and runtime hosts are using amd64). I just spot-checked a couple by building for arm64, and they indeed p

[2022-02-04 11:47] PiotrSikora commented on #19535
The issue is not "how to strip the binary", but "how to prevent LuaJIT's Makefile from running `strip`". See the linked fix.

There can be a many reason why they work, e.g.:
1) They don't rely on assmebly.
2) They don't rely on CMake to provide information about the target CPU, but they detect it some other way.

For most projects, it doesn't matter, since if you're using the same sources for all

[2022-02-04 12:02] motiejus commented on #19535
Do you mean I should *if it works at all*? Can you elaborate?

I'd need to setup a main.c and link it to `zlib.a` and write a test program that is (de-)compressing something. More than 5 minutes though. :)

[2022-02-04 12:16] PiotrSikora commented on #19535
No, run `bazel build -s ...` and see if the expected files are compiled. I'm sure it works if it builds, but you might be missing some optimizations if you include wrong file that's then empty because of a `#ifdef` matching different arch, etc.

[2022-02-04 12:41] PiotrSikora commented on #19535
OK, I have V8 working and executing Proxy-Wasm plugins, but it might take a while to fix its Bazel rules.

[2022-02-04 13:25] motiejus commented on #19535
i can't get it to print more verbose logs than this:

[code]

[2022-02-04 16:16] jvgutierrez commented on #19821
Upon further investigation the issue doesn't seem to be related with HTTP/1.0 but with PHP file_get_contents() underlying HTTP client implementation as it can be reproduced as well with HTTP/1.1 by using the following code snippet:
[code]

and It's finishing after 20s cause that's the current value for delayed_close_timeout on envoy

[2022-02-04 17:15] snowp commented on #19821
@alyssawilk Do you know what might be going on here?

[2022-02-04 17:20] snowp commented on #19803
I wonder if we strip off the URL fragment before matching - @yanavlasov do you know?

[2022-02-04 17:22] snowp commented on #19794
@alyssawilk can you take a look at this one?

[2022-02-04 17:23] snowp commented on #19798
I don't think Envoy would ever return 502 Bad Gateway - do you have another layer that might be enforcing this timeout?

[2022-02-04 17:31] snowp commented on #19812
Extensions have full access to the stats system and can do what they want in terms of creation scopes, stats. etc. You can take a look at most of the filter extensions and see how they create their own stats

An example of a filter that uses dynamic stats would be the grpc_stats filter: https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/http/grpc_stats/grpc_stats_filter.cc#L20

[2022-02-04 17:33] snowp commented on #19773
Envoy could in theory hold the request for some time, but I'm not sure whether the way the rate limiters work today give us a good way to know how long to hold them for. @mattklein123 @junr03 wdyt?

[2022-02-04 17:36] snowp commented on #19739
Are you asking about the case where two upstreams are defined for the same cluster with different ports? Or do you have two listeners in Envoy which both use ring hash to route?

For the latter I'd expect the hashing to work out the same since they'd be using the same cluster

[2022-02-04 17:58] stevenzzzz opened #19824 "add capability for refreshCachedRoute to read from most recent config"
*Title*: add capability for refreshCachedRoute to read from most recent config

*Description*:
At present, to make sure all filters to have a "consistent view of config", we latch the snapshot of route config and cluster config to a stream.
(With CDS and SRDS/RDS been independent this actually means there could be some version difference between cds/srds/rds).

We have a feature request that when

[2022-02-04 18:00] stevenzzzz commented on #19824
/assign stevenzzzz

[2022-02-04 18:58] tomqwpl opened #19825 "Error attempting to build on Windows with provided docker image"
I'm attempting to follow the instructions on the ci/README.md page, "Developer use of CI docker images" to build Envoy on Windows to try and diagnose an issue we're having.

I'm running the shell script as described.
[code]
I'm running this from within a "git bash" shell, so MSYS shell. I'm not running this under WSL for example.

If I run the script as my normal windows user I get:

[code]

Howev

[2022-02-04 20:00] cfife-btig commented on #7833
We were having a similar issue as you @logrusorgru but it turned out to have more to do with our cluster's routing configuration then with Envoy. It turned out we were blocking non `application/grpc` requests from ever coming to our envoy proxy. But a preflight request is a `text/plain` and OPTIONS request.

In our case, we adjusted our ingress configuration to route non- `application/grpc` reques

[2022-02-04 21:11] agrawroh opened #19829 "Request timeout metric not getting emitted for chunked responses"
## Title
Request timeout metric is not getting emitted from clusters or virtual clusters for chunked responses

## Description

We realized that the request timeout metrics are not getting emitted for clusters & virtual clusters in case of chunking where the upstream server immediately returns a **200 OK** with all the other headers but keep sending the data in chunks. If the response times out la

[2022-02-04 22:37] nitgoy commented on #19812
Thanks a lot @snowp for the pointers. We'll try out if that will work for our use case.

[2022-02-04 22:50] lizan commented on #19803
I don't think curl even send out URL fragment:

[code]

[2022-02-04 23:15] PiotrSikora commented on #19535
@motiejus CMake logs should be in `bazel-out/k8-fastbuild/bin/external/zlib-local/zlib_foreign_cc/CMake.log`, but you need to add `build_args = ["-v"]` to `cmake()` to see the exact commands instead of the CMake's "pretty" view.

However, it looks that vanilla zlib doesn't automatically detect platform anyway, and you need to manually select the build option to use the assembly optimizations (see:

[2022-02-04 23:27] PiotrSikora commented on #19535
...but yeah, I verified that `rules_foreign_cc` doesn't propagate any cross-compiling information:
[code]

[2022-02-05 00:02] #19112 closed

[2022-02-05 17:10] logrusorgru commented on #7833
@cfife-btig , hello, can you please provide an example? I'm using special service routed by `/` that handles some CORS requests to cover the Envoy cavity with multiple services.

[2022-02-06 17:53] phlax opened #19832 "New Docker build ~seems to be flakey~ is broken"
### description

There seems to be an issue with images not being found, eg here:

https://dev.azure.com/cncf/envoy/_build/results?buildId=100847&view=logs&j=2229703b-209a-5c70-43aa-3eacf674f12a&t=f9eedb2e-3d7e-5f78-ab1a-fdc5ac8471d3&l=1787

my guess is that its trying to use the image before it has had time to save

[2022-02-06 17:53] phlax commented on #19832
cc @lizan

[2022-02-06 17:55] github-actions[bot] opened #19833 "Newer release available `org_llvm_llvm`: llvmorg-13.0.1 (current: llvmorg-12.0.1)"
Package Name: org_llvm_llvm@12.0.1
Current Version: llvmorg-12.0.1@2021-07-09
Available Version: llvmorg-13.0.1@2022-02-02
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-02-06 17:55] #18370 closed

[2022-02-06 17:56] github-actions[bot] opened #19834 "Newer release available `org_llvm_releases_compiler_rt`: llvmorg-13.0.1 (current: llvmorg-12.0.1)"
Package Name: org_llvm_releases_compiler_rt@12.0.1
Current Version: llvmorg-12.0.1@2021-07-09
Available Version: llvmorg-13.0.1@2022-02-02
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-02-06 17:56] #18371 closed

[2022-02-06 18:42] htuch commented on #19765
@cpakulski @lizan can you folks take a look here.

[2022-02-06 18:44] htuch commented on #19776
CC @wbpcode @dio

[2022-02-06 18:47] htuch commented on #19825
@envoyproxy/windows-dev @phlax

[2022-02-06 18:48] htuch commented on #19829
@alyssawilk @yanavlasov

[2022-02-06 21:06] ninoslavmedan opened #19835 "url path prepend"
Hi There,

I am wondering if someone would be able to help me with this question. I have following situation.
When route in Envoy cluster mathes /someword I'd like to modify the path to be  prepenaded with fixed string ir
/someword would become /fixedpath?url=someword

fxiedpath is fixed string while someword can have many different values so I need some clever way to prepend the path with the fix

[2022-02-07 01:28] daixiang0 commented on #19781
Does it mean we will not have `envoy:alpine`?

[2022-02-07 01:57] daixiang0 commented on #19794
Set `stream_error_on_invalid_http_message` to True refer to https://www.envoyproxy.io/docs/envoy/latest/configuration/best_practices/level_two.html?highlight=proxy.

[2022-02-07 02:01] daixiang0 commented on #19773
There is no hold in rate limiter I think.

[2022-02-07 02:36] dorisd0102 commented on #19729
Hi @daixiang0 ,
For non-contrib code under source, after bazel coverage, there is code coverage in bazel-out/_coverage/_coverage_report.dat , then  I could use "genhtml bazel-out/_coverage/_coverage_report.dat -o generated/coverage" to generate a coverage report.

But for contrib code, it seems no code coverage reported in bazel-out/_coverage/_coverage_report.dat after bazel coverage run.

This is

[2022-02-07 03:50] daixiang0 commented on #19729
Please run ` bazel.coverage //contrib/sip_proxy/filters/network/...`:
[code]

[2022-02-07 03:51] daixiang0 commented on #19729
There is no target about `cov_test`:
[code]

[2022-02-07 03:53] daixiang0 commented on #16282
ping @phlax

[2022-02-07 04:04] daixiang0 opened #19840 "Doc: links in history are dead"
*Title*: *dead links in history*

*Description*:

Check https://www.envoyproxy.io/docs/envoy/latest/version_history/v1.11.0:
- Use of json based [schema](https://github.com/envoyproxy/envoy/blob/aa6a397b6536ac7949592110f5b7f76732671010/v1.11:test/tools/router_check/validation.proto) in router check tool tests. The tests should follow validation schema.
- tools: added [proto](https://github.com/env

[2022-02-07 05:00] daixiang0 commented on #19825
Try open cmd using admin permission.

[2022-02-07 05:49] mksha commented on #8167
@rootsongjc Do we have this feature in upstream now?

[2022-02-07 06:13] phlax commented on #19840
the link is wrong

[code]

https://www.envoyproxy.io/docs/envoy/latest/_sources/version_history/v1.11.0.rst.txt

its trying to version a repo link - care to fix it @daixiang0

[2022-02-07 06:20] phlax commented on #19794
tangentially related https://github.com/envoyproxy/envoy/issues/18356

@daixiang0 could you raise a PR to fix/test the config in `/configs

[2022-02-07 06:31] dorisd0102 commented on #19729
@daixiang0  Many thanks for your quick response./so

It seems overall coverage rate reported in bazel.coverage only include the code coverage in source/ that contrib/sip-proxy called. It dose not include the source code under contrib.

you could check the detailed  coverage data in bazel-out/_coverage/_coverage_report.dat.

[2022-02-07 06:57] phlax opened #19842 "Make python 3.10 the default interpreter"
### description

Currently the officially supported, and used/tested in CI version of python is 3.8

Locally i test with 3.9 and these 2 versions are mostly compatible

Version 3.10 brings quite a lot of change, and un/breaks a few things. It is seeing fairly rapid adoption imhe

I think we should plan in the next month or two to make 3.10 the official/supported version

Relatedly there is quite a

[2022-02-07 06:57] phlax commented on #19842
cc @htuch @moderation

[2022-02-07 07:01] phlax commented on #15351
protodoc uses jinja now

[2022-02-07 07:01] #15351 closed

[2022-02-07 07:02] phlax commented on #15453
tooling is now moved to https://github.com/envoyproxy/pytooling and has high test/coverage

[2022-02-07 07:02] #15453 closed

[2022-02-07 07:03] phlax commented on #15700
this is fixed

[2022-02-07 07:03] #15700 closed

[2022-02-07 07:04] phlax commented on #15901
this has been resolved by the newer docs publishing pipeline

[2022-02-07 07:04] #15901 closed

[2022-02-07 07:23] daixiang0 commented on #19840
https://github.com/envoyproxy/envoy/tree/release/v1.11

Do we delete this release branch?

[2022-02-07 07:26] phlax commented on #19840
you can still acess from the tag https://github.com/envoyproxy/envoy/tree/v1.11.0

[2022-02-07 07:34] phlax commented on #19781
yep. The distroless image is smaller, more secure, easier to maintain, so this one has kinda become obsolete

[2022-02-07 07:46] Patrick0308 commented on #16482
I build successfully now. I'm not quite sure what the problem was that caused built failed. I uninstalled anaconda and then it works. I think this issue can be closed.

[2022-02-07 09:42] ramaraochavali opened #19844 "additional configuration for determining internal address"
*Title*: *additional configuration for determining internal address*

*Description*:
Currently Envoy determines whether the address is an internal address or not based on RFC 1918. However in some of our use cases we need [RFC 6598](https://datatracker.ietf.org/doc/html/rfc6598). It would also be useful to allow internal subnets to be configurable.

The feature request is to enhance [Internal Addr

[2022-02-07 09:42] ramaraochavali commented on #19844
@snowp @mattklein123 WDYT?

[2022-02-07 10:28] pxpnetworks commented on #19794
@daixiang0  - thanks for the hint but unfortunately setting this to true on the proxy_connect L1 envoy proxy did not change anything... still getting the 400 DPE dispatch error: http/1.1 protocol error: HPE_INVALID_METHOD

[2022-02-07 10:33] tomqwpl commented on #19825
@daixiang0 Apologies if my original problem description wasn't clear. It also doesn't work if I run the script from within a command shell running as admin.

[2022-02-07 11:57] minopolous commented on #19739
Difficulty is that we use istio wrapping envoy. Let me try first in istio terms, then attaching an extract from the resulting envoy ingress gateway configuration.
In a single istio virtualservice definition two match/route entries (for the two ports), one for grpc (:5656), one for http (:9001) are defined.  Both route/destinations points to the same destinationrule with a single subset "v1".  LB h

[2022-02-07 12:16] phlax commented on #19832
It seems like this a problem on main for every run

https://dev.azure.com/cncf/envoy/_build/results?buildId=100880&view=logs&j=2229703b-209a-5c70-43aa-3eacf674f12a&t=f9eedb2e-3d7e-5f78-ab1a-fdc5ac8471d3&l=1698

[2022-02-07 14:01] alyssawilk commented on #19829
Yeah I guess this was written not taking into account bidirectional streaming, and assuming once the response had started we didn't want to time out requests.  We do support bidi streaming through (MultiplexedUpstreamIntegrationTest.LargeBidirectionalStreamingWithBufferLimits) so I think the correct thing to do in that case is continue to allow request timeouts until the request is fully complete.

[2022-02-07 14:36] alyssawilk commented on #19821
I was about to say it's probably delay-close related.

So HTTP in general can frame the response with one of three ways: content length, chunked encoding, or frame-by-connection-close.

If you don't haven an explicit content length, HTTP/1.1 will chunk, but HTTP/1.0 can only frame by connection close.

Meanwhile, there's another problem which is that if a client is sending data, and the request ha

[2022-02-07 15:11] jvgutierrez commented on #19821
Thanks for your reply @alyssawilk. I've just retested with HTTP/1.1 and https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Song_Taizu.jpg/534px-Song_Taizu.jpg as CL is set for that one and we're still seeing the 20 seconds delay

[2022-02-07 15:21] alyssawilk commented on #19821
You see a 20s delay until close, or a delay until your client processes the response? The delay-close will happen either way, but if the client knows it's waiting on a 40 bytes response it shouldn't have to wait for the FIN before processing the body (that's only a problem if it's framed by connection: close)

[2022-02-07 15:27] htuch commented on #19835
Does `prefix_rewrite` (https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#config-route-v3-routeaction) help?

[2022-02-07 15:59] mattklein123 commented on #19844
Sure makes sense to me.

[2022-02-07 16:18] mattklein123 commented on #19829
I'm pretty sure we still do the request timeouts, but I think the issue is that the stat is not incremented in that case? Assuming that is true, to be perfectly honest I don't remember the history here and why we only increment the stat if nothing has been received. I think it's probably OK to increment the stat in all cases but we should definitely runtime guard the fix.

[2022-02-07 16:29] alyssawilk opened #19847 "remove global runtime: rebase runtime features on ABSL_flags"
So as part of
https://github.com/envoyproxy/envoy-mobile/issues/2003 we need to fix the runtime singleton problem.

Actual runtime is no problem but having runtimeFeatureEnabled point at an actual runtime is basically impossible to fix.

I propose replacing the runtime guards with ABSL flags: still setting them via RTDS but being able to access them directly as flags. This solves both a bunch of t

[2022-02-07 16:29] alyssawilk commented on #19847
cc @envoyproxy/envoy-maintainers for thoughts

[2022-02-07 16:34] jmarantz commented on #19847
@krajshiva FYI

[2022-02-07 17:15] pitiwari opened #19849 "default name format for HTTP route configuration name"
I am trying to understand how is name generated for HTTP route Configuration if it is not specified. Tried looking into docs and code but cant see it

https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route.proto

[2022-02-07 17:22] moderation commented on #19842
Moving to 3.10 sounds good. I have 3.10 installed on my Linux system but all sorts of stuff breaks if you try and make it the default Python

[2022-02-07 19:06] adisuissa opened #19855 "config: Per-xDS service external config validators"
*Title*: *config: Per-xDS service external config validators*

*Description*:
At the moment, Envoy executes internal config validations when receiving an xDS update.
These validations check that the given update doesn't result in inconsistent Envoy state (e.g., wrong field values, cross-fields issues).
However, there is no way to add business-level logic validations (such as minimal/maximal number

[2022-02-07 19:14] enzo-cappa opened #19856 "HeaderAppendAction is ignored"
*Title*: *HeaderAppendAction is documented but doesn't seem to do anything in practice*

*Description*:

The [HeaderAppendAction configuration](https://github.com/envoyproxy/envoy/blob/9d5627a0879b0a029e90515137c108e1d2884bfc/api/envoy/config/core/v3/base.proto#L334-L348) if supposed to allow the behaviour when setting headers. This configuration is also exposed in the [public documentation](https

[2022-02-07 19:17] cpakulski commented on #19765
@NotoriousBIT Envoy will not intercept STARTTLS command and will simply pass it to upstream. The reason is that currently there is no module in Envoy which understands SMTP traffic and parses commands. Envoy treats your traffic as TCP and does not "look" what is inside. You configured starttls transport socket, but it stays in cleartext mode, because it never gets the signal to turn TLS on. In ord

[2022-02-07 19:23] stevenzzzz opened #19858 "add a co-processor for config update, to allow customized behavior on config loading."
*Title*: add a co-processor for config update, to allow customized behavior on config loading.

*Description*:
At the present, the controlplane/config loading oof Envoy is relatively "closed" compared to the highly "configurable" dataplane portion. It's really hard to debug if the Xds status gets into a skewed status.

Similar to HBase coprocessor, we could have a [list of] coprocessors registered

[2022-02-07 19:25] stevenzzzz commented on #19858
@yanavlasov @htuch

[2022-02-07 19:47] yanavlasov commented on #19858
@adisuissa

[2022-02-07 19:55] adisuissa commented on #19858
I've been thinking about this lately probably from a different context. Can you provide some use-cases where you would like this feature?

See #19855 (and draft PR #19857) as they may be relevant.

[2022-02-07 20:01] stevenzzzz commented on #19858
for example, to debug a XDS issue with config server, I'd like to see what resources has been received/deleted on config updates, we may want it logged or exported to some metrics system.

we could also add some very customized logic to some specific resource: say in config sharding, if a resource is "unrelated to my shard, I'd just drop it on the floor without processing it.

[2022-02-07 20:02] stevenzzzz commented on #19858
and yeah, extra validation would be something we can add as a co-processor as well.

[2022-02-07 20:26] danzh2010 opened #19861 "quic: quic::SesssionCache and PersistentQuicInfo should outlive h3 conn pool"
Right now H3 connection pool owns PersistentQuicInfo which owns quic::CryptoConfig which owns quic::SessionCache. This means TLS1.3 resumption keys are not shared across connection pools under the same cluster.

We should move quic::SessionCache's ownership from connection pool to ClusterEntry while quic::CryptoConfig should still be owned by the connection pool because it is also constructed from

[2022-02-07 21:04] alyssawilk commented on #19821
yeah if your client ignores content length, there's not much you can do other than not delay-close.  You can turn that down or off in your config to deal with your client ignoring HTTP framing :-)

The fix I proposed wouldn't help you because I was only planning on avoiding delay-close if there was no content length. IMO ignoring content length entirely is a client side bug.

[2022-02-07 21:11] Tenaria commented on #9958
@ydzhou Hey!

From observation, OC is missing a few features that make it fully compatible with OTel. The noticeable ones that I've found so far are:

* Missing instrumentation library name. This is important in allowing different instrumentation following the same semantic convention to be differentiated. _For example, if I had http tracing instrumented for my application as well as Envoy, the on

[2022-02-08 00:08] costinm commented on #19774
Is this a regression ?

[2022-02-08 00:09] howardjohn commented on #19774
I tested in Istio 1.9 (Envoy 1.17) and saw the same issue. Code seems the same for a long itme

[2022-02-08 01:57] rjiarui opened #19865 "Build envoy failed with boringssl=fips"
*Build envoy failed with boringssl=fips*

I'm trying to build Envoy(release/v1.18) with fips enabled on Ubuntu 16.04 machine and I'm passing in the '--define boringssl=fips' in the build option below:

`ENVOY_DOCKER_BUILD_DIR="<output-dir>" ./ci/run_envoy_docker.sh 'BAZEL_BUILD_EXTRA_OPTIONS=--define=boringssl=fips ./ci/do_ci.sh bazel.release.server_only'`

I get the following error. Any suggestio

[2022-02-08 02:08] wbpcode commented on #19776
/assign

[2022-02-08 02:23] rootsongjc commented on #8167
@mksha I don't think so.

[2022-02-08 04:23] htuch commented on #19858
It sounds like this is the generalization of #19855. https://github.com/envoyproxy/envoy/issues/6909 is also relevant here, CC @yskopets.

[2022-02-08 04:25] #19814 closed

[2022-02-08 04:27] htuch commented on #19842
+1

[2022-02-08 04:37] htuch commented on #19849
I don't see anything that would prevent it from being empty (I would have expected a PGV annotation).

[2022-02-08 04:38] htuch commented on #19865
I don't think there is sufficient information to understand what is happening here, CC @PiotrSikora @lizan

[2022-02-08 04:43] htuch commented on #19856
This is flagged `not-implemented-hide`, which means it shouldn't appear in public docs. We probably should also use this annotation to hide the enum.

[2022-02-08 05:26] #19840 closed

[2022-02-08 05:30] daixiang0 commented on #19729
#19867 may help.

[2022-02-08 05:53] PiotrSikora commented on #19865
I just sucessfully built `release/1.18` branch using the provided command, so the reason is either specific to Ubuntu 16.04 (which is long EOL'ed) or maybe you're running out of disk space.

[2022-02-08 07:09] asaha123 opened #19870 "Question: Envoy connection close for HTTP 1.0"
*Title*: *Connection closing for http 1.0 connection*

*Description*:

I am chasing a bit of a curiosity here, so I am hoping you will indulge me.

I am using Apache Bench, `ab` which makes HTTP/1.0 requests and by default has no `keep-alive` enabled.

I have envoy configured to listen on 10000 and forwarding traffic to an upstream HTTP server started via `python3 -m http.server`. (see [envoy.yaml

[2022-02-08 08:02] github-actions[bot] opened #19871 "Newer release available `com_github_wasmtime`: v0.34.0 (current: v0.33.0)"
Package Name: com_github_wasmtime@0.33.0
Current Version: v0.33.0@2022-01-05
Available Version: v0.34.0@2022-02-08
Upstream releases: https://github.com/bytecodealliance/wasmtime/releases

[2022-02-08 09:32] sherifkayad commented on #3732
Are there any updates on this issue folks?

[2022-02-08 10:08] jeremybaumont commented on #19870
That is the delay close timeout of the [http connection manager](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto.html?highlight=delayed_close_timeout). If you enable the debug log in envoy, you will see a line after the processing of the request that is like the following:

[code]

If you change the http connect

[2022-02-08 10:33] AurelPaulovic commented on #17629
Is this related to #11049 ?

[2022-02-08 10:35] ankatare commented on #19069
@matiasrege I am back today and checking this bug.... shall connect you Soon

[2022-02-08 10:38] AurelPaulovic commented on #11049
So does this mean that Envoy currently does not support retries of gRPC streams? We were hoping to use the [`x-envoy-retry-grpc-on`](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/router_filter#id6) to rebalance RPCs to the service instance that processes given entity by returning `internal` or `unavailable` from all the other instances.

[2022-02-08 12:17] madpsy commented on #19865
I'm having similar issues, is this how you're meant to enable FIPS for a docker based build?

`envoy git:(release/v1.18) ./ci/run_envoy_docker.sh 'BAZEL_BUILD_EXTRA_OPTIONS=--define=boringssl=fips' './ci/do_ci.sh bazel.release'`

[code]

[2022-02-08 13:07] snowp commented on #11049
What is the exact setup ya'll are using to test this out? Specifically which gRPC library is used on the server side, unary vs streaming etc

[2022-02-08 13:14] sabomichal commented on #11049
We use it specifically with [this](https://github.com/grpc/grpc-java/releases/tag/v1.44.0) library, however to react to your previous comment, I have found the [following](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md) gRPC/HTTP2 transport documentation which seems to be strict - gRPC always sends grpc-status as a trailer.

[2022-02-08 13:40] snowp commented on #11049
I ran this through grpc-go real quick:

[code]

which modifies the hello world example https://github.com/grpc/grpc-go/tree/master/examples to return an error, and dumps the frames. We see that there is only a single HEADERS frame received and that it contains `grpc-status`.

My understanding is that this is OK with the spec because gRPC considers trailers "the last set of HEADERS sent" while Envo

[2022-02-08 14:20] #19729 closed

[2022-02-08 14:22] htuch commented on #19870
CC @alyssawilk @yanavlasov @mattklein123

[2022-02-08 14:26] alyssawilk commented on #19870
see also https://github.com/envoyproxy/envoy/issues/19821 and https://github.com/envoyproxy/envoy/pull/19863 :-)

[2022-02-08 15:13] yanavlasov commented on #19847
How is this going to work together with TCLAP?

[2022-02-08 15:19] alyssawilk commented on #19847
will test  to ensure no change but I don't intend to use the command line parsing utilities, just the in-memory classes/macros.

[2022-02-08 16:03] yanavlasov commented on #19847
I see, if we do not intend to set them through command line, then there are no concerns. I think one other concern is that ABSL flags use synchronization. And I think Envoy's runtime has per worker snapshots. This may impact performance if flag is accessed in a hot path. Even latching it per connection may lead to contention.

[2022-02-08 16:35] llu94 commented on #19685
@mattklein123 @rapatchi hey guys, apologies for the delay. I had some crazy stuff going on in my day to day. I've sketched out a proof of concept PR for this issue here: https://github.com/envoyproxy/envoy/pull/19875/files

[2022-02-08 16:59] yanavlasov opened #19876 "Config option to disable TLS session resumption for downstream connections"
It is presently possible for upstream connections via setting [max_session_keys](https://github.com/envoyproxy/envoy/blob/9d5627a0879b0a029e90515137c108e1d2884bfc/api/envoy/extensions/transport_sockets/tls/v3/tls.proto#L54) to 0.

However it is only available in the UpstreamTlsContext and not in the DownstreamTlsContext

[2022-02-08 17:01] alyssawilk commented on #19847
@mattklein123 they're functionally thread-safe globals.  the problem isn't that they're global (we can't avoid that if you want to allow runtime access from any point in the code) the problem is they're globals with lifetime issues.  that if you have Envoy A and Envoy B, and the "single singleton pointer" for runtime points at A's runtime, and then A gets deleted just as B is doing a runtime flag

[2022-02-08 17:04] mattklein123 commented on #19847
Yup OK that seems fine for those flags. What will be the semantic if the values are set from multiple runtimes? I assume last one wins? This is an edge case and I think anything is fine but we should decide/document the behavior.

[2022-02-08 17:25] alyssawilk commented on #19847
exactly that.  I planned on adding docs to E-M for running concurrent Envoy's.  Could also doc up in runtime but I can't imagine it being a good idea for anyone to run multiple server side proxies simultaneously so I'd rather not mention the possibility upstream :-P

[2022-02-08 17:27] kyessenov commented on #19274
This is a diagram for composition with the internal listener. The gist is that internal listener allows us to implement a custom transport socket using existing primitives from listener (filters, chains, etc):

[internal-composition.pdf](https://github.com/envoyproxy/envoy/files/8026100/internal-composition.pdf)

@mattklein123 FYI.

[2022-02-08 17:53] jmarantz commented on #19847
You've probably explored this already, but could we plumb access to the instance-specific Runtime object everywhere that's needed via the already-laid conduit that is Api::Api?

[2022-02-08 17:58] alyssawilk commented on #19847
nope.  most of the value of runtime is folks can effortlessly guard refactors.  If they have to plumb through 20 layers of API, they're not going to do it, and then folks start making high risk functional changes in the clear.
If you look at where runtime is used, API is often not available, which is why the decision was made to allow it to be global several years back.

[2022-02-08 18:56] ggreenway commented on #19876
Among other reasons, this would be useful for improving forward secrecy by not keeping the keys in memory in envoy past the end of the connection. I believe this snippet will disable session ID based resumption: `SSL_CTX_set_session_cache_mode(ssl_ctx_.get(), SSL_SESS_CACHE_OFF);`. Note that session ticket based resumption can already be disabled with `disable_stateless_session_resumption`.

[2022-02-08 18:57] ggreenway commented on #19876
Also note that resumption behavior (and configuration) is different between TLS v1.2 and earlier, vs v1.3.

[2022-02-08 19:07] cjp421 commented on #19554
Any updates on this?

[2022-02-08 22:06] alyssawilk commented on #19847
Ok I have a draft up at https://github.com/envoyproxy/envoy/pull/19880 for the curious.  Still only draft as I have to tear down the singleton access and figure out what to do with getInteger.  I'm inclined to special case the existing cases, see if we can deprecate them entirely, and say it shouldn't be used.
Also I'm wondering if folks have opinions on if we should encourage folks to use flag di

[2022-02-08 22:23] phlax commented on #19554
not sure what the license situation is exactly - i added (or maybe updated) the binary to fix an issue with abi incompatibility some time ago

the binary i added was iirc from a tetrate recipe, i think @lizan knows more about where it came from originally - the url has since been shifted to within the envoyproxy namespace, so i assume its Apache licensed - but not sure and not sure where the sourc

[2022-02-08 22:24] ninoslavmedan commented on #19835
I was thinking about it as well and I can set it up easily if I know what the original prefix is. But in this case it can be more than 100 different urls. I cannot call them one by one and I do not see how to reference in prefix_rewrite what is matched in prefix at least this is not obvious to me. Any ideas there?

[2022-02-08 23:05] llu94 opened #19881 "Dynamic Metadata for External Processing Filters Similar External Authorization"
*Title*: Dynamic Metadata for External Processing Filters

*Description*:
Dynamic Metadata emissions for ext_proc like ext_authorization

[optional *Relevant Links*:]
[>Any extra documentation required to understand the issue.
](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/ext_authz/v3/ext_authz.proto)

[2022-02-08 23:08] asaha123 commented on #19870
Thanks @jeremybaumont @alyssawilk ! Appreciate your quick reply.

[2022-02-08 23:08] #19870 closed

[2022-02-08 23:54] agrawroh commented on #19829
@mattklein123 Would the right fix here be to just remove this condition which looks for `awaitingHeaders()` before increasing these stats?

[code]

[2022-02-09 00:04] mattklein123 commented on #19829
Yes I think that is right. I can't really see any reason to guard that, but it must be that way historically for some reason. I would definitely guard this change behind a runtime flag.

[2022-02-09 04:19] htuch commented on #19835
What about `regex_rewrite`?

[2022-02-09 04:32] htuch commented on #19807
@wrowe code spelunking indicates you added this test. Reading through the code at https://github.com/envoyproxy/envoy/blame/main/test/integration/integration_test.cc#L163, I'm wondering if the OS scheduler and being unlucky could lead to significant connection imbalance.

[2022-02-09 05:20] #15145 closed

[2022-02-09 07:57] daixiang0 commented on #16275
#19836 may close this.

[2022-02-09 07:59] daixiang0 commented on #19513
#19672 fix this.

[2022-02-09 10:26] zhangbo1882 opened #19884 "Can we use threadsafeSnapshot() instead of all snapshot() ?"
In integration test,  if the client  use FeatureFlag, FeatureFlag.enabled()  will always report errors as “”snapshot can only be called from a worker thread or after the main thread is registered”;”

[2022-02-09 11:05] ninoslavmedan commented on #19835
ok  so I was thinking of this. In order to match /somewords I was thinking of this expression [^\/]$  now what I do not get is how to construct regex_rewrite to give me /fixedpath?url=????   where these questions marks will be just anything copied from the original. I guess it does not make sense to use my original regex-ex there . I hope you see where I am struggling here

[2022-02-09 11:12] PiotrSikora commented on #19535
I opened https://github.com/envoyproxy/envoy/pull/19885, which adds `--config=zig-cc` and `--config=zig-cc-linux-aarch64` that "mostly work".

The binaries work fine, but there are a few test failures that might be worth investigating (and some more when cross-compiling to Linux/aarch64).

The biggest holdbacks are the conflicts between `bazel-zig-cc` and:

- `emsdk` - `zig c++` takes priority and

[2022-02-09 14:53] htuch commented on #19807
I'm going to disable this test later today if we don't have a reasonable plan to fix as it's continuing to flake.

[2022-02-09 14:59] yanavlasov commented on #19803
By default Envoy rejects requests with fragment in the URI path. You can preserve fragment in path by setting both `envoy.reloadable_features.http_reject_path_with_fragment` and `envoy.reloadable_features.http_strip_fragment_from_path_unsafe_if_disabled` to false, but these flags will eventually go away.

[2022-02-09 14:59] #19803 closed

[2022-02-09 17:11] ravenblackx opened #19891 "injectDecodedDataToFilterChain and injectEncodedDataToFilterChain cannot be used after header StopIteration"
## Description:
When creating a filter that performs internal buffering and delivers the data asynchronously, it is currently impossible to both postpone the header *and* stream the content.

### Option 1: postpone the header, use addDecodedData / addEncodedData

This appears to work, but it actually puts the entirety of the data into a memory buffer until you call `continueEncoding`/`continueDeco

[2022-02-09 17:36] alyssawilk commented on #19794
Your first problem is your curl.

curl -XGET "https**;**//www.google.com" -x http://127.0.0.1:10001
->
curl -XGET "https**:**//www.google.com" -x http://127.0.0.1:10001

[2022-02-09 17:40] #19794 closed

[2022-02-09 18:36] pxpnetworks commented on #19794
@alyssawilk, actually the curl is OK.. the ; appeared when I copy pasted the command here... with the correct curl I'm still getting the same behavior.

[2022-02-09 18:45] alyssawilk commented on #19794
when I corrected the curl, I went from a 400 (l1 rejected) to a 503 (l1 accepted the request, and I hadn't set up the L2).  I'm not sure what problem you're running into which I'm not, but looking at trace logs (-l trace) will hopefully help

[2022-02-09 18:49] alyssawilk commented on #19794
also looks like the upstream is sending payload on 443 without encrypting.  if your original CONNECT-encapsulated payload is not TLS encrypted you're going to have problems

[2022-02-09 19:07] kiran-bjn opened #19895 "LocalRateLimiter with dynamic descriptor values"
*Description*:

LocalRateLimitConfig

`  - applyTo: HTTP_ROUTE
      match:
        context: SIDECAR_INBOUND
        routeConfiguration:
          vhost:
            name: inbound|http|80
      patch:
        operation: MERGE
        value:
          route:
            rate_limits:
              - actions:
                  - request_headers:
                      descriptor_key: AuthToken

[2022-02-09 19:13] pxpnetworks commented on #19794
Thanks for the additional comments on this, tomorrow I'll try running the setup again with -l trace enabled.

[2022-02-09 19:16] llu94 commented on #19881
Basically what this says on the tin. I'd be happy to work on this but I'd like to ask the code owners what they think about this. I am planning on basically just porting the behavior from ext_authz filters to ext_proc filter.

[2022-02-09 20:15] cpakulski commented on #18950
ping.

[2022-02-09 22:38] kyessenov commented on #19724
I think just using the complete of `url_path` is probably the right way since that's what has been done before, and anything on top can be supplanted with custom functions.

[2022-02-10 03:19] htuch commented on #19884
I can't say for sure, it would be good to see an example of what you are trying to do, but what you suggest is used inside unit tests.

[2022-02-10 03:20] htuch commented on #19891
CC @mattklein123

[2022-02-10 03:23] htuch commented on #19895
@junr03 @mattklein123

[2022-02-10 03:43] htuch commented on #19835
PTAL at the docs (https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#config-route-v3-routeaction). You can reference capture groups, e.g. `\1`.

[2022-02-10 04:13] wbpcode commented on #19103
Some insteresting result from perf. The `readDisable` calls from HTTP1 codec result in ~7% cpu overhead.

![image](https://user-images.githubusercontent.com/12389633/153335488-d34a7140-4c7d-4d34-8457-800b925b0841.png)

![image](https://user-images.githubusercontent.com/12389633/153335901-694e8163-21e4-464e-b4fa-cf35209b4908.png)

[2022-02-10 05:04] motiejus commented on #19535
Thank you @howardjohn, that buys a lot of coffee. A nice surprise.

[2022-02-10 05:08] wbpcode opened #19900 "lazy read disable for HTTP1 codec to reduce unnecessary syscalls"
*Title*: *lazy read disable for HTTP1 codec to reduce unnecessary syscalls*

*Description*:

I get some perf result of latest Envoy by simple http1.1 bench. The `readDisable` calls from HTTP1 codec result in ~7% cpu overhead.

After checking related codes, I found that we always call the `readDiable(true)` to disable read event of downstream connection after receiving entire downstream request. An

[2022-02-10 05:36] #19772 closed

[2022-02-10 06:24] YaoZengzeng commented on #19900
I've discussed with @alyssawilk about the `readDisable()` stuff, maybe it would be helpful. (ref: https://github.com/envoyproxy/envoy/pull/10978)

[2022-02-10 07:39] wbpcode commented on #19900
Thanks @YaoZengzeng.

[2022-02-10 08:02] github-actions[bot] opened #19901 "Newer release available `com_github_bazelbuild_buildtools`: 5.0.0 (current: 4.2.5)"
Package Name: com_github_bazelbuild_buildtools@4.2.5
Current Version: 4.2.5@2022-01-13
Available Version: 5.0.0@2022-02-09
Upstream releases: https://github.com/bazelbuild/buildtools/releases

[2022-02-10 08:02] github-actions[bot] opened #19902 "Newer release available `com_github_google_perfetto`: v24.1 (current: v22.1)"
Package Name: com_github_google_perfetto@22.1
Current Version: v22.1@2021-12-07
Available Version: v24.1@2022-02-09
Upstream releases: https://github.com/google/perfetto/releases

[2022-02-10 08:02] #19530 closed

[2022-02-10 08:55] zhangbo1882 commented on #19884
For example, in the ssl integration test test/extensions/transport_sockets/tls/integration/ssl_integration_test.cc.
The test case will first  call initialize() to start an envoy as a proxy in a separate thread . Then it will call makeSslClientConnection() to simulate a client. The client and the server will use the same code to create socket. Now I add some code  with FeatureFlag when create the s

[2022-02-10 09:16] wbpcode commented on #19900
My current simple solution is as this:

[code]
`readDisable(true)` is only called when an active request has not yet completed and new data is received.

[2022-02-10 09:28] derekguo001 commented on #19217
@howardjohn @htuch We have a solution for that problem. Please refer to https://github.com/istio/istio/issues/36296.
About the part in Envoy, could we follow the advice from @ggreenway and @yanavlasov ?
Control plane is responsible for generating and signing the key pair and then Envoy uses them.

[2022-02-10 09:37] phlax commented on #16275
@daixiang0 i think we still need to do something with the dockerhub page - somewhere at least - that lets people know that this is no longer supported - ie dont start using it

[2022-02-10 09:39] phlax commented on #16275
actually just realizing that we have #19781 to track that, closing...

[2022-02-10 17:35] alyssawilk commented on #19900
I'd be inclined to go the other way.  simply don't read disable for HTTP when done with a request, but error out if getting more data when a response is not completed (as Envoy doesn't handle pipelined requests and basically no one sends them)

[2022-02-10 17:57] ggreenway commented on #19217
@derekguo001 I have no objection to envoy dataplane support for using an HSM for private-key operations.

[2022-02-10 21:02] #19658 closed

[2022-02-10 21:26] stevenzzzz opened #19908 "srds: skip updating scopes that has the same config."
*Title*: srds: skip updating scopes that has the same config.

*Description*:
As of today, we are updating all the scopes on receiving them. It'd be a performance improvement that if we identified the config is not updated (e.g. route_configuration_name not updated in the new push).

[2022-02-10 21:27] stevenzzzz commented on #19908
/assign  @stevenzzzz

[2022-02-10 21:28] alyssawilk commented on #19847
Turns out flags was the least annoying part of this.
So as Matt predicted, once we had the singleton folks used it in unexpected ways.  We've got some stats on deprecated config (removing: https://github.com/envoyproxy/envoy/pull/19906) global connection enforcement (plumbing runtime: https://github.com/envoyproxy/envoy/pull/19907), quic enablement (will plumb), and then regex size stats  (see bel

[2022-02-10 22:30] jmarantz commented on #19847
Hi -- I can't remember what specifically I was involved in with regard to the runtime tweak and histogram tracking regex program size in regex.cc, but I was at least aware of it :)

TL;DR I think it'd be fine to just rip all that out and leave in the runtime int setting, because I think no one is looking at the histogram, and its access of rootScope() may complicate things for you.

Is the access

[2022-02-10 22:54] mantasmatelis opened #19910 "Incorrect behavior with Routing based on JWT Token Dynamic Metadata"
*Title*: *Incorrect behavior with Routing based on JWT Token Dynamic Metadata*

*Description*:
When using the `payload_in_metadata` flag of the JWT Authentication filter, dynamic metadata is attached to the stream and visible in logging. However, this dynamic metadata _cannot_ normally be used for HTTP routing.

If I set an unrelated header is set in lua, the dynamic metadata can be used for routi

[2022-02-10 23:22] lambdai commented on #19798
The error code “DC" in is downstream_termination, any possible that the client insomnia disconnected actively after 30 seconds?

[2022-02-11 00:54] lambdai commented on #19744
This test case is fails 1/683 in the last 14 days. I cannot reproduce either. Can we close this?

[2022-02-11 01:27] lambdai commented on #19774
/assign @lambdai

[2022-02-11 01:40] wbpcode commented on #19900
Sounds ok for me.

[2022-02-11 01:47] kyessenov commented on #19470
Still active since we need to validate that pending PRs improve flow control.

[2022-02-11 03:50] htuch commented on #19847
The notion of `getRootScope()` in the runtime seems like mission creep.

[2022-02-11 03:54] htuch commented on #19884
I guess I'm a bit puzzled on why you need to be checking feature flags here, do you have some example? You probably know under what conditions the test is being run.

[2022-02-11 04:05] htuch commented on #19910
CC @qiwzhang

[2022-02-11 05:09] kiran-bjn commented on #19895
Hi @junr03  @mattklein123 , can U answer this please.

[2022-02-11 07:42] ninoslavmedan commented on #19835
That was great. I did not realize how simple actually it is. This little config did the trick. Thanks a lot. You made not only my day but my week :)

              - match:
                  prefix: "/"
                route:
                  regex_rewrite:
                    pattern:
                      google_re2:
                        max_program_size: 200
                      regex: "(.

[2022-02-11 08:02] github-actions[bot] opened #19913 "Newer release available `opentelemetry_proto`: v0.13.0 (current: v0.11.0)"
Package Name: opentelemetry_proto@0.11.0
Current Version: v0.11.0@2021-10-07
Available Version: v0.13.0@2022-02-10
Upstream releases: https://github.com/open-telemetry/opentelemetry-proto/releases

[2022-02-11 08:02] #19642 closed

[2022-02-11 11:03] ramaraochavali commented on #19774
@lambdai Are you also tackling `  removeEmptyContexts()` call? I am thinking about that - given the current code, I guess we can create a timer in server.cc and remove them periodically instead of doing on every client/server context creation. WDYT? Does it work?

[2022-02-11 15:04] stevenzzzz commented on #19858
I think it's a very-good-to-have.
It essentially allow customers who reads config from a centralized config manager(e.g. a cloud service provider) to do quicker turn-around when things happen. or help the customers to easier build tools their business needs, around the config-control of Envoy.

[2022-02-11 15:24] #19744 closed

[2022-02-11 15:26] KBaichoo commented on #19900
I think Envoy turns pipelined requests into serial requests e.g. we will do a read of the socket, and if it has multiple requests there, we'll parse the first one (read disable) and have the others buffered (but not consuming more than the network read size bytes). There a few tests in https://github.com/envoyproxy/envoy/blob/06505f2424ad3f894af404a07bcfd7582aa8f3b9/test/integration/integration_te

[2022-02-11 15:58] #19423 closed

[2022-02-11 16:22] kyessenov commented on #19774
Alternatively, you can try what I did with ECDS with a shared manager that is called upon in the destructor of the contexts to explicitly release the pointer.

[2022-02-11 16:41] #19749 closed

[2022-02-11 17:46] pcj commented on #19776
FWIW (prior art), this turns out to be supported by apache (both session stickyness and traffic shifting).  A little sad that envoy can not 😢

[code]

[2022-02-11 18:16] lambdai commented on #19774
It's possible that ssl_ctx is snapped in the worker threads in quic.

Personally I think that's not a big deal:
The tracked ssl_ctx in the scan list is used to track the known ssl_ctx that could be used in **future** connections

The current guarantee is strong because the ssl_ctx check the weak_ptr expired. Developer must clone the referenced ssl_ctx to disguise the tracking.

Alternatively, if w

[2022-02-11 19:18] lambdai commented on #19774
Summary of the 3 solutions
1. Better gc timing @ramaraochavali
2. Tracking the life of ssl ctx @kyessenov (I assume no ssl_ctx list semantic change). Give the fact of destroy on worker thread, some pluming on each ssl ctx are need to thread-safely maintain the list
3. Tracking the life of ssl ctx in all the TransportSocketFactory instances. Main thread tracking only

[2022-02-11 20:01] #19035 closed

[2022-02-11 21:27] #19812 closed

[2022-02-11 21:48] mattklein123 commented on #10979
I ran into this issue also trying to send RTDS over a k8s config map. I'm going to fix this. I discussed with @htuch and we think the right solution is to:
1. Deprecate ConfigSource.path since it's just a string
2. Replace with a new FileConfigSource message which requires a path, but also has an option watched directory override that can be set. This will allow the watch to be on a directory inst

[2022-02-11 22:42] smahapatra1 opened #19916 "Error in building from source on M1 MacOS"
Bazel build -s envoy doesn't work:

$uname -a
Darwin mycomputer 21.1.0 Darwin Kernel Version 21.1.0: Wed Oct 13 17:33:24 PDT 2021; root:xnu-8019.41.5~1/RELEASE_ARM64_T8101 arm64

$bazel build -s envoy
ERROR: Traceback (most recent call last):
	File "/xyz/external/v8/bazel/defs.bzl", line 396, column 28, in _v8_target_cpu_transition_impl
		v8_target_cpu = mapping[settings["//command_line_option:cpu

[2022-02-11 23:42] lambdai commented on #19774
@mattklein123 Any preference before I go with 3?

[2022-02-12 04:42] moderation commented on #19916
I'm building on M1 without issue. What version of Bazel are you running (you should be using `5.0.0`)? Do you have the full version of XCode installed? I build with a bunch of extensions compiled out using `bazel build -c opt //source/exe:envoy-static.stripped`

[2022-02-12 08:02] github-actions[bot] opened #19917 "Newer release available `bazel_skylib`: 1.2.0 (current: 1.1.1)"
Package Name: bazel_skylib@1.1.1
Current Version: 1.1.1@2021-09-27
Available Version: 1.2.0@2022-02-11
Upstream releases: https://github.com/bazelbuild/bazel-skylib/releases

[2022-02-12 08:02] github-actions[bot] opened #19918 "Newer release available `com_github_bazelbuild_buildtools`: 5.0.1 (current: 4.2.5)"
Package Name: com_github_bazelbuild_buildtools@4.2.5
Current Version: 4.2.5@2022-01-13
Available Version: 5.0.1@2022-02-11
Upstream releases: https://github.com/bazelbuild/buildtools/releases

[2022-02-12 08:02] #19901 closed

[2022-02-12 08:02] github-actions[bot] opened #19919 "Newer release available `com_github_google_perfetto`: v24.2 (current: v22.1)"
Package Name: com_github_google_perfetto@22.1
Current Version: v22.1@2021-12-07
Available Version: v24.2@2022-02-11
Upstream releases: https://github.com/google/perfetto/releases

[2022-02-12 08:02] #19902 closed

[2022-02-12 14:36] smahapatra1 commented on #19916
I do see Applications->Xcode in the Finder.
The .bazelversion file in the envoy directory has 5.0.0.
➜  envoy git:(main) ✗ cat .bazelversion
5.0.0

I see a recent commit with V8 and bazel changes and the error appears
related:

ERROR: Traceback (most recent call last):
File "/private/var/tmp/../external/v8/bazel/defs.bzl", line 396, column 28,
in _v8_target_cpu_transition_impl
v8_target_cpu = mapp

[2022-02-12 17:50] tommyp1ckles opened #19920 "devcontainer docker build is brokend due to old signing key"
*Title*: *devcontainer docker build is brokend due to old signing key*

*Description*:
`.devcontainer/Dockerfile` build seems to be broken due to an out of date signing key for apt.kitware.

It has the following one:
[code]

However there seems to be a newer one available: `wget -O - https://apt.kitware.com/keys/kitware-archive-latest.asc 2>/dev/null | gpg`. Bumping the devcontainer build image to

[2022-02-13 00:06] #19835 closed

[2022-02-13 00:10] htuch commented on #19884
You don't need to read feature flags for that, you can just follow a standard pattern like https://github.com/envoyproxy/envoy/blob/027d6ca15adeae8cd478fcce67fc24322318e52e/test/integration/protocol_integration_test.cc#L3406.

[2022-02-13 00:12] htuch commented on #19920
@phlax can you look into this one? Thanks.

[2022-02-13 03:02] soulxu opened #19922 "listener: the behavior is different between ipv6 any address and ipv4-mapped ipv6 address when ipv4_compat is set."
When the ipv4_compat is set, and the listener is listening on Ipv6 any address "::".

A request to "192.168.0.1"/"::FFFF:192.168.0.1", the socket's local address is "::FFFF:192.168.0.1", then envoy will translated this address to "192.168.0.1". Then the filter chain matching only can match "192.168.0.1"

When the ipv4_compat is set, and the listener is listening on Ipv4-mapped ipv6 address "::FFFF

[2022-02-13 03:33] soulxu commented on #19922
The obvious fix is to translate the address for ipv4-mapped ipv6 address also. But want to double-check whether the translation is expected behavior. Since the translation doesn't depend on what the client request to. If you request with `::FFFF:192.168.0.1`, it will be translated to `192.168.0` also.. But also seems ok, seems a consistent behavior all the ipv4-mapped address will be translated wh

[2022-02-13 08:02] github-actions[bot] opened #19923 "Newer release available `com_github_msgpack_msgpack_c`: cpp-4.1.0 (current: cpp-3.3.0)"
Package Name: com_github_msgpack_msgpack_c@3.3.0
Current Version: cpp-3.3.0@2020-06-05
Available Version: cpp-4.1.0@2022-02-12
Upstream releases: https://github.com/msgpack/msgpack-c/releases

[2022-02-13 08:02] #18735 closed

[2022-02-13 15:45] htuch commented on #19922
@ggreenway

[2022-02-13 20:01] #19268 closed

[2022-02-14 00:27] moderation commented on #19916
The `.bazelversion` in the code repo is not the installed version of Bazel you have. What is the output of `bazel version` when you run that from the command line?

I don't use any of the WASM functionality that requires v8 so I compile that out of my version with `~/.bazelrc` including `build --define wasm=disabled`

[2022-02-14 02:29] #19553 closed

[2022-02-14 03:07] wbpcode commented on #19776
Envoy can worked for this scenario, but Istio cannot. **It's possible for Envoy to implemented `Traffic Shifting` with LB with weight.**Then both hash-based session stickiness and stateful session stickiness will worked properly.

But Istio choosed `weighted clusters` which has some others advantages but cannot worked for your scenario.

[2022-02-14 03:19] zirain commented on #19676
after talk with @douglas-reid , I think cel-filter can not support this.
for now, we may set sampling to 100% then do some filter on downstream(OpenTelemetry etc.)

[2022-02-14 03:19] #19676 closed

[2022-02-14 03:28] bryanwux commented on #19725
Hi @alyssawilk , are you working on this right how?

[2022-02-14 03:39] zhangbo1882 commented on #19884
Thanks @htuch .  This can help enable the feature.  But I want check whether the feature is enable or not. That's why I have to call FeatureFlag.enabled() which will print the errors.

[2022-02-14 05:28] daixiang0 commented on #19910
Test at local, it does not work when remove lua filter.

[2022-02-14 05:55] shubhammittal90 commented on #11942
Hi,

I am using envoy proxy to get the real IP address of the client for TCP connection. I am using TCP proxy filter and proxy protocol listener filter along with Upstream protocol filter. But I am getting the below error in the logs when connecting to the proxy i.e. localhost:10000 (proxy listens on 10000 port).

Error:
[2022-02-14 05:33:17.483][1][debug][upstream] [source/common/upstream/strict_

[2022-02-14 05:59] shubhammittal90 opened #19927 "Proxy Protocol: Not getting real IP of client"
Hi,

I am using envoy proxy to get the real IP address of the client for TCP connection. I am using TCP proxy filter and proxy protocol listener filter along with Upstream protocol filter. But I am getting the below error in the logs when connecting to the proxy i.e. localhost:10000 (proxy listens on 10000 port).

Error:
[2022-02-14 05:33:17.483][1][debug][upstream] [source/common/upstream/strict_

[2022-02-14 07:29] wbpcode commented on #19900
@KBaichoo Then would lazy read disable + manual read event (after one request complete and read buffer not empty) be feasible?

[2022-02-14 07:36] wbpcode opened #19929 "support host level typed metadata"
*Title*: *per host level typed metadata*

*Description*:

Typed metadata is great tool to get some some additional typed configs from control plane. But for now, there is no host level typed metadata support.

[2022-02-14 08:00] giantcroc commented on #18083
@velcrine Hi! I will take it. And I plan to do it in three PRs: 1) file; 2) stdout; 3) grpc. what do you think?

[2022-02-14 08:02] soulxu commented on #19927
proxy protocol filter is for the client send the proxy protocol header https://www.haproxy.com/blog/haproxy/proxy-protocol/.

if you just want to get the client's ip without proxy protocol, it needn't the proxy protocol filter, envoy will get that for you.

[2022-02-14 08:33] soulxu commented on #19922
cc @lambdai also

[2022-02-14 10:37] phlax commented on #19799
this is the page where i read about `.python-version` not sure if i read it thoroughly tho

https://github.com/dependabot/dependabot-core/issues/1455

[2022-02-14 10:38] phlax commented on #19799
as discussed offline, probably the bigger priority initially is just to clear the dependabot backlog

[2022-02-14 10:51] phlax opened #19930 "Add dependency check for `envoy-build-ubuntu` and toolchains"
### Description

The build image is often getting out of date, and we have an endemic problem in which one or other of the image/toolchains doesnt get updated

We could fairly trivially add a check to see what the latest build image is and the toolchain versions and raise a ticket to address

Fixing would probably be fairly doable also, so we could potentially raise PRs to fix

[2022-02-14 10:52] phlax commented on #19930
cc @kfaseela @htuch @wrowe

[2022-02-14 10:54] phlax commented on #19842
related https://github.com/envoyproxy/envoy/issues/16001

[2022-02-14 13:08] shubhammittal90 commented on #19927
I want the real source IP. Here is my use case:

100 servers connecting (n1....n100) to 1 server (A) via envoy proxy. So If server20 is connecting to server A via Envoy proxy then I want that Server A should have Src IP as Server20's IP not Envoy proxy IP.

How can we achieve this in envoy? I researched a lot and found that proxy protocol is the only option to get the real IP of the source. But wh

[2022-02-14 15:32] KBaichoo commented on #19927
cc @alyssawilk @wez470  as proxy protocol filter owners

[2022-02-14 15:52] soulxu commented on #19927
I think you should use https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/listener/original_src/v3/original_src.proto#original-src-filter

[2022-02-14 16:09] mattklein123 commented on #19895
This is basically the same issue as https://github.com/envoyproxy/envoy/issues/19685. I think we should probably also support the substitution formatter for dynamic descriptor values. cc @kyessenov

[2022-02-14 17:21] kyessenov commented on #19895
I think you can use the expression rate limit action extension for dynamic values. We can add substitution formatter, too, as another extension.

We should document this better. I could only find some test case here https://github.com/istio/proxy/blob/master/test/envoye2e/ratelimit/ratelimit_test.go#L41.

[2022-02-14 20:14] DavidPeet8 opened #19942 "New admin endpoint /tap/config_ids"
**Title:** New admin endpoint `/tap/config_ids`

**Description:**

Currently, the `/tap` admin endpoint makes it easy to start trace captures on Envoy instances that you are familiar with the configuration for. However, as an Envoy operator unfamiliar with reading the Envoy `/config_dump` output, determining the valid config_id strings that can be used in a `/tap` request can be difficult. This is

[2022-02-14 20:23] lambdai commented on #19922
My understanding is that ::FFFF:192.168.0.1 should always be normalized to 192.168.0.1.

For filter chain match api, we can either exclude "::ffff:0:0/96" in filter chain match,
or transform the listener config's filter chain match proto to normalized format
or warn the user that ipv6 filter chain match and ipv4 filter chain match are not equivalent.

[2022-02-14 20:39] danzh2010 opened #19943 "Make enabling early-data configuration in HTTP/3"
Add a config knob to set QuicSSLConfig::early_data_enabled accordingly.

[2022-02-14 20:45] KBaichoo commented on #19943
cc @RyanTheOptimist

[2022-02-14 20:57] kyessenov commented on #19274
To elaborate more on the wire specifics, and provide more context for the above diagram:

Consider an originating connection to service `X:80` from pod `A`. Normally, `X` VIP would resolve to some member pod-port `B:8080`. Normally, if we want Envoy to proxy this traffic, we would use EDS for `X` and have a regular TCP connection to `B:8080`.

Our goal is to wrap this connection into a shared, sec

[2022-02-14 22:14] #19762 closed

[2022-02-14 22:41] KBaichoo commented on #19900
Thanks for the code snippet. I'm leaning towards that approach as from the code snippet,

I'd expect for pipelined requests, we'd end up getting worse perf as we'd get a socket event, dispatch that request, get the second socket event then readDisable. But as alyssa points out this is rarely used, so perhaps this reasonable.

For non-pipeline, we'd lazily readDisable clients, which, if the client

[2022-02-14 22:58] ggreenway commented on #19844
I think it would make the most sense to allow configuring a list of CIDRs to be considered internal, and if unset, defaults to the current behavior of RFC 1918.

Related to (or maybe a dupe of) #2590.

[2022-02-14 23:30] marcosrmendezthd opened #19945 "External Health Check Service"
*Description*:

If there is a way to configure a different cluster for health checking, I'd appreciate an example.

[2022-02-14 23:42] smahapatra1 commented on #19916
➜  envoy git:(main) ✗ bazel --version
bazel 5.0.0

➜  envoy git:(main) ✗ bazel build -c opt //source/exe:envoy-static.stripped --define wasm=disabled
Target //source/exe:envoy-static.stripped up-to-date:
  bazel-bin/source/exe/envoy-static.stripped
INFO: Build completed successfully, 2 total actions

➜  envoy git:(main) ✗ bazel build -c opt //source/exe:envoy-static.stripped
INFO: Build option --d

[2022-02-14 23:46] gschier opened #19946 "Performance issues around 15k routes/clusters"
_We're looking for some performance advice on Envoy and weren't sure where to ask. I couldn't find a paid support channel but, if there was one, we'd be happy to use it._

We use Envoy+[go-control-plane](https://github.com/envoyproxy/go-control-plane) at [Railway](https://railway.app) as a forward proxy to distribute incoming requests to our users' deployments. When we switched to Envoy (from Trae

[2022-02-14 23:56] marcosrmendezthd commented on #19945
actually, I may have misunderstood the documentation. if an envoy is not assigned as a health checker, will it use FetchHealthCheck periodically to gather health details?

https://github.com/envoyproxy/envoy/blob/cc089aa5b162c711e7b7767e9b02c08eb238677a/api/envoy/service/health/v3/hds.proto#L70

[2022-02-15 00:59] daixiang0 commented on #19930
Using a fixed version with regular inspection is good I think, the latest image can have potential problems.

[2022-02-15 04:01] #19089 closed

[2022-02-15 04:24] hq6 commented on #1182
@qiwzhang
As of yesterday, I got the non-blocking variation working E2E; there's still a fair bit of cleanup, as well as making it comply with Envoy style guides and updating and adding unit tests.

Given that this is my first nontrivial change to open source Envoy, and my knowledge of the norms are incomplete, are you open to offering early feedback  (not a full review) on this change before it's

[2022-02-15 04:38] matthewgrossman commented on #7484
Looking into how this worked myself, and it seems that `x-envoy-force-trace` is one of many headers sanitized here:

https://github.com/envoyproxy/envoy/blob/2c367ef48b3cc99df6298b6fc04bc0f14d2491b1/source/common/http/conn_manager_utility.cc#L292

I don't see `x-client-trace-id` as one of the headers removed there, and it's used later on as a way to force the trace-reason to true:

https://github.

[2022-02-15 05:24] shubhammittal90 commented on #19927
Hi,
I have already tried original source filter but for using it we need to do the extra setup. That I don't want to do. I got that for using the proxy protocol we need to send the proxy protocol header in the client request. Is this true? Then only the envoy detects the proxy protocol header. Or Do I need to do some extra configuration on the envoy side?

[2022-02-15 05:40] clark1013 opened #19948 "Could Envoy support regex PartialMatch?"
*Description*:
I am trying to migrate from Nginx to Envoy. There are a lot of regex configs only match a subsequence of the uri. But Enovy's `safe_regex` forces to match the entire uri. So could envoy support this scene through `re2::RE2::PartialMatch`?

[optional *Relevant Links*:]
Nginx regex match use `pcre_exec`: https://www.pcre.org/original/doc/html/pcre_exec.html
It performs like this:
[cod

[2022-02-15 08:00] daixiang0 commented on #19948
Nginx and Envoy are applicable to different fields, could you share the case you want to migrate?

[2022-02-15 08:02] github-actions[bot] opened #19952 "Newer release available `com_github_grpc_grpc`: v1.44.0 (current: a3ae8e0)"
Package Name: com_github_grpc_grpc@a3ae8e00a2c5553c806e83fae83e33f0198913f0
Current Version: a3ae8e0@2021-06-07
Available Version: v1.44.0@2022-02-15
Upstream releases: https://github.com/grpc/grpc/releases

[2022-02-15 08:02] #19715 closed

[2022-02-15 08:06] daixiang0 commented on #19946
Does Envoy set up on each node/app? Do you set bound CPUs for Envoy?
Could you collect pprof info refer to https://github.com/envoyproxy/envoy/blob/main/bazel/PPROF.md?

[2022-02-15 08:28] rojkov commented on #19946
Do you have 16k routes total or is it the size of delta?

[2022-02-15 09:15] clark1013 commented on #19948
@daixiang0 Currently our API gateway is based on Nginx, It's responsible for route a request to a service, The service discovery is based on Consul. Recently we are building our service mesh based on istio and Envoy, we want to directly use Envoy as the API gateway, so we need to migrate route configs from Nginx to Envoy.

[2022-02-15 09:19] phlax opened #19954 "Auto-close dependabot PRs on envoyproxy repos other than envoy"
### Description

Currently dependabot opens PRs on any mirror repos of envoyproxy/envoy.

This is annoying both for users forking the repo, and for mirror repos under the envoyproxy org

There is not an easy solution to this as i understand it, other than maintaining patch commits to remove the dependabot config etc

One possible solution wrt to mirror repos in the envoyproxy domain is that we add

[2022-02-15 09:19] phlax commented on #19954
cc @kfaseela

[2022-02-15 09:30] shubhammittal90 commented on #19927
Hi All,

I got the source address in proxy protocol v1. I tried with nc command and added proxy protocol header as below:

printf "PROXY TCP4 172.17.0.3 172.17.0.2 0 3000\r\nGET /login HTTP/1.1\r\nHost: 172.17.0.2\r\n\r\n" | nc 172.17.0.4 10000

Please see the tcpdump collected at envoy proxy node which shows the source IP information is collected at Proxy protocol.

<img width="1790" alt="image"

[2022-02-15 09:30] #19927 closed

[2022-02-15 11:00] ankatare commented on #19069
@matiasrege Hi, Sorry for delay...  Please see below my finding..... Seems it is reproduceble at my end as well. Not sure on otel  cluster However decorators are NOT working as expected.

**Logs:**

necuser@dldt-project_005:~/new_folder/envoy/examples/lua$ curl -v localhost:8000/ -H "x-pool:pool"
*   Trying 127.0.0.1...
* TCP_NODELAY set
* Connected to localhost (127.0.0.1) port 8000 (#0)

< HTTP/

[2022-02-15 11:02] whitelizard opened #19955 "Using Envoy as proxy for simple Python service"
Hi,
I'm trying to use Envoy as a proxy for gRPC, with routing, in an internal network. I will also need grpc-web. But for the simplest straightforward request, the **stream is reset** and nothing goes through to my minimal python service. What am I doing wrong?

The output I get in the Envoy log (`-l trace`) for my simple request to `127.0.0.1:10000/service1` is:
[code]

This is my `envoy.yaml`:
[

[2022-02-15 11:03] ankatare commented on #19069
Config:

static_resources:
  listeners:
  - address:
      socket_address:
        address: 0.0.0.0
        port_value: 8000
    traffic_direction: INBOUND
    filter_chains:
    - filters:
      - name: envoy.filters.network.http_connection_manager
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager

[2022-02-15 11:07] ankatare commented on #19069
JFYI: to repro this, I used env from path /envoy/example/lua with modified envoy.yaml.

[2022-02-15 12:36] matiasrege commented on #19069
@ankatare  the example is perfect, that's what happens, it seems a strange behavior of the decorator right?. Did you read [this](https://github.com/envoyproxy/envoy/issues/19069#issuecomment-977035044) TODO?

[2022-02-15 14:19] KBaichoo opened #19958 "CI: Docker linux multiarch workflow often times out"
CI: Docker linux multiarch workflow often times out

*Description*:
See CI for the following PRs: [19953](https://dev.azure.com/cncf/envoy/_build/results?buildId=101520&view=logs&j=2229703b-209a-5c70-43aa-3eacf674f12a&t=06218374-b1ef-5f45-4455-5a78d6d63b65), [19877](https://dev.azure.com/cncf/envoy/_build/results?buildId=101458&view=results), [19932](https://dev.azure.com/cncf/envoy/_build/results

[2022-02-15 14:21] KBaichoo commented on #19807
This is still flaking, see CI runs for the following PRs: [18846](https://dev.azure.com/cncf/envoy/_build/results?buildId=101502&view=logs&j=fa3d3e18-6969-5713-c3e7-3581195704fd&t=ba370bef-ca49-52f5-0c93-7c0c0f27c465), [19894](https://dev.azure.com/cncf/envoy/_build/results?buildId=101479&view=logs&j=fa3d3e18-6969-5713-c3e7-3581195704fd&t=ba370bef-ca49-52f5-0c93-7c0c0f27c465), [19630](https://dev.

[2022-02-15 14:32] phlax commented on #19958
yep, sounds like a plan altho its taking a long time - i guess its just transient upstream issues - there doesnt seem any failure

[2022-02-15 14:53] alyssawilk commented on #19725
Nope - the issue is currently unassigned

[2022-02-15 15:17] phlax commented on #19832
this was fixed

[2022-02-15 15:17] #19832 closed

[2022-02-15 15:47] KBaichoo commented on #19942
cc @alyssawilk  @mattklein123

[2022-02-15 16:05] mattklein123 commented on #19946
cc @jmarantz also

[2022-02-15 16:15] mattklein123 commented on #19774
Sorry I'm not sure I understand the problem enough to offer an opinion on which solution might be best. Can someone summarize the problem and how the solutions will help?

[2022-02-15 16:18] #19891 closed

[2022-02-15 16:24] mattklein123 commented on #19942
Sure this sounds fine to me, thank you.

[2022-02-15 16:33] ravenblackx commented on #19617
For additional context, the conceptual use of this was to allow a sink extension to prevent the StatNames it consumes from being invalidated during its own lifetime. It turned out there were a stack of other problems provoked by this (e.g. the shutdown order of events involves an ASSERT that verifies that StatNames have been destroyed, which occurs before the destruction of sink extensions, so if

[2022-02-15 16:43] #19604 closed

[2022-02-15 16:55] ravenblackx commented on #19026
Another issue making the current iteration of this filter less capable than it ought to be is that `onAboveWriteBufferHighWatermark` and `onBelowWriteBufferLowWatermark` events are only delivered on the response stream, not on the request stream, so the filter is unable to stream-buffer large requests if the server can't keep up (there is no way for the filter to detect if upstream is congested -

[2022-02-15 17:03] #19958 closed

[2022-02-15 17:38] ankatare commented on #19069
@matiasrege Yeah, seems a bug. Are you talking about code here in TODO ? I am debugging code.

[2022-02-15 18:33] lambdai commented on #19774
For short it's a scalability issue.

The (ssl) context manager maintains a list of in-use ssl contexts and publish the latest ssl with mutex protected shared_ptr.

If all 1600 clusters are updated with a new client ssl config, it take around 5s and it could block envoy process warm up. Almost half time is burned on scanning the list as the current implementation iterate the >1600-elements-list 160

[2022-02-15 19:01] gschier commented on #19946
I appreciate the help!

There is only a single instance of Envoy to distribute traffic across all apps. No, we don't apply any CPU restrictions to Envoy. The binary is simply run as a systemd service. I'm hesitant to run `pprof` on our production instance, as CPU is already constrained but I may be able to reproduce in a staging environment.

The deltas are usually just a small handful of changes.

[2022-02-15 19:21] howardjohn commented on #19774
One note is I think there is a similar overhead on the loadPrivateKey - this is called once per cluster, and is expensive.

I did test removing the empty context cleanup, which brought startup from 50s to 10s in real world scenario. I did not test any sort of `loadPrivateKey` changes though, so unsure if that actually would help or if its a misleading profile. I also don't know enough about the li

[2022-02-15 19:27] qiwzhang commented on #1182
Sure,  I can help to review your pr.  I suggest you just send a preliminary pr to solicit feedback even it did not pass compiling. You can prefix the pr title as [WIP], so other reviewers will not jump in.

[2022-02-15 19:40] KBaichoo commented on #19948
cc @junr03 @snowp

[2022-02-15 19:41] KBaichoo commented on #19945
cc @phlax

[2022-02-15 19:57] phlax commented on #19945
not that im aware of off hand but ill grep the docs/examples to see if i can glean more

[2022-02-15 22:51] mattklein123 commented on #19946
Gathering a `perf` trace should be relatively low overhead and would provide a lot of info. If you could do this and provide a flame graph that would be very useful.

If you are using delta xDS and only changing a few resources at a time, I wouldn't expect this to take much CPU, so there must be something broken here so having the perf trace would be super useful.

[2022-02-15 23:26] jmarantz commented on #19946
+1 to start the deep-dive with a flame-graph.

If your system has daily peaks/troughs like some of ours do, maybe you could aim for sometime during either the rising or falling edge, so that you have some headroom for collecting the data overloading your serve, but are not at the trough which might not be representative.

Also -- I'm curious why you don't add more Envoy tasks to take on extra load

[2022-02-15 23:44] mattklein123 commented on #19946
I actually am wondering if this is a dup of https://github.com/envoyproxy/envoy/issues/19774 and related to TLS context churning? cc @lambdai @howardjohn @kyessenov

[2022-02-15 23:47] howardjohn commented on #19946
Another random theory - we saw issues with sending a bunch of routes to envoy. This was non-delta, so probably worse than here. Update latency became huge. What we found was that we had no backpressure, so Envoy was taking (for example) 15s to process routes and we sent new ones every 2s. This compounded and make things worse repeatedly. Simply scaling back to only send new routes when Envoy had A

[2022-02-16 00:17] AlexanderEllis commented on #9958
Hi @Tenaria , sorry for the delay on this! Ended up getting preempted by other work (rookie mistake making estimates without a full picture of my Q1 work), but I'm turning back to this and hope to have a PR out soon.

Two additional benefits I'm hoping will be helpful will be 1) the use of Envoy's built-in async gRPC handling, much like the Zipkin tracer does with the thread local `httpAsyncClient

[2022-02-16 00:44] jmarantz commented on #19774
@AndresGuedez FYI

[2022-02-16 01:26] lambdai commented on #19946
My mental model of the config is to add/delete
a filter chain in the big listener,
a domain in the big route
a cluster
a secret

The theory is that the time adding the above 4 as a suite  is linear to the scale big things.
That says I am expecting such a operation in 16k suite is 1.6x slower than 10k suite even #19774 is not fixed. The O(N^2) there is due to the secret in each N cluster is updated

[2022-02-16 03:30] marcosrmendezthd commented on #19945
We might want to consider providing a way to decouple HDS from control-plane duties; xds, cds, eds. A design similar to the way the rate limit service would provide this; filter configuration for an grpc cluster and an additional stanza for the health check proto (external?) in addition to tcp, custom, http, etc. Does this make sense? Otherwise, in order to implement HDS we'd basically need to ren

[2022-02-16 07:18] KfreeZ commented on #19948
@zhxie would hyperscan help with this?

[2022-02-16 07:53] huanghuangzym opened #19978 "build 1.20 envoy by centos7 officail image get err "call to member function 'pause' is ambiguous""
*Title*:  build envoy by centos7 officail image get err "call to member function 'pause' is ambiguous"

*Description*:

we build envoy use offical centos build image with 1.20 envoy
get error

NFO: Analyzed target //src/envoy:envoy (305 packages loaded, 7421 targets configured).
INFO: Found 1 target...
ERROR: /root/.cache/bazel/_bazel_root/530ed184f85848d5a11a3a8203c74c1b/external/envoy/source/com

[2022-02-16 08:13] daixiang0 commented on #19978
Do you mean build Envoy in `CentOS:7`?

[2022-02-16 08:14] huanghuangzym commented on #19978
yes，build envoy in centos 7

[2022-02-16 08:27] daixiang0 commented on #19978
Is there any special reason that need build in centos 7? Build with ci script like `./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.dev'` works.

[2022-02-16 08:30] huanghuangzym commented on #19978
emm, we want to support envoy run in vm, not in k8s,  vm system can not upgrade to centos 8,so we need to build a binary for running in centos7

[2022-02-16 08:53] srmish-jfrog opened #19979 "Excessive recursion in MongoDB extension may lead to crash"
*Title*: *Excessive recursion in MongoDB extension may lead to crash*

*Description*:
Clarification - This is reported here and not to the "envoy-security" mailing group, per the request of that mailing group, since the MongoDB extension is outside of the security threat scope.

The DecoderImpl::fromBuffer function in [bson_impl.cc](https://github.com/envoyproxy/envoy/blob/027d6ca15adeae8cd478fcce

[2022-02-16 09:20] whitelizard commented on #19955
Ok, so I figured out one thing wrong with my setup. That a stream should only just be domain/IP & port, and not any path. The path is implicit from the stub. But it still doesn't work.

So, the only 2 things I changed is, first in the client code removing `/service1` to look like this:
[code]

and then in the Envoy config to use the implicit path that the stub uses:
[code]

But now I get this trac

[2022-02-16 09:44] paoloyx opened #19980 "Is possible for Envoy to manage distinct protocols/ports that targets same 'targetPort' on pod?"
## Description
The environment

* Envoy version: `4cc266a75a84435b26613da6df6c32b4a2df4f3e/1.16.3-dev/Clean/RELEASE/BoringSSL`
* Istio version: `1.8.3`

I have a Deployment on Istio with two services that expose different ports/protocols but map to same targetPort on backing Pod.

[code]

## The "problem"
Envoy is selecting a protocol from one of two services, and uses that protocol to deal with r

[2022-02-16 09:48] phlax commented on #19955
i think you may need to set http2 for the cluster - see here for example

https://github.com/envoyproxy/envoy/blob/cca384882deeb185b4de568dbd00a9c74d8b4784/examples/grpc-bridge/server/envoy-proxy.yaml#L36-L40

[2022-02-16 10:20] whitelizard commented on #19955
That worked! Huge thanks!

[2022-02-16 10:26] soulxu opened #19981 "Listener: Should we allow to listen on ipv4-mapped ipv6 address and the same ipv4 address at same time."
This is also found when working on https://github.com/envoyproxy/envoy/pull/19716#pullrequestreview-884003540

But this seems a separate topic, so file another issue, and suppose to be a separated PR also.

Envoy allows to listen on `::FFFF:192.168.0.1` with ipv4_compat flag and `192.168.0.1` at same time. But both the requests are from  `::FFFF:192.168.0.1` and `192.168.0.1` will go to the ipv4 l

[2022-02-16 10:26] soulxu commented on #19981
cc @ggreenway @lambdai

[2022-02-16 11:36] robejfarr commented on #19978
Caveat we're novices on C and C++ build chains with Envoy, but you've probably seen this PR and the comment(s) on it https://github.com/envoyproxy/envoy-build-tools/pull/154#issuecomment-1033902348 ?

We can build Envoy version 1.20.1 on CentOS 7 with `clang and libc++` (which works for us), but not `clang and libstdc++` and got a similar issue to yourself.

[2022-02-16 14:29] KBaichoo commented on #19979
cc @mattklein123 as git blame says you might know about the mongoDB extension code

[2022-02-16 15:14] #19172 closed

[2022-02-16 15:57] mattklein123 commented on #19979
We assume trusted clients and servers for this extension so I don't view this as a high priority fix but I've marked it help wanted.

[2022-02-16 16:07] #19387 closed

[2022-02-16 16:07] #19396 closed

[2022-02-16 16:07] #19419 closed

[2022-02-16 16:28] mattklein123 commented on #19774
Yup OK thanks @lambdai for the explanation. Makes sense to me.

[2022-02-16 17:13] matiasrege commented on #19069
Hi! @ankatare, I found [this](https://github.com/envoyproxy/envoy/blob/5c83001814cd9f57f2179f53940a806b82225e33/source/common/http/conn_manager_impl.cc#L1083-L1087) TODO, it could be related

[2022-02-16 17:22] patrickcarnahan commented on #4027
Any updates on this issue? Shared state in lua would negate a potential requirement to utilize c++ simply to achieve it.

[2022-02-16 17:24] ankatare commented on #19069
@matiasrege Ok. Thanks. looking into the related codes. will get back Soon.

[2022-02-16 17:31] maksimaz opened #19989 "Envoy 1.21, error after success handshake for TLS: envoy ->(TLS)->kafka"
*Title*: *Envoy 1.21, error after success handshake for TLS: envoy ->(TLS)->kafka*

*Description*:

[envoy_log.txt](https://github.com/envoyproxy/envoy/files/8081934/envoy_log.txt) - degug log from envoy
[java_client_log.txt](https://github.com/envoyproxy/envoy/files/8081935/java_client_log.txt) - trace log from java_client
[kafka_log.txt](https://github.com/envoyproxy/envoy/files/8081936/kafka_lo

[2022-02-16 18:24] gschier commented on #19946
So I was able to use `perf` to generate perf data, but [wasn't able to get `perf_data_converter` compiled](https://github.com/google/perf_data_converter/issues/115). I used [github.com/brendangregg/FlameGraph](https://github.com/brendangregg/FlameGraph) for now, which hopefully is sufficient.

**Here's the result from 120 seconds of perf data: https://schierco.nyc3.digitaloceanspaces.com/other/per

[2022-02-16 18:38] mattklein123 commented on #19946
Thanks for the extra info. Looks like you are spending most of the time stat flushing, which is not surprising to me if no tweaks have been done there. This is @jmarantz favorite topic so I will let him take it from here. :)

Either way @jmarantz I feel like we should have some docs on best practices for dealing with stats with giant configs?

[2022-02-16 18:44] gschier commented on #19946
After seeing the stats stuff in the flamegraph, I remembered that we had to disable DataDog's Envoy integration because it was way too slow. I just ran a `/stats` query to see what it's like now:

[code]

Any advice on how to tweak things to make stats collection viable _and_ efficient would be greatly appreciated.

And thanks for the quick response!

[2022-02-16 19:21] kyessenov commented on #19946
Can you run an experiment by excluding most stats (https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/metrics/v3/stats.proto#envoy-v3-api-field-config-metrics-v3-statsmatcher-reject-all)? I suspect you might be creating new symbols for the names of the resources which somehow causes large overhead in the stats subsystem.

[2022-02-16 19:22] smock514 opened #19992 "Crash on cluster initialization/healthcheck when ipv6 disabled"
_Crash already cleared w/ envoy-security@, they OKed this being filed as an issue_

**Title: Crash on cluster initialization/healthcheck when ipv6 disabled**

### Description
- **Current Behavior**: Envoy crash on cluster initialization/healthcheck when probing a domain w/ an IPv6 address, if IPv6 is disabled at the OS level
- **Expected Behavior**: Hopefully, Envoy could detect IPv6 unavailabilit

[2022-02-16 19:53] KBaichoo opened #19995 "Flake: AccessLogManagerImplTest.ReopenRetry"
Flake: AccessLogManagerImplTest.ReopenRetry

*Description*:
has code coverage test failure from test, [19914](https://dev.azure.com/cncf/envoy/_build/results?buildId=101636&view=results), [19962](https://dev.azure.com/cncf/envoy/_build/results?buildId=101582&view=results), [19777](https://dev.azure.com/cncf/envoy/_build/results?buildId=101671&view=results)

Running it with coverage locally:

[code

[2022-02-16 19:54] KBaichoo commented on #19995
/assign @pyrl247

Mind taking a look since the flake seems related to a line you added? Thanks

[2022-02-16 20:35] gschier commented on #19946
Unfortunately we never configured [hot restart](https://www.envoyproxy.io/docs/envoy/latest/operations/hot_restarter) when first setting things up so any config change will trigger ~5-10 minutes of downtime. Actually, the docs are very confusing in this area. They say that hot restart is enabled by default but it seems like you have to be running it with the example `hot-restarter.py` script or si

[2022-02-16 21:16] lambdai commented on #19946
Looking at your flame graph,
I believe the control plane is doing great and the listener are going through in place update. You can ignore https://github.com/envoyproxy/envoy/issues/19946#issuecomment-1040996628

[2022-02-16 22:04] ysun-square opened #20002 "being able skip certain requests when `envoy.overload_actions.stop_accepting_requests` is triggered in overload manager"
*Title*: *being able skip certain requests when `envoy.overload_actions.stop_accepting_requests` is triggered in overload manager*

*Description*:
We want to be able to configure overload manager to be able to let certain requests either based on  headers or paths pass through when `envoy.overload_actions.stop_accepting_requests` is triggered.

Our use case is we are considering to always pass thr

[2022-02-16 22:32] lambdai commented on #19725
Another place to patch beyond #19975

https://github.com/envoyproxy/envoy/blob/main/source/common/http/conn_manager_impl.cc#L786-L789

When this is fired, it's uncertain if the request is complete. I add a new state to ActiveStream::State::downstream_request_read_complete_ and it seems working.
Let me create a PR for reference...

[2022-02-16 22:50] xxx0624 opened #20003 "Compressor filter won't apply to the response from ext authz server"
*Compressor filter won't apply to the response from ext authz server*

*Description*:

- `1st case`: For API requests that will be forwarded to the upstream service (which means the ext authz server allows this request), I can see that the response from upstream service is compressed properly.
- `2nd case`: For API requests that failed by my ext authz server, the envoy will forward the response ba

[2022-02-17 04:01] #19418 closed

[2022-02-17 04:52] howardjohn commented on #19980
This is entirely an Istio thing so should probably be there. That being said, you can use the (relatively new - you would need to upgrade) `useClientProtocol` option in Destination Rule

[2022-02-17 07:20] JakeCooper commented on #19946
If it helps, here's the latency chart for updates post restart. Seems to climb pretty rapidly, which leads me to believe @howardjohn's compounding refresh situation might be on the money

Separately, the baseline 30s per route update seem correct for our scale?

![image](https://user-images.githubusercontent.com/5499880/154424878-8b9c1a0d-2c00-4caa-87e5-8e73183e0194.png)

[2022-02-17 08:02] ankatare commented on #19589
@stevenzzzz Hi, Can you please share Config ?

[2022-02-17 08:02] github-actions[bot] opened #20007 "Newer release available `com_github_wasmtime`: v0.34.1 (current: v0.33.0)"
Package Name: com_github_wasmtime@0.33.0
Current Version: v0.33.0@2022-01-05
Available Version: v0.34.1@2022-02-16
Upstream releases: https://github.com/bytecodealliance/wasmtime/releases

[2022-02-17 08:02] #19871 closed

[2022-02-17 08:04] rmwarns opened #20008 "CORS issue proxying gRPC connect error 99"
*Description*:
I'm working on testing a small application to connect a JS frontend to a gRPC API endpoint through envoy proxy. The service itself is working if I hit it directly (e.g. with another client). I'm using docker on Windows as my dev environment.

When I initialize the gRPC client, the underlying request gets logged as a CORS error. The request headers sent are all listed under allow_hea

[2022-02-17 08:17] paoloyx commented on #19980
Thanks @howardjohn for your suggestion, it did the trick. While I'm searching into release notes, maybe you're quicker than me, which version of Istio that feature was merged into?

[2022-02-17 12:01] #19375 closed

[2022-02-17 12:01] #19436 closed

[2022-02-17 13:49] yanavlasov opened #20013 "envoy-filter-example does not build with the correct toolchain config"
Build script checks out the `envoy-filter-example` repository and changes directory into it before running bazel. As a result bazel does not pick up the .bazelrc file that is in the envoy repository causing bazel to auto detect toolchain.

We presently [copy .bazelversion](https://github.com/envoyproxy/envoy/blob/8136cce6dd66260eba6342b3f0f756e9e0f19016/ci/filter_example_setup.sh#L29), but may als

[2022-02-17 15:50] #10979 closed

[2022-02-17 16:58] KBaichoo commented on #19989
cc @adamkotwasinski

[2022-02-17 17:08] KBaichoo commented on #20003
cc @dio @gsagula

[2022-02-17 17:23] FelipeEmerim opened #20020 "How to increase max streams (websockets) limit?"
*Title*: *How to increase max streams (websockets) limit?*

*Description*:
We are having a problem using consul + envoy sidecar with websockets. If we have about +1024-1100 open websocket connections at the same time, envoy starts dropping new incoming connections. Because of that our healthchecks (kafka ping) start failing and the service becomes unreachable. If we remove the envoy sidecar from t

[2022-02-17 17:55] zhaohaom-aws opened #20023 "What is the maximum allowed value for max_pending_lookups"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *What is the maximum allowed value for max_pending_lookups?*

*Description*:

we would like to know the maximum allowed value for field max_pending_lookups.

[option

[2022-02-17 17:57] #19847 closed

[2022-02-17 18:48] #19595 closed

[2022-02-17 20:01] #19453 closed

[2022-02-17 20:33] KBaichoo commented on #17326
was fixed in https://github.com/envoyproxy/envoy/pull/19602

[2022-02-17 20:33] #17326 closed

[2022-02-17 21:06] adamkotwasinski commented on #19989
@KBaichoo @maksimaz
Not a bug.

We can see the communication happening ok on metadata step (when the traffic goes `client -> envoy -> kafka`):
[code]
but later (as Kafka does) the traffic does goes `client -> Kafka`, what correlates with timestamps:
client:
[code]
and on kafka server:
[code]

Kafka server should use Envoy's port to advertise itself - even if we don't any Kafka-specific filters. Ot

[2022-02-17 21:12] KBaichoo commented on #20020
are you hitting the [circuit breakers](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/circuit_breaking.html?highlight=circuit%20breaker)? they are defaulted to 1024 connections per cluster and enabled by default. You can configure them to be higher

[2022-02-17 21:14] KBaichoo commented on #19980
thanks @howardjohn !

[2022-02-17 21:14] #19980 closed

[2022-02-17 21:43] FelipeEmerim commented on #20020
We thought we could be hitting **Cluster maximum connections** but consul is supposed to expose that throught the service defaults CRD https://www.consul.io/docs/connect/config-entries/service-defaults . We changed `UpstreamConfig.defaults.limits`, increasing all values to 10 million. This change affected only HTTP connections though, TCP streams remained limited in about 1024.

According to these

[2022-02-18 01:01] lambdai commented on #19725
In https://github.com/envoyproxy/envoy/pull/20026
I add an additional flag to track if the request is complete. It is likely not the best approach.
@alyssawilk Please advice on any alternative... Thanks!

[2022-02-18 01:32] soulxu commented on #19981
Give a test on Windows.

The windows will reject to listen on both `[::FFFF:192.168.0.1]` and `192.168.0.1` directly.

And same behavior with listening on both `::` and `0.0.0.0`

[2022-02-18 01:42] derekguo001 commented on #19217
Thanks, @ggreenway .
When implement the extension, there will be two options:
1. We can implement the HSM private key provider extension as an HSM framework. For each specific type of HSM, there will a specific HSM plugin as an extension of the HSM framework.
2. There will not be any HSM framework. For each specific type of HSM, there will a specific private key provider extension.
What do you thi

[2022-02-18 02:19] lambdai commented on #19910
the jwt filter is configured to populate metadata per config `payload_in_metadata: payload`
I believe the added metadata is to guide a new route
However, the refresh new route is not in the current jwt_authn filter.

THe lua filter trigger the fresh new route because lua filter after any header operation.

We should add a new config in the jwt_authn that clear the snapped route entry

[2022-02-18 02:30] daixiang0 commented on #19910
Is it a bug as jwt_authn filter do not guide a right route?

[2022-02-18 03:25] lambdai commented on #19910
It was not a bug before route filter can route upon filter state.

In short term, we'd better leave the clear/re-resolve route decision to the user of jwt filter

[2022-02-18 04:25] daixiang0 commented on #19910
The result looks like the jwt filter chooses the wrong route, I try to read codes to understand the flow between filters and routes but still not clear, could you tell more details about it, like regular flow and correct jwt filter flow?

[2022-02-18 06:22] douglas-reid commented on #19710
Still working on this, based on initial feedback. Should have more time to devote post-vacation.

[2022-02-18 08:02] github-actions[bot] opened #20028 "Newer release available `com_github_bufbuild_buf`: v1.0.0 (current: v0.53.0)"
Package Name: com_github_bufbuild_buf@0.53.0
Current Version: v0.53.0@2021-08-25
Available Version: v1.0.0@2022-02-17
Upstream releases: https://github.com/bufbuild/buf/releases

[2022-02-18 08:44] daixiang0 commented on #20002
The title mislead me :(

[2022-02-18 09:55] hundredbag opened #20034 "Distribute GTP-C traffic to upstream hosts according to TEID"
*Title*: *Distribute GTP-C traffic to upstream hosts according to TEID*

*Description*:
I would like to ask suggestions and comments for implementing GTP-C traffic distribution to upstream hosts according to TEID.

I want to distribute the GTP-C traffic from a single node evenly to the upstream pods, while also ensuring that the traffic with the same TEID value of GTP-C is forwarded to the same po

[2022-02-18 10:45] phlax opened #20035 "Add (daily/weekly) CI for supported release branches"
### description

A recurring issue we have is that there are some parts of CI that are not pinned, and are subject to change.

This can lead to bit-rot on release branches. Mostly these are just CI issues, but sometimes flag incompatibilities that should be addressed.

Currently this effects stable maintainers and backporters around the time of releases, who then have to figure what is breaking/br

[2022-02-18 10:55] packman80 opened #20036 "Unconditional hedged requests"
At the moment Envoy proxy supports hedged request with per timeout policy.

In our case we need to send multiple requests simultaneously (3 identical requests to 3 different backends for example) and get one fastest response.

The number of parallel requests needs to be configured from config

Is it possible to implement it in Envoy ?

[2022-02-18 14:11] KBaichoo opened #20037 "CI: Verify examples failing"
CI: Verify examples failing

*Description*:
See CI runs for the following PRs: [19944](https://dev.azure.com/cncf/envoy/_build/results?buildId=101877&view=results), [19868](https://dev.azure.com/cncf/envoy/_build/results?buildId=101889&view=results), [20017](https://dev.azure.com/cncf/envoy/_build/results?buildId=101918&view=results)

All end with
[code]

[2022-02-18 14:16] phlax commented on #20037
appears to be transient pypi issues

[code]

https://dev.azure.com/cncf/envoy/_build/results?buildId=101877&view=logs&j=f1a49366-51c0-540f-0294-f73c2bb311a9&t=7fd036c9-61ec-5b59-3645-e90950dc67a6&l=466

[2022-02-18 14:24] phlax commented on #20037
hmm, seems more like this version of flask is broken

[code]

ill raise a PR to fix

[2022-02-18 14:39] phlax commented on #20035
relatedly we probably want to pin more hashes - eg in the docker containers for the examples - cf #20037

[2022-02-18 15:37] 1it commented on #13834
I have the same issue, it would be very much appreciated to see that feature.

[2022-02-18 15:47] sunjayBhatia commented on #6632
Looks like Envoy 1.18 solved this? `compression: extended the compression allow compressing when the content length header is not present. This behavior may be temporarily reverted by setting envoy.reloadable_features.enable_compression_without_content_length_header to false.`: https://www.envoyproxy.io/docs/envoy/latest/version_history/v1.18.0#new-features

[2022-02-18 16:23] phlax opened #20039 "Pin pip hashes in example Dockerfiles"
### description

Currently a few of the Dockerfile examples have `pip install` instructions that dont use a requirements file or enforce hashes

This means that they are not picked up by depdendabot and also that they can break (cf #20038 #20037 #20035 )

Specifically they can effectively cause bitrot in historical branches as the pulled dependencies no longer match the historical code

It will me

[2022-02-18 16:23] phlax commented on #20039
cc @kfaseela

[2022-02-18 17:17] ckennelly commented on #16506
https://github.com/google/tcmalloc/commit/5d5968a72c5c378c3e41371628024ba2253d6b40 landed a while back and exposes the binary-encoded heap profile that pprof reads.

[2022-02-18 17:40] howardjohn opened #20045 "possible optimization: repetitive private key reads"
*Title*: possible optimization: repetitive private key reads

*Description*:
When investigating https://github.com/envoyproxy/envoy/issues/19774, I found another area that may be improved (possibly). Currently, for each cluster/listener, we do a full boringssl processing of the same key/cert pair (I think). This ends up being fairly expensive at scale. With a large number of clusters, startup time

[2022-02-18 18:21] #20037 closed

[2022-02-18 18:32] tuhao1020 opened #20046 "build failed on macOs Monterey 12.2.1"
$ bazel build envoy
[code]

[2022-02-18 18:45] tuhao1020 commented on #19419
@alyssawilk Where can we get the envoy's roadmap?

[2022-02-18 18:48] tuhao1020 opened #20047 "Where can we get envoy's roadmap?"
#19419

[2022-02-18 19:12] KBaichoo commented on #20008
cc @lizan as this seems related to grpc

[2022-02-18 19:27] KBaichoo commented on #20020
is it possible for you to explictly set circuit breakers to effectively be disabled ala: https://www.envoyproxy.io/docs/envoy/latest/faq/load_balancing/disable_circuit_breaking#faq-disable-circuit-breaking ?

Circuit breakers apply to clusters. Perhaps check if `upstream_cx_overflow` stat is incremented on your cluster?

[2022-02-18 19:51] yanjunxiang-google opened #20049 "ecds: add support for listener filters"
*Title*: ecds: add support for listener filters

*Description*:
ECDS support for HTTP filters are added by PR: https://github.com/envoyproxy/envoy/pull/11826.
ECDS support for network filters are tracked by issue : https://github.com/envoyproxy/envoy/issues/14696

This issue is to track the ECDS support for listener filters.

Task list:

1) API change is here: https://github.com/envoyproxy/envoy/p

[2022-02-18 20:01] #19496 closed

[2022-02-18 20:01] #19501 closed

[2022-02-18 20:08] dio commented on #20046
@tuhao1020, sorry could you confirm that you have the "full version" of XCode installed? As mentioned here: https://github.com/envoyproxy/envoy/blob/main/bazel/README.md#macos, it is required.

[2022-02-18 21:25] hq6 commented on #1182
Hi @qiwzhang, I'm put up a preliminary PR, but it seems that I lack permissions to add you as a reviewer and Lizhan was added by default.

https://github.com/envoyproxy/envoy/pull/20053

[2022-02-18 22:08] FelipeEmerim commented on #20020
I will try that on Monday and post the results here. Is there an endpoint on envoy where I can see the value of the config you mentioned?

[2022-02-19 00:06] agrawroh commented on #19073
@mattklein123 Looks like it staled out. Would you please help re-open this and add `help wanted` or `no stalebot` labels? The issue is still not resolved.

[2022-02-19 03:33] zirain opened #20056 "how to setup a demo with `onRequestMetadata`"
Hi folks, I'm trying to build WASM filter with `onRequestMetadata`

https://github.com/proxy-wasm/proxy-wasm-cpp-sdk/blob/7afb39d868a973caa6216a535c24e37fb666b6f3/proxy_wasm_api.h#L460

Is there any doc/ut/e2e can show me how to setup a demo?

[2022-02-19 08:01] #19142 closed

[2022-02-19 08:01] #19499 closed

[2022-02-19 08:01] #19526 closed

[2022-02-19 16:01] #19368 closed

[2022-02-19 17:03] GJKrupa commented on #15235
This is still an issue. It's also breaking KNative on ARM64: https://github.com/knative/operator/issues/971

[2022-02-19 20:01] #19529 closed

[2022-02-19 20:01] #19533 closed

[2022-02-19 22:11] pgeler commented on #19881
+1 on this, having similar use case, using "header to metadata" filter instead

[2022-02-20 08:01] #19189 closed

[2022-02-20 08:01] #19329 closed

[2022-02-20 17:20] maksimaz commented on #19989
@adamkotwasinski than you!

It it really work.

[2022-02-20 17:20] #19989 closed

[2022-02-20 20:01] #19549 closed

[2022-02-21 00:02] #19548 closed

[2022-02-21 00:38] saurabh256 opened #20058 "envoy oath2 refresh access token"
This is more of a question than issue but I believe it could lead to few issues
1. I do not see any documentation or example to get new access token using refresh_token. This will be much helpful.
2. Is there a way to get new access token using refresh token using backend call?  Usecase I am looking for user activity happens from front end , call comes to backend (envoy) with refresh token (coming

[2022-02-21 02:24] tuhao1020 commented on #20046
@dio yes, all of the dependencies have installed, and my Xcode Version is: 13.2.1(13C100)

[code]
Is my sdk version too low?

[2022-02-21 02:54] wbpcode commented on #3732
@sherifkayad @rdelcampog

can this make sense to you?

[2022-02-21 07:57] sherifkayad commented on #3732
@wbpcode I need to try this out and tell you .. not sure what should I expect by this configuration .. can you maybe explain more about which headers this config adds?

[2022-02-21 08:14] wbpcode opened #20060 "support more dynamic cluster header"
*Title*: *support formatted cluster header*

*Description*:

[cluster_header](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-msg-config-route-v3-routeaction) is used to select dynamic upstream cluster based on the request headers.

This function is very useful. But I would like to make this feature more flexible with a `core.v3.TypedExtension

[2022-02-21 08:34] tedli opened #20061 "route awareness tracing"
*Title*: *One line description*

tracing configuration per route (virtual host)

*Description*:

would be used.

According to [http.tracer](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/trace/v3/skywalking.proto#extension-envoy-tracers-skywalking) and [skywalking example](https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/skywalking_tracing), I followed the docs, and http trac

[2022-02-21 10:15] sfozz commented on #15270
As a half-way house could the Postgres proxy reject connections where the client parameter `sslmode=disabled` is set, as currently this just results in the client being able to authenticate with the upstream over an un-encrypted connection?

Another thought would be to push this into the starttls transport socket, if possible, such that the connection is accepted but not progressed unless starttls

[2022-02-21 10:31] arggh opened #20062 "Trouble with websockets: connection closed every 15 seconds"
I am comparing different load balancers / proxies to use in front of a Meteor webapp, namely Envoy, HAProxy and Nginx.

I can get the setup to work very easily with **Nginx**:

[code]

Even simpler with **HAProxy**:

[code]

...but for some reason, **every single config variation I've tried with Envoy doesn't really work**: the websocket connection gets upgraded, the response confirms `Upgrade` wa

[2022-02-21 11:25] MarcinFalkowski opened #20063 "Load Balancer Subsets: support fallback metadata"
When using Load Balancer Subsets we can define a fallback policy which tells envoy what to do if no endpoint matching route/dynamic metadata is found.

But I see no way to define fallback route/dynamic metadata, which will be used if no endpoint matching preferred metadata is found.

Let me illustrate it with following example:

<details>
  <summary>Config - Click to expand!</summary>

[code]

</d