[2020-10-05 20:51] rgs1 commented on #10813
@mandarjog @gargnupur here you go #13395 -- I'll make sure it's in good shape for review (CI passing, docs, etc).

[2020-10-05 20:56] JKerwood commented on #12760
I've tried setting the health_check_filter and I still get counts in my stats.  Maybe I'm doing it wrong?

[2020-10-05 20:59] mattklein123 commented on #13388
To have no race conditions, the ALB needs to support max_connection_duration and have that be less than Envoy's max connection duration. There is no way to fix this with Envoy.

[2020-10-05 20:59] mattklein123 commented on #13322
Sure!

[2020-10-05 22:00] junr03 commented on #13321
@mattklein123 I guess there are two points I confounded into one issue:
- It seemed, at first glance that the filter was creating more DnsResolver instances than strictly necessary, instead of sharing.
- Creation of the DnsResolver was happening outside of config handling.
I agree that a way to solve the second point is what you suggest, and would mean that no work needs to happen in the UDP filte

[2020-10-05 22:01] mattklein123 commented on #13321
Yeah I would recommend not doing that for this filter for performance/complexity reasons.

[2020-10-05 22:07] softcane commented on #13388
Same ALB is used to serve traffic to Nginx ingress pods on a separate node port and we donor have such issue there

Nginx conf
keepalive_timeout 75s;
keepalive_requests 100;

[2020-10-05 22:10] cgthayer opened #13397 "Doc update: "life of a request""
*Title*: Doc update: "life of a request"

*Description*:

* Reading the STYLE doc https://github.com/envoyproxy/envoy/blob/master/STYLE.md
* Has a link to "Life of a Request" which is 404
* Should go to https://github.com/envoyproxy/envoy/blob/master/docs/root/intro/life_of_a_request.rst
* Also that fie has broken images, so the links there need to be updated.

[2020-10-05 22:12] mattklein123 commented on #13388
keepalive_timeout is different from max_connection_duration. If you don't configure max_connection_duration and just reduce Envoy's idle_timeout that might work. I can't remember if we have a max requests limit for downstream. I don't think so.

[2020-10-05 22:18] phlax commented on #13397
thanks @cgthayer unless you/someone prs first i can look at that as part of #13386

[2020-10-06 00:12] jmarantz opened #13399 "stats: Remove --use-fake-symbol-tables option."
See also https://github.com/envoyproxy/envoy/issues/6307 which removes the code supporting fake symbol tables, but leaves the option in place.

Removing the option is a breaking change, so splitting that off on its own.

[2020-10-06 02:06] mk46 commented on #12644
Hi @AmaliMatharaarachchi, Are you working on this issue? If not then I would like to take up this.

[2020-10-06 05:20] phlax commented on #13058
the process of verifying build configs has been automated, and this function no longer exists

[2020-10-06 05:20] #13058 closed

[2020-10-06 06:04] XSAM commented on #13002
Thanks for the detailed explanation. I now use the data from `grpc_stats` to filter the gRPC method.

[2020-10-06 06:04] #13002 closed

[2020-10-06 06:26] #13285 closed

[2020-10-06 06:33] softcane commented on #13388
I think kube-proxy will not balance the traffic if I don't set `max_connection_duration`. Terminating connection periodically allowing kube-proxy to reevaluate its iptable rules and hence balance the traffic.

Isn't the higher Idle_timout on the envoy proxy (1hour) than ALB (60sec) is better in the sense that ALB can close the idle connection before the envoy?

[2020-10-06 06:39] mrbenosborne opened #13403 "Allow IPs with TCP Listener using RBAC (Not working)"
Hi :wave:

I am trying to achieve the following:

- Allow TCP traffic only from the following IP addresses.

This is my listener setup.

[code]

But for some reason nothing seems to work, I have also tried *remote_ip* and *direct_remote_ip* in place of *source_ip*.

Am I doing something wrong?

[2020-10-06 13:41] htuch commented on #13397
You should not link directly to the RST, but instead to https://www.envoyproxy.io/docs/envoy/latest/intro/life_of_a_request

[2020-10-06 13:44] htuch commented on #11816
As part of my EnvoyCon talk, I looked at all CVEs for our dependencies since 2018. Curl is by far the worst here, with 14 CVEs and 23 releases since 2018. Further evidence that we really want to make some progress here.

[2020-10-06 14:04] alyssawilk commented on #13369
The checkForDrained code is supposed to check to see if the connection pool is currently being drained.

If the connection pool is being drained, each connection is told this is the last request it can serve, and as connections are returned to the pool they are closed.  Normally, idle connections can be returned to the pool and reused, but if we're draining the pool (say we've reloaded config, and

[2020-10-06 14:18] ceastman-ibm commented on #13147
@yanavlasov Is there a timeline for when this will get looked at?

[2020-10-06 14:58] #13084 closed

[2020-10-06 15:00] mattklein123 commented on #13388
Yes, but you are also using max_connection_duration which is independent and thus there is a race condition. If ALB supported HTTP/2 you could use that. Without that there is no fix here without any code changes. If we supported max_requests for downstream connection that would also "fix" the issue, but IIRC we don't support that.

[2020-10-06 15:14] #13243 closed

[2020-10-06 15:41] dazoakley commented on #13312
Hi @mattklein123,

I've just been fighting with the same issue with 1.15.2... If that's not the intended behaviour of the current implementation, any idea how we could go about overriding the host header for several backend endpoints? (Apologies to jump on this issue - happy to ask elsewhere if it's more appropriate).

The issue I'm dealing with is proxying to a legacy on-prem service that is only

[2020-10-06 15:48] phlax opened #13408 "Improve documentation around running Envoy in Docker container"
## description

a conversation came up in the slack channel around running Envoy in (non-root) docker containers.

i think most of the relevant information is there (https://www.envoyproxy.io/docs/envoy/latest/start/start#using-the-envoy-docker-image) but the section could do with being broken up a bit and possibly moved

[2020-10-06 16:15] chradcliffe commented on #13369
So if I understand what you're saying correctly, the presence of a callback in `ConnPoolImplBase::drained_callbacks_` is an implicit indication that the pool is draining -- is that right? I think that's what I didn't understand -- you can't actually add a drained callback without implicitly draining the pool. I'll have to rethink what I was trying to do.

However, I did find at least one case wher

[2020-10-06 16:37] mattklein123 commented on #13312
@dazoakley what cluster type(s) are you using? Your issue is different than the one above and might be a bug with hostname not being populated correctly for either static or EDS clusters.

[2020-10-06 16:40] mattklein123 commented on #13312
(I just looked at the code and I'm pretty sure hostname should be getting read correctly for static/eds clusters and be usable via auto_host_rewrite)

[2020-10-06 16:42] #1031 closed

[2020-10-06 17:21] #6307 closed

[2020-10-06 17:49] softcane commented on #13388
Do you see any possibility to add a support for   max_requests_connection in the downstream connection?

[2020-10-06 17:50] rgs1 opened #13411 "add an extension mechanism for custom formatters"
Per the discussion in #12991, instead of adding yet another built-in formatter it'll be more flexible to provide an extension point for adding custom ones.

I'll send an initial PR to start discussing how this would look.

[2020-10-06 17:52] mattklein123 commented on #13388
It's a reasonable feature request so feel free to open an issue on that and we can mark it help wanted.

[2020-10-06 18:22] sebastienros opened #13412 "[PERF] Noticeable perf regression overtime"
As part of the ASP.NET team, I am measuring envoy and the perf of other proxies continuously.
For the past few months we can see that envoy's perf is slowly degrading.
Overall, compared to nginx or haproxy it's still doing very well, but you might have missed these numbers so I am sharing them with you.

The following chart represents RPS and mean latency for different payload sizes overtime (10B,

[2020-10-06 19:09] capoferro opened #13413 "Integrate CacheFilter with Envoy stats collection"
CacheFilter should collect cache-related stats and have them aggregated into the Envoy stat collection pipeline.

- [ ] Research what stats should be collected
- [ ] Integrate stat collection with Envoy Stats.

*Relevant Links*:
https://github.com/envoyproxy/envoy/blob/master/source/docs/stats.md

[2020-10-06 19:10] capoferro commented on #13413
This needs area/cache label, which I am unable to add.

[2020-10-06 19:26] snowp commented on #13412
I don't think we have anything set up to help us understand what might be going on, so just tagging some perf interested folks to chime in.

@jmarantz @antoniovicente @oschaaf

[2020-10-06 19:33] mattklein123 commented on #13412
Thanks for raising this. Very interesting. Note that producing this type of information is actually the goal of https://github.com/envoyproxy/envoy/issues/11266 (cc @abaptiste), so it would be great to make sure we aren't duplicating effort there.

As per the slow regression you are seeing, is it possible to get a flamegraph of the run at the beginning and end of the range?

[2020-10-06 19:38] jmarantz commented on #13412
@htuch and @mum4k as well. This is very interesting. We also run continuous benchmarks internally and have noticed some hiccups here and there but not a slow degradation

There are so many variables about how to run load test. I am not familiar with bombardier. There's also a benchmark tool in the Envoy project called Nighthawk, which has all kinds of settings for
 * open-loop vs closed loop
 * h2

[2020-10-06 20:19] sebastienros commented on #13412
I can do runs on a version at the beginning and now, and take a trace (perf/lttng). Would help if someone could give me a docker hub tag that would represent the state as of early June. With that I could confirm it's an issue or just hardware slippage (but again for nginx and haproxy there isn't any).

If someone is interested in how we (dotnet team) do our perf testing, happy to explain. Our infr

[2020-10-06 20:42] jmarantz commented on #13412
There's quite a bit of stuff there. Can you summarize in terms of HTTP parameters more detail about your load-test? E.g. protocol, open vs closed, amount of concurrency, and any other params you can think of?

[2020-10-06 20:59] jsbucy commented on #9577
Thanks for the reference Yaroslav! AFAIK no one is actively working on LDAP at this time but good to know that there's interest. I suspect LDAP may be a little trickier since it's all ASN.1... I'm not sure what the state of ASN.1 implementations is that would be suitable to embed into envoy to do the protocol inspection here.

Maybe once #13112 gets a little further we should file separate bugs fo

[2020-10-06 21:02] softcane commented on #13388
Great, thanks for all the help so far.

[2020-10-06 21:09] sebastienros commented on #13412
Configuration is here: https://github.com/aspnet/Benchmarks/blob/master/docker/envoy/envoy.yaml

http1.1 between the load generator and the proxy. I think the config doesn't force what is used between the proxy and the cluster (the service supports h2 and http1.1).
256 concurrent connections
Request with only a small query string are forwarded and the results have different sizes based on the requ

[2020-10-06 21:31] jmarantz commented on #13412
"open" means that the load-generator sends traffic at a constant rate, independent of whether the system-under-test can handle that rate. We expect that with sufficient load, some amount of the requests will fail, and throughput will remain constant in terms of request-count (success+failure)

"closed" means that the each concurrent stream in the load-generator sends a request and waits for the re

[2020-10-06 22:12] frasercobb commented on #13285
Thank you for addressing this so quickly.

Could you help me understand the design decision to have a disable flag rather than setting "with_request_body" ?
I was originally thinking of using this feature to disable with request body by default, and enable it for a specific route.

Thanks again.

[2020-10-06 23:29] hrobertson commented on #13312
Looks like the same issue except for the fact we're using DNS. Seems odd that the `hostname` property would be ignored when it's being explicitly specified.

We're just POCing at this point, but we were able to achieve the expected behavior with Traefik.

[2020-10-07 00:18] #13368 closed

[2020-10-07 00:53] fpliu233 opened #13417 "Cleaner and more generic gRPC channel cache solution for filters that use Google gRPC on data plane"
*Title*: *Cleaner and more generic gRPC channel cache solution for filters that use Google gRPC on data plane*

*Description*:
Currently Google gRPC channel used by filters are created for every request, which is not efficient and has high latency. We need to find a cleaner and more generic gRPC channel cache solution for filters that use Google gRPC on data plane.
We have short-term solution for

[2020-10-07 01:37] sebastienros commented on #13412
I picked this build from 4 months ago before the huge cliff you can see on the charts around 6/8, and can repro the regression: https://hub.docker.com/layers/envoyproxy/envoy-dev/9461f6bad1044133d81d69eba44f20f93771aa2e/images/sha256-0c14d10b416bfbc02e15b3d15ceeee58ac619f1b0ffe9c01d9bf22e1857fa34c?context=explore

Before:

[code]

After

[code]

The numbers don't match the charts as they were not

[2020-10-07 02:13] hq6 opened #13421 "Question: How might I output the version of protoc and libprotobuf used during an Envoy build?"
Is there a flag that one can pass to the bazel command, or a configuration file one can modify, to force the build to output the following information?
1. The version of protoc used to compile protobufs in Envoy extensions (filters).
2. The version of protobuf that Envoy is linked against.
3. The version of grpc that Envoy is linked against.
4. Whether Envoy links statically or dynamically against

[2020-10-07 02:42] dio commented on #13285
@frasercobb yeah, I was about to have per route `with_request_body` but config wise it will be a bit complicated since we need to think of merging these two if both are enabled (global and per-route). And implementation wise this is easier. But yeah, of course, we can always revisit that.

[2020-10-07 02:43] mattklein123 commented on #13412
If there is any way for you to gather a perf trace / flame graph between the 2 runs that would be appreciated, since you know how to run it on your testbed. If not we can try to take a look at these 2 SHAs and your config using Nighthawk. cc @oschaaf @jmarantz

[2020-10-07 02:50] frasercobb commented on #13285
@dio Thank you for the explanation, I would prefer a slightly clunky feature now rather than a perfect one later so your decision sits well with me. Thanks again.

[2020-10-07 06:18] dazoakley commented on #13312
Hi @mattklein123,

Thanks for your response.  We were using `strict_dns` for no reason other than that it was from an example configuration we based on an earlier POC and the documentation suggested we needed this (or `logical_dns`) in order for `auto_host_rewrite` to work as documented.

I've switched us to using a `static` cluster type and can confirm that it works! 😃

I'm happy to submit a docu

[2020-10-07 07:15] AmaliMatharaarachchi commented on #12644
@mk46 No, I'm not working on it. Thanks, please take it.

[2020-10-07 08:37] Andres-Escalante opened #13422 "Give the option to increase the maximun size of the HTTP body in responses to be bigger than 4 KB"
I know it is for keeping the proxy’s memory footprint from growing too large but it would help to have the option to use a body bigger than 4 KB for the HTTP responses.

[2020-10-07 09:53] lipingtababa commented on #13376
Hi @amukherj1 We have almost the identical problem. The communications between our envoy ingress sidecar and the AWS  LB are okay, but we from time to time experience delays between the ingress sidecar and the service container.
The tcpdump files show that the service sends out the IP packets in time, but the envoy/sidecar doesn't process it until 1-10s later.
And it happens when the traffic, CPU

[2020-10-07 11:37] supasteev0 commented on #13408
Sharing my experience in migrating to 1.15 in a Kubernetes environment :

- Documentation should maybe stress out that the container **has to** be run as root, and that its'only the envoy process inside the container that will be run as non root.
Because i actually thought the pod should be run as non root user, hence came up with a lot of issues due to missing docker capabilities and enforced sec

[2020-10-07 11:44] phlax commented on #13408
thanks @supasteev0 im upating docs around this anyway - so ill take on board and incorporate your suggestions on how we can improve them.

feel free to PR any specific changes that you think would help

[2020-10-07 15:28] mattklein123 commented on #13422
I thought we had an issue tracking this but I can't find it. Yes it would be fine to make this configurable.

[2020-10-07 15:29] mattklein123 commented on #13312
All the documentation lives in this repo either on the protos themselves or in RST files.

re: why the DNS implementations use the resolved name vs. the explicit hostname, this is just the way it was originally implemented. I actually don't see an issue with overriding with explicit hostname if it's set, but this would potentially be a breaking change and would need to be thought through. Feel fre

[2020-10-07 16:42] sebastienros commented on #13412
I took a trace with perf, but the results don't show any user code. I am not used to tracing native code, and maybe it requires some symbols source. I can share them still, 22MB each. Let me know where I can drop them.

[2020-10-07 17:00] ofek opened #13426 "Document WASM extension metrics"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Document WASM extension metrics*

*Description*:

We see these coming in but do not know which parts (if any) are tags and what they represent:

[code]

*Relevant L

[2020-10-07 17:05] xudesheng opened #13427 "Looking for an exmaple of "IT Transprency" to support proxy_set_header"
*Title*: *IT Transprency for proxy_set_header*

I'm trying to migrate my Nginx setting to Envoy but I couldn't find equivalency of following Nginx setting in Envoy:

I even couldn't try the example included in https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/other_features/ip_transparency#arch-overview-ip-transparency-original-src-http

appreciate it if someone can share with me an

[2020-10-07 17:32] #10053 closed

[2020-10-07 18:00] rgs1 opened #13429 "subset lb: small subsets hit panic threshold while being populated/depopulated"
Currently, `healthy_panic_threshold` defaults to 50% and is applied to the whole cluster:

https://github.com/envoyproxy/envoy/blob/master/api/envoy/config/cluster/v3/cluster.proto#L517

We use the subset LB to move traffic across versions [0], so during a deploy a subset (internally represented as a host
set) can grow from zero to a few hosts for a new version and then the other way around for an

[2020-10-07 19:11] snowp commented on #13421
You can see what versions Envoy builds against in bazel/repository_locations.bzl. Basically everything is statically linked in Envoy (sans glibc etc)

[2020-10-07 19:16] phlax opened #13431 "[RFC] Move developer docs to main docs (or at least to an .rst tree)"
## description

I believe there are several advantages to centralizing the developer docs and bringing them into the main documentation

- we have various ci/checks etc that are only applied to the doc/rst tree
- centralizing docs would decrease the learning time/curve for new developers to find relevant documentation/adopt related standards etc
- one set of documents to maintain (altho i think th

[2020-10-07 19:24] akonradi commented on #11427
I've added a prototype that supports option 3a/3b [here](https://github.com/akonradi/envoy/commit/5b8e6b5eb25c1fdbb5855c445b8b5fba6c329ad2#diff-ca00ac0f3b1ecadc54f3fa582cbe3d98).

[2020-10-07 19:56] snowp commented on #13426
FYI @envoyproxy/wasm-dev

[2020-10-07 19:58] snowp commented on #13429
Doesn't the subset refresh happen within a single event on the dispatcher? How is load balancing happening during the subset update?

[2020-10-07 20:06] hq6 commented on #13421
Does Envoy build protoc from source, or uses a pre-built binary from that package?

The documentation [here](https://github.com/protocolbuffers/protobuf) seems to imply that the C++ protoc is intended to be built from source, but I'm not sure how to tell whether that is what Envoy's build does.

[2020-10-07 20:44] phlax commented on #13431
if noone has any objection to this idea, im happy to take it on

[2020-10-07 22:28] cpakulski commented on #12340
WIP.

[2020-10-07 22:38] mattklein123 commented on #13431
I agree this would be great to move away from MD into a single sphinx tree.

My main question is whether it should be an independent sphinx tree, or possibly a separate entry point / index. Meaning, I'm not sure we want end-users to see the dev docs. Even if we build as a single tree can we have different entry points / index for them?

[2020-10-07 23:58] hrobertson commented on #13312
Ok thanks. I'll have a look into implications and create an issue to discuss.

[2020-10-08 00:03] leosunmo commented on #7753
Any update on this @mattklein123 ? Do you need anything else from me? I have some spare time to help, but I don't have nearly enough C++ or Envoy codebase knowledge to help on that front.

[2020-10-08 01:23] moderation commented on #7753
1.11.0 is over [15 months old](https://github.com/envoyproxy/envoy/releases/tag/v1.11.0) with the current release being 1.15.2. Has this scenario been tested with a current release?

[2020-10-08 02:01] leosunmo commented on #7753
The above example uses `envoyproxy/envoy-dev:latest` and I pulled that image fresh when I tested it on 3rd of Sept, so I'd say so :shrug:

[2020-10-08 02:45] sushil-prasad opened #13435 "How to configure Envoy to pass the absolute URL to the upstream service?"
I want to set up Envoy in front of a Squid caching proxy that accepts absolute URLs. For example, when  “GET https://www.google.com” is sent to Squid, it returns with 200 OK.

When Envoy is set up in front of Squid, the absolute URL gets parsed before sending to the upstream server. For example, the URL 'https://www.google.com' is sent as '/' and not as 'https://www.google.com'.

Any recommendatio

[2020-10-08 02:52] mattklein123 commented on #7753
Sorry I haven't had time to look at this yet. It's on my list.

[2020-10-08 05:51] phlax commented on #13431
yep, thats kinda my thought too

rst has a master doc/single root model, so i think we would need to build as a separate doc tree.

If we publish the dev docs separately then there is also a question of where we publish them to.

[2020-10-08 06:18] ankatare commented on #6594
@htuch what needs to be done in this ?

[2020-10-08 07:01] RashmiRam commented on #13267
Among the mentioned solutions, the 1st one where we can configure the traceOptions of Opencensus through envoy is already existing.

trace_config mentioned in this proto https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/trace/v3/opencensus.proto can be configured like below to avoid orphan child spans showing up in UI

[code]
We can close this issue if the above is an accepted solution.

[2020-10-08 07:19] ankatare commented on #10816
@htuch what needs to be done on this. could you please provide some pointers. is it similar to #10815  ?

[2020-10-08 07:39] phlax commented on #11068
i dont think we host the docs on readthedocs - afaict the docs are hosted in github pages from a repo here https://github.com/envoyproxy/envoyproxy.github.io - and there doesnt seem to be a way to add stubs/redirectss in sphinx.

im wondering if we can do it with jekyll, somehow

[2020-10-08 07:40] phlax commented on #11068
i take that back - you *can* add redirects in sphinx i think https://github.com/sphinx-contrib/redirects

[2020-10-08 07:42] phlax commented on #11068
if we are going to move things around in the main doc tree, i think we will need to have this working first (#13386)

[2020-10-08 08:00] phlax commented on #11068
this might be a better option https://github.com/wpilibsuite/sphinxext-rediraffe - its supported on pypi, dev seems more active, and has a diffchecker tool to ensure re/moved pages have redirects

[2020-10-08 08:18] phlax commented on #13431
one downside that im wondering about regarding moving `.md` -> `.rst` is that developers might be more inclined to quickly scribble a note in an md file in the code than write properly structured docs, but then having lots of scribbled notes is partly the problem, i think

[2020-10-08 10:04] arief-hidayat opened #13437 "Customize 'RBAC: access denied' message"
*Title*: *Customize `RBAC: access denied` message*

*Description*:
I am using istio CRs to configure authn & authz policy.

Access without valid & authorized token gets 403 with `RBAC: access denied` in the response body.

Is there a way to customize this response body? e.g. I would like to send json message instead.

thanks

[optional *Relevant Links*:]
I see this value is hardcoded here.
https:/

[2020-10-08 11:33] snowp commented on #13437
You should be able to use https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/local_reply to modify the response by filtering on the response and rewriting it into the format that you want.

[2020-10-08 12:54] snowp commented on #13435
@alyssawilk Do you know if we allow configuring this behavior?

[2020-10-08 13:07] alyssawilk commented on #13435
Yeah, I don't think Envoy supports forwarding absolute URLs, and if we did there'd probably be some extra work to not forward it as GET http://www.google.com/ because of the way it is represented internally.

[2020-10-08 13:38] htuch commented on #10471
OSSC also has candidate metrics at https://docs.google.com/spreadsheets/d/119YwYxf5Fy09CjPX6h-yuKZOY4XjCCuDSD_Ryj14s64/edit#gid=0

[2020-10-08 13:56] xudesheng opened #13440 "User has to enter username/password for every resource inside a page"
I have a website which is implemented on top of Tomcat and it needs basic authentication to access it.

When I use Nginx or Haproxy as reverse proxy or load balancer in front of it, I don't have to handle authentication specifically in Nginx/Haproxy.

After I migrated reverse proxy/load balancer to Envoy, user is being asked to enter username/password consistently, basically for every piece of res

[2020-10-08 15:10] #10813 closed

[2020-10-08 15:16] mattklein123 commented on #13431
We should research this fully, because I do think there may be value in ref linking from dev docs to main docs, though not a requirement.

I think we can publish them to the same site, just under a different path.

I agree, and RST is really not very much different from MD. Also, if we do make it a separate sphinx tree that can be built independently and doesn't require bazel, etc. it should build

[2020-10-08 15:49] arief-hidayat commented on #13437
thanks. I will try that

[2020-10-08 15:49] #13437 closed

[2020-10-08 16:09] roboslone opened #13441 "Ability to set service cluster via ENV"
*Description*:
It would be useful to be able to set service cluster via ENV, not via CLI option.
I'm using pre-built Docker image and my global Dockerfile looks something like this:
[code]

This image is used as sidecar for multiple services. Each service should have it's own name and in Kubernetes it would be achieved easily if Envoy supported service cluster setting via env variable.

For exampl

[2020-10-08 17:26] jstewmon commented on #13157
Nudging this issue for another look, since it was thought to possibly be related to #13174, which was closed by #13218.

I have rerun the steps to reproduce with `envoyproxy/envoy-dev:8fb3cb86082b17144a80402f5367ae65f06083bd` (v1.16.0), and the issue remains.

[2020-10-08 17:40] alyssawilk opened #13445 "envoy.reloadable_features.http1_flood_protection deprecation"
Your change commit f5b0294f0a7c2d143f6d4d94afae9a0e6f9dacf7 (http: adding response flood protection) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2020-10-08 17:40] alyssawilk opened #13446 "envoy.reloadable_features.ext_authz_http_service_enable_case_sensitive_string_matcher deprecation"
Your change #9715 (ext_authz: Deprecate LowerCaseStringMatcher) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2020-10-08 18:07] alyssawilk commented on #13369
Yeah, I think there's a difference between removing a host, and draining the whole pool.
For sure, behavior will change when it's draining, and cleaning up comments that adding a drained callback should only be done when draining would help clear things up.

[2020-10-08 18:14] bartle-stripe opened #13448 "mongo_proxy: support configurable command list for metrics"
It'd be nice to be able to generate metrics for additional commands, beyond "insert", "update", and "delete" [0].  We could just add a bunch of new commands to this hardcoded list, but that has a few problems:
1) It's not future-proof against new MongoDB releases adding new commands.
2) Our MongoDB deployment contains some custom diagnostic or administrative commands that wouldn't make sense to up

[2020-10-08 19:00] mattklein123 commented on #7753
This is going to be very unsatisfying, but I just tried to repro this on current latest, and AFAICT it doesn't repro anymore. Has it been fixed in the last month? @leosunmo can you check me?

[2020-10-08 19:06] leosunmo commented on #7753
Haha, roger, I'll check when I get in to the office.

[2020-10-08 19:07] mattklein123 commented on #7753
(There have been some relevant changes in this area in the filter chain the last month that I could believe might impact this, cc @snowp @alyssawilk)

[2020-10-08 19:10] mattklein123 commented on #7753
Later I can try to pull an old image to see if I can repro and maybe come up with a regression test.

[2020-10-08 19:43] leosunmo commented on #7753
I am still seeing the same problem. Am I doing something wrong here?
[code]

Envoy dockerfile
[code]
[code]

[2020-10-08 19:47] mattklein123 commented on #7753
I'm trying with docker compose and it's not reproing. I had to make one change due to binding issues, but here is the diff that I'm using, even going back to an image from 9/3:

[code]

[code]

[code]

[2020-10-08 19:55] leosunmo commented on #7753
Ah I spotted a mistake! I wasn't properly rebuilding and getting cached stuff. This is now indeed working!
[code]

That's now working on `envoyproxy/envoy:v1.16.0` _and_ `envoyproxy/envoy:v1.15.2`!

Very exciting! :D Good work mysterious bug fixer!

[2020-10-08 19:57] mattklein123 commented on #7753
Hmm. I wonder when this was fixed. Let me do a little digging.

[2020-10-08 20:08] mattklein123 commented on #7753
I just tried all of the major versions and this was fixed somewhere between 1.11 and 1.12. Given how long ago this was, I'm not sure it's worth digging on this more?

[2020-10-08 20:14] leosunmo commented on #7753
Yeah I just came to the same conclusion using Docker images between 1.11 and 1.12. It does indeed look like that was the fixed version! I'd say just close it.

[2020-10-08 20:15] mattklein123 commented on #7753
OK glad this is resolved!

[2020-10-08 20:15] #7753 closed

[2020-10-08 20:21] mattklein123 commented on #13093
I think this was likely fixed by https://github.com/envoyproxy/envoy/pull/12833. Please let us know if not.

[2020-10-08 20:21] #13093 closed

[2020-10-08 20:52] ankatare commented on #10745
@htuch please suggest if it is still good to take for v.1.17 ?

[2020-10-08 23:14] mattklein123 opened #13454 "Support multiple header values in access logging and header formatting"
See https://github.com/envoyproxy/envoy/pull/13363 and search the code for this issue.

[2020-10-08 23:16] htuch commented on #12673
Not planning on tackling the following:
* ` Split out metadata and join with the labels produced by bazel query //external:all --output`. The same effect is achieved via inplace metadata and `tools/dependency/validate.py` ensuring consistency.
* `Include bazel/dependency_imports.bzl, possibly UDPA deps.`. The Go and pip3 dependencies aren't in the build. Transitive dependencies will be called out

[2020-10-08 23:41] caiolopes commented on #1291
An updated version of @jevonearth snippet

[code]

[2020-10-08 23:44] #11068 closed

[2020-10-09 00:15] htuch commented on #11427
@akonradi can you enumerate the set of timer types? I'm wondering how large/small it is?

[2020-10-09 00:20] htuch commented on #10745
I think it's relatively low priority at this point given the next major version is far away.

[2020-10-09 00:20] htuch commented on #10816
I'll be working on this, I've updated bug status.

[2020-10-09 00:22] htuch commented on #6594
As per the comment at top, you need to find the places where VERSION is consumed and add a `-dev` if the current SHA doesn't match the latest release tag in the repository.

[2020-10-09 00:28] #13345 closed

[2020-10-09 01:34] mandarjog commented on #10813
Thanks @rgs1 !

[2020-10-09 04:14] Shikugawa opened #13456 "jwt_authn: encapsulated jwt payload verification"
This is feature request on JWT authn filter. This feature exists on Istio/proxy. https://github.com/istio/proxy/blob/master/src/envoy/http/authn/authenticator_base.cc#L130

To be clearly, this feature is to verify encapsulated JWT payload, such as,
If we have JWT payload like this,
[code]
With this feature, claims in `original_claims` will be used to be verified.
I'd like to discuss that this feat

[2020-10-09 04:18] nic-chen opened #13457 "question: How to get client IP and custom headers in Lua filter"
I am developing a framework that support Apache APISIX plugins run directly in Envoy Lua filter without modify Envoy. #13307

But in the process, I found that some header values, such as client IP and custom headers, cannot be get in Lua filter.

I think client IP and custom headers should be very commonly used.

I might misreading/misunderstanding, but I don't know how to get them, please remind

[2020-10-09 04:38] gargnupur commented on #10813
Thanks @rgs1 !!!

[2020-10-09 05:27] yangminzhu commented on #13456
thanks for opening the issue, also cc @qiwzhang.

[2020-10-09 05:31] arshchimni opened #13458 "Race Condition when multiple remote jwks providers defined along with allow_missing_or_failed"
*Title*: *Race Condition when multiple remote jwks providers defined along with allow_missing_or_failed*

*Description*:

We have been trying to configure multiple remote jwks providers for JWT authentication. Also we kept allow_missing_or_failed  as we were introducing these providers on a test basis so that the request flow without JWT still works.

What we observed was that the allow_missing_or

[2020-10-09 06:17] xudesheng opened #13459 "why Envoy striped out cookie with name "SERVER" from response?"
I'm trying to use Envoy as edge proxy and replace Haproxy. My backend service specifically needs a cookie value with name:SERVER. However, it seems like Envoy automatically stripped out this cookie.

With **Haproxy**, when user accesses url: /Application, the response would set cookie with name "SERVER" at path: /
![image](https://user-images.githubusercontent.com/8742037/95548720-ad967400-09d3-11

[2020-10-09 06:23] Shikugawa commented on #13456
I agree with upstreaming this feature.
If I implement this feature on another filter, request should walk
1) jwt_authn filter to verify encapsulated JWT payload, and pass them with `forward_payload_header`.
2) encapsulated jwt payload validation filter to exchange with specified claim (In this example, that is `original_claims`) and do duplicated action with jwt_authn.
It is not efficient solution

[2020-10-09 06:26] xudesheng commented on #13459
no way to resize embedded picture?

[2020-10-09 09:35] phlax opened #13461 "Improve install docs"
Reading through the "build and installation" docs it seems like more focused on building than installing.

I think, ideally, we want instructions for how to do binary installs on different OS - at the moment it seems more targeted towards architectures.

One limitation here is that there are not many official packages atm (at least in the few linux distros i checked) - but it would be good to docu

[2020-10-09 12:03] numerodix commented on #3077
fwiw I had a look and all the stats reported in this issue are now present in the docs:

source/server/guarddog_impl.cc:
`watchdog_miss`
`watchdog_mega_miss`
https://www.envoyproxy.io/docs/envoy/latest/operations/performance.html?highlight=watchdog_miss

include/envoy/upstream/upstream.h:
`upstream_cx_idle_timeout`
https://www.envoyproxy.io/docs/envoy/latest/configuration/upstream/cluster_manager/

[2020-10-09 12:21] numerodix commented on #3077
This is quite correct, also for `http1.`. They are rooted under the cluster. I've pushed #13464 to update this.

[2020-10-09 12:55] phlax commented on #13431
im thinking there are 2 advantages to having a single tree

- internal linking (and related CI)
- versioning - we get versioned dev docs out of the box, and the relevant dev docs are together with the user docs

[2020-10-09 13:13] Brunomachadob opened #13465 "What is host_selection_retry_max_attempts on retry_policy?"
**Description:**
I have been studying the docs here to enable retries for some routes I have, but I'm still trying to understand how all these concepts works as a whole.

Not sure if this is lack of knowledge on this matter, missing documentation or not-so-clear documentation.

When it comes to `host_selection_retry_max_attempts` and `envoy.retry_host_predicates.previous_hosts` based on this piece

[2020-10-09 13:45] #13459 closed

[2020-10-09 14:24] mk46 commented on #13391
Hi @mattklein123, I able to run `bazel test //test/extensions/transport_sockets/tls/integration:ssl_integration_test --config=clang-asan -c dbg --run_under=@envoy//bazel/test:verify_tap_test.sh --runs_per_test=100`  by exporting CC=clang and CXX=clang++.
If the issue is only with the test then I would like to open a PR for that.

[2020-10-09 14:39] wrowe commented on #129
For those following this activity moving forwards, watch

  https://github.com/envoyproxy/envoy/milestone/16 Windows Beta milestone.

[2020-10-09 14:52] snowp commented on #13465
`host_selection_retry_max_attempts` is maximum number of attempts Envoy will redo load balancing until it finds a host that satisfies the predicate. The retry_host_predicates don't integrate with the load balancers directly, so there is no logic to iterate over all the hosts. Instead, we reject the load balancing selection up to `host_selection_retry_max_attempts` times if the selected host doesn'

[2020-10-09 14:54] xudesheng opened #13466 "How to add cookie to response if a cookie is missed in request?"
*Title*: *How to add cookie to response if a cookie is missed in request?*

*Description*:

I try to follow examples in [Envoy Header-To-Metadata Filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/header_to_metadata_filter) and here is my envoy.yaml
[code]
but envoy complains: **Protobuf message (type envoy.config.bootstrap.v3.Bootstrap reason INVALID_ARGUMENT:(req

[2020-10-09 14:55] snowp commented on #13461
There is also https://www.getenvoy.io/ that Tetrate maintains (cc @lizan), which provides packages for a lot of different systems.

[2020-10-09 15:02] plallin commented on #12970
@pc-rshetty what is the intent of `string.find(s, "mycookie=" )` in your filter?

I've re-written your filter as per the last API for `EnvoyFilter` as documented in [the latest version of the documentation](https://istio.io/latest/docs/reference/config/networking/envoy-filter/), and without the  `myCookie=` logical check:

[code]

[2020-10-09 15:11] mattklein123 commented on #13391
I don't think just turning it back on is going to fix whatever the problem is. The issue is:
1) When run simultaneously some of the tests are not actually working (tcpdump fails with permission denied). So first we need to figure out what the test is not failing.
2) In CI this is causing some type of hang.

[2020-10-09 15:12] tkgregory opened #13467 "front-proxy example emits configuration warning on startup"
*Description*:
Several helpful examples are provided in the `examples` directory of this project. When running the `examples/front-envoy` example I am observing warnings in the log to do with *Configuration does not parse cleanly as v3.*.

It would be very helpful for this example to use the most up-to-date config so that new users (such as myself) can create a usable deployment without warnings.

[2020-10-09 15:12] mattklein123 commented on #3077
OK let's close this and open individual tracking issues for doc bugs which are easier to resource. Thank you!

[2020-10-09 15:12] #3077 closed

[2020-10-09 15:15] phlax commented on #13467
@tkgregory thanks for raising this, i can look into it unless you pr first

/assign phlax

[2020-10-09 15:17] mattklein123 commented on #13448
Sure SGTM!

[2020-10-09 15:34] mattklein123 commented on #13431
I agree on a single tree. I think the main issue is whether we can someone have a separate landing page.

For example, could we have the dev docs be hidden from the main TOC, link to them directly, and then the rest of it would show up fine?

[2020-10-09 15:36] phlax commented on #13431
ah, i see. i guess we would need to think how it *should* be in terms of navigation here https://www.envoyproxy.io/docs

[2020-10-09 15:37] mattklein123 commented on #13461
Yeah for now I would just link out to getenvoy for any binaries that people want beyond the docker images.

[2020-10-09 15:38] phlax commented on #13461
cool, ill put a page together with some links etc

[2020-10-09 16:22] tkgregory commented on #13467
Thanks @phlax that would be really handy. I'd happily help out, but I couldn't figure it out myself!

[2020-10-09 16:50] mattklein123 commented on #8924
cc @davinci26

[2020-10-09 17:17] #13440 closed

[2020-10-09 18:27] qiwzhang commented on #13456
It is not clear to me.  Could you clarify what need to be done in order to "verify encapsulated JWT payload"?  JWT payload is a opaque data for jwt_auth filter.

[2020-10-09 19:12] kyessenov commented on #10734
v8 runs max(8, num_cpu -1) compilation jobs, so it's not trivial to attribute resources to modules.

[2020-10-09 19:59] yanavlasov commented on #13147
Not yet. We just cut a release out and now we can figure out if there resources to do this work.

[2020-10-09 20:02] yanavlasov commented on #13290
This is something that may need to be implemented in the thrift extension if it does not exist already. Adding @zuercher @rgs1  as owners.

[2020-10-09 20:04] rgs1 commented on #13290
cc: @fishcakez

[2020-10-09 20:27] akonradi commented on #13110
It doesn't seem like it's going to be possible to scale the `"envoy.overload_actions.stop_accepting_connections"` action since there's no way to ignore an incoming connection without first `accept()`-ing it. I'm working on adding an additional action that will do just that.

[2020-10-09 20:42] akonradi commented on #13110
There's also not a great way to make `"envoy.overload_actions.shrink_heap"` compatible with scaled triggers

[2020-10-09 20:46] akonradi commented on #11427
I was thinking
- HTTP connection idle timeout
- HTTP stream idle timeout
- HTTP header processing timeout (#13341)

I know Antonio has also mentioned an additional timer for (and I'm badly paraphrasing) the TLS handshake, but I don't know that we'd want to scale that during overload.

[2020-10-09 21:29] WesleyBatista opened #13476 "Statements from `psql` don't get parsed by the network filter postgres_proxy"
*Title*: *Statements from `psql` don't get parsed by the network filter postgres_proxy*

*Description*:

With a very basic setup I got psql connections to postgres being proxied by envoy, and that could be confirmed by checking the **/stats** page where `postgres.postgres.sessions` and `postgres.postgres.sessions_encrypted` were getting increased. But unfortunately I noticed that `INSERT` and `SEL

[2020-10-09 22:09] cetanu commented on #96
If anyone can point me to an example where they've actually used certbot in conjunction with Envoy, I can probably try to write up a basic document explaining how this could be implemented... and then leave the cpp experts to do the impl.

Personally I'm interested in doing this on my control plane, and having it just hand the certs to envoy, but I just don't grok ACME+Envoy enough yet.
Presumably

[2020-10-09 23:06] dio commented on #13457
Sorry, do you mean you have this information available on headers but it is not there when you tried to access it?

FWIW, I think the information is available here: https://github.com/envoyproxy/envoy/blob/319a9a647f19036d831a75f68350c90e98bfc365/include/envoy/stream_info/stream_info.h#L474-L479 However, yes currently we have the [StreamInfo](https://github.com/envoyproxy/envoy/blob/319a9a647f1903

[2020-10-10 04:55] Shikugawa commented on #13456
@qiwzhang What I said is only to set payload which is encapsulated by specified claim. Specifically, in current jwt_authn implementation, when we passed below JWT to it,

[code]

The JWT payload to set by [this](https://github.com/envoyproxy/envoy/blob/a0d952048c536c2da29be79df480a046ccf2be89/source/extensions/filters/http/jwt_authn/filter.cc#L79) will be same of above. But We'd like to do is to s

[2020-10-10 06:59] silencehe09 opened #13484 "Support to config tracing custom tags based on response headers?"
Looking forward to your help. @htuch @objectiser

*Title*: *Support to  config tracing custom tags based on response headers?*

*Description*:

- Background:  Our team are trying out Istio1.7 using Envoy as data plane, and we meet some trouble with tracing based on Envoy proxy. In some cases , we need to collect tracing data from response headers in Envoy. For  example, the application generates a

[2020-10-10 07:04] nic-chen commented on #13457
I reconfirmed that the custom headers are available by `handle:headers()`, sorry about that.

It seems that only `protocol`, `dynamicMetadata` and `downstreamSslConnection` are exposed.
Would We export `downstreamRemoteAddress` to Lua filter ?  😃

[2020-10-10 07:36] phlax commented on #13431
reading your question more carefully - no - i dont think we can hide parts of the tree. I may  be wrong about that, but a quick search doesnt seem to suggest so

[2020-10-10 08:44] phlax commented on #13461
checking here https://www.getenvoy.io/, it seems the following are supported:
- debian
- ubuntu
- centos
- rhel
- macos
- docker

[2020-10-10 09:20] dio commented on #13457
@nic-chen sure. I think this is a good exercise for a new contributor. Do you want to try? I can try to help with providing guidance and review. Here is a complete (well missing docs) patch to expose downstream local address: https://github.com/envoyproxy/envoy/compare/master...dio:lua-streaminfo-addresss?expand=1.

[2020-10-10 11:07] krubot opened #13488 "Oauth proxy extensisons fails on boot with INVALID_ARGUMENT errors"
*Title*: *Oauth proxy extensions fails on boot*

*Description*:

Current attempted config for envoy version 1.16 using the oauth extension type looks to be failing with INVALID_ARGUMENT as a critical error. My attempt to build envoy here was by following the docs as laid out here:

https://www.envoyproxy.io/docs/envoy/v1.16.0/configuration/http/http_filters/oauth2_filter.html?highlight=oauth

*Rep

[2020-10-10 13:12] zjd87 opened #13489 "bazel build error in centos7"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

[optional *Relevant Links*:]

WARNING: Download from https://github.com/grpc/grpc/archive/d8f4928fa779f6005a7fe55a176bdb373b0

[2020-10-10 13:20] nic-chen commented on #13457
Wow, so nice you are!

I have always used JAVA, PHP, GO, Lua, JavaScript to work, and have never used C++.

But I would like to try it out and learn, hoping to contribute more in the future.

[2020-10-10 13:28] dio commented on #13489
@zjd87 could you download https://github.com/grpc/grpc/archive/d8f4928fa779f6005a7fe55a176bdb373b0f910f.tar.gz to your build machine?

[2020-10-10 13:36] zjd87 commented on #13489
can download,  but  part of download is break, rate of download is slow

[2020-10-10 15:34] nic-chen commented on #13457
Do you mind if I push directly to your repo? Or should I submit the code on my repo? Then create a pr.
Thanks !

[2020-10-10 16:33] #13446 closed

[2020-10-10 19:12] ankane opened #13491 "brew install envoy"
Hi, thanks for this great project! Just wanted to let you know that Envoy is now available on Homebrew, so Mac users can install it with:

[code]

Thanks to @rebello95 and others involved in the `-Wrange-loop-analysis` work for making this possible.

Ref: https://github.com/Homebrew/homebrew-core/pull/61858

[2020-10-10 20:29] lodejard opened #13492 "Windows build didn't copy exe to host"
*Title*: Windows build didn't copy exe to host

*Description*:

*Repro steps*:

[code]
*Workaround steps*:

*Admin and Stats Output*:

*Config*:

*Logs*:

*Call Stack*:

[2020-10-10 22:52] phlax commented on #13491
thanks @ankane (ref #13461)

[2020-10-10 23:52] dio commented on #13457
@nic-chen I think I prefer for you to work on your own repo. Please note that the patch that I have exposes downstream local address, which probably not what you want. You can of course expose more, since the pattern will be the same (the remote ones: `downstreamRemoteAddress()`, `downstreamDirectRemoteAddress()`, etc).

Have you successfully built envoy on your local? Please let me know if you ha

[2020-10-11 01:13] nic-chen commented on #13457
@dio
OK. Thanks so much.

I will try to build and make some test.

It may take some time. There should be issues in this process that need your help, if so, I will ping you here. : )

[2020-10-11 14:42] phlax opened #13497 "Default configs in Docker images dont work very well out of the box"
## description

The default Envoy docker image comes with an example configuration that:

- listens on `127.0.0.1:9901` with an admin interface
- proxies `http` `0.0.0.0:10000` to `https` www.google.com

Running this with

[code]

...and browsing to http://localhost:PORT neither works very well.

The admin doesnt work at all out-of-the-box because its listening to `127.0.0.1`

The google proxy cre

[2020-10-11 15:06] zyfjeff commented on #13489
@zjd87 Build Envoy through Bazel in China failed due to the network speed. We need a VPN to accelerate.

[2020-10-11 17:06] mattklein123 commented on #13491
Awesome work! Thank you!

[2020-10-11 17:06] #13491 closed

[2020-10-11 17:11] mattklein123 commented on #13431
What about the hidden toc tree approach here? https://github.com/envoyproxy/envoy/blob/master/docs/root/intro/intro.rst#L14-L20.

(I think also that could be replaced with your redirect system, but am wondering if we could use that to have a well known path into the tree which doesn't show up in the main index)

[2020-10-11 17:11] mattklein123 commented on #13458
cc @qiwzhang

[2020-10-11 17:13] mattklein123 commented on #96
I think most (all?) Envoy ingress controllers implement this, so I would look at Amabassador/Contour/Gloo/etc.

The TLS cert providers are actually pluggable at this point, so I think we can theoretically build an ACME cert provider and have it all be built-in. I would love to see this happen, but the reason it hasn't happened yet is that everyone just does it with a sidecar and it's not a burning

[2020-10-11 17:14] phlax commented on #13431
i think i follow - 2 roots both  with all pages, but a different set of hidden tocs - might work - i can do some testing to try and figure it out

there is a fundamental conceptual problem in my head - the links wont work out-of-the-box - ie internal links will be on the same url/path - but in reality not

[2020-10-11 17:53] phlax commented on #13408
/assign phlax

[2020-10-11 18:37] phlax commented on #13431
reading the tocs docs more (https://www.sphinx-doc.org/en/1.5/markup/toctree.html) im thinking it would make those pages accessible - ie you could browse to the other pages, even tho they were not included in any tocs

not sure whether redirects would override an existing page, but i can check

(also checked `exclude_paths` but afaict that wont work)

[2020-10-11 19:39] micheas commented on #96
Ambassador relies on certmanager to deal with the certificate management
and takes a reload cue from certmanager.

Probably the path you want to take here.

It insulates envoy from a potentially hostile input from the certificate
renewal process.

On Sun, Oct 11, 2020, 10:14 AM Matt Klein <notifications@github.com> wrote:

[2020-10-11 22:20] dio commented on #13488
These fields below are part of [`config`](https://github.com/envoyproxy/envoy/blob/5760b8a709e98c08fcd209ef7e3e84699b4b6ba7/api/envoy/extensions/filters/http/oauth2/v3alpha/oauth.proto#L48). Seems like you need to fix the indentations?

[code]

[2020-10-11 22:26] dio commented on #13467
@tkgregory I think you can replace the v2 `envoy.config.filter.network.http_connection_manager.v2.HttpConnectionManager` with v3 `type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager`.

[code]

[2020-10-12 00:59] dsymonds opened #13500 "Export Envoy version as string"
*Title*: Export Envoy version as string

*Description*:
The `/stats` handler exports `server.version` (and `/stats/prometheus` likewise `envoy_server_version`), but it's a bare number (e.g. `9417675`), with no structure and is not human readable. In contrast, /server_info has a nicely structured `user_agent_build_version` block, but that isn't easily able to be scraped with Prometheus. The plain n

[2020-10-12 02:40] zjd87 commented on #13489
ok, thanks

[2020-10-12 03:00] dio commented on #13500
@dsymonds what do you think of overriding that value on your own (make sure it is integer)? e.g. set it as 1160 via [stats_server_version_override](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/bootstrap/v3/bootstrap.proto#envoy-v3-api-field-config-bootstrap-v3-bootstrap-stats-server-version-override)

[2020-10-12 03:02] dsymonds commented on #13500
That's perhaps a partial solution, but it relies on active config changes rather than the binary identity merely being exposed. It'd be too easy to accidentally have the config set `server.version` to the wrong value, especially as configs otherwise generally work across Envoy versions.

[2020-10-12 03:07] qiwzhang commented on #13456
I see.  Your feature request is to only write subset of payload to filter Dynamic metadata. Now jwt_authn is writing the whole jwt payload,  I see that it is more flexible, the downstream filters can choose any fields they want to consume.  What is the motivation to write subset?  trying to save memory?  JWT payload is not that big,  I really don't think you will save much on memory usage.

[2020-10-12 03:24] dio commented on #13500
@dsymonds yeah, that's true. However, it depends on how you prepare the "bootstrap" config though. I think it is common to introduce a script to prepare the (bootstrap) config, hence we can introduce a function to avoid accidental setting `stats_server_version_override` with a wrong value.

We can extract the version from the envoy binary, something like:

[code]

(sorry my bash skill is bad).

[2020-10-12 03:28] dsymonds commented on #13500
I understand, though we don't operate that way. We already generate quite a large bootstrap config and bake it into Docker images. I guess we could try rigging up something to extract the version and mutate the config YAML file at container startup time, but that gets pretty messy.

(FWIW, `echo $(envoy --version | cut -d/ -f2)` is a lot shorter)

[2020-10-12 03:33] Agent-Tao commented on #13046
fine，thanks, I would do this later

[2020-10-12 03:40] dio commented on #5141
@htuch now that we have v3 do you think it makes sense to introduce `raw` version of `HTTPRequestProperties`? Or do you still think that we need to do the second one?

[2020-10-12 03:49] qiwzhang commented on #13458
@mattklein123 you can assign this to me.

[2020-10-12 03:57] dio commented on #10595
@htuch @snowp @ggreenway should we go with Greg's idea? Seems plausible, yet possibly it will introduce a large patch.

(sorry for joining late).

[2020-10-12 05:47] Shikugawa commented on #13456
@qiwzhang The motivation of this feature is to support RCToken exchange on jwt_authn. If we don't have this feature, we should write this exchange filter as extension but it is pretty redundant. I think that this feature should be integrated with jwt_authn filter.

[2020-10-12 06:26] qiwzhang commented on #13456
I don't think jwt_authn should do RCToken Exchange.  It should be done in a separate filter.

[2020-10-12 06:53] zjd87 opened #13502 "Could envoy support specific work pthread auto bind cpu, if i start --concurrency 1"
be similar to NGINX  worker_processes 1;  worker_cpu_affinity auto;

[2020-10-12 07:19] Shikugawa commented on #13456
@qiwzhang RCToken exchange is only example. The requirement of this feature is not only for them so it might be upstreamed. (Sorry, I'm not sure a specific situation...) Would you mind to tell me your philosophy about this?

[2020-10-12 09:33] phlax commented on #13467
thanks @dio - ill create a pr  with your suggested fix...

[2020-10-12 09:51] phlax commented on #13467
one thing that confuses me about this ticket, is why the examples config validation is not detecting this

[2020-10-12 10:38] dio commented on #13467
@phlax while emitting warning messages, we transparently "upgrade" v2 to v3 messages. Relevant: https://github.com/envoyproxy/envoy/pull/13238.

I think in the future, we can put an effort to detect the newly added config to skip v2 messages.

[2020-10-12 10:55] Brunomachadob commented on #13465
Sorry but this was still a bit confusing for me.

I don't really want to iterate over all the hosts of the cluster, as you can see I only have one.

Am I safe to use only the `host_selection_retry_max_attempts: X` and this would make the request be routed to different IPs of my LB each time up to X times?

[2020-10-12 11:51] phlax opened #13504 "Sanboxes emit warning: "Unable to use runtime singleton for feature envoy.http.headermap.lazy_map_min_size""
### description

Most (if not all) of the sandbox examples emit the following warning:

[code]

[2020-10-12 12:43] talnordan opened #13505 "Make `DynamicForwardProxy::DnsCache` support retrieving `DnsHostInfo` of a given host name from map"
*Title*: *Make `DynamicForwardProxy::DnsCache` support retrieving `DnsHostInfo` of a given host name from map*

*Description*:

I am thinking of extending the `Extensions::Common::DynamicForwardProxy::DnsCache` interface so that the `DnsHostInfo` of a given host name can be retrieved from the cache.

The filter I've been working on needs to perform DNS lookups and maintain the resolved info in a c

[2020-10-12 13:37] snowp commented on #13465
Since you're using STRICT_DNS the host you listed will get expanded into all the resolved IPs, each of which becomes a "host" as far as the load balancer is concerned.

The `host_selection_retry_max_attempts` only deals with how many times load balancing is reattempted during a single retry attempt, not about how many times a request will be retried (which is done via the retry_policy parameter on

[2020-10-12 13:46] Brunomachadob commented on #13465
I see, so this is really about the "hosts" that were expanded by the resolved IPs from the DNS.

I was worried about being about the cluster host, i.e. `socket_address `.

And am I right the assume `envoy.retry_host_predicates.previous_hosts` is about this same host, so I can use them in conjunction as stated in the docs, right?

[2020-10-12 14:01] snowp commented on #13465
Yeah the host predicates deal with the same host. I think the current model is to think of the resolved hosts as "hosts" and as the declared addresses as "endpoints". AFAIK the `hosts` field on the cluster is deprecated in favor of `load_assignment`, which follows this naming convention

[2020-10-12 14:08] Brunomachadob commented on #13465
Hm, nice.
I'll close this one now then...

Thanks for the help and quick responses.

[2020-10-12 14:08] #13465 closed

[2020-10-12 14:22] tkgregory commented on #13467
Thank you. I can confirm that the suggestion from @dio has solved the problem for me.

[2020-10-12 14:34] mattklein123 commented on #13467
cc @htuch on ^. I thought that for config checking we fail on all warnings? Maybe that type doesn't count? It's probably worth understanding why though.

[2020-10-12 14:40] mattklein123 commented on #13504
cc @adisuissa it would be good to fix this somehow as users find these type of warnings confusing (unfortunately it might not be so easy to fix).

[2020-10-12 14:48] #13467 closed

[2020-10-12 14:49] mattklein123 commented on #13500
Don't we have a string stat type now? Can we add server version as a string stat type and then also fix Prometheus to output that type if not done already (IIRC that was not implemented but should be simple). cc @jmarantz

[2020-10-12 14:50] mattklein123 commented on #13431
^ Yup exactly. I think this would work out well. The only downside I can see is how long the docs take to test build, but that's a different issue you are tracking, and it should get a lot better once v2 is gone and we can cleanup a bunch of debt there. cc @htuch

[2020-10-12 14:51] mattklein123 commented on #13505
This sounds reasonable to me!

[2020-10-12 15:09] phlax opened #13506 "Generated docs are no longer published in (circle) CI"
### description

since we moved to azure for docs generation in #13481 we lost the ability to click through to get the generated doc artefacts

i use this quite a lot and was in the process of adding a repokitteh command to make it easier to get the link to the artefact (#13326)

it would be great if we can publish the docs artefacts on azure too

[2020-10-12 15:11] mattklein123 commented on #13506
Hmm yeah. It seems bad to lose this. @lizan or @phlax can we figure out how to bring this back somehow?

[2020-10-12 15:33] jmarantz commented on #13500
Yes, there's a TextReadout stat type, which accepts arbitrary strings.

[2020-10-12 15:47] moderation commented on #13504
I raised these warnings with @adisuissa on Slack in early October. He has confirmed he can reproduce and I believe understands what is causing the issue.

These warnings are not sandbox specific and I have them on my Linux x86_64 + aarch64 boxes and MacOS

[2020-10-12 16:15] moderation commented on #13500
Project Contour which is an Envoy based ingress controller for Kubernetes added this functionality a while back. The followed the example of Prometheus is terms of exposing the version - https://github.com/projectcontour/contour/issues/2378#issuecomment-602956666

[2020-10-12 16:52] abaptiste commented on #13321
Is the goal to minimize the number of resolvers being created throughout envoy?

[2020-10-12 16:55] abaptiste commented on #12355
/assign abaptiste

[2020-10-12 16:58] eltalkarim opened #13510 "Original Src Filter Causes "upstream connect error or disconnect/reset before headers. reset reason: local reset""
*Title*:
Adding Original Src Filter Causes "upstream connect error or disconnect/reset before headers. reset reason: local reset"

*Description*:
Once I added this to the listener at port 80 no connection could be made on that port.

[code]

*Admin and Stats Output*:

listeners:
[code]

Server info:
[code]

*Config*:

[code]
Based on this https://www.envoyproxy.io/docs/envoy/latest/configuration/l

[2020-10-12 17:03] qiwzhang commented on #13456
Sorry,  I may not have understand the issue correctly.   Maybe if we dig into the detail, it will be more clear.  Could you propose how  you will implement it?

[2020-10-12 17:24] lizan commented on #13506
We do have this and the link is in logs: https://dev.azure.com/cncf/envoy/_build/results?buildId=53840&view=logs&jobId=7e620c85-24a8-5ffa-8b1f-642bc9b1fc36&j=7e620c85-24a8-5ffa-8b1f-642bc9b1fc36&t=fb9b4be7-62d0-57cf-b629-fd6407055b34

[2020-10-12 17:25] phlax commented on #13506
it seems we also have per pr publishing, eg

http://storage.googleapis.com/envoy-pr/13490/docs/start/start.html

ill close this as i can continue with what i was doing `8)`

[2020-10-12 17:25] #13506 closed

[2020-10-12 17:26] mattklein123 commented on #13506
Oh nice. Can we update the docs and/or make this more obvious?

Maybe for docs can we have a CI step which is "Publish draft docs URL" and then just print the URL?

[2020-10-12 17:28] phlax commented on #13506
yep, and perhaps repokitteh can also help here

[2020-10-12 17:34] lizan commented on #13506
@phlax yeah I think use rk to publish them as detail url makes sense. (same for coverage report)

[2020-10-12 17:34] mattklein123 commented on #13321
The goal is to make sure we check all of the config options on the main thread / during config load and prior to data plane operation. Per above though I think this is not the right solution so I'm going to close this issue. @junr03 can you please make sure to track the config check fix in some other issue?

[2020-10-12 17:34] #13321 closed

[2020-10-12 17:41] junr03 opened #13512 "DNS config: validate mutually exclusive options when loading dns config."
#13074 added a config option that is mutually exclusive with the existing (resolvers, using tcp for resolution) dns config options. Currently using these options together results in a release assert being triggered.

This issue tracks adding a centralized config validation function that always runs on the main thread. This way the validation can safely throw an exception. When this validation is a

[2020-10-12 17:42] junr03 commented on #13321
Yes, @abaptiste per our conversation in slack that would be the goal with the threading setup I proposed above. However, per @mattklein123 the investment is not worth the complexity.

re: the primary goal of DNS config validation, it can now be tracked here: https://github.com/envoyproxy/envoy/issues/13512

[2020-10-12 17:49] nitgoy opened #13513 "Connection limiting based on destination cluster or remote address"
*Title*: *Is there a way to limit the connections based on incoming IP or the request's SNI?*

*Description*:

Is there a way to get the dynamically substituted descriptors for the network level rate limiter? Or is there a way to achieve the above with the network local rate limiter? From what I understand, the SNI info should be available after the downstream TLS inspection filter. I'm looking fo

[2020-10-12 18:04] akonradi opened #13514 "stop_accepting_connections overload action causes crash"
When the stop_accepting_connections changes from active to inactive or vice-versa around the same time as an LDS update, it can result in a segmentation fault due to trying to dereference a null pointer. Thanks to @ChristosKa for reporting this first to envoy-security@. Since the issue can be easily mitigated (by removing the entry for the stop_accepting_connections action from the overload manage

[2020-10-12 18:28] nitgoy opened #13517 "Is local rate limiting per worker thread or per envoy instance?"
*Title*: *Is local rate limiting per worker thread or per envoy instance?*

*Description*:

Is my understanding correct? If that's the case, does that mean we need to divide the local rate limits in envoy config by the max number of configured worker threads? That sounds really weird as the worker threads may not be fully balanced.
Or may be I'm missing something and the token bucket is indeed sha

[2020-10-12 18:44] ggreenway commented on #13431
I strongly agree that moving the docs to a single location is a good change. I've thought about doing this before, but never carved out time to do it.

[2020-10-12 19:25] mattklein123 commented on #13517
Yes it is shared across all workers. Appreciate any doc updates to better reflect this. cc @rgs1

[2020-10-12 19:44] htuch commented on #13431
I agree that we should move to the main docs. I don't think eliminating v2 will make things much faster, maybe 30% would be my guess, the real bottleneck (as I think I mentioned in our other thread on this) is Sphinx itself and the single-threaded docs build (GIL), we should try and figure out how to get it to work in its multiprocessing mode.

[2020-10-12 20:02] nitgoy commented on #13517
Thanks a lot for the confirmation. Would appreciate any pointers to documentation/code related to the shared filter instances across worker threads. It'll be useful for a bandwidth limit filter that I'm planning to add.

[2020-10-12 20:02] #13517 closed

[2020-10-12 20:22] alyssawilk commented on #13369
Hm, looking at the interface, it does say you can addDrained without draining, which I don't think has ever been true.  I'll send out a PR.

[2020-10-12 22:00] bobo333 commented on #3642
we are running into this same issue, it appears both [api v2](https://www.envoyproxy.io/docs/envoy/v1.16.0/api-v2/api/v2/cluster.proto) and [api v3](https://www.envoyproxy.io/docs/envoy/v1.16.0/api-v3/config/cluster/v3/cluster.proto) accept multiple health checks, but [envoy itself](https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/cluster_factory_impl.cc#L117) does not suppor

[2020-10-12 22:17] rgs1 commented on #13517
Something like #13525 -- I should probably add a note for the L4 local rate limiter as well.

[2020-10-12 22:53] #13246 closed

[2020-10-12 23:18] antoniovicente commented on #13412
A 10% linear decrease in performance over a quarter due to slow degradation seems alarming.

Also, are there some known regressions that correspond to some of the large drops seen in the graphs above?  I'm most curious about the big drop around the 3rd week of June that we seem to have partially recovered from by July 1st.

[2020-10-12 23:45] yanavlasov opened #13527 "[MacOS]: flaky tests in the Http2MetadataIntegrationTest"
A few metadata related tests are flaky on MacOS. The failure [is the same](https://dev.azure.com/cncf/envoy/_build/results?buildId=53868&view=logs&j=a5e52b91-c83f-5429-4a68-c246fc63a4f7&t=5852bf5a-5a02-52f3-bee8-4fdc90cda9d0&l=5832) for all tests and occurs [here](https://github.com/envoyproxy/envoy/blob/162726aac4d8615a2a3ca324ec226c98def0cb3f/source/common/router/upstream_request.cc#L444).

Stac

[2020-10-12 23:48] htuch commented on #11427
OK, so two of them are new and can be done with a dedicated type, the other two wouldn't be so bad to deprecate/migrate, but I'm OK with 3a.

[2020-10-12 23:53] htuch commented on #13502
Can you please elaborate on this by explaining what Nginx does or linking to the exact part of the documentation? Thanks.

[2020-10-13 00:04] htuch commented on #13513
At L7 I think the router can do this. For L4 I don't think that works out of the  box, but I could be wrong. @junr03 any thoughts on this?

[2020-10-13 00:07] antoniovicente commented on #11427
We want a timeout that covers from the accept of a new SSL connetion until SSL handshake complete.  Yes, we should scale that timeout during overload.

[2020-10-13 00:08] htuch commented on #13510
@eltalkarim can you reach the destination IP from your client without going through Envoy? @snowp is CODEOWNER and might have other ideas.

[2020-10-13 00:45] htuch commented on #5141
I don't feel that strongly either way, as long as we don't break API compatibility.

[2020-10-13 01:22] #13448 closed

[2020-10-13 02:08] antoniovicente commented on #13514
Seems like this crash was introduced by https://github.com/envoyproxy/envoy/pull/10443, worth some backports?

[2020-10-13 02:57] zjd87 commented on #13502
I mean that each work thread  can bind each cpu core, in case of multi work thread  compete  for the same cpu core

[2020-10-13 03:36] nic-chen commented on #13457
@dio

I works on macOS, so took some time to build..

I think i could submit a pr today or tomorrow.

[2020-10-13 04:16] magederek commented on #12252
This problem can easily reappear, please take a look at it, thanks
@zuercher

[2020-10-13 04:18] Shikugawa commented on #13456
@qiwzhang We are considering to re-implement Istio AuthN filter to reduce tech debt and replace simpler api. I wrote the design doc of this. I will invite you here. Feel free to ping me on slack or here.

[2020-10-13 04:43] nitgoy commented on #13517
Just noticed that a previous note in [docs/root/configuration/listeners/network_filters/local_rate_limit_filter.rst](https://github.com/rgs1/envoy/blob/master/docs/root/configuration/listeners/network_filters/local_rate_limit_filter.rst) says:
"In the current implementation each filter and filter chain has an independent rate limit."

It seems to conflict with this new note.

[2020-10-13 05:15] rgs1 commented on #13517
It's true that each filter chain has its own rate limiter, but it's not true that each filter has its own rate limiter given that there's one rate limiter per config:

https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/network/local_ratelimit/local_ratelimit.h#L48

and one config per filter chain which is shared across filters:

https://github.com/envoyproxy/envoy/blob/maste

[2020-10-13 05:19] rgs1 commented on #13517
@nitgoy #13528 should clean it up. Thanks!

[2020-10-13 07:37] mrbenosborne commented on #13403
@mattklein123 Any update on this?

[2020-10-13 07:46] guoruijing commented on #13391
In my environment, I can reproduce by "bazel test //test/extensions/transport_sockets/tls/integration:ssl_integration_test  -c dbg --run_under=@envoy//bazel/test:verify_tap_test.sh --runs_per_test=100"
log:
home/vagrant/.cache/bazel/_bazel_vagrant/88cfddf393e8f5f9280fd7d9698b8e08/sandbox/linux-sandbox/2424/execroot/envoy/bazel-out/k8-dbg/bin/test/extensions/transport_sockets/tls/integration/ssl_in

[2020-10-13 08:04] phlax opened #13531 "Clarify typed_config extensions in docs"
### description

there are a number of issues with the docs that make initial configuration of Envoy somewhat difficult to understand

- its not immediately clear to new users the migration from `config` -> `typed_config`
- there doesnt seem to be an authoritative list of well-known extensions/docs
- its not easy to figure out which keys/configs need to change migrating v2 -> v3 typed_configs

som

[2020-10-13 08:29] phlax opened #13532 "Add a glossary to docs"
### description

The Envoy docs (and community discussions) use a lot of terminology that is not always clear/precise to new users

Some phrases are Envoy-specific, others are common in related communities (eg serverless, service mesh, etc). Many use acronyms

It would be good to have a glossary so key terms used in the Envoy docs can be set out clearly

Terms that immediately spring to mind

- `t

[2020-10-13 09:28] phlax opened #13535 "Restore per-commit-head publishing of docs in CI"
### description

We lost per-commit head publishing of docs moving from circleci -> azure (#13481 )

With the new setup docs are published to eg http://storage.googleapis.com/envoy-pr/PR_ISSUE_NUMBER/docs/index.html

In circleci the docs were published as artifacts, which changed with each push to the PR

This is a feature i use a lot, it allows comparison of rendered changes as the PR progresses.

[2020-10-13 10:51] rojkov commented on #8448
I configured Envoy and Nginx to use similar settings for zlib: compression level 1, default strategy, one thread, memory level 8 and the same sliding window size (`window_bits 15`). `chunk_size` is 4096 as Nginx uses buffers of the size of one memory page too.

The test results for downloading a 157K JSON file with
[code]

### Envoy
[code]

### Nginx
[code]

Nginx is about 30% faster overall with

[2020-10-13 13:05] alandiegosantos commented on #12138
A similar behaviour happened with some of our nodes. The node I investigated received 280 clusters and removed 1, as shown in this log:
[code]
And, as you can see, the last CDS update time is approximately to that time:
[code]
After that, the pending EDS responses were processed and Envoy got stuck. This issue started since we started to using the GRPC to communicate with our Controlplane. We used

[2020-10-13 13:21] #12673 closed

[2020-10-13 13:35] ramaraochavali commented on #12138
@htuch @mattklein123 can we please reopen this? This is still an issue

[2020-10-13 14:28] alyssawilk opened #13537 "ordering between codec client callbacks StreamDecoderWrapper is confusing"
For HTTP/1.1 if using codec client callbacks in the connection pool

CodecClient::ActiveRequest::onPreDecodeComplete() calls
responseDecodeComplete calls deleteRequest calls
codec_client_callbacks_->onStreamDestroy

which currently means the HTTP/1.1 connection pools always gets the codec client callbacks onStreamDestroy called before  StreamDecoderWrapper's onPreDecodeComplete and onDecodeComplet

[2020-10-13 14:29] dio commented on #7986
@hisener I removed the "stale" label at #10396 and put a help wanted label. I'll probably have time later this week, but just in case someone wants to do it before me.

[2020-10-13 14:40] fabriziomello commented on #10942
Not sure if still working but the POC code is here: https://github.com/cpakulski/envoy/tree/issue/10942

[2020-10-13 14:54] mattklein123 commented on #13532
+1 this would be great.

[2020-10-13 14:58] #13514 closed

[2020-10-13 14:58] wrowe opened #13539 "Deprecate moonjit forked component of envoy in favor of luajit"
A very important development has occurred to the moonjit fork;
https://github.com/moonjit/moonjit/blob/master/README.md

As stated in this thread;
https://twitter.com/siddhesh_p/status/1308594269502885889?s=20 @ siddhesh_p Sep 22
"It ought to generally be easy to revert to the upstream tree since they're both [moonjit and luajit] (AFAIK) on the 2.1.x branch. I'll be happy to help with the transiti

[2020-10-13 15:00] sptrakesh opened #13540 "Question: Configuration of basic TCP listener"
*Title*: *How to configure raw TCP filter?*

*Description*:
Trying to configure a proxy to our custom MQTT broker using filter.   I am not trying to do SSL termination at proxy at present.  Currently client certificate validation logic is built into the broker, so I am looking ideally for a straight pass-through type proxy (currently working with HA Proxy).  Trying to figure out error reported by

[2020-10-13 15:06] phlax commented on #13531
yep, i reckon track separately as there are a couple of extra parts to this

[2020-10-13 15:11] mattklein123 commented on #13539
+1, let's drop moonjit and s390. If someone cares enough about it they can work on upstream support and CI.

[2020-10-13 15:13] #13369 closed

[2020-10-13 15:16] phlax opened #13542 "Some deprecated configs dont seem to be caught in config validation"
### description

The `config_validation` part of CI checks configs in docs + examples to ensure that they are not using deprecated features

Some features seem to pass CI even tho they should be updated. The relevant configs trigger warnings when Envoy is run (in verify examples eg)

### refs
- #13503
- #13529

[2020-10-13 15:20] htuch commented on #13502
I think you are asking for CPU pinning via thread affinity. There was some discussion of this in https://github.com/envoyproxy/envoy/issues/4602. Do you have reason to suspect that there is a real issue here?

I think this might also come up in a performance measurement context, CC @oschaaf.

[2020-10-13 15:35] wrowe commented on #13539
FYI @dio

[2020-10-13 15:41] mpuncel opened #13544 "HTTP health checker does not gracefully handle HTTP2 server shutdown (GOAWAY with NO_ERROR)"
*Title*: *HTTP health checker does not gracefully handle HTTP2 server shutdown (GOAWAY with NO_ERROR)*

*Description*:
The HTTP health checker does not gracefully handle when an HTTP2 server performs the graceful drain sequence. GOAWAY is ignored (no callbacks registered) and then health checks on the old connection fail with REFUSED_STREAM until the connection is forcibly closed by the upstream,

[2020-10-13 16:02] ceastman-ibm commented on #12883
@dio @mattklein123 Is this sufficient for a design doc? https://docs.google.com/document/d/1Bgi0agddua9LyBH3NnGBuDPcYJxoZwZLnL1rBcKFgZI

[2020-10-13 16:16] mattklein123 commented on #12883
This behavior should be implemented as a filter. It's not clear to me that is what is being proposed? Is it?

[2020-10-13 16:50] plallin commented on #12970
Upon trying out the scripts (either @pc-rshetty or mine), I recommend against using them.

`response_handle:headers():replace("Set-Cookie",secure_cookie_header)` is not safe -- if you have several `set-cookies` headers it will mutate all of them which might not be what you want to do (I suppose that in most cases you will *not* want to mutate all `set-cookie` headers, only the one related to your

[2020-10-13 17:12] moderation commented on #13532
Upstream and downstream!
- A request is a salmon - https://twitter.com/benplotnick/status/1299178415996702726
- https://twitter.com/benplotnick/status/1230308689703100416
- https://twitter.com/mattklein123/status/1299139849279082496

[2020-10-13 17:22] moderation commented on #13539
SGTM. Less dependencies well maintained is :+1:

[2020-10-13 18:23] ankatare commented on #10612
@htuch is this issue still need help or ok to take for 1.17 ?

[2020-10-13 19:36] danielkwinsor commented on #11883
I would like to add that the internal client requirement should be added to documentation for all these headers.  It is present for a few headers, but no such "internal-only client" stipulation is mentioned for retry in general: https://www.envoyproxy.io/docs/envoy/v1.15.0/configuration/http/http_filters/router_filter#http-headers-consumed-from-downstreams

[2020-10-13 21:04] alyssawilk commented on #13185
Ok, refactoring done, so I'll close this off as fixed once  #13548 lands

Functionally you should be able to create your own custom upstream like the generic upstream which instead of creating TCP or HTTP, creates TCP or _Your-custom-subclass_ which inherits from HttpUpstream and overrides setRequestEncoder to do the exact same code, only swapping POST instead of CONNECT.  If you need help with th

[2020-10-13 21:24] wlhee commented on #13185
Thanks Alyssa, I will check it!

[2020-10-13 22:52] #13055 closed

[2020-10-13 23:09] austin-zhu opened #13551 "Add support of MYSQL health check"
*Title*: *Add MYSQL health check*

*Description*:
Currently, Envoy seems only support HTTP, TCP and REDIS (as an extension) type of health check when positively checking upstream endpoint's healthiness. In HAProxy, it has built-in [mysql-check](https://www.haproxy.com/documentation/hapee/1-9r1/traffic-management/health-checking/#check-a-mysql-service) to perform a simple auth test or mysql handsha

[2020-10-13 23:53] htuch commented on #10612
@ankatare I'd wait until we're done with the v2 deprecation in Q1 to take this on.

[2020-10-14 00:09] mcieplak opened #13553 "Wasm: Extract response protocol in the onResponseHeaders function"
### Description
We cannot seem to find an approach to extract the HTTP response protocol in the onResponseHeaders function. It seems there is no corresponding attribute that has this information. It also appears that the stream object itself is not accessible through the proxy wasm API which is there in the Lua API.

### Observations / Areas Explored
- In the request flow, the onRequestHeaders fun

[2020-10-14 00:27] htuch commented on #13540
`filter_chains` is not a property of the address .

[2020-10-14 00:31] htuch commented on #13553
@PiotrSikora can you help out with this one? Thanks.

[2020-10-14 00:42] kyessenov opened #13554 "bug: original_dst filter should update downstream local address"
Prior to https://github.com/envoyproxy/envoy/pull/12935, the socket address was already updated before constructing stream info. Now that stream info is created ahead of listener filters, the value for the downstream socket address changed.

[2020-10-14 02:10] moderation commented on #13431
I did a short test on my 6 core 12 thread Ubuntu 20.04 laptop. I can confirm that without modification only a single thread processes the `sphinx-build` line in `env SPHINX_SKIP_CONFIG_VALIDATION=true docs/build.sh`.

Normal run:
[code]
With `-j auto` turned on:
[code]

The script emits a warning but multiple cores are engaged and the run does look a fair bit faster. Doesn't seem like there is a d

[2020-10-14 03:19] moderation commented on #13229
I'd request that we _add_ instructions for Docker vs. _replace_ instruction on how to build docs with a local environment and without Docker. I'm on Linux and won't install Docker

[2020-10-14 04:49] ankatare commented on #12841
@htuch @mattklein123  would like to take this.

[2020-10-14 06:49] phlax commented on #13229
@moderation iiuc that is what i did - see  #13268

[2020-10-14 08:16] PiotrSikora commented on #13553
@kyessenov is the expert of all properties exposed in Wasm.

[2020-10-14 09:33] Agent-Tao commented on #13046
I can not reproduce this problem in new version.  It seems that the code has been refactored， the 'convertAliasWatchesToNameWatches'  also does not exist. so close this issue.

[2020-10-14 09:33] #13046 closed

[2020-10-14 09:37] phlax commented on #13497
also noticing that they are using v2 configs

[2020-10-14 09:50] tonybaines opened #13563 "Troubleshooting TLS client authentication"
*Title*: *Troubleshooting TLS client authentication*

*Description*:
When client TLS authentication is configured and a client connects with an untrusted cert/key (not signed by a known CA), or a trusted but unauthorised cert (not in the set of authorised digests), or with no certificate at all, the response is always the same - the connection is closed with an empty reply from Envoy.  This makes

[2020-10-14 10:26] htuch opened #13564 "bazel/crates.bzl is missing sha256 pinning"
While the Rust crates in `bazel/crates.bzl` are test only (based on `bazel query` analysis), we're missing sha256 pinning, which is a useful protection against attacks against developer environments and CI. I don't see support for this in https://github.com/google/cargo-raze.

I'll open an upstream issue.

CC @envoyproxy/dependency-shepherds @PiotrSikora @lambdai

[2020-10-14 10:47] htuch opened #13566 "Process for regenerating crates.bzl"
We now have bazel/crates.bzl but no documented process or script for regenerating. We should have some push-button method or recipe to regenerate from the various TOML.

Assigning to @lambdai for triage and/or fix.

CC @PiotrSikora @envoyproxy/dependency-shepherds

[2020-10-14 10:51] phlax commented on #13532
- front proxy
- double proxy

[2020-10-14 10:54] PiotrSikora commented on #13566
cc @Shikugawa

[2020-10-14 10:56] phlax commented on #13532
funnily i had been thinking about definitions for these, but the potentially counter-intuitive request salmon hadnt ever occurred to me.

~definitions i had been thinking of were:

- upstream: machine or network that an envoy proxy initiates connections to (in response to downstream requests)
- downstream: machine or network initiating requests to an envoy proxy

[2020-10-14 10:58] phlax commented on #13532
but now im thinking about request salmons im wondering about egress proxying too

[2020-10-14 11:00] sptrakesh commented on #13540
Thanks, I fixed that issue, and envoy now starts up without error.  However, connection to the MQTT broker fails with SSL related error.  The log from MQTT.fx is as follows:

[code]

[2020-10-14 11:35] sptrakesh commented on #13540
It does seem to be SSL related (probably needs a 2 way SSL configuration).  Another raw TCP service which I am proxying (no SSL) works without issues.

[2020-10-14 11:59] snowp commented on #13551
I think adding a MySQL health check makes perfect sense as long as it gets added as an extension and not into core. Since we don't currently have an extension point for health checks as far as I know, the first step would probably be to add that extension point.

[2020-10-14 11:59] sptrakesh opened #13570 "Alpine stable image not available?"
*Title*: *Unable to pull Alpine image*

*Description*:
Unable to pull image from https://hub.docker.com/r/envoyproxy/envoy-alpine.

[code]

[2020-10-14 12:04] mpuncel commented on #13379
Closing as duplicate ofhttps://github.com/envoyproxy/envoy/issues/13544 which explains the issue more accurately

[2020-10-14 12:04] #13379 closed

[2020-10-14 12:11] phlax commented on #13570
hi @sptrakesh you need to use the version eg
[code]

[2020-10-14 12:18] lazy-always commented on #9055
@gklingler, were you able to get this working? Any input on the same?

[2020-10-14 12:18] sptrakesh commented on #13570
Thanks.

[2020-10-14 12:18] #13570 closed

[2020-10-14 12:54] dio commented on #13551
Can we use a similar pattern as source/extensions/health_checkers/redis`, configured using the `CustomHealthCheck`?

[2020-10-14 13:00] snowp commented on #13551
Seems like we already have this extension point then :) Yeah that should make this easier

[2020-10-14 14:48] jphx opened #13574 "stack_decode.py doesn't work for stack traces from process using ASLR"
I'm running Envoy in a docker container under Kubernetes and it's crashing, producing a stack trace in the log output.  Unfortunately, I can't translate the addresses in this stack trace using [tools/stack_decode.py](https://github.com/envoyproxy/envoy/blob/master/tools/stack_decode.py) because address space layout randomization (ASLR) was in effect when Envoy was running, and when it produces the

[2020-10-14 15:00] Shikugawa commented on #13566
Previously, I've created [simple script](https://github.com/Shikugawa/envoy-wasm/blob/e2b9313d2b177903154e2ee1f1689e2c0b519021/tools/cargo-raze.sh) to generate crate.bzl. (This tool have not been merged). Can you use this?

[2020-10-14 15:28] #13445 closed

[2020-10-14 15:29] mattklein123 commented on #13532
Note that we have https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/intro/terminology. We should merge this into whatever we come up with here.

[2020-10-14 15:42] htuch commented on #13540
Have you configured a TLS context on the listener?

[2020-10-14 15:45] htuch commented on #13431
Thanks @moderation. I think the Bazel phase might be a lot longer on less powerful machines (I should stop comparing to my 72-core build machine). Let's just turn on `-j auto` if it works without error; last time I tried it complained about multiprocessing unsafe Sphinx extensions and errored out.

The Bazel-side build time should drop by 50% when we get rid of v2.

[2020-10-14 16:40] sptrakesh commented on #13540
Following the documentation at https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/ssl I configured both downstream and upstream contexts as shown below.  I still get the same error from MQTT.fx

Downstream
[code]
These are the same server certs that the MQTT broker uses.

Upstream
[code]
These are the same client certificates the MQTT clients use to communicate.

[2020-10-14 17:20] sunjayBhatia commented on #13492
/assign @sunjayBhatia

[2020-10-14 17:41] howardjohn commented on #13093
I verified this is fixed. Thanks!

[2020-10-14 17:52] kyessenov commented on #13553
Request and response protocol are usually the same, since it is negotiated in the codec for two parties to be able to understand each other. Is that not the case for you?

[2020-10-14 18:55] amukherj1 commented on #13376
The behavior seems to be the same with Envoy 1.15. I will try to put the test code (Golang) and config in a repo and share it here soon.

[2020-10-14 19:24] hq6 opened #13578 "DWO files seem to be corrupted / truncated"
*Title*: Debugger cannot read local variables or full stack

*Description*:
When trying to read a local variable or get a full backtrace in gdb, I get the following error:

[code]
I expect to see a full backtrace when I run backtrace.

Moreover, when I run `readelf` on a randomly chosen `dwo` file, I see a bunch of errors:
[code]

*Repro steps*:

[code]

I would like to produce a call stack, but t

[2020-10-14 20:31] nitgoy commented on #13513
Is there an L7 filter capable of closing the connection after determining that the request doesn't satisfy the configured connection limit?

[2020-10-14 21:15] moderation commented on #13566
I was looking through the PR trying to find out how `cargo raze` was invoked and now I know why I couldn't find it :smile:

[2020-10-14 21:17] htuch commented on #13513
L7 filters typically operate on requests rather than connections. I think there is a real need for Envoy to add a listener filter rate limiter (based on some of my anecdotal experience); this would be able to reject very early, close to TCP accept, and leverage SNI information potentially as well.

[2020-10-14 21:19] htuch commented on #13566
@Shikugawa yes, if we fix it to clean up all artifacts and add some documentation in bazel/README.md or bazel/EXTERNAL_DEPS.md. Thanks!

[2020-10-14 21:37] htuch commented on #13540
Not sure, I can't really debug MQTT. You might want to look at Envoy under `-l trace` to see what is going on around the handshake. Also looking at the handshake under Wireshark could help.

[2020-10-14 22:22] yuval-k opened #13580 "extauth: new timeout behavior does not add the grpc-timeout header"
The new timeout behavior for ext authz introduced in https://github.com/envoyproxy/envoy/pull/12778 doesn't pass the timeout to the async client. as a result the client does not add the grpc-timeout header. this header is used by the usptream service to be aware of the client timeout.

Suggestion: we can add a deadline field to the request options, that if present, will be used for the calculation

[2020-10-14 23:37] sunjayBhatia commented on #13492
@lodejard I was not able to replicate this on my dev workstation, and CI should be running the exact command you are running: https://github.com/envoyproxy/envoy/blob/1ca53123c078b6545d393d2974c58ddc3bebabb4/.azure-pipelines/pipelines.yml#L334

Your output is a tiny bit different than what I see in CI:

From https://dev.azure.com/cncf/envoy/_build/results?buildId=54201&view=logs&j=2d2b3007-3c5c-58

[2020-10-14 23:54] markdroth commented on #13134
https://docs.google.com/document/d/17fc0rAktQpc5oMkerOLHSTnXwX1xWAqW7vZ6_LL47NY/edit# has now been approved as specifying the expected behavior of aggregate clusters.

This issue should now cover the following:

- Updating the aggregate cluster tests to cover every behavior described in that doc.
- Fixing any behavior that the tests show does not currently match what is specified in the doc.
- Upd

[2020-10-15 00:03] nitgoy commented on #13513
Thanks @htuch. A follow up question, let's say I'm implementing such a filter and want to support different limits for different SNI values. Do you have any recommendation on how those config limits should be specified? In an http filter, I could leverage a per route config (at which point it probably doesn't even need the SNI or other request info since route matching takes care of it). But looki

[2020-10-15 00:43] htuch commented on #13563
How can a 401 be returned if the client TLS hasn't been established? Or are you talking about TLS to upstreams from Envoy?

[2020-10-15 00:46] htuch commented on #13574
This seems useful. @dnoe @KBaichoo any thoughts (given you folks have spent time in that area)?

[2020-10-15 00:47] htuch commented on #13578
@hq6 do you possibly have a toolchain mismatch between what was use to build Envoy and your debugger/readelf toolchain?

[2020-10-15 00:53] htuch commented on #13580
@yuval-k SGTM. At some point it might make sense to have both Envoy and Google gRPC take full responsibility for handling all aspects of the deadline, including being aware of queue delay, etc.

[2020-10-15 01:02] hq6 commented on #13578
It is certainly possible, but it's all on the same system:
[code]
[code]

[2020-10-15 01:03] hq6 commented on #13578
Also I'm running

[code]

[2020-10-15 02:32] sunjayBhatia commented on #12940
this flake has not reappeared in CI as far as I can tell

[2020-10-15 02:50] mk46 opened #13584 "Docs improvement on Read The Docs theme"
Can we remove `Built with Sphinx using a theme provided by Read the Docs` from footer?
cc @mattklein123 @moderation @phlax

[2020-10-15 03:01] moderation commented on #13584
@mk46 why?

[2020-10-15 03:06] mk46 commented on #13584
I don't think this is related to envoy.

[2020-10-15 03:25] moderation commented on #13584
It is very much related to Envoy. Docs are a big part of the project and the projects success and are part of every CI run. The maintainers and the community spend a lot of time improving them. See https://github.com/envoyproxy/envoy/tree/master/docs

[2020-10-15 04:56] kundansingh86 commented on #12074
Can you please share an example?

[2020-10-15 07:00] phlax commented on #13584
seems like a good idea, we are not hosting on "read the docs" - altho i guess using their theme we should make sure its credited somewhere

on a related note - i was wondering about the theme. The RTD theme, i believe, is mobile-compliant, which i guess is the reason we are using that theme particularly.

i think  we should consider using the "Alabaster" theme, which i think is also good on mobile

[2020-10-15 07:18] tonybaines commented on #13563
You're quite right of course, a client response wouldn't be possible to downstream without minimal TLS negotiation but for the situation of a trusted certificate (CA chain is recognised), but which is unauthorized it doesn't seem unreasonable.

What are your thoughts on the server side diagnostics?

[2020-10-15 09:51] phlax opened #13586 "Make Envoy github wiki editable"
### description

it would be quite handy if the  wiki was editable by repo members as it could be used for staging docs/info and collaborative editing

the 2 wiki pages i would quite like are

- glossary - (as a staging area before adding to docs)
- useful links, eg
   - stackoverflow moans/solutions
   - 3rd party tutorials/walkthroughs

[2020-10-15 09:54] phlax commented on #13586
eg this walkthrough is great - but im not sure where to link it

https://www.aapelivuorinen.com/blog/2020/08/01/envoy-json-grpc-transcoding/

[2020-10-15 12:33] lmarszal opened #13587 "Error when resolving STRICT_DNS cluster endpoint FQDN with trailing dot '.'"
*Description*:
Given following envoy.yaml:
[code]

`envoy:v1.14.6` works fine, on `envoy:v.1.16.0` I see `DNS refresh rate reset for google.com., (failure) refresh rate 5000 ms` error in logs.

*Repro steps*:
Run:
[code]
you'll see logs that DNS name for strict_dns clusters resolve fine:
[code]

Now run this on latest envoy:
[code]
you'll see logs saying that DNS resolution fails:
[code]

*Possibl

[2020-10-15 12:40] phlax commented on #13584
expanding a little on my comment, i think its a little confusing seeing the RTD attrib, because i at first assumed wrongly that the docs were hosted there.

i think one advantage of the RTD layout is that its very familiar to devs that its docs.

It wasnt on my immediate radar to suggest changing the theme, as i think it requires some consideration/agreement to do so

[2020-10-15 14:36] htuch commented on #13584
I think we should have some visual distinction between the navigation elements and the content, so Alabaster would need some tweaking to support that. I don't think what we're shooting for is minimalism FWIW, but having something that is visually clean and ergonomic is important.

[2020-10-15 14:39] phlax commented on #13584
yep, i was just trying to think how we could apply envoy purples to a mobile-compliant UI

[2020-10-15 14:54] mattklein123 commented on #13584
re: footer: No strong opinion but we should give credit where credit is due.

re: theme: I'm fine to change the theme, but we should get a bunch of opinions before doing it. Personally, I would rather focus on the content before we start playing with visual stuff like that.

[2020-10-15 14:56] sptrakesh commented on #13540
For now decided to leave MQTT on HA proxy.

[2020-10-15 15:39] vemod commented on #7025
Actually this feature is a must when working with JWT and JS frontends. We have our fronend apps (vuejs, reactjs etc) which communicate with backend via gateway. and its common practice to use httponly cookies with jwt so js apps can't steal them. So without this feature the usage of a gateway for jwt validation before passing valid requests to backend services is obsolete.

I tried the lua approa

[2020-10-15 15:57] caitong93 commented on #13082
I write a very draft pr to gain some thoughts on this. Can you take a look again when you have time? Thanks !

@mattklein123

[2020-10-15 16:15] rgs1 commented on #13082
@caitong93 nice! we can review & test it out on our end as well.

[2020-10-15 16:38] cmluciano opened #13593 "ppc64: wee8 dependency not supported on ppc64le"
*Title*: *One line description*
ppc64 build is not explicitly supported for wee8 gen_rule cmd file.

*Description*:
The ppc64le build has been failing since https://github.com/envoyproxy/envoy/commit/319a9a647f19036d831a75f68350c90e98bfc365 was introduced. The gen_rule cmd does not include the instructions inside of https://github.com/envoyproxy/envoy/blob/master/bazel/external/wee8.genrule_cmd#L6

[2020-10-15 16:38] cmluciano commented on #13593
/assign

[2020-10-15 17:25] mattklein123 opened #13594 "Update edge best practices to talk about perf knobs"
https://www.envoyproxy.io/docs/envoy/latest/configuration/best_practices/edge

Some items from the Spotify EnvoyCon talk:
- Circuit breakers
- Connection balancing (REUSE_PORT, force balancing, etc.)

[2020-10-15 19:16] sunjayBhatia opened #13596 "Docs/examples that use Linux-specific system CA bundle path fail on Windows"
*Description*:
Envoy docs/examples mention some common Linux-distro specific filepaths, especially for the system CA bundle `/etc/ssl/certs/ca-certificates.crt`. These paths are of course not relevant on Windows. This showed up explicitly in https://github.com/envoyproxy/envoy/pull/13534 when trying to test/validate all configs from docs. Right now validation of a few examples is disabled on Windo

[2020-10-15 19:17] sunjayBhatia commented on #13596
cc @envoyproxy/windows-dev

[2020-10-15 19:23] phlax commented on #13596
i think in the docs we want to keep the current path for the linked config - ie `/etc/ssl/certs/ca-certificates.crt` and that works out of the box for mac/linux

which then leaves the question of how to test this on windows *and* how to document

potentially we can mangle or provide an alternate config file and include the required cert in the bazel test

not sure about docs - i guess one question

[2020-10-15 19:27] phlax opened #13597 "Add a Postgres sandbox"
### description

it would be really useful to have a sandbox to demonstrate the Postgres filter

[2020-10-15 19:35] dio commented on #13597
@cpakulski probably we can adapt https://github.com/tetratelabs/envoy-postgres-stats-example to this repo?

[2020-10-15 19:35] sunjayBhatia commented on #13596
I believe the authoritative root CAs can be queried with https://docs.microsoft.com/en-us/windows/win32/api/wincrypt/nf-wincrypt-certopensystemstorea, passing `"Root"` to the second argument, but this doesn't represent a file path which is why I had the idea of adding to the `DataSource` or similar types in the Envoy API to add the ability to fetch values from the system cert store (add to TLS val

[2020-10-15 19:38] cpakulski commented on #13597
Thanks Dhi, This is good idea. I will have to integrate it with CI as it
runs examples now.

On Thu, Oct 15, 2020 at 3:35 PM Dhi Aurrahman <notifications@github.com>
wrote:

[2020-10-15 19:42] phlax commented on #13597
@cpakulski lmk if i can help in any way

[2020-10-15 22:06] ggreenway commented on #3178
Fixed in #12685

[2020-10-15 22:06] #3178 closed

[2020-10-15 23:37] htuch commented on #13587
@lmarszal do you want to try bump the c-ares dep locally? It might "just work", would be helpful to know.

[2020-10-15 23:39] htuch commented on #13586
Seems like it could be useful, the alternative is to build out more structured information in GH .md. One downside is that without maintenance and active management it might become stale and misleading (same as any other docs, but now we have another place to fight this battle).

[2020-10-15 23:46] htuch opened #13600 "Add FAQ entry for how to build Envoy with minimal dependencies"
A question was asked today at EnvoyCon on this, I think this belongs in FAQ --> Build --> How to I build Envoy with minimal dependencies.

[2020-10-16 00:13] htuch commented on #13513
If it's just SNI, I think a proto3 `map` would be fine, mapping SNI name to rate limits. But, you might want to have other features too. You might want to look at how `FilterChainMatch` works for inspiration on the most general case. It's probably fine to start with just SNI, but you might want to leave room to grow towards `FilterChainMatch` parity in the future. Are you building a local rate lim

[2020-10-16 00:14] vemod commented on #7025
so i fount a workaround for this problem. its not that nice but I think it cleaner then processing cookies in lua. So the solution is to use hybrid approach. this is how it looks like in my solution.

[code]
The order is important
1. header_to_metadata can read a specific cookie value and store it into metadata (dynamicMetadata)
2. lua filter puts the value from dynamicMetadata into header
3. gene

[2020-10-16 00:15] htuch commented on #13578
Not sure. There's some discussion of this error in https://www.mail-archive.com/gcc-bugs@gcc.gnu.org/msg586233.html. @lizan any thoughts here?

[2020-10-16 00:21] htuch commented on #13563
Have you look at using `trust_chain_verification` to control behavior on untrusted certs? What do you mean by unauthorized in this situation?

I'd probably look at `trace` logs and `/stats`, but I think you're asking how to handle this cleanly in production when you have a mix of different failure scenarios and want to handle them gracefully?

CC @lizan @ggreenway @PiotrSikora for thoughts on how

[2020-10-16 00:31] vemod commented on #7025
btw: cookie/header name is case sensitive in `header_to_metadata` :(

[2020-10-16 00:47] ggreenway commented on #13563
I haven't verified the behavior, but my expectation would be that an ssl alert would be sent to the client, probably code 48 (unknown CA). That may be useful for the client to debug.

An http access log wouldn't contain an entry, because there was no http request on the connection (closed before any request could be received). But there may be useful information in connection-level access logs, wh

[2020-10-16 00:50] hq6 commented on #13578
After another day of debugging, I believe I have identified at least a proximate cause and worked around it locally.
It appears that the issue is caused by the `-ggdb3` flag, which causes the generation of corrupt (or at least unreadable by `readelf`, `objdump` and `gdb`) `.debug_macro` sections in `dwo` files.

Removing this flag eliminated the errors for me.

I'll leave this issue open, and make

[2020-10-16 01:01] PiotrSikora commented on #13563
Accepting connections with missing/invalid client certificate at the TLS layer would violate the requested policy, so while I agree that it would lead to a better end-user experience, I don't think that we should do it. Also, as @ggreenway said, the client should receive a TLS alert, and the user-agent should be able to present it to the end-user.

However, you can request - but not require - clie

[2020-10-16 01:04] #13260 closed

[2020-10-16 01:11] howardjohn opened #13601 "tls_inspector needlessly injected, causing incorrect behavior"
*Title*: tls_inspector needlessly injected, causing incorrect behavior

*Description*:

When a filter chain is configured with: HTTP inspector, no tls inspector, a match on application_protocol, no match on transport_protocol, we get the following log:
`adding listener '0.0.0.0:15006': filter chain match rules require TLS Inspector listener filter, but it isn't configured, trying to inject it (thi

[2020-10-16 01:11] #12670 closed

[2020-10-16 01:43] lambdai commented on #13601
tls_inspector was the only listener filter to set apln in the past, so auto tls_inspector injection is added.
Nowadays it's no longer true since http_inspector could also set alpn.
Can we add a flag to disable the auto injection?  @htuch

[2020-10-16 01:53] nitgoy commented on #13513
I plan to build a local rate limiter unless there's a way to pass the SNI info in descriptors for the global rate limiter (which was the intention of my original question).

[2020-10-16 02:01] mattklein123 commented on #13513
This is not supported today (IIRC) but it would be very easy to add.

[2020-10-16 02:05] lizan commented on #13578
@hq6 what's the alternative? just `-g`? I'm not sure what is the difference though.

[2020-10-16 02:25] nitgoy commented on #13513
I see. I'm also concerned about the performance impact of this limiter and wonder that doing it locally might be cheaper. Our goal is it to actually protect the ingress envoy instances (instead of the upstream) from overuse and attacks.

[2020-10-16 02:45] mattklein123 commented on #13513
If you are going to build it into a filter, I would look at the existing L4 local rate limiting filter: https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/network_filters/local_rate_limit_filter. You could either use the existing filter chain match to match on SNI and then get a different filter chain (rate limit) per chain, or, you could potentially add matching config into the r

[2020-10-16 02:46] caitong93 commented on #13082
Great ! I will make the pr ready for review soon.

[2020-10-16 03:46] PiotrSikora commented on #13601
That's actually a bit more complicated.

One of the application protocols in the example is `http/1.1`. This value can be set by HTTP inspector for plaintext HTTP/1.1, as well as by TLS inspector for HTTP/1.1 over TLS. Since this filter chain matches all transport protocols, it should match both of those cases, but if you disable TLS inspector, then it won't match HTTP/1.1 over TLS, which is techn

[2020-10-16 04:16] lambdai commented on #13601
@PiotrSikora From envoy's perspective, you are right. Envoy doesn't know the best strategy.
there are cases where tls_inspector should be added as you described
there are cases tls_inspector should not be added, as John mentioned adding `raw_buffer` has the risk.

I am proposing add the flag in api: let control plane decide if tls_inspector.
If control plane is smart enough to know this api, the c

[2020-10-16 04:43] dio commented on #13539
@wrowe sure! Let's remove it.

[2020-10-16 04:47] PiotrSikora commented on #13601
If control plane is smart enough, it should set `raw_buffer` ;)

[2020-10-16 07:59] zjd87 opened #13602 "bazel build zlib error"
ld.lld: error: /lib/../lib64/crti.o is incompatible with elf32-i386
ld.lld: error: /opt/rh/devtoolset-8/root/usr/lib/gcc/x86_64-redhat-linux/8/crtbeginS.o is incompatible with elf32-i386
ld.lld: error: /lib/../lib64/libm.so is incompatible with elf32-i386
ld.lld: error: CMakeFiles/zlib.dir/adler32.o is incompatible with elf32-i386
ld.lld: error: CMakeFiles/zlib.dir/compress.o is incompatible with

[2020-10-16 08:30] tonybaines commented on #13563
@htuch We're using `extensions.filters.network.client_ssl_auth.v3.ClientSSLAuth` for authorisation - there doesn't seem to be a way of seeing authorisation failures, even with debug logs switched on.  Is there any extra metadata I can extract into the logs for this?

@ggreenway Thanks for the pointer - that gives me logs on connection attempts by downstream whether or not mutual TLS was negotiated

[2020-10-16 08:31] zjd87 commented on #13502
#4602 should be kernel tcp reuseport, solve thundering herd and request load-balance
But my focus is that two or more thread maybe send interrupt signal in a moment, cause that cpu utilization rate reduce; If suport CPU pinning via thread affinity such configure, maybe avoid this case.
Thank you!

[2020-10-16 08:36] zjd87 commented on #13502
@htuch https://github.com/envoyproxy/envoy/issues/13602   help me  solve this question , thank you!

[2020-10-16 09:01] phlax commented on #13233
see https://envoylint.com/

[2020-10-16 09:08] phlax commented on #13586
yep, for sure.

i think i was trying to find a way that we can have ~public docs that are easy-to-update.

I guess the page of links is my biggest priority - i would rather we didnt add them to docs as we would need to ~vet/maintain them etc

[2020-10-16 09:20] phlax commented on #13535
also worth noting that afaict the storage.googleapis rendering is cached, so it can take a while before you see changes to the docs after rebuild

[2020-10-16 10:04] Chwetion opened #13604 "how to config bandwidth limit"
requirement: such as limit bandwidth when client upload file to server 20kb/s
i find a filter "envoy.config.filter.fault.v2" https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/fault/v2/fault.proto#config-filter-fault-v2-faultratelimit-fixedlimit.
can i use this envoy filter to solve this question?
if it can, how config?

[2020-10-16 10:09] phlax commented on #13497
@mattklein123 there are kinda 2 questions/propositions here

### use envoyproxy.io as default/demo proxy

proxying http://localhost to https://anything.else is always going to be imperfect, but proxying to the envoy website works better than proxying to google and is more "neutral" i think.

### make admin listen on `0.0.0.0` in default configuration

this one im a bit more ambivalent about becaus

[2020-10-16 10:10] phlax commented on #13497
i would quite like to move on this quicly - once #13562 is landed.

If i can fix this before #13490 it  will make "getting-started" easier to document

[2020-10-16 10:13] phlax commented on #13497
@lizan do you have any thoughts on above suggestions ?

[2020-10-16 11:29] zjd87 commented on #13602
I try add compile option -m32, but  occur another error.
ld.lld: error: cannot open crti.o
ld.lld: error: cannot open crtn.o

....compile many issue in centos7  ...um....

[2020-10-16 11:37] phlax opened #13605 "Add docs for Wasm Sandbox"
### description

We have a sandbox to demonstrate creating a Wasm filter, but it doesnt currently have any documentation

[2020-10-16 11:45] HappyCerberus commented on #11532
I think this is responsible for the crashes of our service with ring_hash balancer.

[code]

Any workaround?

[2020-10-16 13:45] KBaichoo commented on #13574
I guess [`absl::Symbolize`](https://github.com/envoyproxy/envoy/blob/9a5de98bf26280a3b57882413dfb9084c5dbb2a6/source/server/backtrace.h#L132) failed to resolve the symbols and in that case if you're just getting raw addresses?

Given that, perhaps the best way to go about this is to print out the offset before dumping the rest of the trace as you suggest.

[2020-10-16 15:01] mattklein123 commented on #13578
The split dwarf functionality is new, so I'm not surprised we are seeing various issues related to it. With that said, it would be nice to understand a) whether this is toolchain specific (version and clang vs. gcc) and b) what the actual implication is of moving away from gdb3.

[2020-10-16 15:13] mattklein123 commented on #13497
I think both of these changes are fine with me, as long as we very carefully document the security implications of the admin config in the example.

IIRC the google proxy used to work, so it would be nice to understand why it no longer works, but I guess that is a separate issue. I think proxying to the website as a neutral location makes sense to me.

[2020-10-16 15:14] phlax commented on #13497
almost certainly Content Security Policy

[2020-10-16 15:18] jphx opened #13608 "Envoy crash while using TCP socket tapping of upstream cluster"
Since this problem involves a crash, I originally reported it to the `envoy-security@googlegroups.com` mailing list.  Since the traffic tapping capability is for debugging, however, I was asked to report it here.

I'm trying out Envoy's [TCP socket traffic tapping](https://www.envoyproxy.io/docs/envoy/latest/operations/traffic_tapping) capability.  With a fairly simple configuration in an upstream

[2020-10-16 15:28] #11088 closed

[2020-10-16 15:28] #12572 closed

[2020-10-16 15:37] travisgroth opened #13609 "Route connect_matcher not working with non-wildcard VirtualHost domains"
*Title*: Route connect_matcher not working with non-wildcard virtual_host domains

*Description*:
When configuring a `VirtualHost` and route for HTTP CONNECT termination, setting anything but `*` for the `domains` field fails to match the route.

I've also tried changing to a prefix match, which fails to work.  I believe this is expected behavior according to the [docs](https://www.envoyproxy.io/d

[2020-10-16 15:57] phlax commented on #13497
here is the  (wip) bit in the updated quick start instructions

https://storage.googleapis.com/envoy-pr/13490/docs/start/quick-start.html#configuration-admin

[2020-10-16 17:00] #12280 closed

[2020-10-16 17:00] yuval-k commented on #13580
looking at the code a bit, its more complicated than i thought. Ideally we want to add the timeout header just before the request is sent upstream, here: https://github.com/envoyproxy/envoy/blob/eb9af96cd317b823ee6822dc10aeb26d63e51608/source/common/router/upstream_request.cc#L419

but grpc header is set in the async client ([here](https://github.com/envoyproxy/envoy/blob/e5aa69658c6182dd41b6217ec

[2020-10-16 17:08] phlax commented on #13497
thinking about this further - this is how it is already documented. So the only change i think is to the config in the Docker image

[2020-10-16 17:36] mjacobs commented on #10942
+1 to these example use cases

[2020-10-16 18:03] cmluciano commented on #13593
Ok I made sure that our build-container has gn now and added the following patch

[code]

Unfortunately I am now getting an error that might be more to do with bazel than wee8 now

[code]

[2020-10-16 19:09] cmluciano commented on #13593
cc @clnperez

[2020-10-16 19:15] phlax opened #13613 "Dont build Docker images with the repo as the context"
### description

Currently when we build the Docker images in CI the images are built with the entire repo as `context`

This means that for every build the entire repo is sent to the docker daemon.

This will slow down the build a lot, and may be related to the disk space issues in the CI build machine

[2020-10-16 19:54] clnperez commented on #13593
Thanks @cmluciano. Hopefully someone with better bazel foo than I knows what that last error means.

[2020-10-16 20:19] htuch commented on #13602
@dmitri-d could someone at Red Hat comment on this? Thanks.

[2020-10-16 20:22] htuch commented on #13601
It sounds like there is a reasonable control plane fix, is this really just a documentation issue?

[2020-10-16 20:25] htuch commented on #13604
Fault filter is not the right choice for this. I don't think we have any traffic shaping support like this in Envoy, @mattklein123 @tonya11en for thoughts.

[2020-10-16 20:26] htuch commented on #13605
@phlax should I assign this to you?

[2020-10-16 20:27] htuch commented on #13609
@alyssawilk any thoughts on this one?

[2020-10-16 20:27] phlax commented on #13605
yep, im happy to do this

[2020-10-16 20:33] tonya11en commented on #13604
I don't think there's a way for Envoy to understand your client's protocol out-of-the-box, so you'd probably have to implement a custom filter for that. It seems like local/global rate limit filters would be of much help either since they are limiting connections or keys sent to a ratelimit service.

@Chwetion can you be more specific about what it is you're hoping to accomplish? Mainly, zoom in o

[2020-10-16 20:37] mattklein123 commented on #13604
The fault filter does have bandwidth limiting. Whether it's the right thing to use for your case is a different question. It's possible that functionality could be moved into an independent filter.

[2020-10-16 20:58] htuch commented on #13566
@Shikugawa I just tried this script. The path is not quite right and it only runs for a single TOML, but we multiple of these in the tree. Also, the output at the end looks quite different to our existing crates.bzl, it seems there was some hand editing as well.

This is problematic as things exist; we have no way to bump dependencies if there are security issues or to try out the advice in https:

[2020-10-16 21:08] PiotrSikora commented on #13566
@htuch I don't believe there were any edits to the generated files. The `cargo-raze` tool changed a bit since we generated them, and I imagine that if you use the older version (`cargo install cargo-raze --version 0.3.8`), then you should see the same output.

[2020-10-16 21:12] #13023 closed

[2020-10-16 21:25] kyessenov commented on #13554
It affects logging mostly, but may also affect RBAC policies if they reference destination address. I think istio is the most affected downstream project as a heavy user of original_dst.

[2020-10-16 21:32] dmitri-d commented on #13602
The first bunch of issues are due to linker trying to use 64bit dependencies to build a 32bit binary. Is this a 32bit system? Not sure if 32bit devtoolset-8 even exist. If this is a cross-compile to a 32bit target, -m32 is on the right path (haven't tried building 32bit binaries myself).

But when I change zlib version that i use to zlib.i686 1.2.7-18.el7, it's still the same error

Unless envoy b

[2020-10-16 21:35] mattklein123 commented on #13554
FWIW I would really love to have an integration test here, I just don't know if it's technically possible.

[2020-10-16 21:46] PiotrSikora commented on #13566
We could combine them all into a single TOML and then use `[[example]]` or `[[bin]]` sections with relative paths to existing `.rs` files to generate multiple targets from it. I think that @Shikugawa was looking into it a while ago.

[2020-10-16 21:58] htuch commented on #13566
This would be really great, thanks.

[2020-10-16 22:18] lizan commented on #13566
Yeah that would be great. We can also look into to generate this as part of repository rule (similar to pip3_import for python), though that will be part of rules_rust.

[2020-10-16 22:43] lizan commented on #13497
It does matter if you run with `--network=host`, which I've been seeing people doing this in many cases.

[2020-10-16 22:58] #12389 closed

[2020-10-16 23:04] nitgoy commented on #13513
Thank you. Those are great points. We did consider putting SNI based filter chain match criteria actually. The concern is that it will cause the entire listener to be recreated anytime a filter chain is added/modified via LDS api and that might not be good for performance. Is that a valid concern? Or is the listener transition process fairly optimized and doesn't have a significant perf impact?

W

[2020-10-16 23:19] mattklein123 commented on #13513
It's counter-intuitive (and somewhat related to @ggreenway comments on merging transport sockets, listener filters, and networking filters), but network filters can still rate limit pre-TLS, because the "on new connection" event happens immediately and before the handshake completes.

Correct.

I think of you are concerned about filter chain scalability, thinking about adding matching into the L4

[2020-10-16 23:39] dio commented on #13551
@Jason-Jian @juchem do you mind if someone picks up your PR here: https://github.com/envoyproxy/envoy/pull/3502/files as an answer to this ticket?

[2020-10-16 23:41] dio commented on #13551
NVM seems like @austin-zhu is part of your team. 😅

[2020-10-17 01:18] phlax commented on #13497
im sure the image is used in many different ways - but the  default config - ie the one that proxies to google etc is less likely to be used in this way.

currently we have the worst of all worlds. The Docker image config doesnt work, and the documentation encourages you to listen on `0.0.0.0` without any word to  secure it

[2020-10-17 01:24] phlax commented on #13497
the other option - which i think is not a bad idea - remove the config altogether (as getenvoy does i think)

[2020-10-17 11:37] phlax commented on #13605
@htuch the immediate problem i hit with this is that the `wasm` build expects `bazel` and i guess a working build environment.

im thinking the sandbox should ideally not depend on this - and if it does it would want to do the build inside a container (like for building grpc protos eg)

im wondering if there is an easy way to compile the `.cc` file in the sandbox to `wasm` with minimal build deps

[2020-10-17 12:04] phlax commented on #13605
this seems an option https://docs.bazel.build/versions/master/bazel-container.html - but its not a small image

[2020-10-17 17:16] phlax commented on #13605
i tried compiling the `wasm` bin - first using the default bazel image - which didnt get very far

https://travis-ci.org/github/phlax/bazeldev/builds/736657571#L244

and then using `./ci/run_envoy_docker.sh ...` which seems to get further, but fails for some other reason:

https://travis-ci.org/github/phlax/bazeldev/builds/736662127#L1007

[2020-10-17 20:35] mattklein123 commented on #13605
@PiotrSikora can you potentially advise on ^? Perhaps we can come up with some type of self contained example that doesn't use Bazel and just a very basic make/cmake setup?

[2020-10-17 22:53] PiotrSikora commented on #13605
@phlax are you talking about building Wasm extensions?

For C++ examples using standard tools (i.e. not Bazel), you can take a look at:
https://github.com/dengyijia/WAF-wasm
Note that this was developed before it was merged into official repo, so the instructions are using [Istio Proxy](https://github.com/istio/proxy).

For C++ examples using Bazel, you can take a look at extensions in [Istio Prox

[2020-10-17 23:08] wlhee commented on #13185
@alyssawilk based on my experiment, it looks like TcpProxy or some cluster magic for **upstream Envoy** also need to adjust accordingly?

I have the following setup:

client -> (TCP) -> client Envoy TcpProxy (tunnel enabled) -> (HTTP/2 POST) -> upstream Envoy HTTP listener -> loopback cluster -> (HTTP/1?) -> upstream Envoy TcpProxy listener -> (TCP) -> server

It looks like if client Envoy TcpProx

[2020-10-17 23:34] phlax commented on #13605
yep, compiling this file (https://github.com/envoyproxy/envoy/blob/master/examples/wasm/envoy_filter_http_wasm_example.cc) before running the sandbox with the file

i guess we need to build it in a container as we want something that will take at most 1 or 2 commands to build, and doesnt expect much from users env

after thinking about it, i reckon using bazel is fine - probs better as that is how

[2020-10-17 23:55] PiotrSikora commented on #13605
For that example, you can simply build it with:
[code]
but that's a specific example within Envoy repository, and it's not how people should be developing extensions, so that's not a great base for developer documentation, IMHO. For that, see my previous comment.

[2020-10-18 00:00] phlax commented on #13605
the thing is that is just for a sandbox - ie a single page of docs with a really simple setup to get started

we definitely dont want to expect that users have bazel/llvm/etc available natively (if we did, we would need to document exactly how they can do that in a multi-platform way)

yep - its a simple example to get people started

[2020-10-18 00:03] phlax commented on #13605
in terms of comparisons with existing sandboxes - i think compiling the grpc protocol stubs is the closest to what we need here:

https://387354-65214191-gh.circle-artifacts.com/0/generated/docs/start/sandboxes/grpc_bridge.html#step-3-generate-the-protocol-stubs

[2020-10-18 00:07] #13427 closed

[2020-10-18 00:08] phlax commented on #13605
providing a pre-compiled binary is also an option i guess

[2020-10-18 00:13] PiotrSikora commented on #13605
...once https://github.com/envoyproxy/envoy/pull/13619 is merged.

[2020-10-18 00:13] phlax commented on #13605
brilliant, thankyou!

[2020-10-18 00:17] PiotrSikora commented on #13605
If it's not about building Wasm extensions, but only about running them, then I think that using the existing `examples/wasm/envoy_filter_http_wasm_example.wasm` module that's already checked in is perfectly fine.

[2020-10-18 00:20] phlax commented on #13605
i couldnt find any compiled module (with `find . -name "*.wasm"`)

[2020-10-18 00:20] phlax commented on #13605
if i can get the build to work - this should be good - ill PR a wip sandbox in the next day or two

[2020-10-18 05:07] ramaraochavali commented on #8614
@lizan is there a way to identify whether the context is being used by an existing connection or not in the current code? If it is not, is it some thing that can be added?

We are also hit by this with SDS and our cert expiry alerts are firing for lingering certs.

[2020-10-18 08:31] phlax commented on #13613
i first noticed that the context was very large and related issues when trying to build a custom Envoy image locally - following instructions here:

https://www.envoyproxy.io/docs/envoy/latest/start/install/sandboxes/local_docker_build.html#building-an-envoy-docker-image

after a bit more investigation - i realize now that in CI we use `buildx` which seems to have a dynamic/cached context.

The CI

[2020-10-18 08:38] PiotrSikora commented on #13605
Ah, right. I must have generated it previously and it just stuck around. Once #13619 is merged, it's one-line to build it, though.

[2020-10-18 08:57] ramaraochavali commented on #8614
Looked at the code and it looks like we can pass the old context if available when secret is updated here https://github.com/envoyproxy/envoy/blob/master/source/extensions/transport_sockets/tls/ssl_socket.cc#L356 to `createSslClientContext` and can remove from the list of contexts similar to how we remove expired contexts https://github.com/envoyproxy/envoy/blob/cdd3a837056dc6935c0d8e0fb693d4de89b

[2020-10-18 09:48] phlax commented on #13605
i tested building with the bazel and envoy-build images

the envoy-build image works - so i can use that i reckon

i tried again with the bazel image and got the (same) following error:

[code]

it might well be to do with how i am trying to call it - the commands are:

[code]

for the docs im thinking we can provide a download *and* some instructions to rebuild the module

[2020-10-18 23:39] jpeach commented on #12893
@kyessenov Are there any more details about `ECDS`?

[2020-10-19 00:43] jpeach opened #13620 "Access log token discovery or validation for xDS"
*Description*:

An xDS server may need to deal with multiple Envoy versions (either simultaneously, or over its deployed lifetime). The set of valid access log tokens can vary across Envoy versions. If the xDS server sends a configuration with an invalid log token, that update is rejected with a `Not supported field in StreamInfo` error message. Other than by parsing the message string in the `Err

[2020-10-19 01:18] Chwetion commented on #13604
client means downstream, it will call upstream(tomcat)'s upload file interface. @tonya11en
i think i want like this issue: https://github.com/envoyproxy/envoy/issues/6551

[2020-10-19 01:20] Chwetion commented on #13604
is there any doc for this? @mattklein123

[2020-10-19 02:05] PiotrSikora commented on #13605
I don't think you can build Envoy or Wasm extensions using Bazel's official container, since it's missing a bunch of build tools.

How about using what's already provided in Envoy?
[code]

[2020-10-19 02:28] kyessenov commented on #12893
https://www.envoyproxy.io/docs/envoy/latest/configuration/overview/extension#discovery-service. Right now, it's just HCM that supports it.

[2020-10-19 03:15] zjd87 commented on #13602
@dmitri-d use devtoolset-9 , some new issues...
# bazel build -c opt    //source/exe:envoy-static
INFO: Build option --copt has changed, discarding analysis cache.
INFO: Analyzed target //source/exe:envoy-static (0 packages loaded, 38789 targets configured).
INFO: Found 1 target...
ERROR: /home/web_server/zhangjinde/envoy/source/extensions/common/crypto/BUILD:11:19: undeclared inclusion(s) in rule

[2020-10-19 04:13] phlax commented on #13605
yep that works, it just involves a ~4GB image, which i was trying to avoid

[2020-10-19 05:37] ankatare commented on #8097
unassigning myself as lack of info and low priority.

[2020-10-19 07:19] phlax commented on #13605
i think the other reason im averse to the `./ci/run_envoy_docker.sh` script locally is that it runs ~privileged with `/var/run/docker.sock` mounted and a lot of software inside - even when those things arent needed

i think its ok for CI - but better avoided for local use, unless you understand what it is doing

for the example i have created a docker-compose with  the `ubuntu-build-image` and jus

[2020-10-19 07:51] prince286 opened #13623 "Not able to call external service from lua filter"
I am trying to make http call to service running locally in my system from istio envoy lua filter. But call is not happening. Below is my configuration file.
My service is running locally on port :6000

[code]
Please let me know, if more info is required

[2020-10-19 08:23] sterchelen commented on #13454
Hi, I would like to take it, please @mattklein123

[2020-10-19 09:25] Cordius opened #13624 "how to enable QUIC inside envoy"
I tried to run envoy with QUIC, but the envoy failed to start with error msg:
[code]

**Envoy Docker Image:**  envoyproxy/envoy-dev:e136b95a6083aa9b284bb7acfe704a259c7ffa0c

Here is my envoy.yaml.
[code]

[2020-10-19 10:24] aviramha opened #13625 "Redis TTL expiry doesn't work when mirroring"
*Title*: Redis TTL expiry doesn't work when mirroring

*Description*:
When sending a pipeline of adding 1 entry to a list and setting expiry on it, the list is created on both redises, but expire isn't set on the main (not mirrored) redis.
I tried reproducing it, when running two redises local it worked great, when one was remote it didn't. The remote redis is RedisLab's SSD.

*Repro steps*:
Scrip

[2020-10-19 10:25] dimitraPat opened #13626 "Http traffic tapping handling on ADS updates"
*Title*: *Http traffic tapping handling on ADS updates*

*Description*:
I have a question regarding the http traffic tapping. When a reconfiguration on envoy takes place due to an ADS update and the listener is recreated, what happens with the tap filter? Will it tap the traffic of the listeners on draining state? Will it start tapping the traffic of the new listeners? We have observed that when t

[2020-10-19 10:27] #13626 closed

[2020-10-19 10:29] ankatare commented on #12841
@htuch thanks for assigning. would you please give some pointers to start and understand the requirements more clear.

[2020-10-19 10:35] aviramha commented on #13625
From my wireshark captures, it seems that what happens is that order of transmission isn't guaranteed, so expire is called before setting the key.

[2020-10-19 10:38] dimitraPat opened #13627 "Http traffic tapping handling on ADS updates"
*Title*: *Http traffic tapping handling on ADS updates*

*Description*:
I have a question regarding the http traffic tapping. When a reconfiguration on envoy takes place due to an ADS update and the listener is recreated, what happens with the tap filter? Will it tap the traffic of the listeners on draining state? Will it start tapping the traffic of the new listeners? We have observed that when t

[2020-10-19 13:08] fabriziomello opened #13628 "sandbox: PostgreSQL Network Filter sandbox"
Adding a complete example of how the Postgres Network Filter works will make life easier for those who want to try it.

The idea here is create a sandbox like [other filters](https://www.envoyproxy.io/docs/envoy/latest/start/start#sandboxes) already does.

We already implemnted a complete example [here](https://github.com/ongres/envoy-postgres-stats-example) so now the task is just to write the do

[2020-10-19 13:09] phlax commented on #13628
hi @fabriziomello i think this is is a duplicate of #13597

[2020-10-19 13:10] phlax commented on #13628
if you are up for taking that ticket on  that would be great - i would be happy to help

[2020-10-19 13:57] fabriziomello commented on #13628
Ohh @phlax sorry... Didn't pay attention. Will close it!

Anyway I'm working on it now! Thanks!

[2020-10-19 13:57] #13628 closed

[2020-10-19 13:58] fabriziomello commented on #13597
@dio @cpakulski @phlax I'm working on it now.

[2020-10-19 14:00] phlax commented on #13597
/assign @fabriziomello

[2020-10-19 14:02] phlax commented on #13597
@fabriziomello i think the easiest way to get started is to copy out the `mysql` sandbox and then swap out the backend server

[2020-10-19 14:03] fabriziomello commented on #13597
It's exactly what I'm doing... ;)

[2020-10-19 14:55] alyssawilk commented on #13609
I don't remember the rules on where Host header supersedes host from URL, but I'm pretty sure the problem here is that you want the matcher to be localhost:22 since the port will be taken into consideration when doing the matching.  Try giving that a shot and ping back if it doesn't work!

[2020-10-19 14:57] alyssawilk commented on #13609
Yeah, looks like host-and-port match works, though host alone does not.  If there's somewhere in the docs we could make this more clear, let me know and I'll add it on in since I literally made the same mistake (initially matching on host not host:80) when I tried writing a regression test :-P

[2020-10-19 15:06] mattklein123 commented on #13604
https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/fault_filter

[2020-10-19 15:08] mattklein123 commented on #13624
We don't have any docs for this yet unfortunately. See https://github.com/envoyproxy/envoy/issues/12923. cc @ggreenway @danzh2010

[2020-10-19 15:08] #13624 closed

[2020-10-19 15:09] mattklein123 commented on #13627
What connection are you using? Admin? This is probably a bug but we would need to look into it.

[2020-10-19 15:24] travisgroth commented on #13609
Ah I see.  Thank you!  I don't think I tested that way; it actually makes sense in the context of `CONNECT`.

https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/upgrades#connect-support might be the best place to mention it.  Anyone having trouble is pretty likely to wind up there at some point.

[2020-10-19 15:28] dimitraPat commented on #13627
Yes, we are using the admin interface.

[2020-10-19 15:59] dmitri-d commented on #13602
Looks like bazel found system header files are in the wrong dir. Did you enable the devtoolset software collection via `scl enable devtoolset-9 'bash'`? Note this has to be done every time the bash session from the command above is closed.

[2020-10-19 16:10] mattklein123 commented on #13627
OK there is another bug related to this. I can try to find time to look at both.

[2020-10-19 16:12] htuch commented on #12841
Find all of the v2 packages in https://github.com/envoyproxy/envoy/blob/5c7737266e671ea9801c14d2779ca30bb0032bf7/api/BUILD#L125 (there should be a handful). You can manually copy them over to v3 trees. Update the `(udpa.annotations.file_status).package_version_status` status.

[2020-10-19 17:52] ankatare commented on #12841
Ok Thanks @htuch

[2020-10-19 18:00] lmarszal commented on #13587
@htuch yes - it "just works" (https://github.com/lmarszal/envoy/commit/927d4026da8df1e8ddf76b5babbad87d8dbd82dd)

[2020-10-19 18:03] alyssawilk commented on #13609
Sounds good - added a few words in  #13630 - let me know if you can think of any improvements.

[2020-10-19 19:04] CurryX opened #13634 "JSON transcoder parsed some query params and cause transcoder error"
*Title*: JSON transcoder parsed some query params and cause transcoder error

*Description*:

*Repro steps*:

*Logs*:

*Relevant Links*
https://github.com/envoyproxy/envoy/blob/fb7bdbe45cc04ef504b1092f037b45a45cad2714/source/extensions/filters/http/grpc_json_transcoder/json_transcoder_filter.cc#L320-L330

[2020-10-19 19:05] CurryX commented on #13634
I am currently working on a PR which skip transcoding fields for HttpBody if `method_info->request_body_field_path` is a prefix of `resolved_binding.field_path`.

[2020-10-19 19:15] htuch commented on #13580
Clarifying a few things as this has now become somewhat more complicated:
1. We originally had the issue that the timeout was not being respected when circuit breakers were enabled, since it was only set when a request was issued, so queue time didn't contribute to timeout.
2. https://github.com/envoyproxy/envoy/pull/12778 added support for enforcing a timeout in `ext_authz`, but doesn't set this

[2020-10-19 20:04] #13554 closed

[2020-10-19 20:10] lizan commented on #8614
@ramaraochavali that's right, we use shared_ptr to track whether the SslContext is used, which is count number of active connections in.

[2020-10-19 20:32] jwendell commented on #13164
I'm working on this

[2020-10-19 20:42] htuch commented on #13604
Seems like a traffic shaping filter the factors this functionality out would be cleanest, since the goals of production traffic shaping might not always align with fault testing.

[2020-10-19 20:45] htuch commented on #13587
@lmarszal PR welcome, feel free to tag me on it.

[2020-10-19 20:55] mattklein123 commented on #13604
Agreed

[2020-10-19 21:22] howardjohn opened #13636 "Allow json output for logging (not access logs)"
*Title*: Allow json output for logging (not access logs)

*Description*:
I would like to output logs as JSON. For example, `{"level":"info","time":"2020-10-19T14:17:05.010719Z","scope":"config","msg":"loading 1 cluster(s)"}`

This is *almost* possible with `envoy --log-format '{"level":"%l","time":"%Y-%m-%dT%T.%fZ","scope":"%n","msg":"%v"}'`. however, the message is not escaped, leading to invalid

[2020-10-19 21:58] yuval-k commented on #13580
i believe the router also sets the timeout based on a timeout on the route, and the async client also implements a route for the router filter

[2020-10-19 22:05] yuval-k commented on #13580
@htuch until we figure the proper way to do this, should I disable turning on the new feature by default in the meantime?

[2020-10-19 22:18] juanvasquezreyes opened #13637 "Oauth implementation"
Hello Envoy team

I'm trying to implement oauth, using envoy 1.16.0  I read the documentation provided at the following link https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/oauth2_filter, I dont think the documentation is correct, since I tried to use the sample describe and its not working

this is the error I'm facing, can you please update the documentation and provi

[2020-10-20 01:57] htuch commented on #13580
Got it, thanks. Yeah, please flip the default for now.

Why do we want to set the header in `onPoolReady()`? If we set the `grpc-timeout` as it is done today, then the remote server sees roughly the same timeout as the one ext_authz is implementing.

One other thing occurred to me, should we also be applying the ext_authz timeout fix to ratelimit? Wondering if the right thing to do is make the gRP

[2020-10-20 02:08] mattklein123 commented on #13580
+1, I don't think I spoke up last time, but the previous PR made me pretty uncomfortable. IMO we should actually revert it and come up with a better and more holistic solution that is generic to AsyncClient.

[2020-10-20 03:16] cpakulski commented on #13476
Most likely the session is encrypted. Try to disable ssl:
`psql -U postgres -h localhost "sslmode=disable"`

[2020-10-20 06:23] Chwetion commented on #13604
@htuch does the community currently have plans for bandwidth limit filter?
@mattklein123 i already use http fault filter but not my expected, it cannot limit downstream upload file to upstream speed. i see just response_rate_limit, i think upload should use request rate limit.
java upload file demo application: https://github.com/Chwetion/upload-demo

[2020-10-20 06:49] hinawatts opened #13643 "Getting upstream_reset_before_response_started{local reset}"
*Title*: While doing perf testing we start getting the response upstream_reset_before_response_started{local reset} intermittently

*Description*: We are using envoy as reverse proxy, where a request from client hits envoy and based on some header we route it to upstream configured with 4 hosts. It works fine based on functionality point, however while doing perf we start getting upstream_reset_be

[2020-10-20 08:53] zjd87 commented on #13602
@dmitri-d  I  source /opt/rh/devtoolset-9/enable   which is similar to   scl enble  devtoolset-9 'bash'  every time when i login new session bash. Another question, I use ubuntu , and build success; when  --concurrency 1  start , the result  is one master thread and eight work threads; when  --concurrency 2  start , the result  is one master thread and ten work threads; when  --concurrency 3  star

[2020-10-20 10:59] snowp commented on #13637
The error indicates that the OAuth2 filter isn't compiled into the binary. Are you building a custom set of extensions, implicitly disabling the OAuth filter?

[2020-10-20 12:18] vbfox opened #13647 "'grpc-accept-encoding' header isn't respected in grpc-web"
When envoy receive a request from grpc-web either without `grpc-accept-encoding` header or with any value like `grpc-accept-encoding: identity` it will send the request to the upstream with it's own set of accepted encoding (`identity,deflate,gzip` currently) but if the upstream answer with one of theses (`grpc-encoding: gzip` for example) envoy forward that encoding to the grpc-web client even if

[2020-10-20 12:41] wbpcode opened #13648 "Make TracerFactoryContext contain TransportSocketFactoryContext"
*Title*: *One line description*

*Description*:

[optional *Relevant Links*:]

[2020-10-20 13:01] phlax opened #13649 "Consolidate/(re)tag Envoy Docker images"
### description

in the course of updating the install/build instructions (#13490), i have transposed the current information about available Docker images from here:

https://www.envoyproxy.io/docs/envoy/latest/start/building#pre-built-binaries

into a table here:

https://storage.googleapis.com/envoy-pr/13490/docs/start/install.html#pre-built-envoy-docker-images

The table highlights a few issue

[2020-10-20 13:06] wangfakang commented on #7862
@dio this commit does not run correctly on the current master branch, could you adapte it?

[2020-10-20 13:36] htuch commented on #13620
Yeah, I think graceful handling is the way to go. We could model this as client capabilities, but the API principle is to reserve them for when they are really needed, when there is no graceful degradation option.

[2020-10-20 13:37] htuch commented on #13604
@Chwetion not that I know of, I suggest opening a tracking issue (or converting this issue into that).

[2020-10-20 13:44] asraa commented on #13647
@fengli79 @lizan any thoughts on this?

[2020-10-20 13:59] yuval-k commented on #13580
If I understand the code correctly `onPoolReady()` happens after the is no longer pending, right? so sounds like the deadline to timeout math should happen there? You probably know better than me..

[2020-10-20 13:59] vbfox commented on #13647
I created a PR with an attempt at 'Solution 1' https://github.com/envoyproxy/envoy/pull/13654 if it is the direction that is finally decided

[2020-10-20 14:06] juanvasquezreyes commented on #13637
I'm using the latest docker version, does this version doesnt come with Oauth?

[2020-10-20 14:11] yuval-k commented on #13580
I will create a PR now to remove it from the enabled features; If it's ok i would like to have the option to enable this, so we can do some further internal testing.

[2020-10-20 14:28] travisgroth commented on #13609
Thanks @alyssawilk.  Added a suggestion.

[2020-10-20 14:30] yuval-k commented on #13580
The flow as I understand it (please correct me here):
1. grpc async client creates an http async client, and passes it the RequestOptions
1. http async client creates a router filter and a route entry. The route entry has the timeout
1. http async client uses the router filter to perform the request
1. while decoding headers, the router filter creates a grpc timeout header based on the timeout in

[2020-10-20 14:36] htuch commented on #13580
Yes, but we could also set it earlier as already done today and we get the correct overall timeout. I don't think the math with `grpc-timeout` was the original issue, it was rather when the per-route timeout was activated; it happened (I think) around step 8, rather than at step 1 (prior to circuit breaker delay).

I think a flag flip is fine to start with, we can discuss whether to rollback or ho

[2020-10-20 15:01] phlax commented on #13649
this could be helped hugely with some info here:

https://hub.docker.com/r/envoyproxy/envoy
ie - the bit where it says "This repository doesn't have an overview"

[2020-10-20 15:02] phlax commented on #13649
in my understanding - people *will* use these images for production or whatever  else, even once they have found  the `vCURRENT-latest` tag if they are not advised otherwise

[2020-10-20 15:04] phlax commented on #13649
not sure if i understand about "multiple release lines" - i think the current releases are as the table shows (and the old documentation)

[2020-10-20 15:07] phlax commented on #13649
not exactly another way - but i would suggest adding an official `docker/library` image that *is* optimized for ~production use (at least in the general case)

i think this suggestion is a bit outside of the scope of this ticket - but i think that is the way we can differentiate between versioned/ongoing builds and official/production ones - ie providing the latter

[2020-10-20 15:15] snowp commented on #13637
It does. I get a different error than you when I run your config against `envoyproxy/envoy-alpine:v1.16.0`, can you verify that the binary you're using is actually 1.16?

[2020-10-20 15:28] mattklein123 commented on #13649
Happy to update text on the repos if you want to suggest some.

We support 4 stable releases at this point. So for right now 12.x, 13.x, 14.x, 15.x. A generic "latest" doesn't mean anything and will break people if they pin to latest.

[2020-10-20 15:30] #13608 closed

[2020-10-20 15:31] phlax commented on #13649
i think its no different to eg Debian tagging `Buster` -> `Stable` or eg `nginx` having an  image that you can do `docker run nginx` out of the box with

[2020-10-20 15:32] phlax commented on #13649
im thinking mostly we can use the table above and the info here https://storage.googleapis.com/envoy-pr/13490/docs/start/docker.html

[2020-10-20 15:32] mattklein123 commented on #13649
I agree, but it's a bad idea and we shouldn't repeat bad ideas just because they are common.

[2020-10-20 15:34] phlax commented on #13649
`latest` == `latest-stable` ie track stable rather  than a particular version -  i think it has specifically functionality - but defo we could doc the potential gotcha of "stable changes"

[2020-10-20 15:36] #13457 closed

[2020-10-20 15:36] phlax commented on #13649
i think right now `latest` == `v1.16-latest` as that is current stable

[2020-10-20 15:40] bryanmacfarlane commented on #815
@danesavot I also resolved by commenting out the empty http2 options

[code]

Outside of that, for everyone else, if you're running containers on the host, checkout networking: https://docs.docker.com/network/network-tutorial-standalone/

I created a custom docker bridge network, had the other containers run with --network and the jumped into the envoy container and ensured I could curl to those b

[2020-10-20 15:42] mattklein123 commented on #13649
The problem is that if someone pins to "latest" and is on the 1.16.x line, once we release 1.17.x, they will move. This is not acceptable IMO.

If this is a docs issue, I would rather just fix the docs somehow.

[2020-10-20 15:45] juanvasquezreyes commented on #13637
now I got this error, not sure what it means, is this the error you are getting too?
[code]

[2020-10-20 15:46] yuval-k commented on #13580
if we set the timeout header earlier (say in step 1), it might not reflect the real timeout when it sent upstream (in step 8).
i.e. if the time out is 1s, and the circuit breaker delay is 400ms, then the upstream will receive a header set to 1 second, where it should get 600ms instead.

[2020-10-20 15:50] phlax commented on #13649
k, well i still think we should consolidate the `-dev` images to the other envoy images (afaiaa they are the same just different release points) with a different tag *and* add a latest for the build image

[2020-10-20 15:52] mattklein123 commented on #13580
Your description of how it works is correct. I would like to step back and better understand what timeout we are trying to achieve across the queue delay, and I *definitely* want to do this generically in the async client / router. I don't think it will be hard to plumb things through once we understand the desired behavior.

I'm OK with keeping the original patch temporarily, but I would rather y

[2020-10-20 15:53] mattklein123 commented on #13649
We do have a latest tag for the nightly images.

[2020-10-20 15:55] phlax commented on #13649
my proposal

get rid of "-dev"

tag what is currently "-dev:latest" -> ":head"

[2020-10-20 15:56] phlax commented on #13649
ie, not

[code]
but, instead

[code]

[2020-10-20 15:56] phlax commented on #13649
similar to what GetEnvoy does

[2020-10-20 15:56] mattklein123 commented on #13649
The reason we have "-dev" split from non-dev is that with the nightly per-SHA images, we would get constant complaints about "
I don't see the tagged images" in docker hub, because docker hub search is terrible, so I don't think we can do this either.

[2020-10-20 15:58] phlax commented on #13649
well we are left with the non-idealized distro table

as someone who tried to follow those docs and the build etc i did not know what was official/production/dev whatever

it was my biggest gripe with the project (as a new user)

[2020-10-20 15:59] mattklein123 commented on #13649
All I can tell you is we arrived at the current state based on a bunch of iteration and a lot of people complaining. Unless there is an obviously better state, I'm not in favor of changing.

Let's fix the docs and go from there.

[2020-10-20 15:59] phlax commented on #13649
when i searched for the `Dockerfile` for the recipe i found it in the `ci` folder which just confused me further

i think we need to do a lot more like GetEnvoy and confuse new users less

sorting the docs out  should address workflows and potential pitfalls

[2020-10-20 16:00] phlax commented on #13649
ill just remove the idealized table and leave it as is - that *is* what is there

[2020-10-20 16:09] phlax commented on #13649
hmm, well at  least i will PR to tag the `envoyproxy/build-image-ubuntu` image with `latest` - im hoping there is no reason why that cant happen - and it will make using this (huge) image a lot easier

[2020-10-20 16:17] phlax commented on #13649
just to clarify (in my mind) i dont think we have "nightlies" we have the `master` head published to `-dev:latest` on last successful build

[2020-10-20 16:35] mattklein123 commented on #13649
Sure.

Correct.

[2020-10-20 17:05] yuval-k commented on #13580
I understand and agree.

As for defining the desired behavior: I think we all agree that timeouts in the async client should start when the async client request is created.
I believe we also agree that this is true for ext auth and rate limit.  Is this true for regular http request as well? do we expect different requirements for different grpc/http requests?

As for the grpc timeout header, IMHO,

[2020-10-20 17:06] rchernobelskiy opened #13659 "Proxy protocol transport socket intermittently injects wrong addresses"
*Title*: *Proxy protocol header intermittently uses wrong addresses*

*Description*:
Proxy protocol injection (envoy.transport_sockets.upstream_proxy_protocol) works as expected to start out, but once you start connecting from different IPs, the injected proxy protocol header ends up randomly having addresses from previous connections.
The log shows the right IPs but proxy protocol header intermit

[2020-10-20 17:15] mattklein123 commented on #13580
That all sounds correct to me. AsyncClient is just a thin wrapper around the router filter so I think we can pretty easily add whatever "configuration" we need to make it work.

Per above we can have "config" that is different between the real router case and the async client case if we want, though I'm not sure we want to do that. If we fix things for the better I think we can do it generically a

[2020-10-20 17:19] yuval-k commented on #13580
Sounds good - would the next step be a PR implementing the above?
I can start working on it shortly.

[2020-10-20 17:22] mattklein123 commented on #13580
I can start working on it shortly.

Yes. Either revert the extauth change in the same PR or in a different PR. I'm fine either way.

[2020-10-20 18:07] htuch commented on #13580
i.e. if the time out is 1s, and the circuit breaker delay is 400ms, then the upstream will receive a header set to 1 second, where it should get 600ms instead.

Ah, right, because `grpc-timeout` is a relative duration, not a wall-clock timestamp (for some reason I was thinking the latter). Yep, in that case we need to set it when ready.

[2020-10-20 18:42] tonya11en commented on #13604
If this is to be locally enforced, it should be fairly easy to implement since we already have the pieces in various other filters.

@Chwetion can you give an example of how you think the configuration proto should look? Would be nice to also update the description of this issue to reflect where we are in this discussion.

[2020-10-20 19:51] dmitri-d commented on #13602
Have you run `bazel clean --expunge` after installing and enabling devtoolset-9? The issue (as I see it) is that bazel doesn't recognise header files in devtoolset-9 as system ones, `bazel clean` should clear existing build configuration (including header file paths) and re-create it. It's possible to manually specify system header files location via https://docs.bazel.build/versions/master/skylar

[2020-10-20 20:53] lizan commented on #13649
No, this confuses folks as well. We pin images in this repo, which `ci/run_envoy_docker.sh` pins to, latest image could be broken and not buildable any version of Envoy before we move CI to the last one.

[2020-10-20 21:27] phlax commented on #13649
and hardcoding the sha like this https://github.com/envoyproxy/envoy/pull/13622#discussion_r507742056 doesnt?

im really struggling to see how having a `latest` in addtion to whatever sha builds there are could confuse people - sure they dont need to use it, and neither does CI

[2020-10-20 21:32] #13593 closed

[2020-10-20 22:48] mattklein123 commented on #13627
Cross reference: https://github.com/envoyproxy/envoy/issues/6387

[2020-10-20 22:56] moderation commented on #5401
It might be interesting to have Envoy added to https://ssl-config.mozilla.org/. No directions on the page of how to go about doing this.

[2020-10-20 23:08] mattklein123 commented on #6387
I was just looking at this and we actually have a test for this case:

https://github.com/envoyproxy/envoy/blob/c82a5189b19456d53bc9dcab111b04bbc5668473/test/extensions/filters/http/tap/tap_filter_integration_test.cc#L252-L261

From talking to @snowp offline it sounds like this was reported on a relatively old kernel where perhaps the early close detection was not working correctly. I'm going to c

[2020-10-20 23:09] mattklein123 commented on #13627
Turns out the related bug is not really related. I will still take a look at this as the tap code is fresh in my mind from fixing a different bug.

[2020-10-20 23:11] mattklein123 commented on #6387
Further update: this was originally reported using UDS, where early close is not supported. I'm going to do a doc update on this one.

[2020-10-20 23:24] htuch opened #13663 "SDS filesystem watches operate on file parent rather than grandparent"
https://github.com/envoyproxy/envoy/pull/10163 which resolved https://github.com/envoyproxy/envoy/issues/9359 added support for inotify watching of directories to catch symlink rotation. I think this might have a bug. Specifically, if we have a cert in `/foo/bar/cert.pem` and perform a symlink rotation on `bar`, we don't see any SDS filesystem action.

The reason is that the watch is added on `bar

[2020-10-20 23:27] htuch commented on #13663
This is basically a dupe of https://github.com/envoyproxy/envoy/issues/10979, except I claim the solution here is to watch grandparent, rather than document existing behavior. I think this should work for k8s.

[2020-10-21 01:13] Shikugawa commented on #12767
/assign @Shikugawa

[2020-10-21 03:40] Chwetion opened #13668 "some error when compilation on arm64"
I met same issue https://github.com/envoyproxy/envoy/pull/12898 when I fast build envoy in aarch64, use branch release/v1.16 @danzh2010
I use envoyproxy/envoy-build-ubuntu image and [envoy-filter-example](https://github.com/envoyproxy/envoy-filter-example)  to build envoy

[code]

[code]

uname -a: `Linux ecs-526c-0002 4.18.0-80.7.2.el7.aarch64 #1 SMP Thu Sep 12 16:13:20 UTC 2019 aarch64 aarch64 a

[2020-10-21 03:54] tsaarni commented on #13663
If `/foo/bar/cert.pem` was from Kubernetes Secret of ConfigMap, the directory would have been set in following way:

[code]

after symlink swap it would look like

[code]

If watching grantparent `/foo` I think it would not work in Kubernetes - the symlink swap is done within `/foo/bar` and no changes were made in `/foo`.

[2020-10-21 05:13] phlax commented on #13649
im going to indulge myself and explain why i think the current strategy is a really bad idea, then i will rest my case - feel free to ignore, close the ticket or leave it blowing in the wind.

### no version == latest *is* the convention

personally i dont think it is a bad idea, but regardless this is how pretty much every software distribution system works. Going against such a firm convention i

[2020-10-21 06:26] tkovacs-2 commented on #12836
@rgs1 Is there any update about this issue?
Could you give me some hints about how the relevant classes and functions are working in case if I would try to understand the relevant code and do a fix. Thanks.

[2020-10-21 08:00] aejeet opened #13670 "[WASM] Help needed with supplying configuration to custom envoy filter"
I am following the steps at https://docs.solo.io/web-assembly-hub/latest/tutorial_code/build_tutorials/building_cpp_filters/ to write a custom envoy filter. I am unable to supply custom configuration to my filter and have not been able to find any example on internet.

**Language**: c++

**My envoy proxy image:** istio/proxyv2:1.7.3

**My filter.proto**
[code]

**My envoy config**
[code]

Inside t

[2020-10-21 08:16] dimitraPat commented on #13627
Just a note, I tried to debug it a little bit more, but when enabling debug logs for the tap, and detach the client, I get a core on envoy...I have not found any related issue, so I think this should be reported too.

[2020-10-21 09:46] hazelnutsgz opened #13672 "Cannot enable pprof using static compiled envoy"
As guided by the instruction on [CPU or memory consumption testing with pprof](https://github.com/envoyproxy/envoy/blob/master/bazel/PPROF.md), I tried to monitor the overall performance behaviors of envoy.

But after running ```CPUPROFILE=/tmp/mybin.cpuprof bazel-bin/source/exe/envoy-static <args>``` to make the ```envoy-static``` running, I cannot fetch the data from /tmp/mybin.cpuprof.

I was w

[2020-10-21 11:06] Brunomachadob opened #13673 "Upstream request statistics by path"
*Description*:
Continuing the discussion on https://github.com/envoyproxy/envoy/issues/1585, it would be nice to have path tags on the `envoy.upstream_rq` for example.

In my opinion it should not be the actual path of the current request, as this could expose sensitive information and also make a lot of unnecessary dimensions on the metric.

But rather, having it based on the [RouteMatcher](https

[2020-10-21 11:57] snowp commented on #13637
Ok yeah it seems like the example is bad, it's missing the route config for the HCM config and the stat prefix.

cc @dio in case you have time to come up with a fix

[2020-10-21 13:17] juanvasquezreyes commented on #13637
also an example of the content of token secret file and hmac

Thank you

[2020-10-21 13:21] snowp commented on #13637
cc @rgs1 as well

[2020-10-21 14:47] hakuno commented on #13377
I see no interaction. Thanks in somehow.

[2020-10-21 14:47] #13377 closed

[2020-10-21 14:51] rashmi-ibm commented on #13539
Deprecating moonjit will cause failures for envoy builds on ppc64le architecture. Can the support for moonjit be retained..

[2020-10-21 15:13] mattklein123 commented on #13649
For the official images, I am strongly against a generic latest tag for the reasons noted. So objections noted but we aren't going to do that.

For the build image I think it's fine to have a latest tag (and we can still spin to SHA in CI) but I will defer to @lizan on that.

[2020-10-21 15:23] KBaichoo commented on #13091
Sure thing, I'll take a look at that as well.

[2020-10-21 15:23] KBaichoo commented on #13091
/assign @KBaichoo

[2020-10-21 16:55] kyessenov commented on #13157
I'll work on this. This is affecting istio downstream.

[2020-10-21 17:24] jaegchoi opened #13680 "Adding authorization token to Rate Limit requests"
Hi, we have adopted the Rate Limiting Service with Envoy and we have added token validation logic to the Rate Limiting Service.
Now we are trying to configure Envoy to get an OAuth2.0 token using Client Credentials, and then send that along in the call credentials for the Rate Limiting request.

I see in the documentation below that google_grpc supports the addition of call credentials:
(https://w

[2020-10-21 17:50] gkleiman opened #13681 "Segfault parsing xDS response with new v3 field and v2 typeUrl"
*Title*: Segfault parsing v3 xDS response to v2 request

*Description*:
We’re in the process of migrating to the v3 xDS API. Our control plane is currently sending v3 protos to both v2 and v3 endpoints after appropriately changing the typeUrl.

We recently tried setting in our v3 CDS responses a proto field that’s only present on the v3 API ([config.cluster.v3.Cluster.LeastRequestLbConfig.active_r

[2020-10-21 18:53] lizan commented on #13649
That's a separate issue from tagging build docker image. I am still against tagging latest and recommend that to folks to use. The only image would work is what that script, (i.e. what `ci/envoy_build_sha.sh` sets to env). We've been seen issues before:
- using latest image to build older version, now we have stable releases so this is likely to happen.
- the latest image not even buildable master

[2020-10-21 19:03] htuch commented on #5355
@lambdai @costinm now that we have drainless listener updates, are we good to deprecate bind_to_port and remove this on the Envoy minor version cycle? Reopening to track this for v3.

[2020-10-21 19:06] phlax commented on #13649
not entirely.

not having a `latest` image creates 2 problems

- in documentation you *must* hardcode the somewhat arbitrary last-build-sha-on-the-build-repo-when-the-docs-were-published
- trying to use the image outside of the `run_envoy_docker.sh` script looks like this

[code]

ie. you have to copypasta  the sha to make the image work  - which is just frustrating

to make clear  why  running `r

[2020-10-21 19:15] juanvasquezreyes commented on #13637
Another question, I'm planning to have envoy running in a server that will route my request to another app www.myapp.com, this app doesnt have any authorization defined, planning to use envoy to do the authorization and send it to my app

based on this, what should be in the redirect_uri key? myapp.com or where envoy is running with /callback?

also, how can I set the oidc token in a cookie and re

[2020-10-21 19:23] phlax commented on #13649
apologies if my example seemed flippant - i was trying to make a point - inside that container you have root on the *host*

[2020-10-21 20:01] lizan commented on #13649
Again it's not a tagging issue or an issue of the script. if you can do `docker run`, no matter you use the script or not you already have root access to the host... i.e. just run `docker run -v /:/nom-nom-im-going-to-eat-you bash -c 'whoami && ls /nom-nom-im-going-to-eat-you'` even if you're not root?

I'm happy to improve the doc or script re: how to get the image tag properly, but `latest` does

[2020-10-21 20:04] phlax commented on #13649
i give up

[2020-10-21 20:04] #13649 closed

[2020-10-21 20:20] lambdai opened #13685 "Setting Default filter chain but no common filter chains should not "no filter chains specified" exception"
[code]

Work around: create a never hit filter chain in listener.

Need to add tests coverage also validate that the rest of the code could tolerate empty common filter chain collection.

[2020-10-21 20:24] asraa commented on #13647
Fixed by https://github.com/envoyproxy/envoy/pull/13654

[2020-10-21 20:24] #13647 closed

[2020-10-21 20:25] #13609 closed

[2020-10-21 20:26] lambdai commented on #13685
The latter case could be
[code]

[2020-10-21 20:37] sunjayBhatia commented on #13668
Are you configuring Bazel to use the gcc toolchain?

Seems like a similar issue again as https://github.com/envoyproxy/envoy/issues/10422

cc @danzh2010

[2020-10-21 20:48] sunjayBhatia commented on #13680
See https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/other_protocols/grpc#arch-overview-grpc-services for some more documentation on use cases of the Envoy gRPC vs Google gRPC services

[2020-10-21 21:09] kyessenov opened #13690 "wasm: plugin configuration is racey"
Context: https://github.com/istio/istio/issues/28017

[Plugin configuration](https://github.com/envoyproxy/envoy/blob/master/api/envoy/extensions/wasm/v3/wasm.proto#L78) is applied every time xDS is loaded that references the same `root_id`. This is inherently racey if the same `root_id` is referenced in multiple places. It is also applied if the xDS is rejected, corrupting the existing plugin con

[2020-10-21 22:37] htuch commented on #13663
In this case, I'd argue we should be watching `/foo/bar/..data/cert.pem`, rather than `/foo/bar/cert.pem`. This makes this compatible with other key rotation schemes which work like described ^^.

[2020-10-21 22:38] htuch commented on #13663
We need to have a consistent directory-level symlink to follow to solve https://github.com/envoyproxy/envoy/issues/13370 as well I think.

[2020-10-21 23:18] htuch commented on #13539
@rashmi-ibm I think it's only reasonable for us to support dependencies for architectures that are in our CI. I suggest that IBM either works to add ppc64le to Envoy CI or takes on the job of producing an Envoy distribution that adds MoonJIT support outside of this repository.

[2020-10-21 23:20] williamsfu99 commented on #13637
@juanvasquezreyes
Your redirect_uri key should be the same uri used in the initial request before the redirect to the authn server occurs. The provided example `%REQ(:x-forwarded-proto)%://%REQ(:authority)%/callback` is a great start, assuming you're okay with the `/callback` path being the filter's path to match on to determine whether or not it is handling a redirected request.

When the authn s

[2020-10-21 23:51] #13587 closed

[2020-10-22 00:09] yanavlasov commented on #13672
Can you clarify the problem, please?

[2020-10-22 00:58] yanavlasov commented on #13643
There are multiple reasons for local reset. For instance response timeout, invalid messaging from upstream, etc. You need to see if there are any other counters that go up with the upstream_reset_before_response_started.

[2020-10-22 01:31] Chwetion commented on #13668
no, all step as description @sunjayBhatia
[code]

[2020-10-22 01:40] snowp opened #13699 "Migrate EDS endpoints_stale_after to xDS TTL"
With the introduction of xDS TTL we can now get rid of the EDS specific option `endpoints_stale_after` and instead rely on generic TTL support.

To support this we need to ensure that the EDS subscription code is correctly handling an EDS resource removal, which today is ignored. Once this is done we can go ahead and deprecate the `endpoints_stale_after` field.

[2020-10-22 01:42] snowp opened #13700 "Ensure all xDS subscription code handles xDS removals"
With the introduction of Delta xDS support for resource removal was added. While all xDS subscribers are forced to implement the `onConfigUpdate` function that specifies the removed resources, most of them either reject or ignore this value. We should audit all the resource types and ensure that resources are properly honored.

This will be required before we can be confident that xDS TTL is suppo

[2020-10-22 01:58] Chwetion commented on #13668
I successfully compiled the binary file by modifying the bazel/envoy_internal.bzl file. But I don't know if this will affect the binary.
Edit: commented out Werror.
[code]

[2020-10-22 02:53] jmarantz commented on #13413
Not sure if this is helpful but for an earlier project that also had a stats system and caches, we tracked these:

- Histograms: `hit_latency_us`, `insert_latency_us`, `insert_size_bytes`, `lookup_size_bytes`, and `get_count` (number of keys in a single multi-get request)
- Counters: `deletes`, `hits`, `inserts`, and `misses`

That list might be a place to start that is implementation-independent.

[2020-10-22 03:15] tsaarni commented on #13663
Inotify watch will get deleted automatically then target gets deleted:

(a) If watching `/foo/bar/..data/cert.pem` the watch gets deleted during swap when the old version of the file `/foo/bar/..timestamp-1/cert.pem` is deleted.

(b) If watching `/foo/bar/..data` the watch gets deleted during swap when the old symlink `/foo/bar/..data --> /foo/bar/..timestamp-1/` gets deleted.

and then further no

[2020-10-22 03:44] hazelnutsgz commented on #13672
The thing here is that no such the file called ```/tmp/mybin.cpuprof``` was found, after running ```CPUPROFILE=/tmp/mybin.cpuprof bazel-bin/source/exe/envoy-static -c myconfig.yaml```.

So I cannot use ```pprof -text bazel-bin/source/exe/envoy main_common_base* | head -n5``` to get the pprof result.

Thanks.

[2020-10-22 04:06] sunjayBhatia commented on #13668
I think you will find given the path setup in that container image and the fact that you're not passing `--config=clang` to `bazel build` you are still building with GCC (just tried it and verified)

Now the fact that `bazel build <envoy target>` doesn't "just work" in the build container is not great

To get around your initial issues and not remove `-Werror`, I would run `bazel build --config=cl

[2020-10-22 04:06] sunjayBhatia commented on #13668
We could add some CI verification that `bazel build <...>` without any decoration "just works" at least from within the build container image

[2020-10-22 04:27] chintan-mishra commented on #13221
Any suggestions to get this working on Fedora/CentOS with Podman?

[2020-10-22 04:58] chengdol opened #13704 "How to only allow specific domains for https request in envoy forward proxy?"
*Title*:  How to only allow specific domains for https request in envoy forward proxy?

*Description*:
I configure envoy as a forward proxy for https request, from my test log in this case the `domains` list in virtual_hosts has to be `*`, otherwise envoy cannot find upstream cluster and return 404, for example:
[code]
But I only want to allow specific domains to go through the connection, and oth

[2020-10-22 05:46] Chwetion commented on #13668
Hi @sunjayBhatia, i try to run `bazel build --config=clang //:envoy` replace `bazel build //:envoy` step , but met some error as follow:
[code]

[2020-10-22 08:50] WestEnlarged commented on #13194
I retried but faild, and give up windows.  Instead of windows, I trail run building in Alpine (WSL).

I run `./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.dev'` , and the output like this. Is code of master has problem? or any other tip with me to fix this?

DESKTOP-6KJIBN1:/mnt/d/code/envoy# ./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.dev'
Unable to find image 'envoyproxy/envoy-build-ubuntu:b48

[2020-10-22 08:54] gontard opened #13705 "Document the behaviour of JWT Authentication if the remote JWKS fetch failed"
*Title*: *Document the behaviour of JWT Authentication if the remote JWKS fetch failed*

*Description*:
It isn't explicit in the documentation (or i haven't find it) what happens if for some reasons (misconfiguration, network errors...) the JWKS fetching fails.

In this situation (no available JWKS):
- What's happen if [`allow_missing`](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions

[2020-10-22 11:39] kkatrio opened #13708 "Remote JWKS doesn't seem to cache public key despite cache_duration being configured in jwt_auth filter"
*Title*: Remote JWKS doesn't seem to cache public key despite cache_duration being configured in jwt_auth filter

*Description*:
When using the jwt authentication filter to validate successfully a request by fetching the public key from a remote location, the key doesn't seem to be cached. If the same request is sent within the cache duration that is specified in the configuration, envoy tries to

[2020-10-22 12:33] #13505 closed

[2020-10-22 12:47] phlax opened #13709 "Improve shellcheck error output in CI"
### description

atm, if shellcheck fails in format CI its hard to know that is the problem (unless you know that shellcheck is the other thing that can fail)

i guess we need to catch the shellcheck return code and add some info at bottom of CI if it failed

[2020-10-22 14:21] sunjayBhatia commented on #13194
that looks like a download error which should be good to retry

just a word of warning, we don't explicitly test building Envoy in WSL, it may work but there is not validation in CI or otherwise

If youre comfortable with developing in containers, see https://github.com/envoyproxy/envoy/tree/master/ci#on-windows for notes on using the Windows container build image

[2020-10-22 14:25] sunjayBhatia commented on #13668
Ah my bad, I forgot it is not that simple

You may be best served following the instructions here: https://github.com/envoyproxy/envoy/tree/master/ci#on-linux

The `./ci/do_ci.sh` script sets up the build environment and toolchains for you

[2020-10-22 14:39] cpakulski commented on #8259
I think that this issue has been fixed by https://github.com/envoyproxy/envoy/pull/11629. @lambdai please confirm, so it can be closed.

[2020-10-22 14:54] htuch commented on #13663
In my example, the inotify watch is places on `/foo/bar`, so it shouldn't be deleted; if you're saying this is what the implementation does because the underlying file has been deleted, I think we can fix the Envoy implementation.

[2020-10-22 15:14] sunjayBhatia commented on #11974
See https://github.com/envoyproxy/envoy/pull/13688 as a tracking draft PR

some outstanding issues it seems with clang-cl have us blocked

[2020-10-22 15:14] tsaarni commented on #13663
Sorry, I think I then missed what you meant.   If I set inotify watch for file `/foo/bar/..data/cert.pem`, it did not work after underlying file and therefore also watch got deleted at first rotate.

The current behavior is that when SDS config is as following:

[code]

inotify is armed to watch all changes on directory `/foo/bar`.  If comparing to runtime config, I think this is roughly equivalen

[2020-10-22 15:40] asraa commented on #13708
@qiwzhang Do you happen to know if cache duration applies to remote keys?

[2020-10-22 16:06] ankatare commented on #12841
@htuch yeah, found below packages from v2.

"//envoy/config/filter/thrift/router/v2alpha1:pkg",
        "//envoy/config/health_checker/redis/v2:pkg",
"//envoy/config/resource_monitor/fixed_heap/v2alpha:pkg",
        "//envoy/config/resource_monitor/injected_resource/v2alpha:pkg",
        "//envoy/config/retry/omit_canary_hosts/v2:pkg",
        "//envoy/config/retry/previous_hosts/v2:pkg",

what do

[2020-10-22 16:34] htuch commented on #13663
I'm suggested we:
1. Set a watch on `/foo/bar/..data/cert.pem`.
2. Fix the existing behavior to watch on grandparent, i.e. on `/foo/bar`.
The existing behavior relies on very specific k8s behavior where the cert is present both in the parent directory as well as in the symlinked directory. I think the general case would only be in the symlinked directory.

[2020-10-22 16:49] qiwzhang commented on #13708
Cache is per worker thread. The reason is not to use Mutex lock.   If the second request is processed by other thread,  it needs to fetch again.

[2020-10-22 16:54] qiwzhang commented on #13705
For remote JWKS fetching.  The fetching happens at the request processing time which the JWKS is needed.  If fetching fails, the original request will fail with 401.

There is not re-try.  The next request that needs that JWKS will trigger a fetch again.

if `allow_missing` flag is set, the request still fail since the error is not JwtMissing.
if `allow_missing_or_failed` is set, the request will

[2020-10-22 17:05] ankatare commented on #12841
let say if i talk about //envoy/config/filter/thrift/router/v2alpha1:pkg".
so should i need to copy //envoy/config/filter/thrift/router/v2alpha1/files to //envoy/config/filter/thrift/router/v3/

is my understanding correct ?

[2020-10-22 17:07] mattklein123 commented on #6387
https://github.com/envoyproxy/envoy/pull/13692 added some docs around not using UDS. I will leave this open and add a warning and/or failure if admin tap is configured and admin is listening on UDS.

[2020-10-22 17:28] ankatare commented on #12841
and then putting status as (udpa.annotations.file_status).package_version_status = FROZEN;
 in .proto file for above example
api/envoy/config/filter/thrift/router/v2alpha1/router.proto

and similarly for other cases of v2 packages ?

[2020-10-22 17:32] yanavlasov commented on #12281
Upstream flood and abuse checks will be implemented in the following steps:

1. Add upstream flood and abuse checks to the client codec, protected by a runtime flag, disabled by default. (see PR#13635)
1. Implement all tests for all relevant upstream flood/abuse cases
1. Flip the upstream checks to be enabled by default, and runtime flag to disable them.
1. Remove the flag altogether after depreca

[2020-10-22 17:48] yanavlasov commented on #12281
Tests that need to be implemented for upstream flood/abuse checks. Test names come from the http2_flood_integration_tests test suite

- [x] Ping PR#13635
- [ ] Settings
- [ ] Metadata
- [ ] WindowUpdateOnLowWatermarkFlood
- [ ] RST_STREAM
- [ ] GoAwayOverflowOnDrainTimeout
- [ ] DownstreamIdleTimeoutTriggersFloodProtection
- [ ] DownstreamConnectionDurationTimeoutTriggersFloodProtection
- [ ] RstS

[2020-10-22 17:52] htuch commented on #13681
Sure, I can fix this. I can confirm that it's not valid to use v3 fields in v2 messages, but it shouldn't crash.

[2020-10-22 18:02] alyssawilk commented on #3431
I'm really not sure what the plan was w.r.t delegated connection pool.  Even if we had an outer pool wrapping an inner HTTP/1 and inner HTTP/2 pool we'd need to create a connection somewhere, and hope ALPN matched?  Or we need to create raw TCP connections and once they're established, stick that connection into a codec?

I think we want to go go the latter route, and if we do I don't think there'

[2020-10-22 18:06] asraa commented on #4705
Did rapidjson perform better than the current protobuf json parser for access logging? I would love to get rid of rapidjson as well. I think maybe improving json formatted access logging could be done orthogonally, it seems like protocol buffer json parsing is a little nitty with what is fast (e.g. ListValue's are slow).

Another high performance alternatives is the gRPC JSON parser, but I don't s

[2020-10-22 18:10] #12279 closed

[2020-10-22 18:14] tsaarni commented on #13663
I think that could work.  Some further thoughts:

**(a)** How to do this without breaking current users that rely on K8s Secret updates working with the normal path?

**(b)** The [ConfigSource](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/config_source.proto#envoy-v3-api-msg-config-core-v3-configsource) doc says "_Envoy will only watch the file path for moves_".  Should this a

[2020-10-22 18:18] alyssawilk commented on #3431
Basically something like mixed_connection_pool.* here
https://github.com/envoyproxy/envoy/compare/master...alyssawilk:h1_h2?expand=1
but without all the FIXMEs :-P

[2020-10-22 18:28] lambdai commented on #8259
@cpakulski Yes #11629 is the fix. Thank you for linking it

[2020-10-22 18:28] #8259 closed

[2020-10-22 18:28] lambdai commented on #10770
Late note:  #11629 is the fix

[2020-10-22 18:41] gontard commented on #13705
Crystal clear 👍
thanks for your answer!

[2020-10-22 18:41] mcieplak commented on #13553
@kyessenov I thought the request protocol is actually the protocol from the incoming client connecting to Envoy. Is this not the case? If the Wasm filter needs to be attached before the main envoy.router filter then I believe we do not have the upstream cluster information and it's corresponding protocol here in the onRequest flow.

This is the reason which I was hoping the response protocol would

[2020-10-22 18:42] aejeet commented on #13670
Already answered in another channel i had posted same question to
https://github.com/solo-io/gloo/issues/3778

[2020-10-22 18:44] jaegchoi commented on #13680
Thanks, but I believe that is the same link that I included in the original post.

As to your second point, that's encouraging, I wonder if you or anyone else has an example on doing this.
My Rate Limit Filter config is as below and when I include the call_credentials section the request seems to fail to reach the rate limiting service.
In my envoy log the one message I see that might be relevant

[2020-10-22 20:07] lizan commented on #4705
Another option would be https://github.com/nlohmann/json ? I remember @htuch said it has been tested internally?

[2020-10-22 20:10] asraa commented on #4705
Actually that would be the most ideal from our perspective!!
It has 100% test coverage, fuzzed in OSS-Fuzz, uses sanitizers for test, and is fast

[2020-10-22 20:14] mattklein123 commented on #4705
Given that we no longer use JSON schema, any of our JSON needs should be very simple, so I think any supported/fast library is fine!

[2020-10-22 20:23] aa-stripe commented on #4705
I skimmed the `nlohmann::json` docs and that looks like it would work great. iirc the main reason we switched to using protobuf was a) to align with the rest of json handling in envoy code and b) because as long as we could fit the data into a valid proto struct, we were guaranteed to have valid data, good serialization etc.

But if we get these guarantees through another library as well, I'm all

[2020-10-22 20:26] kyessenov commented on #4705
Yes, `nlohmann::json` is approved for use within Google for parsing JSON. We chose it to parse config in Wasm (protobuf is too big for that purpose).

[2020-10-22 20:29] mattklein123 commented on #3431
@alyssawilk yes +1 I agree with the implementation you have outlined and this is roughly how I would have implemented it also. Do you want to just open a PR with your draft to take a look there? Exciting!

[2020-10-22 20:31] mattklein123 commented on #4705
Sounds like a plan! I'm guessing it will be very straightforward to swap.

[2020-10-22 20:36] htuch commented on #4705
I'm in general agreement, but could someone walk through the formalities of answering the questions in https://github.com/envoyproxy/envoy/blob/master/DEPENDENCY_POLICY.md#new-external-dependencies? Since this is an new dependency, we'd like to make sure we walk through this checklist.

[2020-10-22 20:54] htuch commented on #4705
CC @moderation

[2020-10-22 21:39] htuch commented on #13663
(a) this would be a config/runtime option
(b) yes, this would be updated conditional on (a)
(c) it might not be in the k8s specification, but any sensible key rotation system is going to need to be doing directory swapping and have some canonical directory containing the cert/key.

[2020-10-22 22:09] htuch commented on #12841
so should i need to copy //envoy/config/filter/thrift/router/v2alpha1/files to //envoy/config/filter/thrift/router/v3/

This needs to match the new layout for filters, we've moved from envoy/config/filter to envoy/extensions/filters.

Yes, then run proto_format and fix whatever issues and apply the transforms come out of that.

[2020-10-22 22:11] htuch commented on #12841
(and yep, that list of packages seems right)

[2020-10-22 22:15] #13497 closed

[2020-10-22 22:47] PinchasLev opened #13716 "v1.14.5 introduces 3x latency"
*Title*: *Upgrading from v1.14.4 to 1.14.5 introduces 3x latency on average*

*Description*:
A user reported a noticeable increase in latency following an Envoy upgrade.  The latency increase is not reflected in Envoy metrics.  Rolling back to 1.14.4 resolved the problem, having latencies return to their pre-upgrade levels.

I'll provide the requested info such as tarball and stats once I get them

[2020-10-22 23:07] cgthayer opened #13718 "External Auth v3 missing http_service support"
*Title*: External Auth v3 missing http_service support (has grpc_service)

*Description*:
Looking at the proto:

https://github.com/envoyproxy/envoy/blob/8281dd61867bfa7cf67c54389190c29ecac8d76d/api/envoy/extensions/filters/network/ext_authz/v3/ext_authz.proto#L27

Looks like `http_service` was removed or accidentally dropped.  I would suggest leaving it in since it's usually a localhost connectio

[2020-10-22 23:59] PiotrSikora opened #13720 "Migrate Emscripten to native Bazel support"
Emscripten recently gained native Bazel support, we should use it instead of the custom rules:
https://github.com/emscripten-core/emsdk/tree/master/bazel

[2020-10-23 01:17] Chwetion commented on #13668
but i need compile my out tree filter, as https://github.com/envoyproxy/envoy-filter-example.

[2020-10-23 02:29] moderation commented on #9958
Getting closer - RC1 - https://opensource.googleblog.com/2020/10/opentelemetrys-first-release-candidates.html

[2020-10-23 04:36] andreyprezotto commented on #13637
@snowp could you figure out what is missing in the config below. I'm running into a similar issue here

error: `Protobuf message (type envoy.config.bootstrap.v3.Bootstrap reason INVALID_ARGUMENT:clusters: Cannot find field.) has unknown fields`
[code]
Version: 1.17
thank you!

[2020-10-23 04:57] incfly commented on #11120
/cc @incfly

[2020-10-23 05:05] ankatare commented on #12841
@htuch ok. thanks for quick clarifications.

[2020-10-23 05:10] #13709 closed

[2020-10-23 05:10] ankatare commented on #12841
one quick things is there any docs through i can check such layout changes from v2 to v3  etc ?  like as you mentioned for filters.

[2020-10-23 05:17] GinYM commented on #13699
Hi, can I help with this task?

[2020-10-23 07:13] phlax opened #13725 "repokitteh /retest seems to be broken"
### description

/retest seems to no longer work, instead gives the message

[code]

[2020-10-23 07:15] phlax commented on #13725
also doesnt seem to cope with restarting a test that has been cancelled due to timeout

[2020-10-23 07:44] Coconut105 commented on #12377
Hello,
having issuer attribute always set to some value in Envoy is against https://tools.ietf.org/html/rfc7519#section-4.1.1 where it is mentioned as optional.
Could you please fix it so that is also optional in Envoy?

[2020-10-23 08:08] perlun opened #13726 "Support .yaml.j2 and .json.j2 file suffixes for --config-path"
*Title*: Support `.yaml.j2` and `.json.j2` file suffixes for `--config-path`

*Description*:
Envoy currently uses the file suffix to determine the file format being used, as described in the docs: https://www.envoyproxy.io/docs/envoy/latest/operations/cli#cmdoption-c

However, this is a bit inflexible. We call our config files `envoy.yaml.j2`, since they are Jinja templates that we deploy using An

[2020-10-23 08:33] gontard commented on #13705
@qiwzhang another question, in case `allow_missing_or_failed` is set, is there a way (a header?) for the next filter or for an upstream server to know if the JWT verification failed because the client didn't send a valid one or because the server failed to fetch the JWKS?

[2020-10-23 10:12] htuch commented on #13454
@mattklein123 should we open an issue to track the longer-term API evolution here? Any thoughts on where we would go with that? To recap, the idea is that we're fixing the mechanics around accessing multiple header values in the CVE and here, but we would ideally have a more ergonomic API for writing matchers that operate on multiple distinct header values. CC @snowp as this might be effectively c

[2020-10-23 12:25] Agent-Tao commented on #13625
It seems that  the cluster lb_policy is not be set.  you must use Consistent Hash policy，like ring hash or MAGLEV to ensure the order.

[2020-10-23 12:27] Agent-Tao commented on #13625
here is an example:

  clusters:
  - name: redis_cluster
    connect_timeout: 1s
    type: strict_dns # static
    lb_policy: MAGLEV
    load_assignment:
      cluster_name: redis_cluster
      endpoints:
      - lb_endpoints:
        - endpoint:
            address:
              socket_address:
                address: localhost
                port_value: 6379

[2020-10-23 12:40] zjd87 commented on #13602
occur new err after bazel clean --expunge
clang++ -MMD -MF obj/torque_generated_initializers/regexp-exec-tq-csa.o.d -DUSE_UDEV -DUSE_AURA=1 -DUSE_NSS_CERTS=1 -DUSE_X11=1 -D_FILE_OFFSET_BITS=64 -D_LARGEFILE_SOURCE -D_LARGEFILE64_SOURCE -D_GNU_SOURCE -DCR_CLANG_REVISION=\"\" -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D_FORTIFY_SOURCE=2 -DNDEBUG -DNVALGRIND -DDYNAMIC_ANNOTATIONS_ENABLED=0 -DV8_

[2020-10-23 12:43] zjd87 commented on #13602
@dmitri-d

[2020-10-23 13:30] #13627 closed

[2020-10-23 13:43] juanvasquezreyes commented on #13637
Not sure if that si the way that is supposed to work, but I was able to fix those issues
- name: envoy.filters.network.http_connection_manager
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
          tracing: {}
          codec_type: "AUTO"
          stat_prefix: ingress_http
          route_config:

[2020-10-23 13:50] asraa commented on #4705
Sure! I'll give it a shot.

* Releases: Yes, releases happen often, there were at least three this year. https://github.com/nlohmann/json/releases
* Security vulnerability disclosure process: sort of (https://github.com/nlohmann/json/security/policy).  This is linked before you create an open issue on GitHub. Contact details: mail@nlohmann.me, single owner.
* Effective governance: single maintaine

[2020-10-23 14:33] mohit-a21 opened #13731 "wasm: envoy specific ABI to add tags to active span"
*Title*: *envoy specific ABI to add tags to active span*

*Description*:
Currently, we don't have a way to add tags to the active span for a request being processed by wasm filter. We would like to add an envoy specific ABI which would allow us to do the same.

[code]

[2020-10-23 14:40] mohit-a21 commented on #13731
I have created a PR for this: https://github.com/envoyproxy/envoy/pull/13732 to showcase how the changes look like. Will appreciate the feedback.

[2020-10-23 15:00] skiptomyliu opened #13733 "DNS Filter: high latency when using upstream resolvers"
*Title*: DNS Filter - high latency when using upstream resolvers

*Description*:
When using the DNS filter's upstream resolvers there's an additional ~5sec latency with resolves.

Using `host` and `dig` don't appear to be affected, but when performing a HTTP request where the requests first performs a DNS lookup, I'm noticing a consistent 5sec additional latency.  The latency isn't there if I defi

[2020-10-23 15:07] htuch commented on #4705
Thanks @asraa, that's really thorough. I think this scores relatively high on our criteria, @envoyproxy/dependency-shepherds WDYT?

[2020-10-23 15:17] sunjayBhatia commented on #13668
Ah yes, a similar pattern is available for the filter example if you take a look at the CI configuration here: https://github.com/envoyproxy/envoy-filter-example/blob/b9b73e2907f64c6dc15a53d5c0bccf11e1cc3820/.circleci/config.yml

which should do setup of the bits needed in this script: https://github.com/envoyproxy/envoy-filter-example/blob/b9b73e2907f64c6dc15a53d5c0bccf11e1cc3820/ci/do_ci.sh

loo

[2020-10-23 15:39] mattklein123 commented on #4705
SGTM!

[2020-10-23 15:40] williamsfu99 commented on #13637
@juanvasquezreyes
I will try to improve the documentation for this filter this weekend.

The conventional OAuth flow involves:
1. An unauthenticated user arrives at `myapp.com`, and the oauth filter redirects them to the `authorization_endpoint` for login. The client ID is sent in the query string in this first redirect.
2. After a successful login, the authn server should be configured to redirec

[2020-10-23 15:45] mattklein123 commented on #13454
FWIW this issue is not about matching. All of the TODOs that reference this issue are mostly around output of multiple header values. I think we can track any remaining API issues separately?

[2020-10-23 15:48] mattklein123 commented on #13733
@abaptiste do you mind taking a look at this?

[2020-10-23 15:52] #13613 closed

[2020-10-23 15:58] #13605 closed

[2020-10-23 16:01] #12305 closed

[2020-10-23 16:22] hsuyuming opened #13736 "Question about how to use envoy Oauth2"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: Question about how to use envoy Oauth2

*Description*:
I very want to learn how to use envoy's Oauth2 functionality. Is it possible can integrate with github Oauth o

[2020-10-23 16:50] qiwzhang commented on #13705
For the next filter, yes,  the verification status is saved in stream_info responseCodeDetail.   No, for upstream server.

[2020-10-23 16:54] wrowe commented on #13539
https://github.com/envoyproxy/envoy/blob/master/DEPENDENCY_POLICY.md spells out the project policy. I imagine, @rashmi-ibm , that this dependency wouldn't be entertained in the first place, if presented today.

While there are a number of approaches to supporting ppc64le and s390x, the most rational one would be to cherry pick the useful support from moonjit (which is already forked from luajit) a