[2019-11-25 18:48] cstrahan commented on #5851
@zanes2016 Please report on my bazel issue here: https://github.com/bazelbuild/bazel/issues/9275

The sooner bazel project management realize this is a problem, the sooner they can fix things.

[2019-11-25 19:03] zuercher commented on #9128
I think if you look at the logs for envoy2 you'll see that envoy1 is making a plaintext connection and envoy2 is terminating the connection because it's not TLS. You need to configure the transport socket (and possibly tls context) for the cluster in envoy1 so that it attempts a TLS connection.

Yes, it can be configured that way. Currently your cluster is configured to make upstream connections w

[2019-11-25 19:06] zuercher commented on #9129
I think you want to look at [RouteAction's](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#envoy-api-msg-route-routeaction) idle_timeout field.

[2019-11-25 19:10] zuercher commented on #9129
Sorry, that's just a route-specific override of stream_idle_timeout.

Why doesn't stream_idle_timeout provide the functionality you need?

[2019-11-25 20:25] moderation commented on #7363
0.12.0 released - https://github.com/lightstep/lightstep-tracer-cpp/releases/tag/v0.12.0. Updated title and text @tedsuo @objectiser

[2019-11-25 21:47] jsbucy opened #9133 "smtp to grpc gateway"
**Issue Template**

*Title*: smtp to grpc gateway

*Description*:
I'm interested in implementing an smtp-to-grpc gateway as an envoy plugin. The plugin would transcode rfc5321 to a grpc/protobuf intra-cluster representation "smtp.proto". This would open up access to any language with grpc support; you can receive smtp by writing a grpc handler. I'm thinking that this approach could be useful in si

[2019-11-25 22:38] dio commented on #9133
cc. @lizan

[2019-11-26 02:01] lizan commented on #9133
This should be doable within existing extension mechanism, with SMTP L4 filter + grpc bridge, it will be more generically reusable to split them to two.

Not sure how exactly `STARTTLS` works, but if you're able to handle it within listener filter, then the transport socket can be kicked in after that.

[2019-11-26 03:31] wbpcode opened #9137 "endpoint granularity metrics"
Envoy now supports cluster granularity metrics. But if I want to achieve more fine-grained observability, does envoy support endpoint granularity metrics?

[2019-11-26 03:35] ramaraochavali commented on #9137
Some of the endpoint/host related metrics are available in` /clusters` endpoint - if that helps you.

[2019-11-26 05:17] RisingSun777 opened #9138 "Browser getting static files from rewritten URLs instead of matched route"
*Title*
Question: Browser getting static files from rewritten URLs instead of matched route

*Description*:
Currently I want Envoy to route to a backend cluster using this endpoint: <some-domain>.com/cluster1.

The virtual host config contains the following:
`
              - match:
                  prefix: "/cluster1/"
                route:
                  cluster: cluster1

[2019-11-26 05:42] derekargueta commented on #8525
That specific example might've been fixed by https://github.com/envoyproxy/envoy/pull/8678 but there are other instances that need fixing, such as
- https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cluster/filter.proto
- https://www.envoyproxy.io/docs/envoy/latest/api-v2/admin/v2alpha/tap.proto
- https://www.envoyproxy.io/docs/envoy/latest/api-v2/service/discovery/v2/ads.proto

to name a

[2019-11-26 07:14] madhu-shankar commented on #8690
@eziskind yes, that is the case. We are seeing that the stats are getting updated properly, but envoy is still accepting requests.

[2019-11-26 07:27] lizan commented on #9128
From quick skim on the config, you need `http2_protocol_options: {}` in envoy2 cluster config to mark it compatible with h2.

[2019-11-26 08:02] tony612 commented on #6138
Any progress on this? I thought Redis will have same access logs as TCP proxy.

[2019-11-26 09:25] Yogu commented on #9129
Ah I thought `stream_idle_timeout` was meant to close keep-alive connections when there are no active requests, but you're right, the docs explicitly recommend this for streaming APIs.

It looks like envoy sends [408 Request Timeout](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/408) if this timeout takes effect. This works well for keep-alive connections (the server informs the client

[2019-11-26 13:05] yks0000 commented on #9128
Thank you @lizan  and @zuercher. It helps.

[2019-11-26 13:05] #9128 closed

[2019-11-26 14:25] aditi23 opened #9141 "Envoy not able to reload successfully in case of GRPC Cluster deletion"
*Description*:

We use envoy as a sidecar in our API Gateway, all the ingress and egress(REST And GRPC) calls passes through envoy.
Since many services use envoy, we have common role to support any of the config json or yaml. In this case we are using yaml.
`(/usr/bin/envoy -c /etc/envoy/envoy.json --restart-epoch $RESTART_EPOCH) || (/usr/bin/envoy -c /etc/envoy/envoy.yaml --restart-epoch $RESTART

[2019-11-26 15:38] CodingSinger opened #9142 "can envoy support dubbo or not now?"
if yes, there is some samples for this feature?

[2019-11-26 15:55] moderation commented on #9142
- https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/network_filters/dubbo_proxy_filter.html?highlight=dubbo
- https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/dubbo_proxy/v2alpha1/dubbo_proxy.proto.html?highlight=dubbo

[2019-11-26 16:00] penguingao opened #9143 "Pass selective StreamInfo across recreateStream"
*Title*:  Pass selective StreamInfo across ConnectionManagerImpl::ActiveStreamDecoderFilter::recreateStream

*Description*:
In order to add support for configurable number of internal redirects to follow, some book keeping needs to be done across filter chains created by recreateStream within the context of the same downstream request.

The current behavior is that StreamInfo is recreated complete

[2019-11-26 16:01] penguingao commented on #9143
@alyssawilk

[2019-11-26 16:10] mattklein123 commented on #8525
For whoever works on this, let's please actually enforce this in the proto transform / format tool and then make the format check fail?

[2019-11-26 16:40] penguingao commented on #9143
I don't seem to have the permission to assign this to myself.

[2019-11-26 17:03] abaptiste commented on #3395
I'm working on adding an option currently called `--server-exit-on-bind-failure` that will print a message identifying the address and port that we failed to bind to.  The message will also indicate that Envoy is exiting.

[2019-11-26 17:06] penguingao opened #9144 "Internal Redirect: Add support for configurable maximum hops"
*Title*: Internal Redirect: Add support for configurable maximum hops and request with body

*Description*:
Add configurable maximum number of hops internal redirect should follow. The current behavior is that maximum_hops always equals to 1. The state is tracked by existence of x-envoy-original-url. We should do this bookkeeping in StreamInfo::FilterState once #9143 is done.

Number of maximum ho

[2019-11-26 17:06] penguingao commented on #9144
@alyssawilk

[2019-11-26 17:48] zuercher opened #9145 "test flake: //test/integration:redirect_integration_test"
Seen on macOS:

[code]

[2019-11-26 19:31] SaveTheRbtz commented on #9145
Should `SIGBUS` have a traceback attached?  Do we compile with `-fomit-frame-pointer` and without `-DNO_FRAME_POINTER`?

[2019-11-26 20:24] kyessenov commented on #8400
Field mask has an unfortunate limitation of not supporting repeated fields. E.g. we can only replace leaf lists AFAICT. What we would like is to de-couple filters from xDS resources, so that filters can be inserted separately from updating the entire monolithic listeners. This aligns better with the intent-driven objective, but it also requires an ability to insert into lists of filters. See https

[2019-11-26 20:36] mattklein123 commented on #8400
I think we need to avoid merging lists IMO or this gets way too complicated. I think the filter case can/will be handled separately by allowing for a separate filter config delivery service. We already plan on implementing this.

[2019-11-26 21:37] zuercher commented on #9138
Envoy doesn't support rewriting responses.

It sounds like the responses from cluster1 contains URLs based on the path of requests sent to cluster1. Perhaps that application could use relative URLs?

[2019-11-26 23:38] jsbucy commented on #9133
In smtp, the client says EHLO, the server returns a list of capabilities and then the client says STARTTLS. But there is still a long tail of clients that don't do starttls so it needs to work both ways.

[2019-11-26 23:50] kyessenov commented on #7867
If we do end-up using this for Wasm, it would be great to be able to add filters, not just update existing filter configs. Maybe using some sort of stubs if Wasm filter is not yet needed (e.g. empty filter config should be allowed).

[2019-11-27 00:04] lizan commented on #9133
@jsbucy right, that's the purpose of the listener filter, you can return list of capabilities there and see whether client says `STARTTLS`, then select right filter chain (TLS or not) based on that. It will be similar to tls_inspector but more complicated though.

[2019-11-27 00:32] htuch commented on #8400
Yep, agreed on the plan-of-record for filter split. For field masks, we could actually have repeated field masks possibly to workaround this limitation, but that loses some of the simplicity advantages.

[2019-11-27 00:44] derekargueta commented on #8202
@envoyproxy/api-shepherds just got a bump from an internal team that would really like the ability to mirror to 2 clusters at once (HTTP). Would we be able to re-open this? I can be the assignee.

[2019-11-27 05:55] hzxuzhonghu commented on #8410
/not stale

[2019-11-27 06:54] RisingSun777 commented on #9138
Yeah changing to using relative URLs from the application side works.

Thanks for your support.

[2019-11-27 06:54] #9138 closed

[2019-11-27 09:53] wornik opened #9154 "how to build envoy on windows"
https://github.com/envoyproxy/envoy/blob/ac03b013af22f5ced0daeedb81416603962111f6/windows/.bazelrc#L1

How to build envoy on windows?  This folder does not have a description of how to use it.

[2019-11-27 14:14] penguingao commented on #9145
Can I take this one?

[2019-11-27 16:13] jmarantz commented on #8461
Sorry again for the delay. Stupid question though: can you use the built-in Envoy support for rate-limiting? Or does it need to be in Lua?

[2019-11-27 17:40] zuercher commented on #9154
I think the Windows build is still a work in progress. If you want to experiment with it, I believe the necessary steps are encapsulated in in the ci/windows_ci_setup.ps1 and ci/windows_ci_steps.sh scripts.

cc @wrowe

[2019-11-27 17:50] #9145 closed

[2019-11-27 17:59] #7617 closed

[2019-11-27 18:00] ramachaitanyak commented on #8292
Hello, the initial idea is to have a separate L7 security filter, which is a re-written combination of router filter and RBAC filter in envoy. Tarpit would be an action that would be executed by the security filter when there is a policy match.

Security filter has two components, `matcher` and `action`. The administrator would apply a policy that has certain match conditions and configures the ac

[2019-11-27 19:43] #2605 closed

[2019-11-27 20:43] #2606 closed

[2019-11-27 21:13] lizan opened #9160 "//test/extensions/filters/udp/udp_proxy:udp_proxy_integration_test fails in MSAN"
From #9151, @mattklein123?

To repro: Checkout the branch and test with `--config=rbe-toolchain-msan` with docker or remote.

[code]

[2019-11-27 21:25] derekargueta commented on #8131
As @adamkotwasinski discovered, these search regexes also need to be updated

https://github.com/envoyproxy/envoy/blob/master/docs/root/api-v2/config/filter/network/network.rst

[2019-11-27 22:20] athampy opened #9161 "Move platform specific includes to platform.h"
`./source/server/hot_restart_impl.cc:#include <sys/prctl.h>
./source/server/hot_restart_impl.cc:#include <sys/types.h>
./source/server/hot_restart_impl.cc:#include <sys/un.h>
./source/common/network/listen_socket_impl.cc:#include <sys/types.h>
./source/common/filesystem/kqueue/watcher_impl.cc:#include <sys/event.h>
./source/common/filesystem/kqueue/watcher_impl.cc:#include <sys/fcntl.h>
./source/c

[2019-11-27 22:30] veshij opened #9162 "HealthCheckFilter: manage state via runtime configuration."
Would it make sense to add an ability to manage global healthcheck state via runtime configuration?

Currently calling `/healthcheck/fail` admin endpoint not only fails healthchecks, but also forces connection manager to send GOAWAY/close connections.
In our case we want to fail checks prior to initiating full drain sequence to allow remote side to notice unhealthy state and stop sending traffic t

[2019-11-28 00:12] jpeach opened #9165 "Build error with AsyncStreamImpl::NullRetryPolicy"
*Title*:  AsyncStreamImpl::NullRetryPolicy fails to compile

*Description*:

[code]

[code]

Building envoy master 1f833534a, on Fedora 31 with llibstdc++.

[2019-11-28 00:29] #9154 closed

[2019-11-28 02:43] #8692 closed

[2019-11-28 07:03] pranaypratyush opened #9168 "grpc_web: Envoy automatically requests the server to gzip"
*Title*:grpc_web: Envoy automatically requests the server to gzip

*Description*:

[optional *Relevant Links*:]

[2019-11-28 10:39] juanjoku opened #9169 "Improve gRPC statistics with useful data for autoscaling (active-requests, request-time...)"
*Title*: *Collect gRPC statistics useful for autoscaling (active-requests, requests-time...)*

*Description*:

Envoy is currently recording statistical data relating to gRPC:

https://www.envoyproxy.io/docs/envoy/v1.12.0/configuration/http/http_filters/grpc_stats_filter.html
[code]

But, thinking in autoscaling (like Kubernetes HPA), I miss information about
response times, number of active reques

[2019-11-28 11:00] seflerZ commented on #8400
I think the most urgent thing for xDS patch is EDS. Our organization suffered from large clusters a lot because we have over 10 thousand endpoints in some clusters. I would like to know that whether we've reached in common that this feature is desirable.

[2019-11-28 15:33] howardjohn commented on #8400
I would agree that EDS patches are the most important, and my understanding is is that this problem is not solved by incremental xds making it even more important

[2019-11-28 17:25] #8718 closed

[2019-11-28 23:22] Guigouu opened #9170 "Reverse Proxy - from Nginx to envoyproxy"
*Description*:
I am using currently some Nginx reverse proxy with mod "proxy_pass" to forward http listener to https remote public site, I would like to know what is the equivalent with envoyproxy?

I tried many of examples, some of them give me 404, 400 or no healthy upstream...no one worked.

for example:
`static_resources:
  listeners:
  - name: fortio
    address:
      socket_address:

[2019-11-29 01:53] darkrasid commented on #8639
@prune998
Hi. I got same issue with you. And do you mean below issue resolved in istio 1.3.4?

[2019-11-29 02:19] #8729 closed

[2019-11-29 16:05] tonyboxes opened #9173 "gRPC stats: Support ignoring all query parameters."
*Title*: *gRPC stats: Support ignoring all query parameters.*

*Description*:

Prometheus:
![image](https://user-images.githubusercontent.com/3871120/69880014-dce44b00-1303-11ea-9cd9-e8f1f9aec088.png)

[2019-11-29 16:51] kveretennicov commented on #9126
Thank you, @qiwzhang. So what does it mean in practice? Is there a solution for HTTP/1.1 clients?

[2019-11-29 21:05] mattklein123 opened #9174 "Revisit how we configure RE2 regex engine"
See https://github.com/envoyproxy/envoy/pull/9171.

It turns out that program size can change between RE2 versions. Our original intention here was to have some kind of knob that would let users know if a configured regex is "too expensive." We should revisit if there are better ways of doing this.

cc @junyer @ramaraochavali @jmarantz

[2019-11-29 21:23] mattklein123 commented on #9162
I think it would be fine to allow the health check filter to be optionally configured via runtime. We could also allow different types of `/healthcheck/fail`.

[2019-11-29 21:24] mattklein123 commented on #8400
@seflerZ @howardjohn why doesn't incremental EDS not fix your case? Can't you just send incremental adds/removes?

[2019-11-29 21:33] howardjohn commented on #8400
Perhaps it does, I need to take a closer look at it. My understanding is that it does not support the level of granularity we want. If we can add/remove individual LbEndpoints https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/endpoint/endpoint.proto#envoy-api-msg-endpoint-lbendpoint then I think it would be perfect. My understanding was we still had to send a full ClusterLoadAssignment tho

[2019-11-29 21:34] mattklein123 commented on #9160
I'm a little confused about this. It seems like it wants us to zero initialize the sa4 and sa6 stack variables inside `Utility::parseInternetAddress`? @danzh2010?

[2019-11-29 21:35] mattklein123 commented on #8400
No, you should be able to add/remove individual LbEndpoints unless I am completely misunderstanding what we implemented which would be unfortunate. cc @htuch @lizan @fredlas @wgallagher

[2019-11-29 21:36] htuch commented on #8400
@mattklein123 the problem is folks want to add or remove individual endpoints within a cluster, rather than incrementally add/remove clusters. This is something we need to address in v4/UDPA, but I feel it might need a closer solution in v3.

IMHO at this point we have a bunch of solutions, many of which could work. We need to find someone to own the design (ensuring it aligns with UDPA) and imple

[2019-11-29 21:39] mattklein123 commented on #8400
OK my mistake, bummer. Yeah we will need someone to drive this forward at a design level agreed.

[2019-11-29 23:42] kyessenov commented on #8400
@htuch This has significant impact on v3 general structure. With respect to EDS, we can approach it from two sides:
1. Allow generic EDS payload patch, also allows flipping flags in C/R/LDS
2. Create a new resource (endpoint slice?) that can be bound clusters many-to-one. This is kind of similar to filter config discovery service.
Depending which way we pick, it would be nice to align how we patch

[2019-11-30 00:09] #8709 closed

[2019-11-30 01:09] #8731 closed

[2019-11-30 02:34] derekargueta commented on #8933
@htuch Mind checking that I'm moving in the right direction? https://github.com/envoyproxy/envoy/compare/master...derekargueta:dereka/empty-proto?expand=1 Pretty straightforward - for every extension that is using `Envoy::ProtobufWkt::Empty`, create a proto with an empty message and replace it - but want to verify before I go on to HTTP filters

As for defensively preventing new extensions from us

[2019-11-30 04:02] ramaraochavali commented on #9174
@howardjohn FYI. We may have to revisit how we configure this in Pilot depending on how this goes.

[2019-11-30 08:01] idouba commented on #7715
what's the status of this issue?

[2019-11-30 09:29] lizan commented on #9173
@kyessenov

[2019-11-30 14:17] Shikugawa commented on #8428
@htuch I'm planning to tackle this issue. my implementation loadmap is

1. call protoxform.py by executing build test proto data with protoxform aspect
2. read transformed and golden proto, and diff them

This operation is in single python script, for example `tools/protoxform_test.py`. And add `tools/protoxform_test_data/test` and `tools/protoxform_test_data/golden` for sample data which is used

[2019-12-01 06:17] seflerZ commented on #8400
@htuch I'm very interested in this and will to contribute (At lease on Pilot sides).
@kyessenov I prefer to pick the first approach because it generally solved the problem which means it can be further applied to other xDS resources. Adding a new resource(type-url) of course will be a easy approach but it is likely hard to be normalized.

[2019-12-01 06:47] seflerZ commented on #8400
@htuch I'm very interested in this and willing to contribute (At least on Pilot side).
@kyessenov I prefer to pick the second approach. The first sounds great but takes heavy design and implementation. Although it can be applied generally (to other xDS resources), I don't see any needs in LDS\CDS at present. The RDS introduced VHDS to incrementally add or remove route configurations so I think EDS

[2019-12-01 20:18] #8630 closed

[2019-12-02 02:04] hobbytp commented on #8690
one more question, seems overload manager does not support CPU monitoring (current only heap usage, right?), so how product env use it?

[2019-12-02 03:20] Firewall-Tomohisa commented on #8852
Although the envoy's health check never worked, the url access was available.So I came up with another way that Prometheus could use the gauge type metrics I wrote to capture the health of the service.Therefore, the metrics interface provided by envoy is no longer important.Thank you very much!

[2019-12-02 03:20] #8852 closed

[2019-12-02 06:44] wbpcode opened #9178 "Fault filter: allows the user to configure the header and body returned by 'FaultAbort'"
Fault filter can only customize response code of abort. However, in actual use, we sometimes need to customize the header and body returned by abort.
Now I want to be able to extend this plugin, but it's unclear if anyone in the community is already doing related work.

[2019-12-02 12:08] dio commented on #8852
@Firewall-Tomohisa what if trying a newer version of envoy? Seems like you tried `envoy-alpine:v1.9.0`.

[2019-12-02 12:16] dio commented on #9178
For my own education, could you expand more why we need this? (if it is really useful, probably will be a good addition in our docs on how people can potentially leverage the usage of this fault filter).

@wbpcode I think you can propose the config for it.

[2019-12-02 12:28] Firewall-Tomohisa commented on #8852
Ok, thanks for your advice.And I will try.^_^

[2019-12-02 14:01] wbpcode commented on #9178
@dio We use fault filter to limit the number of requests based on a percentage. Here is a example config snippet:
[code]
In the above configuration, only 50% of the traffic will be processed by the backend. But for the other 50% of requests that were "aborted", we still hope to provide some more friendly information. For example, a prompt string, or a fixed HTML page, not just an error code. We cu

[2019-12-02 14:20] denghuancong opened #9179 "redis_proxy: NOAUTH Authentication required while auth ok return"
*Title*:  (error) NOAUTH Authentication required while auth ok return

*Description*:

*Config*:
[code]

*Logs*:
[code]

*admin cmd output *:
[code]

[2019-12-02 14:33] yks0000 opened #9180 "Question: Can we configure ALPN on PATH based?"
**Issue Template**

*Title*: *Can we configure Envoy Upstream ALPN on PATH based*

*Description*:
I have Envoy behind AWS NLB (Network Load Balancer) with TCP Listener. NLB can have Health Check communicate to EC2 only on HTTP1.1 _[Use of TCP Health Check is not really recommended]_. As I we want to restrict codec_type to http2 only, Is it possible to setup http1.1 only for /health route so that N

[2019-12-02 15:03] eziskind commented on #8690
@hobbytp I didn't add a CPU resource monitor because we don't need it yet in our environment, but it shouldn't be hard to add one - basically add a subclass of Envoy::Server::ResourceMonitor that samples the CPU usage.

[2019-12-02 15:24] erwbgy opened #9182 "Envoy crashes when processing a TLS certificate with no SANs or a CN"
Envoy crashes when processing a TLS certificate that does not have SubjectAltNames or a CN field in the Subject.

This looks to be intentional: https://github.com/envoyproxy/envoy/blob/v1.11.2/source/extensions/transport_sockets/tls/context_impl.cc#L838

While there is no valid use case for having a certificate with no SANs or CN it should not be possible to cause a crash by providing a bad certif

[2019-12-02 16:21] vmg commented on #8461
It needs to be in Lua. Our rate limiting logic is more complex than what Envoy's Rate Limit interface allows. :smile:

[2019-12-02 16:43] mattklein123 commented on #9178
We should make sure this is covered by https://github.com/envoyproxy/envoy/pull/8921. I don't think we need dedicated config for this?

[2019-12-02 16:48] markdroth commented on #5598
@snowp My impetus for #7744 was for gRPC clients being configured via xDS, not for Envoy, so I am not personally working on the Envoy-side changes to support this.  But I do agree that this should be implemented in Envoy, and we had discussed the possibility of @htuch taking this on at some point.  But if this is something that you need sooner, I suspect he would not mind if you take this on.

No

[2019-12-02 17:02] danzh2010 commented on #9160
Yes, seems like memset() here https://github.com/envoyproxy/envoy/blob/477fafdaa8423cff1a5c22d58904c22eed9155f3/source/common/network/utility.cc#L169 would fix it. But IoHandle::sendmsg() should have passed in the correct peer address length already:
[code]

[2019-12-02 17:18] mattklein123 commented on #9160
Yeah, IMO this is a MSAN bug as I think sa4/sa6 should exit that function properly initialized, unless I am misunderstanding what is going on.

[2019-12-02 17:25] mattklein123 commented on #8400
I am in favor of developing a generic patching mechanism. This would also help with things like adjusting host weights. However, I feel pretty strongly that we should not allowing merging or altering lists. In previous discussions with @htuch the way we thought about handling this is to move to a model in which any patchable resource must be addressable through a map. I think we could make endpoin

[2019-12-02 17:27] mattklein123 commented on #8292
@ramachaitanyak at a high level this sounds fine, however we have to avoid adding yet another matching system. Can you please take a look at the tap filter matching system and figure out how we can reuse that here?

[2019-12-02 17:28] mabukhovsky commented on #9118
I would appreciate if someone could look into my question please as this is a blocker for a whole team.

[2019-12-02 17:28] diemtvu commented on #8909
@lizan, how do you want to proceed this. Do you want to keep the `allow_missing` as one of the one-of as implemented in https://github.com/envoyproxy/envoy/pull/8978, or move it out to separate field?

[2019-12-02 18:30] markdroth commented on #8400
@htuch If we do have to support patching, then I do agree that using the existing protobuf mechanism for this makes sense.  But I'm still not enthusiastic about the complexity of putting this into the API, both in terms of (a) making the API easy for humans to understand and manage and (b) implementation complexity (for example, gRPC can't take a dependency on proto, so we'd probably wind up needi

[2019-12-02 20:04] zuercher commented on #9160
Doesn't `sa4` (sockaddr_in) have at least one more field that's not initialized (`sin_addr`)? It's not used in this path, but the Ipv4Instance constructor copies the sockaddr_in.

[2019-12-02 20:14] mattklein123 commented on #9160
Oh, hmm, sorry I read this call stack wrong, and figured we were calling `inet_pton`. Yeah I think we just need to zero initialize that field in that path per @zuercher. @lizan could you just put the fix into your branch?

[2019-12-02 20:28] htuch commented on #8933
@derekargueta looks good! The main thing we need to do in addition to what you have is allow `Empty` to continue working until we delete v2. When filter config comes in via an `Any`, the type URL needs to match whatever the filter expects. The way I would tackle this is in places like https://github.com/envoyproxy/envoy/blob/81d3bebf9187f408c829dde367214069651a3768/source/common/config/utility.cc#

[2019-12-02 20:32] htuch commented on #8428
@Shikugawa sounds great, golden protos are the way to go IMHO. I would aim to keep each individual proto very simple and self contained, exercising just one specific things under test. I think a great example of this kind of test input is the way in which we've structured the `check_format` tests, see https://github.com/envoyproxy/envoy/tree/master/tools/testdata/check_format

[2019-12-02 20:54] zuercher commented on #9160
Oh, I missed the inet_pton. In that case, I expect it's the padding field that's not initialized.

[2019-12-02 20:57] danzh2010 commented on #9160
padding shouldn't be read by sendmsg() though. We should have set message.msg_namelen correctly in IoHandle::sendmsg()

[2019-12-02 21:02] zuercher commented on #9160
So the second stack looks like the copy in Ipv4Instance.

The first stack says the copy occurs at offset 8, which is where the padding starts (2 bytes for sin_family, 2 for sin_port, 4 for sin_addr). Perhaps it copies the address as well?

[2019-12-02 21:09] alyssawilk commented on #8993
I'll take this one back as there's a couple of other flags and some associated clean up.

[2019-12-02 21:11] zuercher commented on #9160
Looks like we use `sizeof(sockaddr_in)` as the the size, which at least on my VM is 16 and includes 8 bytes of padding.

[2019-12-02 21:13] zuercher commented on #9160
I should that since we copy the sockaddr_in by assignment it's necessarily copying the uninitialized padding.

[2019-12-02 21:44] danzh2010 commented on #9160
Hmm, yeah. I didn't notice sizeof(sockaddr_in) will include padding. And apparently kenerl reads all the bytes upto msg_namelen https://github.com/llvm-mirror/compiler-rt/blob/69445f095c22aac2388f939bedebf224a6efcdaf/lib/sanitizer_common/sanitizer_common_interceptors.inc#L3039

[2019-12-02 22:39] jsbucy commented on #9133
Ok so we would have 2 filters: the "smtp starttls" listener filter that just responds to ehlo and starttls and then the "smtp transcode" network filter that does all of the grpc stuff?

I think it is technically valid for a client to send one smtp transaction in the clear and then say STARTTLS and send another one which would break this implementation. I can't imagine why the client would do that

[2019-12-02 23:15] htuch commented on #5598
@markdroth yeah, @snowp and I chatted at EnvoyCon. He is the Envoy-side domain expert in this area, so it would be awesome if he can own this for us.

[2019-12-02 23:40] kyessenov commented on #9173
This is due to how Envoy extracts the service method from the request. It preserves the query string, which seems like a bug, given that it looks like gRPC is fine with the query params.

[2019-12-02 23:42] kyessenov commented on #9173
cc @jmarantz since this got mentioned just today.

[2019-12-03 00:13] kyessenov opened #9194 "Tag-awareness in the stats API"
We would like to expose a stats API to extensions through Wasm that is compatible with a general purpose OpenCensus/OpenTelemetry interfaces. Generally, these provide an ability to separate tag keys from tag values (e.g. https://opencensus.io/tag/). Envoy currently compresses all tags into a single long string, and expects custom tag extractors for post-processing. This causes two issues:
1. Regex

[2019-12-03 00:20] lizan commented on #9133
Sounds reasonable, "SMTP transcode" can be split to SMTP handling (like HTTP connection manager filter) and GRPC-SMTP L7 filter (like HTTP router filter).

At a quick glance on RFC 3207 I don't think that's valid in term of spec? I doubt anyone has use case on that, so we can ignore that case unless someone will use it.

[2019-12-03 01:59] denghuancong commented on #9179
envoy version:
[code]

[2019-12-03 02:02] wbpcode commented on #9178
@mattklein123 Yes, it looks more general and can cover our requirements to some extent. When its function is stable enough, I will use it to replace my modification to fault filter. Thanks for your reply.

[2019-12-03 02:02] #9178 closed

[2019-12-03 04:04] htuch commented on #8400
I think the least controversial thing to do to unblock this, which also would align with UDPA, is to add in another xDS for individual endpoints (rather than cluster endpoints, which is what we have today). Call this Endpoint Group Discovery Service (EGDS). EDS now references resources in EGDS.

The trick to making this compatible with incremental xDS is to take the namespace concept from UDPA-TP

[2019-12-03 12:27] junyer commented on #9174
Just to be clear, my intention was not to stop Envoy from using program size. The RE2 fuzzer, for example, uses program size and program fanout as "cost" signals. It's barely more advanced than looking at the length of the pattern string, but it does enable one to draw a line in the sand.

The memory budget is another mechanism of constraint. Most of it goes to the DFA state cache, which does perm

[2019-12-03 12:33] aclowkey opened #9201 "Is there a request queue metric?"
*Title*:  Is there a request queue metric?

*Description*:
I noticed that if my upstream can handle X requests per second, and I load test with say, 2X, envoy still reports X~ for upstream_rq, which makes me think it has a request queue for the active connections or something

Is there any metric exposed that indicates how many requests are queued?

EDIT: The motivation is to scale my service acco

[2019-12-03 16:06] #8224 closed

[2019-12-03 17:50] #8842 closed

[2019-12-03 17:52] zuercher commented on #9201
https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/stats#statistics

There are a number of metrics prefixed with `downstream_rq` that should help. The `downstream_rq_active` gauge is incremented at the start of each downstream request and decremented when the response is completed.

[2019-12-03 18:15] rgs1 commented on #9115
Handled via #9203.

[2019-12-03 19:56] gabrielvelo opened #9206 "Envoy fails to initialize on DELTA_GRPC ( missing LDS request )"
*Envoy fails to initialize on DELTA_GRPC ( missing LDS request )*:

*Description*:
Envoy cannot initialize properly when using a fully dynamic configuration through DELTA_GRPC protocol. CDS and EDS initialization is ok but LDS messages are missing. surprisingly if envoy is bootstrapped without a control plane server forcing a connection failure , when the control plane is back envoy initialize cor

[2019-12-03 20:43] inf-rno commented on #9074
@junr03 @HenryYYang @mattklein123 I'm bumping this up to get your attention because I think the current behaviour is not usable in any containerized environmen.

Given that almost every example uses docker and the large number of kubernetes production deployments we might want to treat this as a bug fix and not just a new design proposal. Currently the consistent hash ring will always resize the r

[2019-12-03 20:46] mattklein123 commented on #9074
@inf-rno I'm sorry but I don't think I fully understand the problem. It seems appropriate that if a pod IP address change you would want to re-hash? What logical names are we talking about exactly? DNS names?

[2019-12-03 20:49] lizan opened #9207 "server_fuzz_test is flaky"
https://dev.azure.com/cncf/envoy/_build/results?buildId=21653

from slack:

has server_fuzz_test being flaky lately? got a failure here https://github.com/envoyproxy/envoy/pull/9203/checks?check_run_id=331575941
failure is interesting:
[code]

[2019-12-03 20:51] lizan commented on #9207
(per @rgs1) potentially due to https://github.com/envoyproxy/envoy/pull/9155? @oschaaf

[2019-12-03 20:55] alyssawilk commented on #9083
I can't see how the access log would create this problem (maybe it's making a race condition worse?) but having spent some time looking at the code I'm frankly baffled how you're getting here.

the underlying connection looks like it is closed in one of three places.  onIdleTimeout and onConnectionDurationTimeout are never in the dispatch stack.  the third is checkForDeferredClose() which I would

[2019-12-03 21:00] inf-rno commented on #9074
Yes. We are talking about DNS names. This would be a common use case for any upstream that has a consistent naming scheme e.g. In Kubernetes, StatefulSets for a ring, or Services without a ClusterIP, or even if you have some sort of managed DNS solution like Cilium, Consul, or a custom solution like what we have.

In all these use cases when Pods come and go either during deployments/failovers we

[2019-12-03 21:03] mattklein123 commented on #9074
Sure, having an option to allow the load balancer to use logical name seems fine to me.

[2019-12-03 21:04] inf-rno commented on #9074
I'll pick this up. Thanks Matt!

[2019-12-03 21:07] mattklein123 commented on #9206
cc @fredlas @wgallagher

[2019-12-03 21:36] fredlas commented on #9206
In `GrpcMuxImpl::handleStreamEstablishmentFailure()` (NewGrpcMuxImpl in the current code), I included an odd little block of code that was necessary to avoid a crash in an integration test. The comment says:

"If this happens while Envoy is still initializing, the onConfigUpdateFailed() we ultimately call on CDS will cause LDS to start up, which adds to subscriptions_ here. So, to avoid a crash, t

[2019-12-03 21:56] mandarjog commented on #9194
@bogdandrutu cc for full alignment with open telemetry.

[2019-12-03 22:00] mattklein123 commented on #9194
+1 on adding a direct tag API to envoy stats. I think this would be a nice enhancement and a more flexible programming model. Will defer to @jmarantz for the right way of doing this. Note though that we have to make sure that Envoy stats in general still work well for tagless deployments such as statsd.

[2019-12-03 22:59] bogdandrutu commented on #9194
I will be out for 1.5 weeks, but very happy to see this proposal. I can share my experience and thoughts on this the week after next

[2019-12-03 23:10] jsbucy commented on #9133
In this design, you'd configure the smtp capabilities list into the envoy plugin. The listener filter would
- always return a 2xx success initial response (smtp "greeting") unless envoy itself had some kind of internal error
- return the same set of capabilities to every client
- always initiate tls in response to STARTTLS unless there was some kind of internal error

If it were possible to switch

[2019-12-03 23:20] htuch commented on #9207
Can we get a corpus entry to repeat this?

[2019-12-03 23:47] euroelessar opened #9213 "http: A way to limit number of concurrent requests per endpoint"
We have gRPC (HTTP/2) and HTTP/1 python setups in production where single sidecar load balances across many local python processes. Each python process is bound to dedicated port.

What is a potential way to make envoy send at most one concurrent request to each of this python processes?
It would be ideal to not limit envoy to single worker thread (to allow scalability for outgoing requests, it's

[2019-12-04 00:02] lambdai commented on #9207
Same [here](https://dev.azure.com/cncf/envoy/_build/results?buildId=21685)

[2019-12-04 00:34] tonya11en opened #9215 "circuit breaking: Change max_requests to work for both HTTP/1 and HTTP/2"
The current way circuit breakers are used to limit outstanding requests involves using `max_requests` for HTTP/2 and `max_connections` for HTTP/1. This is unintuitive and and requires special handling for code that requires knowledge of the number of outstanding requests (such as [retry budgets](https://github.com/envoyproxy/envoy/pull/9069)).

I'd like to propose altering the way we increment out

[2019-12-04 00:37] lizan commented on #9207
@htuch https://github.com/envoyproxy/envoy/blob/master/test/server/server_corpus/clusterfuzz-testcase-minimized-server_fuzz_test-5686444035670016

[2019-12-04 00:49] oschaaf commented on #9207
https://github.com/envoyproxy/envoy/pull/9216 reverts the offending change to buy some time to figure this out offline. I wonder if enableTimer()  should actively guard against (unreasonably) large and/or negative values being handed to it.

[2019-12-04 02:31] zyfjeff commented on #9142
@CodingSinger Envoy currently supports dubbo filter.

[2019-12-04 04:08] mattklein123 commented on #9213
@euroelessar per conversation IRL, I'm not positive there is an OOB way of doing this today.

I think we can likely do this with active/pending request circuit breakers (1 cluster per port), but I think the connection pools might need a bit of modification (in slightly different ways for HTTP/1 and HTTP/2). I also take it that you want a shared single request across both H1 and H2? This is also re

[2019-12-04 04:09] mattklein123 commented on #9215
+1 we should fix this. It has been a longstanding source of confusion. We definitely need to runtime guard this and probably initially default to off. cc @alyssawilk

[2019-12-04 04:10] mattklein123 commented on #9207
Going to close this out with the revert in.

[2019-12-04 04:10] #9207 closed

[2019-12-04 04:12] mattklein123 commented on #9215
Also related to https://github.com/envoyproxy/envoy/issues/7403 in which we would optimally like to unify the H1 and H2 connection pool implementations as much as possible.

[2019-12-04 04:45] euroelessar commented on #9213
@mattklein123

Circuit breakers are based on atomic gauges, so they are best effort and potentially can send two concurrent requests to single endpoint if envoy has more than single worker thread.

Each setup is either H1 or H2, we don't mix different protocols within single sidecar.

It looks like it may work, assuming each endpoint is an individual cluster. Effectively all LB logic will be in cu

[2019-12-04 05:12] jpeach commented on #9097
@mattklein123 @junr03 Could you please assign this issue to me?

Adding this to `config_dump` looks like this:
[code]

[2019-12-04 06:45] denghuancong commented on #9179
add cluster config :
[code]

[2019-12-04 06:46] yks0000 commented on #7583
Any Plan as when this will be available i.e. Log Path with Query Param?

[2019-12-04 06:46] denghuancong commented on #9179
@zuercher @dio  this issue should be close.

[2019-12-04 06:54] #9179 closed

[2019-12-04 07:30] denghuancong opened #9219 "redis: benchmark connection broken error"
*Title*: *benchmark connection broken error*
[code]

*Config*:
[code]

*Logs*:
[code]

*admin stats*
[code]

[2019-12-04 07:53] tonya11en commented on #9213
To track state in the Envoy load balancer implementations, you'd need to perform a conditional increment of an integer representing the number of outstanding requests. In your case of only allowing a single concurrent request, something like:
[code]

If that `num_outstanding` integer is shared across all the worker threads and they all need to have the same world-view (w.r.t. that integer), you wo

[2019-12-04 08:19] aclowkey commented on #9201
Thanks for the tip!
The `rq_active` metric seems to be more relevant as it represents to load accurately.
Does `rq_total` only count completed requests? why is the rate of `rq_total` and raw `rq_active` are different?

[2019-12-04 08:49] CodingSinger commented on #9142
have some samples about this?

[2019-12-04 09:02] CodingSinger commented on #9142
Can i pull the image which support the dubbo filter by cmd `docker pull envoyproxy/envoy-dev:latest` ?
@zyfjeff

[2019-12-04 11:18] seflerZ commented on #8400
Having EDS resources reference EDGS is great because many clusters share the same endpoints. For example, if we have a group of Pods providing two services, in traditional EDS way we would send twice the number of the size of the group. The redundant data grows larger when the number of services within the same Pod becomes larger. EDGS solved this.

So the number of endpoints in EGDS is fully conf

[2019-12-04 11:43] ramaraochavali commented on #7813
@mattklein123 @PiotrSikora Would it be OK to support generic StringMatcher support for [verify_subject_alt_name](https://github.com/envoyproxy/envoy/blob/0aed05aecd17576b0dd96f3e4126acd1c24a02bc/api/envoy/api/v2/auth/cert.proto#L268) similar to how we do the [authenticated match](https://github.com/envoyproxy/envoy/blob/a90aefca2c4175e7acc102bc3f810b020c780602/api/envoy/config/rbac/v2/rbac.proto#L

[2019-12-04 12:57] hzxuzhonghu commented on #8400
Nope, @seflerZ it is like endpointslice, it will contain a bunch of endpoints. Which can solve most use scalability case.

[2019-12-04 12:59] jmarantz opened #9220 "http: multiple values for same header_map key cannot be queried"
There is no API that returns a list of values associated with a key. The get() and lookup() methods return only the first item. It is possible to discover them via iterating however.

[2019-12-04 13:14] seflerZ commented on #8400
Alright, so it is supposed to be a bunch. As for the size, no detail requirements. You can also configure it to be 1 if you like. Is my understanding correct?

[2019-12-04 13:14] jmarantz opened #9221 "http: header_map coalescing is not explicitly handled"
I could not find a canonical source for this, but in the past I've used https://src.chromium.org/viewvc/chrome/trunk/src/net/http/http_util.cc#l368 (Chrome's HttpUtil::IsNonCoalescingHeader() function) as the source of truth of how to represent multiple values for the same header.

For Envoy, this is probably most important for Cookies. But the Chrome source has these:
[code]

This works properly

[2019-12-04 13:25] denghuancong commented on #9219
@HenryYYang

[2019-12-04 13:32] jmarantz commented on #9220
I now see HeaderUtility::getAllOfHeader which provides this functionality. It's O(N) though, but I guess that all header lookups are O(N) unless they are in the preset list of O(1) headers, and those can't have multiple values.

Closing for now.

[2019-12-04 13:32] #9220 closed

[2019-12-04 14:45] alyssawilk commented on #9221
Josh, I'm not sure what you're asking for here.  The O(1) list works by auto-coalescing, so if you add set-cookie to the O(1) list, you're coalescing, which is a functional behavior change.
Are you suggesting we coalesce in-Envoy and de-coalesce any special headers which can't be handled that way as we write to the wire, are you suggesting that the O(1) list should handle multiple references, or a

[2019-12-04 16:31] dmitri-d opened #9222 "Failure to build tests due to quiche build failure"
**WARNING: If you want to report crashes, leaking of sensitive information,
and/or other security issues, please consider
[reporting them using appropriate channels](https://github.com/envoyproxy/envoy#reporting-security-vulnerabilities).**

**Issue Template**

*Title*: Failure to build tests due to quiche build failure

*Description*:
I'm seeing this in master, I'm using gcc 8.3.1

ERROR: /home/w

[2019-12-04 17:56] alexandru-ersenie opened #9223 "TCP HealthCheck - Broken upstreams get requests although HealthCheck is enabled"
*Title*: *Broken upstreams are not removed from the balancing list*

*Description*:
This is pretty simple setup:  I have:

- Listener on port 9080 forwarding requests to a so called "kafka" cluster
- The kafka cluster consists of three members, out of which two are for the sake of this test down
- TCP HealthCheck is implemented on cluster level (very strict, upstreams should actually be removed ve

[2019-12-04 18:01] alyssawilk commented on #9222
@danzh2010 @bencebeky to look at actual failures
@lizan because I'm wondering if this should have been caught by CI.  I thought we had some lingering gcc builds - have we done away since last I looked?

[2019-12-04 18:05] bencebeky commented on #9222
For what it's worth, I have been seeing the same error locally with GCC when I was working on https://github.com/envoyproxy/envoy/pull/9187, but it went away when I changed to Clang.  This is caused by https://quiche.googlesource.com/quiche/+/e4d68dd6e2022d84550eaa378d8dfddf45423a3d.

[2019-12-04 18:07] bencebeky commented on #9222
I do not know if this is a GCC bug or if the QUICHE code is non-compliant to the C++ standard.  What is Envoy's policy, does it need to be compilable with GCC?

[2019-12-04 18:45] mattklein123 commented on #7813
Seems fine to me.

[2019-12-04 19:03] bencebeky commented on #9222
/assign bencebeky

Since this might cause issues with other embedders, I'll fix QUICHE, then import the fix to Envoy.  I estimate that this will be done by EOD tomorrow.

[2019-12-04 19:07] lizan commented on #9165
Fixed by #8872

[2019-12-04 19:07] #9165 closed

[2019-12-04 19:09] #7130 closed

[2019-12-04 19:10] htuch commented on #8400
EGDS could be a singleton or many or even empty, I don't see a need to restrict cardinality.

[2019-12-04 19:13] howardjohn commented on #8400
For what its worth, a similar API in k8s, https://kubernetes.io/docs/concepts/services-networking/endpoint-slices/, allows the grouping to be any size and defaults to 100 endpoints per group. I think its pretty reasonable to allow it to be arbitrary sizes. If I were to implement this in a control plane that is backed by EndpointSlices, it would probably make most sense to just have a 1:1 mapping o

[2019-12-04 19:26] #7965 closed

[2019-12-04 19:41] lizan commented on #9222
We do run a full build on GCC in CI (without test), but we see there's several difference among toolchains, including libstdc++ version (e.g. #8872). This does actually looks similar to the #8872 issue but not very sure.

[2019-12-04 19:52] jmarantz commented on #9221
3 things to consider:

1. Separate the whether a header can be accessed fast vs whether it should be coalesced. The current situation seems brittle and potentially suboptimal.
2. do a more thorough analysis of which headers should be coalesced. We could cargo-cult Chrome (which I did in the past) or maybe figure out where that list came from, other than the specific call-out for set-cookie in the

[2019-12-04 20:13] aktxyz commented on #129
Is this still the best place to check for status ?

[2019-12-04 20:50] dsbos opened #9228 "doc.: CSRF, CORS: "shadow-only node" -> "shadow-only mode""
*Title*: CSRF, CORS doc. page says "shadow-only node" instead of "shadow-only mode"

*Description*:
On each of the pages _currently_ at https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/csrf_filter.html and https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/cors_filter.html, the text says:

   When enabled in shadow-only node, the filter will eval

[2019-12-04 21:04] kyessenov commented on #8400
To summarize, I think there's a desire to extend endpoints with endpoint groups:
[code]

I would also like to propose to generalize the filter config discovery service to return a list of filters instead of a single one (and allow empty ones):

[code]

What do you think about the filter config xDS @htuch ? I can send a PR to sketch out API changes before locking down v3.

[2019-12-04 21:08] markdroth commented on #8400
@kyessenov Note that we should make sure to add `ConfigSource` messages for these cases, so that we have a way to tell the client which xds server to talk to for the new resource types.

[2019-12-04 21:09] kyessenov commented on #8400
@markdroth Ack, I'll apply the best practices with regards to the config source when I create a PR

[2019-12-04 21:10] #9173 closed

[2019-12-04 21:26] mattklein123 commented on #8400
@kyessenov +1 on the filter config stuff, but this issue is confusing enough as it is. Let's please split EGDS into a new issue, and cover FCDS in https://github.com/envoyproxy/envoy/issues/7867. Thanks.

[2019-12-04 21:44] kyessenov commented on #7867
Just copying thoughts from the linked issue:
1. Can we please make filter config payload be a list of filters? It's more flexible, doesn't restrict to a single filter type, and allows empty lists.
2. Consider changing how filters are ordered. Maybe it's better to have a weighted map of filters that are sorted before application? That way we can insert the filter config at any place.

[2019-12-04 21:57] mattklein123 commented on #9213
Yeah you would just lookup the cluster in the filter and then keep track of the number of upstream requests going there, and deal with holding, overflow, etc. in the filter. I don't think it would be that hard to implement. I do think that there might be use for a general queuing filter, but it would need more thinking.

There is a proposal to allow adding custom load balancers. See https://github

[2019-12-04 22:32] danzh2010 opened #9230 "quiche: add a reloadable feature to enable/disable QUIC support"
Current QUIC support can only be turned on/off via LDS. We can do better here by adding an Envoy reloadable feature for QUIC to turn the switch via runtime dynamic config push.

[2019-12-04 22:43] goaway opened #9231 "proposal: add connection-level L4 idle timeout support to clusters"
*Title*: Add connection-level L4 idle timeout support to clusters

*Description*:
The logic would effectively be what's currently present in the TCP proxy connection timeout:
ttps://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/tcp_proxy/v2/tcp_proxy.proto#envoy-api-field-config-filter-network-tcp-proxy-v2-tcpproxy-idle-timeout

This differs from the existing connection idle tim

[2019-12-04 22:43] goaway commented on #9231
cc @junr03 @mattklein123

[2019-12-04 23:35] lizan commented on #9133
Let's open a new issue for this topic, this is not impossible but it is heavy (not only implementation, and tests), basically you want to shutdown existing filter chain and use existing connection to instantiate another filter chain. I'm not sure how useful this is but worth discussion. @envoyproxy/maintainers WDYT?

[2019-12-04 23:58] #8794 closed

[2019-12-05 00:20] htuch commented on #7867
Why a list when the set of resources return by xDS is already a list? I worry that a list of lists is a bit confusing to reconcile.

[2019-12-05 00:22] htuch commented on #8400
@kyessenov I have feedback on these, but let's do this in the distinct issues. I definitely don't want to completely change how CLA works though, we should aim for a light tough here, the minimal change to existing structure to enable endpoint groups.

[2019-12-05 00:40] kyessenov commented on #7867
List is used to 1) enforce ordering of filters in a "patch", 2) allow flexible number of filters to be returned. Think of Wasm filters. We can either add 10 dynamic filter configs with some unset, or have one filter config group with 0..10 Wasm filters in it.

[2019-12-05 01:09] #492 closed

[2019-12-05 01:09] #9018 closed

[2019-12-05 01:25] mattklein123 commented on #9231
Thanks for opening this issue @goaway. The reason that I continue to waffle on this, as we discussed IRL, is that it seems a bit strange to be tracking connection health with a bytes transferred metric when individual request idle timeouts do not work. I.e., what if there are many active requests that all have no data? It seems like a feature that is very specific to a particular request pattern i

[2019-12-05 01:31] ramaraochavali commented on #7813
Thanks @mattklein123 . If there are no objections to it, I will implement this as we also need this

[2019-12-05 01:35] mattklein123 commented on #9228
@dsbos can you do a PR to fix the docs please?

[2019-12-05 01:41] sriduth commented on #9025
#7130 is fixed via #9098, which just adds user documentation instead of moving checks into envoy source code.

[2019-12-05 01:41] #9025 closed

[2019-12-05 02:34] sriduth commented on #2967
Hello! I've been looking into this and have something basic that works (passes the existing tests for formats) [here](https://github.com/sriduth/envoy/commit/1e1cda8f18aeb157f707184834bb3179f982707d). Access log formatter has been stable for as long I remember, but if this is something to be worked on I'd love to take it up!

[2019-12-05 06:03] lizan commented on #9097
(same as I commented in PR): extensions will likely end up in Node as part of client capabilities that we discussed in #8332, so I don't think we should put in a separate config_dump proto?

[2019-12-05 06:17] #8374 closed

[2019-12-05 06:36] denghuancong commented on #9219
WHAT is "downstream protocol error" meaning?
[code]

[2019-12-05 07:25] goaway commented on #9231
I do see where you're coming from @mattklein123. In support of this approach though, it is precisely because we'd like (at least some) request idle timeouts to be generally long, that this mechanism is appealing to us. Some, but not all, of our requests we expect to be relatively idle (specifically, streaming "push"). Sure we can tune other "busy" request timeouts to be shorter, but if those reque

[2019-12-05 07:34] lambdai commented on #8400
I see no reason to adopt EndpointSlice or EndpointGroup concept in envoy. I view EndpointSlice a way of data normalization. It reduce the transport load if we always do transport at full.
However,  if our long term goal is to support incremental at endpoint level, the early normalization is bringing more pain.
We now have to resolve the complexity of migrating endpoint from group A to group B.

[2019-12-05 07:36] jerry2102 commented on #8916
@twfx7758 does bazel 0.28.1 not work anymore for building envoy? I encountered the same problem as you. but it is hard for me to update bazel use bazelisk as I have no public network access right

[2019-12-05 07:36] derekargueta commented on #8933
ah right, can't swap atomically or it'd break wire compatibility with v2 xDS servers. Will do some spelunking around `envoy/source/common/config/utility.cc`, can't say I'm super familiar with this area of the codebase yet, but from what you're saying I'm inferring that I'm clear to continue this approach and that the Empty protobuf can be indirectly handled through these utility routines. In the m

[2019-12-05 09:52] erikbos commented on #4272
Will wasm support per route specific filtering?

[2019-12-05 10:45] lizan commented on #8916
just use whatever version in .bazelversion file, you don’t have to use bazelisk

[2019-12-05 13:04] gabrielvelo commented on #9206
@fredlas  I added some extra log lines and I can confirm that the nominal case (  a successfully connection from the control plane ) doesn't work as expected. In this case envoy will only send request for `type.googleapis.com/envoy.api.v2.Cluster` and `type.googleapis.com/envoy.api.v2.ClusterLoadAssignment` . In the other hand when the initial conection fails and the flow hit `GrpcMuxImpl::handleS

[2019-12-05 14:12] truealex81 opened #9238 "Multitagging for Prometheus metrics with regex doesn't work as documented"
**Title: Multitagging for Prometheus metrics with regex doesn't work as documented**

**Description**:
I'm trying to tag some metrics for Prometheus.
My clusters are configured like this one with names containing "@" delimiter
[code]
So, I have stat strings like this one:
`cluster.gateway@echo.assignment_stale: 0`
And now I want to catch 2 tags: `backend=gateway` and `namesp=echo` with following c

[2019-12-05 14:28] eziskind opened #9239 "Support per-session accounting"
The idea is to track how much resources (time or CPU cycles) are spent on a per-session basis from the time a connection is accepted to support things like per-tenant accounting for billing. This could potentially build on the `ScopeTrackerScopeState` class that @alyssawilk added for #7300.

@mattklein123 @htuch - it sounds like you have some thoughts about how to implement this.

[2019-12-05 14:31] alyssawilk commented on #9238
cc @jmarantz

[2019-12-05 14:51] dsbos opened #9240 "doc.: ConfigSource text"
**WARNING: If you want to report crashes, leaking of sensitive information,
and/or other security issues, please consider
[reporting them using appropriate channels](https://github.com/envoyproxy/envoy#reporting-security-vulnerabilities).**

**Issue Template**

*Title*: *One line description*

*Description*:

describe the desired behaviour, what scenario it enables and how it
would be used.

[opti

[2019-12-05 14:52] #9240 closed

[2019-12-05 14:53] dsbos commented on #9240
(GitHub issue UI apparently takes some keystroke as command to submit form.)

[2019-12-05 15:49] fredlas commented on #9206
Ok, thanks for the confirmation, in particular the fact that there is no LDS request sent.

I think that means this needs to be treated as a bug (or at least particularly delicate finnickiness) in the init machinery, as opposed to the implementation of xDS. When someone starts up a Subscription, an initial request is going to get sent, unless there's a problem with the connectivity (which we know

[2019-12-05 16:07] hennna commented on #3362
@htuch looks like there is an existing issue regarding eds config dump. mattklein123@ I was looking into getting a dump of effective eds weights but it seems that the /clusters endpoint dumps the endpoint weight. What would it take to get more eds info into the /clusters endpoint?

[2019-12-05 16:10] htuch commented on #3362
I've had other folks ask for this as well. Would be great to get someone to take on this work.

I think even disjoint from cluster, there is some value here.

[2019-12-05 16:26] yks0000 opened #9242 "Envoy response_flag=UT returning 200 instead of 504"
*Title*: *Envoy response_flag=UT returning 200 instead of 504*

*Description*:
We have an issue where upstream request timedout. Envoy set the right respone_flag as `UT` but response code was set to 200 instead of 504.

`[05/12/2019T16:14:53+0000 1575562493] method=POST authority=localhost:443 txId=- request=/StudentService/get alpn=HTTP/2 response_flag=UT ssl_protocol=TLSv1.3 ssl_cipher=TLS_AES_1

[2019-12-05 16:31] htuch commented on #7867
I think this is a conflation of concerns. We have one concern that is managing which filters are in the filter chain and their relative order, and another that is how individual filters are configured. Ideally we can provide config independently for each of these, and potentially federate the responsibilities to distinct parties.

I would like to see a filter config discover service that just supp

[2019-12-05 16:51] kyessenov commented on #7867
@htuch If we can enhance the filter chain discovery service to:
1) support HTTP filter chains;
2) allow composition from multiple control planes, e.g. multiple filter chains stitched together in one listener,

Then that would work as well.

[2019-12-05 16:53] htuch commented on #2967
@sriduth this looks great. I think you're using lex/yacc here. Did you have a look around to see if there is anything more modern for C++, e.g. parser combinators, that makes sense?

I think with some amount of Bazel integration and refactoring of common parsing conecrns, lex/yacc could be reasonable to drop in if that's the best option.

[2019-12-05 17:13] mattklein123 commented on #9239
@eziskind I do have lots of thoughts here. Maybe we could have a meeting and then circle back with a design doc? This is a complicated topic and I think it might be worth a meeting first to kick us off? WDYT?

[2019-12-05 17:15] mattklein123 commented on #3362
Agreed we should fix this and get EDS into config_dump. @hennna do you want to pick this up?

[2019-12-05 17:16] mattklein123 commented on #7867
FTR from the Lyft side the only thing we care about in this issue is being able to fetch an individual filter config from a federated management server. We will need this in Q1. cc @gkleiman @wgallagher

[2019-12-05 17:31] wlhee commented on #8817
We understand the implementation details now. No further action needed. Thanks everyone!

[2019-12-05 17:31] #8817 closed

[2019-12-05 18:17] sriduth commented on #2967
Thanks @htuch! Yup -  I've used bison and flex for the scanner and parser. I did look at other parsing libraries as well but I know too less to make a good call on how to select a library, so I thought I'd go with the most established libraries.

I also found these bazel rules: https://github.com/jmillikin/rules_bison and https://github.com/jmillikin/rules_flex which look to be maintained and also

[2019-12-05 18:19] kyessenov commented on #2967
FYI there's an ANTLR parser generator, too: https://github.com/google/cel-cpp/blob/master/bazel/antlr.bzl

[2019-12-05 18:30] #8750 closed

[2019-12-05 18:54] tonya11en commented on #8881
This is accomplished via https://github.com/envoyproxy/envoy/pull/9038

[2019-12-05 18:54] #8881 closed

[2019-12-05 18:57] hennna commented on #3362
It doesn't look like there's much time in the coming weeks. But are there parts of the code I can familiarize myself with to see how much work is involved?

[2019-12-05 19:36] hennna commented on #3362
We also may be able to dump this information in the control plane.

[2019-12-05 20:33] derekargueta commented on #8571
Circling back here, I have a doc nearly complete - hoping to share tomorrow or Monday, just needs some cleanup/diagrams.

I've spent a significant time reviewing the OAuth and OIDC specs and after much consideration, the doc will only propose a design for implementing the Authorization Code OAuth workflow for now, with open discussion points for OIDC and improving the jwt_authn filter to support D

[2019-12-05 20:58] bluetechy opened #9243 "Return x-b3-trace id in response"
*Description*:

Since Zipkin's Lens UI allows one to search on the trace id, it would be helpful if there was a flag in envoy's `typed_config` to include in the response header the `x-b3-traceid`, such as `return_trace_id: true` (similar to the `generate_request_id: true` flag).

For example:

[code]

Or alternatively in the `tracing` object:

[code]

so that it could be used to search here:

![Sc

[2019-12-05 21:21] LK4D4 commented on #9106
Fails in similar fashion on master with
[code]
[code]

[2019-12-05 21:31] mattklein123 commented on #8257
Policy released.

[2019-12-05 21:31] #8257 closed

[2019-12-05 21:32] mattklein123 commented on #3390
FYI I think the current plan here is to adopt the WASM ABI as our stable filter API.

[2019-12-05 21:39] dio commented on #9243
@bluetechy I'm wondering if `response_headers_to_add` is sufficient for this case:

e.g.

Tried adding it in: `examples/zipkin-tracing/front-envoy-zipkin.yaml`.

[code]
[code]

[2019-12-05 22:02] LK4D4 commented on #9106
Sorry, I didn't properly investigate. This is because of libstdc++, not compiler. In default GCC 5.5 libstdc++ in Ubuntu 16.04 there is no `list_initialization` syntax for `std::queue`.
GCC upgrade is indeed the solution.

[2019-12-05 22:30] #8800 closed

[2019-12-05 22:30] incfly opened #9245 "Consider adding metrics seconds_until_first_cert_expiring"
*Title*: Add metrics seconds_until_first_cert_expiring

Some users want to use short TTL cert plus having metrics to tracking cert expiration date. We already have days_until_first_cert_expiring, but that's too coarse grain when the cert is short TTL-ed. Instead we are proposing to add seconds_until_first_cert_expiring.

*Alternatives*

Users write their own code parsing the `admin/certs` and then

[2019-12-05 22:31] incfly commented on #9245
@dahutu

[2019-12-05 22:34] mhoran commented on #129
Yes! There was also an update given at [KubeCon](https://www.youtube.com/watch?v=FGBBeyZ-p1k). There's also now an event on the CNCF calendar for our bi-weekly sync but it's not showing up publicly. I'll look into what's happening there.

[2019-12-05 22:47] bluetechy commented on #9243
@dio Yes, I would think that would work nicely.  Is `value: "%REQ(x-b3-traceid)%"` currently supported as I just tried it locally and my pod crashed?  If it is, I will double-check my yaml then to figure out if I got a yaml error or not.

[2019-12-05 22:50] dio commented on #9243
@bluetechy mind to share your envoy version?

[2019-12-05 23:00] bluetechy commented on #9243
@dio Yes, sorry....I should have included my version in my last question to you.  Here you go:

![Screen Shot 2019-12-05 at 3 58 38 PM](https://user-images.githubusercontent.com/6248629/70281462-4e931d80-1778-11ea-85d0-385e52eefe66.png)

[2019-12-05 23:02] leosunmo commented on #7753
Is this on the roadmap for a patch version of 1.12.x or will it be addressed in time for 1.13.0?

[2019-12-05 23:03] mattklein123 commented on #7753
We need someone to investigate what is going on here.

[2019-12-05 23:12] bluetechy commented on #9243
@dio Just came across this issue (https://github.com/envoyproxy/envoy/issues/8683) which looks to discuss this same syntax.

[2019-12-05 23:17] bluetechy commented on #9243
@dio Looks to be a new feature in version 1.13.0 (see https://www.envoyproxy.io/docs/envoy/latest/intro/version_history).

![Screen Shot 2019-12-05 at 4 16 31 PM](https://user-images.githubusercontent.com/6248629/70282301-a6328880-177a-11ea-9ef6-58dab3fa8119.png)

[2019-12-05 23:20] mattklein123 opened #9246 "health checking: allow for immediate host removal"
In K8s (or other environments with very fast topology changes), we have an issue in which Envoy may detect upstream host health failures faster than the service discovery system catches up and pushes updates. This creates a situation in which Envoy can think it has a very low healthy host count when this update has actually been planned because the upstream hosts are being drained. This can lead t

[2019-12-05 23:25] theatrus commented on #9246
Should /healthcheck just respond with 410 Gone - seems apt for this state instead of using a header.

[2019-12-05 23:26] mattklein123 commented on #9246
Sure we can consider this when implementing. The only downside here is that if Envoy is health checking a non-Envoy this might be a legitimate failure in which they don't want immediate removal.

[2019-12-05 23:31] jpeach commented on #9097
@lizan Yep that makes sense. WDYT about adding the Node port message to the server_info admin endpoint? That seems more consistent to me.

[2019-12-05 23:41] dio commented on #9243
Yeap. You can use `envoyproxy/envoy-dev:latest` if you are OK with that. 😉

[2019-12-05 23:50] mattklein123 commented on #4704
I think this is done so closing this and we can track other improvements in new issues.

[2019-12-05 23:50] #4704 closed

[2019-12-05 23:51] mattklein123 commented on #5355
I'm going to just close this. This will live until v2 dies and then it's gone.

[2019-12-05 23:54] mattklein123 commented on #6166
I'm going to close this and we can track in https://github.com/envoyproxy/envoy/issues/1178

[2019-12-05 23:54] #6166 closed

[2019-12-05 23:57] mattklein123 commented on #7454
Closing this as we landed aggregate cluster. We can open new issues for specific requests.

[2019-12-05 23:57] #7454 closed

[2019-12-06 00:03] dio commented on #9243
Since it seems it is answered, I'm closing this.

[2019-12-06 00:03] #9243 closed

[2019-12-06 00:12] mattklein123 commented on #8923
Going to close this out as this will be fixed once we get the unrevert back in.

[2019-12-06 00:12] #8923 closed

[2019-12-06 01:14] mattklein123 commented on #9246
One case here that needs more thinking (was just talking to @theatrus about this offline) is what happens if a host says to remove itself, and then an EDS update comes in and re-adds the host. With SoTW updates this is very possible, maybe even likely. We could ignore this case, but we probably need to consider some type of dead state in which we keep track of the host, but don't actually add it t

[2019-12-06 01:46] wbpcode commented on #9127
Enable"use_remote_address" will add real address of previous hop to end of XFF. If your client connect envoy directly, you can get real client ip by downstreamDirectRemoteAddress. If there are some other proxy between client and envoy, You must ensure that the intermediate proxy records the client's real IP in the XFF header, and you need to set the correct xff_num_trusted_hops.

I suggest that yo

[2019-12-06 02:35] bluetechy commented on #9243
@dio I can confirm it does work with using `envoyproxy/envoy-dev:latest` so thank you for the excellent help.  It would be nice that once this is released that the example above that you provided is added to `examples/zipkin-tracing/front-envoy-zipkin.yaml`.  These would be the headers I think are most important:

[code]

[2019-12-06 02:51] dio commented on #9243
@bluetechy, sure! Thanks for confirming. To make it available in the example, I think you can send out a PR?

[2019-12-06 04:52] htuch commented on #7867
@lambdai any thoughts on https://github.com/envoyproxy/envoy/issues/7867#issuecomment-562215211?

[2019-12-06 04:54] htuch commented on #2967
Yeah, I think there are multiple considerations:
1. How well this integrates with Bazel.
2. How much boiler plate there is.
3. How close to a pure grammar we can get as developers. I.e. ease of use.
4. How well supported the library is. Ideally have something rock solid; parsers are security sensitive and we want something that has seen a lot of use.

[2019-12-06 05:36] danlanxiaohei opened #9250 "config envoy for gRPC bidirectional streaming server"
*Title*: *config envoy for gRPC bidirectional streaming server*

*Description*:

I have a gRPC bidirectional streaming server, and i use envoy as its front-proxy, then many clients request the envoy.(you can suppose the clients are  thousands of iPhone)
but, when the client's count is more than 1024,  the following  clients will not connect success, the error  is 【rpc error: code = Unavailable des

[2019-12-06 05:45] jpeach commented on #9182
I'm looking at this. I think the right approach is to throw, and `ServerContextImpl` already does this in some cases. There's also some refactoring needed for other release assertions that should not assert.

Please assign to me?

[2019-12-06 06:30] snowp commented on #9246
Is this attempting to solve a specific case where endpoints are removed from service discovery before they have been shut down? I don’t know enough about k8s to know if that’s how it works, but if so this seems to be a reasonable way of handling this.

To track the dead hosts it might be feasible to reuse the excluded hosts mechanism I added a while back - it would allow for Envoy to retain knowle

[2019-12-06 06:41] snowp commented on #5598
One thing I’m thinking about is whether it would make sense to move the generic lb configuration to the ClusterLoadAssignment proto, which would make it possible to reconfigure arbitrary lb details through EDS (or CDS since the proto is inlined). If we were to decouple endpoint details from the lb configuration (e.g. by using the named_endpoints) and provide a way to cross reference the structure

[2019-12-06 06:43] ramachaitanyak commented on #8292
@mattklein123 I had some discussions internally. So I am of the opinion to break this issue down to two parts.

The first part is to have a separate issue to scope out the design for an envoy security filter and another one to scope out the actions supported by this filter.

Here is a brief config on how the security filter would behave:

[code]

An example use case will be:

[code]
and where supp

[2019-12-06 16:38] Guigouu commented on #9170
[code]

This example works for me.

[2019-12-06 16:38] #9170 closed

[2019-12-06 17:41] #8554 closed

[2019-12-06 17:56] mattklein123 commented on #9246
The case here is Envoy is using active HC, the upstream starts draining, Envoy does an immediate HC fail, and suddenly we are in panic/spillover before servide discovery (K8s, etc.) actually catches up. This is not really a K8s specific problem, but mainly a problem in very highly dynamic environments.

Yes. I've thought about this more and this is how it has to work. We have to actually keep the

[2019-12-06 18:00] mattklein123 commented on #8838
I opened a CNCF service desk ticket to have someone help us fix this. I think it should be easy for someone that knows what they are doing.

[2019-12-06 18:23] markdroth commented on #5598
@snowp I don't quite understand what you mean about cross-referencing the structure and the endpoints.  Can you give a concrete example of how this might work?

In general, it seems like EDS is mainly dynamic data (i.e., it changes to shift load around), whereas CDS is more configuration data (i.e., it changes only when humans modify it), and I would think that the LB policy configuration fits mor

[2019-12-06 18:42] mattklein123 commented on #9231
A few thoughts:
1) This only really applies to HTTP/2, right? In the sense that for HTTP/1.1 a per-request idle timeout would be functionally (though not logically) equivalent.
2) What if we had an option in the HTTP/2 connection pool to allow periodic PING and then a disconnect if the response is not received in a certain amount of time? This seems like a more direct approach to achieving what we

[2019-12-06 18:46] mattklein123 commented on #3362
@hennna take a look at `ConfigTracker` and its use around the code base for allowing dumping of RDS, etc. When I originally opened this issue, I think was concerned about EDS being disjoint from CDS, but TBH, I don't think it matters as the `cluster_name` is embedded in the EDS/CLA response. I think "all you need to do" is just plumb the right tracker into the EDS machinery and then allow dumping.

[2019-12-06 18:51] mattklein123 commented on #8292
Hi @ramachaitanyak. We have discussed this internally at Lyft, and we need this filter also in Q1. Along those lines, I'm going to nominate @gkleiman to work with you directly on the design for this. Can you please find a time to meet with each other to have an initial chat? That way you can produce a design doc together. I can chat with @gkleiman in the background to help out as well.

At a high

[2019-12-06 19:18] snowp commented on #9246
Got it, makes sense to me. I think this feature would be helpful and not that hard to implement, we'd just need to make sure that we properly remove these hosts eventually.

[2019-12-06 19:30] goaway commented on #9231
1. Essentially, yes.
2. I think this would be super useful and entirely serve our purposes. It seems like it would address this older gRPC issue as well: https://github.com/envoyproxy/envoy/issues/6464 as well.

If folks like the idea of (2), it's something that I would be happy to work on.

[2019-12-06 19:35] snowp commented on #9231
If this is limited to H/2 as you said then yeah I think periodic PINGs are a great solution.

[2019-12-06 20:04] lambdai opened #9254 "VHDS subscription could refer a destructed init manager"
*Description*:

Brainstormed in my PR https://github.com/envoyproxy/envoy/pull/9209 but then I realize the issue is there before.
https://github.com/envoyproxy/envoy/issues/7617

The background is `RdsRouteConfigSubscription` has been shared by multiple providers across listeners.
Upon subscription construction the subscription keep a reference to the `Init::Manager` provided by the listener.
If t

[2019-12-06 20:11] mattklein123 commented on #9231
@goaway one other thought. What about TCP keep alives? Are we concerned that might for example work only to the first NAT hop and not reach all the way to the server edge?

[2019-12-06 21:38] snowp opened #9255 "Custom transport socket failure reasons"
The error messages returned by BoringSSL are often fairly vague, making it hard to debug TLS issues. For specific deployments it would likely be possible for operators to be able to better describe the failure.

For example, if given access to the TLS context (CA/local cert used), the peer cert and the BoringSSL failure string, a few lines of code might be sufficient to provide a better error mess

[2019-12-06 21:59] bcelenza commented on #9032
Adding a quick +1 here.

This would help us unblock customers in App Mesh who are affected by https://github.com/aws/aws-app-mesh-roadmap/issues/62. At the moment we don't have a clear picture of how to resolve this without increasing API complexity, and we of course want to keep TLS inspector on our egress listener for a number of use cases.

[2019-12-06 22:11] lizan commented on #9180
You can have two filter chain, one matches h2 alpn with `FilterChainMatch` and another matches http1.1 ALPN, in the h2 filter chain use full route config and h1 filter chain config with only /health.

[2019-12-06 22:12] lizan commented on #9255
Sounds reasonable, we have a couple of verification callback, so we can extract more information from there.

[2019-12-06 22:41] htuch commented on #5598
@snowp didn't the last discussion around EDS-overriding-CDS end up with the aggregate cluster compromise? Was that missing some use case or does custom LB introduce new options that might need overriding in EDS?

[2019-12-06 22:44] htuch commented on #5598
@markdroth isn't "Cluster -> Priority -> Locality -> Endpoint" what we had before aggregate cluster? :)

[2019-12-06 22:49] markdroth commented on #5598
@htuch No, before aggregate cluster, we had "Cluster -> Prioritized Locality -> Endpoint".  That structure couldn't handle overriding various things on a per-priority basis, which is why we had to add aggregate cluster.  What I'm proposing is combining the two places that we're doing prioritization into a single one.

[2019-12-06 23:07] mattklein123 commented on #9032
This is an interesting idea though I am concerned about the complexity and whether we really need this for some other reason.

@lambdai @bcelenza I'm not sure I really understand the problem that is being solved here though. Right now `listener_filters_timeout` defaults to 15s and is global. Why would you ever want an infinite timeout? What is the failure case exactly in the server speaks first ca

[2019-12-06 23:29] htuch commented on #5598
Yeah, that makes sense. I think this is going to be on of the more complex aspects of UDPA; right now I'm getting a feel that there are some pretty non-controversial wins we can make in UDPA, for example transport protocol, routing and the moral equivalent of EGDS (i.e. discovering endpoints groups without any of this implied priority and policy). We're going to have to look at a few other proxies

[2019-12-06 23:34] bcelenza commented on #9032
I think in our case the timeout implementation is less important than being able to filter out specific ports from using the TLS inspector filter. On server-first-byte scenarios, we're personally OK with not using TLS inspector and attempting to match traffic via other means -- but today the connection just fails. Hopefully that makes sense.

[2019-12-06 23:38] mattklein123 commented on #9032
Sorry what does it just fail? Because the TLS inspector expects data it will never receive and just hangs until the timeout?

Yeah I'm wondering if this would be sufficient. Basically just adding port exclusion to various filters. This could be added to the `Filter` proto itself. Essentially adding some basic matching to whether a filter applies at all? I suppose per-filter timeouts could be added

[2019-12-06 23:39] bcelenza commented on #9032
Correct :)

[2019-12-06 23:47] goaway commented on #9231
The fact that h2 ping is pretty much guaranteed (at least over TLS) to make it through through end-to-end unmolested makes it feel preferable to me. But TCP keep-alive could be a serviceable alternative.

If we send h2 pings, it becomes a stat we can start emitting as well, which is nice.

[2019-12-07 02:25] jyotimahapatra opened #9263 "Should healthcheck clustername check be more strict instead of StartsWith"
We observed that the healthcheck cluster identity does a startwith check https://github.com/envoyproxy/envoy/blob/b08af1fed4fbecb7e0b3555b022e071ed7dc2ffb/source/common/upstream/health_checker_impl.cc#L271-L271

Should it be more strict?

[2019-12-07 11:34] Barborica-Alexandru commented on #2092
I would live this feature. It would make envoy sidecars extremely usable.

[2019-12-07 16:55] snowp commented on #5598
There seems to be a fundamental question we should probably figure out: how much of the existing load balancing logic should be core vs extensions? In my mind I was imagining a world where everything was just extensions, which is why I was thinking about having an arbitrary config stanza as part of the CLA proto. Imagine something like this on the CLA proto:

[code]

When I said cross-reference in

[2019-12-07 17:56] snowp commented on #9213
I haven't given this a ton of thought, but I imagine we can do something like this to improve the consistency as we're doing an atomic write + read:

[code]

If that solves the consistency issue, then either doing one endpoint per cluster or introducing per endpoint circuit breakers might be the way to achieve 1 active request per endpoint.

[2019-12-07 18:00] #8644 closed

[2019-12-07 18:21] jmarantz commented on #8795
I have some improvements I've been messing with: https://github.com/envoyproxy/envoy/pull/9261/ which is incremental over the current architecture. But there are reasonable doubts about whether the added complexity justifies the benefit, per @htuch's comment.

The solution may be sufficient to address the need expressed in https://github.com/envoyproxy/envoy/issues/4815 as well.

[2019-12-07 18:22] jmarantz commented on #4815
See also https://github.com/envoyproxy/envoy/issues/8795 and https://github.com/envoyproxy/envoy/pull/9261/

[2019-12-07 18:32] mattklein123 commented on #9263
I don't recall the history here. AFAIK it should be an exact match and that is what all of the documentation says: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/health_checking#health-check-identity.

I would vote that we fix this, but I think the fix has to be runtime guarded and then removed after the normal deprecation cycle.

[2019-12-07 18:35] mattklein123 commented on #9231
TCP keep alive will work out of the box today and might be good enough for your immediate need. I like the idea of adding PING support to the HTTP/2 connection pool, so we could do that separately, or just wait and do it in the context of https://github.com/envoyproxy/envoy/issues/7403 which will unify the HTTP/1 and HTTP/2 connection pools to a large degree.

[2019-12-07 18:36] jmarantz commented on #8795
Also see https://github.com/envoyproxy/envoy/issues/9221 , where I raised issues about coalescing semantics that I feel might more directly lead to a natural solution to #4815 where the code becomes simpler.

[2019-12-07 21:00] #8730 closed

[2019-12-08 00:50] lizan opened #9266 "TypeWhisperer generates incorrect proto path and type_db_gen depends on order"
For example, `bazel-bin/external/envoy_api/envoy/admin/v2alpha/pkg/envoy/admin/v2alpha/tap.proto.types.pb_text` contains much more than what in envoy/admin/v2alpha/tap.proto:

[code]

which should only include:
[code]

This seems because api_proto_plugin's visitor.Visitor should be stateless while TypeWhisperer is stateful and keeps types in self._types.

@htuch

[2019-12-08 03:34] seflerZ commented on #8400
@mattklein123 I've create a issue [here](https://github.com/istio/istio/issues/19287) to discuss the EDGS issue.

@lambdai The problem is I don't see a wide need for context merging in other xDS (like CDS/LDS). If we construct a systematic and generic solution for merging, it should support patching and merging in all data types/paths as @kyessenov have described here:

This will be a huge PR and

[2019-12-08 04:00] #8821 closed

[2019-12-08 05:00] #8616 closed

[2019-12-08 09:35] mandarjog commented on #7867
@htuch i am thinking of wasm filters and the fact that there will be multiple. The only use of fconfigDS is that case is that if the wasm filter config changes we don’t end up cleaning all the v8 state and draining the listener.
However wouldn’t the same effect be achieved in fChainDS by diffing the new config against the old and realizing that only filter.reconfigure() needs to be called.

Every

[2019-12-08 13:03] dio commented on #3124
An idea for implementing this, a demo: https://github.com/dio/per-route-envoy-lua

The API is, of course, subject to change, but the idea here is: to list down all available `lua` codes, put a name for each of it and refer that from the route entry. As you can observe from https://github.com/dio/per-route-envoy-lua/blob/master/envoy.yaml.

[code]

The available `codes`:

[code]

The current `inlin

[2019-12-08 13:23] sriduth commented on #2967
I didn't know there was a c++ backend for antlr!

A friend pointed me to https://www.boost.org/doc/libs/1_71_0/libs/spirit/doc/html/index.html. Found these as well:

- https://github.com/LPeter1997/CppCmb
- https://github.com/taocpp/PEGTL

All of the above seem to define the grammar using datastructures in C++ instead of files having EBNF style rules.

I think from a robustness perspective - antlr

[2019-12-08 16:56] mattklein123 commented on #7867
+1. I really would prefer that we don't let this issue get out of control. IMO the only thing this issue should track is:
1) Allowing a single filter's config to be provided inline or via a config source.
2) If provided via a config source, allow for snapping/reloading filter config for new uses of the filter (connections/streams).

[2019-12-08 17:09] #8954 closed

[2019-12-08 17:13] #8855 closed

[2019-12-08 17:23] mattklein123 commented on #8400
For discussion, the one specific need that I know we must solve is to allow endpoint weights to be federated away from the endpoints themselves (so that we can build red-line testing and other systems orthogonal to the primary EDS discovery service). There are obviously a lot of different ways of doing this but I just want to make sure that need is known as we figure this whole issue out in Q1.

[2019-12-08 19:13] #8833 closed

[2019-12-08 21:13] #8853 closed

[2019-12-09 00:39] jpeach opened #9269 "SubjectAlternateName protobuf message omits IP address names"
*Title*:

SubjectAlternateName protobuf message omits IP address names

*Description*:

The `SubjectAlternateName` protobuf introduced in #4566 omits the IP address alternate names. These should be included for completeness and consistency.

[2019-12-09 00:57] htuch commented on #9266
This is definitely a bug, will have to look into this more tomorrow, but the root cause is the weirdness around how aspects traverse dependencies I think; we end up with each file being visited multiple times.

[2019-12-09 01:32] lizan commented on #9266
@htuch #9267 to fix this.

[2019-12-09 03:22] mauriedo opened #9274 "Envoy emitting a cluster.upstream_cx_protocol_error metric for a 304 response with body, but not rejecting the response?"
Envoy version: 1.11.2

A service in one of our clusters was returning an invalid 304 response with body (which should not happen, according to [RFC 7230 section 3.3](https://tools.ietf.org/html/rfc7230#section-3.3)). What we found curious was that Envoy was not rejecting the response, but emitting a `cluster.upstream_cx_protocol_error` coming from, we think, [this function](https://github.com/envo

[2019-12-09 04:34] htuch commented on #2967
I think Boost is out, for sure, since we have historically shied away from bringing Boost into Envoy.

If we take ANTLR, does this mean we have Java in our build process? Bazel is Java based, but I do have a slight concern over build performance. Looks like there is Bazel integration at https://github.com/marcohu/rules_antlr.

PEGTL seems the more mature/active of the parser combinator libraries.

[2019-12-09 04:37] htuch commented on #7867
Yes, this is basically what I was suggesting above, treat ordering/multi-filter stuff distinct from the individual filter config discovery service. I think it's definitely the right thing to do to implement the latter first.

[2019-12-09 09:08] danlanxiaohei commented on #9250
@mattklein123 is this issue is same as https://github.com/envoyproxy/envoy/issues/9215?

[2019-12-09 10:03] frcai commented on #2557
#8496 already merged, can we try v1 now? any document we can refer to enable quic on Envoy?

[2019-12-09 11:13] dio commented on #9250
@danlanxiaohei can you try this: https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cluster/circuit_breaker.proto#cluster-circuitbreakers-thresholds? Seems like you want to tweak `max_connections`/`max_requests` to be greater than 1024.

[2019-12-09 13:15] wbpcode opened #9278 "Best use case of the tap filter"
Also, is it a good practice if I use the tap filter as a daily logging tool to record the request/response body?
I still have some doubts about the best use case of the tap filter, and I don't know if anyone has any suggestions.

@htuch

[2019-12-09 13:52] jmarantz commented on #2763
It should be straightforward to add an option -- maybe a command-line option -- to reject all POST requests to admin. All mutations already check for POST.

[2019-12-09 16:13] markdroth commented on #5598
@snowp In general, I agree that making everything extensible is the right approach.  I think that the built-in LB policies can simply be provided as plugins that are shipped with Envoy and available by default.  This is what we do in gRPC for the few LB policies that we provide out of the box.

I think there's also another benefit to what you're proposing here, which is that it actually removes th

[2019-12-09 17:49] #9222 closed

[2019-12-09 18:00] mattklein123 commented on #2763
@jmarantz FWIW I would rather just make the admin listener a real listener that can use filters. I don't think this would actually be *that* hard. Then we use all normal config for RBAC, access logging, etc.

[2019-12-09 18:28] alyssawilk commented on #7753
Second pass at integration test (hella hacky, but I believe it's running both filters) also fails to reproduce: the content length goes all the way through.  I'm sure this is an actual problem given the number of disparate reports, but it'd really help if someone encountering the issue could repro it in test somehow?

https://github.com/envoyproxy/envoy/compare/master...alyssawilk:7753

[ RUN

[2019-12-09 18:47] stevenzzzz commented on #9254
This is a similar problem as RDS in the scope of SRDS, where a new subscription might be created exceed listenerImpl life-span. I think we can fix it by depending on a noop init manager when we detect that the listener is gone. it's kinda of an addition to the #7617, we can probably solve both in one shot.

[2019-12-09 19:57] rbkumar88 opened #9284 "Enhance envoy listener TLS to support multiple trust domain"
*Title*: *Enhance envoy listener TLS to support multiple trust domain*

*Description*:
Currently the envoy TLS listener configuration only supports mTLS communication only from one trust domain. Would be nice to enhance that to support multiple trust domains so that authN mechanisms like SPIFFE can be leveraged.

[2019-12-09 21:07] yanavlasov opened #9285 "Deprecate Http2ProtocolOptions.stream_error_on_invalid_http_messaging"
*Title*: Deprecate Http2ProtocolOptions.stream_error_on_invalid_http_messaging

*Description*:
Deprecate Http2ProtocolOptions.stream_error_on_invalid_http_messaging in favor of the mandatory HttpConnectionManager option(s) to ensure that as of now an easily overlooked flag is configured appropriately for the envoy deployment.

[2019-12-09 21:51] sunjayBhatia opened #9288 "Add additional documentation about Azure Pipelines workflows for contributors"
It would be useful for contributors to have some documentation like the `repokitteh` documentation in the Envoy source that gives information about the Azure Pipelines checks and potentially list out common workflows or link to Azure documentation.

(In addition, if contributors could be given access to re-run failed Azure Pipelines builds that would be quite helpful)

*Relevant Links*:
- https://

[2019-12-09 22:06] danzh2010 commented on #2557
@wu-bin is working on doc/instruction/sample config of turning on QUICHE in Envoy.
One thing I need to point out is that we don't support encryption yet. The proof source/verifier is a fake one. @bencebeky will add actual impl soon.
I would add an integration test for multi-worker to verify our implementation also works with SO_REUSEPORT https://github.com/envoyproxy/envoy/pull/8884 with in 1 or 2

[2019-12-09 22:08] bobby-stripe commented on #9231
This feels like a good approach to me!

[2019-12-09 22:21] #9266 closed

[2019-12-09 22:22] lizan commented on #9288
We're working to get `/retest` working for both azp and circle, `/azp run` doesn't work for anyone who is not maintainer currently.

[2019-12-09 22:46] fcfort opened #9292 "Use-after-free problem with Cluster update callbacks"
Cluster update callbacks[[1]](https://github.com/envoyproxy/envoy/blob/80cea119e0910e9c41ba543017bfc3ee0cb0909f/include/envoy/upstream/cluster_manager.h#L39) (introduced in https://github.com/envoyproxy/envoy/pull/2814) cannot be used correctly if the callback is owned by an object destroyed *after* the Envoy server's instance `thread_local_`[[2]](https://github.com/envoyproxy/envoy/blob/80cea119e

[2019-12-09 22:58] sunjayBhatia commented on #9288
@lizan ah i see, so that may supersede this request and https://github.com/envoyproxy/envoy/pull/9289

Is there anywhere we can keep track of the `repokitteh` changes?

[2019-12-09 23:28] mattklein123 commented on #9242
The timeout can occur after the response headers have been written.

[2019-12-09 23:30] mattklein123 commented on #9274
@alyssawilk any idea on this one?

[2019-12-10 00:54] gongcon commented on #8777
Anyone can help on this? @dio @snowp ?

[2019-12-10 02:18] cetanu commented on #8412
Just checking in again, still haven't figured out why this is going on, but also haven't had that much time to look at it.

[2019-12-10 02:44] dio commented on #2967
FWIW, @kyessenov's https://github.com/envoyproxy/envoy-wasm/pull/345/files

[2019-12-10 02:48] kyessenov commented on #2967
That was fast @dhi. Re: Java dependency -- is this a big deal? Bazel is written in Java so the build process already implicitly depends on Java. The reason for ANTLR in my PR is simple: there is a formal G4 grammar that is shared between several languages, so it makes total sense to use the same parser runtime.

[2019-12-10 04:36] htuch commented on #9278
I think the network TAP filter was only ever designed with developer's needs in minds (as opposed to the HTTP TAP, which does have streaming support). I would not recommend it for production use, I think we probably need to have a streaming interface for that.

[2019-12-10 04:41] htuch commented on #5598
I think the endpoint cross-refs is basically what we are thinking about in EGDS (see mentions of this in https://github.com/envoyproxy/envoy/issues/8400), I think there is a lot of alignment around this idea.

[2019-12-10 04:53] htuch commented on #2967
@kyessenov I have no strong opinions, I'm curious to learn more. Did adding ANTLR have any measurable impact on build performance?

[2019-12-10 05:50] sriduth commented on #2967
I tried integrating antlr during the weekend using bazel referring to the link @kyessenov shared (https://github.com/google/cel-cpp/blob/master/bazel/antlr.bzl)

I ported the base grammar and implemented a listener (all tests are failing) - but here are some numbers for build times.

`bazel clean` and then `time bazel test //test/common/access_log:access_log_formatter_test `

Without antlr:

[code

[2019-12-10 11:49] makefriend8 commented on #9154
@zuercher   I only find build_test.exe and  go_build_test.exe   and then what to do?

[2019-12-10 12:11] makefriend8 opened #9296 "Is it possbile to get the envoy-static.exe?"
Is it possible to run on windows ? I only find build_test.exe and go_build_test.exe

[2019-12-10 12:14] dio commented on #9296
cc. @wrowe

[2019-12-10 14:41] alex3dm opened #9297 "Envoy Error 503 UC"
*Title*: *Envoy Error 503 UC*

*Description*:
We use Envoy version 1.10.0 as part of Istio (1.1.0) in sidecar applications.
Sometimes we get an error on the Envoy client with the UC flag. The default retry policy is set for GRPC . In theory the retry mechanism should work. But it does not.

We tried with a later version of Envoy (1.12.0) but the retry mechanism does not work. Also, with a UC error

[2019-12-10 14:56] dio commented on #9297
@alex3dm can you elaborate more? Seems like this issue is incomplete.

[2019-12-10 15:03] dio commented on #7986
I'm investigating this. Once it is possible to re-open the issue, I'll do it.

[2019-12-10 15:23] Jan-M commented on #9107
Nice idea!

[2019-12-10 15:31] htuch commented on #9274
@yanavlasov will take a look.

[2019-12-10 15:47] caitong93 opened #9299 "Redis cluster: not ready cluster will block server initializing"
*Title*: *redis cluster: not ready cluster will block server initializing*

*Description*:

I use redis cluster with CDS. In server initialize phase, envoy receives clusters from config server, including several redis clusters. Some of the redis clusters cannot be connected,  and CDS initializing is blocked due to `initializePhase` for redis cluster is [Primary](
https://github.com/envoyproxy/envo

[2019-12-10 16:39] alex3dm commented on #9297
@dio done

[2019-12-10 16:53] snowp commented on #5598
I think this is pretty key in providing a truly extensible LB experience: having the API (and by extension the implementations) be opinionated about the hierarchy makes it hard for custom LBs to efficiently store endpoints in a different format: in Envoy, this would most likely result in these LB extensions managing their LB state in addition to the `PrioritySet`, resulting in a lot of wasted spac

[2019-12-10 16:55] mattklein123 commented on #9299
I don't think primary vs. secondary is the issue here. I think this is a bug in which the redis cluster is not timing out correctly. @HenryYYang do we have any kind of init timeout for redis that will unblock it eventually?

[2019-12-10 17:46] PiotrSikora opened #9300 "Enable TLS 1.3 on the client-side by default"
Currently, TLS 1.3 is NOT enabled by default on the client-side, because the handshake changed a bit in TLS 1.3, and is considered completed on the client-side as soon as the requested client certificate is sent, i.e. before server validates the presented client certificate. This means that the client-side transport socket reports connection as established, and the client starts sending data witho

[2019-12-10 18:11] wrowe commented on #9154
This can be reopened. At this time there is insufficient documentation surrounding what and how the CI is building, which includes the (very minimal) envoy-windows ci/windows_build_steps.sh list. We are currently working to bring the envoy sources into a buildable state, but docs remain a critical component of declaring this phase accomplished.

[2019-12-10 18:18] wrowe commented on #9296
The answer is twofold... The master branch at the project does not yet entirely build on windows. We are currently working on this aspect and have an open slack discussion for collaborators on envoy-windows-dev channel.

The second part is that master should be ready for peer development this month. It will not be production ready; only those capable of compiling and then debugging the sources can

[2019-12-10 19:22] stevenzzzz commented on #9292
/cc stevenzzzz

[2019-12-10 19:34] mattklein123 commented on #9292
There aren't that many uses of this feature currently. All such uses are in filters/extensions that are freed before. I think there a few different options:
1) Manually destroy all the stat sinks during shut down before the rest of destruction happens.
2) Possible move the handle to some type of weak/strong pointer situation that would be immune to this behavior (though harder to reason about).

I

[2019-12-10 19:53] stevenzzzz commented on #9292
this is another example where references (handles) lives longer than things been referenced(update_callbacks_).
I have run into this kinda of condition before, had to avoid the destruction order conflict carefully.
For this issue, I think the problem is the registered callback handle is held live outside of the instanceImpl lifecycle, we could probably try releasing the handle by registering a lif

[2019-12-10 19:56] mattklein123 commented on #9292
Yeah lifecycle callback would work also.

[2019-12-10 20:52] evan2645 commented on #9284
I've been getting a lot of questions about this lately. To solve it with a single listener, it is necessary to choose the correct bundle based on the domain of the certificate that's being validated. There are some examples of how to do this in other projects (CA pinning), but I haven't found support for it in Envoy.

I've put a bit of thought into what it could look like. One option is to extend

[2019-12-10 21:39] puskar opened #9304 "Create a mailing list just for security announcements"
Our security folks would like a mailing list just for security related issues. Others were similarly interested and @mattklein123 felt this was reasonable and proper :)

[2019-12-10 21:41] mattklein123 commented on #9304
@envoyproxy/security-team any thoughts on this? On one hand I feel our announce list is so low volume that a security team can sort through the emails, but this also seems like a reasonable request.

[2019-12-10 22:42] htuch commented on #2967
Is that 2 minutes extra just because you modified a grammar entry, or because your build now depends on ANTLR and it forced the full build?

Are these incremental or clean builds?

[2019-12-10 23:52] dio commented on #3124
@erikbos @salper per [above PR](https://github.com/envoyproxy/envoy/pull/9279), you can play around with the image here: docker.io/dio123/envoy-lua. I also have updated the demo repo to reflect this change.

[2019-12-11 01:31] #8866 closed

[2019-12-11 02:06] dio commented on #7986
There are two things here.

1. You need to set the `response_header_to_add` for the router. This can be done Today, through a config, e.g.

[code]

However, you need to send that foo header to upstream through:

[code]

which probably you don't want to. So the ask here, how to pass the intended headers (the response header from the ext_authz service) to, most likely, the router (so it understands

[2019-12-11 02:52] incfly commented on #4757
Hi folks, we're considering to contribute a workaround fix by hardcode traversal the listener/cluster/secrets, before the desired approach (proto annotation && reflection) landed. Thus the admin config dump interface won't be subjected to leak private key.

Something like an utility function as `void RedactSecurityData(protobuf::Message& message)`.

WDTY? @htuch @mergeconflict

[2019-12-11 03:05] mergeconflict commented on #4757
@incfly Funny timing... I actually just picked this back up. I have an implementation that's probably about halfway done. Let's chat tomorrow?

[2019-12-11 03:07] incfly commented on #4757
Glad that I checked. :)  Yeah let's chat tomorrow then

On Tue, Dec 10, 2019, 7:05 PM Dan Rosen <notifications@github.com> wrote:

[2019-12-11 03:12] terinjokes commented on #4757
@incfly Awesome. We were just talking about this bug today, since it effects are ability to debug some issues.

[2019-12-11 03:38] mattklein123 commented on #4757
FWIW I feel like we have enough code in the codebase now dealing with annotations, parsing, etc. that it shouldn't be that hard to do this "the right way."

[2019-12-11 03:53] sriduth commented on #2967
Ah sorry, I should have mentioned it. For the first tow I run `bazel clean` followed by the `bazel test`.

The last one is an incremental build where I change the grammar definition.

[2019-12-11 04:00] swift1911 opened #9307 "Envoy Dubbo Proxy Bad response: hessian type is not int 83"
*Title*: *Envoy Dubbo Proxy Bad response: hessian type is not int 83*

*Version*:
Envoy 1.12.1
Dubbo 2.7.3(Both client and server)

*Description*:
I have tested use Envoy as a front proxy for Dubbo Service, but i meet a problem.It seems related to the decoder.

*Config*:
[code]
*Logs*:
[code]

*Dubbo Call Stack*:
[code]

[2019-12-11 04:28] derekargueta commented on #2967
Just to throw my 2 cents in, I was planning on using [Ragel](http://www.colm.net/open-source/ragel/) to parse the ASCII Memcached codec, which is what [McRouter](https://github.com/facebook/mcrouter) uses to accomplish [the same task](https://github.com/facebook/mcrouter/blob/master/mcrouter/lib/network/McAsciiParser.rl). I'm not sure how it compares to parsing libraries like ANTLR as I don't ofte

[2019-12-11 04:31] #8291 closed

[2019-12-11 05:31] #8868 closed

[2019-12-11 10:20] sriduth commented on #2967
A summary of the parsers discussed:

| Library        | Type | Bazel           | Security | Perf | Develpment |
| ------------- |:-------------:| -----:|--------|------|------|
| bison & flex     | code generator | yes | TBD | https://github.com/envoyproxy/sql-parser/ | Will need to know flex & bison syntax |
| antlr      | code generator      |   yes | TBD | Not measured | Has a well documented s

[2019-12-11 10:21] budanm opened #9310 "dynamic secrets are gettting stuck at warming state"
*Title*: *dynamic secrets are getting stuck at warming state*

*Description*:
Hi, we are using Envoy proxy as a reverse proxy as a Kubernetes deployment.

As part of testing, from the envoy control plane, we are passing two secret entries in a snapshot for the envoy node.

However, only one of these secrets is being referred to as part of a tls context configuration for one of the dynamic clusters

[2019-12-11 11:15] danielgblanco commented on #8871
I appreciate this was just a question, but is there an issue reported for this or anywhere else to follow up? This issue blocks anyone from using Zipkin in `HTTP_JSON` version.

[2019-12-11 11:56] dio commented on #8871
@danielgblanco seems like there is no reported issue yet. If you have time could you submit an issue regarding this? I'll try to come up with a proposal to fix this.

[2019-12-11 11:56] danielgblanco commented on #8871
Brilliant, I'll do that ASAP.

[2019-12-11 12:15] #8736 closed

[2019-12-11 12:53] zyfjeff commented on #9307
@swift1911
Is the serialization protocol used on the provider side hessian2?

[2019-12-11 12:59] swift1911 commented on #9307
@zyfjeff Yes , it should be hessian2. I have used the Dubbo default config.From Dubbo document, the default serialization protocol is hessian2.
https://dubbo.apache.org/en-us/docs/user/references/protocol/dubbo.html

[2019-12-11 13:12] zyfjeff commented on #9307
@swift1911
Can you post the results of the packet capture?

[2019-12-11 15:27] fcfort commented on #9292
Using a server lifecycle callback posed its own problem, inducing another use-after-free bug, this time because the server lifecycle callbacks themselves are freed once during their destruction in `Envoy::Server::Instance` and again later when `Configuration::MainImpl config_` is being freed since my Stats sink holds a the handle to the server lifecycle callback it is using.

I created a draft PR

[2019-12-11 16:01] stevenzzzz commented on #9292
IMHO for life-circle callbacks, we should probably consider to make them self-destructible: they are supposed to be called once, and once called, I don't think they need to hang there until been deliberately deleted or by shutdown. in general, an one-time handle of an event should not live longer than the event itself.

[2019-12-11 17:07] mergeconflict commented on #4757
I have a PR up: #9315. It still needs some work, and doesn't fix this issue yet (currently it only redacts SSL certs in the admin config_dump) but I intend to apply it to this as well.

[2019-12-11 17:45] efimki opened #9318 "Envoy may coalesce some HTTP headers that should not be coalesced."
*Description*:
Comments in HeaderMap suggest that all headers listed in ALL_INLINE_HEADERS are coalesced into a single comma-separated value, for example:

   * Calling addReference multiple times for the same header will result in:
   * - Comma concatenation for predefined inline headers.
   * - Multiple headers being present in the HeaderMap for other headers.

The ALL_INLINE_HEADERS list includ

[2019-12-11 17:46] efimki commented on #9318
@PiotrSikora @alyssawilk @AndresGuedez FYI.

[2019-12-11 19:45] davecheney opened #9319 "What is the correct name of a tls transport socket"
According to the deprecation [documentation](https://www.envoyproxy.io/docs/envoy/v1.12.0/api-v2/api/v2/listener/listener.proto#envoy-api-field-listener-listenerfilter-name), the name of the transport socket should be `tls`

However, documentation on the [SNI faq page](https://www.envoyproxy.io/docs/envoy/v1.12.0/faq/configuration/sni#faq-how-to-setup-sni) suggests that the correct name is `envoy.

[2019-12-11 19:49] kyessenov commented on #9319
@lizan

[2019-12-11 20:15] #8875 closed

[2019-12-11 21:51] incfly commented on #4757
Thanks @mergeconflict ! Yeah, #9315  will satisfy our needs. I'll follow up on that PR.

[2019-12-11 22:29] htuch commented on #2967
@rshriram do you know how hard it would be to move the SQL parser to ANTLR? I'm encouraged by ANTLR based on the research that @sriduth has done.

[2019-12-11 22:59] htuch commented on #9319
`envoy.transport_sockets.tls`

[2019-12-11 23:11] #7650 closed

[2019-12-11 23:42] saksmt commented on #96
3 years, guys, seriously...

[2019-12-12 02:45] swift1911 commented on #9307
@zyfjeff I have uploaded my tcpdump result.
[dump.pcap.zip](https://github.com/envoyproxy/envoy/files/3953556/dump.pcap.zip)

[2019-12-12 06:05] danlanxiaohei commented on #9250
@dio enlarge the  max_requests works for me !
but i still have doubt about this ,  is this the best way to config gRPC bidirectional streaming RPC?

[2019-12-12 08:10] asze70 opened #9325 "HTTP Tap - Streamed trace segments output does not contain headers added by Envoy"
*Title*:  HTTP Tap - Segmented trace output  does not contain headers added by Envoy

*Description*:
Using the Tap feature the fully buffered trace and the streamed trace segments output formats differ with regard to the headers added by Envoy. The streamed  trace segments output does not contain the headers added at virtual host, global route and route level while the buffered trace output contai

[2019-12-12 09:38] Brunomachadob opened #9326 "Mirrored request with host rewrite has wrong Host header"
*Description*:
I'm currently trying to use `request_mirror_policy` in a route that is also using `auto_host_rewrite`.
The problem are the `host/:authority` headers in the mirrored request is giving me weird results...

*Repro steps*:
I created a simplified version of my setup in this [gist](https://gist.github.com/Brunomachadob/33c53e0c3557283eb2e802cc2699fc39) including a full log of execution

[

[2019-12-12 10:00] sbz commented on #7650
Thanks! 🤝

[2019-12-12 10:30] dio commented on #9326
cc. @derekargueta who recently touched codes related to this.

[2019-12-12 13:09] jmarantz opened #9328 "util: memcpy of whole structures should have a macro wrapper"
Per discussion in https://github.com/envoyproxy/envoy/pull/9306 we should have a check_format check for memcpy, with carve-outs for the buffer-appending case in that PR, and for a macro definition we add for copying blocks in a way that obviously cannot have memory bounds violations, e.g.:
[code]
or maybe
[code]
or maybe
[code]

[2019-12-12 15:20] auni53 commented on #2920
We're implementing lame duck mode for our project, so I may be taking this issue on. Not sure yet though, still scoping.

[2019-12-12 16:58] mattklein123 commented on #9325
Per email thread, the issue here is that the headers are added after the tap filter streams its view of the headers. This is going to be difficult to fix but it's worth looking into this to see if we can do better here.

[2019-12-12 17:11] #9292 closed

[2019-12-12 17:24] lambdai commented on #9254
Agree. Need to find another signal to indicate `init_manager` is not required.

[2019-12-12 19:22] baojr opened #9332 "Make xDS retry backoff configurable"
*Title*: *Add configuration parameters for xDS retry backoff strategy*

*Description*:
The gRPC xDS implementation uses hardcoded retry durations for re-establishing the gRPC channel. I'm planning to address the TODO to make the backoff configurable, and I'm opening an issue so that I can get feedback on the configuration options I add.

*Relevant Links*:
https://github.com/envoyproxy/envoy/blob/v

[2019-12-12 19:32] #2052 closed

[2019-12-12 19:33] cyrus-mc opened #9333 "Route per_filter_config rate limit not working"
*Description*:

I am currently trying to set a `per_filter_config` in a route but the configuration does not seem to take effect.

With the configuration below, the rate limit service is not called when hitting this route.

If I configure the listener `filter_chains -> http_filters` with rate limiting configuration it works. My use case for the above is that I want to be able to over-ride the doma

[2019-12-12 19:36] HenryYYang commented on #9219
I think this might be an issue with PING_INLINE protocol.  I don't think the envoy redis proxy supports the inline protocol.  So if you specify the commands to test with -t argument.  This will probably work.

[2019-12-12 19:59] HenryYYang commented on #9299
Currently the request to redis cluster will timeout, but it'll periodically and indefinitely retry to initialize the cluster.  There's no timeout for the maximum amount of time for init.  I don't think other discovery type have timeout for init neither.

Back to the original problem, I don't think declaring the sidecar ready while the cluster is not initialized is a great idea.  This would just cr

[2019-12-12 20:07] HenryYYang commented on #5488
Every time it came up to add a header of some sort in the Redis protocol, it's been shot down.  This is still not possible in RESP3.

[2019-12-12 20:22] markdroth commented on #5598
I think the most flexible way of approaching this might be to simply have each LB policy control how it identifies its children.  There are some cases where it will be useful to directly configure a policy's children in its LB config, but there are other cases where the policy will need to dynamically determine its children at run-time.  That might be done based on a request header, or it might be

[2019-12-12 20:31] TAOXUY opened #9335 "json_grpc_transcoder: missing dependency google.grpc.status when building with clang bazel rbe"
When we built envoy with clang-8 and rbe, we always got

 .../external/envoy/source/extensions/filters/http/grpc_json_transcoder/BUILD:15:1: undeclared inclusion(s) in rule '@envoy//source/extensions/filters/http/grpc_json_transcoder:json_transcoder_filter_lib':
this rule is missing dependency declarations for the following files included by 'external/envoy/source/extensions/filters/http/grpc_json

[2019-12-12 20:31] TAOXUY commented on #9335
@nareddyt

[2019-12-12 20:32] #8867 closed

[2019-12-12 20:35] nareddyt commented on #9335
RBE is [Google Cloud Remote Build Execution](https://docs.bazel.build/versions/master/remote-execution.html). We do not use remote build, only remote caching.

This occurs for commit `648cfc3b6c1410d8b27aa33b6fc0392ab230d601`, which is 3 weeks old. We double-checked that there are no new changes to that file since then.

@TAOXUY will link a quick PR to fix this. It just adds a dependency to the ba

[2019-12-12 20:41] TAOXUY commented on #9335
https://github.com/envoyproxy/envoy/pull/9336

[2019-12-12 20:53] lambdai commented on #9032
In the past evolution the default behavior is changing. Fail hard, or timeout.

I agree. It's good enough for our requirements.

[2019-12-12 20:55] lambdai commented on #9032
How about this? I add a `Matcher` per ListenerFilter.
Initially the matcher contains only port. Only if the matcher says yes the listener filter will be activated.

[2019-12-12 20:57] lambdai commented on #9032
We need more changes on the timeout. The existing timeout behavior is drop connection or accept connection. I believe with per_listener_filter `timeout` comes with per_listener_filter decision of accept or drop.

[2019-12-12 21:32] #8898 closed

[2019-12-12 21:45] #8992 closed

[2019-12-12 22:09] snowp commented on #4685
@cpakulski Just checking in to see if you're still planning on working on this? Or should I unassign you?

[2019-12-12 22:23] cpakulski commented on #4685
@snowp You must have used 6th sense, because I started to work on it today! I am at unit testing stage now and should create PR with a day or two.

[2019-12-12 22:28] snowp commented on #9325
I can imagine having something akin to an upstream HTTP filter chain, making it possible to configure a set of HTTP filters that are passed the entirety of the upstream request/response. That way you could include a tap filter that sees not only the final request headers without buffering, but is also able to output individual retry attempts etc.

A general filter mechanism would also open up for

[2019-12-12 22:44] mattklein123 commented on #9325
Yeah, this would work.

More simply we could also just add a callback that an HTTP filter could register for like `onHeadersContinued(...)` or something like that, so a filter could actually get notified when everything has made it through the chain. But yeah I think the upstream filter chain is probably the better real solution.

[2019-12-12 22:54] jpeach commented on #9174
FWIW, I did some experiments and each `.*` increases the program size by 15, so one rule of thumb is that a program costs ~50 + 15 for each `.*`. I don't know what that means for execution time.

[2019-12-13 00:13] mattklein123 commented on #2133
I'm going to close this out as I'm skeptical automation here is going to be easy and cover enough cases and we generally do a good job now if adding these where relevant during PRs.

[2019-12-13 00:13] #2133 closed

[2019-12-13 00:21] mattklein123 commented on #3239
Let's track in the context of https://github.com/envoyproxy/envoy/issues/4283 which should cover this.

[2019-12-13 00:21] #3239 closed

[2019-12-13 00:36] mattklein123 commented on #3774
This has been implemented with the new generic layers system.

[2019-12-13 00:36] #3774 closed

[2019-12-13 00:37] mattklein123 commented on #4048
This was fixed. There are now retry trace tags.

[2019-12-13 00:37] #4048 closed

[2019-12-13 00:38] mattklein123 commented on #4461
@ramaraochavali implemented this I believe.

[2019-12-13 00:38] #4461 closed

[2019-12-13 00:42] kyessenov commented on #4461
TrafficDirection on listener is used for that.

[2019-12-13 01:51] derekargueta commented on #9326
👀
my pr hasn't landed yet but I can help investigate

[2019-12-13 02:02] bcelenza commented on #9032
I assume the matcher could be configured for inverse matching, i.e. “match all ports except 3306”? If so, that sounds like exactly what we need. 👍

[2019-12-13 04:44] rshriram commented on #2967
I investigated it in the past. It was hard to come by some full fledged C++ parser for SQL stuff with antlr. Also that parser code was forked from another OSS project, and hacked to get all the parser callbacks, etc. So, its going to be a bit of rewrite.

[2019-12-13 04:53] derekargueta commented on #9326
So there's 2 main observations I have so far.

Not quite, because the way that shadowing works is that it takes an exact clone of the original request, and just adds `-shadow` as a suffix to the host, and doesn't do its own host resolution for the `api-mirror` cluster ([code here](https://github.com/envoyproxy/envoy/blob/master/source/common/router/shadow_writer_impl.cc#L28)) regardless of `auto_h

[2019-12-13 05:50] Shikugawa opened #9339 "ci: update python3 version on envoy docker image"
*Title*: update python3 version on envoy docker image

*Description*:

So we can't use latest python features like `capture_output` option defined from `subprocess.run`

[2019-12-13 08:58] junyer commented on #9174
At the risk of derailing into inside baseball, https://github.com/google/re2/commit/6a86f6b3f4a6d797886cd4cf6bca73ed25b2d00a reduced the cost of `.` and will be in the next release of RE2. (I wanted https://github.com/envoyproxy/envoy/pull/9171 in place so that the Envoy tests wouldn't suddenly break.)

[2019-12-13 10:04] domhauton commented on #9094
For anyone who comes across this before a PR is created: As a temporary workaround we're currently re-routing mirrored traffic through the same envoy instance on a second listener to do a host header rewrite. It will add latency to mirrored requests but as they are mirrored and we ignore the response anyway it doesn't make too much difference. It does add some cpu/memory usage. A nice side-effect

[2019-12-13 11:38] Brunomachadob commented on #9326
Thank you for the quick and detailed answer!

_Regarding the cluster used in the host_
I'll try to wrap my head around it and maybe open a SO/issue with some more questions if needed.

_Regarding the mirror host resolution_
Thanks for clarifying it, I think it's not going to be a huge problem for me, at least for now.
Let me know if there is something else I can do to help on this

Thanks!

[2019-12-13 11:43] danielgblanco opened #9341 "Zipkin HTTP_JSON v2 spans using strings for timestamp/duration"
*Title*: Zipkin HTTP_JSON v2 payload using strings for timestamp/duration

*Description*:
According to the Zipkin v2 API (https://zipkin.io/zipkin-api/#/default/post_spans) spans should contain `timestamp` and `duration` fields as `int64`, not strings, in the JSON payload. This makes collectors not being able to parse the JSON payload.

When configuring Zipkin to use the `HTTP_JSON` endpoint versi

[2019-12-13 11:43] danielgblanco commented on #8871
Sorry for the delay, I've created https://github.com/envoyproxy/envoy/issues/9341

[2019-12-13 16:49] mattklein123 commented on #8366
This was fixed.

[2019-12-13 17:15] mattklein123 commented on #5644
This is merged, we can track further work is individual issues/PRs.

[2019-12-13 17:15] #5644 closed

[2019-12-13 17:16] #9228 closed

[2019-12-13 17:24] mattklein123 commented on #9096
Fixed by https://github.com/envoyproxy/envoy/pull/9125

[2019-12-13 17:24] #9096 closed

[2019-12-13 17:38] #8901 closed

[2019-12-13 18:01] htuch commented on #5598
@markdroth it looks like you have a lot of great ideas for where to take the API. Do you and @snowp  want to put together a strawman (similar to what we did for routing) for UDPA-WG? That way we can explore this in a doc rather than GH threads, which are hard to follow and then feed that next year into some concrete protos.

I would aim for the v3 API (which is where this present issue is likely t

[2019-12-13 18:10] htuch commented on #9032
I think this is a reasonable approach, you might also want to have a `disabled` field, we want to add this to all filter chains.

[2019-12-13 18:21] mattklein123 commented on #5558
@yanavlasov is this still on your radar? cc @derekargueta

[2019-12-13 18:22] mattklein123 commented on #8056
@snowp I think this can be easily fixed now with the new rename capability that @lizan added. Do you mind doing this before we snap v3? cc @lizan @derekargueta

[2019-12-13 18:30] htuch commented on #2967
OK, I don't think we need to have precisely on parser generator, as long as the vast bulk of stuff lands on ANTLR or Bison/Flex then we're good. I definitely prefer having 2 to N :) If ANTLR is easier to work with, we should probably recommend this for most purposes.

[2019-12-13 18:36] htuch commented on #7867
@lambdai should we push this to 1.14.0? I.e. next quarter?

[2019-12-13 18:44] mattklein123 commented on #7867
We can push this to 1.14.0 but we need to upgrade the config field to a oneof which includes the existing static config so we can easily add this later.

[2019-12-13 18:55] lambdai commented on #7867
Agree. I think it's the least requirement.

This is not a least requirement in a DS but it's adding very small complexity.

I am targeting to push in 1.14.0

[2019-12-13 19:00] lambdai commented on #7867
In term of HTTP filter chain, from control plane it might be trivial publishing mechanism similar to network filter chain, but at envoy side I don't have a full picture on the stitching, more importantly how to destruct and drain.

[2019-12-13 19:01] yxue commented on #5598
/cc @yxue

[2019-12-13 19:04] mattklein123 commented on #7867
I will help with this. We need this at Lyft so I'm motivated to get this landed.

[2019-12-13 19:39] kprakasam opened #9342 "Linking error"
*Title*: *Error on linking envoy 1.12.x using ci/run_envoy_docker.sh*

*Description*:

When I checked `bazel-out/k8-dbg/bin/envoy-2.params` I don't see `-static` option being emitted but I see `-lstdc++ -lm` flags being included.

Upon further inspection I found `envoy/bazel/envoy_binary.bzl(envoy_cc_binary)` do set `linkstatic = 1` changing this value to `True` as per the Bazel documentation didn

[2019-12-13 20:01] tonya11en opened #9344 "adaptive concurrency: Add a stat to show if the feature is enabled"
It would be helpful to have a straightforward gauge to indicate whether the adaptive concurrency filter is enabled. A great starter issue.

Here's a pointer:
https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/http/adaptive_concurrency/adaptive_concurrency_filter.h#L36

[2019-12-13 20:32] stevenzzzz opened #9349 "SRDS: remove first and then add to avoid scope-key conflict in the case a new resource contains the same same key as a to-be-deleted resource."
**Bug Template**

*Title*: Remove first then add when adding a scope which has the same key as a to-be-deleted scope.

*Description*:

*Repro steps*:
  push -1: { scope A: keyA }
  push -2: { Scope B: keyA } (in StoW API, this means deletion of "Scope A").
now in the delta form onConfigUpdate, we will report conflict error as the new scopeB 's "keyA" conflicts with the existing scopeA's key.

[2019-12-13 20:32] stevenzzzz commented on #9349
/assign stevenzzzz

[2019-12-13 20:38] #8912 closed

[2019-12-13 21:15] kb000 commented on #9263
I know we definitely rely on the prefix matching behavior at Lyft today.  The health checker's `service_name`s are set to strings like `users`, but the `x-envoy-upstream-healthchecked-cluster` header comes back `users-production-iad`

[2019-12-13 22:18] mattklein123 commented on #9263
Well, that explains why it's implemented that way. :)

What we should do here is replace this with a `StringMatcher` so it's more clear what the intention is. We can use this issue to track that.

[2019-12-13 22:21] mattklein123 commented on #7923
I believe this is fixed by https://github.com/envoyproxy/envoy/pull/9209

[2019-12-13 22:21] #7923 closed

[2019-12-13 23:10] fredlas commented on #9206
The problem that we have discussed in PR #9189 is looking to be the same, or at least very similar to, this one: init hangs because listeners are not gotten.

From what we're seeing here - Envoy just doesn't even attempt to start LDS, but when nudged by an error things start working - it looks like there was a pre-existing way for the init code to get stuck. It apparently wasn't actually possible

[2019-12-13 23:16] rad91 commented on #3538
Don't suppose this feature is in anyone's radar?  We would like to add extra stats also to keep track of specific failed policies.

[2019-12-13 23:57] mattklein123 opened #9351 "reduce health check rate if there is active succeeding traffic"
This came up from a conversation I think with @snowp at KubeCon/EnvoyCon: we should be able to optionally lower the active health check rate if we are receiving a sufficient amount of passive traffic. As long as the upstream is able to send `x-envoy-immediate-health-check-fail` (as an upstream Envoy would do), draining should still be possible even in the passive case.

This would potentially miti

[2019-12-13 23:57] mattklein123 commented on #9246
Note that this can piggyback on `x-envoy-immediate-health-check-fail` without having to add a new header. I forget we already had this plumbed through.

[2019-12-14 01:38] #7829 closed

[2019-12-14 02:58] snowp commented on #7403
FYI I'm kinda playing around with refactoring the HTTP conn pools to share more code between HTTP/1 and HTTP/2, so hopefully that will make some incremental improvements that makes supporting this feature easier.

[2019-12-14 03:10] ggreenway commented on #7403
I have a PR to polish up and submit in the next few weeks, continuing where @conqerAtapple  left off. @snowp  we should sync up on if these will conflict.

[2019-12-14 03:45] snowp opened #9352 "gRPC status operator for file access logs"
Right now the only way to infer the failure reason for gRPC requests in file access logs is to output `%TRAILER(grpc-status)%`, which outputs the gRPC status as a number. It would be very useful to have an operator that output the error name (e.g. `UNAVAILABLE` instead of `14`).

This would also make it easier to handle the fact that the `grpc-status` header might appear in either the headers or i

[2019-12-14 04:00] mattklein123 commented on #7403
Hi @ggreenway, welcome back! :) I was planning on working on this also, so happy to see that much interest in this. It might be worth syncing up at some point on plans along with @snowp

[2019-12-14 04:18] snowp commented on #7403
I was just kind of starting to pull things up into the base class + introduce  a base class for the `ActiveStream` implementations. My anticipation was to have the base class manage the `ready/busy` lists, perhaps also introducing additional lists as necessary.

Looking at the PR it seems to be fairly compatible in that it attempts to use a similar set of lists to track the various states, but I i

[2019-12-14 04:23] mattklein123 commented on #9326
Yeah @derekargueta your assessment is correct. We rewrite the host after we get an upstream host. Note though that we are not waiting for DNS resolution, just connection creation. DNS resolution is async. I think we could likely fix this by doing shadowing after pool complete like you said.

[2019-12-14 06:42] snowp commented on #9351
I think this would be not so hard to implement by using the `OutlierDetector` (or a separate class that works similarly) to monitor the hosts for traffic to set a `INLINE_HEALTHY` health flag or something to that effect when good traffic is flowing, and then having the health checker skip or delay sending a health check if that flag is set. There'd be a lot of room for configuration here, especial

[2019-12-14 12:15] chenjiaxi1993 commented on #2659
Have you finally solve this problem to get client source IP address in your backend instead of `127.0.0.1` by using Envoy itself or by Istio?
Thx.

[2019-12-14 18:55] #8513 closed

[2019-12-14 19:30] eshiri opened #9353 "Performance is highly degraded when the same rate of calls is split over 2 grpc channels"
**Issue Template**

*Title*: *Performance highly degraded when opening multiple grpc channels*

*Description*:

Our service is python based and is deployed on ec2 instances on AWS.
Envoy is running on docker from image envoyproxy/envoy:latest which I pulled a couple of days ago. Envoy version is
We are using ghz tool (ghz.sh) to perform load testing.
When we load test our service via envoy from ju

[2019-12-15 02:45] yanavlasov commented on #5558
Yes, working on it this week.

[2019-12-15 02:59] yanavlasov commented on #9304
I think it is worth while. envoy-security-announce?

[2019-12-15 15:45] danlanxiaohei commented on #9250
ok , i think i will follow https://github.com/envoyproxy/envoy/issues/7403

[2019-12-15 15:45] #9250 closed

[2019-12-15 16:51] mattklein123 commented on #5558
Awesome thanks

[2019-12-15 16:52] mattklein123 commented on #9304
Yeah that's what I was thinking. I can help make this next week and we can update our procedures to make sure we send security announcements also to this list.

[2019-12-15 17:34] vietwow commented on #8167
Hi, any news for this feature ?

[2019-12-15 17:43] snowp commented on #9297
I think it's because none of the reset retry policies (5xx,gateway-error,reset) are enabled. Could you try setting `reset` retry policy and see if that fixes the issue?

[2019-12-15 21:38] jmarantz commented on #9328
The macro is easy enough but there are 56 current violation of this outside of tests. One option is to check in the macro and one or two uses, but whitelist all the existing uses and incrementally remove them.

[2019-12-15 21:39] jmarantz commented on #9328
[code]

[2019-12-15 23:29] oschaaf commented on #9215
Drive-by comment:

This makes sense to me; a related idea after reading this:

The h2 pool implementation currently implies this, but once it supports multiple connections, perhaps a new `max_requests_per_connection` would make sense?
This could then translate into a (hypothetical) max request-pipelining depth for a semi-equivalent on  h1.

[2019-12-16 01:34] hzxuzhonghu commented on #2659
No, so i haven't yet used this feature.

[2019-12-16 03:05] htuch commented on #8933
@derekargueta any update on how this is tracking for EOY?

[2019-12-16 03:08] htuch commented on #8096
We've already started to consume from UDPA some types, e.g. `TypedStruct` and annotations. I'm going to call this one done, since anything more significant will require some amount of UDPA discussion which is outside the scope of v3 and 1.13.0.

[2019-12-16 03:08] #8096 closed

[2019-12-16 06:44] mandarjog opened #9358 "API Request: Add HttpFilter.instance_name"
HttpFilter.name is used to instantiate a specific type of filter by http_connection_manager
In that sense `HttpFilter.name` is the `className` parameter.
In filters like WASM and lua, a filter with the same `name` is deployed multiple times.
This makes it difficult to identify a specific filter instance without resorting to peeking inside `HttpFilter.typed_config`.

Add
[code]

Using `instance_nam

[2019-12-16 06:45] mandarjog commented on #9358
@kyessenov @rshriram

[2019-12-16 13:31] jmarantz commented on #9194
@bogdandrutu assigning to you for now so you can share your experience & thoughts on this enhancement. Afterward I can unassign but I wanted to bump this to the top of your queue now that you've been back for 0.5 weeks :)

[2019-12-16 13:34] jmarantz commented on #9194
See also https://github.com/envoyproxy/envoy/issues/7003 for which I have a draft PR to resolve. That would at least partially address @kyessenov 's second bullet point, though not his first.

[2019-12-16 13:49] alex3dm commented on #9297
@snowp

We only tried repetition policy: 5xx, gateway-errory. It doesn't work.
We didn't try reset policy because it doesn't support "istio". In our project, we use "istio-proxy" base on "envoy" . Settings for "envoy" dynamically load from "istio-pilot". Any solutions to fix it?

[2019-12-16 14:55] tsaarni opened #9359 "Provide support for certificate rotation for xDS connection in Envoy container images"
**Problem description**:

The official docker container is used by e.g. Contour ingress controller.

While Contour is able to replace certificates for user plane by using SDS, it is not currently possible to rotate control plane certificates (xDS gRPC interface) without traffic interruption.

**Proposal for a new feature**:

Include a new binary in official Envoy container images at https://hub.do

[2019-12-16 16:58] #8056 closed

[2019-12-16 17:02] mattklein123 commented on #9358
My initial sniff test is that this is not generally useful, and I don't see why it's that bad to peak inside the typed_config, but happy to be swayed if there is a convincing argument.

[2019-12-16 17:17] zuercher commented on #8593
Closing this one as #8374 landed, and I think that resolves the issue.

[2019-12-16 17:17] #8593 closed

[2019-12-16 17:48] jstewmon commented on #8593
Thanks, @zuercher 🙏

I confirmed that `s/json_format/typed_json_format/` in my original config produces `{"version":"123"}` in the log with the current `envoyproxy/envoy-dev` image. 🎉

[2019-12-16 18:07] raspberry44 opened #9363 "Failure of Bazel build"
Hi,

First of all, I'm new to Bazel build environment. I want to contribute envoy and to do so, first I wanted to build the project using the command below in the project directory:

`bazel build //...`

However I got the error below everytime I try this:

[code]

I have also tried other methods available on the internet concerning the convertion from Bazel to Cmake but no luck. Bazel plugin for C

[2019-12-16 20:05] PiotrSikora opened #9365 "Build with Scudo Allocator"
Add option to build Envoy with [LLVM's Scudo Allocator](https://llvm.org/docs/ScudoHardenedAllocator.html) instead of tcmalloc or system allocator.

cc @htuch @lizan

[2019-12-16 20:25] mattklein123 commented on #4657
As exposed by https://github.com/envoyproxy/envoy/pull/9354, one thing we should cover here is common typos around ref link, which include extra spaces which make the refs not actually render.

[2019-12-16 20:35] htuch commented on #9365
@PiotrSikora this would be great. Is it just a flag?

[2019-12-16 20:37] htuch commented on #9365
CC @qiwzhang

[2019-12-16 20:53] PiotrSikora commented on #9365
I believe it requires linking the standalone version (i..e linking against library, like we do with UBSan VPTR) to get the new version.

[2019-12-16 21:29] fabriziomello commented on #9107
@mattklein123 hi, I'm working on this issue sponsored by OnGres and I implemented a "very very" first WIP patch based on MySQL Filter.

But after learning more about Envoy internals I figure out we can start implement it as an Extension (like https://github.com/envoyproxy/envoy-filter-example) instead of touch the core and need to wait for PR and release cycles.

I really don't know if it make sen

[2019-12-16 21:44] dio commented on #9107
@fabriziomello if it is OK, I can collaborate with you. I'll try to push a PR to your repo today.

[2019-12-16 21:46] fabriziomello commented on #9107
Thank you so much!

[2019-12-16 22:27] derekargueta commented on #8412
@cetanu sorry this slipped to the wayside. I'm going to try to block off some time this week to get to the bottom of this. I think understanding this scenario is good fodder for improving the documentation around IP tagging and resolving "true client IP".

[2019-12-16 22:50] nezdolik commented on #9230
@mattklein123, could help with this task.

[2019-12-16 22:59] wrowe commented on #8750
For more comprehensive closure than simply stalebot...

https://github.com/envoyproxy/protoc-gen-validate/pull/284

was the resolution to the compilation issue.

https://github.com/envoyproxy/protoc-gen-validate/pull/256#discussion_r340769596

is a lingering flaw which was reported to

[2019-12-16 23:08] auni53 opened #9369 "Confusion over TCP draining"
I'm working on improving graceful shutdown/lameduck mode. @mattklein123's comments [here](https://github.com/envoyproxy/envoy/issues/7841#issuecomment-518856436) and [here](https://github.com/envoyproxy/envoy/issues/1990#issuecomment-341489750) imply `/healthcheck/fail` initiates draining, but I'm unclear as to what's outdated here. From my own checking I don't see anyone calling server.cc:drainLi

[2019-12-16 23:30] qiwzhang opened #9370 "jwt_authn: how to remove "alpha" label"
*Description*:
Currently,  http jwt_authn filter has label v2 alpha and v3 alpha.

What is the process to remove "alpha" label?

[2019-12-16 23:31] qiwzhang commented on #9370
https://github.com/envoyproxy/envoy/tree/master/api/envoy/config/filter/http/jwt_authn

[2019-12-16 23:40] kyessenov commented on #9358
I think this would be useful for Filter Config discovery service. Having a common field across all filter configs helps in discovery and monitoring IMHO. I don't think it's possible to express that Any in the typed config must have a specific field, so pulling it up one level to filter config seems reasonable:

[code]

[2019-12-16 23:58] rgs1 opened #9371 "filter chain matching for a Thrift cluster using HTTP health checks"
For some of our thrift clusters, we'd like to use HTTP health checks over the same port used for thrift/data connections.

We could do this using `FilterChainMatch`'s `application_protocols` field for matching. But for this to work, we'd need to either 1) be able to configure the ALPN on health checks or 2) be able to set ALPN from thrift proxy (doing this via `CommonTlsContext` is no good because

[2019-12-17 00:19] mattklein123 commented on #9358
In the case of FCDS, we will be moving config up to a oneof, and then the config itself will have to have a name and a config source, so I think it would be covered there?

[2019-12-17 00:29] kyessenov commented on #9358
Yeah, it can be done either way. But it would help us to have config name to be a peer of typed_config instead of being nested in a oneof peer. This is because we run multiple transformation passes, and having a name in the xDS helps with identifying the config/filter instance. This is consistent with the rest of xDS where each resource has a name in its proto.

[2019-12-17 00:40] euroelessar commented on #9213
It's acceptable for us to have our own lb extension which would pay the contention cost, there is no need to add this burden to widely-used load balancing policies.

Will check how hard is it, on the first glance it has a side effect of having separate per-endpoint stats though.
What interface can filter use to specify what cluster to use? The only option I see is to set custom metadata/header and

[2019-12-17 00:47] rgs1 commented on #9371
Note that for 1), I think that the implementation should be pretty clean since we just need to construct a `TransportSocketOptions` object with the given `alpn_protocol` configured for HCs and pass that along to `createConnection()` from `createHealthCheckConnection()`:

https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/upstream_impl.cc#L287

So unless someone objects, I'll go

[2019-12-17 01:07] kprakasam commented on #9342
I was able to resolve link issue by creating link to envoy/.bazelrc file (I was compiling my filter with envoy as a git sub module)  however I run into additional issue as soon as I created the link

INFO: Writing tracer profile to '/root/.cache/bazel/_bazel_root/98d36195a0ee79abd52c9d0cdadceb3e/command.profile.gz'
ERROR: error loading package '': in /root/.cache/bazel/_bazel_root/98d36195a0ee79ab

[2019-12-17 01:07] #5808 closed

[2019-12-17 01:12] mattklein123 commented on #9358
@htuch any thoughts on ^?

[2019-12-17 02:03] lizan commented on #9319
both `tls` and `envoy.transport_sockets.tls` works but `tls` is deprecated.

[2019-12-17 02:20] dio commented on #9341
To clarify, this is OK for Zipkin server right?

[2019-12-17 03:18] yangminzhu opened #9376 "rbac: support mixing allow/deny policies with precedence"
*Title*: support mixing allow/deny policies with precedence

*Description*:
The current [RBAC filter API](https://github.com/envoyproxy/envoy/blob/6d816ad9af0527e63ac58d0ffe7eac29bfe56d62/api/envoy/config/rbac/v2/rbac.proto#L59) has the following limitations:
- It binds a single `action` to a set of policies, in other words, we cannot mix the allow/deny policies in the same config
- It doesn't sup

[2019-12-17 04:06] jpeach opened #9377 "Envoy emits a bogus "failed to disable extension" message at startup"
*Title*: Envoy emits a bogus "failed to disable extension" message at startup

*Description*:

[code]

*Relevant Links:* #9125

[2019-12-17 04:16] htuch commented on #9371
@rgs1 I agree that (1) sounds more general and cleaner. I'm wondering if there is any value in thinking about other kinds of TLS override in `HealthCheck` and making use of the `TransportSocketMatch` feature. CC @PiotrSikora

[2019-12-17 04:23] htuch commented on #9358
I think this is useful in the context of FCDS, WASM and tooling (or control planes) that operate on opaque config (i.e. they can't peek inside).

Here's an interesting thought for v3; since we will no longer have untyped `Struct`, and will have a world of only `TypeStruct` and `Any`, and every extension should have its own unique config proto, we should in face be able to get rid of the need to ha

[2019-12-17 04:38] rgs1 commented on #9371
Something like #9378?

[2019-12-17 05:52] kyessenov commented on #9358
@htuch This would work if every filter config is unique per filter. I think there may be cases where two filters share a proto for the config. Not sure if that's something dis-allowed already.

[2019-12-17 06:21] alexburnos commented on #9358
One more use case for the control plane to operate on this config in an opaque way is to be able to do partial ordering between different filters. I.e. if control plane is provided with 10 "envoy.wasm" filters, there is no meaningful way to describe a relative order between them.

@htuch, just having "name" as a unique arbitrary name and rely on type for the actual type in v3 works as well.

[2019-12-17 08:31] Shikugawa commented on #8421
@htuch In my recognition, It enables to update xDS client config like `eds_config` dynamically. For example, update subscribed xDS server(xDS v1) when updating config signal was injected to them and disconnect. after that, establish connection with new xDS server(xDS v2). Please point out my opinion if this is wrong.

[2019-12-17 09:03] gunta commented on #2784
+1

[2019-12-17 09:59] zyfjeff opened #9381 "A new type of resource monitor to shrink memory"
*Title*: *A new type of resource monitor to shrink memory*

*Description*:

Because Envoy uses `TCMalloc`, it will take up a lot of memory(reserved by TCMalloc.), but actually Envoy uses not so much memory, so I need to periodically shrink the memory according to the ratio of the two. The current idea is to implement it through the OverloadManager, but the currently provided fixed_heap resource mo

[2019-12-17 10:00] zyfjeff commented on #9381
/assign @zyfjeff

[2019-12-17 13:07] zyfjeff commented on #9381
@eziskind Can you give me some advice?

[2019-12-17 13:36] eziskind commented on #9381
@zyfjeff The heap shrinker class can be configured with any resource monitor, so if you add a new one you could configure the overload manager with it like this:

actions:
     - name: "envoy.overload_actions.shrink_heap"
       triggers:
         - name: "envoy.resource_monitors.allocated_heap"
           threshold:
             value: 0.95

BTW, what do you mean by "shrink by the ratio of the tw

[2019-12-17 13:52] zyfjeff commented on #9381
@eziskind At present, fixed_heap resource monitor can only set a fixed memory size. When Envoy's memory reaches this value, OverloadAction will be triggered, but the fixed memory size of this configuration is difficult to determine. Different Envoys consume different memory, such as some Use 1g memory, and some use 4g memory, it is difficult to determine a fixed memory size. I hope that when the r

[2019-12-17 14:06] eziskind commented on #9381
@zyfjeff I think you might be misunderstanding the fixed_heap resource monitor. The only thing "fixed" about it is the configured maximum size of the heap. It then computes the ratio of how much of the heap is allocated, ie current_allocated_bytes / maximum_heap_bytes. The fixed_heap resource monitor will trigger overload actions based on this ratio of how much of the heap is allocated, not whethe

[2019-12-17 16:21] mandarjog commented on #9358
Partial order is one of the motivating use case here. Peeking inside requires specific knowledge of the filter.
Changing the meaning of “name” from type_name to unique_name seems risky, though it will work.

If we add instance_name / config_name field we can actually add it to both v2 and v3

[2019-12-17 16:39] #8550 closed

[2019-12-17 16:49] kyessenov commented on #9358
For xDS v2, we can relax the constraint that the config message must match the filter name (as long as it's not a regular struct). That would allow arbitrary names without a breaking change.

[2019-12-17 17:30] kyessenov commented on #8933
xref: https://github.com/envoyproxy/envoy/issues/9358
This issue basically ensures uniqueness of config proto by filter in a category.
@derekargueta I can land a helping hand to push this through if you want.

[2019-12-17 18:18] lambdai commented on #9358
This `instance_name` which will be referenced by FCDS.
Looks like in the cpp code the expression would be `resource.XX_name()`. Maybe calling it resource_name()?

[2019-12-17 18:23] kyessenov commented on #8400
MessageDifferencer seems like a good library choice: it has an implementation in C++ https://developers.google.com/protocol-buffers/docs/reference/cpp/google.protobuf.util.message_differencer#MessageDifferencer.SpecificField and golang/Java. It has capability to compute the exact operational diff, that we can use as input to inverse.

[2019-12-17 18:25] christian-posta commented on #2784
https://www.envoyproxy.io/docs/envoy/v1.12.2/intro/arch_overview/http/http_routing#request-hedging

[2019-12-17 20:05] mandarjog commented on #7867
If FCDS sends back bad filter config and the filter cannot be loaded, does the listener stay in the warming state? It seems that there needs to be communication between the discrete management server (DMS)  and the main management server. The DMS needs to process the NACK and notify the main server.

[2019-12-17 21:15] jaegchoi opened #9386 "503 Connection pool errors"
*Description*:

Hi, we've been running load tests through Envoy which is running as a sidecar to our nodejs server.
Most of the requests are good, except in all of our tests there is a point where Envoy seems to temporarily drop its connections to the upstream (the nodejs server).

From the stats I see "upstream_rq_pending_failure_eject" is the culprit of these failures which is described as "Tota

[2019-12-17 22:50] cbarbara-okta opened #9387 "idle timeout not triggering on ingress envoy, causing 503s"
*Title*: idle timeout not triggering on ingress envoy, causing 503s

*Description*:
We are using envoy in a sidecar service-mesh setup. Both are configured with a `http_connection_manager` for http/1.1 only, they have different timeouts configured on each because we want the ingress envoy to be in charge of closing connections to avoid this and other 503 issues. The ingress envoy timeouts are 310s

[2019-12-17 23:33] jsbucy commented on #9133
So after staring at the TLS Inspector filter code I'm not sure that approach will work for smtp. The gist of how tls inspector works is it accumulates the TLS ClientHello message in the socket buffer (with MSG_PEEK) until we can "dry fire" SSL_do_handshake on it to parse out the SNI and ALPN.

In the case of smtp, the client will say STARTTLS immediately after EHLO say 90% of the time but I'm not

[2019-12-18 00:12] ramachaitanyak opened #9389 "Question: Envoy asynchronous access logging"
Hello, can anyone clarify if envoy supports asynchronous logging outside filters ? I want to log some information that envoy receives after the filter issuing the request is deleted. Is this even possible ?

[2019-12-18 01:54] zyfjeff commented on #9381
@eziskind Thank you, I understand, I just need to expand on the basis of fixed_heap.

[2019-12-18 02:01] derekargueta commented on #8933
I'll have this done by Thursday EOD (shooting for tomorrow though). Thanks for offering help @kyessenov, I'll ping you on Slack if I need anything.

[2019-12-18 02:43] #8966 closed

[2019-12-18 02:48] Lynskylate commented on #9381
The [pr](https://github.com/envoyproxy/envoy/pull/5945/files) have been implementing the shrink of memory.
This configuration may help
[code]

[2019-12-18 02:49] jmuia opened #9392 "Multiple circuit breakers emit the same stat"
*Title*: *Multiple circuit breakers emit the same stat*

*Description*:
It appears that for the HTTP/2 connection pool, the `cluster.<name>.upstream_rq_pending_overflow` stat is emitted when two different circuit breakers are hit: `max_requests` [0] and `max_pending_requests` [1].

This has the potential to be confusing, particularly if the the thresholds are configured to be different.

I believe

[2019-12-18 03:10] BenSayers commented on #9387
I recently tested this and found that the idle timeout was kicking in correctly in my case, and the only difference I can see is that I am configuring the idle timeout via the `common_http_protocol_options.idle_timeout` instead of the deprecated `idle_timeout`, so I'll just throw in a stab in the dark suggestion to try that and see if you notice any difference.

[2019-12-18 03:11] zyfjeff commented on #9381
@Lynskylate Thanks,  current fixed_heap can't meet my need

[2019-12-18 03:43] #8948 closed

[2019-12-18 03:49] htuch commented on #8421
@Shikugawa I'm not anticipating highly dynamic behavior here; instead we should just expect the more recent management servers and bootstraps are configured to deliver xDS that uses the new config source type, while Envoy retains the ability to still speak to older xDS servers if needed.

[2019-12-18 04:16] htuch commented on #9376
@yangminzhu I assume this will land next year in the v3 Envoy APIs. In that case, you will need to support both for 2020 in parallel, with both deprecated version alongside the new one for option 2. In v4 (2021) you will be able to drop the old one completely. I'm generally in favor of clean APIs, so I would recommend doing (2).

However, I think (2) should be aligned with the general move we want

[2019-12-18 04:21] htuch commented on #8400
@kyessenov thanks, it's kind of nice having this capability across languages.

I'll reiterate @markdroth concern here though; if we can do this without needing to rely on protobuf library, we will make some client's lives easier (e.g. those working only with JSON, where protobuf isn't available). For the specific case of EDS, we should be able to make something like EGDS work I reckon.

[2019-12-18 04:37] #9349 closed

[2019-12-18 07:31] erikbozic commented on #9341
I also came accross the same issue.
Specifically I came accross this using the library: https://github.com/openzipkin/zipkin-go.
Relevant code: https://github.com/openzipkin/zipkin-go/blob/master/model/span.go#L120

I'm not entirely sure if the bug is here or in the library.
I realize big numbers in json are problematic and  the workaround seems to be we encode them as strings.
However from the [R

[2019-12-18 07:54] DenisGlot opened #9395 "JSON transcoding. When I send wrong url parameter name, the response returns 404"
And no other data provided. So the rest users have no idea why the request failed.
I tried to specify `query_parameters` as an empty array. Didn't work out

Is should return 400.
It'd be great to have a json body with errors describing the situation with mapping.
It also could transcode what request have to grpc, since all fields in protobuf are optional. And the server will give a comprehensive r

[2019-12-18 09:08] madhu-shankar commented on #8690
@eziskind Can please you provide any pointers on how to debug why envoy is not dropping the requests even on reaching the configured threshold?

[2019-12-18 09:50] seflerZ commented on #8400
@htuch @mattklein123 If we make EDS references multiple EGDS resources. Is that means we must enable delta xDS on Pilot side in order to update EGDS fragment incrementally?

[2019-12-18 09:58] TuvaevAndrey opened #9396 "Unable to set retry policy for filter.http.ext_authz.v2.ExtAuthz"
Hi everyone. In accordance with documentation the only way to configure retry policy for ExtAuthz filter is to use request headers. Here is my config:
[code]
As you may see I put 'x-envoy-retry-grpc-on' header inside 'initial_metadata' in 'grpc_service' section ExtAuthz filter's configuration but envoy still doesn't retries requests to disabled auth service which returns "14" grpc code.

[code]

L

[2019-12-18 11:01] Yannic opened #9397 "Envoy is incompatible with --incompatible_load_{cc,java,python}_rules_from_bzl"
Hello maintainers of Envoy 👋,

The Bazel team is in progress of migrating the native C++, Java, and Python rules to Starlark. As a first step towards this goal, starting with Bazel 3.0, all these rules will require explicit load statements.

You can use the following [buildifier](https://github.com/bazelbuild/buildtools/tree/master/buildifier) command to apply most of the required migrations for y

[2019-12-18 11:31] seflerZ commented on #8400
@htuch @mattklein123 If we make EDS references multiple EGDS fragments. Is that means we must enable delta xDS on Pilot side in order to update EGDS resource itself incrementally?

[2019-12-18 12:46] eziskind commented on #8690
If the overload action is triggered you should see something in the log like this from the code [here](https://github.com/envoyproxy/envoy/blob/58802ba2f503200d93e52a4eb6ac1076e0faa272/source/server/overload_manager_impl.cc#L208):

I don't see that in the logs you pasted above. Please check earlier in the logs if you see this.

[2019-12-18 14:49] bernardoVale commented on #8584
@daviderenger can you share how you did it? I'm able to configure the authN but it always returns 401 on 1.12.0

[2019-12-18 14:59] howardjohn commented on #8400
I do not think we would. Say as have 10k endpoints and we make our groups 100 endpoints each. Anytime an endpoint changes in a group we just send those 100 endpoints in the group (cheap). anytime we add or remove a group we send the list of egds names (100 strings, which is cheap)

[2019-12-18 15:15] danielgblanco commented on #9341
@dio I'm not sure if Zipkin server accepts those two `int64` properties as strings. As, @erikbozic points it sounds like it wouldn't. Their API schema certainly has them as numbers, not strings (see https://zipkin.io/zipkin-api/#/default/post_spans)

I was trying to use the Zipkin plugin to send spans to Lightstep (Zipkin compatible collectors), and Lightstep fails to ingest spans complaining abou

[2019-12-18 15:18] dio commented on #9341
@danielgblanco I tested with the setup under examples (https://github.com/envoyproxy/envoy/tree/master/examples/zipkin-tracing) changed it to HTTP_JSON, it works. While with jaeger it doesn't. I'll take a look at this closer.

[2019-12-18 15:24] danielgblanco commented on #9341
Thanks. It may be that Zipkin server is able to cast those strings into integers and Lightstep collectors are not doing it, simply following the Zipkin API... Thanks for having a look!

[2019-12-18 17:05] qiwzhang commented on #9395
You can set "ignore_unknown_query_parameters" to true. Otherwise, the transcoder needs to find exact match for each parameters into request proto message.  If not match, it is 404.

[2019-12-18 17:29] htuch commented on #9358
It would be good to have a v2 xDS solution here, but we need to be very clear what the semantics are if we reuse the field, i.e. it should only be possible if fully unambiguously typed configuration is otherwise present. It also might surprise some folks, as they may have built validators in their config pipeline to ensure consistency of name and config.

[2019-12-18 18:41] derekargueta commented on #9389
Can you provide more information on what it is you're trying to log, and why it has to be after the filter is deleted?

[2019-12-18 19:16] ramachaitanyak commented on #9389
@derekargueta Thanks for your interest. We deploy envoy on the edges and POPs; now there are few components in our infrastructure that are running inside data centers.

We have a custom envoy filter analyzing requests and when there is a pattern of interest; it is forwarded to a pool inside the DC. The pools inside DC have a special criteria for tagging these requests with a key that match pattern

[2019-12-18 20:48] cbarbara-okta commented on #9387
thanks @BenSayers for the suggestion, we tried that config option here but the 503s continue.

We also tried two different variations on the original configs.
1. setting all the timeouts to the same value. Incase somehow the different values are triggering some unknown behavior. ex:
[code]

2. Removal of the deprecated `idle_timeout`, as you suggested. ex:
[code]

With both configs above we can st

[2019-12-18 21:12] htuch commented on #8590
Between the design doc and https://github.com/envoyproxy/envoy/blob/master/tools/api_boost/README.md, I'm going to call this one done. Please re-open if anything more is needed here.

[2019-12-18 21:16] #8590 closed

[2019-12-18 21:22] asraa opened #9401 "HTTP Filter Fuzzing"
**Objectives**
1. Provide a common interface to fuzz all HTTP filters.
2. Make it easy for filter authors to create their own filter fuzz target.
3. Create a healthy fuzzer from the beginning.
     - These should be optimized for speed, and ideally they should be stateless at first.
     - Sizeable corpus data (see Inputs and Corpus)

**Target**
Starting with just Decoder Filters, the fuzz target

[2019-12-18 21:41] DenisGlot commented on #9395
It worked thanks

[2019-12-18 21:41] #9395 closed

[2019-12-18 21:49] christine-gong commented on #9105
@objectiser yes, we are sharing the same jaeger collector endpoint for traces with and without sleuth.
When we are testing it, it always returns 404 for both `curl http:jaeger-collector.ns.svc.cluster.local:9411/api/v1/services` and  `curl http:jaeger-collector.ns.svc.cluster.local:9411/api/v2/services`. is this the correct way?

[2019-12-18 22:43] #8393 closed

[2019-12-19 00:31] mandarjog commented on #9358
We could also add a filter_type field that unambiguously denotes the type. If the type field is specified then name can be free form.

[2019-12-19 00:36] kyessenov commented on #9358
@htuch In the linked PR, we can infer the name of the extension from the protobuf type for most cases. There are just two exceptions:
1. Empty, which is being solved separately.
2. Migrated APIs. I think we need this information regardless, but it seems clear that all versions of configs should be distinct.

I agree about the surprise effect. Fortunately that only happens with the invalid config,

[2019-12-19 01:01] justin-yen commented on #3887
Does the above still hold true for istio 1.4.0? Is there no way to require a client certificate at the ingress gateway but not validate it, and simply pass it through?

[2019-12-19 02:41] zyfjeff commented on #9381
@eziskind Did I make my needs clear? Can you give me some advice?

[2019-12-19 03:37] eziskind commented on #9381
@zyfjeff I'm not sure I understand you. What do you mean by "heap size" (as opposed to "current allocated bytes")? Is "heap size" the maximum possible size of the heap? Where would you get that number from?

[2019-12-19 04:17] zyfjeff commented on #9381
`heap_size` and `current_allocated_bytes` are obtained through the tcmalloc api.

[code]

[2019-12-19 04:29] bazel-flag-bot opened #9405 "Flag --incompatible_disallow_empty_glob will break Envoy in Bazel 1.2.1"
Incompatible flag --incompatible_disallow_empty_glob will break Envoy once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:ubuntu: 18.04 (OpenJDK 11)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#ad655c99-1837-4280-a38f-9555b5f86958" target="_blank">:ubuntu: 18.04 (OpenJDK 11)</a>)
* [:ubuntu: 18.04 (OpenJDK 11)](<a href="

[2019-12-19 04:30] bazel-flag-bot opened #9406 "Flag --incompatible_load_python_rules_from_bzl will break Envoy in Bazel 1.2.1"
Incompatible flag --incompatible_load_python_rules_from_bzl will break Envoy once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:ubuntu: 18.04 (OpenJDK 11)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#ad655c99-1837-4280-a38f-9555b5f86958" target="_blank">:ubuntu: 18.04 (OpenJDK 11)</a>)
* [:ubuntu: 18.04 (OpenJDK 11)](<a

[2019-12-19 04:31] bazel-flag-bot opened #9407 "Flag --incompatible_no_implicit_file_export will break Envoy in Bazel 1.2.1"
Incompatible flag --incompatible_no_implicit_file_export will break Envoy once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:ubuntu: 18.04 (OpenJDK 11)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#6c23a328-6e9a-4dc9-ac29-9d6e6ca02b66" target="_blank">:ubuntu: 18.04 (OpenJDK 11)</a>)

Questions? Please file an issue in h

[2019-12-19 04:31] bazel-flag-bot opened #9408 "Flag --incompatible_disable_target_provider_fields will break Envoy in Bazel 1.2.1"
Incompatible flag --incompatible_disable_target_provider_fields will break Envoy once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:ubuntu: 18.04 (OpenJDK 11)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#6c23a328-6e9a-4dc9-ac29-9d6e6ca02b66" target="_blank">:ubuntu: 18.04 (OpenJDK 11)</a>)

Questions? Please file an iss

[2019-12-19 04:32] bazel-flag-bot opened #9409 "Flag --incompatible_load_cc_rules_from_bzl will break Envoy in Bazel 1.2.1"
Incompatible flag --incompatible_load_cc_rules_from_bzl will break Envoy once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:ubuntu: 18.04 (OpenJDK 11)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#ad655c99-1837-4280-a38f-9555b5f86958" target="_blank">:ubuntu: 18.04 (OpenJDK 11)</a>)
* [:ubuntu: 18.04 (OpenJDK 11)](<a hre

[2019-12-19 04:33] bazel-flag-bot opened #9410 "Flag --incompatible_use_platforms_repo_for_constraints will break Envoy in Bazel 1.2.1"
Incompatible flag --incompatible_use_platforms_repo_for_constraints will break Envoy once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:ubuntu: 18.04 (OpenJDK 11)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#ad655c99-1837-4280-a38f-9555b5f86958" target="_blank">:ubuntu: 18.04 (OpenJDK 11)</a>)
* [:ubuntu: 18.04 (OpenJDK

[2019-12-19 04:33] bazel-flag-bot opened #9411 "Flag --incompatible_load_proto_rules_from_bzl will break Envoy in Bazel 1.2.1"
Incompatible flag --incompatible_load_proto_rules_from_bzl will break Envoy once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:ubuntu: 18.04 (OpenJDK 11)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#ad655c99-1837-4280-a38f-9555b5f86958" target="_blank">:ubuntu: 18.04 (OpenJDK 11)</a>)
* [:ubuntu: 18.04 (OpenJDK 11)](<a

[2019-12-19 04:33] bazel-flag-bot opened #9412 "Flag --incompatible_restrict_string_escapes will break Envoy in Bazel 4.0.0"
Incompatible flag --incompatible_restrict_string_escapes will break Envoy once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:ubuntu: 18.04 (OpenJDK 11)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#ad655c99-1837-4280-a38f-9555b5f86958" target="_blank">:ubuntu: 18.04 (OpenJDK 11)</a>)
* [:ubuntu: 18.04 (OpenJDK 11)](<a hr

[2019-12-19 05:07] seflerZ commented on #8400
@howardjohn Thanks, I think so too.

[2019-12-19 05:18] jpeach commented on #9097
@yanavlasov @lizan

I started looking again at adding the Node message to the server info admin endpoint. There's a few things in the Node message that probably only make sense for a xDS server (e.g. client_features, user_agent_version), but other fields seem generally useful to systems that might poll the server_info (e.g. locality, metadata, extensions). So it seems like a bit of an uncomfortabl

[2019-12-19 06:32] cetanu opened #9414 "Clarify the ordering interaction between fragments of a scoped route and scope key builder"
In the docs it says:

What needs to be clarified:

- How does the ordering work if the scoped route has a different number of fragments than the scope key builder?

I am guessing that they both need to have the same number of fragments?

[2019-12-19 07:02] Shikugawa commented on #8421
@htuch So to speak, I think that we need to allow multiple `ApiConfigSource` on single `ConfigSource`.

[2019-12-19 08:40] jespersoderlund commented on #1451
Any progress on this? Can we help out in testing this?

[2019-12-19 08:52] zyfjeff commented on #8400
@howardjohn
A single EGDS itself is fully updated, but delta updates need to be supported between multiple EGDS, such as adding an EG or deleting an EG.

[2019-12-19 10:11] derekargueta commented on #9389
@ramachaitanyak yes, access loggers are asynchronous. They fill up a buffer[1] and periodically flush it[2] in an asynchronous thread[2].

[1] https://github.com/envoyproxy/envoy/blob/43c91d8cc050cab248cdef26e0703de310cdd438/source/common/access_log/access_log_manager_impl.cc#L192
[2] https://github.com/envoyproxy/envoy/blob/43c91d8cc050cab248cdef26e0703de310cdd438/source/common/access_log/access_

[2019-12-19 10:27] erikbozic commented on #9341
@dio You're correct. If we send these spans directly to Zipkin it works fine. While with Jaeger it won't work, because of the same problem as in the library I pointed out. (https://github.com/jaegertracing/jaeger/blob/master/thrift-gen/zipkincore/ttypes.go#L766)

I imagine there might be similar issues in libraries/consumers written in other languages. (e.g. the Zipkin plugin for Lightstep apparen

[2019-12-19 12:48] goith opened #9416 "when updating cluster.circuit_breakers, the `dynamic_warming_clusters` appears and does not disappear unless kill the pod."
when updating cluster.circuit_breakers,  the `dynamic_warming_clusters` appears and persists.

if  updating cluster.circuit_breakers other option in next time,  the previous update will be active.

envoy version
[code]

how to solve this?

reuqest  /config_dump:
[code]

[2019-12-19 13:49] mailzyok opened #9417 "any reason on "no healthy host for HTTP connection pool""
Hello,

We have seen many logs like "no healthy host for HTTP connection pool". Envoy failed to establish gRPC to peer side. Could someone shed some light on it?

Thanks a lot!

[2019-12-19 14:42] eziskind commented on #9381
@zyfjeff  Seems fine to me to add a new resource monitor to do this. It will be simplest to go with the ratio approach since the overload manager currently only supports triggering actions based on a percent-based threshold (though we could extend that in the future).

[2019-12-19 15:36] aeb-sia opened #9420 "Envoy serves new and old config for a period of time"
We are using ambassador to configure routes in kubernetes. We observed seemingly random 404 responses and uppon closer investigation found out that they only occur when we modify a route.
If we for instance add a new route, for a period of time we sometimes get 404s and sometimes the request succeeds.

This can be observed on every route addition/deletion. It looks like the new config slowly takes

[2019-12-19 15:41] stevenzzzz opened #9421 "skip empty strings when split disabled_extensions option."
**Bug Template**

*Title*: When parsing disabled_extensions option, we should skip empty strings when strsplit the commandline option string.

*Description*: When parsing disabled_extensions option, we should skip empty strings when strsplit the commandline option string. Otherwise we end up with a warning msg when MainCommon tries to parse the disabled_extensions, as there is an empty string in t

[2019-12-19 15:41] stevenzzzz commented on #9421
/assign stevenzzzz

[2019-12-19 16:13] howardjohn commented on #8400
@zyfjeff I don't see why a delta EGDS list is needed. The number of EGDS is going to be fairly small, and all you need to send is the name. Even if you had 100k endpoint groups (probably equal to 10 million endpoints, assuming 100 per group, which is an absurdly high amount), thats only sending 1mb of data or so. Its just sending a list of strings pointing to the endpoints, which is much cheaper t

[2019-12-19 16:27] mattklein123 commented on #9230
@nezdolik sgtm. TBH though I'm not completely sure how we can do this easily since there is no fallback. I think the only thing we could potentially do is just have a kill-switch for the UDP processing in general and then assume the client has a fallback. @alyssawilk is that what you were thinking?

[2019-12-19 16:28] mattklein123 commented on #9369
@auni53 can you clarify exactly what behavior you are after and we can help clarify? There have been many requests/changes in this area of the years and I'm unclear what behavior you are looking for.

[2019-12-19 16:36] mattklein123 commented on #9213
There is a bunch of discussion now around custom LB extensions (vs. the LB/cluster pair we have now). See https://github.com/envoyproxy/envoy/issues/5598. cc @snowp who has been thinking about this a bunch.

See a cluster's `alt_stat_name` which would allow you to have unified stats for most of the stats you care about (probably). This might be an OK compromise.

A hacky solution would be to set a

[2019-12-19 16:38] mattklein123 commented on #7867
Great call-out @mandarjog. I hadn't thought about this case. I wonder if in the case of a dynamically fetched configuration we need to provide a static fallback config so as to not block startup? Or potentially have an option where startup of the listener can continue if there is a fallback config, or it's a hard failure and the listener will be removed if the config cannot be fetched? WDYT?

[2019-12-19 16:41] mattklein123 commented on #9376
+1. I have some thoughts on this so let's chat when you are ready to start implementing. This keeps coming up so we need to have a central matching system, potentially provided by the HCM itself (as a module).

[2019-12-19 16:47] #8428 closed

[2019-12-19 16:50] mattklein123 commented on #9359
@htuch @lizan any thoughts on ^? I understand why this is being requested, but I also wonder if there should be some built-in way for Envoy to rotate control plane certs?

[2019-12-19 16:50] ramachaitanyak commented on #9389
Thanks @derekargueta I understand the access logging is performed through asynchronous io in a non-blocking manner. Seems like my references for using FileAccessLog interface is on the right track. Please correct me if it is not so.

Thanks!
Rama

[2019-12-19 16:51] auni53 commented on #9369
Hi Matt, thanks for taking a look at this. Here's what I'm looking to have happen on Envoy shut down:

- stop accepting new TCP connections (seems to work via calling /drain_listeners)
- terminate connections on request complete
- terminate idle connections that are in the header phase
- send HTTP2/GOAWAY to all sessions

Especially for idle connections work, this will probably require a more thor

[2019-12-19 16:52] mattklein123 commented on #9392
This is a duplicate of https://github.com/envoyproxy/envoy/issues/9215 or very similar. I agree this is extremely confusing and something I would like to fix. cc @tonya11en. Can we potentially merge this into https://github.com/envoyproxy/envoy/issues/9215 if that issue does not cover this also?

[2019-12-19 17:27] tsaarni commented on #9359
I was also thinking a bit about built-in way. It can be more elegant - no need to have parent process monitoring childs, no need to run two Envoys during draining period.

Control plane connection is established rarely, so at simplest Envoy could maybe reload certificates unconditionally before connecting, in order to catch updates automatically without watching the files. But since Envoy gRPC cli

[2019-12-19 17:34] mattklein123 commented on #9421
Dup https://github.com/envoyproxy/envoy/issues/9377

[2019-12-19 17:34] #9421 closed

[2019-12-19 17:34] #9377 closed

[2019-12-19 18:05] justincely opened #9423 "Ability to force restart of envoy upon certain trigger?"
*Title*: *Force server restart upon triggered condition?*

*Description*:
When setting up Envoy with a central control plane, the static cluster that serves up the xDS interface is vital to the functioning of the server.  If that cluster isn't up/reachable when Envoy is trying to connect, it goes through it's retries and eventually gets into a state where it's never gonna get updates, but also doe

[2019-12-19 18:25] htuch commented on #8421
@Shikugawa I think eventually we want to support clients able to try one endpoint at version X and fallback, but for now we can support just a well specified endpoint / config source, at least for 1.13.0

[2019-12-19 18:30] kyessenov commented on #7867
It's similar to the issue with failing to fetch SDS/RDS in a warming listener. Specifically, for SDS it's a separate server that cannot be fully consistent with the main management server. There is no way for Envoy to indicate that an accepted listener failed to warm.

[2019-12-19 18:58] jammerful opened #9426 "Envoy fails to parse JWKS with EC keys missing [alg] fields"
**THIS ISSUE IS CROSS POSTED AT
ISTIO: https://github.com/istio/istio/issues/19424
JWT_VERIFY_LIB: https://github.com/google/jwt_verify_lib/issues/31**

*Title*: *Envoy fails to parse JWKS with EC keys*

*Description*:
When using the jwt_authn filter, envoy fails to parse a JWKS that contains EC keys in some cases. My guess is that it some EC keys have a "crv" field set but a "alg" field is not se

[2019-12-19 19:46] mattklein123 commented on #7867
Correct. This has come up several times. I think this is worth fixing, but it's not trivial. IMO a "default" configuration is actually something that many operators would want anyway in this case, so it might be an OK stop gap for many deployments. For example we would almost certainly use this at Lyft to not block startup for non-critical filters.

[2019-12-19 20:00] kyessenov commented on #7867
I wonder if it also makes sense to allow removal of filters by sending an empty config. This sounds a bit dangerous to me, but could also be used as a fallback. The default configuration vs no configuration probably depends on the intent of the filter (e.g. for authz, default should be deny all, for telemetry, just disable it).

[2019-12-19 20:23] yanavlasov commented on #9097
I think admin interface as it is now is rather problematic from security standpoint. It is plaintext and unauthenticated. I would rather not extend it unless there is immediate business need.
I think there is a need for admin endpoint that is configured as a filter chain and where requests can use secure transport and be authenticated.

[2019-12-19 20:45] wrowe commented on #8717
The better solution in /this/ particular case was to use a unix epoch value. See

https://github.com/envoyproxy/envoy/pull/9331/commits/293f4a3586793e1963e34eec48bcb6b93f6d55bf

[2019-12-19 20:45] #8717 closed

[2019-12-19 21:15] danzh2010 commented on #7465
In light of SO_REUSEPORT, even if UDP listeners are destroyed after draining, their sockets shouldn't be closed till all the listeners are drained.

[2019-12-19 22:07] derekargueta commented on #8933
Have all the [new proto files ready here](https://github.com/envoyproxy/envoy/compare/master...derekargueta:dereka/empty-proto?expand=1), the strategy I'm going down to support `ProtobufWkt::Empty` (somewhat based on the diff @kyessenov started - https://github.com/envoyproxy/envoy/pull/9391/files#diff-17967d56376bf9821edb17b67b8a7e63R180) is adding a `usesGoogleProtobufWktEmpty()` (or similar) to

[2019-12-19 23:29] htuch commented on #9359
Is the root of the issue that the bootstrap has some certs that are necessary before we even are able to do SDS? If so, why not do SDS with a filesystem subscription, you can update this with a move operation. Envoy picks up the inotify event.

[2019-12-19 23:37] htuch commented on #7867
Yeah, I think the minimum here is an option to fail-open vs. fail-closed. I think default config also makes sense. For removing filters, I think it would be cleaner to just have a `disabled` option. I would much prefer to not have whatever API we build here start to overlap with FCDS in terms of filter topology.

[2019-12-19 23:39] mattklein123 commented on #7867
+1

[2019-12-20 01:57] mandarjog commented on #7867
+1 for `fail-open` and `fail-closed`, we have been discussing this in the WASM context. For example if a telemetry WASM filter fails to load you would still want to declare success and move on (and increment a metric for bad configs).

Using a URL fetcher to load WASM code has the same issue. The listener will go in "warming" state, with no way to notify the control plane.
So the ask here specific

[2019-12-20 02:38] wallyatgithub commented on #7403
Hi,

Should we really pull up the ready/busy clients into base? Busy client should be http1.x specific, as it does not support concurrent request/streams, while this is not applicable to http2, so we would not have a busy client for h2.

[2019-12-20 02:55] htuch commented on #8933
@derekargueta awesome, I like this plan. Thanks a bunch for doing all the ground work here. I think we shouldn't have to do a ton in terms of converting between typed protos, it's mostly about replacing type URLs during Any/TypedStruct conversion; on the wire, `ProtobufWkt::Empty` and the per-filter empty protos are identical modulo type URL.

@kyessenov if you have cycles to lend a hand taking us

[2019-12-20 04:26] #9416 closed

[2019-12-20 05:18] y-gupta opened #9430 "SCTP ( Stream Control Transmission Protocol ) traffic support in envoy"
SCTP ( Stream Control Transmission Protocol ) traffic support in envoy

Use-case:
In Telecommunication industry, Evolved Packet Core (EPC) has a number of entities which use SCTP protocol to communicate with each other.
This will make envoy a viable solution for many telecom vendors.

Is it possible to include SCTP in the development roadmap?

[2019-12-20 05:38] aaron-ai opened #9431 "Feature Request: Support Apache RocketMQ's protocol"
*Support Apache RocketMQ's protocol*

*Apache RocketMQ intend to make contributions to Envoy by supporting RocketMQ's protocol, and the code is almost ready, open this issue to track the progress.*

A design document is available at the link below:

issue or pr related: #8036 #8984

[2019-12-20 06:27] zyfjeff commented on #9417
"no healthy" is generally because the health check is configured and the upstream machine's health status is unhealth, so when there is a request, there is no way to find a healthy host.

[2019-12-20 06:38] mailzyok commented on #9417
@zyfjeff  Thanks for you comment.

Here is additional log which indicated the gRPC cannot be established. It was a response from upstream. It is strange the status code is 200.
I am still not clear on what the reason for unhealth, because the upstream service is up and running in K8S. Is there any other log i can check?

Thanks.

[2019-12-20 06:45] zyfjeff commented on #9417
@mailzyok can you upload the complete log and config_dump files?

[2019-12-20 06:48] zyfjeff commented on #9381
@eziskind  Thanks a lot, I will take the time to implement this feature recently, and help review it at that time

[2019-12-20 06:55] mailzyok commented on #9417
@zyfjeff Thanks. I cannot upload complete log here, could you let me know which part you want to see for config_dump, i will copy it here.

Here is the log for complete log when the problem happens

Here is the cluster info in config_dump

[2019-12-20 07:17] zyfjeff commented on #8400
@howardjohn What if you add an EG? Or delete an EG? If you don’t do delta xDS, you need to push the full amount of EG information to Envoy, and then Envoy assembles these EGs. If you support delta xDS, you only need to push the EG to be added, and then Envoy increases EG is fine.

[2019-12-20 07:44] zyfjeff commented on #9417
@mailzyok
According to your logs, it should be that you cannot connect to the` istio-pilot` to cause " no health upstream"

[2019-12-20 07:54] hzxuzhonghu commented on #8400
What kind of calc does envoy do? I understand it need to aggregate all the Endpoints, so in this case, it just needs to add endpoints to the endpoints pool by locality and sum up the lb weight.

[2019-12-20 08:13] zyfjeff commented on #8400
@hzxuzhonghu
I'm not very clear about the details of the endpoint update,
But as far as I know, it is not only the weight calculation, but also an O (N) host comparison (similar to metadata, but also health check, etc.).

[2019-12-20 08:42] seflerZ commented on #8400
@zyfjeff The full EG push only would happen occasionally when cluster endpoints changed significantly. What @hzxuzhonghu means is that EGDS shards will only bring more calculation by "add endpoints to the endpoints pool by locality and sum up the lb weight", other operations you mentioned would also be done with or without EGDS.

[2019-12-20 08:59] mailzyok commented on #9417
@zyfjeff  Thanks a lot, seems DNS resolution problem, see logs below:

When envoy starting resolution for istio-pilot, it takes 150s no response, i think it is a timeout, but i didn't find the default timeout values,

Then after 300s, envoy start a new resolution, i think 300s is configured as dns_refresh_rate in static cluster configuration.

I will ask the admin to check the issue of DNS resolut

[2019-12-20 09:53] dio commented on #9341
@erikbozic I’ll go ahead to fix this.

@cetanu are you also OK with this? Or should we have an option to spit json where uint64 is rendered as string?

[2019-12-20 11:38] snowp commented on #7403
In my mind you'd treat a H2 client as "busy" when you reach the threshold for maximum streams per upstream connection described in this issue. This means that the handling for HTTP/1.1 busy connections just becomes a special case (max streams = 1) of the HTTP/2 behavior

[2019-12-20 11:45] snowp commented on #9297
Are you able to provide a smaller reproduction of the issue? I'm afraid the config/log output is a bit much to go through

[2019-12-20 12:21] cetanu commented on #9341
We changed some code to expect a `json.Number` type for these fields and then we cast it to the correct type for our use-case 👍 so either way we're OK here.

I think if envoy were to opt for not changing this it wouldn't be an absolutely incorrect decision but it would solve a problem in some cases. One example I can think of is where a user of envoy does not have control over the trace server/col

[2019-12-20 13:55] hongzimao commented on #9363
Which `bazel version` are you using? I also hit this error with bazel 2.0.0. Same envoy code built with bazel 0.28.1

[2019-12-20 15:47] tsaarni commented on #9359
Cool idea!  I tried SDS with filesystem subscription but there are couple of problems:

1. When Kubernetes updates the certificate files, the only inotify event which fires is for a hidden directory `..data`. There is no events for the individual updated certificate files since Kubernetes has set up them as symbolic links that do not change. Since `..data` does not match with any of the file watch

[2019-12-20 16:09] mattklein123 commented on #7867
This is not possible today and will require a bunch of thinking to figure out the right way to do it, but it's certainly possible and something we should do. In the near term, the hacky way of dealing with this is to just delete the listener with a stat, and then have it re-added in the next go around. Though, this won't work with incremental.

[2019-12-20 16:15] mattklein123 commented on #9423
Correct, there is nothing like this today and we suggest defining readiness probes that do what you want. We have quite a few different admin endpoints that help with writing such probes.

[2019-12-20 16:19] mattklein123 commented on #7403
+1 to what @snowp said.

[2019-12-20 18:02] danzh2010 opened #9434 "quiche: implement certificate verification"
Current integration uses a fake QuicProofSource/Verifier in handshake: https://github.com/envoyproxy/envoy/blob/44a8588219209c4b96fca2e7e9f009138e1f3ca6/source/extensions/quic_listeners/quiche/envoy_quic_fake_proof_source.h. In ActiveQuicListener, a QuicCryptoServerConfig object is created with this.

A real EnvoyQuicProofSource should wrap FilterChainManager which can retrieve filter chain based

[2019-12-20 18:06] danzh2010 opened #9435 "quiche: implement quic feature flags"
Currently all the QUIC flags are defined as global variable in https://github.com/envoyproxy/envoy/blob/44d89c35b663c158dcae327da27345cd046e7fbe/source/extensions/quic_listeners/quiche/platform/flags_list.h. There is a TODO to implement the reloadable and restart flags using Envoy::Runtime.

[2019-12-20 18:14] heimweh opened #9436 "Envoy (istio-proxy) memory keeps growing (HTTP/2 gRPC bidi stream)"
*Description*:

We have a service deployed in our cluster with an istio-proxy sidecar (running envoy).
We're currently seeing an issue where Envoy's memory usage keeps increasing,
up to the point where it gets OOMKilled (2GB limit).

We've tried doubling the limits for the sidecar,
but it's still growing and didn't settle somewhere.

<img width="1370" alt="Screen Shot 2019-12-20 at 14 03 49" src="

[2019-12-20 18:18] mattklein123 commented on #9436
cc @lizan @dio to take a look. Typically in the past this has been an issue with retry policies on streaming requests but not sure.

[2019-12-20 18:18] ramachaitanyak commented on #9389
Actually I am trying to perform logging in envoy outside the context of a filter. The abstractions that I came across are FileAccessLog and AccessLogManagerImpl. I wanted to confirm with you if this is the right approach to do it.

I was thinking of an API that uses both these interfaces mentioned FileAccessLog  and AccessLogManagerImpl  in doing this. Is this the best approach ?

What I am not su

[2019-12-20 19:39] dmitri-d opened #9437 "Quiche fails to build under gcc"
**WARNING: If you want to report crashes, leaking of sensitive information,
and/or other security issues, please consider
[reporting them using appropriate channels](https://github.com/envoyproxy/envoy#reporting-security-vulnerabilities).**

**Issue Template**

*Title*: Latest quiche fails to build on gcc

*Description*:
Quiche in master branch fails to build under gcc with messages:
[code]
gcc ve

[2019-12-20 19:49] yxue opened #9438 "retry policy for remote data source"
https://github.com/envoyproxy/envoy/pull/9291#discussion_r360530081
/cc @mattklein123  /assign @yxue

[2019-12-20 19:52] cgilmour commented on #9002
Still intending to work on this in the near future.

[2019-12-20 19:52] cgilmour commented on #9076
Still intending to work on this in the near future.

[2019-12-20 20:01] danzh2010 opened #9440 "udp: UdpListenerImpl use recvmmsg"
Utility::readPacketsFromSocket() use recvmsg to read UDP packets. We can definitely change it to use recvmmsg instead so fewer system calls will be made. And right now it reads till the queue is empty. As we want to limit the number of system calls for each event loop, we can make this function return a bool to indicate the caller if it finishes reading from the socket or not.

[2019-12-20 20:01] mattklein123 commented on #9387
What is the nature of your connections/requests to Envoy? Do you have very long hanging requests?

[2019-12-20 20:11] hongzimao commented on #9363
Actually, although the trigger occurs at the same repo, my error is different:`autoreconf: not found` and I fixed it by
[code]

[2019-12-20 20:15] sunjayBhatia commented on #129
12/20/2019 Update:

Recent PRs merged:
- https://github.com/envoyproxy/envoy/pull/9399
- https://github.com/envoyproxy/envoy/pull/9314
- https://github.com/envoyproxy/envoy/pull/9303
- https://github.com/envoyproxy/envoy/pull/9290
- https://github.com/envoyproxy/envoy/pull/9281
- https://github.com/envoyproxy/envoy/pull/8572

PRs in flight:
- https://github.com/envoyproxy/envoy/pull/9398
- https:/

[2019-12-20 20:21] danzh2010 commented on #9437
This hasn't been changed in QUICHE recently. How come we didn't catch it in GCC workflow earlier?

[2019-12-20 20:25] mattklein123 commented on #9401
@asraa this is awesome and something I really want to see land.

I mentioned this in the RFC PR you opened, but I think the main issue you are going to face almost immediately is that the fuzzer is going to have to be stateful. I'm positive you will hit asserts, crashes, etc. otherwise. Essentially this will involve correctly handling end_stream and not calling further methods which the filter wou

[2019-12-20 20:29] mattklein123 commented on #9369
terminate connections on request complete

I think these are both already done?

What do you mean by this?

So the idea here is that you want to basically force shutdown all connections without waiting for the drain timeout? Can you just set the drain timeout to be really short?

I think I'm still not completely clear on which functionality is missing, so maybe you can propose some changes and we

[2019-12-20 20:31] danzh2010 commented on #9437
/assign @danzh2010

[2019-12-20 20:43] justincely commented on #9423
thanks @mattklein123, i suspected as much, but appreciate the quick reply.  Happy to have this closed, as my question is answered.

[2019-12-20 20:49] dmitri-d commented on #9437
Not sure, it seems that quiche dependency gets built for //test/... target, but not for //source/exe:envoy-static, at least under gcc.

[2019-12-20 20:53] #9423 closed

[2019-12-20 21:35] c0debreaker commented on #9078
Does this mean it has been solved?

[2019-12-20 22:03] cbarbara-okta commented on #9387
@mattklein123  - this envoy is not exposed directly to our users, so all connections to our ingress envoy would come from an nginx proxy as http/1.1.  Unfortunately we have to support a lot of different requests flowing through here, a typical fast REST API, a long polling style request that might last 15-30sec, or a very long report generating request that can last up to 5min.

The failed request

[2019-12-20 22:05] mattklein123 commented on #9387
Long polling requests are going to negate the idle timeout. Do you mean instead to use a stream_idle timeout or similar? Beyond that sorry I don't have any immediate ideas, but will switch this to investigate.

[2019-12-20 22:12] cbarbara-okta commented on #9387
My understanding is that the default `stream_idle_timeout` should be 5 min, but with our route level timeout of `340s` it should get changed to that `340s` value.  Both of which are much less than upstream's `430s`.
But the packet capture screenshot shows those TCP connections stay open and idle for 439s in between packets before close occurs.

But let me know if we have our configs wrong, or shou

[2019-12-20 22:16] mattklein123 commented on #9386
Typically this happens when the upstream server disconnects.

[2019-12-20 22:18] mattklein123 commented on #9414
@AndresGuedez @stevenzzzz

[2019-12-20 22:19] mattklein123 commented on #9420
I would recommend raising this issue to ambassador for help debugging. I think this might be due to listener drain timeout if ambassador is not using RDS, but I'm not sure.

[2019-12-20 22:26] yangminzhu commented on #9376
@htuch Thanks for the information, is the general move tracked in https://github.com/envoyproxy/envoy/issues/5569?

The proposal in the issue is to add the matcher to be part of the HttpConnectionManager and refer to it in filters using MatcherReference.

I have a few concerns of this approach:
1. This will create a dependency between the filter config and the HCM config. Currently the code respon

[2019-12-21 03:05] dio opened #9445 "build: Upgrading protobuf to 3.11.2 requires `-Wno-error=deprecated-declarations`"
*Description*:

Per @moderation's finding here: https://github.com/envoyproxy/envoy/pull/9432#issuecomment-568044237 upgrading protobuf to protobuf-3.11.2 enforces `[-Werror,-Wdeprecated-declarations]`.

[code]

The workaround is to add `--copt='-Wno-error=deprecated-declarations'` (I'm not sure if this one is correct, I'm sure there is a better way) to the build command. Hence, e.g. the fastbuild

[2019-12-21 05:31] mandarjog commented on #7867
Ok, since ETA on async NACK is unclear I think it is better to use “local file” load when using WASM so that bad wasm module or “module not found” can be rejected synchronously with a NACK.  Wdyt @mattklein123 ?
I think this is generally true for any other interaction of this type.

[2019-12-21 08:40] derekargueta commented on #9389
Can you define "outside the context of a filter"?

You can write a custom access log extension that works much like the [default file access logger](https://github.com/envoyproxy/envoy/tree/master/source/extensions/access_loggers/file). That is,
1) Write a factory that inherits `Server::Configuration::AccessLogInstanceFactory`.
2) Write the access logger, which for convenience should inherit `Comm

[2019-12-21 14:26] mandarjog opened #9447 "API request: xds async NACK"
When envoy receives a listener from management server it has 3 choices
1. accept listener and put it in ready state
2. Reject listener with a NACK
3. Accept config and put listener in a warming state awaiting an async operation.

If the async operation fails for any reason and it was performed against separate management server, the original management server has no way to know what happened.

The