[2019-02-15 20:53] bndw commented on #5292
@lizan not sure if you intentionally tagged me here. If so, what stat are you referring to?

[2019-02-15 20:57] maei1337 opened #5984 "Dockerfile Python 3.6+"
Sorry in advance. I am not that experience with docker.
I use `FROM envoyproxy/envoy:latest` as base image and by default it uses Python 3.5.2.
How I can mange to use 3.6.8. I need that version because I use many f string literals which are only available with python 3.6+
This is the actual Dockerfile:
[code]

Maybe someone can make some hints. Tried to install with `docker run -it sh` manually bu

[2019-02-15 21:14] lizan commented on #5292
ugh sorry, I meant @bnlcnd

[2019-02-15 21:33] snowp commented on #5982
Yeah I agree, this seems like a bug. I assume Maglev doesn't allow for the tiered host selection we do for the other LBs (priority -> locality -> host), but we should still make sure the overall host weighting is consistent when using locality weighting.

[2019-02-15 21:35] mergeconflict commented on #5982
Cool, I'll work on this. I'm actually doing it for RingHashLB first, and I plan fix it in Maglev after.

[2019-02-15 21:50] htuch commented on #5982
There's two ways we could do it with Maglev/Ring hash LB. We could either use two tables, doubling memory use, but allowing more granular weighting for a given ring size, or what we do today, a single table with an effective weight function that expresses locality weight correctly. I think the latter is a more reasonable evolution of what we have, but maybe one day someone would prefer the two tab

[2019-02-15 22:11] fredlas commented on #5270
After some discussion with @jmarantz and someone else, I see the problems more clearly. I think if we simultaneously change 1) the way xDS/ADS are understood at the documentation/conceptual level, and 2) some class names down in the implementation, we can greatly clarify things.

The name ADS can confuse people, because pattern matching makes you think it's a service for discovering 'A'. Thinking

[2019-02-15 23:03] #5550 closed

[2019-02-16 00:09] stevenzzzz opened #5986 "use cluster eds service_name alias in LoadStats if the service_name is used in EDS"
**Bug Template**

*Title*: LoadStats should use cluster's eds service_name  if the service_name is used in EDS requests

*Description*:

 cluster_name_(cluster.eds_cluster_config().service_name().empty()
                        ? cluster.name()
                        : cluster.eds_cluster_config().service_name()) ...
This cluster_name_ should be set as LoadStats::cluster_name as well as ADS side

[2019-02-16 00:31] jeff-merrick commented on #5173
@mattklein123 this still seems to be an issue with Envoy Version: v1.9.0. Can you reopen this issue and add the "help wanted" label? Thanks.

[2019-02-16 00:34] pitiwari commented on #5937
below is my workspace file. I removed some lines to make it work

workspace(name = "envoy")

local_repository(
    name = "envoy",
    path = "envoy",
)

load("@envoy//bazel:repositories.bzl", "envoy_dependencies")
load("@envoy//bazel:cc_configure.bzl", "cc_configure")

envoy_dependencies()
cc_configure()

load("@envoy_api//bazel:repositories.bzl", "api_dependencies")
api_dependencies()

load("@io

[2019-02-16 01:47] kasun04 commented on #2852
@solsson  I guess the current implementation of KNative Eventing[1] is primarily about CloudEvents over HTTP (services do not use Kafka as the communication protocol). However, I'm not quite sure that they want to use non-CloudEvent based mechanism for the service-to-service eventing.

[2019-02-16 01:54] kasun04 commented on #2852
@mattklein123
As far as I understand, with the above implementation, the developer experience would be as follows
- A Service that produces events treats Envoy as the broker for publishing messages
- A Service that consumes events treats Envoy as the broker that it subscribed to.
- The existence of a (central) Kafka broker is transparent to the user. The rest of the commodity features will be tran

[2019-02-16 04:10] qiang-nutanix commented on #3525
@jmarantz I am interested the "a general caching infrastructure for Envoy".  I am looking for (or need to create) an AuthZ filter, which either accepts or denies the incoming request based on a set of policies; the AuthZ policy data is cached locally and updated periodically from external source. But based on envoy thread model: "Once a connection is accepted by a listener, the connection spends t

[2019-02-16 09:31] poyaz commented on #5939
sorry, but i can't connect with psql, how to connect with client modules to proxy?

create tls file:
[code]

psql connection:
[code]

[code]

[2019-02-16 18:55] chopmann commented on #5939
I guess you are be out of luck. Could not find anything useful regarding postgresql and sni.
I dont think this has to do with envoy anymore, and you might want to close this issue.

[2019-02-16 19:03] joewood commented on #2852
So great to read this thread and the thoughts around this...

One thing I would like to see (and something @gwenshap hinted at in her [Service Mesh Youtube video](https://www.youtube.com/watch?v=Fi292CqOm8A)) is using the sidecar as a way to offload a lot of the responsibilities of the existing Kafka client SDK.

Kafka's broker is very simple (by good design). For example, it's the client SDK's re

[2019-02-16 19:33] #5528 closed

[2019-02-17 04:00] bnlcnd commented on #5292
@lizan - where can I get the stat? do you mean the log?

[2019-02-17 04:33] #804 closed

[2019-02-17 04:50] bnlcnd opened #5990 "JWT Verification by the public key in client certificate"
*Title*: *How Envoy support the JWT (for signature) verification via the client public key in the cert.*

*Description*:

1) the client use its private key to sign the JWS header and payload
2) the client send the request with the JWT
3) the server somehow get the certificate of the client and extract the public key
4) the server use the public key to verify the signature.

But the documentations

[2019-02-17 05:33] #806 closed

[2019-02-17 06:33] #809 closed

[2019-02-17 07:33] #3826 closed

[2019-02-17 12:41] #5066 closed

[2019-02-18 00:41] #5575 closed

[2019-02-18 05:45] rfkm commented on #4654
@mattklein123
Could you keep this open please?
Fixing this would be helpful for us since we have some APIs which require long timeout because it serves binaries, and it is hard to set timeout in every hops.

[2019-02-18 10:12] ramaraochavali commented on #5168
@htuch Sorry for delay here. I did some time on this today. Since this problem is during the warming(update phase), how about copying the active cluster priority set to warming cluster priority set here if the warming cluster priority set is empty? I tried that and it seems to resolve the issue but not sure of any side affects.
https://github.com/envoyproxy/envoy/blob/master/source/common/upstream

[2019-02-18 10:57] den-vasyliev commented on #1861
Actually i have spoken devs from Lift on Kubecon 19: envoy on arm in the roadmap and i hope this year officially. But not for today :(

[2019-02-18 15:57] rshriram commented on #2861
if you repurpose the mysQL filter, you could stuff this retry info in the SQL comments and do the appropriate thing in the SQL filter.

[2019-02-18 16:27] moderation commented on #1861
@bryanburgers, @lafonj, @den-vasyliev I've been building Envoy on arm64 for quite a while. All of the Bazel and rules_go issues I documented at https://gitlab.com/snippets/1742074have been resolved. I still compile out Lua but no issues otherwise. I compile each new update of Bazel from source when it comes out - no modifications required.

[2019-02-18 17:09] lizan commented on #5603
not stale

[2019-02-18 17:33] maei1337 commented on #5984
Hi, me again. Find a solution for my (beginner) problem. If there are some potential improvements please share your thoughts :) thanks

Dockerfile is for `python-3.7.2`

[code]

[2019-02-18 17:36] den-vasyliev commented on #1861
Thanks!

"The minimal extensions_build_config.bzl file that I use to only compile in the features I'm using is at https://gitlab.com/snippets/1742863"
Page Not Found https://gitlab.com/snippets/1742863

[2019-02-18 20:32] manvindar opened #5995 "Route two services on same domain"
I have to do something like this in my application  , how can i do that

static_resources:
  listeners:
  - name: listener_0
    address:
      socket_address: { address: 0.0.0.0, port_value: 10000 }

    filter_chains:
    - filters:
      - name: envoy.http_connection_manager
        config:
          stat_prefix: ingress_http
          route_config:
            name: local_route
            vir

[2019-02-18 22:05] moderation commented on #1861
@den-vasyliev I fixed the snippet (it was private) and I updated it to my current latest. As you can see I compile out a lot of the extensions but it helps with compile time and binary size and there isn't much point including stuff you don't use.

I'd be happy to upload a current binary somewhere. Traveling back from vacation so will be a couple of days until I can update to master and rebuild.

[2019-02-18 22:31] den-vasyliev commented on #1861
awesome! welcome back to home!

[2019-02-18 22:41] billybanfield commented on #5555
@junr03 @mattklein123 apologies, haven't had time to get to this, may be able to in the next week or so

[2019-02-19 01:10] mathetake opened #5997 "[feature request] memcached filter with consistent hashing"
*Title*: memcached protocol filter with consistent hashing [feature request]

*Description*:
As [I mentioned in slack](https://envoyproxy.slack.com/archives/C78HA81DH/p1550298187077900), it would be helpful if envoyproxy has a filter with consistent hashing feature for memcached clusters.

AFAIU there's filter with that feature for Redis, but not for memcached. The required implementation seems no

[2019-02-19 01:48] drao9 commented on #3826
https://medium.com/@dirao/debugging-envoyproxy-on-osx-a3ebe87dc916

[2019-02-19 02:22] DevoKun opened #5998 "Feature Request: In lua http filter add ability to set the contents of the body"
_Feature Request_: **In lua http filter add ability to set the contents of the body**

[code]

[2019-02-19 15:04] zbye commented on #5700
I did further test and get the result and  still got abnormal results, as follows:
(1) envoy +   grpc-service instance A,      QPS is 10000;
(2) envoy +   grpc-service instance B,      QPS is 10;;
(3) envoy +    2 instances (A and B) ,    QPS is less than 10, A and B both have incoming traffic ;
I tried various load balancing algorithms such as round_robin/random/least_request and  was confused ab

[2019-02-19 15:39] htuch commented on #5270
I'm pretty strongly against dropping ADS as a term at this point, it's already pretty widely used inside Envoy and various other projects and has a generally understood public meaning.

[2019-02-19 15:44] htuch commented on #5168
I think this could work. @snowp do you think we can copy extant priority set for a cluster to an updated cluster object to transfer over endpoint state? My main concern would be around what happens if anything EDS related has changed, but providing the EDS details are the same it seems reasonable.

[2019-02-19 16:10] htuch commented on #5700
I think seeing some Linux `perf` derived flame graphs would be useful in the different scenarios and comparing. See http://www.brendangregg.com/FlameGraphs/cpuflamegraphs.html for how to get these.

[2019-02-19 16:59] snowp commented on #5168
Yeah I think that would work, as long as care is taken to make sure all the update callbacks are handled properly.

We'd want to make sure that anything that relies on capturing a reference to the priority set is updated correctly, and we'd probably want to make sure that we're not triggering any update callbacks when we're making the copy to ensure that we're not doing unnecessary rebuilds of the

[2019-02-19 19:48] fredlas commented on #5270
Wasn't the same true when SDS was renamed to EDS? This would be simpler than that: rather than a name change, it would be a recognition that a term already in use (xDS) already naturally covers what had been presented as a special separate version of that thing.

[2019-02-19 19:51] htuch commented on #5270
@fredlas if there is significant community support for this (i.e. others find it terribly confusing and would prefer instead to use xDS for both aggregated and non-aggregated), then we can consider this, I don't want to be a blocker. My personal take is that ADS serves a useful role in describing a concrete service endpoint and mode of operation for xDS, but language is a tool for communication an

[2019-02-19 20:50] snowp opened #6001 "Send retry reason to upstream"
We're interested in passing information to the upstream about why the request was retried.

The idea is to avoid retrying in the upstream if the request was retried due to an application issue, to prevent an explosion of retries. Currently we can infer whether a retry happened with the `x-envoy-attempt-count` header, but this doesn't differentiate between different retry reasons. We're interested

[2019-02-19 21:14] lizan opened #6003 "macOS CI is failing due to disk space"
*Description*:

Temporary fix #6002, support ticket opened with CircleCI. This issue is to track making macOS CI back to full.

[2019-02-19 21:17] mattklein123 commented on #6001
@snowp SGTM

[2019-02-19 22:37] warhammerkid opened #6004 "grpc-json transcoder: Large response triggers internal server error"
*Title*: *Large gRPC responses converted to JSON get an internal server error response*

*Description*:

Is there a config option that can raise the buffer high watermark in this case so that we can raise the response limit?

[2019-02-19 22:38] bplotnick commented on #5239
This seems like a dupe of #4357

[2019-02-19 23:33] mattklein123 commented on #5997
Yeah I don't think doing memcached would be that hard, you could likely share most of the redis code in a common base class of some type.

[2019-02-19 23:48] fcfort opened #6006 "http: Expose request/response total bytes in encoder/decoder callbacks"
I am attempting to implement a feature to record total request or response size for a given stream, that is not just body size or header size. I would like to be able to access that data in filters (via `streamInfo()`), in the same way that `StreamInfo` currently records body bytes via `bytesSent()` and `bytesReceived()` (see code [here](https://github.com/envoyproxy/envoy/blob/14bea3b8b3bfafc5149

[2019-02-19 23:52] mattklein123 commented on #6004
Related to https://github.com/envoyproxy/envoy/issues/5012.

IIRC if you have an HTTP/2 downstream you might need to tune the per stream buffer, but I think this defaults to something really big. I agree we need more documentation on how to configure this properly. cc @lizan @alyssawilk who might have quicker thoughts without looking through the code.

[2019-02-20 00:03] lizan commented on #6004
@warhammerkid what is the `grpc-status`? Do you use streaming?

[2019-02-20 00:17] warhammerkid commented on #6004
I can't believe I missed the fact that `per_connection_buffer_limit_bytes` can be set on the cluster **AND** the listener. Moving my limit setting from the downstream cluster to the listener fixes my issue. If I throw in a buffer filter is it possible to use that to lower the request limit for DoS protection while still allowing the server response size to be much larger? Are there any other conse

[2019-02-20 01:28] zbye commented on #5700
thanks. we have record the experimental data and haven't find  anything abnormal .

System  Parameters and resource usage data
--
the virtual machine deploying envoy | 32 core, 32G memory   | cpu 350%, memory 0.6%;
the virtual machine deploying service | 8 core, 8G memory    | cpu 35%, memory 40%

Are there any references or explanations for grpc load balance ?

Thanks for helping.

[2019-02-20 02:20] yangminzhu opened #6008 "How to normalize URL in Http::HeaderMap?"
*Title*: *How to normalize URL in Http::HeaderMap?*

*Description*:
If a URL path includes double dots (e.g. `/data/../info/`) or single dot (e.g. `/user/./record/`), it seems `Http::HeaderMap` doesn't normalize it by removing the dots in the path.

Sometime this creates issues when a filter is trying to compare the path. For example, a filter may expect to match on path `/info/` and it actually w

[2019-02-20 02:47] zbye commented on #5700
![grpc](https://user-images.githubusercontent.com/5737494/53062770-e5019580-34fc-11e9-9f67-54c0e3e759ab.png)

[2019-02-20 03:14] zglozman opened #6009 "Does envoy support ocsp validation of client certificates?"
**Issue Template**

*Title*: *Does envoy support ocsp validation of client certificates?*

*Description*:
Is it possible to enable OCSP validation of client certificates ?

[2019-02-20 03:35] ramaraochavali commented on #5168
Cool. I would put up PR for this soon.

[2019-02-20 03:49] ramaraochavali commented on #5270
+1 to what @hutch said - I think ADS is pretty widely used and have well understood meaning.  And regarding SDS -> EDS I think since it was done very early in the v2 life cycle (probably right from v2 API it self @htuch please correct me here, if this wrong) , it did not impact much.

[2019-02-20 03:55] ramaraochavali opened #6010 "Continue with Listener creation even if one listener in the list fails"
This is similar to what has been done for CDS here https://github.com/envoyproxy/envoy/pull/5806 but for LDS. If a listener fails for some reason, we would stop the listener creation and throw exception, half of the listeners would have been created by that time. I think it makes sense to continue with other listeners in the list.

Thoughts?

[2019-02-20 04:48] htuch commented on #5700
gRPC load balancing is no different to normal HTTP/2 load balancing. Do you have maybe circuit breaking kicking in? Is there something very distinct between A and B when it comes to the nature of traffic?

[2019-02-20 11:45] zbye commented on #5700
Thanks for your time and patience.

I have disable the circut breaking according to the Envoy documentation (https://www.envoyproxy.io/docs/envoy/latest/faq/disable_circuit_breaking);
Also, The backend-services are the same except for different processing time of incoming requests.

One possible solution maybe implement the grpc-service  in other programming languages and do the stress testing aga

[2019-02-20 16:58] mattklein123 commented on #6009
Dup of https://github.com/envoyproxy/envoy/issues/3178 (not currently supported). Please track there.

[2019-02-20 17:04] zglozman commented on #6009
I think the name on the other ticket is different. While both have to do with OCSP,  #3178 is different as it addresses, envoy supporting OCSP Must-stable configuration, which will allow envoy to embed ocsp information in the response headers going to consumers.

The feature request here, is, in addition, to support of static CRL support validation of certificates dynamically. We are talking of va

[2019-02-20 17:51] qiwzhang commented on #5990
@bnlcnd I would recommend you to read auth0 and JWT related documents first.  I believe many of your questions can be answered by them.  For the questions on how to use JWT filter, it has some [examples](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/jwt_authn_filter.html?highlight=jwt#remote-jwks-config-example), they will help.

[2019-02-20 17:51] mattklein123 commented on #6009
@zglozman OK I see. Well we don't support it. I will reopen. Can you edit the title/body to read as more of a feature request? cc @PiotrSikora

[2019-02-20 18:49] #4367 closed

[2019-02-20 19:06] zachmarshall commented on #5632
I am working on this with @ricochet. I've found that a lot of what we need is already present, but please correct any misunderstanding I might have.

It seems the jwt filter already places the parsed oauth token into dynamic metadata: https://github.com/envoyproxy/envoy/blob/851859b7a214bad1c66043e49dff2f04b417608b/source/extensions/filters/http/jwt_authn/filter.cc#L46

So it's just a matter of ge

[2019-02-20 19:23] qiwzhang commented on #5632
@lizan mentioned that router supports adding header from dynamic metadata, with format like `%DYNAMIC_METADATA(NAMESPACE:KEY*):Z%`.
If its KEY can be a path, like jwt_issuer.your_payload_field.sub_field.  it should work since payload is stored as Struct in dynamic metadata.

[2019-02-20 19:38] #5394 closed

[2019-02-20 20:04] mattklein123 commented on #6010
@ramaraochavali I agree we should be consistent here.

[2019-02-20 20:06] mattklein123 commented on #6006
I haven't though it through in detail, but I would probably add some new type of opt-in stream callbacks that are called with full framing data. You could implement this for HTTP/1 also pretty easily. Then the callback can do whatever it wants with the explicit size information (I assume you are trying to use this from a filter?).

[2019-02-20 20:12] fcfort commented on #6006
Right yeah, I'm trying to use the data recorded in the `StreamInfo` object in a filter.

What do you mean when you say "opt-in stream callbacks"?

Basically what I'd like is some callbacks for the active stream that is passed from `conn_manager_impl` to the H1/H2 `codec_impl`s so that when the codecs see a chunk of data they directly pass that chunk of data (but really I just need the size of that

[2019-02-20 20:27] mattklein123 commented on #6006
Basically, yes. I think the question is whether you really need it to go into stream info, or you just need the callback in your filter? I'm not crazy about making everyone pay this extra computation/storage tax since I think almost no one will care about it.

[2019-02-20 20:41] fcfort commented on #6006
Well really I just need it in the filter. My idea was to make something analogous to `StreamInfo.bytesReceived` and `StreamInfo.bytesSent` for both headers and the entire request or response.

The reason I thought it might be useful is that other clients of Envoy might also want to access the total size of the request/response or the size of the headers in the same way that clients can get the siz

[2019-02-20 22:22] htuch commented on #5700
How is your client generating load? If it has a single thread, it will be waiting for completions before sending an additional request potentially. This means, that if you have a slow backend, its processing time will dominate and force the total QPS down to its throughput.

[2019-02-20 22:23] htuch commented on #5700
Also CC @oschaaf, who is our resident expert on load generation.

[2019-02-21 00:26] difro opened #6016 "[feature request]OutlierDetection: reset or cap number of times host has been ejected."
The outlier ejection algorithm says following:
https://www.envoyproxy.io/docs/envoy/v1.9.0/intro/arch_overview/outlier#ejection-algorithm

But currently there is no way to reset or cap this "number of times the host has been rejected" count.
Once the host has been confirmed healthy again, I'd like to manually mark it as healthy, so that I do not have to wait ever-growing seconds/minutes/hours unti

[2019-02-21 04:28] ramaraochavali commented on #6010
Ok. Cool. Will fix this.

[2019-02-21 04:28] ramaraochavali commented on #6010
/assign ramaraochavali

[2019-02-21 05:36] htuch commented on #5986
I agree that we should provide service granular information. I wonder if this would be a breaking change though if we just switch immediately. Maybe we could provide both cluster name and service name in the LRS report, that way the management server can decide which to consider, and also can decide whether to aggregate or not.

[2019-02-21 10:30] ramaraochavali commented on #5168
/assign ramaraochavali

[2019-02-21 11:43] stevenzzzz commented on #5986
we are sending eds service name already at the eds side, so IMHO that's the
name the management server actually knows?

On Thu, Feb 21, 2019 at 12:37 AM htuch <notifications@github.com> wrote:

--
Xin Zhuang

[2019-02-21 11:45] htuch commented on #5986
The management server is aware of both names, since it might be synthesizing CDS. I think the safest thing to do is include both names in the LRS report.

[2019-02-21 13:48] zbye commented on #5700
thanks @htuch

I checked the client/backend-service programs again and didn't found anything wrong. My colleagues did the test using different programs get the same result, we use multiple clients  which send requests over 100+ connections.

so, i'm confused about what causes the performance degradation:
1. How envoy handles incoming requests from a single connection established by client ? does i

[2019-02-21 14:18] rnd4222 commented on #5668
@mattklein123 how do I extract them out of container? Also is there docker containers for specific (stable) version of envoy (not just latest)?

[2019-02-21 15:33] htuch commented on #5700
@zbye for (1) Envoy will split requests from the client across multiple backends in parallel and handle them concurrently with HTTP/2 (which is what's happening if we have client/backend gRPC). For (2), if you are using least request LB, see https://github.com/envoyproxy/envoy/issues/4481. You probably want to definitely use RR if you are testing with a few backends.

[2019-02-21 17:07] SecurityInsanity opened #6026 "[Feature Request] Machine Parsable Validation Output"
Currently running the envoy server in "validate" mode presents the user with output that is meant to be human readable, but can be monstrous to someone new to envoy:

[code]

(I've snipped some of the output here, but if you want to test this yourself the example config file is [HERE](https://gist.github.com/SecurityInsanity/a38c893dbac77598b1bddf68a6995871) ).

This output is great if you're very

[2019-02-21 17:11] mattklein123 commented on #6026
@SecurityInsanity basically any work you are willing to do to make Envoy error messages better would be hugely, hugely, hugely appreciated (hugely). Please have at it. Note that you very likely may have to make changes to https://github.com/lyft/protoc-gen-validate along the way. Thank you!!!

[2019-02-21 17:44] stevenzzzz commented on #5986
Talked to Htuch offline, agreed to defer the aggregation of cluster stats of the same service name to user's management server impl.

[2019-02-21 18:10] #5594 closed

[2019-02-21 19:10] bnlcnd commented on #5292
The stats result is attached below:
Command:
[etapp@rh75docker serviceproxy]$ curl -X GET http://192.168.64.135:8001/stats

Console output:

cluster.content-router.bind_errors: 0
cluster.content-router.circuit_breakers.default.cx_open: 0
cluster.content-router.circuit_breakers.default.rq_open: 0
cluster.content-router.circuit_breakers.default.rq_pending_open: 0
cluster.content-router.circuit_break

[2019-02-21 19:18] htuch commented on #6008
I think we should add this capability, and while doing so, keep in mind possible path traversal attacks.

[2019-02-21 19:22] htuch commented on #6026
Yeah, internally we should represent these as proto objects I think, and they can be serialized to JSON as appropriate; when we reply on gRPC xDS we could sent the proto object directly. One thing to note is that if we go down this path of making exceptions machine parseable, there is likely an expectation that they become a stable API and subject to the non-breaking change policy.

[2019-02-21 21:39] lizan commented on #5292
@bnlcnd thanks for the stat, can you try to make `stat_prefix` different for 8443 and 8080? let's do `ingress_https` and `ingress_http`? `http.ingress_http.rq_redirect: 0` is a bit suspicious though I'm not sure what is happening. A clean started envoy with one try to `http://hello.com:8080/mock-domain` and get the stat would be helpful.

[2019-02-21 22:10] #5609 closed

[2019-02-21 23:50] ryancox commented on #5942
It seems like `x-envoy-throttle-latency: int (milliseconds)` should be controlled independently for upstream/downstream. This is more consistent with the other related parameters and allows for a little more flexibility.

[2019-02-22 00:35] mattklein123 commented on #5942
ACK, I agree we should split this (and all other settings) into independent upstream/downstream options.

[2019-02-22 00:37] mattklein123 commented on #6006
I think either way you are going to have to add a new codec callback that can give you frame size information. Then you can either wire that from the HCM and stick the result in stream info, or you can allow access to that information from opt-in filter callbacks. I don't have a super strong opinion either way.

[2019-02-22 01:06] rshriram opened #6030 "Issues with RBAC + non http protocols"
It is possible to use the RBAC filter with non HTTP protocols for things like restricting the set of operations allowed on a database. For example, the following works with mysql:

[code]

where queries like `update testdb.table1 set foo='random'` will be blocked..

But the following filter format (with the intent of allowing only select queries) will break even the basic mysql connectivity (clien

[2019-02-22 01:07] venilnoronha commented on #6030
/sub

[2019-02-22 02:54] yangminzhu commented on #6030
I think the use case is useful but I'm not sure how does Envoy interpret the `__protocolchatter__` part in the policy?

Currently, The RBAC filter uses the metadata matcher to match the metadata. When it finds a key with value `__protocolchatter__`, what it's supposed to do? how does it know if the current request is `normal login/session authentication/etc. commands`?

[2019-02-22 02:58] yangminzhu commented on #6008
I can work on this, Could you assign this to me? Also could you clarify a little about the path traversal attacks? I'm not sure how is it related to the change here. Thanks.

@mattklein123, do you have any comments for this?

[2019-02-22 03:07] #5614 closed

[2019-02-22 03:12] venilnoronha commented on #6030
Ideally, the RBAC filter should permit the action if the key is `__protocolchatter__` since this would be emitted only if the decoder is able to identify messages as protocol chatter.

[2019-02-22 03:16] yangminzhu commented on #6030
So from the RBAC filter side, there is no actual work needed. It treats the `__protocolchatter__`  key the same way as other permissions in the policy.

Only the source filter (e.g. `envoy.filters.network.mysql_proxy`) needs to worry about this (i.e. when to add the `__protocolchatter__` key to the metadata), right?

[2019-02-22 03:20] venilnoronha commented on #6030
That's right.

[2019-02-22 07:06] lizan opened #6033 "build: debug built tcmalloc crash tests"
This issue is also to track reverted #6007 (by #6027), and somewhat related to #5424 too.

Before #6007 (and after #6027) we always build gperftools with release (`-O2`) and that seems no problem (which I'm not completely sure that is). `libtcmalloc_debug.a` built with dbg/fastbuild (i.e. #6007 + `compile_time_options`) cause some test crashes about 50%.

From the failed tests core dump:
[code]

T

[2019-02-22 11:51] lizan commented on #6033
OK I was able to deflake ssl_socket_test in other ways:

- Apply patch [gperftools/gperftools#865](https://github.com/gperftools/gperftools/pull/865) to gperftools
-  Build BoringSSL FIPS with `-fno-omit-frame-pointers`

Per `https://github.com/gperftools/gperftools/blob/master/INSTALL#L33`, we configure gperftools with `--enable-frame-pointer` so it assumes all dependency (ideally including syste

[2019-02-22 16:02] zbye commented on #5700
Okay, thanks !

Some of the test results are as follows:

![2222](https://user-images.githubusercontent.com/5737494/53251910-b5b77800-36f8-11e9-9287-4511217cdb03.png)

![3333](https://user-images.githubusercontent.com/5737494/53252830-c963de00-36fa-11e9-939c-2023d6a8abad.png)

possible reasons for pic2:
1), There exists some problems with clients, for example clients can’t provide enough concurren

[2019-02-22 16:53] mattklein123 commented on #5700
FWIW, many, many folks use Envoy to load balance gRPC at high performance. I'm fairly certain this is an issue with your test setup.

[2019-02-22 20:35] htuch commented on #6033
Related possible: https://github.com/envoyproxy/envoy/issues/834

[2019-02-22 21:02] #5624 closed

[2019-02-22 22:37] zglozman opened #6038 "Correct behavior for x-forwarded-client-cert"
This is more of a question and a concern, I could not find the section in documentation not an RFC defining this. But suppose I have envoy configured in a way where it is terminating the mTLS of the client.
What happens if the client sends its own properly formatted header?

Is actually a very wierd potentially dangerous behavoir.  Consider the screenshot below. The header is being sent twice. Onc

[2019-02-22 22:49] zglozman commented on #6038
Yeah, so in my use case, I created a totally exploitable condition. To test lambda locally I created a handy function included below. Then when switching to working with actual envoy forgot to turn it off. To my amazement was getting the test user in prod test. This is somehow dangerous and requires attention.  So as a developer of downstream application, I have to start parsing it from the end ?

[2019-02-23 02:02] #5556 closed

[2019-02-23 10:02] #5423 closed

[2019-02-23 17:22] tak2siva commented on #5807
I tried with 1000 clusters by increasing `max_user_watches`. It just works.

@htuch For CDS it's possible to create a shared provider because it's just one file. But for EDS there are 400 files in this case. Can you please share your thoughts on that ? I will give a try on this.

[2019-02-23 19:02] #5638 closed

[2019-02-24 05:22] keith commented on #2801
I had the same issue and unsetting my CDPATH was also the workaround

[2019-02-24 09:29] #5335 closed

[2019-02-24 11:29] #5612 closed

[2019-02-24 14:40] #5854 closed

[2019-02-24 17:22] jmarantz commented on #6033
Is it *only* ssl_socket_test or are other tests affected? Also I'm not entirely clear on how to repro this. @lizan can you give a step-by-step? Do I revert or patch a PR and then run tests with certain compile-mode?

My hope (having not yet looked at the code) is that this is an isolated timing issue we can solve with SimulatedTimeSystem but when you have a hammer, everything looks like a nail :)

[2019-02-24 18:29] #5193 closed

[2019-02-24 19:29] #5212 closed

[2019-02-24 20:29] #5651 closed

[2019-02-24 21:22] htuch commented on #6008
@yangminzhu take a look at https://www.youtube.com/watch?v=28xWcRegncw for an up-to-date treatment of this topic.

[2019-02-24 22:29] #5655 closed

[2019-02-24 23:29] #5643 closed

[2019-02-25 00:09] PiotrSikora commented on #5713
Not stale, still an issue.

[2019-02-25 00:10] PiotrSikora commented on #5501
Not stale.

[2019-02-25 00:29] #5648 closed

[2019-02-25 14:53] klesniewski commented on #3383
I've run into this issue as well. We want to develop our APIs in gRPC following [Google's API Design Guide](https://cloud.google.com/apis/design/), which allows us to use gRPC internally and expose a consistent REST interface to our customers (perhaps we expose gRPC as well in the future). As described in the [section on errors](https://cloud.google.com/apis/design/errors), error responses are map

[2019-02-25 15:04] defat opened #6050 "[Feature request] Remove (make configurable) x-request-id request header sanitizing"
We are using x-request-id header for distibuted logging in the backend powered with istio.

Now request id is generated on the server side (envoy edge server) and returned to client as a response header. We are using request id reported from clients for issues tracking.

The problem is - we are unable to trace timed out request.

To solve this issue we want to generate request id on the client sid

[2019-02-25 15:59] alyssawilk opened #6051 "mysql_integration_test flakes"
IpVersions/MySQLIntegrationTest.MySQLUnitTestMultiClientsLoop/0 failure observed on ASAN

test/extensions/filters/network/mysql_proxy/mysql_integration_test.cc:192: Failure
Expected equality of these values:
  counter
    Which is: 6
  CLIENT_NUM
    Which is: 10

@rshriram @venilnoronha could one of you see if you can repro and deflake?

I suspect you may need the equivalent of waitForCounterEq

[2019-02-25 16:27] #5986 closed

[2019-02-25 16:34] jeid64 commented on #6038
Have you tried setting
https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/http_connection_manager/v2/http_connection_manager.proto#envoy-api-enum-config-filter-network-http-connection-manager-v2-httpconnectionmanager-forwardclientcertdetails

Do you currently have forward_client_cert_details set in your config? If it's unset, it will be sanitized by default.

[2019-02-25 16:35] mattklein123 commented on #6050
I think it's reasonable to make this configurable.

[2019-02-25 16:42] zglozman commented on #6038
thank you for pointing this out. We had the config overwritten by some badly written shell script thanks for your help. @everyone reading this, this is important if you are relying on these headers, and can cause a serrious auth problem.

[2019-02-25 16:54] #6010 closed

[2019-02-25 17:53] alyssawilk commented on #6051
Also on  compile_time_options https://circleci.com/gh/envoyproxy/envoy/171624

[2019-02-25 17:55] #5665 closed

[2019-02-25 18:35] lizan commented on #6033
@jmarantz It’s clearly not a timing issue but the stack unwinding issue, see the backtrace and linked gperftools PR. #6027 has repro instruction, you need to revert 6027 or apply 6007 to repro.

@alk any thoughts on tcmalloc side?

[2019-02-25 18:54] #6038 closed

[2019-02-25 20:06] #5834 closed

[2019-02-25 21:09] alyssawilk commented on #6004
AFIK the DoS potential is pretty much it.  It affects a few different buffers (listener write buffer, HCM request / response buffers, etc.) but a buffer filter should mitigate the DoS opportunities as you say.

Docced up a bit in #6059 - please take a look and let me know if I can make that more clear and/or helpful

[2019-02-25 21:41] #6051 closed

[2019-02-25 22:58] Y0Username commented on #5891
Hi @mattklein123,

Currently the retry policy is applied at the route level. If I have a WeightedCluster in the route and I want each cluster to respect a different retry policy, there's no way to do it.

It would make sense if retry policy is configured under the cluster for following reasons:
1. When the user has multiple clusters(within a route) with different versions of the software, the user

[2019-02-25 23:41] venilnoronha commented on #6051
@alyssawilk thanks for fixing this!

[2019-02-26 03:48] lizan commented on #5730
keep alive, will work on this after clearing up dependencies from prebuilt.

On Mon, Feb 25, 2019 at 7:55 PM stale[bot] <notifications@github.com> wrote:

[2019-02-26 16:07] cmluciano commented on #5196
Not stale, we just gained access to the test VM for this issue today so we should be able to fulfill this issue soon.

So far we have tests and builds passing on 18.04 with clang/gcc. The only remaining issue is getting a working bazel-0.22.0 binary.

[2019-02-27 00:53] jcr010910 opened #6076 "single cluster with dynamic endpoints"
@zuercher @PiotrSikora

how can i create single cluster with different endpoints based on route URL?

using ORIGINAL_DST with x-envoy-original-dst-host is working fine but i want to get the upstream endpoint **without** modifying iptable.

looking for **single** cluster to handle both requests:
http://local.envoy/endpoint1/foo --> forward to upstream endpoint1 (192.168.1.1:80)
http://local.envoy/e

[2019-02-27 01:38] jcr010910 opened #6077 "user defined variables in config file"
@zuercher @PiotrSikora

we can use %START_TIME% variable to reference the request start time.
can i create my own variables in yaml config and reference them in the same manner?
ex: %environment%

[2019-02-27 03:00] solodynamo commented on #5856
Seeing it inactive for a couple of weeks have opened a supporting PR for this issue.

[2019-02-27 04:50] htuch opened #6081 "Thread unsafe use of libevent timers in Dispatcher::post"
From https://github.com/envoyproxy/envoy/pull/6061:

[code]

Looks like the `post_timer_` has its timer event modified on the posting thread, which races with reads on the dispatcher thread.

[2019-02-27 04:51] htuch commented on #6081
@mattklein123 does this look legit to you?

[2019-02-27 05:16] htuch opened #6083 "Thread unsafe signal handling"
It seems that the libevent signal handler might be invoked on an arbitrary thread. This then cause issues with `main_common_test` when we enable TSAN on libevent in https://github.com/envoyproxy/envoy/pull/6061. E.g. in `AdminRequestGetStatsAndKill`:

[code]

I think the a solution is to mask signals on all threads (including the main test thread) and only enable them on the signal handling dispat

[2019-02-27 05:28] htuch opened #6084 "ASAN/UBSAN violations in LuaJIT"
Plumbing ASAN/UBSAN down to LuaJIT in https://github.com/envoyproxy/envoy/pull/6061 yields traces such as:

[code]

See https://circleci.com/gh/envoyproxy/envoy/172899?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link for more of these.

[2019-02-27 05:28] htuch commented on #6084
@mattklein123 as discussed offline.

[2019-02-27 05:33] htuch opened #6085 "UBSAN violation in ZlibCompressorImplTest.CallingChecksum"
Plumbing ASAN/UBSAN down to zlib in #6061 yields traces such as:

[code]

Weirdly, in https://circleci.com/gh/envoyproxy/envoy/172899?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link, this didn't seem to cause any test failure, the respective test silently passed.

[2019-02-27 05:47] #5982 closed

[2019-02-27 09:03] ramaraochavali commented on #6076
When you use `x-envoy-original-dst-host`, you do not have to modify iptables. You just have to set the ip address of the server in this header

[2019-02-27 14:42] dprotaso opened #6098 "python formatter should enforce consistency of quotes"
*Title*:
python formatter should enforce consistency of quotes

*Description*:
The python formatter should enforce consistent use of either single or double quotes for strings.

*Relevant Links*:
Formatter didn't catch it here: https://github.com/envoyproxy/envoy/pull/6049#discussion_r260445208

[2019-02-27 15:40] pedro-tramontin opened #6099 "Ext_authz server_uri.uri for http_service"
Today, ext_authz http_service filter configuration requires the property server_uri.uri to be filled but it does not seem to be used although envoy will fail to boot up if it does not have at least the string "http".
I was expecting that the filter would at least use that information to connect to the correct upstream authentication service and send the correct hostname for my load balancer but in

[2019-02-27 17:02] #5620 closed

[2019-02-27 18:40] #5089 closed

[2019-02-27 19:39] htuch commented on #6083
Actually, what I said above is not correct in OSS libevent; internally at Google we have a patch for making `evsig_base` atomic, but this hasn't been upstreamed yet. I will take an AI to make this happen. Also possibly something we might hit later on is https://github.com/libevent/libevent/pull/741.

[2019-02-27 19:59] htuch commented on #6081
I'm wondering if using a pipe to signal (ala https://github.com/envoyproxy/envoy/issues/5703) or the thread safe `event_buffer_once` is the right thing here.

[2019-02-27 20:04] jcr010910 commented on #6076
you are right. thank you!

now, is there a way now to convert `http://local.envoy/endpoint1/foo` to `x-envoy-original-dst-host=endpoint1`

[2019-02-27 20:58] mattklein123 commented on #1413
With https://github.com/envoyproxy/envoy/pull/6105 I'm calling this high level issue done. I'm going to be opening a series of small issues for work that can be parallelized.

[2019-02-27 20:58] #1413 closed

[2019-02-27 20:59] mattklein123 opened #6106 "tap: add rate limiting"
Add to base configuration and enforce across all workers.

[2019-02-27 21:00] mattklein123 opened #6107 "tap: generic body matching"
Add generic text body matchers that perform matches up to some buffer limit.

[2019-02-27 21:01] mattklein123 opened #6108 "tap: JSON body matching"
Allow matching on a JSON body.
1) Parse complete JSON object up to a buffer limit.
2) Allow field selection matching.

This can potentially be accomplished via gRPC matching with implicit conversion to/from a Struct.

[2019-02-27 21:03] mattklein123 opened #6109 "tap: gRPC body matching"
Allow matching on gRPC message fields.
1) Allow loading descriptor files into the tap filter, similar to how the transcoder works.
2) Using reflection, allow parsing gRPC messages up to a buffer limit (can also work with streaming messages potentially).
3) Via field selection and a TBD matching language, allow matching on individual fields/messages using only loaded descriptor data / reflection.

[2019-02-27 21:04] mattklein123 opened #6110 "tap: xDS and push API"
Define a tap xDS API that:
1) Streams tap configurations from server to Envoy
2) Streams taps from Envoy to server

[2019-02-27 21:05] mattklein123 commented on #6099
@gsagula

[2019-02-27 21:07] mattklein123 commented on #6084
It's possible this is the same issue as https://github.com/envoyproxy/envoy/pull/5574 cc @dio though not sure.

[2019-02-27 21:17] htuch commented on #6081
Actually, this is yet another situation where we also fixed this internally. This was upstreamed in https://github.com/libevent/libevent/commit/27934f0b39991172dcfdad23faea9874dd386f10 (thank you @jamessynge!). If we bump to 2.1.9-beta, we'lll pick this up.

[2019-02-27 21:18] szabado opened #6112 "Update documentation to include Redis proxy hashtagging support"
*Title*: Update documentation to include Redis proxy hashtagging support

*Description*:
The Envoy docs say that Hash Tagging is not supported for the Redis proxy, but they seem to have been added by #5623, unless I'm mistaken?

I haven't dived into the PR to figure out how to use it; some documentation would be great if possible?  If they're not ready for use or I'm just missing something that'd

[2019-02-27 21:28] mattklein123 commented on #6112
cc @maximebedard I think this is just a doc bug.

[2019-02-27 22:25] #6112 closed

[2019-02-27 22:25] mergeconflict opened #6116 "use-after-free in Init::Manager"
We've discovered a reproducible use-after-free in `InitManagerImpl`. The general pattern is:

1. A `Target` registers itself with an `InitManagerImpl`.
2. `InitManagerImpl::initialize()` is called, which invokes `Target::initialize()` on the target. It passes a callback argument, a lambda that captures (but does not own) `InitManagerImpl`. The target, in this case, stores the callback and begins i

[2019-02-27 22:30] mattklein123 commented on #5012
Will call this fixed, we can always update further as needed! Thank you @alyssawilk!

[2019-02-27 22:30] #5012 closed

[2019-02-27 22:44] mattklein123 commented on #5891
I'm not sure this makes sense, since we still need retrie policies to be route/vhost specific. I think it would be better to consider adding override retry policies to the weighted cluster route construct if that is desired. cc @rshriram for thoughts on this.

[2019-02-27 22:49] mattklein123 commented on #6116
Yeah this seems bad. There are likely several ways of fixing this, but the quickest thing that comes to mind is to have the ability to cancel inits and correctly have that happen in this code path.

[2019-02-27 22:54] htuch commented on #6116
@mattklein123 if we go down that path, we should make this RAII, so that we don't need to have folks think consciously about doing the free, we keep hitting issues in this area.

Another alternative is to structure these notifications via some server-wide pub-sub mechanism.

[2019-02-27 22:55] mergeconflict commented on #6116
By the way, I have an ADS integration test that reproduces the issue. I'm hoping to get a PR up with a fix in the next day or two.

[2019-02-27 23:24] mattklein123 commented on #6116
Agreed. This might be a good time to see if there are any high level changes to make this better, though I'm skeptical we are going to come up with anything vastly different.

[2019-02-27 23:46] hanyu-liu opened #6119 "Envoy returns 403 for failed gRPC ext_authz requests"
*Title*: *Envoy returns 403 for failed gRPC ext_authz requests*

*Description*:
The gRPC implementation for ext_authz returns 403(forbidden), when the request to the gRPC server is failed on connection error. It can be an temporary error. However, 403 doesn't recommend an automatic retry.

In order to have client retry, can we change it to 503?

https://httpstatuses.com/403

*Config*:
[code]

*Cal

[2019-02-27 23:51] mattklein123 commented on #5942
Note that I think we also want response headers that are set when a throttling profile in place. Thus, if the throttling is user driven the client can adjust UI, etc. accordingly. I will think more about this and update the spec.

[2019-02-28 00:27] #5920 closed

[2019-02-28 00:59] danielhochman opened #6121 "add computed-timeout header"
Emitting a header with the computed timeout for a request would be useful. Given a set of access logs with this header, it would be easy to identify the nature of requests that are generally in danger of timing out. Since timeouts can be dynamic on a per-request basis, it is difficult to determine this from an access log that only contains the final request latency.

[2019-02-28 01:02] danielhochman opened #6122 "add per-cluster histograms with remaining timeout budget"
Since timeouts are dynamic (e.g. controllable via header values), it is difficult to observe how close requests are to hitting the timeout in production.

A histogram of remaining timeout budget would allow the user to identify latencies that are trending towards the timeout cliff as well as identify poorly tuned timeouts.

Likely a percentage histogram would be the most useful stat, i.e. p95 of r

[2019-02-28 02:26] nikolay-pshenichny commented on #5720
Hi everyone,
I would like to work on this.

[2019-02-28 04:40] ramaraochavali commented on #6076
No. It expects IP address.

[2019-02-28 05:24] jmarantz commented on #5734
/wait

[2019-02-28 06:26] ramaraochavali commented on #5381
@mattklein123  I might have some free cycles so can work on this - Can we delete this now or based on the new deprecation policy do we have to wait for some more time?

[2019-02-28 08:07] eoftedal commented on #6008
https://tools.ietf.org/html/rfc3986#section-6

[2019-02-28 08:11] eoftedal commented on #6008
https://url.spec.whatwg.org/

[2019-02-28 10:02] zengyuxing007 opened #6123 "Dubbo: send a dubbo request to envoy, which will cause envoy segmentation fault (core dumped)"
*Title*: send a dubbo request to envoy, which will cause envoy segmentation fault (core dumped)

*Description*:

Envoy version: master@9644cd8be00493556e8675de1c9616c6d3f2f5dc

*Repro steps*:
- First step: download the   java client app: https://servicemesh.nos-eastchina1.126.net/dubbo-helloworld-consumer-1.0-SNAPSHOT-jar-with-dependencies.jar

- Second step: run envoy using configfile like this:

[2019-02-28 10:50] nezdolik commented on #5130
@zuercher please correct me if am wrong, to my understanding extending `SubsetLoadBalancer::ValueSubsetMap` will not work.
In `SubsetLoadBalancer::ValueSubsetMap` matching is performed on key-value pairs from route metadata.
So if route metadata has values for keys that are not present in `SubsetLoadBalancer::ValueSubsetMap`, we will not be able to lookup corresponding fallback policy.
If instead

[2019-02-28 13:58] alyssawilk commented on #5381
Once we have a removal bug filed it's good to remove. Have at it, and thank you!

[2019-02-28 14:07] #6081 closed

[2019-02-28 14:12] jcr010910 commented on #6076
does it mean I can convert `http://local.envoy/192.168.1.1/foo` to `x-envoy-original-dst-host=192.168.1.1`
I'm thinking of use request_headers_to_add with key=x-envoy-original-dst-host but how can I pass the IP address as the value?

[2019-02-28 14:20] alyssawilk opened #6127 "IpVersions/SslTapIntegrationTest tests flaky"
Looks like we had about 7 CI failures overnight, and when I spot checked half they were all the ssl_integration_test

Two example failures from 2 different runs:

https://circleci.com/:vcs_type/organizations/:org/settings[ RUN      ] IpVersions/SslTapIntegrationTest.RequestWithJsonBodyAsString/IPv4
unknown file: Failure
C++ exception with description "Unable to parse JSON as proto (INVALID_ARGUMEN

[2019-02-28 14:27] alyssawilk commented on #6127
Oh sweet, fix in flight already.   Huzzah!

[2019-02-28 14:34] ramaraochavali commented on #6076
See this example https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/load_balancing/original_dst#original-destination-host-request-header

[2019-02-28 14:34] alyssawilk commented on #6119
Could you add a bit of clarification why you want to retry authz failure?  I'm unsure of your use case but most authz failures I've seen have been pretty deterministic, such that retries are going to result in another failure.

[2019-02-28 14:42] brian-avery opened #6128 "Add names and alias to resource"
*Title*: *Add names and alias to resource*

*Description*:
In xDS, every resource has a name that’s used to identify the resource. Currently, this resource name is implemented in the individual protocol i.e. VirtualHost, RouteConfig, Listener, etc. I propose that we add a resource name to the Resource message in order to create a common place for the resource names passed in the xDS protocol. In d

[2019-02-28 14:42] brian-avery commented on #6128
@htuch @dmitri-d

[2019-02-28 15:15] dnoe commented on #6127
Interestingly enough, I am seeing this flake occur at a higher volume in the Google imported Envoy. There, we are running only the IPv6 version of this test. With open source upstream Envoy a run of 1000 tests had 15 failures. My 1000 runs internally was failing more than a quarter of the time. Most of the failures for IpVersions/SslTapIntegrationTest.TruncationWithMultipleDataFrames/IPv6 are:

[c

[2019-02-28 15:16] jcr010910 commented on #6076
that link says: "For example if a request has to be routed to a host with IP address 10.195.16.237 at port 8888, the request header value should be set as 10.195.16.237:8888."

but in my case, the IP address is unknown to me, it may be `http://local.envoy/192.168.1.1/foo` or `http://local.envoy/192.168.1.2/foo` (may be different IPs)

[2019-02-28 15:17] alanconway commented on #173
FYI I am working on finishing my initial pull request #3571, I'm adding tests, fixing the filter context and moving configuration to the proper place. If anyone knows of relevant changes or work that have happened since the pull request pop a note on here.

[2019-02-28 15:31] dnoe commented on #6127
With these two tests disabled I ran 1000 tests successfully, but with a 5000 test run there are a few more aborts which correspond to the other flake mentioned above:

[code]

3/5000, so this one is quite rare:

`integration:ssl_integration_test FAILED in 3 out of 5000 in 40.3s`

[2019-02-28 15:42] dnoe commented on #6127
10000 runs pass with all three of these tests disabled, so that's the extent of the flaky ones.

[2019-02-28 16:13] htuch commented on #6128
I think this is reasonable. What I think makes sense is to file a PR and update https://github.com/envoyproxy/envoy/blob/master/api/XDS_PROTOCOL.md#incremental-xds with this (or some new section on aliases). In particular, I'd like to explicitly describe how resources can be subscribed and unsubscribed to via aliases.

[2019-02-28 16:17] jshlbrd opened #6130 "Bug in tracking active gRPC requests?"
See Update below for what I think may be a bug in tracking active gRPC requests. Original issue shown below:

This is a question more than anything else -- is it expected that the least request algorithm can properly load balance gRPC stream requests? I think I've run into a scenario where it does not. Below I've captured some statistics from a gRPC cluster receiving stream requests, the cluster h

[2019-02-28 16:46] mattklein123 commented on #6127
This is the diff that fixes this. I will work on getting the larger PR merged this morning unless we want to only do a PR with this fix:

https://github.com/envoyproxy/envoy/pull/6105/commits/27cb0bc9f660db62f00ef3f0ba6496d81735bba6

[2019-02-28 17:24] htuch commented on #6128
FWIW, `name` is introduced in https://github.com/envoyproxy/envoy/pull/5519 and is likely to land soon.

[2019-02-28 17:35] mattklein123 commented on #6121
@danielhochman for this one, instead of a header can we just add a field to the structured gRPC access log? That seems simpler to me. Do you think many people will want this as a header? If a header, in which direction should it be sent?

[2019-02-28 17:44] dnoe commented on #6127
I tried out applying just that fix internally was able to do 10000 runs with no issues. So that fix looks great.

If you're able to get the larger PR merged in the next few hours I'm inclined to wait, otherwise it's probably worth doing a PR with just that fix ASAP.

[2019-02-28 17:46] mattklein123 commented on #6127
@dnoe IMO the larger PR is ready to go, if there are more substantial comments from @lizan and @htuch I will split it out. Hopefully they can review soon.

[2019-02-28 19:01] #6127 closed

[2019-02-28 19:04] dprotaso opened #6131 "asan test timeout"
See: https://circleci.com/gh/envoyproxy/envoy/174482

I wonder if this is flakey?

[2019-02-28 19:07] hanyu-liu commented on #6119
Sure.

When an existing gRPC service is un-deployed, Envoy may run into a race condition with connection closure - the tcp package is out before FIN is received by Envoy. As such, the request is failed due to network issue.

I'm referring to the failures due to network issue, rather than explicit failed authorization. As network is not always available anyway, I suppose it not a 4xx, since it's mo

[2019-02-28 20:09] #5587 closed

[2019-02-28 20:58] alyssawilk commented on #6119
Ah, I think I've got you. Seems reasonable to me but I think @gsagula is likely to have a more informed opinion.  Gabriel, any thoughts?

[2019-02-28 21:46] brian-avery commented on #6128
Thanks Harvey

[2019-02-28 22:07] alyssawilk commented on #6131
[----------] 3 tests from IpVersions/MySQLIntegrationTest
[ RUN      ] IpVersions/MySQLIntegrationTest.MySQLStatsNewSessionTest/0
[       OK ] IpVersions/MySQLIntegrationTest.MySQLStatsNewSessionTest/0 (181 ms)
[ RUN      ] IpVersions/MySQLIntegrationTest.MysqLoginTest/0
Terminated
================================================================================

@rshriram @venilnoronha any thought

[2019-02-28 22:43] sfitts opened #6135 "Support for forwarding client certificate chain (in addition to client certificate)"
Add support for forwarding the client certificate chain either as part of XFCC header or as an additional header.

*Description*:

We use Keycloak to perform authentication and terminate SSL connections via a reverse proxy.  In this configuration Keycloak requires forwarding of both the client certificate and the full certificate chain.  These options are supported by both HAProxy and Apache, but

[2019-03-01 00:25] gsagula commented on #6119
@hanyu-liu I see your point. The hard code a 403 may seem a bit opinionated, but you really want to give away what's going on with the authorization system. It's not uncommon for authorization servers to always return unauthorized or forbidden and treat underlying issues internally. However, I think we could enhance the filter by making it configurable. Please, let me know what you think. Thanks!

[2019-03-01 00:37] gsagula commented on #6099
@pedro-tramontin, your supposition is correct. The use of URI was more of a suggestion in the initial design. IRC, the idea was that only use the URI object in the future. I think we could make it optional an, of course, functional when defined. @mattklein123 can you tag this as an issue and assign it to me, please? Thanks!

[2019-03-01 00:39] hanyu-liu commented on #6119
I feel that clients may get confused by the 403 for an invalid authorization. I am okay with a hard coded 503 returned to client. I can probably make the PR myself, if it sounds good to you.

It also sounds good to me to have a configurable response code for the purpose of backward compatibility. @alyssawilk @gsagula

[2019-03-01 00:46] gsagula commented on #6119
Thanks! It sounds good to me.

[2019-03-01 01:13] hanyu-liu commented on #6119
Can I ask for a write permission to the repo? @gsagula @alyssawilk

[code]

[2019-03-01 01:15] hanyu-liu commented on #6119
nvm

[2019-03-01 01:29] incfly opened #6138 "Access log not available for redis proxy filter"
*Title*: *Access log not available for redis proxy filter*

*Description*:
TCP proxy filter has access log which is useful for debugging. redis proxy however, does not have this field to configure. In a debugging senario, I have to changed to redis proxy to tcp proxy to verify traffic go through envoy.

[optional *Relevant Links*:]

- [Redis proxy config](https://github.com/envoyproxy/envoy/blob/m

[2019-03-01 02:51] #5678 closed

[2019-03-01 02:52] #6123 closed

[2019-03-01 04:54] mattklein123 commented on #6130
Yes, gRPC requests are really just HTTP requests so they should be load balanced correctly. I think it would be useful to have a full stat dump, envoy version, etc. IIRC rq_error for per-host doesn't actually capture all errors (I think @ramaraochavali encountered this recently).

I suspect what is happening here is that Envoy is failing/cleaning up the requests due to circuit breaking, timeouts,

[2019-03-01 05:07] mattklein123 opened #6140 "http: HCM changes to support rate limited / metered data"
In thinking about actually implementing the rate rate limiting portion of https://github.com/envoyproxy/envoy/issues/5942, I realized that we don't really have any good way to do what is required for either rate limiting body data or generally building a filter that emits data on a periodic basis, while potentially still buffering/watermarking incoming data.

The most well-formed thought I have ri

[2019-03-01 05:12] mattklein123 commented on #5598
@htuch heads up that I was discussing this with @HenryYYang today and I don't think we are going to end up needing this for the redis cluster work so Lyft won't be implementing.

[2019-03-01 08:38] lvijay opened #6141 "RateLimiting – send request headers upstream"
*Title*: Rate Limiting Server can send HTTP request headers upstream

*Description*:

Envoy issue #3555 [1] added support in the Rate Limiting Service's proto for sending Response HTTP Headers to the invoking client (similar to, say, Twitter's API of `x-rate-limit-limit: 100`).

The intention of this issue is to have similar support in the Envoy [rls.proto][1] except specify a list of headers whic

[2019-03-01 09:26] hzxuzhonghu commented on #1990
any update

[2019-03-01 15:11] jshlbrd commented on #6130
@mattklein123 thanks for your reply, here're some dumps from a cluster currently exhibiting this behavior. `172.17.0.2:8501` has ~90 "active" RPCs at the time this info was dumped.

**stats**
[code]

**clusters**
[code]

[2019-03-01 15:16] dfjones commented on #1178
I landed on this issue while searching for how to serve custom error pages with Envoy. The suggestion in the issue of something similar to HAProxy's `errorfile 503 /etc/haproxy/503.json` seems close to ideal (although, I would want the ability to automatically determine if json or html should be served based on the requests accepted content types.

In the meantime, is there any capability to confi

[2019-03-01 15:50] htuch commented on #2802
We'd still like to see something like this for Google use cases, CC @eziskind.

[2019-03-01 17:21] #5856 closed

[2019-03-01 17:49] gsagula commented on #5769
Sorry, I totally missed this one. @carlosmayer How did you define more than one authorization service?   Did you stack multiple `ext-authz` filters? I've never tried that, not sure if it's possible.

[2019-03-01 17:51] #5695 closed

[2019-03-01 18:53] #6004 closed

[2019-03-01 18:54] warhammerkid commented on #6004
Thanks so much for the help on this question!

[2019-03-01 19:21] RameshRM opened #6145 "FaultInjection - per Request Match or Upstream Cluster"
**Issue Template**

*Title*: Fault Injection filter works only for all the Requests, unable to specify `matching cluster` or `headers` match.

*Description*:
I am trying to setup `fault injection` customizable per `upstream` cluster or `request headers` match as described in the docs. I am using `FROM envoyproxy/envoy:latest` docker image. THe fault injection works for all the requests but not for

[2019-03-01 21:23] htuch commented on #5598
Ack; it's still on our backlog but not a super high priority.

[2019-03-01 22:28] mattklein123 commented on #6140
I've been thinking about this, and I cannot come up with any solution that would have the HCM do all the buffering without a large amount of changes at very considerable regression risk.

Therefore, I'm thinking about implementing any required buffering inside the fault filter and just manually doing the watermarking given the configured buffer limit (@alyssawilk conveniently provided all of the i

[2019-03-01 22:53] luluzhao commented on #5644
Hello @mattklein123, does the community has a exact date for the upcoming March release? Could you share with my the date? Another question would be is there any possible to get `virtual host name` inside header map?

[2019-03-02 00:28] mattklein123 commented on #5644
There is no specific date that we set, by the end of March for sure.

I'm not sure what this means. Please open a separate issue for any feature requests.

[2019-03-02 09:01] oinke commented on #815
I have added all the changes recommended to get the hello world example to run into this repo https://github.com/oinke/gprc-hello

The terminal still shows:
`server_1 | E0302 08:41:34.225022613 7 http_server_filter.cc:271] GET request without QUERY`
and when i browse localhost:8080 i can see
`upstream connect error or disconnect/reset before headers. reset reason: remote reset`

Running on macOS M

[2019-03-02 11:05] dio commented on #815
@oinke seems like your issue is not related to this issue. I'll post a fix for your repo on your repo.

[2019-03-02 13:54] enbohm commented on #5974
Anyone that could comment on above? Feels like something that is really missing if this is the case since the whole design of Envoy is to enable fault tolerance characteristics of microservices - but has it been missed in this case?

[2019-03-03 01:58] sp-manuel-jurado opened #6154 "envoy.grpc_http1_reverse_bridge http_filter config error"
**envoy.grpc_http1_reverse_bridge http_filter config error**

*Title*: *error initializing configuration '/etc/envoy/envoy.yaml': Didn't find a registered implementation for name: 'envoy.grpc_http1_reverse_bridge'*

*Description*:
I'm trying to configure gRPC HTTP/1.1 reverse bridge http filter but I get the next error trying to run the docker container:

`error initializing configuration '/etc/en

[2019-03-03 04:32] ramaraochavali commented on #6076
Sorry for the delay here. If you do not know IP address and port upfront you can not use `x-envoy-original-dst-host` header. Probably I am not understanding your use case better, can you please explain a bit?

[2019-03-03 04:41] mattklein123 commented on #6154
@snowp

[2019-03-03 15:51] carlosmayer commented on #5769
@gsagula Thanks for getting to it.

Yes, exactly, I just stacked two of them and it seems to work. But the issue is that I would like to apply each filter independently to different routes and that does not seem to be possible.

Do you see any way (or workaround) to achieve that?

[2019-03-03 16:24] #5704 closed

[2019-03-03 16:47] moderation commented on #6154
@sp-manuel-jurado Having done a lot of testing for https://github.com/envoyproxy/envoy/pull/6025 I'm pretty sure you are trying to use `grpc_http1_reverse_bridge` filter on a build of Envoy that has not included that extension. It's likely the build of Envoy had the following line commented out - https://github.com/envoyproxy/envoy/blob/master/source/extensions/extensions_build_config.bzl#L34

Whe

[2019-03-03 18:39] snowp commented on #6154
I think the issue is that the real name of the filter is `envoy.filters.http.grpc_http1_reverse_bridge`, the documentation in `docs/root/configuration/http_filters/grpc_http1_reverse_bridge_filter.rst` seems to be wrong. If someone wants to PR a doc fix that would be great, otherwise I'll get to it next week

[2019-03-03 19:32] moderation commented on #6154
@snowp is right - confirmed at https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/http/well_known_names.h#L30. But the naming is inconsistent as noted on line 11 https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/http/well_known_names.h#L11

[2019-03-03 20:33] sp-manuel-jurado commented on #6154
Hi @moderation and @snowp

I tested envoy proxy changing the name of the filter by `envoy.filters.http.grpc_http1_reverse_bridge` using the latest docker image in docker hub (latest, 741df7aa13ddb15acbc77468579f0c6b58542839) and I can see that:

- filter `envoy.filters.http.grpc_http1_reverse_bridge` is registered ok
[code]

- but a different error `FilterConfigValidationError.ContentType` is thro

[2019-03-03 21:26] Frodox commented on #5704
Bump, bot!

[2019-03-03 21:26] Frodox commented on #5704
/help wanted ;(

[2019-03-03 23:31] cetanu opened #6156 "Example of logging metadata set by a route?"
In the envoy docs for [core.Metadata](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/base.proto#envoy-api-msg-core-metadata), it says:

I've tried to set metadata on a route with this namespace with the intention of it being logged by the parent listener, to no avail.

Here are the relevant snippets of my config:

RouteConfiguration:

[code]

Listener:

[code]

These are responses

[2019-03-04 00:19] mattklein123 commented on #5081
Calling this done with the work @snowp has done.

[2019-03-04 00:19] #5081 closed

[2019-03-04 15:07] alyssawilk commented on #6140
If the desire is to simulate slow connections, I think you need to do this on a per network::connection basis not on a per-stream basis.  The bookkeeping trying to emulate a slow network with multiple streams is a total pain.

On ingress we already limit reads, and could delay the next-read alarm based on the configured throughput.  On the egress path, I believe we can use the existing kernel opti

[2019-03-04 16:26] mattklein123 commented on #6140
Per the linked issue, for usability reasons it's not practical to do what we want to do at the L4 level so it needs to be done at the L7 level. In any case, I think I have a plan to do this that should not require any invasive changes to HCM.

[2019-03-04 16:28] alyssawilk commented on #6140
I totally get that for turning throttles up it makes sense to do the expedient thing and use L7 headers.
I don't understand why that should affect the implementation.  Can  you clue me in?

[2019-03-04 16:30] alyssawilk commented on #6140
A bit more specifically, if you tweak your app to say "use LTE level bandwidth" via HTTP headers but you happen to have 50 streams on a connection, I think you're going to want to have the underlying TCP state have LTE-compatible bandwidth, not have each stream rate limited separately, because that won't actually mimic the behavior you're trying to elicit, will it?

[2019-03-04 16:39] mattklein123 commented on #6140
I agree that would be technically more correct, but IMO the implementation will be more difficult for a couple of different reasons:
1) IIRC SO_MAX_PACING_RATE is Linux specific as you point out, but I think also depends on a specific qdisc which I'm not sure is the default and also needs to be configured, so I'm not sure we can rely on it being available. So this would mean we either need to buil

[2019-03-04 17:22] alyssawilk commented on #6140
So still in brainstorming mode here, if we don't like SO_MAX_PACING_RATE due to platform constraints, what about making it a transport socket thing?  I think it'd be useful for testing backup on both L7 and L4 as well as slow upstreams (once we got around to configuration options for the others), it'd keep the implementation in one place, it should be fairly simple to just fake EAGAINs and set a t

[2019-03-04 17:36] nikolay-pshenichny commented on #5720
/assign nikolay-pshenichny

[2019-03-04 17:36] nikolay-pshenichny commented on #5720
cc: @ramaraochavali  :)

[2019-03-04 17:40] ramaraochavali commented on #5720
/assign nikolay-pshenichny

[2019-03-04 17:48] mattklein123 commented on #6140
I guess here is how I'm thinking about it: I do think that we should support L4 rate limiting, either at the network filter or transport socket layer.

At the same time, I think adding L7 rate limiting, both configurable via normal config and headers in the fault filter is a reasonable feature addition on its own (due to standard fault filter per-route/stream/etc. settings), and this feature is en

[2019-03-04 17:52] alyssawilk commented on #6140
I think having it done at the L7 layer is going to be more trouble than it's worth for folks who don't grok H2, but given that it'll work for you and isn't going to add complexity to the HCM, feel free to go with it (and please just comment up the muxing issues for those who don't understand H2 and the implications of doing this at L7 as well as you do! =P)

[2019-03-04 18:17] venilnoronha commented on #6145
You can find the configuration spec for upstream cluster/header matching at https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/fault/v2/fault.proto#envoy-api-msg-config-filter-http-fault-v2-httpfault.

[2019-03-04 18:31] qiwzhang opened #6159 "Bazel build failed in foreign_cc"
**Bug Template**

*Title*: Bazel build failed in foreign_cc

*Description*:
With latest tree, and with bazel 0.21.0,   when "bazel build //souce/...", I got

bazel build //source/exe:envoy-static
WARNING: The following rc files are no longer being read, please transfer their contents or import their path into one of the standard rc files:
/home/qiwzhang/github/envoyproxy/envoy/tools/bazel.rc
ERROR

[2019-03-04 19:21] davidnarayan commented on #6077
As far as I know there isn't a way to create user defined variables in standard YAML. However, you could use something like [jsonnet](https://jsonnet.org) to generate templates and configs with user defined variables.

[2019-03-04 20:28] lizan commented on #6159
Did you try `bazel clean --expunge`? 0.21 doesn't work with latest, but 0.22 or 0.23 should work and they are tested in CI.

[2019-03-04 20:31] lizan opened #6162 "//test/extensions/filters/network/mysql_proxy:mysql_integration_test fails consistently on macOS"
*Description*:
[code]

Tagging #6003, as a result of that we don't run this test in CI currently.

@rshriram @venilnoronha?

*Repro steps*:
`bazel test //test/extensions/filters/network/mysql_proxy:mysql_integration_test`

[2019-03-04 20:32] nikolay-pshenichny commented on #5720
@envoyproxy/maintainers , is it ok to work on this item?
If yes, I will take a look at the code and will get back with more details on how I am going to implement this feature.

[2019-03-04 20:42] snowp commented on #6154
@sp-manuel-jurado You need to specify a `content_type` value for the filter to know what content-type to expect from the upstream

[2019-03-04 21:14] snowp opened #6163 "Stats for pending request/retry circuit breaking values"
As far as I can tell, there's currently no way to know how close Envoy is to triggering circuit breaking for for pending requests or retries, since no stat is emitted for number of reqs in pending/retry state.

It would be great to have stats that allow monitoring the circuit breaking resource usage without having to enable them, to allow a sensible value to be selected by observing these stats.

[2019-03-04 21:44] snowp commented on #6163
Naively this would be implemented by adding stats to router/conn pool where these resources are incremented/decremented, but would it perhaps make sense to add gauges to `ResourceManager` to track the current resource count? We could then more easily config flag these stats to avoid adding additional stats for each upstream cluster.

[2019-03-04 22:13] qiwzhang commented on #6159
Thanks.   It works now after "bazel clean --expunge"

[2019-03-04 22:14] #6159 closed

[2019-03-04 22:33] sp-manuel-jurado commented on #6154
@snowp It works adding content_type
thx so much for the support

I attach the configuration used:
[code]

[2019-03-04 23:40] confusedIamHowBoutU opened #6165 "Admin endpoints not responding"
**Issue Template**

*Title*: *Admin endpoint not responding*

*Description*:

[code]

Also when I try to connect to via chrome on localhost:9901/stats same response come back. My guess admin server is not being  instantiated when starting docker. Not sure if this is the right approach.

*Config*:

[code]

[code]

[code]

[2019-03-04 23:49] qiwzhang opened #6166 "Should sendLocalReply send error response in JSON format?"
*Title*: Should sendLocalReply send error response in JSON format

*Description*:
For JSON API,  client code is expecting the error response in JSON format.  If the response is in plain text, it will crash many client codes.

Should sendLocalReply() send error in JSON format instead of plain text if a request has JSON content-type?

[2019-03-05 00:15] #6154 closed

[2019-03-05 02:02] confusedIamHowBoutU commented on #6165
Never found issue. It miss configured address for admin

[2019-03-05 02:02] #6165 closed

[2019-03-05 09:25] ramaraochavali opened #6171 "Envoy listener bind error on hot restart causes seg faults some times"
We are seeing occasional seg faults after hot restart when there is a port conflict in creating dynamic listeners.

Here is the log before crash

2019-03-05 03:14:33.943 [source/server/listener_manager_impl.cc:943] all dependencies initialized. starting workers
2019-03-05 03:14:33.991 [source/server/listener_manager_impl.cc:871] listener 'egress_listener_1' failed to listen on address '127.0.0.1:1

[2019-03-05 09:36] ramaraochavali commented on #6171
Looking at a bit more, It seems possible race condition is already handled here, by ensuring the remove logic is called atmost once.

https://github.com/envoyproxy/envoy/blob/4808f9e6f8af7577249c2c55646d81ab5c0e2787/source/server/listener_manager_impl.cc#L931

Not sure what is causing this? @mattklein123  any ideas to look for here?

[2019-03-05 11:37] ipuustin opened #6172 "tools: compilation database generation fails"
*Title*: `tools/gen_compilation_database.py` fails.

*Description*:

Trying to generate the compilation database (on clean master branch) fails.

*Repro steps*:

[code]

`git bisect` shows that https://github.com/envoyproxy/envoy/commit/cef00ce0ed87af6d1e77283c7232ba95078cc934 is the first "bad" commit.

[2019-03-05 11:38] ipuustin commented on #6172
@mergeconflict: I guess that may be due to the remote reference to `envoy_api`?

[2019-03-05 12:25] ipuustin commented on #6172
It turns out that reverting https://github.com/envoyproxy/envoy/commit/cef00ce0ed87af6d1e77283c7232ba95078cc934 fixes the problem. However, https://github.com/envoyproxy/envoy/issues/5909 will break then again.

Might be that after we get this figured out we want to add compilation database generation to CI:

[code]

[2019-03-05 14:41] #5976 closed

[2019-03-05 14:50] dio commented on #6156
I think the metadata that will be logged by the access logger is not that route entry metadata, but the [streamInfo.metadata()](https://github.com/envoyproxy/envoy/blob/8052ec65c49e8bb52b373b6c19a9e170672892ab/source/common/access_log/access_log_formatter.cc#L471). In order to set that (dynamic) metadata you have two options:

1. Dynamic Metadata can be set by filters using the StreamInfo API: [se

[2019-03-05 14:58] dio commented on #6156
Oh, I almost forget that you can set it via Lua too https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/lua_filter.html?highlight=lua#set

[2019-03-05 15:38] mergeconflict commented on #6172
Very strange... I just messed around with this for a bit and noticed a few things:

* First of all, you're right, reverting cef00ce does appear to fix it, although I can't understand why.
* The error message you got is `no such package 'envoy/config/health_checker/redis/v2'` but that is apparently nondeterministic. I'm seeing a similar error right now, but it complains about `envoy/service/ratelim

[2019-03-05 15:47] alanconway commented on #173
I've got PR #6173 in for this issue, needs review.

[2019-03-05 16:05] mattklein123 commented on #6171
Do you have a stack trace or core dump?

[2019-03-05 17:10] auni53 commented on #6162
I'm getting the same failure on my Linux desktop.

[2019-03-05 17:29] venilnoronha commented on #6162
I'll try and fix this in a couple of weeks.

[2019-03-05 18:02] exell-christopher commented on #2181
Is there any plan to include generation of the SOURCE_VERSION file as part of the tarball generation? If someone can point me to the tooling for that I'd be happy to add it.

[2019-03-05 18:29] lizan commented on #6172
@ipuustin the compilation database generation is used in clang_tidy CI run so it is tested in every PR. What version of bazel are you using? Did you try bazel clean --expunge before run it?

[2019-03-05 18:39] ipuustin commented on #6172
@lizan: yes, I did run `bazel clean --expunge`. The working tree was also clean (`git clean -fdx`). I'm using bazel 0.22.0 on Fedora 29. I think @mergeconflict got the issue reproduced too? I need to check the options and targets used by `clang_tidy` db generation.

[2019-03-05 18:57] eziskind commented on #2802
Here is a proposed API for [option 2](https://github.com/envoyproxy/envoy/issues/2802#issuecomment-372895692) mentioned above:

[code]

Does this sound reasonable?

[2019-03-05 19:40] jmarantz commented on #2802
nit: prefer 'using' to typedef.

What is the new class for? Can we just have registerShutdownCallback() on Server?

[2019-03-05 19:50] eziskind commented on #2802
I meant this to be an abstract class (updated the code snippet to make the method a pure virtual one) so it'll be easier to expose via the [filter factory context](https://github.com/envoyproxy/envoy/blob/df3d47f478c29188d22b517d1a0d05793dfe2c62/include/envoy/server/filter_config.h#L36) to allow extensions to register for these callbacks. For the implementation we could make the InstanceImpl class

[2019-03-05 20:11] snowp commented on #6163
@mattklein123 Thoughts here?

[2019-03-05 21:15] mattklein123 commented on #6163
@snowp sure makes sense to me, I like the idea of adding them to `ResourceManager` directly if possible.

[2019-03-05 21:59] spenceral commented on #6163
I am going to work with @snowp on this.

[2019-03-06 00:25] htuch commented on #2802
@eziskind it would be good to be able to get callbacks attesting to the full server shutdown cycle, including when we start draining, when done draining, heading out the door, etc. Maybe the CB should have some state enum as a parameter?

I'm not sure what the existing `DrainManager` provides here, but my ultimate test of design is "could we handle https://github.com/envoyproxy/envoy/issues/2802#i

[2019-03-06 00:28] jmarantz commented on #2802
I like @htuch's suggestion: can we extend it to also include startup phases, e.g. when we start running the main dispatcher loop?

[2019-03-06 02:35] ramaraochavali commented on #6171
@mattklein123  unfortunately we do have that. But this seems to be reasonably consistent - So I will see if I can get more additional debug information.

[2019-03-06 03:14] dio commented on #5720
/assign nikolay-pshenichny

[2019-03-06 03:23] dio commented on #5720
@nikolay-pshenichny, meanwhile waiting for the effort to put you as an assignee (sorry this needs admin access that I don't have) please work on it.

[2019-03-06 03:33] jcr010910 commented on #6076
@ramaraochavali

In front-proxy example comes with envoy, it has 3 envoy instances where the front-envoy forwards the request to either `service1 `cluster or `service2 `cluster. it's simple and clear.

In my case, I will have about 100  services (`service1`, `service2`, `service3 `, ...etc) and envoy sidecar will be installed for each service. I'm looking for a way to call these services from fron

[2019-03-06 10:42] robertpanzer opened #6188 "Current master build fails on LuaJit"
*Title*: The current build of master fails.

*Description*:
I pulled the latest master and tried to build.
After a `bazel clean --expunge` the build breaks at a very early stage.

Building with `bazel build //source/exe:envoy-static` gives this error:
[code]

The full build log is here:
[build.log](https://github.com/envoyproxy/envoy/files/2935735/build.log)

[2019-03-06 11:32] dio commented on #6188
@robertpanzer in what platform are you on?

[2019-03-06 12:19] rashidfornajah opened #6189 "Can I do ratelimit based on sub of jwt token?"
*Can I do ratelimit based on sub of jwt token?*

*Description*:

[2019-03-06 12:22] bartebor commented on #1269
@mattklein123 It would be really useful to have possibility of having trailing wildcard for virtual host domains, such as `app1.*`, `app2.*` just like  [nginx's `server_name`](http://nginx.org/en/docs/http/ngx_http_core_module.html#server_name) allows. It is very convenient when envoy's listener port is exposed with wildcard DNS name with CNAMEs or during development. Are there any cons of support

[2019-03-06 13:00] robertpanzer commented on #6188
Oh yes, I am sorry, I completely forgot to mention this.
I am on Ubuntu 18.04.2 LTS.

[2019-03-06 13:54] ppadevski opened #6190 "Missed upstream disconnect leading to 503 UC"
Hi,

I've been chasing a certain issue that is very difficult to reproduce. I'm using envoy v1.8.0 and have an unencrypted HTTP/1.1 local upstream, an HTTP/2 downstream, and use HTTP connection manager. The cluster configuration is

[code]

and the route match rule is

`{"match":{"path":"/websso"}, "route: {"cluster":"/websso","timeout":"28800s","use_websocket":true,"idle_timeout":"28800s"}}}`

My

[2019-03-06 13:58] robertpanzer commented on #6188
Strange that the build seems to pass on OS X though.
Both environments are on 908213c3d4f3301cc1df463fe31a070bc5068701.

[2019-03-06 14:20] dio commented on #6188
@robertpanzer I think this is bazel related (linux-sandbox).

I can reproduce your case, and have a silly workaround: to force that dir to be writable.

in your case,

[code]

The `--sandbox_tmpfs_path=/run/shm` is probably not required.

And do `bazel clean --expunge` before running it.

@lizan should have a better idea of this.

[2019-03-06 14:49] dio commented on #6190
@alyssawilk do you have any ideas about this? Thanks!

[2019-03-06 15:30] htuch commented on #6188
How wide spread is this? Did we miss it in CI because we are building unsandboxed? I plan on removing the unsandboxed flags in the context of the coverage CI in any case.

[2019-03-06 15:34] robertpanzer commented on #6188
@dio I just managed to build it with the command you posted, and I could indeed remove the `--sandbox_tmpfs_path` flag.
Thank you!

@htuch I probably can't answer this, I am still a complete noob at Bazel :) (or maybe rather :( )

[2019-03-06 15:37] robertpanzer commented on #6188
So for other users stumbling over this, a generally working command that doesn't have any dependencies on my local setup would look like this:
[code]

[2019-03-06 16:22] eziskind commented on #2802
Ok, how about this more general API:

[code]

[2019-03-06 16:24] qiwzhang commented on #6189
It is not supported now.   Jwt_authn filter and rate-limiting filter are two independent filters, their data are not shared.

A valid JWT payload is written to dynamic Metata,  so rate limiting filter could potentially pick up that data and use it.

[2019-03-06 16:30] mattklein123 commented on #1269
@bartebor I think it's reasonable to support if someone wants to do a patch.

[2019-03-06 17:04] htuch commented on #1269
@bartebor @mattklein123 I'd like to see this implemented in a scalable, performant way. I think an inverted trie would do this.

[2019-03-06 17:13] snowp opened #6193 "RBAC policy for unix socket peer uid/gid"
It would be nice to be able to specify a RBAC policy based on the UID or GID of the downstream connection when it's coming through a unix socket.

This would involve exposing the UID/GID on the Connection if applicable. This would be done by using `SO_PEERCRED` to get the peer credentials from the socket.

A RBAC policy would then be added to read this data.

The use case we have in mind here is r

[2019-03-06 17:57] nikolay-pshenichny commented on #5720
Thx, @dio!

[2019-03-06 18:05] rammantripragada opened #6194 "Redis latency stats coming as 0 when latency is less than 1 ms"
*Title*: *Redis latency stats coming as 0 when latency is less than 1 ms*

*Description*:
Our redis server command latencies P50, P90 are under 1 milliseconds. Currently redis stats unit is in milliseconds due to which P50, P90 stats are coming as 0.

Proposed solution :
Add a new config parameter to redis network filter config, which when set will result in latency stats in microseconds. By defau

[2019-03-06 18:06] rammantripragada commented on #6194
@ramaraochavali

[2019-03-06 18:07] mjpitz commented on #2941
Sorry I haven't gotten to this yet. I got sidetracked with a presentation. Hopefully I should be able to get to this soon.

[2019-03-06 18:55] #5426 closed

[2019-03-06 20:22] alyssawilk commented on #6190
Ok, so reading this the first request was proxied successfully, the upstream sent a FIN, but Envoy reused the connection 4s later for a subsequent request?

There's always a potential race where a FIN may not be received, but 4s pause is not a race - that's clearly crummy.  I thought that Envoy listened for data between H1 requests should have detected that FIN but maybe I'm misremembering.  @liza

[2019-03-06 20:33] TolikT opened #6197 "[warning] REST config update failed: fetch failure"
**REST config update failed: fetch failure**

*Warning messages*: *using the xds*

*Description*:

eds.j2
[code]

cds.j2
[code]

rds.j2
[code]

*Config*:

Envoy version is v1.9.0, pulled from docker hub

[code]

*Logs*:
There are following log messages
[code]

And when debug level is set
[code]

*Note*:
From the prometheus metrics I see that there are success updates exist and also when something

[2019-03-06 20:41] htuch commented on #2802
@eziskind or just have a single lifecycle callback that take stage as an arg, either way works.

I'd like a TODO at least to add some early shutdown intercept state, so maybe rename `Shutdown` to `ShutdownExit` or something.

[2019-03-06 21:24] lizan commented on #6188
Hmm, I wasn't able to reproduce this on Debian 9, will try to repro on Ubuntu 18.04.

[2019-03-06 21:26] lizan commented on #6188
@robertpanzer which bazel version are you on?

[2019-03-06 22:28] #5168 closed

[2019-03-06 22:32] phylake opened #6199 "SSL handshake is case-sensitive"
*Title*: *SSL handshake is case-sensitive*

*Description*:
For a wildcard cert `*.bar.com`, requests to `foo.bar.com` work but fail with `Foo.bar.com`, `FOO.bar.com` and the like.

I don't have an endpoint you can hit. I "fixed" this by adding

```std::transform(server_name_.begin(), server_name_.end(), server_name_.begin(), ::tolower);```

to [`ConnectionSocketImpl::setRequestedServerName`](https

[2019-03-06 22:43] cmluciano commented on #6188
@lizan I'm able to replicate this on Ubuntu 18.04 - 4.18.0-15-generic with bazel 0.23.1

[2019-03-06 23:33] mattklein123 commented on #6194
This makes sense to me.

[2019-03-07 00:10] lizan commented on #6188
#6202 should fix this, please try out as CI won't reproduce the problem.

[2019-03-07 03:31] rammantripragada commented on #6194
@mattklein123 @dio I will raise PR for this. Thanks.

[2019-03-07 06:02] #6188 closed

[2019-03-07 08:17] robertpanzer commented on #6188
I was on Bazel 0.22.0.
I can confirm that the build works now also with this version of Bazel on the latest master (8c12b21aaa6cdfe63233075045a5b56fdff6da30)

[2019-03-07 11:30] TolikT commented on #6197
I realized that default `api_config_source.request_timeout` is 1s and this is not always enough. But I appreciate if you answer all questions.

[2019-03-07 11:56] BRMatt opened #6205 "Allow option to not emit statsd metrics when reporting a `0` value"
We store the statsd metrics envoy emits in a SAAS metrics tool that charges us based on the number of measurements we store at a particular reporting interval. Some of the metrics we are recording are consistently `0`, with occasional spikes when something happens. Here's an example:

![image 2019-03-07 at 11 54 16 am](https://user-images.githubusercontent.com/20394/53955018-c2ac7200-40cf-11e9-8e8

[2019-03-07 12:17] ppadevski commented on #6190
I would like to clarify that we're talking minutes and not seconds. That being said I was able to reproduce the issue with trace logs.

From C425 (good)

[code]

From C427 (bad)

[code]

It seems that libevent received correctly socket event: 3 (read ready and write ready) in the good case but received only write ready in the bad one. I'm using Photon OS, maybe the issue has something to do with i

[2019-03-07 12:56] Dheeraj-GitHubTaazaa opened #6206 "Not able to build envoy from tag:1.9.0"
Hi Team,
i am trying to build the Envoy from tag 1.9.0 and am getting below error
![image](https://user-images.githubusercontent.com/48286718/53958204-687ad380-4106-11e9-8cc4-989c92a0d208.png)

Please help me resolve this as i need to decide if we can use this tool or not ?

thank you
Dheeraj Kumar

[2019-03-07 13:30] ppadevski commented on #6190
Actually now that I looked closer at C425 (good) and C427 (bad) I noticed another difference. Attaching logs for both upstreams.

[C425.txt](https://github.com/envoyproxy/envoy/files/2941403/C425.txt)
[C427.txt](https://github.com/envoyproxy/envoy/files/2941404/C427.txt)

[code]

It seems that read was disabled, hence no FIN notification.

[2019-03-07 13:54] ppadevski commented on #6190
I'm not familiar with the envoy codebase but here's an idea - why not readDisable(false) unconditionally when "moving to ready".

[2019-03-07 14:31] mpuncel commented on #5841
I ran into an issue here I'm not sure how to resolve. It looks like today per try timeouts are only retried if `retry_on` includes either `5xx` or `gateway-error`. That's because of this case here: https://github.com/envoyproxy/envoy/blob/master/source/common/router/retry_state_impl.cc#L264.

My change is making retries on per try timeouts that do not have a reset at all. I have 3 options to decou

[2019-03-07 15:15] ppadevski commented on #6190
FYI the following patch seems to work fine.

[code]

[2019-03-07 15:25] klarose commented on #4128
I'm still working on this; I've just been busy the last few weeks. I'm hoping to have the next PR up soon.

[2019-03-07 16:01] #5683 closed

[2019-03-07 16:49] mattklein123 commented on #6205
As long as opt-in config, this sounds reasonable to me and not hard to implement.

[2019-03-07 18:01] #5751 closed

[2019-03-07 18:10] gsagula opened #6210 "ext-authz: Envoy crashes when a gRPC service responds with UNKNOWN status."
*Description*:
When a gRPC authorization server responds with a message that contains `google.rpc.UNKNOWN` status, Envoy crashes.

*Repro steps*:
Implement an Authorization gRPC service that responds with a message contains a `CheckResponse` message with `google.rpc.UNKNOWN` status. Envoy should return `403` instead of crashing.

For more details https://github.com/datawire/ambassador/issues/1291

[2019-03-07 18:11] silentdai commented on #6131
I also see it occasionally. 2 out of 10 in estimation.
- Does the CI have some dashboard so that we can understand the pass rate in the last X days?
- Can we remove it from compile_time_options?

[2019-03-07 18:12] gsagula commented on #6210
/assign gsagula

[2019-03-07 18:32] sumukhs opened #6212 "Feedback mechanism when Endpoints are changing [question]"
**Issue Template**

I am investigating the feasibility of using Envoy as the gateway/reverse proxy in a distributed systems framework at Microsoft.

We have a system that fail's over primary replicas to a new node within a few milliseconds. When this happens, the fastest way to identify the new endpoint is for the client to "pull" the new location when the old endpoint returns an error code. For t

[2019-03-07 19:01] #5750 closed

[2019-03-07 19:30] alyssawilk commented on #6190
Hey @mattklein123's mased on #2715 I think we should detect that disconnect, and the supplied patch working makes me think the H1 stream is being returned to the conn pool disabled (probably due to flow control...).

The hopefully quick question I have for you is if onMessageComplete is the right place to unwind those - I'd lean towards unwinding where the connection is returned to the conn pool f

[2019-03-07 19:33] bartebor commented on #1269
I looked into the code and found that [current implementation](https://github.com/envoyproxy/envoy/blob/master/source/common/router/config_impl.cc#L944) of wildcards searches unordered maps with keys of descending length.

Wildcard at the end are essentially the same in terms of searching and could be implemented similarily without need of new data structure.

@htuch, would you like to have curren

[2019-03-07 19:42] auni53 opened #6213 "Bootstrap config BASE_CONFIG missing cluster connect_timeout"
in (src/test/config/utility.cc), const std::string ConfigHelper::BASE_CONFIG, the config is missing a connect_timeout field in the "cluster_0" field. Presumable required, though I'm not sure where the validation is. This should be easy to fix, but I'm not sure there should be additional tests added to prevent these hard-coded configs from fulling out of date in the future.

Error:
[code]

My helpe

[2019-03-07 19:45] gsagula commented on #6099
/assign gsagula

[2019-03-07 20:05] PiotrSikora commented on #6199
Thanks! This is indeed an issue, though the transformation to lowercase should be applied throughout the codebase for server names (e.g. imagine the opposite case, with certificate for `*.BAR.COM` and request for `foo.bar.com`).

[2019-03-07 20:19] htuch commented on #6084
Marking this as help wanted, since it would benefit from someone doing a deep dive and making changes upstream potentially, there seem to be multiple issues (alignment, out of buffer references, etc.). We're going to just disable ASAN in LuaJIT to unblock https://github.com/envoyproxy/envoy/pull/6196 for now.

[2019-03-07 20:25] auni53 commented on #6213
@dio shouldn't this be a bug?

Also I'm pretty confused by this, I tried to fix the bootstrap by adding a `connect_timeout` field to the cluster_0 segment, and that caused segfaults with proto validation errors...

[2019-03-07 20:42] dio commented on #6213
@auni53 OK, updated.

[2019-03-07 20:57] mattklein123 commented on #6199
@PiotrSikora do you think we should config guard this or always lowercase? I would be concerned someone might be depending on this?

[2019-03-07 21:10] lizan commented on #6199
I don't think we should guard, both [X.509 RFC](https://tools.ietf.org/html/rfc5280#section-7.2) and [SNI RFC](https://tools.ietf.org/html/rfc6066#section-3) states it has to be case-insensitive comparison. Algorithms are described in [RFC 5890](https://tools.ietf.org/html/rfc5890#section-2.3.2.4).

[2019-03-07 21:10] PiotrSikora commented on #6199
@mattklein123 always lowercase, IMHO, since per [RFC4343](https://tools.ietf.org/html/rfc4343) domain names are case-insensitive, so we shouldn't be rejecting uppercase.

[2019-03-07 21:14] phylake commented on #6199
This seems like a bug based on the above RFCs

[2019-03-07 21:23] mattklein123 commented on #6199
SGTM then let's just fix.

[2019-03-07 21:35] lizan commented on #6206
We don't have full support on Windows yet, @sesmith177 might be able to help you.

[2019-03-08 00:16] cetanu commented on #6156
So I could then do something like this in my config...
[code]

and then log it with:

[code]

Is that correct?

[2019-03-08 00:19] cetanu commented on #6156
These options seem to occur in the listener... what if I need different metadata to be logged depending on which virtualhost was used during routing? or will that take into account headers that are set within a route?

[2019-03-08 08:11] tommyulfsparre commented on #5841
Sorry for coming in late with a drive by comment(should I have opened a separate issue?) but curious if it would be possible or even a good idea to have a hedging policy configured based on the percentile of the overall request latency?
This would require Envoy to support latency monitoring which might be too expensive?

Basically this would be a more adaptive approach then setting `per_try_timeou

[2019-03-08 08:45] SorinS opened #6217 "Unable to build nghttp2 while compiling envoy"
**Envoy compilation problem**

*Title*: *nghttp2 compilation fails*

*Description*:

- Amazon Linux AMI  running kernel 4.14.97-90.72.amzn2.x86_64
- bazel 0.23.1
- java-1.8.0-openjdk-devel
- ninja-build 1.7.2
- go 1.9.4
- cmake 3.6.2
- envoy cloned from git at tag v1.9.0
Running: bazel build //source/exe:envoy-static
yields:

    Package version: 1.34.0
    Library version: 31:1:17
    Install pre

[2019-03-08 09:40] devincd opened #6218 "How to open the tcp keepalive when envoy is the server?"

[2019-03-08 09:47] lizan commented on #6217
What is the gcc or clang version are you using? Note we only support GCC 7+ or Clang/LLVM 7+.

It is recommended to start with docker based build.

[2019-03-08 15:20] ppadevski commented on #6190
The patch that I proposed works on a large scale setup that used to reproduce the issue, @see [C5683.txt](https://github.com/envoyproxy/envoy/files/2946319/C5683.txt)

[code]
Ideally I'd like to see "readDisable: enabled=false disable=false" before "moving to ready" but was in a hurry to patch the environment and didn't have time to explore that option. The good news is that I no longer get "upstr

[2019-03-08 15:23] ppadevski commented on #6190
Now that we got to the bottom of this issue, I think that it's a bug and not a question.

[2019-03-08 15:50] dio commented on #6190
@ppadevski are you willing to propose a patch for this? Thanks!

[2019-03-08 16:01] SorinS commented on #6217
Hi,
Thank you for responding, here is it:

gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/libexec/gcc/x86_64-redhat-linux/7/lto-wrapper
Target: x86_64-redhat-linux
Configured with: ../configure --enable-bootstrap --enable-languages=c,c++,objc,obj-c++,fortran,ada,go,lto --prefix=/usr --mandir=/usr/share/man --infodir=/usr/share/info --with-bugurl=http://bugzilla.redhat.com/bu

[2019-03-08 16:07] SorinS commented on #6217
Steps to reproduce:

On EC2, use amzn2-ami-hvm-2.0.20190228-x86_64-gp2 (ami-02da3a138888ced85) and the run:

sudo yum group install "Development Tools"
sudo yum install java-1.8.0-openjdk-devel
sudo yum install ninja-build
sudo yum install golang
sudo yum install clang
sudo ln -s /usr/bin/ninja-build /usr/bin/ninja

curl -L -O -k https://github.com/bazelbuild/bazel/releases/download/0.23.1/bazel-0

[2019-03-08 16:09] nezdolik opened #6219 "[upstream/subset_lb] panic_mode_subset_ not keeping track of hosts addition/removal"
[panic_mode_subset_](https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/subset_lb.h#L178) not keeping track of upstream hosts addition/removal. Is meant to represent subset of all/any upstream hosts in cluster. In code is initialised once and updates to the cluster are not propagated to this subset. Logic similar to `SubsetLoadBalancer::updateFallbackSubset` should be implement

[2019-03-08 16:11] SorinS commented on #6217
It seems that it fails at pthread detection:

Determining if the pthread_create exist failed with the following output:
Change Dir: /home/ec2-user/.cache/bazel/_bazel_ec2-user/0a49c6981bc062896411a4ce6a7ff661/external/envoy_deps_cache_f60283ef847e688d220ce2f1633c4979/nghttp2.dep.build/nghttp2-1.34.0/build/CMakeFiles/CMakeTmp

Run Build Command:"/usr/bin/ninja-build" "cmTC_890fe"
[1/2] Building C o

[2019-03-08 16:20] SorinS commented on #6217
Full log:

cat /home/ec2-user/.cache/bazel/_bazel_ec2-user/0a49c6981bc062896411a4ce6a7ff661/external/envoy_deps_cache_f60283ef847e688d220ce2f1633c4979/nghttp2.dep.build/nghttp2-1.34.0/build/CMakeFiles/CMakeError.log
Determining if the pthread_create exist failed with the following output:
Change Dir: /home/ec2-user/.cache/bazel/_bazel_ec2-user/0a49c6981bc062896411a4ce6a7ff661/external/envoy_deps_c

[2019-03-08 16:32] dio commented on #6156
Hum, seems like enabling to log route entry metadata is not that hard. From my quick search, it seems only Lua filter that uses it. Strange.

[2019-03-08 16:35] mattklein123 commented on #6212
@sumukhs there is nothing built-in to do this today, however why not just use gRPC streaming discovery and push updated endpoints when they are ready?

[2019-03-08 16:37] SorinS commented on #6217
If any more information is needed, I would be more than happy to oblige.
Please help. Thank you

[2019-03-08 16:41] snowp commented on #6219
cc @rgs1

[2019-03-08 17:09] mattklein123 commented on #6190
@ppadevski @alyssawilk how is readDisabled(true) getting called in the first place? From my quick read of the code I think this must be due to flow control? I think the router is telling the upstream connection to stop reading, but then the upstream connection finishes, right? (Agree this is a bug.)

@alyssawilk I tend to agree with you here that we should be handling this in the calling code. We

[2019-03-08 17:13] mattklein123 commented on #5841
@tommyulfsparre I would recommend opening a separate issue on your request, sounds interesting but I think a bit different then what we are looking at here.

[2019-03-08 17:16] mattklein123 commented on #5841
@mpuncel TBH I don't recall the history of how we got to where we are today. I think the general idea is that we want to make sure that even if we specify a per try timeout, we only retry in cases where the user explicitly opts in.

I don't quite follow this. Why does your change effect this behavior? Is it because you are going to hedge/retry on a per try timeout?

[2019-03-08 17:40] rgs1 commented on #6219
@nezdolik thanks for catching this! Cooking a patch now.

@mattklein123 @snowp feel free to assign to me.

[2019-03-08 17:57] sumukhs commented on #6212
@mattklein123 - We have a central service which runs on a single node (with secondary replicas on other nodes) that learns about the updated endpoints first. On this particular node, it is possible to push the update to envoy using gRPC ASAP.

However, the other nodes in the cluster discover this update after a configured interval (5 seconds) through a reliable broadcast message we send out. We co

[2019-03-08 18:13] rgs1 commented on #6219
@nezdolik @snowp something like #6221?

[2019-03-08 20:14] brian-pane commented on #5536
@mattklein123 what do you think about tagging this one as “help wanted”? There definitely is performance work that would be worthwhile to do. I probably won’t have much time to contribute PRs over the next couple of months, but I’m happy to share profiling data and optimization ideas with anybody who’s interested in working on it.

[2019-03-08 20:38] howardjohn opened #6223 "Envoy appears to holds connection for 1s when using http 1.0"
*Title*: Envoy holds connection for 1s when using http 1.0 proxy

*Description*:
I have an Istio setup, with Envoy set up to [accept_http_10](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/protocol.proto#core-http1protocoloptions) traffic. When I make a http 1.1 call, (client -> client envoy -> destination envoy -> destination), everything works fine. When I make a http 1.0 call, t

[2019-03-08 20:44] mattklein123 commented on #5536
@brian-pane sure will do.

[2019-03-08 20:45] jobs-git commented on #5536
Why not use [picohttpparser](https://github.com/h2o/picohttpparser) that is the fastest http parser so far.

[2019-03-08 20:56] lizan commented on #6190
Catching up here... Yeah I agree that this is a bug. #2871 tried to cover the race in the case upstream sends FIN right after completed response. IIUC per [this comment](https://github.com/envoyproxy/envoy/blob/master/source/common/network/connection_impl.cc#L284) we're not guaranteed to get notified for FIN if read is disabled.

Moving [this part of code](https://github.com/envoyproxy/envoy/blob/

[2019-03-08 20:57] mattklein123 commented on #6223
See "delayed_close_timeout" https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/http_connection_manager/v2/http_connection_manager.proto

[2019-03-08 21:02] howardjohn commented on #6223
Thanks for the quick response!

[2019-03-08 21:02] #6223 closed

[2019-03-08 21:04] #5626 closed

[2019-03-08 21:05] mattklein123 commented on #6212
I think that could work without too much complexity. I still wonder why you require broadcasts vs. just everyone getting streamed updates, but I obviously don't understand the details of your architecture.

[2019-03-08 21:16] sumukhs commented on #6212
Thanks. Are there pointers to examples of writing such filters?

[2019-03-08 21:51] ldemailly commented on #6223
can the setting be applied only for http1.0 ? (or can http1.0 mode of envoy just close the writing part of the socket immediately after write like the standard implies)

[2019-03-08 22:04] appario opened #6225 "Example to configure Envoy to watch a local file to be dynamically configured"
How do I go about instructing Envoy to watch a local file for updates so that it can dynamically reconfigure itself.  Is there an example yaml file we can use for reference?

[2019-03-08 23:08] derekargueta commented on #6197
Presumably, the way the xDS HTTP server is implemented is that it won't respond if there aren't any config updates which leads to a timeout (HTTP 504). So Envoy perceives it as an "update failure" but from the xDS server it's just "there are no updates right now". Not the best situation but that's how HTTP long polling works.

So those messages aren't necessarily harmful, but if you want to reduce

[2019-03-08 23:10] derekargueta commented on #4445
@gsagula any movement here? we're working on an internal decompression filter for gzip

[2019-03-09 00:18] justConfused opened #6227 "Envoy Load Shedding && Maintenance Mode"
*Title*: *How to load shed in envoy to help upstream service recover*

*Description*:

Really the appreciate the help.

PS: Envoy is a great tool and its community is equally awesome.

[2019-03-09 03:04] #5777 closed

[2019-03-09 05:28] #5762 closed

[2019-03-09 06:28] #5780 closed

[2019-03-09 20:38] danpat commented on #2778
I have a concrete example of where this would be useful.  We don't use envoy currently, but I'm evaluating it for our setup.

The API I'm working with is a navigation service - it takes requests in the form:

  /route/-122.447,37.783;-122.449,37.788

where the numbers here are longitude,latitude pairs.  The service returns a description of the driving path between the two supplied coordinates.

Be

[2019-03-09 21:37] suhailpatel commented on #5173
This is usually happening because of a TCP Half Open connection. There is no detection of this. ADS is particularly prone because of long periods of idleness and communication is initiated by the ADS server to push snapshot changes via ADS.

We ran into a similar issue and we fixed it by enabling a TCP keep alive.
[code]

This is especially bad for ADS because Envoy will merrily think it's connect

[2019-03-09 23:04] aktxyz commented on #129
is this effort still kicking? would love to see something available on windows

[2019-03-09 23:23] mhoran commented on #129
It is. There's still a good deal of work to be done, but we've been submitting PRs to get Windows support merged upstream. I don't have a timeline for you, and even when everything is merged, it may be some time before we have acceptable performance on Windows. However, rest assured this work is ongoing!

[2019-03-10 00:28] aktxyz commented on #129
great to know ! definitely a non trivial task

[2019-03-10 00:32] nicktrav opened #6233 "[feature request] Add per-table metrics in MySQL network filter"
Currently, the MySQL network filter exposes simple counts of metrics such as login requests, successfully parsed queries, parse errors, amongst others. It would be useful to use this same filter to gain insight into commands executed on a per-table basis.

For example, the filter could increment counts on various commands (SELECT, INSERT, DELETE, etc.) using the output of the query parser.

From p

[2019-03-10 07:50] #5603 closed

[2019-03-10 17:23] MarcinFalkowski opened #6237 "Latest "incremental CDS" feature breaks existing GRPC non-ADS Control Planes"
*Title*: Latest "incremental CDS" feature (#6191 ) breaks existing Control Planes

*Description*:
Incremental CDS changed GRPC method from `envoy.api.v2.ClusterDiscoveryService.StreamClusters` to `envoy.api.v2.ClusterDiscoveryService.DeltaClusters` (https://github.com/envoyproxy/envoy/pull/6191/files#diff-1dbe6018649b440b0e51b4f1567d19e0R37).

From what we se, it breaks our GRPC control plane base

[2019-03-10 18:29] #5770 closed

[2019-03-10 19:29] #5746 closed

[2019-03-10 20:29] jparise commented on #3308
#6215 reduces the set of watched inotify events from `IN_ALL_EVENTS` to just those events that are needed.

[2019-03-10 21:18] zsilver commented on #5173
Thanks @suhailpatel , we'll give this a try and see if it solves our issue.

[2019-03-10 22:16] jmarantz opened #6239 "time: SimulatedTimeSystem makes hds_integration_test.cc flaky"
Between https://github.com/envoyproxy/envoy/pull/6139 and https://github.com/envoyproxy/envoy/pull/6175 -- [hds_integration_test.cc](https://github.com/envoyproxy/envoy/blob/master/test/integration/hds_integration_test.cc) ran with simulated time, but proved to be flaky.

This is most likely due to some issue with the implementation or use of SimulatedTimeSystem::waitFor:
https://github.com/envoyp

[2019-03-11 01:02] mattklein123 commented on #6212
@sumukhs I might take a look at the health check filter, as it is an encoding filter that inspects headers which I think is mostly what you need.

[2019-03-11 02:34] vgomprakash commented on #5531
@sterchelen , I am also looking for this feature to become available on Envoy. Can you share some sample Lua Scripts that you used for custom error messages, will be of great help

[2019-03-11 02:56] zengyuxing007 commented on #4128
the envoy send proxy protocol, Has it been achieved? @klarose

[2019-03-11 03:29] #5749 closed

[2019-03-11 04:57] zyfjeff commented on #6166
If no one do it, please assign to me @dio

[2019-03-11 05:37] gsagula commented on #4445
Hi @derekargueta. I got the compression and decompression working, but it turned out that the filter became really dense. I've started a new filter based on the document above but I didn't have a chance to finish due to work. It's more complex than just gzip compression/decompression though. I'm trying to clear out some `ext-authz` stuff out of the way before getting back to this one, but it's har

[2019-03-11 06:17] sterchelen commented on #5531
I was able to override http status code. The body is not overwritable...

On Mon, 11 Mar 2019, 03:34 vgomprakash, <notifications@github.com> wrote:

[2019-03-11 08:07] adhanoti opened #6244 "The STATIC option is not working and hence connection is not happening between sleep and httpbin in two different cluster."
We have deployed two cluster and in one cluster "sleep" service and in one cluster "httpbin" service.

We want to connect from sleep to httpbin service. Following two entries were made to resolve hostname:

Virtual Service :

apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: httpbin
  namespace: istio-system
spec:
  hosts:
  - httpbin
  http:
  - route:
    - destinat

[2019-03-11 08:49] lizan commented on #5527
keep alive

On Sat, Mar 9, 2019 at 1:28 AM stale[bot] <notifications@github.com> wrote:

[2019-03-11 13:22] medalliaerlich commented on #5489
Any news?

[2019-03-11 14:32] justancoder opened #6246 "SSL Error : Handshake Error 2"
I am getting error in TLS handshake when I am using envoy as proxy to reach my service.
Service is running in a pod in a kubernetes cluster and envoy is deployed on master. I am reaching to service through NodePort.

Following are the logs for the handshake error:

^[[36mfront-envoy_1  |^[[0m [2019-03-11 11:38:57.547][14][debug][connection] [source/common/network/connection_impl.cc:653] [C1] conne

[2019-03-11 14:51] klarose commented on #4128
@zengyuxing007 It has not been. I've been focusing on providing IP transparency to a local service. I'm not sure when i'll get to sending the proxy protocol. If you're volunteering, feel free to take that chunk over. It can certainly be done in parallel to my current tasks. :)

[2019-03-11 15:21] ipuustin commented on #6246
See if this is a duplicate of https://github.com/envoyproxy/envoy/issues/5683.

[2019-03-11 15:58] ipuustin opened #6248 "Support for BoringSSL asynchronous private key operations"
*Title*: Support for BoringSSL asynchronous private key operations

*Description*:
BoringSSL has support for asynchronous private key operations [1]. The operations can be used for TLS signing and decryption. It would be nice to have Envoy support the asynchronous operations by implementing an private key extension API. An extension implementing the API could be registered for a  TLS context. Ther

[2019-03-11 16:27] htuch commented on #6237
@fredlas can you look into this?

[2019-03-11 17:07] htuch commented on #5174
I'm going to close this out based on #5887 merging, there is the more general problem but let's reopen when someone wants to drive this work.

[2019-03-11 17:07] #5174 closed

[2019-03-11 17:19] jmarantz commented on #6162
I get this same exact failure in Linux.

Can we disable this test until it's fixed?

[2019-03-11 17:24] htuch commented on #6248
@ipuustin thanks, this is well aligned with how we had envisaged this working, please go ahead. Can you propose a concrete API PR (even as WiP) so we can make sure we are aligned before going too far? I'm personally interested in making use of BoringSSL split handshake in the near future, but this is somewhat different to private key operations.

[2019-03-11 18:54] kyessenov opened #6252 "Need care with hashing protobufs"
It appears envoy hashes protobuf config structures to determine whether a config has changed. This is a problem since configs are placed into `typed_configs` as `Any`, and protobuf specifically does not guarantee deterministic serialization. The main non-determinism comes from map ordering.

If the control plane repeatedly serializes and pushes same configs without change, then envoy might incorre

[2019-03-11 18:56] kyessenov commented on #6252
/cc @snowp

[2019-03-11 19:21] #6212 closed

[2019-03-11 19:32] kyessenov commented on #6237
There is a problem in go-control-plane:
1. ADS works fine with latest envoy.
2. xDS is broken since it relies on `StreamClusters`
3. REST works fine since HTTP endpoints are OK

[2019-03-11 22:51] #6237 closed

[2019-03-11 23:19] hanyu-liu opened #6257 "Error building envoy"
Build envoy by `./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.release.server_only'`

The error message is not very straight forward.
From `source/common/common/BUILD`

[code]

[2019-03-11 23:33] gsagula commented on #5676
Working on the code review.

[2019-03-11 23:47] lizan commented on #6252
FYI https://github.com/protocolbuffers/protobuf/issues/5731

[2019-03-12 01:47] #5817 closed

[2019-03-12 02:53] tw-bert opened #6259 "Monitor / view current TCP connection routing for long lived connections"
_Note: This might be related to https://github.com/envoyproxy/envoy/issues/3818 ._

Using `envoyproxy/envoy:v1.9.0` .

We have a requirement / enhancement request to see what TCP connections are currently active.
What would quickly help us out, is to add an option to the access logger to log at (established) connect time, next to the disconnect time.

To be able to query the admin API for this wou

[2019-03-12 04:47] mattklein123 commented on #6252
@lizan @htuch I think we need a holistic approach to solving this problem as this keeps coming up in various forms. Any thoughts here? Do we need someone to take a look at this and think about a general solution?

[2019-03-12 05:39] mandarjog commented on #6252
Map ordering the prominent reason for non determinism. However there are many other reasons why binary encoding of two messages is not the same even though messages are the same.for example You can encode fields out of order, varInt encodings allow for zero extensions.

I think for an api to be clear we could have a “sha” field as a peer of any. That way the onus is on the caller to supply it. At

[2019-03-12 05:47] htuch commented on #6252
@mandarjog arguably that just punts the problem to the management server. It's in a position to compute the SHA for sure, but it's going to be a lot of tedious work if it can't rely on the proto library for this. With resource level versioning in incremental xDS (CC @fredlas), this might be improved, since the management server now provides a per-resource "version" at each update, that can be used

[2019-03-12 05:57] justancoder commented on #6246
@ipuustin Looks similar but there are some doubts.
1. If I comment validation context , still the handshake passes after few handshake errors with 2 , see below :
     tls_context:
      common_tls_context:
        tls_certificates:
          certificate_chain: { "filename":"/etc/clientcert.pem" }
          private_key: { "filename": "/etc/clientprivatekey.pem" }
       # validation_context:

[2019-03-12 07:13] derekargueta commented on #4705
Looks like the Zipkin tracer has become a user of RapidJSON as well
https://github.com/envoyproxy/envoy/blob/master/source/extensions/tracers/zipkin/zipkin_core_types.cc#L29

[2019-03-12 11:25] liadav opened #6264 "[feature request] Lua Network Filter"
**Lua Network Filter feature request: Implement Network Filter that supports lua code callbacks for onData, onWrite, onNewConnection**

*Description*:

[2019-03-12 12:01] alfador1 opened #6265 "Allow outbound traffic through istio proxy to a domain"
Hello guys,

How to allow all outbound traffic through istio sidecar container to a hostname.
In my case https://www.google.com/recaptcha/api/siteverify

Best Regards,

[2019-03-12 15:34] justinfiore commented on #4496
I am also experiencing this behavior when using Ambassador `0.51.1` with `use_remote_address=true`

[2019-03-12 16:01] roekatz opened #6266 "The 'x-envoy-upstream-service-time' header is not populated for (web socket) upgrade requests"
*Description*:
For web socket upgrade requests, Envoy doesn't set the upstream response time.
I guess that's a bug rather than the intended behaviour.
We use this header, and need it also for web sockets upgrade requests.
After a short look in the code - seems like this field isn't calculated since `end_stream=true` is not passed at the completion of an upgrade request.

*Repro steps*:
Using the f

[2019-03-12 16:03] #6140 closed

[2019-03-12 16:13] mpuncel commented on #5841
@mattklein123 yeah. Before this change, there is never a retry that is not in response to a reset (even if in the timeout case it's a local reset).

After further thought, I think it makes sense to keep the `RETRY_ON_5XX or RETRY_ON_GATEWAY_ERROR` condition. Basically pretends it's a 504.

[2019-03-12 18:35] jbf154 opened #6270 "When a gRPC method returns a stream, the HTTP1 status code always returns 200 OK."
*Title*: When a gRPC method returns a stream, the HTTP1 status code always returns 200 OK.

*Description*:

*Steps to Reproduce*

[code]

[code]

*Workaround*

[2019-03-12 18:42] htuch opened #6271 "Stable Envoy API versions"
We've had feedback from folks (in particular gRPC-LB) that the current Breaking Change Policy is insufficient for handling long-term compatibility at the wire and generated proto level.

Specifically:
1. Coupling API field validity and deprecation to Envoy release cycles is an implicit API state that mostly makes sense for Envoy but not for independent clients. Even https://github.com/envoyproxy/e

[2019-03-12 18:50] snowp commented on #6271
One concern that springs to mind is the issues we've had with moving `service` between packages, since that breaks gRPC wire compatibility due to the `:path` header. Would this make changes to any protobufs that's referenced by a `service` very painful?

[2019-03-12 18:59] htuch commented on #6271
@snowp package namespace changes would imply service endpoint changes. The management server would need to support both during a transition period.

[2019-03-12 19:00] moderation commented on #6271
Not sure if this is relevant for this particular issue but CockroachDB recently switched away from SemVer - [Why we're switching to calendar versioning](https://www.cockroachlabs.com/blog/calendar-versioning/). Along the same lines the SemVer specification is getting an upgrade - [What’s next for SemVer](https://words.steveklabnik.com/what-s-next-for-semver).

[2019-03-12 19:13] venilnoronha commented on #6162
Surprisingly, this runs fine every single time on my Ubuntu VM.

[2019-03-12 19:20] lizan commented on #6270
This is due to the limitation of HTTP 1, which must encode the status at the beginning of the stream, while gRPC may send the status at the end of the stream.

[2019-03-12 19:39] jbf154 commented on #6270
@lizan, is the stream not buffered in Envoy such that the headers aren't sent back to the HTTP 1 client until after the grpc-status is received?  I don't think Envoy can return the response body back to the HTTP 1 client until it has reached the end of the stream anyways.

[2019-03-12 20:43] lizan commented on #6270
No, in streaming case envoy doesn't buffer the stream until grpc-status, that's the limitation of transcoding streaming, you'll have to encode the error in the body if desired. Response trailer will be omitted.

[2019-03-12 20:58] mattklein123 commented on #6271
I'm not thrilled about this since I do think it will increase deprecation overhead/velocity quite a bit. I think I'm not fully understanding the problem that gRPC is facing. Can you potentially describe in more detail?

[2019-03-12 21:37] htuch commented on #6271
@markdroth can you provide a summary for your team?

[2019-03-12 22:37] hanyu-liu commented on #6257
What is this file?
`    srcs = ["//:VERSION"],`

[2019-03-12 22:51] hanyu-liu commented on #6257
The generated file seems to should be `#define BUILD_VERSION_NUMBER "1.10.0-dev"`

[2019-03-12 23:49] SorinS commented on #6217
Any ideas?

[2019-03-13 00:20] cetanu commented on #6197
I have a similar problem. Very similar setup. I am using Quart+Hypercorn (Flask+Gunicorn replacement with HTTP2).

504 Gateway Timeouts seem to produce the desired behavior (Envoy does not emit a metric for "update_failure", or a warning in the logs), except that this is a server error and not really an appropriate response.

I've submitted a PR to address this problem: https://github.com/envoypro

[2019-03-13 02:54] yutongp commented on #5930
bump.
I have similar question about how to set up network ratelimit for tcp proxy if I want rate limit on remote address

[2019-03-13 03:10] yutongp opened #6276 "ratelimit filter for tcp proxy"
*Title*: *ratelimit filter for tcp proxy*

*Description*:
Is there an equivalent example to rate limit on remote address for tcp proxy?
There is no `action` field in ratelimit network filter, so I don't know how to put remote address into descriptors.
An example is really appreciate.

[optional *Relevant Links*:]
There is an example for http: https://github.com/envoyproxy/envoy/issues/3388
[networ

[2019-03-13 03:14] taion809 opened #6277 "Server stat gauges missing"
*Title*: *Server stat gauges missing*

*Description*:

*Repro steps*:

From slack:
[code]

[2019-03-13 04:24] htuch commented on #5739
FWIW, looking at the new incremental implementation in `CdsApiImpl` , we're already doing a partial accept, so this issue is really just tracking making it a first class concern on the wire, i.e. being able to provide feedback at the per-resource granularity rather than a comma-separated string.

[2019-03-13 05:08] costinm commented on #5739
Thanks for the update - this is great on CDS side, but we'll also need something on LDS. Ingress needs to be configured with certs for multiple domains - and as I mentioned it's tricky for the XDS server to know if an envoy has the certs deployed.

We are switching to SDS for secrets - I'm not sure if LDS failing to load a cert via SDS will result in the full LDS rejection, but we have a report th

[2019-03-13 06:45] den-vasyliev commented on #1861
just kindly reminder - thx

[2019-03-13 08:06] ramaraochavali commented on #6277
Yeah. Looks like connected_state stat is also missing

[2019-03-13 12:08] rashidfornajah commented on #6189
Thanks @qiwzhang . It is working now

making this change in rate limit filter passed the JWT token to rate limit service
[code]

Change in Rate limit service:
[code]

[2019-03-13 13:08] taion809 commented on #6277
This essentially means the master branch is no longer production ready as we no longer have liveness checks; @fredlas you were pinged in slack but probably better to track it here :)

[2019-03-13 13:57] fredlas commented on #6277
Yes, that sounds right. We also had to update our own stats sink.

[2019-03-13 14:28] taion809 commented on #6277
I have an incoming PR probably in an hour or two when my osx build is fixed :(

[2019-03-13 16:52] mattklein123 commented on #6277
@fredlas this needs to be fixed urgently or we need to revert your other change. Are you looking at this today and/or working with @taion809 on the fix?

[2019-03-13 17:38] #6131 closed

[2019-03-13 17:38] #6162 closed

[2019-03-13 18:15] venilnoronha opened #6281 "Jaeger sandbox is broken"
*Title*: Jaeger sandbox is broken

*Description*:

Jaeger sandbox should run as explained in https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/jaeger_tracing.html; however, `jaeger-tracing_front-envoy_1` exits with an error.

*Repro steps*:
[code]

*Logs*:
[code]

[2019-03-13 18:24] dfawley commented on #6271
API stability is an extremely important factor for anyone outside Envoy looking to adopt the xDS protocol.  gRPC needs the ability to easily express to its users what version(s) of the protocol it works with.  At this point, we cannot say "gRPC works with xDS v2", because features present in the initial release of v2 may have been removed and replaced -- or may be in the future -- in accordance wi

[2019-03-13 18:44] venilnoronha commented on #6281
I'm hitting this issue consistently with Zipkin and Jaeger Native as well.

[2019-03-13 18:51] moderation commented on #6281
When I tested https://github.com/envoyproxy/envoy/pull/6025 I validated all of the new configs for OT, Zipkin and Lightstep. Either way I can probably take a look at this tomorrow if you can wait.

[2019-03-13 19:14] fredlas commented on #6277
I agree with the revert over in #6280. I don't think it will interfere with anything that's already merged.

[2019-03-13 19:26] mpuncel opened #6282 "Envoy Crash in EDS update"
*Title*: *Envoy crash during EDS update*

*Description*:
We saw an Envoy crash (log output below). It seems the crash is triggered by an EDS update when updating host priorities.

*envoy version*: 32bdce35d0d803600e6c345e0b0508b33dbf652e

*log*:
[code]

I can follow up with more information later

[2019-03-13 19:50] mattklein123 commented on #6281
@rnburn @objectiser

[2019-03-13 21:01] mattklein123 commented on #6271
re: the Go issues, I think that is more straightforward. We can just not do the things that break Go such as add a oneof after the fact (and anything else).

The other concern is much trickier. I understand it, but adhering to it will greatly reduce our velocity. Can we discuss this on the next community call and brainstorm possible outcomes?

[2019-03-13 21:17] dfawley commented on #6271
@mattklein123 In order to maintain backward compatibility for the Go generated API, the other condition also needs to be met.  Removing a field will break the generated code API (in addition to breaking wire compatibility).

I have no desire to reduce your velocity.  New features can be added with a clear "experimental" tag to be exempted from these requirements.  gRPC and other users requiring a

[2019-03-13 22:12] htuch commented on #6271
I agree that discussing this in the community meeting would be the most
efficient way to move forward. Doug, can you and interested gRPC folks join
https://calendar.google.com/event?action=TEMPLATE&tmeid=NzI4c2E5YWJjbDRnMmp1amdsOW5uNTJsMjZfMjAxOTAzMjZUMTYwMDAwWiA4YnNmYzhtMmRmOG1hZDJqdGdmNmY4b25qNEBn&tmsrc=8bsfc8m2df8mad2jtgf6f8onj4%40group.calendar.google.com&scp=ALL
on
3/26?

On Wed, Mar 13, 2019

[2019-03-13 22:38] JimmyCYJ commented on #6252
FYI, in SDS config, we need to marshal FileBasedMetadataConfig and place it in a field(TypedConfig) in GrpcService_GoogleGrpc_CallCredentials. FileBasedMetadataConfig does not support deterministic config, and forcing to marshal it deterministically will get empty string. So a workaround I use is to marshal it once, store the marshaled string in a map. Other generation of SDS config just gets a co

[2019-03-13 22:47] dfawley commented on #6271
@htuch, yes, I plan to attend, and I have invited a few others.  Thanks for sharing the link.

[2019-03-13 22:54] ltagliamonte opened #6284 "Logical DNS + active HC doesn't work"
Hello everybody!
I'm using envoy 1.9 and i'm trying to configure TCP health check on my mongos servers, this is my config:
[code]
I've got a local mongo container running with:
```docker run --name mongo -p27015:27017 -d mongo:3.4.19```

the output of the envoy proxy shows:
[code]

It looks like the health checker is addressing `0.0.0.0` on port `0`?:

[code]

I've found a similar issue https://gi

[2019-03-14 00:30] snowp commented on #6282
With line numbers:

[code]

[2019-03-14 00:34] snowp commented on #6282
Seems like the list of `member_update_cb_` callbacks is in a bad state. Probably something is adding a callback but not removing it on destruction?

[2019-03-14 00:52] #5836 closed

[2019-03-14 03:14] mattklein123 commented on #6266
@alyssawilk any thoughts on this?

[2019-03-14 03:16] mattklein123 commented on #6284
I think the combination of health check and logical DNS is likely broken and should probably be blocked at the config level until we can figure out what the behavior should be. (Essentially, logical DNS is a single IP entry from returned DNS servers, and we need to figure out whether we should keep using a different IP for health check, use the first one we get, etc.)

[2019-03-14 04:56] snowp commented on #6282
Digging into this some more it seems like a pretty weird bug: since we're using `std::list` the only time an iterator is invalidated is when the iterator itself is removed, seems to indicate that the callback is removed while we're iterating over the iterators. That said, it seems like the only caller that deletes the callback before the CallbackManager is destroyed is the redis filter, which was

[2019-03-14 06:58] acpower7 commented on #3826
^thanks, but doesn't work for latest version of babel (0.23)

[2019-03-14 09:02] objectiser commented on #6281
Looks like the updated yaml files from #6025 are being used, but possibly with an older version of envoy?

[2019-03-14 12:06] zyfjeff commented on #6284
I tested it locally. The reason for this problem should be that the health check was performed before the DNS resolution result was returned. The first time the health check was performed, the default address and port were used, and the latter was normal.

[2019-03-14 12:22] zyfjeff commented on #6284
@mattklein123

Is it possible to avoid this problem by delaying the time of the first check?

[2019-03-14 15:50] mattklein123 commented on #6284
@zyfjeff I would have to debug/dig to have a more detailed idea, but I'm doubtful that's the problem, since Envoy should not start health checking until the cluster is initialized, which would mean that DNS has completed.

[2019-03-14 15:51] #2802 closed

[2019-03-14 16:05] ltagliamonte commented on #6284
@mattklein123 i think you are right.
From the last line of logging I posted `first_check:false` :

[code]

issue goes away using `STRICT_DNS`.

[2019-03-14 16:09] hanyu-liu commented on #6119
Continuing the talk from https://github.com/envoyproxy/envoy/pull/6148.

Do you actually think an enum can work well for status_code_on_error? Don't want users to abuse the system by returning like 200, when the ext_authz is down.

Furthermore, can we fix it by introducing a hard-coded error code as a breaking change in the next major release?

[2019-03-14 17:22] ltagliamonte commented on #6284
I tried `STRICT_DNS ` using a DNS entry with multiple values hoping that i could use that as workaround.
**It turns out that the upstream host never gets marked as unhealthy.**

My guess is that the DNS gets refreshed every `dns_refresh_rate` default 5000ms and
the unhealthy counter gets reset every time a new IP for the upstream_host is used.

This is the config i'm using:
[code]
MY_DNS looks lik

[2019-03-14 17:24] hanyu-liu commented on #6119
Link to https://github.com/envoyproxy/envoy/issues/5974, who suffers from similar symptoms on http ext_authz

[2019-03-14 18:04] snowp opened #6287 "Sporadic UH during host updates"
We've been seeing occasional requests fail with UH during deploys when using active health checking.

In this case we have 4 hosts that all have equal weighting (2 in each locality, with same locality weighting and same priority):

L1 has hosts A B
L2 has hosts C D

This is followed by a bunch of empty priorities (probably not relevant, but mentioning for the sake of completeness).

A rolling rest

[2019-03-14 18:20] snowp commented on #6287
I'll note that we're also using the retry plugins which could technically modify priority load, but I don't think we retry UH at all, nor are we seeing any indication in the upstream access logs that there are previous failed calls that lead into a final UH.

[2019-03-14 19:25] alyssawilk commented on #6266
No strong preference here.  I think it has more to do with the semantics of what we want service time to mean.  If including the response time to process the upgrade request is useful I think it'd be fine to change the code to allow it.

[2019-03-14 19:44] alyssawilk opened #6288 "test: fix integration tests to not break with feature deprecation"
Because we have end to end tests of deprecated config paths, integration tests will break when we cut the next release.  We should allow the envoy integration tests to run with deprecated config up until it is removed.

Shouldn't be a hard fix - will try to land a workaround next week.  Filing this just to track.

[2019-03-14 21:31] #5828 closed

[2019-03-14 22:58] rbkumar88 opened #6291 "max_connect_attempt_interval for tcp_proxy"
Title: max_connect_attempt_interval for tcp proxy

Description:
There is a max_connect_attempts field, does envoy have a field to control the interval between the connect attempts.

[2019-03-14 23:18] htuch commented on #6287
@snowp sorry, no idea; we use a combination of passive HC and EDS delivered HC, with the active HC taking place outside of the serving Envoys, so don't have much experience with Envoy active HC.

[2019-03-14 23:26] jmjolysc opened #6292 "HTTP body compression for gRPC requests"
Does Envoy support HTTP body compression for gRPC requests?

The gzip filter works well for REST requests, but doesn't seems to work for gRPC requests, even when following the filter [documentation](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/gzip_filter).

[2019-03-14 23:34] snowp commented on #6287
Ok, I'll keep digging into this on our end. I was hoping there was something obvious about how TLS hosts/LBs were updated that would explain this kind of inconsistency, but doesn't sound like it

[2019-03-14 23:58] mattklein123 commented on #6284
I think the problem is clear: logical DNS doesn't work with health checking. Beyond that, someone needs to get in and propose how this should work and then work on whatever code changes are required. I've marked this issue help wanted.

[2019-03-15 00:27] mattklein123 commented on #6277
Going to close this out and we can make sure the fix is in the reapplied change.

[2019-03-15 00:27] #6277 closed

[2019-03-15 00:28] mattklein123 commented on #6292
I don't see why it wouldn't work, but I'm not sure. Maybe it has to do with content-type or encoding headers. cc @lizan @gsagula

[2019-03-15 00:29] mattklein123 commented on #6219
Fixed

[2019-03-15 00:29] #6219 closed

[2019-03-15 01:10] lizan commented on #6292
gRPC compression is different from HTTP body compression on wire, it is per message compression, a compression-flag has to be encoded in to gRPC frame header. I don't think it is implemented in gzip filter. See https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md for details.

[2019-03-15 01:17] jmjolysc commented on #6292
Thank you @mattklein123 and @lizan! I guess the gzip filter would also have to follow these [guidelines](https://github.com/grpc/grpc/blob/master/doc/compression.md) to compress data. Would you consider gRPC compression as a feature improvement?

[2019-03-15 02:31] zyfjeff commented on #6291
@mattklein123  Please assign to me,  I'm interested in TCP proxy

[2019-03-15 03:01] zplinuxlover opened #6297 "How to set up develop environment on mac using clion or vs code"
I am a beginner of envoy, I want to add function to realize my business need, But I do not known how to set up develop environment on mac using clion or vs code, is there a document
describing how to do it ?

[2019-03-15 03:06] mattklein123 commented on #6292
@jmjolysc yup switched over to enhancement.

[2019-03-15 03:08] mattklein123 commented on #6291
@zyfjeff FYI you can assign yourself using the bot.

/assign @zyfjeff

[2019-03-15 04:50] #5862 closed

[2019-03-15 04:52] mattklein123 commented on #6284
I just looked at this a little bit and I think it should work: https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/logical_dns_cluster.cc#L127 so I'm not sure what the issue is. There is probably just a bug. See https://github.com/envoyproxy/envoy/pull/4208 cc @dio

[2019-03-15 08:15] ramaraochavali commented on #6171
@mattklein123  I tried upgrading Envoy and trying to reproduce. But on the latest version this is not reproducible. We can close this.

[2019-03-15 08:15] ramaraochavali commented on #6171
Closing the issue.

[2019-03-15 08:15] #6171 closed

[2019-03-15 09:26] winterTTr commented on #3582
I face, the same issue as well. My environment is for using istio, I see exactly the same problem and same log as in this thread, do we have any hit about this?

[2019-03-15 16:27] MarcinFalkowski commented on #6297
We had some success with CLion using this tool to generate CMakeLists.txt: https://github.com/lizan/bazel-cmakelists

Clone thie tool, go to envoy sources directory and run:
`<bazel-cmakelists dir>/bazel-cmakelists --targets //source/exe:envoy-static //test/...`
Then open envoy directory in CLion. All files/classess should load properly and you will be able to use all CLion's "smart" navigation fe

[2019-03-15 20:32] pedro-tramontin commented on #5940
Hello, I would like to try to add this feature and need some guidance.
Does it make sense to check for the options host_rewrite and auto_host_rewrite and copy the original host to X-Forwarded-Host header when the change is about to happen?
Should there be any configuration that enable/disable this header?

[2019-03-15 20:47] mattklein123 commented on #6297
@lizan any interest in doing some docs in the repo on your dev setup? It would be a nice thing for the community.

[2019-03-15 21:01] jmarantz commented on #5201
/wait

[2019-03-15 21:30] lizan commented on #5215
@lavignes is libcurl dependency is your only blocker? I think we may extract that out from #5387 if that is going to be on hold for a while.

[2019-03-15 21:32] lizan commented on #6297
Thanks @MarcinFalkowski that's what I usually does, I only do smart navigation stuff and use auto completion in CLion. I haven't been able to use debugger for a while (didn't need either).

[2019-03-15 21:46] #2784 closed

[2019-03-15 22:07] moderation commented on #6281
After doing some testing the only change required to make this work is to ensure that the `docker compose` commands that build and launch the containers are using the latest Envoy images. Users without existing old images in their `docker images` list won't hit this error.

@objectiser is right in that if you have old images they won't handle the new configs.

Sequence of commands is:
[code]

@ven

[2019-03-15 22:20] venilnoronha commented on #6281
Pulling the latest copy of the Docker images worked. Thanks!

[2019-03-15 22:27] moderation commented on #6281
Jaeger Native is failing for me as the download and install of `libjaegertracing_plugin.linux_amd64.so` is busted. Will look into this. I recall it was a pain when setting up on Linux.

[2019-03-15 22:30] venilnoronha commented on #6281
Not too far and I hit another issue. I think I'm clearly missing something.

The docs don't mention anything about `docker-machine` except for the `curl` command. I assumed that I had to create a machine so I went ahead an executed the following command.

[code]

Then, when I execute the `curl` command, I observe the following.

[code]

What am I missing?

[2019-03-15 22:50] snowp commented on #6287
I believe this to be due to a race between when the list of healthy/degraded host list and the healthy/degraded per locality map is created: since we query for `host->health()` twice per host, it's possible for a single host to be inconsistently placed, which makes it possible for a priority to be selected
even though there are no healthy hosts in the healthy_hosts_per_locality map.

I'll get a PR

[2019-03-15 23:54] mattklein123 commented on #6287
@snowp how can that happen when all of the processing happens on the main thread? I don't think there is a possibility of interleaving any of that processing?

[2019-03-15 23:59] mattklein123 commented on #5940
@pedro-tramontin SGTM. I'm not sure if we want to config guard it or not. On one hand, I think it would be OK to not config guard if we only set when a host mutation happens as you point out. On the other hand, it's possible that upstreams are not expecting us to set it and we might break them. @envoyproxy/maintainers any thoughts?

[2019-03-16 00:10] snowp commented on #6287
It seems like the subset LB partitions the host list based on health, which I believe would happen on the worker threads, though I could be wrong

 That said, my fix (whenever a host list partitioning is happening, only read health() once per host) didn't seem to work so I'm back to trying to dig into what's happening here.

[2019-03-16 00:20] mattklein123 commented on #6287
OK I see if related to subset LB (I think what I said is true for everything else?). I can poke around next week if you can't find anything, though you have been working with this code much more than me recently!

[2019-03-16 03:18] moderation commented on #1861
@den-vasyliev I've uploaded a binary to a fork of mine at https://github.com/moderation/envoy/blob/c8a5e574ced826588eeca4649f51ee333967fe7c/envoy_arm64. Keep in mind that I've compiled out a bunch of extensions on this binary. It reports the following at startup.

[code]

[2019-03-16 07:13] snowp commented on #6287
Tracked this down to an issue related to degraded hosts: turns out the app was declaring itself degraded on boot, and the version of Envoy predated my addition of degraded health check events :(

Issue is that we're always using the locality scheduler for healthy localities, even if we're attempting to route to degraded hosts. I'll get a PR up with a fix

[2019-03-16 10:14] ramaraochavali commented on #6297
If you want to use vscode, this https://medium.com/@dirao/debugging-envoyproxy-on-osx-a3ebe87dc916 is useful.

[2019-03-16 11:17] snawaz commented on #3361
@wknd-dev .. how did you solve your problem? In my case, `A` calls `B` and it also propagates the non-empty headers {`x-b3-traceid` , `x-b3-spanid`, `x-b3-sampled`} . And `B` receives exactly the same thing i.e `spanid` is not different. that means the sidecars didn't create a _new_ span for the call.

[2019-03-16 13:10] objectiser commented on #3361
@snawaz It is now possible to disable shared span context (i.e. using same span id for client and server span): https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/trace/v2/trace.proto#config-trace-v2-zipkinconfig

For example: https://github.com/envoyproxy/envoy/blob/master/examples/jaeger-tracing/front-envoy-jaeger.yaml#L67

[2019-03-16 13:31] snawaz commented on #3361
@objectiser.. How do I disable that? I'm using Istio with Minikube. Can I view the current config and modify it?

[2019-03-16 13:40] objectiser commented on #3361
@snawaz Not sure if it is possible to modify, but it is defined here: https://github.com/istio/istio/blob/master/tools/deb/envoy_bootstrap_v2.json#L272

Its in master, and the 1.1 latest build - but not in 1.0.x versions.

[2019-03-16 14:08] #5521 closed

[2019-03-16 15:24] snowp opened #6301 "Race in subset LB host updates"
During host updates on the worker threads, the subset LB calls `health()` on the list of all hosts to partition to the hosts into healthy/degraded/unhealthy vectors. Since `health()` reads from an atomic
bit mask that may be modified by another thread (ie by the health checker), this may produce an inconsistent view of a given HostSet, since `health()` is called multiple times for each host.

I ca

[2019-03-16 15:53] snowp commented on #6301
(2) could be made faster by storing an `unhealthy_hosts` vector on HostSetImpl, as currently we need to iterate over both `all_hosts` as well as `healthy_hosts` and `degraded_hosts`. With a precomputed list of of unhealthy hosts, we would only have to look at each host exactly once. That said, I'm not sure if increasing the memory footprint of a cluster is worth it since it'd only be used by the s

[2019-03-16 22:08] #5842 closed

[2019-03-17 00:10] itayd commented on #5957
I'm working on it

On Sat, Mar 16, 2019, 5:08 PM stale[bot] <notifications@github.com> wrote:

[2019-03-17 03:08] #5545 closed

[2019-03-17 16:38] mattklein123 commented on #5173
Note that for searching this issue also applies to non-ADS xDS.

[2019-03-17 17:48] alexshv opened #6305 "node"
Hi guys, i am new to envoy.

[2019-03-17 17:48] #6305 closed

[2019-03-17 18:25] suhailpatel commented on #5173
@zsilver @zanes2016 Would be interested to hear if the suggested config solved your issues?

[2019-03-17 20:34] jmarantz opened #6306 "stats: TLS-cache leaks stats when clusters are removed."
Whenever a cluster is removed from Envoy via xDS update, the ThreadLocalStore::Scope will be cleaned up, and the corresponding CentralCacheEntry objects will also be deleted.

However, there are also TlsCacheEntry objects for each thread, and those will continue to reference any stats that were created for clusters, and there does not appear to be any mechanism to reclaim those map entries or GC a

[2019-03-17 22:41] mattklein123 commented on #6306
@jmarantz unless I am misunderstanding something, this is already implemented for the current code, so I do think that what you have in the other PR would be potentially considered a regression? See https://github.com/envoyproxy/envoy/blob/628d1668d7dc9244e3a8fa3d3fbabca23e92e23d/source/common/stats/thread_local_store.cc#L195

[2019-03-18 02:39] jmarantz commented on #6306
Thanks Matt; I totally missed that. I'll just fix this now in #6207 and invalidate this bug.

It does mean I need to store the rejected stat names as shared_ptr<std::string> to avoid duplicating the string stat-names for each thread.

[2019-03-18 02:39] #6306 closed

[2019-03-18 02:52] brian-pane commented on #5536
For anybody who's interested in doing some optimization work, here's a CPU profile of the latest Envoy trunk proxying small HTTP/1.1 requests and responses on Linux 4.15:
[code]

[2019-03-18 03:46] #5173 closed

[2019-03-18 09:19] tak2siva commented on #6225
@appario Hope this example helps https://gist.github.com/tak2siva/d88eabfabcdd9d142aed5e305f9dc605

[2019-03-18 12:04] jmarantz commented on #5104
I saw this again in CI in 'release' tests, with a hopefully useful backtrace.
[code]

[2019-03-18 13:11] alyssawilk commented on #5104
@soya3129 for visibility in case this isn't a general one again

[2019-03-18 13:23] jmarantz opened #6307 "stats: Remove FakeSymbolTableImpl and related helpers"
The goal of [FakeSymbolTableImpl ](https://github.com/envoyproxy/envoy/blob/master/source/common/stats/fake_symbol_table_impl.h) is to put the SymbolTable API in place. That will enable us to incrementally transform all places in the Envoy codebase where stat-names are constructed to pre-allocate at startup all StatNames constituent strings.

Once the real Symbol TableImpl is in place, encoding st

[2019-03-18 13:59] davidnarayan commented on #6246
Are you passing a client certificate with your `curl` command? It appears that your initial `curl` command did not specify one. In this case, mutual TLS would fail the handshake.

[2019-03-18 15:18] jmarantz commented on #6297
@zplinuxlover sounds like we have a few actionable suggestions for you. Please re-open if you have further follow-up questions.

[2019-03-18 15:20] jmarantz commented on #6292
@gsagula do you want to take this on?

[2019-03-18 15:30] jmarantz commented on #6264
and just for reference, https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/lua_filter is an HTTP filter.

[2019-03-18 15:32] mattklein123 commented on #6297
@jmarantz optimally I would like to get some of this in a dev doc in the repo somewhere. Can we use this to track that doc work potentially? It would be nice to have instructions for people who want to use both CLion and VScode (I think anyone else is on their own ;).

[2019-03-18 15:34] jmarantz commented on #6227
Hi @justConfused -- there are 2 related subsystems at least. One primarily protects upstreams:: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/circuit_breaking

The other primarily protects Envoy:
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/overload_manager

What is maintenance mode? I'm not familiar with that Envoy concept yet.

[2019-03-18 15:36] #5381 closed

[2019-03-18 16:22] gsagula commented on #6292
@jmarantz I would love too, this seems relevant to the stuff that I've been doing. I just need to get some other compression and ext_authz things out of my way. I guess this could be included in the compression filter that I've been working on but in a separated PR of course.

[2019-03-18 16:26] #6194 closed

[2019-03-18 20:18] alyssawilk opened #6313 "flake observed in hds_integration_test"
https://circleci.com/gh/envoyproxy/envoy/184994?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

[ RUN      ] IpVersions/HdsIntegrationTest.SingleEndpointTimeoutHttp/IPv4
[2019-03-18 16:08:42.544][24108][critical][assert] [./test/integration/fake_upstream.h:319] assert failure: parented_ || allow_unexpected_disconnects_. Details: An queued upstream connection was torn down wi

[2019-03-18 21:28] jeff-merrick commented on #5173
@suhailpatel yup this worked for us, thanks!

[2019-03-18 21:52] jmarantz commented on #6313
So....I had previously tried to switch this to SimulatedTimeSystem and that made it more flaky, so we reverted. it.  At the time -- probably a couple of weeks ago -- the testing I did at the time on my dev box, I found with RealTimeSystem there were no flakes, but with SimulatedTimeSystem it flaked.

I wonder whether there's been a regression, or whether flakes are just more likely in CI than my d

[2019-03-18 22:13] oschaaf opened #6314 "Linker option `-fuse-ld=gold` may accidentally get enforced for `clang++`"
Possible bug in genrule_repository / _genrule_environment()

Consider https://github.com/envoyproxy/envoy/blob/dba462267df2f881f676ed7eb0c31637f646add2/bazel/genrule_repository.bzl#L109
It looks like `-fuse-ld=gold` gets force added for clang++ whereas it looks like this was
only meant to be performed for `g++`

This may cause trouble with trying to perform asan/tsan/etc runs with `clang++` & `ld.

[2019-03-18 22:13] oschaaf commented on #6314
/cc @htuch

[2019-03-18 23:59] justConfused commented on #6227
Hi @jmarantz

I would like start up by mentioning, I am very new to envoy. I have been following a talk by @ccaraman

Reducing Mean-Time-to-Detection of Incidents with an Envoy Service Mesh
https://www.youtube.com/watch?v=q_psmHeXaGI

![image](https://user-images.githubusercontent.com/42451741/54570552-2a01d600-499c-11e9-89d9-69a57616ed29.png)

In the talk she mentions putting envoy in maintenance

[2019-03-19 00:10] #5889 closed

[2019-03-19 01:42] yangminzhu opened #6315 "Show secret name in /certs dump when Secret Discovery Service is used"
*Title*: Show secret name in /certs dump when Secret Discovery Service is used

*Description*:
the `/cert` admin path shows the certificate name used in Envoy and the this is very useful for debugging as it refers to the certificate used in the listener/cluster tls config.

The following is the `/certs` output when SDS is enabled:
[code]
When SDS is enabled, only `<inline>` is showed for all certs

[2019-03-19 03:54] htuch commented on #6315
Yep, seems like a legit enhancement to me.

[2019-03-19 03:55] htuch commented on #6314
Yep, this seems broken to me. @lizan @PiotrSikora @jmillikin-stripe do you recall the provenance of this?

[2019-03-19 08:44] lizan commented on #6314
`genrule_repository` is only used for FIPS BoringSSL and QUICHE so I don't think this is causing problem, and mixed use of lld and gold shouldn't cause problem with ASAN/TSAN.

[2019-03-19 11:20] oschaaf commented on #6314
Well, I did see errors like https://gist.github.com/oschaaf/978765bce763c823264d789035fa31b2, but I'm not 100% that that is attributable to what is reported here. I do know that this error will not occur when consistently enforcing `ld.ldd` usage.
It's just that I thought the observation was worth reporting, because reading the comments, it seemed like enforcing `ld.gold` when `clang++` is involve

[2019-03-19 13:46] pluqueTheLuxe commented on #129
Hi guys, do we have any updates on envoy on Windows? There seems to be a lot of pull requests but no clear status nor any documentation related to Windows.

I am looking on info to run a Kubernetes mixed-os mode with Istio and envoy as service mesh...

thanks in advance for any update!

[2019-03-19 13:57] jmarantz commented on #6313
I was not able to repro a test-flake for hds_integration_test locally with a clean up-to-date client, although it happened for me in CI.

Does anyone recall what mode this was in? tsan? asan?

[2019-03-19 14:44] mhoran commented on #129
Hey @pluqueTheLuxe! Progress is moving forward slowly but surely. #6072 is the latest PR.

We do have a fully working Envoy binary for Windows, but it is far from production ready. At a high level, the remaining work is documented [here](https://www.pivotaltracker.com/n/projects/1156164/search?q=label%3A%22envoy%20ns%20route%20integrity%22). The related work will show in the rightmost pane.

We do

[2019-03-19 15:40] jeteon commented on #886
A workaround that seems to work is to explicitly match on both a version with and without the port.

This was quite surprising to find. In my case I struggled to see why Prometheus scrape requests failed with 404s when browser (and almost everything else) checks on the same URL worked just fine. It was only when I discovered that it added the port to the domain that I found this issue.

[2019-03-19 17:05] jmillikin-stripe commented on #6314
That check was added in https://github.com/envoyproxy/envoy/pull/1884 -- that might have been before we were building with clang++ (vs just clang).

[2019-03-19 20:22] #5445 closed

[2019-03-19 20:52] wu-bin opened #6319 "Cleanup BUILD visibility for quiche build rules."
*Title*: Cleanup BUILD visibility for quiche build rules.

*Description*:
Currently, ~all quiche build rules[1][2] have public visibility, this is not ideal, it should make most of the libraries private, and only make those needed by the upcoming quic_(listener|dispatcher|session|etc.) public.

We can do this once all the quiche platform apis are implemented and unit tests passed, in other word, o

[2019-03-19 20:52] wu-bin commented on #6319
/assign @wu-bin

[2019-03-19 21:40] Diggzinc opened #6321 "Question: Front Proxy example load balancing (Docker aliases)"
*Title*: **Front Proxy example load balancing (Docker aliases)**

*Description*:
The example provided by the Envoy repository for the Front Proxy [[link](https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/front_proxy)] demonstrates a `service1` and `service2` that scale horizontally through the usage of `docker-compose scale`.

On **Step 5: Test Envoy’s load balancing capabilities** in th

[2019-03-19 23:01] mattklein123 opened #6323 "Consider default TCP keep alive for xDS connections"
Related to https://github.com/envoyproxy/envoy/issues/5173. I've been thinking about this, and I think we should consider having default TCP keep alive settings for xDS connections, with maybe an option to fully disable if it's not wanted.

I think this issue is going to hit almost everyone and we can have a better OOB experience.

Thoughts @suhailpatel @htuch @fredlas?

[2019-03-19 23:03] mattklein123 commented on #5820
I think this is fixed.

[2019-03-19 23:03] #5820 closed

[2019-03-19 23:05] mattklein123 commented on #4926
Fixed

[2019-03-19 23:05] #4926 closed

[2019-03-19 23:18] htuch commented on #6323
Yeah, seems reasonable. I wonder how this relates to gRPC keep-alive, https://github.com/grpc/grpc/blob/master/doc/keepalive.md.  You'd want to configure that for the Google client...

[2019-03-19 23:41] sschepens commented on #6323
We were affected by this issue, we're about to add grpc healthchecks to our controlplane clusters.

By the way, this happens for both sides, if a client abruptly dies, ControlPlanes will fail to notice since the connections don't terminate normally. We fixed this with grpc keepalives on the ControlPlane since at least grpc for Java supports this.

It would be great to add better out of the box beh

[2019-03-20 01:00] moderation commented on #6281
@venilnoronha I've done a bunch of testing on this and I think we should drop any reference to `docker-machine`. It is not required to run any of the sandboxes and adds to confusion and difficulty of getting the sandboxes running.

So you can replace `$(docker-machine ip)` and `$(docker-machine ip default)` with `localhost` and everything should work.

Lastly I found bugs like the front envoy in t

[2019-03-20 04:52] #3520 closed

[2019-03-20 06:10] suhailpatel commented on #6323
I would be in favour of default TCP for XDS and I don’t think it’d be a breaking change.

gRPC Keep Alives are useful but ideally we’d have this for REST too to provide a consistent view for all xDS connections.

Want me to pick this up? I can look at the gRPC Keep Alives if time permits as an addition to Envoy.

[2019-03-20 12:31] #5874 closed

[2019-03-20 14:44] jmarantz commented on #6313
I dived in a bit more to remind myself why SimulatedTimeSystem didn't eliminate all flakes. My current suspicion is with GuardDogImpl::waitFOrDetectStop() which calls waitFor, which means in simulated time you have both mainline test-thread and worker threads advancing time, which is going to be hard to predict.

I had earlier left a TODO in there to try to convert it to use a timer callback inste

[2019-03-20 14:47] jmarantz commented on #6314
Are we in agreement that this is a problem? Who should own it?

[2019-03-20 15:39] mattklein123 commented on #6313
@jmarantz FWIW ^ is very similar to what you and I were discussing offline yesterday.

[2019-03-20 15:43] mattklein123 commented on #3149
Done

[2019-03-20 15:43] #3149 closed

[2019-03-20 15:45] mattklein123 commented on #5742
This was merged so I think we support this again.

[2019-03-20 15:45] #5742 closed

[2019-03-20 15:47] mattklein123 commented on #3951
I'm going to fix this in the context of https://github.com/envoyproxy/envoy/issues/4052

[2019-03-20 15:51] fredlas opened #6327 "More flexibility in choosing static vs dynamic config in integration tests"
In discussion on #6214, @alyssawilk outlined a nice redesign of the integration testing framework's interaction with configs. Here are the relevant comments:

This issue will track that work.

[2019-03-20 15:52] mattklein123 commented on #4052
I just posted this to #envoy-users in Envoy slack. Please let me know if anyone has any feedback.

[code]

[2019-03-20 16:14] mattklein123 commented on #2901
@htuch @PiotrSikora @jrajahalme what's the status of this one?

[2019-03-20 16:15] mattklein123 commented on #4280
@snowp is this issue still being worked on or is it complete? I know you have been doing a lot of work in this area.

[2019-03-20 16:17] mattklein123 commented on #4605
This is already complete.

[2019-03-20 16:17] #4605 closed

[2019-03-20 16:19] mattklein123 commented on #4616
@derekargueta any chance of getting this deprecation complete before we cut 1.10.0? Thank you!

[2019-03-20 16:20] mattklein123 commented on #4618
@dio any chance of getting this deprecation completed before we cut 1.10.0? Thank you!

[2019-03-20 16:22] mattklein123 commented on #5379
@alyssawilk all clear on this one!

[2019-03-20 16:24] mattklein123 commented on #6190
I will try to fix this before we ship 1.10.0

[2019-03-20 16:30] mattklein123 commented on #6323
Agreed, I think TCP keep alive should work for all cases, unless the user's environment does not support it. (Though is that even possible given how it's implemented?)

That would be fantastic. I think we should probably define some sane defaults for xDS connections, and then allow the user to override them if they desire. This will probably take a little bit of thought in terms of how to implemen

[2019-03-20 16:32] ramaraochavali commented on #6323
I am interested in how this comes up. Can we create a google doc and we can discuss there?

[2019-03-20 16:33] snowp commented on #4280
It still on my TODO list but unfortunately I've been pretty busy lately. The two missing pieces are:

1) Decouple locality/priority from the Host object so that a single Host can be in multiple localities/priorities.
2) Wire up the named endpoints to host updates. This will require some non-trivial changes to keep
track of added/removed hosts, especially since hosts can be retained in the HostSet

[2019-03-20 16:39] mattklein123 commented on #4280
@snowp np will move this into the 1.11.0 milestone.

[2019-03-20 16:40] mattklein123 commented on #6323
@ramaraochavali which parts do you want to discuss in the doc? The settings we will use, the implementation details, or both?

[2019-03-20 16:45] #5201 closed

[2019-03-20 17:00] bndw commented on #4052
A similar approach with two dockerhub repos, inspired by (2), could be as follows:

### envoyproxy/envoy
Images tagged for official Envoy releases. The `latest` tag points to the latest Envoy release.

Examples:
* `envoyproxy/envoy:v1.9`
* `envoyproxy/envoy:latest` -> `envoyproxy/envoy:v1.9`

### envoyproxy/envoy-dev
Images tagged with the GITSHA for every commit in master. The `latest` tag points

[2019-03-20 17:08] derekargueta commented on #4616
Just started picking this back up yesterday :)

2 PRs on the way:
1.  Convert all the router config_impl tests to the v2 API (makes testing this easier since the v1->v2 translation code doesn't really differentiate between route action and route, which is where I got lost last time) - almost done, just a few more tests left.
2. Actually remove this feature, with the first PR being very helpful in

[2019-03-20 17:28] mattklein123 commented on #4052
I hashed out ^ with @bndw in slack and this makes sense to me unless there are community objections. I will start working on this in parallel.

[2019-03-20 18:29] #4052 closed

[2019-03-20 19:31] #5819 closed

[2019-03-20 19:35] #6288 closed

[2019-03-20 19:49] jrajahalme commented on #2901
@mattklein123 `use_original_dst` is still in the v2 API, but marked deprecated. Depending on the status of the v1 API it can be either removed, or moved into `deperecated_v1` so that v1 API can still be supported.

[2019-03-20 20:32] lizan commented on #6314
@oschaaf what is your environment and the revision you're building? bazel itself does also add gold flags.

[2019-03-20 20:41] rene-m-hernandez commented on #4654
Hi all, please see my latest comment: https://groups.google.com/d/msg/envoy-users/lf2up8V2Cn8/7ItTCWBQBwAJ

[2019-03-20 20:51] derekargueta opened #6333 "M:N zone aware routing"
*Title*: M:N zone aware routing

*Description*:
Currently zone aware routing is only supported if there are equal numbers of zones for both the client and server per the documentation. It'd improve flexibility if zone aware routing can occur between M client zones and N server zones, such as if a particular service fails in one zone, the client could still try to optimize routing locally.

This se

[2019-03-20 20:55] lavignes commented on #5215
@lizan Yeah. I'm fine with that. I'll just base off of the curl dependency in #5387. I'll try and send out another pull request next week.

[2019-03-20 21:03] oschaaf commented on #6314
I was running via docker to get the sanitizers operational in CI over at envoy-perf/nighthawk:
https://github.com/envoyproxy/envoy-perf/pull/38/files#diff-46c5b50ff7d54293b9113c7502fc4a3dR74

The docker image is `envoyproxy/envoy-build:b3995b7c5e3846f80f6f09436043ec4c8c8f762a`.
The envoy last Envoy version I tried was https://github.com/envoyproxy/envoy/commit/0286b82280d33d39b5fec7dbc6be34d2fc943

[2019-03-20 21:16] mattbailey opened #6334 "Swagger/OpenAPI generated documentation from gRPC-JSON transcoder"
*Title*: *Generating swagger or openapi json from gRPC-JSON transcoder*

*Description*:

*Relevant Links*:

[2019-03-20 21:21] lizan commented on #6314
@oschaaf from https://github.com/envoyproxy/envoy-perf/pull/38/files#diff-46c5b50ff7d54293b9113c7502fc4a3dR74 I don't see anywhere that you're setting `-fuse-ld=lld`? in envoy repo we do it here https://github.com/envoyproxy/envoy/blob/3d3f3afb14d5ff395d71ef546f95a42e5b40057f/ci/build_setup.sh#L67

[2019-03-20 21:24] jmillikin-stripe commented on #6314
Independent of where `-fuse-ld=lld` is being set, the original question ("is `clang++` supposed to activate special cases intended for GNU GCC's `g++` command") remains.

The comment around the relevant line describes it as a workaround for ancient versions of GCC, so I think the answer is clearly "it should not apply to `clang++`.

[2019-03-20 21:29] oschaaf commented on #6314
@Lizan Sorry, I should have mentioned that earlier, but when reverting to the hack I mentioned above, I effectively threw in the towel, and backed out my (messy) attempts to get the right flags passed down to all dependencies.

[2019-03-20 21:34] lizan commented on #6314
@jmillikin-stripe yeah I agree that it should not apply to `clang++` though I don't think we're actually hitting that code path.

[2019-03-20 21:41] zandbelt commented on #3124
I have been working on an [OpenID Connect Lua filter](https://github.com/zmartzone/lua-envoy-openidc) that would really be helped with per-route config.  Curious to see where this is at.

[2019-03-20 22:00] #5379 closed

[2019-03-20 22:07] mattklein123 commented on #6333
@derekargueta agreed it would be nice to have this work if someone wants to do the extra algorithm work.

[2019-03-20 22:15] venilnoronha commented on #6281
Yes, `localhost` instead of `$(docker-machine ip)` actually worked. Awesome, thanks!

[2019-03-20 22:18] venilnoronha commented on #6281
I've tested both Jaeger Native and Zipkin tracing sandboxes.

[2019-03-20 22:23] mattklein123 commented on #2901
@jrajahalme v1 API is dead, so we can just remove it. Is the idea here that anyone using this should manually configure the listener filter? I'm mostly just trying to understand that this is tracking. :)

[2019-03-20 22:35] mattklein123 commented on #6334
cc @lizan seems like an interesting potential enhancement.

[2019-03-20 22:43] mattbailey commented on #6334
Is there a current-best-practice way to currently inspect the request/response shape of the generated API transcoding filter?

[2019-03-20 23:13] #6287 closed

[2019-03-20 23:40] htuch commented on #6323
This is true, but when the user configures the Google gRPC client, these TCP keep alive settings are not used..

[2019-03-21 00:31] #5697 closed

[2019-03-21 01:11] moderation commented on #6321
You are correct that this doesn't demonstrate the clustering capabilities and I'm guessing that is a typo. I've created https://github.com/envoyproxy/envoy/pull/6337 to correct this to 'load balancing'. However the sandbox does show the front-envoy load balancing across the scaled service_1 containers as described. The front proxy resolves the service_1 DNS and as the number of instances increases

[2019-03-21 02:22] ramaraochavali commented on #6323
both actually. In the implementation, for example how this would for Google gRPC client as @htuch  mentioned and very high level implementation. If gDOC is too heavy, I am OK putting some high level  approach (settings + implementation in the issue here it self)

[2019-03-21 03:11] #6281 closed

[2019-03-21 03:14] mattklein123 commented on #6323
Agreed with @ramaraochavali that lets do a writeup either in a gdoc or here with what we propose doing, there are a bunch of things to think about.

I'm wondering if we should have some type of config option "disable_keep_alive" on a config source (so that it defaults to true) and then we somehow plumb this into both the google client and the async client. It's actually possible we could do this w

[2019-03-21 03:19] mattklein123 opened #6338 "Move XDS_PROTOCOL.md into sphinx docs"
https://github.com/envoyproxy/envoy/blob/master/api/XDS_PROTOCOL.md

We should port this into the sphinx docs. It will be more discoverable, allow direct ref linking, etc.

cc @htuch @ramaraochavali

[2019-03-21 03:25] ramaraochavali commented on #6338
/assign @ramaraochavali

[2019-03-21 03:26] ramaraochavali commented on #6338
@mattklein123  I will take it when I get some time.

[2019-03-21 03:26] mattklein123 commented on #6338
@ramaraochavali awesome no rush. Thank you!

[2019-03-21 06:26] Diggzinc commented on #6321
Thanks for the explanation, I wasn't aware that Envoy would take in consideration the endpoints provided by the DNS resolution in order to load balance. I was thinking that it would just relay the request for the first one that got resolved and so it wouldn't participate in the balancing process, but it seems I was mistaken.

I'll close this issue since the question was answered and possible corre

[2019-03-21 06:26] #6321 closed

[2019-03-21 14:18] #6163 closed

[2019-03-21 14:30] klarose commented on #6323
Is there a simple way to determine whether a cluster is an xDS cluster from its cluster config? If so, we could probably just default the keepalives to true in `parseClusterSocketOptions`, which returns any options to be used for the upstream connection.

[2019-03-21 14:46] #6128 closed

[2019-03-21 14:47] htuch commented on #6338
+1, this makes sense, will need to make sure the sequence diagrams etc. transfer over.

[2019-03-21 15:47] phylake commented on #5368
(I looked for a related issue and didn't find one)
What about for retries? Those would have to be fully buffered in envoy for it to retry, correct? If so, where does that happen? I need to add a setting to cap the size of a request that can be retried.

[2019-03-21 17:08] stanley-cheung opened #6344 "envoyproxy/envoy:latest tag gone from docker hub"
**Issue Template**

*Title*: envoyproxy/envoy:latest tag gone from docker hub

*Description*:

The envoyproxy/envoy:latest tag seems to be gone from the docker hub repository

[code]

[2019-03-21 17:41] moderation commented on #6344
@stanley-cheung This is probably related to the recent changes announced at https://groups.google.com/d/msg/envoy-users/9OZ3-lu0TSk/wc9jQc2zAQAJ.

@mattklein123 I presume the missing `:latest` tag is a short term blip? If not we'll need quite a few doco changes.

[2019-03-21 18:03] davidblum commented on #6344
Seeing the same issue.

Current work around is to use the latest tag: `36f39c746eb7d03b762099b206403935b11972d8`

https://hub.docker.com/r/envoyproxy/envoy/tags

[2019-03-21 18:05] mattklein123 commented on #6344
Sorry about this. I will manually add a latest tag which points to 1.9.0. If you actually want the most recent latest, please switch to envoy-dev per the docs. Will report back when fixed.

[2019-03-21 18:25] rbkumar88 opened #6345 "TCP Proxy Load Balancing"
Title: Envoy Support for TCP Proxy Load Balancing for long-lived connections

Description: If one of the upstream endpoint (load balanced) goes down, does envoy make sure it keeps the TCP connection alive using any other live/healthy upstream endpoint.Our use-case is to use envoy as edge proxy and we don't want want the TCP connection to be dropped at all in case of upstream restarts/patches.

[2019-03-21 19:20] 4F2E4A2E opened #6347 "envoyproxy/envoy-alpine:latest not found"
Docker image `envoyproxy/envoy-alpine:latest not found` :  https://github.com/envoyproxy/envoy/blob/master/examples/front-proxy/Dockerfile-service#L1

[code]

[2019-03-21 19:25] mattklein123 commented on #6347
Fixed:
[code]

Please use the dev repo per the announcement if you want master builds.

[2019-03-21 19:25] #6347 closed

[2019-03-21 19:56] benishak opened #6348 "Envoy::Router::PrefixRouteEntryImpl::matches() Caught Segmentation fault, suspect faulting address"
**Bug Template**

*Title*: *One line description*

*Description*:
I try to run Envoy on AWS EC2 c5n.9xlarge with Gloo on Kubernetes,
I run it on production to serve 2,000,000+ RPM (http+https)
after running it for 10min, it crashed.

I have 2 listeners
- HTTP
- HTTPS

both are configured with the following routers
- 0: /path1 -> static host
- 1: /path.php -> static host
- 2: / -> dynamic to Kubern

[2019-03-21 20:01] benishak commented on #6348
CPU and Load were fine during the run
But I noticed high DIsk Write IO around 350Mbps before it crashed

[2019-03-21 20:29] derekargueta commented on #6333
@mattklein123 we have an internal implementation in Finagle that is quite similar to Envoy's, with additional handling for the cases where the number of zones mismatch.

@fishcakez @jparise thoughts on creating a publicly available version of the design and providing an implementation to Envoy?

cc @rgs1

[2019-03-21 20:35] suhailpatel commented on #6323
I'll get started on a Google Doc this weekend and share it around. I was thinking checking in the XDS layer if connections had some sort of health check enabled and to force it with some defaults unless explicitly configured to disable at the XDS config layer. That was my naive thinking from the last time I looked at the XDS layer. I'll have another rummage at the source and propose something.

On

[2019-03-21 20:39] yuval-k commented on #6348
looking at the code its hard to see what can be the issue - let me get a new version of envoy-gloo compiled against latest upstream, and then would you mind testing again?

[2019-03-21 20:47] mattklein123 commented on #6333
@derekargueta FWIW I doubt this would be difficult to implement in Envoy, even without any example code open sourced. I think the math is pretty straightforward. Someone just needs to work on it. (Working code would be nice also though!)

[2019-03-21 20:53] msarajam opened #6349 "rate limit panic"
the Envoy is panicing when any client is trying to connect to it , it is happening after adding rate_limit to the yaml file :

this is the part that i added :

    filter_chains:
      filters:
      - name: envoy.ratelimit
        config:
          domain: rate_limit_test
          stat_prefix: "/rate_limit"
          timeout: 2s
          failure_mode_deny: true
          descriptors:

[2019-03-21 21:09] mattklein123 opened #6350 "upstream_rq_total is not consistent during H1 and H2 circuit breaking"
For the HTTP/1 connection pool, we increment upstream_rq_total even if the request ends up being circuit broken. For the HTTP/2 connection pool we do not.

This is confusing and we should fix this to be consistent, one way or the other.

cc @danielhochman @junr03

[2019-03-21 22:46] lizan commented on #6334
Yeah it is an interesting enhancement. @mattbailey can we just re-use the [`protoc-gen-swagger`](https://github.com/grpc-ecosystem/grpc-gateway/tree/master/protoc-gen-swagger) from grpc-gateway, and serve the generated `openapi.json`, if so probably just add docs for that is enough.

[2019-03-21 22:47] mattklein123 commented on #6349
I think this is because you have not setup an upstream rate limit server, and you are probably using a build that is an intermediate state with no required annotations. Can you try current master and I think you will get an error?

[2019-03-21 22:49] mattklein123 commented on #6348
Would be useful to get a core dump or at least a back trace with full symbols.

[2019-03-21 22:54] mattklein123 commented on #6348
Also, I see a non-OSS Envoy filter in the call-stack, so you might want to move this issue over to Gloo for now.

[2019-03-21 23:00] mattklein123 commented on #6227
The above documentation points to how to use runtime (typically via a file system) to have Envoy automatically respond with a 503 (known as "maintenance mode"). There is also a plan to have this be part of the config that can be served via EDS, where it is known as "drop overload" but the concept is the same: https://github.com/envoyproxy/envoy/issues/1355. Today this is only doable via runtime. (

[2019-03-21 23:25] yuval-k commented on #6348
I'm on this - hopefully will update soon.

[2019-03-21 23:34] spenceral commented on #6350
I can do this, I was just touching nearby code. I'll get @snowp to help me if I need backup.

[2019-03-21 23:51] jmarantz commented on #6313
This bug is about how hds_integration_test.cc is a little flaky with real-time. #6239 is about how the same test is even flakier with simulated time. Tying these together with this comment.

[2019-03-21 23:57] jmarantz commented on #6239
Current theory: the comingling of real-time in guarddog_impl.cc introduces uncertainty In a client where I have converted guarddog_impl.cc to use simulated time, there is a test failure that I think is the fault of guarddog_impl_test.cc. That test can be made to fail with the current implementation by introducing a real-time 1 second sleep at the end of KillNoFinalCheckTest or MultiKillNoFinalChec

[2019-03-22 00:14] yuval-k commented on #6348
I'm reasonably sure that the error is due to lack of null check here:
https://github.com/envoyproxy/envoy/blob/9a2cd6bf887b91a9af49df7e9df6ad89d7e6167a/source/common/http/conn_manager_impl.cc#L1064

I suspect that under the load the stream idle timeout reaches before the headers are transmitted, which triggers the timeout. the request_headers_ are still null at this point which will trigger a cras

[2019-03-22 00:22] msarajam commented on #6349
I'lll try that , thanks

[2019-03-22 00:57] yuval-k commented on #6348
I've confirm that `request_headers_` are indeed null;

I was able to reproduce this by running envoy with `stream_idle_timeout: 1s` and then running this command `(echo GET / HTTP/1.1; sleep 3)|nc 127.0.0.1 10000` (where envoy listens on 10000)

This causes the idle time-out to trigger before any headers were received. This triggers a local reply as part of tearing down the connection.
The transfo

[2019-03-22 02:45] odg0318 opened #6353 "Reload configuration without quit process"
*Title*: *Reloading configuration without quit envoy process*

*Description*:

*Relevant Links*

[2019-03-22 03:21] larrywest opened #6355 "jwt_authn filter to extract JWT from a configurable field in Authorization or similar header"
*Summary*: an enhancement to allow the jwt_authn filter to extract the JWT from a configurable field in the Authorization or similar header

*Description*: Where I work, we use a variation of the bearer-token Authorization header,
with the JWT as one of several fields, and not usually the final one. This isn't supported by the current jwt_authn filter.

In the current version of `ExtractorImpl::ex

[2019-03-22 03:42] mattklein123 commented on #6348
@yuval-k yes agreed, makes sense. Please make sure to add an HCM unit test that covers this case.

[2019-03-22 04:06] mattklein123 commented on #6353
Envoy does not work in quite the same way. It uses a dynamic configuration system called xDS. One of the xDS options is to watch configuration files on disk and reload them.

See https://www.envoyproxy.io/docs/envoy/latest/configuration/overview/v2_overview and https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/config_source.proto#core-configsource

[2019-03-22 08:09] AleksandarFilipov commented on #1861
@moderation. Thank you for sharing your binary, I'll try and use it.
This thread is long and there are loads of references which most seem to resolved. However it's still unclear to me where this is going. Could i kindly ask some someone to summarize whats going on.

[2019-03-22 10:01] #5892 closed

[2019-03-22 13:16] htuch commented on #5355
FWIW, this also covers the use of `use_original_dst`, another deprecated field that was slated for upcoming  default fatal-on-startup. We need to preserve both until we have Istio migrate to this.

@PiotrSikora @costinm can you provide an updated statement on what time frames we should be intending to drive this deprecation in FTR?

[2019-03-22 13:41] PiotrSikora commented on #5355
@silentdai is working on this.

[2019-03-22 14:29] htuch commented on #5355
Yep, I'm just wondering if we can get an agreement on which release version we're all comfortable with deprecation taking place in?

[2019-03-22 15:01] #5810 closed

[2019-03-22 15:28] mattbailey commented on #6334
@lizan that was my initial approach, but I have no way of knowing that `protoc-gen-swagger`, which is intended to document protoc-gen-gateway's transcoding, produces the same API. Although it was modeled after it, gRPC-JSON doesn't use `protoc-gen-gateway` under the hood right?

Might be enough for a stop-gap, but I'd be worried changes in envoy or `protoc-gen-gateway/swagger` either do now, or ma

[2019-03-22 16:01] #3434 closed

[2019-03-22 17:01] #5935 closed

[2019-03-22 18:42] moderation commented on #1861
@AleksandarFilipov The instructions on the snippet are now longer required. I will update the snippet to reflect that. Building for aarch64 just works using the latest Bazel and Envoy master. No modifications are needed.

What hasn't been worked out is the automatic building and publishing of aarch64 binaries and container images. The folks at Tetrate may provide these through https://www.tetrate.

[2019-03-22 18:43] gdheller42 commented on #6119
I have the same issue with ext_authz. When I remove or update the ext_authz service. (I run 2 instances in a cluster), the client may have to do multiple retries before the removed service endpoint is properly removed from load balancing. Can the filter be configured to do retries much as a route would. I don't believe the status code received by the downstream would need to be changed in this cas

[2019-03-22 18:48] dio commented on #5974
@gsagula WDYT?

[2019-03-22 18:55] vielmetti commented on #1861
@moderation - there are a couple of CI systems running at Packet that have native support for arm64 builds - Drone, Codefresh, and Shippable.

I am very glad to hear that the build just works, that's tremendous progress.

[2019-03-22 19:00] gsagula commented on #5974
I actually have this already in the pipe, but sadly I haven't seen this question before. I think it's a great enhancement. What I have is exactly the same retry policy already implemented in Envoy:
[code]

[2019-03-22 19:37] dio commented on #4618
@mattklein123 OK, will try to do this ASAP.

[2019-03-22 20:49] gsagula commented on #5974
@enbohm Just out of curiosity. Did you try any of these retry strategies:
https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#envoy-api-field-route-routeaction-retry-policy
https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#envoy-api-field-route-virtualhost-retry-policy

[2019-03-22 22:01] #5894 closed

[2019-03-22 22:54] mattklein123 opened #6361 "Snap docs/configs/image versions"
Related to https://github.com/envoyproxy/envoy/pull/6357. We have two different user bases:
1) People that run master
2) People that run tagged versions

We need to do a better job of having a consistent state that works for people. I think this will involve setting up some templating so that when we build the docs, we snap to a specific SHA for everything, including the image tags. This will need

[2019-03-22 22:59] derekargueta opened #6362 "Convert v1 JSON test configs to v2 YAML"
Opening this as a top-level tracking ticket for some of the work I've been doing (#6332 and #6354) of converting test configs from v1 JSON to v2 YAML.

After this ticket is completed, the only remaining uses of the v1->v2 translation code should be the `createFilterFactory` v1 interface method for filters and maybe some of the tangential tooling in `test/tools`.

A quick git grep suggests that mos

[2019-03-22 23:00] mattklein123 commented on #6362
HERO HERO HERO

[2019-03-22 23:06] derekargueta commented on #6333
It's not yet clear if we can provide code. Agreed it's fairly straightforward, but since I'm well-versed in our internal implementation I think I'll pass on pursuing this as a precaution, so for now consider this an open invitation for a volunteer 🙂

We _are_ looking at helping out with https://github.com/envoyproxy/envoy/issues/5598

[2019-03-22 23:24] dbhoot opened #6363 "front-end proxy example doesn't run"
*Title*: *front-end proxy example doesn't run because 'Proto constraint validation failed'*

*Description*:
I'm new to Envoy and decided to start by following the tutorial here: https://www.learnenvoy.io/articles/on-your-laptop.html

Following the instructions, when I bring up the example proxy using docker-compose, the containers exit. The logs show the following:

2019-03-22 23:04:43.651][000007

[2019-03-22 23:29] drao9 opened #6364 "Add a route name field to each route in route.Route list (HTTP route)"
**Issue Template**

*Title*:  Add a route name field to each route in route.Route list (HTTP route)

*Description*:
This is a feature request for adding a name field to the http routes. It would be enabled by default but if the name is not specified in the config, then it won't be enabled. This feature has helped us a lot with logging and debugging at eBay. One of the use cases is when there are 1

[2019-03-23 00:01] yifan-gu commented on #6363
Same here, I think the current `envoyproxy/envoy:latest` image is not working.
`envoyproxy/envoy-dev:latest` works so far.

[code]
Ref https://github.com/envoyproxy/go-control-plane/issues/151

[2019-03-23 00:09] mattklein123 commented on #6363
Please see https://github.com/envoyproxy/envoy/issues/6361 and https://github.com/envoyproxy/envoy/pull/6357. Sorry for the trouble while we figure out how to support both master and tagged use cases.

[2019-03-23 00:21] FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg opened #6365 "Redis Proxy supports pipelined commands, but does not batch commands to Upstream"
Envoy supports Redis pipelined commands, but does not batch commands. By batching, I mean when non-pipelined or pipelined commands are sent through Envoy, Envoy should not send them upstream to Redis until a certain number of commands has been received, and then write them to the connection buffer for a particular upstream Redis in one go.

Here are our scenarios and how we handle them currently:

[2019-03-23 00:51] yifan-gu commented on #6361
@mattklein123 Thanks for the response on #6363 !

Yeah, was a little bit surprised when seeing the `envoyproxy/envoy:v1.9.0` tag has changed to point something that's built just 2 days ago.

IMOH, once tagged with `major.minor.patch` I won't expect it to change..

[2019-03-23 01:33] derekargueta commented on #3326
Interested in picking this up. I suppose this involves adding a deprecation notice when running with the `--service-*` CLI args, followed with removal of these args?

[2019-03-23 07:18] enbohm commented on #5974
@gsagula I've tried retry polices but that did only retry when the targeting service/cluster was failing not the authorization request. For instance, the below config does retry when "my-service" fails:
[code]
but I can't figure out how to make my auth-service to inherit this policy. Currently, my auth. config looks like
[code]
I'd like to be able to configure it something like this:
[code]
but th

[2019-03-23 07:34] #5944 closed

[2019-03-23 12:51] odg0318 commented on #6353
@mattklein123 I already read the documentation you refered. As I undertand, I can reload(actually service discovery) ti configure target hosts as upstream not total configuration.
Please let me know something wrong I am saying

[2019-03-23 16:19] mattklein123 commented on #6364
@drao9 yes I think this would be very useful to a lot of people. (This has come up at Lyft also.) It could also be the basis for allowing optional per-route stats also.

[2019-03-23 16:20] mattklein123 commented on #6365
@FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg I talked about this offline with @HenryYYang but can you describe how you are going to handle low rate requests? Are we going to use a flush timer? Some other algorithm? Otherwise this makes a lot of sense to me in high rate scenarios.

[2019-03-23 16:33] mattklein123 commented on #6361
I don't think the tag has changed. What changed is `latest` no longer points to the master build but points to v1.9.0.

[2019-03-23 16:34] mattklein123 commented on #3326
@derekargueta yup

[2019-03-23 16:35] #6350 closed

[2019-03-23 22:34] SecurityInsanity commented on #6026
Should probably mention we're still looking at supporting this PR to envoy, and integrating upstream. We've just had some other priorities first.

[2019-03-23 22:42] jmarantz commented on #6239
The guard-dog changes to fully embrace the time-system abstraction do not themselves enable hds_integration_test.cc to use simulated time robustly (and thus hopefully deflake it). However I think the pattern of change in guard_dog_impl.cc in #6369 is what's needed in the integration test infrastructure. This involves converting a cond-var timed wait into a timer callback on a dispatcher, plus a ti

[2019-03-24 16:10] gdheller42 commented on #5974
GRPC Service as well... Something like this:

         - name: envoy.ext_authz
            config:
              grpc_service:
                envoy_grpc:
                  cluster_name: authorization
                timeout: 5s
                retry_policy: {"retry_on": "5xx", "num_retries": 3}
              failure_mode_allow: false

[2019-03-24 16:50] Frodox commented on #6001
bump

[2019-03-24 17:12] sambercovici commented on #4272
I concur, this is really exiting. Can you share any progress on the design / PRs?
Do you plan to address the required ABI so that the WASM code can interact with Envoy?
Do you also plan to address xDS extensions that can be done to configure such WASM modules?

[2019-03-24 19:29] #5969 closed

[2019-03-25 00:53] difro commented on #6016
I'd like to tackle this, by adding ```outlier_detection.max_ejection_time``` (maximum time that a host will be ejected for. Default is 0 which means no maximum limit)

Can anyone tag this, so it doesn't get stale..

[2019-03-25 01:29] #5937 closed

[2019-03-25 02:36] DevoKun commented on #5998
Please do not close this feature request. This is still relevant.
How do I tag this _"help wanted"_ so that the bot doesn't close the issue?

[2019-03-25 03:16] dio commented on #5998
@DevoKun gotcha!

[2019-03-25 11:14] goith commented on #6363
i found Dockerfile-service  doesn't run in this example.

[2019-03-25 11:24] goith commented on #6363
resovled,  Dockerfile-service image also need change to  envoy-alpine-dev.

[2019-03-25 13:18] bitsofinfo commented on #886
Anyone have a workaround for Envoy based gateways configurable via kubernetes Ingress configs which gives the following if you try to qualify w/ port which is not permitted?

[code]

[2019-03-25 15:00] bndw commented on #6361
The release tag has not changed

[code]

[2019-03-25 15:22] bndw commented on #6361
re: templating and GITSHAs-

Would this approach work for releases, where we use the tag instead of the sha? We build on both events so it seems possible. I think maintaining friendly release tags in the release docs would go a long way for user experience.

If it was the case that the following was true:
- All commits to master have docs with an `envoyproxy/envoy-dev` image
- All releases have do

[2019-03-25 15:29] htuch commented on #6323
@suhailpatel I'm not sure what all the knobs are for Google gRPC C core keep-alive configuration, the main thing to keep in mind is that it doesn't use Envoy's TCP connection factories and hence we don't have any of the tuning options that exist Envoy-side out-of-the-box.

[2019-03-25 16:33] #6348 closed

[2019-03-25 16:44] mattklein123 commented on #6361
@bndw we do already build tagged docs. See here: https://www.envoyproxy.io/docs

We still have more to do though, because some of those docs refer back into the repo which links to master. I think some of this is pretty easy to fix.

1) We can make the `:repo:` link use the git SHA of the doc build. I can do this today.
2) I think for anthing that refers to docker images, we need to use the SHA an

[2019-03-25 16:50] mattklein123 commented on #6016
@difro sgtm

[2019-03-25 16:52] fredlas commented on #5270
I have a mostly-done implementation of aggregated delta xDS that is built along the lines of the "GrpcXdsContext" approach described above. It entails de-templatizing the existing xDS code, which is by itself a nice (and surprisingly simple!) cleanup. Once everything is de-templatized and that implementation is submitted, I will look at reimplementing vanilla xDS in the same style as the new imple

[2019-03-25 17:11] robertpanzer opened #6373 "Segfault with envoy.lua plugin on OSX"
*Title*: Running Envoy built with `-c opt` on OSX segfaults for me with the most simple Lua scripts

*Description*:
Envoy crashes with a SegFault on the first request.
The message I see looks like this:
[code]

*Repro steps*:
Build Envoy on OSX like this:
[code]

Then create the config below and start envoy with `bazel-bin/source/exe/envoy-static.stripped -c test-envoy.yaml`.

After that send a re

[2019-03-25 17:23] robertpanzer commented on #6373
For reference I currently have 80ff3651fc7e21bf1153be6f499136412146a105.