[2018-05-16 22:42] mattklein123 commented on #1413
About a year after opening this, I'm ready to get going. I wrote a short design doc. Please comment! https://docs.google.com/document/d/1fgVAH8BMrq_5dt8m54Rxp0OGXt6WlNUsAW0xGlBOkJs/edit#

[2018-05-16 22:45] PiotrSikora commented on #3410
I'd argue that there is little to no-value from performing non-TLS health-check on a TLS server.

Why do you need that?

[2018-05-16 22:47] mattklein123 commented on #3410
I tend to agree with @PiotrSikora but either way it's not supported currently.

[2018-05-16 23:25] rene-m-hernandez commented on #3410
The situation I have is that I have an application deployed to a single IP, listening on multiple ports: one is secured, one is not. Plus, it is listening on a third, non-secure port for health check because I see no reason to secure it. Maybe better described as a heartbeat in my case: it doesn't trigger/execute functionality that needs to be secured nor does it return anything of value (200/503)

[2018-05-17 03:41] clnperez commented on #1861
I'll try and help. I don't have much ARM experience but a coworker does. So we'll try to put our heads together on this one. Any progress we can make would be great. We'd also like to have a ppc64le docker image.

wonder twins unite?

My first guess is that something in cc_configure works differently for ARM. I ran into some things where, when using certain flags, gcc would behave differently for

[2018-05-17 13:08] alanconway opened #3415 "AMQP/HTTP bridge"
*Title*: AMQP/HTTP bridge for envoy

*Description*:

AMQP (http://www.amqp.org/) is a popular standard protocol for messaging middleware. It supports many patterns of asynchronous message exchanged (brokered queues, peer-to-peer, routed etc.) including the request-response pattern used by HTTP. The idea is to bridge between AMQP request/response and HTTP. Other messaging patters possible in AMQP a

[2018-05-17 14:10] username1366 opened #3416 "Can't remove server, date and content-length headers via Lua script"
*Title*: *Can't remove server, date and content-length headers via Lua script*

*Description*:

*Config*:
[code]

[2018-05-17 15:34] yuval-k opened #3417 "router: regex path matcher doesnt work with filters that change the path"
When using regex in the route matcher, one cannot use filters that change the request path (json-grpc transcoder for example).

The reason is this ASSERT:
https://github.com/envoyproxy/envoy/blob/01fef5ba2d09c3b501ee89b645998a47e70cd44d/source/common/router/config_impl.cc#L655

This assert makes sure the path still matches. the problem with it that this assert is performed even if the path does no

[2018-05-17 16:02] ufodone commented on #2436
@rgs1 I'll have to look into the details a bit more but at first glance I think I could use to to fulfill my use case.  I'd originally wanted to avoid writing a custom filter so that a vanilla envoy executable could be used but that's probably less important now as the deployment of such instances will be more contained than I'd originally thought.

I'd been planning on using a LUA filter so I sup

[2018-05-17 16:08] llchan opened #3418 "Support multiple TLS certificate verification hashes"
*Title*: *Support multiple TLS certificate verification hashes*

*Description*:
This is a known [TODO](https://github.com/envoyproxy/envoy/blob/690c6ede801b065b3689b9761cff95c968aeb829/source/common/ssl/context_config_impl.cc#L71) in the implementation. I didn't see an existing ticket so just adding this to track.

[2018-05-17 16:56] llchan opened #3419 "Document format of fingerprint_sha256 vs verify_certificate_hash"
*Title*: *Document format of fingerprint_sha256 vs verify_certificate_hash*

*Description*:
It would be helpful to document the format of the client cert hashes in both the `verify_certificate_hash` fields [here](https://www.envoyproxy.io/docs/envoy/v1.6.0/api-v2/api/v2/auth/cert.proto#auth-certificatevalidationcontext) and the `fingerprint_sha256` field in the client ssl auth REST server [respons

[2018-05-17 17:07] cmluciano commented on #3276
Does #3302 close this issue or is there more to complete?

[2018-05-17 17:36] luisapace opened #3420 "dependencies of proxy/envoy-0e1d66377d9bf8b8304b65df56a4c88fc01e87e8.tgz"
Hi,
I need to use Diego and so I've to use proxy/envoy-0e1d66377d9bf8b8304b65df56a4c88fc01e87e8.tgz

because included by Diego as a blob (see https://github.com/cloudfoundry/diego-release/blob/v2.1.0/config/blobs.yml)

To do that I've to analyze the source code of Diego and all compile and runtime dependencies chain to verify that - both - code and licenses do not have any problem.

So I've tried

[2018-05-17 17:38] tmshort commented on #3404
Thanks, @agl, we were unaware of the current FIPS status. It's fairly easy for us to maintain a local BoringSSL repo if needed, and since Envoy won't use the our features (we are slowing pushing them upstream, so as not to overwhelm), we likely won't attempt to maintain them in BoringSSL.

[2018-05-17 17:50] ashish235 opened #3421 "Question: Can I use envoy as a tcp proxy for multiple backends?"
Hi team,

Total newbie here!

I 'm not trying to envoy as a side-car (which I get from the blogs I read on envoy) but mostly as reverse proxy with health check and load-balancing for tcp connection. The connection is Grpc based. I 've using haproxy for a long time and thought of introducing some exciting to my stack. :) So that I can later introduce features like rate-limiting etc.

What I want is

[2018-05-17 18:28] mattklein123 commented on #3416
This is not possible currently as these headers are set by the connection manager. Removing them would need to be a connection manager option (though content-length could be elided from HTTP/1.1 responses where it is added for 204 responses if we want to patch that).

[2018-05-17 18:31] mattklein123 commented on #3421
@ashish235 for such a general query I think you might have better luck in Slack.

[2018-05-17 20:28] incfly commented on #3392
Friendly ping :)

I've also provided a prototype, just for the illustrative purpose, https://github.com/envoyproxy/envoy/compare/master...incfly:file-token?expand=1

Thanks!

[2018-05-17 20:36] mattklein123 commented on #3392
@incfly I don't know enough about this to have an opinion. @lizan WDYT?

[2018-05-17 21:02] lizan commented on #3392
The plugin is fairly simple, just reading token from local file and use it as gRPC metadata. The requirement is from Istio, but the logic is not istio specific at all.

[2018-05-17 21:42] lizan commented on #3390
That was my feeling when I filed #2925 and I agree. Tough I would love to see some level of API stability for a subset of them.

[2018-05-17 21:52] lizan opened #3429 "transport socket extension: gRPC TSI based ALTS support"
*Description*:

The proposal is to upstream the [ALTS](https://cloud.google.com/security/encryption-in-transit/application-layer-transport-security/) support based on [gRPC TSI (transport socket interface)](https://github.com/grpc/grpc/blob/master/src/core/tsi/transport_security_interface.h) implementation to Envoy main repo.

The current implementation have two part:
- gRPC TSI based `TransportSo

[2018-05-17 22:11] PiotrSikora commented on #3411
Another thing that @lizan pointed out is that in routes we're using "first match wins" approach, i.e. the order of filter chain blocks would matter.

With current implementation, following configuration:
[code]
would match 2nd filter chain if connection matched all requirements, but per @lizan it should match 1st filter chain, since it matches all it's requirements as well, and it's configured fir

[2018-05-17 22:15] lizan commented on #3411
That is what actually @ggreenway said:

[2018-05-17 22:31] mandarjog opened #3431 "Client side ALPN support (upstream cluster)"
*Title*: *Envoy should support client side protocol negotiation via alpn*

*Description*:
At present if the an upstream cluster has `http2_protocolOptions`, it will always send h2 traffic upstream. When used with ALPN  = `{"h2", "http/1.1"} the expectation is that it will be negotiated down to `http/1.1` if the server only support `http/1.1` I don't think this is happening.

We need this in Istio

[2018-05-17 22:31] mandarjog commented on #3431
@PiotrSikora

[2018-05-17 22:53] mattklein123 commented on #3411
In general I think first match wins is going to be the simplest to understand for most people, and when we implement other rules like IP/CIDR matching, it may be the only way it makes sense.

However, I know that there are use cases in which we want to optimize and do hash lookups (e.g., large number of SNI matches). My feeling on this is that the documented behavior should be FIFO, but if envoy c

[2018-05-17 22:59] mattklein123 commented on #3417
@yuval-k I vote for option (2) as I think it is less magical. You want to do a patch?

@zuercher @rshriram any opinions?

[2018-05-17 23:05] mattklein123 commented on #3431
Optimally, this would be done as part of also solving https://github.com/envoyproxy/envoy/issues/1502. The right solution here is to have a new connection pool implementation that can do both HTTP/1.1, HTTP/2, ALPN negotiation, upgrade, etc. I would prefer to not complicate the existing connection pool implementations with this logic.

[2018-05-17 23:27] mattklein123 commented on #3370
It appears this is fixed "somehow"

[2018-05-17 23:49] ddunbar opened #3434 "Non-deterministic crash: ([assert] source/common/network/connection_impl.cc:424] assert failure: !connecting_)"
*Title*: Envoy sometimes crashes with: [assert] source/common/network/connection_impl.cc:424] assert failure: !connecting_

*Repro steps*:
In one shell, run:
[code]
In another, run:
[code]

Envoy will crash after some period of time. Sometimes Envoy crashes very quickly, sometimes it takes much longer. The assert above is the most common one seen, but we have seen others as well.

*Config*:
[code]

[2018-05-17 23:52] yuval-k commented on #3417
I can do the patch. Going on vacation so might take a few days.

[2018-05-18 00:01] lizan commented on #3411
Perhaps first-match-wins with LRU cache?

[2018-05-18 00:02] ddunbar commented on #3434
Forgot to mention, this was tested with 554e57a89e95a9d9bed684e5d663d217a1ea502c.

[2018-05-18 01:19] PiotrSikora commented on #3434
This isn't new issue, is it?

My guess is that the read-readiness event is triggered before write-readiness, and the [ASSERT(!connecting_)](https://github.com/envoyproxy/envoy/blob/ab08a0b39ce75b8f04351d4ea3433c9939f6b7fa/source/common/network/connection_impl.cc#L424) is wrong.

I didn't see that happening before, but maybe it can happen on macOS?

[2018-05-18 02:27] mattklein123 commented on #440
I believe this is fixed by https://github.com/envoyproxy/envoy/pull/3302. LMK if not and we can reopen.

[2018-05-18 02:27] #440 closed

[2018-05-18 02:30] mattklein123 commented on #960
Closing this out as I don't think it's worth tracking the small items here anymore and we have several examples use Jaeger.

[2018-05-18 02:30] #960 closed

[2018-05-18 02:31] mattklein123 commented on #1192
Closing as stale and not worth tracking.

[2018-05-18 02:31] #1192 closed

[2018-05-18 02:32] mattklein123 commented on #1297
Closing as I just don't see this getting implemented. If someone wants to step up we can reopen.

[2018-05-18 02:32] #1297 closed

[2018-05-18 02:35] mattklein123 commented on #1718
Closing for now as I don't see this being implemented. We can reopen if needed.

[2018-05-18 02:35] #1718 closed

[2018-05-18 02:37] mattklein123 commented on #2081
IIRC this work has been completed. @objectiser LMK if that isn't the case.

[2018-05-18 02:37] #2081 closed

[2018-05-18 02:38] mattklein123 commented on #2330
This is done.

[2018-05-18 02:38] #2330 closed

[2018-05-18 02:39] mattklein123 commented on #2418
This is done.

[2018-05-18 02:39] #2418 closed

[2018-05-18 02:40] mattklein123 commented on #2532
Pretty sure this is fixed.

[2018-05-18 02:40] #2532 closed

[2018-05-18 02:40] mattklein123 commented on #2544
This is fixed.

[2018-05-18 02:40] #2544 closed

[2018-05-18 02:43] mattklein123 commented on #2632
Going to close this for now as I don't think this is actionable. We are tracking both the QUIC work as well as other items for having multiple h2 connections per upstream host which are both ways around this issue.

[2018-05-18 02:43] #2632 closed

[2018-05-18 02:48] mattklein123 commented on #2879
Closing this as I believe @brian-pane did some perf work here. We can reopen or do additional PRs if needed.

[2018-05-18 02:48] #2879 closed

[2018-05-18 02:54] mattklein123 commented on #3094
Dup of https://github.com/envoyproxy/envoy/issues/1522

[2018-05-18 02:54] #3094 closed

[2018-05-18 02:56] mattklein123 commented on #3284
I will fix this.

[2018-05-18 03:40] ddunbar commented on #3434
@PiotrSikora it looks like the answer is yes: here is what I see... trimmed to what I think is relevant:
[code]

Full log: [out.log](https://github.com/envoyproxy/envoy/files/2015385/out.log)

[2018-05-18 07:50] objectiser commented on #2081
@mattklein123 Sorry its been open along time. I think some areas may have been addressed, or no longer relevant, but explicitly setting the `span.kind` still needs to be done. I'll just open a separate issue for this.

[2018-05-18 07:54] objectiser opened #3435 "tracing: Set span.kind tag when creating client/server spans"
Currently the zipkin tracer derives the span.kind (or cs/cr/ss/sr annotations) from the tracing config "operation_name" - however the LightStep or other OpenTracing API compatible tracers don't have this tag set.

The proxy needs to explicitly set this tag when creating the tag, along with the other standard OpenTracing tags.

This is a followup issue from #2081.

[2018-05-18 09:42] georgi-d opened #3436 "Question on how to build envoy with prebuild dependencies"
I have been trying to run the steps for the [Production environment](https://github.com/envoyproxy/envoy/blob/master/bazel/README.md#production-environments) build from the documentation.

If I understand this correctly and the `ci/WORKSPACE` is a working example I should be able to:

[code]
When I run these steps I get the following error:
[code]
Could you let me know what am I missing?

Thanks

[2018-05-18 14:45] HappyStoic commented on #3388
@junr03  Yeah, that was the problem! Thank you very much.

[2018-05-18 15:35] mancini0 commented on #3403
Worth mentioning - Centos 7 Binaries exist, and can be installed from yum once you enable this COPR  repo: https://copr.fedorainfracloud.org/coprs/vbatts/envoy/

(cd /etc/yum.repos.d , wget https://copr.fedorainfracloud.org/coprs/vbatts/envoy/repo/epel-7/vbatts-envoy-epel-7.repo,  yum install envoy)

The copr link above has a link to this github repo: https://github.com/vbatts/copr-build-envoy

Th

[2018-05-18 17:46] #3388 closed

[2018-05-18 20:49] PiotrSikora commented on #3411
@mattklein123 I think the "simplest to understand" is going to be based on the prior experience with other software, e.g. for me (and probably many others) the most obvious choice is the-most-specific-match-wins, since that's what NGINX does for the server name matching, and I would be extremely surprised if the filter chain match for `sni_domains: example.com` doesn't get selected for a client wi

[2018-05-18 21:51] ggreenway commented on #3411
I prefer the faster hash-lookup for SNI with most-specific-wins.

If we mostly do first-match-wins, but we try to detect cases where we can use a different algorithm, I think we'll run into problems where a small config change causes a massive performance degradation, and that can be confusing for users.

[2018-05-18 21:56] mattklein123 commented on #3411
How will this work for IP/CIDR matching? Will it be a hash lookup/most-specific followed by a FIFO match of CIDRs?

[2018-05-18 22:02] PiotrSikora commented on #3411
A series of hash-lookups with wider and wider netmask, i.e.:

    find(127.0.0.1/32) -> find(127.0.0.1/31) -> find(127.0.0.1/30) -> ...

with a limit on the widest netmask configured, and perhaps with an optimization to only try the netmasks that were configured.

[2018-05-18 22:04] ggreenway commented on #3411
Couldn't this be done with the LcTrie implementation we have?

[2018-05-18 22:11] PiotrSikora commented on #3411
...or that :) I wasn't aware we have LcTrie already.

[2018-05-18 22:16] charliezgc commented on #3403
Thanks for the good answer. I will close this issue.

[2018-05-18 22:16] #3403 closed

[2018-05-18 22:25] mattklein123 commented on #3411
My question was less about how to do the lookup for IP but more of whether the type of nested hash lookups we are doing is going to be confusing from a configuration standpoint for users. I guess this gets to @htuch question about allowing the precedence rules to be configurable so the nesting order is dynamic. The reason I think it's confusing, FWIW, is that the configuration is specified essenti

[2018-05-18 23:17] PiotrSikora commented on #3411
Yeah, I'll add more examples and the docs, regardless of the decision here.

It's still a set of AND conditions, i.e. ALL rules must match in order for a filter chain to be selected.

Example:
[code]
`connection("", "h2")` would select 1st filter chain in both cases.

`connection("www.example.com", "h2")` would select 2nd filter chain with the current implementation, but 1st filter chain with firs

[2018-05-19 00:52] mattklein123 commented on #3411
@PiotrSikora for the relatively simple rules we are going to have (compared to HTTP routing for example) you have convinced me that the precedence system makes sense with nested hash/trie/whatever lookups, so I think my vote has switched over. We can always make precedence configurable later as @ggreenway and @htuch suggested and as long as wen have good examples I think it's probably fine for mos

[2018-05-19 01:16] lizan commented on #3411
I'm fine with most-specific-match-wins as long as we have clear field precedence order, either pre-defined or user-configured, and good documentation.

In @PiotrSikora 's example I still think that:

should be able to fallback to 1st filter chain (empty, thus catchall) without adding `another filter_chain_match without application_protocols`.

[2018-05-19 01:19] PiotrSikora commented on #3419
@llchan I've added support for the "standard" hex-encoded SHA-256 hashes and updated docs for `verify_certificate_hash` in #3437. Let me know if you think there is anything else missing.

[2018-05-19 01:42] cpakulski commented on #3389
@mattklein123 #2881 you asked me to check is caused by different problem than here. It  is similar to #3083 and is caused by https://github.com/envoyproxy/envoy/blob/master/source/server/config_validation/dispatcher.cc#L21. I will fix it in separate PR as it touches different parts of code.

[2018-05-19 06:41] PiotrSikora opened #3442 "Inconsistent behavior between Base64::decode() and Hex::decode()."
`Base64::decode()` returns `EMPTY_STRING` when input is wrong.
`Hex::decode()` throws exception when input is wrong.

Both should behave the same. Any preference which behavior is adopted?

I have slight preference for returning `std::vector<uint8_t>{}` from `Hex::decode()`.

cc @mattklein123

[2018-05-19 15:19] gumpt commented on #3076
My reading of this is that in the [original diagnosis](https://github.com/envoyproxy/envoy/issues/3076#issuecomment-381276061) of the issue, numbers (2) and (3) have yet to be done.

If I'm correct, I'd like to do both.  (2) seems straightforward, (3) seems fixable by setting up separate `Http2Options` for clients and servers.

[2018-05-21 00:58] #3210 closed

[2018-05-21 01:00] mattklein123 commented on #3442
@PiotrSikora no real preference. I would look at the call sites and just see which type of error handling is cleaner.

[2018-05-21 01:02] mattklein123 commented on #3076
@gumpt correct. Have at it. Thanks!

[2018-05-21 01:04] mattklein123 commented on #3389
Awesome, thanks.

[2018-05-21 01:07] mattklein123 commented on #3411
Catch-alls are some of the corner cases I'm concerned about. I think if we have a set of really good examples we should be able to iterate together on the best final behavior, though I think we all now agree we can do this largely within the confines of the existing implementation.

[2018-05-21 02:39] mattklein123 commented on #3421
Closing out. Please reopen if you have a specific bug to track, but for general user questions we prefer slack or envoy-users@. Thank you.

[2018-05-21 02:39] #3421 closed

[2018-05-21 02:40] mattklein123 commented on #3416
Closing as answered. Feel free to open feature request issues if you like.

[2018-05-21 02:40] #3416 closed

[2018-05-21 02:40] mattklein123 commented on #3410
Closing as answered. Feel free to open a feature request issue if you like.

[2018-05-21 02:40] #3410 closed

[2018-05-21 02:42] mattklein123 commented on #3131
Closing due to lack of activity. @ramaraochavali if this is still an issue or if you think there is a code/doc change required please open a PR.

[2018-05-21 02:42] #3131 closed

[2018-05-21 02:43] mattklein123 commented on #3079
I'm going to clarify the title here and switch this to design proposal. It's not clear to me that we actually want to support partial updates as there are a lot of edge cases to consider, but happy to review a solid proposal.

[2018-05-21 02:44] mattklein123 commented on #3078
Closing as answered. Hopefully we can tackle this as part of #1606. It's on my TODO list.

[2018-05-21 02:44] #3078 closed

[2018-05-21 02:45] mattklein123 commented on #3032
@mrice32 I'm going to close this for now. Feel free to reopen if you still want this and we can discuss.

[2018-05-21 02:45] #3032 closed

[2018-05-21 10:05] PiotrSikora commented on #3076
FWIW, I'm not convinced that the diagnosis is correct, but I didn't dig into it yet.

Please CC me on the PRs.

[2018-05-21 10:47] htuch commented on #3079
@shuoli84 I think there what you are asking for is actually something we call "incremental xDS", see https://github.com/envoyproxy/envoy/issues/3229. This is not the same as partial rejection of incorrect config updates. @mattklein123 I don't think we should ever support partial reject, it's too complicated IMHO and once we have incremental xDS, folks who really want it can just fragment updates i

[2018-05-21 10:55] htuch commented on #3411
I'd just point out that in addition to the above discussion, first-match-wins is not suitable for extremely large CIDR matching scenarios as it is O(n) in the number of filter chains, e.g. O(100k) of filter chains, each matching on different CIDR. We have some internal scenarios that need this level of scale. So, whatever we do, we should provide the ability to do a classical most-specific match s

[2018-05-21 13:15] michalholecek commented on #1813
Hi,
so.. as of today, is it possible to limit % of requests that will be traced ? I haven't managed to find any solution.

[2018-05-21 13:20] #3010 closed

[2018-05-21 16:00] #3397 closed

[2018-05-21 16:01] mancini0 opened #3447 "Unable to build behind a proxy"
I'm encountering the following error when building envoy behind a proxy,

ERROR: /usr/mancini/.cache/bazel/_bazel_mancini/b1b7ee4f2abe773f993beb4c85591835/external/com_lyft_protoc_gen_validate/BUILD:18:1: no such package '@com_github_golang_protobuf//ptypes/wrappers': failed to fetch com_github_golang_protobuf: # cd .; git clone https://github.com/golang/protobuf /usr/mancini/.cache/bazel/_bazel_m

[2018-05-21 16:22] mattklein123 commented on #3411
@htuch lets open a different issue on that. The complexity of the existing routing rules are going to make it almost impossible to build a hashing implementation (especially due to regex). I think we can do some interesting things with HTTP routing along the lines of having an optional new type of route configuration that is designed for a most specific wins hashing implementation and by definitio

[2018-05-21 16:29] mattklein123 commented on #1813
You can do it using runtime, but the config changes have not been implemented IIRC. IT's a relatively simple change if someone wants to step up.

[2018-05-21 16:33] bobbytables commented on #1813
@mattklein123 - Is this not configurable in the HTTPConnManager? Via: https://github.com/envoyproxy/data-plane-api/blob/3cfebb2eb16e4b6b2d85a268b6dcc3e077d43b92/envoy/config/filter/network/http_connection_manager/v2/http_connection_manager.proto#L71

[2018-05-21 16:41] mattklein123 commented on #1813
@bobbytables from my quick search of the code I don't think that configuration has been implemented. Those fields should be be "not implemented hidden." I can fix that today.

[2018-05-21 17:51] ldemailly commented on #3125
This happens on/off with a number of istio PRs too - for some reason though, using incognito window usually allows to load the content/see it

[2018-05-21 19:13] mattklein123 commented on #3370
This is still happening. Will add more debugging.

[2018-05-21 19:50] snowp opened #3452 "http/2 health checking"
Envoy currently hard codes h/1.1 for http health checking: https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/health_checker_impl.cc#L211.

Would be nice to be able to configure this, either explicitly in the hc config or by having it respect the http2_protocol_options on the cluster that's being health checked. Having it respect the cluster setting seems the most natural to me

[2018-05-22 07:41] glyn commented on #2053
Please can we define (either here or in a separate issue) in what circumstances it would be necessary to recompile loadable modules?

For example, envoy could apply [semantic versioning](https://semver.org/):
* loadable modules would need recompiling for distinct major versions of envoy,
* loadable modules could be reused without recompilation between versions of envoy with the same major version.

[2018-05-22 10:35] #3399 closed

[2018-05-22 13:32] dumbokitty opened #3456 "envoy to GRPC endpoint naming issues"
**Issue Template**

*Title*: *One line description*
envoy connect to GRPC endpoint naming issues
*Description*:
I've found that there are certain endpoints are "taken" while building the envoy proxy to several GRPC servers,
I've been trying to use the endpoint "sessions" in for one of the GPRC service and using route prefix "/sessions" to route, it would give a HTTP 404(service not found) error. b

[2018-05-22 14:14] mancini0 commented on #3447
Closing as I was able to build after aliasing the git command as suggested by the comments in #2180.

[2018-05-22 14:14] #3447 closed

[2018-05-22 15:49] mattklein123 commented on #2053
I agree with @ggreenway until https://github.com/envoyproxy/envoy/issues/3390 is solved, which if I'm being realistic is probably 1-2 years out.

[2018-05-22 15:59] ggreenway opened #3458 "Documentation generated from .proto file doesn't specify if something is an array/repeated"
For instance, from https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cds.proto#cluster:

[code]

It would be useful if the type said `repeated core.Address`, so similar.

[2018-05-22 16:27] dumbokitty commented on #3456
One more piece of info:
if I change the "prefix" to "/" in and keep everything else the same.(so in .proto, it is still  post:"/sessions"), it seem to work properly. Another thing I tried for prefix is "/sess" which doesn't work either and gives HTTP 404 error

[2018-05-22 17:22] mattklein123 opened #3459 "config: add tracer proto factory functions"
As part of https://github.com/envoyproxy/envoy/pull/3386/files/92513fda2d06352a28e0d1c928c3bfadc554bce1#diff-eefabe600af784c84a1989f7cb174f2b we noticed that tracer extensions don't have a v2 direct proto factory function. This needs to be added.

[2018-05-22 18:38] dumbokitty commented on #3456
ha, I think it makes sense to match gRPC path, thank you very much Lizan!

[2018-05-22 19:00] alyssawilk commented on #3301
Ok, fair, maybe I do want #1630.  I've filed https://github.com/nghttp2/nghttp2/issues/1181 to see if we can get (or add) nghttp2 support for this.

That would leave us with H2 "websockets" being treated as HTTP for both header and data accounting and H1 being treated as HTTP for headers and TCP proxying for payload.  Per 1) b) *if* I can sort out any bidi-HTTP/1 issues, would anyone object to at

[2018-05-22 19:04] alyssawilk commented on #3301
Also @ggreenway as he's been doing websocket changes and may have an opinion about adding more complex paths :-P

[2018-05-22 19:36] #3456 closed

[2018-05-22 19:40] #2882 closed

[2018-05-22 19:46] #3068 closed

[2018-05-22 21:40] ggreenway opened #3463 "SIGSEGV on startup with large value of --max-stats if total stats size is greater than 2^32"
*Repro steps*:
envoy --max-stats 10000000000

*Call Stack*:
[code]

[2018-05-22 21:41] ggreenway commented on #3463
Various bits of code in BlockMemoryHashSet use uint32_t for the size, so this is the result of an undetected overflow.

[2018-05-22 21:42] ggreenway commented on #3463
cc @jmarantz

[2018-05-22 21:46] jmarantz commented on #3463
I assume the action-item is just to check that and print a reasonable error...or do you think we should be using larger ints for the offsets in the structure?

[2018-05-22 22:16] ggreenway commented on #3463
I think checking/printing is good enough for now.

[2018-05-22 22:32] jmarantz commented on #3463
can you assign to me?

[2018-05-22 22:42] ggreenway commented on #3301
WebSockets is such an awkward thing to handle here. If we pass it through most of the http stack, you have to make all of those bits of the stack handle some non-http. If not all the filters support this, you'll have to carefully document which filters can be used with WebSockets. And we'll be adding complexity to all the filters that do handle WebSockets. If we don't go through the http code, we

[2018-05-22 22:46] mattklein123 commented on #3301
@ggreenway that was my initial suggestion. I think if we do this the filters only see a header only request for the upgrade. That's all.

[2018-05-22 23:07] mattklein123 commented on #3370
I'm hopeful my newest hack (https://github.com/envoyproxy/envoy/pull/3451) has worked around this problem. Closing again.

[2018-05-22 23:07] #3370 closed

[2018-05-22 23:08] ggreenway commented on #3301
That seems reasonable. I don't think the code for http/1 WebSockets will be too bad. I think http/2 will be stranger because we can't drop to a TcpProxy; we'll still have to go through at the bottom part of the h2 stack.

[2018-05-22 23:56] PiotrSikora commented on #3363
@rshriram thinks this is too strict for SNI-routing.

Any objections for relaxing this restriction and matching for all subdomains (i.e. `*.example.com` would also match `foo.bar.example.com`, whereas currently it doesn't)?

cc @ggreenway @mattklein123 @vadimeisenbergibm

[2018-05-22 23:57] mattklein123 commented on #3363
@PiotrSikora I actually had the same Q but I forgot to ask it. I would be in favor of that change.

[2018-05-22 23:59] rshriram commented on #3363
To add more context, when you are doing SNI passthrough, hopping from one to another, the semantics of SNI wildcards are very different from that of standard HTTP (where `*.com` subsumes `*.example.com` in the virtual host match). So, folks who are trying to setup a chain of envoys for forwarding SNI connections would find this behavior a bit too strict and cumbersome to deal with. It also complic

[2018-05-23 00:00] ggreenway commented on #3363
I don't have any objection. So I assume with this change, for foo.bar.baz.example.com, we'll now do a lookup for foo.bar.baz.example.com, .bar.baz.example.com, .baz.example.com, .example.com, and .com, in that order?

[2018-05-23 00:00] PiotrSikora commented on #3363
@ggreenway correct.

[2018-05-23 00:05] rshriram commented on #3363
I would suggest using the same implementation from here (https://github.com/envoyproxy/envoy/blob/master/source/common/router/config_impl.cc#L767-L785), so that http virtual hosts and sni match in same manner.

[2018-05-23 01:36] bmadhavan opened #3466 "Disable a specific endpoint using EDS"
**Disable a specific endpoint using EDS ** ( Question )

*Title*: *I have a use case where I would want to disable a specific endpoint and re-enable it back*

*Description*:
I am trying to implement a request where I have to disable an endpoint ( via EDS ) for sometime and then re-enable it back.  I am planning to implement this using a new field under `lb_endpoints` like `disabled` to mark the en

[2018-05-23 02:14] vadimeisenbergibm commented on #3363
Note that the logic in https://github.com/envoyproxy/envoy/blob/master/source/common/router/config_impl.cc#L767-L785 does not take dots in the account, it just performs a prefix comparison. So *example.com will match both baz.example.com and myexample.com. It could be a security concern, when someone configures *mycompanydomain.com to expect to match finance.mycompany.com and accounts.mycompany.co

[2018-05-23 02:17] PiotrSikora commented on #3363
@vadimeisenbergibm yeah, I'm not going to use that.

[2018-05-23 02:23] vadimeisenbergibm commented on #3363
So maybe the logic at https://github.com/envoyproxy/envoy/blob/master/source/common/router/config_impl.cc#L767-L785 should be changed to, to have the same code and the same semantics, as Shriram proposed.

[2018-05-23 02:50] rshriram commented on #3363
The logic there applies for virtual hosts (the piece that matches HTTP Authority header. When things reach this stage, I don't think the security concern you outlined is valid in this stage. Proxies allow a full gamut of regexes in the virtual host match.

[2018-05-23 06:30] PiotrSikora commented on #1571
@danielhochman Can this be closed as answered / won't fix?

[2018-05-23 10:19] daurnimator opened #3469 "Lua "Wait for fd" API"
To allow users to utilise existing C and lua libraries (instead of reimplmenting network protocols), there should be a wait to pause the current coroutine until a given file descriptor is ready (or a timeout expires).

*Relevant Links*:
This is the followup requested [here](https://github.com/envoyproxy/envoy/pull/1859#issuecomment-337791051)

[2018-05-23 10:26] daurnimator commented on #3296
As a general solution, could the `SSL*` pointer be exposed to lua so that existing OpenSSL/BoringSSL libraries (e.g. https://github.com/wahern/luaossl/) can be used to inspect the structure?

[2018-05-23 10:27] james-callahan commented on #2778
I'd be hugely interested in this for some experiments I've been doing.

[2018-05-23 13:41] #3418 closed

[2018-05-23 14:36] mbanikazemi commented on #2152
@nov1n @buchanae Thanks. Are you guys planning to push this example upstream?

[2018-05-23 14:39] mbanikazemi commented on #2152
@argeualcantara This own't work with Istio where the configuration is done dynamically. There is work in progress to add support for providing lua scripts in Istio.

[2018-05-23 15:15] htuch commented on #3466
@bmadhavan does https://github.com/envoyproxy/envoy/issues/3276 address your conerns?

[2018-05-23 16:04] mattklein123 commented on #1571
Yeah I think we don't need this. I will close.

[2018-05-23 16:04] #1571 closed

[2018-05-23 16:06] mattklein123 commented on #3466
@htuch from my read, I think just setting `health_status` to unhealthy would do the trick? https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/endpoint/endpoint.proto#L51

[2018-05-23 16:38] ggreenway opened #3471 "FilterChainMatch doesn't always find match when it should, when multiple criteria are present"
[code]

A request comes in for {"example.com", "http/1"}. The documentation suggests that this would match the first chain (for *.com), because that is the most-specific fully-matching chain. I think the current algorithm wouldn't match any chain, because it would find "example.com" as the most specific server_name match, then find that it doesn't match the application_protocol, and stop searching

[2018-05-23 16:38] ggreenway commented on #3471
@PiotrSikora

[2018-05-23 16:39] davidben commented on #1571
Just noticed I was CC'd on this a year ago, sorry! Yeah, we are no fans of that feature. I doubt we'll end up removing it at this point due to compatibility, but we don't think it makes sense for the reason Piotr mentioned.

[2018-05-23 17:51] PiotrSikora commented on #3471
This is working as intended, since "higher priority rule found a match". This is virtually the same example as the one in https://github.com/envoyproxy/envoy/issues/3411#issuecomment-390356081.

I'll get to the docs later today or tomorrow.

[2018-05-23 18:30] htuch opened #3472 "Optimize (de)serialization for Google gRPC client"
Today, we do multiple copies to (de)serialize protos to byte buffers, see:
* https://github.com/envoyproxy/envoy/blob/396f52de26e8864dbbefa903ff605bd52af11b3e/source/common/grpc/google_async_client_impl.h#L233
* https://github.com/envoyproxy/envoy/blob/396f52de26e8864dbbefa903ff605bd52af11b3e/source/common/grpc/google_async_client_impl.cc#L303

This was due to gRPC library limitations at the time

[2018-05-23 19:41] #3442 closed

[2018-05-23 21:03] htuch commented on #3466
It would, at the expense of mucking up the health stats.

[2018-05-23 21:29] bmadhavan commented on #3466
Thanks @htuch @mattklein123 for the pointers.
 From what I understand #3276 does it for all the endpoints in a cluster. (i.e. pretty much controls as a cluster level setting).
My use case requires it to be controlled at each endpoint level so setting `health_status` is much more close to handling my requirement here.
Again, thank you very much !

[2018-05-23 21:59] mattklein123 commented on #3466
Cool, closing.

[2018-05-23 21:59] #3466 closed

[2018-05-23 22:05] zuercher commented on #2247
Per the [extensions policy](https://github.com/envoyproxy/envoy/blob/master/GOVERNANCE.md#extension-addition-policy), I'm going to use this issue as the extension proposal.

I'll be the maintainer-sponsor for the extension and do at least the initial work on it, but I need another contributor to participate in code reviews. Is there someone watching this ticket who's willing to volunteer to fill t

[2018-05-23 22:20] htuch commented on #3472
See also https://github.com/grpc/grpc/pull/14541

[2018-05-24 00:54] brian-pane commented on #2247
I volunteer to participate in code reviews.

[2018-05-24 03:49] mattklein123 commented on #2247
Thank you @zuercher and @brian-pane! SGTM.

[2018-05-24 11:06] taion809 commented on #2805
@llitfkitfk
try `docker pull envoyproxy/envoy:v1.6.0`

The dockerhub listing has a limited number of tags its able to show.

[2018-05-24 12:11] luisapace commented on #3420
Hi, could you please tell me if there are any news on this question? I apologize to ask you again, but without your answer I'm not able to proceed, so I'll appreciate if you can give me an answer. Feel be free to ask other details if you need. Thanks.

[2018-05-24 12:52] jmarantz commented on #3463
Actually the system can't handle 1G cells and it should be able to;, even though the number of bytes may be >4G, so there are I think two parts to this bug:
  - provide access to up to 4G stats
  - error out when asked for more than that

[2018-05-24 13:10] taion809 commented on #2805
Going to close this issue, I think we've made good on a better docker image with perhaps some more work to be done but those should be specifically identified in another issue :)

[2018-05-24 13:10] #2805 closed

[2018-05-24 15:33] jmarantz commented on #3463
Fun fact: if you are debugging some boundary conditions with an egregious amount of shared memory, make sure you get a clean run with a sane size, otherwise your workstation will be left with zero bytes of shared memory available, and a lot of things will not work, in and out of Envoy...

[2018-05-24 15:35] ggreenway commented on #3463
In my case, I have much larger-than-default names. I think I'm setting max-obj-name-len to 384, and the crashing value for max-stats was 10M. These are much smaller than the numbers you're talking about. Was your testing after converting uint32-->size_t? If so, that may be right. I think the original bug was just an overflow of a uint32.

[2018-05-24 15:47] jmarantz commented on #3463
Yeah, there's a real limitation imposed by the impl, which I have fixed, that some of the byte-size values were represented by uint32_t.  Without my change I segv on 100M stats (the limit I just set), and with it I don't.  There probably also should be a limit on max-stats * max-obj-name-len to be something that's likely to fit into shared memory.

[2018-05-24 16:48] jmarantz commented on #3463
With existing system, 25M stats works:
[code]
and 30M stats fails:
[code]
because it's 160 bytes per entry, and 30M * 160 = 4.8e9, whereas 25*160=4e9, which fits in 32 bits.  Fixing the offsets resolves this, which I have pending.

[2018-05-24 17:01] #3389 closed

[2018-05-24 17:22] rlenglet opened #3481 "Implement original-src-cluster to bind on the original downstream source IP address"
Implement an `original-src-cluster` feature to bind each upstream connection to the original source address of its associated downstream connection. This will be similar and symmetric to `original-dst-cluster`, which sets the destination address of an upstream connection to that of the associated downstream connection.

This is needed in Istio sidecars in order for applications to see the original

[2018-05-24 20:58] nilslice commented on #3368
Just updating the thread -- `protolock` finally has sufficiently complete support for oneof and map types, with enum coming soon. I've browsed this repo for integration points but am too unfamiliar with bazel and the build process. If anyone could point me in the right direction, I'd be happy to PR something when the enum support is ready for action.

[2018-05-24 23:49] crazyproger commented on #179
Is there any possibility to use Network layer rate limit filter with auto filled client IP descriptor? Like `remote_address` action in http route rate limit configuration.
This is mainly to limit number of connections from same IP.

[2018-05-25 02:47] PiotrSikora commented on #3481
Duplicate of https://github.com/envoyproxy/envoy/issues/2659.

[2018-05-25 03:58] PiotrSikora commented on #3420
Everything in [repository_locations.bzl](https://github.com/envoyproxy/envoy/blob/master/bazel/repository_locations.bzl) and [build_recipes](https://github.com/envoyproxy/envoy/tree/master/ci/build_container/build_recipes).

[2018-05-25 08:55] aguilbau opened #3484 "implement scheme_redirect"
In a [route.RedirectAction](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto.html#route-redirectaction), it should be possible to specify the scheme that will be used.
For now, the option to swap the scheme with **https** is available, with the `https_redirect` option.

However, if one wants to use arbitrary scheme, it is not possible.

My use case is that I want to redi

[2018-05-25 10:47] tak2siva commented on #1291
Is this working for everyone ? When i set path as

I am not able to see the access logs.

But when I echo something to stdout like

All of a sudden I get all the logs. Looks like the access logs aren't properly flushed to stdout.

[2018-05-25 11:41] snowp opened #3485 "Status of Access Log Service"
What is the current status of ALS? The protos are marked as experimental (https://github.com/envoyproxy/envoy/blob/master/api/envoy/service/accesslog/v2/als.proto#L29) but I can't find any issues tracking an implementation. Is it functional?

[2018-05-25 13:55] cmluciano commented on #2659
@PiotrSikora Are you currently working on this/know anyone that is?

[2018-05-25 14:17] alejandropal opened #3487 "Question about running original_dst serving traffic from different docker containers"
hello! I'm trying to implement an outbound transparent proxy with envoy, running in a different container from the application which sends the traffic to be proxied.

I'm using this configuration:
[code]

This is an docker-compose example yaml:
[code]

I use IPTABLES in order to redirect all the traffic outgoing from application to envoy.  If I use locally (the http requester application and envoy

[2018-05-25 15:50] ldemailly commented on #2659
for outgoing connection isn’t the sourceip the same (the pod’s ip) - or do you mean port ?

[2018-05-25 15:56] mattklein123 commented on #3481
OK closing in favor of the other issue.

[2018-05-25 15:56] #3481 closed

[2018-05-25 15:56] mattklein123 commented on #3419
Closing, thanks @PiotrSikora!

[2018-05-25 15:56] #3419 closed

[2018-05-25 16:44] jmarantz commented on #3023
Curious: what would be the TTL of such a cache?

[2018-05-25 16:52] jmarantz commented on #3023
xrefing https://github.com/envoyproxy/envoy/issues/868 which is about HTTP caching, but would introduce the existence of a physical cache

[2018-05-25 16:53] jmarantz commented on #868
xrefing https://github.com/envoyproxy/envoy/issues/3023 which is about auth-caching, but would potentially introduce a physical cache into Envoy (though the requirements on an auth-class may be different from those on an http-cache).

[2018-05-25 16:55] mattklein123 commented on #3485
@snowp the status is tracked here: https://github.com/envoyproxy/envoy/issues/743 so I will close this is a dup.

The TL/DR is that a bunch of people are using ALS in production already (including Lyft) so it really just needs a doc pass. I think @rodaine has gotten pulled off to work on other stuff so I will probably try to take it over the finish line next week.

[2018-05-25 16:55] #3485 closed

[2018-05-25 17:36] rlenglet commented on #2659
I think “outgoing” here means “upstream.”

[2018-05-25 18:35] #3463 closed

[2018-05-25 18:48] #2101 closed

[2018-05-25 19:35] cmluciano commented on #1094
I tried hacking on this late yesterday and today. @hennna 's options still stand. The patch remains unmerged, but the  #ifndef hack still works. I have not been able to come up with any other "less hairy" options yet.

@htuch Do you see this in your usage at all?

[2018-05-25 19:45] PiotrSikora commented on #2659
@cmluciano I'm not and I don't.

@ldemailly it can be for the sidecar (but it doesn't have to if there are multiple IPs on the same machine), it's not for the proxy (in general).

[2018-05-25 20:11] mattklein123 commented on #3420
Closing as answered.

[2018-05-25 20:11] #3420 closed

[2018-05-25 20:11] mattklein123 commented on #3404
I'm going to go ahead and close this out as answered. @tmshort feel free to reopen if you want to discuss more about this or have other questions.

[2018-05-25 20:11] #3404 closed

[2018-05-26 01:04] PiotrSikora commented on #3471
Sorry, I've got side-tracked with bug-chasing, and I didn't have time to finish it this week. It's on top of my TODO list, though, if that's any consolation.

[2018-05-26 07:29] corn1ng opened #3492 "questions about upstream connect error or disconnect/reset before headers%"
**Issue Template**

*Title*: *One line description*

*Description*:

describe the desired behaviour, what scenario it enables and how it
would be used.
i want to  run an example of envoy. and i typed

$ docker pull envoyproxy/envoy:latest
$ docker run --rm -d -p 10000:10000 envoyproxy/envoy:latest
$ curl -v localhost:10000

but there is an error of `upstream connect error or disconnect/reset befor

[2018-05-28 13:50] cpakulski commented on #3484
@mattklein123 I do not mind working on this, but would need a bit more info about what has to be done.

[2018-05-28 22:53] mattklein123 commented on #1780
Calling this fixed via https://github.com/envoyproxy/envoy/pull/3455. We can open new issues for incremental RBAC matching conditions as needed.

[2018-05-28 22:53] #1780 closed

[2018-05-28 22:55] mattklein123 commented on #3125
Calling this fixed for now given the recent perf updates shipped by GH.

[2018-05-28 22:55] #3125 closed

[2018-05-29 19:03] alanconway commented on #173
#3415 requires upstream L3/L4 filter chains attached to connections opened by clusters.
I propose to add a simplified version of the listener filter-chain configuration on the cluster configuration. I think there's no need for filter matching logic in this case, since we know where the connection is going - just a simple list of filters. It looks like I could have the cluster manager pass the conf

[2018-05-29 21:35] mbanikazemi commented on #2152
@buchanae Do you mind if I cleanup and submit this example? I will have you and @nov1n mentioned as co-authors in the commit message.

[2018-05-29 21:43] curiouserrandy opened #3500 "Conflict between include/ header documentation and implementation for Envoy::Network::Address::Instance"
**Issue Template**

*Title*: The behavior documents for Envoy::Network::Address::Instance::bind() is not followed by Instance implementations.

*Description*:
The documentation for Envoy::Network::Address::Instance::bind() says:
   * @return the platform error code.
However, the implementation of ...::Ipv6Instance::bind() (e.g.) is:

  return ::bind(fd, reinterpret_cast<const sockaddr*>(&ip_.ipv6_

[2018-05-29 21:44] curiouserrandy commented on #3500
Suggested resolution: Update the include/... documentation to indicate that the error code details are returned in a platform specific manner.

[2018-05-29 21:45] buchanae commented on #2152
@mbanikazemi works for me. Sorry I'm procrastinating on this, have been out of town on the weekends.

[2018-05-29 23:51] juchem opened #3501 "Passwordless MySQL Health Check"
*Title*: Passwordless MySQL Health check

*Description*:
For feature parity with HAProxy, Envoy should have support for basic mysql health check. It involves sending a login request for a passwordless user, followed by a quit request.

*Relevant Links*:
- HAProxy documentation: http://cbonte.github.io/haproxy-dconv/1.5/configuration.html#4-option%20mysql-check
- User group discussion: https://grou

[2018-05-30 00:15] mattklein123 commented on #3284
I'm trying to fix this and the math turns out to be incredibly non-intuitive. Here is what I have so far:
https://github.com/envoyproxy/envoy/commit/2f8114543394fc61fdfa6f03cba52a61c507c0dd

It's not a finished change, but there is some simulation code. Roughly, the algorithm I'm trying to use looks like this:
1) Pick 2 random hosts (I added some temporary code to try to make sure we actually pick

[2018-05-30 00:20] mattklein123 commented on #3284
We could look into an EDF scheduler also, per @htuch, but that would require having a callback for when active requests go up and down for every host. The code changes to do this would be non-trivial.

[2018-05-30 02:34] llchan commented on #3337
I'm also seeing this with the same stack trace. I see a read error in my trace-level log that isn't mentioned above, so figured I'd post my log as well:
[code]

[2018-05-30 06:27] winguse opened #3503 "hot restart failed when upgrade envoy binary from v1.5.0 to v1.6.0"
I try to upgrade the envoy on our machines from v1.5.0 to v1.6.0 by leveraging hot restart. But it failed.

Here is how we config:

- the service is running by: $ [hot-restart.py](https://github.com/envoyproxy/envoy/blob/master/restarter/hot-restarter.py) start_envoy.sh
   start_envoy.sh is a shell script of this:
[code]
- change the envoy in start_envoy.sh from `v1.5.0` to `v1.6.0`.
- run `kill -

[2018-05-30 08:06] nov1n commented on #2152
@mbanikazemi Sure thing!

[2018-05-30 15:59] cmluciano commented on #2144
@derekargueta Are you still interested in submitting a PR here?

[2018-05-30 16:18] mattklein123 commented on #3503
Envoy cannot always be hot restarted. See https://www.envoyproxy.io/docs/envoy/latest/operations/cli#cmdoption-hot-restart-version.

[2018-05-30 16:19] mattklein123 commented on #173
@alanconway yes that makes sense to me. Hopefully, you can reuse https://github.com/envoyproxy/envoy/blob/master/source/common/network/filter_manager_impl.h.

[2018-05-30 16:51] alanconway commented on #173
I'm am looking at copying simple filter list config from listener_manager_impl to upstream_manager_impl, and from server/connection_handler_impl.cc newConnection() to upstream_impl.cc createConnection(). I think re-use of filter_manager_impl is implied, because it is a member of ConnectionImpl, which is used by both. It isn't complex, I just need to study how things are structured so I put it in t

[2018-05-30 19:46] alanconway commented on #173
@mattklein123 question - re filter config:

I could move the listener.Filter proto type into the core package and import it into listener.proto and cds.proto. That would let me share all the code for building filter lists from the common config, upstream and downstream. However I'm not sure if that constitutes a breaking change for your config system.

Alternatively I can create a separate Cluster

[2018-05-30 21:41] glicht commented on #2690
Hi All,

Checking if anyone is working on this feature. Would be happy to help out here.

It is something I found necessary when working with original destination cluster and egress https proxying.

[2018-05-30 21:53] mattklein123 commented on #2690
@glicht this one needs design though and a formal proposal. It's not immediately clear how to implement given the decoupling of HTTP processing from the backend cluster manager where TLS options are abstracted.

The way to approach this will likely be doing a new connection pool implementation that pools connections using SNI also.

Anyway, it needs a bunch of thinking.

[2018-05-30 22:10] jrajahalme commented on #1778
@mattklein123 gRPC spec (https://tools.ietf.org/html/draft-kumar-rtgwg-grpc-protocol-00) defines a timeout header
`grpc-timeout`:
[code]

Maybe `router` filter should detect if the request is gRPC and set the request timeout accordingly, i.e., default to infinity but use the value from the `grpc-timeout` field if present? Strictly speaking it is a server timeout, so maybe the proxy timeout should

[2018-05-30 22:20] jmarantz opened #3508 "stats: when hot-restart is disabled, each stat still consumes maxNameLength() bytes for the name."
*Description*:

@ambuc may wind up looking at this as he was the last one to dive into the not-hot-restart case.

[2018-05-30 23:34] #743 closed

[2018-05-31 02:38] winguse commented on #3503
@mattklein123 thanks for the information, as double check, i find this:

[code]

Is this required to be exact match?

[2018-05-31 02:42] alanconway commented on #173
For now I am leaving everything where it is and creating some dubious dependencies from upstream to server code, I'll mark them all clearly. Once I have something working I'll let you folks review it and decide what should be pulled up for re use and where it should live.  That's probably more efficient than me guessing at the re-org and then having to do it again if I get it wrong.

[2018-05-31 02:43] mattklein123 commented on #1778
@jrajahalme AFAICT from looking at that, that timeout value is also not sufficient for streaming APIs (if it is, it's not specified what the timeout actually means).

I don't have any issue with potentially supporting gRPC timeouts via header if there is a specific timeout header, but I think we should also definitely allow data frame timeouts to be specified in config since we can't trust headers

[2018-05-31 02:44] mattklein123 commented on #3503
@winguse yes, exact match required.

[2018-05-31 02:44] winguse commented on #3503
Thanks!

[2018-05-31 02:44] #3503 closed

[2018-05-31 02:55] mattklein123 commented on #2690
Yes, you could probably do this relatively "easily" for original_dst cluster/lb by doing the following:
1) Adding server name/authority to LB context.
2) Maintaining a map in original_dst by both destination IP and authority.
3) Creating a host specific to this authority w/ SNI pre-configured.

This will require some TLS work however, since you will need to create a custom TLS context and store it

[2018-05-31 04:51] liyehaha opened #3512 "[QUESTION] use cluster healthcheck makes upstream delay"
*Description*:

version: 1.7
when cluster healthcheck enabled, upstream servers will delay to response.

*Config*:
health_checks:
    - timeout:
        seconds: 10
      interval:
        seconds: 5
      unhealthy_threshold: 3
      healthy_threshold: 3
      tcp_health_check: {}

[2018-05-31 12:32] jmarantz commented on #3508
More thoughts on this in light of the #3506 which forced me to look at the stats code again and realize this problem:

I think a solution to this problem that will improve the maintainability of the codebase is to remove the following methods & data from Stats::RawStatsData
 - `configure(options)`
 - `configureForTestsOnly(options)`
 - `maxNameLength()`
 - `maxObjNameLength()`
 - `nameSize()`
 - `

[2018-05-31 13:08] taion809 commented on #3492
Hey @corn1ng
I wasn't able to reproduce this myself.

Can you try checking that you're able to connect to google from your container?

For example:
[code]

You should see a `200 OK` response.

[2018-05-31 13:52] alyssawilk commented on #3301
Yeah, that's precisely my concern.   I'd started playing around with #1630 and I think we need some discussion of how we want to handle websockets in general in Envoy since I'd prefer we handle both paths consistently.

My assumption is if we went with an H2-H2 connect hop or H1-H2 websocket->CONNECT upgrade per #1630, the entire websocket payload would pass through the filters because that path i

[2018-05-31 14:31] cpakulski commented on #3304
@mattklein123 @alyssawilk I can implement the logic described in #3282, unless someone is already working on this.

[2018-05-31 14:33] alyssawilk commented on #3304
That'd be great! I believe it's all yours :-)

[2018-05-31 14:45] cpakulski commented on #3304
Thanks!

[2018-05-31 17:20] alyssawilk commented on #3429
I believe this falls neatly under our new extension policy, so I think this should be good to go.

[2018-05-31 18:03] jrajahalme commented on #1778
I'm experimenting with this. Currently looking at adding support for `grpc-timeout` header, including defaulting to infinity for gRPC requests that are missing `grpc-timeout` header. Envoy-specific timeout headers override these, but timeouts from route config currently don't. Should maybe add a route config option that turns this behavior on ('use_grpc_timeout')?

[2018-05-31 18:06] jrajahalme commented on #1778
Not sure if gRPC client libraries set `grpc-timeout`, though, but even the default infinity would help without splitting up routes/clusters for gRPC/other traffic.

[2018-05-31 19:18] #3392 closed

[2018-05-31 19:24] taion809 opened #3515 "Route fails to match if host header contains a port domains omits port"
*Title*: Route fails to match if host header contains a port but domains omits port

*Description*:
Port numbers in an http host header affect route matching in envoy in a way that is unexpected as a user.  When issuing an http request, as a user, I would expect `curl service:80` to be matched as if I had issued the following request `curl service`.  What happens now is that if the list of domains

[2018-05-31 19:30] mattklein123 commented on #3515
@taion809 this is a duplicate of https://github.com/envoyproxy/envoy/issues/886 I think? Are you OK with tracking in that issue?

[2018-05-31 19:34] taion809 commented on #3515
ah cool sorry, i actually searched the issues first before posting so I must have missed that  🤣

[2018-05-31 19:34] #3515 closed

[2018-05-31 19:38] mattklein123 commented on #3512
@liyehaha sorry, can't parse the question here.

[2018-05-31 19:39] mattklein123 commented on #3508
@jmarantz big +1 on killing the statics. I hate them also.

[2018-05-31 19:59] mattklein123 commented on #3284
Quick update here. @htuch and I met with the researcher who wrote http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.85.1379&rep=rep1&type=pdf this morning.

It turns out that paper and similar papers don't apply, as they are about the inversion of the problem. Basically, when requests have weight but all backends are the same weight. Apparently from a mathematical perspective this makes a b

[2018-05-31 21:22] #2152 closed

[2018-05-31 21:51] #1030 closed

[2018-05-31 23:25] mattklein123 opened #3518 "shutdown crash"
[code]

I saw this a couple of weeks ago and I figured out what the problem was, but now I forget what I figured out. I will figure it out again tomorrow and update here and then fix.

[2018-05-31 23:34] mattklein123 commented on #3306
I'm going to close this as answered. Unfortunately I don't think we can change this now though I agree it was a poor choice (@ccaraman just ran into this at Lyft). If you feel like doing a doc warning PR that would be appreciated.

[2018-05-31 23:34] #3306 closed

[2018-05-31 23:38] buchanae commented on #2152
@mbanikazemi Thanks very much for wrapping this up!

[2018-06-01 00:24] derekargueta opened #3520 "response header manipulation for DirectResponseAction"
*Title*: header manipulation for DirectResponseAction

*Description*:
Our goal here is when we return an HTML file in a `DirectResponseAction` (i.e. a Forbidden page), to have it's `content-type` set to `text/html`. By default it's `text/plain`, rendering incorrectly in the browser. This could be done by setting the `content-type` response header but there is no way to specify response headers for

[2018-06-01 07:58] krootee opened #3522 "HTTP/2 "PING" message does not reset timeout counter for routes"
*Description*:
Envoy v1.6.0 route timeout ignores "PING" messages that are sent over the channel to keep it alive.
As results only option to keep a connection from being closed is to increase default timeout.
Our use case - gRPC server call that could take up to 90 seconds to produce reply (heavy calculations).

*Repro steps*:
Create Java gRPC server/client and configure "keep alive" (that would b

[2018-06-01 13:16] corn1ng commented on #3492
Hey @taion809
i am in china so i  cant connect to google directly you know .
so i modify Google to baidu . but  i also get the 503

[2018-06-01 14:52] htuch commented on #3472
@gumpt those are the files in question, specifically the lines linked to in the original post in this thread. I've assigned this ticket to you, feel free to add me as reviewer when you have a PR, thanks.

[2018-06-01 14:58] htuch commented on #3306
@mattklein123 I don't remember what the reasoning here was, it probably was just an oversight. I agree that the best we can do is docs. I also think I need to fix my gmail filters to spot these kinds of questions, I totally missed this.

[2018-06-01 16:16] ggreenway commented on #173
Another use case I'll probably need in the near to medium term: upstream proxy protocol. This would be straightforward with upstream network filters.

[2018-06-01 16:16] mattklein123 commented on #3522
In general, HTTP/2 PING is connection level and not stream level, so I don't think it's appropriate to use PING frames as a way of resetting the request timeout. Why not just raise your route timeout?

[2018-06-01 16:22] ggreenway commented on #3301
Yeah, let's schedule some time to discuss this and figure out the best path forward.

[2018-06-01 17:20] krootee commented on #3522
Yes - we raised timeout in this case, but then how "timeout" is different from "idle_timeout" parameter?
Reading documentation I got the feeling that "idle_timeout" was for stream level and "timeout" was for connection level.

What about handlers that could take minutes to execute with the duration that could fluctuate due to the amount of data?

[2018-06-01 17:56] alanconway commented on #173
Here's what I've got so far, not complete, untested etc (it compiles!)

  https://github.com/alanconway/envoy/tree/upstream-filter

Here's how it looks in YAML config:

  clusters:

  - name: upstream_amqp
    filters:
    - name: envoy.filters.network.amqp_bridge
    connect_timeout: 0.25s
    type: STATIC
    hosts: [{ socket_address: { address: 127.0.0.1, port_value: 5672 }}]

On Fri, Jun 1, 20

[2018-06-01 18:15] snowp opened #3525 "health check filter: cache response body"
Currently the health check filter only caches the status code of health checks. It would be nice to be able to cache the entire response body to allow other clients that might care about the body go through envoy and the health checking filter.

[2018-06-01 18:17] gumpt commented on #3076
@mattklein123 Reassign to @PiotrSikora?

[2018-06-01 18:21] mattklein123 commented on #3076
Reassigned. @PiotrSikora, when you merge in the upstream change, it would be nice to also include the regression test that @gumpt wrote in his closed PR. Thank you!

[2018-06-01 19:39] mattklein123 commented on #3522
I'm not sure which timeouts you are referring. Please link to docs/protos. We plan on adding data frame timeouts in the future: https://github.com/envoyproxy/envoy/issues/1778

[2018-06-01 19:52] mattklein123 commented on #3301
I think the best thing to do here might be to have a separate filter stack for web socket connections. The filter stack construction code would have to be changed slightly, but I don't think it would be very difficult to wait until initial headers are received. WS filters can be different types, and optionally a filter could implement both types so it could be used in both filter stacks. This woul

[2018-06-01 19:57] mattklein123 commented on #3520
I'm in favor of (1). We can't do a move, but we can add and deprecate.

[2018-06-01 21:52] mattklein123 commented on #1778
@jrajahalme SGTM to try that out. If you also feel like tackling https://github.com/envoyproxy/envoy/issues/1778 LMK as it's related.

[2018-06-01 22:58] bmadhavan opened #3528 "Disabling all endpoints though EDS using health_status: "UNHEALTHY" flag does not work."
**Bug Template**

*Title*: *Disabling all endpoints though EDS using health_status: "UNHEALTHY" flag does not work.

*Description*:
I am using the health_status: "UNHEALTHY" flag in endpoint config to disable specific endpoints learnt using EDS. This works greats if some of the endpoints are set to UNHEALTHY thru EDS. If I try to set all the endpoints as UNHEALTHY, the logic breaks and I see that

[2018-06-01 22:59] mattklein123 commented on #3528
See https://www.envoyproxy.io/docs/envoy/latest/faq/lb_panic_threshold

[2018-06-01 23:20] bmadhavan commented on #3528
Thanks @mattklein123 That definitely answers my question.
Just curious to know if there is any history associated with having such a setting & also why it shd be enabled by default ?

[2018-06-02 03:47] gokulvanan commented on #2463
@josdotso  In case you had not resolved it try:
`common_lb_config: { healthy_panic_threshold: { value: 35 } }`

This worked for me

[2018-06-02 16:10] georgeteo commented on #2852
@mattklein123: There have been a lot of requests in this thread. Will there a design doc with a list of which requested feature will be supported?

[2018-06-03 19:54] curiouserrandy opened #3529 "Address::Instance equality implemented through string compare"
**Issue Template**

*Title*: Address::Instance equality implemented through string compare

*Description*:
The currently implementations of Address::Instance (Ipv4instance, Ipv6Instance, and PipeInstance) all inherit from InstanceBase, which implements operator== as:

  bool operator==(const Instance& rhs) const override { return asString() == rhs.asString(); }

This works, but is a) dependent on

[2018-06-03 22:46] mattklein123 commented on #3528
@bmadhavan I think the FAQ and linked documentation is clear on what the motivation is. Do you have specific questions?

[2018-06-03 22:47] mattklein123 commented on #2852
@georgeteo yes when I start working on this (unsure when) I will provide a design doc once I do more research.

[2018-06-04 01:29] htuch commented on #3529
I think it would be reasonable to `dynamic_cast` to the specific type and then make use of internal representation for an efficient comparison, i.e. RTTI. Equality is actually the "case for RTTI" in the style guide that provides the argument in the affirmative :)

[2018-06-04 04:15] davecheney opened #3530 "Envoy does not initiate lds connection during startup"
*Description*:

Envoy does not initiate connection to lds during startup.

*Repro steps*:

Reproduced with 1.6.0 and master.

We deploy envoy to talk to a management sever on 127.0.0.1:8001. If the management server is available before envoy starts, that is, if envoy is able to get cds data during startup rather than entering a retry loop, then envoy will not initiate an LDS connection.
[code]
Thi

[2018-06-04 04:40] davecheney commented on #3530
Additionally if I remove the cds config from our bootstrap, leaving only LDS, then lds is probed as expected
[code]
*Logs*:

https://gist.github.com/davecheney/5c13be53694b49d754e75acba8f7ee27

[2018-06-04 10:39] davecheney commented on #3530
My best laypersons attempt to debug this so far

a. if the management server is not available; envoy moves quickly through static cluster initalisation
[code]
then waits for the cds / lds streams to connect. This is the happy path. This is not what is happening
b. What looks like is _iff_ the management server is available immediately then cds is initalised before starting the cds / lds streams
[c

[2018-06-04 13:26] alyssawilk opened #3532 "Routing cookie enhancements"
When issuing routing cookies, we may want to limit the cookie to the paths specified in the route match.

Also given I can't think of a good reason for them to be accessible from Javascript I think we should probably flag them HttpOnly by default.

[2018-06-04 14:59] akonradi commented on #3532
This sounds like a good idea, though we can't just stick the path from the route into the Set-Cookie `path` directive since the spec does prefix matching only. What about adding an explicit path configuration option?

[2018-06-04 15:19] alyssawilk commented on #3532
Yeah, I think that's the way we'd have to go.  I've sent you the httponly side since I know I care about that.  You want to take path, or should I flag as help wanted for now?

[2018-06-04 15:22] akonradi commented on #3532
Please flag it as help wanted, this'll make a good starter bug for someone.

[2018-06-04 15:27] alyssawilk commented on #3532
Actually if we're just adding path to ttl etc I'll do it in #3533 after my next meeting

[2018-06-04 16:04] mandarjog commented on #3530
@davecheney here is a similar issue we faced in istio https://github.com/istio/istio/issues/5391

[2018-06-04 17:02] shakti-das commented on #1813
@mattklein123 We need this functionality, can I take it up to implement the envoy side code for it?

[2018-06-04 17:03] mattklein123 commented on #1813
@shakti-das yes feel free. it should be a trivial change.

[2018-06-04 19:50] mattklein123 commented on #2864
Tracking in other issues.

[2018-06-04 19:50] #2864 closed

[2018-06-04 20:10] yolken-stripe opened #3538 "Expose stats api to lua filter scripts"
*Title*: Expose stats api to lua filter scripts

*Description*: It would be great if lua filter scripts could somehow hook into the envoy stats infrastructure so that, for instance, they could increment custom counters based on conditions encountered during filtering. We're doing auth and some other operations via lua filters, and we need stats on things like how many requests are blocked. We curr

[2018-06-04 21:56] davecheney commented on #3530
@mandarjog yup, that's it.

After sleeping on the issue the problem was

1. Normally my impl of StreamEndpoints does not return any results if there are no endpoints registered. This seemed like it was ok, a cluster would stay in warming until there was a response from EDS, meaning there was at least one endpoint to connect too.

2. However because of this behaviour during initial startup CDS woul

[2018-06-04 21:56] #3530 closed

[2018-06-05 00:39] mattklein123 commented on #3337
I've been looking at this for a bit, and it's not as straightforward as I thought. Also, I think the fuzz test failure is slightly different from the original issue. I will figure this out fully tomorrow.

[2018-06-05 08:12] futangw opened #3544 "does envoy 1.7 now support TLS1.3?"
**Issue Template**

*Title*: *does envoy 1.7 now support TLS 1.3*

*Description*:
Hi,

Looks the BoringSSL already support TLS1.3 draft 28, right?
https://boringssl.googlesource.com/boringssl/+/56c4ed9ad78bcabdf84dd8d872666f4877c0dac6

And the envoy already has some update for BoringSSL:
https://github.com/envoyproxy/envoy/pull/3507/files/09aa244703bc9ed04c84deb73f6c568887bc1aed

So can I ask if t

[2018-06-05 14:41] #3532 closed

[2018-06-05 15:50] hawran opened #3546 "Access log's timestamps are still in UTC regardless a containter's timezone?"
Hi,
I'm trying to configure envoy (as a docker container) to use my format string and I've noticed a strange behaviour:

**1. All timestamps use UTC.**
Finally I've managed to persuade the image to use my timezone, hence envoy uses timestamps using my localtime.
However:

**2. When I try to set up my access log's format (for a http connection manager), all timestamps are still in UTC.**

What am I

[2018-06-05 16:27] cpakulski commented on #3304
@mattklein123 @alyssawilk Correct me if I am wrong. Currently there are 2 independent mechanisms which are executed when there is a change in Host Set: first redistributes load based on health: https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/load_balancer_impl.cc#L56-L98 and second turns on Panic which puts all Hosts from priority level into a LB: https://github.com/envoypro

[2018-06-05 16:40] alyssawilk commented on #3301
The summary of the conversation of today's community meeting is we're going to in configuration allow both an HTTP filter chain and a websocket filter chain, where for now in Envoy we'll reuse existing HTTP Filter APIs so folks can reuse their filters for both if they so choose.

Plan A involves using the existing router filter for websocket-to-upstream, with the caveat if we find that upstream co

[2018-06-05 17:04] mattklein123 commented on #3546
UTC is by design. Trust me, you really want UTC.

For partial seconds see https://github.com/envoyproxy/envoy/pull/3269

[2018-06-05 17:04] mattklein123 commented on #3544
@PiotrSikora

[2018-06-05 17:21] PiotrSikora commented on #3544
@futangw it's supported, but not enabled by default (TLSv1.3 RFC wasn't published yet). You can enable it with [`tls_maximum_protocol_version: TLSv1_3`](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/auth/cert.proto#auth-tlsparameters).

[2018-06-05 17:32] mattklein123 commented on #3337
I've opened https://github.com/nodejs/http-parser/pull/432 to fix what I think is an http-parser bug. I will also test the original websocket issue to see if it's the same issue.

[2018-06-05 17:41] cmluciano commented on #2797
I think the assign option could be added if we leverage https://github.com/probot/commands . Can we create a new probot repository in Envoy so that we can store this config?

[2018-06-05 18:08] mattklein123 commented on #3337
I just confirmed the original issue is the same as the fuzz test issue. I will wait to see what upstream says about my fix.

[2018-06-05 18:14] mattklein123 commented on #2797
@cmluciano sorry what needs to be done exactly?

[2018-06-05 18:14] ddunbar commented on #3337
Nice, thanks Matt!

[2018-06-05 18:38] cmluciano commented on #2797
I don't think that the probot/robot can be hosted through the GH Apps unless you leverage a 3rd party app. In order to retain the robot slash commands, I believe we need to create a repo with our specific config and then deploy it to a hosting provider.

- Fork https://github.com/probot/commands
- Commit our slash commands to our fork (assigning issues, labelling)
- Deploy to a cloud provider

I c

[2018-06-05 18:40] mattklein123 commented on #2797
@cmluciano OK I will fork it today and give you write access. Will ping you when complete.

[2018-06-05 18:45] llchan commented on #3337
Yeah, thanks @mattklein123 for investigating and submitting the upstream fix. :+1:

Should we poke around a bit more on envoy's side though? It seems unlikely that my super-simple golang HTTP server is responding with a CR/LF before the HTTP header. Could there be a reused connection that needs to flush out trailing CR/LF before starting the next request?

[2018-06-05 18:46] mattklein123 commented on #3337
@llchan yes, that's exactly what is happening. My upstream fix will flush CRL/LF.

[2018-06-05 19:06] moderation commented on #3544
@futangw I can confirm it is working. With the version of boringssl we have in the repo only Draft 23 is supported. If you upgrade that dependency to the `master with bazel` branch at https://boringssl.googlesource.com/boringssl/+/master-with-bazel, Envoy will negotiate both Draft 23 and Draft 28 (which is the final approved draft).

[2018-06-05 19:06] llchan commented on #3337
I guess my question is more like, how did it even get into that state where there's an extra CR/LF sitting around? Shouldn't the Content-Length of the previous response give us the right size to read off? Is there some streaming parser (e.g. JSON) that consumes the data but not the newline after it?

[2018-06-05 19:18] mattklein123 commented on #3337
I have no idea, I didn't dig that deeply. AFAICT the parser should be eating extra CR/LF between responses and that's what I fixed it to do.

[2018-06-05 19:28] quanjielin opened #3552 "Add PolicyEnforcementMode to RBAC policy for policy dark launch"
*Title*:
*Add PolicyEnforcementMode to RBAC policy for policy dark launch*

*Description*:
Use case:
RBAC policy dark launch - test new RBAC policies work as expected before it's rolled out to production, policy in dark_launch mode won't effect real users, RBAC filter just log the results by applying policies and sending metrics to some metrics store/then build dashboard.

*Proposal change*:
Proto

[2018-06-05 19:30] quanjielin commented on #3552
/cc @qiwzhang @liminw @diemtvu

[2018-06-05 20:06] zuercher opened #3553 "prevent the use of custom resolvers for DNS discovery types"
When cluster type is STRICT_DNS or LOGICAL_DNS, report an error when if a custom resolver is set on the endpoint Address to guide users to the correct configuration.

See discussion here: https://github.com/envoyproxy/envoy/pull/3261/files#r188243657

[2018-06-05 21:00] mattklein123 commented on #3304
@alyssawilk correct me if I'm wrong, but I think the options here are either:
1) Default panic threshold to 0% if there is more than 1 priority.
2) Update the `choosePriority()` function:

https://github.com/envoyproxy/envoy/blob/6f92dc292de4c2db51f5dfbab5fc9b313ee9f315/source/common/upstream/load_balancer_impl.cc#L23

To check panic threshold as it iterates through each priority then potentially

[2018-06-05 21:02] mattklein123 commented on #2797
@cmluciano I forked here https://github.com/envoyproxy/commands and gave you write access.

[2018-06-05 21:15] davidben commented on #3544
Draft 28 is not quite the final draft either. The version number will change one more time on the wire to 0304. (Also we'll add the server random downgrade hardening which can't be added until the final version.)

[2018-06-05 22:09] #3417 closed

[2018-06-06 02:13] cpakulski commented on #3304
How should option 1 be interpreted? - to completely disable panic thresholds or to enter panic when all hosts are gone? I may be mistaken, but in both cases it will conflict with load calculation. First case  basically disables creating LB with all upstream hosts regardless whether they are healthy or not (this happens only when panic threshold is reached). In the meantime load calculating may shi

[2018-06-06 07:17] surki opened #3555 "RateLimit: Support for adding custom http response headers"
*Title*: *Support for adding custom http response headers from ratelimit filter/service*

*Description*:
We would like add custom http response headers for both allowed and rate-limited requests.
For example:
For a successful non-ratelimited request
[code]
For a rate-limited request
`x-rate-limit-retry-after: 50`

[optional *Relevant Links*:]
Something similar to: https://developer.twitter.com/en/

[2018-06-06 07:20] surki commented on #3555
@mattklein123 I have PoC here https://github.com/envoyproxy/envoy/compare/master...surki:ratelimit_headers

If this is something inline with what you expect, I can cleanup/add tests etc and send a PR. ?

[2018-06-06 09:00] sahanaha commented on #2436
I am in need of this feature as part of our envoy migration from V1 to V2 API. As in V1 we were routing based on cluster_header
https://www.envoyproxy.io/docs/envoy/latest/api-v1/route_config/route.html?highlight=cluster_header
Now in V2 API we are in need to provide dynamic value for metadata match criteria.

Do we have any timeline when this fix will be available ?

[2018-06-06 10:04] futangw commented on #3544
@mattklein123 @PiotrSikora @moderation @davidben
Thanks a lot for the information. With adding config of 'tls_maximum_protocol_version', I can see the TLS version is 1.3 now.

[2018-06-06 10:04] #3544 closed

[2018-06-06 12:34] alyssawilk commented on #3304
I'd be inclined to update recalculatePerPriorityState()

I think we should always do priority spillover if the aggregate health is 100+, even if P=0 is in panic.  Basically at that point you can use configured hosts and they can handle the load, so you do spillover.  If the aggregate health is less than 100 and P=0 is in panic, your healthy hosts can't handle the load and you are in panic mode, so

[2018-06-06 13:43] georgasa commented on #1291
Hello,

Although my configuration declares the stdout as the place to send the admin logs:

{
  "admin": {
    "access_log_path": "/dev/stdout",
    "address": "tcp://0.0.0.0:9901"
  },

I can't see anything there.

[root@prs-fh2ns /]# tail -f /dev/stdout

Also the workaoround @tak2siva made above didn't help my case ;-(

[root@prs-fh2ns /]# ps -ef
UID        PID  PPID  C STIME TTY          TIME C

[2018-06-06 13:48] DennisRutjes opened #3556 "Query Parameter Routing wit same prefix"
*Title*: *Query Parameter Routing*

*Description*:

I am using Ambassador en use
      envoy_override:
        query_parameters:
        - name: service
          value: GetMap

[optional *Relevant Links*:]

prefix: /test , query_parameters name=service,value=getmap => rewrite /server/getmap
prefix: /test , query_parameters name=service,value=getcapabilities=> rewrite /server/getcapabilities

the

[2018-06-06 13:58] cpakulski commented on #3304
Based on code analysis, LB for P=0 would send traffic to unhealthy hosts too if P=0 is in panic mode. It would be probably better to ignore panic for P=0 as long as aggregate health is 100+.
The rest looks good to me.

[2018-06-06 13:58] DennisRutjes commented on #3556
Looks like ambassador uses an 1.3 forked version of envoy wil liook into that first closing for now

[2018-06-06 13:58] #3556 closed

[2018-06-06 15:51] cmluciano commented on #2797
@mattklein123 Apologies. I was confused on the granularity of these probot repositories. After reviewing the probot docs further and reaching out on their slack, the real solution is to create a new probot app. Then we just import modules such as `probot/commands` as node modules.

I was pointed at the probot skeleton repo [here](https://github.com/probot/create-probot-app) . Could you please dele

[2018-06-06 17:41] curiouserrandy opened #3559 "Mechanism for accessing filter-generated data in added user-defined headers"
**Issue Template**

*Title*: Mechanism for accessing filter-generated data in added user-defined headers

*Description*:
Envoy currently provides a mechanism for creating user defined headers in the router filter (https://www.envoyproxy.io/docs/envoy/latest/configuration/http_conn_man/headers#config-http-conn-man-headers-custom-request-headers ).  However, the only data that can be included in tho

[2018-06-06 18:00] #1966 closed

[2018-06-06 18:00] #2877 closed

[2018-06-06 19:51] moderation commented on #1861
Before resuming work on this I think we should prioritize moving to rules_go 0.12.0. At the moment a build with 0.12.0 fails with a `cycle in dependency graph` error. I suspect the root cause for this and the inability to build on aarch64 is lyft/protoc-gen-validate. It has a number of hacks and workarounds in that it works today but I think without some maintenance it will prevent a move to rules

[2018-06-06 21:00] curiouserrandy commented on #3286
I'd like to get a basic design for this feature roughed out before I dive into #3559, since I think the two issues are pretty closely related, and I don't want to do anything in #3559 that breaks what we eventually do here.  Spitballing ideas here to provoke argument, and (hopefully, eventually) consensus:

* I'm adding dependency back-propagation as a requirement/nice-to-have from #3559 (i.e. fil

[2018-06-06 21:08] bmadhavan commented on #3528
Sorry for the delay.
For our use case where envoy is used as an edge proxy, I could not think of a very common situation where this is true - `a situation in which host failures cascade throughout the cluster as load increases.` But I am sure this might be a common situation in service mesh use case and hence the setting is made as a default.

[2018-06-06 22:23] htuch commented on #3286
I like the core idea of having filters make clear what their dependencies are. I think we can do this by having filters provide a list of filter names, that they will be expecting to rely upon for `dynamicMetadata()`. The dynamic metadata should already be organized as a map from "filter name -> metadata". This will be a first class method on the filter factory, much like `name()` is today. The on

[2018-06-06 23:44] mpuncel commented on #2086
would it be reasonable for Envoy to reset all of the server-side streams corresponding to a dead client-side TCP connection and vice versa?

[2018-06-06 23:46] yangminzhu opened #3563 "Add prefix/suffix match to HeaderMatcher"
*Title*: *Support prefix/suffix match in HeaderMatcher*

*Description*:
The current [HeaderMatcher](https://github.com/envoyproxy/envoy/blob/5c7027c34e93fa0cb0574e74757dab637b847255/api/envoy/api/v2/route/route.proto#L910) doesn't support prefix/suffix match. Even though it supports regex match, a dedicated prefix/suffix match still have better performance and much easier to use.

[2018-06-06 23:48] yangminzhu commented on #3563
@liminw @rodaine
I think the change is small and safe, will send the PR for review once it's ready. Thanks!

[2018-06-06 23:53] #3472 closed

[2018-06-06 23:57] jrajahalme commented on #1778
Added support for `grpc-timeout` header (#3564), but not for data frame timeouts, sorry.

[2018-06-07 00:11] ggreenway opened #3566 "STRICT_DNS cluster with empty hosts prevents envoy initialization from completing"
*Description*:
Envoy does not complete startup if there is a STRICT_DNS cluster with an empty hosts array. It never gets as far as opening listeners.

*Repro steps*:
Start envoy configured to load the following cluster via CDS:
[code]

[2018-06-07 00:13] ggreenway commented on #3566
The cause is that parent_onPreInitComplete() is called when the first DNS resolution completes for the cluster. But if there are no resolutions to perform, this is never called.

[2018-06-07 04:05] mattklein123 commented on #3566
IMO we should just treat zero hosts for a strict cluster as a config error.

[2018-06-07 04:06] mattklein123 commented on #2086
@mpuncel Envoy already does this.

[2018-06-07 04:06] mattklein123 commented on #3528
@bmadhavan the same situation occurs for edge proxies as well. In fact, this logic was implemented way back when Envoy was only used as an edge proxy at Lyft. I'm going to go ahead and close this as answered.

[2018-06-07 04:06] #3528 closed

[2018-06-07 04:07] #3512 closed

[2018-06-07 04:07] mattklein123 commented on #3522
Closing. Please reopen if you have further questions.

[2018-06-07 04:07] #3522 closed

[2018-06-07 04:08] mattklein123 commented on #3492
This sounds like a docker issue to me. I would take a look at your docker networking. Going to go ahead and close this. Reopen if you have further questions.

[2018-06-07 04:08] #3492 closed

[2018-06-07 04:09] #3500 closed

[2018-06-07 04:21] mattklein123 commented on #3555
@surki I would wait until @junr03 cleans up the rate limit proto mess we currently have which he is working on right now, then we can do your PR/feature. @junr03 can you work with @surki on that? Thank you!

[2018-06-07 04:22] mattklein123 commented on #2436
@sahanaha cluster header is supported in v2 here: https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/route/route.proto#L326

[2018-06-07 04:37] sahanaha commented on #2436
@mattklein123
Thanks for the response.
Do we also support dynamic value in metadata match criteria ? In my use case I need to match ":path" in route metadata_match, something like below...

                       "route": {
                              "cluster": "some_service",
                              "metadata_match": {
                                "filter_metadata": {

[2018-06-07 04:47] mattklein123 commented on #3304
The rest looks good to me.

Just went through the code. I think I understand this conversation but still a little hazy TBH. AFAICT @alyssawilk is proposing that we don't use panic at all if aggregate health is 100+, but then actually taking into account panic along with aggregate health < 100 for P0. So I think she is implying to not use panic in the case you are talking about?

Do you mind just l

[2018-06-07 04:49] mattklein123 commented on #2500
Initial partial implementation of cross thread cluster creation here: https://github.com/envoyproxy/envoy/pull/3479 cc @ramaraochavali

[2018-06-07 04:52] mattklein123 commented on #2797
@cmluciano done: https://github.com/envoyproxy/envoybot

You should have write access.

[2018-06-07 11:23] objectiser opened #3569 "tracing: Health check filter only prevents sampling of root span"
*Description*:

When the health check filter is used, any invocation that matches the health check path causes the root span to not be sampled, but the sampled flag is not be propagated to subsequent services. The subsequent services (or child spans) should also not be sampled.

*Repro steps*:

* Change to the `examples/jaeger-tracing` folder
* Edit the `front-envoy-jaeger.yaml` to update the `htt

[2018-06-07 15:27] curiouserrandy commented on #3286
So I think we need it to be filter names *and* value names, because in the case of user-defined header configuration (which I consider a sub-case of this), we want to tell the producing filter exactly what information is needed.  This may have complex type requirements (i.e. we can't just return a proto struct).  Let me know if you want me to let go of this requirement, but it seems an important o

[2018-06-07 15:43] #3452 closed

[2018-06-07 15:45] mattklein123 commented on #2436
@sahanaha sorry do you just need to match on the path header? Can you describe what you are trying to accomplish exactly?

[2018-06-07 15:47] mattklein123 commented on #3559
@curiouserrandy I think I discussed this briefly with @alyssawilk, but what's the rationale for this complexity vs. just setting the headers in the filter directly? I'm not explicitly opposed, I'm just trying to understand the use cases we are trying to unlock here.

[2018-06-07 15:52] mattklein123 commented on #3569
@objectiser done

[2018-06-07 15:56] mattklein123 commented on #3286
@curiouserrandy I commented in #3559, but since we are discussing design here, I'm still a little hazy on why all of this complexity is needed. I do really like the idea of a filter being able to describe its order dependencies as we have lots of confusion about that, but do we need complicated data dependencies also? What do we gain from that versus a more general mechanism such as request local

[2018-06-07 16:09] ggreenway commented on #3566
On the other hand, it's valid for static clusters to have empty hosts. I ran into this due to a machine-generated config, and I didn't notice the empty hosts.

On a related note, it was painful to debug why envoy was stuck during startup. To increase visibility/debugability, I was thinking of adding a timer and printing a log message every 5s naming which clusters are still blocking init. Thoughts

[2018-06-07 16:18] mattklein123 commented on #3566
Sorry, I don't completely follow. Shouldn't that be a config error also if it's not?

Sure, that sounds useful. Though, I feel like we should do it more generically as part of the init manager so we can output other blocks as well around RDS, etc.?

[2018-06-07 16:27] michalholecek opened #3570 "Lua memory leak"
Hi,
I am having a problem with lua scripts. When using envoy.lua http filter envoy allocates memory after each request, bot does not free it. In my case, after around 920K request, 1GB is allocated and envoy crashes.

This happens even when I just use the respond function:
[code]
But it does not happen when I use print:
[code]

Since I am using a docker image, I dont have a stacktrace of this erro

[2018-06-07 16:29] mattklein123 commented on #3566
Got it. OK. Out of curiosity why? If you want to allow empty hosts that's fine, we can just fix the bug.

[2018-06-07 16:31] mattklein123 commented on #3570
@michalholecek thanks for the report. I haven't heard of this issue for. You should be able to use the tcmalloc heap profiler to potentially get some heap dumps to see what is going on? https://gperftools.github.io/gperftools/heapprofile.html

[2018-06-07 16:40] ggreenway commented on #3566
One fewer conditional in generating the config. When I'm deciding which clusters to create, I don't have to consider whether they have any hosts in them. I only have to consider which hosts there are when filling in the hosts-array.

[2018-06-07 16:42] mattklein123 commented on #3566
OK. I'm fine either way, we can just fix the bug.

[2018-06-07 16:57] htuch commented on #508
https://github.com/envoyproxy/envoy/pull/3493 just merged with the string lib fuzzing.

[2018-06-07 17:20] alanconway commented on #2852
This may have some structural similarities to the AMQP support I'm working on #3415. It will probably also need to use upstream fliters #173. Raising this so we can watch for opportunities to reuse/co-operate on common infrastructure features in Envoy that support both cases.

[2018-06-07 18:13] alyssawilk commented on #3559
The problem is if some user wants to have
x-mycustom-header: %DOWNSTREAM_REMOTE_ADDRESS_WITHOUT_PORT%, %IPGEO%, %DOWNSTREAM_LOCAL_ADDRESS%
we have to reimplement envoy-supported user defined headers in a filter, because we can't mix and match Envoy supported fields with generic fields.
Really I wish this had been done in a filter we could subclass rather than the router, but I think that ship has

[2018-06-07 18:23] mattklein123 commented on #3559
Ah OK. I see. Sorry I misunderstood this part when we talked. Makes sense.

I'm wondering though if we can do without the dependency logic? If the data doesn't exist can it just be empty? (Mainly just trying to figure out if this is complexity we really need.)

[2018-06-07 18:28] alanconway commented on #173
Initial pull request #3571 - this works for #3415 (AMQP/HTTP bridge) but is not complete. I'd like a review of the direction before continuing.

[2018-06-07 19:27] curiouserrandy commented on #3559
So there are two arguments for the individual name dependency logic, the forward argument (making sure that the downstream filter gets everything it needs) and the backwards argument (making sure that the upstream filter knows what it's required to produce).  Checking in the forward direction (for individual pieces of data--I think we want to make sure that filters dependencies are satisfied as pe

[2018-06-07 19:36] mattklein123 commented on #3559
No I think you are explaining the issue and the tradeoffs very well. I guess I could go either way on this. It sounds really nice to do what your proposing, but also a bunch of work. I don't think it's *that* bad to have it be configuration driven (at least for now, we can always add this later). If it were me I would probably defer the dependency work until we clearly know the config stuff is cau

[2018-06-07 19:38] alyssawilk commented on #3559
+1 on deferring the dependency work for the moment.  I think we can hard code our filter order for now and not worry about it, but I agree we'll probably want it in the long run.

[2018-06-07 19:47] curiouserrandy commented on #3559
I'm fine with deferring the dependency work; I'm mostly pushing this to make sure we know up front where we're headed and can avoid putting in a whole lot of extra work that we'll have to remove later.  There'll be API changes when we finally get to doing any of the dependency work (inter-filter or on specific pieces of data) so I'd recommend doing all of that at once to minimize API churn.  But a

[2018-06-07 19:49] curiouserrandy commented on #3559
Ah, sorry, missed @mattklein123 's comment on the inter-filter dependency stuff causing issues now.  I'll separate that out in the design document so that it can be implemented without the more complex stuff, but I'm not sure that I'll be putting time into implementing it in the short term.

[2018-06-07 20:43] juvexp commented on #2557
Sorry for the lack of updates. I worked on this only a little bit since the bug was filed:
1. Created a personal fork: https://github.com/juvexp/envoy
2. Wrote a script to export QUIC code from Google to my personal fork.
3. Added the implementation for a few QUIC platform APIs.

I plan to get back to the QUIC platform implementation in the next week, hopefully I can get it done by the end of this

[2018-06-07 21:13] grantr opened #3575 "Support scraping Prometheus metrics from proxied endpoints"
## Scenario

I'm using Istio with Envoy on Kubernetes. I use Prometheus to gather metrics from containers in the service mesh. I'd like to autoscale my Kubernetes workloads using a combination of Envoy metrics and custom metrics gathered by Prometheus.

Prometheus turns out to be a poor solution for this problem. Responsive autoscaling requires access to low latency and high frequency usage metric

[2018-06-07 21:56] htuch commented on #3286
@curiouserrandy the idea with using `envoy::api::v2::core::Metadata` would be to apply some form of filtering before being presented to the user, presuming we can do this efficiently. I agree we want to structurally enforce visibility rules here.

Regarding having the value labels being declared dependencies, I agree, we probably will want this for performance. I guess one of the tradeoffs here is

[2018-06-07 23:06] #3284 closed

[2018-06-08 00:28] ggreenway commented on #1031
We'll need this soon as well, for tcp proxying.

[2018-06-08 09:12] kalmanb commented on #2801
This occurred for me because of my CDPATH env variable. Fix for me was:
[code]

[2018-06-08 13:38] cpakulski commented on #3304
I believe that now we all agree on logic to use. But I am struggling with "elegant" implementation. Currently, host changes to PrioritySet trigger update callbacks to be run: https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/upstream_impl.h#L295. One of the callbacks is [LoadBalancerBase::recalculatePerPriorityState ](https://github.com/envoyproxy/envoy/blob/master/source/comm

[2018-06-08 14:17] mpuncel commented on #3304
disclaimer: I'm also a little hazy here, but I'm wondering if we can simplify things by ignoring the panic threshold setting altogether. There's already an "overprovision" factor here which is a measure of what percentage of locality/priority membership is needed to be at "full capacity". Panic threshold seems redundant to that to me.

One way to implement this I think would be to conceptually pre

[2018-06-08 14:35] mattklein123 commented on #3575
@grantr this is an interesting idea. I've marked this issue "design proposal" since I think if we want to go this direction we should have a full design doc. If you feel like doing that doc, go for it.

[2018-06-08 14:52] #3369 closed

[2018-06-08 14:55] #2004 closed

[2018-06-08 16:04] curiouserrandy commented on #3286
@htuch: Let's spend 5m chatting offline about the use of ...::Metadata; I don't have a sense as to the different possible implementations you're considering.  Naively, I think using that type requires a filtered copy for each filter.

@mattklein123 : Ooops, I think #151 is what I was trying to get at in #3559 without realizing it exists.  Do you see a difference in intent between those two issues,

[2018-06-08 16:06] curiouserrandy commented on #3286
[Deleted last comment; please ignore in email stream.]

@htuch: Let's spend 5m chatting offline about the use of ...::Metadata; I don't have a sense as to the different possible implementations you're considering. Naively, I think using that type requires a filtered copy for each filter.

@mattklein123 : Oh, thanks for the pointer to #151; that's very relevant to this discussion.  Could you give m

[2018-06-08 17:02] #1268 closed

[2018-06-08 17:18] ggreenway commented on #1031
Let's start discussing implementation.

First question: is this ever needed for a non-tcpproxy use case?

If not, then the implementation can go into tcpproxy and it will be pretty simple.

If yes, then my first thought would be to make it a network filter on the on the upstream connection (See #173). Or I suppose it could also be implemented by a network filter on the downstream side, as the last

[2018-06-08 17:57] mattklein123 commented on #1031
IMO we should do this as an upstream connection network filter, especially since that work has already started?

[2018-06-08 17:58] #3518 closed

[2018-06-08 18:20] mattklein123 commented on #3304
@cpakulski it's more confusing than that unfortunately. The "thread local" LB base is only used currently for the hashing load balancers. The rest of them don't use that and actually inherit from "zone aware LB base" which uses different logic in the panic path. I can't really so more without going and looking in detail, but we might need to unify that logic (maybe?). Or, as @mpuncel is mentioning

[2018-06-08 18:28] mattklein123 commented on #3286
Sorry I'm probably just confused and don't fully understand what is being proposed. Per the other issue I'm just trying to make sure we don't wind up with complexity we don't need right away. @curiouserrandy maybe after you sync up with @htuch you can offer a more concrete proposal?

I suspect it's very similar, but I'm not completely sure until the metadata proposal is more fleshed out because TB

[2018-06-08 18:37] ggreenway commented on #1031
Oh, I didn't see that the work had started (I'm pretty far behind on stuff this week). In that case, I agree.

[2018-06-08 18:59] mattklein123 commented on #3256
I think this is fixed.

[2018-06-08 18:59] #3256 closed

[2018-06-08 19:47] ggreenway commented on #1031
We'll need to figure out a nice way of passing the downstream remote address to the upstream connection. Possibly pass an optional RequestInfo when creating a ClientConnection?

[2018-06-08 20:20] cpakulski commented on #3304
@mattklein123 The last comment confused me even more. Unless there is need to do it now, I would like to analyze the code further and maybe unify the logic, as you suggest or remove `isGlobalPanic()` calls as you and @mpuncel suggest, but it would be nice to know what I am doing.

[2018-06-08 20:36] mattklein123 commented on #3304
@cpakulski no need to do it now, feel free to take a look at the code. I agree this is very confusing, and even if you just add more comments first that would be awesome.

[2018-06-08 20:56] mattklein123 commented on #1031
@ggreenway that seems reasonable to me. @alanconway WDYT?

[2018-06-08 21:18] alanconway commented on #1031
I am always translating to/from HTTP and letting envoy's existing HTTP router in the middle decide which upstream connection to use - it has the usual HTTP info to do that.
I don't have an objection to passing up information from downstream out-of-band, but presently everything I need is in the message, be it in HTTP or AMQP form.

[2018-06-08 21:41] alanconway commented on #173
The client (cluster) and server (listener) filters are working, but I have an additional use case:

AMQP is a symmetric protocol, unlike HTTP. Since envoy is often a sidecar, I'd like many envoy sidecars to be able to connect to a single well-known dispatch rather than vice-versa. This trick is I'd like envoy to be able to *receive* requests from dispatch over those *outbound* connections. My amqp

[2018-06-09 11:01] hawran commented on #3546
OK, thank you.

[2018-06-09 13:31] dnivra26 opened #3582 "closing connection due to connection close header"
*Title*: *503s from envoy when hit with around 700 requests per second*

*Description*:
We have an edge-envoy and from there we have a service which has a side car envoy. This setup is hosted on GKE. We were doing some performance tests and observed that when we try to hit the edge-envoy with around 700 requests we get a lot of 503s (around 20%). The edge-envoy also does TLS termination, but witho

[2018-06-09 21:38] Soumya117 commented on #3553
Is this issue still open and no one is working? If yes then i can start this one.

[2018-06-10 15:46] minhlongdo commented on #1963
@mattklein123 Hi, could I pick this one up?

[2018-06-10 17:19] sahanaha commented on #2436
@mattklein123

Yes, idea here is to dynamically match the :Path value in route metadata with the host metadata ex:

"route": {
                          "cluster": "some_service",
                          "metadata_match": {
                            "filter_metadata": {
                              "envoy.lb": {
                                "url":      ":path",               //match the dy

[2018-06-10 23:35] mattklein123 commented on #1963
@minhlongdo this is a "perma issue." Feel free to just go ahead and add some coverage!

[2018-06-10 23:36] mattklein123 commented on #2436
@sahanaha sorry don't know off the top of my head. @zuercher is this is the same issue as the original issue?

[2018-06-10 23:37] mattklein123 commented on #3553
@Soumya117 feel free to work on it!

[2018-06-10 23:38] mattklein123 commented on #3582
Most likely you are hitting circuit breaking limits. Check the stats on the service to service Envoy. I assume the logs above are from the edge Envoy.

[2018-06-10 23:39] #3546 closed

[2018-06-10 23:53] mattklein123 commented on #173
@alanconway I don't think I fully follow your previous comment. Can you describe in more detail?

[2018-06-11 00:20] rgs1 commented on #2436
@sahanaha we achieve this with a filter, by doing something like:

[code]

However, it would be nice to be able to express this via config.

[2018-06-11 04:28] dnivra26 commented on #3582
updated the circuit breaking settings to increase the limit. still facing the issue.

Logs from the service side car envoy

[code]

Also in the stats i see this
[code]

[2018-06-11 05:51] dnivra26 commented on #3582
update
when i port forward the side car envoy of the service, and try the same performance test. all the requests are passing and i don't see any 503s. Only when the request goes through edge-envoy and then to side car envoy of the service, we are getting a lot of 503s.

[2018-06-11 07:04] robertlemmen opened #3583 "high latencies in grpc requests when going through envoy"
Hi everyone,

we have a GRPC client and server service as part of our system, hosted on google cloud kubernetes. Between these two are a ingress controller using contour and envoy, and an esp. In our production system, we are observing high latency intervals that come an go. we removed the esp but that did not make a big difference, but when bypassing the envoy proxy, latencies immediately improve

[2018-06-11 10:46] shakti-das commented on #1813
@mattklein123 One implementation specific question: If runtime and tracing_config both have values. Should the the tracing_config override the runtime?

[2018-06-11 11:02] objectiser commented on #1813
Sorry for jumping in, but definitely - the runtime config can be used as defaults, but the tracing_config would be used to provide custom tracing configure for specific situations, so must override.

[2018-06-11 11:36] dnivra26 commented on #3582
/clusters info from side car envoy
[code]
circuit break configuration
[code]

but i never saw the active connections cross over ~1020.

[2018-06-11 13:45] lizan opened #3584 "repo layout: singular vs plural naming"
Seems ecently (after 1.6.0) we introduced some naming inconsistency in Envoy API for extensions.

In API, everything is singular except [`grpc_credentials`](https://github.com/envoyproxy/envoy/tree/master/api/envoy/config/grpc_credentials/), but in `{source,test}/extensions` everything is plural.

My suggestion is we can make at least rename `api/config/grpc_credentials` to singular as it is only

[2018-06-11 13:53] alyssawilk commented on #3332
I think we may also want to tie this in to the centralized system for #373.  I can imagine hitting some threshold (event loop time?) at which we simply stop accepting new requests so we can make forward progress on existing ones.

[2018-06-11 13:59] jmarantz opened #3585 "Stats memory usage can probably be improved quite a bit"
https://github.com/envoyproxy/envoy/issues/3508 is about not having to allocate stats memory as an NxM block.  But really the much bigger prize here is to use a lot less stats memory by not storing gigabytes of repeated strings.  Why we want the fully elaborated stat name in memory at all?

If we represented stats structurally with a format string with named variable substitutions, e.g.
   prefix.

[2018-06-11 15:38] mattklein123 commented on #1813
@shakti-das @objectiser it's the opposite. The configured value becomes the default for the runtime lookup, and runtime overrides. There are similar examples elsewhere with the same pattern.

[2018-06-11 15:40] mattklein123 commented on #3584
Personally, I would just rename `grpc_credentials to singular in API to be consistent and leave the source code as is, since I don't think it's worth the churn, but I don't feel that strongly about it.

[2018-06-11 15:48] lizan commented on #3583
What is your median latency in both case (not 99 percentile, see below). And if it is possible, can you provide your Envoy config and stats/log (See [here](https://github.com/envoyproxy/envoy/blob/master/tools/envoy_collect/README.md) for how to collect)? What is the latency graph you see in Google Cloud Console in Endpoints section?

The high latency every 5 mins is likely from ESP, which check y

[2018-06-11 16:03] objectiser commented on #1813
@mattklein123 Sorry if I've confused things - maybe I'm misunderstanding the terminology.

What is the term you are using for https://github.com/envoyproxy/data-plane-api/blob/master/envoy/config/filter/network/http_connection_manager/v2/http_connection_manager.proto#L71? This is what I meant in terms of the configuration that overrides.

[2018-06-11 16:28] mattklein123 commented on #1813
@objectiser what you refer to is basically the configured default value. Then we have a system called "runtime" which allows overrides (https://www.envoyproxy.io/docs/envoy/latest/operations/runtime). For example, see how we handle fault filter settings: https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/http/fault/fault_filter.cc#L34

The default is taken from the config, t

[2018-06-11 16:38] #3563 closed

[2018-06-11 16:45] sahanaha commented on #2436
@rgs1
Thanks! I will work on adding the above mentioned filter to suite my requirement.

Do we have any ETA to achieve dynamic metadata matching via config ?

[2018-06-11 17:09] shakti-das commented on #1813
Thanks for the example, will keep the override similar.

[2018-06-11 17:17] alanconway commented on #173
In HTTP, the process (client) that opens the connection sends requests, the process (server) that listens for connections receives them - the direction of requests is always the same as the direction of establishing the connection.

In AMQP, once a connection is open, either side can create links and send messagse. Typically this is used in a client/server manner - the client sends requests, publi

[2018-06-11 17:44] alanconway commented on #3415
@mattklein123 question - the extension source is all under source/extensions, but the configuration is under api/ Should new extensions follow this pattern, or bundle their configuration .proto files with their source?

[2018-06-11 17:54] objectiser commented on #1813
@mattklein123 Ok thanks - I was thinking that runtime meant the "runtime wide" defaults - not per request/filter.

[2018-06-11 18:10] mattklein123 commented on #3415
This is an inconsistency I don't love, but I would just follow along w/ the others for now.

[2018-06-11 18:20] mattklein123 commented on #173
Kind of. How is this connection going to be opened in the first place? I.e., how will Envoy know to make a reverse connection? Can this reverse connection then just do dispatch and loopback to a normal listener?

[2018-06-11 18:53] mattklein123 opened #3589 "http/1.1 watermark crash during premature response"
[code]

@alyssawilk I think this is an issue where we run watermark callbacks when there is no active HTTP/1.1 outgoing requests (basically idle timeout 408 response from upstream). Before I page this back in, do you know off the top of your head the right fix?

[2018-06-11 19:12] alyssawilk commented on #3589
We defer the initial callHighWatermarkCallbacks, but don't defer subsequent callLowWatermarkCallbacks, so if we start high, then go low, we'll get the decrement and not the increment.  That'll definitely mess with the system but I wouldn't expect a crash.

I'm inclined to roll back and this time go with my instincts and smoke test the roll-forward :-)

[2018-06-11 19:19] mattklein123 commented on #3589
@alyssawilk this has nothing to do with your recent change. I think this bug has been there for a very long time, we just hit a new path for an internal service to see this bug.

[2018-06-11 19:28] alyssawilk commented on #3589
Sorry, how do we have a 408 timeout with no stream?

I am actually concerned there's a watermark bug with the PR I checked in.  If we don't think it caused any crashes I can fix in parallel but it needs fixing!

[2018-06-11 19:53] mattklein123 commented on #3589
@alyssawilk OK if you know there is an issue w/ your other PR, let's revert it and we can reapply?

For this issue, we are hitting this path:

https://github.com/envoyproxy/envoy/blob/1d14b9e46cf6daaff0f02348588a36fbfe8ef65f/source/common/http/http1/codec_impl.cc#L633

https://github.com/envoyproxy/envoy/blob/1d14b9e46cf6daaff0f02348588a36fbfe8ef65f/source/common/http/codec_client.cc#L122

Then hi

[2018-06-11 20:13] mattklein123 commented on #3589
TBH though, this confuses me a little bit, in that I can't think of how we could we could have been above our high watermark callback, but have no active request, unless it's a timing issue/race, which i guess would make sense.

[2018-06-12 00:54] thileesf opened #3592 "Envoy OOM problem"
Hi, we are running into `envoy.server.memory_heap_size` unbounded growth problem, causing the kernel to kill envoy process. Below are the details:

We had a lightstep-collector deployment in a 4 node cluster (r4.large EC2 instances, with 15G RAM), each of which also had envoyproxy running on it (without processing any traffic). The collectors directly received system traces (from about 40 servers)

[2018-06-12 01:02] mattklein123 commented on #3592
It's hard to say without knowing where the memory is being used. I would take a look at some stats to see what is growing, and you can also enable heap profiles via tcmalloc: https://gperftools.github.io/gperftools/heapprofile.html

[2018-06-12 01:03] mattklein123 commented on #3589
@alyssawilk I'm looking at this so will assign to myself. I looked some today and there is no smoking gun so will look more at core dumps tomorrow.

[2018-06-12 01:12] mbanikazemi commented on #2096
I am guessing the reason for not removing all listeners first before adding the ones from the new configuration is optimization for the more common cases where a large number of listeners remain during updates. In that spirit, I will shortly submit a PR that avoids doing that but solves the problem. (If removing all first and then adding new one is not a concern I can change the PR to simply do th

[2018-06-12 01:14] thileesf commented on #3592
Thanks @mattklein123.
Is there a particular stat you suggest that I looked at?
Most stats I sampled seem normal, except this:
`envoy.listener.0.0.0.0_15149.ssl.ciphers.ECDHE-RSA-AES128-GCM-SHA256`:
![screen shot 2018-06-11 at 6 09 44 pm](https://user-images.githubusercontent.com/2374859/41264703-f9c10892-6da2-11e8-8c9a-571cf319bdfb.png)

[2018-06-12 03:17] laosijikaichele opened #3594 "How does envoy do retry on grpc request?"
*Title*: *How does envoy do retry on grpc request?*

*Description*:

Questions are:
1.For unary call: Envoy will re-send the header & data frames again, right?
2.For streaming call which might contains endless data frames, how to do the retry?

[2018-06-12 08:33] lizan commented on #3584
Initially I thought it might make CODEOWNERS file simpler for new extensions, but it looks hard so I don't feel strongly either for renaming {source,test}/extensions.

[2018-06-12 09:05] dnivra26 commented on #3582
@lizan 4864 is the limit.
also any idea on the 503 issue i have mentioned above?
[code]

[2018-06-12 10:00] tailhook opened #3596 "How to listen file descriptor, perhaps using systemd activation protocol"
It would be nice to be able to listen standard port 80 and 443 without starting envoy as root user. Systemd provides the standard protocol for that called [socket activation protocol](http://0pointer.de/blog/projects/socket-activation.html). There are also other ways to do the same with e.g. nginx even if it doesn't support that particular protocol.

Is there any equivalent of passing fd to envoy?

[2018-06-12 11:38] sahanaha commented on #2436
@rgs1

I have 2 questions..

#1 with the above filter example you have given how does my route metadata_match configuration looks like ? Should  I remove metadata_match config from route ?

#2 can we achieve setting dynamic metadata value with LUA filter ?

I was just exploring the LUA filter. I see that we can extract the ":path" value from the header. Is there any way that we can set :path value

[2018-06-12 14:30] alyssawilk commented on #2935
Actually I think this one is good enough - we don't have test filters per se but we can add them as needed

[2018-06-12 14:31] #2935 closed

[2018-06-12 14:46] agile6v commented on #2247
@mattklein123 Which version of envoy will support the thrift? Thanks.

[2018-06-12 14:46] #3584 closed

[2018-06-12 16:09] mattklein123 commented on #3596
This is not supported today. I've marked "design proposal" wanted since I think it would be good to discuss whether we want to implement something like this or not.

[2018-06-12 16:19] mattklein123 commented on #3592
@thileesf the stat you point out is a counter, so it loosely tracks with the rate of incoming connections. It's not a gauge. For stats I would be looking at increasing active connections, increasing buffered data, etc. Those might tell you if there is some type of unbounded growth that could be fixed by config.

Otherwise, it's a memory leak (though I don't know of any open leak issues). For that,

[2018-06-12 17:01] rgs1 commented on #2436
@sahanaha:

1) that's correct, you don't need `metadata_match` per route anymore because the dynamic metadata that's set by the filter is matched directly against the endpoints' metadata. If you look at https://github.com/envoyproxy/envoy/commit/2d2506761a3c9d03594619f7c6cc8596ddb59950, you'll see that the request's metadata overrides the route's metadata (if any).

2) i haven't played with LUA fi

[2018-06-12 18:39] #3529 closed

[2018-06-12 19:57] rgs1 opened #3607 "Should getLastAddressFromXFF() handle comma-separated lists without spaces too?"
I just bumped into https://github.com/envoyproxy/envoy/pull/3587/commits/035a8168e45e0cafc2c6b4c8701b47c283139fff where `Utility::appendXff()` went from generating `x-forwarded-for` with a comma plus a space as the separator, to just a comma (no spaces).

Does that mean that `Utility::getLastAddressFromXFF()` needs to handle both types of separators (with and without spaces)? The IP tagging module

[2018-06-12 20:01] rgs1 commented on #3607
Looks like both cases (space and no space) are valid in HTTP lists:

https://tools.ietf.org/html/rfc7239#section-7.1

[2018-06-12 20:01] mattklein123 commented on #3607
Ugh. Yes, we definitely need to handle both cases. cc @danielhochman this might require another rollback. We might want to just revert https://github.com/envoyproxy/envoy/commit/035a8168e45e0cafc2c6b4c8701b47c283139fff while we sort this out.

[2018-06-12 20:28] rgs1 commented on #3607
@mattklein123 something like https://github.com/envoyproxy/envoy/pull/3610 perhaps?

[2018-06-12 21:11] #3607 closed

[2018-06-12 21:27] rgs1 opened #3611 "Document how to roll out and handle breaking changes to the XFF header"
This is a follow-up for #3607.

#3597 was reverted because it breaks `Utility::getLastAddressFromXFF()`. We should document that #3610 is a pre-requisite for safely unreverting #3597 and rolling it out.

[2018-06-12 22:54] moss94 commented on #2436
@sahanaha
Unfortunately the LUA filter included with Envoy doesn't expose access to the dynamic meta data feature that was added.  Would be great if it was...
I had the same use case, and hacked this together by modifying lua_filter.cc/h (this is a rough outline).

`//Expose requestInfo in Decoder/Encoder callbacks
_RequestInfo::RequestInfo& getRequestInfo() override { return callbacks_->requestIn

[2018-06-13 05:03] lwhile commented on #3570
@mattklein123
I reproduced this bug in my environment. Envoy will be panic when the number of requests approaches 970k.

[code]

[code]

Maybe I do something wrong when  I used the profiler, the result not contains the function call exactly.

[2018-06-13 08:04] zyfjeff commented on #3570
@lwhile Seems to be lack of symbol information, you can use `bazel -c dbg` to build envoy

[2018-06-13 09:51] andytruong opened #3615 "filter_chain_match.server_names is not working for TCP filter"
*Title*: *filter_chain_match.server_names is not working for TCP filter*

*Description*:

Per my configuration bellow, I can't route my TCP request to NATS:

[code]

If I remove the `filter_chain_match`, it's working as expected.

*Config*:

[code]

[2018-06-13 12:10] michalholecek commented on #3570
Hi, sorry for the late response, here is my heap profile:
[heap_profile_debug_38.txt](https://github.com/envoyproxy/envoy/files/2097996/heap_profile_debug_38.txt)

[2018-06-13 12:40] lwhile commented on #3570
@zyfjeff  Thanks for your help.

[code]

[2018-06-13 13:42] mpuncel opened #3617 "Clarify how resource hint updates work in xDS protocol"
We're running into some problems where Envoy might not receive endpoints for a new cluster added in CDS. We're using java-control-plane for our xDS server.

The issue seems to be the following:

If we add a new cluster (and therefore update CDS and EDS), we save a new xDS snapshot into java-control-plane's cache, which triggers all of the relevant xDS responses. There's a race here between the EDS

[2018-06-13 14:01] alanconway commented on #173
That is probably the best way to start: can we configure a Cluster to make a connection even if there's no HTTP traffic to prompt it? Then we can have an amqp_reverse_server filter on the cluster which is configured to make it's own loopback connection to a normal listener. Or something - I'll have a think.

[2018-06-13 14:05] #2096 closed

[2018-06-13 14:10] alyssawilk commented on #3611
This includes reapplying clear docs in the release notes as @rgs1 called out, and reapplying #3609

This should not be done until mid-July to minimize rollout dependencies mentioned in #3610

[2018-06-13 15:37] dio commented on #2436
@moss94 stealing your idea, I have a WIP in here: https://github.com/dio/envoy/commit/293fcaccf4dbcac62c3fc59bf916c2636ba51454

I put the API as follows

[code]

As exhibited in the test file [here](https://github.com/dio/envoy/blob/293fcaccf4dbcac62c3fc59bf916c2636ba51454/test/extensions/filters/http/lua/lua_filter_test.cc#L1466-L1471). Not sure if we should default to "envoy.lb" key whenever pos

[2018-06-13 15:46] dio opened #3618 "Add Lua API for accessing dynamic metadata"
*Description*:

Add Lua API for accessing dynamic metadata as discussed in: https://github.com/envoyproxy/envoy/issues/2436#issuecomment-396662370

The API could be done as follows:

[code]
However this is still a rough design. This needs more input.

@moss94 @sahanaha

[2018-06-13 16:00] mattklein123 commented on #173
Your filter can do singleton tasks on the main thread (there are examples of ones that do this to pull in data, perform computations, etc.), though this is not on the datapath/worker so not sure if this will meet your needs or not. I'm not familiar enough with the protocol to have more concrete ideas right now. If you want to discuss more design stuff can you potentially put together a drawing/flo

[2018-06-13 16:01] ggreenway commented on #3615
Currently, "server_names" gets the data to match on from the SNI value in TLS. If you're not doing TLS, Envoy doesn't have a way to figure out which hostname the client looked up and is sending.

It is possible that we'll eventually extend this to other protocols, such as getting the Host header out of non-TLS HTTP. But this will never be able to work with a bare telnet.  It would work with `curl

[2018-06-13 16:03] mattklein123 commented on #3570
@michalholecek what OS are you running on? I think someone else reported this. Can you search old issues?

The heap dumps are not telling me anything. The best way to do it is to grab some differential dumps, and then visualize them using `--gv`

[2018-06-13 16:32] jrajahalme opened #3619 "Improve gRPC status code mapping"
Whenever Envoy sends a local response to a gRPC request, the returned `grpc-status` value is mapped from a HTTP `status` using `httpToGrpcStatus()`.  This is used, for example, when an upstream request times out. In this case Envoy maps the internally used HTTP status code 504 (Gateway timeout) to gRPC status code `SERVICE_UNAVAILABLE`.

`httpToGrpcStatus()` is based on https://github.com/grpc/grp

[2018-06-13 16:33] cmluciano commented on #2797
Pushed [assignee bot PR](https://github.com/envoyproxy/envoybot/pull/1) with some remaining todos

[2018-06-13 17:15] sahanaha commented on #2436
@moss94

I modified the lua_filter.cc/h files as you suggested…

file lua_filter.h

// added the following line in FilterCallbacks
class FilterCallbacks {
…
virtual RequestInfo::RequestInfo& getRequestInfo();
..
}

//added to lua exported functions {"dynamicMetadata", static_luaDynamicMetadata}};

// declared the following for luaDynamicMetadata
DECLARE_LUA_FUNCTION(StreamHandleWrapper, luaDynamic

[2018-06-13 17:28] ikatson opened #3621 "Feature request: statistics on request and response body size"
As far as I can tell, envoy does not output request and response body sizes in bytes as separate histogram metrics.

Would be nice if it output those metrics the same way it does downstream_rq_time and upstream_rq_time.

[2018-06-13 17:46] moss94 commented on #2436
@sahanaha
Looks like I left out the interface pure virtual in FitlerCallbacks in lua_filter.h
  virtual RequestInfo::RequestInfo& getRequestInfo() PURE;

[2018-06-13 18:27] thileesf commented on #3592
@mattklein123 thank you for the pointer. I ran with heap profiler, and it shows `evbuffer_chain_new` is using a large amount of mem. Is this normal?
[code]
The full file is attached here:
[envoy_profile_differential.txt](https://github.com/envoyproxy/envoy/files/2099388/envoy_profile_differential.txt)
[envoy_profile_differential.pdf](https://github.com/envoyproxy/envoy/files/2099390/envoy_profile_

[2018-06-13 18:49] mattklein123 commented on #3592
@thileesf this looks to me like there is a large amount of data that is being buffered that is not being drained. I think it's unlikely there is a leak here though it's possible. Did you check buffered data stats to see if that accounts for the memory? Do you have a lot of stalled streams that aren't getting written out somehow due to no timeouts or otherwise? cc @alyssawilk @PiotrSikora

[2018-06-13 19:01] alyssawilk commented on #3592
Yeah, that's really frequently OOMing - as Matt says I'd surprised if we have a leak that bad that no one else has picked up on.    I'd definitely check your connection stats - presumably you added the new listener to handle new traffic flows so maybe there's just too many connections?

If it is just one direction draining slowly you could make the per-connection buffer limits smaller.  https://gi

[2018-06-13 19:23] yangminzhu opened #3624 "Improve RBAC filter to support custom attributes"
*Title*: *Improve RBAC filter to support custom attributes*

*Description*:
The RBAC filter is added in #3455. We want to use it to enforce service access control in Istio. The current RBAC filter doesn't support checking custom attributes of a request or principal which is a key feature we must support in Istio.

For example, a user could create a RBAC policy that only allows a service with label

[2018-06-13 19:40] rodaine commented on #3624
Sounds good! I recommend making MetadataMatcher work similar to HeaderMatcher, just so the interface is consistent across matchers. Where things will get interesting is the generic nature of the Struct WKT; both finding a field in the struct and matching it's type will be an interesting challenge.

[2018-06-13 19:52] yangminzhu commented on #3624
Thanks for the quick response @rodaine,.
We already have the [ValueUtil::equal()](https://github.com/envoyproxy/envoy/blob/7f800115ba2b8d7a053872f1f852d4ba5996ae4d/source/common/protobuf/utility.h#L262), can't we just use it (with a little extensions) to do the match work? The Struct WKT only contains a `map<string, Value> fields;` which seems straightforward to loop over each key field and compar

[2018-06-13 19:55] rodaine commented on #3624
Correct, but a Value can also be another Struct (think nested JSON objects), and we will likely want to support more than just equality matching, no?

[2018-06-13 20:08] PiotrSikora commented on #3592
I doubt that's it, but seeing as this is TLS & libevent related, could you try reverting https://github.com/envoyproxy/envoy/pull/2680? Maybe there is some issue with `evbuffer_pullup()`.

[2018-06-13 20:30] htuch commented on #3592
@eziskind for visibility as well.

[2018-06-13 20:41] mattklein123 commented on #3624
In general this SGTM.

[2018-06-13 21:18] thileesf commented on #3592
@mattklein123 @alyssawilk it does not look like there are a lot of connections. The buffer stats also do not show anything that can explain the multi-GB growth. See the screenshots below (the green line is the envoy being heap profiled). The processes consistently hit OOM in 11-12 hours.

1) `server.envoy_heapsize` to see when we hit OOM (rapid mem use started around 4:45PM UTC, process ended arou

[2018-06-13 21:21] thileesf commented on #3592
@mattklein123 how do I check "if there are a lot of stalled streams that aren't getting written out somehow due to no timeouts" as in your comment?

Let me also see if I can adjust the per-connection buffer limits to be smaller, as @alyssawilk mentioned.

[2018-06-13 22:02] yangminzhu commented on #3624
The ValueUtil::equal() currently supports only equality matching, it simply calls itself recursively on a nested Struct value. In my poc I extended it a little to check if a Struct value is a subject of another Struct value. Do you think if this is this enough?

[2018-06-13 23:27] mattklein123 commented on #3592
I have two questions:
1) You said you had a config that worked before you turned on TLS, are you absolutely positive that TLS is the only thing that changed? What is the other config that worked? I'm pretty doubtful TLS is involves here at all.
2) Can you please provide a couple of complete `/stats` dumps over time that we can compare when the memory growth starts up.

[2018-06-14 00:42] thileesf commented on #3592
1. No, I said that the traffic was going directly to the collector before, and that Envoy was not intercepting it before. When I redirected the traffic via envoy, I also turned on the TLS.
<img width="611" alt="screen shot 2018-06-13 at 5 21 47 pm" src="https://user-images.githubusercontent.com/2374859/41385277-5f153096-6f2f-11e8-896d-0b7b2c133657.png">

2. I need to re-run envoy to capture the `/

[2018-06-14 00:56] thileesf commented on #3592
Btw, I see a similar (closed) issue https://github.com/envoyproxy/envoy/issues/1684. Did you find the root cause for this? I ask because #1684 also also talks about grpc.

Also, in case it is useful, we are running envoy with hot-restarter.

[2018-06-14 01:40] bmetzdorf commented on #2436
FYI: @ggreenway and I are currently working on implementing this in a HTTP filter, by utilizing the changes from https://github.com/envoyproxy/envoy/pull/3254. We're planning on supporting regex matching a header and constructing metadata from the regex capture groups.

[2018-06-14 03:10] #3615 closed

[2018-06-14 03:11] andytruong commented on #3615
Basically we can't do this. Thanks for answering.

[2018-06-14 04:02] htuch opened #3626 "IntegrationTest.HittingDecoderFilterLimit is flaky"
On master with ` bazel test -c dbg //test/integration:integration_test --config=clang-tsan --runs_per_test=100`, I hit ~20% flake rate. The logs show:

[code]

[2018-06-14 06:35] zmlcc commented on #1094
I also tried run envoy / istio in ipv6 environment recently.  Directly define IP6T_SO_ORIGINAL_DST works well. It seems the only feasible method, as the patch about ` ip6_tables.h` has not been unmerged for a long time

@mattklein123  Is it acceptable to use this hack to support IPv6 for now ?

[2018-06-14 07:37] robertlemmen commented on #3583
hi lizan, thanks for getting back to me! I am currently setting up a test system in which I can experiment better. I'll get back with more results from that, as well as the envoy config/stats.

In the meantime: the median latencies are in the 100ms range, but we are really interested in the upper end of the quantile range to make our system more predictable. I also suspect the ESP as the source of

[2018-06-14 07:40] janosi opened #3628 "DNS filter - enhancement proposal"
**Issue Template**

*Title*: DNS filter - enhancement proposal

*Description*:
Problem: the most generic way of service discovery is a DNS query for an application. That is, if an application uses DNS queries to find its peers this behavior ensures the best portability for the app. On the other hand, we are aware of the drawbacks of DNS queries: the intermediate caches may result in stale records

[2018-06-14 12:21] curiouserrandy commented on #3286
Folks: I've written up a proposed design for this feature and https://github.com/envoyproxy/envoy/issues/3559 in https://docs.google.com/document/d/1GNawM59Pp09WZ34zqJYiO_qmERjuGbOUeAqF1GG6v9Q/edit#.  Comments welcome.

[2018-06-14 12:21] curiouserrandy commented on #3559
Folks: I've written up a proposed design for this feature and https://github.com/envoyproxy/envoy/issues/3286 in https://docs.google.com/document/d/1GNawM59Pp09WZ34zqJYiO_qmERjuGbOUeAqF1GG6v9Q/edit#.  Comments welcome.

[2018-06-14 14:02] michalholecek commented on #3570
@mattklein123
I am using Ubuntu 18.04.
By the old issue you probably mean #1684, but the problem disappeared in envoy1.4 and it probably wasn't lua related.

I have made some differential dumps and here is the visualization:
[profile.pdf](https://github.com/envoyproxy/envoy/files/2102626/profile.pdf)

[2018-06-14 15:29] rgs1 commented on #2436
@bmetzdorf @ggreenway @sahanaha let me see if we can clean & publish our internal filter so you can see the interface/config constructs that we are using. We'd be super interested in collaborating, perhaps we can get a general enough filter merged.

cc: @derekargueta

[2018-06-14 16:15] ggreenway commented on #2436
@rgs1 That would be great if you have something built already.

Here's what we were thinking roughly, for configuration:

[code]

[2018-06-14 16:27] mattklein123 commented on #1094
@zmlcc yes, someone needs to do the PR.

[2018-06-14 16:30] mattklein123 commented on #3592
@thileesf it's highly likely that the upstream (collector) is not keeping up and is backing up, causing a lot of buffering in Envoy. With the full stat dump it should be more clear what needs to be tuned. I really doubt this is an actual leak.

[2018-06-14 16:42] rgs1 commented on #2436
@ggreenway we are not that far away then. This what ours look like currently:

[code]

A couple of notes:

* we don't currently use regexes, just direct matches. Easy to fix.
* we support this both ways, for requests and responses via a `StreamFilter`.
* we also support — very important for us — adding metadata when a header is missing (`on_header_missing`).

Let me know what you think of this app

[2018-06-14 16:50] cmluciano commented on #1094
I think I pushed a WIP patch to my local fork, let me prepare the PR so you can take a look @zmlcc

[2018-06-14 17:07] lizan opened #3631 "grpc transcoder: support default HTTP binding"
*Description*:

Though it is **strongly preferable** in terms of HTTP interface design to explicitly configure mappings, we may support default HTTP binding like this:
https://cloud.google.com/endpoints/docs/grpc/transcoding#where_to_configure_transcoding

https://envoyproxy.slack.com/archives/C78M4KW76/p1528921629000128

[2018-06-14 18:10] mattklein123 commented on #3570
@michalholecek can you provide some full `/stats` dumps as the "leak" is happening? It's unclear to me if there is an actual leak here or if there are just a bunch of long lived requests/streams.

[2018-06-14 18:49] rgs1 commented on #2436
@bmetzdorf @ggreenway this is what we are using: https://github.com/envoyproxy/envoy/pull/3633, lmk what you think — thanks!

[2018-06-14 19:15] thileesf commented on #3592
@mattklein123 we are investigating the collector also. I'll update here if/when we find any issues.

In the mean time, here are the envoy `/stats` you wanted to see: captured over the envoy run time, till it OOM-ed:
[envoy_stats_oom.tar.gz](https://github.com/envoyproxy/envoy/files/2103695/envoy_stats_oom.tar.gz)

[2018-06-14 19:18] ikatson opened #3634 "Feature request: support TCP keepalive for downstream sockets"
We use AWS NLB in front of envoy, and it has a 350s idle timeout.
https://docs.aws.amazon.com/elasticloadbalancing/latest/network/network-load-balancers.html#connection-idle-timeout

If the client makes a HTTP/1.1 keep-alive connection to that NLB, sends a request and then sends another one > 350s later, the client will get a connection reset.

We expose that to the internet, so we don't control t

[2018-06-14 20:18] mattklein123 commented on #3634
@ggreenway I had thought we already implemented this for listeners, but it looks like only upstream clusters right now. Is that right?

[2018-06-14 20:41] ggreenway commented on #3634
It's on my TODO list to implement for listeners. Someone else implemented it for upstreams already. The needed work is to create the config, and then pipe it through to the existing code for setting the correct sockopt.

[2018-06-14 21:34] #3589 closed

[2018-06-14 22:07] chuhlomin opened #3637 "gRPC-JSON transcoder: should support /<package>.<service>/<method> HTTP paths"
*Title*: gRPC-JSON transcoder: should support `/<package>.<service>/<method>` HTTP paths

*Description*:
JSON transcoder should work for `/<package>.<service>/<method>` paths.

If no `option (google.api.http) path` is set then HTTP calls does not work.

If `option (google.api.http) path` is set to `/<package>.<service>/<method>` then it breaks GRPC calls.

https://github.com/chuhlomin/envoy-json-t

[2018-06-14 22:18] mattklein123 commented on #3592
@thileesf how big is each of the requests you are sending to the collector? By my math they are very large. Also, please start running master and provide fresh differential profiles and stat dumps. It's not clear to me what's going on here but I don't want to do further debugging unless you are running master. Thank you!

[2018-06-14 23:36] mattklein123 commented on #3637
Is this a duplicate of https://github.com/envoyproxy/envoy/issues/3631? @lizan

[2018-06-15 01:46] lizan commented on #3631
Closign in favor of more detailed description at #3637

[2018-06-15 01:47] lizan commented on #3637
Yes, thanks for detailed description @chuhlomin

[2018-06-15 02:14] lizan commented on #3631
Actually not a duplicate, keeping both.

[2018-06-15 02:16] lizan commented on #3637
read the logs, this is not a duplicate, #3631 is for adding support for `/<package>.<service>/<method>`, this is saying that even `/<package>.<service>/<method>` is specified the transcoder doesn't work.

[2018-06-15 06:07] lap1817 opened #3639 "TCP_Proxy: onLowWatermark crash"
*Title*: *TCP_Proxy: onLowWatermark crash*

*Description*:

*Envoy Build SHA*

*Repro steps*:

[code]

[2018-06-15 08:23] jjtyro opened #3640 "Why does http_connection_manager not use the stream id sent by the client?"
*Title*: *Why does http_connection_manager not use the stream id sent by the client?*

*Description*:

*Envoy Build SHA*

*Http2 Packages*
* receive from client
[code]
* Sent to upstream
[code]

[2018-06-15 08:59] michalholecek commented on #3570
@mattklein123 here are the stats:
[stats_last.txt](https://github.com/envoyproxy/envoy/files/2105428/stats_last.txt)

[2018-06-15 13:27] mhoran commented on #129
@vinayatgit we've come up with a proof of concept that leverages Windows proxy settings to force application egress through an Envoy proxy. Our investigation was successful, though we encountered issues with the documented APIs for configuring proxy settings in Windows Server 1803. More details here: https://www.pivotaltracker.com/story/show/158328675.

Of course, this only works for HTTP (and pot

[2018-06-15 16:49] lap1817 commented on #3639
One more backtrace on a similar crash. This one also shows an Assert failure which probably caused the abort?

[code]

[2018-06-15 17:32] mattklein123 commented on #3640
Envoy does not do a 1:1 proxy between downstream and upstream. If you want that, you should use tcp_proxy.

[2018-06-15 18:17] mattklein123 commented on #3639
@ggreenway are you interesting in taking a look at this? I think it's just an instance of calling watermark callbacks on an already dead upstream connection. cc @alyssawilk

[2018-06-15 20:37] brirams opened #3642 "[active health checking] Implement multiple health checkers per cluster"
*Description*:
The [v2 CDS schema](https://github.com/envoyproxy/envoy/blob/40b1ac06e065d633c6a28d89823a491a47f2d44a/api/envoy/api/v2/cds.proto#L182) supports multiple health checkers per cluster but it [hasn't been implemented yet](https://github.com/envoyproxy/envoy/blob/40b1ac06e065d633c6a28d89823a491a47f2d44a/source/common/upstream/upstream_impl.cc#L414). This is a placeholder for that work.

[2018-06-15 21:29] htuch opened #3643 "outlier detection: distinguish upstream from internal errors."
Today, the outlier detector doesn't distinguish between a 5xx from the backend or generated internally inside Envoy due to backend unreachability. We would like to be able to only eject hosts when they are unreachable, but not if they explicitly 5xx. Opening this issue to track.

[2018-06-15 22:20] PiotrSikora commented on #3076
Since there is no new nghttp2 release yet, and 1.7.0 is around the corner, should we consider pulling `master` with the fix? cc @alyssawilk

[2018-06-15 22:31] ggreenway opened #3644 "Envoy main thread can deadlock itself"
[code]

In DispatcherImpl::runPostCallbacks(), callback is declared outside the loop and assigned to on each iteration. Then we release the lock and call the callback, then repeat.

The problem is on the next iteration. We assign callback again. This causes the previous iteration callback to get destructed. If that lambda holds an object that gets destructed, the destructor is run while holding th

[2018-06-15 22:31] ggreenway commented on #3644
The fix is to put callback inside the loop so that it gets destructed at the end of every iteration, while we're not holding the lock.

[2018-06-15 23:14] mattklein123 commented on #3076
@PiotrSikora yeah let's do it. Can you just put a comment next the SHA that mentions data and why we aren't running a release?

[2018-06-15 23:15] #3569 closed

[2018-06-17 03:08] jjtyro commented on #3640
Thanks!
Ok,I understand. I think so after asked this question some time.
Is there have some way to setting stream id startup number?

[2018-06-17 16:03] mattklein123 commented on #3640
No (and I doubt we would ever add this).

[2018-06-17 19:13] brian-pane opened #3648 "HTTP/1.1: allow duplicate Content-Length"
*Description*:
When Envoy receives an HTTP/1.1 request or response containing two or more identical Content-Length headers, it rejects the message as invalid. We discovered this when replacing Another HTTP Proxy with Envoy in front of an old web application that sends two `Content-Length: 0` in its responses.

According to [RFC 7230, Section 3.3.2](https://tools.ietf.org/html/rfc7230#section-3.3.2

[2018-06-17 23:54] jmarantz commented on #3644
Mea culpa -- I didn't think about taking locks during closure destruction when I refactored the loop that way. Thanks for tracking that down.

[2018-06-18 00:14] mattklein123 commented on #3648
I don't have any immediate objection to this, though I know there are various security concerns around content-length processing that I don't know all the details of. @alyssawilk thoughts here?

[2018-06-18 01:19] mattklein123 commented on #3570
@michalholecek sorry not sure. Are you somehow saving lua variables into global variables such that they never get garbage collected? I would try to simplify your script a lot and see if you still have issues (e.g., make it a NOP).

[2018-06-18 09:40] rkbalgi opened #3650 "load balancing length delimited (prefixed) TCP messages"
Hey Guys, I wanted to know if  there a way to load balance TCP messages which are length delimited/prefixed (a two byte/4 byte etc). These kind of messages are common in the payments industry which use formats like ISO8583.

Example - a "hello world" would be sent as 000b68656c6c6f20776f726c64 (where 000b is the length prefix and the rest is hello world in ASCII). I would like to break down the me

[2018-06-18 11:37] yuansx opened #3652 "bazel build //source/exe:envoy-static, error for org_golang_google_grpc"
[root@localhost envoy]# bazel build --package_path %workspace%:/root/src/envoy/ //source/exe:envoy-static
INFO: Build options have changed, discarding analysis cache.
External dependency cache directory /root/.cache/bazel/_bazel_root/b4ce55150c2905dc1fa0886156c33084/external/envoy_deps_cache_fbe7fd77b8354b9a6f47b8e24c1a5f25
make: Entering directory `/root/.cache/bazel/_bazel_root/b4ce55150c2905dc1

[2018-06-18 12:51] michalholecek commented on #3570
@mattklein123 I have partially solved this issue. When I was changing or adding headers the error was caused by not having enough file descriptors.

But the other part is caused by lua not freeing memory either when:
**1) Request_handle:respond() function is called**
e.g. [script1.lua.txt](https://github.com/envoyproxy/envoy/files/2111275/script1.lua.txt)

**2) Lua caches exception when e.g. I try

[2018-06-18 14:41] alyssawilk commented on #3648
No objection as long as we validate they're the same.  If this requires changes to http_parser I think you should just file and fix them there, though we can leave this open for tracking if we have tests which will break.  If http_parser consolidates duplicate equivalent content lengths I suspect it would be invisible to Envoy (we'd just get content-length: 42).

[2018-06-18 15:25] mattklein123 commented on #3570
@michalholecek I'm not sure what is going on here, but we have tests for both of the cases above and there are no leaks that I know of. If you can create a self-contained repro that shows the leak I can take a look.

[2018-06-18 15:42] afalko commented on #1107
FWIW we've solved this problem for our envoys by executing on the following architecture: https://docs.google.com/document/d/11_MB69A6d_9_N5ClxVcUhKJRMvVI18voV5cGv1Ji5oc/edit?usp=sharing

In summary, you can run Zipkin HTTP ingestor either as a side-loaded container or something in your isolated environment and it will push spans to Kafka that you can consume with the regular Zipkin collector.

Yo

[2018-06-18 19:12] #3644 closed

[2018-06-18 19:30] lap1817 commented on #3639
@mattklein123 , is there any way that we can unblock ourselves on this issue? We are on-holding a major rollout of Envoy in our fleet.

[2018-06-18 19:36] mattklein123 commented on #3639
@lap1817 you could debug and fix the issue. Or, if you don't care about watermarks you could increase the limits by a lot such that they are never reached?

[2018-06-18 19:45] Soumya117 commented on #3553
I went through the code and i might need some more clarity regarding what text should i put in the error! And i found one place where it could be changed (upstream_impl.cc) where we are actually going through dns resolvers and proceeding on the basis of envoy::api::v2::Cluster::STATIC / LOGICAL. Should i be looking somewhere else ?

[2018-06-18 19:55] lap1817 commented on #3639
What is the limit (parameter) that I can raise to avoid watermark? And what does waterMark do?

[2018-06-18 20:42] lap1817 commented on #3639
@mattklein123 , What is the limit (parameter) that I can raise to avoid watermark? And what does waterMark do?

[2018-06-18 20:42] alyssawilk opened #3654 "http request timeouts"
I just noticed that the current router idle timeout only applies to the response half of the request-response pair.  Along with the per-data-frame timeouts in #1778 it'd be good to have overall timeouts on the request path.

As discussed offline with Matt, we think the best option is to basically copy (and deprecate) the request timeout logic currently in the buffer filter, and implement in the Ht

[2018-06-18 20:57] alyssawilk commented on #3639
per_connection_buffer_limit_bytes
https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/lds.proto#envoy-api-msg-listener
https://www.envoyproxy.io/docs/envoy/latest/api-v1/cluster_manager/cluster.html?highlight=per_connection_buffer_limit_bytes

control how much each network connection is willing to buffer.
If you make that very large, you will infinitely buffer (and thus be subject to OOMs) b

[2018-06-18 21:07] alyssawilk commented on #3639
Looking at this, it looks like we reset file_event_ on closeSocket.  readDisable() appears to assume the connection is disconnected and references file_event_ without nullptr checks.  There's probably some better fix in tcp proxy session to not call this callback in the shutdown state but I think a simple check in readDisable() to return if file_event_ is null would probably address this crash.

I

[2018-06-18 21:14] lap1817 commented on #3639
thanks @alyssawilk ! It will be great if we can have a build that avoids the crash. Meanwhile, I will try increase buffer size (though I am a bit concerned about OOM that may come with it)

[2018-06-18 21:14] ggreenway opened #3655 "--hot-restart-version prints unexpected tcmalloc string with large stat size"
The text output from --hot-restart-version should match the output from the admin API for the hot restart version.

When the size crosses a large threshold, a string from tcmalloc is output, which makes the string no longer match the API output.

[code]

[2018-06-18 21:17] ggreenway commented on #3655
Related: https://github.com/gperftools/gperftools/issues/360

Workaround is to set the following environment variable:

`TCMALLOC_LARGE_ALLOC_REPORT_THRESHOLD=50000000000`

The specific value just needs to be a number large enough that the message isn't printed; this specific value isn't important.

[2018-06-18 23:56] #1194 closed

[2018-06-19 01:08] bplotnick opened #3660 "Allow Envoy gRPC access log service to be dynamically configured"
*Title*: *Allow gRPC access log service to be dynamically configured*

*Description*:
Currently, the gRPC ALS cluster is required to be a static resource. This is because `config.accesslog.v2.CommonGrpcAccessLogConfig.grpc_service` is of type `core.GrpcService` and `core.GrpcService.EnvoyGrpc` is required to have a `cluster_name` that points to a [static cluster](https://github.com/envoyproxy/envo

[2018-06-19 03:05] tschroed opened #3661 "Allow for config-specified sockopts"
It may be necessary to specify socket options that are either not available in upstream kernels or in Envoy source/pre-compiled binaries. A mechanism that allows for the user to specify explicit socket options (listening and upstream binding) would alleviate this.

This is currently being discussed in #3657. Adding a tracking issue for hygiene.

[2018-06-19 03:12] mattklein123 commented on #3660
The reasoning here is the same that ultimately lead to https://github.com/envoyproxy/envoy/pull/2966 for ext_auth. Basically, IMO, allowing the logging cluster to come and go can lead to more brittle configs, since in many cases it makes no sense for the logging cluster to be removed. I'm strongly against generically allowing this for all grpc_services, but if people want a generic option we can d

[2018-06-19 03:14] mattklein123 commented on #2797
@cmluciano it appears that stale bot applies the "won't fix" label to issues, which seems broken (https://github.com/envoyproxy/envoy/issues/3435). Can you take a look?

[2018-06-19 03:35] sahanaha commented on #2436
@moss94
Thanks for sharing your solution. This works fine for my requirement, will continue with this until the original FIX is available in envoy.

[2018-06-19 04:37] dio commented on #3637
@lizan @chuhlomin do you think if we can fix the case in the third row of the [response summary](https://github.com/chuhlomin/envoy-json-trancoding-grpc#envoy-responses-summary) by skipping creating transcoder when the content-type is `application/grpc` will be good enough?

[2018-06-19 05:37] bplotnick commented on #3660
Thanks for the reference! In reading the related issues, I realized that this concern is actually not relevant for my use-case. For some reason I thought the endpoints had to be static as well 🤦‍♂️

For the general case, i don't fully understand the factors at play. I assume #2762 is the center of discussion for this, so I'll close this issue.

[2018-06-19 05:37] #3660 closed

[2018-06-19 05:39] lizan commented on #3637
@dio I think it is the opposite, the transcoder was not created (I haven't investigated why) when `/<package>.<service>/<method>` is specified. The gRPC backend received JSON request and returned that error.

[2018-06-19 06:49] jjtyro commented on #3640
Ok, I known.

[2018-06-19 06:49] #3640 closed

[2018-06-19 08:50] georgi-d commented on #3436
Can I get an update on this question?

Thanks

[2018-06-19 10:45] htuch opened #3665 "/config_dump does not round-trip back to proto"
If we take the JSON emitted by `/config_dump` and attempt to convert back to proto, e.g.
[code]
an exception is raised. A likely candidate is that the emitted JSON has a mix of camelCase and snake_case field names. The `preserve_proto_field_names` option in `JsonPrintOptions` is ignored for embedded Any messages by the Protobuf library's JSON conversion method. See also the recently raised https:/

[2018-06-19 10:46] htuch commented on #3665
CC @mrice32 @ambuc

[2018-06-19 11:00] htuch commented on #3665
It also helps to apply the following patch to avoid conflating camel/snake case inside filter Structs:
[code]

[2018-06-19 11:36] michalholecek commented on #3570
@mattklein123 here is the repo: https://github.com/michalholecek/envoy-lua-leak

[2018-06-19 13:31] ikatson commented on #3634
Just FYI, we hard-coded some setsockopt() calls into our envoy fork, and it solved the NLB connection reset problem.

[2018-06-19 14:21] cmluciano commented on #2797
Will do @mattklein123

[2018-06-19 14:34] chuhlomin commented on #3637
I think it does make sense to disable transcoder if content-type is `application/grpc`.
When GRPC client sends GRPC request to GRPC server, transcoder should not stand in the way.

[2018-06-19 14:49] dio commented on #3637
@chuhlomin could you help us to test the changeset here: https://github.com/envoyproxy/envoy/pull/3664. I have tested it but I think we need your verification (functional wise) as well.

[2018-06-19 15:43] qiwzhang commented on #2514
Status update:
* first draft of HTTP filter for JWT verification is in. https://github.com/envoyproxy/envoy/pull/3339
* per-route JWT requirement feature is in progress. The config modificaiton PR (https://github.com/envoyproxy/envoy/pull/3381) is under review, almost ready.
* Plan to have a separate PR to implement the simple requirement:  with one JWT token and simple requirement (no OR and AND

[2018-06-19 15:55] mattklein123 commented on #2139
This is in progress.

[2018-06-19 16:52] alyssawilk commented on #3250
FWIW it's pretty far out on our requirements horizon. Worth keeping open in the interim though.

[2018-06-19 17:19] kyessenov commented on #3250
Thanks. Agree, that it's worth waiting for more use-cases from filter developers.

[2018-06-19 17:40] cmluciano commented on #2797
@envoyproxy/maintainers I pushed a [WIP for assignee bot](https://github.com/envoyproxy/envoybot/pull/1) but this is written in nodejs (could be typescript).

Based on the 6-19 community meeting we wanted to explore Github bots written in python and the closest thing I found was [telegram](https://github.com/python-telegram-bot/python-telegram-bot). This could hypothetically be used for GH bot fun

[2018-06-19 17:55] kflynn commented on #2828
#3162 is progressing through review. I'll make a pass probably tomorrow AM over the checklist above.

[2018-06-19 20:58] jmarantz opened #3674 "admin: add mechanism to administer Envoy programmatically"
*Description*:

[2018-06-19 21:05] alyssawilk commented on #3639
OK, theoretical workaround submitted.  Can you folks try a head build and see if it stops the crashing?

[2018-06-19 22:16] mattklein123 commented on #2797
@cmluciano I would just do whatever is the least amount of work. Python is nice to have, not a requirement.

[2018-06-19 22:16] mattklein123 commented on #3570
I'm marking this help wanted in case someone else wants to take a look. I'm not sure when I will get to this but will look eventually if no one else does first.

[2018-06-19 22:20] lap1817 commented on #3639
@alyssawilk  thanks! will try it today

[2018-06-20 00:52] louiscryan commented on #860
cc @lizan

I don't have time to pick this up but for context there is a semi-canonical mapping from GRPC to HTTP status codes that might be useful

https://github.com/grpc/grpc/blob/master/doc/http-grpc-status-mapping.md

[2018-06-20 06:07] lizan commented on #860
Yes, envoy has implemented a reverse mapping as well.
https://github.com/envoyproxy/envoy/blob/master/source/common/grpc/status.cc#L28

[2018-06-20 06:29] coder-ad commented on #2593
Help wanted. Still looking for the resolution of this issue

[2018-06-20 11:06] jmarantz commented on #2580
pinging the bug to make it not stale.  This is one of several cases where Envoy has some kind of global state that would be good to clean up.

[2018-06-20 13:50] alyssawilk commented on #3301
Hey @mattklein123 and @ggreenway

My proposed API changes for "new style" websockets basically allow a custom filter chain for any upgrade type configured on a per-listener basis (adding it to the HttpConnectionManager for now).  My thought was that'd be a bit more flexible for other upgrades folks might want as well as being reusable for connect support.  SG?

  // The configuration for HTTP upgr

[2018-06-20 13:53] #2178 closed

[2018-06-20 13:54] mrice32 commented on #2178
Closing because this is no longer a requirement for us, and it doesn't seem like anyone else needs it, either.

[2018-06-20 13:56] rshriram commented on #3301
To confirm this is going inside http connection manager ? Is there a possibility to add network filters? For example, you could imagine streaming arbitrary tcp connections (eg Mongo or MySQL over a h2 stream just like websockets. And these things would benefit from a network filter more than http filter).

[2018-06-20 14:08] alyssawilk commented on #3301
Neither the current implementation or the changes discussed here allows attaching a network filter.  We're basically just reusing the HTTP is processing [HTTP-headers, HTTP-data] for processing [HTTP-headers, Arbitrary-Data].  I don't think it'd be a bad thing to support network filters for the data processing part but the problem is if we use a HTTP/TCP hybrid, we end up with a big disparity betw

[2018-06-20 16:01] mattklein123 commented on #2580
@jmarantz agreed marking help wanted. You and I will continuing fighting against the statics!

[2018-06-20 16:53] mrice32 commented on #3665
Was this supposed to be closed?

[2018-06-20 16:57] htuch commented on #3665
No, this should still be open, the underlying fix isn't there, we #3671 was just an intermediate PR to warn that things are about to change here as we go to 1.7.0.

[2018-06-20 16:59] htuch commented on #3665
This is currently blocked on https://github.com/lyft/protoc-gen-validate/issues/15 FWIW, we need to bump protobuf library once we have the fix for `Any` field preservation, and that opens a can-of-worms around PGV and its Go proto rules.

[2018-06-20 17:00] mrice32 commented on #3665
^Sorry, should've been more clear - I was pointing out that the PR *did* close it, and it shouldn't have.

[2018-06-20 17:22] zuercher commented on #3553
I'm going to correct the issue description in a moment, but it should say "STRICT_DNS" not "STATIC_DNS".

I think you want to add a check in the constructors of LogicalDnsCluster (logical_dns_cluster.cc) and StrictDnsClusterImpl (upstream_impl.cc). The Address objects that both use to obtain DNS names should not have a custom resolver set.

[2018-06-20 20:49] rgs1 commented on #2436
@sahanaha fyi, here are the draft docs for the `header-to-metadata` filter (#3633), lmk what you think. thanks!

[2018-06-20 23:16] evantorrie opened #3680 "perf_annotation_test fails to compile under gcc8"
bazel test //test/common/common:perf_annotation_test fails when compiling under gcc8 with a

[code]

GCC
[code]

Commit:  4521e89da33ce44ebdc61b2b1da07712341d743d

[2018-06-20 23:45] mattklein123 commented on #3301
@alyssawilk LGTM

[2018-06-21 03:16] dio commented on #3637
I think since this #3664 is merged, can we say that this is fixed @chuhlomin?

[2018-06-21 04:08] chuhlomin commented on #3637
Yes, looks good now.
Thanks!

[2018-06-21 04:08] #3637 closed

[2018-06-21 13:20] knrc commented on #3404
FYI Red Hat are working on switching out BoringSSL for OpenSSL for the same reasons, we are not allowed to ship BoringSSL because of our requirements for FIPS compliance.  We would like to have a conversation with any other interested parties and come up with a solution which enables the switch to be made but without forcing the community to switch back to OpenSSL.

If you are interested then plea

[2018-06-21 15:07] kflynn opened #3684 "routing: websocket routes allow, but ignore, weighted_clusters"
As of envoyproxy/envoy:c755c0393d8d6fbb16a00c7f2b97b8d0d5478c03, this route:

[code]

is parsed fine, but will route no traffic: a reference to `/ws` simply gives a 503 with no attempt to connect upstream:

[code]

Using a single `cluster` instead of `weighted_clusters` works fine. Reading over the documentation, I don't know if the TCP proxy ever fully supported `weighted_clusters` or not, but I

[2018-06-21 16:22] ggreenway commented on #3301
@alyssawilk What other upgrade types are possible? Do http filters make sense for them? We're kind of shoe-horning http filters in for websockets, because it's close enough. Are there any other potential upgrade types where that won't make sense?

[2018-06-21 16:43] alyssawilk commented on #3301
I was thinking connect upgrades might want to go this path, and while right now we're only parsing upgrade headers, I was thinking of adding a "magic keyword" for connect which was unlikely to overlap with anything real in HTTP land.

But really for all upgrades, there's the upgrade header path and then a bunch of onData calls, so I think the HTTP filters (which take headers and then data) are a m

[2018-06-21 16:45] pravinsinghal commented on #492
@rshriram any update when we can hope to have udp proxy support in envoy

[2018-06-21 16:50] ggreenway commented on #3301
Sounds reasonable to me.

[2018-06-21 19:50] nilslice commented on #3368
protolock now has full support for Enum, Map, and Oneof types within each pertinent rule func. I would be happy to implement the check before builds once I figure out where in Envoy this should occur. cc/ @mattklein123 @rodaine @twoism @htuch any pointers would be much appreciated.

[2018-06-21 20:33] PiotrSikora commented on #1319
@ggreenway I discussed this on and off with @davidben. The reason why I didn't implement this in Envoy via "userland" certificate selection yet is that the plan is for BoringSSL to eventually re-add the support for multiple certificates of different types in the same context (exactly for the RSA & ECDSA use case).

[2018-06-21 20:43] ggreenway commented on #1319
Any idea what the timeline is for that change to BoringSSL?

[2018-06-21 20:55] htuch commented on #3368
@nilslice we basically want to apply this over all protos in https://github.com/envoyproxy/envoy/tree/master/api. We would want to ignore any in directories containing `v2alpha`, and a blacklist of some experimental protos. I think we should run this just before/after https://github.com/envoyproxy/envoy/blob/master/ci/do_ci.sh#L137, i.e. as one of the CI API tests.

[2018-06-21 22:02] htuch opened #3694 "tcp_proxy_integration_test is flaking on TcpProxyUpstreamDisconnect."
E.g. https://circleci.com/gh/envoyproxy/envoy/65241?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

[2018-06-21 22:06] htuch commented on #3694
Probably covered by https://github.com/envoyproxy/envoy/pull/3693.

[2018-06-22 01:05] rshriram commented on #492
? @cmluciano is the one doing the udp work

[2018-06-22 04:37] mattklein123 commented on #3694
I think fixed.

[2018-06-22 04:37] #3694 closed

[2018-06-22 06:58] sahanaha commented on #2436
@rgs1

The document looks good! Thanks!

I was just trying to map it with my requirement of ":path"  value matching.
Please check if the below configuration is correct

{
   "http_filters": [
      {
         "name": "envoy.filters.http.header_to_metadata",
         "config": {
            "request_rules": [
               {
                  "header": ":path",                  —> I guess the valu

[2018-06-22 14:04] georgasa opened #3699 "Signal 11 (segmentation fault) in do_sigsuspend"
Hello,

I got the following segmentation fault during envoy deployment:

 [Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
Core was generated by `/usr/bin/envoy -c /etc/envoy/active-conf.json'.
Program terminated with signal 11, Segmentation fault.
#0  0x00007fad562e654b in do_sigsuspend (set=0x3c) at ../sysdeps/unix/sysv/linux/sigsuspend.c:

[2018-06-22 16:14] mattklein123 commented on #3699
Sorry no there isn't much we can do with this. Please setup your prod environment to capture core dumps or at least back traces.

[2018-06-22 16:29] #3665 closed

[2018-06-22 17:49] rgs1 commented on #2436
@sahanaha yeah, that should work. LMK if otherwise.

[2018-06-22 18:56] #1034 closed

[2018-06-23 03:26] ramaraochavali opened #3704 "Expose Protocol identification API in Lua scripts"
*Description*:
While it is possible to identify the type of protocol (H1/H2 etc) and whether TLS is used on a given request using c++ API in filters, Lua does not expose this.  It would be useful to expose this information in Lua so that Lua filter can make some decisions.

[2018-06-23 05:54] dio commented on #3704
@ramaraochavali for my own education, while the type of protocol can be inferred from `RequestInfo`, how to check whether TLS is being used in current request?

Probably I could extend the `RequestInfo` wrapper here https://github.com/envoyproxy/envoy/pull/3627 to return the protocol (e.g. the API maybe something like: `request_handle:requestInfo():protocol()`) but not sure about the flag for TLS.

[2018-06-23 07:37] ramaraochavali commented on #3704
@dio yes. I think it is from this API https://github.com/envoyproxy/envoy/blob/master/include/envoy/network/connection.h#L182.
Are you actively working on the above PR?

[2018-06-23 07:40] ramaraochavali commented on #3704
@dio sorry..I just checked the PR, looks like  you are working actively on it. I will follow the PR on the progress,

[2018-06-23 08:05] ramaraochavali opened #3705 "support for regex matching in certificate uri validation"
Currently cert URI validation checks for exact match. Can we support match via regex supplied by a config option in HttpConnectionManager proto?

[2018-06-23 08:51] dio commented on #3704
😬yeah, it was stale a bit. Will try to cover this use-case too.

[2018-06-23 11:41] alonlong commented on #3652
ENVOY_SRCDIR=/source
INFO: $TEST_TMPDIR defined: output root default is '/build/tmp' and max_idle_secs default is '15'.
Extracting Bazel installation...
Starting local Bazel server and connecting to it...
...............
Cloning into '/build/envoy-filter-example'...
remote: Counting objects: 850, done.
remote: Compressing objects: 100% (23/23), done.
remote: Total 850 (delta 28), reused 9 (delta 7

[2018-06-23 11:42] alonlong commented on #3652
I have the same issue

[2018-06-23 15:29] yuansx opened #3706 "helloworld of grpc example can't run at grpc-bridge of envoy source"
environment buiding:
1. download envoy source
     cd examples/grpc-bridge
     script/bootstrap
     script/build
     docker-compose up --build
it can build two containers    grpc-bridge_python_1   and    grpc-bridge_grpc_1
it also can run the example, just  set foo bar, get foo.  but I want to run grpc example, so
2. docker exec -ti grpc-bridge_python_1/grpc bash，download the grpc source，and ma

[2018-06-23 16:11] vadimeisenbergibm opened #3707 "Question: is it possible to extract the SNI value from Network::ReadFilterCallbacks?"
*Title*: is it possible to extract the SNI value from `Network::ReadFilterCallbacks`?

*Description*:
Can TCP filters get the SNI value from `Network::ReadFilterCallbacks`? Maybe from `Upstream::HostDescription.hostname()` ?

Use case: sending the SNI value to the Istio mixer for monitoring and policy enforcement. Suppose we have `*.ibm.com` value in `sni_domains`, and a request is sent to `www.ib

[2018-06-23 16:18] mattklein123 commented on #3705
I think this would be part of the TLS context config, not the HCM, unless I'm misunderstanding what you are asking for?

[2018-06-23 16:19] mattklein123 commented on #3255
I think this is fixed with the new filter! Thanks @rgs1!

[2018-06-23 16:19] #3255 closed

[2018-06-23 16:20] mattklein123 commented on #3617
@htuch @nt thoughts here?

[2018-06-23 16:20] mattklein123 commented on #3650
You could do this via custom filter.

[2018-06-23 17:32] rkbalgi commented on #3650
Thanks Matt! Would this be a good starting point? - https://github.com/envoyproxy/envoy-filter-example

[2018-06-23 18:15] mattklein123 commented on #3650
Yup or other filters in https://github.com/envoyproxy/envoy/tree/master/source/extensions

[2018-06-23 19:15] drojas opened #3709 "Pass captured data from regexp matching"
I'm building an experiment app with envoy as app-level router using regular expressions.

It would be really nice to have a way to receive the captured parameters downstream to avoid the need to match and capture again on the real request handlers.

One possible solution that I can think of would be to pass additional headers with the captured parameters like "x-param-name", for example.

As an al

[2018-06-24 01:55] ramaraochavali commented on #3705
Sorry. It is TLS context config only, specifically [here](https://github.com/envoyproxy/envoy/blob/6d3d5d72986c2131a40268467c3ddcc57ef7bbc7/api/envoy/api/v2/auth/cert.proto#L202).

Please assign this to me. I will work on it.

[2018-06-24 15:52] jeteon commented on #3492
I also experience similar behaviour when running the standard demo Docker image on Mac OS X. It seems to happen for any HTTPS upstream. If I manually run network calls from within the container the requests seem to work okay.

[2018-06-25 04:39] mattklein123 commented on #1522
We are starting to do this so closing this generic issue.

[2018-06-25 04:39] #1522 closed

[2018-06-25 04:43] mattklein123 commented on #2428
I'm closing this as it seems pretty stable w/ the retry.

[2018-06-25 04:43] #2428 closed

[2018-06-25 04:51] mattklein123 commented on #3190
This is complete.

[2018-06-25 04:51] #3190 closed

[2018-06-25 05:53] rwlincoln opened #3711 "Add response field to CheckResponse in external_auth.proto"
The `CheckReponse` message in `external_auth.proto` has a nested `HttpResponse` message, but no corresponding field.

https://github.com/envoyproxy/envoy/blob/20c0454545761c254180f77948304083406757be/api/envoy/service/auth/v2alpha/external_auth.proto#L30-L47

Can a `response` field be added so that I can add headers or is the inclusion of this message still the subject of debate?

[2018-06-25 14:05] alyssawilk opened #3713 "[v1.7.0 deprecation] Remove features marked deprecated in #2993"
#2993 (health check: add Redis custom health checker) introduced a deprecation notice for v1.7.0. This issue tracks source code cleanup.

[2018-06-25 14:05] alyssawilk opened #3714 "[v1.7.0 deprecation] Remove features marked deprecated in #3001"
#3001 (deprecation: Indicate that admin mutation GETs are deprecated.) introduced a deprecation notice for v1.7.0. This issue tracks source code cleanup.

[2018-06-25 14:05] alyssawilk opened #3715 "[v1.7.0 deprecation] Remove features marked deprecated in #3020"
#3020 (http connection manager: Add support for DNS Subject Alternative Names in XFCC header. Fixes #2535) introduced a deprecation notice for v1.7.0. This issue tracks source code cleanup.

[2018-06-25 14:05] alyssawilk opened #3716 "[v1.7.0 deprecation] Remove features marked deprecated in #3067"
#3067 (Support api config source without cluster names) introduced a deprecation notice for v1.7.0. This issue tracks source code cleanup.

[2018-06-25 14:05] alyssawilk opened #3717 "[v1.7.0 deprecation] Remove features marked deprecated in #3129"
#3129 (health_check: add header matching to health check http filter) introduced a deprecation notice for v1.7.0. This issue tracks source code cleanup.

[2018-06-25 14:06] alyssawilk opened #3718 "[v1.7.0 deprecation] Remove features marked deprecated in #3454"
#3454 (listener: rename "sni_domains" to "server_names".) introduced a deprecation notice for v1.7.0. This issue tracks source code cleanup.

[2018-06-25 14:34] mattklein123 commented on #3711
@gsagula

[2018-06-25 15:08] objectiser opened #3720 "tracing: Global (overall) sampling decision can override existing propagated sampling status"
During a review of https://github.com/envoyproxy/envoy/pull/3708#discussion_r197721215 it appears that the current logic for determining whether a request should be traced potentially overwrites an existing (propagated) sampling decision based on the `overall_sampling` percentage.

For example, if we have two services A and B, where A calls B. When the request is received by A it sets the sampling

[2018-06-25 15:09] ludov04 commented on #125
Any update on this?
The new service discovery feature on AWS ECS make use of SRV records. If envoy would support this, this would greatly simplify the use of envoy on ECS, no need no manage a consul cluster anymore.

Thanks :)!

[2018-06-25 15:13] gsagula commented on #3711
@rwlincoln I think what you are asking is being tracked on https://github.com/envoyproxy/envoy/pull/3162.

This proto has a more updated version that is about being merged:
https://github.com/gsagula/envoy/blob/b7aaef1eac4c3c11d984b4bf0bd99c3c7a677e22/api/envoy/service/auth/v2alpha/external_auth.proto

Note that in both versions the headers can still be included in the message.

[2018-06-25 16:30] htuch commented on #3617
Yeah, I see the race here. The management server could just reply to the EDS request that happens following CDS, even though it has already responded. Envoy should do the right thing here, the first response at version X would have been ignored (it didn't know about the cluster), the second response (still at version X) will then be processed. The unknown resources in the first response will have

[2018-06-25 16:48] #3435 closed

[2018-06-25 17:37] hectim opened #3722 "Authorization headers on gRPC-web request aren't forwarded."
*Title*: Authorization headers in the metadata aren't passed from envoy.

*Description*:
Trying to pass requests with authorization headers through envoy and authenticate them afterwards, but if I add an Authorization header to my grpc-web request and send it, the header is missing from the metadata coming out of envoy.

We're using Improbable's grpc-web client, but they do mention that they alias

[2018-06-25 17:46] mattklein123 commented on #3722
@fengli79

[2018-06-25 18:55] wjackson opened #3724 "RST on HTTP/2 half-close bug"
*Title*: RST on HTTP/2 half-close bug

*Description*:

envoy version = v1.7.0

Envoy resets bidirectional gRPC streams when only the client side of the stream is closed. HTTP/2 streams should not be reset on half-close. Instead they should remain open until both sides of the stream are closed.

*Repro steps*:

Here's the example Python code and Envoy config I used for testing:

envoy.yaml: https:/

[2018-06-25 19:00] #1813 closed

[2018-06-25 19:01] mattklein123 commented on #3724
This is going to be non-trivial to fix. I'm marking design proposal because someone will need to dig into the code and come up with a proposal before we do any implementation.

[2018-06-25 19:40] bobbytables commented on #1813
Awesome, thanks!

[2018-06-25 19:42] mancini0 commented on #3722
I'm encountering the same issue with envoy 1.7.0 when setting Authorization: Negotiate headers at the WeightedCluster level.

[2018-06-25 20:55] alanconway commented on #3415
@mattklein123 The envoy doc suggests it supports pipelining but my first attempt didn't work. I have multiple request messages coming in on the AMQP side of a connection, and I simply concatenated the corresponding HTTP requests on the HTTP side. Envoy only processed the first one and dropped the rest. It's very likely I'm doing something wrong, should that work?

The AMQP side expects to be able

[2018-06-25 21:30] brirams opened #3729 "[health checker] Validate that required fields are greater than 0"
*Description*:
While protobuf validation exists for things like [interval and timeout](https://github.com/envoyproxy/envoy/blob/84cacd2a5598f8b7d50fe0ccd3ef8a6deecfc2fc/api/envoy/api/v2/core/health_check.proto#L27) in cluster health checking configuration, there is [no check
for whether values passed in make sense](https://github.com/envoyproxy/envoy/blob/84cacd2a5598f8b7d50fe0ccd3ef8a6deecfc2fc/s

[2018-06-25 21:53] hectim commented on #3722
I can't seem to get any Authorization headers from envoy even if I just set a static header in the config

    request_headers_to_add:
        header:
            key: "authorization"
            value: "Bearer test"

unless I'm doing something fundamentally wrong, but I see things like ":authority", "x-request-id", "x-forwarded-proto", etc

    func (s *MyServer) CreateThing(ctx context.Context,

[2018-06-25 23:12] ggreenway commented on #1319
@PiotrSikora is the "userland" approach to create a different SSL_CTX for each cert type, and set the CTX in one of the callbacks based on supported cipher types in the ClientHello?

[2018-06-25 23:15] davidben commented on #1319
Sorry about the delay on that feature. I'm kind of running around all over the place right now due to an upcoming move, and a couple of tasks popped up in front of it that took longer than expected. I do intend to finally chew on it this week, though if it's not done by IETF and my move, it might get delayed.

[2018-06-25 23:30] Parvathy-Geetha opened #3730 "Outlier detection docs are outdated"
Title: Outlier detection docs are outdated

Description:
Either the explanation for things like ejections_enforced_consecutive_5xx needs to include semantics for TCP.. or that it should have entirely different statistics

https://www.envoyproxy.io/docs/envoy/v1.5.0/configuration/cluster_manager/cluster_stats.html

[2018-06-25 23:55] dio commented on #3729
@brirams do you think adding, e.g. for `interval`,

[code]

is enough? Or do you have a sensible min value in mind?

[2018-06-26 01:03] hectim commented on #3722
After recreating a very simple example of the failure, we got it working by just adding `authorization` to the cors headers. There might still be a bug when you provide `request_headers_to_add` with just the right combination it will eat the headers but I can't seem to reproduce it at the moment.

    route:
        cluster: local_service_grpc
            cors:
                allow_origin: ["*"]

[2018-06-26 01:03] #3722 closed

[2018-06-26 01:42] mattklein123 commented on #3729
@dio agree with that fix.

[2018-06-26 01:45] mattklein123 commented on #3415
The HTTP/1.1 client does not perform pipelining. The server also does not actual pipeline, rather it applies back pressure while processing requests to avoid head of line blocking resource constraint situations.

[2018-06-26 04:39] dio opened #3731 "Fields with (validate.rules).duration.required = true is not rendered as REQUIRED"
Fields annotated with `(validate.rules).duration.required = true` are not rendered as `REQUIRED`

*Description*:

Annotating a field in .proto with `(validate.rules).duration.required = true` does not render LABEL REQUIRED for that field.

*Relevant Links*:
e.g. `op_timeout` field in redis_proxy.proto.

https://github.com/envoyproxy/envoy/blob/bfd26153ddf954d42d3d52f65758871342e831f5/api/envoy/con

[2018-06-26 04:58] saturnism opened #3732 "Add X-Forwarded-Port header"
*Title*: Add X-Forwarded-Port header

*Description*: Some applications rely on x-forwarded-* headers to regenerate the application URLs. E.g., the original request URI is `http://my-service:8080`, Enovy proxy may have set `x-forwarded-proto` header to `http`, which could be interpreted to port `80`. The generated URI by the destination service may be misled to generate a URI that reads `http://my-

[2018-06-26 05:45] ramaraochavali opened #3733 "verbose logs when management server is not reachable"
When Envoy is disconnected from management server, we get these logs (mainly coming from statically defined EDS clusters or pending CLA requests)
`[warning][config] bazel-out/k8-opt/bin/source/common/config/_virtual_includes/grpc_mux_subscription_lib/common/config/grpc_mux_subscription_impl.h:67] gRPC update for type.googleapis.com/envoy.api.v2.ClusterLoadAssignment failed `

Since this is just a

[2018-06-26 06:29] lvijay commented on #1034
Thanks @junr03!

[2018-06-26 09:19] rfyiamcool commented on #3732
+1

[2018-06-26 10:43] dio commented on #3713
@alyssawilk should I remove the warning logging only? Since I'm not sure we want to remove "RedisHealthCheck" health checker completely.

https://github.com/dio/envoy/blob/b76a69ccb73d7b6abc5e5e48bb38a92744a38ed3/source/common/upstream/health_checker_impl.cc#L57-L59

[2018-06-26 13:05] mattklein123 commented on #3713
@dio I think the idea is to deprecate the redis specific config, and only allow driving it via the custom health checker config.

[2018-06-26 13:06] mattklein123 commented on #3732
Sounds reasonable. Marking help wanted.

[2018-06-26 13:21] mattklein123 commented on #3733
@htuch thoughts here?

[2018-06-26 13:29] ramaraochavali commented on #3705
@mattklein123 Please assign this to me.

[2018-06-26 16:08] mattklein123 commented on #3705
cc @PiotrSikora @ggreenway

[2018-06-26 16:23] #2657 closed

[2018-06-26 16:28] ramaraochavali commented on #3705
@PiotrSikora we are actually thinking of making the SAN validation generic enough for SPIFFE URIs. Do you have any suggestions of how to make this generic inaddition to / instead of regex validation? Any better options?

[2018-06-26 17:29] htuch commented on #1778
I'll work on implementing this over the next week.

[2018-06-26 18:46] alyssawilk commented on #3301
ok, I have a new awful corner case to discuss, which is websockets with chunked bodies (request or response bodies)

I believe technically they're allowed.  They're nonsensical for H2 since you wouldn't be able to differentiate the body payload from the websocket payload.  But we'd want the http-body/websocket-body delineation to survive an H1-H2-H1 hop.  I think the way to do that is just proxy t

[2018-06-26 21:15] htuch commented on #3733
I think these both sound like totally valid suggestions. PRs welcome :) I think the back-off strategy should be implemented in some generic way so we can do back-off in other places as well where we have retries.

[2018-06-26 22:50] PiotrSikora commented on #3301
Is this valid, though? Once WebSocket handshake is completed, the connection turns into bidirectional end-to-end bytestream that's unrelated to HTTP, and should be opaque to the proxy, so I don't believe that `Transfer-Encoding: chunked` is valid here. Also, WebSocket protocol uses its own data framing, so it shouldn't care about chunking.

If you're seeing this in the wild, then I suspect that th

[2018-06-26 23:44] brirams commented on #3729
coming back to this a bit late but that definitely seems reasonable. Thanks!

[2018-06-27 01:14] PiotrSikora commented on #1319
@ggreenway yes, pretty much. The "userland" approach isn't a complex change in Envoy, but the support for RSA+ECDSA isn't something frequently requested by the community, and since the proper support for it is going to be added to BoringSSL sooner rather than later, I'd prefer avoid adding it now, unless required for a production deployment.

Do you have any deadline for when you need this feature

[2018-06-27 03:28] PiotrSikora commented on #3707
Requested SNI is available in [`Network::ConnectionSocket::requestedServerName()`](https://github.com/envoyproxy/envoy/blob/56a047b5064bba8108ec31c2b6a1f94da1711c20/include/envoy/network/listen_socket.h#L167), so you could expose it by adding:
[code]
to [`Network::ConnectionImpl`](https://github.com/envoyproxy/envoy/blob/56a047b5064bba8108ec31c2b6a1f94da1711c20/source/common/network/connection_imp

[2018-06-27 04:04] ramaraochavali commented on #3733
@htuch Thanks. Let us split this in to two. I will push a PR for log level change shortly as it is simpler :-).
Will create a separate issue for back-off strategy which I will work in my free time in coming weeks.

[2018-06-27 04:07] ramaraochavali opened #3737 "Implement back-off strategy for reconnecting to management server"
Currently when connection to management server is lost, Envoy retries this connection  aggressively connect at fixed. It would be good to have some back-off strategy implemented for this retries.
See https://github.com/envoyproxy/envoy/issues/3733 for more details.

[2018-06-27 05:37] vadimeisenbergibm commented on #3707
Thanks, @PiotrSikora ! I actually like `requestedServerName()` more, since it will enable monitoring of failed TLS requests due to SNI, for security and other purposes.

[2018-06-27 06:01] #2658 closed

[2018-06-27 06:12] liamawhite opened #3739 "Add Endpoints to Admin API Config Dump"
*Title*: Add Endpoints to Admin API Config Dump

*Description*:
The config dump currently has clusters, listeners, routes and bootstrap. We would like include endpoints as its the last bit of dynamic config we don't have visibility into.

[2018-06-27 09:17] ramaraochavali commented on #3739
@liamawhite  Issue already exists https://github.com/envoyproxy/envoy/issues/3362

[2018-06-27 09:17] ramaraochavali commented on #3737
@mattklein123 @htuch Please assign this to me

[2018-06-27 10:01] #1815 closed

[2018-06-27 11:37] wannamit opened #3740 "Docker Hostname as Dynamic Endpoint Address"
*Title*: Enable using docker hostname as address for dynamic EDS

*Description*:
Docker service name for a static cluster address defined in envoy config yaml works well and resolves fine, as cluster type is logical_dns.
Snippet:
[code]

For dynamic Envoy config, cluster type = EDS, and multiple dynamic cluster with its dynamic Endpoints. If I provide normal IP Address and port for each Endpoint,

[2018-06-27 11:39] liamawhite commented on #3739
I knew I had seen something, somewhere! My search skills have failed me.

[2018-06-27 11:39] #3739 closed

[2018-06-27 14:11] #2020 closed

[2018-06-27 14:18] mattklein123 opened #3741 "Investigate build performance"
Non-scientifically, I think it takes a lot longer to compile Envoy now. Part of it is we have more code, but I also kind of suspect we've had some regressions somewhere in general compile perf.

I'm looking for an intrepid volunteer who might like to look into this, both by actually tracking/investigating CI perf and also investigating potential improvements.

[2018-06-27 14:19] mattklein123 commented on #3741
Possibly related, not sure: https://github.com/envoyproxy/envoy/issues/3292

[2018-06-27 14:21] htuch commented on #3741
I think by examining master CI build times on CircleCI and walking back through history with some moving average filter, it should be possible to identify the PR that caused this. Alternatively, it might be completely unrelated to our code and related to Bazel version bump, so once the guilty PR and associated date is identified, we should look at Bazel release dates as well.

[2018-06-27 14:45] alyssawilk commented on #3301
Once the websocket handshake is complete, the payload is now websocket and not chunked HTTP.  As I read it, the HTTP request-response should totally allowed to be chunked as it's valid HTTP.  Something like [this](https://github.com/alyssawilk/envoy/blob/websocket_delay/test/integration/websocket_integration_test.cc#L525) where there's a chunked body, a terminal chunk, then websocket payload.

I d

[2018-06-27 16:54] ggreenway commented on #1319
I don't have a hard date right now, but I'd guess I'll probably need it within 3 months. I'll hold off as long as possible in hopes that BoringSSL adds the functionality we need. But if I need to do it in userland, and then we rip it out later, that's fine. I'll comment here when I have firmer dates, or when I'm going to start working on it.

[2018-06-27 20:43] #3624 closed

[2018-06-27 20:46] zuercher commented on #3741
I wrote a script to collect build times from successful master branch release jobs. It's pretty slow, since it has to scan backwards through the builds looking for the right branch/job combination. I'll post the data when I've collected the last 200 or so.

[2018-06-27 20:50] mattklein123 commented on #3301
@alyssawilk i don't have a strong opinion here. My general feeling is to support as few things as possible and then wait for someone to complain about other permutations.

[2018-06-27 21:00] jolisper commented on #3487
I'm facing the same issue, any suggestion @mattklein123?

[2018-06-27 21:00] #3733 closed

[2018-06-27 21:01] rshriram commented on #3301
Do we have to drop bodies all together ? We could support upgrades with bodies within limits of what Envoy accepts today. No chunking business. And no business of half http payload and half websocket payload. I don’t even think it’s possible since the client has to wait for the server to respond with upgrade accepted and then client starts the framing by setting its sequence numbers etc. are you t

[2018-06-27 21:45] zuercher commented on #3741
See https://docs.google.com/spreadsheets/d/16XAf1lzEdSl2gOr6-zM-TytGSmtuciDbNjrOh77HOuI/edit?usp=sharing

Unfortunately, it's pretty noisy and the moving averages don't really show an obvious culprit. Maybe someone else can make more of it.

[2018-06-27 22:28] PiotrSikora commented on #3301
@alyssawilk I don't believe that HTTP request body before switching to WebSocket is a thing, and even if there are peers out there that emit stuff like that, then the behavior seems to be undefined, and I'd rather reject such requests, than support this weirdness and add to the problem (...unless we have a very good reason to do it).

[RFC6455, sec. 1.7](https://tools.ietf.org/html/rfc6455#section

[2018-06-28 01:37] clnperez commented on #1861
So, I'm hitting this now as well on ppc64le. :D

[2018-06-28 01:48] mattklein123 commented on #1606
Marking help wanted to avoid auto close. I still plan on working on this, not sure when though in case someone wants to do this before me.

[2018-06-28 02:08] mattklein123 commented on #1413
Still planning on working on this.

[2018-06-28 06:05] #1170 closed

[2018-06-28 07:05] #1845 closed

[2018-06-28 08:05] #2015 closed

[2018-06-28 09:05] #2022 closed

[2018-06-28 09:10] shuoli84 commented on #2370
Prevent close. still in radar, right? @mattklein123

[2018-06-28 12:32] ajaygtm71 opened #3749 "Envoyproxy build failure on big endian"
I'm building https://github.com/envoyproxy/envoy/tree/v1.7.0 on big endian. The build fails due to error in building external dependency boringssl.
[code]

I know how to build boringssl seperarely on big endian. Can someone help me how to pick seperate boringssl (which I've built from source) in my envoyproxy build?

[2018-06-28 13:24] moderation commented on #1861
@clnperez I've had success this week building on aarch64 / arm64 using these patches from @lubinsz https://github.com/envoyproxy/envoy/pull/3681#issuecomment-400208276. @htuch unblocked protobuf 3.6.0 with this patch to lyft/protoc-gen-validate https://github.com/lyft/protoc-gen-validate/commit/345b6b478ef955ad31382955d21fb504e95f38c7. 0.12.0 is still blocked.

[2018-06-28 14:01] alyssawilk commented on #3301
Piotr, I'd be happy to block GET-with-body because I think it's an HTTP abomination, but where do you see that upgrades must be GETs?  From what I was reading they can be any valid HTTP request.

@rshriram again I'd really rather fully handle bodies or not handle bodies.  Right now the behavior allows T-E but is entirely broken and I don't like that state of affairs.   As said I also don't want to

[2018-06-28 14:12] #1244 closed

[2018-06-28 14:16] mattklein123 commented on #2370
Yes, the fix is not hard, someone just needs to do it.

[2018-06-28 14:17] mattklein123 commented on #3749
@ajaygtm71 I would check out how we do precompiled libraries in the CI build. https://github.com/envoyproxy/envoy/blob/master/ci/prebuilt/BUILD. I think you should be able to remove the SHA build of boringssl and override it with precompiled libs.

[2018-06-28 14:42] alanconway commented on #3415
Gotcha. At the back-end of an AMQP network, my amqp_server filter does
potentially do a bunch of illegal pipelining because it's aggregating
requests from many sources and not bothering to check if they're
idempotent, I'm seeing occasional problems that may be related to that.
Sounds like I should slow the flow with AMQP credit and pass requests up to
envoy one-by-one.

On Mon, Jun 25, 2018 at 9:4

[2018-06-28 17:05] bobzilladev commented on #439
This is still an important one for our organization, fwiw.

[2018-06-28 17:10] mattklein123 commented on #439
@bobzilladev AFAIK this is implemented already for EDS, just not for non-EDS. Right @dio? Maybe we should change the title.

[2018-06-28 17:22] ggreenway commented on #3301
https://tools.ietf.org/html/rfc6455#section-4.1:

I agree with @PiotrSikora. Until we see a definite need, I'd say reject any body in an upgrade request.

[2018-06-28 17:33] michalholecek opened #3750 "auth filter headers causing unauthorised memory access"
When I add a http header to a request via ext_auth filter, and the header's key is longer than 15 characters, envoy turns it into something like this:
**headers recieved from ext_auth filter printed via lua filter:**
[code]
**headers received by cluster in the envoy route:** (nginx server, receiving requests from envoy)
[code]

and when the headers key is e.g. "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

[2018-06-28 18:57] alyssawilk commented on #3301
I'm happy to change the existing implementation and my outstanding new mode to reject both and document we do not currently support upgrades with bodies. Before I go ahead and do that, @rshriram as the one person who wants body support could you comment why?

[2018-06-28 21:12] clnperez commented on #1861
@moderation i just took a look at those patches, and they look like they're all adding arm support, whereas we already have power support. i'm actually hitting a different error today than I did last night, and that is the gazelle compile (at least i think it's the gazelle compile) isn't finding gcc in my PATH. I might open a new issue for that.

[2018-06-28 21:38] #3729 closed

[2018-06-28 21:40] trabetti opened #3753 "Add missing timing information to Hystrix event stream output"
*Title*: *Add missing timing information to Hystrix event stream output*

*Description*:
The Hystrix event stream support that was added in #3425 do not include timing information. It is hopefully possible to use the histogram support added in #3130 for that.

The timing information can be seen here at the bottom part below the circle of traffic for each service: [Hystrix dashboard wiki](https://g

[2018-06-28 21:41] mattklein123 commented on #3750
@gsagula

[2018-06-28 21:45] moderation commented on #1861
@clnperez We were having the same issue on arm64. The patch for rules_go at https://github.com/lubinsz/rules_go/commit/497b48893fb04f195dfa8d81ec4201265e91d0d0 fixed that issue. Not sure how portable that patch is but might give you some ideas.

[2018-06-28 21:56] #3715 closed

[2018-06-28 22:05] #2953 closed

[2018-06-28 22:30] gsagula commented on #3750
@michalholecek Let me take a look at this issue and I get back to you.

[2018-06-29 00:45] vadimeisenbergibm commented on #3707
@mattklein123 Will do, thanks.

[2018-06-29 00:51] senthil-nathan opened #3755 "TLS validation_context issues"
Hey guys,

I'm trying to verify the client cert in envoy before proceeding further with the request, I have configured the validation_context however the I cannot start docker if I have `validation_context` present.  Is `validation_context` supported at all ? I am referring to https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/ssl.

My config looks like:

[code]
where
localhost.crt is

[2018-06-29 01:03] mju opened #3756 "envoy/api/bazel/api_build_system.bzl requires //docs"
*Title*: envoy/api/bazel/api_build_system.bzl requires //docs

*Description*:
When building an Envoy filter, we needed to use api_proto_library, which tries to grant //docs visibility.  See https://github.com/envoyproxy/envoy/blob/2447cb73ef8f103770dab6b1cb154a3a8f02630e/api/bazel/api_build_system.bzl#L89.  To us, this is a bug.  We are working around by adding a dummy folder and BUILD file or add

[2018-06-29 02:52] xfye opened #3757 "REQ(HOST) does not work in access log format string"
*Description*:

envoy version:
 - 2e3adc3d3bb5b4c7be0b9001197f7c86000b6dd3/1.7.0-dev/Clean/RELEASE
 - 3f59fb5c0f6554f8b3f2e73ab4c1437a63d42668/1.7.0/Clean/RELEASE

I have configured "%REQ(HOST)% in access log format string.

I'm sure the client sent request with HOST header but envoy does not record HOST header in access log at all.

My access log config:

[code]