[2020-09-13 01:42] #12492 closed

[2020-09-13 02:43] #12465 closed

[2020-09-13 03:42] #12409 closed

[2020-09-13 05:42] #12436 closed

[2020-09-13 10:20] #13047 closed

[2020-09-13 10:33] agupta-cb opened #13073 "How to add per_filter_config envoy.ext_authz programmatically in JAVA"
Title: How to add per_filter_config envoy.ext_authz programmatically in JAVA using envoy v2 api

*Description*:

virtual_hosts:
                    - name: application_services
                      domains: ["*"]
                      routes:
                        - match: { prefix: "/api/service/xxxxx/" }
                          route:
                            cluster: SAMPLE_CLUSTER

[2020-09-13 13:09] snowp commented on #13070
I'm not sure if it's the same issue, if so I would expect the time stamps to indicate that we're hitting the EDS fetch timeout (15s) without a response, causing cluster warming prior to receiving any hosts.

The logs seem to indicate that the hosts are being added to the cluster, then health checked during warming:

[code]

I wonder if the problem is that we create a TLS cluster and update its hos

[2020-09-13 14:45] snowp commented on #13023
I suspect we're missing error handling for when the static secret doesn't exist. I'm guessing that if a static secret is added to the bootstrap with name `hmac` it will work

[2020-09-13 16:34] mattklein123 commented on #13068
Yeah it seems like the host could be initialized/tracked immediately after we select the conn pool. I don't remember why this is not done TBH:

https://github.com/envoyproxy/envoy/blob/5d95032baa803f853e9120048b56c8be3dab4b0d/source/common/router/router.cc#L601

cc @alyssawilk

[2020-09-13 16:36] mattklein123 commented on #13070
Warming shouldn't complete until the first round of health checking is complete, so not sure what is happening here. I can take a more detailed look later.

[2020-09-13 17:00] snowp commented on #13070
The idea I mentioned in my last post isn't even necessarily about warming, but about the fact that we call

[code]

before we do
[code]

which means we get two dispatcher events: [update TLS cluster, set hosts], which could be interleaved with a dispatcher event that tries to route to this cluster.

Maybe there's something I missed that prevents this from being an issue, I didn't try to reproduce

[2020-09-13 18:48] mhite commented on #12519
I can see that post 1.4.x (?) the response message bodies in failed JWT requests are now including information on why (ie. token expired, invalid signature, etc.). Does this mean the metadata is now enhanced also, and that there are new attributes available for metrics and logging of response status?

Thanks.

[2020-09-13 19:05] #12524 closed

[2020-09-13 20:05] #12540 closed

[2020-09-13 20:27] mattklein123 opened #13076 "docs: add arch overview docs for oauth2 filter"
We should add arch overview docs for the oauth2 filter here: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/security

It would be good to have a brief discussion about what what it does and compare it to JWT/extauth/etc.

[2020-09-13 20:27] mattklein123 commented on #13076
cc @snowp @derekargueta @rgs1 if one of you could possibly take this on that would be great.

[2020-09-13 20:46] mattklein123 commented on #13070
No I think you are right. This is definitely a race condition and broken. I'm guessing the reason this has not been reported before is that CDS updates are pretty rare and I'm guessing no one has noticed. We will need to fix this.

[2020-09-13 20:50] rgs1 commented on #13076
cc: @fishcakez

[2020-09-13 21:05] #12252 closed

[2020-09-13 22:05] #12457 closed

[2020-09-13 23:05] #11322 closed

[2020-09-13 23:47] htuch commented on #13072
I think this might be overlap with https://github.com/envoyproxy/envoy/issues/13009.

[2020-09-14 00:12] htuch commented on #12278
@yanavlasov where do you think hardening core filters that process upstream inputs fits here? I think some filters, e.g. router, process upstream headers and we need to have confidence that they are robust to problematic inputs.

[2020-09-14 02:05] #12535 closed

[2020-09-14 03:15] howardjohn commented on #12393
Not stale, I think this would be really useful.

On Sun, Sep 13, 2020, 11:05 AM stale[bot] <notifications@github.com> wrote:

[2020-09-14 10:19] ramaraochavali commented on #13070
The fact that this specific issue "We observed and reproduced this behavior on static" happens on static clusters seem to indicate that it is not same as #13009 and may be @snowp 's theory is correct.

[2020-09-14 10:32] bergkvist opened #13078 "VSCode syntax extension"
*Title*: intellisense for envoy configuration files (yaml)

*Description*:

An example of an extension like this is the Kubernetes extension for VSCode - providing intellisense for Kubernetes resource definition files (also yaml)

[2020-09-14 11:51] meteorcloudy opened #13079 "Envoy failed on Bazel CI with "unused variable 'factory_name'""
https://buildkite.com/bazel/envoy/builds/1295#b92e2abd-a008-49b7-a929-2a5dde5a0152
[code]

[2020-09-14 13:37] tmshort commented on #11120
Any update on this issue?

[2020-09-14 14:29] caitong93 opened #13082 "perf: thrift filter decoding introduces high latency"
*Title*: *thrift filter introduces high latency*

*Description*:

I observed high latency(thrift decoding cost 10ms+) when using thrift filter. qps under 1000, request/response message size < 1MB, connections < 100 , cpu usage < 0.01 core

envoy version: 1.12 ( cherry-picked the lastest thrift filter commits)
thrift protocol: framed + binary

Analysis shows most time is spent on thrift decoding. A

[2020-09-14 15:59] chradcliffe commented on #12370
Can we get this reopened? #13061 should resolve this, but it's a WIP.

[2020-09-14 16:13] ronaldpetty opened #13084 "safer example runner"
*Title*: *safer example runner*

*Description*:

[2020-09-14 16:28] hsuyuming commented on #13023
Hi @snowp :
Suppose I want to using github's OAuth setting to try this one, where I can get the static secret? is it a pem file ?

[2020-09-14 16:34] mattklein123 commented on #13078
This would be amazing! Marking help wanted.

[2020-09-14 17:11] caitong93 opened #13085 "Support generic protocol access log formatter extension"
*Title*: *Support generic protocol access log formatter extension*

*Description*:

I want to add access log support for dubbo and thrift filter, but find out current access log formatter only support http,  and it cannot be extended. Any thoughts about implement a generic access log formatter ?

[2020-09-14 17:32] travisgroth commented on #13053
Ah, It looks like I left out the `append` flag from my example.  I would only expect this behavior when `append` is set to `true`.  This would be more accurate:

[code]

FWIW, we're using this in conjunction with extauth.  `append` is explicitly set to `true`.  If set to false, it looks like we only get the last `HeaderValue` set.

[2020-09-14 17:36] alyssawilk commented on #13068
My guess without digging is it's helpful to not associate the host until late for things like hedging (where we may have two simultaneous hosts) or retries (where we swap hosts) but I agree it'd be better to have one and swap it out (if you time out while hedging it's both hosts fault but better to know one at fault than have no information)

[2020-09-14 17:39] qiwzhang commented on #12519
Response to the downstream client has proper error messages.  But that info
is not in any fitlerState or Metadata.
If anyone wants to write the info to access log,  they can use {REPLY_BODY}
since jwt_authn is calling sendLocalReply() with the proper error message.

On Sun, Sep 13, 2020 at 11:48 AM Matt Hite <notifications@github.com> wrote:

[2020-09-14 17:40] efe-selcuk commented on #12954
While I'm waiting for a confirmation from @yanavlasov, I'll also point one mildly interesting thing I noticed.

If the config looks something like this:

[code]

The validation on the cluster_name is _actually_ performed on

[code]

i.e. `ConfigSource.ApiConfigSource.GrpcService.EnvoyGrpc.cluster_name` versus `ConfigSource.ApiConfigSource.cluster_names`. I don't know enough about envoy internals b

[2020-09-14 17:53] mattklein123 commented on #13053
OK, thanks. That makes more sense! In any case I will leave this to track the feature request.

[2020-09-14 18:07] mattklein123 commented on #13085
See https://github.com/envoyproxy/envoy/blob/308619fc7a2c403ff674e2af7dda4e73b00575ed/api/envoy/config/accesslog/v3/accesslog.proto#L318

[2020-09-14 18:07] mattklein123 commented on #13084
cc @phlax

[2020-09-14 18:14] mattklein123 commented on #12393
@howardjohn I realize now this is very similar to this issue I opened? https://github.com/envoyproxy/envoy/issues/13065

[2020-09-14 18:27] #12686 closed

[2020-09-14 18:29] phlax commented on #13084
hi @ronaldpetty apologies for this.

I originally wrapped this test in a docker-in-docker container partly for this reason.

the wrapper wasnt added to the ci pipeline - but im thinking to add at least some documentation to make it easy to run these tests in an isolated way

[2020-09-14 18:31] ronaldpetty commented on #13084
Hi @phlax, not a problem, I am new here :).

Happy to help if you have something at some point!  Maybe close for now?

On Mon, Sep 14, 2020 at 11:29 AM phlax <notifications@github.com> wrote:

[2020-09-14 18:34] phlax commented on #13084
lets keep it open  until i add the relevant docs

[2020-09-14 18:50] phlax commented on #13084
@ronaldpetty thinking about this further - im realising its an issue just running a single `verify.sh` script.

Im gonna PR so it prunes in ci as required, but not when you run individual tests

[2020-09-14 18:51] #12578 closed

[2020-09-14 18:54] #10311 closed

[2020-09-14 19:03] htuch commented on #12592
Wondering what is actionable here. https://github.com/envoyproxy/envoy/issues/12592#issuecomment-673031897 has some suggestions, but I'm not sure this is something that will save us in all cases, #11396 is the long term fix.

[2020-09-14 19:07] stevesloka commented on #13037
Thinking through this a bit with some folks from the Contour team as well as @moderation, this might not be acting like it should be. Hard coding the `dns_lookup_family` to `V4_ONLY` seems to resolve issue, but might not work in all environments.

[2020-09-14 19:14] ronaldpetty commented on #13084
That sounds right.  I was digging into examples and still trying to see how
to run them.

On Mon, Sep 14, 2020 at 11:50 AM phlax <notifications@github.com> wrote:

[2020-09-14 19:17] awangc commented on #7583
We'd like to have this feature too. I'd be glad to work on this if nobody is working on it, or to collaborate in any way needed to make it go faster.

[2020-09-14 19:50] mattklein123 commented on #13037
Are you sure that your environment actually routes IPv6? Envoy should create v4 or v6 outbound connections as needed.

[2020-09-14 20:26] ronaldpetty opened #13089 "extraneous cors http_filter in cors example"
*Title*: *extraneous cors filter in cors example*

*Description*:

[2020-09-14 20:35] stevesloka commented on #13037
The configuration I'm having trouble with is with Contour as an Ingress controller running in Kubernetes. What we have configured is a way to have an ingress resource route back out to another external resource (configured as a k8s ExternalName type service).

For some reason it seems the external resources will resolve with ipv6 addresses and others with ipv4. When it's ipv6 then the request fail

[2020-09-14 21:01] mattklein123 commented on #13037
I'm not saying there is zero chance of an Envoy bug, but this sounds to me like a v6 address is being returned from DNS and v6 is not routable. We do not have any kind of "happy eyeballs" support today which would retry on v4 if v6 fails.

[2020-09-14 21:32] htuch commented on #12968
CC @penguingao re: selective filter enablement on internal redirects.

[2020-09-14 21:32] mattklein123 commented on #13089
cc @dschaller @phlax

[2020-09-14 21:40] KBaichoo opened #13091 "Add an extension point for Fatal Handlers"
Fatal Handlers: Add an extension point to Fatal Handlers

*Description*:
When a Fatal Error occurs, we end up calling `onFatalError` from the signal handler which dumps the current `ScopedTrackedObject` of the thread that encountered a fatal error if there’s a related scope tracked object.

However, the current mechanism isn’t flexible enough -- for example it just dumps to `std::cerr` using outpu

[2020-09-14 21:46] kyessenov commented on #4027
Should Envoy have a generic mechanism for filters to share state between workers? This is a common concern.

[2020-09-14 22:02] jplevyak commented on #4027
We have SharedData in C++.  This acts like a global KV store.

[2020-09-14 22:02] howardjohn opened #13093 "Crash on zipkin instantiation if LDS is NACKed"
We are seeing an issue where certain LDS NACKs lead to an Envoy crash. I am not 100% sure the exact circumstances it is triggered, but from what I can tell is it happens only if:
* Tracing is used (only tested zipkin)
* The NACK reason is later in the processing pipeline (schema validation doesn't trigger it). But it can be different NACK reasons than just no bind permissions

Stack trace:
[code]

[2020-09-14 22:02] jplevyak commented on #4027
In the Proxy-Wasm C++ SDK.

[2020-09-14 22:03] howardjohn commented on #13093
Matt pointed out that this is very likely related to or the same as https://github.com/envoyproxy/envoy/issues/12364

[2020-09-14 22:13] howardjohn commented on #12393
Very related. Basically the goal is instead of having individual route/extauth/rbac tools we just have a single one that takes in a full envoy config. This way we can write completely black box tests

[2020-09-14 22:39] mattklein123 commented on #13091
Makes sense to me! Since you have been adding a lot of new extension points recently I would appreciate it if you could update https://github.com/envoyproxy/envoy/blob/master/EXTENSION_POLICY.md to make sure we are listing out the various places the docs need to be updated to discuss new extension points. Thank you!

[2020-09-14 22:40] mattklein123 commented on #12393
Yes makes sense. We should look at both issues together and figure out the right path forward. Maybe now that we have the filter manager split out from @snowp we could figure out a way of driving a synthetic requests/response through the filter manager and inspecting the state at various points.

[2020-09-14 22:43] lambdai commented on #12592
This should be fixed by #12645

[2020-09-14 22:44] bergkvist commented on #13078
Seems like creating a "JSON Schema" file might be the solution:
- https://joshuaavalon.io/intellisense-json-yaml-vs-code
- https://json-schema.org/

[2020-09-14 22:45] lambdai commented on #12592
Well, not a complete solution, but manually triggered rollback is possible

[2020-09-15 00:26] dio commented on #7583
Relevant: https://github.com/envoyproxy/envoy/pull/12991#issuecomment-692364642 cc. @zuercher @rgs1

[2020-09-15 01:22] antoniovicente opened #13099 "//test/common/upstream:load_balancer_benchmark_test timeouts under --config=clang-tsan"
It seems that some of the benchmarks added in #12594 contributed to pushing the benchmark past the tsan timeout, but there are other benchmarks that are very slow.

Slow benchmarks under tsan include:
benchmarkLeastRequestLoadBalancerChooseHost/100/1/1000000        25 sec
benchmarkLeastRequestLoadBalancerChooseHost/100/2/1000000        25 sec
benchmarkLeastRequestLoadBalancerChooseHost/100/3/10000

[2020-09-15 01:23] antoniovicente commented on #13099
cc @ggreenway

[2020-09-15 01:29] yangminzhu opened #13100 "access log: add a new operator to indicate the name of filter that rejects the request"
*Title*:  access log: add a new operator to indicate the name of filter that rejects the request

*Description*:
This is started from the discussion in https://github.com/envoyproxy/envoy/pull/12912#discussion_r481413100 that we could have a more general way to indicate the name of filter that rejects a request.

Something like `%RESPONSE_REJECT_FILTER%`, user could use this to understand who (Env

[2020-09-15 03:03] chengdol opened #13101 "Does envoy support proxy authorization?"
*Title*: *Proxy authorization support on envoy?*

*Description*:
I use envoy as an https forward proxy (tunnel), then I need to add proxy authorization on it. for example, ideally it should work like this:
[code]
The https forwarding is good with CONNECT, but I did not find stuff relates to proxy-authorization, the only thing I find is [External Authorization](https://www.envoyproxy.io/docs/envoy/

[2020-09-15 07:37] meteorcloudy commented on #13079
/cc @lizan @htuch Can you please take a look, should be an easy fix?

[2020-09-15 08:29] phlax commented on #13084
after testing this further, it turns out that the prune isnt required at all.

[2020-09-15 10:11] ElwinGao4444 opened #13105 "nodeID is empty when envoy reconnect to go-control-plane"
when I kill go-control-plane and restart it, envoy can not reconnect to it successful, I found that:
1. envoy re-send req to go-control-plane without "Node" struct
![image](https://user-images.githubusercontent.com/48503777/93197484-47288800-f77e-11ea-976c-7f44ae9c3c48.png)
2. type Runtime have Node struct, but CDS, LDS don't have Node struct(I don't known what about others types)
![image](https:/

[2020-09-15 10:32] esnible commented on #12883
I tried to do something similar with an AssemblyScript WASM filter and failed.

My filter's onResponseHeaders() could see the 4xx/5xx returned by the backend.  I tried calling `send_local_response()` from within onResponseHeaders() but by then it was too late.

I notice FilterHeadersStatus .ContinueAndDontEndStream was recently added which might solve my problem but that return isn't yet available

[2020-09-15 11:12] method350 commented on #10125
help wanted

[2020-09-15 13:13] caitong93 commented on #13085
`ExtensionFilter` seems not what I want. `Envoy::AccessLog::Instance`, `Envoy::AccessLog::Formatter`, `Envoy::AccessLog::FormatterProvider`, and implementations of these interfaces,  only support HTTP.  I'm not sure if envoy have plan to refactor these interfaces, so that other protocols can reuse them.

My current plan for implement a thrift access logger, without modifying envoy code:
1. impleme

[2020-09-15 14:34] yanavlasov commented on #12954
Sorry for the delay in responding. It's been awhile, but as I recall Envoy does not allow this type of dependencies. In this case, as I understand, it is LDS->SDS->CDS. Conceptually it should be possible to make it work, it just has not been done.

[2020-09-15 15:10] Shikugawa commented on #11120
@tmshort I'm considering that this issue has two problems. As the part of this, I crafted a PR and it is in review. https://github.com/envoyproxy/envoy/pull/12783

[2020-09-15 16:22] #13099 closed

[2020-09-15 16:56] alyssawilk commented on #1070
Client side metrics show that on the internet server push is used in less than 0.005% of requests.  Fewer than half of attempted server pushes are used (generally the information is pre-cached, there are various race conditions etc.)  Meanwhile overenthusiastic pushing often results in wasted bandwidth and server push doing more latency harm than good, and client side management of regular request

[2020-09-15 16:56] #1070 closed

[2020-09-15 17:05] rshriram commented on #12647
the domain matching is currently a trie. if we allow choice of another algorithm like linear search, then the virtual host can be a standard string match (most flexible, with regex et al). This will come with performance cost for gateways with 1000s of hosts.

alternatively, we could do the `strip_any_host_port` but somehow I feel like this is a bandaid to the underlying problem of flexible string

[2020-09-15 17:35] #12714 closed

[2020-09-15 19:11] efe-selcuk commented on #12954
Understood, thanks! Do you have any comment on the hoisting behavior I described above? Just out of curiosity.

As for this issue, I think I have my answer, we'll need to either pursue the static bootstrap cluster or use the GoogleGrpc client. If it makes sense to keep this open as a feature request, feel free, otherwise I'm good.

[2020-09-15 19:35] akonradi opened #13110 "Extend existing overload actions for scaled triggers"
Envoy recently added support for scaled triggers for overload actions, in #11697. Right now, if one of the existing overload actions is configured with a scaled trigger, it will ignore any nonzero value until the trigger reaches saturation. This issue tracks extending the existing overload actions to take scaling states in the range (0, 1) into account.

*Relevant Links*:
- [trigger documentation]

[2020-09-15 20:45] roelfdutoit opened #13114 "CONNECT request with IP address as hostname fails with invalid_url"
*Description*:
If the browser/client is configured to use an explicit HTTPS proxy and the destination is an IP address then envoy fails the connection with a "400 Bad Request" due to a "invalid_url" error.

*Logs*:
[code]

*Detail*:
I traced it to `Url::initialize` in url_utility.cc, which uses GURL.  The problem is that the GURL parser decodes the "hostname:port" string as a scheme (as also state

[2020-09-15 20:53] ggreenway commented on #12923
Also document runtime flag `envoy.reloadable_features.prefer_quic_kernel_bpf_packet_routing`, added in #13086

[2020-09-15 21:12] ggreenway opened #13115 "quic: support in-place filterChainUpdate"
Need to add handling in udp case here: https://github.com/envoyproxy/envoy/blob/4706ee01abe191eef73c64d86c1835baf566323c/source/server/connection_handler_impl.cc#L40

[2020-09-15 21:14] ggreenway opened #13116 "quic: disallow ConnectionBalancer config"
ConnectionBalancer isn't currently supported for udp/quic, and implementing it would probably be CPU-inefficient due to packet forwarding between workers. Disallow this config.

This should be done before MVP as it would other invalidate a previously-loadable config.

[2020-09-15 21:34] ai2017 commented on #9822
We are running into the same problem with token from one user but the not from a token from another user.

[libprotobuf ERROR external/com_google_protobuf/src/google/protobuf/wire_format_lite.cc:578] String field 'envoy.service.auth.v3.AttributeContext.HttpRequest.body' contains invalid UTF-8 data when serializing a protocol buffer. Use the 'bytes' type if you intend to send raw bytes.

What is th

[2020-09-15 21:44] fxposter commented on #13072
In addition to that issue https://github.com/envoyproxy/go-control-plane/pull/353 can be the cause for it

[2020-09-15 21:48] duedal commented on #9822
It would be great to get this into the v4 protobuf; https://github.com/envoyproxy/data-plane-api/tree/master/envoy/service/auth/v4alpha

I have a mixed workload, some services require the body, others don't. I worked around it by adding an additional layer of envoy for the workload that required the body for ext authz. Luckily that workload had an UTF-8 compatible body.

[2020-09-15 22:01] mattklein123 commented on #9822
For everyone +1 this issue, it's an easy fix. Someone needs to work on it.

[2020-09-15 22:09] ratulb commented on #13079
bazel-out/k8-opt/bin/include/envoy/registry/_virtual_includes/registry/envoy/registry/registry.h:348:44: error: unused variable 'factory_name' [-Werror=unused-variable]
     for (const auto& [factory_name, factory] : factories()) {

[2020-09-15 22:23] mpuncel opened #13118 "add support for depending on server state == "LIVE" In healthcheck filter"
*Title*: *add support for depending on server state == "LIVE" In healthcheck filter*

For context, we use the healthcheck filter configured to depend on the health of the application the Envoy sidecar accompanies. This lets the app see health checks on a regular interval and the envoy filter handles the flood of active health checking.

We ran into an issue (which I'm still debugging) where the cl

[2020-09-15 22:25] juanvasquezreyes opened #13119 "send request to another upstream after retries"
*Title*: *send request to another upstream after retries*

*Description*:
I have a listener at port 8080 and I have the following retry policy
[code]

is there a way that after all retries if still getting an error, send the error output of the request to another upstream cluster which has an API that concentrates all errors?

[2020-09-16 00:31] ycfreeman commented on #12377
seems the fix is not applied to the related .proto file

[2020-09-16 00:55] qiwzhang commented on #12377
@ycfreeman I changed the way to fix this.  The new way did not require config proto file change.  It allows "iss" field to be empty.  If it is empty, "iss" is not verified.

[2020-09-16 01:51] wbpcode commented on #12936
I agree with you.

[2020-09-16 01:51] #12936 closed

[2020-09-16 04:58] freeloyerkick commented on #13072
Thanks for pointing the related issues, I think those may be related, we did see CPU throttling of the control plane (using envoyproxy/go-control-plane) upon the incident, which could be the trigger of missing EDS update. And the fact that go-control-plane doesn't handle NACK makes the issue even worse. (we also observed that after a new xds snapshhot was taken in the control plane which triggered

[2020-09-16 06:14] prakasa-tkpd commented on #1178
Those PR are very awesome, but want to know. Actually in the nginx we know that we can route to the other service when main service/upstream down with adding any additional data we need.

After checking documentation [here](https://github.com/envoyproxy/envoy/blob/master/docs/root/configuration/http/http_conn_man/local_reply.rst). I did not found any option for us to routes traffic on error to ano

[2020-09-16 06:53] meteorcloudy commented on #13079
@ratulb Did you encounter the same build failure?

[2020-09-16 06:57] amalaruja commented on #8639
This worked for me. It seems that the server my envoy was connecting to had HTTP Keep-Alive disabled.

[2020-09-16 08:44] guoruijing commented on #13079
I created fix in https://github.com/envoyproxy/envoy/pull/13125

[2020-09-16 10:04] nic-chen opened #13126 "lua filter didn't work as expect"
*Description*:

lua filter didn't work as expect

*Repro steps*:

1. replace lua script in `examples/lua/envoy.yaml`
2. run `docker-compose up`
3. curl 127.0.0.1:8000/ -i
It should respond with status 403 but 200 still.

*Config*:

[code]

[2020-09-16 10:07] nic-chen commented on #13126
Is it because I configured it wrong? Please enlighten me.Thanks.

[2020-09-16 10:30] jleskovar-tyro commented on #12348
Hi, did you find a solution to this issue @hinawatts ?

[2020-09-16 14:27] htuch commented on #12954
Re: https://github.com/envoyproxy/envoy/issues/12954#issuecomment-692207481, the top-level `cluster_names` only applies to REST (see comment on the field). It should prefer the gRPC cluster name if you skip configuring top-level `cluster_names`; I'd say this is a bug and we should opt for gRPC cluster name preferentially if present.

Re: the original issue. I think this should remain open as a fea

[2020-09-16 16:39] objectiser commented on #12538
Unfortunately this will require support for span kind to be added to the OC C++ lib and its supported exporters. Currently don't have time to work on that, so if anyone else wants to take it.

[2020-09-16 16:46] dio commented on #9822
I have a WIP PR, #13131. Still thinking if allowing per-route buffer settings does make sense in this PR or for the next one. Having per-route buffer settings means we can have different settings for packing the request body for each route. For example route /ok1 sets for UTF-8, while /ok2 asks for raw bytes.

[2020-09-16 17:04] asraa opened #13132 "tap_filter_integration_test AdminBasicFlow flake"
Flake appearing in TapIntegrationTest.AdminBasicFlow:

In bazel.release build
-----------------------Flaky Testcase: AdminBasicFlow/IPv4 in TestSuite: IpVersions/TapIntegrationTest -----------------------
/build/tmp/_bazel_envoybuild/b570b5ccd0454dc9af9f65ab1833764d/external/envoy/bazel-testlogs/test/extensions/filters/http/tap/tap_filter_integration_test/test_attempts/attempt_1.log
test/extension

[2020-09-16 19:07] ratulb commented on #13079
I had to put the following in my .bazelrc to get around this.

build:linux --cxxopt=-Wno-error=unused-variable
________________________________
From: guoruijing <notifications@github.com>
Sent: Wednesday, September 16, 2020 2:15 PM
To: envoyproxy/envoy <envoy@noreply.github.com>
Cc: Ratul <ratul75@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [envoyproxy/envoy] Envoy failed on Ba

[2020-09-16 19:18] markdroth opened #13134 "improve documentation of aggregate cluster behavior"
The [aggregate cluster documentation](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/aggregate_cluster) describes how load balancing works with an aggregate cluster, but it doesn't describe how any of the other cluster behavior works.

Here are a few off-the-cuff examples (not a comprehensive list):
- What happens for circuit breakers?  Does the circuit breaking config in

[2020-09-16 19:24] htuch commented on #13072
@freeloyerkick possibly consider using https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/aggregate_cluster and set a static fallback.

[2020-09-16 19:31] #11313 closed

[2020-09-16 19:36] htuch commented on #3362
#11577 implemented this capability.

[2020-09-16 19:36] #3362 closed

[2020-09-16 19:55] htuch commented on #13079
@guoruijing @ratulb @meteorcloudy which compiler version is this? Has this just switched to on-by-default?

I think we should fix this structurally in Envoy so we don't have this come up again, probably by adding to `envoy_copts` in bazel/envoy_internal.bzl`, but maybe first by understanding why this is an issue for Bazel CI and not us.

[2020-09-16 20:06] asraa commented on #13079
@meteorcloudy Can you reproduce if you use gcc version 9?

[2020-09-16 21:12] kb000 opened #13138 "Adaptive concurrency rejects should put reason into `grpc-message` header"
https://github.com/envoyproxy/envoy/blob/a8b946e1c30618dfcab6c7e90333301c16b56a65/source/extensions/filters/http/adaptive_concurrency/adaptive_concurrency_filter.cc#L40-L42

[2020-09-16 22:14] rebello95 opened #13139 "error: building with Xcode 12 yields failures from `-Wrange-loop-analysis`"
*Title*: error: building with Xcode 12 yields failures from `-Wrange-loop-analysis`

*Related issues*:

This is actually the same error flagged in https://github.com/envoyproxy/envoy/issues/11949. Flagging because it's consistently reproducible on Xcode 12.

*Description*:

When building Envoy Mobile with Xcode 12, builds fail with the following error:

[code]

*Repro steps*:

With the following e

[2020-09-16 22:14] rebello95 commented on #13139
There are more violations than the one listed above - going through them and attempting to fix now.

[2020-09-16 22:27] rebello95 commented on #11949
FYI I'm hitting these with Xcode 12 as well (https://github.com/envoyproxy/envoy/issues/13139), and am fixing them in https://github.com/envoyproxy/envoy/pull/13140.

[2020-09-16 22:27] rebello95 commented on #13139
https://github.com/envoyproxy/envoy/issues/13139

[2020-09-16 22:27] LarsAndreasEk opened #13141 "All spans get kind = CLIENT when sharedSpanContext = false"
Hi,

When sharedSpanContext is set to false, which is the default in istio, all spans sent from sidecars to zipkin is marked as kind = CLIENT, at least in my setup.

I wonder whether this is by design. My understanding is that egress traffic should get kind = CLIENT, whereas ingress traffic should have kind = SERVER, regardless of whether shared spans are used or not.

Setup: k8s, istio (tested bo

[2020-09-16 22:27] rebello95 commented on #13139
https://github.com/envoyproxy/envoy/pull/13140

[2020-09-16 22:28] LarsAndreasEk commented on #13141
Seems related to https://github.com/envoyproxy/envoy/issues/4397 and https://github.com/envoyproxy/envoy/pull/4426

[2020-09-16 22:43] mk46 opened #13142 "Add DurationTimeout response flag for HCM."
In PR #12495, I have added the "DurationTimeout" response flag for TCP connection timeout and should be the same for HTTP also.
CC @htuch

[2020-09-16 23:35] mattklein123 commented on #13100
How is this different from the response details? cc @alyssawilk

[2020-09-16 23:36] mattklein123 commented on #13101
We don't support proxy auth today, though you could built with a custom filter or Lua.

[2020-09-16 23:38] mattklein123 commented on #13114
Hmm this does seem like something we should fix somehow but not sure of the RFC details. cc @yanavlasov @dio @alyssawilk who have been looking at similar things recently.

[2020-09-16 23:41] mattklein123 commented on #13118
I think this makes sense but would like to confirm with @ramaraochavali who has dealt with similar issues. I think we would want this to be at least runtime guarded, if not config driven.

[2020-09-16 23:42] mattklein123 commented on #13138
I would have thought our gRPC local reply code would already do this, but maybe not. cc @alyssawilk who has been in here recently.

[2020-09-16 23:44] mattklein123 commented on #13082
cc @rgs1

[2020-09-16 23:45] mattklein123 commented on #13105
Possibly related to https://github.com/envoyproxy/envoy/issues/9682. cc @kyessenov

[2020-09-16 23:47] mattklein123 commented on #13119
I don't think this is possible today. cc @snowp

[2020-09-16 23:48] mattklein123 commented on #13141
cc @objectiser

[2020-09-16 23:52] mattklein123 commented on #1310
I'm going to call this finished. Let's open new issues that are specific to features/bugs/etc.

[2020-09-16 23:52] #1310 closed

[2020-09-16 23:53] yxue commented on #13134
Sure, I will update the document. Please assign the issue to me. Thanks!

[2020-09-16 23:58] mattklein123 commented on #3179
I think this was done by @FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg

[2020-09-16 23:58] #3179 closed

[2020-09-17 00:00] mattklein123 commented on #3296
I believe this was done

[2020-09-17 00:00] #3296 closed

[2020-09-17 00:03] mattklein123 commented on #3818
@alyssawilk is this issue basically done? I think you now share most of the conn pool logic?

[2020-09-17 00:06] mattklein123 commented on #4317
cc @alyssawilk this might be a good one to look at as you continue your quest to unify a bunch of handling around local replies.

[2020-09-17 00:06] mattklein123 commented on #4445
This is done.

[2020-09-17 00:06] #4445 closed

[2020-09-17 00:07] mattklein123 commented on #4552
I think this is done.

[2020-09-17 00:07] #4552 closed

[2020-09-17 00:37] ankane commented on #11949
Awesome, thanks @rebello95! Will test again with Homebrew once it's merged.

[2020-09-17 01:49] mattklein123 commented on #6464
cc @ggreenway this is related to our recent discussions. This might be another way of handling your issue in terms of how it might be configured generally for an h2 connection.

[2020-09-17 01:53] mattklein123 commented on #6824
cc @snowp @yangminzhu another related issue to https://github.com/envoyproxy/envoy/issues/12968. Possibly a duplicate.

[2020-09-17 01:54] mattklein123 commented on #7136
cc @ggreenway also related.

[2020-09-17 01:57] mattklein123 commented on #7476
@jmarantz this is fixed, right?

[2020-09-17 01:58] mattklein123 commented on #7706
I think all of the known fixes have been done or are in progress, so closing. We can open new/specific issues if necessary.

[2020-09-17 01:58] #7706 closed

[2020-09-17 02:04] mattklein123 commented on #8448
@rgs1 where are we at with this issue? Is Envoy now comparable to other proxies or do we have more work to do here?

[2020-09-17 02:05] mattklein123 commented on #8659
Another possible duplicate of https://github.com/envoyproxy/envoy/issues/12968. cc @snowp @yangminzhu

[2020-09-17 02:10] rgs1 commented on #13082
cc: @fishcakez

[2020-09-17 02:20] #13021 closed

[2020-09-17 02:45] yanavlasov commented on #13142
Don't we already have `max_connection_duration` in the [HttpProtocolOptions](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/protocol.proto#envoy-api-msg-core-httpprotocoloptions) ?

[2020-09-17 02:54] yanavlasov commented on #13114
Yes, it looks like a bug. This code is going to be changed very soon. We will keep this bug open to make sure we look into this case.

[2020-09-17 02:56] yanavlasov commented on #12279
I'd say it is a pre-requisite. This bug is to refactor flood checks, but the class can be extended to do other checks as well.

[2020-09-17 04:36] mk46 commented on #13142
Yes, we have but when max_connection_duration reached on HTTP connection-level then it doesn't produce any response flag.
https://github.com/envoyproxy/envoy/blob/419428a82945a1a2ab0ab48e054e76ee851c5450/source/common/http/conn_manager_impl.cc#L443
When  #12495  got merged, "DurationTimeout" as a response flag will be produced at the TCP connection-level. It should be the same for both.

[2020-09-17 07:27] guoruijing commented on #13079
I can reproduce the issue with gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0

[2020-09-17 08:22] meteorcloudy commented on #13079
I believe we also use gcc 7.5 on Bazel CI. Somehow this unused variable is treated as an error on Bazel CI, but probably as a warning on circle CI?

[2020-09-17 09:19] ankatare commented on #12043
sorry for delay here,  i was off last week due to my bad health etc.
still working to reproduce issue. please allow some more time. will get back for any query etc.

[2020-09-17 09:19] ankatare commented on #10535
sorry for delay.   i was off last week due to bad health.

[2020-09-17 09:54] #12994 closed

[2020-09-17 12:46] alyssawilk commented on #13100
I think rc details aren't required to do filter_name.reason today, but they mostly do, and I'd be super happy if someone wanted to do an audit and regression test they do.

[2020-09-17 12:46] alyssawilk commented on #3818
Except for actually using it, yeah.
I'll leave it assigned to me and close it once we've sorted out the latest pinterst report and flipped it back.

[2020-09-17 12:50] alyssawilk commented on #2755
Oh hey, there's an issue for this.
I'm not going to back-tag all the connection pool refactors, but I should have tagged #12973 and #12758 and now I know to close this off when predictive prefetch is done.

[2020-09-17 13:08] alyssawilk commented on #4317
I suspect it's easy enough to move the code around and apply to the new (unified) local response path.  Do you think response headers to add should be added unilaterally (runtime guarded) even on local responses, or configured for [only when proxied | all local responses]?

The other complication I can think of would be caching, making sure we have the right APIs for if headers should be added bef

[2020-09-17 13:40] alyssawilk commented on #13138
the gRPC code sends the body text as the error message, but for adaptive concurrency that's "" so not very informative.
Given I've been playing in this space it should only be a 10 minute fix for me - happy to throw something together.

[2020-09-17 14:09] alyssawilk commented on #4317
Alternately we could just expect folks dup their headers into the local reply content modification.  if so maybe a FAQ for that?

[2020-09-17 14:10] asraa commented on #13079
I think GCC 9 is used in Envoy's CI https://github.com/envoyproxy/envoy-build-tools/blob/e7ea4e81bbd5028abb9d3a2f2c0afe063d9b62c0/build_container/build_container_ubuntu.sh#L12, is it possible that this is why?

[2020-09-17 14:27] ceastman-ibm opened #13147 "virtual service rewrite doing urldecoding"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: virtual service rewrite doing urldecoding

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

Setup a virtual ser

[2020-09-17 15:12] amalaruja commented on #8639
Update: I reverted disabling HTTP Keep-Alive. Instead I used **upstream_connection_options** with
[code]
Now I am still not getting any 503 UC.
[tcp_keepalive](https://www.envoyproxy.io/docs/envoy/v1.12.0/api-v2/api/v2/core/address.proto#envoy-api-msg-core-tcpkeepalive)
This seems to be the better solution since I don't have to give up on the benefits of HTTP Keep-Alive.

[2020-09-17 15:25] #2908 closed

[2020-09-17 15:32] teoincontatto opened #13149 "Expose postgres filter metrics with labels for prometheus format"
*Title*: Expose postgres filter metrics with labels for prometheus format

*Description*:

Currently postgres filter metrics are exposed without any label when queried with prometheus format:

[code]

Stats are absolutely global for all database and instances of postgres connected through the filter and all listener addresses that have the filter attached.
Labels to be added are to be discussed bu

[2020-09-17 15:40] meteorcloudy commented on #13079
Sorry, I have no idea.

[2020-09-17 16:13] mattklein123 commented on #13138
Ah OK I missed that. I thought it would potentially be the reason details string. I wonder if it should be the reason details string?

[2020-09-17 16:38] snowp commented on #13119
Definitely not possible today, and would require some work to implement. With upstream HTTP filters you could imagine adding a new filter that tracks all the responses in FilterState and dispatching that at the end, but a lot of pieces are still missing for that to be possible

[2020-09-17 17:23] juanvasquezreyes commented on #13119
is there a way to send the response output to another listener or another cluster?

[2020-09-17 17:38] mattklein123 commented on #4317
My thinking was that we could have common code that both the local reply path and router call to add the response headers, based on the currently snapped/cached route. Agreed this should be runtime guarded, but IMO we could do it unilaterally. Variants of this bug have been opened a ton of times and I think it's the behavior people expect.

Yeah I agree this is complicated. My thinking here though

[2020-09-17 17:41] alyssawilk commented on #13138
Move gRPC to sending response code details as the body?  I don't have strong feelings either way, but it's a larger change and it strikes me as weird to send different information in the non-gRPC body than we do in the gRPC header.  Then again the two are often similar, it's just that details are more optimized for logging (terse, avoid spaces) and bodies are optimized for human readability.
cc @l

[2020-09-17 17:44] #12927 closed

[2020-09-17 17:46] mattklein123 commented on #13138
My thinking was mostly that the grpc-message is probably expected to not be very long, but not a big deal.

I guess my higher level comment is that it seems strange that in the common case of the body/details being the same (I'm guessing this happens a lot) the programmer has to duplicate it. I wonder if there is a cleaner way of handling this common case.

[2020-09-17 18:04] alyssawilk commented on #4317
So the plan would be doing route-based local header modifications and local reply mapper modifications on local responses?

I'm fine with default on with a runtime guard given if folks complain we can always make it configurable after the fact - better than starting with complexity if you don't think it's needed.

[2020-09-17 18:04] snowp commented on #13119
If you don't care about individual retry attempts you could probably do this with a C++ or Lua filter that makes an async call out once it sees the response

[2020-09-17 18:05] mk46 commented on #12077
@alyssawilk  Can we close this issue? Thanks!.

[2020-09-17 18:10] mattklein123 commented on #13078
A potentially useful starting point: https://github.com/chrusty/protoc-gen-jsonschema

The main complexity here is going to be dealing with the Any/extension model within a pure JSON schema. We will need to keep a map of extensions, and then somehow allow the sub-extension config to be built by schema/plugin.

[2020-09-17 18:21] mattklein123 commented on #4317
Yeah. Basically just take the code that the router already uses, and move it somewhere common.

+1

[2020-09-17 18:54] danielkwinsor opened #13153 "Sub-Millisecond timeouts treated as no timeout"
*Description*:
Timeouts are modeled as Duration and can accept nanos.  If a route timeout is given nanos less than 1 millisecond, no timeout will be performed.  1 millisecond is the threshold for a timeout configuration.  I did not yet test the same for other types of timeouts elsewhere.

Expected case is either a 504 gateway timeout or an updated document section.  There may be valid usecases for

[2020-09-17 19:07] rebello95 opened #13154 "build: enable -Wrange-loop-analysis"
*Title*: build: enable -Wrange-loop-analysis

*Context*:

In https://github.com/envoyproxy/envoy/issues/13139 we noticed that building with Xcode 12 enables `-Wrange-loop-analysis` and yields errors preventing Envoy from building. More specifically, this affected Envoy Mobile when building for iOS. The code errors in Envoy code consumed by Envoy Mobile were fixed in https://github.com/envoyproxy/e

[2020-09-17 19:14] rebello95 commented on #13139
The above PR fixes the Xcode 12 issues for Envoy Mobile, but we will still need to eventually enable this rule in Envoy to prevent future breakages. Filed https://github.com/envoyproxy/envoy/issues/13154 separately to track.

[2020-09-17 19:14] #12077 closed

[2020-09-17 19:21] nrjpoddar commented on #12077
Thanks for implementing this feature @mk46 and Envoy team!

[2020-09-17 19:42] jstewmon opened #13157 "ROUTE_NAME is not captured in access log when direct_response is used"
*Title*: *ROUTE_NAME is not captured in access log when direct_response is used*

*Description*:
https://github.com/envoyproxy/envoy/pull/12850 introduced a bug whereby the ROUTE_NAME is not set when the access log is written if the route uses `direct_response`.

*Repro steps*:

Start envoy with a config that includes `%ROUTE_NAME%` in the access log, make a request, observe log does not have rout

[2020-09-17 19:51] toddmgreer commented on #4317
If "local reply" means "reply generated by sendLocalReply", then CacheFilter doesn't send local replies. If it just means a reply based on in-process (at the time) state, then CacheFilter will often send local replies.

I don't think CacheFilter should decide whether to add custom headers before or after caching--what would it base the decision on? If you want to add a response header that will be

[2020-09-17 20:05] asraa commented on #13154
Some third parties could probably suppress this by a change their build rule. For QUICHE, can you add -Wno-range-loop-analysis here? https://github.com/envoyproxy/envoy/blob/933e267db60961e76549ae6e65ac4872cb78db4d/bazel/external/quiche.BUILD#L56

[2020-09-17 20:08] mattklein123 commented on #4317
The latter, like the router filter.

This is more complicated than I would like, given that we have had this functionality for a long time in the router filter and are trying to make it consistent for local replies. IMO it would be simpler to just say that the cache filter acts like the router and just adds the headers post-caching and pre-response.

[2020-09-17 20:16] alyssawilk commented on #4317
It may be a bit more complicated than that, as I think (may be misremembering) when doing cache validation the filter sends the upstream headers, then the cached body.  If that's true we should just be careful there's no path where we apply them twice.

[2020-09-17 20:17] mattklein123 commented on #4317
Good point. Perhaps there is nothing to do if we assume that the router will add the headers and they get cached?

[2020-09-17 20:18] toddmgreer commented on #4317
Exactly.

[2020-09-17 20:22] toddmgreer commented on #4317
In successful cache validation, the upstream will respond with a 304, the router filter will add custom headers, and the new custom headers will replace the previously cached ones.

[2020-09-17 20:30] ronaldpetty commented on #6527
Link updated.

https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route.proto?highlight=response_headers_to_add

[2020-09-17 20:47] rebello95 commented on #13154
Nice, thanks @asraa - looks like that's being added in https://github.com/envoyproxy/envoy/issues/13154 by @danzh2010, after which I can submit a PR to add this rule to Envoy's build file

[2020-09-17 20:47] mike1808 commented on #11648
This issue is also helpful for a chain of Envoys and when you want to implement retries on outer Envoy. For example, in Istio when you have one Envoy as an ingress gateway and other one as a sidecar and on your ingress gateway you want to retry only on HTTP errors and not on TCP errors you won't be able to, as the sidecar Envoy will just reply 503 HTTP error to the ingress gateway without any deta

[2020-09-17 20:55] mike1808 commented on #11648
Also, I'm not sure if it's a [Feature Request] as there is no mentioning that `response_headers_to_add` do not work on 503 errors.

[2020-09-17 21:07] mattklein123 commented on #11648
This is covered by https://github.com/envoyproxy/envoy/issues/4317. cc @alyssawilk

[2020-09-17 21:07] mattklein123 commented on #4317
Perfect, sounds like a plan. :)

[2020-09-17 21:12] asraa opened #13162 "clang_tidy failure gcc/clang"
clang_tidy is using GCC instead of clang 10 and is running into CI failures

https://dev.azure.com/cncf/envoy/_build/results?buildId=51547&view=logs&j=3bf5ec37-bb6f-5fb6-2cf1-5134dc6106d6&t=41d571fe-3811-578d-07de-68468f467dae

[code]

[2020-09-17 21:26] sunjayBhatia commented on #11974
See https://github.com/envoyproxy/envoy/pull/13133/files for some modified clang-cl flags in the updated .bazelrc that are required

[2020-09-17 21:47] chradcliffe opened #13164 "When tracing is not configured, potential null pointer dereference when accessing Tracing::Config in filters"
*Title*: When tracing is not configured, potential null pointer dereference when accessing Tracing::Config in filters

*Description*:
Without tracing configured, calls to `Tracing::Config::operationName()`, `Tracing::Config::verbose()`, and `Tracing::Config::maxPathTagLength()` via `StreamFilterCallbacks::tracingConfig()` lead to a null pointer dereference.

`HttpConnectionManagerConfig::tracing_c

[2020-09-17 22:44] htuch opened #13165 "RFP: xDS conformance test suite"
# Request for Proposals

The Envoy maintainers and CNCF are soliciting proposals for vendors to build an xDS conformance test suite. The statement-of-work (SoW) is provided [here](https://docs.google.com/document/d/17E3k4fGJedVISCudrW4Kgzf89gvIIhAdZnJmo6pMVlA/edit).

The RFP will be open from 2020-9-17 to 2020-10-8.

Vendors should submit a staged proposal for building the test suite, with indepen

[2020-09-17 22:46] htuch commented on #11299
CNCF and @envoyproxy/api-shepherds have an RFP for vendors to bid on a project to build this in https://github.com/envoyproxy/envoy/issues/13165.

[2020-09-17 23:27] #13139 closed

[2020-09-17 23:31] htuch opened #13166 "Retrieving socket options in access loggers"
Problem we're trying to solve: extract downstream/upstream remote socket options for use in an access logger.

I think we can do this for downstream via a custom listener filter that has access to the Socket and place this in dynamic metadata, which the access logger can then consume.

I don't see a mechanism to do this upstream, upstream network filters don't have a way to reach into the Socket.

[2020-09-17 23:59] mattklein123 commented on #13165
@htuch how should proposals be submitted? Can you clarify that in the doc or here?

[2020-09-18 00:09] mattklein123 opened #13167 "docs: automate listing all stock/built-in types for typed extensions"
A major problem with our documentation is the user does not know what types are available for all of the typed extension points. Obviously we can't know all custom extensions and all bets are off if the user is doing a custom build, but we can ignore those cases because those users won't have any issues.

For everyone else, I think we should:
1) Dump out all extensions in the stock build (either d

[2020-09-18 00:10] mattklein123 commented on #13167
Cross linking to https://github.com/envoyproxy/envoy/issues/13078 as some variant of this is going to be needed to make the vscode plugin work correctly.

[2020-09-18 00:21] ratulb commented on #13079
I pulled down latest sources - still facing the same build failure. I am using:

gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0

I would upgrade gcc and see how it goes later today.
________________________________
From: asraa <notifications@github.com>
Sent: Thursday, September 17, 2020 7:41 PM
To: envoyproxy/envoy <envoy@noreply.github.com>
Cc: Ratul <ratul75@hotmail.com>; Mention <mention@noreply.gith

[2020-09-18 03:16] prakasa-tkpd commented on #7925
can you share your last changes on this issue

[2020-09-18 09:02] siepkes commented on #8571
For anyone else stumbling across this issue (like me) the documentation of the OAuth2 filter is located here: https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/oauth2/v3alpha/oauth.proto.html

[2020-09-18 10:22] nehap4 commented on #12988
Yes I tried generating POST request and I am able to see both BYTES_RECEIVED & BYTES_SENT now..Thank you.

[2020-09-18 13:08] andrascz commented on #12556
I am trying to do the same as the OP doing and was struggling for a couple of days to achieve it setting the route metadata and using the dynamic metadata action for rate limiting. Thank you @jeremybaumont  for writing this long story about it to point me in the Lua filter way. :+1:

Also I would like to add that implementing a FilterMetadataAction as @Pchelolo suggested would simplify this use ca

[2020-09-18 14:37] jaegchoi opened #13170 "Lots of 503 Errors after adding retries"
Hi, we have been using Envoy for a while now and have always seen a small amount of 503s occurring with the **UF** flag. We could not figure out the root cause of these errors so we decided to mitigate them by adding route level retries on the "connect-failure" condition (Envoy will attempt a retry if a request is failed because of a connection failure to the upstream server (connect timeout, etc.

[2020-09-18 14:46] asraa commented on #13162
Fixed https://github.com/envoyproxy/envoy/pull/13159

[2020-09-18 14:46] #13162 closed

[2020-09-18 14:48] asraa opened #13171 "[ci] fuzz coverage will test against crashing entries after fuzzing"
Fuzz coverage failures https://dev.azure.com/cncf/envoy/_build/results?buildId=51617&view=logs&j=029e00ef-277c-5f07-2730-d196f67f2820&t=2c49709e-9753-555d-932c-01a1e7393229

happen from crashing on fuzzed entries. Before, crashes would not be added to the corpus and tested.

[2020-09-18 14:56] juanvasquezreyes commented on #13119
I was able to make it work with LUA by doing something like this
[code]

where api is my cluster and i'm evaluating that the first status is not 200, you can change to a POST and send the body data from the first request by passing this requestBodyData  into the http Post call

[2020-09-18 14:56] #13119 closed

[2020-09-18 15:33] dio commented on #12985
Seems like this can be closed, however @linxuyalun, do you mind creating a PR for improving docs? Thank you!

[2020-09-18 16:53] yanavlasov commented on #13166
It may depend on what socket options are of interest. If this comes from a specific request can we get a list of options?

[2020-09-18 17:02] mattklein123 commented on #13164
I would probably return an optional reference wrapper, but yes this sounds good!

[2020-09-18 17:04] yuval-k opened #13174 "log: allow extensions enrich the logs (regression)"
We have some use-cases where a filter needs to set dynamic metadata when the stream ends, but before log() happens, to enrich the logs with data gathered through the lifecycle of the request (and regardless if it ended or reset).

We used to do it using onDestroy(), but now that log() happens before onDestroy, this approach doesn't work anymore (as of https://github.com/envoyproxy/envoy/pull/12850

[2020-09-18 17:08] mattklein123 commented on #13174
Why can't logging happen immediately after `onDestroy()` of all filters?

[2020-09-18 17:11] yuval-k commented on #13174
I have no issue with that, but please see:
https://github.com/envoyproxy/envoy/pull/12850
https://github.com/envoyproxy/envoy/issues/12616

[2020-09-18 17:15] mattklein123 commented on #13174
The bug was about logging happening after deferred destruction. I don't see any issue with doing the logging phase after onDestroy() is called for each filter, though this would need to be documented that log happens after onDestroy(). I'm not sure if assumptions are being made on the inverse. It would be nice to avoid another callback if we don't need it.

cc @jplevyak @snowp

[2020-09-18 17:19] yuval-k commented on #13174
SGTM

[2020-09-18 17:23] #13138 closed

[2020-09-18 17:32] kyessenov commented on #13174
I think it's confusing to call `onDestroy` before `onLog` for filters that cross-register as log handlers, but it's not a big deal.
We wanted to do blocking access loggers at some point https://github.com/envoyproxy/envoy/issues/10326 which might exacerbate this issue.

[2020-09-18 17:36] mattklein123 commented on #13174
We wanted to do blocking access loggers at some point #10326 which might exacerbate this issue.

I don't feel strongly about it. If we do want a new callback, I might recommend calling it onPreDestroy(), so the flow is onPreDestroy(), onLog(), onDestroy().

[2020-09-18 17:38] eziskind commented on #13166
This is for a Google-internal use-case where we want to get a custom socket option that has been set by the virtual networking layer.

[2020-09-18 17:54] mattklein123 commented on #13166
This seems OK to me at the network filter level, especially if it's only const access.

I think we could do this, but I'm not sure it's worth it if we do the previous item, at leas for now.

[2020-09-18 17:55] kb000 commented on #13138
Great! Thanks @alyssawilk!

[2020-09-18 18:33] mattklein123 commented on #13157
Hmm. Maybe related to https://github.com/envoyproxy/envoy/issues/13174. @yuval-k can you take a look at this also?

[2020-09-18 18:38] mattklein123 commented on #13153
Seems like we should just have a validation here.

[2020-09-18 18:41] yuval-k commented on #13157
Do you know if sendLocalReply triggers onLog? if so then moving this line
with this line https://github.com/envoyproxy/envoy/blob/76f84d3bb93f90e84fd9b896a64bfe7753e08570/source/common/router/router.cc#L394
before this line https://github.com/envoyproxy/envoy/blob/76f84d3bb93f90e84fd9b896a64bfe7753e08570/source/common/router/router.cc#L376

should solve it.

[2020-09-18 19:10] justin-mp opened #13179 "Fuzz test the CDN-Loop header parser"
In PR #12894 @asraa mentioned that the CDN-Loop header parser should probably have some fuzz tests run against it and suggested we open a Github issue to figure out how to do so.

[2020-09-18 19:32] jplevyak opened #13180 "ASAN failure test/common/network/connection_impl_test.cc:116:31"
*Title*: *One line description*
ASAN failure test/common/network/connection_impl_test.cc:116:31

*Description*:

2020-09-18T19:08:40.4740481Z TestRandomGenerator running with seed 1542769512
2020-09-18T19:08:40.4740874Z TestRandomGenerator running with seed 1542769512
2020-09-18T19:08:40.4741913Z test/common/network/connection_impl_test.cc:116:31: runtime error: constructor call on address 0x61a00

[2020-09-18 20:17] lidizheng opened #13181 "[Feature] Support Client Status Discovery Service (CSDS)"
*Title*: *[Feature] Support Client Status Discovery Service (CSDS)*

*Description*:

[Client Status Discovery Service (CSDS)](https://github.com/envoyproxy/envoy/blob/master/api/envoy/service/status/v4alpha/csds.proto) is a service that exposes xDS config of a given client. It’s commonly used to query control planes for the synced xDS config of a particular sidecar proxy. However, it can also be u

[2020-09-18 21:10] rebello95 commented on #13154
As part of this, we'll need to fix: https://github.com/envoyproxy/envoy/pull/13140#issuecomment-695085697

[2020-09-18 22:03] #10420 closed

[2020-09-18 22:18] dio commented on #5998
I have submitted a PR (#13172) for this. Not entirely sure, probably we can repurpose the `respond` API as wrapper for the low-level codes exhibited in the PR.

[2020-09-18 22:31] cpakulski commented on #13149
Makes sense.
Connection info probably may be extracted from `connection` object which filter has access to.
`database` is passed in the first Postgres message when connection is opened.

As per implementation, it will add a dynamic aspect to stats. I am not sure if internally it is easy/possible to return global stats for `/stats` and stats with labels for `/stats/prometheus`.

[2020-09-18 22:33] #13171 closed

[2020-09-18 22:35] rebello95 commented on #13154
https://github.com/envoyproxy/envoy/pull/13184

[2020-09-18 22:48] wlhee opened #13185 "Tunnel TCP over HTTP/2 POST"
Today, Envoy supports tunneling [TCP over HTTP/2 CONNECT](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/upgrades#tunneling-tcp-over-http-2), which is awesome!

I understand that HTTP/2 CONNECT method is designed to handle such a use case. However, edge proxy might not accept CONNECT due to [security concern](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/htt

[2020-09-18 22:48] wlhee commented on #13185
cc @htuch @alyssawilk

[2020-09-18 23:20] gargnupur opened #13187 "Local Envoy Rate Limiting for HTTP"
*Title*: Support local rate limiting in Envoy for HTTP

*Description*:
Have per instance rate limiting support in Envoy for HTTP Requests.

Local Rate limiting exists for Envoy but it's specific to TCP connections(afaik) and thus would be good to extend the HTTP Rate limiter filter to support per instance rate limiting too.

Proposal:
In rls.proto provide an option for local rate limiting rather t

[2020-09-18 23:21] gargnupur commented on #13187
/cc @mattklein123 @kyessenov @mandarjog @jplevyak

[2020-09-18 23:31] davinci26 opened #13188 "Process Control on Windows"
*Title*: Process Control on Windows

*Description*:

Process control primitives are different on POSIX and Windows. We need to add support for the following:

1. Envoy should handle termination signals by the OS
2. Envoy should handle termination signals by the user
3. Envoy should be able to run persistently on the background as a SCM process.

*Relevant Links*:

1. [SCM](https://docs.microsoft.c

[2020-09-18 23:34] davinci26 opened #13189 "Envoy is spinning CPU on Windows"
*Title*: *Envoy is spinning CPU on Windows*

*Description*:

In 2019 version of Windows Server there is no support for `level-based` events which causes Envoy to spin CPU to process "empty" write ready events.

To resolve this issue we consider the following three approaches:

1. Selectively turn on and off the level based events. The idea is to **only** listen to file event notifications when we

[2020-09-18 23:40] yanavlasov commented on #13147
My suspicion is that path canonicalization decodes %-encoded characters.

[2020-09-18 23:43] davinci26 commented on #13189
Given that the fact that newer versions of Windows will support edge-based events and that it requires the least amount of changes, I want to start experimenting with approach (1).

I got some input from @antoniovicente on the approach and I will start working on it for the beta release.

[2020-09-18 23:58] davinci26 opened #13190 "Envoy documentation should be Windows friendly"
*Title*: *Envoy documentation should be Windows-friendly*

*Description*:

Various code snippets and configuration files in the documentation (https://www.envoyproxy.io/docs/envoy/latest/start/start) rely on POSIX tools (e.g. `chown`) and primitives such as `/dev/null/`.

As we make progress towards #129, we should revisit the documentation experience for Windows users.

**As we do this work, we n

[2020-09-19 00:18] moderation commented on #13187
Local rate limiting is already supported - https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/network_filters/local_rate_limit_filter#config-network-filters-local-rate-limit

[2020-09-19 00:25] davinci26 opened #13191 "Envoy Server drops the connection on Windows when the client certificate is invalid"
*Title*: *Envoy Server drops the connection on Windows when the client certificate is invalid*

*Description*:

When the client certificate is invalid the behavior on Windows and UNIX is different. On Linux (correct behavior) it notifies back the client and on Windows it just drops the connection.

* UNIX: SSL_get_error is SSL_ERROR_SSL and the client has the error TLS error: 268436501:SSL routine

[2020-09-19 00:26] antoniovicente commented on #13189
It would be good to see if approach (1) works out.  It certainly seems the least disruptive.  The level trigger mode of operation could also be an option under linux, so testing sockets that operate in this paradigm should be possible on multiple platforms.  I hope that the changes can be relatively localized: either Network::Connection and/or IoHandle.

Keep me posted on progress.

[2020-09-19 00:50] yanavlasov commented on #12315
Fixed

[2020-09-19 00:50] #12315 closed

[2020-09-19 06:21] fandayrockworld commented on #8251
@fatihusta Would you so kind to show me how to load `json` module to your envoy filter?
There's an error `module 'cjson' not found` when I use it in version of istio 1.6.8.
Thanks.

[2020-09-19 06:42] chrisxrepo opened #13192 "why envoy call ratelimit service by http"
envoy trace
[code]

my envoy.yaml
[code]

[2020-09-19 06:56] dio commented on #13192
Do you mean the following log lines?

[code]

That is a gRPC call. In this case we encode the payload as protocol buffers and transport that request [carried over `HTTP/2`](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md), most of the time using `POST` method.

And I think, you need to set your `ratelimite_cluster` to be an HTTP/2 cluster by adding [`http2_protocol_options `](https:

[2020-09-19 08:13] chrisxrepo commented on #13192
Thanks, it's work

[2020-09-19 08:13] #13192 closed

[2020-09-19 09:20] phlax commented on #13078
also relevant: https://github.com/redhat-developer/vscode-yaml

[2020-09-19 09:30] WestEnlarged opened #13194 "build envoy with bazel,but has error, someone would help me?"
i'm using win10 ,and installed bazel (3.5.0) , then i checkout the code to build master with the envoy doc.  It is very confused like this, and i was installed python.

`PS E:\code\envoy> bazel build

Starting local Bazel server and connecting to it...
INFO: Repository protodoc_pip3 instantiated at:
  no stack (--record_rule_instantiation_callstack not enabled)
Repository rule pip_import defined a

[2020-09-19 11:07] phlax commented on #13190
we could possibly use something like this https://github.com/executablebooks/sphinx-tabs where docs diverge

[2020-09-20 00:48] rtttech commented on #13194
I have the same error, windows10

[2020-09-20 04:57] ikonst opened #13196 "X-Envoy-Expected-Rq-Timeout-Ms incorrect for retries"
I would expect the `X-Envoy-Expected-Rq-Timeout-Ms` header to reflect the remaining deadline "budget". Currently it seems to:
- copy `x-envoy-upstream-rq-per-try-timeout-ms` when it's set and hedging is off
- copy `x-envoy-upstream-rq-timeout-ms` when heding is on / no per-try timeout

This doesn't account for the reduced deadline, nor for the extra "padding" due to backoff.

## Non-hedged example

[2020-09-20 11:25] dio commented on #12626
@paawan01 you can get the data "bytes", via `getBytes()` API.

`request_handle:body()` doesn't return a string. It returns a [buffer wrapper](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/lua_filter.html#config-http-filters-lua-buffer-wrapper).

Hence a call to it ends up with a value that looks like `userdata: 0x40dae6a0`

Try this instead:
[code]

But yeah you can't

[2020-09-20 13:51] hinawatts commented on #12348
Hi @jleskovar-tyro, no I didn't find a solution to this. I have switched to json_format type.

[2020-09-20 17:13] kyessenov commented on #13174
What do you think about changing your filter to cross-register as access logger (`addAccessLogHandler`)? This is more aligned with the intent. We may need to make sure the ordering is right (HTTP filters before access log handlers).

[2020-09-20 21:39] #12542 closed

[2020-09-20 22:39] #12339 closed

[2020-09-20 22:51] dio commented on #12348
@hinawatts @hinawatts

Example of access log config for a `v3` `HttpConnectionManager` is as follows:

[code]

And for `v2`:

[code]

Note that logs printing is buffered, so there will be a delay (for envoy to print a log corresponding log line) if you test it with a single request.

[2020-09-20 23:39] #12543 closed

[2020-09-21 02:37] nic-chen commented on #13126
The lua script caused an error so it didn't work as expect.

[2020-09-21 02:37] #13126 closed

[2020-09-21 03:13] guoruijing commented on #13079
there are lots of locations using unused variables. I can change like followings or we just upgrade compiler version?

-     for (const auto& [factory_name, factory] : factories()) {
+    for (const auto& t: factories()) {
+      const auto& factory = std::get<1>(t);

[2020-09-21 03:58] Shikugawa commented on #12670
/nostale

[2020-09-21 05:34] kumarvikas2020 commented on #12097
@dmitri-d @lizan
Following 2 issues (pure virtual method called) in the test cases appear on both x86 and ppc64le platforms:

//test/common/stats:thread_local_store_test
[thread_local_store_test.log](https://github.com/envoyproxy/envoy/files/5253570/thread_local_store_test.log)

//test/extensions/quic_listeners/quiche/integration:quic_http_integration_test
[quic_http_integration_test.log](https://

[2020-09-21 05:36] fatihusta commented on #8251
@fandayrockworld sory for late answer.
I had this issue like this.
Basicaly, I downloaded this file to same location the my lua code.
[https://github.com/rxi/json.lua/blob/master/json.lua](url)

[2020-09-21 06:08] kumarvikas2020 commented on #12097
@dmitri-d @lizan
Following additional 4 test case failures that I am facing on ppc64le appear to be due to "lua" support on POWER.
Could you confirm if these issues are not related to envoy-proxy code but are external to it.

1. //test/config_test:example_configs_test
[example_configs_test.log](https://github.com/envoyproxy/envoy/files/5253654/example_configs_test.log)

2. //test/extensions/filter

[2020-09-21 11:22] dio commented on #10048
@mtalbot @james-thomson I have a draft here:  #13199, which I believe can solve. However, to be sure, could you try this image: `dio123/envoy:lua-httpcall-raw-data` and see if this works for you? Thank you!

[2020-09-21 12:31] yuval-k commented on #13174
yes, that's exactly the problem with `addAccessLogHandler` - the order.
I think it is better to have another callback or move `onDestroy` before on `log` than rely on ordering, as the semantics are more clear and less likely to break in the future.
i.e. - how do you know to tell apart a real access log extension (that writes to a new sink) vs something that enriches the existing access logs, if th

[2020-09-21 13:00] alyssawilk commented on #13185
While wrapping TCP in CONNECT is industry standard (and included in various RFCs) I haven't heard of any standards around POST encapsulation.  Unless I'm missing one, I suspect we wouldn't want that upstream, but I can think of some fairly straight-forward changes to upstream Envoy we could make to make it fairly easy to implement a custom plugin to allow this locally.

As a side note, the securit

[2020-09-21 13:09] asraa commented on #13079
We support and use GCC 9 in CI. But these docs https://github.com/envoyproxy/envoy/blob/4706ee01abe191eef73c64d86c1835baf566323c/bazel/README.md#supported-say compiler-versions currently has GCC 7+ as supported. There was some refactor after C++17 was enabled to use structured binding, which should be find since structured bindings appear in GCC 7.

However, I did find a GCC bug about this: https:

[2020-09-21 13:16] meteorcloudy commented on #13079
I don't think we can easily upgrade the gcc version on Bazel CI, other projects may still depend on the current version.
For fixing envoy on Bazel CI purpose, maybe you can disable this warning in the config script (.bazelci/presubmit.yml) or in the bazelrc file?
/cc @philwo

[2020-09-21 13:23] meteorcloudy commented on #13079
FYI, according to https://buildkite.com/bazel/envoy/builds?branch=master&page=7,
this breakage was introduced between (https://github.com/envoyproxy/envoy/commit/da58cfc3292c6291c04dd3f10895b09e297bef15 and https://github.com/envoyproxy/envoy/commit/defea7ecbf6f3ebffe8b9d41afa7f62322756f05 ]

[2020-09-21 13:26] asraa commented on #13079
Yep, I'm assuming they were coming from these PRs
https://github.com/envoyproxy/envoy/pull/12791
https://github.com/envoyproxy/envoy/pull/12359
https://github.com/envoyproxy/envoy/pull/12468

[2020-09-21 13:41] ceastman-ibm commented on #13147
@yanavlasov and it only seems to happen when the rewrite is in the virtual service. if we dont have the rewrite section the url that is encoded is just passed onto the destination.

[2020-09-21 13:54] mattklein123 commented on #13187
This is a dup of https://github.com/envoyproxy/envoy/issues/10813. cc @rgs1

[2020-09-21 13:54] #13187 closed

[2020-09-21 13:58] mattklein123 commented on #13190
+1 I would love to figure this out for other reasons, like eventually maybe showing both YAML and JSON versions of snippets.

[2020-09-21 14:00] mattklein123 commented on #13196
Agreed we should make this more accurate.

[2020-09-21 14:07] mattklein123 commented on #11655
Fixed by https://github.com/envoyproxy/envoy/pull/13077

[2020-09-21 14:07] #11655 closed

[2020-09-21 14:13] mattklein123 commented on #13174
Yeah I agree. Let's just do it. It will be more clear. I think my only remaining question is:
1) Should this new callback be opt-in (via registration) to avoid compile breakages for existing filters?
2) If not, should we actually do a larger change to make a single `onDestroyPhase(...)` function which takes a stage enum? This seems more future proof but would be a larger breaking change.

WDYT? cc

[2020-09-21 14:15] mattklein123 commented on #13079
IMO we should either *downgrade* Envoy GCC to match Bazel CI, or just do this:

I think ^ is probably simpler?

[2020-09-21 14:25] alyssawilk commented on #13174
I'm fine with an optional (default no-op) onEncodeComplete - seems like a reasonable entry point and I prefer no-op base class to 50 filters having to make a no-op.

[2020-09-21 14:49] gargnupur commented on #10813
@rgs1 , @mattklein123 : We would like this feature too.. so how can we help get this revived again?

[2020-09-21 14:51] mattklein123 commented on #10813
I would recommend syncing up with @rgs1 on open sourcing their internal impl. I think we can do something pretty easily with a per-route config for an HTTP local rate limit filter.

[2020-09-21 14:54] htuch commented on #13166
We discussed offline and the preferred option is network filter access to socket options, assigned to @eziskind.

[2020-09-21 15:12] #13141 closed

[2020-09-21 15:22] ratulb commented on #13079
Got latest clang installed on ubuntu 20.04 LTS - latest sources built smoothly.

root@ubuntu-box:~$ clang-11 --version
Ubuntu clang version 11.0.0-++20200916113328+8f2c29681ce-1~exp1~20200916094014.99
Target: x86_64-pc-linux-gnu
Thread model: posix

FYI.

________________________________
From: Matt Klein <notifications@github.com>
Sent: Monday, September 21, 2020 7:46 PM
To: envoyproxy/envoy <envo

[2020-09-21 16:07] mattklein123 commented on #13181
It seems like we should ultimately converge on one dump/status API. Long term should we deprecate the ad-hoc config dump admin API in Envoy and move to CSDS? cc @dschaller @htuch

[2020-09-21 16:13] lizan commented on #13079
Perhaps we can simply remove GCC Bazel CI jobs, we do test RBE and Coverage (via local installed clang-10), IMO they are enough to catch issues from Bazel.

[2020-09-21 16:45] davinci26 commented on #13190
Thanks for the pointer @phlax.  I will look at the issue this week. Assigning it to myself.

[2020-09-21 17:02] philwo commented on #13079
Bazel CI by design only installs tools and toolchains from packages supplied by a given distribution version and we do not upgrade these beyond what the distribution offers in their own repositories. This is so Bazel and other projects can verify that they are compatible with e.g. Ubuntu 18.04 LTS out of the box.

If you don't need to be compatible with Ubuntu 18.04 LTS, I would recommend to stop

[2020-09-21 17:17] rgs1 commented on #10813
I think I should be able to send a PR with ours this week.

[2020-09-21 17:18] rgs1 commented on #8448
Alas, the switch to zlib-ng did not move the needle for us in one of our main workloads.

[2020-09-21 17:20] gargnupur commented on #10813
@rgs1 : cool.. thanks! Please cc me on it.

[2020-09-21 17:23] mattklein123 commented on #8448
OK, that's sad. I would love to figure this out. I think @rojkov might possibly have some more cycles to help figure this out. @rojkov is this a perf related investigation you could help drive to closure?

[2020-09-21 20:23] markdroth opened #13206 "requests failed "above" EDS level should be reflected in load reporting"
There are at least a couple of cases where Envoy will fail requests "above" the EDS layer:

- When the EDS resource does not exist.
- When the cluster fails requests due to [maintenance mode](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/router_filter.html?highlight=maintenance%20mode#runtime).

In these cases, the failed requests don't show up in LRS load reporting a

[2020-09-21 20:31] nareddyt opened #13207 "Improve flow control for internal buffering in gRPC Transcoding filter"
The gRPC transcoding filter buffers downstream and upstream request bodies internally. However, it does not adhere to the [flow control documentation](https://github.com/envoyproxy/envoy/blob/master/source/docs/flow_control.md#http1-and-http2-filters).

Specifically, there are 3 parts we're missing:

I don't see any calls to these functions when constructing the `request_data_` buffers. [Source](h

[2020-09-21 20:32] nareddyt commented on #13207
cc @qiwzhang

[2020-09-21 21:04] gargnupur commented on #10813
@rgs1 : Is it based on the config that was on review before? Just want to make sure,if it will cover our needs...

[2020-09-21 21:05] rgs1 commented on #10813
roughly

[2020-09-21 21:34] incfly opened #13209 "Data race in callback manager / ClusterInfoImpl destruction"
*Title*: *Data race in callback managers' usage*

*Description*:

When investigating an [Envoy segfault issue](https://github.com/istio/istio/issues/25909#issuecomment-696383529), I think, the root cause is a data race for managing dynamic clusters from different threads without protection.

##  Basic Reproducing Steps

Reproducing requires to have a setup, where an envoy instance(ingressgateway i

[2020-09-21 23:15] qiwzhang commented on #13207
I don't think gRPC transcoding filter should adhere to flow control protocol.   It is waiting to have a complete gRPC message to be transcoded.

If that message is too big,  bigger than HighWaterMark, it should NOT call aboveHightWaterMark() to disable read, otherwise the filter is waiting for more data, but read is disabled, not more data coming, the data flow will pause.

Hi @lizan what do you t

[2020-09-21 23:23] dmitri-d commented on #11477
I'm picking this up as @wgallagher is unable to continue working on this. @fredlas & @rgs1 is there a way to reproduce the issue you were seeing in https://github.com/envoyproxy/envoy/pull/8974?

[2020-09-21 23:46] nareddyt commented on #13207
For reference, the current problem I'm seeing is that when a response from the upstream exceeds the buffer limit, the gRPC Transcoder does not seem to handle it. It does not transcode this to JSON, which results in a 200 OK and an empty body to the client. Here are some relevant Envoy logs.

[code]

[2020-09-21 23:50] wlhee commented on #13185
Thanks Alyssa, a custom plugin sounds awesome! How would we move forward to adding a plugin? I could help contributing if you could share some pointers with me.

[2020-09-21 23:55] yanavlasov commented on #13209
@snowp for any more comments.

[2020-09-22 00:11] yanavlasov commented on #13207
Given its `unknown` security_posture, it is probably ok. However it will need to change if this filter's security posture is to be upgraded. I also think @antoniovicente was looking into this as well.

[2020-09-22 00:18] htuch commented on #13181
Always a fan of moving bits of admin to RPC, but I think you've pointed out in the past that there is a significant class of users that wants a simple curl interface? Are you thinking we might have some way to still curl the CSDS output through admin?

[2020-09-22 00:22] htuch commented on #13206
I think in maintenance mode it does show up, but just as dropped requests.

[2020-09-22 00:23] yanavlasov commented on #13194
Did you follow this process to set-up your build environment? https://github.com/envoyproxy/envoy/blob/master/bazel/README.md#windows

@envoyproxy/windows-dev

[2020-09-22 00:28] yanavlasov commented on #13191
@PiotrSikora may be can suggest further steps

[2020-09-22 00:32] yanavlasov commented on #13189
Don't we already subscribe to write ready events when we have data to write?

[2020-09-22 01:01] #13079 closed

[2020-09-22 01:02] rgs1 commented on #11477
@dmitri-d it's been too long and even back then we couldn't get a repro. I am however happy to give a rebased branch a spin and see how it goes. The breakage was deterministic and quick.

[2020-09-22 01:19] davinci26 commented on #13189
I missed a **only** in my initial post (I will edit for clarity).

The high level concept is to optimize the time that we are subscribed to write-ready events. The idea is to **only** listen for write ready events on specific conditions Like when the previous write call to the socket got blocked or when we have data to the buffer.

[2020-09-22 01:34] #10048 closed

[2020-09-22 02:30] hobbytp commented on #9300
cc @PiotrSikora @mattklein123 @lizan @derekargueta

I tried to test sidecar/envoyproxy(1.15) in istio1.7 as client (istio sleep + sidecar ) with TLS1.3 (configured by envoy filter) for TLS origination (configure ServiceEntry and DestinationRule) to connect to some http2/TLS1.3 servers, and it can work as below.
Do you know why it can work for this issue, or any thing I missed?

1. www.google.com,

[2020-09-22 02:40] mattklein123 commented on #13189
Don't you have the same problem with read events when we don't consume the entire read buffer?

[2020-09-22 02:42] mattklein123 commented on #13181
I'm suggesting some sharing of protos at minimum, and possibly yes supporting a REST fetch of the API (which is easily supported with gRPC unary requests).

[2020-09-22 02:57] antoniovicente commented on #13189
In the current implementation, the call to readDisable(true) when above high watermark (or after we have a full H1 request message) removes read from the fd registration mask, so we already avoid having spurious read upcalls.

Of course there's this change I want to make once we have benchmarks that measure impact. The removal of spurious changes to the fd registraion mask should provide performan

[2020-09-22 03:05] hdacer opened #13211 "Discussion: Envoy filter callbacks optimize"
Recently, I found a problem and wondered whether it can be optimized, below is the example code currently:

![image](https://user-images.githubusercontent.com/16503505/93840961-c1986100-fcc4-11ea-839c-36f1197a8470.png)
// currently, all filter implementations are created like this.

![image](https://user-images.githubusercontent.com/16503505/93840844-61092400-fcc4-11ea-9eb1-ad366fa45ed1.png)

[2020-09-22 04:04] jplevyak commented on #13180
Here is another example:

2020-09-22T01:56:45.1443471Z test/common/network/connection_impl_test.cc:116:31: runtime error: constructor call on address 0x61a000007140 with insufficient space for an object of type 'Envoy::Network::ClientConnection'
2020-09-22T01:56:45.1444340Z 0x61a000007140: note: pointer points here
2020-09-22T01:56:45.1444741Z  00 00 00 00  be be be be be be be be  be be be be be

[2020-09-22 04:04] mattklein123 commented on #13189
Ah OK, cool. I had assumed we already did that. :)

[2020-09-22 05:59] #5998 closed

[2020-09-22 06:11] jplevyak opened #13212 "Out of disk space on Azure Pipeline"
##[error]Unhandled exception. System.IO.IOException: No space left on device
   at System.IO.FileStream.WriteNative(ReadOnlySpan`1 source)
   at System.IO.FileStream.FlushWriteBuffer()
   at System.IO.FileStream.Flush(Boolean flushToDisk)
   at System.IO.StreamWriter.Flush(Boolean flushStream, Boolean flushEncoder)
   at System.Diagnostics.TextWriterTraceListener.Flush()
   at System.Diagnostics.T

[2020-09-22 07:37] rojkov commented on #8448
Yes, I'll take a look. Perhaps there's a way to avoid double buffering.

[2020-09-22 08:22] phlax opened #13213 "Add Sphinx tab renderer to documentation"
## Description

Where docs diverge - eg:

- instructions for different platforms
- providing configs in different formats
- code snippets for different languages

...it would be really useful to have tab rendering

## refs

- https://github.com/envoyproxy/envoy/issues/13190#issuecomment-695199756
- https://github.com/executablebooks/sphinx-tabs

[2020-09-22 08:23] phlax commented on #13190
@davinci26 i separated the sphinx/tabs bit  out to a separate ticket - not sure if you want to take that one too - i figured we can land that quicker

[2020-09-22 08:56] kkHAIKE commented on #10422
same issus after https://github.com/envoyproxy/envoy/pull/13066

[2020-09-22 14:23] htuch commented on #10815
Reopening this as we want to increase verbosity when upgrading v2 filter configs inside a v3 envelope resource.

[2020-09-22 14:23] yuval-k commented on #13174
@mattklein123 Any objections to optional default no-op callback?
Assuming we are all in agreement I can open a PR later today.|

[2020-09-22 14:30] snowp commented on #13209
I haven't looked at this code that closely, but could we post the removals to the main thread instead of requiring locking? I think that would align better with Envoy's threading model

[2020-09-22 14:36] yanavlasov commented on #13211
This will only work if a filter does not have per connection or per request (depending on filter type) state. The CORS filter you are referencing is an HTTP filter and it does have a per request state (i.e. `origin_`) so the approach you are suggesting will not work.
If you are building your own filter and you know that it does not have per connection or per request state you can use a shared filt

[2020-09-22 14:43] mattklein123 commented on #13174
SGTM! Please also add good docs to the rest of the functions in filter.h so it's clear to the next person what the expectations are. Thank you!

[2020-09-22 14:47] #9822 closed

[2020-09-22 14:52] klarose commented on #9822
@dio Awesome, thanks for doing this!

Are you still thinking of adding per-route settings? What do you think about having the settings depend on the content-type header as well (for endpoints that may support mixed content)?

[2020-09-22 14:53] sunjayBhatia commented on #13194
@WestEnlarged @rtttech you will have to Python is installed and on the PATH as described in the linked docs

I would also suggest supplying a target to `bazel build` e.g. `bazel build //source/exe:envoy-static` to build the server binary

[2020-09-22 14:55] mattklein123 commented on #9822
We took out per-route overrides. I can't see any utility in this. You can always send raw_bytes, right?

[2020-09-22 15:10] klarose commented on #9822
I guess it could help to offload some decision making from the authz service -- i.e. it can make assumptions about the encoding, but perhaps that's not a big deal after all.

Now that I think about it, I'm actually more interested in disabling sending the body based on the content-type. E.g. we have some apis that accept binary data (file uploads, for example), and we really don't want to stream u

[2020-09-22 15:30] PiotrSikora commented on #9300
TLS 1.3 works fine, but it's not enabled by default, because there are some edge cases around retries (e.g. when using client certificates), that are not currently handled by Envoy.

[2020-09-22 16:11] WestEnlarged commented on #13194
@yanavlasov  thank you, i forget the
`mklink %USERPROFILE%\Python38\python3.exe %USERPROFILE%\Python38\python.exe`

the problem has been solved. but the build still failed.   It seems MSVS not support the option '-Zc:__cplusplus' , not sure.

![image](https://user-images.githubusercontent.com/28502860/93904935-f7713000-fd2c-11ea-8ddb-83138ed5a803.png)

i was very confused!  then i remove this opti

[2020-09-22 16:15] lambdai commented on #13209
True from convention. However, `post` implicitly locks. Unless there is a long racing period which may block the worker threads acquiring `mutex of the list`, the per-list-mutex should more efficient.
Another question of migrate to `post` is: is the list-removal code designed for async execution?

[code]

[2020-09-22 16:15] sunjayBhatia commented on #13194
@WestEnlarged what version of the Windows SDK are you on? You will need a version of Windows that is recent enough to include support for Unix Domain Sockets and an SDK that contains that header, we have tested only with VS 2019 and the associated VS Build Tools standalone installs

[2020-09-22 16:21] snowp commented on #13209
I'm not particularly concerned about lock contention here (should I be?), but rather about introducing thread awareness to more data structures. Maybe @mattklein123 has thoughts here?

As for whether async removal would work that would likely require some code inspection to better understand.

[2020-09-22 16:24] shane-yuan commented on #3404
I get the following error when building with the latest SHA (without any local change) via `IMAGE_NAME=envoyproxy/envoy-build-ubuntu ./ci/run_envoy_docker.sh 'BAZEL_BUILD_EXTRA_OPTIONS=--define=boringssl=fips ./ci/do_ci.sh bazel.release.server_only'`. Is it a known issue?

[code]

[2020-09-22 16:34] mattklein123 commented on #9822
I think ^ is a different feature request. Can you open a new issue on that?

[2020-09-22 16:56] PiotrSikora commented on #13191
10054 is `WSAECONNRESET` (Connection reset), which means that the connection with unread data was closed, so it appears that the ordering of network events is different in the underlying TCP stack, and on Windows `read()` reports connection closed before the SSL/TLS alert can be read from the wire.

However, TLS implements graceful shutdown via `close_notify` alerts, so this shouldn't be happening

[2020-09-22 17:12] davinci26 commented on #13191
Here is the wireshark packet dump from the handshake on Windows:
![image](https://user-images.githubusercontent.com/32749078/93914827-f05e0980-fcbb-11ea-8e6a-c174f6ac4492.png)

I haven't tried it in production but I can also verify that the same behavior happens on the grpc tests that use SSL when the client certificate is invalid.

[2020-09-22 17:14] davinci26 commented on #13190
I dont mind taking that as well. I plan on building the documentation and starting to get familiar with it today so I can add the `sphnix-tabs` as an exercise to get myself familiar with the tech stack.

[2020-09-22 17:25] tinder-jonathanmayehobbs commented on #8440
also experiencing this bug in v1.15

[2020-09-22 17:33] rebello95 commented on #13154
Needs https://github.com/abseil/abseil-cpp/issues/787 in abseil

[2020-09-22 17:34] mattklein123 commented on #13154
cc @yanavlasov ^ who is tracking other compile issues internally with the abseil team.

[2020-09-22 17:39] mattklein123 commented on #13209
Sorry I'm not fully groking the problem. Can you add more detail to this issue on what the issue is including maybe a crashing stack trace?

[2020-09-22 18:12] lambdai commented on #13209
The initial reported crash thread and the investigation here: https://github.com/istio/istio/issues/25909#issuecomment-696383529

[2020-09-22 18:27] mattklein123 commented on #13209
I read that comment and it's still not clear to me. In the interest of time can we just reproduce here very clearly what the race is with call stack if possible? Thanks.

[2020-09-22 18:39] incfly commented on #13209
Reproducing requires to have a setup, where an envoy instance(ingressgateway in original case) has large number of dynamic clusters, and those clusters are using TLS socket.

Then we constantly send the traffic to this envoy instance. Meanwhile, we  remove the dynamic clusters using some script automation.

Keep running setup as above for couple of hours, we can reliably get segfault with stacktra

[2020-09-22 20:00] yangminzhu commented on #13100
@mandarjog suggested that we can just add a general `RESPONDED_BY_FILTER` flag, and then deprecate the other `response_from_cache_filter`, I feel this seems a better solution, it can be used together with `RESPONSE_CODE_DETAIL` to learn more details if needed. (https://github.com/envoyproxy/envoy/pull/12912#discussion_r490613876)

@mattklein123 @alyssawilk @htuch what do you think?

[2020-09-22 20:15] chintan-mishra opened #13221 "Invalid path for TLS certificates but certificates accessible to envoy user within the container"
*Title*: *TLS certificates provided by LetsEncrypt when used in envoy.yaml config throw error showing `invalid path`*

*Description*:
TLS certificates available to envoy user are not found while starting Envoy using Podman on Fedora 32. The container is started using the command below.
[code]
The container cannot find the TLS certificates and returns the following error:

[code]
These files are pr

[2020-09-22 20:40] mattklein123 commented on #13209
I'm sorry to keep saying this, but I don't have the bandwidth to re-debug the above issue, and then understand the follow up conversation above. Can someone briefly summarize the actual race condition (with links to code if possible) and then explain what structural improvement your are discussing? Thank you!

[2020-09-22 20:42] pat70 commented on #1109
https://github.com/foreversd/forever/issues/106#issuecomment-71555960
"
So, in case of create logrotate option - forever proceeds to write to rotated log file instead of main one.
If copytruncate option set - forever write to main log file, but it's not wiped when rotated and logs keep accumulate.

Does someone have a solution?
"

[2020-09-22 20:42] mattklein123 commented on #13100
This sounds reasonable to me. If we do this we should do this structurally so it's impossible to send a local reply without this getting set (optimally it would be set by the filter manager on behalf of the filter calling send local reply).

[2020-09-22 21:05] #10776 closed

[2020-09-22 22:34] davinci26 commented on #13213
@phlax do you have any place in mind in the docs that we could use it today?

I can add it as an example usage in my PR.

[2020-09-22 23:01] jingwei99 commented on #12740
I am running the same issue, and the fix from #12743 works for me, it'll be great for it to have it merged 🙌

[2020-09-22 23:42] snowp commented on #13209
My understanding is that the claim is that is that the TLS cluster (or actually the ClusterInfoImpl based on the stack posted?) creates/deletes a callback via the CallbackManager for SdsApi which is owned by the main thread, and since there is no locking this causes a data race leading to the crash.

My push back was around adding locking to new data structures vs trying to make the operations ali

[2020-09-23 00:25] dio commented on #11439
@cthumuluru do you have something on this already? WIP or anything? I can assign this issue to you.

[2020-09-23 00:35] htuch commented on #10943
https://github.com/envoyproxy/envoy/pull/10964 did not fully resolve https://github.com/envoyproxy/envoy/issues/10815, since it didn't capture the following cases of v2 xDS use:
* AUTO (default) transport version.
* V2/AUTO (default) resource version.
* v2 bootstrap
* Extension/filter configs with v2 type URLs

[2020-09-23 02:17] cetanu opened #13226 "Question: how to use multiple TLS certificates (ECDSA/RSA) in conjunction with SDS?"
I have a transport socket that uses SDS to retrieve it's TLS certificate

If I return 2 TLS certificates in the SDS response (one being ECDSA, the other being RSA) envoy fails to load the config with the error:

**Example**

[code]

Alternatively, if I specify a second item in `tls_certificate_sds_secret_configs`, envoy responds with a similar error

**Example**

[code]

Is there a way to do this

[2020-09-23 02:22] wrowe commented on #10422
See the same, specific details I encountered with ubuntu 18.04 GCC as documented in this comment; https://github.com/envoyproxy/envoy/pull/12898#issuecomment-696914168

[2020-09-23 05:16] phlax commented on #13213
i had a look through the docs - there are places where we could use this, but i dont see any where we could use it without changing quite a bit of docs.

One example would be the clone instructions in the sandbox examples - this could be split between ssh/https - but im also wondering if we should put the example headers to an rst include - so its probs out of scope of this ticket.

i also have an

[2020-09-23 06:32] phlax commented on #13058
this was partially fixed in #13202

[2020-09-23 06:44] #13211 closed

[2020-09-23 07:06] hdacer commented on #13211
Yes, as you mentioned, we are building our own filter without per connection or per request state.

We refer to the existing filter framework and found that all current filters are designed in this way, so we doubt if there is any reason behind it.

[2020-09-23 07:17] irozzo-1A commented on #11308
Probably I will be able to start working on this during this we.

Yesterday I tried to simply remove those lines:
https://github.com/envoyproxy/envoy/blob/c4a1d125a15524b507a0c07586a1784cf52c8f1e/source/common/tcp_proxy/tcp_proxy.cc#L459-L463
and I was happily surprised to see that the HTTP/1.1 tunneling seemed to work out of the box. I did a manual test terminating the CONNECT with squid proxy an

[2020-09-23 07:54] guoruijing opened #13227 "envoy build in ubuntu and need some help"
I failed to build envoy in ubuntu:

1) ubuntu 18.04
   a) container build: ./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.release'
     still in trying

   b) bare metal build: bazel build  //source/exe:envoy-static
   Hit issue https://github.com/envoyproxy/envoy/issues/13079

2) ubuntu 20.04

    a) container build: ./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.release'

FAILED: Build did NOT com

[2020-09-23 08:02] phlax opened #13228 "Update shellcheck in CI"
## description

Currently we use the `shellcheck` (v 0.4.6-1) provided by Ubuntu `bionic` in  CI.

This is quite out of date - shellcheck has improved with each version, and its different to the versions found at least on ~recent linux desktops (not sure about mac/windows ?)

As #13106 lands all of the code will be brought under shellcheck coverage, and already some changes have landed which would

[2020-09-23 08:07] amukherj1 commented on #3817
Given that this change #4791 was merged way back, should this issue still be open?

[2020-09-23 08:07] wbpcode commented on #12968
Use different filter configs for different requests in same route entry is a function that we've been hoping for for a long time.
We have a ugly implementation in our own Envoy branch. We just add a 'filters_config_switch_key' in HCM and compute a switch key by the config and incoming request.
Then we get per filter config from 'typed_per_filter_config' map by filter name and this switch key. This

[2020-09-23 08:07] amukherj1 commented on #3817
Given that this change #4791 was merged way back, should this issue still be open? @PiotrSikora @mattklein123

[2020-09-23 08:23] dio commented on #13227
@guoruijing, try this: https://gist.github.com/dio/9a7c826a2dbf004a81112db0d167d209?

[2020-09-23 08:26] musaprg commented on #12767
Hi @yozaam! Have you already started to work on this?
I also got an interest in this feature request, so if you haven't, I would like to take it. (never mind if you have:+1:)

[2020-09-23 08:28] yozaam commented on #12767
Hey @musaprg go ahead :D

[2020-09-23 09:14] phlax commented on #11068
@mattklein123 i can take a look at this

[2020-09-23 09:20] phlax commented on #8837
i think this could be resolved as part of the work on the vscode plugin #13078

in terms of CI a sphinx plugin would be good - esp from pov of doc development

there might be other ways we could do something more quickly - eg pushing the snippets into include files - which would probably make code snippets in the docs easier to lint more generally,  not just config snippets

[2020-09-23 09:30] Bibob7 commented on #7986
I solved it by passing the set-cookie header to the upstream and applied a second lua filter that copies the set-cookie request header to the response. This is also a workaround, but at least, it works:

[code]

[2020-09-23 09:40] phlax opened #13229 "Make it easier to build docs"
## description

The current documentation for building the docs (https://github.com/envoyproxy/envoy/blob/master/docs/README.md) tell you to run:

[code]

I guess this works if you have a local dev environment - but quite a few thing are needed - so it doesnt work out of the box at least on a minimal linux install.

It seems you can build docs reliably like this with `docker`:

[code]
The main pro

[2020-09-23 09:45] phlax commented on #13213
ref: #13229

@davinci26 ^^

[2020-09-23 09:45] phlax commented on #13190
ref: #13229

[2020-09-23 10:05] phlax commented on #13078
It seems like there are a couple of different types of plugin we could create here - using kubernetes as a good example facing a similar set of problems...

## Simple code validation

This is definitely the easiest - and probably the most useful. It would provide auto-completion too

The https://github.com/redhat-developer/vscode-yaml plugin provides this i think (for some reason ive  struggled to

[2020-09-23 11:01] PiotrSikora commented on #3817
This should be closed, thanks @amukherj1!

Fixed via #4791.

[2020-09-23 11:01] #3817 closed

[2020-09-23 11:32] amukherj1 commented on #3817
One minor point in addition is that the documentation at https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/ssl states:

    Session resumption: Server connections support resuming previous sessions via TLS session tickets (see RFC 5077).
    Resumption can be performed across hot restarts and between parallel Envoy instances (typically useful in a front proxy configuration).

[2020-09-23 12:11] snowp commented on #12968
To update everyone on the current plan here: we're looking at splitting this proposal into a generic matching API proposal (#5569) and a dynamic filter creation proposal.

The dynamic creation or changing filter config doesn't have a dependency on the matching API, so it makes sense to split these up. This would also open up for arbitrary filters to do this without relying on the matching API.

[2020-09-23 13:12] #4317 closed

[2020-09-23 13:22] phlax commented on #13213
@davinci26 i added #13230 which once landed will make it easy to update this example, ie

split https://github.com/envoyproxy/envoy/pull/13230/files#diff-ba8b9695d4b21caa10303d3c9be7aa9dR9 between `ssh`/`https`

[2020-09-23 13:24] ovk commented on #6009
Any plans on implementing this?

[2020-09-23 13:25] alyssawilk commented on #11308
Sweet, I was hoping it would be pretty simple!

This is one of the cases where we just want to be really careful about the details.
Offhand I expected tunneling to mostly work but we'll definitely want to
1) change HttpUpstream::setRequestEncoder to not send host/scheme/path for HTTP/1.1, but send
CONNECT [hostname]
which I think can be done setting {Http::Headers::get().Path, hostname} if the con

[2020-09-23 13:34] alyssawilk commented on #13185
Unfortunately it's not quite as simple as adding a plug-in, I think first we'd need to make tcp pluggable.
@lambdai had started looking into that but is now focused on the in-memory proxying, but might be able to catch you up.  Basically we'd want to refactor source/common/tcp_proxy/upstream.* (in place) to mimic the HTTP GenericConnectionPool and GenericUpstream, then add config to make it plugga

[2020-09-23 13:39] snowp commented on #12960
I've been able to reproduce this only when running `bazel test -c dbg //test/extensions/filters/http/oauth2:oauth_integration_test --runs_per_test=1000`, it does not seem to reproduce under gdb or with ASAN for me, which makes it pretty hard to debug.

[2020-09-23 13:44] yanavlasov commented on #13209
Something like this should be possible to recreate with an integration test under tsan.

[2020-09-23 14:56] grzegorz-mirek commented on #11308
@irozzo-1A, I also played with that change and manually tested some scenarios with different proxies that support CONNECT over HTTP/1.1 only. The only issue I found so far is in this scenario (though I'm not fully sure it's related to HTTP/1.1):

[code]

Specifying `:443` in `tunneling_config` doesn't help - the upstream proxy tunnels plain HTTP (`http://hostname:443`) instead of `https://hostname

[2020-09-23 15:06] htuch commented on #13100
SGTM

[2020-09-23 15:13] irozzo-1A commented on #11308
@grzegorz-mirek Thx for the info!

From my current understanding I think this cannot be achieved without the two stages, but my opinion is not authoritative ;-)

[2020-09-23 15:14] phlax opened #13232 "Add a welcome message/ DCO nag from the repo bot to new contributors"
## Description

First time contributors often havent added DCO - when reviewers point  this out it can be misunderstood as a criticism or as a review of the PR.

If the repo bot automatically posted a message saying something like "welcome @newcontributor - please read contributing guidelines if you havent already..." - it could also nag about DCO if that hasnt been added already

not sure if this

[2020-09-23 15:25] alyssawilk commented on #11308
It depends - if you want to do L7 routing and encapsulate in L4 connect you do the double pass through Envoy.  If you just want to take incoming traffic (HTTP or otherwise) and wrap it in CONNECT you only need the one pass.

[2020-09-23 15:41] phlax opened #13233 "Add an `envoylint` tool"
If we create jsonschema for validating envoy yaml/json config files (see #13078 ) we can re-use the schema for a `cli` linter - which could eg be used to validate snippets in docs etc (see #8837 and #13231)

im thinking this could also have wider use - for deployments or eg in gitops CI for end users

*Description*:

would be used.

[optional *Relevant Links*:]

[2020-09-23 15:58] antoniovicente commented on #12304
Sent out a PR with tests that repo the timeout while processing the last SSL record issue and changes to SslSocket to ensure that that bytes in internal buffers are drained out before returning from doRead.

Sorry for the delays, too many other things to pay attention to.  Hopefully this fix will be merged in time for 1.16, and backported to earlier releases if appropriate.

[2020-09-23 16:07] irozzo-1A commented on #11308
Ok, my understanding was good I think.

@grzegorz-mirek, in the scenario you depicted you don't just want to tunnel your incoming plain HTTP traffic with HTTP/1.1 CONNECT, but also using TLS with the end destination (not the upstream proxy). Did I get it right?

[2020-09-23 16:25] #12873 closed

[2020-09-23 17:13] antoniovicente commented on #13207
It would be good to change posture from unknown to requiring trusted downstream and upstream for clarity.

[2020-09-23 17:22] mattklein123 commented on #8837
@phlax sorry this should have been updated. Substantial work on this has already been done on this by @dmitri-d. See https://github.com/envoyproxy/envoy/pull/11394 and https://github.com/envoyproxy/envoy/tree/master/tools/config_validation.

This issue is now tracking trying to get more things to be validated and improving the tooling as needed.

[2020-09-23 17:23] mattklein123 commented on #13229
Agreed I've heard multiple complaints around this. Anything we can do to make this faster and easier would be appreciated.

cc @htuch also who may have ideas of how we can improve the docs build speed, especially once we get rid of v2.

[2020-09-23 17:26] mattklein123 commented on #13078
@phlax IMO we should focus on the simple code validation effort first. I think this would be the biggest bang for our buck. Note also that we have various plans around an Envoy UI built into Clutch (https://github.com/lyft/clutch), which is somewhat related to this effort. cc @dschaller you might want to sync up with @phlax who is going to be contracting with us for a bit to help improve a bunch o

[2020-09-23 17:30] mattklein123 commented on #13232
Agreed this would be neat. cc @itayd for thoughts on how to do this with RepoKitteh

[2020-09-23 17:32] mattklein123 commented on #13233
@phlax see prior art here in our various config tooling: https://github.com/envoyproxy/envoy/tree/master/test/tools and https://www.envoyproxy.io/docs/envoy/latest/install/tools/tools. See also related tickets here: https://github.com/envoyproxy/envoy/issues?q=is%3Aopen+is%3Aissue+label%3Aarea%2Froute_check_tool.

It would be great to unify all of these efforts where possible.

[2020-09-23 17:37] phlax commented on #13233
yep

the config load tool does a bit more than static analysis so i think we would want to at least retain that functionality

[2020-09-23 17:52] itayd commented on #13232
can you define explicitly what needs to be done here?
when would the message be emitted? only for first time contributors? every pr?

[2020-09-23 17:59] 7hacker opened #13237 "TLS-PSK"
*Title*: Add TLS-PSK to Envoy

*Description*:
Envoy can be used as a TLS proxy for unsecure services, however currently supports TLS cert-based auth. TLS-PSK is a faster alternative that can be used for services running on low latency, low powered resources

[2020-09-23 18:03] phlax commented on #13232
the welcome message would be for first time contributors (i guess if they havent opened a PR before too ?)

for the DCO nag - i guess either whenever DCO will fail (need to look to see if this checks PR or commits...) or at least when a PR was opened and DCO would fail

[2020-09-23 19:15] tariq1890 opened #13240 "Envoy proxy not working for HTTP/1.1 requests which are multi-part form uploads"
*Description*:

We are facing issues when two services (which are sidecar'ed with envoy proxies) communicate over HTTP and attempt a multi-part POST requests. Please note that other POST and GET requests work fine with no issues.

We get the generic envoy 503 error: `upstream connect error or disconnect/reset before headers`. I am unable to understand what exactly went wrong from this error.

Thes

[2020-09-23 19:16] tariq1890 commented on #13240
Please refer to this link for debug logs: https://github.com/istio/istio/issues/27423#issuecomment-696363395

[2020-09-23 19:33] phlax commented on #13232
thinking more about this - i think if any *commits* are missing DCO would probs be the rule to trigger

[2020-09-23 19:43] hakuno opened #13241 "event_log_path has permission error on 1.15"
This problem has more than 1 month.

I can't use `event_log_path` to write into `/var/log/active.log` on `envoyproxy/envoy-alpine:v1.15-latest` image.

But I can do in `envoyproxy/envoy-alpine:v1.14-latest` image as always.

The `envoyproxy/envoy-alpine:v1.15-latest` image exits container with code error `1`.

[code]

I don't understand what the heck it got some CHMOD/CHOWN error in the next versi

[2020-09-23 20:21] mattklein123 commented on #13209
OK thanks this makes more sense.

This can definitely happen. We lock/store the ClusterInfo as a shared_ptr in a large number of contexts, and it can definitely get deleted on a worker thread. Historically, everything inside ClusterInfo is stateless and should be safe to delete in this fashion.

Given ^, if we are violating this somewhere within ClusterInfoImpl we should either fix it with locking

[2020-09-23 20:23] mattklein123 commented on #12968
@snowp per my comments in the doc, can we do a revamped proposal that covers the new plan (part HCM, part wrapper filter)? I think it will be easier to sort through.

The other major missing piece is the final form of the matcher config. I think the existing matcher we have is very powerful but not easily scalable (this has been mentioned elsewhere). This is a great opportunity to design a tree/tr

[2020-09-23 20:44] akonradi opened #13243 "Expose RandomGenerator via Api interface"
This is a feature request and, if approved, tracking issue for the necessary changes.

There are several components that make use of random values, which requires plumbing references to `Envoy::Random::RandomGenerator` down from the top level `Server` class to the consumer locations. In order to implement parts of #13110, references to RandomGenerator have to be made available further and further

[2020-09-23 20:44] phlax commented on #13229
a related thought i have been having is that we could make it so that ci pushes the build docs to eg a gh-pages repo for each PR - so contributors/reviewers can see rendered changes

im happy to follow up on this ticket

[2020-09-23 20:45] mattklein123 commented on #13229
This is already done. See the artifacts tab inside the circle ci docs job.

[2020-09-23 20:46] phlax commented on #13229
k - ill take a look - and add any relevant docs that might make it more obvious on where to look

[2020-09-23 20:52] mattklein123 commented on #13229
Awesome thank you.

[2020-09-23 21:13] mattklein123 commented on #13243
+1 sgtm!

[2020-09-23 21:16] lambdai opened #13244 "Discussion: SSL info: extending subjectPeerCertificate RFC 2253"
Background

SSL info is deserialized from x509 to string and the potential consumers are XFCC header and access log.

Envoy deserialize cert subject following the RFC2253
[code]

RFC2253 explicitly mentioned that if the key is not well-known, the value's string representation is `BER encoding of an OCTET STRING`.

[code]

The OCTET STRING is not very user-friendly in access log. `#04024869` is pri

[2020-09-23 21:17] incfly commented on #13209
I have updated the description of the issue, this should now include all the details in one place.

That part I'm not sure, unfamliar with primary cluster & envoy internals, but the ASAN part does print different thread id, as you can see in the description. I assume maybe T0 thread is the main thread?

[2020-09-23 21:46] Chuongv opened #13246 "no_traffic_edge_interval"
# Feature request for no_traffic_edge_interval

## Description:

We have a setup where we have two envoys pointing to the same cluster. At the moment we have traffic routing to only one of the envoy instances. What is problematic is that we have `no_traffic_interval` set to 100ms. Which is great when we only have one envoy instance, since when a cluster is first up, we want to check to ensure it i

[2020-09-23 22:16] phlax commented on #13229
@dio (or others) would you mind assigning this ticket to me

[2020-09-23 22:31] htuch commented on #13243
Yeah, I was +1 offline, API == platform, RandomGenerator is platform.

[2020-09-23 22:34] #12740 closed

[2020-09-23 22:45] htuch commented on #13229
I think docs build has some overhead from the proto builds for the API docs via protodoc etc. (which are still there when we get rid of v2, but maybe 2x speed), and then there are two interesting bottlenecks to optimize:
1. The Sphinx build is Python and held hostage by GIL. There is Sphinx mode where it can try use threads or multiprocessing, but it requires all plugins to support this. Last time

[2020-09-24 00:00] yanavlasov commented on #13237
@PiotrSikora if you have any comments on supporting TLS-PSK

[2020-09-24 01:05] yanavlasov commented on #13246
I'm unsure why you think that longer `no_traffic_interval` would cause initial requests to be delayed. The first host check is sent immediately when a cluster is loaded. Yes, the requests may be queued until health check response comes back and cluster fully warms up, but this time is not affected by the `no_traffic_interval`. In fact the `no_traffic_interval` is used specifically to reduce the sp

[2020-09-24 01:08] yanavlasov commented on #13244
@PiotrSikora for any comments

[2020-09-24 01:12] yanavlasov commented on #13241
Could you run shell in the envoy container to see permissions for the /var/log/active.log?
@lizan maybe something has changed in the docker image?

[2020-09-24 01:25] yanavlasov commented on #13240
I have looked at the log and it seems the the upstream server has closed connection about 500ms after it was established and request was sent. You may want to look at the logs on the upstream service to see if there was a reason for closing the connection.

[code]

[2020-09-24 01:48] tariq1890 commented on #13240
Does Envoy enforce a 500ms timeout by default? The upstream service is known to take about 5000ms since this is a data upload.

When I look at the application logs, it does look like the request is received, but it eventually gets flooded with the same requests, because of envoy's retry policy and eventually returns a `503`

[2020-09-24 01:50] dio commented on #13241
@hakuno, this is related to the change introduced in #11323. I think you can either let the `envoy` user have access to `/var/log/` or, [as mentioned in the version history of v1.15.0](https://www.envoyproxy.io/docs/envoy/v1.15.0/version_history/current#minor-behavior-changes) set `ENVOY_UID=0` when running the container.

[2020-09-24 02:04] Chuongv commented on #13246
So my thinking is this.

1. Envoy starts Up
2. Envoy sends HC to Cluster
3. HC fails since the cluster is not up yet
4. Envoy will wait no_traffic_interval to HC
5. Cluster starts up
6. Request comes into Envoy but since the last HC has failed, we don't send the request and will have to wait for the `no_traffic_interval` to complete before running the next HC

Let me see if I can repro to make sur

[2020-09-24 03:05] tariq1890 commented on #13240
Would trace logs give us more info here? I usually shy away trace logs because it ends up emitting way too much info

[2020-09-24 03:18] pc-rshetty commented on #12970
We have a workaround by writing this envoy filter in istio

[code]

[2020-09-24 03:38] fengyinqiao commented on #12436
I have met the problem as you too.So,did you resolve it or find any workaround?

[2020-09-24 03:43] fengyinqiao opened #13249 "How to get Prometheus format for /cluster in administration interface"
*Title*: ***Prometheus format for /cluster in administration interface***

*Description*:

![](https://cdn.jsdelivr.net/gh/fengyinqiao/cloudimg/data/20200924114901.png)

![](https://cdn.jsdelivr.net/gh/fengyinqiao/cloudimg/data/20200924115001.png)

PS:I know "/stats/prometheus" can provide the prometheus format.

[optional *Relevant Links*:]

see https://github.com/envoyproxy/envoy/issues/12436

L

[2020-09-24 04:13] dio commented on #13249
Sorry, I confused a bit. What is stopping you to use `/stats/prometheus`?

[2020-09-24 04:21] fengyinqiao commented on #13249
I want the metrics of prometheus format on each upstream host, these are in /clusters not in /stats/prometheus.

[2020-09-24 06:20] itayd commented on #13232
@phlax i think it makes sense on every time DCO emits, we should add a message that:
1. explain nicely that we don't hate the contributor, it's just DCO
2. explain how to resolve the DCO issue

Re the welcome message, why not just point to it from a PR template? Add a link to a document welcoming people.

[2020-09-24 06:28] phlax commented on #13232
i was thinking this for a few reasons

- there are some links/messages in PR template already i think - but not everyone reads that properly
- in the case that DCO is missing, they will get a thankyou and welcome message first, so its less frightening
- makes it obvious to reviewers that its a new contrib

i think the DCO messaging is more important tho

[2020-09-24 07:53] phlax commented on #13232
...another reason...

if you create a new PR for the first time and it messages you immediately i think in most cases you will immediately receive an email with an `@contributor` message - and contrib guidelines etc

[2020-09-24 09:36] WestEnlarged commented on #13194
i installed vs2019 and using windows 10 sdk(10.0.19041.0).  Then i follow the instructions (`https://github.com/envoyproxy/envoy/blob/master/bazel/README.md#windows`) every step, but failed very sadless.
like this:
![image](https://user-images.githubusercontent.com/28502860/94127510-9c098400-fe8b-11ea-903b-c354c852e4b2.png)

maybe i shoud working without windows.   what environment are you using f

[2020-09-24 12:01] dio commented on #13249
Got it. So currently per upstream host stats is not included in `server_.stats()`,

https://github.com/envoyproxy/envoy/blob/07f7c59a4e0a8892a2e2fc3443b2ae47ccb33ff2/source/server/admin/stats_handler.cc#L148

but rather "generated" on-the-fly by (for JSON)

https://github.com/envoyproxy/envoy/blob/07f7c59a4e0a8892a2e2fc3443b2ae47ccb33ff2/source/server/admin/clusters_handler.cc#L72 or (for text) ht

[2020-09-24 12:14] jmarantz commented on #13249
I am guessing that the cardinality of hosts is so large in some cases, that we don't want to include all of the individual host stats in the main stats output, but require stats clients to request them explicitly. This design predates my involvement and I'm not inclined to change it as it might break current stats clients by overwhelming them with data.

[2020-09-24 12:25] dio commented on #13249
@jmarantz Got it. So seems like from https://github.com/envoyproxy/envoy/issues/12436 the request is to have, for example: `/clusters/prometheus` or `/clusters?format=prometheus`. I think it makes sense, and as you said it is up to the client to decide.

[2020-09-24 12:25] dio commented on #13249
I'm not sure if this is a good practice to have two different endpoints for prom. Seeking for opinion: cc. @rumanzo @liamawhite @mandarjog

[2020-09-24 12:30] jmarantz commented on #13249
RE scale, there was a talk at KubeCon 2019 by Splunk about stats cardinality blowing through hundreds of gigs of memory in Prometheus ([slides](https://static.sched.com/hosted_files/kccncna19/2c/great_cardinality_disasters_of_our_time.pdf)) and the source of the stats explosion was Envoy (via Istio). So we need to be a little careful about silently and significantly expanding the cardinality of pr

[2020-09-24 13:20] rumanzo commented on #12436
My colleague wrote a wrapper for sending to graphite.
see #13249

[2020-09-24 13:34] michalrubaj opened #13253 "Envoy Filter with a Lua script doesn't handle an external request."
I've got an Envoy Filter in which I add a header to every HTTP request. The header's value comes from an external API.

Let's assume two configurations of the envoy filter. In the configuration below I added a hardcoded version of my header.

[code]

Using this setup I am able to add a new header to my HTTP request. But now I want to have the header's value coming from my API. Unfortunately, this

[2020-09-24 14:00] phlax opened #13254 "Add jsonschema dump of API protocols"
## description

In order to create a `vscode` plugin (#13078) we need to dump the `protobuf` protocols to `jsonschema`

I have created a container for testing https://github.com/chrusty/protoc-gen-jsonschema - and have it installed and working there with the provided examples etc

Im not totally clear how/where to install this within bazel so it is available to `protoc` - and also how to trigger t

[2020-09-24 14:04] hakuno commented on #13241
Thank you both @yanavlasov @dio

Is it a breaking change actually?

As @dio said, there has 2 options that

I'd need to make a `Dockerfile` instead of `pull`ing a ready image from Docker Hub to give special user permissions inside.

Or...

Then I need to go with `ENVOY_UID=0` as its environment variable.

Okay, I will check it out later. Thanks again.

[2020-09-24 14:50] dio commented on #13241
I’m not sure if packaging the software is part of the breaking policy. https://github.com/envoyproxy/envoy/blob/master/CONTRIBUTING.md#breaking-change-policy

[2020-09-24 15:13] sunjayBhatia commented on #13191
I can get the tests involving invalid certs to pass by just placing a `shutdown()` before socket close in the connection_impl code, the theory about the alert not being sent to the client is correct and we have run into this issue in other places before

It seems that when there is an invalid cert, SSL_shutdown does not occur as the connection state is not marked as "in progress" or "complete"

th

[2020-09-24 15:23] eziskind opened #13255 "Add route evaluation statistics"
Add statistics for the number of route rule evaluations (broken down by rule type, ie. exact match, prefix, regex, etc) This could live under the HCM or router scope, eg.
http.<prefix>.rds.<route>.evaluations.prefix
http.<prefix>.rds.<route>.evaluations.exact
http.<prefix>.rds.<route>.evaluations.regex

[2020-09-24 15:24] eziskind commented on #13255
cc @htuch

[2020-09-24 15:25] mattklein123 commented on #13254
cc @htuch @lizan for bazel help.

[2020-09-24 15:34] grzegorz-mirek commented on #11308
@irozzo-1A, yes - that's true. Even without L7 routing (for now).

[2020-09-24 15:43] davinci26 commented on #13194
From the error message it looks like the 'ninja' is not in the path.

In my dev environment I have it separately installed and added on the path.

@sunjayBhatia does ninja come with VS build tools 2019 or does it have to be installed separately?

[2020-09-24 15:55] sunjayBhatia commented on #13194
Looks like theres also a path issue in the CMake output there as well: `D:\eb\execroot\envoy//D:/tools/...`

Ninja comes with VS Build Tools (it is a 32 bit exe so just be aware if you've disabled support for that), just needs to be on your PATH (you can also install it separately if you like but it needs to be on your PATH as described in the setup docs)

[2020-09-24 15:57] sunjayBhatia commented on #13194
I have recently been using a Windows Server 2019 host in GCP, doing builds in the `envoyproxy/envoy-build-windows2019` container image

[2020-09-24 16:13] WestEnlarged commented on #13194
yes, it is.  but i not know how to generated "crosstool_bazel.cmake", and i'm sure that i put ninja to the path.
it's msys2's convert path issue probably but i not know how to solve it.
On the bazel's doc, they recommend to use cmd or powershell, but envoy's build must need bash. It's confused.

![image](https://user-images.githubusercontent.com/28502860/94170506-bf035a80-fec2-11ea-9020-5005189ae5

[2020-09-24 16:27] mattklein123 commented on #13255
I don't have any high level objection to this, but I do want to try to think through what other stats we might want to add in the future, since route matching is very complicated and will only get more complicated in the future as we add sub-linear matching options (hash and trie matching prior to optional linear matching). cc @snowp who I have been recently discussing this with and is working on

[2020-09-24 16:28] sunjayBhatia commented on #13191
Working on a PR, there a couple other small issues in the test setup etc. but shouldn't be too hard to fix

[2020-09-24 17:50] Chuongv commented on #13246
Actually sorry that is an implementation filter on our end.

However I expected that without our filter, Envoy would either fail the request immediately or send a HC before sending off the first request if the cluster is marked unhealthy.

So perhaps i am misunderstanding the purpose of health checks.

Here is what happens.

1. Envoy Starts up
2. Envoy sends HC to cluster and fails

[code]
3. Envo

[2020-09-24 17:50] sanjaytiwari18 commented on #10942
Where I can find a POC for this topic ?

[2020-09-24 18:19] yanavlasov commented on #13253
@dio for any suggestions

[2020-09-24 19:31] ankatare opened #13259 "Build failed with Error : No space left on device"
*Title*: *No space left on device*

*Description*: Build failed with error message as Unhandled exception. System.IO.IOException: No space left on device at ...
                       and We stopped hearing from agent Azure Pipelines 26. Verify the agent machine is running and has a healthy
                        network connection

optional *Relevant Links : https://dev.azure.com/cncf/envoy/_bui

[2020-09-24 19:54] brectanus-sigsci opened #13260 "ext_authz gRPC with a request body may be called multiple times for the same request"
*Description*:

*Repro steps*:

*Config*:

*Logs*:

cc @gsagula @dio

[2020-09-24 20:29] htuch opened #13261 "Switch to zlib-ng by default, remove zlib"
It would be ideal not to be on the hook for maintaining two distinct zlib implementations as external deps. If zlib-ng is faster or directionally where we want to go, maybe we can switch to that as the default library. Then after a period of burn time we can delete zlib support.

[2020-09-24 20:30] htuch commented on #13261
@junr03 @rojkov

[2020-09-24 21:04] #13213 closed

[2020-09-24 21:48] mattklein123 commented on #13209
OK thanks for the extra diligence here. I understand the issue now.

So, yes, this is broken. In general I think we need to assume that ClusterInfo can get destroyed on any thread. This is by design and is required for access logging and a bunch of other things. It's snapped in a large number of worker contexts.

The fact that we have a giant chain in which the destruction of ClusterInfo can resul

[2020-09-24 22:37] dio commented on #13260
@brectanus-sigsci thanks for reporting. Will take a look.

[2020-09-24 22:41] mattklein123 commented on #13226
cc @lizan @PiotrSikora

[2020-09-24 22:44] mattklein123 commented on #13249
Yeah I think we definitely do not want to output host stats by default due to cardinality issues. Somehow having an option to do this whether on a different endpoint or the same one seems ok.

[2020-09-24 22:54] #13259 closed

[2020-09-25 00:28] htuch commented on #13254
I think you could structure this as a Bazel aspect, and then use an approach similar to https://github.com/envoyproxy/envoy/blob/51c1fa0dd03547c9253f0ae3ef0180349f6eda50/tools/api_proto_plugin/plugin.bzl#L78, we trigger this in places like https://github.com/envoyproxy/envoy/blob/51c1fa0dd03547c9253f0ae3ef0180349f6eda50/docs/build.sh#L87. Maybe easier to use something like https://github.com/stack

[2020-09-25 00:35] dio commented on #13253
@michalrubaj I'm not sure, but I have a simple repo to do similar things (using luasocket from luarocks and json.lua from https://raw.githubusercontent.com/rxi/json.lua/master/json.lua): https://github.com/dio/envoy-lua-test, as you can see https://github.com/dio/envoy-lua-test/blob/4314748f333eb3d37d94ad7867ef589c3d09952b/envoy.yaml#L43 sets the request header "foo".

[2020-09-25 01:41] mandarjog commented on #13249
Since /cluster has enumerated endpoints, it should surely not be by default.

I think we should add "format=Prometheus" to all /admin endpoints uniformly where it makes sense.

We have started scraping /memory endpoint recently in Istio.

[2020-09-25 02:23] sunjayBhatia commented on #13191
See https://github.com/envoyproxy/envoy/pull/13264

[2020-09-25 07:37] michalrubaj commented on #13253
@dio thanks for your insight. I'll have a look at your examples for sure. I tried to find the reason and I basically I was deleting a line after line of my Lua script to see where it crashes and it seems that the reason is a require keyword because I left my Lua as shown below and it didn't add authorization token to the request. Though I have installed that module to my Kubernetes cluster and I c

[2020-09-25 07:53] dio commented on #13253
@michalrubaj Seems like you need to check with the Istio side? I know the CRD name is [`EnvoyFilter`](https://istio.io/latest/docs/reference/config/networking/envoy-filter/) (people come to Envoy repo because of this very often 🙂), but that actually runs on [Istio proxy](https://github.com/istio/proxy), and I'm not sure if it is compiled with `--define exported_symbols=enabled` (as mentioned here:

[2020-09-25 09:19] phlax commented on #13233
after a little  more dev/research on this im wondering whether its possible/better to do this directly from protobuf - ie without the jsonschema step.

either way it would be good to publish the jsonschema to https://www.schemastore.org/json/ so existing jsonschema tooling beyond vscode can make use of it

[2020-09-25 09:50] RashmiRam opened #13267 "Fix sampling for child spans when using opencensus trace provider"
*Title*: Fix sampling for child spans when using Opencensus trace provider via https://github.com/envoyproxy/envoy/blob/v1.15.0/api/envoy/config/trace/v3/opencensus.proto

*Description*:
Opencensus trace provider honors envoy's trace sampling decision. But, there is an pending issue at their end https://github.com/census-instrumentation/opencensus-cpp/issues/294 where the child span will always be

[2020-09-25 11:52] phlax commented on #13254
so if i understand this correctly this would add constraints so eg:

if somewhere it specified a `tcp/ip` `port`, normally we would just be able to specify an `int` but with this we can ensure it was in the acceptable port range

[2020-09-25 12:05] phlax commented on #13078
cool, agreed.

on that basis, really its just a matter of creating the jsonschema i think, and perhaps posting (and maintaining) it on https://www.schemastore.org/json/

im wondering if we would need to create a `vsix` or post it on the vscode marketplace, or whether we just need to document how to use it with `vscode-yaml`

[2020-09-25 13:57] rojkov commented on #13261
Even though it's pretty solid in the zlib compatibility mode I'd wait a bit still before making it the default choice.

I checked https://github.com/zlib-ng/zlib-ng/issues/90 and https://github.com/zlib-ng/zlib-ng/issues/488 and it seems zlib-ng is very close to making its first stable release. We can do the switch as soon as zlib-ng is officially stable.

Then after having zlib removed we could r

[2020-09-25 14:00] dio commented on #13261
Just be careful that gRPC uses zlib as well.

[2020-09-25 14:08] phlax commented on #13232
I was thinking for messages...

### welcome

[code]
### DCO
[code]

[2020-09-25 15:00] htuch commented on #13255
Another complementary approach might be to make information available to access log sinks indicating which route rule was selected. This could take the form of a compressed list of integers representing the field selection as the route table was traversed, I'm thinking something like the way that comments are identified in Protobuf's SourceCodeInfo. Or it could be similar to a FieldMask.

This doe

[2020-09-25 15:10] sunjayBhatia opened #13272 "Windows CI: ./ci/run_envoy_docker.sh should allow users to override Docker options"
In https://github.com/envoyproxy/envoy/pull/13222 we collapse the original Windows specific script to run an Envoy build in Docker into the Linux one. We found that the CI pipelines pass a Linux specific value for `ENVOY_DOCKER_OPTIONS` which of course are invalid for Windows.

We would like to be able to use the same mechanism `ENVOY_DOCKER_OPTIONS` for overriding options in Docker on Windows (fo

[2020-09-25 15:18] markdroth commented on #12968
I am concerned that this may be tying the xDS API more closely to Envoy's architecture.  gRPC has started looking at how we can support HTTP filters in xDS, but it's difficult because the representation in the API does not match our interceptor architecture at all -- and in fact, one of the main mismatches is that we don't have an easy way for interceptors to affect the routing decision.  I fear t

[2020-09-25 15:39] snowp commented on #12968
@markdroth Part of the original motivation behind this proposal was precisely to not have to rely on the route configuration, but instead to perform stream matching that is independent of the route resolution as a way to configure filters. The best example in my mind is wanting to apply some specific configuration to all POST requests without having to add a new POST entry for every single routing

[2020-09-25 15:52] htuch commented on #13254
@phlax right; we already have these constraints in the API protos in PGV format.

[2020-09-25 16:00] snowp commented on #13246
Maybe I'm missing something but what is the purpose of health checking if you're just doing TCP health checks to one instance? Envoy will never delay a request based on upstream health (besides during retries, but that's a bit different), so checking to see if its accepting connections before trying to open a connection isn't really buying you anything

[2020-09-25 16:05] dio commented on #13254
Internally, we use https://github.com/pseudomuto/protoc-gen-doc since it can generate "IR" of a proto as *.json, so we can transform it into whatever we want (I think making a jsonschema with additional information from this *.json is not hard, but yeah integrating it with the current build system probably a challenge). As a bonus, it also spits out information if a field is annotated by PGV: http

[2020-09-25 16:13] mattklein123 commented on #13254
The one part of the JSON schema that I'm not sure how we are going to manage is all of the Any/typed_config stuff. Is this somehow possible within raw JSON schema or are we going to need something more complicated for vscode?

Basically, we want to know all of the built-in extensions and allow auto complete of typed_config, and then switch to the right schema for the sub-config.

[2020-09-25 16:17] phlax commented on #13254
its a while since i used it - but yep - i think it it has a `refs` system which iirc is for this kind of purpose.

if its not possible to do something directly with jsonschema i think we can mangle the output and typed_configs after

not sure enough yet how the protobuf to  jsonschema plugin works which i guess is the key question

likewise - i need to clarify how multiple schemas can be combined,

[2020-09-25 16:23] phlax commented on #13254
...in terms of vscode (as opposed to the typed_configs bit more generally) we have the kubernetes example in upstream, so that should be quite useful to template whats needed - i got it working today on my local install, which was nice

[2020-09-25 16:28] yanavlasov commented on #13240
I does not look like Envoy's timeout, since it is the remote (from Envoy's perspective) end that closed the connection. Are you suggesting to enable trace logging on Envoy? I doubt it would yield more information. I think the key piece is why the remove end had closed the connection.

[2020-09-25 17:20] kim-nguyenkhn commented on #6632
@mjduijn I'm facing the same problem, did you ever come to a resolution on this?

[2020-09-25 17:21] wrowe opened #13273 "msvc-cl test failures of test/extensions/quic_listeners/quiche"
*Title*: *msvc-cl test failures of test/extensions/quic_listeners/quiche*

*Description*:
The following two test failures occur on windows with the introduction of https://github.com/envoyproxy/envoy/pull/12898 to wire in the quiche component.

[code]

*Repro steps*:
Build CI pipeline after dropping "fails_on_windows" from test/extensions/quic_listeners/quiche/integration/BUILD

gathers a tarball

[2020-09-25 17:22] wrowe commented on #13273
Attn @ggreenway and @danzh2010

[2020-09-25 17:30] #8183 closed

[2020-09-25 17:49] Chuongv commented on #13246
Sorry I should have mentioned that we have a custom health check filter in our filter chain which is not illustrated in my previous post. It basically delays the filter until the cluster is healthy. Otherwise without the at filter, if there is no healthy host available, envoy will fail the request with 503 Service Unavailable.

So back to my original request, we want the tcp health check, however

[2020-09-25 17:55] snowp commented on #13246
Have you tried setting `reuse_connection` to true? That way instead of continuously reconnecting, it will open one connection and treat it as healthy while that connection remains open.

I'm not necessarily against adding more configuration options here, just want to make sure we've explored the options before adding more options to the API

[2020-09-25 18:19] sunjayBhatia commented on #13194
can you give us the output of your environment? Seems like some environment variable may be mangled

[2020-09-25 18:37] Chuongv commented on #13246
Oh I did not know we had that. Looking at the docs, this is enabled by `default`.

I tried enabling both true and false for that config and running my upstream cluster as the following

[code]
Which is netcat listening on port 8081 with verbose logging

When starting up envoy, I see this every `no_traffic_interval`

[code]

Envoy debug logs shows this

[code]

And it looks like it should be reusin

[2020-09-25 19:09] mattklein123 opened #13274 "http2: regression in DPE accounting when remote resets"
As of https://github.com/envoyproxy/envoy/pull/13052, and this diff specifically:

https://github.com/envoyproxy/envoy/pull/13052/files#diff-ed138bc8d20eee664368960ecfa29a73R930-R936

We are now setting response details for remote resets.

This causes this code to kick in:

https://github.com/envoyproxy/envoy/blob/c71ec2729cc3c0708223d303e0f24e3bf9a5d0eb/source/common/http/conn_manager_impl.cc#L14

[2020-09-25 19:09] mattklein123 commented on #13274
@alyssawilk would you mind fixing if you agree with the analysis? Thank you!

[2020-09-25 19:17] mattmoor commented on #12511
Hmm, I would love to see a fat released image here as well.

[2020-09-25 19:26] snowp commented on #13246
Are those logs with it enabled or not? I can imagine the upstream might be closing the connection due to idle timeouts, so that might be what's triggering the reconnects.

Seems like ideally we'll get persistent connections working, but if not then I think I would be more in favor of a "unhealthy interval" rather than trying to add variations to the no traffic one. I think that might be more usefu

[2020-09-25 20:31] sunjayBhatia commented on #13273
cc @envoyproxy/windows-dev

[2020-09-25 20:36] Chuongv commented on #13246
Yea those logs happen regardless if we reuse connections or not.

Yea I think with the persistent connection, that will be more ideal.

Yea for our use case, this would not work since we are using the higher frequency check to make sure our filter unblocks the request as soon as possible. And for our use case, we can't use the http health check.

So I dug around some more and I think this is inten

[2020-09-25 21:07] snowp opened #13278 "Split FM tests out of conn_manager_impl_test"
While the FilterManager code has been split out of the HCM, its still just being tested via the HCM tests. To reduce the size of the HCM tests and set the FM up for use cases outside the HCM, we should move tests that make sense into a FM specific set of tests.

[2020-09-25 21:59] davinci26 opened #13281 "Envoy Windows server code samples"
*Description*:

I would like to start working on examples (sandboxes) that run on Windows Server Container instead of Alpine Linux. I already got one working but I would like to get more samples to give a good onboarding experience for Windows users.

I have the following questions:

1. Where should the examples be placed. Should we have a separate folder for Windows samples or share between the f

[2020-09-25 21:59] davinci26 commented on #13281
@envoyproxy/windows-dev

[2020-09-25 22:35] PiotrSikora commented on #13226
I don't believe this is supported with SDS.

[2020-09-25 23:31] sunjayBhatia commented on #13281
Maybe we can use a single dockerfile with 2 different build stages? just be sure to only build the Linux stage on Linux and vice versa for Windows:
- https://docs.docker.com/develop/develop-images/multistage-build/
- https://docs.docker.com/compose/compose-file/#target

[2020-09-25 23:43] davinci26 commented on #13281
I think it is possible that someone might want to run the Linux samples on Windows. I think that should be possible although I haven't tried it out.

[2020-09-26 06:20] WestEnlarged commented on #13194
@sunjayBhatia  i'm using win10 professional(10.0.18362)

the environment variables：
`C:\Users\admin>env
!::=::\
!C:=C:\Users\admin
ALLUSERSPROFILE=C:\ProgramData
APPDATA=C:\Users\admin\AppData\Roaming
BAZEL_SH=D:\msys64\usr\bin\bash.exe
BAZEL_VC=D:\tools\VS2019\Community\VC
CLASSPATH=.;D:\tools\jdk\jdk1.8.0_161\lib\dt.jar;D:\tools\jdk\jdk1.8.0_161\lib\tools.jar;
COMMONPROGRAMFILES=C:\Program Files

[2020-09-26 07:26] phlax commented on #13281
could you post a WIP PR with the working example?

if we can review/update that one it could be a model for the rest

iiuc - yep - i think its likely

[2020-09-26 08:11] phlax commented on #13254
in terms of `typed_config` - this should be useful i think https://json-schema.org/understanding-json-schema/reference/conditionals.html

[2020-09-26 09:48] phlax commented on #13254
im thinking the  best way to figure the `typed_config` pattern will be to create an example - initially i guess just with `yaml` - and then  write a `jsonschema` for it. We could then test that in vscode also to see how it works

from there we can work out how that translates in terms of `protobuf` -> `jsonschema`

ill grab a snippet shortly...

[2020-09-26 13:20] phlax commented on #13254
i created this repo for playing with snippets/schemas

https://github.com/phlax/typed-config-testing

[2020-09-26 15:42] nickhiggs opened #13285 "Support for per route "with_request_body" configuration for ext_authz"
*Title*: Support for per route "with_request_body" configuration for ext_authz

*Description*:
For the ext_authz extension we would like to be able to configure with_request_body for specific routes. Our use case is for enabling SAML from our ext_authz service which requires posting the SAML assertion in the body for authentication to a specific endpoint. We would like to be able to do this withou

[2020-09-26 17:37] phlax commented on #13254
so after some playing with jsonschema etc, it seems like we can specify a number of `typed_config`, and then include the schema accordingly - which i think was the minimum requirement.

afaict we *cant* include schema dynamically - ie enter a url in the `"@type"` field and it retrieves the schema from a url. Not sure if this is correct, but i couldnt see a way to do it.

the jsonschema pattern is

[2020-09-26 17:38] caitong93 commented on #12724
@dio sorry for late response, I think it is very reasonable.

Based on current Lua filter, I list some key points here:

**Load Lua scripts(name it `envoy.core` here) during the Lua vm initialization and initialize the global variables**

This process initialize `envoy` global module and its submodules. The user's Lua code can call Lua C API, or  C++ code wrapped in C functions using the [FFI libr

[2020-09-27 06:58] PetroGromovo opened #13286 "How in envoy with link command reverting app to one of prior version to rollback migrations?"
With envoy deployment for Laravel apps most usefull feature seems possibility with link command revert app to one of prior versions. But What if with any new version upload migrations were applied? Is it possible with with link command to rollback migrations by given steps back? Are there some scripts/pluging for it ?

[2020-09-27 19:21] tariq1890 commented on #13240
@yanavlasov We figured out the issue. It was caused by the Envoy proxy OOMing on the server's end. Looks like the server's envoy needed more memory to process the multipart request.

I don't claim to be any envoy expert, but what I don't get is that the client-side envoy faces no memory issues while trying to send this multi-part request. Isn't the volume of data received same as that of what is s

[2020-09-27 20:47] #10535 closed

[2020-09-27 21:08] htuch commented on #13254
This looks like a great solution. I think static is fine; what we can do is ensure that for Envoy, we include all the built-in extension type URLs, and provide folks consuming Envoy the ability to specify additional typed configs at build time.

[2020-09-28 00:24] dio commented on #13260
@brectanus-sigsci I have a PR here: #13288. And if you have time, could help to test it out? This is a ubuntu-based image containing that fix `dio123/envoy:ext-authz-13260`. Thank you!

[2020-09-28 02:42] mattklein123 commented on #13254
Agreed this is awesome. This is really going to be amazing, especially when we get this everywhere we allow typed_config today which is quite a few places.

+1. Once we get the POC working, we should figure out how to automate the entire process, so we guarantee that all extensions/schemas are emitted at build time so we don't miss anyway. Note this is related to https://github.com/envoyproxy/envo

[2020-09-28 02:51] mattklein123 commented on #12724
@caitong93 can you further clarify the changes to the Lua filter that need to live in the Envoy repo? As much as possible of this should live outside the Envoy repo, so I would like to understand specifically what changes will need to be made (please describe them independently of resty if you can).

[2020-09-28 02:58] pyrl247 opened #13290 "[question]Does envoy support socket timeout ?"
Like the connect_timeout in cluster,does envoy support socket timeout?Such as socket read timeout or socket write timeout?

[2020-09-28 04:34] caitong93 commented on #12724
Yes, I will try to pull out some generic logic here, so custom filters can reuse them as much as possible:

**Load Lua scripts during the Lua VM initialization**

New options in Lua filter config:

`repeated string scripts_search_path` : path to search Lua scripts/modules

`repeated string preload_modules`: absolute/relative path to Lua scripts/modules

**Expose envoy's internal interfaces via C f

[2020-09-28 06:56] itayd commented on #13232
This makes sense. @phlax would you like to write this behavior yourself? I will teach you how.

[2020-09-28 06:58] phlax commented on #13232
i would love to!

i had a quick look to see if i could figure it out - but it wasnt immediately obvious and i was working on other things

lmk what you want me to do to get started

[2020-09-28 07:17] phlax commented on #13254
iiuc the concern about `Any`, then i think that jsonschema `"additionalProperties": true` allows non-specified properties to be valid

[2020-09-28 07:35] phlax commented on #13254
one slightly tangential thought ive been having as about deprecated configs

ideally it would emit a warning, but not sure if/how this can be expressed in jsonschema - or how this would work in terms of autocomplete.

i guess it could just put a `DEPRECATED: ` prefix in the property `description`

we could also have a strict mode that didnt allow deprecations

[2020-09-28 07:37] phlax commented on #13254
https://github.com/json-schema-org/json-schema-spec/pull/737

[2020-09-28 08:29] phlax opened #13294 "Notify on Pull Requests when documentation is rendered in CI"
## description

when you make changes to documentation its rendered by CircleCI.

I think it would be useful for reviewers and contributors if the repo bot posted a message containing a link to the rendered docs.

I can imagine this working in one of 2 ways

### posting the first time a change is noticed (and rendered)

im guessing the condition for this would be similar to the trigger used to not

[2020-09-28 08:30] phlax commented on #13294
cc @itayd

[2020-09-28 08:56] phlax opened #13295 "[RFC] Envoy as a (caching) (network) filesystem proxy"
## description

Im thinking it could be very useful both in terms of edge and middle proxying if Envoy was able to proxy to some (networked) filesystems - for example:

- nfs
- sshfs
- s3
- ipfs
- storj
- local

this suggestion would i guess be for extensions rather than something in core.

i guess it would want to take advantage of existing stack - like kernel drivers - to utilize these filesyste

[2020-09-28 09:41] phlax commented on #13295
the ultimate goal i had in mind is that a user can do something like this:
[code]
as an example of a s3 bucket to webserver in one line

[2020-09-28 09:44] dio commented on #10897
@tonya11en I have submitted a PR for this since we need this (https://github.com/envoyproxy/envoy/pull/13296). However, if you have your PR and you have time to submit it, I'll be happy to close my PR. Thanks!

[2020-09-28 09:50] phlax commented on #13295
~related https://github.com/envoyproxy/envoy/issues/7319

[2020-09-28 11:18] phlax commented on #13294
if we were to go with the first option, i think it would want to watch for changes in protocols etc - anything that would cause docs to change

[2020-09-28 11:20] phlax commented on #13295
related #378

[2020-09-28 13:59] lazy-always commented on #10422
We are also getting the same build failure

ERROR: /root/.cache/bazel/_bazel_root/0bedc29ce814c783e9af4c990605c934/external/com_googlesource_quiche/BUILD.bazel:2170:17: C++ compilation of rule '@com_googlesource_quiche//:quic_core_framer_lib' failed (Exit 1) gcc failed: error executing command /usr/bin/gcc -U_FORTIFY_SOURCE -fstack-protector -Wall -Wunused-but-set-parameter -Wno-free-nonheap-objec

[2020-09-28 14:58] sunjayBhatia commented on #13281
Yeah, I bet we will have to have 2 separate docker compose files

[2020-09-28 15:22] mattklein123 commented on #13290
Envoy supports many different types of timeouts. See here: https://www.envoyproxy.io/docs/envoy/latest/faq/configuration/timeouts

[2020-09-28 15:22] mattklein123 commented on #13294
Agreed this would be neat.

[2020-09-28 15:26] mattklein123 commented on #12724
Can you explain why we need a new C interface via FFI? Don't the existing bindings/APIs work or we can add new bindings as needed?

[2020-09-28 17:08] davinci26 commented on #13281
I will get one rolling and we can iterate more there.

[2020-09-28 17:50] mpuncel commented on #13009
Should this new mode only apply to gRPC? I'm not familiar enough with the REST and file based implementations to know if it's relevant there as well, but I'd guess not since REST fetches on intervals, and a file lookup should be dependable/envoy initiated?

Will this end up on the Subscription API which I believe is shared between all of these implementations?

And finally I assume this should be

[2020-09-28 18:15] cthumuluru commented on #11439
@dio, I've not started on this yet. I'll start looking at it this week and provide an update next week.

[2020-09-28 18:46] nigriMSFT commented on #13194
Why is your cmd PATH value using Linux style paths and path delimiters? I would expect <drive_letter>:\path1;<drive_letter>:\path2

[2020-09-28 19:16] nigriMSFT commented on #13194
After following the build instructions on a clean install VM, here are my relevant env variables for each shell. Note that when following the build instructions for Windows, you only need to set environment variables in the shell that you want to build in. For me, I invoke bazel in cmd, so I only set up the environment variables in a cmd prompt.

cmd:
[code]

msys:
[code]
I can successfully build

[2020-09-28 20:58] dmitri-d commented on #13229
Not optimizing as much as changing the approach: instead of doing validation during the doc build, we could extract validation into a dedicated step, to be performed using a custom builder (see https://www.sphinx-doc.org/en/master/usage/builders/index.html for some context). This should significantly reduce invocation time as we won't be launching external processes to perform validation.

An issu

[2020-09-28 22:14] abaptiste commented on #11266
I posted a separate [doc](https://docs.google.com/document/d/1nkpgc0SXW8SIt8N-AH-8GBDPTW-mMLj5f3Bgb-BJNl0/edit#heading=h.tc9n5g1aw2j0) based on the feedback from the initial review.  Please feel free to take a look and comment.

[2020-09-28 23:49] gargnupur commented on #10813
@rgs1 : Please let us know how we can help...

[2020-09-28 23:53] rgs1 commented on #10813
@gargnupur sorry, couldn't get to this last week... I'll carve out some time for tomorrow.

[2020-09-28 23:54] gargnupur commented on #10813
@rgs1 : np... thanks for the help!

[2020-09-29 01:10] mpuncel commented on #9856
I assume since this issue is open, there hasn't been a fix? We've encountered a similar sounding deadlock, and realized we are not including `cluster_manager` stats in our inclusion list.

This code also seems suspicious, it's relying on stats and it looks like it will never resume CDS if the stats are always zero.

[code]

That said, I'm not sure if this explains what we've seen or not, because w

[2020-09-29 03:32] dio commented on #12883
Another ref: https://www.haproxy.com/blog/serve-dynamic-custom-error-pages-with-haproxy/

[2020-09-29 05:28] pyrl247 commented on #13290
I have seen this doc before,But it does not content the socket read timeout or socket write timeout.

[2020-09-29 10:08] nic-chen opened #13307 "proposal: Enhance Envoy's Lua filter"
## Background

Envoy is a great open source project. Developers can use c++, WASM and Lua to implement plugins.

I come from the Apache APISIX community and am a PMC member of APISIX. Apache APISIX is an API gateway based on Nginx and Lua. We are very willing to join the Envoy community to participate in the development of Envoy Lua to make Envoy even more powerful.

## Goals

Apache APISIX plugin

[2020-09-29 10:14] nic-chen commented on #13307
cc @membphis @moonming

[2020-09-29 15:02] brectanus-sigsci commented on #13260
@dio I had a chance to look into this and test with

While this seems to fix the issue where I was seeing multiple calls, it also seems to cause another more serious issue where the request hangs (both downstream and upstream). It appears that once the body limit is reached it stops sending data to the upstream and does not finish the downstream request while the upstream waits endlessly for the r

[2020-09-29 15:15] #9684 closed

[2020-09-29 15:30] htuch commented on #11266
@abaptiste the new doc LGTM, tagging @oschaaf @mattklein123 @antoniovicente @mum4k @pamorgan @snowp for comments/sign-off.

[2020-09-29 16:04] htuch commented on #13009
It's a good question @mpuncel. I think the principle that as long as there is at least on subscription, we retain the last delivered configuration and make this available to warming clusters can easily be mapped to REST. I.e. if the next fetch is in 10s, but a cluster is warming now and we know its endpoints, seems reasonable to make them available. As we scale xDS and use CDNs+REST, having this c

[2020-09-29 16:09] sunjayBhatia commented on #11975
https://github.com/envoyproxy/envoy/pull/13282 is a direct example where we could have used this, should bump the priority of getting this done

[2020-09-29 16:18] mattklein123 commented on #9856
Yeah someone needs to look into this. Anywhere we are using stats for control flow is broken.

[2020-09-29 16:22] mattklein123 commented on #13307
See also https://github.com/envoyproxy/envoy/issues/12724. Is this basically the same issue or is there something different about it? In general we have no objection to having Envoy support existing Lua frameworks (it would be great) but would like to understand the changes to the Envoy core/filter that would be required.

[2020-09-29 16:28] hrobertson opened #13312 "auto_host_rewrite sets host header to endpoint address instead of endpoint hostname"
*Description*:
With `auto_host_rewrite: true`, I expect the `host` header to be rewritten to the endpoint hostname. This is the behaviour stated in the documentation [here](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/endpoint/v3/endpoint_components.proto#envoy-v3-api-field-config-endpoint-v3-endpoint-hostname) and [here](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route

[2020-09-29 16:31] mattklein123 opened #13313 "thread_local: thread safety follow ups"
A couple of follow ups to https://github.com/envoyproxy/envoy/pull/12833:

1) Try to make the API a bit cleaner with templating: https://github.com/envoyproxy/envoy/pull/12833#discussion_r496594468
2) Build clang-tidy plugin to check for any TLS functions capturing "this", and fix all current examples. (There are several that capture "this" in the initial set() call, and some that have been "fixed

[2020-09-29 16:49] dfjones commented on #9856
Our needs for stats filtering was to reduce the amount of data we emit to our stats collection service (prometheus). So, if the filtering was to affect just the output of the stats endpoints, it would be sufficient for our needs. Is there a compelling reason to disable the stats values even for use within Envoy? Is it for performance?

[2020-09-29 16:59] mattklein123 commented on #9856
It's just the way the implementation works, also memory saving within Envoy.

[2020-09-29 17:28] mattklein123 commented on #11266
I looked at the doc and at a high level it looks great to me. Very excited for this work!

[2020-09-29 18:07] oschaaf commented on #11266
Looks good to me!

[2020-09-29 18:41] markdroth commented on #10793
It might make sense to tackle this and #13009 at the same time by adding an XdsClient layer that centralizes the stream management and caching behavior in one place.

[2020-09-29 18:43] markdroth commented on #13009
Note that it might make sense to tackle this, #10793, and #2943 at the same time by adding an XdsClient layer that centralizes the stream management and caching behavior in one place.

[2020-09-29 18:46] markdroth commented on #13134
Also, how are [EDS drops](https://github.com/envoyproxy/envoy/blob/3b5acb2f43548862dadb243de7cf3994986a8e04/api/envoy/config/endpoint/v3/endpoint.proto#L79) supposed to work in an aggregate cluster?  They are supposed to be top-level parameters, but what happens if an aggregate cluster points to an EDS cluster?  Or worse, what happens if the aggregate cluster points to multiple EDS clusters, each

[2020-09-29 18:47] markdroth commented on #13134
Similar question for the [overprovisioning factor](https://github.com/envoyproxy/envoy/blob/3b5acb2f43548862dadb243de7cf3994986a8e04/api/envoy/config/endpoint/v3/endpoint.proto#L95).

[2020-09-29 21:29] akonradi commented on #11427
Now that #13129 is almost in, it's time to talk about how scaled timers should be configured. Here are some options:
1. replace existing timeout config fields with `XXX_min` and `XXX_max` fields
2. for an existing timeout config field `XXX`, add a `min_XXX` or `XXX_min_scaled` field
3. add an opaque config field to the [OverloadAction](https://github.com/envoyproxy/envoy/blob/3b5acb2f43548862dadb2

[2020-09-29 23:44] alkapov opened #13319 "How not to route to just discovered host?"
Hi. I have an envoy proxy with service (ssss). So, when the ssss opens a socket on port 85 it can't handle incoming requests (they gonna be failed on timeout), because it needs some time to initialize after forks. That's why I've tried to add the health checks, but they don't work. At the moment when the socket is opened, envoy route requests to the ssss, and after ~100ms (2 pings failed pings) it

[2020-09-30 00:28] junr03 opened #13321 "udp dns filter: re-use underlying dns resolver"
udp dns filter: re-use underlying dns resolver

*Description*:
Currently the UDP DNS filter creates a new DnsResolver instance on DnsFilter creation (wrapped around a `DnsFilterResolver`). All DnsFilterResolverr should reuse the same underlying DnsResolver for efficiency gains. Further changes to resolver creation via Event::Dispatcher::createDnsResolver need to be able to throw an exception, whic

[2020-09-30 00:29] junr03 commented on #13321
@abaptiste is this something you could pick up?

[2020-09-30 01:24] sunjayBhatia opened #13322 "Windows: List of APIs/features disabled or with degraded functionality on Windows"
To set expectations about Windows support through the release phases (Alpha evaluation, GA, etc.), we should document the currently disabled or degraded features on Windows

For now this list includes (non-exhaustive):
- Tracing extensions are disabled
- ~~Signal handling/process lifecycle control is disabled~~
- Hot restart is disabled
- ~~Per-request RTT latency metrics https://github.com/envoyp

[2020-09-30 01:26] sunjayBhatia commented on #13322
cc @envoyproxy/windows-dev

[2020-09-30 01:59] yanavlasov commented on #13240
Are both Envoys configured the same? Especially buffer sizes? If the buffers are too large it is possible that on Envoy quickly pushes too much data into its peer causing it to run out of memory.

[2020-09-30 02:17] yanavlasov commented on #13319
Hmm, I'm unsure I understand the question. The description of Envoy's behavior matches the configuration. You have configured health check every 50ms with 2 failed host checks needed to mark host unhealthy. After that time the health check filter will start responding with 503.

[2020-09-30 02:23] dio commented on #13260
@brectanus-sigsci Thanks. Sorry for this 🤦🏽‍♂️, but I have an updated image here: `dio123/envoy:ext-authz-13260-1`. Thanks a lot for your time!

[2020-09-30 02:26] yanavlasov commented on #13290
If you are referring to SO_RCVTIMEO or SO_SNDTIMEO values than Envoy is not using them, because it is not using blocking I/O.

[2020-09-30 03:23] pyrl247 commented on #13290
@yanavlasov Maybe use libevent EV_TIMEOUT in file_event could work?

[2020-09-30 06:10] nic-chen commented on #13307
@mattklein123

Thanks for the reply !

I had read pr #12724. It looks like a similar issue, but I guess they need more modifications to envoy.

Our implementation does not need to modify envoy.

In this issue, I have one question and two optimization suggestions for better performance (I believe these two optimizations are also beneficial to other users who use Lua to develop filters).

For clarit

[2020-09-30 06:10] nic-chen commented on #13307
The question is

Is it a recommend way that Using `metadata` as configuration for APISIX plugins ?

[2020-09-30 06:11] nic-chen commented on #13307
Optimization 1:

The Lua filter of Envoy supports context throughout its lifecycle so that `envoy_on_request` and `envoy_on_response` can work well together and synchronize data.

For example:
[code]

The `context` in `envoy_on_request` and `envoy_on_response` are the same table object.

[2020-09-30 06:11] nic-chen commented on #13307
Optimization 2:

When Envoy initializes the Luajit VM, it can load and execute specified Lua script(s) for initializing Lua global variables and so on.

Thanks!

[2020-09-30 06:37] membphis commented on #13307
another style, it seems good.

[code]

[2020-09-30 07:36] fandayrockworld commented on #8251
Thanks @fatihusta , finally I load the lua json lib follow this: https://github.com/ibm-cloud-architecture/tutorial-istio-envoy-lua-filters#example-6-istio-example

[2020-09-30 08:17] alkapov commented on #13319
Yeah, but I expect that no request will be routed because the cluster is unhealthy. And only after 20 successful health checks it can be marked as healthy and since that it routes. Am I wrong and a new host always has unknown status (this is interpreted as healthy by envoy) until 2 failed health checks in my case? If so, how to mark just discovered host unhealthy and route no requests until succes

[2020-09-30 09:15] chiffacff opened #13324 "envoy listener 2 ports + 2 clusters"
I try to set 2 listener in config with different ports and clusters for redirect

` static_resources:
  listeners:
  - name: listener_back_end
    address:
      socket_address: { address: 0.0.0.0, port_value: 9090 }
    filter_chains:
    - filters:
      - name: envoy.tcp_proxy
        config:
          stat_prefix: ingress_tcp
          cluster: back_end
      tls_context:
        common_tls_co

[2020-09-30 09:17] jmarantz commented on #13313
/sub

[2020-09-30 10:54] mk46 commented on #11109
@jmarantz  Can we close this? Thanks!.

[2020-09-30 10:56] jmarantz commented on #11109
Yes thanks for all your effort, Manish!

[2020-09-30 10:56] #11109 closed

[2020-09-30 12:17] htuch commented on #11427
@akonradi I like 3.a or 3.b. 3.c is redundant somewhat and 1/2 adds a lot of complexity for a feature that is likely not used by most users and other xDS clients won't want to implement. CC @envoyproxy/api-shepherds

[2020-09-30 12:29] kanongil commented on #13295
I like it.

The local store would need access to a file extension to mime type database. Some of the other stores, like nfs would need this as well, so I guess a mechanism for sharing such a database would be nice?

[2020-09-30 14:56] brectanus-sigsci commented on #13260
Thanks @dio! This indeed seems to resolve the issue.

[2020-09-30 15:09] #12364 closed

[2020-09-30 15:28] akonradi commented on #11427
I prefer 3.a over 3.b since it's easier to eyeball a percent and say "that looks reasonable" without the context of what the max is.

[2020-09-30 16:00] mattklein123 commented on #13312
The behavior you are seeing is the intended behavior for the current implementation. Appreciate any doc fixes to that effect.

[2020-09-30 16:02] mattklein123 commented on #13307
I think this is fine, but happy to discuss a different method if you want to suggest something.

Otherwise the other suggestions seem fine to me. cc @dio for comment.

Thanks!

[2020-09-30 16:04] rbkumar88 opened #13330 "Ability to route match based on one or more headers"
Hi,

I know we can route based on a single header field, is it possible to route based on say either header-X or header-Y

`{
                          "match": {
                            "prefix": "/"
                          },
                          "route": {
                            "cluster_header": "header-X"
                          }
                        }`

[2020-09-30 16:04] mattklein123 commented on #13319
This isn't the way it works. Envoy will attempt to health check with the configured settings, and then unblock startup to avoid blocking. I think we would need to add a new config option to block startup / new hosts indefinitely until success. cc @snowp who is more familiar with this code at this point.

[2020-09-30 16:49] alkapov commented on #13319
Oh, so, how to make request to add this feature?

[2020-09-30 18:19] adisuissa opened #13333 "[http] Setting a threshold value for lazy headermap"
PR #12656 introduces a new configuration parameter, _envoy.http.headermap.lazy_map_min_size_, that sets the threshold value for the lazy headermap - the number of headers in the headermap after which the headermap will use an underlying dictionary to map the headers. The threshold default value is infinity at the moment, which keeps the same behavior as before this PR.

This issue is for tracking

[2020-09-30 20:02] lambdai opened #13335 "CI: create recursive build for stable release"
The ground is that stable release success rate is dropping gradually.

We don't need to address it immediately as in master branch, however, we don't want to delay until a security fix.

We can probably run weekly build nightly or on weekend, and preserve the report to triage.

CC @antoniovicente @lizan

[2020-09-30 20:13] #13324 closed

[2020-09-30 20:13] chiffacff commented on #13324
i found solution

[2020-09-30 20:47] #13174 closed

[2020-09-30 21:29] mattklein123 commented on #11427
Yeah I have a strong preference for (3). I like 3a if I had to pick one, though it seems like we could eventually have 3a and 3b, etc. if we wanted.

[2020-09-30 21:30] #11905 closed

[2020-09-30 21:37] antoniovicente commented on #11427
I have some worry about there being a big separation between the place original timeout and threshold/min are configured.

The most worrying timeouts would be ones per cluster where it may be appropriate to use different thresholds by cluster.  I guess that max(min_override, threshold * full_timeout)) would probably work in general.

That said, the first 2 timeouts that we want to apply scaling lo

[2020-09-30 22:27] dio commented on #13260
@brectanus-sigsci thank you! I attacked it wrongly, glad that it works now. cc. @junr03.

[2020-09-30 22:53] #7793 closed

[2020-09-30 22:53] snowp commented on #13319
Yeah an option to the cluster to block warming until some % of the hosts are healthy would work, another option (inspired by the discussion in https://github.com/envoyproxy/envoy/issues/13246) would be to add a filter that delays the request until the upstream is healthy.

The cluster warming approach is blocking startup until the upstream is healthy, but if the upstream becomes unhealthy again it

[2020-09-30 22:58] mattklein123 commented on #11427
I agree about config discoverability concerns. My feeling is let's try 3a/3b for these 2 cases and see how it looks/feels and then we can go from there?

[2020-09-30 23:00] shane-yuan commented on #3404
It turns out that there are some issues with my MacBook and my colleague is able to build FIPS envoy with the latest SHA on his MacBook. Sorry for the confusion.

[2020-09-30 23:30] #10815 closed

[2020-09-30 23:56] rebello95 commented on #13154
New violation that this would have caught: https://github.com/envoyproxy/envoy/pull/13342

[2020-10-01 00:19] moderation commented on #13154
These are required to compile on MacOS with the latest xcode 12. Related https://github.com/envoyproxy/envoy/issues/13139
[code]

[2020-10-01 01:31] alkapov commented on #13319
I expect 503 until the host is marked as healthy, but it's marked but envoy routes few requests.

Oh, you are right! The problem was in panic mode. Thanks!

[2020-10-01 01:38] dio commented on #11079
@ramaraochavali if we want to support this, we need to allow setting response headers status when `local_reply_data.is_grpc_` here: https://github.com/envoyproxy/envoy/blob/a536fd84e5926eca56ce29ddef20b49138f09f16/source/common/http/utility.cc#L516.

Probably:

[code]

While setting it from the `ext_authz` perspective is already supported, but requires the external authorization server to response

[2020-10-01 01:57] dio commented on #7946
This one seems to be closed by https://github.com/envoyproxy/envoy/pull/10316. Please let me know if otherwise.

@sam80180 @brectanus-sigsci Sorry, could you help to submit a specific issue for that? Thank you!

[2020-10-01 01:57] #7946 closed

[2020-10-01 02:00] dio commented on #9965
@lathspell can we close this? Seems like @qiwzhang's recommendation to put it on the header could be a solution. I'm closing this. Please let me know if you want to see a different approach to this. Thank you!

[2020-10-01 02:00] #9965 closed

[2020-10-01 02:00] dio commented on #9965
@jpermar sounds like a doc issue. Could you submit a new issue/PR for that? Thanks!

[2020-10-01 02:57] dio commented on #4613
@ErikXu sorry for confusing docs and late reply. So the filterName can be anything, think about a namespace (we need to update the docs).

As an example:

[code]

[2020-10-01 03:02] dio commented on #13307
1. Re: context API

I think inside Envoy this is done either through FilterState or dynamic metadata. The current Lua HTTP filter has dynamic metadata API:

[code]
I think we can evolve this to make it "clear" and easy to follow.

2. Re: init script

I think that will be useful. FWIW we have a couple of ideas to add "global" utilities https://github.com/envoyproxy/envoy/issues/12626#issuecomment-6

[2020-10-01 03:10] mattklein123 commented on #13154
Can we just disable this warning in the OSX/iOS build for now? This seems a simpler short term solution. cc @keith

[2020-10-01 03:23] keith commented on #13154
+1 should be easy enough to drop into the bazelrc temporarily

[2020-10-01 03:29] #10897 closed

[2020-10-01 03:31] mattklein123 commented on #129
Given that alpha was declared today, I'm going to call this issue closed. Let's track follow ups with area/windows as the team has indicated! Go team!

[2020-10-01 03:31] #129 closed

[2020-10-01 04:14] membphis commented on #13307
This is a feasible way, we will try it later, thanks.

got it ^_^

[2020-10-01 05:31] brectanus-sigsci opened #13345 "Allow interpreting variables in initial_metadata for a ext_authz grpc service"
*Description*:

cc @dio

[2020-10-01 08:03] nic-chen opened #13347 "Lua: When Envoy initializes the Luajit VM, it can load and execute specified Lua script(s) for initializing Lua global variables and so on."
Currently, all Lua environments are per worker thread.
This means that there is no truly global data.
Any globals created and populated at load time will be visible from each worker thread in isolation.

Hope that when Envoy initializes the Luajit VM, it can load and execute specified Lua script(s) for initializing Lua global variables and so on.

[2020-10-01 08:05] nic-chen commented on #13307
@dio @mattklein123

Thank you for your reply and provide us with a good solution !

So we can continue to move forward. In this process, there may be other issues that need your help, thank you in advance.

For the last item, I had create a new issue #13347 to push it forward.

[2020-10-01 08:05] nic-chen commented on #13347
cc @dio

[2020-10-01 08:45] kpr12 opened #13349 "Error code sent in RST_STREAM"
Hi, we have the following situation:
Envoy has received an HTTP request from the client and forwarded that request to the upstream server.
While waiting for the HTTP respone from the server, Envoy receives from the client a RST_STREAM packet with error code "CANCEL".
This triggers Envoy to send a RST_STREAM packet with a different error code "NO_ERROR" upstream to the server.
My question:
Why does

[2020-10-01 09:51] htuch opened #13350 "Assign API shepherds automatically via RepoKitteh"
Load balance @envoyproxy/api-shepherds via RepoKitteh. This will work as follows:
1. An `auto_assign` attribute will be added to the existing repokitteh.star specs.
2. When a PR is updated, the set of GH users in owners will be computed, call this Owners.
3. We will compute the union of the assigness for the PR and requested reviewers for the PR, call this Assigned.
4. If the intersection of Owner

[2020-10-01 10:11] phlax opened #13351 "Allow repo members to /restest via repokitteh"
## description

atm, you need to be an "approver" to trigger a retest via repokitteh

it would be helpful if the circle was widened, so regular contributors can also trigger this

not being able to trigger it means doing "empty" or "amend" commits which triggers full re-runs,  and a lot of unnecessarily wasted CI cycles

[2020-10-01 11:26] benpoulson commented on #8167
Nginx currently splits by creating a MurmurHash2 number (0-4294967295) based on specific variables (eg remote IP)

See: http://nginx.org/en/docs/http/ngx_http_split_clients_module.html

This allows users to be consistently sent to the same upstream.

[2020-10-01 12:39] #13274 closed

[2020-10-01 13:47] antoniovicente commented on #11427
Another thing to consider: the two timeouts mentioned above don't exist yet.  We have the option to introduce a timeout config message with either max and optional, or timeout and optional scale.

3a/3b still seems fine since it does allow us to make forward progress.

[2020-10-01 14:04] markdroth commented on #13134
gRPC is about to implement support for aggregate clusters, and I want to make sure we agree on the expected semantics, so that we don't want up making a decision that is incompatible with what Envoy does or may do in the future.

I've put together the following doc proposing what I think the semantics should be:

https://docs.google.com/document/d/17fc0rAktQpc5oMkerOLHSTnXwX1xWAqW7vZ6_LL47NY/edit#

[2020-10-01 14:56] mattklein123 commented on #13349
I know this has been asked for but I'm not sure if there is an existing issue tracking. The main issue is that we don't propagate reset reasons from downstream to upstream and vice versa today. I don't think this would be extremely difficult to do, but not sure if it's worth it or not. cc @alyssawilk

[2020-10-01 14:59] mattklein123 commented on #13351
Ultimately we would like to have anyone in https://github.com/orgs/envoyproxy/teams/assignable be able to do it I think?

[2020-10-01 15:03] mattklein123 commented on #11427
Yeah good point. It would be fine to introduce a new config wrapper for this type of timeout, though then we might end up in a situation in which some have the new message and some use 3a/3b and we would end up with deprecations. I could go either way.

[2020-10-01 15:08] phlax commented on #13351
i reckon i can do this

[2020-10-01 15:12] htuch commented on #11427
I'm good with a timeout message. I'm fine also with limited deprecation if the number of sites is small, i.e. I can count it on one hand. I wouldn't advise an API-wide replacement with new message and deprecation as that is a lot of churn for all places we have timeouts. It's important to keep in mind that most users will never use this feature and all known xDS clients other than Envoy (i.e. gRPC

[2020-10-01 15:53] htuch opened #13358 "Unicode handling"
Document how Envoy support Unicode and develop a policy for testing to ensure we have sufficient coverage to convince ourselves that we do the right thing. There are well known places where we do not do explicit Unicode handling, e.g. in path normalization today, this needs to be cleanly communicated in docs etc.

[2020-10-01 16:49] abaptiste commented on #13321
@junr03 Sure, let me take a look

[2020-10-01 17:34] antoniovicente commented on #11427
I talked with alex about this offline and understand his proposal better now.  I think he's going for option 3a/3b.

[2020-10-01 18:54] yanavlasov commented on #13290
I do not EV_TIMEOUT applies to to reading or writing from sockets. This is used to create time based event in libevent. Perhaps a better approach is for you to describe the problem you are trying to solve so someone can suggest a solution.

[2020-10-01 20:43] keith commented on #13154
turns out it's not easy enough. the problem is that global `--copt` flags come _before_ the flags defined in `copts = []` on the `cc_library` targets. This is where envoy passes `-Wall`, so if you disable this warning flag, it gets re-enabled with the `-Wall`

[2020-10-01 21:19] rebello95 commented on #13154
After discussing with @keith (results above ^), it looks like the "easiest" way to fix this is still by enabling the rule in Envoy. Attempting again now that abseil has fixed their violations: https://github.com/envoyproxy/envoy/pull/13364

[2020-10-01 21:21] Darkest commented on #7795
Could you please provide some step-by-step tutorial on how to use traffic tap on ENvoy?
I have a rather simple case I think: I want to see the TLS traffic going through envoy on port 8080 decrypted.
How can I achieve this?

[2020-10-01 21:55] spenceral opened #13368 "Error compiling api/envoy/extensions/upstreams/http/generic/v3/generic_connection_pool.proto to Java"
*Title*: *Error compiling api/envoy/extensions/upstreams/http/generic/v3/generic_connection_pool.proto to Java*

*Description*:

[code]

Can we rename the `GenericConnectionPoolProto` message to `GenericConnectionPool`? I don't see a name collision with a quick grep.

[2020-10-01 22:04] chradcliffe opened #13369 "Adding a drained callback to ConnPoolImplBase causes test failure"
*Description*:
There is an early return in `ConnPoolImplBase::checkForDrained` that prevents `closeIdleConnections` from being called in the case where there are no drained callbacks registered for the pool:

[code]

In `TcpTunnelingIntegrationTest.InvalidResponseHeaders` inside `test/integration/tcp_tunneling_integration_test.cc`, the behaviour expected by the test changes based on the presence o

[2020-10-01 22:14] spenceral commented on #13368
https://github.com/envoyproxy/envoy/blob/master/api/envoy/extensions/upstreams/http/tcp/v3/tcp_connection_pool.proto and https://github.com/envoyproxy/envoy/blob/master/api/envoy/extensions/upstreams/http/http/v3/http_connection_pool.proto also have a `java_outer_classname` that matches a message type declared within.

[2020-10-01 22:50] htuch opened #13370 "Symlink-atomic reads for private key/certificate pairs"
In https://github.com/envoyproxy/envoy/pull/10163, support is added to load both private key and certificate on an inotify event. However, this is not fully atomic w.r.t. symlink changes. Imagine you have foo/ pointing at bar/ containing `key.pem` and `cert.pem`. Then you relink `foo/` to point at `baz/` with `key.pem` and `cert.pem` during a rotation. In our current solution, there is a race, whe

[2020-10-01 23:00] mattklein123 commented on #13370
I don't believe so. This is why there is a level of indirection for the symlink and the snapshot directory. It reads the entire new directory at once after the swap. I think we would need to do something similar for the cert case where we introduce a base directory and do the swap there.

[2020-10-01 23:24] lambdai commented on #13244
Talked to @PiotrSikora  offline:
For XFCC header, the value(e.g. #04024869) unknown key (e.g.  1.3.6.1.4.1.1466.0)  in subject could be decoded to string as long as the value is printable characters.

#04024869 is probably not a good example because the type is "OCTET string". However, if the
#13024869 is safe to represent as "Hi" since
0x13 = 19 = `Printable string` in ASN.1
0x02 = 2 = length of

[2020-10-01 23:50] htuch commented on #13370
Yes, this makes sense. We can also just use `readlink` to resolve to the real directory and then read individual files, so we don't need to force that structure.

[2020-10-02 00:56] mattklein123 commented on #13370
Yeah if we assume that the parent directory is consistent, readlink would work also agreed.

[2020-10-02 04:11] phlax commented on #13351
after a bit of further investigation it seems that it is possible to use `/retest` - its `/azp run` which throws a permissions error

i think we still need to clarify and perhaps document more clearly who can re/run ci with the bot etc

[2020-10-02 04:24] tsaarni commented on #13370
Adding `readlink` for atomic reads sounds good solution to me as well.

Is it a scenario where a new TLS connection happens to be established right at the moment of the rotation?  I guess in theory there is yet another, but probably less likely race: at the end of the rotation the when old certificate & key files get removed, the old resolved path could cause open to fail.

[2020-10-02 04:26] phlax commented on #13351
seems like *anyone* can trigger `/retest` - ie any github member

[2020-10-02 05:08] ramaraochavali commented on #11079
@dio  Thank you for digging in to this. I am thinking that based on some flag either in ext authz configuration or a generic flag (prefer ext authz config), add the following code

[code]
I think that would be lot cleaner than every on defining local mappers.

[2020-10-02 15:18] mattklein123 opened #13373 "sandbox: TLS sandbox"
Users are frequently confused on TLS configuration. We should have a sandbox that demonstrates both downstream and upstream TLS configuration. We could have the sandbox potentially generate self signed certs similar to what we do in the integration tests: https://github.com/envoyproxy/envoy/blob/master/test/config/integration/certs/certs.sh

[2020-10-02 15:18] mattklein123 commented on #13373
cc @phlax this would be a good one to add to your list.

[2020-10-02 15:34] rockspore opened #13375 "`dynamic_forward_proxy` filter not working in the latest build"
*Title*: *`dynamic_forward_proxy` filter not working in the latest build*

*Description*:
Using the envoyproxy/envoy-dev:latest image, the host (`:authority` header) is not being rewritten as configured. Upon checking the logs, there seems no output from the dynamics forward proxy filter.

All the stable releases work fine. So I'd just to know whether this is a known issue.

*Repro steps*:
Run the

[2020-10-02 15:40] amukherj1 opened #13376 "Envoy service proxy processes HTTP 1.1 requests with increasing delay on a persistent connection"
*Title*: *Envoy service proxy processes HTTP 1.1 requests with increasing delay on a persistent connection*

*Description*:

Version of Envoy: 1.12.2

[optional *Relevant Links*:]

[code]

The corresponding tcpdump record indicating that the request hit the network as soon as it was sent from the caller and wasn't queued at the caller's end.

[code]

[2020-10-02 15:44] phlax commented on #13373
yep @mattklein123 im definitely happy to take this one

[2020-10-02 16:42] hakuno opened #13377 "[Question] connection termination"
Greetings!

My settings are based on Failover setup.

I've two nodes behind the proxy. The primary node (in active mode) and secondary one (in passive mode).

[code]

with

[code]

The upstream nodes are IIS web servers.

The problem is: sometimes I got unknown problems. I don't know why it returns:

`upstream connect error or disconnect/reset before headers. reset reason: connection termination`

[2020-10-02 18:32] mpuncel opened #13379 "Don't count NO_ERROR GOAWAY as a failure in HTTP health checker"
*Title*: *Don't count NO_ERROR GOAWAY as a failure in HTTP health checker*

*Description*:
We've observed that the HTTP health checker implementation treats GOAWAY frames with the no_error code as an unhealthy health checks, which means that listener updates are not hitless if you use unhealthy_threshold of 1 for your http health check config

It looks like this was fixed for gRPC in https://githu

[2020-10-02 18:33] pravb commented on #12305
We should use  SIO_TCP_INFO on Windows. It is designed to be the equivalent of TCP_INFO.

[2020-10-02 18:33] asraa commented on #9485
At this point, future work would need:

* Add proxy-specific queries, or queries that model past CVEs or regressions (https://securitylab.github.com/tools/codeql)
* Provision our own machines for the analysis if we want to analyze more code at once, even nightly

[2020-10-02 19:07] davinci26 commented on #12305
@mattklein123 I am reopening the issue under area\windows since the platforms offers support for the feature.

[2020-10-02 19:10] abaptiste commented on #13321
With the changes for this, I'm seeing an assertion failure in the dispatchers due to thread ID mismatches.

[code]

The identified line in dns_impl.cc is calling `dispatcher_.createFileEvent` which is the function containing the assertion.

This is happening for one integration test where I have to setup two DNS Filters on separate listeners to exercise the external lookup logic.

That said, I get

[2020-10-02 20:23] #13179 closed

[2020-10-02 20:51] #13228 closed

[2020-10-03 00:22] hakuno commented on #13377
Ps. I can't find in the web server log file any bad request on time range.

[2020-10-03 08:17] phlax commented on #13373
checking through for prior art, im seeing the `front-proxy` example has an existing `tls` example:

https://github.com/envoyproxy/envoy/blob/master/examples/front-proxy/front-envoy.yaml#L63

this should be quite useful for getting started

[2020-10-03 08:38] phlax commented on #13373
some possibly relevant refs:
- #12965
- #13221
- #12586
- #9577

[2020-10-03 09:21] mjduijn commented on #6632
I did not, however I switched jobs and haven't used grpc-web in over a year

[2020-10-03 12:18] #13319 closed

[2020-10-04 03:11] dio commented on #13375
While I'm not sure the expected behavior of using `envoy.filters.http.dynamic_forward_proxy` with non-`custom_type` cluster, but this behavior change was introduced since: https://github.com/envoyproxy/envoy/commit/36288d52aed18045e0c9e470062142c4609cecce.

[2020-10-04 07:58] phlax commented on #13294
thinking more about implementation, i think it would be a pita if it emitted every time eg api/docs changed, if you were working on api and not interested in seeing the docs being rebuilt particularly

i reckon it should do the following:
- on a new PR, if it changes docs/api (or perhaps first time it touches those dirs in any PR) it emits
- add a `/docs` command to print the last build of the doc

[2020-10-04 15:26] pyrl247 commented on #13290
here is my circumstance, Such as thrift proxy , I want to set thrift request timeout in envoy. Surely I can set thrift request timeout in my downstream application code,but I want envoy can work with request timeout if the downstream forget.

[2020-10-04 20:20] supasteev0 commented on #12022
/remove-lifecycle stale

[2020-10-04 20:22] softcane opened #13388 "502 on our ALB when traffic rate drops"
*Title*: *502 on our ALB when traffic rate drops*
Envoy version: 1.14.1

**Issue**
We observer 502 error codes on our AWS ALB when traffic rate drops in during off-hours.
![image (1)](https://user-images.githubusercontent.com/1730359/95026126-59b42400-068f-11eb-9e75-b788c040c305.png)

**Background:**
We are migrating our ingress controller from Nginx to Istio ingress gateway. We are running ingres

[2020-10-04 20:32] mattklein123 commented on #13373
@phlax good point regarding that example. I would say we should do 2 things:
1) Rename it "TLS front proxy" or something like that
2) Also demonstrate TLS upstream connections

WDYT?

[2020-10-04 20:35] mattklein123 commented on #13330
No it's not currently possible to do this kind of compound matching, however we are starting to look at what a new route config with a more extensible matching system might look like that would support something like this. cc @snowp

[2020-10-04 20:36] mattklein123 commented on #13376
This version is very old. Please try with latest and report back.

[2020-10-04 20:37] mattklein123 commented on #13388
Sorry what is this issue tracking? Are you saying you fixed your problem with the max connection duration config?

[2020-10-04 20:39] mattklein123 commented on #13375
Right I think you shouldn't be using the dynamic forward proxy filter for this config?

[2020-10-04 20:42] amukherj1 commented on #13376
I will try to. Just for my understanding, does this seem like some known issue with older versions?

[2020-10-04 20:44] mattklein123 commented on #13376
There have been many changes that might effect those over the last year, hard to say.

[2020-10-04 20:48] mattklein123 commented on #13369
@alyssawilk would you mind taking a look at this?

[2020-10-04 21:01] mattklein123 commented on #9658
Calling this done with the latest PR that @tonya11en landed. We can open new issues for smaller items as needed. Thank you @tonya11en!

[2020-10-04 21:01] #9658 closed

[2020-10-04 21:03] mattklein123 commented on #6307
@jmarantz I think we can clean all of the old code up now? WDYT?

[2020-10-04 21:07] mattklein123 commented on #10878
@asraa @yanavlasov what is the plan for cleaning up the old codecs? Should we do it before 1.16 ships or right after? I guess right after?

[2020-10-04 21:08] phlax commented on #13373
yep, re upstream connections

i think lets knock out the tutorial first (#13386) which also has some tls examples, and then i can collate the info into a tls sandbox, and we can figure out what it needs to demonstrate

[2020-10-04 21:12] mattklein123 commented on #13321
The issue is the UDP filter is per-listener, so you need per-worker DNS resolvers. I don't think it's going to be easy to always check everything inline.

@junr03 I think the correct solution to your cleanup is you need a common config verification function for DNS resolvers that is always called on config load on the main thread, such that we guarantee there is no issue if/when a resolver is crea

[2020-10-04 22:44] softcane commented on #13388
Adding ‘max_connection_duration’ fixes the uneven connection distribution issues but now I’m getting few 502 errors on the ALB.

[2020-10-05 00:40] yskopets commented on #9577
@cpakulski @jsbucy Please be aware that `LDAP` supports both 1) installation and 2) removal of a TLS layer.

See https://tools.ietf.org/html/rfc4511#section-4.14.3

[2020-10-05 04:38] phlax commented on #13373
i need to check through a  bit more, but i think the front-proxy example is useful even without the  tls bits - i would be more tempted to just separate out the tls to its own example (or maybe even just leave it, and add a tls focused example)

[2020-10-05 12:54] mpuncel commented on #12274
Looking at this more closely, I think I misunderstood what needs to happen in my original comment.

It looks like the issue is that the individual HTTP filters (ext_authz used here as an example) get their per route config like this;

[code]

It's using the well-known name there. Knowing this, I think the solution should be to make each filter know its user-specified name from the `http_filters` l

[2020-10-05 14:46] rockspore commented on #13375
Thanks for the information. I wasn't aware of the change. The filter was used for host header matching purpose. It's certainly not very canonical and we are going to change it.

[2020-10-05 14:46] #13375 closed

[2020-10-05 15:01] sunjayBhatia commented on #12205
Closing this, alpha has been announced, any issues for Windows beta should be added to this milestone: https://github.com/envoyproxy/envoy/milestone/16

[2020-10-05 15:01] #12205 closed

[2020-10-05 15:05] htuch commented on #10471
https://bestpractices.coreinfrastructure.org/en/criteria/0 is a pretty decent list of best practices we could build on.

[2020-10-05 15:18] mattklein123 commented on #13373
Sure sgtm

[2020-10-05 15:44] mattklein123 commented on #13388
Fundamentally, the problem is that ALB is reusing connections that Envoy is closing. This is an inherent race condition with HTTP/1.1. You need to configure the ALB max connection / idle timeout to be < any envoy timeout.

[2020-10-05 16:51] davinci26 commented on #12305
Assigned it to me because I have a good idea how to implement it and I have some time to pick it up this week.

That being said, If anyone from the community wants to take a stab at it more than happy to guide them.

[2020-10-05 16:58] alyssawilk commented on #13349
Yeah, I think we can do better with reset codes in general, propagating where it makes sense and including details in logs.  I think it's just a question of someone taking the time to do the work.

[2020-10-05 17:00] jmarantz commented on #6307
Yes, working on it. It's easy to nuke all that code. Hopefully also easy to review.

[2020-10-05 17:33] mandarjog commented on #10813
@rgs1 if you are able to attach a diff or something partial, it would be still be Great help.

[2020-10-05 17:36] rgs1 commented on #10813
i did make some progress on Fri cleaning up the branch, should be posting today.

[2020-10-05 17:43] mattklein123 opened #13391 "test: re-enable tcpdump ssl_integration_test"
See https://github.com/envoyproxy/envoy/pull/13371. It's unclear why this is now flaking in CI.

[2020-10-05 19:58] sunjayBhatia commented on #13322
@mattklein123 do you think this is appropriate for the help wanted tag?

[2020-10-05 20:00] #13154 closed

[2020-10-05 20:13] softcane commented on #13388
Thanks,
ALB idle timeout is 60 sec which is less than max_connection_duration (75sec)

Idl_timeout on envoy proxy is default one hour.

When you say any timeout you mean beside the one that I mentioned here?

[2020-10-05 20:40] chintan-mishra commented on #13373
@phlax , I noticed that you referred #13321.

I want to point out that in the referenced issue the `envoy` user within the container can read the TLS certificates but Envoy binary cannot read the certificates provided in `envoy.yaml`.

The `envoy.yaml` configuration attached in the referenced issue works fine with v1.14.4.

[2020-10-05 20:43] phlax commented on #13373
@chintan-mishra thanks for info.

I tagged it because i figured i might be able to look at that bug when following up on adding an example - might be beyond my immediate capabilities tho