[2020-02-27 18:09] mattklein123 commented on #10192
SGTM

[2020-02-27 18:13] alyssawilk commented on #10084
Sorry for the lag - just got dug out from vacation.
So what the logs are telling me is that on a new GET request, we're not reading more from downstream, because the upstream is blocked.  Assuming HTTP/2, this could happen if you had a lot of data flowing over a small number of HTTP/2 connections, so the new stream (which doesn't consume much data) can't ship data due to either the TCP buffer or p

[2020-02-27 18:16] mabukhovsky commented on #10160
@mattklein123 Thanks for insight, truly appreciate your help. @alyssawilk Could you confirm that the issue described is related to #1451 and will be resolved anytime soon.

[2020-02-27 18:25] #9713 closed

[2020-02-27 19:12] #10142 closed

[2020-02-27 19:25] #9430 closed

[2020-02-27 21:50] mattklein123 opened #10195 "Move HCM user agent stats functionality into an optional filter"
Right now we have user agent detection built directly into the HCM: https://github.com/envoyproxy/envoy/blob/master/source/common/http/user_agent.h

This code is very old and at this point should not be required to be built into the HCM. We should move this code into an optional filter.

[2020-02-27 22:45] agasparovic-sabre commented on #9223
@alexandru-ersenie Did you figure out what the issue was here? Trying to figure out whether I'm seeing something similar.

[2020-02-28 00:19] lambdai commented on #9987
@cstrahan Sorry to see this late. Where did you see error message?
2 compile units depend on each other is reasonable, correct? I don't fully get the circular dependency.

[2020-02-28 00:39] junr03 opened #10198 "api: add compile flag to have only one api version in Envoy"
This flag would make it so that only one version, the current version (v3 right now), of the api is compiled in or attempted to be accessed at runtime.

The Envoy Mobile team is interested in this as it relates to non-trivial binary size reduction. More details about our thinking can be found in https://github.com/lyft/envoy-mobile/issues/710.

[2020-02-28 02:55] asinha08 opened #10202 "Is there any good video tutorial available on EnvoyProxy?"
*Title*: Is there any good video tutorial available on EnvoyProxy?

*Description*:

[optional *Relevant Links*:]

[2020-02-28 03:42] ramaraochavali commented on #10124
@mattklein123 Can you please add "rohan07" to the org and assign this issue? He will fix it.

[2020-02-28 10:29] #9531 closed

[2020-02-28 14:40] cmluciano commented on #10186
@lizan what is the plan for gcc and the testing harness? Should I switch ppc64le to try both or is clang-8 still the recommended version?

[2020-02-28 15:10] brectanus-sigsci commented on #7946
This is also an issue with `envoy.ext_authz` filter's `initial_metadata`, which is where I really want this for adding things like `%DOWNSTREAM_TLS_*%` data rather than adding this to the headers.

[2020-02-28 16:15] QuentinBrosse commented on #9169
Such statistics would be very appreciated for us too.

[2020-02-28 16:38] chaosbox commented on #10066
We are currently dependant on this as we have all of our other metrics exported to datadog. We cannot move to `/stat` pull based exporter since we rely on tagging using `stats_tags`.

cc: @mattklein123  @mergeconflict @zuercher

[2020-02-28 16:48] kylebevans commented on #10084
No need to apologize, thanks for your help and contributions to this free software.

- I don't see any "send buffer over limit" logs.

- I hypothetically have the ability to patch envoy, but I don't think I'm comfortable asking you to make some PRs just for me.

- I can't reliably reproduce the issue.  Sometimes it doesn't happen for a month, sometimes it happens hours apart.

- It seems like flow

[2020-02-28 16:54] mattklein123 commented on #10066
The statsd format uses deltas. I don't know anything about Datadog so I would recommend following up with them.

[2020-02-28 17:34] jyotimahapatra commented on #9246
I'm not working on this atm and can be picked up any anyone interested.

[2020-02-28 18:32] #9927 closed

[2020-02-28 19:07] #10028 closed

[2020-02-28 21:04] kprakasam opened #10207 "Ratelimiting or Circuit breaking based on L7 rules"
*Title*: *Ratelimiting or Circuit breaking based on L7 rules*

*Description*:
Envoy currently allows only one circuit breaker per upstream cluster and a global rate limiter service, this is very constraining when dealing with DDOS attacks when there is only one upstream cluster (If you want to understand the specific use case we can discuss offline). We are wondering if we can create a filter that

[2020-02-28 21:14] kflynn commented on #10011
We ran across this, and dealt with it by _not_ configuring Envoy using `use_proxy_proto`, but instead switching to the `proxy_protocol` filter. To make that switch work, we had to _not_ include `use_proxy_proto: true` in the filter chain, and we had to make sure that the `proxy_protocol` listener filter came before the `tls_inspector` filter. Hope that's helpful!

[2020-02-28 21:47] frenchzed commented on #10105
I'm kinda new to Envoy but I believe the issue is that those have to match:
- https://github.com/envoyproxy/envoy/blob/v1.13.0/source/extensions/filters/network/well_known_names.h#L22
- https://github.com/envoyproxy/envoy/blob/v1.13.0/api/envoy/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto#L29
and they don't.

[2020-02-28 21:51] frenchzed commented on #10105
Oh, and by the way, HTTP Connection Manager doesn't seems to be the only one affected, here's another random example:
- https://github.com/envoyproxy/envoy/blob/v1.13.0/source/extensions/filters/http/well_known_names.h#L42
- https://github.com/envoyproxy/envoy/blob/v1.13.0/api/envoy/extensions/filters/http/router/v3/router.proto#L19

[2020-02-28 21:56] sunjayBhatia commented on #129
2/28/2020 Update:

Recent PRs merged:
- https://github.com/envoyproxy/envoy/pull/9966
- https://github.com/envoyproxy/envoy/pull/10036
- https://github.com/envoyproxy/envoy/pull/9915
- https://github.com/envoyproxy/envoy/pull/9721
- https://github.com/envoyproxy/envoy/pull/9398
- https://github.com/envoyproxy/envoy/pull/9331

PRs in flight:
- https://github.com/envoyproxy/envoy/pull/10107

We have

[2020-02-28 23:20] bennettdong opened #10209 "hardcoded v2 type urls in xds requests"
*Title*: *hardcoded v2 type urls in xds requests*

*Description*:
In order to migrate to v3 API, `loadTypeUrl` functions are used to determine type url in discovery requests. However, I found that some files are still using v2 type url constants in [this file](https://github.com/envoyproxy/envoy/blob/master/source/common/config/resources.h). This means that even envoy is configured to use v3, it w

[2020-02-28 23:49] mattklein123 commented on #10209
cc @lizan

[2020-02-28 23:56] ggreenway opened #10211 "setupRetry() is incorrectly called twice in router::Filter::onSoftPerTryTimeout()"
Through code inspection (NOT observation of any runtime behavior), I found the following snippet, which calls setupRetry() twice. The call after the conditional should probably be removed.  This will cause `pending_retries_` to be incremented twice here instead of once.

[code]

Found here: https://github.com/envoyproxy/envoy/blob/819f2c1418b4d81a78a7716d2e20a6b3fd4d187a/source/common/router/route

[2020-02-29 00:32] mattklein123 commented on #10207
See https://github.com/envoyproxy/envoy/issues/7918. I would like to see this happen in the context of a dedicated WAF filter which can perform various actions that are configured on a per-route basis. cc @gkleiman who can provide more color and I have discussed this with also.

[2020-02-29 00:33] mattklein123 commented on #10158
@gkleiman is going to fix this.

[2020-02-29 00:34] #10143 closed

[2020-02-29 01:29] #9759 closed

[2020-02-29 02:29] #9717 closed

[2020-02-29 04:31] ramaraochavali commented on #10124
/assign rohan7

[2020-02-29 06:27] CodingSinger commented on #9714
@mattklein123  Where is your discussion address？

[2020-02-29 06:30] CodingSinger commented on #9714
Is there any problem with modifying the listener to modify the route?

[2020-02-29 06:30] CodingSinger commented on #9714
Is there any problem with modifying the listener to modify the route?

[2020-02-29 18:45] fabriziomello commented on #9107
@dio thanks and now sorry for my late reply.

Just created a [Design Documentation](https://docs.google.com/document/d/1bcmGV20eOw8Tx4zsdD1VGjUIEGHFc6v73Bpa5-pmiBA/edit#) on GDocs.

/cc @ahachete

[2020-02-29 18:55] #9795 closed

[2020-02-29 23:55] #9782 closed

[2020-03-01 19:53] mattklein123 commented on #9714
@CodingSinger sorry can you clarify what you are asking?

[2020-03-01 21:52] kadimulam opened #10221 "Options for installing envoy FROM centos7 Docker image"
We have a base Centos 7 Docker image. We are trying to install envoy on Centos 7 and create a single Docker image and thus a single container. We are looking something similar to https://joeyb.org/running-envoy-on-centos-6-7. Could you please let us know the options available?

[2020-03-01 22:04] ch-bohlen opened #10222 "Valid JWS, Keycloak-issued, Token fails to be parsed"
Issue cross-posted to jwt_verify_lib: https://github.com/google/jwt_verify_lib/issues/43

*Title*: *Valid JWS, Keycloak-issued, Token fails to be parsed*

*Description*:
Using Istio's authentication policy (jwt_authn filter) and validating a Keycloak-issued Token fails due to the payload's base64 or json representation being detected as invalid.

The Token can be correctly parsed by https://jwt.io

[2020-03-01 22:30] dio commented on #10221
@kadimulam WDYT of this:

[code]

https://www.getenvoy.io/install/envoy/centos/?

[2020-03-01 22:41] kadimulam commented on #10221
@dio , we tried this and it works; but we are not allowed to connect to the repo - https://getenvoy.io/linux/centos/tetrate-getenvoy.repo due to security concerns. Is there a way we can download the repo binary and then install it?

[2020-03-01 22:47] dio commented on #10221
By reading the [.repo](https://getenvoy.io/linux/centos/tetrate-getenvoy.repo) file, I think you can browse the available rpms for stable releases here: https://tetrate.bintray.com/getenvoy-rpm/centos/7/x86_64/stable/Packages

[2020-03-01 23:29] #9816 closed

[2020-03-02 00:52] kadimulam commented on #10221
@dio , thanks for sharing the location. We will try and let you know.

[2020-03-02 02:29] #9793 closed

[2020-03-02 05:40] #10083 closed

[2020-03-02 06:44] bcba25 commented on #9050
@tonyboxes Hello Tony, have you solved your issue ? I'm facing the same currently

[2020-03-02 07:54] bcba25 commented on #10059
@seflerZ Hi! Am I right to say that this configuration will not work for gRPC currently ? I've been trying to make xds configuration for my envoy and consul but end up with no solution.
[code]

[2020-03-02 16:16] wrowe commented on #129
If you have forked from github.com/greenhouse-org/envoy as mentioned by Sam above; please note that we have archived the historical efforts to the greenhouse-org/envoy-archive static repo, and started a fresh fork from envoyproxy/envoy at that original repo name, with the vmware-windows-build and vmware-fix-upstream branches in place of pivotal-windows-build and pivotal-fix-upstream. This allows e

[2020-03-02 16:49] mbrukman opened #10225 "Broken SNI config links in the latest published version of the docs"
Page & section: https://www.envoyproxy.io/docs/envoy/latest/faq/configuration/sni#how-do-i-configure-sni-for-clusters

All the links in this paragraph are currently broken.

[2020-03-02 17:28] kiranjthomas opened #10226 "Is the note warning against using regex-based matcher still relevant after safe_regex?"
*Title*: is the regex_based matcher warning found in [v2/stats.proto](https://github.com/envoyproxy/envoy/blob/b09184f8e9e17839f555f78ad8dbbcc57e3709db/api/envoy/config/metrics/v2/stats.proto#L98-L100) and [v3/stats.proto](https://github.com/envoyproxy/envoy/blob/b09184f8e9e17839f555f78ad8dbbcc57e3709db/api/envoy/config/metrics/v3/stats.proto#L107-L109) still relevant after safe_regex was implemen

[2020-03-02 17:37] codervinod commented on #3634
Will this also send Keep-Alive headers in http response so that http1.1 clients can negotiate timeout with server? Example app:
![image](https://user-images.githubusercontent.com/7387542/75701856-58d69200-5c69-11ea-9440-e1c9f44cd568.png)

[2020-03-02 18:56] zuercher commented on #10105
Each extension has a name used in the build system. For example, `envoy.filters.network.http_connection_manager`.

Each extension has a separate defined name used in configuration. For many older filters, this configuration "well-known name" did not match the extension name. For example, the http connection manager's well-known-name was `envoy.http_connection_manager`. Newer filters were required

[2020-03-02 21:07] lizan commented on #10222
@qiwzhang

[2020-03-02 21:37] qiwzhang commented on #10222
Please see my replied in https://github.com/google/jwt_verify_lib/issues/43

For Envoy or Istio,  since it is NOT using the latest version.  It is using 2020-01-08 version.  I also tested it with the JWT.  It works.

Are you sure you the included JWT is the problem one?

[2020-03-02 22:16] qiwzhang commented on #10222
https://github.com/envoyproxy/envoy/pull/10228 will update jwt_verify_lib to the latest.

[2020-03-02 22:27] #10225 closed

[2020-03-02 23:35] lizan commented on #10186
Tests are not built against gcc, there has been proposals but no one took action on gcc test CI integration yet. clang-9 is recommended version.

[2020-03-03 01:14] kb000 opened #10229 "Explicitly test for header presence/absence in router_check_tool"
*Title*: Router check tool could check for absence or presence of a header, regardless of header value.

*Description*:
router_check_tool can verify HTTP header values, but not explicitly test for http header absence.  There's a workaround to test for empty value string, which is nearly but not quite the same thing.
Adding `present: true/false` to the `request_header_fields` and `response_header_f

[2020-03-03 02:52] Shikugawa commented on #10209
@lizan This problem may be resolved with `getResourceName` in #9649. So I will fix them after merging it.

[2020-03-03 03:35] akshaysu12 commented on #10195
@mattklein123 I'd like to help out with this!

[2020-03-03 08:55] seflerZ commented on #10059
@bcba25 I'm not quite sure what you problem is. Did you fail to config Envoy to boot up?

[2020-03-03 10:16] bcba25 commented on #10059
@seflerZ currently my problem is that I setup envoy proxy and xds rds working for http services but not grpc. When I try to forward traffic from grpc-web to envoy on my angular app, I do receive cors errors.

[2020-03-03 12:17] chemicL opened #10231 "stats: differentiating HTTP statuses generated by Envoy from those returned by upstream"
*Title*: *Differentiating HTTTP statuses returned by upstream from ones generated by Envoy in stats*

*Description*:

*Relevant Links*:
I created [a repo to demonstrate some timeouts Envoy can generate](https://github.com/chemicL/envoy-timeouts). If you run the examples it will be easier to go through the statistics in the admin panel to see there's no easy way to tell that it was Envoy that gener

[2020-03-03 14:02] surki commented on #9765
@wozz Looks I am running into the same problem in 1.13.0, but strangely the crash for me is in Lua filter. Below are relevant snippets, please let me know if you need any other information.

[code]

<details>
<summary>envoy.yaml:</summary>

[code]

</details>

<details>
<summary>lds.yaml:</summary>

[code]

</details>

If the `/etc/envoy/example-com.{crt,key}` files are missing, I am getting the a

[2020-03-03 15:29] sgtsquiggs opened #10235 "Implement grpc-gateway's patch feature for GrpcJsonTranscoder"
grpc-gateway [implements](https://grpc-ecosystem.github.io/grpc-gateway/docs/patch.html) Google's ["Standard API" Update method](https://cloud.google.com/apis/design/standard_methods#update), which we use w/ grpc-gateway. We'd love to switch to Envoy to reduce the complexity of our services but this is holding us back. Is this functionality already implemented, or is this a feature request?

[2020-03-03 16:36] abaptiste commented on #6748
@mattklein123 Here's a document with a proposed implementation:

https://docs.google.com/document/d/1pTmd-ZMD-4VEdZOWeG4pgBBWUsp0D5z4wipK-FiXdiU/edit?usp=sharing

Please review and let me know if you have any problems accessing it.

[2020-03-03 16:39] mattklein123 commented on #10195
@akshaysu12 great thanks!

[2020-03-03 17:26] Jingzhao123 opened #10237 "Why using docker sha256 to get docker build image but not docker image tag in bazelrc ?"
As we known, when building the envoy by docker, the code will use the default image-- envoy-build-ubuntu@sha256:xxxxxx -- to build the binary. And the default image name is stored in .bazelrc file.

My question is:
Is there any reason about why using the sha256 value but not directly use the docker tag ?
If both methods are feasible, could i replace the sha256 with docker tag ? In my opinion, if u

[2020-03-03 18:03] asraa commented on #9573
We might also want to target certain specific files to have a higher fuzz coverage % -- codec_impls, tokenization libraries, etc.

[2020-03-03 19:07] yskopets commented on #9998
@mattklein123 I'm actively working on this feature

[2020-03-03 19:58] sunjayBhatia opened #10239 "quiche: fix compilation on Windows with MSVC"
*Created this as an `envoy` issue instead of a `chromium` one as it is most relevant to our Windows port efforts and a `chromium` issue felt heavyweight, please let us know if we should instead make a `chromium` issue*

*Description*:
Currently `quiche` does not compile with MSVC on Windows. In `quic/core/quic_versions.h`, MSVC does not evaluate [this method](https://quiche.googlesource.com/quiche

[2020-03-03 20:02] sunjayBhatia commented on #10239
cc @danzh2010 a `quiche` issue for your review

[2020-03-03 22:11] jmuia opened #10241 "Segmentation faults in Lua filter (LuaThreadLocal)"
*Title*: *Segmentation faults in Lua filter (`LuaThreadLocal`)*

*Description*:
Envoy occasionally crashes, which is unexpected.

*Repro steps*:
Unsure how to reproduce at the moment, it seems spurious (<5 times per day in a QA fleet since collecting core dumps).

It has been observed in:
* `1.12.2` + #9121 + #9509 + patches from `1.12.3`
* `1.13.1`

We haven't collected core dumps from other vers

[2020-03-03 22:53] tonya11en opened #10242 "CI/tools: Format checker is not deterministic"
During the format checker step of CI for https://github.com/envoyproxy/envoy/pull/10230, the tool doesn't deterministic output.

In one commit, it suggests:
![](https://user-images.githubusercontent.com/1109246/75825544-6f104b00-5d5a-11ea-9f08-2210b5137c24.png)

After applying the patch, it then fails again:
![](https://user-images.githubusercontent.com/1109246/75825591-83ecde80-5d5a-11ea-82a8-1b3

[2020-03-03 22:57] mattklein123 commented on #10242
cc @htuch @lizan

[2020-03-03 23:52] mattklein123 commented on #10241
Is there any more detail you can share about your use of Lua or any of the times that it crashes? Do you use LDS to deliver Lua config? Nothing immediately comes to mind from the core dump. cc @dio

[2020-03-03 23:54] mattklein123 commented on #6748
@abaptiste do you mind providing comment access? Thank you!

[2020-03-04 00:37] sumukhs commented on #6748
@abaptiste - Have you taken a look at this implementation? https://github.com/sumukhs/envoy-dnsfilter

I do see some parallels with the design in your document, but wanted to touch base and see if we can come up with something that meets both our requirements. I had discussed this with @bcelenza and we had agreed on the direction based on the conversation in this thread.

One missing piece I notic

[2020-03-04 01:28] frenchzed commented on #10105
@zuercher that's exactly what I was doing, except that I was referring to the doc, not examples:

![image](https://user-images.githubusercontent.com/4069230/75835643-6a18bf00-5d8d-11ea-8609-2cf187b79ab4.png)

[2020-03-04 02:59] stevenzzzz commented on #9254
I believe this is fixed by #9779, in RDS onConfigUpdate a local init-manager is used instead of listener's init_manager_ in VHDS's subscription creation.

[2020-03-04 03:00] stevenzzzz commented on #9254
apparently I can't close it. :)

[2020-03-04 03:01] stevenzzzz commented on #9701
/assign stevennzzzz

[2020-03-04 03:02] stevenzzzz commented on #9701
/assign stevenzzzz

[2020-03-04 05:02] dio commented on #10241
ACK, more info on this will be very helpful.

[2020-03-04 05:17] surki commented on #10241
@mattklein123 @dio I see a similar crash due to SDS problem (when certs are missing), may be related to this? https://github.com/envoyproxy/envoy/issues/9765#issuecomment-593965601

@jmuia do you have listeners with tls context configured?

[2020-03-04 15:38] danzh2010 commented on #10239
/assign danzh2010
Thanks for reporting this issue! I will added the fix in the next QUICHE update.

[2020-03-04 20:40] donyu opened #10254 "Adding abort-percentage and abort-http-status HTTP filters"
**Title**: Add capability to control abort-percentage & abort-http-status settings using HTTP headers

**Context**: At Lyft, we have plans to run client-side fault injection tests. These tests would allow engineers to gain visibility into how our apps actually behave in degenerate conditions such as backend service mesh outages and connectivity loss. Some example use cases include:

* Simulating c

[2020-03-04 21:33] kyessenov opened #10255 "Proposal: add response flag for direct response"
We use a route action to return a custom error code (not 404) for when the route is not found. We would like to see that the route action was selected in an access log extension. The proposal is to add a response flag to indicate that a direct response action was chosen (for both HTTP and TCP), similarly to how NR would be used if it allowed non-404 response code.

[2020-03-04 21:35] zuercher commented on #10105
I see. That's turns out to be the reason I undertook the change -- so that we could correctly generate that line in the documentation.

[2020-03-04 22:08] #9254 closed

[2020-03-04 22:10] mattklein123 commented on #10241
Yes I think it's possible that the crash is due to listener teardown issues. We just fixed something similar in a different filter (cc @yuval-k), but it would be nice to confirm that is what is happening.

[2020-03-04 23:15] mattklein123 opened #10256 "xds: add key-frame/i-frame concept to delta xDS"
We should add the capability to signify a delta update as a "key-frame"/"i-frame" (as in video encoding). The idea here is the management server can indicate via a boolean that the client should flush all state and proceed to add any resources indicated in the delta update.

In many cases this will allow for a substantially simpler implementation of the management server in which delta updates can

[2020-03-04 23:38] kyessenov opened #10257 "allow changing trace propagation for mirrored traffic"
It appears that mirrored traffic receives a hard copy of the headers together with all the tracing headers. I think we need to allow:
- opting out from tracing for mirrored traffic
- spans should not always be shared between the mirrored and the original request (e.g. if a span is opened, it should be opened twice)

Ref: https://github.com/istio/istio/issues/21700

[2020-03-04 23:54] nmalika5 commented on #9876
Following on that issue. I was able to test it out with 10K certs using static configuration on a single envoy listener. It took ~12s for listener to load with total occupied memory as 614mb.

[2020-03-04 23:54] #9876 closed

[2020-03-04 23:54] snowp commented on #10255
You should be able to tell by looking at the `responseCodeDetails` value on `StreamInfo` from within your extension (it would say `direct_response`). Would that work for you?

[2020-03-05 00:01] kyessenov commented on #10255
Yeah, that works. Is there a principle when to use response flags vs response details?

[2020-03-05 00:04] snowp commented on #10255
In my mind response flags is a list of events that occurred during the stream (e.g. you can have UF,URX if you go upstream failures + exceeded retry count), while response code details is specifically what triggered that status code.

[2020-03-05 00:20] kyessenov commented on #10255
OK, in that case response code details seems like the right option. Thanks!

[2020-03-05 00:20] #10255 closed

[2020-03-05 00:38] gongcon commented on #10059
Here's my hacking solution. I setup 2 endpoints (let say DNS name is A and B) in xds_cluster and lb_policy to ROUND_ROBIN. I have mutex setting what Envoy instances A and B supports. When an Envoy requests for configs, A accepts it and returns something, yet B rejects it by throwing an exception in `DiscoveryServerCallbacks#onStreamRequest()`. When I need Envoy getting configs from B instead of A,

[2020-03-05 01:45] #10237 closed

[2020-03-05 02:09] gary-20 opened #10258 "Question on Envoy performing search and actions on http message content"
Envoy has provided a large number of filters, but does Envoy provide the functionality of searching(inspecting) the http content(i.e., HTTP message body) and performing an action on the message body if certain pattern is discovered?

And, does Envoy support passing the http message content to a 3rd party application and the 3rd party application will return the modified message content back to Env

[2020-03-05 02:44] jmuia commented on #10241
**Uses of Lua include:**
* Transforming request headers (eg. setting new request headers based on incoming request headers)
* Responding to certain healthcheck requests

**Timing of crashes:**
I need to collect more data here, but the couple of crashes that I've spot checked so far have happened upon a cold start.
[code]

Yep, we use LDS for this.

If it would be helpful I can provide the backtrac

[2020-03-05 03:13] wcmolin opened #10259 "How do I modify the value in redirect（302） location"
*Title*: *How do I modify the value in redirect（302） location*

*Description*:

envoy is ``v1.13.0``

like the ``nginx`` config :
[code]

*Config*:

[code]
*Logs*:

[code]

[2020-03-05 04:18] Salem12897 opened #10261 "www.filtex.com"
**WARNING: If you want to report crashes, leaking of sensitive information,
and/or other security issues, please consider
[reporting them using appropriate channels](https://github.com/envoyproxy/envoy#reporting-security-vulnerabilities).**

**Issue Template**

*Title*: *One line description*

*Description*:

describe the desired behaviour, what scenario it enables and how it
would be used.

[opti

[2020-03-05 05:40] #9776 closed

[2020-03-05 06:40] #9798 closed

[2020-03-05 14:12] snowp opened #10264 "Hot restart support for user defined tags"
After https://github.com/envoyproxy/envoy/pull/9743 we support specifying tags on metric creation, but there is no mechanism to populate the tags for metrics object after a hot restart. The full name (with the tag key-values included) would be transferred over, but without knowing how to split the name this would become the new stat name, and no tags would be moved over.

One possibility would be

[2020-03-05 16:40] #9789 closed

[2020-03-05 16:43] mattklein123 commented on #10257
SGTM

[2020-03-05 17:45] veshij opened #10266 "/reopen_logs admin handler"
In our environment processes run in isolated process namespaces and cannot send signals to each other.
We need to implement correct log rotation for envoy, and possible solution is to expose /reopen_logs admin handler which triggers AccessLogManager's reopen() similar to SIGUSR1 handler.

Implementation might be pretty straightforward:
[code]

[2020-03-05 17:46] veshij commented on #10266
I can work a PR if that sounds reasonable to upstream.

[2020-03-05 17:48] mattklein123 commented on #10266
Sure SGTM, thanks.

[2020-03-05 17:56] mattklein123 commented on #10254
Thanks for opening! Whatever we implement we should definitely do as part of the current filter filter.

My only real question is whether the percentage header as value? Couldn't the client just calculate its own percentage? Or do you want this for simplicity? I don't feel strongly about it one way or the other.

[2020-03-05 17:58] mattklein123 commented on #10241
Possibly related: https://github.com/envoyproxy/envoy/issues/9940

[2020-03-05 18:35] stevenzzzz commented on #9635
PR #9779 merged, close this issue now.

[2020-03-05 18:35] #9635 closed

[2020-03-05 18:37] donyu commented on #10254
Thanks for the feedback! I updated the issue to reflect only adding to the current fault filter.

Yes, the client can calculate the fault-abort-percentage on its own. We wanted to expose this header for both simplicity (less client-side logic) and to ensure platform consistency.

[2020-03-05 18:41] mattklein123 commented on #10254
SGTM

[2020-03-05 20:00] kyessenov commented on #10257
I can work on this.

[2020-03-05 20:01] kyessenov opened #10269 "Conditionals in the access log"
We would like to report downstream and upstream TLS properties in the access log. Istio only allows a single format string for all proxies, so it would be nice to have a conditional in the access log depending on the traffic direction as a condition.

[2020-03-05 20:05] antoniovicente opened #10270 "LWS in H1 header values may be stripped out when proxying."
The code to strip out whitespace at the beginning and end of H1 header values is a bit too aggressive.  It strips out spaces at the beginning and end of each chunk provided by the H1 parser to ConnectionImpl::onHeaderValue.  Those chunks roughly map to either buffer slices or readv boundaries.

Sample request that reproduces the issue:

GET / HTTP/1.1
host: foo.com
k: v <32kb of spaces> v

Proxied

[2020-03-05 21:06] ggreenway opened #10272 "tls_inspector listener_filter is automatically added when using http_inspector"
*Description*:
When the http_inspector filter is used with a `filter_chain_match` rule using `application_protocols`, the tls_inspector listener_filter is automatically inserted as well.

*Repro steps*:
Run the following config:

[code]

*Logs*:
`[2020-03-05 13:00:32.620][26037][warning][config] [source/server/listener_impl.cc:299] adding listener '0.0.0.0:80': filter chain match rules require TLS

[2020-03-05 21:07] ggreenway commented on #10272
This is a minor annoyance, and possibly a minor performance degradation. Mostly just something I noticed and thought "that's not what I wanted to have happen".

[2020-03-05 21:28] mattklein123 commented on #10270
cc @alyssawilk

[2020-03-05 21:46] spiliopoulos opened #10273 "Upgrading lightstep tracer version + making propagation mode configurable"
*Description*:
This is a feature request. Right now envoy is using a very old version of the lightstep cpp tracing library that only supports 2 propagation modes that do not include b3 propagation. It would be great if we could upgrade the library to get access to more propagation mode and make selecting the propagation mode user configurable. This will enable developers to select the propagation

[2020-03-05 22:15] markozhen opened #10274 "http: add max stream time"
Hello. We're trying to terminate downstream http2 connections periodically using max_connection_duration. The goal is, for long-lived streaming requests, to have clients select a new upstream host after max_connection_duration has elapsed, and therefore balance new and existing client connections as the backing application scales out.

After some testing, I've noticed that when there are active st

[2020-03-05 23:53] rnburn commented on #10273
I have a PR in progress to update the LightStep tracer (https://github.com/envoyproxy/envoy/pull/10152)

I plan to follow on with another PR to make the propagation mode configurable.

[2020-03-06 00:00] mmatusiak-atlassian opened #10277 "Unable to parse budget_percent literal in yaml config"
I'm trying to use circuit breakers with a retry budget. The relevant config is:

[code]

Trouble is the yaml parser won't accept this value:

[code]

I've unsuccessfully tried to write this literal in the following ways:

- 25
- "25"
- 25.0
- "25.0"
- 0.25
- "25%"

I'm using envoy version: envoyproxy/envoy-alpine:v1.13.0

[2020-03-06 00:12] Augustyniak commented on #10254
we can default to 100% in case `x-envoy-fault-abort-percentage` HTTP header is missing.

[2020-03-06 01:20] euroelessar commented on #10274
`max_connection_duration` is expected to be used purely for graceful termination flow with zero availability hits.
Did you consider using `HttpConnectionManager.request_timeout` to limit lifetime of individual requests?

[2020-03-06 03:11] mindyor opened #10282 "Lua: timestamp in millis/ns"
*Description*:
We want to record timestamps in a Lua filter so that we know when requests and responses occur (and eventually derive the duration).
It appears Lua doesn't have a function to do this - os.time provides current time, but only at seconds, not millis or ns. os.clock provides a timestamp, but only for time spent in Lua.

Maybe something like `request_handle:timestamp`?

*Relevant Links*

[2020-03-06 03:35] dio commented on #10282
cc. @vmg

[2020-03-06 03:36] dio commented on #10282
Should we reopen https://github.com/envoyproxy/envoy/issues/8461?

[2020-03-06 04:14] snowp commented on #10282
I think exposing a straight up high precision timestamp function would be fine, though now that I see #8461 I realize there's a bunch of gotchas around the timings as @vmg points out in his detailed post.

I think in theory exposing an `upstreamTiming()` function that yields until `end_stream=true` has been seen (to ensure that the router has populated the timings) would be a fairly elegant soluti

[2020-03-06 04:38] #10138 closed

[2020-03-06 04:45] mattklein123 commented on #10277
cc @tonya11en. It would be good to get a doc update once we figure this out. Thank you!

[2020-03-06 04:46] mattklein123 commented on #10272
cc @PiotrSikora is this intentional?

[2020-03-06 05:36] rohaldbUni commented on #10277
I'm facing the same issue with the healthy_panic_threshold field, which is also a percent type

[2020-03-06 06:04] dio commented on #10282
I think we can start with adding a simple timestamp function.

[2020-03-06 09:37] markozhen commented on #10274
We've tested `request_timeout` with a bidi grpc stream and it does not work. Specifically, the timer gets disarmed on the first response message from upstream (in [conn_manager_impl.cc#L1527](https://github.com/envoyproxy/envoy/blob/master/source/common/http/conn_manager_impl.cc#L1527))

Additionally documentation [here](https://www.envoyproxy.io/docs/envoy/latest/faq/configuration/timeouts#stream

[2020-03-06 11:56] dwmw2 commented on #1106
Regarding the use of hardware tokens, and even various different file formats: please see http://david.woodhou.se/draft-woodhouse-cert-best-practice.html

[2020-03-06 16:27] abaptiste commented on #6748
@mattklein123 I updated the permissions on the doc.

@sumukhs I did look at your implementation.

Correct me if I am not understanding.  It seems that we want Envoy to forward queries to an external server for names that are not virtual hosts or clusters.

Envoy should be able to determine whether it is the authoritative server for the query and divert the query externally if necessary.

[2020-03-06 16:34] #9269 closed

[2020-03-06 16:35] mattklein123 commented on #10274
See https://www.envoyproxy.io/docs/envoy/latest/faq/configuration/timeouts for a discussion of how to configure stream timeouts that will work for streaming requests.

[2020-03-06 16:39] sumukhs commented on #6748
Yes that's right. Does this implemention work for you guys?  I recall @bcelenza had 1 requirement which wasn't addressed in the implementation. Could we work together on adding that to the current implementation?

[2020-03-06 16:56] mattklein123 commented on #10282
I also agree that we can just add a high resolution timestamp function. It should be simple and it would allow the filter to gather its own timing information in typical cases. I agree there are likely better ways of tackling the holistic stream timing problem, but that seems a lot more complicated to solve and I think that can be done orthogonally. I did reopen that issue though and marked it hel

[2020-03-06 16:59] abaptiste commented on #6748
Until @bcelenza comments, I have a couple questions.

- Why wasn't this implementation upstreamed and made in-tree?
- What's the benefit of defining a new listener instead of writing a filter for an existing UDP listener?

For the second question I get that UDP listeners didn't exist when the DNS Filter was started, but is there a clear advantage of going one way or the other?

[2020-03-06 17:07] sumukhs commented on #6748
The dns filter was lowered in our priority among other work items. The initial work was done to validate the proof of concept and it is at a stage where it is ready to get upstreamed if we agree on the goals.

For the second part, there is no new listener. I added the udp listener in envoy before starting to work on the dns filter. As you correctly point out, the dns filter is indeed a new filter

[2020-03-06 17:11] snowp commented on #10282
SGTM, sounds like we can handle this as two separate issues. @mindyor were you planning on adding this function or should I mark this as help wanted?

[2020-03-06 17:12] ggreenway commented on #10272
Here's what I think happened:

Long ago, the tls_inspector was added, and at the time, it was the only filter that would set `application_protocols`. So to make config less error-prone, we added auto-insertion of tls_inspector if a config was using a `filter_chain_match` that looked at `application_protocols`

Then later, the http_inspector was added, which can also set `application_protocols`. At

[2020-03-06 17:20] markozhen commented on #10274
@mattklein123  We've reviewed the linked documentation, however, none of the discussed points enables us to limit the max duration / lifetime of a stream. For a busy bidi stream, it will never hit the `stream_idle_timeout`. Moreover:
- `request_timeout` is disarmed (see above)
- route `timeout` is disabled (`onRequestComplete()` not called in router.cc when end_stream=false)
- connection `idle_tim

[2020-03-06 17:38] deedubs commented on #10171
I could see using a Vault CRL distribution point as an excellent source https://www.vaultproject.io/api-docs/secret/pki/#read-crl

[2020-03-06 18:00] mattklein123 commented on #10274
OK I see. Yes we would need to add a new timeout around max total stream time or something like this. I will mark this a help wanted feature request.

[2020-03-06 18:05] mindyor commented on #10282
Happy to add the function. Thoughts on the API? Not sure if `StreamHandleWrapper` is the right place to put the function.

[2020-03-06 19:09] tonya11en commented on #10277
@mmatusiak-atlassian this will work:
[code]

Sorry for the confusion in the docs. Percent protos store their values in the `value` field:
[code]

I think it's relevant for @rohaldbUni as well.

[2020-03-06 19:11] snowp commented on #10282
I think it makes as much sense to have this function on `StreamHandleWrapper` as some of the other existing calls, I don't think there's a need to try to introduce a new class yet.

[2020-03-06 19:35] htuch commented on #5155
@derekargueta any update on status here?

[2020-03-06 20:18] junr03 opened #10291 "api_listener: allow the api listener to configure settings for the synthetic connection"
*Description*:
Right now the SyntheticConnection used inside the Api Listener is not configurable. For instance there is no way to change the return value of the [ssl()](https://github.com/envoyproxy/envoy/blob/9105aead0f5c89419bd2aca789b3738967c0baa1/source/server/api_listener_impl.h#L117) call. This can have implications in the requests that are created by the Api Listener. For instance, for the

[2020-03-06 20:43] bcelenza commented on #6748
I see three requirements here that I think we need to address:

1. Whitelisted domains for which the proxy is allowed to respond to at all.
2. Fallback configuration for when the proxy receives a query for a whitelisted domain, but doesn't have a record.
3. Fallback configuration for when the proxy receives a query for a non-whitelisted domain

@sumukhs Does #2 sound like the right expression of i

[2020-03-06 21:02] PiotrSikora commented on #10272
@ggreenway yeah, that's the reason why this happens.

However, I'd argue that this behavior is still correct given pasted configuration, since it depends on the `application_protocols`, which can be populated by the TLS inspector.

If you want to disable TLS inspector, then you can limit the scope of the match to a specific transport protocol (e.g. `transport_protocol: envoy.transport_sockets.raw_

[2020-03-06 21:04] derekargueta commented on #8571
Yes refresh tokens will be supported, I’ll update the doc

[2020-03-06 21:27] ggreenway commented on #10272
Oh, that's a good catch regarding `transport_protocol` match. Thanks!

My counter-argument is that Envoy doesn't have enough information here to know whether it is correct to do this. In many cases it is correct; in a case like the one I pasted above (where there's no TLS happening at all, either sniffing or terminating), it is incorrect.

But the workaround of making a more specific match is good

[2020-03-06 21:52] moderation commented on #5155
@htuch I've done my part to encourage @derekargueta :wink: https://twitter.com/moderat10n/status/1230125590428053509

[2020-03-06 22:20] sumukhs commented on #6748
(1) addresses the intent. (2) is something I have not captured because my expectation was that this just means there is a transient fail over or some other situation causing the config to not contain and record - which means we must reply back with NX_DOMAIN and the client can retry later.

Agree with the security aspect of (1). Is there a reason why the dns filter repo I created is not forked and

[2020-03-06 22:24] bcelenza commented on #6748
I believe we wanted to start from the latest master base in the main repo and build up from the official contributions of UDP, etc.

Is there a specific concern over using your implementation? For background: we've actually had multiple POCs around this that never ended up getting posted publicly. We're not worried about the cost of unit test coverage, etc., just to get assurance we're building fr

[2020-03-06 22:54] sumukhs commented on #6748
No specific concern. Since the 2 of us had spent some cycles along that path with the config reviews and understanding what each of us wanted for the dns filter, taking the existing code to the requirements seemed like the path with least work. Also, given the implementation already took care of most of the points above, it is just a matter of adding 1 additional feature from what I recall you wan

[2020-03-07 00:50] bcelenza commented on #6748
Thanks, that makes sense. We have a similarly working code base that's based off the most recent master branch, so we'll be starting there.

I'd like to make sure we codify the requirement appropriately, so @abaptiste let's get the whitelist revision reflected in the current [design document](https://docs.google.com/document/d/1pTmd-ZMD-4VEdZOWeG4pgBBWUsp0D5z4wipK-FiXdiU/edit?usp=sharing).

[2020-03-07 03:07] #9438 closed

[2020-03-07 06:41] prahaladramji commented on #9849
rebuilding the jaeger-client-cpp worked with the latest image
Patch Build, to build with libc++ tested and working with `envoyproxy/envoy:v1.13.1` ubuntu image.
https://github.com/jaegertracing/jaeger-client-cpp/issues/183#issuecomment-595790140

[2020-03-07 08:11] Shikugawa opened #10296 "logging: gRPC status should be extracted from stream_info"
It seems that we can't extract `grpc-status` from stream_info directly now. Any other status-related info (e.g. response code) can extract from it but that not. I think that is should be extracted from that information pack. Do you think about it?

[2020-03-07 11:51] #9933 closed

[2020-03-07 12:45] sp-manuel-jurado commented on #9922
Hi @dio sorry for the delay,
here is the code: https://github.com/sp-manuel-jurado/envoyproxy-envoy-issues-9922
cc @mattklein123 @lizan @kyessenov @derekargueta

If you want to run the tests in your local machine:
- `git clone git@github.com:sp-manuel-jurado/envoyproxy-envoy-issues-9922.git`
- `cd envoyproxy-envoy-issues && make envoy-e2e`

---

README.md:

# envoyproxy-envoy-issues-9922

Related

[2020-03-07 23:37] #4534 closed

[2020-03-08 15:27] danlanxiaohei opened #10301 "Add downstream keepalive config for envoy"
*Title*: *Add downstream keepalive config for envoy *

*Description*:

the configuration follows https://www.envoyproxy.io/docs/envoy/v1.12.0/configuration/best_practices/edge.html?highlight=timeout

but, if the client disconnect unexpected (disconnect without FIN, such as the net goes wrong), envoy will never know that!
I know we can config the system tcp_keepalive_timeout , but i think the best

[2020-03-08 16:34] danlanxiaohei commented on #10301
@lizan @zuercher

[2020-03-08 19:55] #9869 closed

[2020-03-09 04:45] #10192 closed

[2020-03-09 07:27] Shikugawa commented on #10274
@mattklein123 I will help you if there is no person working on this. Would you mind to assign me?

[2020-03-09 07:28] dio commented on #10274
/assign Shikugawa

[2020-03-09 07:59] tb438 opened #10304 "Method of gRPC Multicast or Channel Mirroring?"
This is sort of a weird architecture question but I thought I'd ask here first, related to gRPC channel multicast I guess if that's an accurate descriptor.

I am looking at Envoy for AWS Lambda function routing via Gloo and I am trying to figure out an optimal way of leveraging gRPC bidirectional streaming with a type of multicast requirement. I have a bunch of gRPC-based mobile clients that will

[2020-03-09 12:56] alyssawilk commented on #10270
Now that http_parser is fixed, we should just bump that dependency and remove the in-process workaround.  It'll fix this bug and be less fragile anyway.

[2020-03-09 13:04] alyssawilk commented on #10296
cc @lizan

[2020-03-09 13:07] alyssawilk commented on #10301
Hm, if you have a gRPC streaming server which expects regular messages, wouldn't the stream timeout kick in when the client died, the streams would be removed, and then the idle connection timeout would kick in?  I agree it wouldn't hurt to avoid the two phase timeout, but I think in the situation you describe there's a way to get the behavior you want.

[2020-03-09 13:26] danlanxiaohei commented on #10301
@alyssawilk thank you for reply.
In my demo , it is a gRPC bidirectional streaming server. the [document](https://www.envoyproxy.io/docs/envoy/v1.12.0/configuration/best_practices/edge.html?highlight=timeout) says the stream_idle_timeout and request_timeout must be disabled for long-lived and streaming requests, so i set them to 0s, which mean there is no stream_idle_timeout, i only set the common

[2020-03-09 13:48] alyssawilk commented on #10301
Thank you for the helpful link - I can see where if you follow that advice you'd have a problem.   We should definitely get consensus amongst maintainers how we want to handle timeouts for traffic of this nature and either update docs or enhance the code!
@PiotrSikora @lizan @mattklein123 I'd lean towards high stream timeouts here, but as said I could go with that or an overall idle timeout. Thoug

[2020-03-09 13:52] htuch commented on #9934
When re-establishing connection to control plane 2, Envoy should be establishing a CDS DiscoveryRequest (even though it's not part of warming CDS should want to maintain an active subscription). It's the responsibility of control plane 2 to deliver the DiscoveryResponse where cluster 1 is removed, which should then influence the warming.

[2020-03-09 14:51] hirenshah05 commented on #4540
I was curious about time-line on this feature (FDS). Looks like lot of work is already committed.

[2020-03-09 15:39] #9701 closed

[2020-03-09 16:27] nezdolik opened #10308 "Feature request: Histogram for header sizes"
Would be nice to enrich existing stats with histogram for header sizes per upstream.
Can work on this feature if it's something we want to add.

[2020-03-09 17:08] kyessenov commented on #9682
Can this issue be re-opened please?

[2020-03-09 17:19] howardjohn commented on #9682
It looks like what happens is:

* Pod starts up, sends CDS request with node metadata, then all the other XDS without metadata. :+1:
* I restart the control plane pod. Client envoy logs:

[code]
* New control plane comes up, client envoy connects. It sends a CDS request with no node id. Logs from client envoy side:

[code]

So basically we just need to make sure that when connecting to a new upstr

[2020-03-09 18:30] kyessenov commented on #9682
It appears that the flag was disabled in tests by @fredlas during incremental xDS work and not restored back. Something broke it in the mean time. I'll take a look.

[2020-03-09 18:39] mattklein123 commented on #10226
Always prefer not using regex matching if you can avoid it, thus the warning still stands.

[2020-03-09 18:40] mattklein123 commented on #10235
cc @lizan

[2020-03-09 18:41] fredlas commented on #9682
I know the one you mean - #8478 restored it, but was later rolled back. This sounds like more reason to get that change fully in.

[2020-03-09 18:42] mattklein123 commented on #10269
@kyessenov can you put together a design proposal for this? It's not clear to me how this is going to work.

[2020-03-09 18:43] mattklein123 commented on #10308
cc @jmarantz @adisuissa this might be useful for header map optimization work?

[2020-03-09 18:43] kyessenov commented on #9682
@fredlas I don't have a clear picture on the state of things. Should I attempt to restore `set_node_on_first_message` or wait for that change to be brought back in?

[2020-03-09 18:44] mattklein123 commented on #9682
https://github.com/envoyproxy/envoy/pull/8478 was abandoned and @wgallagher is working on the merge now. He is on vacation this week though. @kyessenov if this is not super urgent I would wait until next week to talk to @wgallagher. If urgent I think it's OK to figure out a fix on top of current master.

[2020-03-09 18:45] kyessenov commented on #9682
I'm fine waiting. It's unfortunate though since the flag is considered stable.

[2020-03-09 21:23] lita opened #10310 "gzip: Be able to only compress external responses"
*gzip*: *Be able to only compress external responses*

*Description*: Since gzip is pretty computationally heavy, it would be great if envoy had the option to only gzip responses that will be external. We don't want to gzip at the front proxy layer, as our front proxy is CPU sensitive. But it would be great if we can compress just one hop over at the sidecar of edge services.

Ideally, this means

[2020-03-09 21:25] mattklein123 commented on #10301
Sorry I'm not sure I fully understand the problem. Why don't TCP keep alives work? What is the specific problem you are trying to guard against?

[2020-03-09 21:29] mattklein123 commented on #10310
See https://github.com/envoyproxy/envoy/pull/10306 for merging gzip into the generic compression filter. cc @rojkov @rebello95

I think there are two general ways of accomplishing this:
1) Allow configurable header match rules that would additionally gate compression on the filter config.
2) Allow per-route compression filter config, so that compression matching could be built into the route itsel

[2020-03-09 21:41] derekargueta commented on #5155
No status update at the moment - I have started catching my stale branches up to master. There's been some refactorings of the HTTP codecs that I need to work through

[2020-03-09 21:52] #8412 closed

[2020-03-09 21:55] neufeldtech commented on #9387
@cbarbara-okta I believe I'm experiencing something similar in envoy 1.11.0. I don't seem to be able to find the correct combination of settings in order to reduce the idle timeout on my upstreams. I have tried the per-route setting to no avail. Could you share the code snippet of your working config after you solved it in your case? Thanks!

[2020-03-09 23:24] qiwzhang commented on #10235
It is not implemented.   This is a feature request.

[2020-03-09 23:25] gkleiman commented on #10158
@kikogolk are you sure that your ext authz service is responding with a 503?

I tried this using a [very simple HTTP/2 server](https://gist.github.com/gkleiman/0dbc08bd9803fa685367c66a639f3aac) that always responds with a 503 and an empty response body and I couldn't reproduce the behavior you describe.

In my tests Envoy will allow the request and increase both the `http.ingress_http.ext_authz.er

[2020-03-09 23:50] dio commented on #10235
@qiwzhang just curious, should that be implemented in the filter or library side (https://github.com/grpc-ecosystem/grpc-httpjson-transcoding)?

[2020-03-10 00:04] tinder-mattheworlove commented on #5267
bump

We currently have this issue trying to use Envoy as an edge proxy. The remoteAddress used to compare against source_ip should honor the flags and settings set in the HTTP connection manager. Very curious if someone has an implementation/setup that works!

[2020-03-10 00:05] mattklein123 commented on #2394
I'm going to close this as this is implemented (to some degree). We can open new issues as needed.

[2020-03-10 00:05] #2394 closed

[2020-03-10 00:07] mattklein123 commented on #2852
I'm going to close this as the filter is implemented. Let's please open more specific feature requests for the filter so we can track things in a more granular fashion. Thank you @adamkotwasinski!!!

[2020-03-10 00:07] #2852 closed

[2020-03-10 00:09] mattklein123 commented on #5784
Calling this done for now. We can track individual issues as needed.

[2020-03-10 00:09] #5784 closed

[2020-03-10 00:12] adamkotwasinski commented on #2852
@mattklein123  yeah, I'm planning to revisit this in April (hopefully) when I'll start work on "fat-mesh" filter. Initially it will be very simple: custom cluster (that manages the internal Kafka-discovery (somewhat similar to redis-cluster code)) and the trivial (non-consumer-group) ProduceRequest & FetchRequest handling.

[2020-03-10 00:22] qiwzhang commented on #10235
Most likely in the library side since it needs  body field names to generate "update_mask",  the filter doesn't have that data.

[2020-03-10 00:28] lita commented on #10310
Okay, I will wait till #10306 is merged before asking someone to work on this. We might as well move towards the generic compression filter with these changes.

[2020-03-10 00:29] danlanxiaohei commented on #10301
@mattklein123 thanks for you reply.

[2020-03-10 01:13] yangminzhu commented on #5267
@mmpei  Would you mind to clarify a little bit what do you mean for "it has supported now", Are you referring to the RBAC filter?

@anpryl @tinder-mattheworlove I'm afraid this is not supported by the RBAC filter because it's hard-coded to use the immediate source IP instead of the remote IP based on the XFF processing.

 @mattklein123 What do you think if we add a `remote_ip` in addition to the [

[2020-03-10 01:19] kyessenov commented on #10269
I have a couple of ideas:

1. Add `%COND(X, Y Z)%` that evaluates `X` first before deciding whether to output `%Y%` or `%Z%`. I think this would require adding a bunch of indicator variables to report on traffic direction and whatnot.

2. Add another expression-based access log filter. Using CEL would be easy since we already have a context defined.

[2020-03-10 01:34] cbarbara-okta commented on #9387
sure @neufeldtech - I'll post the full working `dynamic_active_clusters` section below. If you do a diff from what I posted originally you will see the only addition is
[code]
to both cluster configs.

[code]

[2020-03-10 01:49] dio commented on #10158
@kikogolk could you try to run envoy with `--component-log-level router:debug,http:debug` turned on?

e.g.

[code]

Try to find log lines similar to:

[code]

These lines:

[code]

denote we receive 500 HTTP status code from the "authorization" server.

Thanks!

[2020-03-10 02:34] danlanxiaohei commented on #10301
@mattklein123 thanks for your reply.
I want to tell you my while story, maybe you can understand me better.
In the beginning, i do not use any proxy, the gRPC client connect the gRPC bidi-streaming server directly. the server sets its keepalive [ServerParameters](https://github.com/grpc/grpc-go/blob/master/keepalive/keepalive.go) to 【Time:10s Timeout:20s】,which means server will send h2 ping to th

[2020-03-10 03:06] mattklein123 commented on #10269
We already have `%REQ(X?Y):Z%` and similar. cc @zuercher to advise who I think has the most design intuition on the access logging stuff.

[2020-03-10 05:16] lhmoraes commented on #9050
Hi @tonyboxes I'm facing the same issue, is there any solution?

[2020-03-10 05:22] mandarjog commented on #10269
@kyessenov we can do this, however it seems we should really support differentiation of access logs in Istio.

[2020-03-10 05:24] anpryl commented on #5267
@yangminzhu JFYI, we combined `rbac` filter with `ip_tagging` filter to achienve ip blacklisting for entire virtual hosts and ip whitelisting per routes(we need it in some cases)

[2020-03-10 05:28] snowp opened #10311 "Better handle v2/v3 split in docs search"
When searching the docs all the protobuf entries show up twice with little indication that one is V2 and the other is V3 (besides a small reference in the preview text):

![image](https://user-images.githubusercontent.com/2023366/76282111-fcb8d280-6253-11ea-86a1-07f4e2c18707.png)

(https://www.envoyproxy.io/docs/envoy/latest/search.html?q=cluster&area=default#)

It would be nice to better indicate

[2020-03-10 05:55] ruster-cn opened #10312 "Caught Segmentation fault, suspect faulting address 0x20"
*Title*: *bug report envoy Caught Segmentation fault *

*Config*:
[code]

*Call Stack*:
[code]

[2020-03-10 06:15] dio commented on #10089
So this is similar to `allowed_upstream_headers` (e.g. to be able to state: I only allow `header-name` and `content-type` to be forwarded to upstream) but for query params?

[2020-03-10 10:11] erikbos commented on #10089
Indeed, you could see it like `allowed_upstream_headers` : a way to specify which query parameters are allowed to go upstream.

But.. such allowed list implementation is not ideal for the scenario described above: given I have tens of upstreams I'd rather not specify all possible query parameters supported by those upstreams.

It's more the opposite: in my case I'd like to be able to drop both que

[2020-03-10 10:56] rulex123 commented on #5505
@laphets I could pick this up and help out, unless you are actively working on it?!

[2020-03-10 10:57] kikogolk commented on #10158
Hi all!

Sorry for the misunderstanding, but maybe my description was not good enough. My issue is related to the gRPC Auth Server plugin, not the HTTP one.

When I said the Authz Server responses 5xx, it was the error enclosed inside the CheckResponse gRPC message. I mean, the gRPC Authz Server is responding with a Denied Check Response, setting the Http Status code to 5xx.

Here you have some lo

[2020-03-10 11:23] dio commented on #10158
Yes. I think when your auth-server is able to send back a response, it will fall into one of two possible states: "OK" or "Denied".

The failure itself: if the HTTP status code of the auth-server's response is not 200 (that's why @gkleiman tried to simulate the failure by sending the HTTP status code to 503), while in your case envoy received 200 from the auth-server:

[code]

[2020-03-10 11:49] lathspell commented on #9965
Please can you tag it at least with "help wanted" so that it does not get closed?

[2020-03-10 12:10] neufeldtech commented on #9387
Thank you @cbarbara-okta !

[2020-03-10 13:51] jsenon opened #10315 "Http2 performance issue with firefox"
*Title*: * Http2 performance issue*

*Description*:

When we upload files with Firefox it took 7 times more than in Chrome browser (7s compared to 1s).
We are using H2 protocol.
**When we change the setting network.buffer.cache.size in about:config, our upload time is reduced to 1 second.**

IMO the network size is part of flow control implemented in http2 (https://developers.google.com/web/fundam

[2020-03-10 13:54] alyssawilk commented on #10312
If you can provide additional data, we'd be happy to help you debug.  Please take that to the envoy security mailing list, as the issue template requests, and we'll help you with data gathering!

**WARNING: If you want to report crashes, leaking of sensitive information,
and/or other security issues, please consider
[reporting them using appropriate channels](https://github.com/envoyproxy/envoy#re

[2020-03-10 13:54] #10312 closed

[2020-03-10 15:30] dio commented on #9965
@lathspell sorry I don't really understand this. Could you clarify who decodes the JWT token? Then you want envoy (the ext_authz) to send decoded JWT to OPA service in a specific format?

And if you can draw a simple flow diagram, I'll be very thankful.

[2020-03-10 16:30] hofmannmich commented on #10104
Hi, any response would be very helpful. Thanks in advance.

[2020-03-10 16:51] mattklein123 commented on #10301
This is somewhat related to https://github.com/envoyproxy/envoy/issues/7136.

Why? A TCP keep alive will require less resources than an H/2 PING sent every 30s?

[2020-03-10 16:52] mattklein123 commented on #5267
Yes this makes sense to me.

[2020-03-10 17:23] asraa opened #10318 "[API] Breaking change with RFC header constraints"
This PR https://github.com/envoyproxy/envoy/pull/10093 introduces potentially breaking RFC header validations on header-related fields.

Previously, Envoy code uses debug `ASSERT(valid())` on these fields to guard only against `\r\n\0` characters in headers. However, previously API valid configs may have header related fields that didn't have these characters but were not RFC compliant, These woul

[2020-03-10 18:08] lhluo opened #10319 "[Lua] table body type for httpCall API"
_Description:_
Currently the Lua `httpCall` API only accepts body with type `string`. Since Lua doesn't natively support JSON serialization from a `table` type, it would be useful to be able to pass in the table directly and have Envoy serialize it to a JSON body.

[2020-03-10 18:59] junr03 commented on #10198
cc @htuch @lizan I am back in office, and looking to start a discussion around this. Let me know if you have ideas or work planned in this area as you ramp back up on api versioning work. I'd like to be on the same page as you all in order to prevent making changes here that conflict with your vision for versioning.

[2020-03-10 20:11] gkleiman commented on #10158
According to the `CheckResponse` [message definition](https://github.com/envoyproxy/envoy/blob/5248a4fb7d4c2a3d1fa151f944d3a63f6b7a06cf/api/envoy/service/auth/v3/external_auth.proto#L78-L79) what you observe is the expect behavior:

[code]

`CheckResponse.denied_response.status` can be used to override the status that Envoy will return, but is not used to determine whether a request should be allo

[2020-03-10 22:10] htuch commented on #10198
@junr03 this seems like a useful thing to have. I think with some macro magic we can capture/modify the v2 deps in the v3 APIs and no-op them for v3-only builds. When this compile time flag is set, Envoy will need to ensure it only generates v3 transport/resource versions (and only accepts these from any management server).

There's probably some things missing from the above, but happy to discuss

[2020-03-10 22:50] vijayrajput1 opened #10323 "Fault Injection: Support gRPC status code in abort fault"
***Description*:**

Currently, the Envoy [fault injection filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/fault_filter#config-http-filters-fault-injection) supports the ability to inject an ‘abort’ fault into a response stream. These faults can be [configured](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/fault/v2/fault.proto#envoy-api-ms

[2020-03-10 22:51] dio commented on #10104
Sorry, yeah, I think it is similar with: https://github.com/envoyproxy/envoy/issues/5357?

[2020-03-10 23:30] kyessenov opened #10326 "Blocking log filters"
We would like to hold loggers until a remote call completes. Ideally, `log` callback could return a stop iteration status, and the Envoy suspends stream deletion until the blocking logger triggers the completion. The actual data plane request does not need to be suspended. The use case is a logging filter that needs to receive a response from another (remote) logging filter.

[2020-03-10 23:49] mattklein123 commented on #10326
@kyessenov can you expand a bit? If the data plane request is not being suspended, why does the logger have to hold stream destruction? Can we just hold stream info by shared_ptr if not already done?

[2020-03-10 23:58] kyessenov commented on #10326
The underlying stream can be destroyed. We want to keep the filter state since that's how remote loggers communicates with the local logger. Basically,
1. logger A makes an RPC, returns StopIteration.
2. logger A receives a completion callback, writes status into filter state, calls continue.
3. logger B starts, reads the filter state, and writes a log.

[2020-03-11 00:02] mattklein123 commented on #10326
This will be a substantial project. Please write a design proposal before working on this. Thanks!

[2020-03-11 02:31] ggreenway opened #10328 "Access log specifier %DOWNSTREAM_DIRECT_REMOTE_ADDRESS% does not work as documented with proxy-protocol"
*Description*:
Access log specifier %DOWNSTREAM_DIRECT_REMOTE_ADDRESS% is [documented](https://www.envoyproxy.io/docs/envoy/v1.13.0/configuration/observability/access_log#config-access-log-format-strings) as `This is always the physical remote address of the peer even if the downstream remote address has been inferred from proxy proto or x-forwarded-for.`

*Repro steps*:
Run against attached confi

[2020-03-11 02:34] ggreenway commented on #10328
I see two possibles fixes:

1. Adjust the docs to match current behavior
2. Fix the proxy-protocol handling to set the direct remote adddress correctly

I prefer option 2.

cc @lizan

[2020-03-11 03:47] dio commented on #10158
@kikogolk I'm closing this. But I encourage you to help with PR/issue to improve the docs. Thanks!

[2020-03-11 03:47] #10158 closed

[2020-03-11 09:24] danlanxiaohei commented on #10301
@mattklein123 thanks for your reply.
The reason why i think it is not appropriate is:
1. change the system tcp_keepalive_time will influences all the connections on the machine.(not only my app)
2. i think H/2 PING is an application layer concept. Maybe in the future, it will be implement by udp. The best way to detect h2 client connection is to use h2 ping.(i am not sure, maybe i am wrong 😂)

One

[2020-03-11 12:52] alyssawilk commented on #10318
@asraa thoughts on assigning this your way vs help wanted vs leaving as is?

[2020-03-11 13:02] asraa commented on #10318
Assigned to myself, thanks! I'm on my way working on it :)

[2020-03-11 13:30] hofmannmich commented on #10104
Thank you for your hint to #5357.
This is correct. #5357 but also #6099 are describing the same problem. I think it is confirmed that it must be a bug.
I applied the workaround mentioned by @jcr010910 in #5357 by using
 ```path_prefix: "/auth?url="```.
This made the trick.
But I think the bug should be fixed to help others.

[2020-03-11 15:32] sanjaypujare commented on #10126
closing the issue for now, pending some offline discussion.

[2020-03-11 15:32] #10126 closed

[2020-03-11 15:39] vijayrajput1 commented on #10323
I'm going to work on this issue #10323

[2020-03-11 15:43] mattklein123 commented on #10301
You can configure TCP keep alive on a per-socket basis within Envoy itself.

[2020-03-11 15:46] mattklein123 commented on #10328
(2) sounds appropriate to me.

[2020-03-11 15:47] marcantoine-bibeau commented on #9341
I was wondering if someone if currently working on a fix for that? Currently causing me trouble. Native jeager tracing is not working anymore with Envoy 13 because of cpp lib changed in jeager lib and zipkin v2 is not working properly + zipkin v1 no more available... Running out of option ;)

[2020-03-11 15:57] #10242 closed

[2020-03-11 16:56] antoniovicente opened #10332 "[config] Weak validation of prefix_rewrite and host_rewrite allows config inputs that trigger ASSERT failures while proxying"
There is no config validation for prefix_rewrite and host_rewrite config.  The inclusion of \0 in these config fields results in ASSERT failures in HeaderMapImpl due to invalid characters added to authority and path pseudo headers.

ASSERT call stack:

#0: Envoy::SignalAction::sigHandler() [0x55ce3cbb66bc]
#1: __restore_rt [0x7fc276a68520]
#2: Envoy::Http::HeaderString::setCopy() [0x55ce3ca9f734]

[2020-03-11 17:27] asraa commented on #10332
That trace is from a crash on `ASSERT(valid())` in the headermap correct?

We can use `string = {well_known_regex: HTTP_HEADER_VALUE, strict: false}` validation now https://github.com/envoyproxy/envoy/pull/10335. Enables non-strict validation (just checking for `\r\n\0` rather than strict RFC compliance)

[2020-03-11 17:42] antoniovicente commented on #10270
Do you know what change to nodejs/http-parser addresses this whitespace issue?  I see several CVE related fixes in the parser, but none stands out as a change related to handling of whitespace.  I'm going to try moving forward and see if tests for the CVE issue fail when I undo the changes to the codec.

[2020-03-11 17:54] alyssawilk commented on #10270
Offhand: fixed in nodejs release 2020-02-06

https://github.com/nodejs/security-wg/issues/631?email_token=AELALPNIZISSNY4SMD44EQDREQHQ7A5CNFSM4KYRAG2KYY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOEMZA4WQ#issuecomment-590483034

On Wed, Mar 11, 2020 at 1:42 PM antonio <notifications@github.com> wrote:

[2020-03-11 18:02] antoniovicente commented on #10270
I tried upgrading to http-parser 2.9.3 which is the latest release from Feb 6th, I see test failures if I remove the trim change in codec_impl

[2020-03-11 18:14] efimki opened #10336 "Implement/Port Outbound ACL policy module"
*Title*: *Implement/Port Outbound ACL policy module*

*Description*:
We need to be able to set ranges of IP addresses and ports that Envoy is allowed to connect to.
For example, proxy should be able to send requests to 1.2.3.4:80 but not to 1.2.3.4:22 or 5.6.7.8:80.

Per conversation with alyssar@ this should probably be intercepted at router filter, but is there some short-term workaround that we

[2020-03-11 18:23] kathan24 opened #10337 "git push fails after installing ./support/bootstrap githook"
**WARNING: If you want to report crashes, leaking of sensitive information,
and/or other security issues, please consider
[reporting them using appropriate channels](https://github.com/envoyproxy/envoy#reporting-security-vulnerabilities).**

**Issue Template**

*Title*: git push fails after installing ./support/bootstrap githook

*Description*:
After installing [`./support/bootstrap`](https://gith

[2020-03-11 19:24] AKBarcenas commented on #10171
An example of a use case that I am currently looking at here is fetching a CRL stored within an S3 bucket via a [pre-signed URL](https://docs.aws.amazon.com/AmazonS3/latest/dev/ShareObjectPreSignedURL.html). To clarify on the proposal, the proposed changes are specifically for the SDS response. The http_uri would be returned and used similar to filenames in the current CRL implementation.

[2020-03-11 19:39] AKBarcenas commented on #10148
Just to clarify on this issue, I was looking to implement this for CRLs specifically. However, I recognize that this likely would have a decent amount of overlap with implementation for TLS certificates.

[2020-03-11 19:59] htuch opened #10340 "Only run API upgrade during fix_format when there are dirty protos"
Today we always run the API upgrade (protoxform), even though it's largely a nop when no protos are modified. To improve developer experience, we should analyze the git history to determine if needed. A simpler option would be a CLI flag to skip protoxform as well (or in addition).

[2020-03-11 20:00] Augustyniak commented on #10254
The support for `x-envoy-fault-abort-request` HTTP header was added in https://github.com/envoyproxy/envoy/pull/10294.

It's `x-envoy-fault-abort-request` and not `x-envoy-fault-abort-http-status` as it was originally proposed since `x-envoy-fault-abort-request` seems to follow the existing HTTP header scheme names better (Envoy supports `x-envoy-fault-delay-request` and `x-envoy-fault-throughput-

[2020-03-11 20:04] htuch opened #10343 "Explicit v2/v3 versioning in YAML/JSON files"
After the recent v3 cut, Envoy attempts to upgrade to v3 any unparseable v2 config. This leads to v3 related messages to config that the user intends as v2, a bad UX. There are a few options to make this explicit:

1. Allow version to be included in the filename, e.g. `foo.v2.yaml`, `bar.v3.yaml`.

2. Add a CLI flag to Envoy to imply an explicit version for bootstrap JSON/YAML (and others?)

CC @s

[2020-03-11 20:13] antoniovicente commented on #10270
The fix I see for trimming whitespace from header is on nodejs/node which uses a different H1 parser.

https://github.com/nodejs/node/commit/fe3975783cc4fdba47c2e25442ca891aab31e805

[2020-03-11 20:22] lathspell commented on #9965
I try to explain:
Envoy has a nice feature (ext_authz) that allows it to ask a "policy server" like Open Policy Agent if a certain request should be permitted or denied. To do so, it sends the request header and some other meta information JSON encoded to the policy agent and awaits a true/false decision.

As you only need such policy agents in bigger setups, the chances that you also use a protoc

[2020-03-11 20:37] mattklein123 commented on #10336
@efimki in general Envoy does not allow the downstream client to pick who they connect to, it is configured by the management server/config. There are some exceptions to this in a few places, but can you clarify which case you care about specifically? That might help scope what we need to do here. Thank you!

[2020-03-11 20:41] sunjayBhatia commented on #129
We have an open PR here: https://github.com/envoyproxy/envoy/pull/10293 that once merged will enable CI to build a static version of envoy on each PR

[2020-03-11 21:03] dio commented on #9341
Oops. Putting this back to our radar.

[2020-03-11 21:09] antoniovicente commented on #10332
Agreed.  I'm waiting for #10335 to land before sending a PR to add validation for these fields.

[2020-03-11 21:39] efimki commented on #10336
@mattklein123 Unfortunately I'm not totally fluent in Envoy terminology, but hopefully @alyssawilk could help me to explain.

Here is the use case I can think of:
1. Management server/config is configured to connect to "https://www.badexample.com"
2. The owner of "badexample.com" changes DNS record to resolve to the address local to the network that runs Envoy (let's say 5.6.7.8) the owner of 'bad

[2020-03-11 22:03] moderation opened #10345 "tracers: Upgrade opentracing-cpp to 1.6.0"
*Description*:
Current opentracing-cpp version is 1.5.1 which is a patch release of 1.5.0 that was released on June 20, 2018.

Version diff is https://github.com/opentracing/opentracing-cpp/compare/v1.5.1...v1.6.0 and release notes are:
- Support cloning span contexts
- Add optional accessors for trace-id/span-id
- Fix windows build issues
- Support string_views in opentracing::Value
- Add more fl

[2020-03-11 22:06] rnburn commented on #10345
It's not necessary for #10273

[2020-03-11 22:25] dio commented on #9965
I think if you exercise [`jwt_authn`](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/jwt_authn/v2alpha/config.proto#jwt-authentication) before `ext_authz`, and you set the [`payload_in_metadata`](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/jwt_authn/v2alpha/config.proto#envoy-api-field-config-filter-http-jwt-authn-v2alpha-jwtprovider-payload-in-meta

[2020-03-11 23:09] sumukhs opened #10346 "Question: Malformed IP Address for listener with address "localhost""
[code]

For the above config, I see this error when bootstrapping envoy:

[critical][main] [source/server/server.cc:91] error initializing configuration - malformed IP address: localhost

What is the reason we cannot specify the listen address to be localhost?

[2020-03-12 05:22] fpliu233 opened #10351 "Allow headers removal for External Authorization filter"
*Allow headers removal for External Authorization filter*: *Authorization server needs to redact the credentials issued by itself to avoid credential harvesting*

*Description*:

[2020-03-12 05:35] dio commented on #10351
I assume this is related to [`AuthorizationResponse`](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/ext_authz/v2/ext_authz.proto#config-filter-http-ext-authz-v2-authorizationresponse) for the ext_authz configure to talk to [`HttpService`](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/ext_authz/v2/ext_authz.proto#config-filter-http-ext-authz-v2-httpse

[2020-03-12 07:39] danlanxiaohei commented on #10301
@mattklein123 i only found keepalive [config for upStream ](https://www.envoyproxy.io/docs/envoy/v1.12.0/api-v2/api/v2/cds.proto.html?highlight=keepalive#upstreamconnectionoptions), can not find keepalive config for downstream.

[2020-03-12 07:47] aviramha commented on #10078
@mattklein123
Should I considered them cc'd as you did, or not? (I can't seem to cc the group).

[2020-03-12 08:37] mandarjog commented on #10326
This is going to be a great enabler for this type of use case. Was there a specific reason why log phase does not do StopIteration?

[2020-03-12 09:24] s-vivien commented on #10076
@mattklein123 : I mentionned on the Discord an issue with the watermarking not triggering a "remote early close" when using handle.respond() in LUA script, thus causing weird client-side behaviors.

I just tried to replace Http::FilterDataStatus::StopIterationAndWatermark with Http::FilterDataStatus::StopIterationNoBuffer and it seems to behave like I want (i.e. triggers a remote early close when

[2020-03-12 10:47] dio commented on #10104
So basically if we can "rewrite" the path it will be an acceptable solution?

[2020-03-12 10:58] hofmannmich commented on #10104
I think its just a workaround. Take a look at this config:
[code]
What is the semantics of ```uri``` in ```server_uri```? I think this config value should be used. What is the intention of ```path_prefix```? If rewrite was your original intention, then you should correct the documentation to be more precise.

[2020-03-12 11:09] dio commented on #10104
Hum, true. Today, we don't use that since it requires a [dynamic cluster creation](https://github.com/envoyproxy/envoy/blob/39a4423a274278f9b9e8399c901734fc2e87a0aa/api/envoy/api/v2/core/http_uri.proto#L30-L33), hence the explicit `cluster` setting.

More context: https://github.com/envoyproxy/envoy/issues/6099#issuecomment-468496189

[2020-03-12 11:31] dio commented on #10104
While for `path_prefix` it is now being use as prefix for the original `request_path`.

The logic is: if `path_prefix` is not empty to concat(`path_prefix`, `request_path`).

[2020-03-12 13:57] wrowe commented on #9571
Note that this is experimentally introduced in https://github.com/envoyproxy/envoy/pull/10293 although has yet to be thoroughly reviewed and tested.

[2020-03-12 14:03] htuch commented on #9358
@kyessenov what do you reckon the state of this issue is?

[2020-03-12 14:09] htuch commented on #8128
This is now bumped to v4, title and label updated.

[2020-03-12 14:14] htuch opened #10355 "Freeze v2 API"
As per the stable API verisoning policy, we should ideally be freezing the v2 API additions at EOQ. At this point, any API additions/deprecations would take place in the v3 APIs. To do this, we need to open up `v4alpha` and make `v3` canonical. There should be an escape hatch available for any `v2` changes that are strongly motivated after EOQ.

[2020-03-12 14:15] htuch opened #10356 "v2 API deprecations imply a breaking v3 change"
As things currently stand, since v2 is canonical and v3 is generated, applying the deprecation removal, any new v2 deprecations since January would constitute breaking v3 changes. Ultimately https://github.com/envoyproxy/envoy/issues/10355 should resolve this, but it would be ideal for there to be tooling support for the first quarter following an API freeze to prevent these breaking changes.

[2020-03-12 14:40] lathspell commented on #9965
The JWT contents are indeed copied to the metadata, thanks!

Although, it does look almost like a bug that a simple JSON structure like:

[code]

gets converted into *this* monster here (you may have to scroll to the right):

[code]

[2020-03-12 15:29] hofmannmich commented on #10104
But what is the logic if ```path_prefix```is empty?
My observation was that I can't use ```http://myserver.com/mypath```as a setting in ```server_uri```.
My http authz server has mostly a context root but always has a http-path which cannot be configured in ```server_uri```.
Background: I am developing the authz server using java rest api and therefore i am forced to this configuration settings.
H

[2020-03-12 15:30] hsw48 opened #10360 "Block requests to a certain endpoint"
I want to block all requests to a certain endpoint at the proxy layer to prevent them from reaching my server. Specifically all /favicon.ico requests. I haven't found anything that directly does what I'm looking for even though it feels like something that envoy would be perfect for.

Right now my first attempt is routing the "/favicon.ico" prefix to a cluster with the only configuration as: "max_

[2020-03-12 15:36] dio commented on #10104
`request_path` will be used as `path`.

That's what I meant by rewriting the path above. We use the path part of the `server_uri` as the path of the request to the authorization server (defined by the `cluster` param).

e.g.

[code]

[2020-03-12 15:37] dio commented on #9965
Where do you put that json structure again? Can you paste out your setup here (config, etc)?

[2020-03-12 15:42] hofmannmich commented on #10104
that's it.
Is there a chance to get it in the next version of envoy? Sorry but I'm only a Java developer...

[2020-03-12 15:42] htuch opened #10361 "Asynchronous customer resolvers"
https://github.com/envoyproxy/envoy/issues/1477 added custom resolvers for address messages, but with a synchronous resolution limitation. This rules out the use of RPCs or DNS for address resolution. This issue tracks bringing async customer resolver capabilities to Envoy.

[2020-03-12 15:48] mattklein123 commented on #10301
Admittedly it's not very obvious, but you can set generic listener socket options here: https://github.com/envoyproxy/envoy/blob/97a76d991766d96df2e84a1f2e33b69cae844471/api/envoy/api/v2/listener.proto#L176

[2020-03-12 15:50] mattklein123 commented on #10326
Because it's more work to implement and it has never been requested before. :)

[2020-03-12 16:02] #9917 closed

[2020-03-12 16:06] mattklein123 commented on #10078
@aviramha yes they have been mentioned. FYI it's still on my plate to do an extension repo proposal. Another option would be to think about intercepting WASM support and doing this as a WASM module.

[2020-03-12 16:09] kyessenov commented on #9358
I think this is resolved. If `typed_config` is used with the extension-specific type, `name` can be set to anything. I've updated the unit tests https://github.com/envoyproxy/envoy/pull/10071, https://github.com/envoyproxy/envoy/pull/10122, https://github.com/envoyproxy/envoy/pull/10130

[2020-03-12 16:09] danzh2010 commented on #10239
@sunjayBhatia Regarding your patch, we intentionally want to avoid the default constructor because there shouldn't be such use case. We didn't ran into this problem in chromium which also test windows build. Can you give us more error details and the compiler options you use?

[2020-03-12 16:38] markdroth opened #10363 "clarify stale nonce handling in xDS protocol spec"
*Title*: Clarify stale nonce handling in xDS protocol spec

*Description*:
The [xDS protocol spec](https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol) currently says the following:

This means that if the server sends an update to the client at the same moment that the client sends a new request changing the `resource_names` list, the client's request will be ignored by the server.

[2020-03-12 16:55] #10337 closed

[2020-03-12 17:44] htuch commented on #9358
Ack, thanks @kyessenov for the rad contribution here, closing.

[2020-03-12 17:44] #9358 closed

[2020-03-12 18:08] mandarjog opened #10364 "Blackhole support in the dataplane"
Use case:
Istio has a concept of blackhole destination which is equivalent to a `NR` response_flag.
Since the user is trying to send requests to a destination that the configuration makes impossible to route to, it is important to gather metrics when this situation happens.

`NR` is automatically set by tcp_proxy, and router. Http router then uses localReply to set the configured http response cod

[2020-03-12 18:13] fpliu233 commented on #10351
And the gRPC service https://www.envoyproxy.io/docs/envoy/latest/api-v2/service/auth/v2/external_auth.proto#service-auth-v2-checkresponse as well. We use gRPC.

[2020-03-12 18:14] kyessenov commented on #10364
Note that there is no notion of a route in network filters.

[2020-03-12 18:33] kyessenov commented on #7917
A few other use cases for listener-level access logs:
1. custom network filters (direct_response, echo, etc)
2. HCM unable to parse the requests.

A few things that would need for feature completeness:
1. StreamInfo needs some indicator for protocol/filter handling (for filtering)
2. propagate data to connection stream info from protocol handlers, and other extensions

[2020-03-12 18:38] junr03 opened #10366 "router: add unit tests for x-envoy-attempt-count on the request path"
I noticed while working on https://github.com/envoyproxy/envoy/pull/10325 that we did not have unit tests for x-envoy-attempt-count behavior on the request path similar to the ones added for the response path on #10325, specially for overwritten behavior. There are a couple integration tests that ensure basic functionality, and config tests.

[2020-03-12 18:46] junr03 commented on #10179
@mattklein123 and I were chatting earlier, and he made me aware of this issue. We are seeing a crash thanks to an assertion on `HistogramStatisticsImpl::refresh` https://github.com/lyft/envoy-mobile/issues/688.

@ramaraochavali let me know if you think these might be related. Given that most people deploying server-side compile assertions out, but we (envoy mobile) don't it might be the case that

[2020-03-12 18:57] kprakasam commented on #7918
@gkleiman I thought I messaged you about working on this, seems I did not, can you let me know when you have sometime so we can coordinate work on this and #10207.

[2020-03-12 19:02] #9396 closed

[2020-03-12 20:33] mattklein123 commented on #10336
Yes it makes sense, but it's a complex issue that could have multiple different solutions. For example:
1) If DNS is the primary issue, could we actually put the blocking mechanism in the DNS resolution code as a list of banned CIDRs? This would cover dynamic HTTP proxy, static_dns, logical_dns, etc.
2) If we want a more general blocking solution, I could imagine a few different ways of doing this

[2020-03-12 21:20] wrowe commented on #10239
Hi @danzh2010 you can reproduce from envoy once PR 10293 is merged (it doesn't enable tests, but makes it possible to get everything compiled and then compile specific tests.) Our worktree has the workaround patch so it doesn't exhibit this behavior at all.

VS Buildtools chain with VC 16.4.5 (not fixed by 16.4.6), using stdc++14 compat, this test fails to compile;
[code]

[2020-03-12 21:28] sunjayBhatia commented on #10239
the specific test seems to be `//test/extensions/quic_listeners/quiche:envoy_quic_proof_source_test`

[2020-03-12 22:19] sumukhs commented on #10346
@htuch , @mattklein123  - Any insights here? Typically, listening on localhost listens on both the ipv4 and ipv6 address in other places like grpc server. Why isn't this supported in envoy?

[2020-03-12 22:27] mattklein123 commented on #10346
localhost is a DNS name. We don't support binding on DNS addresses. Use 127.0.0.1, ::1, etc.

[2020-03-12 23:09] lizan commented on #10328
(2) SGTM

[2020-03-12 23:14] lizan commented on #10198
Ideally it is better with less macro magic and just link magic. #9649 should do some of the trick. cc @Shikugawa

[2020-03-12 23:30] snowp opened #10372 "Allow static registration of logger ids"
Today all the logger ids are defined here: https://github.com/envoyproxy/envoy/blob/master/source/common/common/logger.h#L24

This issue tracks making it possible to have extensions register their own ids, making it easier
to set specific log levels for extensions developed outside the upstream repo.

[2020-03-12 23:32] mattklein123 commented on #10372
Note that some extensions have added their logger ID to the static map so as part of this change we should remove them and statically register them.

[2020-03-12 23:54] mattklein123 opened #10373 "Individual endpoint discovery service (IEDS working name)"
A group of us met this morning to discuss how to move the EGDS issue and PR forward:
- https://github.com/envoyproxy/envoy/issues/9455
- https://github.com/envoyproxy/envoy/pull/10023

The consensus at this point is that we would like to hold on working on and merging EGDS as currently specified and instead develop something that we are tentatively calling IEDS (Individual Endpoint Discovery Servi

[2020-03-12 23:55] mattklein123 commented on #9455
Per discussion closing in favor of https://github.com/envoyproxy/envoy/issues/10373

[2020-03-12 23:55] #9455 closed

[2020-03-12 23:58] lizan commented on #10296
Yeah it should be and I think we already doing that because the gRPC status access log filter operates on that, no?

[2020-03-13 00:05] LisaLudique opened #10374 "Migrating to gRPC stats filter for gRPC stats"
*Title*: Will using gRPC stats filter in conjunction with gRPC bridge filter lead to twice the number of gRPC stats being emitted?

*Description*:
As of v1.12.0, "The use of [gRPC bridge filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/grpc_http1_bridge_filter#config-http-filters-grpc-bridge) for gRPC stats has been deprecated in favor of the dedicated [gRPC stat

[2020-03-13 00:49] qiwzhang commented on #9965
Envoy Metadata is a protobuf::Struct.   So the a protobuf;:Struct is converted to JSON,  it will look like that.

[2020-03-13 00:55] qiwzhang commented on #9965
Well,  JWT token is also forwarded  to OPA by ext_authz,  you can safely assume it has been verified by Envoy.  You just need to get its payload by splitting it and base64 decode the payload.

[2020-03-13 02:02] #9772 closed

[2020-03-13 02:46] #10346 closed

[2020-03-13 04:37] danlanxiaohei commented on #10301
@mattklein123 thanks so much !

[2020-03-13 05:26] adriancole commented on #9341
using E notation intentionally, when the spec doesn't say to, and most clones will break if we do, and that there's no numeric overflow concern.. seems a recipe for disaster.

Why are we not getting the cpp lib to emit plain numbers? This seems easier than trying to change all libraries and clones to follow the change that happened here.

This could have been caught I think with an integration tes

[2020-03-13 06:34] Shikugawa commented on #10296
Seems valid. What you are saying is `GrpcAccessLogger`, aren't you? I think that grpc-stream info is not extracted directly in this case. (To get this information, it seems that we should set `grpc-status` to `additional_response_trailers_to_log`)
It is not needed now but may be required in the future, is it? If not, it is strange that we can extract response code from it but grpc-status not.

[2020-03-13 07:22] #9891 closed

[2020-03-13 08:14] lathspell commented on #9965
@dio : This is my complete config:

[code]

[2020-03-13 08:22] lathspell commented on #9965
@qiwzhang : The current JSON representation of the data is not very helpful. The rest of the data that is transmitted to the Policy Agent looks like one would expect a JSON structure to look like e.g.:

[code]

Regarding your second comment: I concur that verification of the JWT should be only done in envoy and/or a Keycloak Gatekeeper before that. My concern is really only how easy it is to write

[2020-03-13 09:38] ramaraochavali commented on #10179
@junr03 To me this one looks little different i.e. it seems to be happening after histogram merge is done and we actually flush the stats some where here https://github.com/envoyproxy/envoy/blob/master/source/server/server.cc#L167

Hmm..  AFAICT, this should not definitely happen for Quantiles. They are fixed and should be same always unless `hist_approx_quantile` is some how messing up with the d

[2020-03-13 09:52] winguse opened #10375 "ADS API request for v2 type URL in v3 API endpoints"
I am working on upgrade our ads service to use API v3 and I find Envoy is requesting  v2 type url on v3 endpoints.

## reproduce

envoy version: v1.13.1

envoy config:
[code]

docker-compose.yaml:
[code]

To see the request in a simple way:

[code]

the package capture by Wireshark:

![image](https://user-images.githubusercontent.com/1443504/76609820-f166ef00-6552-11ea-95d3-1f9b543c0b6f.png)

# re

[2020-03-13 12:53] tomwans commented on #10373
IEDS can be confused with delta/incremental xDS. Naming suggestion: How about Locality-EDS (LEDS)? I don't have full context, but my understanding is this xDS resource represents a set of endpoints within a locality?

[2020-03-13 13:08] alyssawilk commented on #10375
cc @htuch

[2020-03-13 15:26] efimki commented on #10336
Excellent!

I think DNS is an important example, but limiting on the DNS level seems a bit odd as we would still need to do the same checks on connection level to cover the case when bad IP is configured explicitly.

The upstream connection filter that closes the connection sounds like a right direction, although it would be nice to prevent connection from being established in the first place.
I c

[2020-03-13 16:45] antoniovicente commented on #10315
How big is the upload?

[2020-03-13 16:50] majames commented on #4317
Has there been any movement on this? I'm also experiencing the timeout issue being masked as a CORs error in the browser because of this and it would be great if there was someone workaround for fixing!

[2020-03-13 17:43] mattklein123 commented on #10336
I can imagine some "interesting" probing / timing attacks that explore network topology by looking at time to receive an error...

Unfortunately I don't think there is going to be an easy answer here so I'm marking this as a design proposal needed. Some things to think about:

1. An upstream connection filter will definitely work, but as you say it will happen pretty late in the process. Note that

[2020-03-13 17:52] wrowe commented on #10239
@danzh2010 if you can have this addressed in the next few days, terrific! If not, we have the equivalent patch to envoy ready to PR with other //test/ fixes this coming week to continue our progress.

[2020-03-13 18:01] mattklein123 commented on #10373
I like LEDS as a name option. Let's see if anyone has any other ideas.

[2020-03-13 18:02] mattklein123 commented on #10374
I would have a look at the code but IIRC there will probably be duplication. We probably need a confg flag to turn off stats in the bridge filter. cc @kyessenov

[2020-03-13 18:03] snowp commented on #10336
What do we want the behavior of a rejected connection to be? Should we be attempting retries? I can imagine yes in certain cases, for example if the concern is corrupted/invalid service discovery data and not a bad actor.

I think having this happen in an upstream network filter makes sense: the router would see the connection reset and retry if configured to do so. If the current interface doesn'

[2020-03-13 18:06] mattklein123 commented on #10336
Yeah that's what I was thinking as well.

[2020-03-13 18:24] efimki commented on #10336
AFAICT onNewConnection() is only called if connection_.state() == Connection::State::Open so I would guess it is called after we succeed to connect:

https://github.com/envoyproxy/envoy/blob/2c03496a6b5e9e32bc10db40b3fb85e4610bdde1/source/common/network/filter_manager_impl.cc#L39

[2020-03-13 18:56] bhiggins opened #10377 "TLS keylog support"
**Issue Template**

*Title*: TLS keylog support

*Description*:

Add support for logging TLS session keys to file(s) or a named pipe, on a per-SNI basis, using the NSS Key Log Format.

This will enable using the keylog file with tools like Wireshark to decrypt traffic.

Config can be similar to tapping with match criteria only on SNI and only one sink format (NSS_KEY_LOG). For example, the common_

[2020-03-13 19:12] thedebugger commented on #8443
@yxue i was also looking for a config to limit the no of connections on the listener but didn't find any - perhaps i missed something in the docs. How did you workaround the problem?

[2020-03-13 19:24] nikolay-pshenichny opened #10378 "Support extracting downstream Port in header variables"
*Title*: *Support extracting downstream Port in header variables*

*Description*:

Add support for extracting/injecting Port information of the downstream local address in the header formater. Similarly to %DOWNSTREAM_LOCAL_ADDRESS% and %DOWNSTREAM_LOCAL_ADDRESS_WITHOUT_PORT%, but for Port only.

Our use case: We inject a set of custom headers and heavily rely on envoy to extract/inject informatio

[2020-03-13 19:24] htuch commented on #10363
@markdroth thanks for the writeup, I think that captures the crux of the conversation. It's probably worth clarifying, I would use the wording "should" rather than "must" though, unless we want to reserve this for future versions, since existing management servers/clients aren't necessarily aware of this spec change and probably are happy today being oblivious to the issue.

Do you want to do a PR

[2020-03-13 19:41] markdroth commented on #10363
I'd be happy to put together a PR once we have consensus on what it should say.

[2020-03-13 19:42] markdroth commented on #10373
Another naming suggestion would be Named Endpoint Discovery Service (NEDS).

[2020-03-13 20:08] danzh2010 commented on #10239
Adding a default constructor is not an option for QUICHE. As chromium windows build doesn't complain about this problem, I think probably some compiler options enabled in envoy caused this error. Is these a way for me to get all the build options for Windows CI?

[2020-03-13 20:43] jsenon commented on #10315
Files are around 2,5MB
FYI I've also open an issue in bugzilla https://bugzilla.mozilla.org/show_bug.cgi?id=1621277

[2020-03-13 21:00] qiwzhang commented on #9965
@lathspell How about using "payload_in_header", if you set that,  jwt_authn will add a http header with value as the jwt payload (which is base64url encoded),  ext_authz will send it to you,  you only need to base64 decode it.

[2020-03-13 21:12] sunjayBhatia commented on #10239
@danzh2010 is chromium building on Windows using llvm/clang, MSVC, etc.? We haven't had much luck with clang yet on Windows so we've stuck with MSVC, this might be another MSVC specific quirk

[2020-03-13 21:32] htuch commented on #10375
@winguse you also need to set https://github.com/envoyproxy/envoy/blob/master/api/envoy/config/core/v3/config_source.proto#L191 in addition to transport version.

[2020-03-13 21:57] junr03 commented on #10179
@ramaraochavali I am responding in https://github.com/lyft/envoy-mobile/issues/688 to not pollute this with Envoy Mobile details.

[2020-03-13 22:22] #9929 closed

[2020-03-13 22:25] danzh2010 commented on #10239
We use clang in chromium.

[2020-03-13 22:31] htuch commented on #10356
Same for field renames as well, see #10325.

[2020-03-13 22:32] sumukhs opened #10382 "Question: Circular log file support"
Would it be useful to take in a `max_log_file_size_kb` that ensures the log file size doesn't grow beyond that and is used in a circular mode?

We are interested in collecting debug logs as those seem to be most useful in problematic situations, but always configuring envoy to collect them is impractical due to the volume.

[2020-03-13 22:37] kyessenov commented on #7917
Please take a look at the associated PR for the approach. It seems to work (tested with `nc` to HCM) but it needs more work to populate the stream info and fix up the tests.

[2020-03-13 23:22] #9848 closed

[2020-03-13 23:54] winguse commented on #10375
thanks @htuch very much, that works!

[2020-03-13 23:54] #10375 closed

[2020-03-14 00:22] #9939 closed

[2020-03-14 00:24] lizan commented on #9922
I found that the culprit is https://github.com/envoyproxy/envoy/pull/8667 that added encodeTrailers in reverse_bridge but doesn't respect disabled flag [here](https://github.com/envoyproxy/envoy/blob/v1.13.0/source/extensions/filters/http/grpc_http1_reverse_bridge/filter.cc#L194), when withholding_grpc_frames is true this will add another grpc frame header during `encodeTrailers`.

[2020-03-14 00:28] lizan commented on #9922
cc @Chuongv do you want to fix this?

[2020-03-14 00:51] wrowe opened #10384 "Flake: ClusterRefreshManagerTest.BasicFailureEvents"
*Title*: ClusterRefreshManagerTest.BasicFailureEvents failing intermittently on master

*Description*:
Various PR's have exhibited the following flaw in envoy-linux testing;
[code]
*Examples*:
#20200313.36 Enable Windows CI //source/exe:envoy-static build
https://dev.azure.com/cncf/envoy/_build/results?buildId=34161&view=logs&j=431348f8-7191-5fd1-d3a8-72635bfc039a&t=4111d0d2-6ea0-5092-9e44-b46f3a3

[2020-03-14 06:08] ramaraochavali commented on #10373
+1 for LEDS

[2020-03-14 09:09] seflerZ commented on #10373
Still I am not quite sure how this new discovery service would provide incremental updates for endpoints. Is that mean that we can assign a config source for each endpoint and provide resource name for it? That is to say, When EDS handler is processing the config source, it will send individual request for each endpoint? If that is so, the Pilot may be overwhelmed by the flush of requests I though

[2020-03-14 09:57] vzemtsov opened #10386 "Question: Allow IP for requests"
How i can set allow IP list for request (in route_config)?

Like "allow" settings in nginx.

[2020-03-14 11:24] #9945 closed

[2020-03-14 14:28] howardjohn opened #10387 "Support reloading TlsCertificate files"
**Issue Template**

*Title*: Support reloading TlsCertificate files

*Description*:

Currently, there are a few ways to get certificates reloaded (that I know of!):

* Hot restart - this works but requires a wrapper that is watching the certs and hot restarting envoy when they reload. This adds complexity since you need to create/maintain a wrapper, which also implies your own docker image. It als

[2020-03-14 18:13] wrowe commented on #10239
We expected so, and are working to get Windows compiling on clang-cl. Of course the rules_foreign_cc and other quirks are posing a significant challenge, along with quirks with the LLVM build of clang-cl itself. (The MS flavor bundled in Visual Studio is unusable.)

We hope to announce progress on this in the coming weeks. In the meantime this fix is simply necessary, it isn't an attribute of the

[2020-03-14 19:41] RichiCoder1 commented on #7986
@dio About to give this a try myself, so hopefully can answer if it worked well. That said, is there a way this be added as a built in feature to add authz responses headers to the proxy response rather then having to dive into transformers?

[2020-03-14 22:50] jmarantz opened #10390 "stats: use SymbolTable virtual method to compute dynamic spans."
The code was previously using the real SymbolTableImpl's representation to analyze a StatName and determine which segments were dynamic and which were symbolic. Due to the details of the symbol-table's byte representation, this was working for all known cases,

However, fuzzing found some corner-cases where this wound up being misinterpreted. I don't think these currently can occur, but using the

[2020-03-15 04:14] charlesxu2000 opened #10393 "Question: http_health_check configuration"
*Title*: *Endpoint request does not response with 503 with upstream health check failed*

*Description*:
I have a simple API server, there two endpoints /hello and /healthcheck. Envoy has only one upstream host, and I configured http_health_check as below. I can see from health check log that it gets the active health check failure event. I can also see the health flags for the cluster in failed_a

[2020-03-15 06:38] dio commented on #7986
Hum, true. I think if we can flag [allowed_client_headers](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/ext_authz/v2/ext_authz.proto.html?highlight=extauthz#config-filter-http-ext-authz-v2-authorizationresponse) to be always be considered when sending back the response to the client, probably a good solution for it.

[2020-03-15 13:12] zyfjeff opened #10394 "xDS thread processing is slow"
*Title*: *xDS thread processing is slow*

*Description*:

[2020-03-15 15:36] mandarjog commented on #10364
@kyessenov tcp proxy does still use “NR” to express the abstract concept that “I could not do anything “ with this request . We just need to apply this uniformly.

[2020-03-15 15:53] yskopets opened #10395 "Envoy should be able to describe (Wasm) ABIs it supports"
*Title*: Envoy should be able to describe (Wasm) ABIs it supports

*Context*:
* consider a use case of a marketplace with Wasm extensions for Envoy
* from a user perspective, it's important to know whether a given extension is supported by a particular Envoy distribution he is using right now
* the assumption is that an answer like "use Envoy vX.Y.Z+" is not good enough (a user might be using eith

[2020-03-15 17:27] RichiCoder1 commented on #7986
@dio My only worry with that is you might end up including headers that make sense in a `401` response, but not in a normal succesful response. I can't currently think of a specific situation where that might pop up though.

[2020-03-15 17:31] RichiCoder1 opened #10396 "Allow including External Authorization response headers in upstream response."
**Issue Template**

*Title*: Allow including External Authorization response headers in upstream response

*Description*:
It's not an uncommon case where an external authorizer might want to set authorization relevant cookies. For example if it's refreshing or resetting some authorization relevant cookie. It would be great to be able to mark specific headers coming back from ext_authz for inclusio

[2020-03-15 19:02] Chuongv commented on #9922
`buildGrpcFrameHeader` gets called in two situations
* when `end_stream` is true within the `encodeData` call
* when `encodeTrailers` is called

From what I understand, once encodeData with `end_stream` is true is called, encodeTrailers would not be called thus are mutually exclusive?

Though it is hard to tell since there is no actual integration test for this filter 😬 . It should be simple to ve

[2020-03-15 19:46] #10257 closed

[2020-03-15 19:49] #10332 closed

[2020-03-15 20:28] mattklein123 commented on #10373
For each locality/priority. So the LEDS resource is `LbEndpoint`. The management server could send all of them as SoTW, or it can do incremental updates.

One other thing that occurs to me is that if we implement this correctly, many users would probably end up using static clusters with fixed `endpoint.v3.ClusterLoadAssignment load_assignment` which would call out to LEDS for each locality.

[2020-03-15 20:29] mattklein123 commented on #10384
@HenryYYang @FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg could one of you PTAL? I've seen this multiple times also. Thank you!

[2020-03-15 20:32] mattklein123 commented on #10382
Which logs are we talking about? Application logs or access logs?

[2020-03-15 20:36] sumukhs commented on #10382
Not sure what the difference is between the 2 you are referring to.

I am referring to the log which is generated by envoy as part of the "log-path" command line argument

[2020-03-15 21:13] howardjohn commented on #10387
This would also help a lot if you were just using a simple static configuration

[2020-03-15 21:23] htuch commented on #10387
I think the most reasonable thing would be to use the SDS implementation and config as is, but allow for it to do a filesystem watch on the `DataSource` for the cert. This probably isn't too hard to implement given the SDS subsystem takes care of lifecycle issues already.

[2020-03-15 21:25] mattklein123 commented on #10387
+1 I was going to suggest something similar.

[2020-03-15 22:35] danzh2010 commented on #10239
QUICHE has an upstream fix for this issue now. There will be dep update in this week to resolve this issue.

[2020-03-15 23:57] marcantoine-bibeau commented on #9341
@dio do you have an ETA on this issue? If it is not near to be fixed, I'll use Envoy 12.x with zipkin v1 :(

[2020-03-16 00:19] dio commented on #9341
@marcantoine-bibeau sorry. I'll try to look at this as soon as possible.

I know this is not ideal, but here's a workaround if you want to "enable" zipkin v1 for the time being. https://github.com/envoyproxy/envoy/blob/1d751a53e1a8160be918beb42599c5c863977673/configs/using_deprecated_config.v2.yaml#L65

[2020-03-16 02:12] marcantoine-bibeau commented on #9341
@dio Just tried and unfortunately even zipkin v1 sometimes send timestamp using scientific notation

[code]

[2020-03-16 02:16] mikexu1976 commented on #9127
Hello,What is the final solution to get real client IP in Envoy?

[2020-03-16 02:39] seflerZ commented on #10373
There is no attribute marking added or removed endpoints. How can the Envoy determinate which endpoints to delete and which to add? Is that mean this implementation must cooperate with Delta xDS to make it function properly? I’m still worried about the performance of this, because even we’ve got EGDS with size=20 we got quite a lot EGDS messages within  Istio Pilot’s full push.

发送自 Windows 10 版邮件

[2020-03-16 03:17] winguse commented on #6815
I observed this issue in our production recently.

![image](https://user-images.githubusercontent.com/1443504/76720224-2784b880-6777-11ea-8a44-1ae6bf2ea95f.png)

We are using an older version, `v1.9.0`, and the backend is a node.js service.

As you can see the packages, the node.js send a FIN and envoy already ack the FIN but still sending a new HTTP request to upstream and the node.js send with R

[2020-03-16 03:25] gengleilei commented on #10373
@mattklein123 I understand that the LEDS cannot reduce the amount of data transmission between the management server and the Envoy through the LEDS without the realization of delta XDS. In the case of non-delta XDS, when one of the endpoints in the locality changes, the whole data should still be pushed to the Envoy, and the use of LEDS will bring some complexity instead.
As far as I know, the man

[2020-03-16 04:12] winguse commented on #6815
we walk around this by adding:

[code]

But i believe this should be permanently fixed in Envoy

[2020-03-16 04:21] #9907 closed

[2020-03-16 06:25] Unforgiven00000yasuo opened #10399 "Bazel builds envoy error."
Because I want to build istio from source, I have to compile envoy first.I have cloned the corresponding code.
[code]
But I encountered this error while building envoy.
![image](https://user-images.githubusercontent.com/44249297/76728496-d504c580-6791-11ea-9ea3-2570a1b2a0e6.png)

[2020-03-16 06:53] dio commented on #10399
I think you need to run:

[code]

[2020-03-16 07:16] Shikugawa commented on #10395
I think it is easy to implement this with a dynamic approach by fetching symbols with `wasm_vm_->registerCallback` and any other functionality to provide ABI support.

[2020-03-16 07:55] dio commented on #9341
@marcantoine-bibeau if you don't mind, could you help to validate the fix in #10400? By testing this image: `dio123/envoy-zipkin:9341-fix`. Thank you!

[2020-03-16 08:17] ksanghavi opened #10401 "Is it possible to set separate filters for static and dynamic routes?"
We are introducing an xDS server that will set dynamic routes and cluster details to Envoy. However we want to keep existing static routes in place and may be move them to xDS server in the future. Is there a way to achieve that?
I tried add multiple http connection managers, but Envoy doesn't seem to route to the second one. Thanks for your help!

[code]

[2020-03-16 11:24] aviramha opened #10402 "Redis command CLIENT SETNAME support"
*Description*:
When using envoy as Redis Proxy, it doesn't support the client setname command.
I propose two options (maybe implement both):

- Support of the command coming from the client and proxying to the server, also setting next connections with same name
- Set the client name in the envoy configuration.

I'm considering sending a PR, would like feedback before doing so.

[2020-03-16 12:49] marcantoine-bibeau commented on #9341
@dio Yo hey :) Will do very soon, I'll ping you in #10400 once I'm done. Thanks a lot!

[2020-03-16 14:24] htuch commented on #10373
@gengleilei are you talking about Pilot? LEDS will require delta xDS support, I believe Pilot must have some support here already from the VHDS work, CC @brian-avery @costinm

[2020-03-16 14:34] howardjohn commented on #10373
I don't think any of the VHDS work has merged yet. But we shouldn't make Envoy decisions due to limitations in Pilot's implementation. I don't think there is any reason we cannot support delta xDS, we just haven't yet. We can have delta XDS just for LEDS and still use SOTW XDS for ADS, right? If so then it won't be too hard to implement I think.

[2020-03-16 14:34] htuch commented on #7253
@yanavlasov FYI; not related to your current PR but some context on earlier discussions around ADS and warming.

[2020-03-16 14:36] htuch commented on #5569
Related somewhat to https://github.com/envoyproxy/envoy/issues/9656

[2020-03-16 15:56] akshaysu12 commented on #10195
@mattklein123 Is there a filter you had in mind for this? It makes sense as an HTTP filter but the UserAgent has stats that are based on the connection not the stream. These methods could maybe be moved to the connection close of the HCM but that doesn't seem consistent with the story. As a network filter, however, it would need to access headers which also seems odd. I think my understanding is a

[2020-03-16 16:12] mattklein123 commented on #10373
Pedantically it won't require delta xDS support (e.g. if we implement it right per above we could use it with static clusters and get mostly the same behavior as today), but it will require delta support for the CPU savings that you are looking for.

[2020-03-16 16:15] mattklein123 commented on #10195
I think the easiest way to accomplish this would be to use FilterState on the stream info object, and actually use the connection level stream info. I think this would allow basically the same behavior within the HTTP filter.

[2020-03-16 16:16] mattklein123 commented on #10377
@ggreenway @lizan @PiotrSikora any thoughts here?

[2020-03-16 16:17] mattklein123 commented on #10382
One is HTTP/filter access logs, one is the Envoy app log. You are talking about the Envoy app log. @ggreenway @jmarantz any thoughts on this? My feeling is this would be better accomplished with logrotate or similar to keep Envoy simple in this regard?

[2020-03-16 16:17] #10366 closed

[2020-03-16 16:32] mattklein123 commented on #10386
This is not currently supported. See https://github.com/envoyproxy/envoy/issues/7918. There are hacky ways of doing this like having the IP tagging filter add a header, and then routing on that.

[2020-03-16 16:34] mattklein123 commented on #10394
This is a fundamental limitation of Envoy's threading model. It's not that we can't make this better, but it won't be easy and will require some holistic thinking. IMO it's better right now to focus on the inflight proposals to reduce Envoy management CPU (e.g. the IEDS proposal).

cc @jmarantz

[2020-03-16 16:35] mattklein123 commented on #10395
Agreed. This is similar also for Envoy expressing what extensions it supports. cc @jpeach

[2020-03-16 16:36] mattklein123 commented on #10402
cc @envoyproxy/redis-dev

[2020-03-16 18:06] lizan commented on #10377
This is previously requested in https://github.com/envoyproxy/envoy/issues/7795

I'm OK with this as long as it is default off and configured via xDS config (not env var).

[2020-03-16 18:10] lizan commented on #9922
Right. What I'm saying is for disabled path, `encodeTrailers` is called but should do nothing, while that is not the case. I can verify that from trace level log.

[2020-03-16 19:27] mirwide commented on #10386
RBAC filter let limit by source CIDR, for example:
[code]
or per route:
[code]

[2020-03-16 19:59] ggreenway commented on #10382
I agree with using logrotate or similar. There are several unix tools that can be used, with somewhat rich configuration. I don't think we should try to re-implement those in envoy.

Alternately, you could have envoy log to stdout/stderr, and pipe to something that directly manages the data how you want.

[2020-03-16 20:00] jmarantz commented on #10382
+1

[2020-03-16 20:03] sumukhs commented on #10382
Thanks. Wasn't aware of these tools. I'll look into setting them up with envoy output log.

[2020-03-16 20:03] #10382 closed

[2020-03-16 20:35] panchn-n commented on #7775
Would you please share the exact configuration that worked for you?

[2020-03-16 21:14] #10390 closed

[2020-03-16 21:43] htuch commented on #10373
@howardjohn yeah, I think having delta xDS (on a distinct connection to the ADS one) just for LEDS would be fine.

@mattklein123 the protocol extension for namespace/attribute that is in the proposal above requires that we add something to the discovery request message. Are you suggesting we would do this for SoTW `DiscoveryRequest` as well as incremental?

[2020-03-16 21:48] mattklein123 commented on #10373
I would recommend consistency here since I don't see any reason not to have it?

[2020-03-16 21:51] htuch commented on #10373
@mattklein123 really depends on use case, all things being equal we're pushing more towards putting complexity/advanced stuff in incremental xDS and leaving SoTW simple. It might make sense for LDS in proxyless servers in SoTW though, so probably fine to do it in both places.

[2020-03-16 22:38] yuval-k opened #10408 "eds: support auto host re-write"
Use case: In brownfield environments, some services may require the host header to match the name of the vm they are on, even though they are all a part of the same logical cluster.

To address that, we would like to allow auto host-rewrite to work with EDS endpoints. This applies to active http health checks as well - the host used in a health check request should come from the endpoint.

I have

[2020-03-16 22:48] danzh2010 commented on #9890
seen again: https://dev.azure.com/cncf/envoy/_build/results?buildId=34283&view=logs&j=a5e52b91-c83f-5429-4a68-c246fc63a4f7&t=5852bf5a-5a02-52f3-bee8-4fdc90cda9d0&l=37432

 @bencebeky do you mind take a look as you added CHLO buffering logic. It might be just be data race in test though.

[2020-03-16 23:28] dio commented on #9341
@erikbozic @marcantoine-bibeau I'm rethinking this, so we can keep rendering timestamp as a string. What Zipkin compliant collectors do you use? I'll probably go out there and try to fix that (probably also to fix the way openapi gen handle uint64_t from a string).

[2020-03-16 23:48] dio opened #10411 "Utility to render uint64_t as number (not string) when serializing protobuf message (e.g. from Struct)"
Since the movement on removing rapidjson as a dependency here: https://github.com/envoyproxy/envoy/issues/4705. We prefer to use protobuf way of serializing objects to JSON strings. Most of the time we choose to use protobuf Struct. The issue with protobuf Struct is how it holds number value, it only supports double. When we want to hold uint64_t we need to statically cast that into a double. The

[2020-03-17 00:00] marcantoine-bibeau commented on #9341
@dio I'm using open-telemetry-collector (https://github.com/open-telemetry/opentelemetry-collector) than uses zipkin-go liv (https://github.com/openzipkin/zipkin-go). I proposed to that repo a pr (https://github.com/openzipkin/zipkin-go/pull/161) to support scientific notation but got refused. And frankly, I kinda agree with their reason based on the fact that protocol (https://zipkin.io/zipkin-ap

[2020-03-17 02:13] winguse commented on #6815
hi @alyssawilk , would you review if the issue is till valid to you?

[2020-03-17 02:59] AndresGuedez opened #10412 "Deprecate Http2ProtocolOptions.allow_connect"
PR #9964 introduced user defined HTTP/2 SETTINGS parameters and disallowed overriding "named" parameters (e.g., `hpack_table_size`) with these custom parameters. However, an exception had to be made for [`allow_connect`](https://github.com/envoyproxy/envoy/blob/1db15db60af37b167b72e3c5e653ffdda9711336/api/envoy/api/v2/core/protocol.proto#L153), a field for which presence can't be checked due to th

[2020-03-17 05:00] zengyuxing007 commented on #10411
We found  that MessageToJsonString will cause performance issues, such as access_log output using json format；

I don't think using  protobuf to replace rapidjson  is a good choice unless it can solve the performance problem

[2020-03-17 05:07] zengyuxing007 commented on #10411
Test 1, a single string field populated.
proto binary: 0.01s
proto json:    0.50s
rapidjson:     0.02s

Test 2, 1 top level string field, 1 nested object with 3 more string fields.
proto binary: 0.02s
proto json:    1.06s
rapidjson:     0.05s

Test 3, 2 string fields, and 1 ::google::protobuf::ListValue containing doubles of the format, [[[double, double], [double, double], ...]], 36 pairs of doub

[2020-03-17 05:14] dio commented on #10411
@zengyuxing007 I appreciate your comments comparing rapidjson vs protobuf. But I think it has been decided and probably these comments belong to the exact relevant issue here: https://github.com/envoyproxy/envoy/issues/4705. Thanks!

[2020-03-17 05:21] zengyuxing007 commented on #10411
Yes, thanks for reminding;

[2020-03-17 06:54] singlakirti opened #10413 "Envoy as front Proxy gives "socket hang up" during rolling update."
I am using envoy as front proxy in my kubernetes Setup. This front proxy is exposed via Load Balancer Service of kubernetes.

I am firing continuous HTTP Calls on the setup. And in the meantime, I am trying to do a rolling update. My expectation is that until the new pod comes up, All HTTP Calls will be served by the older pod. And once the new Pod is up, All calls will be served by this. Hence I

[2020-03-17 07:00] oblazek commented on #7775
We are setting this using our control plane so the static configuration - formatting/syntax might be a bit different, but the **Timeout** was the thing that solved it (we set it now to 30min which means the request have to be completed in 30min):
[code]
in the route configuration.

[2020-03-17 07:12] erikbozic commented on #9341
@dio  I'm also using https://github.com/openzipkin/zipkin-go. I made basically the same changes that @marcantoine-bibeau did in his PR and have been using my fork, since we're using the library with our own collector.

What's seems to be issue so we can't change this in Envoy? I'd dig in myself, but my cpp skills are non-existent...

[2020-03-17 07:25] winguse commented on #5933
@htuch I think this is not fixed. I tested with envoy `1.13.1`, there is possibility it will happen:

[code]

[2020-03-17 07:33] seflerZ commented on #10373
@mattklein123  Would you mind to paste the IEDS protocol definition onto this issue?

[2020-03-17 08:13] wbpcode commented on #4705
But there seems to be a problem with the performance of protobuf, especially when doing some write operations or converting JSON.

In fact, in our actual production scenario, in the case of using json format access log, qps is only 60,000+, and using the access log of TEXT format, qps can reach 90,000+.

[2020-03-17 08:33] wbpcode opened #10415 "The access log performance in JSON format is very bad"
ENV:

8c8g,
One cluster and one route,
Network of k8s,
No other http filter except router,
1000 concurrent.

Access log of JSON format:
60000+ qps

Access log of TEXT format:
90000+ qps

The test may not be detailed enough, but it is illustrative enough. In addition, the insert operation of dynamicMetadata also seems to be very expensive, but there is no special test in this part, and the results

[2020-03-17 10:51] slonka commented on #10363
@lukidzi - you recently worked on edge cases with `resource_names` and stale nonce, can you weight in on this?

[2020-03-17 17:16] SecurityInsanity commented on #10343
FWIW I think Option #2 here is by far the better option. I've definitely seen some people use: `.v2.yaml` in reference to the version of the file placed on disk through whatever generated the file. Don't think it's safe to rely on that.

[2020-03-17 17:50] ahmelsayed commented on #9682
Is this by any chance related to https://github.com/envoyproxy/go-control-plane/issues/269

Also a side note, I couldn't find any docs describing `set_node_on_first_message_only` other than this PR (https://github.com/istio/istio/pull/17361) mentioning that it's a perf optimization. Any details as to how it impacts perf?

[2020-03-17 18:07] wrowe opened #10420 "MSVC Compilation errors with current quiche implementation"
*Title*: *We encounter two different compilation errors building the quiche dependency on the MSVC compiler for Windows*

*Description*:
These two upstream errors prevent us from building the quic_listeners tests on Windows;

This first compilation failure should be relatively straightforward to review and correct;
[code]

This second compilation failure seems similar to other differences of inter

[2020-03-17 18:19] rharding6373 opened #10421 "Make TcpProxy::Filter a derivable class"
I'm creating an L4 filter that shares functionality with tcp_proxy but whose behavior must differ in some significant ways for our use case, e.g. open an upstream connection after receiving data from downstream and parsing and reacting to data from upstream in application-specific ways. I'd like to derive from TcpProxy::Filter so we can reuse the functionality that's already there and override the

[2020-03-17 18:28] htuch commented on #10411
Based on my limited understanding, JSON only has floating point types. Is the Protobuf library doing something non-standard in rendering to JSON here? Can we add some more formatting knobs to control that? Ideally tackling it at that level will keep Envoy simpler.

[2020-03-17 18:30] mattklein123 commented on #10421
cc @alyssawilk @zuercher @ggreenway who have worked in this area to advise.

[2020-03-17 18:45] htuch commented on #5933
@winguse are you using ADS? Do you have a trace of what the sequencing looks like?

[2020-03-17 18:46] dmitri-d opened #10422 "Quiche build failure under gcc"
Quiche fails to build under gcc (9.2.x) with the following error:

[code]

[2020-03-17 19:05] rharding6373 opened #10423 "Bucket TCP Connection Pool Connections by Key"
I'd like to use TCP connection pool, but be able to classify connections based on a key and keep them in separate buckets so that pending requests only use a new or existing connection with the same key. This is more fine-grained connection management than the TCP connection pool currently offers.

I think this feature would be generally useful to the community, and it's similar to what is done in

[2020-03-17 19:35] rharding6373 opened #10424 "Expose TcpUpstream ConnectionData"
I'd like to use ConnectionState to maintain persistent state during the lifetime of an upstream connection in an L4 network filter based on the tcp_proxy. My reading of the code suggests that you should get ConnectionState from ConnectionData via connectionStateTyped(), and that tcp_proxy uses GenericUpstream/TcpUpstream to store the ConnectionDataPtr. Would there be objections if the GenericUpstr

[2020-03-17 20:35] chintan-mishra opened #10425 "SNI in the FAQ doesn't work"
*Title*: *SNI config in the FAQ doesn't work*

*Description*:
I am trying to route HTTPS traffic to a container on my network. I have a very simple configuration that has two listeners and one cluster. The listener for HTTP traffic reroutes everything to HTTPS. The listener for HTTPS connects with the upstream container. While connecting with the website using `curl -v https://rebhu.com` I get the

[2020-03-17 21:01] mattklein123 commented on #10425
cc @PiotrSikora @ggreenway

[2020-03-17 21:05] mattklein123 commented on #10423
IIRC this is already basically implemented? I thought we already supported generic keying? cc @ggreenway @zuercher

[2020-03-17 21:05] mattklein123 commented on #10424
cc @ggreenway @zuercher

[2020-03-17 21:16] mattklein123 commented on #10408
cc @snowp @envoyproxy/api-shepherds for comment.

[2020-03-17 22:09] chintan-mishra commented on #10425
Thank you @mattklein123 for referencing people here.

I figured that this was an uncommon issue particularly related to the LetsEncrypt TLS certificate in use. I was supplying `fullchain.pem` file in the `certificate_chain` option within the config. It combines server certificate and any additional intermediate certificate in the `fullchain.pem` file. The server certificate is available within the

[2020-03-17 22:09] #10425 closed

[2020-03-17 22:25] ggreenway commented on #10421
At one point in the past, TcpProxy did use inheritance to support websockets. I don't think it is really built in a way that handles inheritance very well. I think we should look into other ways of extending it, if that's needed.

From what you've described above, it sounds like you may be able to build what you need with a combination of downstream and upstream network filters, and possibly some

[2020-03-17 22:26] htuch commented on #10408
I think the field should be first-class in `Endpoint`, as this in in-built behavior. I like the proposal:

[2020-03-17 22:31] snowp commented on #10408
I think making it first class makes sense. We might want some guidance somewhere about when things should be using metadata vs first class fields? I suspect the distinction would be around wanting set it as part of dynamic metadata, but there might be other considerations.

This change probably means that https://github.com/envoyproxy/envoy/pull/10233 should also support EDS, as it now will have a

[2020-03-17 23:42] htuch commented on #10408
@snowp there is also the consideration around whether these are proxy native features vs. extension features. The guiding principle is towards structured proto vs. OOB standardized JSON bag (metadata) where this makes sense.

[2020-03-18 02:42] rharding6373 commented on #10421
Here is a more complete list of features we're trying to accomplish:
- Open upstream connection only after receiving downstream data (i.e., don’t disable reads when filter is initialized).
- Inject data upstream when a new upstream connection opens.
- Inject data downstream when it is associated with an upstream connection.
- Inject data upstream when the downstream connection closes, before retur

[2020-03-18 06:27] wbpcode opened #10430 "May StreamInfo::FilterState::Object add a virtual method of serializeAsString?"
In most cases, StreamInfo::FilterState::Object only store some simple values just like a string or number. Although serializeAsProto is very flexible, it is also relatively more complicated. It will be very helpful to provide a serializeAsString for the serialization of some simple value. Especially when recording access logs, it is unnecessary overhead to convert string/int to proto and then from

[2020-03-18 11:35] tzuryby opened #10435 "Accessing meta data such as method, uri (path + query) from Lua API"
I am trying to figure out how can I access basic information such as request path and method from lua.
By looking through the docs, I could not see any option for this.

I was thinking of two possible options:

1. Using [metadata](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/lua_filter#metadata-object-api)
2. A prior filter that will feed this infomation to the heade

[2020-03-18 11:45] Zsolt-LazarZsolt commented on #10159
Hi, Any ideas or questions? This is highly reproducible in multiple clusters.

[2020-03-18 15:38] dio commented on #10435
@tzuryby how about accessing it directly from lua request handles?

https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/lua_filter.html#config-http-filters-lua-header-wrapper

[code]

[2020-03-18 16:07] tzuryby commented on #10435
awesome. had no idea headers is interface for meta data.
where can I find a list of all data available as in `get(":data")`  ?

[2020-03-18 16:29] mattklein123 commented on #10430
Seems fine to me. @htuch @lizan ?

[2020-03-18 16:29] fpliu233 opened #10436 "Set External Authorization filter CheckRequest Http Request Scheme with Proper Header"
*Title*: *Set External Authorization filter CheckRequest Http Request Scheme with Proper Header*

*Description*:

[2020-03-18 16:38] ggreenway commented on #10421
Got it. This helps to see all this in one place.

I agree it makes sense for this to implemented as a proxy filter, given all the direct interactions between the upstream and downstream side.

My feeling is that just making the methods you listed virtual may allow you to implement your new filter, but the interface between the two will be very brittle. Everytime someone needs to change or refactor

[2020-03-18 16:39] #10266 closed

[2020-03-18 16:51] snowp commented on #10435
These are HTTP/2 pseudo-headers: https://tools.ietf.org/html/rfc7540#section-8.1.2.3

[2020-03-18 17:19] alyssawilk commented on #6815
Hey @winguse
Assuming I'm reading this right, I see your node.js sending a FIN and Envoy using that connection.  There's no indication that Envoy had gotten around to reading the FIN before it posted to the open connection though so I'm not sure why this would be anything but the race previously discussed, unless I'm missing something?
Any time your upstream might time out idle connections before

[2020-03-18 17:47] #9981 closed

[2020-03-18 17:51] lizan commented on #10430
We already have such object that serialize as protobuf well known type:
https://github.com/envoyproxy/envoy/blob/master/source/common/stream_info/uint32_accessor_impl.h
https://github.com/envoyproxy/envoy/blob/master/source/common/router/string_accessor_impl.h

This will also automatically converted to right type in JSON access log. I don't think we need a serializeAs* methods for each type, unles

[2020-03-18 18:02] kyessenov commented on #10430
I had some [luck](https://google.github.io/flatbuffers/) using [flatbuffers](https://google.github.io/flatbuffers/). I think proto serialization was taking >50% of CPU overhead in Wasm ABI, so we're avoiding it like a plague on the interface.
If we can agree to use flatbuffers as the format for filter state, that would be wonderful.

[2020-03-18 18:20] alyssawilk commented on #10421
Yeah, I think the clean way to do this is mostly with upstream filters.   I'd suggest giving that a try and we can help out if you get stuck anywhere

* Open upstream connection only after receiving downstream data (i.e., don’t disable reads when filter is initialized).
I think this can be done with a downstream filter today, no?  I'd argue it's useful enough that we could add it  to the base clas

[2020-03-18 19:08] mattklein123 commented on #7579
I think this was fixed actually.

[2020-03-18 19:08] #7579 closed

[2020-03-18 19:18] mattklein123 commented on #9682
@wgallagher is going to fix this. Thank you!

[2020-03-18 20:07] BhagathSeelam opened #10442 "Example on Envoy-xray integration"
Can someone provide configuration example on Envoy with Aws xray?

Thanks

[2020-03-18 20:19] mattklein123 commented on #10442
cc @marcomagdy would be nice to get a doc update on this if needed.

[2020-03-18 20:21] mattklein123 commented on #9512
@derekargueta I know you are working on this in your spare time, but would you mind a short summary of what you know about what is broken and what needs to be fixed? I'm wondering if we can get someone to help push this over the finish line if there is something useful that can be done. Thank you!

[2020-03-18 20:32] #10328 closed

[2020-03-18 21:01] thylong opened #10444 "Idea: Make the Envoy documentation printable"
*Title*: *Make the Envoy documentation printable *

*Description*:

[2020-03-18 21:06] tzuryby commented on #10435
many thanks!

[2020-03-18 21:06] #10435 closed

[2020-03-18 21:09] NickLarsenNZ commented on #6953
@jmarantz @dichen16  @derekargueta
Should this issue be closed now that the PR has been merged, or is there more to do on it?

[2020-03-18 21:10] jmarantz commented on #6953
yes thanks!

[2020-03-18 21:10] #6953 closed

[2020-03-18 21:15] derekargueta commented on #6953
There's still 3 other cases of `time(nullptr);`

https://github.com/envoyproxy/envoy/blob/4b69ef3d2da17f1239ae76367fc217c84118ef2d/source/server/server.cc#L60
https://github.com/envoyproxy/envoy/blob/4b69ef3d2da17f1239ae76367fc217c84118ef2d/source/server/server.cc#L193
https://github.com/envoyproxy/envoy/blob/c5f4302325223765b660f0f366ce25bf8570e7a5/test/common/router/router_upstream_log_test.cc#L

[2020-03-18 21:16] derekargueta commented on #6953
I was thinking a nice follow-up after fixing these is to add a `time(nullptr)` check to `check_format.py`

[2020-03-18 21:43] mattklein123 commented on #10444
Sure. PRs welcome.

[2020-03-18 22:42] ggreenway opened #10445 "Use of grpc-stats filter with untrusted clients can cause unbounded growth of stat names"
*Description*:
The grpc-stats filter creates stats with names based on client-provided data (grpc service/method names).

An untrusted client could send a stream of requests with unique names, causing a stat to be allocated in envoy for each one. This increases memory use, and load on the stats pipeline, and could be used to cause a denial-of-service.

[2020-03-18 22:42] ggreenway commented on #10445
cc @kyessenov

[2020-03-18 22:44] kyessenov commented on #10445
I think we should add an option to stop emitting per-method stat? WDYT?
Per-method stats are useful for trusted clients, but exposes a potential vector at the ingress.

[2020-03-18 22:44] ggreenway commented on #10445
I propose adding an optional whitelist of service/method names.

In addition to removing the potential for unbounded growth, it could also improve performance because the stats could be pre-allocated and kept in a filter-local read-only lookup table with no locking.

[2020-03-18 23:16] marcomagdy commented on #10442
[code]
For more information on the contents of the rule.json file see the [x-ray documentation](https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-go-configuration.html#xray-sdk-go-configuration-sampling)

I'll update the documentation in Envoy with a complete example as soon as I can.
Let me know if you still have questions.

[2020-03-18 23:41] mattklein123 commented on #10445
My advice would be to both have an option to stop emitting per-method stats and also have an option of an allow list for which service/methods are allowed. This will be the most flexible.

Even if we don't have time to implement as part of the primary PR, can we also audit all of the grpc filters for similar issues? I think we might want a common config structure we could use in other places in th

[2020-03-18 23:46] ggreenway commented on #10445
@kyessenov here's what I have come up with for a config. Let me know what you think.

[code]

[2020-03-18 23:51] kyessenov commented on #10445
LGTM. The one thing I was looking for is how to share the method white list between filters and routes. I imagine it's generally useful and is much more light-weight than the protobuf descriptor.

[2020-03-19 00:06] ggreenway commented on #10445
I'll make the `ServiceAndMethods` message separate from this filter (put it somewhere common). Then it can be used for this, route whitelist, and other grpc-related filter stats if someone takes that on in the future.

[2020-03-19 00:15] #10057 closed

[2020-03-19 00:17] htuch commented on #10430
I'd probably want to see some application where adding flat buffers to Envoy is going to really pay off to justify having competing proto-like implementations. We always will have proto for xDS, I wish we could make that faster (xDS updates can sometimes dominate CPU on the main thread at scale).

Re: @wbpcode's question, I guess, why not, but again, it seems like something you want to do when you

[2020-03-19 00:24] kyessenov commented on #10430
Proto and flatbuffers don't serve the same purpose. You can put flatbuffer into protos as `bytes`. Wasm ABI really needs something more performant than protobuf for runtime data exchange, so I'd advise against using protobuf for runtime representations. Protobuf is perfectly suitable for RPCs.

[2020-03-19 00:27] htuch commented on #10430
@kyessenov can we cheaply (de)serialize into JSON flat buffers? My main worry is that in places where runtime representations become wire representations (e.g. custom gRPC access log), we're adding another layer of serialization and another Envoy dependency. We can do this, but we better have a strong motivating use case. Flat buffers also become a security critical dependency as they are on the d

[2020-03-19 00:30] kyessenov commented on #10430
AFAIK there's no full JSON support. The library is very small (just one header file).

[2020-03-19 00:39] junr03 opened #10449 "virtual clusters: emit additional metrics"
*Description*:
Currently [Envoy Mobile](https://github.com/lyft/envoy-mobile) uses (effectively) a single dynamic forward proxy cluster for all of its traffic. This results in dramatically simpler ergonomics for users of the library. However, it reduces the granularity of metrics available because all traffic is going through the same cluster.

This is a perfect use case for [Virtual Clusters](htt

[2020-03-19 02:12] caitong93 opened #10450 "Discussion: reopen log files without hot restart envoy"
*Title*: *Reopen log files without hot restart envoy*

*Description*:

I'm trying to use logrotate + hot restarting envoy to dealing with increasing envoy access logs.
And I have read https://github.com/envoyproxy/envoy/issues/1109 .
My concern is that frequent hot restarting affect performance (we use envoy as API gateway), and wonder if envoy can implement a more lightweight approach (like what

[2020-03-19 07:23] wbpcode commented on #10430
Really because of performance. In our actual use, I found that JSON format logs reduced qps by 1/3. An important reason is the conversion from proto to JSON. In addition, when I use dynamicMetadata to store some simple data, I find that it is also expensive. FilterState was used to replace dynamicMetadata, which was a significant improvement.

[2020-03-19 08:15] oblazek commented on #8259
I can confirm the same behavior in different envoy version. When these stats are filtered out envoy will eject all hosts in a cluster (and doesn't honor MaxEjectionPercent).

[2020-03-19 08:23] sumukhs opened #10451 "Question: is there a filter that routes based on grpc request message value?"
I am experimenting with gRpc apis via envoy and figured that routing based on paths is pretty rigid because grpc always sets the path to packagename.servicename/methodname.

Header metadata matching is something I could use, but is there a way to specify matching routes based on some string matching (regex or equals or prefix) to a field value in the message format of the body in the request?

If

[2020-03-19 17:05] mattklein123 commented on #10450
This is already implemented. Send SIGUSR1 IIRC.

[2020-03-19 17:08] mattklein123 commented on #10451
Routing on the message contents requires having access to the message descriptor. This is a general topic that we do want to start figuring out for a variety of different use cases (tap, envoy mobile, etc.) but there is no easy answer here.

[2020-03-19 17:15] sumukhs commented on #10451
Doesn't the proto descriptor set already have the message description? We provide that as an input the transcoder. Isn't it a similar mechanism?

Or the other idea was to convert the incoming message to json and route based on the key value matching. I can see how this is not efficient though.

[2020-03-19 17:23] snowp opened #10454 "Extract FilterManager from HttpConnectionManager"
We should extract out the code that manages the iteration of HTTP filters from the HCM, similar to how `Network::FilterManagerImpl` is not tied to one listener implementation. This will allow us to reuse this code elsewhere, e.g. to provide upstream HTTP filter chains that apply to outbound HTTP requests.

[2020-03-19 17:27] snowp opened #10455 "Upstream HTTP filters"
Today there is no way for an extension writer to access the individual requests that are sent by the router (or any other HTTP client). We should extend the API to support adding upstream HTTP filters: same interface as the existing HTTP filters, but they apply to outbound requests.

Originally I envisioned these to be on the router (similar to how the upstream logs are defined there), but perhaps

[2020-03-19 17:30] mattklein123 commented on #10451
The grpc-json transcoder has the descriptor loaded into it. So yes, if you have the descriptor, it would be possible to do this. See https://github.com/envoyproxy/envoy/issues/6109

[2020-03-19 17:38] #10180 closed

[2020-03-19 19:00] iamktm commented on #1106
Is it possible to support higher level abstractions such as the Windows Certificate Store (via CNG), macOS keychain (via CryptoTokenKit), etc., in addition to PKCS#11? By doing this, users could get easier access to the cryptographic keys and certs currently present in their local stores by making use of the drivers they already have installed.

[2020-03-19 19:56] snowp opened #10457 "Upstream FilterState for HTTP requests"
Currently the `upstreamFilterState` is only set by the TCP proxy. We should support this for HTTP as well: this would allow upstream filters to set information on the connection, which could then be consumed in HTTP access logs.

As part of this we would probably want to make `FilterState` less downstream specific (e.g. rename the scopes to be direction agnostic).

[2020-03-19 20:14] #9961 closed

[2020-03-19 20:18] ankitavsingh commented on #6121
Can we also stat the current timeouts set by downstream services? We want to restrict the timeouts set for our third-party dependencies and want to evaluate timeouts set by the calling services.

[2020-03-19 21:14] #9994 closed

[2020-03-19 22:11] cxhiano opened #10459 "xDS gRPC CallCredentials: support loading service account key from file system"
Today when using a service account key as xDS gRPC call credentials, the content of the service account key needs to be included in Envoy bootstrap config. E.g.
[code]
It would be better, if there is an option to keep service account key outside of bootstrap config in a file and reference the file path in bootstrap config.

[2020-03-19 23:47] gargnupur opened #10462 "Running format fix under docker fails"
*Title*: *Running format fix under docker fails *

*Description*:
Running format fix under docker fails  with the following error:
Building wheels for collected packages: functools32
  Running setup.py bdist_wheel for functools32 ... error
  Complete output from command /usr/bin/python -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-jDucWG/functools32/setup.py';exec(compile(getattr(tok

[2020-03-19 23:48] gargnupur commented on #10462
/cc @PiotrSikora @kyessenov @jplevyak @mattklein123

[2020-03-20 01:39] caitong93 commented on #10450
Thanks! My missing when reading docs.

[2020-03-20 01:39] #10450 closed

[2020-03-20 04:55] argos83 commented on #9501
Hi @mattklein123, we've been investigating some issues one of our high throughput services was having, and found the cause to be this low fixed backlog size. A particular problem with this is, when the queue is full and new connections are rejected, envoy does not seem to be aware of the problem and no error metrics are emitted. So we were flying blind and had to rely on OS stats to find the cause

[2020-03-20 06:17] #10301 closed

[2020-03-20 06:50] MOURYA00 opened #10465 "Debugging Envoy Code"
I am new to Envoy proxy, I started to learn about it, gone through the documentation.
I wan to understand the code in depth, so usually the best way to understand any code is by debugging it, I downloaded the envoy code and using visual studio as editor, I don't know how I can debug the code, like marking debug points and get the code hit at that break point.
I searched a lot, what I found is, bui

[2020-03-20 09:10] hobbytp commented on #9300
if I set the client envoyproxy both tls_maximum_protocol_version and tls_minimum_protocol_version to TLSv1_3, will it fail to communicate with TLS1.3 server?

[2020-03-20 15:08] markdroth commented on #10373
Harvey and I chatted about this and agreed to go with the namespace approach.  I'll let him propose the specific proto changes.

[2020-03-20 17:15] #10127 closed

[2020-03-20 17:17] mattklein123 commented on #9501
cc @paulnivin who has a partially done patch for this that maybe you can finish. Paul can you post what you have?

[2020-03-20 17:40] #7465 closed

[2020-03-20 17:55] paulnivin commented on #9501
https://github.com/paulnivin/envoy/tree/listen_somaxconn is the branch I had been working on, but I haven't had cycles of late to finish it up and add tests. Diff @ https://github.com/paulnivin/envoy/compare/master...paulnivin:listen_somaxconn?expand=1

My initial approach was to just have envoy use the OS tunable backlog (easier to implement and solves the high throughput case) and a later versio

[2020-03-20 18:08] PinchasLev opened #10468 "Cookie-based Session Affinity not respected across paths"
*Title*: *Cookie-based Session Affinity not respected across paths*

*Description*:

Multiple routes being configured for a service because some settings such as IdleTimeout need to be different.  Though, the desired behavior is that session-affinity would be preserved across all paths.   The approach taken was to set *route.routeAction.HashPolicy.Cookie* on each of the routes, setting the *name*

[2020-03-20 18:43] #10027 closed

[2020-03-20 19:23] rgs1 commented on #8448
On a related note, we are also hit by this (getting worse latency via Envoy than Nginx when compressing). I wrote #10464, as a starting point to start measuring things.

[2020-03-20 19:43] htuch opened #10471 "External dependency release maturity"
I have recently been looking at our external dependencies and noticed that a number of external dependencies, e.g. https://github.com/grpc-ecosystem/grpc-httpjson-transcoding, https://github.com/google/jwt_verify_lib/, https://github.com/circonus-labs/libcircllhist, do not provide versioned releases.

I think this is a concern from a security perspective, since it is challenging to systematically

[2020-03-20 19:52] htuch commented on #10471
Other problematic repositories:
* https://github.com/google/cel-cpp
* https://github.com/protocolbuffers/upb

[2020-03-20 19:53] htuch commented on #10471
Also CC @qiwzhang @kyessenov, do you folks know if you could add versioned releases and release notes to the repositories you own and pin Envoy to them? Thanks.

[2020-03-20 20:11] kyessenov commented on #10471
https://github.com/google/cel-cpp/issues/51

[2020-03-20 20:13] PinchasLev commented on #10468
/question

[2020-03-20 20:16] billybanfield commented on #1963
@mattklein123 I went to try my hand at one of these and noticed that the s3 bucket gives an AccessDenied error. Any idea why that may be?

[2020-03-20 21:05] mattklein123 commented on #1963
Sorry the coverage report has moved here: https://storage.googleapis.com/envoy-coverage/report-master/index.html

[2020-03-20 21:43] #9977 closed

[2020-03-20 21:56] mattklein123 commented on #10468
cc @alyssawilk who I think is familiar with the cookie hashing code.

[2020-03-20 23:09] moderation commented on #10471
My highly manual and not scalable solution is to track all dependencies in RSS. I usually run latest commit versions of all dependencies without releases. I'll occasionally include the updates in the regular dependency update PRs I make but there has been push back in the past on updating the non-release deps.

Full list of deps that don't have releases:
- https://github.com/envoyproxy/envoy-build

[2020-03-21 11:04] #10024 closed

[2020-03-21 14:43] cpakulski commented on #10465
The following method works for me:
- build the static image with symbolic information:
    `bazel build -c dbg //source/exe:envoy-static`
- use debugger to load the image, set breakpoints and run Envoy:
    `gdb --args bazel-bin/source/exe/envoy-static -c <your-config-file>`
- to run Envoy without debugger:
    `bazel-bin/source/exe/envoy-static -c <your-config-file>`
If it crashes, `core` file is

[2020-03-21 19:50] aviramha commented on #10402
Would my PR be useless without prior feedback?

[2020-03-21 21:04] #9657 closed

[2020-03-21 22:04] #9950 closed

[2020-03-22 03:54] #10054 closed

[2020-03-22 09:12] MeenaAlfons opened #10478 "Some tests fail consistently with dyld: Symbol not found: _program_invocation_name"
I'm new to envoy. I've read the documentation and the developer guides to build and test envoy. I'm using **mac**. Some tests fail with the same reason. I'll put the output of multiple ones here, not all of them.

**Command:**
[code]
OR
[code]

**Logs**
[code]

[code]

[code]

**I need help regarding what does that mean and how to fix it.**

Thank you.

[2020-03-22 21:21] htuch commented on #10355
My current proposal for the coming week is the following:
* We stop accepting PRs that contain v2 API changes. This will be enforced by a CI check. @envoyproxy/api-shepherds will be able to override this in exceptional situations, providing the v2/v3 changes are identical and there is a clear reason to violate the API versioning policy.
* `protoxform` pipeline is switched to take v3 as the input a

[2020-03-22 21:45] mattklein123 commented on #10355
SGTM!

[2020-03-23 04:25] winguse commented on #5933
@htuch yes, we are using ADS. and the sequence are the same as the above. But this time, we cannot reproduce this in a stable way, it happen at times. I have a test run against all ~150 node configs, it will random fail ~3 cases.

[2020-03-23 05:35] jpeach opened #10481 "HTTP Connection manager documents `request_timeout` as an idle timeout"
*Description*:

The `HttpConnectionManager.request_timeout` is documented as:

The second sentence describes an active request, but the first sentence says this is a timer for "idle requests".  Maybe this language can be clarified?

*Relevant Links*:

https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/http_connection_manager/v2/http_connection_manager.proto.html

[2020-03-23 07:50] derekargueta commented on #9512
Haven't gotten full RCA yet, extra eyes/hands would be much appreciated.

TL;DR, today if you generate compile_commands.json, `clang-tidy` doesn't seem to like it. There have been multiple changes that could affect this since this broke around mid-October. The most significant events (AFAIK):
* Oct. 15, 2019 - [build: use clang-9](https://github.com/envoyproxy/envoy/pull/8613) <-- this broke clang

[2020-03-23 08:08] g-easy commented on #10024
Sorry about the lack of response on this. I'm very limited in how much time I can spend on OpenCensus. :(

This should be fixed by: https://github.com/census-instrumentation/opencensus-cpp/pull/437

I think I missed this because I was testing the zipkin exporter with a zipkin backend, which I guess does different checks from jaeger.

[2020-03-23 08:22] mythi commented on #8448
Perf annotations and flamegraphs could also help debugging

[2020-03-23 11:14] winguse commented on #6815
Thanks @alyssawilk

As we can see in the screenshot, we see envoy had acked the FIN and sending the request again after 1.4 second, so I guess this race condition can be avoidable. Is that valid to you?

On the other hand, in our case, we find this happen quite frequently.

[2020-03-23 12:20] am-oxipay opened #10482 "Feature Request: Support basic Regex virtual host domain matching"
*Title*: *Feature Request : Support basic Regex virtual host domain matching*

*Description*:
I was attempting to migrate from Nginx to Envoy and encountered the following limitation with domain name matching in Virtual Hosts.

The envoy instance had the following domains (on vm01.example.com) which it required to match to a specific virtual host / cluster:
- svcx-01.uat.example.com
- svcx-03.uat.

[2020-03-23 14:06] jmarantz opened #10483 "test: coverage-test crash in IpVersions/TcpProxyMetadataMatchIntegrationTest.EndpointShouldNotMatchWeightedClusterWithMetadataMatch/IPv4"
coverage test stack trace:
[code]

who can take a look?

[2020-03-23 14:08] jmarantz commented on #10483
@antoniovicente FYI

[2020-03-23 14:58] htuch commented on #5933
@winguse are you using logical DNS or EDS?

[2020-03-23 15:20] antoniovicente commented on #10471
How do we reconcile support for older Envoy releases with the need to pick up security fixes for base dependencies?  We can't count on base libraries releasing fixes on a particular schedule.  I think we wanted to avoid frequent updates to older releases.

Also, what can we do about existing dependencies that don't have regular releases?

[2020-03-23 16:04] mattklein123 commented on #10483
cc @zuercher @ggreenway I've seen this multiple times would be great to get this fixed.

[2020-03-23 16:44] mattklein123 commented on #10471
FYI I'm going to raise this issue with CNCF SIG-security as dependency tracking is an issue that has come up multiple times for many projects.

We probably need to start by enumerating all of our dependencies as we have started to do above, trying to get rid of as many dependencies as possible that we don't actually need, and then looking at the remainder on a case by case basis. The obvious issue

[2020-03-23 16:47] mattklein123 commented on #10481
Yes the idle part is wrong. Doc PR appreciated. Please also reconcile with https://www.envoyproxy.io/docs/envoy/latest/faq/configuration/timeouts

[2020-03-23 16:48] mattklein123 commented on #9512
Thanks a ton @derekargueta for the detailed writeup. cc @marcomagdy ^ if you have any cycles to help sort this out that would be highly appreciated.

[2020-03-23 16:49] mike1808 commented on #9657
We found that the result of 404 errors is that ClusterLoadAssingments (endpoints configured via EDS) are not yet ready for the given cluster we want to reach out hence causing 404 errors. Those endpoints are not shown in /config_dump endpoint and only in /clusters which we didn’t monitor.

[2020-03-23 16:50] mattklein123 commented on #10482
cc @zuercher. If we add this I think we will need to make this explicit using the `StringMatcher` construct so that we can use saferegex, etc. Also, regex precludes hash/trie matching so this would need to be thought through very carefully.

[2020-03-23 17:05] junr03 commented on #9890
Another occurrence https://dev.azure.com/cncf/envoy/_build/results?buildId=35248&view=logs&j=a5e52b91-c83f-5429-4a68-c246fc63a4f7&t=5852bf5a-5a02-52f3-bee8-4fdc90cda9d0&l=21331

[2020-03-23 17:24] ripread opened #10485 "Long compile times"
Hey Envoy,

I'm trying to write a filter for Envoy to render HTML pages. I downloaded the echo2 filter example but the compile times take so long on my machine! After around 6 hours I had only completed 6/150 integration tests and things were still compiling. I don't need to build all of Envoy. I can build the library as a .so and load it into the prebuilt Docker.

- Am I doing something wrong?
-

[2020-03-23 17:29] htuch commented on #10471
Yep. I think snapped releases is a necessary, not sufficient condition, and a smell if missing. A more complete list of criteria for what constitutes a dependency we're willing to take would make sense.

[2020-03-23 17:38] HenryYYang commented on #10402
sorry for the delayed response.  Since envoy proxy multiple downstream client connections to the upstream Redis server, this is potentially confusing if it comes from the downstream client.
 I think options 2 and only option 2 make sense in the current context, you can follow the example of how AUTH does it.

[2020-03-23 18:23] marcomagdy commented on #9512
@derekargueta I wonder if this is related to how the compilation database gets screwed up after running `proto_format.sh`. At any rate I'll take a look.

[2020-03-23 18:38] #7404 closed

[2020-03-23 18:39] #10378 closed

[2020-03-23 18:49] #10239 closed

[2020-03-23 18:56] rgs1 commented on #8448
fwiw, this takes 6ms in my tests:

[code]

cc: @rojkov

[2020-03-23 19:03] alyssawilk commented on #10468
caveat, I'm not terribly familiar with the cookie hashing, but poking around:

I assume your questions about generated / passive come from here:
https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route_components.proto#route-routeaction-hashpolicy-cookie
Looking at the proto docs, it looks like setting TTL is what gets you to go from only passive to generated.

Looking at where we add

[2020-03-23 19:52] lizan commented on #9512
Yes I think that's the cause. It is also affecting my local dev experience. I will try fix that soon.

[2020-03-23 19:55] kyessenov opened #10487 "stream info: expand protocol set"
As a follow-up to https://github.com/envoyproxy/envoy/pull/10383, I would like to differentiate between connections handled by HCM vs `tcp_proxy` across filter chains in a single listener. The `protocol` field in the stream info seems appropriate, but right now it's an enum with HTTP protocol versions. The proposal is to change it to be a bit mask, and and add a few values:
- TCP for all TCP inclu

[2020-03-23 19:57] incfly commented on #3362
/cc @incfly

[2020-03-23 20:02] lizan commented on #9916
not stale, PR #10448

[2020-03-23 20:03] rgs1 commented on #8448
Ok, deleted my last comment because it was inaccurate -- the problem was with the mocks. Getting rid of those and I get back ~6ms. I'll keep removing the mocks/boilerplate to get more accurate measurements.

[2020-03-23 20:22] lizan commented on #10465
I have my half baked `devcontainer` [here](https://github.com/lizan/envoy/commit/83cc3cba6171909cfcbfb64a368f399152fd264e), if you use VSCode you may find it useful. Will upstream when I have more bandwidth.

[2020-03-23 21:20] PinchasLev commented on #10468
Yes. We were seeing 60s of stable routing behavior and it broke down afterwards.  As mentioned earlier, affinity broke down once the ttl expired or the connection was moved to another pod.

I'm looking to verify whether *generated* mode, is what will ensure session-affinity even for requests matching different routes?

[2020-03-23 21:50] jpeach opened #10489 "Envoy can generate invalid IPv6 literal URLs"
Envoy fails to parse a URL generated by resolving the xDS server name to an IPv6 address:

[code]

The URL should be ` tcp://[2001:db8:10a:c751::ffff:42ba]:8001`, which is parsed by `Utility::parseInternetAddressAndPort()`.

It is likely that the caller is using `Utility::portFromTcpUrl()`, which doesn't call the full parser. This seems like a related but distinct problem.

A brief grep looks like

[2020-03-23 21:52] jpeach commented on #10481
Thanks for the confirmation @mattklein123. I should be able to send a PR later in the week.

[2020-03-23 22:09] kyessenov commented on #10487
cc @mandarjog @zuercher for thoughts

[2020-03-23 22:34] mattklein123 commented on #10487
This sounds reasonable to me.

My only comment here would be try to figure out a way to keep any extension protocols from creeping into the core, so I would probably try to figure out some way to make this extensible with well known bits and then potential optional bits or a repeated set of strings/codes/whatever.

[2020-03-23 23:39] andrewhsu commented on #7363
Should this issue be closed now that #10152 is merged?

[2020-03-23 23:40] rharding6373 commented on #10423
Any thoughts on this issue?

I see that the cluster manager can keep multiple pools that are keyed by hashed socket options. Is there already a way to take advantage of this generic keying for protocol-specific data provided at run time? Or is there another approach that you recommend?

[2020-03-23 23:57] moderation commented on #7363
Closting. We are not using the 0.12.0 release unfortunately but a commit after that release. But good enough

[2020-03-23 23:57] #7363 closed

[2020-03-23 23:58] kyessenov commented on #10487
Regarding the open-ended protocol set, is there a prior art or preference in Envoy?
Option 1: Make it a bit mask and reserve some base number of bits for core, and let the extensions pick the rest (in ad-hoc manner).
Option 2: Create a factory registration pattern that would register a protocol value via a static initializer.

[2020-03-24 00:04] mattklein123 commented on #10487
This would be really nice but more work. Would definitely prefer this. The issue with this is wouldn't necessarily be consistent across deployments. Can we just use a repeated set of string codes or something?

[2020-03-24 00:16] rharding6373 commented on #10421
After playing with upstream filters for a few days, I managed to do most of the kinds of upstream/downstream communication tasks we need. However, connection re-use is still an issue. Is there a way to make tcp_proxy reuse connections?

If not, it sounds like we will want to replace tcp_proxy with our own listener filter, as we'd like to take advantage of the built-in connection pool, but certainl

[2020-03-24 01:39] winguse commented on #5933
@htuch we are using logical DNS

[2020-03-24 01:40] winguse commented on #5933
that's a valid point, as you can see the log above, it's aws kinesis. it sounds like it's because DNS lookup taking longer time?

[2020-03-24 12:52] htuch commented on #5933
@winguse yeah, I think this is the same as https://github.com/envoyproxy/envoy/issues/5174. Did you consider enhancing your ADS to do (2) in https://github.com/envoyproxy/envoy/issues/5174#issuecomment-453689096? This should now be an option since https://github.com/envoyproxy/envoy/pull/5887 has merged.

[2020-03-24 15:53] #9074 closed

[2020-03-24 16:02] marcomagdy commented on #10442
There is no more configuration needed.
I don't have visibility into the rules you are supplying to the tracer (/xray_daemon/rules.json).

You either have a low sampling rate that's why you are not seeing anything sent to the daemon. You need to send more requests. Or the rules you set are not matching any of the requests you are making.

[2020-03-24 16:33] PinchasLev opened #10498 "Burst of HealthChecking Probes"
*Title*: *Burst of Health Checks on Cluster with Many Replicas of Envoy*

*Description*:
Users of upstream services are complaining about bursts of health checks.  The issue is that all replicas of Envoy require to internally maintain the accessibility of all the upstream replicas of a given service, so as to correctly implement the load balancing strategy, removing inaccessible upstreams from con

[2020-03-24 16:44] alyssawilk commented on #10468
Having different routes shouldn't affect how generated mode works - the hash should be the same assuming the client connection is the same (which may not be true for HTTP/1.1 even with the same route, given it would often have multiple connections with multiple ports)
If you want longer stable routing I think you can just increase your TTL then?

[2020-03-24 16:48] #10449 closed

[2020-03-24 17:19] #6271 closed

[2020-03-24 17:24] BhagathSeelam commented on #10442
@marcomagdy

I am allowing all paths with *

here is my rules.json file

{
  "version": 2,
  "rules": [
    {
      "priority":1,
      "description": "Envoy XRay Sampling rules",
      "service_name": "*",
      "http_method": "*",
      "url_path": "*",
      "fixed_target": 100,
      "rate": 1
    }
  ],
  "default": {
    "fixed_target": 1,
    "rate": 0.1
  }
}

[2020-03-24 18:56] PinchasLev commented on #10468
Thanks for raising that point, regarding client connections potentially not being the same.  I'd need to investigate that in greater depth.  Though I'd need to know what fields are included in the hash.

Well, when you say the connection isn't the same, would that matter if the the request is presenting the cookie?  Or are saying that a new connection wouldn't--by definition--be presenting the coo

[2020-03-24 19:17] SecurityInsanity commented on #10485
Hey @ripread ,

Envoy builds in extensions to the resulting binary through static linking. There's no way to dynamically load a `.so`. Though you probably don't need to run all of envoy integration tests for your filter. Ideally you'd only run the integration tests for your specific filter. However, you'd still need to run a build of envoy which will probably still take awhile if your progress on

[2020-03-24 19:41] rgs1 commented on #8448
Adding stats to track flushes: #10500.

[2020-03-24 19:55] alyssawilk commented on #10468
The hash is based on the four tuple, which includes the downstream port.
For HTTP/1.1 browsers generally open a number (6+) connections to a destination, each of which has its own distinct port.  That's the early race bit. Once the cookie is set it persists for the lifetime of the cookie, but if it is set to expire in 60s it's highly likely (if browser based, so with many connections) that the new

[2020-03-24 20:12] alyssawilk commented on #6815
Acked what fin?  I don't see upstream sending a FIN.  I had assumed Envoy initiated connection close - it's possible for a close to be FIN+Ack-of-prior-data.  From the trace I'm not seeing this being [FIN + ack-of-peer-fin]

What I see is Envoy sending an HTTP/1.0 response, without keep-alive, which means the connection will be implicitly closed.  It then closes the connection with a FIN and the p

[2020-03-24 21:25] jaredkhan opened #10505 "gRPC-JSON transcoder does not support additional_bindings"
*Description*:
googleapis provides a Method annotation called http which can be used to describe a mapping from your gRPC service to a REST API

They extend the MethodOptions type to add http of type HttpRule: https://github.com/googleapis/googleapis/blob/master/google/api/annotations.proto

They define the HttpRule type: https://github.com/googleapis/googleapis/blob/master/google/api/http.proto

[2020-03-24 21:32] marcomagdy commented on #10442
Verify two things:
1. You have `tracing: {}` in the connection manager settings (see below)
2. Use the (non-deprecated) `typed_config` in the tracer (my bad for suggesting those earlier).

[code]
Use the non-deprecated configuration:
[code]

[2020-03-24 21:38] htuch commented on #10311
I think going beyond this, we also need to rethink how docs are organized for v2/v3. As we move towards a world in which there are v2/v3/v4alpha and some package namespaces are still only at v2, there's no good reason to keep labeling the API DAG with a single version in the docs tree.

I would like to see some structure in which each package appears once, and then provides access to the range of

[2020-03-24 22:12] PinchasLev commented on #10468
Alyssa, it makes sense, except that I find the *proto* confusing given that--based on what you're saying--only the *TTL* has any bearing, so why do does the *proto* include *name* and *path* fields?  How are those fields used in cookie-based session-affinity?

[2020-03-24 22:14] rgs1 commented on #8448
Ok, so started running with the stats added in #10500 and the ratio of flush vs finish vs upstream_rq seems potentially concerning:

<img width="1315" alt="Screen Shot 2020-03-24 at 6 10 03 PM" src="https://user-images.githubusercontent.com/1349891/77481798-d0c45200-6dfa-11ea-9796-9ad312d62a32.png">

I am wondering if the change introduced in #3025 -- which was a fix for #2909 -- didn't mean to us

[2020-03-24 22:23] dio commented on #8448
@rgs1 thanks for this. I'd love to check on the regression (manual check if required) when you have something to test.

[2020-03-24 22:27] mattklein123 commented on #10498
Envoy already supports jitter via the `initial_jitter` and `interval_jitter` configuration options.

(2) Could probably be implemented via a custom health checker. Note also that Envoy can be used without active checking and rely on the control plane to provide centralized health checking.

[2020-03-24 22:28] mattklein123 commented on #7917
@kyessenov after the last PR can we call this done or do you have more to do? Thank you for your work on this!

[2020-03-24 22:57] kyessenov commented on #7917
I am working on adding protocol set strings to complete it: #10487 .

[2020-03-25 00:21] #10340 closed

[2020-03-25 00:24] BhagathSeelam commented on #10442
Hi @marcomagdy,

Thank for quick help, I can now see segments buffer being pushed by xray_daemon to xray API and able to view trace in console.

However i can only see client--> envoy trace in console, what is the configuration needed for tracing http filters like "envoy.filters.http.jwt_authn , envoy.config.filter.http.ext_authz.v2.ExtAuthz"  and downstream routes.

[2020-03-25 00:28] marcomagdy commented on #10442
None of the tracers collect traces inside of Envoy AFAIK (definitely not X-Ray).
Ideially Envoy is should be transparent to your upstream/downstream.

[2020-03-25 00:30] twghu commented on #10471
Wondering what is the vetting process for new dependencies.

Is there a gating procedure (apart from code reviews) that is currently in play?
- cpe assignment
- cna (CVE Numbering Authority, who can assign CVEs for specific dependencies)
- transitive dependencies
- recommendation of potential duplicity. (a new X lib provides functionality already provided by a current dependency Y)
- security stat

[2020-03-25 00:30] rgs1 commented on #8448
Also related to perf (but still doesn't address the excessive flush issue): https://github.com/envoyproxy/envoy/pull/10508.

[2020-03-25 00:46] BhagathSeelam commented on #10442
@marcomagdy if am understanding correct, xray tace id cannot be passed to upstream clusters to see end-end distrbuted trace view map in AWS console ?

[2020-03-25 00:48] marcomagdy commented on #10442
xray-trace-id does get passed to upstream clusters.

[2020-03-25 00:55] BhagathSeelam commented on #10442
@marcomagdy, Without xray-trace-id being passed to upstream, how can we implement distributed  tracing using envoy?

Can we except this feature anytime soon?

[2020-03-25 01:26] marcomagdy commented on #10442
it DOES get passed to upstream

[2020-03-25 01:31] BhagathSeelam commented on #10442
@marcomagdy Thank you, Sorry i overlooked your previous comment

[2020-03-25 02:25] PinchasLev commented on #10498
Thanks @mattklein123.  I'll read up on both options you mention.

[2020-03-25 04:29] xUnholy opened #10512 "Add support for multi-architecture images"
Title: **Support ARM / ARM64 / AMD64 architecture**

**Description**:

I wish to request support for ARM architecture, however, it would be worthwhile adding support for any architecture type or at least those that are feasible. I'm currently running a Kube cluster on ARM devices, however, Istio cannot support ARM because Enovy is currently not compatible.

I've raised an issue on the Istio projec

[2020-03-25 06:31] winguse commented on #5933
@htuch we did send LDS/RDS update only after envoy acked the CDS.

[2020-03-25 06:36] winguse commented on #6815
@alyssawilk sorry, it's my bad that I have not clear described my situation.

See my https://github.com/envoyproxy/envoy/issues/6815#issuecomment-599325914 , the last 4 packages:

![image](https://user-images.githubusercontent.com/1443504/77508441-aaa7bc00-6ea5-11ea-8afc-e5200396a046.png)

Envoy did acked the FIN but started to send another response after 1.4 second.

And in my case, Envoy <--> No

[2020-03-25 10:29] Alexander1000 opened #10513 "Segmentation fault in Envoy::Extensions::Clusters::DynamicForwardProxy::Cluster::onDnsHostRemove"
*Title*: *Segmentation fault in Envoy::Extensions::Clusters::DynamicForwardProxy::Cluster::onDnsHostRemove*

*Description*:
We have multi host environment with dynamic create/delete/update/reincarnate hosts
But sometimes cause segmentation faults

It works like curl -H "Host: some-dynamic-host" http://127.0.0.1:7888/some-uri-in-dynmic-backend

I reproduce crash in versions: 1.12.3 and 1.13.1

*Con

[2020-03-25 11:09] yoitsro opened #10514 "gRPC-Web requests on Safari fail when using Envoy 1.13"
When attempting to use gRPC-Web on Safari using Envoy 1.13, the request succeeds, but in the inspector in Safari, this is the error I see:

`Failed to load resource: WebKit encountered an internal error`

Here's the web inspector output from Safari:

#### Summary
[code]

#### Request
[code]

#### Response
[code]

#### Request Data
[code]

This issue was initially raised under the https://github.co

[2020-03-25 12:15] jmarantz opened #10516 "add StatNameJoinPool"
Currently `SymbolTable::join()` is cumbersome to call, as it returns a StoragePtr, from which you can construct a StatName. The StatName is valid as long as the StoragePtr is.

Those semantics are what they are, but I think all the call-sites for `SymbolTable::join` would be cleaner if their were a pool-like wrapper:
[code]
again the StatNameJoinPool would need to outlive the StatNames created wit

[2020-03-25 12:52] jmarantz commented on #10516
Note that at call-sites where a StoragePtr is allocated locally, and then a StatName is created around that, usage of this helper-pool does not reduce the # of lines of code, but maybe makes them a little more intuitive.

I'm reconsidering though calling it `StatNameJoinPool` as it does not actually manage the StatNames in the vector passed to join(), and calling it a `pool` might falsely imply th

[2020-03-25 13:19] dio commented on #10514
@yoitsro sorry, does this consistently happen? Could you provide some screenshots? Thanks!

I tried to run the grpc-web example (echotest). However, I couldn't repro this case (both for safari 12 and 13).

![image](https://user-images.githubusercontent.com/73152/77540373-8bc11e00-6ed5-11ea-9438-b6a394d949ca.png)

![image](https://user-images.githubusercontent.com/73152/77540560-df336c00-6ed5-11ea-

[2020-03-25 13:24] htuch commented on #10471
@twghu I think these are all good points, I will put together a strawman policy document taking this and other points above into consideration.

[2020-03-25 13:26] yoitsro commented on #10514
This does consistently happen. Here's what I see with the URLs obfuscated. If you'd like more details, let me know and we could potentially do a screen share.

![image](https://user-images.githubusercontent.com/3006852/77541145-8ac3c880-6ea4-11ea-81bf-27cd981d9c61.png)

[2020-03-25 13:33] yoitsro commented on #10514
It's also worth noting that envoy is being used to terminate TLS too - I've noticed your setup is just over HTTP to localhost.

[2020-03-25 13:51] htuch commented on #5933
@winguse that seems surprising, @ivitjuk is there a reason that https://github.com/envoyproxy/envoy/pull/5887 would not be the solution given what @winguse describes?

[2020-03-25 14:15] alyssawilk commented on #10468
The TTL has bearing on the lifetime and the generated hash (where the cookie directs to).  The path and the name affect the scope of where the cookie is used.  If "foo" cookie is used for path /foo and "bar" cookie is used for path /bar, each will end up with their own cookie, and due to the aforementioned HTTP/1.1 race they likely won't end up with the same hash, and the "foo" cookie wouldn't be

[2020-03-25 14:24] dio commented on #10468
cc. @rshriram

[2020-03-25 14:24] alyssawilk commented on #6815
I see Envoy sending [FIN ACK].  That does not mean it's acking a fin.  It can be sending a fin and acking prior data.  I do not see node.js sending a FIN, so I believe the [FIN, ACK] is [FIN+prior-data-ack] not [FIN + ack-of-peer-fin] as I said above.

If you're running 1.9 you are almost certainly encountering this
https://github.com/envoyproxy/envoy/pull/7464
Envoy is closing the connection (as

[2020-03-25 14:39] moderation commented on #10512
The issues you link to are for 32-bit Arm. I'm compiling and running Envoy on 64-bit arm64 / aarch64 on a Pi 4 running Ubuntu server 19.10 without issue. I think using a 64-bit OS on Pi will be an easier path than trying to support ARMv7l and 32-bit.

[2020-03-25 14:59] BhagathSeelam commented on #10442
@marcomagdy

One last final question, xray-trace-id is being passed to http_filters and upstream cluster.

ParentId is being passed to http_filters, but it's not passing parentId to upstream cluster which is resulting in creating two map view in aws Xray console.

--------------
XRAY RAW DATA
------------------
{
    "Duration": 0.331,
    "Id": "1-5e7b6991-33813f25583be063089c35dd",
    "Segments

[2020-03-25 15:17] htuch opened #10517 "Changes to defaults for existing behaviors in xDS APIs"
There's been a few recent PRs that have been interested in changing Envoy's default behavior w.r.t. data plane behavior, either immediately or within quarterly release cycles (i.e. not following the API clock). One currently active PR is https://github.com/envoyproxy/envoy/pull/10467, but there are others in the works I'm aware of.

The last paragraph of https://github.com/envoyproxy/envoy/blob/ma

[2020-03-25 15:21] markdroth commented on #10517
In general, I think that changing the default of an existing field is a breaking change, because it requires management servers and clients to be in sync with regard to what behavior will actually occur.  And it's actually the worst kind of breaking change, because there's no way to catch the problem at build time -- the only way to discover it is for things to break at run-time.

@ejona86 and @df

[2020-03-25 15:54] mattklein123 commented on #10513
I believe this has been fixed in master but I forget the PR(s). cc @junr03

[2020-03-25 16:29] rgs1 commented on #8448
Ok, first attempt at reducing the flush calls: #10518.

[2020-03-25 16:31] #9440 closed

[2020-03-25 17:15] junr03 commented on #10513
Same callstack as https://github.com/lyft/envoy-mobile/issues/671. This was fixed in https://github.com/envoyproxy/envoy/pull/10003, which is ahead of both v.1.12.3 and v1.13.1.

[2020-03-25 17:16] ggreenway commented on #10421
I think you've hit the limits of what tcp_proxy does. It is the protocol-agnostic proxy, intentionally not understanding the underlying protocol or message boundaries, so it doesn't have any support for connection re-use.

[2020-03-25 17:30] alyssawilk commented on #10421
Yeah, I think that's the one gotcha.  I could see subclassing for that - I think it'd be fine to add the concept of reuse to the tcp connection pool, but some entity would need to do the framing and handle connection reuse and I think at that point subclassing or doing a custom filter might make sense depending on how much of the existing code is usable.

[2020-03-25 17:32] junr03 commented on #10355
😅 so we would have v2, v3, and v4alpha compiled protos, right? I mean, conversely instead of delaying consuming v4alpha I could prioritize https://github.com/envoyproxy/envoy/issues/10198. I have that issue in the back burner for now, but as we move into having three versions of the protos compiled in, I would want to start working on it. My plan was to just hack something together along the lines

[2020-03-25 17:45] marcomagdy commented on #10442
Maybe the filter is stripping out the trace header. That's not something the tracer is doing.

[2020-03-25 17:49] #9980 closed

[2020-03-25 17:56] antoniovicente commented on #10517
For proto3, default values are not encoded in proto definitions.  Defaults are often mentioned in comments and implemented in code.  Getting consistent behavior across APIs is challenging when each API consumer must implement default value extraction on their own in order to get consistency.  Changes to default values provided by code make the situation even more complicated.

Going through a proc

[2020-03-25 18:30] ivitjuk commented on #5933
@htuch as far as I remember, it worker well when I implemented it. I do see initial implementation was patched in de18671ab2f89ddb52adaa82e50cb592b4f69298

@winguse from the logs in the issue description, I see you added the ranking_egress listener before datascience cluster finished warming. Are you sure you waited for the ACK in your ADS implementation? Also, I don't see the 'warming cluster ...

[2020-03-25 20:05] beriberikix commented on #10140
I'm going to close this - discussion has moved to [a doc](https://docs.google.com/document/d/13wFFC7vIdB2hkxdyT0dSiGgkZTXCDDBeW_GBPqy9Jy0/edit#heading=h.v051xssgknhc).

[2020-03-25 20:05] #10140 closed

[2020-03-25 20:09] #9749 closed

[2020-03-25 21:30] mattklein123 commented on #10517
FWIW one of the things we have talked about in the past is having WKT default values be explicitly encoded in annotations, similar to PGV. Personally, I like this, as it would make it more explicit when we expect a default to be implementation wide vs. one that might be implementation specific. =

[2020-03-25 21:31] jsbucy commented on #9577
I have committed my proof-of-concept to my tree in
https://github.com/envoyproxy/envoy/commit/86419dcbfa597cf5071dd385abd10db7137f93cc
Apologies in advance that I'm fairly clueless wrt both envoy internals and github!

[2020-03-25 21:48] mabukhovsky opened #10525 "Envoy 1.13.0: Didn't find a registered implementation for name: 'envoy.ext_authz'"
*Title*: *Envoy 1.13.0: Didn't find a registered implementation for name: 'envoy.ext_authz'*

*Description*:
I'm following envoy Envoy 1.13.0 documentation to build dynamic forward proxy that is using ExtAuthz cluster to verify requests (see relevant links).
It is saying that: This filter should be configured with the name **envoy.ext_authz**
However I'm hitting: Didn't find a registered implement

[2020-03-25 21:59] mattklein123 commented on #10525
cc @zuercher I think you are using a newer build with the older docs, but I'm not sure.

[2020-03-25 22:34] rgs1 commented on #8448
So #10518 doesn't appear to move the needle from my initial tests....

[2020-03-25 23:37] mabukhovsky commented on #10525
If I start Envoy without a filter I can clearly see that's I'm using 1.13.0:

{
  "configs": [
    {
      "@type": "type.googleapis.com/envoy.admin.v3.BootstrapConfigDump",
      "bootstrap": {
        "node": {
          "id": "9dc0633771a0",
          "cluster": "s-envoy",
          "metadata": {
            "host": "9dc0633771a0",
            "instance": "9dc0633771a0s-envoy",
            "por

[2020-03-26 00:39] dio commented on #10525
[code]

Hum, seems like that `filters:` field only accepts a list of `NamedUpstreamNetworkFilter`s?

[2020-03-26 01:52] rgs1 opened #10530 "better insights into time spent in HCM filters"
I am currently debugging potential slowness in the gzip filter (see also #8448) and there are no -- afaik -- stats to know how much time is spent on each filter like the `upstream_rq_time` percentiles we have for upstream clusters.

At the very least, I'll come up with a PR to do this for the gzip filter. But I am thinking that a generic mechanism to measure time spent in filters could be very use

[2020-03-26 01:53] rgs1 commented on #8448
FYI #10530 for better instrumentation.

[2020-03-26 01:57] xUnholy commented on #10512
@moderation I have just attempted running Istio and confirmed even running Ubuntu server 19.x was unsuccessful. Given docker now supports fat manifests for multi-architecture support it shouldn't be a question regarding which architectures are current or popular.

I've also seen a similar issue trending in the following issue https://github.com/envoyproxy/envoy/issues/1861

[2020-03-26 04:12] winguse commented on #5933
@ivitjuk we did wait for Envoy to ack the CDS delivery before sending LDS updates. btw, I don's see warming cluster log,  is that require debug log?

[2020-03-26 04:17] winguse commented on #6815
a few notes:

In https://github.com/envoyproxy/envoy/issues/6815#issuecomment-603667472 , Node.js is listening on port 15225, and Envoy start the connection from port 45146, which the `[FIN, ACK]` was send by Node.js.

But in anyway, if we have upgrade to latest Envoy, I will let you know if we still seeing this problem.

Thank you!

[2020-03-26 12:13] #9512 closed

[2020-03-26 12:15] htuch commented on #10517
I'm a fan of default annotations. I assume we would machine check to ensure they are present for all WKTs?

The problem goes beyond just WKTs though, the general case of what happens when a message field isn't set, or a new enum/message field is introduced that changes existing behavior if not set.

[2020-03-26 12:34] popozy commented on #7082
I meet the similar error about kafka networkfilter when building envoy-wasm:
the Tracestack :
[code]
It seems like launcher.py not found, however I found the file
[code]

[2020-03-26 12:35] wbpcode commented on #10455
But clusters in envoy do not distinguish between protocols. In other words, a cluster may have redis/dubbo/thrift/http as its backend. If an http filter is added to the cluster, we need to make an additional distinction for each cluster.

[2020-03-26 12:36] htuch opened #10535 "Switch PGV string annotations using min_bytes to min_len"
Since https://github.com/envoyproxy/protoc-gen-validate/pull/256 landed, we can now use `min_len` in C++. The use of `min_bytes` was a temporary workaround, so we should move all of Envoy APIs to `min_len` (for v3+) and enforce via CI checks this style aspect.

CC @mattklein123 @asraa @SecurityInsanity

[2020-03-26 13:50] rmichela commented on #8614
I'm seeing this bug too, now that I've started using SDS with Istio. I use short-lived, frequently rotated certificates and worry this will result in a memory leak in Envoy.

[2020-03-26 15:43] SecurityInsanity commented on #10535
We're gonna wait until the versioned proto's are exposed fully in bazel (right now: `package_version_status` is only exporting the "active" version). We want to it to export the "future" version as well so we can run an `api_proto_plugin` over the future versions to enforce the use of `min_len` over `min_bytes`.

[2020-03-26 16:03] mabukhovsky commented on #10525
@zuercher @dio @htuch Thanks for looking into my issue, guys. Truly appreciate your help as this is a blocker for a team. We are trying to build dynamic forward proxy with ext_authz  requests authorization. Please let us know if this is possible, or there are constraints that do not allow doing it.

[2020-03-26 16:08] SpecialYang opened #10537 "How can I determine if the current request is a health check request when the driver is about to start a span?"
The method of traceRequest is invoked in `ConnectionManagerImpl::ActiveStream::decodeHeaders` before the chain of http filter (health check filter, router filter, etc). The `health check` attribution of stream info is updated in health check filter. But the method of traceRequest will determine if the current request  is a health check. So the variable of tracing_decision won’t be {Reason::HealthC

[2020-03-26 16:27] mattklein123 commented on #10517
Yes, agreed. I suppose much like the validation code we could do this also for non-WKT types. We could even choose to build this into PGV if we wanted.

[2020-03-26 17:14] sagarkal opened #10541 "Envoy alpine docker image created using root user"
Hi,

We are planning to use envoy docker image envoy-alpine:v1.13.1 at an organization. However our twistlock instance reports that the image is created as a root user and flags it as a compliance issue.

Is there a possibility that the user could be changed to a non-root user in the later stage of the Dockerfile?

Regards,
Sagar

[2020-03-26 17:21] mattklein123 commented on #10530
I'm not sure if we want stats here or perf hooks? cc @jmarantz as our perf expert to advise.

[2020-03-26 17:29] snowp commented on #10455
We already have HTTP specific configuration on the cluster, so I don't think this is introducing any new protocol awareness to the cluster. That said, it might make sense to make it a bit more generic, i.e. something like

[code]

so that we don't have to add more HTTP specific fields to the cluster. At that point other L7 filters could use the same field to configure this. Alternatively we could

[2020-03-26 17:31] jmarantz commented on #10530
If you can tolerate rebuilding Envoy to take these measurements, you can use https://github.com/envoyproxy/envoy/blob/master/source/common/common/perf_annotation.h which would enable you to hand-instrument the code to collect very targeted, annotated information, e.g. round time taken in each method in each filter, broken out by e.g. URLs or clusters or something. Those are hand-instrumented as ma

[2020-03-26 17:35] moderation commented on #10471
I made the dependency spreadsheet public at https://docs.google.com/spreadsheets/d/1OYS9nU55ibLr4Z-io1esgKPO4FIoWsuOzKG60RxePO8/edit#gid=0

[2020-03-26 17:48] kyessenov opened #10543 "RemoteAsyncDataProvider should not re-fetch between xDS refreshes"
Currently, LDS update causes a fresh fetch of a Wasm binary. This is unnecessary since the resource comes with a content hash for verification. The request is to make it possible that RemoteAsyncDataProvider caches whatever it fetches and hands it off between xDS resources (e.g. a warming listener should pick it up from a draining listener).

/cc @yxue
/cc @jplevyak

[2020-03-26 17:49] yskopets opened #10544 "threads: current worker thread index should be exposed to extensions"
*Title*: `Stats API` should provide support for `per-thread` metrics

*Context*:
* there are use cases where cross-thread aggregation of metrics is not desirable since it can make metrics more obscure
* right now, `Envoy` already has a couple `per-thread` metrics, such as `server.worker_N.watchdog_miss`, but no general approach
* having per-thread metrics could further improve `Envoy` observabilit

[2020-03-26 18:09] snowp commented on #10544
Would this just be helper functions around the existing stats subsystem that incorporates a thread name into the stats name? Or are you talking about having independent thread local stat stores?

cc @jmarantz

[2020-03-26 18:14] jmarantz commented on #10544
Yeah any particular reason not to just add a scope named for the current thread, and then use the existing API?

That would do exactly what you want functionally IIUC. It would also not be too far from optimal in its implementation in thread_local_store.cc: there would be one extra level of caching that would not be useful, but it's also probably not too expensive.

[2020-03-26 18:38] yskopets commented on #10544
I was thinking about a helper function which abstracts the way current thread name is inferred.

[2020-03-26 18:46] jmarantz commented on #10544
In the context of WASM this should be pretty easy without any extra infrastructure; Wasm code controls the scope used for the lookup.

Do you want to have all the WASM stats be per-thread? Or do you want to aggregate some of them?

[2020-03-26 19:06] yskopets commented on #10544
I'm mostly focused on metrics about `Wasm VMs` themselves.

Because in this particular case the advantages of `per-thread` metrics are clear to me - ability to spot a misbehaving VM.

I don't think that metrics of `Wasm` extensions need special treatment comparing to regular extensions. So, I would say that the same aggregated behaviour should stay the default for `Wasm` extensions as well.

[2020-03-26 19:10] yskopets commented on #10544
From my perspective, this proposal is mostly about:
* assigning a name to each thread (like `worker_N`)
* providing API to access that name
* providing a convenience method as part of Stats API

[2020-03-26 19:32] jmarantz commented on #10544
Sounds good. What's the reason this isn't addressed by using
[code]
or similar?

[2020-03-26 19:33] jmarantz commented on #10544
also there is not currently a thread name in Envoy, just a thread ID which in Linux is the pid.

[2020-03-26 20:20] yskopets commented on #10544
Ideally, I'd like to see `absl::StrCat("worker_", worker_index)` a part of Envoy API.

Is there a way to get ahold of `worker_index` from the factory context of a filter  ?

[2020-03-26 20:34] jmarantz commented on #10544
I guess there is a worker index, and it lives only in source/server/listener_manager_impl.cc in the ListenerManagerImpl ctor

You just want that plumbed into some context visible from a Filter, is that right?

[2020-03-26 20:40] yskopets commented on #10544
`Wasm WM` can be created from the context of any extension type. So far, it has been discussed for the `Listener` and `Cluster` contexts.

Will `worker_index` be available in the context of `ClusterManager` ?

[2020-03-26 20:52] jmarantz commented on #10544
IDK; I'll defer to @mattklein123 about the best place to expose a worker index to WASM, if there's not already a way to get to that.

[2020-03-26 20:52] yskopets commented on #10544
I think, I can re-phrase.

Will `worker_index` be available in the context of a callback that is executed on individual threads as part of `Slot::set()` ?

[2020-03-26 21:18] dio commented on #10455
@snowp this is different from https://github.com/envoyproxy/envoy/blob/4403003b9c0888ce81606a2f45fcc1da126514e7/api/envoy/api/v2/cluster.proto#L776-L779? I can see there is one "interpretation" of it here: https://github.com/envoyproxy/envoy/issues/10525.

[2020-03-26 21:35] snowp commented on #10455
Those are L4 filters applied to the upstream connection, so not protocol aware.

[2020-03-26 21:39] zuercher commented on #10525
To clarify some more: There is no support for http filters on upstream clusters. As @dio mentioned only upstream network filters are supported and there aren't actually any shipped with Envoy (there's one defined for tests only). Issue #10455 tracks adding support for upstream http filters, at which point use the ext_authz filter becomes theoretically possible (depending on what limitations, if an

[2020-03-26 21:55] zuercher commented on #10424
Sorry, I thought I had responded to this, but apparently not.

This is pretty tightly coupled with #10421. If you end up writing a custom network filter, you'll end up needing to use the tcp connection pool for upstream connections and can use the ConnectionState API directly to store information about those upstream connections across downstream requests. The thrift proxy does this to keep track

[2020-03-26 22:03] dio commented on #10541
@sagarkal do you think something like below suffices your need?

[code]

Build and run it, then check the user:

[code]

[2020-03-26 22:14] zuercher commented on #10482
I think it would be easier to support non-leading `*` than regexes. Not sure if we can just add that to the existing config. I don't think we actually prevent `foo*.example.com` (even if it doesn't work) so someone might have an inadvertently disabled vhost that might suddenly start working if we just straight add support itt.