[2020-06-17 15:01] htuch commented on #11610
@ghostsquad can you do this today via a custom log format?

[2020-06-17 15:04] liminw commented on #11594
Matt, the proposal is to simply add a "log" action in addition to the existing "allow"/"deny" actions in RBAC filter. Based on the matching result, the filter is going to generate a boolean and set it to dynamic metadata. The boolean result tells the subsequent logging filter to "log" a request or "skip" a request. This allows us to conditionally logging requests based on user configuration.

[2020-06-17 15:15] mattklein123 commented on #11594
In general that sounds fine to me, but can we fully specify how the dynamic metadata is going to be specified?

[2020-06-17 15:20] davidraskin commented on #11594
It will be set in stream info filter state. We want to communicate with both WASM filters and general stream filters, so we are considering our options there.

[2020-06-17 15:47] kyessenov commented on #11594
cc @mandarjog @gargnupur
There is a temporal aspect that RBAC doesn't capture. You might want to log some cases only once every 30m to control the volume of the logs. We have a [sample Wasm filter](https://github.com/istio/proxy/blob/master/extensions/access_log_policy/config/v1alpha1/access_log_policy_config.proto) that accomplishes something similar.

[2020-06-17 15:52] htuch commented on #11602
Are headers set? Not sure if Lua sets the body on failures.

[2020-06-17 16:13] pjulien commented on #11259
@mattklein123

I don't see any way of getting to the `Server::Instance` with this type of extension.  I need to register the handler and it does seem like I can get `Server::Admin` from `ServerFactoryContext` but I also need the stats store and that doesn't seem to be reachable without `Server::Instance`.

Maybe a no-op `stats-sink` might be worthwhile here?  Just so we have proper initialization.

[2020-06-17 16:33] kyessenov commented on #7917
Sorry, this is mostly done. The only missing piece is shared filter state at the connection level in https://github.com/envoyproxy/envoy/pull/10622. That PR died to due to neglect, but I can resurrect it.

[2020-06-17 16:36] mattklein123 commented on #11259
The boostrap extension is new but it should have access to the stats store if that is what is needed for this. Or, a no-op stats-sink extension might be fine also.

[2020-06-17 16:38] nicktrav commented on #11558
@lizan and I worked through debugging this yesterday.

This appears to be happening due to a mis-configuration. Specifically, the listener timeout was set to 100ms (an Istio default used for protocol detection). This was timing out periodically. Connections would fall then through using a "Passthrough" cluster and route directly to the upstream. Raising the timeout seems to have resolved this:

[c

[2020-06-17 16:44] yanavlasov opened #11618 "Provide ability to override socket API"
Recent changes to the socket related API no longer allow overriding methods such as `bind` or `connect`. This is both a bug report and proposal for how to bring this functionality back.

The "socket API" here and below refers to a collection of methods for creating communication endpoints in use by Envoy which mirrors Posix sockets API.

Background:
Envoy provide ability to extend name resolution

[2020-06-17 16:46] Anonymous-Coward opened #11619 "TLS 1.3: better handling for "close notify""
We run envoy as part of an istio gateway, in a pod in a kubernes cluster.

$ envoy --version
envoy  version: 9b4239dee83dd8894bfc579d412ccd894cff2597/1.13.1-dev/Clean/RELEASE/BoringSSL

TLS traffic terminates on envoy, everything downstream is plain http. The http port of envoy is also open, but not to the public.

When we send a request repeatedly through envoy using plain http, everything works

[2020-06-17 16:48] yanavlasov commented on #11618
I intend to start a separate discussion of how to avoid pulling the rug from under the vendors that may depend on "internal" Envoy interfaces. This one is to focus on the socket API specifically.

[2020-06-17 16:52] howardjohn commented on #11299
This would be super useful for us. We have a test XDS server, and often times I cannot tell what is part of the XDS spec, what is an envoy implementation detail, and what is an implementation detail of our test server. This is especially common around handling ACKs.

[2020-06-17 16:52] mattklein123 commented on #11618
cc @florincoras

[2020-06-17 16:54] ghostsquad commented on #11610
https://www.envoyproxy.io/docs/envoy/latest/configuration/observability/application_logging

I suppose someone could manually take this:

[code]

and write `{"ts": "%L%m%d", ...}`

But this is not a good solution, since the values are not guaranteed to be escaped.

[2020-06-17 17:29] htuch commented on #11599
The LRS reporter is running on the main thread, so you should not have to cross-threads here. You should rely on the histograms that have been aggregated there. I think the admin interface is a bit strange, this isn't an admin query but instead the goal is to get at the stats aggregate. But you can follow the logic for how the admin handler works.

[2020-06-17 17:33] #11552 closed

[2020-06-17 17:45] jmarantz commented on #11599
Nothing in histograms is aggregated in the main thread until that's
triggered by a stats-sink or /stats admin request. So you need to trigger
it. The adminRequest call-stack can be duplicated and tightened up so you
can initiate the cross-thread aggregation.

On Wed, Jun 17, 2020 at 1:30 PM htuch <notifications@github.com> wrote:

[2020-06-17 17:50] qiwzhang commented on #11605
@pete-thecat could you update with final envoy config?

I suggest you debug one filter at time.   First try jwt_authn filter first to make sure if works.  Then just add rbac filter only to make sure it works.   Then combine them.

It seems that the problem could be in rbac filter.  @yangminzhu is the expert in rbac filter,  he can take a look for you

[2020-06-17 17:50] rshriram commented on #11616
please file this in the Istio repository. Envoyproxy/envoy repo is not the right place to ask istio configuration related questions.

[2020-06-17 18:00] florincoras commented on #11618
@yanavlasov just some quick thoughts

Practically, `Socket` now offloads all interactions with the underlying host stack (both io and 'control') to `IoHandle`. So, in theory, the issue could be solved with a custom `IoHandle`, which would allow custom implementations for all apis, i.e., `bind`, `connect`, `getOption` etc.

Now as to how to do that and current limitations:
- The `SocketInterface` i

[2020-06-17 18:32] #11267 closed

[2020-06-17 18:44] htuch commented on #11619
This seems mysterious, if you can share an anonymized PII-free stats dump then that might be a good start to look for anomalies.

[2020-06-17 18:48] htuch commented on #11610
Seems a small tweak to the escaping/formating should make this possible. I'll mark this as help wanted, unless you plan on working on it, in which case I can assign.

[2020-06-17 19:59] ghostsquad commented on #11610
I am spread too thin at the moment to contribute this change

[2020-06-17 20:09] pete-thecat commented on #11605
### Tested
- Just jwt_authn filter:
  - I get the valid response when I put in a valid JWT token, and
  - I get an unauthorized (401) response when I put in a corrupted one or an expired token.
- jwt_authn and rbac filter:
  - I get a forbidden response (403) per the configuration below.
    - If I use any for the principals instead of metadata I do get a valid response. It seems to be the use of

[2020-06-17 20:11] #11136 closed

[2020-06-17 20:59] mattklein123 opened #11622 "tracing: support getting/setting baggage on spans"
The Envoy span API: https://github.com/envoyproxy/envoy/blob/9aa85a314552bffb60c13a6acfd60317eaa3bc14/include/envoy/tracing/http_tracer.h#L108

Does not support getting/setting baggage. At Lyft we will need to make use of this against the OT driver so will need to add this support. It should be fairly trivial to call through to the OT driver code for this but will need to figure out how to handle

[2020-06-17 21:01] erikbos commented on #11305
Thx for the pointer, indeed: according to logical_dns_cluster.cc: `update_attempt`, `update_success` and `update_failure` are the ones for DNS resolution attempts. Will submit doc fix.

[2020-06-17 21:03] irozzo-1A commented on #11569
Thx @lambdai for your reply! I will take a look to the TCP pluggable backend.

In the meantime I was thinking about a possible workaround (probably less clean than the option you proposed). The idea is to use two stages and a Unix domain socket between them.
* First stage is composed by a listener binding to a TCP socket with a TCP proxy filter taking care of the inner tunnel addressed to the L1 E

[2020-06-17 21:10] mattklein123 opened #11623 "ext auth: remove ext auth specific tracing"
While looking at some tracing stuff I noticed that the ext auth filter does its own tracing: https://github.com/envoyproxy/envoy/blob/9aa85a314552bffb60c13a6acfd60317eaa3bc14/source/extensions/filters/common/ext_authz/ext_authz_http_impl.cc#L220.

This is before we added tracing directly into async client: https://github.com/envoyproxy/envoy/blob/9aa85a314552bffb60c13a6acfd60317eaa3bc14/include/en

[2020-06-17 21:11] #11134 closed

[2020-06-17 21:59] #11535 closed

[2020-06-17 22:11] #11011 closed

[2020-06-17 22:49] mattklein123 commented on #11340
@jpeach I'm fixing this general class of issue but it's not clear to me exactly what is happening in this issue. Can you please provide a full stack trace for the failure? Thanks.

[2020-06-17 22:56] r-kotagudem commented on #11616
Ok thanks

[2020-06-17 22:56] #11616 closed

[2020-06-17 23:16] mattklein123 commented on #11340
Are you setting reuse port? Can you provide the full config as well as the full stack trace?

[2020-06-17 23:20] jpeach commented on #11340
Yup, with envoy running on local macOS

Sure, will update in a couple of hours. Tooling is all in https://github.com/jpeach/envoy-bootstrap

[2020-06-17 23:23] dio commented on #11623
Gotcha. This is also relevant for `httpCall()`. Thanks for this.

[2020-06-17 23:26] mattklein123 commented on #11340
If you are setting reuse port I think I know what the problem is. I will fix.

[2020-06-17 23:28] jpeach commented on #11340
Let me double check, I might have misspoken ...

[2020-06-17 23:36] #4815 closed

[2020-06-18 00:11] #11076 closed

[2020-06-18 00:16] gagata commented on #11038
Hey @mattklein123
Can you please advise what's the best way to approach the filter configuration where the filter is only specified on the virtual host level?

We've been testing the implementation from the linked diff for a while now, and the use case I'm stuck on is as follows:
- the general filter is basically empty (disabled)
- the filter is set on per-virtual host basis only (not for routes)

[2020-06-18 00:17] jmarantz commented on #11573
@mattklein123 could use your advice on which of the many places (dozens?) `HostImpl` is instantiated this is most likely to be. Ideally we could capture a StatNameSet with a structure we populate when we learn about new hosts (e.g. on an EDS update), and then never reference the hostname again by string.

But because there are so many instances where Hostimpl is instantiated, and I'm not sure they

[2020-06-18 00:21] utsav-dbx commented on #11599
Thanks for the help. An interesting snag while implementing this is that the load reporting stats are an instance of `IsolatedStoreImpl` which do not return a [ParentHistogramSharedPtr](https://github.com/envoyproxy/envoy/blob/master/source/common/stats/isolated_store_impl.h#L167), since it doesn't any `ParentHistograms`. Still digging into it a little more to see if that can be implemented.

[2020-06-18 03:02] HarinadhD commented on #6767
What is the plan for fixing  https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-11767 in envoy?

[2020-06-18 04:31] jpeach commented on #11340
[code]

The Listener JSON is:
[code]

[2020-06-18 05:40] ackerleytng commented on #9965
Here's a full example that @shanesoh and I have been working on https://github.com/shanesoh/envoy-opa-compose

[2020-06-18 08:12] objectiser commented on #11622
Can't it just be a no-op.

[2020-06-18 08:25] Anonymous-Coward commented on #11619
[envoy-stats.txt](https://github.com/envoyproxy/envoy/files/4797279/envoy-stats.txt)

I hope the attached file contains what you wanted.

[2020-06-18 08:34] HeathLee commented on #4669
The latest documentation still has the rate limit configuration in [bootstrap section](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/ratelimit/v3/rls.proto) (both v2 and v3), should it be deleted?

[2020-06-18 12:27] dio opened #11635 "Add beforeFinalizingSpan callback to AsyncClient::Callbacks to allow specific tagging in extensions"
In the current `AsyncRequestImpl::onComplete()` and `AsyncRequestImpl::onFailure()` we call  `onSuccess` and `onFailure` callbacks respectively after finalizing the upstream span (by calling `Tracing::HttpTracerUtility::finalizeUpstreamSpan()`). Currently, there is no chance at the implementation side e.g. `ext_authz` extension to add extension specific tags to the current active span. Adding `bef

[2020-06-18 12:32] #9496 closed

[2020-06-18 12:38] dio commented on #11602
@ajoysinha probably the `httpCall` experienced failure?

Could you print the `response_headers`?

[code]

Hopefully, it prints: `:status` hence give you more information (probably the body is nil).

[2020-06-18 14:04] yanavlasov commented on #11618
@florincoras I'm unsure I'm following you. Can't we already override default `SocketInterface` implementation using `Envoy::Network::SocketInterfaceLoader`?

I suppose your second suggestion would solve our immediate issue. The changes have evolved so quickly that I did not notice that `bind` is implemented in both `Socket` and `IoHandle` interfaces. I think the only other missing piece is plumbin

[2020-06-18 14:21] akonradi commented on #9479
Incorporating shadow generation into the Bazel build would greatly speed up development. Running the proto formatter takes a long time and if we can use Bazel for this, we can leverage its caching to avoid unnecessary checks/re-generation.

[2020-06-18 14:56] mattklein123 commented on #11340
Thanks I know what the issue is, I will fix.

[2020-06-18 15:01] mattklein123 commented on #6767
AFAIK there is no plan currently. Someone needs to own this issue and drive a resolution if they are passionate about fixing it.

[2020-06-18 15:02] htuch commented on #827
https://github.com/envoyproxy/envoy/issues/11618 is an example of where the lack of a stable interface has been a problem for us. I think for most filter authors going forward, Wasm will provide a compelling stable interface (in particular with NullVm), but there will be major consumers who will want better stability guarantees than what exists today.

We met recently to discuss and the following

[2020-06-18 15:04] mattklein123 commented on #11622
I think NOP is probably fine to start with, but I could imagine some uses cases in which people would think they are sending baggage and it doesn't actually do anything in practice?

[2020-06-18 15:08] mattklein123 commented on #11635
Makes sense, thanks for opening.

[2020-06-18 16:01] danzh2010 commented on #8826
To enhance buffer limit on headers stream, it is easier to count bytes buffered in header stream send buffer into connection level buffer in Envoy instead of having its own buffer limit in upstream QUICHE.

[2020-06-18 16:06] florincoras commented on #11618
It's pretty much the same thing. The idea with the factory was that you could add a shim in Envoy that, when built, links to your custom socket layer implementation. Then, switching between implementations is just a startup config change.

I guess that's possible. Personally, I'd be tempted to extend `Address::Instance` to carry additional information (or maybe add one more `Address::Type`) that c

[2020-06-18 16:18] Anonymous-Coward commented on #11619
I had trace logging briefly enabled yesterday, while reproducing the error. It's difficult to catch the exact log fragment corresponding to the error, and a log fragment to include both processing resulting in both sane and truncated responses would be huge. Therefore, here's a fragment which (I suppose) corresponds to a sane response, maybe it's useful.
[trace-log-anonymized.txt](https://github.c

[2020-06-18 16:42] Anonymous-Coward commented on #11619
Maybe also relevant: the k8s objects that make up our configuration - in the attachment.

How it all works: everything comes in over an istio gateway named very originally "external", and is routed in its entirety, via a virtual service, to a custom proxy which does custom stuff. The proxy then forwards it to another gateway, equally originally named "internal". From there onwards, via virtual ser

[2020-06-18 17:05] ggreenway commented on #11618
@yanavlasov Are you needing separate route domains, so that for example you could have 10.0.0.1 go to different places in two different contexts, perhaps a "customer" context and an "admin" context?

If that's what you're needing I think it would make sense to allow arbitrary tagging of addresses, so that the creator of an `Address::Instance` can set the tag. It's a little bit more generic than tr

[2020-06-18 17:08] GregHanson commented on #11619
[code]
@htuch the `477` code is returned by the destination app, but where are the `strict-transport-security` and `max-age=31536000` headers coming from?

[2020-06-18 17:13] gargnupur commented on #11594
@davidraskin  and I discussed about this and I initially suggested to use same key that our AccessLog Filter uses https://github.com/istio/proxy/blob/master/extensions/common/context.h#L41:22 to mark that we should log the filter or not. His concern was that RBAC filter is a generic envoy filter and thus having "istio" in the name might not be generic enough to mark that access log should be filte

[2020-06-18 17:43] mattklein123 commented on #11594
Yeah the key has to be generic, and also well documented. Otherwise this sounds fine to me.

[2020-06-18 17:46] zhishi commented on #11560
For weighted cluster if the selected cluster has no healthy endpoints, will it fallback to another cluster? That's one reason we use `runtime_fraction` matching rule.

[2020-06-18 17:51] mattklein123 commented on #11573
I would assume it's during the EDS update process? cc @snowp

[2020-06-18 17:54] snowp commented on #11560
It does not, but I don't see how `runtime_fraction` would either - they both operate at the route selection level which has no knowledge of cluster health

[2020-06-18 17:57] snowp commented on #11573
I would imagine the main flow is through EDS updates, though new `HostImpl` would also be created during other discovery flows (e.g. STRICT_DNS), in which case it would happen during CDS update

[2020-06-18 18:03] kyessenov commented on #11594
How about creating a filter state `envoy.log_decision` with a string value (more flexible than just a boolean)? Then both filters can emit if needed. We probably need a list of well-known filter states and their values in the docs since it's not present at the moment.

[2020-06-18 18:29] gargnupur commented on #11594
How about value as an enum? Agreed, need a place for documenting well-known filter states..

[2020-06-18 18:54] davidraskin commented on #11594
Any value we choose would need to be wrapped in a WasmState to communicate with wasm plugins. Could we use that for communicating with host envoy filters as well, or should we use two filter states? Or is there a way that other filter states can be read in Wasm plugins?

[2020-06-18 18:57] kyessenov commented on #11594
@davidraskin Reconciling Wasm state vs filter state is part of the upstreaming discussion. Wasm needs to be able to serialize the filter state (and there's an optional protobuf serializer). It's in-efficient, but it would work to read native filter state in Wasm land.

[2020-06-18 19:01] Anonymous-Coward commented on #11619
Everything comes from envoy, it seems. The headers originally set on the response, by the application, are:

[code]

The custom, non-standard http status code is indeed what the app returns.

[2020-06-18 19:30] pjulien commented on #11259
@mattklein123

I have added a [PR](https://github.com/envoyproxy/envoy/pull/11642) with the feature without tests or change log to gather initial feedback.

[2020-06-18 19:53] mattklein123 commented on #11594
Note that we have this page currently for dynamic metadata docs: https://www.envoyproxy.io/docs/envoy/latest/configuration/advanced/well_known_dynamic_metadata. Let's just make sure that is up to date as part of this effort. Thank you!

[2020-06-18 19:54] mattklein123 commented on #11619
Are you seeing timeouts? Timeouts can occur during a response when the headers and some body have already been forwarded.

[2020-06-18 20:17] Anonymous-Coward commented on #11619
No timeouts. I was suspecting this happening due to long response times from the app today, and checked. The response time is spread across several tens of ms - maybe 15 to 50. I couldn't notice a significant difference in spread between responses delivered whole and truncated responses.

[2020-06-18 21:15] sschepens opened #11645 "ads: SRDS initialization not pausing RDS"
Related to #11267
During envoy initialization, if SRDS returns multiple RouteConfigurations, envoy sends a single request for each of those instead of a single one, this means it is not pausing RDS.
This is not happening on a regular config update.

[2020-06-18 21:16] sschepens commented on #11645
@htuch any clue about this one? i'm getting a little bit lost in all the initialization logic of envoy

[2020-06-18 22:15] AngelaNing97 opened #11648 "[Feature Request] Support adding response flags and response code details in custom response headers"
Description:
Envoy supports adding a set of custom request/response headers and also dynamic values in those headers. By adding headers with RESPONSE_CODE_DETAILS and RESPONSE_FLAGS, we provide additional context to clients whether the response code has come from Envoy or the upstream backend, as well as why the request has failed.

Envoy currently has some support for RESPONSE_CODE_DETAILS and RE

[2020-06-18 22:23] fishcakez commented on #11560
When there are multiple routes that only differ by the runtime fraction match and the subset metadata set as a route action it means that requests always route to the same cluster in the router. Later on the in filter chain when performing subset load balancing between endpoints in that single cluster, the subset load balance can be configured to fallback/panic to endpoints in other subsets if the

[2020-06-18 22:43] kthommandra commented on #2066
Does anyone know if mainstream browsers (Chrome, Firefox etc) can end up doing TCP half-close under certain scenarios ?

[2020-06-18 23:21] dio commented on #11276
@fpliu233 this is fixed?

[2020-06-18 23:56] jpeach commented on #11340
Verified that 8e92b89ca9f45d32dd21987935cb2d707650ab32 prevents the crash:
[code]

[2020-06-19 00:11] #10609 closed

[2020-06-19 02:12] ajoysinha commented on #11602
Thanks ..let me try it ..

[2020-06-19 03:31] kumaranshu72 commented on #11582
@htuch can you help in setting an upstream TLS context?

[2020-06-19 04:26] dio commented on #11582
@kumaranshu72 Could you provide the envoy version?

Looking at your config it seems like it is `<= v1.12.1`. (since it still uses the deprecated `tls_context`)

To add upstream TLS context, you can refer to this doc: https://www.envoyproxy.io/docs/envoy/v1.12.1/api-v2/api/v2/cds.proto.html#envoy-api-field-cluster-tls-context.

[code]

You can add more options to `tls_context` as defined in here: h

[2020-06-19 08:37] lizan opened #11652 "//test/integration:protocol_integration_test is flaky"
I've seen this a couple times on CI, reproducing locally too:

It seems only happening for `RetryStreamingReset`.

[code]

[2020-06-19 09:05] lizan commented on #11652
debug log with ASAN https://gist.github.com/lizan/b506755686e9c0ac2aee5a300bf0c6b2

[2020-06-19 09:09] lizan commented on #11652
cc @alyssawilk

[2020-06-19 10:40] #11191 closed

[2020-06-19 11:06] ThePlenkov commented on #11191
Hi! May I ask you in which file do you get this info and how did you manage to setup it? Thank you!

[2020-06-19 12:35] asraa commented on #10917
Nice!! I just saw this. I have been thinking about this in the context of our frequent timeouts and OOMs in OSS-Fuzz. I ran a few bazel performance analysis on some fuzz targets and  found bottlenecks in server/mocks.cc and in gperftools:
[code]

I had some draft patches splitting up server/mocks.cc as well, and I'm happy that this affects others, as I will happily help review/breakdown mock libra

[2020-06-19 12:56] htuch commented on #11645
I'm not even sure if this is the right place to be doing RDS pausing in general. In general, when xDS subscription X depends on resource type Y, then X should be pausing/resuming Y during process `onConfigUpdate()` for X resources. X should also pause/resume I think during its initialization of static resources.

In the link you provide, CM seems to be pausing routes. There's no dependency relatio

[2020-06-19 12:59] htuch commented on #11645
As an aside, I think this is starting to show the limits of the pause/resume model, which is very imperative, as we scale up complexity of the resource DAG. We have listeners depending on SRDS depending on RDS, etc...

Ideally we have something more declarative, like teaching the config subsystem about the dependency graph, so that when X is processing, it just needs to tell the config subsystem "

[2020-06-19 13:04] htuch commented on #11648
Seems plausible to me. I wonder if we could build control of this into the local reply mapper. @mattklein123 @alyssawilk

[2020-06-19 13:08] sschepens commented on #11645
@htuch what's strange is that SRDS is already pausing RDS in it's onConfigUpdate, that's why on normal updates it does pause and resume correctly, but something else is going on during initialization.

Maybe that line I referenced is pausing RDS before SRDS, but resuming it before SRDS is done?

[2020-06-19 13:56] sschepens commented on #11645
According to comments, this is to batch statically defined rds resources

[2020-06-19 14:27] sunjayBhatia opened #11655 "Windows: win32 Filesystem Impl uses POSIX subsystem, refactor to purely win32 APIs"
The win32 Filesystem impl code uses POSIX substem functions and should be refactored to use win32 APIs instead. The File IoError class should also be converted to use the platform agnostic `Envoy::errorDetails` function instead of `strerror` as we will no longer be using POSIX on Windows.

We believe coalescing on all win32 APIs will make error handling and reasoning about these operations easier

[2020-06-19 14:27] sunjayBhatia commented on #11655
cc @wrowe @davinci26 @nigriMSFT

[2020-06-19 14:28] gophobic opened #11656 "RBAC for UDP"
Is this something on your roadmap? I think it would be a good idea in order to be consistent having RBAC for all kinds of traffic at L4.

[2020-06-19 14:43] mk46 commented on #11095
Hi @alyssawilk, Can we reopen this issue. I try with v1.9.0- v.1.10.0 but facing the same problem?

[2020-06-19 14:52] sunjayBhatia commented on #11655
/assign @sunjayBhatia

[2020-06-19 14:52] sunjayBhatia commented on #11655
/assign @wrowe

[2020-06-19 15:13] stevenzzzz commented on #11645
it's because of this line: https://github.com/envoyproxy/envoy/blob/master/source/common/router/scoped_rds.cc#L238
when the SRDS subscription is being initialized, there may also be other RDS that're in other listeners config which may have fired some RDS requests and RDS is in pending state already(in which case we should not pause), so if SRDS is initializing, RDS requests are "fire at will".

w

[2020-06-19 15:25] Anonymous-Coward commented on #11619
At the suggestion of @GregHanson, attached the output of some istioctl commands, to give more insight into configuration.

Commands executed:

[code]
Names of namespaces and pods and stuff were changed.

[istioctl-info.zip](https://github.com/envoyproxy/envoy/files/4805352/istioctl-info.zip)

[2020-06-19 15:26] sunjayBhatia opened #11657 "Windows: Recent bump to rules_go breaks Windows + RBE"
We have found that the recent bump to `rules_go` v0.23.3 breaks Windows building via RBE. This is not a specific issue with `rules_go`, but rather a bug in Bazel/RBE (to be further determined the exact cause). We are intending to patch `rules_go` with a small patch in the interim while the underlying issue gets sorted out.

The failure manifests itself in Envoy as:

[code]

However, this is not an

[2020-06-19 15:27] jianwen612 opened #11658 "[Proto-gen-validation] negative "nanos" generated by type "Duration""
*Description*:
When I was using token_bucket protobuf which is defined here:
`api/envoy/type/v3/token_bucket.proto`
Some test case generated by fuzzer shows negative "nanos":

      seconds: 12032
      nanos: -8
    }

By looking into it, I found that in type `google.protobuf.Duration`,
it seems the validation only checks the "sum" of `seconds` and `nanos` but doesn't check them separately.
(The

[2020-06-19 15:33] sunjayBhatia commented on #11657
cc @wrowe @davinci26 @nigriMSFT

[2020-06-19 15:34] sunjayBhatia commented on #11657
/assign @sunjayBhatia

/assign @wrowe

[2020-06-19 15:40] htuch commented on #11658
Makes sense, but probably belongs in the issue tracker for https://github.com/envoyproxy/protoc-gen-validate/issues

[2020-06-19 15:55] stevenzzzz commented on #11645
/assign stevenzzzz

[2020-06-19 16:06] sunjayBhatia opened #11659 "Windows: yaml-cpp errors when files are checked out on Windows with CRLF line endings"
Currently we have had to mark some tests as failing on Windows when the Envoy codebase is checked out with CRLF line endings. `yaml-cpp` fails to parse test fixtures and errors with something like: `yaml: line 3: mapping values are not allowed in this context`

Current (possibly non exhaustive) list of tests affected:
- //test/common/buffer:watermark_buffer_test
- //test/common/runtime:runtime_imp

[2020-06-19 16:06] sunjayBhatia commented on #11659
cc @wrowe @davinci26 @nigriMSFT

[2020-06-19 16:28] jianwen612 commented on #11658
Thanks for the information! I will open an issue there.

[2020-06-19 16:30] asraa commented on #10030
related: https://github.com/envoyproxy/envoy/pull/8553

[2020-06-19 16:31] #11658 closed

[2020-06-19 16:57] lizan commented on #11656
cc @yangminzhu

[2020-06-19 17:09] Anonymous-Coward commented on #11619
I think I found the buggy behavior.

I captured packets and looked at them until I found a truncated response. Here's what happens:

- The connection gets established as http 2 over tls 1.3
- everything works as expected - the request is streamed, then the response is streamed back
- every once in a while, the client sends a close_notify message to the server (to envoy, that is), before it has ful

[2020-06-19 17:53] htuch commented on #6588
https://github.com/envoyproxy/envoy/pull/10599 is a reasonable chunk of the work to get us here.

[2020-06-19 18:31] moderation commented on #11095
@mk46 1.9.0 and 1.10.0 are very old by Envoy standards. You should test with 1.14.2 - https://www.envoyproxy.io/docs/envoy/v1.14.2/intro/version_history

[2020-06-19 19:06] linsun commented on #11619
@htuch @mattklein123 @lizan @PiotrSikora thoughts?  Is this an envoy issue or if there is any configuration on envoy users can do to work around this?

Thanks much!

[2020-06-19 19:33] easyfmxu commented on #7187
@derekargueta We are interested in hot-restart with containers. do you have more details how do you do that? Also for things to consider. 2.  If you have a container restart policy, it needs to not restart containers on clean exit, since a clean exit is expected on hot restart. what does it exactly mean? Thanks

[2020-06-19 19:49] yanavlasov commented on #11618
@ggreenway something like that. I think whether it is some sort of extensible tagging or something else is not particularly relevant. It all sort of acts as poor man's RTTI.
@florincoras sure, adding some extensible types would work as well.
Let me know if you'd be willing to craft a PR. Otherwise I can do it too.

[2020-06-19 20:13] lambdai commented on #11619
I would suggest strip the other http filters if your analysis were not there.

An additional question: When truncate happens, what does the client see? A failed response?

[2020-06-19 20:26] yangminzhu commented on #11656
This looks interesting, I think there are less information that could be used in RBAC for UDP request, probably just port, IP and maybe the payload. Do you have any thoughts of how the RBAC will be used with UDP?

Also curious does Envoy already support any other filters for UDP or is RBAC to be the first one?

[2020-06-19 20:37] Anonymous-Coward commented on #11619
We are not using any filters. I don't understand what you refer to.

The client just gets incomplete json. Failure happens on body parsing, not at the http connection level.

If you re-read my previous comment carefully, I think the problem will become obvious. It doesn't seem to have anything to do with filtering or other stuff. I'll try to explain again, in more detail:

- the TCP connection is

[2020-06-19 20:38] linsun commented on #11619
@lambdai thank you for chiming in.  I noticed there is a few http filter related to Wasm that are newly introduced in Istio 1.5 (as default).  Would be good to test with these removed.

@Anonymous-Coward, if you run the following cmds you can see them.  It is installed as part of istio.

[code]

[2020-06-19 20:39] Anonymous-Coward commented on #11619
Will try this on Monday. But I still don't expect this to make a difference.

[2020-06-19 21:12] #11574 closed

[2020-06-19 21:26] htuch commented on #11645
@stevenzzzz as discussed offline, I think this whole pause interface is too fragile. What we should have is a `pause()` that always succeeds and returns to you a RAII resume object (when you delete it, the subscription resumes). Within `[New]GrpcMuxImpl`, logic should figure out what the refcount situation is and pause/resume as appropriate. That way, bugs like this won't happen again in the futur

[2020-06-19 21:36] kthommandra commented on #2066
It clearly shows that there are web apps that end up doing TCP half-close
(eg: see attachment Reviewboard app in Firefox)

Given this behavior, shouldn't Envoy support TCP half-close on HTTP connections?
HA-Proxy seems to work just fine with this.

I haven't yet seen client badness/error etc due to this but its very confusing to see so many "DC" response flag messages being logged in Envoy access

[2020-06-19 21:49] lambdai commented on #11619
@Anonymous-Coward I am not a tls expert but I agree with you on the issue at TLS, which is an early shutdown though envoy is allowed to transmit the entire response.

My question is about a following up:
A http response has its own integrity check. In Http1 it's either response size nor chuncked encoding. In http2 it's stream flag.
These http mechanisms could help the http client to determine the

[2020-06-19 22:26] fuqianggao opened #11664 "How is original destination lb being supported by v3?"
In v2 API, to use original destination lb, one needs to set both:
cluster.lb_policy -> ORIGINAL_DST_LB
cluster.type -> ORIGINAL_DST

Now in v3 API, ORIGINAL_DST type is still available, but ORIGINAL_DST_LB is not in lb_policy anymore.

Is this feature still supported in v3? If so, how should one configure?

BTW, the doc says: "Original destination service discovery must be used with the original d

[2020-06-19 23:19] chaoqin-li1123 opened #11665 "Some Suggested Cleanup about Use of Container"
**Issue Template**

*Title*: *Proposal: Some Suggested Cleanup about Use of Container*

*Description*:

In callback_impl.h, removing a callback handle takes O(N) time complexity, which can be reuduced to O(1) if we store a list::iterator in CallbackHolder and use it to remove the handle. There are also two other cleanup in scoped_rds.cc and scoped_rds.h, where code can be simplified and overhead m

[2020-06-20 00:07] mk46 commented on #11095
@moderation I have done this for 1.14.2, facing the same issue. Not sure but the delay of 3s  https://github.com/envoyproxy/envoy/blob/7f251daa2e488587bc7335f91faceed420f162c4/examples/fault-injection/enable_delay_fault_injection.sh#L6
doesn't affect response time.

[2020-06-20 00:46] florincoras commented on #11618
@yanavlasov, I can start working on something once we're all in sync (cc @htuch). Still, if this ends up taking too long and you already have something that fixes the problem on your end, feel free to push it and I'll manage.

[2020-06-20 02:22] gophobic commented on #11656
@lizan, @yangminzhu thanks. isn't the RBAC proto message used for both TCP and HTTP filters? you can reuse it for the UDP listener and just ignore rule items that don't relate to UDP like `header` and `url_path` which is what TCP does. I am just guessing here because I never really delved into Envoy's code.

[2020-06-20 03:34] yangminzhu commented on #11656
Yes we could use the same RBAC proto message and just ignore the inapplicable fields, I'm just curious if you have any concrete use cases of using RBAC with UDP.

[2020-06-20 04:15] gophobic commented on #11656
I get that UDP has far far less applications than TCP. But an obvious case is the UDP listener can allow or disallow requests to an upstream DNS server based on the source ip ranges.

[2020-06-20 06:47] dio opened #11671 "deps: Move com_googlesource_googleurl top-level BUILD file to a sub-dir"
When trying to use GURL as URL parser (a minimal initial integration effort (PoC on linking) of it can be observed in https://github.com/envoyproxy/envoy/pull/11670), I faced the following error on macOS and Windows:

[code]

Since from the downloaded archive, `http_archive` tries to extract `build` dir while the `BUILD` file is already extracted (the case for `BUILD` file is extracted before the

[2020-06-20 08:00] fscz opened #11672 "JWT Tokens cannot be verified"
I recently installed Istio 1.6.2 and would like to set up JWT Auth. I am using the following configuration.

[code]
I tested a lot with this and unfortunately, the following JWTRule does not work:
[code]
It does also not work if I change values to ["*"]. I does work if I check for key: request.headers[User-Agent] with a specific value or wildcard.

Envoy log prints the following:
[code]
This leads

[2020-06-20 09:22] Anonymous-Coward commented on #11619
@lambdai I'm neither a TS nor a HTTP expert. From what I knew and what I looked up, except for the Content-length header, there's no way for the client to know if it has received the entire response, as long as chunks are whole - i.e. missing chunks at the end cannot be detected. The stream flag in http2 only allows avoiding mixing of streams, but again, not detecting if the end of the stream is m

[2020-06-20 10:42] prakhag-1 opened #11673 "Traffic forwarded to unhealthy hosts"
My setup (config below) uses multiple endpoints in a cluster. When health check for hosts in one of the endpoints fail, I see that the traffic is still forwarded to its underlying hosts.

Config:
[code]

Logs from application:

[web-pvm-59fb685cfc-98rxt] Health status: **pass** at: 2020-06-20 05:27:47.445
[web-pvm-59fb685cfc-4pk69] Health status: **pass** at: 2020-06-20 05:27:48.682
[web-std-79688

[2020-06-20 10:56] dio commented on #11673
Do you think you hit [panic-threshold](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/panic_threshold#panic-threshold)?

[2020-06-20 16:00] mattklein123 commented on #11619
I'm not familiar with the difference between TLS 1.2 and TLS 1.3 in this regard, but if there is some expected behavior difference between a TLS level "close notoify", we are almost certainly not handling that difference. We would need different types of events to be raised from the BoringSSL/TLS layer than what we have today I would imagine.

cc @davidben @PiotrSikora

[2020-06-20 16:07] mattklein123 commented on #11656
Yes I think we can do this for UDP. One thing to keep in mind is that the current UDP filter stack is not complete and only allows a single filter currently. Someone would need to finish the UDP filter manager work so that we can support multiple filters.

[2020-06-20 16:12] mattklein123 commented on #11645
Big +1. I find the current pause() situation extremely difficult to understand and very fragile. Can we step back and do a proposal to see if there is a better way of holistically handling this?

[2020-06-20 16:25] mattklein123 commented on #11664
Like this: https://github.com/envoyproxy/envoy/blob/7f251daa2e488587bc7335f91faceed420f162c4/test/common/upstream/original_dst_cluster_test.cc#L108-L115

Can you update the docs? I agree they are bad.

Note the original intention here (which hasn't been finished) is that the original_dst cluster can be moved to an extension which can be compiled out.

[2020-06-20 16:26] mattklein123 commented on #11648
+1 we should add this. Also +1 for possibly controlling this behavior through the mapper. cc @qiwzhang

[2020-06-20 18:49] prakhag-1 commented on #11673
Disabling panic threshold doesn't seem to make any difference.
common_lb_config:
          healthy_panic_threshold:
            value: 0

[2020-06-20 19:20] stevenzzzz commented on #11645
if ok let's create a separate issue to track that, I'd expect it to spider into many files. keeping the pause/unpause in pair sounds good to me. One thing I want to sort out there is if we only pause/resume in one main-thread event.

I want to address the initialization improvement mentioned in this issue with a possibly smaller change.

[2020-06-20 19:29] stevenzzzz opened #11674 "keep ApiState pause/resume ref-counted, to make sure resume on the state is always called (always in pair)."
per Harvey, let's make the ApiState pause/resume operations always come in pair.
Currently there is no guarantee on when/whether the "resume" will be called after the ApiState has been "pause"d.

We should consider mechanism like RAII object which auto-resume the paused resource type when the object died.

[2020-06-20 19:30] stevenzzzz commented on #11645
create issue #11674 to track the more general interface problem.

[2020-06-21 00:56] #11203 closed

[2020-06-21 01:56] #11093 closed

[2020-06-21 02:56] #10990 closed

[2020-06-21 03:56] #11156 closed

[2020-06-21 04:07] goaway commented on #10030
Thank you @asraa!

[2020-06-21 04:56] #10692 closed

[2020-06-21 06:07] dio commented on #11257
Hey, @Rahul7794!

I think you need to let the "cluster" to talk to your service using HTTP2 (since it is gRPC?). You can enable it by inserting default `[`http2_protocol_options`](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/http_connection_manager/v2/http_connection_manager.proto#envoy-api-field-config-filter-network-http-connection-manager-v2-httpconnectionmanager-htt

[2020-06-21 07:01] samitpal opened #11676 "Question: Accessing environment variable in lua filter"
This is a question.

I'm using lua filter and I need a way to access an environment variable within the lua code. Is that possible?

[2020-06-21 07:44] dio commented on #11676
While it is not recommended, you can always use `os.getenv` (calling system call every time you handle a request probably costly). I think a combination of templating for config and metadata could give better help there.

However, if you insist to do it, an example to call it directly from the script:

[code]

[2020-06-21 10:11] samitpal commented on #11676
Thanks!
I was trying os.getenv myself and was not doing it right. It works now. Although like you said from performance point of view I will try to figure out a way where I may not need to read from env.

Closing this ticket

[2020-06-21 10:11] #11676 closed

[2020-06-21 12:56] #11198 closed

[2020-06-21 13:56] #11192 closed

[2020-06-21 14:49] Nevon commented on #319
Years later now, but does anyone know if this is possible now? I have my own hand-rolled application for WS<->TCP communication, but I was hoping that I could replace it with Envoy.

[2020-06-21 17:24] Anonymous-Coward commented on #11619
My C/C++ is pretty rusty, and I don't have a properly set up C/C++ IDE, to easily browser code but I looked at the code anyway - both BoringSSL and envoy.

My very subjective and potentially wrong impression is that BoringSSL does not need changes. I'll explain.

In connection_impl.cc:

[code]

In ssl_socket.cc:

[code]
`shutdownSsl();` should not be called if there are still open http 2 streams o

[2020-06-21 22:37] lu4t opened #11679 "Front-proxy example error == returned a non-zero code: 127"
Hi, when running the front-proxy example on a laptop, I get the following error on step 3/8:

/bin/sh: pip3: not found
ERROR: Service 'service1' failed to build: The command '/bin/sh -c pip3 install -q Flask==0.11.1 requests==2.18.4' returned a non-zero code: 127

I found on Dockerfile-service file, on lines 3 and 4:

RUN apk update && apk add python3 bash curl
RUN pip3 install -q Flask==0.11.1 re

[2020-06-21 22:58] dio commented on #11679
@lu4t I think this PR https://github.com/envoyproxy/envoy/pull/11523 will fix that.

Relevant: https://github.com/envoyproxy/envoy/issues/11506#issuecomment-640912515.

[2020-06-21 23:15] lu4t commented on #11679
thanks @dio for your comment; #11523 might solve problem with starting after build is complete, but I still think pip3 wont work if the package name to be added is not corrected. This has nothing to do with permissions. I believe.

[2020-06-21 23:31] dio commented on #11679
@lu4t can you try to run:

[code]

In my local, it prints:

[code]

[2020-06-22 00:22] lu4t commented on #11679
Hi @dio
the && on your command was causing me problems on w10 powershell... looks like it is not workind for me.
Instead, I ran envoy docker and started a bash, and this is what I got (I hope is valid for you):

[code]

On the same bash, but this time usign the right package name, this is what you get:

[code]

I checked, and all the /examples folder on the repo have this same effect.

[2020-06-22 01:18] dio commented on #11679
Gotcha. Could you either create a PR or comment to https://github.com/envoyproxy/envoy/pull/11523?

[2020-06-22 02:37] mattklein123 commented on #11619
I think what you are saying is that you expecting half-close behavior to work correctly for HTTP. If so, yes, this does not work, and is tracked by https://github.com/envoyproxy/envoy/issues/2066.

[2020-06-22 05:56] Anonymous-Coward commented on #11619
@mattklein123  I read that other ticket. It only says about half-close at the application level with http 1.1. This here yields similar (incorrect) behavior, but when using http 2, and not as a result of application level signaling alone, but as the result of how transport level and application level protocols interact. Do you think an addition there might be helpful? I fear that a fix for either

[2020-06-22 07:10] Rahul7794 commented on #11257
@dio Ace! Fixed the issue!

[2020-06-22 07:10] #11257 closed

[2020-06-22 10:13] Ccaomei opened #11684 "Error executing envoy-static"
Hi, everybody. I compiled the executable called Envoy static on my own, but it got an error and the error is as follows:
[2020-06-22 18:10:19.947][17024][info][main] [source/server/server.cc:255] initializing epoch 0 (hot restart version=11.104)
[2020-06-22 18:10:19.948][17024][info][main] [source/server/server.cc:257] statically linked extensions:
[2020-06-22 18:10:19.948][17024][info][main] [sou

[2020-06-22 11:45] dio commented on #11684
How did you get the envoy source?

FWIW, you can override the version using (hence not throwing): https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/bootstrap/v3/bootstrap.proto.html?highlight=stats_server_version_override

Add that to your `./conf/test.yaml`.

e.g.

[code]

[2020-06-22 12:54] #11652 closed

[2020-06-22 13:06] alyssawilk commented on #11648
SGTM - we've found it quite useful for debug as well.

Two suggestions.  First, it may be worth config for sending an enum:  "never send, send iff internal address, always send".
Second, and I'd like @mattklein123 's thought on this one, I think especially for this, which is very Envoy-ish info, it may be worth sticking information in a single tokenized header.  Internally we have a bunch of stuff

[2020-06-22 13:16] dio commented on #11262
@pheely I think you're looking at implementing `Http::AsyncClient::Callbacks`.

This is an example of calling out an endpoint from Envoy to a predefined "cluster". https://github.com/envoyproxy/envoy/blob/347ec29ab1834e14b49df4e24618ee07d57cf3c2/source/extensions/filters/common/ext_authz/ext_authz_http_impl.cc#L272-L274.

[2020-06-22 13:18] dio commented on #11228
I think this one is fixed. Please reopen if otherwise. Thank you!

[2020-06-22 13:18] #11228 closed

[2020-06-22 14:46] alyssawilk commented on #11095
Looking at the docs, it looks like you should only see a delay on half the requests.  Are you not seeing it on any? It'd help if you could attach some logs of what you're seeing.  Thanks!

[2020-06-22 14:51] mattklein123 commented on #11619
AFAICT the fix is the same, we want to correctly deal with client half-closes and not immediately terminate the connection.

[2020-06-22 14:52] mattklein123 commented on #11648
Yes agreed on supporting a tokenized header, though I suspect with our header formatters and the local reply config we could probably make this all pretty easily configurable?

[2020-06-22 15:20] htuch commented on #11671
Can we fix GURL upstream to make it compatible with Bazel? This seems like something they would likely accept.

[2020-06-22 15:22] mandarjog opened #11690 "Route specific filterchains / dynamic filter order"
Usecase:
Many times at ingress there is a need to attach specific behaviours to specific paths.
For example

[code]
There is no first class support for this.

### What is possible today ?
There is a requested feature for [conditional filter dispatch](https://github.com/envoyproxy/envoy/issues/6824), with this feature or ad-doc filter specific route metadata it is possible to enable and disable fil

[2020-06-22 15:24] htuch commented on #11645
@stevenzzzz that is fine, as long as this pause/resume fix for SRDS is highly local and intuitive, we can take it. If not, I'd rather not build further tech debt and just have #11674 implemented.

[2020-06-22 15:44] #11431 closed

[2020-06-22 16:04] yanavlasov opened #11691 "The LinkedObject::moveIntoList usage is unsafe"
Usage of the `LinkedObject::moveIntoList()` and `LinkedObject::moveIntoListBack()` is unsafe. Clang-tidy rightfully complains:

[code]

This pattern is used throughout the code. So far compiler generated working code, but it should be cleaned up before we hit this issue in production.

[2020-06-22 16:31] dio commented on #11671
@htuch do you mean against https://src.chromium.org/viewvc/chrome/trunk/src/url/? I think what we have right now is a snapshot. I'm not sure about the procedure. I can observe copyright of Chromium Authors for `BUILD` file here: https://github.com/dio/googleurl/blob/4d7b1f126466ef48b3fe148d08db73385721adf7/build/BUILD#L1 But I'm afraid I couldn't search that on any public repos.

[2020-06-22 16:31] qiwzhang commented on #11672
Could you verify following is include din envoy jwt_authn filter config:
[code]

[2020-06-22 16:34] fpliu233 commented on #11276
yes, this is fixed. Sorry I forgot to update this issue. Thanks for reminding me =)

[2020-06-22 16:34] #11276 closed

[2020-06-22 17:07] fscz commented on #11672
How do I check that?

[2020-06-22 17:08] ldemailly opened #11694 "(tcp proxy with mtls:) Delay connection to upstream until TLS handshake is complete"
Envoy acting as mTLS terminating TCP proxy makes cluster connections ahead of TLS verification (optimistic)

Any incoming connection in turn causes consumption of connections on the upstream services even when client do nothing but a simple tcp connection, without presenting any certificate

I think the behavior is an optimization for the "good case" where if the mtls handshake ends successfully,

[2020-06-22 17:17] wgallagher opened #11695 "RTDS misconfiguration causes crash during initialization"
The following crash was caused by configuring an RTDS xDS cluster that didn't exist.

Backtrace:
#0  0x00007f018c3a2c37 in __GI_raise (sig=sig@entry=6) at ../nptl/sysdeps/unix/sysv/linux/raise.c:56
#0  0x00007f018c3a2c37 in __GI_raise (sig=sig@entry=6) at ../nptl/sysdeps/unix/sysv/linux/raise.c:56
#1  0x00007f018c3a6028 in __GI_abort () at abort.c:89
#2  0x000055d6a0c0386b in abort_message ()
#3

[2020-06-22 17:57] Anonymous-Coward commented on #11619
Depends on how it's done, IMO.

An event triggering a half-close might be received both at the application level and at the transport level protocols. More precisely, in the case of this bug, clients might trigger the connection half close both by sending a TLS (transport level) close_notify and by sending a http 2 (application level) GOAWAY. As long as both are treated similarly by envoy, and tra

[2020-06-22 17:59] mandarjog commented on #11690
@kyessenov @lambdai @PiotrSikora

[2020-06-22 18:08] davidben commented on #11619
BoringSSL doesn't impose any cross-read/write close_notify behavior and already behaves as in TLS 1.3. That is, when we receive close_notify, we continue to allow `SSL_write` and do not automatically trigger a close_notify of our own. The calling application may end up doing this, but that's on the calling application.

I don't think this interpretation is universal, but I see the TLS 1.3 change a

[2020-06-22 18:21] antoniovicente commented on #11691
One possible way to fix this: make the moveIntoList method "static"

The ASSERTs should refer to stream->inserted_ instead of this->inserted_.

[2020-06-22 18:25] kyessenov commented on #11690
I think there is some overlap with per_filter_configs that needs to be resolved. The design question is whether we want to instantiate different filters based on routes, which would mean that router needs to compute the route ahead of time.

[2020-06-22 18:52] qiwzhang commented on #11672
Here is the config from your log
[code]

It did not define "from_headers".

Please take a look at this doc
<https://github.com/envoyproxy/envoy/blob/master/api/envoy/extensions/filters/http/jwt_authn/v3/config.proto#L144>
on how to config jwt_authn

You may need to check Istio doc on how to config "from_headers" for jwt.

On Mon, Jun 22, 2020 at 10:07 AM fscz <notifications@github.com> wrote:

[2020-06-22 18:56] howardjohn commented on #11299
I have been playing around with this a bit some thoughts:

I think implementing in Go will be the most useful because
* It would be nice to provide the ability to just call `xdsconformance.RunConformanceTest(t)` for an existing go test. I realize not everyone has go control planes, but its certainly one of the most popular
* It seems a hard requirement to provide a standalone binary that can run t

[2020-06-22 20:20] mk46 commented on #11095
@alyssawilk I have not seen any delay except delay of 1s between two requests https://github.com/envoyproxy/envoy/blob/3efafaa0d2a1625e74bf40976d6e9cfef9064f4b/examples/fault-injection/send_request.sh#L6 and attached the log below.

- https://raw.githubusercontent.com/mk46/test/master/response.log

[2020-06-22 20:49] sunjayBhatia commented on #10619
Our toolchain config changes have all been merged, we're just waiting on fixing some Windows specific issues caused by the merge of recent PRs

[2020-06-22 21:02] alyssawilk commented on #11095
I meant the Envoy logs, sorry for not being clear.
Anyway, played around with it myself and it does look like something isn't up to date.  I'll go ahead and reopen

[2020-06-22 21:05] abaptiste commented on #6748
@sumukhs, @bcelenza,@mattklein123 gents, can we resolve this issue since the DNS Filter is now merged into Envoy?

[2020-06-22 21:13] mattklein123 commented on #6748
Thanks will close and we can open discrete issues for any new features, thanks!

[2020-06-22 21:13] #6748 closed

[2020-06-22 21:23] sumukhs commented on #6748
Thanks for completing this work item @abaptiste  - Greatly Appreciated!

[2020-06-22 22:40] mattklein123 commented on #11690
I like this idea but this definitely needs more thinking and a spec. Some quick things beyond what @kyessenov notes:
1) How do we handle a filter changing the route? Does this become an internal redirect?
2) There are potentially some pretty gnarly issues around workers and config to deal with in terms of pre-computing the filter chain. We may end up needing callbacks that can be registered when R

[2020-06-22 22:49] zhishi commented on #11560
I wonder will the same logic apply for weighted cluster when all the routes point to same cluster with only difference in subset metadata?

[2020-06-22 23:58] cpakulski commented on #11095
I am looking at this issue.

[2020-06-23 00:46] mk46 commented on #11095
I have attached the [envoy log](https://raw.githubusercontent.com/mk46/test/master/envoy.log). Response getting after applying delay is from
 https://github.com/mk46/test/blob/b0e918666a6961ae01d73b2e48be4cff7c2be811/envoy.log#L122

[2020-06-23 01:52] Ccaomei commented on #11684
very nice，3Q

[2020-06-23 04:20] #11206 closed

[2020-06-23 05:08] wlhee opened #11706 "Generate 504 status when max_stream_duration is reached by no response headers is sent"
Hi, I came across that when [max_stream_duration](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/protocol.proto#envoy-v3-api-field-config-core-v3-httpprotocoloptions-max-stream-duration) is reached, upstream client doesn't get any HTTP status.

While when route [timeout](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-field-

[2020-06-23 05:22] Augustyniak opened #11707 "Fault Filter - Abort Faults' Responses"
Envoy's fault filter supports abort faults. When Envoy inject an abort fault it returns a response that uses `text/plain` as its content-type and sets "fault filter abort" as its body.

At Lyft, mobile clients try to deserialize every response that they get from the server (or/and Envoy). There are a few known issue when it comes to deserializing responses that are sent by Envoy's fault filter whe

[2020-06-23 06:06] jzhn commented on #11504
I can reproduce this issue with official envoy docker image 1.14.2.

Unlike original poster of the issue, I only have a single fault filter, and the `envoy_http_fault_active_faults` gauge is increased by 1 whenever a request is aborted by the fault filter.

[code]

With above, a clean new container will have
[code]

When the first `fault filter abort` occurs, the gauge becomes
[code]

And it becom

[2020-06-23 07:28] ankatare commented on #8097
@lizan would you please provide some pointers for this issue to start. as i am beginner in project. so fwants to explore surroundings etc.

[2020-06-23 09:12] nguyenhoaibao commented on #10301
@danlanxiaohei did you figure out how to config that? I'm facing same problem with you. Thanks.

[2020-06-23 09:27] danlanxiaohei commented on #10301
@nguyenhoaibao see this [document](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/socket_option.proto#core-socketoption)

[2020-06-23 12:37] #11679 closed

[2020-06-23 12:38] #11671 closed

[2020-06-23 12:51] murray-stripe opened #11710 "Add Buffer to UdpStatsdSink"
__Description__
Statsd protocol allows for metrics to be [newline separated](https://github.com/statsd/statsd/blob/master/docs/metric_types.md#multi-metric-packets). The current implementation for statsd sink does not take this into account an instead writes metrics out one at a time. [source](https://github.com/envoyproxy/envoy/blob/master/source/extensions/stat_sinks/common/statsd/statsd.cc#L38)

[2020-06-23 12:54] htuch commented on #11299
As discussed IRL, I agree we don't need deep mocking of resources, but there will need to be some sort of shim to allow named resources of different types to be created, deleted and updated (including version).

[2020-06-23 13:02] alyssawilk commented on #11095
Awesome, thanks @cpakulski

[2020-06-23 14:57] alyssawilk commented on #9784
This is still failing, and is pretty easy to reproduce with
bazel test --config=clang-tsan //test/integration:vhds_integration_test --runs_per_test=200
@dmitri-d can you please take another look?

[2020-06-23 15:06] stevenzzzz commented on #11674
/assign stevenzzzz

[2020-06-23 15:40] mattklein123 commented on #11710
Yup SGTM.

[2020-06-23 15:41] cpakulski commented on #11095
@mk46 Please check changes in PR #11715. If you do not want to wait until it is merged into master update your local envoy.yaml file, rebuild images and it should be fine now.

[2020-06-23 16:06] Shikugawa commented on #11706
@wlhee It is curious. Would you mind to tell me detail situations? It should return 408 status when upstream max_stream_duration is reached.

[2020-06-23 16:17] wlhee commented on #11706
Sure.

I configured the max_stream_duration in the listener config:

    filter_chains:
    - filters:
      - name: envoy.http_connection_manager
        typed_config:
          "@type": type.googleapis.com/envoy.config.filter.network.http_connection_manager.v2.HttpConnectionManager
          stat_prefix: ingress_http
          codec_type: AUTO
          stream_idle_timeout: 0s
          common_h

[2020-06-23 16:24] #10070 closed

[2020-06-23 16:24] #11340 closed

[2020-06-23 16:37] mattklein123 commented on #11707
Can you use the new local reply mapper feature to map the response however you like?

[2020-06-23 17:06] murray-stripe commented on #11710
Awesome. I'll put together a PR.

[2020-06-23 17:08] #9857 closed

[2020-06-23 19:21] rshriram opened #11718 "feature req: SQL codecs need to inject or parse trace headers from comments"
Having the ability to trace database calls is very useful. Imagine the following example flow:

app---(sql query)-->sidecar--->DB

if app sends SQL queries with the trace headers as SQL comments, then the sidecar can emit client-side trace spans, recording the DB call durations. [The more industrious lot can parse DB query logs to extract trace headers and emit server side spans?]

if app doesn't

[2020-06-23 19:21] rshriram commented on #11718
cc @cpakulski

[2020-06-23 19:42] #11296 closed

[2020-06-23 20:40] ahedberg opened #11720 "djb2CaseInsensitiveHash may cause excessive probing with Abseil hash tables"
Title: djb2CaseInsensitiveHash may cause excessive probing with Abseil hash tables

Description: My colleagues who implemented the Abseil containers (@fowles and @sbenzaquen) mentioned that [djb2CaseInsensitiveHash](https://github.com/envoyproxy/envoy/blob/02a526257a013e80bc508399446aac0234c3ec4e/source/common/common/hash.h#L35) will likely cause excessive probing with `absl::{flat,node}_hash_{set

[2020-06-23 21:08] caroldesenne opened #11722 "Http_router filter's name is misleading"
**Description**:

The http_router filter does forwarding, as stated by the [documentation](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/router_filter).

This is a misleading name, since routing and forwarding are not the same thing.

I walked into this problem, since I was trying to add headers to a response through the route_config, but the header didn't show up. Th

[2020-06-24 00:07] ankatare commented on #8097
cc @htuch

[2020-06-24 00:19] lambdai opened #11725 "Discussion: envoy internal connection"
I was exploring dispatching h2 CONNECT to listeners of the same envoy process.
The mental topology is something like below.

curl -> H2 CONNECT -> ListenerA_HCM -> TCP  -> ListenerB_TcpProxy.

Without any change `listenerA_HCM -> TCP  -> ListenerB_TcpProxy` will be carried by a TCP connection.
It is expensive in terms of
1. Resource usage: tcp 4 tuple socket id and consider the TIME_WAIT, ephemera

[2020-06-24 00:27] lambdai commented on #11725
Looks like this is a specialization of https://github.com/envoyproxy/envoy/issues/11618

[2020-06-24 01:00] florincoras commented on #11618
Posting the [link](https://docs.google.com/document/d/1y_UOJjoWw70Wxb9TQ8Il7KdudjT7EonoSSY8W9E6fGo/edit?usp=sharing) to the socket interface issues and next steps doc here as well for more visibility.

[2020-06-24 01:39] lambdai commented on #11725
I looked at my experimental code. My major change is to strip the existing socket from Connection. Looks like I could use the socket interface instead.

[2020-06-24 02:24] #11553 closed

[2020-06-24 02:48] yanavlasov commented on #6736
The only test that needs to compile all extensions is `//test/integration:run_envoy_test`. This test seems to test that envoy process fails with bogus command line parameters. This should work with envoy without any extensions at all, I think. Unless I'm missing something the solution is to create another target that builds the server without any extensions.

[code]

[2020-06-24 04:23] dio commented on #3731
Seems like it is fixed.

[2020-06-24 04:23] #3731 closed

[2020-06-24 12:58] mk46 commented on #11095
@cpakulski It's working now. Thanks!

[2020-06-24 13:05] alyssawilk commented on #9846
@rulex123 are you still looking at this or is it Ok if I pick it up?

https://github.com/envoyproxy/envoy/pull/11714 fixes one of the complexities I mentioned in the HTTP/1.1 stack, and I'm inclined to do the HCM config as a follow up and see if we can get this in before the release

[2020-06-24 13:14] pete-thecat commented on #11605
I figured out my problem... the jwt_authn filter rules match was not being met for my test case. In my configuration the rbac filter was being triggered because there was a JWT in the header, but the authn filter was not being executed because the rule was not being satisfied. Therefore the dynamic meta data was not populated and rbac was properly failing. Seeing the logs now, there is a clear ind

[2020-06-24 13:14] #11605 closed

[2020-06-24 13:28] alyssawilk commented on #9846
And either way, @htuch @mattklein123  thoughts on how we can make this required, especially if v4 isn't happening for several years?
Should we do something akin to the comment -> warn ->  fatal-by-default-if-not-set cycle we used to for deprecated config over a year or two?

[2020-06-24 14:39] antoniovicente commented on #11725
Would you get equivalent behavior if ListenerA_HCM were to select ListenerB_TcpProxy's upstream directly instead of going through some virtual connections?  I guess that you need more than just listenerB's upstream since there may be some L4 filters that need to operate on the request, and the socket type for listenerB could be something like SSL, in which case you'ld need to hook into https://wik

[2020-06-24 14:40] antoniovicente commented on #11725
Which connection?  You still need to go through the H2 codec on listenerA and there could even be multiple H2 CONNECTs active on the same client connection.  Passing A's client connection to B's listener won't work.

[2020-06-24 15:02] mattklein123 commented on #9846
Yes +1. I think this is what we had discussed previously.

[2020-06-24 15:06] mattklein123 commented on #6736
@yanavlasov I think there are a couple of others like the hot restart test that use the full binary. But yeah, the solution is to build the binary twice, one the real version and one the light version. Note that @jmarantz already has a custom binary going for the hot restart test.

[2020-06-24 16:06] mattklein123 commented on #11596
Regarding the branch rename I discussed with @caniszczyk and we are going to wait until GitHub/git decide on what the new default is going to be. Then we can align with that. I will get started on the rest of it.

[2020-06-24 17:37] sunjayBhatia commented on #11657
See https://github.com/bazelbuild/bazel/issues/11636 for Bazel issue

[2020-06-24 17:39] wrowe commented on #11659
Note that 11719 only papers over the issue to get RBE CI //test/... running.

This defect to have the yaml parser properly handle CR+LF line endings remains unaddressed.

[2020-06-24 18:05] howardjohn commented on #11254
/help-wanted (this probably doesn't actually do anything, but worth a shot)

[2020-06-24 19:28] yosrym93 opened #11734 "CacheFilter: Upgrade GET requests whose upgrade headers are not removed should bypass the cache"
CacheFilter (#7198) should bypass cache for websocket protocol requests as defined by [RFC6455§1.2](https://tools.ietf.org/html/rfc6455#section-1.2).

[2020-06-24 19:35] yosrym93 opened #11735 "CacheFilter: Support adding additional custom headers to skip the cache"
The CacheFilter should support adding custom headers that cause requests to skip the cache through configurations.

[2020-06-24 19:46] jamesbibby opened #11736 "Redis Health Checks do not support ACL auth_username"
Title: Redis Health Checks do not support the Redis 6 ACL auth_username parameter

Description:

The only thing I was not able to handle in the previous PR #11408 is supporting auth_username for health checks.   This is ok for our initial use case as we can grant the default user +ping permissions.   That said, others might like this feature and I am happy to work on it.

https://github.com/envoyp

[2020-06-24 20:35] rshriram opened #11738 "dns_filter: feature req - DNS over TLS"
Today, the upstream resolver is specified using IP/Port like this:

[code]

If we allow the specification of upstream resolvers using a cluster name reference, we will get DNS over TLS for free in addition to bunch of other [weird] functionalities. For example,

[code]

If the request is not satisfied within the `resolver_timeout` period, then the resolution fails [just like http route timeout]. T

[2020-06-24 20:38] rshriram commented on #11738
essentially, in addition to explicitly specifying the IP/Port of upstream dns servers (UDP ports), we need the ability to specify a cluster name here https://github.com/envoyproxy/envoy/blob/master/api/envoy/extensions/filters/udp/dns_filter/v3alpha/dns_filter.proto#L57 so that we can do dns over tls

[2020-06-24 20:43] costinm commented on #11738
+1

Would also be consistent with the rest of Envoy APIs, where cluster is used for outbound. A lot of options in cluster may be useful here too.

The main issue is that DNS upstream request could either be UDP or TCP ( same as UDP but with the 2-byte len delim ). So some code will need to encapsulation if the cluster is TCP.

[2020-06-24 20:55] mattklein123 commented on #11738
Makes sense to me. cc @abaptiste

[2020-06-24 22:37] htuch commented on #9846
I think this should follow minor versions, to provide control planes the right versioning information. So, we introduce it now with comment and warning. I'd probably wait until the next minor version until considering setting fatal-by-default, to allow control planes to know that this is required.

@markdroth @envoyproxy/api-shepherds any other thoughts on this? We're basically add a new field tha

[2020-06-24 22:40] mattklein123 commented on #9846
I think this is really just a standard deprecation cycle. Deprecate old field, add new field, warn if new field is not set, then eventually make it required and delete old.

[2020-06-24 22:42] htuch commented on #9846
Are you saying standard deprecation cycle with minor versioning? Or are you saying it's fine to make it fatal-by-default still, because it's possible to override and we'll still support it being unset indefinitely?

[2020-06-24 22:46] mattklein123 commented on #9846
I guess I'm saying it's a hybrid. We would do standard minor version deprecation on the existing field, but do warn/fatal by default on the other field (since it can be disabled), and then in the next major version we would make the new field required when the old field is removed.

[2020-06-24 23:39] lambdai commented on #11725
I agree with you that an 100% FD api is extremely hard, especially when listenerB has corner options.

But there is a question ahead.
1. Does listenerB need to handle both real tcp connection and virtual connection?
2. Does listenerB need to implement all the tcp listener features?

At my scenario, both answer is NO.
I incline to introduce another UserspacePipeListener. It starts with self defined

[2020-06-24 23:43] lambdai commented on #11725
wrt the concern SSL: it's fine to me that control plane create listenerB1 terminating SSL connection and listenerB2 terminating virtual connection.

[2020-06-24 23:57] lambdai commented on #11725
Oh, my. It looks like you are much more ambitious than my plan.
Original: client <-C1, connect stream->  HCM <-**C2,rawtcp**-> TcpProxy <-C3, rawtcp-> server
My plan: client <-C1, connect stream->  HCM <-**C2,virtual**->  TcpProxy <-C3, rawtcp -> server

My proposal affects only C2. The HCM still need to relay the bytes to C2 from the connect stream in C1. I am not gonna relay the fd to C2 or C3.

[2020-06-25 00:07] christine-gong opened #11743 "Envoy Jaeger tracing metrics"
Description:
When using jaeger with zipkin tracers on Envoy, envoy sends spans to Jaeger collector, do we have related client side metrics/statistics? e.g. jaeger_reporter_spans, jaeger_agent_reporter_batches_submitted_total as demonstrated in https://github.com/jaegertracing/jaeger/blob/master/monitoring/jaeger-mixin/dashboard-for-grafana.json
Thanks

[2020-06-25 00:28] jpeach commented on #11191
@ThePlenkov Enable debug logging https://www.envoyproxy.io/docs/envoy/latest/operations/cli#cmdoption-l

[2020-06-25 00:41] antoniovicente commented on #11725
I think the original picture is actually:
client <-C1, connect stream-> HCM <upstream connection C2> -> <C3 listener connection> TcpProxy <-C4, rawtcp-> server

Use of a socket pair or pipe for C2 and C3 seems like a good place to start in order to work around the local ephemeral port limits issue.  Most things would continue to work in that case.  Yielding to the event loop between writes to C2 a

[2020-06-25 10:14] dio commented on #11743
Not sure about jaeger native. However, from my limited knowledge: if you use "Zipkin" config (since one can configure jaeger using Zipkin driver), the available stats are:

https://github.com/envoyproxy/envoy/blob/0f2373b3aea79bad35140f180d214622937d9b86/source/extensions/tracers/zipkin/zipkin_tracer_impl.h#L25-L30

[2020-06-25 15:12] #11095 closed

[2020-06-25 15:13] rulex123 commented on #9846
@alyssawilk didn't have time to do any envoy-related work over the past month, so good thing you have picked this up. I should have more time from next week though, and I would still be interested in helping you out. Is there some other task related to this area of work that I can land a hand with?

[2020-06-25 15:21] alyssawilk commented on #9846
Sure thing!  One thing that might be nice is if we have an HTTP/1.1 protocol option akin to the HTTP/2 option - that way instead of doing the complicated dance with overriding the default and overriding the HTTP/2 option, users could just override the HTTP/1.1 option.  The tricky bit is the HCM would have to pull that option from codec, so there'd be an config-API addition and an extension to the

[2020-06-25 15:31] #8545 closed

[2020-06-25 15:33] cpakulski commented on #10154
@perlun I tried the following scenario several times and cannot get the crash you describe (I am running the latest master).

start Envoy via hot-restarter:
`python hot-restarter.py start_envoy.sh`

connect to /tap:
`curl -X POST --data-binary @./body.txt 127.0.0.1:9901/tap`

hot-reload Envoy:
`kill -SIGHUP <pid>`

I tried various scenarios: hot-reload when curl is connected, connect curl just aft

[2020-06-25 15:38] kishan-patel opened #11752 "Is onInvalidFrame() method in http2/codec_impl.cc preventing GO_AWAY frame from being sent for protocol errors?"
### Description:

I have a case where I am not receiving a GO_AWAY frame when sending an incorrect stream_id in the HEADER frame. From what I can tell, the `session_handle_invalid_connection()` method inside the `nghttp2_session` class is invoking the `onInvalidFrame()` callback inside the `http2/codec_impl.cc` class with `NGHTTP2_ERR_PROTO` as the error code. However, since the `onInvalidFrame()`

[2020-06-25 15:48] howardjohn opened #11753 "error message: "multiple filter chains with the same matching rules are defined" is hard to debug in large filters without context"
Its (unfortunately) not uncommon for us to run across bugs resulting in "multiple filter chains with the same matching rules are defined". These are pretty hard to debug when we have 100s of filter chains. It would be useful to get some sort of indication about which filter chain is duplicated, whether its the index of the filter chain or some other identifier.

[2020-06-25 16:03] mattklein123 commented on #6307
I guess we won't be able to clean this up until 1.16 so moving this out.

[2020-06-25 16:08] #11246 closed

[2020-06-25 16:13] jmarantz commented on #6307
agreed; we should bake with the default being real symbol tables, but the 'fakes' being available for a release first.

[2020-06-25 16:24] mattklein123 commented on #11752
I have seen similar issues as this recently. The TL/DR is that returning `NGHTTP2_ERR_CALLBACK_FAILURE` is a "fatal" error in nghttp2 and in some cases aborts normal frame processing.

We are going to work on cleaning up a bunch of this error handling logic once we remove exceptions from the codec. Thanks for filing this. cc @asraa @yanavlasov @antoniovicente @alyssawilk

[2020-06-25 17:48] #9174 closed

[2020-06-25 17:48] #11185 closed

[2020-06-25 17:58] jplevyak opened #11755 "Move the Envoy Wasm SDK into a separate repo from the envoyproxy/envoy?"
Post upstreaming, and when we snap a stable version 1, move the Envoy Wasm SDK to a separate repo in envoyproxy (similar to proxy-wasm-cpp-sdk and building on same).

[2020-06-25 18:23] christine-gong commented on #11743
@dio yeah, we are using Jaeger with zipkin tracer. Do you know which port are those stats exposed at?

[2020-06-25 19:00] abaptiste commented on #11738
This sounds like the filter itself would be responsible for generating/parsing the query data sent/received over the TLS connection.  Based on the presence of the `upstream_resolver_cluster`, it would switch between the built in resolver and a new one supporting TLS connections to DNS servers.

I think the cluster type should be static.  It seems odd to resolve a DNS server to then do subsequent q

[2020-06-25 19:08] lambdai commented on #11725
Good point!

Agree. An envoy connection wrapping socket pair with "connection attributes" and "connect()" solve the ephemeral port problem.
It solve everything except the overhead of bytes copy and the transport at next poll cycle.

[2020-06-25 19:15] lambdai commented on #11725
I see the challenges there. I cannot even close my virtual connection [at this moment](https://github.com/lambdai/envoy-dai/tree/hostconn) :(

[2020-06-25 20:36] zuercher opened #11758 "test flake in admission_control_integration_test"
[code]

[code]

I'm pretty sure the TSAN error is because the test was killed. I elided the other, very similar, stacks from every other log attempt made during the signal.

[2020-06-25 20:36] zuercher commented on #11758
cc @tonya11en

[2020-06-25 20:41] tonya11en commented on #11758
Looking at this right now. I'll give updates as I figure things out.

[2020-06-25 23:22] #6736 closed

[2020-06-25 23:44] ashwini-vasanth opened #11762 "Why are requests received from remote addresses in the private IP range always categorized as internal requests ?"
Description:

Envoy treats all requests received from remote addresses in the private IP address range, as internal requests.
The following code points to the logic:
https://github.com/envoyproxy/envoy/blob/master/source/common/http/conn_manager_utility.cc#L144
https://github.com/envoyproxy/envoy/blob/master/source/common/network/utility.cc#L267

Config:
Envoy is configured to append xff headers w

[2020-06-26 04:58] mk46 opened #11764 "example/ext_authz: INVALID_ARGUMENT:transport_api_version"
In https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/ext_authz, I have an issue with step 2.
Container front _envoy fails with below logs

`front-envoy_1             | [2020-06-26 04:28:38.684][6][info][main] [source/server/server.cc:296]   envoy.thrift_proxy.protocols: auto, binary, binary/non-strict, compact, twitter
front-envoy_1             | [2020-06-26 04:28:38.692][6][critical][ma

[2020-06-26 10:50] #11256 closed

[2020-06-26 11:33] dio commented on #11764
@mk46 sorry, mind sharing your `envoyproxy/envoy-dev:latest` version?

[code]

It seems like you need to re-pull the `envoy-dev:latest` image.

You can do:

[code]

or

[code]

[2020-06-26 11:38] perlun commented on #10154
Thanks @cpaika. I just happened to run into this again on Ubuntu 18.04, Envoy version as follows:

`envoy  version: 1a0363c885c2dbb1e48b03847dbd706d1ba43eba/1.14.2/clean-getenvoy-fbeeb15-envoy/RELEASE/BoringSSL`

The way I restarted Envoy was by `sudo systemctl reload envoy.service` or similar (triggered by Ansible). It gives me this error if I run it manually:

[code]

Envoy is launched via a `sy

[2020-06-26 11:50] #11238 closed

[2020-06-26 13:45] jmarantz commented on #11573
I'm considering making the zone-name a dynamic segment so we just avoid this issue and the huge refactor to keep zone->StatName maps available for all callers.

Switching to a dynamic segment is (for the impl) one-word change:
[code]

A future refactor could make it feasible to track a symbolic StatName for each zone through the call-sites but I think this makes sense for now. SG?

[2020-06-26 13:53] rgs1 commented on #11573
I like it -- I don't think introducing the zone --> StatName maps is worth the complexity at this point. If switching to a dynamic segment makes the lookups go away (at the expense of some allocations maybe -- not that it matters, not a hot path anyway), I think we should do it.

[2020-06-26 14:06] cpakulski commented on #10154
@perlun Thanks for this info. I will try to reproduce the crash using your scripts.

[2020-06-26 14:42] #11336 closed

[2020-06-26 15:03] cpakulski commented on #10154
@perlun Do you have a connection open to tap when you do hot-reload?

[2020-06-26 15:13] mattklein123 commented on #11762
It would be fine to make this configurable.

[2020-06-26 15:17] #11593 closed

[2020-06-26 15:23] ashwini-vasanth commented on #11762
Thanks @mattklein123  I will work on this from my end and share it as soon as I have something available.

[2020-06-26 15:28] mattklein123 opened #11767 "commnuity: develop stats deprecation policy"
Right now we do not have an explicit policy for how we deprecate and/or change stats. We should develop a policy that we can follow as we do with API and code deprecations.

[2020-06-26 15:28] mattklein123 commented on #11767
cc @envoyproxy/maintainers @jmarantz

[2020-06-26 15:30] #11623 closed

[2020-06-26 15:30] snowp commented on #3431
@mattklein123 Looking at the extension API it seems like it might be a bit tricky to use it for this purpose: it abstracts away how to provide a GenericConnPool from a *cluster name*, which means that it won't have access to the individual host until *after* we request a conn pool for it or access to the host -> conn pool map that is maintained in the TLS ClusterEntry.

In my mind we'd want this n

[2020-06-26 15:31] snowp commented on #11762
See https://github.com/envoyproxy/envoy/blob/master/api/envoy/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto#L166-L173 for some prior art for making this configurable

[2020-06-26 15:33] mattklein123 commented on #11635
Fixed

[2020-06-26 15:33] #11635 closed

[2020-06-26 15:34] mattklein123 commented on #3431
Yes, agreed. Can you work with @alyssawilk to evolve the extension API so it can work that way?

[2020-06-26 16:14] mk46 commented on #11764
@dio It's working. Thanks!

[2020-06-26 16:14] #11764 closed

[2020-06-26 16:49] fuqianggao commented on #11664
Thanks. Sure, I can update the doc. Just to clarify a few things
1. For original destination, although we use cluster_provided as lb_policy, we don't actually need to provide a specific lb algorithm, right?
2. For the doc, should it only reflect the latest (v3) settings, or should it cover both v2 and v3?

[2020-06-26 17:06] phlax commented on #11551
@dio i can PR to fix this in the container/image, can you reopen this ticket, otherwise i can open a new ticket

[2020-06-26 17:52] mattklein123 commented on #11664
1) Right
2) Only v3 is fine.

Thank you!

[2020-06-26 17:52] abaptiste commented on #10809
Sorry gents :(  Just seeing this.  Still getting the hang of this github thing.

[2020-06-26 18:05] gongcon opened #11774 "Help needed: http2 reset resolved by max_headers_count - should 431?"
What can be the causes of Envoy reseting a request in HTTP/2 connection? We have 2 levels of Envoy, L1 serves end user at the edge using HTTP/1.1 connections; L2 is the sidecar of actual service. L1 to L2 is connected via HTTP/2. We found that L2 recently has some `http2_tx_reset` which caused 503 in L1 responses. For these problematic responses, we do not see spans from L2, only see spans from L1

[2020-06-26 18:39] nikhilmuz opened #11776 "Missing CORS header despite allowing in config"
I have following config yaml file:
[code]
and when doing a curl outputs as below:
[code]
The issue here is missing ```Access-Control-Allow-Origin: *``` header despite attempting anything in the config file. I am not getting any clue to include the CORS header as I already included filter and allowed * as origin(Running docker image v1.14-latest for testing) The server log is as below:
[code]

[2020-06-26 20:17] ggreenway commented on #2066
I brought this up a few years ago as a potential issue, and at the time, no widely-used http client was sending a half-close after the request but before the response. I looked at several.  If that's changed, we may need to revisit this.

[2020-06-26 20:33] #11573 closed

[2020-06-27 01:51] dio commented on #11322
@hanahmily @wu-sheng to speak from experience. 🙂

[2020-06-27 02:56] #11758 closed

[2020-06-27 02:56] mattklein123 opened #11784 "LoadStatsIntegrationTest flake"
[code]

[2020-06-27 03:38] dio commented on #5209
@htuch Basically this is a generalization of ext_authz, but without doing any local response?

[2020-06-27 03:39] #11205 closed

[2020-06-27 17:50] snowp opened #11786 "Change in behavior of httpConnPoolForCluster"
After https://github.com/envoyproxy/envoy/pull/11435 the signature for httpConnPoolForCluster changed semantically, but due to implicit conversion between `Http::Protocol` and `absl::optional<Http::Protocol>` existing usages will compile just fine, but the meaning of the invocation will be slightly different. See https://github.com/envoyproxy/nighthawk/issues/388 for an example of this causing sur

[2020-06-27 22:15] #10619 closed

[2020-06-27 23:38] sumukhs opened #11789 "Feature: DNS filter support for SRV Records"
@abaptiste @mattklein123  - Do you think adding support for SRV records would be useful for the DNS filter ? When containers use well known ports, the A or AAAA DNS queries can identify their IP. However, with a dynamic port configuration, the port number is usually unknown and requires discovery through the SRV query.

If this makes sense, can we track the feature in this issue?

[2020-06-28 02:50] #11298 closed

[2020-06-28 02:55] #11506 closed

[2020-06-28 02:55] #11551 closed

[2020-06-28 02:59] mattklein123 commented on #11789
Yeah makes sense to me. I would also love to support SRV in envoy itself for service discovery. There is a long open issue here.

[2020-06-28 03:04] sumukhs opened #11790 "Question: gRPC API's timeout not considered?"
Any gRPC api's that get proxied via Envoy does not honor the grpc time out parameter in the header.

For example, If the timeout is 100 seconds from the client, envoy times out at the default 15 seconds value.
Wondering why gRPC requests do not honor the timeout specified in the call?

[2020-06-28 10:38] stepupit-work commented on #11533
@mk46 Thanks for your reply.

Can you share an example.

[2020-06-28 12:03] #11281 closed

[2020-06-28 13:03] #11236 closed

[2020-06-28 13:54] dio commented on #11776
Hum, could you try:

[code]
?

I'm not sure why the one in `grpc-web` repo uses `prefix`. Will check. Meanwhile, could you confirm that https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/cors works? Thanks!

[2020-06-28 14:18] nikhilmuz commented on #11776
@dio I have already tried that before creating this issue and thought to give it another try but no luck :( The cURL verbose output with the suggested configuration remains as below:
[code]

[2020-06-28 15:01] costinm commented on #11738
I personally don't think any setting should be 'static' - and in many cases they are 'dynamic' anyway, bootstrap can also be
a generated file. Just a more complex way to generate it, and an envoy restart involved in case of changes. We had some discussions of 'bootstrap over XDS'.

If the XDS server is resolved over plain text - there is a small privacy leak ( may matter if envoy runs on android,

[2020-06-28 15:57] #3585 closed

[2020-06-28 16:09] dio commented on #11776
I think you need to send the "Origin" header too. Probably in your request, `Origin: http://localhost:3000`. Sorry, I didn't pay attention to your request.

[code]

You can try using `docker-compose`-ready hello world example here: https://github.com/dio/grpc-web-hello

[2020-06-28 16:20] mattklein123 commented on #11786
@snowp sorry I'm not 100% following. Did we cause a regression such that we need to revert something? Can you maybe summarize the issue here?

[2020-06-28 16:22] mattklein123 commented on #11774
cc @alyssawilk

[2020-06-28 16:45] nikhilmuz commented on #11776
It worked after that, thanks very much for clarifying. But isn't there any option to permanently hardcode response header in the config? Actually gRPC-web repo framework by default send request likewise and I have just converted the request to cURL form while asking here. And I don't think to change the generated files or gRPC code to send a custom header is much feasible in my case. Any suggestio

[2020-06-28 16:53] dio commented on #11776
AFAIK, Origin header is mandated by CORS spec, especially for non-preflight requests.

[2020-06-28 16:57] hnataraj commented on #6110
Yes, GRPC streaming of taps is highly desirable. Is this on the radar?

[2020-06-28 18:24] snowp commented on #11786
I think there's a regression in the TCP over HTTP case: previously the semantics of `httpConnPoolForCluster` meant that we were always selecting HTTP/2, now it's specifying that the downstream protocol is HTTP/2, which means that it would only resolve to HTTP/2 if regular HTTP protocol selection resolves to HTTP/2 /w downstream protocol being HTTP/2.

We can fix this but the bigger question imo is

[2020-06-28 19:06] nikhilmuz commented on #11776
Weird!!! If it's the case so Google must be including it in their library because gRPC works in non-preflight mode only. Anyway, isn't it's somehow possible to hardcode headers on envoy level without using and additional NGINX or Apache as proxy server?

[2020-06-28 21:37] dio commented on #11776
Weird? Have you looked at how the client be constructed in the examples dir?

1. Helloworld service: https://github.com/grpc/grpc-web/blob/74ea9b3b2af0c88492f4d86882e84dfdb58b0d2c/net/grpc/gateway/examples/helloworld/client.js#L23
2. Echo service: https://github.com/grpc/grpc-web/blob/74ea9b3b2af0c88492f4d86882e84dfdb58b0d2c/net/grpc/gateway/examples/echo/ts-example/client.ts#L169

[2020-06-28 22:07] nikhilmuz commented on #11776
I have referred there only and integrated in my react app as per below snippet:
[code]
But while running this in browser I was getting CORS issue in console and then I extracted actual request from browser developer tool as cURL to analyse. I then wrapped envoy in Apache and set hardcoded header and it worked. I am using the gRPC library as is from npm.

[2020-06-28 23:26] mattklein123 commented on #11786
Sorry for being dense but from looking at #11435 it's not clear to me what broke here. It seems like passing a downstream protocol would create an optional with a value and do the same thing? Or you are saying that just passing something is different in behavior than what happened previously? Can you provide more explicit detail?

Historically we have not had API stability, but this seems like a p

[2020-06-28 23:33] #11595 closed

[2020-06-28 23:43] snowp commented on #11786
The problem is that the old signature had the caller pass the resolved, actual protocol to use, vs now we pass an optional downstream protocol and perform the protocol resolution. The tcp_proxy code was written to say "always use HTTP/2", but now it's saying "resolve the protocol with HTTP/2 as the downstream protocol". This means that if anyone was using TCP over HTTP/2 with a cluster that would

[2020-06-29 01:27] htuch commented on #5209
@dio I think in its most general form, all the filter operations, e.g. for HTTP the decode and encode, headers/body/trailers, could be offloaded as desired to some remote gRPC endpoint. If we can define an API for this that accommodates this, I think we could start with something closer to ext_authz, which might just do `decodeHeaders` for MVP and then expand out the set of ops. It's up to whoever

[2020-06-29 02:28] ErikXu commented on #4613
@vbuciuc Works for me. But the `filterName` in `dynamicMetadata:set(filterName, key, value)` confuses me. I have my own http filter named my-filter. Which name should I use, my-filter, my-filter.lua or envoy.filters.http.lua? In addition, is the data stored in a lua file?

[2020-06-29 07:02] perlun commented on #10154
Nope, this happens without any active tap connections (or rather: any _known_ tap connections. :wink:)

[2020-06-29 08:44] mk46 commented on #11533
In https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/front_proxy, at step 4.
Below links will help you to get more details.
- https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/overview
- https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/load_balancers

[2020-06-29 11:01] nezdolik commented on #11790
@sumukhs make sure that you have `max_grpc_timeout` configured: https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-field-config-route-v3-routeaction-timeout, otherwise grpc-timeout header would not be considered.

[2020-06-29 12:27] magederek commented on #10926
This is really a problem as we use envoy as the ingress proxy in a large kubernetes cluster. Thousands of endpoints are registered to envoy so the statistics of them are so many, make it takes too much time for prometheus to pull all the metrics. We use the 'filter' parameter to filter the statistics on the envoy side so that it can lower the duration of pulling.

However, the value of request que

[2020-06-29 13:02] alyssawilk commented on #11767
not sure how it is at other companies, but in the past I've seen stats migrations as much harder than API or (most) behavioral changes.
I think if something would no longer be incremented (e.g. retries due to request streaming) removing is not a big deal, but renames are a total pain.  I'd lean towards "don't touch unless necessary" (e.g. the websocket stat which is now commented as applying to al

[2020-06-29 14:53] mattklein123 commented on #11767
In general I agree with https://github.com/envoyproxy/envoy/issues/11767#issuecomment-651105752. In a perfect world we would allow some wiggle room for maintainer judgement for stats that we don't think are very likely to be actively monitored, but if we want a blanket policy I think it needs to be similar to the API policy as @alyssawilk mentions.

[2020-06-29 14:56] alyssawilk commented on #11767
Certainly we can exempt things in alpha and things which have landed quite recently O(week).

[2020-06-29 15:14] sumukhs commented on #11790
Thanks @nezdolik . I'll try that out

[2020-06-29 15:48] antoniovicente commented on #11720
The only real use of this function seems to be at source/common/network/transport_socket_options_impl.cc, where it seems to be used to compute some kind of fingerprint.  It may make sense to call djb2CaseInsensitiveHash directly and delete CaseInsensitiveHash to avoid use in containers.

[2020-06-29 15:51] jmarantz opened #11799 "stats: need mechanism for finding a stat by name in production code"
In reviewing https://github.com/envoyproxy/nighthawk/pull/390 I realize that we have no great way to robustly look up a stat by name in production code, other than in the context of the code that created it.

One scenario I have in mind is from https://github.com/envoyproxy/nighthawk/pull/390 where we are using config to identify a gauge name to compute an injected delay for a test server. But was

[2020-06-29 15:51] jmarantz commented on #11799
@oschaaf @mattklein123 @snowp

[2020-06-29 16:01] mattklein123 commented on #11720
This use also doesn't require stability across restarts, so we could just outright migrate to absl::Hash at the same time if that makes more sense.

[2020-06-29 16:16] alyssawilk commented on #11774
Hmmm, unfortunately that stat is incremented where nghttp2 sends the stream reset, not where Envoy rejects the request.  That means the instructions for debugging Envoy replies (https://www.envoyproxy.io/docs/envoy/latest/faq/debugging/why_is_envoy_sending_internal_responses) are not really going to help you.

The likely root cause is that nghttp2 is a bit more spec compliant than http_parser so s

[2020-06-29 17:09] mattklein123 commented on #11786
OK thanks for the explanation. I think I understand now. Agree this is not great and we should probably fix this is if there is a simple way to do so. @alyssawilk any thoughts here?

[2020-06-29 17:13] gongcon commented on #11774
Thanks @alyssawilk for the help. We're currently running version 1.12.0, not the latest but not very old either -- please instruct.

Debugging it may be quite difficult for us. The error rate is about 0.01%, and the service has 2-4k rps. Enabling one single node in debug mode may not catch the issue, also the huge amount of logs will overwhelm the log server.

[2020-06-29 17:16] mattklein123 opened #11801 "IpVersions/Http2FloodMitigationTest.RST_STREAM flake"
[code]

[2020-06-29 17:17] mattklein123 commented on #11801
cc @yanavlasov @alyssawilk @antoniovicente I've seen this a few times recently.

[2020-06-29 17:42] alyssawilk commented on #11774
yeah, I was worried about that w.r.t. the log rates in production.  Argh.

Are you running 1.12.0 or the CVE release?  I think if you're running 1.12.2 you've got most of the consistency checks.

Do the access logs on the 5xx requests get you anything interesting we could use as breadcrumbs?  I really do want to do detailed errors for nghttp2 stream resets the way we have for in-envoy responses, b

[2020-06-29 17:44] sqkerner opened #11802 "Building a fuzz test with coverage fails with error `relocation R_X86_64_PC32 out of range`"
I want to build test `//test/extensions/filters/http/common/fuzz:filter_fuzz_test_with_libfuzzer` with coverage, so that I can see the coverage of a fuzz corpus.

In a git client with no changes:
[code]

## Idea 1: compile with -fPIC ##

The error `relocation R_X86_64_PC32 out of range` is normally dealt with by compiling code in a position independent way.   Adding the flag `--force_pic` to the `

[2020-06-29 17:50] alyssawilk commented on #11786
Given TCP over HTTP/1 isn't supported, can we detect it early enough to just fail if someone specifies that configuration?  Given all the tunneling stuff is new, I think we can get away with tweaking config validation if it's plausible programmatically.

[2020-06-29 18:02] snowp commented on #11786
I think that's definitely an option, though it would prevent people from using the same cluster for TCP over HTTP/2 + regular HTTP proxying (no clue if this is a valid use case). If we pass `absl::nullopt` it should always use HTTP/2 as long as `http2_protocol_options` is set, so maybe that's enough?

Not sure if we want to do anything wrt making sure that external use cases don't accidentally pic

[2020-06-29 18:08] gongcon commented on #11774
We are running 1.12.0.

Just updated the connection between L1 and L2 to HTTP/1.1 and the problem is still there. Seems it's not related to HTTP/2. The difference between L1 and L2 is HTTPS is terminated in L1.

[2020-06-29 18:12] alyssawilk commented on #11774
So the L2 rejects over HTTP/1.1?  That's both surprising and promising if you're seeing the errors reflected in http1 stats you could turn up details in the access logs (in the link above) and see what it's telling you.

[2020-06-29 18:13] jplevyak commented on #7957
@lizan we need this before upstreaming.

[2020-06-29 18:21] alyssawilk commented on #11801
failing on any particular build?  traditional deflake instructions aren't getting me anything on a pretty recent build.

bazel test //test/integration:http2_integration_test --runs_per_test=3000 --test_arg=--gtest_filter=IpVersions/Http2FloodMitigationTest.RST_STREAM/IPv6 --jobs=100 --local_ram_resources=1000000000 --local_cpu_resources=1000000000

Given that we could either sprinkle logs to get a

[2020-06-29 18:28] mattklein123 commented on #11801
@alyssawilk I've seen it a bunch on TSAN. It must be a timing issue on that build.

[2020-06-29 18:28] gongcon commented on #11774
We turned on access log yet didn't see those problematic requests show up. Does including `%RESPONSE_CODE_DETAILS%` help in this case? As mentioned earlier, Envoy doesn't send tracing spans when this error occurs either.

[2020-06-29 18:37] gongcon commented on #11774
Sorry, posted too early. Do catch some requests with response_flags DPE. Will add %RESPONSE_CODE_DETAILS% and update you later.

[2020-06-29 19:47] antoniovicente opened #11804 "build: Disable c++20 designator syntax in clang builds"
Split from: https://github.com/envoyproxy/envoy/pull/11316#issuecomment-642675562

C99 style struct designator syntax is not part of the c++17 standard.  We should consider flipping compiler flags to disable its usage and prevent breakage under compilers other than clang.

Some combination of the following flags should do the trick:
-Wc99-designator
-Wc99-extensions
-Wc++20-designator (may require

[2020-06-29 19:59] reliveyy commented on #11582
Hi, there

I'm new to envoy. I noticed that there are two `tls_context` sections in envoy.yaml.

The first one (in **listeners**):

[code]

The second one (in **clusters**):

[code]

**Question 1**

Does these two `tls_context`s act like the the graph drawn below?

[code]

**Question 2**
I configured transport_socket for clusters (no tls_context in listeners) but I got the error in grpc-web client

[2020-06-29 20:09] alyssawilk commented on #11801
ugh, can't repro with --config=clang-tsan either.  I'll work on making the tcp client read and write not infinite hang if things fail.  Leaving as unassigned as Antonio/Yan might have ideas of what if anything changed regarding code.

[2020-06-29 20:35] rshriram commented on #11738
thats how it works today

[2020-06-29 21:32] gongcon commented on #11774
I must be watching stats in another region after changed the protocol to HTTP/1.1. Here's my current observations:
* No rx_reset and no downstream 5xx in L1 Envoy when using HTTP/1.1 to communicate with L2, yet see "response_flags:DPE" and empty response_code_detail in access log.
* See rx_reset and downstream 5xx in L1 Envoy when using HTTP/2. However, no "response_flags:DPE" in access log at all

[2020-06-29 21:36] stevenzzzz commented on #11674
PR #11739 made an improvement on returning a Cleanup instance which resumes the paused resources on destruction.
This work well with most of the callsites in our codebase, i.e., the pause/resume happens in pair in a single main thread dispatcher event.
The only exception is in ClusterManagerImpl::updateClusterCount, this method is called by multiple functions in cluster manager impl, and the pause

[2020-06-29 21:44] dio commented on #11522
cc. @fpliu233

[2020-06-29 21:51] ggreenway commented on #11767
The policy should also address prometheus stats, and the default tag extractors.

For instance, I just noticed that the `worker` is not extracted as desired, so there are the following stats defined, when the worker should be a tag. Fixing this is simply adjusting a regex, but there are backwards compatibility issues.

[code]

[2020-06-29 22:13] gvwirth opened #11809 ""mode" setting on config.core.v3.Pipe has no apparent effect"
Hello,

We're setting up a Listener to use a unix socket, and are attempting to set the mode of the pipes to (octal) 666. We've set this config on the listener (this is copy/pasted from a config dump via the admin web interface):

      "listener": {
       "@type": "type.googleapis.com/envoy.config.listener.v3.Listener",
       "name": "listener_http",
       "address": {
        "pipe": {

[2020-06-29 22:55] htuch commented on #11264
As an update, the proposal is now plan-of-record. The core protos have landed in https://github.com/cncf/udpa/tree/master/udpa/core/v1. I'm currently in the process of landing some URI encode/decode utilities and plumbing in the new locators/names across the API surface to enable the first steps of the roadmap.

[2020-06-29 23:21] #11443 closed

[2020-06-30 00:55] rgs1 opened #11811 "extend route's hashing policy to support hashing on a regex substitution"
Currently, the hash policy for a route supports hashing on a header's entire value:

https://github.com/envoyproxy/envoy/blob/master/api/envoy/config/route/v3/route_components.proto#L609

We have a use case in which we'd like to hash on a regex substitution on `:path` (e.g.: to extract a given id).

There's two options I can think of:

1) add support for hashing on a metadata key (reusing what was

[2020-06-30 01:01] yanavlasov commented on #11809
This is potentially a bug. I think in some cases the `mode` specified by configuration is ignored. However I'm unsure if this covers your case.
Would you be able to provide smallest configuration that recreates the problem, please?

[2020-06-30 02:28] yanavlasov commented on #11801
No ideas at this point. I'll poke at it.

[2020-06-30 08:10] erikbos commented on #9049
@Pchelolo FYI

[2020-06-30 12:41] Ccaomei opened #11814 "Compile error"
When I compiled the source code of Envoy, I encountered this error. I had installed Autoconf and Automake and still reported this error. Please help me check the problem.My error report is as follows:

bazel build //source/exe:envoy-static  --verbose_failures
WARNING: The following rc files are no longer being read, please transfer their contents or import their path into one of the standard rc fi

[2020-06-30 13:02] dio commented on #11814
Seems like it is a fetching problem due to network (or cache) error.

Two relevant lines:

1. I can see you did this behind a proxy. Check on that?
2. `bazel clean --expunge` before runnning `bazel build` again, just in case the cache is broken.

[2020-06-30 13:28] htuch commented on #11811
I think hashing on a match group result (i.e. (2)) sounds reasonable, it seems this capability would be generally useful, e.g. extracting out some structured information from a header to hash on.

[2020-06-30 13:34] ramaraochavali commented on #11738
/assign ramaraochavali

[2020-06-30 13:34] ramaraochavali commented on #11738
I will work on this

[2020-06-30 14:23] vinzo99 opened #11815 "aggregate cluster extension failover not working as expected"
Title: aggregate cluster extension failover not working as expected

Description:

To feature IPv4/IPv6 dual stack support, Envoy's aggregate cluster functionality is used, so that the traffic can go through either the IPv4 or IPv6 networks, where the priority is defined using a cm-configurable option where we can set the preferred IP-version network.

The normal scenario works as expected, where

[2020-06-30 14:42] Pchelolo commented on #11595
FYI: opened https://github.com/envoyproxy/ratelimit/issues/152 as a requirement to support this in the ratelimit service

[2020-06-30 14:47] Anonymous-Coward commented on #11619
It took a long while to reconfigure a cluster to allow for tcp dumps on all relevant pods, but after I was able to get tcp dumps I found envoy not to be the culprit. Some intermediate node behind already sends out the response truncated, so envoy has no way of sending out an un-truncated response.

I also wrote two small applications, client and server, where the client always sends out close_noti

[2020-06-30 14:59] htuch opened #11816 "Remove curl as an Envoy dependency"
Currently we depend on `libcurl` for URL fetching in AWS extension common utils https://github.com/envoyproxy/envoy/blob/89d6c6c6fa202aa7a01e85d2d887b56c8a3268ad/source/extensions/common/aws/utility.cc#L97 and I think OpenCensus (@g-easy can you confirm?)

The use of curl is largely redundant, since Envoy itself can do HTTP fetch. In addition, Curl does not have a compatible threading and observab

[2020-06-30 15:22] mattklein123 commented on #11816
+1 for removal. I was against adding in the first place.

[2020-06-30 15:22] mattklein123 commented on #11619
Thanks for the follow up!

[2020-06-30 15:22] #11619 closed

[2020-06-30 15:24] asraa commented on #11802
Can we use `linkstatic = envoy_linkstatic()` for the targets in `envoy_test.bzl`?

[2020-06-30 15:24] mattklein123 commented on #11811
+1 on a regex hash on a header.

[2020-06-30 15:27] rgs1 commented on #11811
Ok, I'll send a PR in a bit.

[2020-06-30 15:36] mattklein123 commented on #11799
@jmarantz sorry not 100% following. Can you describe the use case?

[2020-06-30 15:45] jmarantz commented on #11799
Filter A defines a gauge.
Filter B can be configured to change its behavior based on some arbitrary gauge defined elsewhere in the code, and all we have is a string name for the gauge.

Currently there is no convenient robust mechanism to look up an existing gauge by name, that works for names that may have dynamic components.

[2020-06-30 15:48] mattklein123 commented on #11799
Ah I see. OK makes sense.

[2020-06-30 16:18] snowp commented on #11815
I don't see any health checking config - how are you expecting Envoy to notice that the first endpoint is unreachable? There might be something else going on here.

Mind including the output of the `/clusters` admin endpoint and the cluster stats for the clusters involved here?

[2020-06-30 16:28] TuvaevAndrey opened #11821 "ext_authz: unable to configure balacing within grpc cluster"
_Description_:
I'm using envoy:v1.12.3 with [ext_authz](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/ext_authz_filter#config-http-filters-ext-authzhttps://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/ext_authz_filter#config-http-filters-ext-authz) filter. I want to configure load balancing subsets within my grpc cluster. In accordance with doc

[2020-06-30 17:14] moderation commented on #11816
+1 for removal

[2020-06-30 17:41] gvwirth commented on #11809
[Archive.zip](https://github.com/envoyproxy/envoy/files/4853577/Archive.zip)
Here is a config that reproduces the issue. Thank you for looking into this and please let us know if there is more information we can provide.

[2020-06-30 18:08] lambdai commented on #11725
I have an end2end demo showing that we can chain HCM and TcpProxy not through a OS fd. Actually it saves 2 fd. See C2 and C3 above.

https://github.com/lambdai/envoy-dai/tree/hostconn

[2020-06-30 18:18] gongcon commented on #11774
Just tried 1.12.4 and the problem persists.

[2020-06-30 18:33] cpakulski commented on #11065
Work in progress.

[2020-06-30 19:09] #11305 closed

[2020-06-30 20:06] mattklein123 commented on #11801
This is a failure from a coverage build which I assume is a similar issue:
[code]

[2020-06-30 20:33] wrowe opened #11825 "Replace std::unordered_map with absl::node_hash_map?"
In a number of places throughout the test code, and likely also in user's anticipated behavior of Envoy, it seems that the unordered nature of an unordered map has been ignored. The results are compared to constant strings where the resulting iteration is predicted, and this does not conform to stdc++ unordered map's definition.

For examples, two secrets are documented in an expected list of secr

[2020-06-30 22:21] antoniovicente commented on #11804
Enabling -Wc++20-extensions on clang builds detects the issue in #11316

We do use some C++17 extensions in the code, so enabling that version of the warning wouldn't work:

In file included from source/common/http/path_utility.cc:1:
In file included from bazel-out/k8-fastbuild/bin/source/common/http/_virtual_includes/path_utility_lib/common/http/path_utility.h:3:
bazel-out/k8-fastbuild/bin/includ

[2020-06-30 22:34] antoniovicente commented on #11804
/assign @antoniovicente

[2020-06-30 22:46] antoniovicente commented on #11825
Utilities like ::testing::UnorderedElementsAre may help with test ordering issues.  If the problem is non-determinism in string representations created for the benefit of humans, it may make sense to sort those containers while generating the string representation.  There is some precedent for sorting while generating string representation in the admin interface.

https://github.com/envoyproxy/env

[2020-06-30 23:02] mattklein123 commented on #11825
One option here would be to bulk migrate from unordered_map to absl::node_hash_map. This should be compatible in all cases, and we can then block unordered_map via format check. This will force the issue and the solutions that @antoniovicente outlines.

[2020-06-30 23:39] ggreenway commented on #7599
I'm hoping to fix this sometime in the next month or so.

My initial idea for how to configure it is to allow specifying a `repeated` message similar to the following in the bootstrap `stats_config`:

[code]

[2020-06-30 23:44] davinci26 opened #11829 "Setting event priorities to work around level based events"
#### Description

Currently Windows does not support edge based events. As a result we rely on level based events which causes various issues.

For example in testlist [//test/common/network:connection_impl_test](https://github.com/envoyproxy/envoy/blob/master/test/common/network/connection_impl_test.cc#L1289) `FlushWriteAndDelayCloseTimerTriggerTest` the scenario that depends on setting a `setDel

[2020-07-01 00:06] #11743 closed

[2020-07-01 00:09] mattklein123 commented on #11829
cc @antoniovicente to advise. My general preference would be to not make things more complicated for the rest of the system because windows doesn't support edge triggered, so would love to see if we can keep this within the windows code until windows does support edge triggered.

[2020-07-01 00:23] antoniovicente commented on #11829
I'm wondering is the actual problem is ConnectionImpl::onWriteReady() pushing back the delayed_close_timer_ on every out event processed even in cases where onWriteReady didn't make forward progress.

I'm not sure that the addition of priorities would help and I'm worried that it would open up a big can of worms.  I guess we could use a high priority for all timers so timers always run before fd e

[2020-07-01 00:28] davinci26 commented on #11829
Makes sense to me

That is my understanding of the problem. You can also replicate the issue by setting the event as level on Unix

I did a quick and dirty implementation using priorities and the particular scenario worked. I did not go through seeing how this would work throughout Envoy as I felt this was a "risky" change and I wanted feedback before implementing it. Would any particular tests or

[2020-07-01 00:28] antoniovicente commented on #11829
See if this patch helps:

$ git diff
diff --git a/source/common/network/connection_impl.cc b/source/common/network/connection_impl.cc
index 649e8057d..1dc3c0151 100644
--- a/source/common/network/connection_impl.cc
+++ b/source/common/network/connection_impl.cc
@@ -653,7 +653,7 @@ void ConnectionImpl::onWriteReady() {
     }
   } else {
     ASSERT(result.action_ == PostIoAction::KeepOpen);
\-

[2020-07-01 00:36] davinci26 commented on #11829
Thanks for the suggestion, I just tried it out and it does not seem to fix the issue.

[2020-07-01 01:23] Ccaomei commented on #11814
Sorry, I don't think this is an Error. The first thing that should be addressed is "Error applying patch command./autogen.sh:
Configure. Ac :172: error: possibly undefined macro: AC_PROG_LIBTOOL
Legitimate, please use m4_pattern_allow If this Token and others are legitimate.
See the Autoconf documentation.
Autoreconf: / home/weilh/envoy_source/third_package/autoconf/install/bin/autoconf failed wit

[2020-07-01 01:54] yangminzhu opened #11832 "Proposal: Unified Matching in Access Control"
The design (https://shorturl.at/gkrM3) proposes to introduce a unified matching API for ext_authz and RBAC filter in order to support many complex access control scenarios and also simplify the matching code in Envoy.

This allows to support the following feature requests:
- ext_authz config per virtual host: https://github.com/envoyproxy/envoy/issues/11522
- rbac: support mixing allow/deny polici

[2020-07-01 02:53] ashwini-vasanth commented on #11762
Thank you for the pointer @snowp Sorry, I missed this update earlier.

[2020-07-01 04:01] dio commented on #11814
OK. That particular error is related to missing `libtool`. Have you followed this https://github.com/envoyproxy/envoy/blob/master/bazel/README.md#quick-start-bazel-build-for-developers especially the installing deps part?

[2020-07-01 04:49] gituserjava opened #11834 "with_request_body in ExtAuth sent to OPA"
If we specify `with_request_body` in ExtAuth in envoy.yaml with `max_request_bytes`, will the body be sent to OPA server? If yes, how can we log or see that body in OPA logs?

My assumption is if we do not specify `with_request_body`, the body will not be sent to OPA. Is that correct?

[2020-07-01 04:58] antoniovicente commented on #11829
I think the use of priorities would serve as a work around for this specific test, but not address the underlying issue.  Real fd Write events which are delivered in LEVEL mode past the point of the final flush refreshing the delayed close timer forever, resulting in a leak of server connections if delayed write timeouts are configured.  Not resetting the timer in cases where doWrite did no useful

[2020-07-01 05:06] g-easy commented on #11816
Yes, OpenCensus uses curl in its zipkin exporter (to push traces to zipkin).

[2020-07-01 05:24] kyessenov commented on #11816
Having an indirect networking API instead of curl in libraries would also help compiling them to Wasm binaries for sandboxing. The API would be implemented via Wasm ABI.

[2020-07-01 06:42] #11804 closed

[2020-07-01 09:11] nezdolik commented on #10119
This has been fixed in https://github.com/envoyproxy/envoy/pull/11331

[2020-07-01 12:12] mk46 opened #11836 "example/cors: Front envoy service unable to start in frontend and backend"
Front envoy fails on both frontend and backend with the same log given below.

`front-envoy_1       | [2020-07-01 11:36:32.046][8][critical][main] [source/server/server.cc:101] error initializing configuration '/etc/front-en
voy.yaml': unable to open file '/var/log/access.log': Permission denied
front-envoy_1       | [2020-07-01 11:36:32.047][8][info][main] [source/server/server.cc:704] exiting
fr

[2020-07-01 12:28] dio commented on #11836
Have you tried to re-pull the images again? Since this https://github.com/envoyproxy/envoy/commit/504d78bac735e03e733adea6475d31702334e5e4 commit should fix that.

[2020-07-01 12:29] dio commented on #11836
Seems like the example needs to run as `docker-compose build --pull` so the base images will be re-pulled.

[2020-07-01 12:40] mk46 commented on #11836
@dio sorry, I think the issue is due to running envoy without root.

[2020-07-01 12:50] i0rek opened #11838 "Docker image for 1.12.5 is missing"
Hello,

thank you very much for maintaining envoy! I noticed that the docker image for envoy 1.12.5 is missing and I was wondering if that is known already.

Thanks!

[2020-07-01 12:52] #10119 closed

[2020-07-01 13:44] alyssawilk opened #11841 "cx_limit_integration_test flakes"
2020-07-01T13:04:39.4991615Z [ RUN      ] IpVersions/ConnectionLimitIntegrationTest.TestBothLimits/IPv4
2020-07-01T13:04:39.4992248Z test/integration/cx_limit_integration_test.cc:74: Failure
2020-07-01T13:04:39.4993196Z Value of: fake_upstreams_[0]->waitForRawConnection(raw_conns.back())
2020-07-01T13:04:39.4994095Z   Actual: false (Timed out waiting for raw connection)
2020-07-01T13:04:39.4994618

[2020-07-01 13:44] mk46 commented on #11838
@i0rek Hi, I think envoy 1.12.5 is changed to 1.12-latest. Please check https://hub.docker.com/r/envoyproxy/envoy/tags for more details.

[2020-07-01 13:44] alyssawilk commented on #11841
Fails consistently on windows too.  have a PR out for that just to get windows CI green

[2020-07-01 13:48] i0rek commented on #11838
`v1.12-lastest` was updated 23 days ago, I don't think that is the version that was released yesterday. Thanks for helping though!

[2020-07-01 14:12] sunjayBhatia commented on #11825
Yep, we're experimenting with that and also the protobuf `MessageDifferencer` to compare proto messages with repeated fields. The `MessageDifferencer::TreatAsSet` is useful for comparing repeated fields have the same unordered contents.

[2020-07-01 14:27] alyssawilk commented on #11841
I'm wondering if there's a race, where the client picks up the disconnect before the server decrements the overload counter, so the next  connection fails.  If so I'm not sure if there's any counters we should explicitly wait for, or if we just try connecting until one gets through?   cc @tonya11en

[2020-07-01 14:42] sunjayBhatia commented on #11825
On the switch to `absl::node_hash_map`, per https://abseil.io/docs/cpp/guides/container#recommendation-1 we could prefer new code that doesn't rely on pointer stability to use `absl::flat_hash_map`, but yeah as per the docs it is safest to switch to `absl::node_hash_map` immediately, though there may be existing places we can assert we don't need pointer stability and can prefer `absl::flat_hash_m

[2020-07-01 14:44] sunjayBhatia commented on #11825
Yeah, anything like this that doesn't have tests ensuring ordering seems like it should.

[2020-07-01 14:51] antoniovicente commented on #11829
After thinking about this some more, I realized that there is an inconsistency in behavior of real timers and simulated timers.  SimulatedTimeSystem::setMonotonicTime adds expired timers directly to the work list, so they end up executing before fd events in the event loop.  Real timers execute after fd events.  I think that the PR that made this test start misbehaving on Windows was the fix to so

[2020-07-01 14:53] alyssawilk commented on #11841
Another failure on ASAN

2020-07-01T14:08:07.8198111Z [ RUN      ] IpVersions/ConnectionLimitIntegrationTest.TestGlobalLimit/IPv4
2020-07-01T14:08:07.8198489Z test/integration/cx_limit_integration_test.cc:69: Failure
2020-07-01T14:08:07.8198946Z Value of: raw_conns.front()->close()
2020-07-01T14:08:07.8199350Z   Actual: false (The connection disconnected unexpectedly, and allow_unexpected_disconne

[2020-07-01 15:30] htuch commented on #11816
@g-easy would it be possible to modify the Zipkin exporter to work with some more generic HTTP interface that Envoy can supply?

[2020-07-01 15:49] alyssawilk commented on #11786
hm, I definitely thing we want to get something in before we cut the release - ping me on slack today and let's sort out a plan?

[2020-07-01 15:54] yanavlasov commented on #11836
@phlax is it related to unrooting docker images?

[2020-07-01 16:03] phlax commented on #11836
yep @mk46 's PR will fix the problem in the example - by setting the logging to /dev/stdout.

Im thinking we should add a doc on setting permissions for file logging.

Im also wondering what the default logging target is

[2020-07-01 16:07] yanavlasov commented on #11834
According to docs the buffered body is sent to the authorization service when `with_request_body` is specified. See https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/ext_authz/v3/ext_authz.proto.html?highlight=with_request_body It will not be sent otherwise

Not sure about logging, though.

[2020-07-01 16:12] dio commented on #11836
I would argue, the best practice on logging inside a container is through stdout and stderr.

Some references:

1. https://www.datadoghq.com/blog/docker-logging/
2. https://platform9.com/blog/kubernetes-logging-best-practices/
3. https://timber.io/blog/collecting-application-logs-on-kubernetes/

[2020-07-01 16:13] clarakosi opened #11849 "Proposal: Add a default value to ratelimit dynamic_metadata action"
**Description**: We recently added dynamic_metadata action (issue #11593) that gets descriptor information from the metadata. As currently built the dynamic_metadata action looks for information in the dynamic metadata and if isn’t there it stops and does not build the descriptor. We now realize there may be instances where the information isn’t there because of the failure of another filter, it n

[2020-07-01 16:14] phlax commented on #11836
i couldnt agree more - but there are times/reasons that someone would want to log to a file.

In this case, if we dont document the right way to log to a file, they will probably set `ENVOY_UID`=`0` as a workaround

[2020-07-01 16:16] phlax commented on #11836
...also, that was partly the reason i was asking about the default logging target - because in a container it *should* be `/dev/stdout` etc

[2020-07-01 16:17] phlax commented on #11836
checking my dev configs - i think it is `/dev/stdout` as i havent set it and that is what it does

[2020-07-01 16:18] dio commented on #11836
@phlax feel free to submit a PR on documenting that further 🙂. Thanks!

[2020-07-01 16:26] dio commented on #11834
@gituserjava for OPA I think you can follow this example: https://www.openpolicyagent.org/docs/latest/envoy-authorization/. Looking at that, if you activate the plugin. The request body will be:

[code]

And that will be "string" (https://www.envoyproxy.io/docs/envoy/latest/api-v3/service/auth/v3/attribute_context.proto#envoy-v3-api-field-service-auth-v3-attributecontext-httprequest-body).

[2020-07-01 16:37] mattklein123 commented on #11849
Makes sense to me, thank you.

[2020-07-01 17:02] antoniovicente opened #11851 "test: IntegrationStreamDecoder wait operations will timeout if the wrong event triggers."
While making some local changes to debug apparent flakiness of //test/integration:tcp_tunneling_integration_test, I noticed that setting too small of a stream timeout in some of the test cases would result in the test never finishing.

The issue is that calls to IntegrationStreamDecoder::waitForBodyData never complete if the stream is reset because the dispatcher_.exit() call in IntegrationStreamD

[2020-07-01 17:06] davinci26 commented on #11829
Thanks for the answers, all of them make sense to me.

My understanding is that it will be in the future but we would have to work with level based events for some time.

This part of the code (before then patch) also does **not** work due to the level based triggers. In this case the timeout event gets activated before the read event. As a result `readDisable(false)` does not trigger a read.

I c

[2020-07-01 17:09] abaptiste commented on #11789
/assign abaptiste

[2020-07-01 17:09] rshriram commented on #11832
@yangminzhu if we have the metadata matcher in ext authz that matches based on all the attributes, then we no longer have to worry about ext authz per host or even per filter metadata for ext authz right? Like RBAC, we could have a rich set of conditions that will decide whether or not the ext authz should kick in (these conditions will include attributes like the virtual host, other http headers,

[2020-07-01 17:10] abaptiste commented on #11789
@mattklein123 Can you assign this to me, please?  I'll start working on this.

[2020-07-01 17:25] antoniovicente commented on #11829
It would be good to know what change made the test start failing.  I'm guessing it was #11563 which fixed an issue with simulated timer re-scheduling.

[2020-07-01 17:36] gongcon commented on #11774
Another question is, how can the requests pass validation in L1 and fail in L2?

[2020-07-01 17:39] moderation commented on #11816
As per https://github.com/envoyproxy/envoy/issues/9958 at some point OpenCensus should be replaced by the new OpenTracing + OpenCensus project called OpenTelemetry. One would hope that OpenTelemetry doesn't require curl

[2020-07-01 19:08] ajoysinha opened #11855 "Installation of EnvoyFilter on istio-syatem [ for OPA implementation ] is returning 502 error"
We have following architecture implemented in our AWS eks cluster with ISTIO and OPA

client --> ingress controller --> istio proxy --> OPA-istio --> microservice.

Now, during opa-istio installtion if we install EnvoyFilter application is not reaching and it is giving 502 error.

This error is holding our progress in a full stop.

but if we delete EnvoyFilter application is reachable and respondi

[2020-07-01 19:09] #11836 closed

[2020-07-01 19:32] yangminzhu commented on #11832
@rshriram  Yes, the proposal adds full matching support to the ext_authz as we already have in RBAC, which allows a much flexible way in configuring the ext_authz to be based on many different conditions (path, header, JWT, x509, source IP, etc.)

[2020-07-01 20:15] alyssawilk commented on #11784
also
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/43751/logs/31

2020-07-01T18:50:30.2092982Z [ RUN      ] IpVersionsClientType/LoadStatsIntegrationTest.InProgress/0
2020-07-01T18:50:30.2093534Z #0 Envoy::SignalAction::sigHandler() [0x43f6a44]
2020-07-01T18:50:30.2093980Z #1 __restore_rt [0x7fc097d58890]
2020-07-01T18:50:30.2094409Z #2 __llvm_coverage_mapping

[2020-07-01 21:58] mattklein123 commented on #11784
[code]

The issue is:
1) We are losing critical assert logs on coverage. I will open an issue on this.
2) The response is actually timing out somehow, I guess due to the machine being pegged, and then the connection is getting closed, causing an unexpected disconnect.

@alyssawilk @antoniovicente I don't think I'm going to have time to fix this before I take off for vacation. This might be the cau

[2020-07-01 21:59] mattklein123 opened #11860 "coverage: need to see critical/assert logs in coverage builds"
See discussion in https://github.com/envoyproxy/envoy/issues/11784.

Right now if we hit an assert it's not clear because we only print the backtrace, due to: https://github.com/envoyproxy/envoy/blob/3cc670d82f44b8dda710c7e16ad23873c9d7544a/.bazelrc#L132

We need to figure out a way to see more logs in coverage when things fail. cc @alyssawilk @antoniovicente @jmarantz @lizan

[2020-07-01 22:00] mattklein123 commented on #11784
Opened https://github.com/envoyproxy/envoy/issues/11860 to track why it's so hard to debug failures on coverage.

[2020-07-01 22:41] lizan commented on #11855
This is an Istio issue, can you file an issue to https://github.com/istio/istio?

[2020-07-01 23:09] #3124 closed

[2020-07-01 23:12] #11400 closed

[2020-07-01 23:16] mattklein123 commented on #11832
Just wanted to note that I am very interested in this proposal but I won't be able to look into 7/13. I would also like to see if we can incorporate the streaming tap matchers into this also.

[2020-07-01 23:41] dio commented on #8785
To properly buffer the response, the "blocking" `handle:body()` API is the way to go.

[2020-07-02 01:11] v1b1 commented on #8785
Hi @dio I'm not why this was closed as it's still a bug that the filter chain continues without finishing the Lua envoy_on_response() code if bodyChunks() is used. There is a noticeable difference in response times if I use body() vs bodyChunks().

[2020-07-02 01:38] alyssawilk commented on #11784
If it's a timeout it could be that the response is timing out, or that some other infinite wait is causing us to not get to the point where the upstream operates (one more reason I like autonomous upstream).
I'll see if I can fix the infinite timeout issue and see if that gets us more data.

[2020-07-02 01:57] alyssawilk opened #11865 "flake in filter_manager_integration_test"
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/43792/logs/140

2020-07-02T00:26:21.9100030Z [ RUN      ] Params/InjectDataWithEchoFilterIntegrationTest.FilterChainMismatch/IPv4_no_inject_data
2020-07-02T00:26:21.9100610Z test/integration/filter_manager_integration_test.cc:471: Failure
2020-07-02T00:26:21.9101900Z Value of: tcp_client->write("hello")
2020-07-02T0

[2020-07-02 01:58] alyssawilk commented on #11865
also
https://dev.azure.com/cncf/envoy/_build/results?buildId=43791&view=results

2020-07-01T23:34:12.2363220Z [ RUN      ] Params/InjectDataWithEchoFilterIntegrationTest.FilterChainMismatch/IPv6_no_inject_data
2020-07-01T23:34:12.2370500Z test/integration/filter_manager_integration_test.cc:471: Failure
2020-07-01T23:34:12.2381380Z Value of: tcp_client->write("hello")
2020-07-01T23:34:12.2389020Z

[2020-07-02 02:08] alyssawilk opened #11867 "Other flake tracking"
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/43801/logs/76
Protocols/DownstreamProtocolIntegrationTest.ManyRequestHeadersTimeout/IPv4_Http2Downstream_HttpUpstream
coverage build

2020-07-02T00:53:56.6097482Z [ RUN      ] Protocols/DownstreamProtocolIntegrationTest.ManyRequestHeadersTimeout/IPv4_Http2Downstream_HttpUpstream
2020-07-02T00:53:56.6098229Z recv: [I

[2020-07-02 03:49] dio commented on #8785
oops sorry, I meant to close my PR which has wrong approach.

[2020-07-02 05:05] gituserjava commented on #11834
@yanavlasov , @dio , thank you for the response.

One more question, what is the maximum size of the request body that can be sent to OPA?

Will it be an issue if we send more than 100kilo bytes request body to OPA?

[2020-07-02 05:09] dio commented on #8785
@v1b1 just curious, have you tried to use the latest version of Envoy? I simulated this, yes, the response from envoy (proxying data from upstream) comes early (before the `httpCall` is finished). But the `httpCall` is "always" successful (given no network problem). I simulated a slow server that response after 10 secs.

And probably you can consider using "async" (fire-and-forget) `httpCall`? Add

[2020-07-02 05:46] dio commented on #11834
@gituserjava not sure about that, since that will be a perfect question for OPA server implementation. If you use the "istio-plugin" it will be "just" a gRPC server https://github.com/open-policy-agent/opa-istio-plugin/blob/c9c19f8b5886d07f39d426549b2e84d6875a616a/internal/internal.go#L108, which has no such limitation.

[2020-07-02 06:58] ankatare opened #11868 "build issues: ERROR: no such package '@protodoc_pip3//': pip_import failed: Collecting PyYAML==5.3.1"
logs are present at below path
https://circleci.com/api/v1.1/project/github/envoyproxy/envoy/358258/output/103/0?file=true&allocation-id=5efd7fe44866be36a07e42b1-0-build%2F1B83495C

  pip_import failed: Collecting PyYAML==5.3.1 (from -r /build/tmp/_bazel_bazel/b570b5ccd0454dc9af9f65ab1833764d/external/envoy/tools/protodoc/requirements.txt (line 1))
 (  Could not find a version that satisfies the r

[2020-07-02 09:28] johnzheng1975 opened #11870 "How to support envoyfilter for grpc requests. Thanks."
Can I know how to support envoyfilter with grpc requests. Thanks.

I wrote envoyfilter in istio1.4.6, it works for http request.
However, for grpc request, it cannot enter envoy_on_request at all.  (Not running  request_handle:logInfo("******* enter envoy_on_request : Set x-tenant-name by x-tenant-id"))
[code]

[2020-07-02 09:30] johnzheng1975 commented on #11870
Please help, and provide an example for me, thanks so much!

[2020-07-02 10:33] samflattery opened #11871 "xDS: inconsistent stats when sending route before listener"
**Description**
I'm developing an xDS fuzzer that tests how Envoy handles sequences of dynamic xDS updates. Since Envoy ignores any `RouteConfiguration` updates before any listeners are added, adding a listener after adding a route config should leave the listener in a warming state, but the stats and the state given in the config dumps are inconsistent in that the config dump says it is warming b

[2020-07-02 10:34] samflattery commented on #11871
/cc @asraa @htuch @lambdai

[2020-07-02 12:56] #11865 closed

[2020-07-02 14:31] jmarantz opened #11872 "runtime: provide a mechanism for a global kill switch with constant memory overhead"
In https://github.com/envoyproxy/envoy/pull/11252 there's a new RuntimeDouble config in api/envoy/config/cluster/v3/cluster.proto and, without any other C++ changes, this results in 256 extra bytes consumed per cluster. For 10k clusters this is 2.56M which isn't going to make or break us, but it seems like a high cost to pay for a switch.

I'm wondering if this usage matches intent. Should that co

[2020-07-02 16:08] #11811 closed

[2020-07-02 16:37] #11786 closed

[2020-07-02 18:01] ajoysinha commented on #11602
I have tried it and with following code .

[code]

it is calling OPA sidecar, but it should return false from **/v1/data/opa/lua/meddetails/allow**

getting response code is 200.

response body is
[code]

I am not able to get the response body [ from where I will get allow value = false ] in lua filter. what is the way to get the value in lua filter.

[2020-07-02 19:02] belyalov opened #11874 "FractionalPercent when using with RouteMatch"
**_Title:_** Log debug/info/whatever message when `FractionalPercent.numerator` greater than `FractionalPercent.denominator`
**_Description:_** When using `FractionalPercent` with `RouteMatch` it is possible to mess up with values on `denominator` / `numerator` so the underlying condition
[code]
Will be always evaluated to `true` because of `numerator` exceeds `denominator`. It becomes hard to deb

[2020-07-02 19:22] ajoysinha opened #11876 "Lua Envoy Filter , parsing of response_body is not working in lua"
I am trying to implement lua filter to communicate with OPA ( open policy agent ) [ other authorization server has some issue , not working ], hence trying to implement lua filter.

I am able to configure lua filter to communicate with OPA. and getting the response back in response_body.

response_body output is as below
[code]
I am looking some way to extract the value from response_body. but do

[2020-07-02 19:59] sschepens opened #11877 "Segfault when updating cluster to TLS with SDS"
We've noticed a segfault in our envoys when updating a cluster via CDS from using plain TCP to TLS with validation context provided via SDS.

Attached are the initial version, the update that caused the segfault and the printed stack, the only thing added is the transport socket configuration pointing to SDS.
[previous_version.txt](https://github.com/envoyproxy/envoy/files/4866371/previous_version

[2020-07-02 20:15] sschepens commented on #11877
Update: we've managed to reproduce this locally and it would appear that the crash is triggered when controlplane is also pushing an EDS update for the same cluster.
It would seem that there is a conflict when updating endpoints for a cluster while the cluster itself is being updated.

Is this a known issue?
Should control-planes handle this somehow?

[2020-07-02 20:41] snowp commented on #11877
Given that you're now able to reproduce it locally, any chance you could provide a stack trace, core dump or a simple reproducer? It's hard to say what the issue is without some detail.

In general a segfault is never expected, so this is a bug of some kind.

[2020-07-02 20:44] snowp commented on #11874
Alternatively we could add in configuration validation that will reject configuration where numerator > denominator, unless there are use cases where you'd want to do that?

[2020-07-02 22:13] sschepens commented on #11877
@snowp can't seem to get `stack_decode.py` to work, but here is a more verbose stack printed by envoy debug:

[stack2.txt](https://github.com/envoyproxy/envoy/files/4866849/stack2.txt)

[2020-07-03 05:24] #11317 closed

[2020-07-03 06:01] sunjayBhatia commented on #11825
See: https://github.com/envoyproxy/envoy/pull/11879

[2020-07-03 06:13] johnzheng1975 commented on #11870
Can grpc-web-filter implement my requirement
1  Get one metadata field (tenant_id) in the filter
2  Invoke a http call get (tenant name)  from http response
3  Put new field (tenant_name) into meatadata
Is there any example for this?
And, is it possible to use lua to implement upper requirement in grpc-web-filter?

[2020-07-03 07:24] #11310 closed

[2020-07-03 07:47] fscz commented on #11672
The documentation is wrong. At the top of https://istio.io/latest/docs/reference/config/security/jwt/#JWTRule
it reads.
[code]

However, correct is:
[code]

[2020-07-03 08:17] zonghaishang opened #11880 "[question & help] Mysql network decoding seems to be incomplete?"
Title:  Mysql network decoding seems to be incomplete?

Description:

When I read envoy decoding mysql protocol, it seems to only support the latest version of mysql, taking the Handshake message as an example：

Official documents need to support HandshakeV10 and HandshakeV9 versions：
https://dev.mysql.com/doc/internals/en/connection-phase-packets.html#packet-Protocol::HandshakeResponse

At presen

[2020-07-03 08:22] zonghaishang commented on #11880
@venilnoronha please take a look, thanks.

[2020-07-03 08:24] #11321 closed

[2020-07-03 10:24] #11129 closed

[2020-07-03 10:48] i0rek commented on #11838
https://hub.docker.com/layers/envoyproxy/envoy/v1.12.5/images/sha256-7f10a15462290dc64f774e3aec04fecbae736cf13e2368b539d9444ee36d4b92?context=explore is released!

[2020-07-03 10:48] #11838 closed

[2020-07-03 11:57] JacobSMoller opened #11881 "Envoy cors OPTIONS call 404"
Description:
Using the envoy.cors http filter i get 404 when doing options calls. I have read https://github.com/envoyproxy/envoy/issues/6608 and https://github.com/envoyproxy/envoy/issues/7833

My config is a bit different to theirs, but as far I read their solutions i have fixed what they had problems with.(eg. having the cors filter as the first filter and removing the grpc: {} from my routes.

[2020-07-03 14:14] vinzo99 opened #11883 "x-envoy-max-retries header is ignored with 5xx retry policy"
Description:

When using a retry policy on 5xx response, it seems that x-envoy-max-retries header is always ignored, whether retry policy is configured in envoy.yaml or with x-envoy-retry-on header.

The following tests have been reproduced in our lab order to simulate a customer configuration. We run Envoy 1.14.1 with a sample envoy.yaml, that redirects to a dummy server that just responds 500 In

[2020-07-03 18:01] AngelaNing97 commented on #11648
The enum "never send, send iff internal address, always send" should probably be easily configurable in the `header_formatter`. My interpretation for the second part of @alyssawilk 's comment is that at each hop, we append the response_code_details, response_flags, or other desired debugging info to the "tokenized header" object? Is this correct? Could you please provide an example of what the tok

[2020-07-03 18:24] #10899 closed

[2020-07-03 18:26] ChristosKa commented on #11815
Hello @snowp,

Thanks for the help!

We're working together on this with @vinzo99.

We've been relying on the passive health checking using the circuit breaking functionality for that. Do we also need active health checking for this to work?

We've also been experimenting with the [front-envoy example](https://github.com/ChristosKa/envoy/blob/setup_aggregate_cluster_failover/examples/front-proxy/f

[2020-07-03 20:49] belyalov commented on #11874
This is not clear to me:
- route configuration simply depends on runtime *key*, basically string, seems nothing to validate here
- update runtime values through `rtds` or any other methods could not be validated as well (simply ignore unacceptable values?)

[2020-07-04 11:21] vikaschoudhary16 opened #11889 "stack_decode.py does not work"
Description:
As mentioned in the [code comments]( https://github.com/envoyproxy/envoy/blob/master/tools/stack_decode.py#L8-L9), there are two ways to use `stack_decode.py` to translate addresses in the backtrace to the file and line numbers. I have tried both the approaches. i.e making it read from the stdin and also running envoy under the stack_decode.py, in either case, addresses are not gettin

[2020-07-04 11:23] vikaschoudhary16 commented on #11877
unrelated to the issue, +1 on `stack_decode.py` not working, https://github.com/envoyproxy/envoy/issues/11889

[2020-07-04 12:50] zufardhiyaulhaq commented on #9662
any update for this? the docs seems not working.

[2020-07-04 18:18] jay-manday opened #11890 "Troubleshooting: upstream connection remote resets"
Hi there,

I'm new to envoy and i've been having a surprising amount of difficulty integrating it with a project that i'm working on. I'm using grpc-web and envoy to connect to a grpc service supporting my app and this error keeps coming up, I've gone through the ringer while trying to debug this and would love some assistance.

`upstream connect error or disconnect/reset before headers. reset rea

[2020-07-04 23:26] sc0ttbeardsley commented on #11560
If there was a way to do fallbacks with weighted clusters we could use that but seems like it isn’t supported. should this convert to a feature request instead of trying to make `runtime_fraction` work?

[2020-07-05 03:47] dio commented on #11816
For opencensus, since the "issue" is with the Zipkin span exporter implementation (`opencensus_exporter_zipkin`). I think we could own Envoy-specific implementation of that in our tree (I can try to own it if it is desired)? At minimum:

[code]

Which basically "retrieve" the spans stored in `opencensus-cpp` worker thread implementation and send that to Envoy's thread which has access to a dispatc

[2020-07-05 05:06] #11293 closed

[2020-07-05 06:25] dio commented on #11890
I think the problem is you can't connect from the container to the host. Can you reach your service (i.e. running on `host` from a process inside your container?) from inside the container?

Where are you running it (Ubuntu? Mac?)? If you're on Mac, are you using "Docker Desktop" (and what version)?

If you're on Linux, e.g. Ubuntu, use host networking (it is easier).
If you're on Mac use "host.do

[2020-07-05 07:03] jay-manday commented on #11890
Hey @dio

Thanks so much for looking into this, i really appreciate it!

Sure thing, heres what im running:

[code]

I did manage to  work out getting get some minor success with changing my cluster config to the following earlier today to the following:

[code]

So with this change I'm able to invoke the upstream grpc services via `grpcurl` through the envoy proxy which is great, though, grpc-web

[2020-07-05 07:31] dio commented on #11890
Interesting. Did you send that request without `schemes`? It should be something like `http://localhost:8000/proto.EphemerisService/ListEphemeris`

When you initialize the client, make sure you include the scheme as well. For example: https://github.com/grpc/grpc-web/blob/3cf33f96ffa1ce17fdfb70a31238720fbb797a45/net/grpc/gateway/examples/helloworld/client.js#L23

Hope that helps.

[2020-07-05 07:42] jay-manday commented on #11890
oh my god, lol damn, i just added the uri scheme and things are working now (atleast via grpc-web) thanks for the help!

[2020-07-05 11:41] dio commented on #11890
Closing this.

[2020-07-05 11:41] #11890 closed

[2020-07-05 18:06] #11355 closed

[2020-07-05 20:03] shannoncarver commented on #10990
I'm also looking for a solution to setup a dynamic forward proxy that allows for using a specified dns_resolver.  Is this possible?

[2020-07-05 21:15] rshriram opened #11893 "DNS: name length of 2 seems arbitrary"
https://github.com/envoyproxy/envoy/blob/master/api/envoy/data/dns/v3/dns_table.proto#L62
has a validation stating that the DNS name length must be atleast 2 characters which seems very arbitrary. Consider a kubernetes pod (or even a local network). It is certainly possible to create services like a, b, c and they can all be resolved using the single character short names, within the k8s namespace

[2020-07-05 21:17] moderation commented on #10990
I've not tried this but you might be able to chain the [DNS filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/udp_filters/dns_filter) with the [Dynamic Forward Proxy](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/dynamic_forward_proxy_filter) to achieve this.

[2020-07-06 00:06] #11354 closed

[2020-07-06 00:10] wrowe commented on #11354
I'd suggest this issue remains unresolved and relevant

[2020-07-06 01:38] obscurerichard commented on #2182
@perlun thank you for the configuration snippets to expose Prometheus metrics at `/metrics`. I have integrated those into a fully working example in the [Helm chart ConfigMap code](https://github.com/PacktPublishing/Docker-for-Developers/blob/master/chapter11/shipitclicker/templates/configmap-envoy.yaml) for the book I'm writing for Packt Publishing, [Docker for Developers](https://www.packtpub.co

[2020-07-06 03:04] dio commented on #11089
@juanjoDiaz could paste the request headers for the file upload request? Especially the `Content-Type` of it. Thanks!

[2020-07-06 03:35] dio commented on #11776
Seems like this is answered. Please let us know if otherwise.

[2020-07-06 03:35] #11776 closed

[2020-07-06 07:46] g-easy commented on #11816
This is tracked in https://github.com/open-telemetry/opentelemetry-cpp/issues/6

[2020-07-06 07:49] g-easy commented on #11816
https://github.com/envoyproxy/envoy/issues/11816#issuecomment-653838495 sounds pretty great to me.

Note that opencensus's existing background thread calls into Handler::Export() periodically.

[2020-07-06 08:31] zonghaishang commented on #11880
[code]

[code]

envoy start config:
[code]

[2020-07-06 10:50] ramaraochavali commented on #11738
@abaptiste I was looking at this. Looks like the current default implementation just hands over the resolver list of ips to ares [here](https://github.com/envoyproxy/envoy/blob/master/source/common/network/dns_impl.cc#L53) and ares code seems to manage the connections. If we specify the cluster_name here, should we get a host (based on the configured LB)ip port and initiate a separate DNS query ov

[2020-07-06 13:02] klarose commented on #9822
This is a problem for us as well. Another thought is that we add a `content-type` filter to the ext_authz that will not forward the body if the content-type doesn't match. We could probably set a flag indicating that it didn't forward the body -- possible the same flag that we use for partial data.

[2020-07-06 13:14] asraa commented on #11871
I think this might be related (see issue)? https://github.com/envoyproxy/envoy/pull/7511

[2020-07-06 13:23] htuch commented on #10650
This was fixed in #11788

[2020-07-06 13:29] samflattery commented on #11871
That makes sense in this case but even if I just add `listener_0` which references `route_0` but never send the route, so obviously the listener should be warming, the stats say that there is 1 active listener and 0 warming.  I can reproduce this in a test case too if you want

[2020-07-06 13:47] andrewshaoyu opened #11899 "envoy reset downstream connections without sending any data to upstream"
Description:

1. Downstream using java http client get some connection errors (connection reset by peer),this maybe envoy reset the connection
1. Then tcpdump in envoy and downstream
1. From the pcap, downstream connect to envoy's port 80 with a random port after shakehands, then downstream make a http post request,envoy side reply with ack.
1. After 500ms, envoy reply to downstream with [RST,ACK]

[2020-07-06 13:50] juanjoDiaz commented on #11089
Hi @dio
I'm currently on holiday so this will have to wait until august. 🙂

[2020-07-06 14:19] dio commented on #10650
@htuch sorry, the PR is still open.

[2020-07-06 14:21] htuch commented on #10650
My bad, let's land this for 1.15.0 .

[2020-07-06 14:25] alyssawilk commented on #11872
My solution would be to replace the per-thread-snapshot runtime with global google flags, but some people around here aren't a fan of globals (*cough*@jmarantz-and-@mattklein123*cough*)
I find per-cluster runtime overrides kinda overkill, and I'll comment that on the PR in question.

[2020-07-06 14:31] jmarantz commented on #11872
While not a fan of statics as a way to implement per-process state, I am not against per-process state. Just a question of how it gets injected, initialized, and cleaned up.

And there is already a Runtime singleton in which to put such state, so it seems plausible to have one of the bits it controls be per-process.

[2020-07-06 14:33] alyssawilk commented on #11872
Either way it'd be a lot of memory if you want a per-cluster option. We'd save memory on (#threads) but we'd still be burning (#clusters) which is significantly larger.  I think if you don't want largeish memory in O(#clusters) you just don't do per-cluster overrides which allocate string memory :-P

[2020-07-06 15:24] htuch commented on #11871
@samflattery might there be a temporal aspect here? Warming might timeout, so if you measure one metric before another, you could see inconsistency. Is there anything interesting going on if you look at trace logs?

[2020-07-06 15:45] alyssawilk commented on #11648
yeah, as Matt says some of this can go in the header formatter.
I think that appending various debug info per hop would be fantastic, but I don't have cycles to pick this up yet so I think it'll stay help wanted until someone volunteers :-)

[2020-07-06 15:48] htuch commented on #10843
This shouldn't be closed.

[2020-07-06 16:01] #11880 closed

[2020-07-06 16:39] alyssawilk commented on #11774
empty response code detail is puzzling - we're pretty good at filling that in on the HTTP/1.1 path.  Having DPE and no details and no 500 is even more confusing.
There's a few ways things can pass validation at the L1 and fail at the L2 - header size being one that comes to mind (if you're right near the edge and add debug headers, you can go over).  I'm not sure how many other variants there are

[2020-07-06 16:40] #11528 closed

[2020-07-06 16:58] jmarantz commented on #11872
agreed. so should we suggest on the PR just to put runtime override on a different structure? Which structure?

[2020-07-06 17:09] alyssawilk commented on #11872
I'd argue that CDS is sufficiently reloadable you can just have a fixed config option. If they really want runtime, hopefully Harvey as API guru can suggest a spot

[2020-07-06 17:38] gongcon commented on #11774
I suspected that as well, yet from the document, it should response 431 when using HTTP/1.1 in this case, so not quite sure if that's true. Empty response with flags DPE make me very confused.

Is there any test app on your side to capture the requests and output when errors occur?

[2020-07-06 18:53] yuval-k commented on #11881
I believe allowOrigin is deprecated in v3;
try this instead:
[code]
(didn't test this, but should work according to https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#config-route-v3-corspolicy)

[2020-07-06 18:57] snowp commented on #11874
I see, this is about using RuntimeFractionalPercent, not a FractionalPercent proto configured via xDS.

Seems like logging the numerator/denominator as debug/trace would be the best way to handle this since there is no validation framework around runtime values.

[2020-07-06 19:31] belyalov commented on #11874
Ok, I'll take care of... :)

[2020-07-06 19:50] v1b1 commented on #8785
@dio I'll give it a try when I can, we recently were allowed to update to v1.13.0 and once I have the cycles to test I will do so.

The main driver behind this is to mirror 100% of requests and responses for audit purposes, without the developers having to write and maintain the payload logging code themselves. Would an HTTP tap provide better performance?

[2020-07-06 19:54] snowp commented on #11877
I'm not able to make much of the stack trace, maybe @alyssawilk has an idea? It seems to somehow be related to `UpstreamRequest` destruction during a GOAWAY? Hard to decipher

If you're able to reproduce this locally under gdb a stack trace produced by the `bt` command might prove more useful

[2020-07-06 20:50] sschepens commented on #11877
@snowp thanks, that was a huge help, managed to get the stacktrace via gdb:

[code]

[2020-07-06 20:59] sschepens commented on #11877
If my limited understanding it would seem that it's indeed trying to dispatch an update to a watch that has been destroyed.
This would be caused because the CDS update is causing the cluster to be recreated

[2020-07-06 21:01] snowp commented on #11877
Awesome, this is a much more sane backtrace than the original one. @htuch any idea what's going on here or who would?

Seems problematic that the trace emitted by Envoy itself is so off, but that can likely be handled separately.

[2020-07-06 21:42] cpakulski opened #11905 "postgres: logging should use to_string method for decoded messages"
Postgres filter treats body of an unencrypted message as string. In fact it may be combination of strings and binary fields. When such string is sent to the logger and to stdout, very often garbage is displayed and sometimes terminal needs to be reset in order to restore the normal state.

Postgres parser should provide sort of _to_string_ method to create displayable string.

[2020-07-06 21:43] rgs1 opened #11906 "supporting partial wildcards on server names for filter chain matches"
Currently, when doing a filter chain match on server names you cannot use a partial wildcard:

https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/listener/listener_components.proto#L126

From a very quick look at how the server names are looked up:

https://github.com/envoyproxy/envoy/blob/master/source/server/filter_chain_manager_impl.cc#L418

it seems like supporting this could be

[2020-07-06 22:14] ggreenway commented on #11906
Do you just want to do a prefix partial wildcard like in that doc example (`*w.example.com`), or do you need something like `something.*.example.com`?

I believe @PiotrSikora originally wrote the matching code; he may have opinions on this also.

[2020-07-06 22:16] rgs1 commented on #11906
The former -- I need something like `*-foo.example.com`.

[2020-07-06 23:37] bmcalary-atlassian opened #11908 "Envoy 1.14.x caused sudden increase in upstream_rq_pending_overflow and circuit breaking (PSA)"
Hello Team,

This is more of a PSA to the community, since the behavior seems more correct now than before.

We recently upgraded our envoy nodes to 1.14 and observed a jump in the number of upstream_rq_pending_overflow's on clusters resulting in UO flags in logs and 503s being returned for the affected percentage of requests.

This is our circuit breaking configuration which was working fine up u

[2020-07-06 23:44] shashankram opened #11909 "Significance of setting AlpnProtocols in the client's UpstreamTlsContext"
When an application protocol is specified in the client's `UpstreamTlsContext.CommonTlsContext.AlpnProtocols`, how does Envoy use this for ALPN negotiation? Can a custom ALPN value be specified, in which case how would the negotiation work if the server specifies different `AlpnProtocols` as a part of the `DownstreamTlsContext` in the inbound listener? What happens if a protocol other than `h2, ht

[2020-07-06 23:54] shashankram commented on #11909
/cc @PiotrSikora, @lizan

[2020-07-06 23:58] yanavlasov commented on #11877
My guess is that this is EDS response from ADS and the watch map has a dangling pointer to previous cluster. Does your core file have any PII? It may make diagnostics easier if you can post it. If not we will need to work on a repo case. Sounds like this is not a deterministic failure.

[2020-07-07 00:00] yanavlasov commented on #11909
@snowp did your PR that was going to change this land?

[2020-07-07 00:10] snowp commented on #11909
My PR affected how we select what protocols to attempt ALPN negotiation, not how the negotiated ALPN is used.

At the moment protocol selection is completely decoupled from the result of ALPN negotiation: for HTTP the protocol selection is based on what is configured on the cluster (`protocol_negotiation` field), while ALPN is blindly negotiated based on the protocols specified on the TlsContext (

[2020-07-07 00:47] #11365 closed

[2020-07-07 00:52] shashankram commented on #11909
I am wondering whether the ALPNs specified in the TLS context can be relied upon to do filter chain matching based on application protocol. I have 2 sets of clients (one using envoy, one without envoy) talking to a server behind envoy. My use case is to be able to match traffic from these clients differently based on the application protocol if possible, on the server side. I am unsure how the ALP

[2020-07-07 00:59] htuch commented on #11906
In general, we can do these wildcards with tries. Even in vhosts, we do it by iterating over a linear list today. We had a trie implementation once upon a time in https://github.com/envoyproxy/envoy/pull/555, we could dig that up.

[2020-07-07 01:03] #11665 closed

[2020-07-07 05:20] lizan commented on #11881
It seems the request matched your last route entry:
[code]

It is possible that the request didn't match your proto descriptor for transcoding. What's your proto definition?

[2020-07-07 06:39] JacobSMoller commented on #11881
@lizan

The proto definition for the get call im trying is:

https://github.com/e-conomic/vmlapis/blob/master/proto/asgt/data/v1/data_service.proto#L36-L40

[2020-07-07 08:03] wbpcode commented on #10241
The reason is that when the worker executes registerType, the ThreadLocalState object captured by the callback function has been destructed. I encountered this problem when trying to implement routing granularity Lua scripts #11235. This problem is triggered when you create a ThreadLocalState object during initialization and immediately destruct it. Your Listener `listener-with-lua-and-tls-context

[2020-07-07 08:13] lambdai commented on #11877
My two cents:

1. The initial stack.txt is going through hot-restart. This add the complexity.

2. From the updated config, the SDS config source is not exactly the statically loaded as you expected. It's actually read from ADS. Are you moving from static cert to dynamical SDS? I am not sure it is designed to be allowed.

[code]

[2020-07-07 12:34] sschepens commented on #11877
@lambdai
1) we're not hot reloading envoy
2) what i meant Is we hace statically defines cluster that depends ok that SDS Secret, so ir has already belen fetched ok bootstrap

[2020-07-07 12:37] sschepens commented on #11877
@yanavlasov this is certainly non deterministic, my machine is currently not dumping cores, but I'll get it done

[2020-07-07 13:50] yanavlasov commented on #11899
Were there any logs messages at all? It maybe that connection does not reach envoy at all, due to misconfiguration.

[2020-07-07 14:29] snowp commented on #11909
Ok so I think there's some confusion here between the upstream/downstream context:

During upstream protocol selection and ALPN negotiation, things works as I initially described.

When resolving filter chains, the negotiated protocol can be used to influence the filter chain selected using the `application_protocols` field: https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/listener/v3/lis

[2020-07-07 14:51] trilom commented on #1861
Put this together but it does not build envoy, something about `external/go_sdk/bin` location not being found.  I've been able to nurse it past but have ran into a couple other issues that I believe might be around environment.  Either way this feels pretty close to an alpine build on edge if it's useful to anyone.

[code]

[2020-07-07 14:51] samflattery commented on #11871
@htuch I'm not sure, it seems like the listener is just added as active straight away.  This is from the trace logs from the snippet I linked in the issue above, but I've removed the `DiscoveryResponse` for the route, so it just sends the one listener and then checks the stats.  It seems that the listener is moved to active straight away (see line highlighted with stars).  I've just pasted middle

[2020-07-07 15:20] murray-stripe opened #11920 "Support additional labels in `version_out_test.sh`"
*Title*: *Support additional labels in `version_out_test.sh`*

*Description*:

As part of our internal build process we run the main Envoy tests and one issue that we've come across is the `version_out_test.sh` expects that any label used will be `-dev`. I would like to propose that we change the regex here to match any valid label (`(-[a-zA-Z\-_]+)?`).

As envoy has a strict view of what a versio

[2020-07-07 15:24] parkergordonio commented on #774
As it pertains to Tracing, I don't think it is possible (or makes sense to have one envoy proxy for many services). The Zipkin trace info depends on this `--service-cluster` value pretty heavily.

You'll see only one tag on the trace info.
![image](https://user-images.githubusercontent.com/43800234/86803947-787d2d00-c044-11ea-8d97-15359d632dca.png)

[2020-07-07 15:26] yanavlasov commented on #11883
This sounds like a bug. By any chance can you run the same test with 1.15 or master to confirm this is still a problem, please?

[2020-07-07 15:37] sschepens commented on #11877
@yanavlasov uploading a core dump, is the envoy binary needed as well?
[core.zip](https://github.com/envoyproxy/envoy/files/4885719/core.zip)

[2020-07-07 15:39] rojkov commented on #11343
I've reproduced the issue locally (I'm using Polipo as a caching proxy) and I see the stats are acting up indeed due to short-circuiting logic.

If there's no objection I'll check what's wrong with the logic tomorrow.

[2020-07-07 15:43] shashankram commented on #11909
Thanks for your response, few questions inline.

If protocol selection is independent of the resolved ALPN, what is it meant to be used for? Conveying protocol information for filter chain matching seems like a use case that helps my problem (similar to Istio), but is there anything else ALPN helps with if not used for protocol selection?

Got it.  However the server can use the advertised ALPN fr

[2020-07-07 15:45] alyssawilk commented on #11774
Unfortunately not that I know of :-(
If you can get mirroring and more data about the requests in question I'd be happy to help debug but as-is I'm not sure what to suggest.

[2020-07-07 15:51] snowp commented on #11909
On the server side you could use the resolved ALPN for protocol selection if you used different protocols for the different filter chains, this all requires explicit configuration though.

ALPN is also necessary when connecting to or receiving connections from non-Envoy clients/servers: if you're routing traffic to something that does rely on ALPN for protocol negotiation. Several HTTP clients out

[2020-07-07 16:16] shashankram commented on #11909
Thanks @snowp, that makes sense to me.

Does this also imply that between 2 envoys (client and server), the client could advertise the protocol it wants to use via ALPN and the server could simply use this for filter chain matching irrespective of whether the server's TLS context in the listener is configured with ALPN?

[2020-07-07 16:19] snowp commented on #11909
No, only the final negotiated protocol is made available to the filter chain match, so if the server didn't advertise any protocols there would be no negotiated protocol.

[2020-07-07 16:22] shashankram commented on #11909
I am referring to the filter chain matching that happens on the inbound listener on the server. The client advertised ALPN is a part of the client's _TLS Client Hello_, why does the server's ALPN matter here?

[2020-07-07 16:27] snowp commented on #11909
Reading over the code again it seems like we match on the *requested protocols*, not the *resolved protocol* (which makes sense since filter chain matching happens before the handshake completes). So what you describe is how it works.

[2020-07-07 16:29] shashankram commented on #11909
Thanks for clarifying.

[2020-07-07 16:45] danzh2010 opened #11925 "udp: improve UDP write performance via UDP GSO"
We are using sendmsg() to writer UDP packet [1]. UDP sendmsg() is much slower than TCP because of lacking of kernel optimization.

UDP GSO has a new optimization in Linux kernel 4.18 and above  for UDP sendmsg() which takes multiple packets with same source/peer address and same payload length from one sendmsg() call and send them as individual packets to the wire. This optimization can lower the

[2020-07-07 16:45] danzh2010 commented on #11925
/assign @yugantrana

[2020-07-07 16:51] #10111 closed

[2020-07-07 16:52] auni53 opened #11926 "Can filter decodeHeaders be called multiple times?"
We have code that inserts into FilterState in the decodeHeaders call, which crashes if decodeHeaders is called multiple times in the same test without resetting the filter state. Should we be handling that "exists in filterstate" situation in code? Or is decodeHeaders guaranteed to never be called twice for a given filterchain. It does have an `end_stream` variable similar to decodeData, but looki

[2020-07-07 17:15] #11860 closed

[2020-07-07 19:02] htuch commented on #11871
@samflattery is this really early in Envoy's initialization? I.e. are we hitting this branch https://github.com/envoyproxy/envoy/blob/master/source/server/listener_manager_impl.cc#L505?

[2020-07-07 19:18] #10650 closed

[2020-07-07 20:37] wlhee opened #11931 "Keep upstream stream open when downstream stream is reset with RST_STREAM"
Hi,

IIUC, Envoy terminates the upstream stream when the downstream is close:

downstream client -> (HTTP/2) -> Envoy -> (HTTP/2) -> upstream backend

Is it possible to keep the upstream stream open even when downstream client is disconnected, including:

downstream client -> (HTTP/2) -> Envoy -> (HTTP/2) -> upstream backend
downstream client -> (HTTP/2) -> Envoy -> (HTTP/1) -> upstream backend

W

[2020-07-07 20:40] wlhee commented on #11931
@htuch FYI

[2020-07-07 21:08] gongcon commented on #11774
Problem is I don't have a test app to capture the requests.
I'm going to have a single node of L2 envoy log on debug level. What specific messages shall I look at?

[2020-07-07 21:21] alyssawilk opened #11932 "envoy.reloadable_features.strict_header_validation deprecation"
#8849 (release: flipping flags) introduced a runtime guarded feature. This issue tracks source code cleanup.

[2020-07-07 21:21] alyssawilk opened #11933 "envoy.reloadable_features.connection_header_sanitization deprecation"
#8862 (Sanitize headers nominated by the Connection header) introduced a runtime guarded feature. This issue tracks source code cleanup.

[2020-07-07 21:21] alyssawilk opened #11934 "envoy.reloadable_features.strict_authority_validation deprecation"
#77 (docs: small fix) introduced a runtime guarded feature. This issue tracks source code cleanup.

[2020-07-07 21:21] alyssawilk opened #11935 "envoy.reloadable_features.reject_unsupported_transfer_encodings deprecation"
#9316 (http: disallow unknown transfer encodings) introduced a runtime guarded feature. This issue tracks source code cleanup.

[2020-07-07 22:27] #11829 closed

[2020-07-07 23:22] juanvasquezreyes opened #11942 "TCP Source IP, real IP"
I'm using envoy to proxy an ssh connection to another server, this is working, but in the destination server I see that the source ip is the server where envoy is running instead of the real source which should be my computer

This is my listener
- name: listener_ssh
        address:
          socket_address:
            address: 0.0.0.0
            port_value: 5000
        filter_chains:

[2020-07-08 00:58] htuch commented on #11877
So, the hypothesis that this is some dangling watch pointer seems reasonable. What would be good to do is figure out the sequence of subscription creations/deletions, and watch additions/removals that are happening for different resource and API types. You might be able to pull some of that out of the core, but if you can reproduce locally, just adding some log statements would help.

[2020-07-08 01:38] gongcon commented on #11774
these are the only messages show up, not meaningful at all.
[code]

[2020-07-08 05:47] lizan opened #11945 "build: do not stamp tests"
We do stamp commit SHA for every binary, but we shouldn't stamp the test binaries, those effectively invalidates build cache and causing CI to rebuild and rerun them.

[2020-07-08 07:10] williamaronli opened #11947 "Meet invalid path error when running envoy proxy for istio ingress gateway"
Issue Template

Title: One line description

Description:
Meet invalid path error when running envoy proxy for istio ingress gateway

Describe the issue. Please be detailed. If a feature request, please describe the desired behaviour, what scenario it enables and how it would be used.
`2020-07-08T06:49:12.134599Z	info	Envoy command: [-c etc/istio/proxy/envoy-rev0.json --restart-epoch 0 --drain-tim

[2020-07-08 07:49] jpeach opened #11948 "Lua state allocation checks are compiled out in release builds."
The Lua filter allocates Lua states like this:
[code]

`lua_open()` can return `NULL`, but in a release build `-DNDEBUG` is meant to be set by bazel, so the failure won't cause an immediate, controlled crash. Probably this (and maybe other cases in the Lua filter) should be `RELEASE_ASSERT`.

[2020-07-08 08:57] ankane opened #11949 "error: loop variable 'token' of type 'const absl::string_view' creates a copy from type 'const absl::string_view'"
Hi, thanks for open sourcing this project!

I'm trying to add Envoy to Homebrew, so Mac users can do `brew install envoy` but am running into an error when building.

[code]

Compiler identification: AppleClang 11.0.3.11030032
OS Version: macOS 10.15
Full build logs: https://github.com/ankane/homebrew-core/runs/848972697?check_suite_focus=true
Homebrew formula (if it's useful): https://github.com/

[2020-07-08 09:53] samflattery commented on #11871
@htuch Looks like this could be the problem, thanks.  It initializes like this:

[code]

then sends the requests straight away.  Should I be waiting for something else to initialize on the server?  Is there a way to wait for `workers_started_`?

[2020-07-08 10:46] lizan commented on #9412
Fixed by #11520

[2020-07-08 10:47] #9412 closed

[2020-07-08 10:49] lizan commented on #9493
Fixed by #11520

[2020-07-08 10:49] #9493 closed

[2020-07-08 14:14] yanavlasov commented on #11949
This is likely a non-issue at all, given that `absl::string_view` is cheap to copy. Since you already have all the tooling set-up, the fastest way to move this forward is for you to make the change that clang is suggesting `const auto& token` and submit a PR.

[2020-07-08 14:30] yanavlasov commented on #11942
You may find this doc helpful: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/other_features/ip_transparency

[2020-07-08 14:42] yanavlasov commented on #11877
Did you build the binary yourself, or did you get it form one of containers? If you built it yourself, we will need the binary. Otherwise the container version.

[2020-07-08 15:14] htuch commented on #11931
What do you mean by closed? Is this connection or stream closure? I think stream closure (e.g. end-of-stream in request trailers) should still keep the stream open until the response completes.

[2020-07-08 15:40] sschepens commented on #11877
@yanavlasov we've built the binary ourselves, but i managed to get a reproduction test: https://github.com/envoyproxy/envoy/commit/43ed68da134831d8b98b2f5500e5f65315166765#diff-158efafdef83dc24db33be613e278d33R32

[2020-07-08 15:51] abaptiste commented on #11738
Hi @ramaraochavali. My understanding is that the filter would have to create the DNS request itself and send the data to the configured resolving using the a TLS connection. There is code in [dns_test_utils](https://github.com/envoyproxy/envoy/blob/master/test/extensions/filters/udp/dns_filter/dns_filter_test_utils.cc#L21) showing how to create a query. We would have to expand on this to cover any

[2020-07-08 15:58] alyssawilk commented on #11774
If you can run with  http/1 between levels and a head build, I think you should get a "Sending local reply with details" presumably with details blank, but that'll get you connection info which may get you headers?

[2020-07-08 16:50] juanvasquezreyes commented on #11942
I explore the options available for tcp

Proxy protocol - Envoy cannot communicate to upstream anymore
Original Source Listener Filter - Envoy wont have access to the downstream servers

So not sure how can I solve my issue

[2020-07-08 16:51] juanvasquezreyes commented on #11942
I explore the options available for tcp

Proxy protocol - Envoy cannot communicate to upstream anymore
Original Source Listener Filter - Envoy wont have access to the downstream servers

So not sure how can I solve my issue

[2020-07-08 16:53] juanvasquezreyes commented on #11942
I also saw this option, but isnt working either https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/listener/v3/listener.proto.html?highlight=transparent, so not sure if I'm implementing it right

[2020-07-08 17:19] cpakulski commented on #10154
@perlun I managed to repro it. I believe that what happens is that when you reload envoy.service two ExecReload commands are executed simultaneously and one of them fails. The proper solution is not to attach to shared memory and check tap sockets when running in `--mode validate` and I will try to code is like that. In the mean time you can move config validation to `envoy-hot-restarter.sh` befor

[2020-07-08 17:20] ggreenway commented on #11942
Upstream proxy protocol support is being added in #11584, which should be merged soon. Will that meet your needs? It would require proxy protocol support in your upstream ssh server as well.

[2020-07-08 18:13] #11932 closed

[2020-07-08 18:52] alyssawilk commented on #11867
closing this off as whatever possessed CI has mostly resolved itself

[2020-07-08 18:52] #11867 closed

[2020-07-08 19:44] juanvasquezreyes commented on #11942
I was able to see the correct downstream in the logs using this approach [9601](https://github.com/envoyproxy/envoy/issues/9601)

Is there a way to pass the downstream to the upstream?

[2020-07-08 19:58] wlhee commented on #11931
I think it's the stream reset rather than connection closure.

My actual set up is:
client -> (H2) -> Envoy0 -> (H2) -> Envoy1 -> (H2 or H1) -> upstream backend

I image when client closes the connection (implicitly the stream is broken), Envoy0 reset the H2 stream but keep the connection open to Envoy1.

I wonder if it's possible to NOT reset the stream between Envoy1 and upstream backend?

[2020-07-08 20:42] lambdai opened #11963 "[Feature Request] admin: dump warm up progress"
When a listener/cluster stays in warming up, user could dump the config of "warming" listener/cluster but there is no quick visibility of what is blocking the listener/cluster.

Init::Manager is the major(if not only) mechanism to register dependencies(Init::Target) and get notified for each ready dependency.

Now that target has names for debugging, we can further expose the target names to the d

[2020-07-08 21:18] lizan commented on #11949
I'm not sure where `-Wrange-loop-analysis` comes from, our CI (and my local build) don't have that flag. Possibly Xcode 12 enabled it by default?

FYI we do have Homebrew tap through [getenvoy.io](https://www.getenvoy.io/install/envoy/macos/).

[2020-07-08 21:20] lizan commented on #11889
@vikaschoudhary16 If the binary doesn't contains debug symbol, there's no way to get line number, is it a binary with symbols?

[2020-07-08 21:56] lambdai commented on #11963
cc @asopvii

[2020-07-08 22:27] ASOPVII commented on #11963
Thanks for cc. I have implemented a method for init-manager to query which registered target(names) are not ready. Hope that could help.

[2020-07-08 22:28] sschepens commented on #11877
@yanavlasov @htuch is the reproduction test necessary for you to continue the debugging? can I contribute with anything more?

[2020-07-08 22:52] htuch commented on #11871
Yes, there is server initialization warming that explains the worker thread start behavior, see https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/operations/init.html. Although, I'm kind of confused; if we're early in server initialization, it seems we _should_ be doing warming to achieve what the docs say.

@lambdai do you know maybe what's going on in https://github.com/envoyproxy/

[2020-07-08 23:04] lambdai commented on #11871
I am reading the entire thread.

Yes, we do wait even though the listener is added to the active list.
The wait is achieved by add this listener as a dependency to the server's init manager.

[2020-07-08 23:08] htuch commented on #11871
@lambdai I think that solves it; @samflattery you probably need to look at warming in a different way early on.

I wonder if stats should still treat the listeners as warming when on the init manager though.

[2020-07-08 23:12] lambdai commented on #11871
/config_dump manipulate the warming state which blindly consider all listeners are warming before `work_started` set to true.

While the stat didn't use this trick.
[code]

[2020-07-08 23:12] htuch opened #11967 "Crypto-grade hashing for resource sharing"
Currently, we use `MesasgeUtil::hash` in various places, e.g. SDS, to hash a config source (https://github.com/envoyproxy/envoy/blob/master/source/common/secret/secret_manager_impl.h#L82).

Since our threat model has the control plane as trusted, this isn't a huge issue. But if we make the control plane untrusted in the future, this can be somewhat scary. As an example, imagine an Envoy that has d

[2020-07-08 23:13] mandarjog commented on #11120
@lambdai @JimmyCYJ can you look at this?  We do not want envoy to declare ready before it is.

[2020-07-08 23:30] antoniovicente commented on #11967
Is use of any form of hash appropriate in this case?  Could we use the actual config provider entity as the map key?

[2020-07-08 23:34] lambdai commented on #11120
Let me rephrase to see we are on the same page.

1. SDS: somehow the SDS's response is not returning.
2. while 1 is blocked for the first 20s due to SDS fetch timeout, the cluster is in warming **but shows active**
3. After 20s, the SDS resource announce ready
4. Immediately after 3. the cluster announce ready.

My understanding is that "warming cluster shows ready" is the only error.
IMHO cluster

[2020-07-08 23:35] kyessenov commented on #11967
It has to be some structured hash since proto bytes are not deterministic. Alternatively, there could be another (string?) representation for a config source identifier.

[2020-07-08 23:41] howardjohn commented on #11120
We may be saying the same thing, not sure. But I think its more like:

1. SDS: somehow the SDS's response is not returning.
2. while 1 is blocked for the first 20s due to SDS fetch timeout, the cluster is in warming but shows active
3. After 20s, the sds fetch times out due to 20s fetch timeout
4. Immediately after 3. the cluster announce ready - in the sense that LDS init continues, but it was al

[2020-07-08 23:56] lambdai commented on #11120
@howardjohn I see stat is the only liar. I think envoy is early declaring active at stat. Not only cluster but also [listener](https://github.com/envoyproxy/envoy/issues/11871)

However, the sequence is working as expected. The initial_fetch_timeout is supposed to unblock the initialization by announce itself "ready" or "active"

@mandarjog I think the solution is to disable init_fetch_timeout in

[2020-07-09 00:00] howardjohn commented on #11120
@lambdai I don't think stats is the only issue. See https://github.com/istio/istio/issues/22443. I have less of a clear reproducer, but basically we get into a state where Envoy never sends an SDS request for one of the SDS resources in the XDS response. It seems there are larger problems then just the stat - but maybe its a completely different issue.

Why is the solution to disable it rather tha

[2020-07-09 00:03] lizan commented on #11967
It no longer use proto bytes for hashing, it is using text format which is stable and expands any recursively. But if there's a structured hash it will be better.

[2020-07-09 00:11] lambdai commented on #11906
+1
As long as it's suffix match, regardless it's pure suffix or tokenized suffix, we can introduce a trie in filter chain manager.

The trie need a backtrack candidate so that when failing to find any match we go back to match empty server name.

 Also it's O(1) overhead if user doesn't want to use this feature.

[2020-07-09 00:20] lambdai commented on #11120
Get it. Reading the issue and see if I can help.
If envoy does want to block initialization assuming before sds is fixed, the only solution is to disable the fetch timeout in SDS.
Then the readiness probe should chime in and kill istio container, correct?

[2020-07-09 00:25] howardjohn commented on #11120
Oh I see. Yeah actually we do not want initial fetch timeout for these in particular. But that is an Istio detail not envoy side.

One thing I do wonder - does the initial_fetch_timeout stuff work differently for bootstrap vs dynamic? Because what we found is if we requested a secret `default` as part of the XDS cluster, everything is ok. If we do not, but the dynamic response requests `default` i

[2020-07-09 00:52] ankane commented on #11949
It looks like it was added to `-Wall` recently, and there was a possible bug around it: https://reviews.llvm.org/D68912

If the custom tap is preferred, I won't submit to Homebrew. I think the advantage of the official tap is it'll be tested on all supported platforms (10.13-10.15) and easier for users to find (`brew install envoy` will work out-of-the-box).

[2020-07-09 02:03] ldemailly commented on #10979
I am trying to get CDS file based watch to work with a configmap and failing so far (because it seems the directory change isn't detected) - any idea what I am doing wrong?

[code]

and
[code]
changes to config map don't get detected

[2020-07-09 06:27] vinzo99 commented on #11815
Hello,
Is info provided by @ChristosKa sufficient for you to troubleshoot this issue ?
Is there anything more we can do to help on this ?
Thanks

[2020-07-09 07:03] trilom commented on #1861
`ci/run_envoy_docker.sh 'ci/do_ci.sh bazel.release.server_only'` no longer works Tick-Tocker/bazel-arm64 does not have Bazel 3.3.1 version and the `.bazelversion` specifies 3.3.1.  If you switch it to 3.3.0 it will build but I am not sure if it is successful yet.

[2020-07-09 07:19] lizan commented on #1861
@Jingzhao123 ^^

[2020-07-09 07:21] lizan commented on #1861
@trilom It is not recommended to build a musl based binary, you have to disable signal_actions and gperftools. Disabling latter will impact performance significantly (around 30~40% on x64 on a simple benchmark)

[2020-07-09 07:25] trilom commented on #1861
I did read that at one point, I'm not versed in building with musl but I did read similar, and that is for the most part why I stopped with the alpine approach.  Thank you for the information.  My ideal goal is to use something similar to `docker buildx` for this so that I can have some CI to this image ([something similar to this](https://github.com/trailmix/dnsmasqPXE/blob/master/.github/workflo

[2020-07-09 08:46] Jingzhao123 commented on #1861
@lizan @trilom It has been updated.

[2020-07-09 09:58] slovdahl commented on #10154
@cpakulski thanks for that, highly appreciated!

I guess the reason for doing the `--mode validate` run in in the `ExecReload` stage is that we wanted to avoid triggering a reload if there are syntax error. Maybe Envoy handles that case gracefully in all situations anyway, and it's safe to trigger a reload with a broken `envoy.yaml`? Correct me if I misunderstood something, but my understand of yo

[2020-07-09 10:07] samflattery commented on #11871
That seems to make sense as to why the listeners are marked as active, thanks for the information.

@htuch could you elaborate on this?  I'm not quite sure what you mean by run the fuzzer in steady state.

It also seems to pass all of my test cases when, after getting the first add_listener action from the fuzzer, I just send the route that it references straight away so it becomes active and the

[2020-07-09 12:29] murray-stripe commented on #11920
CC @junr03

Just looking for feedback/input to validate that my method of handling internal versions of Envoy do not somehow invalidate expectations/assumptions of what a label value can be.

[2020-07-09 12:49] wbpcode commented on #11926
The 'decodeHeaders' of a filter instance will  never be called twice. But for the robustness of the code, I still recommend that you deal with the 'exists in filterstate' situation.

[2020-07-09 12:54] htuch commented on #11967
The config source, as currently constituted, can be extremely large, it's a proto, which can include things like credentials. So, I think a hash or some abbreviated representation is the only thing that can work.

[2020-07-09 13:36] ramaraochavali commented on #11738
@abaptiste Thank you for the pointers. I will take a look and update here on what I find.

[2020-07-09 13:56] htuch opened #11974 "Windows builds with clang-cl.exe"
In order to reduce the need to engineer workarounds when interoperating with projects such as Chromium that build with clang-cl, and to provide greater consistency with the rest of our Clang-based builds, we should use clang-cl.exe instead of cl.exe. Both are compatible with MSVC.

The main blocker here appears to be https://github.com/google/googletest/issues/2490.

[2020-07-09 14:02] htuch opened #11975 "Cloud developer flow for Windows builds"
In order to debug Windows builds (e.g. with CI failures), it's helpful to allow arbitrary Envoy developers the ability to perform Windows builds. I think there are two options here:
1. We have some pool of Windows VMs that we can share access to which are ready to go for Windows debugging.
2. We document, e.g. in `README.md` in https://github.com/envoyproxy/envoy/tree/master/bazel, how to setup a

[2020-07-09 14:09] cpakulski commented on #10154
@slovdahl What you try to do makes perfect sense: verify syntax of the config file before restarting Envoy. The goal is not to start "new" instance of Envoy if the new config is wrong, but keep "old" instance running.
However, as I explained above there is a bug in Envoy which does not allow you to run in config-verify mode if there is another instance of Envoy currently running.

No, if new confi

[2020-07-09 14:47] foreseeable commented on #10917
Currently, we divided the huge`test/mocks/server/mocks.h` into ~25 different mock classes (#11797), and refactored all test library the referred this header to only include the mock class header file they used(#11912, #11952 ).

This refactoring improves build time for most test changed. Here's the spreadsheet comparing the building time before and after refactoring(some refactoring test libraries

[2020-07-09 14:52] juanvasquezreyes opened #11976 "TCP Proxy turn off nat"
We are using TCP proxy with Envoy. However, when traffic travels through proxy, Envoy replacing source IP with its own. We need help on preserving original source IP.

The upstream server is an F5 balancer in network A, clients are in network B and where envoy is running is on network C

if me client go directly to the upstream server I can see the source ip correctly, but if I go to envoy which i

[2020-07-09 15:46] alyssawilk opened #11979 "extensions/transport_sockets/raw_buffer coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/transport_sockets/raw_buffer, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when you g

[2020-07-09 15:59] #6107 closed

[2020-07-09 16:00] snowp commented on #11815
In both those cases there only seems to be IPv4 addresses present? The Ipv6 cluster doesn't appear to have any endpoints.

Re passive health checking and circuit breaking: hitting circuit breakers does not mark endpoints as unhealthy, and so they wouldn't trigger failover. If you're using the outlier detection mechanism to do passive health checking that should work, though might not be perfect (e

[2020-07-09 16:18] alyssawilk opened #11981 "extensions/filters/network/http_connection_manager coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/filters/network/http_connection_manager, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests

[2020-07-09 16:36] #11935 closed

[2020-07-09 16:38] ahedberg commented on #10917
cc @alyssawilk @jmarantz

[2020-07-09 16:48] alyssawilk commented on #10917
Very cool. Are longer builds repeatable (you could just check on one test or two)?  I notice a bunch of noise in build and test times even under fairly ideal circumstances so I wouldn't worry too much as long as the trend is positive.

[2020-07-09 17:14] htuch commented on #11931
Is this a stream reset (i.e. HTTP/2 RST_STREAM) or a regular end-of-stream from the client? If the latter, I think it's a bug if Envoy is closing down the stream, since it should remain open until the response reaches end-of-stream.

[2020-07-09 17:14] htuch commented on #11877
@sschepens I think either an OSS reproducer or some logs with the details I put in https://github.com/envoyproxy/envoy/issues/11877#issuecomment-655217363 would help. Thanks.

[2020-07-09 17:16] gongcon commented on #11774
Updated inter-communication to HTTP/1.1 between levels. Saw that the DPE errors in access log are highly correlated to the debug message `headers size exceeds limit` in envoy log. After changing the log level to trace, I can see all the headers outputs. Looking at the envoy log, the size of headers is merely a few KiB, yet the number of headers exceeds 100. Errors go away after increasing `max_hea

[2020-07-09 17:20] alyssawilk commented on #11774
Yeah, agree it should not error out in a way that's this hard to debug.  Glad you've solved the immediate issue!  I'll take on looking into reproducing and fixing the debugability problem (probably next week)

[2020-07-09 17:20] aydanjiwani opened #11982 "Change grpcStatus and grpcMessage in the response when encoding data in Envoy::Http::StreamEncoderFilter"
It is possible to send a response with the sendLocalReply method in StreamDecoderFilterCallbacks, but there is no equivalent method in the StreamEncoderFilterCallbacks. Attempted to call sendLocalReply  method of StreamDecoderFilterCallbacks inside encoderTrailers, but received runtime error - something like response header is not in the scope. Is there another way?

[2020-07-09 17:24] sschepens commented on #11877
@htuch i posted a reproduction test case here, is that good?

[2020-07-09 17:27] htuch commented on #11877
Great, that' super helpful. We should probably find an owner for this; CC @fredlas @lambdai in case they have some cycles.

[2020-07-09 17:44] rgs1 opened #11983 "subset lb: support customized response code when using NO_FALLBACK"
We have a use case for the subset LB in which we'd like to return a 404 when there is no metadata/subset match. Right now, a 503 (no healthy hosts) response is the only possible response:

https://github.com/envoyproxy/envoy/blob/master/api/envoy/config/cluster/v3/cluster.proto#L206

We could make this knob something specific to the subset LB; or we could make it something generic for all LBs simi

[2020-07-09 18:34] mkbehr opened #11984 "Allow ScopeTrackedObject crash logging without Envoy signal handler"
We have funcionality for dumping active sessions on crash, as part of issue #7300, but it isn't usable except through Envoy's signal handler: the session dump is only accessible via FatalErrorHandlerInterface, and Envoy::Event::DispatcherImpl won't register its fatal error handler unless Envoy is compiled with ENVOY_HANDLE_SIGNALS. I'd like to add an interface to call into the fatal error handlers

[2020-07-09 18:47] htuch commented on #11871
That's fine. I was suggesting that outside of the fuzz sequence, we do some initial xDS exchanges to move the server to "steady state".

[2020-07-09 19:42] #11979 closed

[2020-07-09 19:45] alyssawilk opened #11985 "extensions/common/crypto coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/common/crypto, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when you get a chance? On

[2020-07-09 19:45] alyssawilk opened #11986 "extensions/common/wasm coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/common/wasm, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when you get a chance? Once

[2020-07-09 19:45] alyssawilk opened #11987 "extensions/filters/common/expr coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/filters/common/expr, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when you get a chan

[2020-07-09 19:45] alyssawilk opened #11988 "extensions/filters/common/fault coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/filters/common/fault, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when you get a cha

[2020-07-09 19:45] alyssawilk opened #11989 "extensions/filters/http/aws_lambda coverage"
Hello,
The Envoy project has recently started collecting per-extension coverage. You have been tagged with this issue as you are a co-owner of an extension, extensions/filters/http/aws_lambda, which is below the 96.6 percent coverage mark.
Could you please take a look at coverage results (https://storage.googleapis.com/envoy-postsubmit/master/coverage/index.html) and add more tests when you get a