[2019-04-20 13:32] #6624 closed

[2019-04-20 15:53] jshlbrd opened #6664 "Invalid Redis config when using prefix_routes?"
**Issue Template**

*Title*: *Invalid Redis config when using prefix_route?*

*Description*:
I'm having difficulty getting prefix_routes to work. Based on the docs, the Redis example configuration seems to be out of date. Specifically, here: https://github.com/envoyproxy/envoy/blob/master/examples/redis/envoy.yaml#L14

[code]

The documentation says this about "cluster":
[code]

However, when I ch

[2019-04-20 16:02] brian-pane commented on #6617
Thanks @lizan. I just ran @julia-stripe's test case with some extra diagnostic logging added to Envoy and found that, independent of whether the buffer is using its internal space efficiently, a bigger problem is that `SslSocket::doRead(Buffer::Instance& read_buffer)` keeps reading into the buffer and never consumes any of the data that's been read. The buffer length increases endlessly.

I starte

[2019-04-20 16:13] #6566 closed

[2019-04-20 16:20] brian-pane commented on #6617
It looks like `callbacks_->shouldDrainReadBuffer()` eventually breaks out of that read loop in `ssl_socket.cc` ... after the buffer accumulates 1MB of data.

Then the SSL socket read callback gets called again (which makes sense, because there's still data arriving from upstream). It gets the same buffer, which has been drained, and it starts reading and buffering its next megabyte of data.
[code]

[2019-04-20 16:40] brian-pane commented on #6617
Here's the source of the 1MB buffering limit: https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/upstream_impl.cc#L553

I propose that the default should be something like 16KB, which will be safer for people running edge proxies with hundreds of thousands of concurrent connections.

[2019-04-20 17:20] mattklein123 commented on #6617
I think we need to step back here. What the default size of the flow control limit is, is IMO orthogonal to the actual problem here which is apparently a huge amount of wasted space when we read a single byte into the buffer. Can we figure out why the reservation code is not doing that efficiently so that we would only be allocating at most an extra 16KiB of buffer space in this pathological case?

[2019-04-20 17:31] brian-pane commented on #6617
I'm no longer sure that the buffer reservation code itself is doing anything wrong (other than what [PR6663](https://github.com/envoyproxy/envoy/pull/6663) fixes). Looking at how the SSL socket code is using the reservation, it's easy for it to produce large block of unused memory in the middle of a buffer.

`SslSocket::doRead(Buffer::Instance& read_buffer)` reserves two slices and does a separate

[2019-04-20 17:43] brian-pane commented on #6617
I just wrote a patch for issue 2 (internal fragmentation due to the way `SslSocket::doRead` uses the slices). I'll post a PR once the tests complete.

[2019-04-20 20:06] #6266 closed

[2019-04-20 20:23] mattklein123 commented on #6617
Yup OK I see the issue now, thanks for explaining it clearly.

[2019-04-20 20:26] mattklein123 commented on #6664
@maximebedard

[2019-04-20 20:31] #5734 closed

[2019-04-20 21:47] jmarantz opened #6667 "stats: use SymbolTable API for all stats names"
Per #4196 we are in the process of converting stat names to use a Symbol Table. To avoid taking symbol-table locks due to name-lookups in the hot-path, we should always construct StatName objects for joining together to compose fully qualified names.

This can be done incrementally, as the APIs for creating stats with StatNames exists, even though it's for now a simple surrogate.

See also #6161 a

[2019-04-21 01:20] maximebedard commented on #6664
I've been able to reproduce using the `envoy:latest` image. By using `envoy-dev:latest` it worked as a charm. I've applied to following diff locally to be able to test it out:

[code]

And the proxy booted up successfully after running `docker-compose build && docker-compose up`. I suggest trying out with the `envoy-dev:revision` image and see if you still get the same problem. I suspect the featu

[2019-04-21 04:06] #6291 closed

[2019-04-21 04:18] jshlbrd commented on #6664
Good catch -- I didn't consider that the feature hasn't yet made it into the latest Docker images. I'll try it with the dev image!

[2019-04-21 14:23] jmarantz opened #6668 "hds: tsan failure in buffer destruction seen in CI"
I just saw a TSAN failure in CI in hds_integration_test, in a PR that is only adding a new utility class that isn't used yet by other code (https://github.com/envoyproxy/envoy/pull/6504) -- it appears to be related to a race on the destruction of BufferImpl objects.

CI failure: is here: https://circleci.com/gh/envoyproxy/envoy/202432?utm_campaign=vcs-integration-link&utm_medium=referral&utm_sourc

[2019-04-21 14:57] jmarantz commented on #6668
Note: re-testing the same PR with no changes, tsan ran successfully. So unfortunately repro is not easy; we'll need to reason about what happened from the CI logs.

On my workstation, running `bazel test --config=clang-tsan --define=tcmalloc=disabled -j 8  //test/integration:hds_integration_test --runs_per_test=1000` passed all 1000 runs.

[2019-04-21 20:47] gdheller42 commented on #6119
@gsagula any change in status?

[2019-04-22 05:56] simomo commented on #2778
Yes, I have the same requirement, the current project is based on the nginx + openresty, which is a dynamic reverse proxy, with `set_current_peer` API, it can dynamically route request a particular upstream according to the URL.

[2019-04-22 12:21] silencehe09 commented on #4543
I had the same problem.
If the cluster with type "strict_dns" can't  be resolved successfully by dns,  it would take a long time (DNS request timed out 4 times)  for envoy to  reach the status of "all clusters initialized" and being ready to accept connections.   Are there any settings about  " strict dns resolution timeout " ? Or  any mechanisms can be  used to accelerate envoy's startup for read

[2019-04-22 13:16] alyssawilk commented on #1630
I think this was closed out a bit over-enthusiastically.  Envoy doesn't have the ability to mux arbitrary TCP over HTTP/H2 upgrades and then downgrade after some number of hops.   I strongly suspect we'll be adding this functionality over the next year or two but it's not there today.

[2019-04-22 17:49] brectanus-sigsci commented on #5209
I am interested in this as well for HTTP inspection and am happy to help out where I can.

I would like to see the full request and response data via gRPC calls similar to what I can get today by utilizing both the `ext_authz` gRPC for request combined with `http_grpc_access_log` for the response data. While this works for my needs now, it is a bit limiting, feels a bit hackish and is a bit cumber

[2019-04-22 18:59] #6338 closed

[2019-04-22 19:03] gsagula commented on #6119
@gdheller42 @hanyu-liu ^^

[2019-04-23 00:56] MarcinFalkowski commented on #6616
@AndresGuedez Sure.

Your guess is right. Varnish healtcheck (it is called a "probe") waits for connection closing by its backend (Envoy in this case) and adds that time to measured total time, which have to be less than the probe "timeout" parameter (otherwise heatcheck fails). Varnish doesn't close the connection by itself until the probe timeout triggers. In most recent version of Varnish this

[2019-04-23 05:07] chainhelen commented on #6598
@htuch Thx for your reply.

I expect
[code]
but in fact, as below
[code]
En, I just care，does this affect the final effect for envoy?

[2019-04-23 08:38] adriancole commented on #4839
@Dudi119 any chance you can help with this? everyone in the ecosystem including zipkin clones are affected by lack of v2 support and it seems the project maintainers are still not doing this on own

[2019-04-23 08:44] adriancole commented on #4839
ps the next version of zipkin (2.13) will also have a grpc endpoint with exact same proto3 message as http post /api/v2/spans

https://github.com/apache/incubator-zipkin-api/blob/master/zipkin.proto#L224

that said I think most clones likely will want the json endpoint (not that it is mutually exclusive)

[2019-04-23 09:04] objectiser commented on #4839
Another option may be https://github.com/envoyproxy/envoy/pull/5387 - as I believe there is a zipkin v2 exporter. Looks pretty close to being merged.

[2019-04-23 09:51] salismt opened #6681 "Client TLS authentication implementation"
**Issue Template**

*Title*: *Establishing mutual TLS with external service using envoy as proxy*

*Description*:
I have third party application integrating with my system. I don't want to use token based authentication instead I want to use mutual TLS authentication instead [mutual TLS](https://en.wikipedia.org/wiki/Mutual_authentication)
my system is using envoy as a proxy and I found out that e

[2019-04-23 11:24] devinsba commented on #4839
If I were a maintainer of envoy, I would not merge that request due to the upcoming merger of census and OT, I would let that settle and then bring in the merged c++ client. But that is just my 2p

[2019-04-23 13:03] Dudi119 commented on #4839
@adriancole sure, happy to help.

[2019-04-23 14:48] snowp commented on #6653
I think the way other people are getting around this is by having enough hosts in their clusters that panic mode won't trigger. There are certainly changes we can make to this to make it better (as mentioned earlier in this thread), but right now new hosts are going to join the pool as unhealthy.

[2019-04-23 15:45] htuch commented on #6598
@chainhelen no, Envoy will fill in the default when the proto is parsed from the wire (or YAML).

[2019-04-23 17:04] akropp-stripe commented on #6653
Ok, thanks for the info.  It'd be great to be able to pre-warm hosts before putting them in, because in the scenario where we use DNS to point to NLB's or other logical collections of hosts when you swap a value in there's not enough "hosts" to maintain a healthy minimum.

[2019-04-23 17:44] #6641 closed

[2019-04-23 18:15] qiang-nutanix opened #6685 "Support of Linker option `-fuse-ld=gold` for enabling Clang CFI schemes"
**Issue Template**

*Title*: *Support of Linker option `-fuse-ld=gold` for CFI*

*Description*:

Quoted from http://clang.llvm.org/docs/ControlFlowIntegrity.html:  "Clang includes an implementation of a number of control flow integrity (CFI) schemes, which are designed to abort the program upon detecting certain forms of undefined behavior that can potentially allow attackers to subvert the progra

[2019-04-23 18:31] aduskett opened #6686 "Switch to a build system that works with cross-compilation"
*Title*: *Bazel is terrible and makes it impossible to cross compile.*

Envoy is awesome. So awesome that I want to use it with my other projects.
As an embedded Linux engineer, I have to cross-compile everything. Generally
I use Buildroot, although I also use Yocto/Openembedded as well.

Envoy uses Bazel as it's build system, which isn't on either platform.
Bazel has some seriously bad requiremen

[2019-04-23 19:00] mattklein123 commented on #6686
@aduskett I'm sorry that Bazel is not working great for you, but there is a 0% chance we are going to switch build systems. I would much rather focus on what issues you have and getting Bazel fixed to support those use cases. As such, I would recommend closing this issue and opening specific requests either with this project or against Bazel. Thank you.

[2019-04-23 20:26] aduskett commented on #6686
I would strongly ask you to reconsider. Bazel seems to be used by just one or two projects, and requiring java (8 non-the-less!) to build a c++ program is super unfriendly.

[2019-04-23 20:37] mergeconflict commented on #6453
Alright, I've got an actual proposal (along with a half-baked implementation that I'll bake a bit more before sharing). I want to build a portion of @junr03's original design, after all. Specifically:

* The "Request Header match filter" and related config (at least in HCM, maybe also vhost and route);
* Support for the `x-envoy-add-upstream-cluster` request header and `x-envoy-upstream-cluster` r

[2019-04-23 20:38] mergeconflict commented on #6453
Jose's original design doc is here: https://docs.google.com/document/d/19IVF6SzuCYUa5K-jO22qTKCcc4qY4ckjxDXp3GE2RvE

[2019-04-23 21:28] mattklein123 commented on #6453
@mergeconflict big +1 on roughly that proposal, which is similar to what I was going to suggest in response to the admin proposal (do not forward). I think trying to have this happen within the confines of admin is going to end up a bit nutty and I would love to avoid it.

[2019-04-23 22:20] htuch commented on #6453
I'm also on board, this is a nice low touch approach. We're still adding a "do not forward" capability here to router, but it's a pretty lightweight change to what exists today.

[2019-04-23 22:23] mattklein123 commented on #6453
I think having do not forward is generally useful, and will play in well with other features we want in the future, so I think it's a big win either way.

[2019-04-23 23:20] curiouserrandy opened #6689 "ares_library_cleanup() won't be called if an exception occurs in MainCommonBase constructor."
*Title*: ares_library_cleanup() won't be called if an exception occurs in MainCommonBase constructor.

*Description*:
The MainCommonBase constructor sets up some global state; specifically, it calls ares_library_init() as its first line.  That global state is reset in ~MainCommonBase via ares_library_cleanup().   If an exception is thrown from a function called from the MainCommonBase constructor

[2019-04-23 23:40] SunilAgrawal commented on #6685
+1

This, and the SafeStack option in CLang (https://clang.llvm.org/docs/SafeStack.html), will definitely improve the overall security of Envoy.

[2019-04-24 00:19] jmarantz commented on #6689
Are you sure this is a problem? I'm not an C++ exception expert but a little searching found this:

https://www.geeksforgeeks.org/exception-handling-and-object-destruction-in-c-set-1/

[2019-04-24 00:32] curiouserrandy commented on #6689
Pretty sure, yes.  That example throws an exception after construction, and my concern is with exceptions thrown *from the constructor*.

Think of it this way: If an exception is thrown from the constructor, if you call the destructor it won't know how much of the object has been constructed or not.  Putting it a slightly different way, either the constructor itself has to cleanup on the way out (

[2019-04-24 00:34] curiouserrandy commented on #6689
Also, the example you give, if you scroll down, shows exactly the behavior I describe: when a throw occurs from in the constructor, the destructor isn't called.

(Sorry I didn't read through the entire example before replying.)

[2019-04-24 00:36] mattklein123 commented on #6689
Yeah this is a bug. The fix is simple, just put cares c-ares construct/destruct in its own holder object, and hold that in the larger main class. C++ will always destruct something that is fully destructed, even if a parent constructor throws.

[2019-04-24 00:46] #6487 closed

[2019-04-24 01:40] jmarantz commented on #6689
Maybe CSmartPtr would do the job: https://github.com/envoyproxy/envoy/blob/master/source/common/common/c_smart_ptr.h

[2019-04-24 02:40] chainhelen commented on #6598
@htuch ok, get it.Thx for your reply

[2019-04-24 02:40] #6598 closed

[2019-04-24 07:44] glebmish opened #6694 "HTTP PATCH logged as METHOD_UNSPECIFIED when logging with ALS"
*Title*: HTTP PATCH logged as METHOD_UNSPECIFIED when logging with ALS

*Description*:
I use PATCH requests that go through envoy and logs are written with als implemented on golang. I expect to see "PATCH" as a result of this code:

Instead, I see "METHOD_UNSPECIFIED".
When I tried to find the reason in the library code, I found that PATCH is not in the list of request methods in base.proto (whic

[2019-04-24 08:08] vaibhavrtk commented on #3771
I am still facing this issue. Anyone found any solution for this? @dnivra26 @bwplotka

[2019-04-24 08:51] fttyX opened #6695 "Log cookie value in access log"
Hi.
Quick question: now to log cookie value in envoy access log?

For example, I have cookie SESSIONID, passing it with curl as --cookie "SESSIONID=1234-abcd-1234-abcd" and having %REQ(SESSIONID)% in access log format, but getting "-" in log. Is %REQ(SESSIONID)% just for headers? How to get request/response cookie value there?

(In nginx it is $cookie_SESSIONID/$upstream_cookie_SESSIONID log forma

[2019-04-24 09:42] farcaller opened #6696 "mysql filter fails to parse a partial mysql message"
When faced with a fragmented packet, mysql filter fails to parse a mysql message and gives up.

The issue is reproduced with istio-1.1.3 ([istio bug](https://github.com/istio/istio/issues/13484)), by having php talk to mysql. When the mysql filter is enabled, envoy fails with:

[code]

after which the connection stalls and php times out.

Here's the last packet forwarded by envoy:

![image](https:

[2019-04-24 10:54] farcaller commented on #6696
The overflow happens [here](https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/network/mysql_proxy/mysql_codec.h#L116). The assumption is that the new `offset` is the whole parsed `len` but in the case above the len would point past the `data` as the tail of the PDU is in the next frame. Looking at it I don't see a clear way to communicate to the upper later that not the who

[2019-04-24 11:06] #6225 closed

[2019-04-24 12:26] jmarantz commented on #4196
I was considering this the 'master' bug which would be closed when all the other ones were, ultimately when #4980 is submitted.

[2019-04-24 12:55] alyssawilk commented on #6453
Is do not forward substantially different from the router's existing direct response path?  Can we refactor that to do what we're looking for here?

[2019-04-24 12:59] mergeconflict commented on #6453
Not substantially different at all; my work-in-progress impl is just a few additional lines of code in the router.

[2019-04-24 14:35] huang195 commented on #5536
@iandyh thanks for sharing that. I saw something very similar to that as well - a significant amount of CPU being spent in telemetry and tracing, and http parsing.

There are already a few issues opened about the performance problems of the `http_parse` library that's being used, so hopefully that can be addressed. I'm more interested in all these additional stuff that Istio filters added off the

[2019-04-24 15:52] #5104 closed

[2019-04-24 16:17] mattklein123 commented on #5536
To set expectations, any perf gains there are going to be minimal. There is no low hanging fruit. Also, HTTP/1 is becoming increasingly irrelevant so I'm not sure how much it matters to most real world workloads.

Istio has well known performance problems that they are working to address with Mixer v2. I would recommend following up with them as this is really outside the scope of the core Envoy p

[2019-04-24 19:36] snowp commented on #6696
@venilnoronha Mind taking a look?

[2019-04-24 19:39] mergeconflict opened #6699 "race condition in DispatcherImpl"
There is a race condition in `DispatcherImpl`, between this write in `initializeStats` on the main thread:

[code]

and this read in `run` on the worker threads:

[code]

Disconcertingly, this wasn't caught by our tsan build, so it is not easy to reproduce. @AndresGuedez caught this when trying to do our weekly import at Google.

The code is written this way because it's important to log the threa

[2019-04-24 19:56] maximebedard commented on #5997
After chatting w/ @derekargueta on Slack, we both started in different directions on this, which I think we can eventually start merging things together. I have to support the binary protocol, so I've started writing up a binary codec [here](https://github.com/envoyproxy/envoy/compare/master...maximebedard:memcached-proxy-p1?expand=1).

[2019-04-24 20:04] dnoe commented on #6580
Looks like `StringUtil::atoll` can be replaced entirely by calls to `absl::SimpleAtoi` since all uses are base 10 conversions.

[2019-04-24 20:43] huang195 commented on #5536
@mattklein123 thanks for your response. Regarding to filters, to someone who's new to Envoy, it might not be immediately obvious that a piece of filter code that runs off the critical path could have a significant impact to requests on the critical path under certain conditions. `libevent` supports multiple priorities, but those are currently not used in Envoy today. Perhaps, it's worth exploring

[2019-04-24 20:47] lizan commented on #6685
By default (if `--linkopt=lld` isn't supplied to bazel) gold is the default linker.

You can add compiler flag and linker flag via `--copt=` and `--linkopt=`, did that work? If so a PR to .bazelrc for a CFI config is welcomed.

[2019-04-24 21:09] fredlas commented on #5270
The aggregated delta implementation mentioned above is now "done", in that a week or two ago it reached the point of having all the features I wanted, and passing all tests. I still have to merge some recent work around there back in, but I should be opening a PR for it pretty soon.

[2019-04-24 21:27] htuch commented on #5536
We could certainly consider threads or events with priorities, but none of that would help if you're measuring performance at close to serving capacity, since there just won't be enough CPU to go around and you either indefinitely delay the stats or drop them or pay the latency cost _somewhere_.

When operating with plenty of spare CPU capacity, I agree, this approach would yield some benefit for

[2019-04-24 23:35] #6699 closed

[2019-04-24 23:40] cpaika commented on #6361
@mattklein123 Sorry for the late response, just got over the worst cold.  Sounds perfect I'll get right on it.  Super appreciate the suggestions for next steps from everyone, really helps make it approachable to get involved as someone who hasn't contributed to open source before

[2019-04-25 07:21] harryge00 commented on #6555
closed. This is a feature request with few demand

[2019-04-25 07:21] #6555 closed

[2019-04-25 10:21] pepjo commented on #2092
The pull request was closed 6 days ago. What is the status of this feature?

[2019-04-25 13:22] huang195 commented on #5536
@htuch yep, agree. What I've seen sometimes is benchmarks themselves being the cause of excessive queuing delays. This was described earlier with `fortio` parallel clients, in which case, there is plenty of spare CPU, but due to 4 worker threads handling 100 parallel connections, queued requests could experience long-tail latency issues because instead of marshaling packets back and forth, they sp

[2019-04-25 14:33] AndresGuedez commented on #6616
Understood.

It seems most other proxies don't attempt to mitigate the connection close race condition that the delayed close timeout addresses. For your use case, it may be the case that clients and backends are well behaved in general, and your best option for now may be to simply disable this timeout. Doing so will leave open a small risk for connections to be leaked if they become inactive _af

[2019-04-25 16:07] m-mayran commented on #2635
Hi, what is the current best way to achieve this. I am trying to do two things:

1. Read a value in the request body (both for GET and POST)
2. Update a header with that value to do some affinity.

I get 2. to work if I hardcode the header but I am struggling to read the body from envoy_on_request.

With an [ugly] request_handle:headers():get(":path"), I can to do what I want for GET requests but

[2019-04-25 17:00] ahedberg opened #6706 "Expose stats store singleton via Api::Api"
*Title*: Expose stats store singleton via Api::Api

*Description*: We have a use case where we want to read stats exported by the xDS APIs from a filter. The stats store isn't globally accessible right now, and we'd rather not make admin requests to /stats from the filter. Could we expose the stats store via Api::Api, thus making it accessible to the filter via FactoryContext?

[2019-04-25 17:10] junr03 commented on #6706
@jmarantz I think you are the best person to comment on this probably.

[2019-04-25 17:12] junr03 commented on #6694
The context is right here. For the ALS to be able to correctly send that value, that value needs to be added to the enum. The text logs don't work off of the proto, so that is why you are seeing the correct value there.

Feel free to submit a PR, contributions are greatly appreciated!

[2019-04-25 17:16] mattklein123 commented on #6706
I would be OK exposing the root scope (not store) as a const object only. @jmarantz WDYT?

[2019-04-25 17:32] junr03 commented on #6695
%REQ(X?Y):Z% and its response counterpart %RESP(X?Y):Z% work on http headers (docs on them [here](https://www.envoyproxy.io/docs/envoy/latest/configuration/access_log#command-operators)). This means that if you are modifying the Cookie header with curl the header you want to print is Cookie.

[2019-04-25 17:33] htuch opened #6708 "runTime Discovery Service (TDS)"
This issue tracks providing runtime configuration via a pub-sub xDS API called TDS. The idea is that any runtime feature should also be configurable via xDS (and bootstrap statically).

I think a good approach to this might be to define the runtime canonically in protobuf. It would still retain its existing tree hierarchy and types, but the implementation would derive these from the protobuf defin

[2019-04-25 17:34] jmarantz commented on #6706
Root Scope SGTM. Store inherits from Scope and adds the counters(), gauges(), and histograms() APIs . Ashley -- is that sufficient? You would just look up stats you know the name of?

[2019-04-25 17:38] mattklein123 commented on #6706
Oh yeah I guess if it needs to list out all stats, doing the store might be needed. As long as it's const sounds OK.

[2019-04-25 18:06] ahedberg commented on #6706
We know the names of the stats we care about, so root scope should be sufficient.

[2019-04-25 21:39] htuch commented on #6591
Based on discussion at the postmortem, it seems that there is no good reason to remove maintainers or their sponsoring organization (further reasoning to be provided in https://github.com/envoyproxy/envoy/issues/6586). So, I'll close this one out (and reopen if https://github.com/envoyproxy/envoy/issues/6586 takes a turn).

[2019-04-25 21:39] #6591 closed

[2019-04-25 22:29] mergeconflict commented on #6453
/assign @mergeconflict

[2019-04-25 22:30] mergeconflict commented on #4283
I've started working on this for really real.
/assign @mergeconflict

[2019-04-25 23:31] larrywest commented on #6355
Yes, the PR for this issue, #6384, was merged in, and should be part of the 1.11.0 release.

[2019-04-25 23:31] #6355 closed

[2019-04-26 01:25] #6319 closed

[2019-04-26 03:51] mattklein123 opened #6716 "http: allow server header to remain unmodified"
Right now there is no option to allow the server header to be passed through unmodified. This may be useful in various cases, but especially when running Envoy as a client library.

cc @goaway @junr03

[2019-04-26 07:57] fttyX commented on #6695
@junr03 Thank you, however this prints out all cookie headers (list of keys and values). Is there any way to print out just one specific cookie value?

[2019-04-26 12:23] glebmish commented on #6694
Thank you @junr03 ! I'll try to fix and submit PR next week then

[2019-04-26 14:27] ahedberg commented on #6706
While working on a test in #6712, I realized that the counter/gauge/histogram APIs in Stats::Scope are not const. I'm not sure it's reasonable to affix the const qualifier to those member functions--Envoy::Stats::IsolatedStoreImpl is an eventual subclass, and does decidedly non-const things in its implementations (like adding cached stats to a hash map). This unfortunately makes a const Stats::Sco

[2019-04-26 14:55] mattklein123 commented on #6706
@ahedberg it would be more work, but one option would be to add a const get method to the scope which will only get a stat and not create it. This would probably be generally useful. I don't think we should provide a non-const root scope to all extensions. The other option would be to just return the const store (not scope) which allows you to iterate over all stats. Maybe this would be enough? cc

[2019-04-26 15:34] jmarantz commented on #6706
Having const getters sgtm. Now; should the returned Counter& also be const, so that you can observe the value but not increment?

What's the usage model for const stats?

[2019-04-26 16:05] jaygorrell commented on #3582
I get the same logs here (also on Istio), but my case is isolated to situations where the target service is going through a rolling update.

[2019-04-26 17:36] qiang-nutanix commented on #6685
@lizan, So, I made change pasted at the bottom. But running docker build with bazel.dev failed with below error, I wasn't able to find config.log from the mounted /build folder. Can you tell me where I can find the config.log or the build logs? also, can you see any issue with my change?

...
checking whether the C compiler works... no
configure: error: in `/tmp/tmp.5knV6iKtkT':
configure: error:

[2019-04-26 17:40] jmarantz commented on #6706
Sorry I didn't read Matt's and Ashley's comments closely enough and missed a key point -- I think if we want to provide a conceptually const stat store or scope, that provides read-only name lookups, it should still have the same caching behavior and we should annotate the hash tables as mutable, adding new behavior that will avoid creating new stats for a new name, but will populate the caches as

[2019-04-26 17:49] qiang-nutanix commented on #6685
@lizan:

At .bazelrc, I added below 2 lines at the end:
build:clang-cfisan --linkopt -flto
build:clang-cfisan --linkopt -fsanitize=cfi

At ci/build_setup.sh,
I removed --linkopt=-fuse-ld=lld from BAZEL_BUILD_EXTRA_OPTIONS, and replaced
bazel build ${BAZEL_BUILD_OPTIONS} -c fastbuild //source/exe:envoy-static
with
bazel build ${BAZEL_BUILD_OPTIONS} -c fastbuild --config=clang-cfisan //source/exe:en

[2019-04-26 19:06] lizan commented on #6685
@qiang-nutanix I think you need both linkopt and copt.

I was able to build with extra options: `--copt=-fsanitize=cfi --linkopt=-fsanitize=cfi --copt=-flto --linkopt=-flto --copt=-fvisibility=hidden --copt=-Qunused-arguments --linkopt=-Qunused-arguments`, (without lld)

[2019-04-26 20:01] lavignes commented on #5215
Sorry for the really long delay here. I'm going to getting back on this soon. Most of the code is already written on my branch, but isn't quite ready for a PR

[2019-04-26 21:11] qiang-nutanix commented on #6685
@qiang-nutanix, I got errors when I use the extra options you used, am I missing something?

[38/41] Linking C executable minigzip64
[39/41] Linking C executable example64
[40/41] Linking C executable minigzip
[41/41] Linking C executable example
FAILED: : && /build/tmp/_bazel_bazel/b570b5ccd0454dc9af9f65ab1833764d/external/local_config_cc/extra_tools/envoy_cc_wrapper  -U_FORTIFY_SOURCE -fstack-pr

[2019-04-26 21:16] jaygorrell opened #6726 "Retry not firing as expected, even with retriable_status_codes"
**Issue Template**

*Title*: *Some 503 conditions not being retried, even with 503 as a retry code*

*Description*:
In an Istio environment every service has a default retry policy now. It looks like this:
[code]

During scale-down events, I get logs like the following on the client-side that appear to not be re-tried:
[code]

If I override the default retry with my own that uses `retryOn: gateway

[2019-04-26 21:27] MSex opened #6727 "HTTP2 flow control"
My use case is using envoy as a sidecar for a gRPC server streaming fast produced data to a slow client. The default behavior for envoy in this case was to buffer a huge amount of data and so it allocates a lot of memory. To configure flow control so to limit the memory usage it was necessary to set _http2_protocol_options.initial_stream_window_size_ in both the _cluster_ and the _http_connection_

[2019-04-27 02:34] Tenseiga commented on #2852
Subscribing..

[2019-04-27 04:29] AaronTriplett opened #6730 "Support connection termination for hash-based load balancers"
###  Support connection termination for hash based load-balancers

When using long-lived connections (websockets / gRPC) with a hash-based load balancer for the purpose of session affinity between a connection and upstream host, there is a need to be able to kill existing connections during rehashing (host added or removed).

Currently, if a long-lived connection is active and affinitized to a spe

[2019-04-27 19:44] mattklein123 commented on #6730
This is an interesting feature request. I think this can definitely be added as a LB option for the hashing LBs. Marking help wanted.

[2019-04-27 19:45] mattklein123 commented on #6727
@MSex unfortunately there is a lot of historical baggage around the flow control defaults. @alyssawilk and I would both like to change some of them, but it's a hard thing to do at this point without a lot of thought. For now if you feel like it, please feel free to add more verbiage and warnings to https://www.envoyproxy.io/docs/envoy/latest/faq/configure_flow_control. Much appreciated.

[2019-04-27 19:49] mattklein123 commented on #6726
Yeah this is the same issue as https://github.com/envoyproxy/envoy/issues/5876, but I'm going to keep this one open and mark it help wanted as it has a lot less text. For someone coming along, the relevant fix needed is simple and is here: https://github.com/envoyproxy/envoy/issues/5876#issuecomment-462205526

[2019-04-27 19:49] mattklein123 commented on #5876
Closing in favor of https://github.com/envoyproxy/envoy/issues/6726

[2019-04-27 19:49] #5876 closed

[2019-04-28 00:11] #6313 closed

[2019-04-28 00:58] cbarbara-okta opened #6734 "with both http_connection_manager and tcp_proxy filters enabled, http connection with downstream closed after 20 seconds"
*Title*: http requests are disconnected from downstream after 20 seconds when we had two filters `http_connection_manager` and `tcp_proxy` enabled

*Description*:
I don't think this is a bug, but would like to understand more about why envoy was behaving this way.
Here is our setup: we have to use nginx to proxy requests to a sidecar envoy to use mtls to send the request to another service's envoy

[2019-04-28 01:11] #6349 closed

[2019-04-28 16:11] #6334 closed

[2019-04-28 16:43] mattklein123 opened #6736 "//test/integration/... requires compiling all extensions"
I have noticed that when testing `//test/integration/...` it compiles all extensions. I think this is probably because there is some server test in there that also compiles all extensions, but I'm not sure.

Optimally, we should be able to run these tests without having to compile any extra extensions beyond potentially core ones like router, HCM, etc. This is useful on platforms that won't suppor

[2019-04-29 02:38] dsymonds commented on #1220
I am also interested in improvements here.

My use case has not been directly mentioned before: it is to support TLS cert rotation when using plain certs as a CA file. That is, I have Envoy doing TLS termination for clients that provide self-signed certificates. Envoy is configured to load those same certs as the downstream `tls_context.common_tls_context.validation_context.trusted_ca`. This works

[2019-04-29 08:00] mohammadMahdavi commented on #5051
I also want to rename the existing heather. Is there any solution?

[2019-04-29 08:02] derekargueta opened #6738 "UdpListenerImplTest.UdpEcho/IPv4 test flaky on OSX"
*Title*: UdpListenerImplTest.UdpEcho/IPv4 test flaky on OSX

*Description*:
`UdpListenerImplTest.UdpEcho/IPv4` appears flaky, so far I can only reproduce on OSX.
[code]

Error:
[code]
[Statement that failed](https://github.com/envoyproxy/envoy/blob/b8325ac4167284b4d566c2779c15ec3c8473dc66/test/common/network/udp_listener_impl_test.cc#L312)

[2019-04-29 08:03] mohammadMahdavi opened #6739 "Rename the existing header"
**Issue Template**

*Title*: *Rename the existing heather*

*Description*:

[2019-04-29 10:08] derekargueta commented on #6738
Seems that sometimes `onWriteReady` executes before `onData`.

[2019-04-29 10:18] derekargueta opened #6740 "UdpListenerImplTest.UdpListenerRecvFromError/IPv4 test flaky"
*Title*: `UdpListenerImplTest.UdpListenerRecvFromError/IPv4` test flaky

*Description*:
This test occasionally fails. Tested on an Ubuntu 18.04.02 machine with IPv4-only
[code]

Error:
[code]

[Failed statement link](https://github.com/envoyproxy/envoy/blob/b8325ac4167284b4d566c2779c15ec3c8473dc66/test/common/network/udp_listener_impl_test.cc#L490)

I don't _think_ it's the same issue as #6738 as

[2019-04-29 13:46] #6353 closed

[2019-04-29 19:29] alyssawilk commented on #6616
I'd say that making Envoy more complicated to deal with non-compliant clients is not a high priority :-P

If folks are being impacted by this (yes) and have the cycles to dig into workarounds (maybe?  Marcin?) then we might allow the complexity, but I don't think it's a logical follow-on to Andres' work fixing the race for standards abiding clients.

[2019-04-29 19:42] htuch commented on #6271
We now have a design document to share:
* [Full design document](https://docs.google.com/document/d/1xeVvJ6KjFBkNjVspPbY_PwEDHC7XPi0J5p1SqUXcCl8/)
* [TL;DR summary](https://docs.google.com/document/d/1HPe-4Fcr5panEjhhKHoByw0NnRGzjDdi0BcC8A2T9Sw/edit#)

[2019-04-29 20:04] kiranisaac opened #6744 "Envoy Segfaults"
*Title*: *Envoy is segfaulting*

*Description*:
Envoy is segfaulting. I am sending http1 GET requests. Envoy has grpc transcoding setup. Backend service is a grpc service.

I am running   envoyproxy/envoy-alpine-debug:v1.10.0 within a docker container on a VM.

*Repro steps*:

required to reproduce the bug.

[code]

Envoy config here
[code]

[2019-04-29 21:13] sumukhs commented on #3628
I have a slightly related requirement where clusters can potentially mark their endpoints to be addressable by DNS names. With this information, Envoy would know how to resolve dns queries.

Today, we are implementing this logic in a separate DNS server by mapping the dns name to the cluster endpoint, but would be better to integrate it into Envoy.

Is there anyone else working on something relate

[2019-04-29 21:41] zanes2016 commented on #5851
I believe we're also experiencing this issue when a third-party added a dependency on gogo/protobuf.

[code]

Is there a work-around for this?

[2019-04-29 21:48] sumukhs opened #6748 "UDP based DNS server/filter - Feature Request"
Similar to previously closed [issue](https://github.com/envoyproxy/envoy/issues/3628).

This feature request is to run Envoy as a DNS server. A new filter section for DNS can be added, which contains mapping from the dns name to the cluster name. The mapping can be configured statically via the config file or dynamically using xDS API.

Motivation:
We currently have a separate DNS server handling

[2019-04-29 23:59] kiranisaac commented on #6744
Update: Increasing the per_connection_buffer_limit_bytes fixed the issue. I still think envoy shouldn't segfault in this case

[2019-04-30 00:00] mattklein123 commented on #6744
cc @lizan.

[2019-04-30 03:40] yangminzhu opened #6751 "Proposal: Improve RBAC to attribute-based engine and CEL-based API"
*Title*: *Improve RBAC to attribute-based engine and [CEL](https://github.com/google/cel-go#common-expression-language))-based API*

*Background*:
The current [RBAC engine](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/rbac_filter) implements the access control with an [role-based API](https://github.com/envoyproxy/envoy/blob/56f2f0d0161051a0b0eea1e1bad355a4668f1930/api/en

[2019-04-30 05:49] mattklein123 commented on #6751
In the current RBAC filter, IIRC Google insisted on the permission vs. principal split we have today. I never thought this was necessary given generic matching rules. Why is this not required in the CEL world if it was required in the non-CEL world (assuming CEL is a generic matching language)?

My main concerns are:
1) Performance vs. fixed matching. Building a generic attribute context is not fr

[2019-04-30 05:53] mattklein123 commented on #6748
Yes, we would need to complete UDP basic filter support for this to be implemented as an extension. cc @envoyproxy/quic-dev

[2019-04-30 14:20] sumukhs commented on #492
Wanted to pitch in here - A UDP proxy with a network filter can be useful in my scenario to create a DNS filter to respond to DNS requests. I would like to use Envoy as a DNS server where clusters are tagged with DNS names and the routing information present in Envoy can be used to respond to DNS - specifically DNS A records.

[2019-04-30 14:45] ahedberg commented on #6706
I think adding `Counter* const getCounter(const std::string& name) const;` and friends for gauges and histograms to the scope, which will populate the underlying cache but not create new stats, makes sense and is worth investing time in. Otherwise I suspect we'll see folks reinventing the "iterate over all counters to find the one(s) we care about" loop.

I'll move forward with that plan if that s

[2019-04-30 14:50] jmarantz commented on #6706
SGTM overall, modulo 2 things:
 * can you make the implementation take a Stats::StatName rather than a const std::string& name? All new calls should use StatName.
 * Note that the implementation of this in thread_local_store.cc will likely merge-conflict with @fredlas #5910 . That's not a reason not to do it, we should just be aware of it. Hopefully that will merge before too long.

[2019-04-30 15:24] billybanfield commented on #5555
hey @junr03 @mattklein123 I believe I've confirmed the existence of some issue here, seems we can remove the stale bot here?

[2019-04-30 16:26] mattklein123 commented on #5555
marking help wanted. cc @snowp in case he has time to take a quick look.

[2019-04-30 17:28] sumukhs commented on #6748
Thanks @mattklein123 .

Is there an existing PR or work stream where we can contribute?
@appario and myself would be available to work on this effort.

[2019-04-30 18:23] maximebedard commented on #5997
A quick update, but I have a [draft PR](https://github.com/envoyproxy/envoy/pull/6742) with a simple codec. Not entirely satisfied with the codec just yet, but I think I need to do some work on the redis proxy in order to try to reuse the connection pooling logic before I continue.

Ultimately, I'll try to see if I can generalize the connection pool to avoid being aware of the redis protocol. I'll

[2019-04-30 18:29] cmluciano commented on #6748
@sumukhs I am currently working on plumbing UDP into upstream paths. I can cc on this PR once pushed (fixing some tests this week).

[2019-04-30 18:34] monubamb commented on #6165
what was the issue. i am getting the same error on my side

[2019-04-30 18:36] monubamb opened #6754 "Envoy POD on AKS refusing connection"
I have envoy proxy pod listening on port 6004 inside AKS proxying connection to an external VM endpoint. When I connect to the POD, I get connection refused.

E0429 19:44:45.579885     277 portforward.go:331] an error occurred forwarding 6004 -> 6004: error forwarding port 6004 to pod 872cfaa98e82be7644cca89e85ea5b2ac9d5a5b382fb20e7e3e1b72afa54e7a0, uid : exit status 1: 2019/04/30 02:44:44 socat[1

[2019-04-30 18:48] monubamb opened #6755 "How to access Envoy API's for dynamic configuration"
I need to  find a way to access Envoy API's for dynamic configuration on AKS. I am deploying envoy on AKS. Do i need to create my own control plane to access these API's? What is best way to do it?

[2019-04-30 18:54] drao9 commented on #6364
I was out on vacation the past few weeks - I am working on this now and will have a PR in a couple of days.

[2019-04-30 19:09] venilnoronha commented on #6696
The filter doesn't handle messages over 16mb currently. This requires some work around buffer caching. Buffer caching can impact performance, and that's the reason for not implementing it in the first cut.

https://github.com/envoyproxy/envoy/blob/74563b2ba203cccbf3a07fb4c9d832ba94eb569a/source/extensions/filters/network/mysql_proxy/mysql_decoder.cc#L164-L165

[2019-04-30 19:52] sumukhs commented on #6748
Thanks @cmluciano. Could you share the private repo/PR link? Is there a target date you are aiming for?

[2019-04-30 20:07] justConfused commented on #6165
@monubamb

address: 127.0.0.1
      port_value: 9901

My address was binded to loop back address. Changing 0.0.0.0 worked

[2019-04-30 20:10] farcaller commented on #6696
there might be a typo then as the packet is only 16 KB long – which makes this filter rather useless for any serious payload...

[2019-04-30 20:12] farcaller commented on #6696
Also [the docs](https://dev.mysql.com/doc/dev/mysql-server/latest/page_protocol_basic_packets.html) you linked talk about the PDU size (the mysql packet) whilst this is a problem with the TCP fragmentation, the PDU in this example is merely bytes long.

[2019-04-30 21:12] fredlas opened #6756 "stats: don't leak obsolete stats across hot restart"
Stats previously "migrated" across hot restart by simply living in shared memory. With PR #5910, they will instead be passed in messages from hot restart parent to child. In the current implementation, the merging of a parent's counter value into the child is indistinguishable (from the stats system's point of view) from the actual child Envoy legitimately add()ing to that stat. The result is that

[2019-04-30 22:48] venilnoronha commented on #6696
What version of MySQL are you running?

[2019-04-30 23:07] ashwini-vasanth opened #6758 "Configure Envoy from the Envoy filter"
**Issue Template**

*Title*: *Configure Envoy (Clusters/endpoints and certificates) from the Envoy filter *

*Description*:

[2019-04-30 23:18] yangminzhu commented on #6751
I think the main benefit of splitting the permission and principal at that time was probably to make it more readable in cases it's used directly in control plane or some operators want to write it directly. Istio actually have separate user-facing RBAC policy and we don't expect users to write the RBAC envoy config directly, so we could do a small cleaning by not splitting the permission and prin

[2019-04-30 23:33] liminw commented on #6751
Correct. Splitting principals and permissions is mainly to improve readability of the policy. Access control policy language can be divided into two types, RBAC (Role based) and ABAC (Attribute based). RBAC is normally considered more user friendly, and easier to reason about who has access to a service/method/path/resource. CEL is ABAC language. If we consider data plane (Envoy) policy only consu

[2019-04-30 23:50] #3631 closed

[2019-05-01 00:59] jmjolysc opened #6763 "Envoy accepts any upstream certificate as long as the CA is trusted"
**Envoy accepts any upstream certificate as long as the CA is trusted**

*Description*:
Envoy **v1.10.0** has no way to validate the subject's CN on a certificate. In fact, Envoy accepts any upstream, non-expired certificate as long as it has been signed by a whitelisted `trusted_ca`.

Even though it is possible to verify the alternative names on an upstream certificate (`verify_subject_alt_name`)

[2019-05-01 02:38] dprotaso commented on #6098
Bump

On Tue, Apr 30, 2019 at 17:19 stale[bot] <notifications@github.com> wrote:

[2019-05-01 03:21] mattklein123 commented on #6756
@fredlas I'm marking this a bug and going to assume you are going to work on it as a near-term follow up, right?

[2019-05-01 03:58] mattklein123 commented on #6734
@cbarbara-okta in general the HCM and tcp_proxy filters should not be used together. I have no idea what will happen, but probably nothing good. What are you trying to do?

[2019-05-01 03:59] mattklein123 commented on #6758
I would look into adding a cluster cluster extension which is now possible. See https://github.com/envoyproxy/envoy/pull/6446

[2019-05-01 04:00] mattklein123 commented on #6763
@lizan @PiotrSikora

[2019-05-01 09:35] lizan commented on #6763
Yes it is. The configuration example you provided does no validation other than trusted CA, so it won't validating other field.

This is also expected, the use of X.509 Common Name is deprecated in RFC 2818 (published in 2000!), and many of clients already dropped support of validating DNS name against CN years ago (e.g. Chrome >= [58](https://www.chromestatus.com/feature/4981025180483584) and Fir

[2019-05-01 09:57] jmjolysc commented on #6763
Thank you @lizan, I really appreciate the detailed explanation. I'll start validating the upstream certificates with `verify_subject_alt_name`.

[2019-05-01 09:57] #6763 closed

[2019-05-01 13:17] fredlas commented on #6756
Correct, I will start on it now, now that #5910 looks unlikely to significantly change further.

[2019-05-01 13:42] farcaller commented on #6696
it's mysql 5.7.14.

Just to be sure we're on the same page – how is that relevant?

The existing code implicitly trusts the user input and seeks the buffer to the user-provided value. That's very similar to openssl's heartbleed; thankfully not exploitable by the defensive programming on the buffer side.

In general you shouldn't expect any PDUs to be perfectly aligned to the TCP frames. This parti

[2019-05-01 14:06] fredlas commented on #6756
One important piece of info: do we consider the child accessing a stat's .value() to be enough to want to keep it, or should the child need to modify the value?

[2019-05-01 14:21] trevorlinton opened #6767 "Envoy does not adhere to HTTP/2 RFC 7540"
*Title*: Envoy does not adhere to HTTP/2 RFC 7540

*Description*:

[optional *Relevant Links*:]
* https://tools.ietf.org/html/rfc7540#section-9.1.1 - section describing connection re-use
* https://tools.ietf.org/html/rfc7540#section-9.1.2 - section describing misdirected response
* https://bugs.chromium.org/p/chromium/issues/detail?id=954160#c5 - The bug was originally filed against Chromium howev

[2019-05-01 14:55] mattklein123 commented on #6756
Optimally the thing we key off of is creation, not access or modification. This would be similar to the previous behavior, and I think optimal from a performance perspective.

Keep in mind that if you add and then delete, you probably need to setup some type of temporary scope, because stats cannot be deleted from the root scope IIRC. This is why I still think it might be better to not add at all

[2019-05-01 15:13] dkalani commented on #6696
Yea I see the problem here, and should be independent of the Mysql version. venil let’s spend some time together to see how to fix it.

Deepa

[2019-05-01 15:21] stevesloka opened #6768 "Route with partial tls_certificate breaks Envoy and logs private key"
*Title*: Route with partial tls_certificate breaks Envoy and logs private key

*Description*:
We had an issue come up with Contour where a user was using Let's Encrypt with CertManager to provision TLS certificates. During the provisioning process, they hit a rate-limit in Let's Encrypt. This resulted in a private key being provisioned but that's all.

When Contour saw this Kubernetes secret get c

[2019-05-01 16:27] #6587 closed

[2019-05-01 18:22] lizan commented on #6744
Looks like a flow control issue? cc @alyssawilk

[2019-05-01 18:51] honghzzhang opened #6769 "How to build envoy binary on Mac and then run in kubernetes cluster as part of the istio proxy image"
Please see my post in istio forum for more background:
https://discuss.istio.io/t/how-to-build-istio-proxy-image-on-mac/2104

Basically, I have built envoy binary on Mac, and then built istio proxy image on top of the envoy binary (with GOOS=linux), but the proxy image was not usable when I installed istio on linux based kubernetes cluster (exec format error).

This could be a common use case for

[2019-05-01 19:05] yangminzhu commented on #6248
/cc @yangminzhu

[2019-05-01 20:57] moderation commented on #6769
The binary built on a Mac using Bazel is built for that platform and won't run in Linux. In theory you could build Linux binaries on a Mac using the Docker method outlined at https://github.com/envoyproxy/envoy/tree/master/ci#building-and-running-tests-as-a-developer

[2019-05-01 21:01] alyssawilk commented on #6744
At first glance we're getting data from upstream, we go over the limit, send en error response, call doDeferredStreamDestroy, which triggers router cleanup and deletes the upstream request while we're still under the stack of the upstream request.    That seems pretty sketchy from a lifetime perspective.  I'll have to poke around tomorrow and see what changed and/or if I can reproduce.  I know we

[2019-05-01 21:05] kuroneko25 opened #6772 "Building envoy filters with docker CI scripts"
Do we have a guide somewhere that shows you how to build a custom filter (and link to envoy binary) using the `run_envoy_docker.sh` wrapper or some variation of it? It would be really nice to be able to do a containerized build of custom filters on our CI system.

[2019-05-01 21:09] htuch commented on #6592
@yanavlasov as discussed this morning, this would teach us a lot about the topography of this domain.

[2019-05-01 21:39] ashwini-vasanth commented on #6758
Thank you so much for the quick reply @mattklein123  This sounds like a great approach for us to apply configuration at a cluster level. I will investigate this further. The current model were are following is to leave core envoy untouched and develop filters based on envoy_filter_example. If we wanted to configure Envoy from the filter, would that mean the filter would have to speak the xDS proto

[2019-05-01 21:39] kuroneko25 commented on #3875
Just curious did you do anything to copy the binary out from the container at the end of the build?

[2019-05-01 22:00] #6625 closed

[2019-05-02 00:11] jmarantz opened #6774 "try using simulated time for idle_timeout_integration_test.cc"
From @mattklein123's comments in #6728 it looks like that test might be a good one to do in simulated time, to de-flake it and speed it up.

[2019-05-02 00:41] lizan commented on #6474
This should now fixed by https://github.com/envoyproxy/envoy/pull/6752.

[2019-05-02 00:41] #6474 closed

[2019-05-02 04:18] cbarbara-okta commented on #6734
Thanks @mattklein123, we can confirm nothing good happens.
We incorrectly had this configuration deployed and do not have any actual need for both filters.

Any thoughts on having some level of configuration validation that can protect against conflicting settings being added?

[2019-05-02 04:51] mattklein123 commented on #6734
We have discussed in the past somehow allowing filters to specify dependencies or maybe negative dependencies and also order requirements which could help here potentially. cc @htuch

[2019-05-02 05:20] ronenschafferibm commented on #3875
The `source` and `build` directories are shared with the container. At the end of the build, the binary is placed in one them. So I didn't need to copy it out from the container

[2019-05-02 06:49] incfly commented on #6532
/cc @incfly

[2019-05-02 15:35] alyssawilk commented on #6744
Oh, I think I know what happens, and it happens when we sendLocalReply after receiving response headers for a gRPC response.

When the router decodes headers, it latches a pointer to the upstream headers, then hands off ownership to the HCM.
If the HCM does sendLocalReply after that, the sendLocalReply is_grpc branch creates gRPC compatible response headers, overwriting the headers the HCM has, an

[2019-05-02 16:09] mattklein123 commented on #6756
@fredlas I thought of what I think is a pretty slick solution to this problem, let me know what you think:
1) Create a new scope off of the root when you hot restart.
2) Put all parent stats in this scope.
3) Delete the scope at the end of hot restart.

I'm pretty sure that due to reference counting, if another scope references the same stat it won't go away, otherwise it will. WDYT? cc @jmarantz

[2019-05-02 16:11] jmarantz commented on #6756
SGTM. I suppose the scope doesn't need to include a prefix.

[2019-05-02 16:23] moderation commented on #5461
Resolved by https://github.com/envoyproxy/envoy/pull/6773. Yay

[2019-05-02 16:23] #5461 closed

[2019-05-02 16:27] chanwit opened #6780 "HTTPS endpoint for Zipkin"
*Title*: *HTTPS endpoint for Zipkin*

*Description*:
I looked at the code `zipkin_tracer_impl.cc` and found that the code currently uses:
[code]
to create an http client. I then followed into the http client implementation and found some code related to SSL.

My main question is this: Is it possible to use a Zipkin HTTPS endpoint for tracing?
If currently not possible, could you provide some point

[2019-05-02 16:31] codervinod commented on #5536
My investigation has shown that the performance further degrades if access_log is turned on. I see about 40% degrade with wrk benchmark.  Anyone else noticing significant degrades with access_log turned on?

[2019-05-02 16:32] mattklein123 commented on #6744
Yeah I've wanted to get rid of all headers latching for quite some time and have headers/trailers only be accessible via callbacks like body. More work but definitely the much better change IMO.

[2019-05-02 16:55] kiranisaac commented on #6744
@alyssawilk / @mattklein123 : For now we have per_connection_buffer_limit_bytes to 10MB (in both the listeners and clusters section). Is this the right workaround? Is this a bad idea (performance/memory)? Do we need to set it in both places?

Additionally, is this setting the buffer size or just an upper bound on the buffer size? Our payload size will depend on the page size that is requested by t

[2019-05-02 17:00] htuch commented on #5536
@codervinod is this gRPC access log or filesystem? I would expect any remote access logging where you are sending a RPC 1:1 to have this kind of impact for small requests.

[2019-05-02 17:14] fredlas commented on #6756
That does sound very clean. I still don't understand exactly what scopes and stores are, and how they relate and differ, especially given some of the spooky behavior shown in thread_local_store_test.cc. So, I'm not sure I would be able to implement that approach in a reasonable amount of time. I implemented the "hold the deltas" approach yesterday evening and this morning; maybe that can be a stop

[2019-05-02 17:32] mandarjog commented on #5536
@huang195 regarding kicking the van down the road, if there is always some work waiting to be picked up, moving path length to the log filter still adds to latency.
At low rps this is not noticeable, but pronounced at higher rps.

Have you done any experiments with the grpc accesslog service?
The current implementation does not batch, sends a message for every request.
We are working on another ac

[2019-05-02 18:03] mattklein123 commented on #6756
@fredlas can you potentially sync up with @jmarantz in person? I think the scope method I outline would be very easy to implement and also easy to test.

[2019-05-02 18:16] mattklein123 commented on #6635
I think this is fixed with my recent changes.

[2019-05-02 18:16] #6635 closed

[2019-05-02 18:18] mattklein123 commented on #4974
Fixed!

[2019-05-02 18:18] #4974 closed

[2019-05-02 18:19] mattklein123 commented on #6365
Fixed

[2019-05-02 18:19] #6365 closed

[2019-05-02 18:22] jmarantz commented on #6756
We just chatted f2f -- I think we should be good with your approach now.

[2019-05-02 18:23] jmarantz commented on #4974
:)  And thanks for the callout on Twitter: https://twitter.com/mattklein123/status/1123742661469454341

[2019-05-02 18:46] mattklein123 commented on #6767
@alyssawilk @PiotrSikora thoughts on this? I haven't read the relevant RFCs in detail to fully understand what is needed.

[2019-05-02 18:47] mattklein123 commented on #6768
@stevesloka I think this is roughly a duplicate of https://github.com/envoyproxy/envoy/issues/4757

[2019-05-02 19:02] lizan commented on #6744
The gRPC JSON transcoded is a buffering filter, if the transcoded gRPC call
is an inset call, it will buffer until upstream sends the whole response
and trailers.

On Thu, May 2, 2019 at 10:12 AM alyssawilk <notifications@github.com> wrote:

[2019-05-02 19:05] brectanus-sigsci opened #6787 "Segfault using ext_authz request buffering with allow_partial_message set"
*Description*:

cc @gsagula

Example: Send a 16k file a few times with a 8k limit:
[code]

*Repro steps*:

Create a 16k test data file (larger files seem to work faster - try 100k):
[code]

Send with curl:
[code]

*Config*:

Simple config with 8k limit:
[code]

*Call Stack*:

Stacktrace using `envoyproxy/envoy-alpine-debug:latest` with `gdb` added:
[code]

[2019-05-02 19:07] huang195 commented on #5536
@mandarjog I haven't done any experiments with the grpc accesslog service yet. From what I can gather, there are some implicit constraints about running an Envoy filter due to i) the number of worker threads is fixed, ii) once a worker thread "accepts" a new connection, it cannot hand it off to another thread even if it is overloaded and the other is idling, iii) each worker is single-threaded.

S

[2019-05-02 19:07] alyssawilk commented on #6767
Intersection of H2 specs and TLS handshake? I eagerly anticipate Piotr sorting this out :-P

[2019-05-02 19:42] phylake commented on #5368
bump

[2019-05-02 19:43] alyssawilk commented on #6787
cc @gsagula

[2019-05-02 20:01] PiotrSikora commented on #6767
The gist is that browsers coalesce HTTP/2 connections pretty aggressively: when a browser opens connection to `www.example.com` and is presented with a certificate for `*.example.com` during TLS handshake, then it will re-use this connection for all requests to `*.example.com`, as long as the hostname resolves to the same IP (and some browsers don't even care about that).

As long as all `*.exampl

[2019-05-02 20:49] klarose commented on #4128
The PR for reading the source IP from the XFF is up: https://github.com/envoyproxy/envoy/pull/6790

[2019-05-02 21:12] #6380 closed

[2019-05-02 21:20] ChrisMagnuson commented on #6190
I was struggling with half open connections where my node app would send a tcp fin but envoy would still proxy the next get request to the server which would then trigger the node app to send back a tcp rst.

This was not fixed for me in 1.10 but I just pulled the latest envoy-alpine-dev and the issues have gone away, hopefully because envoy after receving the fin is not removing the connection fr

[2019-05-02 22:48] twoism commented on #3920
@htuch stream connection time histograms at the very least would be extremely helpful. Those followed by messages I/O counts (and sizes if possible). We are implementing all of this in a Go middleware at the moment but having unified Envoy metrics would be ideal.

[2019-05-02 23:47] #6636 closed

[2019-05-03 00:12] #6388 closed

[2019-05-03 01:51] #6744 closed

[2019-05-03 05:34] #6394 closed

[2019-05-03 12:51] alexandrecp-b commented on #6441
@lizan : Sorry about my late reply, I missed the notification. IIRC this particular trace came from v1.10.0.

In all cases, I reproduced the exact same behavior on v1.8.0, v1.9.0 and v1.10.0

[2019-05-03 15:26] #6593 closed

[2019-05-03 15:28] #6586 closed

[2019-05-03 15:54] gsagula commented on #6787
This doesn't look good. I will look into that.

[2019-05-03 16:01] fredlas commented on #4974
Yes, thank you; glad the change made you that happy! It was also a nice overview of the motivation and result, since I was entirely focused on the mechanical details the whole time, and not really seeing the big picture.

[2019-05-03 17:40] #6377 closed

[2019-05-03 20:12] mattklein123 opened #6802 "http: connection: close header is not sent when HCM is in draining state"
This probably regressed at some point years ago, and has been this way for a while, but we just realized that when the HCM is in the draining state (not closing) for HTTP/1, we don't set the "Connection: close" header on outgoing responses. To match the behavior of the double GOAWAY from HTTP/2, we should be setting this header and giving clients the time to not reuse the connection or pipeline.

[2019-05-03 21:50] fredlas commented on #4235
If the problem was in fact completely specific to shared memory, it might be essentially fixed by #5910. (There is still some shared memory, but it's just a tiny bit, for locking purposes).

[2019-05-03 23:37] mattklein123 opened #6806 "upstream: crash due to regression in #6765"
[code]

We have an issue where a host can get removed, which triggers further removal callbacks and kills the health check session, and then crash trying to access the session after the removal.

I'm going to figure out how to fix this but if anyone hits this and wants it reverted LMK and I will revert the original commit. cc @snowp

[2019-05-04 11:27] rnd4222 opened #6809 "What is the difference between Locality and Priority?"
What is the difference between [Locality](https://www.envoyproxy.io/docs/envoy/v1.10.0/intro/arch_overview/load_balancing/locality_weight) and [Priority](https://www.envoyproxy.io/docs/envoy/v1.10.0/intro/arch_overview/load_balancing/priority)?
When should I use one or another (or both)?
Thanks.

[2019-05-04 15:58] gdheller42 commented on #5974
@gsagula Hi. Can't tell the status. Is it merged with master yet ?  Thanks

[2019-05-04 18:41] #6383 closed

[2019-05-05 01:26] monubamb opened #6810 "Envoy exe missing after successful bazel build"
I build envoy using bazel on bash for windows...build succeeded.
BUT i dont see envoy executable to run the envoy command..

Where should i be finding it to run the envoy command?

So start envoy with debug enabled:
envoy -c envoy_config.yaml --v2-config-only -l debug

/mnt/c/projectistio/envoy/tools/bazel.rc
Starting local Bazel server and connecting to it...
INFO: Analyzed target //source/exe:en

[2019-05-05 02:29] zplinuxlover opened #6811 "How to use the RDS service to update routing configuration in envoy's thrift proxy filter"
I am using envoy thrift filter to proxy thrift rpc request, but when reviewd the envoy code , I do'nt known how to use RDS to update thrift route configuration, can you give me an example about it ?

[2019-05-05 05:34] #6810 closed

[2019-05-05 13:12] jshlbrd opened #6812 "Upstream 504 statuses after running for a few hours with gRPC streaming service"
*Description*:
I'm running Envoy with a gRPC streaming service that supports both short-lived and long-lived clients and after a few hours (and a few million successfully handled requests) I'm seeing erratic upstream 504 statuses for newly connected clients. As best I can tell, this pattern recreates the erratic statuses:

* Envoy starts, any previously running clients connect (long-lived clients)

[2019-05-05 15:41] #6427 closed

[2019-05-05 23:18] #6378 closed

[2019-05-06 05:47] nmjmdr opened #6814 "Envoy statsd sink, fails"
*Title*: *Envoy statsd sink fails*

*Description*:

[code]

I have the following configuration envoy.yaml:
[code]
I am not sure if I have made a mistake with configuration or if this is a bug.

[2019-05-06 06:47] nmjmdr commented on #6814
Update:

I was able to resolve the error by setting the --service-cluster and --service-node parameters for envoy command: envoy -c /etc/envoy/envoy.yaml --service-cluster 'front-envoy' --service-node 'front-envoy'

I am not sure why using statsd sink would require these parameters to be set. and The documentation for envoy does not mention this information,

[2019-05-06 13:41] lvgilmore opened #6815 "Envoy (re)uses connection after receiving FIN from upstream"
*Description*:
With Envoy serving as HTTP/1.1 proxy, sometimes Envoy tries to reuse a connection even after receiving FIN from upstream. In production I saw this issue even with couple of seconds from FIN to next request, and Envoy never returned FIN ACK (just FIN from upstream to envoy, then PUSH with new HTTP request from Envoy to upstream). Then Envoy returns 503 UC even though upstream is up a

[2019-05-06 13:42] jshlbrd commented on #6812
I'm 99% sure that the problem is due to connection timeout between Envoy and the gRPC streaming service, potentially due to lack of keepalives. Here's why:

There are 5 servers in the Envoy cluster and Envoy is running with a concurrency setting of 4 (20 connections total). There are 4 long-lived clients that constantly send requests to Envoy, this means that 15 of the 20 connections are always ac

[2019-05-06 14:06] alyssawilk commented on #6768
Yeah, looks like a dup to me as well.  @stevesloka please reopen if we are mistaken.  If not, we would welcome a fix to this - #4757 is marked as help

[2019-05-06 14:06] #6768 closed

[2019-05-06 14:10] alyssawilk commented on #6809
Locality is more about location.  Perhaps you want to send more traffic to locations closer to your Envoy instance.  Priority is more about failover.  "Ideally I'd like to send my traffic to A/B in my top priority but if they're overloaded/unhealthy spill over to C/D"

[2019-05-06 14:15] alyssawilk commented on #6811
RDS is used for updates to HTTP route configuration* so I don't think that's what you want.
I as thrift is a network filter you can update thrift routes with a full LDS update but I'm not sure if there's any finer grained update
@brian-pane @zuercher

*https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/rds.proto#envoy-api-msg-routeconfiguration

[2019-05-06 14:18] rnd4222 commented on #6809
@alyssawilk thanks for your reply. So locality is more like automatic, location-based priority?

[2019-05-06 14:26] alyssawilk commented on #6815
I'm a bit confused at this trace.  I'm reading "Upstream sends Envoy an GET" and "Envoy sends the upstream 1 200/OK".    Do you have the names inverted in your trace?

Assuming so, I believe there's always going to be a race condition (helped by but not entirely fixed by #2871) where Envoy may reuse the connection before processing the FIN.  In your case it looks like you're sending HTTP/1.0 respo

[2019-05-06 14:41] stevesloka commented on #6768
Thanks @mattklein123 & @alyssawilk! I'd love to help out, let me go ping the other issue.

[2019-05-06 15:26] stevesloka commented on #4757
I'd like to help out here and see if I can send up a PR. Any notes or pointers to help get started? Should I start with just the config dump, then move from there with separate PR's?

[2019-05-06 15:33] mergeconflict opened #6818 "Log and count unknown proto fields"
Deprecated proto fields are currently logged as a warning or an error in `MessageUtil::checkForDeprecation`, and counted in `SnapshotImpl::deprecatedFeatureEnabled`. We should probably do the same thing for unknown proto fields in `MessageUtil::checkUnknownFields` when not in strict mode.

[2019-05-06 16:15] #6806 closed

[2019-05-06 16:18] Rajankhosla opened #6820 "Istio sidecar/envoy updating application listen ports in kubernetes"
**Bug description**
Hello,

We are facing issue with Istio sidecar injection with our GRPC app in kubernetes. We have created Ingress Gateway, Virtual Service and Destination Rule. Gateway is publicly exposed, Service has port mapping where request should route and also have destination rule for traffic routing.

So now what happens is as soon as we inject the istio sidecar it stops one of the por

[2019-05-06 16:21] mattklein123 commented on #6820
Please open an issue against the Istio project. Thank you.

[2019-05-06 16:21] #6820 closed

[2019-05-06 16:35] sumukhs commented on #6748
cc-ing others who have been involved in this area - @conqerAtapple @alyssawilk

I am trying to get up to speed on the history of how the UDP stack has been shaping up... I found design docs (including QUIC) and active work on the QUIC area these days.

I also see some [closed PR's](https://github.com/envoyproxy/envoy/pull/5256) by @conqerAtapple  in favor of smaller work items and I have seen the

[2019-05-06 16:38] mattklein123 commented on #6748
@sumukhs I would probably assume at this point that no one is working on basic UDP filters. I would love to see this happen. Maybe it would be easiest to setup a small meeting and we can discuss? Please email me at mattklein123@gmail.com to schedule. Thank you.

[2019-05-06 17:17] htuch commented on #4757
@stevesloka I would advocate for having a `sanitizeProto` method that takes something like a `Listener` config that we're about to dump and redacts the keys. So, most call sites should have a single line change to wrap the dumped proto with this.

[2019-05-06 18:12] rnd4222 opened #6823 "O(log n) matching for HTTP routes - Feature Request"
For now, envoy uses linear probing of different routes for a virtual host, which takes linear time in worst case and could be a problem if virtual host contains lots of routes.
One use case is a function-level routing (something like Gloo does).
This request is to add tree-like matching for regexes/prefixes to obtain logarithmic runtime.
Also, something like [Intel Hyperscan](https://github.com/in

[2019-05-06 18:52] mattklein123 commented on #6802
@alyssawilk FYI someone at Lyft is going to fix this as a learning bug. @lita can you tag them?

[2019-05-06 18:55] alyssawilk commented on #6802
Oh, even better!
I think my only comment is pointing to my TODO by decodeHeaders about the connection: close code being pretty fragile.  So if your learning Lyfter has any interest in a follow-up bug they could look at that too ;-)

[2019-05-06 18:56] lizan commented on #6441
@alexandrecp-b Can you try to adjust your cluster's [`per_connection_buffer_limit_bytes`](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cds.proto#envoy-api-field-cluster-per-connection-buffer-limit-bytes) to a larger value? I think the upstream connection is hitting this limit when it sends a larger HttpBody.

[2019-05-06 19:04] mandarjog opened #6824 "Route Matching during filter dispatch"
At present envoy does not support route matching to selectively dispatch a filter.

Nginx/Apache support configs like the following
[code]
This config uses the ldap filter only when a route is matched.
At present every filter must support an ad-hoc enable-disable flag.
This should be supported directly.

Options:
 *  Add [RouteMatch](https://github.com/envoyproxy/envoy/blob/2d5be1a8c2fc6fe4c84766c

[2019-05-06 19:05] mandarjog commented on #6824
/cc @PiotrSikora

[2019-05-06 19:52] mattklein123 commented on #6823
This is a duplicate of https://github.com/envoyproxy/envoy/issues/6602 so let's track there. @rnd4222 can you update that issue if there is anything missing? Thank you.

[2019-05-06 19:52] #6823 closed

[2019-05-06 19:59] rnd4222 commented on #6602
Just for the record: [Intel Hyperscan](https://github.com/intel/hyperscan) is specifically designed to match strings against a set of regular expressions; and (I believe) it uses vector instructions, so constants should be good too.

[2019-05-06 20:12] alexandrecp-b commented on #6441
@lizan That did the trick! Thanks a lot!

[2019-05-06 20:36] dnoe commented on #6580
The remaining fruit left hanging:
1. `StringUtil::atoull` is still used for Base 16 hex conversions. Unfortunately `absl::SimpleAtoi` only does base 10. It looks like there are no remaining non-hex users of `StringUtil::atoull`, but there are a number of hex ones. Since `atoull` is a relatively thin wrapper around `std::strtoull` which expects a C string this fruit hangs high.
1. `UuidUtils::uuidM

[2019-05-06 21:04] ahedberg commented on #6706
So, fun discovery after a few days of debugging: `BaseIntegrationTest` has an `Api` object that it uses for various things, including constructing an `IntegrationTestServerImpl`. However, the `IntegrationTestServerImpl` creates its own stats store, symbol table, etc., completely ignoring whatever its `Api` was constructed with. This is fine...until you're writing an integration test and are trying

[2019-05-06 21:54] hanyu-liu opened #6830 "Pass user_id from ext-authz to rate-limit"
We want to enforce rate limiting at Envoy based on user-id. The user-id is retrieved by the ext-authz service. Is there a way we can pass the user-id from the ext-authz to the rate-limit service?

[2019-05-06 22:19] #3553 closed

[2019-05-06 22:30] harshavardhana commented on #5643
We are seeing something similar, let us know what kind of information that is needed to address here?

[2019-05-06 22:42] lizan commented on #6441
@npuichigo closing this as answered, feel free to re-open if you still have the issue.

[2019-05-06 22:42] #6441 closed

[2019-05-07 03:31] npuichigo commented on #6441
@lizan Wow, it's cool. Thanks.

[2019-05-07 06:24] zplinuxlover opened #6835 "compile envoy of branch 1.10.0 failed"
I compile envoy of version 1.10.0 failed, the output is below

INFO: From Generating Descriptor Set proto_library @envoy_api//envoy/service/ratelimit/v2:rls:
external/com_google_protobuf: warning: directory does not exist.
INFO: From Generating Descriptor Set proto_library @envoy_api//envoy/config/filter/network/rate_limit/v2:rate_limit:
external/com_google_protobuf: warning: directory does not ex

[2019-05-07 06:48] #6455 closed

[2019-05-07 10:46] htuch commented on #6818
See also https://github.com/protocolbuffers/protobuf/issues/5967, where we track the necessary work on protobuf side to support this for JSON/YAML. We can only do this for proto configuration files today, which is only a partial solution.

[2019-05-07 12:43] MarcinFalkowski commented on #6616
@AndresGuedez So if I understand correctly, you say that other proxies are as vulnerable as Envoy with `delayed_close_timeout` set to 0. If this is true, we can accept that risk, because we are accepting it for years using other proxies and nothing ever happened.

@alyssawilk Yes, maybe it will be fixed on Varnish side (I created an issue: https://github.com/varnishcache/varnish-cache/issues/2994)

[2019-05-07 12:43] #6616 closed

[2019-05-07 12:55] alyssawilk commented on #6812
When you say that the stale connections are draining or exceeded deadline, do you know how the upstream is communicating this to Envoy?  If it actually closes the connection Envoy should pick up the FIN and not reuse.  If the upstream is issuing a goaway I'm less sure if we handle that - we could look into it.

[2019-05-07 14:14] rojkov commented on #4429
I started to work on this. The current status can be seen in https://github.com/rojkov/envoy/commits/brotli
So far I've managed to hack the gzip filter to use brotli compression instead of gzip.

[2019-05-07 17:30] jshlbrd commented on #6812
I think it's likely that I'm using the wrong term here -- the connections in this case may not be draining/drained, but when they are inactive for a period of time, Envoy attempts to reuse them while the upstream appears to have disconnected (lots of conjecture here)?

The upstream service is a gRPC streaming service written in Go -- nothing special with regard to the settings on that server (you

[2019-05-07 18:07] alyssawilk opened #6839 "tsan caught ares cleanup shutdown bug"
https://pastebin.com/FKsvL1sM

from

https://circleci.com/gh/envoyproxy/envoy/211476?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

tl;dr looks like both google's grpc code and DnsResolverImpl want to do ares cleanup.

Not super high pri as it's a shutdown bug but worth fixing if for no other reason to keep CI happy

[2019-05-07 18:41] alyssawilk commented on #6812
While I can't tell without a packet trace, I suspect if tcp_keepalive helped you, your upstream may have been silently closing the connection without sending a FIN.  There's not much Envoy could do in that case other than have keepalive configurable - I'm glad it helped!

If there was a FIN and Envoy was missing it, then there may be something else we could do to improve behavior here.

[2019-05-07 19:26] jshlbrd commented on #6812
I suspect the same thing, which is weird because I don't think that's how gRPC servers are supposed to behave (I could be wrong though).

I'm curious if anyone has thought about making Envoy do keepalives by default -- if Envoy wants to reuse a connection that might be inactive, then I'd think it's Envoy's responsibility to keep the connection alive.

[2019-05-07 19:30] alyssawilk commented on #6812
There's pros and cons from the performance perspective.  I know for our use cases it's assumed that upstreams are well behaved and so generally send FINs when they tear down the TCP connection (and retries cover the ones that don't).  When Envoy supports more forward proxing it's probably worth adding an explicit suggestion to that configuration to do keepalive. Also if there's areas of the curren

[2019-05-07 19:33] mattklein123 commented on #6812
FYI this is related to https://github.com/envoyproxy/envoy/issues/6323. Using either keep-alive or stream data timeouts is generally going to be required for any streaming APIs since sometimes FINs get lost in production.

[2019-05-07 19:35] jshlbrd commented on #6812
Good shoutout @mattklein123.

@alyssawilk documentation is a great idea -- maybe adding an example configuration for streaming gRPC services would work? I'd be happy to PR an example later (for now, the latest example I shared in this thread represents solutions for all of the 'gotchas' I've run into).

[2019-05-07 19:38] alyssawilk commented on #6812
That'd be great - I think we could totally use more sample configs which combine best practices in actual production environments!

[2019-05-07 19:40] mattklein123 commented on #6812
+1 an example would be amazing, also maybe a FAQ entry about streaming? https://www.envoyproxy.io/docs/envoy/latest/faq/overview

[2019-05-07 20:46] #4158 closed

[2019-05-07 21:14] lita commented on #6802
yup! @jyotimahapatra

[2019-05-07 21:44] rbkumar88 opened #6845 "Add ability to support dynamic metadata while initializing grpc stream"
Description: While writing custom filters when there is a need to use grpc stream, it would be great to add custom "dynamic" headers while initializing a grpc stream. Currently it supports only static initial_metadata.
[code]

[2019-05-07 21:45] sgammon opened #6846 "gRPC transcoding: No 'Content-Type' on Request"
*Title*: gRPC transcoding: No `Content-Type` on Request

*Description*:
There should be a way to default to JSON output from gRPC -> JSON transcoding. Perhaps there is one, but I built against `v1.11.0` and I don't see a way to do it in the docs.

When submitting a request against a URL bound via `goog.api.http`, and there is no existing `Content-Type` value on the request, or `Accept` value on th

[2019-05-07 22:33] jyotimahapatra commented on #6802
Hi @alyssawilk , Nice to meet you here. I am new here and trying to fix this starter issue.
I am trying to write a test that repros the situation and then perform the mentioned fix. Matt mentioned in a different forum that this situation occurs in a race condition situation when using pipelining in a H1 connection.
All code paths today set the `drain_state_` to `DrainState::Closing` and I am tryin

[2019-05-07 22:45] mattklein123 commented on #6802
Looks like fixed in https://github.com/envoyproxy/envoy/pull/6848

[2019-05-07 23:01] jyotimahapatra commented on #6802
Looking at the test, looks like keep-alive is what I was looking for to repro the situation. Good learning for me.

[2019-05-07 23:21] mattklein123 commented on #6802
@jyotimahapatra this is the line that repros: https://github.com/envoyproxy/envoy/pull/6848/files#diff-ed63d9053f7d0b3777c96f2aaf8f2f2fR4178

[2019-05-07 23:23] derekargueta commented on #6557
this seems closely related to (or possibly a dupe of) #3877

[2019-05-07 23:25] jyotimahapatra commented on #6802
Yes. I got that part right.
I couldn't get this part right. Without the keepalive the drainstate was getting set to Closing already.
`HeaderMapPtr headers{new TestHeaderMapImpl{
        {":authority", "host"}, {":path", "/"}, {":method", "GET"}, {"connection", "keep-alive"}}};`

[2019-05-07 23:27] mattklein123 commented on #6802
I haven't checked, but I don't think that should be required. Keep alive is assumed for HTTP/1.1. cc @kmyerson

[2019-05-07 23:30] jyotimahapatra commented on #6802
I see. Ok. i will get the branch and debug through it. It will be a good exercise for me

[2019-05-07 23:31] jyotimahapatra commented on #6802
@alyssawilk you mentioned a follow up bug. I could attempt that if you can put some problem statement for me. :)

[2019-05-08 00:06] troshko111 commented on #2408
I believe this should be reopened as a bug for these reasons:

- Nowhere in the docs or this thread it is explained what a "runtime key" even is
- Runtime key should be deprecated and a new optional field should be used as it makes no sense to have this as a required field
- Documentation should be updated to explain what a runtime key is, its behavior if set vs unset and an example usage

This is

[2019-05-08 00:35] troshko111 commented on #2408
In case the docs aren't updated, I checked the code and the tests and this should (and seems to) be an acceptable work around (log http codes `<= 199 || >= 300`):

[code]

Envoy always attempts to look up "null" since its non-empty (but it must be due to the bug in the proto schema) so there's minor overhead.

[2019-05-08 02:40] #6802 closed

[2019-05-08 09:52] #6264 closed

[2019-05-08 10:11] htuch commented on #6839
This is because we are independently initializing and shutting down c-ares in `DnsResolverImpl`, which can race with gRPC. I'll do a PR to fix today. AFAICT, this is fairly rare race, I'm seeing it 1/1000 frequency locally.

[2019-05-08 14:51] htuch opened #6857 "Canary new Bazel versions and experimental flags in CI"
To avoid surprises like the Bazel 0.25 release (which required an immediate fix and bump in https://github.com/envoyproxy/envoy/pull/6773), one approach is to add Envoy to Bazel CI in https://github.com/envoyproxy/envoy/issues/2461.

Another approach is to flip flags governing breaking behavior ahead of Bazel releases. See:
* https://docs.bazel.build/versions/master/backward-compatibility.html for

[2019-05-08 14:52] alyssawilk commented on #6689
@htuch unsure if you can fix two bugs with one PR, but figured I'd tag this as another ares issue

[2019-05-08 14:58] htuch commented on #6689
@alyssawilk great idea, I can do this.

[2019-05-08 17:24] junr03 opened #6859 "bazel: expand linkstamp beyond binary rules."
bazel: expand linkstamp beyond binary rules.

Description: `linkstamp` is currently used by the `VersionInfo` class to stamp envoy binaries. This is a robust mechanism. However, there are two current problems with it:
1. It is poorly documented and understood. https://github.com/bazelbuild/bazel/issues/2893
2. `linkstamp` is not available for non-binary rules. Thus if the `version_info_lib` is com

[2019-05-08 17:52] #6428 closed

[2019-05-08 17:53] junr03 commented on #6859
cc @htuch lmk if this is sufficient for the bazel folks, or if you'd like me to open an issue against bazel.

[2019-05-08 18:00] htuch commented on #6859
@junr03 it's sufficient for me to share, thanks. I think if we want action on the Bazel front though, it would be good to have a tracking issue in their GH.

[2019-05-08 18:28] lizan commented on #6846
You're not hitting transcoder at tall, a gRPC server handling HTTP/1.1 request results 415. It means your request doesn't match your `google.api.http` or the default mapping, which is `POST` to `/<proto.package>.<ServiceName>/<MethodName>`.

[2019-05-08 18:29] sumukhs commented on #6748
@mattklein123  - this is an initial draft of the proposed changes for supporting DNS type of filters.

https://docs.google.com/document/d/1uMGhZ4oizCE3nbmGtes20yb-m9cvWvMLfzanZXc81xM/edit?usp=sharing

[2019-05-08 21:09] sgammon commented on #6846
@lizan i'm testing from a browser with a URL that works using the exact same API config via Endpoints Service Proxy, and it works.

the method is mapped via `GET`. `POST`-ing to the default mapping for gRPC works (the pattern you cited), but no such luck with the transcoder.

any ideas? i could also try endpoints that are non-`GET` if that might have something to do with it.

[2019-05-08 22:04] #6415 closed

[2019-05-08 23:04] #6414 closed

[2019-05-08 23:16] mattklein123 commented on #6748
@sumukhs looks like on the right track. I dropped some comments in. Very exciting stuff. cc @envoyproxy/quic-dev @envoyproxy/maintainers if anyone else wants to take a look at the doc. Thank you!

[2019-05-08 23:33] lizan commented on #6846
@sgammon Do you have trace or debug level log? If you cannot share publicly, feel free to email me or Slack me.

[2019-05-09 00:01] sgammon commented on #6846
@lizan, presumably, you mean for the `router`, `grpc` and `filter` components? i can post debug logs, i'll grab some with those components but if you want others, let me know.

[2019-05-09 00:04] #6451 closed

[2019-05-09 00:28] lizan commented on #6846
`http` as well, I think those are enough, you can also give me a full components trace/debug log.

[2019-05-09 04:04] #6448 closed

[2019-05-09 05:49] swift1911 commented on #1502
is any progress for this issue?

[2019-05-09 06:22] II-VSB-II opened #6867 "EnvoyProxy Configuration With DC/OS"
Hi All,
I am new to envoy proxy. Is any one know how to configured envoyproxy with DC/OS ?
Please ping me.
Thanks in advanced.

[2019-05-09 09:00] ramaraochavali commented on #6818
Would it be useful to add these counts as stats? NBD, but generally it would be difficult search through logs for a fleet of envoys

[2019-05-09 11:52] htuch commented on #4757
@stevesloka a good start would be to look at the uses of `DebugString()` for proto in `grpc_mux_impl.cc`. The main challenge there is it's dealing with generic protobuf `Message`; you'll need to downcast to the relevant protos to do scrubbing.

[2019-05-09 14:17] #6689 closed

[2019-05-09 14:17] #6839 closed

[2019-05-09 14:49] htuch commented on #6818
I think both stats and warning-level logs would be good. I agree that we need stats for monitoring to alert on.

[2019-05-09 16:32] mattklein123 opened #6872 "possible delayed close watermark bug"
Saw the below crash on a production box. I haven't done much investigation but my guess is that we still raise watermark callbacks during delayed close, which I don't think we should do.

cc @AndresGuedez @alyssawilk

[code]

[2019-05-09 17:04] #6456 closed

[2019-05-09 17:28] alyssawilk opened #6874 "IpVersions/LoadStatsIntegrationTest.LocalityWeighted/IPv4 timing out coverage"
AFIK reverting 6761 got us from pretty deterministic failure to generally passing but I've seen 2 failures since

https://circleci.com/gh/envoyproxy/envoy/213854?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification
https://circleci.com/gh/envoyproxy/envoy/213482?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

[2019-05-09 17:44] venilnoronha commented on #6696
/assign @venilnoronha

[2019-05-09 18:38] howardjohn opened #6876 "Respecting DNS TTL for STRICT_DNS"
Rather than setting the dns_refresh_rate for a cluster, it would be nice to be able to just respect the TTL returned in the DNS response. I was wondering is this intentionally not supported, or just has not been needed yet? If not, would there be interest in adding this feature?

If there is nothing blocking such a change, please let me know and I can consider working on this feature.

Background:

[2019-05-09 19:13] kumarsparkz commented on #6520
Is there an ETA for 1.11.0 release that contains the fix for this?

[2019-05-09 20:37] jplevyak commented on #4272
New pull request for a null sandbox, compiling the C++ code directly into Envoy while using the WASM PROXY API: https://github.com/istio/envoy/pull/63

[2019-05-09 20:39] jplevyak commented on #4272
Pull request merged: gRPC support for WASM https://github.com/istio/envoy/pull/55

[2019-05-09 20:48] mattklein123 commented on #6876
Sounds like a very useful optional feature to me.

[2019-05-09 20:54] #6640 closed

[2019-05-09 20:56] mattklein123 commented on #6756
Fixed by https://github.com/envoyproxy/envoy/pull/6850

[2019-05-09 20:56] #6756 closed

[2019-05-09 22:08] #6653 closed

[2019-05-09 22:40] mattklein123 commented on #4272
@envoyproxy/wasm-dev I made you https://github.com/envoyproxy/envoy-wasm and you should all have write access. LMK if you need anything else.

[2019-05-09 23:17] canselcik opened #6883 "Filter API to override origin/backend mapping"
Hi,

I am looking for a way for a filter to intercept a request and alter its mapping to a backend host from one to the other.

Could someone point me to a similar example or to the right filter API?

Thanks.

[2019-05-09 23:35] PiotrSikora commented on #4272
@mattklein123 could you re-create it as a fork of [envoyproxy/envoy](https://github.com/envoyproxy/envoy)? Otherwise, we can't open PRs against it from the existing personal forks of "envoy" repo.

[2019-05-09 23:40] mattklein123 commented on #4272
@PiotrSikora unfortunately you can't fork a project into the same org, which I agree is really unfortunate. You will need to fork that repo.

[2019-05-10 04:22] mikegrass commented on #3296
I'm looking at implementing support in envoy for this -- it looks like a good starting point. My initial impression is that having this information exposed via the LUA API would be nice, but in many cases it is more convenient to expose this as custom request headers (https://www.envoyproxy.io/docs/envoy/v1.10.0/configuration/http_conn_man/headers#config-http-conn-man-headers-custom-request-header

[2019-05-10 08:23] cihankom opened #6887 "Envoy Asserted when continueDecoding called in async callback"
**Envoy Asserted when continueDecoding called in async callback**

*Title*: Envoy Asserted when continueDecoding called in async callback

*Description*:
I have implemented a http filter. I am making some request as async. When response is come, I need to call decoder_callback->continueDecoding. In that time, envoy is asserted at `ConnectionManagerImpl::ActiveStreamFilterBase::commonContinue` -> `

[2019-05-10 09:01] #6809 closed

[2019-05-10 13:12] kumarsparkz commented on #6520
@enbohm @objectiser @cgilmour Can you provide some clarification regarding on which versions of envoy using http_service.authorization_request.allowed_headers is working? I understand from the conversation there is no issue with grpc_service in all versions of envoy as well as there is no issue with http_service with older versions of envoy. Is that right?

[2019-05-10 13:27] enbohm commented on #6520
@kumarsparkz http_service did work in 1.9.0 but not in 1.10.0

[2019-05-10 14:44] fredlas commented on #5790
Non-shared-memory stats was done without this, and there isn't currently any movement towards unreverting the BoolIndicator PR, so let's close this for now.

[2019-05-10 15:25] sgammon commented on #6846
hey @lizan, you can see the logs in question at the [gist here](https://gist.github.com/sgammon/f18216f640f6e10d66b1462764ae493c). the first portion is logs from server startup, the second portion is logs from the requested components.

let me know if i can post more

[2019-05-10 15:42] mattklein123 commented on #6883
@canselcik I think we will need more details about your use case to provide guidance.

[2019-05-10 15:47] mattklein123 commented on #6874
I think this should be fixed via https://github.com/envoyproxy/envoy/pull/6784

[2019-05-10 15:51] mattklein123 commented on #6580
@dnoe one quick thought here: Maybe rename `StringUtil::atoull` to `hexToUint` or something just so we prevent new uses of base 10 conversion?

[2019-05-10 15:53] mattklein123 commented on #3343
Calling this fixed via https://github.com/envoyproxy/envoy/pull/6750

[2019-05-10 15:53] #3343 closed

[2019-05-10 15:56] duderino commented on #6876
@jplevyak @silentdai @PiotrSikora ^

[2019-05-10 16:35] jyotimahapatra commented on #730
@mattklein123 We are now using router check now to check the sanity of routing changes in each PR.
However, i found we could include more validations, say the validations for the extensions. Is this a good item to pick up?
If so, I would like to understand the right approach. Could we link the OSS filters with the router check binary and add code to perform checks?
Or should we try making the vali

[2019-05-10 16:41] mattklein123 commented on #730
@jyotimahapatra can you describe in more detail what is missing? What do the extensions have to do with the route check tool? You want to verify per-route filter config? If so, that sounds good to me.

At a higher layer, it would be good to completely get rid of the JSON schema and move to a proto defined schema as we have done every else. If you want to do that, that would be great. cc @hennna @h

[2019-05-10 16:44] mattklein123 commented on #3296
At a high level this seems reasonable to me, though there is some overlap with `x-forwarded-client-cert` that I think needs to be reconciled so we don't duplicate information. @PiotrSikora any thoughts here?

[2019-05-10 16:47] jyotimahapatra commented on #730
@mattklein123 Yes per_filter_config is exactly what i have in mind right now. We are adding a few more filters and there's no way to test them, hence the idea.

Would you like to get it done as an extra validation in the current code? Or should we try to make the validation part extensible in OSS and add the validation piece outside OSS?

I understand the point of getting rid of json schema, but I

[2019-05-10 16:50] mattklein123 commented on #730
I would add this as an OSS feature. It should be straight forward to do this generically, and then just link the tool against any needed extensions. However, I don't want to invest anymore in the JSON schema, so please convert it to proto first. It should be a fairly trivial transform as proto is directly convertable back and forth to/from JSON/YAML.

[2019-05-10 16:59] jyotimahapatra commented on #730
Sounds good. I will try it out.

[2019-05-10 17:03] alexandrecp-b opened #6894 "GZip filter + grpc_json_transcoder doesn't work on some client"
GZip filter + grpc_json_transcoder doesn't work on some client

*Description*:
We have noticed that some clients are reporting invalid gzip streams for requests done through gzip+grpc_json_transcoder filters. Other requests simply going through the gzip filter do not have this issue.

For example, given the following config:

[code]

A request to the `plain_hello` endpoint with gzip compression wo

[2019-05-10 17:29] alyssawilk commented on #6894
cc @lizan

[2019-05-10 18:12] mattklein123 commented on #4543
I think I see a bug here in V6 -> V4 fallback handling WRT to timeouts. @ramaraochavali I would try configuring the resolution for v4 only and see if that helps. I will also take a look at making the timeout and tries configurable.

[2019-05-10 18:21] canselcik commented on #6883
@mattklein123 Thank you for your reply. Let me elaborate on my use-case.

I am basically trying to create a "host override" plugin that allows certain user-agents to override (for debugging purposes) the the mapped origin for the current transaction.

Let's say I have a cluster with servers A, B and C. A request comes in and is mapped to A. I would like to have the ability to look at a header and

[2019-05-10 18:28] kumarsparkz commented on #6520
Thank you for your reply. I am using Istio/istio:1.0.3 --> envoyproxy/go-control-plane:0.6.0 --> envoyproxy/envoy:1.8.0 and I am facing the same issue. I am not able to receive allowed_headers mentioned in http_service to external auth service however some basic headers like x-forwarded-for, Host, Content-Length are being passed on to auth service. Can someone provide info whether this is an issue

[2019-05-10 18:54] lizan opened #6896 "quiche tests are not selecting platform correctly"
*Description*:
`bazel test //test/extensions/quic_listeners/quiche/platform/...` on mac pulls epoll which fails to build.

ref: #6889, cc @envoyproxy/quic-dev

[2019-05-10 19:08] mattklein123 commented on #6883
Take a look at https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/load_balancing/original_dst.html#original-destination-host-request-header. I think that is roughly what you need?

[2019-05-10 19:47] echo-xu commented on #6896
I encountered this issue.

[code]

[2019-05-10 19:48] mattklein123 commented on #4543
Disregard my previous message. The timer reset is working OK. Not seeing any other issue currently from code inspection.

[2019-05-10 19:57] PiotrSikora commented on #6876
Yes, this would be great... ideally, with some pre-fetch, so that we never have to block requests waiting for the DNS response.

[2019-05-10 20:04] canselcik commented on #6883
@mattklein123 Thank you, that definitely looks like it is almost exactly what I am looking for.

One question I would have about the original destination cluster type would be if doing this would require setting up a second cluster with the exact same set of hosts that I might want to override to?

[2019-05-10 20:49] TBoshoven opened #6897 "gRPC 1.20.1 upgrade causes gRPC connections to fail"
*Title*: *gRPC 1.20.1 upgrade causes gRPC connections to fail*

*Description*:
I use Envoy's gRPC-Web filter to integrate against a few gRPC applications built in Python. These applications use a secured connection.
Since they upgraded to gRPC v1.20.1 (from v1.19.x), Envoy has been unable to get proper responses. The version upgrade is the only change and other applications have no problem communi

[2019-05-10 21:42] mattklein123 commented on #6897
@lizan any thoughts?

[2019-05-10 22:14] PiotrSikora opened #6899 "FilesystemSubscription: SDS included from LDS leads to a crash"
*Description*:

There are 3 configs included:
- `config_static.yaml` - with a static `default_listener` that includes TLS certificates via SDS from the file (i.e. SDS is using FilesystemSubscription).
- `config_dynamic_grpc.yaml` with a dynamic `default_listener` delivered via LDS from the file, which includes TLS certificates via SDS from the gRPC server (i.e. LDS is using FilesystemSubscription,

[2019-05-10 22:16] PiotrSikora commented on #6899
cc @htuch any ideas?

[2019-05-10 22:33] canselcik opened #6901 "Healthchecking in Lua"
Hi,

I am trying to put deploy various custom and stateful origins behind an Envoy gateway. These origins may have arbitrary logic to their healthchecks such that for a certain type one may want to check if the response is 200 OK and valid JSON with a "foo" key and a "bar" value, and mark the origin healthy if and only if that's the case while some other origin might be okay with just a 200 OK and

[2019-05-10 23:00] thorkildcognite opened #6902 "Using a HTTP based external auth service with GRPC proxy entries crashes envoy on 401s"
**Title**: *HTTP Auth combined with grpc endpoints lead to auth body being copied into grpc header and potential assert() crashes when auth service returns 401*

**Description**:
Combining a HTTP based external auth service with GRPC crashes envoy if the HTTP body returned from the external auth service has \r, \n or \0 in it and envoy decides to return it to the caller. This happens only when the

[2019-05-10 23:06] HenryYYang opened #6903 "Add RequestMirrorPolicy to routes in Redis proxy routes"
*Title*: Fire and forget shadow traffic for redis proxy

*Description*:
It's useful to mirror requests across multiple clusters for migration and load testing.  This can be done in a fire and forget manner.  We can reuse the [RequestMirrorPolicy](https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/route/route.proto#L591) format currently used for http.

The new redis route will look l

[2019-05-11 00:08] PiotrSikora opened #6904 ""Active listeners" not active if at least one is waiting for an SDS update"
*Description*:

All listeners from LDS are marked as "active", but they don't even `listen()` if at least one of them is waiting for an SDS update.

I believe there are 2 issues here, really:
1) All listeners are marked as "active" instead of "warming",
2) All listeners are blocked on a single listener in a warming state.

*Repro steps / Admin and Stats Output*:

Start "fake" xDS server that will

[2019-05-11 00:43] PiotrSikora commented on #6904
For the record, `initial_fetch_timeout` from #6048 mitigates this issue, and all listeners start listening after the configured timeout, with the listener waiting for SDS rejecting connections due to using `NotReadySslSocket` transport socket.

This can be tracked in stats by looking at `downstream_context_secrets_not_ready`, e.g. `listener.0.0.0.0_9443.server_ssl_socket_factory.downstream_context

[2019-05-11 02:44] PiotrSikora opened #6905 "Provide better error logs for filter chains with overlapping rules"
*Description*:

There are 2 configs included:
- `config_exact.yaml` with 2 filter chains for `example.com`,
- `config_overlapping.yaml` with 2 filter chains, one for `example.com`, and another for `example.com` and `www.example.com`.

The original detection mechanism for conflicting filter chains from #3217 is based on `MessageUtil::hash()`, which means that it can only detect exact duplicates of

[2019-05-11 08:03] zqzzq opened #6907 "Is it possible to turn off the deprecation log?"
**Issue Template**

*Title*: *One line description*

*Description*:
I use envoy by istio, and I found a lot of this kind of log in my logs :
[code]
This makes it hard for me to find the logs I really want to see. So Is it possible to turn off these logs?

[2019-05-11 11:32] dio commented on #6894
A quick test on this one: seems like the gzip filter does not receives `end_stream` as true when running it with the above config. i.e.

[code]

[2019-05-11 14:14] #6471 closed

[2019-05-11 16:34] snowp commented on #5555
Tracked this down to an issue where updating an overprovisioning factor while prevent host updates from being made to a host set - this means that the first update which sets the OP factor does not update the hosts, but the subsequent call does as the OP factor is the same as the initial update.

Will put up a fix today

[2019-05-11 18:14] #6465 closed

[2019-05-11 22:15] lizan commented on #6894
Thanks @dio, it seems gzip filter is not handling `decodeTrailers`/`encodeTrailers` correctly, which indicates end of stream. @gsagula?

[2019-05-11 23:27] yskopets opened #6909 "Add a new extension point that would allow to mutate configuration before it gets applied"
*Title*: Add a new extension point that would allow to mutate configuration before it gets applied

*Context*:
- Consider a use case where a company that uses Envoy-based Service Mesh wants to extend configuration generated by the Control Plane
- Specifically, it might want to apply a cross-cutting concern across the entire mesh, e.g. machine learning or WAF

*Proposal*:
- Add a new extension poin

[2019-05-11 23:45] dio commented on #6894
Yeap, yeap. Adding something like this, works:

[code]

[2019-05-12 04:58] gsagula commented on #6894
@dio Thanks for fixing it. Let me know if you need a code review.
--
Gabriel Linden Sagula

[2019-05-12 05:21] dio commented on #6894
@gsagula Sure! Requested your review already! :bow:

[2019-05-12 13:31] zplinuxlover opened #6911 "compile envoy on Ubuntu 18.04 failed"
I compile envoy of master branch, but I got the error message,
I use the command
     bazel build -c dbg  //source/exe:envoy-static

the error message is below

ERROR: /home/linuxlover/C++/envoy-master/source/exe/BUILD:27:1: Linking of rule '//source/exe:envoy-static' failed (Exit 1) envoy_cc_wrapper failed: error executing command /home/linuxlover/.cache/bazel/_bazel_linuxlover/00b64e74972e87e1f2

[2019-05-12 22:40] #6493 closed

[2019-05-13 00:40] #6439 closed

[2019-05-13 03:56] mattklein123 commented on #6909
In general I really like this idea. I think there are some open questions around how we persist state and do merging such that if we have potentially N independent config sources, and each config source is potentially its own stream if config data, in what order does merging happen and who is responsible for doing it? @yskopets would you be willing to put together a slightly more detailed design d

[2019-05-13 03:57] mattklein123 commented on #6902
cc @gsagula

[2019-05-13 03:58] mattklein123 commented on #6883
No I don't think so. I think it can be arbitrary but I haven't used this code myself. cc @ramaraochavali who can likely advise.

[2019-05-13 03:59] mattklein123 commented on #6901
Not supported today. However, we support custom health checkers, so it should be possible to create a Lua one.

[2019-05-13 04:03] mattklein123 commented on #6907
The field above was actually undeprecated so if Istio updates Envoy it should go away. cc @alyssawilk about potentially making this warning optional. It seems like something we probably don't want to do.

[2019-05-13 04:05] mattklein123 commented on #6845
`callbacks_.onCreateInitialMetadata(headers_message_->headers());` is where you can add/remove/modify headers in a passed in callback.

[2019-05-13 04:07] mattklein123 commented on #6083
@htuch is this fixed?

[2019-05-13 04:19] ramaraochavali commented on #6883
@canselcik  You do not need a second cluster, You can have only  one `ORIGINAL_DST_CLUSTER` cluster and set this header in the request and that should route the request to the desired host.

[2019-05-13 08:17] yskopets commented on #6909
@mattklein123 Sure, I will prepare the doc.

[2019-05-13 12:03] objectiser opened #6915 "Overriding trace sampling configuration on a per route basis"
*Description*:
When the envoy proxy is used as an ingress gateway for multiple endpoints/services it would be useful to set trace sampling parameters on a per service/endpoint basis. If defined, these would override the global values set at the filter level.

Proposal would be to add a trace sampling config to the [route](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#

[2019-05-13 13:13] dnoe commented on #6580
I like this idea. It would enable us to write a custom hexToUint which only has to support hex, and then if any future other odd base use cases show up then the user can construct a string and use `c_str()` or roll their own conversion function if it's performance critical. I suspect those future use cases are extremely rare given none exist today.

[2019-05-13 13:30] alyssawilk commented on #6874
Sadly looks like it wasn't (though please to sanity check my times)

Via #6784
lizan merged commit 27b3e48 into envoyproxy:master 3 days ago

Sat, May 11, 8:07 PM (2 days ago)
https://circleci.com/gh/envoyproxy/envoy/215476?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification
[ RUN ] IpVersions/LoadStatsIntegrationTest.LocalityWeighted/IPv4

The suggestion was it was picking up st

[2019-05-13 13:42] fredlas commented on #6909
No idea if this is actually going to be relevant, but: the integration test framework has something that sounds like this, in ConfigHelper::addConfigModifier. Maybe that can be a helpful reference for how it could be done, although maybe as a test-only thing it's too quick and dirty.

[2019-05-13 15:02] alyssawilk commented on #6896
@danzh2010 @wu-bin

[2019-05-13 15:22] alyssawilk commented on #6907
Yeah, Istio had also asked if we could at least limit it to one log per field (for repeated entries), which is totally reasonable but not on anyone's TODO list.  I don't think we want to allow turning them down completely but if someone wants to limit them I think that's fine.

[2019-05-13 16:24] mattklein123 commented on #6904
@PiotrSikora where do you see the listener marked as "active"? That might be a bug or something we can expose better in stats/admin/etc.

The 2nd part AFAICT is WAI, at least as expected today. The way Envoy init works is that *everything* goes through the init process before listeners are started and actually accept connections. This is so that we make sure the server is fully initialized prior t

[2019-05-13 16:28] mattklein123 commented on #6915
@objectiser sounds reasonable to me.

[2019-05-13 17:00] snowp opened #6921 "subset lb: support matching any value in list metadata"
Currently the subset lb treats the value of each metadata key as an opaque `Value`, comparing the comparing the hash of the value specified in the routing metadata with the hash of the corresponding value in the host metadata.

It would be useful to have the subset lb treat a `ListValue` metadata on the host as providing any of the list values as a value to the metadata key:

Given a host with met

[2019-05-13 17:18] #5555 closed

[2019-05-13 17:45] rgs1 commented on #6921
fwiw this as asked about early this year: https://groups.google.com/d/topic/envoy-users/WMt9Ob0NKkg/discussion

[2019-05-13 17:46] htuch commented on #730
+1, proto first is the way to go, thanks for the cleanup here as first step.

[2019-05-13 17:50] rgs1 opened #6924 "Stats drop after hot restart"
Since stats moved from shared memory to being copied over IPC (#5910), our metrics are seeing a transient drop during hot restarts. E.g.: for `cluster.${cluster}.health_check.failure`:

![image](https://user-images.githubusercontent.com/1349891/57642599-b76d3b00-7585-11e9-84aa-bf2f11f48378.png)

which isn't great because it triggers alerts, etc. I haven't looked into it too much yet, but one suspi

[2019-05-13 17:58] mattklein123 commented on #6924
@rgs1 does the stat temporarily not exist? Is that the issue? Or is it going to 0 and then getting a burst? It's hard to tell. Also what stat sink are you using?

[2019-05-13 17:59] fredlas commented on #6924
I think what's happening is, the hot restart child is reading from those stats before they get copied over from the parent. With shared memory, it was not possible to read a value that wasn't the parent's current value, but with the new approach, there's a window.

Although, as far as the stat dumping goes, if the value hasn't been imported from hot restart, and hasn't been written to, it just sho

[2019-05-13 18:00] rgs1 commented on #6924
cc: @sc0ttbeardsley

[2019-05-13 18:07] rgs1 commented on #6924
@mattklein123 going to 0 and then getting a burst [confirming now tho]. We don't use a sink, we scrape /stats every 60 secs... [I know...]

[2019-05-13 18:14] rgs1 commented on #6924
@mattklein123 this is what happens during a deploy if i scrape `/stats` every 50ms:

[code]

[2019-05-13 18:14] htuch opened #6925 "Reduce or make configurable dynamic header growth factor"
We do simple doubling in `HeaderMapImpl` when computing `newCapacity()` today. This is wasteful, as we head towards the header limits and we might be able to implement some function that provides a gentler approach or make this configurable.

[2019-05-13 18:15] htuch commented on #6925
CC @fpesce

[2019-05-13 18:22] dnoe commented on #6925
An integration with the overload manager's resource monitoring could be worth exploring here too - the growth factor could use different levels of aggressiveness depending on memory pressure.

[2019-05-13 18:23] rgs1 commented on #6924
It takes > 90 seconds for stats to be copied over... That sounds like a lot of time?

[2019-05-13 18:53] canselcik commented on #6883
Thanks @mattklein123 and @ramaraochavali. Looks like `ORIGINAL_DST_CLUSTER` will work nicely and we can drop the `x-envoy-original-dst-host` on the request to enforce who gets to utilize this feature and on which hosts.

[2019-05-13 18:53] #6883 closed

[2019-05-13 18:54] canselcik commented on #6901
Thanks @mattklein123. I will be experimenting with a healthcheck filter right now.

[2019-05-13 19:04] htuch commented on #6899
@PiotrSikora not sure, this can happen with object lifetime issues, but it looks like you are running an old version of Envoy, there's been quite a bit of refactoring of this code due to recent work by @fredlas. Do you want to try at HEAD?

[2019-05-13 19:23] canselcik commented on #6901
@mattklein123 Sorry to mention you by name again but I am wondering if you could point me to a HealthcheckFilter that's "injected" into the Envoy build similarly to how the custom filters are "injected".

[2019-05-13 19:26] htuch commented on #6083
No, see https://github.com/libevent/libevent/issues/777 and https://github.com/libevent/libevent/issues/779

[2019-05-13 19:29] mattklein123 commented on #6901
https://github.com/envoyproxy/envoy/tree/master/source/extensions/health_checkers/redis

[2019-05-13 19:29] htuch commented on #6580
@mattklein123 @dnoe one thought I had was to switch everyone to safe variants of `StringUtil::atoull` etc. that take a bound and clamp to this. This is to prevent potential wire level attacks where header values etc. are consumed opaquely and used for memory allocation or to attempt overflow attacks. By making the only methods we export for this safe-by-construction, we would have confidence in av

[2019-05-13 19:30] sjatlyft commented on #3798
Curious, as I am investigating access logs for security detection, shouldn't the proper response code be 408?

[2019-05-13 19:31] mattklein123 commented on #6580
Yes agreed.

[2019-05-13 19:33] fredlas commented on #6924
That does sound like a lot of time. It's also pretty surprising: the stat flushing in Server::InstanceImpl::flushStats() does the hot restart stat merge before calling flushMetricsToSinks(), and the hot restart child actually blocks on receiving the stats message from the parent. Short of knowing it outright doesn't have a hot restart parent, it looks like it's actually not possible for the child

[2019-05-13 19:37] fredlas commented on #6924
Maybe the "missing datapoints" idea is the missing piece. If what I just described happened, so that the child didn't receive any value for the counter for a while (and didn't have its own), it would just not export any value for the counter's delta that period. If the plotting thing it fed into interpreted "missing delta" as "missing stat" and brought it down to 0, that would be consistent with w

[2019-05-13 19:48] htuch commented on #6909
I think one approach would be to add a filter chain to `ApiConfigSource`, specifying the list of config transformation filters and their opaque config. Some of this gets quite self-referential though, so we need to figure out how to limit the complexity.

+1 to design doc, I think the general idea is a sound one and I've heard this request from other xDS users.

[2019-05-13 19:52] mattklein123 commented on #6924
Yeah, I don't think we are actually sending 323320 over, just the deltas. @rgs1 are the numbers you are showing grepped from `/stats` or are they coming out of your monitoring system?

[2019-05-13 19:56] mattklein123 commented on #6924
Hmm. I know the problem. @fredlas, only statsd actually calls `latch()`. For everyone not using statsd they are going to see this problem. I think we need to lift the `latch()` mechanics out into being done by the server so that it's consistent?

[2019-05-13 19:58] rgs1 commented on #6924
grepping `/stats`

[2019-05-13 20:11] filipeandre opened #6927 "Envoy does not run when setting this cipher suites"
**Envoy does not run when setting this cipher suites**
Last dev build of 15/5/2019

*I want to be able to use this two cipher_suites:*:
- ECDHE-ECDSA-AES256-SHA384
- ECDHE-RSA-AES256-SHA384

BoringSSL supports it, I don't know why envoy throw an error when i try it.

I'm using this ciphers, but the last two are weak.
"ECDHE-ECDSA-CHACHA20-POLY1305",
"ECDHE-RSA-CHACHA20-POLY1305",
"ECDHE-ECDSA-AES2

[2019-05-13 20:34] #4132 closed

[2019-05-13 20:40] PiotrSikora commented on #6899
@htuch sorry, I've been jumping between various versions of Envoy lately (WASM, Istio and `HEAD`), so I might have grabbed logs from an older binary, but I just verified this is still happening at `HEAD` and the stacktrace is the same.

[2019-05-13 20:59] PiotrSikora commented on #6904
Those listeners are listed under `dynamic_active_listeners` and not `dynamic_warming_listeners` in the `/config_dump`:

[code]

Is there a better place to look for the status? In any case, the `/config_dump` seems like a bug.

Ah, I incorrectly assumed that this was already the case, thanks!

But wouldn't this be effectively the enhancement ticket?

[2019-05-13 21:21] canselcik commented on #6901
Thanks, that was the one I was looking at. There should be nothing preventing it to be built the way [envoyproxy/envoy-filter-example](https://github.com/envoyproxy/envoy-filter-example) is built, right?

[2019-05-13 21:27] mattklein123 commented on #6904
It's an artifact of how warming works pre and post init. I agree we can do better here.

https://github.com/envoyproxy/envoy/blob/1345d53d28fd4298182b6916881dee77430aa58e/source/server/listener_manager_impl.cc#L825-L830

It's hard for viewers to look at a giant ticket like this and grok what is going on. Now that we understand both issues, I would suggest opening two details tickets for each sub-i

[2019-05-13 21:31] #6905 closed

[2019-05-13 22:41] mandarjog commented on #6925
I have observed this behaviour while testing with Slowlaris clients and I confirmed with @fpesce.
The memory growth per new connection was much higher that the 4k headers that I was sending.

[2019-05-14 01:59] yskopets commented on #6909
@mattklein123 @htuch @fredlas Please take a look at a [design doc](https://docs.google.com/document/d/1RMpDwU6A6KkgbvtguFYccpygZ_4id9pfnEYbTzJ4DA0/edit?usp=sharing)

[2019-05-14 10:40] PetrovMikhail opened #6930 "Envoy doesn't execute automatic retries using 5xx Envoy retry policy"
**Envoy doesn't execute automatic retries using 5xx Envoy retry policy**

*Description*:

I'm interested in some envoy behavior. I implemented email sending service that is used as cluster in envoy configuration.  I want to retry requests using envoy, if each of 500, 502, 503, 504 status codes return back from service to envoy.

**Bug Template**

*Description*:

In the first case I'm sending sever

[2019-05-14 11:43] ceastman-ibm commented on #4305
@yskopets after this patch was your code for redirecting on status code 401 working?

[2019-05-14 11:49] fttyX commented on #6695
Also, I found out, that if you have several cookies set, one by one, then REQ/RESP returns just the first cookie.

For example, my upstream sets two cookies, SESSIONID and PAGEID. If I add to log format %RESP(SET-COOKIE)% I get just SESSIONID cookie information. But if, for some reason, SESSIONID cookie is not set, then I get the next, PAGEID cookie info in log, which is wrong.

Is it really suppo

[2019-05-14 12:06] dnoe commented on #6925
@eziskind FYI for the overload manager integration idea.

[2019-05-14 12:22] dnoe commented on #6580
Definitely. I'm just wondering if we can skip the generic `atoull` functionality for now and create a safe variant that takes a bound but only does hex. It can be refactored later if conversion from other bases is required but right now it looks like 10 and 16 are the only two being used and base 10 conversion is covered by `absl::SimpleAtoi`.

I guess we might need to think about extensions we ar

[2019-05-14 12:49] Ofinka commented on #4274
Did you find any solution on how to perform this kind of routing?

[2019-05-14 12:50] dio commented on #6695
@fttyX could you give me an instance of it? I can try to validate it. Thanks!

[2019-05-14 12:58] fttyX commented on #6695
For example, if I do curl request to website foo.example.com, I get response cookies like that:

[code]

What I want here, is to put 4b140519-3f72-53af-c0cd-63cf125a5cf4 to envoy log.

[2019-05-14 13:21] PetrovMikhail commented on #6930
Size of sending file in request is in the first case ~2 MB.

[2019-05-14 13:27] snowp commented on #6930
I suspect you're running into the limitation that Envoy is unable to retry requests that are too large to fit into its buffer, evident by the fact that `envoy_cluster_retry_or_shadow_abandoned` is non-zero. Can you try setting `per_connection_buffer_limit_bytes` on the cluster to something higher? The default is 1MiB.

[2019-05-14 14:21] htuch commented on #6580
@dnoe I'm hoping we can also avoid direct reliance on `absl::SimpleAtoi`. Basically, anywhere we do ASCII to integer conversion, this is reasonable place to be defensive and go through wrapped variants that do bounds checks IMHO. Maybe there will be some performance exemptions, but we can deal with these on a case-by-case basis.

[2019-05-14 14:24] PetrovMikhail commented on #6930
Yes, I think that your advise in right way, thank you! but I increased this value, and it did not work yet, I think that i have to increase limit file value in another parameters of Envoy too. Do you where it is may be?

[2019-05-14 15:19] PetrovMikhail commented on #6930
@snowp , thank you very match, this was a right solution. Besides envoy we have nginx in series, and after increasing `client_max_body_size`  it works fine.

[2019-05-14 15:32] mattklein123 commented on #6925
FWIW I think we can likely just do away with the doubling, I think it's only useful for HTTP/1 since HTTP/2 will raise complete headers AFAIK. I'm not sure what the best option would be, but probably just increase to what is needed plus some rounding.

[2019-05-14 15:38] gsagula commented on #6787
@dio Since you kindly offered :)
I didn't have time to tackle this one. It seems critical though. Let me know if you need any help. Thanks!

[2019-05-14 15:42] gsagula commented on #6787
I think the problem could be somewhere around here: https://github.com/envoyproxy/envoy/blob/1d104e5616eda07ea96161b9f031e0385260702a/source/extensions/filters/common/ext_authz/check_request_utils.cc#L126

[2019-05-14 16:13] albertoal commented on #1028
Is there an update on this request? We just adopted envoy proxy and are unable to send UDP metrics via `envoy.dog_statsd` stats_sink as it only supports an IP address on the `socket_address.address` and our DogStatsD listener runs as a service on Kubernetes with a kube DNS name such as `my-svc.my-namespace.svc.cluster.local`. We tried to use a cluster instead but these only support TCP as per this

[2019-05-14 16:28] rgs1 opened #6935 "allow setting RuntimeFractionalPercent values via /runtime_modify"
I am trying to enable traffic shifting, but I want more granularity than using the default denominator (100). Runtime values for this setting can be a YAML serialized dictionary, with numerator/denominator that will then be parsed via `parseEntryFractionalPercentValue()`:

https://github.com/envoyproxy/envoy/blob/master/source/common/runtime/runtime_impl.cc#L325

The problem is that `/runtime_modi

[2019-05-14 16:57] cmluciano commented on #1028
@albertoal There were a few pieces that I needed to implement before I could get the statsd support working. Some of these pieces are also being fleshed out in #6912 . As soon as that lands, I should be able to easily rebase some of the changes that I have duplicated in my branch and get that PR up for official review.

[2019-05-14 17:00] #6542 closed

[2019-05-14 17:10] yskopets opened #6936 "Add audit log for configuration updates"
*Title*: Add audit log for configuration updates

*Context*:

In enterprise environment it is often necessary to track compliance with internal policies. E.g.,
- support a particular TLS cipher suite
- enforce a particular SSO method
- enforce RBAC consistently
- etc

If a violation is detected, it is usually important to be able to answer for how long the issue has been in place.

*Proposal*:
- A

[2019-05-14 17:31] dnoe commented on #6925
With the fuzz coverage working again and not hung up on `valid()` assertion we can have the confidence to reduce this after https://github.com/envoyproxy/envoy/pull/6923.

[2019-05-14 17:51] albertoal commented on #1028
That's great - thanks @cmluciano for the update!

[2019-05-14 18:48] keith commented on #2461
Here's the first step of the config https://github.com/envoyproxy/envoy/pull/6938

[2019-05-14 19:23] hanyu-liu commented on #6119
Looks like it will not work for gRPC? @gsagula

[2019-05-14 19:24] hennna commented on #730
Slightly related, in the future we were thinking of changing the route validation tool from depending on mocks to fakes so the tool could potentially be run as a service.

[2019-05-14 19:35] mattklein123 commented on #6935
@rgs1 I mildly prefer (1) but I don't feel that strongly about it.

[2019-05-14 19:40] rgs1 commented on #6935
@mattklein123 cool, i'll go with that.

[2019-05-14 20:25] htuch commented on #6904
Having listeners warm independently also better lines up with the goal of better handling of partial xDS update failure handling (e.g. having a partial RDS update be able to unblock a bunch of listeners). So, +1 to this.

[2019-05-14 20:29] PetrovMikhail commented on #6930
This is my folder, I didn't understood correct results of tests, which I describe in two previous comments. I already change `per_connection_buffer_limit_bytes` to 30 000 000 value, which just about equal 30 MiB, but when I was testing envoy behavior next, I discovered that envoy still doesn't retry request with files > 1 MiB. Maybe another parameter is occurs which changes buffer size of cluster

[2019-05-14 21:19] dio commented on #6901
@canselcik do you mean to build it "out-of-tree"? I think so yeah. FWIW, I believe you have discovered that this custom health checker, if properly configured, will be loaded in here: https://github.com/envoyproxy/envoy/blob/003e2f417c4d58e99a8d15a26408a83be4e3e01c/source/common/upstream/health_checker_impl.cc#L71

[2019-05-14 21:22] htuch commented on #6909
@yskopets I've left some feedback on your doc. Overall, I like the motivation and where this is going, this is pretty awesome. My main concern with the current proposal is "action at a distance". We have a bunch of configuration in bootstrap that then effectively overrides individual xDS APIs. Envoy's existing APIs are tree structured, and the configuration for EDS, for example, is not in the boot

[2019-05-14 22:25] htuch commented on #6899
@PiotrSikora can you create a regression test for this in `ads_integation_test` or `xds_integration_test`? This would make it pretty reasonable to debug and is going to be needed anyway once we have the fix.

[2019-05-14 23:04] mattklein123 commented on #6909
Left a few comments in the doc, also generally LGTM. We can continue discussion in the doc. Thank you for working on this.

[2019-05-14 23:04] mattklein123 commented on #6936
@yskopets this makes sense to me. Can you put together a design doc for this one also?

[2019-05-14 23:40] venilnoronha opened #6943 "Implement an Aerospike Filter"
*Title*: Implement an Aerospike Filter

*Description*:
The issue is created mainly for gauging community interest in an Aerospike filter implementation (similar to Mongo and MySQL filters).

*Relevant Links*:
https://www.aerospike.com/docs/dev_reference/wire_protocol.html

[2019-05-15 00:09] canselcik commented on #6901
@dio Yes, thank you. Your answer actually pointed me to exactly where I should be looking at (which I had stumbled upon just earlier today), and I appreciate it.

FWIW, I have put together a minimal version and have been able to construct and get onInterval invoked on the healthchecker. It seems to be working without an issue.

[2019-05-15 03:17] rgs1 opened #6947 "crash on upstream connection from envoy to envoy using HTTP1/TLS"
We have the following mesh setup:

[code]

and today most of the  envoys in cluster`envoy-A` crashed when the `envoy-B`
cluster was hot-restarted.

The stack trace was:

[code]

We are suspicious of #6578, given it touched lines close to the crash location:

https://github.com/envoyproxy/envoy/blob/master/source/common/http/http1/codec_impl.cc#L762

I'll try to get a repro tomorrow.

cc: @fishcake

[2019-05-15 03:23] mattklein123 commented on #6947
@rgs1 almost definitely this. I spent most of my day today figuring this out. :) https://github.com/envoyproxy/envoy/pull/6942

[2019-05-15 03:25] rgs1 commented on #6947
@mattklein123 we should coordinate our debugging parties... thanks for the fix!

[2019-05-15 03:40] An0nymous0 commented on #886
Has this thing progressed?

[2019-05-15 03:47] crazyxy commented on #6876
Hi @mattklein123 @jplevyak @silentdai @PiotrSikora, I am implementing this feature and I have some questions.

1. Getting record ttl is difficult. `Envoy` uses `c-ares` to query DNS. In current repository, `ares_gethostbyname` is used for resolving name. Unfortunately, `ares_gethostbyname` doesn't provide record ttl information to callback function. In order to get record ttl, alternatives are `ar

[2019-05-15 05:19] crazyxy commented on #6876
Hi @mattklein123 @jplevyak @silentdai @PiotrSikora, I am implementing this feature and I have some questions.

Getting record ttl is difficult. `Envoy` uses `c-ares` to query DNS. In current repository, `ares_gethostbyname` is used for resolving name. Unfortunately, `ares_gethostbyname` doesn't provide record ttl information to callback function.

In order to get record ttl, as far as I know, alte

[2019-05-15 08:30] cihankom opened #6950 "Envoy is crashed when try to log if there is no space"
**Envoy is crashed when try to log if there is no space**

*Envoy is crashed when try to log if there is no space*: *Enabled access log and if no space left, envoy is crashed immediately*

*Description*:
I enabled access logs and on load traffic, the log partition can be full in sometimes. In that time, envoy is crashed and the log is like following. The expected behaviour is not crashed and not t

[2019-05-15 08:34] dio commented on #6947
Closed by #6942. Please re-open if otherwise. Thank you!

[2019-05-15 08:34] #6947 closed

[2019-05-15 08:52] yskopets commented on #6936
@mattklein123 Sure.

[2019-05-15 09:28] yskopets commented on #6909
@htuch Ok, I will rework the proposal.

[2019-05-15 10:19] dio commented on #5215
@lavignes anything we can do to help? If you're OK probably we can do the PR on your behalf.

[2019-05-15 10:24] dio commented on #6787
Submitted a fix here #6949, if you have time PTAL. Thanks!

[2019-05-15 11:33] filipeandre commented on #6927
Hi @dio. Isn't it a bug?

[2019-05-15 11:39] lizan commented on #6927
Which version of Envoy are you running? cc @PiotrSikora

[2019-05-15 11:47] filipeandre commented on #6927
I'm running envoyproxy/envoy-alpine-dev:6dd4b6f83119e6b284f95ed9c74e4dfcbb4efc8c daily release.

[2019-05-15 12:28] PiotrSikora commented on #6927
BoringSSL doesn't support those cipher suites:
[code]

[2019-05-15 12:31] filipeandre commented on #6927
Are you sure?
I see the ECDH HMAC based ciphersuites from RFC5289 defined in [tls1.h](https://github.com/google/boringssl/blob/6c1b376e1d502eff365028fe054115f1b46d19b5/include/openssl/tls1.h).

[2019-05-15 12:41] davidben commented on #6927
No, BoringSSL does not support them. There is no compile-time flag to restore them, nor do we have any plans to add one. That file has a ton of constants lying around that we have not yet pruned, as some code may rely on them.

While you're right that `ECDHE-ECDSA-AES256-SHA` and `ECDHE-RSA-AES256-SHA` (standard names are `TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA` and `TLS_ECDHE_RSA_WITH_AES_256_CBC_S

[2019-05-15 12:50] filipeandre commented on #6927
Thank you very much everybody for elucidating me.

[2019-05-15 12:50] #6927 closed

[2019-05-15 12:54] PiotrSikora commented on #6927
@filipeandre no, there is no support for those cipher suites.

[2019-05-15 13:39] mpuncel opened #6951 "Envoy crash in Http2Callbacks"
*Title*: *Envoy crash in Http2Callbacks*

*Description*:
I saw a segfault when running our control plane integration suite against Envoy version 5a92867ab5437861b072921b11e9083cf0c63aa5 (May 10). Edit: also reproduces on 6dd4b6f83119e6b284f95ed9c74e4dfcbb4efc8c

Output of stack_decode.py:
[code]

[2019-05-15 14:07] jmarantz opened #6953 "time: plumb in time-source rather than calling time(nullptr)"
in server/server.cc, start_time_ is initialized with time(nullptr) -- we should use TimeSource, there and elsewhere.

[2019-05-15 14:32] mpuncel commented on #6951
I did some git bisecting and came up with these candidate bad commits:

[code]

Unfortunately envoy-alpine-debug-dev images weren't published for some of those hence why I couldn't narrow it to a single commit

[2019-05-15 14:37] mattklein123 commented on #6950
@cihankom that's a debug assert. It will be compiled out on release builds. IMO it's reasonable to keep that assert in this case. In release builds the data will be dropped.

[2019-05-15 15:31] fredlas commented on #6924
Ok, I see. I think this might need a change to the Counter interface, although hopefully for the cleaner. Rather than having latch() be an atomic read-and-reset, let's have latch() just be a reset (and no longer return a value; maybe it should be renamed), and have a new delta() just be accessing the increment. Then, the use of latch() could be confined to just Server::Instance::flushStats (while

[2019-05-15 15:33] fredlas commented on #6924
Oh, but then I guess if you're just accessing with delta(), you're going to miss increments if you aren't perfectly synced up.......

[2019-05-15 16:04] #6507 closed

[2019-05-15 16:38] AndresGuedez commented on #6872
This is an odd backtrace. Frame 0 implies that `callbacks == nullptr` (see code below), but there is a nullptr check right before the access. A race condition on `callbacks_` shouldn't be possible, so either the backtrace is wrong or an assumption is not holding up.

I agree allowing watermark callbacks during delayed close is risky and a change should be made, but I wouldn't be confident such cha

[2019-05-15 16:38] mpuncel commented on #6951
I repro'd again on 6dd4b6f83119e6b284f95ed9c74e4dfcbb4efc8c (latest master) and attached gdb:

[code]

The line from frame 1 is https://github.com/envoyproxy/envoy/blob/master/source/common/http/http2/codec_impl.cc#L490

[code]
The vtable seems to have garbage in it

[2019-05-15 17:31] snowp commented on #6951
@mattklein123 Do you think this could be related to your change? Could we be cleaning up the decoder as a result of inline hc removal causing the http/2 codec to blow up?

It's a bit weird that we could be hitting this since we're running with `drain_connections_on_host_removal` which should bypass all the pending removal stuff, but the Git bisect @mpuncel posted makes me think that it has to be r

[2019-05-15 21:07] zuercher commented on #886
@bitsofinfo if the envoy virtual host were configured with `domains: [ "host", "host:*" ]` it will allow any port, including a port that was elided as the default port for the scheme.

[2019-05-15 21:33] mattklein123 commented on #6951
@mpuncel if you can repro can you run under ASAN? It's not immediately clear to me what the problem might be. Are you using HTTP/2 for health checking?

[2019-05-15 21:35] snowp commented on #6951
Here's a trace of the destruction of the the `StreamDecoderWrapper` that's seg faulting (I'm assuming that no other StreamDecoderWrapper is allocated at the same memory location):

[code]

I can see if I can run this under asan

[2019-05-15 21:36] snowp commented on #6951
And yes, we are using HTTP/2 for health checking

[2019-05-15 21:40] mattklein123 commented on #6951
I think this is likely a very similar bug to the one I just fixed for HTTP/1, but it's not immediately obvious to me what the issue is.

[2019-05-15 21:45] mattklein123 commented on #6951
What this trace says to me is that closing the codec client is not preventing read data from being dispatched. This might better explain some of the issues we have seen at Lyft. I still suspect that the bug I fixed is not the only bug here.

[2019-05-15 21:56] mattklein123 commented on #6872
@AndresGuedez good point about callbacks looking like it's nullptr there. I agree that should not happen. I don't have any more info right now but I can look at a core dump if I see this again. It does some though like we could attempt to raise callbacks when we go below low watermark? I'm pretty sure from the code that can happen which is definitely broken. Perhaps the trace is not accurate?

[2019-05-15 22:21] htuch commented on #6434
We have a postmortem for this at https://github.com/envoyproxy/envoy/blob/master/security/postmortems/cve-2019-9900.md with action items tracked at https://github.com/envoyproxy/envoy/issues?utf8=%E2%9C%93&q=is%3Aissue+%22Action+item+for+CVE-2019-9900%22+.

[2019-05-15 22:21] #6434 closed

[2019-05-15 22:22] htuch commented on #6435
We have a postmortem for this at https://github.com/envoyproxy/envoy/blob/master/security/postmortems/cve-2019-9900.md with action items tracked at https://github.com/envoyproxy/envoy/issues?utf8=%E2%9C%93&q=is%3Aissue+%22Action+item+for+CVE-2019-9901%22+.

[2019-05-15 22:22] #6435 closed

[2019-05-15 22:32] mattklein123 commented on #6924
@fredlas my general thinking here is that we should keep the `latch()` functionality as is, but rework flushing for sinks so that we potentially drive it from server.cc (or some utility), which would iterate through state, latch, and then maybe call a more targeted function in the sinks with both the delta and the total. Or something like that. I would need to look at the code more to develop a mo

[2019-05-16 00:19] bplotnick opened #6959 "Read back what port Envoy actually bound to"
*Title*: *Read back what port Envoy actually bound to*

*Description*:
This is a somewhat half-baked idea, but we have a use-case where we want to set up a bunch of Envoy listeners (in the 100s), but we don't want to worry about having to allocate ports statically.

We don't want to have the control plane worry about what ports are free, and even if it did know, it would be (almost) impossible for

[2019-05-16 01:33] snowp commented on #6951
Some more debug info:

This prints out the invocation of `onReadReady` and `close` on ConnectionImpl, with the last line being part of the SIGSEGV:

[code]

This seems to indicate that `close` is *not* called for the offending connection.

Here is a breakpoint showing that when deferredDelete is called the client_ is null:

[code]

which notably skips the call to close.

I still don't understand w

[2019-05-16 02:44] mattklein123 commented on #6951
@snowp `onDeferredDelete` is also called in the destructor so the callstack is relevant.

Are you able to add an OSS integration test that uses HTTP/2 health checking? It would be useful anyway and you can probably repro this, then we can debug it together.

[2019-05-16 02:50] mattklein123 commented on #6959
@bplotnick yeah we should just make the `/listeners` endpoint better. This has come up several times. AFAIK write now it's only used for testing, so we should be able to make it better and fix the tests.

[2019-05-16 03:10] skydoctor commented on #1606
Any workaround or progress on this? This would enable the proper use of a egress-gateway in Istio as outlined in the question here: https://groups.google.com/forum/#!topic/envoy-dev/xVvy3Q26VNM

[2019-05-16 04:00] hanoisteve commented on #1603
What kind of a docker issue causes this ? As I also am seeing connection refused on a demo application.

[2019-05-16 04:09] hanoisteve opened #6961 "Can't connect to front proxy"
No Documentation on Docker issues connecting to Front End Proxy

*Description*:

I configured a Envoy as reverse proxy for GRPC service to rest interface.  Envoy documentation states that binaries are not delivered because docker image. However, whenever there is a connection related issue its closed as a `docker issue`.  Even if it is a `docker issue` I think we need some documentation of how to

[2019-05-16 05:54] jyotimahapatra commented on #730
I am trying convert the json schema to proto, today the tool is run like this `router_check_tool config.json test.json`
The test.json is a headless json object, which causes the proto conversion to fail with this message

Any suggestions about how to deal with this? I assume we want backward compatibility with the existing json test file schema

[2019-05-16 05:58] cihankom commented on #6950
Ok, I see. thanks for your help

[2019-05-16 06:09] #6950 closed

[2019-05-16 08:27] tobiaskohlbau commented on #1178
Now when envoy 1.10.0 is releases and this issue has the milestone 1.10.0 and 1.11.0, is it realistic to see support for this within the next release?

[2019-05-16 08:48] markschmid opened #6963 "Selectively check TLS client cert based on domain or route"
Description

In a "web context", we would like to check the TLS client certificate for some requests, but for other requests to the same envoyproxy, no client certificate is needed. The distinction could be based on domain or path (routing) level. We've tried different ways to achieve that goal, but have not succeeded so far.

Things we've considered:
- As far as we understand from the docs, a lis

[2019-05-16 08:49] ramaraochavali commented on #6959
How about using '/config_dump' and parse [ListenersConfigDump](https://github.com/envoyproxy/envoy/blob/cbd8d57e9fc2921d26236db24b6bf91246ba3b4f/api/envoy/admin/v2alpha/config_dump.proto#L51) ?

[2019-05-16 12:50] alyssawilk commented on #6959
#3010 was more about upstream clusters - there are networks which associate different ephemeral port ranges with different QoS so that was more about upstream egress getting classified correctly.  Even if we had a similar feature for listeners I think if you're looking at many listeners and so many ranges you'd still run into trouble, so binding to 0 and having better information on /listeners sou

[2019-05-16 13:17] alyssawilk commented on #6872
The thing which confused me is how any callbacks would be registered at this point.
When we do flush-close I thought we always cleared out the whole stream map?  There shouldn't be anything to call.
I'd be totally fine with defense in depth and adding a #6852 style guard in watermark callbacks and ASSERTing it should never happen.  If you think that's a reasonable thing to do feel free to assign t

[2019-05-16 13:52] rahulraykor commented on #6726
I am also facing same issue.
I am using v 1.9 Envoy.
Is this issue correctly reproduced? If not I can get you steps to reproduce the same.

[2019-05-16 15:05] HarinadhD commented on #6835
# I'm able to build envoy-1.10.0 package with photonOS-2.0 and 3.0 but it failed for photonOS-1.0
#below is the output --

INFO: From Compiling external/envoy_api/envoy/data/tap/v2alpha/http.pb.cc:
bazel-out/k8-opt/genfiles/external/envoy_api/envoy/data/tap/v2alpha/http.pb.cc:199:13: warning: 'dynamic_init_dummy_envoy_2fdata_2ftap_2fv2alpha_2fhttp_2eproto' defined but not used [-Wunused-variable]

[2019-05-16 15:45] fredlas commented on #6924
I see, so rather than letting people call latch(), they instead need to provide a callback? Something like that? Maybe it would be best if you figure out what looks most likely to work before I start just trying to do something.

[2019-05-16 15:55] mattklein123 commented on #6924
@fredlas sure I can do more investigation. I'm happy to work on this also if you are busy with other stuff. I might not get to it for a couple of weeks though.

[2019-05-16 15:58] mattklein123 commented on #730
I would just do ^. I think we could probably just switch it, but it would be nicer to deprecate. Thank you!

[2019-05-16 15:59] mattklein123 commented on #1606
No promises but I'm going on vacation for the next two weeks and this might be my vacation coding project. I will report back if I get started.

[2019-05-16 16:12] snowp commented on #6951
ASAN output for crash:
[code]

This seems to confirm that the above trace is where the value is freed.

I tried replicating the test in an integration test (by updating eds_integration_test to use h2 and do a CDS update during test execution) with little luck, but @mpuncel is gonna give it another go

[2019-05-16 17:20] htuch commented on #961
We now have Nighthawk (https://github.com/envoyproxy/nighthawk) with the requisite load generation tools. I think it would be great if someone wants to pick up the creation of an orchestration and CI regression / visualization framework around this. It would be very useful to have an understanding how basic QPS vs. latency tracks over time.

CC @mattklein123 @oschaaf

[2019-05-16 18:22] oquenchil opened #6968 "libgcc and libstdc++ not linking statically with incompatible Bazel flag"
Hello,

I'm trying to flip the Bazel flag --incompatible_do_not_split_linking_cmdline:
https://github.com/bazelbuild/bazel/issues/7687

`bazel test --incompatible_do_not_split_linking_cmdline  //test/exe:envoy_static_test`
will start failing with:
exec ${PAGER:-/usr/bin/less} "$0" || exit 1
Executing tests from //test/exe:envoy_static_test
[code]

You have a [script](https://github.com/envoyproxy/

[2019-05-16 18:29] ahedberg opened #6969 "Proposal: ProcessContext"
*Title*: *Allow users to pass data to filters via e.g. ProcessContext*

*Description*:
This is a hand-wavy feature request. Design ideas welcome.

We run Envoys in a binary with other serving threads. We'd like some of our filters to behave differently based on the lameduck status of those other serving threads. However, there's not a great way currently to get state from those threads/servers to

[2019-05-16 19:25] htuch commented on #6969
Yeah, I'd consider making `ProcessContext` part of `FactoryContext` (since Server can provide it) and also instead of `void *` we use some base class `ProcessObject` and `dynamic_cast`. @mattklein123 @jmarantz WDYT?

[2019-05-16 19:39] gnz00 opened #6972 "403 Forbidden when sending Upgrade: h2c to cluster configured with H1 & H2"
When a cluster has been configured with both H/1.1 & H/2 protocol options, Envoy returns a `403 Forbidden` response when sent a H2 upgrade request over H/1.1.

It isn't clear why Envoy returns a 403, I believe that Envoy should either:
- attempt to upgrade the request to H/2 _(resulting in 503 in scenario below)_
- ignore the upgrade and continue the request as H/1.1 _(resulting in 200 in scenario

[2019-05-16 20:22] fredlas commented on #6924
Sure, if you're interested, that might be best - I am not sure I have time unless this turns out to be pretty simple :-/

[2019-05-16 20:37] skydoctor commented on #1606
Awesome! Hope you have a great vacation :)

[2019-05-16 22:30] Richardo92 opened #6974 "Cannot set up global rate limit service locally"
**Issue Template**

*Title*: *fail to connect envoy proxy with global rate limit service*

*Description*:
I have set up a simple mesh network based on envoy locally.
Below is the mesh file:
[code]
I am using the latest envoy docker image: `FROM envoyproxy/envoy-dev:latest`

When I `curl localhost:8000/service/1`, request will first go to the front-envoy, and then gets redirected to service1. Below

[2019-05-16 22:35] Richardo92 commented on #6974
@junr03 @htuch FYI

[2019-05-16 23:22] #6706 closed

[2019-05-16 23:22] #6617 closed

[2019-05-16 23:42] snowp commented on #6951
OK I think i've figured out what's going on:

Here are three stack traces: 1) when `deferredDelete` is called for the `ActiveRequest`, 2) when the health checker is destroyed (and `clearDeferredList` is therefore called) and 3) where the segfault happens:

[code]

The interesting function is
[code]
from `StreamDecoderWrapper`.

In `onPreDecodeComplete` we call
```void onPreDecodeComplete() overrid

[2019-05-16 23:44] snowp commented on #6951
The key realization was that this wasn't triggered by a frame arriving *after* we closed the hc session (so it wasn't related to not closing the connection), but during the *same* frame that closed the hc session

[2019-05-17 01:42] Richardo92 commented on #6974
I tried to downgrade my envoy version to be `envoyproxy/envoy:v1.9.0`
and followed the configure in this issue: https://github.com/envoyproxy/envoy/issues/3388
Now I can move rate_limit_service out but rate limit still doesn't work.

[code]

[code]

[code]

[code]

Please help me. Or I have to call police.... @junr03 @htuch CC

[2019-05-17 03:46] mattklein123 commented on #6951
Thanks for digging. Can you try to develop a test that crashes? I will look at this tomorrow. I'm not thrilled with the can of worms this change has opened so maybe there is a way to step back and do better. I'm not sure but will take a holistic look.

[2019-05-17 04:31] vielmetti commented on #1861
The CNCF CI team is tackling this at https://github.com/crosscloudci/crosscloudci/issues/134 for cross-reference.

[2019-05-17 05:13] snowp commented on #6951
Here's a reproducer (bit rough around the edges): https://github.com/envoyproxy/envoy/compare/master...snowp:crash-test?expand=1

The key is to get a health check response for a new cluster that ends up destroying the old one by finalizing the cluster warming

[2019-05-17 07:08] markschmid commented on #6963
Simplified config:

[code]

How to extend this config with a route or a domain for the cluster `web` where requests must not be checked for client certificate?

[2019-05-17 08:16] Yikun commented on #1861
We have able to build the Envoy arm64 binaries in OpenLab, and now, there are two ways to trigger the Envoy arm64 build:

1. [**Periodic  job**](http://status.openlabtesting.org/builds?job_name=envoy-build-arm64): The periodic job had been enabled for a month, now you can see the periodic `envoy-build-arm64` job for `envoyproxy/envoy` in [OpenLab dashboard](http://status.openlabtesting.org/builds?

[2019-05-17 08:36] Yikun commented on #1861
The PR looks like: https://github.com/envoyproxy/envoy/pull/6981

It just likes what we have done in the other CNCF project `containerd` [1] , now each containerd project pr is trigger the build job [2].

[1] https://github.com/containerd/containerd/pull/3242
[2] https://github.com/containerd/containerd/pulls

[2019-05-17 12:21] HarinadhD commented on #6835
#issue got resolved after updating gcc version from 5+ to 6+

[2019-05-17 15:52] mattklein123 commented on #6872
@alyssawilk @AndresGuedez I don't think these are the stream callbacks, it's the connection callbacks. See `ConnectionImpl::onLowWatermark`. We never remove connection callbacks so I'm fairly certain they can fire if we go below low watermark during the flush delay.

[2019-05-17 16:35] fredlas commented on #2500
This is nowadays typically being referred to as "on-demand". Hopefully writing on-demand or on demand in here will make this issue show up when searching issues for "on-demand". On-demand on-demand.

[2019-05-17 17:28] mattklein123 commented on #961
Agreed this sounds amazing. Let's discuss this on the next community call?

[2019-05-17 17:29] mattklein123 commented on #6969
SGTM

[2019-05-17 17:58] fcfort commented on #6622
Is this issue a dupe of #4357?

[2019-05-17 18:22] eziskind commented on #6622
yes - please mark as a duplicate.

[2019-05-17 18:28] eziskind commented on #6622
Duplicate of #4357

[2019-05-17 18:47] yangminzhu commented on #6963
Maybe you can use the RBAC filter to enforce that only requests with valid certs are allowed to `x.domain.com`? The RBAC filter has a pretty flexible API: https://github.com/envoyproxy/envoy/blob/034b23e956e2381105c605e0d851a7ea6c0ca849/api/envoy/config/rbac/v2alpha/rbac.proto#L60

You can configure it simply as a HTTP filter in your http connection manager before the `envoy.router` filter.

[2019-05-17 18:54] mattklein123 commented on #6909
@yskopets out of curiosity do you know roughly when you plan on implementing this? We are interested in using this at Lyft in the next 3-6 months and wanted to get a rough idea of your thinking on timing.

[2019-05-17 18:56] mattklein123 commented on #6581
Fixed

[2019-05-17 18:56] #6581 closed

[2019-05-17 20:17] gsagula commented on #6119
@hanyu-liu Why not?

[2019-05-17 20:30] ramachaitanyak opened #6989 "Request to merge implementation for configuring (add/hide) 'x-forwarded-proto' header by envoy"
*Description*:

[*Relevant Links*:]

[2019-05-17 20:31] fcfort opened #6990 "Support customizing the scope of stats"
This isn't a concrete proposal, I wanted to get a discussion going to see what's possible in this vein.

The problem that we have is that many classes of stats aren't scoped at a granularity that we'd like to report at. For instance all the [CONN_MAN_LISTENER_STATS](https://github.com/envoyproxy/envoy/blob/master/source/common/http/conn_manager_config.h#L121) are listener address/port scoped while

[2019-05-17 20:57] mergeconflict commented on #5569
I have a [proposal](https://docs.google.com/document/d/14CAt13uAlrCPPAh3dL06JL0FrKRh8VKJfjCg6HV7p3c) (now with more detail and fewer owl drawings). I'm hoping to use it as the basis for #6453.

Attn: @mattklein123 @junr03 @htuch.

[2019-05-17 21:02] hanyu-liu commented on #6119
Looks like the status code has been set on gRPC failures @gsagula. Did I miss anything?

https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/common/ext_authz/ext_authz_grpc_impl.cc#L75

[2019-05-17 21:22] #6622 closed

[2019-05-17 21:34] htuch commented on #2500
@fredlas I've also updated the title, thanks.

[2019-05-17 21:41] yskopets commented on #6909
@mattklein123 I could start working on this in a couple weeks. 1 day per week.

[2019-05-17 22:00] mattklein123 commented on #6924
OK I'm working on a fix for this. @rgs1 when I have it would you be willing to test it in your env?

[2019-05-17 22:16] gsagula commented on #6119
This is the default response code and it will get returned to the client unless the different code is configured on the filter level.

[2019-05-17 22:26] gdheller42 commented on #6119
@gsagula Has this been merged into master yet? Thanks.

[2019-05-17 22:36] gsagula commented on #6119
Not yet, I'm addressing the last comment. It should get merged soon though.

[2019-05-17 22:38] gdheller42 commented on #6119
@gsagula Thanks for the update..

[2019-05-17 23:14] keith opened #6995 "Bazel incompatible changes"
This issue tracks incompatible bazel changes that cause upstream bazel CI test failures.

Starting today we have upstream bazel CI building and testing envoy so bazel can catch issues sooner. As part of this we want to try and stay ahead of upcoming breaking bazel changes (more discussion [here](https://github.com/bazelbuild/continuous-integration/pull/653)).

Now that this is enabled I want to ta

[2019-05-17 23:15] keith commented on #6995
I've submitted a PR against protoc-gen-validate with some changes https://github.com/envoyproxy/protoc-gen-validate/pull/200

[2019-05-17 23:15] keith commented on #6995
We're being hit by https://github.com/bazelbuild/bazel/issues/7849 which I'm not sure what the migration plan is for, but it appears to be affecting protobuf directly as well.

[2019-05-17 23:46] mattklein123 commented on #6909
@yskopets awesome sounds good. We can keep in touch and potentially help out regarding timing.

[2019-05-18 03:03] dio commented on #6989
Sorry,
@ramachaitanyak do you have the relevant link for you patch/PR?

[2019-05-18 03:15] #6314 closed

[2019-05-18 03:56] gyang274 commented on #6897
@lizan @mattklein123 I am experiencing a similar issue. I can provide a reproducible example if needed.

[2019-05-18 04:07] dio commented on #6897
@gyang274 reproducible example will be very helpful!

[2019-05-18 10:50] developersPHP opened #6999 "why the transcoding_filter could not find service in the proto descriptor"
## the envoy config like this:
[code]
### when i use docker to run envoy like this
[code]
i will be error and the error info is "[2019-05-18 10:37:41.192][1][critical][main] [source/server/server.cc:90] error initializing configuration '/etc/envoy/envoy.yaml': transcoding_filter: Could not find 'reservations.ReservationService' in the proto descriptor
[2019-05-18 10:37:41.194][1][info][main] [sour

[2019-05-18 11:06] tobiaskohlbau commented on #2852
Hello,

I think this issue is the best place to report some regression introduced by #4950. The python script `kafka_generator.py` does not work with python3 (everything else within envoy default settings works for me).

https://github.com/envoyproxy/envoy/blob/fa0b52a874b67c857bd314620592d39280767330/source/extensions/filters/network/kafka/protocol_code_generator/kafka_generator.py#L238

[code]

[2019-05-18 12:20] developersPHP commented on #2078
hi you slove the question? i have the same problem. when initializing envoy configuration .the error message like this:
error initializing configuration '/etc/envoy/envoy.yaml': transcoding_filter: Could not find 'reservations.ReservationService' in the proto descriptor

[2019-05-18 18:01] adamkotwasinski commented on #2852
@tobiaskohlbau addressed in https://github.com/envoyproxy/envoy/pull/6998

[2019-05-18 19:05] gyang274 commented on #6897
@dio I actually fixed the problem by using
`hosts: [{ socket_address: { address: 0.0.0.0, port_value: 50051 }}]`
instead of
`hosts: [{ socket_address: { address: host.docker.internal, port_value: 50051 }}]`
in enovy.yaml clusters settings, and start the docker with --network=host. This leads to success communication, although get warning that this option is depreciated.

[2019-05-18 23:15] #6551 closed

[2019-05-18 23:30] moderation commented on #6897
The non-deprecated way of specifying hosts is shown in the following example - https://github.com/envoyproxy/envoy/blob/master/examples/grpc-bridge/config/s2s-grpc-envoy.yaml#L35-L43

[code]

[2019-05-19 02:15] #6486 closed

[2019-05-19 04:03] #6554 closed

[2019-05-19 21:01] mattklein123 commented on #6990
@fcfort many of the stats you reference are replicated at both the cluster and HCM layer. At a high level I think it's fine to offer stat prefix/scope configuration (and we do that in some places) but could you potentially be a little more specific with what things you want to configure? It might help focus the conversation a bit. Thank you.

[2019-05-19 21:28] jmarantz opened #7003 "stats: need a way to lookup stats from strings in hot-path without taking a lock."
In general, we want to convert strings to StatName during initialization, xDS reload, etc, rather than doing string lookups in the hot-path.

However in some cases this may be unavoidable. For example, stat names can be controlled via HTTP request headers:

https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/router_filter#x-envoy-upstream-alt-stat-name

and

https://www.envoypro

[2019-05-19 23:12] owais opened #7004 "Envoy does not seem to respect SDS load balancing weights with HTTP2 (GRPC)"
*Title*: *Load balancing weights not working as expected with GRPC (HTTP2)*

*Description*:
I'm deploying Envoy as an edge proxy to load balance GRPC traffic but am not able to get it to load balance correctly between a set of GRPC endpoints.  It looks like the connections are causing session affinity between the clients and the servers and Envoy is not able re-balance properly once the connection

[2019-05-20 02:39] htuch commented on #6974
@Richardo92 we can only really provide guidance on the last release (1.10) or master HEAD. I think it would help if you included a log at `-l trace` level or a stats dump.

[2019-05-20 02:45] htuch commented on #961
@mattklein123 added to agenda, good idea.

[2019-05-20 09:27] lizan commented on #6003
Fixed by Azure pipelines.

[2019-05-20 09:27] #6003 closed

[2019-05-20 13:15] RichardSieg opened #7007 "Support google.api.HttpBody for requests in gRPC-JSON transcoder"
**Add support for request bodies which are not in JSON format**

*Description*:

It is already possible to make a response with a non-JSON HttpBody thanks to [this PR](https://github.com/envoyproxy/envoy/pull/3793). What about the `google.api.HttpBody` for the request field? Like the following example from the `.proto` [definition](https://github.com/googleapis/googleapis/blob/master/google/api/ht

[2019-05-20 13:28] laurentlb commented on #6995
Two flags I'd like to flip soon are:
- `--incompatible_depset_is_not_iterable` (broken due to https://github.com/envoyproxy/protoc-gen-validate)
- `--incompatible_disable_deprecated_attr_params` (broken due to grpc, but I think grpc has been fixed)

[2019-05-20 14:56] htuch commented on #6968
@dnoe do you think you could take a look as Envoy import on-call?

[2019-05-20 15:30] jmarantz commented on #6307
/wait

[2019-05-20 15:31] TBoshoven commented on #6897
My issue is definitely not the same one as @gyang274 's.
While I run Envoy in Docker, the service I am contacting runs separately, in a K8s cluster.
The host and port are correct (verified by curling the host at the IP in my logs at the configured port) and they are accessible from the container.
I updated my config to be similar to what @moderation described and I am still seeing the same issue.

[2019-05-20 16:51] crazyxy opened #7009 "Make BoringSSL available to Lua FFI"
*Expose BoringSSL symbols to Lua FFI*

*Description*:

To get their functionality working they would need the following symbols:

[code]

[*Relevant Links*:]

[2019-05-20 18:04] cdmurph32 commented on #6050
Can we please re-open this?  This would also solve https://github.com/istio/istio/issues/10875

[2019-05-20 18:51] rvm-segfault commented on #6424
What was the resolution here? I'm seeing this error while trying to build v1.10.0 in an Ubuntu Docker container.

[2019-05-20 18:53] ramachaitanyak commented on #6989
Hi Dhi, I apologize for the delay. I have a pull request here https://github.com/envoyproxy/envoy/pull/7013 outlining the set of changes. Please let me know your thoughts and comments.

Thanks!
Rama

[2019-05-20 19:12] Richardo92 commented on #6974
@htuch Really appreciate your reply.
The first issue I have submitted is using: `FROM envoyproxy/envoy:latest`

But it doesn't work. below is the logs of `stats dump`

Thanks again for your help! You can check the first issue I have submitted. Let me know if you want me to provide anything else.

[code]

[2019-05-20 19:58] canselcik opened #7015 "Taking a host out of rotation in a custom healthchecker"
Hi,

I am working on a custom healthchecker and I noticed

[code]

on its own wasn't sufficient in taking the host out of rotation. The host still receives traffic after the code block above is executed.

Am I missing anything? Should I be calling `host_->used(false)` as well?

Thanks!

[2019-05-20 20:21] pitiwari opened #7017 "NO-OP Support for Envoy Routes"
We need a feature in envoy where we might have some routes where we don't want to take any action on route match (something like NOOP), subsequently, this request will be matched with the route we want to take action on. we will just maintain some stats on these routes (routes with NOP) and query them later to see how many times we hit those particular routes. This will help us in testing these ro

[2019-05-20 20:25] fcfort commented on #6990
I see. Do you have a code reference to where Envoy offers stat scope config? Do you mean like the `stat_prefix` fields in the proto config?

As a more concrete example, `downstream_rq_5xx` from `CONN_MAN_LISTENER_STATS` is scoped at the per-HCM level. We'd like to report these on a per-cluster name basis if possible. As I understand it from your comment, Envoy currently supports specifying a `stat

[2019-05-20 21:05] htuch commented on #5569
LGTM, I left a few minor comments.

[2019-05-20 21:07] htuch commented on #6995
CC @lizan @moderation @fcfort. Do we have any Bazel ninjas who can give the fixes for this a shot? Also @rodaine for PGV aspects.

[2019-05-20 21:09] keith commented on #6995
I'm currently working on some of these. I'll post an update shortly.

--
Keith Smiley

[2019-05-20 21:59] mattklein123 commented on #7015
You need to ultimately call `handleFailure(...)`

[2019-05-20 22:02] #6894 closed

[2019-05-20 22:03] #6787 closed

[2019-05-20 22:21] mattklein123 commented on #5569
In general this LGTM, but I left one comment about when the matchers run. I think this might be problematic in some cases and will need more thinking.

I wonder if it's worth it to have the reference system to begin with vs. just having centralized matching protos and implementation and allowing them to run in different places...

[2019-05-20 22:38] canselcik commented on #7015
Thanks for the quick response as usual @mattklein123. I am already calling `handleFailure(...)` with `HealthCheckFailureType::ACTIVE` and even seeing the following but the host is still kept in rotation for the cluster:

[code]

However Envoy is still routing traffic to these hosts as far as I can tell. Even though their health_flags are showing  `hc response=404 health_flags=/failed_active_hc`.

[2019-05-20 22:41] keith commented on #6995
Ok so when building on macOS, using [this branch of protoc-gen-validate](https://github.com/envoyproxy/protoc-gen-validate/pull/198), master from rules_foreign_cc, and ignoring this flag https://github.com/bazelbuild/bazel/issues/7260#issuecomment-494163344

I'm at migration 0. I don't see the issue with `--incompatible_disable_deprecated_attr_params`, @laurentlb any idea why? If we did have to up

[2019-05-20 23:12] ramachaitanyak commented on #6989
Hi Dhi, I realized that I made changes with respect to an older stable release of envoy. I will need to update the patch with latest API and usage; however if you are curious about the overview of my changes; please take a look; if not I will push updated patch soon. Thanks!

[2019-05-21 02:06] htuch commented on #6974
`cluster.rate_limit_cluster.upstream_cx_connect_fail: 16` is telling, looks like Envoy can't connect to the rate limit service. Do you know if you can reach it locally with `nc` or `telnet` on the given port?

[2019-05-21 02:21] eziskind opened #7020 "Create utility mixin for self-destructing handles"
A number of different classes have re-implemented RAII "Handle" classes for some kind registration that removes the registration in the destructor. See ClusterUpdateCallbacksHandleImpl,  ConfigTrackerImpl::EntryOwnerImpl and https://github.com/envoyproxy/envoy/pull/6984. We should add a utility mixin class to simplify this.

[2019-05-21 02:56] mattklein123 commented on #7015
Most likely panic mode: https://www.envoyproxy.io/docs/envoy/latest/faq/lb_panic_threshold

[2019-05-21 03:12] canselcik commented on #7015
Yup, good call, definitely seems to be the case.

On a slightly unrelated note, any hints on how to use `StreamInfoImpl` to make a POST request with a body? I am able to get it to make a POST request instead of a GET but I have been unable to have it send a request body.

What I have is, inside `onInterval()` of my class inheriting `ActiveHealthCheckSession`:
[code]

[2019-05-21 03:17] dio commented on #7007
@RichardSieg to clarify, you want to send the request arbitrarily? e.g. set the content-type with other than application/json?

[2019-05-21 06:05] Richardo92 commented on #6974
Hi @htuch ,Really appreciate your reply and help. The envoy will try to connect with rate limit service on 8081. So I try to use `nc` to test the availability of this port.
[code]

[2019-05-21 07:23] RichardSieg commented on #7007
Yes, that's the feature I'd like to have :)

[2019-05-21 10:58] alexandrecp-b commented on #6894
Confirmed fixed for me on current envoyproxy/envoy-dev image.

[2019-05-21 13:04] laurentlb commented on #6995
Repro:

[code]

-> Need to update https://github.com/envoyproxy/protoc-gen-validate/blob/master/bazel/protobuf.bzl (running `buildifier --lint=fix` might be enough)

Repro:

[code]

This comes from grpc (I haven't checked if/when it was fixed in grpc).

[2019-05-21 13:58] fcfort commented on #6995
Looks like @keith has fixes for both issues in https://github.com/envoyproxy/protoc-gen-validate/pull/198, which are blocked on https://github.com/envoyproxy/protoc-gen-validate/pull/200 going in as well.

[2019-05-21 14:19] #6951 closed

[2019-05-21 15:07] alyssawilk commented on #6872
right, but my point is that after delay close the HCM still exists, and should have no stream, so that callback ought not to be a problem.

[2019-05-21 17:38] andrewtikhonov opened #7025 "Add configurable verification of HttpOnly cookies in JWTAuthentication filter"
*Title*: *Add configurable verification of HttpOnly cookies in JWTAuthentication filter*

*Problem*:

*Proposal*:

Headers:

Envoy config

[2019-05-21 18:15] qiwzhang commented on #7025
I need some clarifications:  In the JWT token, what claim name should be checked?  Maybe also from Envoy config?

For example: a request has following headers:

Authorization: Bearer TOKEN
Cooke: secure_key=secure_value_1234567890

After Envoy Jwt_Authn filter verified the TOKEN,  it also needs to verify the cookie.  If it has following config:

verify_secure_cookie:
    cookie_key: "secure_key"

[2019-05-21 19:20] mattklein123 commented on #6872
Sorry, yes, you are right. I don't think this should be an issue. I'm not sure what is going on here. I will think about it more and will have to actually look at a core dump when I'm back in the office.

[2019-05-21 19:39] mattklein123 commented on #6990
@fcfort we do have upstream_rq_5xx on a per-cluster basis. For this specific question though, how would you always charge a downstream 5xx to a cluster? There might not be any cluster assigned yet. This is why we split downstream and upstream response codes in this way.

[2019-05-21 19:43] mattklein123 commented on #7017
I don't think we have anything like this today. However, it does intersect with a feature that I do want to add which is opt-in per-route stats, which can be also tied in with the ongoing support to add a name to a route. Can you flesh out a concrete design proposal for how this would work and respond back?

[2019-05-21 19:58] #6935 closed

[2019-05-21 20:31] troshko111 opened #7027 "Clang builds crash during startup on Ubuntu 16.04/18.04"
*Title*:
Envoy crashes when starting up with "attempt to free invalid pointer" in `tcmalloc` (`server.cc:229`).

*Description*:
When compiled with Clang (8.0.1) using the builder container and either `dbg` or `fastbuild` configuration (optimized builds do not crash but hang at the same place) Envoy segfaults at the startup.

When compiled without `tcmalloc` the crash occurs in the same place (free

[2019-05-21 22:22] troshko111 commented on #7027
tl;dr I had another top level dependency compiled with a different version of `spdlog/fmtlib` and it seems like the wrong one was being called causing this crash.

Unrelated to Envoy, closing.

[2019-05-21 22:22] #7027 closed

[2019-05-21 22:35] silentdai opened #7030 "Generate document for proto service"
*Description*:

- example of service and message
[code]

- message doc

[code]
- service doc: none
[code]

[2019-05-21 22:45] yangminzhu opened #7031 "Question: Promote RBAC filter API from v2alpha to v2"
*Title*: *Question about promoting RBAC filter API from v2alpha to v2*

*Description*:
The [RBAC filter API](https://github.com/envoyproxy/envoy/blob/master/api/envoy/config/rbac/v2alpha/rbac.proto#L60) currently is at v2alpha which means it's considered experimental and has no restrictions on breaking changes according to the Envoy API guidelines, making it less likely for production adoption.

T

[2019-05-21 22:54] keith commented on #6995
I've submitted the grpc change upstream https://github.com/grpc/grpc/pull/19097 I didn't see that because I was testing against `//source/...` not `//test/...`

[2019-05-21 23:44] canselcik commented on #7015
Found the answer to my question. For people who may end up on this thread looking into something similar, I am including the answer here:

[code]

[2019-05-21 23:44] #7015 closed

[2019-05-22 01:09] moderation commented on #6897
@TBoshoven gRPC 1.21.0 has just been released - would be interesting to see if you still have the issue using this - https://github.com/grpc/grpc/releases/tag/v1.21.0

[2019-05-22 02:21] htuch commented on #6974
Two further suggestions:
1. Verify reachability from `nc` from within the Envoy Docker environment. There might be Docker level plumbing, I'm not an expert here.
2. Provide `-l trace` level debug logs from the Envoy. Be very careful to sanitize and scrub these if pasting into a GH issue, they can include a lot of sensitive information if this isn't a test setup.

[2019-05-22 02:24] mattklein123 commented on #7031
I would suggest just doing option (1) since we are using it in production at Lyft and I assume others are as well. There are things that I don't like about the current API but I think we need to live with it and evolve it via the normal deprecation cycle. I would take a look at how we did the same dance for extauth which basically involved a config flag to allow the user to switch sending v2 and v

[2019-05-22 02:26] mattklein123 commented on #7030
Thanks for tracking this down @silentdai. This is a duplicate of https://github.com/envoyproxy/envoy/issues/3091 so let's track there.

[2019-05-22 02:26] #7030 closed

[2019-05-22 04:02] yangminzhu commented on #7031
Thank you for the response, then I think we could just go with option (1) for now and leave the improvements to the future.

Looking at the PR (https://github.com/envoyproxy/envoy/pull/5672 and https://github.com/envoyproxy/envoy/pull/5825) for migrating the ext_auth from v2alpha to v2, it seems it adds a separate [BUILD](https://github.com/gsagula/envoy/blob/1a345ed97d055b2c21c868aa5fd6f4db0ffe39

[2019-05-22 04:08] yangminzhu commented on #7031
@mattklein123
On the other hand, would you mind to share some thoughts and ideas about how would you like to improve the current API in the long run? Just trying to learn about different opinions on the API design. Thank you!

[2019-05-22 04:11] #6924 closed

[2019-05-22 04:26] mattklein123 commented on #6362
@derekargueta FYI some of our coverage woes are actually due to a lot of uncovered v1 -> v2 translation code, which hopefully we can just delete when this work is done. Thank you so, so, so much for working on this. If you want some help feel free to post here with remaining things to be done and maybe we can get some people to help split it up.

[2019-05-22 04:42] moderation commented on #6362
Agree and thanks on this work @derekargueta. Based on your prior PR's I'm wondering if I could take on an _easy_ v1 to v2 migration - open to suggestions. I still have to resurrect my old v1 to v2 PR at https://github.com/envoyproxy/envoy/pull/6409/files

[2019-05-22 04:51] gsagula commented on #7031
@yangminzhu This is the PR for making v2 and v2alpha cross-compatible. Let me know if it helps.

https://github.com/envoyproxy/envoy/pull/5825

[2019-05-22 09:18] andrewtikhonov commented on #7025
Absolutely correct. Sorry, forgot to add the claim name.

[2019-05-22 10:50] #6522 closed

[2019-05-22 13:00] jmarantz opened #7035 "stats: test coverage gaps need to be filled"
https://s3.amazonaws.com/lyft-envoy/coverage/report-master/coverage.html shows a bunch of relatively new functionality in stats lacks coverage. A common pattern is that due to multiple implementations of an API, we don't test-cover all cases.

Summarizing:

1. histogram_impl.h: used() not called, 1 missing line
2. isolated_store_impl.h: no coverage for findCounter(), findGauge, or findHistogram().

[2019-05-22 14:31] mattklein123 commented on #7031
@yangminzhu yeah sorry if there is no RPC call I think you can just switch the namespace and be done with it.

My main complaint which I talked about in https://github.com/envoyproxy/envoy/issues/6751 is that I never thought it was necessary to split principal and permissions vs. have a simple rules based API in the data plane.

[2019-05-22 14:33] mattklein123 commented on #7004
@owais what version of Envoy? Are these streaming gRPC APIs or unary APIs?

[2019-05-22 14:46] stevesloka commented on #4757
Hey @htuch, I'm not following where DebugString is used for the specific use case that this issue is trying to solve. I can see usages of this coming from `util.cc`, but I'm just not clear on the higher level approach to how we might fix this.

[2019-05-22 15:57] #6694 closed

[2019-05-22 17:32] jmarantz opened #7039 "eds: tsan failures in //test/integration:eds_integration_test"
Running in CI on what I think is an unrelated change, I got this TSAN failure.  Attaching the full log of the tsan issues in the failing test.
[eds_tsan_failure.log](https://github.com/envoyproxy/envoy/files/3208582/eds_tsan_failure.log)

[2019-05-22 17:34] jmarantz commented on #7039
Looks like it is racing destruction vs reading of `Envoy::Http::Http2::ConnectionImpl`.

[2019-05-22 17:51] jmarantz commented on #6667
actually this is part of #4196 is completed; now we mainly need to flip the bit to use real. symbol tables.

[2019-05-22 17:51] #6667 closed

[2019-05-22 18:02] htuch commented on #4757
[code]
is a good start. Basically, anywhere we are dumping things and they aren't the xDS config but instead xDS resources, there is something possibly suspect.

I suggest approaching this empirically. Create and Envoy configuration with certificates in LDS and CDS, then run with `-l debug` and see which messages contain them. This will capture the happy path dumping, which is a good start. There

[2019-05-22 18:37] pitiwari commented on #7017
thanks @mattklein123. I will work on it and propose it

[2019-05-22 18:38] mattklein123 commented on #7039
@snowp can you take a look? I've seen this also and I think it's your new test.

[2019-05-22 18:49] owais commented on #7004
@mattklein123 It is a bi-directional stream. I tried with `envoy-dev:latest` and `envoy:latest` which I think is 1.10.

[2019-05-22 18:51] TBoshoven commented on #6897
I'll try to get it tested within a week.

[2019-05-22 18:52] mattklein123 commented on #7004
By definition bi-di streams are not load balanced once started. Once they start they are attached to an upstream host. Only new streams (requests) will be load balanced.

[2019-05-22 18:53] yangminzhu commented on #7031
@gsagula @mattklein123 Thank you for the response, I'll start to work on the PR, let me know if you have any other concerns.

[2019-05-22 18:53] owais commented on #7004
FWIW, I ran another test with real data and four endpoints. I configured the SDS to assign them 100, 50, 1 and  1 weights respectively. Envoy starts and balances the load as expected but then gets "stuck" in that state. I changed SDS config to flip the weights to 1, 1, 50 and 100. This takes effect only after a restart.

[2019-05-22 18:55] owais commented on #7004
Okay, that explains it. Thanks. FWIW, I did test with nginx as well and it seemed to balance the load quite well with leave request/connection policy.

Is there a way to tell Envoy to terminate connection to upstream hosts and establish new ones after a connection has served a certain number of requests? I tried with `max_requests_per_connection` but it didn't seem to work.

[2019-05-22 18:57] mattklein123 commented on #7004
This does work, but not for bi-di streams. These are requests that never end.

[2019-05-22 20:27] gnz00 commented on #6972
@mattklein123 I would argue this could potentially be a bug, a 403 response is unexpected. Please correct me if I'm wrong.

[2019-05-23 01:03] derekargueta commented on #6362
@mattklein123 @moderation oof, thanks for highlighting this. I'm currently working on removing `translateBootstrap` which
1) has some spots of missing code coverage
2) is the initial call to most other translation functions (i.e. `translateCdsConfig`, `translateAddress`, `translateListener`, etc.) once `translateBootstrap` is removed, we can easily parallelize removing these, but until then we sti

[2019-05-23 02:05] mattklein123 commented on #6362
@derekargueta no worries and thank you again for doing this! It's up to you, but if you have an idea of what needs to be done, maybe we can make a spreadsheet of all the tests that need converting and we can get people to sign up and parallelize? WDYT? If it makes sense to do that after bootstrap is done that sounds good.

[2019-05-23 02:11] #6119 closed

[2019-05-23 03:33] mattklein123 commented on #6972
@gnz00 If Envoy is sending a 403 in this case sounds like a bug, but I'm not sure what is going on here. Would need to debug more deeply on what code path is being hit.

[2019-05-23 03:48] NameHaibinZhang commented on #3998
this pr is already merge in envoy?

[2019-05-23 05:06] zyfjeff commented on #3998
@NameHaibinZhang Has been merged into the master branch

[2019-05-23 06:00] silentdai opened #7053 "code static check"
*Description*:
Currently we have `check_format` and `clang-tidy` running in ci. The rules need grow.

*Related issue*
#4863
#7034

*Ref*
- clangtidy
https://github.com/envoyproxy/envoy/blob/master/.clang-tidy
- check format
https://github.com/envoyproxy/envoy/blob/master/tools/check_format.py

*TODO list*

- [x] absl:make_unique

[2019-05-23 07:38] markschmid commented on #6963
I've found the solution, it's actually all in the [FAQ](https://www.envoyproxy.io/docs/envoy/v1.10.0/faq/sni#faq-how-to-setup-sni) on how to setup SNI. A listener can have multiple `filter_chain_match` (in my case one for each domain).

Thanks anyway, and closing.

[2019-05-23 07:38] #6963 closed

[2019-05-23 11:42] developersPHP commented on #6381
@rnd4222 the issue how to slove it ? which proto version can you use??

[2019-05-23 11:48] oquenchil commented on #6968
Hi,

Replacing cc_wrapper.py with this should work. Every test passed now with the -- incompatible_do_not_split_linking_cmdline flag. I'm going on vacation tomorrow and unfortunately don't have time for the PR and code review. The flip will be in 0.27, so you are safe. But as soon as I flip the flag, envoy will appear red in our downstream pipeline and we may not catch other errors.

[code]

[2019-05-23 13:02] dpeckett opened #7059 "Envoy stuck initializing when using client validation, and ADS as configuration source"
*Title*: *Envoy stuck initializing when using client validation, and ADS as configuration source*

*Description*:

If Envoy is configured to use client certificate validation, and those certificates are to be loaded from an ADS configuration source it is possible for Envoy to hang and get stuck initializing.

I've traced the source of this hang to Envoy getting stuck waiting for the client Trusted

[2019-05-23 14:42] #7031 closed

[2019-05-23 14:43] #6696 closed

[2019-05-23 15:10] andrewtikhonov opened #7060 "Conditional routing if user is not authenticated / authenticated"
*Title*: *Is it possible to set up routing rules to route to a login app if a request fails JWT authentication*

*Description*:

One of the options for the apps architecture I'm working on is to have token verification on Envoy (JWT auth) and if Envoy fails the validation, redirect the request to a login page/app.

Is that at all doable ? One of the possibilities I see would be to trigger jwt_auth

[2019-05-23 15:52] #6600 closed

[2019-05-23 15:52] mattklein123 commented on #4457
I will implement this in the next few days.

[2019-05-23 16:43] mattklein123 commented on #5348
@envoyproxy/maintainers let's use this issue to track creating very clear FAQ entries on key configurations for Envoy in different scenarios:
1) Benchmarking
2) Edge serving
3) ?

[2019-05-23 17:05] dpeckett commented on #7059
After further investigation, I've narrowed down the bug to my use of the go-control-plane caching layer, this is not an issue with Envoy, and partial requests are expected.

For anyone else who runs into this particular foot-gun you're required to correctly pass the ads flag to the go-control-plane cache.NewSnapshotCache() method. Otherwise the cache will push out partial responses rather than the

[2019-05-23 17:05] #7059 closed

[2019-05-23 17:11] #6969 closed

[2019-05-23 17:19] dcarney-stripe opened #7061 "Malformed HTTP headers cause Envoy to 503 when proxying via HTTP/2"
*Title*:
When making client requests that contain invalid chars in an HTTP header to an Envoy instance ("envoy-one") that's configured to proxy over H/2 to an upstream Envoy ("envoy-two"), we see envoy-one return a 503 response with response flags "UR", without proxying the request to “envoy-two”.  If we change the Envoy ←→ Envoy communication to use HTTP/1.1, we don’t see this behavior, and the r

[2019-05-23 18:28] gdheller42 commented on #6119
@gsagula pulled a docker image of the update. still need to grab v2 api and update my auth code. Will test next week. Thanks Have a good weekend.

[2019-05-23 23:09] htuch commented on #5348
@mattklein123 could be good to add a belts-and-braces best practices, where we describe running Envoy in a configuration with maximum debug, asserts, ASAN etc. enabled.

[2019-05-23 23:14] htuch commented on #6968
@oquenchil thanks for doing the heavy lifting here. I think this looks roughly like what we should be doing, but I continue to be terrified by this script and its machinations (this is non-actionable). We can probably take it from here and try and get it merged in the coming week or two.

[2019-05-23 23:27] dio commented on #6362
+1 for making a spreadsheet. I probably can help in common/upstream/* tests.

[2019-05-24 03:32] mattklein123 commented on #5348
+1

[2019-05-24 07:38] chintan-mishra commented on #5939
What is the solution for this?
<details><summary>A section of envoy.yaml</summary>
[code]
</details>

[2019-05-24 07:54] chintan-mishra commented on #2891
How to enable TLS termination and SNI for TCP proxy?

<details>
<summary>Here is my config</summary>

[code]
</details>

Any changes that will help fix this issue? I am using Mosquitto CLI to connect with the MQTT server. If I comment out the TLS and SNI related lines in the config then I can connect to the MQTT server using Mosquitto CLI.

[2019-05-24 10:27] chintan-mishra opened #7066 "TLS and SNI for TCP proxy connections"
### Description

<details>
<summary>Here is the config with which we can connect with upstream TCP proxy using IP, port</summary>

[code]
</details>

### Other relevant details

- The above configuration allows connecting with the upstream TCP connection using IP. Connecting with MQTT server behind Envoy's TCP proxy looks like this
[code]
- With the help SNI we will be able to connect with the TCP

[2019-05-24 12:29] jmarantz commented on #4196
/wait

[2019-05-24 16:38] #5841 closed

[2019-05-24 18:40] htuch commented on #6818
I think I can address this in the context of #6651

[2019-05-24 18:51] rp4fx12 opened #7073 "Capture Response Body?"
Is there a way to easily capture a response body and headers from requests being sent through envoy? I'm trying to see if there's an easy way to capture them so that I can limit the amount of work that needs to be done on an api. I know I can capture request data by using shadow deployments but not sure about the response.

[2019-05-24 20:26] #6270 closed

[2019-05-24 21:00] giorgiozoppi commented on #6588
Does it might a project for starting learning ? What about to craft a lighter weight normalizization library?

[2019-05-24 22:18] fredlas commented on #5270
The ultimate goal this issue is describing is the replacement of the existing gRPC xDS implementation (GrpcMuxImpl, GrpcSubscriptionImpl, GrpcMuxSubsciprtionImpl) with a single unified (delta+SotW) chunk of code based on what I'm implementing for delta (#4991). And, it has become clear that the only way for the delta implementation to avoid adding some unnecessary ugliness is to make that unificat

[2019-05-24 22:18] #5270 closed

[2019-05-25 14:08] #6615 closed

[2019-05-25 18:08] #5795 closed

[2019-05-25 19:08] #186 closed

[2019-05-25 20:08] #270 closed

[2019-05-25 21:35] wlhee opened #7077 "gRPC client for HTTP1.1 bridging filter"
Envoy has a gRPC bridging filter for http 1.1 client:
https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/grpc_http1_bridge_filter#config-http-filters-grpc-bridge

Does anyone ever successfully create a gRPC http1.1 client that can leverage from this cool filter?

[2019-05-25 22:08] #5183 closed

[2019-05-26 00:08] #5240 closed

[2019-05-26 02:08] #5730 closed

[2019-05-26 14:12] mattklein123 opened #7080 "Define gauge HR merge type at definition point"
As a follow up to the hot restart stats evolution, we should move away from the hard coded stats merger map for gauges, and instead define this at the gauge definition point. This will likely mean creating new stats macros for gauges that encode the merge type.

[2019-05-26 14:13] mattklein123 commented on #7080
@jmarantz one of us should do this since IMO it's a significant foot gun risk with the current code. Let's chat offline. cc @htuch

[2019-05-26 17:18] jmarantz commented on #7080
OK I'll grab it.

[2019-05-26 17:32] jmarantz commented on #7080
Rough plan:
  - add new pure API importMode() to class Gauge
  - add import mode enum selection to GAUGE macros
  - add required mode argument to gauge creation methods on stats allocator
  - get all that to compile.
  - run with checks against regexes to make sure all GAUGE macros are set with the same modes as
    we currently have from the regexes
  - get rid of the regexes

WDYT?

[2019-05-26 22:29] #6656 closed

[2019-05-27 04:29] #6639 closed

[2019-05-27 10:45] Satvindar opened #7082 "Build: bazel build failed in network filters"
I am trying to build envoy latest code using bazel.

I have installed all the required dependencies and then executed
 bazel build //source/exe:envoy-static

Got below error:

 /home/i309801/Desktop/envoy/source/extensions/filters/network/kafka/BUILD:92:1: C++ compilation of rule '//source/extensions/filters/network/kafka:serialization_lib' failed (Exit 1) envoy_cc_wrapper failed:

[2019-05-27 12:06] atrifan commented on #6050
I would propose the following fix. Feedback would be very much appreciated before actual PR.

Just changing the 208 line code from source/common/http/conn_manager_utility.cc

[code]

 with

[code]

Is there any reason why you would want to reset requestId header for edge_requests? Is there any concern in this fix - should backward compatibility be maintained.

My thoughts would be that in a mesh t

[2019-05-28 00:09] jmarantz commented on #7080
I'm making some progress, but I have some corner-cases to understand. One of them is what happens when a gauge is created in 'accumulate' mode. Then a new binary is released where we change the gauge to 'never-import' mode.  Currently, I think the import will not take place because we'll do a regex match on the stat name and find that we are disabling import.

Similarly, if a gauge was initially i

[2019-05-28 03:12] #6915 closed

[2019-05-28 03:13] mattklein123 commented on #6050
Yes, we need to maintain back compat and make this configurable. The edge check is to prevent an untrusted client from spoofing an identical request ID, for example.

[2019-05-28 03:21] mattklein123 commented on #7080
@jmarantz the general plan looks good. Yeah, I was going to mention the corner cases that you mention (mainly around the stat getting created before the child initializes it with whatever import type it is). I have two potential thoughts here:

1) When we create a stat on behalf of the parent, perhaps just mark it as a special import type, "hot restart import," which would then signify that the ch

[2019-05-28 03:56] Strainy opened #7084 "Envoy process memory much higher than allocated heap"
I'd like to understand the relationship between the envoy process memory and the reported heap stats.

For context, I'm operating Envoy as a front proxy, with 3 upstreams and it experiences moderate traffic (peaks at ~4rps).

It looks like the envoy process itself is using about 184MB:
[code]

However, the memory stats seem to indicate that the heap size is only 19MB.
[code]

Is it unusual for the

[2019-05-28 04:02] mandarjog commented on #4899
@lizan This is the issue I was talking about. For consistent hashing to work minimally we need to specify `routeAction.HashPolicy.connection_properties.source_ip` in the current context.
Since asynClient is detached from the normal routing, this could be a synthetic route.

[2019-05-28 05:42] wlhee commented on #7077
found it
https://github.com/envoyproxy/envoy/tree/master/examples/grpc-bridge

[2019-05-28 05:42] #7077 closed

[2019-05-28 07:03] #6664 closed

[2019-05-28 07:17] hlopko commented on #6968
Hi all, I'm updating all Bazel incompatible flags related issues - the Bazel team is in increased pressure because 0.27 will start a 3 month window of no incompatible changes). We will have to potentially temporarily disable envoy on our downstream pipeline if we cannot get it fixed this week.

[2019-05-28 07:17] hlopko commented on #6995
Hi all, I'm updating all Bazel incompatible flags related issues - the Bazel team is in increased pressure because 0.27 will start a 3 month window of no incompatible changes). We will have to potentially temporarily disable envoy on our downstream pipeline if we cannot get it fixed this week.

[2019-05-28 07:20] hlopko commented on #6995
To consolidate efforts, these issues are also related to Bazel incompatible flags:

* https://github.com/envoyproxy/envoy/pull/7058 - migrates for https://github.com/bazelbuild/bazel/issues/7260 and https://github.com/bazelbuild/bazel/issues/7793
* https://github.com/envoyproxy/envoy/issues/6968 - requires for https://github.com/bazelbuild/bazel/issues/7687.
* https://github.com/envoyproxy/envoy/p

[2019-05-28 10:10] pyrl247 opened #7085 "thrift-request blocked when restart client"
I used thrift server as envoy upstream and thrift client as envoy downstream.
here is my yaml:
[code]
When I stop the client , the connection between server and envoy will not release.Is that correct?
And when I start the client again ,it block the thrift request.

[2019-05-28 14:37] fredlas commented on #7080
I would expect that the import logic for a given stat should never change. If you can assume that, I think it should simplify things. If the stat is first created by the child defining it, then it gets the import type specified in the GAUGE macro. If the stat is first created by the child importing it, then it must be the "yes import" type. No need to do any sort of checks.

If a stat really does

[2019-05-28 14:39] Dudesons opened #7086 "Envoy tracing operation name from lua"
Hi,

*Title*: *Envoy tracing operation name from lua*

*Description*:
I would like to customize my operation name in the span from envoy
According to the documentation
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/tracing#what-data-each-trace-contains
[code]

I try to manage it actually from the lua filter but unfortunately I didn't succeed.
[code]

When I try to set the header `

[2019-05-28 14:50] alyssawilk opened #7089 "IpVersionsClientType/AdsIntegrationTest.DuplicateWarmingListeners/1 tsan flakes"
Failing infrequently on CI but pretty reproducable with
bazel test  //test/integration:ads_integration_test --config=clang-tsan --runs_per_test=200 --test_arg=--gtest_filter="IpVersionsClientType/AdsIntegrationTest.DuplicateWarmingListeners/1"

Example failure:
https://circleci.com/gh/envoyproxy/envoy/223256?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

Actual tsan warning

[2019-05-28 14:51] objectiser commented on #7086
@Dudesons The span has already been created by the time your lua code is executed, which is why setting the decorator header does not work.

The only way would be to get hold of the current span, and then call the `setOperation` method - but I am not familiar with the lua filter so don't know how to get hold of the span from there.

[2019-05-28 17:03] htuch commented on #6588
@giorgiozoppi I think the first step here is to figure out if we want a tighter Chromium integration for the URL library or go another path. @danzh2010 @wu-bin do you have any thoughts on where our Chromium URL consumption is going?

[2019-05-28 19:24] jmarantz commented on #7084
anything interesting in envoy.yaml for you? Do you use xDS to add dynamic configuration after startup?

How was your Envoy built? By you? If so, which build options did you use?

Or if it is a release image, which version?

[2019-05-28 19:30] jmarantz commented on #7082
There was a general build breakage that was fixed today, so closing for now. If you are still having an issue, can you give more details about your platform and the environment and re-open?